[2022-08-26 23:15] dhhagan commented on #4326
@editorialbot set v1.0.0 as version

[2022-08-26 23:15] dhhagan commented on #4326
@editorialbot recommend-accept

[2022-08-26 23:16] dhhagan commented on #4412
Thanks for letting us know!

[2022-08-26 23:37] balos1 commented on #4617
Hi @diehlpk ,

So far, I have the same comments as @JPenuchot with my biggest concern being the lack of documentation or code commenting. The main branch does have installation instructions in the README (the joss brach does not), but that it is it. My second biggest concern is that this is work does not represent a substantial scholarly effort. I think further justification will be needed other t

[2022-08-26 23:41] dkauf42 commented on #4326
@dhhagan, I saw this error a few minutes ago, and I think it's because there was an ISBN listed for Sweeney et al. (2015) in the ".bib" file that shouldn't have been there. I just removed it and pushed the change to the `main` branch.
Can we try this process again?

[2022-08-27 04:36] gasparl commented on #4643
@editorialbot generate pdf

[2022-08-27 04:40] gasparl commented on #4643
- Thank you for noticing @fboehm, I [corrected](https://github.com/gasparl/possa/commit/cbd18e4e4f202eff661d9ea09525807f73bbfc4d#diff-c7ec3d0f2ff5bf83e6afaac85d8fa2a792d68b694676683802edf49098a891d3R75) to `{R}`, as well as a few other lettercasing issues among the references (R package names to correspond to their original paper/CRAN titles).
- The auto-suggested doi is not the right one (wrong e

[2022-08-27 04:42] gasparl commented on #4643
@editorialbot check references

[2022-08-27 06:19] arfon commented on #4632
@editorialbot invite @leouieda as editor

:wave: @leouieda – would you be willing to edit this submission for JOSS? The authors cited the work's application in Earth science and geodynamics models.

[2022-08-27 06:19] editorialbot opened #4714 "[PRE REVIEW]: easyVAF: an R package for integrated VAF analysis"
**Submitting author:** @zhuangyh (<a href="http://orcid.org/0000-0002-1822-2395">Yonghua Zhuang</a>)
**Repository:** https://github.com/zhuangyh/easyVAF
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/60bf09482937483be1d4a480ed90d6e1/status.svg)](htt

[2022-08-27 06:20] editorialbot opened #4715 "[PRE REVIEW]: lidarSuit: A python package for retrieving wind profiles from Doppler lidar observations"
**Submitting author:** @jdiasn (<a href="http://orcid.org/0000-0002-8488-8486">Dias Neto, José </a>)
**Repository:** https://github.com/jdiasn/lidarSuit
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.1
**Editor:** @elbeejay
**Reviewers:** @tgoelles, @acocac, @bgailleton
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/28430a0c6a79e6d1ff33579

[2022-08-27 06:22] arfon commented on #4647
@editorialbot invite @prashjha as editor

:wave: @prashjha – would you be willing to edit this submission for JOSS?

[2022-08-27 06:23] arfon commented on #4648
@editorialbot generate pdf

[2022-08-27 06:26] arfon commented on #4656
@editorialbot invite @jarvist as editor

:wave: @jarvist – would you be willing to edit this submission for JOSS?

[2022-08-27 06:27] arfon commented on #4714
@editorialbot query scope

@zhuangyh – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-08-27 06:31] arfon commented on #4715
@editorialbot query scope

@jdiasn – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-08-27 06:37] arfon commented on #4675
@editorialbot invite @crvernon as editor

:wave: @crvernon – I realize this is rather left-field for you but I don't think we have an obvious editor to take this submission on. Would you be willing to give it a go? 😄

[2022-08-27 06:39] arfon commented on #4663
@editorialbot accept

[2022-08-27 06:40] arfon commented on #4685
@editorialbot invite @Fei-Tao as editor

:wave: @Fei-Tao – would you be willing to edit this submission for JOSS?

[2022-08-27 06:42] arfon commented on #4687
:wave: @nicokurtovic – apologies for the delay here. I was looking for an editor to take on this submission but it looks like we're a little short of editors in this area right now. As such, I'm adding the `waitlisted` label and we'll endeavour to get to this submission in the next few weeks.

Nothing for you to do right now, and thanks in advance for your patience!

[2022-08-27 06:45] arfon commented on #4663
@xtruan, @pritchardn – many thanks for your reviews here and to @diehlpk  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@cicirello  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-27 06:45] #4663 closed

[2022-08-27 06:51] arfon commented on #4688
@editorialbot invite @Nikoleta-v3 as editor

:wave: @Nikoleta-v3 – would you be willing to edit this submission for JOSS? I realize that bioinformatics isn't (even close to) your field, but this submission looks to be more about how to leverage Python tooling from an R interface which does seem like something you might be able to edit?

[2022-08-27 06:53] arfon commented on #4689
@maximenc – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2022-08-27 06:53] arfon commented on #4689
@editorialbot reject

[2022-08-27 06:53] #4689 closed

[2022-08-27 06:54] arfon commented on #4695
@editorialbot invite @crvernon as editor

👋 @crvernon – would you be willing to edit this submission for JOSS?

[2022-08-27 06:55] arfon commented on #4697
@ireaml - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-27 06:57] arfon commented on #4698
@ajmedford - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-27 06:59] arfon commented on #4700
@editorialbot invite @leouieda as editor

:wave: @leouieda – would you be willing to edit this submission for JOSS?

[2022-08-27 07:02] arfon commented on #4701
@fatmasevinck - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-27 07:04] arfon commented on #4709
@MartianColonist - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-27 07:05] arfon commented on #4712
@editorialbot invite @fraukewiese as editor

:wave: @fraukewiese – would you be willing to edit this submission for JOSS?

[2022-08-27 10:40] iammix commented on #4621
Thanks @pstjohn for your submission. First of all, you have done remarkable work on it. Nowadays, it is generally accepted to combine different tools to create a wrapper of them. In my opinion, this will be the future of research.
You have a well-organized documentation page, where you have provided the background of the examples. "Lesson Learned" is a great add-on to the documentation and I am lo

[2022-08-27 10:59] jarvist commented on #4656
Can do, yes!

[2022-08-27 11:18] dhhagan commented on #4326
@editorialbot recommend-accept

[2022-08-27 11:47] cicirello commented on #4663
@diehlpk @arfon @xtruan @pritchardn thanks everyone for reviewing and editing, and for your feedback.

[2022-08-27 13:44] crvernon commented on #4695
@editorialbot assign @crvernon as editor

Happy to help!

[2022-08-27 13:46] crvernon commented on #4695
:wave: @mabesa - - I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. I see you have provided a list of reviewers already 🙏 .  I'll get started with some invites to review.

[2022-08-27 13:48] crvernon commented on #4695
👋 - @MoLi7 Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-27 13:49] crvernon commented on #4695
:wave: - @mengqi-z Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-27 13:49] prashjha commented on #4647
@arfon thanks...I will be very interested in editing this.

[2022-08-27 13:49] prashjha commented on #4647
@editorialbot assign me as editor

[2022-08-27 13:57] crvernon commented on #4675
@editorialbot assign @crvernon as editor

No problem at all @arfon .  I like left-field 😄.

[2022-08-27 13:59] crvernon commented on #4675
👋 @balima78 - I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) hav

[2022-08-27 14:04] fboehm commented on #4643
Excellent, @gasparl! thanks for making those additions.

[2022-08-27 14:04] fboehm commented on #4643
@editorialbot generate pdf

[2022-08-27 14:08] fboehm commented on #4643
The references all look good now. For the next steps, @gasparl, we need you to make a new release of the package and archive it, for example, with zenodo.org. Once you complete those tasks, please report here the version number and doi. Please ensure that the archive's author names and title match exactly those of the paper.pdf.

[2022-08-27 14:28] gasparl commented on #4643
Sure @fboehm, here it is:
Version number: v0.6.1
DOI: https://doi.org/10.5281/zenodo.7027767

(The Zenodo badge with permanent DOI is also displayed on the GitHub [repo](https://github.com/gasparl/possa#citation).)

[2022-08-27 14:36] fboehm commented on #4643
@editorialbot set 10.5281/zenodo.7027767 as doi

[2022-08-27 14:37] fboehm commented on #4643
@editorialbot set 10.5281/zenodo.7027767 as archive

[2022-08-27 14:37] fboehm commented on #4643
@editorialbot set v0.6.1 as version

[2022-08-27 14:38] fboehm commented on #4643
@editorialbot recommend-accept

[2022-08-27 14:40] fboehm commented on #4643
@gasparl - an editor-in-chief will soon review the submission before accepting it for publication. Monitor this thread to see their comments.

[2022-08-27 14:49] pstjohn commented on #4621
Thanks @iammix for the detailed review and fixes!! I've merged https://github.com/NREL/graph-env/pull/47, I'll pin a new release (likely 0.1.0) if/when the paper is accepted.

@osorensen, let us know what the next steps would be

Thanks again everyone for the helpful comments

[2022-08-27 14:53] Fei-Tao commented on #4685
@editorialbot assign me as editor

[2022-08-27 14:54] Fei-Tao commented on #4685
@Basvanstein if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-08-27 15:33] osorensen commented on #4621
@pstjohn At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (mak

[2022-08-27 15:54] balima78 commented on #4675
Hello @crvernon ,
thank you for your availability for this task.

From your list of people, I will suggest:
turgeonmaxime
brunomontezano
GaryBAYLOR
aj2duncan
ellessenne

best regards

[2022-08-27 16:36] MartianColonist commented on #4709
No problem at all!

I look forward to hearing back from an editor once the queue quietens down.

[2022-08-27 22:37] gkthiruvathukal commented on #4627
Nice progress on the reviews, @ixjlyons and @agricolab.
Let me and @pbotros know when you have both weighed in with feedback so we can take the next steps.

[2022-08-27 22:39] gkthiruvathukal commented on #4633
@mgalloy and @mohawk2 Thank you for your reviews!
It looks like we are ready to move toward acceptance.

[2022-08-28 01:00] GaryBAYLOR commented on #4181
@blind-contours I have updated some issues as well as adding a few new issues I detected. I will take time to look at issue #6 and #8 I raised previously given you have updated them.

* updated issues https://github.com/blind-contours/CVtreeMLE/issues/4,  https://github.com/blind-contours/CVtreeMLE/issues/5
* added a few new issues: https://github.com/blind-contours/CVtreeMLE/issues/17, https://gi

[2022-08-28 01:06] majensen commented on #3431
Go ahead with your update @benjaminbolling - there is enough info in the review issue that I can proceed.

[2022-08-28 01:08] majensen commented on #3431
@benjaminbolling: "I could not imagine it would be so much to do with a baby" - I think if we knew beforehand, humans would be long extinct...

[2022-08-28 05:28] erik-whiting commented on #4628
Howdy, I've completed all items in my initial review and for the most part, everything looks great. There are a few items in with the documentation that I think should be improved upon before publication; I've elaborated on these items on a [documentation-related issue](https://github.com/Beuth-Erdelt/DBMS-Benchmarker/issues/100) but I will generalize here:

1) I don't see any automated tests or i

[2022-08-28 07:55] osorensen commented on #4621
@editorialbot generate pdf

[2022-08-28 07:55] osorensen commented on #4621
@editorialbot check references

[2022-08-28 08:06] mdavezac commented on #4694
@editorialbot generate my checklist

[2022-08-28 08:19] osorensen commented on #4621
@pstjohn, as you see I've open three small issues in the source repository. When you have addressed these, and the four points points about release and archiving mentioned in my comment yesterday, I'm ready to go forward with acceptance.

[2022-08-28 09:08] jbytecode commented on #4578
👋👋👋 Dear @nuest, @cole-brokamp  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

A reviewer has already accepted our invitation, we need a second one.

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**geostan: An R package for Bayesian spatial analysis**". You can fi

[2022-08-28 09:14] jbytecode commented on #4661
👋👋👋 Dear @sarats, @jcarpent  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**QMKPy: A Python Framework for the Quadratic Multiple Knapsack Problem**". You can find more information at the top of this Github issue (htt

[2022-08-28 10:24] ulf1 commented on #4661
Yes, you can assign me as reviewer

[2022-08-28 10:26] jbytecode commented on #4661
@editorialbot add @ulf1 as reviewer

[2022-08-28 10:28] jbytecode commented on #4661
@ulf1 - thank you for accepting our invitation. Whenever we find a second reviewer, review will start in a separate thread. I will introduce the required instructions in there.

[2022-08-28 12:36] raghurama123 commented on #4459
I am happy with the present version of the software paper. I would like to add that I have performed some calculations with pyCADMium and I was able to figure out how to make any modifications to the source. However, I have not explored all possible options in the code.

The authors have addressed all my previous remarks and included a citation to the DARSEC code. As a difference between the imple

[2022-08-28 13:36] cole-brokamp commented on #4578
Hi @jbytecode —- I don’t feel like I would be able to give a quality review here.  Although I work with place-based data a lot, I don’t do any spatial analyses and I’ve never done Bayesian modeling nor used Stan.

[2022-08-28 13:39] jbytecode commented on #4578
@cole-brokamp - thank you for the response. Hope we can work on future projects.

[2022-08-28 14:03] mdavezac commented on #4694
The package is a truly ambitious effort to translate a number of nuclear structure many-body methods to Julia, with the goal of providing a modular framework to advance such methods for students and researchers. Unfortunately, the code makes little use of best practices in software design (unit-testing, separation of concerns, encapsulation, etc), Julia's capabilities promoting modularity (multipl

[2022-08-28 14:18] becarioprecario commented on #4578
Hi,

I can review this paper.

Best,

Virgilio
________________________________
De: Mehmet Hakan Satman ***@***.***>
Enviado: domingo, 28 de agosto de 2022 15:39
Para: openjournals/joss-reviews ***@***.***>
Cc: Virgilio Gómez Rubio ***@***.***>; Mention ***@***.***>
Asunto: Re: [openjournals/joss-reviews] [PRE REVIEW]: geostan: An R package for Bayesian spatial analysis (Issue #4578)

@cole-brokam

[2022-08-28 14:57] markheckmann commented on #3292
Hi @brunaw, @gkthiruvathukal,

I updated the package to `v0.6.1` (not yet on CRAN) making the following changes:

* added an animated gif to the README, that shows how the software works
* all German comments are translated to English now
* no need to bring you own data anymore.  On the `Analysis` tab, you can now  simply press the `Load Sylvias's sample grid` button to load a sample dataset tab.

[2022-08-28 15:03] jbytecode commented on #4578
@editorialbot add @becarioprecario as reviewer

[2022-08-28 15:03] jbytecode commented on #4578
@editorialbot start review

[2022-08-28 15:03] editorialbot opened #4716 "[REVIEW]: **geostan**: An R package for Bayesian spatial analysis"
**Submitting author:** @ConnorDonegan (<a href="http://orcid.org/0000-0002-9698-5443">Connor Donegan</a>)
**Repository:** https://github.com/ConnorDonegan/geostan
**Branch with paper.md** (empty if default branch): JOSS
**Version:** v0.4.1
**Editor:** @jbytecode
**Reviewers:** @wcjochem, @becarioprecario
**Archive:** 10.5281/zenodo.7311716

## Status

[![status](https://joss.theoj.org/papers/8505b

[2022-08-28 15:03] #4578 closed

[2022-08-28 15:06] VHchavez commented on #4459
Thanks for your comments, @raghurama123 :)

In regards to the comments on line 43. The initial idea was to add a ∅ to signify that the site was empty, but I believe it gets lost in the process of generating the pdf. If I'm unable to render it appropriately, do you think (A, 0) would be clear enough? Otherwise, I can leave it as (A).
I like the idea of having the two different sites explicit since

[2022-08-28 15:09] jbytecode commented on #4716
Dear @wcjochem and @becarioprecario

This is the review thread. Firstly, type

[code]

to generate your own checklist. In that checklist, there are 20 check items. Whenever you complete the corresponding task, you can check off them. The review process is interactive so you can always interact with the authors, reviewers, and the editor. You can also create issues and pull requests in the target r

[2022-08-28 15:27] jbytecode commented on #4708
@cprudhom , @ozgurakgun - of course, the listed subjects are appropriate for an example, but whatever the example is, it is better to get it as small as possible in size. The main objective of providing an example in JOSS papers is to present the basic usage of the software.

And of course, the decision will be made by our reviewers.

Thank you in advance.

[2022-08-28 15:35] raghurama123 commented on #4459
Okay, that makes sense. I was confused about the notation. Origin shouldn't be the right choice in this coordinate system as the density of grids may not be good there. Perhaps you can change line 43 to `Place one atom at a focus (A)` ?

[2022-08-28 15:44] Nikoleta-v3 commented on #4688
I'm happy to edit this 😄 I'll most likely learn new things from this 👍🏻 😆

[2022-08-28 15:44] Nikoleta-v3 commented on #4688
@editorialbot assign me as editor

[2022-08-28 15:47] Nikoleta-v3 commented on #4688
Hey @LTLA 👋🏻 Thank you again for your submission.

 Could you please:

1. fix the missing DOI for one of the references (https://github.com/openjournals/joss-reviews/issues/4688#issuecomment-1221246066)?
2. take a look through this: https://bit.ly/joss-reviewers and suggest at least four potential reviewers?

[2022-08-28 15:50] editorialbot opened #4717 "[PRE REVIEW]: TensorBoard Reducer: A Python package for aggregating TensorBoard logs"
**Submitting author:** @janosh (<a href="http://orcid.org/0000-0001-5233-3462">Janosh Riebesell</a>)
**Repository:** https://github.com/janosh/tensorboard-reducer
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.2.9
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/0643b5727544084ace8d4f38514d

[2022-08-28 15:52] arfon commented on #4717
@editorialbot query scope

@janosh – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-08-28 16:03] csoneson commented on #4494
👋🏻 @hechth - just wanted to check in to see where things are at (no stress, just to have a feeling for when the reviewers may expect a new version to look at, and to make sure that the submission remains active 🙂)

[2022-08-28 16:09] VHchavez commented on #4459
Sounds great. All your changes have been added @raghurama123.

[2022-08-28 16:14] csoneson commented on #4545
I have reached out to @patRyserWelch8 offline as well.

[2022-08-28 17:23] rhdtownsend commented on #4602
Will do — thanks to both for their input. I’ve already fixed the issue with the tarball, and will respond to issues as I find time.

On Aug 23, 2022, at 1:09 AM, Arfon Smith ***@***.******@***.***>> wrote:

Thanks @AWehrhahn<https://github.com/AWehrhahn> and @ivastar<https://github.com/ivastar>! @rhdtownsend<https://github.com/rhdtownsend> – please let us know when you've managed to review this fe

[2022-08-28 17:40] arfon commented on #4326
@editorialbot accept

[2022-08-28 17:42] arfon commented on #4643
@editorialbot accept

[2022-08-28 17:45] arfon commented on #4648
@editorialbot invite @fboehm as editor

:wave: @fboehm – would you be willing to edit this submission for JOSS? I realize it's a little off-topic for you but I'm hoping you might be able to take it :-)

[2022-08-28 17:45] arfon commented on #4326
@slayoo, @simonom – many thanks for your reviews here and to @dhhagan for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@dkauf42  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-28 17:45] #4326 closed

[2022-08-28 17:46] arfon commented on #4656
@editorialbot assign @jarvist as editor

[2022-08-28 17:47] arfon commented on #4643
@mingzehuang, @mmrabe – many thanks for your reviews here and to @fboehm  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@gasparl  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-28 17:47] #4643 closed

[2022-08-28 17:48] arfon commented on #4330
@editorialbot assign me as editor

[2022-08-28 17:49] arfon commented on #4330
@relf – apologies for the incredibly slow start on this paper. Could you suggest a few names of folks who might be able to provide a good review of this software?

[2022-08-28 17:49] gasparl commented on #4643
Thanks very much @arfon, and once again to @fboehm as well. Always a pleasure to publish with JOSS.

[2022-08-28 18:27] arfon commented on #4151
Friendly reminder to check in again here soon please @njuaplusplus, @Kraks, and @bzz.

[2022-08-28 19:53] fboehm commented on #4674
@DominiqueMaucieri - do you have any questions about how to proceed? I'm happy to help. Thanks!

[2022-08-28 20:25] pstjohn commented on #4621
Took a couple tries to get the .zenodo.json metadata in the right format, but I think I've made the requested paper edits and these associated tags:

* [x] Make a tagged release of your software, and list the version tag of the archived version here.
`v0.1.3`
* [x] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
* [x] Check the archival de

[2022-08-28 20:25] pstjohn commented on #4621
@editorialbot check references

[2022-08-28 20:25] pstjohn commented on #4621
@editorialbot generate pdf

[2022-08-28 21:02] vijaysm commented on #4654
The paper is well written. But I think it can be improved by fixing several spelling mistakes in the text and some missing punctuation.

Some specific comments:

- P2. L48: "Nananomesh" to "Nanomesh"
- P2. L60: "using the apply() method, which guarantees an object of the same time will be returned". Here do you mean  "same type" ?
- What is the "li" method? Is that an acronym? If there is a refere

[2022-08-28 23:26] tibordome commented on #4626
@adonath Many thanks for editing the submission. We are currently also working on v1.2.7 which will have several improvements and some fixes. We still need to fix the unit confusion that somebody pointed out, should be done in the next few days.

[2022-08-29 00:39] svburke commented on #4678
I have left the following two issues on the main repository:

https://github.com/mzabrams/fars-cleaner/issues/1
https://github.com/mzabrams/fars-cleaner/issues/2

[2022-08-29 02:52] banesullivan commented on #4569
@jedbrown, sorry for the delay!! I've been taking some time off recently. I will get on this!

@editorialbot generate my checklist

[2022-08-29 03:00] osorensen commented on #4621
@editorialbot set 10.5281/zenodo.7030161 as archive

[2022-08-29 03:00] osorensen commented on #4621
@editorialbot set v0.1.3 as version

[2022-08-29 03:01] osorensen commented on #4621
@editorialbot recommend-accept

[2022-08-29 03:04] osorensen commented on #4621
Thanks for your very good and useful reviews @iammix, @vwxyzjn, @Viech, @idoby.

Thanks for responding so quickly @pstjohn, and congratulations with a very nice piece of software and a well written paper.

The editor in chief will take over from here.

[2022-08-29 03:06] osorensen commented on #4515
@derNarr, could you please give us an approximate timeline for when the issues raised by the reviewers will be addressed? It is very fine if some of it requires some time, but if so, please keep us updated regularly in this thread.

[2022-08-29 03:29] tijeco commented on #4433
Sorry for the delay on this. I've gone through everything, and it really looks incredible! The only thing I didn't notice was a contributing guidelines section. This is a really great library, so I'm sure you will pick up more contributors!

[2022-08-29 03:46] jedbrown commented on #4569
@banesullivan Thanks! I think you'll have to put the editorialbot request in its own comment (that comment will transform into your checklist).

[2022-08-29 04:20] banesullivan commented on #4569
@editorialbot generate my checklist

[2022-08-29 04:26] simon-lewis commented on #4628
Hi team,
My review is now completed. See issues raised under Docs and Functionality - mainly around startup / connection lag but nothing major. As @erik-whiting says, documentation is overall very good with great depth on example use-cases.
Thanks.
Simon
@simon-lewis

[2022-08-29 05:48] derNarr commented on #4515
@osorensen , I am handing in writing my PhD thesis and will submit it in mid September. Therefore, I will addressing the issues of the reviewers in the end of September / beginning of October. I missed that @VenkteshV 's evaluation of the code is in issue https://github.com/quantling/pyndl/issues/226 and was still waiting for it.

Thanks to all of you for the good suggestions and the reviews. We a

[2022-08-29 05:59] osorensen commented on #4515
Thanks @derNarr. This sounds good. Best of luck with your dissertation.

[2022-08-29 06:59] slayoo commented on #4326
Hello, @dhhagan, @dkauf42, @arfon!
We have a problem here with the LaTeX tilde visible in the paper title on the JOSS website.

![image](https://user-images.githubusercontent.com/89685/187141606-861b3049-8223-4279-9696-52fe8a2ec5db.png)

Also in "citation string":
![image](https://user-images.githubusercontent.com/89685/187141749-fe1fc610-a1bb-43f7-9a8e-3456061b73ec.png)

Same in BiBTeX metadata.

[2022-08-29 07:01] oliviaguest commented on #4600
@jagnobli thanks. I noticed you say here you made "some substantial changes", but [here](https://git.mpib-berlin.mpg.de/castellum/castellum/-/issues/158#note_27188) you say "a bunch of small changes". Either way is fine, but such language can cause confusion.

You can now ask the reviewers for further feedback, and generally continue the review. ☺️

[2022-08-29 07:10] slayoo commented on #3896
@Chiil (CC: @arfon), please let us know if the added section with performance comparison against libmpdata++ is be enough to pass the missing checkbox item in your review?

Your checklist is here:
https://github.com/openjournals/joss-reviews/issues/3896#issuecomment-1093951893

(with the missing checkbox here:
![image](https://user-images.githubusercontent.com/89685/187143227-c68b9c6e-0001-404d-90

[2022-08-29 07:12] jagnobli commented on #4600
I guess my colleague is using language far more cautious than me. Sorry for that, @oliviaguest. In his eyes it's a series of small changes. To me, the outcome can be seen as substantial changes... ;)

I am looking forward to seeing the opinions on that from @htwangtw and @samhforbes...

[2022-08-29 07:59] mh-skjelvareid commented on #4690
@danielskatz I'm very sorry, but I don't currently have time to review this submission.

[2022-08-29 08:01] fraukewiese commented on #4712
Yes I can edit this submission.

[2022-08-29 08:03] cprudhom commented on #4708
Noted. Are there any deadlines?

[2022-08-29 08:04] fraukewiese commented on #4712
@editorialbot assign me as editor

[2022-08-29 08:05] fraukewiese commented on #4712
@phil-sandwell : Could you please check on the reference listed under "Missing DOI" above?

[2022-08-29 08:05] fraukewiese commented on #4712
@phil-sandwell : Do you have any suggestions for reviewer? This list might be of help: https://bit.ly/joss-reviewers (please start at the bottom)

[2022-08-29 08:06] Chiil commented on #3896
The improvements are excellent. Sorry for the slow reply, I just returned from holidays.

[2022-08-29 08:33] relf commented on #4330
@arfon Yeah, Rust ML is definitely still in its infancy and Rust is hardly mentioned in your reviewers list. Maybe people from the Rust-ML group who maintain "scikit-learn-for-Rust" project, [linfa](https://github.com/rust-ml/linfa) would be interested in reviewing this software which relies largely on their work, I can mention @bytesnake, @YuhanLiin and @quietlychris.

[2022-08-29 08:36] Zitzeronion commented on #4312
@arfon I've created a [Zenodo copy/archive](https://zenodo.org/record/7030890) after merging the JOSS branch and a version update with the feedback from the reviewers.

[2022-08-29 08:46] arfon commented on #4330
:wave: @bytesnake, @YuhanLiin and @quietlychris – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration here is [_egobox, a Rust toolbox for efficient global optimization_](https://github.com/relf/egobox)

[2022-08-29 08:48] arfon commented on #3896
@slayoo – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the author

[2022-08-29 08:53] peanutfun commented on #2313
@arfon thank you very much! 🙌

[2022-08-29 09:15] peanutfun commented on #4680
@editorialbot generate my checklist

[2022-08-29 09:54] Robaina commented on #4702
Hi,

thanks for reviewing my submission. It is the first time I attempt submitting software to JOSS, I really like your philosophy. I have a question, I understand that my submission was rejected because the application doesn't meet the minimum scholarly effort to be considered at JOSS. As I may add extra features to Brendapyrser in the future (probably making the source code to contain more than

[2022-08-29 09:54] srmnitc commented on #4459
@VHchavez Thank you for all the updates, from my side everything looks good. Not blocking acceptance, but I would strongly recommend updating the docstrings further for the code to be really helpful.

@lucydot All my concerns have been addressed, and I recommend the code and the associated paper for publication. I am hopeful that this tool will be useful for the community. Thanks to all the develo

[2022-08-29 10:16] zexinyang commented on #4681
@editorialbot generate my checklist

[2022-08-29 10:18] enekomartinmartinez commented on #4329
Hi @sixpearls
I have been reviewing the depth in the Structure section:

- Structure of the PySD library (Page 1)
  - Translation (section on Page 1)
    * Vensim Translation (page 2)
      + Sections on page 2
    * XMILE Translation (page 3)
      + Sections on page 3
    * AMR Representation (page 4)
      + Sections on page 4
  - Building the Model (section on Page 1)
    * Python Builder (pag

[2022-08-29 10:34] slayoo commented on #3896
Thank you, @Chiil!
Thank you, @arfon!
Here's the Zenodo url with updated metadata: https://zenodo.org/record/6934418

[2022-08-29 10:34] slayoo commented on #3896
(and the DOI is https://doi.org/10.5281/zenodo.6934418)

[2022-08-29 10:46] jbytecode commented on #4708
@cprudhom - Although there is not a rigid time limit, you can start your edits whenever a suggestion comes from our reviewers without waiting further requests.

[2022-08-29 11:37] JorenSix commented on #4554
@editorialbot generate pdf

[2022-08-29 11:40] JorenSix commented on #4554
Hi all,

I have been spending some time on improving Panako. Here is my answer to the review by @hendriks73

### Performance
The performance claims were indeed somewhat scattered and vague. A lot depends on use cases, reference database size and audio noise types but I have made a benchmark script to at least provide some reference points. The script doubles the reference database a couple of time

[2022-08-29 12:27] marylou-gabrie commented on #4634
# A few questions:

- What does the `scale` quantity logged in the results refer to? I did not find an explanation in the documentation.

- Is there a way to access the trained flow (or flows)? This is definitely for advanced usage, but maybe it would be good to have a way to assess the quality of training of the flow model. Then, one could assess whether it is necessary to play with the training/

[2022-08-29 12:55] crvernon commented on #4675
👋 - @turgeonmaxime Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-29 12:55] crvernon commented on #4675
👋 - @brunomontezano Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-29 13:06] jdiasn commented on #4715
@arfon - Thank you for letting me know about it! I will be waiting for your decision. I also have suggestions for possible reviewers.

1. Scivision
2. ashwinvis
3. tgoelles

[2022-08-29 13:21] fboehm commented on #4648
Thanks, @arfon! I'm happy to edit this submission. I'll work to find reviewers in the next few days.

[2022-08-29 13:21] fboehm commented on #4648
@editorialbot assign me as editor

[2022-08-29 13:27] ajmedford commented on #4698
Thank you for letting me know, I know it is a very busy time of the year. Do you have an approximate timeline for when it will move off of the waitlist?
________________________________
From: Arfon Smith ***@***.***>
Sent: Saturday, August 27, 2022 2:57 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Medford, Andrew J ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [P

[2022-08-29 14:00] jgalgarra commented on #4662
Hi,

I got stuck installing the Python package stickleback. I followed the installation instructions, launched the devtools::install_github("FlukeAndFeather/rstickleback") command from RStudio and everything run smoothly. Then, RStudio requested permission to install miniconda, and stickleback installation failed but it was no big deal since the instructions specified that is available with pip. T

[2022-08-29 14:05] mcgrathc commented on #4472
@fraukewiese, @euronion, @chrklemm. Thank you for all your helpful comments and suggestions. We have addressed all comments and made the appropriate changes to the package/paper that are available on the[ `main` branch.](https://github.com/IMMM-SFA/tell/tree/main) and are now ready to move forward with the review.

[2022-08-29 14:33] vissarion commented on #4532
Hi @masadcv, the scope query ended and your submission is in scope.

So now we are waiting @jacobmerson and @yhtang feedback on your implemented improvements (as discussed above).

[2022-08-29 14:49] jacobmerson commented on #4532
@vissarion thanks for doing the scope query. @masadcv let me know when you have an updated version of the paper/docs and I'll try to get everything finalized.

[2022-08-29 15:04] dkauf42 commented on #4326
I'm not sure what to suggest for this. The tildes were used to render the subscript appropriately in the `paper.md` markdown file.
Perhaps there needs to be additional text parsing in the automated process for generating webpage/BiBTeX/twitter text?

[2022-08-29 15:06] mengqi-z commented on #4695
Hi @crvernon, thank you for the invitation. Yes, I am happy to review this paper.

[2022-08-29 15:07] crvernon commented on #4695
@editorialbot add @mengqi-z as reviewer

[2022-08-29 15:42] kanderso-nrel commented on #4443
Sorry for the delay; I have been occupied the last few weeks.  I plan to take another look here soon.  Feel free to ping me again if I have not responded by next week :)

[2022-08-29 15:42] jgalgarra commented on #4662
@chfleming @chartgerink Please, forget the last comment. It runs fine at home. I presume the IT crew of my University has set new security policies and they were blocking some traffic. I keep on reviewing.

[2022-08-29 16:44] jmschrei commented on #4433
@jmcbroome looks like the reviewers have both come back with positive reviews. Would it be possible for you to add the community contribution guidelines, as @tijeco mentions? Once you do that, we can send it to the next stage. Thank you for your patience.

[2022-08-29 16:46] DominiqueMaucieri commented on #4674
@fboehm Should I make adjustments first and then respond to reviewer comments, or respond first and then make adjustments after? Thanks

[2022-08-29 17:02] jbytecode commented on #4661
👋👋👋 Dear @max-little 👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

*We need a 2nd reviewers for this submisson*

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**QMKPy: A Python Framework for the Quadratic Multiple Knapsack Problem**". You can find more informatio

[2022-08-29 18:06] edejong-caltech commented on #4412
Hi @dhhagan , any progress finding reviewers? Thanks!

[2022-08-29 18:58] fboehm commented on #4674
@DominiqueMaucieri - Please implement the suggestions that the reviewers have shared. Once you've done that, please let us know in this thread. The submission can't be published until the reviewers complete their checklists, so please do what you must to enable them to check the unchecked checklist items. See above for the details of their checklists. Please let me know if you have additional ques

[2022-08-29 19:03] Basvanstein commented on #4685
A few potential reviewers I think are relevant: jsun, singhpraveen2010, saran-nns, ronshnapp, xtruan, tkmamidi
Hope that helps.

[2022-08-29 19:38] adonath commented on #4626
Thanks @tibordome, let me know when you are ready to proceed! Please also let me know if you have suggestion for reviewers already (tag them without the "@").

[2022-08-29 20:04] bytesnake commented on #4330
Hi @arfon @relf sure I'm happy to help! Just glanced at the documentation (would be first time for me as a JOSS reviewer) and I will run the test/examples, take a look at software quality and paper completeness in the next few days. From the guideline principle section it seems that only a confirmation is needed and no written prose text addressing each point, right? I'm no expert in surrogate mod

[2022-08-29 20:05] max-little commented on #4661
Yes that's fine!
Best
Max

On Mon, 29 Aug 2022 at 18:02, Mehmet Hakan Satman ***@***.***>
wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Press
global.oup.com/academic/produc

[2022-08-29 20:06] jbytecode commented on #4661
@editorialbot add @max-little as reviewer

[2022-08-29 20:07] jbytecode commented on #4661
Dear @ulf1 and @max-little

You are assigned as reviewers for this submission. After I start the review, a new thread will be created.

I will introduce the instruction there.

Thank you in advance.

[2022-08-29 20:08] jbytecode commented on #4661
@editorialbot start review

[2022-08-29 20:08] editorialbot opened #4718 "[REVIEW]: QMKPy: A Python Framework for the Quadratic Multiple Knapsack Problem"
**Submitting author:** @klb2 (<a href="http://orcid.org/0000-0002-1597-8963">Karl-Ludwig Besser</a>)
**Repository:** https://github.com/klb2/qmkpy
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.1.0
**Editor:** @jbytecode
**Reviewers:** @ulf1, @max-little
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/7e886b9c686dc93f8ac85aef9f4fb5bd/status

[2022-08-29 20:08] #4661 closed

[2022-08-29 20:10] dazhwu commented on #4416
Hi All,

If there is anything I need to do to improve the submission, please let me know. Thanks,

[2022-08-29 20:16] jbytecode commented on #4718
Dear reviewers @ulf1, @max-little

This is the reviewing thread. Please, firstly type

`@editorialbot generate my checklist`

to generate your checklist. In that list, there are 20 check items. Whenever you complete the corresponding task, you can check off the box. The reviewing process is interactive so you can always interact with the authors, the other reviewer, and the editor. You can open is

[2022-08-29 20:17] jmcbroome commented on #4433
I can honestly say that I hadn't considered such guidelines, as people interested/invested enough to contribute to this kind of specialized open-source software generally reach out to me directly first with their issues or ideas. Formalized guidelines may be helpful if this repository gains popularity among the wider research community, though.

I've added a [contributing guidelines page](https://

[2022-08-29 20:46] mcgrathc commented on #4472
Please note we released a new version `v0.1.3` for some bug fixes. So please move forward with `v0.1.3`. Thank you

[2022-08-29 20:49] jdiasn commented on #4715
@editorialbot commands

[2022-08-29 21:09] jdiasn commented on #4715
@editorialbot check references

[2022-08-29 21:09] jdiasn commented on #4715
@editorialbot generate pdf

[2022-08-29 21:45] seananderson commented on #4497
Hi @Bisaloo, thanks for the invitation. I'd be keen to review this, but realistically, I'm off or travelling and busy starting Wednesday through most of September. The package looks interesting and it seems like a lot of work has gone into it. I do think I'd struggle to review the paper in its current form. There's a reproducible vignette, which is great, but I think I'd struggle to understand exa

[2022-08-30 02:06] quietlychris commented on #4330
@arfon @relf I'm also happy to help! Similar to Lorenz, I'm not sure I'd consider myself an expert on surrogate models. While I'm happy to do a bit of reading on them, I think most of my review contributions would also be on the language-side for best practices.

[2022-08-30 06:33] LTLA commented on #4688
@editorialbot generate pdf

[2022-08-30 06:51] LTLA commented on #4688
From the list, I'd say that **rmflight**, **nhejazi**, **mschubert** and **cbrueffer** could be appropriate reviewers. (Not excluding anyone here, I just searched for "R", "Python" and "bioinformatics" and picked a few names randomly.)

I see **alanocallaghan** on the list - he is already the maintainer of several **basilisk** clients. This may or may not be a desirable characteristic of a reviewe

[2022-08-30 07:13] chartgerink commented on #4662
Thanks @jgalgarra 🙌 Issues that would need to be resolved by the authors can be flagged in the issues for the original repository - that way we can track whether they've been resolved as well.

Would you mind raising these in their issues there?

[2022-08-30 07:17] chartgerink commented on #4416
@dazhwu I will ping @daviddewhurst via email.

[2022-08-30 07:34] jgalgarra commented on #4662
Done

[2022-08-30 08:27] vherve commented on #4636
@arfon - Dear editor, thank you for your answer.
Although we completely accept and respect your decision, I would like to mention that we are a bit surprised by this decision since JOSS has already published Snakemake workflows for bioinformatic applications (eg. [1](https://joss.theoj.org/papers/10.21105/joss.00352) or [2](https://joss.theoj.org/papers/10.21105/joss.01465). That was in fact one o

[2022-08-30 08:33] xinyiguan commented on #4488
👋 Hi @faroit, thanks for serving as the editor for the submission. Here is a list of potential reviewers with a background in both python and lisp from the JOSS reviewer list: @ hayesall; @ aminorex; @ AoifeHughes.

[2022-08-30 08:41] jarvist commented on #4656
OK @SYalouz , do you have any suggestions for reviewers? I imagine authors of the equivalent Python packages might be well setup to judge the submission from a scientific point of view, and then a Julia experienced programmer from the Julian side.

I note you don't seem to reference QuTIP in your paper, though that seems the established software used by workers in this field? Nor, on the Julia sid

[2022-08-30 09:27] zexinyang commented on #4681
Hi @hugoledoux, @gattia,

I've finished my review. In this work, the authors developed a NumPy version of the well-known CPD point cloud registration algorithm. Overall, it is a handy piece of software that has already drawn the attention of the community. The software paper is well written, but typos should be corrected and references should be added (see comments below). I recommend accepting th

[2022-08-30 09:37] ccaprani commented on #4404
Thank you @prashjha ; those final tweaks are done; v0.2.1 released, and archived at [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.7034267.svg)](https://doi.org/10.5281/zenodo.7034267).

I appreciate your time on this, and hope for a decision soon. Thanks.

[2022-08-30 09:57] ppxasjsm commented on #4519
@wcwitt, would you be willing to review this submission?

[2022-08-30 09:58] ppxasjsm commented on #4693
Hi both, @ptmerz, @ohenrich, Do you need help generating your initial checklist for the review?

[2022-08-30 10:02] Bisaloo commented on #4497
Hi @kellijohnson-NOAA :wave:, would you be interested in reviewing this [R package](https://github.com/pedersen-fisheries-lab/sspm) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04497/joss.04497/10.21105.joss.04497.pdf) for the Journal of Open Source Software (JOSS)?

You were recommended as a reviewer and I agree you would be a great fit to review this

[2022-08-30 10:02] ptmerz commented on #4693
Hi @ppxasjsm, I have started playing around with the software, but have not had enough time to dig deeper yet, so haven't generated the checklist yet. I should be fine generating it, though. This week is much calmer, so I should be able to start checking off items soon!

[2022-08-30 10:03] Bisaloo commented on #4497
@seananderson, thanks for your answer and for your comments. I'll copy them in the review issue as soon as we officially get started as to make sure they get addressed!

[2022-08-30 10:27] peanutfun commented on #4680
@ryanmrichard Thanks for suggesting me to review your submission 👋 I'll be reviewing your paper and software over the next days and/or weeks. I guess we can have all detailed discussions in issues I'll eventually raise in the CMinx repository. Once I'm through, I will summarize here.

[2022-08-30 10:59] ulf1 commented on #4718
@editorialbot generate my checklist

[2022-08-30 11:47] leouieda commented on #4700
@arfon I'd be happy to take this on 👍🏾

[2022-08-30 11:47] leouieda commented on #4700
@editorialbot assign @leouieda as editor

[2022-08-30 12:03] leouieda commented on #4700
👋🏾  Hi @dshean, I'll be handling the review process for your paper.

This is a pre-review where we make sure everything is alright and try to find reviewers. The actual review will only start later on and will take place in a different issue. I'll do a first editorial pass through the submission to make sure it fits our submission requirements (I may ask for a few clarifications or modifications).

[2022-08-30 12:07] leouieda commented on #4700
@dshean is this submission about just the Python client (`sliderule-python`) or about the entire stack (server, client, and icesat-2 plugin)? The paper is describing the entire stack but the repository linked above that hosts the paper is just the Python client.

[2022-08-30 13:11] samhforbes commented on #4657
Hi @josiahparry @nhtran93 would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Please note this is a public issue, and your responses will also be public.

[2022-08-30 13:13] samhforbes commented on #4614
Hi  @EDiLD @aj2duncan would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Please note this is a public issue, and your responses will also be public.

[2022-08-30 13:33] samhforbes commented on #4614
Hi @ellessenne would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Please note this is a public issue, and your responses will also be public.

[2022-08-30 13:37] ryanmrichard commented on #4680
@peanutfun :wave: That all sounds great. I look forward to working with you and thanks for agreeing to review this manuscript!

[2022-08-30 13:52] rreinecke commented on #4685
@Fei-Tao I would love to. I will be on vacation soon though so my review would be delayed by about 4 weeks from now. Let me know if that would be acceptable or not.

[2022-08-30 13:54] SYalouz commented on #4656
Dear @jarvist,

Thanks a lot for your message and for considering our work.

Concerning the reviewers, I am thinking of the following list :
- Xavi Monroig-Bonnet ( Openfermion developper, email : bonet@lorentz.leidenuniv.nl )
- Thomas Ayral ( quantum software developper, email: thomas.ayral@atos.net)
- Thomas E. Baker ( Julia experienced programmer in electronic structure, email : thomasedward.ba

[2022-08-30 13:57] Fei-Tao commented on #4685
@rreinecke Thank you for your prompt response. That would work. I will wait for another reviewer to start the review process. Have a good vacation!

[2022-08-30 14:15] Fei-Tao commented on #4598
👋🏻 Hi, @ericneiva, @ketch,@bbrelje, @kylebeggs, @duhd1993  if you'd like to review this submission, please comment here! Feel free to unsubscribe from this issue if you are not interested.

[2022-08-30 14:25] Zitzeronion commented on #4312
@editorialbot generate pdf

[2022-08-30 14:44] gattia commented on #4681
@zexinyang - Thank you so much for the thorough and constructive review. I'll get to those edits over the next little while.

Best,

Anthony.

[2022-08-30 14:45] phil-sandwell commented on #4712
This reference is for a UN resolution which doesn't have a DOI. The suggested DOI is for the correct document but as a reformatted version annex of another publication, rather than the original document.

I've reformatted the reference in this paper to cite the resolution in line with the [UN guidelines](https://ask.un.org/faq/14438), including a permalink to where it's hosted in the [UN Digital L

[2022-08-30 14:52] phil-sandwell commented on #4712
Based on their research interests (energy system modelling, optimisation, renewable energy etc.) I have three suggestions for reviewers:
- brynpickering
- fneum
- EwaGomez

All have Python as a preferred language and none of them have any active reviews at present. Please let me know if you would like any further suggestions!

[2022-08-30 14:57] EDiLD commented on #4614
I am the next 3 weeks on vacation and cannot make it.

[2022-08-30 14:59] EDiLD commented on #4536
I am on vacation the next 3 weeks and cannot make it.

[2022-08-30 15:19] ellessenne commented on #4614
Hi @samhforbes, I will also not be able to make it for this review, unfortunately. Thanks for asking though!

[2022-08-30 15:49] LucyMcGowan commented on #4495
Thank you! I have dropped the phrase from the current draft -- please let me know if you need any other updates from me. Thank you all for making this paper better!

[2022-08-30 15:59] JosiahParry commented on #4657
@samhforbes I am sorry, I am not available to assist at this time. Thank you, though!

[2022-08-30 16:12] ohenrich commented on #4693
@editorialbot generate my checklist

[2022-08-30 16:19] ohenrich commented on #4693
@ppxasjsm I have a conflict of interest as I published last year with two of the authors. Three authors are actually close collaborators, although we collaborate more on the software front rather than publish a lot together. I should probably decline to review this manuscript.

[2022-08-30 16:27] kazewong commented on #4634
# Questions/comments related to unchecked items

- [ ] Performance/Summary: See this thread https://github.com/minaskar/pocomc/issues/17#issue-1352355283
- [ ] Community Guideline: I don't see any comments for seeking support. Per the checklist, I think the Authors should add some guideline to seeking support.
- [ ] State-of-the-field/references: I think there are missing references which @marylou

[2022-08-30 16:32] kellyrowland commented on #4249
Thanks for the update - the suggested mark is around 1000 words, but that's flexible. Adding more material to round out the paper should be fine, but I'd be a little wary of, say, anything approaching 1500 words.

[2022-08-30 16:40] kylebeggs commented on #4598
@Fei-Tao  Unfortunately, I don't have time the next few weeks. If it is still needed then, ping me again.

[2022-08-30 16:40] sandrinecharles commented on #4614
Dear @samhforbes I am sorry but I am not available these next five weeks due to the beginning of the beginning of the university year. Since I am responsible for the Doctoral School (250 PhD students in total), I do not have a lot of time for reviewing. I suggest you to contact either Virgile BAUDROT (virgile.baudrot@qonfluens.com) and/or Aude RATIER (aude.ratier@ineris.fr). Best regards, Sandrine

[2022-08-30 16:44] jbytecode commented on #4563
editorialbot remove @briatte from reviewers

[2022-08-30 16:45] jbytecode commented on #4563
@editorialbot remove @briatte from reviewers

[2022-08-30 16:46] jbytecode commented on #4563
@ccamara - Do you still want to be a reviewer for this submission? We have failed to get a response from one of the reviewers, so we need 2nd reviewer for this submission.

[2022-08-30 17:08] fboehm commented on #4648
@gtonkinhill, @cmorris2945, @pjb7687, @MaximLippeveld, @VeroniqueLegrand - would you be willing to review this submission for JOSS? The reviews are driven by checklists. Please let me know if you have any questions. Thanks!

[2022-08-30 17:10] ericneiva commented on #4598
@Fei-Tao thanks for the invitation. I am afraid I won't be able to take on any review until the second half of September. If you still need me by then, do not hesitate to get back to me.

[2022-08-30 17:16] FlukeAndFeather commented on #4662
I see the issues in the original repo. Thanks @jgalgarra for the thorough review! I appreciate your points about making the tool as easy to use as possible for non-Python users. That is a core goal for the software and it helps to have someone else's perspective on likely challenges. I'll get started on those issues later this week.

[2022-08-30 18:08] MichaelSchomaker commented on #4495
Thanks, I have no further comments.

[2022-08-30 18:13] dazhwu commented on #4416
Thank you!

[2022-08-30 18:22] pmyteh commented on #4657
@samhforbes I am also sorry; I don't have the capacity for a review just now. I'll be happy to do so again when things are less busy, though.

[2022-08-30 18:37] jmschrei commented on #4433
Great, thanks so much! @tijeco once you tick off that final box, I'll send the submission to the Higher Powers.

[2022-08-30 18:39] prashjha commented on #4404
@editorialbot generate pdf

[2022-08-30 18:41] prashjha commented on #4533
@travisseymour I think you can delete the branch but I will suggest keeping it there for another month just in case. Congrats!!

[2022-08-30 18:42] prashjha commented on #4404
@editorialbot check references

[2022-08-30 18:46] prashjha commented on #4557
Hi @phpuech, sorry about the delay. I will start inviting the reviewers to review your submission very soon. Meanwhile, could you provide 4-5 potential reviewers from this [list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)?

[2022-08-30 18:47] prashjha commented on #4404
Hi @ccaprani, thanks. One last thing, could you change the title of [your zenodo archive](https://doi.org/10.5281/zenodo.7034267) to match the title of your JOSS paper?

[2022-08-30 18:52] prashjha commented on #4404
@editorialbot set v0.2.1 as version

[2022-08-30 18:53] prashjha commented on #4404
@editorialbot set 10.5281/zenodo.7034267 as archive

[2022-08-30 19:38] stinefm commented on #4516
Hi @robinroche and @fraukewiese!

Thank you for the comments! I have been working on improvements based on your feedback. I will sum them up with bullet points responding to your comments:

•	Github description: I have updated the info on what the tool can do with examples of use cases. The list of features is updated and should be more specific now. I have now mentioned that examples are included

[2022-08-30 19:44] jbytecode commented on #4563
Dear @schochastics,

Because of our 2nd reviewer has been unresponsive since the very earlier states of the review, now I am starting to find a new proper reviewer.

Thank you for your patience.

[2022-08-30 20:03] tijeco commented on #4433
Done!

[2022-08-30 20:20] jmschrei commented on #4433
@jmcbroome do you have a Zenodo archive for the entire submission that we can use? Also, what is the version of the software that you'd like to correspond to the completed submission?

[2022-08-30 20:24] jmcbroome commented on #4433
I do not have a zenodo archive. Is this necessary?

The latest, I suppose- v0.8.2. Assuming that that won't require additional review steps, of course (the only substantial changes are bugfixes and a few new independent functions I've implemented, such as relative entropy).

[2022-08-30 20:26] jmschrei commented on #4433
Yes, you need to have a doi that corresponds to the code that corresponds to your submission. Using the most recent version should be fine in this case. https://joss.readthedocs.io/en/latest/submitting.html#the-review-process

[2022-08-30 20:28] jmcbroome commented on #4433
Understood. I will take care of this this afternoon.

[2022-08-30 20:49] jmcbroome commented on #4433
@jmschrei  I have uploaded the most recent source code archive with a description to Zenodo.

https://doi.org/10.5281/zenodo.7036163

Please let me know if there's anything else needed from me to complete publication!

[2022-08-30 20:53] jmschrei commented on #4433
@editorialbot set 10.5281/zenodo.7036163 as archive

[2022-08-30 20:53] jmschrei commented on #4433
@editorialbot set v0.8.2 as version

[2022-08-30 20:54] jmschrei commented on #4433
@editorialbot check references

[2022-08-30 20:54] jmschrei commented on #4433
@editorialbot recommend-accept

[2022-08-30 21:16] wcwitt commented on #4519
Yes, no problem.

[2022-08-30 22:29] ccaprani commented on #4404
@prashjha , thank you, that's done now!

[2022-08-30 22:33] prashjha commented on #4404
Dear @vsangelidakis and @dbrizard , thank you for your efforts in reviewing this submission. I truly appreciate it.

[2022-08-30 22:33] prashjha commented on #4404
@editorialbot recommend-accept

[2022-08-31 02:05] guanfada commented on #4555
@ProfLeao @SimonBiggs We have added references for "in-house development"
Thanks.

[2022-08-31 02:53] pjb7687 commented on #4648
Yes I would!

[2022-08-31 04:51] SotaYoshida commented on #4694
@mdavezac
Thank you so much for reviewing and feedbacks.
I am now dealing with your points and documents, test codes, etc.
It may take at least a couple of weeks.

I will make changes in between, but I will ask you to confirm at some point not to bother you repeatedly, so please do not care about the details of the changes until then.

Again, I appreciate you taking the time to review this package

[2022-08-31 05:19] MaximLippeveld commented on #4648
Yes, I'm willing to review

[2022-08-31 06:18] danasolav commented on #4259
@ebezzam I emailed him last week but he hasn't responded. @antipa could you please ask him, or recommend someone else from your group?
Thank you for your patience. I apologize that it is taking so long to find reviewers for this submission. It is normally not the case.

[2022-08-31 07:03] ppxasjsm commented on #4693
@ohenrich I see this makes sense, it looked like it was quite close to you! I'll find another reviewer. Thank you for considering helping with this!

[2022-08-31 07:04] ppxasjsm commented on #4519
Brilliant thank you 👍

[2022-08-31 07:07] ppxasjsm commented on #4519
@editorialbot add @wcwitt as reviewer

[2022-08-31 07:07] ppxasjsm commented on #4519
@editorialbot start review

[2022-08-31 07:07] editorialbot opened #4719 "[REVIEW]: strucscan: A lightweight Python-based framework for high-throughput material simulation"
**Submitting author:** @thohamm (<a href="http://orcid.org/0000-0002-2270-4469">Thomas Hammerschmidt</a>)
**Repository:** https://github.com/ICAMS/strucscan
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** @ppxasjsm
**Reviewers:** @mturiansky, @wcwitt
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/cf152ba42d55db682d1ac29f951bcfe1/status.sv

[2022-08-31 07:07] #4519 closed

[2022-08-31 07:08] ppxasjsm commented on #4693
@editorialbot remove @ohenrich  from reviewer

[2022-08-31 07:09] ppxasjsm commented on #4693
@editorialbot remove @ohenrich from reviewers

[2022-08-31 07:15] ppxasjsm commented on #4693
@govarguz would you be possibly able to review this? We ended up with a conflict of interest here.

[2022-08-31 07:48] leouieda commented on #4700
@dshean it's not an issue 🙂 I just wanted to get a better picture to figure out how to handle the reviewer invitations.

The JOSS review is focused on the software (code, documentation, community practices) and so it needs to be clear which code repositories are being reviewed. Since this is a very integrated stack with server and client apps, I think it makes sense to review it all at once. The c

[2022-08-31 07:53] leouieda commented on #4632
@arfon I can take this one on 👍🏾

[2022-08-31 07:54] leouieda commented on #4632
@editorialbot assign @leouieda as editor

[2022-08-31 07:55] leouieda commented on #4632
👋🏾  Hi @mspieg, I'll be handling the review process for your paper.

This is a pre-review where we make sure everything is alright and try to find reviewers. The actual review will only start later on and will take place in a different issue. I'll do a first editorial pass through the submission to make sure it fits our submission requirements (I may ask for a few clarifications or modifications).

[2022-08-31 08:02] jarvist commented on #4656
Dear @SYalouz, Please edit away! It's a continuous process with JOSS. Thank you for your suggestions - I'll now approach some reviewers via email.

[2022-08-31 08:05] SYalouz commented on #4656
Dear @jarvist,

Thanks for your reply, I'll include the references now then!

[2022-08-31 08:14] Saran-nns commented on #4685
@Fei-Tao @Basvanstein thank you, im available to review this work

[2022-08-31 09:10] ketch commented on #4598
@Fei-Tao I don't think I have the appropriate expertise.

[2022-08-31 10:48] phil-sandwell commented on #4712
@editorialbot generate pdf

[2022-08-31 11:01] samhforbes commented on #4657
Hi @Athanasiamo @navmayan would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Please note this is a public issue, and your responses will also be public.

[2022-08-31 11:14] mspieg commented on #4632
Thank you. Much appreciated.

Sent from my iPhone

[2022-08-31 12:06] Nikoleta-v3 commented on #4688
👋🏻  @rmflight @mschubert @cbrueffer would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "basilisk: a Bioconductor package for managing Python environments". You can find more informatio

[2022-08-31 12:21] agricolab commented on #4627
My review is done, i expect a second round once i can progress with the actual testing of the software. Currently, https://github.com/pbotros/river/issues/20 prevents me from progressing with the review.

[2022-08-31 12:36] vitorsr commented on #4690
I would be happy to.

[2022-08-31 12:39] danielskatz commented on #4690
Thanks @vitorsr - I'll assign you, but we won't start the review until we find one more reviewer.

[2022-08-31 12:39] danielskatz commented on #4690
@editorialbot add @vitorsr as reviewer

[2022-08-31 12:40] danielskatz commented on #4690
👋 @DanNixon - Are you able to review this JOSS submission?

[2022-08-31 12:40] danielskatz commented on #4690
👋 @grlee77 - Are you able to review this JOSS submission?

[2022-08-31 12:41] danielskatz commented on #4690
👋 @ lheagy - Are you able to review this JOSS submission?

[2022-08-31 12:43] danielskatz commented on #4696
@paulromano - sorry for the delay; I was on vacation for a few days, but am now back

[2022-08-31 12:44] danielskatz commented on #4696
👋 @shyamd - Did your 👍 on my request to review mean that you are willing to review this submission?  Please confirm

[2022-08-31 12:45] danielskatz commented on #4696
👋 @sskutnik - would you be willing to review this JOSS submission?

[2022-08-31 12:45] danielskatz commented on #4696
👋 @munkm - would you be willing to review this JOSS submission?

[2022-08-31 12:47] danielskatz commented on #4696
👋 @yadudoc - would you be willing to review this JOSS submission?

[2022-08-31 12:59] samhforbes commented on #4657
Thanks @drmowinckels - looking forward to benefitting from your expertise.

[2022-08-31 13:00] samhforbes commented on #4657
@editorialbot add @drmowinckels as reviewer

[2022-08-31 13:04] sskutnik commented on #4696
@danielskatz I can do it.

[2022-08-31 13:05] danielskatz commented on #4696
Thanks @sskutnik - I'll add you, and once we get at least one more reviewer, we'll start the review

[2022-08-31 13:05] danielskatz commented on #4696
@editorialbot add @sskutnik as reviewer

[2022-08-31 13:07] danielskatz commented on #4711
@jhstaudacher - note that JOSS requires reviewed software to have an OSI-approved license (see https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements), which your software doesn't seem to have.

[2022-08-31 13:09] samhforbes commented on #4614
@editorialbot add @spitschan as reviewer

[2022-08-31 13:16] munkm commented on #4696
@danielskatz I can review it.

[2022-08-31 13:19] danielskatz commented on #4696
Thanks @munkm.  I'll add you, and then we'll start the review once I hear back from @shyamd, who I think also was willing to review

[2022-08-31 13:19] danielskatz commented on #4696
@editorialbot add @munkm as reviewer

[2022-08-31 13:23] Fei-Tao commented on #4685
@Saran-nns Great! I will assign you as a reviewer. We will start the reviewing process after we find another one.

[2022-08-31 13:24] Fei-Tao commented on #4685
@editorialbot add @Saran-nns as reviewer

[2022-08-31 13:31] Fei-Tao commented on #4598
@ketch  since finite area method is a variant of the finite volume method, I thought you have the expertise on this topic. Thank you for your prompt response. Have a good day.

[2022-08-31 13:39] fboehm commented on #4648
Thank you, @pjb7687 and @MaximLippeveld ! I'll add you both as reviewers now and start the review thread. In it, you'll see the instructions for getting started with your reviews. Please reach out to me (@fboehm) if you have any questions or difficulties in getting started. Thanks agaiN!

[2022-08-31 13:39] fboehm commented on #4648
@editorialbot add @pjb7687 as reviewer

[2022-08-31 13:39] duhd1993 commented on #4598
Hi @Fei-Tao Thanks for the opportunity. I'd like to help with review the package and paper.

[2022-08-31 13:39] fboehm commented on #4648
@editorialbot add @MaximLippeveld as reviewer

[2022-08-31 13:40] fboehm commented on #4648
@editorialbot start review

[2022-08-31 13:40] editorialbot opened #4720 "[REVIEW]: btllib: A C++ library with Python interface for efficient genomic sequence processing"
**Submitting author:** @vlad0x00 (<a href="http://orcid.org/0000-0002-2992-9935">Vladimir Nikolic</a>)
**Repository:** https://github.com/bcgsc/btllib
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.4.9
**Editor:** @fboehm
**Reviewers:** @pjb7687, @MaximLippeveld
**Archive:** 10.5281/zenodo.7275416

## Status

[![status](https://joss.theoj.org/papers/685dffcfe8c91237f914e

[2022-08-31 13:40] #4648 closed

[2022-08-31 13:42] Fei-Tao commented on #4598
@editorialbot add @duhd1993 as reviewer

[2022-08-31 13:44] Fei-Tao commented on #4598
@duhd1993 thank you for accept to review this paper.  We will start the reviewing process after we find another reviewer.

[2022-08-31 13:54] cwentland0 commented on #3428
Hi @kyleniemeyer , do you think you'll be able to get to this this week? I only ask because a collaborator is asking to reference the paper if it's finished this week. Otherwise I'll just ask them to cite the Zenodo DOI, so no worries either way!

[2022-08-31 14:19] sbenthall commented on #4536
@tkchafin Would you be able to review this submission?

[2022-08-31 14:20] sbenthall commented on #4536
@jsta would you be able to review this submission?

[2022-08-31 14:40] Elchin commented on #4704
@editorialbot generate my checklist

[2022-08-31 14:47] vitorsr commented on #4690
Thanks for assigning me. If you wouldn't mind my suggesting, I find it would be best if we had more than two reviewers for this submission given the size of the project.

[2022-08-31 14:52] danielskatz commented on #4690
We can try...  Do you have any thoughts of any complementary reviewers we should ask?

[2022-08-31 14:57] xtruan commented on #4685
@Basvanstein @Fei-Tao I am available as a reviewer!

[2022-08-31 14:58] faroit commented on #4488
👋  @hayesall @aminorex @AoifeHughes - would any of you be willing to review this submission for JOSS? The JOSS review process takes place on GitHub and focuses on the software and a short paper. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [py2lispIDyOM: A Py

[2022-08-31 14:59] DanNixon commented on #4690
I'm happy to.

[2022-08-31 15:01] danielskatz commented on #4690
Thanks @DanNixon! I'll add you, and I'll see if we can find a third reviewer, given @vitorsr's suggestion

[2022-08-31 15:10] AoifeHughes commented on #4488
@faroit of course, been wanting to do another review for a while now 😄

[2022-08-31 15:26] faroit commented on #4488
@AoifeHughes thanks for the quick reply. Happy you can help out!

[2022-08-31 15:26] faroit commented on #4488
@editorialbot add @AoifeHughes to reviewers

[2022-08-31 15:39] lucydot commented on #4459
That's excellent, thank you very much @raghurama123 and @srmnitc for your thoughtful reviews ✨

I will do a final read through of the paper, alongside some admin checks, before suggesting to the editors-in-chief that we go ahead with publication!

[2022-08-31 15:39] lucydot commented on #4459
@editorialbot generate pdf

[2022-08-31 15:43] lucydot commented on #4672
@StanczakDominik - I can see you have started your review - great! - let me know if you have any queries as you progress.

@Rupali-Sahu - your first review task is to generate a checklist - there is more information at the top of this thread. Please, if you have any questions, just ask in the thread below.

I find reviews work best when it is a back-and-forth conversations between reviewers and au

[2022-08-31 15:48] lucydot commented on #4333
Hello, I can see that @CFGrote is happy that https://github.com/jonathanHuwP/CrystalGrowthTracker/issues/22 has been addressed, and all boxes in each checklist are checked - so I think we are good to go ahead with publication @CFGrote  @KedoKudo?

[2022-08-31 15:48] lucydot commented on #4333
@editorialbot generate pdf

[2022-08-31 15:51] lucydot commented on #4459
@editorialbot check references

[2022-08-31 15:52] lucydot commented on #4459
Hi @VHchavez could you add the missing DOIs to your paper, as suggested by editorialbot above?

[2022-08-31 16:02] lucydot commented on #4459
Once you have done this, please:

- Make a tagged release of your software
- Archive this release on Zenodo (or similar)
- **The archive should have exactly the same title and author list as your JOSS paper**

Report the archive DOI and version number in this thread 👇

[2022-08-31 16:05] Fei-Tao commented on #4685
@xtruan great! I will add you to the reviewer list.

[2022-08-31 16:06] Fei-Tao commented on #4685
@editorialbot add @xtruan as reviewer

[2022-08-31 16:08] Fei-Tao commented on #4685
@editorialbot add @rreinecke as reviewer

[2022-08-31 16:09] Fei-Tao commented on #4685
@editorialbot start review

[2022-08-31 16:09] editorialbot opened #4721 "[REVIEW]: GSAreport: Easy to Use Global Sensitivity Reporting"
**Submitting author:** @Basvanstein (<a href="http://orcid.org/0000-0002-0013-7969">Bas van Stein</a>)
**Repository:** https://github.com/Basvanstein/GSAreport
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.0.1
**Editor:** @Fei-Tao
**Reviewers:** @Saran-nns, @xtruan, @rreinecke
**Archive:** 10.5281/zenodo.7191341

## Status

[![status](https://joss.theoj.org/papers/fe628

[2022-08-31 16:10] #4685 closed

[2022-08-31 16:10] Fei-Tao commented on #4685
Thanks everyone! Looking forward to your reviews in https://github.com/openjournals/joss-reviews/issues/4721.

[2022-08-31 16:12] xtruan commented on #4721
@editorialbot generate my checklist

[2022-08-31 16:19] yadudoc commented on #4696
@danielskatz I can review this one.

[2022-08-31 16:21] lucydot commented on #4333
Hello, some corrections/suggestions for the paper @JoannaLeng @jonathanHuwP :

- I could not see the following from the checklist in the paper: `State of the field: Do the authors describe how this software compares to other commonly-used packages?`
-  typo: `charaterizing`
- re-wording: `, and beta tested by Das, who prsented on the project (Das, 2021a),(Das,
30 2021b).` --> `The package was deve

[2022-08-31 16:29] danielskatz commented on #4696
Thanks @yadudoc, but I think with @shyamd potentially, we have enough reviewers now

[2022-08-31 16:38] kasasxav commented on #4644
All good from my side ! @jgostick

[2022-08-31 16:48] Rupali-Sahu commented on #4672
Hi Lucy,

Thanks for the reminder. It had completely slipped my mind ever since I
started my new job.
I am kinda stuck since this is not a traditional review process. I have not
really used Github before, so I'm confused about where to run the commands
and create a review report. If there's documentation that can guide me,
that would be great.

Warm regards,
Rupali

On Wed, Aug 31, 2022 at 8:43 AM

[2022-08-31 18:02] jgostick commented on #4644
Alright, great job @kasasxav and @jingpengw! Thanks so much for your time and energy, which I know is a valuable and limited resource.

@alexriss, congrats, I will recommend this paper to be published!  But first there are a few more items to check off:

# Post-Review Checklist for Editor and Authors
## Additional Author Tasks After Review is Complete
- [ ] Double check authors and affiliations (i

[2022-08-31 18:02] jgostick commented on #4644
@editorialbot check references

[2022-08-31 18:47] vitorsr commented on #4690
- @fabian-sp
- @glemaitre
- @jameschapman19
- @leo-simpson
- @lucaferranti
- @robertmartin8
- @stsievert
- @viech

[2022-08-31 18:48] yadudoc commented on #4696
Alright, I'm happy to jump in later if needed.

[2022-08-31 18:50] Saran-nns commented on #4721
@editorialbot generate my checklist

[2022-08-31 19:17] alexriss commented on #4644
@jgostick Thanks a lot!

The latest version is: 0.3.8

Zenodo DOI:
https://doi.org/10.5281/zenodo.7038825

## Additional Author Tasks After Review is Complete
* [x]  Double check authors and affiliations (including ORCIDs)
* [x]  Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
* [x]  A

[2022-08-31 19:22] danielskatz commented on #4690
👋 @fabian-sp, @glemaitre, @jameschapman19, @Leo-Simpson, @lucaferranti, @robertmartin8, @stsievert, and @Viech - We're looking for one more reviewer for this JOSS submission.  Would one of you be willing to do this?

JOSS publishes articles about open source research software. The submission here is titled: "Scientific Computational Imaging Code (SCICO)" and the submission repository is at: https:

[2022-08-31 19:23] alexriss commented on #4644
And thanks a lot to @kasasxav and @jingpengw for your efforts and the help, highly appreciated!

[2022-08-31 19:31] kasasxav commented on #4644
thank you @alexriss and good luck with SpmImage Tycoon !

[2022-08-31 19:36] ivastar commented on #4653
@editorialbot commands

[2022-08-31 19:37] ivastar commented on #4653
@editorialbot add @langmm as reviewer

[2022-08-31 20:20] rmflight commented on #4688
Sorry @Nikoleta-v3, but I don't think I can review at this time. Looks cool and very useful!

[2022-08-31 20:22] lucaferranti commented on #4690
@danielskatz I can review this

[2022-08-31 20:26] danielskatz commented on #4690
Thanks @lucaferranti - I'll add you, and we'll go ahead and start the review

[2022-08-31 20:26] danielskatz commented on #4690
@editorialbot add @lucaferranti as reviewer

[2022-08-31 20:26] danielskatz commented on #4690
@editorialbot start review

[2022-08-31 20:26] editorialbot opened #4722 "[REVIEW]: Scientific Computational Imaging Code (SCICO)"
**Submitting author:** @bwohlberg (<a href="http://orcid.org/0000-0002-4767-1843">Brendt Wohlberg</a>)
**Repository:** https://github.com/lanl/scico
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.0.2
**Editor:** @danielskatz
**Reviewers:** @vitorsr, @DanNixon, @lucaferranti
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/9c65b12d2b4be53b25a

[2022-08-31 20:26] #4690 closed

[2022-08-31 20:28] danielskatz commented on #4722
@vitorsr, @DanNixon, and @lucaferranti - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the s

[2022-08-31 20:29] hayesall commented on #4488
@faroit Sure, looks interesting!

[2022-08-31 20:31] danielskatz commented on #4328
@mhucka - we do need to keep making progress on this

[2022-08-31 22:04] tibordome commented on #4626
Thank you @adonath for your patience. We have published the new version v1.2.7. In regards to reviewers we could suggest Sownak Bose or Benedikt Diemer, though we are not sure how busy they are.

[2022-08-31 23:25] CamDavidsonPilon commented on #4566
👍 Happy with the final paper, my review is completed.

[2022-09-01 02:14] VHchavez commented on #4459
@editorialbot check references

[2022-09-01 02:53] VHchavez commented on #4459
@lucydot
Hello Lucy, the project with the tag `v0.9.1` has been uploaded to Zenodo with the DOI: 10.5281/zenodo.7039713

:)

[2022-09-01 02:54] CZHU20 commented on #4118
Hi @chennachaos
Thank you very much for your comments.
Regarding the YouTube tutorials, we currently only recorded some most common cases to demonstrate the main features of svFSI. Hence, all the README files of FSI cases pointed to this tutorial. I agree it's confusing, so we have added a clarification (see [here](https://github.com/SimVascular/svFSI-Tests/tree/master/07-fsi/ale/02-channel-block-

[2022-09-01 04:27] Nikoleta-v3 commented on #4688
No worries at all @rmflight :) thank you for answering 🚀

[2022-09-01 07:28] vissarion commented on #4582
Hi @tmigot, @metelkin, @vszkafander, @kylebeggs, @justinsgray, @jbcaillau, @PaulDebus  would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-09-01 07:39] PaulDebus commented on #4582
Hey,
I am interested but cannot promise to finish my review within the next two weeks, though I would try. If 4 weeks would also be fine, then I would review the submission.

[2022-09-01 07:44] vissarion commented on #4582
Hi @PaulDebus, sure 4 weeks is fine. Thanks!

[2022-09-01 07:44] vissarion commented on #4582
@editorialbot add @PaulDebus as reviewer

[2022-09-01 07:45] vissarion commented on #4582
I would like to have one more reviewer for this submission, so let's wait for other replies.

[2022-09-01 08:30] cbrueffer commented on #4688
I have to decline as well since I'm currently swamped, sorry @Nikoleta-v3. I agree with Robert though, looks interesting.

[2022-09-01 08:35] tkchafin commented on #4536
Sorry, I can't review this one.

[2022-09-01 08:39] jbcaillau commented on #4582
@vissarion hi, quite busy these days (new academic year). prefer to decline. regards

[2022-09-01 08:49] mschubert commented on #4688
I'm afraid I'll also be able to only review in ~ 4 weeks time, so if you find someone to do it faster please go with them instead.

(In addition, a potential COI: I've worked in the same place as Aaron for 7 months, 5 years ago)

[2022-09-01 09:56] ulf1 commented on #4718
@klb2 May I ask what the second author Eduard A. Jorswieck contributed exactly? He does not seem to made *software contributions* (see https://github.com/klb2/qmkpy/graphs/contributors). Please elaborate.

[2022-09-01 10:09] n8thangreen commented on #4206
Hi, and thanks @ajstewartlang.

* I've edited the references following the example on the JOSS website so hopefully this is ok now
* I've tagged the latest release of the package here https://github.com/n8thangreen/BCEA/releases/tag/v2.4.2
* I've archived the package files on Zenodo here https://zenodo.org/record/7040450#.YxCDhXbMJD8
* The DOI is 10.5281/zenodo.7040450

I think this has covered al

[2022-09-01 10:41] phpuech commented on #4557
Hi @prashjha,
thanks for your message, I was wondering I we did a mistake somewhere in the process, since it is our first submission ever to JOSS of our entire lab...
We sill go through the list and post here the names asap (should we use the @name here ?)
best
p

[2022-09-01 10:59] schochastics commented on #4563
@jbytecode no worries. Let me know if I can help finding someone

[2022-09-01 11:02] jbytecode commented on #4563
I have already sent a new invitation to @ccamara and I will wait a couple of days for a response, thank you.

[2022-09-01 11:05] ProfLeao commented on #4555
@editorialbot generate pdf

[2022-09-01 11:11] JustinSGray commented on #4582
I am willing to review

[2022-09-01 11:16] vissarion commented on #4582
@editorialbot start review

[2022-09-01 11:16] editorialbot opened #4723 "[REVIEW]: Metaheuristics: A Julia Package for Single- and Multi-Objective Optimization"
**Submitting author:** @jmejia8 (<a href="http://orcid.org/0000-0002-0367-2967">Jesus-Adolfo Mejia-de-Dios</a>)
**Repository:** https://github.com/jmejia8/Metaheuristics.jl
**Branch with paper.md** (empty if default branch): paper
**Version:** v3.2.12
**Editor:** @vissarion
**Reviewers:** @idoby, @PaulDebus
**Archive:**  10.5281/zenodo.7239440

## Status

[![status](https://joss.theoj.org/papers/7

[2022-09-01 11:16] #4582 closed

[2022-09-01 11:20] masadcv commented on #4532
@editorialbot generate pdf

[2022-09-01 11:24] masadcv commented on #4532
Many thanks @vissarion for confirming the scope.

@jacobmerson as request, I have updated docs/paper. Please find a copy of the updated paper above this comment.
I look forward to receiving your finalized feedback. Many thanks!

[2022-09-01 11:39] phpuech commented on #4557
Hi, we figured out a possible set
smsaladi , ryEllison, jenzopr, florian-huber, lorenzo-rovigatti
best

[2022-09-01 11:55] idoby commented on #4723
@editorialbot generate my checklist

[2022-09-01 12:32] samhforbes commented on #4657
Hi @peircej would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Please note this is a public issue, and your responses will also be public.

[2022-09-01 12:36] idoby commented on #4723
@jmejia8, first of all, thank you for submitting your work 📦 .

🎉 I want first to applaud the substantial effort that coding, testing and documenting this package must have required. From a first look, the package seems to be well-coded, testing coverage seems to be within the sweet-spot range and the documentation seems well thought-out, is aesthetically pleasing and organized well.

👌  Minor imp

[2022-09-01 12:52] jonathanHuwP commented on #4333
@lucydot @JoannaLeng

Thank you for your input, Joanna and myself have worked through these points. Most changes will be easy to find, but the first point we have added a paragraph to the "Statement of Need" section.

Please can you clarify the last point as we are interested in submitting another paper. Does JOSS generally publish papers primarily for users or developers?

If you are not happy wi

[2022-09-01 13:05] peircej commented on #4657
I'm not best placed for this one @samhforbes as I'm a Python junky. I don't even have R installed on my laptop! 😱

[2022-09-01 13:07] samhforbes commented on #4657
Thanks for responding @peircej - blame my inability to read!

[2022-09-01 13:27] Nikoleta-v3 commented on #4688
Thank you all for your replies! 🙏🏻  I will reach out to more people :) If I haven’t found anything in 2-3 weeks I will ping you again @mschubert

[2022-09-01 13:29] dsurujon commented on #4365
Hi @marcosvital I'm terribly sorry for the lack of response on my part. I am interested in reviewing this submission still, and can do so by the end of September if that is not too much of a delay.

[2022-09-01 15:02] kellijohnson-NOAA commented on #4497
@Bisaloo I can be a reviewer.

[2022-09-01 15:03] elbeejay commented on #4574
@rCarto - Following up here to ask 2 questions:

1. Have you taken a look at the review comments?
2. When do you anticipate being able to make the necessary changes to the code and the paper? A rough timeline can help both myself and our reviewers be prepared to revisit this.

[2022-09-01 15:04] elbeejay commented on #4646
@skiptoniam following up here to ask if you have any outstanding questions or problems making these revisions to the text of the paper. Thanks!

Jay

[2022-09-01 15:08] Bisaloo commented on #4497
@editorialbot add @kellijohnson-NOAA as reviewer

[2022-09-01 15:08] Bisaloo commented on #4497
Great, thanks for your answer and for your help!

We can get started. I'll close this pre-review issue to open the actual review. You will receive instructions there.

[2022-09-01 15:09] Bisaloo commented on #4497
@editorialbot start review

[2022-09-01 15:09] editorialbot opened #4724 "[REVIEW]: The sspm R package: spatial surplus production models for the management of northern shrimp fisheries"
**Submitting author:** @VLucet (<a href="http://orcid.org/0000-0003-0268-818X">Valentin Lucet</a>)
**Repository:** https://github.com/pedersen-fisheries-lab/sspm
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** @Bisaloo
**Reviewers:** @quang-huynh, @kellijohnson-NOAA
**Archive:** 10.5281/zenodo.8015102

## Status

[![status](https://joss.theoj.org/papers/d05

[2022-09-01 15:09] #4497 closed

[2022-09-01 15:15] Bisaloo commented on #4724
:wave: :wave: :wave: @VLucet, @quang-huynh, @kellijohnson-NOAA this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the

[2022-09-01 17:00] jhstaudacher commented on #4711
Thank you very much for your feedback, @danielskatz. Our software APGG is now under GNU General Public License v3.0.

[2022-09-01 17:03] jhstaudacher commented on #4711
As for potential reviewers for our paper on APGG, I would hereby like to suggest the following six researchers from your list: stulacy, bramvandijk88, jdreo, StefanKohekUMFERI, CFGrote or ieyjzhou.
Thank you very much for your time spent for our submission to JOSS.

[2022-09-01 18:33] editorialbot opened #4725 "[PRE REVIEW]: EcoWatcher: The WebApp for the Statistical Analysis of Global Warming"
**Submitting author:** @georgstag (<a href="http://orcid.org/0000-0002-7839-3700">Γεώργιος Σταγάκης</a>)
**Repository:** https://github.com/GeorgStag/EcoWatcher
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/a2f7f5c1b9fe480c09901b16b5eb062

[2022-09-01 18:34] Kevin-Mattheus-Moerman commented on #4725
@editorialbot set main as branch

[2022-09-01 18:35] Kevin-Mattheus-Moerman commented on #4725
@editorialbot check repository

[2022-09-01 18:35] Kevin-Mattheus-Moerman commented on #4725
@editorialbot generate pdf

[2022-09-01 18:36] editorialbot opened #4726 "[PRE REVIEW]: Hexatomic: An extensible, OS-independent platform for deep multi-layer linguistic annotation of corpora"
**Submitting author:** @sdruskat (<a href="http://orcid.org/0000-0003-4925-7248">Stephan Druskat</a>)
**Repository:** https://github.com/hexatomic/hexatomic
**Branch with paper.md** (empty if default branch): JOSS-paper
**Version:** v1.0.1
**Editor:** @ajstewartlang
**Reviewers:** @hsang, @reckart
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/826dfdf250a0f

[2022-09-01 18:41] Kevin-Mattheus-Moerman commented on #4725
@GeorgStag thanks for this submission. Unfortunately this submission does not meet our requirements for consideration of this work for JOSS. In particular the small size of this software submission does not conform to our ["substantial scholarly effort" criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). We will therefore proceed to reject this submission

[2022-09-01 18:41] Kevin-Mattheus-Moerman commented on #4725
@editorialbot reject

[2022-09-01 18:41] #4725 closed

[2022-09-01 18:42] editorialbot opened #4727 "[PRE REVIEW]: IGraph/M: graph theory and network analysis for Mathematica"
**Submitting author:** @szhorvat (<a href="http://orcid.org/0000-0002-3100-523X">Szabolcs Horvát</a>)
**Repository:** https://github.com/szhorvat/IGraphM
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 0.6.2
**Editor:** @prashjha
**Reviewers:** @leotrs, @pitsianis
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/09bbc9ab112fb0a9326

[2022-09-01 18:44] Kevin-Mattheus-Moerman commented on #4726
@editorialbot set JOSS-paper as branch

[2022-09-01 18:44] Kevin-Mattheus-Moerman commented on #4726
@editorialbot check repository

[2022-09-01 18:45] Kevin-Mattheus-Moerman commented on #4726
@editorialbot generate pdf

[2022-09-01 18:53] Kevin-Mattheus-Moerman commented on #4726
@editorialbot check references

[2022-09-01 18:54] editorialbot opened #4728 "[PRE REVIEW]: fastMONAI: a low-code deep learning library for medical image analysis"
**Submitting author:** @skaliy (<a href="http://orcid.org/0000-0002-0038-5540">Satheshkumar  Kaliyugarasan</a>)
**Repository:** https://github.com/MMIV-ML/fastMONAI
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/5f4293c0c2667e3ebcef829fbcf499c4/

[2022-09-01 19:00] Kevin-Mattheus-Moerman commented on #4726
@sdruskat thanks for this submission. I have just assigned the waitlisted label since all editors in this domain are currently busy handling other submissions. We will assign an editor once one becomes available.

[2022-09-01 19:13] editorialbot opened #4729 "[PRE REVIEW]: GAGA: a pipeline for GEM And GWAS Automation"
**Submitting author:** @bsnichols (<a href="http://orcid.org/0000-0003-1280-2070">Bethany Nichols</a>)
**Repository:** https://github.com/bsnichols/GAGA/
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/240c1c28e315d3b68cb49ff22d45c9c4/status.

[2022-09-01 19:14] szhorvat commented on #4727
Hm, I think editorialbot is looking at the branch which contains the paper (`joss-paper` branch). This is an orphan branch that only has the paper, but not the package. This might be why the line counts are invalid and it could not find a license. The relevant version of the package is on the `master` branch.

Do we need to place the paper on the same branch as the package? I would prefer to not m

[2022-09-01 19:14] szhorvat commented on #4727
@editorialbot commands

[2022-09-01 19:15] szhorvat commented on #4727
@editorialbot set master as branch

[2022-09-01 19:15] szhorvat commented on #4727
@editorialbot check repository

[2022-09-01 19:18] Kevin-Mattheus-Moerman commented on #4729
@editorialbot set main as branch

[2022-09-01 19:18] Kevin-Mattheus-Moerman commented on #4729
@editorialbot check repository

[2022-09-01 19:21] Kevin-Mattheus-Moerman commented on #4729
@editorialbot query-scope

[2022-09-01 19:23] Kevin-Mattheus-Moerman commented on #4729
@editorialbot query scope

[2022-09-01 19:23] szhorvat commented on #4727
Our suggestions are the following:

 - [Misha Lavrov](https://misha.fish/), not sure if he has a GitHub account, perhaps the editor can ask for it in email?
 - [Danial McDonald](https://resources.wolframcloud.com/publishers/resources?PublisherID=Daniel+McDonald), does not have a GitHub account, still possible to act as reviewer?
 - [yaroslavvb](https://community.wolfram.com/web/yaroslavvb)
 - [car

[2022-09-01 19:25] Kevin-Mattheus-Moerman commented on #4729
@bsnichols thanks for this submission. I have just flagged this for scope review by our editorial board. In particular due to the small size of this submission we will review if it conforms with out [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This scope review may take about 2 weeks.

[2022-09-01 19:26] editorialbot opened #4730 "[PRE REVIEW]: MParT: Monotone Parameterization Toolkit"
**Submitting author:** @mparno (<a href="http://orcid.org/0000-0002-9419-2693">Matthew Parno</a>)
**Repository:** https://github.com/MeasureTransport/MParT
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @diehlpk
**Reviewers:** @ansgarwenzel, @f-t-s
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/47379a12758596ff3f7799cb2d7

[2022-09-01 19:26] Kevin-Mattheus-Moerman commented on #4728
@editorialbot query scope

[2022-09-01 19:28] Kevin-Mattheus-Moerman commented on #4728
@skaliy thanks for this submission. I have just flagged this for scope review by our editorial board. In particular due to the small size of this submission we will review if it conforms with out [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This scope review may take about 2 weeks.

[2022-09-01 19:30] editorialbot opened #4731 "[PRE REVIEW]: datefixR: Standardize Dates in Different Formats or with Missing Data"
**Submitting author:** @nathansam (<a href="http://orcid.org/0000-0002-4437-8713">Nathan Constantine-Cooke</a>)
**Repository:** https://github.com/ropensci/datefixR
**Branch with paper.md** (empty if default branch): JOSS
**Version:** 1.1.0.9000
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/c147fd2b0e5ea2886655266

[2022-09-01 19:33] szhorvat commented on #4727
@editorialbot set joss-paper as branch

[2022-09-01 19:33] szhorvat commented on #4727
@editorialbot check repository

[2022-09-01 19:34] Kevin-Mattheus-Moerman commented on #4730
@mparno thanks for this submission. Our team will be looking for a handling editor. In the mean time could you please try to address those potentially missing/invalid DOIs :point_up: . You can update your .bib file and paper if needed and update the draft paper using `@editorialbot generate pdf` and use `@editorialbot check references` to redo the check. Thanks.

[2022-09-01 19:35] Kevin-Mattheus-Moerman commented on #4730
@editorialbot invite @diehlpk as editor

@diehlpk is this something you can help edit? Thanks

[2022-09-01 19:36] editorialbot opened #4732 "[PRE REVIEW]: PDENLPModels.jl: An NLPModel API for 1 Optimization Problems with PDE-Constraints"
**Submitting author:** @tmigot (<a href="http://orcid.org/0000-0001-7729-2513">Tangi Migot</a>)
**Repository:** https://github.com/JuliaSmoothOptimizers/PDENLPModels.jl
**Branch with paper.md** (empty if default branch): joss-paper-branch
**Version:** v0.3.2
**Editor:** @jbytecode
**Reviewers:** @jmejia8, @HaoZeke
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/pap

[2022-09-01 19:37] Kevin-Mattheus-Moerman commented on #4731
@editorialbot query scope

[2022-09-01 19:39] Kevin-Mattheus-Moerman commented on #4731
@nathansam thanks for this submission. I have just flagged this for scope review by our editorial board. In particular due to the relatively small size, and limited functionality of this submission we will review if it conforms with our [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This scope review may take about 2 wee

[2022-09-01 19:39] editorialbot opened #4733 "[PRE REVIEW]: GTdownloader: A Python package to download, visualize, and export georeferenced tweets"
**Submitting author:** @jugacostase (<a href="http://orcid.org/0000-0002-2940-1874">Juan Guillermo Acosta Sequeda</a>)
**Repository:** https://github.com/jugacostase/gtdownloader
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.11
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/ed50b5d42d86b78d4

[2022-09-01 19:40] Kevin-Mattheus-Moerman commented on #4732
@tmigot thanks for this submission. Our team will be looking for a handling editor. In the mean time could you please try to address those potentially missing/invalid DOIs :point_up: . You can update your .bib file and paper if needed and update the draft paper using `@editorialbot generate pdf` and use `@editorialbot check references` to redo the check. Thanks.

[2022-09-01 19:44] Kevin-Mattheus-Moerman commented on #4732
@tmigot this is just a small comment after having a look at your README, it says:
`PDENLPModels specializes the [NLPModel API](https://github.com/JuliaSmoothOptimizers/NLPModels.jl) to optimization problem with partial differential equation in the constraints.`
Check if I am right, but it seems like perhaps it should read:
`PDENLPModels specializes the [NLPModel API](https://github.com/JuliaSmooth

[2022-09-01 19:46] Kevin-Mattheus-Moerman commented on #4732
@jbytecode this seems like it might be your cup of tea :tea: but it looks like you are handling many other submissions. I'll waitlist this for now given that no other editors are available either, but let me know if we can assign it to you already at this point.

[2022-09-01 19:47] Kevin-Mattheus-Moerman commented on #4732
@tmigot :point_up: note we have waitlisted this submision since all editors in this domain are busy handling many other submissions. We will assign an editor as soon as one becomes available. Thanks.

[2022-09-01 19:47] editorialbot opened #4734 "[PRE REVIEW]: fqar: An R package for analyzing floristic quality assessment data"
**Submitting author:** @equitable-equations (<a href="http://orcid.org/0000-0003-4434-0755">Andrew Gard</a>)
**Repository:** https://github.com/equitable-equations/fqar
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/76593a3b496c198f67ac90a2fef54

[2022-09-01 19:48] Kevin-Mattheus-Moerman commented on #4733
@editorialbot query scope

[2022-09-01 19:49] Kevin-Mattheus-Moerman commented on #4733
@jugacostase thanks for this submission. I have just flagged this for scope review by our editorial board. In particular due to the small size of this submission we will review if it conforms with our [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This scope review may take about 2 weeks.

[2022-09-01 19:50] Kevin-Mattheus-Moerman commented on #4734
@editorialbot query scope

[2022-09-01 19:51] Kevin-Mattheus-Moerman commented on #4734
@equitable-equations thanks for this submission. I have just flagged this for scope review by our editorial board. In particular due to the small size of this submission we will review if it conforms with our [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This scope review may take about 2 weeks.

[2022-09-01 19:58] jbytecode commented on #4732
 @Kevin-Mattheus-Moerman - Yet another beautiful Julia package comes again, and It seems this submission is not the first one of @tmigot, here is the [previous one](https://joss.theoj.org/papers/10.21105/joss.03991.pdf) which has been edited by me. Of course I am accepting being the handling editor, nowadays, everybody is in their summer holiday and I can take care with it with my cup of coffee :)

[2022-09-01 19:59] Kevin-Mattheus-Moerman commented on #4732
@editorialbot assign @jbytecode as editor

[2022-09-01 20:16] jbytecode commented on #4732
@tmigot - While I prepare my desk for your paper, you can start with correcting DOI issues that are suggested by our editorial bot above. Thank you in advance.

[2022-09-01 20:29] jbytecode commented on #4732
👋👋👋 Dear @lheagy and @ChrisRackauckas    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**PDENLPModels.jl: An NLPModel API for 1 Optimization Problems with PDE-Constraints**". You can find more information at the top o

[2022-09-01 20:48] hrossman commented on #4566
Hi all,
Ok, so I see @CamDavidsonPilon Review checklist is complete
regarding open points in @stefanocoretta review checklist:

1 -  Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution.

Reply: Installation is properly managed via Pypi. Instructions available both for pip installation and local git

[2022-09-01 21:04] bonh commented on #4730
@editorialbot check references

[2022-09-01 21:05] bonh commented on #4730
@editorialbot generate pdf

[2022-09-01 21:06] mparno commented on #4730
@editorialbot check references

[2022-09-01 21:41] mparno commented on #4730
Depending on availability and interest, [Florian Schaefer](https://cse.gatech.edu/people/florian-schafer), [Lars Ruthotto](https://www.math.emory.edu/people/faculty/individual.php?NUM=354), or someone in their groups could be valuable reviewers.

[2022-09-01 22:02] diehlpk commented on #4637
@lluisjofre just checking on the progress you made?

[2022-09-02 02:17] YuhanLiin commented on #4330
I'm also more suited toward reviewing Rust language use rather than the ML theory. I can help if I have time.

[2022-09-02 02:21] jgostick commented on #4644
@editorialbot set v0.3.8 as version

[2022-09-02 02:21] jgostick commented on #4644
@editorialbot set 10.5281/zenodo.7038825 as doi

[2022-09-02 02:22] jgostick commented on #4644
@editorialbot recommend-accept

[2022-09-02 02:23] jgostick commented on #4644
@editorialbot set 10.5281/zenodo.7038825 as archive

[2022-09-02 02:38] jgostick commented on #4644
@editorialbot set 10.5281/zenodo.7038825 as archive

[2022-09-02 02:38] jgostick commented on #4644
@editorialbot recommend-accept

[2022-09-02 03:02] jgostick commented on #4397
Hi @RBrearton, how are things progressing?

[2022-09-02 05:52] alexriss commented on #4644
@editorialbot accept

[2022-09-02 05:53] alexriss commented on #4644
... it seems ok to me!

[2022-09-02 07:18] sdruskat commented on #4726
@Kevin-Mattheus-Moerman, thanks for handling this. I'm looking forward for this to be assigned an editor. I'm fully aware that JOSS operates on a voluntary basis, and that we're all very busy, so thanks very much in advance to everyone who'll handle this submission.

We'll look into potential reviewers and will make suggestions here.

[2022-09-02 08:54] ptmerz commented on #4693
@editorialbot generate my checklist

[2022-09-02 08:58] jbytecode commented on #4563
Dear @alexanderfurnas,

Our first reviewer has completed their tasks. Because we failed to reach our 2nd reviewer, I need a second reviewer for this submission.

Would you be willing to review for this submission for JOSS (Journal of Open Source Software)?

Thank you in advance.

[2022-09-02 09:13] ajstewartlang commented on #4206
@editorialbot check references

[2022-09-02 09:14] ajstewartlang commented on #4206
@editorialbot generate pdf

[2022-09-02 09:29] klb2 commented on #4718
Hi @ulf1
Thank you for agreeing to serve as a reviewer of our submission.

It is correct that the second author (Eduard Jorswieck) did not contribute code to the repository. However, he actively contributed behind the scenes to the conception of the framework, he suggested solution algorithms like the implemented round-robin scheme.
In the [documentation of JOSS](https://joss.readthedocs.io/en/lat

[2022-09-02 11:45] MaximLippeveld commented on #4720
@editorialbot generate my checklist

[2022-09-02 12:02] mscheltienne commented on #4564
Hello everyone, I wanted to thank you for all your reviews and apologize for the time it takes @vferat and myself to respond and address your reviews. We are lacking the bandwidth at the moment and will address your reviews soon.

[2022-09-02 12:17] kyleniemeyer commented on #3428
@cwentland0 sorry, I have not been able to get to this, and don't think I realistically will until at least the holiday on Monday.

[2022-09-02 13:08] skaliy commented on #4728
@editorialbot generate pdf

[2022-09-02 13:18] skaliy commented on #4728
@editorialbot check references

[2022-09-02 13:34] sdhutchins commented on #4236
Working now on this

[2022-09-02 13:49] jgostick commented on #4644
The editor in chief always spots a few things that I missed, so they'll do the final acceptance next tiem they're free.

[2022-09-02 14:44] Ajstros commented on #4586
@danielskatz Is there anything we can do while we wait for an editor to become available?

[2022-09-02 14:47] danielskatz commented on #4586
no, sorry.

[2022-09-02 15:13] diehlpk commented on #4617
Hi @JeWaVe,

could you please provide more details on the time you spent on developing the code?

What is the benefit of this code to the scientific community?

[2022-09-02 15:13] diehlpk commented on #4730
@editorialbot add @diehlpk as editor

[2022-09-02 15:15] diehlpk commented on #4730
Hi @f-t-s would you have time to review this paper?

[2022-09-02 15:29] JeWaVe commented on #4617
Sure I will. I'm too busy with other projects right now but I will.

Envoyé depuis Proton Mail mobile

-------- Message d'origine --------
Le 2 sept. 2022 à 17:13, Patrick Diehl a écrit :

[2022-09-02 15:33] samhforbes commented on #4657
@editorialbot add @milenamilena as reviewer

[2022-09-02 15:35] pjb7687 commented on #4720
@editorialbot generate my checklist

[2022-09-02 15:44] relf commented on #4330
@arfon, is it ok to start the review process?

[2022-09-02 17:14] jbytecode commented on #4563
Dear @corybrunson,

Our first reviewer has completed their tasks. Because we failed to reach our 2nd reviewer, I need a second reviewer for this submission.

Would you be willing to review for this submission for JOSS (Journal of Open Source Software)?

Thank you in advance.

[2022-09-02 17:36] corybrunson commented on #4563
@jbytecode i would be glad to review the submission, though i would not be able to begin until September 17. Hopefully another reviewer can volunteer, but if not then i should be able to complete my review by September 24.

[2022-09-02 17:38] danielskatz commented on #4696
Having not heard from @shyamd and with @yadudoc's volunteering, I'm going to add @yadudoc and then start the review. @shyamd - we'll be happy to have you on a future review!

[2022-09-02 17:38] danielskatz commented on #4696
@editorialbot add @yadudoc as reviewer

[2022-09-02 17:38] danielskatz commented on #4696
@editorialbot start review

[2022-09-02 17:38] editorialbot opened #4735 "[REVIEW]: WATTS: Workflow and template toolkit for simulation"
**Submitting author:** @paulromano (<a href="http://orcid.org/0000-0002-1147-045X">Paul Romano</a>)
**Repository:** https://github.com/watts-dev/watts
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.4.0
**Editor:** @danielskatz
**Reviewers:** @sskutnik, @munkm, @yadudoc
**Archive:** 10.5281/zenodo.7309095

## Status

[![status](https://joss.theoj.org/papers/04749c75d

[2022-09-02 17:38] #4696 closed

[2022-09-02 17:40] danielskatz commented on #4735
@sskutnik & @munkm & @yadudoc - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission

[2022-09-02 17:40] jbytecode commented on #4563
@corybrunson - thank you so much for the response. The deadline is okay to me. I am now registering you as the 2nd reviewer for this submission.

[2022-09-02 17:41] jbytecode commented on #4563
@editorialbot add @corybrunson as reviewer

[2022-09-02 17:41] jbytecode commented on #4563
@editorialbot generate pdf

[2022-09-02 17:48] dshean commented on #4700
Link to new paper repo: https://github.com/ICESat2-SlideRule/paper

README.md and paper.md both contain updated list of project repos with links and brief description

[2022-09-02 17:57] jbytecode commented on #4563
@corybrunson - Please type

`@editorialbot generate my checklist`

when you are ready. Thank you in advance.

[2022-09-02 18:17] lheagy commented on #4732
Thanks for reaching out! I am sorry, but I am swamped with the beginning of term and don't have time to take this on. It looks like a very interesting project

[2022-09-02 18:18] dshean commented on #4700
@leouieda, here is a list of potential reviewers, with links to github pages. We attempted to identify individuals with broad expertise who could review different components of the SlideRule project:
- [Joe Kennedy](https://github.com/jhkennedy), ASF/HyP3
- [Alex Gardner](https://github.com/alex-s-gardner), JPL/ITS_LIVE
- [Chris Crosby](https://github.com/cjcrosby), OpenTopography/OpenAltimetry
-

[2022-09-02 18:24] jbytecode commented on #4732
@lheagy - thank you for the response. Hope to work in future projects, then.

[2022-09-02 18:30] jbytecode commented on #4732
👋👋👋 Dear @HaoZeke and @matbesancon    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**PDENLPModels.jl: An NLPModel API for 1 Optimization Problems with PDE-Constraints**". You can find more information at the top of t

[2022-09-02 19:32] tmigot commented on #4732
@editorialbot generate pdf

[2022-09-02 19:34] tmigot commented on #4732
@editorialbot check references

[2022-09-02 21:56] OHildreth commented on #4257
@MatthieuDartiailh @kyleniemeyer
Hi, I was wondering if there is anything I can do or issues I could address to help move the review forward?

Thanks,
  Owen

[2022-09-02 22:40] raolivei13 commented on #4259
Hello,
I'm Richard. Apologies for the late comment, when I was initially informed of this, the email has gotten lost or I may have not received it. I can review the paper, that is what is needed correct?

[2022-09-02 22:44] raolivei13 commented on #4259
This is the link to the paper correct? [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04259/joss.04259/10.21105.joss.04259.pdf)

[2022-09-03 05:19] shyamd commented on #4696
Crud! Sorry, I did mean I could review. Just got very side tracked by life this week and didn't check my GitHub til now. Next time!

[2022-09-03 09:49] lluisjofre commented on #4637
Dear @diehlpk,

We have completed answering the comments/questions raised by the 2 reviewers.
Responses are available in the PDF file attached to this message.

Thanks for your time and attention.

Best,
Lluis
[response_to_reviewers_4637.pdf](https://github.com/openjournals/joss-reviews/files/9482330/response_to_reviewers_4637.pdf)

[2022-09-03 12:18] danielskatz commented on #4696
No worries. For next time, a clear reply that you want to review would be easier to interpret than an emoji 😀

[2022-09-03 15:32] jeffreyhanson commented on #4594
Hi @DrMattG, I just wanted to follow up and ask if there was anything I could do to help you complete the review? I'd be happy to answer any questions if you're experiencing any issues with installing the package or using any of the functions?

[2022-09-03 15:36] jeffreyhanson commented on #4594
Sorry, I forgot to respond about the operating systems checks. @Jo-Schie is correct - CRAN does ineeded run automated checks. Briefly, these checks include installation checks, a range of code and documentation checks, and unit tests. They are run on several platforms including Debian, Windows, Fedora, and macOS (including on M1 Macs) (see here for platforms: https://cran.r-project.org/web/checks/

[2022-09-03 16:16] f-t-s commented on #4730
I have never reviewed for joss. Where can I find the paper? Is it just the three-page article linked above?

[2022-09-03 16:51] jbytecode commented on #4732
👋👋👋 Dear @Moelf    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**PDENLPModels.jl: An NLPModel API for 1 Optimization Problems with PDE-Constraints**". You can find more information at the top of this Github issue (h

[2022-09-03 17:13] jbytecode commented on #4732
👋👋👋 Dear @jmejia8    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**PDENLPModels.jl: An NLPModel API for 1 Optimization Problems with PDE-Constraints**". You can find more information at the top of this Github issue

[2022-09-03 17:46] jmejia8 commented on #4732
Dear @jbytecode

I am available to review this submission. Thank you for the invitation.

[2022-09-03 17:48] jbytecode commented on #4732
@editorialbot add @jmejia8 as reviewer

[2022-09-03 17:49] jbytecode commented on #4732
Dear @jmejia8

Thank you for accepting our invitation. Whenever we find a second reviewer, we will start the review in a separate thread. I will present the instructions there.

Thank you in advance!

[2022-09-03 20:37] HaoZeke commented on #4732
I'm willing to review as well :)

[2022-09-03 20:44] jbytecode commented on #4732
@editorialbot add @HaoZeke as reviewer

[2022-09-03 20:45] jbytecode commented on #4732
@editorialbot start review

[2022-09-03 20:45] editorialbot opened #4736 "[REVIEW]: PDENLPModels.jl: An NLPModel API for Optimization Problems with PDE-Constraints"
**Submitting author:** @tmigot (<a href="http://orcid.org/0000-0001-7729-2513">Tangi Migot</a>)
**Repository:** https://github.com/JuliaSmoothOptimizers/PDENLPModels.jl
**Branch with paper.md** (empty if default branch): joss-paper-branch
**Version:** v0.3.3
**Editor:** @jbytecode
**Reviewers:** @jmejia8, @HaoZeke
**Archive:** https://doi.org/10.5281/zenodo.7447623

## Status

[![status](https://j

[2022-09-03 20:45] #4732 closed

[2022-09-03 20:47] jbytecode commented on #4736
Dear @jmejia8 and @HaoZeke

This is the review thread. Firstly, type

[code]

to generate your own checklist. In that checklist, there are 20 check items. Whenever you complete the corresponding task, you can check off them. The review process is interactive so you can always interact with the authors, reviewers, and the editor. You can also create issues and pull requests in the target repo. Plea

[2022-09-03 20:54] jbytecode commented on #4732
Dear author @tmigot and reviewers @jmejia8, @HaoZeke

Please follow the review thread at https://github.com/openjournals/joss-reviews/issues/4736

Thank you in advance.

[2022-09-03 22:19] majensen commented on #4522
@nhejazi - I think the paper as such is very well written. What I am struggling with is, will a prospective user of the package be likely to read it? This may not be a big concern, given the popularity of the package. In the interest of making a better paper, though, I want to suggest making the internal paragraphs (i.e., not Statement of Need or Scope) 50-75% of their current length. This would f

[2022-09-03 22:25] majensen commented on #4566
Thanks @hrossman - I think we can head towards the exit! I will take an editorial look at the paper itself, this might generate some (likely minor) comments. I'll put those here soon. Once the paper text is finalized, I'll give some info about creating an open archive of the code and proceeding to the final sign off by an associate editor-in-chief.

[2022-09-03 22:25] majensen commented on #4566
@editorialbot generate pdf

[2022-09-03 22:30] majensen commented on #4678
Hi @ethanwhite - how is your review coming along? Thanks.

[2022-09-03 22:45] kanderso-nrel commented on #4443
@editorialbot generate pdf

[2022-09-04 07:17] arfon commented on #4330
Thanks @bytesnake. We don't need a detail response letter here but if you find issues associated with the submission, we do ask that you say what they are and ideally open issues on the repository (https://github.com/relf/egobox). You're correct though that there's no 'review letters' being passed around here 😄

[2022-09-04 07:17] arfon commented on #4330
@editorialbot add @bytesnake as reviewer

[2022-09-04 07:17] arfon commented on #4330
@editorialbot add @relf as reviewer

[2022-09-04 07:17] arfon commented on #4330
@editorialbot remove @relf as reviewer

[2022-09-04 07:18] arfon commented on #4330
@editorialbot add @quietlychris as reviewer

[2022-09-04 07:18] arfon commented on #4330
@editorialbot add @YuhanLiin as reviewer

[2022-09-04 07:18] arfon commented on #4330
@editorialbot start review

[2022-09-04 07:18] editorialbot opened #4737 "[REVIEW]: egobox, a Rust toolbox for efficient global optimization"
**Submitting author:** @relf (<a href="http://orcid.org/0000-0001-5479-2961">Rémi Lafage</a>)
**Repository:** https://github.com/relf/egobox
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.5.0
**Editor:** @arfon
**Reviewers:** @bytesnake, @quietlychris, @YuhanLiin
**Archive:** 10.5281/zenodo.7159007

## Status

[![status](https://joss.theoj.org/papers/0b252f280b5e5b67b9cab

[2022-09-04 07:18] #4330 closed

[2022-09-04 07:19] arfon commented on #4330
@bytesnake, @quietlychris, @YuhanLiin – thanks for agreeing to review this submission for JOSS! See you all over in #4737 where the actual review will take place.

[2022-09-04 07:19] arfon commented on #4737
@bytesnake, @quietlychris, @YuhanLiin – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Please create your checklist typing:

[code]

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guide

[2022-09-04 07:20] arfon commented on #3896
@editorialbot set 10.5281/zenodo.6934418 as archive

[2022-09-04 07:20] arfon commented on #3896
@editorialbot recommend-accept

[2022-09-04 07:21] arfon commented on #4312
@editorialbot set 10.5281/zenodo.7030890 as archive

[2022-09-04 07:21] arfon commented on #4312
@editorialbot recommend-accept

[2022-09-04 07:22] arfon commented on #4312
Hrm. Looks like the GitLab instance is down (https://jugit.fz-juelich.de/compflu/swalbe.jl/):

<img width="1078" alt="Screenshot 2022-09-04 at 08 22 31" src="https://user-images.githubusercontent.com/4483/188302291-0226b969-1f66-4507-a27a-176cfd426b81.png">

[2022-09-04 07:26] arfon commented on #3896
@slayoo – this line in your BibTeX is tripping up the XML validation: https://github.com/atmos-cloud-sim-uj/PyMPDATA/blob/main/paper/paper.bib#L220

Could you change it to be a valid preprint BibTeX entry?

[2022-09-04 07:34] arfon commented on #4714
@editorialbot reject

@zhuangyh – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/acti

[2022-09-04 07:34] #4714 closed

[2022-09-04 07:35] arfon commented on #4717
@janosh - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on

[2022-09-04 07:35] #4717 closed

[2022-09-04 07:35] arfon commented on #4717
@editorialbot reject

[2022-09-04 07:51] Zitzeronion commented on #4312
Interesting the link works for me right now. 🤔

[2022-09-04 08:02] arfon commented on #3496
OK thanks for the update @Natsiopoulos – could you please give us a firm timeline for addressing this last issue?

[2022-09-04 09:06] relf commented on #4737
Thank you for agreeing to review @bytesnake, @quietlychris and @YuhanLiin.

[2022-09-04 12:18] arfon commented on #4312
@editorialbot recommend-accept

[2022-09-04 12:30] arfon commented on #4312
@Zitzeronion – I found a few typos and formatting issues with your paper. Can you use this gist for your `paper.md`: https://gist.github.com/arfon/27653e1abe815a9863c38db30026ec67

[2022-09-04 13:57] nhejazi commented on #4522
Thanks for weighing in on this and for the summary provided @majensen — I think what you’ve come up with is on point. I agree also that the readability — and brevity — of the paper is very important, much more so than the inclusion of possibly extraneous details. I’ll go through the paper and make cuts where I can later this week.

[2022-09-04 15:39] Zitzeronion commented on #4312
Thanks a lot @arfon for the gist and your editorial work. I've copied the gist, and I'm sorry for using the wrong markdown style. The missing DOI for Sidney Chapmans: "*The mathematical theory of non-uniform gases*" is not 10.1038/144993a0. I couldn't find a DOI for that work, only an ISBN *9780521408448* of the third edition.

[2022-09-04 16:16] slayoo commented on #3896
@arfon, fixed here: https://github.com/atmos-cloud-sim-uj/PyMPDATA/commit/1ad49aad3dcac7ec299637005f143ad363d6c7b6
Thank you!

[2022-09-04 16:16] slayoo commented on #3896
@whedon check references from branch main

[2022-09-04 16:17] slayoo commented on #3896
@editorialbot check references from branch main

[2022-09-04 16:17] slayoo commented on #3896
@editorialbot generate pdf

[2022-09-04 16:24] ppxasjsm commented on #4719
@mturiansky, @wcwitt, Please go ahead and start your review by generating your checklist. Do let me know if you have any problems/issues in the meantime.

[2022-09-04 17:37] quang-huynh commented on #4724
@editorialbot generate my checklist

[2022-09-04 17:49] slayoo commented on #3896
@editorialbot generate pdf

[2022-09-04 20:30] mturiansky commented on #4719
@editorialbot generate my checklist

[2022-09-04 21:05] faroit commented on #4458
@editorialbot generate pdf

[2022-09-04 21:05] faroit commented on #4458
@editorialbot check references

[2022-09-04 21:10] faroit commented on #4458
@vsoch Everything looks good from my side. For the next steps, please make a new release of the package and archive it, for example on zenodo. Once you complete those tasks, please report here the version number and doi. Please ensure that the archive's author names and title match exactly those of the paper.pdf.

[2022-09-04 21:12] faroit commented on #4434
@carrasqu @I-am-Bot @ChandlerBang @jblsmith @yujiakimoto @davidbrandfonbrener @ABAtanasov is anyone of you available for a review?

[2022-09-04 21:13] faroit commented on #4488
@editorialbot add @hayesall to reviewers

[2022-09-04 21:14] faroit commented on #4488
@hayesall thanks a lot!

[2022-09-04 21:18] faroit commented on #4488
@editorialbot generate pdf

[2022-09-04 21:18] faroit commented on #4488
@editorialbot check references

[2022-09-04 21:23] faroit commented on #4488
@xinyiguan we now have the required number of reviewers and thus can start the review process. In the meantime, can you please update the DOIs in the paper (see missing DOIs above)?

[2022-09-04 21:23] faroit commented on #4488
@editorialbot start review

[2022-09-04 21:23] editorialbot opened #4738 "[REVIEW]: py2lispIDyOM: A Python package for IDyOM"
**Submitting author:** @xinyiguan (<a href="http://orcid.org/0000-0002-4570-906X">Xinyi Guan</a>)
**Repository:** https://github.com/xinyiguan/py2lispIDyOM
**Branch with paper.md** (empty if default branch):
**Version:** v.1.0.2
**Editor:** @faroit
**Reviewers:** @AoifeHughes, @hayesall
**Archive:** 10.5281/zenodo.7272236

## Status

[![status](https://joss.theoj.org/papers/3f2e7b31cf9ee2f96ba631f

[2022-09-04 21:23] #4488 closed

[2022-09-04 21:27] faroit commented on #4738
👋🏼 @xinyiguan @AoifeHughes @hayesall this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check a

[2022-09-04 21:32] faroit commented on #4584
@SuperKogito I will go with @hadware and @hbredin for this submission as I think they a good fit.

@hbredin end of this month is fine, thanks again!

[2022-09-04 21:33] faroit commented on #4584
@editorialbot add @hadware to reviewers

[2022-09-04 21:33] faroit commented on #4584
@editorialbot add @hbredin to reviewers

[2022-09-04 21:33] faroit commented on #4584
@editorialbot generate pdf

[2022-09-04 21:33] faroit commented on #4584
@editorialbot check references

[2022-09-04 21:35] faroit commented on #4584
@editorialbot start review

[2022-09-04 21:35] editorialbot opened #4739 "[REVIEW]: Spafe: Simplified python audio features extraction"
**Submitting author:** @SuperKogito (<a href="http://orcid.org/0000-0002-9008-7562">Ayoub Malek</a>)
**Repository:** https://github.com/SuperKogito/spafe
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.1
**Editor:** @faroit
**Reviewers:** @hadware, @hbredin
**Archive:** 10.5281/zenodo.7533946

## Status

[![status](https://joss.theoj.org/papers/dd1872c99f05b308d805eb56bd34d40

[2022-09-04 21:35] #4584 closed

[2022-09-04 21:36] faroit commented on #4739
👋🏼 @SuperKogito, @hadware, @hbredin this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check an

[2022-09-04 22:00] vsoch commented on #4458
okay DOI is created, added to the repository along with a CITATION.cff! https://github.com/vsoch/citelang

I think Zenodo might be lagged in actually creating the page for it - there is a notification at the top about uploading issues. So I can't edit the metadata and ensure the author/title are OK, but I'll keep checking it today and update when I can. I can also ping you here when it is fully fo

[2022-09-04 22:13] vsoch commented on #4458
Update: is working! And I've fixed the title and my author name! https://zenodo.org/record/7048920

[2022-09-05 00:19] hayesall commented on #4738
@editorialbot generate my checklist

[2022-09-05 01:19] tretherington commented on #4662
@editorialbot generate my checklist

[2022-09-05 03:01] tretherington commented on #4662
Apologies @FlukeAndFeather for the slow start on this.  I've had a first go but have got stuck on installation - something that I think will need to be well documented to get an R using ecologist using your package.  I've raised some issues in the hope they help you to improve things. 😄

[2022-09-05 06:25] faroit commented on #4458
@editorialbot set https://doi.org/10.5281/zenodo.7048920 as archive

[2022-09-05 06:25] faroit commented on #4458
@editorialbot set 0.0.33 as version

[2022-09-05 06:27] faroit commented on #4458
@editorialbot recommend-accept

[2022-09-05 07:30] MaximLippeveld commented on #4720
I have finished my initial review. I like the overall quality of the software and the paper :+1: I did not check the 'reproducibility' and 'performance' boxes yet.

Concerning the reproducibility, I was not able to find how to reproduce figure 1A and 1B from the paper. Are there any instructions I missed?

Concerning the performance claims, it is stated that ntHash implementation is "A very effici

[2022-09-05 07:32] AoifeHughes commented on #4738
@editorialbot generate my checklist

[2022-09-05 08:19] lucydot commented on #4624
@darinddv, @hgandhi2411  - let me know if I can help with anything - if you are unable to make progress on the review right now, an idea for your expected timeline would be useful.

[2022-09-05 08:22] lucydot commented on #4459
@editorialbot check references

[2022-09-05 08:26] lucydot commented on #4459
@editorialbot generate pdf

[2022-09-05 08:28] pjb7687 commented on #4720
I have also finished my initial review. For me, the library seems to be a dedicated library for internal use rather than a general bioinformatics library. But I think the code quality is overall very good and the source code is well maintained on Github. The package will be useful for some use cases, e.g. sequencing data I/O or some algorithms based on bloom filters. There could be some other grou

[2022-09-05 08:29] lucydot commented on #4672
Hi Rupali - there is some more documentation here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html.

Github can be a bit daunting when you first use it, however you only need to think about the issue thread (there is a lot more github functionality which isn't used in this process).

You can run the commands in the Github thread itself (rather than via email) - the thread address is

[2022-09-05 08:31] lucydot commented on #4333
@editorialbot generate pdf

[2022-09-05 08:31] lucydot commented on #4333
@editorialbot check references

[2022-09-05 08:34] lucydot commented on #4459
@VHchavez  - the latest paper doesn't include the changes you made - it looks like your commit which included the additional dois has been reverted? (https://github.com/wasserman-group/pyCADMium/commit/26b4751229e412049f4f968ab3d475ff6fd0de9d)

[2022-09-05 08:45] adi3 commented on #4671
@expectopatronum @hbaniecki @feliperodri @Kraks @mmpourhashem - Would any of you be interested in reviewing this paper on robotics? We'd greatly appreciate your help!

[2022-09-05 08:50] mmpourhashem commented on #4671
Can I have more information about the paper?

[2022-09-05 08:52] lucydot commented on #4333
@jonathanHuwP @JoannaLeng could you check if there are dois available for two of the references - Das, G. (2021b) and Krasner, G., & Pope, S. (1988)?

I'm not exactly sure how best to answer this question. JOSS is a developer-friendly journal, however the review process is much more focused on user experience (e.g. documentation, installation, functionality) rather than reviewing the experience as

[2022-09-05 08:53] faroit commented on #4434
@yiitozer would you be available and interested as a reviewer for this software?

[2022-09-05 09:02] Nikoleta-v3 commented on #4688
👋🏻 @jsun @tkmamidi @gtonkinhill @pjb7687 @jaybee84 would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "basilisk: a Bioconductor package for managing Python environments". You can find

[2022-09-05 09:10] adi3 commented on #4671
@mmpourhashem - Sure! [Here](https://github.com/openjournals/joss-papers/blob/joss.04671/joss.04671/10.21105.joss.04671.pdf) is the paper draft. Please feel free to ask the author @ritamraha any questions on paper details.

[2022-09-05 09:36] arfon commented on #4312
@editorialbot recommend-accept

[2022-09-05 09:41] arfon commented on #4312
@editorialbot accept

[2022-09-05 09:43] arfon commented on #3896
@editorialbot recommend-accept

[2022-09-05 09:51] arfon commented on #3896
@slayoo – can you merge this PR please? It fixes a few minor formatting issues: https://github.com/atmos-cloud-sim-uj/PyMPDATA/pull/337

[2022-09-05 09:51] arfon commented on #4312
@mbernaschi, @lnacquaroli – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@Zitzeronion  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-05 09:51] #4312 closed

[2022-09-05 09:53] slayoo commented on #3896
Merged, thank you, @arfon!

[2022-09-05 09:58] arfon commented on #4404
@editorialbot accept

[2022-09-05 10:02] arfon commented on #4433
@editorialbot accept

[2022-09-05 10:08] arfon commented on #4458
@editorialbot accept

[2022-09-05 10:11] arfon commented on #4404
@vsangelidakis, @dbrizard  – many thanks for your reviews here and to @prashjha for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ccaprani  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-05 10:11] #4404 closed

[2022-09-05 10:11] arfon commented on #4433
@bede, @tijeco – many thanks for your reviews here and to @jmschrei  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jmcbroome  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-05 10:11] #4433 closed

[2022-09-05 10:12] arfon commented on #4458
@gflofst, @rmmilewi – many thanks for your reviews here and to @faroit  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@vsoch  – your paper is now accepted and published in JOSS :zap::rocket::boom: This is such a neat piece of work – I'm hoping I get to use it!

[2022-09-05 10:12] #4458 closed

[2022-09-05 10:13] arfon commented on #4495
@editorialbot recommend-accept

[2022-09-05 10:27] arfon commented on #4495
@LucyMcGowan – could you please merge this PR that has a couple of typos fixed? https://github.com/LucyMcGowan/tipr/pull/10

[2022-09-05 10:33] arfon commented on #4644
@editorialbot accept

Not this time @jgostick. Looks good to me!

[2022-09-05 10:37] arfon commented on #4644
@jingpengw, @kasasxav – many thanks for your reviews here and to @jgostick for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@alexriss  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-05 10:37] #4644 closed

[2022-09-05 10:39] arfon commented on #3896
@editorialbot recommend-accept

[2022-09-05 10:43] arfon commented on #3896
@editorialbot accept

[2022-09-05 10:56] slayoo commented on #3896
@arfon Thank you!
Unfortunately, we have an issue with a non-breaking space in the title that is wrongly displayed on the JOSS website here:
![image](https://user-images.githubusercontent.com/89685/188433194-a3b895ed-f181-4f4f-a2cd-8c37406a74a8.png)

[2022-09-05 10:58] LucyMcGowan commented on #4495
Done!

[2022-09-05 11:11] arfon commented on #3896
Can you remove the &nbsp; from the title text please and I'll reprocess.

[2022-09-05 11:12] arfon commented on #4495
@editorialbot accept

[2022-09-05 11:14] arfon commented on #4621
@editorialbot accept

[2022-09-05 11:19] arfon commented on #4495
@gcskoenig, @MichaelSchomaker – many thanks for your reviews here and to @fabian-s  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@LucyMcGowan  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-05 11:19] #4495 closed

[2022-09-05 11:19] arfon commented on #4621
@iammix, @vwxyzjn, @Viech, @idoby – many thanks for your reviews here and to @osorensen  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@pstjohn  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-09-05 11:19] #4621 closed

[2022-09-05 11:21] arfon commented on #3896
@slayoo fixed in https://github.com/atmos-cloud-sim-uj/PyMPDATA/pull/338

[2022-09-05 11:42] jsun commented on #4688
Hi, @Nikoleta-v3, I am happy to review this paper.

[2022-09-05 11:47] slayoo commented on #3896
Merged, thank you, @arfon!

[2022-09-05 11:48] slayoo commented on #3896
BTW, we have an analogous problem in https://github.com/openjournals/joss-reviews/issues/4326

[2022-09-05 12:10] ygrange commented on #4667
Fascinating entry but I do not feel appropriately skilled to review it (and I have to admit I am a bit short on time the coming period).

[2022-09-05 12:15] arfon commented on #4326
These should be fixed now.

[2022-09-05 12:15] arfon commented on #3896
@editorialbot reaccept

[2022-09-05 12:18] arfon commented on #3896
OK, this should be fixed now.

[2022-09-05 12:18] #3896 closed

[2022-09-05 12:46] jsta commented on #4536
I can't review either.

[2022-09-05 13:05] faroit commented on #4458
@vsoch congrats and thanks for all your patience! I am not very happy with duration of the review process so I want to apologize for the delay also were coming from my side. I hope you will choose JOSS again and I will try harder to speed up the process next time.

[2022-09-05 13:17] mmpourhashem commented on #4671
I am fine with reviewing the paper. You can send review invitation to ***@***.*** ***@***.***> that is my academic email ID.

[2022-09-05 13:27] LucyMcGowan commented on #4495
Thank you so much! I noticed the citation is listed as "McGowan LD" is it possible to switch to "D'Agostino McGowan L"? Thank you, again!

[2022-09-05 13:42] Nikoleta-v3 commented on #4688
@editorialbot add @jsun  as reviewer

[2022-09-05 13:43] slayoo commented on #3896
Thank you, @arfon !

[2022-09-05 13:46] Nikoleta-v3 commented on #4688
@editorialbot add @jsun to reviewers

[2022-09-05 13:50] NoraLoose commented on #4277
@editorialbot generate pdf

[2022-09-05 14:20] pdebuyl commented on #4329
Thank you @sixpearls and @enekomartinmartinez for the updates.

@sixpearls could you review the changes?

A few comments:
- Regarding the references to a zenodo archive: this is a common issue and it is usually fixed at the publication of the JOSS article.
- Regarding the structure of the sections in the documentation, the review here goes a bit beyond what we typically do in JOSS. As there is som

[2022-09-05 14:22] pdebuyl commented on #4575
Hi @cfranken what is the progress regarding the issues raised by the reviewers?

[2022-09-05 14:30] yiitozer commented on #4434
Dear @faroit, from next week on I can be a reviewer for this software!

[2022-09-05 14:49] mzabrams commented on #4678
@svburke I've addressed one of those two issues, and I am examining the other ([mzabrams/fars-cleaner#1](https://github.com/mzabrams/fars-cleaner/issues/1)) -- I'm not sure why this is the behavior on windows and not on macOS, but I am trying to assess ways of importing the full dataset without running into the out-of-memory error on a 16GB setup. Further thoughts/progress will be addressed in the

[2022-09-05 14:49] samhforbes commented on #4614
@editorialbot add @angerhang as reviewer

[2022-09-05 15:37] hbaniecki commented on #4671
Hi, thanks for notice, unfortunately this work is out of my expertise.

[2022-09-05 16:10] samhforbes commented on #4657
@editorialbot start review

[2022-09-05 16:10] editorialbot opened #4740 "[REVIEW]: overviewR - Easily Explore Your Data in R"
**Submitting author:** @cosimameyer (<a href="http://orcid.org/0000-0002-7472-2298">Cosima Meyer</a>)
**Repository:** https://github.com/cosimameyer/overviewR
**Branch with paper.md** (empty if default branch): master
**Version:** v0.0.12
**Editor:** @samhforbes
**Reviewers:** @drmowinckels, @milenamilena
**Archive:** 10.5281/zenodo.7097560

## Status

[![status](https://joss.theoj.org/papers/b161

[2022-09-05 16:10] #4657 closed

[2022-09-05 16:10] samhforbes commented on #4614
@editorialbot start review

[2022-09-05 16:10] editorialbot opened #4741 "[REVIEW]: activAnalyzer: An R Shiny app to analyse ActiGraph accelerometer data and to implement the use of the PROactive Physical Activity in COPD instruments"
**Submitting author:** @pydemull (<a href="http://orcid.org/0000-0001-9157-7371">Pierre-Yves de Müllenheim</a>)
**Repository:** https://github.com/pydemull/activAnalyzer
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @samhforbes
**Reviewers:** @elimillera, @angerhang
**Archive:** 10.5281/zenodo.7384191

## Status

[![status](https://joss.theoj.org/papers/5d6659

[2022-09-05 16:10] #4614 closed

[2022-09-05 16:19] samhforbes commented on #4741
Hi @elimillera, @spitschan, @angerhang please see the instructions at the top of the review thread.

Once you've generated your checklist you can use this as the basis for your review.
Generally speaking it's useful to post an overview here, but deal with individual points by opening issues on the target repository, and linking them here so we are all on the same page.
Feel free to direct any quer

[2022-09-05 16:20] samhforbes commented on #4740
Hi @drmowinckels, @milenamilena, please see the instructions at the top of the review thread.

Once you've generated your checklist you can use this as the basis for your review.
Generally speaking it's useful to post an overview here, but deal with individual points by opening issues on the target repository, and linking them here so we are all on the same page.
Feel free to direct any queries to

[2022-09-05 16:23] RupeshJey commented on #4575
Hi @pdebuyl, @cfranken and I met to discuss the necessary changes and are working on them now. We are trying to finish addressing them in the next few days. Sorry for the delay, both of us have been moving long distances this summer, and it has been hectic.

[2022-09-05 16:43] hgandhi2411 commented on #4624
@lucydot Thanks for your patience. I will be done with my review by September 15th. As suggested, I will post my comments as I make progress.

[2022-09-05 17:51] vsoch commented on #4458
it's okay @faroit - thank you so kindly for moving it along! I have a pretty cool project under development called tunel that I'll eventually submit, so I'll definitely be back for a next time! I'm trying to limit myself to one paper  / year to not overwhelm the process - I'm just really appreciative for JoSS! I tend to not be a fan of publication as a means to derive our worth but I think y'all a

[2022-09-05 18:25] drmowinckels commented on #4740
@editorialbot generate my checklist

[2022-09-05 18:42] faroit commented on #4434
@editorialbot add @yiitozer to reviewers

[2022-09-05 18:43] faroit commented on #4434
👋 thanks, @yiitozer this helps a lot. It's incredibly difficult these days to find expert users of tensor factorization!

[2022-09-05 21:16] vitorsr commented on #4722
@editorialbot generate my checklist

[2022-09-05 22:32] Natsiopoulos commented on #3496
@arfon - We will push the changes by Friday 9/9/2022, but it may take some iterations with the reviewer to ensure everything is as needed.

[2022-09-05 22:52] hadware commented on #4739
@editorialbot generate my checklist

[2022-09-05 23:10] Rupali-Sahu commented on #4672
generate my checklist

[2022-09-05 23:11] Rupali-Sahu commented on #4672
@editorialbot generate my checklist

[2022-09-05 23:27] lbluque commented on #4504
Hi @jarvist checking in again...

Have you heard from @kitmccoll?

If you haven't heard anything, I'd appreciate it if we can find someone else to review.

From the pre-review it seemed MarDiehl was quite interested originally (hopefully that's still the case). https://github.com/openjournals/joss-reviews/issues/4356#issuecomment-1156000093

If not here's the list I had proposed with a few more po

[2022-09-05 23:43] gtonkinhill commented on #4688
@Nikoleta-v3, I am also happy to review. Just for transparency, I used to work in the same department as Aaron 6+ years ago.

[2022-09-06 00:05] YuhanLiin commented on #4737
@editorialbot generate my checklist

[2022-09-06 07:35] Bisaloo commented on #4724
@quang-huynh, could you try re-running this command please? Something went wrong on our end.

[2022-09-06 07:37] slayoo commented on #3896
@arfon I've noticed that there were three more nbsps in the author list that also go through into the paper metadata and JOSS website:

![image](https://user-images.githubusercontent.com/89685/188574978-f60daccc-31cd-4a70-89fa-81ed74eb025b.png)

Just removed it in the repo: https://github.com/atmos-cloud-sim-uj/PyMPDATA/commit/a35a159232f2021f31eab07bdc5178c534c2c848

Let me ask for one more regen

[2022-09-06 08:35] Nikoleta-v3 commented on #4688
Thank you for letting me know about this potential competing interest @gtonkinhill 🙏🏻  if you feel that you can objectively evaluate the paper, then I see no reason why you shouldn't be a reviewer 😄

[2022-09-06 09:29] gcattan commented on #4114
@raybecker did you have the time to review the software?

[2022-09-06 09:55] wcwitt commented on #4719
@editorialbot generate my checklist

[2022-09-06 09:55] platipodium commented on #4366
I have finished my review and recommend to publish the paper @marcosvital

[2022-09-06 10:38] NRaillard commented on #4366
Many thanks @platipodium for the very valuable comments !

[2022-09-06 10:38] NRaillard commented on #4366
@editorialbot generate pdf

[2022-09-06 11:24] jfowkes commented on #4377
@stsievert @jonjoncardoso we have incorporated your suggestions and created a new release with the following major changes:

- we have changed the author order as suggested
- we have added a `CONTRIBUTING.md` and a proper contributing section to the docs
- `problem_properties` and `find_problems()` now use human-readable descriptions as suggested (no need for CUTEst classification codes)
- the Lin

[2022-09-06 11:59] gtonkinhill commented on #4688
Yes, I think it should be fine!

[2022-09-06 12:11] SietzeN commented on #4303
Hi @ajstewartlang!

Thanks a lot for this! I will do this in the coming days and get back to you!

Thanks again!
Sietze

[2022-09-06 12:57] chfleming commented on #4662
I was able to get through the installation, but then I got an error on the first line of the quick start example after loading the library: https://github.com/FlukeAndFeather/rstickleback/issues/39

[2022-09-06 13:10] tmigot commented on #4736
Thanks to all of view for review the paper. @jbytecode I just realized a small typo in the submission here on Github. The title, as in the paper, is:
[code]
Somehow a `1` got through.

[2022-09-06 13:54] EwaGomez commented on #4443
Thank you for your issues @kanderso-nrel - I am working on them and I am positive, that I will be able to solve them within this week.

[2022-09-06 14:26] bmcfee commented on #4554
Thanks @JorenSix !

@hendriks73 and @dpwe - can you check out the changes to the repo and draft, and update your review checklists if warranted?  Specifically as it relates to performance claims (both reviewers) and community guidelines (@dpwe).

[2022-09-06 14:50] diehlpk commented on #4730
Yes, it is the short paper above, however, you would also need to have a look at the source code and try to run the software.

[2022-09-06 14:52] elbeejay commented on #4646
@skiptoniam I have marked this pre-review issue as "paused" as I have not heard from you in several weeks on these minor revisions to the paper text. If I do not hear from you in another 2 weeks (by September 20) I will be closing this issue and you will have to re-submit when you are ready.

[2022-09-06 15:04] feliperodri commented on #4671
Thanks for the invitation, but I'll have to decline. The paper is out of my expertise.

[2022-09-06 15:20] mparno commented on #4730
@f-t-s It would be great if you could help review our submission.  The  [JOSS Review Criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) and the [Review Checklist](https://joss.readthedocs.io/en/latest/review_checklist.html) might give you a better idea of what's involved in the review before accepting.

[2022-09-06 16:43] jbytecode commented on #4736
@editorialbot generate pdf

[2022-09-06 16:46] jbytecode commented on #4736
Dear @jmejia8 and @HaoZeke,

Could you please generate your task lists?

Thank you in advance!

[2022-09-06 17:05] quang-huynh commented on #4724
@editorialbot generate my checklist

[2022-09-06 17:29] diehlpk commented on #4637
Hi @ctdegroot, @thomasgillis could you please have a look at the comments above?

[2022-09-06 17:47] jmejia8 commented on #4736
@editorialbot generate my checklist

[2022-09-06 17:51] adonath commented on #4626
Thanks @tibordome! I have started contacting and finding potential reviewers for your submission. I'll keep you up to date here...

[2022-09-06 17:52] mhucka commented on #4328
I am sorry, but I lack the time to do more right now. Realistically, the options for me right now are: (1) pause for a couple of months or (2) withdraw the submission.

[2022-09-06 18:35] DominiqueMaucieri commented on #4674
@editorialbot generate pdf

[2022-09-06 18:39] DominiqueMaucieri commented on #4674
@editorialbot generate pdf

[2022-09-06 19:02] DominiqueMaucieri commented on #4674
Thank you @fboehm for your time as editor and @ViniciusBRodrigues and @diazrenata for your reviews and insight, as these comments have helped me to produce a manuscript and package that are more applicable to the wider ecological and conservation community.

Response to @diazrenata:

Response: I have added a current state of the field section to the manuscript explaining why I believe these functi

[2022-09-06 20:10] ethanwhite commented on #4678
@editorialbot generate my checklist

[2022-09-06 20:25] masadcv commented on #4532
Many thanks @jacobmerson !
These are extremely helpful comments for improving the article further.

I have resolved all issues mentioned, including merging your PR for grammar fixes and adding two separate PRs to address the links and missing patents citations.

The patents don't usually have a DOI link, hence I am unable to include DOI for the patent citations. I hope that is okay with JOSS publi

[2022-09-06 20:39] tretherington commented on #4662
Still stuck on installation: [https://github.com/FlukeAndFeather/rstickleback/issues/39](https://github.com/FlukeAndFeather/rstickleback/issues/38)

[2022-09-06 20:40] masadcv commented on #4532
@editorialbot generate pdf

[2022-09-06 20:50] FlukeAndFeather commented on #4662
[Dropping a link](https://github.com/FlukeAndFeather/rstickleback/issues/38#issuecomment-1238633970) to my reply on the rstickleback issue. In short, the installation issues seem to be a blocking problem. I suggested @chfleming and @tretherington pause their review while @A-JM and I fix these critical issues. I am currently on vacation but will work on the fix later this month. Thanks everyone!

[2022-09-06 21:07] meg-simula commented on #3842
@EtienneCmb @madvn @travisbthomp Thanks for the updates and responses! Hopefully everyone is back from summer now, and we can get this review sorted out. @madvn and @travisbthomp Could you

[2022-09-06 23:24] quietlychris commented on #4737
@editorialbot generate my checklist

[2022-09-07 00:19] ethanwhite commented on #4678
Overall things look good. I've opened 4 issues in the fars-cleaner repo related to installation, documentation, functionality, and community guidelines, all of which are linked above.

[2022-09-07 04:33] jacobmerson commented on #4532
@masadcv great job.

@vissarion my review is complete and I recommend publishing this article.

[2022-09-07 04:34] swatimanekar commented on #4363
Yes. All those I have mentioned in my comments (commented on Jul 14).

[2022-09-07 07:16] vissarion commented on #4532
Thanks @jacobmerson and @masadcv!

@yhtang could you kindly update us on the status of your review? Are you OK with changes/improments in the article and the code?

[2022-09-07 07:42] danielskatz commented on #4328
@editorialbot withdraw

[2022-09-07 07:42] #4328 closed

[2022-09-07 07:55] milenamilena commented on #4740
@editorialbot generate my checklist

[2022-09-07 08:29] Jammy2211 commented on #4639
Buried in deadlines the past few weeks, they are starting to clear up so will get this done this week (hopefully!)

[2022-09-07 09:10] RBrearton commented on #4397
Hi @jgostick, sorry for the slow response, I've been delayed by the fact that Zenodo is broken atm (it isn't possible to upload files).

At first I thought this was just me being an idiot, but they did post on twitter on the 1st of September that file uploads aren't working, so I suppose it isn't just me.

When Zenodo is back up, I'm ready to make a release number 1.0.7 which will sync with pypi e

[2022-09-07 09:57] robertodr commented on #4680
@ryanmrichard I'm also done with my review. Apologies that it took so long! The paper is well written:  I've added some very minor suggestions directly on PR 104. This tool will be quite useful. I find the documentation truly excellent, especially the complete example. I've opened some issues that might help improve the project, but addressing them in not a prerequisite for paper acceptance.

- [

[2022-09-07 10:54] enekomartinmartinez commented on #4329
I still have to include the link to the cookbook in getting started and review the contributions section in documentation and README. I will also add a "Contributions welcome" badge to make it clear.

We will migrate PySD to [SDXorg](https://github.com/SDXorg) next Thursday. After that migration, we potentially will add a new page for contributions with also a mention of all the historic contribut

[2022-09-07 11:39] skiptoniam commented on #4646
@elbeejay sorry I was leave the last few weeks. Back at it now. I'll try make those changes asap

[2022-09-07 13:05] sdruskat commented on #4726
@thomaskrause and me have come up with the following list of potential reviewers, all of who have developed open source software in linguistics:

- @berndmoos
- @reckart
- @raphywink

[2022-09-07 13:08] rlskoeser commented on #4328
Thanks @danielskatz for your work on it too. @mhucka sorry it didn't work out at this point.

[2022-09-07 13:10] fboehm commented on #4674
Thank you, @DominiqueMaucieri for the many changes! @diazrenata - please review the changes made and respond to them. I agree with the author that this submission likely meets the criterion for substantial scholarly effort.

Thanks again!

[2022-09-07 13:11] Nikoleta-v3 commented on #4688
@editorialbot add @gtonkinhill  to reviewers

[2022-09-07 13:11] Nikoleta-v3 commented on #4688
@editorialbot add @gtonkinhill as a reviewer

[2022-09-07 13:11] Nikoleta-v3 commented on #4688
@editorialbot commands

[2022-09-07 13:12] RamziHalabi commented on #4699
@arfon - are there any updates regarding our submission?

[2022-09-07 13:12] Nikoleta-v3 commented on #4688
@editorialbot add @gtonkinhill as reviewer

[2022-09-07 13:12] Nikoleta-v3 commented on #4688
@editorialbot start review

[2022-09-07 13:12] editorialbot opened #4742 "[REVIEW]: basilisk: a Bioconductor package for managing Python environments"
**Submitting author:** @LTLA (<a href="http://orcid.org/0000-0002-3564-4813">Aaron Lun</a>)
**Repository:** https://github.com/LTLA/basilisk
**Branch with paper.md** (empty if default branch): submission
**Version:** 1.9.11
**Editor:** @Nikoleta-v3
**Reviewers:** @jsun, @gtonkinhill
**Archive:** 10.5281/zenodo.7212841

## Status

[![status](https://joss.theoj.org/papers/cb99a113aa5f8df9e722fed04de

[2022-09-07 13:12] #4688 closed

[2022-09-07 13:12] fboehm commented on #4720
@vlad0x00 - the reviewers have completed their initial reviews. Please feel free to reply to their concerns in this thread.

[2022-09-07 13:17] Nikoleta-v3 commented on #4742
👋🏼 @LTLA @jsun @gtonkinhill this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

[code]

as the top of a new comment in this thread.

These checklists contain the JOSS requirements ✅ As you go over the submission, please check any items that you feel have been satisfied.

[2022-09-07 13:47] tibordome commented on #4626
Cheers @adonath. That sounds good.

[2022-09-07 14:15] travisbthomp commented on #3842
@editorialbot generate pdf

[2022-09-07 15:15] ryanmrichard commented on #4680
@peanutfun and @robertodr First off, thank you both for the excellent suggestions and taking the time to review this. I added both of you to the acknowledgements section of the manuscript.

At this point I believe I have addressed all of the comments in https://github.com/CMakePP/CMinx/pull/104 (which is on both checklists) and I believe that I have addressed all three of @peanutfun's remaining ch

[2022-09-07 15:51] dfm commented on #4456
@jgagneastro — It looks like you have 2 remaining boxes on your checklist and wanted to check in to see if you had any further comments here. Let us know what your status is - thanks!!

[2022-09-07 15:52] dfm commented on #4503
@catrionamurray, @christinahedges — I wanted to check in here on the status of your reviews. Please let us know where things stand, and what issues remain wrt your checklists! Thanks!!

[2022-09-07 15:54] dfm commented on #4321
@harveyaa — It looks like @saigerutherford and @smkia have a couple of open issues on the https://github.com/ppsp-team/PyNM repo. Can you update on your status tackling these issues? Thanks!!

[2022-09-07 15:55] dfm commented on #4033
@kadglass — Thanks for merging that PR. Let me know if you have any other issues with the remaining steps. Thanks!!

[2022-09-07 15:56] dfm commented on #4568
:wave: @ColmTalbot — Do you have any updates from your end? Thanks!!

[2022-09-07 15:58] dfm commented on #4692
:wave: @liamconnor — just a little ping to keep this on your radar!

[2022-09-07 16:04] ppxasjsm commented on #4693
@RainierBarrett, we had a conflict of interest with this and I was wondering if you'd be able to review this submission for me?

[2022-09-07 16:47] jmschrei commented on #4524
@editorialbot add @petebankhead as reviewer

[2022-09-07 16:48] jmschrei commented on #4524
@fepegar or @Ykarpate, would either of you be able to review this submission?

[2022-09-07 17:08] editorialbot opened #4743 "[PRE REVIEW]: PYroMat: A Python package for thermodynamic properties"
**Submitting author:** @jranalli (<a href="http://orcid.org/0000-0002-8184-9895">Joseph Ranalli</a>)
**Repository:** https://github.com/chmarti1/PYroMat
**Branch with paper.md** (empty if default branch): joss2022
**Version:** 2.2.1
**Editor:** @jgostick
**Reviewers:** @espottesmith, @fwitte
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/42d6ea5759b5467dad5470

[2022-09-07 17:09] editorialbot opened #4744 "[PRE REVIEW]: pycsamt: A package for robust AMT data processing"
**Submitting author:** @WEgeophysics (<a href="http://orcid.org/0000-0001-7259-7254">Kouao Laurent KOUADIO</a>)
**Repository:** https://github.com/WEgeophysics/pycsamt
**Branch with paper.md** (empty if default branch): master
**Version:** v1.2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/9835cd41655217e33e2646ad5

[2022-09-07 17:09] editorialbot opened #4745 "[PRE REVIEW]: simcardems: A FEniCS-based cardiac electro-mechanics solver"
**Submitting author:** @finsberg (<a href="http://orcid.org/0000-0003-3766-2393">Henrik Nicolay Topnes Finsberg</a>)
**Repository:** https://github.com/ComputationalPhysiology/simcardems
**Branch with paper.md** (empty if default branch): master
**Version:** v2022.3.0
**Editor:** @AoifeHughes
**Reviewers:** @mbarzegary, @sdelandtsheer
**Managing EiC:** Kristen Thyng

## Status

[![status](https://

[2022-09-07 17:10] editorialbot opened #4746 "[PRE REVIEW]: Software Design and User Interface of ESPnet-SE++: Speech Enhancement for Robust Speech Processing"
**Submitting author:** @neillu23 (<a href="http://orcid.org/0000-0001-8400-4188">Yen-Ju Lu</a>)
**Repository:** https://github.com/espnet/espnet
**Branch with paper.md** (empty if default branch):
**Version:** v.202207
**Editor:** @faroit
**Reviewers:** @joimort, @justusschock
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/f518d0b78a29ab6521936834e5d90ef1/stat

[2022-09-07 17:10] travisbthomp commented on #3842
@EtienneCmb @brovelli @meg-simula

I have completed my review of Frites for this round.  I read through the changes and I wanted to thank both  @EtienneCmb @brovelli for their work addressing readability issues in addition to severe documentation shortfalls (such as dead links and examples that did not run, etc).  I also noted that the authors re-evaluated their performance claims and added a "Per

[2022-09-07 17:14] sdhutchins commented on #4236
Hey, @jvkersch! I made a couple of issues on the repository. Let me know there if you have any further questions. The tool works very well - just some small details regarding documentation of the parameters and other things.

cc: @lpantano

[2022-09-07 17:14] kellyrowland commented on #4249
Hi @openjournals/joss-eics @jessdtate @shahmoradi @RichardClayton - I just wanted to let you all know that I will be out of office and not checking emails, Github, etc. starting September 10 and will be returning on October 3. Happy to field any questions through the end of the week.

[2022-09-07 17:14] kellyrowland commented on #4468
Hi @openjournals/joss-eics @thchang @Viech @jonjoncardoso  - I just wanted to let you all know that I will be out of office and not checking emails, Github, etc. starting September 10 and will be returning on October 3. Happy to field any questions through the end of the week.

[2022-09-07 17:14] kellyrowland commented on #4559
Hi @ggonnella @vinisalazar -  I just wanted to let you know that I will be out of office and not checking emails, Github, etc. starting September 10 and will be returning on October 3. Happy to field any questions through the end of the week.

@openjournals/joss-eics would it be possible to loop in another editor here to help find a second reviewer to get this paper to the review stage while I'm o

[2022-09-07 17:32] kthyng commented on #4746
Hi @neillu23! Your paper is too long. Please read the [docs](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) for details about how to write your paper.

[2022-09-07 17:34] kthyng commented on #4743
@editorialbot set joss2022 as branch

[2022-09-07 17:35] kthyng commented on #4743
@editorialbot generate pdf

[2022-09-07 17:37] kthyng commented on #4743
Hi @jranalli! The paper file in your `joss2022` branch needs to be needs "paper.md" for the bot to find it.

[2022-09-07 17:37] minaskar commented on #4634
Thank you both for your comments!

@marylou-gabrie

- The `scale` variable refers to the ratio of the Metropolis proposal scale (in latent space) to the optimal proposal scale 2.38/Sqrt(D). It is a metric of the preconditioner's performance (i.e. 1 corresponds to perfect preconditioning). I'll make sure we include an explanation in the docs.
- The trained flow can be accessed using the `Flow` clas

[2022-09-07 17:46] brunomontezano commented on #4545
@schalkdaniel Yes, the CONTRIBUTING file is enough. Thanks for pointing me out. And also the state of the field that you added is pretty good.

[2022-09-07 17:53] cosimameyer commented on #4740
@editorialbot generate pdf

[2022-09-07 17:55] cosimameyer commented on #4740
@editorialbot check references

[2022-09-07 17:57] kthyng commented on #4744
@editorialbot invite @leouieda as editor

[2022-09-07 17:57] kthyng commented on #4744
Hi @leouieda! Up for editing this paper?

[2022-09-07 17:57] cosimameyer commented on #4740
@milenamilena @drmowinckels Many thanks for your feedback so far - I highly appreciate your time and energy going into it!  I incorporated your suggested changes that we have received so far and updated the PDF.

[2022-09-07 17:58] kthyng commented on #4744
@WEgeophysics Please address the missing DOIs from the comment above.

[2022-09-07 18:23] VHchavez commented on #4459
@lucydot reverted.

[2022-09-07 18:27] jranalli commented on #4743
@editorialbot generate pdf

[2022-09-07 19:05] finsberg commented on #4745
@whedon check references

[2022-09-07 19:08] finsberg commented on #4745
@editorialbot check references

[2022-09-07 19:12] finsberg commented on #4745
cmorris2945
mbarzegary
storyetfall
sdelandtsheer

[2022-09-07 19:16] catrionamurray commented on #4503
I'm on holiday at the moment but I will post an update on Monday when I'm back!

[2022-09-07 19:19] mcasl commented on #4611
The ‘Software Paper’ section of my checklist shows that “State of the field” and “References” need improvement. I failed to discover the state of the field on the paper, and thus, while completing that section, the references will need to be update to reflect the new additions to the paper

[2022-09-07 19:46] jranalli commented on #4743
From their area descriptions, I identified a few potential matches in no particular order: ronshnapp, mefuller, zadehsey, erasmuss, espottesmith, fwitte, mwerwee

[2022-09-07 19:51] mcasl commented on #4611
The “Documentation” section of my checklist shows that a “Statement of need” is missing. The target audience is covered in the motivation section of the documentation, but it lacks the description on the problems the software is designed to solve is weak.

[2022-09-07 19:56] leouieda commented on #4744
@kthyng  I can take this on 👍

There is a [2022 paper on Journal of Applied Geophysics](https://doi.org/10.1016/j.jappgeo.2022.104647) by the same authors describing this same software. So this is a repeat submission and I'd recommend rejection.

[2022-09-07 19:59] mcasl commented on #4611
The “Documentation” section of my checklist shows that the “Installation instructions” need improvement. Though there isa requeriments.txt file to automatically install the dependencies, the documentation fails to explicitly describe these dependencies.

[2022-09-07 20:12] mcasl commented on #4611
@editorialbot commands

[2022-09-07 20:23] mcasl commented on #4611
The checklist shows that “Functionality documentation” needs improvement. Though the methods’ documentation reflects the parameters, results and a succinct explanation of what they do, more time has to be devoted to the documentation to clearly explain the new user the elements of the library and how to use them.

[2022-09-07 20:25] sixpearls commented on #4329
@pdebuyl I am happy to keep the documentation structure off the blocking list, but I do think reviewing the documentation and tests is an important "feature" of publishing with JOSS.

@enekomartinmartinez

I'll clear the check list from above and list the blocking issues here:

- [ ] Adding a reference to the cookbook on the "getting started" page and elsewhere as appropriate in the documentation.

[2022-09-07 20:34] kthyng commented on #4606
Hi @fluhus — unfortunately the editorial board determined that this submission does not pass the bar for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). While this package looks like a promising start for a Go toolkit for computational biology, the functionality seemed too basic, and not tied together well. If you continue work on

[2022-09-07 20:34] kthyng commented on #4606
@editorialbot reject

[2022-09-07 20:34] #4606 closed

[2022-09-07 20:35] jvkersch commented on #4236
Thank you @sdhutchins for your review! The points that you raise are valid, and resolving them will improve the tool significantly. I've started addressing the ones that have an immediate solution, but for the ones that require some more work (e.g. switching to RTD) I will need to confer with my coauthors, so this may take a few days.

[2022-09-07 21:05] thchang commented on #4468
Thanks for the update @kellyrowland  Just to update on our end as well, we are currently working on changes reflecting @Viech 's review, while merging these with the new features that we've been working on in the meantime.  We should have these changes available soon, and will post a link to the PR reflecting @Viech 's suggestions when it is done.

[2022-09-07 21:17] kthyng commented on #4697
@jgostick would you be able to edit this submission?

[2022-09-07 21:17] kthyng commented on #4697
@editorialbot invite @jgostick as editor

[2022-09-07 21:19] jsun commented on #4742
@editorialbot generate my checklist

[2022-09-07 21:23] kthyng commented on #4698
@ajmedford Sorry it just depends on how quickly submissions move through for the particular editors that are appropriate for your area, so it's hard to estimate.

@dhhagan Do you do any machine learning? Interested in editing this submission?

[2022-09-07 21:23] kthyng commented on #4698
@editorialbot invite @dhhagan as editor

[2022-09-07 21:50] kthyng commented on #4713
@ZacharyJia I am going to ping the editorial board to see if this seems in scope for us to review. This will take 1-2 weeks.

In the meantime, please rewrite the beginning of your paper for people who aren't familiar with your area of expertise. It has a lot of jargon and acronyms, including those that aren't written out.

[2022-09-07 21:51] kthyng commented on #4713
@editorialbot query scope

[2022-09-07 22:16] kellyrowland commented on #4468
Sounds good!

[2022-09-07 23:01] rkurchin commented on #4623
Hi again all, checking in @raghurama123 on your review progress, and @the-hampel on whether you're working on the issues @shivupa filed.

[2022-09-07 23:01] WEgeophysics commented on #4744
@leouieda Dear editor ! I first thank you for your spared time  you accept to review the paper. I understand your concern. But the software has now extended to all AMT features ( new features )  which make its new to let user implements AMT data rather than the only limited CSAMT . The software aim is become different ( note that now the name CSAMT is not in Uppercase ( "cs" is now considered as o

[2022-09-07 23:02] WEgeophysics commented on #4744
Ok. Because of time zone . I will handle it .

[2022-09-07 23:06] WEgeophysics commented on #4744
Dear editor ! I first thank you for your spared time you accept to review the paper. I understand your concern. But the software has now extended to all AMT features ( new features ) which make its new to let user implements AMT data rather than the only limited CSAMT . The software aim is become different ( note that now the name CSAMT is not in Uppercase ( "cs" is now considered as one part of t

[2022-09-08 00:01] zarrarkhan commented on #4015
@hugoledoux

Please see each of the points mentioned above addressed in the latest version of the paper.

1. add a section about how to clean the data and match them with the maps subregions; this doesn't need to be in the paper but in the docs it would be necessary I believe, both reviewers struggle with this

Section on [Cleaning Data](https://jgcri.github.io/rmap/articles/vignette_map.html#clea

[2022-09-08 00:11] WEgeophysics commented on #4744
@editorialbot generate pdf

[2022-09-08 00:19] WEgeophysics commented on #4744
@editorialbot generate pdf

[2022-09-08 00:23] WEgeophysics commented on #4744
I have addressed the missing DOI issues as you can see in the last generated pdf above.

[2022-09-08 02:29] nhejazi commented on #4522
@editorialbot generate pdf

[2022-09-08 02:38] jgostick commented on #4697
I @kthyng, I'm sorry but I have learned from experience that I cannot do these sort of atomic/molecular simulation packages. I don't know the field at all.

[2022-09-08 02:43] nhejazi commented on #4522
@editorialbot generate pdf

[2022-09-08 02:55] nhejazi commented on #4522
@editorialbot generate pdf

[2022-09-08 03:08] nhejazi commented on #4522
Hi @majensen, an update to note that I've revised the paper draft to bring it more into line with your recommendations, which I agree with even more after having re-read the paper myself. My take is that the previous version of the paper included too much detail in the sections on methodology (on conditional density estimation and inverse probability weighted estimation); these same two sections h

[2022-09-08 03:10] gtonkinhill commented on #4742
@editorialbot generate my checklist

[2022-09-08 04:46] jsun commented on #4742
Hi, @LTLA, I finished my review. The manuscript and vignette are well-written, following them I can easily try the package. I installed the package and ran some examples and I experienced no issues when using this package. Although this package is intended for use by developers, general users such as data analysts may also be interested. This is because many biological analyses should be performed

[2022-09-08 05:41] fluhus commented on #4606
Ok, thank you for taking the time to consider my submission.

[2022-09-08 05:45] szhorvat commented on #4727
@Kevin-Mattheus-Moerman Is anything else required from me here before the handling of the paper can proceed?

[2022-09-08 06:39] hugoledoux commented on #4593
@editorialbot check references

[2022-09-08 06:39] hugoledoux commented on #4593
@ChrisTampere this looks good to me, thanks for the clarifications 👍

[2022-09-08 07:24] hugoledoux commented on #4593
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2022-09-08 08:09] hugoledoux commented on #4521
@Solonets I have read all the comments and re-read the updated version of the paper. I like your submission a lot, but I have a few doubts/questions:

1. **Authorship**. If I look at the commits, only 4 of the 6 authors have committed code. JOSS is primarily a software journal, and we do require authors to have contributed to the software. You can see our policy here: https://joss.readthedocs.io/e

[2022-09-08 08:33] ZacharyJia commented on #4713
@editorialbot generate pdf

[2022-09-08 08:33] ZacharyJia commented on #4713
Hi @kthyng , thanks and I have updated the summary of this paper.

[2022-09-08 08:39] ZacharyJia commented on #4713
@editorialbot generate pdf

[2022-09-08 09:24] mattpitkin commented on #4568
@GregoryAshton regarding running the tests, you'll need to pip install in editable mode to get these to work. I've got this noted in the documentation here https://cwinpy.readthedocs.io/en/latest/installation.html#testing.

[2022-09-08 09:27] chennachaos commented on #4118
Hi @Kevin-Mattheus-Moerman,
I finished my review. This is a very well-written library. I recommend it for publication in the JOSS.

[2022-09-08 09:39] skiptoniam commented on #4646
Hi @elbeejay,

_This has been resolved. I removed the e.g all together_

_I decided to remove the acronym for clarity. I'm not normally a fan of them, but it is quite a mouthful, so decided to use them originally. I have removed for now._

_Fixed. Good catch._

_I have fixed this sentence._

_I'm not sure why I did that. The clause reads better :)_

_Fixed with a bit of latex._

_Typo. Fixed_

_Ap

[2022-09-08 09:40] skiptoniam commented on #4646
@editorialbot generate pdf

[2022-09-08 09:49] pdebuyl commented on #4605
@editorialbot add @georgiastuart as reviewer

[2022-09-08 09:54] NRaillard commented on #4366
@malmans2 I managed to solve issues raised, did you manage to test further the toolbox ?

 We are planning to use the toolbox for other work so we would like to finish this paper, , I will appreciate it if the reviews are concluded soon.

[2022-09-08 10:18] skiptoniam commented on #4646
@editorialbot generate pdf

[2022-09-08 10:26] jbytecode commented on #4718
@ulf1, @max-little - could you please update us on how is going your review?

@max-little - you haven't generated your task list yet. could you please generate?

Thank you in advance.

[2022-09-08 10:27] danasolav commented on #4362
@editorialbot generate pdf

[2022-09-08 10:28] jbytecode commented on #4716
Dear @wcjochem and @becarioprecario

Could you please update your status on how is going your review and generate your task lists?

Thank you in advance.

[2022-09-08 10:29] jbytecode commented on #4708
Dear @skadio, @ozgurakgun

Could you please update your status? How is going your review?

Thank you in advance.

[2022-09-08 10:29] danasolav commented on #4362
@editorialbot check references

[2022-09-08 10:52] danasolav commented on #4362
@davidpagnon
Please consider the following comments and then issue a new tagged release of the software and archive it (on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or other). Then, please post the version number and archive DOI here.
Line 66: please delete "pieces of".
Line 133: consider replacing with "If there are not enough cameras left" for improved clarity.
After that

[2022-09-08 12:14] EwaGomez commented on #4443
Dear @sidihamady,
I added another figure with the general architecture and functions in the ReadMe file in the section "Introduction".
In the section "Contribution", I already mentioned that people should contact me if they want to further develop BifacialSimu. I added a few ideas on how to contribute and I will improve the guide in the future and convert it to a separate contribution guideline. I

[2022-09-08 13:19] jbytecode commented on #4708
@cprudhom - could you please update your status?

[2022-09-08 13:59] pdebuyl commented on #4329
Thanks @sixpearls for the reply. I fully agree that the documentation is within the scope of the review. At some point of detail, though, there has to be some freedom for the authors on the layout.

@enekomartinmartinez make sure to ping us here when the repository move and the corrections are done.

[2022-09-08 14:30] cprudhom commented on #4708
sorry I'm caught up in the university year, but it's in my TODOs

[2022-09-08 15:35] p-ortmann commented on #4593
https://doi.org/10.5281/zenodo.7062273
it's version 0.2.3

I just noticed that there is a clash of the license statements on the first page, left hand side, into the line numbers in the paper. I reckon this is just the case in the draft version right?

[2022-09-08 15:54] arfon commented on #4186
@editorialbot withdraw

@JamieJQuinn, @mancellin, @kthyng – we've been notified by the authors that they would like to withdraw this submission. Thanks for your efforts here, sorry this one didn't work out.

[2022-09-08 15:54] #4186 closed

[2022-09-08 16:32] diehlpk commented on #4377
Hi @stsievert, @jonjoncardoso would you mind having a look at the changes?

[2022-09-08 17:08] enekomartinmartinez commented on #4329
@editorialbot set https://github.com/SDXorg/pysd as repository

[2022-09-08 17:09] enekomartinmartinez commented on #4329
@pdebuyl could you please change the repo of the library? Thanks!

[2022-09-08 17:22] peanutfun commented on #4129
@taless474 @cgrudz I am happy to see things are moving along here. Please note that due to the death of a close family member I will need to take some time off. I will continue the review on 19 September at the earliest. Thanks in advance for your understanding!

[2022-09-08 17:23] peanutfun commented on #4680
@ryanmrichard @danielskatz Please note that due to the death of a close family member I will need to take some time off. I will continue the review on 19 September at the earliest. Thanks in advance for your understanding!

[2022-09-08 17:37] cgrudz commented on #4129
@peanutfun, I'm so sorry to hear this, you have my condolences and full understanding.  We will try to have this in re-submission in the coming few weeks, there is no rush to review this.

[2022-09-08 17:46] danielskatz commented on #4680
You have my sympathy

[2022-09-08 19:34] diehlpk commented on #4611
Hi @dunnkers, please have a look at the comments above.

[2022-09-08 22:28] marcosvital commented on #4365
Hi, @dsurujon! That's ok, thabk you for leting us know, and please feel free to carry on with the review.

[2022-09-08 22:30] marcosvital commented on #4366
Thank you for you effort reviewing this submission, @platipodium.

[2022-09-08 22:31] marcosvital commented on #4366
Hi,  @krober10nd and @malmans2! Let us know if you can still continue reviewing this submission, ok?

[2022-09-08 22:35] marcosvital commented on #4562
Thank you @thodson-usgs  and @chrisaberson for helping reviewing this submission. I see that both of you completed the checklists, but let us know if there is anything else you would like to say.

@brunomontezano, do you think you will be able to continue reviewing this submission soon? Let me know if you need any help, ok?

[2022-09-09 04:23] CZHU20 commented on #4118
@chennachaos Thank you very much!

[2022-09-09 05:36] osorensen commented on #4655
👋 @neerajdhanraj, @kauedesousa, could you please update us on how it's going with your reviews? You're welcome to reach out to me if you have any questions.

[2022-09-09 06:15] osorensen commented on #4691
👋 @jingpengw, @estenhl, could you please update us on how it's going with your reviews?

[2022-09-09 06:18] osorensen commented on #4684
:wave: @tomfaulkenberry, @garretrc, could you please update us on how it's going with your reviews?

[2022-09-09 06:21] osorensen commented on #4555
@Matthew-Jennings, just to keep myself updated: do I understand correctly that you have attempted to address all the issues raised by the reviewers so far?

[2022-09-09 07:10] TomTranter commented on #4504
Hi @arfon, @jarvist, @lbluque I have been following the updates on this post (or lack thereof) and have to say I'm not very impressed by the quality of service being provided by JOSS here to a fellow researcher

[2022-09-09 07:45] danasolav commented on #4259
@editorialbot add @raolivei13 as reviewer

[2022-09-09 07:59] danasolav commented on #4259
@editorialbot start review

[2022-09-09 07:59] editorialbot opened #4747 "[REVIEW]: LenslessPiCam: A Hardware and Software Platform for Lensless Computational Imaging with a Raspberry Pi"
**Submitting author:** @ebezzam (<a href="http://orcid.org/0000-0003-4837-5031">Eric Bezzam</a>)
**Repository:** https://github.com/LCAV/LenslessPiCam
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.4
**Editor:** @danasolav
**Reviewers:** @raolivei13, @siddiquesalman
**Archive:** 10.5281/zenodo.8036869

## Status

[![status](https://joss.theoj.org/papers/251f14f2ffe4ccf239796

[2022-09-09 07:59] #4259 closed

[2022-09-09 08:00] estenhl commented on #4691
Will finish it sometime next week

[2022-09-09 08:00] danasolav commented on #4259
@raolivei13 @vboomi, thank you for agreeing to review this submission. The review process takes place [here](https://github.com/openjournals/joss-reviews/issues/4747).

[2022-09-09 08:00] estenhl commented on #4691
@editorialbot generate my checklist

[2022-09-09 08:01] danasolav commented on #4747
@editorialbot remove @antipa from reviewer

[2022-09-09 08:03] danasolav commented on #4747
@editorialbot remove @antipa from reviewers

[2022-09-09 09:07] linusseelinger commented on #4605
@editorialbot generate pdf
(some minor updates to the paper)

[2022-09-09 09:13] davidpagnon commented on #4362
Some of the DOIs are missing simply because they don't have any. For example, there is none for The OpenCV library, despite I followed [their recommendation](https://github.com/opencv/opencv/wiki/CiteOpenCV). Some others, such as the paper from Butterworth, are just too old to have a DOI. The last ones are GitHub repositories.
I suppose it is not part of what you want me to change?

Aside from tha

[2022-09-09 09:13] linusseelinger commented on #4605
@editorialbot generate pdf

[2022-09-09 09:23] winstonyym commented on #4664
I have completed a first pass of the software and tested the major functionalities. Overall, ur-scape is a beautifully designed software and has clear pragmatic implications for urban planning. It is easy to use and quite aesthetically pleasing. The focus on rapid urbanisation issues in Southeast Asia is indeed a critical and under-studied area. This is especially important given that more than 50

[2022-09-09 09:38] tomfaulkenberry commented on #4684
Should have it done today!  I'm sorry for my delay...our semester got started right at the same time the review period got started.  I appreciate the reminder :)

[2022-09-09 09:38] tomfaulkenberry commented on #4684
@editorialbot generate my checklist

[2022-09-09 09:53] Jacks0nJ commented on #4607
@drvinceknight @CFGrote @geraintpalmer
Any updates on the review? Is there anything I need to be doing?

[2022-09-09 10:44] Solonets commented on #4521
Hi @hugoledoux. Thank you for your feedback. I will answer your questions one by one.

1. We developed the code before in the private repository.  I later removed some modules and submitted the code as one commit to the new repository.  All the people in the title except for one (CEO) heavily contributed to the code. After reading the authorship policy I agree we have to remove him from the author

[2022-09-09 11:21] bbrelje commented on #4598
@Fei-Tao I can do it

[2022-09-09 11:25] SietzeN commented on #4303
Dear @ajstewartlang,

Thanks again for editing and managing our submission.

We've created a tagged release of the software: https://github.com/SietzeN/glottospace/releases/tag/v0.0.113

And archived the version here: 10.5281/zenodo.7064529

All the best!
Sietze

[2022-09-09 11:45] vlad0x00 commented on #4720
Thank you @MaximLippeveld  and @pjb7687 for your reviews! Here are my responses to your concerns:

I am currently in the process of uploading the necessary code to reproduce the figures, I'll post here once available in the repo.

The claim is from the ntHash publication (https://academic.oup.com/bioinformatics/article/32/22/3492/2525588), which has been cited in the btllib manuscript. The btllib

[2022-09-09 11:56] ajstewartlang commented on #4303
@editorialbot generate pdf

[2022-09-09 12:17] ajstewartlang commented on #4303
@editorialbot set main as branch

[2022-09-09 12:17] ajstewartlang commented on #4303
@editorialbot generate pdf

[2022-09-09 12:20] ajstewartlang commented on #4303
@editorialbot set 10.5281/zenodo.7064529 as archive

[2022-09-09 12:21] ajstewartlang commented on #4303
@editorialbot set v0.0.113 as version

[2022-09-09 12:23] ajstewartlang commented on #4303
Many thanks for your great submission @SietzeN and huge thanks to @skalyan91 and @fauxneticien for your time and really helpful reviews!

[2022-09-09 12:24] ajstewartlang commented on #4303
@editorialbot recommend-accept

[2022-09-09 12:29] dhhagan commented on #4698
Hey @kthyng yes - I can get to it next Tuesday if that works?

[2022-09-09 12:59] enekomartinmartinez commented on #4329
@sixpearls thanks for the updates in the TODOs and new suggestions.
I will let you know when I have completed them.
We do not test the Euler method itself as we test several models with the output of Vensim/Stella with the same method.
But I think it will be interesting having some convergence tests for the particular method as you suggest. This will probably take me some days as I have some other

[2022-09-09 13:06] SietzeN commented on #4303
Thanks @ajstewartlang! Looks great!

[2022-09-09 13:15] slayoo commented on #3896
@arfon, please let us know if it would be possible to fix the remaining nbsp problems in the author list (already fixed in the project  repo) - see above, thanks, Sylwester

[2022-09-09 13:18] fboehm commented on #4720
Thank you, @vlad0x00 . @pjb7687 and @MaximLippeveld - please feel free to continue the conversation with the author in this thread. Thanks again!

[2022-09-09 13:29] rogersamso commented on #4329
@sixpearls, as @enekomartinmartinez mentions, we benchmark the results of the PySD solver against those of Vensim and Stella for [all of these tests](https://github.com/SDXorg/test-models/tree/master/tests). So we should be relatively safe in that regard. Accordingly, even if @enekomartinmartinez has accepted to work on that in the coming weeks, I think this issue is currently pretty well handled

[2022-09-09 13:41] Fei-Tao commented on #4598
@bbrelje Great! Thanks for helping review this submission.

[2022-09-09 13:42] Fei-Tao commented on #4598
@editorialbot add @bbrelje as reviewer

[2022-09-09 13:50] pdebuyl commented on #4329
@editorialbot set https://github.com/SDXorg/pysd as repository

[2022-09-09 13:50] kthyng commented on #4698
@dhhagan Awesome! sounds great.

[2022-09-09 13:50] kthyng commented on #4698
@editorialbot assign @dhhagan as editor

[2022-09-09 13:53] kthyng commented on #4697
@jgostick That's ok! Sorry to ask — I can't always tell who fits well in different categories. I can't promise it won't happen again though... :)

[2022-09-09 13:57] kthyng commented on #4744
@WEgeophysics To consider the issue @leouieda brought up, I'll ping the editorial board to check to see if this is in scope for JOSS. This will take 1-2 weeks.

[2022-09-09 13:57] kthyng commented on #4744
@editorialbot query scope

[2022-09-09 13:59] kthyng commented on #4697
@ireaml — Sorry other editors are still busy!

[2022-09-09 14:41] ZixiongLin1 commented on #4699
@editorialbot generate pdf

[2022-09-09 14:48] sixpearls commented on #4329
@rogersamso I asked about testing the mathematical properties of your implementation of the Euler solver or using an implementation that is already tested in [my first batch of comments](https://github.com/openjournals/joss-reviews/issues/4329#issuecomment-1213178569). Since this software package is claiming to implement this algorithm, the [JOSS review criteria](https://joss.readthedocs.io/en/lat

[2022-09-09 15:09] mstimberg commented on #4706
@editorialbot generate my checklist

[2022-09-09 15:16] WEgeophysics commented on #4744
ok editor!

[2022-09-09 15:35] jingpengw commented on #4691
@editorialbot generate my checklist

[2022-09-09 15:40] pdebuyl commented on #4605
@editorialbot start review

[2022-09-09 15:40] editorialbot opened #4748 "[REVIEW]: UM-Bridge: Uncertainty quantification and modeling bridge"
**Submitting author:** @linusseelinger (<a href="http://orcid.org/0000-0001-8632-8493">Linus Seelinger</a>)
**Repository:** https://github.com/UM-Bridge/umbridge
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.2
**Editor:** @pdebuyl
**Reviewers:** @georgiastuart, @Himscipy
**Archive:** 10.5281/zenodo.7743819

## Status

[![status](https://joss.theoj.org/papers/8a27aa01b2e7c39

[2022-09-09 15:40] #4605 closed

[2022-09-09 15:44] jingpengw commented on #4691
@osorensen
@OllyK
It seems that the `State of the field` is missing. It would be better to compare with existing tools including my own:
https://github.com/flatironinstitute/neutorch

I have also listed some others in the README of my repo.
[DeepEM](https://github.com/seung-lab/DeepEM)
[DataProvider3](https://github.com/seung-lab/DataProvider3)
[PyTorchUtils](https://github.com/nicholasturner1/PyT

[2022-09-09 15:44] pdebuyl commented on #4748
Hi @georgiastuart , @Himscipy ,

During the review, feel free to ask questions here to the authors directly if you need clarifications, or to me regarding the editorial part. If you open issues on the code's repository, please report them and/or their resolution here as well so that I can follow that part as well.

Thanks for reviewing for JOSS!

[2022-09-09 16:18] mspieg commented on #4632
Hi @leouieda

Just a gentle ping to see how things are going finding reviewers (and if there is anything I can do to help).

Thanks
Marc

[2022-09-09 16:20] oliviaguest commented on #4726
hey @faroit would you be able to manage this, please? ☺️

[2022-09-09 16:21] oliviaguest commented on #4726
@editorialbot invite @faroit as editor

[2022-09-09 16:42] OllyK commented on #4691
Hi @jingpengw Thank you for taking the time to look at this. Sure, good point, I'll add this section next week and let you know when it's ready.

[2022-09-09 19:51] garretrc commented on #4684
thanks for the reminder, I'll start taking a look at the repo and docs today but may not be able to test functionally until next week

[2022-09-09 20:24] kthyng commented on #4727
Hi @szhorvat and sorry for the delay! We'll try to find an appropriate editor for your paper.

[2022-09-09 20:24] kthyng commented on #4727
@prashjha are you interested in editing this submission?

[2022-09-09 20:25] kthyng commented on #4727
@editorialbot invite @prashjha as editor

[2022-09-09 20:28] kthyng commented on #4728
Hi @skaliy and thanks for your submission. Unfortunately, the JOSS editorial board has determined that it is out of scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). If this package is substantially expanded in the future, you are welcome to resubmit (and please link to this issue in that case). Thank you.

[2022-09-09 20:28] kthyng commented on #4728
@editorialbot reject