[2019-02-17 13:11] labarba commented on #1258
1. A folder is fine. A branch is fine. A different repo, no. (But you can delete after archive and publication.)
2. Need to put something in affiliation. Up to you what.
3. Statement of Need is not a required _heading_, but the content is. Your paper lacks the content.
4. The auto-build by `whedon` here is a requisite for publication. JOSS is able to be free thanks to many volunteers and extensive

[2019-02-17 13:13] casperdcl commented on #1258
@whedon commands

[2019-02-17 13:13] whedon commented on #1258
Here are some things you can ask me to do:

[code]

[2019-02-17 13:36] lucask07 commented on #1172
Hi @casteer,
Any luck or any questions with the Linux setup?

[2019-02-17 15:07] jschnab commented on #1125
@arfon - I uploaded an archive on Zenodo the DOI is 10.5281/zenodo.2567459
By the way I updated the version of the software : 0.9.0

[2019-02-17 15:13] yochannah commented on #1216
@whedon commands

[2019-02-17 15:13] whedon commented on #1216
Here are some things you can ask me to do:

[code]

[2019-02-17 15:17] yochannah commented on #1216
@Chilipp okay, looking good - one last thing before we accept - can you make sure the Zenodo archive title is the same as the paper title? Thanks!

[2019-02-17 15:18] yochannah commented on #1216
@whedon set v0.1.1 as version

[2019-02-17 15:18] whedon commented on #1216
OK. v0.1.1 is the version.

[2019-02-17 15:21] yochannah commented on #1005
@slithiaote I think I generally do agree - clear getting started docs in the readme is important for all open source software. I've added some comments myself in https://github.com/slithiaote/lepton/issues/2 as I also had trouble getting things to run.

[2019-02-17 15:22] yochannah commented on #1214
Thanks @tpetricek!

@cgravill, @sylvanc, are either or both of you interested in reviewing this paper by any chance?

[2019-02-17 16:31] arfon commented on #1125
@whedon set 10.5281/zenodo.2567459 as archive

[2019-02-17 16:31] whedon commented on #1125
OK. <a href="https://doi.org/10.5281/zenodo.2567459" target="_blank">10.5281/zenodo.2567459</a> is the archive.

[2019-02-17 16:31] arfon commented on #1125
@whedon set 0.9.0 as version

[2019-02-17 16:31] whedon commented on #1125
OK. 0.9.0 is the version.

[2019-02-17 16:31] arfon commented on #1125
@whedon accept

[2019-02-17 16:31] whedon commented on #1125
[code]

[2019-02-17 16:31] whedon commented on #1125
PDF failed to compile for issue #1125 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1125 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-02-17 16:32] whedon commented on #1125
[code]

[2019-02-17 16:32] arfon commented on #1125
@whedon generate pdf

[2019-02-17 16:32] whedon commented on #1125
[code]

[2019-02-17 16:33] whedon commented on #1125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01125/joss.01125/10.21105.joss.01125.pdf)

[2019-02-17 16:34] arfon commented on #1125
@whedon accept

[2019-02-17 16:34] whedon commented on #1125
[code]

[2019-02-17 16:34] whedon commented on #1125
[code]

[2019-02-17 16:34] whedon commented on #1125
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/498

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/498, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-17 16:35] arfon commented on #1125
@jschnab - it looks like there's an issue with one of the citations in the first paragraph?

[2019-02-17 16:36] arfon commented on #1145
@whedon accept

[2019-02-17 16:36] whedon commented on #1145
[code]

[2019-02-17 16:37] whedon commented on #1145
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/499

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/499, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-17 16:37] gkthiruvathukal commented on #1246
@labarba Yes, I will be happy to handle this submission, being one of the Java people on the board.

[2019-02-17 16:37] whedon commented on #1145
[code]

[2019-02-17 16:37] casperdcl commented on #1258
@whedon generate pdf from branch devel

[2019-02-17 16:37] whedon commented on #1258
[code]

[2019-02-17 16:37] whedon commented on #1258
PDF failed to compile for issue #1258 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01e

[2019-02-17 16:38] gkthiruvathukal commented on #1246
@whedon commands

[2019-02-17 16:38] whedon commented on #1246
Here are some things you can ask me to do:

[code]

[2019-02-17 16:39] gkthiruvathukal commented on #1246
@whedon list reviewers

[2019-02-17 16:39] whedon commented on #1246
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-02-17 16:39] arfon commented on #1145
@whedon accept deposit=true

[2019-02-17 16:39] whedon commented on #1145
[code]

[2019-02-17 16:40] whedon commented on #1145
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/500
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01145](https://doi.org/10.21105/joss.01145)
2. If everything looks go

[2019-02-17 16:41] casperdcl commented on #1258
@whedon generate pdf from branch devel

[2019-02-17 16:41] whedon commented on #1258
[code]

[2019-02-17 16:41] whedon commented on #1258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01258/joss.01258/10.21105.joss.01258.pdf)

[2019-02-17 16:42] arfon commented on #1145
@rmflight - many thanks for your review here and to @mgymrek for editing this submission ✨

@tothuhien - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-17 16:42] #1145 closed

[2019-02-17 16:42] whedon commented on #1145
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01145/status.svg)](https://doi.org/10.21105/joss.01145)

**We need your help!**

Journal of Open Source Softwar

[2019-02-17 16:47] arfon commented on #1145
@mgymrek - in the future, please ping `@openjournals/joss-eics` when you're ready to accept a paper. This will then notify the managing editor on rotation.

[2019-02-17 16:51] casperdcl commented on #1258
@whedon generate pdf from branch devel

[2019-02-17 16:51] whedon commented on #1258
[code]

[2019-02-17 16:51] whedon commented on #1258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01258/joss.01258/10.21105.joss.01258.pdf)

[2019-02-17 16:57] casperdcl commented on #1258
- [x] affilitiations
- [ ] statement of need
- [x] fix generate issues

[2019-02-17 17:16] arfon commented on #1213
@professorf - many thanks for your submission to JOSS. The editors of JOSS have had an offline discussion about this submission and we've decided that Excel submissions are not allowable in JOSS.

There are a number of challenges with Excel submissions for JOSS:

- 'Source code' is captured in a binary file.
- Excel isn't really software:
  - It's extremely hard (impossible?) to cleanly separate t

[2019-02-17 17:16] #1213 closed

[2019-02-17 17:24] casperdcl commented on #1258
@whedon generate pdf from branch devel

[2019-02-17 17:24] whedon commented on #1258
[code]

[2019-02-17 17:24] whedon commented on #1258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01258/joss.01258/10.21105.joss.01258.pdf)

[2019-02-17 17:26] casperdcl commented on #1258
@labarba thanks I think it's ready now

[2019-02-17 17:32] casperdcl commented on #1258
@whedon generate pdf from branch devel

[2019-02-17 17:32] whedon commented on #1258
[code]

[2019-02-17 17:32] whedon commented on #1258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01258/joss.01258/10.21105.joss.01258.pdf)

[2019-02-17 17:35] Chilipp commented on #1216
All right, done

https://zenodo.org/record/2565036#.XGmbPNF7mM8

[2019-02-17 17:43] fonnesbeck commented on #1229
Tests now run after installing the dev requirements, but [the tests fail](https://github.com/1313e/PRISM/issues/8).

[2019-02-17 17:44] casperdcl commented on #1258
@whedon generate pdf from branch devel

[2019-02-17 17:44] whedon commented on #1258
[code]

[2019-02-17 17:45] whedon commented on #1258
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01258/joss.01258/10.21105.joss.01258.pdf)

[2019-02-17 18:01] fonnesbeck commented on #1229
The submission satisfies all of the evaluation criteria. Once the issue above is addressed, I'm happy to recommend ACCEPT.

[2019-02-17 18:54] cMadan commented on #1258
@whedon assign @cMadan as editor

[2019-02-17 18:54] whedon commented on #1258
OK, the editor is @cMadan

[2019-02-17 18:59] cMadan commented on #1258
@casperdcl, thank you for submitting tdqm for publication in JOSS. I have used tdqm myself and recommended it to others and think it's a great package. That said, I'm not convinced that it's within the scope for publication in JOSS, but perhaps you can make the relevance more clear.

From the submission requirements (https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

[2019-02-17 19:33] yochannah commented on #1216
@whedon set 10.5281/zenodo.2565036 as archive

[2019-02-17 19:33] whedon commented on #1216
OK. <a href="https://doi.org/10.5281/zenodo.2565036" target="_blank">10.5281/zenodo.2565036</a> is the archive.

[2019-02-17 19:33] yochannah commented on #1216
@openjournals/joss-eics - we're ready to accept this one!! 🎉 🏆

@Chilipp Thanks for your great work on this package and fantastic collaboration with the reviewers.

@sgrieve @ixjlyons Thank you for your fantastic and in-depth reviews.

[2019-02-17 19:35] Chilipp commented on #1216
Thank you very much @yochannah and especially @sgrieve and @ixjlyons for your helpful inputs! I am very glad that everything worked out so well 😃

[2019-02-17 19:40] chris-prener commented on #1221
Thanks @sjsrey - I appreciate your feedback. We can absolutely address your last point to clarify `sum` and `total`. We can also clarify point two a bit in the documentation.

Re: your first bullet - I imagine there would be speed issues with a large `n`... a benchmark where we interpolate from state to counties might possibly illustrate speed constraints?

In any event - we can address these poin

[2019-02-17 19:47] casperdcl commented on #1258
Thanks @cMadan - it's on the first page out of >100k packages on https://libraries.io/search?languages=Python&order=desc&sort=rank, and as per JOSS requirements I've listed some peer-reviewed publications which explicitly list `tqdm` (see the *Popularity* section in the paper). It can be invaluable when debugging, say, learning rates of a machine learning framework. At 5M downloads per month (see

[2019-02-17 20:05] arfon commented on #1253
@harpolea - this PR should fix the paper compilation https://github.com/python-hydro/pyro2/pull/72

[2019-02-17 20:11] arfon commented on #1216
@whedon accept

[2019-02-17 20:11] whedon commented on #1216
[code]

[2019-02-17 20:11] whedon commented on #1216
[code]

[2019-02-17 20:12] whedon commented on #1216
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/501

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/501, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-17 20:13] arfon commented on #1216
@whedon accept deposit=true

[2019-02-17 20:13] whedon commented on #1216
[code]

[2019-02-17 20:14] whedon commented on #1216
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/502
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01216](https://doi.org/10.21105/joss.01216)
2. If everything looks go

[2019-02-17 20:16] arfon commented on #1216
@ixjlyons, @sgrieve - many thanks for your reviews and to @yochannah for editing this submission ✨

@Chilipp - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-17 20:16] #1216 closed

[2019-02-17 20:16] whedon commented on #1216
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01216/status.svg)](https://doi.org/10.21105/joss.01216)

**We need your help!**

Journal of Open Source Softwar

[2019-02-17 20:19] souopgui commented on #1237
@grlee77 Quick questions to help me finalize my review:

1. Apart from the references to Mallat "A Theory for Multiresolution Signal Decomposition: The Wavelet Representation", Wickerhauser "Adapted Wavelet Analysis from Theory to Software" and the thesis that started this work, is there other part of the doc that I am missing? I think that for a topic like the wavelet, there should be a little mo

[2019-02-17 20:37] jschnab commented on #1125
@whedon generate pdf

[2019-02-17 20:37] whedon commented on #1125
[code]

[2019-02-17 20:37] whedon commented on #1125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01125/joss.01125/10.21105.joss.01125.pdf)

[2019-02-17 20:51] jschnab commented on #1125
@whedon generate pdf

[2019-02-17 20:52] whedon commented on #1125
[code]

[2019-02-17 20:52] whedon commented on #1125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01125/joss.01125/10.21105.joss.01125.pdf)

[2019-02-17 20:55] jschnab commented on #1125
@arfon - I corrected mistakes in paper.md

[2019-02-17 21:19] arfon commented on #1125
@whedon accept

[2019-02-17 21:19] whedon commented on #1125
[code]

[2019-02-17 21:20] whedon commented on #1125
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/503

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/503, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-17 21:20] whedon commented on #1125
[code]

[2019-02-17 21:21] arfon commented on #1125
@whedon accept deposit=true

[2019-02-17 21:21] whedon commented on #1125
[code]

[2019-02-17 21:22] whedon commented on #1125
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/504
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01125](https://doi.org/10.21105/joss.01125)
2. If everything looks go

[2019-02-17 21:26] arfon commented on #1125
@aokad, @johnlees - many thanks for your reviews here ✨

@jschnab - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-17 21:26] #1125 closed

[2019-02-17 21:26] whedon commented on #1125
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01125/status.svg)](https://doi.org/10.21105/joss.01125)

**We need your help!**

Journal of Open Source Softwar

[2019-02-17 23:53] jlizier commented on #1081
The suggested missing DOI is for a preprint without a DOI, so I think we can proceed

[2019-02-18 00:53] jason-neal commented on #1053
The thesis is now submitted so I can focus on completing this.
I have made quite a few of the changes (with commits referencing the issues) in the [newdocs](https://github.com/jason-neal/eniric/tree/newdocs) branch.

I still have some issues with learning/getting the auto-documentation correct on readthedocs.

[2019-02-18 02:39] 1313e commented on #1229
@fonnesbeck I have solved the problem with 1313e/PRISM#8, and also improved the README and docs on the topic of running the pytests.

@arokem Do you have an idea how I can fix the formatting error that whedon gives when compiling the `paper.md`?
It formats my last name incorrectly in the footer of every page (I already noticed that immediately after submission, but had not asked about it yet).

[2019-02-18 02:42] arfon commented on #1229
@1313e - I’ll have to fix the name issue manually at the end (the automated proofs will continue to have this problem)

[2019-02-18 03:04] pankajkmishra commented on #1173
@@kyleniemeyer: Is it allowed to update the repository while it is under review?

[2019-02-18 04:03] mrecos commented on #722
Hello @arfon . I have completed the code updates requested by Ben via his review and Issues. These include general code cleanup, documentation of all public functions, a vignette, and unit testing. Please review and advise. Thanks!

[2019-02-18 09:02] MarionLegrandLogrami commented on #791
@labarba  - thank you for your message. We are still working on the change requested by our reviewer. We are almost done (still a few checks) and try to finish as soon as possible.

[2019-02-18 09:05] Kevin-Mattheus-Moerman commented on #1173
I'll finalize the review by next Monday. Apologies for the delay.

[2019-02-18 10:49] IanHawke commented on #1253
@whedon generate pdf

[2019-02-18 10:49] whedon commented on #1253
[code]

[2019-02-18 10:50] whedon commented on #1253
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01253/joss.01253/10.21105.joss.01253.pdf)

[2019-02-18 11:14] labarba commented on #1253
@whedon assign @labarba as editor

[2019-02-18 11:14] whedon commented on #1253
OK, the editor is @labarba

[2019-02-18 11:18] labarba commented on #1253
@harpolea, @IanHawke, @zingale, @taataam — If you have any reviewer suggestions, feel free to post them here. The link to our volunteer databas is in the header of this thread.

[2019-02-18 11:19] labarba commented on #1253
👋  @gforsyth — I wonder if you would be willing/able to contribute a review for JOSS on this submission? *"pyro: a framework for hydrodynamics explorations and prototyping"*

[2019-02-18 11:51] fonnesbeck commented on #1229
I am now able to run the test suite without issue. There are no other outstanding problems, so I recommend ACCEPT. cc @arfon

[2019-02-18 13:49] arfon commented on #722
Great!

@benmarwick - when you get a chance, could you please come and take another look?

[2019-02-18 13:50] arfon commented on #1229
@arokem - let me know when you're ready to accept this - I'll have to manually process this one to deal with Whedon's poor handling of `van der Velden` as a last name.

[2019-02-18 13:57] danielskatz commented on #1097
👋 @gsagnol - please let us know your thoughts as well:
Does this now allow you to check all the boxes?
If not, what else do you think needs to be done?

[2019-02-18 13:58] danielskatz commented on #1157
👋 @Chilipp & @taqtiqa-mark - note that we're waiting on your inputs here...

[2019-02-18 13:59] danielskatz commented on #1225
👋 @studywolf & @jenskober - Please go ahead and start this review when you are able to do so

[2019-02-18 14:00] whedon opened #1259 "[PRE REVIEW]: mitolina: MITOchondrial LINeage Analysis"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/mitolina" target ="_blank">https://github.com/mikldk/mitolina</a>
**Version:** v0.0.1
**Editor:** @lpantano
**Reviewers:** @jdeligt

**Author instructions**

Thanks for submitting your paper to JOSS @mikldk. The JOSS editor @mgymrek, will work

[2019-02-18 14:00] whedon commented on #1259
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@mgymrek) to find some reviewers for

[2019-02-18 14:00] whedon commented on #1259
[code]

[2019-02-18 14:00] whedon commented on #1259
PDF failed to compile for issue #1259 with the following error:

 Can't find any papers to compile :-(

[2019-02-18 14:02] danielskatz commented on #1259
Hi @mikldk - you need to put a paper in the repository before a review can start - see https://joss.readthedocs.io/en/latest/submitting.html

[2019-02-18 14:22] Chilipp commented on #1157
Hey @danielskatz and @justinalsing. Sorry. Sure, if that is sufficient for the criteria of JOSS, I won't make a stand against it

[2019-02-18 14:54] mikldk commented on #1259
I totally agree. I forgot to change `.gitignore` (mikldk/mitolina@eccc17e3ada22fda0e920732523beb63d39c1ec9)

[2019-02-18 14:55] mikldk commented on #1259
@whedon commands

[2019-02-18 14:55] whedon commented on #1259
Here are some things you can ask me to do:

[code]

[2019-02-18 14:56] mikldk commented on #1259
@whedon generate pdf

[2019-02-18 14:56] whedon commented on #1259
[code]

[2019-02-18 14:56] whedon commented on #1259
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01259/joss.01259/10.21105.joss.01259.pdf)

[2019-02-18 14:57] mikldk commented on #1259
Now fixed (mikldk/mitolina@eccc17e3ada22fda0e920732523beb63d39c1ec9 + mikldk/mitolina@4b24a010b6b175e45a1f639029da68e1603ac205). Thanks, @danielskatz.

[2019-02-18 15:11] danielskatz commented on #1259
👋 @mgymrek - note that the authors suggested you as the editor, and this is now assigned to you

[2019-02-18 15:45] IanHawke commented on #1253
Based on the list of reviewers my first thought would be @ngoldbaum ; however, I'm not sure if eg @zingale may have a conflict there through yt?

[2019-02-18 16:07] ssfrr commented on #1166
Getting rolling now, basing my review on the proof from [3 days ago](https://github.com/openjournals/joss-reviews/issues/1166#issuecomment-464238975)

[2019-02-18 16:17] ssfrr commented on #1166
This paper also references and uses MusicManipulations.jl. Is that in-scope for the review, or are we solely considering MIDI.jl?

[2019-02-18 17:23] lheagy commented on #1221
Thanks for getting in touch @chris-prener, addressing reviewer comments is the only thing that needs to be done at this stage. Please ping again when you feel they have all been addressed and we can proceed from there.

Many thanks @edzer and @sjsrey for your feedback!

[2019-02-18 17:34] harpolea commented on #1253
From looking at people in the list who mention CFD, I'd also suggest @mikaem or @highlando

[2019-02-18 17:34] trallard commented on #1219
thanks @rrrlw

[2019-02-18 17:35] trallard commented on #1219
@whedon set @rrrlw as reviewer

[2019-02-18 17:43] studywolf commented on #1225
I'm still a couple weeks from being able to start reviewing.

On Mon, Feb 18, 2019, 3:59 AM Daniel S. Katz <notifications@github.com
wrote:

[2019-02-18 17:57] strengejacke commented on #1219
I also have time and could review this submission!

[2019-02-18 18:06] lheagy commented on #808
Thanks @viktor76525. @leouieda: would you be willing to do a final pass?

[2019-02-18 18:25] mikaem commented on #1253
Looks interesting. I'll be happy to do it:-)

[2019-02-18 18:32] cboettig commented on #1242
@labarba Sure thing

[2019-02-18 18:56] arfon commented on #1219
@trallard - you want `@whedon add @rrrlw as reviewer` <- (or assign rather than add)

[2019-02-18 18:58] ssfrr commented on #1166
## Review Summary:

MIDI.jl is a Julia package to enable users to read and write MIDI notes and tracks. While there is prior work in this space, it is useful to have a pure-julia implementation for working with MIDI files, as MIDI is a widely-used format for symbolic music representation. This work also includes the MusicManipulations package, which provides additional functionality for quantizing

[2019-02-18 19:01] trallard commented on #1219
@whedon assign @rrrlw as reviewer

[2019-02-18 19:02] whedon commented on #1219
OK, the reviewer is @rrrlw

[2019-02-18 19:02] trallard commented on #1219
@whedon add @strengejacke as reviewer

[2019-02-18 19:02] whedon commented on #1219
OK, @strengejacke is now a reviewer

[2019-02-18 19:04] trallard commented on #1219
@whedon start review

[2019-02-18 19:04] whedon opened #1260 "[REVIEW]: getTBinR: an R package for accessing and summarising the World Health Organisation Tuberculosis data"
**Submitting author:** @seabbs (<a href="http://orcid.org/0000-0001-8057-8037">Sam Abbott</a>)
**Repository:** <a href="https://github.com/seabbs/getTBinR" target ="_blank">https://github.com/seabbs/getTBinR</a>
**Version:** 0.5.8
**Editor:** @trallard
**Reviewer:** @rrrlw, @strengejacke
**Archive:** <a href="https://doi.org/10.5281/zenodo.2547405" target="_blank">10.5281/zenodo.2547405</a>

## St

[2019-02-18 19:04] whedon commented on #1219
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1260. Feel free to close this issue now!

[2019-02-18 19:04] whedon commented on #1260
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rrrlw, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-02-18 19:04] whedon commented on #1260
[code]

[2019-02-18 19:04] trallard commented on #1219
Thanks, @arfon 🤦🏻‍♀️ I sometimes get the commands mixed up

---
Now that we have two reviewers we are ready to proceed with the formal review so let's move over to the review issue!

[2019-02-18 19:04] #1219 closed

[2019-02-18 19:04] whedon commented on #1260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01260/joss.01260/10.21105.joss.01260.pdf)

[2019-02-18 19:06] trallard commented on #1260
👋 @rrrlw and @strengejacke this is the review issue the latest version of the JOSS paper is just up here ⬆

Please use this issue to conduct your review and discuss any issues/concerns raised during the review process.

If you have any questions at any point, please feel free to ping me

[2019-02-18 19:17] grlee77 commented on #1237
I think you are asking about the PyWavelets documentation and not the manuscript itself? Specific functions do have additional references to the literature (see for example the docs for [threshold](https://pywavelets.readthedocs.io/en/latest/ref/thresholding-functions.html#pywt.threshold) or [fswavedecn](https://pywavelets.readthedocs.io/en/latest/ref/nd-dwt-and-idwt.html#multilevel-fully-separabl

[2019-02-18 19:32] pjotrp commented on #1259
We should not assign editors without agreement. Lorena has agreed to edit this one.

[2019-02-18 19:32] pjotrp commented on #1259
@whedon assign @lpantano as editor

[2019-02-18 19:32] whedon commented on #1259
OK, the editor is @lpantano

[2019-02-18 19:36] pjotrp commented on #1259
@danielskatz thank you for helping out! @mikldk we'll look for a reviewer. If you know someone in your field who can review, you can recommend.

[2019-02-18 19:41] DavideNardone commented on #1049
Hello everybody,

I've got some of the results but i haven't had time to update the paper yet. I will asap.

Here a preview for the first task.
<img width="576" alt="screen shot 2019-02-18 at 8 41 23 pm" src="https://user-images.githubusercontent.com/13561546/52973203-94375300-33bd-11e9-8558-2174da5cde78.png">
<img width="610" alt="screen shot 2019-02-18 at 8 39 12 pm" src="https://user-images.git

[2019-02-18 19:55] mikldk commented on #1259
Thanks, @pjotrp. I give it a thought. Although not in the centre of my field, @afrubin and @ajank have previously reviewed related software (#684); maybe they are ready again?

[2019-02-18 19:56] arokem commented on #1229
@whedon generate pdf

[2019-02-18 19:56] whedon commented on #1229
[code]

[2019-02-18 19:56] whedon commented on #1229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)

[2019-02-18 19:57] arokem commented on #1250
Hey @agramfort: would you be willing to review this paper for [JOSS](http://joss.theoj.org)? Thanks!

[2019-02-18 20:14] agramfort commented on #1250
I could but I would suggest to ask @TomDLT who certainly has more time to take a close look. Otherwise when would you need a review? For when? Should the review be posted here? What are the guidelines for reviewers?

[2019-02-18 20:15] arokem commented on #1229
@1313e

Two comments on the manuscript:

1. The first is that the link to the software is not necessary. As you can see in the rendered PDF, there will be a link to your GitHub repo on the first page of the manuscript. This is not a required fix.

2. Could you please add the DOI for the Raftery et al. paper? (DOI: 10.1080/01621459.1995.10476529). This one is required.

[2019-02-18 20:18] arokem commented on #1250
Thanks for the quick response. The guidelines for reviewers are [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Generally: public/open review on GitHub, focused on a checklist of items that we would like the software to comply with, before publishing the paper. We'd like to have a review in two weeks, if possible. Can you take this on?

[2019-02-18 20:18] arokem commented on #1250
@TomDLT: @agramfort suggested you would be a good reviewer for this article in [JOSS](http://joss.theoj.org). Would you be available to review this in addition or instead of him? Thanks!

[2019-02-18 21:27] whedon opened #1261 "[PRE REVIEW]: REDCap.jl: A Julia wrapper for the REDCap API"
**Submitting author:** @flcn17 (<a href="http://orcid.org/0000-0002-2794-1834">Cory Cothrum</a>)
**Repository:** <a href="https://github.com/bcbi/REDCap.jl" target ="_blank">https://github.com/bcbi/REDCap.jl</a>
**Version:** v1.0.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @flcn17. The JOSS editor Pending, will work with you on thi

[2019-02-18 21:27] whedon commented on #1261
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-18 21:27] whedon commented on #1261
[code]

[2019-02-18 21:27] whedon commented on #1261
PDF failed to compile for issue #1261 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01e

[2019-02-18 21:28] arfon commented on #1261
@FLCN17 - it looks like the bibliography is missing from your submission?

[2019-02-18 21:29] symmy596 commented on #1210
@bocklund  - Would you like me to comment the specific commits where the changes where made, sorry I realise that I probably should have done this anyway.
Cheers

[2019-02-18 21:58] poulson commented on #1240
whedon generate pdf

[2019-02-18 21:59] poulson commented on #1240
@whedon generate pdf

[2019-02-18 21:59] whedon commented on #1240
[code]

[2019-02-18 21:59] whedon commented on #1240
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01240/joss.01240/10.21105.joss.01240.pdf)

[2019-02-18 22:11] rrrlw commented on #1260
Minor point: the GitHub README meets the criteria for "Statement of need" in the Documentation section (corresponding box has been checked), however, a slightly more detailed description in the DESCRIPTION file could be helpful for useRs who download the CRAN package w/o looking at the GitHub page.

[2019-02-18 22:13] rrrlw commented on #1260
Minor point: the Depends, Imports, and Suggests fields in the DESCRIPTION file meet the criteria for "Installation instructions" (corresponding box has been checked), but it is often helpful to include minimum package versions for the Imports and Suggests fields (as you do for the R dependency under the Depends field).

[2019-02-18 22:25] poulson commented on #1240
Thanks @benjaminwilson; I proofread and everything looks great. Would you mind creating a Zenodo archive and reporting the DOI here?

[2019-02-18 22:26] 1313e commented on #1229
Alright, fixed that.

I guess we will have to wait with accepting the paper until the AAS Journals submission has been reviewed, right?

[2019-02-18 22:31] rrrlw commented on #1260
Quick update: this is an easy submission to review: wonderful & useful software, evidenced by numerous examples, vignettes, sample data, smooth installation, clean pkgdown [website](https://www.samabbott.co.uk/getTBinR/); overall this looks like a mature package with a good number of users that will be useful to researchers.

There are a couple of minor points (as stated above + minor LICENSE poin

[2019-02-18 22:33] r-barnes commented on #1153
Sorry about the delay. Whedon invited me to join the github and this resulted in an unbelievable amount of spam. I think I've finally got my settings such that I'll see this conversation and not the rest. @Kevin-Mattheus-Moerman : Do I now evaluate the work based on [this](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) and [this](https://joss.readthedocs.io/en/latest/review_criter

[2019-02-18 22:44] ngoldbaum commented on #1253
If there’s no problem with me and @zingale being yt developers I’d be happy to review this.

[2019-02-18 22:56] arfon commented on #1229
Yes, I think that's right. @crawfordsm - does that sound about right to you?

[2019-02-18 22:59] Kevin-Mattheus-Moerman commented on #1153
@whedon start review

[2019-02-18 22:59] whedon opened #1262 "[REVIEW]: Scyland3D: Processing 3D landmarks"
**Submitting author:** @ybayle (<a href="http://orcid.org/0000-0002-5143-2335">Yann Bayle</a>)
**Repository:** <a href="https://github.com/ybayle/Scyland3D" target ="_blank">https://github.com/ybayle/Scyland3D</a>
**Version:** v1.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @r-barnes, @patrikhuber
**Archive:** <a href="https://doi.org/10.5281/zenodo.3637546" target="_blank">10.5281/zenod

[2019-02-18 22:59] whedon commented on #1153
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1262. Feel free to close this issue now!

[2019-02-18 22:59] whedon commented on #1262
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @r-barnes it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-02-18 22:59] whedon commented on #1262
[code]

[2019-02-18 23:00] whedon commented on #1262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01262/joss.01262/10.21105.joss.01262.pdf)

[2019-02-18 23:00] Kevin-Mattheus-Moerman commented on #1262
@r-barnes thanks. This is where the review takes place and you can see the tickboxes at the top here. Note there are also instructions to avoid the spam you mentioned. Let me know if you have questions.

[2019-02-18 23:02] Kevin-Mattheus-Moerman commented on #1262
@ybayle this is where the review takes place. Please also note the comments by @patrikhuber over at https://github.com/openjournals/joss-reviews/issues/1153

[2019-02-18 23:16] damaggu commented on #1171
@arokem @danielskatz I've found actually another potential reviewer on campus @tanselbaran, that would fulfil both the proximity and the COI requirement. Therefore I'd propose him as reviewer. Would that work?

[2019-02-18 23:37] #1153 closed

[2019-02-18 23:53] labarba commented on #1253
@ngoldbaum Thank you! According to our policy, we simply ask for disclosure (as you've done here) of any association with the authors, and for an assessment on your part that the circumstance does not make you "unable to make an impartial scientific judgment or evaluation." If you assert that you can be impartial in your review, then we're good!

[2019-02-18 23:58] labarba commented on #1253
Thanks for agreeing to review, @mikaem! I will assign you now, and add @ngoldbaum in a moment—just waiting for confirmation from him.

[2019-02-18 23:58] labarba commented on #1253
@whedon assign @mikaem as reviewer

[2019-02-18 23:58] whedon commented on #1253
OK, the reviewer is @mikaem

[2019-02-19 00:05] whedon opened #1263 "[PRE REVIEW]: riskclustr: Functions to Study Etiologic Heterogeneity"
**Submitting author:** @zabore (<a href="http://orcid.org/0000-0002-1402-4498">Emily Zabor</a>)
**Repository:** <a href="https://github.com/zabore/riskclustr" target ="_blank">https://github.com/zabore/riskclustr</a>
**Version:** 0.1.0
**Editor:** @pjotrp
**Reviewers:** @avhoeck

**Author instructions**

Thanks for submitting your paper to JOSS @zabore. The JOSS editor Pending, will work with you

[2019-02-19 00:05] whedon commented on #1263
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-19 00:05] whedon commented on #1263
[code]

[2019-02-19 00:05] whedon commented on #1263
Failed to discover a valid open source license.

[2019-02-19 00:05] whedon commented on #1263
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01263/joss.01263/10.21105.joss.01263.pdf)

[2019-02-19 00:06] arfon commented on #1263
:wave: @pjotrp - do you think you could suggest a handling editor for this submission?

[2019-02-19 00:09] patrikhuber commented on #1153
Hi @Kevin-Mattheus-Moerman,
Shall I copy&paste my review over to the review thread? It might be more appropriate there?

Best wishes,
Patrik

[2019-02-19 00:18] labarba commented on #1242
Thanks, @cboettig ! I will look for a second reviewer, and get this started.

[2019-02-19 00:23] labarba commented on #1242
👋  @benmarwick — Would you be willing to contribute a review for this JOSS submission? I have a feeling it's right up your alley: **Rclean: A Tool for Writing Cleaner, More Transparent Code**

[2019-02-19 00:36] kyleniemeyer commented on #1173
@pankajkmishra Yes, but please let us know here when you update it and what changes were made; it sounds like the reviewers may not have started with the current version, so should be fine.

[2019-02-19 00:43] Datseris commented on #1166
Thank you @ssfrrr for your review. Let me know answer one by one your specific issues:

1. Thank you for pointing this out, I have now reworked my introduction.
2. Please be more specific about this issue. By reading the entire paper I can only find a singular instance: the opening paragraph of the section "Intuitive and simple interface". I could not find any other instance where there are "refer

[2019-02-19 00:45] Datseris commented on #1166
@whedon generate pdf

[2019-02-19 00:45] whedon commented on #1166
[code]

[2019-02-19 00:45] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-19 01:38] cMadan commented on #1081
@whedon accept

[2019-02-19 01:38] whedon commented on #1081
[code]

[2019-02-19 01:38] whedon commented on #1081
[code]

[2019-02-19 01:41] cMadan commented on #1081
@arfon, it looks like whedon isn't giving the link to the final proof here...? Otherwise I think we're set to accept.

[2019-02-19 01:48] arfon commented on #1081
@whedon accept

[2019-02-19 01:48] whedon commented on #1081
[code]

[2019-02-19 01:49] whedon commented on #1081
[code]

[2019-02-19 01:53] arfon commented on #1081
@whedon generate pdf

[2019-02-19 01:53] whedon commented on #1081
[code]

[2019-02-19 01:54] arfon commented on #1081
Not sure what's going on here. Will debug.

[2019-02-19 02:02] whedon commented on #1081
PDF failed to compile for issue #1081 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1081 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-02-19 02:26] whedon commented on #1081
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/505

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/505, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-19 02:26] arfon commented on #1081
@whedon accept

[2019-02-19 02:26] whedon commented on #1081
[code]

[2019-02-19 02:27] whedon commented on #1081
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/506

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/506, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-19 02:27] whedon commented on #1081
[code]

[2019-02-19 02:28] arfon commented on #1081
@whedon accept deposit=true

[2019-02-19 02:28] whedon commented on #1081
[code]

[2019-02-19 02:29] whedon commented on #1081
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/507
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01081](https://doi.org/10.21105/joss.01081)
2. If everything looks go

[2019-02-19 02:30] arfon commented on #1081
@danielemarinazzo, @Autoplectic - many thanks for your reviews here and to @cMadan for editing this one ✨

@pwollstadt - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-19 02:30] #1081 closed

[2019-02-19 02:30] whedon commented on #1081
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01081/status.svg)](https://doi.org/10.21105/joss.01081)

**We need your help!**

Journal of Open Source Softwar

[2019-02-19 02:46] jlizier commented on #1081
Awesome - thank you very much @arfon @cMadan and @danielemarinazzo @Autoplectic for your work!

[2019-02-19 04:57] danielskatz commented on #1171
I defer to @arokem

[2019-02-19 05:02] arokem commented on #1229
@whedon generate pdf

[2019-02-19 05:02] whedon commented on #1229
[code]

[2019-02-19 05:02] whedon commented on #1229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)

[2019-02-19 05:06] arokem commented on #1229
OK - I believe that this manuscript is ready to be accepted from our end.

@arfon: should @1313e create a Zenodo archive with the code as it is now, or wait until the AAS journal review is also resolved?

[2019-02-19 05:08] arokem commented on #1171
Thanks for finding an alternate reviewer! @tanselbaran: would you be willing to review this paper for JOSS? If you are, we can excuse @damaggu and move on with this with you as the reviewer. I'll have to figure out how to add you here.

[2019-02-19 06:15] pjotrp commented on #1263
Very cool paper :)

[2019-02-19 06:15] pjotrp commented on #1263
@whedon assign @pjotrp as editor

[2019-02-19 06:15] whedon commented on #1263
OK, the editor is @pjotrp

[2019-02-19 08:27] whedon commented on #1179
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/508

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/508, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-19 09:00] rougier commented on #1252
Quick update on the review, we're trying to solve an [installation problem](https://github.com/mir-am/LightTwinSVM/issues/3)

[2019-02-19 09:09] ajank commented on #1259
Hi @mikldk, thanks for asking! Unfortunately I cannot commit myself to review anything in the coming few weeks. If you were still looking for a reviewer in 2-3 weeks from now, do not hesitate to contact me again.

[2019-02-19 09:14] tanselbaran commented on #1171
Sure, I would be willing to review this paper.

[2019-02-19 09:27] seabbs commented on #1260
Hi @rrrlw,

Thanks for reviewing.

Do you have a suggestion for how to establish the minimum package versions?

Barring an automated approach, the solutions I see is:

1. Testing the R version given as the minimum and testing the packages available at that time (using rocker docker containers to get package versions).
2. Rolling forward the package versions until all tests pass.

Any other solutio

[2019-02-19 09:48] mikldk commented on #1259
Hi @ajank ; thank's for letting us know. @pjotrp and I will try to find someone else.

[2019-02-19 11:25] arfon commented on #1229
I think it's OK to create the archive now.

[2019-02-19 11:43] 1313e commented on #1229
Alright, should I make an archive of the current state of the master branch?

[2019-02-19 11:55] arfon commented on #1229
Yes please!

[2019-02-19 12:04] seabbs commented on #1260
Hi @rrrlw

Just an update on dep versions. I have updated the R dependency to be `3.1.2` rather than `2.1`. This is the earliest R version that I am actively testing on travis so will definitely work. `2.1` was set by devtools (I think) and I don't really have a guarantee that it works (:().

For package dependencies I have used `usethis::use_tidy_versions()` to set package deps based on what my d

[2019-02-19 12:45] 1313e commented on #1229
Alright, I had to get back out of my bed for it, but here is the zenodo DOI: 10.5281/zenodo.2572736

[2019-02-19 13:54] rrrlw commented on #1260
The R dependency is always the trickiest for me as well because updating R can be a pain for many useRs; I think you have selected a reasonable minimum (although I think 2.1 was also acceptable). Given that installing/updating a package is generally not as troublesome, your solution of using the versions in your environment is ideal. Thank you for the rapid changes.

[2019-02-19 14:07] arfon commented on #1229
@whedon set 10.5281/zenodo.2572736 as archive

[2019-02-19 14:07] whedon commented on #1229
OK. <a href="https://doi.org/10.5281/zenodo.2572736" target="_blank">10.5281/zenodo.2572736</a> is the archive.

[2019-02-19 14:37] strengejacke commented on #1260
As far as I'm concerned and what I have tested and seen from the package, all remaining issues have been addressed by @seabbs. The package documentation, examples and descriptions are pretty straightforward and clear. The same holds true for the paper. Thus, I recommend this paper for publication in JOSS

[2019-02-19 14:48] ngoldbaum commented on #1253
I assert that my association with Mike doesn't make me unable to make an impartial scientific judgement or evaluation.

[2019-02-19 15:05] lpantano commented on #1259
@whedon assign @jdeligt as reviewer

[2019-02-19 15:08] whedon commented on #1259
OK, the reviewer is @jdeligt

[2019-02-19 15:17] dancekickrun commented on #1172
Hi Lucas, I'm sorry for the delay and the new installation page has greatly helped, thank you. I've got it installed now with no errors and will be testing with one of our instruments over the next couple of days. Thanks again for your help. Best wishes.

[2019-02-19 15:22] casteer commented on #1172
Hi, Thanks so much @lucask07 for the new help page and I'm sorry for the delay. I've got it install and will be instrument testing over the next couple of days. Best wishes.

[2019-02-19 15:33] gforsyth commented on #1253
Happy to help -- currently slammed with SciPy stuff, but if you need another reviewer I can take a look next week

[2019-02-19 15:41] VivianePons commented on #1192
@whedon assign @pajaskowiak as reviewer

[2019-02-19 15:41] whedon commented on #1192
OK, the reviewer is @pajaskowiak

[2019-02-19 16:10] VivianePons commented on #1192
@whedon start review

[2019-02-19 16:10] whedon opened #1264 "[REVIEW]: CluSim: a Python package for the comparison of clusterings and dendrograms"
**Submitting author:** @ajgates42 (<a href="http://orcid.org/0000-0003-0099-7480">Alexander Gates</a>)
**Repository:** <a href="https://github.com/Hoosier-Clusters/clusim" target ="_blank">https://github.com/Hoosier-Clusters/clusim</a>
**Version:** v0.3.2
**Editor:** @VivianePons
**Reviewers:** @pajaskowiak, @adavidzh
**Archive:** <a href="https://doi.org/10.5281/zenodo.2601868" target="_blank">10

[2019-02-19 16:10] whedon commented on #1192
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1264. Feel free to close this issue now!

[2019-02-19 16:10] whedon commented on #1264
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pajaskowiak it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-02-19 16:10] whedon commented on #1264
[code]

[2019-02-19 16:11] whedon commented on #1264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01264/joss.01264/10.21105.joss.01264.pdf)

[2019-02-19 16:12] labarba commented on #1253
@whedon add @ngoldbaum as reviewer

[2019-02-19 16:12] whedon commented on #1253
OK, @ngoldbaum is now a reviewer

[2019-02-19 16:13] #1192 closed

[2019-02-19 16:13] labarba commented on #1253
Thanks for being willing to contribute a review for JOSS, @gforsyth! I will take you up on it another time, as we now have two reviewers for this submission and you're on SciPy duty.

[2019-02-19 16:14] whedon opened #1265 "[REVIEW]: pyro: a framework for hydrodynamics explorations and prototyping"
**Submitting author:** @harpolea (<a href="http://orcid.org/0000-0002-1530-781X">Alice Harpole</a>)
**Repository:** <a href="https://github.com/python-hydro/pyro2" target ="_blank">https://github.com/python-hydro/pyro2</a>
**Version:** v.3.1
**Editor:** @labarba
**Reviewer:** @mikaem, @ngoldbaum
**Archive:** <a href="https://doi.org/10.5281/zenodo.2575565" target="_blank">10.5281/zenodo.2575565</a

[2019-02-19 16:14] adavidzh commented on #1264
I have a few fundamental comments [from the pre-review](https://github.com/openjournals/joss-reviews/issues/1192#issuecomment-457099152) which I would hope the authors can comment on.

[2019-02-19 16:14] whedon commented on #1265
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mikaem, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-02-19 16:14] whedon commented on #1265
[code]

[2019-02-19 16:14] #1253 closed

[2019-02-19 16:15] whedon commented on #1265
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01265/joss.01265/10.21105.joss.01265.pdf)

[2019-02-19 16:16] labarba commented on #1265
👋  @mikaem, @ngoldbaum — Thanks for agreeing to contribute this review! This is where the action happens. You have a reviewer checklist at the top of this issue, and you are welcome to ask any questions or leave comments for the authors here, as well as opening new issues in the submission repository if needed. (If you do, mention the issue in a comment here, to get a cross-link.)

[2019-02-19 17:51] lpantano commented on #1259
@whedon start review magic-word=bananas

[2019-02-19 17:52] whedon opened #1266 "[REVIEW]: mitolina: MITOchondrial LINeage Analysis"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/mitolina" target ="_blank">https://github.com/mikldk/mitolina</a>
**Version:** v0.0.1
**Editor:** @lpantano
**Reviewer:** @jdeligt
**Archive:** <a href="https://doi.org/10.5281/zenodo.2574400" target="_blank">10.5281/zenodo.2574400</a>

## Sta

[2019-02-19 17:52] whedon commented on #1259
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1266. Feel free to close this issue now!

[2019-02-19 17:52] whedon commented on #1266
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jdeligt it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-02-19 17:52] whedon commented on #1266
[code]

[2019-02-19 17:53] #1259 closed

[2019-02-19 17:53] whedon commented on #1266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01266/joss.01266/10.21105.joss.01266.pdf)

[2019-02-19 17:55] lpantano commented on #1266
Hi @mikldk,

We are starting the review process in this issue tracker.

To expedite the review process do you mind going through the above list of checkboxes and make sure they can be ticked (you can't tick them). Also, check the PDF output carefully.

Please, Ping us here when you are done.

Cheers

Lorena

[2019-02-19 17:56] danielskatz commented on #1259
FWIW, @lpantano, you shouldn't need to use the "magic-word" - just ```@whedon start review``` should work

[2019-02-19 18:14] rrrlw commented on #1260
I agree with @strengejacke. Thank you for your contribution, @seabbs.

[2019-02-19 18:16] whedon opened #1267 "[PRE REVIEW]: NiBetaSeries: task related correlations in fMRI"
**Submitting author:** @jdkent (<a href="http://orcid.org/0000-0002-4892-2659">James Kent</a>)
**Repository:** <a href="https://github.com/HBClab/NiBetaSeries" target ="_blank">https://github.com/HBClab/NiBetaSeries</a>
**Version:** v0.2.3
**Editor:** @arokem
**Reviewers:** snastase

**Author instructions**

Thanks for submitting your paper to JOSS @jdkent. The JOSS editor @arokem, will work with

[2019-02-19 18:16] whedon commented on #1267
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arokem) to find some reviewers for yo

[2019-02-19 18:16] whedon commented on #1267
[code]

[2019-02-19 18:17] arfon commented on #1267
:wave: @arokem - the submitting author suggested you as the handling editor and this looks like a pretty good fit I think?

[2019-02-19 18:17] whedon commented on #1267
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01267/joss.01267/10.21105.joss.01267.pdf)

[2019-02-19 18:49] bocklund commented on #1210
@symmy596 You comments from before were plenty, thanks for pinging me again.

@labarba I've completed the checklist and everything looks good to me.

[2019-02-19 19:03] mkhorton commented on #1210
I'm taking one last look too, but looks good to me as well, will update my checklist shortly (@symmy596 you were correct that the previous issue I mentioned is with pymatgen/matplotlib, not with surfinpy)

[2019-02-19 19:46] labarba commented on #1210
@bocklund, @mkhorton — Thank you, both. I'm going to ask for a clear statement from you, when you're done, that you recommend publication.

[2019-02-19 20:16] mkhorton commented on #1210
I'm happy to recommend publication, looks very useful! Just checked off the remaining items.

The sole outstanding issue is just that the GitHub release (0.7) doesn't match the PyPi version (0.8) which also needs to be updated to correct the Markdown formatting, but as I understand it this is being addressed. I reviewed both the PyPi version + cloned from source.

I would encourage including some

[2019-02-19 20:19] labarba commented on #1210
Regarding the version, @symmy596, after all revisions are done, and you issue a new tagged release, I can update the version number associated to the paper with a `whedon` command here.

[2019-02-19 21:25] symmy596 commented on #1210
Hi

@mkhorton I have fixed the docs version number. I will add a couple of figures to the readme, this is a good suggestion.  Thank you @bocklund and @mkhorton for the time that you put in to the review and for your kind comments.

@labarba - I have addressed all of the comments and updated the PyPi release to version 1.0 and I have fixed the PyPi readme - https://pypi.org/project/surfinpy/
I thin

[2019-02-19 21:27] bocklund commented on #1210
@labarba I recommend surfinpy for publication in JOSS

[2019-02-19 21:28] labarba commented on #1210
@whedon generate pdf

[2019-02-19 21:28] whedon commented on #1210
[code]

[2019-02-19 21:28] whedon commented on #1210
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01210/joss.01210/10.21105.joss.01210.pdf)

[2019-02-19 21:39] symmy596 commented on #1210
@mkhorton unless you have any issues can you update the functionality and version tags in the review so that it is complete.
Cheers

[2019-02-19 21:46] labarba commented on #1210
Minor editorial fixes on paper:

- Thus understanding the state of surface is crucial >> Thus, understanding the state of a surface is crucial [missing comma and article]
- using a well established approach >> well-established (hyphen)
- Once the energy is known under different constants the phase >> comma after "constants"
- and thus a phase diagram >> commas before and after this remark
- consid

[2019-02-19 21:47] mkhorton commented on #1210
@symmy596 thought I had! Done now

[2019-02-19 22:08] symmy596 commented on #1210
@whedon generate pdf

[2019-02-19 22:08] whedon commented on #1210
[code]

[2019-02-19 22:09] whedon commented on #1210
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01210/joss.01210/10.21105.joss.01210.pdf)

[2019-02-19 22:14] symmy596 commented on #1210
Sorry, I missed one. The following is the correct update.

[2019-02-19 22:15] symmy596 commented on #1210
@whedon generate pdf

[2019-02-19 22:15] whedon commented on #1210
[code]

[2019-02-19 22:15] whedon commented on #1210
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01210/joss.01210/10.21105.joss.01210.pdf)

[2019-02-19 22:31] mikldk commented on #1266
Hi @lpantano. Ping: I went though the list and I seem to have addressed all.

[2019-02-19 23:10] danehkar commented on #898
@mdpiper The documentation is now hosted at https://atomneb.github.io/AtomNeb-idl/doc/

[2019-02-19 23:30] labarba commented on #1210
On line 63:

```It contains two core modules for generating surface phase diagrams using both the methods employed in Molinari *et al* [-@Molinari2012] and Marmier *et al* [-@Marmier2004].```

We don't want a manual `*et al*`, but the proper use of markdown citation that gets the Author (year) format.

[2019-02-19 23:32] labarba commented on #1210
I think you want an "in-text citation" : `@smith04 says blah.`

[2019-02-20 00:28] 1313e commented on #1229
So, I guess all that is remaining is linking the JOSS submission with the AAS Journals submission (which is necessary anyway for the last paragraph) and manually adjust the PDF to have my last name spelled correctly?

Btw, I am actually wondering why whedon is writing my last name this weird.
I have seen my name being spelled incorrectly in many different ways before, as most other countries do no

[2019-02-20 01:08] TomDLT commented on #1250
I can do that !

[2019-02-20 01:29] danehkar commented on #898
@mdpiper I added  [mgunit](https://github.com/mgalloy/mgunit) in the folder  [test_mgunit](https://github.com/atomneb/AtomNeb-idl/tree/master/test_mgunit) for automated tests.

To test, you can download AtomNeb-idl with its dependencies as follows

    git clone --recursive https://github.com/atomneb/AtomNeb-idl.git

You need to unpack rc_o_iii_SSB17.fits.tar.gz in ``atomic-data-rc``:

    tar -xv

[2019-02-20 02:29] jdeligt commented on #1266
Hi @mikldk I just raised a minor issue on not having a release in the repo. Could you please look into this while I continue with the rest of the review.
https://github.com/mikldk/mitolina/issues/2

[2019-02-20 03:00] jdeligt commented on #1266
Now hit a bigger issue: https://github.com/mikldk/mitolina/issues/3.
I have to manually install dependencies upon which relies on a 'non standard library': libudunits2.so

[2019-02-20 03:13] jdeligt commented on #1266
@mikldk please let me know when you've looked at this so I can check the last steps. Apart from the software side of things I would like to hear your take on the Biparental inheritance published in November: https://doi.org/10.1073/pnas.1810946115 and how your software deals with this. I think its an important thing to note for potential users especially if you're targeting forensics where edge ca

[2019-02-20 08:39] agramfort commented on #1250
thanks @TomDLT

let me know if you need also feedback from me @arokem

[2019-02-20 09:43] seabbs commented on #1260
Thank you both (@rrrlw and @strengejacke) for taking the time to review.

Very helpful feedback from you both and a very smooth process.

[2019-02-20 10:09] symmy596 commented on #1210
@whedon generate pdf

[2019-02-20 10:09] whedon commented on #1210
[code]

[2019-02-20 10:10] whedon commented on #1210
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01210/joss.01210/10.21105.joss.01210.pdf)

[2019-02-20 10:12] symmy596 commented on #1210
@whedon generate pdf

[2019-02-20 10:12] whedon commented on #1210
[code]

[2019-02-20 10:13] whedon commented on #1210
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01210/joss.01210/10.21105.joss.01210.pdf)

[2019-02-20 10:14] symmy596 commented on #1210
@labarba I think I have fixed it.

Cheers

[2019-02-20 11:24] labarba commented on #1210
OK, @symmy596 — Now, you should make a new tagged release, report the version number here, then make an archive in a service like Zenodo, and reporte the DOI here. Cheers!

[2019-02-20 11:41] symmy596 commented on #1210
@labarba Thank you

Tagged release has been created for version 1.0.1
Archive on Zenodo created and the DOI is - 10.5281/zenodo.2573646

Cheers

[2019-02-20 11:58] labarba commented on #1210
@whedon set v1.0.1 as version

[2019-02-20 11:58] whedon commented on #1210
OK. v1.0.1 is the version.

[2019-02-20 11:59] labarba commented on #1210
@symmy596 Please edit the Zenodo metadata (title and authors) to match the JOSS paper. Thanks!

[2019-02-20 12:20] symmy596 commented on #1210
@labarba - Is it obvious that this is my first time lol.

Here is the doi - 10.5281/zenodo.2573647

Cheers

[2019-02-20 12:30] rljacobson commented on #1204
@mfroeling I just wanted to check in with you to let you know I've been working on this review. I have run into some errors and want to make sure they are not my own. If there is a software issue, I'll open up some issues, but if you can forgive me, I have been swamped with some other unexpected work. Thank you so much for being patient.

[2019-02-20 12:31] labarba commented on #1210
Oh dear, you got a new DOI?

[2019-02-20 12:32] labarba commented on #1210
I'm confused ... we have TWO Zenodo deposits now?

[2019-02-20 12:36] labarba commented on #1210
It looks like 10.5281/zenodo.2573647 is as newer version of the previous deposit (10.5281/zenodo.2573646) — I hadn't seen the DOI change with an editing of the metadata before. Not sure what happened.

[2019-02-20 12:37] labarba commented on #1210
@whedon set 10.5281/zenodo.2573647 as archive

[2019-02-20 12:37] whedon commented on #1210
OK. <a href="https://doi.org/10.5281/zenodo.2573647" target="_blank">10.5281/zenodo.2573647</a> is the archive.

[2019-02-20 12:42] symmy596 commented on #1210
@labarba I have no idea how I did that, it has been a long day. Sorry, is it ok now?

Cheers

[2019-02-20 12:42] labarba commented on #1210
@whedon accept

[2019-02-20 12:42] whedon commented on #1210
[code]

[2019-02-20 12:43] whedon commented on #1210
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/509

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/509, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-20 12:43] whedon commented on #1210
[code]

[2019-02-20 12:43] mikldk commented on #1266
@jdeligt:
Thanks for all your inputs!

1) Regarding a release (mikldk/mitolina#2): I thought I should wait until after potential acceptance. But I now made one [here](https://github.com/mikldk/mitolina/releases).
2) Vignette not loading (mikldk/mitolina#3): I have now updated `README.md` to compile these by default (`remotes::install_github("mikldk/mitolina", build_opts = c("--no-resave-data", "--

[2019-02-20 12:46] labarba commented on #1210
@whedon accept deposit=true

[2019-02-20 12:46] whedon commented on #1210
[code]

[2019-02-20 12:47] whedon commented on #1210
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/510
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01210](https://doi.org/10.21105/joss.01210)
2. If everything looks go

[2019-02-20 12:50] labarba commented on #1210
Congratulations, @symmy596, your JOSS paper is now published!

Big thank you to the reviewers, @bocklund, @mkhorton — we couldn't do this without you 🙏

[2019-02-20 12:50] #1210 closed

[2019-02-20 12:50] whedon commented on #1210
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01210/status.svg)](https://doi.org/10.21105/joss.01210)

**We need your help!**

Journal of Open Source Softwar

[2019-02-20 13:51] gsagnol commented on #1097
It's OK for me, all boxes checked !

[2019-02-20 13:59] whedon opened #1268 "[PRE REVIEW]: uJVM: Lightweight Java Virtual Machine for embedded systems"
**Submitting author:** @omoliavko (<a href="http://orcid.org/0000-0003-3167-983X">Oleksandr Moliavko</a>)
**Repository:** <a href="https://github.com/Samsung/uJVM/" target ="_blank">https://github.com/Samsung/uJVM/</a>
**Version:** v0.1
**Editor:** @gkthiruvathukal
**Reviewers:** @morganericsson, @hainesr

**Author instructions**

Thanks for submitting your paper to JOSS @omoliavko. The JOSS edito

[2019-02-20 13:59] whedon commented on #1268
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-20 13:59] whedon commented on #1268
[code]

[2019-02-20 13:59] whedon commented on #1268
PDF failed to compile for issue #1268 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    171      0 --:--:-- --:--:-- --:--:--   173
Could not find bi

[2019-02-20 14:01] arfon commented on #1268
:wave: @omoliavko - please review the submission guidelines on how to prepare your JOSS paper. In particular, your paper doesn't seem to have an associated bibtex file: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2019-02-20 14:30] omoliavko commented on #1268
Hello, as of now we don't have any publications regarding uJVM; therefore, we can't provide any bibtex file. Is it strictly necessary for publication? If yes, can we provide empty bibtex file?

[2019-02-20 14:34] pjotrp commented on #1263
@whedon assign @avhoeck as reviewer

[2019-02-20 14:34] whedon commented on #1263
OK, the reviewer is @avhoeck

[2019-02-20 14:35] pjotrp commented on #1263
@whedon start review

[2019-02-20 14:35] whedon opened #1269 "[REVIEW]: riskclustr: Functions to Study Etiologic Heterogeneity"
**Submitting author:** @zabore (<a href="http://orcid.org/0000-0002-1402-4498">Emily Zabor</a>)
**Repository:** <a href="https://github.com/zabore/riskclustr" target ="_blank">https://github.com/zabore/riskclustr</a>
**Version:** 0.1.0
**Editor:** @pjotrp
**Reviewer:** @avhoeck
**Archive:** <a href="https://doi.org/10.5281/zenodo.2612856" target="_blank">10.5281/zenodo.2612856</a>

## Status

[![s

[2019-02-20 14:35] whedon commented on #1263
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1269. Feel free to close this issue now!

[2019-02-20 14:35] whedon commented on #1269
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @avhoeck it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-02-20 14:35] whedon commented on #1269
[code]

[2019-02-20 14:35] #1263 closed

[2019-02-20 14:35] whedon commented on #1269
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01269/joss.01269/10.21105.joss.01269.pdf)

[2019-02-20 14:37] pjotrp commented on #1269
@avhoeck is our reviewer!

@zabore, we are starting review in this issue tracker. To expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2019-02-20 14:39] cMadan commented on #1258
Thanks for your response, @casperdcl! I looked through some other JOSS submissions and there are other instances of software that is more intended towards developers than a specific application/group of users, so I agree that it is sufficiently within-scope.

Do you have any suggestions for reviewers?

[2019-02-20 14:48] danielskatz commented on #1097
@gsagnol - I see some boxes that are not checked...  Can you go back and make sure?

[2019-02-20 14:51] casperdcl commented on #1258
Well since it's so widely applicable as you've noted, I don't have any reviewer preference. Just someone who uses python regularly!

[2019-02-20 14:53] arfon commented on #1268
You don't need to cite publications, you should move what you currently have in this section into the bibtex file and cite accordingly: https://github.com/Samsung/uJVM/blob/master/docs/joss/paper.md#references

Also, any related work should be cited too.

[2019-02-20 15:03] omoliavko commented on #1268
Thank you for quick answer; we'll prepare related works list and add bibtex file with citations ASAP

[2019-02-20 15:29] poulson commented on #1222
Thank you for your extreme patience on this, @matbesancon. We need to get two or three reviewers to accept before the review can start.

@sjvrijn: Sander, would you be willing to spend your time reviewing this paper?
@chkoar: Christos, your profile says you are busy, but please let me know if you have the interest and capacity to review this paper.
@vissarion: Vissarion, please let me know if you

[2019-02-20 15:32] poulson commented on #1222
@sarats Thank you for the offer, Sarat, and please let me know if now is sufficiently late in the month for you to come back to reviewing this paper. It would be much appreciated!

[2019-02-20 15:33] cMadan commented on #1258
@sealhuang @lindemann09 @GregaVrbancic, would any of you be interested/available to review this submission?

[2019-02-20 15:35] malmaud commented on #1222
Sorry Jack, I don't have time to take on this review at the moment.

[2019-02-20 15:38] poulson commented on #1222
@malmaud Thank you for the fast response, Jon!

[2019-02-20 16:10] benjaminwilson commented on #1240
Hi @poulson , I think I've got that done now: DOI: 10.5281/zenodo.2573958

[2019-02-20 16:14] GregaVrbancic commented on #1258
Hi @cMadan!

If it is acceptable, I could review this submission in the next few days.

[2019-02-20 16:22] poulson commented on #1240
@whedon set 10.5281/zenodo.2573958 as archive

[2019-02-20 16:22] whedon commented on #1240
OK. <a href="https://doi.org/10.5281/zenodo.2573958" target="_blank">10.5281/zenodo.2573958</a> is the archive.

[2019-02-20 16:23] poulson commented on #1240
@whedon set v1.0.1 as version

[2019-02-20 16:23] whedon commented on #1240
OK. v1.0.1 is the version.

[2019-02-20 16:24] poulson commented on #1240
@whedon generate pdf

[2019-02-20 16:24] whedon commented on #1240
[code]

[2019-02-20 16:24] whedon commented on #1240
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01240/joss.01240/10.21105.joss.01240.pdf)

[2019-02-20 16:28] poulson commented on #1240
@benjaminwilson Thank you for your contribution!

@HaoZeke Thank you for providing your time and expertise for this review!

@arfon This paper should be ready for submission; I am forwarding it over to you (please excuse me, I think there is a rotating editorial board but am not sure who that lands on right now).

[2019-02-20 16:30] benjaminwilson commented on #1240
Thanks very much both @poulson and @HaoZeke for your comments and your patience!

[2019-02-20 16:31] arfon commented on #1240
@whedon accept

[2019-02-20 16:31] whedon commented on #1240
[code]

[2019-02-20 16:31] whedon commented on #1240
[code]

[2019-02-20 16:32] poulson commented on #1230
@adavidzh I apologize for missing the ping on this! I will reach out to the author to confirm.

@annoviko Andrei, Could you confirm that `0.8.2rel` is the proper branch? It would be great if you could take a minute and create a `0.8.2` branch so that there is a complete match.

[2019-02-20 16:32] arfon commented on #1240
@poulson - yep it's me this week. In the future you can ping @openjournals/joss-eics to get the editor on rotation.

[2019-02-20 16:33] arfon commented on #1240
@whedon accept deposit=true

[2019-02-20 16:33] whedon commented on #1240
[code]

[2019-02-20 16:34] whedon commented on #1240
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/512
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01240](https://doi.org/10.21105/joss.01240)
2. If everything looks go

[2019-02-20 16:35] arfon commented on #1240
@HaoZeke - many thanks for your review here and to @poulson for editing this submission ✨

@benjaminwilson - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-20 16:35] #1240 closed

[2019-02-20 16:35] whedon commented on #1240
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01240/status.svg)](https://doi.org/10.21105/joss.01240)

**We need your help!**

Journal of Open Source Softwar

[2019-02-20 16:37] arfon commented on #1240
P.S. Congratulations to @poulson for editing his first JOSS paper ⚡️

[2019-02-20 16:44] annoviko commented on #1230
Hello, @poulson, yes I can confirm that '0.8.2.rel' is the proper branch that was created to release version 0.8.2. There is already '0.8.2' tag as you can see it on pyclustering release page: https://github.com/annoviko/pyclustering/tree/0.8.2 (release page: https://github.com/annoviko/pyclustering/releases/tag/0.8.2).

[2019-02-20 16:52] chkoar commented on #1222
@poulson Jack I am really sorry but I won't be able to act as a reviewer  this time

[2019-02-20 17:06] dblarremore commented on #1244
**Trivial**: "applicaiton" typo in README.

**Perhaps more useful**:   Possible change needed in installation instructions for OSX.
I tried to do the local installation, updated Ruby, and got all of that sorted out. On README line
`bundle exec rake db:setup`
I kept getting an error
`PG::ConnectionBad: could not connect to server: No such file or directory`
`	Is the server running locally and accep

[2019-02-20 17:21] poulson commented on #1222
@chkoar Thank you for letting me know, Christos!

[2019-02-20 17:40] adavidzh commented on #1230
Thanks @annoviko, I missed the tag.

[2019-02-20 18:44] eendebakpt commented on #1097
@whedon generate pdf

[2019-02-20 18:44] whedon commented on #1097
[code]

[2019-02-20 18:45] whedon commented on #1097
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01097/joss.01097/10.21105.joss.01097.pdf)

[2019-02-20 18:46] ScottKolo commented on #1244
`pg_ctl -D /usr/local/var/postgres -l /usr/local/var/postgres/server.log start`

After installing PostgreSQL, one needs to start it up so it's running in the background. You can do this a number of ways: manually start/stop, use the daemon, etc. After installing PostgreSQL from a package manager, it often spits out a line at the end about this (i.e. "run this magical incantation to start the daemo

[2019-02-20 20:14] kevin-flaherty commented on #1220
@arfon - I want to acknowledge that Rich Teague and I did co-author a paper that was published last year (http://adsabs.harvard.edu/abs/2018ApJ...856..117F). This is the only time that we have worked together, and we have not worked together since then, nor do we have any immediate plans to work together on any future projects. While I don't believe that this collaboration will bias my review, I w

[2019-02-20 20:22] gsagnol commented on #1097
Sorry, the boxes are really checked, now.

[2019-02-20 20:26] danielskatz commented on #1097
thanks @gsagnol and @djmitche

[2019-02-20 20:27] dblarremore commented on #1244
I like the idea to use `pg_isready` but how about putting this snippet above, under the bullet list that includes the need for ruby and postgreSQL?  Then it would be filed in with the prep work and dependencies instead of with the installation itself.

What you wrote was really nice, so I tinkered with it a little, but maybe something like this? Happy for any modifications to this, since it's your

[2019-02-20 20:28] jdeligt commented on #1266
@mikldk thanks fro the quick response and resolving the issues. As far as the software/paper is concerned I'm happy to accept this and move it forward. I would personally add a (small) disclaimer about the fact that this software operates under the maternal only model, just so that users are aware of it.
@lpantano please move this paper forward.

[2019-02-20 20:30] pjotrp commented on #1266
Haha, don't close just yet :)

[2019-02-20 20:32] danielskatz commented on #1097
@eendebakpt - are you happy with everything now?  The paper, the software version in the repo, the software that is archived in zenodo?

[2019-02-20 20:37] behollister commented on #1185
Somewhat delayed recently due to circumstances. I have an opportunity this Thursday / Saturday to finish the review on my end, in its entirety.

[2019-02-20 20:40] lpantano commented on #1266
Thanks so much for the review @jdeligt!

@mikldk, do you think you could add a note as @jdeligt mentioned? I think is a good point.

I will move this forward after that.

Thanks!

[2019-02-20 20:41] ngoldbaum commented on #1265
I've gone through the reviewer checklist and I think this is ready to be published as-is.

My only substantive comment besides the issues and PRs I opened in the pyro2 repository is that the paper would be clearer if the third and second paragraph had their order switched (along with accompanying rewording so it flows well).

[2019-02-20 20:48] mgalloy commented on #898
I ran the tests and confirm they all passed. One note: I had to go get `mgutlibtestcase__define.pro` — it is not part of `mgunit`. I would add it to the `test_mgunit` directory, possibly renaming to `atomnebuttestcase__define.pro`.

[2019-02-20 20:56] mikldk commented on #1266
@whedon commands

[2019-02-20 20:56] whedon commented on #1266
Here are some things you can ask me to do:

[code]

[2019-02-20 20:57] mikldk commented on #1266
@whedon generate pdf

[2019-02-20 20:57] whedon commented on #1266
[code]

[2019-02-20 20:58] whedon commented on #1266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01266/joss.01266/10.21105.joss.01266.pdf)

[2019-02-20 21:00] lpantano commented on #1266
Hey @mikldk,

did you add the note as @jdeligt mentioned? if you so, can you comment with the commit here, so I can follow up?

Thanks!

[2019-02-20 21:00] mikldk commented on #1266
Thanks, @jdeligt, @pjotrp and @lpantano. I have now added the note "This software operates under the maternal inheritance only model, i.e. that mtDNA is only passed on by mothers to children." in both `README.md` and `paper.md`. I have also deleted the old release and made a new: <https://github.com/mikldk/mitolina/releases>. I have also added Zenodo, and this new release has DOI: <https://doi.org

[2019-02-20 21:01] mikldk commented on #1266
@lpantano , yes indeed. I just wanted to check the proof before I wrote you :-). The note was added in mikldk/mitolina@ae28a61f9c137fe1574ba0d59f320b6ff6414069.

[2019-02-20 21:01] lpantano commented on #1266
Thanks so much! I will proceed with the acceptance in 1 hour.

[2019-02-20 21:04] arfon commented on #1220
Thanks for disclosing this @kevin-flaherty. I'm happy for you to proceed with your review.

[2019-02-20 21:17] harpolea commented on #1265
Thanks @ngoldbaum! I agree about the paragraph ordering - I've switched them over in python-hydro/pyro2@0a90bd25fc9f750370847f3cd6e0a51f82f78f5d

[2019-02-20 21:34] pjotrp commented on #1266
One of the fastest reviews ever :+1:

[2019-02-20 21:38] mikldk commented on #1266
Indeed! Thanks for the splendid service!

[2019-02-20 22:07] lpantano commented on #1266
@whedon set https://doi.org/10.5281/zenodo.2574140 as archive

[2019-02-20 22:07] whedon commented on #1266
OK. <a href="https://doi.org/10.5281/zenodo.2574140" target="_blank">10.5281/zenodo.2574140</a> is the archive.

[2019-02-20 22:12] lpantano commented on #1266
@whedon accept

[2019-02-20 22:12] whedon commented on #1266
[code]

[2019-02-20 22:12] whedon commented on #1266
[code]

[2019-02-20 22:12] whedon commented on #1266
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/513

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/513, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-20 22:15] lpantano commented on #1266
Hi @pjotrp,

all is good, should you do the deposit, or I do?

Thanks!

[2019-02-20 22:29] labarba commented on #1266
(We don't remove the "review" label.)

[2019-02-20 22:31] labarba commented on #1266
:wave @mikldk — Could you edit the metadata of your Zenodo archive so it matches the title of the JOSS paper? Thanks.

[2019-02-20 22:37] labarba commented on #1266
You may also want to add case protection with `{}` to the bibtex entry for Butler (2009), so you get _DNA_ instead of _dna_.

[2019-02-20 22:53] lpantano commented on #1266
@labarba, is the metadata to change the one that is saying now: `mikldk/mitolina: v0.0.1`? (just to learn for the next time) and (sorry about the label).

[2019-02-20 22:58] labarba commented on #1266
Yes: the title of the Zenodo archive matching the title of the JOSS paper.

[2019-02-20 23:00] labarba commented on #1266
(Authors often need to be manually edited, too, as Zenodo automatically lists everyone who has a commit.)

[2019-02-21 06:12] mikldk commented on #1266
@lpantano @labarba I'll look at Zenodo metadata. And the reference. And recompile paper. I guess I should then delete Github release and make a new afterwards?

[2019-02-21 08:42] mikldk commented on #1266
@whedon generate pdf

[2019-02-21 08:43] whedon commented on #1266
[code]

[2019-02-21 08:43] whedon commented on #1266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01266/joss.01266/10.21105.joss.01266.pdf)

[2019-02-21 08:51] mikldk commented on #1266
@lpantano @labarba : I have updated `paper.bib`, deleted the old release and created a new. The new DOI at Zenodo is [10.5281/zenodo.2574400](https://doi.org/10.5281/zenodo.2574400). I have changed the Zenodo title at <https://zenodo.org/record/2574400>. I hope I have done everything right?

[2019-02-21 09:04] omoliavko commented on #1268
Hello, I've created a separate paper.bib file with references to materials we've used during uJVM development and updated paper.md file accordingly.

[2019-02-21 09:17] seabbs commented on #1260
Hi @trallard,

Is there something I need to do now that **strengejacke** and **rrrlw** have wrapped up their review?

[2019-02-21 09:40] vissarion commented on #1222
@poulson I could help with the review although I have no experience with `Julia`. Is there a deadline?

[2019-02-21 10:34] HaoZeke commented on #1222
@poulson you're welcome, I am much better now, thanks, I would be willing and able to review this package. Julia is one of my favourite languages and optimization problems are also right up my alley.

[2019-02-21 10:55] sjvrijn commented on #1222
@poulson I'm busy at the moment, but would be available in two weeks if needed

[2019-02-21 11:21] labarba commented on #1266
ah! No need to get a new DOI at Zenodo, but alright!

[2019-02-21 11:22] labarba commented on #1266
@whedon set 10.5281/zenodo.2574400 as archive

[2019-02-21 11:22] whedon commented on #1266
OK. <a href="https://doi.org/10.5281/zenodo.2574400" target="_blank">10.5281/zenodo.2574400</a> is the archive.

[2019-02-21 11:23] labarba commented on #1266
@whedon accept

[2019-02-21 11:23] whedon commented on #1266
[code]

[2019-02-21 11:24] whedon commented on #1266
[code]

[2019-02-21 11:25] whedon commented on #1266
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/514

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/514, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-21 11:28] labarba commented on #1266
@whedon accept deposit=true

[2019-02-21 11:28] whedon commented on #1266
[code]

[2019-02-21 11:29] whedon commented on #1266
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/515
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01266](https://doi.org/10.21105/joss.01266)
2. If everything looks go

[2019-02-21 11:36] labarba commented on #1266
Congratulations, @mikldk, your paper is published!

Big thanks to the handling editor, @lpantano, and the reviewer, @jdeligt 🙏

[2019-02-21 11:36] #1266 closed

[2019-02-21 11:36] whedon commented on #1266
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01266/status.svg)](https://doi.org/10.21105/joss.01266)

**We need your help!**

Journal of Open Source Softwar

[2019-02-21 11:40] arfon commented on #1268
@whedon generate pdf

[2019-02-21 11:41] whedon commented on #1268
[code]

[2019-02-21 11:41] whedon commented on #1268
PDF failed to compile for issue #1268 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2019-02-21 11:43] arfon commented on #1268
@omoliavko - please merge this PR: https://github.com/Samsung/uJVM/pull/63

Also, you need to cite the entries in your bibtex directly please. (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2019-02-21 12:18] mikldk commented on #1266
Thank you all!

[2019-02-21 12:48] omoliavko commented on #1268
Merge done; also, I've updated reference marks in paper.md

[2019-02-21 13:04] annoviko commented on #1230
@adavidzh, you welcome, do not hesitate to ask me any questions related to pyclustering.

[2019-02-21 13:10] stevendavis commented on #1144
@whedon generate pdf

[2019-02-21 13:10] whedon commented on #1144
[code]

[2019-02-21 13:11] whedon commented on #1144
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01144/joss.01144/10.21105.joss.01144.pdf)

[2019-02-21 13:17] stevendavis commented on #1144
@mgmrek Thank you for the feedback.  The DOIs are added for the two paper references.  Let me know if any other changes are needed.

[2019-02-21 13:42] mikaem commented on #1265
Hi
Sorry to hold up the review process. I've been familiarising myself with the project, and I started by following the installation instructions on readthedocs. No problem thus far and I get a nice figure from running

`./pyro.py advection smooth inputs.smooth`

All in all a very nice project:-) I think all there is for me to do really is to tick off boxes and provide just a few advices on improv

[2019-02-21 14:18] arfon commented on #1268
@whedon generate pdf

[2019-02-21 14:18] whedon commented on #1268
[code]

[2019-02-21 14:19] whedon commented on #1268
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01268/joss.01268/10.21105.joss.01268.pdf)

[2019-02-21 14:26] arfon commented on #1268
Great, thanks for your work getting the paper to compile. Reading this paper, it's not immediately clear to me what the research challenge is that you're addressing here.

Quoting from our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

Could you say a little more in your paper about what sort of research challenges this software is design

[2019-02-21 14:37] ScottKolo commented on #1244
With a little of my own wordsmithing, I have added information about starting PostgreSQL and installing Ruby to the README. Let me know if you think it's too much or not enough.

scottkolo/suitesparse-matrix-collection-website@384f0ad354c2d5be1b0351bb3aec5c9a0adc0955

[2019-02-21 14:57] omoliavko commented on #1268
Many thanks for your patience in explaining how to make paper valid. I've updated the text to explain potential research application in a bit more detail.

[2019-02-21 15:05] brogly commented on #1208
@whedon generate pdf

[2019-02-21 15:05] whedon commented on #1208
[code]

[2019-02-21 15:06] whedon commented on #1208
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01208/joss.01208/10.21105.joss.01208.pdf)

[2019-02-21 15:13] harpolea commented on #1265
Thanks for your comments @mikaem!

- Currently `simulation_null.py` acts as a base for the solvers. As the solvers and problems can be quite different from each other (e.g. compare compressible vs. advection), I'm not really sure that there would be much benefit in having e.g. additional (abstract) base classes for the solvers and problems, and that it may just add an additional level of complexit

[2019-02-21 17:28] arfon commented on #1268
@whedon generate pdf

[2019-02-21 17:28] whedon commented on #1268
[code]

[2019-02-21 17:29] whedon commented on #1268
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01268/joss.01268/10.21105.joss.01268.pdf)

[2019-02-21 17:56] whedon opened #1270 "[PRE REVIEW]: tsfeaturex: An R Package for Automating Time Series Feature Extraction"
**Submitting author:** @nelsonroque (<a href="http://orcid.org/0000-0003-1184-202X">Nelson Roque</a>)
**Repository:** <a href="https://github.com/nelsonroque/tsfeaturex" target ="_blank">https://github.com/nelsonroque/tsfeaturex</a>
**Version:** v.0.3.6
**Editor:** @xuanxu
**Reviewers:** @acolum, @aj2duncan

**Author instructions**

Thanks for submitting your paper to JOSS @nelsonroque. The JOSS e

[2019-02-21 17:56] whedon commented on #1270
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-21 17:56] whedon commented on #1270
[code]

[2019-02-21 17:56] whedon commented on #1270
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01270/joss.01270/10.21105.joss.01270.pdf)

[2019-02-21 18:09] brogly commented on #1208
@lrasmus @CBenghi - Updated document to clarify detector scores as requested by @lrasmus

[2019-02-21 18:40] harpolea commented on #1265
I added some more links to the documentation in python-hydro/pyro2@47174438. In the example you linked to, `compare.py` refers to the script itself rather than the module it contains. I think that linking to the module here would not be particularly helpful, as the function of that part of the documentation is to document the use of the script itself.

[2019-02-21 18:50] danehkar commented on #898
Thank you for testing. I will copy `mgutlibtestcase__define.pro`to the `test_mgunit` directory, and rename it  to `atomnebuttestcase__define.pro`.

[2019-02-21 18:56] danehkar commented on #898
@arfon I would like to rename the _title_ of this submission ([898](https://github.com/openjournals/joss-reviews/issues/898)) from **AtomNeb: Atomic Data for Ionized Nebulae** to **AtomNeb: IDL Library for Atomic Data of Ionized Nebulae** since I am working on a similar python package, and I want to distinguish between them. I will upload the revised paper of this IDL library soon.

[2019-02-21 19:10] arfon commented on #898
OK, no problem. I've updated the issue title here.

[2019-02-21 19:41] carterenyi commented on #1094
Hi Kevin,

I've updated my matlab to 2018b on my mac and am now working on the
revisions. I've ordered a pc so that I can deploy the windows version. I
hope to have an update within a week.

On Sun, Feb 10, 2019 at 3:35 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-02-21 19:48] mikaem commented on #1265
I understand completely. It's just that when I see a lot of code duplication (or even soft links) I immediately think that this could probably be solved with object orientation and overloading. For example, I could imagine a problem base module where a default `init_data` method was defined, like the one under [advection/problems/smooth.py](https://github.com/python-hydro/pyro2/blob/master/advecti

[2019-02-21 19:57] mikaem commented on #1265
@whedon generate pdf

[2019-02-21 19:57] whedon commented on #1265
[code]

[2019-02-21 19:58] whedon commented on #1265
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01265/joss.01265/10.21105.joss.01265.pdf)

[2019-02-21 20:01] mikaem commented on #1265
@labarba I recommend this paper for publication!

[2019-02-21 20:12] labarba commented on #1265
Minor editorial suggestions:

- Perhaps write `pyro` in code format? (otherwise, it looks weird in lower case starting a sentence)
- pyro is a python-based >> capitalize Python
- The low Mach number atmospheric solver >> low-Mach-number (hyphenate compound adjective)
(twice)
- python's `pickle()` >> capitalize Python
- main python code >> capitalize Python
- python functions >> idem
- entirely in

[2019-02-21 21:17] harpolea commented on #1265
I've updated the paper file in python-hydro/pyro2@1ab2230a to capitalize the Python's and format the `pyro`'s. In the (astrophysical) literature, it's normally written as low Mach number without the hyphens, so I think it would be better left as it is?

[2019-02-21 21:17] harpolea commented on #1265
@whedon generate pdf

[2019-02-21 21:17] whedon commented on #1265
[code]

[2019-02-21 21:17] whedon commented on #1265
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01265/joss.01265/10.21105.joss.01265.pdf)

[2019-02-21 21:57] behollister commented on #1185
Superbuild works fine on my system. Trying to verify functionality now...

@codeling, is there an automated test suite & data for each area of functionality claimed in https://github.com/3dct/open_iA/wiki/User-Guide? I don't see this provided as a script in the source tree, or any installation of sample data.

@katyhuff, what degree of coverage is needed for testing functionality? For example, eac

[2019-02-21 22:57] lrasmus commented on #1208
@danielskatz , @brogly, @CBenghi - I've completed my review and feel this meets the JOSS review guidelines.

[2019-02-21 22:59] danielskatz commented on #1208
@CBenghi - how do things look to you at this point?

[2019-02-21 23:01] cMadan commented on #1258
@GregaVrbancic, that would be great! I'll wait to see if someone else volunteers to be an additional reviewer, but will start the review shortly.

[2019-02-21 23:01] cMadan commented on #1258
@whedon add @GregaVrbancic as reviewer

[2019-02-21 23:01] whedon commented on #1258
OK, @GregaVrbancic is now a reviewer

[2019-02-22 02:05] labarba commented on #1265
Hi @harpolea — Time to make a tagged release of the software (and report the version number here), then an archive in Zenodo or a similar service (and report the DOI here). Cheers!

[2019-02-22 09:51] garrettj403 commented on #1231
@whedon set v1.0.1 as version

[2019-02-22 09:51] whedon commented on #1231
I'm sorry @garrettj403, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-02-22 09:53] garrettj403 commented on #1231
@whedon generate pdf

[2019-02-22 09:53] whedon commented on #1231
[code]

[2019-02-22 09:53] whedon commented on #1231
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01231/joss.01231/10.21105.joss.01231.pdf)

[2019-02-22 09:54] CBenghi commented on #1208
@danielskatz,

I've given it another look yesterday and I've seen a lot of progress.
I was waiting for @brogly to complete https://github.com/litrl/litrl_code/issues/21 as he last stated a few days ago to give another look.

@danielskatz, perhaps you can also help clear a doubt that I've expressed at https://github.com/litrl/litrl_code/issues/19, the issue is around the long term reliability of th

[2019-02-22 11:53] codeling commented on #1185
At this point, we only have limited automatic tests available for some library functions.
See the [iASimpleTester](https://github.com/3dct/open_iA/blob/master/core/src/iASimpleTester.h), used in tests of the [iAStringHelper](https://github.com/3dct/open_iA/blob/master/core/src/iAStringHelperTest.cpp) and in two tests in the [RandomWalker module](https://github.com/3dct/open_iA/tree/master/modules/

[2019-02-22 12:15] whedon opened #1271 "[PRE REVIEW]: JuliaCall: an R package for seamless integration between R and Julia"
**Submitting author:** @Non-Contradiction (<a href="http://orcid.org/0000-0001-7022-0947">Changcheng Li</a>)
**Repository:** <a href="https://github.com/Non-Contradiction/JuliaCall" target ="_blank">https://github.com/Non-Contradiction/JuliaCall</a>
**Version:** v0.16.4
**Editor:** @leouieda
**Reviewers:** @matbesancon, @aguang

**Author instructions**

Thanks for submitting your paper to JOSS @No

[2019-02-22 12:15] whedon commented on #1271
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-22 12:15] whedon commented on #1271
[code]

[2019-02-22 12:16] whedon commented on #1271
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01271/joss.01271/10.21105.joss.01271.pdf)

[2019-02-22 13:55] harpolea commented on #1265
Hi @labarba - I've made a tagged release (v. 3.1) and have created a Zenodo DOI ([10.5281/zenodo.2575565](https://doi.org/10.5281/zenodo.2575565))

[2019-02-22 14:11] labarba commented on #1265
Can you edit the metadata of the Zenodo deposit so it matches the title and author list of the JOSS paper?

[2019-02-22 14:22] harpolea commented on #1265
Fixed

[2019-02-22 14:23] danielskatz commented on #1208
Thanks.

In this case, given the statement in https://github.com/litrl/litrl_code/issues/19 that this will be fixed before it is an issue, I don't think it should block acceptance of this version of the software.

[2019-02-22 14:41] andrewheusser commented on #1257
hey @cMadan - I finished the review and the author sufficiently addressed all of my concerns (see [here](https://github.com/miykael/atlasreader/issues?q=is%3Aissue+author%3Aandrewheusser+is%3Aclosed).  The author implemented the changes on a branch, but they are not yet merged.  What are the next steps?

[2019-02-22 14:43] lrasmus commented on #1208
I should echo that I think @CBenghi raised some really good issues.  This was my first JOSS review, and I wasn't sure if any of those would be blockers for acceptance or not.

[2019-02-22 15:31] labarba commented on #1265
@whedon set 10.5281/zenodo.2575565 as archive

[2019-02-22 15:31] whedon commented on #1265
OK. <a href="https://doi.org/10.5281/zenodo.2575565" target="_blank">10.5281/zenodo.2575565</a> is the archive.

[2019-02-22 15:34] labarba commented on #1265
@whedon set v.3.1 as version

[2019-02-22 15:34] whedon commented on #1265
OK. v.3.1 is the version.

[2019-02-22 15:38] labarba commented on #1265
@whedon accept

[2019-02-22 15:38] whedon commented on #1265
[code]

[2019-02-22 15:39] whedon commented on #1265
[code]

[2019-02-22 15:40] whedon commented on #1265
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/516

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/516, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-22 15:43] labarba commented on #1265
@whedon accept deposit=true

[2019-02-22 15:43] whedon commented on #1265
[code]

[2019-02-22 15:44] whedon commented on #1265
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/517
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01265](https://doi.org/10.21105/joss.01265)
2. If everything looks go

[2019-02-22 15:46] labarba commented on #1265
Congratulations, @harpolea et al., your paper is published in JOSS!

Many thanks to our reviewers, @mikaem, @ngoldbaum—you make this possible 🙏

[2019-02-22 15:46] #1265 closed

[2019-02-22 15:46] whedon commented on #1265
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01265/status.svg)](https://doi.org/10.21105/joss.01265)

**We need your help!**

Journal of Open Source Softwar

[2019-02-22 15:56] matbesancon commented on #1222
@whedon generate pdf

[2019-02-22 15:56] whedon commented on #1222
[code]

[2019-02-22 15:57] whedon commented on #1222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01222/joss.01222/10.21105.joss.01222.pdf)

[2019-02-22 16:02] matbesancon commented on #1222
@whedon generate pdf

[2019-02-22 16:02] whedon commented on #1222
[code]

[2019-02-22 16:03] whedon commented on #1222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01222/joss.01222/10.21105.joss.01222.pdf)

[2019-02-22 16:43] brogly commented on #1208
@danielskatz - Thanks - we are happy to upgrade the software to Python 3 before 2020 but basically the problem is doing it *right now* - we will have more time for that fix later in the year.

@lrasmus - Thanks for the excellent feedback throughout.

@CBenghi - Still working on the DPI issue and hope to get that fixed today.

[2019-02-22 17:10] george-githinji commented on #1236
The authors provide a tool for summarizing nanopore sequence data based on the sequence summary file generated by the base callers. They make use of third-party tools to provide summary statistics and plots. The tool is well documented and provides clear and standard methods for installation under open source license. They compare the tool with similar functionality and make argument for extra fea

[2019-02-22 17:41] mir-am commented on #1252
Hi

To help the reviewers and also users install and build the program manually, a step-by-step guide is provided [here](https://github.com/mir-am/LightTwinSVM/wiki/Building-the-LightTwinSVM-manually-on-Linux-and-OSX-systems) in the project's wiki.
Moreover, DOIs are added to all the references in the bib file that have one.

We will also address other comments of the reviewers as soon as possible

[2019-02-22 17:46] cMadan commented on #1257
@andrewheusser, thank you for the prompt and thorough review! It looks like you're all done.

For @miykael, the next steps are to merge these changes and confirm that you think it's ready to be accepted. Then I'll look everything over and check that I agree. If that's the case, I'll then ask for the DOI of an archived copy of the code and what version of the software corresponds to the code after

[2019-02-22 18:47] miykael commented on #1257
Thank you @andrewheusser for the very nice and helpful feedback! Your comments were much appreciated and helped to improve the toolbox.

@cMadan - I've merged the changes created a new GitHub release and a new PyPi release. So, the current version number is now v0.1.0. In my opinion (and this of the co-authors), the toolbox is ready to be accepted. Can I update the version number in the JOSS publi

[2019-02-22 18:52] miykael commented on #1257
@whedon generate pdf

[2019-02-22 18:52] whedon commented on #1257
[code]

[2019-02-22 18:52] whedon commented on #1257
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01257/joss.01257/10.21105.joss.01257.pdf)

[2019-02-22 19:06] miykael commented on #1257
@whedon generate pdf

[2019-02-22 19:06] whedon commented on #1257
[code]

[2019-02-22 19:07] whedon commented on #1257
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01257/joss.01257/10.21105.joss.01257.pdf)

[2019-02-22 19:12] miykael commented on #1257
I apologize for the repeated `@whedon` commands, but I try to get the paper output to the right format. But the next "PDF generation" should be the last.

[2019-02-22 19:12] miykael commented on #1257
@whedon generate pdf

[2019-02-22 19:12] whedon commented on #1257
[code]

[2019-02-22 19:12] whedon commented on #1257
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01257/joss.01257/10.21105.joss.01257.pdf)

[2019-02-22 19:18] miykael commented on #1257
Sorry, found a small typo in the references. But otherwise, everything is good to go.

[2019-02-22 19:18] miykael commented on #1257
@whedon generate pdf

[2019-02-22 19:18] whedon commented on #1257
[code]

[2019-02-22 19:19] whedon commented on #1257
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01257/joss.01257/10.21105.joss.01257.pdf)

[2019-02-22 19:36] andrewheusser commented on #1257
my pleasure, nice job on the package!

[2019-02-22 21:07] ssfrr commented on #1166
I updated the checklist of issues in [my comment above](https://github.com/openjournals/joss-reviews/issues/1166#issuecomment-464843735).

Please cite their paper as a real reference

Thank you for adding the comparison. Can you clarify items 1 and 2 in the "notable differences" list? Specifically:

Can you expand on how the data structure and note retrieval functionality are different in MIDI.jl

[2019-02-22 21:11] krueschan commented on #1089
@jedbrown I have now created a Docker image. You can fetch it from https://hub.docker.com/r/climateequityreferenceproject/cerc-web but I also have a completely self-contained Dockerfile that's in our project's github repo (sub directory 'docker'), that you could use to `docker build` it yourself.

In the context of creating the Docker image, I have found and fixed a few bugs, so I'd like to change

[2019-02-22 22:04] arokem commented on #1250
OK. Let's start with @TomDLT and see whether we need more input down the line. Thanks!

[2019-02-22 22:04] arokem commented on #1250
@whedon assign @TomDLT as reviewer

[2019-02-22 22:05] whedon commented on #1250
OK, the reviewer is @TomDLT

[2019-02-22 22:05] arokem commented on #1250
@whedon start review

[2019-02-22 22:05] whedon opened #1272 "[REVIEW]: NeuroDSP: A package for neural digital signal processing"
**Submitting author:** @voytek (<a href="http://orcid.org/0000-0003-1640-2525">Bradley Voytek</a>)
**Repository:** <a href="https://github.com/neurodsp-tools/neurodsp" target ="_blank">https://github.com/neurodsp-tools/neurodsp</a>
**Version:** 2.0.0
**Editor:** @arokem
**Reviewer:** @TomDLT
**Archive:** <a href="https://doi.org/10.5281/zenodo.2643784" target="_blank">10.5281/zenodo.2643784</a>

#

[2019-02-22 22:05] whedon commented on #1250
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1272. Feel free to close this issue now!

[2019-02-22 22:05] whedon commented on #1272
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TomDLT it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-02-22 22:05] whedon commented on #1272
[code]

[2019-02-22 22:06] whedon commented on #1272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01272/joss.01272/10.21105.joss.01272.pdf)

[2019-02-22 22:06] arokem commented on #1250
@TomDLT please head over to #1272 for your reviewer checklist. I am closing this issue now.

[2019-02-22 22:06] #1250 closed

[2019-02-22 22:09] arokem commented on #1229
I must be missing something. Isn't your last name already spelled correctly [here](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)?

[2019-02-22 22:11] arokem commented on #1171
@whedon remove @damaggu as reviewer

[2019-02-22 22:11] whedon commented on #1171
OK, @damaggu is no longer a reviewer

[2019-02-22 22:11] arokem commented on #1171
@whedon add @tanselbaran as reviewer

[2019-02-22 22:11] whedon commented on #1171
OK, @tanselbaran is now a reviewer

[2019-02-22 22:12] arokem commented on #1171
It looks like I managed to switch you two off as reviewers, but this doesn't seem to change the names in the checklists at the top of the review.

@tanselbaran : please use @damaggu's section at the top of the page to mark progress on the review.

Thanks everyone!

[2019-02-22 22:13] arokem commented on #1171
Aha - found out how to do that. You now have your own section, @tanselbaran! Sorry for all the comments 😄

[2019-02-22 22:14] arokem commented on #1076
Hey @ailiop -- just making sure that you are still there? We had a brief email exchange a couple of weeks ago, and you told me that you are coming back to this. Have you had a chance to take another look and address the comments?

[2019-02-22 22:17] arokem commented on #1267
Sure. I can take this one.

@jdkent: do you have any ideas for good reviewers for this paper?

[2019-02-22 22:31] TomDLT commented on #1272
## General review

This Python package implements a collection of more-or-less standard signal processing functions used to analyze univariate neurophysiological time-series.

This package is well packaged, documented, licensed, and tested.
It comes with installation instructions, contributing guidelines, and detailed tutorials.
The API is clear, with consistent parameter names and orderings, and

[2019-02-22 22:46] jedbrown commented on #1089
@whedon set v3.2.1 as version

[2019-02-22 22:46] whedon commented on #1089
OK. v3.2.1 is the version.

[2019-02-22 22:47] flor14 commented on #785
Well, I finished improving the app, I hope I have interpreted the comments
correctly. Everything seems to work well.
Thanks for the valuable suggestions.

El jue., 14 feb. 2019 a las 7:35, Lorena A. Barba (<notifications@github.com>)
escribió:

[2019-02-22 23:06] voytek commented on #1272
Thanks, @TomDLT! We'll get back to you regarding your points, soon, but we appreciate you taking the time to do this.

[2019-02-22 23:10] stefanv commented on #1252
@mir-am Thank you for these instructions; that's helpful already.  Do you have plans to build binary packages?  If so, you may want to look at https://github.com/matthew-brett/multibuild. This would make your package pip-installable.  That, and setting up a recipe on conda-forge, will give you access to the majority of Python users out there.

[2019-02-22 23:22] jedbrown commented on #1089
Cool! I ran
[code]
and went to `localhost:8080`. The first step (starting MySQL) fails if I let it run the default `CMD`; I don't know why. I would suggest using a non-privileged port (such as `-p 8080:80`) in the instructions because that's what a local user would need; usually one would test that way before deploying anyway.

[2019-02-22 23:57] Datseris commented on #1166
Thank you for your reply.

Done.

For **MIDI.jl** the `Note` is a central structure used everywhere and expanded by other modules. It has a much more important place than just a utility structure. Many functions (as shown in our official documentation) dispatch directly on the `Note` structure. In addition it has the `channel` property which I could not find elsewhere. Other than that indeed the "

[2019-02-22 23:57] Datseris commented on #1166
@whedon generate pdf

[2019-02-22 23:57] whedon commented on #1166
[code]

[2019-02-22 23:58] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-23 00:09] 1313e commented on #1229
@arokem Take a look at the footer of every page.

[2019-02-23 12:41] labarba commented on #785
@karthik — take a look at this one to continue the review 🙏

[2019-02-23 13:28] tleonardi commented on #1228
Hi @brainstorm, I have added a small feature to bedparse and done a couple of changes following @Benjamin-Lee's feedback. I'd like to make a new release because I have other project's depending on bedparse that require this new feature. Since there's a "version" checkbox, I was wondering whether it's ok for me to make a release at this stage...

[2019-02-23 13:29] arfon commented on #1229
Just to (re)confirm. When we finally accept this paper, I will fix this manually. The library we use for handling firstnames/lastnames can't handle `van der` so I have to fix papers by hand when this comes up.

[2019-02-23 14:15] eendebakpt commented on #1097
@danielskatz We are happy with the paper. Could you update the software version to the latest (2.6.2). We made some small updates to the documentation, but did not change the paper.
What do you mean exactly by the software that is archived in zenodo?

[2019-02-23 16:25] danielskatz commented on #1097
@whedon set 2.6.2 as version

[2019-02-23 16:25] whedon commented on #1097
OK. 2.6.2 is the version.

[2019-02-23 16:30] danielskatz commented on #1097
@eendebakpt - you need to make an archive of this version of the software, in zenodo or in another repository.

See the third bullet in https://joss.readthedocs.io/en/latest/submitting.html#the-review-process

(And see https://guides.github.com/activities/citable-code/ for how to do this for Zenodo)

Once you have done so, paste the DOI of the archive here.

[2019-02-23 17:21] krueschan commented on #1089
Ok, I’ll change the instructions. I can’t reliably reproduce the issue you’re describing (MySQL not starting) except that I that happens to me too sometimes (even with well developed docker images such as devilbox) and restarting the docker service fixes it.

I take it that you managed to run it using the commands you listed in your previous post?

[2019-02-23 18:42] jedbrown commented on #1089
Restarting `docker.service` doesn't help for me. I don't understand that problem, but running bash and then issuing the one command isn't an issue for the purposes of reviewing. Yes, it worked and appeared to be fully functional when I ran it like that.

[2019-02-23 18:42] jedbrown commented on #1089
@whedon add @mtobis as reviewer

[2019-02-23 18:42] whedon commented on #1089
OK, @mtobis is now a reviewer

[2019-02-23 18:42] jedbrown commented on #1089
@whedon start review

[2019-02-23 18:42] whedon opened #1273 "[REVIEW]: The Climate Equity Reference Calculator"
**Submitting author:** @krueschan (<a href="http://orcid.org/0000-0003-0722-1044">Christian Holz</a>)
**Repository:** <a href="https://github.com/climateequityreferenceproject/cerc-web" target ="_blank">https://github.com/climateequityreferenceproject/cerc-web</a>
**Version:** v3.2.2
**Editor:** @jedbrown
**Reviewer:** @mtobis
**Archive:** <a href="https://doi.org/10.5281/zenodo.2592644" target="_

[2019-02-23 18:42] whedon commented on #1089
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1273. Feel free to close this issue now!

[2019-02-23 18:43] whedon commented on #1273
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mtobis it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-02-23 18:43] whedon commented on #1273
[code]

[2019-02-23 18:43] #1089 closed

[2019-02-23 18:43] whedon commented on #1273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01273/joss.01273/10.21105.joss.01273.pdf)

[2019-02-23 18:47] jedbrown commented on #1273
@mtobis :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the project repository). I'll be watching this thread if you have any questions.

I ran the docker image locally via
[code]
and pointing my browser to `localhost:8080`, which I think is sufficient to demonstrate that t

[2019-02-23 20:34] ssfrr commented on #1166
The reference you have in your references section is for the wrong paper. Also the link you gave is incorrect, and gives a 404. They provide the correct citation as well as a link to the paper in their [README](https://github.com/craffel/pretty-midi).

Please be more careful with your references. As I'm sure you're aware, properly citing prior work is one of the more important aspects of academic

[2019-02-23 20:35] evan-l-munson commented on #764
@kbenoit  I fixed the vignette issue finally, which of course took longer than I expected.  I went through and removed all Rcpp items in the package and ended up breaking everything.  This weekend, I added all the Rcpp items back into the package, and now the package is passing all tests again and working properly.

[2019-02-23 21:04] whedon opened #1274 "[PRE REVIEW]: Ecological Metadata as Linked Data"
**Submitting author:** @cboettig (<a href="http://orcid.org/0000-0002-1642-628X">Carl Boettiger</a>)
**Repository:** <a href="https://github.com/ropensci/emld" target ="_blank">https://github.com/ropensci/emld</a>
**Version:** 0.2.0
**Editor:** @usethedata
**Reviewers:** @usthedata

**Author instructions**

Thanks for submitting your paper to JOSS @cboettig. **Currently, there isn't an JOSS editor

[2019-02-23 21:04] whedon commented on #1274
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-23 21:04] whedon commented on #1274
[code]

[2019-02-23 21:04] whedon commented on #1274
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01274/joss.01274/10.21105.joss.01274.pdf)

[2019-02-23 21:04] arfon commented on #1274
@whedon assign @usethedata as editor

[2019-02-23 21:05] whedon commented on #1274
OK, the editor is @usethedata

[2019-02-23 21:07] arfon commented on #1274
Cross-linking with rOpenSci here: https://github.com/ropensci/software-review/issues/269

[2019-02-23 21:11] whedon opened #1275 "[PRE REVIEW]: PoreSpy: A Python Toolkit for Quantitative Analysis of Porous Media Images"
**Submitting author:** @jgostick (<a href="http://orcid.org/0000-0001-7736-7124">Jeff Gostick</a>)
**Repository:** <a href="https://github.com/PMEAL/porespy" target ="_blank">https://github.com/PMEAL/porespy</a>
**Version:** V1.0.0
**Editor:** @usethedata
**Reviewers:** @yxqd, @cr458

**Author instructions**

Thanks for submitting your paper to JOSS @jgostick. **Currently, there isn't an JOSS edit

[2019-02-23 21:12] whedon commented on #1275
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-23 21:12] whedon commented on #1275
[code]

[2019-02-23 21:12] whedon commented on #1275
Failed to discover a valid open source license.

[2019-02-23 21:12] whedon commented on #1275
PDF failed to compile for issue #1275 with the following error:

 Can't find any papers to compile :-(

[2019-02-23 21:23] usethedata commented on #1274
@whedon assign @usthedata as reviewer

[2019-02-23 21:23] whedon commented on #1274
OK, the reviewer is @usthedata

[2019-02-23 21:24] usethedata commented on #1274
@whedon start review

[2019-02-23 21:24] whedon opened #1276 "[REVIEW]: Ecological Metadata as Linked Data"
**Submitting author:** @cboettig (<a href="http://orcid.org/0000-0002-1642-628X">Carl Boettiger</a>)
**Repository:** <a href="https://github.com/ropensci/emld" target ="_blank">https://github.com/ropensci/emld</a>
**Version:** 0.2.0
**Editor:** @usethedata
**Reviewer:** @usethedata
**Archive:** <a href="https://doi.org/10.5281/zenodo.2575926" target="_blank">10.5281/zenodo.2575926</a>

## Status

[2019-02-23 21:24] whedon commented on #1274
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1276. Feel free to close this issue now!

[2019-02-23 21:24] whedon commented on #1276
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @usthedata it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-02-23 21:24] whedon commented on #1276
[code]

[2019-02-23 21:24] whedon commented on #1276
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01276/joss.01276/10.21105.joss.01276.pdf)

[2019-02-23 21:27] arokem commented on #1229
Gotcha. Sorry I missed that!

[2019-02-23 21:27] usethedata commented on #1274
Closing issue with review started

[2019-02-23 21:27] #1274 closed

[2019-02-23 21:35] arokem commented on #1272
Thanks for the quick review!

@voytek : one potential typo on my reread of the manuscript. Should "1/f life components" be "1/f-like components"? Or is that a technical term I'm just not familiar with?

[2019-02-23 21:45] arfon commented on #1275
:wave: @jgostick - thanks for your submission to JOSS. There are a few issues that need fixing before we can proceed to assign a handling editor:

1. Please add an open source license to this repository
2. Please write a paper to accompany your submission. [This section](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) of our docs should help.

[2019-02-23 21:59] Datseris commented on #1166
Wow, sorry for the mistake I did not realize this.

Unfortunately they do not provide the correct citation in their README as you claim. They provide a PDF file and a claim of publication. Of course I tried to find a DOI or an ISBN if the citation is for a book chapter. I have visited the official page for the conference the authors claim to have published in. It is here: https://dblp2.uni-trier.d

[2019-02-23 23:37] wandreopoulos commented on #693
Hello:

Thank you for all your feedback. I am sorry for my terribly slow response. I just went through a hectic period.

I worked on setup.py and the directory structure, according to the link you sent me.
In particular,  the source *.py files are under a subdirectory, and there are LICENSE and README.md files.

I added to paper.md:
"As the dataset grows over time and new items are frequently gett

[2019-02-23 23:49] labarba commented on #693
@jedbrown  -- Are you planning to move this paper into review?
We need to have these conversations in a Review issue. Here, we're just in the Pre-Review, which has the purpose of finding reviewers and making the initial assessment of scope and eligibility. If this submission passes the eligibility/scope assessment, then the handling editor's suggestions for improvement would be better recorded in

[2019-02-24 01:26] jedbrown commented on #693
@wandreopoulos Thanks for your work on this. The install currently doesn't actually install anything, and if I `import hierdenc` from the source directory, none of the functionality is exposed (it's just an empty module). To be a reusable library, one would expect to be able to `python setup.py install --prefix=/some/prefix` and then (with suitable `PYTHONPATH` or virtualenv) `import hierdenc` and

[2019-02-24 02:14] ssfrr commented on #1166
It appears that the short paper was accepted in the Late-Breaking/Demo category. The official conference website has a list of these accepted papers:

http://www.terasoft.com.tw/conf/ismir2014/AcceptedLBDPapers.html

[2019-02-24 03:06] cboettig commented on #1276
@arfon @usethedata just a heads up that this software was already just peer reviewed under rOpenSci with @lmullen as editor, see https://github.com/ropensci/software-review/issues/269

[2019-02-24 06:43] Benjamin-Lee commented on #1258
I'm glad to review as well!

[2019-02-24 06:48] kbenoit commented on #764
There is no C++ in the package, so the "breaking" parts were probably due to incomplete removal or failure to rebuild the parts fully when you roxygenized.

[2019-02-24 07:06] kbenoit commented on #764
Actually I just fixed it for you, https://github.com/evan-l-munson/saotd/pull/8.

[2019-02-24 10:20] Datseris commented on #1166
@whedon generate pdf

[2019-02-24 10:20] whedon commented on #1166
[code]

[2019-02-24 10:21] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-24 10:26] Datseris commented on #1166
Thank you @ssfrr for helping me with this. I've now corrected the citation (which as a result also corrected the wrong link).

I have to note that even though I searched the website, I couldn't find an associated DOI for this paper (I don't think one exists). But I hope this is okay because there is at list a link that links to the paper.

[2019-02-24 10:57] pjotrp commented on #1236
Thank you @george-githinji!

[2019-02-24 11:00] pjotrp commented on #1236
@a-slide The review process is now complete. To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI in the bibliography (if one exists).

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service.

To

[2019-02-24 11:09] Datseris commented on #1166
@whedon generate pdf

[2019-02-24 11:09] whedon commented on #1166
[code]

[2019-02-24 11:10] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-24 11:27] wandreopoulos commented on #693
Sorry. hierdenc is provided as a package under a directory with a __init.py__ file.
I changed __init__.py, such that all .py modules under the hierdenc directory get imported.
From the source directory if I do `from hierdenc import *` the functionality is exposed as follows:

wandreo-lm:hierdenc andreopo$ python
Python 2.7.15 (default, Aug 22 2018, 16:36:18)
[GCC 4.2.1 Compatible Apple LLVM 9.1.0

[2019-02-24 12:40] arfon commented on #1236
`@whedon` can help with this by typing `@whedon check references`

[2019-02-24 12:40] arfon commented on #1236
@whedon check references

[2019-02-24 12:40] whedon commented on #1236
[code]

[2019-02-24 12:40] whedon commented on #1236
[code]

[2019-02-24 14:01] krueschan commented on #1273
@whedon set v3.2.1 as version

[2019-02-24 14:01] whedon commented on #1273
I'm sorry @krueschan, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-02-24 14:02] krueschan commented on #1273
That's ok @whendon, I'll ask one of the humans to do it. @jedbrown or @mtobis, can you please `@whedon set v3.2.1 as version`? Thanks.

[2019-02-24 14:50] arfon commented on #1241
I've emailed the submitting author directly to point out that we're waiting on them at this point.

[2019-02-24 14:51] arfon commented on #1254
@Amudtogal - please rename `phobos_joss.md` to `paper.md`

[2019-02-24 14:51] usethedata commented on #1276
Completed expedited review given rOpenSci peer review at /ropensci/software-review/issues/269.  Manuscript generated properly.

[2019-02-24 14:53] arfon commented on #1270
:wave: @xuanxu - would you be willing to edit this submission for JOSS?

[2019-02-24 14:54] arfon commented on #1271
:wave: @leouieda - would you be willing to edit this submission for JOSS?

[2019-02-24 14:56] arfon commented on #1276
@usethedata - if this looks good, the next step is to assign the archive for the submission. We should also check the references too... @cboettig - is there already an archive of this repository?

[2019-02-24 14:56] arfon commented on #1276
@whedon check references

[2019-02-24 14:56] whedon commented on #1276
[code]

[2019-02-24 15:03] arfon commented on #1276
Looks like this monstrosity of a DOI is causing @whedon some problems: https://github.com/ropensci/emld/blob/master/paper.bib#L93

[2019-02-24 15:07] usethedata commented on #1276
@arfon @cboettig I did check that all of the links in the references resolved to the paper or web site that was referenced.  Looking a bit more closely, one journal title is abbreviated (Michener et al 1997, 5th from the bottom of the manuscript).  That's a nit I'd fix if it were my paper.

[2019-02-24 15:11] arfon commented on #1276
Got it. Thanks @usethedata.

[2019-02-24 16:02] evan-l-munson commented on #764
@kbenoit Again thank you for the help with the rcpp items.  I have merged your correction into the master repository.  I retested everything and your corrections have passed all checks.  I think this should be good to go.  Thank you again for your help!

[2019-02-24 16:09] arfon commented on #1268
@whedon assign @gkthiruvathukal as editor

[2019-02-24 16:09] whedon commented on #1268
OK, the editor is @gkthiruvathukal

[2019-02-24 17:16] cMadan commented on #1258
Thanks for volunteering, @Benjamin-Lee! I'll add you as a reviewer and go ahead and start the review.

[2019-02-24 17:17] cMadan commented on #1258
@whedon add @Benjamin-Lee as reviewer

[2019-02-24 17:17] whedon commented on #1258
OK, @Benjamin-Lee is now a reviewer

[2019-02-24 17:17] cMadan commented on #1258
@whedon start review

[2019-02-24 17:17] whedon opened #1277 "[REVIEW]: `tqdm`: A Fast, Extensible Progress Meter for Python and CLI"
**Submitting author:** @casperdcl (<a href="http://orcid.org/0000-0002-7211-1557">da Costa-Luis, Casper O.</a>)
**Repository:** <a href="https://github.com/tqdm/tqdm" target ="_blank">https://github.com/tqdm/tqdm</a>
**Version:** v4.32.1
**Editor:** @cMadan
**Reviewer:** @GregaVrbancic, @Benjamin-Lee
**Archive:** <a href="https://doi.org/10.5281/zenodo.2800317" target="_blank">10.5281/zenodo.28003

[2019-02-24 17:17] whedon commented on #1258
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1277. Feel free to close this issue now!

[2019-02-24 17:17] whedon commented on #1277
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GregaVrbancic, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-02-24 17:17] whedon commented on #1277
[code]

[2019-02-24 17:17] #1258 closed

[2019-02-24 17:17] whedon commented on #1277
PDF failed to compile for issue #1277 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/g

[2019-02-24 17:20] cMadan commented on #1257
@whedon set v0.1.0 as version

[2019-02-24 17:20] whedon commented on #1257
OK. v0.1.0 is the version.

[2019-02-24 17:22] cMadan commented on #1257
@whedon set 10.5281/zenodo.2575731 as archive

[2019-02-24 17:22] whedon commented on #1257
OK. <a href="https://doi.org/10.5281/zenodo.2575731" target="_blank">10.5281/zenodo.2575731</a> is the archive.

[2019-02-24 17:22] cMadan commented on #1257
@whedon accept

[2019-02-24 17:22] whedon commented on #1257
[code]

[2019-02-24 17:23] whedon commented on #1257
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/518

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/518, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-24 17:23] whedon commented on #1257
[code]

[2019-02-24 17:27] cMadan commented on #1257
I think those missing DOIs aren't correct here, they are related but more tutorial to the packages than for the packages per se. As discussed in the review (https://github.com/miykael/atlasreader/issues/105), I think there aren't DOIs for those references.

@miykael, you're all set congratulations! @andrewheusser, thank you again for the thorough review.

@arfon, can you do the honors?

[2019-02-24 17:31] casperdcl commented on #1277
@cMadan @GregaVrbancic, @Benjamin-Lee please use the [`tqdm:devel`](https://github.com/tqdm/tqdm/tree/devel) for review, I can commit any suggested changes there and make a new release before (hopeful) acceptance

[2019-02-24 17:31] casperdcl commented on #1277
@whedon generate pdf from branch devel

[2019-02-24 17:31] whedon commented on #1277
[code]

[2019-02-24 17:32] whedon commented on #1277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01277/joss.01277/10.21105.joss.01277.pdf)

[2019-02-24 17:39] lheagy commented on #1114
Thanks @zhangning737, please ping here when you have made the changes.

[2019-02-24 17:40] lheagy commented on #1136
Hi @rbeucher, sorry for the delay, I haven't heard back from Anthony or Florian yet, so I am still on the hunt for reviewers. I will keep you posted.

[2019-02-24 17:50] lheagy commented on #990
@whedon make pdf

[2019-02-24 17:50] lheagy commented on #990
@whedon commands

[2019-02-24 17:50] whedon commented on #990
Here are some things you can ask me to do:

[code]

[2019-02-24 17:50] lheagy commented on #990
@whedon generate pdf

[2019-02-24 17:50] whedon commented on #990
[code]

[2019-02-24 17:51] whedon commented on #990
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00990/joss.00990/10.21105.joss.00990.pdf)

[2019-02-24 17:52] lheagy commented on #990
@whedon check references

[2019-02-24 17:52] whedon commented on #990
[code]

[2019-02-24 17:52] whedon commented on #990
[code]

[2019-02-24 17:57] lheagy commented on #990
👋 Hi @laempy, thanks for your changes - I really like the tutorials you added. Just one outstanding item from my perspective, that is the doi's mentioned above (laempy/pyoints#8). Would you mind taking a look and see if those are appropriate to add to the paper?

@kbevers, @scivision, thanks for your efforts on the review. Would you like to take a look at the revisions and add any final comments?

[2019-02-24 18:15] arfon commented on #1257
Done. The proof I generated locally ended up doing a slightly better job with figure layout so I processed the paper manually.

@andrewheusser - many thanks for your review here and to @cMadan for editing this submission ✨

@miykael - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-24 18:15] #1257 closed

[2019-02-24 18:15] whedon commented on #1257
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01257/status.svg)](https://doi.org/10.21105/joss.01257)

**We need your help!**

Journal of Open Source Softwar

[2019-02-24 18:44] kbevers commented on #990
@lheagy It looks good to me.

[2019-02-24 18:50] pdwaggoner commented on #1211
Any luck on finding reviewers @yochannah ? Let me know if I can help at all! Thanks so much again.

[2019-02-24 19:41] arfon commented on #1251
Closing as a duplicate of #1268

[2019-02-24 19:41] #1251 closed

[2019-02-24 19:43] arfon commented on #1212
Friendly reminder to find some reviewers soon for this submission @karthik

[2019-02-24 20:18] rbeucher commented on #1136
Hi @lheagy , thanks for letting me know.

[2019-02-24 20:30] miykael commented on #1257
@andrewheusser - thank you again for your great review!

@cMadan - thank you for your work and accepting the paper.

@arfon - thank you for changing the figure layout. It's now exactly how I wanted it.

[2019-02-24 21:01] xuanxu commented on #1270
@arfon sure!

[2019-02-24 22:12] evan-l-munson commented on #764
@arfon with a couple critical pointers from @kbenoit I think that I have finally corrected the last couple of items of concern he had for my package.  Is there anything else that you need from me with this package submission?  Thanks!

[2019-02-24 22:22] arfon commented on #1270
Great! Next you need to type `@whedon assign @xuanxu as editor`, then look for some reviewers...

[2019-02-25 00:35] arfon commented on #764
@whedon generate pdf

[2019-02-25 00:35] whedon commented on #764
[code]

[2019-02-25 00:35] whedon commented on #764
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00764/joss.00764/10.21105.joss.00764.pdf)

[2019-02-25 00:48] carterenyi commented on #1094
@Kevin-Mattheus-Moerman DOIs, urls and/or ISBNs have been added to all
references where applicable. The windows laptop I ordered arrived yesterday
so I should be able to fix the GUI display issue for Windows 10 this week.

On Thu, Feb 21, 2019 at 2:41 PM Aaron Carter-Enyi <carterenyi@gmail.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-02-25 00:50] arfon commented on #764
Hi @evan-l-munson. I've made some slight tweaks to your paper in https://github.com/evan-l-munson/saotd/pull/9 - let me know what you think.

In addition, please make sure you:

- Update the version number based on the feedback from this review.
- Add something to your README making it clear how users can contribute (if appropriate).

[2019-02-25 03:05] evan-l-munson commented on #764
@arfon, Good evening.  I have completed your suggested edits/additions and pushed to GitHub.  If there is anything else, let me know and I will get working on it asap.  Thanks for the help!

[2019-02-25 09:15] xuanxu commented on #1270
@whedon assign @xuanxu as editor

[2019-02-25 09:15] whedon commented on #1270
OK, the editor is @xuanxu

[2019-02-25 10:49] arfon commented on #764
@whedon generate pdf

[2019-02-25 10:49] whedon commented on #764
[code]

[2019-02-25 10:49] whedon commented on #764
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00764/joss.00764/10.21105.joss.00764.pdf)

[2019-02-25 10:52] arfon commented on #764
@evan-l-munson thanks. Please could you clarify what version the package is now at? Given the modifications during the review it would seem appropriate to make a new release and archive in Zenodo.

Once you've done this I'm happy to proceed with accepting this submission.

[2019-02-25 11:32] arfon commented on #947
@alexpghayes - does this sound reasonable ☝️?

[2019-02-25 11:33] arfon commented on #1247
:wave: @gnarayan - how are you getting along here?

[2019-02-25 12:27] brainstorm commented on #1228
Yes it should be ok as long as @Benjamin-Lee reviews the changes accordingly.

[2019-02-25 13:23] evan-l-munson commented on #764
@arfon, I bumped the package to version 0.2.0.  I will work to get resubmit to Zendo within the next day or two.  Will let you know when I get that done. Thanks!

[2019-02-25 13:30] danielskatz commented on #1223
I'll mark this as paused until then - please let us know when you are ready to proceed.

[2019-02-25 13:30] tleonardi commented on #1228
Great, thanks. I've released v0.2.1.
Actually, I've just now noticed that @Benjamin-Lee ticked all the boxes above. If he's happy with the changes this could become the final release once he is done with the review?

[2019-02-25 14:09] danielskatz commented on #1241
I'm going to mark this as paused at this point - @adrena-lab please ping us when we are ready to resume the process.

[2019-02-25 14:34] ssfrr commented on #1166
The title for the raffel citation isn't showing up in the references. Maybe something weird with the bibtex?

[2019-02-25 15:26] adrena-lab commented on #1241
Dear Arfon and Daniel,

My apologies, there was a misunderstanding on our end.  We have renamed out paper to paper.md and have added paper.bib to the repository.  We will follow this thread to ensure there are no further delays.

Thank you,

Niamh

[2019-02-25 15:34] grantjenks commented on #1223
Sorry for the delay. February has been a busy month. It’s on the schedule for early March.

[2019-02-25 15:35] danielskatz commented on #1241
@whedon generate pdf

[2019-02-25 15:35] whedon commented on #1241
[code]

[2019-02-25 15:35] whedon commented on #1241
PDF failed to compile for issue #1241 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2019-02-25 15:38] danielskatz commented on #1241
As you probably can tell, there are some other files missing, such as a .bib file and a figure.  Feel free to add files, and when you have done so, enter a comment here that is ```@whedon generate pdf``` to try the PDF compilation process again.  Let me know when you are done or stuck.

[2019-02-25 15:54] adrena-lab commented on #1241
@whedon generate pdf

[2019-02-25 15:54] whedon commented on #1241
[code]

[2019-02-25 15:54] whedon commented on #1241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01241/joss.01241/10.21105.joss.01241.pdf)

[2019-02-25 16:28] Benjamin-Lee commented on #1228
I just looked over the changes and they look good.

I also just noticed that you say `Bedparse is a simple python module and CLI tool` in the paper and say it can be imported but there aren't any docs about that. Since it can be imported, there need to be API-level docs.

In addition, I have a few copy edits, which I submitted as a [PR](https://github.com/tleonardi/bedparse/pull/16).

[2019-02-25 17:23] Datseris commented on #1166
@whedon generate pdf

[2019-02-25 17:23] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-25 17:25] whedon commented on #1166
[code]

[2019-02-25 17:27] Datseris commented on #1166
@whedon generate pdf

[2019-02-25 17:27] whedon commented on #1166
[code]

[2019-02-25 17:28] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-25 17:30] jgostick commented on #1275
I'm sorry, I thought I'd done this.  I added all this to the Master branch, but the default branch on github was the dev branch, so perhaps that was the issues?  Anyway, I have changed the default to master and updated the version number to V1.0.1.  Do I need to tell the system to look at this new tag?  If so, how?

[2019-02-25 17:33] Datseris commented on #1166
@whedon generate pdf

[2019-02-25 17:33] whedon commented on #1166
[code]

[2019-02-25 17:33] danielskatz commented on #1275
@whedon generate pdf

[2019-02-25 17:33] whedon commented on #1275
[code]

[2019-02-25 17:33] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-25 17:33] whedon commented on #1275
PDF failed to compile for issue #1275 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1275/paper.md): did not find expected key while parsing a block mapping at line 32 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app

[2019-02-25 17:35] danielskatz commented on #1275
There is some extra space before the name associated with affil 2.  Please remove it.  You can also regenerate the pdf yourself by entering ```@whedon generate pdf``` as a new comment here.

[2019-02-25 17:38] danielskatz commented on #1241
It would be good to explain the research application of this software - what kinds of researchers will use this software, and for what types of research?

[2019-02-25 17:41] danielskatz commented on #1241
Similarly, the README will need some work - it should talk about the research application(s) of the software, plus a bit more.  See https://joss.readthedocs.io/en/latest/review_criteria.html under "Documentation" and "A statement of need".

[2019-02-25 17:41] Datseris commented on #1166
@whedon generate pdf

[2019-02-25 17:41] whedon commented on #1166
[code]

[2019-02-25 17:42] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-25 17:42] andrewheusser commented on #1257
👍 my pleasure

[2019-02-25 17:50] Datseris commented on #1166
Alright, no matter what I try the title of the paper does not appear in the compiled pdf. If anyone knows the solution please let me know as well. The Bib entry I have now (which I stripped to the bare basics) is:
[code]

[2019-02-25 17:55] Datseris commented on #1166
@whedon generate pdf

[2019-02-25 17:55] whedon commented on #1166
[code]

[2019-02-25 17:55] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-25 17:56] Datseris commented on #1166
Fiiiiiiiiiiiiiinaly. It is not possible to have underscore in names in latex apparently.

[2019-02-25 18:08] Datseris commented on #1166
@whedon generate pdf

[2019-02-25 18:08] whedon commented on #1166
[code]

[2019-02-25 18:09] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-25 18:11] Datseris commented on #1166
@whedon generate pdf

[2019-02-25 18:11] whedon commented on #1166
[code]

[2019-02-25 18:11] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-02-25 18:34] jgostick commented on #1275
@whedon generate pdf

[2019-02-25 18:34] whedon commented on #1275
[code]

[2019-02-25 18:34] whedon commented on #1275
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01275/joss.01275/10.21105.joss.01275.pdf)

[2019-02-25 18:36] danielskatz commented on #1275
The third-to-last reference could use some work on the author names.

[2019-02-25 18:38] xuanxu commented on #1270
👋  @acolum, @aj2duncan: Would you be willing to review this paper? I think your expertise in R and math makes both of you a great fit for this submission.
I think one reviewer is enough to get this started, but it would be great to have the two of you reviewing it.

[2019-02-25 18:40] danielskatz commented on #1275
👋 @usethedata - would you be willing to act as editor for this submission?

[2019-02-25 18:43] jgostick commented on #1275
@danielskatz I already caught that problem in the references and have re-pushed.  Will regenerate now.  Thanks for your help.

[2019-02-25 18:43] jgostick commented on #1275
@whedon generate pdf

[2019-02-25 18:43] whedon commented on #1275
[code]

[2019-02-25 18:44] whedon commented on #1275
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01275/joss.01275/10.21105.joss.01275.pdf)

[2019-02-25 19:19] danielskatz commented on #1261
I'm going to mark this as paused for now.  When this is fixed, we can resume the review process.

[2019-02-25 19:39] leouieda commented on #1271
@arfon sure, I'd be happy to do it :+1:

I'll look through the reviewer list to see if anyone has R and Julia experience. @Non-Contradiction let me know if you have any suggestions for reviewers. There is [a list of potential reviewers here](https://bit.ly/joss-reviewers).

[2019-02-25 19:49] danielskatz commented on #1271
@whedon assign @leouieda as editor

[2019-02-25 19:49] whedon commented on #1271
OK, the editor is @leouieda

[2019-02-25 19:54] jgostick commented on #1275
From looking at the list, PingjunChen and Alanocallaghan look like the only fully qualified reviewers.

[2019-02-25 20:21] DavideNardone commented on #1049
Hello everybody, since i couldn't find more than one or two existing state of the art Multivariate Dynamic Time Warping software to which compare my software I haven't completed the tests yet. I've been thinking whether to compare my software against CPU-Univariate Dynamic Time Warping. Whether just one/two methods will not be fine for you I think that I will need more time to complete the tests.

[2019-02-25 20:40] tleonardi commented on #1228
Thanks @Benjamin-Lee for pointing out the missing docs. I've written the documentation as docstrings and compiled it with sphinx autodoc. It has it's own [page](https://bedparse.readthedocs.io/en/devel/bedparse.bedline.html) on Read the Docs and simple [example](https://bedparse.readthedocs.io/en/devel/Tutorial.html#apis) in the tutorial.
I've also merged the paper's PR.
Since I've edited the code

[2019-02-25 20:40] tleonardi commented on #1228
@whedon generate pdf from branch paper

[2019-02-25 20:40] whedon commented on #1228
[code]

[2019-02-25 20:41] whedon commented on #1228
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01228/joss.01228/10.21105.joss.01228.pdf)

[2019-02-25 21:17] yochannah commented on #1211
We haven't had much luck on the GitHub mentions with this one, have we? I've sent a call out on twitter - let's give it a couple of days. If that doesn't come through I'll try emailing some more possibles directly. Thanks for your patience with this! 👍

[2019-02-25 21:17] alexhanna commented on #1211
If there's no luck on Twitter I can take it on.

On Mon, Feb 25, 2019 at 1:17 PM Yo Yehudi <notifications@github.com> wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2019-02-25 21:22] voytek commented on #1272
Too funny. Living my 1/f life. Good catch, @arokem. Fixed.

[2019-02-25 21:48] Benjamin-Lee commented on #1228
So sorry, I was looking at the master branch and didn't notice that the devel one has the docs. Is it possible to get method-level examples in the API docs using `:Example:`? (As an aside, you might be interested in [`napoleon`](http://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html). which makes writing sphinx docstrings more pleasant)

Also, what is the reasoning behind using `pprint

[2019-02-25 22:00] acolum commented on #1270
Hi @xuanxu, thank you, and I'm willing to review this paper.

[2019-02-25 22:29] pdwaggoner commented on #1211
Sounds good - @yochannah . Thanks for taking that extra step; we really appreciate the added effort there. And Thanks as well @alexhanna ! Honestly, I don't think it will be too much of a taxing review, as the software is pretty straightforward, even if R is not your primary language. However, you both would like to proceed, we are more than happy to go along with it. Thanks again for the help! Ex

[2019-02-25 23:33] ailiop commented on #1076
Dear @arokem and @Kevin-Mattheus-Moerman -- I am really sorry for my unacceptably long absence from this thread. I cannot apologize enough, but I want to sincerely thank @arokem for his patience and @Kevin-Mattheus-Moerman for his thorough and very helpful review.

I have updated the idvf repository to release v1.0.2 and posted responses to the issues opened by @Kevin-Mattheus-Moerman.

[2019-02-26 00:26] usethedata commented on #1275
@whedon assign @usethedata as editor

[2019-02-26 00:26] whedon commented on #1275
OK, the editor is @usethedata

[2019-02-26 00:47] arfon commented on #1276
@whedon set 10.5281/zenodo.2575926 as archive

[2019-02-26 00:47] whedon commented on #1276
OK. <a href="https://doi.org/10.5281/zenodo.2575926" target="_blank">10.5281/zenodo.2575926</a> is the archive.

[2019-02-26 00:48] arfon commented on #1276
@whedon accept

[2019-02-26 00:48] whedon commented on #1276
[code]

[2019-02-26 00:48] whedon commented on #1276
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/519

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/519, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-26 00:49] arfon commented on #1276
@whedon accept deposit=true

[2019-02-26 00:49] whedon commented on #1276
[code]

[2019-02-26 00:50] whedon commented on #1276
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/520
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01276](https://doi.org/10.21105/joss.01276)
2. If everything looks go

[2019-02-26 00:53] arfon commented on #1276
@cboettig - your paper is now accepted into JOSS :zap::rocket::boom:

Thanks for editing this @usethedata!

[2019-02-26 00:53] #1276 closed

[2019-02-26 00:53] whedon commented on #1276
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01276/status.svg)](https://doi.org/10.21105/joss.01276)

**We need your help!**

Journal of Open Source Softwar

[2019-02-26 00:57] arfon commented on #1228
@Benjamin-Lee @tleonardi this PR should fix the reference formatting: https://github.com/tleonardi/bedparse/pull/17

[2019-02-26 02:59] karthik commented on #1212
Hi @arsilva87 In looking over your package, I'm unable to install it for starters. There are also no tests or documentation in your folder. Until you do that I cannot send this out for review. Please ping once you have updated your package. Thanks.

[2019-02-26 03:09] karthik commented on #1194
Thanks Lorena (I was traveling).

@hbodory Thanks for this submission. Unfortunately this is not a R package. You have a collection of R function in a R folder but no R package structure, documentation (the manual.pdf does not count as acceptable package documentation), tests, or any metadata. I would recommend reading about creating R packages here (free resource: http://r-pkgs.had.co.nz/) and cr

[2019-02-26 04:09] poulson commented on #1222
@whedon commands

[2019-02-26 04:09] whedon commented on #1222
Here are some things you can ask me to do:

[code]

[2019-02-26 04:13] poulson commented on #1222
@vissarion Thank you for agreeing to help review this, Vissarion. I think that, given @HaoZeke's Julia expertise, between the two of you, the expertise should be covered. As for a deadline, the soft deadline is typically two weeks.

@HaoZeke I'm glad to hear that you're feeling better, and thank you for your enthusiasm in agreeing to review this paper!

@sjvrijn Hi Sander, it seems that we have th

[2019-02-26 04:14] poulson commented on #1222
@whedon add @HaoZeke as reviewer

[2019-02-26 04:14] whedon commented on #1222
OK, @HaoZeke is now a reviewer

[2019-02-26 04:14] poulson commented on #1222
@whedon add @vissarion as reviewer

[2019-02-26 04:14] whedon commented on #1222
OK, @vissarion is now a reviewer

[2019-02-26 04:14] poulson commented on #1222
@whedon start review

[2019-02-26 04:14] whedon opened #1278 "[REVIEW]: A Julia package for bilevel optimization problems"
**Submitting author:** @matbesancon (<a href="http://orcid.org/0000-0002-6284-3033">Mathieu Besançon</a>)
**Repository:** <a href="https://github.com/matbesancon/BilevelOptimization.jl" target ="_blank">https://github.com/matbesancon/BilevelOptimization.jl</a>
**Version:** v0.2.1
**Editor:** @poulson
**Reviewer:** @HaoZeke, @vissarion
**Archive:** <a href="https://doi.org/10.5281/zenodo.3249188" t

[2019-02-26 04:14] whedon commented on #1222
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1278. Feel free to close this issue now!

[2019-02-26 04:14] whedon commented on #1278
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-02-26 04:14] whedon commented on #1278
[code]

[2019-02-26 04:15] #1222 closed

[2019-02-26 04:15] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-02-26 05:15] FaustinCarter commented on #1231
I'm very impressed in general with this package. It does a lot of SIS stuff very neatly, and presents the results in a readable way. I have a few more comments/suggestions and once those are addressed I'll be ready to check the final boxes:

General documentation
--------------------------
There are a lot of helper functions (resp_swap, for instance) that do specific things, but I don't immediatel

[2019-02-26 05:42] pjotrp commented on #1236
@arfon very cool :)

[2019-02-26 05:43] pjotrp commented on #1236
@a-slide next step is for you to confirm.

[2019-02-26 08:01] xuanxu commented on #1270
Thanks @acolum! I will assign you now.
I'll give some more time for a response from @aj2duncan to have a second reviewer and then start the review issue soon.

[2019-02-26 08:01] xuanxu commented on #1270
@whedon assign @acolum as reviewer

[2019-02-26 08:01] whedon commented on #1270
OK, the reviewer is @acolum

[2019-02-26 08:21] hbodory commented on #1194
@karthik Thank you for your reply. Just to make sure that I understand your concerns about the R package correctly. The R package causalweight is available on CRAN since 2018, currently version 0.1.2 is running on CRAN, see [causalweight](https://CRAN.R-project.org/package=causalweight).  Do you want me to submit a new package to CRAN?

[2019-02-26 09:00] zhangning737 commented on #1114
@lheagy taken days for reediting tests and examples, fixed.

I have submited new tests and example and add to documentation, also updated README and CONTRIBUTING. pls check it.

Thx.

Wish docs completed this time.

[2019-02-26 09:25] aj2duncan commented on #1270
Hi @xuanxu, happy to review this too.

[2019-02-26 09:40] rougier commented on #1252
And I'm still fighting with the installation procedure (with no luck yet)

[2019-02-26 10:02] xuanxu commented on #1270
@whedon add @aj2duncan as reviewer

[2019-02-26 10:02] whedon commented on #1270
OK, @aj2duncan is now a reviewer

[2019-02-26 10:03] xuanxu commented on #1270
@whedon start review

[2019-02-26 10:03] whedon opened #1279 "[REVIEW]: tsfeaturex: An R Package for Automating Time Series Feature Extraction"
**Submitting author:** @nelsonroque (<a href="http://orcid.org/0000-0003-1184-202X">Nelson Roque</a>)
**Repository:** <a href="https://github.com/nelsonroque/tsfeaturex" target ="_blank">https://github.com/nelsonroque/tsfeaturex</a>
**Version:** v.0.3.10
**Editor:** @xuanxu
**Reviewer:** @acolum, @aj2duncan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3235466" target="_blank">10.5281/zenod

[2019-02-26 10:03] whedon commented on #1270
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1279. Feel free to close this issue now!

[2019-02-26 10:03] whedon commented on #1279
[code]

[2019-02-26 10:03] whedon commented on #1279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01279/joss.01279/10.21105.joss.01279.pdf)

[2019-02-26 10:04] whedon commented on #1279
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @acolum, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-02-26 10:05] xuanxu commented on #1270
@acolum, @aj2duncan, please head over to #1279 for the actual review

[2019-02-26 10:05] #1270 closed

[2019-02-26 10:17] piermorel commented on #1206
Hello, shouldn't we get a review thread for HCP ? I haven't found one yet.

[2019-02-26 10:29] trallard commented on #1260
Hi all thanks for the time spent in this review, it seems that all the issues have already been dealt with and there are just a few steps between acceptance and now.

@seabbs  can you please make sure to complete the following tasks before completing this?

* [ ] make a new release of the package (unless the latest release is up to date with the recent modifications) and add let us know what is th

[2019-02-26 10:29] trallard commented on #1260
@whedon generate pdf

[2019-02-26 10:29] whedon commented on #1260
[code]

[2019-02-26 10:30] whedon commented on #1260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01260/joss.01260/10.21105.joss.01260.pdf)

[2019-02-26 10:31] seabbs commented on #1260
Will do.

Is this a GitHub release or CRAN release?

[2019-02-26 10:32] trallard commented on #1260
We normally ask for the GitHub version as this is also the one that will be used in Zenodo, but thinking about it: it would be great to have all versions in sync (GitHub, CRAN, Zenodo) of course if you have the time/capacity to do so

[2019-02-26 10:38] seabbs commented on #1260
I'd rather wait on the CRAN release if possible as my last CRAN release was only a month ago. I also have some features planned that I would like to implement in the next release. The issues above were fairly cosmetic (but very useful) so package functionality is unchanged between CRAN and GitHub. If you think the benefits from syncing up outweigh above then happy to release today.

In terms of th

[2019-02-26 10:40] strengejacke commented on #1260
Usually, you create a new Zenodo-DOI on the latest GitHub version, i.e. the version _after_ review. That's the DOI for the JOSS article.

[2019-02-26 10:42] seabbs commented on #1260
Sorry if I am being thick.

To clarify a DOI that points to the specific version of the package that was reviewed here - rather than a DOI that points to the latest Zenodo release?

[2019-02-26 10:44] strengejacke commented on #1260
You have made some revisions, so you should change your package version number and create a new DOI, so the Zenodo-archive contains all latest changes after review.

[2019-02-26 10:45] trallard commented on #1260
Hey @seabbs no worries this can be a bit confusing let me go over what you'd need to do:
1. Create a new release (tag) on GitHub of the package
2. Create a new Zenodo-DOI pointing to the newly created release (if you already have the code archived in Zenodo it should be a matter of adding the new version)
3. Copy the newly created DOI to this thread

[2019-02-26 10:46] seabbs commented on #1260
Yes I totally agree on that - making a release now.

My point is that Zenodo has two DOI types. One points to a specific release and one tracks the latest release.

From what you are both saying the DOI I need is the one that links to the reviewed package. Obviously, this is good as it shows what was reviewed. The downside is that it will be out of date as soon as there is a new release.

[2019-02-26 10:47] tleonardi commented on #1228
No need to be sorry @Benjamin-Lee, I only wrote the docs after you pointed out they were missing! :)
Thanks for the careful review and the new suggestions. I have just renamed the `all` argument in `translateChr()`, thanks for spotting it!
Regarding the  `pprint` and `print` methods, you are right, I should get rid of them. A while back they made sense, but I have been meaning to replace them with

[2019-02-26 10:47] tleonardi commented on #1228
@whedon generate pdf from branch paper

[2019-02-26 10:48] whedon commented on #1228
[code]

[2019-02-26 10:48] whedon commented on #1228
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01228/joss.01228/10.21105.joss.01228.pdf)

[2019-02-26 10:49] trallard commented on #1260
Sorry I just corrected my previous comment: share the DOI that points to the latest release (that should include the reviewed version)

[2019-02-26 11:11] seabbs commented on #1260
Checklist:

- [x]  make a new release of the package (unless the latest release is up to date with the recent modifications) and add let us know what is the most up to date version
- [x] upload the revised software to your DOI-granting data/software repository, and post the DOI here
- [x] double check the submission paper to ensure it is up-to-date (citations are correct, DOIs are added, etc)

Cha

[2019-02-26 11:16] trallard commented on #1260
@whedon  set 10.5281/zenodo.2547405 as archive

[2019-02-26 11:17] trallard commented on #1260
@whedon generate pdf

[2019-02-26 11:17] whedon commented on #1260
[code]

[2019-02-26 11:17] whedon commented on #1260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01260/joss.01260/10.21105.joss.01260.pdf)

[2019-02-26 11:18] trallard commented on #1260
@whedon set 10.5281/zenodo.2547405 as archive

[2019-02-26 11:18] whedon commented on #1260
OK. <a href="https://doi.org/10.5281/zenodo.2547405" target="_blank">10.5281/zenodo.2547405</a> is the archive.

[2019-02-26 11:19] trallard commented on #1260
@whedon set 0.5.8 as version

[2019-02-26 11:19] whedon commented on #1260
OK. 0.5.8 is the version.

[2019-02-26 11:21] trallard commented on #1260
@seabbs  all looks good to me so I am going to proceed for acceptance

@rrrlw and @strengejacke thanks a lot for your time and valuable contribution to JOSS as reviewers for this submission 🙌🏻

@openjournals/joss-eics this submission has been accepted and is ready to be published 🎉🙌✨

[2019-02-26 11:23] seabbs commented on #1260
Thanks, @trallard for overseeing this.

Thanks again to @rrrlw  and @strengejacke for the great review.

Great painless experience. It would be great if traditional journals moved towards this kind of model!

[2019-02-26 11:28] cbjuan commented on #1188
Hi @danielskatz. We are trying to fix it. It seems to be an error related to the new version of VSCode. We hope to have a solution ASAP (not only for this review but also for the other users reporting the error).

[2019-02-26 12:40] tleonardi commented on #1228
Ok, I have added the examples for the API methods in the docstrings. I've also switched to [`napoleon`](http://www.sphinx-doc.org/en/master/usage/extensions/napoleon.html). Thanks @Benjamin-Lee for the tip, the syntax is much more readble!

[2019-02-26 13:55] vijaysm commented on #1173
@kyleniemeyer Should I upload a list of my suggestions separately or just continue discussion with the author here as part of the comment thread ?

@pankajkmishra  I also noticed that there is no official release for NodeLab yet. So it may be appropriate to update the versioning info first and then tag the commit as a checkpoint for the review. Thoughts @kyleniemeyer ?

[2019-02-26 14:12] kevin-flaherty commented on #1220
@afron I have completed my review, and I recommend eddy for acceptance by JOSS.

[2019-02-26 14:28] danielskatz commented on #1260
Thanks all!  Processing for acceptance will happen later today/tonight.

[2019-02-26 14:30] danielskatz commented on #1206
@Kevin-Mattheus-Moerman are you ready to start the review?

[2019-02-26 14:33] mfroeling commented on #1204
@whedon generate pdf

[2019-02-26 14:33] whedon commented on #1204
[code]

[2019-02-26 14:34] mfroeling commented on #1204
@rljacobson there is no rush in getting this done. If i can help out in any way let me know.

[2019-02-26 14:34] whedon commented on #1204
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01204/joss.01204/10.21105.joss.01204.pdf)

[2019-02-26 14:42] jedbrown commented on #1049
It isn't so much about the number of packages that you compare to, but about whether the comparisons are representative and whether the packages you compare to are the most relevant to a researcher trying to choose appropriate software. If your software is also competitive for univariate DTW, then that might also be a draw for attracting users.

[2019-02-26 15:34] tleonardi commented on #1228
@whedon generate pdf from branch paper

[2019-02-26 15:34] whedon commented on #1228
[code]

[2019-02-26 15:35] whedon commented on #1228
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01228/joss.01228/10.21105.joss.01228.pdf)

[2019-02-26 15:55] danielskatz commented on #1260
@whedon accept

[2019-02-26 15:55] whedon commented on #1260
[code]

[2019-02-26 15:56] whedon commented on #1260
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/521

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/521, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-26 15:57] whedon commented on #1260
[code]

[2019-02-26 15:59] danielskatz commented on #1260
@whedon accept deposit=true

[2019-02-26 15:59] whedon commented on #1260
[code]

[2019-02-26 16:00] whedon opened #1280 "[PRE REVIEW]: tacmagic: PET Analysis in R"
**Submitting author:** @eebrown (<a href="http://orcid.org/0000-0002-1575-2606">Eric E. Brown</a>)
**Repository:** <a href="https://github.com/ropensci/tacmagic" target ="_blank">https://github.com/ropensci/tacmagic</a>
**Version:** v0.2.0
**Editor:** @danielskatz
**Reviewers:** @danielskatz

**Author instructions**

Thanks for submitting your paper to JOSS @eebrown. **Currently, there isn't an JO

[2019-02-26 16:00] whedon commented on #1280
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-26 16:00] whedon commented on #1280
[code]

[2019-02-26 16:00] danielskatz commented on #1280
👋 @arokem - the author suggested you as the editor for this submission.  Are you willing to take it on?

[2019-02-26 16:01] whedon commented on #1260
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/522
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01260](https://doi.org/10.21105/joss.01260)
2. If everything looks go

[2019-02-26 16:01] whedon commented on #1280
Failed to discover a valid open source license.

[2019-02-26 16:02] whedon commented on #1280
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01280/joss.01280/10.21105.joss.01280.pdf)

[2019-02-26 16:02] danielskatz commented on #1280
@eebrown - you need to add a LICENSE to the repository - If needed, see https://choosealicense.com

[2019-02-26 16:03] #1260 closed

[2019-02-26 16:03] whedon commented on #1260
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01260/status.svg)](https://doi.org/10.21105/joss.01260)

**We need your help!**

Journal of Open Source Softwar

[2019-02-26 16:04] eebrown commented on #1280
Hello, thanks for processing this JOSS submission. @danielskatz it is licenced under GPL-3. I can add a LICENCE file.

 I was told to note:

This submission has been accepted to rOpenSci. The review thread can be found at https://github.com/ropensci/software-review/issues/280

[2019-02-26 16:04] danielskatz commented on #1260
Thanks again to @trallard for editing, and @rrrlw and @strengejacke for reviewing!!

[2019-02-26 16:05] danielskatz commented on #1280
Thanks - that will make this a fast process.

[2019-02-26 16:32] karthik commented on #1194
@hbodory For JOSS you need to point us to the source code of the package that includes everything. I see causalweight on CRAN and the source there includes most things I have asked for. But the repo you link to in this submission just has a `R/` folder with the functions and nothing more. Where is your package source?

[2019-02-26 16:47] eebrown commented on #1280
I have added a LICENSE file to the repository.

[2019-02-26 16:52] arfon commented on #1220
@whedon generate pdf

[2019-02-26 16:52] whedon commented on #1220
[code]

[2019-02-26 16:53] whedon commented on #1220
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01220/joss.01220/10.21105.joss.01220.pdf)

[2019-02-26 16:57] cMadan commented on #1252
@rougier, thank you for the update (though unfortunate)

[2019-02-26 17:49] carterenyi commented on #1094
@whedon <https://github.com/whedon> generate pdf

On Sun, Feb 24, 2019 at 7:47 PM Aaron Carter-Enyi <carterenyi@gmail.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-02-26 17:55] carterenyi commented on #1094
@whedon <https://github.com/whedon> generate pdf

On Tue, Feb 26, 2019 at 12:49 PM Aaron Carter-Enyi <carterenyi@gmail.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-02-26 18:01] carterenyi commented on #1094
@whedon commands

[2019-02-26 18:01] whedon commented on #1094
Here are some things you can ask me to do:

[code]

[2019-02-26 18:01] karthik commented on #1194
In looking at your repo, I see that you gitignored all the package files: https://github.com/hbodory/causalweight/commit/32eb7f5844160bec7d92b3ca7f8384cc0edc03e4#diff-a084b794bc0759e7a6b77810e01874f2

which is the problem.

[2019-02-26 18:01] carterenyi commented on #1094
@whedon check references

[2019-02-26 18:01] whedon commented on #1094
[code]

[2019-02-26 18:10] arfon commented on #1220
Thanks @kevin-flaherty. @richteague - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-02-26 18:12] carterenyi commented on #1094
@whedon generate pdf

[2019-02-26 18:12] whedon commented on #1094
[code]

[2019-02-26 18:12] whedon commented on #1094
PDF failed to compile for issue #1094 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    248      0 --:--:-- --:--:-- --:--:--   250
Error reading bib

[2019-02-26 18:14] whedon commented on #1094
[code]

[2019-02-26 18:24] carterenyi commented on #1094
@whedon generate pdf

[2019-02-26 18:24] whedon commented on #1094
[code]

[2019-02-26 18:24] whedon commented on #1094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01094/joss.01094/10.21105.joss.01094.pdf)

[2019-02-26 18:45] aviks commented on #1013
Everything looks good apart from a couple of documentation nits that I've raised on the repo.

[2019-02-26 18:58] carterenyi commented on #1094
@whedon check references

[2019-02-26 18:58] whedon commented on #1094
[code]

[2019-02-26 18:58] whedon commented on #1094
[code]

[2019-02-26 18:59] carterenyi commented on #1094
@whedon generate pdf

[2019-02-26 18:59] whedon commented on #1094
[code]

[2019-02-26 18:59] whedon commented on #1094
PDF failed to compile for issue #1094 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Aaron Carter-Ényì, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:57:in `e

[2019-02-26 19:01] carterenyi commented on #1094
@whedon generate pdf

[2019-02-26 19:01] kyleniemeyer commented on #1173
@vijaysm feel free to continue the discussion here; you can submit a list of suggestions as a single comment and we can go from there.

Regarding the official release, I'm fine if @pankajkmishra waits until after making any changes as part of this review process, and then makes an official release associated with the version accepted here.

[2019-02-26 19:01] whedon commented on #1094
[code]

[2019-02-26 19:02] whedon commented on #1094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01094/joss.01094/10.21105.joss.01094.pdf)

[2019-02-26 19:08] carterenyi commented on #1094
@Kevin-Mattheus-Moerman, @ybayle, I've redeployed the software with MATLAB 2018b on Windows 10 and tested it. I've also added functionality testing instructions in the readme, generated documentation with m2html and updated information about windows only release in the paper and pdf. I did a v1.0 release on GitHub, but not sure if I did that right.

[2019-02-26 19:13] adrena-lab commented on #1241
Thank you Daniel,  I will make these changes

[2019-02-26 19:14] richteague commented on #1220
Thanks @kevin-flaherty for the review!

@arfon - here's the DOI: 10.5281/zenodo.2578211

[2019-02-26 20:56] tleonardi commented on #1228
@whedon generate pdf from branch paper

[2019-02-26 20:57] whedon commented on #1228
[code]

[2019-02-26 20:57] whedon commented on #1228
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01228/joss.01228/10.21105.joss.01228.pdf)

[2019-02-26 20:58] tleonardi commented on #1228
@whedon generate pdf from branch paper

[2019-02-26 20:58] whedon commented on #1228
[code]

[2019-02-26 20:59] whedon commented on #1228
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01228/joss.01228/10.21105.joss.01228.pdf)

[2019-02-26 21:01] tleonardi commented on #1228
Ok, this last one is the version incorporating all the changes suggested by @Benjamin-Lee.
@brainstorm, is there anything else required on my side? I'm ready to make a new release with the last batch of changes.

[2019-02-26 21:37] arfon commented on #1220
@whedon set 10.5281/zenodo.2578211 as archive

[2019-02-26 21:37] whedon commented on #1220
OK. <a href="https://doi.org/10.5281/zenodo.2578211" target="_blank">10.5281/zenodo.2578211</a> is the archive.

[2019-02-26 21:37] arfon commented on #1220
@whedon accept

[2019-02-26 21:38] whedon commented on #1220
[code]

[2019-02-26 21:38] whedon commented on #1220
[code]

[2019-02-26 21:38] whedon commented on #1220
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/523

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/523, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-26 21:39] arfon commented on #1220
@whedon accept deposit=true

[2019-02-26 21:39] whedon commented on #1220
[code]

[2019-02-26 21:40] whedon commented on #1220
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/524
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01220](https://doi.org/10.21105/joss.01220)
2. If everything looks go

[2019-02-26 21:48] arfon commented on #1220
@kevin-flaherty - many thanks for your review here ✨

@richteague - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-26 21:48] #1220 closed

[2019-02-26 21:48] whedon commented on #1220
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01220/status.svg)](https://doi.org/10.21105/joss.01220)

**We need your help!**

Journal of Open Source Softwar

[2019-02-26 21:53] hbodory commented on #1194
I have uploaded the package source in the folder causalweight_0.1.2.tar.gz on [GitHub_causalweight](https://github.com/hbodory/causalweight).

[2019-02-26 22:08] a-slide commented on #1236
Dear all,

Sorry for the late reply and many thanks for accepting our paper.

@george-githinji, We would like to thank you for your time and for the fair review.
Regarding your remark on raw data, although it is not documented all the pycoQC functions actually returns the plots in JSON format. If you don't plot it with plotly iplot function the raw data can easily be extracted from the object retu

[2019-02-26 22:53] alexhanna commented on #1211
For sure. Let me know what the next steps are.

On Mon, Feb 25, 2019 at 2:29 PM Philip Waggoner <notifications@github.com>
wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2019-02-26 22:54] gnarayan commented on #1247
Had issues with the installation that it took STScI IT to help resolve, so got stuck at that point on checklist above. That's been worked through, and I've made notes on the draft, so will send something out either late tonight or tomorrow. I will say that I am at Berekely and got to meet with @stefanv and see the system being demoed, and that has been valuable.

[2019-02-26 23:25] danehkar commented on #898
@mgalloy Thank you for the correction. I added it to `test_mgunit` directory.

[2019-02-26 23:34] mgalloy commented on #898
OK, assuming you tag a version after you have addressed any problems from the other reviewers, my review is complete.

[2019-02-26 23:39] rljacobson commented on #1204
@cMadan @mfroeling I am nearly done my review. I have opened the following issues:

1. Issue [#10](https://github.com/mfroeling/QMRITools/issues/10) is a bug preventing the registration functionality from working. I also couldn't test the code depending on the output of those functions in `demo.nb`.
2. Issue [#11](https://github.com/mfroeling/QMRITools/issues/11) is a minor bug with an easy fix.
3

[2019-02-27 00:05] lheagy commented on #808
:wave: Hi @leouieda, @hugoledoux: would either of you be willing to do a final pass here?

[2019-02-27 00:05] behollister commented on #1185
I have completed my review. See checklist.
@katyhuff, @trallard, and @codeling, please let me know if you have any questions or concerns.

[2019-02-27 00:08] lheagy commented on #990
👋 @laempy: could you please make a new release, archive the software on [zenodo](http://zenodo.org) or similar and post the doi here?

[2019-02-27 00:12] danielskatz commented on #1241
Thanks - once you do, we can move to finding an editor

[2019-02-27 01:21] leouieda commented on #1271
:wave: Hi @ChrisRackauckas @Aguang @matbesancon @r-barnes @nhejazi @dmbates would any of you be interested in reviewing this submission for JOSS?

[2019-02-27 02:08] pankajkmishra commented on #1173
Thanks @vijaysm! I'll look forward to your suggestions. @kyleniemeyer - That would be convenient! Thanks.

[2019-02-27 02:26] brainstorm commented on #1228
Looks good to me, feel free to do that release, pack it and return with a zenodo doi for archival.

[2019-02-27 07:40] laempy commented on #990
@lheagy and @kbevers thanks a lot! I am going to take a look at the DOIs and I will create a new release as soon as possible.

[2019-02-27 09:21] matbesancon commented on #1271
Yes I can review this submission

[2019-02-27 10:01] tleonardi commented on #1228
Ok, I've just release v0.2.2.
DOI: [10.5281/zenodo.2578820](https://doi.org/10.5281/zenodo.2578820)
thanks!

[2019-02-27 11:24] brainstorm commented on #1228
@whedon set 10.5281/zenodo.2578820 as archive

[2019-02-27 11:24] whedon commented on #1228
OK. <a href="https://doi.org/10.5281/zenodo.2578820" target="_blank">10.5281/zenodo.2578820</a> is the archive.

[2019-02-27 11:33] brainstorm commented on #1228
@whedon accept

[2019-02-27 11:33] whedon commented on #1228
[code]

[2019-02-27 11:33] whedon commented on #1228
PDF failed to compile for issue #1228 with the following error:

 Can't find any papers to compile :-(

[2019-02-27 12:04] arfon commented on #1228
@tleonardi @brainstorm - the paper must be in the `master` branch for us to accept the submission.

[2019-02-27 12:40] tleonardi commented on #1228
@whedon generate pdf

[2019-02-27 12:40] whedon commented on #1228
[code]

[2019-02-27 12:41] whedon commented on #1228
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01228/joss.01228/10.21105.joss.01228.pdf)

[2019-02-27 12:46] tleonardi commented on #1228
@arfon thanks for pointing it out, I had missed this!

[2019-02-27 13:03] jdkent commented on #1267
Thanks @arokem!
Here are a few (in no particular order):
mnarayan
snastase
effigies

[2019-02-27 13:03] whedon commented on #1228
[code]

[2019-02-27 13:13] eendebakpt commented on #1097
@whedon set 2.6.3 as version

[2019-02-27 13:13] whedon commented on #1097
I'm sorry @eendebakpt, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-02-27 13:14] eendebakpt commented on #1097
@danielskatz To create a zenodo archive I updated the version number of the package, it is now 2.6.3

The DOI of the archive is 10.5281/zenodo.2579025

[2019-02-27 13:16] evan-l-munson commented on #764
@arfon, I released the 0.2.0 version to zenodo this morning and have updated the DOI badge.  Is there anything else you need?  Thanks!

[2019-02-27 13:24] ChrisRackauckas commented on #1271
I won't be able to review until sometime in April.

[2019-02-27 13:56] danielskatz commented on #1280
@whedon assign @danielskatz as editor

[2019-02-27 13:56] whedon commented on #1280
OK, the editor is @danielskatz

[2019-02-27 13:57] danielskatz commented on #1280
@whedon assign @danielskatz as reviewer

[2019-02-27 13:57] whedon commented on #1280
OK, the reviewer is @danielskatz

[2019-02-27 13:57] danielskatz commented on #1280
@whedon start review

[2019-02-27 13:57] whedon opened #1281 "[REVIEW]: tacmagic: PET Analysis in R"
**Submitting author:** @eebrown (<a href="http://orcid.org/0000-0002-1575-2606">Eric E. Brown</a>)
**Repository:** <a href="https://github.com/ropensci/tacmagic" target ="_blank">https://github.com/ropensci/tacmagic</a>
**Version:** v0.2.0
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.2577947" target="_blank">10.5281/zenodo.2577947</a>

##

[2019-02-27 13:57] whedon commented on #1280
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1281. Feel free to close this issue now!

[2019-02-27 13:57] whedon commented on #1281
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-02-27 13:57] whedon commented on #1281
[code]

[2019-02-27 13:57] #1280 closed

[2019-02-27 13:58] whedon commented on #1281
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01281/joss.01281/10.21105.joss.01281.pdf)

[2019-02-27 13:58] danielskatz commented on #1281
This submission has been accepted to rOpenSci. The review thread can be found at [ropensci/software-review#280](https://github.com/ropensci/software-review/issues/280)

[2019-02-27 14:02] danielskatz commented on #1281
@whedon check references

[2019-02-27 14:02] whedon commented on #1281
[code]

[2019-02-27 14:02] whedon commented on #1281
[code]

[2019-02-27 14:07] danielskatz commented on #1281
@whedon set 10.5281/zenodo.2577947 as archive

[2019-02-27 14:07] whedon commented on #1281
OK. <a href="https://doi.org/10.5281/zenodo.2577947" target="_blank">10.5281/zenodo.2577947</a> is the archive.

[2019-02-27 14:07] danielskatz commented on #1281
@whedon accept

[2019-02-27 14:07] whedon commented on #1281
[code]

[2019-02-27 14:07] whedon commented on #1281
[code]

[2019-02-27 14:08] whedon commented on #1281
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/525

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/525, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-27 14:10] danielskatz commented on #1281
@whedon accept deposit=true