[2022-01-29 00:15] whedon commented on #3337
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03337/status.svg)](https://doi.org/10.21105/joss.03337)

**We need your help!**

Journal of Open Source Softwa

[2022-01-29 00:18] arfon commented on #4086
@whedon invite @pdebuyl as editor

:wave: @pdebuyl – would you be willing to edit this submission for JOSS?

[2022-01-29 00:18] whedon commented on #4086
@pdebuyl has been invited to edit this submission.

[2022-01-29 00:22] arfon commented on #3658
@whedon accept deposit=true from branch pycsep_joss

[2022-01-29 00:22] whedon commented on #3658
[code]

[2022-01-29 00:23] whedon commented on #3658
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1487219792931139587) 👈 🐦🐦🐦

[2022-01-29 00:23] whedon commented on #3658
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2913
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03658](https://doi.org/10.21105/joss.03658)
2. If everything look

[2022-01-29 00:27] arfon commented on #3658
@nvanderelst, @mbarall – many thanks for your reviews here and to @kbarnhart for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@wsavran – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-29 00:27] #3658 closed

[2022-01-29 00:27] whedon commented on #3658
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03658/status.svg)](https://doi.org/10.21105/joss.03658)

**We need your help!**

Journal of Open Source Softwa

[2022-01-29 00:36] arfon commented on #3125
Hi all, just checking in on this review. It has been close to 5 months since the last update here.

@adi3, @breezykermo – could you give an update on your status here and ability to complete your reviews?

[2022-01-29 00:36] arfon commented on #3125
@whedon assign me as editor

[2022-01-29 00:36] arfon commented on #3125
Also, I'm going to take this submission on on behalf of @poulson.

[2022-01-29 00:40] arfon commented on #3722
@whedon recommend-accept from branch joss-paper

[2022-01-29 00:40] whedon commented on #3722
[code]

[2022-01-29 00:40] whedon commented on #3722
[code]

[2022-01-29 00:41] whedon commented on #3722
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2914

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2914, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-29 00:43] arfon commented on #3722
@whedon accept deposit=true from branch joss-paper

[2022-01-29 00:43] whedon commented on #3722
[code]

[2022-01-29 00:44] whedon commented on #3722
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1487225225372741635) 👈 🐦🐦🐦

[2022-01-29 00:45] whedon commented on #3722
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2915
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03722](https://doi.org/10.21105/joss.03722)
2. If everything look

[2022-01-29 00:49] arfon commented on #3738
@whedon accept deposit=true

[2022-01-29 00:49] whedon commented on #3738
[code]

[2022-01-29 00:49] arfon commented on #3722
@friedue, @bebatut – many thanks for your reviews here and to @lpantano for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@chrisamiller – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-29 00:49] #3722 closed

[2022-01-29 00:49] whedon commented on #3722
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03722/status.svg)](https://doi.org/10.21105/joss.03722)

**We need your help!**

Journal of Open Source Softwa

[2022-01-29 00:50] whedon commented on #3738
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1487226587309391875) 👈 🐦🐦🐦

[2022-01-29 00:50] whedon commented on #3738
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2916
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03738](https://doi.org/10.21105/joss.03738)
2. If everything look

[2022-01-29 00:51] arfon commented on #3820
@whedon accept deposit=true

[2022-01-29 00:51] whedon commented on #3820
[code]

[2022-01-29 00:53] whedon commented on #3820
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1487227257135538178) 👈 🐦🐦🐦

[2022-01-29 00:53] whedon commented on #3820
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2917
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03820](https://doi.org/10.21105/joss.03820)
2. If everything look

[2022-01-29 00:54] arfon commented on #3738
@MichaelHoltonPrice , @steko – many thanks for your reviews here and to @Nikoleta-v3 for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@JasonGellis – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-29 00:54] #3738 closed

[2022-01-29 00:54] whedon commented on #3738
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03738/status.svg)](https://doi.org/10.21105/joss.03738)

**We need your help!**

Journal of Open Source Softwa

[2022-01-29 00:56] arfon commented on #3941
@whedon accept deposit=true

[2022-01-29 00:56] whedon commented on #3941
[code]

[2022-01-29 00:56] arfon commented on #3820
@nanhung, @ibarraespinosa – many thanks for your reviews here and to @dhhagan for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jonsampedro – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-29 00:56] #3820 closed

[2022-01-29 00:56] whedon commented on #3820
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03820/status.svg)](https://doi.org/10.21105/joss.03820)

**We need your help!**

Journal of Open Source Softwa

[2022-01-29 00:57] whedon commented on #3941
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1487228357972475904) 👈 🐦🐦🐦

[2022-01-29 00:57] whedon commented on #3941
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2918
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03941](https://doi.org/10.21105/joss.03941)
2. If everything look

[2022-01-29 00:58] arfon commented on #3992
@whedon accept deposit=true

[2022-01-29 00:59] whedon commented on #3992
[code]

[2022-01-29 01:00] whedon commented on #3992
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1487229082983092226) 👈 🐦🐦🐦

[2022-01-29 01:00] whedon commented on #3992
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2919
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03992](https://doi.org/10.21105/joss.03992)
2. If everything look

[2022-01-29 01:00] arfon commented on #4096
Got it. Thanks @kno10. FYI JOSS editors, this is the `cloc` output for the [https://github.com/kno10/rust-kmedoids](https://github.com/kno10/rust-kmedoids) repo.

[code]

[2022-01-29 01:10] arfon commented on #3992
@sambitdash, @dionhaefner – many thanks for your reviews here and to @rkurchin for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@justinshenk – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-29 01:10] #3992 closed

[2022-01-29 01:10] whedon commented on #3992
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03992/status.svg)](https://doi.org/10.21105/joss.03992)

**We need your help!**

Journal of Open Source Softwa

[2022-01-29 01:11] arfon commented on #3941
@k3yavi, @holtgrewe – many thanks for your reviews here and to @mikldk for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@mbhall88 – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-29 01:11] #3941 closed

[2022-01-29 01:11] whedon commented on #3941
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03941/status.svg)](https://doi.org/10.21105/joss.03941)

**We need your help!**

Journal of Open Source Softwa

[2022-01-29 01:14] arfon commented on #3994
@whedon accept deposit=true

[2022-01-29 01:14] whedon commented on #3994
[code]

[2022-01-29 01:15] ixjlyons commented on #4026
Hi @prashjha, apologies for the delay.

We are working on updates to the paper per your suggestions.

In the meantime, here are some reviewers that look like they might be interested in reviewing this submission:

- aliaksei135
- athulpg007
- cknoll
- crbinz
- Juanlu001
- helgee
- ngoiz

(I haven't @'d them in case you want to downselect first)

Also, I saw a few others in the list that might be a

[2022-01-29 01:16] whedon commented on #3994
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1487233033723916291) 👈 🐦🐦🐦

[2022-01-29 01:16] whedon commented on #3994
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2920
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03994](https://doi.org/10.21105/joss.03994)
2. If everything look

[2022-01-29 01:21] arfon commented on #3994
@henrykironde, @tuelwer – many thanks for your reviews here and to @sbenthall for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@akaptano  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-29 01:21] #3994 closed

[2022-01-29 01:21] whedon commented on #3994
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03994/status.svg)](https://doi.org/10.21105/joss.03994)

**We need your help!**

Journal of Open Source Softwa

[2022-01-29 01:23] arfon commented on #4048
@whedon invite @lpantano as editor

:wave: @lpantano – would you be able to edit this submission for JOSS?

[2022-01-29 01:23] whedon commented on #4048
@lpantano has been invited to edit this submission.

[2022-01-29 01:26] arfon commented on #4092
@paxtonfitzpatrick – many thanks for your submission to JOSS. After review by the JOSS editorial team, this submission has been deemed to be out of scope for JOSS. While we recognise that this is useful software that has some relevance to research, we don't believe it meets [our definition of research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software

[2022-01-29 01:26] arfon commented on #4092
@whedon reject

[2022-01-29 01:26] whedon commented on #4092
Paper rejected.

[2022-01-29 01:26] #4092 closed

[2022-01-29 01:28] jessie-dotson commented on #3496
Suggested edits to JOSS paper in https://github.com/Natsiopoulos/ARDL/issues/7#issue-1117989915

[2022-01-29 01:29] arfon commented on #4094
@whedon invite @jni as editor

:wave: @jni – would you be able to edit this submission for JOSS?

[2022-01-29 01:29] whedon commented on #4094
@jni has been invited to edit this submission.

[2022-01-29 01:30] arfon commented on #4096
@whedon invite @mikldk as editor

:wave: @mikldk – would you be willing to edit this submission for JOSS?

[2022-01-29 01:31] whedon commented on #4096
@mikldk has been invited to edit this submission.

[2022-01-29 02:35] taless474 commented on #4101
Thank you @danielskatz
@justusschock I think they can go with "Independent Researcher" as shown above

[2022-01-29 03:09] junghans commented on #4109
/CC @XzzX @atmyers

[2022-01-29 03:42] OHildreth opened #4111 "[PRE REVIEW]: SwiftVISA: Controlling Instrumentation with a Swift-based Implementation of the VISA Communication Protocol #4068"
STOP STOP STOP STOP STOP
STOP STOP STOP STOP STOP
👇 ================================== 👇

Issues in this repository are automatically generated by the journal submission system. DO NOT FILE ISSUES HERE.

If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

☝ ================================== ☝

THANKS FOR NOT OPENING AN ISS

[2022-01-29 03:42] whedon commented on #4111
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-29 03:42] whedon commented on #4111
PDF failed to compile for issue #4111 with the following error:
[code]

[2022-01-29 05:03] whedon commented on #4070
:wave: @rbeucher, please update us on how your review is going (this is an automated reminder).

[2022-01-29 12:41] nmoran commented on #3711
We have also moved all the packages to stable release v1.0.0. Wondering if there is anything else left to address to complete the review process?

[2022-01-29 13:06] MKoesters commented on #3990
Hi,

I'm very sorry, I started this in December and forgot about it due to an extremely busy January.
I'll do the rest of the review now, although all the formal requirements are met imo.

I did not check the box for the community guidelines, since they are not linked properly in the README or documentation.

Best,
Manuel

[2022-01-29 14:14] goerz commented on #3711
Looks good to me

[2022-01-29 14:15] bramvandijk88 commented on #3948
Done. The archived Zenodo DOI is 10.5281/zenodo.5918404

[2022-01-29 14:20] lpantano commented on #4048
@whedon assign me as editor

[2022-01-29 14:20] whedon commented on #4048
OK, the editor is @lpantano

[2022-01-29 14:21] jGaboardi commented on #4021
@whedon generate pdf

[2022-01-29 14:21] whedon commented on #4021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: :point_left:

[2022-01-29 14:38] jGaboardi commented on #4021
@whedon generate pdf

[2022-01-29 14:39] whedon commented on #4021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: :point_left:

[2022-01-29 16:14] MiftariB commented on #4110
@whedon generate pdf

[2022-01-29 16:15] whedon commented on #4110
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04110/joss.04110/10.21105.joss.04110.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04110/joss.04110/10.21105.joss.04110.pdf) :page_facing_up: :point_left:

[2022-01-29 16:24] arfon commented on #4087
@whedon invite @Bisaloo as editor

:wave: @Bisaloo – would you be able to edit this submission for JOSS?

[2022-01-29 16:24] whedon commented on #4087
@Bisaloo has been invited to edit this submission.

[2022-01-29 16:26] arfon commented on #4042
@whedon invite @rkurchin as editor

:wave: @rkurchin – would you be able to edit this submission for JOSS?

[2022-01-29 16:26] whedon commented on #4042
@rkurchin has been invited to edit this submission.

[2022-01-29 16:36] jGaboardi commented on #4021
@martinfleis

I have completed my second pass. Once ni1o1/transbigdata#17 & ni1o1/transbigdata#18 are merged and ni1o1/transbigdata#14 is addressed, I believe all my comments will be resolved. That still leaves ni1o1/transbigdata#11 and ni1o1/transbigdata#12 that @anitagraser raised and anything else she may find.

@ni1o1, nice job responding to and addressing my concerns. Great work. Also, nice l

[2022-01-29 17:33] jonsampedro commented on #3820
Everything looks OK to me. Thanks all for your valuable comments and the support during the process!

[2022-01-30 01:26] jGaboardi commented on #4021
@whedon generate pdf

[2022-01-30 01:27] whedon commented on #4021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: :point_left:

[2022-01-30 04:54] mcsiple commented on #3888
Alright! I believe I am done making revisions. A few notes:

## Author list in CITATION.cff and on Zenodo
I was able to properly update the `.zenodo.json` file so that it automatically updates the [Zenodo entry](https://zenodo.org/record/5919455#.YfYZzVjMI-Q) when I make a new release on GitHub. [Release v0.1.6](https://github.com/mcsiple/mmrefpoints/releases/tag/v.0.1.6) has all the changes incor

[2022-01-30 07:46] erik-whiting commented on #4061
I opened two issues for the general checks and paper review. I have not had time to start the other reviews, but it's on my agenda, I promise 👍

[2022-01-30 11:30] devosmitachatterjee2018 commented on #3680
@arfon @hakanfriden

I wish you both a safe and happy year 2022.

I received feedback from Hakan on December 15, 2021. I am working on the reviewer's comments and will update the software repository by middle of February, 2022.

[2022-01-30 12:50] jonjoncardoso commented on #4074
This is a great package, the installation and example worked and it is a useful dashboard to explore data visually.

The only thing I felt lacking was a CONTRIBUTING.md so as to adhere to the journal's checklist: _Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support_

Other than th

[2022-01-30 15:06] arfon commented on #4097
@whedon invite @osorensen as editor

:wave: @osorensen – I realize this submission is not really in your area but would you be willing to edit this submission for us?

[2022-01-30 15:06] whedon commented on #4097
@osorensen has been invited to edit this submission.

[2022-01-30 15:07] arfon commented on #4102
@whedon invite @terrytangyuan as editor

:wave: @terrytangyuan – would you be willing to edit this submission for JOSS?

[2022-01-30 15:07] whedon commented on #4102
@terrytangyuan has been invited to edit this submission.

[2022-01-30 15:09] arfon commented on #4106
:wave: @Kevin-Mattheus-Moerman @prashjha – I know you both have pretty full (editorial) plates right now. Are there any other JOSS editors you think could be a good fit here?

[2022-01-30 15:10] arfon commented on #4107
@whedon invite @dfm as editor

:wave: @dfm – this looks like it should be up your street. Would you be willing to edit this for us?

[2022-01-30 15:10] whedon commented on #4107
@dfm has been invited to edit this submission.

[2022-01-30 15:13] arfon commented on #4108
@jonathanHuwP – thanks for your submission to JOSS. The author affiliation strings need to be comma-separated (while being quoted, e.g.:

[code]

Could you fix up your paper and ask @whedon to recompile with `@whedon generate pdf from branch joss-submission`

[2022-01-30 15:18] arfon commented on #4108
Also, adding the `waitlist` label here as we don't currently have capacity with the right editors to handle this submission right now. @jonathanHuwP I would expect a 2-3 week delay before an editor is assigned.

[2022-01-30 15:20] arfon commented on #4109
@whedon invite @diehlpk as editor

:wave: @diehlpk – would you be willing to edit this submission for JOSS?

[2022-01-30 15:20] whedon commented on #4109
@diehlpk has been invited to edit this submission.

[2022-01-30 15:21] arfon commented on #4110
@whedon invite @fraukewiese as editor

:wave: @fraukewiese – would you be willing to edit this submission for JOSS?

[2022-01-30 15:21] whedon commented on #4110
@fraukewiese has been invited to edit this submission.

[2022-01-30 15:22] arfon commented on #4110
@MiftariB - could you please remove the `https://doi.org/` prefixes from your BibTeX file? For example, `https://doi.org/10.3389/fenrg.2021.671279` should be `fenrg.2021.671279`

[2022-01-30 15:23] terrytangyuan commented on #4102
Yes

[2022-01-30 15:23] whedon opened #4112 "[PRE REVIEW]: NGSTrefftz: Add-on to NGSolve for Trefftz methods"
**Submitting author:** @PaulSt (<a href="http://orcid.org/0000-0001-5073-3366">Paul Stocker</a>)
**Repository:** <a href="https://github.com/PaulSt/NGSTrefftz" target ="_blank">https://github.com/PaulSt/NGSTrefftz</a>
**Version:** v0.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @mscroggs, @thelfer
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-01-30 15:23] whedon commented on #4112
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-30 15:23] whedon commented on #4112
Wordcount for `paper.md` is 545

[2022-01-30 15:23] whedon commented on #4112
[code]

[2022-01-30 15:23] whedon commented on #4112
[code]

[2022-01-30 15:23] whedon commented on #4112
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04112/joss.04112/10.21105.joss.04112.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04112/joss.04112/10.21105.joss.04112.pdf) :page_facing_up: :point_left:

[2022-01-30 15:25] danielskatz commented on #4102
@whedon assign @terrytangyuan as editor

@terrytangyuan - note that you can do this yourself as well

[2022-01-30 15:25] whedon commented on #4102
OK, the editor is @terrytangyuan

[2022-01-30 15:25] arfon commented on #4112
@whedon invite @Nikoleta-v3 as editor

:wave: @Nikoleta-v3 – would you be willing to edit this submission for JOSS?

[2022-01-30 15:25] whedon commented on #4112
@Nikoleta-v3 has been invited to edit this submission.

[2022-01-30 15:40] dfm commented on #4107
@whedon assign me as editor

Sure - I'm happy to edit.

@Moyoxkit — give me a few days for an initial review and then I'll start recruiting reviewers. I'll keep you posted on the progress here, but let me know if you have any questions as the review progresses.

[2022-01-30 15:40] whedon commented on #4107
OK, the editor is @dfm

[2022-01-30 15:43] MiftariB commented on #4110
Might be a mistake on my end but I think I already removed the prefixes yesterday after I asked whedon to regenerate the pdf (I also forgot to put tags which is fixed now) as you can see here : https://gitlab.uliege.be/smart_grids/public/gboml/-/blob/master/paper/references.bib.

Sorry for the inconvenience,

Regards,

MIFTARI B

[2022-01-30 15:56] danielskatz commented on #4110
@whedon check references

[2022-01-30 15:56] whedon commented on #4110
[code]

[2022-01-30 15:56] danielskatz commented on #4110
@MiftariB - yes, looks good, thanks

[2022-01-30 16:49] osorensen commented on #4097
@whedon assign @osorensen as editor

[2022-01-30 16:49] whedon commented on #4097
OK, the editor is @osorensen

[2022-01-30 16:51] crvernon commented on #3824
@whedon check references from branch joss

[2022-01-30 16:51] whedon commented on #3824
[code]

[2022-01-30 16:51] whedon commented on #3824
[code]

[2022-01-30 17:08] dfm commented on #4084
@whedon add @canyon289 as reviewer

Thanks for agreeing to review, Ravin!

[2022-01-30 17:08] whedon commented on #4084
OK, @canyon289 is now a reviewer

[2022-01-30 17:10] dfm commented on #4084
@whedon add @ColCarroll as reviewer

Thanks also to Colin!

[2022-01-30 17:10] whedon commented on #4084
OK, @ColCarroll is now a reviewer

[2022-01-30 17:11] canyon289 commented on #4084
Hello all, thrilled to be a reviewer and learn more about your work!

[2022-01-30 17:11] dfm commented on #4084
@whedon start review

@ColCarroll, @canyon289, @jeremiecoullon — The bot will now get the main review thread started in a new issue so I'll see you all over there!

[2022-01-30 17:11] whedon opened #4113 "[REVIEW]: SGMCMCJax: a lightweight JAX library for stochastic gradient Markov chain Monte Carlo algorithms"
**Submitting author:** @jeremiecoullon (<a href="http://orcid.org/0000-0002-7032-3425">Jeremie Coullon</a>)
**Repository:** https://github.com/jeremiecoullon/SGMCMCJax
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.12
**Editor:** @dfm
**Reviewers:** @canyon289, @ColCarroll
**Archive:** 10.5281/zenodo.6460681

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2022-01-30 17:11] whedon commented on #4084
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4113.

[2022-01-30 17:11] #4084 closed

[2022-01-30 17:11] whedon commented on #4113
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @canyon289, @ColCarroll it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2022-01-30 17:12] whedon commented on #4113
Wordcount for `paper.md` is 704

[2022-01-30 17:12] whedon commented on #4113
[code]

[2022-01-30 17:12] whedon commented on #4113
[code]

[2022-01-30 17:12] whedon commented on #4113
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04113/joss.04113/10.21105.joss.04113.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04113/joss.04113/10.21105.joss.04113.pdf) :page_facing_up: :point_left:

[2022-01-30 17:12] dfm commented on #4113
@ColCarroll, @canyon289, @jeremiecoullon — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submissi

[2022-01-30 18:53] osorensen commented on #4074
Thanks for your reviews @jonjoncardoso and @wiljnich.

@rhenkin, please consider the point raised by @jonjoncardoso in his review, and let us now when it has been addressed.

[2022-01-30 19:09] justinshenk commented on #3992
Thank you for all your guidance for this paper 🙏

[2022-01-30 19:11] osorensen commented on #4097
:wave: @melund & @abhishektha, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-30 20:45] fboehm commented on #3888
@mcsiple - Thanks for your message and the updates. @ha0ye and @tbrown122387 can now review the changes.

[2022-01-30 23:56] tbrown122387 commented on #3888
looks good @fboehm nice job @mcsiple

[2022-01-31 02:25] arfon commented on #3680
@devosmitachatterjee2018 – we still need to find a second reviewer here. Did you make any progress identifying possible candidates?

[2022-01-31 04:00] Viech commented on #3915
[picos#317](https://gitlab.com/picos-api/picos/-/issues/317) is resolved on `master`/`2.3.13`.

[2022-01-31 04:49] darothen commented on #3219
Sorry for the delay folks; between job change + holidays + AMS it took far longer than I had hoped to check in here.

I reviewed all of the changes and the discourse from the past few months. I think all of my comments/recommendations have either been directly addressed or addressed in the spirit of the substantial improvements and additions made to the library since the first version I reviewed l

[2022-01-31 05:21] melund commented on #4097
@osorensen Sorry I am too busy at the moment to take this on. Hope you can find someone else.

[2022-01-31 07:05] osorensen commented on #4097
That's fine @melund, thanks for your quick response!

[2022-01-31 07:06] osorensen commented on #4097
@moorepants would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-31 07:20] csoneson commented on #4069
👋🏻 @Sulstice - sorry for the delayed response. As you can see above a scope query has been initialized, which will allow the broader editorial team to take a look and comment on whether this submission is in scope for JOSS or not in its current form. We will get back to you shortly on this.

[2022-01-31 07:56] mikldk commented on #4096
@whedon assign me as editor

[2022-01-31 07:56] whedon commented on #4096
OK, the editor is @mikldk

[2022-01-31 07:56] mikldk commented on #4096
@kno10 - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers) - please do not tag (`@`) anyone yet?

[2022-01-31 08:52] pdebuyl commented on #4086
@whedon assign me as editor

[2022-01-31 08:52] whedon commented on #4086
OK, the editor is @pdebuyl

[2022-01-31 08:53] pdebuyl commented on #4077
@JamieBamber @cescalara gentle reminder for the review. Also, don't hesitate to ask if there is any issue with installation.

[2022-01-31 08:54] pdebuyl commented on #3337
Thanks @arfon for finalizing this!

[2022-01-31 09:11] bkmi commented on #4086
Thanks for editing @pdebuyl!

[2022-01-31 09:19] fraukewiese commented on #3861
Thanks a lot for the review @shamsiharis

[2022-01-31 09:24] whedon commented on #3574
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03574/joss.03574/10.21105.joss.03574.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03574/joss.03574/10.21105.joss.03574.pdf) :page_facing_up: :point_left:

[2022-01-31 09:26] fraukewiese commented on #3574
@whedon check references

[2022-01-31 09:27] whedon commented on #3574
[code]

[2022-01-31 09:31] rhenkin commented on #4074
Thanks for the feedback!
@wiljnich I have updated the README.md, having fixed the links to the documentation guides while also changing a bit how it's structured (added a getting started section).
@jonjoncardoso I added a CONTRIBUTING.md file and I also linked to do it in the README.md file.
@osorensen I addressed the main issue and @wiljnich's comment, all changes are in the main repo (not the pa

[2022-01-31 09:32] fraukewiese commented on #3574
@noah80  Just a minor comment on the article: In the section Examples for previous usage, could you remove the brackets of the references since it is directly integrated in the sentence. Thus: "Harder et al. (2020) analyzed operating flexibility in electricity grids." instead of (Harder et al., 2020) analyzed operating flexibility in electricity grids.

[2022-01-31 09:35] fraukewiese commented on #3574
@noah80
Then, could you

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.

- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)

- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure

[2022-01-31 09:39] Bisaloo commented on #4087
:wave: :wave: @arfon @magedhelmy1, yes, I can edit this submission

[2022-01-31 09:39] Bisaloo commented on #4087
@whedon assign me as editor

[2022-01-31 09:39] whedon commented on #4087
OK, the editor is @Bisaloo

[2022-01-31 09:42] meg-simula commented on #4012
Thanks @martejulie and @cgurrr for the updates! We are now waiting for an update from @blbentley to proceed.

[2022-01-31 09:43] fraukewiese commented on #4110
Yes I can edit this paper.

@whedon assign me as editor

[2022-01-31 09:50] fraukewiese commented on #4110
@whedon assign me as editor

[2022-01-31 09:50] whedon commented on #4110
OK, the editor is @fraukewiese

[2022-01-31 09:53] fraukewiese commented on #4110
@simnh, @nworbmot, @abhishek0208
– would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [GBOML: Graph-Based Optimization Modeling

[2022-01-31 10:02] Bisaloo commented on #4087
Hi @magedhelmy1 :wave:, I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers, please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharin

[2022-01-31 10:24] martinfleis commented on #3761
Hi @marina-haliem,

Now that you have both reviews of the first round, please let us know how you plan to respond to the comments raised by reviewers and what is the expected timeline for that. Thanks!

Thanks @RafalKucharskiPK for your comments!

[2022-01-31 10:32] inpefess commented on #4101
@whedon generate pdf

[2022-01-31 10:33] whedon commented on #4101
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04101/joss.04101/10.21105.joss.04101.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04101/joss.04101/10.21105.joss.04101.pdf) :page_facing_up: :point_left:

[2022-01-31 10:50] McWhity commented on #3337
@arthur-e and @danclewley: Thank you very much for your reviews. It helped a lot to improve the python package.
@pdebuyl and @arfon: Thanks for editing and finalizing the paper. Keep up with good work!

[2022-01-31 10:56] oliviaguest commented on #3701
@whedon add @ekinney-lang as reviewer

[2022-01-31 10:56] whedon commented on #3701
OK, @ekinney-lang is now a reviewer

[2022-01-31 10:57] oliviaguest commented on #3701
@whedon start review

[2022-01-31 10:57] whedon opened #4114 "[REVIEW]: Tagging Latency Estimator: A Standalone Software for Estimating Latency of Event-Related Potentials in P300-based Brain-Computer Interfaces"
**Submitting author:** @gcattan (<a href="http://orcid.org/0000-0002-7515-0690">Grégoire CATTAN</a>)
**Repository:** https://gitlab.com/programgreg/tagginglatencyestimator
**Branch with paper.md** (empty if default branch):
**Version:** v2-JOSS
**Editor:** @oliviaguest
**Reviewers:** @raybecker, @ekinney-lang
**Archive:** 10.5281/zenodo.7503787

**:warning: JOSS reduced service mode :warning:**

D

[2022-01-31 10:57] whedon commented on #4114
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @raybecker, @ekinney-lang it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2022-01-31 10:57] whedon commented on #4114
Wordcount for `paper.md` is 444

[2022-01-31 10:57] whedon commented on #4114
[code]

[2022-01-31 10:57] whedon commented on #4114
[code]

[2022-01-31 10:57] whedon commented on #4114
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04114/joss.04114/10.21105.joss.04114.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04114/joss.04114/10.21105.joss.04114.pdf) :page_facing_up: :point_left:

[2022-01-31 10:58] oliviaguest commented on #3701
@raybecker, @ekinney-lang please go to #4114 when you are going to review 😊

[2022-01-31 11:03] oliviaguest commented on #3956
@danielskatz thank you!

[2022-01-31 11:13] Nikoleta-v3 commented on #3743
Hey @EgorOrachyov 👋🏻   I hope everything is well with you!

The submission has been still for a while now. I was wondering if you had an update for us?

[2022-01-31 11:20] wkearn commented on #3766
Since you all are fine with the examples in the documentation, then everything looks good from my end.

[2022-01-31 11:36] oliviaguest commented on #4114
👋 @raybecker, @ekinney-lang: Any code-related questions, feel free to open issues on the package's repo itself and then link to whatever issue you open from here. Everything important about the PDF or the package, like high-level questions to me or @gcattan, discussions and feedback, just leave it here as a comment directly. ✨ 🌷

[2022-01-31 11:43] Nikoleta-v3 commented on #4112
👋 @arfon - I am happy to edit this submission but my C++ is a bit rusty 😅 is this okay?

[2022-01-31 11:47] magedhelmy1 commented on #4087
Hi @arfon, Thanks for assigning a reviewer to this.
Hi @Bisaloo, glad you are on board to be the topic editor for this submission.

I went through the Google sheet and can suggest several names.
Any 2 who are available of the following as you see fit.

sgk98
arn1291
gxlarson
AnthonyOfSeattle
Ykarpate
nnadeau
dirmeier
vyasr
lucaferranti
rabdill
tuelwer
robbisg
erik-whiting

[2022-01-31 13:03] ibarraespinosa commented on #3820
Thanks to you @jonsampedro for such nice work

[2022-01-31 13:04] Sulstice commented on #4069
Got it, let me know if there is anything else I can do as well.

[2022-01-31 13:06] whedon commented on #4071
:wave: @sneakers-the-rat, please update us on how your review is going (this is an automated reminder).

[2022-01-31 13:06] whedon commented on #4071
:wave: @AustinTSchaffer, please update us on how your review is going (this is an automated reminder).

[2022-01-31 13:30] crvernon commented on #3824
@cc-a - we are almost there!  Next is just setting up the archive for your new release.

- We want to make sure the archival has the correct metadata that JOSS requires.  This includes a title that matches the paper title and a correct author list.

So here is what we have left to do:
- [ ] Conduct a GitHub release of the current reviewed version of the software you now have on the branch in which

[2022-01-31 13:39] carstenbauer commented on #3885
Alright, I've finished my review and have completed the checklist in the OP. I think that both the GiNaCDE software as well as the manuscript meets all of the JOSS criteria (in particular after the improvements triggered by @peanutfun's comments). The software has a clear purpose, is well and extensively documented (in particular from a methods point of view) and works as expected (I tested the in

[2022-01-31 14:11] abhishektha commented on #4097
@osorensen Unfortunately I will have to pass as well as I'm quite busy the next two months! Thanks for asking!

[2022-01-31 14:20] AustinTSchaffer commented on #4071
@whedon Please see above comment. I've checked all the boxes that I feel
comfortable checking at this time.

On Mon, Jan 31, 2022, 8:06 AM whedon ***@***.***> wrote:

[2022-01-31 14:20] whedon commented on #4071
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-31 14:35] bmcfee commented on #3934
@sergioburdisso checking in again - can you give us a quick update on progress in response to @hbaniecki 's comments?

[2022-01-31 14:38] rkurchin commented on #4042
@whedon add me as editor

[2022-01-31 14:38] whedon commented on #4042
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-31 14:39] rkurchin commented on #4042
@whedon assign @rkurchin as editor

[2022-01-31 14:39] whedon commented on #4042
OK, the editor is @rkurchin

[2022-01-31 14:51] hechth commented on #4029
Just as quick update - the review is in progress, @rickhelmus already addressed some of my comments, so things are going great! I think it will take a bit more time since I also have to still test some things with different files (which is currently being delayed due to some internal issues). I don't think this will go beyond the 6 weeks usually required for the review.

In case a decision would h

[2022-01-31 15:12] terrytangyuan commented on #4102
👋🏻 Hi @smattr @ritwikagarwal @bzz @reSHARMA, would you be interested in reviewing this submission? Feel free to recommend anyone else that might be interested as well.

[2022-01-31 15:20] rkurchin commented on #3727
Hi again, @roderickmackenzie, does this satisfy your review at this point?

[2022-01-31 15:23] diehlpk commented on #4109
@whedon assign @diehlpk as editor

[2022-01-31 15:23] whedon commented on #4109
OK, the editor is @diehlpk

[2022-01-31 15:24] diehlpk commented on #4109
Hi @arfon I am happy to edit the paper. However, I have to declare that one of the authors and I have contributed code to the same repository a few years ago.

[2022-01-31 15:26] ptmerz commented on #4100
Yes, the changes in the PR look great, thanks! 👍

[2022-01-31 15:27] diehlpk commented on #4109
Hi @XzzX and @atmyers would you be interested in reviewing this paper?

[2022-01-31 15:41] diehlpk commented on #3390
@HaoZeke, @Kevin-Mattheus-Moerman, @likask some of your comments were addressed by @Muhao-Chen. Would you mind having a look?

[2022-01-31 15:55] sergioburdisso commented on #3934
Hi @bmcfee, @hbaniecki @kmichael08 ! First of all, thanks for taking the time to review our paper! I'm having a pretty rough "new year" so far, and couldn't manage to take care of the JOSS issues, but I'll try to do it this weekend, would it be OK if that's the case?

[2022-01-31 16:04] atmyers commented on #4109
@diehlpk Yes, I'd be able to review.

[2022-01-31 16:07] lale1009 commented on #4096
Thanks @mikldk for organizing the review process.

We (@kno10) would suggest the following reviewers based on their primary topics and preferred programming languages. The list is sorted by fitting with our topic:
- timClicks (focus on Rust as a programming language, author of "Rust in Action")
- TahiriNadia (consensus kmedoids tree clustering)
- lmcinnes (hdbscan python package)
- gagolews (bench

[2022-01-31 17:08] XzzX commented on #4109
@diehlpk Yes, I would also review the paper.
Please note, I am a user of this software for about half a year and filed a few issues, but I am by no means a developer.

[2022-01-31 17:25] mithun218 commented on #3885
@carstenbauer  Thank you for your review and valuable suggestions.  I have addressed all the issues you referenced [here](https://github.com/openjournals/joss-reviews/issues/3885#issuecomment-1025749433) . Please check these, and if I have missed anything, please let me know.

[2022-01-31 17:31] diehlpk commented on #4109
@whedon assign @atmyers as reviewer

[2022-01-31 17:33] whedon commented on #4109
OK, @XzzX is now a reviewer

[2022-01-31 17:33] diehlpk commented on #4109
@whedon start review

[2022-01-31 17:33] whedon opened #4115 "[REVIEW]: Cabana: A Performance Portable Library for Particle-Based Simulations"
**Submitting author:** @streeve (<a href="http://orcid.org/0000-0002-4250-9476">Samuel Reeve</a>)
**Repository:** https://github.com/ECP-copa/Cabana
**Branch with paper.md** (empty if default branch): joss
**Version:** 0.5.0
**Editor:** @diehlpk
**Reviewers:** @atmyers, @XzzX
**Archive:** 10.5281/zenodo.6423410

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2022-01-31 17:33] whedon commented on #4109
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4115.

[2022-01-31 17:33] #4109 closed

[2022-01-31 17:33] whedon commented on #4115
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @atmyers, @XzzX it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2022-01-31 17:34] whedon commented on #4115
PDF failed to compile for issue #4115 with the following error:
[code]

[2022-01-31 17:34] whedon commented on #4115
[code]

[2022-01-31 17:59] streeve commented on #4115
@whedon generate pdf from branch joss

[2022-01-31 17:59] whedon commented on #4115
[code]

[2022-01-31 18:00] whedon commented on #4115
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04115/joss.04115/10.21105.joss.04115.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04115/joss.04115/10.21105.joss.04115.pdf) :page_facing_up: :point_left:

[2022-01-31 18:07] dbkeitel commented on #3998
@arfon I'm now happy to sign off on this review. The updated installation instructions work for me again and the paper looks good now.

@TomWagg just one minor bibliography detail, which in most journals the production department would resolve but here I guess falls on you: The GW150914 ref currently looks like this

![image](https://user-images.githubusercontent.com/28396587/151848579-c17793da-a6

[2022-01-31 18:10] kellyrowland commented on #3318
Hi @munkm - just dropping a note here to check in on this when you can. 👋

[2022-01-31 18:28] TomWagg commented on #3998
Wonderful, thanks @dbkeitel. I've fixed the citation (looks like the curly braces weren't quite right so it split LIGO and Virgo at the end).

@whedon generate pdf from branch joss

[2022-01-31 18:29] TomWagg commented on #3998
@whedon generate pdf from branch joss

[2022-01-31 18:29] whedon commented on #3998
[code]

[2022-01-31 18:35] rougier commented on #3974
@tiagoseq

You can check the size locally with command `du -sh NeuralFieldEq.jl` (Linux or OSX). I think size reported by GitHub is only for current files, without the history of commits which can be quite large.

For the progress bar, it's only a suggestion, nothing really important. There is certainly a Julia package to do just that. If it's the case that would be nice and easy to add it.

[2022-01-31 18:43] blakeaw commented on #4042
Hi @rkurchin, sure. I can review it.

[2022-01-31 19:20] bmcfee commented on #3934
Sure, that's fine. Thanks for the update, and I hope your new year smooths out soon!

[2022-01-31 19:57] osorensen commented on #4097
Ok, thanks for responding quickly, @abhishektha

[2022-01-31 20:14] gdetor commented on #3974
@tiagoseq @jarvist
Here are my comments on the Source Code:
1. Many parts of the code are not documented (for instance the functions in script AuxScripts.jl or in SolveStruct.jl). Please document all the functions and variables within the code.
2. Please provide a list with the contributors (on the Github repository as a section in the README file)
3. Please add community guidelines (especially fo

[2022-01-31 21:45] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant how are you getting on? Could you give us an update?

[2022-01-31 22:06] rkurchin commented on #4042
@whedon add @blakeaw as reviewer

[2022-01-31 22:07] whedon commented on #4042
OK, @blakeaw is now a reviewer

[2022-01-31 22:13] ianhinder commented on #2555
I have rerun with the current joss branch (commit c617a10c3975a14ead5a2e82d27a9890c128d4c5), and when I run `./LBMVerificationDriver cylinder0_spacing=0.001` as in the README, I still get `LBM pressure, temperature, wall stress baseline not found` in the last column, even though the file `verification_runs/cylinder0_spacing=0.001/cylinder0_spacing=0.001_lbm_pressure_temperature_wall_stress_baselin

[2022-01-31 22:14] Kevin-Mattheus-Moerman commented on #4035
@chennachaos @JaroslavHron @albansouche @meg-simula @soudah @loumalouomega @philbucher @sbryngelson @RiccardoRossi would you be interested in reviewing this work _"svFSI: A Multiphysics Package for Integrated Cardiac Modeling"_ for [JOSS, the journal of open source software](https://joss.theoj.org)?

JOSS reviews and publishes open source software. The [review process](https://joss.readthedocs.io/

[2022-01-31 22:15] Kevin-Mattheus-Moerman commented on #4035
@CZHU20 thanks for this submission. As you can see I have started to invite potential reviewers. My apologies for the delay in getting this process started.
If at this point you can suggest reviewers please do so. You can mention them here but leave the `@` symbol for now. Thanks.

[2022-01-31 22:17] Kevin-Mattheus-Moerman commented on #3736
@fibreglass2 does this mean the reviewers should pick this up again or should they hold off still?

[2022-01-31 22:18] Kevin-Mattheus-Moerman commented on #3980
@whedon generate pdf

[2022-01-31 22:19] whedon commented on #3980
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03980/joss.03980/10.21105.joss.03980.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03980/joss.03980/10.21105.joss.03980.pdf) :page_facing_up: :point_left:

[2022-01-31 22:19] Kevin-Mattheus-Moerman commented on #3980
@whedon generate pdf from branch JOSS-review

[2022-01-31 22:19] whedon commented on #3980
[code]

[2022-01-31 22:20] whedon commented on #3980
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03980/joss.03980/10.21105.joss.03980.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03980/joss.03980/10.21105.joss.03980.pdf) :page_facing_up: :point_left:

[2022-01-31 22:21] Kevin-Mattheus-Moerman commented on #3980
@PolymerGuy can you address the comments above? :point_up:

[2022-01-31 22:24] fibreglass2 commented on #3736
Please continue the review.

[2022-01-31 22:28] Kevin-Mattheus-Moerman commented on #4085
@jedbrown @PetrKryslUCSD,  @Leticia-maria, @TeroFrondelius, @KristofferC, @rouson, @tjhei, @chrisrichardson, @Kevin-Mattheus-Moerman, @vijaysm, @likask would you be interesting in reviewing this software: "GridapDistributed: a massively parallel finite element toolbox in Julia" for [JOSS](https://joss.theoj.org)?

Short paper: https://github.com/openjournals/joss-papers/blob/joss.04085/joss.04085/

[2022-01-31 22:29] Kevin-Mattheus-Moerman commented on #3736
@timdewhirst, @clarka34, @quynhneo the author has made several updates, could you please resume the review at this point or update us on the process? Thanks a lot again for your continued help!!

[2022-01-31 22:31] Kevin-Mattheus-Moerman commented on #4106
@arfon If this remains waitlisted for too long feel free to assign it to me, I can take it if needed.

[2022-01-31 22:46] Kevin-Mattheus-Moerman commented on #3390
@diehlpk apologies for the delay. I'll get to this within a week hopefully.

[2022-01-31 22:51] sneakers-the-rat commented on #4071
Haven't found time to handle yet, am trying to schedule for this week :)

[2022-01-31 22:59] Leticia-maria commented on #4085
Thank you for calling me. I will review and we can keep in contact😊

[2022-01-31 23:42] eloisabentivegna commented on #2555
Thanks, @ianhinder!

@rclipp, @aaron-bray, could you fix the three remaining issues?

[2022-01-31 23:47] aaron-bray commented on #2555
Yeah, I should be able to address these tomorrow

Will post an update reguardless tomorrow

[2022-02-01 00:00] sbryngelson commented on #4035
I’m not qualified to review this.

On Jan 31, 2022, at 17:14, Kevin Mattheus Moerman ***@***.******@***.***>> wrote:

@chennachaos<https://github.com/chennachaos> @JaroslavHron<https://github.com/JaroslavHron> @albansouche<https://github.com/albansouche> @meg-simula<https://github.com/meg-simula> @soudah<https://github.com/soudah> @loumalouomega<https://github.com/loumalouomega> @philbucher<https:

[2022-02-01 03:48] CZHU20 commented on #4035
@Kevin-Mattheus-Moerman Thank you for the help!
I would recommend Dr. Boyce Griffith (boyceg), Dr. Roman Poya (romeric) and Dr. Steve Maas (SteveMaas1978) as potential reviewers.

[2022-02-01 06:54] JaroslavHron commented on #4035
Hi, I will be happy to review this work.

[2022-02-01 07:20] chennachaos commented on #4035
Hi @Kevin-Mattheus-Moerman!
I will be happy to review this. Count me in. Thanks!

[2022-02-01 07:57] loumalouomega commented on #4035
Greetings, for an FSI framework maybe Dr. @rubenzorrilla is better suited than me (he is active in the project which I assume you were looking for when elaborating the list)

So, no from my side, but now I know JOSS, thanks

[2022-02-01 08:44] Kevin-Mattheus-Moerman commented on #4035
@whedon assign @chennachaos as reviewer

[2022-02-01 08:44] mikldk commented on #4096
@timClicks, @TahiriNadia: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-02-01 08:44] whedon commented on #4035
OK, @chennachaos is now a reviewer

[2022-02-01 08:45] Kevin-Mattheus-Moerman commented on #4035
@whedon add @JaroslavHron as reviewer

[2022-02-01 08:45] whedon commented on #4035
OK, @JaroslavHron is now a reviewer

[2022-02-01 08:48] Bisaloo commented on #3948
@whedon set 1.0.1 as version

[2022-02-01 08:49] whedon commented on #3948
OK. 1.0.1 is the version.

[2022-02-01 09:26] Borda commented on #4101
FYI, both changes https://github.com/PyTorchLightning/metrics/pull/810 and https://github.com/PyTorchLightning/metrics/pull/817 were cherry-picked and will be released in the next `v0.7.1` in meantime you can install the stable from branch `release/0.7.x`

[2022-02-01 09:57] Bisaloo commented on #3948
@bramvandijk88, there is a mismatch in the version listed in Zenodo and the actual tag in GitHub. If you can easily fix it, it would be great. But if it's too difficult, then we can ignore it and proceed.

Additionally, could you please edit the license on Zenodo. It's listed as 'Other' when it should be 'GPL-3'?

[2022-02-01 10:19] reneraab commented on #4101
The software paper gives a good introduction to TorchMetrics and contains all the required sections. However, overall it may be made slightly more accessible for non-specialist audiences. Since this is my first JOSS review, I can't quite judge how accessible JOSS papers typically are and would leave this judgment to the other reviewers. In terms of language I would suggest the following changes:

[2022-02-01 10:33] hugoledoux commented on #4015
@CamilleMorlighem I see that the authors fixed your issues (statement of needs among others, see there: https://github.com/openjournals/joss-reviews/issues/4015#issuecomment-1004272488) but you didn't tick the boxes above. Can you let us know if you are now satisfied please?

[2022-02-01 10:38] bramvandijk88 commented on #3948
What mismatch is there? They are both 1.0.1 as far as I can tell.

I've changed the licence to "GPL-3" in the zenodo.json file, but it only updates this upon republishing the package. Zenodo complains when I do that without bumping the version, but I actually don't want to bump the version without having any changes in the code. Is there a way around this?

[2022-02-01 10:39] hugoledoux commented on #2869
@whedon generate pdf

[2022-02-01 10:40] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2022-02-01 10:42] Kevin-Mattheus-Moerman commented on #4085
@whedon assign @Leticia-maria as reviewer

[2022-02-01 10:42] whedon commented on #4085
OK, @Leticia-maria is now a reviewer

[2022-02-01 10:44] Bisaloo commented on #3948
Here is what I see. And the link to 1.0.3 on GitHub doesn't work because this version doesn't exist.

![image](https://user-images.githubusercontent.com/10783929/151954428-00e93aac-e77f-4c3c-9be2-5bf8df0530bd.png)

[2022-02-01 10:51] hugoledoux commented on #2869
@whedon check references

[2022-02-01 10:51] whedon commented on #2869
[code]

[2022-02-01 10:54] CamilleMorlighem commented on #4015
@hugoledoux thank you for noticing it !

@zarrarkhan thank you for these improvements and answers to my comments. I think I'm done with the review. Rmap is a very nice package! I'm probably gonna use it in the future.

[2022-02-01 11:16] whedon opened #4116 "[PRE REVIEW]: E2EDNA 2.0: Python Pipeline for Simulating DNA Aptamers with Ligands"
**Submitting author:** @taoliu032 (<a href="http://orcid.org/0000-0002-1082-5570">Tao Liu</a>)
**Repository:** <a href="https://github.com/siminegroup/E2EDNA2" target ="_blank">https://github.com/siminegroup/E2EDNA2</a>
**Version:** v1.0
**Editor:** @csoneson
**Reviewers:** @JoaoRodrigues, @rvhonorato
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the

[2022-02-01 11:16] whedon commented on #4116
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-01 11:16] whedon commented on #4116
PDF failed to compile for issue #4116 with the following error:
[code]

[2022-02-01 11:16] whedon commented on #4116
[code]

[2022-02-01 11:20] Kevin-Mattheus-Moerman commented on #4112
@Nikoleta-v3 It is okay if your C++ is rusty. As long as you can judge the overall quality of the work well, are able to find suitable reviewers, and can interpret reviewer comments on quality and issues with the software. I'll go ahead and assign you but let me know if there are any issues.

[2022-02-01 11:20] Kevin-Mattheus-Moerman commented on #4112
@whedon assign @Nikoleta-v3 as editor

[2022-02-01 11:21] whedon commented on #4112
OK, the editor is @Nikoleta-v3

[2022-02-01 11:21] Kevin-Mattheus-Moerman commented on #4089
@whedon invite @will-rowe as editor

[2022-02-01 11:21] whedon commented on #4089
@will-rowe has been invited to edit this submission.

[2022-02-01 11:22] Kevin-Mattheus-Moerman commented on #4089
Hi @will-rowe, would you be able to help edit this work?

[2022-02-01 11:22] Kevin-Mattheus-Moerman commented on #4088
@whedon invite @galessiorob as editor

[2022-02-01 11:22] whedon commented on #4088
@galessiorob has been invited to edit this submission.

[2022-02-01 11:22] Kevin-Mattheus-Moerman commented on #4088
@galessiorob would you be able to help edit this work?

[2022-02-01 11:36] Bisaloo commented on #4087
I'm going to already request some changes, as to facilitate the life of potential reviewers and already clarify certain points about this submission. Could you please:

- [ ] Have a look at the problematic DOIs identified by Whedon: https://github.com/openjournals/joss-reviews/issues/4087#issuecomment-1018837483
- [ ] Add a caption to all figures in the paper
- [ ] Remove obsolete files / breadcru

[2022-02-01 11:37] bramvandijk88 commented on #3948
Not sure what's going on here. V1.0.3 was the result of me testing the metadata, for which I was forced to publish (or Zenodo wouldn't reindex them).

I'm not sure how to resolve this. There's no way to edit these things after publication as far as I can tell, but the DOI-link on the github page itself should get you to version 1.0.1.

[2022-02-01 11:44] Bisaloo commented on #3948
Okay, let's go with this then. It's not super important.

[2022-02-01 11:49] Nikoleta-v3 commented on #4112
Great, thank you @Kevin-Mattheus-Moerman !

[2022-02-01 11:52] Bisaloo commented on #3948
@whedon recommend-accept

[2022-02-01 11:52] whedon commented on #3948
No archive DOI set. Exiting...

[2022-02-01 11:54] Nikoleta-v3 commented on #4112
Hey 👋🏻 @PaulSt thank you again for your submission with JOSS, could you please:

- 1️⃣  take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers
- 2️⃣  check and fix the missing DOIs: https://github.com/openjournals/joss-reviews/issues/4112#issuecomment-1025166198

[2022-02-01 12:06] PolymerGuy commented on #3980
@Kevin-Mattheus-Moerman @corentin-dev @nicoguaro  We have now implemented all comments except those regarding the documentation and the paper. We are currently working on those changes and they will be available by the end of this week.
The following changes have been made:
* The natsort-error when running pytest appears to be caused by a call to the global pytest installation. This is fixed in: h

[2022-02-01 12:15] Borda commented on #4101
@reneraab thank you for your kind suggestions, all shall be implemented in https://github.com/PyTorchLightning/metrics/pull/819

[2022-02-01 12:17] arfon commented on #3998
@TomWagg – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the autho

[2022-02-01 12:40] po60nani commented on #4024
@emdupre, Would you please let me know if you received my response to the comments?

[2022-02-01 12:41] hugoledoux commented on #2869
@SimonMolinsky I am sorry that it took so long. Since you modified the code according to the reviewers wishes, I think we can move forward with the acceptance of the paper.

I just went over it and created a PR to fix some issues: https://github.com/DataverseLabs/pyinterpolate/pull/203

Also, I think it it still too long. As written above, JOSS favours short papers and details should be put in the

[2022-02-01 12:47] taoliu032 commented on #4116
@whedon generate pdf from branch JOSS

[2022-02-01 12:47] whedon commented on #4116
[code]

[2022-02-01 12:48] whedon commented on #4116
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04116/joss.04116/10.21105.joss.04116.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04116/joss.04116/10.21105.joss.04116.pdf) :page_facing_up: :point_left:

[2022-02-01 12:49] csoneson commented on #3990
@jspaezp - could you test if you are able to check the boxes in the checklist above now? You need to accept the invite in the post above.

[2022-02-01 13:25] whedon opened #4117 "[PRE REVIEW]: Asimov: A framework for coordinating parameter estimation workflows"
**Submitting author:** @transientlunatic (<a href="http://orcid.org/0000-0003-3772-198X">Daniel Williams</a>)
**Repository:** <a href="https://git.ligo.org/asimov/asimov" target ="_blank">https://git.ligo.org/asimov/asimov</a>
**Version:** v0.3.3
**Editor:** @mbobra
**Reviewers:** @danehkar, @matthewfeickert
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due

[2022-02-01 13:25] whedon commented on #4117
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-01 13:25] whedon commented on #4117
PDF failed to compile for issue #4117 with the following error:
[code]

[2022-02-01 13:32] Bisaloo commented on #3948
@whedon set 10.5281/zenodo.5918404 as archive

[2022-02-01 13:32] whedon commented on #3948
OK. <a href="https://doi.org/10.5281/zenodo.5918404" target="_blank">10.5281/zenodo.5918404</a> is the archive.

[2022-02-01 13:33] Bisaloo commented on #3948
@whedon recommend-accept

[2022-02-01 13:33] whedon commented on #3948
[code]

[2022-02-01 13:33] whedon commented on #3948
[code]

[2022-02-01 13:34] whedon commented on #3948
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2921

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2921, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-01 13:37] Kevin-Mattheus-Moerman commented on #4116
@whedon invite @will-rowe as editor

[2022-02-01 13:38] whedon commented on #4116
@will-rowe has been invited to edit this submission.

[2022-02-01 13:40] Kevin-Mattheus-Moerman commented on #4035
I reached out to @axel-loewe via Twitter, and he agreed to help with this review, so I'll add him now and we'll start the review process.

[2022-02-01 13:40] Kevin-Mattheus-Moerman commented on #4035
@whedon add  @axel-loewe as reviewer

[2022-02-01 13:40] whedon commented on #4035
OK,  @axel-loewe is now a reviewer

[2022-02-01 13:40] Kevin-Mattheus-Moerman commented on #4035
@whedon start review

[2022-02-01 13:41] whedon opened #4118 "[REVIEW]: svFSI: A Multiphysics Package for Integrated Cardiac Modeling"
**Submitting author:** @CZHU20 (<a href="http://orcid.org/0000-0002-1099-8893">Chi Zhu</a>)
**Repository:** https://github.com/SimVascular/svFSI
**Branch with paper.md** (empty if default branch):
**Version:** 2022.09.26
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @chennachaos, @JaroslavHron, @axel-loewe
**Archive:** 10.5281/zenodo.7113485

**:warning: JOSS reduced service mode :warning:**

[2022-02-01 13:41] whedon commented on #4035
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4118.

[2022-02-01 13:41] #4035 closed

[2022-02-01 13:41] whedon commented on #4118
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @chennachaos, @JaroslavHron, @ @axel-loewe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [o

[2022-02-01 13:41] whedon commented on #4118
Wordcount for `paper.md` is 1210

[2022-02-01 13:41] whedon commented on #4118
PDF failed to compile for issue #4118 with the following error:
[code]

[2022-02-01 13:41] whedon commented on #4118
[code]

[2022-02-01 13:41] Kevin-Mattheus-Moerman commented on #4035
If any of the potential reviewers pinged above are still interested to join let me know. I can add you later if needed.

[2022-02-01 13:42] Kevin-Mattheus-Moerman commented on #4118
@whedon re-invite @axel-loewe as editor

[2022-02-01 13:42] whedon commented on #4118
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-01 13:43] Kevin-Mattheus-Moerman commented on #4118
@whedon re-invite @axel-loewe as reviewer

[2022-02-01 13:43] whedon commented on #4118
OK, the reviewer has been re-invited.

@axel-loewe please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-02-01 13:43] Kevin-Mattheus-Moerman commented on #4118
@axel-loewe apologies for the second invite. I had added you initially as `@ @axel-loewe` by mistake. It should be fixed now.

[2022-02-01 13:44] Kevin-Mattheus-Moerman commented on #4118
@chennachaos, @JaroslavHron, @axel-loewe thanks for your help with this review!!!! :partying_face: You may now start. Let me know if you have any questions.

[2022-02-01 13:46] philbucher commented on #4035
thx for the offer but I currently don't have the time to review

[2022-02-01 13:49] emdupre commented on #4024
Hi @po60nani, yes, thank you for confirming on this !

I'm still waiting on review comments from @ziatdinovmax  to move forward. We're in touch, and I'm expecting his comments soon.

[2022-02-01 14:07] fboehm commented on #3888
Thanks for finalizing your review, @tbrown122387 !

[2022-02-01 15:02] dhimmel commented on #4002
Where do we review the paper?

[2022-02-01 15:26] vijaysm commented on #4085
I'm unfortunately swamped with many things at the moment and so won't be able to finish my review without delays. It's definitely an interesting project and I'll keep my eye out on this page to follow the review comments. If you still need someone in a few weeks, I definitely will be able to review it. Thanks @Kevin-Mattheus-Moerman

[2022-02-01 15:30] jedbrown commented on #4085
I'm also interested in the project, but can't accept new reviewing until my kids can return to childcare and I can finish my already-overdue reviews. You're welcome to ping if you still need a reviewer in a few weeks.

[2022-02-01 15:39] likask commented on #4085
It looks like a very interesting project. However, I have to decline the review. I have a teaching-intensive period, and could not fully commit to this work.  @Kevin-Mattheus-Moerman

[2022-02-01 15:41] KristinaRiemer commented on #4029
Hi @hechth, thank you for the update on the progress of your review! I agree that you and @rickhelmus should carry through with addressing all of your comments before publication.

@wesleyburr have you had a chance to start your review yet? Please check in with your progress and let me know if anything is blocking you!

[2022-02-01 15:44] lootie commented on #3766
@eviatarbach @wkearn, thank you both for your helpful feedback. @VivianePons what are our next steps for this article?

[2022-02-01 15:55] KristinaRiemer commented on #4030
It looks like @hongyuanjia has started to respond to @mitmat's comments, thank you for your thoroughness with those! And I agree with the conclusion about authorship; intellectual contributions are more than sufficient for authorship, see the [JOSS authorship guidelines](https://joss.readthedocs.io/en/latest/submitting.html#authorship).

@bczernecki it looks like you've started your review, how is

[2022-02-01 15:57] PetrKryslUCSD commented on #4085
Sure, happy to do it. @Kevin-Mattheus-Moerman

[2022-02-01 16:17] PaulSt commented on #4112
Hi :wave: @Nikoleta-v3 and thank you for reviewing my submission.
- I would suggest mscroggs and Balaje as reviewers
- the DOIs should be fixed now

[2022-02-01 16:21] PaulSt commented on #4112
@whedon generate pdf

[2022-02-01 16:22] whedon commented on #4112
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04112/joss.04112/10.21105.joss.04112.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04112/joss.04112/10.21105.joss.04112.pdf) :page_facing_up: :point_left:

[2022-02-01 16:22] jhancock4d opened #4119 "Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified?"

[2022-02-01 16:22] whedon commented on #4119
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-01 16:22] #4119 closed

[2022-02-01 16:23] Nikoleta-v3 commented on #4112
@whedon check references

[2022-02-01 16:23] whedon commented on #4112
[code]

[2022-02-01 16:23] jhancock4d commented on #4119
The testing is light, so I don't know what the minimum standards are for this?

[2022-02-01 16:23] Nikoleta-v3 commented on #4112
Perfect, thank you @PaulSt! Could you please suggest two more reviewers? 😄

[2022-02-01 16:24] VivianePons commented on #3766
@whedon generate pdf

[2022-02-01 16:24] whedon commented on #3766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03766/joss.03766/10.21105.joss.03766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03766/joss.03766/10.21105.joss.03766.pdf) :page_facing_up: :point_left:

[2022-02-01 16:25] whedon commented on #3766
[code]

[2022-02-01 17:11] KristinaRiemer commented on #4029
@wesleyburr it's all good, I think we're all familiar with time management struggles, especially these days! Thanks for checking in.

[2022-02-01 17:41] danielskatz commented on #3970
I'm happy to say that @pan-pavel has agreed to be our second reviewer, so I will be assigning him next and then starting the review

[2022-02-01 17:41] danielskatz commented on #3970
@whedon add @pan-pavel as reviewer

[2022-02-01 17:41] whedon commented on #3970
OK, @pan-pavel is now a reviewer

[2022-02-01 17:41] danielskatz commented on #3970
@whedon start review

[2022-02-01 17:41] whedon opened #4120 "[REVIEW]: QDistRnd: A GAP package for computing the distance of quantum error-correcting codes"
**Submitting author:** @LeonidPryadko (<a href="http://orcid.org/0000-0002-4990-0259">Leonid P. Pryadko</a>)
**Repository:** https://github.com/QEC-pages/QDistRnd/
**Branch with paper.md** (empty if default branch):
**Version:** 0.8.5
**Editor:** @danielskatz
**Reviewers:** @oscarhiggott, @pan-pavel
**Archive:** 10.5281/zenodo.6374733

**:warning: JOSS reduced service mode :warning:**

Due to the

[2022-02-01 17:41] whedon commented on #3970
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4120.

[2022-02-01 17:41] whedon commented on #4120
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @oscarhiggott, @pan-pavel it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2022-02-01 17:42] whedon commented on #4120
Wordcount for `paper.md` is 1143

[2022-02-01 17:42] whedon commented on #4120
[code]

[2022-02-01 17:42] whedon commented on #4120
[code]

[2022-02-01 17:42] whedon commented on #4120
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04120/joss.04120/10.21105.joss.04120.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04120/joss.04120/10.21105.joss.04120.pdf) :page_facing_up: :point_left:

[2022-02-01 17:43] danielskatz commented on #4120
@oscarhiggott and @pan-pavel - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelin

[2022-02-01 17:45] danielskatz commented on #4062
@jhancock4d - thanks!

Re testing, see https://joss.readthedocs.io/en/latest/review_criteria.html#tests
Does this meet the "OK" there?

[2022-02-01 17:46] danielskatz commented on #4119
@jhancock4d - I've tried to answer your question in the review thread.  If you feel something needs to be discussed beyond there, please open an issue in the [software repository](https://github.com/PopMedNet-Team/popmednet)

[2022-02-01 18:46] magedhelmy1 commented on #4087
Hi @Bisaloo, thank you for being proactive and listing the improvements! I appreciate it.
I have incorporated all but one. Below are my comments on each point you stated and the corresponding change location.
I am only stuck at one point, which is the second point. Please clarify it, and I will improve right away.

- [x] Have a look at the problematic DOIs identified by Whedon: https://github.com/

[2022-02-01 19:57] bgyori commented on #4002
@majensen have you been able to reach out to some of the other reviewers we recommended? Please let us know if we can offer any additional assistance in this process.

[2022-02-01 20:02] vishwas1984 commented on #3766
@VivianePons : Added the DOIs and also modified the acknowledgments. Working on your previous comment.

[2022-02-01 20:14] sneakers-the-rat commented on #4071
I feel similarly to @AustinTSchaffer - I need more information to complete my review, I've tried to list this in my checklist at the top. I was able to get a version of Unity that was compatible with the project, but once I opened it I couldn't get anything to work, outside of the trial panel none of the buttons seemed connected to functions, and the tests wouldn't run (said "no cameras rendering"

[2022-02-01 20:17] majensen commented on #4002
Hello @ayaanhossain - would you be willing to review [this work](#4002) for [Journal of Open Source Software](https://joss.theoj.org)? Details about reviewing for us are available at https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would appreciate your expertise!
Thanks --@majensen

[2022-02-01 20:17] smchartrand commented on #4091
Quick question @kbarnhart. Your above comment regarding **Theory** - is it best to add the additional text in the readme or the JOSS paper? Thanks.

[2022-02-01 20:20] majensen commented on #4002
Hi @leonweber - would you be willing to review [this work](#4002) for our [Journal of Open Source Software](https://joss.theoj.org)? Details about reviewing for us are available at https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would appreciate your expertise!
(If you have any questions, please reach out to me at maj -dot- fortinbras -at- gmail -dot- com)
Thanks --@majensen

[2022-02-01 20:23] majensen commented on #4089
(Thanks for the suggestion @wojdyr  - I'm afraid I'm maxed out at this time)

[2022-02-01 20:29] jspaezp commented on #3990
@csoneson sorry to bother you but ...
1. I still cannot edit the buttons
2. I have accepted the invitation in the past
3. When clicking the link to review the invitation I get the message ` Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account. `

[2022-02-01 20:29] kbarnhart commented on #4091
I'd recommend adding it to the ReadMe or another page in the documentation (JOSS in flexible in how the documentation is structured). That way the theory is more easily discoverable relative to the code.

[2022-02-01 20:30] danielskatz commented on #3990
@jspaezp - is there any chance you have multiple github accounts and accepted the invitation in a different one than you are now in?  I will also re-invite you in case that helps

[2022-02-01 20:30] danielskatz commented on #3990
@whedon re-invite @jspaezp as reviewer

[2022-02-01 20:31] whedon commented on #3990
OK, the reviewer has been re-invited.

@jspaezp please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-02-01 20:32] jspaezp commented on #3990
Just re-accepted and I do seem to have edit controls on the post.
This is my only non-private github account so I dont think that was the issue

[2022-02-01 20:34] danielskatz commented on #3990
glad it's working now

[2022-02-01 21:08] csoneson commented on #3990
Thanks @danielskatz!

[2022-02-01 21:12] whedon commented on #4073
:wave: @marksantcroos, please update us on how your review is going (this is an automated reminder).

[2022-02-01 21:12] whedon commented on #4073
:wave: @burch-cm, please update us on how your review is going (this is an automated reminder).

[2022-02-01 21:20] TomWagg commented on #3998
Exciting @arfon! Here is the information you asked for (and I should also thank @dbkeitel for explaining how to link GitHub to Zenodo in [an issue](https://github.com/TeamLEGWORK/LEGWORK/issues/63) a while ago!!)

- DOI: [10.5281/zenodo.5942553](https://doi.org/10.5281/zenodo.5821187)
- New release is here: https://github.com/TeamLEGWORK/LEGWORK/releases/tag/v0.3.0
- Zenodo archive is here: https:

[2022-02-01 21:26] Kevin-Mattheus-Moerman commented on #4085
@whedon assign @PetrKryslUCSD as reviewer

[2022-02-01 21:26] whedon commented on #4085
OK, @PetrKryslUCSD is now a reviewer

[2022-02-01 21:54] SimonMolinsky commented on #2869
@whedon generate pdf

[2022-02-01 21:55] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2022-02-01 22:04] SimonMolinsky commented on #2869
@whedon generate pdf

[2022-02-01 22:05] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2022-02-01 22:07] SimonMolinsky commented on #2869
@whedon check references

[2022-02-01 22:07] whedon commented on #2869
[code]

[2022-02-01 22:10] SimonMolinsky commented on #2869
@whedon check references

[2022-02-01 22:10] whedon commented on #2869
[code]

[2022-02-01 22:15] SimonMolinsky commented on #2869
@chrisbrunsdon thank you for your support!

I've made all changes:

1. Has been moved into supplementary md file within repo, link given.
2. As above.
3. Done.
4. Done.
5. Ok.

I've made few cosmetic changes in the paper:

- Lines 89-91: Description of ATA PK, it was wrong,
- Line 97: Resources with the theory of Kriging
- Lines 131-137: Grouped external resources with the additional context.

I h

[2022-02-01 22:25] vishwas1984 commented on #3766
@VivianePons :  Uploaded it to zenodo.

 DOI: 10.5281/zenodo.5942603

Does this work?

[2022-02-01 22:34] seankmartin commented on #4098
I'm in progress with the review.
I've raised a non-blocking issue about some missing API documentation here https://github.com/infer-actively/pymdp/issues/67.
The paper is missing an explicit summary section, which I think should be added.
Will post a final update after checking functionality!

[2022-02-01 22:38] seankmartin commented on #4098
@whedon remind @seankmartin in 4 days

[2022-02-01 22:38] whedon commented on #4098
I'm sorry @seankmartin, I'm afraid I can't do that. That's something only editors are allowed to do.

[2022-02-01 22:59] pitsianis commented on #3965
Do not use an itemized list in multiline formulae (Application with a FEM/BEM simulation).

The example FEM/BEM simulation used here is very effective in demonstrating `Castor`, however, I had a hard time mapping what is what and moving back and forth between pages 8, 9 and 10, the mathematical description and the code implementation. Wouldn't be better to interleave the math with the code, as if

[2022-02-01 23:20] pan-pavel opened #4121 "References to arXiv"
In the references, the links to some of the papers are not up-to-date.
For example, the following references are already published:

1) Breuckmann, Nikolas P., & Eberhardt, J. N. (2020). Balanced product quantum codes. ...
2) Panteleev, P., & Kalachev, G. (2020). Quantum LDPC codes with almost linear minimum
distance ...
3) Hastings, M. B., Haah, J., & O’Donnell, R. (2020). Fiber bundle codes: Bre

[2022-02-01 23:20] whedon commented on #4121
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-01 23:20] #4121 closed

[2022-02-01 23:23] pan-pavel opened #4122 "References to arXiv"
In the references, the links to some of the papers are not up-to-date.
For example, the following references are already published:

1) Breuckmann, Nikolas P., & Eberhardt, J. N. (2020). Balanced product quantum codes. ...
2) Panteleev, P., & Kalachev, G. (2020). Quantum LDPC codes with almost linear minimum
distance ...
3) Hastings, M. B., Haah, J., & O’Donnell, R. (2020). Fiber bundle codes: Bre

[2022-02-01 23:23] whedon commented on #4122
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-01 23:23] #4122 closed

[2022-02-01 23:24] arfon commented on #3804
@whedon set 10.5281/zenodo.5834890 as archive

[2022-02-01 23:24] whedon commented on #3804
OK. <a href="https://doi.org/10.5281/zenodo.5834890" target="_blank">10.5281/zenodo.5834890</a> is the archive.

[2022-02-01 23:25] arfon commented on #3804
@whedon recommend-accept

[2022-02-01 23:25] whedon commented on #3804
[code]

[2022-02-01 23:25] whedon commented on #3804
[code]

[2022-02-01 23:25] arfon commented on #3804
Bumping this to the EiC on rotation to bring it to their attention.

[2022-02-01 23:25] whedon commented on #3804
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2922

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2922, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-01 23:29] ayaanhossain commented on #4002
Hi @majensen, I'd have loved to, but I am already assigned on another review for JoSS at the moment.

[2022-02-01 23:42] majensen commented on #4002
Thanks for considering @ayaanhossain -- next timw!

[2022-02-01 23:47] taless474 commented on #3976
@cgrudz do you have any other potential recruiters?

[2022-02-01 23:55] aaron-bray commented on #2555
I addresed #2 by adding in a table to the readme as well as the paper showing our summary results that includes the mesh count and the computed MLUPS

For #3, I added some verbiage to the readme as well

both additions are on the joss branch

I am parsing through the provided log and will hopefully have something more to report tomorrow

[2022-02-02 00:20] majensen commented on #4002
Hey there @sap218 - would you have time and inclination to review [this work](#4002) for [JOSS](https://joss.theoj.org)? It converts OWL biological pathway specifications into Python objects and back; I thought this might be up your alley.
Thanks for your consideration! --@majensen

[2022-02-02 01:04] danielskatz commented on #4120
@pan-pavel - I saw you tried to open a couple of issues using the GitHub Convert to issue functionality when working through this checklist. Instead, please open any new issues associated with your review in the [software repository associated with the submission](https://github.com/QEC-pages/QDistRnd/) and mention `openjournals/joss-reviews#4120` so that a link is created to this thread (and I ca

[2022-02-02 01:06] danielskatz commented on #4122
@pan-pavel - I saw you tried to open this issue here. Instead, please open any new issues associated with your review in the [software repository associated with the submission](https://github.com/QEC-pages/QDistRnd/) and mention `openjournals/joss-reviews#4120` so that a link is created to this thread (and I can keep an eye on what is happening).  I'll do this in this case.

[2022-02-02 01:07] danielskatz commented on #4120
I've done this for you in these cases, as you can see above

[2022-02-02 01:57] cgrudz commented on #3976
Tangi Migot, tmigot, works in related areas and has Julia as a primary language.

Andy Nowacki, anowacki, works in related areas and has Julia as a primary language.

Matthew Wilhelm, mewilhel, works in related areas and has Julia as a primary language.

Luke Gloege, lgloege, works in related areas and has Julia as a secondary language.

Cheers,
Colin

[2022-02-02 04:02] rouson commented on #4085
@Kevin-Mattheus-Moerman I'm interested in the subject matter, but my lack of prior experience with Julia would preclude providing a timely review.

[2022-02-02 06:24] taless474 commented on #3976
@tmigot are you interested in reviewing this?

[2022-02-02 06:51] FredDeCeuster commented on #3905
Sorry for the late reply.
We've updated the documentation now.
Please let us know if there is anything else we can do.
Many thanks for your feedback!

[2022-02-02 06:52] whedon commented on #4074
:wave: @jonjoncardoso, please update us on how your review is going (this is an automated reminder).

[2022-02-02 07:29] whedon commented on #4051
:wave: @EricaEgg, please update us on how your review is going (this is an automated reminder).

[2022-02-02 07:29] whedon commented on #4051
:wave: @mefuller, please update us on how your review is going (this is an automated reminder).

[2022-02-02 08:02] MiftariB commented on #4110
Dear @fraukewiese,

Can i also suggest @odow and @matbesancon as potential reviewers ?

Regards,

Miftari B

[2022-02-02 08:07] eloisabentivegna commented on #2555
Thanks, @aaron-bray! Please keep us posted.

@gouarin, please make your final recommendation as well. It is only one more step to complete the review!

[2022-02-02 08:22] jonjoncardoso commented on #4074
All good from me.

On Wed, 2 Feb 2022 at 06:52 whedon ***@***.***> wrote:

--
Jonathan Cardoso-Silva, PhD
Data Science Institute/Department of Methodology
London School of Economics and Political Science

[2022-02-02 08:25] osorensen commented on #4074
@whedon generate pdf from branch paper

[2022-02-02 08:25] whedon commented on #4074
[code]

[2022-02-02 08:25] osorensen commented on #4074
@whedon check references from branch paper

[2022-02-02 08:25] whedon commented on #4074
[code]

[2022-02-02 08:26] whedon commented on #4074
[code]

[2022-02-02 08:26] whedon commented on #4074
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04074/joss.04074/10.21105.joss.04074.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04074/joss.04074/10.21105.joss.04074.pdf) :page_facing_up: :point_left:

[2022-02-02 08:27] osorensen commented on #4074
@rhenkin, could you please check if the DOI suggested by whedon is correct, and if so, add it to the paper?

[2022-02-02 08:27] gouarin commented on #2555
This paper can be accepted for publication in JOSS.

Thanks to @ianhinder for your detailed review and @arfon for your promptness.

[2022-02-02 08:28] osorensen commented on #4074
Next, @rhenkin, could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure

[2022-02-02 08:43] Kevin-Mattheus-Moerman commented on #3997
@prashjha I'll get to my review in the coming week. Apologies for the delay so far.

[2022-02-02 09:01] rhenkin commented on #4074
@whedon check references from branch paper

[2022-02-02 09:01] whedon commented on #4074
[code]

[2022-02-02 09:02] whedon commented on #4074
[code]

[2022-02-02 09:03] rhenkin commented on #4074
@whedon generate pdf from branch paper

[2022-02-02 09:03] whedon commented on #4074
[code]

[2022-02-02 09:04] whedon commented on #4074
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04074/joss.04074/10.21105.joss.04074.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04074/joss.04074/10.21105.joss.04074.pdf) :page_facing_up: :point_left:

[2022-02-02 09:08] pan-pavel commented on #4120
Thanks a lot, Daniel!

[2022-02-02 09:12] rickhelmus commented on #4029
@wesleyburr No worries! Thanks for the update!

[2022-02-02 09:28] Nikoleta-v3 commented on #4112
👋 @mscroggs &  @Balaje & @felipefr & @sigvaldm would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "NGSTrefftz: Add-on to NGSolve for Trefftz methods ". You can find more information at

[2022-02-02 09:29] Nikoleta-v3 commented on #4056
👋 @strengejacke & @fernandomayer - I hope you are well.  Any updates regarding your reviews? 😄

[2022-02-02 09:30] mscroggs commented on #4112
:wave: I'd be happy to review this

[2022-02-02 09:30] strengejacke commented on #4056
Sorry for the delay. Will go on with my reviews the next days. :-)

[2022-02-02 09:34] Nikoleta-v3 commented on #4056
Great! Thank you for your reply 😄

[2022-02-02 09:36] Nikoleta-v3 commented on #4112
@whedon assign @mscroggs as reviewer

[2022-02-02 09:36] whedon commented on #4112
OK, @mscroggs is now a reviewer

[2022-02-02 09:36] Nikoleta-v3 commented on #4112
Thank you 🙏🏻

[2022-02-02 09:41] osorensen commented on #4074
@rhenkin, there is a typo in the first word of the Summary section "visxchlust --> visxhclust"

![image](https://user-images.githubusercontent.com/21175639/152129369-40d5bee1-b352-4010-abe9-384ea4fee5f7.png)

[2022-02-02 09:41] sigvaldm commented on #4112
Would love to, but I'm really busy for at least the entire February, so if there's someone else that can do it sooner then that would be better for the author.

[2022-02-02 09:46] osorensen commented on #4074
@rhenkin, the same typo is also on line 26. Please do a find-and-replace to see if there are more.

[2022-02-02 09:48] osorensen commented on #4074
@rhenkin, on line 38, it says "see figure Figure 1". Please de-duplicate.

[2022-02-02 09:55] osorensen commented on #4074
@rhenkin, some correction of the reference list:

- Please make sure R is spelled with a capital letter. Adding curly brackets around the word "R" in your `.bib` file should fix it. For example, change the [reference to Shiny](https://github.com/rhenkin/visxhclust/blob/3503e2eb61b1d084122f3b00b4530f5c661ea44c/paper/paper.bib#L56-L62) to
[code]

This also applies to

and

[2022-02-02 10:15] mscroggs commented on #3982
We fixed a few typos in the paper, so I'm re-generating it

[2022-02-02 10:15] whedon commented on #3982
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03982/joss.03982/10.21105.joss.03982.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03982/joss.03982/10.21105.joss.03982.pdf) :page_facing_up: :point_left:

[2022-02-02 10:16] rhenkin commented on #4074
@whedon generate pdf from branch paper

[2022-02-02 10:16] whedon commented on #4074
[code]

[2022-02-02 10:16] whedon commented on #4074
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04074/joss.04074/10.21105.joss.04074.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04074/joss.04074/10.21105.joss.04074.pdf) :page_facing_up: :point_left:

[2022-02-02 10:18] rhenkin commented on #4074
@osorensen the release version is v1.0.0, the DOI on Zenodo is 10.5281/zenodo.5946818 https://doi.org/10.5281/zenodo.5946817
I fixed the typos and references and generated the PDF again above

[2022-02-02 10:25] PTierz commented on #3649
Dear @arfon,

Thank you very much for your message and your support.

Please accept my apologies for not having replied to this message considerably earlier. I had to be out of the office 22 Jan-1 Feb, and I am catching up with my emails only from this morning.

I have just added the small amending sentences to the Acknowledgements section via commit [1713702](https://github.com/BritishGeologicalS

[2022-02-02 10:25] osorensen commented on #4074
@whedon set doi as 10.5281/zenodo.5946818

[2022-02-02 10:25] whedon commented on #4074
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-02 10:25] osorensen commented on #4074
@whedon set 10.5281/zenodo.5946818 as archive

[2022-02-02 10:25] whedon commented on #4074
OK. <a href="https://doi.org/10.5281/zenodo.5946818" target="_blank">10.5281/zenodo.5946818</a> is the archive.

[2022-02-02 10:25] osorensen commented on #4074
@whedon set <v1.0.0> as versino

[2022-02-02 10:26] whedon commented on #4074
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-02 10:26] osorensen commented on #4074
@whedon set v1.0.0 as version

[2022-02-02 10:26] whedon commented on #4074
OK. v1.0.0 is the version.

[2022-02-02 10:26] osorensen commented on #4074
@whedon recommend-accept from branch paper

[2022-02-02 10:27] whedon commented on #4074
[code]

[2022-02-02 10:27] whedon commented on #4074
[code]

[2022-02-02 10:27] whedon commented on #4074
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2923

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2923, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-02 10:49] roderickmackenzie commented on #3727
Hi All, Yes I'm happy for this to be published now. best, Rod

[2022-02-02 11:12] inpefess commented on #3849
@VivianePons @danielskatz There is a two months pause since the first review successfully ended. What could I do to speed the process up?

[2022-02-02 11:35] Kevin-Mattheus-Moerman commented on #4085
@whedon add @Leticia-maria as reviewer

[2022-02-02 11:35] whedon commented on #4085
OK, @Leticia-maria is now a reviewer

[2022-02-02 11:36] Kevin-Mattheus-Moerman commented on #4085
@Leticia-maria apologies I accidentally replaced you above with Petr, so had to add you again.

[2022-02-02 11:51] lilyminium commented on #4100
@whedon generate pdf

[2022-02-02 11:52] whedon commented on #4100
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04100/joss.04100/10.21105.joss.04100.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04100/joss.04100/10.21105.joss.04100.pdf) :page_facing_up: :point_left:

[2022-02-02 11:58] bczernecki commented on #4030
@hongyuanjia @KristinaRiemer

I have quite thoroughly investigated content of the `epwshiftr` R package and it looks quite promising. However, IMHO there's still a big space for further improvements which needs to be addressed before accepting the software for publication in JOSS and recommending the software for wider audience.

Most of my concerns and comments stay in line with everything that w

[2022-02-02 12:37] PolymerGuy commented on #3980
@Kevin-Mattheus-Moerman @corentin-dev @nicoguaro We have now updated the documentation and the paper according to the comments above. For convenience, I have merged the JOSS-review branch with the master branch so that  readthedocs builds the updated documentation. The updated documentation can be found here: https://recolo.readthedocs.io/en/latest/?badge=latest

[2022-02-02 12:39] mefuller commented on #4051
Some additional text is needed in the paper and I have yet to personally run thorough tests on the capability.
Otherwise I am nearly done.

[2022-02-02 12:59] danielskatz commented on #3849
@VivianePons needs to work with the second reviewer, @ian-bunner, to make sure the second review is completed

[2022-02-02 13:06] Kevin-Mattheus-Moerman commented on #4117
@whedon generate pdf from branch joss-paper

[2022-02-02 13:06] whedon commented on #4117
[code]

[2022-02-02 13:07] whedon commented on #4117
PDF failed to compile for issue #4117 with the following error:
[code]

[2022-02-02 13:11] Kevin-Mattheus-Moerman commented on #4117
@openjournals/dev can you check what is wrong here? Perhaps @transientlunatic should remove the quotation symbols `"` from the title and replace them with `'`, and remove those in the author names?

[2022-02-02 13:14] Kevin-Mattheus-Moerman commented on #4117
@whedon invite @mbobra as editor

[2022-02-02 13:14] whedon commented on #4117
@mbobra has been invited to edit this submission.

[2022-02-02 13:17] transientlunatic commented on #4117
Ahh, I'll try that just now. Apologies about this, it all compiled fine via the web-form and the docker container.

[2022-02-02 13:17] Kevin-Mattheus-Moerman commented on #4094
@jni do you think you can help edit this one?

[2022-02-02 13:17] whedon opened #4123 "[PRE REVIEW]: Lexedata: A Python toolbox to edit CLDF lexical datasets"
**Submitting author:** @Anaphory (<a href="http://orcid.org/0000-0002-8155-9089">Gereon Kaiping</a>)
**Repository:** <a href="https://github.com/Anaphory/lexedata/" target ="_blank">https://github.com/Anaphory/lexedata/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2022-02-02 13:17] whedon commented on #4123
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-02 13:18] whedon commented on #4123
Wordcount for `paper.md` is 433

[2022-02-02 13:18] whedon commented on #4123
PDF failed to compile for issue #4123 with the following error:
[code]

[2022-02-02 13:18] whedon commented on #4123
[code]

[2022-02-02 13:18] whedon commented on #4123
[code]

[2022-02-02 13:23] transientlunatic commented on #4117
@whedon generate pdf from branch joss-paper

[2022-02-02 13:23] whedon commented on #4117
[code]

[2022-02-02 13:23] whedon commented on #4117
PDF failed to compile for issue #4117 with the following error:
[code]

[2022-02-02 13:23] transientlunatic commented on #4117
@whedon generate pdf from branch joss-paper

[2022-02-02 13:24] whedon commented on #4117
[code]

[2022-02-02 13:26] transientlunatic commented on #4117
@whedon generate pdf from branch joss-paper

[2022-02-02 13:26] whedon commented on #4117
[code]

[2022-02-02 13:26] whedon commented on #4117
PDF failed to compile for issue #4117 with the following error:
[code]

[2022-02-02 13:27] whedon opened #4124 "[PRE REVIEW]: smot: a python package and CLI tool for contextual phylogenetic subsampling"
**Submitting author:** @arendsee (<a href="http://orcid.org/0000-0002-5833-798X">Zebulun Arendsee</a>)
**Repository:** <a href="https://github.com/flu-crew/smot" target ="_blank">https://github.com/flu-crew/smot</a>
**Version:** v0.17.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2022-02-02 13:27] whedon commented on #4124
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-02 13:27] whedon commented on #4124
Wordcount for `paper.md` is 2330

[2022-02-02 13:27] whedon commented on #4124
[code]

[2022-02-02 13:27] whedon commented on #4124
PDF failed to compile for issue #4124 with the following error:
[code]

[2022-02-02 13:27] Kevin-Mattheus-Moerman commented on #4123
@whedon generate pdf from branch joss-paper

[2022-02-02 13:27] whedon commented on #4123
[code]

[2022-02-02 13:27] whedon commented on #4124
[code]

[2022-02-02 13:27] whedon commented on #4123
PDF failed to compile for issue #4123 with the following error:
[code]

[2022-02-02 13:31] Kevin-Mattheus-Moerman commented on #4123
@Anaphory It looks like you you should use `"2,3"` instead of `2,3` for the affiliations for `Natalia Chousou-Polydouri`. You can call the following here to update the paper:
`@whedon generate pdf from branch joss-paper`

[2022-02-02 13:37] Kevin-Mattheus-Moerman commented on #4123
@whedon invite @Bisaloo as editor

[2022-02-02 13:37] whedon commented on #4123
@Bisaloo has been invited to edit this submission.

[2022-02-02 13:38] whedon opened #4125 "[PRE REVIEW]: PyAMG: Algebraic Multigrid Solvers in Python"
**Submitting author:** @lukeolson (<a href="http://orcid.org/0000-0002-5283-6104">Luke Olson</a>)
**Repository:** <a href="https://github.com/pyamg/pyamg/" target ="_blank">https://github.com/pyamg/pyamg/</a>
**Version:** v4.2.2
**Editor:** @jedbrown
**Reviewers:** @mayrmt
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2022-02-02 13:38] whedon commented on #4125
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-02 13:38] whedon commented on #4125
PDF failed to compile for issue #4125 with the following error:
[code]

[2022-02-02 13:38] whedon commented on #4125
[code]

[2022-02-02 13:40] Kevin-Mattheus-Moerman commented on #4124
@arendsee can you work on those potentially missing DOI's? :point_up:

[2022-02-02 13:42] danielskatz commented on #4117
FYI, for @Kevin-Mattheus-Moerman - the error message from whedon points out the line number and character where the error is: `found character that cannot start any token while scanning for the next token at line 43 column 1 (Psych::SyntaxError)`  there's a tab there, which is the problem.

[2022-02-02 13:43] Kevin-Mattheus-Moerman commented on #4124
@openjournals/dev can you see what is wrong with the paper? Is it the use of `` `smot` `` in the title?

[2022-02-02 13:44] arendsee commented on #4124
@Kevin-Mattheus-Moerman Will do Kevin. The paper compiles fine in the preview service. The error message says something about a missing "tags" field in the metadata.

[2022-02-02 13:45] Kevin-Mattheus-Moerman commented on #4125
@whedon generate pdf from branch joss-paper

[2022-02-02 13:45] whedon commented on #4125
[code]

[2022-02-02 13:46] whedon commented on #4125
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04125/joss.04125/10.21105.joss.04125.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04125/joss.04125/10.21105.joss.04125.pdf) :page_facing_up: :point_left:

[2022-02-02 13:46] Kevin-Mattheus-Moerman commented on #4125
@whedon check references from branch joss-paper

[2022-02-02 13:46] whedon commented on #4125
[code]

[2022-02-02 13:46] whedon commented on #4125
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "," (COMMA) [#<BibTeX::Bibliography data=[8]>, "@", #<BibTeX::Entry >, {:title=>["An Introduction to Algebraic Multigrid"], :author=>["Falgout, R D"], :doi=>[""], :url=>["https://www.osti.gov/biblio/897960"], :journal=>["Computing in Science and Engineering, vol. 8, no. 6, November 1, 2006, pp. 24-33"]},

[2022-02-02 13:46] danielskatz commented on #4124
@arendsee - you might want to try adding one or more tags, as in the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)

[2022-02-02 13:47] Kevin-Mattheus-Moerman commented on #4125
@openjournals/dev can you see what happened here with the reference check?

[2022-02-02 13:48] arendsee commented on #4124
@danclewley Sure thing, I'll add tags in a bit.

[2022-02-02 13:48] danielskatz commented on #4124
Use the command `@whedon check references` to check the references again, and the command `@whedon generate pdf` after making changes to the .md file or when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2022-02-02 13:48] Kevin-Mattheus-Moerman commented on #4125
@whedon invite @jedbrown as editor

[2022-02-02 13:48] whedon commented on #4125
@jedbrown has been invited to edit this submission.

[2022-02-02 13:50] whedon opened #4126 "[PRE REVIEW]: SimplyAgree: An R package and jamovi Module for Simplifying Agreement and Reliability Analyses"
**Submitting author:** @arcaldwell49 (<a href="http://orcid.org/0000-0002-4541-6283">Aaron R. Caldwell</a>)
**Repository:** <a href="https://github.com/arcaldwell49/SimplyAgree" target ="_blank">https://github.com/arcaldwell49/SimplyAgree</a>
**Version:** v0.0.2
**Editor:** @fboehm
**Reviewers:** @slwu89, @itismeghasyam
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :war

[2022-02-02 13:50] whedon commented on #4126
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-02 13:50] whedon commented on #4126
[code]

[2022-02-02 13:50] whedon commented on #4126
[code]

[2022-02-02 13:50] whedon commented on #4126
Failed to discover a valid open source license.

[2022-02-02 13:54] danielskatz commented on #4125
@Kevin-Mattheus-Moerman & @lukeolson - the error says the last bib entry is the problem. I suggest changing it to
[code]

[2022-02-02 14:01] arcaldwell49 commented on #4126
My sincerest apologies, I am pushing the license file to GitHub now. Also,
just as a note, one article failed the DOI check. I am unsure what the
issue is here but this is the DOI listed on the publication and on PubMed.

On Wed, Feb 2, 2022 at 8:54 AM Kevin Mattheus Moerman <
***@***.***> wrote:

[2022-02-02 14:14] Kevin-Mattheus-Moerman commented on #4126
@arcaldwell49 The DOI is missing for this one, please can you add it?

[code]

I think adding `doi = {10.1519/15184.1}` would do it.

[2022-02-02 14:15] arendsee commented on #4124
@whedon check references

[2022-02-02 14:15] whedon commented on #4124
[code]

[2022-02-02 14:16] arendsee commented on #4124
@whedon generate pdf

[2022-02-02 14:17] whedon commented on #4124
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04124/joss.04124/10.21105.joss.04124.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04124/joss.04124/10.21105.joss.04124.pdf) :page_facing_up: :point_left:

[2022-02-02 14:20] arendsee commented on #4124
@tkanderson @amyvin2002 I'm tagging in my coauthors.

[2022-02-02 14:23] Kevin-Mattheus-Moerman commented on #4126
@fboehm you have been suggested as editor for this work. Do you think it is a fit for you? The paper doesn't compile yet but the raw form is here: https://raw.githubusercontent.com/arcaldwell49/SimplyAgree/master/paper/paper.md

[2022-02-02 14:24] lukeolson commented on #4125
Thanks @danielskatz .  I made this change.

[2022-02-02 14:25] Kevin-Mattheus-Moerman commented on #4125
@whedon check references from branch joss-paper

[2022-02-02 14:25] whedon commented on #4125
[code]

[2022-02-02 14:25] whedon commented on #4125
[code]

[2022-02-02 14:25] Kevin-Mattheus-Moerman commented on #4125
@lukeolson can you check that missing DOI?

[2022-02-02 14:29] lukeolson commented on #4125
done.  added two additional DOI

[2022-02-02 14:33] Kevin-Mattheus-Moerman commented on #4124
@marcosvital this looks like you might be able to edit this once you are available. Is that correct? If so, would you like us to wait or could I assign it to you already?

[2022-02-02 14:34] danielskatz commented on #4125
@lukeolson - you can use the command `@whedon check references` to check again, and the command `@whedon generate pdf` after making changes to the .md file or when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2022-02-02 14:36] Kevin-Mattheus-Moerman commented on #4126
@arcaldwell49 I see. I checked just now too, so it looks like there is no DOI. In that case we'll ignore this warning message and you can leave the bib file as is.

[2022-02-02 14:40] Anaphory commented on #4123
@whedon generate pdf from branch joss-paper

[2022-02-02 14:40] whedon commented on #4123
[code]

[2022-02-02 14:40] whedon commented on #4123
PDF failed to compile for issue #4123 with the following error:
[code]

[2022-02-02 14:50] lukeolson commented on #4125
@danielskatz gotcha (I wasn't sure if I was allowed to interact with whedon)

[2022-02-02 14:51] whedon commented on #4125
[code]

[2022-02-02 14:51] whedon commented on #4125
[code]

[2022-02-02 14:51] lukeolson commented on #4125
@whedon generate pdf from branch joss-paper

[2022-02-02 14:51] whedon commented on #4125
[code]

[2022-02-02 14:52] whedon commented on #4125
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04125/joss.04125/10.21105.joss.04125.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04125/joss.04125/10.21105.joss.04125.pdf) :page_facing_up: :point_left:

[2022-02-02 14:53] danielskatz commented on #4125
Yes, and encouraged, to make the journal as scalable as possible.  Whedon has some controls, so different roles can do different things, but these commands related to the paper are open to authors.

[2022-02-02 15:02] Anaphory commented on #4123
@whedon generate pdf from branch joss-paper

[2022-02-02 15:20] whedon commented on #4051
:wave: @yangbai90, please update us on how your review is going (this is an automated reminder).

[2022-02-02 15:31] Anaphory commented on #4123
We have looked through the list of reviewers and found the following handful of people who might have good insight on Lexedata.
# Suggested Reviewers
 - tresoldi
 - SimonGreenhill
 - richardlitt
 - adammichaelwood
 - sdruskat

[2022-02-02 15:36] VivianePons commented on #3766
@whedon generate pdf

[2022-02-02 15:37] whedon commented on #3766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03766/joss.03766/10.21105.joss.03766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03766/joss.03766/10.21105.joss.03766.pdf) :page_facing_up: :point_left:

[2022-02-02 15:42] VivianePons commented on #3766
@vishwas1984 I would need the title to be the same as for the paper. Thanks

[2022-02-02 15:49] chainsawriot commented on #4036
@whedon generate pdf

[2022-02-02 15:50] whedon commented on #4036
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04036/joss.04036/10.21105.joss.04036.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04036/joss.04036/10.21105.joss.04036.pdf) :page_facing_up: :point_left:

[2022-02-02 15:51] VivianePons commented on #3849
Indeed, I will contact him again through mail and if no response I'll find another reviewer

[2022-02-02 15:53] whedon opened #4127 "[PRE REVIEW]: tesliper: a theoretical spectroscopist's little helper"
**Submitting author:** @mishioo (<a href="http://orcid.org/0000-0001-7884-8982">Michał M. Więcław</a>)
**Repository:** <a href="https://github.com/mishioo/tesliper" target ="_blank">https://github.com/mishioo/tesliper</a>
**Version:** 0.9.0
**Editor:** @rkurchin
**Reviewers:** @alejandrogallo, @arepstein
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to

[2022-02-02 15:53] whedon commented on #4127
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-02 15:53] whedon commented on #4127
PDF failed to compile for issue #4127 with the following error:
[code]

[2022-02-02 15:53] whedon commented on #4127
[code]

[2022-02-02 15:56] danielskatz commented on #4127
@whedon check references from branch joss

[2022-02-02 15:56] danielskatz commented on #4127
@whedon generate pdf from branch joss

[2022-02-02 15:56] whedon commented on #4127
[code]

[2022-02-02 15:56] whedon commented on #4127
[code]

[2022-02-02 15:56] whedon commented on #4127
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04127/joss.04127/10.21105.joss.04127.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04127/joss.04127/10.21105.joss.04127.pdf) :page_facing_up: :point_left:

[2022-02-02 16:14] crvernon commented on #3709
@AlexanderJuestel - please provide me with an update of your status and a timeline of when you will be able to complete your revisions.  Thanks!

[2022-02-02 16:19] crvernon commented on #4039
@jmp75 - Please update me on the status of your review. Thanks!

[2022-02-02 16:32] mcsiple commented on #3888
@whedon generate PDF

[2022-02-02 16:33] whedon commented on #3888
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03888/joss.03888/10.21105.joss.03888.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03888/joss.03888/10.21105.joss.03888.pdf) :page_facing_up: :point_left:

[2022-02-02 17:14] patrickmineault commented on #4098
I'm going to wait until @seankmartin completes a first pass until I look at this.

[2022-02-02 17:35] whedon commented on #4075
:wave: @abhilash12iec002 , please update us on how your review is going (this is an automated reminder).

[2022-02-02 18:07] fboehm commented on #3888
@ha0ye - have you had a chance to review the changes from @mcsiple ? Please let me know if any questions or concerns remain. Thanks again!

[2022-02-02 18:09] fboehm commented on #4126
Yes, @Kevin-Mattheus-Moerman, I'm happy to edit this submission.

[2022-02-02 18:10] fboehm commented on #4126
@whedon assign @fboehm as editor

[2022-02-02 18:10] whedon commented on #4126
OK, the editor is @fboehm

[2022-02-02 18:13] emdupre commented on #4098
@whedon remind @seankmartin in 3 days

[2022-02-02 18:13] whedon commented on #4098
Reminder set for @seankmartin in 3 days

[2022-02-02 18:15] emdupre commented on #4098
@seankmartin I've set the reminder :) Thanks for starting on this and cross-linking the opened issue !

[2022-02-02 18:26] vishwas1984 commented on #3766
@VivianePons : My apologies for the oversight. Fixed now. Please let me know if this works now?

Thanks

[2022-02-02 18:36] mcsiple commented on #3888
Need to re-make the pdf again for a colleague; sorry for all the traffic.

@whedon generate PDF

[2022-02-02 19:21] VivianePons commented on #3766
@whedon set 10.5281/zenodo.5942603 as archive

[2022-02-02 19:21] whedon commented on #3766
OK. <a href="https://doi.org/10.5281/zenodo.5942603" target="_blank">10.5281/zenodo.5942603</a> is the archive.

[2022-02-02 19:22] VivianePons commented on #3766
@whedon set v0.1.2 as version

[2022-02-02 19:22] whedon commented on #3766
OK. v0.1.2 is the version.

[2022-02-02 19:23] VivianePons commented on #3766
Congratulation @lootie and @vishwas1984 I am moving the paper to acceptance! Thank you to both reviewers @wkearn, and @eviatarbach

[2022-02-02 19:23] VivianePons commented on #3766
@whedon recommand-accept

[2022-02-02 19:23] whedon commented on #3766
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-02 19:24] VivianePons commented on #3766
@whedon recommend-accept

[2022-02-02 19:24] whedon commented on #3766
[code]

[2022-02-02 19:24] whedon commented on #3766
[code]

[2022-02-02 19:24] whedon commented on #3766
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2924

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2924, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-02 19:56] ziatdinovmax commented on #4024
My apologies for the delay in reviewing the package. I was able to install it successfully and ran examples following the instructions provided by the authors. Their manuscript is well-written: it explains the need for this package and clearly outlines its structure. At the end of the manuscript, the authors mention future plans such as GPU support and incorporation of DNN. I would expect there ar

[2022-02-02 20:03] vishwas1984 commented on #3766
Thank you @VivianePons for handling this paper. Thanks also to @eviatarbach and @wkearn for helpful comments.

[2022-02-02 20:38] arfon commented on #3998
@whedon set 10.5281/zenodo.5942553 as archive

[2022-02-02 20:38] whedon commented on #3998
OK. <a href="https://doi.org/10.5281/zenodo.5942553" target="_blank">10.5281/zenodo.5942553</a> is the archive.

[2022-02-02 20:38] arfon commented on #3998
@whedon recommend-accept from branch joss

[2022-02-02 20:38] vishwas1984 commented on #3766
@VivianePons : I checked the proofs and I okay the paper.

[2022-02-02 20:38] whedon commented on #3998
[code]

[2022-02-02 20:39] whedon commented on #3998
[code]

[2022-02-02 20:39] whedon commented on #3998
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2925

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2925, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-02 21:13] drvinceknight commented on #3813
@uagla and @lrackley can you provide an update on progress with the review?

[2022-02-02 21:13] drvinceknight commented on #3813
If I don't hear back @thewan05 in a week or so I'll email them outside of GitHub.

[2022-02-02 21:16] lrackley commented on #3813
Hi,

I don’t think I am the right person for this. I am sorry for the
disappointment.

Thanks,
Lauren

On Wed, Feb 2, 2022 at 4:13 PM Vince Knight ***@***.***>
wrote:

--
Lauren Rackley, MPS
UNC Alumna
***@***.***

[2022-02-02 21:16] drvinceknight commented on #3968
Apologies for the delay all.

@inakleinbottle I am not sure why you are unable to tick the boxes. Could you confirm that your review is finished and you're happy for the paper to be accepted? (No problem if not, just clarifying for my benefit)

@szhorvat likewise @szhorvat, are you happy for the paper to be accepted? (No problem if not, just clarifying for my benefit)

[2022-02-02 21:18] drvinceknight commented on #3813
Thanks for letting me know @lrackley.

Sadly @uagla this puts us in the same position as before, needing to find another reviewer.

[2022-02-02 21:24] inpefess commented on #4101
I've completed my review. I highly recommend the paper for publication. Many thanks to the TorchMetrics team for creating such a package. The community certainly needed it for making our research more reproducible!

[2022-02-02 22:03] rkurchin commented on #3727
Great, thanks – could you finish up your checklist in that case?

And @UTH-Tuan and @shahmoradi, can you also confirm you're happy to accept?

[2022-02-02 22:13] mbobra commented on #4117
@whedon assign @mbobra as editor

[2022-02-02 22:13] whedon commented on #4117
OK, the editor is @mbobra

[2022-02-02 22:15] mbobra commented on #4117
@transientlunatic Thanks for your submission! If you have any suggestions for reviewers, please let me know here (you can give me the Github handle without @ mentioning them, e.g. mbobra instead of @mbobra).

[2022-02-02 22:16] rkurchin commented on #4040
Hi all, just wanted to check in on the status here. Seems there are at least those two issues open in the repo: one regarding a full example with FHI-aims, and one regarding interfacing to another code as this is a "selling point" of the package. From my perspective, the first one should definitely be fulfilled before acceptance. The second one would definitely be nice as well, but I'd like perspe

[2022-02-02 22:18] rkurchin commented on #4104
👋 Hi reviewers, how are things going here? I see @sangpham171 you've started your checklist – as you continue to work through it, feel free to ask questions here and/or file issues in the package repo. @andyfaff, any issues getting started with your review?

[2022-02-02 22:21] jbcaillau commented on #3991
@jbytecode Hi, test passed too on 1.7, see below
[code]

[2022-02-02 22:24] Evmoerman commented on #4040
@rkurchin Yes, I fully agree. While I cannot provide an example except for FHI-aims, I of course will include a tutorial/example page on the website and I also believe that contributing guidelines, like @awvwgk suggested, are also necessary.
I'm sorry I haven't taken care of these issues yet, because I'm currently visiting the CC4S Group in Vienna, where I help developing. I am certainly aware of

[2022-02-02 22:29] wcwitt commented on #4040
Thanks - my main update is I've managed to install FHIaims with CC-aims and am looking forward to the example. @Evmoerman, I doubt any of us are worried about delays so all good. @rkurchin, I will think about your question.

[2022-02-02 22:35] eloisabentivegna commented on #2555
Thanks, @gouarin!

[2022-02-02 22:37] jbcaillau commented on #3991
@tmigot Still having an issue on 1.7 to run the benchmark; problem to precompile Ipopt, see
[code]

[2022-02-02 22:39] eloisabentivegna commented on #3908
Dear @amoradinejad, thanks for your message. I have been looking for a second reviewer who is fully within the domain of your submission, but have received several declinations. Please feel free to suggest reviewers!

[2022-02-02 22:52] andyfaff commented on #4104
I did my review offline several weeks ago, just got to check that nothing has changed in the meantime, and then upload.

[2022-02-02 22:57] awvwgk commented on #4040
@Evmoerman, take your time and make the most out of your visit.

I already tried setting up a calculation myself, but since I'm neither familiar with FHI-aims nor CC4S it takes some time to find the right information in the manual. Some points I stumbled upon:

- I had to learn yet again a new geometry input format (this is actually on FHI-aims)
- FHI-aims manual is quite detailed on a lot of thin

[2022-02-02 23:09] odow commented on #4110
I can do it (I'm one of the JuMP developers).

[2022-02-02 23:12] tmigot commented on #3976
Yes I can do it.

[2022-02-02 23:22] Evmoerman commented on #4040
@awvwgk Yea, I can see how this may be difficult at first. While invoking a CC-aims calculation/post-processing is controlled by only 1 or 2 keywords in FHI-aims, it isn't as trivial setting up the rest of the input (including the geometry.in you mentioned).
While the test-inputs contain a variety of suitable inputs for FHI-aims+CC-aims, and I will certainly use one/some of these for the tutorial

[2022-02-02 23:41] rbeucher commented on #4070
I'm starting the review today. Sorry for the delay.

[2022-02-02 23:52] rbeucher opened #4128 "Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)."

[2022-02-02 23:52] whedon commented on #4128
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-02 23:52] #4128 closed

[2022-02-03 00:42] chainsawriot commented on #4036
@whedon generate pdf

[2022-02-03 00:43] whedon commented on #4036
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04036/joss.04036/10.21105.joss.04036.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04036/joss.04036/10.21105.joss.04036.pdf) :page_facing_up: :point_left:

[2022-02-03 01:07] rbeucher commented on #4070
@victorsacek

Thanks for your submission. I have installed the code and I am currently running the examples. So far so good.
I have opened a series of issues on the repository issue tracker with some comments and suggestions on how to make the submission better.

The code compiles and run as described.
It needs some clearer examples that cover the range of functionalities describe in the documenta

[2022-02-03 01:20] chainsawriot commented on #4036
Dear @cmaimone @kbenoit @sbenthall

I would like to express my sincere gratitude to @cmaimone for her comments about both the paper and the package. Her comments have leaded to significant improvement of the package.

* chainsawriot/sweater#27 : `S_diff` and `T_diff` from the S3 object `weat` are now named vectors.
* chainsawriot/sweater#26 : The error message of the plot function has been improve

[2022-02-03 01:28] Leticia-maria commented on #4085
No problem @Kevin-Mattheus-Moerman. What's my deadline to review?

[2022-02-03 02:00] cmaimone commented on #4036
@chainsawriot thanks for the comprehensive update.  I'll finish off the review checklist after @kbenoit takes a look.  I think the remaining items will benefit from having another perspective.  I don't think there's anything left that's a huge sticking point for me.

[2022-02-03 02:09] jlarsen-usgs commented on #3852
@crvernon
We're getting close to having the USGS review process complete and I'm currently expecting this to be able to move forward sometime next week. I'll let you know as soon as things wrap up on our end so we can move forward here. Thanks again for your patience!

[2022-02-03 02:44] OHildreth commented on #4111
https://github.com/SwiftVISA/SwiftVISASwift/tree/paper

The paper is in the SwiftVISASwift repository in the "paper" tree.

[2022-02-03 04:17] andyfaff commented on #4104
@rkurchin, I've reviewed the manuscript, and ticked the things that I think meet the JOSS guidelines. I have submitted issues on the [PyRS repository](https://github.com/neutrons/PyRS/) corresponding to the items on the review checklist that don't meet the guideline requirements. The most significant of these is not being able to install the package according to the supplied instructions (and ther

[2022-02-03 04:18] tmigot commented on #3991
Hi @jbcaillau !
Can you give me more information on what you are trying to run exactly? Which versions of the packages?
This seems to be unrelated to DCISolver, but with Ipopt.

[2022-02-03 05:49] osorensen commented on #4097
@tuliofalmeida would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-03 07:40] antoinevacavant commented on #3920
@Kevin-Mattheus-Moerman thanks for your message, I am editing the .md and .bib files of our paper.
Once they are ready, I suppose I have to:
- push these files on the Github project
- recompile the JOSS article (PDF)
- resubmit the paper or change the submission with the new file?
Thanks for clarifying me the process ;)

[2022-02-03 07:54] Bisaloo commented on #4123
:wave: :wave: @Kevin-Mattheus-Moerman @Anaphory, yes, I can edit this submission.

@whedon assign me as editor

[2022-02-03 07:56] Kevin-Mattheus-Moerman commented on #4123
@whedon assign @Bisaloo as editor

[2022-02-03 07:57] whedon commented on #4123
OK, the editor is @Bisaloo

[2022-02-03 07:57] Kevin-Mattheus-Moerman commented on #4123
The command to our bot had to come first. Anyway, thanks for your help.

[2022-02-03 08:12] kbenoit commented on #4036
I'll have a look by tomorrow, sorry for the delay. (Start of the new university term!)

[2022-02-03 08:29] Viech commented on #3915
So I need to create a tagged release next? If so I'll wrap up PICOS `2.4.0` in the next days as we only tag minor versions.

[2022-02-03 08:55] AlexanderJuestel commented on #3709
@crvernon Right now, I am not sure when I can complete them. I have issues with the documentation that I am currently not able to fix.

[2022-02-03 09:16] hugoledoux commented on #4099
@whedon re-invite @Shiming94 as reviewer

[2022-02-03 09:16] whedon commented on #4099
OK, the reviewer has been re-invited.

@shiming94 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-02-03 10:18] transientlunatic commented on #4117
@whedon generate pdf from branch joss-paper

[2022-02-03 10:18] whedon commented on #4117
[code]

[2022-02-03 10:18] whedon commented on #4117
PDF failed to compile for issue #4117 with the following error:
[code]

[2022-02-03 10:20] transientlunatic commented on #4117
@whedon generate pdf from branch joss-paper

[2022-02-03 10:20] whedon commented on #4117
[code]

[2022-02-03 10:21] whedon commented on #4117
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04117/joss.04117/10.21105.joss.04117.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04117/joss.04117/10.21105.joss.04117.pdf) :page_facing_up: :point_left:

[2022-02-03 10:25] transientlunatic commented on #4117
Thanks @mbobra! I think I suggested dfm from the list of reviewers on the submission form, but I accept this is a slightly unusual piece of software since it's really designed to facilitate analyses rather than conduct them itself, so it may not be dfm's cup of tea!
I wasn't quite sure if you were open to suggestions outwith that list, if you are I can think about it and try and get back to you.

[2022-02-03 11:22] tuliofalmeida commented on #4097
Hi,

I appreciate the invitation. It will be a pleasure to review this paper.

Best,

Túlio
From: Øystein Sørensen ***@***.***>
Sent: quinta-feira, 3 de fevereiro de 2022 02:50
To: openjournals/joss-reviews ***@***.***>
Cc: Tulio De Almeida ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: pyemgpipeline: A Python package for electromyography processing (Issu

[2022-02-03 11:33] roderickmackenzie commented on #3727
done. R

[2022-02-03 11:58] osorensen commented on #4097
@whedon add @tuliofalmeida as reviewer

[2022-02-03 11:58] whedon commented on #4097
OK, @tuliofalmeida is now a reviewer

[2022-02-03 12:14] Kevin-Mattheus-Moerman commented on #4085
@Leticia-maria we used to aim for about 2-3 weeks but we can be (and have to be) quite flexible as we've seen (and experienced personally) that most people are struggling to keep up with things during the pandemic. So if you could aim for ~3 weeks great, but if you need more time just let me know. Note we have not formally started the review yet since this is the pre-review issue. You may start al

[2022-02-03 12:20] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant Please push all changes to the branch under review. Once done you can recompile the paper here by calling the following in a comment:
`@whedon generate pdf` or `@whedon generate pdf from branch branchName`

Once you do the above you are done, so there is no need to resubmit.

[2022-02-03 14:01] fraukewiese commented on #4110
@odow : Thank you very much! I will assign you as reviewer. We will start the review as soon as a second reviewer will agree to review.

[2022-02-03 14:02] fraukewiese commented on #4110
@whedon add @odow as reviewer

[2022-02-03 14:02] whedon commented on #4110
OK, @odow is now a reviewer

[2022-02-03 14:04] fraukewiese commented on #4110
@simnh, @nworbmot, @abhishek0208 @matbesancon
We already found one reviewer, but we need two, so it would be great if one of you could additionally review this submission.

[2022-02-03 14:07] abhishek0208 commented on #4110
Hi @fraukewiese, sorry but I'm going to have to decline. Thanks for the invitation to review.

[2022-02-03 14:16] martinmodrak commented on #2708
@whedon generate pdf

[2022-02-03 14:17] whedon commented on #2708
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02708/joss.02708/10.21105.joss.02708.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02708/joss.02708/10.21105.joss.02708.pdf) :page_facing_up: :point_left:

[2022-02-03 14:26] rubenzorrilla commented on #4035
Many thanks for the offer but I don't have time right now to do a proper review. In any case thanks to this I am now aware of JOSS.

[2022-02-03 15:09] McGregor14 commented on #3270
Hello @oliviaguest,

I have discussed the issues outlined above with my supervisor and, unfortunately, we have decided that it is not currently feasible for us to address them all in the foreseeable future. This is due to a number of reasons, mainly funding and capacity within our team (which is currently a bit stretched due to people moving on). I do apologise for the time this has taken you and

[2022-02-03 15:14] danielskatz commented on #3270
Given this, I think we should mark this submission as withdrawn.

@McGregor14 and @oliviaguest, do you agree with this plan?

[2022-02-03 15:15] McGregor14 commented on #3270
@danielskatz yes I think that makes sense.

Thanks

[2022-02-03 15:20] danielskatz commented on #3270
Thanks to @oliviaguest for her work editing, and to @peircej, @KirstensGitHub, and @EleonoraVagnoni for their work in reviewing

[2022-02-03 15:20] danielskatz commented on #3270
@whedon withdraw

[2022-02-03 15:20] whedon commented on #3270
Paper withdrawn.

[2022-02-03 15:20] #3270 closed

[2022-02-03 16:10] AlexanderJuestel commented on #3709
@crvernon I will try to port the documentation to another service and hope to make it run that way!

[2022-02-03 16:17] arfon commented on #3649
@PTierz – the paper is now updated. The new PDF might take ~24 hours to show as updated on the JOSS site.

[2022-02-03 16:22] arfon commented on #3998
@whedon accept deposit=true from branch joss

[2022-02-03 16:22] whedon commented on #3998
[code]

[2022-02-03 16:23] whedon commented on #3998
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1489273389399384067) 👈 🐦🐦🐦

[2022-02-03 16:27] #3998 closed

[2022-02-03 16:27] whedon commented on #3998
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03998/status.svg)](https://doi.org/10.21105/joss.03998)

**We need your help!**

Journal of Open Source Softwa

[2022-02-03 16:39] TomWagg commented on #3998
How exciting! 🎉🥳

Thank you all so much for your efforts in reviewing LEGWORK. The package now has many improvements thanks to your comments and we really appreciate it!

And yes @arfon absolutely, we'll add a comment here once we are done with the Apj review.

[2022-02-03 16:51] galessiorob commented on #4088
@whedon assign @galessiorob as editor

[2022-02-03 16:51] whedon commented on #4088
OK, the editor is @galessiorob

[2022-02-03 16:52] osorensen commented on #4097
@alcantarar would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-03 16:54] galessiorob commented on #4088
👋 Hi @erling6232

I am in the process of assigning reviewers to this submission; if you have any suggestions, please let me know and feel free to @ mention them here.

[2022-02-03 17:08] peircej commented on #3270
Sorry to see it came out that way (for now) but I think this is probably the right call. @McGregoer14 the work that's been done on the package is great and clearly very substantial but I think these requirements and expectations are there to get packages over that next line to becoming sustainable community projects. It's really just documentation that's missing here. Hopefully you'll be able to a

[2022-02-03 17:10] mbobra commented on #4117
@transientlunatic Yes, I am absolutely open to suggestions off that list!

[2022-02-03 17:10] PTierz commented on #3649
Thank you very much for your support, @arfon, it is extremely appreciated.

I checked the [DOI link to the article](https://doi.org/10.21105/joss.03649) and it seems that it has been already updated!

Many thanks again.
Best wishes,
Pablo

[2022-02-03 17:14] mbobra commented on #3331
@ashleychontos How is it going? Do you think this submission is ready to undergo the rest of the review process?

If not, I suggest you withdraw the submission and submit again. The review process is not really a long-term holding place, and we're at the 8-month mark here so it is time to wrap up or withdraw. However, there's absolutely no issue whatsoever with re-submitting -- and if you already

[2022-02-03 17:18] whedon commented on #4088
OK, @glatard is now a reviewer

[2022-02-03 17:34] galessiorob commented on #4022
Apologies for the very delayed response @chchch - Yes please, let's keep the branches in sync. Thanks!

Still recruiting an additional reviewer for the paper, I sent out several invites this morning.

[2022-02-03 17:40] alcantarar commented on #4097
Sorry, I'm unavailable to review this submission.

[2022-02-03 18:00] osorensen commented on #4097
Ok @alcantarar, thanks for your quick reply!

[2022-02-03 18:03] galessiorob commented on #4022
@xiaohk has accepted to review the paper! 🌮 🚀

[2022-02-03 18:03] galessiorob commented on #4022
@whedon generate pdf from branch joss-paper

[2022-02-03 18:04] whedon commented on #4022
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: :point_left:

[2022-02-03 18:27] whedon commented on #4077
:wave: @cescalara, please update us on how your review is going (this is an automated reminder).

[2022-02-03 18:27] whedon commented on #4077
:wave: @JamieBamber, please update us on how your review is going (this is an automated reminder).

[2022-02-03 18:34] fernandomayer commented on #4056
Hi, I will be able to start my review in the next week.

[2022-02-03 19:11] kellertuer commented on #3866
Hm, anything I can help with here for the final steps?

[2022-02-03 19:23] whedon commented on #4078
:wave: @pmli, please update us on how your review is going (this is an automated reminder).

[2022-02-03 19:23] whedon commented on #4078
:wave: @billtubbs, please update us on how your review is going (this is an automated reminder).

[2022-02-03 19:48] thewan05 commented on #3813
@lrackley Thank you for letting us know! @drvinceknight I will start looking for another reviewer. Thanks.

[2022-02-03 20:33] AleksiNummelin commented on #3947
Dear @elbeejay, @NoraLoose  and the team have made a really nice effort and answered my questions at https://github.com/ocean-eddy-cpt/gcm-filters/issues/124 so I consider that issue closed (left that for the authors), which means that this review is also complete from my side - happy to see this published.

[2022-02-03 21:10] elbeejay commented on #3947
Cool, thanks @AleksiNummelin! @NoraLoose, let me know when you and your co-authors have made all of the revisions you'd like to make prior to JOSS publication. I noticed you created a "project" to track the issues which is neat. There's no timeline or deadline that you need to stick to at this point as all 3 reviewers have signed off, so I leave it up to you. Just ping me here when you'd like to m

[2022-02-03 21:26] lootie commented on #3766
@whedon accept deposit=true

[2022-02-03 21:26] whedon commented on #3766
I'm sorry @lootie, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2022-02-03 21:27] lootie commented on #3766
👍

[2022-02-03 22:02] taless474 commented on #3976
@whedon add @tmigot as reviewer

[2022-02-03 22:02] whedon commented on #3976
OK, @tmigot is now a reviewer

[2022-02-03 22:03] taless474 commented on #3976
@whedon start review

[2022-02-03 22:03] whedon opened #4129 "[REVIEW]: DataAssimilationBenchmarks.jl: a data assimilation research framework"
**Submitting author:** @cgrudz (<a href="http://orcid.org/0000-0002-3084-3178">Colin Grudzien</a>)
**Repository:** https://github.com/cgrudz/DataAssimilationBenchmarks.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.4
**Editor:** @diehlpk
**Reviewers:** @peanutfun, @tmigot
**Archive:** 10.5281/zenodo.7311847

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2022-02-03 22:03] whedon commented on #3976
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4129.

[2022-02-03 22:03] #3976 closed

[2022-02-03 22:03] whedon commented on #4129
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @peanutfun, @tmigot it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2022-02-03 22:04] whedon commented on #4129
Wordcount for `paper.md` is 1301

[2022-02-03 22:04] whedon commented on #4129
[code]

[2022-02-03 22:04] whedon commented on #4129
[code]

[2022-02-03 22:04] whedon commented on #4129
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04129/joss.04129/10.21105.joss.04129.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04129/joss.04129/10.21105.joss.04129.pdf) :page_facing_up: :point_left:

[2022-02-03 22:47] sap218 commented on #4002
Hey @majensen - really sorry but I am currently at the end stage of my PhD (writing my thesis w/ a deadline)! Good luck with the rest of the process - the paper was an interesting read!

[2022-02-03 23:56] rkurchin commented on #3727
@whedon generate pdf

[2022-02-03 23:57] whedon commented on #3727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03727/joss.03727/10.21105.joss.03727.pdf) :page_facing_up: :point_left:

[2022-02-04 00:18] whedon commented on #4079
:wave: @kylebeggs, please update us on how your review is going (this is an automated reminder).

[2022-02-04 00:18] whedon commented on #4079
:wave: @AustinTSchaffer, please update us on how your review is going (this is an automated reminder).

[2022-02-04 00:55] blthayer commented on #4093
FYI (@brandons209, @jgostick): At this point I plan to start my review in earnest either this weekend or next week. Looking forward to checking out `PyPVRPM`!

[2022-02-04 04:47] jedbrown commented on #4125
@whedon assign @jedbrown as editor

[2022-02-04 04:47] whedon commented on #4125
OK, the editor is @jedbrown

[2022-02-04 04:56] jedbrown commented on #4125
Welcome, @lukeolson! :wave: I'll get started finding reviewers.

[2022-02-04 04:56] jedbrown commented on #4125
@mayrmt :wave: Would you by chance be not-conflicted (with Luke or Jacob) and available to review this submission?

[2022-02-04 06:41] mayrmt commented on #4125
@jedbrown I don't have a conflict of interest and I'm happy to review this submission. Can you please provide more details on the review process for JOSS?

[2022-02-04 07:11] whedon commented on #4080
:wave: @Assistedevolution, please update us on how your review is going (this is an automated reminder).

[2022-02-04 07:11] whedon commented on #4080
:wave: @tpeulen, please update us on how your review is going (this is an automated reminder).

[2022-02-04 07:30] SeungBack commented on #3967
Hi @liquidcronos,

I still can not find the codes for importing other libraries in [Tutorial](https://trip-kinematics.readthedocs.io/en/main/tutorials.html#building-a-robot-model) section. Where can I find the information about it?

[2022-02-04 07:40] vissarion commented on #3330
Unfortunately, I have been notified by @ArikaLZ that they cannot review this paper due to time constraints. I am in a quest of a new reviewer.

@jGaboardi if you have any suggestions please let me know.

[2022-02-04 07:54] ljakoster commented on #3727
@rkurchin We've received a proof from whedon; does that mean the manuscript
has been accepted for publication?

best wishes,
Jan Anton
--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Fri, Feb 4, 2022 a

[2022-02-04 08:03] vissarion commented on #3330
@whedon remove @ArikaLZ as reviewer

[2022-02-04 08:03] whedon commented on #3330
OK, @ArikaLZ is no longer a reviewer

[2022-02-04 08:54] Kevin-Mattheus-Moerman commented on #3766
@lootie @VivianePons I have read the paper and inspected the Zenodo archive and all seems in order. I will now proceed to process this submission for acceptance.

[2022-02-04 08:57] Kevin-Mattheus-Moerman commented on #3766
@whedon accept deposit=true

[2022-02-04 08:57] whedon commented on #3766
[code]

[2022-02-04 08:58] whedon commented on #3766
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1489523712164569092) 👈 🐦🐦🐦

[2022-02-04 08:58] whedon commented on #3766
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2927
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03766](https://doi.org/10.21105/joss.03766)
2. If everything look

[2022-02-04 09:03] Kevin-Mattheus-Moerman commented on #3766
Congratulations on this publication @lootie

Thank you @wkearn and @eviatarbach for your review efforts, and thanks @VivianePons for editing!

[2022-02-04 09:03] #3766 closed

[2022-02-04 09:03] whedon commented on #3766
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03766/status.svg)](https://doi.org/10.21105/joss.03766)

**We need your help!**

Journal of Open Source Softwa

[2022-02-04 09:15] Kevin-Mattheus-Moerman commented on #3804
@larkz I have read the paper and inspected the ZENODO archive. Below are some final points to work on.

- [ ] Consider explaining the acronym `JVM` in the summary (currently done in the next Statement of Need section)
- [ ] Check `...is able inherit...` in the conclusion section, this should probably read `...is able to inherit...`
- [ ] Please edit the ZENODO archive (you need to do this manually

[2022-02-04 10:27] peanutfun commented on #4129
Hi @cgrudz 👋 I'll review your software in the next couple of days, and open up issues in the repository as I go along. Some of them might only be suggestions and not crucial to the review. Once I'm finished, I'll report back here and summarize the issues with respect to the review criteria and the checklist above.

Happy coding! 🚀

[2022-02-04 10:31] whedon opened #4130 "[PRE REVIEW]: tidytags: Importing and Analyzing Twitter Data Collected with Twitter Archiving Google Sheets"
**Submitting author:** @bretsw (<a href="http://orcid.org/0000-0002-6984-416X">K. Bret Staudt Willet</a>)
**Repository:** <a href="https://github.com/ropensci/tidytags" target ="_blank">https://github.com/ropensci/tidytags</a>
**Version:** v0.2.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2022-02-04 10:31] whedon commented on #4130
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-04 10:31] whedon commented on #4130
Wordcount for `paper.md` is 1148

[2022-02-04 10:31] whedon commented on #4130
[code]

[2022-02-04 10:31] whedon commented on #4130
[code]

[2022-02-04 10:32] whedon commented on #4130
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04130/joss.04130/10.21105.joss.04130.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04130/joss.04130/10.21105.joss.04130.pdf) :page_facing_up: :point_left:

[2022-02-04 10:38] carstenbauer commented on #3885
@mithun218 Great, LGTM now.

@meg-simula My points have been adequately addressed. I therefore endorse GiNaCDE for publication in JOSS.

[2022-02-04 11:03] liquidcronos commented on #3967
You are right, the imports for the tutorial where still missing, I only looked at the examples not the tutorials.
It should be fixed now

[2022-02-04 11:27] crvernon commented on #3709
Ok @AlexanderJuestel please let me know if you need assistance with this.

[2022-02-04 11:36] mikldk commented on #3901
@alexander-pastukhov, @fartist What is the status of the remaining issue and check boxes? Please let me know if there is anything I can do or once the review is completed.

[2022-02-04 11:41] whedon opened #4131 "[PRE REVIEW]: RHEIA: Robust design optimization of renewable Hydrogen and dErIved energy cArrier systems"
**Submitting author:** @DCoppitters (<a href="http://orcid.org/0000-0001-9480-2781">Diederik Coppitters</a>)
**Repository:** https://github.com/rheia-framework/RHEIA
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @fraukewiese
**Reviewers:** @andr1976, @ClaraBuettner
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to th

[2022-02-04 11:41] whedon commented on #4131
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-04 11:41] whedon commented on #4131
Wordcount for `paper.md` is 1043

[2022-02-04 11:41] whedon commented on #4131
[code]

[2022-02-04 11:41] whedon commented on #4131
[code]

[2022-02-04 11:42] rkurchin commented on #3727
Jan Anton,

I generated the latest proof so I can do the last few editorial checks while I wait to hear from the other two reviewers that they're happy to accept. The other things you'll need to do before we finalize this submission are (assuming no other changes are needed):

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merg

[2022-02-04 11:42] whedon commented on #4131
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04131/joss.04131/10.21105.joss.04131.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04131/joss.04131/10.21105.joss.04131.pdf) :page_facing_up: :point_left:

[2022-02-04 11:51] osorensen commented on #4097
@guxiaob would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-02-04 11:59] fjprichard commented on #3821
Dear @vitorsr ,
I wonder if you received my answers to your comments sent on december, 8th.
Best regards,
Frederic

[2022-02-04 12:43] alexander-pastukhov commented on #3901
@mikldk @fartist Sorry for being obtuse but is there something left for me to do that I did not realize I needed to do beyond answering the comments and updating the paper itself?

[2022-02-04 13:17] jedbrown commented on #4125
Certainly. The review will be coordinated through a GitHub issue, with possible issues filed directly to upstream. Your review covers the (short) paper, but also the project documentation, and we expect reviewers to experiment with running the software. https://joss.readthedocs.io/en/latest/review_criteria.html

@whedon add @mayrmt as reviewer

[2022-02-04 13:18] whedon commented on #4125
OK, @mayrmt is now a reviewer

[2022-02-04 13:23] Bisaloo commented on #4087
For the caption, I meant a more informative & more descriptive caption. At the moment, as a reader, I don't really understand what I'm looking at and what information I should get from these figures.

[2022-02-04 13:28] Bisaloo commented on #4087
Hi @tuelwer :wave:, I see that you volunteered to review for JOSS and this submission seems to fit perfectly your expertise, both in terms and topics and programming language.

 Would you be available to review this submission?

Please note that this is a somewhat complex submission with several layers. If you want to review only one of these layers (e.g., the python backend but not the react fron

[2022-02-04 13:41] Bisaloo commented on #4123
@Anaphory, before I can start looking for reviewers, could you please link to the docs from the repo (ideally, in the [repository details](https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/classifying-your-repository-with-topics) and in the README)? It will help potential reviewers to figure out if this submission is really within t

[2022-02-04 13:54] mikldk commented on #3901
@alexander-pastukhov Is it correct that you have addressed all points in alexander-pastukhov/bistablehistory#3? In that case I guess we just need @fartist to update the review.

[2022-02-04 14:01] Bisaloo commented on #4123
Hi @lmaurits @xrotwang :wave: :wave:, you have been suggested to review [this paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04123/joss.04123/10.21105.joss.04123.pdf) and [python library](https://github.com/Anaphory/lexedata/) for JOSS. Looking at your work and GitHub profile, I agree you are a very good fit.

Would you be available to review this submission?

[2022-02-04 14:12] magedhelmy1 commented on #4087
Thank you @Bisaloo for taking the time to clarify.
I have now extended the captions of the figures to include your feedback.
Please let me know if I can improve it further or if you have other questions.

[2022-02-04 14:14] Bisaloo commented on #4087
@whedon generate pdf

[2022-02-04 14:15] whedon commented on #4087
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04087/joss.04087/10.21105.joss.04087.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04087/joss.04087/10.21105.joss.04087.pdf) :page_facing_up: :point_left:

[2022-02-04 14:22] whedon opened #4132 "[PRE REVIEW]: LangToGroup: A Haskell package for group presentation construction from formal language"
**Submitting author:** @MaxVortman (<a href="http://orcid.org/0000-0003-0730-494X">Maksym Shamrai</a>)
**Repository:** <a href="https://github.com/YaccConstructor/LangToGroup" target ="_blank">https://github.com/YaccConstructor/LangToGroup</a>
**Version:** v1.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @ocramz, @JoyMitra
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :wa

[2022-02-04 14:22] whedon commented on #4132
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-02-04 14:22] whedon commented on #4132
Wordcount for `paper.md` is 746

[2022-02-04 14:22] whedon commented on #4132
[code]

[2022-02-04 14:22] whedon commented on #4132
[code]

[2022-02-04 14:22] whedon commented on #4132
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04132/joss.04132/10.21105.joss.04132.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04132/joss.04132/10.21105.joss.04132.pdf) :page_facing_up: :point_left:

[2022-02-04 14:25] Anaphory commented on #4123
@Bisaloo Good idea! Repo details are updated, the README-updating PR is waiting for the workflows to finish so it can merge.

[2022-02-04 14:41] alexander-pastukhov commented on #3901
@mikldk I did! (to the best of my ability :) )

[2022-02-04 16:06] bretsw commented on #4130
@whedon commands

[2022-02-04 16:06] whedon commented on #4130
Here are some things you can ask me to do:

[code]

[2022-02-04 16:06] bretsw commented on #4130
@whedon generate pdf

[2022-02-04 16:06] whedon commented on #4130
PDF failed to compile for issue #4130 with the following error:
[code]

[2022-02-04 16:21] jedbrown commented on #4070
@whedon add @psanan as reviewer

[2022-02-04 16:21] whedon commented on #4070
OK, @psanan is now a reviewer

[2022-02-04 16:25] jedbrown commented on #4070
Hi @psanan! :wave: Welcome to JOSS and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the Mandyoc repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria i

[2022-02-04 16:34] Bisaloo commented on #4123
@whedon add @xrotwang as reviewer

[2022-02-04 16:34] whedon commented on #4123
OK, @xrotwang is now a reviewer

[2022-02-04 16:35] Bisaloo commented on #4123
@xrotwang, amazing! Thanks for your help. Let me find a second reviewer and we can get started. I'll post instructions then but if you're already curious, you can read more about our process in our [online docs](https://joss.readthedocs.io/en/latest/index.html).

[2022-02-04 16:36] XzzX commented on #4115
# Reviewer report

## Comments
The software and paper fulfill almost all criteria from the checklist. The software is freely available on GitHub, uses a state-of-the-art build system (CMake), includes examples and unit tests, is tested regularly in multiple configurations via GitHub Actions, is documented via wiki pages available in the GitHub repository and contains a readme, open-source licence

[2022-02-04 16:36] bretsw commented on #4130
@whedon generate pdf

[2022-02-04 16:37] larkz commented on #3804
hello @Kevin-Mattheus-Moerman
I've addressed to two grammar/wording isseus.
To confirm, yes the release version is `0.0.4` you may change accordingly.

- To ask, what should the title of the Zenodo archive be? The authors match, but I looked at other JOSS papers and it seems like the pattern is {repo-name}:{some_comment}. Please let us know.

[2022-02-04 16:37] whedon commented on #4130
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04130/joss.04130/10.21105.joss.04130.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04130/joss.04130/10.21105.joss.04130.pdf) :page_facing_up: :point_left:

[2022-02-04 16:38] bretsw commented on #4130
I have updated the paper's citations and reference list, and the PDF proof looks good to me at this point.

[2022-02-04 16:55] Kevin-Mattheus-Moerman commented on #3997
@taylormcd I've started the review process. Here are some initial comments. I'll resume work early next week.

- [ ] On the [documentation site]() under `Limitations` it says `..More details about the convergence of this package may be found in the examples...`. The example link there is broken (it goes here which gives a 404: https://flow.byu.edu/GXBeam.jl/dev/@ref%20Nonlinear%20Analysis%20of%20a

[2022-02-04 17:02] brandons209 commented on #4093
@blthayer Great! If you need any help or want some example cases for testing let me know.

[2022-02-04 17:08] Kevin-Mattheus-Moerman commented on #4127
@jarvist this looks like your cup of tea :tea: would you be able to help edit this submission?  You have a lot on your plate it seems so I'll waitlist this for now but let me know if you could take it.

[2022-02-04 17:09] Kevin-Mattheus-Moerman commented on #4127
@mishioo I have waitlisted this submission for now since all editors in this domain are currently handling many other submissions. We'll continue once an editor becomes available.

[2022-02-04 17:15] Kevin-Mattheus-Moerman commented on #4130
@bretsw thanks for this submission. I have just flagged this work for additional scope review by our editorial board. This is common for software of this size (e.g. <1000 lines of code), and relates to our [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). Furthermore we will assess if this is in scope in terms of whether or

[2022-02-04 17:15] georgiastuart commented on #3651
Aside from the installation difficulties on Ubuntu 21.10 (which is more of a quirk of the OS and not, I think, something the author needs to address), BMM works as advertised. I found the documentation to be accessible and thorough and I was able to reproduce the examples. Pip installation works fine on Ubuntu 20.04 LTS and Rocky 8. I was not able to find another package that replicates the functi

[2022-02-04 17:21] Kevin-Mattheus-Moerman commented on #4131
@whedon invite @fraukewiese as editor

:wave: @fraukewiese do you think you can handle this submission? Thanks!

[2022-02-04 17:21] whedon commented on #4131
@fraukewiese has been invited to edit this submission.

[2022-02-04 17:24] bretsw commented on #4130
@Kevin-Mattheus-Moerman, thank you for taking a look and letting me know about the process. I'm hoping that the long history of commits and successful acceptance by rOpenSci will bode well. In any event, thank you for your consideration!

[2022-02-04 17:30] galessiorob commented on #4088
@whedon add @mwegrzyn as reviewer

[2022-02-04 17:31] Kevin-Mattheus-Moerman commented on #3804
@larkz the title should actually match that of the paper.

[2022-02-04 17:34] galessiorob commented on #4088
@whedon add @joaorodrigues as reviewer

[2022-02-04 17:34] whedon commented on #4088
OK, @joaorodrigues is now a reviewer

[2022-02-04 17:36] galessiorob commented on #4088
🎉 Thanks for volunteering to be reviewers @glatard @mwergrzyn and @joarodrigues!

I'll generate a "review issue" that will contain individual checklists to go through, feel free to get started at your earliest convenience, don't hesitate to ask if you need clarification or help - you can @mention me directly on the issue.

[2022-02-04 17:37] galessiorob commented on #4088
@whedon start review

[2022-02-04 17:37] whedon opened #4133 "[REVIEW]: Imagedata: A Python library to handle medical image data in NumPy array subclass Series"
**Submitting author:** @erling6232 (<a href="http://orcid.org/0000-0001-8268-1206">Erling Andersen</a>)
**Repository:** <a href="https://github.com/erling6232/imagedata" target ="_blank">https://github.com/erling6232/imagedata</a>
**Version:** 1.4.0
**Editor:** @galessiorob
**Reviewer:** @glatard, @mwegrzyn, @joaorodrigues
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Du

[2022-02-04 17:37] whedon commented on #4088
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4133.

[2022-02-04 17:37] #4088 closed

[2022-02-04 17:37] JoaoRodrigues commented on #4088
Thanks @galessiorob, quick question just to set expectations. What's the expected deadline for this review?

[2022-02-04 17:37] whedon commented on #4133
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @glatard, @mwegrzyn, @joaorodrigues it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2022-02-04 17:37] whedon commented on #4133
Wordcount for `paper.md` is 1653

[2022-02-04 17:37] whedon commented on #4133
[code]

[2022-02-04 17:37] whedon commented on #4133
[code]

[2022-02-04 17:38] whedon commented on #4133
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04133/joss.04133/10.21105.joss.04133.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04133/joss.04133/10.21105.joss.04133.pdf) :page_facing_up: :point_left:

[2022-02-04 17:46] galessiorob commented on #4088
@JoaoRodrigues we try to keep reviews within 3 to 8 weeks, but this may vary depending on the complexity of the paper. Does this timeline work for you?

[2022-02-04 17:49] JoaoRodrigues commented on #4088
It does, thanks!

[2022-02-04 17:56] cescalara commented on #4077
Hi @lucass-carneiro,

Thanks for your work on `QuasinormalModes.jl`. I started the review today, here are my questions/comments:

- At the moment it is not clear which dependencies are needed to run the tests/docs asopposed to the core code. The latest recommendation is to use separate `Project.toml` files inside `tests/` and `docs` to handle this - see https://pkgdocs.julialang.org/v1/creating-pa

[2022-02-04 18:15] streeve commented on #4115
Thanks for the quick review - as you've suggested we will focus on improving Cajita & dependent library documentation, as well as update the manuscript for similar efforts in the area

[2022-02-04 18:53] VivianePons commented on #3849
Hi, the second reviewer has withdrawn. I just contacted somebody else and I will try to find someone as soon as possible.

Best

Viviane

[2022-02-04 18:53] VivianePons commented on #3849
@whedon remove @ian-bunner from reviewer

[2022-02-04 18:53] whedon commented on #3849
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-04 18:54] VivianePons commented on #3849
@whedon commands

[2022-02-04 18:54] whedon commented on #3849
Here are some things you can ask me to do:

[code]

[2022-02-04 18:54] VivianePons commented on #3849
@whedon remove @ian-bunner as reviewer

[2022-02-04 18:54] whedon commented on #3849
OK, @ian-bunner is no longer a reviewer

[2022-02-04 18:56] lucydot commented on #3898
@tcaduser -  bumping this message up!

[2022-02-04 18:58] lucydot commented on #4014
Hello @jstse do you have any updates for us? It would good to have a feel for your progress on the points raised by the reviewers.

[2022-02-04 19:08] rkurchin commented on #3727
Here are some small editorial comments on the manuscript itself:
* line 10: there should be commas around "however" i.e. "numerical solutions can be found, however, and..."
* 17: since this list is only two items, I would remove the colon and just phrase it as: "...include transient photovoltage and current-voltage sweeps (including hysteresis)."
* 20: add comma after "evolving"
* 28: "automatised

[2022-02-04 19:08] rkurchin commented on #3727
@whedon check references

[2022-02-04 19:08] whedon commented on #3727
[code]

[2022-02-04 19:09] rkurchin commented on #3727
@ljakoster please also fix that one invalid DOI ;)

[2022-02-04 19:53] mbod opened #4134 "Installation: Does installation proceed as outlined in the documentation?"

[2022-02-04 19:53] whedon commented on #4134
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-02-04 19:53] #4134 closed

[2022-02-04 19:54] mbod commented on #4134
[code]

should be

[code]

in `README.md` and installation instructions

[2022-02-04 19:57] danielskatz commented on #4134
@mbod, note that you are writing in a closed issue.  you need to manually open a new issue instead in the software repository associated with the submission that you are reviewing.

[2022-02-04 21:15] larkz commented on #3804
@Kevin-Mattheus-Moerman unfortunately, I couldn't get the file to manually upload to the Zenodo archive, I think either there is a bug, or I'm not using it correctly. It is working on the sandbox, https://sandbox.zenodo.org/record/1007518#.Yf2TE-pKirw

I am just waiting until the bug/issue with Zenodo is resolved... https://github.com/zenodo/zenodo/issues/2290..., if you happen to know how to reso

[2022-02-04 22:17] larkz commented on #3804
@Kevin-Mattheus-Moerman, the previous Zenodo issue seems to have resolved itself (just waited for ~1 hr), we put the article up with a new DOI https://zenodo.org/record/5975821. Please update accordingly,

I think all the action items from your side are complete, let me know if you require anything else.

[2022-02-04 22:31] cgrudz commented on #4129
Hi @peanutfun, thanks so much, I'll be looking forward to hearing your recommendations for improvement.

Cheers,
Colin

[2022-02-04 23:07] MariaPoliti commented on #3829
@whedon generate pdf

@alberto-battistel @andrewtarzia As mentioned in a previous message, the documentation has been updated and additional examples have been added- see `doc/examples` folder.
If the documentation is not to a satisfactory level, we can add more examples/explanations.

@alberto-battistel  the manuscript version on the repository is the final one. It seems like the captions are nto

[2022-02-04 23:08] whedon commented on #3829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03829/joss.03829/10.21105.joss.03829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03829/joss.03829/10.21105.joss.03829.pdf) :page_facing_up: :point_left:

[2022-02-04 23:41] UTH-Tuan commented on #3727
accept

[2022-02-04 23:52] aaron-bray commented on #2555
I found, fixed and pushed the fix for item 1 from @ianhinder

I believe we are good

[2022-02-05 00:09] tcaduser commented on #3898
Sorry for the delay.  I have a DOI number reserved in Zenodo, and I will attempt to make a tagged release in the next 7 days.

Is the doi number of the proof, ``10.21105/joss.03898``, the one that is going to be on the final paper?

[2022-02-05 00:11] vitorsr commented on #3821
Dear professor Richard,

Thanks for notifying me for I had not received your answers. I apologize if
this caused any delay. I have now updated the review checklist.

This concludes my review.

My kind regards,

Vítor

On Fri, Feb 4, 2022 at 8:59 AM Frederic Richard ***@***.***>
wrote:

[2022-02-05 02:56] Assistedevolution commented on #4080
Provided author feedback following review of paper and repository.
Feedback requested providing clarity around what was being measured and why, More thought suggested into end use of the information. Requested more background (for the new reader) on the problem being solved.

Flagged in repo fixable package versioning issues with installation under Anaconda, (Note Miniconda is recommended, however

[2022-02-05 02:58] whedon commented on #4093
:wave: @SarthakJariwala, please update us on how your review is going (this is an automated reminder).

[2022-02-05 08:24] Kevin-Mattheus-Moerman commented on #3804
@whedon set 10.5281/zenodo.5975821 as archive

[2022-02-05 08:24] whedon commented on #3804
OK. <a href="https://doi.org/10.5281/zenodo.5975821" target="_blank">10.5281/zenodo.5975821</a> is the archive.

[2022-02-05 08:26] Kevin-Mattheus-Moerman commented on #3804
@whedon set 0.0.4 as version

[2022-02-05 08:26] whedon commented on #3804
OK. 0.0.4 is the version.

[2022-02-05 08:27] Kevin-Mattheus-Moerman commented on #3804
@whedon recommend accept

[2022-02-05 08:27] whedon commented on #3804
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-05 08:28] Kevin-Mattheus-Moerman commented on #3804
@whedon recommend-accept

[2022-02-05 08:28] whedon commented on #3804
[code]

[2022-02-05 08:28] whedon commented on #3804
[code]

[2022-02-05 08:28] whedon commented on #3804
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2928

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2928, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-05 08:30] Kevin-Mattheus-Moerman commented on #3804
Thanks @larkz looks like we are all set now.

[2022-02-05 08:30] Kevin-Mattheus-Moerman commented on #3804
@whedon accept deposit=true

[2022-02-05 08:30] whedon commented on #3804
[code]

[2022-02-05 08:31] whedon commented on #3804
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1489879387390545920) 👈 🐦🐦🐦

[2022-02-05 08:31] whedon commented on #3804
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2929
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03804](https://doi.org/10.21105/joss.03804)
2. If everything look

[2022-02-05 08:34] Kevin-Mattheus-Moerman commented on #3804
Congratulations on your publication @larkz! :tada:

Special thanks to @TimKam and @slim-patchy for their review efforts! And thank you @adi3 for editing!

[2022-02-05 08:34] #3804 closed

[2022-02-05 08:34] whedon commented on #3804
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03804/status.svg)](https://doi.org/10.21105/joss.03804)

**We need your help!**

Journal of Open Source Softwa

[2022-02-05 08:38] Kevin-Mattheus-Moerman commented on #3948
@whedon set 1.0.3 as version

[2022-02-05 08:38] whedon commented on #3948
OK. 1.0.3 is the version.

[2022-02-05 08:40] Kevin-Mattheus-Moerman commented on #3948
@bramvandijk88 @Bisaloo I have read the paper and inspected the archive. I only had to update the version since the archived version was 1.0.3. All seems in order now to proceed to acceptance.

[2022-02-05 08:40] Kevin-Mattheus-Moerman commented on #3948
@whedon accept deposit=true

[2022-02-05 08:40] whedon commented on #3948
[code]

[2022-02-05 08:41] whedon commented on #3948
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1489881908901203971) 👈 🐦🐦🐦

[2022-02-05 08:41] whedon commented on #3948
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2930
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03948](https://doi.org/10.21105/joss.03948)
2. If everything look

[2022-02-05 08:45] Kevin-Mattheus-Moerman commented on #3948
Congratulations @bramvandijk88 on your publication! :tada:

Thank you @emilydolson and @TimKam for your review efforts!!

Thanks @Bisaloo for editing this.

[2022-02-05 08:45] #3948 closed

[2022-02-05 08:45] whedon commented on #3948
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03948/status.svg)](https://doi.org/10.21105/joss.03948)

**We need your help!**

Journal of Open Source Softwa

[2022-02-05 08:50] Kevin-Mattheus-Moerman commented on #4074
@rhenkin @osorensen I have read the paper and inspected the archive and all seems in order to proceed with acceptance in JOSS.

[2022-02-05 08:50] Kevin-Mattheus-Moerman commented on #4074
@whedon accept deposit=true from branch paper

[2022-02-05 08:50] whedon commented on #4074
[code]

[2022-02-05 08:51] whedon commented on #4074
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1489884293988028417) 👈 🐦🐦🐦

[2022-02-05 08:51] whedon commented on #4074
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2931
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.04074](https://doi.org/10.21105/joss.04074)
2. If everything look

[2022-02-05 08:53] Kevin-Mattheus-Moerman commented on #4132
@MaxVortman can you check those potentially missing/invalid DOI's :point_up: you can update the paper here by calling: `@whedon generate pdf`. And you can also check the references by calling `@whedon check references`.

[2022-02-05 08:57] Kevin-Mattheus-Moerman commented on #4074
Congratulation @rhenkin on getting this work published in JOSS! :tada:

Thanks for editing @osorensen, and thanks @jonjoncardoso and @wiljnich for your review efforts.

[2022-02-05 08:58] Kevin-Mattheus-Moerman commented on #4132
@whedon invite @Nikoleta-v3 as editor

:wave: @Nikoleta-v3 are you able to handle this submission? Thanks

[2022-02-05 08:58] whedon commented on #4132
@Nikoleta-v3 has been invited to edit this submission.

[2022-02-05 09:02] Kevin-Mattheus-Moerman commented on #4090
@whedon invite @galessiorob as editor

[2022-02-05 09:02] whedon commented on #4090
@galessiorob has been invited to edit this submission.

[2022-02-05 09:04] Kevin-Mattheus-Moerman commented on #4106
@whedon assign me as editor

[2022-02-05 09:04] whedon commented on #4106
OK, the editor is @Kevin-Mattheus-Moerman

[2022-02-05 09:06] Kevin-Mattheus-Moerman commented on #4108
@jonathanHuwP have you implemented the fix indicated :point_up: ?

[2022-02-05 09:12] Kevin-Mattheus-Moerman commented on #4074
@openjournals/dev the DOI link does not show the paper pdf for me yet. It is taking longer than usual. I'll check in again later.

[2022-02-05 13:27] danielskatz commented on #4074
It's working for me now

[2022-02-05 17:04] rhenkin commented on #4074
Thanks @Kevin-Mattheus-Moerman! Also many thanks to @osorensen @jonjoncardoso @wiljnich

[2022-02-05 17:21] quynhneo commented on #3736
I raised an issue https://gitlab.com/fibreglass/pivc/-/issues/18

[2022-02-05 17:21] d-eggert commented on #4052
I extended the documentation further, we also released an updated version of the `dasf-messaging-python` package, make sure to use this dependency in your review/test projects: `demessaging==0.2.4`

Best,
Daniel

[2022-02-05 17:24] blthayer commented on #4093
@jgostick - it looks like I need a fresh invitation sent in order to be able to edit my checklist. When I went to the following URL, it said the invitation was expired: https://github.com/openjournals/joss-reviews/invitations

This isn't (yet) blocking me from performing my review.

Thanks!

[2022-02-05 17:32] quynhneo commented on #3736
The the documentation, can you also instruct beginner users on how to use openMP with PIVC? @fibreglass2

[2022-02-05 17:38] quynhneo commented on #3736
hi there, I raised an issue https://gitlab.com/fibreglass/pivc/-/issues/18

[2022-02-05 18:13] whedon commented on #4098
:wave: @seankmartin, please update us on how your review is going (this is an automated reminder).

[2022-02-05 19:36] blthayer commented on #4093
I'll use this comment to maintain a checklist of the issues which I've filed over in the author's repository.

- [ ] https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/27
- [ ] https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/28
- [ ] https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/29
- [ ] https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/30
- [ ] https://github.com/FSEC

[2022-02-05 19:37] blthayer commented on #4093
My review is currently blocked by https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/36, @brandons209

[2022-02-05 20:04] billtubbs commented on #4078
Hi @whedon.  I read the reviewer guidelines.  But I can't edit the checklist above. When I clicked on the accept invitation URL it says it has expired (not sure if I already did this before). Anyway, I will start the review.

[2022-02-05 20:13] billtubbs commented on #3922
Hi @christinahedges .  Just realized I asked a question to a bot (@whedon).  I have a problem in the #4708 review: See [this comment](https://github.com/openjournals/joss-reviews/issues/4078#issuecomment-1030690507).

Should this checklist be clickable by me?

[2022-02-05 20:56] tuelwer commented on #4087
This is very interesting work!

@Bisaloo unfortunately, I am currently busy and cannot review this submission in reasonable time. Please, feel free to contact me again in a couple of weeks if you have not found a reviewer by then!

[2022-02-05 21:13] danielskatz commented on #4078
@whedon re-invite @billtubbs as reviewer

if this doesn't work, please let me know - there's sometimes a timing issue

[2022-02-05 21:13] whedon commented on #4078
OK, the reviewer has been re-invited.

@billtubbs please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-02-05 21:54] jgostick commented on #4093
@whedon assign @blthayer as reviewer

[2022-02-05 21:54] whedon commented on #4093
OK, @blthayer is now a reviewer

[2022-02-05 21:57] jgostick commented on #4093
@whedon add @SarthakJariwala as reviewer

[2022-02-05 21:57] whedon commented on #4093
OK, @SarthakJariwala is now a reviewer

[2022-02-05 23:23] magedhelmy1 commented on #4087
@tuelwer thank you! and thanks for responding fast.

[2022-02-06 00:17] majensen commented on #4002
@wdduncan - you have time to review [this work](#4002) for [JOSS](https://joss.theo4j.org)? I can really use your assistance - thanks!
--@majensen

[2022-02-06 00:18] majensen commented on #3914
@whedon generate pdf from branch joss

[2022-02-06 00:22] majensen commented on #3914
@whedon are you listening

[2022-02-06 00:34] majensen commented on #3914
@editorialbot?

[2022-02-06 00:37] majensen commented on #3914
[ouwcld1whs3wc6z61hib(1).pdf](https://github.com/openjournals/joss-reviews/files/8009184/ouwcld1whs3wc6z61hib.1.pdf)

[2022-02-06 00:44] majensen commented on #3914
@chryswoods This is a really nice paper. "Tutorial-driven development" is a great idea, your team ought to write that up sometime.
To publish, I'll need you to please create an open archive of the code repo. You can do this with Zenodo, FigShare or other service. [Here](https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729) is a little tutorial on pushing to Zenodo.
JOSS

[2022-02-06 00:52] whedon commented on #3914
[code]

[2022-02-06 00:53] whedon commented on #3914
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-02-06 00:53] whedon commented on #3914
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03914/joss.03914/10.21105.joss.03914.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03914/joss.03914/10.21105.joss.03914.pdf) :page_facing_up: :point_left:

[2022-02-06 16:50] jGaboardi commented on #3330
@vissarion All my suggestions are tapped out. LOL.

[2022-02-06 18:54] ixjlyons commented on #4045
Overall, Octopus Sensing appears to be a nice library for getting up and running with experiments requiring simultaneous recording from multiple sensors. I came across a few (mostly minor) issues described below, but otherwise I recommend accepting.

### Minor issues

These are a few issues I noticed that might be good to have fixed prior to publication.

#### Documentation

- Typo: README, link t

[2022-02-06 21:43] Nikoleta-v3 commented on #4112
👋 @thelfer & @capitalaslash & @yangbai90 would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "NGSTrefftz: Add-on to NGSolve for Trefftz methods ". You can find more information at the t

[2022-02-06 21:45] Nikoleta-v3 commented on #4132
@whedon assign me as editor

[2022-02-06 21:46] whedon commented on #4132
OK, the editor is @Nikoleta-v3

[2022-02-06 21:47] Nikoleta-v3 commented on #4132
Thank you @MaxVortman! Could you:

- 1️⃣ check for potentially missing/invalid DOI's https://github.com/openjournals/joss-reviews/issues/4132#issuecomment-1030581850
- 2️⃣ take a look through https://bit.ly/joss-reviewers and suggest at least four potential reviewers 😄

[2022-02-06 23:27] eloisabentivegna commented on #2555
Fantastic, thanks @aaron-bray! Based on the reviewers' recommendation, we can start the pre-publication stage.

[2022-02-06 23:27] eloisabentivegna commented on #2555
@whedon generate pdf from branch joss

[2022-02-06 23:27] whedon commented on #2555
[code]

[2022-02-06 23:28] eloisabentivegna commented on #2555
@whedon check references from branch joss

[2022-02-06 23:28] whedon commented on #2555
[code]

[2022-02-06 23:28] whedon commented on #2555
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02555/joss.02555/10.21105.joss.02555.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02555/joss.02555/10.21105.joss.02555.pdf) :page_facing_up: :point_left:

[2022-02-06 23:28] whedon commented on #2555
[code]

[2022-02-07 00:19] dpsanders commented on #3866
@kellertuer I sent a PR with some minor edits for typos and grammar suggestions.

Could you please add a couple of references for the applications listed in the Statement of Need, and to the ManifoldsBase.jl package.

Otherwise this seems ready!

Final steps:
- Please archive it, e.g. at Zenodo, and paste the URL here.  Please make sure the title and author info in Zenodo are *exactly* the same as

[2022-02-07 00:24] lukeolson commented on #4125
@jedbrown @mayrmt scipy 1.8 was released yesterday, causing an import issue with pyamg.  I rolled out a new release today `4.2.1` -> `4.2.2`.  Just a heads-up in case the [version needs to change here](https://joss.readthedocs.io/en/latest/whedon.html?highlight=version#changing-the-software-version).

[2022-02-07 01:55] majensen commented on #4002
@sara-02 - would you be able to review [this work](#4002) for [JOSS](https://joss.theoj.org)? Thanks very much for your consideration! --@majensen

[2022-02-07 01:56] majensen commented on #3940
@keichi - please let us know how your work on the Binary-parser paper is going. Thanks!

[2022-02-07 02:15] nick-gorman commented on #3596
@timtroendle

I've been able to fix the issues you found.

The release tag of the software is v1.1.2

And the zendo doi is: 10.5281/zenodo.5989170

[2022-02-07 04:33] slayoo commented on #3219
@whedon generate pdf from branch master

[2022-02-07 04:33] whedon commented on #3219
[code]

[2022-02-07 04:34] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2022-02-07 05:58] kellertuer commented on #3866
Oh, sorry for my impatience there, I was not expecting that you would also read it again :)

I just accepted and merged your patch.

Concerning the references – sure, I can add those later this week (hopefully tomorrow). Is it ok if I just link to ManifoldsBase.jl (and Manifolds.jl), for example do their package names as links to the repositories?

To the final steps
* I would merge the joss branc

[2022-02-07 06:07] pkerpedjiev commented on #3916
Sorry, completely missed @Spartanzhao's comment about the README being updated. I'll take another look and continue the review this week.

[2022-02-07 08:40] thelfer commented on #4112
@Nikoleta-v3 Don't know Trefftz methods, but the method seems worth investigating. And it will be the occasion to learn a bit more about `NGSolve`, which I don't know either. If you don't expect the review for tomorrow,  I would be quite interested to review the paper. I could do that in the coming month.