[2021-10-15 02:46] diehlpk commented on #3465
@elwinter Could you please fix the issues so Bita can proceed with the review?

[2021-10-15 03:05] elwinter commented on #3465
Hmm. I thought I had fixed and closed all but one issue a couple of weeks ago, and was waiting for a response on my test coverage question.  Did i miss something? Please let me know and i will take care of it.

Thanks
Eric

Get Outlook for Android<https://aka.ms/ghei36>
________________________________
From: Patrick Diehl ***@***.***>
Sent: Thursday, October 14, 2021 10:47:07 PM
To: openjournals/j

[2021-10-15 05:04] whedon commented on #3819
OK, @mingzehuang is now a reviewer

[2021-10-15 05:05] osorensen commented on #3819
@whedon start review

[2021-10-15 05:05] whedon opened #3828 "[REVIEW]: ordPens: An R package for Selection, Smoothing and Principal Components Analysis for Ordinal Variables"
**Submitting author:** @ahoshiyar (<a href="http://orcid.org/0000-0002-5702-130X">Aisouda Hoshiyar</a>)
**Repository:** <a href="https://github.com/ahoshiyar/ordPens" target ="_blank">https://github.com/ahoshiyar/ordPens</a>
**Version:** 1.0.1
**Editor:** @osorensen
**Reviewer:** @fartist, @FranjoIM, @mingzehuang
**Archive:** <a href="https://doi.org/10.5281/zenodo.5718572" target="_blank">10.5281

[2021-10-15 05:05] whedon commented on #3819
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3828.

[2021-10-15 05:05] #3819 closed

[2021-10-15 05:06] whedon commented on #3828
Wordcount for `paper.md` is 1310

[2021-10-15 05:06] whedon commented on #3828
[code]

[2021-10-15 05:06] whedon commented on #3828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: :point_left:

[2021-10-15 06:29] afrubin commented on #3678
@csoneson Yes, I am happy with the submission (once the Bioconda reference is added).

[2021-10-15 07:38] mjsottile commented on #3051
@whedon generate pdf

[2021-10-15 07:44] mjsottile commented on #3051
@whedon set 10.5281/zenodo.5564389 as archive

[2021-10-15 07:48] whedon commented on #3051
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2675

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2675, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-15 07:52] fraukewiese commented on #3625
@whedon set 10.5281/zenodo.5566694 as archive

[2021-10-15 07:52] whedon commented on #3625
OK. <a href="https://doi.org/10.5281/zenodo.5566694" target="_blank">10.5281/zenodo.5566694</a> is the archive.

[2021-10-15 07:53] whedon commented on #3625
[code]

[2021-10-15 10:09] pdebuyl commented on #3418
Can you archive the repository on zenodo and provide here the corresponding DOI and version of the software?

[2021-10-15 10:52] oyvinht commented on #3735
@whedon @lungsi @mjsottile Here is my review:

**Background**
Diman is a software package for dimension analysis of symbolic formulas and equations. The package basics include the necessary mechanisms for defining these constructs in a programming language (Clojure). All of the seven SI units for dimensions are covered. The gist of the package is tools for automated derivation of dimensionless pro

[2021-10-15 11:39] arfon commented on #3051
@whedon accept deposit=true

[2021-10-15 11:40] whedon commented on #3051
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2677
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03051](https://doi.org/10.21105/joss.03051)
2. If everything look

[2021-10-15 11:45] ChrisW09 commented on #3719
@pps121 Regarding your second comment "For different OS variants, can you include steps for both bash and PowerShell so that general users with different OS can find this more useful?".

We tested our package on various OS variants, namely macOS, unix and windows.

We will add explanations for the installation for both bash and PowerShell. This will make the package more useful for the general use

[2021-10-15 11:51] whedon commented on #3625
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1448979786135752708) 👈 🐦🐦🐦

[2021-10-15 12:04] bmcfee commented on #3540
@whedon set v1.1 as version

[2021-10-15 12:05] whedon commented on #3540
[code]

[2021-10-15 12:27] whedon commented on #3540
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2680
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03540](https://doi.org/10.21105/joss.03540)
2. If everything look

[2021-10-15 13:16] danielskatz commented on #3782
@whedon set v1.1.1 as version

[2021-10-15 13:17] whedon commented on #3782
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-10-15 13:17] whedon commented on #3782
[code]

[2021-10-15 13:18] whedon commented on #3782
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2681

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2681, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-15 14:00] diehlpk commented on #3465
@elwinter @taless474 opened that issue https://github.com/elwinter/nnde/issues/22 in your repo. Could you please have a look into that?

[2021-10-15 14:42] soraxas commented on #3782
Hi @danielskatz the DOIs should be all good to go

[2021-10-15 14:53] whedon commented on #3823
[code]

[2021-10-15 14:53] whedon commented on #3678
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03678/joss.03678/10.21105.joss.03678.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03678/joss.03678/10.21105.joss.03678.pdf) :page_facing_up: :point_left:

[2021-10-15 14:56] alexismhill3 commented on #3678
Thanks everyone! @csoneson @afrubin I've added the Bioconda reference.

[2021-10-15 16:40] pps121 commented on #3719
Thanks for incorporating these points. Now it is fine.

[2021-10-15 16:59] whedon commented on #3546
OK. v1.2.0 is the version.

[2021-10-15 16:59] rkurchin commented on #3546
@whedon recommend-accept

[2021-10-15 17:00] whedon commented on #3546
[code]

[2021-10-15 17:27] ChrisW09 commented on #3719
@pps121 Thank you very much. Your comments and advice certainly helped us to improve the package and paper further!

[2021-10-15 17:29] ChrisW09 commented on #3719
@arfon There is good news. The reviewers already completed the review. Please let us know what the next steps are? Thank you!

[2021-10-15 17:30] christinahedges commented on #3817
@katiebreivik and @HeloiseS, just so you are aware this JOSS submission/paper is a joint publication with AAS Journals, i.e. this JOSS paper will be published together with another paper in one of the AAS journals. As part of this collaboration, AAS publishing makes a small donation to the running costs of JOSS. (as an example, in 2019, JOSS received $200 as a result of this collaboration).

If th

[2021-10-15 18:13] mjsottile commented on #3558
@whedon add @oyvinht as reviewer

[2021-10-15 18:13] whedon commented on #3558
OK, @oyvinht is now a reviewer

[2021-10-15 19:16] sbenthall commented on #3557
@whedon set 10.5281/zenodo.5562417 as archive

[2021-10-15 19:17] whedon commented on #3557
OK. 2.1.1 is the version.

[2021-10-15 19:17] sbenthall commented on #3557
Thank you for this excellent contribution, @AlbertWeichselbraun
I recommend this work to the editors for publication.

[2021-10-15 19:54] davan690 commented on #3220
Hi, still needing a review for this?

[2021-10-15 20:01] pdebuyl commented on #3418
It is up again.

[2021-10-15 20:17] alexander-pastukhov commented on #3789
Should I mention (how many of) them via @?

[2021-10-15 20:19] danielskatz commented on #3789
What you've done is great - now it's the job of the editor to actually invite some of them (or others)

[2021-10-15 20:20] mikldk commented on #3789
Please do not mention any with '@'. I'll invite some. Thanks for the suggestions.

[2021-10-15 20:22] pdebuyl commented on #3418
@whedon set 10.5281/zenodo.5573104 as archive

[2021-10-15 20:29] JohnVolk commented on #3418
OK, let me see if I can edit it in place, just a moment.

[2021-10-15 20:40] JohnVolk commented on #3418
Hi @pdebuyl I just updated the title on Zenodo and added all the project members as contributors.

Thanks for the feedback on the paper, happy to hear that and I really appreciate it.

As for the tutorial, I will add a note on that. Although this might have been resolved when I recently added the entire example directory to the PyPI package so if installing with PIP it should come through automati

[2021-10-15 20:52] oyvinht commented on #3735
Thank you, it works well now!

[2021-10-15 21:08] pdebuyl commented on #3418
Thanks @JohnVolk for the submission and for the positive exchanges with the reviewers!

[2021-10-15 21:08] whedon commented on #3418
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2686

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2686, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-15 21:08] pdebuyl commented on #3418
PS: now, one of the editors-in-chief of JOSS will take over.

[2021-10-15 21:12] apizzuto commented on #3772
I just had a look at all of the notebooks, and first and foremost, after running through them I have to say I'm really impressed with all of the notebooks and all of the examples that you provided. I had a good time running through all of the different model notebooks and seeing what SNEWPY can do.
However, I ran into a couple of small problems with some of the notebooks, and I had a request for t

[2021-10-15 22:09] chad-iris commented on #3619
Paper suggestions submitted: https://github.com/savage13/sacio/issues/2

[2021-10-16 00:33] jgostick commented on #3426
Hi All, I also appologize for my absence.  No excuse.  I have pinged @prasantapal several times via email and he's awol, so I will need to find another reviewer.  I am thinking that I might do it myself given how long this submission has been sitting, and it also happens to be right up my alley.

[2021-10-16 00:34] whedon commented on #3426
OK, @prasantapal is no longer a reviewer

[2021-10-16 00:34] whedon commented on #3426
OK, @jgostick is now a reviewer

[2021-10-16 00:35] jgostick commented on #3426
## Review checklist for @jgostick
### Conflict of interest

- [x] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [x] I confirm that I read and will adhere to th

[2021-10-16 02:46] jramirezcr commented on #3728
Dear @dpsanders.

I would like to review this submission. However, I don't have much experience using Julia, and I think this is a limitation.

[2021-10-16 07:31] whedon commented on #3646
OK, @a3sha2 is no longer a reviewer

[2021-10-16 07:32] chartgerink commented on #3646
@whedon check references

[2021-10-16 07:33] whedon commented on #3646
[code]

[2021-10-16 07:34] chartgerink commented on #3646
@whedon generate pdf

[2021-10-16 07:35] whedon commented on #3646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03646/joss.03646/10.21105.joss.03646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03646/joss.03646/10.21105.joss.03646.pdf) :page_facing_up: :point_left:

[2021-10-16 07:53] whedon commented on #3418
[code]

[2021-10-16 07:54] whedon commented on #3418
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1449282547230330881) 👈 🐦🐦🐦

[2021-10-16 07:54] whedon commented on #3418
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2687
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03418](https://doi.org/10.21105/joss.03418)
2. If everything look

[2021-10-16 07:56] arfon commented on #3546
@whedon accept deposit=true

[2021-10-16 07:57] whedon commented on #3546
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1449283419406577667) 👈 🐦🐦🐦

[2021-10-16 07:57] whedon commented on #3546
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2688
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03546](https://doi.org/10.21105/joss.03546)
2. If everything look

[2021-10-16 07:58] arfon commented on #3557
@whedon accept deposit=true

[2021-10-16 07:58] whedon commented on #3557
[code]

[2021-10-16 07:59] whedon commented on #3557
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1449283768183836673) 👈 🐦🐦🐦

[2021-10-16 07:59] whedon commented on #3557
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2689
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03557](https://doi.org/10.21105/joss.03557)
2. If everything look

[2021-10-16 08:51] chartgerink commented on #3646
Dear @martin3141 👋

Thanks for bearing with us on this review process of your package. It has taken a bit longer than I had hoped - and I am also getting the hang of this as a first-time editor.

The paper presents an important package for R environments, which up to now has been more readily available in Python environments.

Based on the review, I wanted to ensure the installation worked on Linu

[2021-10-16 09:36] joaomcteixeira commented on #3646
@martin3141

Try to find a way to make installation instructions using Anaconda, as we discussed in the issue. Only one or two the dependencies were not installable. Almost everybody uses Anaconda right now. Those who don't, won't care if you ask them to install Anaconda, and those who do, will actually appreciate you have instructions for Anaconda. You can also try a folder-contained Miniconda in

[2021-10-16 10:39] whedon commented on #3418
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03418/status.svg)](https://doi.org/10.21105/joss.03418)

**We need your help!**

Journal of Open Source Softwa

[2021-10-16 10:41] arfon commented on #3546
@cmbiwer, @mikapfl – many thanks for your reviews here and to @rkurchin for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@fgjorup – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-10-16 10:41] #3546 closed

[2021-10-16 10:41] whedon commented on #3546
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03546/status.svg)](https://doi.org/10.21105/joss.03546)

**We need your help!**

Journal of Open Source Softwa

[2021-10-16 13:08] arfon commented on #3719
@ArneTillmann – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2021-10-16 14:22] martin3141 commented on #3646
Dear @chartgerink,

Thanks for your final checks and suggestions.

1) References fixed.
2) I wasn't able to reproduce your problem, but the install commands are slightly different for Ubuntu 21.10, so perhaps this is the cause. I've added instructions for that specific version to the main github page.
3) Checks fixed. Hopefully you can see from : [https://github.com/martin3141/spant/actions/runs/1

[2021-10-16 16:08] lantunes commented on #3608
@blsqr regarding you comment about the scope of the library, I have added a sentence to the `README.md`, and a *Scope* section to the paper, to clarify this issue. The relevant commit is here: https://github.com/lantunes/cellpylib/pull/23/commits/336207968dfe8d9cd46120d10f9cd6184e4b45e3.

[2021-10-16 16:21] gkthiruvathukal commented on #3229
@whedon add @alberto-battistel as reviewer

[2021-10-16 16:21] whedon commented on #3229
OK, @alberto-battistel is now a reviewer

[2021-10-16 16:22] whedon opened #3829 "[REVIEW]: HARDy: Handling Arbitrary Recognition of Data in Python"
**Submitting author:** @MariaPoliti (<a href="http://orcid.org/0000-0002-5815-3371">Maria Politi</a>)
**Repository:** https://github.com/EISy-as-Py/hardy
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @gkthiruvathukal
**Reviewers:** @andrewtarzia, @alberto-battistel
**Archive:** 10.5281/zenodo.6339767

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-10-16 16:22] whedon commented on #3229
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3829.

[2021-10-16 16:22] #3229 closed

[2021-10-16 16:22] whedon commented on #3829
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @andrewtarzia, @alberto-battistel it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2021-10-16 16:22] whedon commented on #3829
[code]

[2021-10-16 16:22] whedon commented on #3829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03829/joss.03829/10.21105.joss.03829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03829/joss.03829/10.21105.joss.03829.pdf) :page_facing_up: :point_left:

[2021-10-16 16:27] gkthiruvathukal commented on #3291
@zeroset  Can you please follow up to let us know whether you agree with the changes I proposed above? @cedricchevalier19 agrees with the idea. We would only move toward acceptance if @bshoshany can address all of these points.

[2021-10-16 16:28] gkthiruvathukal commented on #3292
@markheckmann This is fine. We'll look for your follow-up by the end of October.

[2021-10-16 16:51] ayush-1506 commented on #3052
Hi @gkthiruvathukal @danielskatz sorry to keep you waiting. There are a few reviews on the repo side that we're having trouble resolving and I don't have an ETA which means we've unfortunately reached a limbo here. I think we might have to reject or mark if stale for the moment. Thanks a lot for your time and effort.
I'll add another re-submission in the future once those issues get resolved.

[2021-10-16 18:19] chad-iris commented on #3619
Context for code in README/documentation: https://github.com/savage13/sacio/issues/4

[2021-10-16 18:42] kanishkan91 commented on #3709
@AlexanderJuestel  I am going through this review and am adding comments as I go through. I hope to be done by Sunday night. But there is one particular feature that I think would highlight the utility of what you have built much more. Also considering the functionality already built, I think this would be low hanging fruit. I have created an issue already but I add the text from the issue below s

[2021-10-16 19:02] arfon commented on #3052
OK thanks @ayush-1506. I agree I think it's time to close this review.

@arcuri82, @mdpiper, @gkthiruvathukal – many thanks for your efforts here, sorry this submission didn't make it :-(

[2021-10-16 19:02] arfon commented on #3052
@whedon reject

[2021-10-16 19:04] chad-iris commented on #3619
Suggestion for paper Summary: https://github.com/savage13/sacio/issues/5

[2021-10-16 19:07] arfon commented on #2495
@whedon reject

@afialkov, @Stefan-Heimersheim, @eloisabentivegna – many thanks for your efforts here. Sorry this submission didn't work out.

@EGaraldi – this submission is being rejected due to lack of activity on your part.

[2021-10-16 19:07] whedon commented on #2495
Paper rejected.

[2021-10-16 19:09] arfon commented on #2692
@SteveViss, @62442katieb – it looks like this submission might need you to take another look. Could you review the latest changes and update your checklists accordingly? Many thanks!

[2021-10-16 19:12] arfon commented on #2780
@lorenanicole – this submission has now been under review for over a year. I propose that if there isn't a major revision by the authors in the next two weeks, we proceed to reject this submission.

[2021-10-16 19:18] arfon commented on #2780
@whedon assign me as editor

Unfortunately @lorenanicole is no longer able to edit this submission so I'll be taking over from here.

[2021-10-16 19:20] arfon commented on #2731
@whedon assign me as editor

Unfortunately @lorenanicole is no longer able to edit this submission so I'll be taking over from here.

[2021-10-16 19:21] arfon commented on #3376
@whedon assign me as editor

Unfortunately @lorenanicole is no longer able to edit this submission so I'll be taking over from here.

[2021-10-16 19:26] chad-iris commented on #3619
@danielskatz My review is complete.  When the 4 issues I filed are addressed (https://github.com/savage13/sacio/issues) I recommend accepting the submission.

[2021-10-16 19:34] AlexanderJuestel commented on #3709
@kanishkan91 thanks for the comments so far! I hope to get back to them at the beginning of next week!

[2021-10-16 21:25] danielskatz commented on #3619
Thanks @chad-iris!

[2021-10-16 21:26] avik-pal commented on #2606
Yes the latest pdf has the updated references

[2021-10-16 22:59] taless474 commented on #3628
@felipefr Are you interested in reviewing this?

[2021-10-17 14:13] whedon opened #3830 "[PRE REVIEW]: sknet: A Python framework for Machine Learning in Complex Networks"
**Submitting author:** @TNanukem (<a href="http://orcid.org/0000-0001-5675-554X">Tiago Toledo Junior</a>)
**Repository:** <a href="https://github.com/TNanukem/scikit-net/" target ="_blank">https://github.com/TNanukem/scikit-net/</a>
**Version:** v0.0.1
**Editor:** @osorensen
**Reviewers:** @dvysardana, @drj11
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Du

[2021-10-17 14:13] whedon commented on #3830
PDF failed to compile for issue #3830 with the following error:
[code]

[2021-10-17 14:15] Kevin-Mattheus-Moerman commented on #3830
@whedon generate pdf from branch docs/joss_paper

[2021-10-17 14:16] whedon commented on #3830
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03830/joss.03830/10.21105.joss.03830.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03830/joss.03830/10.21105.joss.03830.pdf) :page_facing_up: :point_left:

[2021-10-17 14:24] danielskatz commented on #3830
@whedon check references from branch docs/joss_paper

[2021-10-17 18:39] martinfleis commented on #3812
@arfon Sorry, I won't be able to take care of this one right now. I can do that in about two weeks if you won't find anyone in the meantime.

[2021-10-17 19:34] arfon commented on #3446
@n3011 – please let us know your intent with this submission. If we don't hear back from you in the next couple of weeks that you're planning on addressing the reviewer feedback then we will proceed to reject this submission.

[2021-10-18 02:00] fboehm commented on #3417
@biblicabeebli - it would be great if the remaining issues can be resolved by Halloween. Is that a reasonable timeline for you?

[2021-10-18 02:31] iannesbitt commented on #2565
Hi all, the requested changes have been added and merged to master. In particular:
- all core modules are tested explicitly now, if applicable
- code coverage is now implemented using python-cc (a badge has been added to represent this)

Apologies for the delay...I needed ample time to make sure this was done as thoroughly as possible.
If I missed anything, let me know. Cheers and thank you again

[2021-10-18 02:35] arbennett commented on #3175
# Summary

HyRiver is the high level interface to a number of APIs for accessing, analyzing, and visualizing datasets related to hydrologic modeling. It provides a unified interface and is implemented in modern python in a way that is easily scriptable and extensible into larger workflows. HyRiver mainly addresses problems of either setting up large/complex hydrologic models or doing further analy

[2021-10-18 06:37] hugoledoux commented on #2184
I would agree with this 👍

[2021-10-18 06:53] arfon commented on #3790
@whedon re-invite @hiraksarkar as reviewer

[2021-10-18 07:29] adi3 commented on #3490
@destogl - 👋 please update us on how your review is going

[2021-10-18 07:39] will-rowe commented on #3825
Hi there. Sorry for the delay. This sounds great.

[2021-10-18 07:44] Mkoopm commented on #3727
@UTH-Tuan, if you could give me some information regarding your installation (operating system, compiler version, code version, which error message you get), I can help you debug. Just let me know.

[2021-10-18 07:45] mfleschutz commented on #3625
Exciting! Again, thank you @nmstreethran, @olejandro, @fraukewiese, and @arfon for your efforts.

[2021-10-18 11:33] AndreasPhilippi commented on #3429
@arfon What is the next step after both kramea and g4brielvs have completed the review checklist?

[2021-10-18 12:00] martin3141 commented on #3646
Thanks @joaomcteixeira, your instructions worked for me and have been added to the README.md.

[2021-10-18 12:10] jbytecode commented on #3448
@koaning - as it looks like you're unable to make your changes currently, I'm going to mark this submission as `paused` . Please let me know when you're ready to work on this submission again.

[2021-10-18 12:35] crvernon commented on #3709
:wave: @kanishkan91 - thanks so much for your thoughtful review and feedback!  I am sure @AlexanderJuestel will find much value in these.  As far as additional features go that do not directly address the requirements of the reviewer checklist, we generally do not require these; however, the author may find that these suggestions strengthen the submission and choose to implement them.  Again, than

[2021-10-18 12:36] mhesselbarth commented on #3811
@lionel68 @tretherington
Thanks for the helpful and good comments. I will start working on them and push changes to the `joss` branch!

[2021-10-18 12:57] osorensen commented on #3805
@janfreyberg @wmvanvliet @ixjlyons would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-10-18 13:55] ArneTillmann commented on #3719
10.5281/zenodo.5575835

[2021-10-18 14:00] osorensen commented on #3805
Excellent, then we have two reviewers and are ready to start!

[2021-10-18 14:02] blsqr commented on #3608
Thanks, @lantunes! I have left a few minor comments in https://github.com/lantunes/cellpylib/pull/23#pullrequestreview-782006416 and have opened an issue (https://github.com/lantunes/cellpylib/issues/24) regarding my last open point in the review checklist.

[2021-10-18 15:38] oliviaguest commented on #3638
@mstimberg oh, that's very kind of you. I am happy for you to decide here how you feel about reviewing this and I am sure your review will be appreciated, useful, and constructive no matter what.

[2021-10-18 17:50] christinahedges commented on #3783
Hi @patricialarsen and @smsharma, I think the last comments were two weeks ago, just wanted to check in how your reviews are coming? It's ok if you need some more time, but maybe drop a comment if you feel you will need a lot more time. @smsharma we haven't heard from you on the thread yet so just wanted to check in.

[2021-10-18 18:07] JostMigenda commented on #3772
As you say, detectors are all implemented in SNOwGLoBES, so that’s not part of SNEWPY. [SNOwGLoBES’ documentation](https://github.com/SNOwGLoBES/snowglobes/tree/master/doc) has info on how to add a detector, though.

Many thanks for the thorough check of example notebooks and tests! I’ll respond in the respective issues.

[2021-10-18 18:46] whedon commented on #3578
Submission flagged for editorial review.

[2021-10-18 19:43] lungsi commented on #3735
Comments on the "State of the field" is given in the later paragraphs under the section "Statement of need".

In addition to those mentioned above by @oyvinht I have found [55 dimensional related software products](https://lungsi-slides.github.io/dataclub/icn/2021July26/index.html#/5/2) (as cited above (Sharma, 2021)&mdash;obsolete and active ones. The Clojure based units2 (https://github.com/mfey

[2021-10-18 22:31] rkurchin commented on #3781
👋 Hi @stuartcampbell and @ksunden, just checking in on the status of this!

[2021-10-19 00:50] diehlpk commented on #3465
@elwinter I briefly read the paper and have the following remarks, so far

- [ ] Please add the city, state, and country to the affiliation
- [ ] Provide some reference to PyTorch and TensorFlow 2. In addition, I think the related work section is really sparse and some mention of other packages and how they differ would be beneficial for the reader.
- [ ] You mention that FEM and FDM can be diffic

[2021-10-19 01:14] rashti-alireza commented on #3703
Hi @rkurchin,
Yes, I recommend to accept this great work done by GRChombo group, provided @Sbozzolo agrees too.

[2021-10-19 03:35] AKUMAR0019 commented on #3578
@osorensen The linear regression tool uses the REST-API to query NIDM files which is located through this link (https://github.com/incf-nidash/PyNIDM/blob/master/nidm/experiment/tools/rest.py) and should be added to the lines of code in the linear regression tool to get an accurate estimate.  In our interpretation of the JOSS guidelines, the total lines of code exceeds the journal minimum.  Furthe

[2021-10-19 06:41] mikldk commented on #3789
@nhtran93: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-10-19 07:16] arfon commented on #2606
@whedon set 10.5281/zenodo.5575758 as archive

[2021-10-19 07:16] whedon commented on #2606
OK. <a href="https://doi.org/10.5281/zenodo.5575758" target="_blank">10.5281/zenodo.5575758</a> is the archive.

[2021-10-19 07:17] whedon commented on #3812
OK, the editor is @rkurchin

[2021-10-19 07:19] whedon commented on #2606
[code]

[2021-10-19 07:19] arfon commented on #3719
@whedon set 10.5281/zenodo.5575835 as archive

[2021-10-19 07:19] whedon commented on #3719
[code]

[2021-10-19 07:19] whedon commented on #3719
[code]

[2021-10-19 07:21] arfon commented on #2606
@whedon accept deposit=true from branch ap/joss_paper

[2021-10-19 07:26] arfon commented on #3719
@ArneTillmann – could you take a look at the DOI suggestions from @whedon above? Also, `10.5555/1953048.2078195` doesn't resolve – can you check this reference?

[2021-10-19 07:35] arfon commented on #2606
@NMontanaBrown, @terrytangyuan – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@avik-pal – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-10-19 07:50] whedon commented on #3719
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03719/joss.03719/10.21105.joss.03719.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03719/joss.03719/10.21105.joss.03719.pdf) :page_facing_up: :point_left:

[2021-10-19 08:08] xuanxu commented on #3641
@whedon check references

[2021-10-19 08:08] whedon commented on #3641
[code]

[2021-10-19 08:12] whedon opened #3831 "[PRE REVIEW]: Rasusa: Randomly subsample sequencing reads to a specified coverage"
**Submitting author:** @mbhall88 (<a href="http://orcid.org/0000-0003-3683-6208">Michael Hall</a>)
**Repository:** <a href="https://github.com/mbhall88/rasusa" target ="_blank">https://github.com/mbhall88/rasusa</a>
**Version:** 0.6.0
**Editor:** @mikldk
**Reviewers:** @k3yavi, @holtgrewe
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-10-19 08:13] fraukewiese commented on #3574
@szkafander : Thank you very much for your review! And thanks for the patience with the non-working review-invite link.

[2021-10-19 08:24] noah80 commented on #3574
Thanks for the review!

- Build instructions: Good idea. I'll add those.
- Downloadable Manual: I'll add a link.
- Python Wrapper:  Good point. I'll add that.
- Default Path: It's in the settings.
- Time Zone Bug: Will be fixed soon.

I'll update this thread as soon as there is a new version. Hope that this is ok?

[2021-10-19 09:13] biblicabeebli commented on #3417
I'll ping my colleagues.  I've been cc'd on most of the relevant enails and I'm currently trying to bring up some internal infrastructure to pull topics stuck in email threads to more general awareness and visibility.

The general assessment that I'm not the one to address the paper issues directly is correct.

[2021-10-19 09:19] fraukewiese commented on #3800
@kramea @jordanperr – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [AixCaliBuHA: Automated calibration of building and HVA

[2021-10-19 10:21] ChrisW09 commented on #3719
@arfon Please let us know if everything is okay now. Otherwise, we will implement any requested changes asap. We would also like to thank you for this great review process!

[2021-10-19 10:52] arfon commented on #3719
@whedon recommend-accept

[2021-10-19 10:53] whedon commented on #3719
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2693

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2693, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-10-19 10:54] whedon commented on #3719
[code]

[2021-10-19 11:02] ChrisW09 commented on #3719
@arfon Thank you! Somehow there is an error such that the PDF is not shown on the JOSS website?

[2021-10-19 11:08] arfon commented on #3719
@linuxscout, @pps121 – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ArneTillmann @ChrisW09 – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-10-19 11:09] whedon commented on #3429
[code]

[2021-10-19 11:17] Morsey187 commented on #3270
Hi @EleonoraVagnoni,
It looks like you need to install the missing dependencies listed in that screenshot, for IOS that would be watchman which you can do by following the instructions [here](https://facebook.github.io/watchman/docs/install.html), or if you have [homebrew](https://brew.sh/) installed you can do this by running `brew install watchman`.
Similarly with the Andriod build, you'll have

[2021-10-19 12:03] ArneTillmann commented on #3719
@arfon @pps121 @linuxscout thank you all very much for the help and constructive feedback.
Nothing but the best to all of you!

[2021-10-19 12:19] whedon commented on #3429
[code]

[2021-10-19 12:31] #3429 closed

[2021-10-19 12:34] arfon commented on #3719
@ChrisW09 – this is almost certainly your browser caching the old GitHub Pages response. I assure you this will automatically fix itself over the coming hours (and doesn't affect new visitors to the paper page)

[2021-10-19 14:05] whedon opened #3832 "[REVIEW]: Systole: A python package for cardiac signal synchrony and analysis"
**Submitting author:** @LegrandNico (<a href="http://orcid.org/0000-0002-2651-4929">Nicolas Legrand</a>)
**Repository:** <a href="https://github.com/embodied-computation-group/systole/" target ="_blank">https://github.com/embodied-computation-group/systole/</a>
**Version:** v0.2.2
**Editor:** @osorensen
**Reviewers:** @axel-loewe, @janfreyberg
**Archive:** <a href="https://doi.org/10.5281/zenodo.5

[2021-10-19 14:05] #3805 closed, assigned to osorensen, axel-loewe

[2021-10-19 14:05] whedon commented on #3832
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @axel-loewe it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss

[2021-10-19 14:34] whedon opened #3833 "[PRE REVIEW]: Annoroad Browser: A multi-omic visualization tool"
**Submitting author:** @Spartanzhao (<a href="http://orcid.org/0000-0001-5293-820X">Yue Zhao</a>)
**Repository:** <a href="https://github.com/Spartanzhao/Annoroad-Browser/" target ="_blank">https://github.com/Spartanzhao/Annoroad-Browser/</a>
**Version:** v.1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-10-19 14:38] whedon opened #3834 "[PRE REVIEW]: flowTorch - a Python library for analysis and reduced-order modeling of fluid flows"
**Submitting author:** @AndreWeiner (<a href="http://orcid.org/0000-0001-5617-1560">Andre Weiner</a>)
**Repository:** <a href="https://github.com/FlowModelingControl/flowtorch" target ="_blank">https://github.com/FlowModelingControl/flowtorch</a>
**Version:** v1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @akaptano, @JaroslavHron, @salrm8, @hkjeldsberg
**Managing EiC:** Kevin M. Moerman

[2021-10-19 14:38] whedon commented on #3834
[code]

[2021-10-19 14:46] Kevin-Mattheus-Moerman commented on #3833
@openjournals/dev can you see what went wrong with the paper compilation? :point_up:

[2021-10-19 14:47] whedon opened #3835 "[PRE REVIEW]: PICOS: A Python interface to conic optimization solvers"
**Submitting author:** @Viech (<a href="http://orcid.org/0000-0002-0190-2693">Maximilian Stahlberg</a>)
**Repository:** <a href="https://gitlab.com/picos-api/picos" target ="_blank">https://gitlab.com/picos-api/picos</a>
**Version:** v2.3
**Editor:** @melissawm
**Reviewers:** @sfuxy, @marwahaha
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-10-19 14:52] Kevin-Mattheus-Moerman commented on #3834
@whedon assign me as editor

[2021-10-19 14:53] whedon opened #3836 "[PRE REVIEW]: GGLasso - a Python package for General Graphical Lasso computation"
**Submitting author:** @fabian-sp (<a href="http://orcid.org/0000-0002-0673-9944">Fabian Schaipp</a>)
**Repository:** <a href="https://github.com/fabian-sp/GGLasso" target ="_blank">https://github.com/fabian-sp/GGLasso</a>
**Version:** v0.1.4
**Editor:** @gkthiruvathukal
**Reviewers:** @papachristoumarios, @jameschapman19
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :w

[2021-10-19 14:53] whedon commented on #3836
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-19 14:57] whedon opened #3837 "[PRE REVIEW]: compareMCMCs: An R package for studying MCMC efficiency"
**Submitting author:** @perrydv (<a href="http://orcid.org/0000-0002-8329-6796">Perry de Valpine</a>)
**Repository:** <a href="https://github.com/nimble-dev/compareMCMCs/" target ="_blank">https://github.com/nimble-dev/compareMCMCs/</a>
**Version:** 0.5.0
**Editor:** @fabian-s
**Reviewers:** @rowlandseymour, @tbrown122387
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :w

[2021-10-19 15:03] whedon commented on #3837
[code]

[2021-10-19 15:06] muellsen commented on #3836
@whedon generate pdf

[2021-10-19 15:27] Viech commented on #3835
Hello!

The two proposed DOIs seem correct; I added both to `paper.bib`. Note that the journal paper [here](https://dl.acm.org/doi/10.5555/2946645.3007036) has a DOI in the URL but [doi.org does not recognize it](https://dx.doi.org/10.5555/2946645.3007036), so I left it without one.

Making my co-author @gsagnol aware of this review.

@whedon check references from branch joss

[2021-10-19 16:10] whedon commented on #3837
[code]

[2021-10-19 17:30] kramea commented on #3800
Hi, I cannot review this at the moment. However I would like to recommend my colleague https://github.com/samanmostafavi He is a domain expert and has a lot of experience in building and HVAC systems

[2021-10-19 17:32] will-rowe commented on #3825
Thanks Luiz. Hi @Ebedthan - it would be great if you could review?

[2021-10-19 17:49] whedon commented on #3825
OK, @Ebedthan is now a reviewer

[2021-10-19 17:52] will-rowe commented on #3825
@lskatz - would you be willing to review this?

[2021-10-19 18:07] will-rowe commented on #3825
Oops, sorry. Long day!

[2021-10-19 18:40] KristinaRiemer commented on #3383
Awesome, thank you so much for your reviews @jsta and @fsanchez-trigueros!

@KristianNelson the next steps are to review the paper and archive the code, and then recommend acceptance to the EiCs. I'm first going to review the paper to check for minor edits needed in the text and references, and it is helpful for you @KristianNelson to also review it.

[2021-10-19 18:40] KristinaRiemer commented on #3383
@whedon check references

[2021-10-19 18:45] KristinaRiemer commented on #3467
@Shyentist the DOI in the generated PDF will be the one for the published paper. It's actually generated from the review issue #, which is 3467 for your submission. I wasn't actually sure about how DOIs were created, I had to ask someone else, so thanks for bringing this up! Feel free to add that DOI to the app and then do the release and archive.

[2021-10-19 19:14] melissawm commented on #3835
@whedon assign @melissawm as editor

[2021-10-19 20:59] Kevin-Mattheus-Moerman commented on #3836
@whedon invite @gkthiruvathukal as editor

[2021-10-19 23:57] RodDalBen commented on #3449
@takuma929, thank you for your comments and suggestions.  I have posted my response [here](https://github.com/RodDalBen/SHINE_color/issues/8#issuecomment-947192106).

[2021-10-20 00:25] cheginit commented on #3175
@kthyng Since @arbennett finished his review, is there anything else that I need to do?

[2021-10-20 04:10] gkthiruvathukal commented on #3836
@Kevin-Mattheus-Moerman Thanks for the invite.

@fabian-s Beginning with this submission, I am asking all authors to comment on why their proposed package cannot be submitted to the upstream projects already addressing similar issues. In this case, it would be `scikit-learn`, since the "single Lasso" technique is mentioned in your paper as related work.  Please keep in mind that your answer does n

[2021-10-20 07:01] vissarion commented on #3330
@jGaboardi how major is the revision / rework you are working on? Does it make sense for a reviewer that didn't start the review yet to start it now or is it better to wait until you finish https://github.com/pysal/spopt/issues/196 ?

[2021-10-20 09:27] arfon commented on #3291
Got it. Thanks. I'll proceed now with the withdrawal on behalf of the author.

[2021-10-20 09:27] arfon commented on #3291
@whedon withdraw

[2021-10-20 09:28] #3291 closed

[2021-10-20 09:28] roderickmackenzie commented on #3727
@kostergroup Hi, thanks for your answer. I'm still confused about:
*How the charge for bulk traps in equation 2.1 i.e. C(x) links to equation 2.23.
*How is C(x) is calculated is not in the manual and I think the term needs breaking down term by term, please give a term for trapped electrons, trapped holes, and ions also listing the doping terms. I find C(x) confusing, maybe just spell out the term

[2021-10-20 09:55] eferrea commented on #3638
Thanks @mstimberg for taking the review.

[2021-10-20 10:02] ljakoster commented on #3727
@roderickmackenzie <https://github.com/roderickmackenzie>
*How the charge for bulk traps in equation 2.1 i.e. C(x) links to equation
2.23.
C(x) is simply the sum of all charged species at x. For bulk traps, their
contribution follows from SRH statistics as described, for example, in  W.
Shockley, W. T. Read, Phys. Rev. 1952, 87, 835–842. Eq. 2.23 only describes
the corresponding recombination rate

[2021-10-20 11:45] telatin commented on #3825
Hello everyone, I'm happy to review this if needed!

[2021-10-20 13:27] brovelli commented on #3746
Thanks @madvn for accepting to review Frites. I hope you will find it interesting. In fact, I have seen you have developed an Information theory toolbox as well, also using PID measures. We are also currently working on them, probably adding them to the next release of Frites.

[2021-10-20 13:27] crvernon commented on #3709
:mega: Mid-week rally!  Looks like @AlexanderJuestel and @kanishkan91 have a good dialogue going and are keeping the review progressing.

:wave: @omshinde - Just checking in to see how things are going?  Let me know if you have any questions.

❗ @kanishkan91 and @omshinde - Don't forget to keep you checklist up-to-date as you work through the review.  Thanks!

:clap: Keep up the good work!

[2021-10-20 15:03] csoneson commented on #3818
👋🏻 @lindemann09, @Metafrancois - would you be interested in reviewing this submission for JOSS?

[2021-10-20 15:21] deniederhut commented on #3652
Hey @fabian-s yeah I should have some time to take a look at this late next week. Would you mind asking whedon to remind me? Thanks

[2021-10-20 15:48] #2184 closed

[2021-10-20 16:09] diehlpk commented on #3390
@Muhao-Chen Could you please address the issues, so the reviewers can proceed. Please notify them here, so the know when to resume their reviews.

[2021-10-20 16:13] arfon commented on #2780
@whedon remind me in two weeks

[2021-10-20 16:15] fabian-s commented on #3652
@whedon add @deniederhut  as reviewer

[2021-10-20 16:16] whedon commented on #3652
Reminder set for @deniederhut in eight days

[2021-10-20 16:18] meg-simula commented on #3721
Quick update: I'm actively searching for a second reviewer @mithun218, will let you know of further updates.

[2021-10-20 16:19] whedon commented on #3746
OK, @madvn is now a reviewer

[2021-10-20 16:25] meg-simula commented on #3714
Excellent, thank you @melund, @alcantarar and @felixchenier. I'll do a final pass now.

[2021-10-20 16:26] meg-simula commented on #3714
@whedon generate pdf

[2021-10-20 16:27] whedon commented on #3714
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03714/joss.03714/10.21105.joss.03714.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03714/joss.03714/10.21105.joss.03714.pdf) :page_facing_up: :point_left:

[2021-10-20 16:37] whedon opened #3838 "[REVIEW]: COMPAS: A rapid binary population synthesis suite"
**Submitting author:** @ilyamandel (<a href="http://orcid.org/0000-0002-6134-8946">Ilya Mandel</a>)
**Repository:** <a href="https://github.com/TeamCOMPAS/COMPAS" target ="_blank">https://github.com/TeamCOMPAS/COMPAS</a>
**Version:** v02.27.00
**Editor:** @christinahedges
**Reviewer:** @katiebreivik, @HeloiseS
**Archive:** <a href="https://doi.org/10.5281/zenodo.5847518" target="_blank">10.5281/ze

[2021-10-20 16:37] #3817 closed, assigned to christinahedges, HeloiseS, katiebreivik

[2021-10-20 16:37] whedon commented on #3838
PDF failed to compile for issue #3838 with the following error:
[code]

[2021-10-20 16:38] christinahedges commented on #3838
@whedon generate pdf from branch JOSS

[2021-10-20 19:14] whedon commented on #3383
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03383/joss.03383/10.21105.joss.03383.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03383/joss.03383/10.21105.joss.03383.pdf) :page_facing_up: :point_left:

[2021-10-20 19:58] c-martinez commented on #2731
Hi @arfon -- it took a bit longer than expected, but we've now addressed the last of @essepuntato 's comments in https://github.com/CLARIAH/grlc/issues/356. Thanks for all the useful feedback!

[2021-10-20 20:28] will-rowe commented on #3825
Hi @telatin - thank you very much and yes please!

[2021-10-20 20:28] will-rowe commented on #3825
@whdeon add @telatin as reviewer

[2021-10-20 20:34] whedon opened #3839 "[REVIEW]: Sepia, a taxonomy oriented read classifier in Rust"
**Submitting author:** @hcdenbakker (<a href="http://orcid.org/0000-0002-4086-1580">Henk den Bakker</a>)
**Repository:** <a href="https://github.com/hcdenbakker/sepia" target ="_blank">https://github.com/hcdenbakker/sepia</a>
**Version:** v1.0.1
**Editor:** @will-rowe
**Reviewer:** @Ebedthan, @telatin
**Archive:** <a href="https://doi.org/10.5281/zenodo.5787248" target="_blank">10.5281/zenodo.5787

[2021-10-20 20:34] #3825 closed

[2021-10-20 20:35] whedon commented on #3839
PDF failed to compile for issue #3839 with the following error:
[code]

[2021-10-21 00:05] Gunnstein commented on #3399
Dear all,

The package is a unique open source project in dynamic substructuring and is an important
contribution to engineers and researchers in dynamics and the open source community.
The overall design of the package is intuitive and it follows well established coding practice which makes
it easy to understand and contribute to the project.  The package also has concise documentation with
usefu

[2021-10-21 02:54] pikarpov-LANL commented on #3199
@dfm I just pushed the latest version of Sapsan

1. I need to update the plots to reflect the latest changes in analytical subgrid models included with Sapsan + latest formatting. I will get back to you next week, as I am currently on travel.
2. Sapsan v0.4.5
3. DOI: 10.5281/zenodo.5587205

[2021-10-21 05:32] maxpumperla commented on #3124
hey @arfon and @arokem, I was wondering if there are any updates on this issue?

[2021-10-21 06:12] nick-gorman commented on #3596
Hi @robinroche and @noah, thanks again for reviewing and your help comments. I've drafted a new version of the paper, made some changes to the documentation, and released a new version of the software with a minor update to try and address them.

Bellow I've tried highlight specifically where and how I've address each of your comments, please ask me to clarify if needed.

## @robinroche comments:

[2021-10-21 06:13] whedon commented on #3596
[code]

[2021-10-21 06:13] whedon commented on #3596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: :point_left:

[2021-10-21 09:42] fabian-sp commented on #3836
Here is our list of reviewer suggestions:

joewandy
jameschapman19
papachristoumarios
afrubin
krother
andim

[2021-10-21 10:10] arfon commented on #2731
Got it. Thanks @c-martinez. It looks like there are still a couple of issues open on your repo related to the review (e.g., https://github.com/CLARIAH/grlc/issues/311 and https://github.com/CLARIAH/grlc/issues/327). Could you share what your intent here is?

:wave: @essepuntato, @alexdma – could you take a look at the changes that @c-martinez has made and see if you are able to update the remainin

[2021-10-21 12:08] jarvist commented on #3711
@whedon remind @jarvist in 8 weeks

[2021-10-21 12:24] telatin commented on #3839
Hi @will-rowe, should I be marked as assignee to be able to tick the boxes? Cheers

[2021-10-21 12:54] whedon commented on #3383
OK. v1.0.0 is the version.

[2021-10-21 12:56] whedon opened #3840 "[PRE REVIEW]: MetaWards: A flexible metapopulation framework for modelling disease spread"
**Submitting author:** @chryswoods (<a href="http://orcid.org/0000-0001-6563-9903">Christopher Woods</a>)
**Repository:** <a href="https://github.com/metawards/MetaWards" target ="_blank">https://github.com/metawards/MetaWards</a>
**Version:** v1.6.1
**Editor:** @majensen
**Reviewers:** @klmedeiros, @acolum
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due

[2021-10-21 12:57] whedon opened #3841 "[PRE REVIEW]: Microbiome.jl and BiobakeryUtils.jl - Julia packages for working with microbial community data"
**Submitting author:** @kescobo (<a href="http://orcid.org/0000-0003-3200-7533">Bonham, Kevin</a>)
**Repository:** <a href="https://github.com/EcoJulia/Microbiome.jl" target ="_blank">https://github.com/EcoJulia/Microbiome.jl</a>
**Version:** v0.8.0
**Editor:** @will-rowe
**Reviewers:** @adRn-s, @aguang
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-10-21 13:06] whedon commented on #3318
[code]

[2021-10-21 13:07] whedon commented on #3318
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: :point_left:

[2021-10-21 13:10] Kevin-Mattheus-Moerman commented on #3841
@kescobo thanks for this submission. I will be helping to look for a handling editor.

@kescobo Note that in the readme for Microbiome.nl you point to: `https://github.com/EcoJulia/BiobakeryUtils` which gives a 404 error since the `.jl` part is missing, the correct URL seems to be: https://github.com/EcoJulia/BiobakeryUtils.jl

[2021-10-21 13:10] whedon commented on #3841
Wordcount for `paper.md` is 963

[2021-10-21 13:12] Kevin-Mattheus-Moerman commented on #3841
@whedon check references

[2021-10-21 13:12] whedon commented on #3841
[code]

[2021-10-21 13:17] alexmalins commented on #3318
@kellyrowland @munkm Thanks for your continued efforts on this.

We moved the project into its own organization this week and the hosting of the docs to GitHub Pages. The edits to the paper just now were to bring the URLs up to date.

[2021-10-21 13:36] chryswoods commented on #3840
Thanks for considering our submission. I've looked at the list of possible reviewers and maybe acolum, klmedeiros, barryrowlingson, stensy or ibontama? (I am looking at the intersection of epidemiology and python)

Thanks again for your time. Please let me know if there is anything I can do to help.

[2021-10-21 13:41] ajstewartlang commented on #3449
Hi @da5nsy just a quick check-in to see how things were going with your review of this submission?

[2021-10-21 18:09] arokem commented on #3124
Yeah - I agree. We should also remove this reviewer from the google spreadsheet.

[2021-10-21 20:00] felixchenier commented on #3714
@meg-simula

[X] Make a tagged release of your software, and list the version tag of the archived version here.

0.6.2

[X] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
[X] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is

[2021-10-21 21:55] Kevin-Mattheus-Moerman commented on #3383
@whedon set v1.0.1 as version

[2021-10-21 21:59] whedon commented on #3383
[code]

[2021-10-21 22:00] whedon commented on #3383
[code]

[2021-10-21 22:00] whedon commented on #3383
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2701
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03383](https://doi.org/10.21105/joss.03383)
2. If everything look

[2021-10-21 22:44] hayesall commented on #3465
I read through and checked off the last box. I think this is in a pretty good state.

[2021-10-22 03:47] jedbrown commented on #3757
John Gunnels (`@jagunnels`) has written more POWER assembly than anyone I know, and would be a great reviewer if he's available.

[2021-10-22 09:19] whedon opened #3842 "[REVIEW]: Frites: A Python package for functional connectivity analysis and group-level statistics of neurophysiological data"
**Submitting author:** @EtienneCmb (<a href="http://orcid.org/0000-0002-7362-3247">Etienne Combrisson</a>)
**Repository:** https://github.com/brainets/frites
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.4.3
**Editor:** @meg-simula
**Reviewers:** @madvn, @travisbthomp
**Archive:** 10.5281/zenodo.7278278

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-10-22 09:19] #3746 closed, assigned to meg-simula, madvn

[2021-10-22 13:30] whedon opened #3843 "[PRE REVIEW]: Integrated hydrologic model development and postprocessing for GSFLOW using pyGSFLOW"
**Submitting author:** @jlarsen-usgs (<a href="http://orcid.org/0000-0002-1218-800X">Joshua Larsen</a>)
**Repository:** <a href="https://github.com/pygsflow/pygsflow.git" target ="_blank">https://github.com/pygsflow/pygsflow.git</a>
**Version:** v1.0.1
**Editor:** @crvernon
**Reviewers:** @thurber, @mdbartos
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due

[2021-10-22 13:38] whedon opened #3844 "[REVIEW]: compareMCMCs: An R package for studying MCMC efficiency"
**Submitting author:** @perrydv (<a href="http://orcid.org/0000-0002-8329-6796">Perry de Valpine</a>)
**Repository:** <a href="https://github.com/nimble-dev/compareMCMCs/" target ="_blank">https://github.com/nimble-dev/compareMCMCs/</a>
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewer:** @rowlandseymour, @tbrown122387
**Archive:** <a href="https://doi.org/10.5281/zenodo.5842623" target="_blank

[2021-10-22 13:38] #3837 closed, assigned to fabian-s, tbrown122387, rowlandseymour

[2021-10-23 01:41] marina-haliem commented on #3761
Thanks, @RafalKucharskiPK, for your comments.

- I am not able to replicate this issue. I've run this project so many times but never encountered a similar issue. The only thing is that the logs will need to be cleared in case of re-running the experiments, or renamed differently to distinguish different experiments using 'DEFAULT_LOG_DIR' in config/settings.py. If there is a specific error that y

[2021-10-23 13:32] whedon opened #3845 "[PRE REVIEW]: PySINDy: A comprehensive Python package for robust sparse system identification"
**Submitting author:** @akaptano (<a href="http://orcid.org/0000-0002-6337-2907">Alan Kaptanoglu</a>)
**Repository:** <a href="https://github.com/dynamicslab/pysindy" target ="_blank">https://github.com/dynamicslab/pysindy</a>
**Version:** v1.2.3
**Editor:** @sbenthall
**Reviewers:** @henrykironde, tuelwer
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-10-23 13:49] whedon opened #3846 "[PRE REVIEW]: LaserTRAM-DB: A Time Resolved Analysis Module for the complete reduction of Laser Ablation Inductively Coupled Plasma Mass Spectrometry data"
**Submitting author:** @jlubbersgeo (<a href="http://orcid.org/0000-0002-3566-5091">Jordan Lubbers</a>)
**Repository:** <a href="https://github.com/jlubbersgeo/laserTRAM-DB" target ="_blank">https://github.com/jlubbersgeo/laserTRAM-DB</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-10-23 13:55] whedon opened #3847 "[PRE REVIEW]: Intracranial Electrode Location and Analysis in MNE-Python"
**Submitting author:** @alexrockhill (<a href="http://orcid.org/0000-0003-3868-7453">Alexander Rockhill</a>)
**Repository:** <a href="https://github.com/mne-tools/mne-python" target ="_blank">https://github.com/mne-tools/mne-python</a>
**Version:** 0.24.dev0
**Editor:** @prashjha
**Reviewers:** @TomDonoghue, @janfreyberg
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :wa

[2021-10-23 14:05] whedon opened #3848 "[PRE REVIEW]: LDLcalc: An R package for the calculation and prediction of Low Density Lipoprotein Values"
**Submitting author:** @PaplomatasP (<a href="http://orcid.org/0000-0002-2691-2767">Petros Paplomatas</a>)
**Repository:** <a href="https://github.com/PaplomatasP/LDLcalculation" target ="_blank">https://github.com/PaplomatasP/LDLcalculation</a>
**Version:** 1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-10-23 14:30] #3848 closed, assigned to nobody

[2021-10-24 01:07] esteinig commented on #2991
* fixed a bug affecting the `seqtk` benchmark (done on uncompressed instead of compressed file)
* added a `seqkit stats` benchmark as it has a 'fast' mode
* added  benchmark data to tables
* removed duplicate figure captions
* updated plots and benchmark text

[2021-10-24 01:24] esteinig commented on #2991
* updated citations in paper

[2021-10-25 00:25] Spartanzhao commented on #3833
Hi, I had revised my github repository, How can I resubmit again?

[2021-10-25 00:26] Spartanzhao commented on #3833
Hi， I had revised my paper.md, how can I resubmit again?

[2021-10-25 18:35] whedon opened #3849 "[REVIEW]: gym-saturation: an OpenAI Gym environment for saturation provers"
**Submitting author:** @inpefess (<a href="http://orcid.org/0000-0002-1291-9896">Boris Shminke</a>)
**Repository:** https://github.com/inpefess/gym-saturation
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.9
**Editor:** @VivianePons
**Reviewers:** @lutzhamel, @quickbeam123
**Archive:** 10.5281/zenodo.6324282

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-10-26 06:46] whedon opened #3850 "[PRE REVIEW]: Crunching COVID-19 Vaccination Data for Brazilian Municipalities"
**Submitting author:** @eguidotti (<a href="http://orcid.org/0000-0002-8961-6623">Emanuele Guidotti</a>)
**Repository:** <a href="https://github.com/eguidotti/covid19br" target ="_blank">https://github.com/eguidotti/covid19br</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-10-26 06:59] #3850 closed, assigned to nobody

[2021-10-26 07:00] whedon opened #3851 "[PRE REVIEW]: PopMedNet: A scalable and extensible open-source informatics platform designed to facilitate the implementation and operation of distributed health data networks"
**Submitting author:** @ddeehere (<a href="http://orcid.org/0000-0001-7021-6227">Daniel Dee</a>)
**Repository:** <a href="https://github.com/PopMedNet-Team/popmednet.git" target ="_blank">https://github.com/PopMedNet-Team/popmednet</a>
**Version:** 2021.4
**Editor:** @danielskatz
**Reviewers:** @jhancock4d, @lrasmus
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning

[2021-10-26 10:49] whedon opened #3852 "[REVIEW]: Integrated hydrologic model development and postprocessing for GSFLOW using pyGSFLOW"
**Submitting author:** @jlarsen-usgs (<a href="http://orcid.org/0000-0002-1218-800X">Joshua Larsen</a>)
**Repository:** https://github.com/pygsflow/pygsflow.git
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.2
**Editor:** @crvernon
**Reviewers:** @thurber, @mdbartos, @mdbartos
**Archive:** 10.5281/zenodo.6468426

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-10-26 10:49] #3843 closed, assigned to crvernon, thurber, mdbartos

[2021-10-26 17:22] whedon opened #3853 "[PRE REVIEW]: Torque-limited simple pendulum: A toolkit for getting familiar with control algorithms in underactuated robotics"
**Submitting author:** @fwiebe (<a href="http://orcid.org/0000-0002-2195-9697">Felix Wiebe</a>)
**Repository:** <a href="https://github.com/dfki-ric-underactuated-lab/torque_limited_simple_pendulum" target ="_blank">https://github.com/dfki-ric-underactuated-lab/torque_limited_simple_pendulum</a>
**Version:** v1.0.0
**Editor:** @gkthiruvathukal
**Reviewers:** @ricopicone, @jingnanshi
**Managing EiC

[2021-10-26 17:23] whedon opened #3854 "[PRE REVIEW]: DEVSIM: A TCAD Semiconductor Device Simulator"
**Submitting author:** @tcaduser (<a href="http://orcid.org/0000-0002-6783-0194">Juan E. Sanchez</a>)
**Repository:** <a href="https://github.com/devsim/devsim.git" target ="_blank">https://github.com/devsim/devsim.git</a>
**Version:** v1.6.0
**Editor:** @lucydot
**Reviewers:** @jgoldfar, @dalonsoa
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-10-26 17:23] whedon opened #3855 "[PRE REVIEW]: PyMPDATA v1: Numba-accelerated Pythonic implementation of MPDATA with examples in Python, Julia and Matlab"
**Submitting author:** @slayoo (<a href="http://orcid.org/0000-0003-2361-0082">Sylwester Arabas</a>)
**Repository:** <a href="https://github.com/atmos-cloud-sim-uj/PyMPDATA" target ="_blank">https://github.com/atmos-cloud-sim-uj/PyMPDATA</a>
**Version:** v1
**Editor:** @mjsottile
**Reviewers:** @dmikushin, @olekravchenko
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warni

[2021-10-26 17:23] whedon opened #3856 "[PRE REVIEW]: Phonemizer: Text to Phones Transcription for Multiple Languages in Python"
**Submitting author:** @mmmaat (<a href="http://orcid.org/0000-0001-7586-7133">Bernard</a>)
**Repository:** <a href="https://github.com/bootphon/phonemizer" target ="_blank">https://github.com/bootphon/phonemizer</a>
**Version:** v3.0
**Editor:** @danielskatz
**Reviewers:** @henrykironde, @chrisbrickhouse
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-10-26 17:24] whedon opened #3857 "[PRE REVIEW]: MitoHEAR"
**Submitting author:** @gabrielelubatti (<a href="http://orcid.org/0000-0001-8495-8096">Gabriele Lubatti</a>)
**Repository:** <a href="https://github.com/ScialdoneLab/MitoHEAR" target ="_blank">https://github.com/ScialdoneLab/MitoHEAR</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-10-26 17:24] whedon opened #3858 "[PRE REVIEW]: pyprop8: A lightweight code to simulate seismic observables in a layered half-space"
**Submitting author:** @valentineap (<a href="http://orcid.org/0000-0001-6134-9351">Andrew Valentine</a>)
**Repository:** https://github.com/valentineap/pyprop8
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @leouieda
**Reviewers:** @hemmelig, @hfmark
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-10-26 18:25] whedon opened #3859 "[REVIEW]: piecewise-regression (aka segmented regression) in Python"
**Submitting author:** @chasmani (<a href="http://orcid.org/0000-0002-3800-677X">Charlie Pilgrim</a>)
**Repository:** <a href="https://github.com/chasmani/piecewise-regression" target ="_blank">https://github.com/chasmani/piecewise-regression</a>
**Version:** v1.2.0
**Editor:** @galessiorob
**Reviewers:** @vyasr, @htjb, @Ebedthan
**Archive:** <a href="https://doi.org/10.5281/zenodo.5742317" target

[2021-10-26 19:28] #3833 closed, assigned to nobody

[2021-10-26 20:34] #3846 closed, assigned to nobody

[2021-10-27 08:15] whedon opened #3860 "[REVIEW]: flowTorch - a Python library for analysis and reduced-order modeling of fluid flows"
**Submitting author:** @AndreWeiner (<a href="http://orcid.org/0000-0001-5617-1560">Andre Weiner</a>)
**Repository:** <a href="https://github.com/FlowModelingControl/flowtorch" target ="_blank">https://github.com/FlowModelingControl/flowtorch</a>
**Version:** v1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @akaptano, @JaroslavHron, @salrm8, @hkjeldsberg
**Archive:** <a href="https://doi.org

[2021-10-27 08:15] #3834 closed, assigned to JaroslavHron, Kevin-Mattheus-Moerman, hkjeldsberg, akaptano, salrm8

[2021-10-27 10:03] whedon opened #3861 "[REVIEW]: AixCaliBuHA: Automated calibration of building and HVAC systems"
**Submitting author:** @FWuellhorst (<a href="http://orcid.org/0000-0003-3325-5707">Fabian Wüllhorst</a>)
**Repository:** https://github.com/RWTH-EBC/AixCaliBuHA
**Branch with paper.md** (empty if default branch):
**Version:** v_0.3.0
**Editor:** @fraukewiese
**Reviewers:** @samanmostafavi, @shamsiharis
**Archive:** 10.5281/zenodo.6475439

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-10-27 18:31] kevinlibuit opened #3862 "Performance: If there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.)"

[2021-10-27 18:31] #3862 closed, assigned to nobody

[2021-10-27 20:03] whedon opened #3863 "[PRE REVIEW]: 3D Line Radiative Transfer & Synthetic Observations with Magritte"
**Submitting author:** @FredDeCeuster (<a href="http://orcid.org/0000-0001-5887-8498">Frederik De Ceuster</a>)
**Repository:** <a href="https://github.com/Magritte-code/Magritte" target ="_blank">https://github.com/Magritte-code/Magritte</a>
**Version:** 0.0.1
**Editor:** @xuanxu
**Reviewers:** @gonsie, @CFGrote
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Du

[2021-10-28 09:06] whedon opened #3864 "[REVIEW]: sknet: A Python framework for Machine Learning in Complex Networks"
**Submitting author:** @TNanukem (<a href="http://orcid.org/0000-0001-5675-554X">Tiago Toledo Junior</a>)
**Repository:** <a href="https://github.com/TNanukem/scikit-net/" target ="_blank">https://github.com/TNanukem/scikit-net/</a>
**Version:** v0.0.1
**Editor:** @osorensen
**Reviewers:** @dvysardana, @drj11, @imw
**Archive:** <a href="https://doi.org/10.5281/zenodo.5783027" target="_blank">10.52

[2021-10-28 09:06] #3830 closed, assigned to drj11, dvysardana, osorensen

[2021-10-28 12:14] whedon opened #3865 "[REVIEW]: GGLasso - a Python package for General Graphical Lasso computation"
**Submitting author:** @fabian-sp (<a href="http://orcid.org/0000-0002-0673-9944">Fabian Schaipp</a>)
**Repository:** <a href="https://github.com/fabian-sp/GGLasso" target ="_blank">https://github.com/fabian-sp/GGLasso</a>
**Version:** v0.1.7
**Editor:** @gkthiruvathukal
**Reviewer:** @papachristoumarios, @jameschapman19
**Archive:** <a href="https://doi.org/10.5281/zenodo.5718440" target="_blank"

[2021-10-28 12:14] #3836 closed, assigned to gkthiruvathukal, papachristoumarios, jameschapman19

[2021-10-28 13:24] whedon opened #3866 "[REVIEW]: Manopt.jl: Optimization on Manifolds in Julia"
**Submitting author:** @kellertuer (<a href="http://orcid.org/0000-0001-8342-7218">Ronny Bergmann</a>)
**Repository:** <a href="https://github.com/JuliaManifolds/Manopt.jl" target ="_blank">https://github.com/JuliaManifolds/Manopt.jl</a>
**Version:** 0.3.17
**Editor:** @dpsanders
**Reviewer:** @krystophny, @sweichwald
**Archive:** <a href="https://doi.org/10.5281/zenodo.6019027" target="_blank">10

[2021-10-28 20:01] whedon opened #3867 "[PRE REVIEW]: retworkx: A High-Performance Graph Library for Python"
**Submitting author:** @IvanIsCoding (<a href="http://orcid.org/0000-0002-8257-2103">Ivan Carvalho</a>)
**Repository:** <a href="https://github.com/Qiskit/retworkx/" target ="_blank">https://github.com/Qiskit/retworkx/</a>
**Version:** v0.10.2
**Editor:** @drvinceknight
**Reviewers:** @szhorvat, @inakleinbottle
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due

[2021-10-29 16:56] whedon opened #3868 "[PRE REVIEW]: Falcon-Ripple-Client: A Graphical Ripple-detection Client for Falcon"
**Submitting author:** @MaybeJustJames (<a href="http://orcid.org/0000-0002-0020-421X">James Collier</a>)
**Repository:** <a href="https://bitbucket.org/kloostermannerflab/falcon-swr-client" target ="_blank">https://bitbucket.org/kloostermannerflab/falcon-swr-client</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mo

[2021-10-29 16:56] whedon opened #3869 "[PRE REVIEW]: RECOLO: A Python package for the reconstruction of surface pressure loads from kinematic fields using the virtual fields method"
**Submitting author:** @PolymerGuy (<a href="http://orcid.org/0000-0002-9981-4041">Sindre Nordmark Olufsen</a>)
**Repository:** <a href="https://github.com/PolymerGuy/recolo" target ="_blank">https://github.com/PolymerGuy/recolo</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @nicoguaro, @corentin-dev
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode

[2021-10-29 18:19] pdebuyl commented on #3337
Hi @danclewley thank you for getting on to this.

Regarding scholarly efforts, you can find the criteria here: https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort

During the pre-review phase, during which the question was raised by Daniel Katz, the author already provided extra information https://github.com/openjournals/joss-reviews/issues/3198#issuecomment-84

[2021-10-29 18:38] fwiebe commented on #3853
@gkthiruvathukal I would propose any of

@CameronDevine, @vmatos, @stevemacenski, @sea-bass

 as reviewers, The following could fit as well:

@jizecn, @jingnanshi, @seungback, @giodegas, @ekorudiawan, @destogl, @nnadeau, @trallard, @OlgerSiebinga

[2021-10-29 18:46] tbsexton commented on #3845
Let me take a look, but at a glance I believe so! Thanks for the ping.

[2021-10-29 19:01] nnadeau commented on #3853
Sorry, not available in the short term 🙁

[2021-10-29 19:15] christinahedges commented on #3783
@whedon generate pd

[2021-10-29 19:15] whedon commented on #3783
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-10-29 19:16] christinahedges commented on #3783
@whedon generate pdf

[2021-10-29 19:16] christinahedges commented on #3783
@whedon check references

[2021-10-29 19:16] whedon commented on #3783
[code]

[2021-10-29 19:16] whedon commented on #3783
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03783/joss.03783/10.21105.joss.03783.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03783/joss.03783/10.21105.joss.03783.pdf) :page_facing_up: :point_left:

[2021-10-29 19:26] kthyng commented on #3868
Hi @MaybeJustJames and thanks for your submission! I am going to ping the editorial board to make sure it is in scope — we usually take a closer look before reviewing GUIs so I just want to be sure before starting. This will take 1-2 weeks, thanks for your patience.

[2021-10-29 19:26] kthyng commented on #3868
@whedon query scope

[2021-10-29 19:26] whedon commented on #3868
Submission flagged for editorial review.

[2021-10-29 19:28] christinahedges commented on #3783
@zonca it seems like @patricialarsen and @smsharma have both agreed that your submission should be accepted! This is great news. I believe there are a few unchecked marks in the review, but that your new merged PR will solve these unchecked marks. Reading the thread, I believe the automated tests checkbox from @patricialarsen is unchecked only because of the warnings that occurred during execution

[2021-10-29 19:29] kthyng commented on #3869
Hi @PolymerGuy! Please take a look at the paper errors above. Also you will need a section entitled "Statement of Need" in your paper.

[2021-10-29 19:32] kthyng commented on #3869
Hi @Kevin-Mattheus-Moerman are you interested in editing this submission?

[2021-10-29 19:32] kthyng commented on #3869
@whedon invite @Kevin-Mattheus-Moerman as editor

[2021-10-29 19:32] whedon commented on #3869
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2021-10-29 19:32] whedon opened #3870 "[PRE REVIEW]: populR: Residential population down-scaling in R"
**Submitting author:** @mbatsaris (<a href="http://orcid.org/0000-0002-1805-3528">Marios Batsaris</a>)
**Repository:** <a href="https://github.com/mbatsaris/populR" target ="_blank">https://github.com/mbatsaris/populR</a>
**Version:** v0.1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-10-29 19:32] whedon commented on #3870
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-29 19:32] whedon commented on #3870
Wordcount for `paper.md` is 1171

[2021-10-29 19:32] whedon commented on #3870
[code]

[2021-10-29 19:32] whedon commented on #3870
[code]

[2021-10-29 19:36] smsharma commented on #3783
Thanks @zonca for taking the comments and suggestions into account, with their changes I'm happy to check off on the remaining items as well @christinahedges . Congrats to the authors on a very useful package!

[2021-10-29 19:37] kthyng commented on #3870
Hi @mbatsaris and thanks for your submission. Unfortunately, it appears that your submission is not in scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html?highlight=maintainable#substantial-scholarly-effort). In particular, though lines of code (LOC) is not a perfect representation of effort, we do have a cutoff in which we desk-reject submission

[2021-10-29 19:37] kthyng commented on #3870
@whedon reject

[2021-10-29 19:37] whedon commented on #3870
Paper rejected.

[2021-10-29 19:37] #3870 closed

[2021-10-29 19:54] mparno commented on #3076
@pdebuyl @martinmodrak @georgiastuart  I'd like to thank you all again for your time and valuable feedback.  Going through this review process has undoubtedly made MUQ a better package.    Below is our response to the most recent round of reviews.

All of the changes described here are in the master branch of MUQ.   Updates to the conda package and docker containers are in progress.

### Convergen

[2021-10-29 20:04] Kevin-Mattheus-Moerman commented on #3869
@whedon assign @Kevin-Mattheus-Moerman as editor

[2021-10-29 20:04] whedon commented on #3869
OK, the editor is @Kevin-Mattheus-Moerman

[2021-10-29 20:35] zonca commented on #3783
@whedon generate pdf

[2021-10-29 20:35] whedon commented on #3783
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03783/joss.03783/10.21105.joss.03783.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03783/joss.03783/10.21105.joss.03783.pdf) :page_facing_up: :point_left:

[2021-10-29 21:09] CameronDevine commented on #3853
This looks like an excellent submission. Unfortunately, I don't currently have time to be part of the review process. However, I believe one of my colleagues, @ricopicone, could be another potential reviewer.

[2021-10-29 21:24] jcorbino commented on #3380
@whedon generate pdf

[2021-10-29 21:25] whedon commented on #3380
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03380/joss.03380/10.21105.joss.03380.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03380/joss.03380/10.21105.joss.03380.pdf) :page_facing_up: :point_left:

[2021-10-29 21:37] zonca commented on #3783
thanks @christinahedges and @smsharma, you reported a lot of issues that nobody bothers to report so they never get fixed and make life for new users a lot worse! The review was very useful, thanks @patricialarsen.

Ok, I released 3.3.2
https://zenodo.org/record/5620869

[2021-10-29 21:38] pdebuyl commented on #3076
Hi @mparno thank you for the significant update.

@georgiastuart and @martinmodrak can you take the review further based on the recent changes and the reply?

[2021-10-29 22:14] cpinte commented on #3827
Thanks !

[2021-10-29 22:14] ricopicone commented on #3853
I can review this, per @CameronDevine's suggestion. I don't believe I'm on the reviewer list but here's my academic profile:
[http://ricopic.one/](http://ricopic.one/)
If you would like me to review this and there are reviewer instructions please send them my way.

[2021-10-29 22:20] AndreWeiner commented on #3860
@whedon generate pdf

[2021-10-29 22:20] whedon commented on #3860
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03860/joss.03860/10.21105.joss.03860.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03860/joss.03860/10.21105.joss.03860.pdf) :page_facing_up: :point_left:

[2021-10-29 22:43] gkthiruvathukal commented on #3853
@ricopicone  Thanks for being willing to help! Let me figure out whether you need to be registered as a reviewer or not. Thanks for sharing your profile!

@openjournals/joss-eics   Am I able to add @ricopicone as a reviewer? Or does he need to be added to our list of people first?

[2021-10-30 03:05] akaptano commented on #3860
All, I have finished my review, and the authors have now made suitable revisions to all my comments. I recommend publication.

[2021-10-30 04:01] mbhall88 commented on #3831
Thank you for the feedback @mikldk. I address each comment/question below.

Done.

I am curious as to why? Rasusa is agnostic to how the data were generated.

Done.

Sorry, I don't quite understand what you are asking? If we subsample to 20x then, theoretically, on average, each position has 20x. Not sure if that is what you are referring to?

No. This was a deliberate design choice. As I mention

[2021-10-30 06:44] HeloiseS commented on #3838
Hello all!

I made a start on the review - plenty left to do code-side. For now here are a few comments on the paper:

Some text should be added to the paper to address this crateria - now since the word limit won't let you do such a discussion justice AND there is the apj paper which does have a rather extensive list in the intro, is it worth citing the sister paper? I don't know how the ApJ/JOSS

[2021-10-30 08:19] ilyamandel commented on #3838
Hi @HeloiseS ,

First of all, thank you very much for pointing out the documentation (and python submit script) improvements as issues on the COMPAS github page.  Much appreciated -- we'll aim to address them ASAP.

On your two "minor points":
1. Happy to add a citation to Moe & DiStefano (2017), of course, who actually include a specific twin subpopulation; however, we just meant the more modest

[2021-10-30 08:36] HeloiseS commented on #3838
@ilyamandel
1. i see what you mean now - thanks for the clarification
2. well bless my heart - every day is a school day :rofl: thanks for the link, looking forward to reading about it!

[2021-10-30 08:38] PolymerGuy commented on #3869
Hi @kthyng and @Kevin-Mattheus-Moerman ! I have now added the section "Statement of need" and hopefully fixed the bug related to affiliations above. When compiling the paper I didn't get any warnings on this error but I think it's OK now.

[2021-10-30 10:30] MaybeJustJames commented on #3868
@whedon commands

[2021-10-30 10:30] whedon commented on #3868
Here are some things you can ask me to do:

[code]

[2021-10-30 10:31] MaybeJustJames commented on #3868
@kthyng The labels seem wrong to me: I would remove the `Makefile` and `Shell` labels and add a `Rust` label

[2021-10-30 12:06] MamadouSDiallo commented on #3376
Dear @arfon, @rchew, @soodoku

I believe I have addressed all the issues but the testing. Please review and let me know.

The samplics testing suite is extensive (about half of the codebase). The vast majority of those tests were created by checking the results against Stata and sometimes the R survey package when Stata did not have the feature. In fact, earlier versions of the tutorial had compar

[2021-10-30 16:22] whedon commented on #3829
:wave: @alberto-battistel, please update us on how your review is going (this is an automated reminder).

[2021-10-30 16:22] whedon commented on #3829
:wave: @andrewtarzia, please update us on how your review is going (this is an automated reminder).

[2021-10-30 16:53] jingnanshi commented on #3853
I am happy to review this project. Please let me know what are the next steps.

[2021-10-30 19:08] szhorvat commented on #3608
@lantunes @blsqr Does the test suite pass for you when using the current `joss_review` branch?

I get:

[code]

It is coming from:

https://github.com/lantunes/cellpylib/blob/joss_review/cellpylib/ca_functions2d.py#L158

[2021-10-30 22:31] fboehm commented on #3708
Thanks, @metelkin ! If you've addressed all of the issues from @elimillera , then there's nothing for you to do right now. we'll just need to wait for @martinmodrak to complete the review.

[2021-10-30 22:38] fboehm commented on #3417
Yes, that should be fine.

You'll want to add the paper.md, ie, the markdown version of the paper, to your repository. Most authors add it to the main branch, but some prefer to add it to an additional branch. You shouldn't add a pdf version of the markdown file to the repository. Please let me know if that addresses your questions. Here's a link to some of the relevant documentation: https://joss

[2021-10-30 22:39] fboehm commented on #3417
@biblicabeebli - I tried to address your questions above. please let me know if questions remain.

[2021-10-30 22:42] fboehm commented on #3417
@biblicabeebli - it looks like your repository's current placement of the paper.md is correct: https://github.com/onnela-lab/beiwe-backend/blob/ef28d952b7158c7f03df263003f05824e7909d1b/paper.md.
So you'll just want to replace it with the updated version of paper.md.

[2021-10-30 23:12] whedon opened #3871 "[PRE REVIEW]: TriP: A Python package for the kinematic modeling of serial-parallel hybrid robots"
**Submitting author:** @liquidcronos (<a href="http://orcid.org/0000-0002-7825-3476">Jan Baumgärtner</a>)
**Repository:** <a href="https://github.com/TriPed-Robot/TriP" target ="_blank">https://github.com/TriPed-Robot/TriP</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @SeungBack, @bmagyar
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-10-30 23:12] whedon commented on #3871
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-30 23:12] whedon opened #3872 "[PRE REVIEW]: PPQplan: An R package for process performance qualification (PPQ) Plans in Chemistry, Manufacturing and Controls (CMC) Statistical Analysis"
**Submitting author:** @allenzhuaz (<a href="http://orcid.org/0000-0003-3830-8660">Yalin Zhu</a>)
**Repository:** <a href="https://github.com/allenzhuaz/PPQplan" target ="_blank">https://github.com/allenzhuaz/PPQplan</a>
**Version:** v1.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-10-30 23:12] whedon commented on #3871
[code]

[2021-10-30 23:12] whedon commented on #3871
PDF failed to compile for issue #3871 with the following error:
[code]

[2021-10-30 23:12] whedon commented on #3872
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-10-30 23:12] whedon commented on #3872
Wordcount for `paper.md` is 847

[2021-10-30 23:12] whedon commented on #3872
[code]

[2021-10-30 23:12] whedon commented on #3872
[code]

[2021-10-30 23:12] whedon commented on #3872
Failed to discover a valid open source license.

[2021-10-30 23:12] danielskatz commented on #3871
@whedon check references from branch paper

[2021-10-30 23:13] whedon commented on #3871
[code]

[2021-10-30 23:13] whedon commented on #3872
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03872/joss.03872/10.21105.joss.03872.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03872/joss.03872/10.21105.joss.03872.pdf) :page_facing_up: :point_left:

[2021-10-30 23:13] whedon commented on #3871
[code]

[2021-10-30 23:15] danielskatz commented on #3872
👋 @allenzhuaz - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

It would be useful if you could add a LICENSE file with the GPL-3 license that is

[2021-10-30 23:15] danielskatz commented on #3872
@whedon query scope

[2021-10-30 23:15] whedon commented on #3872
Submission flagged for editorial review.

[2021-10-30 23:16] danielskatz commented on #3871
@whedon generate pdf from branch paper

[2021-10-30 23:16] whedon commented on #3871
[code]

[2021-10-30 23:16] whedon commented on #3871
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03871/joss.03871/10.21105.joss.03871.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03871/joss.03871/10.21105.joss.03871.pdf) :page_facing_up: :point_left:

[2021-10-30 23:17] danielskatz commented on #3871
👋 @liquidcronos - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests (

[2021-10-30 23:17] danielskatz commented on #3871
@whedon query scope

[2021-10-30 23:17] whedon commented on #3871
Submission flagged for editorial review.

[2021-10-30 23:30] dvysardana commented on #3864
@osorensen, @whedon, I have completed my review.

[2021-10-31 00:45] HeloiseS commented on #3838
### Further discussion on the `pythonSubmit.py` files

Okay so I think I have put my finger on why these files feels so odd:

1 - first, as i mentioned before there are some weird constructions:  for example methods are called to create list  when (at the moment) it seems you could just make the lists attributes without the need to call a function and return something. Another thing that caught my

[2021-10-31 05:06] soodoku commented on #3376
gave an all ok from my end.

[2021-10-31 07:00] osorensen commented on #3864
Thanks @dvysardana. Do I understand correctly that you think a statement of need is missing but otherwise everything is fine?

[2021-10-31 09:16] liquidcronos commented on #3871
Hey @danielskatz thanks for considering TriP.
Most of these DOIs seem to be from bibtex entries that aren't used in the paper, I will will these Issues right away.

[2021-10-31 09:17] liquidcronos commented on #3871
@whedon check references from branch paper

[2021-10-31 09:17] whedon commented on #3871
[code]

[2021-10-31 09:17] whedon commented on #3871
[code]

[2021-10-31 09:17] liquidcronos commented on #3871
@whedon generate pdf from branch paper

[2021-10-31 09:17] whedon commented on #3871
[code]

[2021-10-31 09:18] whedon commented on #3871
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03871/joss.03871/10.21105.joss.03871.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03871/joss.03871/10.21105.joss.03871.pdf) :page_facing_up: :point_left:

[2021-10-31 09:22] liquidcronos commented on #3871
Everything seems to check out now

[2021-10-31 09:44] Tam-Pham commented on #3417
Hi all,

Firstly, I would like to apologize for the delay on my part. As I'm not familiar with server applications, it took me some time to complete my review on the functionality part. With the revisions made to the documentation of the development setup, I have managed to deploy Beiwe-backend locally and hence have ticked off all the related checkboxes.

I have not ticked the following checkboxe

[2021-10-31 10:04] arfon commented on #3211
This should be updated now although it may take ~24 hours to show up as update on the JOSS website due to caching.

[2021-10-31 10:07] arfon commented on #3679
This should be updated now. The paper might take ~24 hours to show as updated on the JOSS site due to caching.

[2021-10-31 10:11] arfon commented on #3376
Thanks @soodoku!

@rchew - it looks like the authors have addressed the [issues you referenced here](https://github.com/openjournals/joss-reviews/issues/3376#issuecomment-934573758). Could you come and take a look at the submission once more and see if the few remaining checkboxes can be marked as complete now?

[2021-10-31 11:00] PacoCosta commented on #3211
@arfon Thanks!

[2021-10-31 11:09] lantunes commented on #3608
@szhorvat The test suite is passing for me locally on the `joss_review` branch. The test suite is also passing when run during the Github action workflow for the project. What version of Matplotlib are you using in your environment?

[2021-10-31 11:11] szhorvat commented on #3608
I'm sorry, I thought I mentioned that already. It's version 3.4.2.

[2021-10-31 11:33] fabian-s commented on #3652
sure, that will work. if you reference `openjournals/joss-reviews#3652` in your comments in the linked issues (or commit messages), notifications will pop up here as well.

[2021-10-31 12:04] lantunes commented on #3608
@szhorvat I managed to reproduce this test failure with the following environment:
[code]
I pushed a commit to the `joss_review` branch that should fix this issue.

[2021-10-31 12:24] htjb commented on #3859
Dear @chasmani,

Thank you for the interesting submission! The software appears to fill a
gap in the Python library of tools and the paper is a useful contribution to the
literature. I have been able to install and run the code without any issues.

Overall the **repository** is well put together and the code is well written and
documented. I did however have a few comments which I think would make

[2021-10-31 17:29] mirenradia commented on #3703
As I suspected nothing seems obviously wrong so let's see if we can get the Intel one working instead.

Since the Intel compiler uses the standard library header files from GCC, what version of GCC is available to it? If you haven't got a GCC module loaded and it's using the system one, this might be too old to have all the required standard library headers which would explain your compilation err

[2021-10-31 19:10] mikldk commented on #3831
@mbhall88, thanks.

You answer my question here: the subsampling to 20x means that the subsample has 20x on average, not as a minimum. That's fine. Is this explictely written in the paper (if not, I would consider doing it, but it is up to you to decide)?

[2021-10-31 22:19] hkjeldsberg commented on #3860
Dear all,

The library looks good from my end, and I think @akaptano already addressed the most pressing issues.

From a developer perspective I would recommend collecting the tests in a separate _test_-folder, as this would clean up the current project structure.
Furthermore, a possible improvement is adding some sort of continuous integration, i.e., [TravisCI](https://travis-ci.org/)., [CircleCI

[2021-10-31 23:28] ilyamandel commented on #3838
Hi @HeloiseS ,
Thank you very much for all of your suggestions so far.

A quick update:
1. We've updated the documentation to clarify some of the workflow issues you raised.
2. We included assert statements in pythonSubmit.py to make sure that the environment variables are set and the executable file exists.
3. We updated the awkward sentence about companion masses to "Most massive stars---those w

[2021-11-01 00:26] HeloiseS commented on #3838
Definitely not urgent - but I'd like to get the feeling of @katiebreivik and how she found handling the COMPAS calls. If you say it's intended for users to make their own python utility then it's worth noting that it was time consuming and fiddly to put the example into my own code since the config is embedded into a class and it took a while to get the reformatting to work properly without errors

[2021-11-01 00:42] cMadan commented on #3632
@henrykironde @anki-xyz, can you give me an update on how the review is going? Thank you!

[2021-11-01 03:00] JLBLine commented on #3676
Hi @dfm @mkolopanis @plaplant I reckon I'll need until the end of the week to make the float/double switch work with all the units tests, and then another week to address the rest of the review issues. If you want to pause, I can just notify you all when I've finished everything. I'll open up another issue for the float / double switch so we can tick it off the list at the end.

[2021-11-01 03:51] darothen commented on #3219
@dhhagan Any immediate action items here that you need from the reviewers?

[2021-11-01 05:33] ivan-aksamentov commented on #3773
@kevinlibuit

Good point! I thought we might update the message to make it clearer that we keep the Nextalign files in place and only Nextclade files will be removed.
https://github.com/nextstrain/nextclade/blob/b953cfb5fb4002c2d55d07fc16762be949bcbdfc/data/README.md

This change is still in progress and will be finalized on November 10, 2021 with the PR https://github.com/nextstrain/nextclade/pul

[2021-11-01 08:06] martin3141 commented on #3646
Hi @chartgerink @kthyng I'm wondering what remains to be done before the paper can be accepted?

[2021-11-01 10:05] vissarion commented on #3329
:wave: @GustaveCoste it seems some review comments need some action from your side. Please let us know when those comments are addressed or if you need more details from reviewers.

[2021-11-01 10:26] keichi commented on #3777
Hi @majensen, thanks for editing this paper. I would like to confirm if there is anything I should do from my side?

[2021-11-01 12:11] dfm commented on #3676
@JLBLine: Sounds good! I won't officially pause the review, but let's check in in about two weeks to see where we are. Keep us posted!

[2021-11-01 12:36] felixcremer commented on #3733
@johncwok  Thank you for this nice package.

@jbytecode  - I have finished the review in the first comment above.
It would be good to address the outstanding issues, that  I opened on the repo and linked to this issue.

I think you could convert the list of open improvements in the Contributing.md files into github issue, to make it easier for others to comment and also work on them.

You could se

[2021-11-01 12:40] chartgerink commented on #3822
@whedon generate pdf

[2021-11-01 12:41] whedon commented on #3822
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03822/joss.03822/10.21105.joss.03822.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03822/joss.03822/10.21105.joss.03822.pdf) :page_facing_up: :point_left:

[2021-11-01 12:44] chartgerink commented on #3822
@whedon check references

[2021-11-01 12:44] whedon commented on #3822
[code]

[2021-11-01 12:50] PolymerGuy commented on #3869
@whedon generate pdf

[2021-11-01 12:50] whedon commented on #3869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03869/joss.03869/10.21105.joss.03869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03869/joss.03869/10.21105.joss.03869.pdf) :page_facing_up: :point_left:

[2021-11-01 13:10] chartgerink commented on #3822
@johannes-titz could you please update the short DOIs to full length DOIs? Specifically these two

[code]

[2021-11-01 13:48] johncwok commented on #3733
@felixcremer Thank you for the thorough code testing and the suggestions for doc improvement!
I have never worked with coveralls.io or codecov.io so far, but I will look into it.

[2021-11-01 13:54] jbytecode commented on #3733
@johncwok please consider the last recommendations and ping me when you have done so I can start my editorial stuff.

[2021-11-01 13:57] jbytecode commented on #3733
@felixcremer thank you so much for your valuable review and contributions

[2021-11-01 14:08] bmcfee commented on #3784
Hi @MichaelSel, I want to make sure we A) don't lose the thread on this, and B) are mindful of our reviewer's time and attention.  There's no rush or pressure on this from the JOSS side. If you have a sense of when you expect to have these issues resolved, we can have whedon set a reminder to come back in X weeks.  Thanks!

[2021-11-01 14:11] MichaelSel commented on #3784
Hi @bmcfee, as far as I am aware I have responded and incorporated all of the reviewers comments already.

[2021-11-01 14:12] chrisamiller commented on #3722
Almost done merging them all - should finish up this week - thanks!

[2021-11-01 14:25] slayoo commented on #3219
@darothen @dhhagan Let me just confirm, we are actively cleaning up the code towards 100% pylint-clean (incl. docstrings):
- https://github.com/atmos-cloud-sim-uj/PySDM/pull/663
- https://github.com/atmos-cloud-sim-uj/PySDM/pull/664

Still, we need some days to finish it up.

BTW, we have recently rolled out a proof-of-concept coupler for ClimateMachine.jl and PySDM (with 2D prescribed-flow test c

[2021-11-01 14:35] arfon commented on #3772
Just an FYI that the DOI for the related AAS publication will be `10.3847/1538-4357/ac350f`

[2021-11-01 14:45] kthyng commented on #3853
@gkthiruvathukal and @ricopicone Anyone with access to github can review regardless of the reviewer list (pending COI concerns as appropriate of course). If you want to sign up, here is the means to do so: https://joss.theoj.org/reviewer-signup.html. Otherwise please proceed!

[2021-11-01 14:46] kthyng commented on #3868
@MaybeJustJames Looks like @arfon added the labels ✅

[2021-11-01 14:47] johannes-titz commented on #3822
@chartgerink Thanks for the update! I changed the short DOIs to full length DOIs. Is this OK?

[2021-11-01 14:51] kthyng commented on #3646
Hi @martin3141 — after one reviewer ghosted, @chartgerink was gracious enough to take over as reviewer on top of editing duties so as to avoid a long delay in your submission review. We have been discussing a little behind the scenes to make sure everything is covered given this. It looks like we can move forward now.

[2021-11-01 14:51] kthyng commented on #3646
@whedon add @chartgerink as reviewer

[2021-11-01 14:51] whedon commented on #3646
OK, @chartgerink is now a reviewer

[2021-11-01 14:53] kthyng commented on #3646
@whedon set v1.15.0 as version

[2021-11-01 14:53] whedon commented on #3646
OK. v1.15.0 is the version.

[2021-11-01 14:55] kthyng commented on #3646
@martin3141 Please update the Zenodo archive metadata so the title and author list exactly match your JOSS submission.

[2021-11-01 14:55] danielskatz commented on #3822
@whedon check references

[2021-11-01 14:55] whedon commented on #3822
[code]

[2021-11-01 15:02] whedon commented on #3772
[code]

[2021-11-01 15:02] whedon commented on #3772
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03772/joss.03772/10.21105.joss.03772.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03772/joss.03772/10.21105.joss.03772.pdf) :page_facing_up: :point_left:

[2021-11-01 15:05] martinmodrak commented on #3708
Sorry to have kept everybody waiting. I finally managed to do a first pass through the software and paper.

This is a neat piece of software that looks well documented and well written. So far I haven't encountered any major obstacle.

My suggestions so far are minor, and may not even need immediate resolution for acceptance in JOSS.

1) The paper makes it look like Heta is the first tool with the

[2021-11-01 15:15] JostMigenda commented on #3772
Thanks @arfon! I’ve updated the paper with the DOI.

[2021-11-01 15:16] diehlpk commented on #3465
@elwinter Please address the editorial comments and we are good to accept the paper.

[2021-11-01 15:17] diehlpk commented on #3390
@Muhao-Chen Could you give some estimate when you intend to finish working on the reviewer's remarks?

[2021-11-01 15:33] athulpg007 commented on #3710
Hi @astrojuanlu, just a gentle reminder about the review. Let me know if there are any issues. Appreciate your response. Thanks!

[2021-11-01 15:44] kescobo commented on #3841
Alright! Finally got the "stable" docs for BiobakeryUtils to build correctly.

@adRn-s and @aguang thanks for agreeing to review! It's up to you of course, but I suggest [starting here](https://docs.ecojulia.org/BiobakeryUtils.jl/stable/gettingstarted/#getting-started) in the docs

[2021-11-01 15:51] felixcremer commented on #3733
@jbytecode  The last recommendations have been incorporated.

[2021-11-01 15:57] martin3141 commented on #3646
@kthyng thank you for the update, and also thanks to @chartgerink for taking on the extra work. I have made the requested changes.

[2021-11-01 15:57] danielskatz commented on #3619
I've had no response from @jkmacc-LANL here or via email in a month.  I think I need to remove them and find another reviewer.

@savage13 & @kbarnhart (or @chad-iris) - do you have any suggestions?

[2021-11-01 15:58] danielskatz commented on #3619
👋 @mbegnaud - we seem to have lost the second reviewer in this review. Would you perhaps be able to step in and review it?

[2021-11-01 16:44] jbytecode commented on #3733
@whedon check references

[2021-11-01 16:44] whedon commented on #3733
[code]

[2021-11-01 16:45] whedon commented on #3733
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03733/joss.03733/10.21105.joss.03733.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03733/joss.03733/10.21105.joss.03733.pdf) :page_facing_up: :point_left:

[2021-11-01 16:46] Sbozzolo commented on #3703
This worked! But it didn't solve the problem: after 40 minutes of running, the job hanged.

@rashti-alireza did you reproduce the binary black hole example?

[2021-11-01 16:49] arianesasso commented on #3679
Just saw the update, thanks :).

[2021-11-01 17:02] kyleniemeyer commented on #3399
Thank you for this review @Gunnstein!

Hello @tb93, we now have a complete set of reviews, and a few items for you to address before accepting your submission. Are you able to address / work on these things?

[2021-11-01 17:05] jbytecode commented on #3733
Dear @johncwok

I sent a pull request that includes possible correction in the `paper.md` file:

https://github.com/johncwok/CategoricalTimeSeries.jl/pull/12

- Please check the corrections and if you are agree with the correction, please apply them.

[2021-11-01 17:33] jmschrei commented on #3622
@vinisalazar can you please provide an update on how your response to the review is going?

[2021-11-01 17:45] napulen commented on #3784
Hi @bmcfee @MichaelSel, on my end, I need to run the unit tests locally before closing the issue. I'll try to get that sorted out tonight. All other blocking items on my end are closed.

[2021-11-01 17:53] trallard commented on #3853
I am so sorry I do not have capacity right now

[2021-11-01 17:55] dvysardana commented on #3864
Hello @osorensen

Yes, I have completed my review. The statement of need needs to be updated
to clearly mention the target audience. Further, the paper lacks a
description and comparison of other similar packages that already exist in
the community.

Can you please confirm that all the review requirements are complete now?

Thanks
Divya Sardana

On Sun, Oct 31, 2021 at 12:01 AM Øystein Sørensen **

[2021-11-01 17:58] arfon commented on #3446
@whedon reject

This submission is being rejected due to lack of activity from the authors. @pmeier, @younglululu, @jmschrei – thanks for your efforts here. Sorry this submission didn't make it through.

[2021-11-01 17:58] whedon commented on #3446
Paper rejected.

[2021-11-01 17:58] #3446 closed

[2021-11-01 18:08] johncwok commented on #3733
Dear @jbytecode

I am fine with all corrections. I see you changed "time-series" to "time series", is this the correct way of writing it? I have seen "time-series", "timeseries" and "time series". After checking, all of these seem to be valid so I am always a bit unsure how to write it.

[2021-11-01 18:09] jbytecode commented on #3733
@whedon generate pdf

[2021-11-01 18:10] whedon commented on #3733
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03733/joss.03733/10.21105.joss.03733.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03733/joss.03733/10.21105.joss.03733.pdf) :page_facing_up: :point_left:

[2021-11-01 18:11] jbytecode commented on #3733
@johncwok you mostly use `time-series`, so I changed all other use of this term (time series, timeseries) to `time-series`.

[2021-11-01 18:12] christinahedges commented on #3783
@whedon set v3.3.2 as version

[2021-11-01 18:12] whedon commented on #3783
OK. v3.3.2 is the version.

[2021-11-01 18:13] christinahedges commented on #3783
@whedon set 10.5281/zenodo.5620868 as doi

[2021-11-01 18:13] whedon commented on #3783
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-01 18:13] jbytecode commented on #3733
Dear @johncwok

- [ ] Please re-check the whole paper by means of both language and format (one more time). When it is finished, please ping me here.

- [ ] make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/latest/submitting.html#the-review-process>), and report the version number and archive DOI in this thread. Please v

[2021-11-01 18:14] christinahedges commented on #3783
@whedon set 10.5281/zenodo.5620868 as archive

[2021-11-01 18:14] whedon commented on #3783
OK. <a href="https://doi.org/10.5281/zenodo.5620868" target="_blank">10.5281/zenodo.5620868</a> is the archive.

[2021-11-01 18:18] christinahedges commented on #3783
@whedon recommend-accept

[2021-11-01 18:18] whedon commented on #3783
[code]

[2021-11-01 18:18] whedon commented on #3783
[code]

[2021-11-01 18:19] whedon commented on #3783
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2719

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2719, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-01 18:19] christinahedges commented on #3783
@smsharma @patricialarsen Thank you so much for your reviews! Based on your comments I've now recommended to the EIC that we accept this submission. Thanks again to everyone for their hard work.

[2021-11-01 18:24] danielskatz commented on #3783
@zonca - Please make sure this archived version has all the correct meta data (author names, title etc)!  You can change zenodo metadata without changing the DOI...

[2021-11-01 18:34] danielskatz commented on #3783
In addition, I've suggested some changes to the paper in https://github.com/galsci/pysm/pull/94

And finally, many of your references don't have journals - this is because you are using astro-standards abbreviations for journals in some cases, which JOSS doesn't support.  Please change things like `journal = {\apj}` to spell out the journal names instead.

[2021-11-01 18:35] zonca commented on #3783
thanks @danielskatz, yes, the title is just the package name with the version, authors are fine.

[2021-11-01 18:37] danielskatz commented on #3783
yes, I realize this, and I am asking you to change the title of the archive in Zenodo to match the title of the paper

[2021-11-01 18:53] danielskatz commented on #3783
@whedon recommend-accept

generate a new proof for me to check...

[2021-11-01 18:53] whedon commented on #3783
[code]

[2021-11-01 18:53] whedon commented on #3783
[code]

[2021-11-01 18:53] whedon commented on #3783
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2720

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2720, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-01 18:58] danielskatz commented on #3783
@zonca - sorry, one more thing I missed - can you protect the `P`s in Python in bib entries with `{P}` - in Thorne et al and Zonca et al

otherwise, this is ready to publish

[2021-11-01 19:09] christinahedges commented on #3838
@HeloiseS and @ilyamandel, in response to your question, I believe that 1) the paper does need to discuss the state of the art (including other similar packages, and how this tool compares) 2) there should be enough room in the paper currently to add this discussion, it does not need to have extreme detail, but it should be present in the JOSS submission (not just the AAS submission).

I hope this

[2021-11-01 19:10] zonca commented on #3783
@danielskatz never noticed before that double braces `{{}}` preserves capitalization... ;)

[2021-11-01 19:10] emptymalei commented on #3827
@whedon generate pdf

[2021-11-01 19:10] whedon commented on #3827
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03827/joss.03827/10.21105.joss.03827.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03827/joss.03827/10.21105.joss.03827.pdf) :page_facing_up: :point_left:

[2021-11-01 19:18] UTH-Tuan commented on #3727
@ljakoster if possible, just provide a hyperlink to https://github.com/kostergroup/SIMsalabim/blob/master/Docs/Developer_guidelines.md for the mention of it under Miscellaneous section.

[2021-11-01 19:18] emptymalei commented on #3827
Hmm, I found a strange thing about the markdown to pdf generator.

![CleanShot 2021-11-01 at 20 11 44@2x](https://user-images.githubusercontent.com/663798/139727777-25159df9-d72a-4f25-b854-c1bdabb5282a.png)

The order of `'` and `,` is different from the original markdown file:

https://github.com/richteague/disksurf/blob/8b1fdf1c1780eefa6c6d008ca4a6739a5a1f45df/paper/paper.md?plain=1#L40

[2021-11-01 19:19] gkthiruvathukal commented on #3853
@ricopicone So happy that you are willing to help with this review. I will invite you know.

@trallard I am sorry you're so busy! I know the feeling. I will try to find a second reviewer.

[2021-11-01 19:19] gkthiruvathukal commented on #3853
@whedon assign @ricopicone as reviewer

[2021-11-01 19:19] richteague commented on #3827
Apologies for missing that code, @cpinte! Do you have a Zenodo reference that I could use to reference it, or would a link to the GitHub repository be OK?

@kthyng - Do you have a preference from an editorial point of view?

[2021-11-01 19:19] whedon commented on #3853
OK, @ricopicone is now a reviewer

[2021-11-01 19:26] danielskatz commented on #3783
@whedon recommend-accept

[2021-11-01 19:26] whedon commented on #3783
[code]

[2021-11-01 19:26] whedon commented on #3783
[code]

[2021-11-01 19:26] whedon commented on #3783
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2721

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2721, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-01 19:27] danielskatz commented on #3783
@whedon accept deposit=true

[2021-11-01 19:27] whedon commented on #3783
[code]

[2021-11-01 19:28] whedon commented on #3783
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1455255423347568649) 👈 🐦🐦🐦

[2021-11-01 19:28] whedon commented on #3783
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2722
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03783](https://doi.org/10.21105/joss.03783)
2. If everything look

[2021-11-01 19:30] danielskatz commented on #3827
It is odd that it's being generated differently than specified, though in this case, correct grammar would be

both the first comma inside the quote, and the second comma added.

[2021-11-01 19:40] csoneson commented on #3818
👋🏻 @lindemann09 - if you're still available, I'd be happy to take you up on your offer of reviewing this submission after you're back in office next week.

[2021-11-01 19:43] danielskatz commented on #3783
Congratulations to @zonca (Andrea Zonca) and co-authors!!

And thanks to @christinahedges for editing, and @patricialarsen and @smsharma for reviewing!
We couldn't do this without you

[2021-11-01 19:43] #3783 closed

[2021-11-01 19:43] whedon commented on #3783
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03783/status.svg)](https://doi.org/10.21105/joss.03783)

**We need your help!**

Journal of Open Source Softwa

[2021-11-01 19:45] whedon opened #3873 "[PRE REVIEW]: ePat: extended PROVEAN annotation tool"
**Submitting author:** @itotaku1225 (<a href="http://orcid.org/0000-0002-6376-584X">Takumi Ito</a>)
**Repository:** <a href="https://github.com/itotaku1225/ePat" target ="_blank">https://github.com/itotaku1225/ePat</a>
**Version:** v3.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2021-11-01 19:46] whedon commented on #3873
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-01 19:46] whedon commented on #3873
Wordcount for `paper.md` is 998

[2021-11-01 19:46] whedon commented on #3873
[code]

[2021-11-01 19:46] whedon opened #3874 "[PRE REVIEW]: Annoroad Browser: A multi-omic visualization tool"
**Submitting author:** @Spartanzhao (<a href="http://orcid.org/0000-0001-5293-820X">Yue Zhao</a>)
**Repository:** <a href="https://github.com/Spartanzhao/Annoroad-Browser/" target ="_blank">https://github.com/Spartanzhao/Annoroad-Browser/</a>
**Version:** v.1.0.0
**Editor:** @jmschrei
**Reviewers:** @pkerpedjiev, @elliothershberg
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service m

[2021-11-01 19:46] whedon commented on #3873
[code]

[2021-11-01 19:46] whedon commented on #3874
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-01 19:46] whedon opened #3875 "[PRE REVIEW]: populR: Residential population down-scaling in R"
**Submitting author:** @mbatsaris (<a href="http://orcid.org/0000-0002-1805-3528">Marios Batsaris</a>)
**Repository:** <a href="https://github.com/mbatsaris/populR" target ="_blank">https://github.com/mbatsaris/populR</a>
**Version:** populR_v0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-11-01 19:46] whedon commented on #3875
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-01 19:46] whedon commented on #3874
Wordcount for `paper.md` is 1279

[2021-11-01 19:46] whedon commented on #3874
[code]

[2021-11-01 19:46] whedon commented on #3874
[code]

[2021-11-01 19:46] whedon commented on #3875
Wordcount for `paper.md` is 1153

[2021-11-01 19:46] whedon commented on #3873
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03873/joss.03873/10.21105.joss.03873.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03873/joss.03873/10.21105.joss.03873.pdf) :page_facing_up: :point_left:

[2021-11-01 19:46] whedon commented on #3875
[code]

[2021-11-01 19:46] whedon commented on #3874
PDF failed to compile for issue #3874 with the following error:
[code]

[2021-11-01 19:46] whedon commented on #3875
[code]

[2021-11-01 19:47] whedon commented on #3875
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03875/joss.03875/10.21105.joss.03875.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03875/joss.03875/10.21105.joss.03875.pdf) :page_facing_up: :point_left:

[2021-11-01 19:48] danielskatz commented on #3873
👋 @itotaku1225 - Unfortunately, this submission is too little small - it does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you migh

[2021-11-01 19:48] danielskatz commented on #3873
@whedon reject

[2021-11-01 19:48] whedon commented on #3873
Paper rejected.

[2021-11-01 19:48] #3873 closed

[2021-11-01 19:53] danielskatz commented on #3874
👋 @Spartanzhao - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

Also, please note that your paper does not compile, with an error in the bib fil

[2021-11-01 19:53] danielskatz commented on #3874
@whedon query scope

[2021-11-01 19:53] whedon commented on #3874
Submission flagged for editorial review.

[2021-11-01 19:55] danielskatz commented on #3875
👋 @mbatsaris - Unfortunately, this submission is too small - it does not meet the substantial scholarly effort criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

[2021-11-01 19:55] danielskatz commented on #3875
@whedon reject

[2021-11-01 19:55] whedon commented on #3875
Paper rejected.

[2021-11-01 19:55] #3875 closed

[2021-11-01 19:59] osorensen commented on #3864
Thanks a lot for your review @dvysardana . I can confirm that you have done what is requested for now, but once the authors report in this thread that they have added a statement if need and a target audience, please come back and compete the review checklist. I will tag you in this thread to make sure you get notified.

[2021-11-01 20:12] nanhung commented on #3820
@jonsampedro I can download the example GCAM database from Zenodo through `rpackageutils::download_unpack_zip()`, but have a problem conducting the following process. Can you figure out this issue?

![Screenshot 2021-11-01 131017](https://user-images.githubusercontent.com/25087463/139735289-70c38f1b-9c3e-4d1d-a913-a3dca97925c0.png)

[2021-11-01 20:16] slayoo commented on #3855
@whedon generate pdf from branch JOSS

[2021-11-01 20:16] whedon commented on #3855
[code]

[2021-11-01 20:17] whedon commented on #3855
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03855/joss.03855/10.21105.joss.03855.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03855/joss.03855/10.21105.joss.03855.pdf) :page_facing_up: :point_left:

[2021-11-01 20:17] slayoo commented on #3855
(updated the paper.md with a figure and sample code snippets in Python, Julia and Matlab)

[2021-11-01 20:21] adRn-s commented on #3841
Great. I've followed the docs without any problem so far. At least, until the installation of biobakeryutils. But...

Is ok to report issues here? If so:

I'm unable to run the `metaphlan()` function because [this URL](https://cmprod1.cibio.unitn.it/biobakery3/metaphlan_databases/mpa_latest) is 404... or maybe without SSL cert? I tried `http` (without **s**) and only saw a text in my web browser.

[2021-11-01 20:39] kthyng commented on #3827
I didn't know that would happen in the pdf compilation! My understanding for the order of quotes vs. commas in a sentence is geographically dependent with different accepted rules in the U.S. vs the U.K. for example.

[2021-11-01 20:42] adRn-s commented on #3841
Great!

PS. I had some issue, but apparently it was my connectivity

[2021-11-01 21:26] astrojuanlu commented on #3710
Hi all, sorry for the delay - I'm finishing my review right now 🙏🏽

[2021-11-01 21:35] astrojuanlu commented on #3710
Issues updated, review finished, everything looks good to me. Happy to accept this submission ✔️

[2021-11-01 21:48] iannesbitt commented on #2565
Hi @calum-chamberlain @jedbrown, just wanted to make sure this got to you.

[2021-11-01 22:40] athulpg007 commented on #3710
@astrojuanlu thanks for your response and valuable review!

[2021-11-01 22:58] taless474 commented on #3628
@lucaferranti, @justinsgray, @sigvaldm, is any of you interested in reviewing this?

[2021-11-02 01:02] allenzhuaz commented on #3872
Thank you, I have added LICENSE file, and update for MIT license. Also added DOI's for the reference

[2021-11-02 01:03] allenzhuaz commented on #3872
@whedon check references

[2021-11-02 01:03] whedon commented on #3872
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "doi" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:title=>["Statistical applications for chemistry, manufacturing and controls (CMC) in the pharmaceutical industry"], :author=>["Burdick, Richard K and LeBlond, David J and Pfahler, Lori B and Quiroz, Jorge and Sidor, Leslie and Vuko

[2021-11-02 01:06] allenzhuaz commented on #3872
@whedon check references

[2021-11-02 01:06] whedon commented on #3872
[code]

[2021-11-02 01:07] allenzhuaz commented on #3872
@whedon generate pdf

[2021-11-02 01:07] whedon commented on #3872
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03872/joss.03872/10.21105.joss.03872.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03872/joss.03872/10.21105.joss.03872.pdf) :page_facing_up: :point_left:

[2021-11-02 01:31] calum-chamberlain commented on #2565
Hi all, apologies, but I'm currently in the field installing seismometers along the Alpine Fault and won't be able to get to this until December. Sorry!

[2021-11-02 01:43] prashjha commented on #3775
Hello, @AustinTSchaffer! Would you be interested in reviewing this submission?

[2021-11-02 01:45] prashjha commented on #3775
Hi @cjwu, this submission may be interesting for you. Any chance you could review this?

[2021-11-02 01:47] prashjha commented on #3847
Howdy, @TomDonoghue! Would you be interested in reviewing this submission?

[2021-11-02 01:49] prashjha commented on #3847
Hello, @kczimm! This submission may be of interest to you. Any chance you could review it?

[2021-11-02 01:50] kczimm commented on #3847
Hey @prashjha, I'm sorry I'm unable to review this at the moment.

[2021-11-02 01:52] prashjha commented on #3847
@kczimm no worries. Thanks for letting me know fast!! Have a good one.

[2021-11-02 03:02] prashjha commented on #3847
Hi @spinicist, would you be interested in reviewing this submission?

[2021-11-02 03:23] galessiorob commented on #3756
@whedon generate pdf

[2021-11-02 03:23] whedon commented on #3756
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03756/joss.03756/10.21105.joss.03756.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03756/joss.03756/10.21105.joss.03756.pdf) :page_facing_up: :point_left:

[2021-11-02 03:38] galessiorob commented on #3756
👋  @AlexanderPico @rabdill @apcamargo

Could you give the paper the last review and check if the latest additions and edits satisfy the last items from the list, please? I believe that the "state of the field" and "statement of need" items are taken care of in the statement of need and discussion sections.

Thank you so much for your time and effort on this project.

[2021-11-02 03:40] galessiorob commented on #3774
👋 @wlandau I just sent a fresh batch of invites to review this paper, once we get a second reviewer we can go ahead and start the actual review.

Thanks for the patience!

[2021-11-02 04:10] galessiorob commented on #3859
Thank you so much for your speedy review @htjb ⚡ I appreciate the thorough documentation on the feedback.

@chasmani, if you can please start by addressing the automated tests and the community guidelines so we can make progress with the actual software. I'll open a PR with some edit suggestions shortly so we can address the paper.

@vyasr please let me know if I can help with anything so you can

[2021-11-02 05:17] jbytecode commented on #3710
@whedon check references

[2021-11-02 05:17] whedon commented on #3710
[code]

[2021-11-02 05:18] jbytecode commented on #3710
@whedon generate pdf

[2021-11-02 05:19] whedon commented on #3710
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03710/joss.03710/10.21105.joss.03710.pdf) :page_facing_up: :point_left:

[2021-11-02 05:39] leouieda commented on #3673
👋🏽 @TobbeTripitaka @akaszynski just checking in here on the status of your reviews. Could you please confirm that you are satisfied with the changes made?

[2021-11-02 06:30] leouieda commented on #3858
👋🏽 Hi @kthyng happy to edit this. The other paper is pretty much done so I think I can take this on 👍🏽

[2021-11-02 06:31] leouieda commented on #3858
@whedon assign @leouieda as editor

[2021-11-02 06:31] whedon commented on #3858
OK, the editor is @leouieda

[2021-11-02 06:39] leouieda commented on #3858
👋🏽 Hi @valentineap thank you for your submission to JOSS! I'll first do some light editorial proof-reading of your paper and package and then search for suitable reviewers. In the mean time, you can:

1. Suggest suitable reviewers (who you already know or from [our list of reviewers](https://bit.ly/joss-reviewers)). Please include their GitHub username without @-mentioning to avoid spamming their

[2021-11-02 06:41] lucaferranti commented on #3628
@taless474 yes I can review this

[2021-11-02 07:20] jbytecode commented on #3710
Dear @athulpg007

- [ ] I sent a pull request (https://github.com/athulpg007/AMAT/pull/7) that includes typo / language correction and possible enhancements. If you agree with them, please apply.

- [ ] Please re-check the whole paper by means of both language and format (one more time). When it is finished, please ping me here.

- [ ] make a tagged release and archive (e.g. with [Zenodo](https://

[2021-11-02 09:17] chartgerink commented on #3822
many thanks @johannes-titz!

I am only awaiting a short summary from the reviewers - after that I can move forward with the editorial process based on their assessment.

[2021-11-02 10:09] metelkin commented on #3708
@martinmodrak,
Thank you for your review.
1) The Heta language is not the first formal representation of biomodels. There are formats of storage like SBML, CellML, Antimony, as well as some DSLs that are applied in a specific modeling tools like mrgsolve, ModelingToolkit.jl, etc. Each of them has some specific purpose and limitations. There were two reasons not to mention them in the article. The

[2021-11-02 10:21] adi3 commented on #3490
@destogl - I see you're almost done with your checklist. Could you please plan to finish it sometime this week so we can move ahead with publishing this paper? Greatly appreciate your help!

[2021-11-02 10:24] will-rowe commented on #3841
Hi all. I'm having some Github difficulties with this thread for some reason. I will assign our reviewers and move this to a review issue. Thank you for agreeing to review and to @kescobo for getting the docs ready

[2021-11-02 10:24] will-rowe commented on #3841
@whedon assign @adRn-s as reviewer

[2021-11-02 10:24] whedon commented on #3841
OK, @adRn-s is now a reviewer

[2021-11-02 10:24] will-rowe commented on #3841
@whedon add @aguang as reviewer

[2021-11-02 10:24] whedon commented on #3841
OK, @aguang is now a reviewer

[2021-11-02 10:25] will-rowe commented on #3841
@whedon start review

[2021-11-02 10:25] whedon opened #3876 "[REVIEW]: Microbiome.jl and BiobakeryUtils.jl - Julia packages for working with microbial community data"
**Submitting author:** @kescobo (<a href="http://orcid.org/0000-0003-3200-7533">Bonham, Kevin</a>)
**Repository:** <a href="https://github.com/EcoJulia/Microbiome.jl" target ="_blank">https://github.com/EcoJulia/Microbiome.jl</a>
**Version:** v0.8.2
**Editor:** @will-rowe
**Reviewer:** @adRn-s, @aguang
**Archive:** <a href="https://doi.org/10.5281/zenodo.5682344" target="_blank">10.5281/zenodo.568

[2021-11-02 10:25] whedon commented on #3841
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3876.

[2021-11-02 10:25] #3841 closed

[2021-11-02 10:25] whedon commented on #3876
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adRn-s, @aguang it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2021-11-02 10:25] whedon commented on #3876
Wordcount for `paper.md` is 963

[2021-11-02 10:25] whedon commented on #3876
[code]

[2021-11-02 10:25] whedon commented on #3876
[code]

[2021-11-02 10:25] whedon commented on #3876
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03876/joss.03876/10.21105.joss.03876.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03876/joss.03876/10.21105.joss.03876.pdf) :page_facing_up: :point_left:

[2021-11-02 10:28] will-rowe commented on #3839
Hi all. Just checking in. Thanks @telatin for your thorough review. @hcdenbakker - can you please respond to the minor comments over in https://github.com/hcdenbakker/sepia/issues/17

@Ebedthan - how are you getting on with the review?

[2021-11-02 10:30] Ebedthan commented on #3839
Hi @will-rowe,
I'll be done today.

[2021-11-02 10:44] arfon commented on #3783
✨✨✨ Congrats on your first paper as editor @christinahedges ✨ ✨✨

[2021-11-02 10:48] johncwok commented on #3733
Dear @jbytecode

I have done a final check of the paper and made two minor word adjustments, I am finished now.

The latest release (v1.1.4) is archived on figshare with the following DOI [10.6084/m9.figshare.16917625](10.6084/m9.figshare.16917625)

[2021-11-02 11:30] adi3 commented on #3527
Hi @AP6YC - you have plenty of feedback from both reviewers now to get things moving. Please let us know how you are progressing with them. Thanks!

[2021-11-02 11:33] adi3 commented on #3671
@AP6YC please address the issues listed above that require your attention. Can you get these done within this month? I'd like to take this review forward.

[2021-11-02 11:34] jbytecode commented on #3733
@whedon check references

[2021-11-02 11:34] whedon commented on #3733
[code]

[2021-11-02 11:34] jbytecode commented on #3733
@whedon generate pdf

[2021-11-02 11:35] whedon commented on #3733
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03733/joss.03733/10.21105.joss.03733.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03733/joss.03733/10.21105.joss.03733.pdf) :page_facing_up: :point_left:

[2021-11-02 11:39] TimKam commented on #3804
Apologies, I will need more time; as I've mentioned when asked to review, I am not that fast this time of the year, considering conference review duties and the teaching workload peak of my teaching context. I have this on my list, though.

[2021-11-02 11:40] jbytecode commented on #3733
@whedon set v1.1.4 as version

[2021-11-02 11:40] whedon commented on #3733
OK. v1.1.4 is the version.

[2021-11-02 11:41] jbytecode commented on #3733
@whedon set 10.6084/m9.figshare.16917625 as archive

[2021-11-02 11:41] whedon commented on #3733
OK. <a href="https://doi.org/10.6084/m9.figshare.16917625" target="_blank">10.6084/m9.figshare.16917625</a> is the archive.

[2021-11-02 11:42] jbytecode commented on #3733
@whedon recommend-accept

[2021-11-02 11:42] whedon commented on #3733
[code]

[2021-11-02 11:42] whedon commented on #3733
[code]

[2021-11-02 11:42] whedon commented on #3733
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2723

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2723, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-02 11:48] TNanukem commented on #3864
@whedon generate pdf from branch docs/joss_paper

[2021-11-02 11:48] whedon commented on #3864
[code]

[2021-11-02 11:48] whedon commented on #3864
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03864/joss.03864/10.21105.joss.03864.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03864/joss.03864/10.21105.joss.03864.pdf) :page_facing_up: :point_left:

[2021-11-02 11:50] TNanukem commented on #3864
Hello @dvysardana

I've added more information about the target audience on the README and on the sphinx documentation.
Also, I added more information about other packages on the paper.

Do those changes meet the criteria for your revision? If not, do you have any suggestions on how to improve it to make it acceptable?

Thank you for your review!

[2021-11-02 12:01] mirenradia commented on #3703
Great, we should add this to the FAQ page on the wiki.

This is a bit of a mystery to me. I presume there's still no output to stderr? Looking at the last few lines of `pout.0`, does the output end at the same place? This suggestion is a bit of a shot in the dark but can you try running with the parameter `verbosity = 0` (I'm wondering if the buffer is full from too much output)?

[2021-11-02 12:17] Ebedthan commented on #3839
Dear @hcdenbakker,

Thank you for the interesting submission. This software fills a gap in the taxonomic read tools.
I have been able to install, test, and run the software without any issue.

Overall, **the repository** is well put together. However, I have some comments which I think will make the software more accessible to the community. I have listed them below with links to the corresponding

[2021-11-02 12:24] mdhurst1 commented on #3689
Hi @kbarnhart, apologies for the delay in pushing this along. I have tried to provide some initial answers to the points raised above but still have some work to do:
- The JOSS branch has now been merged to master so licence situation should be fine.
- This includes an example test that I think conforms with "OK: Documented manual steps that can be followed to objectively check the expected functi

[2021-11-02 12:33] danielskatz commented on #3733
@johncwok - can you update the title of the figshare archive to match the title of the paper: "CategoricalTimeSeries.jl: A toolbox for categorical time-series analysis"?

[2021-11-02 12:35] chasmani commented on #3859
@htjb thank you for the review. All good points. I will aim to address them all this week.

Charlie

[2021-11-02 12:37] ljakoster commented on #3727
@UTH-Tuan: thanks, that's an excellent suggestion. We're rewriting the
readme file and will include the link.

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://www.koster-group.nl>

On Mon, 1 Nov 2021 at 20:18, UTH-Tuan ***@***

[2021-11-02 12:41] danielskatz commented on #3733
I've also suggested some small changes in the paper in https://github.com/johncwok/CategoricalTimeSeries.jl/pull/13 - please merge this, or let me know what you disagree with, then we can proceed to acceptance and publishing.

[2021-11-02 13:08] TomDonoghue commented on #3847
@prashjha - this looks super interesting, and within my area - I'd be happy to review it!

[2021-11-02 13:15] prashjha commented on #3847
Great, adding you now! :)

[2021-11-02 13:15] prashjha commented on #3847
@whedon assign @TomDonoghue as reviewer

[2021-11-02 13:15] whedon commented on #3847
OK, @TomDonoghue is now a reviewer

[2021-11-02 13:28] AP6YC commented on #3671
@adi3 Sure thing, end of the month is very feasible. I have been tackling the issues on the project's issues page, but I will be more diligent to give updates on them here too.

[2021-11-02 13:30] AP6YC commented on #3527
@adi3 Thanks for the ping; I'll tackle these shortly! I will update progress here as well as on the repo's issue pane.

[2021-11-02 13:35] jonsampedro commented on #3820
@nanhung That error is related with the `rgcam` package (dependency), which is used to extract the relevant data from the GCAM database.  Is it your working directory (WD) equal to the "db_path"? `rgcam::localDBConn` does not work when the WD is set to be the same as the directory that holds GCAM database, so that may be the problem.

[2021-11-02 13:52] spinicist commented on #3847
Hello, I sadly don't have the time but looks like you are quorate for the review now?

[2021-11-02 14:04] hcdenbakker commented on #3839
Dear @will-rowe, @telatin @Ebedthan,

Thanks you for the speedy review and very constructive comments! We will be working on the revisions ASAP should be able to get the manuscript revised  and repository updated within a week.

Thanks again,
-Henk

[2021-11-02 14:05] whedon commented on #3832
:wave: @axel-loewe, please update us on how your review is going (this is an automated reminder).

[2021-11-02 14:10] brovelli commented on #3842
We checked the 3 MISSING DOIs on https://dx.doi.org/ and they all appear to be correct.

[2021-11-02 14:14] napulen commented on #3784
I was unfortunately unable to run the tests locally without some further reading/scripts. It should be an easy fix though, I left the relevant comments in the issue https://github.com/MichaelSel/edoJS/issues/8, plus an additional issue about a deprecated `npm` flag.

[2021-11-02 15:10] iannesbitt commented on #2565
No problem, good luck in the field!

[2021-11-02 15:26] Sbozzolo commented on #3703
There is no stderr or stdout. The last few lines of the `.out` file are (from 12120):
[code]
The last few lines of the `pout.0` file are (from lines 231755):
[code]

I am trying with no verbosity.

[2021-11-02 15:33] whedon commented on #3725
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03725/joss.03725/10.21105.joss.03725.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03725/joss.03725/10.21105.joss.03725.pdf) :page_facing_up: :point_left:

[2021-11-02 15:36] mbegnaud commented on #3619
Yes, I can review. When do you need it?

[2021-11-02 15:40] galessiorob commented on #3774
@whedon add @sachsmc as reviewer

[2021-11-02 15:40] whedon commented on #3774
OK, @sachsmc is now a reviewer

[2021-11-02 15:41] galessiorob commented on #3774
@whedon add @JonasMoss as reviewer

[2021-11-02 15:41] whedon commented on #3774
OK, @JonasMoss is now a reviewer

[2021-11-02 15:42] galessiorob commented on #3774
@whedon add MaaniBeigy as reviewer

[2021-11-02 15:42] whedon commented on #3774
OK, MaaniBeigy is now a reviewer

[2021-11-02 15:46] galessiorob commented on #3859
@whedon add @lauravana as reviewer

[2021-11-02 15:46] whedon commented on #3859
OK, @lauravana is now a reviewer

[2021-11-02 15:46] lucydot commented on #3725
@whedon check references

[2021-11-02 15:47] whedon commented on #3725
[code]

[2021-11-02 15:47] lucydot commented on #3725
@whedon set 10.5281/zenodo.5607961 as archive

[2021-11-02 15:47] whedon commented on #3725
OK. <a href="https://doi.org/10.5281/zenodo.5607961" target="_blank">10.5281/zenodo.5607961</a> is the archive.

[2021-11-02 15:52] galessiorob commented on #3774
@whedon start review

[2021-11-02 15:52] whedon opened #3877 "[REVIEW]: The jagstargets R package: a reproducible workflow framework for Bayesian data analysis with JAGS"
**Submitting author:** @wlandau (<a href="http://orcid.org/0000-0003-1878-3253">William Landau</a>)
**Repository:** <a href="https://github.com/ropensci/jagstargets" target ="_blank">https://github.com/ropensci/jagstargets</a>
**Version:** v1.0.0
**Editor:** @galessiorob
**Reviewers:** @AoifeHughes, @sachsmc, @JonasMoss
**Archive:** <a href="https://doi.org/10.5281/zenodo.5745858" target="_blank">

[2021-11-02 15:52] whedon commented on #3774
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3877.

[2021-11-02 15:52] #3774 closed

[2021-11-02 15:52] whedon commented on #3877
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AoifeHughes, @sachsmc, @JonasMoss, @MaaniBeigy it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means

[2021-11-02 15:52] whedon commented on #3877
Wordcount for `paper.md` is 416

[2021-11-02 15:52] whedon commented on #3877
[code]

[2021-11-02 15:52] whedon commented on #3877
[code]

[2021-11-02 15:57] mirenradia commented on #3703
Hmm, it seems the one built with the Intel compiler manages to get quite a bit further than the GCC one.

Another thing that confuses me is why you have output in your `.out` file that should be in the `pout` files. Looking at the [Chombo source code](https://github.com/GRChombo/Chombo/blob/main/lib/src/BaseTools/parstream.cpp#L123-L158), this should only happen if it fails to open the `pout` file

[2021-11-02 15:58] galessiorob commented on #3877
👋  @AoifeHughes, @sachsmc, @JonasMoss, @MaaniBeigy

Thank you so much for volunteering to review this paper, at the top you'll find a checklist under each of your names, please make your way through it and let me know if you have any questions. You can mention @wlandau with comments here or open individual issues.

[2021-11-02 16:00] lucydot commented on #3725
Hi @temken I've just realised the version is 0.2.0 - I'd usually expect production/stable code to be at a version number 1.0.0+ (with 0.X.Y for beta releases). Was this an oversight per chance?

[2021-11-02 16:04] galessiorob commented on #3859
@whedon add @Ebedthan as reviewer

[2021-11-02 16:04] whedon commented on #3859
OK, @Ebedthan is now a reviewer

[2021-11-02 16:06] Sbozzolo commented on #3703
With `verbosity = 0` it hangs exactly at the same time.

[2021-11-02 16:10] johncwok commented on #3733
Dear @danielskatz,

I have no objections to the small changes you made to the paper, thanks for the suggestions.
I changed the title of the figshare archive to match the paper.

[2021-11-02 16:11] galessiorob commented on #3877
@whedon add @lauravana as reviewer

[2021-11-02 16:12] whedon commented on #3877
OK, @lauravana is now a reviewer

[2021-11-02 16:12] prashjha commented on #3847
Hi @spinicist, we need one more. Thanks for a prompt response.

Is this a hard pass? If we don't find one more reviewer, would you be able to take this up??

[2021-11-02 16:12] danielskatz commented on #3733
@whedon recommend-accept

[2021-11-02 16:12] whedon commented on #3733
[code]

[2021-11-02 16:13] whedon commented on #3733
[code]

[2021-11-02 16:13] whedon commented on #3733
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2724

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2724, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-02 16:14] danielskatz commented on #3733
@whedon accept deposit=true

[2021-11-02 16:14] whedon commented on #3733
[code]

[2021-11-02 16:14] whedon commented on #3733
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1455569125011607553) 👈 🐦🐦🐦

[2021-11-02 16:14] whedon commented on #3733
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2725
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03733](https://doi.org/10.21105/joss.03733)
2. If everything look

[2021-11-02 16:22] danielskatz commented on #3733
Congratulations to @johncwok (Corentin Nelias)!!

And thanks to @jbytecode for editing, and @bkamins and @felixcremer for reviewing!
We couldn't do this without you

[2021-11-02 16:22] danielskatz commented on #3733
At least for me right now, the DOI is not resolving - sometimes it takes longer than other time.

Once it does, I will close this issue.

[2021-11-02 16:23] spinicist commented on #3847
Apologies for misunderstanding.

I do not have time at the moment to do the review.

[2021-11-02 16:25] alexdma commented on #2731
I have updated the reviewer checklist following core issues now solved. Everything checks. Thanks to the authors for all the work done to onboard the advice!

[2021-11-02 16:32] prashjha commented on #3847
Okay!! Have a good one.

[2021-11-02 16:33] prashjha commented on #3847
Hi Jan, @janfreyberg! Would you be interested in reviewing this submission?

[2021-11-02 16:35] mirenradia commented on #3703
Some more things to try
* Does the time when it hang changes if there is only 1 OpenMP thread (keep the number of ranks/node constant so that memory usage doesn't change much)?
* If you recompile with `OPT = TRUE` (rather than `HIGH` in your Make.defs.local), this will enable assertions. Try rerunning with this (it will probably significantly slow down your simulation) to see if you get a message

[2021-11-02 16:46] lucydot commented on #3854
Hi @tcaduser thanks for the suggestions!

Hi @Jgoldfar and @dalonsoa 👋 are you available to review this submission?

[2021-11-02 16:51] mirenradia commented on #3703
Also, it would be worth ensuring your MPI launch command correctly distributes the MPI ranks over the node. If using Intel MPI, you can use the `-ppn` flag so your launch line would be something like
[code]
In an ideal world, it should be able to automatically determine and set this from the SLURM job but this is not always the case.

[2021-11-02 17:01] arfon commented on #2731
@c-martinez – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the au

[2021-11-02 17:06] MichaelSel commented on #3784
I believe this is now resolved. I'll leave it up to Néstor to make the
final call.

On Tue, Nov 2, 2021 at 3:14 PM Néstor Nápoles López <
***@***.***> wrote:

[2021-11-02 17:11] danielskatz commented on #3733
the DOI now works for me - again, congratulations & thanks to everyone for making this a smooth and productive process!

[2021-11-02 17:11] #3733 closed

[2021-11-02 17:11] whedon commented on #3733
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03733/status.svg)](https://doi.org/10.21105/joss.03733)

**We need your help!**

Journal of Open Source Softwa

[2021-11-02 17:12] danielskatz commented on #3619
Ideally, as quickly as you can conveniently do it :)  How long would you want/need?

I'm also going to update the checklists at the top to give you one, and change the reviewers in the system to remove @jkmacc-LANL and add you.

Thanks!!

[2021-11-02 17:12] danielskatz commented on #3619
@whedon remove @jkmacc-LANL as reviewer

[2021-11-02 17:13] whedon commented on #3619
OK, @jkmacc-LANL is no longer a reviewer

[2021-11-02 17:13] danielskatz commented on #3619
@whedon add @mbegnaud as reviewer

[2021-11-02 17:13] whedon commented on #3619
OK, @mbegnaud is now a reviewer

[2021-11-02 17:13] danielskatz commented on #3619
@whedon re-invite @mbegnaud as reviewer

[2021-11-02 17:13] whedon commented on #3619
The reviewer already has a pending invite.

@mbegnaud please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-02 17:16] mbegnaud commented on #3619
I will try to get it to you within a week

________________________________
Dr. Michael Begnaud
LANL Project Manager, Ground-based Nuclear Detonation Detection
LANL Venture Lead, Dynamic Networks, Low-yield Nuclear Monitoring
Los Alamos National Laboratory ( http://www.lanl.gov<http://www.lanl.gov/> )
P.O. Box 1663  MS F665 (Mailing),  Bikini Atoll Rd., SM 30 (Shipping)
Los Alamos, NM  87545
(505)

[2021-11-02 17:16] danielskatz commented on #3619
👋 @mbegnaud - Thanks for agreeing to review this submission.

You have a checklist at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Please read the first couple of comments in this issue carefully, so that you can accept the invitation from JOSS and b

[2021-11-02 17:20] danielskatz commented on #3851
@ddeehere - We've just finished the scope discussion, and this has been approved to be reviewed.  I'll remove the scope query label and start working on finding an editor to start the review

[2021-11-02 17:25] dvysardana commented on #3864
Hello @tnanukem

Thanks for adding the additional information. These changes look good to
me. I have no other suggestions for improvement.

Best Regards
Divya Sardana

On Tue, Nov 2, 2021 at 4:50 AM Tiago Toledo Junior ***@***.***>
wrote:

[2021-11-02 17:25] danielskatz commented on #3851
👋 @csoneson - do you think you can edit this submission?  It's a little different than most submissions...

[2021-11-02 17:25] danielskatz commented on #3851
@whedon invite @csoneson as editor

[2021-11-02 17:26] whedon commented on #3851
@csoneson has been invited to edit this submission.

[2021-11-02 17:32] danielskatz commented on #3857
👋 @gabrielelubatti - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission has issues with the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS, combined with a need for more work to make the software more mature, such as well-organized documentation, [pack

[2021-11-02 17:32] danielskatz commented on #3857
@whedon reject

[2021-11-02 17:32] whedon commented on #3857
Paper rejected.

[2021-11-02 17:32] #3857 closed

[2021-11-02 17:35] danielskatz commented on #3868
👋 @MaybeJustJames - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS, as it appears to be a GUI wrapper that does not provide new functionality. This does not mean that it is not software that is useful in resear

[2021-11-02 17:35] danielskatz commented on #3868
@whedon reject

[2021-11-02 17:35] whedon commented on #3868
Paper rejected.

[2021-11-02 17:35] #3868 closed

[2021-11-02 17:36] danielskatz commented on #3872
👋 @allenzhuaz - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pa

[2021-11-02 17:36] danielskatz commented on #3872
@whedon reject

[2021-11-02 17:36] whedon commented on #3872
Paper rejected.

[2021-11-02 17:36] #3872 closed

[2021-11-02 17:37] danielskatz commented on #3856
👋 @sbenthall - a ping on this...  (and note that one reviewer has already volunteered :) )

[2021-11-02 17:37] whedon opened #3878 "[PRE REVIEW]: Basix: a runtime finite element basis evaluation library"
**Submitting author:** @mscroggs (<a href="http://orcid.org/0000-0002-4658-2443">Matthew Scroggs</a>)
**Repository:** <a href="https://github.com/FEniCS/basix" target ="_blank">https://github.com/FEniCS/basix</a>
**Version:** v0.3.0
**Editor:** @jedbrown
**Reviewers:** @tisaac, @wence-
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-11-02 17:37] whedon commented on #3878
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-02 17:37] whedon commented on #3878
[code]

[2021-11-02 17:38] whedon commented on #3878
[code]

[2021-11-02 17:38] whedon opened #3879 "[PRE REVIEW]: mmrefpoints: Projecting long-term marine mammal abundance with bycatch"
**Submitting author:** @mcsiple (<a href="http://orcid.org/0000-0002-4260-9856">Margaret Siple</a>)
**Repository:** <a href="https://github.com/mcsiple/mmrefpoints" target ="_blank">https://github.com/mcsiple/mmrefpoints</a>
**Version:** v0.1.1
**Editor:** @fboehm
**Reviewers:** @ha0ye and @eirenjacobson
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-11-02 17:38] whedon commented on #3879
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-02 17:38] whedon commented on #3879
Wordcount for `paper.md` is 1309

[2021-11-02 17:38] whedon commented on #3879
[code]

[2021-11-02 17:38] whedon commented on #3879
[code]

[2021-11-02 17:38] whedon opened #3880 "[PRE REVIEW]: Sinaps: A Python library to simulate voltage dynamic and ionic electrodiffusion in neurons"
**Submitting author:** @cgurrr (<a href="http://orcid.org/0000-0002-1128-1069">Claire Guerrier</a>)
**Repository:** <a href="https://github.com/ngltr/sinaps" target ="_blank">https://github.com/ngltr/sinaps</a>
**Version:** 0.2
**Editor:** @meg-simula
**Reviewers:** @martejulie, @blbentley
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-11-02 17:38] whedon commented on #3878
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03878/joss.03878/10.21105.joss.03878.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03878/joss.03878/10.21105.joss.03878.pdf) :page_facing_up: :point_left:

[2021-11-02 17:38] whedon commented on #3880
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-02 17:38] whedon commented on #3880
Wordcount for `paper.md` is 517

[2021-11-02 17:38] whedon commented on #3880
[code]

[2021-11-02 17:38] whedon opened #3881 "[PRE REVIEW]: VeridicalFlow: a python package for building trustworthy data-science pipelines with PCS"
**Submitting author:** @csinva (<a href="http://orcid.org/0000-0003-0318-2340">Chandan Singh</a>)
**Repository:** <a href="https://github.com/Yu-Group/veridical-flow" target ="_blank">https://github.com/Yu-Group/veridical-flow</a>
**Version:** v0.0.2
**Editor:** @jbytecode
**Reviewers:** @kmichael08, @richrobe
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due

[2021-11-02 17:38] whedon commented on #3880
[code]

[2021-11-02 17:38] whedon commented on #3881
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-02 17:38] whedon commented on #3881
[code]

[2021-11-02 17:38] whedon commented on #3879
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03879/joss.03879/10.21105.joss.03879.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03879/joss.03879/10.21105.joss.03879.pdf) :page_facing_up: :point_left:

[2021-11-02 17:38] whedon commented on #3881
[code]

[2021-11-02 17:39] whedon commented on #3880
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03880/joss.03880/10.21105.joss.03880.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03880/joss.03880/10.21105.joss.03880.pdf) :page_facing_up: :point_left:

[2021-11-02 17:39] whedon commented on #3881
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03881/joss.03881/10.21105.joss.03881.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03881/joss.03881/10.21105.joss.03881.pdf) :page_facing_up: :point_left:

[2021-11-02 17:40] danielskatz commented on #3878
@jedbrown - would you be willing to edit this?  I know you are at your limit, but it seems a good fit...

[2021-11-02 17:40] danielskatz commented on #3878
@whedon invite @jedbrown as editor

[2021-11-02 17:40] whedon commented on #3878
@jedbrown has been invited to edit this submission.

[2021-11-02 17:42] danielskatz commented on #3881
👋 @csinva - while we find an editor, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comm

[2021-11-02 17:43] danielskatz commented on #3881
👋 @jbytecode - would you be willing to edit this submission?

[2021-11-02 17:43] danielskatz commented on #3881
@whedon invite @jbytecode as editor

[2021-11-02 17:43] whedon commented on #3881
@jbytecode has been invited to edit this submission.

[2021-11-02 17:44] danielskatz commented on #3880
👋 @meg-simula - would you be able to edit this submission?

[2021-11-02 17:45] danielskatz commented on #3880
@whedon invite @meg-simula as editor

[2021-11-02 17:45] whedon commented on #3880
@meg-simula has been invited to edit this submission.

[2021-11-02 17:46] danielskatz commented on #3879
👋 @Bisaloo - would you be able to edit this submission?

[2021-11-02 17:47] danielskatz commented on #3879
@whedon invite @Bisaloo as editor

[2021-11-02 17:47] whedon commented on #3879
@Bisaloo has been invited to edit this submission.

[2021-11-02 17:49] patrickcgray commented on #3758
Hi @kthyng this package looks amazing! and I'd love to dig into it, but I'm not familiar enough with Julia and don't have the time over the coming month to do it justice. I look forward to seeing it in JOSS though!

[2021-11-02 17:52] temken commented on #3725
Hi @lucydot,
I didn't really think much about it, it was just that all previous version were 0.1.x, so I thought 0.2.0 would be the next step. I can make another release with version 1.0.0 if necessary. Please let me know.

[2021-11-02 17:52] jbytecode commented on #3881
@danielskatz of course, thank you

[2021-11-02 17:53] jbytecode commented on #3881
@whedon assign me as editor

[2021-11-02 17:53] whedon commented on #3881
OK, the editor is @jbytecode

[2021-11-02 17:54] taless474 commented on #3628
@whedon add @lucaferranti as reviewer

[2021-11-02 17:54] whedon commented on #3628
OK, @lucaferranti is now a reviewer

[2021-11-02 17:55] taless474 commented on #3628
@whedon start review

[2021-11-02 17:55] whedon opened #3882 "[REVIEW]: Simframe: A Python Framework for Scientific Simulations"
**Submitting author:** @stammler (<a href="http://orcid.org/0000-0002-1589-1796">Sebastian Markus Stammler</a>)
**Repository:** <a href="https://github.com/stammler/simframe" target ="_blank">https://github.com/stammler/simframe</a>
**Version:** 1.0.0
**Editor:** @taless474
**Reviewer:** @schruste, @lucaferranti
**Archive:** <a href="https://doi.org/10.5281/zenodo.5785575" target="_blank">10.5281/

[2021-11-02 17:55] whedon commented on #3628
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3882.

[2021-11-02 17:55] #3628 closed

[2021-11-02 17:55] whedon commented on #3882
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @schruste, @lucaferranti it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-11-02 17:55] whedon commented on #3882
[code]

[2021-11-02 17:55] whedon commented on #3882
Wordcount for `paper.md` is 860

[2021-11-02 17:55] whedon commented on #3882
[code]

[2021-11-02 17:56] whedon commented on #3882
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03882/joss.03882/10.21105.joss.03882.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03882/joss.03882/10.21105.joss.03882.pdf) :page_facing_up: :point_left:

[2021-11-02 18:03] kescobo commented on #3876
Co-authors: @annelle-abatoni @anikaluo @vanjakle

[2021-11-02 18:17] AlexanderPico commented on #3756
My remaining unchecked box is for "state of the field" under the "Software paper" heading. While I agree with the author that a tool comparison is best placed in the repo's README for easy updating, I'm not sure it satisfies the journal's requirement for the paper. I'm fine with either:

 - The editor's approval that the repo's README counts as part of the paper, or
 - A sentence being added to th

[2021-11-02 18:25] fboehm commented on #3879
If @Bisaloo isn't available to edit this, I'd be happy to edit it.

[2021-11-02 18:25] jonsampedro commented on #3820
Hello @nanhung . During the review process I have realized that there has been an update in the downstrem `rmap` software, so if you activated map=T, there were some errors. I have made some modifications and the maps can be now generated with no issues, so you may need to the pull the changes from the main branch. I could make a new release, but I thought that it would be more efficient making it

[2021-11-02 18:29] danielskatz commented on #3879
👋 @fboehm - given that @Bisaloo didn't ask for it, I suggested this, and you are interested, I'll just go ahead and assign it to you

[2021-11-02 18:29] danielskatz commented on #3879
@whedon assign @fboehm as editor

[2021-11-02 18:29] whedon commented on #3879
OK, the editor is @fboehm

[2021-11-02 18:31] whedon opened #3883 "[PRE REVIEW]: populR: Residential Population Down-Scaling in R"
**Submitting author:** @mbatsaris (<a href="http://orcid.org/0000-0002-1805-3528">Marios Batsaris</a>)
**Repository:** <a href="https://github.com/mbatsaris/populR" target ="_blank">https://github.com/mbatsaris/populR</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2021-11-02 18:31] whedon commented on #3883
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-02 18:31] whedon commented on #3883
Wordcount for `paper.md` is 1153

[2021-11-02 18:31] whedon commented on #3883
[code]

[2021-11-02 18:31] whedon commented on #3883
[code]

[2021-11-02 18:31] whedon commented on #3883
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03883/joss.03883/10.21105.joss.03883.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03883/joss.03883/10.21105.joss.03883.pdf) :page_facing_up: :point_left:

[2021-11-02 18:34] danielskatz commented on #3883
👋 @mbatsaris - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2021-11-02 18:34] danielskatz commented on #3883
@whedon query scope

[2021-11-02 18:34] whedon commented on #3883
Submission flagged for editorial review.

[2021-11-02 19:26] ddeehere commented on #3851
Yes, we can edit the submission. Can you provide some guidance on where we differ from others so that we know where we are deficient? Thank you.

[2021-11-02 19:29] danielskatz commented on #3851
👋 @ddeehere - I think you missed that fact that the invitation to edit was to @csoneson. JOSS reviews include a number of roles, including
* an Assistant Editor-in-Chief (AEiC), currently me
* an editor, to be found by the AEiC, not currently filled
* at least two reviewers, to be found by the editor, not currently filled
* the author, you

[2021-11-02 19:49] kbarnhart commented on #3689
@mdhurst1 thanks for the update, sounds good. Give me another ping (here or over email) once those remaining items are done and I'll check out all the changes at once.

[2021-11-02 19:53] lpantano commented on #3358
Hi @llrs, sorry about the delay. I will finish the review from @stemangiola and try to close this in the next days. Thank you for your patience.

[2021-11-02 20:01] kthyng commented on #3758
Thanks for your response @patrickcgray!

@zhenwu0728 I wanted to come back to you. Regarding the workshop you ran with @briochemc — do you feel like you could be an unbiased reviewer of the software package? If so, I think we could proceed given that we are airing the conflict of interest in the open.

[2021-11-02 20:02] JustinSGray commented on #3628
I can review this

[2021-11-02 20:03] kthyng commented on #3646
@whedon generate pdf

[2021-11-02 20:04] whedon commented on #3646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03646/joss.03646/10.21105.joss.03646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03646/joss.03646/10.21105.joss.03646.pdf) :page_facing_up: :point_left:

[2021-11-02 20:04] napulen commented on #3784
Confirming that all my issues have been resolved.

[2021-11-02 20:06] kthyng commented on #3646
@martin3141 Ok I see the Zenodo update and you capitalized R and C++ in the one reference. However, please look through the rest of the references to update more. I googled "nifti" and apparently it has particular capitalization. "Alzheimer's" is also a proper noun.

[2021-11-02 20:16] taless474 commented on #3628
Thank you for your response @JustinSGray. I think we are set for now.

[2021-11-02 20:26] kthyng commented on #3594
@gonzalobravoargentina replied by email and said he can finish the review this week. @gonzalobravoargentina just let me know if you have any questions about the review process!

[2021-11-02 20:47] apcamargo commented on #3756
I agree that the "state of the field" was taken care of. I still think that the README would be much improved if it included a better real-world usage example of the tool. It is very abstract right now.

Also, the scientific names are still not italicized.

[2021-11-02 20:50] martin3141 commented on #3646
@kthyng thanks for spotting, hopefully they are all correct now...

[2021-11-02 20:55] zhenwu0728 commented on #3758
Hi @kthyng I think I can be an unbiased reviewer for this package. I can do the review later this week and the following week.

[2021-11-02 21:44] ricopicone commented on #3853
@gkthiruvathukal will whedon generate a reviewer checklist like I see [here](https://github.com/openjournals/joss-reviews/issues/3783)? I have reviewed the review criteria and checklist from the JOSS docs and can begin reviewing.

[2021-11-02 22:08] vinisalazar commented on #3622
@jmschrei thank you for the message, and @maximtrp thank you for the review.

I have addressed and closed the issues raised. Please let me know if there are any pendencies.

Best,
Vinícius

[2021-11-02 22:47] jedbrown commented on #3878
@whedon assign @jedbrown as editor

[2021-11-02 22:47] whedon commented on #3878
OK, the editor is @jedbrown

[2021-11-02 22:55] SteveMacenski commented on #3853
On vacation, can’t do this one unfortunately

[2021-11-02 22:56] jedbrown commented on #3878
@mscroggs :wave: Thanks for your submission to JOSS. This looks like a really useful package. Some notes:

1. It looks like the C++ code makes heavy use of xtensor, which thus deserves citation.
2. The paper doesn't mention quadrature, but the choice of quadrature is significant (especially for tetrahedra) so it would be useful to state/cite supported methods.
3. The documentation site lacks C++ e

[2021-11-02 22:59] sea-bass commented on #3853
I'm unable to review this one as well, as my work is keeping me quite busy at the moment.

[2021-11-02 23:01] gkthiruvathukal commented on #3853
@SeungBack Are you willing to help review this JOSS submission? I need a second reviewer before I can begin the review process. (@ricopicone, you'll see this once we get a second reviewer, to answer your question above.)

[2021-11-02 23:30] kthyng commented on #3758
@zhenwu0728 Excellent! I need to do a bit of manual reworking now since I previously started the review so @dankelley could do his right away. I'll ping you from the review issue itself when it's all set up.

[2021-11-02 23:30] #3758 closed

[2021-11-02 23:30] kthyng commented on #3814
@whedon add @zhenwu0728 as reviewer

[2021-11-02 23:30] whedon commented on #3814
OK, @zhenwu0728 is now a reviewer

[2021-11-02 23:33] kthyng commented on #3814
@zhenwu0728 I think you should be good to go now. Let me know if you have any problems, and thanks!

[2021-11-02 23:33] kthyng commented on #3646
@whedon generate pdf

[2021-11-02 23:34] whedon commented on #3646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03646/joss.03646/10.21105.joss.03646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03646/joss.03646/10.21105.joss.03646.pdf) :page_facing_up: :point_left:

[2021-11-02 23:38] kthyng commented on #3646
Great! I think we're done now.

[2021-11-02 23:38] kthyng commented on #3646
@whedon accept deposit=true

[2021-11-02 23:38] whedon commented on #3646
[code]

[2021-11-02 23:38] whedon commented on #3646
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1455680860934524928) 👈 🐦🐦🐦

[2021-11-02 23:38] whedon commented on #3646
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2726
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03646](https://doi.org/10.21105/joss.03646)
2. If everything look

[2021-11-02 23:42] kthyng commented on #3646
Congratulations on your new publication @martin3141! Many thanks to (new!!) editor @chartgerink and reviewer @joaomcteixeira (plus @chartgerink!) for your time, hard work, and expertise!

(I'll leave this issue open since the DOI hasn't resolved yet just to make sure it does eventually.)

[2021-11-02 23:51] jingnanshi commented on #3853
@gkthiruvathukal Not sure whether you've seen my earlier comment, but I'm happy to review this submission.

[2021-11-02 23:53] gkthiruvathukal commented on #3853
@jingnanshi Thank you so much! I will add you and get started.

[2021-11-02 23:53] gkthiruvathukal commented on #3853
@whedon add @jingnanshi as reviewer

[2021-11-02 23:53] whedon commented on #3853
OK, @jingnanshi is now a reviewer

[2021-11-02 23:53] gkthiruvathukal commented on #3853
@whedon start review

[2021-11-02 23:53] whedon opened #3884 "[REVIEW]: Torque-limited simple pendulum: A toolkit for getting familiar with control algorithms in underactuated robotics"
**Submitting author:** @fwiebe (<a href="http://orcid.org/0000-0002-2195-9697">Felix Wiebe</a>)
**Repository:** https://github.com/dfki-ric-underactuated-lab/torque_limited_simple_pendulum
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @gkthiruvathukal
**Reviewers:** @ricopicone, @jingnanshi
**Archive:** 10.5281/zenodo.6498036

**:warning: JOSS reduced service

[2021-11-02 23:53] whedon commented on #3853
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3884.

[2021-11-02 23:53] #3853 closed

[2021-11-02 23:53] whedon commented on #3884
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ricopicone, @jingnanshi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-11-02 23:53] whedon commented on #3884
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "-229" (NAME) ["@", #<BibTeX::Entry >, {:author=>["{Weiwei}, L.. and {Todorov}, E."], :journal=>["International Conference on Informatics in Control, Automation and Robotics"], :title=>["{Iterative Linear Quadratic Regulator Design for Nonlinear Biological Movement Systems.}"], :year=>"2004", :pages=>"22

[2021-11-02 23:53] whedon commented on #3884
Wordcount for `paper.md` is 2282

[2021-11-02 23:53] whedon commented on #3884
[code]

[2021-11-02 23:54] whedon commented on #3884
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03884/joss.03884/10.21105.joss.03884.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03884/joss.03884/10.21105.joss.03884.pdf) :page_facing_up: :point_left:

[2021-11-03 00:16] Spartanzhao commented on #3874
Yes, I will fix this problems as soon as possible. My work is trying to build a tool which is much better than WashU browser and pyGenomeTrack, and in some situations, replace IGV. This tool is very easy to expand, other people can easily add any new functions if they want, or customize their heat map color series. This is a very useful multi-omic visualization tool. We have many papers are going

[2021-11-03 00:17] SeungBack commented on #3853
@gkthiruvathukal Thank you for the suggestion, but I am not available to review it at this moment.

[2021-11-03 01:39] jGaboardi commented on #3330
@vissarion Our apologies for the delays here. We have now closed out pysal/spopt#196 with updated manuscript text and merged `locate` functionality. The fresh release in [`v0.2.1`](https://github.com/pysal/spopt/releases/tag/v0.2.1).

[2021-11-03 01:40] jGaboardi commented on #3330
@whedon generate pdf

[2021-11-03 01:40] whedon commented on #3330
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: :point_left:

[2021-11-03 01:49] AustinTSchaffer commented on #3775
@prashjha Sure!

[2021-11-03 02:43] prashjha commented on #3775
Great! Thank you, @AustinTSchaffer.

[2021-11-03 02:43] prashjha commented on #3775
@whedon assign @AustinTSchaffer as reviewer

[2021-11-03 02:43] whedon commented on #3775
OK, @AustinTSchaffer is now a reviewer

[2021-11-03 02:58] jgoldfar commented on #3854
Hi there Lucy, and thanks for thinking of me. I would be able to review
this work within the month, if that timeline works for this publication.

[2021-11-03 04:04] gkthiruvathukal commented on #3853
@SeungBack Thanks! I was able to find two reviewers. Best!

[2021-11-03 04:51] henrykironde commented on #3632
@cMadan thank you for the reminder. I have constantly checked on the progress of the software submitted however, I still can not get the source to install. Current error messages am getting :

[code]

Additionally the whole documentation of the package needs improvement. The instructions are not very clear and need better organization.  I recommend the authors to go through the instructions provid

[2021-11-03 07:03] valentineap commented on #3858
@whedon generate pdf

[2021-11-03 07:03] whedon commented on #3858
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03858/joss.03858/10.21105.joss.03858.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03858/joss.03858/10.21105.joss.03858.pdf) :page_facing_up: :point_left:

[2021-11-03 07:40] jbytecode commented on #3881
@whedon check references

[2021-11-03 07:41] whedon commented on #3881
[code]

[2021-11-03 07:42] jbytecode commented on #3881
@whedon generate pdf

[2021-11-03 07:42] whedon commented on #3881
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03881/joss.03881/10.21105.joss.03881.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03881/joss.03881/10.21105.joss.03881.pdf) :page_facing_up: :point_left:

[2021-11-03 07:47] jbytecode commented on #3881
Dear  @csinva

Thank you for submitting your paper to JOSS.

[ ] Please have a look at the [Reviewer List](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit) and list some suitable potential reviewers here. Please start from bottom of the list. Do not use @ character when you list them - just because we don't want to bother them. If you don't have any suggest

[2021-11-03 07:49] valentineap commented on #3858
Thanks for taking this on, @leouieda!

DOIs now fixed and scipy/numpy references added.

Reviewers: I'm a bit stuck here - a couple of names come to mind, but tracking those people down on github is proving difficult! I'm sure many of the people on the list of reviewers tagged 'seismology' (or perhaps even 'geodesy') would be suitable, but I don't recognise many of the names.

[2021-11-03 07:56] mscroggs commented on #3878
@jedbrown Thanks for these comments, I'll push some updates to the documentation/paper and let you know when these are done

[2021-11-03 08:08] KParas commented on #3724
@diehlpk It is going good. I will try to submit soon.

[2021-11-03 08:48] tomazbregar commented on #3399
Hey @kyleniemeyer, we are working on it. We will try to finalise all the outlined points as fast as possible.

[2021-11-03 09:01] Ebedthan commented on #3859
Dear @chasmani,

Thank you for your submission which describes software that I think will be helpful for the Python community where the lack of such software was a gap.
I have some comments that I think will improve the overall submission. These comments intentionally avoid duplication with comments from @htjb that I hope you will fully take into consideration. I hope you will find it helpful.

Fi

[2021-11-03 09:03] arfon commented on #2780
@whedon reject

This submission is being rejected due to inactivity on the part of the author. @davekinkead, @sara-02, @lorenanicole  – many thanks for your efforts here. Sorry this one didn't work out.

[2021-11-03 09:03] whedon commented on #2780
Paper rejected.

[2021-11-03 09:03] #2780 closed

[2021-11-03 09:05] arfon commented on #2446
@lockepatton – I'm sorry to do this but if we don't hear a firm plan from your regarding this submission in the next two weeks, including addressing @faroit's suggestion around [pep-0432](https://www.python.org/dev/peps/pep-0423/#how-to-rename-a-project), we will be forced to reject this submission.

[2021-11-03 09:16] dalonsoa commented on #3854
Hi @lucydot , same here. Happy to provide a review for this during November.

[2021-11-03 09:20] arfon commented on #3680
@devosmitachatterjee2018 – I'm sorry to say that I don't think we're going to be able to review this submission in JOSS. This submission is coming up to one year old, and the one reviewer we found is clearly struggling to complete their review.

JOSS sometimes struggles with reviewing submissions written using proprietary runtimes such as MATLAB – this seems to be one of those cases 😞

[2021-11-03 09:23] robbisg commented on #3823
Sorry for the delay, I will review the package this week.

[2021-11-03 09:24] aalfons commented on #3786
@kthyng - The metadata on the archive is now publicly visible, including the sentence regarding the version number.

It turns out that the change in the metadata didn't trigger a new DOI after all, the current DOI is still correct. So everything should now be ready to go.

[2021-11-03 10:02] arfon commented on #3578
Thanks for the thoughtful feedback on the submission @htwangtw, @robbisg, and @osorensen.

@AKUMAR0019 – our preferred process in situations like this is to reject the submission and invite a resubmission in the future if/when there have been substantial changes that meet the feedback from the first review.

As such, I'm going to go ahead and reject the submission now.

[2021-11-03 10:03] meg-simula commented on #3880
Sure, right up my alley.

[2021-11-03 10:03] arfon commented on #3578
@whedon reject

[2021-11-03 10:03] whedon commented on #3578
Paper rejected.

[2021-11-03 10:03] #3578 closed

[2021-11-03 10:03] meg-simula commented on #3880
@whedon assign @meg-simula as editor

[2021-11-03 10:03] whedon commented on #3880
OK, the editor is @meg-simula

[2021-11-03 10:10] meg-simula commented on #3721
Thanks @mithun218, let's ask them here.

[2021-11-03 10:10] meg-simula commented on #3721
:wave: @justinsgray @sivaramambikasaran @crstnbr @schruste would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-11-03 10:19] ajstewartlang commented on #3739
Hi :wave: @andrewheiss and @vaneseltine. I'm just checking in with you to ask how your reviews are progressing?

[2021-11-03 10:32] carstenbauer commented on #3721
@meg-simula, yes, I can take this on. 🙂

[2021-11-03 10:36] ajstewartlang commented on #3449
:wave: Hi @takuma929 Would you be able to check off any outstanding items in your reviewer checklist above please?

[2021-11-03 10:39] ajstewartlang commented on #3449
:wave: Hi @spitschan Just checking in to see how your review of this submission is progressing?

[2021-11-03 10:47] osorensen commented on #3700
@Het-Shah, could you please check whether your points raised in [this issue](https://github.com/a-ws-m/unlockNN/issues/19) have now been properly addressed by the author, and if so, update your review checklist at the top of this issue?

[2021-11-03 10:54] devosmitachatterjee2018 commented on #3680
@arfon

I will be grateful if you give me little more time. I am extremely interested to publish our software in JOSS.

1. I already received some comments from the reviewer in a private email.
2. I worked on them and sent the rebuttal to the reviewer.
3. If you wish, I can attach the emails here.
4. I thought that I will update the github repository with the latest version of my software once he

[2021-11-03 11:26] devosmitachatterjee2018 commented on #3680
@arfon

On Sep 1,2020, I sent this email to the reviewer.

Dear Hakan,

I started working on your following feedback:-
1. Remove the 'expected error of imputation for numerical and categorical features' part since it is not the same for all datasets.
2. Set the number of bins for histograms.
3. Add constants to transformations such as log10(C1*X + C2).
4. Reverse the row order with respect to a da

[2021-11-03 11:27] devosmitachatterjee2018 commented on #3680
@arfon

@arfon

On Sep 1,2020, I received this email from the reviewer.

Hi Devosmita!

I suggest you send me the updated version, and I’ll have a look.

/Håkan

[2021-11-03 11:30] devosmitachatterjee2018 commented on #3680
@arfon

On Sep 6,2020, I sent this email to the reviewer.

Dear Håkan,

Hope you are good.

I revised our software as per your following feedback:-

1. Remove the 'expected error of imputation for numerical and categorical features' part in the Imputation widget (since it is not the same for all datasets) - Done.

2. Set the number of bins for histograms in the Numerical Features widget and the Da

[2021-11-03 11:32] devosmitachatterjee2018 commented on #3680
@arfon

On Sep 8,2020, I received this email from the reviewer.

Hej Devosmita!

I have run your last version.

It is still a bit slow in performance,

I have very hard to accept your imputation algorithm.

Could you describe its procedure in a way that I could grasp?

How on earth could you predict inhabitants or longitude/latitude from these data?

I have 3 days off now, back in business next we

[2021-11-03 11:34] devosmitachatterjee2018 commented on #3680
@arfon

On Sep 13,2020, I sent this email to the reviewer.

Dear Håkan,

I hope you have a wonderful weekend.

I have these following things to convey to you.

I.  It is still a bit slow in performance. -
I agree.
1. Matlab app designer has limitations of its own.
2. As suggested, I have tried to solve the warnings (marked in yellow) in the app designer script as much as possible.
3. I will try to

[2021-11-03 11:45] joaomcteixeira commented on #3646
:clap: :tada: :champagne: Congratulations!! :wink:

[2021-11-03 11:49] meg-simula commented on #3721
Excellent, thanks for the prompt response @carstenbauer! Then we can get this review started.

[2021-11-03 11:49] meg-simula commented on #3721
@whedon add @carstenbauer as reviewer

[2021-11-03 11:49] whedon commented on #3721
OK, @carstenbauer is now a reviewer

[2021-11-03 11:49] meg-simula commented on #3721
@whedon start review

[2021-11-03 11:49] whedon opened #3885 "[REVIEW]: GiNaCDE: the high-performance F-expansion and First Integral Methods with C++ library for solving Nonlinear Differential Equations"
**Submitting author:** @mithun218 (<a href="http://orcid.org/0000-0002-9678-4625">Mithun Bairagi</a>)
**Repository:** https://github.com/mithun218/GiNaCDE
**Branch with paper.md** (empty if default branch):
**Version:** v1.5.0
**Editor:** @meg-simula
**Reviewers:** @peanutfun, @carstenbauer
**Archive:** 10.5281/zenodo.6366056

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-11-03 11:49] whedon commented on #3721
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3885.

[2021-11-03 11:49] #3721 closed

[2021-11-03 11:49] whedon commented on #3885
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @peanutfun, @carstenbauer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-11-03 11:50] whedon commented on #3885
Wordcount for `paper.md` is 962

[2021-11-03 11:50] whedon commented on #3885
[code]