[2019-03-19 03:46] arfon commented on #1333
:wave: @celliern - please update your paper structure to exactly match this one: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2019-03-19 04:08] VivianePons commented on #1301
@whedon assign @vc1492a as reviewer

[2019-03-19 04:08] whedon commented on #1301
OK, the reviewer is @vc1492a

[2019-03-19 04:09] VivianePons commented on #1301
Perfect! I will create a review issue with some checkpoints as soon as I have a second confirmed reviewer. Don't hesitate to comment here in the meantime

[2019-03-19 06:29] homonecloco commented on #1246
Sure, I'll be happy to review this submission. How do I proceed?

[2019-03-19 07:44] celliern commented on #1333
This should be done. Do I need to redo the submission to retrigger the paper compilation?

[2019-03-19 09:05] jenskober commented on #1225
@stulp Thanks for all the updates, looks great now from my side.

@graiola One last thing about the paper itself: if you check the article proof above, on the second page in applications you have "(Stulp,2012,Stulp et al. (2013),stulp14simultaneous,Stulp & Sigaud (2015))" "stulp14simultaneous" is missing in the references, the first one "Stulp,2012" looks strange as well, and a few spaces after th

[2019-03-19 10:03] bjmorgan commented on #1209
@vyasr These logo files are different. The `logo.png` in the root directory is for display in the README as a webpage (e.g. on GitHub). The `pyscses logo.pdf` in the `resources` folder is the original vector image for the logo, saved for any future use.

[2019-03-19 10:16] graiola commented on #1225
Thanks @jenskober , I will look into it now.

[2019-03-19 10:21] adavidzh commented on #1264
Thanks @ajgates42. Let's see if the following does the trick:
@whedon set v0.3.2 as version

[2019-03-19 10:21] graiola commented on #1225
@whedon generate pdf

[2019-03-19 10:21] whedon commented on #1225
[code]

[2019-03-19 10:22] whedon commented on #1225
PDF failed to compile for issue #1225 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Freek Stulp, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:57:in `each'

[2019-03-19 10:28] adavidzh commented on #1264
@whedon set v0.3.2 as version

[2019-03-19 10:28] whedon commented on #1264
I'm sorry @adavidzh, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-03-19 10:30] adavidzh commented on #1264
Hi @VivianePons, is it correct to say that the version number should change, given the [additions to the repo](https://github.com/Hoosier-Clusters/clusim/tree/0.3.2)?

[2019-03-19 10:39] graiola commented on #1225
@whedon generate pdf

[2019-03-19 10:39] whedon commented on #1225
[code]

[2019-03-19 10:40] whedon commented on #1225
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01225/joss.01225/10.21105.joss.01225.pdf)

[2019-03-19 10:45] jenskober commented on #1225
@arfon @studywolf I'm done with my review.

[2019-03-19 10:49] bjmorgan commented on #1209
@ncclementi

We have added the paragraph describing the Statement of Need to the top level README. https://github.com/bjmorgan/pyscses/commit/4255c7df2a71b2b789e363799b56446c9e20fa9a

We have rearranged the `paper.md` so that the Statement of Need is now in the Summary, instead of the Scientific Context section. https://github.com/bjmorgan/pyscses/commit/05d2084e67668c9724d1b2465ac6c1967b8a663f

[2019-03-19 11:39] cbjuan commented on #1188
@malmaud thanks for your input. In this case, we are not aware of this behavior, and we want to test it in depth.
@arfon at the moment @malmaud can install the extension and use it (at least partially). In any case, thanks for the review and we agree it is the moment to pause it. We are sorry for the review process; several changes in the VSCode APIs led us to provide an unstable version for the r

[2019-03-19 11:44] lpantano commented on #1299
Hi,

I think all is good. One minor detail in the references is that some of them have initials for the authors and others F. Lastname. Can you normalize the references to have the latter(F Lastname)?

After that, generate another proof, check references, and create a zenodo archive DOI. The metadata needs to be correct, like the title of the version in zenodo should be the title of the paper and

[2019-03-19 12:01] whedon opened #1334 "[PRE REVIEW]: GUESSmyLT: Software to guess the RNA-Seq library type of paired and single end read files"
**Submitting author:** @Juke34 (<a href="http://orcid.org/0000-0002-6629-0173">Jacques Dainat</a>)
**Repository:** <a href="https://github.com/NBISweden/GUESSmyLT" target ="_blank">https://github.com/NBISweden/GUESSmyLT</a>
**Version:** v1.0
**Editor:** @lpantano
**Reviewers:** @mistrm82

**Author instructions**

Thanks for submitting your paper to JOSS @Juke34. Currently, there isn't an JOSS edit

[2019-03-19 12:01] whedon commented on #1334
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@mgymrek) to find some reviewers for

[2019-03-19 12:01] whedon commented on #1334
[code]

[2019-03-19 12:01] whedon commented on #1334
PDF failed to compile for issue #1334 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1334/paper.md): did not find expected alphabetic or numeric character while scanning an alias at line 21 column 11 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:32

[2019-03-19 12:03] arfon commented on #1334
:wave: @pjotrp @mgymrek @brainstorm @lpantano - would one of you be able to edit this submission?

[2019-03-19 12:04] lpantano commented on #1334
I can do that if @pjotrp is ok and the others.

[2019-03-19 12:04] codeling commented on #1185
@katyhuff Should I submit the new version as new submission with a reference to here? Or how should we proceed?

[2019-03-19 12:04] arfon commented on #1334
@Juke34 - what you're trying to do with the `*` affiliation won't work sorry. The affiliation indexes need to be numerical.

[2019-03-19 12:04] whedon opened #1335 "[PRE REVIEW]: Capytaine: a Python-based linear potential flow solver"
**Submitting author:** @mancellin (<a href="http://orcid.org/0000-0002-0316-3230">Matthieu Ancellin</a>)
**Repository:** <a href="https://github.com/mancellin/capytaine" target ="_blank">https://github.com/mancellin/capytaine</a>
**Version:** v1.0
**Editor:** @leouieda
**Reviewers:** @mikaem, @harpolea

**Author instructions**

Thanks for submitting your paper to JOSS @mancellin. **Currently, ther

[2019-03-19 12:04] whedon commented on #1335
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-19 12:04] whedon commented on #1335
[code]

[2019-03-19 12:05] arfon commented on #1335
:wave: @leouieda - would you be willing to edit this submission for JOSS?

[2019-03-19 12:05] whedon commented on #1335
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01335/joss.01335/10.21105.joss.01335.pdf)

[2019-03-19 12:05] Juke34 commented on #1334
Is there any advised way to pinpoint equal contribution ?

[2019-03-19 12:12] arfon commented on #1225
Great! It looks like there's a number of checkboxes that aren't ticked - could you please take another look at them and tick what you can given you review?

[2019-03-19 12:47] katyhuff commented on #1185
Hi @codeling sorry for the confusion. I think we can move forward with just a little clarification, if you have a moment. This will help me identify a path forward quickly, as I am on vacation and won't be able to look closely at the full diff for a few days. I'll try to answer some questions, and will ask a couple as well.

The DOI created for the JOSS submission should include all commits in the

[2019-03-19 12:55] jenskober commented on #1225
Hmm, as far as I can see all mine are checked. @studywolf still has some that are not checked.

[2019-03-19 13:02] RomainAzais commented on #1332
The issue was due to accented characters. I removed them from the file paper.md.

[2019-03-19 13:06] pjotrp commented on #1334
I would add it as a footnote. You can even point to the github contributions graph.

[2019-03-19 13:24] codeling commented on #1185
The main issue probably is that I didn't think of keeping master at only what we submitted for JOSS plus the changes resulting from review comments. It would of course have been possible to keep those changes in another branch for the time being. Instead, some bug fixes and minor enhancements were intermixed with the JOSS review changes, sorry for this. Sorry also for the confusing comment about "

[2019-03-19 14:28] chris-prener commented on #1221
Hi @labarba and @lheagy - good - should have revisions wrapped up this week. I'll check in on Saturday at the latest.

[2019-03-19 14:39] arfon commented on #1225
You're right. Apologies. @studywolf - how are you getting along with your review?

[2019-03-19 14:52] lpantano commented on #1334
@whedon assign @lpantano as editor

[2019-03-19 14:52] whedon commented on #1334
OK, the editor is @lpantano

[2019-03-19 14:53] Kevin-Mattheus-Moerman commented on #1076
@ailiop thanks for implementing lots of my suggestions.

When I try to run `demo_inversion_3d_z0.m` I get this error:

[code]

It points to:
[code]

Can you check what is going on?

[2019-03-19 15:23] vyasr commented on #1209
Got it.

@labarba I'm happy with the package now. Let me know if I should copy-edit the paper, otherwise I think I'm all set on my end.

[2019-03-19 15:30] ncclementi commented on #1209
On my end I'd like the test notebooks to run, as I mention above there are few little problems.
Regarding the `paper.md` it looks great now!

[2019-03-19 15:36] georgiewellock commented on #1209
A check has been added for the `generated_outputs` directory and creates it if it doesn't exist in commit: https://github.com/bjmorgan/pyscses/commit/74af68b52c91ba9e955ef918f8b6081bb86acec4

Descriptions and approximate run times have been added to each test notebook and the associated README in commit: https://github.com/bjmorgan/pyscses/commit/6590f8cbd0b72866a67901b0211d1565207cde0f

[2019-03-19 15:41] arfon commented on #1332
@whedon generate pdf

[2019-03-19 15:41] whedon commented on #1332
[code]

[2019-03-19 15:42] whedon commented on #1332
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01332/joss.01332/10.21105.joss.01332.pdf)

[2019-03-19 15:53] ncclementi commented on #1209
Added a comment on the paragraph regarding the tests
https://github.com/bjmorgan/pyscses/commit/6590f8cbd0b72866a67901b0211d1565207cde0f#r32824525

[2019-03-19 16:14] VivianePons commented on #1332
Yes, I'am taking this one! Trees are my favorite thing ;)

[2019-03-19 16:16] georgiewellock commented on #1209
I have rephrased the paragraph in commit https://github.com/bjmorgan/pyscses/commit/9e1865db501d23eb946651fb5545c751ae6ff204

[2019-03-19 16:17] VivianePons commented on #1301
@whedon add @justinshenk as reviewer

[2019-03-19 16:17] whedon commented on #1301
OK, @justinshenk is now a reviewer

[2019-03-19 16:17] VivianePons commented on #1301
@whedon start review

[2019-03-19 16:17] whedon opened #1336 "[REVIEW]: rrcf: Implementation of the Robust Random Cut Forest algorithm for anomaly detection on streams"
**Submitting author:** @mdbartos (<a href="http://orcid.org/0000-0001-6421-222X">Matthew Bartos</a>)
**Repository:** <a href="https://github.com/kLabUM/rrcf" target ="_blank">https://github.com/kLabUM/rrcf</a>
**Version:** 0.3.1
**Editor:** @VivianePons
**Reviewer:** @vc1492a, @justinshenk
**Archive:** <a href="https://doi.org/10.5281/zenodo.2613881" target="_blank">10.5281/zenodo.2613881</a>

##

[2019-03-19 16:17] whedon commented on #1301
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1336. Feel free to close this issue now!

[2019-03-19 16:17] whedon commented on #1336
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vc1492a, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-19 16:17] whedon commented on #1336
[code]

[2019-03-19 16:17] Azais commented on #1332
You have the wrong Azais, sorry ! I therefore cannot update the paper.

Good luck to my distant relative,

Another Azais

[2019-03-19 16:17] #1301 closed

[2019-03-19 16:18] whedon commented on #1336
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01336/joss.01336/10.21105.joss.01336.pdf)

[2019-03-19 16:26] VivianePons commented on #1332
I have fixed the Azais issue in the comment section as I understand @RomainAzais is the author! Sorry @Azais for the confusion. I am not sure how to stop github sending you updates on this thread now that you're in it. But in any case, this is just the pre-review issue. It will be closed as soon as I find reviewers.

@Arfon : I am going to find a reviewer, I am also wondering if I can add myself a

[2019-03-19 16:27] VivianePons commented on #1332
@whedon assign @VivianePons as editor

[2019-03-19 16:27] whedon commented on #1332
OK, the editor is @VivianePons

[2019-03-19 16:34] VivianePons commented on #1303
I am not hearing back from my second reviewer. @mikaem do you have any suggestion for a reviewer?

[2019-03-19 16:36] VivianePons commented on #1264
@whedon set v0.3.2 as version

[2019-03-19 16:36] whedon commented on #1264
OK. v0.3.2 is the version.

[2019-03-19 16:38] VivianePons commented on #1264
Yes, it seems to make sense. I just updated it.

Do we have a green light from both reviewers now to accept the paper?

[2019-03-19 16:42] adavidzh commented on #1264
✅ from me.

[2019-03-19 16:42] mikaem commented on #1303
Dear Yu Feng @rainwoodman
Would you be interested in reviewing this submission to JOSS?

[2019-03-19 17:07] ncclementi commented on #1209
Test notebooks now run properly. I have nothing else to add or request on my end.
Great job @bjmorgan and @georgiewellock

[2019-03-19 17:07] pajaskowiak commented on #1264
Yes! Everything is fine.

[2019-03-19 17:11] labarba commented on #1209
@whedon generate pdf

[2019-03-19 17:11] whedon commented on #1209
[code]

[2019-03-19 17:12] whedon commented on #1209
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01209/joss.01209/10.21105.joss.01209.pdf)

[2019-03-19 17:13] VivianePons commented on #1264
Perfect!

@ajgates42 could you create an archive of your repo on Zenodo or figshare and generate a DOI? Thanks

[2019-03-19 17:27] arfon commented on #1333
@whedon generate pdf

[2019-03-19 17:27] whedon commented on #1333
[code]

[2019-03-19 17:27] whedon commented on #1333
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01333/joss.01333/10.21105.joss.01333.pdf)

[2019-03-19 18:01] leouieda commented on #1335
@arfon I'd be happy to :+1:

[2019-03-19 18:06] grabear commented on #1299
@whedon generate pdf

[2019-03-19 18:06] whedon commented on #1299
[code]

[2019-03-19 18:07] whedon commented on #1299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01299/joss.01299/10.21105.joss.01299.pdf)

[2019-03-19 18:24] grabear commented on #1299
@whedon generate pdf

[2019-03-19 18:24] whedon commented on #1299
[code]

[2019-03-19 18:25] whedon commented on #1299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01299/joss.01299/10.21105.joss.01299.pdf)

[2019-03-19 18:32] edifice1989 commented on #1255
@byandell thank you very much!
@mgymrek <https://github.com/mgymrek> please kindly advise what are next
steps. thanks!!

Best,
Ming

On Mon, Mar 18, 2019 at 12:06 PM Brian S. Yandell <notifications@github.com>
wrote:

[2019-03-19 18:38] grabear commented on #1299
@lpantano @CosteaPaul @sdhutchins https://zenodo.org/record/2598670

[2019-03-19 18:44] lpantano commented on #1299
Thank you, @grabear.

I think there is some misunderstanding, sorry about that.

The Zenodo has to be from your repository, here you have an example of an accepted paper: https://zenodo.org/record/2574400#.XJE3_akpBp8

Cheers

[2019-03-19 18:54] mrecos commented on #722
Hello @arfon - I create a the "JOSS Release" and committed to Zenodo for a new DOI (10.5281/zenodo.2598673). I checked the DOI badge on the KLRfome repo and all seems well. Let me know if this covers it. Thanks!

[2019-03-19 18:58] labarba commented on #722
@whedon set 10.5281/zenodo.2598673 as archive

[2019-03-19 18:58] whedon commented on #722
OK. <a href="https://doi.org/10.5281/zenodo.2598673" target="_blank">10.5281/zenodo.2598673</a> is the archive.

[2019-03-19 18:59] labarba commented on #722
@whedon generate pdf

[2019-03-19 18:59] whedon commented on #722
[code]

[2019-03-19 18:59] whedon commented on #722
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00722/joss.00722/10.21105.joss.00722.pdf)

[2019-03-19 19:00] labarba commented on #722
Can you edit the metadata of the Zenodo deposit (no need to get new version or new DOI) so the title and author list match the JOSS paper?

[2019-03-19 19:01] labarba commented on #722
@whedon set v2.2.0 as version

[2019-03-19 19:01] whedon commented on #722
OK. v2.2.0 is the version.

[2019-03-19 19:06] tyarkoni commented on #1294
@grlee77 all authors did not actively confirm their desire to be included; instead I gave people the option of opting out (and none did). Does that work? I can also repeat the request, this time requesting opt-in, but I'm concerned that there may be some people who contributed to the repo a while back and aren't paying close attention (I know from experience that there can be a mental hurdle in fo

[2019-03-19 19:15] ajgates42 commented on #1264
Great!  Thank you all for the valuable feedback!

DOI: https://doi.org/10.5281/zenodo.2598682
Record: https://zenodo.org/record/2598682

On Tue, Mar 19, 2019 at 1:13 PM Viviane Pons <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-03-19 19:20] mrecos commented on #722
Hello @labarba, ok updated! I had found a typo in the release version of the JOSS paper markdown just now. I pushed the edits to the repo, but they are now post 2.2.0 release. Should I do redo the release?
https://zenodo.org/record/2598673#.XJE_3FVKipo

[2019-03-19 19:20] ailiop commented on #1076
@Kevin-Mattheus-Moerman : Thank you for pointing this out---and for all of your suggestions, which were very helpful!

I have fixed the offending line in the repository (removing `zdim`).  The demo should run without issue now.  I do apologize for the error, it should not have slipped through.

[2019-03-19 19:21] grabear commented on #1299
Ahhh!  SMH....  @lpantano one second.

[2019-03-19 19:26] labarba commented on #722
If it's just an edit on the JOSS paper, I don't see a need to redo the release (the final JOSS paper is archived on its own in the journal).

[2019-03-19 19:27] mrecos commented on #722
ok, then we should be good to go. Please let me know how else I can help.

[2019-03-19 19:34] arfon commented on #1335
@whedon assign @leouieda as editor

[2019-03-19 19:34] whedon commented on #1335
OK, the editor is @leouieda

[2019-03-19 19:36] labarba commented on #722
@whedon accept

[2019-03-19 19:36] whedon commented on #722
[code]

[2019-03-19 19:36] tyarkoni commented on #1294
Thanks for catching this. I've added a "Community guidelines" section to the top-level README.

This should be fixed in the pending PR. I'll try rebuilding the PDF in a sec.

We currently don't officially support Windows, so this isn't technically an issue for us (though I realize it doesn't look great). We haven't removed the Appveyor tests in the hopes that someone might spontaneously come along

[2019-03-19 19:36] whedon commented on #722
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/561

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/561, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-19 19:37] whedon commented on #722
[code]

[2019-03-19 19:38] tyarkoni commented on #1294
@whedon generate pdf from branch joss-review

[2019-03-19 19:39] whedon commented on #1294
[code]

[2019-03-19 19:39] whedon commented on #1294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01294/joss.01294/10.21105.joss.01294.pdf)

[2019-03-19 19:43] tyarkoni commented on #1294
@grlee77 I think I've now addressed all of the comments in this thread and on the pybids repo, pending one minor issue that I've asked @tsalo (who authored the code in question) to look at. The [joss-review](https://github.com/bids-standard/pybids/tree/joss-review) branch collects all changes. Please let me know if there's anything else. Thanks for your effort and excellent feedback!

[2019-03-19 19:44] labarba commented on #1209
Editorial fixes:

¶2
typo: obtined >> obtained

page 2: comma after "i.e."

"a range of numerical models" ... did you mean what follows to be a bulleted list? If not, delete the hyphens and numerate in-sentence. If yes, work on the formatting. (But I think it will look better as a bulleted list.) Same for next paragraph.

[2019-03-19 19:46] tsalo commented on #1294
BIDSReport returns a Counter because missing data or variable acquisition parameters across participants can lead to different reports. With a Counter, users can access the most common report, which is likely to be the most accurate in cases with missing data, or they can access everything if different participants had different protocols. I can add this rationale to the documentation somewhere or

[2019-03-19 19:49] labarba commented on #722
Please check if the suggested "Mising DOIs" are indeed missing, or are flukes of `whedon`'s Crossref query.

[2019-03-19 19:52] labarba commented on #722
@arfon — Are you OK with the final version of the paper?

@mrecos  — This is also your final chance to check the proof, and correct any typos / grammar / punctuation / author name spelling / reference titles needing cap protection ...

[2019-03-19 20:02] mrecos commented on #722
@labarba whedon was correct, those citations had DOIs to include. I commit/pushed a new paper.bib with the DOIs included. Aside from that, the proof looks good!

[2019-03-19 20:03] tyarkoni commented on #1294
I think adding that rationale to the docstring would work. Feel free to add to the `joss-review` branch (I added you as a collaborator).

[2019-03-19 20:05] arfon commented on #722
@whedon generate pdf

[2019-03-19 20:05] whedon commented on #722
[code]

[2019-03-19 20:06] whedon commented on #722
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00722/joss.00722/10.21105.joss.00722.pdf)

[2019-03-19 20:16] grlee77 commented on #1294
That seems fine to me, but let's check with @cMadan if that is typically okay for JOSS?

[2019-03-19 20:17] leouieda commented on #1335
@whedon check references

[2019-03-19 20:17] whedon commented on #1335
[code]

[2019-03-19 20:18] mrecos commented on #722
@whedon accept deposit=true

[2019-03-19 20:18] whedon commented on #722
I'm sorry @mrecos, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-03-19 20:19] arfon commented on #722
@mrecos - could you please remove this sentence from your paper? We link to the repository and archive DOI in the paper (in the left-hand margin).

[2019-03-19 20:21] arfon commented on #1307
@whedon check references

[2019-03-19 20:21] whedon commented on #1307
[code]

[2019-03-19 20:21] whedon commented on #1307
[code]

[2019-03-19 20:22] mrecos commented on #722
@arfon ok, sentence removed, committed, and pushed.

[2019-03-19 20:26] cgravill commented on #1214
I’m also more on the industry side. Still, it seems like you’re having a challenge engaging an ideal reviewer, so I’d be willing to assist if that helps.

[2019-03-19 20:27] arfon commented on #1307
@FranzKrah - yes please. The list of DOIs above ☝️should be considered as suggestions, please check them before adding them.

I think the next steps are on @karthik here to take your reviewer suggestions and invite the reviewers to participate.

[2019-03-19 20:27] arfon commented on #722
@whedon accept

[2019-03-19 20:27] whedon commented on #722
[code]

[2019-03-19 20:27] whedon commented on #722
[code]

[2019-03-19 20:28] whedon commented on #722
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/562

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/562, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-19 20:28] grabear commented on #1299
Unfortunately, I have to wait for Zenodo to get back to me.  I used the DOI in that first link that I sent.  In order to change the files, associated with that DOI I had to fill out a form and make a request.

More to come...

[2019-03-19 20:28] leouieda commented on #1335
:wave: Hi @mancellin I made a few editorial suggestions for the JOSS paper (mancellin/capytaine#6) and will start looking for reviewers now. Please let me know if you have any questions or suggestions for reviewers.

[2019-03-19 20:29] yochannah commented on #1214
@cgravill I would be very happy to take you up on this one. Ideally I'd like a second reviewer as well - any chance you know anyone who might be interested?

[2019-03-19 20:29] arfon commented on #722
@whedon accept deposit=true

[2019-03-19 20:29] whedon commented on #722
[code]

[2019-03-19 20:30] whedon commented on #722
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/563
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00722](https://doi.org/10.21105/joss.00722)
2. If everything looks go

[2019-03-19 20:30] VivianePons commented on #1264
@whedon generate pdf

[2019-03-19 20:30] whedon commented on #1264
[code]

[2019-03-19 20:30] effigies commented on #1294
As another data point, there was a metadata gathering thread (https://github.com/bids-standard/pybids/pull/308) for Zenodo. There were a couple people who never responded, but none who requested not to be authors. I recognize Zenodo isn't JOSS, but if you're looking for active consent to be considered authors on the software (if not the paper), that thread is a worthwhile one.

[2019-03-19 20:30] whedon commented on #1264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01264/joss.01264/10.21105.joss.01264.pdf)

[2019-03-19 20:38] arfon commented on #722
@benmarwick - many thanks for your review here ✨

@mrecos - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-19 20:38] #722 closed

[2019-03-19 20:38] whedon commented on #722
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00722/status.svg)](https://doi.org/10.21105/joss.00722)

**We need your help!**

Journal of Open Source Softwar

[2019-03-19 20:41] VivianePons commented on #1264
@whedon check references

[2019-03-19 20:41] mrecos commented on #722
Thank you, Thank you,  Thank you! @arfon , @labarba , @benmarwick , @leeper, and of course @whedon
You are all incredibly helpful and I greatly appreciate your respective efforts.
Cheers!

[2019-03-19 20:42] leouieda commented on #1335
:wave: @harpolea @mikaem would you be interested in reviewing this submission for JOSS?

[2019-03-19 20:48] VivianePons commented on #1264
@ajgates42 it seems like some references are missing their dois. For example, I see: "The impact of random models on clustering similarity" has doi https://doi.org/10.1101/196840 which is not in the bib file. Can you check? whedon has put the list of all references without dois.

Thanks

[2019-03-19 20:52] piyueh commented on #1239
Review tracker from @piyueh :

* [x] [Issue #7: License issue](https://bitbucket.org/ocellarisproject/ocellaris/issues/7/joss-review-apache-license-version-20)
* [ ] [Issue #11: Installation instruction](https://bitbucket.org/ocellarisproject/ocellaris/issues/11/joss-review-installation-instruction)

[2019-03-19 20:56] lpantano commented on #1302
Hi @marouenbg,

I am still trying to find a reviewer for this, I will try one more time and see what happens. If not, I will talk to the editor board to get some help.

Sorry for the delay.

[2019-03-19 21:04] arfon commented on #1264
@ajgates42 - you might also want to remove entries from your bibtex that you're not actually using in this paper?

[2019-03-19 21:24] marouenbg commented on #1302
Thanks @lpantano for the update. Let me know how it goes.

[2019-03-19 21:29] lpantano commented on #1299
sorry about the issue. Normally I sync Zenodo with my repos and then everytime I make a release a new version in Zenodo is created. If that is easy, go ahead, we can add whatever new Zenodo link to the final reviewed version.

[2019-03-19 21:35] harpolea commented on #1298
Great! I reran the tutorial and everything looks good to me.

One small thing: I did try installing from conda on a different machine when I ran it and it didn't install the most recent version (e.g. it didn't include the new script to download the high res data), so I think that needs to be updated?

[2019-03-19 21:43] brainstorm commented on #1119
Hello @arturgs, @brunojulia recommended you as a possible reviewer for this quantum key distribution paper, would you be interested in reviewing it? The process is fairly straightforward and semi-automated via GitHub:

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Let me know if you are interested!

[2019-03-19 21:53] grlee77 commented on #1294
Thanks for addressing the issues @tyarkoni. I reviewed the changes in the joss-review branch and they look good to me. I just checked off the remaining items in the review checklist.

I suppose you could remove the Appveyor badge from the readme until support is officially added, but not a big deal either way

[2019-03-19 21:55] bjmorgan commented on #1209
Typos and formatting updated: https://github.com/bjmorgan/pyscses/commit/580f4ae8aa64efc65e74acd9b8c811221d796aa3.

[2019-03-19 22:14] ajgates42 commented on #1264
@VivianePons <https://github.com/VivianePons>: JMLR actually doesn't
actually give a DOI yet, but I guess we can use the BioRxiv version instead.

On Tue, Mar 19, 2019 at 5:04 PM Arfon Smith <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-03-19 22:14] ajgates42 commented on #1264
@whedon <https://github.com/whedon> check references

On Tue, Mar 19, 2019 at 6:14 PM Alexander Gates <ajgates42@gmail.com> wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-03-19 22:24] VivianePons commented on #1264
@whedon check references

[2019-03-19 22:24] whedon commented on #1264
[code]

[2019-03-19 22:24] whedon commented on #1264
[code]

[2019-03-19 22:26] VivianePons commented on #1264
@whedon generate pdf

[2019-03-19 22:26] whedon commented on #1264
[code]

[2019-03-19 22:27] whedon commented on #1264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01264/joss.01264/10.21105.joss.01264.pdf)

[2019-03-19 22:44] VivianePons commented on #1264
We're still missing a doi for "Data clustering: a review" (not listed by whedon for some reason...). Other missing ones are from "misc" paper, arxiv preprint, so I guess this is ok.

Also the date on the scipy citation prints weirdly, @arfon do you know if it's the correct way to do it?

[2019-03-19 22:47] morganericsson commented on #1268
Yes, I can do that.

[2019-03-19 22:56] zonca commented on #1298
Yes, now that we are done with the fixes I'll make a new release and reply
back. Thank you.

On Tue, Mar 19, 2019, 14:35 Alice Harpole <notifications@github.com> wrote:

[2019-03-20 05:44] FranzKrah commented on #1307
@whedon check references

[2019-03-20 05:44] whedon commented on #1307
[code]

[2019-03-20 05:44] whedon commented on #1307
[code]

[2019-03-20 09:12] Kevin-Mattheus-Moerman commented on #1076
@whedon generate pdf

[2019-03-20 09:12] whedon commented on #1076
[code]

[2019-03-20 09:13] whedon commented on #1076
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01076/joss.01076/10.21105.joss.01076.pdf)

[2019-03-20 09:28] Kevin-Mattheus-Moerman commented on #1262
@r-barnes can you please confirm you are able to continue with the review process? Thanks

[2019-03-20 09:32] Kevin-Mattheus-Moerman commented on #941
@stenskjaer :wave: :point_up:

[2019-03-20 09:53] Kevin-Mattheus-Moerman commented on #1012
@NikEfth can  you please finalize your side of the review at your earliest convenience? Thanks

[2019-03-20 10:00] arfon commented on #1329
:wave: @leouieda - would you be willing to edit this submission for JOSS?

[2019-03-20 10:03] arfon commented on #1075
:wave: @mnarayan - please update us on your progress when you get a chance.

[2019-03-20 10:04] arfon commented on #791
:wave: @boshek - could you please review the changes that have been made by @MarionLegrandLogrami and let us know if these satisfy your concerns?

[2019-03-20 10:06] arfon commented on #947
Excellent, thanks @alexpghayes. @peterjwatkins - please let us know here when you've had a chance to incorporate @alexpghayes' feedback.

[2019-03-20 10:10] arfon commented on #1264
Not sure, I think it's probably because of the bibtex entry not actually having a date range https://github.com/Hoosier-Clusters/clusim/blob/master/paper.bib#L85

[2019-03-20 10:14] #1223 closed

[2019-03-20 10:17] arfon commented on #1322
@whedon check references

[2019-03-20 10:17] whedon commented on #1322
[code]

[2019-03-20 10:17] whedon commented on #1322
[code]

[2019-03-20 10:20] arfon commented on #1166
According to https://www.doi2bib.org/bib/10.21105%2Fjoss.01166 (this looks correct to me):

[code]

[2019-03-20 10:21] arfon commented on #1287
@whedon generate pdf

[2019-03-20 10:21] whedon commented on #1287
[code]

[2019-03-20 10:22] whedon commented on #1287
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01287/joss.01287/10.21105.joss.01287.pdf)

[2019-03-20 10:22] arfon commented on #1287
@whedon check references

[2019-03-20 10:22] whedon commented on #1287
[code]

[2019-03-20 10:23] whedon commented on #1287
[code]

[2019-03-20 10:47] hainesr commented on #1268
Apologies @gkthiruvathukal, I've been on leave and am only just catching up. Do you still need my input on this?

[2019-03-20 10:51] mikaem commented on #1335
Hi. Looks interesting, I can do it.

[2019-03-20 11:52] flor14 commented on #785
Hello. Maybe he is not receiving the notifications? Is not possible to send
him an email?

El sáb., 16 mar. 2019 a las 22:07, Lorena A. Barba (<
notifications@github.com>) escribió:

[2019-03-20 12:19] gkthiruvathukal commented on #1268
@hainesr Hope you had a great/productive leave. I definitely need your help. Upon hearing from you, I will assign you and @morganericsson as reviewers and start review.

[2019-03-20 12:19] labarba commented on #1209
Great. It's now time to make a tagged release (report release number here) and make an archive of the software in Zenodo (or similar service). Make sure to manually edit the Zenodo metadata so the title and author list matches the JOSS paper, then report the archive DOI here.

[2019-03-20 12:20] gkthiruvathukal commented on #1246
@homonecloco I will assign you as a reviewer and start the review.

[2019-03-20 12:20] gkthiruvathukal commented on #1246
@whedon assign @homonecloco

[2019-03-20 12:26] gkthiruvathukal commented on #1246
@whedon commands

[2019-03-20 12:26] whedon commented on #1246
Here are some things you can ask me to do:

[code]

[2019-03-20 12:26] gkthiruvathukal commented on #1246
@whedon assign @homonecloco as reviewer

[2019-03-20 12:26] whedon commented on #1246
OK, the reviewer is @homonecloco

[2019-03-20 12:26] gkthiruvathukal commented on #1246
@whedon start review

[2019-03-20 12:26] whedon opened #1337 "[REVIEW]: LGP: A robust Linear Genetic Programming implementation on the JVM using Kotlin."
**Submitting author:** @JedS6391 (<a href="http://orcid.org/0000-0002-5028-9987">Jed Simson</a>)
**Repository:** <a href="https://github.com/JedS6391/LGP" target ="_blank">https://github.com/JedS6391/LGP</a>
**Version:** 5.1
**Editor:** @gkthiruvathukal
**Reviewer:** @homonecloco
**Archive:** <a href="https://doi.org/10.5281/zenodo.3519400" target="_blank">10.5281/zenodo.3519400</a>

## Status

[!

[2019-03-20 12:26] whedon commented on #1246
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1337. Feel free to close this issue now!

[2019-03-20 12:26] whedon commented on #1337
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @homonecloco it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-03-20 12:26] whedon commented on #1337
[code]

[2019-03-20 12:27] #1246 closed

[2019-03-20 12:27] whedon commented on #1337
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01337/joss.01337/10.21105.joss.01337.pdf)

[2019-03-20 12:34] bjmorgan commented on #1209
Version number bumped to [1.0.0](https://github.com/bjmorgan/pyscses/releases/tag/1.0.0) and released (also updated on [PyPI](https://pypi.org/project/pyscses/)).
The Zenodo doi for this version is [10.5281/zenodo.2599955](https://zenodo.org/account/settings/github/repository/bjmorgan/pyscses).

[2019-03-20 12:49] Kevin-Mattheus-Moerman commented on #1076
@whedon check references

[2019-03-20 12:49] whedon commented on #1076
[code]

[2019-03-20 12:50] whedon commented on #1076
[code]

[2019-03-20 12:53] Kevin-Mattheus-Moerman commented on #1076
@ailiop one box above remains unticked i.e. the one relating to automated testing. If the demos test the full functionality perhaps you can create a single script called `test_idvf.m`which simply calls all demos and runs them consecutively.

[2019-03-20 12:56] Kevin-Mattheus-Moerman commented on #1094
@ybayle, @gwynethbradbury :wave: :point_up:

[2019-03-20 12:57] Kevin-Mattheus-Moerman commented on #1291
@trallard, @piermorel can you give an indication as to when you are able to work on this review? Thanks again for your help! Let me know if you have any questions.

[2019-03-20 12:58] hainesr commented on #1268
OK, I'm now at a workshop through until Friday but I'll try and have a look at this ASAP to see if I am capable of reviewing it.

[2019-03-20 13:03] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer although I will continue to try to contact @lewismc I suggest you start addressing comments by @zhampel to avoid further delays.

[2019-03-20 13:05] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer in particular can you comment on whether you agree with @zhampel to migrate "... the functionality of your python notebooks to a more API-like structure..."?

[2019-03-20 13:07] Kevin-Mattheus-Moerman commented on #1013
@oxinabox any luck updaring the .bib file? Let me know if you need help or have questions.

[2019-03-20 13:07] Kevin-Mattheus-Moerman commented on #1292
@sebastkm can you check the above DOI's? Thank you

[2019-03-20 13:09] gkthiruvathukal commented on #1268
Thanks, @hainesr. I will make the assignments and start review. We always work with the reviewers and their schedules, so your timeframe is fine. Thanks for agreeing to contribute a review. I will assign you and @morganericsson and start review.

[2019-03-20 13:10] Kevin-Mattheus-Moerman commented on #1292
@chrisrichardson, @IgorBaratta thanks for your review efforts. I can see several unticked boxes above. Are you opening issues on the project repository for these (if so please link to them here as well so we can easily keep track of progress)? If not could you summarize your concerns/issues here so @sebastkm knows what to work on? Thanks!

[2019-03-20 13:10] gkthiruvathukal commented on #1268
@whedon assign @morganericsson as reviewer
@whedon add @hainesr as reviewer

[2019-03-20 13:10] whedon commented on #1268
OK, the reviewer is @morganericsson

[2019-03-20 13:11] gkthiruvathukal commented on #1268
@whedon add @hainesr as reviewer

[2019-03-20 13:11] whedon commented on #1268
OK, @hainesr is now a reviewer

[2019-03-20 13:12] gkthiruvathukal commented on #1268
@whedon commands

[2019-03-20 13:12] whedon commented on #1268
Here are some things you can ask me to do:

[code]

[2019-03-20 13:12] gkthiruvathukal commented on #1268
@whedon list reviewers

[2019-03-20 13:12] whedon commented on #1268
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-03-20 13:12] Kevin-Mattheus-Moerman commented on #1333
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-03-20 13:12] whedon commented on #1333
OK, the editor is @Kevin-Mattheus-Moerman

[2019-03-20 13:13] gkthiruvathukal commented on #1268
@whedon start review

[2019-03-20 13:13] whedon opened #1338 "[REVIEW]: uJVM: Lightweight Java Virtual Machine for embedded systems"
**Submitting author:** @omoliavko (<a href="http://orcid.org/0000-0003-3167-983X">Oleksandr Moliavko</a>)
**Repository:** <a href="https://github.com/Samsung/uJVM/" target ="_blank">https://github.com/Samsung/uJVM/</a>
**Version:** v0.1
**Editor:** @gkthiruvathukal
**Reviewer:** @morganericsson, @hainesr
**Archive:** <a href="https://doi.org/10.5281/zenodo.2647414" target="_blank">10.5281/zenodo.2

[2019-03-20 13:13] whedon commented on #1268
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1338. Feel free to close this issue now!

[2019-03-20 13:13] whedon commented on #1338
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @morganericsson, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-03-20 13:13] whedon commented on #1338
[code]

[2019-03-20 13:13] #1268 closed

[2019-03-20 13:13] whedon commented on #1338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01338/joss.01338/10.21105.joss.01338.pdf)

[2019-03-20 13:14] labarba commented on #1209
@whedon set v1.0.0 as version

[2019-03-20 13:14] whedon commented on #1209
OK. v1.0.0 is the version.

[2019-03-20 13:15] labarba commented on #1209
@whedon set 10.5281/zenodo.2599955 as archive

[2019-03-20 13:15] whedon commented on #1209
OK. <a href="https://doi.org/10.5281/zenodo.2599955" target="_blank">10.5281/zenodo.2599955</a> is the archive.

[2019-03-20 13:15] Kevin-Mattheus-Moerman commented on #1333
@chrisrichardson, @IgorBaratta, @sebastkm would you be interested in reviewing this work for JOSS? Thanks.

[2019-03-20 13:15] labarba commented on #1209
@whedon accept

[2019-03-20 13:15] whedon commented on #1209
[code]

[2019-03-20 13:16] whedon commented on #1209
[code]

[2019-03-20 13:16] whedon commented on #1209
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/564

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/564, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-20 13:18] labarba commented on #1209
@whedon accept deposit=true

[2019-03-20 13:18] whedon commented on #1209
[code]

[2019-03-20 13:18] harpolea commented on #1335
Sure, I'd be happy to review it

[2019-03-20 13:19] whedon commented on #1209
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/565
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01209](https://doi.org/10.21105/joss.01209)
2. If everything looks go

[2019-03-20 13:19] arcuri82 commented on #1246
hi. sorry for late reply (very busy week). if you still need a reviewer, I can do it

[2019-03-20 13:21] labarba commented on #1209
Congratulations, @bjmorgan and @georgiewellock — your JOSS paper is published!

With huge thanks to our reviewers: @ncclementi, @vyasr — we couldn't do this without you 🙏

[2019-03-20 13:21] #1209 closed

[2019-03-20 13:21] whedon commented on #1209
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01209/status.svg)](https://doi.org/10.21105/joss.01209)

**We need your help!**

Journal of Open Source Softwar

[2019-03-20 13:21] Kevin-Mattheus-Moerman commented on #1333
@maroba as developer of [findiff](https://github.com/maroba/findiff) you might be interested in this submission to [JOSS](http://joss.theoj.org/). I'm wondering if you'd be a suitable reviewer. If you are interested in reviewing this, please can you tell me about your professional background or provide a link to a professional page e.g. your university or an ORCID profile (apologies I cannot tell

[2019-03-20 13:23] bjmorgan commented on #1209
Our thanks as well to @ncclementi and @vyasr. Very helpful, thoughtful reviewing.

[2019-03-20 13:24] Kevin-Mattheus-Moerman commented on #1333
@lheagy would you be interested in reviewing this work or do you know any suitable potential reviewers? Thanks.

[2019-03-20 13:24] gkthiruvathukal commented on #1246
@arcuri82 Thanks for your offer. I have started the review now. I will keep you in mind for a future submission.

[2019-03-20 13:28] trallard commented on #1291
Hey @Kevin-Mattheus-Moerman  I am OOO until the beginning of April so will move this then

[2019-03-20 13:31] trallard commented on #1065
@whedon set https://doi.org/10.5281/zenodo.2591725 as archive

[2019-03-20 13:32] whedon commented on #1065
OK. <a href="https://doi.org/10.5281/zenodo.2591725" target="_blank">10.5281/zenodo.2591725</a> is the archive.

[2019-03-20 13:32] trallard commented on #1065
@whedon set v0.2 as version

[2019-03-20 13:32] whedon commented on #1065
OK. v0.2 is the version.

[2019-03-20 13:32] hainesr commented on #1338
Hi @omoliavko, should `vpetrychenko` also be an author on this paper? They appear to have made a significant contribution to the software - https://github.com/Samsung/uJVM/graphs/contributors

[2019-03-20 13:35] trallard commented on #1065
@aslakbergersen  and @hkjeldsberg all looks good to me now so I am going to proceed for acceptance ⚡✨

@brainstorm and @rlizzo thank you so much for your time and expertise as reviewers it is much appreciated at JOSS 🙌🏻

@openjournals/joss-eics this submission has been accepted and is ready to be published 🎉🙌🏻🥳

[2019-03-20 13:35] trallard commented on #1065
@whedon accept

[2019-03-20 13:35] whedon commented on #1065
[code]

[2019-03-20 13:36] oxinabox commented on #1013
No, sorry i've been away. Will send to it soon

[2019-03-20 13:36] whedon commented on #1065
[code]

[2019-03-20 13:37] whedon commented on #1065
PDF failed to compile for issue #1065 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    177      0 --:--:-- --:--:-- --:--:--   178
sh: 0: getcwd() f

[2019-03-20 13:40] omoliavko commented on #1338
Hi @hainesr, I could add him to authors list, but he contributed to S/W, not the paper itself, so I'm not sure if it would be correct.

[2019-03-20 13:44] hainesr commented on #1338
The software is the important contribution here, so I think he should be added. The paper is of secondary importance where authorship is concerned. I'll tag in @gkthiruvathukal for an adjudication, though...

[2019-03-20 13:45] trallard commented on #1065
@whedon  generate pdf

[2019-03-20 13:47] gkthiruvathukal commented on #1338
I concur with @hainesr. I would think that one of the main goals of JOSS is to ensure that those who contribute substantially to the development of research software are recognized for their contributions.

[2019-03-20 13:47] omoliavko commented on #1338
Ok, I'll update the author list

[2019-03-20 13:48] trallard commented on #1309
/ooo March 20 until April 7

[2019-03-20 13:56] omoliavko commented on #1338
Added Vitalii Petrychenko (vpetrychenko) to author list

[2019-03-20 13:59] hainesr commented on #1338
@whedon commands

[2019-03-20 13:59] whedon commented on #1338
Here are some things you can ask me to do:

[code]

[2019-03-20 13:59] hainesr commented on #1338
@whedon generate pdf

[2019-03-20 13:59] whedon commented on #1338
[code]

[2019-03-20 14:00] whedon commented on #1338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01338/joss.01338/10.21105.joss.01338.pdf)

[2019-03-20 14:18] hkjeldsberg commented on #1065
@whedon generate pdf

[2019-03-20 14:18] whedon commented on #1065
[code]

[2019-03-20 14:20] whedon commented on #1065
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01065/joss.01065/10.21105.joss.01065.pdf)

[2019-03-20 15:16] TormodLandet commented on #1239
Thanks for the the review and comments on the paper, @inducer! I have updated the Markdown document and pushed the changes to master.

@whedon generate pdf

Below follows answers/clarifications to some comments

### Discussion of finite volume methods

I extended and clarified this section (of "competing" methods). The intent is to show the commonly used methods (piecewise constant, first or secon

[2019-03-20 15:22] TormodLandet commented on #1239
@whedon generate pdf

[2019-03-20 15:22] whedon commented on #1239
[code]

[2019-03-20 15:23] whedon commented on #1239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01239/joss.01239/10.21105.joss.01239.pdf)

[2019-03-20 15:38] ajgates42 commented on #1264
Thats the standard citation from the scipy website
<https://www.scipy.org/citing.html>.  But the reference isn't essential for
the work, so lets, just drop it from the paper.  I've updated the bib
accordingly.

Thanks!

On Wed, Mar 20, 2019 at 6:10 AM Arfon Smith <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern Uni

[2019-03-20 17:09] garrettj403 commented on #1231
@whedon generate pdf

[2019-03-20 17:09] whedon commented on #1231
[code]

[2019-03-20 17:10] whedon commented on #1231
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01231/joss.01231/10.21105.joss.01231.pdf)

[2019-03-20 17:11] arfon commented on #1065
@aslakbergersen @hkjeldsberg - could you merge this PR: https://github.com/KVSlab/morphMan/pull/23 - it will improve the formatting of your citations when there are multiples.

[2019-03-20 17:13] aslakbergersen commented on #1065
@arfon Thank you for the PR, it is now merged.

[2019-03-20 17:14] aslakbergersen commented on #1065
@whedon generate pdf

[2019-03-20 17:14] whedon commented on #1065
[code]

[2019-03-20 17:16] whedon commented on #1065
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01065/joss.01065/10.21105.joss.01065.pdf)

[2019-03-20 17:18] arfon commented on #1065
@whedon accept

[2019-03-20 17:18] whedon commented on #1065
[code]

[2019-03-20 17:19] whedon commented on #1065
PDF failed to compile for issue #1065 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     86      0 --:--:-- --:--:-- --:--:--    86
sh: 0: getcwd() f

[2019-03-20 17:19] arfon commented on #1065
@whedon accept

[2019-03-20 17:19] whedon commented on #1065
[code]

[2019-03-20 17:20] arfon commented on #1065
Sometimes @whedon times out generating these PDFs...

[2019-03-20 17:20] whedon commented on #1065
[code]

[2019-03-20 17:20] whedon commented on #1065
PDF failed to compile for issue #1065 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1065 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-03-20 17:21] whedon commented on #1065
[code]

[2019-03-20 17:23] arfon commented on #1065
@whedon accept

[2019-03-20 17:23] labarba commented on #1231
@garrettj403 Can you delete the last sentence? The JOSS paper format includes links to the software repository and its archive on the right margin of the first page. We don't include the archive as a citation, but create linked DOIs with the Crossref deposit.

[2019-03-20 17:23] whedon commented on #1065
[code]

[2019-03-20 17:24] whedon commented on #1065
PDF failed to compile for issue #1065 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    148      0 --:--:-- --:--:-- --:--:--   150
sh: 0: getcwd() f

[2019-03-20 17:25] whedon commented on #1065
Downloading of the repository (to check the bibtex) failed for issue #1065 failed with the following error:

 Cloning into 'tmp/1065'...

[2019-03-20 17:25] labarba commented on #1231
After you do this ☝️, the next step is to create a tagged release (post the version number here), and update your Zenodo deposit to a new version (no need for a new DOI, just a version). Post the archive DOI here.

[2019-03-20 17:25] arfon commented on #1065
@whedon generate pdf

[2019-03-20 17:25] whedon commented on #1065
[code]

[2019-03-20 17:26] rainwoodman commented on #1303
Sure -- I'll need to see the review guidelines, and a deadline.

[2019-03-20 17:29] whedon opened #1339 "[PRE REVIEW]: prysm: A Python optics module"
**Submitting author:** @brandondube (<a href="http://orcid.org/0000-0002-3837-605X">Brandon Dube</a>)
**Repository:** <a href="https://github.com/brandondube/prysm" target ="_blank">https://github.com/brandondube/prysm</a>
**Version:** v0.15.1
**Editor:** @xuanxu
**Reviewers:** @aquilesC

**Author instructions**

Thanks for submitting your paper to JOSS @brandondube. **Currently, there isn't an JO

[2019-03-20 17:29] whedon commented on #1339
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-20 17:29] whedon commented on #1339
[code]

[2019-03-20 17:29] whedon commented on #1065
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01065/joss.01065/10.21105.joss.01065.pdf)

[2019-03-20 17:29] whedon commented on #1339
PDF failed to compile for issue #1339 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    114      0 --:--:-- --:--:-- --:--:--   115
Could not find bi

[2019-03-20 17:30] arfon commented on #1065
@whedon accept deposit=true

[2019-03-20 17:30] whedon commented on #1065
[code]

[2019-03-20 17:32] whedon commented on #1065
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/566
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01065](https://doi.org/10.21105/joss.01065)
2. If everything looks go

[2019-03-20 17:33] arfon commented on #1339
@brandondube - please either rename `references.bib` to be `paper.bib` or change the entry in your `paper.md` to point to `references.bib`

[2019-03-20 17:35] arfon commented on #1065
@brainstorm, @rlizzo - many thanks for your reviews here and to @trallard for editing this submission ✨

@aslakbergersen @hkjeldsberg - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-20 17:35] #1065 closed

[2019-03-20 17:35] whedon commented on #1065
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01065/status.svg)](https://doi.org/10.21105/joss.01065)

**We need your help!**

Journal of Open Source Softwar

[2019-03-20 18:01] garrettj403 commented on #1231
Hi @labarba, I've removed the last sentence from ``paper.md`` and issued a new release. The new version number is [v1.0.3](https://github.com/garrettj403/QMix/releases/tag/v1.0.3) and the Zenodo DOI is [10.5281/zenodo.2538162](https://doi.org/10.5281/zenodo.2538162) (for the archive as a whole).

[2019-03-20 18:07] leouieda commented on #1335
@whedon assign @mikaem as reviewer

[2019-03-20 18:07] whedon commented on #1335
OK, the reviewer is @mikaem

[2019-03-20 18:08] leouieda commented on #1335
@whedon add @harpolea as reviewer

[2019-03-20 18:08] whedon commented on #1335
OK, @harpolea is now a reviewer

[2019-03-20 18:09] leouieda commented on #1335
@mikaem @harpolea thank you for agreeing to review :tada: :1st_place_medal:

[2019-03-20 18:09] leouieda commented on #1335
@whedon check references

[2019-03-20 18:09] whedon commented on #1335
[code]

[2019-03-20 18:11] jdrugo commented on #1314
@whedon generate pdf

[2019-03-20 18:11] whedon commented on #1314
[code]

[2019-03-20 18:12] whedon commented on #1314
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01314/joss.01314/10.21105.joss.01314.pdf)

[2019-03-20 18:19] leouieda commented on #1335
@whedon generate pdf

[2019-03-20 18:19] whedon commented on #1335
[code]

[2019-03-20 18:19] whedon commented on #1335
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01335/joss.01335/10.21105.joss.01335.pdf)

[2019-03-20 18:21] jdrugo commented on #1314
@whedon generate pdf

[2019-03-20 18:21] whedon commented on #1314
[code]

[2019-03-20 18:22] whedon commented on #1314
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01314/joss.01314/10.21105.joss.01314.pdf)

[2019-03-20 18:23] jdrugo commented on #1314
@labarba -- Thank you for your comments. I have now updated the paper accordingly, and have added DOIs whenever available.

[2019-03-20 18:26] leouieda commented on #1335
@mancellin please add these missing DOIs to your BibTex:

* https://doi.org/10.1115/OMAE2018-77924
* https://doi.org/10.1016/j.apor.2018.10.007

[2019-03-20 18:45] mancellin commented on #1335
Done.

[2019-03-20 18:57] lpantano commented on #1334
Hi @Juke34,

Thanks for submitting your work here. Let me know when you get the PDF generated correctly, and I can start moving things forward.

Thanks!

[2019-03-20 18:59] whedon commented on #1335
[code]

[2019-03-20 19:10] karthik commented on #785
I'll send Kyle an email shortly.

[2019-03-20 19:23] ybayle commented on #1094
The revised version works fine for me.

`Automated tests: Are there automated tests or manual steps described so that the function of the software can be verified?`
This is the last check remaining. There are no automated tests implemented currently for the 3 parts of the algo (namely Data Preparation, Pattern Recognition and Visualization). How critical is this assertion for the review process?

[2019-03-20 19:30] ybayle commented on #1262
Thanks for noticing! We have updated our license consistently accordingly.

[2019-03-20 19:47] labarba commented on #1314
Did you also address my other comment, above?
https://github.com/openjournals/joss-reviews/issues/1314#issuecomment-473580071

[2019-03-20 19:50] jdrugo commented on #1314
@labarba - yes, the updated version is an attempt to address these comments. I didn't go so far as to explain what linear and logistic regression are (I hope this knowledge can be assumed), but tried to simplify the summary.

[2019-03-20 19:50] labarba commented on #1231
@whedon set v1.0.3 as version

[2019-03-20 19:50] whedon commented on #1231
OK. v1.0.3 is the version.

[2019-03-20 19:52] labarba commented on #1231
Please edit the metadata of your Zenodo deposit so the title and author list match the JOSS paper.

[2019-03-20 20:03] garrettj403 commented on #1231
Okay, I've updated the [Zenodo archive](https://zenodo.org/record/2600288). The title and authors now match the JOSS paper.

[2019-03-20 20:37] Juke34 commented on #1334
@whedon generate pdf

[2019-03-20 20:37] whedon commented on #1334
[code]

[2019-03-20 20:37] whedon commented on #1334
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01334/joss.01334/10.21105.joss.01334.pdf)

[2019-03-20 20:52] inducer commented on #1239
- [ ] extraneous comma

[2019-03-20 20:55] labarba commented on #1231
@whedon set 10.5281/zenodo.2538162  as archive

[2019-03-20 20:55] whedon commented on #1231
OK. <a href="https://doi.org/10.5281/zenodo.2538162" target="_blank">10.5281/zenodo.2538162</a> is the archive.

[2019-03-20 20:56] IgorBaratta commented on #1292
@Kevin-Mattheus-Moerman , I'm almost finishing with my review.
I've opened [1 issue](https://bitbucket.org/dolfin-adjoint/pyadjoint/issues/106/joss-review-error-collecting-tests) and created [1 PR](https://bitbucket.org/dolfin-adjoint/pyadjoint/pull-requests/77/joss-review-add-missing-dois/diff) for  a small fix.

So far everything is looks pretty good. I hope to go through all the boxes above by

[2019-03-20 21:00] labarba commented on #1231
@whedon accept

[2019-03-20 21:00] whedon commented on #1231
[code]

[2019-03-20 21:00] whedon commented on #1231
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/567

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/567, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-20 21:01] whedon commented on #1231
[code]

[2019-03-20 21:01] inducer commented on #1239
The paper and documentation look good to me now, and the software appears to work as advertised. Once community guidelines are added, I recommend accepting the paper. As for my review checklist, since I reviewed a recent git version (762876f), I recommend rolling a new release, so that I can check off the version-related item.

[2019-03-20 21:09] labarba commented on #1231
@whedon accept deposit=true

[2019-03-20 21:09] whedon commented on #1231
[code]

[2019-03-20 21:09] whedon commented on #1231
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/568
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01231](https://doi.org/10.21105/joss.01231)
2. If everything looks go

[2019-03-20 21:13] labarba commented on #1231
Congratulations, @garrettj403, your JOSS paper is published 👏

Huge thanks to the reviewers: @FaustinCarter, @josephhardinee, @PaulKGrimes 🙏

[2019-03-20 21:14] #1231 closed

[2019-03-20 21:14] whedon commented on #1231
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01231/status.svg)](https://doi.org/10.21105/joss.01231)

**We need your help!**

Journal of Open Source Softwar

[2019-03-20 21:27] whedon commented on #1335
[code]

[2019-03-20 21:38] VivianePons commented on #1264
@whedon generate pdf

[2019-03-20 21:38] whedon commented on #1264
[code]

[2019-03-20 21:38] whedon commented on #1264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01264/joss.01264/10.21105.joss.01264.pdf)

[2019-03-20 21:40] VivianePons commented on #1264
@whedon check references

[2019-03-20 21:40] whedon commented on #1264
[code]

[2019-03-20 21:40] whedon commented on #1264
[code]

[2019-03-20 21:45] Juke34 commented on #1334
I had apparently forgot a sentence. I also fixed a typo and added a figure. I'm not sure having proceeding properly with the figure. Let's see the new pdf.
@whedon generate pdf

[2019-03-20 21:50] VivianePons commented on #1264
Perfect, could you update the Zenodo metadata so that the title matches the paper name? (At the moment, the Zenodo title is only "CluSim" whereas the title paper is: "CluSim: a Python package for the comparison of clusterings and dendrograms")

Also, you might wanna udpate the paper.md and paper.bib on the the Zenodo archive if that's possible (sorry, I should probably have asked you to create the

[2019-03-20 21:53] piermorel commented on #1291
Hi, thanks for the reminder. I'll get on it by the end of the week!

[2019-03-20 21:56] VivianePons commented on #1303
@whedon add @rainwoodman as reviewer

[2019-03-20 21:56] whedon commented on #1303
OK, @rainwoodman is now a reviewer

[2019-03-20 21:57] VivianePons commented on #1303
@whedon start review

[2019-03-20 21:57] whedon opened #1340 "[REVIEW]: mpi4py-fft - Parallel Fast Fourier Transforms with MPI for Python"
**Submitting author:** @mikaem (<a href="http://orcid.org/0000-0002-3293-7573">Mikael Mortensen</a>)
**Repository:** <a href="https://bitbucket.org/mpi4py/mpi4py-fft" target ="_blank">https://bitbucket.org/mpi4py/mpi4py-fft</a>
**Version:** 2.0.2
**Editor:** @VivianePons
**Reviewer:** @iljah, @rainwoodman
**Archive:** <a href="https://doi.org/10.5281/zenodo.2621442" target="_blank">10.5281/zenodo.

[2019-03-20 21:57] whedon commented on #1303
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1340. Feel free to close this issue now!

[2019-03-20 21:57] whedon commented on #1340
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @iljah, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-03-20 21:57] whedon commented on #1340
[code]

[2019-03-20 21:57] #1303 closed

[2019-03-20 21:57] whedon commented on #1340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01340/joss.01340/10.21105.joss.01340.pdf)

[2019-03-20 22:00] leouieda commented on #1335
@whedon start review

[2019-03-20 22:00] whedon opened #1341 "[REVIEW]: Capytaine: a Python-based linear potential flow solver"
**Submitting author:** @mancellin (<a href="http://orcid.org/0000-0002-0316-3230">Matthieu Ancellin</a>)
**Repository:** <a href="https://github.com/mancellin/capytaine" target ="_blank">https://github.com/mancellin/capytaine</a>
**Version:** v1.0.1
**Editor:** @leouieda
**Reviewer:** @mikaem, @harpolea
**Archive:** <a href="https://doi.org/10.5281/zenodo.2633744" target="_blank">10.5281/zenodo.26

[2019-03-20 22:00] whedon commented on #1335
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1341. Feel free to close this issue now!

[2019-03-20 22:00] whedon commented on #1341
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mikaem, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-03-20 22:00] whedon commented on #1341
[code]

[2019-03-20 22:01] whedon commented on #1341
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01341/joss.01341/10.21105.joss.01341.pdf)

[2019-03-20 22:02] leouieda commented on #1335
@mikaem @harpolea Thank you for agreeing to review. Please head over to #1341 for the review. Feel free to ping me (`@leouieda`) in the review issue or elsewhere if you need any help or have questions.

[2019-03-20 22:02] #1335 closed

[2019-03-20 22:08] grabear commented on #1299
@sdhutchins made a release or two today.  Here is the link to the zenodo for that:
https://zenodo.org/account/settings/github/repository/vallenderlab/MicrobiomeR#

I also used this DOI in the "zenodo mistake" I made earlier.  So we made need to be issued another DOI.
@lpantano

[2019-03-20 22:27] lpantano commented on #1334
@whedon generate pdf

[2019-03-20 22:27] whedon commented on #1334
[code]

[2019-03-20 22:27] whedon commented on #1334
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01334/joss.01334/10.21105.joss.01334.pdf)

[2019-03-20 22:42] garrettj403 commented on #1231
That's fantastic! Thank you for all your help @labarba. Thank you also @PaulKGrimes, @FaustinCarter and @josephhardinee for your work testing QMix and your helpful comments. Overall, this was a very constructive and pleasant review process. Cheers!

[2019-03-20 22:57] brainstorm commented on #1172
@arokem If that helps, it does tick all the boxes for me 👍

[2019-03-20 23:26] lpantano commented on #1299
Hi,

Thanks for working on this. I found this one: https://zenodo.org/record/2600432#.XJLLXaQpCEc  what seems correct.

But we need to match the title of the zenodo release with the paper (as you did for the mistake). Can you remove the mistake zenodo or change the title and update this one with the paper title.

Probably we need to add more documentation on this matter.

Let me know if you need m

[2019-03-21 00:25] brandondube commented on #1339
@whedon commands

[2019-03-21 00:25] whedon commented on #1339
Here are some things you can ask me to do:

[code]

[2019-03-21 00:25] brandondube commented on #1339
@whedon generate pdf

[2019-03-21 00:25] whedon commented on #1339
[code]

[2019-03-21 00:26] whedon commented on #1339
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01339/joss.01339/10.21105.joss.01339.pdf)

[2019-03-21 04:05] lheagy commented on #1333
Hi @Kevin-Mattheus-Moerman, this looks like an interesting submission! My edit que is keeping me pretty busy at the moment, so it would be several weeks before I could get to this, so if you can't find another reviewer, feel free to ping. Otherwise, I would suggest: @prisae, @thast or there may be some folks from the [Fenics](https://fenicsproject.org/) project who would be willing to take a look

[2019-03-21 06:56] prisae commented on #1333
Not sure if I am up for this task. (Time-wise definitely not within the next 10 days, give me a shout if you're still looking for reviewers in two weeks.)

However, topic-wise I would suggest to ask @mrava87. He is definitely better suited topic-wise, and might be very interested in it indeed.

[2019-03-21 07:23] mrava87 commented on #1333
Hi, I am happy to review this. Let me know if it’s ok and I can do it over the weekend :) As I never reviewed this journal before, the manuscript is the one you access at the ‘check proof’ link above? And comments should also be focused on the software itself, right?

[2019-03-21 07:52] iljah commented on #1340
@VivianePons bitbucket doesn't seem to have releases so this item isn't applicable "Does the release version given match the GitHub release (v2.0.0)". I'll mark it as completed...

[2019-03-21 08:13] mikaem commented on #1340
@iljah The most recent version released on [pypi](https://pypi.org/project/mpi4py-fft/) and [conda-forge](https://anaconda.org/conda-forge/mpi4py-fft) is now 2.0.1. I need to change the JOSS version number. The tags on bitbucket, used for these releases, are [here](https://bitbucket.org/mpi4py/mpi4py-fft/downloads/?tab=tags).

[2019-03-21 09:06] oxinabox commented on #1013
Done

[2019-03-21 09:30] Kevin-Mattheus-Moerman commented on #1333
@mrava87 thanks for your interest, I assume this is you: https://scholar.google.com/citations?user=2fON_zgAAAAJ&hl=en (I recommend you add your affiliation and perhaps a link to a professional profile like ORCID to your GitHub profile too). I'll add you as a reviewer and will help you through the process. This is a pre-review issue, the review will take place in a separate issue. Thanks for helpin

[2019-03-21 09:30] Kevin-Mattheus-Moerman commented on #1333
@whedon assign @mrava87 as reviewer

[2019-03-21 09:30] whedon commented on #1333
OK, the reviewer is @mrava87

[2019-03-21 09:47] Kevin-Mattheus-Moerman commented on #1333
@wesselb @willtebbutt @ketch @twhughes @ianwilliamson @ohinai @rc would you be interested in reviewing this [JOSS](http://joss.theoj.org/) submission on Finite Differences using Python? The review process will focus on [the software](https://gitlab.com/celliern/scikit-fdiff/) and a [short paper](https://github.com/openjournals/joss-papers/blob/joss.01333/joss.01333/10.21105.joss.01333.pdf).

This

[2019-03-21 09:48] whedon commented on #1013
[code]

[2019-03-21 09:48] whedon commented on #1013
PDF failed to compile for issue #1013 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    14    0     0    176      0 --:--:-- --:--:-- --:--:--   177
Error reading bib

[2019-03-21 09:52] Kevin-Mattheus-Moerman commented on #1013
@oxinabox can you trouble shoot the above a bit? Feel free to call `@whedon generate pdf` yourself here to attempt to recreate the paper.

[2019-03-21 10:33] oxinabox commented on #1013
@whedon generate pdf

[2019-03-21 10:33] whedon commented on #1013
[code]

[2019-03-21 10:33] whedon commented on #1013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01013/joss.01013/10.21105.joss.01013.pdf)

[2019-03-21 10:40] oxinabox commented on #1013
@whedon generate pdf

[2019-03-21 10:40] whedon commented on #1013
[code]

[2019-03-21 10:41] whedon commented on #1013
PDF failed to compile for issue #1013 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    14    0     0    161      0 --:--:-- --:--:-- --:--:--   162

[2019-03-21 10:56] arfon commented on #1013
@whedon generate pdf

[2019-03-21 10:56] whedon commented on #1013
[code]

[2019-03-21 10:56] whedon commented on #1013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01013/joss.01013/10.21105.joss.01013.pdf)

[2019-03-21 11:04] oxinabox commented on #1013
LGTM

[2019-03-21 11:05] oxinabox commented on #1013
LGTM

[2019-03-21 11:23] iljah commented on #1340
@mikaem this condition might not hold for mpi4py-fft: "Does the repository contain a plain-text LICENSE file". Even though rst isn't a binary format it still doesn't look like plain text when viewed in a plain text editor.

[2019-03-21 11:32] iljah commented on #1340
I couldn't find examples on how to use mpi4py-fft as required by "Example usage: Do the authors include examples of how to use the software". At least one simple example would be informative.

[2019-03-21 11:40] Kevin-Mattheus-Moerman commented on #1013
@whedon check references

[2019-03-21 11:40] whedon commented on #1013
[code]

[2019-03-21 11:40] whedon commented on #1013
[code]

[2019-03-21 11:41] iljah commented on #1340
Community guidelines as listed in our checklists also seem to be missing.

[2019-03-21 11:49] iljah commented on #1340
Functionality documentation also seems to be missing, unless using external websites is allowed, @VivianePons ?

[2019-03-21 11:56] iljah commented on #1340
Ah looks like most documentation is "hidden" in docs/source directory. Mentioning this directory in top level readme should be sufficient to cover doc requirements...

[2019-03-21 11:57] codeling commented on #1185
@katyhuff adding the username mention as an edit doesn't seem to have triggered a notification, trying again...

[2019-03-21 12:16] Kevin-Mattheus-Moerman commented on #1013
Some minor comments on the paper:

- [ ] Can you define the acronyms NLP, LSTM

- [ ] Either introduce NLP and use it consistently or remove it and say natural language processing throughout (it appears natural language processing is spelled out later in the text).

- [ ] Can you use the same form in the bullet list? By form I mean that the word embeddings follows after the bracketed references e.

[2019-03-21 12:20] katyhuff commented on #1185
(sorry for the delay in responding - am still on vacation). Thanks for the explanation. I think this can be accepted with the DOI including your interleaved changes, as they

[2019-03-21 12:21] katyhuff commented on #1185
@whedon generate pdf

[2019-03-21 12:21] whedon commented on #1185
[code]

[2019-03-21 12:22] whedon commented on #1185
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01185/joss.01185/10.21105.joss.01185.pdf)

[2019-03-21 12:31] katyhuff commented on #1185
@whedon check references

[2019-03-21 12:31] whedon commented on #1185
[code]

[2019-03-21 12:31] whedon commented on #1185
[code]

[2019-03-21 12:33] katyhuff commented on #1185
@whedon set 2019.03 as version

[2019-03-21 12:33] whedon commented on #1185
OK. 2019.03 is the version.

[2019-03-21 12:33] katyhuff commented on #1185
@whedon set 10.5281/zenodo.2591999 as archive

[2019-03-21 12:34] whedon commented on #1185
OK. <a href="https://doi.org/10.5281/zenodo.2591999" target="_blank">10.5281/zenodo.2591999</a> is the archive.

[2019-03-21 12:34] dalcinl commented on #1340
@iljah About `LICENSE.rst`: In general lines, reStructuredText, Markdown, etc can be considered *plain-text*, they were designed with very lightweight markup in mind. In the very particular case of our `LICENSE.rst`, we only deviate for extreme pure-text in the two fields `:Author:` and `:Contact:`, however this markup is extremely lightweight, IMHO it does not interfere at all with reading it in

[2019-03-21 12:35] katyhuff commented on #1185
@whedon accept

[2019-03-21 12:35] whedon commented on #1185
[code]

[2019-03-21 12:35] codeling commented on #1185
Ah yes forgot that - sorry for bothering you on vacation!

Great, thanks!

[2019-03-21 12:35] whedon commented on #1185
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/569

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/569, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-21 12:35] whedon commented on #1185
[code]

[2019-03-21 12:40] katyhuff commented on #1185
Thanks @codeling for your submission patience and cooperation with the process!

Thank you @trallard and @behollister for your detailed reviews!

This paper should be ready to accept @openjournals/joss-eics - over to you!

[2019-03-21 12:40] dalcinl commented on #1340
@iljah The documentation is not "hidden" in `docs/source`. It is just the reStructuredText sources for what is available online in https://mpi4py-fft.readthedocs.io. BTW, our README file has the usual `docs:passing` badge at the top with the link to readthedocs.

[2019-03-21 12:42] dalcinl commented on #1340
@iljah About examples, did you take a look under the `examples` directory?

[2019-03-21 12:45] arfon commented on #1185
@whedon accept

[2019-03-21 12:45] whedon commented on #1185
[code]

[2019-03-21 12:45] whedon commented on #1185
[code]

[2019-03-21 12:45] whedon commented on #1185
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/570

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/570, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-21 12:46] arfon commented on #1340
IANAL too but I think this is OK.

[2019-03-21 12:47] arfon commented on #1185
@whedon accept deposit=true

[2019-03-21 12:47] whedon commented on #1185
[code]

[2019-03-21 12:47] whedon commented on #1185
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/571
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01185](https://doi.org/10.21105/joss.01185)
2. If everything looks go

[2019-03-21 12:50] arfon commented on #1185
@trallard, @behollister - many thanks for your reviews here and to @katyhuff for editing this submission ✨

@codeling - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-21 12:50] #1185 closed

[2019-03-21 12:50] whedon commented on #1185
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01185/status.svg)](https://doi.org/10.21105/joss.01185)

**We need your help!**

Journal of Open Source Softwar

[2019-03-21 13:12] NelleV commented on #1286
Thanks @robinweide for the review!

I've fixed all items be the number 3 (community guidelines). Unless I'm looking at the wrong link in the documentation, it's already pointing to the issue tracker.

[2019-03-21 13:37] briatte commented on #1322
Dear @KateHyoung (I hope it's fine to address submitting authors in JOSS review threads?)

I posted a bunch of numbered comments in the thread above. I hope that you will find them useful in improving your package, which I found helpful and carefully coded. Thanks for your work, looking forward to discussing things further.

All the best~

[2019-03-21 13:43] iljah commented on #1340
As understood my instructions, documentation should be in readme file so link to external website isn't sufficient. @VivianePons ? I think just cloning the repo should give everything my instructions are asking for, at least minimal versions of each item.

No as it wasn't mentioned in readme. I guess examples dir is good enough but mentioning it would be nice.

[2019-03-21 13:46] mrava87 commented on #1333
Added my organization and link to scholar to my github account :)

[2019-03-21 13:49] mrava87 commented on #1333
Sounds good. So we wait until you create the review issue and then we can start commenting there, right?

[2019-03-21 14:09] iljah commented on #1340
I couldn't find separate API documentation (in git repo) but using dir and help commands on mpi4py_fft and its contents looks good enough.

[2019-03-21 14:35] pjotrp commented on #1286
@robinweide are you happy with the fixes?

[2019-03-21 15:18] ajgates42 commented on #1264
OK.  The Zenodo metadata and files have been brought up to date.  The new
DOI is 10.5281/zenodo.2601868

On Wed, Mar 20, 2019 at 5:50 PM Viviane Pons <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-03-21 15:29] gweissman commented on #1310
@gkthiruvathukal Thank you for thinking of me for the review. I could comment on things like documentation, ease of install, readability of software, and other user experience domains. However, I am completely unfamiliar with Uralic languages so could not comment on the accuracy of usefulness of the tool. Neither am I a computer scientist nor a linguist, so others may have more relevant expertise

[2019-03-21 15:59] TormodLandet commented on #1239
Thanks both of you for your useful comments! I updated the [community guidelines](https://www.ocellaris.org/programmers_guide/guidelines.html) with information about how to run the tests, fixed the installation instruction per the review comments and released a new version, 2019.0.2 on both PyPi and the Singularity Library.

With regards to the extraneous commas in the references, they show up in

[2019-03-21 16:07] inducer commented on #1239
OK, not a deal breaker. Just figured I would point it out.

On that page, I recommend

* adding a heading "How to report a bug" with a direct link to the issue tracker.
* adding a heading "How to contribute a patch" with instructions on how to submit the patch. (particularly if someone doesn't already have commit rights)
* adding a heading "How to get tech support" describing how one might accompl

[2019-03-21 16:21] grabear commented on #1299
Sorry about that!  I've been doing the zenodo in a hurry, and I'm kicking myself for it.  I'm working to complete this properly now.

[2019-03-21 16:27] grabear commented on #1299
Ok so here is the Zenodo link for the paper.  The title should be correct.  I published it as well, so hopefully that solved some other issues.  https://zenodo.org/record/2600432

[2019-03-21 16:52] VivianePons commented on #1264
@whedon set 10.5281/zenodo.2601868 as archive

[2019-03-21 16:52] whedon commented on #1264
OK. <a href="https://doi.org/10.5281/zenodo.2601868" target="_blank">10.5281/zenodo.2601868</a> is the archive.

[2019-03-21 16:54] VivianePons commented on #1264
@whedon generate pdf

[2019-03-21 16:54] whedon commented on #1264
[code]

[2019-03-21 16:54] whedon commented on #1264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01264/joss.01264/10.21105.joss.01264.pdf)

[2019-03-21 16:58] gkthiruvathukal commented on #1310
Thanks, @gweissman. I don't see too much expertise in Uralic languages on the board, so we're all kind of in the same boat. I am mainly interested in evaluating the aspects you mentioned. I'm hoping we will get one other reviewer (@mbod). I will assign you and wait a bit longer to see if we can get a second reviewer.  Then we'll start review.

[2019-03-21 17:01] VivianePons commented on #1264
Thank you @ajgates42 @adavidzh and @pajaskowiak for the great work! This paper is ready to be accepted. It's now up to you @openjournals/joss-eics

[2019-03-21 17:04] VivianePons commented on #1340
@whedon set version 2.0.1

[2019-03-21 17:09] VivianePons commented on #1340
@whedon set 2.0.1 as version

[2019-03-21 17:09] whedon commented on #1340
OK. 2.0.1 is the version.

[2019-03-21 17:12] arfon commented on #1264
@whedon accept

[2019-03-21 17:12] whedon commented on #1264
[code]

[2019-03-21 17:12] whedon commented on #1264
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/572

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/572, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-21 17:12] whedon commented on #1264
[code]

[2019-03-21 17:13] VivianePons commented on #1340
licence: I believe a .rst file is ok
documentation: the readthedoc version is ok, considering the source is in the repo. It would be good to have a link from the readme
Same for "examples", make it easy for a user to find everything from the readme file by just adding a few links.

[2019-03-21 17:17] arfon commented on #1264
@whedon accept deposit=true

[2019-03-21 17:17] whedon commented on #1264
[code]

[2019-03-21 17:18] whedon commented on #1264
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/573
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01264](https://doi.org/10.21105/joss.01264)
2. If everything looks go

[2019-03-21 17:21] arfon commented on #1264
@pajaskowiak, @adavidzh - many thanks for your reviews here and to @VivianePons for editing this submission :sparkles:

@ajgates42 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-21 17:21] #1264 closed

[2019-03-21 17:21] whedon commented on #1264
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01264/status.svg)](https://doi.org/10.21105/joss.01264)

**We need your help!**

Journal of Open Source Softwar

[2019-03-21 17:30] TormodLandet commented on #1239
The development guidelines page was getting long, and was dominated by *How to contribute a patch*, so I made a new community guidelines page, more prominently featured in the documentation with your three suggested headings. I like how it is now quite clear how to engage, thank you! The new page can be seen here: https://www.ocellaris.org/community_guidelines.html

The development guidelines now

[2019-03-21 17:31] KateHyoung commented on #1322
Thank you @briatte for taking your time to review our R package and documents. Your comments are very helpful to improve our package. Regarding comment #1, I will contact the server manager at UTD to improve security. For others, I will try my best to reflect your comments on codes and vignette and will discuss if I have questions on your comments. Thank you again!

[2019-03-21 17:32] lucydot commented on #1327
@wojciech-n  I have really enjoyed reading through the documentation for the `basicsums` package - it is an area of materials science I have little experience in, but I certainly feel that I've learnt something (and I can see possible ways to tie this into my own future work, which is exciting). I've been working through the first two tutorials (up to Effective conductivity) and will need another

[2019-03-21 17:41] ajgates42 commented on #1264
Awesome!  Thank you everyone for the insightful feedback and great
submission experience.

On Thu, Mar 21, 2019 at 1:21 PM Arfon Smith <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University
http://alexandergates.net

[2019-03-21 17:45] inducer commented on #1239
:+1:

[2019-03-21 17:57] lpantano commented on #1299
@weldom set 10.5281/zenodo.2600432 as archive

[2019-03-21 17:57] lpantano commented on #1299
@weldom set 0.6.0 as version

[2019-03-21 18:01] lpantano commented on #1299
@whedon set 0.6.0 as version

[2019-03-21 18:01] whedon commented on #1299
OK. 0.6.0 is the version.

[2019-03-21 18:01] lpantano commented on #1299
@whedon set 10.5281/zenodo.2600432 as archive

[2019-03-21 18:01] whedon commented on #1299
OK. <a href="https://doi.org/10.5281/zenodo.2600432" target="_blank">10.5281/zenodo.2600432</a> is the archive.

[2019-03-21 18:02] lpantano commented on #1299
Hi @openjournals/joss-eics,

This paper has been accepted. Let us know if we missed something.

Thanks!

[2019-03-21 19:28] sdhutchins commented on #1299
@lpantano just an fyi, we added an additional reference to the paper in the `.bib` file in `v0.60`

[2019-03-21 19:50] grabear commented on #1299
@whedon generate pdf

[2019-03-21 19:50] whedon commented on #1299
[code]

[2019-03-21 19:51] whedon commented on #1299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01299/joss.01299/10.21105.joss.01299.pdf)

[2019-03-21 20:14] leouieda commented on #1329
@arfon sure thing :+1:

[2019-03-21 20:55] leouieda commented on #1329
@whedon assign @leouieda as editor

[2019-03-21 20:55] whedon commented on #1329
OK, the editor is @leouieda

[2019-03-21 20:55] leouieda commented on #1329
@whedon check references

[2019-03-21 20:55] whedon commented on #1329
[code]

[2019-03-21 20:55] whedon commented on #1329
[code]

[2019-03-21 20:56] leouieda commented on #1329
:wave: Hi @kgjerde, I'll be handling your submission and will start looking for reviewers so we can get this started.

[2019-03-21 21:46] rainwoodman commented on #1340
@VivianePons : Do I need to pay special attention to avoid biasing my review by seeing other reviewer's comments?

[2019-03-21 21:48] VivianePons commented on #1340
No don't worry about that, the idea is that the discussion is open between both reviewers and the authors. I trust your judgement anyway ;)

[2019-03-21 21:50] rainwoodman commented on #1340
The guideline calls for citations to existing software performing similar functionalities.
The submission contains citations that demonstrates the merit / usefulness of this software, but is missing a citations to existing software that also performs distributed parallel FFTs: fftw-mpi, p3dfft, pfft, accfft, to name a few.

[2019-03-21 22:42] ailiop commented on #1076
@Kevin-Mattheus-Moerman : Thank you for all your help!  I have committed such a testing script exactly per your suggestion.

[2019-03-21 22:54] kgjerde commented on #1329
@leouieda: Great – thanks!

As per whedon's instructions: I think @andrewheiss, @kbenoit, and @trinker are all very suitable potential reviewers.

[2019-03-21 22:56] rainwoodman commented on #1340
API: https://mpi4py-fft.readthedocs.io/en/latest/mpi4py_fft.html#mpi4py_fft.mpifft.PFFT
The main entrance of PFFT takes a boolean argument `pyfftw`. The use of boolean makes it less clean to add support to other 1d FFT backends.

[2019-03-21 22:58] rainwoodman commented on #1340
@VivianePons Is there a mechanism to submit comments in bulk and keep track of them?

[2019-03-21 22:59] kbenoit commented on #1329
Looks very cool, I'd be happy to contribute a review.

[2019-03-21 23:16] trinker commented on #1329
I'd be happy to review as well.

On Thu, Mar 21, 2019, 6:59 PM Kenneth Benoit <notifications@github.com>
wrote:

[2019-03-21 23:29] kgjerde commented on #1329
@leouieda, @kbenoit, @trinker: Thanks a lot to all of you for such quick responses.

Also: I just added a link to one more example corpus in the readme file, but will leave the Github repo alone now.

[2019-03-21 23:53] leouieda commented on #1329
@whedon assign @kbenoit as reviewer

[2019-03-21 23:53] whedon commented on #1329
OK, the reviewer is @kbenoit

[2019-03-21 23:53] leouieda commented on #1329
@whedon add @trinker as reviewer

[2019-03-21 23:53] whedon commented on #1329
OK, @trinker is now a reviewer

[2019-03-21 23:55] leouieda commented on #1329
@whedon start review

[2019-03-21 23:55] whedon opened #1342 "[REVIEW]: corporaexplorer: an R package for dynamic exploration of text collections"
**Submitting author:** @kgjerde (<a href="http://orcid.org/0000-0001-8291-6837">Kristian Lundby Gjerde</a>)
**Repository:** <a href="https://github.com/kgjerde/corporaexplorer" target ="_blank">https://github.com/kgjerde/corporaexplorer</a>
**Version:** 0.5.1
**Editor:** @leouieda
**Reviewer:** @kbenoit, @trinker
**Archive:** <a href="https://doi.org/10.5281/zenodo.3239136" target="_blank">10.5281

[2019-03-21 23:55] whedon commented on #1329
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1342. Feel free to close this issue now!

[2019-03-21 23:55] whedon commented on #1342
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kbenoit, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-21 23:55] whedon commented on #1342
[code]

[2019-03-21 23:56] whedon commented on #1342
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01342/joss.01342/10.21105.joss.01342.pdf)

[2019-03-22 00:00] leouieda commented on #1329
:wave: @kbenoit @trinker thank you for agreeing to review :tada: Please head over to #1342 for the review. There are checklists of criteria for both of you. You can also leave comments on the issue with your review or ask any questions. Also feel free to open issues and make pull requests on the software repository. If you do so, please link back to the review issue by mentioning `openjournals/jos

[2019-03-22 00:00] #1329 closed

[2019-03-22 00:29] zonca commented on #1298
ok @harpolea I have released 1.12.9, I renamed the downloader script to `healpy_get_wmap_maps.sh` and install it in the package so it's in the path.

Also, I moved the tutorial to a Jupyter Notebook and now we have a mybinder, see the badge in https://github.com/healpy/healpy

how do I change the version which is attached to the release?

[2019-03-22 06:29] iljah commented on #1340
This might work well: https://help.github.com/en/articles/about-task-lists

[2019-03-22 07:38] piyueh commented on #1239
The software has an OSI approved license, sufficient documentation, clear community guidelines, and automated tests. I can successfully installed the software and run the examples to confirm the functionality. Once the concern regarding the example usage of parallel runs is resolved, I recommend accepting the paper.

Issue tracker:
* [x] [Issue #7: License issue](https://bitbucket.org/ocellarispro

[2019-03-22 08:24] mfroeling commented on #1204
FYI all help is now a nice website.

https://mfroeling.github.io/QMRITools
https://mfroeling.github.io/QMRITools/htmldoc/guide/QMRITools.html

[2019-03-22 08:57] Kevin-Mattheus-Moerman commented on #1076
@arokem I've just ticked all the boxes and recommend this work is accepted in JOSS. Thanks for the opportunity to review this interesting work.

[2019-03-22 09:47] mikaem commented on #1341
@leouieda This is a strong submission and I'm ready to sign off as it is. My only real issue, that I don't consider a blocker, is that the authors should put a little more effort into the installation. I think they would benefit greatly from using both conda-forge and pypi, and from making this code available on mac and windows, not just linux. I could build it myself on mac using conda-forge comp

[2019-03-22 10:05] mikaem commented on #1340
@rainwoodman Thank you for the feedback. The [guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) (under `What should my paper contain?`) state that we should include `key references` and `Mentions (if applicable) of any ongoing research projects using the software or recent scholarly publications enabled by it`. There seem to be no call for citations to

[2019-03-22 10:14] mikaem commented on #1340
@VivianePons Thank you for the clarifications.

@VivianePons There are already three links to the documentation from the landing cite on bitbucket. Two of these links are in the readme file.

The examples directory contains some code snippets that are not really well documented. There are plenty of examples in the documentation and we prefer to guide the users in that direction. For this reason we

[2019-03-22 10:33] iljah commented on #1340
Since links to external sites are ok to me this seems good to go.

[2019-03-22 10:45] arfon commented on #1279
@nelsonroque ☝️

[2019-03-22 10:48] whedon opened #1343 "[PRE REVIEW]: Container Tree: Software to Model Container Filesystems, Packages, and Inheritance"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/singularityhub/container-tree" target ="_blank">https://www.github.com/singularityhub/container-tree</a>
**Version:** 0.0.48
**Editor:** @brainstorm
**Reviewers:** @luizirber

**Author instructions**

Thanks for submitting your paper to JOSS @vsoch. **Cu

[2019-03-22 10:48] whedon commented on #1343
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-22 10:48] whedon commented on #1343
[code]

[2019-03-22 10:48] whedon commented on #1343
PDF failed to compile for issue #1343 with the following error:

 Can't find any papers to compile :-(

[2019-03-22 11:23] tdrozdovsky commented on #1338
@whedon generate pdf

[2019-03-22 11:23] whedon commented on #1338
[code]

[2019-03-22 11:23] whedon commented on #1338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01338/joss.01338/10.21105.joss.01338.pdf)

[2019-03-22 11:48] arfon commented on #1343
@whedon generate pdf

[2019-03-22 11:48] whedon commented on #1343
[code]

[2019-03-22 11:50] whedon commented on #1343
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01343/joss.01343/10.21105.joss.01343.pdf)

[2019-03-22 11:52] lpantano commented on #1334
@whedon check references

[2019-03-22 11:52] whedon commented on #1334
[code]

[2019-03-22 11:52] whedon commented on #1334
[code]

[2019-03-22 11:54] lpantano commented on #1334
@whedon assign @mistrm82 as reviewer

[2019-03-22 11:54] whedon commented on #1334
OK, the reviewer is @mistrm82

[2019-03-22 11:55] lpantano commented on #1334
@whedon start review

[2019-03-22 11:55] whedon opened #1344 "[REVIEW]: GUESSmyLT: Software to guess the RNA-Seq library type of paired and single end read files"
**Submitting author:** @Juke34 (<a href="http://orcid.org/0000-0002-6629-0173">Jacques Dainat</a>)
**Repository:** <a href="https://github.com/NBISweden/GUESSmyLT" target ="_blank">https://github.com/NBISweden/GUESSmyLT</a>
**Version:** v1.0
**Editor:** @lpantano
**Reviewer:** @mistrm82
**Archive:** <a href="https://doi.org/10.5281/zenodo.3268394" target="_blank">10.5281/zenodo.3268394</a>

## Sta

[2019-03-22 11:55] whedon commented on #1334
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1344. Feel free to close this issue now!

[2019-03-22 11:55] whedon commented on #1344
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mistrm82 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-22 11:55] whedon commented on #1344
[code]

[2019-03-22 11:55] #1334 closed

[2019-03-22 11:55] whedon commented on #1344
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01344/joss.01344/10.21105.joss.01344.pdf)

[2019-03-22 11:59] lpantano commented on #1344
Thanks @mistrm82 to take time to review this paper!

@Juke34, please, go over the items that the reviewer will need to check and make sure all are good to go.

I think @mistrm82 will start reviewing the paper around Next Thursday.

Cheers

[2019-03-22 12:53] harpolea commented on #1298
Great! Everything looks good to me @zonca.

@xuanxu - I have ticked off all the checkboxes and I recommend this for publication!

[2019-03-22 13:01] JoshKarpel commented on #1204
Very nice! I love Mathematica's built-in docs viewer, but having them on the web is very convenient.

[2019-03-22 13:37] Juke34 commented on #1344
Everything sounds ok except we didn't have any Community guidelines. Now is done. I have re-flagged this last version as v1.0. I took the opportunity to add acknowledgements in the paper too, and move all the paper related files into the paper dedicated folder. So, I guess we should compile the pdf again...

[2019-03-22 14:25] arfon commented on #1343
:wave: @trallard - would you be able to edit this submission?

[2019-03-22 14:26] vsoch commented on #1343
A new robot! :heart:

[2019-03-22 14:30] arfon commented on #1343
Yes! This one [isn't ours though](https://github.com/swinton/probot-ooo). @vsoch - would you be willing to wait until `@trallard` is back before moving this forward?

[2019-03-22 14:32] vsoch commented on #1343
Sure, if there isn't anyone else suitable to review, this is okay with me.

[2019-03-22 14:33] vsoch commented on #1343
Oup, @trallard has an :avocado: in her name, I'm definitely okay to wait!

[2019-03-22 14:33] slithiaote commented on #1005
Not much has evolved since my last reply to comments last month. I am unsure what the issue is. The software is written in OCaml using only the standard library, so compilation should be uneventful. I anticipate that bootstrapping may not work out-of-the-box on all systems, but I did not receive error outputs on that topic.

[2019-03-22 14:34] arfon commented on #1343
Thanks. This is mostly because lots of our editors are very busy with submissions right now.

[2019-03-22 14:35] vsoch commented on #1343
Understood! If you ever need another hand, I'm always here to offer :)

[2019-03-22 14:58] piermorel commented on #1291
Hi @ManuelaS I would like to report a few issues on your repository for some problems with the code but I can't find a way to create issues on your bitbucket repository. I will make them here for now :

- The example code on repo webpage is not fully functional : ```Error using HCP.Heatmap (line 177)
'has_feature_dendrogram' is not a recognized parameter.``` It works OK without that arg
- Is the w

[2019-03-22 15:12] lpantano commented on #1344
@whedon generate pdf

[2019-03-22 15:12] whedon commented on #1344
[code]

[2019-03-22 15:13] whedon commented on #1344
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01344/joss.01344/10.21105.joss.01344.pdf)

[2019-03-22 16:06] stevendavis commented on #1144
@whedon set doi 10.5281/zenodo.2583998

[2019-03-22 16:21] stevendavis commented on #1144
@whedon set 10.5281/zenodo.2583998 as archive

[2019-03-22 16:21] whedon commented on #1144
I'm sorry @stevendavis, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-03-22 16:22] gweissman commented on #1310
Ok, sounds good.

[2019-03-22 16:23] stevendavis commented on #1144
@mgymrek May I ask you to set the archive DOI?

[2019-03-22 16:49] betteridiot commented on #1316
Actively working on the review right now. It will be a compilation of steps, and will post the issues once it is done.

[2019-03-22 17:44] aelanman commented on #1234
@ygrange Thank you for the feedback! I want to let you know that we've been working to address your comments. Most fixes have been made so far, but we're still trying to make a good comparison with other simulation tools.

It's difficult to quantify the performance in a meaningful way. Some of these simulators are very efficient along a particular axis but not others, and I'm not sure what to use

[2019-03-22 18:07] TormodLandet commented on #1239
@labarba the accepted version (2019.0.2) has been archived on Zenodo with DOI [10.5281/zenodo.2601988](http://dx.doi.org/10.5281/zenodo.2601988)
I changed the title of the paper slightly from the submitted title, hope that is OK

[2019-03-22 18:08] leouieda commented on #1341
@mikaem thank you for your comments. Would you mind opening an issue on the software repository to address these issues? I agree that it's a non-blocker if you managed to get installed but our goal is to help improve the software through the review.

@mancellin would you like to try to fix these issues while we wait for @harpolea? I agree with @mikaem that using conda-forge is a better choice than

[2019-03-22 19:14] cr458 commented on #1296
@jgostick I've noticed quite a few missing tests. Would you like me to open separate issues for each one, or one big issue for all of them?

[2019-03-22 19:40] gkthiruvathukal commented on #1310
@gweissman I think I will just assign you as the sole reviewer for now. It seems like you can handle this paper, unless you have to start speaking an Uralic language. (I don't speak one either.)  I will be available to help, should any questions arise during review.

[2019-03-22 19:40] gkthiruvathukal commented on #1310
@whedon assign @gweissman

[2019-03-22 19:41] gkthiruvathukal commented on #1310
@whedon assign @gweissman as reviewer

[2019-03-22 19:41] whedon commented on #1310
OK, the reviewer is @gweissman

[2019-03-22 19:41] gkthiruvathukal commented on #1310
@whedon start review

[2019-03-22 19:41] whedon opened #1345 "[REVIEW]: UralicNLP: An NLP library for Uralic Languages"
**Submitting author:** @mikahama (<a href="http://orcid.org/0000-0001-9315-1278">Mika K Hämäläinen</a>)
**Repository:** <a href="https://github.com/mikahama/uralicNLP" target ="_blank">https://github.com/mikahama/uralicNLP</a>
**Version:** 1.1.1-joss
**Editor:** @gkthiruvathukal
**Reviewer:** @gweissman
**Archive:** <a href="https://doi.org/10.5281/zenodo.2668061" target="_blank">10.5281/zenodo.26

[2019-03-22 19:41] whedon commented on #1310
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1345. Feel free to close this issue now!

[2019-03-22 19:41] whedon commented on #1345
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gweissman it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-03-22 19:41] whedon commented on #1345
[code]

[2019-03-22 19:41] #1310 closed

[2019-03-22 19:41] whedon commented on #1345
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01345/joss.01345/10.21105.joss.01345.pdf)

[2019-03-22 20:22] vc1492a commented on #1336
@VivianePons My review of this software is provided below.

**Overview**: Overall, I think the authors did a great job implementing the Robust Random Cut Forest algorithm as detailed in the original paper. Below are my comments on particular sections. When the authors strictly meet the requirements laid out in the review checklist, I have marked these items as complete. For those where the require

[2019-03-22 20:42] VivianePons commented on #1336
Thank you very much @vc1492a for this thorough review, @mdbartos I let you work on the comments.

[2019-03-23 00:15] djmitche commented on #1330
@grantjenks:

I don't see these bits in the repository.  Have I missed them?

Typically (1) is handled with `CONTRIBUTORS.md` or a section in the README, and (2) and (3) are handled with GitHub issue templates.

[2019-03-23 02:49] grantjenks commented on #1330
There's a page for that at http://www.grantjenks.com/docs/sortedcontainers/development.html It's the second-to-last link under the User Guide section of the README. I think it covers 1-3.

[2019-03-23 09:26] whedon opened #1346 "[PRE REVIEW]: x11docker - Run GUI applications in Docker containers"
**Submitting author:** @mviereck (<a href="http://orcid.org/0000-0002-4532-4020">Martin Viereck</a>)
**Repository:** <a href="https://github.com/mviereck/x11docker" target ="_blank">https://github.com/mviereck/x11docker</a>
**Version:** v5.5.1
**Editor:** @arfon
**Reviewers:** @yxliang01, @sgyzetrov, @1138-4EB

**Author instructions**

Thanks for submitting your paper to JOSS @mviereck. **Currentl

[2019-03-23 09:26] whedon commented on #1346
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-23 09:26] whedon commented on #1346
[code]

[2019-03-23 09:26] whedon commented on #1346
PDF failed to compile for issue #1346 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/w

[2019-03-23 09:26] whedon opened #1347 "[PRE REVIEW]: AMReX: a framework for block-structured adaptive mesh refinement"
**Submitting author:** @asalmgren (<a href="http://orcid.org/0000-0003-2103-312X">Ann Almgren</a>)
**Repository:** <a href="https://github.com/AMReX-Codes/amrex" target ="_blank">https://github.com/AMReX-Codes/amrex</a>
**Version:** current master branch on github
**Editor:** @kyleniemeyer
**Reviewers:** @MatthewTurk, @RemiLehe , @cmsquared

**Author instructions**

Thanks for submitting your pape

[2019-03-23 09:26] whedon commented on #1347
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-23 09:26] whedon commented on #1347
[code]

[2019-03-23 09:26] whedon commented on #1347
PDF failed to compile for issue #1347 with the following error:

 Can't find any papers to compile :-(

[2019-03-23 09:28] arfon commented on #1346
@mviereck - many thanks for your submission. Please review the submission documentation https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography and format your paper metadata _exactly_ as you find it in the example.

[2019-03-23 09:28] arfon commented on #1347
@whedon generate pdf

[2019-03-23 09:28] whedon commented on #1347
[code]

[2019-03-23 09:29] arfon commented on #1347
:wave: @kyleniemeyer - the submitting author suggested you as the handling editor.

[2019-03-23 09:29] whedon commented on #1347
PDF failed to compile for issue #1347 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0002-1752-1631) for Brian Friesen (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-

[2019-03-23 09:30] arfon commented on #1347
@asalmgren - `0000-0002-1752-1631` looks to be an invalid ORCID. Please check.

[2019-03-23 09:58] mviereck commented on #1346
@arfon Thank you for looking at this!
I have reformated the header of `paper.md`, especially `authors` and `affiliations`.

[2019-03-23 11:28] justinshenk commented on #1336
@VivianePons My review of this software is provided below.

**Overview:** I think the authors did a great job implementing the Robust Random Cut Forest algorithm as a Python package. I am also looking forward to implementing this in a few of my projects. Following @vc1492a's thorough review, I have little to add, so my review will rather emphasize the points already addressed which I think are mos

[2019-03-23 12:24] jakobbossek commented on #1318
I can assist in the reviewing process even though I have no experience with Julia (so far). However, I can start to review at the earliest in mid-april.

[2019-03-23 13:06] mviereck commented on #1346
The submission of x11docker targets `reproducible science / research`. I found the following editors that might be interested in this topic:
@nuest @jsta @benmarwick  @adamhsparks @cole-rokamp @daissi  @gflofst  @seabbs @trallard  @brainstorm @mgymrek @katyhuff @pjotrp @karthik @arokem @usethedata @george-githinji

Especially I want to mention @nuest who suggested the submission in this [ticket](h

[2019-03-23 15:19] cMadan commented on #1252
@mir-am, do you plan to report the SD of accuracy in the paper, as @stefanv recommended?

@stefanv, do you have any other remaining concerns about the performance of the package? (It looks like this is the only thing in the reviewer checklist you haven't checked off yet.)

[2019-03-23 15:22] mnarayan commented on #1075
I am finished with my review.  I can't find anything more that needs to be done for publication. This package is beautiful.

[2019-03-23 15:24] cMadan commented on #1294
Most of the other JOSS submissions I've reviewed had shorter author lists and everyone was aware of their inclusion.

@openjournals/joss-eics, is there any precedence of having JOSS co-authorship be opt-out as described here?

[2019-03-23 15:38] asalmgren commented on #1347
@arfon The ORCID for Brian Friesen has been fixed.

[2019-03-23 15:46] arfon commented on #1075
Great, thanks @mnarayan.

@bbengfort - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-03-23 15:46] arfon commented on #1075
@whedon generate pdf

[2019-03-23 15:46] whedon commented on #1075
[code]

[2019-03-23 15:46] whedon commented on #1075
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01075/joss.01075/10.21105.joss.01075.pdf)

[2019-03-23 15:48] arfon commented on #1294
Not that I know of. I'd be curious to hear how you notified them @tyarkoni?

[2019-03-23 15:51] arfon commented on #1075
One quick question @bbengfort - I notice there are a lot of contributors to this package, and your paper mentions a number of core contributors yet I only see two of you listed as authors on the JOSS paper. Is this correct?

[2019-03-23 15:51] arfon commented on #1347
@whedon generate pdf

[2019-03-23 15:51] whedon commented on #1347
[code]

[2019-03-23 15:52] whedon commented on #1347
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01347/joss.01347/10.21105.joss.01347.pdf)

[2019-03-23 15:57] asalmgren commented on #1347
I have checked the proof.

[2019-03-23 16:04] tyarkoni commented on #1294
I opened [a PR](https://github.com/bids-standard/pybids/pull/395) in the repo soliciting feedback, plus we had the earlier discussion related to the Zenodo DOI @effigies linked to above. I could have sworn I explicitly mentioned authorship, but reading the various issues and PRs over, it appears not. Sorry about that!

Happy to raise the issue more explicitly, and will tag everyone by name this ti

[2019-03-23 16:18] tyarkoni commented on #1294
Okay, see the request [here](https://github.com/bids-standard/pybids/pull/395#issuecomment-475882753). I haven't indicated exactly what we'll take a non-response to mean, in the hopes of pushing people to respond, but let's see what happens.

[2019-03-23 16:35] mnarayan commented on #1169
@maximtrp I can see a lot of code improvements, you are almost there!
My only sticking points are related to clarifying the functionality and description of what this package offers. Even the PMCMRplus package that is the inspiration for yours is a bit opaque. This shouldn't take you too long however.

[2019-03-23 16:50] yxliang01 commented on #1346
Hello @mviereck and all, I am happy to review the paper. May I know where I can find the compiled PDF of the submission?

[2019-03-23 16:58] mviereck commented on #1346
@whedon generate pdf

[2019-03-23 16:58] whedon commented on #1346
[code]

[2019-03-23 16:58] whedon commented on #1346
PDF failed to compile for issue #1346 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    263      0 --:--:-- --:--:-- --:--:--   265
Error reading bib

[2019-03-23 17:03] mviereck commented on #1346
@whedon generate pdf

[2019-03-23 17:03] whedon commented on #1346
[code]

[2019-03-23 17:03] whedon commented on #1346
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01346/joss.01346/10.21105.joss.01346.pdf)

[2019-03-23 17:05] mir-am commented on #1252
Yes. As of writing this, I am conducting experiments to report the SD of accuracies.
I will report the results in the paper as soon as all the experiments are finished.
I will have it done within a few days.

[2019-03-23 17:13] mviereck commented on #1346
Hello @yxliang01 !

Much thanks that you want to look at this.
The PDF generation succeeded: https://github.com/openjournals/joss-papers/blob/joss.01346/joss.01346/10.21105.joss.01346.pdf
However, here the PDF is readable in browser only, it does not open locally if I download it.

[2019-03-23 17:57] CameronDevine commented on #1326
@Amudtogal Looking through the repository I didn't find any tests or other ways to check if the software is operating correctly (See *Automated tests* section of the checklist above).

I also opened an issue (dfki-ric/phobos#179) about some issues in the Wiki.

[2019-03-23 19:59] labarba commented on #1239
@whedon set 10.5281/zenodo.2601988 as archive

[2019-03-23 19:59] whedon commented on #1239
OK. <a href="https://doi.org/10.5281/zenodo.2601988" target="_blank">10.5281/zenodo.2601988</a> is the archive.

[2019-03-23 20:02] labarba commented on #1239
@piyueh You've left one item of the review list unchecked. Are you ready to check that off?

[2019-03-23 20:02] labarba commented on #1239
@whedon generate pdf

[2019-03-23 20:02] whedon commented on #1239
[code]

[2019-03-23 20:02] whedon commented on #1239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01239/joss.01239/10.21105.joss.01239.pdf)

[2019-03-23 20:13] labarba commented on #1239
@whedon accept

[2019-03-23 20:13] whedon commented on #1239
[code]

[2019-03-23 20:13] whedon commented on #1239
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/574

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/574, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-23 20:14] whedon commented on #1239
[code]

[2019-03-23 20:14] labarba commented on #1239
@whedon set v2019.0.2 as version

[2019-03-23 20:14] whedon commented on #1239
OK. v2019.0.2 is the version.

[2019-03-23 20:15] labarba commented on #1239
@TormodLandet — We're ready to publish your paper. Please give the proof one last check and confirm here that you approve the proof (if you feel like it, you could hyphenate your compound adjectives in several places).

[2019-03-23 20:19] piyueh commented on #1239
Done.

[2019-03-23 20:59] mdbartos commented on #1336
Hi @vc1492a and @justinshenk, thanks for the excellent reviews! I will get to work on these issues as soon as possible.

[2019-03-23 21:11] bbengfort commented on #1075
@mnarayan thank you so much for the review and the compliment!

@arfon we're really excited about this publication! The DOI of the official Yellowbrick archive (with all versions) is [10.5281/zenodo.1488364](https://zenodo.org/record/1488364). As for your question about the authors - @rebeccabilbro and I are the primary authors of Yellowbrick and the maintainers. After discussing with our other co

[2019-03-23 22:02] djmitche commented on #1330
Indeed, I did miss that.  That definitely covers (1), but not so much (2) and (3).  It's probably a tiny thing, but just an indication that both support requests and bug reports are welcome on the github repo would be enough.

[2019-03-23 22:17] djmitche commented on #1330
(that's the last bit before I can check all the boxes..)

[2019-03-23 22:28] rebeccabilbro commented on #1075
Thank you so much @mnarayan for your review &mdash; we are excited to get the word out about visual diagnostics for model selection via JOSS!! Sincere thanks also to @arfon for shepherding our paper through the process; we are deeply grateful to you both for volunteering your time and energies to this important work!

[2019-03-23 22:41] yochannah commented on #1285
quick ping - @alexhanna, do you think you might have a chance to look at this soon?

[2019-03-23 22:42] yochannah commented on #1044
@mbod,  @andytwoods, do you think you might be able to revisit this? Thanks!!!

[2019-03-23 22:43] yochannah commented on #1005
👋 @adammichaelwood, @tpetricek - would y'all have a chance to revisit this soon & let us know where things are? Thanks!!

[2019-03-23 22:45] yochannah commented on #1005
@whedon commands

[2019-03-23 22:45] whedon commented on #1005
Here are some things you can ask me to do:

[code]

[2019-03-23 22:47] yochannah commented on #1005
/ooo today until april 1

[2019-03-24 01:35] jgostick commented on #1296
@cr458 One issue is fine.  The code coverage is ~90%

[2019-03-24 02:37] chris-prener commented on #1221
We would like to thank both @edzer and @sjsrey as well as @lheagy for the feedback and the opportunity to revise both the software and the manuscript. We believe that the manuscript has been greatly strengthened as a result of your collective feedback and are excited to resubmit it for your review. @lheagy, if there is a better way to embed tables and to handle the appendix file we've created (ava

[2019-03-24 09:04] hainesr commented on #1338
Hi @omoliavko, I had some issues building this project with my setup. I have JDK 11 as my default java, but setting `$JAVA_HOME` to point to JDK 8 didn't have any effect. I have submitted a pull request (Samsung/uJVM#79) to fix this.

[2019-03-24 10:07] arfon commented on #1346
@whedon add @mviereck as reviewer

[2019-03-24 10:08] arfon commented on #1346
@whedon assign @arfon as editor

[2019-03-24 10:08] whedon commented on #1346
OK, the editor is @arfon

[2019-03-24 10:08] arfon commented on #1346
@whedon add @yxliang01 as reviewer

[2019-03-24 10:08] whedon commented on #1346
OK, @yxliang01 is now a reviewer

[2019-03-24 10:08] arfon commented on #1346
@whedon assign @yxliang01 as reviewer

[2019-03-24 10:08] whedon commented on #1346
OK, the reviewer is @yxliang01

[2019-03-24 10:11] arfon commented on #1346
@yxliang01 - thanks for agreeing to review this submission. As @mviereck mentioned, the paper is available [here](https://github.com/openjournals/joss-papers/blob/joss.01346/joss.01346/10.21105.joss.01346.pdf). You can view it in the browser, or download it to open locally (which works fine for me).

Before we get started with the review though, I wanted to do a few editorial checks so please don'

[2019-03-24 10:14] arfon commented on #1075
@whedon set 10.5281/zenodo.1488364 as archive

[2019-03-24 10:15] whedon commented on #1075
OK. <a href="https://doi.org/10.5281/zenodo.1488364" target="_blank">10.5281/zenodo.1488364</a> is the archive.

[2019-03-24 10:15] arfon commented on #1075
@whedon accept

[2019-03-24 10:15] whedon commented on #1075
[code]

[2019-03-24 10:18] whedon commented on #1075
PDF failed to compile for issue #1075 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1075 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-03-24 10:19] arfon commented on #1075
@whedon accept

[2019-03-24 10:19] whedon commented on #1075
[code]

[2019-03-24 10:19] carterenyi commented on #1094
@Kevin-Mattheus-Moerman, @ybayle,

Manual steps are provided to verify functionality of the Pattern
Recognition and Visualization (with the csv output and arc diagram),
neither of which will be correct without the data preparation working. Is
that satisfactory?

I'll fix the minor typos.

On Wed, Mar 20, 2019 at 3:23 PM Yann Bayle <notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-03-24 10:20] whedon commented on #1075
[code]

[2019-03-24 10:20] whedon commented on #1075
PDF failed to compile for issue #1075 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1075 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-03-24 10:22] arfon commented on #1075
@bbengfort @rebeccabilbro - could you see if that DOI suggested by Whedon is the correct one for your references? If so, please add it to the bibtex.

[2019-03-24 10:22] whedon commented on #1075
[code]

[2019-03-24 10:45] cgravill commented on #1214
I'd tag @tpetricek but I fear we'd have a cycle going then! :-) I'll try asking around.

[2019-03-24 10:47] bbengfort commented on #1075
@arfon could we update our archive DOI to 10.5281/zenodo.1206239 please? This will resolve to the latest version of Yellowbrick, whereas the DOI I supplied before will only resolve to v0.9.

The DOI for the Interactive Optimization paper is correct, I'm updating the bibtex now!

[2019-03-24 10:56] bbengfort commented on #1075
@arfon the bibtex has been updated in the Yellowbrick repo.

[2019-03-24 11:42] arfon commented on #1075
@whedon set 10.5281/zenodo.1206239 as archive

[2019-03-24 11:42] whedon commented on #1075
OK. <a href="https://doi.org/10.5281/zenodo.1206239" target="_blank">10.5281/zenodo.1206239</a> is the archive.

[2019-03-24 11:43] arfon commented on #1075
@whedon check references

[2019-03-24 11:43] whedon commented on #1075
[code]

[2019-03-24 11:45] whedon commented on #1075
[code]

[2019-03-24 11:45] arfon commented on #1075
@whedon generate pdf

[2019-03-24 11:45] whedon commented on #1075
[code]

[2019-03-24 11:46] whedon commented on #1075
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01075/joss.01075/10.21105.joss.01075.pdf)

[2019-03-24 14:40] whedon opened #1348 "[PRE REVIEW]: pyCeterisParibus: explaining Machine Learning models with Ceteris Paribus Profiles in Python"
**Submitting author:** @kmichael08 (<a href="http://orcid.org/0000-0002-9181-0126">Michał Kuźba</a>)
**Repository:** <a href="https://github.com/ModelOriented/pyCeterisParibus" target ="_blank">https://github.com/ModelOriented/pyCeterisParibus</a>
**Version:** v0.5
**Editor:** @katyhuff
**Reviewers:** janfreyberg, justinshenk

**Author instructions**

Thanks for submitting your paper to JOSS @kmic

[2019-03-24 14:40] whedon commented on #1348
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-24 14:40] whedon commented on #1348
[code]

[2019-03-24 14:40] whedon commented on #1348
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01348/joss.01348/10.21105.joss.01348.pdf)

[2019-03-24 14:42] arfon commented on #1075
@mnarayan - many thanks for your review here ✨

@bbengfort @rebeccabilbro - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-24 14:42] #1075 closed

[2019-03-24 14:42] whedon commented on #1075
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01075/status.svg)](https://doi.org/10.21105/joss.01075)

**We need your help!**

Journal of Open Source Softwar

[2019-03-24 15:51] malmaud commented on #1318
I can't commit to a full review at this time. If, however, one of the other reviewers has a specific Julia-related technical question they encounter in the course of their review, I'd be happy to answer.

[2019-03-24 15:52] yxliang01 commented on #1346
@arfon Okay, I will wait until that.

[2019-03-24 16:34] sgyzetrov commented on #1346
Thanks for the invite, I am interested in this work and have some free time. Glad to help.

[2019-03-24 16:37] mviereck commented on #1346
@sgyzetrov Thank you!

[2019-03-24 17:00] ianwilliamson commented on #1333
Hi, this is a neat concept for reviewing! This package looks very interesting but unfortunately I don't have time to review this right now.

[2019-03-24 17:18] 1138-4EB commented on #1346
Sure. @arfon, please let us know when can we submit a review.

[2019-03-24 17:24] cMadan commented on #1308
@jg-you @count0 @antoineallard--Hi, would you be interested/available to review this project for publication in JOSS? Thank you for considering!

[2019-03-24 17:26] cMadan commented on #1313
@andrewheiss, do you know when you'll be able to begin the review? Thanks!

[2019-03-24 17:57] brandondube commented on #1339
@whedon generate pdf

[2019-03-24 17:57] whedon commented on #1339
[code]

[2019-03-24 17:58] whedon commented on #1339
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01339/joss.01339/10.21105.joss.01339.pdf)

[2019-03-24 18:40] xuanxu commented on #1298
Great! Thanks @harpolea!
@zonca: I will set the version to 1.12.9. Can you create an archive in [zenodo](https://zenodo.org)/[figshare](https://figshare.com/)/other and report an DOI here?

[2019-03-24 18:41] xuanxu commented on #1298
@whedon set v1.12.9 as version

[2019-03-24 18:41] whedon commented on #1298
OK. v1.12.9 is the version.

[2019-03-24 18:45] xuanxu commented on #1298
@whedon generate pdf

[2019-03-24 18:46] whedon commented on #1298
[code]

[2019-03-24 18:46] whedon commented on #1298
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01298/joss.01298/10.21105.joss.01298.pdf)

[2019-03-24 22:02] kmichael08 commented on #1348
@whedon commands

[2019-03-24 22:02] whedon commented on #1348
Here are some things you can ask me to do:

[code]

[2019-03-25 08:09] tdrozdovsky commented on #1338
Great job! I've merged your pull request. We will add a description "how to set JAVA_HOME for Java "

[2019-03-25 09:15] mikaem commented on #1341
@leouieda just opened an [issue](https://github.com/mancellin/capytaine/issues/11) with a suggestion for recipe. @mancellin needs to take it from there.

[2019-03-25 09:38] RomainAzais commented on #1332
I didn't answer last week but the article proof is correct.

[2019-03-25 10:15] NelleV commented on #1286
For information, point n3 is now also fixed. The link was pointing to the wrong bug tracker…

I hope this is now good to go. Let me know if I need to do anything else!

[2019-03-25 10:25] mancellin commented on #1341
Yes, I agree that the distribution of the package should be improved.

I had not considered conda-forge, I will try it. Thank you @mikaem for the links and the recipe!

[2019-03-25 10:50] mviereck commented on #1346
@1138-4EB Thanks for your suggestions!

fixed.

fixed, changed to `@rechert_preserving_2017`. Maybe @nuest can confirm that he means this one.

I think this is still true. The script you've linked mainly checks for kernel configuration. My system misses e.g. `apparmor` and `zfs`, but they are not essential for Docker to work.
Core x11docker functionality depends on tools that are quite common.

x1

[2019-03-25 11:12] tdrozdovsky commented on #1338
@whedon generate pdf

[2019-03-25 11:12] whedon commented on #1338
[code]

[2019-03-25 11:12] whedon commented on #1338
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01338/joss.01338/10.21105.joss.01338.pdf)

[2019-03-25 11:26] mviereck commented on #1346
@whedon generate pdf

[2019-03-25 11:26] whedon commented on #1346
[code]

[2019-03-25 11:27] whedon commented on #1346
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01346/joss.01346/10.21105.joss.01346.pdf)

[2019-03-25 11:37] Kevin-Mattheus-Moerman commented on #1333
@mrava87

Yes

[2019-03-25 11:38] Kevin-Mattheus-Moerman commented on #1333
@ianwilliamson thanks for your reply. Let me know if you know if any other suitable reviewers.

[2019-03-25 11:38] Kevin-Mattheus-Moerman commented on #1333
@celliern are there any reviewers you wish to suggest at this point?

[2019-03-25 11:58] lpantano commented on #1299
@whedon check references

[2019-03-25 11:58] whedon commented on #1299
[code]

[2019-03-25 11:58] whedon commented on #1299
[code]

[2019-03-25 12:21] celliern commented on #1333
I may suggest Antonino Ingargiola (@tritemio), if not too busy to make that review.

[2019-03-25 12:39] gflofst commented on #1346
@whedon add @gflofst as reviewer

[2019-03-25 12:40] whedon commented on #1346
I'm sorry @gflofst, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-03-25 12:41] gflofst commented on #1346
@arfon add @gflofst as reviewer

[2019-03-25 13:41] 1138-4EB commented on #1346
The point is that some GUI apps can be executed on some systems where docker cannot be installed. In this context, docker does not reduce the requirements, but rather increases them. So, this is not an issue with x11docker itself, but with that fact that running the docker daemon is not trivial. **I think it can be solved just by replacing 'reduced' with 'minimal'**, e.g.: *'(...) dependency packa

[2019-03-25 14:20] arfon commented on #1346
@whedon generate pdf

[2019-03-25 14:20] whedon commented on #1346
[code]

[2019-03-25 14:20] whedon commented on #1346
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01346/joss.01346/10.21105.joss.01346.pdf)

[2019-03-25 14:22] arfon commented on #1346
@whedon add @sgyzetrov as reviewer

[2019-03-25 14:22] whedon commented on #1346
OK, @sgyzetrov is now a reviewer

[2019-03-25 14:24] arfon commented on #1346
@whedon add @1138-4EB as reviewer

[2019-03-25 14:24] whedon commented on #1346
OK, @1138-4EB is now a reviewer

[2019-03-25 14:25] arfon commented on #1346
Thanks for all of the interest & activity around this submission already. Let's move this forward to the main review.

[2019-03-25 14:25] arfon commented on #1346
@whedon start review

[2019-03-25 14:25] whedon opened #1349 "[REVIEW]: x11docker - Run GUI applications in Docker containers"
**Submitting author:** @mviereck (<a href="http://orcid.org/0000-0002-4532-4020">Martin Viereck</a>)
**Repository:** <a href="https://github.com/mviereck/x11docker" target ="_blank">https://github.com/mviereck/x11docker</a>
**Version:** v5.6.0
**Editor:** @arfon
**Reviewer:** @yxliang01, @sgyzetrov, @1138-4EB
**Archive:** <a href="https://doi.org/10.5281/zenodo.2658749" target="_blank">10.5281/zen

[2019-03-25 14:25] whedon commented on #1349
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yxliang01, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-03-25 14:25] whedon commented on #1349
[code]

[2019-03-25 14:25] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-03-25 14:26] arfon commented on #1346
@yxliang01, @sgyzetrov, @1138-4EB - many thanks for agreeing to review this submission. Please head over to #1349 where the actual review will take place.

@gflofst - thanks for your interest in reviewing this submission. I've decided to go ahead with the first three volunteers here.

[2019-03-25 14:26] #1346 closed

[2019-03-25 14:27] arfon commented on #1349
@yxliang01, @sgyzetrov, @1138-4EB - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-03-25 14:49] edifice1989 commented on #1255
Hi Melissa,

    Please advise if there is any other issues need to be fixed!

    Thanks a lot!!

Best,
Ming

On Tue, Mar 19, 2019 at 11:32 AM Mingze He <edifice1989@gmail.com> wrote:

[2019-03-25 15:28] arokem commented on #1076
@whedon generate pdf

[2019-03-25 15:28] whedon commented on #1076
[code]

[2019-03-25 15:29] annoviko commented on #1230
Hello, @poulson, this is a kindly reminder related to this review.

[2019-03-25 15:29] whedon commented on #1076
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01076/joss.01076/10.21105.joss.01076.pdf)

[2019-03-25 15:32] arokem commented on #1076
@Kevin-Mattheus-Moerman : thanks for reviewing!

@ailiop : your paper is ready to be accepted. Could you please make an archive of the accepted version of the software (e.g., using [zenodo](https://zenodo.org)) and post the DOI here? Once I register the archive for your software we will be able to do the final checks with the EIC to accept your paper.

[2019-03-25 15:34] arokem commented on #1172
Thanks @brainstorm !

@casteer : any progress on your review?

[2019-03-25 15:34] poulson commented on #1230
@adavidzh @annoviko Thank you both for the pings. I am back from international travel now and am taking a look.

[2019-03-25 15:34] arokem commented on #1295
@snastase : have you had a chance to take a look?

[2019-03-25 15:35] poulson commented on #1230
@adavidzh Are you recommending the article for publication?

[2019-03-25 15:44] mir-am commented on #1252
@cMadan @stefanv
We carefully revised the paper for including the new experiments (as requested by the reviewer).

Modifications to the paper are as follows:

- A new section “Numerical experiments” was created to analyze the performance of LightTwinSVM and scikit-learn’s SVM.
- To add the standard deviation to all accuracies in Table 1, we conducted experiments again for both classifiers. However

[2019-03-25 15:45] mir-am commented on #1252
@whedon generate pdf

[2019-03-25 15:45] whedon commented on #1252
[code]

[2019-03-25 15:45] sgyzetrov commented on #1349
@whedon check references

[2019-03-25 15:45] whedon commented on #1349
[code]

[2019-03-25 15:45] whedon commented on #1349
[code]

[2019-03-25 15:45] whedon commented on #1252
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01252/joss.01252/10.21105.joss.01252.pdf)

[2019-03-25 15:49] lbenet commented on #1043
@whedon generate pdf from branch joss-pdfs

[2019-03-25 15:49] whedon commented on #1043
[code]

[2019-03-25 15:50] mgymrek commented on #1144
@whedon set 10.5281/zenodo.2583998 as archive

[2019-03-25 15:50] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-25 15:50] whedon commented on #1144
OK. <a href="https://doi.org/10.5281/zenodo.2583998" target="_blank">10.5281/zenodo.2583998</a> is the archive.

[2019-03-25 15:51] mgymrek commented on #1256
hi @timClicks I just wanted to ping you about the review. I see you've started the checklist.

[2019-03-25 15:57] mgymrek commented on #1255
Thanks @byandell for the review.

@edifice1989 I just have minor comments that should be addressed:
* The README.md file should be more informative, with at the very least a description of what the software does, install instructions (which are there already), and basic usage.
* For the paper, we require a statement of need. Could you add a brief description of how this fulfills a need not met by

[2019-03-25 15:59] lbenet commented on #1043
@jedbrown We have just addressed [your comments](https://github.com/openjournals/joss-reviews/issues/1043#issuecomment-472541537) on the content. The pdf looks ok to me. I am waiting for the green lights of travis to merge to master. Is there something else to be done?

[2019-03-25 16:03] grabear commented on #1299
:smile:

[2019-03-25 16:12] jg-you commented on #1308
I've never done software reviews before, and I am busy with a few other reviews ATM, so I will probably be slow.

If these are not serious issues, then sure I'll be happy to review `webweb`!
Otherwise, I'll have to pass.

[2019-03-25 16:16] yxliang01 commented on #1349
Noted. Currently, I would schedule starting review on Wednesday.

[2019-03-25 16:44] zonca commented on #1298
@whedon generate pdf

[2019-03-25 16:44] whedon commented on #1298
[code]

[2019-03-25 16:45] whedon commented on #1298
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01298/joss.01298/10.21105.joss.01298.pdf)

[2019-03-25 17:00] oxinabox commented on #1013
@whedon generate pdf

[2019-03-25 17:00] whedon commented on #1013
[code]

[2019-03-25 17:01] whedon commented on #1013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01013/joss.01013/10.21105.joss.01013.pdf)

[2019-03-25 17:18] oxinabox commented on #1013
@whedon generate pdf

[2019-03-25 17:18] whedon commented on #1013
[code]

[2019-03-25 17:18] whedon commented on #1013
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01013/joss.01013/10.21105.joss.01013.pdf)

[2019-03-25 17:20] mviereck commented on #1349
Thanks at all of you for your interest and help!

I've opened a ticket for discussion of `paper.md` here: https://github.com/mviereck/x11docker/issues/137
Feel free to open [further tickets ](https://github.com/mviereck/x11docker/issues) for each point to discuss.

[2019-03-25 17:30] stefanv commented on #1252
I'm happy with the paper and the new updates; thanks!

[2019-03-25 17:31] 1138-4EB commented on #1349
I have finished reviewing the checklist. There are three items which I'd like to explain:

See https://github.com/openjournals/joss-reviews/issues/1346#issuecomment-475979876

Dependencies are clearly-stated, and there are plenty of info messages to tell the user when some are missing. There is no explicit list, tho. I.e., the user must check how a specific package is installed in a host. Nonethel

[2019-03-25 17:43] adavidzh commented on #1230
Yes.

[2019-03-25 17:58] betteridiot commented on #1316
Please check https://github.com/rrwick/Badread/issues/2 for my review process notes.

The minor issues raised were:
* https://github.com/rrwick/Badread/issues/3: Prompting users to update `build-essentials`
* https://github.com/rrwick/Badread/issues/1: Add community/contributions guidelines
* https://github.com/rrwick/Badread/issues/4: Change installation invocation within `Install` section of REA

[2019-03-25 17:59] betteridiot commented on #1316
Once these *minor* issues are addressed, I would be more than happy to check the remaining boxes and give my support for publication.

[2019-03-25 18:07] lbenet commented on #1043
I just merged https://github.com/JuliaDiff/TaylorSeries.jl/pull/202

[2019-03-25 18:42] mviereck commented on #1349
I have added some notes about issues, contributing and support in README.md: https://github.com/mviereck/x11docker#contact

[2019-03-25 18:45] zonca commented on #1298
@whedon generate pdf

[2019-03-25 18:45] whedon commented on #1298
[code]

[2019-03-25 18:45] whedon commented on #1298
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01298/joss.01298/10.21105.joss.01298.pdf)

[2019-03-25 19:25] 1138-4EB commented on #1349
Review updated accordingly.

[2019-03-25 19:40] stevendavis commented on #1144
For some reason, the paper is still tagged "DOI pending".  What am I doing wrong?

[2019-03-25 19:49] ailiop commented on #1076
@arokem : I have just made a new release (v1.0.3).  The version-specific Zenodo archive DOI is 10.5281/zenodo.2605532.  (In case you need it, the version-less DOI which always points to the latest version is 10.5281/zenodo.1476601.)  Thank you for all your help!

@Kevin-Mattheus-Moerman : Thank you once again for your effort in reviewing this work!

[2019-03-25 20:07] zonca commented on #1298
thanks @harpolea and @xuanxu, see http://doi.org/10.5281/zenodo.2605426

[2019-03-25 20:07] poulson commented on #1230
@whedon generate pdf

[2019-03-25 20:07] whedon commented on #1230
[code]

[2019-03-25 20:08] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-25 20:08] poulson commented on #1230
@whedon check references

[2019-03-25 20:08] whedon commented on #1230
[code]

[2019-03-25 20:09] whedon commented on #1230
[code]

[2019-03-25 20:12] poulson commented on #1230
@annoviko, would you mind handling and/or explaining the five missing DOIs?

[2019-03-25 20:15] annoviko commented on #1230
@poulson , yes, I am already working on it.

[2019-03-25 20:25] poulson commented on #1230
@annoviko Would you mind clarifying that the C++ parallelism is based upon `std::thread` (as evidenced by https://github.com/annoviko/pyclustering/blob/master/ccore/src/parallel/parallel.hpp) and, in addition, perform a thorough editing pass on the Intro and Summary sections? I could point out specific instances if you would prefer, but the issues are somewhat pervasive.

[2019-03-25 20:33] annoviko commented on #1230
@whedon check references

[2019-03-25 20:33] whedon commented on #1230
[code]

[2019-03-25 20:38] asalmgren commented on #1347
@whedon I approve the proof

[2019-03-25 20:43] oxinabox commented on #1013
Done

[2019-03-25 20:44] annoviko commented on #1230
@whedon check references

[2019-03-25 20:44] whedon commented on #1230
[code]

[2019-03-25 20:47] karthik commented on #1194
@hbodory Can you please update the thread when you have added some tests?

[2019-03-25 20:49] annoviko commented on #1230
@poulson, I have added missing DOIs, but I don't know what to do with book 'The design and analysis of spatial data structures'. Looks like there is no DOI for this book, I have checked book itself and https://dl.acm.org/citation.cfm?id=77589, but still the same:
[code]
I have tried to check references after update and looks like **whedon** has troubles with reference checking - there is no any ou

[2019-03-25 20:50] karthik commented on #1307
👋 @nanxstats would you be able to review this submission for us? 🙏

[2019-03-25 21:03] adavidzh commented on #1230
Perhaps [this](https://doi.org/10.1016/0098-3004(91)90117-V) can help?

[2019-03-25 22:44] pjotrp commented on #1287
@whedon accept

[2019-03-25 22:44] whedon commented on #1287
[code]

[2019-03-25 22:44] whedon commented on #1287
[code]

[2019-03-25 22:45] whedon commented on #1287
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/575

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/575, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-25 22:46] pjotrp commented on #1287
ping eic @openjournals/joss-eics

[2019-03-25 22:47] pjotrp commented on #1269
How are you @avhoeck?

[2019-03-25 22:50] pjotrp commented on #1201
@dleehr are you OK?

[2019-03-26 01:37] dleehr commented on #1201
Yes. In the middle of an edit today. Will be updating tomorrow.

[2019-03-26 05:44] mdbartos commented on #1336
@whedon set 0.3 as version

[2019-03-26 05:44] whedon commented on #1336
I'm sorry @mdbartos, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-03-26 06:01] mdbartos commented on #1336
Greetings,

@vc1492a and @justinshenk: Thank you again for the extremely relevant and constructive feedback. It would not be an exaggeration to say that this is one of the most helpful reviews I have received on an academic paper :)

A point-by-point summary of changes is listed below:

### License
- We have added the MIT license badge to the README header.

### Functionality
- @vc1492a's pull req

[2019-03-26 06:05] mdbartos commented on #1336
@VivianePons : Would it be possible to change the version to **0.3**? I tried to do this using whedon but was denied.

Also, would it be possible to change the description on JOSS to:

- rrcf is a Python implementation of the Robust Random Cut Forest algorithm: an unsupervised ensemble method for anomaly detection on streaming data

Thank you!
MDB

[2019-03-26 06:25] arfon commented on #1287
@whedon accept deposit=true

[2019-03-26 06:25] whedon commented on #1287
[code]

[2019-03-26 06:26] whedon commented on #1287
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/576
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01287](https://doi.org/10.21105/joss.01287)
2. If everything looks go

[2019-03-26 06:26] arfon commented on #1144
@whedon accept

[2019-03-26 06:26] whedon commented on #1144
[code]

[2019-03-26 06:27] whedon commented on #1144
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/577

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/577, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-26 06:27] whedon commented on #1144
[code]

[2019-03-26 06:28] arfon commented on #1144
@whedon accept deposit=true

[2019-03-26 06:28] whedon commented on #1144
[code]

[2019-03-26 06:29] whedon commented on #1144
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/578
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01144](https://doi.org/10.21105/joss.01144)
2. If everything looks go

[2019-03-26 06:29] arfon commented on #1287
@agisga - many thanks for your review and to @pjotrp for editing this submission ✨

@stablemarkets - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-26 06:29] #1287 closed

[2019-03-26 06:29] whedon commented on #1287
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01287/status.svg)](https://doi.org/10.21105/joss.01287)

**We need your help!**

Journal of Open Source Softwar

[2019-03-26 06:30] arfon commented on #1144
@richyanicky - many thanks for your review and to @mgymrek for editing this submission ✨

@stevendavis - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-26 06:30] #1144 closed

[2019-03-26 06:30] whedon commented on #1144
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01144/status.svg)](https://doi.org/10.21105/joss.01144)

**We need your help!**

Journal of Open Source Softwar

[2019-03-26 08:16] robinweide commented on #1286
@pjotrp yes. However, since I'm already a user of HiC-pro -and thus iced- for a long time, I do strongly urge you to find a second reviewer. He/she could verify if all (installation/basic operation) is clear for a novice (Hi-C)user.

[2019-03-26 10:05] avhoeck commented on #1269
This is a nice package that builds on functionalities from previous work developed by the publishing author. Overall, this submission fulfills all requirements as stated by https://joss.readthedocs.io/en/latest/review_criteria.html and I'm ready to sign off as it is.

Some minor changes that could improve the submission:

Previous work focusing on etiologic heterogeneity that has been published by

[2019-03-26 12:46] stevendavis commented on #1144
@richyanicky @mgymrek @arfon Awesome! Thank you everyone for the comments and suggestions and for keeping my first JOSS submission running along smoothly.

[2019-03-26 13:02] Amudtogal commented on #1326
@CameronDevine I will fix the issues in the wiki soon. Sorry for the delay, I had some issues with my computer...

The issue with tests for Phobos has been discussed for a long time. Setting up tests for a Blender addon is a cumbersome process (see https://github.com/dfki-ric/phobos/issues/121). For now, we decided that the additional effort maintaining a CI environment for Phobos is not really wo

[2019-03-26 15:03] nanxstats commented on #1307
Hi @karthik -thanks for the invitation, but to be honest, I'm not really familiar with phylogenetics or evolution biology, so probably not the best candidate for this review. Sorry!

[2019-03-26 15:31] vc1492a commented on #1336
@mdbartos thanks for the reply and for integrating my pull request! @VivianePons I have reviewed the changed @mdbartos put in place - they look great and I've updated the review checklist to reflect the latest status. Please let me know if there's anything else I can take care of as part of the review process. Thanks!

[2019-03-26 15:38] ailiop commented on #1076
@arokem : I just realized that I had forgotten to update the release version tag to v1.0.3 in the `codemeta.json` metadata.  I am sorry I did not notice that yesterday before archiving the release.  Should I delete and re-create the release to make sure the JSON metadata are consistent with it before you run through the final checks you mentioned?

[2019-03-26 16:07] karthik commented on #1307
No worries @nanxstats and thanks for the fast response.

[2019-03-26 16:07] karthik commented on #1307
@shaunpwilkinson Would you be able to review this submission for us? 🙏

[2019-03-26 16:15] dleehr commented on #1201
Hey @pjotrp, I revised the intro paragraph to move some information up and state the case more clearly to a general audience.

I registered a new DOI at Zenodo: 10.5281/zenodo.2609163, since the auto-generated github submission did not allow any edits (e.g. to correct the author list)

[2019-03-26 16:45] kmichael08 commented on #1348
@whedon list editors

[2019-03-26 16:45] whedon commented on #1348
Current editors:

[code]

[2019-03-26 17:06] grantjenks commented on #1330
@djmitche I have updated the docs at [Development and Support](http://www.grantjenks.com/docs/sortedcontainers/development.html) to cover (2) and (3).

There's two new sections at the top of the page: "Reporting Issues" and "Support". I've also tried to make it a bit more discoverable by updating the README's Documentation section with a Community Guide heading that links to "Development and Suppo

[2019-03-26 17:16] mviereck commented on #1349
@whedon generate pdf

[2019-03-26 17:16] whedon commented on #1349
[code]

[2019-03-26 17:17] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-03-26 17:20] mviereck commented on #1349
I've made some careful adjustments in `paper.md`. ([diff](https://github.com/mviereck/x11docker/commit/8f1cc6e4d56db754fe508661acdb643e4fe9ad65))

[2019-03-26 17:26] stenskjaer commented on #941
Sorry for the wait!

- The Zenodo version is at https://zenodo.org/record/2609228 (DOI: 10.5281/zenodo.2609228)
- The version is 0.5.6.

[2019-03-26 17:29] poulson commented on #1230
Hi @annoviko; I don't mind being more specific at all. Several sections jumped out to me.

For example, there are multiple details worth discussing about the first sentence of the Introduction:

First, on a grammatical level:
* "such as cluster analysis, machine learning" should perhaps be "cluster analysis and machine learning".
* A colon would be preferred when listing three or more items, i.e.,

[2019-03-26 17:34] poulson commented on #1230
For the second sentence:

On a grammatical level:
* "extract patterns, clusters, internal structures" should be "extract patterns, clusters, and internal structures" (with a colon perhaps being preferable).

In terms of the sentence's content:
* 'patterns' and 'internal structures' seems a bit vague and redundant. I would recommend more specific examples.

[2019-03-26 17:58] CameronDevine commented on #1326
@Amudtogal I don't think tests are absolutely necessary. However, I do think it wouldn't be too hard to add in a limited number of tests. For example, `calculateBoxInertia`, `writeURDFGeometry`, and similar functions could be tested without installing blender in a test environment.

[2019-03-26 18:01] gkthiruvathukal commented on #1326
I agree with @CameronDevine. In software engineering, we often refer to these tests as model tests. That is, the part of your code that perhaps isn't entangled with the user interface. If there are patterns being used (e.g. Model-View-Controller) you might be able to focus on the model part. The methods @CameronDevine showed strongly suggest this possibility as the code is independent of Blender p

[2019-03-26 18:23] sgyzetrov commented on #1349
I'm almost finished reviewing the software (and software documentation) part and going to start the paper itself soon. For the software (and software documentation) part, I have raised a few issues in [mviereck/x11docker#137](https://github.com/mviereck/x11docker/issues/137)

[2019-03-26 18:26] VivianePons commented on #1336
@whedon set 0.3 as version

[2019-03-26 18:26] whedon commented on #1336
OK. 0.3 is the version.

[2019-03-26 18:29] VivianePons commented on #1336
@whedon generate pdf

[2019-03-26 18:29] whedon commented on #1336
[code]

[2019-03-26 18:30] whedon commented on #1336
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01336/joss.01336/10.21105.joss.01336.pdf)

[2019-03-26 18:31] VivianePons commented on #1336
@mdbartos I have updated the version but I'm not sure which description you're referring to

[2019-03-26 18:32] VivianePons commented on #1336
@justinshenk Have you looked at the most recent changes? Do you give your green light for accepting the paper?

[2019-03-26 18:36] djmitche commented on #1330
That's fantastic :)

[2019-03-26 18:36] mdbartos commented on #1336
Hi @VivianePons, I was just referring to the description on the JOSS website: https://joss.theoj.org/papers/f8c83c0b01a984d0dbf934939b53c96d

I wanted to add "rrcf is a ..." to the beginning of the description to make the description more in line with the style of other submissions. It's not a big issue though.

[2019-03-26 18:37] djmitche commented on #1330
@whedon commands

[2019-03-26 18:37] whedon commented on #1330
Here are some things you can ask me to do:

[code]

[2019-03-26 18:37] djmitche commented on #1330
@jasonclark review is complete.  I think the next step is up to you?

[2019-03-26 18:38] VivianePons commented on #1336
@arfon do you know where this description is coming from:  https://joss.theoj.org/papers/f8c83c0b01a984d0dbf934939b53c96d ?

[2019-03-26 18:39] VivianePons commented on #1340
@rainwoodman I don't know anything specific except from mentioned checklist (as in the issue description). Do you have comments to give to the author?

[2019-03-26 18:41] mancellin commented on #1341
Mac and Linux packages are now available on conda-forge.
I still have some issues building a Windows package. I'll try to keep myself informed on the conda(-forge) Fortran toolchain for Windows.

It is also on PyPI, although only as a source package.

[2019-03-26 19:56] ygrange commented on #1234
I really like that document! That would make it much easier for me as a reader to appreciate the different tools around and why this is not "yet another tool".
I get the argument on precision/performance measurement. I think stating universal applicability is a good thing. It may also be a good idea to give a few examples of the effects you managed to avoid, especially if those actually occur in o

[2019-03-26 20:21] cMadan commented on #1252
Thank you, @stefanv!

@mir-am, I will now do a final check of everything.

[2019-03-26 20:22] cMadan commented on #1252
@whedon check references

[2019-03-26 20:22] whedon commented on #1252
[code]

[2019-03-26 20:22] whedon commented on #1252
[code]

[2019-03-26 20:28] rainwoodman commented on #1340
I got interrupted. I will wrap this up before Friday.

[2019-03-26 20:38] arfon commented on #1336
Yes, it's what the author included in the form when they originally submitted. Once accepted, this text is never public so we can mostly ignore it.

[2019-03-26 21:06] mdbartos commented on #1336
@whedon generate pdf

[2019-03-26 21:06] whedon commented on #1336
[code]

[2019-03-26 21:07] whedon commented on #1336
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01336/joss.01336/10.21105.joss.01336.pdf)

[2019-03-26 21:15] snastase commented on #1295
@arokem @jdkent Sorry for losing track of this! Working through it now...

[2019-03-26 21:24] zabore commented on #1269
Arne,
Thank you for these comments.
C. Begg did not make any contribution to the development of this software
package, though you are correct that he contributed to the original
methodology.
I appreciate your comment about the website header "Reference" and will
change this, and link elsewhere to the methodology paper, likely in the
introduction/overview.
With respect to the simulated data, the co

[2019-03-26 21:35] pjotrp commented on #1269
@zabore ping me when you are ready.

[2019-03-26 21:36] pjotrp commented on #1201
@labarba happy?

[2019-03-26 21:40] hbodory commented on #1194
@karthik Thank you for your reminder. I am out of office at the moment but I will upload some tests as soon as possible.

[2019-03-26 21:46] shaunpwilkinson commented on #1307
Hi @karthik sure, I'd be happy to review, but I may take a couple of weeks before I can to get to it. If you're happy with a slight delay then sign me up!

[2019-03-26 22:52] arokem commented on #1076
@ailiop : If it's not too much to ask, please do update the codemeta file and make a new release, so that everything's consistent and then create a new archive with this version. Thanks!

[2019-03-26 22:56] karthik commented on #1307
Fantastic! Thank you @shaunpwilkinson

The additional time is fine. I'll start the review (which will create a new issue with a checklist and close this one).

[2019-03-26 22:56] karthik commented on #1307
@whedon assign @@shaunpwilkinson  as reviewer

[2019-03-26 22:57] whedon commented on #1307
OK, the reviewer is @@shaunpwilkinson

[2019-03-26 22:57] karthik commented on #1307
@whedon assign @shaunpwilkinson  as reviewer

[2019-03-26 22:57] whedon commented on #1307
OK, the reviewer is @shaunpwilkinson

[2019-03-26 22:57] karthik commented on #1307
@whedon start review

[2019-03-26 22:57] whedon commented on #1307
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1350. Feel free to close this issue now!

[2019-03-26 22:57] whedon opened #1350 "[REVIEW]: rGUIDANCE – alignment confidence score computation in R"
**Submitting author:** @FranzKrah (<a href="http://orcid.org/0000-0001-7866-7508">Franz-Sebastian Krah</a>)
**Repository:** <a href="https://github.com/FranzKrah/rGUIDANCE" target ="_blank">https://github.com/FranzKrah/rGUIDANCE</a>
**Version:** 1.0
**Editor:** @karthik
**Reviewer:** @shaunpwilkinson
**Archive:** <a href="https://doi.org/10.5281/zenodo.2654302" target="_blank">10.5281/zenodo.26543

[2019-03-26 22:57] whedon commented on #1350
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @shaunpwilkinson it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-03-26 22:57] whedon commented on #1350
[code]

[2019-03-26 22:57] #1307 closed

[2019-03-26 22:58] whedon commented on #1350
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01350/joss.01350/10.21105.joss.01350.pdf)

[2019-03-26 22:59] karthik commented on #1350
@shaunpwilkinson Please follow instructions here and work through the checklist. Let me know if you have any questions. You can use Whedon to generate a new pdf anytime with `@whedon generate pdf` or check references with `@whedon check references`

[2019-03-26 22:59] karthik commented on #1350
@whedon check references

[2019-03-26 22:59] whedon commented on #1350
[code]

[2019-03-26 22:59] whedon commented on #1350
[code]

[2019-03-26 23:21] ailiop commented on #1076
@arokem : No problem at all, I figured it might be an issue.  I just created a new release (v1.0.3b) with a corrected `codemeta.json` file.  The Zenodo DOI for v1.0.3b is 10.5281/zenodo.2610844.

[2019-03-27 00:41] KateHyoung commented on #1322
Dear @briatte and other reviewers

I have made some changes corresponding to the comments from @briatte.
1.	Response for the comment #2
I have fixed the code of DataTables(). With an invalid API key, the function returns a message.

[1] "This API key is invalid. Please check that you have entered your key correctly."

Ref. https://github.com/KateHyoung/UTDEventData/commit/a469ff91d028897a2e7dd6804

[2019-03-27 00:54] studywolf commented on #1225
Sorry about the delay, I didn't get these notification reminders for some reason. Things have been hectic! I will try to finish the review tonight / tomorrow though.

[2019-03-27 02:04] studywolf commented on #1225
a few issues submitted to the repo as i was going through the examples. I haven't fully confirmed the functionality or look at the functionality documentation.

There are no unit tests for checking off the 'automated tests' box, I see it was mentioned above but didn't see it specifically addressed. What's the resolution on this?

[2019-03-27 02:49] zonca commented on #1298
@whedon generate pdf

[2019-03-27 02:49] whedon commented on #1298
[code]

[2019-03-27 02:49] whedon commented on #1298
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01298/joss.01298/10.21105.joss.01298.pdf)

[2019-03-27 02:53] zonca commented on #1298
ok, added some last minute feedback

[2019-03-27 05:49] FranzKrah commented on #1350
I checked the proof version and I am not sure why but the Figure captions are not there...
Franz

[2019-03-27 08:24] arfon commented on #1348
👋 @katyhuff - would you be willing to edit this submission for JOSS?

[2019-03-27 08:34] avhoeck commented on #1269
Thanks for your answer.  Signed off the authorship as well.

All the best,
Arne

[2019-03-27 09:37] xuanxu commented on #1298
@zonca: Could you edit the metadata of the Zenodo deposit so it matches the title and author list of the JOSS paper? Thanks!

[2019-03-27 11:32] labarba commented on #1201
@whedon generate pdf

[2019-03-27 11:32] whedon commented on #1201
[code]

[2019-03-27 11:32] whedon commented on #1201
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01201/joss.01201/10.21105.joss.01201.pdf)

[2019-03-27 11:42] labarba commented on #1201
@whedon set 10.5281/zenodo.2609163 as archive

[2019-03-27 11:42] whedon commented on #1201
OK. <a href="https://doi.org/10.5281/zenodo.2609163" target="_blank">10.5281/zenodo.2609163</a> is the archive.

[2019-03-27 11:46] labarba commented on #1201
@whedon set v1.0.1 as version

[2019-03-27 11:46] whedon commented on #1201
OK. v1.0.1 is the version.

[2019-03-27 11:48] labarba commented on #1201
@dleehr — Please check your proof, and if you are happy with it, we can proceed to publish your paper. Cheers!

[2019-03-27 12:36] HaoZeke commented on #1278
Thank you @matbesancon and @poulson for your kind wishes and for waiting so long. I have finally recovered enough to complete this review. I believe everything is in order.. Sorry the final signing off was delayed so much.

[2019-03-27 12:45] pjotrp commented on #1286
@robinweide thanks for the review. I think it is fine as is. The fact that you use this software is convincing enough to me.

[2019-03-27 12:45] danielskatz commented on #1225
@whedon assign @danielskatz as editor

[2019-03-27 12:46] danielskatz commented on #1225
thanks for the help while I was out @arfon

[2019-03-27 12:46] pjotrp commented on #1286
@whedon generate pdf

[2019-03-27 12:47] whedon commented on #1286
[code]

[2019-03-27 12:47] danielskatz commented on #1225
The test do not need need to be automated, but there do need to be some tests.  If there are tests, please check it off.  If there are no tests at all, some need to be added

[2019-03-27 12:47] whedon commented on #1286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01286/joss.01286/10.21105.joss.01286.pdf)

[2019-03-27 12:47] danielskatz commented on #1225
@whedon assign @danielskatz as editor

[2019-03-27 12:48] danielskatz commented on #1188
@whedon assign @danielskatz as editor

[2019-03-27 12:48] danielskatz commented on #1188
Thanks @arfon for the help while I was on holiday

[2019-03-27 12:48] danielskatz commented on #1157
@whedon assign @danielskatz as editor

[2019-03-27 12:49] danielskatz commented on #1157
Thanks @arfon for the help while I was on holiday

[2019-03-27 12:49] pjotrp commented on #1286
Dear @NelleV, do you mind starting the paper with a short laypersons introduction of HiC and what your code does? Just paragraph will do to help the casual reader.

[2019-03-27 12:49] danielskatz commented on #1157
👋 @taqtiqa-mark - where are you on your review?

[2019-03-27 12:51] danielskatz commented on #1347
👋 @kyleniemeyer - the submitting author suggested you as the handling editor.

[2019-03-27 12:55] danielskatz commented on #1339
👋 @xuanxu - Would you be willing to edit this submission?

[2019-03-27 12:56] danielskatz commented on #1323
I'm going to mark this as paused until we hear back from @sambitdash

[2019-03-27 13:00] studywolf commented on #1225
Check it off if there are any tests at all? Or are we looking for some amount of functionality coverage?

[2019-03-27 13:03] danielskatz commented on #1225
I would say minimal functionality tests - something that verifies the basic functionality

[2019-03-27 13:03] zabore commented on #1269
Good morning,
I have edited the README to included the main references for the
methodology, and I changed the website heading from "Reference" to
"Function documentation" for clarity. I left the example data variables as
they were, as I am not sure that renaming them adds much. But if I can add
a real world dataset example in the future I will certainly do so.

Thank you,
Emily

On Wed, Mar 27, 20

[2019-03-27 13:20] dleehr commented on #1201
Looks good to me, thanks!

[2019-03-27 13:39] NelleV commented on #1286
Yes, no problem. Can I consider the article accepted with minor revisions? I have a job talk tomorrow.

[2019-03-27 13:55] NelleV commented on #1286
Can I re-trigger whedon's pdf generation?

[2019-03-27 13:56] danielskatz commented on #1286
just put ```@whedon generate pdf``` in as a new comment

[2019-03-27 13:56] NelleV commented on #1286
@whedon generate pdf

[2019-03-27 13:57] whedon commented on #1286
[code]

[2019-03-27 13:57] whedon commented on #1286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01286/joss.01286/10.21105.joss.01286.pdf)

[2019-03-27 14:02] lbenet commented on #1043
@whedon generate pdf

[2019-03-27 14:02] whedon commented on #1043
[code]

[2019-03-27 14:03] whedon commented on #1043
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01043/joss.01043/10.21105.joss.01043.pdf)

[2019-03-27 14:18] zonca commented on #1298
ok @xuanxu , fixed

[2019-03-27 14:25] xuanxu commented on #1339
@whedon assign @xuanxu as editor

[2019-03-27 14:25] whedon commented on #1339
OK, the editor is @xuanxu

[2019-03-27 14:33] xuanxu commented on #1298
Thanks @zonca!

[2019-03-27 14:33] xuanxu commented on #1298
@whedon set 10.5281/zenodo.2605426 as archive

[2019-03-27 14:34] whedon commented on #1298
OK. <a href="https://doi.org/10.5281/zenodo.2605426" target="_blank">10.5281/zenodo.2605426</a> is the archive.

[2019-03-27 14:37] xuanxu commented on #1298
This is ready now for publication.
Pinging EIC for final acceptance: @openjournals/joss-eics

[2019-03-27 14:37] poulson commented on #1333
@arfon I am sorry to have been too slow to respond to this. It looks like a very interesting submission.

[2019-03-27 14:40] poulson commented on #1318
Thank you for your responses, Scott (@stsievert), Jakob (@jakobbossek), and Jon (@malmaud). Jakob, I will try to move forward with finding other reviewers and get back to you if for some reason they cannot be found in the next two weeks.

[2019-03-27 14:40] poulson commented on #1318
@whedon list reviewers

[2019-03-27 14:40] whedon commented on #1318
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-03-27 14:42] antoineallard commented on #1308
Never done software reviews before either. I may be able to look at the code in a few weeks. One of the coauthors is a friend. Is that an issue?

[2019-03-27 14:43] count0 commented on #1308
I have too much on my plate at the moment, and I will have to decline.

[2019-03-27 14:48] poulson commented on #1318
Hi Christopher (@ChrisRackauckas) -- you are one of the few reviewers listing both Julia and optimization in your expertise. Would you be able to help with this submission?

Hi Rowan (@rowanc1) -- you have listed both optimization and Julia in your expertise and I was hoping that you would be interesting and able to serve as a reviewer for this submission. Would you be willing to review this submi

[2019-03-27 14:52] TormodLandet commented on #1239
@whedon generate pdf

[2019-03-27 14:52] whedon commented on #1239
[code]

[2019-03-27 14:53] whedon commented on #1239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01239/joss.01239/10.21105.joss.01239.pdf)

[2019-03-27 14:55] poulson commented on #1325
Hi @jordigh -- Given your expertise in mathematics and numerical analysis, would you be willing and able to serve as a reviewer for this submission? (Please excuse me not using your name -- it is not listed on your GitHub profile.)

Hi Alexander (@alex-konovalov) -- Given your mathematics expertise, would you be willing and able to serve as a reviewer for this submission?

Hi Scott (@stsievert) --

[2019-03-27 15:01] danielskatz commented on #1298
@whedon accept

[2019-03-27 15:01] whedon commented on #1298
[code]

[2019-03-27 15:01] oesteban commented on #1318
I'm swamped right now, sorry about that.

On Wed, Mar 27, 2019, 10:48 Jack Poulson <notifications@github.com> wrote:

[2019-03-27 15:02] whedon commented on #1298
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/579

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/579, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-27 15:02] whedon commented on #1298
[code]

[2019-03-27 15:03] Kevin-Mattheus-Moerman commented on #1333
@poulson I am willing to step down as editor if you want to take this one. Just let me know. Alternatively would you like to review this work?

[2019-03-27 15:05] dvberkel commented on #1332
@VivianePons You have sent me an email in which you requested a review of the article. I am willing and able to review the paper.

I will start with reading the article.

[2019-03-27 15:06] poulson commented on #1333
@Kevin-Mattheus-Moerman I am happy to serve as either a reviewer or an editor. By no means did I mean to imply that I was hoping to supplant you, simply that I regret being too slow due to international travel. You list finite element analysis as one of your core expertise, so I believe I should defer here!

[2019-03-27 15:06] danielskatz commented on #1298
@whedon accept deposit=true

[2019-03-27 15:06] whedon commented on #1298
[code]

[2019-03-27 15:07] danielskatz commented on #1298
Thanks to @xuanxu for editing and @harpolea for reviewing!

[2019-03-27 15:07] whedon commented on #1298
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/580
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01298](https://doi.org/10.21105/joss.01298)
2. If everything looks go

[2019-03-27 15:11] VivianePons commented on #1332
@whedon assign @dvalters as reviewer

[2019-03-27 15:11] dvberkel commented on #1332
@whedon commands

[2019-03-27 15:11] whedon commented on #1332
OK, the reviewer is @dvalters

[2019-03-27 15:11] whedon commented on #1332
Here are some things you can ask me to do:

[code]

[2019-03-27 15:12] VivianePons commented on #1332
@whedon add @VivianePons as reviewer

[2019-03-27 15:13] whedon commented on #1332
OK, @VivianePons is now a reviewer

[2019-03-27 15:13] VivianePons commented on #1332
@whedon start review

[2019-03-27 15:13] whedon opened #1351 "[REVIEW]: treex: a Python package for manipulating rooted trees"
**Submitting author:** @RomainAzais  (<a href="http://orcid.org/0000-0002-5234-1822">Romain Azais</a>)
**Repository:** <a href="https://gitlab.inria.fr/azais/treex" target ="_blank">https://gitlab.inria.fr/azais/treex</a>
**Version:** 1.2.0
**Editor:** @VivianePons
**Reviewers:** @VivianePons, @dvberkel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3254416" target="_blank">10.5281/zenodo.32

[2019-03-27 15:13] whedon commented on #1332
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1351. Feel free to close this issue now!

[2019-03-27 15:13] whedon commented on #1351
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dvalters, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-03-27 15:13] whedon commented on #1351
[code]

[2019-03-27 15:13] #1332 closed

[2019-03-27 15:13] whedon commented on #1351
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01351/joss.01351/10.21105.joss.01351.pdf)

[2019-03-27 15:29] labarba commented on #1201
@whedon accept

[2019-03-27 15:30] whedon commented on #1201
[code]

[2019-03-27 15:30] whedon commented on #1201
[code]

[2019-03-27 15:30] whedon commented on #1201
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/581

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/581, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-27 15:36] labarba commented on #1201
The XML deposit includes one citation, whereas the paper has no references.

@arfon : Why does `whedon` find a citation when there are none? Is it picking it up from a `.bib` file? In that case, should the `.bib` file be deleted? Is the citation included in the XML going to cause a false citation entry with Crossref?

[2019-03-27 15:37] labarba commented on #1239
@whedon accept

[2019-03-27 15:37] whedon commented on #1239
[code]

[2019-03-27 15:38] whedon commented on #1239
[code]

[2019-03-27 15:39] whedon commented on #1239
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/582

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/582, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-27 15:46] labarba commented on #1239
The paper has 21 references, but the XML file for the Crossref deposit lists 22 citations. I think this will cause a false citation to be counted by Crossref. Could you delete the entry from you r`.bib` file that is not being cited in the paper?

[2019-03-27 16:14] sgyzetrov commented on #1349
I have gone through the paper, and it looks good to me. Some wording could be enhanced but since the author's ideas are clear-stated, this is more of a cherry-on-top thing.

Two newly raised issues:
- Reference for jupyter seems broken in pdf submission (e.g. `jupyter notebooks (al., 2018)`), maybe consider using the recommended bibtex entry from [here](https://conference.scipy.org/proceedings/sci

[2019-03-27 16:48] danielskatz commented on #1298
@zonca - please say hello to K. Gorski for me, since I used to work with him a bit a long time ago...

[2019-03-27 16:48] #1298 closed

[2019-03-27 16:48] whedon commented on #1298
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01298/status.svg)](https://doi.org/10.21105/joss.01298)

**We need your help!**

Journal of Open Source Softwar

[2019-03-27 16:56] TormodLandet commented on #1239
I removed the unused reference

[2019-03-27 17:10] stsievert commented on #1325
I'm still swamped. I can provide a review after May.

I'm not too familiar with C++, but have glanced at the repo and think I would encourage @artivis to look at the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2019-03-27 17:11] mviereck commented on #1349
@whedon generate pdf

[2019-03-27 17:11] whedon commented on #1349
[code]

[2019-03-27 17:12] whedon commented on #1349
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01349/joss.01349/10.21105.joss.01349.pdf)

[2019-03-27 17:22] mviereck commented on #1349
Suggestions (or a PR) are quite appreciated!

fixed.

done.

I've added a note about target audience in `paper.md`.

One point is still open:

As long as it is a recommendation ("ideally"), I won't do the major task of automated package management.
Instead, I could provide a table with package names for a number of popular distributions. This makes it easier to find the matching package for each r

[2019-03-27 17:27] artivis commented on #1325
Hi @stsievert, thanks for feedback. I did have a look at the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html), can I ask you to be more specific ?

[2019-03-27 17:50] tanselbaran commented on #1171
Sorry for the delay, I was away at a winter school last week. I am currently working on it, and will be done as soon as possible (i.e. by Friday the latest)

[2019-03-27 17:53] effigies commented on #1171
Ah, I'm sorry. I'm currently in the middle of a couple very busy weeks, so I will try to finish after April 9.

[2019-03-27 18:01] tanselbaran commented on #1171
By the way, I am a PhD student in the same university and department as the authors, but in different institutes and fields of research. I have never met any of them in person nor collaborated with them on any project. So there are no issues for me to review this work, right?

[2019-03-27 18:07] rainwoodman commented on #1340
A few additional comments:

1. I really liked the distarray object. However, for a user it feels awkward to import an FFT library to use a MPI distributed array; the implication is that the commitment on the support may be less than that of the PFFT objects, no matter what the intent from the authors is. Are there plans or roadmap items regarding this?

2. At a certain point we ran into a discussi

[2019-03-27 18:11] labarba commented on #1239
@whedon accept

[2019-03-27 18:11] whedon commented on #1239
[code]

[2019-03-27 18:12] whedon commented on #1239
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/583

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/583, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-27 18:13] whedon commented on #1239
[code]

[2019-03-27 18:14] labarba commented on #1239
@whedon accept deposit=true

[2019-03-27 18:14] whedon commented on #1239
[code]

[2019-03-27 18:15] whedon commented on #1239
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/584
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01239](https://doi.org/10.21105/joss.01239)
2. If everything looks go

[2019-03-27 18:17] snastase commented on #1295
Okay, I think I have a grip on this now—nice contribution and great to see things like this wrapped up into BIDS Apps! To summarize, this project aims to compute beta-series correlations on BIDS-compliant data preprocessed using fMRIPrep. I have some general comments and then a laundry list of smaller-scale suggestions. For the really nit-picky stuff, I can make a PR if you don't mind. Also, bear

[2019-03-27 18:18] labarba commented on #1239
Congratulations, @TormodLandet, your JOSS paper is published!

Big thanks to the reviewers, @inducer and @piyueh — we couldn't do this without you! 🙏

[2019-03-27 18:22] #1239 closed

[2019-03-27 18:22] whedon commented on #1239
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01239/status.svg)](https://doi.org/10.21105/joss.01239)

**We need your help!**

Journal of Open Source Softwar

[2019-03-27 18:28] zonca commented on #1298
Thanks @harpolea, @xuanxu, @danielskatz, it was a great experience publishing with JOSS!

[2019-03-27 18:35] labarba commented on #1239
https://twitter.com/LorenaABarba/status/1110972747289636866

[2019-03-27 18:40] pjotrp commented on #1269
@whedon generate pdf

[2019-03-27 18:40] whedon commented on #1269
[code]

[2019-03-27 18:41] whedon commented on #1269
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01269/joss.01269/10.21105.joss.01269.pdf)

[2019-03-27 18:43] pjotrp commented on #1269
@zabore to finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI in the bibliography (if one exists).

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service.

To do so:

1. Create [a GitHub release](

[2019-03-27 19:18] zabore commented on #1269
I checked the proofs and noticed one typo, just a missing space between two
words, and I pushed a change to correct this in the paper.

I confirm that all references in the bibliography that have an available
DOI have it listed.

I have created a GitHub release and deposited it on Zenodo. DOI:
10.5281/zenodo.2612856

Please let me know if you need anything else from me.

Thank you!
Emily

On Wed,

[2019-03-27 19:27] stsievert commented on #1325
* When I looked at the documentation (https://codedocs.xyz/artivis/manif/), the splash screen for me loaded with a blank screen. Same with the wiki.
* The review mentions "a clear statement of need". I know there's a short statement of need on the README: "manif is a header-only c++11 Lie theory library for state-estimation targeted at robotics applications". I don't think that's clear. I think th

[2019-03-27 20:09] andytwoods commented on #1044
congrats! All in order
    /@
    \ \
  ___> \
 (__O)  \
(____@)  \
(____@)   \
 (__o)_    \
       \    \

[2019-03-27 20:24] artivis commented on #1325
Thanks for the precision.
- It seems that there is indeed an issue with the splash screen of the online documentation, I'll fix that. The wiki's one is yet to be done.
- I guess I can beef up the statement a little :+1:

[2019-03-27 20:26] flohorovicic commented on #1136
The provided software and description provides a really low entry point for the use of numerical simulations for typical applications in geodynamics. Especially the interface to Python makes using this software with all its underlying potential now very easy and I can see a wide potential for the use in teaching as well as research.

One aspect that is a bit puzzling is the separation from the und

[2019-03-27 21:36] pjotrp commented on #1269
@whedon set 10.5281/zenodo.2612856 as archive

[2019-03-27 21:36] whedon commented on #1269
OK. <a href="https://doi.org/10.5281/zenodo.2612856" target="_blank">10.5281/zenodo.2612856</a> is the archive.