[2020-04-07 18:22] kthyng commented on #2018
@ysimillides Everyone's situation is totally different, so not sure if you have any time for work right now, but if you do, we'd appreciate hearing from you on this review at some point. Thank you.

[2020-04-07 18:23] kthyng commented on #2097
@egemose I know you might not be spending time on work right now, but for when you are, it looks like the reviewers have given some input and are ready to hear back from you.

[2020-04-07 18:28] kthyng commented on #2063
@whedon set 10.5281/zenodo.3733959 as archive

[2020-04-07 18:28] whedon commented on #2063
OK. <a href="https://doi.org/10.5281/zenodo.3733959" target="_blank">10.5281/zenodo.3733959</a> is the archive.

[2020-04-07 18:28] kthyng commented on #2063
Looks like the zenodo archive changed numbers too, so I updated that. Let me know if this is incorrect

[2020-04-07 18:29] kthyng commented on #2063
@whedon set v0.21.3 as version

[2020-04-07 18:29] whedon commented on #2063
OK. v0.21.3 is the version.

[2020-04-07 18:39] kthyng commented on #2063
@whedon accept

[2020-04-07 18:39] whedon commented on #2063
[code]

[2020-04-07 18:39] whedon commented on #2063
[code]

[2020-04-07 18:39] whedon commented on #2063
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1410

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1410, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-07 18:40] kthyng commented on #2063
@whedon accept deposit=true

[2020-04-07 18:40] whedon commented on #2063
[code]

[2020-04-07 18:41] whedon commented on #2063
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1247595390389583878) 👈 🐦🐦🐦

[2020-04-07 18:41] whedon commented on #2063
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1411
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02063](https://doi.org/10.21105/joss.02063)
2. If everything looks g

[2020-04-07 19:01] rmsare commented on #2143
@kthyng, thanks for the request - this submission looks really interesting. I expect I could complete a review by 3 May (unfortunately I have a late April deadline). Would this be timely enough for this review?

[2020-04-07 19:27] kthyng commented on #2143
@rmsare Yes, that would be great. We are grateful for any time people can dedicate to JOSS right now in these unusual times. I will add you as the second reviewer and we can move ahead to start the review.

[2020-04-07 19:27] kthyng commented on #2143
@whedon add @rmsare as reviewer

[2020-04-07 19:27] whedon commented on #2143
OK, @rmsare is now a reviewer

[2020-04-07 19:28] kthyng commented on #2063
Congratulations to @castelao on your new publication! Many thanks to reviewers @jessicaaustin and @evanleeturner — we have relied on your time and expertise!

[2020-04-07 19:28] #2063 closed

[2020-04-07 19:28] whedon commented on #2063
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02063/status.svg)](https://doi.org/10.21105/joss.02063)

**We need your help!**

Journal of Open Source Softwa

[2020-04-07 19:28] kthyng commented on #2143
@whedon start review

[2020-04-07 19:28] whedon opened #2172 "[REVIEW]: DetecTree: Tree detection from aerial imagery in Python"
**Submitting author:** @martibosch (<a href="http://orcid.org/0000-0001-8735-9144">Martí Bosch</a>)
**Repository:** <a href="https://github.com/martibosch/detectree" target ="_blank">https://github.com/martibosch/detectree</a>
**Version:** v0.3.1
**Editor:** @kthyng
**Reviewer:** @JeffWalton-PSC , @rmsare
**Archive:** <a href="https://doi.org/10.5281/zenodo.3908338" target="_blank">10.5281/zenodo.

[2020-04-07 19:28] whedon commented on #2143
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2172.

[2020-04-07 19:28] #2143 closed

[2020-04-07 19:28] whedon commented on #2172
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JeffWalton-PSC , @rmsare it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2020-04-07 19:29] whedon commented on #2172
[code]

[2020-04-07 19:29] whedon commented on #2172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02172/joss.02172/10.21105.joss.02172.pdf)

[2020-04-07 19:31] kthyng commented on #2143
@JeffWalton-PSC and @rmsare please head over to [#2172](https://github.com/openjournals/joss-reviews/issues/2172) for the actual review.

[2020-04-08 08:10] martibosch commented on #2172
Regarding the DOIs: I have added the missing DOI for pandas as suggested by @whedon. I have also found that the invalid DOI (of scikit-learn) actually corresponds to a record in the digital ACM library rather than a DOI, nevertheless I could not find the DOI of the actual journal article. Shall I instead add the zenodo DOI for the library, i.e., 10.5281/zenodo.3696718?

[2020-04-08 10:48] simonom commented on #1918
@whedon generate pdf

[2020-04-08 10:49] whedon commented on #1918
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01918/joss.01918/10.21105.joss.01918.pdf)

[2020-04-08 10:56] simonom commented on #1918
Thanks Jed, have included the improvements you suggested (Sundials citation, non-abbreviated journal titles and moving EUROCHAMP reference to acknowledgements).

[2020-04-08 11:34] arfon commented on #1918
@dhhagan - how are you getting on with your review? I see there's still a fair number of unchecked boxes for the review?

[2020-04-08 12:01] hugoledoux commented on #2126
Hello @flammie , I'm the editor of your paper, and this is my first (!), so apologies if things don't go as fast as you'd normally expect.

Since, as you saw above, the best editor if unavailable, I'd appreciate if you could give any suggestions for potential reviewers (please please mention them in this thread (without tagging them with an @)).

[2020-04-08 15:03] kbarnhart commented on #2029
@whedon remove @frengers as reviewer

[2020-04-08 15:03] whedon commented on #2029
OK, @frengers is no longer a reviewer

[2020-04-08 15:41] arfon commented on #2029
@whedon add @marianadobre as reviewer

[2020-04-08 15:41] whedon commented on #2029
OK, @marianadobre is now a reviewer

[2020-04-08 15:45] arfon commented on #2029
@marianadobre - many thanks for agreeing to review this submission! Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Also, you'll need to accept this invite to be able to  update the checklist as you go: https://github.com/openjour

[2020-04-08 17:25] mbdemoraes commented on #2169
Hi @daffidwilde, I've looked at your PRs and everything looks fine to me! Thank you for the modifications. Let me know when you merge them for a final check up.

[2020-04-08 19:20] JaroslavHron commented on #2089
Hi @albansouche , your turtleFSI is really nice tool to easily setup and run  FSI problems.

- I was missing some info on the used time discretization. In the setup you supply parameter `theta=0.5` which probably means Crank-Nicolson method, but in FSI example you use `theta=0.51` - ia it some way to stabilize the computation - and is it sill 2nd order? May be I just missed it or It can be found i

[2020-04-08 20:10] thelfer commented on #2003
@whedon generate pdf

Just fixed a typo in the acknowledgements.

[2020-04-08 20:11] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-04-08 20:18] IgorBaratta commented on #2003
Hi, Sorry for the delay.
I am going over the review checklist again, considering the latest changes.
I should be able to check all points by Friday.

[2020-04-08 20:35] arfon commented on #2003
:+1: thanks for the update!

[2020-04-08 20:52] arfon commented on #2029
@whedon add @baharmon as reviewer

[2020-04-08 20:52] whedon commented on #2029
OK, @baharmon is now a reviewer

[2020-04-08 20:53] arfon commented on #2029
@baharmon  - many thanks for agreeing to review this submission! Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Also, you'll need to accept this invite to be able to update the checklist as you go: https://github.com/openjournals

[2020-04-08 23:12] daffidwilde commented on #2169
Great! Thanks, @mbdemoraes 👍 they're all merged now and everything has been staged in daffidwilde/matching#97.

[2020-04-09 11:04] marcosvital commented on #2164
Hello again, @Sergio-Bejar and @Nicolas-Schmidt, and sorry about the delay.

Everything looks fine for me, so we can move on to acceptance!

As one of our last steps, if you already didn't do this, you will need to archive the last release of the package (on Zenodo, figshare, or other of your choice). After that, post the version number and archive DOI here, and we can continue.

[2020-04-09 11:38] marcosvital commented on #2134
Hi, @mmrabe! Sorry about the delayed reply. Since all the reviewers are satisfied, we can carry on.

@JonathanReardon and @tomfaulkenberry , thank you very much for the time and effort put into this review!

@mmrabe, I'll trigger a DOI checking, so we can see if there are any corrections to be done on the references, ok?

[2020-04-09 11:38] marcosvital commented on #2134
@whedon check references

[2020-04-09 11:38] whedon commented on #2134
[code]

[2020-04-09 11:39] marcosvital commented on #2134
@whedon generate pdf

[2020-04-09 11:39] whedon commented on #2134
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02134/joss.02134/10.21105.joss.02134.pdf)

[2020-04-09 11:42] marcosvital commented on #2134
@mmrabe, everything is ok with cited DOIs.

I generated a new proof, so you can take a carefull (maybe final?) look at the manuscript. I'll read it myself too, and will let you know if I find any issues, ok?

[2020-04-09 11:58] nnadeau commented on #2120
@whedon generate pdf

[2020-04-09 11:59] whedon commented on #2120
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02120/joss.02120/10.21105.joss.02120.pdf)

[2020-04-09 12:01] nnadeau commented on #2120
@whedon check references

[2020-04-09 12:01] whedon commented on #2120
[code]

[2020-04-09 12:03] nnadeau commented on #2120
@arfon @meg-simula @raphaeltimbo we're good to go! good work!

@raphaeltimbo i patched the DOI issue here: https://github.com/ross-rotordynamics/ross/pull/518

[2020-04-09 12:09] arfon commented on #2120
@whedon check references

[2020-04-09 12:09] whedon commented on #2120
[code]

[2020-04-09 12:14] arfon commented on #2120
@whedon generate pdf

[2020-04-09 12:14] whedon commented on #2120
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02120/joss.02120/10.21105.joss.02120.pdf)

[2020-04-09 13:12] raphaeltimbo commented on #2120
@meg-simula, with the review process we had to make some modifications to the package and the final version now is v0.3.2. Can we update that information?

[2020-04-09 13:25] arfon commented on #2120
:wave: @raphaeltimbo - I'll take over this paper from here as I'm not sure about @meg-simula's availability given the COVID-19 stuff going on.

I've read your paper and have a few suggested changes to improve the readability in https://github.com/ross-rotordynamics/ross/pull/519 .

[2020-04-09 13:26] arfon commented on #2120
@whedon set v0.3.2 as version

[2020-04-09 13:26] whedon commented on #2120
OK. v0.3.2 is the version.

[2020-04-09 13:43] Nicolas-Schmidt commented on #2164
Hi @marcosvital , thanks for everything!
The package version is v0.2.0.
DOI is https://zenodo.org/badge/latestdoi/226979997

[2020-04-09 14:10] arfon commented on #2120
@raphaeltimbo - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2020-04-09 18:45] raphaeltimbo commented on #2120
@arfon, I have added the software to zenodo: http://doi.org/10.5281/zenodo.3746582

[2020-04-09 18:57] arfon commented on #2120
@whedon set 10.5281/zenodo.3746582 as archive

[2020-04-09 18:57] whedon commented on #2120
OK. <a href="https://doi.org/10.5281/zenodo.3746582" target="_blank">10.5281/zenodo.3746582</a> is the archive.

[2020-04-09 18:57] arfon commented on #2120
@whedon accept

[2020-04-09 18:57] whedon commented on #2120
[code]

[2020-04-09 18:57] whedon commented on #2120
[code]

[2020-04-09 18:57] whedon commented on #2120
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1412

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1412, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-09 19:01] arfon commented on #2120
@whedon accept deposit=true

[2020-04-09 19:01] whedon commented on #2120
[code]

[2020-04-09 19:02] whedon commented on #2120
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1248325450457321473) 👈 🐦🐦🐦

[2020-04-09 19:02] whedon commented on #2120
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1413
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02120](https://doi.org/10.21105/joss.02120)
2. If everything looks g

[2020-04-09 19:08] arfon commented on #2120
@srmnitc, @nnadeau - many thanks for your reviews here and to @meg-simula for editing this submission ✨

@raphaeltimbo - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-09 19:08] #2120 closed

[2020-04-09 19:08] whedon commented on #2120
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02120/status.svg)](https://doi.org/10.21105/joss.02120)

**We need your help!**

Journal of Open Source Softwa

[2020-04-09 20:15] raphaeltimbo commented on #2120
Thanks @arfon and @meg-simula!
And thank you @srmnitc and @nnadeau for the review. It really helped us to improve the paper and the software!

[2020-04-09 20:26] cmillion commented on #1978
Done.

[2020-04-09 22:18] arfon commented on #2110
@whedon assign @arfon as editor

[2020-04-09 22:18] whedon commented on #2110
OK, the editor is @arfon

[2020-04-09 22:18] arfon commented on #2110
@sherbold - I'm going to take over the handling of this submission for now.
When you have a chance, could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

Thanks!

[2020-04-10 08:32] martibosch commented on #2172
I have fixed the DOIs as suggested above in [0128e18](https://github.com/martibosch/detectree/commit/0128e18f33e3380a1e209b5eac4a064f5218f783)

[2020-04-10 08:32] martibosch commented on #2172
@whedon generate pdf

[2020-04-10 08:33] whedon commented on #2172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02172/joss.02172/10.21105.joss.02172.pdf)

[2020-04-10 10:09] sherbold commented on #2110
Thanks for taking over. I just went from the top and looked for reviewers that have statistics + something related to ML or data analysis as domain, Python as preferred language and no active reviews. Here are eight candidates, but I only went half-way through the list and could look for if they do not have time.

- betatim
- tupi
- tianxzhu
- dirmeier
- adavidzh
- JonathanReardon
- ejolly
- bahun

[2020-04-10 11:57] arfon commented on #2110
@JonathanReardon @bahung @ejolly -
would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The package we would ask you to review is [_Autorank: A Python package for automated ranking of classifiers_](https://github.com/sherbold/autora

[2020-04-10 12:00] dhhagan commented on #1918
Sorry about that @arfon - been a bit insane lately at work. Just finalized everything and it looks good.

[2020-04-10 12:10] ejhigson commented on #2110
@sherbold @arfon - I would be happy to review this submission for you if you would like?

[2020-04-10 12:11] JonathanReardon commented on #2110
Yes I would be happy to review this submission, thanks

[2020-04-10 12:12] JonathanReardon commented on #2110
@arfon @sherbold Yes I would be happy to review this submission, thanks

[2020-04-10 13:07] kbarnhart commented on #1978
@cmillion thank you for completing your review.

@mollenburger would you be able to provide an update on when you will be able to complete you review.

[2020-04-10 13:12] arfon commented on #1918
@whedon generate pdf

[2020-04-10 13:12] whedon commented on #1918
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01918/joss.01918/10.21105.joss.01918.pdf)

[2020-04-10 13:12] arfon commented on #2110
Thanks @ejhigson and @JonathanReardon!

[2020-04-10 13:13] arfon commented on #2110
@whedon add @JonathanReardon as reviewer

[2020-04-10 13:13] whedon commented on #2110
OK, @JonathanReardon is now a reviewer

[2020-04-10 13:13] arfon commented on #2110
@whedon add @ejhigson as reviewer

[2020-04-10 13:13] whedon commented on #2110
OK, @ejhigson is now a reviewer

[2020-04-10 13:13] arfon commented on #2110
@whedon start review

[2020-04-10 13:13] whedon opened #2173 "[REVIEW]: Autorank: A Python package for automated ranking of classifiers"
**Submitting author:** @sherbold (<a href="http://orcid.org/0000-0001-9765-2803">Steffen Herbold</a>)
**Repository:** <a href="https://github.com/sherbold/autorank" target ="_blank">https://github.com/sherbold/autorank</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @JonathanReardon, @ejhigson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3751301" target="_blank">10.5281/zenodo.3751

[2020-04-10 13:13] whedon commented on #2110
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2173.

[2020-04-10 13:13] #2110 closed

[2020-04-10 13:13] whedon commented on #2173
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JonathanReardon, @ejhigson it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2020-04-10 13:13] whedon commented on #2173
[code]

[2020-04-10 13:14] arfon commented on #2110
@JonathanReardon, @ejhigson - thanks for agreeing to review this submission - see you over in #2173 where the actual review will take place.

[2020-04-10 13:14] whedon commented on #2173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02173/joss.02173/10.21105.joss.02173.pdf)

[2020-04-10 13:14] arfon commented on #2173
@JonathanReardon, @ejhigson - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-04-10 13:19] arfon commented on #1918
@whedon check references

[2020-04-10 13:20] whedon commented on #1918
[code]

[2020-04-10 13:20] arfon commented on #1918
@simonom - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the autho

[2020-04-10 23:37] briandesilva commented on #2104
@sixpearls, I've added some information on the mathematics behind SINDy and a short example to the README (and the PyPI description). I also took your advice and moved the introduction to SINDY to its own notebook. Please take a look when you get a chance.

[2020-04-11 10:56] ejhigson commented on #2173
Hi @sherbold - this is a really nice piece of software. I really like the idea and definitely see the practical usefulness!

Installing your package and starting playing around with it, I noticed a few things which could be changed or fixed - I will comment about them below.

[2020-04-11 10:59] ejhigson commented on #2173
1) I think you need to add version requirements for you dependencies as I got errors running the example at https://sherbold.github.io/autorank/ which were fixed by upgrading the dependency module versions. E.g. with scipy 1.1 I get the following error:
[code]
Upgrading scipy to 1.4.1 fixed the issue. Perhaps you can consider specifying minimum version requirements for your dependencies in setup.p

[2020-04-11 11:16] ejhigson commented on #2173
2. Following this step in the example usage at https://sherbold.github.io/autorank/#documentation:
[code]
I get the following error:
[code]
I see similar errors when I try running the module tests with ``nosetests``. Do you know what is causing these errors?

You may also want to change the code in this cell at https://sherbold.github.io/autorank/#documentation to use the variable name "results" i

[2020-04-11 11:19] ejhigson commented on #2173
3. I think there may be a typo in your flow chart as both arrows leaving the "Two populations?" diamond say "Yes". Should one of them say "No"?

[2020-04-11 11:24] ejhigson commented on #2173
3. Regarding the paper itself: I think there is a typo in the last sentence of the third paragraph "Instead, additional aspect such as effect sizes, confidence intervals, and the decision whether it is appropriate to report the  mean value and standard deviation, or whether the median value and the median absolute deviation are better suited". Also you may wish to add DOIs to your references.

[2020-04-11 12:10] sherbold commented on #2173
@whedon generate pdf

[2020-04-11 12:11] sherbold commented on #2173
@ejhigson Thanks for the good feedback. I fixed 1, 3, and 4. Unfortunately, neither arXiv, nor JLMR have DOIs. Why this is a case for JLMR is a mystery for me.

Regarding 2: I fixed the documentation. They are not updated yet, because GH Actions seem to be broken right now, though there is no incident report filed yet.

However, I cannot replicate any test failures. I ran the tests under Windows a

[2020-04-11 12:11] whedon commented on #2173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02173/joss.02173/10.21105.joss.02173.pdf)

[2020-04-11 12:37] sixpearls commented on #2104
Hi @briandesilva, this looks great. I will check off the item from my review and recommend that this can be published. This is a great library, congratulations!

[2020-04-11 12:51] arfon commented on #2104
:wave: @dawbarton - how are you getting on with your review?

[2020-04-11 18:10] baharmon commented on #2029
I made several suggestions in the following issues in the WEPPCLIFF repo:
ryanpmcg/WEPPCLIFF#13
ryanpmcg/WEPPCLIFF#12
ryanpmcg/WEPPCLIFF#2

[2020-04-11 18:27] sherbold commented on #2173
The documentation is now also updated. I also did some maintenance of the Github Action and documentation build, because there were breaking changes in the latest releases.

[2020-04-11 20:53] sbrugman commented on #2145
We went through the remaining steps.
- The software version has increased.  For the publication is v0.4.1.
- For the archive, the Zenodo DOI is http://doi.org/10.5281/zenodo.3748758.

@1313e and @fccoelho Many thanks for your constructive reviews!

@mjsottile Thanks for editing this one :)

[2020-04-11 21:35] arfon commented on #2145
@whedon generate pdf

[2020-04-11 21:36] whedon commented on #2145
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02145/joss.02145/10.21105.joss.02145.pdf)

[2020-04-11 21:41] arfon commented on #2145
@whedon check references

[2020-04-11 21:41] whedon commented on #2145
[code]

[2020-04-11 21:43] arfon commented on #2145
@whedon set 10.5281/zenodo.3748758 as archive

[2020-04-11 21:43] whedon commented on #2145
OK. <a href="https://doi.org/10.5281/zenodo.3748758" target="_blank">10.5281/zenodo.3748758</a> is the archive.

[2020-04-11 21:44] arfon commented on #2145
@whedon accept

[2020-04-11 21:44] whedon commented on #2145
[code]

[2020-04-11 21:44] whedon commented on #2145
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1414

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1414, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-11 21:44] whedon commented on #2145
[code]

[2020-04-11 21:48] arfon commented on #2145
@sbrugman - a couple of quick changes please for us to proceed from here. Could you please add `10.25080/majora-92bf1922-00a` to the `doi` field of your BibTeX entry for that paper Whedon is suggesting (it looks to be a correct DOI suggestion).

Also, the fact that you have a `*` after your author names is causing issues with our production pipeline. Could you explain what you're trying to accompl

[2020-04-11 22:07] sbrugman commented on #2145
@whedon check references

[2020-04-11 22:08] whedon commented on #2145
[code]

[2020-04-11 22:08] sbrugman commented on #2145
The * is intended to indicate equal contribution.

[2020-04-11 22:42] arfon commented on #2145
@sbrugman -  could you merge this PR (https://github.com/dylan-profiler/visions/pull/48) or make a similar change?

[2020-04-11 22:56] ieaves commented on #2145
@arfon - Merged, thank you.

[2020-04-11 23:03] arfon commented on #2145
@whedon generate pdf

[2020-04-11 23:04] whedon commented on #2145
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02145/joss.02145/10.21105.joss.02145.pdf)

[2020-04-11 23:05] arfon commented on #2145
Can you check the new pdf proof looks ok (for denoting equal authorship?)

[2020-04-12 10:04] ejhigson commented on #2173
@sherbold I found the source of the problem. The error was in the creation of matplotlib figures not the generated latex. I had specified the matplotlib parameter text.usetex as True in my matplotlibrc but it seems your example and tests require text.usetex = False to run. With this matplotlib setting then everything works perfectly for me. You could perhaps consider adding a statement to check th

[2020-04-12 10:16] ejhigson commented on #2173
Here are a few other minor suggestions before I finish my review (sorry any of the below already exist and I have missed them):
1) please could you document how to run your tests in your documentation page? I tried running with nosetests and everything worked great but I think it is worth stating how to do this.
2) the API documentation in the docstrings is very good. Perhaps its worth explicitly

[2020-04-12 11:07] ejhigson commented on #2139
@terrytangyuan @NicolasHug @arfon I would be happy to review this submission if you would like?

[2020-04-12 12:06] arfon commented on #2139
Thanks @ejhigson - that would be great! I'm not sure of @terrytangyuan's availability so I'll go ahead and set up the review issue now.

[2020-04-12 12:06] arfon commented on #2139
@whedon add @ejhigson as reviewer

[2020-04-12 12:06] whedon commented on #2139
OK, @ejhigson is now a reviewer

[2020-04-12 12:06] arfon commented on #2139
@whedon start review

[2020-04-12 12:06] whedon opened #2174 "[REVIEW]: Surprise: A Python library for recommender systems"
**Submitting author:** @NicolasHug (<a href="http://orcid.org/0000-0003-1360-704X">Nicolas Hug</a>)
**Repository:** <a href="https://github.com/NicolasHug/Surprise" target ="_blank">https://github.com/NicolasHug/Surprise</a>
**Version:** v1.1.0
**Editor:** @terrytangyuan
**Reviewer:** @sara-02, @ejhigson
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/cd8a6f153e9111fb4114

[2020-04-12 12:06] whedon commented on #2139
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2174.

[2020-04-12 12:06] #2139 closed

[2020-04-12 12:06] whedon commented on #2174
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sara-02, @ejhigson it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2020-04-12 12:07] whedon commented on #2174
PDF failed to compile for issue #2174 with the following error:

 Can't find any papers to compile :-(

[2020-04-12 12:07] arfon commented on #2139
@sara-02, @ejhigson, @NicolasHug - see you all over in #2174 where the actual review will take place.

[2020-04-12 12:07] arfon commented on #2174
@whedon generate pdf from branch joss_paper

[2020-04-12 12:07] whedon commented on #2174
[code]

[2020-04-12 12:08] arfon commented on #2174
@sara-02, @ejhigson - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let @terrytangyuan know.

[2020-04-12 12:08] whedon commented on #2174
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02174/joss.02174/10.21105.joss.02174.pdf)

[2020-04-12 12:10] terrytangyuan commented on #2139
@arfon yes, thank you!

[2020-04-12 12:11] arfon commented on #2139
👋 hi @terrytangyuan - sorry for jumping in so quickly there!

[2020-04-12 12:16] sherbold commented on #2173
Thanks for the additional comments. I addressed them as follows:

- I added a UserWarning that shows when autorank is important if text.usetex==True. I am thinking about adding an additional UserWarning to plot_stats as well. But I will likely find the source for the problem with usetex at some point.
- I added a short guide for devs, including test execution: https://github.com/sherbold/autorank#

[2020-04-12 12:16] sherbold commented on #2173
@whedon generate pdf

[2020-04-12 12:16] whedon commented on #2173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02173/joss.02173/10.21105.joss.02173.pdf)

[2020-04-12 16:02] ejhigson commented on #2173
@sherbold thank you for these changes! Everything looks great to me. Congratulations on making a really neat piece of software.

[2020-04-12 19:49] joglekara commented on #2133
Hi @dpsanders , hope you are well at this time.

I've added documentation via ReadTheDocs as well as a quickstart guide to the README.md in the repo.

Looking forward to your feedback.

[2020-04-12 23:15] sjvrijn commented on #2049
@whedon generate pdf

[2020-04-12 23:15] whedon commented on #2049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02049/joss.02049/10.21105.joss.02049.pdf)

[2020-04-12 23:20] sjvrijn commented on #2049
@whedon set v2020.4.3 as version

[2020-04-12 23:20] whedon commented on #2049
I'm sorry @sjvrijn, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-04-12 23:31] sjvrijn commented on #2049
Hi @torressa, I believe I've now addressed all the issues you've raised in https://github.com/sjvrijn/mf2/issues/1 and https://github.com/sjvrijn/mf2/issues/2:

- I've added a documentation page: [Performance](https://mf2.readthedocs.io/en/latest/performance.html) which includes a comparison to the matlab code by [Surjanovic and Bingham](https://www.sfu.ca/~ssurjano/multi.html),
- added a statemen

[2020-04-12 23:58] arfon commented on #2049
:wave: @petroniocandido - how are you getting along with your review?

[2020-04-13 11:56] sbrugman commented on #2145
@afron Looks good, thank you.

[2020-04-13 12:08] arfon commented on #2145
@whedon accept deposit=true

[2020-04-13 12:08] whedon commented on #2145
[code]

[2020-04-13 12:09] whedon commented on #2145
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1249671099006300165) 👈 🐦🐦🐦

[2020-04-13 12:09] whedon commented on #2145
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1415
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02145](https://doi.org/10.21105/joss.02145)
2. If everything looks g

[2020-04-13 12:37] dfm commented on #1958
Hi all, my turn to apologize for the slow response!
Thanks for those submitting those pull requests, @sauln. They have now been merged, so can you take a last look at the checklist when you have time and let us know if there are any outstanding issues? Thanks!

[2020-04-13 12:43] arfon commented on #2145
@1313e, @fccoelho - many thanks for your reviews here and to @mjsottile for editing this submission ✨

@sbrugman - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-13 12:43] #2145 closed

[2020-04-13 12:43] whedon commented on #2145
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02145/status.svg)](https://doi.org/10.21105/joss.02145)

**We need your help!**

Journal of Open Source Softwa

[2020-04-13 14:31] arfon commented on #1584
:wave: just a friendly check-in to see how things are going with this review? @holtgrewe @mikkonie by the looks of things the reviewers are waiting on your input?

[2020-04-13 14:33] arfon commented on #1655
:wave: just a friendly check-in to see how things are going with this review? @stsievert - I note that there are a few un-checked items on your review list?

[2020-04-13 14:36] arfon commented on #1753
:wave: just a friendly check-in to see how you're getting on finding reviewers here @leouieda?

[2020-04-13 14:37] arfon commented on #1833
:wave: all just a friendly check-in to see how things are going with this review?

[2020-04-13 14:38] arfon commented on #1835
:wave: @alex-konovalov, just a friendly check-in to see how things are going with your review?

[2020-04-13 14:39] arfon commented on #1867
:wave: @PGomes92 @hooman650, just a friendly check-in to see how things are going with your reviews?

[2020-04-13 14:40] arfon commented on #1904
:wave: @So-Cool, just a friendly check-in to see how things are going with those last few steps outlined by @arokem?

[2020-04-13 14:42] arfon commented on #1917
:wave: @trallard &@alexanderfurnas, just a friendly check-in to see how things are going with your reviews?

[2020-04-13 14:44] arfon commented on #1988
@miketuri @VivianePons - :wave: how are you getting on potentially identifying additional reviewers?

[2020-04-13 14:45] arfon commented on #1989
:wave: @story645, @tacaswell, just a friendly check-in to see how things are going with your reviews?

[2020-04-13 14:46] arfon commented on #1992
:wave: @floux, @olivertomic, @greglandrum, just a friendly check-in to see how things are going with your reviews?

[2020-04-13 14:49] Sulstice commented on #1992
@arfon I have a blocker on oliver temporarily with a dependency issue on the package that we discovered last week. I need to apply a fix ASAP to the package. Sorry about the delay (had a lot of craziness happening with corona for work)

[2020-04-13 14:50] arfon commented on #2014
:wave: @will-rowe - this looks like it's pretty close to be ready to accept.

[2020-04-13 14:51] arfon commented on #2016
:wave:  @drwaseemsheikh, how are you getting on responding to the reviewer feedback?

[2020-04-13 14:51] olivertomic commented on #1992
@arfon I am in touch with @Sulstice regarding examples of how to run the software. Work in progress. :-)

[2020-04-13 14:53] arfon commented on #2017
:wave: @akeshavan - it looks like we have two complete reviews here now. Is this paper ready to be accepted?

[2020-04-13 14:54] arfon commented on #2034
:wave: @ali-ramadhan, just a friendly check-in to see how things are going with this review?

[2020-04-13 14:57] arfon commented on #2048
:wave: @xuanxu - how are we getting along here? Looks like this submission is getting pretty close to being ready to accept?

[2020-04-13 14:59] alex-konovalov commented on #1835
@arfon thanks for the reminder. We published GAP 4.11.0 which includes RepnDecomp (https://www.gap-system.org/Releases/4.11.0.html), I will try to complete the review shortly.

[2020-04-13 15:05] xuanxu commented on #2048
@arfon yeah, we're waiting for the author to address some minor issues mentioned by the reviewers to tick the last checkboxes, and then there's the license issue, I'm not sure if MOOG has already made explicit its license.

[2020-04-13 15:06] ejhigson commented on #2174
Hi @NicolasHug - congratulations on making a really awesome and very popular software package!

The install and examples all worked perfectly for me. The API documentation is very thorough too. I have couple of questions:

1) are there any similar other existing software packages for recommender systems? One of the review criteria is "Do the authors describe how this software compares to other com

[2020-04-13 15:12] arfon commented on #2060
@whedon set 10.5281/zenodo.3741495 as archive

[2020-04-13 15:12] whedon commented on #2060
OK. <a href="https://doi.org/10.5281/zenodo.3741495" target="_blank">10.5281/zenodo.3741495</a> is the archive.

[2020-04-13 15:12] arfon commented on #2060
@whedon set v0.3.0 as version

[2020-04-13 15:12] whedon commented on #2060
OK. v0.3.0 is the version.

[2020-04-13 15:12] arfon commented on #2060
@whedon accept

[2020-04-13 15:12] whedon commented on #2060
[code]

[2020-04-13 15:13] whedon commented on #2060
[code]

[2020-04-13 15:13] whedon commented on #2060
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1416

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1416, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-13 15:15] arfon commented on #2061
@jspaezp - I'm not sure if you want to do anything about this margin issue on this 👇figure/example?

<img width="725" alt="Screen Shot 2020-04-13 at 11 14 54 AM" src="https://user-images.githubusercontent.com/4483/79132271-06b08280-7d78-11ea-8ef9-5ffdb834f836.png">

[2020-04-13 15:17] arfon commented on #2060
@whedon accept deposit=true

[2020-04-13 15:17] whedon commented on #2060
[code]

[2020-04-13 15:17] jordanperr commented on #2171
Updated spelling of an author's name and added another author to the paper.
@whedon generate pdf from branch joss-review

[2020-04-13 15:17] arfon commented on #2062
:wave: @malmaud, just a friendly check-in to see how things are going with your review?

[2020-04-13 15:18] whedon commented on #2060
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1249718572630319105) 👈 🐦🐦🐦

[2020-04-13 15:18] whedon commented on #2060
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1417
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02060](https://doi.org/10.21105/joss.02060)
2. If everything looks g

[2020-04-13 15:18] arfon commented on #2077
:wave: @i-mtz, @JoaoRodrigues, just a friendly check-in to see how things are going with your reviews?

[2020-04-13 15:19] danielskatz commented on #2171
requests to @whedon have to be at the start of a comment

[2020-04-13 15:19] danielskatz commented on #2171
@whedon generate pdf from branch joss-review

[2020-04-13 15:19] whedon commented on #2171
[code]

[2020-04-13 15:20] arfon commented on #2086
:wave: @jedbrown - just checking that this is in good shape to start looking for reviewers?

@ShubhadeepSadhukhan1993 if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (pleas

[2020-04-13 15:21] whedon commented on #2171
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf)

[2020-04-13 15:21] arfon commented on #2060
@danasolav, @Kevin-Mattheus-Moerman many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission too ✨

@JoshuaSteer - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-13 15:21] #2060 closed

[2020-04-13 15:21] whedon commented on #2060
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02060/status.svg)](https://doi.org/10.21105/joss.02060)

**We need your help!**

Journal of Open Source Softwa

[2020-04-13 15:23] arfon commented on #2088
:wave: @oliviaguest - it looks like both of the reviews are complete here. Is this ready to accept from your perspective?

[2020-04-13 15:25] arfon commented on #2094
:wave: @ralfHielscher, just a friendly check-in to see how things are going with your review?

[2020-04-13 15:26] arfon commented on #2095
:wave: @harpolea, @dlagrava, just a friendly check-in to see how things are going with your reviews?

[2020-04-13 15:28] arfon commented on #2101
:wave: all, just a friendly check-in to see how things are going with this review?

[2020-04-13 15:30] arfon commented on #2107
:wave: @eteq & @dvanic, just a friendly check-in to see how things are going with your reviews?

[2020-04-13 15:31] arfon commented on #2109
:wave: @kyleniemeyer - how are things going here? Are you ready to start looking for reviewers for this submission?

[2020-04-13 15:32] arfon commented on #2111
:wave: @donaldRwilliams, just a friendly check-in to see how things are going with your responses to the review feedback here?

[2020-04-13 15:32] arfon commented on #2113
:wave: @drvinceknight, just a friendly check-in to see if you think you might be able to start looking for reviewers sometime soon?

[2020-04-13 15:34] arfon commented on #2116
:wave: @cMadan - looks like this is very close to being ready to accept?

[2020-04-13 15:34] arfon commented on #2117
:wave: @kblin & @mkhorton - just a friendly check-in to see how things are going with your reviews?

[2020-04-13 15:37] arfon commented on #2118
@whedon generate pdf from branch joss_porous_flow

[2020-04-13 15:37] whedon commented on #2118
[code]

[2020-04-13 15:38] arfon commented on #2118
:wave: @permcody @hsheldon @rpodgorney @OlafKolditz - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-04-13 15:39] arfon commented on #2121
@likask, @agshvarts, @srmnitc, @chennachaos - just a friendly check-in to see how things are going with your reviews?

[2020-04-13 15:39] arfon commented on #2123
:wave: @josephhardinee, @ekschuman - just a friendly check-in to see how things are going with your reviews?

[2020-04-13 15:40] arfon commented on #2124
:wave: all, just a friendly check-in to see how things are going with this review?

[2020-04-13 15:41] arfon commented on #2125
:wave:  @hpparvi, @DingXuefeng - just a friendly check-in to see how things are going with your reviews?

[2020-04-13 15:42] arfon commented on #2128
:wave: @kyleniemeyer - just a friendly reminder to try and organize some reviewers here.

[2020-04-13 15:43] arfon commented on #2131
:wave: @poulson - just a friendly reminder that we still need to identify some reviewers for this submission.

[2020-04-13 15:44] whedon commented on #2118
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02118/joss.02118/10.21105.joss.02118.pdf)

[2020-04-13 15:46] arfon commented on #2142
:wave: @richardjgowers - given there are two reviewers identified already I am going to move this forward to review. If you decide we need a third reviewer then we can add them during the review process later.

[2020-04-13 15:46] arfon commented on #2142
@whedon start review

[2020-04-13 15:47] whedon opened #2175 "[REVIEW]: taurenmd: A command-line interface for analysis of Molecular Dynamics simulations."
**Submitting author:** @joaomcteixeira (<a href="http://orcid.org/0000-0002-9113-0622">João M.C. Teixeira</a>)
**Repository:** <a href="https://github.com/joaomcteixeira/taurenmd" target ="_blank">https://github.com/joaomcteixeira/taurenmd</a>
**Version:** v0.8.9
**Editor:** @richardjgowers
**Reviewer:** @amritagos, @luthaf
**Archive:** <a href="https://doi.org/10.5281/zenodo.3843326" target="_bla

[2020-04-13 15:47] whedon commented on #2142
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2175.

[2020-04-13 15:47] #2142 closed

[2020-04-13 15:47] whedon commented on #2175
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amritagos, @luthaf it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2020-04-13 15:47] arfon commented on #2142
@amritagos, @Luthaf, @joaomcteixeira - see you all over in #2175 where the actual review will take place.

[2020-04-13 15:47] whedon commented on #2175
[code]

[2020-04-13 15:47] whedon commented on #2175
PDF failed to compile for issue #2175 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedon.rb:158:in `new': could not find repository from 'tmp/2175' (Rugged::RepositoryError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bfc2/lib/whedon.rb:158:in `detect_languages'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-45a043c4bf

[2020-04-13 15:48] arfon commented on #2175
@whedon generate pdf

[2020-04-13 15:48] whedon commented on #2175
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02175/joss.02175/10.21105.joss.02175.pdf)

[2020-04-13 15:50] arfon commented on #2175
@amritagos, @Luthaf -
please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let @richardjgowers know.

[2020-04-13 15:50] arfon commented on #2146
:wave: @gkthiruvathukal - just a friendly reminder that we're waiting on you to find some reviewers for this submission.

[2020-04-13 15:51] arfon commented on #2152
:wave: @drvinceknight - just a friendly reminder that we're waiting on you to identify some reviewers for this submission.

[2020-04-13 15:52] arfon commented on #2153
:wave: @mado89, @jaynanavati - just a friendly check-in to see how things are going with your reviews?

[2020-04-13 15:57] arfon commented on #2157
@whedon set v0.2.4 as version

[2020-04-13 15:57] whedon commented on #2157
OK. v0.2.4 is the version.

[2020-04-13 15:58] arfon commented on #2157
@whedon generate pdf

[2020-04-13 15:59] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-04-13 16:40] rabdill commented on #2124
Hi @arfon. I think my review is technically the missing piece. I'm not sure how this works within the JOSS review process, but I was hoping to wait for the completion of two issues that popped up [during review](https://github.com/openjournals/joss-reviews/issues/2124#issuecomment-599716247): https://github.com/rhagenson/relped/issues/42 https://github.com/rhagenson/relped/issues/43

In short, one

[2020-04-13 16:44] agshvarts commented on #2121
Hi @arfon Sorry for the delay, I started looking into it before the lockdown, and then got carried away. I will get back to it now.

[2020-04-13 16:49] hugoledoux commented on #1753
@leouieda @arfon I have a colleague at TUDelft who is willing to do it.

She is Athelena on GitHub

[2020-04-13 16:51] arosen93 commented on #2109
Hi @kyleniemeyer. I'd be happy to review this work.

[2020-04-13 16:54] kyleniemeyer commented on #2109
@whedon add @arosen93 as reviewer

[2020-04-13 16:54] whedon commented on #2109
OK, @arosen93 is now a reviewer

[2020-04-13 16:55] kyleniemeyer commented on #2128
Hi @llimeht @tmpchem and @cryos, would any of you be interested in reviewing this submission for JOSS?

I'm not sure if you've all reviewed for JOSS before (or recently), but we carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The package we would ask you to review is ["OpenDrop: Open-source so

[2020-04-13 16:56] kyleniemeyer commented on #2109
Thanks @arosen93! I need to find at least one additional reviewer, and then I'll formally start the review.

[2020-04-13 17:04] arfon commented on #2163
:wave: @lgatto, @bovee  - just a friendly check-in to see how things are going with your reviews?

[2020-04-13 17:07] arfon commented on #2165
:wave: @Shibabrat, @szhorvat - just a friendly check-in to see how things are going with your reviews?

[2020-04-13 17:07] arfon commented on #2166
:wave: @yarikoptic - just a friendly check-in to see how things are going with your review?

[2020-04-13 17:09] arfon commented on #2168
:wave: @balhoff - just a friendly check-in to see how things are going with your review?

[2020-04-13 17:10] leouieda commented on #1753
Hi @arfon and @hugoledoux thank you reminder and finding a willing reviewer! So far I had gotten a few maybes but no commitments. The limiting factor seems to be access to ArcGIS Pro. My guess is that the overlap between people with a license and those doing Python and OSS is not very large.

I'm hesitant to proceed to review with only a single reviewer, though. Particularly since I don't have acc

[2020-04-13 17:10] arfon commented on #2169
:wave: @mbdemoraes - there looks to be one checklist item unchecked still for your review. Have the updates from @daffidwilde address this item?

[2020-04-13 17:11] arfon commented on #2170
:wave: @dcassol, @mdozmorov - just a friendly check-in to see how things are going with your reviews?

[2020-04-13 17:18] arfon commented on #1992
👍 thanks for the updates @Sulstice and @olivertomic.

[2020-04-13 17:20] arfon commented on #2048
:+1: thanks!

[2020-04-13 17:23] malmaud commented on #2062
I had paused since it sounds like we're waiting for @cscherrer to add some tests and docs.

[2020-04-13 17:26] arfon commented on #2157
@thesketh - I made a minor whitespace formatting fix in https://github.com/thesketh/pygen-structures/pull/9 that it would be good to have merged before we accept and publish here.

[2020-04-13 17:26] arfon commented on #2157
@thesketh - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the auth

[2020-04-13 17:29] mbdemoraes commented on #2169
Hi @arfon , sorry for the delay. Rough week. Yes, the updates address my comments. I'm ready to approve the paper. :smiley:

[2020-04-13 17:37] arfon commented on #2062
👍got it. Thanks.

[2020-04-13 17:39] cscherrer commented on #2062
Thanks for checking in @arfon, I'll ping the reviewers when the tests and docs are ready for review

[2020-04-13 17:40] lgatto commented on #2163
I haven't been made aware that there was a revision to check.

[2020-04-13 17:43] thesketh commented on #2157
@whedon generate pdf

[2020-04-13 17:45] whedon commented on #2157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02157/joss.02157/10.21105.joss.02157.pdf)

[2020-04-13 17:45] thesketh commented on #2157
Thanks for the PR, @arfon. The v0.2.4 release already contains all the changes, the Zenodo DOI is 10.5281/zenodo.3739128

[2020-04-13 17:45] csoneson commented on #2163
@lgatto - I don't think there is.
@MetabolomicsAustralia-Bioinformatics - would you mind updating us on whether you had the chance to look at the reviewers' comments (and whether you were able to compile the paper with the above modifications)? Thanks!

[2020-04-13 17:47] arfon commented on #2157
@whedon set 10.5281/zenodo.3739128 as archive

[2020-04-13 17:47] whedon commented on #2157
OK. <a href="https://doi.org/10.5281/zenodo.3739128" target="_blank">10.5281/zenodo.3739128</a> is the archive.

[2020-04-13 17:47] arfon commented on #2157
@whedon accept

[2020-04-13 17:47] whedon commented on #2157
[code]

[2020-04-13 17:48] whedon commented on #2157
[code]

[2020-04-13 17:48] whedon commented on #2157
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1418

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1418, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-13 17:49] arfon commented on #2157
@whedon accept deposit=true

[2020-04-13 17:49] whedon commented on #2157
[code]

[2020-04-13 17:50] yarikoptic commented on #2166
@arfon sorry for the delay... will do today/tomorrow

[2020-04-13 17:51] whedon commented on #2157
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1249757116744847360) 👈 🐦🐦🐦

[2020-04-13 17:51] whedon commented on #2157
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1419
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02157](https://doi.org/10.21105/joss.02157)
2. If everything looks g

[2020-04-13 17:54] arfon commented on #2157
@dotsdl, @RMeli, @amandadumi - many thanks for your reviews here and to @richardjgowers for editing this submission ✨

@thesketh - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-13 17:54] #2157 closed

[2020-04-13 17:54] whedon commented on #2157
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02157/status.svg)](https://doi.org/10.21105/joss.02157)

**We need your help!**

Journal of Open Source Softwa

[2020-04-13 18:00] mdozmorov commented on #2170
The package has installation problems, the issues have been opened https://github.com/HajkD/LTRpred/issues/14, https://github.com/HajkD/LTRpred/issues/13. The review will continue when the package will be possible to test

[2020-04-13 18:01] JoaoRodrigues commented on #2077
Hi @arfon @NicoRenaud @CunliangGeng , this completely fell off my radar, I'm terribly sorry. Will reply as soon as possible!

[2020-04-13 18:04] agshvarts commented on #2121
### General checks
**Contribution and authorship:** The submitting author (@prs513rosewood) has clearly made the major contribution to the software (756 commits). However, regarding the list of authors, there is an AUTHORS file in the repository which lists two contributors who are not included as authors of the JOSS paper: Son Pham-Ba (49 commits) and Valentine Rey (18 commits). Furthermore, both

[2020-04-13 18:04] thesketh commented on #2157
Many thanks to @dotsdl, @RMeli, and @amandadumi for their reviews - the project is definitely in a better shape thanks to their helpful comments and suggestions - and to @richardjgowers and @arfon for editing :grin:

[2020-04-13 18:05] balhoff commented on #2168
Thanks for the reminder, @arfon! I can work on this this week.

[2020-04-13 18:23] likask commented on #2121
@agshvarts On OS X go with Docker installation, is quite smooth. Use Dockerfile from the tamaas repository.

[2020-04-13 18:26] corentin-dev commented on #2109
Dear Kyle,
I accept to review this submission.
Best regards,
Corentin

Le 13 avr. 2020 à 18:45, à 18:45, Kyle Niemeyer <notifications@github.com> a écrit:

[2020-04-13 18:33] fwitte commented on #2109
Looking forward to your review, @corentin-dev and @arosen93.
@kyleniemeyer, can you update the version number to 0.2.2? I plan to publish 0.3.0 shortly, so maybe even to 0.3.0 if it is ready within the next days?
Best regards
Francesco

[2020-04-13 18:43] dotsdl commented on #2157
Happy to do it @thesketh! I took a look at the documentation and I think it now looks great. Thank you for putting this together! :fireworks:

[2020-04-13 18:46] kyleniemeyer commented on #2109
@whedon set version as 0.2.2

[2020-04-13 18:46] whedon commented on #2109
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-04-13 18:46] kyleniemeyer commented on #2109
@whedon set 0.2.2 as version

[2020-04-13 18:46] whedon commented on #2109
OK. 0.2.2 is the version.

[2020-04-13 18:46] kyleniemeyer commented on #2109
@whedon add @corentin-dev as editor

[2020-04-13 18:46] whedon commented on #2109
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-04-13 18:59] will-rowe commented on #2014
@whedon generate pdf

[2020-04-13 19:01] whedon commented on #2014
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02014/joss.02014/10.21105.joss.02014.pdf)

[2020-04-13 19:30] will-rowe commented on #2014
Sorry for the delay @babinyurii (and @arfon) - I've been super busy with COVID stuff and my editorial responsibilities have unfortunately been neglected. My apologies.

The paper is looking great - thank you for you work in addressing all the reviewer comments and for improving the writing quality.

I have just submitted a small pull request to your repo that makes a few grammatically changes. htt

[2020-04-13 19:41] samuelduchesne commented on #1833
I believe we are ready to move forward with the publication of the code?

[2020-04-13 19:44] arfon commented on #2014
No need to apologize @will-rowe. I totally understand, I spent this morning bumping a whole bunch of review threads just to see how things were going and this one looked very close to being ready.

[2020-04-13 19:52] kyleniemeyer commented on #1833
@samuelduchesne sorry to lose track of this a bit—I didn't see a response to @brynpickering's last comments.

Also, it looks like @ThibaultMarzullo also had some missing items in the checklist.

[2020-04-13 19:52] kyleniemeyer commented on #2109
@whedon add @corentin-dev as reviewer

[2020-04-13 19:52] whedon commented on #2109
OK, @corentin-dev is now a reviewer

[2020-04-13 20:44] JoaoRodrigues commented on #2077
@whedon generate pdf

[2020-04-13 20:45] whedon commented on #2077
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02077/joss.02077/10.21105.joss.02077.pdf)

[2020-04-13 20:46] JoaoRodrigues commented on #2077
Hi @NicoRenaud @CunliangGeng

Thank you for addressing my points! I'd only add somewhere in the documentation page a mention to the `fetch` function. It's good for me! Approved!! Great work!

[2020-04-13 20:55] HajkD commented on #2170
Dear all,

with the most recent `Dockerfile` on GitHub it is now possible to run all examples shown in the manuscript. As well as playing with all `LTRpred` functions.

https://github.com/HajkD/LTRpred/blob/master/Dockerfile

This Dockerfile can be used to create a `ltrpred` Docker container as follows:

[code]
Now in the R prompt:
[code]

What is missing and I would like to add is the ability to

[2020-04-13 20:57] HajkD commented on #2170
P.S. I will also push the final docker image to `Docker Hub` so that users can easily retrieve `LTRpred`.

[2020-04-13 21:51] mjsottile commented on #2008
:wave: @arfon I haven't heard from @danielskatz so I assume he's busy at the moment.  Can you take a look at the issue I mention in my comment from last week?

[2020-04-13 22:34] danielskatz commented on #2008
sorry - I just missed the notification

[2020-04-13 22:36] danielskatz commented on #2008
I'm afraid the answer is is that all software that is in the repo must have OSI-approved licenses.

[2020-04-13 22:41] lpantano commented on #2077
Sorry, I need to get a new reviewer since one of them couldn't make it under the current COVID-19 situation. @NicoRenaud , if you have a reviewer in mind, let me know. I will try to find another as soon as possible.

[2020-04-13 23:05] igarizio commented on #2169
I am also done reviewing the changes and everything look good to me!

[2020-04-14 00:10] JoaoRodrigues commented on #2077
Not to overstep my boundaries as a reviewer, but if I can suggest people: @joaomcteixeira or @jgreener64. Both very skilled structural bioinformaticians and very active on Github.

[2020-04-14 00:15] lpantano commented on #2077
Thank you @JoaoRodrigues,  @joaomcteixeira or @jgreener64 are you interested on this tool and participate as reviewers? Thanks!

[2020-04-14 00:37] miketuri commented on #1988
Dear @arfon and @VivianePons ,  Thank you for the update and I hope all is well with you too.  I haven't made much progress looking through past JOSS authors for someone with Perl/Spice expertise, but I have reached out to a few other of my past contacts to see if they (or someone they know) could help review this.  I'll let you know if I receive a positive reply.  Thank you again for your work wi

[2020-04-14 00:56] arfon commented on #2169
@whedon generate pdf

[2020-04-14 00:57] whedon commented on #2169
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02169/joss.02169/10.21105.joss.02169.pdf)

[2020-04-14 00:57] arfon commented on #2169
@whedon check references

[2020-04-14 00:57] whedon commented on #2169
[code]

[2020-04-14 00:59] joaomcteixeira commented on #2077
@JoaoRodrigues @lpantano I am glad to help with this review process, it is a tool related to my background and research interests. I declare no conflict of interests.

[2020-04-14 01:00] arfon commented on #2169
@VivianePons - this all looks in pretty good shape to me. I'm not sure of your availability right now so I'll wait ~48 hours before moving this forward.

[2020-04-14 01:54] igarizio commented on #2169
@daffidwilde I may be wrong, but I think some of the changes need to be merged into the master branch. I think I can still generate the new pdf from your joss-review branch, but I'm not sure if whedon can check the references there.

[2020-04-14 01:54] igarizio commented on #2169
@whedon generate pdf from branch joss-review

[2020-04-14 01:54] whedon commented on #2169
[code]

[2020-04-14 01:55] whedon commented on #2169
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02169/joss.02169/10.21105.joss.02169.pdf)

[2020-04-14 01:59] mjsottile commented on #2008
@dmey I'm afraid the inclusion of files from a third-party that are under a different license than your project is a problem.  Looking at the list of files that appear to have the Environment Canada license text (with corresponding line counts):

[code]

That is a relatively tiny proportion of the overall code.  Do you have any thoughts on how to proceed?

[2020-04-14 03:15] lpantano commented on #2077
Thank you, @joaomcteixeira. I will add you tomorrow!

[2020-04-14 07:48] CunliangGeng commented on #2077
@JoaoRodrigues Thanks for the comment. The `fetch` has been mentioned in the docs but the docs build failed. Now it is fixed https://pdb2sql.readthedocs.io.

[2020-04-14 07:52] JoshuaSteer commented on #2060
That's fantastic news. Thanks everyone for all your help reviewing this!

[2020-04-14 08:02] mmrabe commented on #2134
@marcosvital, thank you very much! Sorry for the late response. My coauthors and I have had another look at the manuscript and have found no further issues.

[2020-04-14 08:52] likask commented on #2121
Hello  @prs513rosewood, I run unit tests and code stuck with
`build-release/tests/test_hertz_kato.py`
How long this test suppose to take?

[2020-04-14 09:04] Luthaf commented on #2117
@whedon generate pdf

[2020-04-14 09:04] whedon commented on #2117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02117/joss.02117/10.21105.joss.02117.pdf)

[2020-04-14 09:23] hugoledoux commented on #1753
Would that help if I take this one over? I think I can find people, in my "crowd" there are ArcGIS I reckon, pretty sure I can find another suitable one.

[2020-04-14 09:37] daffidwilde commented on #2169
Thank you for the confirmation @mbdemoraes :smile: I'll merge that PR into master now.

[2020-04-14 09:57] leouieda commented on #1753
@hugoledoux thank you for offering! It might be best since I'm poorly connected in the GIS world. I really appreciate it and hope you can get this moving forward. Let me know if I can help in any way.

[2020-04-14 09:58] ShubhadeepSadhukhan1993 commented on #2086
Thanks for the editorial process. We have chosen five names from the given list. Our suggestion list for reviewers is here.

iljah
pragyansmita
jmansour
corentine-dev
cpgr

[2020-04-14 10:11] hugoledoux commented on #1753
@leouieda sure I'll do that, happy to help.

@arfon not sure if that requires a formal change in the system but that would help me keep an overview.

[2020-04-14 10:40] agshvarts commented on #2121
Hi @likask, for me this test is passing, but the one just after is failing, so that's probably why the code is stuck for you. I am on the current master branch and the commit message says that the tests are supposed to fail. To skip failing tests I run it as:
`pytest build-release -v -k "not mindlin and not patch_plasticity"`

[2020-04-14 10:52] arfon commented on #1753
Sure thing. I can make the change here (you both also have the permissions to do this too 👇)

[2020-04-14 10:52] arfon commented on #1753
@whedon assign @hugoledoux as editor

[2020-04-14 10:52] whedon commented on #1753
OK, the editor is @hugoledoux

[2020-04-14 11:35] JonathanReardon commented on #2173
Hi @sherbold, what a useful tool, I can see this getting a lot of use. I've finished my review and I only have two minor (aesthetic) points:

1. The 'print(result)' output [https://sherbold.github.io/autorank/] does not display accurately. For me the 'RankResult(rankdf=' displays on the same line as the column titles and so shifts all titles to the right, making the overall display less clear. The

[2020-04-14 11:38] JonathanReardon commented on #2173
Hi @sherbold, what a useful tool, I can see this getting a lot of use. I've finished my review and I only have two minor (aesthetic) points:

The 'print(result)' output [https://sherbold.github.io/autorank/] does not display accurately. For me the 'RankResult(rankdf=' displays on the same line as the column titles and so shifts all titles to the right, making the overall display less clear. The bo

[2020-04-14 11:40] JonathanReardon commented on #2173
There is also a missing word in the 'output' example (https://sherbold.github.io/autorank/). In the last sentence I think it should be 'Based on the post-hoc Nemenyi test' rather than 'Based the post..'.

[2020-04-14 12:18] sherbold commented on #2173
Thank you @JonathanReardon . I have overwritten the namedtuple with a customized __str__ function. The output now uses newlines and looks as follows:
[code]
I also fixed the typo with the Nemenyi test.

I did not find the missing 'output'. Could you tell me exactly where to look? I seem to be typo-blind.

[2020-04-14 12:29] JonathanReardon commented on #2173
Thank you for making these changes @sherbold. The missing word in the example 'create_report(result)' output was the part you already corrected, sorry for the slight lack of clarity there on my part :)

My review is now complete, all boxes ticked. Congratulations on a great piece of software, I look forward to seeing it published and widely used.

Cheers

[2020-04-14 12:35] danielskatz commented on #2008
Just to be clear, the inclusion of files with a different license is not by itself the problem.

The problem is that
1. the licenses for all files needs to be OSI-approved (listed in https://opensource.org/licenses/alphabetical) - the Environment Canada license does not appear to be
2. licenses need to be compatible, which is a more complicated discussion

[2020-04-14 12:41] mado89 commented on #2153
I see that @arcuri82 is working on this repository. Which version should be reviewed? 1.0.0 or the snapshot for 1.0.2?

[2020-04-14 12:46] arfon commented on #2153
@arcuri82 - could you advise if there are any major changes between `v1.0.0` and `v1.0.2`?

[2020-04-14 12:50] lpantano commented on #2077
@whedon add @joaomcteixeira as reviewer

[2020-04-14 12:50] whedon commented on #2077
OK, @joaomcteixeira is now a reviewer

[2020-04-14 12:52] lpantano commented on #2077
@joaomcteixeira, I updated the top message so you have a checklist as the other reviewers to go through. Thanks!

[2020-04-14 12:55] sherbold commented on #2173
Thank you both @ejhigson and @JonathanReardon for the fast reviews and the helpful comments that really improved the tool and documentation again. The changes were small, but the impact in terms of user experience should be large :)

[2020-04-14 13:17] arfon commented on #2173
@sherbold - could you merge this fix to one of the DOIs? https://github.com/sherbold/autorank/pull/2

[2020-04-14 13:26] sherbold commented on #2173
@arfon done :)

[2020-04-14 13:26] joaomcteixeira commented on #2077
Thank you, I will do it during the course of today/tomorrow.

[2020-04-14 13:32] NicolasHug commented on #2174
Thanks for the review @ejhigson

I didn't include a comparison with other similar packages. Should I?
It's a bit tricky because recommendation has a very wide range of applications and usually, each library targets a specific one. That I know of, surprise is the only library that focuses on rating prediction and that is still maintained, in Python. There are also openrec, Spotlight and LightFM but

[2020-04-14 13:34] arfon commented on #2173
@whedon generate pdf

[2020-04-14 13:35] whedon commented on #2173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02173/joss.02173/10.21105.joss.02173.pdf)

[2020-04-14 13:37] arfon commented on #2173
@sherbold - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the auth

[2020-04-14 13:58] sherbold commented on #2173
Version 1.0.1 with all changes is released and available on PyPi: https://pypi.org/project/autorank/1.0.1/

There is also a long-term archive of 1.0.1 on Zenodo:
https://doi.org/10.5281/zenodo.3751301

@arfon Thank you for taking over and the fast process. I also want to stress how much I like the approach by JOSS and look forward to contributing back to the journal at some point, when things get

[2020-04-14 14:28] VivianePons commented on #2169
@whedon check references

[2020-04-14 14:28] kiretd commented on #1958
Hi @dfm and @sauln, thanks for the updates!

We did indeed merge the changes Saul generously provided, and my delay in response is because we're still working on some of the others (though they were listed as optional). I had a draft response, so I'll just put it below so it's clear where we are now.

If I remember correctly, I think we tried to do this, but it didn't look quite right. It looks li

[2020-04-14 14:29] whedon commented on #2169
[code]

[2020-04-14 14:30] VivianePons commented on #2169
Thanks @arfon I can handle it! I see that both reviewers are happy so we can move forward.

@daffidwilde can you give a final check and then create an archive (on Zenodo, figshare, or other) and send me the ref. I will have time to make a final pass on Friday and proceed with acceptance. Congrats! And thanks @mbdemoraes and @igarizio for the reviews

[2020-04-14 14:33] arcuri82 commented on #2153
the project is an active development (as it has been for the last 3.5 years).
The latest release is `v1.0.1` (see [release page](https://github.com/EMResearch/EvoMaster/releases)), and it was made 2 weeks ago. It is just bug fixes over `v1.0.0`.

The version `1.0.2-SNAPSHOT` is simply the working version in the master branch.

Which one to review? Both would be equivalent, as all new features unde

[2020-04-14 14:34] daffidwilde commented on #2169
Thank you very much everyone!

I'll get to that before Friday @VivianePons 👍

[2020-04-14 15:14] arfon commented on #2173
@whedon set 10.5281/zenodo.3751301 as archive

[2020-04-14 15:14] whedon commented on #2173
OK. <a href="https://doi.org/10.5281/zenodo.3751301" target="_blank">10.5281/zenodo.3751301</a> is the archive.

[2020-04-14 15:14] arfon commented on #2173
@whedon accept

[2020-04-14 15:14] whedon commented on #2173
[code]

[2020-04-14 15:15] whedon commented on #2173
[code]

[2020-04-14 15:15] whedon commented on #2173
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1420

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1420, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-14 15:37] sara-02 commented on #2174
@NicolasHug If not an exhaustive comparison then even an overview would do. I assume most projects on Recommendation Systems have been written as part of research projects and not maintained after that.
I recently found this markdown that is trying to curate a list of RecSys available for use, maybe you this to curate your related work section of the paper.
https://github.com/grahamjenson/list_of_

[2020-04-14 15:49] djmitche commented on #2124
(I've marked my review as complete but I concur with Rich's concerns)

[2020-04-14 15:52] arfon commented on #2173
@whedon accept deposit=true

[2020-04-14 15:52] whedon commented on #2173
[code]

[2020-04-14 15:53] whedon commented on #2173
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1250089749467070465) 👈 🐦🐦🐦

[2020-04-14 15:53] whedon commented on #2173
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1421
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02173](https://doi.org/10.21105/joss.02173)
2. If everything looks g

[2020-04-14 15:56] arfon commented on #2173
@JonathanReardon, @ejhigson - many thanks for your reviews here ✨

@sherbold - your paper is now accepted into JOSS :zap::rocket::boom:

Sure thing!

[2020-04-14 15:56] #2173 closed

[2020-04-14 15:56] whedon commented on #2173
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02173/status.svg)](https://doi.org/10.21105/joss.02173)

**We need your help!**

Journal of Open Source Softwa

[2020-04-14 16:03] sap218 commented on #2168
@wdduncan @majensen @balhoff I have made some fixes/changes, particularly changes to fix @wdduncan comments - paper.md has been updated too for a little more clarification. Let me know if you need any help!

[2020-04-14 16:04] sap218 commented on #2168
@whedon generate pdf

[2020-04-14 16:04] whedon commented on #2168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02168/joss.02168/10.21105.joss.02168.pdf)

[2020-04-14 17:49] donaldRwilliams commented on #2111
@arfon Hi. thank you for this check in. We are currently working on updating the documentation per the reviewers suggestions to include actual examples of hypotheses one can test.

[2020-04-14 21:08] WilkAndy commented on #2118
I check the article proof - it looks good, thank you.

[2020-04-14 21:10] hsheldon commented on #2118
@arfon I think I'm a bit too close to this manuscript to review. Already done an internal review on it.

[2020-04-14 21:12] dlagrava commented on #2095
@arfon I am really sorry, I haven't had almost any free time lately. We have two small children and with full lock-down here in New Zealand and I can tell you that it is hands-on to keep them busy. I will try to restart doing this in 2 weeks time, when schools may re-open and we may go back to some normality. Hope you are all well.

[2020-04-14 21:17] ejhigson commented on #2174
@NicolasHug :

I agree with @sara-02 that an overview would be useful.

I think this is useful information to include in the paper.

Aha sorry I missed this! With these instructions all the tests work perfectly for me.

[2020-04-14 21:19] jedbrown commented on #2118
@dflanderka @jbrezmorf @Paulie14 @janhybs Would any of you from the Flow123 project be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-04-14 21:26] arfon commented on #2095
@dlagrava - please, no apology is necessary. I totally understand that everyone’s situation is different right now, hence I’ve been checking in on all active JOSS reviews to see how authors, editors, and reviewers are getting on.

Please take your time and focus on your personal situation.

[2020-04-15 03:01] flammie commented on #2126
no worries, we're all busy with random things at the moment. If we can recruit freely I'd probably suggest from the reviewer pool of nlp oss workshop: https://nlposs.github.io/2020/index.html#programme-committee. I personally only know alvations (Liling Tan) who is organising but he may be quite busy.

[2020-04-15 03:42] MetabolomicsAustralia-Bioinformatics commented on #2163
Hi all, thanks for the reminder.

There’s been a full paper uploaded to the repo; I just haven’t provided any updates since I’m in the process of addressing reviewer comments re. better documentation, that I’ve done so far with sphinx (link in README).

However, the new, longer version still doesn’t compile with a complete references section. Is there some syntax error I’m missing? The .md and .bi

[2020-04-15 07:06] RMeli commented on #2157
It's been a pleasure to review this work, congratulations @thesketh !

[2020-04-15 08:44] ThibaultMarzullo commented on #1833
I've updated the checklist, I'm happy with this.

[2020-04-15 09:12] csoneson commented on #2163
Thanks for the update @MetabolomicsAustralia-Bioinformatics. Did you try this:

[2020-04-15 10:17] simonom commented on #1918
Thanks @arfon I have archived the relevant version of the software here: 10.5281/zenodo.3752677

[2020-04-15 10:38] torressa commented on #2049
@sjvrijn Perfect! Looks really good!

[2020-04-15 10:59] arfon commented on #1918
@whedon set 10.5281/zenodo.3752677 as archive

[2020-04-15 10:59] whedon commented on #1918
OK. <a href="https://doi.org/10.5281/zenodo.3752677" target="_blank">10.5281/zenodo.3752677</a> is the archive.

[2020-04-15 11:00] arfon commented on #1918
@whedon  accept

[2020-04-15 11:00] whedon commented on #1918
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-04-15 11:01] arfon commented on #1918
@whedon accept

[2020-04-15 11:01] whedon commented on #1918
[code]

[2020-04-15 11:02] whedon commented on #1918
[code]

[2020-04-15 11:02] whedon commented on #1918
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1422

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1422, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-15 11:58] arfon commented on #1918
@whedon accept deposit=true

[2020-04-15 11:58] whedon commented on #1918
[code]

[2020-04-15 12:00] whedon commented on #1918
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1250393575751286784) 👈 🐦🐦🐦

[2020-04-15 12:00] whedon commented on #1918
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1423
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01918](https://doi.org/10.21105/joss.01918)
2. If everything looks g

[2020-04-15 12:02] arfon commented on #1918
@dhhagan, @samjsilva91 - many thanks for your reviews here and to @jedbrown for editing this submission ✨

@simonom - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-15 12:02] #1918 closed

[2020-04-15 12:02] whedon commented on #1918
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01918/status.svg)](https://doi.org/10.21105/joss.01918)

**We need your help!**

Journal of Open Source Softwa

[2020-04-15 15:08] rpodgorney commented on #2118
I can provide a review.

Robert Podgorney, PhD, PG
Lead, Geothermal and Fossil Energy
Energy and Environment Division
Idaho National Laboratory

Office: 208-526-1524<tel:208-526-1524>
Cell: 208-520-9361<tel:208-520-9361>
email: robert.podgorney@inl.gov<mailto:robert.podgorney@inl.gov>

-sent from my mobile device, please excuse any typos or autocorrect errors

Statement of Confidentiality
The cont

[2020-04-15 16:45] fwitte commented on #2109
Hi guys,
I just wanted to let you know, how I plan my workflow for the review process:

- For any issues/proposals/... regarding the software, I will open a PR over at https://github.com/oemof/tespy and merge the changes into the dev branch.
- The documentation of the dev branch automatically updates and can be found at https://tespy.readthedocs.io/en/dev/index.html. I also append a short overview

[2020-04-15 16:51] arosen93 commented on #2109
Great! Thanks for the info. I've got a busy week but will be starting my review this weekend. You'll likely see some activity from me then.

Cheers!
Andrew

[2020-04-15 19:28] brynpickering commented on #1833
Would appreciate seeing an update to the paper / docs on cache performance, otherwise happy with everything 👍

[2020-04-15 22:07] jbrezmorf commented on #2118
I can make a review during the first week of May.

Jan Březina, Technical University of Liberec
jan _dot_ brezina _at_ tul _dot_ cz

[2020-04-15 22:11] jedbrown commented on #2118
@whedon add @jbrezmorf as reviewer

[2020-04-15 22:11] whedon commented on #2118
OK, @jbrezmorf is now a reviewer

[2020-04-15 22:12] jedbrown commented on #2118
@whedon add @rpodgorney as reviewer

[2020-04-15 22:12] whedon commented on #2118
OK, @rpodgorney is now a reviewer

[2020-04-15 22:12] jedbrown commented on #2118
@whedon start review

[2020-04-15 22:12] whedon opened #2176 "[REVIEW]: PorousFlow: a multiphysics simulation code for coupled problems in porous media"
**Submitting author:** @WilkAndy (<a href="http://orcid.org/0000-0001-6472-9560">Andy Wilkins</a>)
**Repository:** <a href="https://github.com/idaholab/moose" target ="_blank">https://github.com/idaholab/moose</a>
**Version:** snapshot-20-10-27
**Editor:** @jedbrown
**Reviewer:** @jbrezmorf, @rpodgorney
**Archive:** <a href="https://doi.org/10.5281/zenodo.4071026" target="_blank">10.5281/zenodo.40

[2020-04-15 22:12] whedon commented on #2118
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2176.

[2020-04-15 22:12] #2118 closed

[2020-04-15 22:12] whedon commented on #2176
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jbrezmorf, @rpodgorney it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2020-04-15 22:15] whedon commented on #2176
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02176/joss.02176/10.21105.joss.02176.pdf)

[2020-04-15 22:17] jedbrown commented on #2176
@jbrezmorf, @rpodgorney :wave: Welcome to JOSS and thanks for agreeing to review!

The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the MOOSE repository, which is where PorousFlow resides). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work wit

[2020-04-16 08:53] fwitte commented on #2109
Great, do not worry, I did/do not want to rush you.

Btw.: If you are testing code etc. you may want to install the dev version instead of the PyPi version (which is version 0.2.2) as the dev version already has some commits since 0.2.2 and breaks with the 0.2.x API. Just in case you do not know (you'll probably know :)), here is the workflow I usually go with:

0. If you have TESPy already instal

[2020-04-16 09:36] faroit commented on #2154
I am now back on the review. Thanks for your patience

[2020-04-16 09:36] faroit commented on #2135
I am now back on the review. Thanks for your patience

[2020-04-16 13:26] hugoledoux commented on #1753
Hello @Athelena & @fortinma, I'm happy that you have accepted to do this review.

I know it's your first time, so don't hesitate to ask question. You are also allowed to interact with the author (and me) here directly; the whole process is fully open to everyone.

(It's also my first review to handle, so I guess I have to figure things out too. "whedon" is our bot that helps us automate the review

[2020-04-16 13:27] hugoledoux commented on #1753
@whedon assign @Athelena as reviewer

[2020-04-16 13:27] whedon commented on #1753
OK, @Athelena is now a reviewer

[2020-04-16 13:27] hugoledoux commented on #1753
@whedon add @fortinma as reviewer

[2020-04-16 13:27] whedon commented on #1753
OK, @fortinma is now a reviewer

[2020-04-16 13:27] hugoledoux commented on #1753
@whedon start review

[2020-04-16 13:27] whedon opened #2177 "[REVIEW]: XLUR: A land use regression wizard for ArcGIS Pro"
**Submitting author:** @anmolter (<a href="http://orcid.org/0000-0002-0824-4478">Anna Mölter</a>)
**Repository:** <a href="https://github.com/anmolter/XLUR" target ="_blank">https://github.com/anmolter/XLUR</a>
**Version:** v1.0.1
**Editor:** @hugoledoux
**Reviewer:** @Athelena, @fortinma
**Archive:** <a href="https://doi.org/10.5281/zenodo.3889604" target="_blank">10.5281/zenodo.3889604</a>

## S

[2020-04-16 13:27] whedon commented on #1753
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2177.

[2020-04-16 13:27] #1753 closed

[2020-04-16 13:27] whedon commented on #2177
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Athelena, @fortinma it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-04-16 13:28] whedon commented on #2177
[code]

[2020-04-16 13:28] whedon commented on #2177
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02177/joss.02177/10.21105.joss.02177.pdf)

[2020-04-16 13:37] arfon commented on #2177
@anmolter - this PR should fix your DOIs: https://github.com/anmolter/PyLUR/pull/1

[2020-04-16 18:12] anmolter commented on #2177
@arfon  Thanks, I've merged it.

[2020-04-16 22:17] joaomcteixeira commented on #2077
Dear @lpantano and @NicoRenaud

I have the article and the details of the project proposed. The package presented is relevant to our community and can help facilitate several implementations on a daily basis. Also, it has a good basis to allow the implementation of additional functionalities. Congratulations to the authors for this package!

In the continuation of the review process, I have raised

[2020-04-16 23:47] mkhorton commented on #2117
Hi @arfon, I can't seem to check-off items on the review?

[2020-04-17 00:22] arfon commented on #2117
@whedon  re-invite @mkhorton as reviewer

[2020-04-17 00:22] whedon commented on #2117
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-04-17 00:22] arfon commented on #2117
@whedon re-invite @mkhorton as reviewer

[2020-04-17 00:22] whedon commented on #2117
The reviewer already has a pending invite.

@mkhorton please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-04-17 00:24] arfon commented on #2117
@mkhorton it looks like you need to accept the invitation to the repo? ☝️

[2020-04-17 00:43] prs513rosewood commented on #2121
Hi @likask @agshvarts and thanks for the feedback.

There was a problem with this test and docker (my Jenkins instance running the tests was also hanging on it, thanks to you I figured it was related to docker). I'm not sure what it was, but I refactored the test code and it seems to be working. That test is still kinda long (~30s) because the Stanley&Kato algorithm converges slowly to equilibrium

[2020-04-17 01:51] mkhorton commented on #2117
@arfon ah, thanks -- I thought I'd accepted for a previous review. I found the link but it says invite has expired.

[2020-04-17 03:55] bovee commented on #2163
Apologies for the delay; I made issues on the repo of things that I'd like to see before I can accept (in addition to the other changes in documentation and the paper requested), but forgot to link out here:

 - [ ] https://github.com/MetabolomicsAustralia-Bioinformatics/metabio/issues/1
 - [ ] https://github.com/MetabolomicsAustralia-Bioinformatics/metabio/issues/3
 - [ ] https://github.com/Metab

[2020-04-17 04:00] MetabolomicsAustralia-Bioinformatics commented on #2163
Hi Roderick,

Many thanks for your input. I’ll be getting onto these.

Regards,
Don
On 17 Apr 2020, 1:56 PM +1000, Roderick Bovee <notifications@github.com>, wrote:

[2020-04-17 07:57] daffidwilde commented on #2169
@VivianePons I've made a new release on GitHub and the Zenodo archive is [here](https://zenodo.org/record/3755304)

[2020-04-17 10:36] drvinceknight commented on #2169
DOI is `10.5281/zenodo.3755304`
Version is `v1.3.0`

[2020-04-17 11:59] arfon commented on #2117
@whedon re-invite @mkhorton as reviewer

[2020-04-17 11:59] whedon commented on #2117
OK, the reviewer has been re-invited.

@mkhorton please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-04-17 12:00] arfon commented on #2117
OK, could you try again now? Sorry about the disruption, it seems like GitHub expires repository invitations these days after a certain period.

[2020-04-17 12:35] albansouche commented on #2089
Hi @JaroslavHron,
Thank you for the nice feedback and comments. Here are my replies:

Comment 1: Yes, theta=1 corresponds to a fully implicit scheme, theta=0 to a fully explicit scheme, and theta=0.5 to a Crank-Nicolson scheme. One may also use the so-called shifted Crank-Nicolson scheme that corresponds to 0.5 + dt (the time step), “which allows for global stability of the solution” (Wick, 2011)

[2020-04-17 12:35] albansouche commented on #2089
@whedon generate pdf

[2020-04-17 12:36] whedon commented on #2089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02089/joss.02089/10.21105.joss.02089.pdf)

[2020-04-17 12:45] albansouche commented on #2089
@whedon generate pdf

[2020-04-17 12:45] whedon commented on #2089
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02089/joss.02089/10.21105.joss.02089.pdf)

[2020-04-17 12:57] albansouche commented on #2089
Hi @chennachaos,
Following your comment on the computational cost of the different parts of the solver, I modified some of the text and the figure present in the documentation (https://turtlefsi2.readthedocs.io/en/latest/verif_perf.html).

[2020-04-17 13:48] VivianePons commented on #2169
Hi @daffidwilde : I need the metadata to exactly match the paper (title and author) thanks!

[2020-04-17 13:55] daffidwilde commented on #2169
Oh yes, of course. I've sorted that now @VivianePons :+1:

[2020-04-17 13:57] rgmyr commented on #1969
Hi all, apologies for the wait. I've made some changes and additions to at least partially address both of @JesperDramsch's open issues. I expect there to be a few more changes before he is satisfied, but I also expect to be able to work on this much more in the short term in response to his feedback.

[2020-04-17 14:12] VivianePons commented on #2169
@whedon set 10.5281/zenodo.3755304 as doi

[2020-04-17 14:12] whedon commented on #2169
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-04-17 14:13] VivianePons commented on #2169
@whedon set 1.3.0 as version

[2020-04-17 14:13] whedon commented on #2169
OK. 1.3.0 is the version.

[2020-04-17 14:13] VivianePons commented on #2169
@whedon set 10.5281/zenodo.3755304 as archive

[2020-04-17 14:13] whedon commented on #2169
OK. <a href="https://doi.org/10.5281/zenodo.3755304" target="_blank">10.5281/zenodo.3755304</a> is the archive.

[2020-04-17 14:15] VivianePons commented on #2169
Congratulations @daffidwilde for having your paper accepted at JOSS! thanks again to the reviewers @mbdemoraes and @igarizio for their great work

[2020-04-17 14:15] VivianePons commented on #2169
@whedon accept

[2020-04-17 14:15] whedon commented on #2169
[code]

[2020-04-17 14:16] whedon commented on #2169
[code]

[2020-04-17 14:16] whedon commented on #2169
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1424

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1424, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-17 15:10] arfon commented on #2169
@whedon accept deposit=true

[2020-04-17 15:10] whedon commented on #2169
[code]

[2020-04-17 15:10] whedon commented on #2169
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1251166245967273984) 👈 🐦🐦🐦

[2020-04-17 15:10] whedon commented on #2169
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1425
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02169](https://doi.org/10.21105/joss.02169)
2. If everything looks g

[2020-04-17 15:17] arfon commented on #2169
@igarizio, @mbdemoraes - many thanks for your reviews here and to @VivianePons for editing this submission ✨

@daffidwilde - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-17 15:17] #2169 closed

[2020-04-17 15:17] whedon commented on #2169
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02169/status.svg)](https://doi.org/10.21105/joss.02169)

**We need your help!**

Journal of Open Source Softwa

[2020-04-17 17:27] mkhorton commented on #2117
Great, got it now. Thanks :)

[2020-04-17 17:53] mollenburger commented on #1978
I've completed the review checklist. Thanks

[2020-04-18 01:28] arosen93 commented on #2109
@kyleniemeyer -- will the review be opened soon for TESPy?

[2020-04-18 15:09] dmey commented on #2008
@mjsottile @danielskatz @arfon. Environment Canada has kindly agreed to a change of licence for the files in question to MIT. I have now updated the repository to reflect this change.  Please could you let me know if you would like to see additional changes. Many thanks.

[2020-04-18 20:27] drwaseemsheikh commented on #2016
Hello, I should have the required changes submitted in a couple of days and will notify as soon as I am done.

[2020-04-18 22:34] So-Cool commented on #1904
Thanks @arfon. We've had a bit of a delay but the things are heading in the right direction now and we should wrap it up relatively soon.

[2020-04-19 10:36] sjvrijn commented on #2049
@melissawm @arfon it's been over 2 months since Petrônio last responded. I realize these are special times, but would it be possible to ask for an additional reviewer?

[2020-04-19 10:55] jspaezp commented on #2061
Hello @arfon ,

I was discussing with @natallah on what the best way to handle it would be.
On one hand I want it to be faithful to actual code output, but it going over the margins is not really useful information.
I am not familiar with latex, (alternative 1) is there a way to make the font on code chunks smaller for it to fit ?
We could also (alternative 2) just crop the content to fit the marg

[2020-04-19 11:34] arfon commented on #2061
I think the second approach (cropping content) is probably the best one.

[2020-04-19 20:36] kbarnhart commented on #1969
@rgmyr Thanks for the update and continue to keep me posted here if anything changes.

I'll let @JesperDramsch continue to interact with you on the issue he opened (rgmyr/corebreakout/issues/11)

[2020-04-19 20:37] kbarnhart commented on #1978
@whedon generate pdf

[2020-04-19 20:38] kbarnhart commented on #1978
@whedon check references

[2020-04-19 20:38] whedon commented on #1978
[code]

[2020-04-19 20:40] kbarnhart commented on #1978
@whedon generate pdf

[2020-04-19 20:41] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2020-04-19 21:11] kbarnhart commented on #1978
@nkarasiak here are a few editorial comments on the paper. These comments mostly pertain to grammar, acronyms, references, and making sure the paper is suitable for a general audience. Once these are addressed, let me know and we will move forward with the manuscript process.

- [ ] I think the Summary section would benefit from a statement describing what a raster is relative to, say, and image o

[2020-04-19 21:29] kbarnhart commented on #2029
@whedon generate pdf

[2020-04-19 21:30] whedon commented on #2029
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02029/joss.02029/10.21105.joss.02029.pdf)

[2020-04-20 02:45] jspaezp commented on #2061
Hello @arfon,

I cropped it in commit jspaezp/sctree@ac02e43abb49f9f8bf228b900e9f4178fa076273

@natallah

[2020-04-20 02:45] jspaezp commented on #2061
@whedon generate pdf

[2020-04-20 02:46] whedon commented on #2061
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02061/joss.02061/10.21105.joss.02061.pdf)

[2020-04-20 03:33] vijaysm commented on #1906
@melissawm I don't see a checklist with my name on it at the top of the issue page. Please let me know where to update my progress.

[2020-04-20 04:15] gkthiruvathukal commented on #2146
@arfon It looks like I will be able to resume semi-normal operations later this week. I will definitely get on it. Thanks to everyone for waiting!

[2020-04-20 08:48] nkarasiak commented on #1978
@whedon generate pdf

[2020-04-20 08:49] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2020-04-20 08:54] nkarasiak commented on #1978
@whedon generate pdf from branch develop

[2020-04-20 08:54] whedon commented on #1978
[code]

[2020-04-20 08:55] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2020-04-20 09:08] nkarasiak commented on #1978
@whedon generate pdf from branch develop

[2020-04-20 09:08] whedon commented on #1978
[code]

[2020-04-20 09:09] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2020-04-20 10:11] nkarasiak commented on #1978
Hi @kbarnhart,
Thank you for the feedback, I updated according to your suggestions. The updated paper is only on the develop branch, let me know if I have to move it to the master branch.

Kind regards,
Nicolas.

[2020-04-20 12:18] kiretd commented on #1958
@whedon generate pdf

[2020-04-20 12:18] whedon commented on #1958
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01958/joss.01958/10.21105.joss.01958.pdf)

[2020-04-20 12:21] kiretd commented on #1958
@dfm @sauln
I've updated the paper and the repo with a new experiment that I think will satisfy one of the requests.
Cheers all, hope you're in good health.

[2020-04-20 12:23] noraeisner commented on #2101
@aureliocarnero, thank you for seeing that bug, I have changed those lines in example_parallelized_code.py. The final version has been uploaded to Github and the pip version updated (now version 0.1.18) for whenever you have the time. I have addressed Christina comments and am waiting to hear back. Thank you so much.

[2020-04-20 12:50] natallah commented on #2061
@arfon @jspaezp the proof looks good to me and I have no changes to suggest.

[2020-04-20 13:20] arfon commented on #2049
@sjvrijn - I'd like to wait another couple of weeks before we do this.

[2020-04-20 13:23] arfon commented on #1906
@vijaysm - I've added a checklist for you above.

[2020-04-20 13:25] arfon commented on #2061
@whedon check references

[2020-04-20 13:26] whedon commented on #2061
[code]

[2020-04-20 13:42] kbarnhart commented on #1978
@nkarasiak it looks to me like there are a couple of changes still remaining.

Once you have made them, please merge these changes into the main (master) branch.

[2020-04-20 14:21] nkarasiak commented on #1978
@whedon generate pdf from branch develop

[2020-04-20 14:21] whedon commented on #1978
[code]

[2020-04-20 14:22] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2020-04-20 14:26] nkarasiak commented on #1978
Hi @kbarnhart, sorry for the mistakes.
- I checked all the double spaces and extra spaces before question marks.
- I updated the two sentences to enhance you identified.

[2020-04-20 14:30] kbarnhart commented on #1978
@nkarasiak not a problem. There are, however, still some  extra spaces before colons in the text.

[2020-04-20 14:35] nkarasiak commented on #1978
@whedon generate pdf from branch develop

[2020-04-20 14:35] whedon commented on #1978
[code]

[2020-04-20 14:36] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2020-04-20 14:37] whedon commented on #1978
[code]

[2020-04-20 14:37] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2020-04-20 14:39] nkarasiak commented on #1978
@kbarnhart, it seems like I am a big fan of spaces before colons... including in the title... But now I'm cured :)

[2020-04-20 16:23] kyleniemeyer commented on #2109
@arosen93 yes, thanks for the reminder—I was just waiting to see if any of the other folks I had pinged responded.

[2020-04-20 16:23] kyleniemeyer commented on #2109
@whedon start review

[2020-04-20 16:23] whedon opened #2178 "[REVIEW]: TESPy: Thermal Engineering Systems in Python"
**Submitting author:** @fwitte (<a href="http://orcid.org/0000-0003-4019-0390">Francesco Witte</a>)
**Repository:** <a href="https://github.com/oemof/tespy" target ="_blank">https://github.com/oemof/tespy</a>
**Version:** v0.2.1
**Editor:** @kyleniemeyer
**Reviewer:** @arosen93, @corentin-dev
**Archive:** <a href="https://doi.org/10.5281/zenodo.3837555" target="_blank">10.5281/zenodo.3837555</a>

[2020-04-20 16:23] whedon commented on #2109
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2178.

[2020-04-20 16:23] #2109 closed

[2020-04-20 16:23] whedon commented on #2178
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arosen93, @corentin-dev it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2020-04-20 16:24] whedon commented on #2178
[code]

[2020-04-20 16:24] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-04-20 16:24] kyleniemeyer commented on #2178
👋 @fwitte @arosen93  @corentin-dev the actual review will take place in here. Thanks!

[2020-04-20 16:26] kyleniemeyer commented on #2178
@arosen93 linking your comments here: https://github.com/oemof/tespy/issues/180

[2020-04-20 16:28] kyleniemeyer commented on #1833
Hi @samuelduchesne, looks like we just need a few edits to the paper. Please let me know when you've done that, and I'll do my final checks.

[2020-04-20 17:02] melissawm commented on #1906
Thanks @arfon, sorry @vijaysm that was my mistake!

[2020-04-20 17:03] melissawm commented on #2049
Hello @arfon thanks for responding, I agree. @sjvrijn thanks for your patience

[2020-04-20 17:07] fwitte commented on #2178
@whedon commands

[2020-04-20 17:07] whedon commented on #2178
Here are some things you can ask me to do:

[code]

[2020-04-20 18:28] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-04-20 18:28] whedon commented on #2178
[code]

[2020-04-20 18:28] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-04-20 21:00] majensen commented on #2006
@uellue - hope you are staying healthy! How are things coming along?

[2020-04-20 21:08] uellue commented on #2006
@majensen Progress! It just turned into a bigger update, closing some long-standing TODO items in the process: https://github.com/LiberTEM/LiberTEM/pull/706

[2020-04-20 21:40] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-04-20 21:40] whedon commented on #2178
[code]

[2020-04-20 21:41] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-04-20 22:55] mjsottile commented on #2008
@dmey That looks like good progress.  The final thing you should do is verify on the CeCILL license documentation that you have the appropriate license for TEB.  Specifically, the documentation surrounding "borrowings" (e.g., the Environment Canada code) here:

https://cecill.info/placer.en.html

It appears that CeCILL-B is compatible with MIT.  It is not clear that the regular CeCILL 2.1 is.  Ple

[2020-04-21 01:16] arfon commented on #2061
@jspaezp - I made a couple of tiny formatting improvements in https://github.com/jspaezp/sctree/pull/14.

At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please m

[2020-04-21 02:27] drwaseemsheikh commented on #2016
I have fixed the following bugs which include the most important issues that were raised during the review process. I have committed my code changes and updated the installer binary file. You can test and verify that these issues have been fixed by installing the installer file under the install folder.

Fixed the following bugs:
1. If the symptoms or diagnosis list was empty, the application was

[2020-04-21 02:55] kbarnhart commented on #1978
@nkarasiak once you have considered nkarasiak/MuseoToolBox/pull/29 and updated the repositories `master` branch could you:

- [ ] Make a tagged release of your software, and indicate the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository).
- [ ] Check the archival deposit (e.g., in Zenodo) has the

[2020-04-21 09:38] peanutfun commented on #2165
We added installation instructions for MacPorts which hopefully help to resolve the installation issues, see [utopia!103](https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/merge_requests/103). Regarding the copyright issues we are in contact with the legal department of our university. If possible, we want to avoid the use of contributor license agreements for future contributions to the rep

[2020-04-21 09:42] platipodium commented on #2165
Thanks @peanutfun for checking in.  As stated before, I am fine with leaving the copyright issues unresolved for now.  I am currently (on and off) testing functionality of the software (expect this to be finalized this week) and then move on to the JOSS paper itself.  I'll create issues in your repo if I encounter any todo items for you to resolve.

[2020-04-21 10:01] alex-konovalov commented on #1835
@arfon @kaashif It all looks good to me - some minor remarks:

- the package has been migrated to https://github.com/gap-packages/RepnDecomp so I did not tick the first box which refers to the old repository. The link in the paper needs to be updated.

- installation instructions at https://github.com/gap-packages/RepnDecomp/blob/master/README.md describe how to install a development version of th

[2020-04-21 13:12] nkarasiak commented on #1978
Hi @kbarnhart
I updated and published the 0.13.0 version in the `master` branch :
- The git tagged version is [0.13.0](https://github.com/nkarasiak/MuseoToolBox/releases/tag/v0.13.0).
- The Zenodo archive version is also 0.13.0 with the [DOI 10.5281/zenodo.3759215](https://zenodo.org/record/3759215). Author list, title and ORCID have been added  in the archive deposit.

[2020-04-21 14:20] dmey commented on #2008
@mjsottile Sorry but I am not sure what you mean exactly -- the Environment Canada (EC) code is licensed under MIT and bundled into TEB for redistribution (i.e. in a CeCILL 2.1 project). MIT is a (very) permissive licence with no copyleft.

In [How to distribute my program under CeCILL page](https://cecill.info/placer.en.html) under [Inventory of the pieces of code and libraries that you use](http

[2020-04-21 14:29] kbarnhart commented on #1978
@whedon check references

[2020-04-21 14:30] whedon commented on #1978
[code]

[2020-04-21 14:30] kbarnhart commented on #1978
@whedon generate pdf

[2020-04-21 14:31] whedon commented on #1978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01978/joss.01978/10.21105.joss.01978.pdf)

[2020-04-21 14:34] kbarnhart commented on #1978
@whedon set v0.13.0 as version

[2020-04-21 14:34] whedon commented on #1978
OK. v0.13.0 is the version.

[2020-04-21 14:36] kbarnhart commented on #1978
@whedon set 10.5281/zenodo.3759215 as archive

[2020-04-21 14:36] whedon commented on #1978
OK. <a href="https://doi.org/10.5281/zenodo.3759215" target="_blank">10.5281/zenodo.3759215</a> is the archive.

[2020-04-21 14:37] kbarnhart commented on #1978
@nkarasiak I'm going to move this article to the final stage by notifying the JOSS editors in chief that it is ready to be published. They may or may note have have additional requests of you.

[2020-04-21 14:37] kbarnhart commented on #1978
@whedon accept

[2020-04-21 14:37] whedon commented on #1978
[code]

[2020-04-21 14:38] whedon commented on #1978
[code]

[2020-04-21 14:38] whedon commented on #1978
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1426

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1426, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-21 16:33] arfon commented on #1978
@whedon accept deposit=true

[2020-04-21 16:37] arfon commented on #1978
@whedon commands

[2020-04-21 16:43] whedon commented on #1978
[code]

[2020-04-21 16:44] whedon commented on #1978
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1252639377999757312) 👈 🐦🐦🐦

[2020-04-21 16:44] whedon commented on #1978
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1427
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01978](https://doi.org/10.21105/joss.01978)
2. If everything looks g

[2020-04-21 17:04] arfon commented on #1978
@cmillion, @mollenburger - many thanks for your reviews here and to @kbarnhart for editing this one ✨

@nkarasiak - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-21 17:04] #1978 closed

[2020-04-21 17:04] whedon commented on #1978
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01978/status.svg)](https://doi.org/10.21105/joss.01978)

**We need your help!**

Journal of Open Source Softwa

[2020-04-21 20:10] kaashif commented on #1835
Thanks for the feedback, I agree some of the phrasing is a bit awkward and I'll address your comments shortly. Also thanks for reminding me about the new installation instructions now that there are real releases and versions.

One comment:

It sounds fine to me from a linguistic perspective, but maybe this isn't how mathematicians really speak. Maybe I should say "representations allow us to use

[2020-04-21 20:33] alex-konovalov commented on #1835
@kaashif your new formulation sounds perfect to me, thanks! I think, saying "into linear algebra" is acceptable informally, but not in a paper.

[2020-04-21 20:35] mjsottile commented on #2008
@dmey Ok - I just wanted to make sure we had addressed @danielskatz second point re: license compatibility.  To my eye, it looks like we've addressed the license issue.  @danielskatz do you agree?  Assuming we're good I'll start my final pass over the review and materials.

[2020-04-21 20:35] mjsottile commented on #2008
@whedon generate pdf from branch joss-paper

[2020-04-21 20:35] whedon commented on #2008
[code]

[2020-04-21 20:36] whedon commented on #2008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02008/joss.02008/10.21105.joss.02008.pdf)

[2020-04-21 20:49] mjsottile commented on #2008
@whedon check references from branch joss-paper

[2020-04-21 20:49] whedon commented on #2008
[code]

[2020-04-21 20:49] whedon commented on #2008
[code]

[2020-04-21 20:51] mjsottile commented on #2008
@dmey Looks good.  The only issue I see with the paper are some capitalizations in the references - the Rozoff title should have St. Louis, Missouri capitalized (it appears "st. Louis, missouri" in the PDF).  Similarly, the Xue paper title has bad capitalization.  I think in both cases it's just a matter of strategic placement of curly braces in the BibTeX title fields to keep the case correct in

[2020-04-21 21:34] danielskatz commented on #2008
Re licenses, can @dmey please explain (maybe one more time, sorry), which licenses are currently used in the repository?

[2020-04-21 23:38] MariaTsantaki commented on #2048
Hi all,
The final point was about the license of MOOG that is available freely here: https://www.as.utexas.edu/~chris/moog.html. Before the pandemic, I had contacted the author who confirmed that MOOG is free to redistribute with the suggestion to add a disclaimer on the README that we are not taking responsibility for proper use of MOOG as it is also mentioned in his website but there is no expli

[2020-04-22 01:06] rhagenson commented on #2124
I agree that it should not be moved forward until I address the issues Rich noted. I apologize about any delays; I was correct that I am as available as ever, but that availability has not translated into productivity. My plan is to make significant progress on the aforementioned issues this week. Thank you to each of you for your patience with me.

[2020-04-22 01:37] danielskatz commented on #2048
No license means JOSS can't review it - the copyright owner needs to specify an OSI-approved license

[2020-04-22 04:31] dimpase commented on #1835
Thanks a lot for looking into this.

Just one remark - I think "irredicubles" is an acceptable domain terminology - the rest I agree with.

[2020-04-22 08:07] ipelupessy commented on #2048
Is that correct? MOOG is a dependency of FASMA (which we are reviewing). If MOOG is really public domain that should not be a problem since the source is there. But I think we should try to clarify the licence situation with the author of MOOG - I think the problem  is a bit cultural/generational, I have seen this before with astronomy software that predates open source licensing. the authors do n

[2020-04-22 09:54] sjvrijn commented on #2049
@whedon commands

[2020-04-22 09:54] whedon commented on #2049
Here are some things you can ask me to do:

[code]

[2020-04-22 09:56] sjvrijn commented on #2049
@whedon remind @sjvrijn in 3 weeks

[2020-04-22 09:56] whedon commented on #2049
I'm sorry @sjvrijn, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-04-22 10:13] alex-konovalov commented on #1835
Informally, it's fine, and it's clear from the context whether one means irreducible polynomials, or characters, or representations - but in the paper, I'd still prefer to avoid using adjectives as nouns.

[2020-04-22 10:56] dimpase commented on #1835
y8

[2020-04-22 11:46] danielskatz commented on #2048
Sorry, maybe I misunderstood.  What I am concerned with here is the license(s) of software in the repository that JOSS publishes, not those of dependencies in general.

Regarding "public domain", see https://opensource.org/node/878

Also note that JOSS is an OSI-affiliate, so the software it publishes must have OSI-approved licenses.

[2020-04-22 12:32] xuanxu commented on #2048
@danielskatz the issue here is that a specific dependency (MOOG) is being redistributed entirely with this package, so its code is included in the FASMA repo. Author has granted permission but there's no license file in the[ original site](http://www.as.utexas.edu/~chris/moog.html), so the question is: Is [this file included in the MOOG folder inside FASMA](https://github.com/MariaTsantaki/FASMA-s

[2020-04-22 12:36] danielskatz commented on #2048
The answer is no, unfortunately.

That file is kind of a statement about a license, but it's not really a license, nor is it an OSI-approved license.

This can most easily be resolved by the **author** of MOOG choosing an OSI-approved license, assuming he is the sole copyright owner and is allowed to do this.  No one but the copyright holder can set the license.

[2020-04-22 13:41] arfon commented on #2049
@whedon remind @sjvrijn in 3 weeks

[2020-04-22 13:41] whedon commented on #2049
Reminder set for @sjvrijn in 3 weeks

[2020-04-22 18:01] IgorBaratta commented on #2003
I finished my review. All boxes are now checked.
I was able to test it with the FEniCS and JuliaFEM libraries.
Also, the documentation is much better now.

S now, I recommend it for publication.

[2020-04-22 18:19] arfon commented on #2003
@whedon generate pdf

[2020-04-22 18:20] arfon commented on #2003
@whedon check references

[2020-04-22 18:20] whedon commented on #2003
PDF failed to compile for issue #2003 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02003.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-04-22 18:20] whedon commented on #2003
[code]

[2020-04-22 18:20] arfon commented on #2003
@whedon generate pdf

[2020-04-22 18:21] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-04-22 18:29] prs513rosewood commented on #2121
We have, with permission of everyone involved, amended the list of authors. The original choice was to have as authors the people who contributed to the elastic-plastic part of Tamaas, but since this publication should be the reference point for the library as a whole, and the paper mentions parts contributed by Valentine Rey and Son Pham-Ba, we have decided to include them (with their permission)

[2020-04-22 18:29] prs513rosewood commented on #2121
@whedon generate pdf

[2020-04-22 18:30] whedon commented on #2121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02121/joss.02121/10.21105.joss.02121.pdf)

[2020-04-22 18:42] arfon commented on #2003
@thelfer - I made a bunch of small changes to the paper in https://github.com/thelfer/MFrontGenericInterfaceSupport/pull/40 which are mostly designed to fix citation formatting.

Could you also review the suggested DOIs from Whedon [above](https://github.com/openjournals/joss-reviews/issues/2003#issuecomment-617948170) and update your BibTeX file where appropriate?

Finally, could you make a new r

[2020-04-22 18:46] thelfer commented on #2003
@arfon I just merged those feed-backs. I'll try to do what you ask as soon as possible.

[2020-04-22 19:24] thelfer commented on #2003
@whedon check references

[2020-04-22 19:24] whedon commented on #2003
[code]

[2020-04-22 19:25] thelfer commented on #2003
@whedon generate pdf

[2020-04-22 19:26] whedon commented on #2003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02003/joss.02003/10.21105.joss.02003.pdf)

[2020-04-22 19:56] vanbenschoten commented on #2159
Hi Arfon,
   Any update on the publication front? We're getting to the point where we
need to DOI to continue other lines of work. Thanks!

-Andrew

On Sun, Apr 5, 2020, 1:21 PM Arfon Smith <notifications@github.com> wrote:

[2020-04-22 20:34] sauln commented on #1958
Looks great! 👍

[2020-04-22 20:41] arfon commented on #2159
I'm afraid not sorry - it looks like we're really struggling to get any traction here with potential reviewers. This could be due to people struggling to keep up with life/their day jobs during the pandemic, or lack of interest/availability to review. Let me try another couple of folks here...

[2020-04-22 20:44] arfon commented on #2159
@wrathematics @jkahn - would you be willing to review this submission for JOSS? As past JOSS reviewers, you'll hopefully recall we carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

This review would be of the MPA project which aims to help researchers with analyzing time series data. The code is

[2020-04-22 22:46] coljac commented on #2159
I'll be take this one on if the editors would like. I didn't pipe up before as I'm not an R user, but I'll figure that part of it out.

[2020-04-22 23:24] vanbenschoten commented on #2159
@coljac thanks so much! We really appreciate it!

On Wed, Apr 22, 2020, 5:47 PM Colin Jacobs <notifications@github.com> wrote:

[2020-04-22 23:36] jkahn commented on #2159
Not a good one for me; R is far enough out of my wheelhouse to make it
difficult for me to compare to existing work.

On Wed, Apr 22, 2020, 4:25 PM Andrew Van Benschoten <
notifications@github.com> wrote:

[2020-04-22 23:41] arfon commented on #2159
Got it, thanks for responding @jkahn

@coljac - many thanks! I'll add you as a reviewer now but won't start the actual review process until we have identified a second reviewer.

[2020-04-22 23:42] arfon commented on #2159
@whedon add @coljac as reviewer

[2020-04-22 23:42] whedon commented on #2159
OK, @coljac is now a reviewer

[2020-04-23 00:15] vanbenschoten commented on #2159
@arfon I can find some more potential reviewers if that'd be helpful.

On Wed, Apr 22, 2020, 6:41 PM Arfon Smith <notifications@github.com> wrote:

[2020-04-23 00:16] arfon commented on #2159
Yes please @vanbenschoten.

[2020-04-23 01:38] vanbenschoten commented on #2159
ryEllison
mattbesancon
nidhog
osolari
zaxtax
mirca

[2020-04-23 03:46] thelfer commented on #2003
@arfon Done: https://zenodo.org/record/3762856#.XqEO7nUzaV4

[2020-04-23 06:23] krystophny commented on #2159
@vanbenschoten @arfon sorry, your mail slipped my inbox beginning of April. Do you still need reviewers? If yes, I'd be happy to do it! Best, Chris

[2020-04-23 08:00] dmey commented on #2008
@whedon generate pdf from branch joss-paper

[2020-04-23 08:00] whedon commented on #2008
[code]

[2020-04-23 08:04] whedon commented on #2008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02008/joss.02008/10.21105.joss.02008.pdf)

[2020-04-23 08:33] dmey commented on #2008
@mjsottile These have been fixed -- thank you. I am having an issue with the placement of Table 1 when this is typeset using the JOSS template. Would you know how to move Table 1 to page 2 so that the table is kept whole? I tried with a new line (using the HTML `<br>` tag) but that did not seem to have helped...

Sure, no problem. To recap, the TEB project repository is licensed under CeCILL 2.1.

[2020-04-23 11:31] danielskatz commented on #2008
Thanks - it seems that the license issue is resolved.

[2020-04-23 12:26] arfon commented on #2003
@whedon set 10.5281/zenodo.3762856 as archive

[2020-04-23 12:26] whedon commented on #2003
OK. <a href="https://doi.org/10.5281/zenodo.3762856" target="_blank">10.5281/zenodo.3762856</a> is the archive.

[2020-04-23 12:26] arfon commented on #2003
@whedon accept

[2020-04-23 12:26] whedon commented on #2003
[code]

[2020-04-23 12:27] whedon commented on #2003
[code]

[2020-04-23 12:27] whedon commented on #2003
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1428

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1428, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-23 12:28] arfon commented on #2003
@whedon accept deposit=true

[2020-04-23 12:28] whedon commented on #2003
[code]

[2020-04-23 12:28] arfon commented on #2159
@krystophny - yes please!

[2020-04-23 12:28] arfon commented on #2159
@whedon add @krystophny as reviewer

[2020-04-23 12:29] whedon commented on #2159
OK, @krystophny is now a reviewer

[2020-04-23 12:29] arfon commented on #2159
@whedon start review

[2020-04-23 12:29] whedon opened #2179 "[REVIEW]: MPA: a novel cross-language API for time series analysis"
**Submitting author:** @vanbenschoten (<a href="http://orcid.org/0000-0002-7944-6237">Andrew Van Benschoten</a>)
**Repository:** <a href="https://github.com/matrix-profile-foundation/joss_paper" target ="_blank">https://github.com/matrix-profile-foundation/joss_paper</a>
**Version:** Misc (multiple repos)
**Editor:** @arfon
**Reviewer:** @coljac, @krystophny
**Archive:** <a href="https://doi.org/1

[2020-04-23 12:29] whedon commented on #2159
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2179.

[2020-04-23 12:29] #2159 closed

[2020-04-23 12:29] whedon commented on #2179
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @coljac, @krystophny it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2020-04-23 12:29] whedon commented on #2003
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1253299955583930368) 👈 🐦🐦🐦

[2020-04-23 12:29] whedon commented on #2003
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1429
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02003](https://doi.org/10.21105/joss.02003)
2. If everything looks g

[2020-04-23 12:29] whedon commented on #2179
[code]

[2020-04-23 12:29] whedon commented on #2179
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02179/joss.02179/10.21105.joss.02179.pdf)

[2020-04-23 12:30] arfon commented on #2179
@coljac, @krystophny - thanks again for agreeing to review this submission! Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Unlike some JOSS submissions, the code for this review is in a [small number of repositories](https://gith

[2020-04-23 12:31] arfon commented on #2159
@coljac, @krystophny - thanks so much for agreeing to review this! See you and @vanbenschoten over in #2179 for the actual review.

[2020-04-23 12:32] arfon commented on #2003
@srmnitc, @IgorBaratta - many thanks for your reviews here ✨

@thelfer - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-23 12:32] #2003 closed

[2020-04-23 12:32] whedon commented on #2003
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02003/status.svg)](https://doi.org/10.21105/joss.02003)

**We need your help!**

Journal of Open Source Softwa

[2020-04-23 15:05] krystophny commented on #2179
### General checks

1) The source code of all three mentioned repositories is available. Please check that this information (links to the URLs) appears also in the final publication https://github.com/matrix-profile-foundation/joss_paper/issues/1
2) The codes are under the Apache License, which is OSI compliant and LICENSE files exist
3) All authors appear to have contributed significantly, the li

[2020-04-23 16:05] donaldRwilliams commented on #2111
@arfon @jayrobwilliams @paulgovan

I wanted to check in once more. We had received reviews for one of the methods that is implemented in the package (generally favorable) and we just finished that up. We also decided to follow the suggestions of @paulgovan to (1) make the paper more of a high level summary; and (2) also include real world examples (this was also suggested in the review).

Anyhow,

[2020-04-23 19:21] dpsanders commented on #2133
Hi @joglekara,

I'm well thanks; I hope you are too.

Sorry for the delay in getting to this.
The documentation looks very nice, thanks for doing that. That will definitely make the package more appealing and usable.

I'll start looking for referees.

[2020-04-23 19:35] dpsanders commented on #2133
👋 Hi @StanczakDominik, @TomGoffrey and @CFGrote

I hope you are all doing OK in these difficult times.

If you have any spare bandwidth, would you be able to review this JOSS submission? Thanks!

[2020-04-23 19:55] TomGoffrey commented on #2133
I'd be happy to.

[2020-04-23 19:59] dpsanders commented on #2133
Great, thanks @TomGoffrey!

[2020-04-23 20:00] whedon commented on #2133
OK, @TomGoffrey is now a reviewer

[2020-04-23 23:21] TomGoffrey commented on #2133
@whedon  generate pdf

[2020-04-23 23:21] whedon commented on #2133
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-04-23 23:22] TomGoffrey commented on #2133
@whedon commands

[2020-04-23 23:22] whedon commented on #2133
Here are some things you can ask me to do:

[code]

[2020-04-23 23:22] TomGoffrey commented on #2133
@whedon generate pdf

[2020-04-23 23:22] whedon commented on #2133
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02133/joss.02133/10.21105.joss.02133.pdf)

[2020-04-23 23:44] mjsottile commented on #2008
@dmey I didn't see any specific instructions in the JOSS docs but it does appear that you can use LaTeX commands to control formatting in pandoc (which is what whedon uses to generate the PDF).  See: https://stackoverflow.com/questions/16965490/pandoc-markdown-page-break

@arfon can weigh in - I think he knows Whedon best and would know how to do that.  Alternatively, you could break the paragraph

[2020-04-23 23:47] arfon commented on #2008
Yeah, I think you can issue LaTeX commands such as `\newpage` to control the document flow.

[2020-04-24 03:39] StanczakDominik commented on #2133
Wow, sure! It is my first time reviewing (hyped!) and I'd like to make sure I do a good job of it; what are the time frames like? Is it fine if I take a few days to really dig into it?

[2020-04-24 03:47] dpsanders commented on #2133
@StanczakDominik Great! Yes of course, please do.

[2020-04-24 03:58] StanczakDominik commented on #2133
Going through the comments section I see mentions of PlasmaPy. As a on-off maintainer of that package, which I'd describe as "still very smol" - that's a surprise, to be sure, but a welcome one. I don't know if that makes for any sort of conflict of interest, though? I'd be happy to do my best to review this package on a completely stand alone basis.

[2020-04-24 04:15] dpsanders commented on #2133
I don't see that as a conflict of interest, no. On the contrary @joglekara seems to be interested in having contact with that community.

[2020-04-24 04:33] StanczakDominik commented on #2133
Awesome, I'll get to it, then :)

[2020-04-24 08:44] dmey commented on #2008
@whedon generate pdf from branch joss-paper

[2020-04-24 08:44] whedon commented on #2008
[code]

[2020-04-24 08:44] whedon commented on #2008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02008/joss.02008/10.21105.joss.02008.pdf)

[2020-04-24 09:22] dmey commented on #2008
Forcing page 1 to end with `\newpage` has worked and Table 1 is now rendered whole -- thanks.

@mjsottile With regards to your last point in [#2008 (comment)](https://github.com/openjournals/joss-reviews/issues/2008#issuecomment-617407446), I added a [Zenodo metadata file](https://github.com/TEB-model/teb/blob/joss-paper/zenodo.json) to the repository. Can you please check that this is fine -- as

[2020-04-24 12:54] joglekara commented on #2133
@dpsanders : No problem about the delay at all. The times have not been kind to most this year so thanks a bunch for taking time to get this started.

@StanczakDominik : Appreciate your enthusiasm! @dpsanders is right in that I'm interested in further connecting with PlasmaPy. I think it'd be great to be able to put that package on firm ground.

Also, @TomGoffrey, @StanczakDominik , nice to e-meet

[2020-04-24 15:16] fortinma commented on #1753
@hugoledoux , really sorry to ask but I am unable to edit the checklist. I fear i may not have accepted the invitation that has now expired. I thought i had. My apologies for the trouble.

[2020-04-24 15:21] arfon commented on #2177
@whedon re-invite @fortinma as reviewer

[2020-04-24 15:21] whedon commented on #2177
OK, the reviewer has been re-invited.

@fortinma please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-04-24 15:23] arfon commented on #1753
@fortinma - I just re-invited you in #2177

[2020-04-24 15:59] koenderks commented on #2152
Dear editors,

I hope you are well. I have rebased the code in the `JfA-JOSS` branch to be consistent with the latest version of JASP (version 0.12.2), which came out today. This version is currently available to download from `https://jasp-stats.org/download/` and contains the `Audit` module as described in our submission. The rebase does not influence the files for our submission.

Sincerely,
Ko

[2020-04-24 16:42] arfon commented on #2152
Thanks @koenderks! Could you take a look at [this list of people](https://bit.ly/joss-reviewers) and suggest some potential reviewers?

[2020-04-24 18:30] marcosvital commented on #2134
Hi, @mmrabe! Sorry about the late reply. Let's move on, everything looks fine with the manuscript.

As one of our last steps, if you already didn't do this, you will need to archive the last release of the package (on Zenodo, figshare, or other of your choice). After that, post the version number and archive DOI here, and we can continue.

[2020-04-24 18:49] marcosvital commented on #2164
Hi, @Nicolas-Schmidt, sorry about the (yet another) late reply...

Let's move on, we are almost finished.

[2020-04-24 18:52] marcosvital commented on #2164
@whedon set 10.5281/zenodo.3746286 as archive

[2020-04-24 18:52] whedon commented on #2164
OK. <a href="https://doi.org/10.5281/zenodo.3746286" target="_blank">10.5281/zenodo.3746286</a> is the archive.

[2020-04-24 18:52] marcosvital commented on #2164
@whedon set v0.2.0 as version

[2020-04-24 18:52] whedon commented on #2164
OK. v0.2.0 is the version.

[2020-04-24 18:54] marcosvital commented on #2164
Now I will recommend acceptance, and the Editors in Chief will be tagged.

[2020-04-24 18:54] marcosvital commented on #2164
@whedon accept

[2020-04-24 18:54] whedon commented on #2164
[code]

[2020-04-24 18:55] whedon commented on #2164
[code]

[2020-04-24 18:55] whedon commented on #2164
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1430

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1430, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-24 19:12] arcuri82 commented on #2153
@whedon generate pdf

[2020-04-24 19:13] whedon commented on #2153
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02153/joss.02153/10.21105.joss.02153.pdf)

[2020-04-24 19:15] danielskatz commented on #2164
I'll take this from here

[2020-04-24 19:31] danielskatz commented on #2164
@Nicolas-Schmidt - please merge https://github.com/Nicolas-Schmidt/BayesMFSurv/pull/6

[2020-04-24 19:35] danielskatz commented on #2164
@whedon accept

[2020-04-24 19:35] whedon commented on #2164
[code]

[2020-04-24 19:36] whedon commented on #2164
[code]

[2020-04-24 19:39] arcuri82 commented on #2153
thanks @mado89 for your feedback. i made changes and updated the paper. Let me know if you require further changes

Question to @arfon: is @jaynanavati active? I was looking at his/her GitHub profile today, and it does not seem there is any activity whatsoever on GitHub:  https://github.com/jaynanavati?tab=overview&from=2020-04-01&to=2020-04-24
Or did I miss something?  (I apologize in that case)

[2020-04-24 19:40] danielskatz commented on #2164
@whedon generate pdf

[2020-04-24 19:40] whedon commented on #2164
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02164/joss.02164/10.21105.joss.02164.pdf)

[2020-04-24 19:41] danielskatz commented on #2164
👋 @arfon - note that the previous accepted didn't see to complete, but I'm going to try a real accept anyhow...

[2020-04-24 19:41] danielskatz commented on #2164
@whedon accept deposit=true

[2020-04-24 19:41] whedon commented on #2164
[code]

[2020-04-24 19:42] whedon commented on #2164
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1253771361325064193) 👈 🐦🐦🐦

[2020-04-24 19:42] whedon commented on #2164
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1431
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02164](https://doi.org/10.21105/joss.02164)
2. If everything looks g

[2020-04-24 19:44] danielskatz commented on #2164
Thanks to @alletsee & @andybega for reviewing, and @marcosvital for editing!

Congratulations to @Nicolas-Schmidt and co-authors!

[2020-04-24 19:44] #2164 closed

[2020-04-24 19:44] whedon commented on #2164
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02164/status.svg)](https://doi.org/10.21105/joss.02164)

**We need your help!**

Journal of Open Source Softwa

[2020-04-24 20:57] yangkcatiu commented on #2113
👋 @drvinceknight @arfon We hope everything is alright! We understand this is a hard time for everyone and everything moves slower. It's just that we are preparing a project update for the funding agency and we hope to push this paper forward a little bit before the deadline.

[2020-04-24 21:04] mmrabe commented on #2134
Hi @marcosvital! Thanks! I just archived the package using Zenodo. The current version number is v0.1.7 (was v0.1.6 upon submission) and the Zenodo DOI is: 10.5281/zenodo.3765843

[2020-04-25 08:56] anmolter commented on #2177
@arfon  @hugoledoux  There was an article published in Frontiers of Environmental Science & Engineering last months (https://doi.org/10.1007/s11783-020-1221-5) about a GIS tool called 'PyLUR'. There's no link in the article to the tool, so I can't compare the code to mine, but reading the article I think there are definite differences, e.g. the published tool can't produce hybrid models, it doesn'

[2020-04-25 09:02] anmolter commented on #2177
@arfon @hugoledoux  Will renaming the repository cause any issues?

[2020-04-25 11:13] arfon commented on #2153
Not clear. I'd like us to wait longer before considering changing out reviewers, especially as so many people's lives are severely disrupted by COVID-19.

[2020-04-25 11:15] arfon commented on #2113
:wave: @rodogi @szhorvat @gvegayon - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-04-25 11:16] arfon commented on #2177
No, this should be fine. Just let us know the new repository address and the updated name for the package (you can update the `paper.md` yourself).

[2020-04-25 11:27] szhorvat commented on #2113
@arfon I'm still behind with a review for JOSS, which turned out to be more work than expected, so I cannot formally commit this time. It looks interesting though, so if time permits, I might post a few comments in the review thread.

[2020-04-25 11:29] arfon commented on #2113
No worries @szhorvat - thanks for the quick response (and apologies for not checking first to see if you were already actively reviewing for us).

[2020-04-25 11:30] szhorvat commented on #2113
I think it's okay to ask. We can always refuse, and as I said, it does look interesting.

[2020-04-25 11:43] arcuri82 commented on #2153
COVID-19 is indeed a problem :(
However, what is peculiar here is that @jaynanavati account was created in 2018, and there is absolutely no activity of any kind since then (unless all activities are in private repositories, and then those are not shown).
Anyway, I am not in a hurry :)

[2020-04-25 13:32] kaashif commented on #1835
@whedon generate pdf

[2020-04-25 13:33] whedon commented on #1835
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01835/joss.01835/10.21105.joss.01835.pdf)

[2020-04-25 13:36] kaashif commented on #1835
@whedon generate pdf

[2020-04-25 13:37] whedon commented on #1835
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01835/joss.01835/10.21105.joss.01835.pdf)

[2020-04-25 13:41] dimpase commented on #1835
URL for GAP is off, and also there should be abn URL for the package itself

[2020-04-25 13:45] dimpase commented on #1835
text says "we produced a package for GAP" - the package should be named (and perhaps hyperlinked to its URL)

[2020-04-25 14:28] kaashif commented on #1835
Suggestions from @alex-konovalov:

The latest PDF which I have generated contains a correct link to the repository at
https://github.com/gap-packages/RepnDecomp.

I improved the installation instructions in [the README](https://github.com/gap-packages/RepnDecomp#installation).

I changed this to "When studying problems in algebra and combinatorics, it is often useful to also study associated repre

[2020-04-25 14:28] kaashif commented on #1835
@whedon generate pdf

[2020-04-25 14:29] whedon commented on #1835
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01835/joss.01835/10.21105.joss.01835.pdf)

[2020-04-25 14:36] arcuri82 commented on #2153
I would like to apologize: I forgot (or did not pay proper attention) of the "[PRE REVIEW]" #2001 , where @jaynanavati explicitly stated to be willing to be a reviewer. Somehow, I was worried that a wrong user was added by mistake to this review, and just wanted to double-check :)

[2020-04-25 15:20] dimpase commented on #1835
OK, few more things:

- add a reference to Kaashif's MSc thesis (the implementation of the package was a part of KH's MSc thesis)
- add an acknowledgement to CODIMA (K.H. thanks Collaborative Computational Project (CCP) in the area of Computational Discrete Mathematics, supported by the EPSRC (EP/M022641/1) for supporting his participation in a GAP workshop)
- add an acknowledgement of OpenDreamKi

[2020-04-25 15:39] kaashif commented on #1835
@whedon generate pdf

[2020-04-25 15:39] whedon commented on #1835
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01835/joss.01835/10.21105.joss.01835.pdf)

[2020-04-25 15:46] kaashif commented on #1835
@whedon generate pdf

[2020-04-25 15:47] whedon commented on #1835
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01835/joss.01835/10.21105.joss.01835.pdf)

[2020-04-25 15:51] dimpase commented on #1835
Looks good to go. Thanks a lot!

[2020-04-25 17:28] jaynanavati commented on #2153
Dear Editor,

Kindly replace me with someone else as I don't have spare time to review
the work nowadays.

Thank you.

Regards,

Dr. Jay Nanavati

On Mon, 13 Apr, 2020, 9:22 PM Arfon Smith, <notifications@github.com> wrote:

[2020-04-25 20:12] Kevin-Mattheus-Moerman commented on #1867
@PGomes92 @hooman650 can you please finalize the review process or else let us know if you are still able to review this submission? Thanks.

[2020-04-25 20:13] Kevin-Mattheus-Moerman commented on #2047
@nicoguaro how are you getting on? Let me know when you are ready to resume this submission.

[2020-04-25 20:25] jspaezp commented on #2061
I think it is done, I used Zenodo for the upload,

@arfon and @natallah

https://doi.org/10.5281/zenodo.3766467

Let me know if further actions are required.
Kindest wishes and appreciating your help,
Sebastian

[2020-04-25 21:10] arfon commented on #2153
@arcuri82 - looks like we're going to need to find another reviewer - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-04-25 21:11] arfon commented on #2061
@jenzopr - could you merge https://github.com/jspaezp/sctree/pull/14 please?

[2020-04-25 23:37] arfon commented on #2061
@whedon set 10.5281/zenodo.3766467 as archive

[2020-04-25 23:37] whedon commented on #2061
OK. <a href="https://doi.org/10.5281/zenodo.3766467" target="_blank">10.5281/zenodo.3766467</a> is the archive.

[2020-04-25 23:37] arfon commented on #2061
@whedon accept

[2020-04-25 23:37] whedon commented on #2061
[code]

[2020-04-25 23:37] whedon commented on #2061
[code]

[2020-04-25 23:38] whedon commented on #2061
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1432

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1432, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-26 00:21] nicoguaro commented on #2047
@Kevin-Mattheus-Moerman, this is in my TODO list. But dealing with online lectures have left little free time.

[2020-04-26 04:59] suyashkumar commented on #2159
@arfon apologies for missing the review request. I've had my hands full recently, but I'll be available for around 1 review a month of capacity starting around end of May!

Hope everyone is staying safe and healthy!

[2020-04-26 06:48] torressa commented on #1655
@whedon generate pdf

[2020-04-26 06:49] whedon commented on #1655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01655/joss.01655/10.21105.joss.01655.pdf)

[2020-04-26 06:52] torressa commented on #1655
@whedon generate pdf

[2020-04-26 06:52] whedon commented on #1655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01655/joss.01655/10.21105.joss.01655.pdf)

[2020-04-26 06:56] torressa commented on #1655
@whedon generate pdf

[2020-04-26 06:56] whedon commented on #1655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01655/joss.01655/10.21105.joss.01655.pdf)

[2020-04-26 06:59] torressa commented on #1655
Just updated the paper with a list of linked examples.
Sorry for the bombarding, couldn't get the bullets to work

[2020-04-26 12:02] arcuri82 commented on #2153
@arfon - considering the ones that have been already contacted in #2001, then some other possibilities could be:
- @feliperodri
- @hainesr
- @s0nata
- @UTH-Tuan
- @shanamatthews
thanks

[2020-04-26 12:38] arfon commented on #2061
@whedon accept deposit=true

[2020-04-26 12:38] whedon commented on #2061
[code]

[2020-04-26 12:39] whedon commented on #2061
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1254389664695320576) 👈 🐦🐦🐦

[2020-04-26 12:39] whedon commented on #2061
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1433
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02061](https://doi.org/10.21105/joss.02061)
2. If everything looks g

[2020-04-26 12:41] arfon commented on #2061
@mschubert, @jenzopr - many thanks for your reviews here and to @will-rowe for editing this submission ✨

@jspaezp - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-04-26 12:41] #2061 closed

[2020-04-26 12:41] whedon commented on #2061
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02061/status.svg)](https://doi.org/10.21105/joss.02061)

**We need your help!**

Journal of Open Source Softwa

[2020-04-26 15:06] StanczakDominik commented on #2133
@whedon add @StanczakDominik as reviewer

[2020-04-26 15:06] whedon commented on #2133
I'm sorry @StanczakDominik, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-04-26 15:07] StanczakDominik commented on #2133
Right, @dpsanders, may I ask you to run that command? :smiley:

[2020-04-26 15:26] dpsanders commented on #2133
Ah, sorry, of course

[2020-04-26 15:26] dpsanders commented on #2133
@whedon add @StanczakDominik as reviewer

[2020-04-26 15:26] whedon commented on #2133
OK, @StanczakDominik is now a reviewer

[2020-04-26 15:52] StanczakDominik commented on #2133
Thanks, both of you! #EqualityForBots

[2020-04-26 16:43] chennachaos commented on #2089
Thanks for your response, @albansouche.

I have the following comments regarding the software paper.

* **Summary:** is nicely written.

* **A statement of need:** It is not clear what the motivation is and who the target audience are. Although the monolithic FSI solvers are robust, they are notorious to be computationally expensive beyond 100,000 DOFs, even for benchmark problems. Please note tha

[2020-04-26 17:30] chennachaos commented on #2089
I still have some issues in understanding the computational times reported in the "Solver performance" page.
In a tetrahedral mesh with 63,000 first-order elements, there would be about 15000 nodes. Based on this, I estimate the total DOFs for the monolithic scheme to be about 60,000. My experience indicates that the matrix factorisation step should not take 1000 seconds (~16 minutes) (assuming th

[2020-04-26 20:45] anmolter commented on #2177
@arfon  @hugoledoux  I've renamed the package and repository 'XLUR'. The address is: https://github.com/anmolter/XLUR . I've also updated paper.md and I've gone through the documentation and changed the name.

[2020-04-27 04:03] arosen93 commented on #2178
@fwitte: I can confirm that, in my view, TESPy fulfills all the required checkboxes for the review. In particular, I am very impressed with the extensive documentation and examples provided with the code. I also think the manuscript is greatly improved, now that it more clearly specifies the variables used and takes a more general approach with regards to the equations. I can confirm that the code

[2020-04-27 05:48] fwitte commented on #2178
@arosen93: Thank you very much for your comments, take your time and have fun :).

Haha, I like this one. When there is too much work on the desk, you must find your priorities... Thank you very much for the hint! I addressed this over at https://github.com/oemof/tespy/pull/181 (https://tespy--181.org.readthedocs.build/en/181/developing_tespy.html#tests).

Addressed these comments as well.

Have a

[2020-04-27 07:45] hainesr commented on #2153
Hi all,

I am interested in this work, but I am terribly sorry I can't see that I could review it in a timely manner at the moment. Home schooling is currently a large drain on my resources!

Rob

[2020-04-27 09:12] jenzopr commented on #2061
Congrats!!

[2020-04-27 10:52] dfm commented on #1958
Thanks @sauln! Can you take a look at the checklist at the top of this issue to see if there are any that still have open questions? Once you're happy, I'll do some last checks and we'll be ready to proceed with acceptance.

[2020-04-27 11:21] marcosvital commented on #2134
@whedon set 10.5281/zenodo.3765843 as archive

[2020-04-27 11:21] whedon commented on #2134
OK. <a href="https://doi.org/10.5281/zenodo.3765843" target="_blank">10.5281/zenodo.3765843</a> is the archive.

[2020-04-27 11:22] marcosvital commented on #2134
@whedon set v0.1.7 as version

[2020-04-27 11:22] whedon commented on #2134
OK. v0.1.7 is the version.

[2020-04-27 11:22] marcosvital commented on #2134
@whedon accept

[2020-04-27 11:22] whedon commented on #2134
[code]

[2020-04-27 11:22] whedon commented on #2134
[code]

[2020-04-27 11:23] whedon commented on #2134
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1434

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1434, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-04-27 12:08] natallah commented on #2061
Thank you for all your comments and suggestions!  You all have made it a better package and submission! @will-rowe @jspaezp @jenzopr @arfon

[2020-04-27 12:19] danielskatz commented on #2134
Thanks - I'll take this from here

[2020-04-27 12:22] mado89 commented on #2153
I will take a look at it. Sorry once again for being so slow on this review. Hopefully, the second reviewer - once found - can do their job faster than me so that you won't be delayed for much longer

[2020-04-27 12:25] danielskatz commented on #2134
👋 @mmrabe - please update the metadata in the Zenodo archive, specifically the title, to match the JOSS paper

[2020-04-27 13:34] arfon commented on #2177
Thanks @anmolter, I've updated the repository address here too.

[2020-04-27 13:37] mmrabe commented on #2134
Thanks for pointing that out, @danielskatz. I have now updated the title in Zenodo.

[2020-04-27 13:47] danielskatz commented on #2134
@whedon accept deposit=true

[2020-04-27 13:47] whedon commented on #2134
[code]

[2020-04-27 13:48] whedon commented on #2134
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1254769396632993792) 👈 🐦🐦🐦

[2020-04-27 13:48] whedon commented on #2134
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1435
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02134](https://doi.org/10.21105/joss.02134)
2. If everything looks g

[2020-04-27 14:01] danielskatz commented on #2134
We're now waiting for the DOI to work - everything else seems ok

[2020-04-27 16:40] danielskatz commented on #2134
Thanks to @tomfaulkenberry & @JonathanReardon for reviewing, and @marcosvital for editing!

And congratulations to @mmrabe (Maximilian Rabe) and co-authors!!

[2020-04-27 16:40] #2134 closed

[2020-04-27 16:40] whedon commented on #2134
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02134/status.svg)](https://doi.org/10.21105/joss.02134)

**We need your help!**

Journal of Open Source Softwa

[2020-04-27 16:50] gvegayon commented on #2113
Hi @arfon, I am a bit busy, but this is very interesting work. I'll be happy to review it.

[2020-04-27 17:19] arfon commented on #2133
@dpsanders - this looks like it's ready to move to review unless I'm missing something?

[2020-04-27 17:21] arfon commented on #2113
:wave: @nick-gauthier - I realize you [declined to review](https://github.com/openjournals/joss-reviews/issues/2113#issuecomment-592161797) this submission a couple of months ago - any chance you might have some availability now? I totally understand if this is not the case :-)

[2020-04-27 17:50] rodogi commented on #2113
Hey @arfon! Thanks for the consideration,  but unfortunately I will be too busy this month to handle the review.

[2020-04-27 17:53] StanczakDominik commented on #2133
I've started submitting issues in the main repo's tracker as part of that review. It's sort of ongoing, though I don't know the procedures here yet.

[2020-04-27 21:00] arfon commented on #1277
:wave: @casperdcl @lrq3000 - I realize times are challenging for lots of people right now but I wanted to check in to see if you think this conversation about authorship has converged?

[2020-04-27 21:28] casperdcl commented on #1277
dropped off my radar but I think I've responded to all the authorship/affiliation requests in https://github.com/tqdm/tqdm/issues/887 with :+1: and corresponding checkboxes in https://github.com/tqdm/tqdm/pull/905, don't think I've missed anything, haven't heard anything so perhaps could just merge?

[2020-04-27 21:55] lrq3000 commented on #1277
Hello guys, yes sorry it's my fault, i still need to take a look just to
see if we didn't forget (or add without consent) anyone. I am behind my
schedule with all that's happening right now. I'll tabe a look on
Wednesday, but Casper did an amazing job so if he says it's fine to merge
then I trust him and would agree to the merge if you guys want it done now.

Thanks a lot Arfon, Casper, and everyo

[2020-04-27 22:06] casperdcl commented on #1277
argh just realised there's also https://github.com/tqdm/tqdm/pull/910 and https://github.com/tqdm/tqdm/pull/911

[2020-04-27 23:08] cMadan commented on #2116
@whedon check references

[2020-04-27 23:09] whedon commented on #2116
[code]

[2020-04-27 23:10] cMadan commented on #2116
@johannes-titz, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) a

[2020-04-28 00:03] usethedata commented on #1865
I've finally completed my review.  I found one minor documentation problem, which appears to be fixed in the repository.  I was able to successfully install and use the system on Mac OS Catalina.  Apologies for the delay, but the work from home situation means I have way more meetings, it seems.

[2020-04-28 00:44] lrq3000 commented on #1277
Ok I've done the review, I have just made one comment that needs your attention @casperdcl and after it's fine on that side. I'll take a look at those 2 other PRs if I can do something. Thank you again for your great work!

[2020-04-28 03:11] dimpase commented on #1835
Is now back with reviewers? Just wondering.

[2020-04-28 09:16] VivianePons commented on #1835
@alex-konovalov and @falque can you check that everything is in order and that you're happy now to move to the next step (acceptance!)?

[2020-04-28 11:17] arfon commented on #2153
@whedon remove @jaynanavati as reviewer

[2020-04-28 11:17] whedon commented on #2153
OK, @jaynanavati is no longer a reviewer

[2020-04-28 11:20] arfon commented on #2153
👋 @feliperodri & @s0nata - we're looking for a second reviewer of the [EvoMaster](https://github.com/EMResearch/EvoMaster) package for JOSS.

Would either of you be willing to review this submission for us? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-04-28 15:19] fortinma commented on #1753
@anmolter I am having a hard time getting past the installation. I keep getting a pandas error. see dialog box screen cap attached.
<img width="443" alt="Screen Shot 2020-04-28 at 9 39 49 AM" src="https://user-images.githubusercontent.com/1124016/80505307-27fd9b00-8942-11ea-842c-510c21cbba14.png">

[2020-04-28 15:37] fortinma commented on #2177
Hi @anmolter. I am stuck. I managed the install, but when I start the tutorial i get the following errors for pandas library, which is installed. See the screen cap for details.
<img width="443" alt="Screen Shot 2020-04-28 at 9 39 49 AM" src="https://user-images.githubusercontent.com/1124016/80507251-a8bd9680-8944-11ea-9e17-b303d95c87e1.png">
  Any help in moving forward?

[2020-04-28 16:12] anmolter commented on #2177
Hi @fortinma , I think you may have a newer version of pandas installed, where they changed pandas.tools. plotting to pandas.plotting. I've added  try except code with both versions. Is it working now?

[2020-04-28 16:19] fortinma commented on #2177
Thanks, @anmolter. It's working now.

[2020-04-28 19:34] fortinma commented on #2177
hi again, @anmolter. The ApplyLUR script has the same issue with Pandas Unfortunately. See screencap.
![image](https://user-images.githubusercontent.com/1124016/80529653-c51dfb00-8965-11ea-8a3b-6aaff320cb6e.png)

[2020-04-28 19:49] sauln commented on #1958
Yup, sorry! Everything is checked now.

[2020-04-28 23:56] majensen commented on #2168
@wdduncan @balhoff Can I get an update from you guys here? I'm hoping we're closing in on it. Thanks!

[2020-04-28 23:59] majensen commented on #2161
@corybrunson @rcannood can I get a progress report here? Are we stalled due to pandemic or ...?
thanks

[2020-04-29 00:14] balhoff commented on #2168
Hi @majensen I ran into a blocker with https://github.com/sap218/jabberwocky/issues/10. I reported it in the tool repo, but probably should have clarified here that I was waiting on that before being able to proceed further.

[2020-04-29 00:15] coljac commented on #2179
Hi @vanbenschoten:

Congratulations of developing Matrix profile and the associated software packages. A lot of work has gone into making the algorithms as accessible and usable as possible. This package certainly clears the bar for significance and quality.

I have reviewed the python and golang implementations of matrix profile. The python package is fully-fledged and well documented, with many

[2020-04-29 00:59] corybrunson commented on #2161
@majensen thanks for checking. There are a few issues that remain open on the repo, and @TomKellyGenetics has been making some revisions to the paper. (They may wish to comment.) I expect to be done with my review once these changes are made. (I don't expect to be slowed by the pandemic.)

[2020-04-29 02:41] feliperodri commented on #2153
Hi @arfon, thanks for the invitation. I can take some time this week to review it and provide a feedback by Friday or Saturday. Would that be a reasonable time frame for you?

[2020-04-29 06:13] sjpfenninger commented on #2171
@coroa Just checking to see this hasn't dropped off your radar!

[2020-04-29 08:41] anmolter commented on #2177
Hi @fortinma, sorry, I forgot that it is in both tools. I have fixed it now. Which version of ArcPro are you using?

[2020-04-29 08:49] johannes-titz commented on #2116
@cMadan: Thank you! Here comes the new tagged version and the zenodo archive:
v.0.3.0: https://github.com/johannes-titz/mimosa/tree/v0.3.0
Zenodo doi: 10.5281/zenodo.3775143 (changed title and author list, added ORCID)

[2020-04-29 09:06] coroa commented on #2171
@sjpfenninger on my radar all right. Sorry for the delay.

[2020-04-29 09:13] rcannood commented on #2161
Same here. I am waiting for TomKellyGenetics/graphsim#13 to tick the final two checkboxes on my review checklist.

[2020-04-29 12:40] arfon commented on #2153
That would be fantastic, thanks! I'll go ahead and set up your review here now.

[2020-04-29 12:41] arfon commented on #2153
@whedon add @feliperodri as reviewer

[2020-04-29 12:41] whedon commented on #2153
OK, @feliperodri is now a reviewer

[2020-04-29 12:42] arfon commented on #2153
@feliperodri - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-04-29 12:53] fortinma commented on #2177
Thanks, @anmolter. I just updated to ArcGIS Pro 2.5.0, which seems to be the latest -- for today at least.

[2020-04-29 14:40] s0nata commented on #2153
hello @arfon, thanks for the invitation, I should have some time over the weekend.

[2020-04-29 15:37] arfon commented on #2153
OK great! I'll set up your review now...

[2020-04-29 15:37] arfon commented on #2153
@whedon add @s0nata as reviewer

[2020-04-29 15:37] whedon commented on #2153
OK, @s0nata is now a reviewer

[2020-04-29 15:39] arfon commented on #2153
@s0nata - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-04-29 16:03] stsievert commented on #1655
I've checked off all my boxes. The simple example at https://cspy.readthedocs.io/en/latest/how_to.html#simple-example has greatly helped improve the usability of this software.

I have unchecked the software versioning box. I would have not accepted v0.0.8; however I would be willing to accept the current release v0.1.0 (perhaps in part due to https://github.com/torressa/cspy/issues/14, https://gi

[2020-04-29 17:17] drvinceknight commented on #2152
Sorry @arfon and @koenderks I'm still struggling with child care / work but I'll hopefully have more time from next week.

[2020-04-29 17:20] drvinceknight commented on #2113
Hi @arfon and @yangkcatiu I'm really sorry it's taking me a long time: struggling with child care / work so joss has suffered I'm afraid. My students are submitting a big piece of work on Friday so until then I'm really swamped but I **will** have time to give this submission the attention it deserves from next week. Sincere apologies.

[2020-04-29 18:04] wdduncan commented on #2168
Hi @majensen I was waiting to see if the issues referenced by @balhoff and myself had been fixed. I can go ahead and retest, though.

[2020-04-29 18:24] joaomcteixeira commented on #2077
I see the authors have addressed my issues. I would like them to address the questions I raised in my previous post so I can finalize my review. @lpantano @NicoRenaud
Kind Regards,

[2020-04-29 18:36] yangkcatiu commented on #2113
@drvinceknight no need to apologize, we totally understand the situation and really appreciate it!

[2020-04-29 18:37] torressa commented on #1655
Just updated the docs.

Versioning-wise, do you mean that the points need updating to match the current version (v0.1.0)?

Since the start of the submission there has a fair amount of bug fixes (around 6 major ones), a few new features and some other changes stemming from the development of the vehicle routing application [vrpy](https://github.com/Kuifje02/vrpy/). Taking the version to v0.0.14.

A

[2020-04-29 19:34] stsievert commented on #1655
Whoops, thanks. I meant to ask @poulson or @afron that question.

[2020-04-29 20:58] arfon commented on #1655
I think we can simply update the version associated with the review here (to `v0.1.0`) and declare that the version associated with the review.

Would that be acceptable @hausen & @stsievert?

[2020-04-29 22:30] hausen commented on #1655
fine by me @arfon !

[2020-04-30 00:54] vanbenschoten commented on #2179
@coljac Thank you for the kind words, and the time you've put into reviewing! We'll look into the issues you've raised and work on edits. Keep us posted!

-Andrew

[2020-04-30 02:19] TomKellyGenetics commented on #2161
@majensen Sorry for the delays. I'm balancing childcare at home and a new position not related to this work. I'm still able work during the pandemic but revisions are taking longer than I'd have liked.

I expect the most time-consuming aspect will be revising the vignettes. The reviewers made good suggestions and I will make the requested revisions. Overall, I'm impressed by the JOSS review proces

[2020-04-30 05:12] rcannood commented on #2161
I understand your situation very well :smile: Enjoy your family and your holidays!

[2020-04-30 07:55] anmolter commented on #2177
@fortinma  Nice! The university I work for has disabled the automatic updates in ArcPro, so I'm stuck on version 2.2.4  😒

[2020-04-30 08:16] will-rowe commented on #2014
Hi @babinyurii - just pinging you to see if you have had chance to take a final look at your paper. There is no rush to respond - I just wanted to check in as we are nearly there!

[2020-04-30 09:37] ejhigson commented on #2146
@gkthiruvathukal @arfon I would be happy to review this submission if you would like me to? (I have a lot of experience with neural networks and Python)

[2020-04-30 10:35] NicoRenaud commented on #2077
@joaomcteixeira Thanks for your review and your comments ! We have addressed your last comment about returning a class instance and implemented that in the `__call__` method of the `pdb2sql` class.
It is now possible to do the following:

[code]
`db_chainA` is there a `pdb2sql` instance as you suggested. Thanks for this comment, it is very valuable to have such method.

[2020-04-30 11:15] sap218 commented on #2168
I'll take a look at those issues @balhoff @wdduncan again - (sorry for delay). Will update here when I can! :-)

[2020-04-30 12:18] arfon commented on #2146
Thanks @ejhigson, that would be great! I'll go ahead and start the review with just yourself as the reviewer and ask that @gkthiruvathukal looks for a second reviewer when he has time.

[2020-04-30 12:18] arfon commented on #2146
@whedon add @ejhigson as reviewer

[2020-04-30 12:18] arfon commented on #2146
@whedon start review

[2020-04-30 12:18] whedon opened #2180 "[REVIEW]: Sensie: Probing the sensitivity of neural networks"
**Submitting author:** @coljac (<a href="http://orcid.org/0000-0003-4239-4055">Colin Jacobs</a>)
**Repository:** <a href="https://github.com/coljac/sensie" target ="_blank">https://github.com/coljac/sensie</a>
**Version:** v1.0.0
**Editor:** @gkthiruvathukal
**Reviewers:** @ejhigson, @omshinde
**Archive:** <a href="https://doi.org/10.5281/zenodo.3894083" target="_blank">10.5281/zenodo.3894083</a>

[2020-04-30 12:18] whedon commented on #2146
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2180.

[2020-04-30 12:18] #2146 closed

[2020-04-30 12:18] arfon commented on #2146
@ejhigson - please head over the #2180 where the actual review will take place.

[2020-04-30 12:19] whedon commented on #2180
[code]

[2020-04-30 12:19] whedon commented on #2180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02180/joss.02180/10.21105.joss.02180.pdf)

[2020-04-30 12:21] arfon commented on #2180
@ejhigson - thanks again for agreeing to review this submission for JOSS.

Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let myself or @gkthiruvathukal know.

[2020-04-30 12:23] arfon commented on #2180
:wave: @nilesh-patil @sssomani @chekoduadarsh @omshinde - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The package being reviewed here is [Sensie](https://github.com/coljac/sensie), a Python package for probing the sensitivi

[2020-04-30 14:22] ryanpmcg commented on #2029
@whedon generate pdf

[2020-04-30 14:23] whedon commented on #2029
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02029/joss.02029/10.21105.joss.02029.pdf)

[2020-04-30 14:41] amritagos commented on #2175
@richardjgowers @joaomcteixeira I am finished with my review.

`taurenmd` ties together some popular MD analysis libraries with an easy-to-use command-line interface. It is also possible to add new functionality, using the existing code structure. In particular, supported file formats include GROMACS trajectory files, which (to the best of my knowledge) are not supported by (OVITO)[https://www.ovi

[2020-04-30 15:18] omshinde commented on #2180
Hi @arfon ! Thanks for consideration. Yes, I would be interested to review this submission for JOSS. This would be my maiden review for JOSS and I foresee a great learning expereince ahead. Please let  me know of the further steps. Thanks!

[2020-04-30 15:41] stsievert commented on #1655
That works for me too @arfon.

[2020-04-30 16:21] joaomcteixeira commented on #2175
Dear @amritagos
I appreciate your comments of approval and positive feedback. I look forward to future interactions to continue developing `taurenmd` as a community-based software.
Cheers,

[2020-04-30 16:38] arfon commented on #2180
Sounds good to me, thanks @omshinde. @gkthiruvathukal - do you want to take it from here? (You can do `@whedon add @omshinde as reviewer`) but then you'll have to edit the top of the issue to add a checklist for them.

[2020-04-30 16:39] arfon commented on #2153
@gkthiruvathukal - feel free to take this over when you are ready.

[2020-04-30 16:42] arfon commented on #1655
@poulson - I think this is pretty close to being ready to accept now.

[2020-04-30 17:07] dawbarton commented on #2104
Apologies for the delay, life has been a bit manic (and I also missed the ping somehow). I have been through the package, documentation, and paper - it looks good overall.

A few comments:

When I run the example in the README, I don't get the specified output. It's close but not quite the same; see below.

[code]

Syntax highlighting in the docs is a little off - seems to get confused by ' charac

[2020-04-30 19:37] briandesilva commented on #2104
Thanks for your feedback!
- I will have to look into the README example. This looks like a bug -- those small magnitude terms should be getting ruled out.
- @Ohjeah, do you know of any fixes for the syntax highlighting issue? It looks like it's only rendering incorrectly on the sphinx site. We could change the way we write the math (e.g. write something like dX/dt), but for the example where we sh

[2020-05-01 11:57] Ohjeah commented on #2104
Equation formatting in the readme is fixed now. The code-blocks were automatically interpreted as python and hence the funny looking syntax highlighting.

[2020-05-01 14:46] joaomcteixeira commented on #2077
Dear @NicoRenaud

Thanks for all the new additions and corrections to the `pdb2sql` package. I can appreciate you addressed all of my issues, and this indeed improved the quality of your package. Also, I appreciate much that you considered the creation of new instances. Thanks!

I just found a [minor issue regarding the tests](https://github.com/DeepRank/pdb2sql/issues/47), that I would like you t

[2020-05-01 16:00] cMadan commented on #2116
@whedon set 10.5281/zenodo.3775143 as archive

[2020-05-01 16:00] whedon commented on #2116
OK. <a href="https://doi.org/10.5281/zenodo.3775143" target="_blank">10.5281/zenodo.3775143</a> is the archive.

[2020-05-01 16:00] cMadan commented on #2116
@whedon set v.0.3.0 as version

[2020-05-01 16:00] whedon commented on #2116
OK. v.0.3.0 is the version.

[2020-05-01 16:01] cMadan commented on #2116
@whedon accept

[2020-05-01 16:01] whedon commented on #2116
[code]

[2020-05-01 16:01] whedon commented on #2116
[code]

[2020-05-01 16:02] whedon commented on #2116
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1436

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1436, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-05-01 16:10] arfon commented on #2116
I'll take this from here. Thanks @cMadan.

[2020-05-01 16:12] arfon commented on #2116
@whedon accept deposit=true

[2020-05-01 16:12] whedon commented on #2116
[code]

[2020-05-01 16:13] whedon commented on #2116
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1256255342587121664) 👈 🐦🐦🐦

[2020-05-01 16:13] whedon commented on #2116
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1437
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02116](https://doi.org/10.21105/joss.02116)
2. If everything looks g

[2020-05-01 16:15] arfon commented on #2116
@strengejacke, @aj2duncan - many thanks for your reviews here and to @cMadan for editing this submission ✨

@johannes-titz - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-05-01 16:15] #2116 closed

[2020-05-01 16:15] whedon commented on #2116
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02116/status.svg)](https://doi.org/10.21105/joss.02116)

**We need your help!**

Journal of Open Source Softwa

[2020-05-01 23:46] majensen commented on #2161
Thanks @TomKellyGenetics , no pressure at all, just checking if all was well.

[2020-05-02 01:37] vanbenschoten commented on #2179
@coljac @krystophny

We've updated the paper intro per @coljac 's comments, as well as resolved the matrixprofile install and Golang README issues.

[2020-05-02 04:58] coljac commented on #2179
@whedon generate pdf

[2020-05-02 04:58] whedon commented on #2179
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02179/joss.02179/10.21105.joss.02179.pdf)

[2020-05-02 05:10] coljac commented on #2179
@vanbenschoten This resolves my issues with the paper.

Once @krystophny has had a chance to look at the R module, we'll get back to you again.

[2020-05-02 10:05] ipelupessy commented on #2048
ouch, this is a pity! I think it would really be best the author to add a license to MOOG, the reasons for this are summarized e.g. here: https://blog.esciencecenter.nl/a-license-to-science-cd8030a4a145
the alternative is that he actually wants to dissallow further redistribution of the code (which is possible), but I am not sure if that is the case (I would be a bit surprised).

[2020-05-02 17:58] TommyJones commented on #2156
All, I am reviewing this weekend. If I do or do not complete it this weekend, I will update the channel. Thank you for your patience!

[2020-05-02 21:18] arfon commented on #2156
@karthik should we go ahead and set up the review issue for @TommyJones?

[2020-05-02 22:10] MariaTsantaki commented on #2048
It is quite unfortunate.
@arfon @danielskatz just to confirm. Without an OSI-approved license for MOOG the process is stuck, right?

[2020-05-02 22:17] danielskatz commented on #2048
In my opinion, yes, but @arfon has the final say

[2020-05-03 08:12] johannes-titz commented on #2116
@strengejacke @aj2duncan Thank you very much for the reviews! @cMadan Thanks a lot for the editing work. @arfon Many thanks for the last steps.

[2020-05-03 10:25] ejhigson commented on #2180
Hi @coljac - congratulations on a really neat piece of software. I definitely see the usefulness of this package!

I took an initial look over it and have a few suggestions:

1. For the installation, I suggest adding your requirements to ``setup.py`` using the ``install_requires`` property so they are installed automatically (in addition to having them in the requirements.txt). You also may want t

[2020-05-03 15:11] arfon commented on #2156
@whedon start review

[2020-05-03 15:11] whedon opened #2181 "[REVIEW]: ldaPrototype: A method in R to get a Prototype of multiple Latent Dirichlet Allocations"
**Submitting author:** @JonasRieger (<a href="http://orcid.org/0000-0002-0007-4478">Jonas Rieger</a>)
**Repository:** <a href="https://github.com/JonasRieger/ldaPrototype" target ="_blank">https://github.com/JonasRieger/ldaPrototype</a>
**Version:** v0.2.0
**Editor:** @karthik
**Reviewers:** @tommyjones, @bstewart
**Archive:** <a href="https://doi.org/10.5281/zenodo.3945836" target="_blank">10.528

[2020-05-03 15:11] whedon commented on #2156
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2181.

[2020-05-03 15:11] #2156 closed

[2020-05-03 15:11] whedon commented on #2181
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tommyjones it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2020-05-03 15:11] whedon commented on #2181
[code]

[2020-05-03 15:11] arfon commented on #2156
@TommyJones - please head over to #2181 where the actual review will take place. @karthik - this paper still needs a second reviewer when you get a chance.

[2020-05-03 15:12] whedon commented on #2181
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02181/joss.02181/10.21105.joss.02181.pdf)

[2020-05-03 15:12] arfon commented on #2181
@TommyJones - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let @karthik or I know.

[2020-05-03 15:34] arfon commented on #2048
Hi all, just getting up to speed here. I agree that JOSS can't publish this with MOOG bundled if MOOG hasn't licensed the code clearly with an OSI-approved license.

One option I don't see discussed here is moving the MOOG code out of this repository and having some kind of setup/Makefile that would download a copy of the MOOG source code for the end user. Is this something that might work?

[2020-05-03 16:36] dpsanders commented on #2133
@whedon start review

[2020-05-03 16:36] whedon opened #2182 "[REVIEW]: VlaPy: A Python package for Eulerian Vlasov-Poisson-Fokker-Planck Simulations"
**Submitting author:** @joglekara (<a href="http://orcid.org/0000-0003-3599-5629">Archis Joglekar</a>)
**Repository:** <a href="https://github.com/joglekara/VlaPy" target ="_blank">https://github.com/joglekara/VlaPy</a>
**Version:** v0.1.0
**Editor:** @dpsanders
**Reviewer:** @TomGoffrey, @StanczakDominik
**Archive:** <a href="https://doi.org/10.5281/zenodo.4026770" target="_blank">10.5281/zenodo.

[2020-05-03 16:36] whedon commented on #2133
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2182.

[2020-05-03 16:36] #2133 closed

[2020-05-03 16:36] whedon commented on #2182
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TomGoffrey, @StanczakDominik it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2020-05-03 16:36] whedon commented on #2182
[code]

[2020-05-03 16:37] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-05-03 16:37] dpsanders commented on #2133
Sorry for the delay in getting to this. Thanks @arfon, I had been waiting to see if we could get another reviewer.

[2020-05-03 16:49] TommyJones commented on #2181
Thanks @arfon!

The paper and software look great, but there are a couple issues, one is a bit of a blocker to me finishing the review.

The big one:
* There is no example usage of how to use the software for an analysis problem. A great place to put this would be in the README, showing basic usage. If you want to cover more ground than one would typically put in a README, a vignette is a good pla

[2020-05-03 22:04] TommyJones commented on #2181
I've opened two issues in the target repo:

[This](https://github.com/JonasRieger/ldaPrototype/issues/1#issue-611517976) is for an example analysis to README or vignette.

[This](https://github.com/JonasRieger/ldaPrototype/issues/2#issue-611518164) is for contribution guidelines.

[2020-05-03 23:31] arosen93 commented on #2178
@fwitte, @kyleniemeyer -- my review is completed. The code is well-documented with an extensive set of (working) examples, there are robust unit-tests, and there is a clear need for such a program in the community. I am happy to recommend TESPy for publication in JOSS.

[2020-05-04 02:35] danhey commented on #2125
Hi all, just a heads up that the paper has now been published -- https://doi.org/10.3847/1538-3881/ab7d38

[2020-05-04 02:55] kyleniemeyer commented on #2178
Thanks @arosen93!

[2020-05-04 02:57] kyleniemeyer commented on #2178
Hi @corentin-dev, just wanted to check in on the status of your review—no rush though, we understand that things are not normal right now.

[2020-05-04 05:37] corentin-dev commented on #2178
Hi, at the moment I got no time to work on it. My review is scheduled to
start this week.

Best regards,

Corentin

On 04/05/2020 04:57, Kyle Niemeyer wrote:

[2020-05-04 05:48] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-05-04 05:48] whedon commented on #2178
[code]

[2020-05-04 05:49] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-05-04 05:51] fwitte commented on #2178
@whedon generate pdf from branch feature/joss_paper_review

[2020-05-04 05:51] whedon commented on #2178
[code]

[2020-05-04 05:52] whedon commented on #2178
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02178/joss.02178/10.21105.joss.02178.pdf)

[2020-05-04 05:55] fwitte commented on #2178
Hi @corentin-dev,
looking forward to your review. Just to let you know: I am keeping track of the changes made within the review process on this PR: https://github.com/oemof/tespy/pull/181. You might want to have a look at the corresponding documentation (https://tespy--181.org.readthedocs.build/en/181/) instead of the documentation on the master branch (https://tespy.readthedocs.io) as some typos

[2020-05-04 09:07] JonasRieger commented on #2181
Thanks for the comments. I have improved the points. I will also look again where I can add examples in the documentation of single functions. I deliberately chose this style for the parameter documentation because it is clearer than the standard in R (which is mostly very rudimentary and merely prosaic). It is inspired by the packages [mlr](https://github.com/mlr-org/mlr) and [batchtools](https:/

[2020-05-04 09:27] corentin-dev commented on #2178
Sorry, but my invitation to joss-review has been revoked (I took too much time to accept I guess). Can you renew it please ?
[code]

[2020-05-04 09:41] drvinceknight commented on #2113
@whedon generate pdf

[2020-05-04 09:42] whedon commented on #2113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02113/joss.02113/10.21105.joss.02113.pdf)

[2020-05-04 09:46] drvinceknight commented on #2113
Hi @gvegayon hopefully you're still happy to review this work :)

[2020-05-04 09:47] drvinceknight commented on #2113
@whedon assign @gvegayon as reviewer

[2020-05-04 09:47] whedon commented on #2113
OK, @gvegayon is now a reviewer

[2020-05-04 09:49] drvinceknight commented on #2113
@camillescott would you be able to review this paper for JOSS? Your indicated research interests include graph theory so I think you will hopefully find it interesting.

[2020-05-04 09:51] drvinceknight commented on #2113
@ati-ozgur would you be able to review this paper for JOSS? You also indicated algorithms and network science as your interests so I hope you'd find the paper of interest :)

[2020-05-04 09:52] drvinceknight commented on #2152
@whedon generate pdf from branch JfA-JOSS

[2020-05-04 09:52] whedon commented on #2152
[code]

[2020-05-04 09:54] whedon commented on #2152
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02152/joss.02152/10.21105.joss.02152.pdf)

[2020-05-04 11:03] arfon commented on #2125
Thanks for the heads-up @danhey / cc @crawfordsm

[2020-05-04 11:05] arfon commented on #2178
@whedon re-invite @corentin-dev as reviewer

[2020-05-04 11:05] whedon commented on #2178
OK, the reviewer has been re-invited.

@corentin-dev please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-05-04 11:06] arfon commented on #2178
@corentin-dev - can you try again now?

[2020-05-04 11:41] corentin-dev commented on #2178
` You now have push access to the openjournals/joss-reviews repository. `
Perfect ! Thank you @arfon

[2020-05-04 12:09] Athelena commented on #2177
I have tried twice but I can't get it to run. I get stuck in an endless loop at the following step where it never stops running

![image](https://user-images.githubusercontent.com/19203377/80964162-abbafa00-8e10-11ea-99a1-1c3cc8a277ce.png)

I also see this message:

![image](https://user-images.githubusercontent.com/19203377/80964209-bc6b7000-8e10-11ea-86eb-ad27ed7061c3.png)