[2020-12-08 23:03] whedon commented on #2898
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-08 23:03] whedon commented on #2898
PDF failed to compile for issue #2898 with the following error:

 Can't find any papers to compile :-(

[2020-12-08 23:03] whedon commented on #2898
[code]

[2020-12-08 23:05] giswqs commented on #2896
@Kevin-Mattheus-Moerman No problem. Thank you for the consideration.

[2020-12-08 23:05] Kevin-Mattheus-Moerman commented on #2898
@whedon generate pdf from branch joss

[2020-12-08 23:05] whedon commented on #2898
[code]

[2020-12-08 23:05] whedon commented on #2898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02898/joss.02898/10.21105.joss.02898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02898/joss.02898/10.21105.joss.02898.pdf) :page_facing_up: :point_left:

[2020-12-08 23:06] crsl4 commented on #2894
Thanks Kevin! While it is true that the web app is aligned to the Fast Plants educational units, the software is used as a research tool for students designing and implementing their own plant experiments. Perhaps it is still out of scope, but we wait to hear what the additional review says. Thanks!

[2020-12-08 23:06] Kevin-Mattheus-Moerman commented on #2898
@whedon assign me as editor

[2020-12-08 23:06] whedon commented on #2898
OK, the editor is @Kevin-Mattheus-Moerman

[2020-12-08 23:11] Kevin-Mattheus-Moerman commented on #2831
@oalii if you are able to switch to an OSI approved license please do, this is a required for JOSS.

[2020-12-08 23:12] Kevin-Mattheus-Moerman commented on #2727
@MaierOli2010 apologies for the delay. I'll start processing this for acceptance shortly.

[2020-12-08 23:16] Kevin-Mattheus-Moerman commented on #2727
At this point could you do the following:

- [ ] Archive a copy of the software on [ZENODO](https://zenodo.org/) (some find these steps useful: https://guides.github.com/activities/citable-code/)? Please ensure that the metadata, in particular the author information, names, and order match the information for the JOSS paper. Can you also make sure the title matches the JOSS paper? You may need to

[2020-12-09 01:57] jni commented on #2689
Awesome! Thank you all!

@d-tear the next step is for you to generate a new tagged release + Zenodo archive, and report the release number and archive DOI here. Then we can set those versions accept the paper! 🎉

[2020-12-09 02:10] jkarreth commented on #2815
@mattansb I created the review as an issue over at https://github.com/easystats/effectsize/issues/227. Thanks to @trashbirdecology 's thorough review, there wasn't much left for me to find. I added a few suggestions you might consider beyond the JOSS paper. Still trying to check the functionality of all parts of the package, but am close to done.

[2020-12-09 03:03] d-tear commented on #2689
Hi @jni,

The new tagged release is v1.0.1 and the archive DOI is 10.5281/zenodo.4312250

[2020-12-09 07:32] eloisabentivegna commented on #2495
@EGaraldi, did you have a chance to look at the reviewers' recommendations? Could you post an update?

[2020-12-09 07:33] eloisabentivegna commented on #2555
@rclipp, did you have a chance to look at the reviewers' recommendations? Could you post an update?

[2020-12-09 07:36] eloisabentivegna commented on #2823
@suchitakulkarni, @bradkav, were you able to start the review process, e.g. downloading `pyhf`? Could you post an update?

[2020-12-09 08:15] sadielbartholomew commented on #2597
Thanks for opening up an issue indicating you are going to address my previous comment regarding the installation instructions, @jodemaey. I was going to re-raise that in case you missed it. Otherwise all of my feedback raised so far has been addressed well, bar one small formatting change to the text, described against point (3) below.

I have now completed the remainder of my review and I've out

[2020-12-09 08:16] mjsottile commented on #2844
:wave: @glemaitre I wanted to check to see if you had a chance to start your review?  Let me know if you need anything to proceed.

[2020-12-09 09:16] khinsen commented on #2863
@oliviaguest The checklist asks "Do references in the text use the proper citation syntax?", referring to a description of Markdown syntax for citations. What I have for review is a PDF file. I don't quite understand what I am supposed to do. Should I be looking at some Markdown source instead? If so, where can I find it?

[2020-12-09 09:17] khinsen commented on #2863
@dmey After going through the checklist for the software, here comes my review of the paper itself. Overall, it looks very good, there is just one point I would like you to address:

"Do the authors describe how this software compares to other commonly-used packages?"

No. Please add a statement on this question, even if it is only "we are not aware of any other comparable software". The [Wikipedi

[2020-12-09 09:31] glemaitre commented on #2844
Thanks for pinging. I will make a full pass now. Sorry for the delay.

[2020-12-09 09:33] oliviaguest commented on #2863
@khinsen do you mean where is the paper being compiled from? Here: https://github.com/dmey/synthia/tree/joss-paper

[2020-12-09 09:50] carlosjoserg commented on #2783
Hi all, appologies for the delay, also got other reviews from IEEE that took me some time too... I hope within a week to finish this one. Best,

[2020-12-09 09:56] mmhs013 commented on #2893
@Kevin-Mattheus-Moerman, thanks for your consideration. `Statement of need` already covered in the `Summary` section. So I think it is not needed any more.

[2020-12-09 10:19] meg-simula commented on #2645
@whedon generate pdf

[2020-12-09 10:19] meg-simula commented on #2645
@whedon check references

[2020-12-09 10:21] whedon commented on #2645
[code]

[2020-12-09 10:21] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-12-09 10:23] meg-simula commented on #2645
@whedon set 10.5281/zenodo.4304604 as archive

[2020-12-09 10:23] whedon commented on #2645
OK. <a href="https://doi.org/10.5281/zenodo.4304604" target="_blank">10.5281/zenodo.4304604</a> is the archive.

[2020-12-09 10:23] meg-simula commented on #2645
@whedon set v7.3.2 as version

[2020-12-09 10:23] whedon commented on #2645
OK. v7.3.2 is the version.

[2020-12-09 10:24] meg-simula commented on #2645
@whedon accept

[2020-12-09 10:24] whedon commented on #2645
[code]

[2020-12-09 10:25] meg-simula commented on #2699
Great, thanks @chennachaos and @yangbai90 for your prompt and constructive reviews and @flofaucher for addressing all the concerns. I will give it a final readthrough and follow-up from here.

[2020-12-09 10:25] whedon commented on #2645
[code]

[2020-12-09 10:26] whedon commented on #2645
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1969

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1969, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-09 10:30] jni commented on #2689
@whedon set 10.5281/zenodo.4312250 as archive

[2020-12-09 10:30] whedon commented on #2689
OK. <a href="https://doi.org/10.5281/zenodo.4312250" target="_blank">10.5281/zenodo.4312250</a> is the archive.

[2020-12-09 10:30] jni commented on #2689
@whedon set v1.0.1 as version

[2020-12-09 10:30] whedon commented on #2689
OK. v1.0.1 is the version.

[2020-12-09 10:30] jni commented on #2689
@whedon accept

🎉

[2020-12-09 10:30] whedon commented on #2689
[code]

[2020-12-09 10:31] whedon commented on #2689
[code]

[2020-12-09 10:31] whedon commented on #2689
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1970

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1970, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-09 10:37] khinsen commented on #2863
@oliviaguest Exactly. Thanks for the pointer, I hadn't considered looking for a specific branch. Perhaps the review instructions should contain that pointer, given that reviewers are expected to check the Markdown source.

[2020-12-09 10:44] glemaitre commented on #2844
I am adding a question here since that I would like to have advice from @mjsottile

So one statement in the package is the following:

 It is completely correct that scikit-learn does not provide this functionality. So, one of my expectation would be to be able to use `c-lasso` as a drop-in replacement instead of scikit-learn to solve such problem. However, I might be bias by being involve in the

[2020-12-09 11:40] oliviaguest commented on #2863
@khinsen I thought (wrongly!) it was obvious when we ask for @whedon to do this:

But either way — it's no problem at all and I am more than happy to explain it (there is so much to process for those who have never used JOSS before anyway). ☺️

[2020-12-09 12:22] akrinos commented on #2817
Hi @jcmcnch - sorry it has taken me a bit to get back to you. I have been trying to reproduce this, and haven't been able to. You are using the `sample_EUKulele` directory, right? This is what I expect to be printed:

[code]

Could you tell me (1) what `EUKulele --version` returns and (2) the contents of your sample directory (it should be `samples_MAGs` if you're using the tutorial) and `BUSCO` d

[2020-12-09 12:35] mmartin-lagarde commented on #2287
Dear @arfon, I'm sorry it took so much time. It's almost ready. I'm just missing a few complement to the user manual to address the changes asked by the referees.
The branch review_JOSS has been updated, and all is working. I will share you everything Friday at the latest.

[2020-12-09 12:40] tomaslaz commented on #2474
@fboehm thank you. The version number is v1.1.0 and the doi is 10.5281/zenodo.4312870

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4312870.svg)](https://doi.org/10.5281/zenodo.4312870)

[2020-12-09 13:52] muellsen commented on #2844
Thanks for raising this important issue. Indeed, our initial hope was to design c-lasso as drop-in replacement in scikit-learn and use all the cool functionality there. However, after an in-depth analysis at the start of the project in early 2019, we opted for a stand-alone version. Below is our thinking and a note about potential future developments
- First, we do not have yet the resources and k

[2020-12-09 15:55] fboehm commented on #2474
@whedon set 10.5281/zenodo.4312870 as doi

[2020-12-09 15:55] whedon commented on #2474
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-09 15:56] fboehm commented on #2474
@whedon set 10.5281/zenodo.4312870 as archive

[2020-12-09 15:56] whedon commented on #2474
OK. <a href="https://doi.org/10.5281/zenodo.4312870" target="_blank">10.5281/zenodo.4312870</a> is the archive.

[2020-12-09 15:57] fboehm commented on #2474
@whedon set v1.1.0 as version

[2020-12-09 15:57] whedon commented on #2474
OK. v1.1.0 is the version.

[2020-12-09 15:58] fboehm commented on #2474
@whedon accept

[2020-12-09 15:58] whedon commented on #2474
[code]

[2020-12-09 15:59] whedon commented on #2474
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1971

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1971, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-09 16:00] whedon commented on #2474
[code]

[2020-12-09 16:19] balicea commented on #2897
Thanks for the information. I am unfamiliar with the what is generated during the submission process, but the file containing the submission in the home repo is about 90 lines of Markdown, with an accompanying .bib file of the same length.

[2020-12-09 16:39] melissawm commented on #2830
Thank you, @dlfivefifty !

[2020-12-09 16:41] melissawm commented on #2830
@whedon re-invite @jakryd as reviewer

[2020-12-09 16:41] whedon commented on #2830
OK, the reviewer has been re-invited.

@jakryd please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-09 17:04] cmshobe commented on #2804
I am sorry for being late-- This is my first JOSS review and I had forgotten about the formal checklist! I am ready to see this published. This is a fantastic software package and I look forward to seeing where people go with it in the future.

[2020-12-09 17:21] kbarnhart commented on #2804
@johnjarmitage and @cmshobe thanks for your affirmation and your reviews. (no worries @cmshobe)

@tristan-salles at this point I'll do final copyediting checks and let you know the next steps. It may take a few days because of AGU.

[2020-12-09 18:02] MaierOli2010 commented on #2727
@Kevin-Mattheus-Moerman
I've archived the software. The associated DOI is: 10.5281/zenodo.4313301
Further, I decided to push the version to "first release", i.e. v1.0.0 as the acceptance of the paper marks the first release in my opinion. This is also the archived version tag.

There were some minor edits to affiliations and I've shortened a sentence in the introduction as its meaning was the same

[2020-12-09 18:33] kanishkan91 commented on #2890
@tscheypidi I have opened a branch and addressed the issue with the license. I will create a pull request and merge in once I address any other issues that you and other reviewers may find. Let me know what you think. Thanks!

[2020-12-09 19:22] ClaudioZandonella commented on #2810
Dear @cMadan, I have reviewed all the issues and updated the [paper/paper.md](https://github.com/ClaudioZandonella/PRDA/blob/master/paper/paper.md) file.

Thanks, @mmrabe and @DominiqueMakowski  I really appreciate your comments and suggestions. They helped me to improve the overall quality of the package.

[2020-12-09 20:01] neuromusic commented on #2440
I think we can address most of them, however, I need to look into https://github.com/spacetx/starfish/issues/1925 more carefully... I've explored automatically capturing napari screenshots, but I'm unsure of how easy it will be to do as part of our documentation build process.

[2020-12-09 20:02] mjsottile commented on #2844
Hi @glemaitre - good questions, and thanks for the details @muellsen.  I think this issue is worth addressing in the paper explicitly clarify that, in its current state, the package is not an API-compatible drop in replacement for components of scikit-learn.  The issue with API compatibility (or the lack thereof) doesn't detract from the quality of the work itself, just the expectations that users

[2020-12-09 20:28] vals commented on #2440
Do they need to be captured automatically? There are other screenshots in the tutorials. The examples I gave are actually exceptions. It is hard to follow what is going on with the Napari window if it's not pointed out with images in the documentation.

[2020-12-09 20:40] glemaitre commented on #2844
OK, so this is fine with me. I just open a couple of issues such that the content of the README is included in the documentation webpage and to have a second look regarding the test coverage.

Now I am hooked so I am might propose a bit of help regarding the scikit-learn API part :)

[2020-12-09 20:51] jcmcnch commented on #2817
Hi @akrinos and other coauthors, again sorry for the delay in replying. I've had some time to properly "test drive" EUKulele, and now feel comfortable summarizing them as part of the review. I've noticed from your interactions with Johannes that this process seems quite interactive so I do hope we can discuss further in this thread. As I mentioned to Will at the beginning of this review process I'

[2020-12-09 21:05] benjaminrose commented on #2877
SNtools review

This looks really useful! I see a few things that need a bit of an adjustment before I can recommend it to be accepted in JOSS. I know this list looks long, but I promise they are not too complicated and we should be able to converge on a acceptable submission quickly.

- [ ] `sntools` is a command line app. That needs to be more clear at the top to the documentation and readme.md

[2020-12-09 21:05] karllark commented on #2550
Once the (minor) issues https://github.com/rhayes777/PyAutoFit/issues/142 and https://github.com/rhayes777/PyAutoFit/issues/143 are closed, then I am happy and would recommend acceptance.

[2020-12-09 21:38] fboehm commented on #2474
The whedon output with missing DOIs is for a journal article and not for the book that the authors cite.

[2020-12-09 21:55] jcolomb commented on #2282
hi, I had some urgent matter to attend to, I hope to get the svm "reviewable" after the Christmas break.

[2020-12-10 02:01] jdber1 commented on #2604
Hi @kyleniemeyer what is the status of this submission? I submitted to JOSS over 9 months ago, and would really like to get this out as soon as possible.

[2020-12-10 05:49] henrykironde commented on #2800
@fboehm version 3.0.1 DOI `10.5281/zenodo.4314115` url https://zenodo.org/record/4314115#.X9G2kS1h2b8

[2020-12-10 06:11] thowell commented on #2809
@dpsanders I went through most of the boxes, but will add notes here as I finally get some free time early next week

[2020-12-10 07:50] mmrabe commented on #2810
@whedon generate pdf

[2020-12-10 07:51] whedon commented on #2810
PDF failed to compile for issue #2810 with the following error:

 Error producing PDF.
! Use of \\author doesn't match its definition.
\new@ifnextchar ...served@d = #1\def \reserved@a {
                                                  #2}\def \reserved@b {#3}\f...
l.327 ...nolinkurl{claudiozandonella@gmail.com}}}}

Looks like we failed to compile the PDF

[2020-12-10 08:18] ClaudioZandonella commented on #2810
@whedon generate pdf

[2020-12-10 08:19] whedon commented on #2810
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02810/joss.02810/10.21105.joss.02810.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02810/joss.02810/10.21105.joss.02810.pdf) :page_facing_up: :point_left:

[2020-12-10 08:33] pdebuyl commented on #2842
Thank you @bast for the review!

@scivision there are a number of joss review related issues opened at your repository. With JOSS, the review can happen in a mixed way between the review thread here and issues at the software's repository. You can answer directly in those issues.

In general, I prefer that an explicit notification be sent here for all steps of the review though, as I am not subscr

[2020-12-10 11:08] Swetanshu commented on #2838
Thank you @mturiansky and @mfherbst for the quick review, and @dpsanders for your response!

We have been working on updating the code in the past few days. I was not sure whether I should make any commits before @dpsanders gets back so I did not do that. I’ll start committing the updates that have been made. To summarise, the code has been restructured, and examples and documentation have been up

[2020-12-10 11:18] zemogle commented on #2641
Any news on the status of this paper @arfon ?

[2020-12-10 12:52] arfon commented on #2641
Hi @zemogle - I emailed @bsipocz a few days ago to remind them about this review. I had meant to update this thread too when I did this (but forgot 🤦).

[2020-12-10 13:14] jodemaey commented on #2597
Dear all,

Please find below our response to the reviews of the referees (see the posts https://github.com/openjournals/joss-reviews/issues/2597#issuecomment-683972381 and https://github.com/openjournals/joss-reviews/issues/2597#issuecomment-741610669 ).

# Response to referee 1

We thank @eviatarbach for his helpful review. We respond below to the suggested changes:

We have added a *statement of

[2020-12-10 13:15] jodemaey commented on #2597
@whedon generate pdf from branch joss

[2020-12-10 13:15] whedon commented on #2597
[code]

[2020-12-10 13:16] whedon commented on #2597
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02597/joss.02597/10.21105.joss.02597.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02597/joss.02597/10.21105.joss.02597.pdf) :page_facing_up: :point_left:

[2020-12-10 14:00] arfon commented on #2597
Thanks for the detailed response @jodemaey.

@eviatarbach, @sadielbartholomew - when you get a moment, please come and take a look at the author responses and let us know what you think (updating the last few checkboxes too if appropriate).

[2020-12-10 14:45] rmorgan10 commented on #2854
@pdebuyl I would like to put the `deeplenstronomy` paper on arXiv at some point, but this is the first time I've worked with JOSS. Would you recommend waiting until after the review process for any reason?

[2020-12-10 15:11] tscheypidi commented on #2890
@kanishkan91 I found two discrepancies between author list of this submission and recorded contributions to the package for which I could not find a direct explanation myself:

- In the commit history Robert Link (@rplzzz) shows up as top contributor of the package (and is 2nd Co-Author of the paper this package relies on) but is not listed as author of this submission. Is that intended and if so,

[2020-12-10 15:23] pdebuyl commented on #2888
Hi @glyg I am still looking for reviewers. Our pool of volunteers has few matches for the topic here, I will expand the search.

You can suggest reviewers as well, I will then consider including one from that list.

[2020-12-10 15:26] fboehm commented on #2800
Thank you, @henrykironde !

[2020-12-10 15:28] fboehm commented on #2800
@whedon set 10.5281/zenodo.4314115 as archive

[2020-12-10 15:28] whedon commented on #2800
OK. <a href="https://doi.org/10.5281/zenodo.4314115" target="_blank">10.5281/zenodo.4314115</a> is the archive.

[2020-12-10 15:28] pdebuyl commented on #2854
Hi @rmorgan10 I would recommend waiting for the publication here to save you the trouble of updating the arXiv version. You are free to proceed however (see https://joss.readthedocs.io/en/latest/submitting.html?highlight=arxiv#preprint-policy ).

Just make sure to not reference the paper as published in joss yet (mention of submission is fine of course).

[2020-12-10 15:28] fboehm commented on #2800
@whedon set v3.0.1 as version

[2020-12-10 15:28] whedon commented on #2800
OK. v3.0.1 is the version.

[2020-12-10 15:29] fboehm commented on #2800
@whedon generate pdf

[2020-12-10 15:29] whedon commented on #2800
PDF failed to compile for issue #2800 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (6bdf28831f89b1c1e9051225/paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:

[2020-12-10 15:30] fboehm commented on #2800
@whedon generate pdf

[2020-12-10 15:30] whedon commented on #2800
PDF failed to compile for issue #2800 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (541ca4f0b1eb30b0fe08a643/paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:

[2020-12-10 15:30] pdebuyl commented on #2888
@shriyaamittal can you review the article "Tyssue, en Epithelium simulation library" for the Journal of Open Source Software?

[2020-12-10 15:32] rmorgan10 commented on #2854
@pdebuyl If I wait until after the review process (and `deeplenstronomy` is accepted), does JOSS release the TeX for the paper to me?

[2020-12-10 15:41] GustaveCoste commented on #2765
I just thought that I could add the DOI of the article in the archive instead of an url. @sjpfenninger could you confirm that the DOI of the article is [10.21105/joss.02765](https://doi.org/10.21105/joss.02765)? In that case, I could publish the archive.

[2020-12-10 16:01] pdebuyl commented on #2854
No. Officially, JOSS only sees the input .md file and the pdf output. It is possible to execute our code locally of course. It uses pandoc. It is also possible to use pandoc directly, provided you have the template and logo. I can help if you wish (not anymore today however).

[2020-12-10 16:06] arfon commented on #2800
@fboehm - this PR (https://github.com/ropensci/rdataretriever/pull/283) should fix the paper compilation issue.

[2020-12-10 16:20] arfon commented on #2854
@rmorgan10 - you might be able to make a TeX version using this script: https://github.com/mattpitkin/psrqpy/blob/master/paper/Makefile

[2020-12-10 16:24] ethanwhite commented on #2800
I just merged @arfon's PR.

[2020-12-10 16:28] dglaeser commented on #2291
@diehlpk, I can't edit the checkboxes in your command, but a new tag `v1.2` is available now.

[2020-12-10 16:29] arfon commented on #2800
@whedon generate pdf

[2020-12-10 16:30] whedon commented on #2800
PDF failed to compile for issue #2800 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (6745a8ccdad111558cf0a673/paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:

[2020-12-10 16:37] glyg commented on #2888
Hi @pdebuyl , thank you,

If you talk about reviewers outside of the volunteers, I can think of Guillaume Salbreux or people in the teams of Lisa Manning, Alexander Fletcher or Frank Jüllicher

[2020-12-10 16:42] arfon commented on #2800
Found one more issue: https://github.com/ropensci/rdataretriever/pull/284

[2020-12-10 16:43] ethanwhite commented on #2800
Merged.

[2020-12-10 16:53] usethedata commented on #2882
Sorry. This week blew up on me with the American Geophysical Union meeting and a family member ER trip.  It will be the weekend before I can start on this.

[2020-12-10 16:54] usethedata commented on #2882
@whedon assign @usethedata as editor

[2020-12-10 16:54] whedon commented on #2882
OK, the editor is @usethedata

[2020-12-10 16:55] arfon commented on #2800
@whedon generate pdf

🤞third time's a charm?

[2020-12-10 16:55] whedon commented on #2800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: :point_left:

[2020-12-10 16:57] neuromusic commented on #2440
@vals yes, its important to us that all documentation involving data can be automatically generated so that the images don't become stale if the tutorial gets updated in the future. all of the images in the other tutorials are generated through matplotlib, etc.

let me look into this a bit more. I've got a PR open where I started trying to capture napari screenshots programmatically, which I need

[2020-12-10 16:57] matthewfeickert commented on #2823
@eloisabentivegna @suchitakulkarni @bradkav, in the time since we first submitted `pyhf` to JOSS pre-review we've also release patch release [`v0.5.3`](https://github.com/scikit-hep/pyhf/releases/tag/v0.5.3) and are about to release `v0.5.4`. Do you want us to rebase the branch that has the JOSS paper in with these number updated, or would you prefer everything remain strictly frozen at [`v0.5.2`]

[2020-12-10 16:58] mattansb commented on #2815
@whedon generate pdf

[2020-12-10 16:59] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-10 17:07] diehlpk commented on #2291
@whedon help

[2020-12-10 17:07] whedon commented on #2291
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-10 17:07] diehlpk commented on #2291
@whedon commands

[2020-12-10 17:07] whedon commented on #2291
Here are some things you can ask me to do:

[code]

[2020-12-10 17:08] diehlpk commented on #2291
@whedon set v1.2 as version

[2020-12-10 17:08] whedon commented on #2291
OK. v1.2 is the version.

[2020-12-10 17:08] diehlpk commented on #2291
@dglaeser Ok, I clicked the boxes for you. Once you added the DOI, I can recommend the paper for acceptance and the EIC will do the final check.

[2020-12-10 17:11] dglaeser commented on #2291
@diehlpk, I got the DOI now:

10.5281/zenodo.4315059

Thanks a lot!

[2020-12-10 17:12] dglaeser commented on #2291
Maybe rather: https://doi.org/10.5281/zenodo.4315059

[2020-12-10 17:31] diehlpk commented on #2291
@whedon generate pdf

[2020-12-10 17:33] diehlpk commented on #2291
@dglaeser The title of the DOI is `Frackit 1.2`, however, the paper's title is `Frackit: a framework for stochastic fracture network generation and analysis` can you please update the title on Zenodo?

[2020-12-10 17:33] whedon commented on #2291
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02291/joss.02291/10.21105.joss.02291.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02291/joss.02291/10.21105.joss.02291.pdf) :page_facing_up: :point_left:

[2020-12-10 17:34] kyleniemeyer commented on #2604
@jdber1 Sorry for the delay—I do understand your frustration, but please do understand that you submitted right at the beginning of a tough time. We do require two reviews, and due to the hardware requirement your submission is a bit more challenging. But, I have reached out again to the second reviewer.

Regarding figures and captions, [our docs](https://joss.readthedocs.io/en/latest/submitting.h

[2020-12-10 17:35] dglaeser commented on #2291
@diehlpk, I changed the title. Sorry for that!

[2020-12-10 17:41] diehlpk commented on #2291
@whedon set 10.5281/zenodo.4315059 as archive

[2020-12-10 17:41] whedon commented on #2291
OK. <a href="https://doi.org/10.5281/zenodo.4315059" target="_blank">10.5281/zenodo.4315059</a> is the archive.

[2020-12-10 17:41] diehlpk commented on #2291
@dglaeser No worries.

[2020-12-10 17:42] diehlpk commented on #2291
@whedon accept

[2020-12-10 17:42] whedon commented on #2291
[code]

[2020-12-10 17:43] whedon commented on #2291
[code]

[2020-12-10 17:43] whedon commented on #2291
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1973

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1973, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-10 17:50] fboehm commented on #2800
@whedon accept

[2020-12-10 17:50] whedon commented on #2800
[code]

[2020-12-10 17:50] whedon commented on #2800
[code]

[2020-12-10 17:50] whedon commented on #2800
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1974

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1974, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-10 17:57] kanishkan91 commented on #2890
@tscheypidi Thanks for the questions. Here are the responses,

- Yes. This was intentional. Robert Link was a co-author on the original Edmonds et al. paper and started the work on the ambrosia R project. But he transitioned to a new role at a different organization early this year and has requested that he no longer be involved with any publications with the current organization given his commitm

[2020-12-10 18:39] sadielbartholomew commented on #2597
Thanks @jodemaey for the considered response. **I have inspected your review response comment and the referenced commits and I am now satisfied that all of the review checklist items are covered well by the `qgs` code and the proposed paper and am delighted to recommend that the `qgs` paper be accepted.**

Just a few closing comments, only the first of which calls for any action (ideally it could

[2020-12-10 19:06] tscheypidi commented on #2890
Thanks for clarification. From my side it is sufficient to have it documented here in this issue.

[2020-12-10 22:05] sadielbartholomew commented on #2766
@whedon check repository

[2020-12-10 22:06] whedon commented on #2766
[code]

[2020-12-10 23:00] oalii commented on #2831
@Kevin-Mattheus-Moerman  and @IgorBaratta,

we changed the licence from CeCILL-C to LGPL V3.

[2020-12-10 23:56] charleygros commented on #2868
Many thanks for taking the time to review our work and providing valuable feedback @justusschock !

Thank you for raising this point! We modified our documentation accordingly, see [PR #562](https://github.com/ivadomed/ivadomed/pull/562), stating that ivadomed works for Python >= 3.6 and < 3.9.

We agree, thanks for suggesting this. We added the installation instructions in the README as well, see

[2020-12-11 00:06] lbugnon commented on #2868
Hi @charleygros, just a minor thing,  `virtualenv venv-ivadomed --python=python3.6` gives an error (because i have installed python 3.7, I think It could be omited or stated to look into the OS.

[2020-12-11 00:07] cMadan commented on #2810
@ClaudioZandonella, I need to do some final checks, but we're almost done! (So the review is with me now.)

[2020-12-11 00:09] cMadan commented on #2839
@whedon generate pdf

[2020-12-11 00:10] whedon commented on #2839
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02839/joss.02839/10.21105.joss.02839.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02839/joss.02839/10.21105.joss.02839.pdf) :page_facing_up: :point_left:

[2020-12-11 00:14] cMadan commented on #2839
@tramarobin, the text is much improved--well done!

As a minor comment, I'd suggest against jet as the default colormap. (For some background, see https://onlinelibrary.wiley.com/doi/full/10.1111/ejn.14430.)

Can you look through the list of JOSS reviewers (linked in the first comment in this issue) and suggest some who may be suitable?

[2020-12-11 01:34] lbugnon commented on #2868
Usage (as a demo) is not clear, for instance `ivadomed ivadomed/config/config.json` doesn't work. Adding -c option lead to error RuntimeError: The dataset_description.json file was not found.

[2020-12-11 01:59] lbugnon commented on #2868
@charleygros referneces are missing in the paper md

[2020-12-11 04:04] gschivley commented on #2171
@sjpfenninger I submitted a couple very minor issues, am otherwise done with my review.

[2020-12-11 06:17] ramisetti commented on #2879
@meg-simula I have a problem to review. I don't have access to the reviewer checklist page for this submission.

[2020-12-11 07:58] jodemaey commented on #2597
Hi @sadielbartholomew ,

I cannot reproduce your problem, on my system the documentation pages that you mention are fine.
Could you first perform a `make clean` before doing a `make html` again?

[2020-12-11 08:05] eloisabentivegna commented on #2823
Dear @matthewfeickert, given we are in the early stages of the review process, I think a rebase would not be too disruptive. I leave it up to the authors: if you prefer to publish the latest version with JOSS, please make sure the paper branch is up to date. Once the reviews are further under way, it may be best to keep the code frozen.

[2020-12-11 08:10] matthewfeickert commented on #2823
Sounds good! I just rebased so I'll trigger wheadon now.

[2020-12-11 08:10] matthewfeickert commented on #2823
@whedon generate pdf from branch docs/add-JOSS-paper

[2020-12-11 08:10] whedon commented on #2823
[code]

[2020-12-11 08:11] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2020-12-11 08:50] sadielbartholomew commented on #2766
Hi @leouieda @znicholls, I started my review however before proceeding with the remainder I feel obliged to request a more experienced opinion regarding the 'substantial scholarly effort' criterion because, while it is clear more than sufficient academic effort has been conducted related to the context of this package, I am not convinced the package itself meets the minimum threshold of three mont

[2020-12-11 09:08] khinsen commented on #2863
@oliviaguest Everything is obvious if you do it often enough! Authors and editors are a lot more familiar with @whedon than reviewers, and for now that has been my only role in JOSS. We can usually do our jobs without ever talking to @whedon. Which I think is great, reviewing for JOSS is a real pleasure because of the absence of technical boilerplate tasks.

[2020-12-11 09:47] meg-simula commented on #2879
@ramisetti: I see. Hm. Did you try these points?

[2020-12-11 10:16] will-rowe commented on #2817
Thanks for another comprehensive review @jcmcnch - there is plenty for you to mull over @akrinos! I'm particularly interested in the second of their points re. (mis)reporting of prokaryotic annotations. @jcmcnch has given several helpful suggestions to address this; at a minimum I'd like a comment in the documentation. In my view, it would make sense for the user to first bin their MAGs (or altern

[2020-12-11 11:02] sadielbartholomew commented on #2597
Hi @jodemaey, thanks for confirming you can't recreate it. It was indeed my fault, sorry, I didn't realise but I built the local documentation last time with a different environment than the `qgs` conda one I used for reviewing, such that I did not have the right dependencies in my environment for Sphinx to use to parse the code to generate the API reference. I just tried it with the right environ

[2020-12-11 11:55] jayten commented on #2871
### Overview
The submitted software is well-written and acceptable for publication in JOSS.

### Regarding authors
The actual name of the contributor "saleh8" is not clear. If he/she is not the already existing author, consider adding his/her name to the list of authors or in the acknowledgment, accordingly.

### Documentation
It will be better for people like me who do not use "conda" to have an

[2020-12-11 12:24] dglaeser commented on #2291
@diehlpk, thanks! One question, how does this last step work? To me it shows that the created issues has no assignees and when I click on `@openjournals/joss-eics` it says that that page is unavailable?

[2020-12-11 12:51] diehlpk commented on #2291
@dglaeser please wait for the EIC to check your paper one last time. After that the paper will be officially published.

[2020-12-11 13:00] tramarobin commented on #2839
@cMadan, thank you for the link to your paper. I had never considered the luminance or the sequential or diverging characteristics of a color scale.

I included the cbrewer funtion in the package as it allows to chose between more colormaps.  (Charles (2020). cbrewer : colorbrewer schemes for Matlab (https://www.mathworks.com/matlabcentral/fileexchange/34087-cbrewer-colorbrewer-schemes-for-matlab)

[2020-12-11 13:08] jakryd commented on #2830
Thanks for re-inviting me. I finished the review, and I think that the package meets the JOSS requirements and format.

Congratulations @fruzsinaagocs!

[2020-12-11 13:09] EtienneCmb commented on #2839
Hi all !

Agree with @cMadan , I wouldn't use jet neither. There's a recent Nature Comm paper about it, also comparing several colormaps : https://www.nature.com/articles/s41467-020-19160-7

[2020-12-11 13:14] melissawm commented on #2830
Thank you both @jakryd and @dlfivefifty for the review and congratulations @fruzsinaagocs! I'll generate a new proof and ask that you check that all references, author list, title, are as they should be so that we can proceed with acceptance.

[2020-12-11 13:14] melissawm commented on #2830
@whedon generate pdf

[2020-12-11 13:16] whedon commented on #2830
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: :point_left:

[2020-12-11 13:51] lskatz commented on #2334
This is cool @erinyoung !  We are happy it worked on the test data!  And it is really cool that you are trying it on your data.  @kapsakcj (our excellent containers expert on the team!) tried but could not replicate this error.  Although this issue is real, it unfortunately makes it so that we have to speculate on the solution.

I believe but do not know for sure that `./runData` might be pointing

[2020-12-11 13:59] csoneson commented on #2864
ping @xie186

[2020-12-11 14:01] xie186 commented on #2864
@csoneson Just let you know that I'll submit the comment over the weekend. Sorry for the delay in response.

[2020-12-11 14:16] akrinos commented on #2817
Thank you both for your very helpful comments! We are working on addressing the eukaryote/prokaryote mislabeling issue by generating a default database that contains the MMETSP taxonomy (the taxonomy we feel is better to use as a default in most cases for eukaryotic organisms) and also prokaryotic sequences and a domain level to distinguish between the two. We will include the MMETSP alone as an o

[2020-12-11 14:22] pdebuyl commented on #2888
@Paijmans can you review the article "Tyssue, en Epithelium simulation library" for the Journal of Open Source Software?

[2020-12-11 14:34] fruzsinaagocs commented on #2830
Thank you @melissawm, I fixed a capitalisation error in a reference and tweaked a sentence (really minor change to clarify that I'm referring to the expansion of the universe). With these changes, the paper's good to go!

[2020-12-11 14:43] will-rowe commented on #2817
Thanks for the speedy response @akrinos! Yes - just add the city and country please.

Keep us posted on when you are ready for us to take another look at the submission.

[2020-12-11 14:53] dglaeser commented on #2291
ok, thank you! Sorry for bothering, I was just curious how the system works. I guess someone behind `@openjournals/joss-eics` gets notified about the new issue in the papers repository.

[2020-12-11 15:28] eviatarbach commented on #2597
The authors have addressed all my comments, and I am happy to recommend publication.

[2020-12-11 15:40] drvinceknight commented on #2871
Thank you for your review @jayten, @salrm8 if you could respond/modify as appropriate :+1:

[2020-12-11 15:42] drvinceknight commented on #2733
Hi @trstewart212 , @fgeertman a very gentle nudge to see how things are going (100% understand how we are all busy). Let me know if I can assist in any way.

[2020-12-11 15:51] mmartin-lagarde commented on #2287
Dear @hpparvi and @kevin218,

Thank you for both of your reports. Sorry for the late feedback. The changes to the code and its documentation are still un the branch review_JOSS (that will be merged at the end of the review process). Below are the answers to the points you raised in your reviews :

**JOSS Manuscript**
• @kevin218 `As currently written, the title doesn't sufficiently convey the purp

[2020-12-11 15:51] JostMigenda commented on #2877
Many thanks for these comments, @benjaminrose!

The first 5 ones are discussed in JostMigenda/sntools#16.

Exactly as you say—sntools generates individual events, whereas SNOwGLoBES only calculates the expected number of events in each energy bin.

I don’t think most users of sntools will write their own input files. Instead, input files will typically be generated by the groups that perform compu

[2020-12-11 15:53] sjpfenninger commented on #2765
Yes, you are correct, the DOI is based on the review issue number. So that would work.

[2020-12-11 15:54] sjpfenninger commented on #2765
And just to confirm, v1.0 is the right version to be associated with the paper, right?

[2020-12-11 15:55] sjpfenninger commented on #2765
@whedon set 10.15454/UPDPDT as archive

[2020-12-11 15:55] whedon commented on #2765
OK. <a href="https://doi.org/10.15454/UPDPDT" target="_blank">10.15454/UPDPDT</a> is the archive.

[2020-12-11 15:57] sjpfenninger commented on #2171
Thank you very much @gschivley 🙇‍♂️

[2020-12-11 15:57] diehlpk commented on #2291
No worries. Yes, some EIC will do a final check, e.g. check if the DOI and version matches, and after that the paper will be published and you receive a notification and can share the paper.

[2020-12-11 15:58] sjpfenninger commented on #2171
@whedon remove @coroa as reviewer

[2020-12-11 15:58] whedon commented on #2171
OK, @coroa is no longer a reviewer

[2020-12-11 15:58] sjpfenninger commented on #2171
@whedon remove @Ludee as reviewer

[2020-12-11 15:58] whedon commented on #2171
OK, @Ludee is no longer a reviewer

[2020-12-11 16:05] trstewart212 commented on #2733
Hi Vince,
I’m afraid it has been just one thing after another and I have not been able to devote any time to this. Hopefully things will ease up a bit.
Trevor

Trevor Stewart
175 West 13th Street, Apt 19D
New York, NY 10011
+1(212)929-0321
+1(917)402-9800 iPhone
trsny@verizon.net

On Dec 11, 2020, at 10:42, Vince Knight <notifications@github.com> wrote:

Hi @trstewart212 <https://github.com/trstew

[2020-12-11 16:08] sjpfenninger commented on #2171
@whedon add @brynpickering as reviewer

[2020-12-11 16:09] sjpfenninger commented on #2171
Thank you @brynpickering for jumping in on this 🙇‍♂️

[2020-12-11 16:21] drvinceknight commented on #2733
No problem at all: completely understand. Take care.

[2020-12-11 16:38] GustaveCoste commented on #2765
Yes, the version to associate to the paper is the v1.0.
The archive is published.

[2020-12-11 16:45] erinyoung commented on #2334
I do have read/write access, but I cannot copy over a file just to overwrite it. There needs to be a bit of time between the two.

I'll change the temp directory to see if that helps any.

[2020-12-11 16:56] sjpfenninger commented on #2765
@whedon set v1.0 as version

[2020-12-11 16:57] sjpfenninger commented on #2765
@GustaveCoste https://doi.org/10.15454/UPDPDT just takes me to a login page?

[2020-12-11 16:57] sjpfenninger commented on #2765
I just need to confirm that the author list and title on the archive matches that of the paper then we're ready.

[2020-12-11 17:24] salrm8 commented on #2871
@jayten Thank you for your constructive comments. I certainly apply them and let you know.

[2020-12-11 18:04] chenkianwee commented on #2866
Sorry for the delay, been busy, will work on the review today

[2020-12-11 18:39] crvernon commented on #2782
Alright @kthyng we have the Zenodo issue worked out. The newest release will is v1.1.6 which has been minted at the following with an updated reference:

Jason Evanoff, Chris R. Vernon, Stephanie Waldhoff, Abigail Snyder, & Corinne Hartin. (2020, December 11). JGCRI/hectorui: v1.1.6 JOSS publication (Version v1.1.6). Zenodo. http://doi.org/10.5281/zenodo.4317756

Thanks for everything!

[2020-12-11 19:14] kthyng commented on #2782
@crvernon Good, though can you make the title "hectorui: A web-based interactive scenario builder and visualization application for the Hector climate model"?

[2020-12-11 19:34] crvernon commented on #2782
No problem. Just updated it. Thanks!

Jason Evanoff, Chris R. Vernon, Stephanie Waldhoff, Abigail Snyder, & Corinne Hartin. (2020, December 11). hectorui: A web-based interactive scenario builder and visualization application for the Hector climate model (Version v1.1.6). Zenodo. http://doi.org/10.5281/zenodo.4317756

[2020-12-11 19:45] benjaminrose commented on #2877
Thanks @JostMigenda, these changes all look good. I now see where the documentation explains that input files come from simulations.

[2020-12-11 19:45] kthyng commented on #2782
Ok this looks great!

[2020-12-11 19:46] kthyng commented on #2782
@whedon set v1.1.6 as version

[2020-12-11 19:46] whedon commented on #2782
OK. v1.1.6 is the version.

[2020-12-11 19:46] kthyng commented on #2782
@whedon accept

[2020-12-11 19:46] whedon commented on #2782
No archive DOI set. Exiting...

[2020-12-11 19:49] whedon commented on #2782
OK. <a href="https://doi.org/10.5281/zenodo.4317756" target="_blank">10.5281/zenodo.4317756</a> is the archive.

[2020-12-11 19:51] kthyng commented on #2782
@whedon accept

[2020-12-11 19:51] whedon commented on #2782
[code]

[2020-12-11 19:52] whedon commented on #2782
[code]

[2020-12-11 19:52] whedon commented on #2782
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1975

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1975, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-11 19:53] kthyng commented on #2782
@whedon accept deposit=true

[2020-12-11 19:53] whedon commented on #2782
[code]

[2020-12-11 19:55] whedon commented on #2782
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1337486269706887171) 👈 🐦🐦🐦

[2020-12-11 19:55] whedon commented on #2782
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1976
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02782](https://doi.org/10.21105/joss.02782)
2. If everything looks g

[2020-12-11 19:58] kthyng commented on #2782
Congrats to @evanoffPNNL and @crvernon on your new publication! Many thanks to reviewers @marvinjonathcn and @tscheypidi for your time and expertise. 🎉 🎉

[2020-12-11 19:58] #2782 closed

[2020-12-11 19:58] whedon commented on #2782
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02782/status.svg)](https://doi.org/10.21105/joss.02782)

**We need your help!**

Journal of Open Source Softwa

[2020-12-11 20:00] crvernon commented on #2782
Thanks so much @kthyng !!!

[2020-12-11 21:36] Kevin-Mattheus-Moerman commented on #2727
@whedon set 10.5281/zenodo.4313301 as archive

[2020-12-11 21:36] whedon commented on #2727
OK. <a href="https://doi.org/10.5281/zenodo.4313301" target="_blank">10.5281/zenodo.4313301</a> is the archive.

[2020-12-11 21:37] Kevin-Mattheus-Moerman commented on #2727
@whedon set v1.0.0 as version

[2020-12-11 21:37] whedon commented on #2727
OK. v1.0.0 is the version.

[2020-12-11 21:37] Kevin-Mattheus-Moerman commented on #2727
@whedon generate pdf

[2020-12-11 21:38] Kevin-Mattheus-Moerman commented on #2727
@whedon generate pdf  from branch JOSS_pub

[2020-12-11 21:38] whedon commented on #2727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: :point_left:

[2020-12-11 21:39] whedon commented on #2727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: :point_left:

[2020-12-11 21:43] Kevin-Mattheus-Moerman commented on #2727
@MaierOli2010 I have two minor points about the paper:

- [ ] For consistency, can you add "Austria" to the 3rd affiliation?

- [ ] Should the heading "Algorithmic" be "Algorithms" instead?

[2020-12-11 21:45] whedon opened #2899 "[PRE REVIEW]: Riroriro: Simulating gravitational waves and calculating SNRs in Python"
**Submitting author:** @wvanzeist (<a href="http://orcid.org/0000-0002-4231-656X">Wouter van Zeist</a>)
**Repository:** <a href="https://github.com/wvanzeist/riroriro" target ="_blank">https://github.com/wvanzeist/riroriro</a>
**Version:** v0.1.4
**Editor:** @dfm
**Reviewers:** @GregoryAshton, @katiebreivik
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due

[2020-12-11 21:45] whedon commented on #2899
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-11 21:45] whedon commented on #2899
[code]

[2020-12-11 21:46] whedon commented on #2899
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02899/joss.02899/10.21105.joss.02899.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02899/joss.02899/10.21105.joss.02899.pdf) :page_facing_up: :point_left:

[2020-12-11 21:53] Kevin-Mattheus-Moerman commented on #2899
@wvanzeist since the core functionality appears to be under 1000 lines of code I have flagged this submission for an additional scope check by the editorial board. In particular our board will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. This is standard for submissions o

[2020-12-11 21:55] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch it looks like you have one box unticked: `State of the field` :point_up: , can you clarify what is needed to fix that last remaining point? If you have happy to tick the box and recommend that we accept this work please let us know. Thanks!

[2020-12-11 21:55] whedon opened #2900 "[PRE REVIEW]: stabm: Stability Measures for Feature Selection"
**Submitting author:** @bommert (<a href="http://orcid.org/0000-0002-1005-9351">Andrea Bommert</a>)
**Repository:** <a href="https://github.com/bommert/stabm" target ="_blank">https://github.com/bommert/stabm</a>
**Version:** 1.1.4
**Editor:** @marcosvital
**Reviewers:** @mcavs, @clauswilke, @osorensen
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-12-11 21:55] whedon commented on #2900
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-11 21:56] whedon commented on #2900
[code]

[2020-12-11 21:56] whedon commented on #2900
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02900/joss.02900/10.21105.joss.02900.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02900/joss.02900/10.21105.joss.02900.pdf) :page_facing_up: :point_left:

[2020-12-11 21:57] whedon commented on #2900
[code]

[2020-12-11 22:03] Kevin-Mattheus-Moerman commented on #2900
@marcosvital you were suggested as editor for this work. Can you review if this is in scope (you can trigger a board scope query if needed), and if so handle this submission? Thanks

[2020-12-11 22:04] whedon opened #2901 "[PRE REVIEW]: Augur: a bioinformatics toolkit for phylogenetic analyses of human pathogens"
**Submitting author:** @huddlej (<a href="http://orcid.org/0000-0002-4250-2063">John Huddleston</a>)
**Repository:** <a href="https://github.com/nextstrain/augur/" target ="_blank">https://github.com/nextstrain/augur/</a>
**Version:** v10.1.1
**Editor:** @majensen
**Reviewers:** @dcnickle, @Maghnuso
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-12-11 22:04] whedon commented on #2901
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-11 22:05] whedon commented on #2901
Failed to discover a `Statement of need` section in paper

[2020-12-11 22:05] whedon commented on #2901
[code]

[2020-12-11 22:05] whedon commented on #2901
[code]

[2020-12-11 22:05] whedon commented on #2901
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02901/joss.02901/10.21105.joss.02901.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02901/joss.02901/10.21105.joss.02901.pdf) :page_facing_up: :point_left:

[2020-12-11 22:07] Kevin-Mattheus-Moerman commented on #2901
@majensen @csoneson @will-rowe @jni could one of you handle this submission? Thanks

[2020-12-11 22:09] Kevin-Mattheus-Moerman commented on #2901
@huddlej thanks for your submission. Our system is detecting you paper lacks a `Statement of need` section which is a requirement (https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Can you work to add it? Once you've done that you can call the following in a comment here to update the paper:
`@whedon generate pdf`

[2020-12-11 22:10] whedon opened #2902 "[PRE REVIEW]: vICC: Varying Intraclass Correlation Coefficients in R"
**Submitting author:** @donaldRwilliams (<a href="http://orcid.org/0000-0001-6735-8785">Donald Williams </a>)
**Repository:** <a href="https://github.com/donaldRwilliams/vICC" target ="_blank">https://github.com/donaldRwilliams/vICC</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-12-11 22:10] whedon commented on #2902
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-11 22:10] whedon commented on #2902
[code]

[2020-12-11 22:10] whedon commented on #2902
Failed to discover a valid open source license.

[2020-12-11 22:11] whedon commented on #2902
[code]

[2020-12-11 22:11] whedon commented on #2902
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02902/joss.02902/10.21105.joss.02902.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02902/joss.02902/10.21105.joss.02902.pdf) :page_facing_up: :point_left:

[2020-12-11 22:14] Kevin-Mattheus-Moerman commented on #2902
@donaldRwilliams thanks for this submission. Since the core functionality appears to be under 1000 lines of code I have flagged this submission for an additional scope check by the editorial board. In particular our board will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

[2020-12-11 22:17] Kevin-Mattheus-Moerman commented on #2902
@donaldRwilliams we have not detected an [OSI approved license](https://opensource.org/licenses) for this work, which is a requirement. Please add one. It is recommended to have this in a plain text file e.g. as a LICENSE file (which will also help GitHub pick up on it so it renders a license badge on your repo).

[2020-12-11 22:20] marcosvital commented on #2848
Hi, @meenakshi-kushwaha, any news about this review? Let us know if you have any problems.

@sebdalgarno, let us know if you made any progress on the issues raised by nanhung, ok?

[2020-12-11 22:20] chenkianwee commented on #2866
I have issue installing the binary version of 3dfier on my windows machine. This is the error I am getting. Am I suppose to install something before running the windows.zip file?
![image](https://user-images.githubusercontent.com/13062600/101960300-22a14800-3bd5-11eb-8ce3-cb372b5777c1.png)

[2020-12-11 22:21] whedon opened #2903 "[PRE REVIEW]: ForestAtRisk: A Python package for modelling and forecasting deforestation in the tropics"
**Submitting author:** @ghislainv (<a href="http://orcid.org/0000-0002-1685-4997">Ghislain Vieilledent</a>)
**Repository:** <a href="https://github.com/ghislainv/forestatrisk" target ="_blank">https://github.com/ghislainv/forestatrisk</a>
**Version:** v0.2
**Editor:** @kbarnhart
**Reviewers:** @molgor, @ethanwhite
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:*

[2020-12-11 22:21] whedon commented on #2903
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-11 22:22] marcosvital commented on #2692
Hi, again! passing by to check if there is any progress on this review, since there is some time since the last activities here.

@Manolomon, please let us knows if you have any news, ok?

[2020-12-11 22:22] whedon commented on #2903
[code]

[2020-12-11 22:22] whedon commented on #2903
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02903/joss.02903/10.21105.joss.02903.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02903/joss.02903/10.21105.joss.02903.pdf) :page_facing_up: :point_left:

[2020-12-11 22:23] whedon commented on #2903
[code]

[2020-12-11 22:32] Kevin-Mattheus-Moerman commented on #2903
@ghislainv thanks for this submission. I will be helping to find a handling editor for this submission. In the mean time can you please have a look at the above :point_up: DOI checks? If you want to update your paper simply call:
`@whedon generate pdf` in a comment here.

[2020-12-11 22:36] Kevin-Mattheus-Moerman commented on #2903
@jni @leouieda @kbarnhart could one of you handle this submission? Thanks

[2020-12-11 22:36] whedon opened #2904 "[PRE REVIEW]: Correlation: An Analyzing Tool for Liquids and for Amorphous Solids"
**Submitting author:** @Isurwars (<a href="http://orcid.org/0000-0002-4359-2742">Isaías Rodríguez</a>)
**Repository:** <a href="https://github.com/Isurwars/Correlation/" target ="_blank">https://github.com/Isurwars/Correlation/</a>
**Version:** v1.0.0
**Editor:** @jgostick
**Reviewers:** @awvwgk
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-12-11 22:36] whedon commented on #2904
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-11 22:37] whedon commented on #2904
[code]

[2020-12-11 22:38] whedon commented on #2904
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02904/joss.02904/10.21105.joss.02904.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02904/joss.02904/10.21105.joss.02904.pdf) :page_facing_up: :point_left:

[2020-12-11 22:38] whedon commented on #2904
[code]

[2020-12-11 22:43] Kevin-Mattheus-Moerman commented on #2904
@Isurwars thanks for this submission. Since the core functionality appears to be close to a 1000 lines of code I have flagged this submission for an additional scope check by the editorial board. In particular our board will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. Th

[2020-12-11 22:49] Kevin-Mattheus-Moerman commented on #2291
@diehlpk @dglaeser I've check the archive and paper and will now proceed to accept this work in JOSS. Congratulations.

[2020-12-11 22:49] Kevin-Mattheus-Moerman commented on #2291
@whedon accept deposit=true

[2020-12-11 22:49] whedon commented on #2291
[code]

[2020-12-11 22:50] whedon commented on #2291
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1337530310389587969) 👈 🐦🐦🐦

[2020-12-11 22:50] whedon commented on #2291
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1977
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02291](https://doi.org/10.21105/joss.02291)
2. If everything looks g

[2020-12-11 22:57] Kevin-Mattheus-Moerman commented on #2474
@tomaslaz I am processing the final steps to accept this work in JOSS. There are some minor points that need work.

- [ ] Please amend the archive metadata such that the title and author list and order match that of the paper (@fboehm you can check this for future reference).

- [ ] Could you please add city information to your affiliations and also please spell out UK as United Kingdom?

[2020-12-11 23:00] Kevin-Mattheus-Moerman commented on #2291
Congratulations @dglaeser on your publication! Thanks for your review efforts @ilyasst, @ctdegroot!!!! And thanks @diehlpk for editing this work!

[2020-12-11 23:00] #2291 closed

[2020-12-11 23:00] whedon commented on #2291
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02291/status.svg)](https://doi.org/10.21105/joss.02291)

**We need your help!**

Journal of Open Source Softwa

[2020-12-11 23:55] jni commented on #2901
@Kevin-Mattheus-Moerman sorry, I'm going to be on leave for about a month starting this week — just working frantically to wrap up my ongoing papers-in-review. I'll reboot again mid-January.

[2020-12-11 23:57] jni commented on #2903
@Kevin-Mattheus-Moerman, I'm about to go on leave for a month, so I'm just trying to wrap up the papers I have in flight right now. If no one has picked this up by mid-January I'm happy to step in then.

[2020-12-12 00:01] semaphoreP commented on #2843
Just finished the checklist. I am done reviewing I believe. Let me know if there's anything else.

[2020-12-12 00:13] chenkianwee commented on #2866
I got it fix adter downloading necessary Visual studio packages

[2020-12-12 00:24] sebdalgarno commented on #2848
thanks @marcosvital. I'll be working on this over the next few days and will update you when they are addressed.

[2020-12-12 03:15] majensen commented on #2901
@whedon set me as editor

[2020-12-12 03:15] whedon commented on #2901
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-12 03:16] majensen commented on #2901
@whedon assign me as editor

[2020-12-12 03:16] whedon commented on #2901
OK, the editor is @majensen

[2020-12-12 03:19] majensen commented on #1942
@benjaminbolling I promise to get this done this weekend. Sorry about the delay!

[2020-12-12 03:25] majensen commented on #2901
@Maghnuso are you up for another JOSS review?

[2020-12-12 03:26] majensen commented on #2901
@rvosa any chance you would be able to review this software for JOSS? Appreciate your consideration!

[2020-12-12 04:11] shriyaamittal commented on #2888
Sorry, I have no competence in cell biology to review this work.

[2020-12-12 04:28] ramisetti commented on #2879
@meg-simula: I tried as you suggested but I still cannot edit the checklist page.

[2020-12-12 06:39] znicholls commented on #2766
For context the comments in the pre-review:

mine: https://github.com/openjournals/joss-reviews/issues/2728#issuecomment-705214797
@leouieda's response at the time: https://github.com/openjournals/joss-reviews/issues/2728#issuecomment-707132474

[2020-12-12 06:40] mattansb commented on #2815
@whedon generate pdf

[2020-12-12 06:40] whedon commented on #2815
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02815/joss.02815/10.21105.joss.02815.pdf) :page_facing_up: :point_left:

[2020-12-12 06:48] mattansb commented on #2815
Looks like all the marks have been checked 🎉 - thanks @jkarreth and @trashbirdecology for your detailed feedback!

[2020-12-12 07:18] ramisetti commented on #2879
Dear @meg-simula,

As I am unable to edit the review checklist, I am providing my review here. Please read below for my review of the _Bempp-cl: A fast Python based just-in-time compiling boundary element library_ package for the **Journal of Open Source Software**.
Conflict of interest
•	I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing

[2020-12-12 08:17] MaierOli2010 commented on #2727
@Kevin-Mattheus-Moerman
Added "Austria" to the 3rd affiliation and renamed "Algorithmic" to "Algorithms"
Both changes are done to "master" branch as I've merged everything there.

[2020-12-12 08:20] Kevin-Mattheus-Moerman commented on #2727
@whedon generate pdf

[2020-12-12 08:21] whedon commented on #2727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: :point_left:

[2020-12-12 08:27] Kevin-Mattheus-Moerman commented on #2727
@whedon accept

[2020-12-12 08:27] whedon commented on #2727
[code]

[2020-12-12 08:28] whedon commented on #2727
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1978

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1978, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-12 08:29] whedon commented on #2727
[code]

[2020-12-12 08:35] Kevin-Mattheus-Moerman commented on #2727
@whedon accept deposit=true

[2020-12-12 08:35] whedon commented on #2727
[code]

[2020-12-12 08:36] whedon commented on #2727
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1337677761016717312) 👈 🐦🐦🐦

[2020-12-12 08:36] whedon commented on #2727
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1979
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02727](https://doi.org/10.21105/joss.02727)
2. If everything looks g

[2020-12-12 08:37] dglaeser commented on #2291
Thank you so much @diehlpk, @ilyasst, @ctdegroot and @Kevin-Mattheus-Moerman!!

[2020-12-12 08:54] Kevin-Mattheus-Moerman commented on #2727
Congratulations @MaierOli2010!

Thanks for another excellent review @grlee77, @agahkarakuzu, @DARSakthi!!!

[2020-12-12 09:01] #2727 closed

[2020-12-12 09:01] whedon commented on #2727
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02727/status.svg)](https://doi.org/10.21105/joss.02727)

**We need your help!**

Journal of Open Source Softwa

[2020-12-12 09:08] whedon opened #2905 "[PRE REVIEW]: FixedPointAcceleration: A Julia package for accelerating convergence of fixed point problems"
**Submitting author:** @s-baumann (<a href="http://orcid.org/0000-0002-9657-0969">Stuart Baumann</a>)
**Repository:** <a href="https://github.com/s-baumann/FixedPointAcceleration.jl" target ="_blank">https://github.com/s-baumann/FixedPointAcceleration.jl</a>
**Version:** v0.3.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warn

[2020-12-12 09:08] whedon commented on #2905
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-12 09:08] whedon commented on #2905
Failed to discover a `Statement of need` section in paper

[2020-12-12 09:08] whedon commented on #2905
[code]

[2020-12-12 09:08] whedon commented on #2905
PDF failed to compile for issue #2905 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Stuart Baumann, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon/author.rb:71:in `each

[2020-12-12 09:08] whedon commented on #2905
[code]

[2020-12-12 09:11] Kevin-Mattheus-Moerman commented on #2905
@s-baumann thanks for this submission. Since the core functionality appears to be ~1000 lines of code I have flagged this submission for an additional scope check by the editorial board. In particular our board will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. This is sta

[2020-12-12 09:14] Kevin-Mattheus-Moerman commented on #2831
@oalii can you point me to the updated license? I cannot see it updated in the repository :point_up:

[2020-12-12 09:16] Kevin-Mattheus-Moerman commented on #2883
@kadyb the board has reviewed this work for scope and decided this work may be in scope for JOSS. I will therefore proceed to find a handling editor for this submission.

[2020-12-12 09:19] Kevin-Mattheus-Moerman commented on #2883
@whedon invite @kbarnhart as editor

[2020-12-12 09:19] whedon commented on #2883
@kbarnhart has been invited to edit this submission.

[2020-12-12 09:27] ghislainv commented on #2903
@Kevin-Mattheus-Moerman, thank you for handling my submission. I have corrected the DOIs (see ghislainv/forestatrisk@e82b240635446b65b3f598c30302760efbeac752) and will generate a new pdf will `whedon`.

[2020-12-12 09:27] ghislainv commented on #2903
@whedon generate pdf

[2020-12-12 09:28] whedon commented on #2903
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02903/joss.02903/10.21105.joss.02903.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02903/joss.02903/10.21105.joss.02903.pdf) :page_facing_up: :point_left:

[2020-12-12 09:29] pdebuyl commented on #2888
Thank you for the reply @shriyaamittal . You might want to unsubscribe to this github issue else you will keep on receiving notifications.

[2020-12-12 09:31] Kevin-Mattheus-Moerman commented on #2898
@ilyasst, @ctdegroot @chennachaos @tjhei, @vijaysm, @likask would you be interested in reviewing this work for JOSS? It features nonlocal fracture models and finite difference/meshfree methods.

FYI we can be flexible the coming month regarding timing (since it is a holiday season for many), so if you are able to accept this invitation but start review at a later time, or take quite a bit more tim

[2020-12-12 09:34] Kevin-Mattheus-Moerman commented on #2740
@BKillen05 @modenaxe since December/January is a holiday season for many we've seen this type of response from many editors/reviewers invited. This is fine and fully understandable and we can be flexible regarding timing to work with your constraints.

Would you be okay with being assigned as reviewers for now and to pick this up whenever you are "back in the office"? No worries if you'd rather no

[2020-12-12 13:49] arfon commented on #2597
@whedon check references from branch joss

[2020-12-12 13:49] whedon commented on #2597
[code]

[2020-12-12 13:49] whedon commented on #2597
[code]

[2020-12-12 14:00] arfon commented on #2597
@jodemaey - please ignore these suggestions from Whedon, it looks like these DOIs are fine (although the URLs are somewhat unusual).

[code]

Please check though whether these DOIs are correct, and if so, please add them to your BibTeX:

[code]

[2020-12-12 14:00] arfon commented on #2597
@whedon generate pdf from branch joss

[2020-12-12 14:00] whedon commented on #2597
[code]

[2020-12-12 14:00] whedon commented on #2597
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02597/joss.02597/10.21105.joss.02597.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02597/joss.02597/10.21105.joss.02597.pdf) :page_facing_up: :point_left:

[2020-12-12 14:02] arfon commented on #2597
Also, please give the PDF above a good read and check for any last fixes that might need to be made (I'll do the same).

[2020-12-12 15:41] giswqs commented on #2896
@whedon generate pdf

[2020-12-12 15:42] whedon commented on #2896
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02896/joss.02896/10.21105.joss.02896.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02896/joss.02896/10.21105.joss.02896.pdf) :page_facing_up: :point_left:

[2020-12-12 15:46] giswqs commented on #2896
@Kevin-Mattheus-Moerman Just let you know that I have added more functionality to the package and expanded the source code by a few more hundreds of lines. You can rerun the statistics if needed. Thanks.

[2020-12-12 18:16] dfm commented on #2843
@semaphoreP: Yes it looks like you're all set. Thank you very much for your review!!

[2020-12-12 20:27] majensen commented on #2901
@whedon assign @dcnickle as reviewer

[2020-12-12 20:27] whedon commented on #2901
OK, @dcnickle is now a reviewer

[2020-12-12 21:00] kbarnhart commented on #2903
@Kevin-Mattheus-Moerman I could take this on in January (swamped for the next week, then OOO with no email for almost two).

[2020-12-12 21:00] kbarnhart commented on #2883
@Kevin-Mattheus-Moerman I could take this on in January (swamped for the next week, then OOO with no email for almost two).

[2020-12-12 21:01] kbarnhart commented on #2804
@whedon check references

[2020-12-12 21:02] kbarnhart commented on #2804
@whedon generate pdf

[2020-12-12 21:02] whedon commented on #2804
[code]

[2020-12-12 21:03] whedon commented on #2804
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: :point_left:

[2020-12-12 21:42] kbarnhart commented on #2804
@tristan-salles here are the last steps:
- [ ] Merge PR I've opened with copyediting. Full disclosure, I've added a reference that is my own work, but this is because Landlab now has two core references.

Once that is done, please run `@whedon check references` if no invalid DOIs come up, please do the following:

- [ ] Make a tagged release of your software, and list the version tag of the archiv

[2020-12-12 22:37] chenkianwee commented on #2866
I have followed the example here (http://tudelft3d.github.io/3dfier/first_run.html). I successfully generated the 3D geometry. However, the mesh that was generated are overlapping as shown in the image below. The terrain and side of the buildings have overlapping surfaces, which is not as described in the paper.
![image](https://user-images.githubusercontent.com/13062600/101996402-0cac8980-3ca0-11

[2020-12-12 22:40] chenkianwee commented on #2866
3Dfier is a useful piece of software, especially in the built environment field, where the creation of 3D data is essential for running certain analyses and simulations (e.g. solar, airflow simulation). I see it as a much-needed software that can extend existing 2D GIS tools to generate 3D data for the built environment field.

Community Guidelines: I do not see any guideline or framework for cont

[2020-12-12 23:51] Maghnuso commented on #2901
Hi Mark, yes, I'd be happy to. It's not as if I don't need the practice :-)
I won't be able to touch it for a few days though, if that's ok...
-M

[2020-12-12 23:53] majensen commented on #2901
That's the spirit @Maghnuso ! Much appreciated

[2020-12-12 23:53] majensen commented on #2901
@whedon add @Maghnuso as reviewer

[2020-12-12 23:54] whedon commented on #2901
OK, @Maghnuso is now a reviewer

[2020-12-12 23:57] majensen commented on #2901
@huddlej @dcnickle @Maghnuso we have people in place in record time, and I will start the review. Please contact me with @majensen in the review or directly via `maj -at- fortinbras -dot- us` if you have any questions during the process. Thanks!

[2020-12-12 23:57] majensen commented on #2901
@whedon start review

[2020-12-12 23:57] whedon opened #2906 "[REVIEW]: Augur: a bioinformatics toolkit for phylogenetic analyses of human pathogens"
**Submitting author:** @huddlej (<a href="http://orcid.org/0000-0002-4250-2063">John Huddleston</a>)
**Repository:** <a href="https://github.com/nextstrain/augur/" target ="_blank">https://github.com/nextstrain/augur/</a>
**Version:** 10.2.0
**Editor:** @majensen
**Reviewer:** @dcnickle, @Maghnuso
**Archive:** <a href="https://doi.org/10.5281/zenodo.4421955" target="_blank">10.5281/zenodo.4421955<

[2020-12-12 23:57] whedon commented on #2901
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2906.

[2020-12-12 23:57] #2901 closed

[2020-12-12 23:58] whedon commented on #2906
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dcnickle, @Maghnuso it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-12-12 23:58] whedon commented on #2906
[code]

[2020-12-12 23:58] whedon commented on #2906
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02906/joss.02906/10.21105.joss.02906.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02906/joss.02906/10.21105.joss.02906.pdf) :page_facing_up: :point_left:

[2020-12-12 23:59] majensen commented on #2901
See everyone in #2906 - thanks again.

[2020-12-13 00:26] giordano commented on #2843
I also just finished the checklist.  I'd like to mention that I had left some comments in `ADI.jl` bug tracker:

* https://github.com/JuliaHCI/ADI.jl/issues/26 about subtyping of a data structure
* https://github.com/JuliaHCI/ADI.jl/issues/27 about an error experienced while going through examples in the documentation
* https://github.com/JuliaHCI/ADI.jl/issues/30 more general suggestions about th

[2020-12-13 00:42] tristan-salles commented on #2804
@whedon check references

[2020-12-13 00:42] whedon commented on #2804
[code]

[2020-12-13 01:01] mileslucas commented on #2843
I'll mention, too, I have the working changes on the master branch ready to release, which will change the version to `0.5.3` (rather than the `0.5.2` when I initiated the submission).

[2020-12-13 01:45] tristan-salles commented on #2804
Hi @kbarnhart,

Thanks for the suggestions!

I have merged PR and ran @whedon check references. I made a tagged release of the software, with the following Zenodo reference:
- Tristan Salles, Claire Mallard, & Sabin Zahirovic. (2020, December 13). gospl: Global Scalable Paleo Landscape Evolution (Version 0.2.1). Zenodo. http://doi.org/10.5281/zenodo.4319332

[![DOI](https://zenodo.org/badge/DOI/10

[2020-12-13 03:34] cMadan commented on #2839
@EtienneCmb, would you be interested/available to review this submission?

@tramarobin, can you suggest anyone else? We normally have two reviewers for each submission.

[2020-12-13 05:07] matthewfeickert commented on #2823
Rebased to get `v0.5.4` ([detailed here](https://github.com/scikit-hep/pyhf/releases/tag/v0.5.4)) which is the same as `v0.5.3` but with some safeguarding of optional dependencies changes.

[2020-12-13 05:08] matthewfeickert commented on #2823
@whedon generate pdf from branch docs/add-JOSS-paper

[2020-12-13 05:08] whedon commented on #2823
[code]

[2020-12-13 05:09] whedon commented on #2823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02823/joss.02823/10.21105.joss.02823.pdf) :page_facing_up: :point_left:

[2020-12-13 07:52] jni commented on #2818
Thank you so much @rfezzani! @aplyer, apologies if you are busy — it is a busy time! — could you please let us know if you agree with @rfezzani's assessment? I see that most but not all of your checklist is ticked, so thank you for all the work you've done so far, and I look forward to wrapping this up! 😊

[2020-12-13 08:42] tramarobin commented on #2839
@cMadan, oh yes sorry I can suggest @katschueler

[2020-12-13 11:29] marcosvital commented on #2900
Yes, I can do that, @Kevin-Mattheus-Moerman!

@bommert, I'll handle your submission. The first thing I am going to do is to trigger a scope query, so other editors can help me check if you submission falls into JOSS requirements.

[2020-12-13 11:30] marcosvital commented on #2900
@whedon query scope

[2020-12-13 11:30] whedon commented on #2900
Submission flagged for editorial review.

[2020-12-13 11:31] marcosvital commented on #2900
@whedon assign @marcosvital as editor

[2020-12-13 11:31] whedon commented on #2900
OK, the editor is @marcosvital

[2020-12-13 11:51] jdber1 commented on #2604
@kyleniemeyer no problems at all, I understand it has been a difficult year. Let me know if you need more reviewer suggestions for the second reviewer. Thanks for the help on the figures and captions, I will give it a try this week.

[2020-12-13 11:52] marcosvital commented on #2848
OK, thanks for the update, @sebdalgarno!

[2020-12-13 14:02] oalii commented on #2831
@Kevin-Mattheus-Moerman ,
it is updated within the JOSS-review branch: https://gitlab.com/oali/bvpy/-/blob/joss-review/LICENSE .

[2020-12-13 15:05] akrinos commented on #2817
@jcmcnch thanks so much again for your very thorough and informative review! I have responded to some of the points you raised below, and will complete the process of addressing them and provide a new release tomorrow.

In response to the major issue with the use of MMETSP resulting in prokaryotic sequences being labeled as eukaryotic, I have added a new database to the default options, a combinat

[2020-12-13 16:27] danielskatz commented on #2896
@whedon check repository

[2020-12-13 16:28] whedon commented on #2896
[code]

[2020-12-13 18:27] akrinos commented on #2817
@whedon generate pdf

[2020-12-13 18:28] whedon commented on #2817
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02817/joss.02817/10.21105.joss.02817.pdf) :page_facing_up: :point_left:

[2020-12-13 19:08] arfon commented on #2597
@jodemaey - I also found this small fix for a formatting issue with one reference: https://github.com/Climdyn/qgs/pull/8

[2020-12-13 19:08] arfon commented on #2597
@jodemaey - after you've fixed up the DOIs and merged https://github.com/Climdyn/qgs/pull/8, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title

[2020-12-13 19:09] arfon commented on #2870
:wave: @boshek - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2020-12-13 19:26] kbarnhart commented on #2804
@whedon generate pdf

[2020-12-13 19:27] kbarnhart commented on #2804
@whedon set v0.2.1 as version

[2020-12-13 19:27] whedon commented on #2804
OK. v0.2.1 is the version.

[2020-12-13 19:28] whedon commented on #2804
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: :point_left:

[2020-12-13 19:29] kbarnhart commented on #2804
@whedon set 10.5281/zenodo.4319332 as archive

[2020-12-13 19:29] whedon commented on #2804
OK. <a href="https://doi.org/10.5281/zenodo.4319332" target="_blank">10.5281/zenodo.4319332</a> is the archive.

[2020-12-13 19:29] kbarnhart commented on #2804
@whedon accept

[2020-12-13 19:29] whedon commented on #2804
[code]

[2020-12-13 19:30] whedon commented on #2804
[code]

[2020-12-13 19:31] whedon commented on #2804
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1980

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1980, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-13 19:32] kbarnhart commented on #2804
@tristan-salles this is now in the hands of the JOSS handling editor in chief who will address final publication steps.

Thanks @johnjarmitage and @cmshobe for your reviews.

[2020-12-13 19:55] arfon commented on #2870
@whedon generate pdf from branch joss

[2020-12-13 19:55] whedon commented on #2870
[code]

[2020-12-13 19:56] whedon commented on #2870
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02870/joss.02870/10.21105.joss.02870.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02870/joss.02870/10.21105.joss.02870.pdf) :page_facing_up: :point_left:

[2020-12-13 19:57] arfon commented on #2645
@whedon accept

[2020-12-13 19:57] whedon commented on #2645
[code]

[2020-12-13 19:58] whedon commented on #2645
[code]

[2020-12-13 19:59] whedon commented on #2645
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1981

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1981, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-13 20:08] galessiorob commented on #2805
Thanks so much @fduchatea

[2020-12-13 20:29] arokem commented on #2827
@emdupre and @JonathanReardon : any progress here? Would be great to wrap up the first round of reviews before the holidays... (or even the whole thing? One can wish!).

[2020-12-13 20:29] donaldRwilliams commented on #2902
@Kevin-Mattheus-Moerman

I see the concern about the number of lines of code. However, I would like to note that the methodology is novel and there is a paper of over 8,000 words about to be accepted into the methods journal Behavioral Research Methods. Hence, this underlying idea behind the method, the 8000 words paper, and the software, I think, is a substantial contribution.

Here is the pre-pr

[2020-12-13 20:36] donaldRwilliams commented on #2902
I have added the license.

[2020-12-13 20:56] donaldRwilliams commented on #2902
I have added the DOIs

[2020-12-13 20:57] donaldRwilliams commented on #2902
@whedon generate pdf

[2020-12-13 20:57] whedon commented on #2902
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02902/joss.02902/10.21105.joss.02902.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02902/joss.02902/10.21105.joss.02902.pdf) :page_facing_up: :point_left:

[2020-12-13 21:53] tristan-salles commented on #2804
Thanks @kbarnhart !

[2020-12-13 22:20] majensen commented on #1942
@whedon check references

[2020-12-13 22:20] majensen commented on #1942
@whedon generate pdf

[2020-12-13 22:20] whedon commented on #1942
[code]

[2020-12-13 22:21] whedon commented on #1942
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01942/joss.01942/10.21105.joss.01942.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf) :page_facing_up: :point_left:

[2020-12-13 22:37] benjaminbolling commented on #1942
thank you @majensen!

[2020-12-13 22:43] benjaminbolling commented on #1942
I saw there was a missing DOI for the NumPy array, so I added this reference to paper.bib.

[2020-12-13 22:43] benjaminbolling commented on #1942
@whedon check references

[2020-12-13 22:43] benjaminbolling commented on #1942
@whedon generate pdf

[2020-12-13 22:43] whedon commented on #1942
[code]

[2020-12-13 22:43] whedon commented on #1942
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01942/joss.01942/10.21105.joss.01942.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf) :page_facing_up: :point_left:

[2020-12-13 23:09] majensen commented on #1942
@benjaminbolling  you'll see a PR with a few scattered edits.
The paper is missing "Figure 1", referred to in the text - not present in the repo.
Thanks

[2020-12-14 01:02] briandesilva commented on #2828
@jordanperr @tuelwer, thanks again for all your feedback. We have pushed a new version of the paper in which we have attempted to address your comments.

We were unable to find any documentation for the package "Chandrayee/sensor-placement" and hence did not include it in the paper, but based on the code, it appears to optimize the same Gaussian process criteria as "sustainability-lab/polire".

As

[2020-12-14 01:03] briandesilva commented on #2828
@whedon generate pdf

[2020-12-14 01:04] whedon commented on #2828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: :point_left:

[2020-12-14 01:07] jkarreth commented on #2815
Looking forward to seeing the package evolve further!

@mikldk , my review is now complete and all points are checked. Thanks!

[2020-12-14 02:10] emdupre commented on #2827
I'm so sorry about how long this has taken, @arokem and @vahid-sb ! I had some end-of-year deadline reshuffling (that I should have expected, but didn't). This is my top priority starting Wednesday morning, so I can commit to finishing my review at least a week before Christmas :)

[2020-12-14 02:54] meenakshi-kushwaha commented on #2848
Thank you for the reminder. I plan to work on the  the review this week.

Meenakshi Kushwaha, MPH, MS
Environmental and Occupational Health
Phone: +886 972022173
Skype: meenakshi.kushwaha
@envhealthspeak
http://www.linkedin.com/in/mee

[2020-12-14 03:39] charleygros commented on #2868
Hi @lbugnon , We really appreciate that you took time to review our work!

Thanks for raising this issue: it has been fixed in[ PR #579](https://github.com/ivadomed/ivadomed/pull/579) (omission of the Python version).

We agree with you @lbugnon: we added `-c` and directed the reader towards the tutorials for additional info, see [PR #578](https://github.com/ivadomed/ivadomed/pull/578).

Reference

[2020-12-14 05:37] vlandau commented on #2829
@juliohm @tpoisot finally got to updating the docs to reflect the comments above!

[2020-12-14 07:44] benjaminbolling commented on #1942
@majensen Done!

[2020-12-14 07:44] benjaminbolling commented on #1942
@whedon generate pdf

[2020-12-14 07:46] whedon commented on #1942
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01942/joss.01942/10.21105.joss.01942.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf) :page_facing_up: :point_left:

[2020-12-14 07:47] benjaminbolling commented on #1942
Thanks a lot for the suggested edits, they have been merged.

[2020-12-14 07:48] benjaminbolling commented on #1942
@whedon generate pdf

[2020-12-14 07:49] whedon commented on #1942
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.01942/joss.01942/10.21105.joss.01942.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf) :page_facing_up: :point_left:

[2020-12-14 08:13] jodemaey commented on #2597
Hi @arfon ,

Thank you for your remark. It was already raised during the pre-review. Here was my answer to it: https://github.com/openjournals/joss-reviews/issues/2549#issuecomment-669902829 .

Basically the DOI Whedon proposes for Isca is wrong, but the description paper of Isca is correctly cited in our paper.
And the DOI for the Lorenz paper (*Predictability: A problem partly solved*) actually

[2020-12-14 08:36] jodemaey commented on #2597
Maybe I could cite the original article but then join to its citation the re-edition DOI so that people still get access to an electronic version.

[2020-12-14 09:26] juliohm commented on #2829
Very nice! The documentation is now targeting the right audience! Like how you explained succinctly the work in the first paragraph of the docs, still providing reference and links to other sections for more details. That is it 💯

Continuing with the review...

[2020-12-14 09:27] juliohm commented on #2829
@whedon generate pdf

[2020-12-14 09:28] whedon commented on #2829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: :point_left:

[2020-12-14 09:29] GustaveCoste commented on #2765
@sjpfenninger apparently there is a bug with the dataset publication. I contacted the support and they will investigate. I will let you know when it is fixed.

[2020-12-14 09:41] juliohm commented on #2829
Review comments for paper:

![image](https://user-images.githubusercontent.com/3345261/102064459-146e4a00-3dd6-11eb-9436-444044825ac2.png)

![image](https://user-images.githubusercontent.com/3345261/102064595-42ec2500-3dd6-11eb-8817-55dc474656ed.png)

The comma in `"cores, "` should probably go outside the double quotes?

Overall, I am missing references to alternative approaches to the connectivi

[2020-12-14 09:45] meg-simula commented on #2879
Thanks @ramisetti for the prompt review! @mscroggs Are you able to handle the review comments in the format listed above?

[2020-12-14 09:45] meg-simula commented on #2879
@arfon Any ideas on why @ramisetti is not assigned to this issue (and not allowed to edit the checkboxes)? Anything I can do regarding this?

[2020-12-14 09:48] mscroggs commented on #2879
Yes, this format is fine. I'll get some revisions done soon

[2020-12-14 10:09] mikldk commented on #2878
@kdorheim, @r-barnes, would you mind giving a brief status of your progress?

[2020-12-14 10:10] mikldk commented on #2815
@trashbirdecology, can you please confirm that you have finished your review?

[2020-12-14 10:11] mikldk commented on #2892
@salleuska, @rMassimiliano, would you mind giving a brief status of your progress?

[2020-12-14 10:15] fduchatea commented on #2805
@galessiorob @nuest

As previously mentioned, the new repository is now on https://gitlab.com/fduchate/predihood for better accessibility.

Following are answers to most of the mentioned points.

- Contribution and authorship: there are three authors on the paper, but only two contributors on the repo - please clarify
[code]

- I'm hesitant to check of the "Substantial scholarly effort" as defined

[2020-12-14 10:21] fruzsinaagocs commented on #2830
@whedon generate pdf

[2020-12-14 10:24] whedon commented on #2830
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: :point_left:

[2020-12-14 10:59] nuest commented on #2805
Thanks for the updates so far!

To me making clear how the software is useful and usable (data import/export) to others is key, because if it is limited to your own research, I personally think the corresponding scientific article is a suitable way to reference it. Just wanted to put that here as this concern might not have been clear in my previous comments.

Re. community guidelines: take a look

[2020-12-14 11:17] oliviaguest commented on #2863
@khinsen Yes, reviewers do not *need* to interact with @whedon at all, indeed. But if you want to there is a list of commands you may run. In practice, it's basically just editors (and sometimes authors) who need to ask for the bot to do anything.

@mnarayan would you be able to give a rough ETA, please? 😊

[2020-12-14 11:35] tuelwer commented on #2828
@briandesilva thanks for clarifying the description!

@pdebuyl all my comments have been addressed appropriately. I see no further issues and I recommend to accept this submission.

[2020-12-14 12:12] arfon commented on #2645
@ajbaird - could you please add a little more information to the affiliation string? For example, city and country name.

[2020-12-14 12:16] arfon commented on #2689
@whedon accept deposit=true

[2020-12-14 12:17] whedon commented on #2689
[code]

[2020-12-14 12:18] whedon commented on #2689
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1338458383830175744) 👈 🐦🐦🐦

[2020-12-14 12:18] whedon commented on #2689
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1982
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02689](https://doi.org/10.21105/joss.02689)
2. If everything looks g

[2020-12-14 12:22] arfon commented on #2689
@bogovicj, @haesleinhuepf - many thanks for your reviews here and to @jni for editing this submission. JOSS relies upon the efforts of volunteers like yourselves, and we simply wouldn't be able to do it without you ✨

@d-tear - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-12-14 12:22] #2689 closed

[2020-12-14 12:22] whedon commented on #2689
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02689/status.svg)](https://doi.org/10.21105/joss.02689)

**We need your help!**

Journal of Open Source Softwa

[2020-12-14 12:27] arfon commented on #2695
@whedon accept deposit=true

[2020-12-14 12:27] whedon commented on #2695
[code]

[2020-12-14 12:29] whedon commented on #2695
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1338461089626017792) 👈 🐦🐦🐦

[2020-12-14 12:29] whedon commented on #2695
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1983
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02695](https://doi.org/10.21105/joss.02695)
2. If everything looks g

[2020-12-14 12:33] arfon commented on #2695
@brynpickering, @nmstreethran - many thanks for your reviews here and to @sjpfenninger for editing this submission. JOSS relies upon the volunteer efforts of people like yourselves, we simply wouldn't be able to do it without you! :sparkles:

@milicag - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-12-14 12:33] #2695 closed

[2020-12-14 12:33] whedon commented on #2695
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02695/status.svg)](https://doi.org/10.21105/joss.02695)

**We need your help!**

Journal of Open Source Softwa

[2020-12-14 12:42] arfon commented on #2879
@whedon re-invite @ramisetti as reviewer

[2020-12-14 12:42] whedon commented on #2879
OK, the reviewer has been re-invited.

@ramisetti please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-14 12:43] arfon commented on #2879
@meg-simula - looks like something went awry with the repository invite. Can you try clicking the above link again @ramisetti? The invite should be shown at the top of this page: https://github.com/openjournals/joss-reviews/invitations

[2020-12-14 12:46] arfon commented on #2893
@mmhs013 - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how

[2020-12-14 12:46] arfon commented on #2893
@whedon reject

[2020-12-14 12:46] whedon commented on #2893
Paper rejected.

[2020-12-14 12:46] #2893 closed

[2020-12-14 12:48] arfon commented on #2894
Hi @crsl4, many thanks for your submission. After consulting with the JOSS editorial team, we've concluded this submission is out of scope for JOSS. We believe this may be a better fit for the Journal of Open Source Education (http://jose.theoj.org).

[2020-12-14 12:48] arfon commented on #2894
@whedon reject

[2020-12-14 12:48] whedon commented on #2894
Paper rejected.

[2020-12-14 12:48] #2894 closed

[2020-12-14 12:49] ramisetti commented on #2879
Thank you @arfon and @meg-simula. I can now edit the checkboxes.

[2020-12-14 12:49] arfon commented on #2897
@balicea - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how

[2020-12-14 12:49] arfon commented on #2897
@whedon reject

[2020-12-14 12:50] whedon commented on #2897
Paper rejected.

[2020-12-14 12:50] #2897 closed

[2020-12-14 12:54] meg-simula commented on #2879
Thanks @arfon. Next time this happens, should I just try this re-invite?

[2020-12-14 13:13] arfon commented on #2879
Yes, that's it!

[2020-12-14 13:49] dhhagan commented on #2890
@sahilseth was whedon able to solve your invite issue? Or do you still need me to re-invite you?

[2020-12-14 14:00] Kevin-Mattheus-Moerman commented on #2903
@kbarnhart that is fine. If it is okay I'll assign you for now and you can just list yourself as OOO here

[2020-12-14 14:01] Kevin-Mattheus-Moerman commented on #2903
@whedon assign @kbarnhart as editor

[2020-12-14 14:01] whedon commented on #2903
OK, the editor is @kbarnhart

[2020-12-14 14:02] Kevin-Mattheus-Moerman commented on #2883
@kbarnhart thanks, that is fine. If it is okay I'll assign you for now and you can just list yourself as OOO here

[2020-12-14 14:02] Kevin-Mattheus-Moerman commented on #2883
@whedon assign @kbarnhart as editor

[2020-12-14 14:02] whedon commented on #2883
OK, the editor is @kbarnhart

[2020-12-14 14:08] ajbaird commented on #2645
Hi @arfon ! Just added city state and country, let me know if you want a more detailed address. Thanks!

[2020-12-14 14:25] arfon commented on #2645
@whedon accept

[2020-12-14 14:25] whedon commented on #2645
[code]

[2020-12-14 14:28] whedon commented on #2645
[code]

[2020-12-14 14:29] whedon commented on #2645
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1984

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1984, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-14 14:31] arfon commented on #2645
@whedon accept deposit=true

[2020-12-14 14:31] whedon commented on #2645
[code]

[2020-12-14 14:36] whedon commented on #2645
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1338493033185226754) 👈 🐦🐦🐦

[2020-12-14 14:36] whedon commented on #2645
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1985
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02645](https://doi.org/10.21105/joss.02645)
2. If everything looks g

[2020-12-14 14:37] fboehm commented on #2743
Hi, @dwinter - I just wanted to check to see if you've had a chance to look at the updates to the submission.

Thanks again!

[2020-12-14 14:40] kdorheim commented on #2878
Hi @mikldk, I've gone through the checklist, opened issues when relevant/marked others as complete.

 Open
JOSS Contribution and authorship isoverse/isoreader#142
 Open
JOSS Installation instructions isoverse/isoreader#143
 Open
JOSS Automated tests isoverse/isoreader#144
 Open
JOSS Example usage isoverse/isoreader#145

[2020-12-14 14:40] arfon commented on #2645
@fcooper8472, @MiroK - many thanks for your reviews here and to @meg-simula for editing this submission. JOSS relies upon the volunteer efforts of folks like yourself - we simply couldn't do it without you ✨

@ajbaird - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-12-14 14:40] #2645 closed

[2020-12-14 14:40] whedon commented on #2645
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02645/status.svg)](https://doi.org/10.21105/joss.02645)

**We need your help!**

Journal of Open Source Softwa

[2020-12-14 14:53] oalii commented on #2831
@chennachaos and @Kevin-Mattheus-Moerman ,

As proposed earlier, we added a seventh tutorial containing some basic hyper-elasticity simulations as well as a "more complex" model mixing quasi-static mechanics with Turing-like system to illustrate the use of BVPy to tackle models mixing several types of fields. We hope this example could be seen as a first step toward "multi-physics" modeling within

[2020-12-14 14:56] melissawm commented on #2830
Hello, @fruzsinaagocs ! A few small issues remain:

- in [Deaño, Huybrechs, Iserles (2017)] the publisher is `Society for Industrial; Applied Mathematics` (there is an error rendering the `&` character, I believe)
- There is a citation by [Hu Li, B et al] that doesn't seem to correspond to the actual article. I think this is the right one (and also includes a DOI that is missing from the reference

[2020-12-14 14:59] melissawm commented on #2812
Hello, all! Any updates, @jbuisine ?

[2020-12-14 14:59] melissawm commented on #2744
Hello, all! Any updates, @kfhiga ?

[2020-12-14 15:35] pdebuyl commented on #2828
Thank you @tuelwer for the review!

@briandesilva some of @jordanperr comments remain not entirely answered, as I understand it. A note on the performance is missing, for instance.

Also, could you state that the code is untested under windows, if that is well the case?

Some papers lack a DOI, such as 10.1137/17M1162366 (even if whedon did not list it, you should check that everything that has a

[2020-12-14 15:58] jbuisine commented on #2812
Hello @melissawm, I will work on it very soon! Sorry for the delay of the updates

[2020-12-14 16:26] fruzsinaagocs commented on #2830
@whedon generate pdf

[2020-12-14 16:28] whedon commented on #2830
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: :point_left:

[2020-12-14 16:29] fruzsinaagocs commented on #2830
Thanks! I think this is all done now.

Interestingly, bibTeX didn't like the word 'and' here.

Well spotted! I corrected this now, and it should have a doi.

All corrected to full journal names.

Added.

[2020-12-14 16:29] kfhiga commented on #2744
Sorry @melissawm, things are moving a bit slowly here. I hope to get all of
the revisions finished within the next couple of weeks. Thanks for checking
up.
Kenny

On Mon, Dec 14, 2020 at 6:59 AM Melissa Weber Mendonça <
notifications@github.com> wrote:

[2020-12-14 16:32] fruzsinaagocs commented on #2830
@whedon generate pdf

[2020-12-14 16:35] whedon commented on #2830
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: :point_left:

[2020-12-14 16:45] vlandau commented on #2829
@juliohm [commas go inside quotes](https://style.mla.org/punctuation-and-quotation-marks/). There are no "standard" software packages that I know of. I think people likely just use their favorite graph packages or GIS plugins to compute least cost paths or corridors. I'll add one or two additional references and a sentence about least cost paths so the reader at least knows where to look!

[2020-12-14 17:04] vijaysm commented on #2898
@Kevin-Mattheus-Moerman I am available for review.

[2020-12-14 17:13] ilyasst commented on #2898
I am interested in the subject of this publication and can review it in the following weeks. However, I'd like to check with you @Kevin-Mattheus-Moerman that there is no conflict of interest here as I know @diehlpk quite well. We have worked together in the past (same lab for some time) and are currently collaborating on some projects.

[2020-12-14 17:41] kbarnhart commented on #2883
@Kevin-Mattheus-Moerman sounds good. Thanks.

@kadyb I'll handle this submission starting in early January.

[2020-12-14 17:41] kbarnhart commented on #2903
@Kevin-Mattheus-Moerman sounds good. Thanks.

@ghislainv I'll handle this submission starting in early January.

[2020-12-14 17:44] kbarnhart commented on #2903
/ooo Dec 23 until Jan 3

[2020-12-14 19:04] boshek commented on #2870
@arfon here is a list from the pool of reviewers. I have _not_ ranked these at all. Let me know if you'd like to trim down this list.

Bryce Mecum: https://github.com/amoeba
Adam Sparks: https://github.com/adamhsparks/
Jesse Tweedle: https://github.com/tweed1e
Jeff Hollister: https://github.com/jhollist
Noam Ross: https://github.com/noamross
Maelle Salmon: https://github.com/maelle
Miles McBain: h

[2020-12-14 19:10] kthyng commented on #2804
Hi @tristan-salles! I'll be taking over to get your publication finalized. Looks like everything is in place. I have one comment from the paper. They are your own publications, but I see one called "eSCAPE" and one called "ESCAPE" but apparently should both be "eSCAPE". That one extra capital letter gives a really different feeling to the word. Would you like to update this in your references?

[2020-12-14 19:14] majensen commented on #1942
@whedon check references

[2020-12-14 19:15] whedon commented on #1942
[code]

[2020-12-14 19:20] kthyng commented on #2902
Hi @donaldRwilliams. Thank you for your submission. However, the JOSS editorial board has determined that it does not meet the bar of [_substantial scholarly effort_](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), especially as it looks to be mostly a wrapper.

If you continue to develop this work, we would be happy to reconsider it as a submission in the futu

[2020-12-14 19:20] kthyng commented on #2902
@whedon reject

[2020-12-14 19:20] whedon commented on #2902
Paper rejected.

[2020-12-14 19:20] #2902 closed

[2020-12-14 19:22] whedon opened #2907 "[PRE REVIEW]: zipcodeR: An all-in-one toolkit of functions & data for working with U.S. ZIP codes in R"
**Submitting author:** @gavinrozzi (<a href="http://orcid.org/0000-0002-9969-8175">Gavin Rozzi</a>)
**Repository:** <a href="https://github.com/gavinrozzi/zipcodeR" target ="_blank">https://github.com/gavinrozzi/zipcodeR</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-12-14 19:22] whedon commented on #2907
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-14 19:22] whedon opened #2908 "[PRE REVIEW]: samplics: a Python Package for selecting, weighting and analyzing data from complex sampling designs."
**Submitting author:** @MamadouSDiallo (<a href="http://orcid.org/0000-0002-0376-3631">Mamadou Diallo</a>)
**Repository:** <a href="https://github.com/survey-methods/samplics/" target ="_blank">https://github.com/survey-methods/samplics/</a>
**Version:** 0.2.6
**Editor:** @lorenanicole
**Reviewers:** @rchew, @soodoku
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:*

[2020-12-14 19:22] whedon commented on #2908
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-14 19:23] whedon commented on #2907
[code]

[2020-12-14 19:24] whedon commented on #2907
[code]

[2020-12-14 19:24] whedon commented on #2907
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02907/joss.02907/10.21105.joss.02907.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02907/joss.02907/10.21105.joss.02907.pdf) :page_facing_up: :point_left:

[2020-12-14 19:25] whedon commented on #2908
Failed to discover a `Statement of need` section in paper

[2020-12-14 19:26] whedon commented on #2908
[code]

[2020-12-14 19:27] donaldRwilliams commented on #2902
@kthyng

Thank you for this quick decision. However, I am a bit confused by the decision. The package is not a wrapper, not at all. The package in fact contains custom models for novel methodology that we recently introduced to the quantitative psychological literature.

The paper introducing the methodology is to be published in the journal Behavior Research Methods.  This is the software impleme

[2020-12-14 19:27] whedon commented on #2908
PDF failed to compile for issue #2908 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (cc972d7b651ad09a9bd2c5d1/joss/paper.md): found character that cannot start any token while scanning for the next token at line 4 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/rub

[2020-12-14 19:33] kthyng commented on #2907
Hi @gavinrozzi. Thank you for your submission. However, while your software does indeed look like useful research software, it does not meet the bar of [_substantial scholarly effort_](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

If you continue to develop this work, we would be happy to reconsider it as a submission in the future.

[2020-12-14 19:34] kthyng commented on #2907
@whedon reject

[2020-12-14 19:34] #2907 closed

[2020-12-14 19:34] whedon commented on #2907
Paper rejected.

[2020-12-14 19:36] kadyb commented on #2883
@kbarnhart, thanks for the good news!

We can suggest reviewers from:
a) JOSS list - tscheypidi, jhollist, nuest, mikerspencer,
b) rOpenSci - adamhsparks, boshek

[2020-12-14 19:38] gavinrozzi commented on #2907
Hello @kthyng. I have reviewed the criteria for "substantial scholarly effort" prior to making this submission and feel that this criteria has been met with my submission.

Could you please elaborate as to why you feel this does not currently meet that criteria? Given that this package has already been cited in multiple scholarly outputs since its introduction and fills a void in the R ecosystem I

[2020-12-14 19:46] ablaom commented on #2849
## Response to author's response to my review

@sylvaticus Thank you for your response and addressing some of my criticisms.

@terrytangyuan The author has not addressed, to my satisfaction, a central objection, which can be rephrased as this: To show the software meets a research need, *it needs to be demonstrated that the software is substantially easier to use than the substantially more powerf

[2020-12-14 19:49] kthyng commented on #2907
@gavinrozzi Sure, the primary item on [the list](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) that triggered this rejection is the lines of code in your submission. The cloc analysis printed above shows the lines of R code to be less than 200. We are mindful that JOSS gives a "publication credit" for the software, and continue to be regarded as a valid and eq

[2020-12-14 20:07] bradkav commented on #2823
@eloisabentivegna Sorry for the delay. I've now started the review (downloaded & installed pyhf, running some tests etc.). I should be able to provide some comments by the end of the week.

[2020-12-14 20:13] kthyng commented on #2902
@donaldRwilliams When a submission is labeled with query-scope, we have a process behind the scenes where members of the editorial board inspect the submission and vote on it going to review or not. The AEiC on rotation manually inspects and decides to add the query-scope label (or not), and then it goes to the board for further manual checks of the scope. We require at least two additional board

[2020-12-14 20:21] tristan-salles commented on #2804
Hi @kthyng, Thanks for picking this, I have made the changes accordingly.

[2020-12-14 20:31] kthyng commented on #2804
@whedon generate pdf

[2020-12-14 20:32] whedon commented on #2804
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02804/joss.02804/10.21105.joss.02804.pdf) :page_facing_up: :point_left:

[2020-12-14 20:32] donaldRwilliams commented on #2902
@kthyng
Thanks for the quick response.

Note that perhaps the software itself does not warrant publication in JOSS, but programming the models in the first place certainly took many months of scholarly effort ironing out kinks, making sure they work right, etc.. And if the commit history is being used to track the scholarly time, note that lots of the code was written in stand-alone files for the

[2020-12-14 20:33] kthyng commented on #2804
Ok looks good!

[2020-12-14 20:33] kthyng commented on #2804
@whedon accept deposit=true

[2020-12-14 20:33] whedon commented on #2804
[code]

[2020-12-14 20:35] whedon commented on #2804
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1338583382914109441) 👈 🐦🐦🐦

[2020-12-14 20:35] whedon commented on #2804
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1986
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02804](https://doi.org/10.21105/joss.02804)
2. If everything looks g

[2020-12-14 20:37] kthyng commented on #2804
Congrats on your new publication @tristan-salles! Thank you to editor @kbarnhart and to reviewers @johnjarmitage and @cmshobe for your time and expertise. 🎉 🎉

[2020-12-14 20:37] #2804 closed

[2020-12-14 20:37] whedon commented on #2804
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02804/status.svg)](https://doi.org/10.21105/joss.02804)

**We need your help!**

Journal of Open Source Softwa

[2020-12-14 20:43] MamadouSDiallo commented on #2908
Dear Openjournals/Joss-Reviews

As JOSS editor, I suggest lorenanicole.

For potential reviewers, i suggest katschueler (katja.schueler@kgu.de),
ejhigson (ejhigson@gmail.com), nhejazi (nhejazi@berkeley.edu), and ohmaddi (
oh73@cornell.edu)

Best regards

On Mon, Dec 14, 2020 at 2:22 PM whedon <notifications@github.com> wrote:

--
*Mamadou S. Diallo, Ph.D., PStat®*
Founder and Lead Data Scientist
P

[2020-12-14 21:36] kthyng commented on #2908
Hi @MamadouSDiallo. Thank you for your submission. I have a question about it: the software readme ends with "This is a beta version. At this stage, this project is not recommended to be used for production or any project that the user depend on." Can you explain this note further? In particular, I am looking for information that will help me and the editorial board understand if this fulfills our

[2020-12-14 21:58] sebkopf commented on #2878
thank you @kdorheim! pull request for the changes to address the raised issues is here: https://github.com/isoverse/isoreader/pull/148

[2020-12-14 22:15] VivianePons commented on #2741
Hi all, @shahmoradi can I ask where we are on this? (No rush, I just want to make sure we are still on track!)

[2020-12-14 22:19] shahmoradi commented on #2741
I have addressed @williamfgc comments and I am working on @milancurcic 's comments. I should be able to back with a full revision by tomorrow, hopefully.

[2020-12-14 23:28] MamadouSDiallo commented on #2908
Dear Kristen

I have not updated the readme page for months. Since the time I wrote that,
I have added many tests and the software is certainly ready to be used. I
still plan to keep the numbering scheme in a beta format 0.X for a while to
get the chance to incorporate more users' feedback in the API design.

The software is not a one-off program. It is meant to be a tool for
analyzing survey samp

[2020-12-14 23:29] rtfisher commented on #2807
Apologies -- absolutely buried here. I should have something in a week or
so.

On Tue, Dec 8, 2020 at 5:07 PM Arfon Smith <notifications@github.com> wrote:

--
Dr. Robert Fisher
Associate Professor / Graduate Program Director
University of Massachusetts/Dartmouth
Department of Physics
285 Old Westport Road
North Dartmouth, Massachusetts 02747
robert.fisher@umassd.edu
http://www.novastella.org

[2020-12-15 01:27] lbugnon commented on #2868
@charleygros ok, I think it's a great work!

[2020-12-15 02:35] majensen commented on #1942
Ok @benjaminbolling -- I think we are on our way to the finish. The last thing to do before I call upon Those Who Must Not Be Named (the associate editors in chief) is to create an open archive of the Github repo. Zenodo.org is a good place for this - have a look at https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729 for a brief tutorial.
The main detail here is to name

[2020-12-15 08:45] pdebuyl commented on #2854
@shreyasbapat @jiwoncpark any news on this?

[2020-12-15 08:47] shreyasbapat commented on #2854
I promise to review this in next 2 days😀

[2020-12-15 09:09] ghislainv commented on #2903
@kbarnhart, that's perfectly fine with me. Thanks for considering my manuscript/software.

[2020-12-15 09:15] pdebuyl commented on #2888
@salbreux can you review the article "Tyssue, en Epithelium simulation library" for the Journal of Open Source Software? (please check our COI policy https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy ).

[2020-12-15 09:33] BKillen05 commented on #2740
Hi Kevin, That is fine for me CheersBryce  Bryce A Killen, BExSc Hons PhDPostdoctoral Research FellowHuman Movement Biomechanics Research GroupKU Leuven, Leuven, BelgiumTwitter: @bryce_killen From: Kevin Mattheus MoermanSent: zaterdag 12 december 2020 10:34To: openjournals/joss-reviewsCc: BKillen05; MentionSubject: Re: [openjournals/joss-reviews] [PRE REVIEW]: ezc3d: An easy C3D file I/O cross-pla

[2020-12-15 09:34] salrm8 commented on #2871
@drvinceknight and @jayten: Thank you again for the comments. Small modifications in the codes and documentation are applied and pushed to the repo.
The summary of the actions/answers are as follows:

1. salrm8 and saleh8 are the IDs of the first author in the JOSS paper.
2. A GitHub page is created to host the documentation: https://kth-nek5000.github.io/UQit/
3. File "CONTRIBUTING.md" is created

[2020-12-15 09:34] arfon commented on #2562
@pariterre - I would suggest renaming this section _Statement of need_. From our submission guidelines:

[2020-12-15 09:38] arfon commented on #2107
@trallard - I think we're going to need to find a second reviewer for this submission as it doesn't look like @eteq is going to be able to assist here.

[2020-12-15 10:25] Kevin-Mattheus-Moerman commented on #2898
@whedon assign @vijaysm as reviewer

[2020-12-15 10:25] whedon commented on #2898
OK, @vijaysm is now a reviewer

[2020-12-15 10:26] Kevin-Mattheus-Moerman commented on #2898
@ilyasst thanks for letting us know. We would unfortunately classify that as a conflict of interest so I will look for alternative reviewers.

[2020-12-15 10:26] Kevin-Mattheus-Moerman commented on #2898
@ctdegroot @chennachaos @tjhei, @likask would you be interested in reviewing this work for JOSS? It features nonlocal fracture models and finite difference/meshfree methods.

FYI we can be flexible the coming month regarding timing (since it is a holiday season for many), so if you are able to accept this invitation but start review at a later time, or take quite a bit more time than usual, that i

[2020-12-15 10:27] Kevin-Mattheus-Moerman commented on #2740
@whedon add @BKillen05 as reviewer

[2020-12-15 10:27] whedon commented on #2740
OK, @BKillen05 is now a reviewer

[2020-12-15 10:32] Kevin-Mattheus-Moerman commented on #2885
@hugoledoux would you be interested in reviewing this work?

[2020-12-15 10:54] jayten commented on #2871
@salrm8,
I have gone through the changes, and all of them work except for the run-time-error with the "pce_tests.py" file. I am still getting the "max_iter" keyword error even after pulling the latest changes made by you.
[code]

[2020-12-15 11:24] salrm8 commented on #2871
@jayten Has UQit been re-installed? It seems the previous version is still being used. One can simply replace "/home/jatinder/anaconda3/lib/python3.8/site-packages/UQit/linAlg.py" by the linAlg.py from the repo.

After this test, I will upload a new version of UQit on PyPI.
Thank you,

[2020-12-15 11:36] hugoledoux commented on #2885
I would yes, but major conflict of interest here: Liangliang's desk is 4m from mine (in normal times!).

[2020-12-15 12:46] profxj commented on #2308
@dfm -- v1.3 is on `master` now.
Please proceed with publication.

Thanks!

[2020-12-15 12:49] melissawm commented on #2830
Hi @fruzsinaagocs one last thing, I think according to the DOI link the citation for [Condon et. al. 2009] should be

Condon, M., Deaño, A., Iserles, A., Maczyński, K. and Xu, T. (2009), "On numerical methods for highly oscillatory problems in circuit simulation", COMPEL - The international journal for computation and mathematics in electrical and electronic engineering, Vol. 28 No. 6, pp.

(note

[2020-12-15 12:59] fruzsinaagocs commented on #2830
@melissawm Fixed it 😇

[2020-12-15 12:59] fruzsinaagocs commented on #2830
@whedon generate pdf

[2020-12-15 13:00] whedon commented on #2830
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: :point_left:

[2020-12-15 13:24] melissawm commented on #2830
@whedon check references

[2020-12-15 13:25] whedon commented on #2830
[code]

[2020-12-15 13:26] melissawm commented on #2830
@fruzsinaagocs we are good to go! Can you please make a tagged release and archive (e.g. Zenodo), and report the DOI here?

[2020-12-15 13:47] fruzsinaagocs commented on #2830
Here's the Zenodo doi: 10.5281/zenodo.4322958

[2020-12-15 13:53] melissawm commented on #2830
Ok! It seems like the metadata for the Zenodo archive needs to be fixed. The title of the archive should match the title of the paper, and the author list should be the same, as well.

[2020-12-15 14:02] fruzsinaagocs commented on #2830
@melissawm Ah ok, I've edited it now (the doi should be the same).

[2020-12-15 14:09] melissawm commented on #2830
@whedon set 10.5281/zenodo.4322958 as archive

[2020-12-15 14:09] whedon commented on #2830
OK. <a href="https://doi.org/10.5281/zenodo.4322958" target="_blank">10.5281/zenodo.4322958</a> is the archive.

[2020-12-15 14:09] melissawm commented on #2830
@whedon accept

[2020-12-15 14:09] whedon commented on #2830
[code]

[2020-12-15 14:10] hugoledoux commented on #2866
Thanks for comments @GANys, sorry for delay in responding.

You are right, I forgot to add this! Will do so very soon.

If you see comments below from @chenkianwee he says FME and others could do the same. I somewhat disagree but it's a good point to mention. In short, you can extruse buildings and other other features/objects, but the stitching part that aims obtaining topologically clean data is

[2020-12-15 14:10] whedon commented on #2830
[code]

[2020-12-15 14:10] whedon commented on #2830
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1987

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1987, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-15 14:11] hugoledoux commented on #2866
Should this be added in the installation tutorial though? Maybe we had this all along and never noticed?

[2020-12-15 14:12] hugoledoux commented on #2866
Is this in the dataset given in the folder `example_data/*`? If yes, where is it? And more importantly, it's possible that there's a gap there between the terrain and the building, I would be very surprise they overlap?

[2020-12-15 14:14] melissawm commented on #2830
@fruzsinaagocs please check the final proof to make sure we didn't miss anything before publishing :)

[2020-12-15 14:20] DavidNickle commented on #2901
I've started my review of #2901 - I appreciate the opportunity!

[2020-12-15 14:24] fruzsinaagocs commented on #2830
@melissawm It all looks good :)

[2020-12-15 14:26] dfm commented on #2308
@profxj: Great! What is the DOI for the archive of this release, described in step 2 in https://github.com/openjournals/joss-reviews/issues/2308#issuecomment-729782700 above?

[2020-12-15 14:38] profxj commented on #2308
How is this?

https://doi.org/10.5281/zenodo.4323006

[2020-12-15 14:40] dfm commented on #2308
The metadata *must be the same as the manuscript*:

- The title should be `PypeIt: The Python Spectroscopic Data Reduction Pipeline`
- And the author list (names and order) must also match

You can edit this fields on Zenodo.

[2020-12-15 14:48] hugoledoux commented on #2866
I would agree with this, extending it is somewhat cumbersome, but it's possible. Would you say it would be better if I rephrased the paper as such?

https://github.com/tudelft3d/3dfier/commit/e351e5a20bff6349368a6ea0591890558173eb3f

Thanks. Overlap == we aim at avoiding those, and I'd like to know the location then I'll check. We don't guarantee clean 3D output, only if you have clean 2D then can

[2020-12-15 14:54] kthyng commented on #2908
Hi @MamadouSDiallo, thanks for the info. One guideline for if a package is ready for submission to JOSS is if it is relatively complete in terms of functionality.  It’s normal to add features, but the base functionality should be solid. I would think the API would be relatively stable as well. You can check out the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html). The

[2020-12-15 14:59] kthyng commented on #2830
Hi @fruzsinaagocs! I'm taking over to finish publication your work. Can you verify the version of the software you want associated with it? I see the newest version on the repo is v1.0.3.

[2020-12-15 15:03] fruzsinaagocs commented on #2830
@kthyng Yes, the version number is v1.0.3!

[2020-12-15 15:11] kthyng commented on #2830
@fruzsinaagocs Ok great, I'll update that.

Regarding your paper, just a few notes:
* I fixed some inline references in a [PR](https://github.com/fruzsinaagocs/oscode/pull/6), so please merge if you agree with them
* I can't quite tell how to fix the last sentence before the acknowledgments. If the reference is to be inline (without parentheses) then take the square brackets off. If it is meant to

[2020-12-15 15:12] kthyng commented on #2830
@whedon set v1.0.3 as version

[2020-12-15 15:12] whedon commented on #2830
OK. v1.0.3 is the version.

[2020-12-15 15:21] chennachaos commented on #2898
Hi @Kevin-Mattheus-Moerman. Thanks for the invitation!
I am occupied with other assignments in the next couple of months. I will not be able to carry out the review at least until the beginning of February. If that's fine with you, then you can add me as a reviewer for this one.

[2020-12-15 15:37] fruzsinaagocs commented on #2830
Thanks @kthyng, I've merged your PR and corrected another inline citation + the last citation.

[2020-12-15 15:41] akrinos commented on #2817
Again, thank you @jcmcnch and @will-rowe for your help!

As a follow-on:
**Writing (paper and readthedocs)**

- I have added a sentence of explanation in the about section of the readthedocs that further elaborates on reproducibility and flexibility
- I have added a note to the section of "Running `EUKulele`" that contains this warning explicitly saying that this is particularly important due to t

[2020-12-15 15:44] MamadouSDiallo commented on #2908
Dear Kirsten

Thank you for the clarification. Yes, the software is relatively complete
and I do not expect the API to change in a meaningful way. The readme is
behind compared to the actual documentation of the tool (
https://samplics.readthedocs.io/en/latest/).

I will improve the readme and possibly tweak a few things based on JOSS
review criteria. How much time can you give me to implement the

[2020-12-15 15:47] trashbirdecology commented on #2815
Ah yes, apologies! I am donezo

On Mon, Dec 14, 2020 at 3:10 AM Mikkel Meyer Andersen <
notifications@github.com> wrote:

--
Sent from Gmail Mobile

[2020-12-15 15:59] kthyng commented on #2830
@whedon generate pdf

[2020-12-15 16:00] whedon commented on #2830
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02830/joss.02830/10.21105.joss.02830.pdf) :page_facing_up: :point_left:

[2020-12-15 16:03] kthyng commented on #2908
@MamadouSDiallo If you can complete these tasks in a week or two, then let's just leave this open for now. If not, you can withdraw the paper and resubmit.

Note in the comments above from our bot whedon, too, you are missing a statement of need in your paper, and the paper itself is not compiling correctly. Please address these items too.

[2020-12-15 16:16] kthyng commented on #2830
@fruzsinaagocs ok looks good! We can wrap up now.

[2020-12-15 16:16] kthyng commented on #2830
@whedon accept deposit=true

[2020-12-15 16:17] whedon commented on #2830
[code]

[2020-12-15 16:17] whedon opened #2909 "[PRE REVIEW]: How scientifically popular is a species?"
**Submitting author:** @jessicatytam (<a href="http://orcid.org/0000-0003-3655-1974">Jessica Tam</a>)
**Repository:** <a href="https://github.com/jessicatytam/specieshindex" target ="_blank">https://github.com/jessicatytam/specieshindex</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-12-15 16:17] whedon commented on #2909
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-15 16:18] whedon opened #2910 "[PRE REVIEW]: RBF: An R package to compute a robust backfitting estimator for additive models"
**Submitting author:** @alemermartinez (<a href="http://orcid.org/0000-0002-1893-2039">Alejandra Martínez</a>)
**Repository:** <a href="https://github.com/alemermartinez/JOSS" target ="_blank">https://github.com/alemermartinez/JOSS</a>
**Version:** v2.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-12-15 16:18] whedon commented on #2909
[code]

[2020-12-15 16:18] whedon commented on #2910
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-15 16:18] whedon commented on #2909
[code]

[2020-12-15 16:18] whedon commented on #2830
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1338881155144294400) 👈 🐦🐦🐦

[2020-12-15 16:18] whedon commented on #2830
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1988
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02830](https://doi.org/10.21105/joss.02830)
2. If everything looks g

[2020-12-15 16:18] whedon commented on #2910
[code]

[2020-12-15 16:18] whedon commented on #2909
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02909/joss.02909/10.21105.joss.02909.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02909/joss.02909/10.21105.joss.02909.pdf) :page_facing_up: :point_left:

[2020-12-15 16:18] whedon commented on #2910
PDF failed to compile for issue #2910 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-a0b7af7c4770/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-a0b7af7c4770/lib/whedon.rb:155:in `new'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-a0b7af7c477

[2020-12-15 16:19] kthyng commented on #2909
@whedon query scope

[2020-12-15 16:19] whedon commented on #2909
Submission flagged for editorial review.

[2020-12-15 16:20] kthyng commented on #2909
Hi @jessicatytam, and thanks for your submission. Since the number of lines of code of your submission is on the low end (below 1000), I have flagged it for editorial review to decide whether it is in scope or not. You should hear back from someone here next week about it.

[2020-12-15 16:20] whedon commented on #2910
[code]

[2020-12-15 16:22] kthyng commented on #2910
Hi @alemermartinez! Is your software submission located in https://github.com/alemermartinez/JOSS?

[2020-12-15 16:24] kthyng commented on #2830
Congrats on your new publication @fruzsinaagocs! Many thanks to editor @melissawm and reviewers @jakryd and @dlfivefifty — this wouldn't work without your time and expertise!

(I will close this issue once the doi resolves)

[2020-12-15 16:28] alemermartinez commented on #2910
Hi Kristen.

The paper is located in https://github.com/alemermartinez/JOSS

And the RBF package is located in https://github.com/msalibian/RBF and also in CRAN (https://cran.r-project.org/web/packages/RBF/index.html)

Hope I have answered your question.

Kind regards,

Alejandra

________________________________
De: Kristen Thyng <notifications@github.com>
Enviado: martes, 15 de diciembre de 2020

[2020-12-15 16:35] dfm commented on #2843
@giordano and @semaphoreP: Thanks for reviews! I really appreciate your time and your constructive suggestions.

@mileslucas: There are two things for you to do before we do the final processing:

1. I submitted a PR with some small edits to the manuscript. Take a look at that, merge it, and double check the manuscript to see if there are any other edits that you want to make. Then, comment `@whed

[2020-12-15 16:35] chenkianwee commented on #2866
Yes, this is from the example dataset. There is no overlap in the original dataset, but I think what is happening is that the terrain is inheriting some of the elevations from the building when the terrain meets the buildings. I have uploaded my data here if it is useful for you to see what is wrong?
[example_data.zip](https://github.com/openjournals/joss-reviews/files/5697217/example_data.zip)

[2020-12-15 16:39] chenkianwee commented on #2866
There is documentation for some other missing visual studio files. Its a different visual studio file. But I notice you have already updated your installation instruction here https://tudelft3d.github.io/3dfier/installation.html

[2020-12-15 16:43] chenkianwee commented on #2866
I agree with Hugo that the stitching part is more complex and there might not be an existing function to do that. I overlooked that part when giving the comment about the state of the art. I think it will be beneficial to the paper if maybe you can mention the current state of the art with extrusion etc.

[2020-12-15 17:10] #2830 closed

[2020-12-15 17:10] whedon commented on #2830
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02830/status.svg)](https://doi.org/10.21105/joss.02830)

**We need your help!**

Journal of Open Source Softwa

[2020-12-15 17:47] rclipp commented on #2555
@eloisabentivegna, We have reviewd the recommendations and we are making changes now to both the paper and repository. We hope to have it finished early next week or sooner. Some of the library comparisons will be difficult due to the 1000 word limit, but we will address as many issues as we can. Thanks!

[2020-12-15 17:48] leouieda commented on #2766
@sadielbartholomew thank you for bringing this up. As @znicholls pointed out, we had discussed this in the prereview since the line count is on the small side. However, I'm not a climate researcher which is why we decided to get the opinion of reviewers as well. As you mentioned, this is evidently a useful piece of software given that it's already been cited. From my side, I would be happy to trea

[2020-12-15 18:05] ashiklom commented on #2766
My 2 cents: I think this is comfortably within scope. We as an Earth science community need more user-friendly modeling tools like this, and more citable papers describing those tools.

[2020-12-15 18:10] rgieseke commented on #2766
I'm obiously biased (as i'm part of the OpenSCM projects) but this tool is also using the `scmdata` and `openscm-units` projects by the same authors which help making the code in this project look succinct by moving boilerplate code to re-usable modules..

[2020-12-15 18:23] kanishkan91 commented on #2890
@tscheypidi We have addressed your comment regarding the installation instructions on the branch. We are working on documenting the parameters more clearly as you recommend. Will notify you once that change is done. Let us know what you think. Thanks again for these review comments!

[2020-12-15 18:38] TheoChristiaanse commented on #2677
Hello @sjpfenninger

We are done changing most of the different issues. The eventual branch we will use for the new version is here:

https://gitlab.com/energyincities/besos/-/tree/pre2.0

The new readthedocs can be found here:

https://besos.readthedocs.io/en/jossfixes/

The website has also changed.

https://besos.uvic.ca/

Things that we didn't get to are captured in new issues posted on the is

[2020-12-15 19:11] sadielbartholomew commented on #2766
Thanks all for the comments RE the 'substantial scholarly effort' criterion.

I work as an effective research software engineer in the field of climate research, however that's quite different to being a climate researcher, and I am definitely not an "expert" in the field either! So that's an important caveat to note. If you require the opinion of someone who fits that kind of description, I do ha

[2020-12-15 19:12] profxj commented on #2308
How's this?

https://doi.org/10.5281/zenodo.4323006

[2020-12-15 20:00] modenaxe commented on #2740
@Kevin-Mattheus-Moerman probably this is ok for me as well but can I confirm when I am back in early January?

[2020-12-15 20:25] DavidNickle commented on #2901
**Conflict of interest:** I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
Code of Conduct

**Repository:** The source code for this software is available at the repository url

**License:** The repository containa a plain-text LICENSE file with the c

[2020-12-15 22:01] mileslucas commented on #2843
@whedon generate pdf

[2020-12-15 22:02] whedon commented on #2843
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02843/joss.02843/10.21105.joss.02843.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02843/joss.02843/10.21105.joss.02843.pdf) :page_facing_up: :point_left:

[2020-12-15 22:14] akoontz11 commented on #2889
Hi @kyleniemeyer, thanks for your message and providing information on this submission. This software has completed [review by rOpenSci](https://github.com/ropensci/software-review/issues/373), but I wanted to reach out and just ask about the status of this review. If there's anything I could do to help move the process along, please let me know.

[2020-12-15 22:26] dfm commented on #2308
Just about there! It looks like Frederick Davies is missing from the author list on Zenodo. Ping me when you've got that synchronized and we're good to go!

[2020-12-15 23:09] mileslucas commented on #2843
@dfm All released and updated, the Zenodo link is https://zenodo.org/deposit/4323554 with the doi `10.5281/zenodo.4323554`

[2020-12-15 23:46] MamadouSDiallo commented on #2908
I will work on these tasks and come back to you within two weeks. Bets
regards.

On Tue, Dec 15, 2020 at 11:03 AM Kristen Thyng <notifications@github.com>
wrote:

--
*Mamadou S. Diallo, Ph.D., PStat®*
Founder and Lead Data Scientist
Phone: +1 (917) 251-0020
Email: msdiallo@QuantifyAfrica.org
www.QuantifyAfrica.org

MAKE  POVERTY  HISTORY

[2020-12-16 00:28] profxj commented on #2308
Ok, @dfm -- I think I got it.
Thanks for your help and patience.

[2020-12-16 03:31] briandesilva commented on #2828
@pdebuyl, I have fixed the DOIs and added a line to the README about lack of testing for windows machines.

I will have to go back and look over @jordanperr's comments to be double-check for anything I've missed. Though I'll note that I previously added performance discussions to various sections of the documentation.

[2020-12-16 05:00] jiwoncpark commented on #2854
Hi @rmorgan10, I created an [issue](https://github.com/deepskies/deeplenstronomy/issues/41#issue-768442817) at the `deeplenstronomy` repo to address some of the review checklist items, including tests and function docstrings. Separately, I'm adding my comments on the paper manuscript below. @pdebuyl Please let me know if the issue or paper comments should be placed elsewhere.

**Paper comments**

[2020-12-16 07:31] jayten commented on #2871
@salrm8
You are correct. I did not update the installed version of UQit. I am not getting any error now.

[2020-12-16 08:47] pdebuyl commented on #2854
Thank you @jiwoncpark for the review! The issue and comments are at the right place. There is some freedom with respect to how the review is conducted, as long as I see the progress on this issue page.

[2020-12-16 08:49] pdebuyl commented on #2854
@rmorgan10 there is some confusion related to the link error mentioned in https://github.com/deepskies/deeplenstronomy/issues/41 : you have a repository called deeplenstronomy with the notebooks. Is that repository supposed to remain online? If so, could you rename it?

[2020-12-16 08:50] pdebuyl commented on #2854
Edit/PS to previous comment: "you have a repository called deeplenstronomy in your github profile"

[2020-12-16 08:50] salrm8 commented on #2871
@jayten Great, thank you! I will push the revised version to PyPI.

[2020-12-16 10:12] Kevin-Mattheus-Moerman commented on #2740
@modenaxe okay sounds good. Enjoy the holiday period and talk to you next year.

[2020-12-16 10:13] Kevin-Mattheus-Moerman commented on #2740
@whedon start review

[2020-12-16 10:13] whedon opened #2911 "[REVIEW]: ezc3d: An easy C3D file I/O cross-platform solution for C++, Python and MATLAB"
**Submitting author:** @pariterre (<a href="http://orcid.org/0000-0002-5031-1048">Benjamin Michaud</a>)
**Repository:** <a href="https://github.com/pyomeca/ezc3d" target ="_blank">https://github.com/pyomeca/ezc3d</a>
**Version:** Release_1.4.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @melund, @BKillen05, @modenaxe
**Archive:** <a href="https://doi.org/10.5281/zenodo.4553333" target="_bla

[2020-12-16 10:13] whedon commented on #2740
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2911.

[2020-12-16 10:13] #2740 closed

[2020-12-16 10:13] whedon commented on #2911
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @melund, @BKillen05 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-12-16 10:14] Kevin-Mattheus-Moerman commented on #2898
Great @chennachaos. I'll add you for now and I'll look for more reviewers too. Thanks.

[2020-12-16 10:14] whedon commented on #2911
[code]

[2020-12-16 10:14] Kevin-Mattheus-Moerman commented on #2898
@whedon add @chennachaos as reviewer

[2020-12-16 10:14] whedon commented on #2911
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02911/joss.02911/10.21105.joss.02911.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02911/joss.02911/10.21105.joss.02911.pdf) :page_facing_up: :point_left:

[2020-12-16 10:14] whedon commented on #2898
OK, @chennachaos is now a reviewer

[2020-12-16 10:15] Kevin-Mattheus-Moerman commented on #2898
@diehlpk do you have any suggestions for reviewers at this point?

[2020-12-16 10:17] Kevin-Mattheus-Moerman commented on #2885
@hugoledoux ah right. Okay thanks for letting me know. Can you and @LiangliangNan help suggest any reviewers?

[2020-12-16 10:23] Kevin-Mattheus-Moerman commented on #2885
@avaxman @sgsellan @mlivesu @ataber would you be interested in reviewing this work for [JOSS](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) focuses on [the software](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) and this [short paper](https://github.com/openjournals/joss-papers/blob/joss.02885/jo

[2020-12-16 10:24] Kevin-Mattheus-Moerman commented on #2498
@whedon generate pdf

[2020-12-16 10:26] whedon commented on #2498
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02498/joss.02498/10.21105.joss.02498.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02498/joss.02498/10.21105.joss.02498.pdf) :page_facing_up: :point_left:

[2020-12-16 10:46] mlivesu commented on #2885
@Kevin-Mattheus-Moerman, sorry but this is a period of many deadlines for me. I cannot take this one.

[2020-12-16 10:48] Kevin-Mattheus-Moerman commented on #2498
Unfortunately we have been unable to reach @dineshresearch in relation to the last unticked box. However, they did previously state:

Furthermore @moorepants has also completed the review and recommends acceptance. Finally I have also reviewed the paper and sections relating to "State of the field", and feel they are sufficient. I will there now process this work for acceptance in JOSS to avoid fu

[2020-12-16 10:52] Kevin-Mattheus-Moerman commented on #2498
@wkirgsn I will be processing this work for acceptance. I might have some final points on the paper later on but for the moment can you:

- [ ] Archive a copy of this work on [ZENODO](https://zenodo.org/) and report back here with the archive DOI? As you create this archive please **ensure that the metadata matches that of the paper**, this includes the title, author names, number of authors, and

[2020-12-16 11:04] Kevin-Mattheus-Moerman commented on #2885
@mlivesu that is fine. We are getting this type of response from nearly all reviewers at this time. Completely understandable if course. I'd like to point out though that we can be really flexible and if you think you can join/pick this up in January for instance that is fine. So if you are interested in principle, but too busy now, I could add you now if you like and we can wait and be flexible t

[2020-12-16 11:15] ghislainv commented on #2903
Correcting typos in paper's summary: @whedon generate pdf

[2020-12-16 11:22] ghislainv commented on #2903
Correcting typos in paper's summary.

[2020-12-16 11:23] ghislainv commented on #2903
@whedon generate pdf

[2020-12-16 11:24] whedon commented on #2903
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02903/joss.02903/10.21105.joss.02903.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02903/joss.02903/10.21105.joss.02903.pdf) :page_facing_up: :point_left:

[2020-12-16 11:54] krober10nd commented on #2687
I've dealt with one more issue pertaining to the paper (https://github.com/krober10nd/SeismicMesh/pull/170) @nschloe brought up and I've independently improved parallel performance in 2d/3d by a significant margin in https://github.com/krober10nd/SeismicMesh/pull/171 and  https://github.com/krober10nd/SeismicMesh/pull/172 and updated the figure and text accordingly regarding 3d parallel performanc

[2020-12-16 12:44] nschloe commented on #2687
I might have time to look at the revisions later tonight, otherwise tomorrow.

[2020-12-16 13:23] mlivesu commented on #2885
I'll be completely swamped until the end of January/beginning of February, then it'll be time for some well deserved rest :)

[2020-12-16 14:04] rmorgan10 commented on #2854
Yeah that was a staging area for the notebooks before we enabled github-pages for the deepskies/deeplenstronomy repo. I should really just delete the personal repo. Thanks for pointing that out!

[2020-12-16 14:16] dfm commented on #2308
@profxj: Awesome. Looks good now - thanks!

[2020-12-16 14:17] dfm commented on #2308
@whedon generate pdf

[2020-12-16 14:19] whedon commented on #2308
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: :point_left:

[2020-12-16 14:19] dfm commented on #2308
@whedon check references

[2020-12-16 14:21] whedon commented on #2308
[code]

[2020-12-16 14:22] dfm commented on #2308
@whedon set 10.5281/zenodo.4323006 as archive

[2020-12-16 14:22] whedon commented on #2308
OK. <a href="https://doi.org/10.5281/zenodo.4323006" target="_blank">10.5281/zenodo.4323006</a> is the archive.

[2020-12-16 14:22] dfm commented on #2308
@whedon set v1.3 as version

[2020-12-16 14:22] whedon commented on #2308
OK. v1.3 is the version.

[2020-12-16 14:23] dfm commented on #2308
@whedon accept

[2020-12-16 14:23] whedon commented on #2308
[code]

[2020-12-16 14:24] dfm commented on #2308
@profxj: I've handed this off to the Editors-in-Chief who will handle the final processing. They might have some last comments and then we'll get this published shortly.

Thanks again to @Gabriel-p and @astrom-tom for reviewing!

[2020-12-16 14:24] whedon commented on #2308
[code]

[2020-12-16 14:25] whedon commented on #2308
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1989

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1989, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-16 14:28] diehlpk commented on #2898
@Kevin-Mattheus-Moerman  Maybe: mlparks or djlittl or johntfoster or jamitch-snl could be some potential reviewers.

[2020-12-16 14:28] dfm commented on #2843
@mileslucas: Please update the metadata on the Zenodo archive to match the manuscript ([as requested above](https://github.com/openjournals/joss-reviews/issues/2843#issuecomment-745409496) in bold text :D). The title should be `ADI.jl: A Julia Package for High-Contrast Imaging` and the author list should be you and Michael Bottom. You don't need to make a new archive - you should be able to edit t

[2020-12-16 16:36] kthyng commented on #2308
Hi @profxj, I am taking over to finish publishing your work. I read through the paper and I found a number of edits to make. I edited the paper and created a [PR](https://github.com/pypeit/PypeIt/pull/1111) you could consider merging for the corrections. Let me know what you decide.

[2020-12-16 16:55] profxj commented on #2308
approved!  Thanks @kthyng

[2020-12-16 17:08] kthyng commented on #2308
@whedon generate pdf

[2020-12-16 17:11] whedon commented on #2308
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: :point_left:

[2020-12-16 17:17] kthyng commented on #2308
Turns out there was another reference to the old version. Here is a new PR: https://github.com/pypeit/PypeIt/pull/1112

[2020-12-16 17:18] wolfeclw commented on #2851
@danielskatz Thank you for the opportunity to publish with JOSS.  As you review my submission, please consider my previous package [`pufpR`](https://github.com/wolfeclw/pufpR/graphs/traffic) as you evaluate whether `circleclust` meets the requirements for substantial scholarly effort.

A considerable amount of the codebase in `pufpR` has been implemented in `circleclust`.  While there are similari

[2020-12-16 17:30] trstewart212 commented on #2733
Hi Vince,

Perhaps I just don’t know where to look, but I am unable to find any detailed description on GitHub of what this software does. All I have is a two-page JASP for Audit summary.

Somewhere there ought to be documentation that explains in some detail what the software does from an auditor's (user’s) perspective. Descriptions need to be in English accompanied by technical documentation inc

[2020-12-16 17:30] whedon commented on #2877
:wave: @benjaminrose, please update us on how your review is going.

[2020-12-16 17:30] whedon commented on #2877
:wave: @bradkav, please update us on how your review is going.

[2020-12-16 18:09] kthyng commented on #2908
Ok thank you. I've added the paused label to help indicate this.

[2020-12-16 18:14] kthyng commented on #2910
Hi @alemermartinez, sorry for the delay.  I am not sure how to proceed when the paper is in a different repo than the software. @openjournals/dev could you advise please?

[2020-12-16 18:24] kthyng commented on #2905
Hi @s-baumann, thank you for submission. Unfortunately, our editorial board has decided that while this package is interesting and looks useful, it is not a large enough contribution for JOSS to review it - see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort. If you continue to develop this work, we would be happy to reconsider it as a submission in the future, o

[2020-12-16 18:24] #2905 closed

[2020-12-16 18:24] kthyng commented on #2905
@whedon reject

[2020-12-16 18:24] whedon commented on #2905
Paper rejected.

[2020-12-16 18:25] whedon opened #2912 "[PRE REVIEW]: Pychron: Automated Data Collection and Reduction for Noble Gas and Ar/Ar Geochronology"
**Submitting author:** @jirhiker (<a href="http://orcid.org/0000-0003-4727-7472">Jake Ross</a>)
**Repository:** <a href="https://github.com/NMGRL/pychron_joss_manuscript" target ="_blank">https://github.com/NMGRL/pychron_joss_manuscript</a>
**Version:** v20.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2020-12-16 18:25] whedon commented on #2912
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-16 18:25] whedon opened #2913 "[PRE REVIEW]: NLSIG-COVID19Lab"
**Submitting author:** @somefunagba (<a href="http://orcid.org/0000-0002-5171-8026">Oluwasegun Somefun</a>)
**Repository:** <a href="https://github.com/somefunAgba/NLSIG-COVID19Lab" target ="_blank">https://github.com/somefunAgba/NLSIG-COVID19Lab</a>
**Version:** v1.1.0
**Editor:** @majensen
**Reviewers:** @agahkarakuzu, @kakearney
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service

[2020-12-16 18:25] whedon commented on #2913
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-16 18:26] whedon opened #2914 "[PRE REVIEW]: Visualization of Multi-Dimensional Data - The data-slicer Package"
**Submitting author:** @kuadrat (<a href="http://orcid.org/0000-0001-5523-6924">Kevin Kramer</a>)
**Repository:** <a href="https://github.com/kuadrat/data_slicer" target ="_blank">https://github.com/kuadrat/data_slicer</a>
**Version:** 0.0.9
**Editor:** @timtroendle
**Reviewers:** @sabinomaggi  @Chilipp
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-12-16 18:26] whedon commented on #2912
Failed to discover a `Statement of need` section in paper

[2020-12-16 18:26] whedon commented on #2914
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-16 18:26] whedon commented on #2912
[code]

[2020-12-16 18:26] whedon opened #2915 "[PRE REVIEW]: coder: An R package for code-based item classification and categorization"
**Submitting author:** @eribul (<a href="http://orcid.org/0000-0002-9973-456X">Erik Bülow</a>)
**Repository:** <a href="https://github.com/ropensci/coder" target ="_blank">https://github.com/ropensci/coder</a>
**Version:** v0.13.1
**Editor:** @kthyng
**Reviewers:** @kthyng
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pand

[2020-12-16 18:26] whedon commented on #2915
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-16 18:26] whedon commented on #2912
PDF failed to compile for issue #2912 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (59c8350a95e4b8a1487240f5/paper.md): mapping values are not allowed in this context at line 2 column 15 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:in `parse'
	fr

[2020-12-16 18:27] whedon commented on #2913
[code]

[2020-12-16 18:27] whedon commented on #2914
[code]

[2020-12-16 18:27] whedon commented on #2913
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02913/joss.02913/10.21105.joss.02913.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02913/joss.02913/10.21105.joss.02913.pdf) :page_facing_up: :point_left:

[2020-12-16 18:28] whedon commented on #2914
PDF failed to compile for issue #2914 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-a0b7af7c4770/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-a0b7af7c4770/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-a0b7af7c47

[2020-12-16 18:28] whedon commented on #2915
Failed to discover a `Statement of need` section in paper

[2020-12-16 18:29] kthyng commented on #2912
Hi @jirhiker, is the software you are submitting for review with JOSS at: https://github.com/NMGRL/pychron?

[2020-12-16 18:29] whedon commented on #2914
[code]

[2020-12-16 18:29] whedon commented on #2915
[code]

[2020-12-16 18:29] whedon commented on #2915
[code]

[2020-12-16 18:30] whedon commented on #2915
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02915/joss.02915/10.21105.joss.02915.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02915/joss.02915/10.21105.joss.02915.pdf) :page_facing_up: :point_left:

[2020-12-16 18:30] whedon commented on #2913
[code]

[2020-12-16 18:38] eribul commented on #2915
This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/381, @ropensci/editors

[2020-12-16 18:54] profxj commented on #2308
merged!

thanks, @kthyng

[2020-12-16 18:55] vlandau commented on #2829
@juliohm I've added a mention of the other predominant modeling approach (least-cost paths) as well as a citation.

[2020-12-16 18:56] kthyng commented on #2913
Hi @somefunAgba, and thanks for your submission. I am trying to learn about this submission before deciding on next steps. Can you start by describing which of the code in the repository is specifically under review here, that is, written by you and your co-authors? I see for example the code in the helpers directories looks to be previously written by other people, so a list of the work (scripts/

[2020-12-16 18:57] vlandau commented on #2829
@whedon generate pdf

[2020-12-16 18:58] whedon commented on #2829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: :point_left:

[2020-12-16 18:59] kthyng commented on #2308
@whedon generate pdf

[2020-12-16 19:01] whedon commented on #2308
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: :point_left:

[2020-12-16 19:04] kthyng commented on #2308
@whedon accept deposit=true

[2020-12-16 19:05] whedon commented on #2308
[code]

[2020-12-16 19:07] whedon commented on #2308
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1339286014989377537) 👈 🐦🐦🐦

[2020-12-16 19:07] whedon commented on #2308
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1990
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02308](https://doi.org/10.21105/joss.02308)
2. If everything looks g

[2020-12-16 19:10] kthyng commented on #2308
Congrats on your new publication @profxj! Thanks to editor @dfm and reviewers @Gabriel-p and @astrom-tom for your time and expertise!!

[2020-12-16 19:10] #2308 closed

[2020-12-16 19:10] whedon commented on #2308
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02308/status.svg)](https://doi.org/10.21105/joss.02308)

**We need your help!**

Journal of Open Source Softwa

[2020-12-16 19:13] kthyng commented on #2915
HI @eribul! I see that this has already been reviewed with rOpenSci. Because of that, I can take the submission through the whole JOSS process.

[2020-12-16 19:13] kthyng commented on #2915
@whedon assign me as editor

[2020-12-16 19:13] whedon commented on #2915
OK, the editor is @kthyng

[2020-12-16 19:14] kthyng commented on #2915
@whedon assign me as reviewer

[2020-12-16 19:14] whedon commented on #2915
OK, me is now a reviewer

[2020-12-16 19:14] kthyng commented on #2915
ok fine.

[2020-12-16 19:15] kthyng commented on #2915
@whedon remove me as reviewer

[2020-12-16 19:15] whedon commented on #2915
OK, me is no longer a reviewer

[2020-12-16 19:15] kthyng commented on #2915
@whedon assign @kthyng as reviewer

[2020-12-16 19:15] whedon commented on #2915
OK, @kthyng is now a reviewer

[2020-12-16 19:16] kthyng commented on #2915
@whedon start review

[2020-12-16 19:16] whedon opened #2916 "[REVIEW]: coder: An R package for code-based item classification and categorization"
**Submitting author:** @eribul (<a href="http://orcid.org/0000-0002-9973-456X">Erik Bülow</a>)
**Repository:** <a href="https://github.com/ropensci/coder" target ="_blank">https://github.com/ropensci/coder</a>
**Version:** v0.13.2
**Editor:** @kthyng
**Reviewer:** @kthyng
**Archive:** <a href="https://doi.org/10.5281/zenodo.4329526" target="_blank">10.5281/zenodo.4329526</a>

**:warning: JOSS redu

[2020-12-16 19:16] whedon commented on #2915
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2916.

[2020-12-16 19:16] #2915 closed

[2020-12-16 19:16] whedon commented on #2916
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kthyng it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2020-12-16 19:16] whedon commented on #2916
[code]

[2020-12-16 19:17] whedon commented on #2916
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02916/joss.02916/10.21105.joss.02916.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02916/joss.02916/10.21105.joss.02916.pdf) :page_facing_up: :point_left:

[2020-12-16 19:17] kthyng commented on #2916
This submission was previously reviewed with rOpenSci: https://github.com/ropensci/software-review/issues/381

[2020-12-16 19:19] kthyng commented on #2916
@eribul: we do require a section in your paper that has the title "Statement of Need". Can you rename an existing section if appropriate or add a section addressing this requirement?

[2020-12-16 19:23] kthyng commented on #2916
@eribul Looking through your paper, it looks good but the references need a bit of attention. For example:

* Gasparini has "r" lower case (you can force capitalization with {} around one or more characters)
* Jawad et al seems to have a typo in the title
* the author list for Quan et al has lower case letters for initials
* Pratt et al has "rx-risk", not sure if any of that should be capitalized.

[2020-12-16 19:26] kthyng commented on #2916
@eribul Also can you archive your repo with a place like Zenodo and report the doi back here? Be sure to edit the metadata of the archive so that the title and author list exactly match that of your JOSS paper.

[2020-12-16 19:51] kyleniemeyer commented on #2889
Thanks @akoontz11 - this was judged to be within scope, so we will proceed!

[2020-12-16 20:24] kyleniemeyer commented on #2889
@whedon assign @kyleniemeyer as reviewer

[2020-12-16 20:24] whedon commented on #2889
OK, @kyleniemeyer is now a reviewer

[2020-12-16 20:24] kyleniemeyer commented on #2889
@whedon start review

[2020-12-16 20:24] whedon opened #2917 "[REVIEW]: SymbiotaR2: An R Package for Accessing Symbiota2 Data"
**Submitting author:** @akoontz11 (<a href="http://orcid.org/0000-0002-6103-5894">Austin Koontz</a>)
**Repository:** <a href="https://github.com/ropensci/SymbiotaR2" target ="_blank">https://github.com/ropensci/SymbiotaR2</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @kyleniemeyer
**Archive:** <a href="https://doi.org/10.5281/zenodo.4302571" target="_blank">10.5281/zenodo.4302571

[2020-12-16 20:24] whedon commented on #2889
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2917.

[2020-12-16 20:24] #2889 closed

[2020-12-16 20:24] whedon commented on #2917
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jo

[2020-12-16 20:24] kyleniemeyer commented on #2917
rOpenSci review: https://github.com/ropensci/software-review/issues/373

[2020-12-16 20:25] whedon commented on #2917
[code]

[2020-12-16 20:26] whedon commented on #2917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02917/joss.02917/10.21105.joss.02917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02917/joss.02917/10.21105.joss.02917.pdf) :page_facing_up: :point_left:

[2020-12-16 20:34] mileslucas commented on #2843
@dfm I don't know what to say: every time I edit the DOI it says it has the correct information.
![Screen Shot 2020-12-16 at 2 33 01 PM](https://user-images.githubusercontent.com/14099459/102403259-9a8fb980-3fab-11eb-87d8-363643c1c4a8.png)

Saving doesn't change anything and when I publish I get a server error

[2020-12-16 20:37] kyleniemeyer commented on #2917
Hi @akoontz11, can you archive the software repo in Zenodo, and let me know the DOI?

[2020-12-16 20:39] kyleniemeyer commented on #2604
@jdber1 I do think we might need to find a new, second reviewer. Do you have more recommendations?

[2020-12-16 20:40] dfm commented on #2843
@mileslucas: Bizarre! It looks like you used some sort of GitHub actions workflow to publish your release? Perhaps it has something to do with that. Can you try uploading a new snapshot of the code with the right metadata to Zenodo directly? Thanks!

[2020-12-16 20:40] kyleniemeyer commented on #2588
Hi @moorepants, if this JOSS submission looks up your alley, could you review it for us?

[2020-12-16 20:50] jirhiker commented on #2912
Yes that is correct   https://github.com/NMGRL/pychron

On Wed, Dec 16, 2020 at 11:29 AM Kristen Thyng <notifications@github.com>
wrote:

--
Jake Ross, Ph.D
Research Scientist II
New Mexico Tech
New Mexico Bureau of Geology
New Mexico Geochronology Research Laboratory
Pychron Labs
jake.ross@nmt.edu <jirhiker@nmt.edu>
jirhiker@gmail.com
575-835-5994 (office)

[2020-12-16 21:09] mileslucas commented on #2843
Yeah, I'm using the zenodo feature that automatically updates with each github release. I sent a support request to zenodo to see if that can be resolved before I upload a new version. I'll ping here when I've got it figured out.

[2020-12-16 21:23] eribul commented on #2916
Dear @kthyng thank you very much for very rapid response and nice feedback!
I have now included a section called "Statement of Need" (changed one of the old headings).
I have changed the references according to your suggestions.
I also found some additional typos in the references, which are also fixed.
I have a repo at Zenodo: http://doi.org/10.5281/zenodo.4329526 with the same title and author a

[2020-12-16 21:55] somefunAgba commented on #2913
Hello. Thanks @kthyng.

All code in the repository apart from those in the helpers directory was written by me.

-- helpers directory
The code in the helpers directory are also open-source matlab functions.
1.  LinePlotReducer.m and reduce_plot.m is an alternative to matlab's plot function.
- Status: unused, added for possible use.

2. SLMtools is a custom matlab toolbox for fitting splines on dat

[2020-12-16 22:49] jdber1 commented on #2604
Try Jonas Hegemann ([jhegemann](https://github.com/jhegemann)). I'll have a look for more if he is not able to review.

[2020-12-16 22:58] dfm commented on #2843
Ok thanks! Ping me when you have it sorted and I'll take it from there.

[2020-12-17 01:30] juliohm commented on #2829
Thank you @vlandau ! My review is concluded 🎉

Really nice work and contribution to the Julia ecosystem 💯 👌🏽

Cheers,
-Julio

[2020-12-17 02:09] vlandau commented on #2829
Thank you so much @juliohm, for the thorough review and helpful comments!

[2020-12-17 03:00] jdmoorman commented on #2862
I have started my review.

Regarding scholarly effort, it is not clear whether the submission meets the scope eligibility described in the [JOSS guidelines](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). The majority of the content was committed all at once initially with about 3 additional weeks of development since the initial commit, judging from the [commi

[2020-12-17 04:58] thowell commented on #2809
I've basically finished my review. Two items:

- The example in the paper doesn't seem to highlight the novelties of the package. The paper could be improved with a slightly more substantial example that clearly demonstrates where existing packages are lacking/fail. For example, plan motion for a system with 2 phases and a parameter that needs to be optimized.

- I checked the performance box beca

[2020-12-17 05:23] xie186 commented on #2864
This is really a neat tool to analyze parental contributions to evolved or engineered protein or DNA sequences.

The documentation is very detailed. Example data is provided for easy testing.

Parent-map can be installed using either `conda` or `pip` which is fantastic given the fact the easy installation is important.
Only problem is that error below was given after successfully run 'pip install

[2020-12-17 06:42] arfon commented on #2597
Yes, that sounds like a reasonable solution.

[2020-12-17 07:32] whedon commented on #2878
:wave: @kdorheim, please update us on how your review is going.

[2020-12-17 08:28] mengaldo commented on #2862
Regarding the history of the package - please, note that this package comes from another (proprietary) package, and was deemed useful for some weather and climate applications. Therefore, I extracted the useful parts and pushed them into this repository making it available to the wider community. In regard to your comment about duplication, it is certainly true that some can be removed. I would be

[2020-12-17 11:43] whedon commented on #2879
:wave: @ramisetti, please update us on how your review is going.

[2020-12-17 11:46] meg-simula commented on #2879
I think this was an automatic comment from @whedon, please feel free to disregard @ramisetti

[2020-12-17 12:03] brynpickering commented on #2171
The submission looks to be in very good shape to me. I have opened a few issues on the OpenOA repo, but they're all relatively minor. Some comments from my end are below. Once the open issues are addressed, I'll complete my checklist.

## Installation

I opened two issues on this (https://github.com/NREL/OpenOA/issues/115, https://github.com/NREL/OpenOA/issues/116), since the current setup caused

[2020-12-17 13:54] jodemaey commented on #2597
Hi @arfon ,

Sorry but after discussing with my co-authors, we don't think it is a good idea to put the DOI of one citation corresponding to another one.
Again we prefer to cite the original Lorenz 96 article since it is the one that gave its name to the model being referred to. It is also the seminal reference that is usually cited in our field (1163 times according to google).
It's a seminar pro

[2020-12-17 13:58] tomaslaz commented on #2474
This has been done @Kevin-Mattheus-Moerman.

[2020-12-17 14:10] Kevin-Mattheus-Moerman commented on #2474
@whedon accept

[2020-12-17 14:10] whedon commented on #2474
[code]

[2020-12-17 14:11] whedon commented on #2474
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1991

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1991, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-17 14:15] whedon commented on #2474
[code]

[2020-12-17 14:46] hugoledoux commented on #2866
I'm trying to replicate your issue @chenkianwee , with my macOS, if I compile the master branch, I get this, which is also what the output we get and put in the repository:
![IMAGE 2020-12-17 15:41:16](https://user-images.githubusercontent.com/1546518/102501954-4d304c80-407e-11eb-8569-54b0bbed1b08.jpg)

Now if I look at your .yml file, it's not the same at the one currently in the repo (https://gi

[2020-12-17 14:53] GustaveCoste commented on #2765
@sjpfenninger the publishing bug has been fixed. Normally you can know access the archive.

[2020-12-17 15:04] Kokookster commented on #2767
Thanks @jgostick !

The python installation is mandatory for a working GIMS application. The static part of GIMS will still work without any running flask, however the server requests will remain unanswered, which is why you don't see the preloaded geometry from the demo site. The GIMS application should look and work like the demo page, if everything is installed properly. The easiest way to inst

[2020-12-17 15:10] Kokookster commented on #2767
@whedon check references

[2020-12-17 15:11] Kokookster commented on #2767
@whedon generate pdf

[2020-12-17 15:11] whedon commented on #2767
[code]

[2020-12-17 15:13] whedon commented on #2767
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: :point_left:

[2020-12-17 15:16] kuadrat commented on #2914
Just judging from that list (starting at the bottom), the following people might be well suited as reviewers:
sabinomaggi
jodemaey
kgoebber
Generally people with a background in data heavy natural sciences should be suitable.
A background in condensed matter physcics (x-ray/neutron/synchrotron science) may help understand where we are coming from, but should not be necessary.

Kind regards

[2020-12-17 15:19] emilljungberg commented on #2578
Hi,

First of all, thanks for your work on the revisions to the first round of reviews @Mmj94. I think it has really strengthened the manuscript and the toolbox. After looking through the revised manuscript and the repository I have a few points I'd like to highlight though:

In its current state, I think the statements in the paper about OCTOPUS reach beyond its current capacity. The summary read

[2020-12-17 15:38] Mmj94 commented on #2578
Dear reviewers,

First of all, thank you, @emilljungberg, for your comments and inputs. I totally respect your opinion, but I would like to clarify the multi-coil support limitation you're referring to.
`OCTOPUS` would be able to correct multi-coil data (as long as it's not undersampled) using the **current** version of the tool. The user could correct each channel data independently and then use

[2020-12-17 16:10] emilljungberg commented on #2578
Thanks @Mmj94 for your rapid reply. Sorry that I missed that reg multiple-coils, now that you mention it I remember commenting on the sum of square coil combination in my first round of comments, my bad. Maybe you could clarify this in the Functionality and Limitations section, that it works with multi-coil data but not parallel imaging acceleration. Out of curiosity, would it work to apply this t

[2020-12-17 16:41] tjhei commented on #2898
The next 2-3 months are quite inconvenient for me. Sorry.

[2020-12-17 17:11] GustaveCoste commented on #2765
They just noticed me that they couldn't publish the dataset without changing the DOI, The new DOI is [10.15454/6EKXJQ](http://doi.org/10.15454/6EKXJQ).

[2020-12-17 17:12] GustaveCoste commented on #2765
@whedon set 10.15454/6EKXJQ as archive

[2020-12-17 17:12] whedon commented on #2765
I'm sorry @GustaveCoste, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-12-17 18:19] arfon commented on #2910
@alemermartinez - as per our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) ☝️, your paper should be in the same repository as the software (but doesn't need to be in the main branch).

@kthyng I would recommend closing this submission and having the author re-submit.

[2020-12-17 18:21] arfon commented on #2910
@alemermartinez - also, please make sure your paper compiles (the `orcid: null`) entry is causing issues here. You can debug using one of these options: https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles

[2020-12-17 18:29] arfon commented on #2287
Thanks for the update @mmartin-lagarde!

@hpparvi, @kevin218 - please come and take a quick look again and see if you're ready to sign off on this submission.

[2020-12-17 18:47] rmorgan10 commented on #2854
@jiwoncpark Thanks for your review! I think you've pointed out things that will help improve `deeplenstronomy` a lot. I've started working on some of the small things in the issue you opened in the `deeplenstronomy` repo.

I just wanted to give everyone a heads up that I won't be focusing too much on implementing major changes from the JOSS reviews until I have some more free time (which for me wi

[2020-12-17 19:52] kthyng commented on #2914
Hi @mbobra! Would you be up for editing this submission?