[2021-12-13 09:50] csoneson commented on #3990
👋🏼 @joewandy, @jspaezp, @MKoesters - this is the review thread for the submission. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other journals. Our

[2021-12-13 10:06] adi3 commented on #3490
Hurray! @destogl thank you so much for your thorough review! We appreciate all the effort you put into it.

@klevis-a @heath-henninger - I have just one more formality required from you. Can you please issue a new tagged release of the software and archive it on Zenodo, figshare or another archiving platform of your choice? Then report the release's version number and the archive's DOI on this thr

[2021-12-13 10:07] adi3 commented on #3490
@whedon generate pdf from branch joos

[2021-12-13 10:07] whedon commented on #3490
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03490/joss.03490/10.21105.joss.03490.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03490/joss.03490/10.21105.joss.03490.pdf) :page_facing_up: :point_left:

[2021-12-13 10:09] adi3 commented on #3527
@AP6YC - Thank you for your work so far! Can you please give us an estimated completion date for these issues so that the reviewers may continue with their checklist?

[2021-12-13 10:23] svilsen commented on #3977
Has been added to the paper.md file in the JOSS branch.

[2021-12-13 10:36] pdebuyl commented on #3977
@whedon generate pdf

[2021-12-13 10:36] whedon commented on #3977
PDF failed to compile for issue #3977 with the following error:
[code]

[2021-12-13 10:37] pdebuyl commented on #3977
@whedon generate pdf from branch JOSS

[2021-12-13 10:37] whedon commented on #3977
[code]

[2021-12-13 10:37] whedon commented on #3977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03977/joss.03977/10.21105.joss.03977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03977/joss.03977/10.21105.joss.03977.pdf) :page_facing_up: :point_left:

[2021-12-13 10:46] pdebuyl commented on #3977
Thank you, this solved the pdf generation issue.

[2021-12-13 11:10] ajstewartlang commented on #3504
Just checking in with you @GaurangTandon to see how the review of this submission is progressing?

[2021-12-13 11:14] ajstewartlang commented on #3449
Just checking in with you @RodDalBen to get your thoughts/responses re. the comments made above by @fredericgosselin

[2021-12-13 11:34] JasonGellis commented on #3738
@Nikoleta-v3 thanks Nikoleta!

[2021-12-13 12:32] chainsawriot commented on #3938
@sbenthall

more potential reviewers: lmullen trinker cmaimone

[2021-12-13 13:00] marksantcroos commented on #3928
@taless474 I should be able to review this one.

[2021-12-13 15:08] heath-henninger commented on #3490
@adi3, we will likely use Zenodo as that is where our other open access kinematic data sets that drive Kinematics-vis live currently.  Will that Zenodo DOI then be listed in the published manuscript?  Will it move forward from DRAFT status after that link is published?  Sorry for the questions...this is the first time we have published using the JoOS mechanism and it's quite different than the com

[2021-12-13 15:41] diehlpk commented on #3631
@wtraylor Any news on that? I would like to finish this paper soon and make room for a new submission.

[2021-12-13 16:09] bonh commented on #3742
I will continue my review after we have discussed uw-comphys/opencmp#6 and uw-comphys/opencmp#7. I rate these as critical to assess the scholarly effort.

[2021-12-13 16:25] diehlpk commented on #3465
@elwinter could you please finish the paper this week? I really would like to get this paper out to take a new paper.

[2021-12-13 16:27] AndreWeiner commented on #3860
Alright, the DOI issue has been fixed. Here is the link again to the updated Zenodo record: [click](https://zenodo.org/record/5770244)
Sorry for the trouble @Kevin-Mattheus-Moerman; hope it works now.
Best, Andre

[2021-12-13 16:28] martinfleis commented on #3986
👋 Hi @ni1o1,

if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

Can you please check the suggestions on references listed in https:

[2021-12-13 16:40] iannesbitt commented on #2565
@jedbrown a reader pointed out a small typographical error in the references: "Geolgical" should be "Geological". Wondering if it's too late to change now. I've made the necessary edit to the .bib file.

[2021-12-13 17:03] Kevin-Mattheus-Moerman commented on #3860
@whedon set 10.5281/zenodo.5770244 as archive

[2021-12-13 17:03] whedon commented on #3860
OK. <a href="https://doi.org/10.5281/zenodo.5770244" target="_blank">10.5281/zenodo.5770244</a> is the archive.

[2021-12-13 17:03] Kevin-Mattheus-Moerman commented on #3860
@whedon recommend-accept

[2021-12-13 17:03] whedon commented on #3860
[code]

[2021-12-13 17:03] whedon commented on #3860
[code]

[2021-12-13 17:04] whedon commented on #3860
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2822

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2822, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-13 17:07] Kevin-Mattheus-Moerman commented on #3860
@whedon accept deposit=true

[2021-12-13 17:08] whedon commented on #3860
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1470440527896141839) 👈 🐦🐦🐦

[2021-12-13 17:08] whedon commented on #3860
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2823
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03860](https://doi.org/10.21105/joss.03860)
2. If everything look

[2021-12-13 17:09] jonsampedro commented on #3820
Hello @nanhung and @ibarraespinosa , just wanted to check if there is any update with the review and if you want me to make any change or add some more information. Just let me know if you want any additional clarification. Thanks in advance!

[2021-12-13 17:10] Kevin-Mattheus-Moerman commented on #3860
@openjournals/dev I just accepted this paper but accidentally did so before fixing an invalid DOI, can this still be fixed?
[code]

[2021-12-13 17:12] danielskatz commented on #3962
👋 @fchapoton - Would you be willing to review this submission for JOSS? (And if not, can you recommend anyone else?)

JOSS is a free, open-source, community driven and developer-friendly online journal (no publisher is seeking to raise revenue from the volunteer labor of researchers!).

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conv

[2021-12-13 17:16] nanhung commented on #3820
Thanks, @jonsampedro I still working on the review process. Currently, everything is good. I will let you know if I have additional questions that need to be clarified.

[2021-12-13 17:19] arfon commented on #3811
That should be updated now. Please note the PDF on the JOSS site can take up to 24 hours to update due to caching.

[2021-12-13 17:45] jmschrei commented on #3944
Hi @abhishekbajpayee, would you be able to review this submission?

[2021-12-13 17:49] jmschrei commented on #3975
Hi @tupi, would you be able to serve as a reviewer for this submission?

[2021-12-13 17:58] alexrockhill commented on #3897
Thanks for the review @TomDonoghue, I think those comments were all very helpful and I will do a few pull requests in the coming days to add those changes.

[2021-12-13 18:55] taless474 commented on #3928
@whedon assign @marksantcroos as reviewer

[2021-12-13 18:55] whedon commented on #3928
OK, @marksantcroos is now a reviewer

[2021-12-13 18:58] caldarolamartin commented on #3964
Hi Elizabeth,

Thanks for considering me for the review, but since I am on leave I am
afraid I can not review the paper at this time. If you still need another
reviewer I suggest Aquiles Carattino, his background is similar to mine.

Thanks for understanding, I hope I can review next time.

Best,
Martin

-------------------------

Martín Caldarola

On Mon, 13 Dec 2021 at 01:28, Elizabeth DuPre ***

[2021-12-13 19:18] jedbrown commented on #2565
@danielskatz Is this something you can do or only Arfon? It's quite minor.

[2021-12-13 19:28] danielskatz commented on #2565
The best thing is to ping @openjournals/dev for things like this - it's not me :)

[2021-12-13 19:30] diehlpk commented on #3724
@helgee @kylebeggs @mkhoshbin1 would you be interested in reviewing this paper?

[2021-12-13 19:34] helgee commented on #3724
Sorry, bit too far outside my comfort zone.

[2021-12-13 19:36] odow commented on #3984
Yes I can do it.

[2021-12-13 19:49] jbytecode commented on #3984
@whedon add @odow as reviewer

@odow - Thank you so much for accepting our invitation. When we set the second reviewer, the process will start and I will inform you.

[2021-12-13 19:49] whedon commented on #3984
OK, @odow is now a reviewer

[2021-12-13 20:37] kylebeggs commented on #3724
@diehlpk I'd be willing.

[2021-12-13 20:45] RodDalBen commented on #3449
Sorry for the late reply, @ajstewartlang, it has been a busy week.

I really appreciate your careful review @fredericgosselin. Here are my responses, following the order of your comments:

1. Indeed, SHINE_color was develop during a pupillometry project as an attempt to avoid matching luminance by hand using Photoshop (a common practice at my former department). I agree that controlling low-level

[2021-12-13 20:45] whedon commented on #3449
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03449/joss.03449/10.21105.joss.03449.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03449/joss.03449/10.21105.joss.03449.pdf) :page_facing_up: :point_left:

[2021-12-13 20:55] whedon commented on #3958
:wave: @chrisbrickhouse, please update us on how your review is going (this is an automated reminder).

[2021-12-13 21:26] KAClough commented on #3703
@danielskatz and @rkurchin we have just realised that a couple of acknowledgements of funding were missing from the paper - they had been added earlier but got lost in a rebase. Is there any possibility of updating the published copy for these? I have added them to the branch in this commit:
https://github.com/GRChombo/GRChombo/compare/1e97143a644b...ad4d7aec747f

I'm very sorry for this, I should

[2021-12-13 21:27] danielskatz commented on #3703
👋 @openjournals/dev - can you handle this?

[2021-12-13 21:32] bonh commented on #3742
I am sorry for not being more clear: recommending the paper for publication in JOSS and improving the package are two different parts of my work here, I think. So, as I wrote just now in uw-comphys/opencmp#6,

I just want to engage in a discussion with you about your work! Now if you are able to simulate moderate size problems (e.g., something in 3D or so, using shared memory) this would be okay f

[2021-12-13 21:39] KAClough commented on #3703
Thanks so much! I was rushing and messed up the change, but I fixed it now and it should now be 100% final!

[2021-12-13 21:40] hakanfriden commented on #3680
Hi Devosmita,

Might you be available this week for a discussion?
I downloaded your latest application, and installed it.
I have a dataset of around 60000 obs by some 50 variables.
Could we have a discussion over Teams, and maybe look at some other datasets.
Maybe you have a suitable dataset as well?

I have a time slot tomorrow 11-12, and any time after 19
Wednesday from 13 and on.
Thursday 10-13

[2021-12-13 21:55] diehlpk commented on #3724
@whedon add @kylebeggs as reviewer

[2021-12-13 21:55] whedon commented on #3724
OK, @kylebeggs is now a reviewer

[2021-12-13 22:29] whedon commented on #3959
:wave: @krober10nd, please update us on how your review is going (this is an automated reminder).

[2021-12-13 22:39] andyfaff commented on #3935
It's not clear to me how to enter the review when I've done it. Is there a step-by-step available somewhere? If it's here how do I get access to the checklist template?

[2021-12-13 23:23] cgrudz commented on #3976
@taless474, I would like to suggest the following:

John Maclean, Lecturer in Data Science and Statistics, School of Mathematical Sciences, University of Adelaide, john.maclean@adelaide.edu.au

Patrick N. Raanes, Researcher, NORCE Norwegian Research Institute, para@norceresearch.no, @patricknraanes

Artem Moiseev, Researcher, Nansen Environmental and Remote Sensing Center, Artem.Moiseev@nersc.no,

[2021-12-13 23:47] mkhoshbin1 commented on #3724
@diehlpk
Sorry. I don't have enough domain knowledge.

[2021-12-14 00:18] villaa commented on #3932
@matthewfeickert I have made issues out of your comments above so please don't open duplicates. The team will get to those things. Please let me know if there is a timescale beyond which you will not be willing to check them for correctness.

[2021-12-14 00:18] villaa commented on #3932
@lucydot it seems like there are some options for reviewers, or I could try to help find others. Please advise; I would like to get this paper into review.

[2021-12-14 01:38] dfm commented on #3771
@soffner: I've just opened [a small PR](https://bitbucket.org/orionmhdteam/orion2_release1/pull-requests/3/edits-for-joss-publication) over on your repo. Once that's merged here are a few last steps for you, then we'll be ready to go!

1. Comment `@whedon generate pdf`, then take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), espec

[2021-12-14 01:40] dfm commented on #3676
@whedon check references

[2021-12-14 01:40] whedon commented on #3676
[code]

[2021-12-14 01:40] dfm commented on #3676
@whedon generate pdf

[2021-12-14 01:40] whedon commented on #3676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: :point_left:

[2021-12-14 01:55] ni1o1 commented on #3986
@whedon check references

[2021-12-14 01:56] whedon commented on #3986
[code]

[2021-12-14 01:56] manodeep commented on #3932
Outside of my domain area of expertise - I will have to decline.

[2021-12-14 01:56] ni1o1 commented on #3986
@whedon  generate pdf

[2021-12-14 01:56] whedon commented on #3986
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-14 01:57] ni1o1 commented on #3986
@whedon commands

[2021-12-14 01:57] whedon commented on #3986
Here are some things you can ask me to do:

[code]

[2021-12-14 01:57] ni1o1 commented on #3986
@whedon generate pdf

[2021-12-14 01:58] whedon commented on #3986
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03986/joss.03986/10.21105.joss.03986.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03986/joss.03986/10.21105.joss.03986.pdf) :page_facing_up: :point_left:

[2021-12-14 02:02] ni1o1 commented on #3986
Dear @martinfleis ,
Checking interests in Python programming and transportation data science, the following potential reviewers might be interested :
RafalKucharskiPK/,katmratliff,EricaEgg,nsaunier,fil,GalenStocking,dvysardana,kellieotto,ethanwhite,earino,sgrieve

[2021-12-14 02:06] ni1o1 commented on #3986
The missing DOIs issue and the markdown list issue are also fixed, thank you for editting our paper. @martinfleis

[2021-12-14 02:16] dfm commented on #3675
👋 Pinging @adrn and @maxwelltsai to take a look at @mikegrudic's response to your comments ☝️

[2021-12-14 02:19] dfm commented on #2920
@kadglass: I'm really sorry that I missed your ping here! Thanks for your patience and all your work here. The docs and tests are looking great. I'm going to remove the `paused` label and start working on recruiting reviewers.

[2021-12-14 02:22] dfm commented on #3963
@asherp: A quick update to say that I'm still working on recruiting reviewers and I'll keep this thread updated as I find them!

[2021-12-14 03:29] asherp commented on #3963
Can I suggest @mbobra ?

[2021-12-14 03:39] dfm commented on #3963
I don't think mbobra is available at the moment (unless she wants to volunteer here :D), but thanks for the suggestion. That being said, _please don't tag people in this thread_ because things will get noisy over here and we don't want to inundate them with notifications. Thanks!

[2021-12-14 04:06] taless474 commented on #3976
@patricknraanes, Are you interested in reviewing this?

[2021-12-14 06:03] ajmalkoti commented on #3579
Dear Dr. Moerman,

Thanks for inviting me as a reviewer.
However, I would not be able to review the work right now, since next week
I am going for fieldwork (~2 months). I do not want to delay the review
process so please assign some other reviewer. Though, I would be happy to
review any work in the future.

Best wishes
Ajay

On Tue, Dec 7, 2021 at 3:33 PM Kevin Mattheus Moerman <
***@***.***> wro

[2021-12-14 06:39] slayoo commented on #3219
Dear @dhhagan, @josephhardinee & @darothen,

As of PySDM v1.24 (released just now) 100% of PySDM Python modules have docstrings included. These are top-file module docstrings, mostly 1-2 lines, not yet a full class/method coverage, but given that most of PySDM source files are single-class modules, this should give the users/contributors a meaningful overview of the project when browsing the onlin

[2021-12-14 06:52] mjsottile commented on #3735
@lungsi I apologize - it appears that I lost track of your review due to a weird schedule on my end during November.  It looks like you addressed the reviewer issues that were raised, so I will take a look at the state of the review and let you know what next steps are necessary.  I should be able to complete that this week.

[2021-12-14 07:36] jonatanalvelid commented on #3964
Hi Elizabeth,
Thank you for considering me, but I am unfortunately not available to review currently.
I hope I will be considered again and will happily review then, and thanks for your understanding.

Best,
Jonatan

[2021-12-14 08:58] jbytecode commented on #3984
👋👋👋 Dear @jbcaillau  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**DCISolver.jl: A Julia Solver for Nonlinear Optimization using Dynamic Control of Infeasibility**". You can find more information at the top of this

[2021-12-14 09:05] jbytecode commented on #3984
Dear @jbcaillau, thank you for the quick reply.

Now, I am setting you as the second reviewer and then the review will start in an other GitHub issue.

Thank you.

[2021-12-14 09:05] jbytecode commented on #3984
@whedon add @jbcaillau as reviewer

[2021-12-14 09:06] whedon commented on #3984
OK, @jbcaillau is now a reviewer

[2021-12-14 09:06] jbytecode commented on #3984
@whedon start review

[2021-12-14 09:06] whedon opened #3991 "[REVIEW]: DCISolver.jl: A Julia Solver for Nonlinear Optimization using Dynamic Control of Infeasibility"
**Submitting author:** @tmigot (<a href="http://orcid.org/0000-0001-7729-2513">Tangi Migot</a>)
**Repository:** <a href="https://github.com/JuliaSmoothOptimizers/DCISolver.jl" target ="_blank">https://github.com/JuliaSmoothOptimizers/DCISolver.jl</a>
**Version:** v0.2.6
**Editor:** @jbytecode
**Reviewer:** @odow, @jbcaillau
**Archive:** <a href="https://doi.org/10.5281/zenodo.6040222" target="_bla

[2021-12-14 09:06] whedon commented on #3984
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3991.

[2021-12-14 09:06] #3984 closed

[2021-12-14 09:06] whedon commented on #3991
[code]

[2021-12-14 09:06] whedon commented on #3991
PDF failed to compile for issue #3991 with the following error:
[code]

[2021-12-14 09:13] jbytecode commented on #3991
Dear @odow and @jbcaillau

This is the review issue. There are 20 tasks for each reviewer. Whenever an item is solved, you can check them.

You can interact with the other reviewers, the author(s), and me. You don't have to complete your review in one step, so while the authors improve the software and paper, you can continue your review with the other tasks.

Reviewers can also contribute to repo

[2021-12-14 09:13] jbytecode commented on #3991
@whedon check references from branch joss-paper-branch

[2021-12-14 09:13] whedon commented on #3991
[code]

[2021-12-14 09:15] whedon commented on #3991
[code]

[2021-12-14 09:16] jbytecode commented on #3991
@whedon generate pdf from branch joss-paper-branch

[2021-12-14 09:16] whedon commented on #3991
[code]

[2021-12-14 09:16] whedon commented on #3991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: :point_left:

[2021-12-14 10:46] andyfaff commented on #3935
@whedon start review

[2021-12-14 10:46] whedon commented on #3935
I'm sorry @andyfaff, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-12-14 12:14] wtraylor commented on #3631
@diehlpk I was able to fix the CI and released [**version 1.1.3**](https://github.com/wtraylor/modular_megafauna_model/releases/tag/1.1.3) containing all changes from this review. It’s archived on Zenodo: [10.5281/zenodo.5779267](https://doi.org/10.5281/zenodo.5779267)

[2021-12-14 12:18] whedon commented on #3960
:wave: @AstroBarker, please update us on how your review is going (this is an automated reminder).

[2021-12-14 12:18] whedon commented on #3960
:wave: @ml-evs, please update us on how your review is going (this is an automated reminder).

[2021-12-14 12:56] oliviaguest commented on #3701
@AmirHoseinHadian do you have the time/energy to review this for us? 😊

[2021-12-14 13:04] osorensen commented on #3832
@LegrandNico, any news on this? I'm ready to suggest acceptance once you've fixed the issues I pointed out in the source repository and completed the points in my previous post.

[2021-12-14 13:07] osorensen commented on #3864
@imw, when you have time, please let us know if the two Issues you opened in the [source repository](https://github.com/TNanukem/scikit-net) have been properly addressed.

[2021-12-14 13:27] imw commented on #3864
Yes, all addressed well!

[2021-12-14 13:53] ml-evs commented on #3960
Thanks for that @tpurcell90 - I'm fine with the above. I will take another look at the paper once you have finished the proofreading, and will move my attention to testing the code and going through the repo. I will write my comments here, do you want me to also raise issues on GitLab directly?

[2021-12-14 14:07] osorensen commented on #3864
@TNanukem, I'll read through the manuscript once more, and get back to you if there are any suggested changes. In the meantime, could you please do the following?

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archiv

[2021-12-14 14:21] diehlpk commented on #3631
@whedon set 1.1.3 as version

[2021-12-14 14:29] tpurcell90 commented on #3960
Thanks!

And if you don't mind posting issues on gitlab that would also be good. It's nice when those types of changes can all be logged in the same repo.

[2021-12-14 14:38] lindemann09 commented on #3887
@csoneson I finished my review.

[2021-12-14 14:50] rkurchin commented on #3935
@andyfaff I'm still trying to find a second reviewer. Once we have (at least) two, then this pre-review issue will be closed and the review issue will open. There, you'll have a checklist to take you through the review process. In the meantime, sit tight...!

[2021-12-14 14:53] jenzopr commented on #3944
Currently no. I'm sorry :-(

[2021-12-14 14:55] rkurchin commented on #3935
Emailed @DanNixon to follow up on request.

[2021-12-14 14:57] rkurchin commented on #3812
@dionhaefner, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-12-14 15:12] diehlpk commented on #3631
@whedon commands

[2021-12-14 15:12] whedon commented on #3631
Here are some things you can ask me to do:

[code]

[2021-12-14 15:13] diehlpk commented on #3631
@whedon set v1.1.3 as version

[2021-12-14 15:13] whedon commented on #3631
OK. v1.1.3 is the version.

[2021-12-14 15:13] diehlpk commented on #3631
@whedon set  as archive 10.5281/zenodo.5779267

[2021-12-14 15:13] whedon commented on #3631
doesn't look like an archive DOI.

[2021-12-14 15:14] diehlpk commented on #3631
@whedon set 10.5281/zenodo.5779267 as archive

[2021-12-14 15:14] whedon commented on #3631
OK. <a href="https://doi.org/10.5281/zenodo.5779267" target="_blank">10.5281/zenodo.5779267</a> is the archive.

[2021-12-14 15:15] diehlpk commented on #3631
@whedon generate pdf

[2021-12-14 15:15] whedon commented on #3631
PDF failed to compile for issue #3631 with the following error:
[code]

[2021-12-14 15:15] diehlpk commented on #3631
@whedon generate pdf from branch joss-paper

[2021-12-14 15:15] whedon commented on #3631
[code]

[2021-12-14 15:15] federeghe commented on #3973
@jarvist I'll probably need one extra week to complete the review. Also, I forgot to accept the @whedon invitation for this repo and now it's expired, can you send it again? So I can flag the checkboxes above. Thanks!

[2021-12-14 15:16] ml-evs commented on #3960
I have started raising a few issues on the documentation at https://gitlab.com/sissopp_developers/sissopp, and I will keep this comment up to date with the check-list:

- [ ] rendering of docs  #[2](https://gitlab.com/sissopp_developers/sissopp/-/issues/2)
- [ ] suggestions for installation instructions #[3](https://gitlab.com/sissopp_developers/sissopp/-/issues/3)

[2021-12-14 15:16] whedon commented on #3631
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03631/joss.03631/10.21105.joss.03631.pdf) :page_facing_up: :point_left:

[2021-12-14 15:18] diehlpk commented on #3631
@wtraylor The paper title

`MMM: A C++ library for simulating large herbivores`

does not match the title of the Zenodo archive

`Modular Megafauna Model`

Please change that, so I can accept the paper.

[2021-12-14 15:19] whedon commented on #3724
OK, @KParas is no longer a reviewer

[2021-12-14 15:44] oliviaguest commented on #3270
@McGregor14 no problem! Do you have any guess as to how long you might take? 😊

[2021-12-14 15:58] McGregor14 commented on #3270
@oliviaguest some of the team are already off for Christmas, so I will wait until the new year to raise this with everyone. I think we could probably estimate how long the work will take and when it can start by the end of January and I will provide you with an update then if that's ok?

[2021-12-14 16:00] noah80 commented on #3596
I was able to run all examples now after manually installing the missing dependencies.

While it would be nice to automate that part or surround make the code sections in the examples with try/except, it all works and looks usable.

@timtroendle All my issues have been adressed.

@nick-gorman Thanks for the cooperation!

[2021-12-14 16:02] dionhaefner commented on #3812
Sure, let's do this :)

[2021-12-14 16:03] whedon commented on #3812
OK, @dionhaefner is now a reviewer

[2021-12-14 16:03] rkurchin commented on #3812
@whedon start review

[2021-12-14 16:03] whedon opened #3992 "[REVIEW]: Delve: Neural Network Feature Variance Analysis"
**Submitting author:** @justinshenk (<a href="http://orcid.org/0000-0002-0664-7337">Justin Shenk</a>)
**Repository:** <a href="https://github.com/delve-team/delve" target ="_blank">https://github.com/delve-team/delve</a>
**Version:** v0.1.49
**Editor:** @rkurchin
**Reviewer:** @sambitdash, @dionhaefner
**Archive:** <a href="https://doi.org/10.5281/zenodo.5865465" target="_blank">10.5281/zenodo.586

[2021-12-14 16:03] whedon commented on #3812
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3992.

[2021-12-14 16:03] #3812 closed

[2021-12-14 16:04] whedon commented on #3992
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sambitdash, @dionhaefner it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-12-14 16:04] whedon commented on #3992
Wordcount for `paper.md` is 1107

[2021-12-14 16:04] whedon commented on #3992
[code]

[2021-12-14 16:04] whedon commented on #3992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: :point_left:

[2021-12-14 16:06] whedon commented on #3992
[code]

[2021-12-14 16:27] tonigi commented on #3981
The paper describes the physical_validation package, which performs a number of statistical tests grounded on the statistical mechanics of atomistic simulations. The need for such validation is clear and the package is useful. It does install and run easily, and it has state-of-the-art packaging (conda, pip, docs, tutorials and so on).

I only have minor comments on the structure of the paper.

1.

[2021-12-14 16:34] nils-werner commented on #3740
All my remarks have been solved.

[2021-12-14 16:43] osorensen commented on #3864
@whedon generate pdf from branch docs/joss_paper

[2021-12-14 16:43] whedon commented on #3864
[code]

[2021-12-14 16:44] whedon commented on #3864
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03864/joss.03864/10.21105.joss.03864.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03864/joss.03864/10.21105.joss.03864.pdf) :page_facing_up: :point_left:

[2021-12-14 17:04] kylemath commented on #3579
sorry I wll not be able to help with this paper due to work constraints but
I hope to help with these in the future

On Tue, Dec 7, 2021 at 3:03 AM Kevin Mattheus Moerman <
***@***.***> wrote:

--
*Ky E. Mathewson, Ph.D.*
Associate Professor - Department of Psychology, Faculty of Science
Director - Attention Perception and Performance Lab
Affiliate - Neuroscience and Mental Health Institute, Facul

[2021-12-14 18:03] csoneson commented on #3887
Thank you @lindemann09 and @craddm for your reviews!
@jorittmo - looks like things are in pretty good shape! Please have a look at the comments from the reviewers and report back here once they are addressed.

[2021-12-14 18:29] rkurchin commented on #3981
Just for reference: **[What should my paper contain?](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)** from JOSS docs

Worth noting that the two included sections are the only ones explicitly required (the general philosophy here is that the software is the primary product being evaluated, and the "paper" is really more there as a companion piece to provide con

[2021-12-14 19:32] devosmitachatterjee2018 commented on #3680
@hakanfriden

Thank you for your response.

Could we have the meeting Wednesday (15.12.2021) at 20:00? In that case, I will send you a zoom link before the meeting.

Best regards
Devosmita

[2021-12-14 19:35] emdupre commented on #3964
Thank you @ziatdinovmax @caldarolamartin and @jonatanalvelid for your responses !

I appreciate your willingness to review, @ziatdinovmax. I'll work on identifying at least one additional reviewer before starting the process.

Of course, I will absolutely keep you both in mind for future reviews, @caldarolamartin and @jonatanalvelid :slightly_smiling_face:

Thank you all again !

[2021-12-14 19:38] emdupre commented on #3964
Hello @aquilesC :wave:

Would you be willing to review _PiSCAT: A Python Package for Interferometric Scattering Microscopy_ for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org/)?

The review takes place on GitHub and focuses on [the software](https://github.com/SandoghdarLab/PiSCAT) and this short paper: https://github.com/openjournals/joss-papers/blob/joss.03964/joss.03964/10.

[2021-12-14 19:39] ralphevins commented on #3861
@fraukewiese I had my post-doc @shamsiharis take a look and he's much better qualified than me to complete the review. Can you reassign to him? He should be able to get it completed pretty quickly as he's already seen the codebase. Thanks!

[2021-12-14 20:04] lucydot commented on #3985
Hi @jstse I'll be your editor for this submission 👋

@dandavies99 are you available to review this submission? Note you may need to check conflict of interest - the JOSS CoI policy is [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy)

@mkhorton are you available to review again for JOSS?

[2021-12-14 20:16] lucydot commented on #3932
Hi @villaa -  ok it seems we can assign two reviewers to this: @altavir who can give a viewpoint on particle physics and software design, and @matthewfeickert who seems to have the C side of things under control 😉

I'll ask our bot Whedon to start a review issue thread (this is the pre-review thread) - the review guidelines will be listed at the top of that new thread.

@altavir welcome to JOSS! P

[2021-12-14 20:17] lucydot commented on #3932
@whedon assign @matthewfeickert as reviewer

[2021-12-14 20:17] whedon commented on #3932
OK, @matthewfeickert is now a reviewer

[2021-12-14 20:17] lucydot commented on #3932
@whedon add @altavir as reviewer

[2021-12-14 20:17] whedon commented on #3932
OK, @altavir is now a reviewer

[2021-12-14 20:18] lucydot commented on #3932
@whedon start review

[2021-12-14 20:18] whedon opened #3993 "[REVIEW]: 𝚗𝚛𝙲𝚊𝚜𝚌𝚊𝚍𝚎𝚂𝚒𝚖 -- A simulation tool for nuclear recoil cascades resulting from neutron capture"
**Submitting author:** @villaa (<a href="http://orcid.org/0000-0002-3893-7259">Anthony Villano</a>)
**Repository:** https://github.com/villano-lab/nrCascadeSim
**Branch with paper.md** (empty if default branch):
**Version:** v1.4.0
**Editor:** @lucydot
**Reviewers:** @matthewfeickert, @altavir
**Archive:** 10.5281/zenodo.6056681

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-12-14 20:18] whedon commented on #3932
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3993.

[2021-12-14 20:18] #3932 closed

[2021-12-14 20:18] whedon commented on #3993
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matthewfeickert, @altavir it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-12-14 20:18] whedon commented on #3993
Wordcount for `paper.md` is 1201

[2021-12-14 20:18] whedon commented on #3993
[code]

[2021-12-14 20:18] whedon commented on #3993
[code]

[2021-12-14 20:18] whedon commented on #3993
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03993/joss.03993/10.21105.joss.03993.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03993/joss.03993/10.21105.joss.03993.pdf) :page_facing_up: :point_left:

[2021-12-14 20:23] sbenthall commented on #3845
Thank you @tuelwer ! I'll sign you up.

[2021-12-14 20:23] sbenthall commented on #3845
@whedon add tuelwer as reviewer

[2021-12-14 20:23] whedon commented on #3845
OK, tuelwer is now a reviewer

[2021-12-14 20:24] sbenthall commented on #3845
@whedon start review

[2021-12-14 20:24] whedon opened #3994 "[REVIEW]: PySINDy: A comprehensive Python package for robust sparse system identification"
**Submitting author:** @akaptano (<a href="http://orcid.org/0000-0002-6337-2907">Alan Kaptanoglu</a>)
**Repository:** <a href="https://github.com/dynamicslab/pysindy" target ="_blank">https://github.com/dynamicslab/pysindy</a>
**Version:** v1.6.2
**Editor:** @sbenthall
**Reviewer:** @henrykironde, @tuelwer
**Archive:** <a href="https://doi.org/10.5281/zenodo.5842612" target="_blank">10.5281/zenodo

[2021-12-14 20:24] whedon commented on #3845
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3994.

[2021-12-14 20:24] #3845 closed

[2021-12-14 20:24] whedon commented on #3994
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @henrykironde, @tuelwer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-12-14 20:25] whedon commented on #3994
Wordcount for `paper.md` is 1637

[2021-12-14 20:25] whedon commented on #3994
[code]

[2021-12-14 20:25] whedon commented on #3994
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: :point_left:

[2021-12-14 20:26] sbenthall commented on #3994
👋🏼 @akaptano  @henrykironde @tuelwer this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2021-12-14 20:28] sbenthall commented on #3938
Thanks @kbenoit  I'll sign you up!

[2021-12-14 20:28] sbenthall commented on #3938
@whedon add  @kbenoit as reviewer

[2021-12-14 20:28] Cole-Monnahan-NOAA opened #3995 "Functionality documentation: Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?"

[2021-12-14 20:28] whedon commented on #3995
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-12-14 20:28] #3995 closed

[2021-12-14 20:29] sbenthall commented on #3938
Hello @lmullen Would you be able to review this submission?

[2021-12-14 20:29] sbenthall commented on #3938
Hello @trinker would you be able to review this submission?

[2021-12-14 20:33] Cole-Monnahan-NOAA commented on #3995
I suggest giving more details in the help files, such as the model equations and clearer details of the arguments like `x_projection` in `h_lm_stan`.

[2021-12-14 21:23] matthewfeickert commented on #3993
@lucydot @altavir As I already have done a few reviews of the project, and @villaa and the rest of the dev team are working on [Issues that I raised in the pre review](https://github.com/openjournals/joss-reviews/issues/3932#issuecomment-990735982) RE: release [`v1.2.3`](https://github.com/villano-lab/nrCascadeSim/releases/tag/v1.2.3) (c.f. https://github.com/openjournals/joss-reviews/issues/3932#

[2021-12-14 21:33] matthewfeickert commented on #3993
@whedon commands

[2021-12-14 21:33] whedon commented on #3993
Here are some things you can ask me to do:

[code]

[2021-12-14 21:46] lmullen commented on #3938
With apologies, I don't have the capacity now.

[2021-12-14 22:19] Cole-Monnahan-NOAA commented on #3444
I find it easier to just paste in a normal review here. Hopefully that is sufficient. Thanks -Cole

The ‘fishStan’ R package and accompanying paper are meant for fisheries professionals fitting primarily hierarchical growth models (length at age). The paper is very short (<2 pages) and has few details. Furthermore, the R package was difficult (and very slow) to install meaning the examples and vig

[2021-12-14 22:39] odow commented on #3991
This is a very nice submission that was trivial to review. The paper and software are well written and a great fit for JOSS.

The only suggestion I had was to fix the margins in the plot (https://github.com/JuliaSmoothOptimizers/DCISolver.jl/issues/70), but other than that I'm happy for this to be accepted.

[2021-12-14 22:52] jameschapman19 commented on #3823
Thanks all.

- I've made a tiny fix so please go with v1.10.7
- It is archived in Zenodo.
- Hao-Ting and I are listed as authors on both the JOSS paper and software archive.
- The DOI is 10.5281/zenodo.5781712 and can be viewed at https://zenodo.org/record/5781712

[2021-12-14 23:02] nasserma commented on #3742
@bonh @WilkAndy @lucydot Please see the recent revision that we pushed, it addresses many of the comments that were made, although there are a few outstanding issues that I would like to discuss before we address them.

Please see the open issues,

https://github.com/uw-comphys/opencmp/issues

and our responses. Once we have your feedback we'll make the next round of revisions and please note that

[2021-12-14 23:57] klevis-a commented on #3490
Thank you, @adi3!

Just released version [0.2.0](https://github.com/klevis-a/kinematics-vis/releases/tag/0.2.0). This is archived on Zenodo with a DOI of [10.5281/zenodo.5781772](https://zenodo.org/record/5781772).

[2021-12-15 01:47] emdupre commented on #3823
@whedon set v1.10.7 as version

[2021-12-15 01:47] whedon commented on #3823
OK. v1.10.7 is the version.

[2021-12-15 01:50] emdupre commented on #3823
Thank you, @jameschapman19 !

Could you also please update the Zenodo archive title so it matches the title of the JOSS paper ? Specifically, "cca-zoo : a python package for implementing models from the canonical correlation analysis family".

[2021-12-15 04:26] tmigot commented on #3991
@whedon generate pdf from branch joss-paper-branch

[2021-12-15 04:26] whedon commented on #3991
[code]

[2021-12-15 04:26] whedon commented on #3991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03991/joss.03991/10.21105.joss.03991.pdf) :page_facing_up: :point_left:

[2021-12-15 04:35] janmandel commented on #3821
I am at the stage of checking and unchecking boxes. I did run the software back in October but I missed this issue then, any relevant messages got buried in an avalanche of notifications from this repository. Obvously I found it now and I am back at it! Sorry about that.

[2021-12-15 06:16] whedon commented on #3965
:wave: @mkitti, please update us on how your review is going (this is an automated reminder).

[2021-12-15 06:55] hagenw commented on #3740
All my remarks are resolved now as well.

[2021-12-15 06:55] aquilesC commented on #3964
Hello @emdupre !
I can do it during the first or second week of January. If that timeline fits , feel free to add me as reviewer.

[2021-12-15 07:29] wtraylor commented on #3631
I changed the title in the metadata of the Zenodo record ([10.5281/zenodo.5779267](https://doi.org/10.5281/zenodo.5779267)).

[2021-12-15 07:39] kyleniemeyer commented on #3417
@whedon accept deposit=true

[2021-12-15 07:39] whedon commented on #3417
[code]

[2021-12-15 07:40] whedon commented on #3417
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1471022344911130630) 👈 🐦🐦🐦

[2021-12-15 07:40] whedon commented on #3417
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2824
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03417](https://doi.org/10.21105/joss.03417)
2. If everything look

[2021-12-15 07:42] kyleniemeyer commented on #3417
Congratulations @jponnela on your article's publication in JOSS!

Many thanks to @Tam-Pham and @erik-whiting for reviewing this, and @fboehm for editing.

[2021-12-15 07:42] #3417 closed

[2021-12-15 07:42] whedon commented on #3417
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03417/status.svg)](https://doi.org/10.21105/joss.03417)

**We need your help!**

Journal of Open Source Softwa

[2021-12-15 08:39] faroit commented on #3740
@hagenw thanks for the great review! Can the remaining checkbox be ticked?

[2021-12-15 08:42] hagenw commented on #3740
For me it is shown as ticked:

![image](https://user-images.githubusercontent.com/173624/146152819-1ff07e53-6566-466f-857b-d67366c4792d.png)

[2021-12-15 08:59] arfon commented on #3860
Sure. I can fix this.

[2021-12-15 09:10] dandavies99 commented on #3985
Hi @lucydot, I'm happy to review this and don't declare any conflicts of interest. For full transparency, I worked in the same department as the authors at the University of Bath until 2018, and have never collaborated with any of the authors in funded research or work that is published.

If you're happy on that basis then feel free to assign me.

[2021-12-15 09:18] bonh commented on #3742
@whedon generate pdf

[2021-12-15 09:19] whedon commented on #3742
PDF failed to compile for issue #3742 with the following error:
[code]

[2021-12-15 09:19] bonh commented on #3742
@whedon generate pdf from branch publications

[2021-12-15 09:19] whedon commented on #3742
[code]

[2021-12-15 09:19] whedon commented on #3742
PDF failed to compile for issue #3742 with the following error:
[code]

[2021-12-15 09:21] bonh commented on #3742
@lucydot @nasserma , am i doing something wrong? Please help me to generate the pdf.

[2021-12-15 09:29] isgiddy commented on #3947
I've tested a few of the filter kernels now on an independent dataset. I'm happy for this to go to forward to publication.

[2021-12-15 09:40] ilyamandel commented on #3838
Dear @HeloiseS , @katiebreivik , @christinahedges:

We've now pulled the remaining key changes addressing the issues that you brought  up (thanks to @avigna , @jeffriley , @reinhold-willcox et al.).

Of course, things are still far from perfect -- there are nearly 50 outstanding issues listed at https://github.com/TeamCOMPAS/COMPAS/issues , some of them related the topics raised in the review, inc

[2021-12-15 09:53] faroit commented on #3740
Great. Thanks maybe my browser hasn't updated its cache.

[2021-12-15 09:57] TNanukem commented on #3864
Hello @osorensen

Thank you for your comments, I solved them. As for the other requests:
- Release v0.0.1
- DOI: 10.5281/zenodo.5783027
- Here's the link: https://zenodo.org/record/5783027

[2021-12-15 10:05] TNanukem commented on #3864
@whedon generate pdf from branch docs/joss_paper

[2021-12-15 10:05] whedon commented on #3864
[code]

[2021-12-15 10:07] TNanukem commented on #3864
@whedon generate pdf from branch docs/joss_paper

[2021-12-15 10:08] whedon commented on #3864
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03864/joss.03864/10.21105.joss.03864.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03864/joss.03864/10.21105.joss.03864.pdf) :page_facing_up: :point_left:

[2021-12-15 10:56] osorensen commented on #3864
@whedon set 10.5281/zenodo.5783027 as archive

[2021-12-15 10:56] whedon commented on #3864
OK. <a href="https://doi.org/10.5281/zenodo.5783027" target="_blank">10.5281/zenodo.5783027</a> is the archive.

[2021-12-15 10:57] osorensen commented on #3864
@whedon set v0.0.1 as version

[2021-12-15 10:57] whedon commented on #3864
OK. v0.0.1 is the version.

[2021-12-15 10:57] faroit commented on #3740
@whedon generate pdf

[2021-12-15 10:58] faroit commented on #3740
@whedon check references

[2021-12-15 10:58] whedon commented on #3740
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: :point_left:

[2021-12-15 10:58] osorensen commented on #3864
@whedon recommend-accept

[2021-12-15 10:58] whedon commented on #3864
[code]

[2021-12-15 10:58] whedon commented on #3864
PDF failed to compile for issue #3864 with the following error:
[code]

[2021-12-15 10:58] whedon commented on #3740
[code]

[2021-12-15 10:59] osorensen commented on #3864
@whedon recommend-accept from branch docs/joss_paper

[2021-12-15 10:59] whedon commented on #3864
[code]

[2021-12-15 10:59] whedon commented on #3864
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2825

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2825, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-15 11:00] whedon commented on #3864
[code]

[2021-12-15 11:11] peanutfun commented on #3885
@whedon generate pdf

[2021-12-15 11:11] whedon commented on #3885
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03885/joss.03885/10.21105.joss.03885.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03885/joss.03885/10.21105.joss.03885.pdf) :page_facing_up: :point_left:

[2021-12-15 11:16] SimonMolinsky commented on #2869
@whedon generate pdf

[2021-12-15 11:16] whedon commented on #2869
PDF failed to compile for issue #2869 with the following error:
[code]

[2021-12-15 11:20] thejasvibr commented on #3740
@whedon check references

[2021-12-15 11:20] whedon commented on #3740
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "doi" (NAME) [#<BibTeX::Bibliography data=[4]>, "@", #<BibTeX::Entry >, {:title=>["Pyroomacoustics: A python package for audio room simulation and array processing algorithms"], :author=>["Scheibler, Robin and Bezzam, Eric and Dokmani{\\'c}, Ivan"], :booktitle=>["2018 IEEE International Conference on Aco

[2021-12-15 11:24] SimonMolinsky commented on #2869
@whedon generate pdf

[2021-12-15 11:25] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-12-15 11:30] peanutfun commented on #3885
@mithun218 Thank you for resolving the major issue of automated tests, and the other issues I brought up as critical for the review.

@meg-simula I finished my review and I endorse GiNaCDE for publication.

[2021-12-15 11:38] SimonMolinsky commented on #2869
@sdesabbata ,

problem with the strange error map results was more profound than the range selection. It was related to the code logic: error variance was calculated only based on the closest point weight... For most cases, this weight was enough to get comparable results, but for the points' clusters and multiple points within the very close distance, it was giving wrong results... And this part

[2021-12-15 12:03] patricknraanes commented on #3976
@taless474 Hello and thank you for the invitation. I'd be willing, but must disclose that I cannot be a strict reviewer because the author and myself work and worked too closely together.

[2021-12-15 12:16] thejasvibr commented on #3740
@whedon check references

[2021-12-15 12:17] whedon commented on #3740
[code]

[2021-12-15 12:20] thejasvibr commented on #3740
@faroit The compiled paper looks good!

[2021-12-15 13:05] nasserma commented on #3742
@bonh I will fix this shortly, sorry for the oversight.

[2021-12-15 13:19] elbeejay commented on #3649
Hello @meghanrjones and @jifarquharson,

Wanted to reach out to you both about this review.

@meghanrjones - have you had a chance to look over the recent revision to the repository? No problem if not; please just update us with an anticipated timeline.

@jifarquharson - several revisions to the submission have taken place since your review was conducted. Would you be willing to have a second look

[2021-12-15 14:40] valentineap commented on #3858
@leouieda Just wanted to check that you're not waiting for further input from me here - as far as I know I have dealt with all the identified issues. (Not intending to nag; I know we're all stupidly busy!)

[2021-12-15 14:44] danielskatz commented on #3962
Ok, let's go ahead with videlec's offer, and recognize that this will be a little longer than normal process - thanks @videlec again, and I'll get things started

[2021-12-15 14:44] danielskatz commented on #3962
@whedon add @videlec as reviewer

[2021-12-15 14:44] whedon commented on #3962
OK, @videlec is now a reviewer

[2021-12-15 14:44] danielskatz commented on #3962
@whedon start review

[2021-12-15 14:44] whedon opened #3996 "[REVIEW]: hilbertmodgroup: Reduction algorithms and framework for Hilbert Modular Groups"
**Submitting author:** @fredstro (<a href="http://orcid.org/0000-0002-6960-1002">Fredrik Stromberg</a>)
**Repository:** https://github.com/fredstro/hilbertmodgroup
**Branch with paper.md** (empty if default branch): paper_joss
**Version:** 0.1.0
**Editor:** @danielskatz
**Reviewers:** @tbirkandan, @videlec
**Archive:** 10.5281/zenodo.6422510

**:warning: JOSS reduced service mode :warning:**

Due

[2021-12-15 14:44] whedon commented on #3962
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3996.

[2021-12-15 14:44] #3962 closed

[2021-12-15 14:44] whedon commented on #3996
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tbirkandan, @videlec it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-12-15 14:44] whedon commented on #3996
[code]

[2021-12-15 14:44] whedon commented on #3996
PDF failed to compile for issue #3996 with the following error:
[code]

[2021-12-15 14:45] stammler commented on #3882
A quick question about the procedure:
Is now the point where we should upload it to Zenodo and provide a DOI or is there something else that has to be done first?

[2021-12-15 14:45] danielskatz commented on #3996
@whedon generate pdf from branch paper_joss

[2021-12-15 14:45] danielskatz commented on #3996
@whedon check references from branch paper_joss

[2021-12-15 14:45] whedon commented on #3996
[code]

[2021-12-15 14:46] whedon commented on #3996
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03996/joss.03996/10.21105.joss.03996.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03996/joss.03996/10.21105.joss.03996.pdf) :page_facing_up: :point_left:

[2021-12-15 14:46] whedon commented on #3996
[code]

[2021-12-15 14:47] jarvist commented on #3960
Wonderful work everyone! And thanks for the reminder @whedon.

[2021-12-15 14:47] danielskatz commented on #3996
@tbirkandan and @videlec - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

[2021-12-15 14:48] danielskatz commented on #3996
@fredstro - note that the possibly missing DOIs that whedon suggests appears to be correct. Please feel free to make this change to your .bib file, then use the command `@whedon check references from branch paper_joss` to check again, and the command `@whedon generate pdf from branch paper_joss` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new co

[2021-12-15 14:49] jarvist commented on #3973
@dilawar , how are things coming along?
I appreciate things might be getting blown off course by this latest Omicron situation!

[2021-12-15 14:51] jarvist commented on #3974
Dear @rougier and @gdetor, how are things coming along?
I think your invitation link may have expired @gdetor.

[2021-12-15 14:52] jarvist commented on #3974
@whedon re-invite @gdetor as reviewer

Just in case!

[2021-12-15 14:52] whedon commented on #3974
The reviewer already has a pending invite.

@gdetor please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-15 14:52] jarvist commented on #3974
OK! Thanks @whedon.

[2021-12-15 15:00] jameschapman19 commented on #3823
Ah I see - done.

[2021-12-15 15:04] pdebuyl commented on #3337
Thanks @danclewley for filling in the form.

[2021-12-15 15:04] pdebuyl commented on #3337
Hi @McWhity the review is almost done, but as there was some issue for installing it for @danclewley I am checking with the board for a way out, by inviting a third reviewer for these steps for instance. I'll keep you updated.

[2021-12-15 15:14] crvernon commented on #3852
:mega: Mid-week rally!  Looks like we are getting close to completing the review!  @mdbartos and @jlarsen-usgs please post an update here on the status of what is remaining.  Thanks!

[2021-12-15 15:15] crvernon commented on #3709
:wave: @AlexanderJuestel just checking in to see how the responses to the reviewers are going?  Thanks!

[2021-12-15 15:18] mdbartos commented on #3852
Greetings,

Got behind due to end-of-the semester madness, but I'm planning to install and run unit tests on my linux box and windows laptop today. If all goes well that should take care of the major outstanding issues.

MDB

[2021-12-15 15:18] crvernon commented on #3824
:mega: Mid-week rally!

:wave: @acrlakshman please provide a short update in this issue thread concerning the status of your reviews.

:wave: @cc-a please provide an update here on the status of your responses to the reviewers thus far.

Thanks!

[2021-12-15 15:24] fredstro commented on #3996
@whedon check references from branch paper_joss

[2021-12-15 15:24] whedon commented on #3996
[code]

[2021-12-15 15:24] whedon commented on #3996
[code]

[2021-12-15 15:26] fredstro commented on #3996
@whedon check references from branch paper_joss

[2021-12-15 15:26] whedon commented on #3996
[code]

[2021-12-15 15:26] whedon commented on #3996
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "url" (NAME) [#<BibTeX::Bibliography data=[2]>, "@", #<BibTeX::Entry >, {:title=>["Cython: The best of both worlds"], :author=>["Behnel, Stefan and Bradshaw, Robert and Citro, Craig and Dalcin, Lisandro and Seljebotn, Dag Sverre and Smith, Kurt"], :journal=>["Computing in Science \\& Engineering"], :volu

[2021-12-15 15:27] fredstro commented on #3996
@whedon check references from branch paper_joss

[2021-12-15 15:27] whedon commented on #3996
[code]

[2021-12-15 15:28] whedon commented on #3996
[code]

[2021-12-15 15:30] fredstro commented on #3996
@whedon generate pdf from branch paper_joss

[2021-12-15 15:30] whedon commented on #3996
[code]

[2021-12-15 15:31] whedon commented on #3996
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03996/joss.03996/10.21105.joss.03996.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03996/joss.03996/10.21105.joss.03996.pdf) :page_facing_up: :point_left:

[2021-12-15 15:41] AlexanderJuestel commented on #3709
Same as before @crvernon. I will get back to the requests once I have some more time. Thanks for checking in though

[2021-12-15 15:48] jacobsoj commented on #3496
Sorry, Sebastian, I kept hoping I could rally to get this done. I hope the other person can do it.

Could you withdraw my name/contact from future consideration for reviews? I use R a lot, but I rarely use GitHub and have to relearn it each time, which adds to the burden of doing these reviews.
Jill

Jill A. Jacobson, Ph.D. Office Phone  613-533-2847
Associate Professor, Social-Personality Program

[2021-12-15 15:57] joglekara commented on #3953
@jarvist, happy to take it on

[2021-12-15 15:59] jarvist commented on #3953
@whedon add @joglekara as reviewer

Wonderful! Welcome aboard.

[2021-12-15 15:59] whedon commented on #3953
OK, @joglekara is now a reviewer

[2021-12-15 16:02] dilawar commented on #3973
I have opened a ticket on their repo but haven't heard back from authors yet.

Unless they fix it there is no way to run the tool and review its capabilities. I am hoping the author will respond soon and will be more proactive in the future.

So far things haven't become any worse here due to Omicron (I guess its same for the author).
Sent from a handheld device, pardon the brevity and tpyos.

---

[2021-12-15 16:08] jarvist commented on #3973
Thank you @dilawar  - I missed this feedback. That is indeed a bit of a show stopper. I see also that @federeghe  is having similar problems.

@god-s-perfect-idiot is there some timeline on which you would be able to provide a conda environment / pip install / setup.py etc. for more automated installation?

[2021-12-15 16:20] whedon commented on #3631
OK. <a href="https://doi.org/10.5281/zenodo.5779267" target="_blank">10.5281/zenodo.5779267</a> is the archive.

[2021-12-15 16:20] federeghe commented on #3973
@whedon re-invite @federeghe as reviewer

[2021-12-15 16:20] whedon commented on #3973
I'm sorry @federeghe, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-12-15 16:20] diehlpk commented on #3631
@whedon recommend-accept from branch joss-paper

[2021-12-15 16:20] whedon commented on #3631
[code]

[2021-12-15 16:20] federeghe commented on #3973
Well, I tried ;)

[2021-12-15 16:20] whedon commented on #3631
[code]

[2021-12-15 16:21] diehlpk commented on #3631
@wtraylor Thanks, I recommend your paper to be accepted. One of the EIC will do a final check and publish the paper.

[2021-12-15 16:22] diehlpk commented on #3631
@whedon check references

[2021-12-15 16:23] danielskatz commented on #3973
@whedon re-invite @federeghe as reviewer

[2021-12-15 16:23] whedon commented on #3973
OK, the reviewer has been re-invited.

@federeghe please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-15 16:24] diehlpk commented on #3631
@dirmeier, @dilawar thank you so much for your reviews. We could not run JOSS without our reviwers.

[2021-12-15 16:42] whedon commented on #3967
:wave: @bmagyar, please update us on how your review is going (this is an automated reminder).

[2021-12-15 16:42] whedon commented on #3967
:wave: @SeungBack, please update us on how your review is going (this is an automated reminder).

[2021-12-15 17:39] acrlakshman commented on #3824
Hi @crvernon , I need to finish going through the code, on the side I am also waiting for my comments to be addressed as noted in https://github.com/ImperialCollegeLondon/champ/issues/70.

[2021-12-15 17:46] christinahedges commented on #3838
@HeloiseS and @katiebreivik, it looks to me that the authors have completed all of the major comments from the review. @HeloiseS it seems like the team are addressing Python submit file, which I believe @ilyamandel is close to merging.

Are the reviewers happy to sign off on this submission? If so, please say in the comments, and I will then recommend the submission for acceptance.

[2021-12-15 17:50] katiebreivik commented on #3838
I am happy to sign off my approval! Thanks @christinahedges for facilitating and congratulations to the COMPAS team!

[2021-12-15 18:15] mkhorton commented on #3985
I'm full on peer reviews right now, but if you haven't found another reviewer by Jan I'd be happy to review.

[2021-12-15 18:46] nasserma commented on #3742
@whedon generate pdf from branch publications

[2021-12-15 18:46] whedon commented on #3742
[code]

[2021-12-15 18:47] whedon commented on #3742
PDF failed to compile for issue #3742 with the following error:
[code]

[2021-12-15 18:48] nasserma commented on #3742
@whedon generate pdf from branch publications

[2021-12-15 18:49] whedon commented on #3742
[code]

[2021-12-15 18:49] whedon commented on #3742
PDF failed to compile for issue #3742 with the following error:
[code]

[2021-12-15 18:53] nasserma commented on #3742
I do not understand the issue, it successfully compiles using the preview link,

https://whedon.theoj.org/

using,

https://github.com/uw-comphys/opencmp/

with the branch specified as _publications_

[2021-12-15 19:26] nmoran commented on #3711
@whedon generate pdf

[2021-12-15 19:26] whedon commented on #3711
PDF failed to compile for issue #3711 with the following error:
[code]

[2021-12-15 19:27] nmoran commented on #3711
@whedon generate pdf from branch joss-paper

[2021-12-15 19:27] whedon commented on #3711
[code]

[2021-12-15 19:28] whedon commented on #3711
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: :point_left:

[2021-12-15 19:39] nmoran commented on #3711
@whedon generate pdf from branch joss-paper

[2021-12-15 19:39] whedon commented on #3711
[code]

[2021-12-15 19:40] whedon commented on #3711
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03711/joss.03711/10.21105.joss.03711.pdf) :page_facing_up: :point_left:

[2021-12-15 20:10] cgurrr commented on #3880
@meg-simula Thanks for accepting to be an editor for our submission. I apologize for the late reply.

Follow three names coming from the reviewer suggestion list, that could be a good match:
ryEllison, for his expertise in both computational neuroscience and biophysics,
It seems that blbentley and woolfeh could also be good match.

[2021-12-15 20:20] emdupre commented on #3823
@whedon set 10.5281/zenodo.5781712 as archive

[2021-12-15 20:20] whedon commented on #3823
OK. <a href="https://doi.org/10.5281/zenodo.5781712" target="_blank">10.5281/zenodo.5781712</a> is the archive.

[2021-12-15 20:22] emdupre commented on #3823
@whedon recommend-accept

[2021-12-15 20:22] whedon commented on #3823
[code]

[2021-12-15 20:22] whedon commented on #3823
[code]

[2021-12-15 20:22] whedon commented on #3823
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2827

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2827, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-15 20:24] emdupre commented on #3964
Thank you, @aquilesC !

Yes, that timeline is very reasonable (both since JOSS is still in [reduced service mode](https://blog.joss.theoj.org/2020/05/reopening-joss) and since we're quickly approaching the holiday season !). I'll go ahead and add you as a reviewer now :rocket:

[2021-12-15 20:27] emdupre commented on #3964
@whedon add @ziatdinovmax as reviewer

[2021-12-15 20:27] whedon commented on #3964
OK, @ziatdinovmax is now a reviewer

[2021-12-15 20:27] emdupre commented on #3964
@whedon add @aquilesC as reviewer

[2021-12-15 20:27] whedon commented on #3964
OK, @aquilesC is now a reviewer

[2021-12-15 20:41] whedon commented on #3968
:wave: @szhorvat, please update us on how your review is going (this is an automated reminder).

[2021-12-15 20:41] whedon commented on #3968
:wave: @inakleinbottle, please update us on how your review is going (this is an automated reminder).

[2021-12-15 21:28] kyleniemeyer commented on #3631
@whedon accept deposit=true from branch joss-paper

[2021-12-15 21:28] whedon commented on #3631
[code]

[2021-12-15 21:29] whedon commented on #3631
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1471230919591792647) 👈 🐦🐦🐦

[2021-12-15 21:29] whedon commented on #3631
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2828
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03631](https://doi.org/10.21105/joss.03631)
2. If everything look

[2021-12-15 21:31] prashjha commented on #3668
@Balaje @karthikncsu @TLCFEM thank you all for your efforts. I am going to look at the draft one more time and soon hand it over to EiC for final acceptance.

[2021-12-15 21:33] prashjha commented on #3668
@whedon generate pdf

[2021-12-15 21:34] whedon commented on #3668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: :point_left:

[2021-12-15 21:35] prashjha commented on #3668
@whedon check references

[2021-12-15 21:35] whedon commented on #3668
[code]

[2021-12-15 21:42] kyleniemeyer commented on #3823
Hi @jameschapman19, I'm just doing some final checks before accepting.

Can you capitalize "python" in the paper's title? There are some uses throughout the paper where it should be capitalized as well.

Also, the Bach and Jordan reference needs a few more details. This is a technical report, published by University of California Berkeley Department of Statistics, Tech. Rep. 688. You can also add

[2021-12-15 21:44] kyleniemeyer commented on #3864
@whedon accept deposit=true from branch docs/joss_paper

[2021-12-15 21:44] whedon commented on #3864
[code]

[2021-12-15 21:45] whedon commented on #3864
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1471234897440395282) 👈 🐦🐦🐦

[2021-12-15 21:45] whedon commented on #3864
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2829
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03864](https://doi.org/10.21105/joss.03864)
2. If everything look

[2021-12-15 21:45] kyleniemeyer commented on #3631
Congratulations @wtraylor on your article's publication in JOSS!

Many thanks to @dirmeier and @dilawar for reviewing this, and @diehlpk for editing.

[2021-12-15 21:45] #3631 closed

[2021-12-15 21:45] whedon commented on #3631
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03631/status.svg)](https://doi.org/10.21105/joss.03631)

**We need your help!**

Journal of Open Source Softwa

[2021-12-15 21:46] kyleniemeyer commented on #3864
Congratulations @TNanukem on your article's publication in JOSS!

Many thanks to @dvysardana, @drj11, and @imw for reviewing this, and @osorensen for editing.

[2021-12-15 21:46] #3864 closed, assigned to imw, drj11, dvysardana, osorensen

[2021-12-15 21:46] whedon commented on #3864
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03864/status.svg)](https://doi.org/10.21105/joss.03864)

**We need your help!**

Journal of Open Source Softwa

[2021-12-15 21:51] emdupre commented on #3823
Thank you for catching those points, @kyleniemeyer !

@jameschapman19, when you're making those changes please update it in the zenodo archive as well, just so those two documents match !

[2021-12-15 21:58] HeloiseS commented on #3838
Same here :) great job everyone!

[2021-12-15 22:00] HeloiseS commented on #3838
but don 't forget the tests @ilyamandel  and team ! :)

[2021-12-15 22:44] taless474 commented on #3976
@patricknraanes thank you for your response. I think we should go forward with other reviewers.
@cgrudz do you have any suggestions from this [list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)?

[2021-12-15 22:47] taless474 commented on #3882
Hi @stammler, yes please go ahead and upload it. You can refer to links in [here](https://joss.readthedocs.io/en/latest/editing.html).
@lucaferranti and @schruste, thank you for your revisions, good job 👍

[2021-12-15 23:10] cgrudz commented on #3976
Ah, sorry @taless474, I missed the list at the top, certainly:

Henning Bonart, henning.bonart@tu-berlin.de, bonh, does research in data assimilation and has Julia listed as a secondary language.

Lindsey Heagy,  lheagy@eoas.ubc.ca, lheagy, does research in geophysical inverse problems, which is a closely related area to the data assimilation methods studied in this package, and has Julia listed a

[2021-12-15 23:32] taless474 commented on #3976
@lheagy, Are you interested in reviewing this?

[2021-12-16 00:08] prashjha commented on #3668
Hi @QibangLiu, could you address these points:

1. Draft corrections (suggestions):

- Line 7: I will suggest removing single quote around PDLSM-FEM solver
- Line 8: "and 3D using MPI parallelism" instead of "3D by MPI technique"?
- Line 8, 9: "This cross-platform solver is written in a C++ language and includes ..."?
- Line 27: "that of a PD with a spherical neighborhood"?
- Line 27: "However, th

[2021-12-16 01:27] sfsinger19103 commented on #3739
Thank you for all this great feedback. I believe I have addressed it all. I believe I have fixed the windows encoding issue, but was unable to test it definitively (see above).

@ajstewartlang Please let me know if you need anything else from me.

[2021-12-16 02:03] QibangLiu commented on #3668
@whedon generate pdf

[2021-12-16 02:04] whedon commented on #3668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: :point_left:

[2021-12-16 02:27] soffner commented on #3771
@whedon generate pdf

On Mon, Dec 13, 2021 at 7:38 PM Dan Foreman-Mackey ***@***.***>
wrote:

[2021-12-16 03:16] prashjha commented on #3668
@whedon set 10.5281/zenodo.5784823 as archive

[2021-12-16 03:16] whedon commented on #3668
OK. <a href="https://doi.org/10.5281/zenodo.5784823" target="_blank">10.5281/zenodo.5784823</a> is the archive.

[2021-12-16 03:17] prashjha commented on #3668
Thanks, @QibangLiu. One last thing: could you change the title in zenodo archive to match the title of joss paper?

[2021-12-16 03:24] QibangLiu commented on #3668
@prashjha DONE.

[2021-12-16 03:24] prashjha commented on #3668
Great...handing it to EiC!!

[2021-12-16 03:24] prashjha commented on #3668
@whedon recommend-accept

[2021-12-16 03:24] whedon commented on #3668
[code]

[2021-12-16 03:25] whedon commented on #3668
[code]

[2021-12-16 03:25] whedon commented on #3668
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2830

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2830, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-16 03:28] prashjha commented on #3775
@kasbot I am still looking for one more reviewer to get started. Meanwhile, if you have suggestions for potential reviewers, feel free to share them here!

[2021-12-16 03:29] prashjha commented on #3924
@taylormcd I am still looking for one more reviewer to get started. Meanwhile, if you have suggestions for potential reviewers, share them here!

[2021-12-16 03:48] villaa commented on #3993
@matthewfeickert @altavir we have released `v1.2.4` which takes care of an obvious bug while running the `realizeCascades` executable. This should allow better testing for now. The team is also working on the other major thing revealed in the. pre-review, which is related to issue 27 in `nrCascadeSim`. When that is complete we expect to go to `v1.3.0` and I will notify here.

[2021-12-16 05:02] mdbartos commented on #3852
Greetings,

I think I've finished the major part of my review. My only comments are the following:

- See the two minor comments on installation in my pygsflow repo issue.
- Include cleaned-up and simplified examples in the documentation pages (not just jupyter notebooks).

Aside from that, I think this is good to go.

Cheers,
MDB

[2021-12-16 07:00] leouieda commented on #3858
@valentineap thank you for the ping and I’m really sorry for the delay on this. I’ll proceed to invite reviewers so that we can get this going. As soon as we can find 2 willing reviewers we will start the review process, which takes around 2-4 weeks usually. Since there are holidays coming up for many of us, it may be a bit longer.

[2021-12-16 07:10] leouieda commented on #3858
:wave: @seisman @sgkang would you be interested in reviewing this submission for [JOSS](https://joss.theoj.org/)? This paper is about a software package that does forward modelling and calculates gradients (for inversion) of seismic waves in 1D layered media. It’s meant as a research and teaching/outreach tool. Your combined expertise in seismology, inverse problems, and education would be much ap

[2021-12-16 09:05] DanNixon commented on #3935
Sorry, I've been struggling for time recently and can't justify the time right now.

[2021-12-16 09:32] stammler commented on #3882
@taless474: the DOI is [10.5281/zenodo.5785575](https://doi.org/10.5281/zenodo.5785575 ). The version number is 1.0.0

@lucaferranti & @schruste: Thank you for your great comments!

[2021-12-16 09:38] ajstewartlang commented on #3739
Thanks many making those changes @sfsinger19103. :wave: @vaneseltine and @andrewheiss - could I ask you to have a look at those and let us know whether the points you raised have now all been addressed?

[2021-12-16 09:51] dalonsoa commented on #3898
@tcaduser , I'm happy with the improvements in the installation instructions - great job! - and I've also checked some features and performance. All good on that front. After the clarification above, I am also happy with the testing part - although I strongly recomend opening an issue about implementing a unit testing suite - for both the C++ part and the Python part. But that is work for the futu

[2021-12-16 09:54] Kevin-Mattheus-Moerman commented on #3924
@prashjha perhaps `Andlon` (https://twitter.com/andreas_longva) would be interested in reviewing

[2021-12-16 10:11] lucydot commented on #3742
Hi @nasserma yes - you are right - it does compile correctly using the preview link you have provided above.

@bonh @WilkAndy I suggest that as a workaround for compiling the paper you use the link [https://whedon.theoj.org/](https://whedon.theoj.org/]) (with `https://github.com/uw-comphys/opencmp/` as the repo and the branch specified as `publications`).

I'll look into why whedon command `@whedo

[2021-12-16 10:12] tiburoch commented on #3724
@whedon generate pdf

[2021-12-16 10:13] whedon commented on #3724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: :point_left:

[2021-12-16 10:17] tiburoch commented on #3724
@srmnitc : the master branch has been updated, taking account of your comments:
- python API is online, see [documentation](https://cracklet.gitlab.io/cracklet/api_reference.html#python-api)
- I added citations for the general motivation of the software
- Installation instructions and dependencies have been updated

I just need more information regarding [this issue](https://gitlab.com/cracklet/cr

[2021-12-16 10:27] srmnitc commented on #3724
@tiburoch Thanks! Everything looks good. I have closed the issues and I am unable to tick some of the remaining points.  [The issue with tests](https://gitlab.com/cracklet/cracklet/-/issues/2) is likely something on my side. I will check again in the next two days and hopefully that will allow me to check the remaining points. Thank you for addressing the points promptly.

[2021-12-16 10:33] lucydot commented on #3993
That's excellent thanks @villaa and @matthewfeickert for the updates.

@altavir I can see you have also started working through the reviewer checklist which is great. I guess you've probably already seen the link to the previous review of this code, but just in case you missed it - it is here: https://github.com/openjournals/joss-reviews/issues/3174.

[2021-12-16 10:37] lucydot commented on #3985
Thanks @dandavies99 - I'll assign you now.

And thanks @mkhorton I can see you are a very active reviewer for JOSS  ✨  - so can particularly understand why you may not be available to review for us now. I'll ping a few other people to see if they can help and take it from there.

[2021-12-16 10:37] lucydot commented on #3985
@whedon assign @dandavies99 as reviewer

[2021-12-16 10:37] whedon commented on #3985
OK, @dandavies99 is now a reviewer

[2021-12-16 10:40] jorittmo commented on #3887
Hi @csoneson,
In commit [386af4c](https://github.com/jorittmo/singcar/commit/386af4c5913b4f7abd9a18cc98d79b2120a3c4bc) I have now addressed the lack of both contribution guidelines and a code of conduct by including a [contributing.md](https://github.com/jorittmo/singcar/blob/master/CONTRIBUTING.md) and [code_of_conduct.md](https://github.com/jorittmo/singcar/blob/master/CODE_OF_CONDUCT.md) (as we

[2021-12-16 10:42] lindemann09 commented on #3887
I updated my review accordingly.

[2021-12-16 10:43] jifarquharson commented on #3649
Hi @elbeejay,

I have been keeping up with these as they come in, and all the changes seem to be useful and proportional. I will re-test `pyVOLCANS` tomorrow and note any additional comments that might be warranted.

Regards,
Jamie

[2021-12-16 10:43] lucydot commented on #3985
@awvwgk, @amandadumi or @jeffhammond are you available to review this submission? It appears that each of you have the Python and domain knowledge needed.

[2021-12-16 10:52] awvwgk commented on #3985
Sure, I am available to review this one.

[2021-12-16 11:18] martinfleis commented on #3761
@whedon add @martinfleis as reviewer

[2021-12-16 11:18] whedon commented on #3761
OK, @martinfleis is now a reviewer

[2021-12-16 11:21] martinfleis commented on #3761
@marina-haliem I have formally added myself as a second reviewer now (it is not a common solution but possible). I hope that it will help speeding up the review a bit as I don't expect that any new reviewer would be able to work on it before the upcoming holidays.

[2021-12-16 11:30] martinfleis commented on #3986
@ni1o1 Thanks! Check https://github.com/ni1o1/transbigdata/pull/3 that should fix the formatting issue.

[2021-12-16 11:50] martinfleis commented on #3986
👋👋👋 Dear @davidbailey, @jGaboardi, and @anitagraser,

Would you be willing to assist in reviewing this submission for JOSS (Journal of Open Source Software)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "TransBigData: A Python package for transportation spatio-temporal big data processing, analysis and visualization". You can find m

[2021-12-16 11:54] RafalKucharskiPK commented on #3761
in this case I also may commit to provide a review before end of the year

[2021-12-16 12:07] whedon commented on #3711
:wave: @nmoran, please update us on how things are progressing here (this is an automated reminder).

[2021-12-16 12:13] altavir commented on #3993
@lucydot thanks. I will get back to that as soon as I finish some urgent tasks.

[2021-12-16 12:38] martinfleis commented on #3761
@RafalKucharskiPK That would be amazing! Thanks!

[2021-12-16 13:19] csoneson commented on #3887
Thank you @lindemann09!

[2021-12-16 13:21] meg-simula commented on #3880
:wave: @ryEllison @woolfeh @blbentley would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-12-16 14:11] jGaboardi commented on #3986
@martinfleis I can do it.

[2021-12-16 14:14] martinfleis commented on #3986
@whedon assign @jGaboardi as reviewer

[2021-12-16 14:14] whedon commented on #3986
OK, @jGaboardi is now a reviewer

[2021-12-16 14:23] crvernon commented on #3852
✅ Thanks @mdbartos !

@jlarsen-usgs once you have addressed the reviewer comments let me know and I will confirm that all is in order and make suggestions for any edits that I think are necessary to satisfy journal requirements.

[2021-12-16 14:31] prashjha commented on #3924
Hi @Andlon, would you be interested in reviewing this submission for JOSS?

[2021-12-16 14:38] mlp6 commented on #3579
@Kevin-Mattheus-Moerman I can review this paper, but based on what I read, we are waiting for a critical mass of folks to review before initiating that; am I correct?

[2021-12-16 14:42] Kevin-Mattheus-Moerman commented on #3579
@mlp6 yes I tend to aim for 3 but would settle for 2 here as it has been very challenging to find reviewers (especially given the pandemic and end of the year). Apologies for the delay. If you want to start I can trigger the review process already and add another reviewer at a later point if you like. Alternatively, if you do not mind holding up for a while, we can assign one here and then proceed

[2021-12-16 14:43] mlp6 commented on #3579
@Kevin-Mattheus-Moerman no rush; just wanted to make sure that I wasn't holding things up.

[2021-12-16 14:47] Andlon commented on #3924
Hi @prashjha: I appreciate the recommendation from @Kevin-Mattheus-Moerman, but I unfortunately don't have enough experience with Julia nor beam theory to be comfortable about this!

[2021-12-16 15:10] rkurchin commented on #3935
@fanchercm, apologies for the delay getting the review started here. Unfortunately, everyone else on [our list](https://bit.ly/joss-reviewers) who lists an expertise in neutron scattering is from ORNL...do you have any suggestions for other potential qualified reviewers without conflicts of interest?

[2021-12-16 15:24] anitagraser commented on #3986
@martinfleis yes, count me in.

[2021-12-16 15:24] ptmerz commented on #3981
Thank you for your thoughtful review @tonigi!

I think that's a great suggestion! I added a "Functionality" header before the second paragraph of the "Statement of need" section, and it does indeed make the paper more clear.

This was the intention we had when writing second paragraph of the "Prior work" section. Do you have suggestions how to improve it?

Agreed, I have added a citation.

These a

[2021-12-16 15:25] ptmerz commented on #3981
@whedon generate pdf from branch joss-paper

[2021-12-16 15:25] whedon commented on #3981
[code]

[2021-12-16 15:26] whedon commented on #3981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: :point_left:

[2021-12-16 15:26] rkurchin commented on #3727
@UTH-Tuan: what's the status of your last couple checklist items?

@Mkoopm: how about the updated testing in response to @shahmoradi's concern? (I see some changes have been made in the tests directory, but at least `run_tests.py` appears not to have been updated in several weeks)

@roderickmackenzie: What are your thoughts on @ljakoster's last message?

To add a bit of editorial perspective on th

[2021-12-16 15:27] ptmerz commented on #3981
Please see above ⬆️ for the most recent version of the paper including @tonigi's suggestions.

[2021-12-16 15:33] tonigi commented on #3981
Thanks for the response and the changes. The fact that the new features are under the heading "Prior work" is slightly confusing, but ok I guess.  I have no further comments :)

[2021-12-16 15:36] Mkoopm commented on #3727
@rkurchin: the script `run_tests.py` was added responding to @shahmoradi's concerns, it automates the testing procedure and not been updated because it works (tests can now be automatically run).

[2021-12-16 15:37] blbentley commented on #3880
Hello @meg-simula,  I would be happy to review this.

[2021-12-16 15:59] fanchercm commented on #3935
Dan Olds ***@***.***, ***@***.******@***.***>) and Matthew Cherukara ***@***.******@***.***>) are good options or might have recommendations for a reviewer.

On Dec 16, 2021, at 10:10 AM, Rachel Kurchin ***@***.******@***.***>> wrote:

@fanchercm<https://github.com/fanchercm>, apologies for the delay getting the review started here. Unfortunately, everyone else on our list<https://bit.ly/joss-revi

[2021-12-16 16:14] ibarraespinosa commented on #3820
@whedon generate pdf

[2021-12-16 16:14] whedon commented on #3820
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03820/joss.03820/10.21105.joss.03820.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03820/joss.03820/10.21105.joss.03820.pdf) :page_facing_up: :point_left:

[2021-12-16 16:44] roderickmackenzie commented on #3727
@rkurchin I've read the response but I've got to reread the manual/paper from top to bottom before being able to respond in a coherent way. Hope to do this early next week/over the weekend. R

[2021-12-16 16:45] nhejazi commented on #3979
@erikcs, thanks for your review --- I've noted the issue opened and will address it at the same time as I make other changes to the package for this submission.

@rrrlw, thanks for agreeing to review this package + paper --- I'll try integrate any changes you suggest as soon as your review is available and will resolve other comments alongside yours in a single pass.

[2021-12-16 17:29] woolfeh commented on #3880
Hi @meg-simula, I would also be happy to review this submission but wouldn't be able to start for a couple of weeks. Is that OK?

[2021-12-16 17:35] ptmerz commented on #3981
I see what you're saying now, thanks for clarifying. Maybe renaming the section to "Relation to prior work" would make it less confusing?

[2021-12-16 17:38] tonigi commented on #3981
Sounds a reasonable solution.

[2021-12-16 17:40] bmcfee commented on #3937
Checking in on this as there hasn't been much action in the past week.  @malmaud and @lostanlen .  Any updates here?

I know we're going into holidays and it's a busy time of year, but I'd like to know where this one stands and whether we should expect to pause until the new year.

[2021-12-16 17:40] bmcfee commented on #3934
Checking in on this as there hasn't been much action in the past week. @hbaniecki  and @kmichael08  . Any updates here?

I know we're going into holidays and it's a busy time of year, but I'd like to know where this one stands and whether we should expect to pause until the new year.

[2021-12-16 17:56] martinfleis commented on #3986
@whedon add @anitagraser as reviewer

[2021-12-16 17:56] whedon commented on #3986
OK, @anitagraser is now a reviewer

[2021-12-16 17:59] ptmerz commented on #3981
I have renamed the section. Thank you again for your review, I very much appreciate your suggestions!

[2021-12-16 17:59] ptmerz commented on #3981
@whedon generate pdf from branch joss-paper

[2021-12-16 17:59] whedon commented on #3981
[code]

[2021-12-16 18:00] whedon commented on #3981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: :point_left:

[2021-12-16 18:10] hbaniecki commented on #3934
Hi, I have posted comments to the paper in the above issue and the initiative is on the authors' side to respond/address them.

[2021-12-16 18:22] sfsinger19103 commented on #3739
@vaneseltine just realized I hadn't merged the encoding issue fix into `feature-version-2.0.1`. Will do that in the next hour or so.

[2021-12-16 18:45] meghanrjones commented on #3649
Hi @elbeejay,

I apologize for the delay - I have not had a chance to finish the review yet. I will complete the review tomorrow.

Regards,

Meghan

[2021-12-16 18:54] ryEllison commented on #3880
Hey, @meg-simula, I would be happy to review this!

[2021-12-16 19:12] jlarsen-usgs commented on #3852
Thanks for your review @mdbartos

I'll be working through the issues that you mentioned in the coming week or so!

[2021-12-16 19:23] chrisamiller commented on #3722
This got delayed by a variety of other projects on our end - appreciate your patience!  At this point we believe that we've addressed all of the the reviewer concerns.  They were really useful comments, and I think the package and the paper are stronger as a result - much appreciated! (@bebatut @friedue)

[2021-12-16 19:24] chrisamiller commented on #3722
@whedon generate pdf

[2021-12-16 19:24] whedon commented on #3722
PDF failed to compile for issue #3722 with the following error:
[code]

[2021-12-16 19:24] chrisamiller commented on #3722
@whedon generate pdf from branch joss-paper

[2021-12-16 19:24] whedon commented on #3722
[code]

[2021-12-16 19:25] whedon commented on #3722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03722/joss.03722/10.21105.joss.03722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03722/joss.03722/10.21105.joss.03722.pdf) :page_facing_up: :point_left:

[2021-12-16 19:41] will-rowe commented on #3839
@whedon check references

[2021-12-16 19:43] will-rowe commented on #3839
@whedon check references from branch joss

[2021-12-16 19:43] whedon commented on #3839
[code]

[2021-12-16 19:44] whedon commented on #3839
[code]

[2021-12-16 19:46] will-rowe commented on #3839
Hi @hcdenbakker!
This is looking good - I've just had another read and think we can move towards acceptance. We just need you to check your references and see if you can add DOIs for them (suggestions above). Once we have these done, we will need you to tag a new release and archive it. You then need to let me know the version and DOI for the archived release.

Thanks again reviewers - excellent r

[2021-12-16 19:54] hcdenbakker commented on #3839
Hi @will-rowe,
Great, I will add the DOIs and archiving ASAP.

Thanks everybody!

-Henk

[2021-12-16 20:07] andrewheiss commented on #3739
These revisions address all my concerns—the package looks great!

[2021-12-16 20:32] adrn commented on #3675
Thanks @mikegrudic for addressing my comments! Your responses above are reasonable and the new documentation site looks good. I'm satistifed!

[2021-12-16 20:40] dominiquesydow commented on #3951
@whedon generate pdf

[2021-12-16 20:41] whedon commented on #3951
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03951/joss.03951/10.21105.joss.03951.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03951/joss.03951/10.21105.joss.03951.pdf) :page_facing_up: :point_left:

[2021-12-16 20:41] dominiquesydow commented on #3951
@whedon generate pdf from branch joss-review-issues-133-134

[2021-12-16 20:41] whedon commented on #3951
[code]

[2021-12-16 20:42] whedon commented on #3951
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03951/joss.03951/10.21105.joss.03951.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03951/joss.03951/10.21105.joss.03951.pdf) :page_facing_up: :point_left:

[2021-12-16 20:50] geraintpalmer commented on #3538
Nearly done with the review, sorry for the delay.

@Hegghammer which License do you use? It looks a little bare, is it one listed here: https://opensource.org/licenses/alphabetical ?

[2021-12-16 20:54] chrisamiller commented on #3722
typo fixes made
@whedon generate pdf from branch joss-paper

[2021-12-16 20:55] chrisamiller commented on #3722
@whedon generate pdf from branch joss-paper

[2021-12-16 20:55] whedon commented on #3722
[code]

[2021-12-16 20:55] whedon commented on #3722
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03722/joss.03722/10.21105.joss.03722.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03722/joss.03722/10.21105.joss.03722.pdf) :page_facing_up: :point_left:

[2021-12-16 21:00] hcdenbakker commented on #3839
Hi @will-rowe,
I have added the DOIs to the references and archived a new release (v1.0.1) at Zenodo (DOI 10.5281/zenodo.5787248)

Let me know if I need to do anything else,

Thanks,
-Henk

[2021-12-16 21:22] friedue commented on #3722
@lpantano My suggestions have been addressed; I'll wait for @bebatut's verdict, but I have no hesitation to recommend this for publication now.

[2021-12-16 21:26] marwahaha commented on #3915
Very nice library!

Some comments below:

1. Why does taking the transpose cause an "affine expression"?  Can you define this term somewhere?
2. It was hard to try out an example. Even though several of them are listed, I just wanted to try one out (the MaxCut relaxation) and could not figure out how to run it without finding all the code blocks and  pasting them in from other sections. Could each

[2021-12-16 21:38] nmoran commented on #3711
Thanks again to @goerz and @obliviateandsurrender for their time and efforts in reviewing our work. Over the past few weeks we have made significant efforts to address the reviewers comments with the following changes:

- Addition of four tutorials which run through examples and explanations of different components and expand on the simple example included previously
- Correction of minor issues h

[2021-12-16 21:43] Hegghammer commented on #3538
Thanks for reviewing! The license is MIT as per the description file, with
the license file serving as a supplement. I'm not a specialist on licenses,
so I don't know if it's ideal, but I've seen several other packages do it
this way.
Best
Thomas

On Thu, 16 Dec 2021 at 21:50, Geraint Palmer ***@***.***>
wrote:

[2021-12-16 21:45] mkitti commented on #3965
I just got my MSYS2 on Windows into decent shape, so I will try that again shortly.

We probably need more specific information regarding what compilers and what versions have been tested. It may also be necessary to specify to cmake the required the C++ standard to use.

[2021-12-16 21:48] jbytecode commented on #3965
@matthieuaussal - It seems we have some reviewer issues, could you please update your status?

[2021-12-16 21:55] mkitti commented on #3965
See https://cmake.org/cmake/help/latest/prop_tgt/CXX_STANDARD.html

[2021-12-16 22:01] mkitti commented on #3965
@jbytecode Could you outline the "State of the Field" requirements here? The only comparison is to the MATLAB, and I think there are other open source alternatives that try to address the stated problem, albeit in distinct ways. In reviewing the requirements with you, we determined that this perhaps does not need to be a distinct section, but the content does need to be clearly somewhere in the ma

[2021-12-16 22:24] rkurchin commented on #3935
Emailed Dr. Cherukara.

[2021-12-16 22:47] kthyng commented on #3659
Looks great! Ready to go.

[2021-12-16 22:47] kthyng commented on #3659
@whedon accept deposit=true

[2021-12-16 22:47] whedon commented on #3659
No archive DOI set. Exiting...

[2021-12-16 22:49] kthyng commented on #3659
oops

[2021-12-16 22:49] kthyng commented on #3659
@whedon set 10.5281/zenodo.5772495 as archive

[2021-12-16 22:49] whedon commented on #3659
OK. <a href="https://doi.org/10.5281/zenodo.5772495" target="_blank">10.5281/zenodo.5772495</a> is the archive.

[2021-12-16 22:49] kthyng commented on #3659
@whedon set v0.1.0 as version

[2021-12-16 22:49] whedon commented on #3659
OK. v0.1.0 is the version.

[2021-12-16 22:50] kthyng commented on #3659
@whedon accept deposit=true

[2021-12-16 22:50] whedon commented on #3659
[code]

[2021-12-16 22:51] whedon commented on #3659
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1471613868040507392) 👈 🐦🐦🐦

[2021-12-16 22:51] whedon commented on #3659
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2832
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03659](https://doi.org/10.21105/joss.03659)
2. If everything look

[2021-12-16 22:52] kthyng commented on #3814
@zhenwu0728 can you state here if you consider your review satisfactorily addressed?

[2021-12-16 22:53] kthyng commented on #3659
Congrats on your new publication @paleolimbot! Many thanks to reviewers @KimBaldry and @catsch for your time, hard work, and expertise!!

[2021-12-16 22:53] #3659 closed

[2021-12-16 22:53] whedon commented on #3659
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03659/status.svg)](https://doi.org/10.21105/joss.03659)

**We need your help!**

Journal of Open Source Softwa

[2021-12-16 23:00] zhenwu0728 commented on #3814
Hi @kthyng, I think the authors did a good job. I realized that translating the examples to Pluto requires a lot of effort and the authors can do it at their own pace. The current examples are also good enough.

[2021-12-16 23:00] kthyng commented on #3344
/ooo December 17, 2021 until January 5, 2022

[2021-12-16 23:05] kthyng commented on #3344
/ooo December 17 until January 5

[2021-12-16 23:06] kthyng commented on #3344
@mcflugen I'll be back working on this after the new year — let me know how it's going at that point or when you get a chance. Thanks!

[2021-12-16 23:08] kthyng commented on #3594
Hi @SeascapeScience! Could I get an update from you, even if to say you can't start yet but will work on it in the new year? Thanks!

[2021-12-16 23:09] kthyng commented on #3814
@zhenwu0728 Thank you!

It looks like both reviews have been completed, so we can proceed with publication.

[2021-12-16 23:09] kthyng commented on #3814
@whedon generate pdf

[2021-12-16 23:11] whedon commented on #3814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: :point_left:

[2021-12-16 23:11] kthyng commented on #3814
@briochemc can you archive your software in a place like Zenodo and report back the doi here? Also please update the metadata in the archive so the author list and title exactly match your JOSS paper.
Also, please state here the software version you would like associated with your JOSS paper — you'd probably want to make a new tag/release of the software also.

[2021-12-16 23:14] geraintpalmer commented on #3538
Thanks @Hegghammer, I'm not a license expert either, but I usually see the text of the licence copy and pasted into the LICENSE file which makes things much clearer. E.g https://github.com/jquery/jquery/blob/main/LICENSE.txt

Thanks, happy to accept the review then.

[2021-12-16 23:23] kthyng commented on #3814
@briochemc The paper looks good, but:
* is reference Garcia et al a bit repetitive?
* Kelley 2003 should have Newton capitalized
* Should julia be capitalized? (Rackaukas )
* Schlitzer - capitalize Atlantic and uncapitalize the journal
* Thacker - I think Hessian should be capitalized?
* please look through all references in detail to catch other errors

[2021-12-17 00:33] Hegghammer commented on #3538
That is a good suggestion which I will gladly incorporate. I will edit the
LICENCE file accordingly.
Many thanks for everyone's time and best wishes for the holidays.
Best,
Thomas

On Fri, 17 Dec 2021 at 00:14, Geraint Palmer ***@***.***>
wrote:

[2021-12-17 01:04] briochemc commented on #3814
- [ ] archived in Zenodo [here](XXX): doi:XXX
- [x] author list and title now exactly match the JOSS paper
- [x] software version to be associated with the JOSS paper: v0.11.2
- [x] Garcia et al reference is fixed
- [x] Kelley 2003 reference fixed (Newton capitalized)
- [x] Rackaukas reference fixed (Julia capitalized)
- [x] Schlitzer reference fixed (Atlantic capitalized and journal name uncapita

[2021-12-17 01:08] briochemc commented on #3814
@whedon generate pdf

[2021-12-17 01:10] whedon commented on #3814
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03814/joss.03814/10.21105.joss.03814.pdf) :page_facing_up: :point_left:

[2021-12-17 01:21] taylormcd commented on #3924
PetrKryslUCSD or ahojukka5 might be good options.

[2021-12-17 01:34] LegrandNico commented on #3832
I have just release v0.2.2. The list of version tags is the following:

* 0.0.1
* 0.1.0
* 0.1.1
* 0.1.2
* 0.1.3
* 0.2.0
* 0.2.1
* 0.2.2

The DOI for the last (0.2.2) Zenodo version is **10.5281/zenodo.5787520**

@micahgallen can you check the Zenodo metadata and let us know when this is ready?

[2021-12-17 01:55] briochemc commented on #3814
@kthyng, I am done with the checklist above! Anything else I should do?

[2021-12-17 02:39] whedon commented on #3668
[code]

[2021-12-17 02:40] whedon commented on #3668
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1471671700626542594) 👈 🐦🐦🐦

[2021-12-17 02:40] whedon commented on #3668
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2833
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03668](https://doi.org/10.21105/joss.03668)
2. If everything look

[2021-12-17 02:43] kyleniemeyer commented on #3988
Hello @psychobas, unfortunately this submission does not meeting the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criteria for review by JOSS, so we will not be reviewing it.

Please consider our recommendations for [other venues for publishing/archiving software](https://joss.readthedocs.io/en/latest/submitting.html#other-venue

[2021-12-17 02:43] kyleniemeyer commented on #3988
@whedon reject

[2021-12-17 02:43] whedon commented on #3988
Paper rejected.

[2021-12-17 02:43] #3988 closed

[2021-12-17 02:44] kyleniemeyer commented on #3983
Hello @meixichen, unfortunately this submission does not meeting the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criteria for review by JOSS, so we will not be reviewing it.

Please consider our recommendations for [other venues for publishing/archiving software](https://joss.readthedocs.io/en/latest/submitting.html#other-venue

[2021-12-17 02:44] kyleniemeyer commented on #3983
@whedon reject

[2021-12-17 02:44] whedon commented on #3983
Paper rejected.

[2021-12-17 02:44] #3983 closed

[2021-12-17 02:52] kyleniemeyer commented on #3668
Congratulations @QibangLiu on your article's publication in JOSS!

Many thanks to @TLCFEM, @karthikncsu, and @Balaje for reviewing this submission, and @prashjha for editing.

[2021-12-17 02:52] #3668 closed

[2021-12-17 02:52] whedon commented on #3668
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03668/status.svg)](https://doi.org/10.21105/joss.03668)

**We need your help!**

Journal of Open Source Softwa

[2021-12-17 02:54] kyleniemeyer commented on #3977
Hello @svilsen, unfortunately the editorial board's consensus was that this submission is not suitable for review at this time. Editors suggested that while work is good, the scope is fairly small and not likely to be used by others in its current state.

[2021-12-17 02:54] kyleniemeyer commented on #3977
@whedon reject

[2021-12-17 02:54] whedon commented on #3977
Paper rejected.

[2021-12-17 02:54] #3977 closed

[2021-12-17 02:55] kyleniemeyer commented on #3972
Hi @zarrarkhan, we are going to proceed with review of your submission; one or two editors suggested there was room for improvement that could come via the review process.

[2021-12-17 02:56] kyleniemeyer commented on #3971
Hi @chchch, we are going to proceed reviewing this submission; the next step is to find an editor to handle this process.

[2021-12-17 03:02] kyleniemeyer commented on #3978
Hi @rickhelmus, we are going to proceed with reviewing this submission; the next step is to find an editor to handle that process.

[2021-12-17 03:03] kyleniemeyer commented on #3972
@whedon invite @hugoledoux as editor

Hi @hugoledoux, can you edit this one?

[2021-12-17 03:03] whedon commented on #3972
@hugoledoux has been invited to edit this submission.

[2021-12-17 03:12] prashjha commented on #3924
@Andlon no worries. Thanks for letting me/us know.

[2021-12-17 03:13] kyleniemeyer commented on #3978
@whedon invite @KristinaRiemer as editor

Hi @KristinaRiemer, can you edit this one?

[2021-12-17 03:13] whedon commented on #3978
@KristinaRiemer has been invited to edit this submission.

[2021-12-17 03:14] prashjha commented on #3924
Hello Professor @PetrKryslUCSD, any chance you could review this submission for JOSS

[2021-12-17 03:18] PetrKryslUCSD commented on #3924
Sure, no prob.

[2021-12-17 03:20] prashjha commented on #3924
Awesome!!

[2021-12-17 03:20] prashjha commented on #3924
@whedon add @PetrKryslUCSD as reviewer

[2021-12-17 03:20] whedon commented on #3924
OK, @PetrKryslUCSD is now a reviewer

[2021-12-17 03:22] prashjha commented on #3924
Hi @taylormcd, we now have two reviewers so I will start the review process.

Thanks in advance @Kevin-Mattheus-Moerman and @PetrKryslUCSD for your time. I will see you in 'Review' issue.

[2021-12-17 03:22] prashjha commented on #3924
@whedon start review

[2021-12-17 03:22] whedon opened #3997 "[REVIEW]: GXBeam: A Pure Julia Implementation of Geometrically Exact Beam Theory"
**Submitting author:** @taylormcd (<a href="http://orcid.org/0000-0001-7993-5703">Taylor McDonnell</a>)
**Repository:** <a href="https://github.com/byuflowlab/GXBeam.jl" target ="_blank">https://github.com/byuflowlab/GXBeam.jl</a>
**Version:** v0.3.1
**Editor:** @prashjha
**Reviewer:** @Kevin-Mattheus-Moerman, @PetrKryslUCSD
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

[2021-12-17 03:22] whedon commented on #3924
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3997.

[2021-12-17 03:22] #3924 closed

[2021-12-17 03:22] whedon commented on #3997
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman, @PetrKryslUCSD it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our

[2021-12-17 03:22] whedon commented on #3997
Wordcount for `paper.md` is 822

[2021-12-17 03:22] whedon commented on #3997
[code]

[2021-12-17 03:22] whedon commented on #3997
[code]

[2021-12-17 03:23] whedon commented on #3997
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03997/joss.03997/10.21105.joss.03997.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03997/joss.03997/10.21105.joss.03997.pdf) :page_facing_up: :point_left:

[2021-12-17 03:24] prashjha commented on #3997
Thank you @Kevin-Mattheus-Moerman and @PetrKryslUCSD for agreeing to be reviewers. Please read the first couple of comments in this thread and also reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the closed "REVIEW" issues on the "joss-reviews" repository to get some ideas on how to complete the reviews. Good luck!

[2021-12-17 06:54] hugoledoux commented on #3972
@whedon assign @hugoledoux as editor

[2021-12-17 06:54] whedon commented on #3972
OK, the editor is @hugoledoux

[2021-12-17 07:38] mikldk commented on #3979
@rrrlw, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-12-17 08:00] chchch commented on #3971
Ok, thanks!

[2021-12-17 08:40] seisman commented on #3858
@leouieda Hi Leo, thanks for your invitation. It looks really interesting, but I'm afraid I don't have much time in the next few months.

I would like to recommend my former colleague, Dr. Zhou Lu (GitHub handle: `luzhou-git`, Google Scholar: https://scholar.google.com/citations?user=V2Ijx9EAAAAJ), for review. He is a seismologist working on stress and crustal deformations, and also has a lot of e

[2021-12-17 09:23] ajstewartlang commented on #3739
Many thanks for those revisions @sfsinger19103 - and many thanks @andrewheiss for confirming that they address your concerns - could I ask you also to tick off the outstanding times in your reviewer checklist above please?

[2021-12-17 09:28] mikldk commented on #3941
@holtgrewe, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-12-17 09:29] mikldk commented on #3901
@fernandomayer, @fartist, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-12-17 09:33] andrewtarzia commented on #3951
I have completed my review of this work and am happy for it to be accepted. Great work by the authors!!

[2021-12-17 09:39] AleksiNummelin commented on #3947
Hi @elbeejay, sorry for being slow, I've started to look through the submission, but I had a simple question. I think I can't check the checkboxes above (should I be able to check them in the browser?), and I realized that I may not have accepted the invite and therefore I don't appear as an assignee, nor as a participant? Would it be possible to renew the invite, or is there something else that I

[2021-12-17 10:33] fraukewiese commented on #3861
@whedon add @shamsiharis as reviewer

[2021-12-17 10:34] whedon commented on #3861
OK, @shamsiharis is now a reviewer

[2021-12-17 10:34] fraukewiese commented on #3861
@whedon remove @ralphevins as reviewer

[2021-12-17 10:34] whedon commented on #3861
OK, @ralphevins is no longer a reviewer

[2021-12-17 10:38] fraukewiese commented on #3861
@ralphevins Thank you for the suggestion and @shamsiharis Thank you for agreeing to review! I have assigned you as a reviewer and I have edited the checklist, so that you can start the review.

[2021-12-17 10:38] fraukewiese commented on #3861
If there are any questions, please let me know.

[2021-12-17 10:44] inpefess commented on #3849
@whedon generate pdf from branch joss-paper

[2021-12-17 10:44] whedon commented on #3849
[code]

[2021-12-17 10:45] whedon commented on #3849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: :point_left:

[2021-12-17 11:23] tbirkandan commented on #3996
I installed and run the package (all doctest and all example notebooks by following [arXiv:2111.13274 [math.NT]](https://arxiv.org/abs/2111.13274)) with no problem. I just have two comments on the references of the paper (as this is not about the software, I am not opening an issue on the repository):

1) The reference of PARI/GP should be corrected according to https://pari.math.u-bordeaux.fr/faq

[2021-12-17 11:38] maxwelltsai commented on #3675
Thanks @mikegrudic for addressing my comments. On my side I am happy to recommend the paper for publication.

[2021-12-17 11:46] ajstewartlang commented on #3449
I've been through the submission myself - thanks @fredericgosselin for flagging up that much of this submission is code from the original SHINE toolbox and that the novel lines of code are much fewer than we would expect for a JOSS contribution. For this reason, I recommend a reject for this submission.

[2021-12-17 11:46] ajstewartlang commented on #3449
@whedon reject

[2021-12-17 11:46] whedon commented on #3449
I'm sorry @ajstewartlang, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-12-17 11:48] Viech commented on #3915
Hello @marwahaha,

thank you for your review and the kind words!

I'll answer your points now and will try to find time to work on the changes next week.

---

Let me first explain what happens here in detail:

PICOS variables are a special kind of an affine expression. Internally, any (multidimensional) variable object is associated with a numeric vector whose entries correspond to the scalar var

[2021-12-17 12:10] zarrarkhan commented on #3972
@kyleniemeyer @hugoledoux Thanks for the update. We look forward to the editor and reviewer comments to improve our paper/package.

[2021-12-17 12:11] arfon commented on #3925
@whedon add @cmbiwer as reviewer

[2021-12-17 12:11] whedon commented on #3925
OK, @cmbiwer is now a reviewer

[2021-12-17 12:11] arfon commented on #3925
@whedon start review

[2021-12-17 12:11] whedon opened #3998 "[REVIEW]: LEGWORK: A python package for computing the evolution and detectability of stellar-origin gravitational-wave sources with space-based detectors"
**Submitting author:** @TomWagg (<a href="http://orcid.org/0000-0001-6147-5761">Thomas Wagg</a>)
**Repository:** <a href="https://github.com/TeamLEGWORK/LEGWORK" target ="_blank">https://github.com/TeamLEGWORK/LEGWORK</a>
**Version:** v0.1.3
**Editor:** @arfon
**Reviewer:** @dbkeitel, @cmbiwer
**Archive:** <a href="https://doi.org/10.5281/zenodo.5942553" target="_blank">10.5281/zenodo.5942553</a>

[2021-12-17 12:11] whedon commented on #3925
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3998.

[2021-12-17 12:11] #3925 closed

[2021-12-17 12:11] whedon commented on #3998
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dbkeitel, @cmbiwer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-12-17 12:12] whedon commented on #3998
PDF failed to compile for issue #3998 with the following error:
[code]

[2021-12-17 12:12] whedon commented on #3998
[code]

[2021-12-17 12:13] arfon commented on #3998
@dbkeitel, @cmbiwer – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. T

[2021-12-17 13:01] elbeejay commented on #3947
No problem, I will re-issue the review invitation.

[2021-12-17 13:01] elbeejay commented on #3947
@whedon re-invite @AleksiNummelin as reviewer

[2021-12-17 13:02] whedon commented on #3947
OK, the reviewer has been re-invited.

@aleksinummelin please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-17 13:50] rrrlw commented on #3979
Of course, my apologies for the delay. I’m hoping to do a first pass over the weekend.

[2021-12-17 14:23] cmbiwer commented on #3925
Sounds good @arfon.

[2021-12-17 14:30] danielskatz commented on #3958
👋 @mmmaat - it looks like we are close to done, but I note [the open issue](https://github.com/bootphon/phonemizer/issues/91) shown above from @chrisbrickhouse that appears to be blocking him from checking off at least one item on his review.

[2021-12-17 14:30] danielskatz commented on #3958
👋 @chrisbrickhouse - is there anything else blocking you at this point?

[2021-12-17 14:31] danielskatz commented on #3958
👋 @henrykironde - I assume from your checklist that you are satisfied with the submission?

[2021-12-17 14:33] danielskatz commented on #3996
Thanks @tbirkandan
1. I think adding the arxiv number to the reference is a good idea
2. You didn't check the performance box in your review - What do you need in order to check that one off?

[2021-12-17 14:34] meixichen commented on #3983
Thank you both for letting me know and flagging the issues. I appreciated your time.

[2021-12-17 14:35] danielskatz commented on #3851
@ddeehere - I've had no luck finding reviewers. Unfortunately, if we cannot find reviewers, we cannot proceed.  I hope you will have more luck than I have.

[2021-12-17 14:49] fredstro commented on #3996
@tbirkandan: about the PARI reference, except the text "available from" the bibtex entry is the same as in the faq.html but the reference style used in JOSS does not output it in the right way (in particular the 'note' field is ignored).  I assume that you want me to modify the BibTex entry so that the output is in line with the example in the FAQ, i.e:
The PARI~Group, PARI/GP version \texttt{2.13

[2021-12-17 14:52] tpurcell90 commented on #3960
I opened up two MRs to address both the issues above. We can discuss them there or here.

[2021-12-17 14:52] mtreinish commented on #3968
We've already setup CI on the main branch for 3.10 support (https://github.com/Qiskit/retworkx/pull/447) and we're going to be publishing wheels for 3.10 in the next releases (which has unfortunately been delayed a bit, we were originally hoping to have it out a month or 2 ago).

This is mostly a holdover for users on older versions of pip, we have `setuptools-rust` listed as a build system requir

[2021-12-17 14:56] danielskatz commented on #3996
@whedon generate pdf from branch paper_joss

@fredstro - note that you can do this too to check the PDF when you make changes in the .md or .bib files

[2021-12-17 14:56] whedon commented on #3996
[code]

[2021-12-17 14:57] whedon commented on #3996
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03996/joss.03996/10.21105.joss.03996.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03996/joss.03996/10.21105.joss.03996.pdf) :page_facing_up: :point_left:

[2021-12-17 14:57] danielskatz commented on #3996
And note that the [JOSS examples](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) show some ways to get things to work

[2021-12-17 14:59] danielskatz commented on #3996
finally, I note that for the ref with the arxiv preprint - this looks fine in terms of the arxiv part, but you could change Hilbert to {H}ilbert in the title to protect that case.

[2021-12-17 15:01] jameschapman19 commented on #3823
Thanks @kyleniemeyer - I was able to track down a doi for Wenwen et al. too

@emdupre I made a related change to the references in the docstrings themselves so best to also change to 1.10.8 (but don't worry if it's too much trouble).

[2021-12-17 15:03] RodDalBen commented on #3449
Hi @ajstewartlang , thank you for reviewing the submission and making an editorial decision. Just to keep things crystal clear, SHINE_color was always presented as an adaptation of SHINE. Adapted and additional functions were always clearly indicated in Table 1 and all new lines of code (adaptations, new functions, implementations) were always clearly commented on scripts. Finally, I would like to

[2021-12-17 15:07] emdupre commented on #3823
Thank you, @jameschapman19 ! To confirm, did you also create a corresponding archive for the new release ? Can you list the DOI here if so ?

[2021-12-17 15:10] jameschapman19 commented on #3823
New DOI: 10.5281/zenodo.5786616

Just realised there is also the DOI which resolves to the most recent: 10.5281/zenodo.4382739

I don't know what is more appropriate for JOSS but I'm happy with either.

[2021-12-17 15:30] danielskatz commented on #3996
@whedon generate pdf from branch paper_joss

[2021-12-17 15:30] whedon commented on #3996
[code]

[2021-12-17 15:43] dfm commented on #3675
@adrn, @maxwelltsai: Thanks for your updates. Can you both go through [your checklists up at the top of this thread](https://github.com/openjournals/joss-reviews/issues/3675#issue-984176521), because I'm still seeing a lot of un-checked boxes. Thanks!

[2021-12-17 15:46] jbytecode commented on #3965
State of the field can be a distinct section or the authors should describe how this software compares to other commonly-used packages in somewhere else in the paper, but yes, this comparison is somehow required.

[2021-12-17 16:07] whedon commented on #3973
:wave: @dilawar, please update us on how your review is going (this is an automated reminder).

[2021-12-17 16:07] whedon commented on #3973
:wave: @federeghe, please update us on how your review is going (this is an automated reminder).

[2021-12-17 16:11] andrewheiss commented on #3739
Oh yeah, that list! :) - done ✅

[2021-12-17 16:18] jifarquharson commented on #3649
Dear @elbeejay and @PTierz et al.,

I have re-read the article, "PyVOLCANS: A Python package to flexibly explore similarities and differences between volcanic systems," and have tested the additional `pyVOLCANS` functionality (now v1.3.0). In particular, the improved
`--output_analogues_data` and `--output_volcano_data` options increase the range of applications of the tool. I can foresee immediat

[2021-12-17 16:26] ddeehere commented on #3851
@danielskatz I found someone who's keeping it open to try to review before January. He did recommend another person, which I will reach out to see if he's available.

[2021-12-17 16:29] whedon commented on #3974
:wave: @gdetor, please update us on how your review is going (this is an automated reminder).

[2021-12-17 16:29] whedon commented on #3974
:wave: @rougier, please update us on how your review is going (this is an automated reminder).

[2021-12-17 16:38] matthieuaussal commented on #3965
We just made this comparison between Matlab, Julia, Eigen and Castor and we planned to add this bench in the paper next tuesday, in a new "state of the field" part.

But you can already have a look at these attached codes.

Have a nice we

[2021-12-17 17:05] AstroBarker commented on #3960
Sorry for the delay getting back on this! I have read over the new draft of the paper, and all of my comments from the previous version have been addressed already! As someone who does not have domain experience with these techniques, my opinion is that the paper sufficiently addressed the need for this software and demonstrated its prior uses in the literature. I am still reading through the docu

[2021-12-17 17:22] cc-a commented on #3824
I've managed to sort the tricky bit with the containerised cluster for testing and will address the more minor comments in short order..

[2021-12-17 17:56] jponnela commented on #3417
Thank you so much everyone, my first time publishing in JOSS and I'm very impressed!

@Tam-Pham @erik-whiting @fboehm @kyleniemeyer @biblicabeebli

[2021-12-17 18:30] kyleniemeyer commented on #3823
@whedon set 10.5281/zenodo.5786616 as archive

We prefer the DOI that points to the specific version

[2021-12-17 18:31] whedon commented on #3823
OK. <a href="https://doi.org/10.5281/zenodo.5786616" target="_blank">10.5281/zenodo.5786616</a> is the archive.

[2021-12-17 18:31] kyleniemeyer commented on #3823
@whedon generate pdf

[2021-12-17 18:31] whedon commented on #3823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03823/joss.03823/10.21105.joss.03823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03823/joss.03823/10.21105.joss.03823.pdf) :page_facing_up: :point_left:

[2021-12-17 18:34] kyleniemeyer commented on #3823
@jameschapman19 sorry, the Wenwen et al. reference still needs one final change—the DOI field should not have the extra `doi=` in it, just do `doi={10.1049/cje.2017.08.004}`

[2021-12-17 18:34] tbirkandan commented on #3996
@danielskatz and @fredstro - I checked the remaining "performance" and "references" boxes. My final suggestion is to publish the final form of the paper in JOSS.

[2021-12-17 18:36] danielskatz commented on #3996
Thanks @tbirkandan - let's see what @videlec finds in the second review

[2021-12-17 18:40] christinahedges commented on #3838
@whedon check references from branch JOSS

[2021-12-17 18:40] whedon commented on #3838
[code]

[2021-12-17 18:41] christinahedges commented on #3838
@whedon generate pdf from branch JOSS

[2021-12-17 18:41] whedon commented on #3838
[code]

[2021-12-17 18:42] whedon commented on #3838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: :point_left:

[2021-12-17 18:45] whedon commented on #3838
[code]

[2021-12-17 19:05] christinahedges commented on #3838
Fantastic!

@ilyamandel the paper LGTM, it seems like some of the references are invalid (see whedon's comment above) would you and your team be able to fix these references and then I'll get this recommended!

[2021-12-17 19:22] gonsie commented on #3905
I find the documentation of the code base somewhat lacking. There is almost no API documentation. While the examples do a decent job of walking someone through creating a model, the text itself is limited and doesn't explain much. A note in the documentation points to the code base... but there are very few comments in the code.

[2021-12-17 19:57] PTierz commented on #3649
Dear @jifarquharson,

Thank you very much for all the time and work that you have dedicated to the review of our `PyVOLCANS` code and manuscript. It is hugely appreciated.

Likewise, very many thanks for your support and positive comments about the tool. We sincerely hope that it can be used by and useful for as many volcano scientists and enthusiasts as possible.

We have just posted a comment on

[2021-12-17 20:02] ojeda-e commented on #3951
I finished my review of OpenCADD-KLIFS. All my comments were addressed by @dominiquesydow and I'm happy to recommend this work for publication!

[2021-12-17 20:18] josephhardinee commented on #3219
I'd like to commend the authors for seeing through their commitment to improve documentation as well as the accompanying code cleanups. This looks good to me and I think this greatly deserves publication in JOSS.

[2021-12-17 20:41] jifarquharson commented on #3649
Happy to report that with [`cca2fd6`](https://github.com/BritishGeologicalSurvey/pyvolcans/commit/cca2fd68e6cb79b55799b9f089e155983820672d) and the update to [`v1.3.1`](https://github.com/BritishGeologicalSurvey/pyvolcans/releases/tag/v1.3.1), the disambiguation/overwriting problem ([#20](https://github.com/BritishGeologicalSurvey/pyvolcans/issues/20)) is fixed.

[2021-12-17 21:11] shahmoradi commented on #3727
The test script `run_tests.py` works on Windows OS. It failed on MingW and Linux OS with various library errors. I assume these errors are due to version incompatibilities. While I am not going to require the authors to make this extra change in the tests, I highly recommend adding a few lines at the beginning of the script to automatically check proper library versions are installed on the user's

[2021-12-17 21:21] chrisbrickhouse commented on #3958
@danielskatz Thanks for the reminder! I've checked off the remaining items and closed the open issue. I have no further concerns and recommend acceptance.

[2021-12-17 21:38] danielskatz commented on #3958
great - thanks @chrisbrickhouse!

[2021-12-17 21:39] danielskatz commented on #3958
👋 @mmmaat - the next step will be me proof-reading the paper, and then asking you to archive the software with a release tag - I'll try to do this fairly soon.

[2021-12-17 21:49] slayoo commented on #3219
thank you, @josephhardinee

[2021-12-17 21:54] mkitti commented on #3965
Thank you.

[2021-12-17 23:16] whedon opened #3999 "[PRE REVIEW]: SimpleFOC: A Field Oriented Control (FOC) Library for Controlling Brushless Direct Current (BLDC) and Stepper Motors"
**Submitting author:** @askuric (<a href="http://orcid.org/0000-0002-3323-4482">Antun Skuric</a>)
**Repository:** https://github.com/simplefoc/Arduino-FOC/
**Branch with paper.md** (empty if default branch):
**Version:** v2.2
**Editor:** @gkthiruvathukal
**Reviewers:** @sea-bass, @ixjlyons
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-12-17 23:16] whedon commented on #3999
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:17] whedon commented on #3999
PDF failed to compile for issue #3999 with the following error:
[code]

[2021-12-17 23:17] whedon commented on #3999
[code]

[2021-12-17 23:17] whedon opened #4000 "[PRE REVIEW]: liionpack: A Python package for simulating packs of batteries with PyBaMM"
**Submitting author:** @TomTranter (<a href="http://orcid.org/0000-0003-4721-5941">Thomas Tranter</a>)
**Repository:** <a href="https://github.com/pybamm-team/liionpack" target ="_blank">https://github.com/pybamm-team/liionpack</a>
**Version:** v1.0.0
**Editor:** @timtroendle
**Reviewers:** @EricaEgg, @mefuller
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-12-17 23:17] whedon commented on #4000
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:17] whedon commented on #4000
Wordcount for `paper.md` is 1440

[2021-12-17 23:18] whedon commented on #4000
[code]

[2021-12-17 23:18] whedon commented on #4000
[code]

[2021-12-17 23:18] whedon commented on #4000
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04000/joss.04000/10.21105.joss.04000.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04000/joss.04000/10.21105.joss.04000.pdf) :page_facing_up: :point_left:

[2021-12-17 23:18] kyleniemeyer commented on #4000
@whedon invite @jgostick as editor

Hi @jgostick, could you edit this submission?

[2021-12-17 23:18] whedon commented on #4000
@jgostick has been invited to edit this submission.

[2021-12-17 23:19] kyleniemeyer commented on #4000
Hi @TomTranter, while we are getting started assigning an editor and finding reviewers, could you take a look at the missing DOI messages above and see about adding those to the paper?

[2021-12-17 23:20] kyleniemeyer commented on #3999
@whedon generate pdf from branch joss_paper

[2021-12-17 23:20] whedon commented on #3999
[code]

[2021-12-17 23:20] whedon commented on #3999
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03999/joss.03999/10.21105.joss.03999.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03999/joss.03999/10.21105.joss.03999.pdf) :page_facing_up: :point_left:

[2021-12-17 23:20] kyleniemeyer commented on #3999
@whedon check references from branch joss_paper

[2021-12-17 23:20] whedon commented on #3999
[code]

[2021-12-17 23:21] whedon commented on #3999
[code]

[2021-12-17 23:21] kyleniemeyer commented on #3999
Hi @askuric, while we are getting started with assigning an editor and finding reviewers, could you take a look at the missing DOIs for references in your paper and begin adding those?

[2021-12-17 23:21] kyleniemeyer commented on #3999
@whedon invite @gkthiruvathukal as editor

Hi @gkthiruvathukal, could you edit this submission?

[2021-12-17 23:21] whedon commented on #3999
@gkthiruvathukal has been invited to edit this submission.

[2021-12-17 23:23] whedon opened #4001 "[PRE REVIEW]: Octopus-sensing: A python library for human behavior studies"
**Submitting author:** @nastaran62 (<a href="http://orcid.org/0000-0002-6082-9772">Nastaran Saffaryazdi</a>)
**Repository:** <a href="https://github.com/octopus-sensing/octopus-sensing" target ="_blank">https://github.com/octopus-sensing/octopus-sensing</a>
**Version:** v3.1.0
**Editor:** @ajstewartlang
**Reviewers:** @ixjlyons, @peircej
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced se

[2021-12-17 23:23] whedon commented on #4001
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:23] whedon commented on #4001
Wordcount for `paper.md` is 821

[2021-12-17 23:23] whedon commented on #4001
[code]

[2021-12-17 23:23] whedon commented on #4001
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04001/joss.04001/10.21105.joss.04001.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04001/joss.04001/10.21105.joss.04001.pdf) :page_facing_up: :point_left:

[2021-12-17 23:23] whedon commented on #4001
[code]

[2021-12-17 23:23] whedon opened #4002 "[PRE REVIEW]: PyBioPAX: biological pathway exchange in Python"
**Submitting author:** @bgyori (<a href="http://orcid.org/0000-0001-9439-5346">Benjamin M. Gyori</a>)
**Repository:** <a href="https://github.com/indralab/pybiopax" target ="_blank">https://github.com/indralab/pybiopax</a>
**Version:** 0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-12-17 23:23] whedon commented on #4002
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:23] whedon commented on #4002
Wordcount for `paper.md` is 1074

[2021-12-17 23:23] whedon commented on #4002
[code]

[2021-12-17 23:23] whedon commented on #4002
[code]

[2021-12-17 23:24] whedon commented on #4002
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04002/joss.04002/10.21105.joss.04002.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04002/joss.04002/10.21105.joss.04002.pdf) :page_facing_up: :point_left:

[2021-12-17 23:25] kyleniemeyer commented on #4001
Hi @nastaran62, thanks for your interest in JOSS. Unfortunately, we do not have any editors from this area available at the moment, so this submission will be on our waitlist until someone becomes available to edit.

In the meantime, could you please take a look at the missing DOIs in your article and resolve those? Also, any reviewer suggestions you could make would be helpful. Thanks!

[2021-12-17 23:28] kyleniemeyer commented on #4002
@whedon invite @majensen as editor

Hi @majensen, could you edit this submission?

[2021-12-17 23:28] whedon commented on #4002
@majensen has been invited to edit this submission.

[2021-12-17 23:29] whedon opened #4003 "[PRE REVIEW]: ReMove: A Configuration Tool for Robot-Assisted Experiments in Rehabilitation"
**Submitting author:** @Rehablab (<a href="http://orcid.org/0000-0001-8781-301X">Qiang Xu</a>)
**Repository:** <a href="https://github.com/Rehablab/ReMove" target ="_blank">https://github.com/Rehablab/ReMove</a>
**Version:** v1.0.0
**Editor:** @adi3
**Reviewers:** @AustinTSchaffer, @sneakers-the-rat
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-12-17 23:29] whedon commented on #4003
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:29] whedon commented on #4003
Wordcount for `paper.md` is 1012

[2021-12-17 23:29] whedon commented on #4003
[code]

[2021-12-17 23:29] whedon commented on #4003
PDF failed to compile for issue #4003 with the following error:
[code]

[2021-12-17 23:29] whedon commented on #4003
[code]

[2021-12-17 23:29] kyleniemeyer commented on #4003
@whedon query scope

[2021-12-17 23:29] whedon commented on #4003
Submission flagged for editorial review.

[2021-12-17 23:30] kyleniemeyer commented on #4003
Hello @Rehablab, the JOSS editorial board is going to review your submission to see if it meets our requirements; we will get back to you within a week or two on this.

[2021-12-17 23:31] whedon opened #4004 "[PRE REVIEW]: Data Integrity Fingerprint (DIF) - A reference implementation in Python"
**Submitting author:** @lindemann09 (<a href="http://orcid.org/0000-0003-3789-5373">Oliver Lindemann</a>)
**Repository:** <a href="https://github.com/expyriment/dataintegrityfingerprint-python" target ="_blank">https://github.com/expyriment/dataintegrityfingerprint-python</a>
**Version:** v0.7.5
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced ser

[2021-12-17 23:31] whedon commented on #4004
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:31] whedon commented on #4004
Wordcount for `paper.md` is 1037

[2021-12-17 23:31] whedon commented on #4004
[code]

[2021-12-17 23:31] whedon commented on #4004
[code]

[2021-12-17 23:31] kyleniemeyer commented on #4004
@whedon query scope

[2021-12-17 23:31] whedon commented on #4004
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04004/joss.04004/10.21105.joss.04004.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04004/joss.04004/10.21105.joss.04004.pdf) :page_facing_up: :point_left:

[2021-12-17 23:31] whedon commented on #4004
Submission flagged for editorial review.

[2021-12-17 23:33] kyleniemeyer commented on #4004
Hello @lindemann09, thanks for your interest in JOSS. The editorial board is going to review your submission to see if it meets our requirements for [scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) (related to software package size) and [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software).

[2021-12-17 23:33] whedon opened #4005 "[PRE REVIEW]: PsiRESP: calculating RESP charges with Psi4"
**Submitting author:** @lilyminium (<a href="http://orcid.org/0000-0002-6095-6704">Lily Wang</a>)
**Repository:** <a href="https://github.com/lilyminium/psiresp" target ="_blank">https://github.com/lilyminium/psiresp</a>
**Version:** v0.3.1
**Editor:** @pdebuyl
**Reviewers:** @ptmerz
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2021-12-17 23:33] whedon commented on #4005
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:33] whedon commented on #4005
Wordcount for `paper.md` is 1317

[2021-12-17 23:33] whedon commented on #4005
[code]

[2021-12-17 23:33] whedon commented on #4005
[code]

[2021-12-17 23:34] whedon commented on #4005
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04005/joss.04005/10.21105.joss.04005.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04005/joss.04005/10.21105.joss.04005.pdf) :page_facing_up: :point_left:

[2021-12-17 23:34] kyleniemeyer commented on #4005
@whedon invite @pdebuyl as editor

Hi @pdebuyl, could you edit this submission?

[2021-12-17 23:34] whedon commented on #4005
@pdebuyl has been invited to edit this submission.

[2021-12-17 23:35] kyleniemeyer commented on #4005
Hi @lilyminium, while we are getting started assigning an editor and finding reviewers, could you please take a look at those DOI issues raised above and resolve them in your paper?

[2021-12-17 23:35] whedon opened #4006 "[PRE REVIEW]: anndata: Annotated data"
**Submitting author:** @falexwolf (<a href="http://orcid.org/0000-0002-8760-7838">F. Alexander Wolf</a>)
**Repository:** https://github.com/theislab/anndata
**Branch with paper.md** (empty if default branch):
**Version:** v0.8.0
**Editor:** @luizirber
**Reviewers:** @nlhepler, @rcannood
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-12-17 23:35] whedon commented on #4006
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:35] whedon commented on #4006
PDF failed to compile for issue #4006 with the following error:
[code]

[2021-12-17 23:35] whedon commented on #4006
[code]

[2021-12-17 23:36] kyleniemeyer commented on #4006
@whedon generate pdf from branch paper

[2021-12-17 23:36] whedon commented on #4006
[code]

[2021-12-17 23:36] whedon commented on #4006
PDF failed to compile for issue #4006 with the following error:
[code]

[2021-12-17 23:46] whedon opened #4007 "[PRE REVIEW]: Magphi: Sequence extraction tool from FASTA and GFF3 files using seed pairs"
**Submitting author:** @milnus (<a href="http://orcid.org/0000-0001-9751-9877">Magnus Jespersen</a>)
**Repository:** https://github.com/milnus/Magphi
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.6
**Editor:** @majensen
**Reviewers:** @gtonkinhill, @dcnickle
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-12-17 23:46] whedon commented on #4007
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-17 23:46] whedon commented on #4007
Wordcount for `paper.md` is 493

[2021-12-17 23:46] whedon commented on #4007
[code]

[2021-12-17 23:46] whedon commented on #4007
[code]

[2021-12-17 23:46] whedon commented on #4007
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04007/joss.04007/10.21105.joss.04007.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04007/joss.04007/10.21105.joss.04007.pdf) :page_facing_up: :point_left:

[2021-12-17 23:49] lilyminium commented on #4005
@whedon generate pdf

[2021-12-17 23:49] whedon commented on #4005
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04005/joss.04005/10.21105.joss.04005.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04005/joss.04005/10.21105.joss.04005.pdf) :page_facing_up: :point_left:

[2021-12-18 00:02] kyleniemeyer commented on #4007
@whedon invite @will-rowe as editor

Hi @will-rowe, could you edit this one?

[2021-12-18 00:02] whedon commented on #4007
@will-rowe has been invited to edit this submission.

[2021-12-18 00:04] whedon opened #4008 "[PRE REVIEW]: TorchMetrics - Measuring Reproducibility in PyTorch"
**Submitting author:** @justusschock (<a href="http://orcid.org/0000-0003-0512-3053">Justus Schock</a>)
**Repository:** <a href="https://github.com/PyTorchLightning/metrics" target ="_blank">https://github.com/PyTorchLightning/metrics</a>
**Version:** v0.6.2
**Editor:** @taless474
**Reviewers:** @inpefess, @richrobe, @reneraab
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode

[2021-12-18 00:04] whedon commented on #4008
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-18 00:04] whedon commented on #4008
Wordcount for `paper.md` is 1166

[2021-12-18 00:05] whedon commented on #4008
[code]

[2021-12-18 00:05] whedon opened #4009 "[PRE REVIEW]: DASF: A data analytics software framework for distributed environments"
**Submitting author:** @d-eggert (<a href="http://orcid.org/0000-0003-0251-4390">Daniel Eggert</a>)
**Repository:** <a href="https://git.geomar.de/digital-earth/dasf/dasf-messaging-python" target ="_blank">https://git.geomar.de/digital-earth/dasf/dasf-messaging-python</a>
**Version:** v0.2.0
**Editor:** @martinfleis
**Reviewers:** @uellue, @sk1p, @cjwu
**Managing EiC:** Kyle Niemeyer

**:warning:

[2021-12-18 00:05] whedon commented on #4009
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-18 00:05] whedon commented on #4009
[code]

[2021-12-18 00:05] whedon commented on #4008
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04008/joss.04008/10.21105.joss.04008.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04008/joss.04008/10.21105.joss.04008.pdf) :page_facing_up: :point_left:

[2021-12-18 00:05] whedon commented on #4009
PDF failed to compile for issue #4009 with the following error:
[code]

[2021-12-18 00:05] whedon commented on #4008
[code]

[2021-12-18 00:08] kyleniemeyer commented on #4009
@whedon generate pdf from branch joss-submission

[2021-12-18 00:08] whedon commented on #4009
[code]

[2021-12-18 00:09] whedon commented on #4009
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04009/joss.04009/10.21105.joss.04009.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04009/joss.04009/10.21105.joss.04009.pdf) :page_facing_up: :point_left:

[2021-12-18 00:09] kyleniemeyer commented on #4009
@whedon check references from branch joss-submission

[2021-12-18 00:09] whedon commented on #4009
[code]

[2021-12-18 00:10] whedon commented on #4009
[code]

[2021-12-18 00:11] kyleniemeyer commented on #4009
@whedon invite @martinfleis as editor

Hi @martinfleis, could you edit this? Please note that this submission actually comprises four software packages, found at https://git.geomar.de/digital-earth/dasf/

[2021-12-18 00:11] whedon commented on #4009
@martinfleis has been invited to edit this submission.

[2021-12-18 00:11] whedon opened #4010 "[PRE REVIEW]: `rbioacc`: an R-package to analyse toxicokinetic data"
**Submitting author:** @sandrinecharles (<a href="http://orcid.org/0000-0003-4604-0166">Sandrine CHARLES</a>)
**Repository:** <a href="https://github.com/aursiber/rbioacc/" target ="_blank">https://github.com/aursiber/rbioacc/</a>
**Version:** 1.0.2
**Editor:** @KristinaRiemer
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-12-18 00:11] whedon commented on #4010
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-18 00:11] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 00:11] whedon commented on #4010
Wordcount for `paper.md` is 4783

[2021-12-18 00:11] whedon commented on #4010
[code]

[2021-12-18 00:12] whedon commented on #4010
[code]

[2021-12-18 00:15] kyleniemeyer commented on #4010
Hi @sandrinecharles, could you please fix the `author` field in the paper header to `authors`? Also, I think it might be best to use the preferred affiliation field, like
[code]

I'm also not sure that the extra `output` field you have there will do anything, and might cause problems. Further, I think it would be best to remove the `paper.pdf` file from the repo, as I know that can confuse our sys

[2021-12-18 00:16] kyleniemeyer commented on #4010
@whedon invite @KristinaRiemer as editor

Hi @KristinaRiemer, I think this submission is similar to one you recently edited—could you edit this one, once the paper issues are resolved?

[2021-12-18 00:16] whedon commented on #4010
@KristinaRiemer has been invited to edit this submission.

[2021-12-18 00:17] whedon opened #4011 "[PRE REVIEW]: CGC: a scalable Python package for co- and tri-clustering of geo-data cubes"
**Submitting author:** @fnattino (<a href="http://orcid.org/0000-0003-3286-0139">Francesco Nattino</a>)
**Repository:** <a href="https://github.com/phenology/cgc" target ="_blank">https://github.com/phenology/cgc</a>
**Version:** v0.6.1
**Editor:** @hugoledoux
**Reviewers:** @Subho07, @Narayana-Rao
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-12-18 00:17] whedon commented on #4011
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-12-18 00:17] whedon commented on #4011
[code]

[2021-12-18 00:17] whedon commented on #4011
PDF failed to compile for issue #4011 with the following error:
[code]

[2021-12-18 00:22] kyleniemeyer commented on #4011
@whedon generate pdf from branch joss_paper

[2021-12-18 00:22] whedon commented on #4011
[code]

[2021-12-18 00:23] whedon commented on #4011
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04011/joss.04011/10.21105.joss.04011.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04011/joss.04011/10.21105.joss.04011.pdf) :page_facing_up: :point_left:

[2021-12-18 00:23] kyleniemeyer commented on #4011
@whedon check references from branch joss_paper

[2021-12-18 00:23] whedon commented on #4011
[code]

[2021-12-18 00:24] whedon commented on #4011
[code]

[2021-12-18 00:24] kyleniemeyer commented on #4011
@whedon invite @hugoledoux as editor

Hi @hugoledoux, could you edit this submission?

[2021-12-18 00:24] whedon commented on #4011
@hugoledoux has been invited to edit this submission.

[2021-12-18 00:25] kyleniemeyer commented on #4008
Hello @justusschock, thanks for your interest in JOSS. Unfortunately we do not have any editors available in this area right now, so your submission will be in our waitlist until someone becomes available soon.

[2021-12-18 00:27] kyleniemeyer commented on #3971
@whedon invite @galessiorob as editor

Hi @galessiorob is this something you could edit? The author has given some reviewer suggestions above. Thanks!

[2021-12-18 00:27] whedon commented on #3971
@galessiorob has been invited to edit this submission.

[2021-12-18 00:28] kyleniemeyer commented on #4006
Hi @falexwolf, could you add the `tags` field in the paper YAML header? I wasn't aware that was strictly required, but the error message seems to be pointing to that. Also, I'm not sure if the special characters you have used in the affiliations wil work, but we can find out!

[2021-12-18 00:30] soffner commented on #3771
@whedon generate pdf

On Mon, Sep 27, 2021 at 2:22 PM whedon ***@***.***> wrote:

[2021-12-18 00:31] whedon commented on #3771
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: :point_left:

[2021-12-18 00:34] lilyminium commented on #4005
Thanks @kyleniemeyer -- I've fixed those now.

For reviewers, could I please suggest the following from the list:

* hannahbrucemacdonald
* mkhorton
* ptmerz
* blakeaw
* chryswoods

[2021-12-18 03:10] fernandomayer commented on #3901
@mikldk I've sent a PR to the author with some suggestions, so I hope to finish my review next week.

[2021-12-18 03:51] jgostick commented on #4000
@tomtranter was my postdoc for 2 years from 2018-2019 and we have a slew of papers togehter.  If this is not a conflict of interest, the I'm OK to do it.  Just checking with you first.

[2021-12-18 07:42] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 07:43] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 10:19] jameschapman19 commented on #3823
🤦 fixed

[2021-12-18 10:39] holtgrewe commented on #3941
@mikldk sorry for the delay, will do it over christmas

[2021-12-18 12:45] GaurangTandon commented on #3504
Hi extremely sorry for the delay, I was busy with academics. I will get back to you on this by today itself.

[2021-12-18 12:56] szhorvat commented on #3968
As promised, I will respond to some of the specific points that @mtreinish made. Regarding [the reminder](https://github.com/openjournals/joss-reviews/issues/3968#issuecomment-995197715), my review should be considered complete.

----

I think this illustrates well why the statement of need must be improved both in the paper and in the documentation.

Let me clarify my concerns about design. A goo

[2021-12-18 13:12] GaurangTandon commented on #3504
Hi:

1. The automated testing is clean. Thanks for implementing it!
2. `fms-query-il` works now as per your bugfix.

Overall, I believe all functional and detail checkpoints are complete :heavy_check_mark:

There's one minor issue though: I think the software paper is perhaps too short. Maybe it has not yet been updated and I'm looking at the older version. https://github.com/openjournals/joss-pap

[2021-12-18 14:03] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 14:03] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 14:15] danielskatz commented on #3958
@whedon check references from branch joss

[2021-12-18 14:15] whedon commented on #3958
[code]

[2021-12-18 14:16] danielskatz commented on #3958
@whedon generate pdf from branch joss

[2021-12-18 14:16] whedon commented on #3958
[code]

[2021-12-18 14:16] whedon commented on #3958
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03958/joss.03958/10.21105.joss.03958.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03958/joss.03958/10.21105.joss.03958.pdf) :page_facing_up: :point_left:

[2021-12-18 14:16] whedon commented on #3958
[code]

[2021-12-18 14:18] danielskatz commented on #3958
👋 @mmmaat - Please work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references from branch joss` to check again, and the command `@whedon generate pdf from branch joss` when the references are right to make a new PDF. Whedon commands need to be the first entry in a ne

[2021-12-18 14:20] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 14:20] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 14:25] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 14:25] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 14:32] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 14:32] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 14:36] danielskatz commented on #3958
👋 @mmmaat - reading the paper, I'm a little surprised the intro paragraph mentions phones, speech, and text, but not phonemes, particularly for a package called phonemizer. Would it make sense to also mention phonemes here?

In addition, I've suggested some minor changes for language and bib entry cases in https://github.com/bootphon/phonemizer/pull/101

[2021-12-18 14:40] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 14:40] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 14:41] elwinter commented on #3465
Hi Patrick. I apologize for the delay. I have reworked the paragraph
discussing TensorFlow and PyTorch to include a better comparison with nnde.
Please let me know what you think.

Thanks
Eric

On Mon, Dec 13, 2021 at 11:25 AM Patrick Diehl ***@***.***>
wrote:

[2021-12-18 14:42] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 14:43] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 14:46] danielskatz commented on #4010
I think the problem is
`- name: Corresponding author ([email](mailto:sandrine.charles@univ-lyon1.fr?subject=morse))`

you might try to remove the email address and see if this works.
` - name: Corresponding author`

[2021-12-18 14:50] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 14:50] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 14:51] sandrinecharles commented on #4010
@danielskatz Thanks to try to help me; I start to desperate... but again, it does not work after removing email

[2021-12-18 14:53] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 14:53] whedon commented on #4010
PDF failed to compile for issue #4010 with the following error:
[code]

[2021-12-18 14:55] danielskatz commented on #4003
@rehablab - I suspect this doesn't compile because of one or more of three things:

* the blank orcid line should be remove - if there is no orcid, this line isn't needed

* `    - name: Chuanxin M. Niu^[corresponding author&#58;&nbsp;minos.niu&#64;gmail.com]`

which you could try changing to just to
`    - name: Chuanxin M. Niu^[corresponding author]`

* or the blank line between the affiliations

[2021-12-18 14:57] danielskatz commented on #4003
Also, looking at your paper, you have put the references in manually rather than tagging them so they are built - see the example paper: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2021-12-18 15:05] danielskatz commented on #4010
I think the key here is `mapping values are not allowed in this context at line 16 column 14`

This eventually made me realize that these three lines are missing the `name:` part

[code]

Try changing them to

[code]

[2021-12-18 15:35] henrykironde commented on #3958
Yes, I recommend acceptance.

[2021-12-18 15:43] jbytecode commented on #3991
@tmigot - is it possible to enhance the documentation with parameters, their types, their description, return value, and examples as shown in [here](https://julia-doc.readthedocs.io/en/latest/manual/documentation/)?

[2021-12-18 15:43] emdupre commented on #3823
@whedon generate pdf

[2021-12-18 15:44] whedon commented on #3823
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03823/joss.03823/10.21105.joss.03823.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03823/joss.03823/10.21105.joss.03823.pdf) :page_facing_up: :point_left:

[2021-12-18 15:44] mmmaat commented on #3958
@danielskatz thanks for editing this paper. I will add the missing DOIs today. Thanks for correcting the typos in the text, I just merged your PR.

About your question about phones and phonemes... Actually phone/phonetic is related to text and phoneme/phonemic is related to speech. I made a mistake when calling that tool the `phonemizer` 6 years ago, it would have better been called `phonetizer` b

[2021-12-18 15:47] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 15:51] mmmaat commented on #3958
@whedon check references from branch joss

[2021-12-18 15:51] whedon commented on #3958
[code]

[2021-12-18 15:52] whedon commented on #3958
[code]

[2021-12-18 15:53] mmmaat commented on #3958
@whedon generate pdf from branch joss

[2021-12-18 15:53] whedon commented on #3958
[code]

[2021-12-18 15:53] whedon commented on #3958
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03958/joss.03958/10.21105.joss.03958.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03958/joss.03958/10.21105.joss.03958.pdf) :page_facing_up: :point_left:

[2021-12-18 16:03] mmmaat commented on #3958
If everything it OK for you I will release phonemizer-3.0.1 with the changes made in the [README.md](https://github.com/bootphon/phonemizer/compare/joss?expand=1#diff-b335630551682c19a781afebcf4d07bf978fb1f8ac04c6bf87428ed5106870f5) during the review and the [two minor bugs](https://github.com/bootphon/phonemizer/blob/master/CHANGELOG.md#not-yet-released) recently fixed. I prefer not to merge the

[2021-12-18 16:03] danielskatz commented on #4010
@whedon generate pdf

[2021-12-18 16:05] danielskatz commented on #3958
It's fine not to merge the paper into the main branch.

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (sho

[2021-12-18 16:08] danielskatz commented on #4010
Hi @sandrinecharles - I'm not sure what's going on at this point.  You might try removing the lines
[code]

however and see if that works - if not, we will need to ping someone else (`@openjournals/dev`) to look into what's failing and not reporting an error

[2021-12-18 16:12] sandrinecharles commented on #4010
OK @danielskatz I going to try. Thank you very much for your help. I am sorry for such problems I cannot resolve myself. I keep you informed asap.

[2021-12-18 16:14] sandrinecharles commented on #4010
@whedon generate pdf

[2021-12-18 16:18] danielskatz commented on #4010
@sandrinecharles - this might be slow to build because of large images.  Also, the paper itself is far too long for a JOSS paper.  Please note that

-- https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2021-12-18 16:23] GaurangTandon commented on #3940
I reviewed the functionality in this [simple repl](https://replit.com/@SigmaG/OrdinaryWellinformedInstitute#index.js), it works as expected.

The software makes performance claims as well (specifically that the parser generated by this package will perform at least as good as hand written parsers, and sometimes better too). To quote:

Unfortunately, I have not been able to test these claims. There

[2021-12-18 16:23] sandrinecharles commented on #4010
@danielskatz  OK I see, sorry, I forgot this rule, you are right. I will advertise my co-author before deciding how to continue. Have a nice week-end. Sandrine

[2021-12-18 16:41] Fil commented on #3940
Thank you @GaurangTandon. For me the last element that needs to be addressed is the community guidelines, in particular wrt issue https://github.com/keichi/binary-parser/issues/149 ; @keichi it would be nice to have some assurance that the software is not going to be abandoned due to a lack of maintainers.

[2021-12-18 16:46] TomTranter commented on #4000
@kyleniemeyer sure I'll set up a review branch and make them there.

[2021-12-18 17:00] mmmaat commented on #3958
Here we are:
* The DOI: https://zenodo.org/record/5791097
* The tagged release: https://github.com/bootphon/phonemizer/releases/tag/v3.0.1

[2021-12-18 17:02] TomTranter commented on #4000
I searched your reviewer database for people comfortable reviewing batteries and these names came up: mefuller, yangbai90, EricaEgg

[2021-12-18 17:17] emdupre commented on #3823
@whedon set v1.10.8 as version

[2021-12-18 17:17] whedon commented on #3823
OK. v1.10.8 is the version.

[2021-12-18 17:35] soffner commented on #3771
@whedon generate pdf

On Fri, Dec 17, 2021 at 6:31 PM whedon ***@***.***> wrote:

[2021-12-18 17:36] whedon commented on #3771
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03771/joss.03771/10.21105.joss.03771.pdf) :page_facing_up: :point_left:

[2021-12-18 17:55] danielskatz commented on #3958
@whedon set v3.0.1 as version

[2021-12-18 17:55] whedon commented on #3958
OK. v3.0.1 is the version.

[2021-12-18 17:55] danielskatz commented on #3958
@whedon set 10.5281/zenodo.5791097 as archive

[2021-12-18 17:56] whedon commented on #3958
OK. <a href="https://doi.org/10.5281/zenodo.5791097" target="_blank">10.5281/zenodo.5791097</a> is the archive.

[2021-12-18 17:56] danielskatz commented on #3958
@whedon recommend-accept from branch joss

[2021-12-18 17:56] whedon commented on #3958
[code]

[2021-12-18 17:56] whedon commented on #3958
[code]

[2021-12-18 17:56] whedon commented on #3958
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2834

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2834, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-18 17:57] danielskatz commented on #3958
@whedon accept deposit=true from branch joss

[2021-12-18 17:57] whedon commented on #3958
[code]

[2021-12-18 17:58] whedon commented on #3958
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1472265050429829130) 👈 🐦🐦🐦

[2021-12-18 17:58] whedon commented on #3958
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2835
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03958](https://doi.org/10.21105/joss.03958)
2. If everything look

[2021-12-18 18:09] danielskatz commented on #3958
Congratulations to @mmmaat (Bernard) and co-author!!

And thanks very much for @henrykironde and @chrisbrickhouse for the quick review!
We couldn't do this without you

[2021-12-18 18:09] #3958 closed

[2021-12-18 18:09] whedon commented on #3958
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03958/status.svg)](https://doi.org/10.21105/joss.03958)

**We need your help!**

Journal of Open Source Softwa

[2021-12-18 19:16] kyleniemeyer commented on #3823
@whedon accept deposit=true

[2021-12-18 19:16] whedon commented on #3823
[code]

[2021-12-18 19:17] whedon commented on #3823
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1472284790967709698) 👈 🐦🐦🐦

[2021-12-18 19:17] whedon commented on #3823
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2836
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03823](https://doi.org/10.21105/joss.03823)
2. If everything look

[2021-12-18 19:30] falexwolf commented on #4006
Hi @kyleniemeyer, added the `tags` field! Apologies we missed that. It rendered in the preview.

[2021-12-18 19:31] kyleniemeyer commented on #3823
Congratulations @jameschapman19 on your article's publication in JOSS!

Many thanks to @robbisg, @hugorichard, and @ejolly for reviewing this submission, and @emdupre for editing.

[2021-12-18 19:31] #3823 closed

[2021-12-18 19:31] whedon commented on #3823
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03823/status.svg)](https://doi.org/10.21105/joss.03823)

**We need your help!**

Journal of Open Source Softwa

[2021-12-18 19:32] kyleniemeyer commented on #4006
@whedon generate pdf from branch paper

[2021-12-18 19:32] whedon commented on #4006
[code]

[2021-12-18 19:32] whedon commented on #4006
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04006/joss.04006/10.21105.joss.04006.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04006/joss.04006/10.21105.joss.04006.pdf) :page_facing_up: :point_left:

[2021-12-18 19:34] luizirber commented on #4006
Confirming I can edit this one

[2021-12-18 19:36] kyleniemeyer commented on #4006
@whedon assign @luizirber as editor

Thanks @luizirber!

[2021-12-18 19:36] whedon commented on #4006
OK, the editor is @luizirber

[2021-12-18 19:41] soffner commented on #3771
Hi @dfm.

We have updated the affiliations and acknowledgements of the submission, so
it's all set to go.

I have defined a version tag of 1.0 with the latest repository check-in on
bitbucket.

I created an archived release on Zenodo:
https://doi.org/10.5281/zenodo.5791188

Thanks,
Stella

On Mon, Dec 13, 2021 at 7:38 PM Dan Foreman-Mackey ***@***.***>
wrote:

[2021-12-18 19:57] falexwolf commented on #4006
Thank you so much, @luizirber and @kyleniemeyer!

For reviewers, these are some people who have familiarity with the project:
* https://github.com/ambrosejcarr
* https://github.com/rcannood
* https://github.com/stavrospapadopoulos
* https://github.com/tomwhite
* https://github.com/joshua-gould
* https://github.com/adamgayoso

People who would be incredible to have their input from!
* https://githu

[2021-12-18 20:01] vaneseltine commented on #3739
Great! I just finished running my way through the complete TestingData repo without any encoding or filename issues.

It doesn't look like there will be an straightforward automated way to test for these problems without a Windows machine. In the future, if others report Windows issues, you could consider an automated CI/runner/task platform with Windows images available. GitHub Actions is a prett

[2021-12-18 20:31] martinfleis commented on #4009
@kyleniemeyer Yes, but considering the time of the year, I won't be able to start until January.

[2021-12-18 20:52] deniederhut commented on #3652
Okay confirmed that the notebooks run as expected. @fabian-s I think we're good to go here!

[2021-12-18 21:34] tcaduser commented on #3898
@dalonsoa please check the updated paper, to see if it meets your expectations.  It adds an extended discussion comparing the simulator to the commercial offerings.  It also sets a list of requirements for the class of TCAD problems it solves.  The paper now explicitly references SYMDIFF, the symbolic differentiation engine that is used by the simulator, and that is also maintained by our project.

[2021-12-18 21:37] martinfleis commented on #3761
Hi @marina-haliem ,

First, apologies for the long review process. It is not always possible to make it swift, especially with more common unexpected issues these days.

I have started my review of DRSP-Sim and ticked relevant boxes in the checklist above. However, I cannot at the moment tick the rest, in some cases due to missing components of the submission, in others due to (I assume) technical

[2021-12-18 21:55] kyleniemeyer commented on #4009
@martinfleis of course, not a problem

[2021-12-18 22:03] martinfleis commented on #4009
@whedon assign me as editor

[2021-12-18 22:03] whedon commented on #4009
OK, the editor is @martinfleis

[2021-12-18 22:51] bgyori commented on #4002
@whedon generate pdf

[2021-12-18 22:52] whedon commented on #4002
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04002/joss.04002/10.21105.joss.04002.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04002/joss.04002/10.21105.joss.04002.pdf) :page_facing_up: :point_left:

[2021-12-19 00:21] meghanrjones commented on #3649
Dear all,

I also re-read the article “PyVOLCANS: A Python package to flexibly explore similarities and differences between volcanic systems” and tested out the functionality added since my initial review using version 1.3.1. I am pleased to report that the changes have satisfactorily addressed my concerns for the remaining checklist items "Substantial scholarly effort” and "Automated tests”. I ha

[2021-12-19 03:49] alexrockhill commented on #3897
Just to clarify for the benefit of the reviewers with regards to this point (the text will be modified in the paper as well), all the functions that support the generation of the figures in the paper are new and the main contribution of the paper. Beyond that, for instance, `mne.viz.plot_3d_alignment` was modified heavily but not made from scratch, so it's a bit hard to completely delineate what i

[2021-12-19 04:47] jgoldfar commented on #3854
@whedon re-invite @jgoldfar as reviewer

[2021-12-19 04:47] whedon commented on #3854
I'm sorry @jgoldfar, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-12-19 04:48] jgoldfar commented on #3854
Hi @lucydot - I think you may need to run the above command for me to be able to submit my review (found this on https://joss.readthedocs.io/en/latest/whedon.html)

[2021-12-19 11:32] hugoledoux commented on #4011
@whedon assign @hugoledoux as editor

[2021-12-19 11:32] Nikoleta-v3 commented on #3538
@whedon check references

[2021-12-19 11:32] whedon commented on #4011
OK, the editor is @hugoledoux

[2021-12-19 11:33] whedon commented on #3538
[code]

[2021-12-19 11:34] Nikoleta-v3 commented on #3538
@whedon generate pdf

[2021-12-19 11:34] whedon commented on #3538
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03538/joss.03538/10.21105.joss.03538.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03538/joss.03538/10.21105.joss.03538.pdf) :page_facing_up: :point_left:

[2021-12-19 12:08] Nikoleta-v3 commented on #3538
Thank you very much for your patience @Hegghammer! Everything looks good 👍🏻

One minor comment regarding the point:

Could you please add a `Contributing` file to the project's repository?

Here is an example from the last submission I was handling: https://github.com/mscroggs/symfem/blob/main/CONTRIBUTING.md.

After you added the file could you:

 - [ ]  Make a new tagged release of your software

[2021-12-19 13:26] Nikoleta-v3 commented on #3738
Hey @JasonGellis  thank you for your patience. I have reached out to the reviewer via email. I have seen that you have addressed their comments but I would like to wait a little bit more from them to confirm the changes.

Some minor comments from me:

- **Regarding the repository.** The contributing file is excellent, but it's missing some guidelines on running the test suite. Could you please add

[2021-12-19 13:53] danielskatz commented on #3854
@whedon re-invite @jgoldfar as reviewer

[2021-12-19 13:53] whedon commented on #3854
OK, the reviewer has been re-invited.

@jgoldfar please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-19 13:54] danielskatz commented on #3854
Sorry, this actually should have been done in the review thread, not here, but I think it will still work.

[2021-12-19 13:54] danielskatz commented on #3898
@whedon re-invite @jgoldfar as reviewer

[2021-12-19 13:54] whedon commented on #3898
The reviewer already has a pending invite.

@jgoldfar please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-12-19 14:39] JasonGellis commented on #3738
@Nikoleta-v3 I will get right on this.

[2021-12-19 15:26] lostanlen commented on #3937
both issues i raised two weeks ago are now closed (39 and 40)

[2021-12-19 16:43] ysohn commented on #2708
👋 @arfon  We deeply appreciate for the editor and the reviewers for their patience and apologize for the delay. We have completed the update and closed minor issues except 2 major issues raised by @martinmodrak. We'd very much appreciate for your further guidance.

[2021-12-19 16:59] Hegghammer commented on #3538
Dear Nikoleta,

Many thanks for your message. The sample Contributing file was very useful.

I have now:
- Added a CONTRIBUTING.md file and created issue templates
- Added a CODE_OF_CONDUCT.md file
- Made a new tagged release (
https://github.com/Hegghammer/daiR/releases/tag/v0.9.2)
- Archived the 0.9.2 version of the repo on Zenodo (
https://zenodo.org/record/5792037) under the DOI 10.5281/zenodo

[2021-12-19 17:16] sambitdash commented on #3992
Hi @rkurchin,

I reviewed the software paper.

There are some typos. They are identified and a PR is submitted for easier recognition and fixing. https://github.com/delve-team/delve/pull/53.

Although the paper talks about the limitations of the other techniques, it does not have a reference to a numerical comparison of those techniques with the proposed technique. If that has not been carried out

[2021-12-19 18:19] martinmodrak commented on #2708
Hi, I did skim your responses and I think that (as I said before) the package being transparent about convergence (or lack of it) is what's important. I'll try to read and respond in depth, but I won't be able to have a response ready before Christmas break.

[2021-12-19 21:30] nastaran62 commented on #4001
@whedon check references

[2021-12-19 21:30] whedon commented on #4001
[code]

[2021-12-20 01:07] fartist commented on #3901
I plan to finish my review in the coming week, thx! Sent from Mail for Windows From: Mikkel Meyer AndersenSent: Friday, December 17, 2021 1:29 AMTo: openjournals/joss-reviewsCc: Feeeeeeeeeeng; MentionSubject: Re: [openjournals/joss-reviews] [REVIEW]: bistablehistory: an R package for history-dependent analysis of perceptual time series (Issue ***@***.***, @fartist, can you please give a brief stat

[2021-12-20 01:08] elbeejay commented on #3649
Thanks for the quick replies @jifarquharson and @meghanrjones, your comments and review of this work are greatly appreciated.

@PTierz I would like to ask that you finalize the `paper.md` file at this time, as Meghan pointed out there is bold formatting in sections that represent changes that are likely not intended to be bold in the final version. I would also suggest the authors consider the sug

[2021-12-20 02:32] Rehablab commented on #4003
@whedon check references

[2021-12-20 02:32] whedon commented on #4003
[code]

[2021-12-20 02:34] Rehablab commented on #4003
@whedon generate pdf

[2021-12-20 02:34] whedon commented on #4003
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04003/joss.04003/10.21105.joss.04003.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04003/joss.04003/10.21105.joss.04003.pdf) :page_facing_up: :point_left:

[2021-12-20 05:49] leouieda commented on #3858
@seisman thanks for the suggestion and quick response 🙂

:wave: @luzhou-git would you be interested in reviewing this submission for JOSS? Please see my comment above for a summary of the paper and instructions on how JOSS reviews work. Your expertise in deformation modelling would be much appreciated.

[2021-12-20 06:40] nastaran62 commented on #4001
Hi @kyleniemeyer , Thanks for your comments. I fixed the missing DOIs.

We are suggesting the following reviewers:
@Tam-Pham
@TomDonoghue
@peircej
@ixjlyons

Thank you very much

[2021-12-20 07:01] hugoledoux commented on #2869
@sdesabbata since this was your main comment left to be addressed, can you have a quick look and let us know if you are satisfied?

[2021-12-20 07:07] hugoledoux commented on #3346
I have to conclude that the paper will not be further updated by the author (to fulfill the demands stated above), I have waited more than 1 month for a confirmation now.

We will therefore stop this review, thanks @jorgegil and @Geogoeroe for your contributions.

[2021-12-20 07:11] hugoledoux commented on #3346
@arfon This review should be closed, but I am not sure what the exact procedure is (and whether I have the power to do this).

[2021-12-20 07:13] gro5-AberUni commented on #3346
@hugoledoux Sorry for the long delay in my response, due to time pressures we will not be able to make the necessary adjustments to the plugin to meet the QGIS requirements as outlined above. Thank you all for you contributions and feedback with the plugin.

As I understand it I am able to withdraw the paper through the JOSS portal which I assume will close the review.

[2021-12-20 07:28] hugoledoux commented on #3972
@jhollist @Maczokni @mikejohnson51 @jayrobwilliams @GISerDaishaoqing

According to your keywords, you all seem very suitable for this. If you have time and are interested, let me know here please.

[2021-12-20 08:06] hugoledoux commented on #4011
@pwernette @kmarkert @arthur-e @Subho07

You seem to fit well the profile for this review, if you're interested let me know!

[2021-12-20 08:07] hugoledoux commented on #3346
@gro5-AberUni thanks for letting us know

[2021-12-20 08:09] hugoledoux commented on #3972
@whedon assign @CamilleMorlighem as reviewer

[2021-12-20 08:09] whedon commented on #3972
OK, @CamilleMorlighem is now a reviewer

[2021-12-20 09:00] meg-simula commented on #3880
Wow @blbentley @woolfeh @ryEllison - thank you all for the positive and quick responses! We just need one more reviewer on this, and since @blbentley was first (in addition to @martejulie), I'll assign you now and get this review started.

[2021-12-20 09:00] meg-simula commented on #3880
@whedon add reviewer @blbentley

[2021-12-20 09:00] whedon commented on #3880
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-20 09:00] meg-simula commented on #3880
@whedon add @blbentley as reviewer

[2021-12-20 09:01] whedon commented on #3880
OK, @blbentley is now a reviewer

[2021-12-20 09:01] meg-simula commented on #3880
@whedon start review

[2021-12-20 09:01] whedon opened #4012 "[REVIEW]: Sinaps: A Python library to simulate voltage dynamic and ionic electrodiffusion in neurons"
**Submitting author:** @cgurrr (<a href="http://orcid.org/0000-0002-1128-1069">Claire Guerrier</a>)
**Repository:** https://github.com/ngltr/sinaps
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.2
**Editor:** @meg-simula
**Reviewers:** @martejulie, @meg-simula
**Archive:** 10.5281/zenodo.6540844

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-12-20 09:01] whedon commented on #3880
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4012.

[2021-12-20 09:01] #3880 closed

[2021-12-20 09:01] whedon commented on #4012
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martejulie, @blbentley it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-12-20 09:01] whedon commented on #4012
Wordcount for `paper.md` is 517

[2021-12-20 09:01] whedon commented on #4012
[code]

[2021-12-20 09:01] whedon commented on #4012
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: :point_left:

[2021-12-20 09:02] whedon commented on #4012
[code]

[2021-12-20 09:03] meg-simula commented on #4012
:wave: @cgurrr @martejulie @blbentley this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from m

[2021-12-20 09:04] Subho07 commented on #4011
@hugoledoux Thanks. I can review this manuscript

[2021-12-20 09:10] Nikoleta-v3 commented on #3538
Thank you @Hegghammer ! The `CONTRIBUTING.md` & `CODE_OF_CONDUCT.md` look great 😄

[2021-12-20 09:11] Nikoleta-v3 commented on #3538
@whedon set 10.5281/zenodo.5792037 as archive

[2021-12-20 09:11] whedon commented on #3538
OK. <a href="https://doi.org/10.5281/zenodo.5792037" target="_blank">10.5281/zenodo.5792037</a> is the archive.

[2021-12-20 09:11] Nikoleta-v3 commented on #3538
@whedon set v0.9.2 as version

[2021-12-20 09:11] whedon commented on #3538
OK. v0.9.2 is the version.

[2021-12-20 09:12] Nikoleta-v3 commented on #3538
@whedon recommend-accept

[2021-12-20 09:12] whedon commented on #3538
[code]

[2021-12-20 09:12] whedon commented on #3538
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2837

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2837, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-20 09:15] whedon commented on #3538
[code]

[2021-12-20 09:23] Borda commented on #4008
Hello, I guess that one of these authors could be good candidate for review:
- https://towardsdatascience.com/20-popular-machine-learning-metrics-part-1-classification-regression-evaluation-metrics-1ca3e282a2ce
- https://www.analyticsvidhya.com/blog/2019/08/11-important-model-evaluation-error-metrics/
- https://neptune.ai/blog/performance-metrics-in-machine-learning-complete-guide
- https://machin

[2021-12-20 09:57] askuric commented on #3999
Hello @kellyrowland,
Thanks for setting up the pre-review, I am very happy to be starting this process.
I've updated the references to include the DOIs and ISBNs where applicable.

Regarding the reviewers, I've passed through the list and I'd maybe suggest some experts in the control systems domain:
- sea-bass
- destogl
- ixjlyons
- CameronDevine