[2021-08-02 14:01] danielskatz commented on #3143
👋 @jarrah42, @williamfgc - any updates?

[2021-08-02 14:01] danielskatz commented on #3143
👋 @nkallima - I see a couple of open issues for you - any news on them?

[2021-08-02 14:03] MAnalytics commented on #3553
@whedon generate pdf

[2021-08-02 14:04] nicksisco1932 commented on #3405
Yes, looks interesting.

[2021-08-02 14:04] whedon commented on #3553
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03553/joss.03553/10.21105.joss.03553.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03553/joss.03553/10.21105.joss.03553.pdf) :page_facing_up: :point_left:

[2021-08-02 14:09] dhimmel commented on #3348
Still waiting to check off the following bullet:

Opened https://github.com/sagepublishing/rejected_article_tracker_pkg/issues/14 recently when the README code failed.

[2021-08-02 14:22] dridk commented on #3457
@whedon accept deposit=true

[2021-08-02 14:22] whedon commented on #3457
I'm sorry @dridk, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-08-02 14:25] dridk commented on #3457
Sorry, I thought the message was for me

[2021-08-02 14:44] diehlpk commented on #3450
Hi @andremrsantos @khinsen @andim @afrubin @dirmeier @martlj @r-barnes would you be interested to review this paper?

[2021-08-02 14:46] diehlpk commented on #3450
@wtraylor Can you please recommend some potential reviewers, especially with C++ experience? We have many reviewers for the topic, but not many with C++ experience.

[2021-08-02 14:59] sbenthall commented on #3487
Thank you @reality I'll assign you as a reviewer.

[2021-08-02 15:00] sbenthall commented on #3487
@whedon assign @reality as reviewer

[2021-08-02 15:00] whedon commented on #3487
OK, @reality is now a reviewer

[2021-08-02 15:02] sbenthall commented on #3487
@rlskoeser would you be able to review this package?

[2021-08-02 15:05] sbenthall commented on #3487
@whedon generate pdf

[2021-08-02 15:06] whedon commented on #3487
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03487/joss.03487/10.21105.joss.03487.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03487/joss.03487/10.21105.joss.03487.pdf) :page_facing_up: :point_left:

[2021-08-02 15:06] sbenthall commented on #3497
@whedon generate pdf

[2021-08-02 15:06] whedon commented on #3497
PDF failed to compile for issue #3497 with the following error:
[code]

[2021-08-02 15:08] sbenthall commented on #3497
@jamesrhester I'm having trouble generating the PDF with the JOSS tools.
I wonder if there are any obvious discrepancies with the JOSS submission requirements on your end.

[2021-08-02 15:18] timtroendle commented on #3313
@whedon remove @ritwikagarwal as reviewer

[2021-08-02 15:18] whedon commented on #3313
OK, @ritwikagarwal is no longer a reviewer

[2021-08-02 15:19] timtroendle commented on #3313
@whedon add @fneum as reviewer

[2021-08-02 15:19] whedon commented on #3313
OK, @fneum is now a reviewer

[2021-08-02 15:21] timtroendle commented on #3313
@amandadsmith , we have a new reviewer for your submission. I am sorry for the delay.

:wave: @fneum, thanks a lot for offering to review this submission.

[2021-08-02 15:35] rkurchin commented on #3412
Hi again @ljakoster, hope you've had/are having a great holiday! When you're back, please let me know so I can unpause this review, and take a look at [this list](https://bit.ly/joss-reviewers) of potential reviewers and suggest a couple that you think might be good fits for your work. Note: please do not @ tag them on GitHub but just post their plaintext usernames.

[2021-08-02 15:44] lantunes commented on #3555
@whedon generate pdf

[2021-08-02 15:44] whedon commented on #3555
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03555/joss.03555/10.21105.joss.03555.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03555/joss.03555/10.21105.joss.03555.pdf) :page_facing_up: :point_left:

[2021-08-02 15:45] lantunes commented on #3555
@whedon check references

[2021-08-02 15:45] whedon commented on #3555
[code]

[2021-08-02 15:47] williamfgc commented on #3143
@danielskatz yes, I've been working with @nkallima on addressing some of the issues I opened. Thanks @nkallima for addressing those, it's looking good.

@nkallima I have a couple of comments on the manuscript related to the JOSS review process:

Summary:
- **Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?**:

[2021-08-02 15:48] lantunes commented on #3555
@whedon commands

[2021-08-02 15:48] whedon commented on #3555
Here are some things you can ask me to do:

[code]

[2021-08-02 15:48] lantunes commented on #3555
@whedon check repository

[2021-08-02 15:48] whedon commented on #3555
Wordcount for `paper.md` is 890

[2021-08-02 15:48] whedon commented on #3555
[code]

[2021-08-02 15:52] IndrajeetPatil commented on #3393
@fboehm Please let us know if we can do anything else from our end before this work can be accepted for publication. Thanks!

[2021-08-02 16:08] osorensen commented on #3455
@whedon generate pdf

[2021-08-02 16:08] rlskoeser commented on #3487
@sbenthall yes, I'd be glad to review this package.

[2021-08-02 16:08] whedon commented on #3455
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: :point_left:

[2021-08-02 16:11] lantunes commented on #3555
After looking through the list of JOSS reviewers, I believe the following people would be best suited for this submission:
`martibosch`
`blsqr`
`amcasari`
`JJ`
`szhorvat`
`mzamoraz`
`Datseris`

[2021-08-02 16:16] sbenthall commented on #3487
Thank you, @rlskoeser

[2021-08-02 16:16] sbenthall commented on #3487
@whedon add @rlskoeser as reviewer

[2021-08-02 16:16] whedon commented on #3487
OK, @rlskoeser is now a reviewer

[2021-08-02 16:17] dhimmel commented on #3348
The authors have addressed all of the issues I opened. No more objections on my end to accepting this manuscript!

[2021-08-02 16:27] danielskatz commented on #3516
Sorry, our process was a bit slower than expected.

I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-

[2021-08-02 16:27] danielskatz commented on #3516
@whedon reject

[2021-08-02 16:27] whedon commented on #3516
Paper rejected.

[2021-08-02 16:28] tacaswell commented on #3260
This is a very cool project, but I am significantly over-subscribed.

If you do not get anyone else to volunteer, I can probably look at this in late August / early Sept.

[2021-08-02 16:28] osorensen commented on #3455
@wsarce, the paper is well written, but I noted the following issues which need to be fixed before acceptance.

- On page 1, line 21, there should be a full stop (i.e., ".") at the end of the paragraph.
- On page 1, line 40, and page 2, line 1, please make sure the parenthesized references are in alphabetic order.
- On page 2, line 1, please fix the reference "gjoreski2016continuous".
- On page 2,

[2021-08-02 16:28] osorensen commented on #3455
@whedon check references

[2021-08-02 16:29] danielskatz commented on #3348
@dhimmel - What about the two items in your checklist that are not checked?

[2021-08-02 16:29] whedon commented on #3455
[code]

[2021-08-02 16:36] praneet1988 commented on #3516
Dear @danielskatz,
Thank you so much for getting back to us.

Appreciate your time and effort.

Best,
Praneet

[2021-08-02 17:11] nkallima commented on #3143
@williamfgc, thanks for your comments.

I will mention this. At this point, I should also note that the Synch offers benchmarks (not only correctness tests) for evaluating the provided concurrent data-structures.

Thanks for pointing this out. I will add some material for similar tools.

I will discuss this with more details in the Readme file.

Although providing the code in a docker image is a g

[2021-08-02 17:12] brunaw commented on #3540
Dear @VBlesius, thank you for your submission to the JOSS, here are my comments/suggestions:

(Note: I'm not repeating the same comments made/issues created by the first reviewer, but I agree with what has already been pointed out)

## Package/repository
- The license needs to be added to the package folder and not just the full repository
- The README last example is not reproducible due to it us

[2021-08-02 18:10] dhimmel commented on #3348
Looked over the guidance for "Substantial scholarly effort" and "Community guidelines" and decided that I can check these off.

[2021-08-02 18:17] pmeier commented on #3446
@n3011

They have [extensive documentation](https://www.tensorflow.org/datasets/add_dataset) about how to add a custom dataset. From my current perspective they provide a superset of what `datum` provides.

To convince me that this is not the case and `datum` indeed reduces the amount of boilerplate code needed to store and load a `TFRecord` dataset, I would like to see side-by-side comparison. Th

[2021-08-02 18:20] sbenthall commented on #3487
@whedon start review

[2021-08-02 18:20] whedon opened #3557 "[REVIEW]: Inscriptis - A Python-based HTML to text conversion library optimized for knowledge extraction from the Web"
**Submitting author:** @AlbertWeichselbraun (<a href="http://orcid.org/0000-0001-6399-045X">Albert Weichselbraun</a>)
**Repository:** <a href="https://github.com/weblyzard/inscriptis/" target ="_blank">https://github.com/weblyzard/inscriptis/</a>
**Version:** v2.0.0
**Editor:** @sbenthall
**Reviewer:** @reality, @rlskoeser
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Du

[2021-08-02 18:20] whedon commented on #3487
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3557.

[2021-08-02 18:20] #3487 closed

[2021-08-02 18:20] whedon commented on #3557
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @reality, @rlskoeser it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-08-02 18:20] whedon commented on #3557
Wordcount for `paper.md` is 990

[2021-08-02 18:20] whedon commented on #3557
[code]

[2021-08-02 18:20] whedon commented on #3557
[code]

[2021-08-02 18:21] whedon commented on #3557
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03557/joss.03557/10.21105.joss.03557.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03557/joss.03557/10.21105.joss.03557.pdf) :page_facing_up: :point_left:

[2021-08-02 19:02] danielskatz commented on #3348
Great - thanks!

[2021-08-02 19:02] danielskatz commented on #3348
@whedon check references

[2021-08-02 19:03] danielskatz commented on #3348
@whedon generate pdf

[2021-08-02 19:03] whedon commented on #3348
[code]

[2021-08-02 19:03] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-08-02 19:21] danielskatz commented on #3348
@ad48 - I've suggested some changes in https://github.com/sagepublishing/rejected_article_tracker_pkg/pull/15.  In addition, the table that follows line 73 overruns the margin - perhaps you can shorten some of the headers or make them two lines to avoid this. Also, the reference to Incorvia2015 seems incomplete.

[2021-08-02 19:29] fAndreuzzi commented on #3519
@whedon generate pdf

[2021-08-02 19:29] whedon commented on #3519
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03519/joss.03519/10.21105.joss.03519.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03519/joss.03519/10.21105.joss.03519.pdf) :page_facing_up: :point_left:

[2021-08-02 19:44] dfujim commented on #3405
@lucydot Standouts from the end of the list include villaa (Nuclear Physics, Particle Physics) and benjaminbolling (materials chemistry, physics).

Our experiment is somewhat unique in that we are investigating material properties with an NMR probe, but we do so with particle/nuclear physics methods. The technique is similar to muon spin rotation, but much less common. Apart from our lab, I think

[2021-08-02 20:13] amelialdrew commented on #3416
Ah I've just realised there's an option for ```Enable Local Kernels```  which by default runs with 4 kernels with 4 CPUs which approximately halves the time vs no parallelisation, so this may fix it. I suppose it would be worth adding a line in the docs to make sure they are enabled.

In case it is still needed, ```$MaxLicenseSubprocesses``` gives me ```16```, and ```LaunchKernels[]``` gives 4 ker

[2021-08-02 20:36] taless474 commented on #3548
@whedon query scope

[2021-08-02 20:36] whedon commented on #3548
Submission flagged for editorial review.

[2021-08-02 20:39] taless474 commented on #3548
@whedon assign me as editor

[2021-08-02 20:39] whedon commented on #3548
OK, the editor is @taless474

[2021-08-02 20:48] fAndreuzzi commented on #3519
Following the suggestions by @zoometh I moved up the "Statement of need", and shrinked the dimension of the summary. Let me know what you think, and if you have any other suggestion.

[2021-08-02 21:54] WilkAndy commented on #3314
Hey @jedbrown .   I'm just wondering whether we could speed up this review somehow?

[2021-08-02 23:04] klevis-a commented on #3490
@nnadeau thank you for taking time to review our submission. @nnadeau @adi3, this software was written to help me visually understand how we quantify human motion. It provided much of the insight that helped us publish "Beyond Euler/Cardan analysis: True glenohumeral axial rotation during arm elevation and rotation". Furthermore, other biomechanics researchers have found it helpful for understandi

[2021-08-02 23:09] kbarnhart commented on #2276
@r-barnes another friendly reminder to revisit this review as soon as you are able. If I don't hear from you in a few days I'm going to move ahead with this submission as I believe the authors have addressed your outstanding issues. Thanks!

[2021-08-02 23:44] wsarce commented on #3455
@whedon generate pdf

[2021-08-02 23:44] whedon commented on #3455
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: :point_left:

[2021-08-02 23:48] wsarce commented on #3455
@osorensen, I think I addressed all of the changes needed.  Let me know if I missed anything.  Thank you!

[2021-08-03 01:25] jamesrhester commented on #3497
Please check a [few replies back on the Github issue](https://github.com/openjournals/joss-reviews/issues/3497#issuecomment-890628606) to see the correct form of the command when the paper is in a branch.

[2021-08-03 02:17] n3011 commented on #3446
@pmeier I will consider that as out of scope for this paper.

[2021-08-03 04:57] osorensen commented on #3455
Thank you @wsarce! I noticed that also the paper Gjoreski et al. (2016) is missing a doi. Please add https://doi.org/10.1145/2968219.2968306 to this one.

[2021-08-03 09:04] ad48 commented on #3348
@whedon generate pdf

[2021-08-03 09:05] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-08-03 09:17] ad48 commented on #3348
@whedon generate pdf

[2021-08-03 09:17] ad48 commented on #3348
@whedon check references

[2021-08-03 09:18] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-08-03 09:20] whedon commented on #3348
[code]

[2021-08-03 09:39] ad48 commented on #3348
@danielskatz I have tried adding linebreaks to the column headings, but it seems whedon couldn't render those. So I have changed the headings to say 'ArXiv' and 'VOR' with some more explanatory text about what VOR means in the preceding paragraph. I think this gets around the problem with overrunning the margins.

I also removed the 'Incorvia2015' reference. That was supposed to reference the pate

[2021-08-03 09:48] Kevin-Mattheus-Moerman commented on #3260
@tacaswell thanks for the reply. I understand. We can actually take the time so late August / early Sept. could be fine. I'll let you know if I end up stuck for reviewers. Thanks.

[2021-08-03 09:49] whedon opened #3558 "[PRE REVIEW]: diman: A Clojure package for dimensional analysis"
**Submitting author:** @lungsi (<a href="http://orcid.org/0000-0002-1607-0164">B. Lungsi Sharma</a>)
**Repository:** <a href="https://github.com/neuralgraphs/diman" target ="_blank">https://github.com/neuralgraphs/diman</a>
**Version:** v1.0.5
**Editor:** @mjsottile
**Reviewers:** @oyvinht, @khinsen
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-08-03 09:49] whedon commented on #3558
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-03 09:49] whedon commented on #3558
Wordcount for `paper.md` is 1053

[2021-08-03 09:49] whedon commented on #3558
[code]

[2021-08-03 09:49] whedon commented on #3558
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03558/joss.03558/10.21105.joss.03558.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03558/joss.03558/10.21105.joss.03558.pdf) :page_facing_up: :point_left:

[2021-08-03 09:50] whedon commented on #3558
[code]

[2021-08-03 09:51] ad48 commented on #3348
@whedon generate pdf

[2021-08-03 09:51] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-08-03 10:09] MartinK84 commented on #3500
@emdupre I have completed my review

In my opinion, the submission meets all requirements for publication in JOSS and I highly recommend acceptance. I can confirm that all claims made by the authors are reasonable and valid. Without much work, I was able to use and apply RIESLING to my own data with very good results. There were some minor issues regarding the installation, documentation, and usag

[2021-08-03 10:36] chennachaos commented on #3020
-- The CXX compiler identification is GNU 9.3.0
-- The C compiler identification is GNU 9.3.0
-- Detecting CXX compiler ABI info
-- Detecting CXX compiler ABI info - done
-- Check for working CXX compiler: /usr/bin/g++ - skipped
-- Detecting CXX compile features
-- Detecting CXX compile features - done
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C

[2021-08-03 10:41] Kevin-Mattheus-Moerman commented on #3410
@marcosvital @KristinaRiemer both of you seem at capacity at the moment but let me know if you can take this on as editor once you are available. Thanks.

[2021-08-03 10:48] Kevin-Mattheus-Moerman commented on #3470
@jedbrown is this something you could handle as editor? It looks like you are also at capacity at the moment but let me know if you could take this on. Thanks.

[2021-08-03 10:54] Kevin-Mattheus-Moerman commented on #3503
@cMadan :wave: Could you help handle this one?

[2021-08-03 10:58] Kevin-Mattheus-Moerman commented on #3528
@whedon invite @fraukewiese as editor

[2021-08-03 10:58] whedon commented on #3528
@fraukewiese has been invited to edit this submission.

[2021-08-03 11:03] Kevin-Mattheus-Moerman commented on #3555
@whedon invite @meg-simula as editor

@meg-simula is this something you could handle as editor? I realize it may be somewhat off topic but it looks like it should go to an applied mathematics person and you are currently the only available person in this domain.

[2021-08-03 11:03] whedon commented on #3555
@meg-simula has been invited to edit this submission.

[2021-08-03 11:03] whedon opened #3559 "[PRE REVIEW]: ORION2: A magnetohydrodynamics code for star formation"
**Submitting author:** @soffner (<a href="http://orcid.org/0000-0003-1252-9916">Stella Offner</a>)
**Repository:** <a href="https://bitbucket.org/orionmhdteam/orion2_release1/src/master/" target ="_blank">https://bitbucket.org/orionmhdteam/orion2_release1/src/master/</a>
**Version:** v1.0.0
**Editor:** @dfm
**Reviewers:** @zingale, @changgoo
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS red

[2021-08-03 11:03] whedon commented on #3559
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-03 11:04] whedon commented on #3559
Wordcount for `paper.md` is 814

[2021-08-03 11:04] whedon commented on #3559
PDF failed to compile for issue #3559 with the following error:
[code]

[2021-08-03 11:04] whedon commented on #3559
[code]

[2021-08-03 11:04] whedon commented on #3559
[code]

[2021-08-03 11:21] adi3 commented on #3490
@klevis-a thank your for the clear response.

@heath-henninger do you have alternate resources to fix the editorial issues raised in this review, or perhaps you could do them yourself?

[2021-08-03 12:25] Garyfallidis commented on #3384
We are releasing a new version today (or tomorrow) @danielskatz .

[2021-08-03 12:36] MAnalytics commented on #3553
@whedon generate pdf

[2021-08-03 12:37] whedon commented on #3553
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03553/joss.03553/10.21105.joss.03553.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03553/joss.03553/10.21105.joss.03553.pdf) :page_facing_up: :point_left:

[2021-08-03 12:38] danielskatz commented on #3348
@whedon recommend-accept

[2021-08-03 12:38] whedon commented on #3348
No archive DOI set. Exiting...

[2021-08-03 12:39] danielskatz commented on #3348
Thanks - it all looks good to me now.  At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the pap

[2021-08-03 13:04] khinsen commented on #3450
@diehlpk Sorry, I am a bit overbooked right now, and not much of an expert in the topic either.

[2021-08-03 13:26] heath-henninger commented on #3490
Unfortunately not. Klevis was a bit of a unicorn in my research team with his extensive background in code and software development.  I hired him specifically because he could do great things that my team was otherwise unprepared to accomplish. Believe that we will feel his absence now that he has graduated.

And this includes me. I am an experimental biomechanist by trade…so my coding experience

[2021-08-03 13:51] wsarce commented on #3455
@osorensen, the bib file has been updated.  Thank you!

[2021-08-03 14:00] soffner commented on #3559
@whedon generate pdf

@whedon commands

On Tue, Aug 3, 2021 at 7:05 AM whedon ***@***.***> wrote:

[2021-08-03 14:01] whedon commented on #3559
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03559/joss.03559/10.21105.joss.03559.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03559/joss.03559/10.21105.joss.03559.pdf) :page_facing_up: :point_left:

[2021-08-03 14:05] fraukewiese commented on #3341
@brynpickering, @mewilhel, @samuelduchesne
– would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [LoadProfileGenerator: An Agent-

[2021-08-03 14:21] diehlpk commented on #3020
@chennachaos Can you please do a `ls -lah build' in the ain folder, I would like to see if all libs were compiled?

[2021-08-03 14:23] diehlpk commented on #3020
@chennachaos Can you list the content of the folder `/hpx/lib64/cmake/HPX` thanks?

[2021-08-03 14:42] nkeim commented on #3260
I could also be a reviewer in late August/early September. I think I am marginally less over-subscribed than Tom :).

[2021-08-03 15:12] ad48 commented on #3348
@whedon generate pdf

[2021-08-03 15:12] whedon commented on #3348
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03348/joss.03348/10.21105.joss.03348.pdf) :page_facing_up: :point_left:

[2021-08-03 15:18] fverdugo commented on #3349
Hi @SimonDanisch @jkrumbiegel @Kevin-Mattheus-Moerman,

I went through the check list again and I would recommend the paper for publication. Nice work!

Just a minor comment: there is a typo in the code snippet of the manuscript. Replace `airports_rep` with `a_rep`.

[2021-08-03 15:22] ad48 commented on #3348
- @danielskatz @mfenner @dhimmel I have made a minor amendment to the acknowledgements section to include all of you. (I assume that's OK - I couldn't find guidelines on this.) I wanted to pass on our thanks to you for all of your help with this.
- Tagged release 1.5.8
- Archived in Zenodo
- Metadata appears to be correct (including ORCIDs)
- Zenodo DOI: 10.5281/zenodo.5155973

[2021-08-03 15:25] SimonDanisch commented on #3349
Awesome :) I also fixed the local tests: https://github.com/JuliaPlots/Makie.jl/pull/1190
But we still need to tag a new version for this to work! Will update the contribution docs before we tag...

[2021-08-03 15:28] adi3 commented on #3490
@klevis-a I've discussed this with the editorial team and this is how we can proceed -

- You do not need to go with standard packaging, as long as installation instructions are clearly documented in the Readme.
- In the absence of automated tests (and CI/CD), we would at least need documented manual steps that can be followed to objectively check the expected functionality of the software (e.g.,

[2021-08-03 15:31] danielskatz commented on #3348
I'm ok with being listed there, but I'm the editor, not a reviewer.

[2021-08-03 15:31] fverdugo commented on #3349
and also do not forget the typo in the code snippet in the manuscript !

[2021-08-03 15:31] danielskatz commented on #3348
@whedon set 1.5.8 as version

[2021-08-03 15:31] whedon commented on #3348
OK. 1.5.8 is the version.

[2021-08-03 15:32] danielskatz commented on #3348
@whedon set 10.5281/zenodo.5155973 as archive

[2021-08-03 15:32] whedon commented on #3348
OK. <a href="https://doi.org/10.5281/zenodo.5155973" target="_blank">10.5281/zenodo.5155973</a> is the archive.

[2021-08-03 15:34] danielskatz commented on #3348
If you can change the ack to list me as editor rather than reviewer, please do - you don't need to create a new release or update the archive, as we don't even require the paper to be in the archive, but if you want to, you can.  Let me know either way, and I'll move on the next step.

[2021-08-03 15:50] osorensen commented on #3455
@whedon generate pdf

[2021-08-03 15:51] whedon commented on #3455
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: :point_left:

[2021-08-03 15:51] osorensen commented on #3455
@whedon check references

[2021-08-03 15:51] whedon commented on #3455
[code]

[2021-08-03 15:53] osorensen commented on #3455
@wsarce, please see the error message from @whedon above. The DOI 10.1145/2968219.2968306 probably has an incorrect format in your .bib file.

[2021-08-03 16:02] lungsi commented on #3558
@whedon Based on the [programming languages listed](https://bit.ly/joss-reviewers) (either under "preferred" or "other" languages) below are some of the potential reviewers

- **oyvinht**
- **jonahbenton**
- **RuneBlaze**
- **chlalanne**
- **daviddewhurst**

[2021-08-03 16:02] whedon commented on #3558
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-03 16:30] ad48 commented on #3348
I've updated the acknowledgement to include roles. Should I re-generate the pdf?

[2021-08-03 16:32] danielskatz commented on #3348
No, I will do this as part of the next step

[2021-08-03 16:32] danielskatz commented on #3348
@whedon recommend-accept

[2021-08-03 16:32] whedon commented on #3348
[code]

[2021-08-03 16:32] whedon commented on #3348
[code]

[2021-08-03 16:33] whedon commented on #3348
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2490

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2490, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-03 16:33] danielskatz commented on #3348
@whedon accept deposit=true

[2021-08-03 16:33] whedon commented on #3348
[code]

[2021-08-03 16:34] whedon commented on #3348
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1422596755296866305) 👈 🐦🐦🐦

[2021-08-03 16:34] whedon commented on #3348
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2491
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03348](https://doi.org/10.21105/joss.03348)
2. If everything look

[2021-08-03 16:39] klevis-a commented on #3490
@adi3 thank you for being flexible! Yes, I can provide manual steps that can be followed to objectively check the expected functionality of the software. And I'll start working on the other tickets.

[2021-08-03 16:40] danielskatz commented on #3348
Congratulations @ad48 (Adam Day) and Andrew Hails!!

And thanks to @mfenner and @dhimmel for reviewing!

[2021-08-03 16:40] #3348 closed

[2021-08-03 16:40] whedon commented on #3348
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03348/status.svg)](https://doi.org/10.21105/joss.03348)

**We need your help!**

Journal of Open Source Softwa

[2021-08-03 17:04] ad48 commented on #3348
This is brilliant news! Thank you everyone for all your help :)

[2021-08-03 17:22] jmschrei commented on #3446
@n3011 thanks for responding to the feedback. I think that @pmeier's suggestion that you compare against TFDS is reasonable, and I would also like to see it. Please include such a comparison in your next revisions. Thanks!

[2021-08-03 17:53] rerickson-usgs commented on #3444
@marcosvital  Hope all is well with you. Any updates?

[2021-08-03 18:56] pfistfl commented on #3453
@osorensen, thanks so much for the quick & smooth progress
- tagged release: [v.0.3.3](https://github.com/mlr-org/mcboost/releases/tag/v.0.3.3)
- DOI: [10.5281/zenodo.5156518](https://zenodo.org/record/5156518)

[2021-08-03 19:12] osorensen commented on #3453
@whedon set 10.5281/zenodo.5156518 as archive

[2021-08-03 19:13] whedon commented on #3453
OK. <a href="https://doi.org/10.5281/zenodo.5156518" target="_blank">10.5281/zenodo.5156518</a> is the archive.

[2021-08-03 19:13] osorensen commented on #3453
@whedon set <v0.3.3> as version

[2021-08-03 19:13] whedon commented on #3453
OK. <v0.3.3> is the version.

[2021-08-03 19:14] osorensen commented on #3453
@whedon set v.0.3.3 as version

[2021-08-03 19:14] whedon commented on #3453
OK. v.0.3.3 is the version.

[2021-08-03 19:15] osorensen commented on #3453
@whedon recommend-accept

[2021-08-03 19:16] whedon commented on #3453
[code]

[2021-08-03 19:16] whedon commented on #3453
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2492

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2492, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-03 19:18] marcosvital commented on #3444
Hi, @rerickson-usgs, I was about to ask the reviewers for an update. So here we go:

@BrandonEdwards and @MikeKaller, any news on this review? Let me know if you need any assistance.
And if you haven't started yet, I might need to send a new invitation to allow you to check on the boxes as you move on.

[2021-08-03 19:22] marcosvital commented on #2692
Hi again, @Manolomon! Hope everything is fine with you. Let us know if you have made any advances that should let the reviewers continue with the process.

[2021-08-03 20:46] StanczakDominik commented on #3525
Hey, I just wanted to report back and say that I'm sorry for the delay. I've had an intense few weeks. I'm now heading for my first vacation in a couple years (gee thanks, COVID!). Once I'm back next Tuesday, I'm making going through the rest of the package my first priority. The parts I've seen so far are looking great, by the way!

[2021-08-03 20:46] Kevin-Mattheus-Moerman commented on #3349
Thanks @fverdugo for your help here!

[2021-08-03 20:47] Kevin-Mattheus-Moerman commented on #3349
@gaelforget can you update us on where we stand with this review? Thanks again for your help.

[2021-08-03 20:52] mark-koren commented on #3312
Ok, there is now a docker install available! The instructions are on the README of the github page. Let me know if you run into any issues!

[2021-08-03 21:12] magdalenafuentes commented on #3434
Hey @faroit, my apologies for the massive delay in my review, summer hasn't been friendly. I will start the review tomorrow and do it as dynamic as I can. Thanks for your patience!

[2021-08-03 21:27] wsarce commented on #3455
@whedon check references

[2021-08-03 21:27] whedon commented on #3455
[code]

[2021-08-03 21:29] wsarce commented on #3455
@osorensen, okay, now I think I got everything.  Sorry about that!

[2021-08-03 21:59] gaelforget commented on #3349
I am about to check these two items in the list but would suggest reviewing the text or example in the paper in regard to functionality / performance since :

-  trying to run the 100 million points example crashed my laptop several times (2018 MacBook Pro). New potential user of Makie who might copy and paste the code snippet from the paper might be turned off if this happens to them too (?), esp

[2021-08-03 22:11] gaelforget commented on #3349
Very nice overall so I checked this one in the list too. A few small issues caught my attention though:

- Sentence _To effectively understand ... powerful plotting software._ seems to be missing a verb / seems broken
- `airports_rep` should be `a_rep` , I believe, in the code snippet
- _Makie’s core package is AbstractPlotting.jl_ will need to be revised to reflect the reorganization that took pl

[2021-08-03 22:17] gaelforget commented on #3349
LGTM but maybe for completeness it could be useful to mention GR.jl and Plots.jl

[2021-08-03 22:18] chennachaos commented on #3020
@diehlpk, see below for the out of ls commands.

chenna@chenna-XPS-L501X:~/Documents/HPCBuildInfrastructure$ ls -lah build
total 48K
drwxrwxr-x 12 chenna chenna 4.0K Jul 27 13:43 .
drwxrwxr-x  6 chenna chenna 4.0K Jul 29 17:26 ..
drwxrwxr-x  4 chenna chenna 4.0K Jul 27 11:03 blaze
drwxrwxr-x  4 chenna chenna 4.0K Jul 27 11:04 blaze-iterative
drwxrwxr-x  4 chenna chenna 4.0K Jul 27 11:08 boost
drwx

[2021-08-03 22:24] samuelduchesne commented on #3341
With pleasure. That's right down my alley.

[2021-08-03 22:27] gaelforget commented on #3349
I see now in https://github.com/JuliaPlots/Makie.jl/tree/joss-paper that the `Plots.jl` and `AbstractPlotting.jl` bits have already been addressed

[2021-08-03 22:34] gaelforget commented on #3349
Hi @Kevin-Mattheus-Moerman et al

I just went through the checklist and also recommend that the paper be accepted for publication. Great package and great work by the authors!!

ps. a few small issues that should easily be addressed are listed above

[2021-08-04 00:32] WesIngwersen commented on #3392
@tngTUDOR @mfastudillo We have resolved to our best ability to installation and use issues that you raised. Let us know if they are working now.

[2021-08-04 00:59] afrubin commented on #3450
@diehlpk Thank you for the mention, but I don't think my atrophied  C++ skills are up to the task of reviewing this and it's pretty far outside my research area.

[2021-08-04 01:23] emdupre commented on #3500
Thank you for your review, @MartinK84 !

I am cross-linking that these discussions have taken place in https://github.com/spinicist/riesling/issues/22, https://github.com/spinicist/riesling/issues/23, and https://github.com/spinicist/riesling/issues/26. If I have missed any additional references, please don't hesitate to add them here.

[2021-08-04 01:30] emdupre commented on #3500
👋 Hi @uecker -- have you had a chance to take a look at the paper, and start working through the review checklist ? If you post issues on the software repo, please add a pointer to this issue so they are cross-linked.

[2021-08-04 06:26] xp-song commented on #3486
@whedon list editors

[2021-08-04 06:26] whedon commented on #3486
Current editors:

[code]

[2021-08-04 07:03] brynpickering commented on #3341
@fraukewiese I won't have time to dedicate to this, sadly!

[2021-08-04 07:06] osorensen commented on #3455
Thanks @wsarce! Before we proceed, could you please do the following?

- Make a tagged release of the software.
- Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and

[2021-08-04 07:06] xp-song commented on #3486
@danielskatz The research areas that [home2park](https://ecological-cities.github.io/home2park/) intersect with include topics such as GIS/geospatial analysis (e.g. spatial equity/statistics), human ecology (e.g. human–nature interactions, recreation/leisure), as well as city/urban planning (e.g. landscape ecology/patterns). Some suggested editors are listed below, hope this helps:

- Kristina Rie

[2021-08-04 07:12] wtraylor commented on #3450
Outside my own research group, I know that [Phillip Papastefanou](https://www.lsai.wzw.tum.de/en/team/phillip-papastefanou/) from the Technical University Munich is competent in C++ and mechanistic models. He’s a late-stage PhD student and works with LPJ-GUESS, too, the same vegetation model that I couple MMM to. Otherwise we are not personally or professionally affiliated with each other.

If PhD

[2021-08-04 07:33] dirmeier commented on #3450
Ciao @diehlpk , the scope of the paper is pretty much outside of my own research area. I could review the C++ code,  but regarding the impact, novelty, etc. I would need to rely on the other reviewers, if that is ok with you.
Cheers, Simon

[2021-08-04 07:45] zonca commented on #3534
@whedon commands

[2021-08-04 07:45] whedon commented on #3534
Here are some things you can ask me to do:

[code]

[2021-08-04 07:50] zonca commented on #3534
thanks @danielskatz, I moved the license to the root of the repository, I don't know how to tell whedon to check again.

I also published the preprint to Arxiv: https://arxiv.org/abs/2108.01444

[2021-08-04 07:54] drcandacemakedamoore commented on #3506
To whom it may concern,

I resubmitted my paper on July 31st. I know it may take some time to
review, but I wanted to make sure it will actually go into the review
because I don't see it. In my previous two submissions, I could see it
after a few days.

Please advise.
Moore

On Sun, Jul 18, 2021 at 6:56 PM Daniel S. Katz ***@***.***>
wrote:

[2021-08-04 08:03] pmeier commented on #3446
@n3011

Given that `datum`'s central claim is "Storing and saving `TFRecord` datasets is hard and tedious. `datum` helps with that.", providing evidence for this claim is very much in scope.

IMO, a side-by-side comparison is the easiest way to do that, but you are not bound to that. If you find another way to do such a comparison, I'm happy to review it.

[2021-08-04 08:24] jkrumbiegel commented on #3349
This is a good point, I made the example with a more powerful GPU, but this could indeed be confusing. It's just that 1 million points are not as impressive of a feat, and we wanted to show what can be possible. Maybe the text should qualify that the GPU can be the bottleneck?

Also a very good point. 2D vector graphics can never handle 3D data, so maybe the text should make clearer that CairoMaki

[2021-08-04 08:50] Kevin-Mattheus-Moerman commented on #3349
Thanks @gaelforget ! :tada:

[2021-08-04 09:01] pdebuyl commented on #3076
Hi @martinmodrak and @georgiastuart can you update your review?

[2021-08-04 09:04] pdebuyl commented on #3337
Hi @braunfuss any timeline for the review?

[2021-08-04 09:04] pdebuyl commented on #3418
@ashwinvis @dgketchum any timeline for the review?

[2021-08-04 09:20] ahurriyetoglu commented on #3448
@koaning yes, I think this is fine.

[2021-08-04 09:51] fraukewiese commented on #3341
Sounds great. Thanks @samuelduchesne !

I will add you as a reviewer now but won't actually start the review until we have a second reviewer signed up.

[2021-08-04 09:52] fraukewiese commented on #3341
@whedon add @samuelduchesne  as reviewer

[2021-08-04 09:52] whedon commented on #3341
OK, @samuelduchesne  is now a reviewer

[2021-08-04 10:06] fraukewiese commented on #3549
Yes I can edit this paper.

[2021-08-04 10:07] fraukewiese commented on #3549
@whedon assign me as editor

[2021-08-04 10:07] whedon commented on #3549
OK, the editor is @fraukewiese

[2021-08-04 10:15] fraukewiese commented on #3549
@lisazeyen, @willu47, @fwitte
– would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

The submission under review here is [cerf: A Python package to evaluate the feasi

[2021-08-04 10:20] fwitte commented on #3549
Hi @fraukewiese,
I will have a look at the submission and give you a feedback at the end of this week as I am out of office currently.
Best regards

[2021-08-04 11:09] fraukewiese commented on #3528
@whedon assign me as editor

[2021-08-04 12:07] andim commented on #3450
@diehlpk Thanks for sending this my way, but unfortunately it's also outside my area of expertise both scientifically and in terms of C++.

[2021-08-04 12:47] danielskatz commented on #3486
"available" is the key word here, meaning free to take on another paper, but thanks for making these explicit suggestions.

[2021-08-04 12:48] danielskatz commented on #3534
Thanks - hopefully a suitable editor will become available soon.

[2021-08-04 12:50] danielskatz commented on #3506
It was submitted 4 days ago (including the weekend), but the associate-editor-in-chief on duty has been busy and hasn't started the pre-review process yet - I think they will very soon.

[2021-08-04 12:54] whedon opened #3560 "[PRE REVIEW]: CleanX: A Python library for data cleaning of large sets of radiology images"
**Submitting author:** @drcandacemakedamoore  (<a href="http://orcid.org/0000-0003-1672-7565">Candace Makeda Moore</a>)
**Repository:** <a href="https://github.com/drcandacemakedamoore/cleanX" target ="_blank">https://github.com/drcandacemakedamoore/cleanX</a>
**Version:** v0.1.9
**Editor:** @cMadan
**Reviewers:** @henrykironde, @anki-xyz
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduce

[2021-08-04 12:54] whedon commented on #3560
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 12:54] whedon commented on #3560
Wordcount for `paper.md` is 829

[2021-08-04 12:55] whedon commented on #3560
PDF failed to compile for issue #3560 with the following error:
[code]

[2021-08-04 12:55] whedon commented on #3560
[code]

[2021-08-04 12:55] whedon commented on #3560
[code]

[2021-08-04 12:57] Kevin-Mattheus-Moerman commented on #3506
@drcandacemakedamoore I am on duty this week and have just triggered the pre-review issues there. I'll be looking for a handling editor next.

[2021-08-04 13:09] Kevin-Mattheus-Moerman commented on #3558
@lungsi unfortunately all editors that could handle this submission are currently preoccupied with other submission. We will list this submission as `waitlisted` for the moment until an editor becomes available. We apologize for this delay and thank you for your patience.

[2021-08-04 13:11] Kevin-Mattheus-Moerman commented on #3558
@marcosvital @VivianePons @mjsottile @vissarion @Nikoleta-v3 I have waitlisted this submission for now since you all seem per-occupied with other submissions. Let me know if this is something you think you could edit when you are available. Thanks.

[2021-08-04 13:13] drcandacemakedamoore commented on #3506
Thank you so much. I see it did not build the PDF, and I will try to fix it
today.

Thanks again,
Dr. Moore

On Wed, Aug 4, 2021 at 3:57 PM Kevin Mattheus Moerman <
***@***.***> wrote:

[2021-08-04 13:14] whedon opened #3561 "[PRE REVIEW]: regioncode: Convert Region Names and Division Codes of China Over Years"
**Submitting author:** @GohUnTsuan  (<a href="http://orcid.org/0000-0002-9354-2313">Wenquan Wu</a>)
**Repository:** <a href="https://github.com/sammo3182/regioncode" target ="_blank">https://github.com/sammo3182/regioncode</a>
**Version:** 0.1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-08-04 13:14] whedon commented on #3561
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 13:14] whedon commented on #3561
[code]

[2021-08-04 13:14] whedon commented on #3561
Failed to discover a `Statement of need` section in paper

[2021-08-04 13:14] whedon commented on #3561
Wordcount for `paper.md` is 942

[2021-08-04 13:20] Kevin-Mattheus-Moerman commented on #3559
@soffner since all editors in this domain are currently preoccupied with other submissions I have assigned the `waitlisted` label here for now. We will assign an editor as soon as one becomes available. Thanks for your patience.

[2021-08-04 13:30] Kevin-Mattheus-Moerman commented on #3560
@drcandacemakedamoore your paper failed to compile. I think this is because of the use of comma's in the author names.

I think this pull-request should fix it:
https://github.com/drcandacemakedamoore/cleanX/pull/30

Let me know if you'd prefer to have the `, MD` etc. part back in, then we'll trouble shoot this further to try to include it.

[2021-08-04 13:31] whedon opened #3562 "[PRE REVIEW]: The Neuroimaging Data Model (NIDM) Linear Regression Tool"
**Submitting author:** @AKUMAR0019 (<a href="http://orcid.org/0000-0001-8076-7620">Ashmita Kumar</a>)
**Repository:** <a href="https://github.com/AKUMAR0019/PyNIDM" target ="_blank">https://github.com/AKUMAR0019/PyNIDM</a>
**Version:** v.3.8.2
**Editor:** @osorensen
**Reviewers:** @htwangtw, @robbisg
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-08-04 13:31] whedon commented on #3562
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 13:31] whedon commented on #3562
Wordcount for `paper.md` is 1611

[2021-08-04 13:31] whedon commented on #3562
[code]

[2021-08-04 13:31] whedon commented on #3562
[code]

[2021-08-04 13:31] whedon commented on #3562
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03562/joss.03562/10.21105.joss.03562.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03562/joss.03562/10.21105.joss.03562.pdf) :page_facing_up: :point_left:

[2021-08-04 13:38] Kevin-Mattheus-Moerman commented on #3561
@GohUnTsuan thanks for this submission to JOSS. Given the small size of this submission I've flagged it for additional scope review by our editorial board. In particular since the core functionality appears to captured by by ~350 lines of R and ~266 lines of JavaScript. This additional scope review is customary for submissions of this size ([see our guidelines](https://joss.readthedocs.io/en/lates

[2021-08-04 13:41] MikeKaller opened #3563 "Functionality: Have the functional claims of the software been confirmed?"

[2021-08-04 13:41] whedon commented on #3563
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 13:41] whedon commented on #3563
Downloading of the repository (to check the bibtex) failed for issue #3563 failed with the following error:
[code]

[2021-08-04 13:41] whedon commented on #3563
Downloading of the repository (to analyze the language) for issue #3563 failed with the following error:
[code]

[2021-08-04 13:42] whedon opened #3564 "[PRE REVIEW]: GRChombo: An adaptable numerical relativity code for fundamental physics"
**Submitting author:** @kaclough (<a href="http://orcid.org/0000-0001-8841-1522">Katy Clough</a>)
**Repository:** <a href="https://github.com/GRChombo/GRChombo" target ="_blank">https://github.com/GRChombo/GRChombo</a>
**Version:** v1.0.0
**Editor:** @rkurchin
**Reviewers:** @sbozzolo, @rashti-alireza
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-08-04 13:42] whedon commented on #3564
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 13:42] whedon commented on #3564
PDF failed to compile for issue #3564 with the following error:
[code]

[2021-08-04 13:45] Kevin-Mattheus-Moerman commented on #3562
@AKUMAR0019 Thanks for this submission to JOSS. I will be reviewing this work for scope and will look for a handling editor. In the mean time can you check those DOI's :point_up:

[2021-08-04 13:54] andremrsantos commented on #3450
@diehlpk, thanks for the consideration however this manuscript is also outside my area of expertise.

[2021-08-04 13:55] Kevin-Mattheus-Moerman commented on #3562
@emdupre this looks like something you might be able to handle but I have `waitlisted` this submission for now since you seem to be at capacity in terms of handling submission. Let me know if once you available this is something you could help with. Thanks.

[2021-08-04 13:58] danielskatz commented on #3563
Please manually open an issue in the software source code's repository - the github "feauture" you used doesn't work correctly - it opens the issue in the wrong repo, and doesn't tell the submitter what the exact problem and potential solution are.

[2021-08-04 13:58] #3563 closed

[2021-08-04 14:00] martlj commented on #3450
@diehlpk thanks for considering me, but unfortunately my C++ is now quite rusty and I've been reviewing quite a few papers lately so I'm afraid I'll have to pass on this one.

[2021-08-04 14:01] whedon opened #3565 "[PRE REVIEW]: NCBITaxonomy.jl - rapid biological names finding and reconciliation"
**Submitting author:** @tpoisot (<a href="http://orcid.org/0000-0002-0735-5184">Timothée Poisot</a>)
**Repository:** <a href="https://github.com/EcoJulia/NCBITaxonomy.jl" target ="_blank">https://github.com/EcoJulia/NCBITaxonomy.jl</a>
**Version:** v0.2.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-08-04 14:01] whedon commented on #3565
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 14:01] whedon commented on #3565
Wordcount for `paper.md` is 70

[2021-08-04 14:01] whedon commented on #3565
[code]

[2021-08-04 14:01] whedon commented on #3565
[code]

[2021-08-04 14:02] whedon commented on #3565
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03565/joss.03565/10.21105.joss.03565.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03565/joss.03565/10.21105.joss.03565.pdf) :page_facing_up: :point_left:

[2021-08-04 14:04] whedon opened #3566 "[PRE REVIEW]: eyecite: A tool for parsing legal citations"
**Submitting author:** @mattdahl (<a href="http://orcid.org/0000-0001-8437-1455">Matthew Dahl</a>)
**Repository:** <a href="https://github.com/freelawproject/eyecite" target ="_blank">https://github.com/freelawproject/eyecite</a>
**Version:** v2.2.0
**Editor:** @danielskatz
**Reviewers:** @cmaimone, @step21
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due

[2021-08-04 14:04] whedon commented on #3566
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 14:04] whedon commented on #3566
[code]

[2021-08-04 14:04] whedon commented on #3566
PDF failed to compile for issue #3566 with the following error:
[code]

[2021-08-04 14:24] MikeKaller opened #3567 "Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)."
I evaluated this package from two perspectives. First, I examined the package from the perspective of a fisheries professional who understands the models and who has programming experience. Second, I examined the package from the perspective of a graduate student who is both new to the models and to programming.  I end up assisting a lot of students in this position.  My largest criticism is from

[2021-08-04 14:24] whedon commented on #3567
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 14:24] whedon commented on #3567
Downloading of the repository (to analyze the language) for issue #3567 failed with the following error:
[code]

[2021-08-04 14:24] whedon commented on #3567
Downloading of the repository (to check the bibtex) failed for issue #3567 failed with the following error:
[code]

[2021-08-04 14:24] whedon commented on #3567
PDF failed to compile for issue #3567 with the following error:
[code]

[2021-08-04 14:26] vincentberenz commented on #2752
@traversaro @vissarion thanks again for your time and your useful comments

@gkthiruvathukal

A robotic group of the University of Aachen  just finished developing o80 drivers for the Franka robots (which are currently quite popular in academia). I would like to update the paper with a reference to their repo. They told me it would make public very soon. As soon as this happens, I would update the

[2021-08-04 14:27] drcandacemakedamoore commented on #3560
@whedon generate pdf

[2021-08-04 14:27] whedon commented on #3560
PDF failed to compile for issue #3560 with the following error:
[code]

[2021-08-04 14:28] fboehm commented on #3393
@whedon set 10.5281/zenodo.5146411 as archive

[2021-08-04 14:28] whedon commented on #3393
OK. <a href="https://doi.org/10.5281/zenodo.5146411" target="_blank">10.5281/zenodo.5146411</a> is the archive.

[2021-08-04 14:28] fboehm commented on #3393
@whedon set 0.6.5 as version

[2021-08-04 14:28] whedon commented on #3393
OK. 0.6.5 is the version.

[2021-08-04 14:29] MikeKaller opened #3568 "References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do references in the text use the proper citation syntax?"
Lines 42 and 63: The copy of Ogle that I am staring in my hand at states copyright 2016. Please correct.

[2021-08-04 14:29] whedon commented on #3568
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-04 14:29] danielskatz commented on #3567
Please manually open an issue in the software source code's repository - the GitHub "feature" you used doesn't work correctly - it opens the issue in the wrong repo, and doesn't tell the submitter what the exact problem and potential solution are.

[2021-08-04 14:29] #3567 closed

[2021-08-04 14:29] whedon commented on #3568
PDF failed to compile for issue #3568 with the following error:
[code]

[2021-08-04 14:29] whedon commented on #3568
Downloading of the repository (to analyze the language) for issue #3568 failed with the following error:
[code]

[2021-08-04 14:29] whedon commented on #3568
Downloading of the repository (to check the bibtex) failed for issue #3568 failed with the following error:
[code]

[2021-08-04 14:32] danielskatz commented on #3568
Please manually open an issue in the software source code's repository - the GitHub "feature" you used doesn't work correctly - it opens the issue in the wrong repo, and doesn't tell the submitter what the exact problem and potential solution are.

[2021-08-04 14:32] #3568 closed

[2021-08-04 14:36] gkthiruvathukal commented on #2752
@vincentberenz This is absolutely fine. Please signal us when you have made the updates and have completed the checklist. The change you are proposing seems routine, so we do not need to do a full re-review by any means. Just make sure the article PDF generates properly!

[2021-08-04 14:44] McWhity commented on #3337
Unfortunately, I haven't found time to address the detailed review of @arthur-e yet. I think I will be able to update the repository based on the review of @arthur-e until 22nd of August. This means in terms of saving work time for the reviewers, @braunfuss might wait with conducting his review until the 22nd of August. If @braunfuss is almost finished with his review, I will be happy to include h

[2021-08-04 14:45] gaelforget commented on #3349
Would make sense to me. Could also maybe add a commented version of this line of code in the snippet with `1_000_000`, right after the one with `100_000_000`, as a hint to the user. Not sure what's best.

I believe the scatter worked but unless I remove `markersize = 0.5` I see what's shown below

![paper_example_e](https://user-images.githubusercontent.com/20276764/128201601-e5f61236-4e22-4640-9d

[2021-08-04 14:50] drvinceknight commented on #3424
Thank you @seba-1511 and @abhiramm7 for your work on this.

@abhiramm7 for completeness could I ask you to tick the last remaining tick boxes in the list at the top of this issue (just to make sure we are all on the same page)?

[2021-08-04 15:17] abhiramm7 commented on #3424
@drvinceknight For sure.

[2021-08-04 15:25] wvxvw commented on #3560
@whedon generate pdf

[2021-08-04 15:25] whedon commented on #3560
PDF failed to compile for issue #3560 with the following error:
[code]

[2021-08-04 15:27] whedon commented on #3560
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03560/joss.03560/10.21105.joss.03560.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03560/joss.03560/10.21105.joss.03560.pdf) :page_facing_up: :point_left:

[2021-08-04 15:30] mewilhel commented on #3341
Hi,

Looks interesting. I'd be happy to review this.

Best,
Matt

On Tue, Aug 3, 2021 at 10:06 AM fraukewiese ***@***.***>
wrote:

--
*Matthew Wilhelm* | *PhD Candidate*

Chemical & Biomolecular Engineering
University of Connecticut
He/Him/His
*Phone: *(347)-504-2572
*Email:* ***@***.***

[2021-08-04 15:50] tpoisot commented on #3565
@whedon commands

[2021-08-04 15:50] whedon commented on #3565
Here are some things you can ask me to do:

[code]

[2021-08-04 15:51] tpoisot commented on #3565
@whedon generate pdf from branch joss/initial

[2021-08-04 15:51] whedon commented on #3565
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03565/joss.03565/10.21105.joss.03565.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03565/joss.03565/10.21105.joss.03565.pdf) :page_facing_up: :point_left:

[2021-08-04 15:56] tpoisot commented on #3565
**Ed. note** the "Download article proof" link is the wrong version, but "View article proof..." is :heavy_check_mark:

**Possible reviewers**
- nicksisco1932
- qpmnguyen
- sckott

[2021-08-04 16:09] diehlpk commented on #3450
@whedon add @dirmeier as reviewer

[2021-08-04 16:09] whedon commented on #3450
OK, @dirmeier is now a reviewer

[2021-08-04 16:10] diehlpk commented on #3450
Thanks, that would help since we do not have many reviewers in this topic with C++ experience.

[2021-08-04 16:14] AKUMAR0019 commented on #3562
@whedon generate pdf

[2021-08-04 16:14] diehlpk commented on #3020
@chennachaos Thanks for posting the output and I found the issues with the path

https://github.com/nonlocalmodels/HPCBuildInfrastructure/blob/d11ce4b6277b9b8a2a4b2030ff138e2a918cdb9d/build-nl.sh#L28

Can you please for now remove the 64 in lib64, and you should be able to compile the code. I will debug later this week why this issue with the 64 happens.

[2021-08-04 16:15] whedon commented on #3562
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03562/joss.03562/10.21105.joss.03562.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03562/joss.03562/10.21105.joss.03562.pdf) :page_facing_up: :point_left:

[2021-08-04 16:16] AKUMAR0019 commented on #3562
Thank you so much! Those DOIs were correct, and I've had whedon update the paper.

[2021-08-04 16:16] AKUMAR0019 commented on #3562
@whedon commands

[2021-08-04 16:16] whedon commented on #3562
Here are some things you can ask me to do:

[code]

[2021-08-04 16:16] AKUMAR0019 commented on #3562
@whedon check references

[2021-08-04 16:17] whedon commented on #3562
[code]

[2021-08-04 16:18] jedbrown commented on #3314
@smolins @volpatto :wave: Could you please let us know how your reviews are going and if you need anything from us? It's usually helpful to start the dialog early and incrementally, rather than waiting to complete your review in one shot.

[2021-08-04 16:41] lisazeyen commented on #3549
Hey @fraukewiese ,
I can have a look at the submission at end of this week as well if you need another reviewer.
Best,

[2021-08-04 17:28] AKUMAR0019 commented on #3562
@whedon check references

[2021-08-04 17:29] whedon commented on #3562
[code]

[2021-08-04 17:46] AKUMAR0019 commented on #3562
@whedon check references

[2021-08-04 17:46] whedon commented on #3562
[code]

[2021-08-04 17:48] AKUMAR0019 commented on #3562
@whedon check references

[2021-08-04 17:48] whedon commented on #3562
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "month" (NAME) [#<BibTeX::Bibliography data=[9]>, "@", #<BibTeX::Entry >, {:title=>["Towards structured sharing of raw and derived neuroimaging data across existing resources"], :author=>["Keator, D B and Helmer, K and Steffener, J and Turner, J A and Van Erp, T G M and Gadde, S and Ashish, N and Burns,

[2021-08-04 17:50] AKUMAR0019 commented on #3562
@whedon check references

[2021-08-04 17:50] whedon commented on #3562
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "month" (NAME) [#<BibTeX::Bibliography data=[9]>, "@", #<BibTeX::Entry >, {:title=>["Towards structured sharing of raw and derived neuroimaging data across existing resources"], :author=>["Keator, D B and Helmer, K and Steffener, J and Turner, J A and Van Erp, T G M and Gadde, S and Ashish, N and Burns,

[2021-08-04 17:54] AKUMAR0019 commented on #3562
@whedon check references

[2021-08-04 17:54] whedon commented on #3562
[code]

[2021-08-04 17:56] AKUMAR0019 commented on #3562
@whedon generate pdf

[2021-08-04 17:56] whedon commented on #3562
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03562/joss.03562/10.21105.joss.03562.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03562/joss.03562/10.21105.joss.03562.pdf) :page_facing_up: :point_left:

[2021-08-04 18:13] whedon commented on #3519
:wave: @jonjoncardoso, please update us on how your review is going (this is an automated reminder).

[2021-08-04 18:13] whedon commented on #3519
:wave: @mschordan, please update us on how your review is going (this is an automated reminder).

[2021-08-04 18:13] whedon commented on #3519
:wave: @zoometh, please update us on how your review is going (this is an automated reminder).

[2021-08-04 18:42] AKUMAR0019 commented on #3562
I'm sorry for all of the comments! I wasn't sure how to test the paper, so I used whedon.

[2021-08-04 19:25] taless474 commented on #3543
@nhejazi , @omid-s  how is the review going?

[2021-08-04 19:27] ChristopherLucas commented on #3452
I finished reviewing the package. I had no problem installing the package (Ubuntu 21.04 and R 4.1.0) and all the tests ran without error. You might want to add the docs as a readme so people installing from CRAN find them faster, but if you have reasons to not do so, that seems fine too.

Cool project!

[2021-08-04 21:49] Garyfallidis commented on #3384
Hello @danielskatz, the release is tagged as shown here https://github.com/fury-gl/fury/tree/v0.7.1
The version of the release is 0.7.1
Here is the Zenodo link with the DOI https://zenodo.org/record/5160945
The metadata were updated as suggested with title, author names and ORCIDS.
The DOI is ``10.5281/zenodo.5160945``.
Let us know if you need anything else.

[2021-08-04 22:28] danielskatz commented on #3384
@whedon set v0.7.1 as version

[2021-08-04 22:28] whedon commented on #3384
OK. v0.7.1 is the version.

[2021-08-04 22:28] danielskatz commented on #3384
@whedon set 10.5281/zenodo.5160945 as archive

[2021-08-04 22:28] whedon commented on #3384
OK. <a href="https://doi.org/10.5281/zenodo.5160945" target="_blank">10.5281/zenodo.5160945</a> is the archive.

[2021-08-04 22:28] danielskatz commented on #3384
@whedon recommend-accept

[2021-08-04 22:29] whedon commented on #3384
[code]

[2021-08-04 22:29] whedon commented on #3384
[code]

[2021-08-04 22:29] whedon commented on #3384
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2493

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2493, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-04 22:31] danielskatz commented on #3384
@whedon accept deposit=true

[2021-08-04 22:31] whedon commented on #3384
[code]

[2021-08-04 22:32] whedon commented on #3384
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1423049156839497728) 👈 🐦🐦🐦

[2021-08-04 22:34] danielskatz commented on #3470
I'll take this on, with help accepted from @kbarnhart on reviewers

[2021-08-04 22:34] danielskatz commented on #3470
@whedon assign me as editor

[2021-08-04 22:34] whedon commented on #3470
OK, the editor is @danielskatz

[2021-08-04 22:36] danielskatz commented on #3470
👋 @savage13 - sorry for the delay, but now we'll make this move forward.

Do you have reviewer suggestions?  If so, please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-08-04 22:38] danielskatz commented on #3499
👋 @aaronlikens - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-p

[2021-08-04 22:38] danielskatz commented on #3499
@whedon reject

[2021-08-04 22:38] whedon commented on #3499
Paper rejected.

[2021-08-04 22:43] danielskatz commented on #3518
👋 @crhea93 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided not to review this submission as written because we don't believe it is packaged appropriately for further maintenance, sustainable, and community use/contributions.  We do, however, appreciate the examples and documentation.  We would welcome a resubmission if the packaging is improved.  https://packagin

[2021-08-04 22:43] strengejacke commented on #3393
Thanks for the tip! I changed the archive title accordingly.

[2021-08-04 22:43] danielskatz commented on #3518
@whedon reject

[2021-08-04 22:43] whedon commented on #3518
Paper rejected.

[2021-08-04 22:43] #3518 closed

[2021-08-04 22:44] danielskatz commented on #3532
👋 @Aariq - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-package

[2021-08-04 22:44] danielskatz commented on #3532
@whedon reject

[2021-08-04 22:44] whedon commented on #3532
Paper rejected.

[2021-08-04 22:44] #3532 closed

[2021-08-04 22:46] danielskatz commented on #3553
@MAnalytics - this paper has passed the scope review, and the AEiC on duty should now work on finding an editor

[2021-08-04 22:46] danielskatz commented on #3550
@OlgerSiebinga - this paper has passed the scope review, and the AEiC on duty should now work on finding an editor

[2021-08-04 22:46] danielskatz commented on #3550
Actually, I can take is as editor

[2021-08-04 22:47] danielskatz commented on #3550
@whedon assign me as editor

[2021-08-04 22:47] whedon commented on #3550
OK, the editor is @danielskatz

[2021-08-04 22:47] danielskatz commented on #3550
👋 @OlgerSiebinga - Do you have any suggestions for potential reviewers?  If so, then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-08-04 22:48] danielskatz commented on #3384
Congratulations to @Garyfallidis (Eleftherios Garyfallidis) and co-authors!!

And thanks to @chrishavlin, @rougier, and @phamvanvung for reviewing!

[2021-08-04 22:48] #3384 closed

[2021-08-04 22:48] whedon commented on #3384
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03384/status.svg)](https://doi.org/10.21105/joss.03384)

**We need your help!**

Journal of Open Source Softwa

[2021-08-04 23:09] fAndreuzzi commented on #3519
@whedon generate pdf

[2021-08-04 23:09] whedon commented on #3519
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03519/joss.03519/10.21105.joss.03519.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03519/joss.03519/10.21105.joss.03519.pdf) :page_facing_up: :point_left:

[2021-08-04 23:11] fAndreuzzi commented on #3519
@zoometh In the last version I added the section **BisPy** and slightly modified the **Statement of need** accordingly. What do you think?

[2021-08-04 23:17] Garyfallidis commented on #3384
Thank you  @chrishavlin, @rougier, and @phamvanvung for your positive reviews! Thank you @danielskatz for pushing the process
 forward! Stay tuned for the upcoming FURY features and demos !

[2021-08-04 23:37] kbarnhart commented on #2276
@KevinShook after discussion with others on the JOSS editorial board, I have decided to move forward with this submission.

Many thanks to all three reviewers @r-barnes @awickert and @KCallaghan for your constructive reviews. I believe that the authors have now addressed the outstanding comments, and I have gone ahead and completed the remaining checklist items/closed issues.

The checklist items

[2021-08-04 23:39] kbarnhart commented on #2276
@whedon check references

[2021-08-04 23:40] kbarnhart commented on #2276
@whedon compile pdf

[2021-08-04 23:40] whedon commented on #2276
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-04 23:40] whedon commented on #2276
[code]

[2021-08-04 23:40] kbarnhart commented on #2276
@whedon generate pdf

[2021-08-04 23:41] whedon commented on #2276
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02276/joss.02276/10.21105.joss.02276.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02276/joss.02276/10.21105.joss.02276.pdf) :page_facing_up: :point_left:

[2021-08-04 23:43] kbarnhart commented on #3398
@zsylvester @jhnienhuis @salterg thanks for providing your reviews.

@amoodie please ping me here or at krbarnhart@usgs.gov when you think you have addressed the issues raised by the reviewers, or at any point if you need input or guidance from me.

[2021-08-04 23:56] kbarnhart commented on #2276
@KevinShook a few final comments from me:
1. In the paper, please fix the .bib entry for both Venema references, I think the curly braces should be removed so the author is listed as Venema, H.D. (or correct me if you think otherwise).
2. Over the last year we have started enforcing that the papers actually contain a section called "Statement of Need". I would recommend you rename "Program Descrip

[2021-08-05 00:29] wsarce commented on #3455
@osorensen, alright, I got it working.  The DOI from Zenodo is: 10.5281/zenodo.5161984.  All of the metadata looks correct and a citation file was generated for the repo.  Let me know if anything doesn't look right.  Thank you!

[2021-08-05 01:01] KevinShook commented on #2276
Thanks very much. I'll take care of these.

[2021-08-05 02:04] Aariq commented on #3532
Thanks, I understand. Out of curiosity, was this decision based in part on
me being the sole author, or was it just the relatively small amount of
code? I understand if you can't say.

On Wed, Aug 4, 2021 at 6:44 PM Daniel S. Katz ***@***.***>
wrote:

[2021-08-05 03:03] emdupre commented on #3562
Thanks for the thought, @Kevin-Mattheus-Moerman ! I am at capacity right now but would be happy to take this on as things move off my docket in the next few weeks. I'll flag, though, that I work directly with one of the co-authors (Poline) and so have a COI on this submission. Let me know how you'd like to proceed !

[2021-08-05 03:07] emdupre commented on #3562
Just to note that there's a Whedon preview service, if you haven't seen it already ! https://whedon.theoj.org

[2021-08-05 03:30] jgostick commented on #3458
It seems I am not being notified by github of mentions.  I'm very sorry for taking so long to check in, I just do it once a week or so.

Regarding the COI, I would say that the more ably a person can review a submission the closer they are to the COI threshold.  I'm fine with things proceeding as they are.

[2021-08-05 03:33] jgostick commented on #2976
Hi @Isurwars, have you addressed the remaining 2 comments by @CFGrote?

- State of the field: Do the authors describe how this software compares to other commonly-used packages?
- References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do references in the text use the proper citation syntax?

[2021-08-05 03:35] jgostick commented on #2976
Hi @Isurwars, @awvwgk has requested that you address one last item:

- [ ] Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support

Can you follow through with this then let them and I know, so we can complete the review checklist and move on to the next stage?

[2021-08-05 03:36] mattdahl commented on #3566
Please be advised that the paper is not in our main branch; you can find it here instead: https://github.com/freelawproject/eyecite/tree/joss-paper/joss

[2021-08-05 03:41] jgostick commented on #3325
Hi @ArtVoro, it looks like the reviewers have given you a long list of to-dos.  Can you try to address them all in such a way that they are able to finalize their review checklists?

[2021-08-05 03:43] jgostick commented on #3426
@prasantapal  and @michaelberks, I have just sent you emails to remind you about this review.  Please let me know asap if you're no longer able to do this review, thanks.

[2021-08-05 04:30] jedbrown commented on #2565
@whedon add @calum-chamberlain as reviewer

[2021-08-05 04:30] whedon commented on #2565
OK, @calum-chamberlain is now a reviewer

[2021-08-05 04:30] jedbrown commented on #2565
@whedon remove @eileenrmartin as reviewer

[2021-08-05 04:30] whedon commented on #2565
OK, @eileenrmartin is no longer a reviewer

[2021-08-05 04:32] jedbrown commented on #2565
@calum-chamberlain :wave: Welcome to JOSS and thanks for agreeing to review!

The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the rsudp repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our crit

[2021-08-05 04:59] ArtVoro commented on #3325
Hi @jgostick, as far as I'm aware I have addressed all tasks which were mentioned following all posts above. Maybe you can give me an example how I could make it more obvious to finalize the review checklists?
The only open tasks might be:

@janash

Are the comments/explanations of the notebooks sufficient to be accepted? If not can you give me more directions where exactly you want more comments/

[2021-08-05 06:20] MAnalytics commented on #3553
@danielskatz @kyleniemeyer Great news! Thank you very much. I greatly appreciate the efforts.

[2021-08-05 06:41] Eugenio2192 commented on #3203
Hello @timtroendle
Here is the DOI of the archived version: https://doi.org/10.5281/zenodo.5153667
I released the archived version under the tag JOSS: https://gitlab.com/dlr-ve/autumn/-/tree/JOSS

[2021-08-05 06:52] awvwgk commented on #2976
Has been addressed now with https://github.com/Isurwars/Correlation/commit/7da2042083119b88d5f2c6c7d6ec21b70fcca241

[2021-08-05 07:09] timtroendle commented on #3203
Thanks, @Eugenio2192 . I've seen you are releasing this as a `JOSS` version. You are free to do so, as JOSS is not limiting you in any way. Still, most authors choose the use the [semantic versioning scheme](https://semver.org) for their software, resulting in version numbers like `v.1.4.0`. Are you sure you want to use `JOSS` as your version tag?

I will then move on right away and recommend acce

[2021-08-05 07:09] timtroendle commented on #3203
@whedon set 10.5281/zenodo.5153667 as archive

[2021-08-05 07:09] whedon commented on #3203
OK. <a href="https://doi.org/10.5281/zenodo.5153667" target="_blank">10.5281/zenodo.5153667</a> is the archive.

[2021-08-05 07:09] timtroendle commented on #3203
@whedon set JOSS as version

[2021-08-05 07:09] whedon commented on #3203
OK. JOSS is the version.

[2021-08-05 07:11] hechth opened #3569 "Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution."
See [#14](https://github.com/virtual-vehicle/pointcloudset/issues/14) and [#15](https://github.com/virtual-vehicle/pointcloudset/issues/15)

[2021-08-05 07:11] whedon commented on #3569
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-05 07:11] whedon commented on #3569
Downloading of the repository (to check the bibtex) failed for issue #3569 failed with the following error:
[code]

[2021-08-05 07:11] whedon commented on #3569
PDF failed to compile for issue #3569 with the following error:
[code]

[2021-08-05 07:11] whedon commented on #3569
Downloading of the repository (to analyze the language) for issue #3569 failed with the following error:
[code]

[2021-08-05 07:13] hechth opened #3570 "Contribution and authorship: Has the submitting author (@tgoelles) made major contributions to the software? Does the full list of paper authors seem appropriate and complete?"
See [#13](https://github.com/virtual-vehicle/pointcloudset/issues/13)

[2021-08-05 07:13] whedon commented on #3570
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-05 07:13] whedon commented on #3570
PDF failed to compile for issue #3570 with the following error:
[code]

[2021-08-05 07:13] whedon commented on #3570
Downloading of the repository (to analyze the language) for issue #3570 failed with the following error:
[code]

[2021-08-05 07:13] whedon commented on #3570
Downloading of the repository (to check the bibtex) failed for issue #3570 failed with the following error:
[code]

[2021-08-05 07:23] hechth commented on #3471
@tgoelles Feel free to reach out if you have any questions related to the review or the issues I opened on the repo, I'd be happy to discuss in case you need more details etc. or if something is unclear.

[2021-08-05 07:24] hechth opened #3571 "Performance: If there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.)"
See [#18](https://github.com/virtual-vehicle/pointcloudset/issues/18)

[2021-08-05 07:24] whedon commented on #3571
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-05 07:24] whedon commented on #3571
Downloading of the repository (to check the bibtex) failed for issue #3571 failed with the following error:
[code]

[2021-08-05 07:24] whedon commented on #3571
PDF failed to compile for issue #3571 with the following error:
[code]

[2021-08-05 07:24] whedon commented on #3571
Downloading of the repository (to analyze the language) for issue #3571 failed with the following error:
[code]

[2021-08-05 07:25] hechth opened #3572 "State of the field: Do the authors describe how this software compares to other commonly-used packages?"
Have you had a look at [python-pcl](https://github.com/strawlab/python-pcl)? I personally haven't worked much with PCL, it is quite a beast in C++ so I usually prefer CloudCompare for that, but the python bindings of PCL might be interesting.

[2021-08-05 07:25] whedon commented on #3572
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-05 07:25] whedon commented on #3572
Downloading of the repository (to analyze the language) for issue #3572 failed with the following error:
[code]

[2021-08-05 07:25] whedon commented on #3572
Downloading of the repository (to check the bibtex) failed for issue #3572 failed with the following error:
[code]

[2021-08-05 07:25] whedon commented on #3572
PDF failed to compile for issue #3572 with the following error:
[code]

[2021-08-05 07:34] Eugenio2192 commented on #3203
I also made a v0.1.0 tag (will turn to ones once we do the PIPy release) with exactly the same content, my reasoning behind the JOSS tag was to have users be able to quickly reference the version associated to the publication. I will keep both in the repo but now that you mention the semantic versioning I would opt for the v0.1.0 tag for the paper if that can still be changed.

[2021-08-05 07:53] hechth opened #3573 "A statement of need: Does the paper have a section titled 'Statement of Need' that clearly states what problems the software is designed to solve and who the target audience is?"
The statement of need focuses more on the advances in LIDAR technology than the problems in related software - only the fact that the technology is advancing doesn't justify the need for more software.

Why is accessing time-series point cloud data important? Why do the current packages not suffice for this task? How does this package circumvent these problems? How does `pointcloudset` combine `py

[2021-08-05 07:54] whedon commented on #3573
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-05 07:54] whedon commented on #3573
Downloading of the repository (to analyze the language) for issue #3573 failed with the following error:
[code]

[2021-08-05 07:54] whedon commented on #3573
Downloading of the repository (to check the bibtex) failed for issue #3573 failed with the following error:
[code]

[2021-08-05 07:54] whedon commented on #3573
PDF failed to compile for issue #3573 with the following error:
[code]

[2021-08-05 08:00] timtroendle commented on #3203
We can still switch the version, no problem. Please ensure that the archive has the correct version. Right now it's still `JOSS`. Please let me know once you've updated that.

FYI: The paper will mention the version and also link to the archive. Readers of the paper should therefore have no problem finding the correct version.

[2021-08-05 08:02] jbytecode commented on #3452
@whedon check references

[2021-08-05 08:02] whedon commented on #3452
[code]

[2021-08-05 08:02] jbytecode commented on #3452
@whedon generate pdf

[2021-08-05 08:02] whedon commented on #3452
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: :point_left:

[2021-08-05 08:04] OlgerSiebinga commented on #3550
Hi @danielskatz,
Good to hear that the paper has passed the scope review. As for potential reviewers, I looked at the list and found some people with domains/topics that seem relevant. I could not find any reviewers on the list that specified the exact topics of the paper, but here are my best results:

- MrMallIronmaker
- wiljnich; wiljnichepa
- 11michalis11
- rusu24edward
- nickbearman
- papachr

[2021-08-05 08:12] Eugenio2192 commented on #3203
DOI with the correct version: https://doi.org/10.5281/zenodo.5163098

[2021-08-05 08:14] timtroendle commented on #3203
@whedon set 10.5281/zenodo.5163098 as archive

[2021-08-05 08:14] whedon commented on #3203
OK. <a href="https://doi.org/10.5281/zenodo.5163098" target="_blank">10.5281/zenodo.5163098</a> is the archive.

[2021-08-05 08:14] timtroendle commented on #3203
@whedon set v0.1.0 as version

[2021-08-05 08:14] whedon commented on #3203
OK. v0.1.0 is the version.

[2021-08-05 08:15] jbytecode commented on #3452
Dear @ph-rast

In lines 43,44, and 45 of paper, Stan Development Team (2016) and Stan Development Team (2020) should be cited as (Stan Development Team, 2016) and (Stan Development Team, 2020) respectively. Please correct the paper.

Finally, please re-check the whole paper by means of both language and format. When it is finished, let whedon generate the pdf and check references here. After all p

[2021-08-05 08:16] timtroendle commented on #3203
Thanks @Eugenio2192 for letting me know. And thanks a lot to @igarizio and @milicag for reviewing this submission. I will go ahead and recommend the acceptance of this submission.

[2021-08-05 08:17] timtroendle commented on #3203
@whedon recommend-accept

[2021-08-05 08:17] whedon commented on #3203
[code]

[2021-08-05 08:17] whedon commented on #3203
[code]

[2021-08-05 08:17] whedon commented on #3203
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2495

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2495, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-05 09:05] satejsoman commented on #3464
Hi @dilawar, https://github.com/COVID-IWG/epimargin/pull/129 has taken care of all the linting issues I could find with `pylint` and `mypy`. There is one temporary change to the class hierarchy that does not affect any user-facing code and it is being tracked here: https://github.com/COVID-IWG/epimargin/issues/130.

With this merged, do you think remaining checklist items are ready to be  marked a

[2021-08-05 09:14] dilawar commented on #3464
@satejsoman I'll complete my review by the weekend. You may not hear from me till this Saturday.

[2021-08-05 10:02] Kevin-Mattheus-Moerman commented on #3260
@danielballan @caspervdw @alexlib @GenevieveBuckley would you be interested in reviewing this work for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) takes place on GitHub and focuses on [the software](https://github.com/MikeSmithLabTeam/particletracker) and [the short paper](http

[2021-08-05 10:11] Kevin-Mattheus-Moerman commented on #3560
@drcandacemakedamoore thanks for fixing it. It looks like what I proposed was not it, it was actually `"1,3"` as you fixed it. Feel free to put the `, MD` back if you like.

[2021-08-05 10:18] Kevin-Mattheus-Moerman commented on #3558
@whedon invite @fabian-s as editor

[2021-08-05 10:18] whedon commented on #3558
@fabian-s has been invited to edit this submission.

[2021-08-05 10:19] satejsoman commented on #3464
that sounds great, thanks again!

[2021-08-05 10:23] fabian-s commented on #3558
Sorry, I'd rather not -- don't know any Clojure, don't understand what this is supposed to be about.

[2021-08-05 10:27] Kevin-Mattheus-Moerman commented on #3562
@emdupre given your perceived COI I will look for a different editor for this.

[2021-08-05 10:32] Kevin-Mattheus-Moerman commented on #3562
@fabian-s is this something your could help edit?

[2021-08-05 10:40] pmyteh commented on #3397
This looks great (some of the issues are still open even though fixes have been merged). Happy to recommend acceptance.

[2021-08-05 10:43] Kevin-Mattheus-Moerman commented on #3553
@lorenanicole is this something you could review once you are available?

[2021-08-05 10:45] Kevin-Mattheus-Moerman commented on #3553
@MAnalytics I have `waitlisted` this submission. This is because we currently do not have an editor available in this domain. We well assign a handling editor as soon as a suitable one becomes available.

[2021-08-05 10:48] Kevin-Mattheus-Moerman commented on #3564
@whedon generate pdf from branch feature/joss_paper

[2021-08-05 10:48] whedon commented on #3564
[code]

[2021-08-05 10:49] whedon commented on #3564
PDF failed to compile for issue #3564 with the following error:
[code]

[2021-08-05 10:50] Kevin-Mattheus-Moerman commented on #3564
@openjournals/dev can you advise how to fix this compilation error :point_up_2:

[2021-08-05 10:52] Kevin-Mattheus-Moerman commented on #3560
@drcandacemakedamoore I have `waitlisted` this submission since no editors in this domain are currently available. We will assign one as soon as one becomes available. Apologies and thank you for your patience.

[2021-08-05 10:53] Kevin-Mattheus-Moerman commented on #3560
Note for AEiC on call: If no alternative handling editor becomes available within 2 weeks I can take this one.

[2021-08-05 11:04] Kevin-Mattheus-Moerman commented on #3562
@whedon invite @fabian-s as editor

[2021-08-05 11:04] whedon commented on #3562
@fabian-s has been invited to edit this submission.

[2021-08-05 11:10] fabian-s commented on #3562
Sorry, I'd rather not -- I don't know Python, I don't do Neuroimaging.

[2021-08-05 11:54] danielskatz commented on #3553
@whedon assign @ajstewartlang as editor
(based on previous discussion and slack comments)

[2021-08-05 11:54] whedon commented on #3553
OK, the editor is @ajstewartlang

[2021-08-05 11:54] osorensen commented on #3455
@whedon set 10.5281/zenodo.5161984 as archive

[2021-08-05 11:54] whedon commented on #3455
OK. <a href="https://doi.org/10.5281/zenodo.5161984" target="_blank">10.5281/zenodo.5161984</a> is the archive.

[2021-08-05 11:55] osorensen commented on #3455
@whedon set 1.0.0 as version

[2021-08-05 11:55] whedon commented on #3455
OK. 1.0.0 is the version.

[2021-08-05 11:57] danielskatz commented on #3550
👋  @robertkrajewski, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews of open source software and short papers here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-05 11:58] osorensen commented on #3455
@wsarce, I noticed that the title of the zenodo archive is "Munroe-Meyer-Institute-VR-Laboratory/Biosensor-Framework: Biosensor-Framework" whereas the title of the paper is "Biosensor Framework: A C# Library for Affective Computing". Could you please edit the title of the archive so it matches the paper?

[2021-08-05 11:59] danielskatz commented on #3550
👋 @bastilam, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews of open source software and short papers here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-05 12:01] danielskatz commented on #3550
👋 @MrMallIronmaker, wiljnichepa, 11michalis11 - Would one or two of you be willing to review this JOSS submission?

[2021-08-05 12:04] danielskatz commented on #3532
You being sole author was not a factor.

[2021-08-05 12:06] danielskatz commented on #3573
Please manually open an issue in the software source code's repository - the GitHub "feature" you used doesn't work correctly - it opens the issue in the wrong repo, and doesn't tell the submitter what the exact problem and potential solution are.

[2021-08-05 12:06] #3573 closed

[2021-08-05 12:06] danielskatz commented on #3572
Please manually open an issue in the software source code's repository - the GitHub "feature" you used doesn't work correctly - it opens the issue in the wrong repo, and doesn't tell the submitter what the exact problem and potential solution are.

[2021-08-05 12:06] #3572 closed

[2021-08-05 12:06] danielskatz commented on #3569
Please manually open an issue in the software source code's repository - the GitHub "feature" you used doesn't work correctly - it opens the issue in the wrong repo, and doesn't tell the submitter what the exact problem and potential solution are.

[2021-08-05 12:06] #3569 closed

[2021-08-05 12:07] danielskatz commented on #3570
Please manually open an issue in the software source code's repository - the GitHub "feature" you used doesn't work correctly - it opens the issue in the wrong repo, and doesn't tell the submitter what the exact problem and potential solution are.

[2021-08-05 12:07] #3570 closed

[2021-08-05 12:08] danielskatz commented on #3471
@hechth - you will need to manually open these issues in the software repository.  The GitHub feature you used opens them in the JOSS reviews repository, which is only used for the overall review of all JOSS papers.

[2021-08-05 12:08] danielskatz commented on #3571
Please manually open an issue in the software source code's repository - the GitHub "feature" you used doesn't work correctly - it opens the issue in the wrong repo, and doesn't tell the submitter what the exact problem and potential solution are.

[2021-08-05 12:08] #3571 closed

[2021-08-05 12:13] danielskatz commented on #3564
My guess, from the error message, is that there's a problem with an svg image - since I see 2 such errors, and I see two svg images in https://github.com/GRChombo/GRChombo/tree/feature/joss_paper/figures, my thought is that JOSS doesn't handle svg images and that these images could be converted to pngs by the authors.

[2021-08-05 12:14] hechth commented on #3471
@danielskatz I added links to the respective issues which are relevant for the certain point in the checklist to the issues, hope this is fine!

[2021-08-05 12:22] danielskatz commented on #3471
When you opened the issues, I thought you used the GitHub "convert to issue" feature, which doesn't work with JOSS, as it opens the issues in the wrong repository (the one where JOSS reviews go, and where automated JOSS processing works on them), rather than the source repository (in this case, https://github.com/virtual-vehicle/pointcloudset/), where issues need to opened manually (via https://gi

[2021-08-05 12:29] wsarce commented on #3455
@osorensen, the title of the archive has been updated.

[2021-08-05 12:31] alexlib commented on #3260
Sorry, very busy right now. Will be ready to take some time in a month.
Tried to test the software but didn't find the test cases. Are they attached to the submission?

[2021-08-05 12:45] matt-graham commented on #3397
Agreed - I am also happy to recommend to accept. Thanks @karink520 for all your work in fixing the issues we raised!

[2021-08-05 12:59] osorensen commented on #3455
@whedon generate pdf

[2021-08-05 12:59] whedon commented on #3455
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: :point_left:

[2021-08-05 13:05] whedon commented on #3521
:wave: @ojeda-e, please update us on how your review is going (this is an automated reminder).

[2021-08-05 13:05] whedon commented on #3521
:wave: @blakeaw, please update us on how your review is going (this is an automated reminder).

[2021-08-05 13:05] whedon commented on #3521
:wave: @lilyminium, please update us on how your review is going (this is an automated reminder).

[2021-08-05 13:06] wsarce commented on #3455
@whedon check references

[2021-08-05 13:07] whedon commented on #3455
[code]

[2021-08-05 13:07] wsarce commented on #3455
@whedon generate pdf

[2021-08-05 13:07] whedon commented on #3455
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03455/joss.03455/10.21105.joss.03455.pdf) :page_facing_up: :point_left:

[2021-08-05 13:12] wsarce commented on #3455
@osorensen, that reference issue should be fixed.

[2021-08-05 13:12] osorensen commented on #3455
@whedon recommend-accept

[2021-08-05 13:12] whedon commented on #3455
[code]

[2021-08-05 13:12] whedon commented on #3455
[code]

[2021-08-05 13:12] whedon commented on #3455
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2496

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2496, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-05 13:15] whedon commented on #3522
:wave: @cmaimone, please update us on how your review is going (this is an automated reminder).

[2021-08-05 13:15] whedon commented on #3522
:wave: @alexhanna , please update us on how your review is going (this is an automated reminder).

[2021-08-05 13:16] fraukewiese commented on #3549
Great, thanks a lot @lisazeyen . Yes, we need two reviewers for the paper. So I will start the review as soon as we have two reviewers signed up. I will wait for the response from @fwitte end of this week if he can can review this submission.

[2021-08-05 13:18] fraukewiese commented on #3341
Great, thanks @mewilhel !

[2021-08-05 13:18] fraukewiese commented on #3341
@whedon add @mewilhel  as reviewer

[2021-08-05 13:18] whedon commented on #3341
OK, @mewilhel  is now a reviewer

[2021-08-05 13:19] osorensen commented on #3562
@Kevin-Mattheus-Moerman, I'd be happy to edit this submission.

[2021-08-05 13:20] fraukewiese commented on #3341
@whedon start review

[2021-08-05 13:20] whedon opened #3574 "[REVIEW]: LoadProfileGenerator: An Agent-Based Behavior Simulation for Generating Residential Load Profiles"
**Submitting author:** @noah80 (<a href="http://orcid.org/0000-0002-1982-8794">Noah</a>)
**Repository:** https://github.com/FZJ-IEK3-VSA/LoadProfileGenerator
**Branch with paper.md** (empty if default branch):
**Version:** v10.8.0
**Editor:** @fraukewiese
**Reviewers:** @mewilhel, @szkafander
**Archive:** 10.5281/zenodo.6304843

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-08-05 13:20] whedon commented on #3341
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3574.

[2021-08-05 13:20] #3341 closed

[2021-08-05 13:20] whedon commented on #3574
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @samuelduchesne , @mewilhel  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-08-05 13:20] whedon commented on #3574
Wordcount for `paper.md` is 1054

[2021-08-05 13:20] whedon commented on #3574
[code]

[2021-08-05 13:20] whedon commented on #3574
[code]

[2021-08-05 13:20] whedon commented on #3574
Failed to discover a valid open source license.

[2021-08-05 13:21] whedon commented on #3574
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03574/joss.03574/10.21105.joss.03574.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03574/joss.03574/10.21105.joss.03574.pdf) :page_facing_up: :point_left:

[2021-08-05 13:22] danielskatz commented on #3562
@osorensen - feel free to assign this to yourself, using `@whedon assign me as editor` (and feel free to do this going forward when you see something that is of interest to you, as long as it's not undergoing scope review)

[2021-08-05 13:23] fraukewiese commented on #3341
@mewilhel, @samuelduchesne – thanks a lot for agreeing to review here! See you over in #3574 where the actual review will take place.

[2021-08-05 13:23] osorensen commented on #3562
@whedon assign @osorensen as editor

[2021-08-05 13:23] whedon commented on #3562
OK, the editor is @osorensen

[2021-08-05 13:24] osorensen commented on #3410
@whedon assign @osorensen as editor

[2021-08-05 13:24] whedon commented on #3410
OK, the editor is @osorensen

[2021-08-05 13:26] osorensen commented on #3410
@whedon generate pdf

[2021-08-05 13:27] whedon commented on #3410
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03410/joss.03410/10.21105.joss.03410.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03410/joss.03410/10.21105.joss.03410.pdf) :page_facing_up: :point_left:

[2021-08-05 13:34] osorensen commented on #3410
@rlonka, I'm now the editor for this submission. If you know of any potential reviewers, could you please state their GitHub usernames in this thread (without the leading @ before the username)?

[2021-08-05 13:40] osorensen commented on #3562
@AKUMAR0019, I'm now the editor for this submission. If you know of any potential reviewers, please mention their GitHub username in this thread (without the leading @).

[2021-08-05 13:40] osorensen commented on #3562
@whedon generate pdf

[2021-08-05 13:41] whedon commented on #3562
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03562/joss.03562/10.21105.joss.03562.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03562/joss.03562/10.21105.joss.03562.pdf) :page_facing_up: :point_left:

[2021-08-05 13:49] osorensen commented on #3562
@kasbohm, @devDonnn, @sealhuang, @snastase, @dr-xenia, would any of you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-08-05 13:51] mirenradia commented on #3564
This is rather strange since the [GitHub action run](https://github.com/GRChombo/GRChombo/actions/runs/1093660595) to build a preview of the paper passed successfully as well as the docker image. Is it possible to make these consistent with the actual PDF generator?

For now, I will convert the SVG images to PNGs.

[2021-08-05 13:51] whedon commented on #3523
:wave: @agahkarakuzu, please update us on how your review is going (this is an automated reminder).

[2021-08-05 13:51] whedon commented on #3523
:wave: @matteomancini, please update us on how your review is going (this is an automated reminder).

[2021-08-05 13:52] osorensen commented on #3410
@callumrollo, @alesarrett, @molgor, @ethanwhite, @giskid, @evaristor, would any of you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-08-05 13:55] karink520 commented on #3397
@matt-graham , @pmyteh , thank you both so much for your thorough and helpful feedback on PyEI!

[2021-08-05 13:59] callumrollo commented on #3410
@osorensen I'm happy to review this

[2021-08-05 14:10] osorensen commented on #3410
@whedon add @callumrollo as reviewer

[2021-08-05 14:10] whedon commented on #3410
OK, @callumrollo is now a reviewer

[2021-08-05 14:11] jarrah42 commented on #3143
I lost my window this week, but I'll take a look next week.

[2021-08-05 14:16] fraukewiese commented on #3574
@samuelduchesne , @mewilhel – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisf

[2021-08-05 14:21] fraukewiese commented on #3574
@noah80 I see that you name the MIT-license in your readme but it is not recognized by Github, probably the license-file is missing - could you please check on that?

[2021-08-05 14:24] noah80 commented on #3574
Thanks for agreeing to the review!

I fixed the license issue just now. Thanks for pointing that out.

If I can help in any way with the review, let me know?

[2021-08-05 14:40] mirenradia commented on #3564
Done.

[2021-08-05 15:50] whedon commented on #3524
:wave: @HerrMo, please update us on how your review is going (this is an automated reminder).

[2021-08-05 15:50] whedon commented on #3524
:wave: @rcannood, please update us on how your review is going (this is an automated reminder).

[2021-08-05 16:19] klevis-a commented on #3490
@nnadeau @adi3 I have now addressed the currently open issues. I have left them open since I thought they would be easier to track this way. @nnadeau feel free to close them as you review the changes. Otherwise, I can close them - whichever makes this process easier.

[2021-08-05 16:34] AKUMAR0019 commented on #3562
@whedon list reviewers

[2021-08-05 16:34] whedon commented on #3562
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-08-05 16:43] AKUMAR0019 commented on #3562
Thank you @osorensen for agreeing to edit this paper!

**_A list of potential reviewers:_**
robbisg
htwangtw
SRSteinkamp
richford
62442katieb
a3sha2
peerherholz
Remi-Gau
matteomancini
dr-xenia
mwegrzyn
mih
JonathanReardon
sealhuang

[2021-08-05 16:59] zoometh commented on #3519
@whedon check references

[2021-08-05 16:59] whedon commented on #3519
[code]

[2021-08-05 17:04] zoometh commented on #3519
@fAndreuzzi  All right, that's fine for me. Great job.

[2021-08-05 17:13] fboehm commented on #3393
Thank you!

[2021-08-05 17:14] fboehm commented on #3393
@whedon recommend-accept

[2021-08-05 17:14] whedon commented on #3393
[code]

[2021-08-05 17:15] whedon commented on #3393
[code]

[2021-08-05 17:16] whedon commented on #3393
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2497

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2497, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-05 17:22] osorensen commented on #3562
@robbisg @htwangtw @JonathanReardon would any of you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-08-05 17:36] jkrumbiegel commented on #3349
@gaelforget Ok I think I have implemented your suggestions now. Fixed the typo, improved the broken sentence, and included more information about the feasibility of the large plot (a comment that a user might need more gpu power for 100 million) and what's possible with CairoMakie vs GLMakie (2D subset with some 3D capabilities).

If you have any other suggestions, let me know!

[2021-08-05 17:37] jkrumbiegel commented on #3349
Oh and the version here still says ` Version: v.0.17.4` which was AbstractPlotting, we should probably change that to `v.0.15.0` which is the latest Makie.jl

[2021-08-05 17:38] ethanwhite commented on #3410
@osorensen I'm happy to review this

[2021-08-05 17:39] htwangtw commented on #3562
@osorensen I am interested but I am only available after the 17th of August. Is that okay?

[2021-08-05 18:51] ashwinvis commented on #3418
@pdebuyl I will be back from my leave on September.

[2021-08-05 19:01] osorensen commented on #3562
@htwangtw thanks, that's very ok!

[2021-08-05 19:01] osorensen commented on #3562
@whedon add @htwangtw as reviewer

[2021-08-05 19:01] whedon commented on #3562
OK, @htwangtw is now a reviewer

[2021-08-05 19:02] osorensen commented on #3410
@whedon add @ethanwhite as reviewer

[2021-08-05 19:02] whedon commented on #3410
OK, @ethanwhite is now a reviewer

[2021-08-05 19:03] osorensen commented on #3410
@whedon start review

[2021-08-05 19:03] whedon opened #3575 "[REVIEW]: The MarINvaders Toolkit"
**Submitting author:** @rlonka (<a href="http://orcid.org/0000-0002-5815-8682">Radek Lonka</a>)
**Repository:** <a href="https://gitlab.com/marinvaders/marinvaders" target ="_blank">https://gitlab.com/marinvaders/marinvaders</a>
**Version:** 0.3.2
**Editor:** @osorensen
**Reviewer:** @callumrollo, @ethanwhite
**Archive:** <a href="https://doi.org/10.5281/zenodo.4621392" target="_blank">10.5281/zen

[2021-08-05 19:03] whedon commented on #3410
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3575.

[2021-08-05 19:03] #3410 closed

[2021-08-05 19:03] whedon commented on #3575
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @callumrollo, @ethanwhite it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-08-05 19:03] whedon commented on #3575
Wordcount for `paper.md` is 920

[2021-08-05 19:04] whedon commented on #3575
[code]

[2021-08-05 19:04] whedon commented on #3575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03575/joss.03575/10.21105.joss.03575.pdf) :page_facing_up: :point_left:

[2021-08-05 19:04] whedon commented on #3575
[code]

[2021-08-05 19:06] osorensen commented on #3459
@mgxd, could you please update us on how it's going with the issues opened by the reviewers in the source repository?

[2021-08-05 19:08] dpsanders commented on #3451
👋 @LMMorgan: Apologies for the delay in getting to this. This looks like a nice package and paper!

Here are some initial comments:

- I suggest to reorder the text so that a non-specialist reader immediately understands the context, e.g. by putting the Statement of Need first

- Please explain what VASP and LAMMPS are, with references, and what they output that you then fit.

- Do you have refere

[2021-08-05 19:11] dpsanders commented on #3451
Also I personally like to see a small working example of the package in the paper, with example output.

[2021-08-05 19:17] dpsanders commented on #3530
👋 @kellertuer: Thanks for submitting to JOSS! This looks like a nice package and paper.

Here are some initial comments:

- Perhaps `ManifoldOptimization.jl` would be a better name for the package?

- Could you please check over the paper for grammar. In particular the paragraph ending on line 48 ends in the middle of a sentence.

- Maybe include output and a figure in the paper for the example, i

[2021-08-05 19:18] dpsanders commented on #3451
Also there seems to be some inconsistency in the capitalisation of `PopOff` vs `popoff`.

[2021-08-05 19:31] kellertuer commented on #3530
Thanks for the first feedback!

Thanks for the idea. I know that in Julia abbreviations in names are not that common. The reason for the shorter name stems from the fact that manopt (small letter, no ending) is a Matlab package with the same goal since 2013 and pymanopt similarly a variant in Python. So to keep this packages the name is `Manopt.jl`.

Another point is that `ManifoldOptimization` mi

[2021-08-05 19:44] whedon commented on #3525
:wave: @StanczakDominik, please update us on how your review is going (this is an automated reminder).

[2021-08-05 19:44] whedon commented on #3525
:wave: @ZedThree, please update us on how your review is going (this is an automated reminder).

[2021-08-05 20:16] KevinShook commented on #2276
@whedon check references

[2021-08-05 20:17] whedon commented on #2276
[code]

[2021-08-05 20:18] KevinShook commented on #2276
@whedon generate pdf

[2021-08-05 20:19] whedon commented on #2276
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02276/joss.02276/10.21105.joss.02276.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02276/joss.02276/10.21105.joss.02276.pdf) :page_facing_up: :point_left:

[2021-08-05 21:16] KevinShook commented on #2276
Should I be storing the paper on Zenodo as well? As it is under a CC4 licence, I would assume that it would have to be kept separate from the program which is GPL3 - is that correct?

[2021-08-05 21:25] kbarnhart commented on #2276
The entire repo at https://github.com/CentreForHydrology/WDPM is what should be in the Zenodo archive.

I'd expect that the .bib and the .md for the paper are covered under the repository's license, while the final publication is what would be under the CC4. I am not a license expert though.

I think that answers the question, but if it doesn't, let me know.

[2021-08-05 21:26] KevinShook commented on #2276
Ah, thanks very much, that's a big help

[2021-08-05 21:43] kanderso-nrel commented on #3460
@arfon I'm not sure the `LICENSE.txt` is acceptable as I don't think it matches the official GPLv3 text.  But I'm not a lawyer, can you take a look from JOSS's perspective?  Also @phoebe-p I notice that `setup.py` says the package is licensed LGPL rather than GPL, I suppose that should be made consistent: https://github.com/qpv-research-group/rayflare/blob/devel/setup.py#L74

[2021-08-05 21:46] danielskatz commented on #3460
The author should take a look at the "How to apply this license" section of https://choosealicense.com/licenses/gpl-3.0/

[2021-08-05 22:18] KevinShook commented on #2276
@whedon generate pdf

[2021-08-05 22:18] whedon commented on #2276
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02276/joss.02276/10.21105.joss.02276.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02276/joss.02276/10.21105.joss.02276.pdf) :page_facing_up: :point_left:

[2021-08-05 22:29] KevinShook commented on #2276
The tagged release (v2.0b) is now on GitHub:
https://github.com/CentreForHydrology/WDPM/releases/tag/v2.0b

[2021-08-06 05:30] jedbrown commented on #3551
@whedon assign @jedbrown as editor

[2021-08-06 05:31] whedon commented on #3551
OK, the editor is @jedbrown

[2021-08-06 06:10] birgitschlager commented on #3471
@whedon generate pdf from branch paper

[2021-08-06 06:10] whedon commented on #3471
[code]

[2021-08-06 06:11] whedon commented on #3471
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03471/joss.03471/10.21105.joss.03471.pdf) :page_facing_up: :point_left:

[2021-08-06 08:01] nmstreethran commented on #3528
@fraukewiese Yes, I'd be happy to review this submission.

[2021-08-06 08:07] Kevin-Mattheus-Moerman commented on #3260
@alexlib starting in a month is fine if you are okay with that too. I have two other reviewers that could start at that time. We do [require](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) testing and encourage automated tests. The author @mikesmithlab might be able to comment on this.

[2021-08-06 08:09] Kevin-Mattheus-Moerman commented on #3260
@tacaswell @nkeim @alexlib each of you seems to be available in a month or so. We can be flexible so this timing is acceptable. Therefore if it is okay with I would like to assign you as reviewer at this point and I will ping you in about a month, does that sound okay?

[2021-08-06 08:11] Kevin-Mattheus-Moerman commented on #3564
@whedon generate pdf from branch feature/joss_paper

[2021-08-06 08:11] whedon commented on #3564
[code]

[2021-08-06 08:12] whedon commented on #3564
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03564/joss.03564/10.21105.joss.03564.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03564/joss.03564/10.21105.joss.03564.pdf) :page_facing_up: :point_left:

[2021-08-06 08:14] Kevin-Mattheus-Moerman commented on #3564
@eloisabentivegna this sounds like your cup of tea, once you are available, do you think you can help edit this submission? Thanks.

[2021-08-06 08:16] ZedThree commented on #3525
Mostly done, I need to dig a bit more into the functionality and API docs. But generally, everything's been of a high standard so far.

[2021-08-06 08:16] Kevin-Mattheus-Moerman commented on #3565
@tpoisot Can you explain the difference. They should be the same, and I have not noticed a difference. If this is true I had to get our tech support to have a look at this.

[2021-08-06 08:20] Kevin-Mattheus-Moerman commented on #3565
@tpoisot I have flagged this submission for additional scope review, to ensure it conforms to our ["substantial scholarly effort criteria"](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This is typical for submissions of this size, i.e. where the core functionality appears to be captured by <= 1000 lines a of code.

[2021-08-06 08:21] robbisg commented on #3562
I can review as well.

[2021-08-06 08:21] Kevin-Mattheus-Moerman commented on #3566
@whedon generate pdf from branch joss-paper

[2021-08-06 08:21] whedon commented on #3566
[code]

[2021-08-06 08:22] whedon commented on #3566
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03566/joss.03566/10.21105.joss.03566.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03566/joss.03566/10.21105.joss.03566.pdf) :page_facing_up: :point_left:

[2021-08-06 08:22] Kevin-Mattheus-Moerman commented on #3566
@mattdahl see above that is how you can also generate/update the paper from that branch later if needed :point_up_2:

[2021-08-06 08:23] tgoelles commented on #3572
@hechth please open this issue in our repo

[2021-08-06 08:24] tgoelles commented on #3573
@hechth please open this issue in our repo

[2021-08-06 08:26] Kevin-Mattheus-Moerman commented on #3566
@danielskatz given your work on citations for software / software for citations, would this be something you could help edit once you are available?

[2021-08-06 08:27] Kevin-Mattheus-Moerman commented on #3566
@mattdahl I have added the `waitlisted` label to this submission just now because all of our editors in this domain are currently not available (handling many other submissions). We will assign one as soon as one becomes available. Thanks for your patience.

[2021-08-06 08:33] whedon opened #3576 "[PRE REVIEW]: Nempy: A Python package for modelling the Australian National Electricity Market dispatch procedure"
**Submitting author:** @nick-gorman (<a href="http://orcid.org/0000-0002-6505-761X">Nicholas Gorman</a>)
**Repository:** <a href="https://github.com/UNSW-CEEM/nempy" target ="_blank">https://github.com/UNSW-CEEM/nempy</a>
**Version:** v1.0.1
**Editor:** @timtroendle
**Reviewers:** @noah80, @robinroche
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-08-06 08:33] whedon commented on #3576
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 08:33] whedon commented on #3576
PDF failed to compile for issue #3576 with the following error:
[code]

[2021-08-06 08:33] whedon commented on #3576
[code]

[2021-08-06 09:04] callumrollo opened #3577 "Contribution and authorship: Has the submitting author (@rlonka) made major contributions to the software? Does the full list of paper authors seem appropriate and complete?"
Both Radek Lonka and Konstantin Stadler have contributed significantly to the codebase. The contribution of Francesca Verones to this submission is unclear. Could the lead author please clarify?

[2021-08-06 09:04] whedon commented on #3577
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 09:04] whedon commented on #3577
Downloading of the repository (to analyze the language) for issue #3577 failed with the following error:
[code]

[2021-08-06 09:04] whedon commented on #3577
Downloading of the repository (to check the bibtex) failed for issue #3577 failed with the following error:
[code]

[2021-08-06 09:04] whedon commented on #3577
PDF failed to compile for issue #3577 with the following error:
[code]

[2021-08-06 09:07] #3577 closed

[2021-08-06 09:10] callumrollo commented on #3575
Authorship: Both Radek Lonka and Konstantin Stadler have contributed significantly to the codebase. The contribution of Francesca Verones to this submission is unclear. Could the lead author please clarify this?

[2021-08-06 09:14] kellertuer commented on #3530
I addressed the points from the second and third point in the most recent commit.

[2021-08-06 09:14] kellertuer commented on #3530
@whedon generate pdf from branch joss

[2021-08-06 09:14] whedon commented on #3530
[code]

[2021-08-06 09:15] whedon commented on #3530
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03530/joss.03530/10.21105.joss.03530.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03530/joss.03530/10.21105.joss.03530.pdf) :page_facing_up: :point_left:

[2021-08-06 09:32] osorensen commented on #3562
@whedon add @robbisg as reviewer

[2021-08-06 09:32] whedon commented on #3562
OK, @robbisg is now a reviewer

[2021-08-06 09:32] osorensen commented on #3562
@whedon start review

[2021-08-06 09:33] whedon opened #3578 "[REVIEW]: The Neuroimaging Data Model (NIDM) Linear Regression Tool"
**Submitting author:** @AKUMAR0019 (<a href="http://orcid.org/0000-0001-8076-7620">Ashmita Kumar</a>)
**Repository:** <a href="https://github.com/incf-nidash/PyNIDM" target ="_blank">https://github.com/incf-nidash/PyNIDM</a>
**Version:** v.3.8.2
**Editor:** @osorensen
**Reviewer:** @htwangtw, @robbisg
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-08-06 09:33] whedon commented on #3562
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3578.

[2021-08-06 09:33] #3562 closed

[2021-08-06 09:33] whedon commented on #3578
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @htwangtw, @robbisg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-08-06 09:33] whedon commented on #3578
Wordcount for `paper.md` is 1611

[2021-08-06 09:33] whedon commented on #3578
[code]

[2021-08-06 09:33] whedon commented on #3578
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03578/joss.03578/10.21105.joss.03578.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03578/joss.03578/10.21105.joss.03578.pdf) :page_facing_up: :point_left:

[2021-08-06 09:33] whedon commented on #3578
[code]

[2021-08-06 09:39] whedon commented on #3526
:wave: @mseri, please update us on how your review is going (this is an automated reminder).

[2021-08-06 09:39] whedon commented on #3526
:wave: @myousefi2016, please update us on how your review is going (this is an automated reminder).

[2021-08-06 09:45] ajstewartlang commented on #3553
@whedon assign @cjbarrie as reviewer

[2021-08-06 09:45] whedon commented on #3553
OK, @cjbarrie is now a reviewer

[2021-08-06 10:02] kellertuer commented on #3530
Oh, my figure approach does not yet work, I will check for that soon.

[2021-08-06 10:10] kellertuer commented on #3530
@whedon generate pdf from branch joss

[2021-08-06 10:10] whedon commented on #3530
[code]

[2021-08-06 10:10] whedon commented on #3530
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03530/joss.03530/10.21105.joss.03530.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03530/joss.03530/10.21105.joss.03530.pdf) :page_facing_up: :point_left:

[2021-08-06 11:14] nick-gorman commented on #3576
@whedon generate pdf from branch joss-paper

[2021-08-06 11:14] whedon commented on #3576
[code]

[2021-08-06 11:14] whedon commented on #3576
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03576/joss.03576/10.21105.joss.03576.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03576/joss.03576/10.21105.joss.03576.pdf) :page_facing_up: :point_left:

[2021-08-06 11:24] nick-gorman commented on #3576
Some potentially relevant reviewers are: mewilhel, noah80, willu47, milicag, ralphevins, blthayer, robinroche

[2021-08-06 12:28] tpoisot commented on #3565
This might have been a cache issue, they're the same on my end now too

[2021-08-06 12:31] tpoisot commented on #3565
Can you give some more details as to what the review criteria are?

[2021-08-06 12:35] danielskatz commented on #3566
@Kevin-Mattheus-Moerman - ok, while this isn't exactly my area, I might be closer than any of our other editors

[2021-08-06 12:35] danielskatz commented on #3566
@whedon assign me as editor

[2021-08-06 12:35] whedon commented on #3566
OK, the editor is @danielskatz

[2021-08-06 12:37] danielskatz commented on #3566
👋 @mattdahl - Can you suggest some potential reviewers by mentioning them here in this thread, ideally by github username if known (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-08-06 12:51] ulf1 commented on #3324
@mikldk the PDF looks ok to me

[2021-08-06 13:02] mikldk commented on #3324
@whedon check references

[2021-08-06 13:02] whedon commented on #3324
[code]

[2021-08-06 13:03] mikldk commented on #3324
@whedon generate pdf

[2021-08-06 13:03] whedon commented on #3324
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: :point_left:

[2021-08-06 13:12] mikldk commented on #3324
@ejhigson, @jakryd: Thank you for your reviews.

@ulf1 :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as describe

[2021-08-06 13:15] arfon commented on #2731
I just emailed @essepuntato directly to see when they might be able to complete their review by.

[2021-08-06 13:16] arfon commented on #3376
:wave: @rchew – how are you getting along here with your review?

[2021-08-06 13:16] rlonka commented on #3575
Francesca Verones, as PI of the ATLANTIS project, had the idea of creating such a package. She has the overall scientific lead of the marinvaders project. She identified the relevant data sources and did integration and usability tests of the overall package, in particular in regard to scientific soundness.

[2021-08-06 13:17] arfon commented on #2780
Thanks @onurvarol. Any news on possible updates?

[2021-08-06 13:17] fraukewiese commented on #3528
Great! Thanks @nmstreethran
I will add you as a reviewer now but won't actually start the review until we have a second reviewer signed up.

[2021-08-06 13:19] fraukewiese commented on #3528
@whedon add @nmstreethran as reviewer

[2021-08-06 13:19] whedon commented on #3528
OK, @nmstreethran is now a reviewer

[2021-08-06 13:28] onurvarol commented on #2780
Hi @arfon, our new member working on the changes and we will submit the revisions in a month. Thank you for your patience and following this up.

[2021-08-06 13:31] IndrajeetPatil commented on #3393
🎉 🎉 🎉

Thanks a lot, everyone, for your helpful feedback. It has significantly improved the quality of both the manuscript and the software! 🙇

[2021-08-06 13:59] jonjoncardoso commented on #3519
Hi! I haven't been able to properly start reviewing of the paper and code yet but I should do that soon in the next few days :)

[2021-08-06 14:05] danielskatz commented on #3565
They are in the link you quoted.

[2021-08-06 14:06] tpoisot commented on #3565
@danielskatz I was wondering about the specific info you're looking for when submissions are under 1000 sloc (out of curiosity)

[2021-08-06 14:07] danielskatz commented on #3565
See the other bullets in that list

[2021-08-06 15:33] callumrollo commented on #3575
Issue with installation guidelines, conda command does not work:

`conda update -c conda-forge MarINvaders`

I think this should be

`conda install -c conda-forge MarINvaders`

[2021-08-06 15:42] whedon opened #3579 "[PRE REVIEW]: Synaptus: A Matlab/Octave toolbox for synthetic aperture ultrasound imaging"
**Submitting author:** @mh-skjelvareid (<a href="http://orcid.org/0000-0003-2103-865X">Martin H. Skjelvareid</a>)
**Repository:** <a href="https://github.com/mh-skjelvareid/synaptus" target ="_blank">https://github.com/mh-skjelvareid/synaptus</a>
**Version:** v1.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-08-06 15:42] whedon commented on #3579
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 15:42] whedon commented on #3579
PDF failed to compile for issue #3579 with the following error:
[code]

[2021-08-06 15:42] whedon commented on #3579
[code]

[2021-08-06 15:44] arfon commented on #3579
@whedon generate pdf from branch paper

[2021-08-06 15:44] whedon commented on #3579
[code]

[2021-08-06 15:45] whedon commented on #3579
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: :point_left:

[2021-08-06 15:50] rkurchin commented on #3546
@fgjorup, reminder to answer @mikapfl's question when you get a chance, as well as the issue he opened on your repository: https://github.com/fgjorup/Reel/issues/3

@cmbiwer, please reach out if you have any questions about getting your review started.

[2021-08-06 15:51] arfon commented on #3579
:wave: @mh-skjelvareid. Thanks for your submission to JOSS. Could you make some updates to your paper to make the perspective of the writing the same? Towards the end of the paper you write:

To keep this consistent with the rest of the paper please change this to e.g., _Although the toolbox started out as a summary of a PhD program, efforts have since begun focused on other research topics,_ (hop

[2021-08-06 15:51] whedon opened #3580 "[PRE REVIEW]: Methodnet: Formal Semantic Representations of Methods in Automatic Control"
**Submitting author:** @Rojetto (<a href="http://orcid.org/0000-0003-0031-538X">Robert Heedt</a>)
**Repository:** <a href="https://github.com/TUD-RST/methodnet/" target ="_blank">https://github.com/TUD-RST/methodnet/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-08-06 15:51] whedon commented on #3580
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 15:51] whedon commented on #3580
Wordcount for `paper.md` is 465

[2021-08-06 15:52] whedon commented on #3580
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03580/joss.03580/10.21105.joss.03580.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03580/joss.03580/10.21105.joss.03580.pdf) :page_facing_up: :point_left:

[2021-08-06 15:52] whedon commented on #3580
[code]

[2021-08-06 15:52] whedon commented on #3580
[code]

[2021-08-06 15:53] rkurchin commented on #3545
Hi @janfb and @janfreyberg, thanks for getting these reviews started! Friendly reminder to keep them going and reach out with any questions/clarifications!

[2021-08-06 15:53] arfon commented on #3580
@Rojetto – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use the

[2021-08-06 15:54] arfon commented on #3580
@whedon query scope

[2021-08-06 15:54] whedon commented on #3580
Submission flagged for editorial review.

[2021-08-06 15:57] whedon opened #3581 "[PRE REVIEW]: ESVM : An Electrostatic 1D-1V Vlasov-Maxwell code for educational purpose"
**Submitting author:** @michaeltouati (<a href="http://orcid.org/0000-0001-7590-0941">Michael Touati</a>)
**Repository:** <a href="https://github.com/michaeltouati/ESVM" target ="_blank">https://github.com/michaeltouati/ESVM</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-08-06 15:57] whedon commented on #3581
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 15:57] whedon commented on #3581
[code]

[2021-08-06 15:57] whedon commented on #3581
Wordcount for `paper.md` is 942

[2021-08-06 15:58] whedon commented on #3581
[code]

[2021-08-06 15:58] whedon commented on #3581
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03581/joss.03581/10.21105.joss.03581.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03581/joss.03581/10.21105.joss.03581.pdf) :page_facing_up: :point_left:

[2021-08-06 15:59] arfon commented on #3581
@michaeltouati – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

Additionally, this submission may be considered out of scope for JOSS due to its focus on educational use cases. Regardless, the scope review will likely ta

[2021-08-06 15:59] arfon commented on #3581
@whedon query scope

[2021-08-06 15:59] whedon commented on #3581
Submission flagged for editorial review.

[2021-08-06 16:01] whedon opened #3582 "[PRE REVIEW]: AuditoryStimuli.jl: A Julia package for generating real-time auditory stimuli"
**Submitting author:** @rob-luke (<a href="http://orcid.org/0000-0002-4930-8351">Robert Luke</a>)
**Repository:** <a href="https://github.com/rob-luke/AuditoryStimuli.jl" target ="_blank">https://github.com/rob-luke/AuditoryStimuli.jl</a>
**Version:** v0.0.11
**Editor:** @bmcfee
**Reviewers:** @vahid-sb, @jongwook
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2021-08-06 16:01] whedon commented on #3582
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 16:01] whedon commented on #3582
[code]

[2021-08-06 16:01] whedon commented on #3582
PDF failed to compile for issue #3582 with the following error:
[code]

[2021-08-06 16:11] arfon commented on #3582
@whedon generate pdf from branch manuscript

[2021-08-06 16:11] whedon commented on #3582
[code]

[2021-08-06 16:11] whedon commented on #3582
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03582/joss.03582/10.21105.joss.03582.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03582/joss.03582/10.21105.joss.03582.pdf) :page_facing_up: :point_left:

[2021-08-06 16:15] arfon commented on #3582
@whedon invite @bmcfee as editor

:wave: @bmcfee - would you be able to handle this submission for us?

[2021-08-06 16:15] whedon commented on #3582
@bmcfee has been invited to edit this submission.

[2021-08-06 16:17] whedon opened #3583 "[PRE REVIEW]: obscura: A modular C++ tool and library for the direct detection of (sub-GeV) dark matter via nuclear and electron recoils"
**Submitting author:** @temken (<a href="http://orcid.org/0000-0002-4251-2229">Timon Emken</a>)
**Repository:** <a href="https://github.com/temken/obscura" target ="_blank">https://github.com/temken/obscura</a>
**Version:** v0.1.1
**Editor:** @lucydot
**Reviewers:** @rafaelab @villaa
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2021-08-06 16:17] whedon commented on #3583
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 16:17] whedon commented on #3583
Wordcount for `paper.md` is 1207

[2021-08-06 16:17] whedon commented on #3583
[code]

[2021-08-06 16:17] whedon commented on #3583
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03583/joss.03583/10.21105.joss.03583.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03583/joss.03583/10.21105.joss.03583.pdf) :page_facing_up: :point_left:

[2021-08-06 16:17] whedon commented on #3583
[code]

[2021-08-06 16:24] janfreyberg commented on #3545
Thanks for the reminder! Have opened another issue on the repository.

[2021-08-06 16:26] bmcfee commented on #3582
:+1: sure, happy to!

[2021-08-06 16:38] whedon commented on #3527
:wave: @malmaud, please update us on how your review is going (this is an automated reminder).

[2021-08-06 16:38] whedon commented on #3527
:wave: @rMassimiliano, please update us on how your review is going (this is an automated reminder).

[2021-08-06 16:39] arfon commented on #3583
@temken – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-08-06 16:40] arfon commented on #3576
@nick-gorman - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-08-06 16:42] whedon opened #3584 "[PRE REVIEW]: Fresa: a plant propagation algorithm for black-box single and multiple objective optimization"
**Submitting author:** @ericsfraga (<a href="http://orcid.org/0000-0002-5732-6082">Eric S Fraga</a>)
**Repository:** <a href="https://github.com/ericsfraga/Fresa.jl" target ="_blank">https://github.com/ericsfraga/Fresa.jl</a>
**Version:** v7.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-08-06 16:42] whedon commented on #3584
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 16:42] whedon commented on #3584
[code]

[2021-08-06 16:42] whedon commented on #3584
PDF failed to compile for issue #3584 with the following error:
[code]

[2021-08-06 16:42] arfon commented on #3584
@whedon generate pdf from branch joss

[2021-08-06 16:42] whedon commented on #3584
[code]

[2021-08-06 16:43] whedon commented on #3584
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03584/joss.03584/10.21105.joss.03584.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03584/joss.03584/10.21105.joss.03584.pdf) :page_facing_up: :point_left:

[2021-08-06 16:44] arfon commented on #3584
@ericsfraga – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-08-06 16:44] arfon commented on #3584
@whedon query scope

[2021-08-06 16:44] whedon commented on #3584
Submission flagged for editorial review.

[2021-08-06 16:44] whedon opened #3585 "[PRE REVIEW]: HydDown: A Python package for calculation of hydrogen (or other gas) pressure vessel filling and discharge"
**Submitting author:** @andr1976 (<a href="http://orcid.org/0000-0003-0475-323X">Anders Andreasen</a>)
**Repository:** <a href="https://github.com/andr1976/HydDown" target ="_blank">https://github.com/andr1976/HydDown</a>
**Version:** v0.15.1
**Editor:** @fraukewiese
**Reviewers:** @mefuller, @bocklund
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-08-06 16:44] whedon commented on #3585
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 16:44] whedon commented on #3585
Wordcount for `paper.md` is 1175

[2021-08-06 16:44] whedon commented on #3585
[code]

[2021-08-06 16:44] whedon commented on #3585
PDF failed to compile for issue #3585 with the following error:
[code]

[2021-08-06 16:45] whedon commented on #3585
[code]

[2021-08-06 16:46] arfon commented on #3585
@andr1976 – your author entry is missing an affiliation, and your affiliation missing an index. Please check out of the example paper to see how this YAML should be structured: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2021-08-06 16:46] whedon opened #3586 "[PRE REVIEW]: SPAM : an Open Source Code for Stopping Power of Protons and Alpha particles in Ambiant Matter"
**Submitting author:** @michaeltouati (<a href="http://orcid.org/0000-0001-7590-0941">Michael Touati</a>)
**Repository:** <a href="https://github.com/michaeltouati/SPAM" target ="_blank">https://github.com/michaeltouati/SPAM</a>
**Version:** v1.0.0
**Editor:** @lucydot
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-08-06 16:46] whedon commented on #3586
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 16:47] whedon commented on #3586
Wordcount for `paper.md` is 1092

[2021-08-06 16:47] whedon commented on #3586
[code]

[2021-08-06 16:47] whedon commented on #3586
[code]

[2021-08-06 16:47] whedon commented on #3586
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03586/joss.03586/10.21105.joss.03586.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03586/joss.03586/10.21105.joss.03586.pdf) :page_facing_up: :point_left:

[2021-08-06 16:50] michaeltouati commented on #3581
joglekara	Python
C++	C
FORTRAN
MATLAB
Mathematica	Noble.AI <http://noble.ai/>	***@***.***	Plasma Physics
Kinetic Physics
Numerical Methods
Electromagnetics

[2021-08-06 16:55] michaeltouati commented on #3581
Potential reviewers :

StanczakDominik	Python
Julia		University of Warsaw	***@***.***	Numerical simulation
Physics (plasmas, especially)

rogeriojorge	Python, C++, Mathematica, Matlab	Fortran	Max-Planck Institute for Plasma Physics, Greifswald, Germany	***@***.***	Physics, Plasma Physics, Nuclear Fusion

sigvaldm	Python
C
C++
Fortran	Haskell	University of Oslo	***@***.***	Computational Physics
Pla

[2021-08-06 17:10] koaning commented on #3448
I just added the table with the comparison.

[2021-08-06 17:51] bmcfee commented on #3582
@whedon assign @bmcfee as editor

[2021-08-06 17:51] whedon commented on #3582
OK, the editor is @bmcfee

[2021-08-06 18:25] arfon commented on #3586
@michaeltouati - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-08-06 18:25] whedon opened #3587 "[PRE REVIEW]: mctreesearch4j: A Monte Carlo Tree Search Implementation for the JVM"
**Submitting author:** @larkz (<a href="http://orcid.org/0000-0002-9375-1035">Larkin Liu</a>)
**Repository:** <a href="https://github.com/JunTaoLuo/mctreesearch4j" target ="_blank">https://github.com/JunTaoLuo/mctreesearch4j</a>
**Version:** v0.0.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-08-06 18:25] whedon commented on #3587
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 18:25] whedon commented on #3587
Wordcount for `paper.md` is 1569

[2021-08-06 18:25] whedon commented on #3587
[code]

[2021-08-06 18:25] whedon commented on #3587
[code]

[2021-08-06 18:26] whedon commented on #3587
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03587/joss.03587/10.21105.joss.03587.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03587/joss.03587/10.21105.joss.03587.pdf) :page_facing_up: :point_left:

[2021-08-06 18:50] arfon commented on #3124
:wave: @nsaunier and @abhishekbajpayee – just checking in here. Do you think you might be able to complete your initial reviews in the next week or so? This submission has been waiting on your reviews for quite some time now.

[2021-08-06 18:53] arfon commented on #3586
@whedon invite @lucydot as editor

:wave: @lucydot – would you be able to edit this submission for JOSS?

[2021-08-06 18:53] whedon commented on #3586
@lucydot has been invited to edit this submission.

[2021-08-06 18:53] whedon opened #3588 "[PRE REVIEW]: AstronomicAL: an interactive dashboard for visualisation, integration and classification of data with Active Learning"
**Submitting author:** @grant-m-s (<a href="http://orcid.org/0000-0002-8885-4443">Grant Stevens</a>)
**Repository:** <a href="https://github.com/grant-m-s/astronomicAL" target ="_blank">https://github.com/grant-m-s/astronomicAL</a>
**Version:** v1.0.0
**Editor:** @crvernon
**Reviewers:** @crhea93, @rmorgan10
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-08-06 18:53] whedon commented on #3588
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-06 18:53] whedon commented on #3588
[code]

[2021-08-06 18:53] whedon commented on #3588
PDF failed to compile for issue #3588 with the following error:
[code]

[2021-08-06 18:54] arfon commented on #3588
@whedon generate pdf from branch joss-paper-branch

[2021-08-06 18:54] whedon commented on #3588
[code]

[2021-08-06 18:54] whedon commented on #3588
PDF failed to compile for issue #3588 with the following error:
[code]

[2021-08-06 18:58] arfon commented on #3587
@larkz - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-08-06 19:07] oneilsh commented on #3543
Hi @taless474, quick question: I just noticed a couple of minor typos in the documentation. Should I fix them right away or not make any adjustments to the codebase while the review is ongoing?

[2021-08-06 20:10] rob-luke commented on #3582
Thanks @arfon and @bmcfee. I'm excited to go through this process together.

[2021-08-06 20:24] arfon commented on #3203
@whedon accept deposit=true

[2021-08-06 20:25] whedon commented on #3203
[code]

[2021-08-06 20:25] whedon commented on #3203
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1423742075644878854) 👈 🐦🐦🐦

[2021-08-06 20:25] whedon commented on #3203
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2498
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03203](https://doi.org/10.21105/joss.03203)
2. If everything look

[2021-08-06 20:27] bmcfee commented on #3582
:wave: hi @rob-luke !  I'll be tracking down reviewers over the coming days.

[2021-08-06 20:38] arfon commented on #3203
@igarizio, @milicag – many thanks for your reviews here and to @timtroendle for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

AUTHOR – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-06 20:38] #3203 closed

[2021-08-06 20:38] whedon commented on #3203
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03203/status.svg)](https://doi.org/10.21105/joss.03203)

**We need your help!**

Journal of Open Source Softwa

[2021-08-06 20:40] arfon commented on #3576
@whedon invite @timtroendle as editor

:wave: @timtroendle – would you be willing to edit this submission for JOSS?

[2021-08-06 20:40] whedon commented on #3576
@timtroendle has been invited to edit this submission.

[2021-08-06 20:43] arfon commented on #3393
@whedon accept deposit=true

[2021-08-06 20:43] whedon commented on #3393
[code]

[2021-08-06 20:44] whedon commented on #3393
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1423746895407689733) 👈 🐦🐦🐦

[2021-08-06 20:44] whedon commented on #3393
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2499
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03393](https://doi.org/10.21105/joss.03393)
2. If everything look

[2021-08-06 20:47] arfon commented on #3393
@MatthewSmith430, @jakobbossek – many thanks for your reviews here and to @fboehm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@strengejacke – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-06 20:47] #3393 closed

[2021-08-06 20:47] whedon commented on #3393
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03393/status.svg)](https://doi.org/10.21105/joss.03393)

**We need your help!**

Journal of Open Source Softwa

[2021-08-06 20:54] arfon commented on #3453
@whedon accept deposit=true

[2021-08-06 20:54] whedon commented on #3453
[code]

[2021-08-06 20:55] whedon commented on #3453
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1423749545905856514) 👈 🐦🐦🐦

[2021-08-06 20:55] whedon commented on #3453
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2500
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03453](https://doi.org/10.21105/joss.03453)
2. If everything look

[2021-08-06 20:57] arfon commented on #3455
@whedon accept deposit=true

[2021-08-06 20:57] whedon commented on #3455
[code]

[2021-08-06 20:58] whedon commented on #3455
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1423750330165116938) 👈 🐦🐦🐦

[2021-08-06 20:58] whedon commented on #3455
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2501
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03455](https://doi.org/10.21105/joss.03455)
2. If everything look

[2021-08-06 20:58] arfon commented on #3453
@mwt, @OwenWard – many thanks for your reviews here and to @osorensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@pfistfl  – your paper is now accepted and published in JOSS :zap::rocket::boom:

Also, congratulations to @osorensen for editing his first JOSS paper ✨!

[2021-08-06 20:58] #3453 closed

[2021-08-06 20:58] whedon commented on #3453
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03453/status.svg)](https://doi.org/10.21105/joss.03453)

**We need your help!**

Journal of Open Source Softwa

[2021-08-06 21:00] arfon commented on #3503
@whedon invite @osorensen as editor

:wave: @osorensen - would you be willing to edit this submission for JOSS?

[2021-08-06 21:00] whedon commented on #3503
@osorensen has been invited to edit this submission.

[2021-08-06 21:00] arfon commented on #3455
@professoralkmin, @AustinTSchaffer – many thanks for your reviews here and to @osorensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@wsarce  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-06 21:00] #3455 closed

[2021-08-06 21:00] whedon commented on #3455
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03455/status.svg)](https://doi.org/10.21105/joss.03455)

**We need your help!**

Journal of Open Source Softwa

[2021-08-06 21:05] arfon commented on #3457
@whedon accept deposit=true

[2021-08-06 21:05] whedon commented on #3457
[code]

[2021-08-06 21:06] whedon commented on #3457
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1423752336883728385) 👈 🐦🐦🐦

[2021-08-06 21:06] whedon commented on #3457
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2502
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03457](https://doi.org/10.21105/joss.03457)
2. If everything look

[2021-08-06 21:17] andr1976 commented on #3585
@whedon commands

[2021-08-06 21:17] whedon commented on #3585
Here are some things you can ask me to do:

[code]

[2021-08-06 21:18] arfon commented on #3457
@tobiasrausch, @wdecoster – many thanks for your reviews here and to @lpantano for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@dridk – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-06 21:18] #3457 closed

[2021-08-06 21:18] whedon commented on #3457
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03457/status.svg)](https://doi.org/10.21105/joss.03457)

**We need your help!**

Journal of Open Source Softwa

[2021-08-06 21:20] andr1976 commented on #3585
@whedon generate pdf

[2021-08-06 21:20] whedon commented on #3585
PDF failed to compile for issue #3585 with the following error:
[code]

[2021-08-06 21:21] andr1976 commented on #3585
@whedon generate pdf

[2021-08-06 21:21] whedon commented on #3585
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03585/joss.03585/10.21105.joss.03585.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03585/joss.03585/10.21105.joss.03585.pdf) :page_facing_up: :point_left:

[2021-08-06 21:25] arfon commented on #3585
@whedon invite @timtroendle as editor

:wave: @timtroendle – I realize I've just invited you on another submission too but any chance you could take this one on also?

[2021-08-06 21:25] whedon commented on #3585
@timtroendle has been invited to edit this submission.

[2021-08-06 21:30] andr1976 commented on #3585
@whedon check references

[2021-08-06 21:31] whedon commented on #3585
[code]

[2021-08-06 21:34] osorensen commented on #3503
@whedon adding @osorensen as editor

[2021-08-06 21:34] whedon commented on #3503
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-06 21:34] arfon commented on #3564
@whedon invite @rkurchin as editor

:wave: @rkurchin – I realize this is somewhat left-field for you but would you be willing to edit this submission for us? Our ideal editor (@eloisabentivegna has just gone out on maternity leave 👶).

[2021-08-06 21:34] whedon commented on #3564
@rkurchin has been invited to edit this submission.

[2021-08-06 21:35] osorensen commented on #3503
@whedon assign @osorensen as editor

[2021-08-06 21:35] whedon commented on #3503
OK, the editor is @osorensen

[2021-08-06 21:37] andr1976 commented on #3585
@arfon @timtroendle I have just noticed the JOSE sister journal to JOSS. I believe JOSS is a good fit for the submitted paper, however considering the "applied" nature of my code and it's applicability (also for teaching/education), I think it might be justified to question it as "research code" as such and you may argue that JOSE might be an equally good or better fit. Anyway, I still think JOSS

[2021-08-06 21:38] andr1976 commented on #3585
@whedon generate pdf

[2021-08-06 21:39] whedon commented on #3585
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03585/joss.03585/10.21105.joss.03585.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03585/joss.03585/10.21105.joss.03585.pdf) :page_facing_up: :point_left:

[2021-08-06 21:45] taless474 commented on #3543
Hi @oneilsh. Please go ahead and make a pull request, so the reviewers realize what the recent changes are if they were reviewing those parts.

[2021-08-06 21:55] andr1976 commented on #3585
Suggestion for reviewers (from list), fwitte, noah80, bocklund, mefuller

[2021-08-06 22:09] rusu24edward commented on #3424
Hi @drvinceknight, it looks like all the tasks have been checked off, and based on the comments I believe I've done everything requested. Thank you abhiramm7 and seba-15111 for the great review!

What are the next steps?

[2021-08-06 22:15] osorensen commented on #3503
@sealhuang @oesteban @abhishekbajpayee @yxpd @glemaitre would any of you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-08-06 22:49] dridk commented on #3457
Thanks you all !
I was really impressed with your reviewing system which is very smart ! The markdown paper, the github issue system and your awesome whedon ! It would be nice if all scientific journals did the same !

[2021-08-07 02:49] taless474 commented on #3548
@kaheetonaa, @nickbearman, @1tylermitchell will you be able to review this?

[2021-08-07 03:16] gaurav commented on #3374
@whedon generate pdf

[2021-08-07 03:17] whedon commented on #3374
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03374/joss.03374/10.21105.joss.03374.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03374/joss.03374/10.21105.joss.03374.pdf) :page_facing_up: :point_left:

[2021-08-07 03:21] gaurav commented on #3374
@iimog @jcoliver Thank you so much for your reviews! My co-authors and I have made the requested changes in the GitHub issues you opened, and have [updated the manuscript](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03374/joss.03374/10.21105.joss.03374.pdf) as per your suggestions. Please let us know if you have any further suggestions for improvement!

[2021-08-07 06:18] dilawar commented on #3464
These are final points left on my checklist.

- [x] Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems).

`tutorial.py` seems to work fine. There is one example embedded in the `README.md` file. I think these are enough for this item.

Additionally, I would appreciate if `docs/toy_example.py` can also be fixed or removed. And al

[2021-08-07 06:47] maxpumperla commented on #3124
@jorgedch any chance we can find the time to address the above findings by @abhishekbajpayee above? Might be good to sync on a round of Q&A together.

@arfon @arokem is this the normal/expected process for a paper submission? I'm just asking because this smaller logodetect paper is a "test run" for more high-level projects that I'm running, and that would fit your journal quite well. I know it's b

[2021-08-07 08:56] grant-m-s commented on #3588
@whedon generate pdf from branch joss-paper-branch

[2021-08-07 08:56] whedon commented on #3588
[code]

[2021-08-07 08:56] whedon commented on #3588
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03588/joss.03588/10.21105.joss.03588.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03588/joss.03588/10.21105.joss.03588.pdf) :page_facing_up: :point_left:

[2021-08-07 09:45] grant-m-s commented on #3588
possible reviewers: smith42 crhea93 rmorgan10 arunmano121 a-slide

[2021-08-07 10:12] arfon commented on #3585
@andr1976 - thanks for flagging this. I'll query the scope here which will give the rest of the JOSS editorial team a chance to give feedback on this matter. This will take a week or so.

[2021-08-07 10:12] arfon commented on #3585
@whedon query scope

[2021-08-07 10:12] whedon commented on #3585
Submission flagged for editorial review.

[2021-08-07 10:14] arfon commented on #3124
This review is taking longer than we'd usually expect but it's not completely out of the ordinary. Over the last ~1300 papers we've published our average review time is something around 3 months (http://www.theoj.org/joss-analytics/joss-submission-analytics.html#pre-reviewreview-time-over-time).

[2021-08-07 10:16] arfon commented on #3056
:wave: @rrjbca – how are you getting on addressing this latest feedback from @cescalara?

[2021-08-07 10:16] arfon commented on #3308
👋 @donaldRwilliams – just checking in here. How are you getting on making these changes?

[2021-08-07 10:17] arfon commented on #3298
:wave: @HaoZeke, @joglekara – just checking in here. It looks like both of your reviews are close to wrapping up?

[2021-08-07 10:19] arfon commented on #3119
@remram44 – just checking in to see how you're getting on completing your review?

[2021-08-07 10:37] fgjorup commented on #3546
@mikapfl of course.

Professor Mogens Christensen is the supervisor of the project and has primarily contributed with scientific background, funding, and proof-reading of the paper.

Mathias Mørch has taken part in designing the layout of the interface and has been the primary tester of the program. He has also taken part in defining the format of the _.xyy_ input files and has provided the test f

[2021-08-07 10:41] fgjorup commented on #3546
@rkurchin, sorry for the delay, I am finally back in the office from my vacation. Please let me know if there is anything else I need to address.

[2021-08-07 11:23] drcandacemakedamoore commented on #3560
Thanks, we are constantly adding things. Will the editors look only at the current released version? And if so, should we release a new version in about two weeks when you may review, and let you know?

[2021-08-07 11:26] osorensen commented on #3503
@ethanknights @fredrmag @markushs would any of you be interested in reviewing this submission to the Journal of Open Source Software? It seems to be within your areas of expertise.

[2021-08-07 11:54] nsaunier commented on #3124
I have left unanswered comments about the code for weeks now. I am not doing anything else till they are addressed. Thanks!---Nicolas Saunier, ing. DrSc / Ph.D.Professeur titulaire / Full ProfessorDépartement des génies civil, géologique et des mines (CGM) PolytechniqueMontréal CIRRELT, RRSR, CIRODD, IVADO & Chaire MOBILITÉhttp://nicolas.saunier.confins.netOn Aug. 7, 2021 02:48, Max Pumperla ***@*

[2021-08-07 12:43] arfon commented on #2124
:wave: @rhagenson – just checking in here to see if your intent is still to complete this process?

[2021-08-07 12:44] arfon commented on #2494
@pdebuyl, I propose that if we've not heard back from @yuxiang-gao in the next 4 weeks, we close and reject this submission. It has now been stale for a very long time.

[2021-08-07 12:44] arfon commented on #2494
@whedon remind @arfon in 4 weeks

[2021-08-07 12:44] whedon commented on #2494
Reminder set for @arfon in 4 weeks

[2021-08-07 12:46] arfon commented on #2495
@EGaraldi – any news on when you expect to be able to complete your updates by?

[2021-08-07 12:47] arfon commented on #2605
@whedon reject

@sbenthall – I've gone ahead and rejected this submission due to the author no longer being responsive for close to 9 months.

@remram44, @alexssandrofc – many thanks for your reviews here. I'm sorry this didn't work out 😞

[2021-08-07 12:47] #2605 closed

[2021-08-07 12:48] whedon commented on #2605
Paper rejected.

[2021-08-07 12:48] arfon commented on #2688
:wave: @arunpersaud – just checking in here. Do you think you might be able to complete your changes in the next month?

[2021-08-07 12:48] arfon commented on #2688
@whedon remind @arfon in one month

[2021-08-07 12:49] whedon commented on #2688
Reminder set for @arfon in one month

[2021-08-07 13:53] jorgedch commented on #3124
My apologies for the confusion to everyone, normally I take only a couple of days to address feedback. In the case of the feedback from @abhishekbajpayee, his comments are related to the installation process of the python package, and assumed that Max was going to address them as he implemented the packaging and is more familiar with it. Can you address this in the following days  @maxpumperla? Ot

[2021-08-07 14:26] remram44 commented on #3119
Thanks @arfon, I must say I haven't been prioritizing this since we are missing the second reviewer. I was also hoping some of my points in https://github.com/openjournals/joss-reviews/issues/3119#issuecomment-809781527 would be addressed, but that doesn't block me from running the software so I will do that ASAP.

[2021-08-07 14:40] ph-rast commented on #3452
@whedon generate pdf

[2021-08-07 14:40] whedon commented on #3452
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: :point_left:

[2021-08-07 14:50] ph-rast commented on #3452
@whedon generate pdf

[2021-08-07 14:51] whedon commented on #3452
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: :point_left:

[2021-08-07 15:35] ph-rast commented on #3452
Archived in [Zeonod](https://zenodo.org/record/5168675) with version number `v1.0.1` and `doi:10.5281/zenodo.5168675`

[2021-08-07 17:10] arfon commented on #2991
:wave: @esteinig – any updates here?

[2021-08-07 17:20] bmcfee commented on #3582
@whedon add @vahid-sb as reviewer

[2021-08-07 17:20] whedon commented on #3582
OK, @vahid-sb is now a reviewer

[2021-08-07 17:43] taless474 commented on #3548
@bitasd will you be able to review this?

[2021-08-07 19:57] cMadan commented on #3503
@kyleniemeyer @Kevin-Mattheus-Moerman, just seeing this now. It looks like `whedon` hadn't sent me an invitation email.

[2021-08-07 21:14] arfon commented on #3560
@whedon invite @cMadan as editor

:wave: @cMadan – any chance you could edit this submission for us?

[2021-08-07 21:14] whedon commented on #3560
@cMadan has been invited to edit this submission.

[2021-08-07 21:16] arfon commented on #3560
@whedon invite @cMadan as editor

(Debugging an issue with email invites for @cMadan)

[2021-08-07 21:16] whedon commented on #3560
@cMadan has been invited to edit this submission.

[2021-08-07 21:17] cMadan commented on #3560
Emails recieved! In the other issue, `whedon` never replied to the invite request.

[2021-08-07 21:18] cMadan commented on #3560
@whedon assign @cMadan as editor

@arfon, happy to take this one!

[2021-08-07 21:18] whedon commented on #3560
OK, the editor is @cMadan

[2021-08-07 21:21] cMadan commented on #3560
@drcandacemakedamoore, it sounds like you have some updates on the go. Ideally the JOSS reviewers will review a stable version of the code, suggest some improvements, and then a version with those changes will be the archived version that the JOSS publication is associated with. From your earlier question, I wonder if it would it be better to wait for before we start the review?

[2021-08-07 21:40] rob-luke commented on #3582
Thanks for accepting to review @vahid-sb. I look forward to your feedback.

[2021-08-07 21:47] jmschrei commented on #3531
@whedon add @maximtrp as reviewer

[2021-08-07 21:47] whedon commented on #3531
OK, @maximtrp is now a reviewer

[2021-08-07 21:48] jmschrei commented on #3531
@hadrieng and @kanekalla, would either of you be able to serve as a reviewer for this submission?

[2021-08-07 21:49] jmschrei commented on #3447
@pps121 how is the review coming along? Please use the checklist above to keep track of your progress.

[2021-08-08 01:00] bshoshany commented on #3416
@whedon generate pdf from branch paper

[2021-08-08 01:00] whedon commented on #3416
[code]

[2021-08-08 01:00] whedon commented on #3416
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03416/joss.03416/10.21105.joss.03416.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03416/joss.03416/10.21105.joss.03416.pdf) :page_facing_up: :point_left:

[2021-08-08 01:03] bshoshany commented on #3416
@amelialdrew: The new release is now up, along with the modifications you requested to the paper in the `paper` branch. I believe I solved the parallelization bug, so please check and let me know if it works now or if you still get an error.

I am happy to answer any additional questions and make additional modifications as needed.

[2021-08-08 01:29] majensen commented on #3440
@sara-02 can you give us an update? Thanks

[2021-08-08 06:58] michaeltouati commented on #3581
Dear Arfon,

I indeed specified that this code ESVM that I’ve written was for educational purpose. However, since it is available on GitHub, it has already been used by teams of Researchers to investigate new Plasma Physics problems.

Additionally, in Plasma Physics, people tend to only use the Particle-In-Cell (PIC) method for their investigations. Easily extendable to 2D-2V or 2D-3V, this code,

[2021-08-08 08:09] drcandacemakedamoore commented on #3560
I will freeze updating everything on the Main branch to make this easier. The only important changes were to dramatically improve the documentation (we found some problems that Sphinx had made us, and fixed them). I would like to move forward with the review as this is re-submission after substantial work, and we anticipate that work will continue for years as dependencies change.

[2021-08-08 08:29] maxpumperla commented on #3124
@jorgedch sure, I can take a look! I'll let everyone know once we have a new version of the package online.

[2021-08-08 10:19] amelialdrew commented on #3416
Hello @bshoshany, thanks for the new changes. The new version works and for me gives ```16 parallel kernels launched. CPU has 4 cores``` which is more than the default, as I think you intended. It still only speeds up from ~13s to ~8s, but I would guess this is system/version dependent, and as it does speed up I am happy to approve.

[2021-08-08 11:15] arfon commented on #2920
@whedon remind @arfon in two weeks

@kadglass – how are you getting on here? Given this submission has been paused for quite some time now (> 6 months) if we don't hear back from you that your ready to move forward in the next couple of weeks we will close this submission and encourage a future re-submission when you are ready.

[2021-08-08 11:15] whedon commented on #2920
Sorry, I can't set reminders on PRE-REVIEW issues.

[2021-08-08 11:17] arfon commented on #3116
@whedon remind @arfon in two weeks

@micheder - any update here? If this submission isn't ready for review in the next couple of weeks I propose rejecting at this point and encouraging a future re-submission when ready.

[2021-08-08 11:17] whedon commented on #3116
Sorry, I can't set reminders on PRE-REVIEW issues.

[2021-08-08 11:20] arfon commented on #2277
@whedon remind @arfon in two weeks

@dvm-shlee - it has now been more than 6 months since we last heard from you. At this point I believe the best next step would be to close this review and encourage a resubmission in the future if you're able to improve the submission.

I'll set a reminder for two weeks to check in again but unless we hear back from you with a firm timeline in the next couple of

[2021-08-08 11:20] whedon commented on #2277
Reminder set for @arfon in two weeks

[2021-08-08 11:22] arfon commented on #3051
@jason-rumengan – just checking in to see when you think you might be able to make the changes proposed by @mjsottile?

[2021-08-08 11:24] arfon commented on #2606
:wave: folks. Checking in here to see how things are going. @NMontanaBrown it seems like you made it a good way through your review but might be waiting on @avik-pal to make some updates?

[2021-08-08 11:24] arfon commented on #2606
@whedon remove @urbanophile as reviewer

[2021-08-08 11:25] whedon commented on #2606
OK, @urbanophile is no longer a reviewer

[2021-08-08 11:25] arfon commented on #2606
@whedon remove @Paul92 as reviewer

[2021-08-08 11:25] whedon commented on #2606
OK, @Paul92 is no longer a reviewer

[2021-08-08 11:28] arfon commented on #2606
:wave: @thelinuxmaniac @smith42 – would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd be asking you to review is [_TorchGAN: A Flexible Framework for GAN Training and Evaluation_](https://github.com/torchgan/

[2021-08-08 11:34] arfon commented on #3125
:wave: @adi3, @breezykermo – just checking in here. It looks like @adi3 has made some progress on their review but @breezykermo doesn't look to have started yet.

@breezykermo - are you still able to complete this review for us?

[2021-08-08 11:39] arfon commented on #3103
:wave: @oliviaguest, I wonder if `jsheunis`, `szorowi1, or `SRSteinkamp` might be able to act as a second reviewer here?

[2021-08-08 11:41] arfon commented on #3310
@fjprichard – looks like it's proving a little challenging to find reviewers here. Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-08-08 11:53] caspervdw commented on #3260
Hi @Kevin-Mattheus-Moerman , it is hard to say when and if I’ll have time the coming months- so please do not count on me for reviewing this work.

[2021-08-08 12:46] Nikoleta-v3 commented on #3464
Thank you @dilawar for such a thorough review! I have gone over the issues and the discussions both here and  on the software repository.  I just wanted to say that regarding:

Agreed that: a user should be able to run all examples that are included in the repository without failures. This included the scripts under the folder `studies`.

👍🏻 Please do move them to a separate repository or keep the

[2021-08-08 13:12] Nikoleta-v3 commented on #3558
👋🏻 @Kevin-Mattheus-Moerman - unfortunately I do not know any Clojure either 😕

[2021-08-08 13:27] jbytecode commented on #3452
@whedon set v1.0.1 as version

[2021-08-08 13:27] whedon commented on #3452
OK. v1.0.1 is the version.

[2021-08-08 13:27] jbytecode commented on #3452
@whedon set 10.5281/zenodo.5168675 as the archive

[2021-08-08 13:27] whedon commented on #3452
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-08 13:28] jbytecode commented on #3452
@whedon set 10.5281/zenodo.5168675 as archive

[2021-08-08 13:28] whedon commented on #3452
OK. <a href="https://doi.org/10.5281/zenodo.5168675" target="_blank">10.5281/zenodo.5168675</a> is the archive.

[2021-08-08 13:28] jbytecode commented on #3452
@whedon check references

[2021-08-08 13:28] whedon commented on #3452
[code]

[2021-08-08 13:29] jbytecode commented on #3452
@whedon generate pdf

[2021-08-08 13:30] whedon commented on #3452
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03452/joss.03452/10.21105.joss.03452.pdf) :page_facing_up: :point_left:

[2021-08-08 13:31] jbytecode commented on #3452
@whedon recommend-accept

[2021-08-08 13:31] whedon commented on #3452
[code]

[2021-08-08 13:31] whedon commented on #3452
[code]

[2021-08-08 13:31] whedon commented on #3452
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2503

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2503, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-08 13:34] jbytecode commented on #3452
@mwt  🎈 and @ChristopherLucas 🎈 thank you very much for reviewing this submission! Hope we will work together in the future!

[2021-08-08 13:53] arfon commented on #3452
@whedon accept deposit=true

[2021-08-08 13:53] whedon commented on #3452
[code]

[2021-08-08 13:54] whedon commented on #3452
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1424368318367023116) 👈 🐦🐦🐦

[2021-08-08 13:54] whedon commented on #3452
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2504
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03452](https://doi.org/10.21105/joss.03452)
2. If everything look

[2021-08-08 13:58] arfon commented on #3452
@ChristopherLucas, @mwt – many thanks for your reviews here and to @jbytecode for editing their first JOSS submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ph-rast – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-08 13:58] #3452 closed

[2021-08-08 13:58] whedon commented on #3452
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03452/status.svg)](https://doi.org/10.21105/joss.03452)

**We need your help!**

Journal of Open Source Softwa

[2021-08-08 14:00] arfon commented on #3555
@whedon invite @jbytecode as editor

:wave: @jbytecode – any chance you could handle this submission for us?

[2021-08-08 14:00] whedon commented on #3555
@jbytecode has been invited to edit this submission.

[2021-08-08 14:03] jbytecode commented on #3555
@whedon assign me as editor

Hi @arfon, of course, I gladly accept to be editor of this submission.

[2021-08-08 14:03] whedon commented on #3555
OK, the editor is @jbytecode

[2021-08-08 14:23] jbytecode commented on #3555
@lantunes could be please add correct metadata including authors ORCID in paper.md?

[2021-08-08 14:40] jbytecode commented on #3555
👋👋👋 @martibosch, @blsqr, @amcasari 👋👋👋

Would you be willing to assist in reviewing this submission for JOSS (Journal of Open Source Software)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "CellPyLib: A Python Library for working with Cellular Automata". You can find more information at the top of this Github issue (https://github.c

[2021-08-08 15:16] essepuntato commented on #2731
Hi @arfon,

Apologies again, and thanks for writing directly to me to remind the review - as before, all the GitHub messages went to the SPAM folder. I've completed my review, and wrote an issue to the authors of the tool with some comments about how to improve some aspects (mainly the accompanying paper).

Have a nice day :-)

[2021-08-08 15:32] arfon commented on #2731
Wonderful, thank you so much @essepuntato!

[2021-08-08 15:37] arfon commented on #3169
:wave: @oliviaguest – I think this submission might be about ready to accept and publish?

[2021-08-08 15:40] lantunes commented on #3555
@jbytecode Thank you for agreeing to edit this submission! I have updated `paper.md` so that it includes `orcid` in the metadata section. Please let me know if there is any other metadata that needs to be added.

[2021-08-08 16:20] blsqr commented on #3555
Hi everyone 👋

I'd be happy to review this submission. However, I cannot actively participate before 26th August – if that's ok, sign me up.

What does *assist* entail in this context? Is there a distinction between reviewing and assisting?

[2021-08-08 16:35] bshoshany commented on #3416
Hi @amelialdrew, I do believe the speedup you get is exactly what I would expect you to get.

The number that counts is the number of **cores**, since that is the number of things the CPU can actually do in parallel. On my computer I have 12 cores but only 8 kernels due to license limitations, which means 4 of my 12 CPU cores are not actually being utilized. With the 8 kernels running in parallel

[2021-08-08 16:37] amelialdrew commented on #3416
Great, thank you!

[2021-08-08 16:59] jbytecode commented on #3555
@whedon add @blsqr as reviewer

Dear @blsqr, the term `assist in reviewing` means `being a reviewer`. Thank you for accepting our invitation.

In JOSS, assigning adequate number of viewers may take time so we can wait for your availability.

[2021-08-08 16:59] whedon commented on #3555
OK, @blsqr is now a reviewer

[2021-08-08 17:23] cMadan commented on #3560
@drcandacemakedamoore, thanks for clarifying that--and for mentioning this was a re-submission, I read over those past issues now.

Can you suggest some potential reviewers? (See guidance included in the first comment in this issue.)

[2021-08-08 17:30] arfon commented on #3511
@whedon assign me as editor