[2020-07-07 08:36] Kevin-Mattheus-Moerman commented on #2372
@jhale this is just a friendly checkup to see how you are getting on with your review. Let me know if you have any questions.

[2020-07-07 08:46] jonathanblaney commented on #2220
Hi again @lorenanicole. I've asked around and @alexdma is prepared to review this.

[2020-07-07 08:48] craddm commented on #2340
hi @oliviaguest, @humanfactors  - I can answer that - no. I'm back to it this morning.

[2020-07-07 08:52] oliviaguest commented on #2340
@craddm fabulous and thank you. No massive pressure really, I just felt the need to check in on you all. 🌸

[2020-07-07 08:54] telatin commented on #2416
I can review this 👍

[2020-07-07 09:31] muhrin commented on #2351
Dear @danielskatz,

we once again thank @uellue for his thorough review which has helped to improve both the documentation and the paper itself.  We have made the following changes to address the comments made:

* https://github.com/aiidateam/kiwipy/commit/26b561ab32561e8962e6a1126d36f2072232daa0
We have added a [contributing guide](https://github.com/aiidateam/kiwipy/wiki/Contributing) to our wik

[2020-07-07 09:35] Kevin-Mattheus-Moerman commented on #2343
@agahkarakuzu @grlee77
In relation to authorship here is our policy on this: https://joss.readthedocs.io/en/latest/submitting.html#authorship. In short _"The authors themselves assume responsibility for deciding who should be credited with co-authorship, and co-authors must always agree to be listed."_,
In this case some contributors were identified which perhaps could be added as authors. I leave

[2020-07-07 09:36] Kevin-Mattheus-Moerman commented on #2343
@mfroeling any updates on your end? How are you getting on with this review? Thanks.

[2020-07-07 09:37] agahkarakuzu commented on #2343
@Kevin-Mattheus-Moerman thanks for the clarification re authorship, I will discuss this with the team and come up with a time efficient strategy.

[2020-07-07 09:37] Kevin-Mattheus-Moerman commented on #2431
@whedon remove  @mitkof6 as reviewer

[2020-07-07 09:37] whedon commented on #2431
OK,  @mitkof6 is no longer a reviewer

[2020-07-07 09:38] Kevin-Mattheus-Moerman commented on #2431
@whedon remove @mitkof6 as reviewer

[2020-07-07 09:38] whedon commented on #2431
OK, @mitkof6 is no longer a reviewer

[2020-07-07 09:39] Kevin-Mattheus-Moerman commented on #2431
@whedon add @mitkof6 as reviewer

[2020-07-07 09:39] whedon commented on #2431
OK, @mitkof6 is now a reviewer

[2020-07-07 09:40] Kevin-Mattheus-Moerman commented on #2431
@whedon remove @ @mitkof6 as reviewer

[2020-07-07 09:40] whedon commented on #2431
OK, @ @mitkof6 is no longer a reviewer

[2020-07-07 09:40] Kevin-Mattheus-Moerman commented on #2431
@whedon generate pdf

[2020-07-07 09:40] whedon commented on #2431
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02431/joss.02431/10.21105.joss.02431.pdf)

[2020-07-07 09:48] Kevin-Mattheus-Moerman commented on #2431
@openjournals/dev :point_up: I think this might be an interesting case to analyze. Somehow the system assigned the reviewer `@mitkof6` as `@ @mitkof6`, despite everything looking fine over at https://github.com/openjournals/joss-reviews/issues/2323#issuecomment-653506616. This surfaced when we got a paper compilation error and `whedon` oddly picked it up as a reference error in paper compilation.

[2020-07-07 09:50] iljah commented on #2185
@ShubhadeepSadhukhan1993 to me this looks finished except for community guidelines and state of field...

[2020-07-07 09:50] Kevin-Mattheus-Moerman commented on #2431
@BKillen05 @mitkof6 @romainmartinez apologies for a minor bug in our system. It is now resolved and the draft paper is available here:  :point_right: [Check article proof :page_facing_up:](https://github.com/openjournals/joss-papers/blob/joss.02431/joss.02431/10.21105.joss.02431.pdf) :point_left:

[2020-07-07 10:25] mmrabe commented on #2306
@mikldk Are there more detailed guidelines what exactly counts toward the 250-1000 words or how one should determine the word count? Ignoring figures, output, and equations, I count approx. 1080 words.

@DominiqueMakowski I've also noticed that many R users won't look at vignettes but given that your audience does care about papers, wouldn't the paper be a good place to make them aware of that fea

[2020-07-07 10:35] marcosvital commented on #2222
Thank you for your prompt reply, @jjharden!

And thank you, @joethorley, we will start the reviewing process soon.

[2020-07-07 10:42] roshansamuel commented on #2095
Hi @kyleniemeyer and @dlagrava, out of the three issues opened on the repository, [one](https://github.com/roshansamuel/saras/issues/1) was closed on Jun 4 following an update to the [README](https://github.com/roshansamuel/saras/blob/master/README.md). We have responded to [Issue 2](https://github.com/roshansamuel/saras/issues/2) by adding instructions on [how to set up a new case](https://github

[2020-07-07 10:45] marcosvital commented on #2222
@whedon assign @klmedeiros as reviewer

[2020-07-07 10:45] whedon commented on #2222
OK, @klmedeiros is now a reviewer

[2020-07-07 10:45] marcosvital commented on #2222
@whedon add @joethorley as reviewer

[2020-07-07 10:45] whedon commented on #2222
OK, @joethorley is now a reviewer

[2020-07-07 10:47] marcosvital commented on #2222
@whedon generate pdf

[2020-07-07 10:48] whedon commented on #2222
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02222/joss.02222/10.21105.joss.02222.pdf)

[2020-07-07 10:49] marcosvital commented on #2222
@nhejazi, could you please take a quick look on this version of the manuscript that I just generated? If everything seems ok with it, I'll start the reviewing process, and this will be the version that the reviewers will use to start it.

[2020-07-07 11:12] uellue commented on #2351
Dear @muhrin,

many thanks for the update! The new content is a great help for readers to understand the use cases and strengths of kiwiPy. The comparison with Pika and other systems sounds fair and objective. :+1: This fully addresses my previous comments and from my perspective the paper is good to go. 🚀 Congratulations!

CC @danielskatz

[2020-07-07 11:39] lpantano commented on #2410
@camillescott, would you like to review this visualization tool of metabolomic data?

[2020-07-07 11:42] craddm commented on #2340
Hi @humanfactors,

This seems like an interesting package, and everything I've tried with it so far has worked great. A couple of comments, in no particular order:

- I initially thought there were a few functions that don't currently have examples (e.g. `expand_sleep_series()`) that would benefit from them. But then I realized that those functions aren't exported, user-facing functions. You might

[2020-07-07 11:45] lpantano commented on #2334
hey @erinyoung and @lfaller, any update in the review process?

[2020-07-07 11:48] lpantano commented on #2432
Hi @betteridiot, @afrubin!, this is the review issue, please accept the invitation if you haven't done it so you can start the review here.

@lincoln-harris, can you work on adding DOI to your references?

Thanks all!

[2020-07-07 11:48] arfon commented on #2182
Authors can use the Whedon preview service at http://whedon.theoj.org

[2020-07-07 11:55] sambit-giri commented on #2363
@whedon generate pdf

[2020-07-07 11:55] whedon commented on #2363
PDF failed to compile for issue #2363 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Hannes Jensen, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon/author.rb:71:in `each'

[2020-07-07 11:57] sambit-giri commented on #2363
@whedon generate pdf

[2020-07-07 11:58] whedon commented on #2363
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02363/joss.02363/10.21105.joss.02363.pdf)

[2020-07-07 12:02] aureliocarnero commented on #2363
Dear @sambit-giri , Im starting to test the code. One important aspect is that you need to provide automated tests with your code, but I cannot find those or how to run. According to the checklist, I need to verify that: "Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified?"
I cannot verify this at the moment

[2020-07-07 12:04] aureliocarnero commented on #2363
Dear @sambit-giri, I have a suggestion about the installation instructions. Going to the github page here: https://github.com/sambit-giri/tools21cm
In installation, I think you should name first that the user should clone the repository, I know this is obvious, but it is helpful. Therefore, I suggest that you divide the installation options in 2: first, by cloning the repositoy and then running py

[2020-07-07 12:05] will-rowe commented on #2416
Great - thanks @telatin! We'll wait on one more reviewer and then kick things off.

[2020-07-07 12:07] aureliocarnero commented on #2363
@sambit-giri another question about installation. It seems like it is installed properly with the instructions you give, but I have a question. When I install it with python setup install, it appears a warning message as follows:
UserWarning: Unknown distribution option: 'install_requires'.
Im using python3, do you know if this can cause a problem to other users? Please verify the meaning of this

[2020-07-07 12:31] Kevin-Mattheus-Moerman commented on #2431
@whedon reinvite @BKillen05 as reviewer

[2020-07-07 12:31] whedon commented on #2431
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-07 12:32] Kevin-Mattheus-Moerman commented on #2431
@whedon re-invite @BKillen05 as reviewer

[2020-07-07 12:32] whedon commented on #2431
OK, the reviewer has been re-invited.

@bkillen05 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-07 12:34] Kevin-Mattheus-Moerman commented on #2431
@whedon re-invite @mitkof6 as reviewer

[2020-07-07 12:34] whedon commented on #2431
@mitkof6 already has access.

[2020-07-07 12:36] muhrin commented on #2351
Thanks @uellue .  Indeed, the library has certainly benefited from these additions.  Thanks again for your review.

[2020-07-07 12:40] uellue commented on #2351
Happy to hear that you found it helpful! :-)

[2020-07-07 12:57] kthyng commented on #2018
@mancellin awesome! Thank you!!

[2020-07-07 12:57] kthyng commented on #2018
@whedon add @mancellin as reviewer

[2020-07-07 12:57] whedon commented on #2018
OK, @mancellin is now a reviewer

[2020-07-07 13:01] kthyng commented on #2018
@mancellin You should be good to go, but let me know if you have any permissions problems or questions. Thank you!

[2020-07-07 13:48] arcuri82 commented on #2153
Sadly, today marks 6 months since submission (7th January)... :(

[2020-07-07 13:55] koenderks commented on #2152
Dear @drvinceknight,

I hope you are well. I have rebased the code in the `JfA-JOSS` branch to be consistent with the latest version of JASP (version 0.13), which came out last Friday.

In addition, I am happy to be able to tell you that we have found a potential reviewer for our submission. Dr. Trevor Stewart specializes in global audit policy, methodology, and technology, and is willing to act a

[2020-07-07 14:02] garrelt commented on #2363
Dear Aurelio,

Although individual researchers have undoubtedly developed their own tools to perform some of the calculations
included in tools21cm, we are not aware of any open source package similar to tools21cm. We did search both
with google and on github, but did not find anything.

c2raytools was a set of python routines developed by Hannes Jensen and me to analyse reionization
simulations p

[2020-07-07 14:06] danielskatz commented on #2351
👋 @dghoshal-lbl - how is your review coming along?

[2020-07-07 14:24] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-07 14:24] whedon commented on #2182
[code]

[2020-07-07 14:25] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-07-07 15:04] danielskatz commented on #2401
Ok, let's go ahead with the review and see if reviewers bring this up.  If so, we can revisit it then. Sorry for the delay.

@pibion - over to you to proceed...

[2020-07-07 15:09] jsgalan commented on #2283
Hi all,

I followed your steps and installed the package on a Venv and eveything worked fine!

<img width="835" alt="Screen Shot 2020-07-07 at 10 03 53 AM" src="https://user-images.githubusercontent.com/971958/86801127-5205c480-c039-11ea-8db7-2e8ee6144387.png">

<img width="647" alt="Screen Shot 2020-07-07 at 10 04 03 AM" src="https://user-images.githubusercontent.com/971958/86801153-58943c00-c039

[2020-07-07 15:10] nhejazi commented on #2222
The most recently built version of the manuscript draft looks good to me for starting the review process, @marcosvital

[2020-07-07 15:10] lincoln-harris commented on #2432
sure! i can do that

[2020-07-07 15:49] Visdoom commented on #2339
Hey @oliviaguest,
thanks for checking in. We have created some tests but the automated integration into gitHub has a hick-up that I need to fix. I meant to do it yesterday and then ran out of time. So we are almost there. I will give you a wrap up here once everything has been addressed.

[2020-07-07 16:08] mstimberg commented on #2331
Dear @tabe: given that you left the issues open, I assume you are still working on them? Let me/us know when you want us to have another look.

I am afraid I will be out of office from July 13th to July 31st, though, so I cannot guarantee any timely response during that period.

[2020-07-07 16:11] dhhagan commented on #2374
Hey @Chilipp @sarats are you available to review this manuscript?

[2020-07-07 16:44] lfaller commented on #2334
Thanks for the nudge, @lpantano -- I was stuck on "installation"; will reach out to the author 🙂

[2020-07-07 17:06] benjaminrose commented on #2438
I can review this submission. As a heads up, I’m moving at the end of the month, so I’ll be unreachable for several weeks starting August 24th. Though I expect to finish my review by then.

[2020-07-07 17:07] dghoshal-lbl commented on #2351
I finished my first round of review for the software and the paper. Some of the paper related concerns have already been addressed. I have a couple of more questions regarding the paper:

i) Has the library been tested to show any significant performance overheads? Mainly because this adds another level of abstraction to RabbitMQ.

ii) Since one of the use-cases for kiwiPy is to restart partially

[2020-07-07 17:16] majensen commented on #2161
@openjournals/joss-eics We are ready to recommend this work for acceptance. Thanks!

[2020-07-07 17:21] harpolea commented on #2438
Great, thanks @benjaminrose!

Sure, if at any point you feel that you will no longer be able to complete the review before that time, then please let me know.

[2020-07-07 17:22] harpolea commented on #2438
@whedon add @benjaminrose as reviewer

[2020-07-07 17:22] whedon commented on #2438
OK, @benjaminrose is now a reviewer

[2020-07-07 17:22] harpolea commented on #2438
@whedon start review

[2020-07-07 17:22] whedon opened #2446 "[REVIEW]: soni-py: A Pitch-Based Sonification Package"
**Submitting author:** @lockepatton (<a href="http://orcid.org/0000-0002-7640-236X">Locke Patton</a>)
**Repository:** https://github.com/lockepatton/sonipy
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @faroit, @benjaminrose
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandem

[2020-07-07 17:22] whedon commented on #2438
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2446.

[2020-07-07 17:22] #2438 closed

[2020-07-07 17:22] whedon commented on #2446
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @faroit, @benjaminrose it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-07-07 17:23] whedon commented on #2446
[code]

[2020-07-07 17:25] Chilipp commented on #2374
Hi @dhhagan, my apologies but I just finished two reviews for JOSS and need to do some work now :sweat_smile:

[2020-07-07 17:26] whedon commented on #2446
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02446/joss.02446/10.21105.joss.02446.pdf)

[2020-07-07 17:28] majensen commented on #2331
@mstimberg, just want to thank you for your work so far. @funasoul -- have you had an opportunity to take a look at this software? Thanks very much -

[2020-07-07 17:29] majensen commented on #1942
@Chilipp thanks for this summary - @benjaminbolling can you address these issues? Just let me know an approximate timeline here. Thanks!

[2020-07-07 18:11] benjaminbolling commented on #1942
Thank you @Chilipp, I will be addressing these issues in the coming two weeks in the evenings. @majensen Thus, we can set a deadline for next Friday, July 17th.

[2020-07-07 18:36] JFDuval commented on #2275
Hey Kevin,

Thank you for thinking about me but I'm not sure I'm the best reviewer.
However, I can recommend someone: Alejandro Azocar (afazocar@umich.edu)

On Mon, Jul 6, 2020 at 4:23 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Jean-François (JF) Duval

[2020-07-07 18:41] abotzki commented on #2416
Hi @will-rowe I am on holidays for 3 weeks. If still of help, I could have a look at the software around end of July.

[2020-07-07 19:04] marcosvital commented on #2222
@whedon start review

[2020-07-07 19:04] whedon opened #2447 "[REVIEW]: txshift: Efficient estimation of the causal effects of stochastic interventions in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/nhejazi/txshift" target ="_blank">https://github.com/nhejazi/txshift</a>
**Version:** v0.3.4-joss
**Editor:** @marcosvital
**Reviewer:** @klmedeiros, @joethorley
**Archive:** <a href="https://doi.org/10.5281/zenodo.4070043" target="_blank">10.5281/zenodo.4070

[2020-07-07 19:04] whedon commented on #2222
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2447.

[2020-07-07 19:04] #2222 closed

[2020-07-07 19:04] whedon commented on #2447
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @klmedeiros, @joethorley it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-07-07 19:05] whedon commented on #2447
[code]

[2020-07-07 19:05] whedon commented on #2447
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02447/joss.02447/10.21105.joss.02447.pdf)

[2020-07-07 19:08] marcosvital commented on #2447
Dear @nhejazi and @benkeser: your manuscript will be reviewed in this issue, and you can reply any comments and suggestions that the reviewers might address right here.

[2020-07-07 19:09] marcosvital commented on #2447
@klmedeiros and @joethorley: thank you all for for accepting review this submission for JOSS.

Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under Reviewer instructions & questions and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let me know if you need a

[2020-07-07 20:26] majensen commented on #1942
@whedon remind @majensen 17 July 2020

[2020-07-07 20:26] whedon commented on #1942
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-07 20:26] majensen commented on #1942
@whedon remind @majensen in 10 days

[2020-07-07 20:26] whedon commented on #1942
Reminder set for @majensen in 10 days

[2020-07-07 20:48] Kevin-Mattheus-Moerman commented on #2275
@JFDuval thanks. @afazocar would you be interested in reviewing this submission for [JOSS (The Journal of Open Source Software)](https://joss.theoj.org):
_gym-electric-motor (GEM): A Python toolbox for the simulation of electric drive systems_

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-papers/blob/joss.02275/joss.02275/10.21105.joss.0227

[2020-07-07 21:14] grlee77 commented on #2343
It looks like qMRLab/qMRLab#399 addresses all of my other comments (the new figure looks good!). Thanks @agahkarakuzu for the quick update.

[2020-07-07 21:29] TomGoffrey commented on #2182
This looks great, much improved.

A couple more (I think maybe final!) questions on the article:

1. You seem to have two near duplicate paragraphs introducing the equations section. For the sake of completeness you should probably define the terms explicitly, although I realise these are standard definitions.
2. When describing the advection stage, what exactly is the quantity in square brackets

[2020-07-07 21:30] AlexMikes commented on #2362
Thank you @cmccomb for the excellent suggestions. I have completed these and responded to the issues individually.

[2020-07-07 22:21] gkthiruvathukal commented on #2153
@arcuri82 So sorry about this. I am still hopeful we will be able to see this through.

@mado89, @s0nata, and @feliperodri, can you provide any update on when you will be able to complete your review? For some reason I thought we had reviews from at least one of you (@mado89) but we have none. I really don't want to keep @arcuri82 waiting much longer.

[2020-07-08 00:06] galessiorob commented on #2380
@whedon add @gweissmane as reviewer

[2020-07-08 00:06] whedon commented on #2380
OK, @gweissmane is now a reviewer

[2020-07-08 00:09] galessiorob commented on #2368
@whedon add @nnadeau as reviewer

[2020-07-08 00:09] whedon commented on #2368
OK, @nnadeau is now a reviewer

[2020-07-08 00:15] galessiorob commented on #2380
@whedon remove @gweissmane as reviewer

[2020-07-08 00:15] whedon commented on #2380
OK, @gweissmane is no longer a reviewer

[2020-07-08 00:15] galessiorob commented on #2380
@whedon add @gweissman as reviewer

[2020-07-08 00:15] whedon commented on #2380
OK, @gweissman is now a reviewer

[2020-07-08 00:19] galessiorob commented on #2368
@whedon generate pdf

[2020-07-08 00:20] whedon commented on #2368
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02368/joss.02368/10.21105.joss.02368.pdf)

[2020-07-08 00:20] usethedata commented on #2364
Thanks @samvanstroud.  Just a quick post that I see your response.  I've got a couple of deadlines and will get on looking for reviewers in the next couple of days.

[2020-07-08 00:21] galessiorob commented on #2368
@whedon start review

[2020-07-08 00:21] whedon opened #2448 "[REVIEW]: Chips-n-Salsa: A Java Library of Customizable, Hybridizable, Iterative, Parallel, Stochastic, and Self-Adaptive Local Search Algorithms"
**Submitting author:** @cicirello (<a href="http://orcid.org/0000-0003-1072-8559">Vincent A Cicirello</a>)
**Repository:** <a href="https://github.com/cicirello/Chips-n-Salsa" target ="_blank">https://github.com/cicirello/Chips-n-Salsa</a>
**Version:** v1.3.0
**Editor:** @galessiorob
**Reviewers:** @nnadeau, @mbdemoraes
**Archive:** <a href="https://doi.org/10.5281/zenodo.3974614" target="_blank">

[2020-07-08 00:21] whedon commented on #2368
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2448.

[2020-07-08 00:21] #2368 closed

[2020-07-08 00:21] whedon commented on #2448
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mbdemoraes, @nnadeau it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-07-08 00:21] whedon commented on #2448
[code]

[2020-07-08 00:21] whedon commented on #2448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02448/joss.02448/10.21105.joss.02448.pdf)

[2020-07-08 01:49] jsgalan commented on #2380
Hi all,

I made an initial install, all the requirements were satisfied

<img width="1086" alt="Screen Shot 2020-07-07 at 8 46 00 PM" src="https://user-images.githubusercontent.com/971958/86864561-04b64100-c093-11ea-93cc-ddf3a9616781.png">

Two test failed as can be seen:

<img width="940" alt="Screen Shot 2020-07-07 at 8 44 34 PM" src="https://user-images.githubusercontent.com/971958/86864603-1a2

[2020-07-08 02:04] KedoKudo commented on #2381
@jgostick - I finished my review of `xrdfit` and submitted my feedbacks to the developers on the corresponding repo (https://github.com/LightForm-group/xrdfit/issues/39, https://github.com/LightForm-group/xrdfit/issues/38).

@merrygoat and @christopher-daniel - please feel free to ping me if you have any questions about the feedbacks.

[2020-07-08 02:22] evaristor commented on #2328
@KristinaRiemer: I recommend accepting this paper in its current form

[2020-07-08 02:27] astrobel commented on #2347
Hi @afeinstein20! Really like this software, and I think your paper & documentation are great. In particular, I think the documentation is really friendly to beginners, with regards to both the science and the code. I have a couple of major notes below, and then just some really minor stuff which I think would help with clarity and consistency, especially in the docs.

## Major notes:

- **Install

[2020-07-08 02:39] arfon commented on #2380
@galessiorob - is this one ready to move forward to the main review?

[2020-07-08 03:25] tabe commented on #2331
@mstimberg,

Yes, I will add a comment on each of the issues once it is done, to let you know.

[2020-07-08 03:54] galessiorob commented on #2380
@arfon Yes!

@whedon start review

@jsgalan the checklist will be generated for you in the review issue, thanks for diving right in!

[2020-07-08 03:59] galessiorob commented on #2380
@whedon start review

[2020-07-08 03:59] whedon opened #2449 "[REVIEW]: Sit2StandPy: An Open-Source Python Package for Detecting and Quantifying Sit-to-Stand Transitions Using an Accelerometer on the Lower Back'"
**Submitting author:** @LukasAdamowicz (<a href="http://orcid.org/0000-0001-6992-9545">Lukas Adamowicz</a>)
**Repository:** <a href="https://github.com/PfizerRD/sit2standpy" target ="_blank">https://github.com/PfizerRD/sit2standpy</a>
**Version:** v1.0.0
**Editor:** @galessiorob
**Reviewer:** @jsgalan, @gweissman
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-07-08 03:59] whedon commented on #2380
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2449.

[2020-07-08 03:59] #2380 closed

[2020-07-08 03:59] whedon commented on #2449
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jsgalan, @gweissman it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-07-08 04:00] whedon commented on #2449
[code]

[2020-07-08 04:00] whedon commented on #2449
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02449/joss.02449/10.21105.joss.02449.pdf)

[2020-07-08 04:14] skadio commented on #2408
Dear authors,

Thank you for introducing an important library. VRP is such a classical optimization problem and having a dedicated package in the Python ecosystem would definitely contribute to further research and experiments.

Overall, the API looks well-designed, the usage example is intuitive, the paper is easy to follow, the documentation and examples are elaborate.

The library passes my ini

[2020-07-08 04:21] skadio commented on #2408
@Kuifje02 @bstabler @kakiac

I am done with my 1st pass of the review. Overall, I am pleased with the library, detailed comments above.

[2020-07-08 07:51] humanfactors commented on #2340
Hi @craddm

Thanks for your feedback, very much appreciated. I've now opened a pull request (see above) with several changes to the repository to address your review comments. Feel free to add any detailed comments there.

In reference to your second point, I would like to clarify:

1. Were you suggesting any changes in the manuscript are required to make clearer typical data sources? Currently, I

[2020-07-08 08:11] Kevin-Mattheus-Moerman commented on #1867
@whedon add @Kevin-Mattheus-Moerman as reviewer

[2020-07-08 08:11] whedon commented on #1867
OK, @Kevin-Mattheus-Moerman is now a reviewer

[2020-07-08 08:39] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels I added myself as reviewer since the other reviewers dropped out. I installed the software successfully and have started testing. A couple of boxes are unticked.

**Documentation**
- [ ] **A statement of need**_: Do the authors clearly state what problems the software is designed to solve and who the target audience is?_
 Both the readme and the first page of the documentation simpl

[2020-07-08 08:52] agahkarakuzu commented on #2343
@grlee77 regarding authorship, we will send all the contributors an email and ask if they would like to be co-author. We will wait for a week to collect the responses and the necessary information, then update the author list.

[2020-07-08 08:55] rram84 commented on #2372
@jonwong12
Thanks for the suggestion to detect the project source directory with cmake. It makes sense for the examples in test/ and tutorial/ folders.

Using gtest in test/ folders is also helpful. I contemplated doing this before, but wanted to keep the requirements small since the library itself is quite small. I will give it a try this week.

I will also incorporate your suggestion to build th

[2020-07-08 09:02] Kevin-Mattheus-Moerman commented on #1867
@rhenanbartels apologies for the delay with this submission. With the pandemic our journal, editors (myself included), and reviewers have found it challenging to keep things going at a normal pace. Your submission was particularly "badly hit" it seems as unfortunately two reviewers became unresponsive.
I just wanted to apologize for this and add that I am committed to provide a fast review here an

[2020-07-08 09:08] Kevin-Mattheus-Moerman commented on #2274
@asmusskar I'm currently looking for reviewers for your submission. If you can recommend any please let me know.

[2020-07-08 09:10] Kevin-Mattheus-Moerman commented on #2275
@wkirgsn if you could recommend reviewers at this point that would be helpful. Thanks.

[2020-07-08 09:17] aj2duncan commented on #2282
@danielskatz everything seems to be moving along ok for me.

[2020-07-08 09:18] rreinecke commented on #2412
A very clean and well prepared submission @keurfonluu
Only a very small issue with the test currently open in keurfonluu/toughio#52
Besides that I think it is good to go from my side.

[2020-07-08 09:22] rreinecke commented on #2412
Has been fixed. All good to go.

[2020-07-08 09:43] peanutfun commented on #2313
Great, thank you! We merged [dorie!209](https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie/-/merge_requests/209) into `master` and now only need to patch `v2.0-stable` with the additions. I'm not entirely sure when to merge the JOSS paper and the citation file in [dorie!198](https://ts-gitlab.iup.uni-heidelberg.de/dorie/dorie/-/merge_requests/198), though, particularly because I wanted to include

[2020-07-08 10:20] jhale commented on #2372
The paper is excellent and clearly constitutes start-of-the-art academic research in this area.

I had one academic question: Is it possible to constrain boundary vertices to lie on a parametric domain prescribed by e.g. an OpenCASCADE geometry? This would require e.g. interaction with gmsh.

I have some small comments about the software aspects:

- The package is header-only but I still want a wa

[2020-07-08 11:32] astronomyk commented on #2393
@arfon sorry for the late response. Thanks for the tips regarding extending the documentation.

In answer to your questions:

* there's capability for including a custom atmosphere model,

  Indeed there is the ability for this. If the user knows the Cn2 profile of the atmosphere, they can include this directly by setting the `.layerAltitude` and `.Cn2h` attribute. Otherwise, the standard 5 ESO pr

[2020-07-08 11:36] Chilipp commented on #2316
@lorenanicole: all open points from https://github.com/openjournals/joss-reviews/issues/2316#issuecomment-653251333 have been addressed by @blsqr so I also recommend this paper for publication!

Thanks a lot @blsqr, @jeremiastraub and @herdeanu for your great work here and particularly for your efforts generating a high quality documentation!

[2020-07-08 12:43] mikldk commented on #2306
@mmrabe: I simply took the markdown without the header.

@DominiqueMakowski : Please put examples in the software documentation and link to that in the paper. This can both be in vignettes or in the README. Also only include high-level summary of the different functionalities that the package supports in the paper and refer to the documentation for a complete summary of functionality.

[2020-07-08 12:53] pdebuyl commented on #2307
@MikeHeiber Can you proceed to reply to the current reviews?

[2020-07-08 13:09] LukasAdamowicz commented on #2449
Hi all,
Thank you for the comments/work so far - DOIs were added and look like they are showing up, I'll look into making sure that the file is packed with the installation @jsgalan

[2020-07-08 13:09] merrygoat commented on #2381
@KedoKudo Thank you very much for your feedback. I will address the feedback items individually on the issues you have raised in the `xrdfit` repository.

[2020-07-08 13:11] proycon commented on #2439
I completed my review, ticking the boxes in the original post (@danielskatz I assume there's some protection layer there confirming that I was the one ticking them right?).

**Overal summary:** I think it's a well written paper and useful software package, suitable for publication in JOSS.

**Some extra comments:**

The 2nd contributor (@DerKozmonaut) I assume to be the person Yannick Kozmus that

[2020-07-08 13:20] edwardando commented on #2286
Thanks again for the comments, we've taken most of then into account, here are some notes:

- the comments about speed and comparison to `numpy`/`scipy` have been increased and sprinkled liberally throughout the tutorials (100 times faster variance filter than scipy!!)
- as requested we've linked many parts of the website (intro - tutorials - examples) to the paper -- however there's a non-negligi

[2020-07-08 13:20] pratikvn commented on #2260
@mjsottile , We just released [Ginkgo version 1.2.0](https://github.com/ginkgo-project/ginkgo/releases/tag/v1.2.0) yesterday, Can I update the version number in the comment that whedon created from 1.1.1 to 1.2.0 ?

[2020-07-08 13:20] edwardando commented on #2286
@whedon generate pdf from branch master

[2020-07-08 13:20] whedon commented on #2286
[code]

[2020-07-08 13:21] peanutfun commented on #2165
@arfon, admittedly, we are a little concerned about the state of this review. The current JOSS policy is to encourage reviewers to complete review in six weeks but our submission entered review almost four months ago. Since the discussion here went stale, we are confused about the next steps. Do we just have to wait? Are there time limits imposed on a review? What other actions can or should we ta

[2020-07-08 13:21] whedon commented on #2286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02286/joss.02286/10.21105.joss.02286.pdf)

[2020-07-08 13:23] edwardando commented on #2286
This proof is OK for us!

[2020-07-08 13:30] danielskatz commented on #2439
@proycon - thanks!

no, but the fact that you have written here about the paper being suitable implies that *you* have also checked off all the items, or at least, that you agree with their status as being checked off.

[2020-07-08 13:40] asmusskar commented on #2274
Hi!

I can recommend Emin Kutay (https://www.egr.msu.edu/people/profile/kutay)
and Sigurdur Erlingsson (
https://www.vti.se/sv/medarbetare/profil/sigurdur_erlingsson/), which to my
knowledge are both top international domain knowledge and Matlab experts. I
can also recommend Morten Herfelt Andersen (mah@optumce.com) a software
developer at OPTUM computational engineering with Matlab skills that ki

[2020-07-08 13:52] LukasAdamowicz commented on #2449
@jsgalan you should be able to now re-install from pip (make sure you get version 1.1.1.post4), which should contain the files needed for the tests (also made changes so that all the tests that were supposed to run are found correctly)

[2020-07-08 14:10] arcuri82 commented on #2153
@gkthiruvathukal  thanks

Apart from the message of 29th April, it seems there has been no other communication from @feliperodri

@mado89  has been a reviewer since January, but unfortunately has been postponing, month after month

I guess that, besides @s0nata, there is a need for a second reviewer.
From the list of the 26th of April, other possibilities could be:

* @UTH-Tuan
* @shanamatthews

[2020-07-08 14:13] gkthiruvathukal commented on #2153
@arcuri82, my pleasure. We will get there.

Apart from all of this, I also had to shut down for much of COVID-19 until the end of my academic year (May). So thank you for your patience.

Since I am not even getting a response from the two you  mentioned, I think I'm going to proceed with adding a reviewer with the hope that @s0nata will eventually  be able to complete a review for us.

[2020-07-08 14:14] gkthiruvathukal commented on #2153
@UTH-Tuan and @shanamatthews, would either or both of you be willing to contribute a review for this JOSS submission?

[2020-07-08 14:15] gkthiruvathukal commented on #2153
@whedon commands

[2020-07-08 14:15] whedon commented on #2153
Here are some things you can ask me to do:

[code]

[2020-07-08 14:26] usethedata commented on #2286
Noted.  I will get back to this this evening.

[2020-07-08 14:47] arfon commented on #2165
Thanks for your comments @peanutfun - these are challenging times for many and the responsiveness of many JOSS reviewers has substantially reduced over the past few months.

I'll follow up with all three reviewers over email today to ask them for an update on when they believe they may be able to complete their reviews by.

To help me understand your constraints better, could you tell me when you

[2020-07-08 14:51] UTH-Tuan commented on #2153
@gkthiruvathukal I guess I can step in light of the situation. I'll admit that this is a new way of doing reviews for manuscripts so I may need some direction and guidance.

[2020-07-08 14:56] Shuang-Plum commented on #2286
It looks good! I don't have a strong preference for separating the 'tools provided' and I'm looking forward to seeing the 'twistable parameter' section in the future. For me, the tutorials and examples are sufficient to get me started on spam, but any advanced guidance for users who want to dig further would be really helpful. @edwardando

[2020-07-08 14:58] KristinaRiemer commented on #2328
@evaristor thank you for confirming your acceptance! @katmratliff if you are also satisfied with this at this point, could you please confirm that?

[2020-07-08 15:09] JBorrow commented on #2430
@whedon generate pdf from branch joss-paper

[2020-07-08 15:09] whedon commented on #2430
[code]

[2020-07-08 15:10] whedon commented on #2430
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02430/joss.02430/10.21105.joss.02430.pdf)

[2020-07-08 15:12] KristinaRiemer commented on #2424
@a-r-j I think you need to accept the invite to review in order to be listed as an assignee here. Then both reviewers can feel free to start your review! The checklists above and [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) are good places to start. Let me know if you have questions or need help.

[2020-07-08 15:38] lorenanicole commented on #2316
Excellent! CC: @arfon

[2020-07-08 15:41] anibalsolon commented on #2340
Hi all,

Thank you for the follow-up, @oliviaguest!

----

Thank you for the contribution @humanfactors I am sure several will benefit from an open-source solution of these models!
Here are my two cents:

1. Following @craddm comments, CI integration is a great addition, and I am glad you got that working already. As a suggestion, adding code coverage to the CI pipeline provides you with some info

[2020-07-08 15:46] arfon commented on #2316
:tada: great! @lorenanicole, if all the reviewers have recommended the paper and you're ready to move this forward then these are the next steps: https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2020-07-08 15:57] kyleniemeyer commented on #2161
Hi @TomKellyGenetics, before accepting I found just a few things in the paper to fix:

- typo in third sentence: "uesad" -> "used"
- the `limma` reference has a a typo in the bib file, I think there is a space missing between a comma and `and` causing a problem:
[code]
should be
[code]

[2020-07-08 15:58] kyleniemeyer commented on #2095
@whedon generate pdf

[2020-07-08 15:59] whedon commented on #2095
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02095/joss.02095/10.21105.joss.02095.pdf)

[2020-07-08 16:08] homonecloco commented on #2402
Hi @anwarbio ,
Thanks for making the updates so fast. Is there a way I can preview them? Specially I would like to see the NAs go away. In any case, I see you uploaded the file, and it is fine if you only have the html documentation. As long it is available in either format, in an easy to copy and paste (so you can test that the commands are working as expected), is fine.
Best,
Ricardo.

[2020-07-08 16:16] wjakethompson commented on #2394
I will hopefully finish up today, but by end of day on Friday at the latest. Thanks!

[2020-07-08 16:20] victorvalgenti commented on #2183
@VivianePons I have finally found the time and energy to begin a review. However, I must disclose my conflicts of Interest and also, I seem to have a technical difficulty.
COI:
Mike Turi and I attended WSU at the same time (in different labs). We have been friends and remain in occasional contact (conversations once or twice a year). I worked with Mike on a small project in the summer of 2014 (I b

[2020-07-08 16:25] kyleniemeyer commented on #2095
Hi @roshansamuel, I think your changes have addressed @dlagrava's concerns, thanks!

[2020-07-08 16:25] kyleniemeyer commented on #2095
Hi @harpolea it looks like some of your review checklist items are missing, can you complete your review here? Thanks!

[2020-07-08 16:55] tylunel commented on #2361
Hi @kbarnhart, thank you for your review!
Actually I did not expect the first review to be done so quickly, thanks for that! And the reason why I am not very responsive now is that I am currently on vacation until july 15 haha. So I will really take over the submission only then, sorry for the inconvenience.
Your comments seem clear so far, just maybe one question: for the third checkbox "State ho

[2020-07-08 16:57] katmratliff commented on #2328
@KristinaRiemer yes I recommend accepting as well

[2020-07-08 17:36] henrik227 commented on #2392
I am concerned that multivar_horner does not qualify as a `substantial scholarly effort' as described in the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort), for the following reasons:

- The project is not very large (see the statistics [here](https://github.com/openjournals/joss-reviews/issues/2224#issuecomment-632872231)).
- It seems to

[2020-07-08 18:15] aureliocarnero commented on #2363
Dear @garrelt thank you for the clarification. No need to put anything in the text, then. Cheers
Aurelio

[2020-07-08 18:29] wjakethompson commented on #2394
I've completed my review and overall I think it looks great! I have two open issues, one that is super minor and is not acceptance blocker (OttaviaE/implicitMeasures#4), and one that I think is a little more important and should be considered prior to publication (OttaviaE/implicitMeasures#5). I'm happy to answer any questions as you look through my suggestions!

[2020-07-08 18:37] banesullivan commented on #1450
I noticed recently that the "Software Repository" link on https://joss.theoj.org/papers/10.21105/joss.01450 is incorrect. Can we update this? cc'ing @leouieda and @arfon

This seems to be an artifact of changing the repository's URL during the pre-review process. Ref https://github.com/openjournals/joss-reviews/issues/1382#issuecomment-491614935

[2020-07-08 19:06] will-rowe commented on #2416
Thanks for getting back to me @abotzki  - I'll see if I can get someone with some more availability. Have a good holiday!

[2020-07-08 19:08] will-rowe commented on #2416
Hey @rpetit3 and @coughls. Would either of you be able to review this submission for JOSS please?

[2020-07-08 19:12] bmcfee commented on #2223
@whedon add @edonnachie as reviewer

[2020-07-08 19:12] whedon commented on #2223
OK, @edonnachie is now a reviewer

[2020-07-08 19:13] bmcfee commented on #2223
@whedon start review

[2020-07-08 19:13] whedon opened #2450 "[REVIEW]: arcos (R) and arcospy (Python): twin software packages to access the DEA ARCOS database from 2006 to 2014"
**Submitting author:** @jeffcsauer (<a href="http://orcid.org/0000-0002-8581-6919">Jeffery Sauer</a>)
**Repository:** <a href="https://github.com/jeffcsauer/arcos_arcospy_information" target ="_blank">https://github.com/jeffcsauer/arcos_arcospy_information</a>
**Version:** <v1.1.1>
**Editor:** @bmcfee
**Reviewer:** @jaeyk, @edonnachie
**Archive:** <a href="https://doi.org/10.5281/zenodo.4029306" t

[2020-07-08 19:13] whedon commented on #2223
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2450.

[2020-07-08 19:13] #2223 closed

[2020-07-08 19:13] whedon commented on #2450
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jaeyk, @edonnachie it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-07-08 19:14] whedon commented on #2450
[code]

[2020-07-08 19:14] whedon commented on #2450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02450/joss.02450/10.21105.joss.02450.pdf)

[2020-07-08 19:47] rpetit3 commented on #2416
I can review it.

[2020-07-08 19:52] leomrtns commented on #2416
Hi @will-rowe I can start the review in ~10 days, I'll keep an eye here in case you don't find anybody

[2020-07-08 20:03] elDan101 commented on #2283
@dfm @mtezzele @jsgalan

I merged the pull request

https://gitlab.com/datafold-dev/datafold/-/merge_requests/57

which addresses the reviewers' feedback and summaries how I responded to each point in the description.

If it is ok with you @dfm, I will leave the three pull requests that exist as branches open and remove them once they are merged. From now on, we'll follow the sugested "fork -> mer

[2020-07-08 20:17] joethorley commented on #2447
@marcosvital can you clarify what JOSS means by "clear guidelines for third parties wishing to Seek support".

See https://github.com/nhejazi/txshift/issues/57

I personally think the "Seek support" condition is covered by "Report issues or problems with the software" but please advise if this is not the case.

[2020-07-08 20:22] jaeyk commented on #2450
@jeffcsauer I will review the package starting today. Could you reorganize `paper.md` in the package git repository so that it could be more consistent with the standard format used in JOSS? An example is [here](https://github.com/ComtekAdvancedStructures/cmstatr/blob/master/paper.md). Specifically, I would like to see a separate section on the statement of need.

[2020-07-08 20:26] jaeyk commented on #2450
@jeffcsauer Also, it would be great, if you could add a short but detailed documentation on the functions provided by the package. An example is [here](https://keyatm.github.io/keyATM/articles/pkgdown_files/Options.html). The R and Python examples provided in the usage section are not user-friendly. You already have the vignettes. Thus, I believe that this is easily doable.

[2020-07-08 20:30] will-rowe commented on #2416
Brilliant - thanks @rpetit3!

@leomrtns - we have 2 reviewers now, thank you anyway.

[2020-07-08 20:31] will-rowe commented on #2416
@whedon assign @telatin as reviewer

[2020-07-08 20:31] whedon commented on #2416
OK, @telatin is now a reviewer

[2020-07-08 20:31] will-rowe commented on #2416
@whedon add @rpetit3 as a reviewer

[2020-07-08 20:31] whedon commented on #2416
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-08 20:32] will-rowe commented on #2416
@whedon add @rpetit3 as reviewer

[2020-07-08 20:32] whedon commented on #2416
OK, @rpetit3 is now a reviewer

[2020-07-08 20:33] will-rowe commented on #2416
Thank you again for agreeing to review @telatin and @rpetit3

I'll kick the review process off now. This will start a new thread with instructions at the top. Please ping me if you need anything.

[2020-07-08 20:34] will-rowe commented on #2416
@whedon start review

[2020-07-08 20:34] whedon opened #2451 "[REVIEW]: Chromatiblock: scalable whole-genome visualization of structural differences in prokaryotes"
**Submitting author:** @mjsull (<a href="http://orcid.org/0000-0001-9076-6963">Mitchell</a>)
**Repository:** <a href="https://github.com/mjsull/chromatiblock/" target ="_blank">https://github.com/mjsull/chromatiblock/</a>
**Version:** v1.0.0
**Editor:** @will-rowe
**Reviewers:** @telatin, @rpetit3
**Archive:** <a href="https://doi.org/10.5281/zenodo.4034604" target="_blank">10.5281/zenodo.4034604<

[2020-07-08 20:34] whedon commented on #2416
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2451.

[2020-07-08 20:34] #2416 closed

[2020-07-08 20:34] whedon commented on #2451
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @telatin, @rpetit3 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-07-08 20:36] whedon commented on #2451
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02451/joss.02451/10.21105.joss.02451.pdf)

[2020-07-08 20:38] gcdeshpande commented on #2354
@cMadan request you to kindly share the evaluation criteria and process.

[2020-07-08 20:42] kyleniemeyer commented on #2259
Hi @snowformatics, just a few minor edits remaining on the paper before we accept:

- In the first paragraph (and anywhere else this occurs), when you have multiple citations please combine them like this:
`[@author1:2001; @author2:2001]` -> "(Author1 et al., 2001; Author2 et al., 2002)"
- the Hazell reference is missing details
- please add the DOI 10.1007/s10681-011-0361-x to the Huerta-Espino a

[2020-07-08 20:46] kyleniemeyer commented on #2354
Hello @gcdeshpande, here is a link to our review criteria: https://joss.readthedocs.io/en/latest/review_criteria.html

@alletsee Thanks for responding—if you are not really able to review the software, then we might prefer to find alternate reviewers (JOSS papers are fairly short). However, if you feel comfortable at least reviewing the functionality and documentation of the software, bringing you

[2020-07-08 20:46] kyleniemeyer commented on #2354
@whedon add @gcdeshpande as reviewer

[2020-07-08 20:46] whedon commented on #2354
OK, @gcdeshpande is now a reviewer

[2020-07-08 20:49] kbarnhart commented on #2361
@tylunel no problem. Enjoy your vacation and let me know if you have additional questions for me when you return to this.

By "State how a user might test the software", I mean your first option. To state how a user can run the tests of the software. In the case of your contribution, I can see that there are test, just no instructions on how a person would run them.

It also looks like your CI bad

[2020-07-08 20:54] arfon commented on #2389
Hi @nhejazi, apologies for the slow response here.

I wanted to share a couple of extra resources that weren't public until yesterday that articulate some of our thinking on these topics about scope/level of effort in JOSS submissions:

- https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort
- https://blog.joss.theoj.org/2020/07/minimum-publishable-unit

As you can see

[2020-07-08 21:01] gweissman commented on #2449
I was able to install the package easily without apparent errors. To assess functionality, I ran the accompanying tests using `pytest` and all passed. I did not import the library directly or try running any of my own code with it.

One scientific concern is that the validation of the algorithms implemented in this software package appear to have been reported in a paper that is currently under re

[2020-07-08 21:06] mbobra commented on #2125
@danhey Let me know if want any help with this, I'm happy to get your paper published as soon as possible :)

[2020-07-08 21:16] sarats commented on #2374
Sorry, just started another review for JOSS.

[2020-07-08 21:55] arfon commented on #1450
OK, I've updated this now.

[2020-07-08 22:21] anwarbio commented on #2402
Hi @homonecloco ,
Thank you for the reply. I have made few more edits today to put each function in separate line (you can see them in the github). I do not know how to share the preview file, so I have shared you a screenshot showing the functions arranged neatly.
Thanking you,
Anwar

![Picture1](https://user-images.githubusercontent.com/7861503/86975899-41586a00-c171-11ea-8957-75ea84540b56.jpg)

[2020-07-08 23:11] banesullivan commented on #1450
Awesome, thank you!!

[2020-07-08 23:18] jeffcsauer commented on #2450
@jaeyk thank you for the quick input! Absolutely - I will carry out the suggestions over the next few days and tag you when they are completed.

[2020-07-08 23:56] ArdiaD commented on #2376
@will-rowe seems like @mbod has been off for a while. Would you be kind to take over?

[2020-07-09 00:18] TomKellyGenetics commented on #2161
Thanks for letting me know @kyleniemeyer, the corrected version should be pushed now.

[2020-07-09 00:18] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-07-09 00:18] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-07-09 00:29] kyleniemeyer commented on #2161
@TomKellyGenetics looks good!

[2020-07-09 00:30] kyleniemeyer commented on #2161
@whedon accept

[2020-07-09 00:30] whedon commented on #2161
[code]

[2020-07-09 00:30] whedon commented on #2161
[code]

[2020-07-09 00:30] whedon commented on #2161
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1551

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1551, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-09 00:32] kyleniemeyer commented on #2161
@whedon accept deposit=true

[2020-07-09 00:32] whedon commented on #2161
[code]

[2020-07-09 00:33] whedon commented on #2161
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1281023586736705536) 👈 🐦🐦🐦

[2020-07-09 00:33] whedon commented on #2161
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1552
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02161](https://doi.org/10.21105/joss.02161)
2. If everything looks g

[2020-07-09 00:56] usethedata commented on #2286
@whedon check references

[2020-07-09 00:57] whedon commented on #2286
[code]

[2020-07-09 01:14] jaeyk commented on #2450
@jeffcsauer Thanks. I plan to review software paper -> documentation -> functionality. The package is already in good shape. My focus will be improving user-interface.

[2020-07-09 01:18] kyleniemeyer commented on #2161
Congrats @TomKellyGenetics on your article's publication in JOSS!

Many thanks to  @rcannood and @corybrunson for reviewing, and @majensen for editing.

[2020-07-09 01:18] #2161 closed

[2020-07-09 01:18] whedon commented on #2161
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02161/status.svg)](https://doi.org/10.21105/joss.02161)

**We need your help!**

Journal of Open Source Softwa

[2020-07-09 01:24] apalarcon commented on #2374
Potential reviewers:
rchg - rcheca@lsce.ipsl.fr
DamienIrving - irving.damien@gmail.com

[2020-07-09 01:31] usethedata commented on #2286
@edwardando -- See comment above. The invalid DOIs need to be bare DOI's in your .bib file -- remove the prefix as noted.  Will you look at the five suggested DOIs to see if they are true matches (and update the .bib file accordingly) or false positives (and note that in a reply comment here)?

In your paper:
* All of the "introduction" links I tried are 404
* All of the "examples gallery" links I

[2020-07-09 02:51] MikeHeiber commented on #2307
Thank you @mdavezac and @Luthaf for the feedback about the build system Excimontec is currently using.  While it might not be the most ideal solution, building the tool with GNU Make is fairly simple and it works.  I've compiled and run Excimontec using Make on a number of different computing clusters at different universities and national labs, and I've never had major issues. There's also a hand

[2020-07-09 03:57] majensen commented on #2161
Really nice paper @TomKellyGenetics - @corybrunson and @rcannood I appreciate your huge contribution during these strange days. Hope you will all think of JOSS next time you publish!
--@majensen

[2020-07-09 04:51] mjsottile commented on #2260
@whedon set v1.2.0 as version

[2020-07-09 04:52] whedon commented on #2260
OK. v1.2.0 is the version.

[2020-07-09 05:02] mjsottile commented on #2260
Hi @sivaramambikasaran and @adam-m-jcbs - please let me know if you are unable to complete the reviews so I can identify other reviewer candidates.  If you are able to complete the reviews, it would be useful if you could do so within the next 7-14 days.

[2020-07-09 05:09] mjsottile commented on #2443
:wave: @rodrigokataishi, @bastinrobin, @jaeyk, @lesaffre - the author of this submission to JOSS has indicated that you may be interested in reviewing this submission.  If you are interested and willing to provide a review within the next few weeks I would greatly appreciate it.  Please respond in this issue if you are willing and I will add you as a reviewer.  Thank you!

[2020-07-09 05:26] jaeyk commented on #2443
@mjsottile I'm in the process of reviewing another submission. I can review this submission if I can start working on it 1-2 weeks later.

[2020-07-09 05:40] BastinRobin commented on #2443
I am interested!.

On Thu, Jul 9, 2020 at 10:40 AM Matthew Sottile <notifications@github.com>
wrote:

--
Regards,

*Bastin Robin.J*
bastinrobins@gmail.com

[2020-07-09 06:01] pratikvn commented on #2260
@whedon generate pdf from branch joss-paper

[2020-07-09 06:01] whedon commented on #2260
[code]

[2020-07-09 06:02] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-07-09 06:44] TomKellyGenetics commented on #2161
Thanks again, @majensen @corybrunson and @rcannood, I'm very impressed by the JOSS review process. This a great initiative for the open-source community. I have put my name in the hat to review. 😊

[2020-07-09 07:10] Kevin-Mattheus-Moerman commented on #2274
@asmusskar thanks for those. Do you know if they have GitHub handles already?

[2020-07-09 07:58] will-rowe commented on #2376
Yes - I'll review this today in place of @mbod

[2020-07-09 07:58] will-rowe commented on #2376
@whedon remove @mbod as reviewer

[2020-07-09 07:59] whedon commented on #2376
OK, @mbod is no longer a reviewer

[2020-07-09 07:59] will-rowe commented on #2376
@whedon add @will-rowe as reviewer

[2020-07-09 07:59] whedon commented on #2376
OK, @will-rowe is now a reviewer

[2020-07-09 08:06] humanfactors commented on #2340
Thank you @anibalsolon for your insightful review. I've added our changes directly to the already open pull request on the `joss-craddm` branch https://github.com/humanfactors/FIPS/pull/3

We really appreciated this suggestion, as I had often wondered how coverage reports were generated. I've now added this to the Travis CI script and also run the function locally. I'm satisfied with the coverage,

[2020-07-09 08:30] snowformatics commented on #2259
@whedon check references

[2020-07-09 08:30] whedon commented on #2259
[code]

[2020-07-09 08:31] snowformatics commented on #2259
@whedon generate pdf

[2020-07-09 08:31] whedon commented on #2259
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02259/joss.02259/10.21105.joss.02259.pdf)

[2020-07-09 08:35] snowformatics commented on #2259
Thanks for your comment, I hope everything is ok now.

[2020-07-09 09:03] craddm commented on #2340
1) No 2) Yes :) I'm happy with the changes you've made. Thanks!

[2020-07-09 09:05] rodrigokataishi commented on #2443
I´m interested too.
Please let me know how to proceed.
Best,
r

On Thu, Jul 9, 2020 at 2:41 AM Bastin Robin <notifications@github.com>
wrote:

--

Linux User # 474893, Ubuntu User # 23033

[2020-07-09 10:06] oliviaguest commented on #2377
@trisbek great! Please tag Samika's username so we can give due credit and assign as reviewer if they so wish, thanks.

[2020-07-09 10:16] kakiac commented on #2437
Thanks @danielskatz, happy to edit this submission :)

[2020-07-09 10:16] kakiac commented on #2437
@whedon assign me as editor

[2020-07-09 10:16] whedon commented on #2437
OK, the editor is @kakiac

[2020-07-09 10:26] spectralcode commented on #2245
@whedon generate pdf

[2020-07-09 10:26] whedon commented on #2245
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02245/joss.02245/10.21105.joss.02245.pdf)

[2020-07-09 10:32] kakiac commented on #2437
👋  @chainsawriot thanks for your submission to JOSS.

Your submission fulfils our submission criteria (https://joss.readthedocs.io/en/latest/submitting.html), so I will be contacting your suggested reviewers shortly.

In the meantime, can you please include a "Statement of need" section in your paper?

Many thanks and I will be in touch!

[2020-07-09 10:33] kakiac commented on #2437
@whedon generate pdf

[2020-07-09 10:33] whedon commented on #2437
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02437/joss.02437/10.21105.joss.02437.pdf)

[2020-07-09 10:34] kakiac commented on #2437
👋  @pdwaggoner, @mbod would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-07-09 10:52] kakiac commented on #2408
:wave @bstabler @skadio Thanks all for your hard work and your extensive feedback! 🥇

@Kuifje02 - would you please address their comments, and upload a revised version on your submission in https://github.com/Kuifje02/vrpy/tree/master/paper?

[2020-07-09 11:20] kakiac commented on #2405
@whedon re-invite @atanikan as reviewer

[2020-07-09 11:20] whedon commented on #2405
@atanikan already has access.

[2020-07-09 11:22] peanutfun commented on #2165
Thanks a lot for your reply, @arfon. These are challenging times indeed and we do not want to blame anybody for being less responsive. After all, we are very happy that anybody would take their time and make the effort to review and thus support our publication!

We do *not* have a hard deadline in which the paper must be published. But with the conclusion of most of our PhD projects in early 2021

[2020-07-09 11:27] kakiac commented on #2405
👋  @Fil many thanks for your comments - @yomguithereal can you let us know once you have addressed @Fil 's comments?

@atanikan let me know if you need any help with the reviewing process - the review criteria you need to follow are outlined here: https://joss.readthedocs.io/en/latest/review_criteria.html and a useful checklist is above (with comments and explanations here: https://joss.readthedoc

[2020-07-09 11:34] kakiac commented on #2408
LIst of JOSS review related issues:

- https://github.com/Kuifje02/vrpy/issues/54
- https://github.com/Kuifje02/vrpy/issues/53
- https://github.com/Kuifje02/vrpy/issues/52
- https://github.com/Kuifje02/vrpy/issues/44
- https://github.com/Kuifje02/vrpy/issues/43
- https://github.com/Kuifje02/vrpy/issues/42

[2020-07-09 11:36] chainsawriot commented on #2437
@whedon generate pdf

[2020-07-09 11:36] chainsawriot commented on #2437
@kakiac A statement of need is added to the paper.

[2020-07-09 11:37] whedon commented on #2437
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02437/joss.02437/10.21105.joss.02437.pdf)

[2020-07-09 11:41] kakiac commented on #2437
@chainsawriot Many thanks! 🌟

[2020-07-09 11:54] lpantano commented on #2410
Hi @a-slide, @rabdill, Would you like to review this tool? thanks!

[2020-07-09 11:56] srmnitc commented on #1824
@arfon Hi Arfon, I am the author of the package in this review, which is now published. I had a quick question. We would like to change the license of the package from GNU GPL to BSD. It still remains open source, but it is for integration into a larger project. Is this okay from the perspective of JOSS? Sorry about the trouble!

[2020-07-09 11:58] arfon commented on #2165
This sounds like a reasonable suggestion, with the caveat that if we don't have two complete reviews by then we will need to identify additional reviewers.

As I mentioned in my earlier message, I emailed all of the reviewers yesterday and @Shibabrat has already responded and completed their review. 🤞we will receive a second complete review in the coming weeks and we can close this out.

[2020-07-09 11:59] arfon commented on #1824
@srmnitc - this is fine with us. Thanks for checking!

[2020-07-09 12:13] arfon commented on #2165
@whedon remind @szhorvat in two weeks

I just heard back from @szhorvat over email and they confirmed that they should be able to complete their review in two weeks.

[2020-07-09 12:14] whedon commented on #2165
Reminder set for @szhorvat in two weeks

[2020-07-09 12:16] kakiac commented on #2437
I have just sent a notification to the reviewers by email, as well, we should have some news in the next couple of days :)

[2020-07-09 12:26] csoneson commented on #1992
@whedon remove @greglandrum as reviewer

[2020-07-09 12:26] whedon commented on #1992
OK, @greglandrum is no longer a reviewer

[2020-07-09 12:36] Yomguithereal commented on #2405
Sure, I will tell you when this is done. I first need to find a little bit of time to do so, hope there is no time limit on this :) Thanks for reviewing the library.

[2020-07-09 13:45] mbod commented on #2437
@kakiac I am happy to review this submission - just replied to your email

[2020-07-09 13:47] LukasAdamowicz commented on #2449
Thank you for your comments, @gweissman.

Regarding your last point, I added the following statement to the paper, which has been on the other papers our group has published ([GaitPy](https://joss.theoj.org/papers/10.21105/joss.01778), [SleepPy](https://joss.theoj.org/papers/10.21105/joss.01663))

[2020-07-09 14:19] atanikan commented on #2405
@kakiac Thanks for the reminder :)
@Yomguithereal The installation works. I checked some of your functions and they work well. Minor suggestions, Personally I'd find it more intuitive to do
`var talis = require('talisman');
talis.metrics.cosine([1,2],[3,4]);`
over
`var cos = require('talisman/metrics/cosine');
cos([1,2],[3,4]);`
I guess the [issue](https://github.com/Yomguithereal/talisman/issues/

[2020-07-09 14:34] platipodium commented on #2165
@peanutfun Sorry for this interrupted review activity from my side. To continue ticking off the list, I was missing a clearer **statement of need** for this software.  Have you elaborated on this by now?

[2020-07-09 14:36] amandadumi commented on #2307
@pdebuyl Hello, if another reviewer is still needed, I would be able and interested! Sorry for the delayed response.

[2020-07-09 14:38] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-07-09 14:39] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-07-09 14:43] KristinaRiemer commented on #2328
@whedon generate pdf

[2020-07-09 14:44] whedon commented on #2328
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02328/joss.02328/10.21105.joss.02328.pdf)

[2020-07-09 14:45] KristinaRiemer commented on #2328
@whedon check references

[2020-07-09 14:45] whedon commented on #2328
[code]

[2020-07-09 14:46] pdwaggoner commented on #2437
Hi @kakiac - thanks for reaching out. Happy to review this submission!

[2020-07-09 14:50] DominiqueMakowski commented on #2306
Thanks for your suggestions.

@mikldk we shorten the paper and linked to the vignettes and documentation.

[2020-07-09 14:51] szhorvat commented on #2165
I meant to mention this as well. Personally, I am not sure if this should be a blocker for publication, but I think it is definitely a hindrance for the project.

If someone comes across [the Utopia website](https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia), they will not be able to tell: (1) what does this software do? (2) could I benefit from this software? Finding this out takes quite a bi

[2020-07-09 15:12] OttaviaE commented on #2394
Thanks @wjakethompson, your suggestions were really useful and I think they improved the package. I pushed all the code modifcations and the data sets for the replicability check on Git Hub, so you can have a look at them if you wish. However, I'll wait for the comments of the other reviewer before submitting the package with the new features on CRAN. Thanks again =)

[2020-07-09 15:13] KristinaRiemer commented on #2328
Thank you for your reviews @evaristor and @katmratliff!

@cbirdferrer, I'm just going through the article proof linked above for correct DOIs, typos, etc., which you should do also to make sure it looks good to you.

I only found a couple minors things that you can fix when you get a chance:

- Dawson (2017) reference is missing some authors
- There is inconsistency between whether or not a comma

[2020-07-09 15:28] akbaritabar commented on #2437
Dear @kakiac , thanks a lot for giving me the chance. I am really sorry. I read the paper and checked the review guidelines, but I don't feel confident enough to evaluate the technical aspects of this package. The paper is well written, but I cannot be a good judge to say anything about the functionality as it is not my area of expertise.

It is a pity, as it could have been my first JOSS review :

[2020-07-09 15:34] Yomguithereal commented on #2405
Yes the issue is indeed about this point. The reason why this was implemented thusly, in the beginning, is because it was written at a time where tree-shaking bundler were not yet a thing and since the library is really heavy on its own, it was the only way to make sure people would only require pieces of it on a need-to basis. But I agree this is somewhat unnecessary when using the library in nod

[2020-07-09 15:38] will-rowe commented on #2376
@whedon generate pdf

[2020-07-09 15:38] will-rowe commented on #2376
@whedon check references

[2020-07-09 15:39] whedon commented on #2376
[code]

[2020-07-09 15:40] ArdiaD commented on #2376
@will-rowe thx a lot for taking care of that!

[2020-07-09 15:43] cbirdferrer commented on #2328
@whedon generate pdf

[2020-07-09 15:43] will-rowe commented on #2376
@whedon generate pdf

[2020-07-09 15:44] whedon commented on #2328
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02328/joss.02328/10.21105.joss.02328.pdf)

[2020-07-09 15:44] whedon commented on #2376
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02376/joss.02376/10.21105.joss.02376.pdf)

[2020-07-09 15:44] will-rowe commented on #2376
@whedon check references

[2020-07-09 15:45] whedon commented on #2376
[code]

[2020-07-09 15:48] cbirdferrer commented on #2328
Thanks @KristinaRiemer! Fixed both!

[2020-07-09 15:50] drvinceknight commented on #2152
That's great, thanks @koenderks, does Dr Trevor Stewart have a GitHub account? If not let me know what their email address is (link me to their academic site perhaps) and I'll get in touch with them.

[2020-07-09 16:06] cbirdferrer commented on #2328
@whedon generate pdf

[2020-07-09 16:06] whedon commented on #2328
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02328/joss.02328/10.21105.joss.02328.pdf)

[2020-07-09 16:07] cbirdferrer commented on #2328
@whedon check references

[2020-07-09 16:08] whedon commented on #2328
[code]

[2020-07-09 16:12] atanikan commented on #2405
That's fair! I guess we can pass on it for now.

Then yes, I meant performance benchmarking with other similar libraries. I understand Talisman aims to be an archive/collection of several text-based search/information retrieval techniques. And not exactly a brand new algorithm. I however feel some benchmarking, be it in terms of accuracy or speed of execution by taking a large dataset as an exampl

[2020-07-09 16:21] will-rowe commented on #2376
Hey @ArdiaD - just a couple of comments for you to respond to over at the above issue

[2020-07-09 16:25] gvegayon commented on #2315
Hey! So everything looks good on my side. I tested the package, compiled it, and run the checks using R CMD check. The authors addressed a couple of key issues that submitted regarding testing and documentation. Issue 28 is regarding some R CMD check notes that are very easy to address, so with that, we are good to go!

[2020-07-09 16:29] drvinceknight commented on #2315
That's great, thanks @gvegayon.

@yangkcatiu if you could comment here when that issue is addressed that would be great :+1:

[2020-07-09 16:53] wjakethompson commented on #2394
Everything looks good to me! I think I've completed everything in my check list, but @oliviaguest let me know if I missed anything. Thanks for inviting me to participate!

[2020-07-09 17:08] dhhagan commented on #2374
Hey @rchg @DamienIrving - are either of you able to review this manuscript? Thanks!

[2020-07-09 17:17] peanutfun commented on #2165
Thank you, @arfon, this is great news! 👍

Thank you also for checking back, @platipodium and @szhorvat! I really hope you do not get this the wrong way... We want you to take any time you need, but a time frame helps us to plan ahead. In any case, we are really excited to have you reviewing Utopia and to continue this review! 🎉

On to your remarks concerning the statement of need: I recall you men

[2020-07-09 17:21] kyleniemeyer commented on #2259
@whedon accept

[2020-07-09 17:21] whedon commented on #2259
[code]

[2020-07-09 17:22] whedon commented on #2259
[code]

[2020-07-09 17:22] whedon commented on #2259
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1553

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1553, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-09 17:24] kyleniemeyer commented on #2259
@whedon accept deposit=true

[2020-07-09 17:24] whedon commented on #2259
[code]

[2020-07-09 17:26] whedon commented on #2259
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1281278475467358208) 👈 🐦🐦🐦

[2020-07-09 17:26] whedon commented on #2259
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1554
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02259](https://doi.org/10.21105/joss.02259)
2. If everything looks g

[2020-07-09 17:29] kyleniemeyer commented on #2259
Congrats @snowformatics on your article's publication in JOSS!

Many thanks to @SirSharpest, @phckopper, and @jizecn for reviewing this, and @mjsottile for editing.

[2020-07-09 17:29] #2259 closed

[2020-07-09 17:29] whedon commented on #2259
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02259/status.svg)](https://doi.org/10.21105/joss.02259)

**We need your help!**

Journal of Open Source Softwa

[2020-07-09 17:54] KristinaRiemer commented on #2328
That looks great @cbirdferrer!

The next steps are to: 1) [create a tagged release](https://docs.github.com/en/github/administering-a-repository/managing-releases-in-a-repository#creating-a-release) on GitHub and 2) archive the code (on Zenodo, figshare, institutional repository, etc.) to generate a DOI. If you can post a link to the DOI here when you're done please.

[2020-07-09 18:07] cbirdferrer commented on #2328
@KristinaRiemer here's the link to the DOI
https://zenodo.org/record/3937611#.XwdcpZNKhTY
DOI: 10.5281/zenodo.3937611

[2020-07-09 18:19] cmccomb commented on #2362
Thanks @AlexMikes! My review is complete, and I recommend accept, @gkthiruvathukal .

[2020-07-09 18:20] yangkcatiu commented on #2315
@drvinceknight we have addressed the issue.

[2020-07-09 18:56] KristinaRiemer commented on #2328
@whedon set v1.0.5 as version

[2020-07-09 18:56] whedon commented on #2328
OK. v1.0.5 is the version.

[2020-07-09 18:57] KristinaRiemer commented on #2328
@whedon set 10.5281/zenodo.3937611 as archive

[2020-07-09 18:57] whedon commented on #2328
OK. <a href="https://doi.org/10.5281/zenodo.3937611" target="_blank">10.5281/zenodo.3937611</a> is the archive.

[2020-07-09 18:58] KristinaRiemer commented on #2328
@whedon accept

[2020-07-09 18:58] whedon commented on #2328
[code]

[2020-07-09 18:59] whedon commented on #2328
[code]

[2020-07-09 19:00] whedon commented on #2328
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1555

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1555, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-09 19:17] cicirello commented on #2448
@whedon commands

[2020-07-09 19:17] whedon commented on #2448
Here are some things you can ask me to do:

[code]

[2020-07-09 19:18] cicirello commented on #2448
@whedon check references

[2020-07-09 19:18] whedon commented on #2448
[code]

[2020-07-09 19:18] cicirello commented on #2448
@whedon generate pdf

[2020-07-09 19:19] whedon commented on #2448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02448/joss.02448/10.21105.joss.02448.pdf)

[2020-07-09 19:40] kyleniemeyer commented on #2328
All looks good here, thanks!

[2020-07-09 19:40] kyleniemeyer commented on #2328
@whedon accept deposit=true

[2020-07-09 19:41] whedon commented on #2328
[code]

[2020-07-09 19:42] whedon commented on #2328
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1281312708999237633) 👈 🐦🐦🐦

[2020-07-09 19:42] whedon commented on #2328
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1556
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02328](https://doi.org/10.21105/joss.02328)
2. If everything looks g

[2020-07-09 19:46] whedon opened #2452 "[PRE REVIEW]: MiTfAT: A Pyhton-based fMRI Analysis Tool, Made in Tübingen"
**Submitting author:** @vahid-sb (<a href="http://orcid.org/0000-0001-6544-7960">Vahid S. Bokharaie</a>)
**Repository:** <a href="https://github.com/vahid-sb/MiTfAT" target ="_blank">https://github.com/vahid-sb/MiTfAT</a>
**Version:** v0.1.6
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2020-07-09 19:46] whedon commented on #2452
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 19:47] whedon commented on #2452
PDF failed to compile for issue #2452 with the following error:

 Can't find any papers to compile :-(

[2020-07-09 19:47] whedon commented on #2452
[code]

[2020-07-09 19:48] kyleniemeyer commented on #2452
Hi @vahid-sb, it looks like your repository is missing the actual JOSS paper. Please review our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html), and let me know here when you have completed the paper. In the meantime, I will pause this submission.

[2020-07-09 19:48] gkthiruvathukal commented on #2362
@cmccomb, This is great news.

@e-dub, Will you be able to complete your evaluation soon?

[2020-07-09 19:52] kyleniemeyer commented on #2328
Congratulations @cbirdferrer on your article's publication in JOSS!

Many thanks to @evaristor and @katmratliff for reviewing this, and  @KristinaRiemer for editing.

[2020-07-09 19:52] #2328 closed

[2020-07-09 19:53] whedon commented on #2328
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02328/status.svg)](https://doi.org/10.21105/joss.02328)

**We need your help!**

Journal of Open Source Softwa

[2020-07-09 20:10] mikldk commented on #2306
@DominiqueMakowski : Thank you for the progress. The vignette "Correlation Types" does not contain as many details (formulas) as the paper. I think it should be the other way around. Also, you still have `R` examples in the paper. Please see if you can improve the vignette(s) with what is in the paper (e.g. details on correlation) and try to keep the paper without examples (move to vignettes/READM

[2020-07-09 20:53] rabdill commented on #2410
@lpantano this looks like a really cool project, but I just don't have time to do a review right now, I'm sorry.

[2020-07-09 21:21] kyleniemeyer commented on #2433
Hi @kthyng, do you have bandwidth to edit this one? I saw that you had already interacted in the pre-submission inquiry, plus this seems closest to your area.

[2020-07-09 21:22] kyleniemeyer commented on #2433
@whedon invite @kthyng as editor

[2020-07-09 21:22] whedon commented on #2433
@kthyng has been invited to edit this submission.

[2020-07-09 21:24] kyleniemeyer commented on #2434
Hi @tomaslaz, while we are finding an editor to handle your submission, could you revise your paper to include a Statement of Need? This is now a required section for JOSS articles, as described in our [documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Thanks!

[2020-07-09 21:27] kyleniemeyer commented on #2434
Hi @fboehm, could you take this submission on for us?

[2020-07-09 21:27] kyleniemeyer commented on #2434
@whedon invite @fboehm as editor

[2020-07-09 21:27] whedon commented on #2434
@fboehm has been invited to edit this submission.

[2020-07-09 21:30] whedon opened #2453 "[PRE REVIEW]: CPgeneProfiler: A lightweight R package to profile the Carbapenamase genes from genome assemblies"
**Submitting author:** @ramadatta (<a href="http://orcid.org/0000-0002-9254-2557">Prakki Sai Rama Sridatta</a>)
**Repository:** <a href="https://github.com/ramadatta/CPgeneProfiler" target ="_blank">https://github.com/ramadatta/CPgeneProfiler</a>
**Version:** v2.1.0
**Editor:** @will-rowe
**Reviewers:** @fmaguire, @boasvdp
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :war

[2020-07-09 21:30] whedon commented on #2453
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 21:30] whedon commented on #2453
PDF failed to compile for issue #2453 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2453 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedo

[2020-07-09 21:30] pibion commented on #2401
@whedon list reviewers

[2020-07-09 21:30] whedon commented on #2401
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-07-09 21:30] whedon commented on #2453
[code]

[2020-07-09 21:38] kyleniemeyer commented on #2453
Hi @ramadatta, thanks for your submission. It looks like there is a problem with your `paper.md` file. As a start, can you try removing these fields from the header?
[code]

(just leave the bibliography field in that section of lines, and `date` is ok too)

As you edit this, you can use this page to test that the paper builds properly: https://whedon.theoj.org

[2020-07-09 21:39] kyleniemeyer commented on #2453
Hi @will-rowe, could you edit this submission?

[2020-07-09 21:39] kyleniemeyer commented on #2453
@whedon invite @will-rowe as editor

[2020-07-09 21:39] whedon commented on #2453
@will-rowe has been invited to edit this submission.

[2020-07-09 21:43] whedon opened #2454 "[PRE REVIEW]: PySocialForce: A Python Implementation of the Extended Social Force Model for Pedestrian Dynamics"
**Submitting author:** @yuxiang-gao (<a href="http://orcid.org/0000-0001-6183-2482">Yuxiang Gao</a>)
**Repository:** <a href="https://github.com/yuxiang-gao/PySocialForce" target ="_blank">https://github.com/yuxiang-gao/PySocialForce</a>
**Version:** v1.0.0
**Editor:** @pdebuyl
**Reviewers:** @ixjlyons, @xuqiancheng
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2020-07-09 21:43] whedon commented on #2454
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 21:43] whedon commented on #2454
[code]

[2020-07-09 21:44] whedon commented on #2454
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02454/joss.02454/10.21105.joss.02454.pdf)

[2020-07-09 21:47] kyleniemeyer commented on #2454
Hi @pdebuyl, can you edit this submission for us?

[2020-07-09 21:47] kyleniemeyer commented on #2454
@whedon invite @pdebuyl as editor

[2020-07-09 21:47] whedon commented on #2454
@pdebuyl has been invited to edit this submission.

[2020-07-09 21:49] whedon opened #2455 "[PRE REVIEW]: bridge-sim: A Python library for concrete slab bridge simulation"
**Submitting author:** @barischrooneyj (<a href="http://orcid.org/0000-0002-8441-212X">Jeremy Barisch-Rooney</a>)
**Repository:** <a href="https://github.com/barischrooneyj/bridge-sim" target ="_blank">https://github.com/barischrooneyj/bridge-sim</a>
**Version:** v0.0.7
**Editor:** @diehlpk
**Reviewers:** @skreimeyer, @manparvesh
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mo

[2020-07-09 21:49] whedon commented on #2455
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 21:49] whedon commented on #2455
Failed to discover a `Statement of need` section in paper

[2020-07-09 21:50] whedon commented on #2455
[code]

[2020-07-09 21:50] whedon commented on #2455
[code]

[2020-07-09 21:50] whedon commented on #2455
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02455/joss.02455/10.21105.joss.02455.pdf)

[2020-07-09 21:50] fboehm commented on #2434
Yes, I'm happy to be the editor for this submission.
@whedon assign @fboehm as editor

[2020-07-09 21:50] kyleniemeyer commented on #2455
Hi @poulson, could you edit this submission? I realize the application is a bit outside your area.

[2020-07-09 21:50] kyleniemeyer commented on #2455
@whedon invite @poulson as editor

[2020-07-09 21:50] whedon commented on #2455
@poulson has been invited to edit this submission.

[2020-07-09 21:51] kyleniemeyer commented on #2455
Hi @barischrooneyj, thanks for your submission to JOSS. While we are getting started, could you add a Statement of Need to your article? This is now required for articles, as described in our [documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Thanks!

[2020-07-09 21:52] kyleniemeyer commented on #2434
@fboehm thanks! FYI, I think whedon commands need to be by themselves in a comment.

[2020-07-09 21:52] kyleniemeyer commented on #2434
@whedon assign @fboehm as editor

[2020-07-09 21:52] whedon commented on #2434
OK, the editor is @fboehm

[2020-07-09 22:04] whedon opened #2456 "[PRE REVIEW]: DrWatson: the perfect sidekick for your scientific inquiries"
**Submitting author:** @tamasgal (<a href="http://orcid.org/0000-0001-7821-8673">Tamás Gál</a>)
**Repository:** <a href="https://github.com/JuliaDynamics/DrWatson.jl" target ="_blank">https://github.com/JuliaDynamics/DrWatson.jl</a>
**Version:** v1.13.2
**Editor:** @dpsanders
**Reviewers:** @jpfairbanks, @kescobo
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

D

[2020-07-09 22:04] whedon commented on #2456
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 22:04] whedon commented on #2456
Failed to discover a `Statement of need` section in paper

[2020-07-09 22:04] whedon commented on #2456
[code]

[2020-07-09 22:04] whedon commented on #2456
[code]

[2020-07-09 22:04] whedon commented on #2456
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02456/joss.02456/10.21105.joss.02456.pdf)

[2020-07-09 22:05] kyleniemeyer commented on #2456
Hi @tamasgal, as we are getting started here, could you please add a Statement of Need section? This is now required for articles, as described in [our documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain).

Also, it looks like there is a problem with a DOI ☝️

[2020-07-09 22:21] ArdiaD commented on #2376
@will-rowe all fixed! thx again for your comments!

[2020-07-09 22:24] poulson commented on #2455
I'm weary about being the editor on this and would prefer that a civil engineer do so. I would be comfortable reviewing this if it was over the FEM itself, but I feel there are deeper constraints here due to the safety implications of bridge design and my blindness to which types of models are considered in bounds.

[2020-07-09 22:27] kyleniemeyer commented on #2455
@poulson understood—unfortunately, I don't think we have any civil engineers on the editorial board. But, I'll still look for someone else.

[2020-07-09 22:30] kyleniemeyer commented on #2456
Hi @melissawm and @dpsanders, as our resident Julia experts I'm wondering if either of you has the bandwidth to edit this submission? Thanks!

[2020-07-09 22:36] dpsanders commented on #2456
Yes, I would like to edit this.

[2020-07-09 22:37] fboehm commented on #2434
you're welcome. And yes, I guess you're right about whedon commands :)

[2020-07-09 22:41] kyleniemeyer commented on #2456
@whedon assign @dpsanders as editor

[2020-07-09 22:41] whedon commented on #2456
OK, the editor is @dpsanders

[2020-07-09 22:44] whedon opened #2457 "[PRE REVIEW]: CoReCon: an open, community-powered collection of Reionization constraints"
**Submitting author:** @EGaraldi (<a href="http://orcid.org/0000-0002-6021-7020">Enrico Garaldi</a>)
**Repository:** <a href="https://github.com/EGaraldi/corecon" target ="_blank">https://github.com/EGaraldi/corecon</a>
**Version:** v0.3.1
**Editor:** @eloisabentivegna
**Reviewers:** @ngnedin, @afialkov, @Stefan-Heimersheim
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :wa

[2020-07-09 22:44] whedon commented on #2457
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 22:44] whedon commented on #2457
Failed to discover a `Statement of need` section in paper

[2020-07-09 22:44] whedon commented on #2457
[code]

[2020-07-09 22:44] whedon commented on #2457
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02457/joss.02457/10.21105.joss.02457.pdf)

[2020-07-09 22:44] whedon commented on #2457
[code]

[2020-07-09 22:46] kyleniemeyer commented on #2457
Hi @EGaraldi, thanks for your submission to JOSS. As we are getting started, could you please revise your paper to include an explicit Statement of Need section, as described in [our documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)? Also, it looks like some DOIs may be missing for some references. Thanks!

[2020-07-09 22:46] kyleniemeyer commented on #2457
Hi @eloisabentivegna, the author suggested you as editor for this submission. Can you take this?

[2020-07-09 22:46] kyleniemeyer commented on #2457
@whedon invite @eloisabentivegna as editor

[2020-07-09 22:46] whedon commented on #2457
@eloisabentivegna has been invited to edit this submission.

[2020-07-09 22:47] whedon opened #2458 "[PRE REVIEW]: pirecorder: Controlled and automated image and video recording with the raspberry pi"
**Submitting author:** @JolleJolles (<a href="http://orcid.org/0000-0001-9905-2633">Jolle Wolter Jolles</a>)
**Repository:** <a href="http://github.com/jollejolles/pirecorder" target ="_blank">http://github.com/jollejolles/pirecorder</a>
**Version:** v3.1.0
**Editor:** @marcosvital
**Reviewers:** @lucask07, @DerJH
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2020-07-09 22:47] whedon commented on #2458
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 22:47] whedon commented on #2458
Failed to discover a `Statement of need` section in paper

[2020-07-09 22:47] whedon commented on #2458
[code]

[2020-07-09 22:48] whedon commented on #2458
[code]

[2020-07-09 22:48] whedon commented on #2458
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02458/joss.02458/10.21105.joss.02458.pdf)

[2020-07-09 22:49] WilkAndy commented on #2176
The above changes have now been merged into the `next` branch of the MOOSE repo.   Note the branch - at some stage we changed whedon's branch to `joss_porous_flow` , but that has not actually been used for all the editorial+reviewer changes.  So the `joss_porous_flow` branch should not be used for our JOSS paper: instead use the `next` branch.

Thanks!

andy

[2020-07-09 22:49] kyleniemeyer commented on #2458
Hi @JolleJolles, thanks for your submission to JOSS. As we are getting started, could you please revise your paper to include an explicit Statement of Need section, as described in [our documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)?

[2020-07-09 22:50] kyleniemeyer commented on #2458
Hi @marcosvital, the author suggested you as editor for this submission. Are you interested/available to take this one?

[2020-07-09 22:50] kyleniemeyer commented on #2458
@whedon invite @marcosvital as editor

[2020-07-09 22:50] whedon commented on #2458
@marcosvital has been invited to edit this submission.

[2020-07-09 22:50] whedon opened #2459 "[PRE REVIEW]: The o80 C++ templated toolbox: Designing customized Python APIs for synchronizing realtime processes"
**Submitting author:** @vincentberenz (<a href="http://orcid.org/0000-0003-2226-9660">Vincent Berenz</a>)
**Repository:** <a href="https://github.com/intelligent-soft-robots/o80" target ="_blank">https://github.com/intelligent-soft-robots/o80</a>
**Version:** 1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @giodegas, @traversaro
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mod

[2020-07-09 22:51] whedon commented on #2459
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 22:51] whedon commented on #2459
Failed to discover a `Statement of need` section in paper

[2020-07-09 22:51] whedon commented on #2459
[code]

[2020-07-09 22:51] whedon commented on #2459
[code]

[2020-07-09 22:51] whedon commented on #2459
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02459/joss.02459/10.21105.joss.02459.pdf)

[2020-07-09 22:57] kyleniemeyer commented on #2459
Hi @vincentberenz,  thanks for your submission to JOSS. As we are getting started, could you please revise your paper to include an explicit Statement of Need section, as described in [our documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)? Also, it looks like some DOIs may be missing for some references. Thanks!

[2020-07-09 22:58] kyleniemeyer commented on #2459
Hi @gkthiruvathukal, the author suggested you as editor for this submission. Are you interested/can you take this on?

[2020-07-09 22:58] kyleniemeyer commented on #2459
@whedon invite @gkthiruvathukal as editor

[2020-07-09 22:58] whedon commented on #2459
@gkthiruvathukal has been invited to edit this submission.

[2020-07-09 22:59] whedon opened #2460 "[PRE REVIEW]: tidyHeatmap: an R package for modular heatmap production based on tidy principles"
**Submitting author:** @stemangiola (<a href="http://orcid.org/0000-0001-7474-836X">Stefano Mangiola</a>)
**Repository:** <a href="https://github.com/stemangiola/tidyHeatmap" target ="_blank">https://github.com/stemangiola/tidyHeatmap</a>
**Version:** v1.1.0
**Editor:** @karthik
**Reviewers:** @rlbarter, @AliciaSchep
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:*

[2020-07-09 22:59] whedon commented on #2460
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-09 22:59] whedon commented on #2460
Failed to discover a `Statement of need` section in paper

[2020-07-09 22:59] whedon commented on #2460
[code]

[2020-07-09 22:59] kakiac commented on #2437
Thanks all! @akbaritabar no problem at all, I am sure there will be another opportunity :) @mbod, @pdwaggoner many thanks for volunteering, I will be adding you as reviewers now and move the submission to the review stage, which will generate your reviewer's checklists!

[2020-07-09 22:59] whedon commented on #2460
Failed to discover a valid open source license.

[2020-07-09 22:59] whedon commented on #2460
[code]

[2020-07-09 22:59] whedon commented on #2460
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02460/joss.02460/10.21105.joss.02460.pdf)

[2020-07-09 23:01] kakiac commented on #2437
@whedon assign @pdwaggoner as reviewer

@whedon add @mbod as reviewer

[2020-07-09 23:01] whedon commented on #2437
OK, @pdwaggoner is now a reviewer

[2020-07-09 23:01] kakiac commented on #2437
@whedon add @mbod as reviewer

[2020-07-09 23:01] whedon commented on #2437
OK, @mbod is now a reviewer

[2020-07-09 23:01] kyleniemeyer commented on #2460
Hi @stemangiola,  thanks for your submission to JOSS. As we are getting started, could you please resolve a few issues?
- Please revise your paper to include an explicit Statement of Need section, as described in [our documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)?
- We cannot find an open-source license in your repository.
- Also, it looks like

[2020-07-09 23:02] kakiac commented on #2437
@whedon generate pdf

[2020-07-09 23:02] whedon commented on #2437
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02437/joss.02437/10.21105.joss.02437.pdf)

[2020-07-09 23:04] kyleniemeyer commented on #2460
Hey @karthik, could you edit this one?

[2020-07-09 23:04] kyleniemeyer commented on #2460
@whedon invite @karthik as editor

[2020-07-09 23:04] whedon commented on #2460
@karthik has been invited to edit this submission.

[2020-07-09 23:04] kakiac commented on #2437
@whedon start review

[2020-07-09 23:04] whedon opened #2461 "[REVIEW]: oolong: An R package for validating automated content analysis tools"
**Submitting author:** @chainsawriot (<a href="http://orcid.org/0000-0002-6232-7530">Chung-hong Chan</a>)
**Repository:** <a href="https://github.com/chainsawriot/oolong" target ="_blank">https://github.com/chainsawriot/oolong</a>
**Version:** 0.3.11
**Editor:** @kakiac
**Reviewers:** @pdwaggoner, @mbod, @Kudusch
**Archive:** <a href="https://doi.org/10.5281/zenodo.4256574" target="_blank">10.5281

[2020-07-09 23:04] whedon commented on #2437
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2461.

[2020-07-09 23:04] #2437 closed

[2020-07-09 23:04] whedon commented on #2461
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pdwaggoner, @mbod it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-07-09 23:04] whedon commented on #2461
[code]

[2020-07-09 23:04] whedon commented on #2461
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02461/joss.02461/10.21105.joss.02461.pdf)

[2020-07-09 23:14] kakiac commented on #2405
Thanks all!

@Yomguithereal, re this:

No, please take your time to implement the changes as suggested by the reviewers - once you are happy (and the reviewers are happy 😃 ) we can move the submission forward to the next step!

[2020-07-09 23:34] anibalsolon commented on #2340
That's a fine work, @humanfactors, I am really happy with its results. Thank you!

The coverage is pretty high indeed and what is not covered does not seem to impact the core features of that package. So, 🎉

I understand your point about linting, they can be nit-picky. Your details in the Contributing doc is good enough for new collaborators.

That said, the new modifications are good to go, in my

[2020-07-09 23:54] danhey commented on #2125
Hi all, apologies for my delay! I've cut a new release and it's now on Zenodo: https://zenodo.org/record/3937862

[2020-07-10 00:16] tamasgal commented on #2456
Thanks for both of you! We will add the statement of need section tomorrow and also fix the DOI.

[2020-07-10 00:45] mdpiper commented on #2317
Hi @teuben, I think we've addressed your comments in https://github.com/csdms/bmi/issues/68, https://github.com/csdms/bmi/issues/69, and https://github.com/csdms/bmi/issues/70. When you have time, would you please check the open PRs listed under each issue? If they pass muster, I'll merge the PRs and close the issues.

[2020-07-10 00:53] mbobra commented on #2125
@whedon set 10.5281/zenodo.3937862 as archive

[2020-07-10 00:53] whedon commented on #2125
OK. <a href="https://doi.org/10.5281/zenodo.3937862" target="_blank">10.5281/zenodo.3937862</a> is the archive.

[2020-07-10 00:53] mbobra commented on #2125
@whedon set v0.3 as version

[2020-07-10 00:54] whedon commented on #2125
OK. v0.3 is the version.

[2020-07-10 00:54] mbobra commented on #2125
@openjournals/joss-eics this paper is ready for final processing! 🎉🎉🎉

[2020-07-10 00:56] mbobra commented on #2349
@ma-sadeghi and @EricaEgg Please let me know if you need any help with the review or have any questions!

[2020-07-10 01:02] mjsottile commented on #2443
Excellent - I will add @BastinRobin and @rodrigokataishi as reviewers now.  If you are still interested @jaeyk after you complete the other review, let me know and if we need an additional review I will add you.  @rodrigokataishi - you will see instructions on the process when I initiate the review and the new review issue is created.

[2020-07-10 01:03] mjsottile commented on #2443
@whedon assign @BastinRobin as reviewer

[2020-07-10 01:03] whedon commented on #2443
OK, @BastinRobin is now a reviewer

[2020-07-10 01:03] mjsottile commented on #2443
@whedon add @rodrigokataishi as reviewer

[2020-07-10 01:03] whedon commented on #2443
OK, @rodrigokataishi is now a reviewer

[2020-07-10 01:05] mjsottile commented on #2443
@whedon start review

[2020-07-10 01:05] whedon opened #2462 "[REVIEW]: Grama: A Grammar of Model Analysis"
**Submitting author:** @zdelrosario (<a href="http://orcid.org/0000-0003-4676-1692">Zachary del Rosario</a>)
**Repository:** <a href="https://github.com/zdelrosario/py_grama" target ="_blank">https://github.com/zdelrosario/py_grama</a>
**Version:** v0.1.3
**Editor:** @mjsottile
**Reviewer:** @BastinRobin, @rodrigokataishi
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.12725066.v2" targe

[2020-07-10 01:05] whedon commented on #2443
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2462.

[2020-07-10 01:05] #2443 closed

[2020-07-10 01:05] whedon commented on #2462
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @BastinRobin, @rodrigokataishi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2020-07-10 01:05] whedon commented on #2462
[code]

[2020-07-10 01:05] whedon commented on #2462
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02462/joss.02462/10.21105.joss.02462.pdf)

[2020-07-10 01:20] arfon commented on #2453
@whedon generate pdf

[2020-07-10 01:21] whedon commented on #2453
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02453/joss.02453/10.21105.joss.02453.pdf)

[2020-07-10 01:23] arfon commented on #2245
@spectralcode - sorry it's proving so tough to find reviewers here. Any chance you could suggest some additional possible candidates here?

[2020-07-10 01:25] arfon commented on #2125
@whedon accept

[2020-07-10 01:25] whedon commented on #2125
[code]

[2020-07-10 01:25] whedon commented on #2125
[code]

[2020-07-10 01:26] whedon commented on #2125
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1557

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1557, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-10 01:27] arfon commented on #2125
@whedon accept deposit=true

[2020-07-10 01:27] whedon commented on #2125
[code]

[2020-07-10 01:28] whedon commented on #2125
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1281399864589516801) 👈 🐦🐦🐦

[2020-07-10 01:28] whedon commented on #2125
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1558
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02125](https://doi.org/10.21105/joss.02125)
2. If everything looks g

[2020-07-10 01:29] arfon commented on #2125
@hpparvi, @mbobra - many thanks for your reviews here and to @mbobra for editing too ✨

@danhey - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-07-10 01:29] #2125 closed

[2020-07-10 01:29] whedon commented on #2125
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02125/status.svg)](https://doi.org/10.21105/joss.02125)

**We need your help!**

Journal of Open Source Softwa

[2020-07-10 01:52] stemangiola commented on #2460
Thanks. Those to issues were resolved.

[2020-07-10 01:55] stemangiola commented on #2460
Could I/you please invite the other author @ papenfuss to this review?

[2020-07-10 02:04] gkthiruvathukal commented on #2459
@kyleniemeyer Yes, I can add this to my plate! I may not get to editing until early next week.

[2020-07-10 02:18] daviddewhurst commented on #2428
@lootie I'm currently not able to install the package as directed by `README.md`.:

[code]
However, **using `add https://bitbucket.org/clhaley/Multitaper.jl.git` works fine**. Just a heads-up for you (and other reviewers / editor) that they might encounter this as well.

[2020-07-10 02:23] stemangiola commented on #2460
The statement of need has been added to paper.md

[2020-07-10 02:44] pibion commented on #2401
:wave: @dghoshal-lbl I'm in the process of inviting reviewers for this submission.  This can take somewhere between a few days to a few weeks, I'll keep you updated on this thread.

[2020-07-10 03:07] dmentipl commented on #2430
All of my comments have been addressed. I'm happy to accept!

[2020-07-10 04:13] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-07-10 04:15] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-07-10 04:33] DominiqueMakowski commented on #2306
Thanks for your feedback @mikldk. We have addressed the issues regarding the vignettes so that they include all the details about the types.

Regarding the two `R` chunks that we left in the paper, I would like to ask for the reconsideration of the possibility of keeping them, as they are not really "examples" of features per se but rather just the demonstration of the main function and its output

[2020-07-10 05:09] bstabler commented on #2408
@skadio - git clone works for me on Windows.

[2020-07-10 05:50] mmrabe commented on #2306
I agree with @DominiqueMakowski that it would probably be helpful for most readers if the paper contains a very brief demonstration of the main functionality, as it does now.

[2020-07-10 06:15] eloisabentivegna commented on #2457
@whedon assign @eloisabentivegna as editor

@kyleniemeyer, I am happy to edit this submission!

[2020-07-10 06:15] whedon commented on #2457
OK, the editor is @eloisabentivegna

[2020-07-10 06:28] rram84 commented on #2372
@jhale
Thank you for the detailed suggestions. I will be working to address them over this coming week.

[2020-07-10 07:06] ramadatta commented on #2453
Dear @kyleniemeyer, thank you very much! I have edited `paper.md` according to your advice. The modified `paper.md` builds properly with the Whedon paper preview service.

[2020-07-10 07:20] wkirgsn commented on #2275
@Kevin-Mattheus-Moerman I can recommend the following experts:
* https://github.com/christiankral
* https://github.com/AHaumer
* https://github.com/dineshresearch
* https://github.com/madcowswe

[2020-07-10 07:31] darioizzo commented on #2290
@Ohjeah Sorry for the inactivity. I have implemented your requested changes in the documentation: http://darioizzo.github.io/dcgp/installation.html

I added the exact commands, assuming a conda user toset up correctly all dependencies.

[2020-07-10 07:50] VivianePons commented on #2428
@whedon add @felixcremer as reviewer

[2020-07-10 07:50] whedon commented on #2428
OK, @felixcremer is now a reviewer

[2020-07-10 07:51] VivianePons commented on #2428
@whedon start review

[2020-07-10 07:51] whedon opened #2463 "[REVIEW]: Multitaper.jl: A Julia package for frequency domain analysis of time series"
**Submitting author:** @lootie (<a href="http://orcid.org/0000-0003-3996-773X">Charlotte Haley</a>)
**Repository:** <a href="https://bitbucket.org/clhaley/Multitaper.jl" target ="_blank">https://bitbucket.org/clhaley/Multitaper.jl</a>
**Version:** 1.1.0
**Editor:** @VivianePons
**Reviewers:** @anowacki, @agricolab
**Archive:** <a href="https://doi.org/10.5281/zenodo.4274772" target="_blank">10.528

[2020-07-10 07:51] whedon commented on #2428
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2463.

[2020-07-10 07:51] #2428 closed

[2020-07-10 07:51] whedon commented on #2463
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @daviddewhurst, @felixcremer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2020-07-10 07:51] whedon commented on #2463
[code]

[2020-07-10 07:51] whedon commented on #2463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02463/joss.02463/10.21105.joss.02463.pdf)

[2020-07-10 07:53] VivianePons commented on #2463
I am copying here the last comment made by @daviddewhurst  on the pre-review issue to be sure it's not lost in the process:

@lootie I'm currently not able to install the package as directed by README.md.:

(v1.1) pkg> add git://bitbucket.org/clhaley/Multitaper.jl.git
  Updating registry at `~/.julia/registries/General`
  Updating git-repo `https://github.com/JuliaRegistries/General.git`
   Clonin

[2020-07-10 07:57] vincentberenz commented on #2459
@whedon generate pdf

[2020-07-10 07:58] whedon commented on #2459
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02459/joss.02459/10.21105.joss.02459.pdf)

[2020-07-10 07:59] vincentberenz commented on #2459
@kyleniemeyer @gkthiruvathukal
Thanks a lot for starting all this. First submission to JOSS, so looking forward to see how the review goes !

[2020-07-10 08:17] VivianePons commented on #2183
Hi @victorvalgenti thank you for starting the review

About the conflict of interest, it seems ok to me, I will check with other editors.

About the technical issue, what happen exactly when you try to edit the checklist? Have you tried editing the issue description directly?

[2020-07-10 08:21] will-rowe commented on #2376
@whedon generate pdf

[2020-07-10 08:22] whedon commented on #2376
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02376/joss.02376/10.21105.joss.02376.pdf)

[2020-07-10 08:22] will-rowe commented on #2376
@whedon check references

[2020-07-10 08:23] whedon commented on #2376
[code]

[2020-07-10 08:26] drvinceknight commented on #2315
@whedon generate pdf

[2020-07-10 08:27] drvinceknight commented on #2315
@whedon check references

[2020-07-10 08:27] whedon commented on #2315
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02315/joss.02315/10.21105.joss.02315.pdf)

[2020-07-10 08:27] whedon commented on #2315
[code]

[2020-07-10 08:27] will-rowe commented on #2376
Great - thank you for your prompt responses @ArdiaD and @emanuele-guidotti

You've addressed my comments as a reviewer, and in addition to @linuxscout's review, I think we're ready to proceed to acceptance!

As a side note, I just suggested adding a build status badge (https://github.com/covid19datahub/COVID19/pull/91), but this is not required by JOSS.

@ArdiaD - please could you now make a tagge

[2020-07-10 08:35] drvinceknight commented on #2315
Thanks, I've made some minor type edits in https://github.com/BrianAronson/birankr/pull/29

Once that's merged could you:

Make a tagged release and archive, and report the version number and archive DOI here. Please ensure that the archive deposit has the correct metadata  so that the title and author list match the paper.

[2020-07-10 08:48] edwardando commented on #2286
@whedon check references

[2020-07-10 08:48] whedon commented on #2286
[code]

[2020-07-10 08:51] tamasgal commented on #2456
@whedon generate pdf

[2020-07-10 08:51] whedon commented on #2456
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02456/joss.02456/10.21105.joss.02456.pdf)

[2020-07-10 08:51] tamasgal commented on #2456
OK looks like whedon doesn't listen to me. ;) The DOI is fixed and the "Statement of need" section is now there.

[2020-07-10 08:55] tamasgal commented on #2456
@whedon commands

[2020-07-10 08:55] whedon commented on #2456
Here are some things you can ask me to do:

[code]

[2020-07-10 08:56] tamasgal commented on #2456
@whedon check references

[2020-07-10 08:57] whedon commented on #2456
[code]

[2020-07-10 08:57] edwardando commented on #2286
@whedon generate pdf from branch master

[2020-07-10 08:57] whedon commented on #2286
[code]

[2020-07-10 08:58] whedon commented on #2286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02286/joss.02286/10.21105.joss.02286.pdf)

[2020-07-10 08:58] edwardando commented on #2286
@usethedata  Thanks for your careful reading of the paper.
As you see above the DOIs are fixed, and we've taken all of your suggestions in the text directly.

We're just a bit worried about those 404s -- unless our website was experiencing outages yesterday,
they should all work, we've checked them individually.

Could we ask you to check them again?

[2020-07-10 09:30] will-rowe commented on #2453
@whedon assign @will-rowe as editor

[2020-07-10 09:30] whedon commented on #2453
OK, the editor is @will-rowe

[2020-07-10 09:36] will-rowe commented on #2453
Hi @flashton2003, @fmaguire, @alexwailan. Do you have time to review this for JOSS?

[2020-07-10 10:18] Visdoom commented on #2339
Dear @oliviaguest, @emptymalei and @mstimberg,
again, thank you for taking the time to review the code and the paper to our package MorphoPy. Your input has been valuable and we believe, that the package has improved majorly. The most prominent change has been the updated folder structure where now `morphopy` is the parent folder to all functional subfolders.
 |-- morphopy
    |-- computations

[2020-07-10 10:24] spectralcode commented on #2245
@arfon - I still hope that @datenwolf will reply.

Here are some other possible candidates:
- Marcin Sylwestrzak (http://lab.fizyka.umk.pl/team/ )
- Pete Tomlins (https://www.qmul.ac.uk/dentistry/people/profiles/drpetetomlins.html )
- Christian Viehland (http://biophotonics.pratt.duke.edu/content/viehland ) or one of the Phd students (e. g. David Li http://biophotonics.pratt.duke.edu/content/li )

[2020-07-10 11:32] szhorvat commented on #2165
@peanutfun Is there a forum, mailing list, or similar support option for Utopia?

[2020-07-10 11:37] MrMinimal64 commented on #2392
hello Henrik,

I do respect your opinion, but I would like to briefly argue against it in the following.

How large a project needs to be in order to fulfil the JOSS review criteria is open for discussion.
What can be said definitively however, is that many projects with a similar or even smaller footprint are being considered:
https://github.com/openjournals/joss-reviews/issues/2428#issuecomment-

[2020-07-10 11:47] mstimberg commented on #2339
You put some serious work into these improvements, that's great to see. I am very happy with the state of the package now, and I can confirm that the test suite runs fine on my machine. A few minor issues:
* The JOSS manuscript still describes the outdated `-f`/`-d` syntax for the command line tool
*  The documentation on readthedocs should probably make it a bit clearer that it is only the API do

[2020-07-10 11:54] usethedata commented on #2286
The problem with the links is apparently in how some PDF readers and how the `#` is handled.   I downloaded the PDF into Preview, and then clicked each link to make sure it would resolve.  One of the introduction links, for example resolves to `https://ttk.gricad-pages.univ-grenoble-alpes.fr/spam/intro.html%23image-correlation-deformation-toolkit`. If I hand edit the link to  `https://ttk.gricad-p

[2020-07-10 12:20] peanutfun commented on #2165
@szhorvat, we have an email address for reporting violations against the included code of conduct. We do not further advertise this email address because we prefer to provide support and resolve any issues publicly in the GitLab repository, as mentioned in our contribution guide. Basically, we want to encourage the use of GitLab also as a support forum.

[2020-07-10 12:23] szhorvat commented on #2165
OK, so I'll open issues with any support questions. Using email would not be appropriate for the review anyway.

[2020-07-10 12:25] hvgazula commented on #2166
Tagging @gkiar and @yarikoptic just in case as a reminder 👍

[2020-07-10 12:28] danielskatz commented on #2286
👋 @openjournals/dev - this is a question for you, I think. It seems to be a pandoc problem

[2020-07-10 12:32] szhorvat commented on #2165
Here's an issue: https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/issues/248 (my motivation is mainly to be able to move faster with the review—I believe it's important to implement a couple of models before giving an opinion.)

[2020-07-10 13:05] pdebuyl commented on #2454
@whedon assign me as editor

[2020-07-10 13:05] whedon commented on #2454
OK, the editor is @pdebuyl

[2020-07-10 13:09] pdebuyl commented on #2307
Hi @amandadumi thanks for getting back to me. For this paper it is not necessary but I'll make sure to think of you for a future review!

[2020-07-10 13:14] HaoZeke commented on #2459
Would be happy to review this.

[2020-07-10 13:16] edwardando commented on #2286
On the firefox PDF viewer as well as okular/evince the links work OK.
However a general solution would be good.

As far as I understand the # references a position in the webpage, so they could safely be removed at the expense of some precision.
Perhaps the links to the intro are not so necessary in the end...?

[2020-07-10 13:18] dfm commented on #2430
Thanks @dmentipl!

[2020-07-10 13:41] henrik227 commented on #2392
To clarify: I do not question that the package is useful. However, I cannot say for sure that this package "represent[s] not less than three months of work for an individual", and from the review criteria it is not clear to me how the usefulness of the software is weighed against the effort that went into it. I am well aware that it is difficult to objectively quantify the development effort of so

[2020-07-10 13:43] vincentberenz commented on #2459
@whedon commands

[2020-07-10 13:43] whedon commented on #2459
Here are some things you can ask me to do:

[code]

[2020-07-10 13:44] vincentberenz commented on #2459
From the provided list, possible suitable reviewers: giodegas, stevemacenski, traversaro, carlosjoseRG, mosteo

[2020-07-10 13:59] blsqr commented on #2316
Thank you very much for reviewing dantro, @mdpiper and @Chilipp, and for providing highly valuable feedback on how to improve documentation and usage of it! We very much appreciate it!

@lorenanicole We are currently putting the final touches on the `paper.md` (see [MR !163](https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro/-/merge_requests/163)) (updating and cleaning-up of references, cross-

[2020-07-10 14:06] koenderks commented on #2152
Hi @drvinceknight,

Regarding the GitHub account, I believe not. However, I can link you to the [academic site](http://raw.rutgers.edu/carlab/stewart.html). If I can be of any further help, please let me know.

[2020-07-10 14:17] Shuang-Plum commented on #2286
Sorry this suggestion causes so much trouble!! If it is a pain and can not be resolved easily, we should let go of the links. I initially suggest it because when I read the text, I would click back to the website for more details. And to be honest, it worked out fine on my end no matter how I open it......

[2020-07-10 14:26] yangkcatiu commented on #2315
We appreciate the edits!

- [x] Merge the edits
- [x] Make a tagged release: v1.0 release at https://github.com/BrianAronson/birankr/releases
- [x] Make an archive: DOI 10.5281/zenodo.3939045

[2020-07-10 15:03] ali-ramadhan commented on #2018
@kthyng No worries about the delay, thank you for keeping this review moving forward!

I've fallen off the grid in the past few months myself but I believe we've addressed most of the points from @funsim's review so I'll reply more formally to the review soon.

@mancellin Thanks so much for agreeing to review our submission! Please let me know if you hit any issues or have any questions.

[2020-07-10 15:35] sambit-giri commented on #2363
Dear @aureliocarnero
In order to test the code, some simulation output is required. We have now provided some data at https://ttt.astro.su.se/~gmell/244Mpc/TestData_tools21cm/
The link contains data along with a README explaining it.

You can test the code on this data by running the tutorial given at https://tools21cm.readthedocs.io/examples/tutorials.html

[2020-07-10 15:36] sambit-giri commented on #2363
We have updated the README mentioning about cloning the repository.

[2020-07-10 15:42] drvinceknight commented on #2152
Thanks I'll drop them an email.

[2020-07-10 15:46] drvinceknight commented on #2315
@whedon set 10.5281/zenodo.3939045 as archive

[2020-07-10 15:46] whedon commented on #2315
OK. <a href="https://doi.org/10.5281/zenodo.3939045" target="_blank">10.5281/zenodo.3939045</a> is the archive.

[2020-07-10 15:47] drvinceknight commented on #2315
@whedon set v1.0 as version

[2020-07-10 15:47] whedon commented on #2315
OK. v1.0 is the version.

[2020-07-10 15:48] drvinceknight commented on #2315
@whedon accept

[2020-07-10 15:48] whedon commented on #2315
[code]

[2020-07-10 15:48] whedon commented on #2315
[code]

[2020-07-10 15:48] whedon commented on #2315
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1559

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1559, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-10 16:12] fboehm commented on #2434
@whedon list reviewers

[2020-07-10 16:12] whedon commented on #2434
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-07-10 16:22] ArdiaD commented on #2376
Great, thx @will-rowe

DOI is 10.5281/zenodo.3939184

Thanks!

[2020-07-10 16:32] victorvalgenti commented on #2183
@VivianePons I don't seem to have the ability to edit the issue description at all. The menu on the issue description does not provide an edit option. Is there something I am missing?

My basic review is as below. Overall, I agree with @mzszym review.
Software License:
  Present. I would have considered a BSD or MIT license instead, but the GNU license suffices.

Scholarly Effort:
 Roughly 3500 li

[2020-07-10 16:41] joglekara commented on #2182
@TomGoffrey , I've made your proposed changes in 1-4 and provided a response to 5 in the thread for the Pull Request here https://github.com/joglekara/VlaPy/pull/45

[2020-07-10 16:59] kyleniemeyer commented on #2460
Hi @stemangiola, the review issues are fully open so anyone can join— @papenfuss, feel free to chime in here/follow this issue!

[2020-07-10 16:59] kyleniemeyer commented on #2460
@whedon generate pdf

[2020-07-10 17:00] whedon commented on #2460
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02460/joss.02460/10.21105.joss.02460.pdf)

[2020-07-10 17:10] dawbarton commented on #2384
Overall, looks good. It installs easily and usage is as described. Documentation is good overall.

A few detailed comments below.

* Paper - some comments scribbled onto the PDF [10.21105.joss.02384 1.pdf](https://github.com/openjournals/joss-reviews/files/4904481/10.21105.joss.02384.1.pdf); it's a bit sloppy in places and looks like it really needed proof reading again.
* Documentation
    * `int

[2020-07-10 17:36] usethedata commented on #2286
I think this `#` issue is going to be difficult to resolve.  It's clearly a factor in how different PDF readers interpret that character in a URL.  Some common PDF readers (Preview and Acrobat, in particular) are URL encoding something that shouldn't be URL encoded.  So, while there's some loss in functionality, I suggest that @edwardando go in and remove the internal links (portions of the URL af

[2020-07-10 17:41] karthik commented on #2460
@whedon assign @karthik as editor

[2020-07-10 17:41] whedon commented on #2460
OK, the editor is @karthik

[2020-07-10 17:42] karthik commented on #2460
@whedon add @rlbarter as reviewer

[2020-07-10 17:42] whedon commented on #2460
OK, @rlbarter is now a reviewer

[2020-07-10 17:44] karthik commented on #2460
Hello @AliciaSchep Would you be able to serve as a second reviewer on this submission? 🙏

[2020-07-10 17:48] sbenthall commented on #2264
Thanks @kauedesousa . Why don't I keep asking around and keep you in mind if it gets closer to August.

[2020-07-10 17:50] sbenthall commented on #2264
@ethanwhite Would you review this package?

[2020-07-10 17:50] sbenthall commented on #2264
@stulacy Would you review this article?

[2020-07-10 18:18] cicirello commented on #2448
@whedon check references
@whedon generate pdf

[2020-07-10 18:18] whedon commented on #2448
[code]

[2020-07-10 18:20] cicirello commented on #2448
@whedon generate pdf

[2020-07-10 18:20] whedon commented on #2448
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02448/joss.02448/10.21105.joss.02448.pdf)

[2020-07-10 18:37] shashwat-bhattacharya commented on #2185
Thanks @iljah for the suggestion. We have added a section "Contributions and bug reports" towards the end of the README.md file, in which we briefly explain to contribute and report bugs / issues, if any.

[2020-07-10 18:40] fmaguire commented on #2453
@will-rowe sure, I'd be more than happy to review this submission.

[2020-07-10 18:49] shashwat-bhattacharya commented on #2185
@iljah We thank you for the suggestion. To the best of our knowledge and belief, no other commercial or open-source packages for computing structure functions exist or are available at the moment. Currently, such codes are developed in-house and are not open to the general public. We have added the above statements in the section "Summary" of the revised paper.

We have talked to some researchers

[2020-07-10 18:52] shashwat-bhattacharya commented on #2185
Thanks for the suggestions. We have done the necessary modifications.

[2020-07-10 18:56] will-rowe commented on #2453
Great - thanks @fmaguire! Let me find one more reviewer and then we'll kick of the review thread.

[2020-07-10 18:57] shashwat-bhattacharya commented on #2185
Based on the suggestions of @iljah and @jedbrown , we have added 3D test cases (velocity and scalar structure functions). Please refer to `README.md` for details.

Thanks for the suggestions.

[2020-07-10 18:58] will-rowe commented on #2376
@whedon set 0.5281/zenodo.3939184 as archive

[2020-07-10 18:58] whedon commented on #2376
0.5281/zenodo.3939184 doesn't look like an archive DOI.

[2020-07-10 18:59] will-rowe commented on #2376
@whedon set v2.0.3 as version

[2020-07-10 18:59] whedon commented on #2376
OK. v2.0.3 is the version.

[2020-07-10 19:00] will-rowe commented on #2376
@whedon set 10.5281/zenodo.3939184 as archive

[2020-07-10 19:00] whedon commented on #2376
OK. <a href="https://doi.org/10.5281/zenodo.3939184" target="_blank">10.5281/zenodo.3939184</a> is the archive.

[2020-07-10 19:00] will-rowe commented on #2376
@whedon accept

[2020-07-10 19:00] whedon commented on #2376
[code]

[2020-07-10 19:01] whedon commented on #2376
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1560

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1560, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-10 19:01] jeffcsauer commented on #2450
@whedon check references

[2020-07-10 19:02] whedon commented on #2450
[code]

[2020-07-10 19:02] jeffcsauer commented on #2450
@whedon generate pdf

[2020-07-10 19:02] shashwat-bhattacharya commented on #2185
@jedbrown @iljah @cpgr We thank you for a comprehensive review of our code. We have implemented your suggestions to the best of our ability. We will welcome further comments, if any. We hope that our work is now suitable for publication in JOSS.

[2020-07-10 19:03] whedon commented on #2450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02450/joss.02450/10.21105.joss.02450.pdf)

[2020-07-10 19:05] will-rowe commented on #2453
Hi @boasvdp - would you be able to review this submission please?

[2020-07-10 19:06] jeffcsauer commented on #2450
@whedon generate pdf

[2020-07-10 19:06] whedon commented on #2450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02450/joss.02450/10.21105.joss.02450.pdf)

[2020-07-10 19:11] jeffcsauer commented on #2450
@whedon generate pdf

[2020-07-10 19:12] whedon commented on #2450
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02450/joss.02450/10.21105.joss.02450.pdf)

[2020-07-10 19:18] jeffcsauer commented on #2450
@jaeyk wanted to ping you as I have incorporated your suggestions into the paper. A summary of changes include:

- Addition of a 'Statement of Need' section. This contextualizes the dataset as a major addition to analyzing prescription opioid data due to the dearth of existing datasets on the topic. The section also states the core goals of the software (i.e. data access, relevant metrics, and lan

[2020-07-10 19:29] kyleniemeyer commented on #2315
@whedon accept deposit=true

[2020-07-10 19:29] whedon commented on #2315
[code]

[2020-07-10 19:30] AliciaSchep commented on #2460
Sure!

[2020-07-10 19:30] whedon commented on #2315
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1281672261628559360) 👈 🐦🐦🐦

[2020-07-10 19:30] whedon commented on #2315
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1561
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02315](https://doi.org/10.21105/joss.02315)
2. If everything looks g

[2020-07-10 19:33] kyleniemeyer commented on #2315
Congrats @yangkcatiu on your article's publication in JOSS!

Many thanks to @gvegayon and @Nikoleta-v3 for reviewing this, and @drvinceknight for editing.

[2020-07-10 19:33] #2315 closed

[2020-07-10 19:34] whedon commented on #2315
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02315/status.svg)](https://doi.org/10.21105/joss.02315)

**We need your help!**

Journal of Open Source Softwa

[2020-07-10 19:42] kyleniemeyer commented on #2376
Hi @ArdiaD, we are nearly done here, but I have just a few things for you to fix in the paper:

- Please put commas between the lists on page 2 (both in the Data Collection section)
- please remove either "e.g." or "etc." in the "geographic information ..." bullet on page 2; you should only have one or the other of these

Thanks!

[2020-07-10 19:44] ArdiaD commented on #2376
hi @emanuele-guidotti could you proceed?

[2020-07-10 19:46] jaeyk commented on #2450
@jeffcsauer Thanks for the quick update. They look great. I have a couple more minor suggestions:

- Provide references at the bottom of the `paper.md`. (You already have in-text citations and have a section heading for citations. So, I believe that you plan to do this.)
- Provide more structure to contributions. Take a look at [this example](https://github.com/keyATM/keyATM/issues). For instance,

[2020-07-10 19:49] whedon opened #2464 "[PRE REVIEW]: Gridap: An extensible Finite Element toolbox in Julia"
**Submitting author:** @fverdugo (<a href="http://orcid.org/0000-0003-3667-443X">Francesc Verdugo</a>)
**Repository:** <a href="https://github.com/gridap/Gridap.jl" target ="_blank">https://github.com/gridap/Gridap.jl</a>
**Version:** v0.12.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @PetrKryslUCSD, @TeroFrondelius
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :wa

[2020-07-10 19:49] whedon commented on #2464
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-10 19:50] whedon commented on #2464
Failed to discover a `Statement of need` section in paper

[2020-07-10 19:50] whedon commented on #2464
[code]

[2020-07-10 19:50] whedon commented on #2464
Failed to discover a valid open source license.

[2020-07-10 19:50] whedon commented on #2464
[code]

[2020-07-10 19:50] whedon commented on #2464
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02464/joss.02464/10.21105.joss.02464.pdf)

[2020-07-10 19:55] kyleniemeyer commented on #2464
Hi @fverdugo, it looks like you have placed your paper in a separate repository from the software itself. We strongly encourage authors to put the paper in the same repository as the software, and in fact a lot of the checks that our bot @whedon does relies on this. (Right now we have no connection to the software repository.)

Do you have a particular reason for putting the paper in a separate re

[2020-07-10 19:55] whedon opened #2465 "[PRE REVIEW]: `pytest-cases`: A Python package for reproducible AI results (among others)"
**Submitting author:** @smarie (<a href="http://orcid.org/0000-0002-5929-1047">Sylvain MARIE</a>)
**Repository:** <a href="https://github.com/smarie/python-pytest-cases/" target ="_blank">https://github.com/smarie/python-pytest-cases/</a>
**Version:** 2.0.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-07-10 19:56] whedon commented on #2465
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-10 19:56] whedon commented on #2465
PDF failed to compile for issue #2465 with the following error:

 Can't find any papers to compile :-(

[2020-07-10 19:57] kyleniemeyer commented on #2465
@whedon query scope

[2020-07-10 19:57] emanuele-guidotti commented on #2376
Should be fixed now. Thanks!

[2020-07-10 19:58] kyleniemeyer commented on #2465
@whedon generate pdf from branch joss_paper

[2020-07-10 19:58] whedon commented on #2465
[code]

[2020-07-10 19:58] yangkcatiu commented on #2315
I want to thank @gvegayon , @Nikoleta-v3 , and @drvinceknight for your work on behalf of our team!

[2020-07-10 19:58] whedon commented on #2465
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02465/joss.02465/10.21105.joss.02465.pdf)

[2020-07-10 19:59] ArdiaD commented on #2376
Hi @kyleniemeyer this is fixed; thx!

[2020-07-10 20:01] kyleniemeyer commented on #2465
Hi @smarie, thanks for your interest in JOSS.

Before we get started, although you mention some potential uses in machine learning research, based on the paper and documentation it's not clear that this is "research software"—that isn't mean to say that it isn't useful, which it does appear to be! Our definition is:

Can you describe a bit more why this is research software? For example, I don't t

[2020-07-10 20:03] kyleniemeyer commented on #2376
@whedon generate pdf

[2020-07-10 20:04] whedon commented on #2376
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02376/joss.02376/10.21105.joss.02376.pdf)

[2020-07-10 20:07] kyleniemeyer commented on #2376
@whedon accept

[2020-07-10 20:07] whedon commented on #2376
[code]

[2020-07-10 20:07] whedon commented on #2376
[code]

[2020-07-10 20:07] whedon commented on #2376
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1562

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1562, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-10 20:09] kyleniemeyer commented on #2376
@whedon accept deposit=true

[2020-07-10 20:09] whedon commented on #2376
[code]

[2020-07-10 20:10] whedon commented on #2376
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1281682205073387520) 👈 🐦🐦🐦

[2020-07-10 20:10] whedon commented on #2376
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1563
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02376](https://doi.org/10.21105/joss.02376)
2. If everything looks g

[2020-07-10 20:11] ArdiaD commented on #2376
thx a lot to @linuxscout @will-rowe  and @kyleniemeyer  for your help in the process!

[2020-07-10 20:12] kyleniemeyer commented on #2376
Congrats @ArdiaD and @emanuele-guidotti on your article's publication in JOSS!

Many thanks to @linuxscout and @will-rowe for reviewing this, and @will-rowe for editing!

[2020-07-10 20:12] #2376 closed

[2020-07-10 20:12] whedon commented on #2376
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02376/status.svg)](https://doi.org/10.21105/joss.02376)

**We need your help!**

Journal of Open Source Softwa

[2020-07-10 20:13] whedon opened #2466 "[PRE REVIEW]: MiTepid_sim: A repository to simulate the spread of COVID-19"
**Submitting author:** @vahid-sb (<a href="http://orcid.org/0000-0001-6544-7960">Vahid S. Bokharaie</a>)
**Repository:** <a href="https://github.com/vahid-sb/MiTepid_sim" target ="_blank">https://github.com/vahid-sb/MiTepid_sim</a>
**Version:** v0.0.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-07-10 20:13] whedon commented on #2466
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-10 20:13] whedon commented on #2466
[code]

[2020-07-10 20:13] whedon commented on #2466
PDF failed to compile for issue #2466 with the following error:

 Can't find any papers to compile :-(

[2020-07-10 20:14] jedbrown commented on #2176
@whedon generate pdf from branch next

[2020-07-10 20:14] whedon commented on #2176
[code]

[2020-07-10 20:14] jedbrown commented on #2176
@whedon check references

[2020-07-10 20:15] whedon commented on #2176
PDF failed to compile for issue #2176 with the following error:

 sh: 1: cd: can't cd to tmp/2176
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2176 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2020-07-10 20:15] kyleniemeyer commented on #2466
Hi @vahid-sb, thanks for your interest in JOSS! Before we get started, it doesn't look like your repository actually has a paper. Unless I am missing it somehow, please write your paper following our [guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain); in the meantime, I am going to pause this submission.

[2020-07-10 20:17] whedon opened #2467 "[PRE REVIEW]: causal-curve: A Python Causal Inference Package to Estimate Causal Dose-Response Curves"
**Submitting author:** @ronikobrosly (<a href="http://orcid.org/0000-0003-0363-9662">Roni Kobrosly</a>)
**Repository:** <a href="https://github.com/ronikobrosly/causal-curve" target ="_blank">https://github.com/ronikobrosly/causal-curve</a>
**Version:** v0.3.2
**Editor:** @oliviaguest
**Reviewers:** @cmparlettpelleriti, @tomfaulkenberry, @alexjonesphd
**Managing EiC:** Kyle Niemeyer

**:warning: J

[2020-07-10 20:17] whedon commented on #2467
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-10 20:17] whedon commented on #2467
[code]

[2020-07-10 20:17] whedon commented on #2467
[code]

[2020-07-10 20:17] whedon commented on #2467
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02467/joss.02467/10.21105.joss.02467.pdf)

[2020-07-10 20:22] jedbrown commented on #2176
@openjournals/dev I see the paper.md in the same place. Is this a Whedon issue?

[2020-07-10 20:29] drvinceknight commented on #2315
Congratulations @yangkcatiu and thank you @gvegayon and @Nikoleta-v3 without your contribution JOSS would not work so it's really appreciated :)

[2020-07-10 20:32] ronikobrosly commented on #2467
@whedon commands

On Fri, Jul 10, 2020 at 3:18 PM whedon <notifications@github.com> wrote:

[2020-07-10 20:32] whedon commented on #2467
Here are some things you can ask me to do:

[code]

[2020-07-10 20:52] kyleniemeyer commented on #2467
Hi @cMadan, this is slightly outside your field, but could you edit this one?

[2020-07-10 20:53] kyleniemeyer commented on #2467
@whedon invite @cMadan as editor

[2020-07-10 20:53] whedon commented on #2467
@cMadan has been invited to edit this submission.

[2020-07-10 20:54] whedon opened #2468 "[PRE REVIEW]: CASTRO: A Massively Parallel Compressible Astrophysics Simulation Code"
**Submitting author:** @zingale (<a href="http://orcid.org/0000-0001-8401-030X">M. Zingale</a>)
**Repository:** <a href="https://github.com/amrex-astro/Castro" target ="_blank">https://github.com/amrex-astro/Castro</a>
**Version:** 20.07
**Editor:** @eloisabentivegna
**Reviewers:** @kegiljarhus, @bonh
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-07-10 20:54] whedon commented on #2468
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-10 20:55] whedon commented on #2468
Failed to discover a `Statement of need` section in paper

[2020-07-10 20:56] whedon commented on #2468
PDF failed to compile for issue #2468 with the following error:

 pandoc-citeproc: reference ctu not found
pandoc-citeproc: reference ppm not found
Error producing PDF.
! Undefined control sequence.
l.431 ... research. The GPU development of \castro

Looks like we failed to compile the PDF

[2020-07-10 20:56] whedon commented on #2468
[code]

[2020-07-10 20:56] kyleniemeyer commented on #2468
Hi @zingale, thanks for your submission!

Before we get started, I just want to check that you haven't already published a software paper describing CASTRO. (I recall seeing some papers about CASTRO in the past.) Papers using CASTRO are fine, but if you have already published a software article about CASTRO, then we would consider this to be a duplication. Exceptions would be if this represents a

[2020-07-10 20:58] whedon opened #2469 "[PRE REVIEW]: NO-DOUBT: A Decision Support Web Platform based on AHP"
**Submitting author:** @gdede-hua (<a href="http://orcid.org/0000-0003-2947-7470">Georgia Dede</a>)
**Repository:** <a href="https://github.com/gdede-hua/decision-survey-platform" target ="_blank">https://github.com/gdede-hua/decision-survey-platform</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

[2020-07-10 20:58] whedon commented on #2469
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-10 20:58] whedon commented on #2469
PDF failed to compile for issue #2469 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2469/paper.md): mapping values are not allowed in this context at line 113 column 55 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor

[2020-07-10 21:01] kyleniemeyer commented on #2469
@whedon check repository

[2020-07-10 21:01] whedon commented on #2469
Failed to discover a `Statement of need` section in paper

[2020-07-10 21:01] whedon commented on #2469
[code]

[2020-07-10 21:02] kyleniemeyer commented on #2469
Hi @gdede-hua, thanks for your interest in JOSS.

It looks like your paper is missing some important elements, and also has some formatting/commands that we don't support. Please take a look at the [documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) on what papers should contain, and the example, and let me know when you've updated your paper.

[2020-07-10 21:02] kyleniemeyer commented on #2469
Hi @sbenthall, could you edit this submission?

[2020-07-10 21:02] kyleniemeyer commented on #2469
@whedon invite @sbenthall as editor

[2020-07-10 21:02] whedon commented on #2469
@sbenthall has been invited to edit this submission.

[2020-07-10 21:03] whedon opened #2470 "[PRE REVIEW]: PulseqDiffusion: PyPulseq implementation of Diffusion-Weighted Echo Planar Imaging"
**Submitting author:** @ritagnunes (<a href="http://orcid.org/0000-0001-7425-5717">Rita G. Nunes</a>)
**Repository:** <a href="https://github.com/ritagnunes/PulseqDiffusion" target ="_blank"> https://github.com/ritagnunes/PulseqDiffusion</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @mathieuboudreau, @grlee77
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced se

[2020-07-10 21:03] whedon commented on #2470
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-10 21:04] whedon commented on #2470
PDF failed to compile for issue #2470 with the following error:

 Can't find any papers to compile :-(

[2020-07-10 21:04] kyleniemeyer commented on #2470
Hi @ritagnunes, it looks like the URL you included when submitting is incorrect. Can you fix this?

[2020-07-10 21:05] ronikobrosly commented on #2467
Hello, thanks so much for considering this work. I looked over the list of
possible reviewers and think the following people would be great, due to
their experience with causal inference or epidemiology:

*usernames*:

nhejazi
seabbs
acolum

On Fri, Jul 10, 2020 at 3:17 PM whedon <notifications@github.com> wrote:

[2020-07-10 21:05] whedon opened #2471 "[PRE REVIEW]: NetworkChange: Analyzing Network Changes in R"
**Submitting author:** @ysohn (<a href="http://orcid.org/0000-0002-9496-1907">Yunkyu Sohn</a>)
**Repository:** <a href="https://github.com/jongheepark/NetworkChange" target ="_blank">https://github.com/jongheepark/NetworkChange</a>
**Version:** v0.6
**Editor:** @kakiac
**Reviewers:** @akbaritabar, @marcjwilliams1, @martinmodrak
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode

[2020-07-10 21:05] whedon commented on #2471
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-10 21:05] whedon commented on #2471
Failed to discover a `Statement of need` section in paper

[2020-07-10 21:05] whedon commented on #2471
[code]

[2020-07-10 21:05] whedon commented on #2471
Failed to discover a valid open source license.

[2020-07-10 21:06] whedon commented on #2471
[code]

[2020-07-10 21:06] whedon commented on #2471
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02471/joss.02471/10.21105.joss.02471.pdf)

[2020-07-10 21:14] kyleniemeyer commented on #2471
Hi @ysohn, thanks for your submission to JOSS. It looks like there are a few issues that need to be resolved as we get started:

- Your software repository does not appear to include an open source license
- Your paper is missing an explicit Statement of Need section, which is now required for articles as described in [our documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-s

[2020-07-10 21:16] kyleniemeyer commented on #2471
Hi @kakiac, could you edit this submission?

[2020-07-10 21:16] kyleniemeyer commented on #2471
@whedon invite @kakiac as editor

[2020-07-10 21:16] whedon commented on #2471
@kakiac has been invited to edit this submission.

[2020-07-10 21:18] arfon commented on #2176
@whedon generate pdf from branch next

[2020-07-10 21:18] whedon commented on #2176
[code]

[2020-07-10 21:20] whedon commented on #2176
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02176/joss.02176/10.21105.joss.02176.pdf)

[2020-07-10 21:28] emptymalei commented on #2339
Great work. Checked all the items in the checklist. Agree to publish. 👍

Thank you for this useful package.

Two possible minor improvements for later updates maybe. I believe these should not be blockers to the paper itself.

The first one is for the automated test. I had a look at the Actions workflow.
[This line in the workflow](https://github.com/berenslab/MorphoPy/blob/4cd7672d4f27909e90f671a

[2020-07-10 21:32] sarats commented on #2444
I have been unable to edit/complete checklist above. Whedon has been forgetful and didn't assign me.

[2020-07-10 21:44] arfon commented on #2176
@whedon check references

[2020-07-10 21:45] whedon commented on #2176
[code]

[2020-07-10 21:45] arfon commented on #2176
@jedbrown - not sure what was going on here. Seems to be working now.

[2020-07-10 21:46] ritagnunes commented on #2470
The full URL should be:  https://github.com/ritagnunes/PulseqDiffusion
Thanks

[2020-07-10 21:49] jedbrown commented on #2176
Thanks @arfon

[2020-07-10 21:52] WilkAndy commented on #2176
I can fix the `https://doi.org/` early next week

[2020-07-10 21:56] kyleniemeyer commented on #2470
@arfon can we tell whedon to update the repo URL to https://github.com/ritagnunes/PulseqDiffusion for checking and building the paper?

[2020-07-10 21:56] kyleniemeyer commented on #2470
I edited the metadata above manually, but I assume that doesn't change anything internally

[2020-07-10 21:59] kyleniemeyer commented on #2455
Hi @diehlpk, would you be able to edit this submission?

[2020-07-10 22:07] arfon commented on #2470
I've fixed this on the back end too. For now there's not a Whedon-way to do this.

[2020-07-10 22:10] kyleniemeyer commented on #2470
@whedon check repository

[2020-07-10 22:11] whedon commented on #2470
[code]

[2020-07-10 22:15] zingale commented on #2468
I guess this depends on the difference between a code paper and an algorithm paper.  We've mostly published on new algorithm development and performance and optimization.  The only paper that covers all of Castro in general is:

* CASTRO: A New Compressible Astrophysical Solver. I. Hydrodynamics and Self-gravity, 2010, ApJ:

  https://ui.adsabs.harvard.edu/abs/2010ApJ...715.1221A/abstract

There w

[2020-07-10 22:15] kyleniemeyer commented on #2470
@whedon generate pdf

[2020-07-10 22:16] danielskatz commented on #2444
@whedon re-invite @sarats as reviewer

[2020-07-10 22:16] whedon commented on #2444
The reviewer already has a pending invite.

@sarats please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-10 22:16] whedon commented on #2470
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02470/joss.02470/10.21105.joss.02470.pdf)

[2020-07-10 22:17] danielskatz commented on #2444
Actually, you have to accept the invitation.  See the instructions in the first comment in this issue.

[2020-07-10 22:20] sarats commented on #2444
Done. Thought I did this only once when I first reviewed for JOSS. Didn't realize it's required for every review.

[2020-07-10 22:20] kyleniemeyer commented on #2470
Hey @Kevin-Mattheus-Moerman, I know you've already got a lot on your plate, but this looks to be up your alley, and builds on a previous paper that you edited. Can you take this one on?

[2020-07-10 22:21] kyleniemeyer commented on #2470
@whedon invite @Kevin-Mattheus-Moerman as editor

[2020-07-10 22:21] whedon commented on #2470
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2020-07-10 22:22] kyleniemeyer commented on #2468
@zingale ok, thanks. That clears the question up for me, at least.

Hi @eloisabentivegna, can you edit this submission?

[2020-07-10 22:22] kyleniemeyer commented on #2468
@whedon invite @eloisabentivegna as editor

[2020-07-10 22:22] whedon commented on #2468
@eloisabentivegna has been invited to edit this submission.

[2020-07-10 22:22] jedbrown commented on #2176
While you're at it, could you avoid repeating the repository URL (which already exists in the sidebar)? Also, it's a bit unusual to launch into a bullet list of applications after only one short sentence saying what the package does. I suppose I don't object to the present organization, but an EiC might.

I have a question outside the context of the review: is the global conservation exact (to sol

[2020-07-10 22:25] zingale commented on #2468
it's a fine question to ask @kyleniemeyer .

[2020-07-10 22:31] jedbrown commented on #2185
@whedon generate pdf

[2020-07-10 22:32] whedon commented on #2185
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02185/joss.02185/10.21105.joss.02185.pdf)

[2020-07-10 23:06] jaeyk commented on #2443
@mjsottile I'm almost done with the other review. Let me know if you need an additional reviewer. Thanks.

[2020-07-11 01:44] geoffbacon commented on #2439
Hi @danielskatz - I'll be able to get to this on Monday, thanks for understanding.

[2020-07-11 03:09] whedon commented on #2044
:wave: @majensen, please update us on how your review is going.

[2020-07-11 05:47] karthik commented on #2460
@Whedon add @AliciaSchep as reviewer

[2020-07-11 05:47] whedon commented on #2460
OK, @AliciaSchep is now a reviewer

[2020-07-11 05:48] karthik commented on #2460
@Whedon start review

[2020-07-11 05:48] whedon opened #2472 "[REVIEW]: tidyHeatmap: an R package for modular heatmap production based on tidy principles"
**Submitting author:** @stemangiola (<a href="http://orcid.org/0000-0001-7474-836X">Stefano Mangiola</a>)
**Repository:** <a href="https://github.com/stemangiola/tidyHeatmap" target ="_blank">https://github.com/stemangiola/tidyHeatmap</a>
**Version:** v1.1.2
**Editor:** @karthik
**Reviewer:** @rlbarter, @AliciaSchep
**Archive:** <a href="https://doi.org/10.5281/zenodo.3966515" target="_blank">10.5

[2020-07-11 05:48] whedon commented on #2460
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2472.

[2020-07-11 05:48] #2460 closed

[2020-07-11 05:48] whedon commented on #2472
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rlbarter, @AliciaSchep it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-07-11 05:49] whedon commented on #2472
[code]

[2020-07-11 05:49] whedon commented on #2472
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02472/joss.02472/10.21105.joss.02472.pdf)

[2020-07-11 07:02] boasvdp commented on #2453
@will-rowe Sure thing! Count me in

[2020-07-11 07:36] hope-data-science commented on #2294
@whedon generate pdf

[2020-07-11 07:36] whedon commented on #2294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02294/joss.02294/10.21105.joss.02294.pdf)

[2020-07-11 07:55] hope-data-science commented on #2388
@rcannood @mikldk Revision has been made and details could be found at <https://github.com/hope-data-science/tidyfst/issues/4>, thank you for the valuable comments. Let me know if there are more questions and suggestions.

[2020-07-11 08:08] WilkAndy commented on #2176
MOOSE issue to address the "https" and "repo URL" at  https://github.com/idaholab/moose/issues/15591

[2020-07-11 08:15] fverdugo commented on #2464
Hi @kyleniemeyer,

I have moved the paper to the repo https://github.com/gridap/Gridap.jl branch `joss`. Hope it is now OK!

cc @santiagobadia

[2020-07-11 08:22] will-rowe commented on #2453
Thanks folks! We'll start the review process now. Let me know if you need anything.

[2020-07-11 08:22] will-rowe commented on #2453
@whedon assign @fmaguire as reviewer

[2020-07-11 08:22] whedon commented on #2453
OK, @fmaguire is now a reviewer

[2020-07-11 08:22] will-rowe commented on #2453
@whedon add @boasvdp as reviewer

[2020-07-11 08:22] whedon commented on #2453
OK, @boasvdp is now a reviewer

[2020-07-11 08:23] will-rowe commented on #2453
@whedon start review

[2020-07-11 08:23] whedon opened #2473 "[REVIEW]: CPgeneProfiler: A lightweight R package to profile the Carbapenamase genes from genome assemblies"
**Submitting author:** @ramadatta (<a href="http://orcid.org/0000-0002-9254-2557">Prakki Sai Rama Sridatta</a>)
**Repository:** <a href="https://github.com/ramadatta/CPgeneProfiler" target ="_blank">https://github.com/ramadatta/CPgeneProfiler</a>
**Version:** v2.1.1
**Editor:** @will-rowe
**Reviewer:** @fmaguire, @boasvdp
**Archive:** <a href="https://doi.org/10.5281/zenodo.4076089" target="_blank

[2020-07-11 08:23] whedon commented on #2453
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2473.

[2020-07-11 08:23] #2453 closed

[2020-07-11 08:23] whedon commented on #2473
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fmaguire, @boasvdp it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-07-11 08:23] whedon commented on #2473
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02473/joss.02473/10.21105.joss.02473.pdf)

[2020-07-11 08:23] whedon commented on #2473
[code]

[2020-07-11 08:24] will-rowe commented on #2473
@ramadatta - please can you the flagged DOIs to your paper references

[2020-07-11 08:38] edwardando commented on #2286
@whedon generate pdf from branch master

[2020-07-11 08:38] whedon commented on #2286
[code]

[2020-07-11 08:39] whedon commented on #2286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02286/joss.02286/10.21105.joss.02286.pdf)

[2020-07-11 09:26] WilkAndy commented on #2176
I've submitted a PullRequest to the MOOSE repo for these changes: https://github.com/idaholab/moose/pull/15592

[2020-07-11 09:34] edwardando commented on #2286
OK, I've "released" the latest version that was reviewed, and it's now on Zenodo at

10.5281/zenodo.3940302

[2020-07-11 09:37] BastinRobin commented on #2462
@mjsottile  I have completed my review.

[2020-07-11 09:45] strengejacke commented on #2445
@sbenthall Do you know why @Ohlsen has been unassigned as reviewer?

[2020-07-11 10:10] ramadatta commented on #2473
@will-rowe, @boasvdp, @fmaguire Thank you so much for kindly agreeing to review the submission!

@will-rowe - I have added the missing DOIs in the paper now and tested the build.

[2020-07-11 12:00] dfm commented on #2283
@whedon check references

[2020-07-11 12:00] whedon commented on #2283
[code]

[2020-07-11 12:01] dfm commented on #2283
@whedon generate pdf

[2020-07-11 12:01] whedon commented on #2283
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02283/joss.02283/10.21105.joss.02283.pdf)

[2020-07-11 12:26] usethedata commented on #2286
@whedon set 0.5.2 as version

[2020-07-11 12:26] whedon commented on #2286
OK. 0.5.2 is the version.

[2020-07-11 12:26] usethedata commented on #2286
@whedon set 10.5281/zenodo.3940302 as archive

[2020-07-11 12:26] whedon commented on #2286
OK. <a href="https://doi.org/10.5281/zenodo.3940302" target="_blank">10.5281/zenodo.3940302</a> is the archive.

[2020-07-11 12:27] usethedata commented on #2286
@whedon check references

[2020-07-11 12:27] whedon commented on #2286
[code]

[2020-07-11 12:35] usethedata commented on #2286
@whedon accept

[2020-07-11 12:36] whedon commented on #2286
[code]

[2020-07-11 12:36] whedon commented on #2286
[code]

[2020-07-11 12:36] whedon commented on #2286
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1564

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1564, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-11 12:38] dfm commented on #2283
@elDan101:

1. I [opened a merge request](https://gitlab.com/datafold-dev/datafold/-/merge_requests/63) with some edits to the manuscript. After merging that, can you build the paper here (`@whedon generate pdf`) and then read through the manuscript to make sure that you're happy with the proofs (it's harder to make changes later!).
2. After that, please publish a new release of the package with a

[2020-07-11 12:39] dfm commented on #2283
@jsgalan, @mtezzele: Thanks for your timely and thorough reviews! We really appreciate your contributions here at JOSS and I believe that you have helped @elDan101 to make datafold even more impactful. Thanks again!

[2020-07-11 13:11] richardjgowers commented on #1992
@whedon generate pdf

[2020-07-11 13:11] whedon commented on #1992
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01992/joss.01992/10.21105.joss.01992.pdf)

[2020-07-11 14:34] richardjgowers commented on #1992
@Sulstice minor point, RDKit is written in C++ not C.  The paper references 3D generation using webchem, I can't find any references to this in the documentation?

[2020-07-11 14:35] richardjgowers commented on #2367
@RainierBarrett ok thanks, that's fine. @malramsay64 @RMeli how is the review going?

[2020-07-11 14:36] richardjgowers commented on #2373
@hmacdope @mattwthompson how is the review going?

[2020-07-11 14:37] majensen commented on #2044
@scwest - re Installation. Need to remove the object files (.o) and the executable (neep) from the repo. Two things: (1) if they are present, then `make` thinks the software is built and doesn't do anything, and (2) they're architecture-dependent and will be useless to many users anyway. Also, please link out to https://www.openmp.org/resources/openmp-compilers-tools/ when mentioning OpenMP as a r

[2020-07-11 14:41] afrubin commented on #2432
It looks like the references aren't formatting properly, possibly due to missing commas in the author names in the .bib file. @lincoln-harris would you please have a look?

[2020-07-11 14:43] Sulstice commented on #1992
@richardjgowers Good point, I'll fix immediately.

Huh, I actually didn't mention how the FileWriter module works. It's another cirpy (https://github.com/mcs07/CIRpy) under the hood (but more robust) hitting the NIH cactus resolver. I'm going to add that to the docs for how the FileWriter works - does that suffice?

[2020-07-11 14:45] RMeli commented on #2367
@richardjgowers , I think only https://github.com/ur-whitelab/hoomd-tf/issues/201 is outstanding which should be addressed by https://github.com/ur-whitelab/hoomd-tf/pull/208.

[2020-07-11 15:00] Sulstice commented on #1992
I added it in the docs a little bit here: https://cocktail-shaker.readthedocs.io/en/latest/guide/file_handling.html#the-filewriter-module

[2020-07-11 16:11] zingale commented on #2468
some potential reviewers:

jramirezcr
mikaem
bonh
kegiljarhus
joshia5
fhorrobin
mdelorme

[2020-07-11 16:25] majensen commented on #2044
@scwest - re https://github.com/openjournals/joss-reviews/issues/2044#issuecomment-657073238, I will fork the repo and make a PR with some suggested changes.

[2020-07-11 16:52] arfon commented on #2468
@zingale - does this paper accompany a submission to a AAS journal, i.e. is this part of https://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing

[2020-07-11 17:02] zingale commented on #2468
no.  The closest AAS paper to this is from 2010.

[2020-07-11 17:32] joglekara commented on #2182
@whedon generate pdf from branch origin/paper

[2020-07-11 17:32] whedon commented on #2182
[code]

[2020-07-11 17:32] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-07-11 17:35] edwardando commented on #2286
There are three tiny corrections from a professional, will just add them...

[2020-07-11 17:35] edwardando commented on #2286
@whedon generate pdf from branch master

[2020-07-11 17:35] whedon commented on #2286
[code]

[2020-07-11 17:36] whedon commented on #2286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02286/joss.02286/10.21105.joss.02286.pdf)

[2020-07-11 17:37] jsgalan commented on #2283
awesome, thanks for your patience.

Best!

[2020-07-11 18:16] kyleniemeyer commented on #2286
Hi @edwardando, before I do the final stages of accepting, I noticed a few citations are missing details:  Bornert et al. 2004, Lucas et al. 1981, Stamati 2018a, Wiebicke 2017. Could you double check those?

[2020-07-11 18:24] kyleniemeyer commented on #2464
Thanks @fverdugo!

@arfon, could you update the repo URL in the system?

[2020-07-11 18:44] blakeaw commented on #2436
@pdebuyl, can you resend my reviewer group invitation? I just tried to accept but it said it had expired.

[2020-07-11 19:49] pdebuyl commented on #2436
@whedon re-invite @blakeaw as reviewer

[2020-07-11 19:49] whedon commented on #2436
OK, the reviewer has been re-invited.

@blakeaw please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-11 19:52] pdebuyl commented on #2436
@blakeaw this should work again, let me know if there are issues.

[2020-07-11 20:36] mitkof6 commented on #2431
https://github.com/pyomeca/pyomeca/issues/103

[2020-07-11 20:45] arfon commented on #2464
@whedon generate pdf from branch joss

[2020-07-11 20:45] whedon commented on #2464
[code]

[2020-07-11 20:45] whedon commented on #2464
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02464/joss.02464/10.21105.joss.02464.pdf)

[2020-07-11 20:48] arfon commented on #2464
@whedon check repository

[2020-07-11 20:48] whedon commented on #2464
[code]

[2020-07-11 22:18] Himscipy commented on #2444
@berenger-eu : Based on 👉 Check article proof 📄 👈

Here are some of the comments regarding the **Software Paper**, for you to take them into account.
 - Overall Comment; check for repetitions such as  "Figure Figure 3".
 - TBFMM capabilities support OpenMP version 4, but the results of parallel efficiency is only shown with SPETABARU ( In house task based parallelism run time system) can you provi

[2020-07-12 00:04] hmacdope commented on #2373
@richardjgowers sorry for the delay, I will finalise ASAP.

[2020-07-12 00:49] nhejazi commented on #2389
No problem at all, I appreciate the continued discussion @arfon. Thank you for pointing out the blog post and documentation describing JOSS's updated submission/review policy. The explanation provided in these write-ups is helpful, and I'm glad to see that JOSS editorial team is taking steps to ensure that publications in the journal can continue to be relied upon for their quality.

Based on the

[2020-07-12 01:03] AnjaliSandip commented on #2369
I have completed the review.  I have a few comments on the unchecked boxes, do I post it in this thread or elsewhere?

[2020-07-12 01:27] malramsay64 commented on #2367
Yes just the single outstanding issue highlighted by @RMeli

[2020-07-12 03:15] SiminaB commented on #2044
I haven't had the chance to look at this again, but hope to really soon! Had some internet problems for much of the week.

[2020-07-12 06:22] kinnala commented on #2369
From above:

Feel free to use our issue tracker if you feel it's appropriate.

[2020-07-12 09:07] edwardando commented on #2286
Sorry, there were indeed data missing in all of them.
Stamati2018 turns out to be 2019 according to Publisher, so that's well caught.

I cannot for the life of me find the DOIs for the first two -- I've added a DOI for the world-famous Lucas and Kanade paper, but it doesn't seem to resolve correctly.

[2020-07-12 09:08] edwardando commented on #2286
@whedon generate pdf from branch master

[2020-07-12 09:08] whedon commented on #2286
[code]

[2020-07-12 09:09] whedon commented on #2286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02286/joss.02286/10.21105.joss.02286.pdf)

[2020-07-12 09:29] VivianePons commented on #2183
About the potential conflict of interest, thank you very much @victorvalgenti for bringing this possible conflict to our knowledge. I checked with other editors and this can be waved as long as you feel that you can review while staying objective, which seems to be the case.

About the technical difficulties, I am going to ask other editors if they know where this comes from. @arfon seen anything

[2020-07-12 09:43] VivianePons commented on #2183
Thank you very much both @victorvalgenti and @mzszym for these reviews. From what I read, this is not ready yet to be published at JOSS. Some issues might be fixed rather quickly like improving the paper and some instructions. Some might take longer: better documentation, implementing some tests, platform dependency. Nevertheless, I can read from @victorvalgenti 's review that there is some resear

[2020-07-12 10:09] afrubin commented on #2432
# Review
This certainly looks like a useful and performant tool for transforming VCF files into a format that is easier to work with and enables researchers to make biological inferences. I've opened some issues (referenced above) but thought it better to put high-level feedback and comments on the paper in this thread.

I have not run the software yet, but plan to follow the updated installation

[2020-07-12 10:51] Kevin-Mattheus-Moerman commented on #2470
@whedon assign me as editor

[2020-07-12 10:51] whedon commented on #2470
OK, the editor is @Kevin-Mattheus-Moerman

[2020-07-12 11:03] Kevin-Mattheus-Moerman commented on #2470
@grlee77, @mathieuboudreau, @spinicist thanks for your review efforts to date! Would you be interested in helping with this review? It is related to this work you reviewed for us: https://github.com/openjournals/joss-reviews/issues/1725
@mfroeling this also looks like your cup of tea, would you be interested in helping? Thanks!

Paper: https://github.com/openjournals/joss-papers/blob/joss.02470/jo

[2020-07-12 11:12] Kevin-Mattheus-Moerman commented on #2275
@christiankral @dineshresearch @madcowswe would you be interested in reviewing this submission for [JOSS (The Journal of Open Source Software)](https://joss.theoj.org):
_gym-electric-motor (GEM): A Python toolbox for the simulation of electric drive systems_

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-papers/blob/joss.02275/joss.02275/10.

[2020-07-12 11:12] arfon commented on #2183
@whedon re-invite @victorvalgenti as reviewer

[2020-07-12 11:12] whedon commented on #2183
OK, the reviewer has been re-invited.

@victorvalgenti please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-07-12 11:13] arfon commented on #2183
@victorvalgenti - can you try clicking the link above? I believe the invites only last for ~7 days.

[2020-07-12 11:23] Kevin-Mattheus-Moerman commented on #2274
@fyangneil @hmhtb would you be interested in reviewing this submission for [JOSS (The Journal of Open Source Software)](https://joss.theoj.org):
_ALVA: An adaptive MATLAB package for layered viscoelastic elastic analysis_

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-papers/blob/joss.02274/joss.02274/10.21105.joss.02274.pdf
and the software

[2020-07-12 11:52] csoneson commented on #2163
👋 @MetabolomicsAustralia-Bioinformatics - just checking in. Do you have an expected timeline for when you think your changes might be ready for the reviewers to take another look?

[2020-07-12 12:47] fboehm commented on #2434
@whedon assign @janfreyberg as reviewer

[2020-07-12 12:47] whedon commented on #2434
OK, @janfreyberg is now a reviewer

[2020-07-12 12:49] fboehm commented on #2434
@whedon start review

[2020-07-12 12:49] whedon opened #2474 "[REVIEW]: DetectorChecker: analyzing patterns of defects in detector screens"
**Submitting author:** @tomaslaz (<a href="http://orcid.org/0000-0002-8351-9857">Tomas Lazauskas</a>)
**Repository:** <a href="https://github.com/alan-turing-institute/DetectorChecker" target ="_blank">https://github.com/alan-turing-institute/DetectorChecker</a>
**Version:** v1.1.0
**Editor:** @fboehm
**Reviewers:** @janfreyberg, @craddm
**Archive:** <a href="https://doi.org/10.5281/zenodo.4312870

[2020-07-12 12:49] whedon commented on #2434
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2474.

[2020-07-12 12:49] #2434 closed

[2020-07-12 12:49] whedon commented on #2474
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @janfreyberg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2020-07-12 12:49] whedon commented on #2474
[code]

[2020-07-12 12:49] whedon commented on #2474
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02474/joss.02474/10.21105.joss.02474.pdf)

[2020-07-12 13:19] mathieuboudreau commented on #2470
I can, but I'm only available in about a week as I'm currently on vacation.

[2020-07-12 13:21] smarie commented on #2465
Hi @kyleniemeyer and thanks for the feedback !

When my first PhD student approached the end of his PhD thesis and transferred his code to the lab and our company, I discovered what everyone knows in research: PhD students sometimes create very nice and well designed code, and sometimes... not :) . The issue with this is when we discovered that the results table published to a paper came from such

[2020-07-12 13:21] edwardando commented on #2286
Please confirm the changes are OK for you @kyleniemeyer, after which we're ready to go

[2020-07-12 14:39] grlee77 commented on #2470
yes, I am available

[2020-07-12 14:58] iljah commented on #2185
Thanks @shashwat-bhattacharya for the changes. @jedbrown to me this looks good to go.

[2020-07-12 15:26] edwardando commented on #2286
@whedon generate pdf from branch master

[2020-07-12 15:26] whedon commented on #2286
[code]

[2020-07-12 15:26] edwardando commented on #2286
@whedon generate pdf from branch master

[2020-07-12 15:26] whedon commented on #2286
[code]

[2020-07-12 15:26] whedon commented on #2286
PDF failed to compile for issue #2286 with the following error:

 sh: 1: cd: can't cd to tmp/2286
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2286 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/ge

[2020-07-12 15:27] whedon commented on #2286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02286/joss.02286/10.21105.joss.02286.pdf)

[2020-07-12 15:41] whedon opened #2475 "[PRE REVIEW]: GENRE (GPU Elastic-Net REgression): A CUDA-Accelerated Package for Massively Parallel Linear Regression with Elastic-Net Regularization"
**Submitting author:** @Christopher-Khan (<a href="http://orcid.org/0000-0003-3201-3423">Christopher Khan</a>)
**Repository:** <a href="https://github.com/VU-BEAM-Lab/GENRE" target ="_blank">https://github.com/VU-BEAM-Lab/GENRE</a>
**Version:** v1.0
**Editor:** @sjpfenninger
**Reviewers:** @marouenbg, @krystophny
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due

[2020-07-12 15:41] whedon commented on #2475
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-12 15:41] whedon commented on #2475
[code]

[2020-07-12 15:41] whedon opened #2476 "[PRE REVIEW]: Disimpy: A massively parallel Monte Carlo simulator for synthesizing diffusion-weighted MRI data in Python"
**Submitting author:** @kerkelae (<a href="http://orcid.org/0000-0001-9446-4305">Leevi Kerkelä</a>)
**Repository:** <a href="https://github.com/kerkelae/disimpy" target ="_blank">https://github.com/kerkelae/disimpy</a>
**Version:** v0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @DARSakthi, @grlee77, @ritagnunes
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2020-07-12 15:41] whedon commented on #2476
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-12 15:41] whedon commented on #2475
[code]

[2020-07-12 15:41] whedon commented on #2476
[code]

[2020-07-12 15:41] whedon opened #2477 "[PRE REVIEW]: DiffCapAnalyzer: A Python Package for Quantitative Analysis of Total Differential Capacity Data"
**Submitting author:** @nicolet5 (<a href="http://orcid.org/0000-0003-3411-7373">Nicole  Thompson</a>)
**Repository:** <a href="https://github.com/nicolet5/DiffCapAnalyzer" target ="_blank">https://github.com/nicolet5/DiffCapAnalyzer</a>
**Version:** v0.1.1
**Editor:** @jgostick
**Reviewers:** @yangbai90
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2020-07-12 15:41] whedon commented on #2477
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-12 15:41] whedon commented on #2475
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02475/joss.02475/10.21105.joss.02475.pdf)

[2020-07-12 15:42] whedon commented on #2476
[code]

[2020-07-12 15:42] whedon commented on #2476
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02476/joss.02476/10.21105.joss.02476.pdf)

[2020-07-12 15:42] arfon commented on #2475
@whedon query scope

[2020-07-12 15:42] whedon commented on #2477
Failed to discover a `Statement of need` section in paper

[2020-07-12 15:43] whedon commented on #2477
[code]

[2020-07-12 15:43] whedon commented on #2477
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02477/joss.02477/10.21105.joss.02477.pdf)

[2020-07-12 15:43] arfon commented on #2476
@whedon query scope

[2020-07-12 15:59] kerkelae commented on #2476
The following reviewers, for example, may be suitable for this submission: arokem mstimberg RainierBarrett Fipanther hanayik

[2020-07-12 16:00] kerkelae commented on #2476
@whedon commands

[2020-07-12 16:00] whedon commented on #2476
Here are some things you can ask me to do:

[code]

[2020-07-12 16:14] Kevin-Mattheus-Moerman commented on #2470
@whedon assign @mathieuboudreau as reviewer

[2020-07-12 16:14] whedon commented on #2470
OK, @mathieuboudreau is now a reviewer

[2020-07-12 16:14] Kevin-Mattheus-Moerman commented on #2470
That is fine thank you so much!

[2020-07-12 16:14] Kevin-Mattheus-Moerman commented on #2470
Thanks!!

[2020-07-12 16:15] Kevin-Mattheus-Moerman commented on #2470
@whedon add @grlee77 as reviewer

[2020-07-12 16:15] whedon commented on #2470
OK, @grlee77 is now a reviewer

[2020-07-12 16:16] Kevin-Mattheus-Moerman commented on #2470
@whedon start review

[2020-07-12 16:16] whedon opened #2478 "[REVIEW]: PulseqDiffusion: PyPulseq implementation of Diffusion-Weighted Echo Planar Imaging"
**Submitting author:** @ritagnunes (<a href="http://orcid.org/0000-0001-7425-5717">Rita G. Nunes</a>)
**Repository:** <a href="https://github.com/ritagnunes/PulseqDiffusion" target ="_blank">https://github.com/ritagnunes/PulseqDiffusion</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @mathieuboudreau, @grlee77
**Archive:** Pending

**:warning: JOSS reduced service mode :w

[2020-07-12 16:16] whedon commented on #2470
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2478.

[2020-07-12 16:16] #2470 closed

[2020-07-12 16:16] whedon commented on #2478
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mathieuboudreau, @grlee77 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-07-12 16:17] whedon commented on #2478
[code]

[2020-07-12 16:17] whedon commented on #2478
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02478/joss.02478/10.21105.joss.02478.pdf)

[2020-07-12 16:41] danielskatz commented on #2351
👋 @muhrin - I think we're waiting for your response to the issues @dghoshal-lbl has raised...

[2020-07-12 16:42] danielskatz commented on #2352
👋 @bhatele - When will you be able to start this?

[2020-07-12 16:58] gkthiruvathukal commented on #2153
@UTH-Tuan I will be able to answer any questions about the review process.  Just so you know, we have reviewer guidelines that take you through the process at https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I'm going to add you as a reviewer now!

[2020-07-12 16:58] gkthiruvathukal commented on #2153
@whedon add @UTH-Tuan as reviewer

[2020-07-12 16:58] whedon commented on #2153
OK, @UTH-Tuan is now a reviewer

[2020-07-12 17:01] gkthiruvathukal commented on #2423
@faroit and @ziatdinovmax, I am in need of two reviewers for this JOSS submission. Would either or both of you be willing to contribute a review for this JOSS submission?

[2020-07-12 17:03] gkthiruvathukal commented on #2400
Hi @Smattr and @drj11, can you please give a brief update on progress to review this submission? Thank you!

[2020-07-12 17:05] gkthiruvathukal commented on #2356
@alexhanna and @cmaimone, I am in need of 2 reviewers for this JOSS submission. Are either or both of you willing to serve as reviewers?

[2020-07-12 17:08] Smattr commented on #2400
Certainly. I made progress on a few of the initial checklist items, as indicated above. However, unfortunately I didn't have much time over the last couple of weeks to do more than that. I should have time this coming week to get deeper into the review.

[2020-07-12 17:11] gkthiruvathukal commented on #2400
Thanks, @Smattr. Just was doing a gentle nudge to ensure continued progress.

[2020-07-12 17:17] cmaimone commented on #2356
I've got 2 open reviews. I'd like to complete those before committing to
any additional ones.

On Sun, Jul 12, 2020, 12:05 PM George K. Thiruvathukal <
notifications@github.com> wrote:

[2020-07-12 17:29] mado89 commented on #2153
I am sorry for not posting my review more explicitily:
In my opinion this tool needs some more work. Although investing quite some time into this review. I am still unable to perform a thorough review of this tool for the following reasons:

* Lack of gradle support in documentation (I am aware that most people use Maven. Maybe my issues are related to some other aspects)
* Lack of user documentat