[2022-04-25 17:16] #3124 closed

[2022-04-25 17:19] diehlpk commented on #3959
Sorry to hear about your lost. Please take your time.

[2022-04-25 17:33] jbytecode commented on #4280
@editorialbot remind @62442katieb in five days

[2022-04-25 17:34] jbytecode commented on #4231
@editorialbot remind @jakryd in two days

[2022-04-25 17:45] yuliadm commented on #4332
@editorialbot check repository

[2022-04-25 17:47] jbytecode commented on #4332
@editorialbot generate pdf

[2022-04-25 17:56] jbytecode commented on #4332
Dear @yuliadm,

It seems the paper is over-sized and you are trying to shrink the words count. Here is a list of some suggestions:

- The summary is too long, it is a little bit like a introduction, it can be shortened
- The examples are too verbose, code outputs can be omitted.
- General framework and the functions sections may be combined to form a more compact section.

[2022-04-25 17:59] conorheins commented on #4098
Hi @emdupre , I've now finished the re-formatting steps and changes to Statement of Need that you suggested.

Before I move onto the second set of steps (e.g. archiving the reviewed software in Zenodo, ... .), I just had a clarifying question about the order in which I do these steps.

The first step is "Make a tagged release of your software, and list the version tag of the archived version here"

[2022-04-25 18:21] yuliadm commented on #4332
Dear @jbytecode, thank you very much for agreeing to review our work! I am very much grateful for your suggestions, I will gladly take them into account! I am indeed struggling a bit with shortening the paper...

[2022-04-25 18:42] malmaud commented on #3527
IIUC @AP6YC still isn't ready for a review.

[2022-04-25 19:06] ejikeugba commented on #4331
@editorialbot generate pdf

[2022-04-25 19:07] ejikeugba commented on #4331
@editorialbot check references

[2022-04-25 19:11] yuliadm commented on #4332
@editorialbot check repository

[2022-04-25 19:38] yuliadm commented on #4332
@editorialbot check repository

[2022-04-25 19:39] ejikeugba commented on #4331
Thanks! @danielskatz. Some of the suggested DOIs still turned out invalid after having them included. I want to believe the DOIs are correct. Could it be that the editorialbot doesn't accept DOIs with semicolons? Because the reported invalid DOIs seem to have the semicolons initially in them missing.

[2022-04-25 19:44] jbytecode commented on #4332
@editorialbot generate pdf

[2022-04-25 19:51] jbytecode commented on #4332
Dear @yuliadm

I really appreciate your effort. Thank you.

Yet another suggestion is to remove some theoretical information and definition and to focus on the software itself.

[2022-04-25 20:06] yuliadm commented on #4332
Dear @jbytecode thanks a lot for the suggestion! I am trying to leave as little theory as possible, I'll think about removing the definition, although I'd like to keep a little bit of math:)

[2022-04-25 20:07] yuliadm commented on #4332
@editorialbot check repository

[2022-04-25 20:08] danielskatz commented on #4340
@arfon - How should I read `113 lines (101 sloc)` in GitHub?  Does this mean 113 lines minus 12 blank lines, is 101 sloc, which can include comments?

[2022-04-25 20:16] emdupre commented on #4098
@editorialbot generate pdf

[2022-04-25 20:18] finsberg commented on #4338
Review checklist for @finsberg

### Conflict of interest

-  [x] I confirm that I have read the [JOSS conflict of interest policy](reviewer_guidelines.html#joss-conflict-of-interest-policy) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

-  [x] I confirm that I read and will adhere to the [J

[2022-04-25 20:19] yuliadm commented on #4332
@editorialbot check repository

[2022-04-25 20:24] emdupre commented on #4098
Hi @conorheins,

Thank you for addressing these points ! There's a typo [here](https://github.com/infer-actively/pymdp/blob/137cec4fff77ea29ac9a922351d7671d79299823/paper/paper.bib#L68) that's preventing PDF compilation. If you can remove the extra `}` character, we should be able to re-generate the PDF !

This is a good question; thank you for confirming ! What I mean is that when you create a ne

[2022-04-25 20:58] kmongird commented on #4336
Thanks @fraukewiese, will do

[2022-04-25 21:13] conorheins commented on #4098
Hi @emdupre, thanks for the clarification.

As requested, here is a link to the latest release: [v0.0.5](https://github.com/infer-actively/pymdp/tree/v0.0.5)

And here is the DOI (from Zenodo): 10.5281/zenodo.6484849

I have also verified that the Zenodo archive version has the correct metadata (title and author list).

[2022-04-25 21:15] emdupre commented on #4098
@editorialbot  generate pdf

[2022-04-25 21:17] emdupre commented on #4098
@editorialbot generate pdf

[2022-04-25 21:22] emdupre commented on #4098
@editorialbot set version v0.0.5

[2022-04-25 21:25] emdupre commented on #4098
@editorialbot set v0.0.5 as version

[2022-04-25 21:26] emdupre commented on #4098
@editorialbot check references

[2022-04-25 21:41] jasondegraw commented on #4261
@editorialbot generate my checklist

[2022-04-25 21:43] emdupre commented on #4098
@editorialbot set 10.5281/zenodo.6484849 as archive

[2022-04-25 21:47] emdupre commented on #4098
@editorialbot check references

[2022-04-25 21:49] ejikeugba commented on #4331
@danielskatz sorry I didn't describe the problem well enough. The two invalid links returned by editorialbot are not the same as those in the references. These are the correct DOIs with the line numbers they appeared in the paper,

https://doi.org/10.1175/1520-0493(1950)078%3C0001:vofeit%3E2.0.co;2                     (line 159)
https://doi.org/10.1002/(sici)1096-9136(199606)13:6%3C536::aid-dia110

[2022-04-25 22:18] 62442katieb commented on #4280
Hi! I'm looking the repo over and making notes, as well. Will update later this week!

[2022-04-25 22:34] emdupre commented on #4098
Thank you, @conorheins !

A few remaining points:
- [ ] The [software archive](https://doi.org/10.5281/zenodo.6484849) title is currently `infer-actively/pymdp: 0.0.5` -- could you please update it to `pymdp: A Python library for active inference in discrete
state spaces` to match the JOSS paper ?
- [ ] Similarly, the [software archive](https://doi.org/10.5281/zenodo.6484849) author listing is ` c

[2022-04-25 23:02] yuliadm commented on #4332
@editorialbot check repository

[2022-04-25 23:09] mileslucas commented on #4262
@arfon Sure, I'm happy to review this project, although my radio astronomy knowledge is limited.

[2022-04-25 23:16] yuliadm commented on #4332
@editorialbot check repository

[2022-04-25 23:38] phoebe-p commented on #4298
Hi @miesli, I'm nearly done with the review, and I agree with @dilawar that the package is good and the issues I describe below are not blockers to acceptance, but something to keep in mind for the usability of the package by others.

Somewhat in line with what @dilawar has been discussing, there are so many dependencies and libraries which have to be installed etc. especially to get the other dep

[2022-04-26 01:34] ashleychontos commented on #3331
Without further ado!

@mbobra, @benjaminpope, @danhey,

Thank you all for volunteering your time to review the software, and *we appreciate your patience*. Since both reviewers followed similar formats, we decided to group comments together by sections, with the hope that it will tell a more cohesive story. Since a long time has passed since our original submission, we have included the reviewers

[2022-04-26 02:00] elimillera commented on #4284
I second @stmcg. A very well developed package. @fabian-s My review is done and everything looks good.

[2022-04-26 02:03] danielskatz commented on #4331
👋 @openjournals/dev - can you check on this problem?  Perhaps there's a bug in how we're processing some strings/DOIs?

[2022-04-26 02:38] majensen commented on #4007
Hey @amoeba - have you got cycles to review [this work](#4007) for [JOSS](https://joss.theoj.org)? Consideration much appreciated - @majensen

[2022-04-26 02:55] humanfactors commented on #4250
I have just returned back to work after being largely out of service in remote Australia. I will endeavor to complete my review this week. Thanks.

[2022-04-26 03:22] matthewfeickert commented on #4318
Thanks for the ping @danielskatz. I would be open to reviewing this, but I have been slacking in my JOSS responsibilities for the last month and need to finish the Asimov review, so I probably wouldn't be able to devote my full attention to this for probably at least a week or so.

[2022-04-26 04:34] danhey commented on #4343
@editorialbot generate my checklist

[2022-04-26 05:35] yuliadm commented on #4332
@editorialbot generate pdf

[2022-04-26 06:30] yuliadm commented on #4332
@editorialbot check repository

[2022-04-26 06:31] yuliadm commented on #4332
@editorialbot check references

[2022-04-26 06:32] yuliadm commented on #4332
@editorialbot generate pdf

[2022-04-26 06:35] yuliadm commented on #4332
Dear @jbytecode, I was trying very hard! Would the current wordcount be somehow acceptable?

[2022-04-26 06:37] jbytecode commented on #4332
The current word count is still %11 larger than the pre-defined upper limit, I think It is beyond my authority to make this decision.

[2022-04-26 06:57] jakryd commented on #4231
@editorialbot generate my checklist

[2022-04-26 07:02] conorheins commented on #4098
Hi @emdupre,

Re: software archive metadata. Sorry about that, that's strange. I changed those metadata (title / author list) to the correct versions after I made the Zenodo release, but it seems it doesn't show up for the public-facing version, presumably because I didn't click "Publish" yet, only "Save". I've now clicked "Publish" so all the metadata should be consistent now. Let me know if you

[2022-04-26 07:26] fabian-s commented on #4284
@editorialbot generate pdf

[2022-04-26 07:27] fabian-s commented on #4284
@editorialbot check references

[2022-04-26 07:29] fabian-s commented on #4284
[agranholm](https://github.com/agranholm)

At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the **correct metadata**. This includes the title (should matc

[2022-04-26 07:37] milnus commented on #4007
Another reviewer suggestion from my side is: gtonkinhill
Not currently a reviewer with you, but has himself published genomic/bioinformatics tools

[2022-04-26 08:16] yuliadm commented on #4332
@jbytecode I see... Seems that I need to try harder then!

[2022-04-26 08:18] yuliadm commented on #4332
@editorialbot check repository

[2022-04-26 08:18] yuliadm commented on #4332
@editorialbot generate pdf

[2022-04-26 08:18] samhorsfield96 commented on #4167
@lpantano yes I'd be happy to review this. I haven't reviewed for JOSS before, would you be able to point me towards the review guidelines/process?

[2022-04-26 08:21] pjanck commented on #3061
I can't seem to find this DOI anywhere. Also, IFC++ webpage does not list any publications that we could cite, or where a DOI could be identified. Deciding to ignore the comment.

[2022-04-26 08:32] jschlenger commented on #3061
I am not able to edit the review description.
The tag is:  `release-v4.0.0 `

[2022-04-26 08:34] yuliadm commented on #4332
@editorialbot check repository

[2022-04-26 08:37] yuliadm commented on #4332
@editorialbot check repository

[2022-04-26 08:38] yuliadm commented on #4332
@editorialbot generate pdf

[2022-04-26 08:47] jbytecode commented on #4332
I think that is okay in its current form.

Do you have any suggestions for potential reviewers? You can use the reviewers list at the top of this issue. Please mention them without using the `@`character in front of their github accounts. Please start your search from the very bottom of the list.

Thank you in advance.

[2022-04-26 08:54] jschlenger commented on #3061
We have archived the release with Zenodo.
The DOI is: `10.5281/zenodo.6488493`

[2022-04-26 08:55] pjanck commented on #3061
@hugoledoux I believe we've completed all remaining actions. Thank you for your support!

[2022-04-26 09:07] rogersamso commented on #4329
@editorialbot generate pdf

[2022-04-26 09:12] yuliadm commented on #4332
Dear @jbytecode, thanks! maybe Noa Tamir, Matthew Sottile or Øystein Sørensen could do it?

[2022-04-26 09:27] yuliadm commented on #4332
Ah, sorry.

zhiiiyang, NRaillard, GaryBAYLOR

[2022-04-26 09:48] hugoledoux commented on #3061
@editorialbot generate pdf

[2022-04-26 09:50] hugoledoux commented on #3061
@editorialbot generate pdf

[2022-04-26 09:53] hugoledoux commented on #3061
@editorialbot check references

[2022-04-26 09:54] hugoledoux commented on #3061
@editorialbot set 10.5281/zenodo.6488493 as archive

[2022-04-26 09:54] hugoledoux commented on #3061
@editorialbot set release-v4.0.0 as version

[2022-04-26 09:54] hugoledoux commented on #3061
@editorialbot recommend-accept

[2022-04-26 09:56] hugoledoux commented on #3061
@pjanck congratulations 🎉, your paper is (almost) accepted and will be handled by an EiC who might ask for a few final changes.

Thanks to the reviewers: @abdoulayediak @aothms @CBenghi

[2022-04-26 10:05] fraukewiese commented on #4131
Sorry @DCoppitters that it is taking that long to find reviewer. I am currently also trying to reach out to potential reviewer via mail. If you have any additional suggestions for reviewer, please let me know.

[2022-04-26 10:20] miesli commented on #4298
Hi @phoebe-p,
thank you for the remarks and yes I can only agree. This is one reason why we want to make this toolkit open source now (even if it is not really mature). We need as much testing on different machines by users as possible. The issue here is, that you have to be interested in programming, the used OS and the wanted interface at the same time. DMT only starts to pay off after a serious

[2022-04-26 10:33] danielskatz commented on #3061
@pjanck - I've suggested some minor changes to the paper in https://github.com/tumcms/Open-Infra-Platform/pull/546 while doing a final proofread, as the AEiC this week.

[2022-04-26 10:42] danielskatz commented on #4318
@matthewfeickert - your thoughts on the scholarly contribution criteria would be welcome. Please ask questions of the author here.  On the pro side, and the reason this didn't undergo a scope review is the 5000 lines of Python. It does appear that this was written with a small number of commits, but they were over 18 months, which might just indicate a non-typical style of using git.

[2022-04-26 10:43] danielskatz commented on #3061
@editorialbot generate pdf

[2022-04-26 10:44] pjanck commented on #3061
@danielskatz Thank you for the edit.

@hugoledoux Thank you for supporting us through this process!

And a huge thanks to all reviewers @abdoulayediak @aothms and @CBenghi for their comments and suggestions!

[2022-04-26 10:54] pjanck commented on #3061
@danielskatz I've read through the paper once more and improved two typos.

I believe we're ready for publishing 🍰

[2022-04-26 10:55] ziotom78 commented on #4173
Sorry for the delay, I have been away for Easter holidays. I have checked the code, and the latest work by @amoradinejad have improved the installation and functionality a lot: great job!

My review is now complete, and I checked every item in the review checklist.

[2022-04-26 10:57] Athene-ai commented on #4332
@jbytecode I would like to review this R package

[2022-04-26 11:02] xuanxu commented on #4331
Nice catch! yes, the `<` and `>` characters where not being escaped and so the generated url was invalid.
It will be fixed ASAP!

[2022-04-26 11:04] Athene-ai commented on #4271
@diehlpk I would like to review this paper :-)

[2022-04-26 11:07] danielskatz commented on #3061
@editorialbot accept

[2022-04-26 11:14] Athene-ai commented on #4006
@falexwolf  I would like to review this paper

[2022-04-26 11:15] Kevin-Mattheus-Moerman commented on #3390
@editorialbot generate pdf

[2022-04-26 11:16] danielskatz commented on #4318
In what slack channel?

[2022-04-26 11:17] danielskatz commented on #3061
Congratulations to @pjanck (Štefan Jaud) and co-authors!!

And thanks to @aothms, @CBenghi, and @abdoulayediak for reviewing, and @hugoledoux for editing!
We couldn't do this without you

[2022-04-26 11:18] Athene-ai commented on #4318
review one

[2022-04-26 11:18] #3061 closed

[2022-04-26 11:20] danielskatz commented on #4318
There is no review slack channel - reviews happen in a review issue, and once there are at least 2 reviewers, I will create that issue

[2022-04-26 11:23] Athene-ai commented on #4318
perfect :-)

[2022-04-26 11:25] yuliadm commented on #4332
Thanks @Athene-ai, that would be great!

[2022-04-26 11:28] Athene-ai commented on #4332
The pleasure is mine :-)

[2022-04-26 11:40] GuillaumeDerval commented on #4271
I can review the paper but not before the end of next week :-(

[2022-04-26 11:40] agranholm commented on #4284
@elimillera Thank you very much!

@fabian-s Excellent!

We have previously made a tagged release on GitHub of the first (and newest version), v.1.0.0: https://github.com/INCEPTdk/adaptr/releases/tag/v1.0.0

This version of the software - v.1.0.0 - has now been archived at Zenodo and metadata should be correct and match the submission. The DOI is: 10.5281/zenodo.6490087, full link: https://doi.org/

[2022-04-26 12:06] mgiardino commented on #4305
Hi @vipinagrawal25, I have to report an issue about the Prerequisites of your README.
I've tried the proposed instruction for Ubuntu systems in my Ubuntu 20.04.4 LTS:
_apt install g++ hdf5_
resulting in “cannot found packet hdf5”.
Maybe this requirement shall be better specified (which language binding is required? which version? some repo to add?).
For example, some possible packets are: libhdf5-

[2022-04-26 12:21] pdebuyl commented on #4205
Hi @bkmi no worry. The reviewers are done, so it is only me and you waiting.

[2022-04-26 12:47] Kevin-Mattheus-Moerman commented on #3390
@editorialbot generate pdf

[2022-04-26 13:20] konstantinstadler commented on #4212
Should be ready the next days

[2022-04-26 13:24] pdebuyl commented on #4329
Hi @blsqr thanks for the review! Please make sure (both author and reviewer) to let me know in this issue page about further progress (as I am not subscribed to the issue discussion).

[2022-04-26 13:25] pdebuyl commented on #4100
HI @lilyminium yes, a 0.3.2 release with only the minimal fixes to be able to run the examples properly would be totally ok.

[2022-04-26 13:47] zhanghe9704 commented on #3665
Hello,

Just want to know if there's any progress? Thanks. Have a nice day!

He Zhang
Computational Accelerator Physicist
Center for Advanced Science of Accelerators
Jefferson Lab
(O) 757-269-6657
www.hezhang.us

On Wed, Mar 23, 2022 at 9:31 AM Zhang He ***@***.***> wrote:

[2022-04-26 13:53] falexwolf commented on #4006
Thank you, @Athene-ai!

[2022-04-26 14:05] Athene-ai commented on #4006
@luizirber I can not wait to be added as a second review for this paper

[2022-04-26 14:10] fabian-s commented on #4284
@editorialbot set 10.5281/zenodo.6490087 as archive

[2022-04-26 14:13] fabian-s commented on #4284
@editorialbot set 10.5281/zenodo.6490087

[2022-04-26 14:15] fabian-s commented on #4284
@editorialbot set 10.5281/zenodo.6490087 as archive
@editorialbot set v1.0.0 as version

[2022-04-26 14:15] Athene-ai commented on #4339
@danielskatz I would like to review this paper

[2022-04-26 14:18] fabian-s commented on #4284
@editorialbot recommend-accept

note for JOSS EiCs: this paper exceeds the recommended size for JOSS papers somewhat (~2000 words), but IMO this is adequate here: there's lots of code examples in the text and the paper does not contain any "fluff" that would be easy to remove without losing important content.

[2022-04-26 15:09] MiftariB commented on #4158
Thank you @odow and @leonardgoeke for your reviews and your time ! Your feedback was very valuable to us. As the paper has been published, we've closed the issue on our gitlab but feel free to write to us for any question or remark. Thanks to @fraukewiese for editing this paper and making sure that the review process went well. Thanks to everyone involded for their commitment.

On a more personal

[2022-04-26 15:29] Jean-Romain commented on #4342
In the first part my review is following point-by-point the authors/reviewers guidelines by citing the guidelines and providing my associated comments to discuss if the paper and software fit the guidelines. In the second part my review analyses the code and the features of the package more in depth.

# JOSS guidelines?

The `IceSat2R` package is a package that essentially builds string queries to

[2022-04-26 15:30] asif-salim commented on #4339
@editorialbot commands

[2022-04-26 15:31] asif-salim commented on #4339
@editorialbot generate pdf

[2022-04-26 15:57] arendsee commented on #4193
@Bisaloo Online documentation is nice for case studies and high-level descriptions where diagrams and figures are helpful, but I would always prefer quick CLI usage statements if I need to know what flags are available. The smot CLI documentation is easy and minimal; I just hadn't explained it.

[2022-04-26 16:14] sbenthall commented on #4331
@editorialbot assign me as editor

[2022-04-26 16:17] mgiardino commented on #4305
One more thing: to successfully execute the python modules, avoiding the error "ModuleNotFoundError: No module named 'h5py'", the _h5py_ module shall be added to the pip installation instruction.

[2022-04-26 16:18] quintshekhar commented on #4339
@editorialbot generate pdf

[2022-04-26 16:19] quintshekhar commented on #4339
@editorialbot commands

[2022-04-26 16:25] quintshekhar commented on #4339
@editorialbot generate pdf

[2022-04-26 16:39] jbytecode commented on #4332
👋👋👋 Dear @zhiiiyang  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**mixComp: An R package for estimating complexity of a mixture**". You can find more information at the top of this Github issue (https://github.com/o

[2022-04-26 16:41] jbytecode commented on #4332
👋👋👋 Dear @NRaillard  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**mixComp: An R package for estimating complexity of a mixture**". You can find more information at the top of this Github issue (https://github.com/o

[2022-04-26 16:45] luizirber commented on #4006
@editorialbot add @Athene-ai as reviewer

[2022-04-26 16:45] danielskatz commented on #4331
@editorialbot assign @sbenthall as editor

(not sure why your command didn't work, so trying again)

[2022-04-26 16:46] danielskatz commented on #4331
@openjournals/dev - is @editorialbot sleeping now?

[2022-04-26 16:48] jbytecode commented on #4332
@editorialbot add @Athene-ai as reviewer

It seems you are already registered as a potential reviewer with proper area of expertise. I am assigning you as a reviewer.

Thank you.

[2022-04-26 16:48] danielskatz commented on #4339
@quintshekhar - @editorialbot seems to be slow to respond now.  And, no, we can't start.  We first need to complete the scope review as I wrote before, which will take a week or so.  Then, if this passes, we will assign an editor.  Then, this editor will need to find and assign at least two reviewers.  Then, the review can start.

[2022-04-26 16:56] mlampros commented on #4342
Dear @Jean-Romain thank you for reviewing the code of the IceSat2R package and for your time spent to go through the code. I'd like to ask if I'm allowed to comment on your review?

[2022-04-26 17:02] xuanxu commented on #4331
@editorialbot assign @sbenthall as editor

Looks like it was taking a nap, let's try again

[2022-04-26 17:02] xuanxu commented on #4331
@editorialbot check references

[2022-04-26 17:04] Athene-ai commented on #4006
@editorialbot  add @Athene-ai  as reviewer

[2022-04-26 17:05] danielskatz commented on #4284
👋 @fabian-s - trying again - @editorialbot was on a break

[2022-04-26 17:06] danielskatz commented on #4284
@editorialbot recommend-accept

note for JOSS EiCs: this paper exceeds the recommended size for JOSS papers somewhat (~2000 words), but IMO this is adequate here: there's lots of code examples in the text and the paper does not contain any "fluff" that would be easy to remove without losing important content.

[2022-04-26 17:06] Jean-Romain commented on #4342
I'm ok with that and for what I've understood of the review policy I think it is encouraged

[2022-04-26 17:06] danielskatz commented on #4284
@editorialbot set 10.5281/zenodo.6490087 as archive

[2022-04-26 17:06] danielskatz commented on #4284
@fabian-s - also note that there can only be one @editorialbot command per comment, and it has to be the first thing in the comment

[2022-04-26 17:06] Athene-ai commented on #4006
Oh so sorry 😅😅😅

[2022-04-26 17:07] danielskatz commented on #4284
@editorialbot recommend-accept

note for JOSS EiCs: this paper exceeds the recommended size for JOSS papers somewhat (~2000 words), but IMO this is adequate here: there's lots of code examples in the text and the paper does not contain any "fluff" that would be easy to remove without losing important content.

[2022-04-26 17:08] danielskatz commented on #4284
@fabian-s - please check this and let me know when you think it's ready for me to proofread and then potentially publish

[2022-04-26 17:37] hugoledoux commented on #4342
It is encouraged indeed.

Thanks @Jean-Romain for this quick (a record I think!) and thorough review.

[2022-04-26 17:44] BrodiePearson commented on #4207
@elbeejay @zhenwu0728 Thanks for making the modifications. This looks good to me now. (note, there is a minor typo in the new Figure 3 caption: "liens" to "lines")

[2022-04-26 18:12] arfon commented on #4332
@editorialbot add @Athene-ai as reviewer

[2022-04-26 18:14] jbytecode commented on #4332
@Athene-ai - you are now the first reviewer of this submission. Whenever the review process starts I will inform you in a great detail.

Thank you in advance.

[2022-04-26 18:19] fabian-s commented on #4284
@danielskatz thanks for your help.

I'm sorry to say I missed one tiny thing during proof-reading earlier -- it's

"Planning adaptive trials and comparing adaptive trials designs is complex, however, and require statistical"
instead of "Planning adaptive trials and comparing adaptive trials designs is complex, however, and require**s** statistical", see https://github.com/INCEPTdk/adaptr/pull/3.

[2022-04-26 18:23] Athene-ai commented on #4332
I can not wait to start reviewing this paper 😊

[2022-04-26 18:23] danielskatz commented on #4284
👋 @agranholm - can you make this ☝️ change, and I'll also proofread and see if I find anything else?

[2022-04-26 18:52] agranholm commented on #4284
Thanks, I’ve merged @fabian-s a pull request, so the typo is corrected now, thanks for catching this. Not sure if I should regenerate the PDF now at this stage using the usual command or if it should be done by one of you?

[2022-04-26 19:17] epiben commented on #4284
Just chipping in; hope that's fine. The sentence has a grammatical error, but it's not that one. It should read, "Planning adaptive trials and comparing adaptive trials designs **are** complex, however, and require statistical". Planning + comparing => third person plural. This, "require" is correct.

[2022-04-26 19:26] danielskatz commented on #4284
@agranholm - you can regenerate the PDF if you want, if not I will

[2022-04-26 19:28] danielskatz commented on #4284
@epiben - thanks for your suggestion - Either way would be fine (alt: Planning adaptive trials and comparing adaptive trials designs is complex, however, and requires statistical) but the singular/plural part should be consistent.
@agranholm - can you also change this, and I will still proofread this whole thing later today?

[2022-04-26 19:42] csadorf commented on #4318
Yes, I am available.

[2022-04-26 19:42] agranholm commented on #4284
@editorialbot generate pdf

Thanks both, I have updated it according to @epiben s suggestion (plural in both places) and regenerated the PDF.

[2022-04-26 21:05] warrickball commented on #4343
@editorialbot generate pdf

I've explicitly named and cited (as far as possible) the currently supported programs and formats in the paper, as @christinahedges [suggested in the pre-review](https://github.com/openjournals/joss-reviews/issues/4295#issuecomment-1088097878).

[2022-04-26 22:14] kbarnhart commented on #4282
@pfeiffea many thanks for your review! 🎉

Regarding your question:

I tend to recommend that theory lives with the main documentation (here, the file theory.md) rather than in the paper because the theory is then more closely tied with what a typical user is looking at when they are learning to use the software. In contrast, the paper would contain the type of information that a potential user mig

[2022-04-26 23:29] kbarnhart commented on #4282
@pfeiffea - Feel free to ignore the automatic reminder as you've already provided your update. It occurs if any checkboxes are unchecked.

[2022-04-26 23:39] melissawm commented on #4198
Sure - if they are not already a JOSS reviewer from our spreadsheet, you may also encourage them to [add their names there as potential reviewers for the future]([joss.theoj.org/reviewer-signup.html](https://joss.theoj.org/reviewer-signup.html)) 😄

[2022-04-27 00:31] danielskatz commented on #4284
@editorialbot accept

[2022-04-27 00:41] danielskatz commented on #4284
@openjournals/dev @arfon - note that the title in JOSS metadata includes some quote marks that seem to also be in the suggested citation, while the PDF does not have the quote marks.  Any thoughts on how this should be handled?

[2022-04-27 00:43] danielskatz commented on #4284
In any case, congratulations to @agranholm (Anders Granholm) and co-authors!!

And thanks to @elimillera and @stmcg for reviewing, and @fabian-s for editing.
We couldn't do this without you.

I am, however, going to leave this open for now until we resolve the quotes in the title issue

[2022-04-27 00:45] quintshekhar commented on #4339
@editorialbot generate pdf

[2022-04-27 01:22] majensen commented on #4007
Hi @gtonkinhill - Would you be willing to review [this software submission](#4007) for our [Journal of Open Source Software (JOSS)](https://joss.theoj.org)? Please have a look at our [guide for reviewers](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), and let me know here in this thread, or via email to me at maj \-dot\- fortinbras \-at\- gmail \-dot\- com. Your expertise here wo

[2022-04-27 01:24] amoeba commented on #4007
Hi @majensen, I don't have cycles for this at the moment, apologies.

[2022-04-27 01:38] alstat commented on #4228
@fabian-s, sorry, I was a bit loaded, but will work on it today on the remaining issues.

[2022-04-27 01:46] gtonkinhill commented on #4007
Hi @majensen, I would be happy to review.

I am currently visiting the Doherty Institute where @milnus is based but am employed at the University of Oslo. @milnus and I do not have any past or ongoing projects so I think I will be able to give an unbiased review but wanted to disclose the association just in case it is an issue.

[2022-04-27 02:14] benjaminpope commented on #3331
@whedon generate pdf

[2022-04-27 02:14] benjaminpope commented on #3331
@editorialbot generate pdf

[2022-04-27 02:21] quintshekhar commented on #4339
@editorialbot generate pdf

[2022-04-27 02:24] benjaminpope commented on #3331
Dear @ashleychontos,

Thanks for the update.

I like the new Jupyter notebook demos and explanation in the body of the paper.

Before I delve into the review - the paper as rendered above doesn't contain any figures, but they are referred to in the text. There is a broken hyperref at line 78 " (section )" and that entire section seems incomplete.

Perhaps the latest version of the paper has not ye

[2022-04-27 02:29] ashleychontos commented on #3331
Thanks @benjaminpope --

I was going to say that I just double-checked the PDF @editorialbot generated and it is definitely an old, unfinished version. The paper lives (and compiles perfectly fine) in the source repo but I guess it has been so long since the original submission that I thought that's how JOSS papers were generated. Are there instructions for uploading a resubmission to JOSS that I'

[2022-04-27 02:31] benjaminpope commented on #3331
@mbobra checking on this

[2022-04-27 02:34] ashleychontos commented on #3331
@benjaminpope regarding the automated testing -- I visited the JOSS documentation [here](https://joss.readthedocs.io/en/latest/review_checklist.html) and it says:

- **Automated tests:** Are there automated tests or manual steps described so that the functionality of the software can be verified?

What we have right now currently satisfies the latter of the two, which is what our original response

[2022-04-27 02:52] majensen commented on #4007
@amoeba appreciate your quick response and consideration. Thanks!

[2022-04-27 02:57] majensen commented on #4007
@gtonkinhill thanks very much! I appreciate the transparency and I don't see any issues.
(P.S., in olden times I used interact on occasion with your old boss Simon when I was working in HIV. Apropos of not much except what a small world this is...)

[2022-04-27 02:58] majensen commented on #4007
@editorialbot add @gtonkinhill as reviewer

[2022-04-27 03:01] majensen commented on #4007
@ayaanhossain just checking in, are you still on board to review this work? It has been some time and I want to confirm with you - thanks! --@majensen

[2022-04-27 03:11] benjaminpope commented on #3331
As far as manual steps go, I guess that is ok in principle - though I should add it would be very easy to include these as a set of automated tests using a github action to execute the example.

The example you have linked, however, doesn't really have an up to date test functionality of the existing code. The vibe they want in an open source software project is that you should be able to test the

[2022-04-27 03:33] benjaminpope commented on #3331
What I mean is - if you really don't want to do unit tests, you could at least make a script that is executed automatically or otherwise, that checks all output numbers against a precomputed list of numbers that it should return.

[2022-04-27 03:48] ashleychontos commented on #3331
I appreciate all the feedback/suggestions @benjaminpope

That makes sense! I was actually in the process of testing that very thing but thought that what we had completed had already met the requirements. FWIW: it's not that I _don't_ want to do unit tests -- I have never done them before and I'm assuming the learning curve starts out a bit more steep, which would therefore take much longer than s

[2022-04-27 03:59] benjaminpope commented on #3331
I appreciate that! If you don't want to go all the way to really serious unit tests, a good start would be to do a couple end-to-end where you check outputs of a whole script. As you say, you have code that does this by hand.

The easy way to do this is to set up a `test_end_to_end.py` file under `./tests/` with this script as a function `def test_end_to_end`, or something like that. The function

[2022-04-27 04:00] benjaminpope commented on #3331
Christina Hedges has some good docs here: https://christinahedges.github.io/astronomy_workflow/notebooks/2.0-testing/pytest.html

[2022-04-27 04:11] ashleychontos commented on #3331
This is all very helpful, thanks again @benjaminpope. I will hack away at this while we wait to hear back from @mbobra and @danhey!

[2022-04-27 04:11] jamesrhester commented on #4200
Thanks for those updates. One final request from me: I see that the source distribution has a file `run-tests.sh` with an explanation inside on how to run the tests. To make this easier to find (and in order to tick off the checklist item on automated tests) I suggest that a short `Testing` section is added in the 'Installation' section of the docs pointing to this file with a brief instruction on

[2022-04-27 05:12] TahiriNadia opened #4344 "Installation: Does installation proceed as outlined in the documentation?"

[2022-04-27 05:12] #4344 closed

[2022-04-27 05:27] TahiriNadia commented on #4183
@whedon generate pdf

[2022-04-27 05:28] TahiriNadia commented on #4183
@editorialbot generate pdf

[2022-04-27 05:33] TahiriNadia commented on #4183
@editorialbot check references from branch JOSS-draft

[2022-04-27 05:43] danasolav commented on #4314
Sorry for the slow response. I can take it.

[2022-04-27 05:45] TahiriNadia opened #4345 "References: Is the list of references complete, and is everything cited appropriately that should be cited (e.g., papers, datasets, software)? Do references in the text use the proper citation syntax?"

[2022-04-27 05:45] #4345 closed

[2022-04-27 05:45] danasolav commented on #4259
@ebezzam if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-04-27 05:48] danasolav commented on #4281
@mbarzegary thank you for the update.
@kerstinvg and @yangbai90 , could you please check the new version of the repository and paper and let me know if you have any further comments/questions/concerns?

[2022-04-27 05:50] danasolav commented on #4281
@editorialbot generate pdf

[2022-04-27 05:53] dilawar commented on #4298
I recommend that DMT-core is accepted for publication. The codebase is of good quality and easily extendible making it suitable for building on top of it.

I believe that currently, the target audience is Python programmers with domain expertise. Given the nature of tooling in this domain (I have a limited experience), the dependency list, and the experiences shared by @phoebe-p, it feels like tha

[2022-04-27 06:03] TahiriNadia opened #4346 "Performance: If there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.)"

[2022-04-27 06:03] #4346 closed

[2022-04-27 06:06] TahiriNadia commented on #4346
You must compare your results with

[code]
And GitHub link:
`https://github.com/TahiriNadia/CKMedoidsTreeClustering/`

[2022-04-27 06:10] TahiriNadia opened #4347 "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

[2022-04-27 06:10] #4347 closed

[2022-04-27 06:12] TahiriNadia commented on #4347
Need comparaison with

[code]

[2022-04-27 06:14] TahiriNadia opened #4348 "A statement of need: Does the paper have a section titled 'Statement of Need' that clearly states what problems the software is designed to solve and who the target audience is?"

[2022-04-27 06:14] #4348 closed

[2022-04-27 06:17] TahiriNadia opened #4349 "Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution."

[2022-04-27 06:17] #4349 closed

[2022-04-27 06:32] agranholm commented on #4284
Amazing, thanks!

@danielskatz We stylized the package name as code using backticks throughout the paper, this seems to be what causes the problem in the title in the metadata (and the font in the title appears unchanged despite the formatting) - maybe the easiest solution is just if we remove the backticks around the package name in the title and keep them in the body of the text (where the forma

[2022-04-27 07:09] hechth commented on #3061
@pjanck, @jschlenger and @Vertexwahn and of course @danielskatz and @hugoledoux Thank you very much for making this happen!

Thank you Štefan for the amazing work and collaboration and for still keeping OIP alive! 😄

[2022-04-27 07:24] eloisabentivegna commented on #4173
Thanks for thorough job, @ziotom78!

@abhimaniyar, can you comment on the recent changes as well, and provide us with an update on your review?

[2022-04-27 07:27] mlampros commented on #4342
That's true the current state of the IceSat2R package does not solve complex modelling problems

The IceSat2R package is not a mathematical library

Let's see from the perspective of an R programming user, who might be a potential scientist and involved in remote sensing but does not have the time and knowledge to access within a time interval (days or week) IceSat-2 data from the [OpenAltimetry A

[2022-04-27 07:38] mlampros commented on #4342
I've started working on the IceSat2R package in middle of January 2022 (after signing the contract with the R consortium) and I finished it (including uploading the code and creating the various Github Actions) in the first weeks of March 2022.
I have to mention, though, that I was interested in IceSat-2 data before starting writing the code and towards the end of 2021 I spent 2 to 3 weeks to read

[2022-04-27 07:42] mlampros commented on #4342
The functions,

[2022-04-27 07:55] mlampros commented on #4342
The reason that I didn't include all tests (but only tests related to error handling) was because the majority of the functions make calls to the OpenAltimetry API. I've already submitted many R packages to CRAN and based on my experience this might cause errors not only during the first submission of an R package but also during regular checks of CRAN

[2022-04-27 08:00] fabian-s commented on #4228
yes, please do so now, this has been inactive for a rather long time.

[2022-04-27 08:12] ejikeugba commented on #4331
@editorialbot generate pdf

Regenerating the paper once again to update the corrections.

[2022-04-27 08:13] ejikeugba commented on #4331
Thanks @sbenthall for being willing to edit this submission.
As already mentioned, some potential reviewers include:
  - PhilipPallmann
- NRaillard
- Naeemkh

[2022-04-27 08:14] mlampros commented on #4342
This has an explanation too. There is always a trade off when submitting a package to CRAN.
Initially I intended to submit the vignettes in .html format where the code that didn't make any calls to the OpenAltimetry API would be auto-generated by CRAN (this allows a package maintainer to show potential visualizations in the true format - a leaflet map where an R user can zoom in and out)
Then I re

[2022-04-27 08:21] mlampros commented on #4342
avail_cycles = available_RGTs(only_cycle_names = TRUE)
#> Error in seq.int(0, to0 - from, by) : 'to' must be a finite integer

I don't receive any errors when I run this line of code on my PC (Linux Mint), but I always encourage R users to open an issue to the [Github repository](https://github.com/mlampros/IceSat2R/issues) (I mention that also in the [blog post](http://mlampros.github.io/2022/02/

[2022-04-27 08:27] mlampros commented on #4342
In my submitted paper I only used 3 sources (including the R package). The R package itself cites [all authors for all IceSat-2 Products](https://cran.r-project.org/web/packages/IceSat2R/citation.html)

[2022-04-27 08:44] mlampros commented on #4342
High level functions can be included. The main reason that the current code uses for-loops is for debugging purposes, especially when downloading multiple IceSat-2 products or for instance when comparing the tracks between the OpenAltimetry API and the NSIDC service specifications.

[2022-04-27 08:51] mlampros commented on #4342
The shiny application allows the user to create a global grid (or a grid based on an Area of Interest). The [select_aoi_global_grid](https://mlampros.github.io/IceSat2R/reference/select_aoi_global_grid.html) R6 class includes details in the example section how an IceSat2R user can take advantage of this shiny application to create either a 1- or 5-degree grid to perform the OpenAltimetry API queri

[2022-04-27 10:04] danielskatz commented on #4314
@editorialbot assign @danasolav as editor

Thanks @danasolav  - for the future, if you are willing to edit, you can use the command above to assign yourself the submission too

[2022-04-27 10:07] danielskatz commented on #4284
@agranholm - yes, why don't you make that change, then @arfon will be able to regenerate and redeposit the paper (or maybe I will be able to do this)

[2022-04-27 10:10] mikldk commented on #4183
@editorialbot set JOSS-draft as branch

[2022-04-27 10:10] mikldk commented on #4183
@editorialbot check references

[2022-04-27 10:12] editorialbot opened #4350 "[PRE REVIEW]: NO-DOUBT: A Decision Support Web Platform based on AHP"
**Submitting author:** @gdede-hua (<a href="http://orcid.org/0000-0003-2947-7470">Georgia Dede</a>)
**Repository:** https://github.com/gdede-hua/Decision_Survey_Platform
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewers:** @gcattan, @rreinecke
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/ac725e3692a24b

[2022-04-27 10:12] editorialbot opened #4351 "[PRE REVIEW]: elwaspatid: A Python package to compute space-time diagrams for the propagation of elastic waves in 1D rods"
**Submitting author:** @dbrizard (<a href="http://orcid.org/0000-0003-2264-7131">Denis Brizard</a>)
**Repository:** https://github.com/dbrizard/elwaspatid
**Branch with paper.md** (empty if default branch):
**Version:** 2.0.1
**Editor:** @diehlpk
**Reviewers:** @obsmax, @erasmuss
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/0ed2bb9a2a6089cdb974876970ef3778/

[2022-04-27 10:12] editorialbot opened #4352 "[PRE REVIEW]: CiteLang: Modeling the Research Software Ecosystem"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** https://github.com/vsoch/citelang
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.27
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/3e3f4e819e6f9400ba204dbae4b9c3d5/status.svg)](https

[2022-04-27 10:13] editorialbot opened #4353 "[PRE REVIEW]: DAMMmodel: A Julia package to model respiration"
**Submitting author:** @AlexisRenchon (<a href="http://orcid.org/0000-0002-9521-5092">Alexandre Renchon</a>)
**Repository:** https://github.com/CUPofTEAproject/DAMMmodel.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.15
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/5cf9b0170d212d2ae0e8e24a3

[2022-04-27 10:15] danielskatz commented on #4325
👋 @apalarcon - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  It also appears to need a lot of work in packaging to make it reusable software. Please see https://joss.readthedocs.io

[2022-04-27 10:15] danielskatz commented on #4325
@editorialbot reject

[2022-04-27 10:15] #4325 closed

[2022-04-27 10:15] AKuederle commented on #4338
@finsberg Thank you very much for your review and your kind words!

[2022-04-27 10:17] danielskatz commented on #4318
@csadorf - thanks.  I'll add you, but we won't start the review until we get two reviewers. @Athene-ai also volunteered for some other submissions, and we prefer to start new reviewers off with just one review initially, so they are not available for this submission at this time.

[2022-04-27 10:17] danielskatz commented on #4318
@editorialbot add @csadorf as reviewer

[2022-04-27 10:17] danielskatz commented on #4318
@editorialbot remove @Athene-ai as reviewer

[2022-04-27 10:18] Jean-Romain commented on #4342
I don't know if I'm supposed to answer every single argument. I won't but I think I can clarify some points. Actually I know why  you did what you did (CRAN policy, package size, check failures and so on) but I've been ask to say if yes/no the package fulfills a list of requirements. I looked into the packages and I answered factually if the answer is yes or no.

- I've been ask if the software co

[2022-04-27 10:18] danielskatz commented on #4318
@matthewfeickert - @itepifanio provided some information [above](https://github.com/openjournals/joss-reviews/issues/4318#issuecomment-1109745642) - is this sufficient for you to agree to review?

[2022-04-27 10:21] Athene-ai commented on #4318
Dear @danielskatz I am perfectly able to manage several open reviews at the same time .. so I can perfectly do this one

[2022-04-27 10:22] danielskatz commented on #4350
👋 @gdede-hua - note that when you want to use multiple citations in one place in your paper, you should use `[@ref1; @ref2]` rather than `[@ref1][@ref2]`. You could fix these in your source, then use the command `@editorialbot generate pdf` to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-04-27 10:24] danielskatz commented on #4350
@fabian-s - Would you be willing to edit this submission? It might be a bit outside your typical area

[2022-04-27 10:24] danielskatz commented on #4350
@editorialbot invite @fabian-s as editor

[2022-04-27 10:27] danielskatz commented on #4351
@dbrizard - can you explain what types of researchers would use this software, and what types of applications they would use it for?

[2022-04-27 10:33] danielskatz commented on #4353
@editorialbot check references

[2022-04-27 10:35] danielskatz commented on #4353
👋 @AlexisRenchon - note that your paper does not compile (initial because of an invalid ORCID for an author - if an author doesn't have an ORCID, remove the line that says they do). Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). Please feel free to make changes, then use the command `@editorialbot generate pdf` to make a new

[2022-04-27 10:35] danielskatz commented on #4353
In addition, due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-04-27 10:35] danielskatz commented on #4353
@editorialbot query scope

[2022-04-27 10:40] danielskatz commented on #4318
@Athene-ai - As a JOSS policy, as I wrote above:

Once your initial review is complete, we can assign you more

[2022-04-27 10:43] Athene-ai commented on #4318
Oh I see :-) So I can not wait to start and complete my initial review  in order to contribute to review more

[2022-04-27 10:58] danasolav commented on #4314
@apoorvar, @chrisdembia, @CVHammond, @moorepants, @modenaxe, @jonmatthis, @lambdaloop,
Would you be interested in reviewing this work on 3D markerless kinematic analysis of human movement ([resository](https://gitlab.inria.fr/perfanalytics/pose2sim) and [short paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04314/joss.04314/10.21105.joss.04314.pdf)), for the [Journal of Open

[2022-04-27 11:08] dbrizard commented on #4351
@danielskatz I think this would be useful to researchers in mechanical engineering:
- to simulate mechanisms in which we have contact/impact between translational parts;
- mechanisms which involve hammers (eg pile driving).

This would also be useful to researchers working, as I do, on Split Hopkinson Pressure Bars:
- to understand the wave propagation in the bars;
- to design a striker geometry i

[2022-04-27 11:09] dbrizard commented on #4351
@editorialbot commands

[2022-04-27 11:24] jonmatthis commented on #4314
Happy to!

[2022-04-27 11:32] agranholm commented on #4284
@danielskatz Done! Let me know if anything else is needed from our side.

[2022-04-27 11:39] gdede-hua commented on #4350
@editorialbot generate pdf

[2022-04-27 11:44] lucydot commented on #4298
Hi @dilawar thank you for completing your review so quickly and thoroughly. Can I ask if you were able to run through all of the three examples in the [DMT documentation](https://dmt-development.gitlab.io/dmt-core/examples/index.html) (and so also install of the required dependencies on your system)?

[2022-04-27 11:46] lucydot commented on #3742
@editorialbot commands

[2022-04-27 11:46] erling6232 commented on #4133
@editorialbot generate pdf

[2022-04-27 11:47] lucydot commented on #3742
@editorialbot check references

[2022-04-27 11:56] danielskatz commented on #4351
Thanks @dbrizard - I'll go ahead and try to find an editor next.  You might also want to put some of what you wrote here in the paper to make the need/use cases more clear to readers.

[2022-04-27 11:59] danielskatz commented on #4351
👋 @danasolav - would you also be willing to edit this submission, in addition to the other you just agreed to edit?

[2022-04-27 11:59] danielskatz commented on #4351
@editorialbot invite @danasolav as editor

[2022-04-27 12:08] mlampros commented on #4342
I don't try to find excuses regarding the for-loops that I use. This is the way I write R code when I believe the code snippets that I use might give errors. The fact that I use for-loops in specific places in the vignettes and in the example sections is because I observed (in the past months) that in some cases, the calls to the OpenAltimetry API might not return the results instantly. This might

[2022-04-27 12:16] dbrizard commented on #4351
# From Mechanical engineering field
Here are the potential reviewers I identified from the given list (from bottom to top of the list):
1. CWillberg
2. dankusanovic
3. mrbuche
4. SaumikDana
5. helgee
6. felipefr
7. kylebeggs
8. vsangelidakis
9. iammix
10. KParas
11. bhajay
12. bleyerj
13. smiths
14. e-dub
15. thelfer
16. corentin-dev
17. shibabrat
18. p-snft

I am less sure about the following rev

[2022-04-27 12:22] ibayer commented on #4318
@matthewfeickert

Thanks for bringing this up. In addition to @itepifanio comment above I want to mention that we have been following a Private Development, Public Releases workflow[0].
I guess this makes an effort estimate based on number of commits difficult. Please find below a screenshot from our private development branch. I hope the number of commits are more in line with your expectations.

[2022-04-27 12:24] danasolav commented on #4351
@danielskatz sorry, I'm too busy to take another one at the moment.

[2022-04-27 12:29] danielskatz commented on #4351
👋 @diehlpk - would you be able to edit this submission? (note that there are lots of suggestions for reviewers already, so this part should be fairly straightforward)

[2022-04-27 12:49] diehlpk commented on #4351
@editorialbot assign @diehlpk as editor

[2022-04-27 12:49] diehlpk commented on #4351
@danielskatz Sure.

[2022-04-27 12:59] wouterpeere commented on #4297
@crvernon Any more updates?

[2022-04-27 13:10] danielskatz commented on #4284
@editorialbot re-accept

[2022-04-27 13:12] kristina-o commented on #4261
Thank you @noah80 for reviewing our submission and @timtroendle for forwarding the question. My contributions to CESAR-P (and also the predecessor CESAR) include the original idea for the tool, contributing to the development of the approach, and supervision of further developments. The current version of CESAR-P was coded by our software engineer Leonie Fierz, she is listed together with me as th

[2022-04-27 13:28] quintshekhar commented on #4339
@editorialbot query scope

[2022-04-27 14:42] raivivek commented on #4242
Hi @Cristianetaniguti Apologies for delay on my end -- I was able to pull in the latest version and revise my comments. Will try to complete everything by this weekend. Cheers!

[2022-04-27 14:55] dilawar commented on #4298
Leaving a note here: https://github.com/snmishra/xyce-docker/blob/master/Dockerfile shows how to install Xyce on Ubuntu-20.04. Its pretty painful!

[2022-04-27 14:57] fwiebe commented on #3884
Hi @gkthiruvathukal ,
- we created a tagged release of the software (tag: v1.0.0) (https://github.com/dfki-ric-underactuated-lab/torque_limited_simple_pendulum/releases/tag/v1.0.0)
- The software is archived on Zenodo (https://zenodo.org/record/6498036), The Zenodo DOI is: 10.5281/zenodo.6498036

[2022-04-27 15:26] tdoane commented on #4282
@editorialbot @kbarnhart, I thought I had uploaded my comments on Saturday! will do that now!

[2022-04-27 15:37] tdoane commented on #4282
Hi @szwiep, @smchartrand, and @kbarnhart,

Here's my relatively minor comments. I have not used GitHub much in a collaborative way, so please let me know if I should post these differently!

This is an impressive piece of work that will provide a useful tool for teaching and research related to stochastic sediment transport. We can so simply state that sediment transport is the result of distribut

[2022-04-27 16:03] Datseris commented on #4207
@zhenwu0728 Thanks for your reply! @elbeejay I recommend publication as is!

[2022-04-27 16:07] matthewfeickert commented on #4318
@itepifanio @ibayer Thanks for clarifying. I didn't understand from the Issue or from the docs that this is actually a project from a company that is being made incrementally open. While different then most projects submitted, there's nothing wrong with this approach. :+1:

That's fine for your team, but it appears it isn't "tutorial-first" but rather "tutorial-only". As it stands, your project ha

[2022-04-27 16:15] zhiiiyang commented on #4332
I'd like to help review this paper too.

[2022-04-27 16:21] arfon commented on #4284
@editorialbot reaccept

[2022-04-27 16:21] ibayer commented on #4318
@matthewfeickert

I understand your concern. ipyannotator is build using https://nbdev.fast.ai/ which is somewhat popular (3.2k stars) and is also being used to build the popular https://github.com/fastai/fastai library (22k stars). As is, nbdev is a bit special *literate programming style* and doesn't produce the typical sphinx type API docs. To be clear, I'm not opposing your view. I'm just tryi

[2022-04-27 16:24] jbytecode commented on #4332
@editorialbot add @zhiiiyang as reviewer

[2022-04-27 16:24] lambdaloop commented on #4314
Sure, I can review it as well. Please let me know where to write the review.

[2022-04-27 16:24] diehlpk commented on #4271
@editorialbot assign @GuillaumeDerva as reviewer

[2022-04-27 16:24] diehlpk commented on #4271
@editorialbot commands

[2022-04-27 16:25] diehlpk commented on #4271
@editorialbot add @GuillaumeDerva as reviewer

[2022-04-27 16:26] jbytecode commented on #4332
@Athene-ai , @zhiiiyang -  Now I am starting the review process. A new thread (issue) will be created. Please follow the instructions in the newly opened issue. Thank you all.

[2022-04-27 16:26] jbytecode commented on #4332
@editorialbot start review

[2022-04-27 16:26] editorialbot opened #4354 "[REVIEW]: mixComp: An R package for estimating complexity of a mixture"
**Submitting author:** @yuliadm (<a href="http://orcid.org/0000-0002-9066-7129">Yulia</a>)
**Repository:** https://github.com/yuliadm/mixComp
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.3
**Editor:** @jbytecode
**Reviewers:** @Athene-ai, @zhiiiyang
**Archive:** 10.5281/zenodo.6660840

## Status

[![status](https://joss.theoj.org/papers/cfa75cededd35ccadce21d2048a68617/sta

[2022-04-27 16:26] #4332 closed

[2022-04-27 16:27] jbytecode commented on #4354
@Athene-ai, please create your checklist typing: `@editorialbot generate my checklist`

@zhiiiyang, please create your checklist typing: `@editorialbot generate my checklist`

[2022-04-27 16:53] jbytecode commented on #4354
Dear @Athene-ai and @zhiiiyang

Thank you for accepting our invitation. You have just created your checklist. Please follow the instruction at the top of this page. Whenever you finish a review task, you can check the corresponding item on.

You can always interact with the other reviewers, the author(s), and the editor (me). You can also create issues in the target repository but please mention t

[2022-04-27 17:04] danielskatz commented on #4284
Thanks @arfon!
👋 @agranholm - everything looks good now

[2022-04-27 17:04] #4284 closed

[2022-04-27 17:41] itepifanio commented on #4318
@matthewfeickert we could provide an "API" page reference like the [adaptr](https://inceptdk.github.io/adaptr/reference/index.html) (one of the [latest papers accepted](https://joss.theoj.org/papers/10.21105/joss.04284)).

Our API doesn't change much, so a manual reference could be an option.

[2022-04-27 17:49] GuillaumeDerval commented on #4271
@diehlpk : It is @GuillaumeDerval and not @GuillaumeDerva (missing `l`)

[2022-04-27 17:54] yuliadm commented on #4332
@jbytecode , thanks a lot for managing the review! @zhiiiyang , @Athene-ai  thank you for agreeing to review the package!

[2022-04-27 18:05] diehlpk commented on #4271
@editorialbot add @GuillaumeDerval as reviewer

[2022-04-27 18:05] diehlpk commented on #4271
@editorialbot remove @GuillaumeDerva as reviewer

[2022-04-27 18:06] diehlpk commented on #4271
Thanks, I fixed it.

[2022-04-27 18:25] AlexisRenchon commented on #4353
@danielskatz sorry about the missing ORCID!
@BernhardAhrens Can you make a PR to add your ORCID to https://github.com/CUPofTEAproject/DAMMmodel.jl/blob/master/paper.md

[2022-04-27 18:32] jasondegraw commented on #4261
@timtroendle I'm working my way through the checklist, currently working on the "Functionality" and "Documentation" sections. I plan on finishing the review this week.

[2022-04-27 18:35] jasondegraw commented on #4297
@crvernon Yes, I can review this submission.

[2022-04-27 18:37] AlexisRenchon commented on #4353
@danielskatz The ORCID has been added.

[2022-04-27 18:39] Kevin-Mattheus-Moerman commented on #3390
@editorialbot generate pdf

[2022-04-27 18:45] danielskatz commented on #4353
@AlexisRenchon - please now continue down the path laid out in https://github.com/openjournals/joss-reviews/issues/4353#issuecomment-1110844164

[2022-04-27 18:54] harveyaa commented on #4321
Hi,

I made a couple changes to the `joss_submission` branch to fix an import error a colleague caught - hopefully this doesn't confuse the review process too much - should I update pypi with the change or leave it in github for now?

Thank you,

Annabelle

[2022-04-27 19:43] AlexisRenchon commented on #4353
@editorialbot generate pdf

[2022-04-27 19:49] editorialbot opened #4355 "[PRE REVIEW]: NiaARM: A minimalistic framework for Numerical Association Rule Mining"
**Submitting author:** @zStupan (<a href="http://orcid.org/0000-0001-9847-7306">Žiga Stupan</a>)
**Repository:** https://github.com/firefly-cpp/NiaARM
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.6
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/c463434452b371917a2a169dbddecf32/status.svg)](htt

[2022-04-27 19:49] editorialbot opened #4356 "[PRE REVIEW]: smol: A Python package for cluster expansions and beyond"
**Submitting author:** @lbluque (<a href="http://orcid.org/0000-0002-6453-9545">Luis Barroso-Luque</a>)
**Repository:** https://github.com/CederGroupHub/smol
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.0.1
**Editor:** @jarvist
**Reviewers:** @KitMccoll, @TomTranter
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/e96a568ca53ee9d145

[2022-04-27 19:49] editorialbot opened #4357 "[PRE REVIEW]: FULMAR: Follow-Up Lightcurves Multitool Assisting Radial velocities"
**Submitting author:** @astrojose9 (<a href="http://orcid.org/0000-0001-5164-3602">José Rodrigues</a>)
**Repository:** https://github.com/astrojose9/fulmar
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.8
**Editor:** @christinahedges
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/28c6298bd19cf763fe175f5df72cb600/s

[2022-04-27 19:53] danielskatz commented on #4355
👋 @zStupan - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-04-27 19:53] danielskatz commented on #4355
@editorialbot query scope

[2022-04-27 19:56] danielskatz commented on #4356
@editorialbot set main as branch

[2022-04-27 19:56] danielskatz commented on #4356
@editorialbot check repository

[2022-04-27 20:03] danielskatz commented on #4356
@editorialbot set paper as branch

[2022-04-27 20:04] danielskatz commented on #4356
👋 @jgostick - Are you able to edit this submission?

[2022-04-27 20:04] danielskatz commented on #4356
@whedon invite @jgostick as editor

[2022-04-27 20:05] danielskatz commented on #4356
@editorialbot invite @jgostick as editor

[2022-04-27 20:09] danielskatz commented on #4357
👋 @christinahedges - are you willing to edit this submission?

[2022-04-27 20:09] danielskatz commented on #4357
@editorialbot invite @christinahedges as editor

[2022-04-27 20:25] jgostick commented on #4356
Hi @danielskatz, after a few bad review experiences earlier this year I swore I would avoid doing these "molecular dynamics" related packages. I just don't know enough about them to properly mediate disputes.  This package looks in great shape, but is also by its own admission "lightweight", meant for "method development", and under "substantial development".  All these things make me think this m

[2022-04-27 20:36] miesli commented on #4298
Thank you, @dilawar, for the positive review, although the installation was not easy.

The suggestions you added are again very helpful, and we may use some of them in one or the other way.

Supporting the different platforms is not easy with such a high level project, which depends on so many other programs. Hopefully, there will be people interested enough in the project to install it with us an

[2022-04-27 20:37] jgostick commented on #4319
I could potentially review this one.  Not done PV imaging before, but lots of other 3D imaging stuff.  I'll wait for your ok before assigning myself, since you've already asked a few others.

[2022-04-27 21:10] emdupre commented on #4098
Great, thank you ! Only the `@baltieri2019pid` citation is currently included in the paper.md, so I wanted to confirm their relationship. I think, though, that having an uncited reference in the .bib file is not against JOSS policy, so we can move forward as-is.

I'm now happy to recommend pymdp to the EIC team for publication, and I just want to add my congratulations to you on such an impressive

[2022-04-27 21:11] emdupre commented on #4098
@editorialbot recommend-accept

[2022-04-27 21:17] conorheins commented on #4098
Hi @emdupre,

Awesome, thank you! This is great news.

Before the paper is published, would now be a good time for me to just pass it around the co-authors to make sure everyone's name / affiliations are listed properly? Or is there an equivalent of a 'final proofs' stage coming later, at which small edits like that would be appropriate?

Thanks,
Conor

[2022-04-27 21:19] emdupre commented on #4098
Please pass it around now ! This is effectively the "final proofs" stage, so we can still incorporate these corrections as well as any others that the EiCs suggest.

Please let us know when this is confirmed on your side !

[2022-04-27 21:20] conorheins commented on #4098
Ok sounds good, will do!

[2022-04-27 21:44] lbluque commented on #4356
Thanks for getting the pre-review started @danielskatz

Here are some potential reviewers starting from bottom of the list:

Quantumstud
tomtranter
MarDiehl
kevinlu1248
wcwitt
rosecers
janash
felipeZ
georgiastuart
raghurama123

[2022-04-27 21:53] kmongird commented on #4336
@fraukewiese and @wiljnich, the documentation has been updated to include an explainer of the test suite which be found here: https://pnnl.github.io/interflow/api_docs.html#test-validation-suite

[2022-04-27 22:23] christinahedges commented on #4357
@editorialbot assign me as editor

[2022-04-27 22:28] andrecieplinski commented on #4329
Hi @rogersamso, I finally managed to use pysd and run some simple models. However, I am having some trouble converting a more complex model. I am not sure if I am trying to upload a model with features not supported in pysd or doing something wrong.
Also I a not sure if this is where I should ask this, sorry, still trying to figure out Github.

I get the following message:
"model = pysd.read_vensi

[2022-04-27 22:52] enekomartinmartinez commented on #4329
Hi Andre,

The error is because of a missing feature. As the parser stops with a list
of subscript ranges I suposse that this will be part of an :EXCEPT:
declaration. If this is the case, this bug is already fixed in a branch and
will be solved in a future release. Please, could you share the full
equation where the string  '[mining],[petroleum' appears?

Thank you,
Eneko

Andre Cieplinski ***@***

[2022-04-27 23:31] ebezzam commented on #4259
Hi @danasolav thank you for agreeing to be handling editor. I've looked over the list and found the following people to be suitable, given their interest and experience with hardware / embedded systems:
- phckopper
- julianstirling
- ixjlyons
- aquilesC

We were wondering if people outside the list could be asked to review? For example, the authors of the [DiffuserCam tutorial](https://github.com/

[2022-04-28 00:42] danielskatz commented on #4319
@jgostick - did you mean edit? If so, please go ahead and assign it to yourself, and remove the waitlisted label

[2022-04-28 00:45] jgostick commented on #4319
Oops, yes I meant edit.  Ok, I'll take this one.

[2022-04-28 00:45] jgostick commented on #4319
@editorialbot commands

[2022-04-28 00:45] jgostick commented on #4319
@editorialbot assign @jgostick as editor

[2022-04-28 01:22] emdupre commented on #4098
When you're updating affiliations, @conorheins, can you please also:

 - [ ] Remove the uncited `baltieri2019generative` reference from the .bib file
 - [ ] Update the `baouimy2021towards` reference to the paywalled version, doi: 10.1007/978-3-030-93736-2_48

I received additional guidance that we will need the the version-of-record in the JOSS publication.

[2022-04-28 01:53] modenaxe commented on #4314
Hello, the project looks super cool, but I cannot review it at the moment. I hope two reviewers are enough, otherwise I can suggest some additional ones.

[2022-04-28 01:53] stsievert commented on #4271
@diehlpk I wish I could. However, I'll unfortunately have to decline.

[2022-04-28 01:54] jgostick commented on #4319
@editorialbot start review

[2022-04-28 03:33] smchartrand commented on #4282
Thanks very much @tdoane for your supportive and helpful suggestions. We would also like to thank you and @pfeiffea for completing your reviews on a timely manner and during a very busy time of the year. We cannot thank you both enough.

[2022-04-28 04:07] ixjlyons commented on #4232
My review:

----

SimpleFOC is a library offering a modular approach to implementing field oriented control with various hardware components. I'm currently not able to directly verify functionality of the library, but I've been able to successfully compile several examples and have reviewed portions of the code. The code itself, along with the very well-done documentation, appear to be a great res

[2022-04-28 04:43] jedbrown commented on #4324
@editorialbot set @jedbrown as editor

[2022-04-28 05:05] rogersamso commented on #4329
Dear @andrecieplinski thanks for contacting. As @enekomartinmartinez mentions, this new feature will be added in the upcoming release 3.0 of pysd. Please let's not continue this discussion here. Either open a new issue in the pysd repo, or drop as an email. Thanks again.

[2022-04-28 05:10] jedbrown commented on #4324
Hi, @asitha-sena, thanks for your submission. In a first read, I notice a missing image [here](https://gitlab.com/ags-data-format-wg/ags-python-library#graphical-user-interface-using-pandasgui) and `pytest -v -s` have `  WARNING: DICT table not found in input file.` and
[code]
as well as this error
[code]
This runs after installing `toml`, which is in `pyproject.toml`, but the main docs should say

[2022-04-28 05:17] rogersamso commented on #4329
Dear @pdebuyl and @andrecieplinski , I just realized @andrecieplinski was assigned as reviewer for the paper. I see a potential conflict of interest, as @andrecieplinski is collaborating in the same research project than us (h2020 LOCOMOTION). please let us know if this may cause problems.
Regards

[2022-04-28 06:13] fabian-s commented on #4350
Sure, I will.

[2022-04-28 06:41] matthewfeickert commented on #4318
Yup. I fully appreciate that and I in no way view your team as lazy as I'm quite familiar with both literate programming and nbdev. `fast.ai` is great and Jeremy Howard is very skilled at API design &mdash; I use `ghapi` regularly, which I'll note [does have API reference docs](https://ghapi.fast.ai/core.html).

Please don't. That's a bad option for everyone &mdash; it creates busy work for you an

[2022-04-28 08:00] danasolav commented on #4314
@modenaxe, two reviewers are generally enough, but it would be great to have also someone from the OpenSim side, as both reviewers seem to come from the mocap/pose estimation side. So if you know any OpenSim developer/pro user who you think may be interested to review this, please let us know.

[2022-04-28 08:01] danasolav commented on #4314
@editorialbot add @lambdaloop as reviewer

[2022-04-28 08:02] danasolav commented on #4314
@editorialbot add @jonmatthis as reviewer

[2022-04-28 08:04] danasolav commented on #4314
@lambdaloop, the review process takes place on a github issue that will open soon. In the meantime, you can take a look at the [review checklist](https://joss.readthedocs.io/en/latest/review_checklist.html) that you'll have to complete.

[2022-04-28 08:09] danasolav commented on #4259
@ebezzam you can definitely suggest reviewers who are not on the list. If you have additional suggestions, please list them here.

[2022-04-28 08:15] danasolav commented on #4259
@antipa, would you be interested in reviewing this work on Lensless Computational Imaging with a Raspberry Pi ([resository](https://github.com/LCAV/LenslessPiCam) and [short paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04259/joss.04259/10.21105.joss.04259.pdf)), for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org/)?

In case you are not familiar with J

[2022-04-28 08:23] danasolav commented on #4259
@ixjlyons, @julianstirling, @aquilesC, would you be interested in reviewing this work on Lensless Computational Imaging with a Raspberry Pi ([resository](https://github.com/LCAV/LenslessPiCam) and [short paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04259/joss.04259/10.21105.joss.04259.pdf)), for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org/)?

In ca

[2022-04-28 08:24] utf commented on #4309
I can also review simmate.

[2022-04-28 08:57] bmorris3 commented on #4302
@xuanxu I've completed my review, this submission looks fantastic. Excellent work, @gully et al.!

[2022-04-28 08:58] xuanxu commented on #4302
@bmorris3 great, thanks!

[2022-04-28 09:46] valentineap commented on #4217
@hemmelig @hfmark @leouieda Many thanks again for all your comments above. Apologies for being slow to respond. Hopefully I will have a bit more time in the next couple of weeks to make some progress on this.

As you will see I have created a number of issues that I hope capture the salient points of your reviews. Please let me know if you think I have missed something (or just create additional i

[2022-04-28 09:50] konstantinstadler commented on #4212
The presented software consists of two modules: one for adjusting prices for inflation (aka "CPI module"), the other for access to the Socio-Economic Index Data for Victoria (aka "SEIFA module").

Principally, I see the need for the two modules, but I am not certain they fit into the same package.

The CPI module provides data for the whole of Australia which might be useful for various reasons (a

[2022-04-28 09:50] konstantinstadler commented on #4212
One additional point on the article:

I think the text overpromises a bit, or perhaps there are further developments planned.

In the readme and the article you write

"
The Australian Bureau of Statistics (ABS) publishes a variety of indexes for the Australian economic environment.
These include the Consumer Price Index (CPI) used for calculating inflation and a variety of indexes designed to mea

[2022-04-28 09:51] konstantinstadler commented on #4212
Some more specific issues are given in the issue tracker of the package

[2022-04-28 09:52] konstantinstadler commented on #4212
In summary, I see the need for this package and very much welcome automatic access to national statistics - many thanks for that! I do not see any major issues and hope that can be published

[2022-04-28 09:57] dominiquesydow commented on #4200
Hi @wojdyr, thanks for your updates! This completes my review and I recommend this work to be accepted.

[2022-04-28 10:25] danielskatz commented on #4324
@editorialbot assign @jedbrown as editor

[2022-04-28 10:26] danielskatz commented on #4350
@editorialbot assign @fabian-s as editor

Thanks!

[2022-04-28 10:41] oliviaguest commented on #4114
@editorialbot generate pdf

[2022-04-28 10:41] oliviaguest commented on #4114
@whedon generate pdf

[2022-04-28 10:42] oliviaguest commented on #4114
@editorialbot generate pdf

[2022-04-28 11:14] dilawar commented on #4298
Hi @lucydot. Not all of them. 2 of them passed but 2 didn't due to dependencies misbehaving. I have unchecked an item from the list that deals with examples. I am going to open a couple of issues on the repo regarding this and wait till those are resolved.

[2022-04-28 11:24] editorialbot opened #4358 "[PRE REVIEW]: Generative DAGs as an Interface Into Probabilistic Programming with the R Package causact"
**Submitting author:** @flyaflya (<a href="http://orcid.org/0000-0003-2871-4788">Adam Fleischhacker</a>)
**Repository:** https://github.com/flyaflya/causact/
**Branch with paper.md** (empty if default branch):
**Version:** v0.4.1
**Editor:** @terrytangyuan
**Reviewers:** @joethorley, @ChristopherLucas
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/1e1eb421160

[2022-04-28 11:25] danielskatz commented on #4356
👋 @jarvist - Can you edit this submission?

[2022-04-28 11:25] danielskatz commented on #4356
@editorialbot invite @jarvist as editor

[2022-04-28 11:29] danielskatz commented on #4358
👋 @galessiorob - Can you edit this submission as well?

[2022-04-28 11:29] danielskatz commented on #4358
@editorialbot invite @galessiorob as editor

[2022-04-28 11:56] jarvist commented on #4356
Definitely in my area of expertise, so yes - can do!

[2022-04-28 11:57] jarvist commented on #4356
@editorialbot assign @jarvist as editor

[2022-04-28 11:59] jarvist commented on #4356
Hi @TomTranter - could you review this Cluster Expansion package based in the pymatgen project? It seems to have a pretty good overlap with your public repositories.

[2022-04-28 12:33] NRaillard commented on #4288
@marcosvital are you willing to find another reviewer ? Do you want other name from the list ?

[2022-04-28 12:45] elbeejay commented on #4207
Fantastic, thanks @BrodiePearson and @Datseris for taking a look at the revisions. @Datseris if you don't mind checking off the remaining boxes in your reviewer checklist just for the sake of completeness that'd be appreciated.

@zhenwu0728 I'll have a closer look at everything later today or tomorrow to hopefully catch any remaining typos and the like, then I'll give you a list of the final steps

[2022-04-28 12:51] jamesrhester commented on #4200
My review is also complete.

[2022-04-28 13:03] editorialbot opened #4359 "[PRE REVIEW]: islatu: A Python package for the reduction of reflectometry data"
**Submitting author:** @RBrearton (<a href="http://orcid.org/0000-0002-8204-3674">Richard Brearton</a>)
**Repository:** https://github.com/RBrearton/islatu
**Branch with paper.md** (empty if default branch): islatu_paper
**Version:** v1.0.0
**Editor:** @jgostick
**Reviewers:** @andyfaff
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/faf72abfe010ef11ae4b56bdd7

[2022-04-28 13:05] danielskatz commented on #4359
@editorialbot set islatu_paper as branch

[2022-04-28 13:05] mgiardino commented on #4305
Hi @vipinagrawal25 , I've created the issue https://github.com/vipinagrawal25/MeMC/issues/1 to suggest some minor corrections to your README.md file.
Regards,

Marco

[2022-04-28 13:09] danielskatz commented on #4359
👋 @jgostick - would you be willing to edit this submission?

[2022-04-28 13:09] danielskatz commented on #4359
@editorialbot invite @jgostick as editor

[2022-04-28 14:21] ctb commented on #3790
apologies - will get this in by Monday.

[2022-04-28 14:46] bauer-alex commented on #4056
@Nikoleta-v3 Are we ready for publication, or is something else missing from your side?

[2022-04-28 15:41] MarDiehl commented on #4356
I'm familiar with Python but the methods differ a lot from what I'm doing. I think I can still provide helpful feedback, but considering also that it is my first review for JOSS I would appreciate if someone else takes the lead while I get the chance to get to know the process.

[2022-04-28 15:49] wence- commented on #3982
First off, many apologies to both the authors and JOSS for taking such a long time to review here. I had already taken a long time, but a break between jobs where I thought I would get this done needed to be more handsoff than I had anticipated. So I am only now getting round to cleaning the slate.

That said, here are my comments on this paper/submission.

From a software/documentation point of v

[2022-04-28 16:05] pibion commented on #3665
@zhanghe9704 apologies for the delayed response - it's been a busy week.  The current update is: still trying to find reviewers.  I'm starting to think I need to visit a few places and lurk in the hallways.

I'll say a little more about the issues I'm running into in case you have any thoughts.  A few people have expressed interest, but don't feel like they're expert enough in this particular area

[2022-04-28 17:15] Cristianetaniguti commented on #4242
Hello @raivivek . No worries. I kept changing things these past few days, mostly about the tests. Then, I think you will not need to revise your comments again. I also just submitted answers to @jkanche review. Thanks!

[2022-04-28 18:11] gully commented on #4302
Thank you all for the reviewing and editing process.  We would like to add a coauthor who contributed code during the JOSS review process.  I have made the coauthor addition on the `paper.md` in the main branch of the repo.

Thank you all again 🙏

[2022-04-28 18:27] marcosvital commented on #4288
Thank you, @krober10nd and @platipodium. I'll let you know once the reviewing process starts.

@NRaillard yes, ideally we need a third reviewer. I'll search for a new one, but you can feel free to suggest.

[2022-04-28 18:33] marcosvital commented on #4288
Dear @malmans2, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review, pl

[2022-04-28 18:45] wtgee commented on #4302
Thanks for addressing my issues @gully. I'll try to finish up my review today.

[2022-04-28 19:07] wiljnich commented on #4336
@kmongird thank you for making this update! @fraukewiese, I am pleased. All elements of my review have been satisfied.

[2022-04-28 19:53] gabrielelubatti commented on #4265
@editorialbot generate pdf

[2022-04-28 19:58] gabrielelubatti commented on #4265
Dear @BatoolMM , thanks for your feedbacks and comments!

Here are some point-by-point answers to your questions:

In terms of the paper:
1) Can you elaborate more about how this software compares to other commonly-used packages or pipelines, maybe such as MToolBox (it doesn't have to be R packages)?

The other packages that are currently available focus on the first step of the analysis, consisti

[2022-04-28 20:02] kellyrowland commented on #4200
@editorialbot generate pdf

[2022-04-28 20:02] wtgee commented on #4302
@gully I finished off the review and added a few minor issues as well as https://github.com/OttoStruve/muler/issues/108, which prevents me from running the notebooks from a clean install. If I manually fix that issue the two notebooks don't have any other issues.

I've checked off all the boxes for my review but that Issue above should get fixed before final approval. The other minor grammatical i

[2022-04-28 20:09] kellyrowland commented on #4200
@wojdyr I'm ready to recommend this for acceptance. Please create an archive of the tagged release you wish to have the paper associated with (I see we started at v0.5.1 but the software is up to v0.5.4) and archive it (on Zenodo, figshare, or elsewhere) and post the DOI here.

[2022-04-28 20:29] wojdyr commented on #4200
Thank you all!
I uploaded v0.5.1 here:
https://doi.org/10.6084/m9.figshare.19678776

[2022-04-28 21:14] kellyrowland commented on #4200
@editorialbot set 10.6084/m9.figshare.19678776 as archive

[2022-04-28 21:14] kellyrowland commented on #4200
@editorialbot recommend-accept

[2022-04-28 21:26] fasnicar commented on #4334
Thanks @jmschrei, I'll be happy to help. I hope I'll be able to provide a useful feedback!

[2022-04-28 21:42] jmschrei commented on #4334
@editorialbot add @fasnicar as reviewer

[2022-04-28 21:43] jmschrei commented on #4334
Great, thanks!

[2022-04-28 21:46] jmschrei commented on #4334
@afrubin would you be able to review this submission?

[2022-04-28 22:53] christinahedges commented on #4357
@editorialbot query scope

[2022-04-28 23:00] christinahedges commented on #4357
Hello @astrojose9, thank you for your submission to JOSS. I understand this submission will have taken you a lot of work, and I can see the care you have put in with docs and testing. However, I am adding the `query-scope` label to this submission, because I am concerned it is not in the scope of JOSS. The JOSS team will take a look and decide whether we will proceed with this submission. I have c

[2022-04-29 04:33] afrubin commented on #4334
@jmschrei Thanks for reaching out, but I'm not able to provide a timely review right now.

[2022-04-29 05:42] dilawar commented on #4298
Hi @miesli . Thanks for the script. My old laptop wets its pant while building Xyce. I managed to borrow a powerful machine from my neighbour and manage to build Xyce:7.4.0. I created a [docker image](https://hub.docker.com/r/dilawars/xyce) ([repo](https://github.com/dilawar/docker-xyce)) for reuse. I see that you are using version 7.3.0.

On top of this image, I created another image to build and

[2022-04-29 05:47] vsoch commented on #4352
@editorialbot commands

[2022-04-29 05:48] vsoch commented on #4352
@editorialbot check references

[2022-04-29 06:04] phoebe-p commented on #4298
@dilawar hmm, I was not using any kind of remote connection so I guess the source of the QT error is something else for me.

@lucydot as I said above I was also not able to run all the examples for issues that are not really due to DMT-core. It is not feasible for my install Xyce at the moment (the main laptop I am using at the moment is a Macbook, which was causing too many problems, and I have a

[2022-04-29 08:04] TomTranter commented on #4356
Hi @jarvist I am not familiar with pymatgen at all and don't really do atomistic modelling. I know python very well though and can follow the examples. Can you try others on the list first then come back to me if you're struggling. Thanks

[2022-04-29 09:16] Kevin-Mattheus-Moerman commented on #4157
@amartinhuertas thanks for your comment. Our apologies for the delays here. It has been very difficult across the board (since the COVID pandemic), for all JOSS submissions, to find reviewers and also to get them to commit to a timely review. We've been forced to be more flexible regarding time as a consequence. Having said that I think here it has been taking a bit long for them to respond so I h

[2022-04-29 11:59] corybrunson commented on #4228
@fabian-s my concerns have been addressed, pending re-generation of the PDF. Thank you, @alstat, for the detailed responses!

[2022-04-29 12:35] j3r3m1 commented on #4336
@editorialbot generate my checklist

[2022-04-29 12:46] jedbrown commented on #4157
I'm still here and will get to this soon. I've been buried in end-of-semester rush, a bunch of reporting deadlines, and sick kids. I'm very sorry about the delays.

[2022-04-29 13:05] elbeejay commented on #4207
@editorialbot generate pdf

[2022-04-29 13:19] rbturnbull commented on #4212
Thanks for raising the issues. Jon and I have discussed them and we will address them over the next few days.

[2022-04-29 13:28] rbturnbull commented on #4212
Thanks for your thoughts on this @konstantinstadler. We totally understand your point about the difference in scope between the two modules. We could think about splitting the packages like in one of your suggestions. In that scenario, we could imagine taking out the seifa stuff and making that its own package and leaving ausdex just to do the inflation calculation. Would it make sense then to ext

[2022-04-29 13:31] elbeejay commented on #4207
@zhenwu0728 and @gaelforget I have some minor suggestions for edits I think you should make to the paper.

- Remove the period from the title
- Either define both GPU and CPU when they are first introduced, or define neither. As currently written only GPU is defined
- Line 63: I believe the part of the sentence "both in Julia or other" should be "both in Julia *and* other" swapping "or" for "and"

[2022-04-29 13:45] fboehm commented on #4251
@JoranTiU and @DanielRivasMD - Thank you for continuing the reviews. If you're satisfied with the changes, please check off the corresponding boxes in the checklist. If you feel that more changes are needed, please specify them here. Thanks again!

[2022-04-29 14:00] mgiardino commented on #4305
Hi @fboehm, I've completed the installation steps and I'm now using my running instance to perform several test runs.
With visit I am visualizing the resulting vtks and also trying to analyze them. My comprehension of the involved science domain is very limited, anyway, so my considerations are mostly focused on sw engineering features. About the "Missing DOIs" from editioralbot, are we supposed t

[2022-04-29 14:05] sbenthall commented on #4331
Hello @PhilipPallmann -- you have been suggested as a reviewer for this submission to JOSS. Would you be willing to take on that role?

[2022-04-29 14:13] JoranTiU commented on #4251
Done! :)

[2022-04-29 14:33] zhenwu0728 commented on #4207
@editorialbot generate pdf

[2022-04-29 14:53] miesli commented on #4298
@phoebe-p the template for issues and merge-requests are a good idea. I dug into the stuff of gitlab regarding this and added some. I updated the repo [readme](https://gitlab.com/dmt-development/dmt-core/-/blob/paper_mario/README.md) to directly link to the corresponding templates. This hopefully lowers the bar for that. I also added a similar section to the welcome page in the documentation.

@di

[2022-04-29 14:55] NRaillard commented on #4331
Hello @sbenthall, I can do the review.

[2022-04-29 15:51] AlexanderJuestel commented on #3709
@crvernon any news from your side on the progress of the publication? :)

[2022-04-29 16:27] victorapm commented on #4305
@fboehm, it's going well. The comments above regarding installation helped me. Thanks, @mgiardino. Now, I'm looking at reproducing the results.

I have a question: is it necessary that all authors of the paper have at least one commit in the code repo?

Thanks!

[2022-04-29 16:39] asitha-sena commented on #4324
Hi @jedbrown,
Thanks for agreeing to review this paper and for your comments. Please see my responses below.

1. I updated the path to the missing image so that it renders correctly ([link](https://gitlab.com/ags-data-format-wg/ags-python-library/-/tree/joss_paper#graphical-user-interface-using-pandasgui)). For some reason Gitlab was not able to render the image from the original url even though i

[2022-04-29 16:50] jmschrei commented on #4334
No problem. Thanks for responding quickly.

[2022-04-29 16:52] jmschrei commented on #4334
@marouenbg would you be able to review this paper?

[2022-04-29 17:16] lilyminium commented on #4100
Great @pdebuyl, I've made a version 0.3.2 and put it on Zenodo here: https://zenodo.org/record/6501898 :)

[2022-04-29 17:56] PhilipPallmann commented on #4331
Hi @sbenthall, I'm happy to do the review.

[2022-04-29 18:44] kbarnhart commented on #4320
@WEgeophysics I have started my pre-review process and have a clarification question for you and co-authors.

Could you comment on how this submission is distinct from Kouadio and others (2022)? I'll note that [co-publication of science, methods, and software is explicitly permitted at JOSS](https://joss.readthedocs.io/en/latest/submitting.html#co-publication-of-science-methods-and-software). Howe

[2022-04-29 19:48] marouenbg commented on #4334
Hey @jmschrei , count me in!

[2022-04-29 19:55] jmschrei commented on #4334
@editorialbot add @marouenbg as reviewer

[2022-04-29 19:55] jmschrei commented on #4334
@editorialbot start review

[2022-04-29 19:55] editorialbot opened #4360 "[REVIEW]: sam2lca: Lowest Common Ancestor for SAM/BAM/CRAM alignment files"
**Submitting author:** @maxibor (<a href="http://orcid.org/0000-0001-9140-7559">Maxime Borry</a>)
**Repository:** https://github.com/maxibor/sam2lca
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0b
**Editor:** @jmschrei
**Reviewers:** @fasnicar, @marouenbg
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/158bde9df8847dce78cdbea9bed40978/status.svg)]

[2022-04-29 19:55] #4334 closed

[2022-04-29 20:02] jmschrei commented on #4360
Howdy @fasnicar and @marouenbg

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above in. Please run the command shown above to have @editorialbot generate your checklist, which will give a step-by-step process for conducting your review. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues i

[2022-04-29 20:46] jgostick commented on #4319
@editorialbot add @leahmendelson as reviewer

[2022-04-29 20:51] jgostick commented on #4319
Hi @ronshnapp, can I ask why [alexlib](https://github.com/alexlib) is not listed as an author on this submission?  I see they contributed ~600 lines of code and deleted ~20,000 lines.  This is small compared to your contributions, but is not nothing.

[2022-04-29 20:55] jgostick commented on #4319
@leahmendelson, the review will start once I find a second, so hold tight.  For now you can browse a [recently completed review](https://github.com/openjournals/joss-reviews/issues/4093) to get a sense of what you're in for

[2022-04-29 21:46] diehlpk commented on #4279
@editorialbot comamnds

[2022-04-29 21:47] diehlpk commented on #4279
@editorialbot commands

[2022-04-29 21:48] diehlpk commented on #4279
@editorialbot remind  @mr53563 in 2 weeks

[2022-04-29 21:48] diehlpk commented on #4279
@editorialbot remind  @abhishektha in 1 weeks

[2022-04-29 22:25] AP6YC commented on #3671
@adi3 I have archived the project at Zenodo. The release folding in all of the last changes has the following record, DOI, and version:
- Record: https://zenodo.org/record/6506781
- DOI: 10.5281/zenodo.6506781
- Version: v0.5.0

Does this work, or should I archive in another way?

[2022-04-29 22:50] apcamargo commented on #4334
I'm really sorry, I just saw the emails. Let me know if an extra reviewer is needed at some point

[2022-04-29 23:05] jmschrei commented on #4334
No problem! I'll let you know if we need an extra reviewer. Have a good weekend.

[2022-04-29 23:41] WEgeophysics commented on #4320
Indeed, we waited several months for the method implemented by the software in KOUADIO et al 2022 to be published or validated before intending to publish the entire software in JOSS.  In the 2022 publication, we had not described all the software in broad terms.  We just focused our effort on the "geodrill" module which implemented the prediction technique.  But beyond this technique, In the prev

[2022-04-29 23:54] WEgeophysics commented on #4320
When you read the published paper, you will see that we were focused on the log prediction only via the implementation of pseudostratigraphic technique. We also mentioned this aspect on the published paper. We did not describe alongside the other modules that compose the software entirely. We just broadly introduce them as the figure 1 on the published paper has shown. Here in Joss, we tried to ex

[2022-04-30 00:15] WEgeophysics commented on #4320
We finally thank it is better to rename the paper submitted in Joss to keep its original name " Python toolbox for controlled source audio-frequency magnetotelluric" to encompass all the aspects of the software not only the aspect described by Kouadio et al.2022.

[2022-04-30 03:10] dilawar commented on #4298
Thanks for adding me to repo. I'll use it as the last resort. I was also able to make some progress and at this point, I don't want this effort to go to waste. I'll try a few more days to get Xyce:7.4. I'd be nice to have a publicly available image.

Its worthwhile reporting my progress here. I think I am pretty close to getting DMT-core working with Xyce:7.4.

I looked into logs. The errors repor

[2022-04-30 03:21] zhenwu0728 commented on #4207
@elbeejay Thanks for these comments! I've incorporated them into the paper.
The version tag is v0.5.1.
The DOI of the archived version is 10.5281/zenodo.6507001.
Please let me know if you have any questions.

[2022-04-30 03:29] alstat commented on #4228
The invalid DOIs here are due to missing parentheses. So,
[code]
and,
[code]
The correct DOIs are the ones in the paper, not sure why the parentheses are omitted when checkin. For reference, here are the complete URLs for the two DOIs above:
[code]
Not sure how to resolve this.

[2022-04-30 03:45] pkerpedjiev commented on #3916
Sorry, delayed response but is there a way to reject the submission?

I'm still not entirely sure what to review. The README is cluttered and missing the most important sections of a README: installation and running. @Spartanzhao added an `install.readme.txt` which defies all convention for Python packages (installation information should be in the README). After installing the package using the s

[2022-04-30 07:24] ronshnapp commented on #4319
Hi @jgostick - thanks for being editor!
Fair point; @alexlib - would you like to coauthor? Let me know and I'll add you when the revision comes.

[2022-04-30 09:06] alexlib commented on #4319
Thanks @ronshnapp but it is your own work :) good luck

[2022-04-30 13:08] krober10nd commented on #3959
@diehlpk I was able to install it finally and verified some more aspects of the paper.

I would like to @samuelburbulla to iterate a couple times on the paper following my issues I've posted on his repo as I believe several aspects of the paper can be improved.

[2022-04-30 14:03] editorialbot opened #4361 "[PRE REVIEW]: DAISIEmainland: an R package for simulating an island-mainland system for macroevolution on islands"
**Submitting author:** @joshwlambert (<a href="http://orcid.org/0000-0001-5218-3046">Joshua Lambert</a>)
**Repository:** https://github.com/joshwlambert/DAISIEmainland
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** v1.0.0
**Editor:** @Bisaloo
**Reviewers:** @alexskeels, @vboussange
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/pape

[2022-04-30 14:05] danielskatz commented on #4361
👋 @joshwlambert - where is the JOSS paper (following the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography))? I don't see it in the repo in the main or joss_submission branches

[2022-04-30 14:10] joshwlambert commented on #4361
@danielskatz Hi, on the joss_submission branch the submodule DAISIEmainland_ms contains the paper.md, paper.bib and figures. Hope this helps, if a restructure would ease the review please let me know.

[2022-04-30 14:11] danielskatz commented on #4361
Where is paper.md in the repo?  (what's the path to it?)

[2022-04-30 14:14] danielskatz commented on #4361
Ah, sorry, I see it now
I'm not sure we can handle papers in submodules.
Can you just put it directly in the repo?
(@arfon - any other thoughts?)

[2022-04-30 14:15] danielskatz commented on #4228
👋 @xuanxu - Is this something you can fix?

[2022-04-30 14:34] joshwlambert commented on #4361
@danielskatz There is now a copy of the manuscript on the joss_submission branch in the JOSS dir (https://github.com/joshwlambert/DAISIEmainland/blob/joss_submission/JOSS/paper.md), the github actions will not trigger from this copy so if you would like to see whether the manuscript builds correctly please see https://github.com/joshwlambert/DAISIEmainland_ms/actions.

[2022-04-30 14:40] danielskatz commented on #4361
@editorialbot check references

[2022-04-30 14:40] danielskatz commented on #4361
@editorialbot generate pdf

[2022-04-30 14:42] danielskatz commented on #4361
👋 @vinisalazar - note that your paper does not compile.

The error that causes this is `Author (Pedro Santos Neves) is missing affiliation`

Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). In addition, you could work on the possibly missing DOI that editorialbot suggests, but note that this may be incorrect. Please feel free

[2022-04-30 14:43] danielskatz commented on #4361
👋 @Bisaloo - Would you be willing to edit this submission?

[2022-04-30 14:43] danielskatz commented on #4361
@whedon invite @Bisaloo as editor

[2022-04-30 14:44] danielskatz commented on #4361
@editorialbot invite @Bisaloo as editor

[2022-04-30 14:49] Bisaloo commented on #4361
:wave: :wave: @danielskatz @joshwlambert, yes, I can edit this submission

[2022-04-30 14:49] Bisaloo commented on #4361
@editorialbot assign me as editor

[2022-04-30 14:57] xuanxu commented on #4228
@editorialbot check references

[2022-04-30 14:57] xuanxu commented on #4228
Fixed!

[2022-04-30 14:58] danielskatz commented on #4228
thanks!

[2022-04-30 15:13] alstat commented on #4228
Thank you! Let me know on the next steps or any pending tasks I have to address.

[2022-04-30 18:36] gradvohl commented on #4270
Good evening @kasnder ,
For me, everything is ok now. Congratulations.

[2022-04-30 20:10] relf commented on #4330
@editorialbot check references

[2022-04-30 20:56] jasondegraw commented on #4261
The software described in the paper is intended for modeling and simulation of sets of buildings (urban areas, campuses, etc.) and is implemented in Python. It is well documented and (at least in the files that I looked at) well written. The paper describes the need and features of the software, but I would not recommend acceptance of the paper without revisions. I do not believe these revisions a

[2022-04-30 22:14] kasnder commented on #4270
Great, thank you for your time and support to get to this stage!

[2022-04-30 22:18] relf commented on #4330
@editorialbot generate pdf

[2022-04-30 22:26] relf commented on #4330
@danielskatz , thanks for your comment. I've (hopefully) clarified this point.

[2022-05-01 00:19] emdupre commented on #4313
👋  Hi @a3sha2 @fepegar @jordandekraker @kaczmarj !

Would you be willing to review _Open-Source Hypothalamic-ForniX (OSHy-X) Atlases and Segmentation Tool for 3T and 7T_ for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org/)?

You can learn more about reviewing for JOSS -- including our conflict of interest policy -- [here](https://joss.readthedocs.io/en/latest/reviewer_guidelin

[2022-05-01 00:56] kaczmarj commented on #4313
Yes — I would be glad to be a reviewer.

Best,
Jakub

[2022-05-01 04:12] a3sha2 commented on #4313
Yes,
I will be glad to review it.

Best,
Az

From: Elizabeth DuPre ***@***.***>
Date: Saturday, April 30, 2022 at 8:19 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Azeez Adebimpe ***@***.***>, Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: Open-Source Hypothalamic-ForniX (OSHy-X) Atlases and Segmentation Tool for 3T and 7T (Issue #4313)

👋 Hi @a3sha2<https://githu

[2022-05-01 09:02] relf commented on #4330
@editorialbot generate pdf. Fix format

[2022-05-01 09:03] relf commented on #4330
@editorialbot generate pdf

Fix format

[2022-05-01 11:06] joshwlambert commented on #4361
@editorialbot check references

[2022-05-01 11:09] joshwlambert commented on #4361
@editorialbot generate pdf

[2022-05-01 11:32] joshwlambert commented on #4361
@editorialbot generate pdf

[2022-05-01 13:08] CZHU20 commented on #4118
@Kevin-Mattheus-Moerman Dear Kevin, thanks for the reminder and I apologize for the delay. From Feb to late April is our "proposal-writing" season, I didn't think I could address those comments adequately. Now with all proposals submitted, this is on top of my to-do list. Thank you and the reviewers for your patience.

[2022-05-01 15:02] fauxneticien commented on #4303
@editorialbot generate my checklist

[2022-05-01 19:20] arfon commented on #4262
Wonderful, thank you @mileslucas. I'll add you as a reviewer now but if you can give me another week or so before starting – I'd like to find a second reviewer before I move the submission forward.

[2022-05-01 19:20] arfon commented on #4262
@editorialbot add @mileslucas as reviewer

[2022-05-01 19:24] arfon commented on #3953
@editorialbot assign me as reviewer

[2022-05-01 19:24] arfon commented on #3953
@editorialbot assign me as editor

[2022-05-01 19:26] arfon commented on #3953
@quantumsteve @joglekara – apologies for the delay here. I'll take this submission on to help @jarvist out here.

[2022-05-01 19:27] arfon commented on #3953
:wave: @cticenhour & @drobnyjt - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is _ASGarD: Adaptive Sparse Grid Discretization_

[2022-05-01 21:52] abhimaniyar commented on #4173
@eloisabentivegna I am so sorry I forgot to reply to this! In fact, I had checked every item on the checklist and was done with my review more than 2 week ago! I thought completing the checklist meant completion of the review, I am sorry I should have confirmed that with you. However, I am now very happy to confirm that I am too done with my review. Thanks!

[2022-05-01 23:11] fboehm commented on #4305
@mgiardino - Thank you for your question. The missing DOIs should be corrected by the authors, but you need not do anything with them.

@victorapm - Thank you for your question. There is no JOSS policy requiring that authors have at least one commit.

Thank you, @mgiardino and @victorapm for your work on these reviews. @vipinagrawal25 - please ensure that your cited works have accurate dois.

[2022-05-01 23:52] elbeejay commented on #4207
Hi @zhenwu0728,

Thanks for making those revisions. One minor thing, and I apologize if I was unclear above, please revise the citation in the Statement of need to be: `[e.g. lakes, coastal waters, and open ocean, @follows2007emergent; @geider1997dynamic]`, in the `paper.md` file, which I believe should end up getting typeset as: (e.g. lakes, coastal waters, and open ocean, Follows et al., 2007; G

[2022-05-01 23:52] elbeejay commented on #4207
@editorialbot set v0.5.1 as version

[2022-05-01 23:53] elbeejay commented on #4207
@editorialbot set 10.5281/zenodo.6507001 as archive

[2022-05-02 00:56] Leticia-maria commented on #4157
Hello, @Kevin-Mattheus-Moerman: All issues addressed. I strongly recommend publishing as it is.

[2022-05-02 00:57] Leticia-maria commented on #4157
Sorry for the delays, I was in my last semester of my Graduation

[2022-05-02 00:59] Leticia-maria commented on #4157
I am really excited to review another papers

[2022-05-02 01:04] zhenwu0728 commented on #4207
@editorialbot generate pdf

[2022-05-02 06:38] mikldk commented on #4159
@mdhaber Can you please suggest two more potential reviewers?

[2022-05-02 06:39] mikldk commented on #4183
@timClicks, @TahiriNadia: Can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2022-05-02 07:15] adi3 commented on #3527
@AP6YC can you please communicate directly to the reviewers when they may proceed?

[2022-05-02 07:16] adi3 commented on #3671
@editorialbot set 10.5281/zenodo.6506781 as archive

[2022-05-02 07:17] adi3 commented on #3671
@editorialbot set v0.5.0 as version

[2022-05-02 07:17] adi3 commented on #3671
@editorialbot recommend-accept

[2022-05-02 07:20] adi3 commented on #4338
@tuliofalmeida @finsberg thank you for finishing your reviews in record time! We will certainly reach out to you for future engagements :)

@AKuederle Looks like everything is set. I need one final formality to be done from your side. Please make a tagged release of the project and archive it. Then report the version number and archive DOI here. Once I have that, I will send this for publication.

[2022-05-02 07:38] danasolav commented on #4314
@editorialbot add @CVHammond as reviewer

[2022-05-02 07:39] danasolav commented on #4314
@editorialbot start review

[2022-05-02 07:39] editorialbot opened #4362 "[REVIEW]: Pose2Sim: An Open-Source Python Package for multiview markerless kinematics"
**Submitting author:** @DavidPagnon (<a href="http://orcid.org/0000-0002-6891-8331">David Pagnon</a>)
**Repository:** https://github.com/perfanalytics/pose2sim
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.2
**Editor:** @danasolav
**Reviewers:** @lambdaloop, @jonmatthis, @CVHammond
**Archive:** 10.5281/zenodo.7064026

## Status

[![status](https://joss.theoj.org/papers/a31c

[2022-05-02 07:39] #4314 closed

[2022-05-02 07:41] danasolav commented on #4314
@lambdaloop @jonmatthis @CVHammond, thank you for agreeing to review this submission. The review process takes place [here](https://github.com/openjournals/joss-reviews/issues/4362).

[2022-05-02 07:43] danasolav commented on #4281
@editorialbot check references

[2022-05-02 07:51] conorheins commented on #4098
Hi @emdupre, I've gotten confirmation that affiliations/names are all correct :) I've also updated .bib file as requested

[2022-05-02 08:02] AKuederle commented on #4338
Thank you @adi3!

We archived the repo on OSF under the following DOI: DOI 10.17605/OSF.IO/37TD9
The current release version is [v2.2.1](https://github.com/mad-lab-fau/imucal/tree/v2.2.1)

Let us know if you need anything else from us!

[2022-05-02 08:21] danasolav commented on #4281
@mbarzegary, your submission is almost ready for publication. Please refer to the my comments regarding the paper in this [issue](https://github.com/mbarzegary/BioDeg-UI/issues/2).

[2022-05-02 09:24] miesli commented on #4298
Hi @dilawar,

I'm quite impressed by your work. It seems to me, that you have come quite far.

There is one issue with the netlist, but this should not abort the simulation:
[code]
`N_T` and `N_TNODE` are the same, but named wrongly. I will correct this (also, there are other netlists with the same issue). But the thermal node is not relevant in this (or most) simulation setups. The simulation res

[2022-05-02 09:32] ebezzam commented on #4259
@danasolav I've had a small email exchange with @antipa and he said he'd be happy to help out with the review and to add him as a reviewer.

[2022-05-02 09:51] Zitzeronion commented on #4312
👋 @mbernaschi  and @lnacquaroli, thanks for accepting to review our contribution.

Looking forward to your feedback 😃

[2022-05-02 10:28] malmans2 commented on #4288
Hi @marcosvital, sure - happy to review this!

[2022-05-02 11:54] dbrizard commented on #4351
I will update the paper accordingly.

[2022-05-02 12:34] elbeejay commented on #4207
@editorialbot check references

[2022-05-02 12:37] elbeejay commented on #4207
@zhenwu0728 looks great. Thanks again to @Datseris and @BrodiePearson for providing constructive reviews. At this time I will be recommending we accept and publish this paper in JOSS.

[2022-05-02 12:38] elbeejay commented on #4207
@editorialbot recommend-accept

[2022-05-02 13:03] ClaraBuettner commented on #4131
Hi @fraukewiese, sorry for the late reply. I can review this.

[2022-05-02 13:06] fabian-s commented on #4228
@kuesterc9
you left the checkmarks for "automated tests" and "community guidelines" out -- do you have remaining points of criticism or have your concerns been addressed in the meantime?

[2022-05-02 13:11] crvernon commented on #4297
@editorialbot assign @jasondegraw as reviewer

[2022-05-02 13:11] crvernon commented on #4297
@editorialbot add @jasondegraw as reviewer

[2022-05-02 13:12] crvernon commented on #4297
@wouterpeere I'll find you one more reviewer and then we will move this to full review status.

[2022-05-02 13:12] crvernon commented on #3709
@editorialbot generate pdf

[2022-05-02 13:14] fabian-s commented on #4228
@editorialbot generate pdf

[2022-05-02 13:18] crvernon commented on #4297
👋 - @meghanrjones Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-02 13:19] kuesterc9 commented on #4228
I think everything is now fine! ;-)

[2022-05-02 13:30] crvernon commented on #4237
@AtrCheema - please provide me with your progress, I don't see that you have created a reviewer checklist.  Please let me know if you are having access issues.

[2022-05-02 13:33] crvernon commented on #3709
@editorialbot check references

[2022-05-02 13:55] crvernon commented on #3709
@AlexanderJuestel  we are almost there!  Next is just setting up the archive for your new release.

- We want to make sure the archival has the correct metadata that JOSS requires.  This includes **a title that matches the paper title and a correct author list.**

So here is what we have left to do:
- [ ] Conduct a GitHub release of the current reviewed version of the software you now have on the

[2022-05-02 14:03] tisaac commented on #3982
@jedbrown Was my invitation revoked?

[2022-05-02 14:09] jedbrown commented on #3982
Ah, you can use the new system now. Please comment with the one line command
[code]

[2022-05-02 14:17] fabian-s commented on #4228
@alstat

please take a look at the issue I opened re. best practices for scientific software in R and take a look at the PR suggesting some minor edits to the paper.

Addressing https://github.com/alstat/ALUES/issues/24 is not necessary for JOSS publication. IMO would still be a good idea that would improve your package.

[2022-05-02 14:24] tisaac commented on #3982
@editorialbot generate my checklist

[2022-05-02 14:47] mdhaber commented on #4159
Sure: acolum, stensy. There are several more [above](https://github.com/openjournals/joss-reviews/issues/4159#issuecomment-1058054595) if needed.

[2022-05-02 15:14] jgostick commented on #4359
@editorialbot assign @jgostick as editor

[2022-05-02 15:48] Nikoleta-v3 commented on #4286
Thank you for volunteering @Athene-ai 😄

[2022-05-02 15:49] Nikoleta-v3 commented on #4286
@editorialbot add @Athene-ai  as reviewer

[2022-05-02 15:49] Nikoleta-v3 commented on #4286
@max-little 👋🏻 Could you please take a look through this: https://bit.ly/joss-reviewers and suggest a few other potential reviewers?

[2022-05-02 15:51] Athene-ai commented on #4286
@Nikoleta-v3 the pleasure is all mine :-)

[2022-05-02 16:01] vipinagrawal25 commented on #4305
Hi @mgiardino, We have now added the instructions for h5py installation in the readme as well.

[2022-05-02 16:04] vipinagrawal25 commented on #4305
Hi @mgiardino,

Thanks a lot for the comments. We have now incorporated all of them and closed the issue. Do let us know if you have any further suggestions.

[2022-05-02 16:15] lpantano commented on #4167
@editorialbot add @samhorsfield96 as reviewer

[2022-05-02 16:15] lpantano commented on #4167
@editorialbot start review

[2022-05-02 16:15] editorialbot opened #4363 "[REVIEW]: RedOak: a reference-free and alignment-free structure for indexing a collection of similar genomes"
**Submitting author:** @cagret (<a href="http://orcid.org/0000-0002-7404-7253">Clement AGRET</a>)
**Repository:** https://gite.lirmm.fr/doccy/RedOak
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.5
**Editor:** @lpantano
**Reviewers:** @swatimanekar, @samhorsfield96
**Archive:** 10.6084/m9.figshare.21711767

## Status

[![status](https://joss.theoj.org/papers/1d4506a2b9e02c0d

[2022-05-02 16:15] #4167 closed

[2022-05-02 16:18] jeremiah-corrado commented on #4172
Hello all,

Just a quick update to summarize some recent progress:

* I made significant changes to the library over the last couple weeks to address @YohannDudouit's and @jeremylt's concerns/suggestions.
* @YohannDudouit, I left a detailed [response](https://github.com/jeremiah-corrado/fem_2d/issues/2#issuecomment-1114055480) to your issue. I believe I addressed most of your concerns. For those t

[2022-05-02 16:33] huddlej commented on #4007
@majensen I'm sorry for not responding sooner, but I'm in a similar situation in that I don't have time for reviews at the moment. I'd be happy to help with reviews in the future, though.

[2022-05-02 16:42] ayaanhossain commented on #4007
Hi @majensen, unfortunately, I too am swamped with work and won't be able to commit to this reliably at the moment. I'd like to pass on for now but will definitely sign up for other reviews in the future.

[2022-05-02 16:58] kellyrowland commented on #4249
Hi @shahmoradi @RichardClayton thanks for getting started on your reviews - just checking in; please let me know if you have any questions or concerns.

[2022-05-02 17:03] jmschrei commented on #3916
I agree, @pkerpedjiev

@editorialbot recommend-reject

@openjournals/joss-eics

[2022-05-02 17:03] mlampros commented on #4342
I [updated the code of the IceSat2R](https://github.com/mlampros/IceSat2R/blob/master/NEWS.md#icesat2r-102) package. The majority of the examples take more than 5 seconds (which is prohibitive for CRAN - I tested it once again) therefore I include the *\dontrun*. I included more tests (as I mention also in the [opened issue](https://github.com/mlampros/IceSat2R/issues/3#issuecomment-1115114155)),

[2022-05-02 17:07] AlexanderJuestel commented on #3709
Hi @crvernon,

please find the archived version of GemGIS here under this DOI Number: https://doi.org/10.5281/zenodo.6511767

[2022-05-02 17:10] danielskatz commented on #3916
@editorialbot reject

@Spartanzhao - We encourage you to improve this software, and potentially resubmit an improved version. If you do so, please note this issue in your resubmission.  Alternatively, please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

@pk

[2022-05-02 17:21] crvernon commented on #3709
@editorialbot set v1.0.0 as version

[2022-05-02 17:23] crvernon commented on #3709
@editorialbot set 10.5281/zenodo.6511767 as archive

[2022-05-02 17:32] crvernon commented on #3709
@AlexanderJuestel - thanks for putting together a really nice software product! Thanks to @omshinde and @kanishkan91 for a constructive and timely review!

I am recommending that your submission be accepted. An EIC will review this shortly and confirm final publication if all goes well.

[2022-05-02 17:33] crvernon commented on #3709
@editorialbot recommend-accept

[2022-05-02 17:33] smchartrand commented on #4282
@kbarnhart many thanks for the instructions on how to proceed. We will address the comments and let you know when the revised repository is ready to go. Look to hear back from us sometime next week.

Thanks to all for the most constructive review process in my research career to date.

[2022-05-02 17:37] danielskatz commented on #4328
👋 @step21 & @rlskoeser - A couple of weeks in, I just wanted to check on how the reviews are coming.

[2022-05-02 17:39] danielskatz commented on #4277
👋 @kris-rowe - A couple of weeks in, I just wanted to check on how your review is coming.

[2022-05-02 17:41] danielskatz commented on #4277
@bastorer - have you been able to make any progress on any of the issues @NoraLoose created before her vacation?

[2022-05-02 17:49] slayoo commented on #4326
@dkauf42, re the following requirement:

According to https://github.com/E3SM-Project/gdess/graphs/contributors, you are the only code contributor. I suggest thus adding to the paper an "Author contributions" section commenting on each authors' contributions. See also https://joss.readthedocs.io/en/latest/submitting.html#authorship

[2022-05-02 17:52] majensen commented on #4007
Thanks @huddlej and @ayaanhossain - will catch you next time!

[2022-05-02 17:56] majensen commented on #4007
Hey @dcnickle my friend - would you have time to review [this work](#4007) for [JOSS](https://joss.theoj.org)? I really appreciate the consideration.

[2022-05-02 18:03] dcnickle commented on #4007
Yes - I can review.

David

[2022-05-02 18:07] emdupre commented on #4098
@editorialbot check references

[2022-05-02 18:10] emdupre commented on #4098
@editorialbot set master as branch

[2022-05-02 18:10] emdupre commented on #4098
@editorialbot check references

[2022-05-02 18:16] emdupre commented on #4098
Thank you, @conorheins ! I have one last reference request, since the included Hipólito reference was published in _Frontiers_ over the weekend. Can you please update [this reference](https://github.com/infer-actively/pymdp/blob/d2b1d2b5cae4b9af9255d821a30f39e4be8dfd89/paper/paper.bib#L646-L651) to:

[code]

[2022-05-02 18:25] conorheins commented on #4098
Hi @emdupre , I removed that reference as well as several others that weren't used here (some of them were left over from the arxiv version). Thanks

[2022-05-02 18:25] rkurchin commented on #4309
@editorialbot add @utf as reviewer.

Thanks Alex!

[2022-05-02 18:26] rkurchin commented on #4309
@editorialbot start review

[2022-05-02 18:26] editorialbot opened #4364 "[REVIEW]: Simmate: a framework for materials science"
**Submitting author:** @jacksund (<a href="http://orcid.org/0000-0001-5739-8919">Jack Sundberg</a>)
**Repository:** https://github.com/jacksund/simmate
**Branch with paper.md** (empty if default branch): joss
**Version:** 0.7.1
**Editor:** @rkurchin
**Reviewers:** @bocklund, @utf
**Archive:** 10.5281/zenodo.6863068

## Status

[![status](https://joss.theoj.org/papers/7a2576bce08dd95c1e7410f8e87b5a

[2022-05-02 18:26] #4309 closed

[2022-05-02 18:26] cgurrr commented on #4012
Hi @meg-simula , sorry to ask again, but did you get any update from the other reviewer?
We are currently in the process of submission for two papers using the library, and we would like to refer to a published version of it.
Many thanks!

[2022-05-02 18:27] rkurchin commented on #4040
Hi @Evmoerman, just wanted to check in on the status of the changes you mentioned in the prior comment!

[2022-05-02 18:28] emdupre commented on #4098
@editorialbot check references

[2022-05-02 18:33] emdupre commented on #4098
@openjournals/joss-eics, this is ready for final review !

[2022-05-02 18:33] Evmoerman commented on #4040
Hey @rkurchin. Except for the point addressing the interfaceability with other codes, I fixed all the issues the same day I believe.
That last change I have put aside for the moment until I have the comments by Sebastian. I figured that this change is not so urgent as it only involves the manuscript and not the code.

[2022-05-02 18:58] Viech commented on #4271
This looks cool but I won't have time to review this month due to holidays and an official trip. If this gets stuck in june, I can fill in.

[2022-05-02 19:29] KedoKudo commented on #4333
@editorialbot generate my checklist

[2022-05-02 19:48] jedbrown commented on #4172
That's great to hear. Thanks for the status update.

[2022-05-02 19:48] jedbrown commented on #4172
@editorialbot generate pdf

[2022-05-02 20:07] meg-simula commented on #4012
Hi @cgurrr, thanks for the ping! This review is definitely much overdue. Let me check some options and get back to you tomorrow.

[2022-05-02 20:09] LeonieFierz commented on #4261
@jasondegraw thank you for the review and the constructive feedback! We will go through it in detail and improve the points you mentioned.
Just two points from the technical side:

- The tests are run in a CI pipeline on our internal GitLab Server and it should actually be possible to run them with pytest after installing the package for development with poetry.
- I will think about how we can imp

[2022-05-02 20:24] rkurchin commented on #4306
Thanks everyone! Authors, I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the paper, you may, but it is not required that the actual manuscript live into the repo in perpetuity since JOSS will host

[2022-05-02 20:24] marcosvital commented on #4276
Thank you, @Athene-ai! I'll add you as a reviewer, and we will move on to a new issue where the reviewing process will take place.

[2022-05-02 20:24] rkurchin commented on #4306
@editorialbot generate pdf

[2022-05-02 20:24] marcosvital commented on #4276
@editorialbot add @Athene-ai as reviewer

[2022-05-02 20:25] rkurchin commented on #4306
@editorialbot check references

[2022-05-02 20:26] marcosvital commented on #4276
@editorialbot start review

[2022-05-02 20:26] editorialbot opened #4365 "[REVIEW]: smmR: A Semi-Markov R package"
**Submitting author:** @corentin-dev (<a href="http://orcid.org/0000-0002-8209-317X">Corentin Lothodé</a>)
**Repository:** https://plmlab.math.cnrs.fr/lmrs/statistique/smmR
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.4
**Editor:** @marcosvital
**Reviewers:** @dsurujon, @ellessenne, @Athene-ai
**Archive:** 10.5281/zenodo.7874883

## Status

[![status](https://joss.t

[2022-05-02 20:26] #4276 closed

[2022-05-02 20:32] marcosvital commented on #4365
Dear @dsurujon, @ellessenne and @Athene-ai, thank you again for accepting review this submission for JOSS. The reviewing process is checklist based, and instructions were already posted above by the editorial bot - but let me know if you need any assistance, ok? Also, you can tag @corentin-dev if you have specific questions about the manuscript.

@corentin-dev, you can tag any of your co-authors i

[2022-05-02 20:34] marcosvital commented on #4288
Thank you! We will start the reviewing process soon. It will happen on a new issue, ok?

[2022-05-02 20:36] marcosvital commented on #4288
@editorialbot add @krober10nd as reviewer

[2022-05-02 20:37] marcosvital commented on #4288
@editorialbot add @platipodium as reviewer

[2022-05-02 20:37] marcosvital commented on #4288
@editorialbot add @malmans2 as reviewer

[2022-05-02 20:37] marcosvital commented on #4288
@editorialbot start review

[2022-05-02 20:37] editorialbot opened #4366 "[REVIEW]: RESOURCECODE: A Python package for statistical analysis of sea-state hindcast data"
**Submitting author:** @NRaillard (<a href="http://orcid.org/0000-0003-3385-5104">Nicolas Raillard</a>)
**Repository:** https://gitlab.ifremer.fr/resourcecode/resourcecode
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 1.0.0
**Editor:** @marcosvital
**Reviewers:** @krober10nd, @platipodium, @malmans2
**Archive:** 10.5281/zenodo.7681494

## Status

[![status](https://jo

[2022-05-02 20:37] #4288 closed

[2022-05-02 20:40] rkurchin commented on #4306
Some small editorial comments:
* There's a weirdly-formatted citation at the end of the first paragraph in the Statement of Need, where one typesets in square brackets and the other not (**broad note on citation formatting, to cite multiple sources at once, you can do e.g. `[@doe99; @smith2000; @smith2004]`) to get them all in one set of parentheses**)
* line 29: hyphenate "several-minute" (compou

[2022-05-02 20:41] marcosvital commented on #4366
Dear @krober10nd, @platipodium and @malmans2, thank you again for accepting review this submission for JOSS. The reviewing process is checklist based, and instructions were already posted above by the editorial bot - but let me know if you need any assistance, ok? Also, you can tag @NRaillard if you have specific questions about the manuscript.

@NRaillard, you can tag any of your co-authors if yo

[2022-05-02 20:42] rkurchin commented on #4040
Got it, understood. @awvwgk, any updates from your end?

[2022-05-02 20:48] platipodium commented on #4366
@editorialbot generate my checklist

[2022-05-02 20:49] platipodium commented on #4366
@NRaillard please provide instructions on how / login to to create issues in your upstream repo.

[2022-05-02 20:51] jonmatthis commented on #4362
@editorialbot generate my checklist

[2022-05-02 21:05] lambdaloop commented on #4362
@editorialbot generate my checklist

[2022-05-02 21:12] max-little commented on #4286
OK sure, how about:
ajbaird
cthoyt

All the best
Max

On Mon, 2 May 2022 at 16:50, Nikoleta Glynatsi ***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Press
global

[2022-05-02 23:10] emdupre commented on #4313
Thank you for your willingness to review (and quick responses !), @a3sha2 and @kaczmarj !

I'll go ahead and add you both as reviewers now. If you are available and interested in reviewing, @fepegar @jordandekraker, please let me know by tomorrow afternoon (PT). Otherwise, since we have a sufficient number of reviewers, I'll go ahead and start the review process then !

[2022-05-02 23:11] emdupre commented on #4313
@editorialbot add @a3sha2 to reviewers

[2022-05-02 23:11] emdupre commented on #4313
@editorialbot add @kaczmarj to reviewers

[2022-05-03 01:35] alstat commented on #4228
Thank you, @fabian-s. Already merged [alstat/ALUES#25](https://github.com/alstat/ALUES/pull/25), and noted on the best practices.

[2022-05-03 02:34] gdetor commented on #4306
@rkurchin Thank you for the suggestions/comments. We have incorporated all your suggestions to the text. Soon we will provide the DOI and the tag.

[2022-05-03 03:01] slayoo commented on #4326
@editorialbot generate pdf

[2022-05-03 04:00] dilawar commented on #4298
Thank you @miesli for digging a bit deeper.

@lucydot I understand that both reviewers can't run all the examples at this moment. I think I am almost there but due to a low-level issue with dependencies, I also couldn't run the examples on my Linux box. I'll try again with inputs provided by @miesli but I am also a bit low on time. I agree with @phoebe-p that "the issues are not really with DMT-co

[2022-05-03 04:51] Athene-ai commented on #4365
@editorialbot generate my checklist

[2022-05-03 04:57] quintshekhar commented on #4339
@editorialbot check references

[2022-05-03 05:45] platipodium commented on #4366
The repository's author report is as follows:

Author | Commits (%) | + lines | - lines | First commit | Last commit | Age | Active days | # by commits
-- | -- | -- | -- | -- | -- | -- | -- | --
Simon Chabot | 138 (65.09%) | 307176 | 249010 | 2020-07-23 | 2021-11-23 | 487 days, 23:04:26 | 46 | 1
RAILLARD | 41 (19.34%) | 1915 | 600 | 2021-11-24 | 2022-03-25 | 121 days, 1:12:41 | 5 | 2
Noe Gaumont |

[2022-05-03 07:18] NRaillard commented on #4366
Hello @platipodium thanks for taking some time for the review.

To login on our self-hosted gitlab instance, I need to create an account: I just need your name and email address to do so. I can do also for @krober10nd and @malmans2 as soon as they send me the requested information (by mail or DM)

To clarify the authorship, some of the modules were converted from matlab, Fortran and R codes develo

[2022-05-03 07:28] platipodium commented on #4366
Thank you @NRaillard for starting to answer the authorship issue.  Let's continue this in your repository once we all register there. We will have to talk about the separate issues of (1) Copyright and (2) Intellectual property.  Also note that in the current code there remain about 50 k lines form Simon and 50 k lines from Noe, and about 2 k from yourself and ogiorgis.

[2022-05-03 07:53] malmans2 commented on #4366
@editorialbot generate my checklist

[2022-05-03 07:56] arfon commented on #4262
:wave: @mweastwood – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under consideration is a Julia package: [_Comrade: Composable Modeling of Radio Emission_](https://github.com/ptiede/Comrade.jl)

[2022-05-03 08:01] arfon commented on #4262
:wave: @jdonnert – would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under consideration is a Julia package: [_Comrade: Composable Modeling of Radio Emission_](https://github.com/ptiede/Comrade.jl)

[2022-05-03 08:06] arfon commented on #4340
GitHub counts comments as part of the lines of code yes. So for [this example](https://github.com/SYalouz/QuantNBody/blob/main/quantnbody/improved_functions_file.py), the 113-101 (12) lines are whitespace.

[2022-05-03 08:08] fabian-s commented on #4228
@editorialbot check references

[2022-05-03 08:08] fabian-s commented on #4228
@editorialbot generate pdf

[2022-05-03 08:12] fabian-s commented on #4228
@alstat Seems like we're good to go here :rocket:

At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should

[2022-05-03 08:29] Nikoleta-v3 commented on #4056
Thank you @bauer-alex for your work! Apologies for the delay I was out of the office 🇬🇷

Some last minor comments from me:

- Can you please fix the reference `Apc: Age-period-cohort analysis.` to be `apc: Age-period-cohort analysis.`
- In your README file it is easy to miss the documentation (useful materials). Could you make  `Useful materials` a section? and maybe rename it to `documentation an

[2022-05-03 08:35] bauer-alex commented on #4056
@editorialbot generate pdf

[2022-05-03 08:36] Nikoleta-v3 commented on #4056
@editorialbot check references

[2022-05-03 08:38] bauer-alex commented on #4056
@Nikoleta-v3 Thanks for the final input, especially regarding the reference!
Both points are now resolved.

[2022-05-03 08:40] Nikoleta-v3 commented on #4056
Thank you! At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (

[2022-05-03 08:58] platipodium commented on #4366
- [ ] Issue https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/8 on copyright

[2022-05-03 09:03] platipodium commented on #4366
- [ ] Issue https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/9 on authorship

[2022-05-03 09:06] platipodium commented on #4366
- [ ] Issue https://gitlab.ifremer.fr/resourcecode/resourcecode/-/issues/10 on missing community guidelines

[2022-05-03 09:08] antoinevacavant commented on #3920
Hi @Kevin-Mattheus-Moerman the link with ZENODO is done, the DOI is: 10.5281/zenodo.6513517

[2022-05-03 09:14] Kevin-Mattheus-Moerman commented on #4352
@arfon do you have the bandwidth to handle this one as editor?

[2022-05-03 09:14] RichardClayton commented on #4249
Hi Kelly,

Thanks -- I am just recovering from an unpleasant bout of covid, which took
me out for 2 weeks. I am just catching up with emails and all of the other
tasks that have been piling up.

I did have a question about feedback to the authors. Is there a mechanism
to provide comments on the manuscript beyond the tickboxes on the checklist?

Best wishes,

Richard
--

On Mon, 2 May 2022 at 17:58

[2022-05-03 09:52] vissarion commented on #3329
Thanks @simonom and @marvinjonathcn for your reviews. You both recommend publication in JOSS. I would like to wait for the review of @jrising if still interested to complete it.

[2022-05-03 10:05] Kevin-Mattheus-Moerman commented on #4352
@editorialbot invite @faroit as editor

[2022-05-03 10:05] Kevin-Mattheus-Moerman commented on #4352
@faroit can you handle this work as editor?

[2022-05-03 10:13] Kevin-Mattheus-Moerman commented on #3920
@editorialbot set 10.5281/zenodo.6513517 as archive

[2022-05-03 10:14] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant thanks for creating that archived version. Now can you please edit the title and author list so they match the paper?

[2022-05-03 10:15] Kevin-Mattheus-Moerman commented on #3920
@editorialbot set 1.0.2 as version

[2022-05-03 10:16] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant I've incremented the version tag to match that of the ZENODO archived version. Can you confirm this is correct?

[2022-05-03 10:26] modenaxe commented on #4314
@danasolav sorry I am reading this only now but I see you found the reviewer you were looking for, great!

[2022-05-03 10:40] osorensen commented on #3700
Any news on this one @a-ws-m?

[2022-05-03 10:43] osorensen commented on #4278
Thanks for completing your review checklist @estenhl!
@sairamgeethanath, could you please update us on how it is going with your review? Please let me know if there is anything I can help with.

[2022-05-03 10:45] osorensen commented on #4304
@hpesonen and @blakeaw, could you please update us on how it is going with your reviews? Please let me know if you have any questions, and I'll do my best to help.

[2022-05-03 11:04] MiftariB commented on #4271
@diehlpk thanks for the opportunity to review this paper but @GuillaumeDerval and I work literally in the same office and I believe that the review in itself would highly benefit from two completely different points of view. So I will have to decline the offer for now. If you don't find someone else, you can recontact me.

[2022-05-03 11:45] joeroe commented on #4335
Comment on **substantial scholarly effort**:

In the pre-review, it was noted that the repository contains a relatively small amount of code (just under 1000 lines of R) and indeed its API does boil down to a handful of core analysis functions (`frag.layers.cohesion`, `frag.layers.admixture` and `frag.simul.process`). But I'd bear in mind that this package also represents a substantial amount of m

[2022-05-03 12:15] bauer-alex commented on #4056
Alright. All aboves tasks are done. Here's the doi:
[10.5281/zenodo.6514036](https://zenodo.org/record/6514036)

[2022-05-03 12:28] joeroe commented on #4335
Comment on **installation**/**installation instructions**:

I was able to install the package following the instructions, but I have suggested some improvements (https://github.com/sebastien-plutniak/archeofrag/issues/1, https://github.com/sebastien-plutniak/archeofrag/issues/2, https://github.com/sebastien-plutniak/archeofrag/issues/3, https://github.com/sebastien-plutniak/archeofrag/issues/4). M

[2022-05-03 12:44] dhhagan commented on #4337
Hey @yguitton, @cthoyt, @davidegraff -> let me know if you have any issues getting started or have any questions about the review process!

[2022-05-03 12:52] antoinevacavant commented on #3920
Yes, this is the correct version (1.0.2)

[2022-05-03 13:03] crvernon commented on #4341
@matthiasdemuzere I think we are good to proceed with this.  I reached out to the original editors and discussed the current status.  I'll move to request reviewers.

[2022-05-03 13:07] crvernon commented on #4341
👋 - @NoraLoose Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-03 13:07] crvernon commented on #4341
👋 - @alexamici Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-05-03 13:27] lucydot commented on #4298
Thanks @phoebe-p and @dilawar for your time and expertise on this review. I can see you have both already invested a lot of time into installation alone.

@miesli what would be lost from modifying the examples so that they work with `ngspice` as the default simulator? I can imagine that if @phoebe-p and @dilawar are still facing issues after extended attempts, it will be the same story for many of

[2022-05-03 13:42] blakeaw commented on #4304
Hi @osorensen, sorry for the delay. I'm pretty close to finishing up my review, so I'll try to go ahead and complete it today.

[2022-05-03 13:44] hpesonen commented on #4304
@osorensen  I should be done by tomorrow.

[2022-05-03 13:46] dfm commented on #4256
@editorialbot add @lgarrison as reviewer

🎉 Thanks @lgarrison for agreeing to review this submission! I'm still looking for one more reviewer, and once we've got that lined up I'll get the review started.

[2022-05-03 13:53] miesli commented on #4298
I have to fully agree. Thank you @phoebe-p  and @dilawar for your time and patience with our project!

@lucydot In fact, from the 3 examples in the documentation:

https://dmt-development.gitlab.io/dmt-core/examples/basic_data_handling.html
https://dmt-development.gitlab.io/dmt-core/examples/running_a_simulation.html
https://dmt-development.gitlab.io/dmt-core/examples/read_in_measurement_data.html

[2022-05-03 13:54] bauer-alex commented on #4056
Yeah, v1.0.3 is correct.

And yeah, the Ubuntu devel test currently fails. This randomly happens to me every once in a while with some packages on GitHub, even when no error in the codebase is present (-> all other OS tests run without any error). I hope this is not a problem? Otherwise I'll just re-run it in the following days until it works again, and then I'll let you know again.

[2022-05-03 14:05] lucydot commented on #3742
Hi @nasserma ok it looks good to me now.

Please can you do the following:

- Make a tagged release of your software
- Archive this release on Zenodo (or similar)
        - The archive should have exactly the same title and author list as your JOSS paper
- Report the archive DOI and version number in this thread

[2022-05-03 14:09] osorensen commented on #4304
Thanks for the quick reply both of you!

[2022-05-03 14:12] dfm commented on #4256
@editorialbot add @jzrake as reviewer

And just like that, we have another reviewer! Thanks @jzrake!!

I'll get the review started in another thread shortly and have lots more info for you over there.

[2022-05-03 14:13] dfm commented on #4256
@editorialbot start review

[2022-05-03 14:13] editorialbot opened #4367 "[REVIEW]: Spiner: Performance Portable Routines for Generic, Tabulated, Multi-Dimensional Data"
**Submitting author:** @Yurlungur (<a href="http://orcid.org/0000-0001-6432-7860">Jonah Miller</a>)
**Repository:** https://github.com/lanl/spiner
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.5.1
**Editor:** @dfm
**Reviewers:** @lgarrison, @jzrake
**Archive:** 10.5281/zenodo.6800124

## Status

[![status](https://joss.theoj.org/papers/361f13746822fde77cc0f6f0b0b20

[2022-05-03 14:13] #4256 closed

[2022-05-03 14:15] NoraLoose commented on #4341
Hi @crvernon, thanks for the invite! I think I will have to decline this time - I'm not familiar with WRF (nor with WUDAPT). Maybe we should try to recruit a frequent WRF user to the JOSS reviewer list! 😃

[2022-05-03 14:15] dfm commented on #4367
@Yurlungur, @lgarrison, @jzrake — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please check a

[2022-05-03 14:15] Nikoleta-v3 commented on #4056
It's okay :)

[2022-05-03 14:16] dfm commented on #4367
Don't worry about this comment from the bot - it expects the code and paper to both be on the same branch, but this is not the case here, and not a problem!

[2022-05-03 14:17] crvernon commented on #4341
Thanks @NoraLoose for the quick reply! And no problem at all.  I reach out so some folks I know in the WRF community.  Have a great day!

[2022-05-03 14:21] dfm commented on #4321
@harveyaa — Sorry for the delayed response! We generally suggest minting a new release at the end of the review process, but you're also welcome to release new versions throughout the process and it shouldn't cause any problems.

[2022-05-03 14:21] Nikoleta-v3 commented on #4056
@editorialbot set 10.5281/zenodo.6514036 as archive

[2022-05-03 14:22] Nikoleta-v3 commented on #4056
@editorialbot set v1.0.3 as version

[2022-05-03 14:22] Nikoleta-v3 commented on #4056
@editorialbot recommend-accept

[2022-05-03 14:25] dfm commented on #4053
@dstansby, @samaloney — I wanted to check in with both of you about the status of your reviews. Please let us know here if there are major stoppers!

[2022-05-03 14:26] dfm commented on #4033
@changhoonhahn, @lavaux — I wanted to ping you both to make sure that this is still on your radar. Let us know here if there are major blockers to moving forward with this review. Thanks!

[2022-05-03 14:26] mgiardino commented on #4305
Dear @vipinagrawal25, after constructing the membrane, triangulating the surface, running the bin/exe_memc executable, the program gives the following console output message (multiple times): “X0 small roots may not be correct”. I'm not sure if this message shall be seriously taken into consideration, as the results are still being produced. In any case, the output stream is crowded with these mes

[2022-05-03 14:29] drobnyjt commented on #3953
Hi @arfon - I'm attending the Exascale Computing Project's annual meeting, so would not be able to start in earnest until next week. If that's okay, I'd be happy to.

[2022-05-03 14:29] slayoo commented on #4326
@editorialbot generate pdf

[2022-05-03 14:53] lavaux commented on #4033
Hi, the authors want to close https://github.com/DESI-UR/VAST/issues/72 first. When it is done I will finish my checklist.

[2022-05-03 15:05] blakeaw commented on #4304
Hi @osorensen, I have completed my review.

Overall, I think the submission looks good and can proceed with minor revisions. I raised one issue regarding the automated tests and I had one minor comment about the Software paper:

- https://github.com/ICB-DCM/pyABC/issues/565
- https://github.com/ICB-DCM/pyABC/issues/566

[2022-05-03 15:06] quintshekhar commented on #4339
@editorialbot commands

[2022-05-03 15:07] quintshekhar commented on #4339
@editorialbot check repository

[2022-05-03 15:36] slayoo commented on #4326
@dkauf42 Isn't there a naming mismatch here? JOSS paper and the GitHub repo is named `gdess`. The `README.md` mentions `pip uninstall co2_diag` but the `setup.cfg` file lists `name = e3sm_co2_diag`. All three names seem to be available on pypi.org. Why not to stick to one & register it and upload to PyPI (and adjust `setup.cfg` and `README.md` accordingly?

[2022-05-03 15:46] behollister commented on #4283
@editorialbot generate my checklist

[2022-05-03 15:54] cticenhour commented on #3953
Hi @arfon! I also would be available, but I do need to disclose that the first author on this work (David L Green) is a member of my PhD committee (*not* my dissertation advisor, however). We have not collaborated on this particular work. If this is a CoI, please let me know.

[2022-05-03 16:14] zhanghe9704 commented on #3665
Hello  @pibion,

Thanks for your reply. Have you contacted Prof. Yue Hao ***@***.***)
at Michigan State University? He may be able to help find a reviewer.

Dr. Ji Qiang ***@***.***) at Lawrence Berkeley National Lab may also be
able to help.

Another idea is to contact the developers or users of the DACE library:
https://github.com/dacelib/dace. I  think they should know about TA/TPSA.
COI: You m

[2022-05-03 16:41] kellyrowland commented on #4249
Hi @RichardClayton - I'm really sorry to hear that, and I hope your recovery is progressing along as well as it can.

For more lengthy suggestions or requests, we suggest that reviewers open issues in the code's Github repository. So, you'll want to navigate to the issues page at https://github.com/SCIInstitute/UncertainSCI/issues and create new issues there for suggestions or requests. It can be

[2022-05-03 17:20] mossr commented on #3312
Hey @mark-koren, it may make sense to cite my related JOSS paper (https://joss.theoj.org/papers/10.21105/joss.02749).
[code]

[2022-05-03 18:21] behollister commented on #4283
Posted issue for submission review: https://github.com/agdturner/ccg-v2d/issues/1

[2022-05-03 18:30] Yurlungur commented on #4367
Thanks, @lgarrison, @jzrake , @dfm . Looking forward to interacting with you during the review process.

[2022-05-03 18:43] CVHammond commented on #4362
@editorialbot generate my checklist

[2022-05-03 19:44] emdupre commented on #4313
OK, I'm going to go ahead and start the review ! Thanks for your consideration, @fepegar and @jordandekraker.

@a3sha2 and @kaczmarj, I'll open a dedicated review issue now. Thanks !

[2022-05-03 19:44] emdupre commented on #4313
@editorialbot start review

[2022-05-03 19:44] editorialbot opened #4368 "[REVIEW]: Open-Source Hypothalamic-ForniX (OSHy-X) Atlases and Segmentation Tool for 3T and 7T"
**Submitting author:** @Cadaei-Yuvxvs (<a href="http://orcid.org/0000-0002-6659-365X">Jeryn Chang</a>)
**Repository:** https://github.com/Cadaei-Yuvxvs/OSHy-X
**Branch with paper.md** (empty if default branch):
**Version:** 0.4
**Editor:** @emdupre
**Reviewers:** @a3sha2, @kaczmarj
**Archive:** 10.5281/zenodo.6874987

## Status

[![status](https://joss.theoj.org/papers/9dff6ac0bfc6c3092c8e37ee2f17

[2022-05-03 19:44] #4313 closed

[2022-05-03 19:45] jasondegraw commented on #4261
@LeonieFierz You're most welcome, I'll give the tests another try at some point this week.

[2022-05-03 19:59] kaczmarj commented on #4368
@editorialbot generate my checklist

[2022-05-03 21:17] emdupre commented on #4368
Hi  @a3sha2 and @kaczmarj 👋 Thanks again for agreeing to review this submission ! The review will take place in this issue. As you've already seen, you can generate your individual reviewer checklists by asking editorialbot directly with  `@\editorialbot generate my checklist`

In working through the checklist, you're likely to have specific feedback on OSHy-X. Whenever possible, please open relev

[2022-05-03 21:21] nasserma commented on #3742
Hi @lucydot the archive DOI is 10.5281/zenodo.6515912 and version number is v1.0.0

Thanks!

[2022-05-03 21:32] kbarnhart commented on #4320
@WEgeophysics a quick note to let you know that I've been delayed due to some unexpected caregiving responsibilities. I should be able to return to this in the next few days. Thanks for your understanding.

[2022-05-03 21:47] pdebuyl commented on #4100
@editorialbot set 0.3.2 as version

[2022-05-03 21:47] pdebuyl commented on #4100
@editorialbot set 10.5281/zenodo.6501898 as archive

[2022-05-03 21:48] pdebuyl commented on #4100
@editorialbot recommend-accept

[2022-05-03 22:29] thejackal360 commented on #4306
@editorialbot set beta as version

[2022-05-03 22:31] thejackal360 commented on #4306
Version Number: beta
DOI: 10.5281/zenodo.6514903

Are we able to change the version to "beta" for the submission? JOSS won't let us use "@editorialbot set beta as version" since we are not editors.

[2022-05-03 23:01] WEgeophysics commented on #4320
Ok Editor.

[2022-05-03 23:10] marouenbg commented on #4360
@editorialbot generate my checklist

[2022-05-03 23:16] majensen commented on #4007
@editorialbot remove @ayaanhossain as reviewer

[2022-05-03 23:16] majensen commented on #4007
@editorialbot add @dcnickle as reviewer

[2022-05-03 23:17] majensen commented on #4007
@dcnickle thanks man -

[2022-05-03 23:17] majensen commented on #4007
@editorialbot start review

[2022-05-03 23:17] editorialbot opened #4369 "[REVIEW]: Magphi: Sequence extraction tool from FASTA and GFF3 files using seed pairs"
**Submitting author:** @milnus (<a href="http://orcid.org/0000-0001-9751-9877">Magnus Jespersen</a>)
**Repository:** https://github.com/milnus/Magphi
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @majensen
**Reviewers:** @gtonkinhill, @DavidNickle
**Archive:** 10.5281/zenodo.6814768

## Status

[![status](https://joss.theoj.org/papers/a7fc4d9bcdf800adfd4dad43d2

[2022-05-03 23:17] #4007 closed

[2022-05-03 23:19] majensen commented on #4007
@milnus @gtonkinhill @dcnickle the official review has begun in issue #4369 - we will continue the conversation there. Please let me know if you have any questions about the process - either in the thread or at maj \-dot\- fortinbras \-at\- gmail \-dot\- com. Thanks!

[2022-05-04 01:53] diehlpk commented on #3390
Hi @Kevin-Mattheus-Moerman how is your review going?

[2022-05-04 01:55] diehlpk commented on #4351
Hi @SaumikDana or @thelfer or @MakrinaAgaoglou would you be interested in reviewing this paper?

[2022-05-04 03:50] kramea commented on #4131
Sorry, do not have time right now to review this properly.

[2022-05-04 07:38] pdebuyl commented on #4100
There can be only one ISSN per bib entry. You have to pick one of "online" or "print" only.

[2022-05-04 07:40] pdebuyl commented on #4329
Hi all, we may proceed the review with @andrecieplinski , the association only by being member of a funding consortium -- provided there was no direct collaboration -- is not a sufficient conflict of interest for JOSS.

[2022-05-04 07:57] mlampros commented on #4342
I've updated the code of the IceSat2R package based on the [new issue 5](https://github.com/mlampros/IceSat2R/issues/5#issuecomment-1117023790) in the Github repository.

One of these changes was related to my submitted paper. It would be wise to re-generate the paper .pdf file

@editorialbot generate pdf

[2022-05-04 08:24] leouieda commented on #4217
Thank you for the update @valentineap! Take your time and let me know if you need any guidance on any of those issues.

[2022-05-04 08:34] fraukewiese commented on #4131
Thanks @ClaraBuettner ! I will add you as reviewer. And then start the review.

[2022-05-04 08:35] fraukewiese commented on #4131
@editorialbot add @ClaraBuettner as reviewer

[2022-05-04 08:36] fraukewiese commented on #4131
@editorialbot start review

[2022-05-04 08:36] editorialbot opened #4370 "[REVIEW]: RHEIA: Robust design optimization of renewable Hydrogen and dErIved energy cArrier systems"
**Submitting author:** @DCoppitters (<a href="http://orcid.org/0000-0001-9480-2781">Diederik Coppitters</a>)
**Repository:** https://github.com/rheia-framework/RHEIA
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @fraukewiese
**Reviewers:** @andr1976, @ClaraBuettner
**Archive:** 10.5281/zenodo.6782705

## Status

[![status](https://joss.theoj.org/papers/3fd7e48

[2022-05-04 08:36] #4131 closed

[2022-05-04 08:55] antoinevacavant commented on #3920
Hi @Kevin-Mattheus-Moerman, well I missed this point, but now the title and authors have been changed according to the paper!

[2022-05-04 09:27] fasnicar commented on #4360
@editorialbot generate my checklist

[2022-05-04 10:30] lilyminium commented on #4100
Ohh, thanks for that. I've gone through them now :)

[2022-05-04 10:47] pdebuyl commented on #4100
@editorialbot recommend-accept

[2022-05-04 12:01] saigerutherford commented on #4321
@editorialbot generate my checklist

[2022-05-04 12:40] arfon commented on #4262
Just a quick update from me that I'm also emailing a few folks to see if they might be able to review this.

[2022-05-04 13:55] ctb commented on #3790
OK, well, I missed Monday but at least it's only Wednesday? 😄

This is a nicely done piece of software and a good writeup! I filed a few issues that I think should be addressed -

- [ ] provide contribution guidelines - https://gitlab.pasteur.fr/vlegrand/ROCK/-/issues/7
- [ ] add example to README - https://gitlab.pasteur.fr/vlegrand/ROCK/-/issues/6
- [ ] rename COPYING to LICENSE - https://gitlab

[2022-05-04 14:47] kyleniemeyer commented on #4143
Hi @mefuller, did you have a chance to work on your review?

@wenkailiang can you give an update on your progress? Thanks

[2022-05-04 15:01] rkurchin commented on #4306
@editorialbot set beta as version

[2022-05-04 15:02] kyleniemeyer commented on #4056
Congratulations @bauer-alex on your article's publication in JOSS!

Many thanks to @strengejacke and @jaybee84 for reviewing this, and @Nikoleta-v3 for editing.

[2022-05-04 15:06] rkurchin commented on #4306
@editorialbot recommend-accept

[2022-05-04 15:08] kyleniemeyer commented on #4357
Hello @astrojose9, following up @christinahedges comment above, the editors have reviewed your submission and unfortunately found that it does not meet JOSS's requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) to proceed for review. If this software package grows substantially in size and features in the future, we co

[2022-05-04 15:08] kyleniemeyer commented on #4357
@whedon reject

[2022-05-04 15:08] kyleniemeyer commented on #4357
@editorialbot reject

[2022-05-04 15:08] #4357 closed

[2022-05-04 15:09] kyleniemeyer commented on #4100
Congratulations @lilyminium on your article's publication in JOSS!

Many thanks to @ptmerz and @hannahbrucemacdonald for reviewing this, and @pdebuyl for editing.

[2022-05-04 15:09] #4100 closed

[2022-05-04 15:52] kyleniemeyer commented on #3671
Hi @AP6YC, I am the AEIC on duty this week doing some final checks before publishing.

I noticed that the author list of your Zenodo archive does not match the author list of the paper. Generally, these should match. Can you either clean up the author list in the Zenodo metadata or justify why these should be different?

[2022-05-04 15:58] kyleniemeyer commented on #3709
@editorialbot accept

[2022-05-04 16:17] AlexanderJuestel commented on #3709
@crvernon, thank you for serving as editor for this paper!

@omshinde, @kanishkan91, thank you very much for your reviews and the time you put in it!

We finally did it!
Alex

[2022-05-04 16:25] AP6YC commented on #3671
@kyleniemeyer Thank you for catching that! I suspect that the discrepancy exists because I folded in two PRs done by the two editors of the paper before the latest release, which pulled their names into the automatic Zenodo upload, and I overlooked adding another author to Zenodo in the first place.

I will clean up the upload metadata to correct the authors to reflect the paper. Will it be approp

[2022-05-04 16:27] kyleniemeyer commented on #3671
@AP6YC if they did not contribute to the software itself, then I think it's most appropriate to just remove them entirely, but it's up to you

[2022-05-04 16:30] kyleniemeyer commented on #3709
Congratulations @AlexanderJuestel on your article's publication in JOSS!

Many thanks to @omshinde and @kanishkan91 for reviewing this, and @crvernon for editing.

[2022-05-04 16:36] astrojose9 commented on #4357
Hello,

Regarding JOSS documentation, a substantial scholarly effort requires "Total lines of code (LOC). Submissions under 1000 LOC will usually be flagged, those under 300 LOC will be desk rejected." and "not less than three months of work for an individual" (source: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

To check the number of lines in my code I us

[2022-05-04 16:39] AP6YC commented on #3671
@kyleniemeyer gotchya; I added them as "other" contributors since they did make software contributions. The author list for the upload is fixed now. Thanks again for pointing it out!

[2022-05-04 16:39] dilawar commented on #4298
I managed to run examples by changing the default simulator to ngspice as suggested in https://github.com/openjournals/joss-reviews/issues/4298#issuecomment-1116127721. 🥳

I again run into `qt.qpa.plugin: Could not load the Qt platform plugin "xcb" in "" even though it was found.` problem as reported by @phoebe-p on a different machine. This time the solution was executing `xhost +` on the host ma

[2022-05-04 16:57] kyleniemeyer commented on #3671
@editorialbot accept

[2022-05-04 17:01] kyleniemeyer commented on #3671
Congratulations @AP6YC on your article's publication in JOSS!

Many thanks to @aaronpeikert and @hayesall for reviewing this, and @adi3 for editing.

[2022-05-04 17:14] mefuller commented on #4143
@kyleniemeyer you wrote as I am working on it (which is still no excuse for my tardiness)

[2022-05-04 17:15] kyleniemeyer commented on #4098
@editorialbot recommend-accept

[2022-05-04 17:15] kyleniemeyer commented on #4143
@mefuller thanks!

[2022-05-04 17:17] mefuller commented on #4143
I have requested some updates to the documentation/clarifications so that I can better test and examine the software, but this looks to be a very good submission

[2022-05-04 17:26] kyleniemeyer commented on #4098
Hi @conorheins, I'm the AEIC on duty this week doing some final checks.

In your article, can you remove the explicit arXiv URL from the end of the statement of need section? The citation you included is sufficient and includes the URL.

Similarly, the article already links to the software repository, so I think you should remove the URL pointing to that in the same paragraph. If you really want t

[2022-05-04 17:59] kyleniemeyer commented on #4143
@mefuller great, thank you! Is your reviewer checklist at the top up to date? (Feel free to leave anything unchecked for now as you wait for those issues to be resolved.)

[2022-05-04 18:00] kyleniemeyer commented on #4143
@cartemic Can you address @mefuller's comments (left as issues https://github.com/cartemic/pypbomb/issues/7 and https://github.com/cartemic/pypbomb/issues/8) and let me know here when those are resolved?

[2022-05-04 18:24] gdetor commented on #4306
@kyleniemeyer Thank you for pointing that out. We added the missing DOI.

[2022-05-04 18:26] kyleniemeyer commented on #4306
@editorialbot generate pdf

[2022-05-04 18:30] luizirber commented on #4006
@editorialbot add @rcannood as reviewer

[2022-05-04 18:31] luizirber commented on #4006
Thanks @rcannood for accepting the invite to review!

[2022-05-04 18:31] luizirber commented on #4006
@editorialbot start review

[2022-05-04 18:31] editorialbot opened #4371 "[REVIEW]: anndata: Access and store annotated data matrices"
**Submitting author:** @falexwolf (<a href="http://orcid.org/0000-0002-8760-7838">F. Alexander Wolf</a>)
**Repository:** https://github.com/scverse/anndata
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.10.9
**Editor:** @luizirber
**Reviewers:** @nlhepler, @rcannood
**Archive:** 10.5281/zenodo.13643180

## Status

[![status](https://joss.theoj.org/papers/8b1f66b60f7af653c

[2022-05-04 18:31] #4006 closed

[2022-05-04 18:35] nlhepler commented on #4371
@editorialbot generate my checklist

[2022-05-04 18:38] kyleniemeyer commented on #4306
@editorialbot accept

[2022-05-04 18:42] kyleniemeyer commented on #4306
Congratulations @gdetor on your article's publication in JOSS!

Many thanks to @tpurcell90 and @danaraujocr for reviewing this, and @rkurchin for editing it.

[2022-05-04 18:42] #4306 closed

[2022-05-04 18:43] kyleniemeyer commented on #4200
@editorialbot accept

[2022-05-04 18:45] rcannood commented on #4371
@editorialbot generate my checklist

[2022-05-04 18:56] luizirber commented on #4371
@editorialbot set paper as branch

[2022-05-04 18:57] luizirber commented on #4371
@editorialbot generate pdf

[2022-05-04 19:06] joshwlambert commented on #4361
Hi @Bisaloo 😃 I do not have anyone personally in mind, but searching through the list of available JOSS reviewers it seems shaunpwilkinson, vbaliga and dombennett would be suitable reviewers given their programming language of choice and research topics.

[2022-05-04 19:12] pdebuyl commented on #4077
@editorialbot check references

[2022-05-04 19:13] pdebuyl commented on #4077
@editorialbot set master as branch

[2022-05-04 19:16] pdebuyl commented on #4077
@editorialbot generate pdf

[2022-05-04 19:32] kyleniemeyer commented on #4200
Congratulations @wojdyr on your article's publication in JOSS!

Many thanks to @jamesrhester and @dominiquesydow for reviewing this, and @kellyrowland for editing.

[2022-05-04 19:32] #4200 closed

[2022-05-04 19:42] rlskoeser commented on #4328
@danielskatz question about the license: it's described in the readme as a "a BSD/MIT type license" but I don't think it's actually any of the licenses on the OSI list.

Here's the full description in the readme:

Please advise.

[2022-05-04 19:46] kyleniemeyer commented on #4207
Hi @zhenwu0728, I'm the AEIC on duty doing some final checks before publishing.

In your article, could you

Also, It looks like there is actually a JOSS article on Agents.jl you should probably cite (https://doi.org/10.21105/joss.01611), perhaps in addition to the newer article you do cite.

[2022-05-04 19:59] danielskatz commented on #4328
It's almost https://opensource.org/licenses/BSD-3-Clause but not quite, and not quite isn't good enough, as it's not an OSI-approved license then.

@mhucka, can you remove line 2 ("All rights not granted herein are expressly reserved by Caltech.") from the license files?

And change the readme to say that this uses the 3-Clause BSD License, rather than "a BSD/MIT type license"?

[2022-05-04 20:00] cartemic commented on #4143
@kyleniemeyer Sure thing! I'll have a look and get started on those issues tonight after work. Thanks @mefuller!

[2022-05-04 20:02] wojdyr commented on #4200
Thanks a lot @jamesrhester @dominiquesydow @kellyrowland and @kyleniemeyer !

[2022-05-04 20:04] zhenwu0728 commented on #4207
@editorialbot generate pdf

[2022-05-04 20:06] kellyrowland commented on #4200
Congratulations @wojdyr ! 🎉

[2022-05-04 20:09] zhenwu0728 commented on #4207
Thanks @kyleniemeyer! I've added the citation you mentioned and also changed the "e.g.,"

[2022-05-04 20:18] kyleniemeyer commented on #4207
@editorialbot accept

[2022-05-04 20:42] zhenwu0728 commented on #4207
Thanks a lot! @elbeejay @Datseris @BrodiePearson @kyleniemeyer

[2022-05-04 20:53] kyleniemeyer commented on #4207
Congratulations @zhenwu0728 on your article's publication in JOSS!

Many thanks to @Datseris and @BrodiePearson for reviewing this, and @elbeejay for editing.

[2022-05-04 20:53] #4207 closed

[2022-05-04 20:59] kyleniemeyer commented on #4339
Hello @quintshekhar, unfortunately the JOSS editorial board has found that your submission does not meet our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) to be reviewed, due to the relatively small size of your software package.

We recommend you consider other venues for receiving credit for your software, such

[2022-05-04 20:59] kyleniemeyer commented on #4339
@editorialbot reject

[2022-05-04 20:59] #4339 closed

[2022-05-04 21:25] conorheins commented on #4098
Hi @kyleniemeyer, thanks for the final checks. I have made the changes you requested, let me know if anything else needs fixing.

[2022-05-04 21:29] kyleniemeyer commented on #4098
@editorialbot generate pdf

[2022-05-04 21:31] kyleniemeyer commented on #4353
Hello @AlexisRenchon, unfortunately the JOSS editorial board has found that your submission does not meet our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) to be reviewed, due to the relatively small size of your software package.

We recommend you consider other venues for receiving credit for your software, suc

[2022-05-04 21:31] kyleniemeyer commented on #4353
@editorialbot reject

[2022-05-04 21:31] #4353 closed

[2022-05-04 21:32] kyleniemeyer commented on #4340
Hello @SYalouz, unfortunately the JOSS editorial board has found that your submission does not meet our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) to be reviewed, due to the relatively small size of your software package.

We recommend you consider other venues for receiving credit for your software, such as f

[2022-05-04 21:32] kyleniemeyer commented on #4340
@editorialbot reject

[2022-05-04 21:33] kyleniemeyer commented on #4098
@editorialbot accept

[2022-05-04 21:33] editorialbot opened #4372 "[PRE REVIEW]: cntext: a Python tool for text mining"
**Submitting author:** @hiDadeng (<a href="http://orcid.org/0000-0001-7391-8865">Xudong Deng</a>)
**Repository:** https://github.com/hidadeng/cntext
**Branch with paper.md** (empty if default branch):
**Version:** 1.6.3
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/0194b85bd2123f0192a9b36c11ddb73e/status.svg)](https:

[2022-05-04 21:35] kyleniemeyer commented on #4372
Hello @hiDaDeng, thanks for your interest in JOSS. Due to the relatively small size of your software package, the editorial board is going to review it to see if it meets our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), which should hopefully take around a week.

[2022-05-04 21:35] kyleniemeyer commented on #4372
@editorialbot query scope

[2022-05-04 21:37] editorialbot opened #4373 "[PRE REVIEW]: BifacialSimu: Hollistic Simulation of large-scale Bifacial Photovoltaic Systems"
**Submitting author:** @EwaGomez (<a href="http://orcid.org/0000-0002-7826-3754">Eva-Maria Grommes</a>)
**Repository:** https://github.com/cire-thk/BifacialSimu
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @rkurchin
**Reviewers:** @sidihamady, @kanderso-nrel
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/0dc876c447eb1ef87

[2022-05-04 21:37] kyleniemeyer commented on #4373
@editorialbot invite @fraukewiese as editor

[2022-05-04 21:37] kyleniemeyer commented on #4373
Hi @fraukewiese, could you edit this submission?

[2022-05-04 21:38] kyleniemeyer commented on #4373
Hello @EwaGomez, we will use this issue to assign an editor to handle your submission and also identify reviewers. Could you take a look at the potentially missing DOI in your article pointed out above? Also, any reviewer suggestions would be welcome.

[2022-05-04 21:38] editorialbot opened #4374 "[PRE REVIEW]: NeoViewer: Visualising Electrophysiology Data"
**Submitting author:** @aopy (<a href="http://orcid.org/0000-0001-7885-9059">Onur ATES</a>)
**Repository:** https://github.com/NeuralEnsemble/neo-viewer
**Branch with paper.md** (empty if default branch): paper
**Version:** 1.4.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/0ab899c4594f89bd675568ea90b03db1/status.sv

[2022-05-04 21:40] kyleniemeyer commented on #4374
Hi @aopy, thanks for your interest in JOSS. Since submissions that focus purely on visualization often fall outside our definition of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software), the editorial board is going to review your submission before it proceeds to review. This should hopefully take around a week.

[2022-05-04 21:40] kyleniemeyer commented on #4374
@editorialbot query scope

[2022-05-04 21:41] editorialbot opened #4375 "[PRE REVIEW]: villager: A framework for designing and executing agent-based models in R"
**Submitting author:** @thomasthelen (<a href="http://orcid.org/0000-0002-1756-2128">Thomas Thelen</a>)
**Repository:** https://github.com/zizroc/villager
**Branch with paper.md** (empty if default branch): paper
**Version:** 1.1.2
**Editor:** @marcosvital
**Reviewers:** @chrisaberson, @brunomontezano, @thodson-usgs
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/pape

[2022-05-04 21:43] editorialbot opened #4376 "[PRE REVIEW]: FirstPassageTools.jl: A Julia package for first-passage time problems for continuous-time, discrete-state Markov processes"
**Submitting author:** @garrett-m-smith (<a href="http://orcid.org/0000-0001-7238-3942">Garrett Smith</a>)
**Repository:** https://github.com/garrett-m-smith/FirstPassageTools.jl
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/528598b3e7ea85ea8ec19c

[2022-05-04 21:43] kyleniemeyer commented on #4375
@editorialbot invite @Bisaloo as editor

Hi @Bisaloo, could you edit this submission?

[2022-05-04 21:48] kyleniemeyer commented on #4376
Hello @garrett-m-smith, thanks for your interest in JOSS. Due to the relatively small size of your software package, the editorial board is going to review your submission to see if it meets our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This should hopefully take about a week.

[2022-05-04 21:48] kyleniemeyer commented on #4376
@editorialbot query scope

[2022-05-04 21:52] richardjgowers commented on #4289
Sorry, probably a bit out of my area this time

[2022-05-04 21:56] kyleniemeyer commented on #4098
Congratulations @conorheins on your article's publication in JOSS! ([Conor Heins](http://orcid.org/0000-0002-5884-7728))

Many thanks to @seankmartin and @patrickmineault for reviewing this, and @emdupre for editing.

[2022-05-04 21:56] #4098 closed

[2022-05-04 21:56] AP6YC commented on #3527
@malmaud @rMassimiliano Thank you for your patience. I've at last checked off the list of final concerns above and hope that the updates to the paper and documentation are to your liking:
1. The stable docs are back up.
2. The quickstart is trimmed up and elucidated with practical usage.
3. The full index is much better organized.
4. The paper now contains a target audience, comparison to existing

[2022-05-04 22:20] conorheins commented on #4098
Thanks very much (on behalf of all the authors) for the great news, and thank you again @seankmartin and @patrickmineault for your helpful reviews. And finally many thanks @emdupre for all your help/patience during the review process!

[2022-05-04 22:28] ThomasThelen commented on #4375
Potential reviewers:
brunomontezano
babakmohammadi
thodson-usgs
MoLi7
chrisaberson

[2022-05-04 22:51] danhey commented on #3331
@editorialbot generate pdf

[2022-05-05 02:56] stsievert commented on #4271
@diehlpk I changed my mind. I can do it, but it won't be prompt or even quick.

[2022-05-05 03:14] diehlpk commented on #4271
@editorialbot add @stsievert as reviewer

[2022-05-05 03:14] diehlpk commented on #4271
@editorialbot start review

[2022-05-05 03:14] editorialbot opened #4377 "[REVIEW]: PyCUTEst: an open source Python package of optimization test problems"
**Submitting author:** @jfowkes (<a href="http://orcid.org/0000-0002-8048-4572">Jaroslav Fowkes</a>)
**Repository:** https://github.com/jfowkes/pycutest
**Branch with paper.md** (empty if default branch):
**Version:** v1.4
**Editor:** @diehlpk
**Reviewers:** @stsievert, @jonjoncardoso
**Archive:** 10.5281/zenodo.7244291

## Status

[![status](https://joss.theoj.org/papers/d1664af7c708cd78b5478beaa

[2022-05-05 03:14] #4271 closed

[2022-05-05 04:26] danhey commented on #3331
@editorialbot set master as branch

[2022-05-05 04:26] danhey commented on #3331
@editorialbot generate pdf

[2022-05-05 05:09] danhey commented on #3331
Hi all, sorry for my fiddling with editorialbot. It doesn't seem to want to output the latest paper version.

In any case, @ashleychontos, many thanks for addressing the majority of our issues. I do believe that unit tests are a crucial aspect of software development, more so for what I expect to be a widely used package. Right now, it looks like PySyd has a tests/ folder, but these are copied fro

[2022-05-05 05:09] wenkailiang commented on #4143
@kyleniemeyer Sorry about the late response. I will update my comments here asap.

[2022-05-05 05:58] wenkailiang commented on #4143
@kyleniemeyer @cartemic This is a nice contribution to the community. The package could be very useful for the design of detonation tube. Just a few comments:

- The method used in the DDT estimation is not very clear to me (it might be due to my lack of knowledge in this area). Some equations from the Ciccarelli and Dorofeev work might be added to the manuscript.

- Is it possible to include the

[2022-05-05 05:59] wenkailiang commented on #4143
@kyleniemeyer Also, I haved updated the checklist. Thanks.

[2022-05-05 07:26] d-eggert commented on #4052
@martinfleis did you find a new reviewer?

[2022-05-05 08:04] falexwolf commented on #4006
Thank you for reviewing the paper, @rcannood and @nlhepler!

[2022-05-05 08:07] hpesonen commented on #4304
@editorialbot generate my checklist

[2022-05-05 08:20] zoometh commented on #4335
@editorialbot generate my checklist

[2022-05-05 08:28] Chiil commented on #3896
Sorry for the slow action, but I wanted to complete my review today, but have I been removed due to the delay? I cannot find back my checklist.

[2022-05-05 08:31] Bisaloo commented on #4361
Hi @shaunpwilkinson  :wave:, you signed up a while ago to review submissions to JOSS. Both the author and I think you would be a good fit for this submission. Would you be available to review this [R package](https://github.com/joshwlambert/DAISIEmainland) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04361/joss.04361/10.21105.joss.04361.pdf)?

[2022-05-05 08:31] zoometh commented on #4335
@editorialbot commands

[2022-05-05 08:32] Bisaloo commented on #4361
Hi @TGuillerme :wave:, you are in our list of potential reviewers for JOSS. This submission seems in line with your interests. Would you be available to review this [R package](https://github.com/joshwlambert/DAISIEmainland) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04361/joss.04361/10.21105.joss.04361.pdf)?

[2022-05-05 08:36] Chiil commented on #3896
The software is awesome and installs well out of the box and the Jupyter notebook examples work well. I do get a lot of deprecation warnings though in some of the examples. For instance the `advection_diffusion_1d` notebook give me a lot of warnings like
[code]

[2022-05-05 09:02] Chiil commented on #3896
I have tested all examples, and the only one that did not work (and I hope the problem is not on my Julia installation side) is the Julia one. I have tested the code from the Appendix of `paper.md` and got:
[code]

[2022-05-05 09:05] Chiil commented on #3896
Furthermore, I have not checked the "State of the field" box, because the paper does not contain a comparison against other packages that can solve advection diffusion equations. It does show a nice overview though in the `README.md` of other packages that can do the same. A small comparison highlighting the benefits of PyMPDATA could improve the paper.

[2022-05-05 09:07] Chiil commented on #3896
And for curiousity, what are the prospect of running this package on GPUs, given that `numba` is also improving its GPU support.

[2022-05-05 09:07] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant it seems that the title for https://zenodo.org/record/6513517 still has not been amended. Can you do this and let me know when it is done? Thanks. FYI if you wanted to add ORCID details for the authors (not a requirement but an option for you) you should be able to do that for the ZENODO archive too.

[2022-05-05 09:08] Chiil commented on #3896
Let me close by apologize for the long time it took me to review the material. It is a great piece of work and I am sorry for the delay in publication.

[2022-05-05 09:40] lucydot commented on #4298
Thanks for the update @dilawar.

Software examples/tutorials are often useful for assessing `Have the functional claims of the software been confirmed?` in the review checklist - so it's great news that you have been able to execute them all :)

@miesli it seems to me that some of the installation/dependancies lessons-learnt from @dilawar and @phoebe-p might be useful to your user community. I can

[2022-05-05 09:51] lucydot commented on #3742
@editorialbot set 10.5281/zenodo.6515912 as archive

[2022-05-05 09:52] lucydot commented on #3742
@editorialbot set v1.0.0 as version

[2022-05-05 09:53] lucydot commented on #3742
@editorialbot recommend-accept

[2022-05-05 09:55] mscroggs commented on #3982
@wence- Thanks for your comments. We've made some changes to the paper, I'll rebuilt it here once the CI has finished running and I've merged it.

I've made the docs builder copy this info when building the website docs (https://github.com/FEniCS/basix/pull/484)

Thanks for the suggested references, this was very helpful. We've added us much information as we can about other libraries based on wha

[2022-05-05 10:10] mscroggs commented on #3982
@whedon generate pdf

[2022-05-05 10:10] mscroggs commented on #3982
@editorialbot generate pdf

[2022-05-05 10:11] NRaillard commented on #4366
@editorialbot generate pdf

[2022-05-05 11:18] stsievert commented on #4377
@editorialbot generate my checklist

[2022-05-05 12:28] arfon commented on #3953
@editorialbot add @drobnyjt as reviewer

[2022-05-05 12:28] arfon commented on #3953
@editorialbot add @cticenhour as reviewer

Thank you for flagging this @cticenhour. I'm happy to waive this possible conflict.

[2022-05-05 12:29] arfon commented on #3953
@editorialbot start review

[2022-05-05 12:29] editorialbot opened #4378 "[REVIEW]: ASGarD: Adaptive Sparse Grid Discretization"
**Submitting author:** @quantumsteve (<a href="http://orcid.org/0000-0002-2018-7904">Steven Hahn</a>)
**Repository:** https://github.com/project-asgard/asgard
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.4.0
**Editor:** @arfon
**Reviewers:** @joglekara, @drobnyjt, @cticenhour
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/dbc8b3d352b73a460d8c

[2022-05-05 12:29] #3953 closed

[2022-05-05 12:29] arfon commented on #3953
@joglekara, @drobnyjt, @cticenhour – see you over in #4378 where the actual review will take place!

[2022-05-05 12:30] arfon commented on #4378
@editorialbot set paper as branch

[2022-05-05 12:55] hpesonen commented on #4304
@osorensen Hi! I've finished the review. Submissions looks good, I've asked for only minor revisions in https://github.com/ICB-DCM/pyABC/issues/570

I also agree with https://github.com/ICB-DCM/pyABC/issues/566

[2022-05-05 13:06] ajstewartlang commented on #4212
@rbturnbull just to summarise - option 1 is increasing the geographic scope of the seifa module vs option 2 which is removing the seifa content and putting that in a separate submission.  If increasing the scope of the seifa module was easy enough to do, this would probably be the way to go - mainly because it would increase the contribution of the present submission. But if this approach isn't st

[2022-05-05 13:06] martinfleis commented on #4052
@d-eggert Not yet. I am sorry for the delays but I wanted to give @sk1p time to respond before looking for another reviewer.

[2022-05-05 13:10] NRaillard commented on #4366
@editorialbot generate pdf

[2022-05-05 13:19] arfon commented on #4378
@editorialbot check references

[2022-05-05 13:20] arfon commented on #4378
@joglekara, @drobnyjt, @cticenhour – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above. Please create your checklist typing:

[code]

As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelin

[2022-05-05 13:23] sairamgeethanath commented on #4278
@osorensen I will get this done the week after ISMRM (13th May).

[2022-05-05 13:27] osorensen commented on #4278
Thanks @sairamgeethanath!

[2022-05-05 13:27] dfm commented on #4301
@editorialbot add @gregbryan as reviewer

🎉 Thanks @gregbryan for agreeing to review this submission! I'm still working on finding a second reviewer, and once I have that lined up we'll get the main review started.

[2022-05-05 13:28] osorensen commented on #4304
Thanks @hpesonen!

@yannikschaelte, please let us know when you have addressed the issues raised by the reviewer.

[2022-05-05 14:05] kanderso-nrel commented on #4373
Howdy, I want to quickly point out a couple things:
- pvfactors and bifacial_radiance are both BSD-3 licensed, which I understand to mean their license texts must accompany any source code taken from their codebases.  Unless I missed it, neither of their license files are currently present in the bifacialsimu repo.
- Since pvlib is used in bifacialsimu itself as well as in the underlying bifacial

[2022-05-05 14:13] antoinevacavant commented on #3920
@Kevin-Mattheus-Moerman everything's fine now! ;)

[2022-05-05 14:14] tisaac commented on #3982
I find the paper improved since @wence-'s suggestions were incorporated.

I found once instance of jargon that I felt needed clarifiying in the documentation, but I do not consider this an acceptance blocker (FEniCS/basix#485).

[2022-05-05 14:17] Kevin-Mattheus-Moerman commented on #3920
@editorialbot recommend-accept

[2022-05-05 14:57] miesli commented on #4298
@lucydot yes, this is a good point. I will collect all the stuff @phoebe-p and @dilawar found in the documentation. But this will not happen this week, as my calendar is already a little dense. Hopefully I can stuff it in at the start of next week. Is this ok for you? I will have to sort the different issues to regarding the OS and if it is run inside a docker container. I will also link to the gr

[2022-05-05 15:15] Kevin-Mattheus-Moerman commented on #3920
@editorialbot accept

[2022-05-05 15:42] zarrarkhan commented on #4015
Hi @hugoledoux,
Just checking in to see if we can provide any more information or help move things ahead with the review.
Thanks for your management of the process!
Best
Zarrar

[2022-05-05 15:54] volkerschmid commented on #4206
@editorialbot generate my checklist

[2022-05-05 15:55] volkerschmid commented on #4206
Sorry the review got delayed due to Covid infections in my family. I'll get to it ASAP.

[2022-05-05 16:39] meg-simula commented on #4012
@editorialbot add @meg-simula as reviewer

[2022-05-05 16:43] KedoKudo commented on #4333
@lucydot I did my first round of review and here are my questions for the authors:

- Is it possible to rename the default branch from `master` to `main`?

- After going through the git history and the manuscript, the contribution of Sven Schroeder and Gunjen Das is still unclear to me.  Perhaps the author could provide a little bit more information on their contribution to the project.

- Where c

[2022-05-05 16:54] meg-simula commented on #4012
@cgurrr I've added one issue regarding missing dependencies, let me know if you resolve this (so that I can test the demos).

[2022-05-05 18:24] appukuttan-shailesh commented on #4374
While we wait and look forward to the decision of the review process, we are keen to highlight why we believe the present submission should satisfy the criteria required for submission to JOSS:

NeoViewer significantly contributes towards making scientific data more accessible. A large number of file formats currently are employed for storing neurophysiology data, a mix of proprietary and open for

[2022-05-05 18:48] kyleniemeyer commented on #4374
Hi @appukuttan-shailesh, thank you for the additional context. However, I am not concerned about the level of effort/size of the software, but instead whether it meets our requirement for research software:

Generally an API does not meet our requirements, nor does a tool solely focused on visualization. If your software is doing additional analysis along with the visualization, that would likely

[2022-05-05 18:52] kyleniemeyer commented on #4143
@wenkailiang thank you! I noticed a number of unchecked boxes still, that your comments just now do not address. Do you have concerns in those areas too?

[2022-05-05 19:14] editorialbot opened #4379 "[PRE REVIEW]: unifir: A Unifying API for Working with Unity in R"
**Submitting author:** @mikemahoney218 (<a href="http://orcid.org/0000-0003-2402-304X">Michael Mahoney</a>)
**Repository:** https://github.com/ropensci/unifir
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.2.0
**Editor:** @kyleniemeyer
**Reviewers:** @kyleniemeyer
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/455deba7561f6777691d40c

[2022-05-05 19:16] kyleniemeyer commented on #4379
Hi @mikemahoney218, I see your submission was already accepted by rOpenSci. That's great! However, this may not quite meet our requirements for [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software), so the editorial board is going to take a look. This should hopefully take about a week; any additional context/justification you can give would b

[2022-05-05 19:16] kyleniemeyer commented on #4379
@editorialbot query scope

[2022-05-05 19:17] kyleniemeyer commented on #3428
@cwentland0 unfortunately it looks like we might need to find another reviewer. I will send out a few requests.

[2022-05-05 19:18] kyleniemeyer commented on #3428
Hello @tupi @dlagrava @ctdegroot would any of you be available to review this submission for JOSS? It's been under review for a while now, with one complete review. Thanks!

[2022-05-05 19:22] mikemahoney218 commented on #4379
Happily! I'd point to the section under "why do this": https://github.com/ropensci/unifir#why-do-this as well as to the realm of IVE research (papers from my group include our work with {terrainr} -- https://www.mm218.dev/papers/vrs_2021.pdf and https://joss.theoj.org/papers/10.21105/joss.04060 ; research from other groups includes https://link.springer.com/article/10.1007/s42489-020-00069-6 https

[2022-05-05 20:06] mikemahoney218 commented on #4379
I should also mention that I bring up {terrainr} because JOSS has already published software from our group that produces IVEs ( https://joss.theoj.org/papers/10.21105/joss.04060 ) -- {unifir} is a direct extension of that work, and we believe it qualifies as research software for the same reasons that {terrainr} did back in January.

[2022-05-05 20:58] eloisabentivegna commented on #4173
Thanks @abhimaniyar, and congratulations to the authors for a successful review.

Let's start with the prepublication process.

[2022-05-05 20:59] eloisabentivegna commented on #4173
@editorialbot generate pdf

[2022-05-05 22:00] eloisabentivegna commented on #4173
@editorialbot generate pdf

[2022-05-05 22:04] eloisabentivegna commented on #4173
@arfon, do you know what might cause the error above?

[2022-05-05 22:05] mhucka commented on #4328
Well, hmmm, this _was_ handed down to us by the institute's IP devision, but nevertheless, I'm asking if this policy can be revisited. I'll apprise people here of the answer once I know something.

[2022-05-05 22:55] omtazi commented on #4211
Sorry for the late response, I've been a bit busy lately. I'm hoping to be done by next week on the review

[2022-05-05 22:58] danhey commented on #4343
### Intro Comments:

- Thanks for inviting me to review `tomso`. This is a nice piece of software and a solid JOSS submission that will bridge the gap between the different stellar evolution code models. I've been playing around with the code for a while and it all runs nicely. My only issues relate to some lacking documentation and comparisons to other similar codes. I discuss these below.

### I

[2022-05-05 23:01] kyleniemeyer commented on #4379
@mikemahoney218 thanks for that!

[2022-05-05 23:03] WEgeophysics commented on #4320
Thanks Editor for the time you took for understanding the software despite your many responsibilities. The software development starts in 2020 and the paper is published last month. We think according to the details your provided for JOSS scholarly submission criteria, we thought rewriting the paper properly, focusing on one substantial aspect and waiting for three month later before resubmitting,

[2022-05-05 23:12] wtgee commented on #4302
Thanks @gully, things look good on my end.

@xuanxu my review is complete as well. Thanks!

[2022-05-06 00:30] danielskatz commented on #4328
Ok - @mhucka, just so that it's clear, we can't publish this work without an OSI-approved license

[2022-05-06 00:31] mhucka commented on #4328
Yup, understood.

[2022-05-06 01:56] chrisaberson commented on #4280
@jbytecode

I'm not familiar with the review process here. Is this the review I am to respond to? Happy to do so and please with the suggestions and support of the reviewers. Just not sure of the process.

[2022-05-06 02:33] wenkailiang commented on #4143
@kyleniemeyer These are just items I'm not very sure about, so I just left them unchecked, not meaning I have concerns in these. Thanks.

[2022-05-06 02:44] editorialbot opened #4380 "[PRE REVIEW]: pybdshadow: a python package for generating, analyzing and visualizing building shadows"
**Submitting author:** @ni1o1 (<a href="http://orcid.org/0000-0003-2513-2969">Qing Yu</a>)
**Repository:** https://github.com/ni1o1/pybdshadow
**Branch with paper.md** (empty if default branch):
**Version:** v0.3.2
**Editor:** @martinfleis
**Reviewers:** Pending
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/9d4c2bf5285cffed1be3065ad7da94dd/status.svg)](https:

[2022-05-06 02:48] ni1o1 commented on #4380
@editorialbot check references

[2022-05-06 02:51] ni1o1 commented on #4380
@editorialbot generate pdf

[2022-05-06 02:56] kyleniemeyer commented on #4380
@whedon invite @martinfleis as editor

Hi @martinfleis, could you edit this one?

[2022-05-06 02:58] kyleniemeyer commented on #4380
@editorialbot  invite @martinfleis as editor

Hi @martinfleis, could you edit this one?

[2022-05-06 03:18] kyleniemeyer commented on #4380
@editorialbot invite @martinfleis as editor

[2022-05-06 03:39] cartemic opened #4381 "Add DDT run-up equations to paper"
@kyleniemeyer @cartemic This is a nice contribution to the community. The package could be very useful for the design of detonation tube. Just a few comments:

- The method used in the DDT estimation is not very clear to me (it might be due to my lack of knowledge in this area). Some equations from the Ciccarelli and Dorofeev work might be added to the manuscript.

- Is it possible to include the

[2022-05-06 03:39] #4381 closed

[2022-05-06 03:40] cartemic commented on #4381
Well that was dumb of me. Thanks robot :wave:

[2022-05-06 03:52] cartemic commented on #4143
@wenkailiang thanks for your comments! I've opened an issue to include equations for DDT run-up estimation in the paper (cartemic/pypbomb#10).

Non-ideal effects are not currently within the scope of pypbomb as presented here, however they could be included in a future version by exposing the option for phase specification to the user in more places (e.g. the `sd` module). Currently phase specific

[2022-05-06 04:13] gtonkinhill commented on #4369
@editorialbot generate my checklist

[2022-05-06 05:10] wenkailiang commented on #4143
@cartemic Thank you for the responses!

[2022-05-06 05:18] jbytecode commented on #4280
@chrisaberson - yes, please consider reviewers' suggestions and respond them using this thread.

[2022-05-06 06:13] garrett-m-smith commented on #4376
Hi @kyleniemeyer , thanks for the very quick update! Please let me know if you or the other editors have any questions about the code, etc. Thanks!

[2022-05-06 06:33] mikldk commented on #4159
@acolum, @stensy: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-05-06 06:55] mscroggs commented on #3982
@wence- @tisaac Thanks both! I've made both these changes in https://github.com/FEniCS/basix/pull/486

[2022-05-06 07:20] jbytecode commented on #4280
@chrisaberson - First you can start with correcting the suggestions of @62442katieb and please report here your changes, mention your commits so we can go on with the further suggestions

[2022-05-06 07:31] askuric commented on #4232
Hey @ixjlyons and @sea-bass,
Thank you very much for your insightful and supporting reviews!

@sea-bass
With the new release of the library we've spent some time on the gifs/moving images and made them a lot more clear. Thank you for the suggestion.
We'll also consider adding more functionality unitary testing, but for now as the code is intended to be run on different MCU architectures and interf

[2022-05-06 07:52] chartgerink commented on #4310
@editorialbot add @daviddewhurst as reviewer

[2022-05-06 07:57] xuanxu commented on #4302
@wtgee Thank you!

[2022-05-06 07:57] xuanxu commented on #4302
@editorialbot generate pdf

[2022-05-06 07:58] xuanxu commented on #4302
@editorialbot check references