[2019-05-03 08:57] xuanxu commented on #1424
@whedon assign @Juanlu001 as reviewer

[2019-05-03 08:57] whedon commented on #1424
OK, the reviewer is @Juanlu001

[2019-05-03 08:58] xuanxu commented on #1424
@whedon start review

[2019-05-03 08:58] whedon opened #1426 "[REVIEW]: sbpy: A Python module for small-body planetary astronomy"
**Submitting author:** @mommermi (<a href="http://orcid.org/0000-0002-8132-778X">Michael Mommert</a>)
**Repository:** <a href="https://github.com/NASA-Planetary-Science/sbpy" target ="_blank">https://github.com/NASA-Planetary-Science/sbpy</a>
**Version:** v0.1.1
**Editor:** @xuanxu
**Reviewer:** @Juanlu001
**Archive:** <a href="https://doi.org/10.5281/zenodo.3252172" target="_blank">10.5281/zenodo

[2019-05-03 08:58] whedon commented on #1424
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1426. Feel free to close this issue now!

[2019-05-03 08:58] whedon commented on #1426
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Juanlu001 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-05-03 08:58] whedon commented on #1426
[code]

[2019-05-03 08:59] xuanxu commented on #1424
@Juanlu001, please head over to #1426 for the actual review

[2019-05-03 08:59] #1424 closed

[2019-05-03 09:00] Juanlu001 commented on #1426
Before I finish a proper review:

The license is stated in the README and also in https://github.com/NASA-Planetary-Science/sbpy/blob/master/licenses/LICENSE.rst. Not what I expected, but I guess it should be enough.

[2019-05-03 10:40] darogan commented on #1423
@jlincbio Thanks for fixing it, PDF looks great, all references OK.

@lpantano I'm happy with the software/paper - shall I close the issue to complete the review?

[2019-05-03 10:49] dpzwick commented on #1400
@whedon generate pdf

[2019-05-03 10:49] whedon commented on #1400
[code]

[2019-05-03 10:49] whedon commented on #1400
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01400/joss.01400/10.21105.joss.01400.pdf)

[2019-05-03 10:50] kmichael08 commented on #1389
@whedon generate pdf

[2019-05-03 10:50] whedon commented on #1389
[code]

[2019-05-03 10:51] whedon commented on #1389
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01389/joss.01389/10.21105.joss.01389.pdf)

[2019-05-03 10:51] dpzwick commented on #1400
@whedon generate pdf

[2019-05-03 10:51] whedon commented on #1400
[code]

[2019-05-03 10:52] whedon commented on #1400
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01400/joss.01400/10.21105.joss.01400.pdf)

[2019-05-03 10:54] dpzwick commented on #1400
The paper has been updated. Thanks!

[2019-05-03 10:59] kmichael08 commented on #1389
Thanks a lot @janfreyberg and @katyhuff!

* I added the citation to the R package
* You're right about the requirements. I kept only essential dependencies in `requirements.txt` and moved others to `requirements-dev.txt` if that's ok. As for the tensorflow, it is required although not directly imported. There is a test using keras, and this needs some backend DL library (tensorflow here).

So, as

[2019-05-03 11:19] arfon commented on #1053
Thanks @jason-neal - one more thing - could you please update the authors on the Zenodo archive to match those of the paper? I'm currently listed as an author 😁

[2019-05-03 11:19] justinalsing commented on #1157
Yes, thanks @taqtiqa-mark @Chilipp @danielskatz for your work and patience!

@danielskatz I've archived with Zenodo as advised - here's the DOI

[![DOI](https://zenodo.org/badge/148547735.svg)](https://zenodo.org/badge/latestdoi/148547735)

and the new version number is v1.1

[2019-05-03 11:26] danielskatz commented on #1157
@whedon set archive 10.5281/zenodo.2660704

[2019-05-03 11:27] danielskatz commented on #1157
@whedon set 10.5281/zenodo.2660704 as archive

[2019-05-03 11:27] whedon commented on #1157
OK. <a href="https://doi.org/10.5281/zenodo.2660704" target="_blank">10.5281/zenodo.2660704</a> is the archive.

[2019-05-03 11:27] danielskatz commented on #1157
@whedon set 1.1 as version

[2019-05-03 11:27] whedon commented on #1157
OK. 1.1 is the version.

[2019-05-03 11:27] danielskatz commented on #1157
@whedon accept

[2019-05-03 11:27] whedon commented on #1157
[code]

[2019-05-03 11:27] whedon commented on #1157
[code]

[2019-05-03 11:28] whedon commented on #1157
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/657

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/657, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-03 11:28] danielskatz commented on #1157
... in progress ... will continue shortly

[2019-05-03 12:04] danielskatz commented on #1157
@whedon accept deposit=true

[2019-05-03 12:04] whedon commented on #1157
[code]

[2019-05-03 12:05] whedon commented on #1157
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/658
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01157](https://doi.org/10.21105/joss.01157)
2. If everything looks go

[2019-05-03 12:08] lpantano commented on #1423
Thanks! i will take a final look today and proceed with the acceptance.

[2019-05-03 12:18] #1157 closed

[2019-05-03 12:18] whedon commented on #1157
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01157/status.svg)](https://doi.org/10.21105/joss.01157)

**We need your help!**

Journal of Open Source Softwar

[2019-05-03 12:30] danielskatz commented on #1225
@studywolf - Assuming you meant Wednesday 2 days ago, I'm just checking... :)

[2019-05-03 12:34] arokem commented on #1406
👋 @fabian-s: would you be willing to review this article for [JOSS](http://joss.theoj.org)?

[2019-05-03 12:35] arokem commented on #1422
I can handle this one.

[2019-05-03 12:35] Cadair commented on #1393
@dhuppenkothen Really glad to stingray hit a major milestone :smile:

A couple of notes from the review:

1) Should the citation for Astropy be the second paper from 2018, either instead of or in addition to the 2013 paper?
2) A few of your references in the paper seem to be missing links to DOIs.
3) I am not sure all your dependencies are installed automatically by pip so I opened StingraySoftwar

[2019-05-03 12:35] arokem commented on #1422
@whedon assign arokem as editor

[2019-05-03 12:35] whedon commented on #1422
OK, the editor is arokem

[2019-05-03 12:35] Cadair commented on #1393
Oh also, do you plan to release the final 0.1 version before this paper is completed?

[2019-05-03 12:39] arokem commented on #1422
@smk508 : do you have any suggestions for reviewers? You can also look [here](https://bit.ly/joss-reviewers)

[2019-05-03 12:46] fabian-s commented on #1406
yes

[2019-05-03 12:56] RomainAzais commented on #1351
Hello Viviane,

Sorry for my late reply. We released the new version about one week ago, but we got some issues with virtual machines for continuous integration, especially for MacOSX.

In the new version, the two methods add_subtree and add_subtree_to_id (where only add_subtree_to_id copies the subtree to be added) are still present, but the documentation has been clarified on this point:
- https

[2019-05-03 13:08] fboehm commented on #1416
Ah, good point, @csoneson. Thanks for your assistance with this!

[2019-05-03 14:13] studywolf commented on #1225
Hello! Yes you are correct, sorry about that. I've run through the demo_robot files and just made a typo correction issue in the README. This all LGTM :+1:

[2019-05-03 14:17] katyhuff commented on #1389
@whedon generate pdf

[2019-05-03 14:17] whedon commented on #1389
[code]

[2019-05-03 14:18] whedon commented on #1389
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01389/joss.01389/10.21105.joss.01389.pdf)

[2019-05-03 14:22] katyhuff commented on #1389
@whedon check references

[2019-05-03 14:22] whedon commented on #1389
[code]

[2019-05-03 14:22] whedon commented on #1389
[code]

[2019-05-03 14:54] MarionLegrandLogrami commented on #791
Hi @boshek - Thank you for your message. We spent some time reading a little about the docker container with which we are not familiar. This technology seems very interesting, but we are not sure that it will facilitate the installation (as it seem to be not really easy to use docker especially if the goal is to run an R package with a graphical interface - how can you access the graphical interfa

[2019-05-03 15:11] katyhuff commented on #1389
I'm going through some of the final checks (first up, the bibliography):

- [ ] **Should the following doi** [doi:10.1214/aos/1013203451](https://doi.org/10.1214/aos/1013203451) **be added to:** Friedman, J. H. (2000). Greedy function approximation: A gradient boosting machine. Annals of Statistics, 29, 1189–1232. ? It may be pointing to a different version of the paper than the one you're trying

[2019-05-03 15:29] mommermi commented on #1426
Hi @Juanlu001, thanks for reviewing this submission! Would you prefer the `License.rst` to be on the root level (probably makes more sense on the root level anyway...)?

[2019-05-03 15:29] jedbrown commented on #1400
Looks good to me. Please tag a release and archive on Zenodo or similar. We would prefer that both your source and documentation repository be archived together at the same DOI. I believe you can do that by directly uploading the files (instead of using the GitHub integration) from both repositories, then adding your metadata. Let me know if you have questions about that process, and please report

[2019-05-03 15:43] arfon commented on #1389
Weird. If I change the bib file field to:

[code]

Then it seems to compile OK. Changing the flag to `breaklinks=true` doesn't seem to fix anything.

[2019-05-03 15:52] Juanlu001 commented on #1426
I think so @mommermi! Having a `LICENSE` at the top (not sure about the extensions) makes it easier to spot and also GitHub can read the metadata from it.

[2019-05-03 16:08] mommermi commented on #1426
Ok, done!
I created a PR (NASA-Planetary-Science/sbpy#145) that will hold all the code changes from this review.

[2019-05-03 17:17] leouieda commented on #1384
@whedon assign @gassmoeller as reviewer

[2019-05-03 17:17] whedon commented on #1384
OK, the reviewer is @gassmoeller

[2019-05-03 17:21] leouieda commented on #1384
@gassmoeller thank you agreeing to review :tada: I just wanted to add a disclaimer that @gassmoeller @banesullivan and I have recently been part on the same conference session proposals. However, this does not constitute a conflict of interest [according to our policies](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy).

[2019-05-03 17:40] mommermi commented on #1426
@whedon generate pdf

[2019-05-03 17:40] whedon commented on #1426
[code]

[2019-05-03 17:41] whedon commented on #1426
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01426/joss.01426/10.21105.joss.01426.pdf)

[2019-05-03 17:46] mommermi commented on #1426
@whedon generate pdf

[2019-05-03 17:46] whedon commented on #1426
[code]

[2019-05-03 17:46] whedon commented on #1426
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01426/joss.01426/10.21105.joss.01426.pdf)

[2019-05-03 18:08] kmichael08 commented on #1389
@whedon generate pdf

[2019-05-03 18:08] whedon commented on #1389
[code]

[2019-05-03 18:09] whedon commented on #1389
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01389/joss.01389/10.21105.joss.01389.pdf)

[2019-05-03 18:15] kmichael08 commented on #1389
@katyhuff I updated the version of the paper to the one you mentioned (it's ok) and added DOI. As for the url breaking I changed it into the workaround, that @arfon applied above. Let me know if that's ok

[2019-05-03 18:59] kyleniemeyer commented on #1415
@whedon assign @jasonclark as editor

[2019-05-03 19:00] whedon commented on #1415
OK, the editor is @jasonclark

[2019-05-03 19:09] arokem commented on #1406
@whedon assign fabian-s as reviewer

[2019-05-03 19:09] whedon commented on #1406
OK, the reviewer is fabian-s

[2019-05-03 19:10] arokem commented on #1406
@whedon start review

[2019-05-03 19:10] whedon opened #1427 "[REVIEW]: fmcmc: A friendly MCMC framework"
**Submitting author:** @gvegayon (<a href="http://orcid.org/0000-0002-3171-0844">George Vega Yon</a>)
**Repository:** <a href="https://github.com/USCbiostats/fmcmc" target ="_blank">https://github.com/USCbiostats/fmcmc</a>
**Version:** 0.2-0
**Editor:** @arokem
**Reviewer:** @fabian-s
**Archive:** <a href="https://doi.org/10.5281/zenodo.3272759" target="_blank">10.5281/zenodo.3272759</a>

## Statu

[2019-05-03 19:10] whedon commented on #1406
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1427. Feel free to close this issue now!

[2019-05-03 19:10] whedon commented on #1427
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fabian-s it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-05-03 19:10] whedon commented on #1427
[code]

[2019-05-03 19:10] whedon commented on #1427
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01427/joss.01427/10.21105.joss.01427.pdf)

[2019-05-03 19:11] arokem commented on #1406
Super! Thanks for pitching in. I will close this issue now. Please head over to #1427 for your reviewer checklist.

[2019-05-03 19:11] #1406 closed

[2019-05-03 19:55] lpantano commented on #1423
@whedon check references

[2019-05-03 19:55] whedon commented on #1423
[code]

[2019-05-03 19:56] whedon commented on #1423
[code]

[2019-05-03 20:09] lpantano commented on #1423
@jlincbio , we are almost there. Can you create a zenodo doi (https://zenodo.org/) pointed to the current version of the repository? The title of that archive should match paper title and the authors should match as well. Here is an example of another paper:

https://zenodo.org/record/2645762#.XMyf2akpCpc

https://github.com/openjournals/joss-reviews/issues/1364

Cheers

[2019-05-03 20:43] prmiles commented on #1417
Thank you @djmitche for your comments regarding the pymcmcstat package.  I have resolved the two issues you reported.

[2019-05-03 21:05] jlincbio commented on #1423
@lpantano do you mean a link like this:
https://doi.org/10.5281/zenodo.2663855

Or is it this one:
https://zenodo.org/record/2663855#.XMystqRS_D4

Thanks.

[2019-05-03 21:25] katyhuff commented on #1389
Thanks @arfon for the workaround and thank you to @justinshenk @janfreyberg for your excellent reviews.

Thank you @kmichael08 for a strong submission and for engaging actively in the review process! I have looked over the paper, double checked all the DOI links, and have conducted a high level review of the code itself. Everything looks ship-shape to me.

@kmichael08 At this point, please double

[2019-05-03 21:40] lpantano commented on #1423
@whedon set https://zenodo.org/record/2663855 as archive

[2019-05-03 21:40] whedon commented on #1423
https://zenodo.org/record/2663855 doesn't look like an archive DOI.

[2019-05-03 21:42] lpantano commented on #1423
@whedon set 10.5281/zenodo.2663855 as archive

[2019-05-03 21:42] whedon commented on #1423
OK. <a href="https://doi.org/10.5281/zenodo.2663855" target="_blank">10.5281/zenodo.2663855</a> is the archive.

[2019-05-03 21:43] lpantano commented on #1423
Hi @openjournals/joss-eics, I think we are good to go!

[2019-05-03 23:28] lheagy commented on #1358
Excellent, thanks @alkirkby!

Please take a look at the pdf proof below. If everything looks good, then please make a new release and archive the software on [zenodo](http://zenodo.org) or similar and ensure that the title and author list match those in the paper. Then, please post the new version number and doi here.

[2019-05-03 23:28] lheagy commented on #1358
@whedon generate pdf

[2019-05-03 23:28] whedon commented on #1358
[code]

[2019-05-03 23:29] whedon commented on #1358
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01358/joss.01358/10.21105.joss.01358.pdf)

[2019-05-03 23:31] lheagy commented on #1221
excellent, thanks @chris-prener! Can you please post the zenodo doi here?

[2019-05-04 04:10] 1313e commented on #1229
@crawfordsm Now that the AAS Journals submission has been accepted, how do we proceed here?

[2019-05-04 06:46] csoneson commented on #1416
@whedon assign @vjcitn as reviewer

[2019-05-04 06:46] whedon commented on #1416
OK, the reviewer is @vjcitn

[2019-05-04 06:52] csoneson commented on #1416
Ok @fboehm, we have our first reviewer! I'd like to have one more before officially starting the review.

[2019-05-04 10:31] trallard commented on #1403
Hi @alvarolopez

Have you got any reviewers in mind for this submission? You can check the list of registered reviewers ➡️ https://bit.ly/joss-reviewers](https://bit.ly/joss-reviewers) and suggest a couple of suitable ones

[2019-05-04 10:35] trallard commented on #1390
Thanks for the review and the heads-up @rpetit3

@lowandrew is there anything we can help you with for this review?

[2019-05-04 10:36] trallard commented on #1317
Fantastic @sunhwan thanks a lot for your review.

@becarioprecario  is there anything we can help with to move this review forward ?

[2019-05-04 10:47] trallard commented on #1326
HI sorry for taking so long @gkthiruvathukal AND @Amudtogal  from my part the thing missing as well is that corresponding to the tests.

I believe some model tests would be essential even if to have a baseline of the software performance / behaviour at the current state.

Apart from that I do not see any major issues or blockers

[2019-05-04 10:49] trallard commented on #1291
@whedon generate pdf

[2019-05-04 10:49] whedon commented on #1291
[code]

[2019-05-04 10:53] trallard commented on #1291
@ManuelaS  can this package be installed / used through octave? My guess is it does not as it needs the Statistics toolbox but thought I would check

[2019-05-04 10:56] trallard commented on #1291
Created the following issue regarding the statement of need point [https://bitbucket.org/manuela_s/hcp/issues/1/joss-review-statement-of-need](https://bitbucket.org/manuela_s/hcp/issues/1/joss-review-statement-of-need)

[2019-05-04 10:59] trallard commented on #1291
@whedon generate pdf

[2019-05-04 10:59] whedon commented on #1291
[code]

[2019-05-04 12:40] chris-prener commented on #1221
the zenodo doi for the latest release is `10.5281/zenodo.2667289`; the master doi that always resolves to the latest version is `10.5281/zenodo.2433868`.

[2019-05-04 12:42] dpzwick commented on #1400
I uploaded to Zenodo with the source and documentation. The DOI is: 10.5281/zenodo.2667285.

[2019-05-04 13:13] jedbrown commented on #1400
@whedon set 10.5281/zenodo.2667285 as archive

[2019-05-04 13:13] whedon commented on #1400
OK. <a href="https://doi.org/10.5281/zenodo.2667285" target="_blank">10.5281/zenodo.2667285</a> is the archive.

[2019-05-04 13:13] jedbrown commented on #1400
@whedon set v1.0.0 as version

[2019-05-04 13:14] whedon commented on #1400
OK. v1.0.0 is the version.

[2019-05-04 13:14] jedbrown commented on #1400
@whedon check references

[2019-05-04 13:14] whedon commented on #1400
[code]

[2019-05-04 13:14] whedon commented on #1400
[code]

[2019-05-04 13:14] jedbrown commented on #1400
@whedon accept

[2019-05-04 13:14] whedon commented on #1400
[code]

[2019-05-04 13:15] whedon commented on #1400
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/659

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/659, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-04 13:15] whedon commented on #1400
[code]

[2019-05-04 13:23] jedbrown commented on #1400
@openjournals/joss-eics :wave: over to you.

[2019-05-04 13:29] danielskatz commented on #1400
@whedon accept deposit=true

[2019-05-04 13:29] whedon commented on #1400
[code]

[2019-05-04 13:29] whedon commented on #1400
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/660
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01400](https://doi.org/10.21105/joss.01400)
2. If everything looks go

[2019-05-04 15:11] ManuelaS commented on #1291
@trallard , no the package can't be used with Octave. It makes extensive use of MATLAB tables and the Statistics toolbox neither of which would work.

[2019-05-04 15:26] danielskatz commented on #1400
This DOI doesn't yet resolve for me - once it does, I will close this issue, and the publication process will be complete

[2019-05-04 15:48] ManuelaS commented on #1291
@trallard, I added clearer statement of need for HCP and listed alternative (or lack of in MATLAB) and R. This information was included in the paper, however I agree it makes it easier for potential users if it is also included in the ReadMe. Please, re-open the issue if you don't think this fully addresses your comment.

[2019-05-04 15:55] ManuelaS commented on #1291
Note that whedon is failing to generate the pdf. @arfon explained why and posted the [pdf](https://github.com/openjournals/joss-reviews/files/2800191/10.21105.joss.01206.pdf) in the pre-review thread https://github.com/openjournals/joss-reviews/issues/1206#issuecomment-457930985

[2019-05-04 16:59] vsoch commented on #1388
ping @brainstorm

[2019-05-04 17:25] gnarayan commented on #1247
The authors have addressed all my comments more than satisfactorily. They have met all the requirements laid out by JOSS.

I've found one issue that occurs intermittently:
[code]
Restarting the server seems to address the issue, at least for a time. I think this is best dealt with as a github issue for skyportal, and I will raise it there. This does not count as an impediment for publication - no

[2019-05-04 18:25] PythonCHB commented on #1112
Thanks for addressing my concerns -- this is a more robust package now!

A few issues still:

## The Readme:

I have copy edited the README -- PR here:

https://github.com/EnvModellingGroup/hrds/pull/29

Most of that is just copy editing, but a small issue -- in the example in the readme, there is this code:

[code]

messing around with `sys.path` like that is not considered good practice these da

[2019-05-04 18:46] danielskatz commented on #1400
@arfon - does this DOI work for you?  It doesn't for me, 5-6 hours after it should have been created ...

[2019-05-04 19:38] whedon opened #1428 "[PRE REVIEW]: sluRm: A lightweight wrapper for HPC with Slurm"
**Submitting author:** @gvegayon (<a href="http://orcid.org/0000-0002-3171-0844">George Vega Yon</a>)
**Repository:** <a href="https://github.com/USCbiostats/sluRm" target ="_blank">https://github.com/USCbiostats/sluRm</a>
**Version:** 0.1-0
**Editor:** @karthik
**Reviewers:** @mschubert, @mllg

**Author instructions**

Thanks for submitting your paper to JOSS @gvegayon. **Currently, there isn't a

[2019-05-04 19:38] whedon commented on #1428
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-04 19:38] whedon commented on #1428
[code]

[2019-05-04 19:39] whedon commented on #1428
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01428/joss.01428/10.21105.joss.01428.pdf)

[2019-05-04 19:39] kyleniemeyer commented on #1428
@karthik could you handle this submission? Looks up your alley.

[2019-05-04 19:39] whedon opened #1429 "[PRE REVIEW]: phylosmith: an R-package for reproducible and efficient microbiome analysis with phyloseq-objects"
**Submitting author:** @schuyler-smith (<a href="http://orcid.org/0000-0001-5720-5611">Schuyler Smith</a>)
**Repository:** <a href="https://github.com/schuyler-smith/phylosmith/" target ="_blank">https://github.com/schuyler-smith/phylosmith/</a>
**Version:** 0.99.0
**Editor:** @karthik
**Reviewers:** @joey711

**Author instructions**

Thanks for submitting your paper to JOSS @schuyler-smith. **Cur

[2019-05-04 19:39] whedon commented on #1429
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-04 19:39] whedon commented on #1429
[code]

[2019-05-04 19:39] whedon commented on #1429
PDF failed to compile for issue #1429 with the following error:

 Can't find any papers to compile :-(

[2019-05-04 19:42] kyleniemeyer commented on #1429
Hi @schuyler-smith, your paper file needs to be named `paper.md` and `paper.bib` for our system to detect it in your repo; could you fix that?

[2019-05-04 19:44] kyleniemeyer commented on #1429
@karthik sorry for the double tap, but this one also looks to fall in your realm...

[2019-05-04 19:44] whedon opened #1430 "[PRE REVIEW]: survPen: an R package for hazard and excess hazard modelling with multidimensional penalized splines"
**Submitting author:** @fauvernierma (<a href="http://orcid.org/0000-0002-3809-8248">Mathieu Fauvernier</a>)
**Repository:** <a href="https://github.com/fauvernierma/survPen" target ="_blank">https://github.com/fauvernierma/survPen</a>
**Version:** v1.1.0
**Editor:** @csoneson
**Reviewers:** @corybrunson, @seabbs

**Author instructions**

Thanks for submitting your paper to JOSS @fauvernierma. The

[2019-05-04 19:44] whedon commented on #1430
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @csoneson it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@csoneson) to find some reviewers fo

[2019-05-04 19:44] whedon commented on #1430
[code]

[2019-05-04 19:44] whedon commented on #1430
Failed to discover a valid open source license.

[2019-05-04 19:44] whedon commented on #1430
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01430/joss.01430/10.21105.joss.01430.pdf)

[2019-05-04 19:45] kyleniemeyer commented on #1430
@csoneson would you be able to edit this submission?

[2019-05-04 19:45] whedon opened #1431 "[PRE REVIEW]: emg3d: A multigrid solver for 3D electromagnetic diffusion."
**Submitting author:** @prisae (<a href="http://orcid.org/0000-0002-8575-2484">Dieter Werthmüller</a>)
**Repository:** <a href="https://github.com/empymod/emg3d" target ="_blank">https://github.com/empymod/emg3d</a>
**Version:** v0.5.0
**Editor:** @jedbrown
**Reviewers:** @akelbert, @emersodb, @lukeolson

**Author instructions**

Thanks for submitting your paper to JOSS @prisae. The JOSS editor @l

[2019-05-04 19:45] whedon commented on #1431
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@lheagy) to find some reviewers for yo

[2019-05-04 19:45] whedon commented on #1431
[code]

[2019-05-04 19:45] whedon commented on #1431
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01431/joss.01431/10.21105.joss.01431.pdf)

[2019-05-04 19:45] kyleniemeyer commented on #1431
@whedon remove @lheagy as editor

[2019-05-04 19:46] kyleniemeyer commented on #1431
Sorry, did not get this one started correctly.

[2019-05-04 19:46] kyleniemeyer commented on #1431
@poulson @jedbrown would either of you be willing to edit this submission? (@lheagy you are welcome to as well, just trying to ensure a relatively even editing load...)

[2019-05-04 19:47] whedon opened #1432 "[PRE REVIEW]: MoFEM: An open source, parallel finite element library"
**Submitting author:** @likask (<a href="http://orcid.org/0000-0002-8468-5435">Lukasz Kaczmarczyk</a>)
**Repository:** <a href="https://bitbucket.org/likask/mofem-cephas/src" target ="_blank">https://bitbucket.org/likask/mofem-cephas/src</a>
**Version:** v0.8.22
**Editor:** @jedbrown
**Reviewers:** @tjhei, @chrisrichardson, @Kevin-Mattheus-Moerman

**Author instructions**

Thanks for submitting yo

[2019-05-04 19:47] whedon commented on #1432
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-04 19:47] whedon commented on #1432
[code]

[2019-05-04 19:47] whedon commented on #1432
PDF failed to compile for issue #1432 with the following error:

 Can't find any papers to compile :-(

[2019-05-04 19:47] whedon commented on #1432
Failed to discover a valid open source license.

[2019-05-04 19:50] kyleniemeyer commented on #1432
@jedbrown, could you edit this submission?

[2019-05-04 19:51] kyleniemeyer commented on #1400
This one does not work for me either, just now.

[2019-05-04 19:57] kyleniemeyer commented on #1429
@whedon assign @karthik as editor

[2019-05-04 19:57] whedon commented on #1429
OK, the editor is @karthik

[2019-05-04 19:57] kyleniemeyer commented on #1430
@whedon assign @csoneson as editor

[2019-05-04 19:57] whedon commented on #1430
OK, the editor is @csoneson

[2019-05-04 19:59] kyleniemeyer commented on #1423
Hi @jlincbio, overall looks good, but before we fully accept I have two comments on the paper. Could you please:
[ ] Add to the background section a bit more helping describe the high-level functionality and purpose of the software for a *diverse, non-specialist audience*? This is part of our expectations for articles, since the JOSS audience is quite broad.
[ ] Add some metadata to the first refe

[2019-05-04 19:59] kyleniemeyer commented on #1323
@whedon assign @alexhanna as editor

[2019-05-04 19:59] whedon commented on #1323
OK, the editor is @alexhanna

[2019-05-04 20:00] kyleniemeyer commented on #1428
@whedon assign @karthik as editor

[2019-05-04 20:00] whedon commented on #1428
OK, the editor is @karthik

[2019-05-04 20:00] kyleniemeyer commented on #1432
@whedon assign @jedbrown as editor

[2019-05-04 20:00] whedon commented on #1432
OK, the editor is @jedbrown

[2019-05-04 20:01] kyleniemeyer commented on #1388
@whedon generate pdf

[2019-05-04 20:01] whedon commented on #1388
[code]

[2019-05-04 20:01] kyleniemeyer commented on #1221
@whedon set 10.5281/zenodo.2667289 as archive

[2019-05-04 20:01] whedon commented on #1221
OK. <a href="https://doi.org/10.5281/zenodo.2667289" target="_blank">10.5281/zenodo.2667289</a> is the archive.

[2019-05-04 20:02] whedon commented on #1388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01388/joss.01388/10.21105.joss.01388.pdf)

[2019-05-04 20:02] kyleniemeyer commented on #1221
@chris-prener we do want to use the specific DOI for the accepted release, since you could theoretically submit a later JOSS paper for a future version

[2019-05-04 20:43] likask commented on #1432
1) Source files and the license file is in `mofem` subdirectory.
2) JOSS paper.md is in `media` directory
3) Documentation http://mofem.eng.gla.ac.uk

[2019-05-04 21:56] jlincbio commented on #1423
@kyleniemeyer thanks for the comments, I'll try to get right onto it. Re: point 1, should some general description on what a peak caller does be sufficient?

Also, do I need to submit a new release and get a new zenodo DOI?

[2019-05-04 22:05] jedbrown commented on #1431
I'm happy to

[2019-05-04 22:35] smk508 commented on #1422
Hi @arokem . Thanks so much! I looked through the spreadsheet for people who are experts in machine learning, big data, and/or bioinformatics. There's a lot of people, so I'm not sure who makes the most sense, but I just picked out some names. I think if there's someone who has experience designing or contributing to machine learning / big data frameworks such a TensorFlow / PyTorch / Spark, that

[2019-05-04 23:14] jlincbio commented on #1423
@whedon generate pdf

[2019-05-04 23:14] whedon commented on #1423
[code]

[2019-05-04 23:14] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-04 23:15] jlincbio commented on #1423
@whedon commands

[2019-05-04 23:15] whedon commented on #1423
Here are some things you can ask me to do:

[code]

[2019-05-04 23:16] jlincbio commented on #1423
@whedon set 10.5281/zenodo.2667425 as archive

[2019-05-04 23:16] whedon commented on #1423
I'm sorry @jlincbio, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-05-04 23:19] jlincbio commented on #1423
@kyleniemeyer would the above changes be sufficient to satisfy the journal requirements?

Also if a new Zenodo archive DOI is necessary I think this is it:
10.5281/zenodo.2667425

[2019-05-04 23:32] karthik commented on #1428
Currently ooo till May 15

[2019-05-04 23:32] karthik commented on #1428
/ooo till May 15 2019

[2019-05-04 23:38] jlincbio commented on #1423
@whedon generate pdf

[2019-05-04 23:39] whedon commented on #1423
[code]

[2019-05-04 23:39] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-04 23:41] jlincbio commented on #1423
@kyleniemeyer sorry, this is the new Zenodo DOI: 10.5281/zenodo.2667428

[2019-05-05 00:18] arfon commented on #1247
@whedon generate pdf

[2019-05-05 00:18] whedon commented on #1247
[code]

[2019-05-05 00:19] whedon commented on #1247
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01247/joss.01247/10.21105.joss.01247.pdf)

[2019-05-05 00:22] arfon commented on #1400
@kyleniemeyer @danielskatz - looks like the Crossref deposit API is down (http://status.crossref.org/incidents/psyzb7txpwbq) - suggest not accepting any papers until this is resolved.

[2019-05-05 00:23] arfon commented on #1247
@whedon accept

[2019-05-05 00:23] whedon commented on #1247
No archive DOI set. Exiting...

[2019-05-05 00:24] arfon commented on #1247
@stefanv - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-05-05 01:02] fboehm commented on #1416
Thanks so much, @csoneson and @vjcitn! @csoneson, is there a list of people who are certified to serve as reviewers? One person who might be willing to review is Robert Corty of U. North Carolina. I don't know if he has reviewed for JOSS yet.

[2019-05-05 02:17] brandondube commented on #1352
@aquilesC v0.16 will have a final check-over tomorrow and assuming I find nothing derailing, a release monday.  If you would like to begin your check-over, you can see the changes (summarized with git):

[code]

They are also summarized in the release notes,
https://prysm.readthedocs.io/en/latest/releases/v0.16.html
You might have to clear your cache for this to render fully up-to-date, and wait a

[2019-05-05 09:03] prisae commented on #1431
@whedon commands

[2019-05-05 09:03] whedon commented on #1431
Here are some things you can ask me to do:

[code]

[2019-05-05 09:07] prisae commented on #1431
Re reviewer: Anyone into geophysics and python; electromagnetics would be a plus, I guess.

Some people from your list which fit the description: @rowanc1, @leouieda, @WalBytes , @vidalgp, @kbevers, @jkmacc-LANL, @whimian, @rbeucher, @d-chambers.

[2019-05-05 09:09] prisae commented on #1431
I saw one typo and some of the reference-bracketing in the compiled version did not turn out as I intended. Is there a way to edit them now or shall I wait for the reviews first?

[2019-05-05 09:31] kyleniemeyer commented on #1423
Hi @jlincbio, sorry the Durbin ref was still not showing up correctly; I just submitted a [PR](https://github.com/jlincbio/cred/pull/1) to fix it.

[2019-05-05 09:34] kyleniemeyer commented on #1428
@karthik hmm OOO bot didn't seem to catch that. But thanks, no problem.

[2019-05-05 09:36] kyleniemeyer commented on #1400
@arfon it looks as though that issue was only temporary; can we try depositing again? I imagine this would have be done manually.

[2019-05-05 10:15] brainstorm commented on #1388
@whedon check references

[2019-05-05 10:16] whedon commented on #1388
[code]

[2019-05-05 10:16] whedon commented on #1388
[code]

[2019-05-05 10:17] brainstorm commented on #1388
Doh, there are no DOIs in this paper... and after reading through this final version, looks good to me. Can you deposit the zip on Zenodo? Thx!

[2019-05-05 10:48] abatten commented on #1399
I made a new release: 1.0.1 so this will have to be updated in the paper.
Archive version: 10.5281/zenodo.2667568

[2019-05-05 10:51] arfon commented on #1400
I tried already. Unfortunately Crossref are *actually* having major issues with their deposit API, they just don't seem to have posted publicly about it. Perhaps no-body is on call over the weekend :-\ ?

[2019-05-05 11:15] xuanxu commented on #1399
@abatten I can't find the release listed in GitHub: https://github.com/abatten/fruitbat/releases

[2019-05-05 11:57] abatten commented on #1399
Ah I fixed that. There should be the new release 1.0.1.

Also, I messed up the files in the Zenodo archive so I had to make a new zenodo doi: 10.5281/zenodo.2667596

[2019-05-05 12:01] xuanxu commented on #1399
Great, thanks @abatten!

[2019-05-05 12:01] xuanxu commented on #1399
@whedon set v1.0.1 as version

[2019-05-05 12:01] whedon commented on #1399
OK. v1.0.1 is the version.

[2019-05-05 12:02] xuanxu commented on #1399
@whedon generate pdf

[2019-05-05 12:02] whedon commented on #1399
[code]

[2019-05-05 12:02] whedon commented on #1399
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01399/joss.01399/10.21105.joss.01399.pdf)

[2019-05-05 12:04] xuanxu commented on #1399
@whedon set 10.5281/zenodo.2667596 as archive

[2019-05-05 12:04] whedon commented on #1399
OK. <a href="https://doi.org/10.5281/zenodo.2667596" target="_blank">10.5281/zenodo.2667596</a> is the archive.

[2019-05-05 12:05] xuanxu commented on #1399
This is ready now for publication.
Pinging EIC for final acceptance: @openjournals/joss-eics

[2019-05-05 12:31] kyleniemeyer commented on #1399
Thanks @xuanxu. CrossRef is having some issues right now, so we are going to pause on publishing accepted articles until those issues are resolved.

[2019-05-05 12:50] jlincbio commented on #1423
@kyleniemeyer thanks for the help. I merged the fix on my mobile phone and re-released it under the same version tag of v0.1...hopefully I did not do something stupid to mess it up.

The DOI seems to be the same as before at 10.5281/zenodo.2667428 (the same commit, ddef12d).

Thanks - it's my first time with Zenodo.

[2019-05-05 12:56] jlincbio commented on #1423
@whedon generate pdf

[2019-05-05 12:56] whedon commented on #1423
[code]

[2019-05-05 12:56] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-05 13:01] jlincbio commented on #1423
@whedon generate pdf

[2019-05-05 13:01] whedon commented on #1423
[code]

[2019-05-05 13:01] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-05 13:16] jlincbio commented on #1423
So sorry with all these edits...I'm doing this on a mobile and keep making mistakes.
New DOI: 10.5281/zenodo.2667613

[2019-05-05 13:27] kyleniemeyer commented on #1423
@whedon set 10.5281/zenodo.2667613 as archive

[2019-05-05 13:27] whedon commented on #1423
OK. <a href="https://doi.org/10.5281/zenodo.2667613" target="_blank">10.5281/zenodo.2667613</a> is the archive.

[2019-05-05 13:28] kyleniemeyer commented on #1423
@whedon accept

[2019-05-05 13:29] whedon commented on #1423
[code]

[2019-05-05 13:29] whedon commented on #1423
[code]

[2019-05-05 13:29] whedon commented on #1423
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/661

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/661, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-05 13:30] kyleniemeyer commented on #1423
@jlincbio ok, you are all set. Unfortunately, we have to pause the final publishing step until CrossRef resolves some issues they are dealing with at the moment. Hopefully those are resolved by tomorrow.

[2019-05-05 15:18] vsoch commented on #1388
- [Released via Zenodo](https://zenodo.org/record/2667656#.XM7-j3VKjoo)
 - [Released on PyPi](https://pypi.org/project/watchme/)

[2019-05-05 15:53] lheagy commented on #1431
Thanks @jedbrown and @kyleniemeyer! I know @prisae and am excited to see that he submitted this project 😄. I will definitely be checking out the software, but am happy to let someone else lead the editorial process here.

[2019-05-05 17:21] poulson commented on #1431
I'm glad to see this is getting the proper attention!

[2019-05-05 17:29] lheagy commented on #1221
@whedon set v0.1.4.3 as version

[2019-05-05 17:29] whedon commented on #1221
OK. v0.1.4.3 is the version.

[2019-05-05 17:30] lheagy commented on #1221
:wave: @openjournals/joss-eics: this submission is ready to be accepted 🎉

[2019-05-05 17:35] lheagy commented on #1328
Thanks @zhangning737. @dvalters: can you give it a try with the link that @zhangning737 provided? If you run into any issues, one option we have is to try installing on [mybinder.org](http://mybinder.org)

[2019-05-05 17:41] lheagy commented on #1408
:wave: Hi @rheiland, just checking in. Please ping here when you have had a chance to address @choldgraf's comments above

[2019-05-05 18:03] fauvernierma commented on #1430
Hello everyone,

As they are both experts in R and survival analysis, I think that @becarioprecario and @adibender would make appropriate reviewers for the survPen package.

Do you agree ?

[2019-05-05 18:13] chris-prener commented on #1221
thanks for the update @lheagy!

[2019-05-05 18:14] chris-prener commented on #1221
and thanks for the clarity @kyleniemeyer

[2019-05-05 18:55] csoneson commented on #1430
@kyleniemeyer Yes, I can edit this one.

[2019-05-05 18:58] csoneson commented on #1430
@fauvernierma - thanks for these suggestions. I agree that they would fit very well as reviewers. @becarioprecario, @adibender, would you be willing to review this JOSS submission?

[2019-05-05 19:02] csoneson commented on #1430
@fauvernierma - I had a first quick look at your repository and the paper, and I have a couple of small comments that would be good if you could fix already before we start the review:
- Please add a plain text LICENSE file (you can add it to `.Rbuildignore` to ignore it when building the package
- Please check the references in the paper. Some of them look a bit weird (e.g. the Uhry _et al_ paper

[2019-05-05 20:15] likask commented on #1432
@whedon commands

[2019-05-05 20:15] whedon commented on #1432
Here are some things you can ask me to do:

[code]

[2019-05-05 20:16] likask commented on #1432
@whedon generate pdf

[2019-05-05 20:16] whedon commented on #1432
[code]

[2019-05-05 20:16] whedon commented on #1432
PDF failed to compile for issue #1432 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0    144      0 --:--:-- --:--:-- --:--:--   144
Error producing P

[2019-05-05 20:23] likask commented on #1432
@whedon generate pdf from branch joss

[2019-05-05 20:23] whedon commented on #1432
[code]

[2019-05-05 20:24] whedon commented on #1432
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01432/joss.01432/10.21105.joss.01432.pdf)

[2019-05-05 20:28] likask commented on #1432
@whedon check references

[2019-05-05 20:28] whedon commented on #1432
[code]

[2019-05-05 20:28] whedon commented on #1432
[code]

[2019-05-05 20:37] likask commented on #1432
@whedon check references

[2019-05-05 20:37] whedon commented on #1432
[code]

[2019-05-05 20:37] whedon commented on #1432
[code]

[2019-05-05 20:38] likask commented on #1432
@whedon generate pdf

[2019-05-05 20:38] whedon commented on #1432
[code]

[2019-05-05 20:39] whedon commented on #1432
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01432/joss.01432/10.21105.joss.01432.pdf)

[2019-05-05 20:58] becarioprecario commented on #1430
Hi,

I am afraid that I cannot commit to make a review of this right now. I am already very late with another JOS review.

Sorry.

Virgilio

[2019-05-05 21:02] likask commented on #1432
That is fixed; Reference is moved to root repository directory.

[2019-05-05 21:25] kyleniemeyer commented on #1431
@whedon set @jedbrown as editor

[2019-05-05 21:32] likask commented on #1432
Fix letter in my name
@whedon generate pdf from branch joss

[2019-05-05 21:33] likask commented on #1432
@whedon generate pdf from branch joss

[2019-05-05 21:33] whedon commented on #1432
[code]

[2019-05-05 21:34] whedon commented on #1432
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01432/joss.01432/10.21105.joss.01432.pdf)

[2019-05-05 21:36] kyleniemeyer commented on #1431
@whedon assign @jedbrown as editor

[2019-05-05 21:36] whedon commented on #1431
OK, the editor is @jedbrown

[2019-05-05 21:55] brainstorm commented on #1418
@luizirber There seem to be some unchecked boxes on the review, do you reckon this review is complete/done?

[2019-05-05 21:57] brainstorm commented on #1388
@whedon set 10.5281/zenodo.2633142 as archive

[2019-05-05 21:57] whedon commented on #1388
OK. <a href="https://doi.org/10.5281/zenodo.2633142" target="_blank">10.5281/zenodo.2633142</a> is the archive.

[2019-05-05 21:57] brainstorm commented on #1388
@kyleniemeyer @arfon I think we are done here, ready to accept imho :+1:

[2019-05-05 22:02] luizirber commented on #1418
Not ready yet, pycon happened along the way... will finish tomorrow

On May 5, 2019 9:55:58 PM UTC, Roman Valls Guimera <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2019-05-05 23:01] jlincbio commented on #1423
@kyleniemeyer thanks, so is there anything I need to do on my part?

I'd also like to take this time to thank @lpantano and @darogan for their time and attention over the course of the review and apologize for all the incessant editing throughout the process. This is my first time submitting manuscripts for review using GitHub, and hopefully I have not caused anyone too much trouble.

[2019-05-05 23:24] brainstorm commented on #1418
Hey, no rush, enjoy PyCon, I'm just getting through my email backlog after
the break ;)

[2019-05-05 23:31] vsoch commented on #1418
Yeah @luizirber that sounds awesome!! When you come back, let us know how it was, and where PyCon 2020 will be! I found [the site](https://us.pycon.org/2019/about/) and I didn't realize it was closer to my neck of the woods than say, San Francisco. I totally want to go one of these years, so fingers crossed it's close by again!

[2019-05-05 23:32] vsoch commented on #1418
omg it's in Pittsburgh! https://pycon.blogspot.com/2019/02/pycon-2020-2021-location.html woo!

[2019-05-05 23:43] tacaswell commented on #1414
- version: there is a 1.0.0 on pypi and a 1.0.0 tag, however there is also a 1.0.1 on pypi, no corosponding tag and ~15 commits on master past the tag.
(https://github.com/williamjameshandley/anesthetic/compare/1.0.0...master).  It looks like there is 1 bug fix and the rest are do
 - Installation: discovered that `fastkde` did not declare it's setup dependencies correctly, opened an issue on their

[2019-05-06 00:23] 1313e commented on #1229
@arfon I heard there are some problems with cross-refs at the moment?

[2019-05-06 00:48] r-barnes commented on #1262
I notice that I've been assigned. Should I review again?

[2019-05-06 00:49] arfon commented on #1229
Yeah, I suspect this will get fixed tomorrow. For now, we're not able to deposit with Crossref.

[2019-05-06 00:54] danielskatz commented on #1225
Thanks! We can’t quite accept yet due to some system issues, but we can start the process

[2019-05-06 00:54] danielskatz commented on #1225
@whedon accept

[2019-05-06 00:54] whedon commented on #1225
No archive DOI set. Exiting...

[2019-05-06 00:57] danielskatz commented on #1225
Ok. I jumped the gun.

@stulp - please deposit the current version in an archival repository, eg zenodo, figshare, etc and let me know the DOI. And let me know the version number that goes with the archived software.

[2019-05-06 01:57] gweissman commented on #1345
@gkthiruvathukal I have no further comments. @mikahama has responded adequately to the points raised in my review.

[2019-05-06 02:05] 1313e commented on #1229
@arfon @crawfordsm Has it already been decided how the JOSS and AAS Journals submissions are going to be linked? Now that the AAS Journals submission has been accepted as well, I guess it is time to link them together (which can be done while cross-refs are not working anyways)?

PS: I remember a friend of mine showing me something from JOSS last Friday, that looked like some special submission pa

[2019-05-06 02:24] gkthiruvathukal commented on #1345
Thanks, @gweissman.  And thanks, @mikahama for addressing all review feedback.

I have gone through the checklist, and I'm ready to accept.

@mikahama Can you please archive the accepted version of the package and provide an associated DOI (e.g., via Zenodo)?

[2019-05-06 05:48] annoviko commented on #1420
@whedon check references

[2019-05-06 05:48] whedon commented on #1420
[code]

[2019-05-06 05:48] whedon commented on #1420
[code]

[2019-05-06 05:56] rheiland commented on #1408
Hi @lheagy and apologies for taking so long to reply! Thanks for keeping things moving along and thanks to @choldgraf for his initial review and comments. I've tried to address most of them and welcome more feedback.

[2019-05-06 06:03] annoviko commented on #1420
Hello, @sanskriti-s
There are several remarks:
1. Example contains mistakes in README.md (at least it doesn't work for v2.2.2):
- Incorrect import, I think `from ecabc import *` should be instead of `from eabc import *`, otherwise following exception is obtained:
[code]
- ABC is not defined:
[code]
[code]

2. Several references does not contains DOI. Could you please add DOI for these references?

[2019-05-06 06:19] csoneson commented on #1430
@becarioprecario No problem, thanks for the quick reply!

[2019-05-06 06:20] csoneson commented on #1430
@corybrunson, @seabbs - would you be interested in reviewing this submission for JOSS?

[2019-05-06 06:33] csoneson commented on #1416
Thanks @fboehm - please have a look in the first post in this issue, there is a link to a list of people who have agreed to review for JOSS.

[2019-05-06 07:37] mikahama commented on #1345
It is now on Zenodo https://zenodo.org/record/2668061

[2019-05-06 08:55] aquilesC commented on #1352
@brandondube , everything is looking fine!
The issues and the contributing guidelines make a much clearer entry point for new contributors.
I've run the tests and the examples, and everything looks OK.

Let me know when you publish to PyPI so I test the entire install cycle, and I guess that would be it.

[2019-05-06 09:44] fauvernierma commented on #1430
I have added a LICENSE file and all references should be in order now

Thank you

[2019-05-06 09:46] csoneson commented on #1430
@whedon generate pdf

[2019-05-06 09:46] whedon commented on #1430
[code]

[2019-05-06 09:47] whedon commented on #1430
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01430/joss.01430/10.21105.joss.01430.pdf)

[2019-05-06 10:12] matbesancon commented on #1385
@abelsiqueira I did a first review of the paper at https://github.com/fsobral/RAFF.jl/issues/18 if you want to add some comments directly to it

[2019-05-06 10:52] williamjameshandley commented on #1414
Many thanks @tacaswell

(williamjameshandley/anesthetic@1.0.0...master). It looks like there is 1 bug fix and the rest are documentation.
Indeed. I spotted a minor error in the anesthetic script, and updated the documentation.

Great, thank you very much for this.

This is an anesthetic feature rather than a  matplotlib bug, since the 1D posterior plots are normalised to have peaks at the same hei

[2019-05-06 11:05] likask commented on #1432
@whedon generate pdf from branch joss

[2019-05-06 11:05] whedon commented on #1432
[code]

[2019-05-06 11:07] whedon commented on #1432
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01432/joss.01432/10.21105.joss.01432.pdf)

[2019-05-06 11:34] arfon commented on #1229
We're going to as you to make sure that both papers cite each other. Right now, we don't know what the AAS DOI will be so having the JOSS paper cite the AAS paper isn't likely possible for another few days.

We don't have anything like this sorry. Perhaps you're thinking of this http://blog.joss.theoj.org/2018/12/a-new-collaboration-with-aas-publishing ?

[2019-05-06 11:37] jason-neal commented on #1053
@afron Do you know how to do that? I have edited the authors on Zenodo and saved it but it does not seem to affect the shown authors. Do I need to **publish** it to make the change?

[2019-05-06 11:37] seandenigris commented on #720
@offray great. Should I have another go or wait for [966385f0fc](https://mutabit.com/repos.fossil/dataviz/tktview?name=966385f0fc)?

[2019-05-06 11:39] arfon commented on #1053
I'm not sure sorry. If there's a **publish** button then perhaps click it?

[2019-05-06 12:01] kgjerde commented on #1342
@kbenoit

I have now addressed or commented your points summarised in:
* kgjerde/corporaexplorer#12  (prepare_data() as generic)
* kgjerde/corporaexplorer#13  (misspellings)
* kgjerde/corporaexplorer#14  (PhantomJS)
* kgjerde/corporaexplorer#15  (several points regarding corpora without dates)
* kgjerde/corporaexplorer#16  (name)
* kgjerde/corporaexplorer#17  (versioning)
*  kgjerde/corporaexplore

[2019-05-06 12:07] ygrange commented on #1234
Hmkay, that's a bit frustrating. I will retry in the near future bur right now I don't have much time to do it and document it nicely and so on (sorry!), but what I did is build it in a clean ubuntu 18.04 docker container. The mpi I used is the default openmpi from that distro.  Could be the MPI build I guess.

[2019-05-06 12:33] lowandrew commented on #1390
@trallard
Sorry for the delay on reviewing - I'll make sure I get around to this sometime early this week, I'll let you know if I need any assistance.

[2019-05-06 13:18] corybrunson commented on #1430
@csoneson i would be glad to review. I would expect to finish after one week. (I have only introductory training in survival analysis but the topic interests me.)

[2019-05-06 13:20] danielskatz commented on #1188
I'll give this another week to get an update from @cbjuan - if not, I'll withdraw it, again with the idea that a new submission can be made later once the installation process is smoother.

[2019-05-06 13:23] csoneson commented on #1430
@corybrunson excellent, thank you!
As soon as we find one more reviewer I will open the actual review issue, where you can leave your comments etc.

[2019-05-06 14:26] kmichael08 commented on #1389
@katyhuff I updated repository to the v0.5.2 and archived it in Zenodo.
DOI: 10.5281/zenodo.2667756

[2019-05-06 14:36] djmitche commented on #1417
Indeed!  All boxes checked..

[2019-05-06 14:52] fboehm commented on #1416
Thanks for the reminder, @csoneson. In looking at the list of reviewers, it seems that @nhejazi, @rmflight, @skummerf and @dpolychr all have expertise that would be useful when reviewing my submission. Is there a way to reach out to them?

[2019-05-06 15:05] csoneson commented on #1416
@fboehm they should get a notification by being mentioned in this issue. @nhejazi, @rmflight, @skummerf, @dpolychr (and ping @SirSharpest, @rcorty) - would any of you be available and interested in reviewing this submission for JOSS?

[2019-05-06 15:09] arfon commented on #1400
Looks like the DOI is resolving now.

[2019-05-06 15:15] offray commented on #720
@seandenigris Let's way for [966385f0fc](https://mutabit.com/repos.fossil/dataviz/tktview?name=966385f0fc). It should be done for this week. I will make here the proper announcement.

Thanks

[2019-05-06 15:16] danielskatz commented on #1400
Thanks @iljah & @markadams for reviewing and @jedbrown for editing!

[2019-05-06 15:16] #1400 closed

[2019-05-06 15:16] whedon commented on #1400
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01400/status.svg)](https://doi.org/10.21105/joss.01400)

**We need your help!**

Journal of Open Source Softwar

[2019-05-06 15:17] dmbates commented on #1404
Not the fault of this package but my initial installation attempt on a clean R install failed because the Rglpk package failed to install.  It has an external dependency on an executable that I needed to track down and get installed before I could install this package.

[2019-05-06 15:19] alvarolopez commented on #1403
Hi @trallard
Although the list is dauning, I think that @dangunter or @jsta could make a review for this.

Cheers.

[2019-05-06 15:20] rmflight commented on #1416
QTL testing is definitely outside my area of expertise, so I'm going to have to decline.

Good luck!

[2019-05-06 15:22] whedon opened #1433 "[PRE REVIEW]: CSaransh: Software Suite to Study Molecular Dynamics Simulations of Collision Cascades"
**Submitting author:** @haptork (<a href="http://orcid.org/0000-0002-1100-6059">Utkarsh Bhardwaj</a>)
**Repository:** <a href="https://github.com/haptork/csaransh" target ="_blank">https://github.com/haptork/csaransh</a>
**Version:** v0.3.1
**Editor:** @katyhuff
**Reviewers:** @jmborr, @arose

**Author instructions**

Thanks for submitting your paper to JOSS @haptork. **Currently, there isn't an J

[2019-05-06 15:22] whedon commented on #1433
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-06 15:22] whedon commented on #1433
[code]

[2019-05-06 15:23] whedon commented on #1433
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01433/joss.01433/10.21105.joss.01433.pdf)

[2019-05-06 15:28] kyleniemeyer commented on #1389
@whedon set 10.5281/zenodo.2667756 as archive

[2019-05-06 15:28] whedon commented on #1389
OK. <a href="https://doi.org/10.5281/zenodo.2667756" target="_blank">10.5281/zenodo.2667756</a> is the archive.

[2019-05-06 15:28] kyleniemeyer commented on #1389
@whedon accept

[2019-05-06 15:28] whedon commented on #1389
[code]

[2019-05-06 15:29] whedon commented on #1389
PDF failed to compile for issue #1389 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    158      0 --:--:-- --:--:-- --:--:--   160
pandoc: 10.21105.

[2019-05-06 15:29] whedon commented on #1389
[code]

[2019-05-06 15:29] dmbates commented on #1404
There do not appear to be print methods for many of the model types in the examples that I tried.  If you are going to assign an S3 class to the fitted model then it would be common to provide methods for print and for various extractors like coef.

Also the fitting functions typically take the name of the model type without prepending "fit_" or a similar phrase.  So an "lm" object is created by "

[2019-05-06 15:34] dmbates commented on #1404
The tests seem rather perfunctory - for the most part checking dimensions.  A more systematic testing approach would be welcome.

[2019-05-06 15:38] kyleniemeyer commented on #1433
Hi @katyhuff, it looks like this submission might be up your alley. Can you edit this?

[2019-05-06 15:40] arokem commented on #1422
👋 @dvysardana: would you be willing to review this paper for JOSS? It seems right up your alley!

[2019-05-06 15:41] arokem commented on #1171
@tanselbaran : where do you stand on testing the functionality of the software?

[2019-05-06 15:45] dpolychr commented on #1416
Thanks for the invitation but QTL testing is not my expertise either. Good luck with the submission and I would be happy to help out with requests that fall within my area of expertise

[2019-05-06 15:53] tanselbaran commented on #1171
I was on vacation last week, but I can take a look this week. I opened an issue for the missing example usage and tests--I think I would need to have those available to test functionality.

[2019-05-06 16:12] dirmeier commented on #1404
See here for the manuscript's revision itself: https://github.com/osorensen/hdme/issues/26

[2019-05-06 16:21] cbjuan commented on #1188
Hi @danielskatz. We did not make any important improvement since the last review. So, honestly, I think that would be better to withdraw the paper in its current status to later re-submit it if we achieve the desired quality standard.

Thanks for the workflow and the reviews to all of you.

[2019-05-06 16:21] davekinkead commented on #1044
Hi @labarba any news?

[2019-05-06 16:25] dangunter commented on #1403
Hi, I can comment on the general idea  but as I don't really do ML etc. in practice I can't comment on the value proposition of such a tool -- if that is even a desired outcome of the review.

[2019-05-06 16:26] danielskatz commented on #1188
Thanks @cbjuan, and thanks @malmaud for your work in this review, which even if not complete is helpful for the future of the software.

I'll now withdraw this submission

[2019-05-06 16:27] #1188 closed

[2019-05-06 16:29] brandondube commented on #1352
The release is up on PyPI!  Once you've given the OK, I'll package it on Zenodo for the submission 🚀

[2019-05-06 17:31] arfon commented on #1389
@whedon accept

[2019-05-06 17:32] whedon commented on #1389
[code]

[2019-05-06 17:32] whedon commented on #1389
[code]

[2019-05-06 17:33] whedon commented on #1389
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/662

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/662, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-06 17:37] arfon commented on #1389
@whedon accept deposit=true

[2019-05-06 17:37] whedon commented on #1389
[code]

[2019-05-06 17:37] whedon commented on #1389
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/663
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01389](https://doi.org/10.21105/joss.01389)
2. If everything looks go

[2019-05-06 18:10] katyhuff commented on #1389
@kyleniemeyer @arfon Thanks for jumping forward with the submission. That said, I didn't get a chance to execute the whedon set version command in time to beat you to that accept function!

Usually, that's part of my task list at this stage -- do we need to fix and re-accept? That is, the submission was v0.5, but, at my request, the author updated the version when creating the archive release, to

[2019-05-06 18:16] arfon commented on #1389
Sorry my/our bad - looks like we got ahead of ourselves here. The version isn't actually captured in the paper so please go ahead and update that here.

[2019-05-06 18:17] arfon commented on #1389
Also, please note, Crossref is still having some issues so this DOI doesn't resolve yet.

[2019-05-06 18:18] katyhuff commented on #1389
@whedon set v0.5.2 as version

[2019-05-06 18:18] whedon commented on #1389
OK. v0.5.2 is the version.

[2019-05-06 18:18] katyhuff commented on #1389
So (@arfon @kyleniemeyer ) do we just run accept again?

[2019-05-06 18:20] arfon commented on #1389
There's no need to because the version isn't captured anywhere other than here. The archive DOI is correct right? (This is linked to in the paper)

[2019-05-06 19:08] leouieda commented on #1342
@kgjerde thank you for reporting back to us :+1:

:wave: @trinker @kbenoit please take another look at the project and paper when you have time. Here are a few things to keep in mind:

* Have all your comments/concerns been addressed?
* Are there still any items from the checklist at the top of this issue left un-checked?

If you're satisfied with the revisions, please let me know and check any re

[2019-05-06 19:19] leouieda commented on #1315
Hi @sauln no problem, take your time. I'll ask whedon to remind you in two weeks for an update just to keep us in the loop.

[2019-05-06 19:19] leouieda commented on #1315
@whedon remind @sauln in 2 weeks

[2019-05-06 19:19] whedon commented on #1315
Reminder set for @sauln in 2 weeks

[2019-05-06 19:21] MatthewTurk commented on #1370
Hi @kyleniemeyer, working on mine now.  Apologies, hope to have it done within 24 hours.

[2019-05-06 19:25] katyhuff commented on #1389
#fancy .

[2019-05-06 19:36] MatthewTurk commented on #1370
I have completed my review, and here are my comments:

 * `LICENSE` is not in the repository, but it is in the `README.md` file and a `license.txt` file, which seems fine to me.
 * I did have to dig around for the tests, but not to the point that I felt even raising an issue was warranted on the original repository.

I recommend this paper be accepted.

[2019-05-06 20:35] vc1492a commented on #1425
**Overview**: This was an interesting piece of software to review and I enjoyed walking through it and testing its functionality. While I believe updates are needed in order for publication in JOSS (see below), the software is well documented and seems to fit a niche that may be useful within the network analysis community.

**License**: While a license is provided in the project repository (MIT),

[2019-05-06 21:09] graiola commented on #1225
@whedon generate pdf

[2019-05-06 21:09] whedon commented on #1225
[code]

[2019-05-06 21:11] whedon commented on #1225
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01225/joss.01225/10.21105.joss.01225.pdf)

[2019-05-06 21:26] graiola commented on #1225
@danielskatz this is the DOI 10.5281/zenodo.2669652
The version is v1.0.0

Thanks!

[2019-05-06 21:46] likask commented on #1432
@whedon list reviewers

[2019-05-06 21:46] whedon commented on #1432
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-05-06 22:00] danielskatz commented on #1225
whedon set 1.0.0 as version

[2019-05-06 22:01] danielskatz commented on #1225
@whedon set 1.0.0 as version

[2019-05-06 22:01] whedon commented on #1225
OK. 1.0.0 is the version.

[2019-05-06 22:01] danielskatz commented on #1225
@whedon set 10.5281/zenodo.2669652 as archive

[2019-05-06 22:01] whedon commented on #1225
OK. <a href="https://doi.org/10.5281/zenodo.2669652" target="_blank">10.5281/zenodo.2669652</a> is the archive.

[2019-05-06 22:02] danielskatz commented on #1225
@whedon accept

[2019-05-06 22:02] whedon commented on #1225
[code]

[2019-05-06 22:03] whedon commented on #1225
[code]

[2019-05-06 22:03] whedon commented on #1225
PDF failed to compile for issue #1225 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    468      0 --:--:-- --:--:-- --:--:--   483
sh: 0: getcwd() f

[2019-05-06 22:06] danielskatz commented on #1225
👋 @graiola - I no longer see the paper.md and paper.bib files in the repo - what am I missing?

[2019-05-07 00:00] arfon commented on #1225
@danielskatz - they're still there (e.g. `https://github.com/stulp/dmpbbo/blob/master/docs/paper/paper.md`). Whedon just sometimes fails to clone the repositories properly (a long-standing bug).

[2019-05-07 00:00] arfon commented on #1225
@whedon accept

[2019-05-07 00:01] whedon commented on #1225
[code]

[2019-05-07 00:01] whedon commented on #1225
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/664

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/664, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-07 00:02] whedon commented on #1225
[code]

[2019-05-07 00:12] danielskatz commented on #1225
@graiola - Some of the references have some issues - please see https://github.com/stulp/dmpbbo/pull/49

[2019-05-07 00:14] dangunter commented on #1403
Hi @trallard I could review this but not sure what to do next

[2019-05-07 03:54] 1313e commented on #1229
No, I remember there being some kind of form with the logo of JOSS covering the entire background of it.
Problem is that I cannot ask the person who showed it to me, as he is on a holiday.
I might be wrong though, perfectly possible.

However, I am assuming that the DOI for AAS Journals will be known when the paper is actually published.
So, that would mean waiting for at least another month.

[2019-05-07 05:00] kyleniemeyer commented on #1389
@katyhuff sorry for rushing your process... just trying to help get this one wrapped up!

[2019-05-07 05:55] graiola commented on #1225
PR merged!

[2019-05-07 06:57] jlincbio commented on #1423
I noticed a small typo (extra "an" in "...BioPerl library made it an undesireable") and modified `paper.md` by the way; hopefully this isn't too late.

[2019-05-07 07:26] kyleniemeyer commented on #1423
@jlincbio nope, until we formally publish the paper it isn't too late.

[2019-05-07 07:26] kyleniemeyer commented on #1423
@whedon generate pdf

[2019-05-07 07:26] whedon commented on #1423
[code]

[2019-05-07 07:27] whedon commented on #1423
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01423/joss.01423/10.21105.joss.01423.pdf)

[2019-05-07 07:28] kyleniemeyer commented on #1423
@whedon accept

[2019-05-07 07:28] whedon commented on #1423
[code]

[2019-05-07 07:28] whedon commented on #1423
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/665

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/665, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-07 07:28] whedon commented on #1423
[code]

[2019-05-07 07:37] jlincbio commented on #1423
@kyleniemeyer thanks for the help...the PDF looks fine. Hopefully this didn't wake you up in the middle of the night.

[2019-05-07 08:23] seabbs commented on #1430
@csonesn I would also be happy to review.

Not an expert in survival analysis but I have used `mgcv` fairly regularly (according to vignettes it has a comparable framework).

[2019-05-07 08:27] csoneson commented on #1430
@seabbs perfect. I will add you both as reviewers and open the review issue.

[2019-05-07 08:28] csoneson commented on #1430
@whedon assign @corybrunson as reviewer

[2019-05-07 08:28] whedon commented on #1430
OK, the reviewer is @corybrunson

[2019-05-07 08:28] csoneson commented on #1430
@whedon add @seabbs as reviewer

[2019-05-07 08:28] whedon commented on #1430
OK, @seabbs is now a reviewer

[2019-05-07 08:28] csoneson commented on #1430
@whedon start review

[2019-05-07 09:00] adibender commented on #1430
Hello, sorry for late reply, happy to review if still necessary.

[2019-05-07 09:14] danielskatz commented on #1225
@whedon accept

[2019-05-07 09:14] whedon commented on #1225
[code]

[2019-05-07 09:14] whedon commented on #1225
[code]

[2019-05-07 09:14] whedon commented on #1225
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/666

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/666, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-07 09:27] strengejacke commented on #1412
We're planning to submit a package-update to CRAN, which would change the version number. The changes won't affect the paper or review-process, but should we update the version-number here somehow?

[2019-05-07 09:34] jason-neal commented on #1053
@afron That seemed to work.

[2019-05-07 10:23] arfon commented on #1430
@whedon start review

[2019-05-07 10:29] arfon commented on #1430
@whedon start review

[2019-05-07 10:29] whedon opened #1434 "[REVIEW]: survPen: an R package for hazard and excess hazard modelling with multidimensional penalized splines"
**Submitting author:** @fauvernierma (<a href="http://orcid.org/0000-0002-3809-8248">Mathieu Fauvernier</a>)
**Repository:** <a href="https://github.com/fauvernierma/survPen" target ="_blank">https://github.com/fauvernierma/survPen</a>
**Version:** v1.2.0
**Editor:** @csoneson
**Reviewer:** @corybrunson, @seabbs
**Archive:** <a href="https://doi.org/10.5281/zenodo.3372656" target="_blank">10.5281/

[2019-05-07 10:29] whedon commented on #1430
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1434. Feel free to close this issue now!

[2019-05-07 10:29] whedon commented on #1434
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @corybrunson, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-05-07 10:29] whedon commented on #1434
[code]

[2019-05-07 10:29] #1430 closed

[2019-05-07 10:29] whedon commented on #1434
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01434/joss.01434/10.21105.joss.01434.pdf)

[2019-05-07 10:30] arfon commented on #1053
@whedon accept

[2019-05-07 10:30] whedon commented on #1053
No archive DOI set. Exiting...

[2019-05-07 10:30] arfon commented on #1053
@whedon set 10.5281/zenodo.2658917 as archive

[2019-05-07 10:30] whedon commented on #1053
OK. <a href="https://doi.org/10.5281/zenodo.2658917" target="_blank">10.5281/zenodo.2658917</a> is the archive.

[2019-05-07 10:30] arfon commented on #1053
@whedon accept

[2019-05-07 10:30] whedon commented on #1053
[code]

[2019-05-07 10:31] whedon commented on #1053
PDF failed to compile for issue #1053 with the following error:

 Can't find any papers to compile :-(

[2019-05-07 10:31] whedon commented on #1053
[code]

[2019-05-07 10:31] arfon commented on #1053
@whedon accept

[2019-05-07 10:31] whedon commented on #1053
[code]

[2019-05-07 10:32] whedon commented on #1053
PDF failed to compile for issue #1053 with the following error:

 Can't find any papers to compile :-(

[2019-05-07 10:32] whedon commented on #1053
[code]

[2019-05-07 10:32] danielskatz commented on #1225
@whedon accept deposit=true

[2019-05-07 10:32] whedon commented on #1225
[code]

[2019-05-07 10:33] whedon commented on #1225
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/667
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01225](https://doi.org/10.21105/joss.01225)
2. If everything looks go

[2019-05-07 10:33] arfon commented on #1053
[code]

@jason-neal please fix up these DOIs ☝️in your bibtex file.

[2019-05-07 10:34] danielskatz commented on #1225
now we wait for the DOI to work, then I'll complete the process

[2019-05-07 10:35] danielskatz commented on #1225
Also, thanks very much to @studywolf & @jenskober for the reviewing work!

[2019-05-07 11:20] csoneson commented on #1430
Hi @adibender - thanks for volunteering! I think we are set here - I hope I can come back to you for another paper in the future!

[2019-05-07 11:21] csoneson commented on #1430
@corybrunson, @seabbs - let's head over to #1434 for the review!

[2019-05-07 11:22] csoneson commented on #1434
@corybrunson, @seabbs - please perform your review in this issue, by updating your checklist above and posting comments (also see the additional instructions in the posts above). If you have any questions, don't hesitate to ping me.

[2019-05-07 12:53] lowandrew commented on #1390
@pierrepo @trallard I overall quite like the package and find it works fairly well, but I would like to see more added in the way of documentation/real world examples, as I found myself troubleshooting via trial and error more than I would have liked when playing around with the package.

1. As noted by @rpetit3, the installation instructions aren't quite complete - it's only in going through the

[2019-05-07 14:46] katyhuff commented on #1433
@whedon assign @katyhuff as editor

[2019-05-07 14:46] whedon commented on #1433
OK, the editor is @katyhuff

[2019-05-07 15:56] likask commented on #1432
Suggested revieweres @IgorBaratta @mikaem

I've pick-up reviewers based on C++ and finite element method. It could be cool to have MoFEM reviewed by someone from the FEniCS community.

BTW I don't know how JOSS pick reviewers. Should I do it? Or I crossing some red lines now :)

[2019-05-07 16:21] rcorty commented on #1416
I’d like to consider reviewing, but I can’t see the pdf on mobile.  It says the file is corrupted?

[2019-05-07 16:21] aelanman commented on #1234
I tried an ubuntu 18.04 docker container with mpich and that worked, so it seems like it might be the open mpi build.

I had to remove pyuvdata from the requirements.txt because it broke the `pip install -r requirements.txt` build in the clean environment. I think the problem is that `pyuvdata` isn't really configured to be installed as a dependency via pip. I've been trying to work out what that

[2019-05-07 16:37] jedbrown commented on #1432
Thanks for suggesting reviewers. @IgorBaratta @mikaem, :wave: please let us know if you're available. I reached out yesterday to a couple other potential reviewers.

[2019-05-07 16:57] csoneson commented on #1416
Thanks @rcorty - I just checked and it works fine for me, both on the laptop and on the mobile (if I choose 'Desktop version' for GitHub on the mobile). I just pulled down the paper and sent it to you by email, if that's helpful to have a first look.

[2019-05-07 18:16] arfon commented on #1225
@danielskatz - the DOI is now resolving.

[2019-05-07 18:23] arfon commented on #1389
Just to let you know, the DOI is now resolving properly.

[2019-05-07 19:33] rcorty commented on #1416
Thank you — I’ll be happy to review.

[2019-05-07 19:35] csoneson commented on #1416
Excellent!

[2019-05-07 19:35] csoneson commented on #1416
@whedon add @rcorty as reviewer

[2019-05-07 19:35] whedon commented on #1416
OK, @rcorty is now a reviewer

[2019-05-07 19:37] csoneson commented on #1416
@whedon start review

[2019-05-07 19:37] whedon opened #1435 "[REVIEW]: qtl2pleio: Testing pleiotropy vs. separate QTL in multiparental populations"
**Submitting author:** @fboehm (<a href="http://orcid.org/0000-0002-1644-5931">Frederick Boehm</a>)
**Repository:** <a href="https://github.com/fboehm/qtl2pleio" target ="_blank">https://github.com/fboehm/qtl2pleio</a>
**Version:** v1.0.3
**Editor:** @csoneson
**Reviewer:** @vjcitn, @rcorty
**Archive:** <a href="https://doi.org/10.5281/zenodo.3263924" target="_blank">10.5281/zenodo.3263924</a>

##

[2019-05-07 19:37] whedon commented on #1416
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1435. Feel free to close this issue now!

[2019-05-07 19:37] whedon commented on #1435
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vjcitn, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-05-07 19:37] whedon commented on #1435
[code]

[2019-05-07 19:37] whedon commented on #1435
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01435/joss.01435/10.21105.joss.01435.pdf)

[2019-05-07 19:38] csoneson commented on #1416
@vjcitn, @rcorty - thanks for agreeing to review this JOSS submission! Please head over to issue #1435 for the actual review.

[2019-05-07 19:38] #1416 closed

[2019-05-07 19:38] csoneson commented on #1435
@vjcitn, @rcorty - please perform your review in this issue, by updating your checklist above and posting comments (also see the additional instructions in the posts above). If you have any questions, don't hesitate to ping me.

[2019-05-07 19:59] leouieda commented on #1425
@vc1492a thank you for the detailed review :rocket: @ulfaslak please do your best to respond to Valentino's comments either here in this thread or in separate issues in your repository (preferred). If you open the issues/PRs, please remember to link back to this thread by including `openjournals/joss-reviews#1425` in the issue/PR body.

[2019-05-07 20:00] vijaysm commented on #1173
@pankajkmishra Please document that the statistics toolbox is a required dependency in order to compute local pairwise distances between points. Instead, this dependency can be easily removed by exposing your own `pdist2` implementation like below.
[code]
and then using `pdist2loc` instead of `pdist2` in the tests:
[code]

[2019-05-07 20:08] #1225 closed

[2019-05-07 20:08] whedon commented on #1225
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01225/status.svg)](https://doi.org/10.21105/joss.01225)

**We need your help!**

Journal of Open Source Softwar

[2019-05-07 20:09] alexpghayes commented on #1412
## Review

This review is of the Github `master` branch on 2019-05-07.

`insight` is a well-written and well-documented package. Reading both the source, pkgdown website and tests was a pleasure. The goal of `insight` is to reduce the complexity of working with model objects by providing an easy and intuitive interface to abstracting information from model objects.

My comments are largely about t

[2019-05-07 20:15] leouieda commented on #1425
I agree with @vc1492a regarding using `Pathlib` and adding some form of testing. The [JOSS requirements](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) state that:

While manual tests are acceptable, use of some form of automated test is encouraged.

[2019-05-07 20:16] kmichael08 commented on #1389
Wonderful! Thanks for everyone engaged in the process: reviews, editing and the super fast finish.

[2019-05-07 20:38] strengejacke commented on #1412
@alexpghayes Thanks for the detailed and comprehensive review! I think your comments are very helpful to make the package more accessible to users. We'll try to address your issues point-by-point and respond here once we think we have a revised version that is sufficient for re-reviewing again.

[2019-05-07 20:53] brandondube commented on #1352
@xuanxu I uploaded to Zenodo -- https://zenodo.org/record/2672954

DOI 10.5281/zenodo.2672954 🍾

[2019-05-07 21:00] graiola commented on #1225
Thanks @arfon and @danielskatz, and thanks to our reviewers @studywolf and @jenskober

[2019-05-07 23:25] karthik commented on #1412
@strengejacke We can fix your version before this review is completed.

[2019-05-08 00:32] jlincbio commented on #1423
@kyleniemeyer sorry to bother you again, but do you know when the issue with CrossRef will be resolved and the paper can officially go on-line?

[2019-05-08 01:15] rcorty commented on #1435
I'm seeing a 2-page pdf.  Should I be seeing more?

[2019-05-08 01:16] rcorty commented on #1435
license file doesn't seem detailed enough

[2019-05-08 01:18] rcorty commented on #1435
In the summary, the authors write "For a pair of traits that map to a single genomic region, they formulated the test with the null hypothesis being pleiotropy (the two traits are affected by a single QTL) against the alternative hypothesis of two separate QTL, with each affecting exactly one trait in the pair."

QTL = quantitative trait locus, and it seems like there is only one locus being discu

[2019-05-08 01:24] rcorty commented on #1435
To make it easy for people to go through your README, consider making `pr` available somehow, so users don't have to computer that -- it takes a while and that computation is not relevant for `qtl2pleio`.

[2019-05-08 02:14] 1313e commented on #1229
@whedon generate pdf

[2019-05-08 02:14] whedon commented on #1229
[code]

[2019-05-08 02:15] whedon commented on #1229
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01229/joss.01229/10.21105.joss.01229.pdf)

[2019-05-08 02:19] 1313e commented on #1229
@arfon @crawfordsm Well, since I got the DOI for the ApJS manuscript this morning, I have added it to the JOSS manuscript.
I guess there are some other things that need to be changed or added, as currently it is not very clear that both manuscripts are somewhat linked.

[2019-05-08 04:54] RemiLehe commented on #1370
The reviewers have addressed my comment (in the issues of the AMReX repository).
I also recommend that the paper be accepted.

[2019-05-08 05:50] csoneson commented on #1435
@rcorty Have a look here for the expected format of a JOSS submission (including the paper itself): https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-05-08 05:59] stulp commented on #1225
Thank you @studywolf and @jenskober for your thorough reviews, and thank you @arfon and @danielskatz for supervising the review process. I think the reviewing process has certainly contributed to improving the code, especially in terms of documentation, and making the code easier to navigate for newcomers. So thanks again for the time and effort you have all invested.

[2019-05-08 06:36] jenskober commented on #1225
Yes, it felt more like helping to improve the code rather than typical academic reviews. I really enjoyed the process, especially as @graiola and @stulp were extremely quick to react and went beyond what we were suggesting.

[2019-05-08 08:27] xuanxu commented on #1352
@brandondube Great, thanks!

[2019-05-08 08:28] xuanxu commented on #1352
@whedon set v0.16 as version

[2019-05-08 08:28] whedon commented on #1352
OK. v0.16 is the version.

[2019-05-08 08:29] xuanxu commented on #1352
@whedon generate pdf

[2019-05-08 08:29] whedon commented on #1352
[code]

[2019-05-08 08:29] whedon commented on #1352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01352/joss.01352/10.21105.joss.01352.pdf)

[2019-05-08 08:31] xuanxu commented on #1352
@whedon set 10.5281/zenodo.2672954 as archive

[2019-05-08 08:31] whedon commented on #1352
OK. <a href="https://doi.org/10.5281/zenodo.2672954" target="_blank">10.5281/zenodo.2672954</a> is the archive.

[2019-05-08 08:32] xuanxu commented on #1352
OK, everything ready for publication. Thanks for the review @aquilesC!

Pinging @openjournals/joss-eics for final acceptance

[2019-05-08 10:23] jason-neal commented on #1053
Ahh sorry, so much for using shortDOI's.

[2019-05-08 10:23] jason-neal commented on #1053
@whedon generate pdf

[2019-05-08 10:23] whedon commented on #1053
[code]

[2019-05-08 10:24] whedon commented on #1053
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01053/joss.01053/10.21105.joss.01053.pdf)

[2019-05-08 10:29] arfon commented on #1229
Excellent. You might want to add the issue/volume numbers when we have them too.

Right. I'm talking with AAS publishing about finding a way to show these are linked in some way. Watch this space - I should have an update on this soon. Also, thanks for your patience (and being the first to do this) - as you can tell, we have some things to work through with AAS here 😸

[2019-05-08 10:30] arfon commented on #1053
@whedon check references

[2019-05-08 10:30] whedon commented on #1053
[code]

[2019-05-08 10:31] whedon commented on #1053
[code]

[2019-05-08 10:31] arfon commented on #1053
@whedon accept

[2019-05-08 10:31] whedon commented on #1053
[code]

[2019-05-08 10:31] whedon commented on #1053
[code]

[2019-05-08 10:32] whedon commented on #1053
PDF failed to compile for issue #1053 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    361      0 --:--:-- --:--:-- --:--:--   361
[WARNING] Could n

[2019-05-08 10:32] haptork commented on #1433
Thanks @kyleniemeyer and @katyhuff for the quick response.

Following are the names of reviewers that I filtered from the spreadsheet based on some keywords:

- katyhuff
- jochym
- jmborr
- KEIPERTK
- DanielLenz
- zhampel

[2019-05-08 10:39] arfon commented on #1053
@whedon accept

[2019-05-08 10:39] whedon commented on #1053
[code]

[2019-05-08 10:39] whedon commented on #1053
PDF failed to compile for issue #1053 with the following error:

 /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/find.rb:43:in `block in find': No such file or directory - tmp/1053 (Errno::ENOENT)
	from /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.5.3/lib/ruby/2.5.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-77e1ffbd3fc0/lib/whedo

[2019-05-08 10:39] whedon commented on #1053
[code]

[2019-05-08 10:44] arfon commented on #1053
@whedon accept

[2019-05-08 10:44] whedon commented on #1053
[code]

[2019-05-08 10:44] whedon commented on #1053
[code]

[2019-05-08 10:45] whedon commented on #1053
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/668

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/668, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-08 10:45] arfon commented on #1053
@whedon accept deposit=true

[2019-05-08 10:46] whedon commented on #1053
[code]

[2019-05-08 10:46] whedon commented on #1053
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/669
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01053](https://doi.org/10.21105/joss.01053)
2. If everything looks go

[2019-05-08 10:52] 1313e commented on #1229
Adding the issue/volume numbers is going to be difficult I think, as that really requires the manuscript to be published.

[2019-05-08 14:34] kyleniemeyer commented on #1423
@jlincbio congrats on your paper's publication in JOSS! thanks to @darogan for reviewing and @lpantano for editing!

[2019-05-08 14:34] #1423 closed

[2019-05-08 14:34] whedon commented on #1423
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01423/status.svg)](https://doi.org/10.21105/joss.01423)

**We need your help!**

Journal of Open Source Softwar

[2019-05-08 14:35] kyleniemeyer commented on #1423
@jlincbio congrats on your paper's publication in JOSS! Thanks to @darogan for reviewing and @lpantano for editing!

[2019-05-08 14:45] adrena-lab commented on #1392
Dear @trallard, @cmccomb and @nicoguaro

thank you for handling the manuscript and for the very constructive feedback to our work. We have in the meantime uploaded a revised submission on github. We restructured the organisation of the files in the repository and made major changes to the file readme.md:

1) We expanded the installation instructions to include a description of what each file does.

[2019-05-08 14:49] kyleniemeyer commented on #1370
Thanks for your reviews @MatthewTurk @RemiLehe @cmsquared !

@asalmgren it looks like the only remaining issue is the license. JOSS requires that software submissions use standard OSI-approved licenses, and it looks like your submission is using a modified version of the BSD 3-clause license.

The editorial board is in agreement that AMReX needs to adopt an (unmodified, standard) OSI-approved lice

[2019-05-08 15:06] lpantano commented on #1423
Congrats! you did great!

[2019-05-08 15:18] darogan commented on #1423
Congratulations, was a pleasure to review

[2019-05-08 16:15] gkthiruvathukal commented on #1345
@whedon set 10.5281/zenodo.2668061 as archive

[2019-05-08 16:15] whedon commented on #1345
OK. <a href="https://doi.org/10.5281/zenodo.2668061" target="_blank">10.5281/zenodo.2668061</a> is the archive.

[2019-05-08 16:15] gkthiruvathukal commented on #1345
@whedon generate pdf

[2019-05-08 16:15] whedon commented on #1345
[code]

[2019-05-08 16:16] whedon commented on #1345
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01345/joss.01345/10.21105.joss.01345.pdf)

[2019-05-08 16:20] gkthiruvathukal commented on #1345
@openjournals/joss-eics I'm ready to move toward acceptance of this submission. The archive has been set. I've checked the article proofs and everything appears to be fine.

[2019-05-08 16:27] gkthiruvathukal commented on #1326
Thanks, @trallard.
@Amudtogal, based on the feedback from the reviewers--and my own relatively strong opinions about the need for tests--please act upon this input so we can proceed to the next steps.

[2019-05-08 16:32] gkthiruvathukal commented on #1357
@azazel7 Thanks for your suggestions from our list. I was a bit busy grading finals so there was a bit of a delay in getting started. Stay tuned.

[2019-05-08 16:50] cmccomb commented on #1392
@adrena-lab Thank you for the detailed response and revisions! I have updated my review checklist and have no further recommendations.

[2019-05-08 16:51] asalmgren commented on #1370
Kyle et al --

We understand and are trying to figure out how we can meet the
requirement.   Is there a way to find out if there are codes currently
published in JOSS that have been released from LBNL?

Thanks

On Wed, May 8, 2019 at 7:50 AM Kyle Niemeyer <notifications@github.com>
wrote:

[2019-05-08 17:07] jedbrown commented on #1370
Note that SuperLU_DIST, for example, is standard 3-clause BSD. https://github.com/xiaoyeli/superlu_dist/blob/master/License.txt
JOSS #830 has a normal 3-clause BSD license.

[2019-05-08 17:08] abelsiqueira commented on #1385
@whedon generate pdf from branch joss

[2019-05-08 17:08] whedon commented on #1385
[code]

[2019-05-08 17:08] whedon commented on #1385
PDF failed to compile for issue #1385 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    481      0 --:--:-- --:--:-- --:--:--   481
Error reading bib

[2019-05-08 17:20] gassmoeller commented on #1384
I am looking forward to review this @leouieda. Do I need to do anything to create the actual review issue or will you do that?

[2019-05-08 18:48] leouieda commented on #1384
Hi @gassmoeller happy to have you on board! I'll create the review. We're just waiting on a second reviewer. I'm having a hard time finding someone with the right skills and time. Do you have any suggestions?

[2019-05-08 18:51] asalmgren commented on #1370
We have replaced the license.txt with the modified BSD license by LICENSE
containing the standard 3-clause BSD license.

For the record however - I think that both JOSS and xSKD should re-consider
their policy regarding the modified license -- if you read the text you
will notice that it is in fact more "permissive" and in the spirit of open
source than the standard 3-clause license, and as such s

[2019-05-08 18:53] leouieda commented on #1382
@Chilipp sorry this is taking so long. @banesullivan is in the process of renaming the vtki package to `vista` (see pyvista/vista#208). We'll need to update this issue before we can start the review.

[2019-05-08 18:55] leouieda commented on #1382
:wave: Hi @RcSepp would be interested in reviewing this submission for JOSS?

[2019-05-08 19:11] jedbrown commented on #1370
@asalmgren Although the intent may be to ensure [inbound=outbound](http://ebb.org/bkuhn/blog/2011/07/07/harmony-harmful.html) (see "Inbound=Outbound Is All You Need"), it applies to those who may make modifications in a fork (not just contributors to upstream) or as a component of a different project, and thus may require one-off legal consult for potential users as well as possible conflict with

[2019-05-08 19:24] arfon commented on #1370
Many thanks @asalmgren.

The challenge here is that with the modification, without consulting a lawyer, we don't know _what_ this license is. Any modification to an existing license is effectively a new license, hence defeating the purpose of having a shared set of common licenses where the terms are understood from a legal perspective.

If you and your colleagues strongly believe in this modified

[2019-05-08 19:34] asalmgren commented on #1370
Arfon et al,

Thank you for the discussion.     We'll look into petitioning OSI to accept
this modification.

In the meantime, however, I'm glad that the new AMReX license (standard
3-clause BSD) is acceptable.

Thanks,
Ann

On Wed, May 8, 2019 at 12:24 PM Arfon Smith <notifications@github.com>
wrote:

[2019-05-08 20:00] kthyng commented on #1112
Thanks so much @PythonCHB!

@jhill1 Can you address these comments soon?

[2019-05-08 20:11] aelanman commented on #1234
The requested changes have been merged to the master branch, so this is ready for a final review. @ygrange @arfon

[2019-05-08 20:50] Amudtogal commented on #1326
@gkthiruvathukal sorry for responding so late, too. The same academic madness is happening here right now :)
I will work on the tests as soon as I can find some spare time. When I am done, I will come back to you.
Thank you for the reviews and help you have been providing!

[2019-05-08 21:04] aj2duncan commented on #1279
@nelsonroque I’ve gone back though things and although I still need investigate the functionality in more detail I do have a few points for you to consider and maybe help me out with some queries.

In the paper:
- I think there needs to be a doi added for the Christ et al paper
- I also think that R and any packages that you mention should be cited too.
- Finally (@acolum be much obliged on your o

[2019-05-08 21:16] kyleniemeyer commented on #1423
@whedon accept deposit=true

[2019-05-08 21:16] whedon commented on #1423
[code]

[2019-05-08 21:17] whedon commented on #1423
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/670
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01423](https://doi.org/10.21105/joss.01423)
2. If everything looks go

[2019-05-08 23:17] jlincbio commented on #1423
@lpantano @darogan @kyleniemeyer thanks again for the help along the way and I do apologize for all the inconvenience I've caused. Looking forward to the next chance working with the wonderful people at JOSS in the future.

[2019-05-09 07:13] likask commented on #1432
@whedon generate pdf from branch joss

[2019-05-09 07:13] whedon commented on #1432
[code]

[2019-05-09 07:14] whedon commented on #1432
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01432/joss.01432/10.21105.joss.01432.pdf)

[2019-05-09 08:49] Kevin-Mattheus-Moerman commented on #1432
@jedbrown I've been using other open source finite element packages (https://febio.org/), and am the developer of GIBBON (https://www.gibboncode.org). I will test this package in the coming weeks. You can add me as a reviewer. However since I am not well versed in C++ I can only comment on the high level components like functionality and documentation. I therefore recommend you do recruit several

[2019-05-09 08:53] osorensen commented on #1404
@whedon generate pdf

[2019-05-09 08:53] whedon commented on #1404
[code]

[2019-05-09 08:53] whedon commented on #1404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01404/joss.01404/10.21105.joss.01404.pdf)

[2019-05-09 08:54] Kevin-Mattheus-Moerman commented on #1432
Perhaps @belgiansteve (the developer for the C++ FEA package FEBio https://febio.org/) and @siboles would be interested in reviewing this work too?

[2019-05-09 09:05] osorensen commented on #1404
Thanks to both reviewers for the very useful feedback and @csoneson for the summary.

I have now added doi for Sorensen et al. (2015) and written a note about the GLPK dependency in the repository README.

I will work on adding print functions and standardizing names of the fitting functions during the next week.

[2019-05-09 09:46] celliern commented on #1356
Hello again!

Sorry for the delay !

I have updated the repository as well as the doc with the different suggestions, and I have added some examples and validation cases to a cookbook.

https://gitlab.com/celliern/scikit-fdiff/
https://scikit-fdiff.readthedocs.io/
https://scikit-fdiff.readthedocs.io/en/latest/auto_examples/index.html

[2019-05-09 10:35] labarba commented on #1388
@vsoch — Could you edit the metadata of the Zenodo deposit so the title and author match the paper? Thanks!

[2019-05-09 10:43] jhill1 commented on #1112
Thanks @PythonCHB !

The pull request has been merged (thanks for that!).

**Documents**: I've pulled over the changes in the README to the Sphinx docs and will have a think about how to make the best of them. I have a summer student this year who will be using this code, so we'll see how they get on and then I might ask them to rationalise the docs along the lines proposed.

I've removed all the

[2019-05-09 10:43] jhill1 commented on #1112
@whedon generate pdf

[2019-05-09 10:43] whedon commented on #1112
[code]

[2019-05-09 10:43] labarba commented on #1399
@whedon accept

[2019-05-09 10:43] whedon commented on #1399
[code]

[2019-05-09 10:43] whedon commented on #1112
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01112/joss.01112/10.21105.joss.01112.pdf)

[2019-05-09 10:43] whedon commented on #1399
[code]

[2019-05-09 10:44] whedon commented on #1399
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/671

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/671, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-09 10:45] labarba commented on #1399
@whedon accept deposit=true

[2019-05-09 10:45] whedon commented on #1399
[code]

[2019-05-09 10:45] whedon commented on #1399
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/672
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01399](https://doi.org/10.21105/joss.01399)
2. If everything looks go

[2019-05-09 10:46] jhill1 commented on #1112
@whedon generate pdf

[2019-05-09 10:46] whedon commented on #1112
[code]

[2019-05-09 10:46] whedon commented on #1112
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01112/joss.01112/10.21105.joss.01112.pdf)

[2019-05-09 10:48] labarba commented on #1399
Congratulations, @abatten, your JOSS paper is now published! 🎉

With huge thanks to our editor: @xuanxu, and the reviewer: @zingale — we couldn't do this without you! 🙏

[2019-05-09 10:48] #1399 closed

[2019-05-09 10:48] whedon commented on #1399
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01399/status.svg)](https://doi.org/10.21105/joss.01399)

**We need your help!**

Journal of Open Source Softwar

[2019-05-09 10:51] #1389 closed

[2019-05-09 10:51] whedon commented on #1389
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01389/status.svg)](https://doi.org/10.21105/joss.01389)

**We need your help!**

Journal of Open Source Softwar

[2019-05-09 12:55] vsoch commented on #1388
All set!

https://zenodo.org/record/2667656#.XNQjEnVKjoo

I also added the orcid id, and license.

[2019-05-09 13:13] casperdcl commented on #1277
erm ping @cMadan

[2019-05-09 13:16] labarba commented on #1388
@whedon accept

[2019-05-09 13:16] whedon commented on #1388
[code]

[2019-05-09 13:16] whedon commented on #1388
[code]

[2019-05-09 13:16] whedon commented on #1388
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/673

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/673, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-09 13:23] labarba commented on #1388
@whedon accept deposit=true

[2019-05-09 13:23] whedon commented on #1388
[code]

[2019-05-09 13:23] whedon commented on #1388
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/674
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01388](https://doi.org/10.21105/joss.01388)
2. If everything looks go

[2019-05-09 13:32] labarba commented on #1388
Congratulations, @vsoch, your JOSS paper is published! 🚀

Tremendous thanks to our editor: @brainstorm, and to the reviewers: @andreysmelter, @crew102 — we appreciate all that you do 🙏

[2019-05-09 13:32] #1388 closed

[2019-05-09 13:32] whedon commented on #1388
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01388/status.svg)](https://doi.org/10.21105/joss.01388)

**We need your help!**

Journal of Open Source Softwar

[2019-05-09 13:50] labarba commented on #1345
hi @mikahama — the JOSS paper format has the software repository on the left-margin of the first page, therefore we ask that you don't add the repository again in the text/footnote. Can you fix?

[2019-05-09 13:50] labarba commented on #1345
Also, can you edit the Zenodo metadata so the title matches the JOSS paper? You could also add your ORCID.

[2019-05-09 13:52] labarba commented on #1345
@whedon set 1.1.1-joss as version

[2019-05-09 13:52] whedon commented on #1345
OK. 1.1.1-joss is the version.

[2019-05-09 13:59] labarba commented on #1352
@brandondube — I'm not sure if this matters, but it looks like you pushed v0.16 as a tag, without creating the release. You can see that the "Latest release" flag is not shown next to it:
https://github.com/brandondube/prysm/releases

[2019-05-09 14:00] labarba commented on #1352
@whedon accept

[2019-05-09 14:00] whedon commented on #1352
[code]

[2019-05-09 14:01] whedon commented on #1352
[code]

[2019-05-09 14:01] whedon commented on #1352
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/675

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/675, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-09 14:10] mikahama commented on #1345
@labarba Hi, I removed the Github link in the footnote and edited the Zenodo metadata.

[2019-05-09 14:16] vsoch commented on #1388
Thank you @brainstorm @andreysmelter @arfon @crew102 and @labarba !

[2019-05-09 14:19] labarba commented on #1345
@whedon accept

[2019-05-09 14:19] whedon commented on #1345
[code]

[2019-05-09 14:19] whedon commented on #1345
[code]

[2019-05-09 14:19] whedon commented on #1345
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/676

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/676, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-09 14:28] katyhuff commented on #1433
@jochym: Paweł T. Jochym, are you able to and interested in taking on this review?
This submission is in need of expertise in physics, in particular, molecular dynamics related to radiation damage cascades, as well as familiarity with the systems and languages involved: python and c++ as well as, ideally, node.js. I know that you have at least a subset of these areas of expertise. I hope you'll le

[2019-05-09 14:28] katyhuff commented on #1433
@jmborr Jose Borreguero, are you able to and interested in taking on this review?
This submission is in need of expertise in physics, in particular, molecular dynamics related to radiation damage cascades, as well as familiarity with the systems and languages involved: python and c++ as well as, ideally, node.js. I know that you have at least a subset of these areas of expertise. I hope you'll let

[2019-05-09 14:29] katyhuff commented on #1433
@arose Alexander Rose, are you able to and interested in taking on this review?
This submission is in need of expertise in physics, in particular, molecular dynamics related to radiation damage cascades, as well as familiarity with the systems and languages involved: python and c++ as well as, ideally, node.js. I know that you have at least a subset of these areas of expertise. I hope you'll let m

[2019-05-09 14:37] labarba commented on #1345
@mikahama — I'm going to ask for a little clean-up on your bibliography. When you have acronyms, like NLP, you should use caps protection only around that string, i.e., `{NLP}`, and not the whole title. For example, this line will override the bibliography style for title capitalization by caps protection on the whole title:
https://github.com/mikahama/uralicNLP/blob/677a54022a21abb1d863de0b78f7bc

[2019-05-09 14:38] nicoguaro commented on #1392
I tested the software using MATLAB 2019a and obtained the results presented in the example. Nevertheless, I obtained the following warning message:

[code]

## Comments

- Regarding the *Statement of need* it is present in the first paragraph of the README file, but it might be clearer if it is presented separated.
- The README present details that are too specific. It would be a good idea to move

[2019-05-09 14:43] ygrange commented on #1234
The issue you report wrt pyuvdata doesn't sound completely unknown to me. For some reason I never mentioned it here but I think you are right: it somehow doesn't play well with pip.

My really absolutely final comment :)

Tests work almost like a charm using mpich, though I have one failure now in my setup:

[code]
Looking into the code it looks like line 157 cleans up no matter whether the try bl

[2019-05-09 14:44] whedon opened #1436 "[PRE REVIEW]: mTower: Trusted Execution Environment for MCU-based devices"
**Submitting author:** @omoliavko (<a href="http://orcid.org/0000-0003-3167-983X">Oleksandr Moliavko</a>)
**Repository:** <a href="https://github.com/Samsung/mTower.git" target ="_blank">https://github.com/Samsung/mTower.git</a>
**Version:** v0.1
**Editor:** @gkthiruvathukal
**Reviewers:** @gradvohl

**Author instructions**

Thanks for submitting your paper to JOSS @omoliavko. **Currently, there i

[2019-05-09 14:44] whedon commented on #1436
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-09 14:44] whedon commented on #1436
[code]

[2019-05-09 14:44] whedon commented on #1436
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01436/joss.01436/10.21105.joss.01436.pdf)

[2019-05-09 14:53] katyhuff commented on #1306
Thank you for your patience @connorourke .

Reviewer @vahtras : Can you please confirm that you still intend to conduct this review?

[2019-05-09 14:55] labarba commented on #1436
@omoliavko — Thank you for your submission to JOSS. From a quick inspection of the paper, it's not clear that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular:

You have a section header on "Research application" but the content is unconvincing—bear in mind we ask that the paper be written for a technical non-specialist. As such, it's unclear h

[2019-05-09 14:57] katyhuff commented on #1306
I will begin a detailed review, just in case. It should go quickly as I've already read the paper and looked over the repository.

## Review checklist for @katyhuff
### Conflict of interest

- [ ] As the reviewer I confirm that I have read the [JOSS conflict of interest policy](https://github.com/openjournals/joss/blob/master/COI.md) and that there are no conflicts of interest for me to review thi

[2019-05-09 15:00] schuyler-smith commented on #1429
@karthik

Sorry for the late response! For some reason the notifications of the messages were not pushing to me. Here I was wondering why I hadn't heard from anyone, and it was on my end!

I renamed the files. Was the fail because of the travis build? I have openmp in my c++ code and so I had messed up my configure file for the flags when dealing with native MacOS that doesn't support it. It shoul

[2019-05-09 15:00] schuyler-smith commented on #1429
@whedon commands

[2019-05-09 15:00] whedon commented on #1429
Here are some things you can ask me to do:

[code]

[2019-05-09 15:00] schuyler-smith commented on #1429
@whedon generate pdf

[2019-05-09 15:00] whedon commented on #1429
[code]

[2019-05-09 15:01] whedon commented on #1429
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01429/joss.01429/10.21105.joss.01429.pdf)

[2019-05-09 15:07] schuyler-smith commented on #1429
@kyleniemeyer @karthik
Thank you! I was able to generate the paper. Please let me know if I missed anything else, I tried my best to be diligent in the submission checklist.

[2019-05-09 15:10] whedon opened #1437 "[PRE REVIEW]: OnToCode: Template-based code-generation from ontologies"
**Submitting author:** @fiveop (<a href="http://orcid.org/0000-0003-3931-6670">Philipp Matthias Schäfer</a>)
**Repository:** <a href="https://gitlab.com/dlr-dw/ontocode" target ="_blank">https://gitlab.com/dlr-dw/ontocode</a>
**Version:** 1.0.0
**Editor:** @usethedata
**Reviewers:** @jimmccusker

**Author instructions**

Thanks for submitting your paper to JOSS @fiveop. **Currently, there isn't an

[2019-05-09 15:10] whedon commented on #1437
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-09 15:10] whedon commented on #1437
[code]

[2019-05-09 15:11] whedon commented on #1437
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01437/joss.01437/10.21105.joss.01437.pdf)

[2019-05-09 15:23] labarba commented on #1437
@fiveop — Thank you for your submission to JOSS. From a quick inspection of the paper, it's not clear that it meets our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular:

The paper says the software was “developed in support of a research project on the merits of automatic transfer of spacecraft part data from suppliers to integrators,” but it’s unclear how

[2019-05-09 15:24] whedon opened #1438 "[PRE REVIEW]: DynaMo: Dynamic Body Shape and Motion Capture with Intel RealSense Cameras"
**Submitting author:** @abhishektha (<a href="http://orcid.org/0000-0003-4260-0488">Abhishektha Boppana</a>)
**Repository:** <a href="https://github.com/anderson-cu-bioastronautics/dynamo_realsense-capture" target ="_blank">https://github.com/anderson-cu-bioastronautics/dynamo_realsense-capture</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @melund, @ixjlyons

**Author instructions**

[2019-05-09 15:24] whedon commented on #1438
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-09 15:24] whedon commented on #1438
[code]

[2019-05-09 15:24] whedon commented on #1438
PDF failed to compile for issue #1438 with the following error:

 /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-77e1ffbd3fc0/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-77e1ffbd3fc0/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-77

[2019-05-09 15:30] mikahama commented on #1345
@labarba I fixed the bibliography

[2019-05-09 15:34] labarba commented on #1438
@abhishektha — Please see the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) in the documentation, and fix your paper—it's missing the bibliography entry in the metadata.

Also, I know that you suggested @Kevin-Mattheus-Moerman as handling editor, and this is in his area of interest, but he has a high editorial load right now. Unless he pops i

[2019-05-09 15:41] whedon opened #1439 "[PRE REVIEW]: modelDown: automated website generator with interpretable documentation for predictive machine learning models"
**Submitting author:** @matiszak (<a href="http://orcid.org/0000-0001-6335-3434">Mateusz Urbański</a>)
**Repository:** <a href="https://github.com/MI2DataLab/modelDown" target ="_blank">https://github.com/MI2DataLab/modelDown</a>
**Version:** 1.0.0
**Editor:** @alexhanna
**Reviewers:** @terrytangyuan, @pdwaggoner

**Author instructions**

Thanks for submitting your paper to JOSS @matiszak. **Curre

[2019-05-09 15:41] whedon commented on #1439
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-09 15:41] whedon commented on #1439
[code]

[2019-05-09 15:42] whedon commented on #1439
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01439/joss.01439/10.21105.joss.01439.pdf)

[2019-05-09 15:45] labarba commented on #1345
@whedon accept deposit=true

[2019-05-09 15:45] whedon commented on #1345
[code]

[2019-05-09 15:45] whedon commented on #1345
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/677
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01345](https://doi.org/10.21105/joss.01345)
2. If everything looks go

[2019-05-09 15:50] labarba commented on #1345
Congratulations, @mikahama, your JOSS paper is published! 🎉

Huge thanks to our editor: @gkthiruvathukal, and reviewer: @gweissman — we could not do this without you 🙏

[2019-05-09 15:50] #1345 closed

[2019-05-09 15:50] whedon commented on #1345
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01345/status.svg)](https://doi.org/10.21105/joss.01345)

**We need your help!**

Journal of Open Source Softwar

[2019-05-09 15:57] abhishektha commented on #1438
@labarba, I've updated the paper and uploaded it to the main branch of the repository. Does this need to be tagged as a release to be recompiled?

And thank you for searching for another editor!

[2019-05-09 16:02] labarba commented on #1438
You can tag a release after the reviews, so it includes any improvements. Stay tuned!

[2019-05-09 16:02] labarba commented on #1438
@whedon generate pdf

[2019-05-09 16:02] whedon commented on #1438
[code]

[2019-05-09 16:02] whedon commented on #1438
PDF failed to compile for issue #1438 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0

[2019-05-09 16:03] labarba commented on #1438
You're missing a comma after `@article{Windolf:2008`

[2019-05-09 16:06] whedon opened #1440 "[PRE REVIEW]: iRODS Bash Completer"
**Submitting author:** @billyfish (<a href="http://orcid.org/0000-0002-7789-6875">Simon Tyrrell</a>)
**Repository:** <a href="https://github.com/TGAC/irods_bash_completer" target ="_blank">https://github.com/TGAC/irods_bash_completer</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @billyfish. **Currently, there is

[2019-05-09 16:06] whedon commented on #1440
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-05-09 16:06] whedon commented on #1440
[code]

[2019-05-09 16:06] whedon commented on #1440
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01440/joss.01440/10.21105.joss.01440.pdf)

[2019-05-09 16:08] abhishektha commented on #1438
@whedon generate pdf

[2019-05-09 16:08] whedon commented on #1438
[code]

[2019-05-09 16:09] whedon commented on #1438
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01438/joss.01438/10.21105.joss.01438.pdf)

[2019-05-09 16:09] abhishektha commented on #1438
@labarba looks like I finally got the pdf compiled, thank you for your help so far!

[2019-05-09 16:15] jmborr commented on #1433
Hi Katy,

I have looked onto the repository, this project is 90% javascript, 8% C++
and 2% python. I am proficient with python, average with C++ and a total
ignorant with javascript. Thus, I am pretty sure I can't make a proper
review of this package. 😞

<jose/>

On Thu, May 9, 2019 at 10:28 AM Katy Huff <notifications@github.com> wrote:

[2019-05-09 16:24] kthyng commented on #1112
Great work @jhill1 it looks like you have addressed all of @PythonCHB's comments. There is one unchecked box, but the pdf does indeed now have references included and they have doi's when appropriate.

I am going through my own checks now.

[2019-05-09 16:24] kthyng commented on #1112
@whedon check references

[2019-05-09 16:25] whedon commented on #1112
[code]

[2019-05-09 16:25] whedon commented on #1112
[code]

[2019-05-09 16:26] aelanman commented on #1234
Ah, sorry about that... I hadn't tried the tests without h5py. It should be redundant anyway. I've opened a PR with a fix. It should be merged within a couple hours.

[2019-05-09 16:27] brandondube commented on #1352
👋 @labarba not sure if it matters either (I uploaded the release on PyPi) - but I went ahead and turned the tag into a release on GH as well.

RTD seems to be having some widespread issues w/ conda right now, so unfortunately the docs won't be updated until those are resolved.

[2019-05-09 16:28] kthyng commented on #1112
@jhill1 your citation of Martin-Short2015 shouldn't have parentheses so that it is inline as it is part of the sentence as written.

[2019-05-09 16:29] kthyng commented on #1112
@jhill1 After that fix, please make a Zenodo archive, and report the DOI in this thread.

[2019-05-09 16:31] labarba commented on #1352
@whedon accept deposit=true

[2019-05-09 16:31] whedon commented on #1352
[code]

[2019-05-09 16:32] whedon commented on #1352
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/678
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01352](https://doi.org/10.21105/joss.01352)
2. If everything looks go

[2019-05-09 16:33] jedbrown commented on #1432
@whedon add @tjhei as reviewer

[2019-05-09 16:33] whedon commented on #1432
OK, @tjhei is now a reviewer

[2019-05-09 16:34] jedbrown commented on #1432
@whedon add @chrisrichardson as reviewer

[2019-05-09 16:34] whedon commented on #1432
OK, @chrisrichardson is now a reviewer

[2019-05-09 16:34] jedbrown commented on #1432
@whedon add @Kevin-Mattheus-Moerman as reviewer

[2019-05-09 16:34] whedon commented on #1432
OK, @Kevin-Mattheus-Moerman is now a reviewer

[2019-05-09 16:35] jedbrown commented on #1432
@whedon start review

[2019-05-09 16:35] whedon opened #1441 "[REVIEW]: MoFEM: An open source, parallel finite element library"
**Submitting author:** @likask (<a href="http://orcid.org/0000-0002-8468-5435">Lukasz Kaczmarczyk</a>)
**Repository:** <a href="https://bitbucket.org/likask/mofem-cephas" target ="_blank">https://bitbucket.org/likask/mofem-cephas</a>
**Version:** v0.9.0-joss
**Editor:** @jedbrown
**Reviewers:** @tjhei, @chrisrichardson, @Kevin-Mattheus-Moerman, @vijaysm, @chennachaos
**Archive:** <a href="https://

[2019-05-09 16:35] whedon commented on #1432
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1441. Feel free to close this issue now!

[2019-05-09 16:35] whedon commented on #1441
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tjhei, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-05-09 16:35] whedon commented on #1441
[code]

[2019-05-09 16:35] #1432 closed

[2019-05-09 16:36] whedon commented on #1441
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01441/joss.01441/10.21105.joss.01441.pdf)

[2019-05-09 16:37] labarba commented on #1352
Congratulations, @brandondube, your JOSS paper is now published? 🎉

Sincere thanks to our editor: @xuanxu, and the reviewer: @aquilesC — your contribution to JOSS is invaluable 🙏

[2019-05-09 16:37] #1352 closed

[2019-05-09 16:37] whedon commented on #1352
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01352/status.svg)](https://doi.org/10.21105/joss.01352)

**We need your help!**

Journal of Open Source Softwar

[2019-05-09 16:38] jedbrown commented on #1441
@tjhei @chrisrichardson @Kevin-Mattheus-Moerman :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [MoFem repository](https://bitbucket.org/likask/mofem-cephas)). I'll be watching this thread if you have any questions.

[2019-05-09 16:43] ygrange commented on #1234
Great!

Just for completeness: I advice the editor to proceed publishing!

--
Y. Grange

het volgende geschreven:

should be redundant anyway. I've opened a PR with a fix. It should be
merged within a couple hours.

[2019-05-09 16:46] labarba commented on #1439
👋  @alexhanna — Could you handle this submission as editor? Looks like it fits within your sphere of interests. Let me know!

[2019-05-09 17:26] aelanman commented on #1234
Thank you! It's fixed now.

[2019-05-09 17:55] likask commented on #1441
Thank you all for agreeing to spend some time on this. Making life easier, to kick start installation, you can use docker & spack as follows:

`git clone --recurse-submodules https://bitbucket.org/likask/mofem-cephas.git mofem-cephas`
`cd mofem-cephas`
`docker build -t spack_mofem_build --force-rm=true --file=Dockerfile-spack-mofem-testing .`

[2019-05-09 18:17] trinker commented on #1342
The items brought up were addressed and have been checked off

[2019-05-09 18:20] katyhuff commented on #1433
@jmborr I had the same reaction initially, actually -- It seems to me, though, that all the science is in the post processor (which is solely in this directory: https://github.com/haptork/csaransh/tree/master/csaransh-pp) . The javascript seems to be separate from the science, and is more like a support utility. If you don't mind following the installation instructions in the readme, then perhaps

[2019-05-09 18:42] jhill1 commented on #1112
@whedon generate pdf

[2019-05-09 18:42] whedon commented on #1112
[code]

[2019-05-09 18:43] whedon commented on #1112
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01112/joss.01112/10.21105.joss.01112.pdf)

[2019-05-09 18:46] tacaswell commented on #1414
I recommend acceptance

@￼xuanxu what is the next step here?

[2019-05-09 19:05] jhill1 commented on #1112
Hi @kthyng. Thanks for editing this submission - it's been fun. Zenodo DOI: 10.5281/zenodo.2691685

[2019-05-09 20:49] kthyng commented on #1112
@jhill1 agreed!

Ok I just looked up [your submission to Zenodo](https://zenodo.org/record/2691685#.XNSRrpNKgWo) and the metadata includes @PythonCHB which is nice but not correct — this often happens. Can you edit the metadata so that it matches your paper submission? In particular you want the author list to match, and the title to match.

[2019-05-09 21:58] karthik commented on #1429
Im on heavy travel at the moment but have pinged a few reviewers. I'll update this thread when I hear back. Stay tuned!

[2019-05-10 00:32] alkirkby commented on #1358
Great thanks @lheagy,
I've just created a release and archived the software: DOI: 10.5281/zenodo.2698634
We are now just awaiting final sign-off of the proof. We'll let you know when it's ready to go!

[2019-05-10 03:47] benmaier commented on #1425
@vc1492a, indeed thank you very much for the super detailed review and @leouieda thank you for the thorough editing process so far. Since @ulfaslak and me are both on vacation at the moment, we will be responding to the review in detail afterwards. In the mean time, @vc1492a would you be so kind as to open an issue for the `Functionality` problem that you encountered? Indeed, we had a similar prob

[2019-05-10 04:25] karthik commented on #1429
@whedon assign @joey711 as reviewer

[2019-05-10 04:25] whedon commented on #1429
OK, the reviewer is @joey711

[2019-05-10 04:25] karthik commented on #1429
@whedon start review

[2019-05-10 04:25] whedon opened #1442 "[REVIEW]: phylosmith: an R-package for reproducible and efficient microbiome analysis with phyloseq-objects"
**Submitting author:** @schuyler-smith (<a href="http://orcid.org/0000-0001-5720-5611">Schuyler Smith</a>)
**Repository:** <a href="https://github.com/schuyler-smith/phylosmith/" target ="_blank">https://github.com/schuyler-smith/phylosmith/</a>
**Version:** 0.99.0
**Editor:** @karthik
**Reviewer:** @joey711
**Archive:** <a href="https://doi.org/10.5281/zenodo.3251024" target="_blank">10.5281/zeno

[2019-05-10 04:25] whedon commented on #1429
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1442. Feel free to close this issue now!

[2019-05-10 04:25] whedon commented on #1442
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @joey711 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-05-10 04:25] whedon commented on #1442
[code]

[2019-05-10 04:25] #1429 closed

[2019-05-10 04:26] whedon commented on #1442
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01442/joss.01442/10.21105.joss.01442.pdf)

[2019-05-10 04:26] karthik commented on #1442
@whedon check references

[2019-05-10 04:26] whedon commented on #1442
[code]

[2019-05-10 04:27] whedon commented on #1442
[code]

[2019-05-10 05:17] jhill1 commented on #1112
Fixed. Will add the .json to fix that properly at some point. Thanks.

[2019-05-10 05:23] kbenoit commented on #1342
This all looks great to me, and 👏 for the clear and elegant use of issues in your repo with linked commit references. The generalization away from just dates is great, and the two examples are perfect here. Nice!  And the name is your decision of course.

One thing only I would suggest, a 20-second change:
* I don't think it would clutter the README at all to add a note about PhantomJS to the sect

[2019-05-10 06:52] haptork commented on #1433
@jmborr @katyhuff yes, the algorithms and methods are in the post-processor directory mentioned by katyhuff. The post-processor writes the results it finds in JSON format which are then visualised and presented by web interface, written using javascript present in its entirety in csaransh-server directory.

The C++ code includes algorithms for finding the defects from xyz file of the MD simulation

[2019-05-10 07:33] omoliavko commented on #1436
@labarba - thank you for comment. I've rewritten "Research application" part of article. Could you please take a look at it once more? If specific measurement results are needed, I suppose these can be obtained, but conditions under which the measurements will be performed will be artificial in any case.

[2019-05-10 08:26] labarba commented on #1440
@billyfish — After a pre-review of your submission, and an assessment by the editorial board at large (on our email list), we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through revi

[2019-05-10 08:26] #1440 closed

[2019-05-10 09:19] billyfish commented on #1440
Hi

Looking at the list of reviewers, it looks llike the following people might
be a good match:

gflofst
gradvohl
gonsie

cheers

Simon

On Thu, 9 May 2019 at 17:06, whedon <notifications@github.com> wrote:

[2019-05-10 09:26] labarba commented on #1440
Please re-read my previous post. We have decided not to put your submission through review, as is it out of scope.

[2019-05-10 09:35] labarba commented on #1438
@moorepants — Do you think you could contribute a review for this JOSS submission? Title: "DynaMo: Dynamic Body Shape and Motion Capture with Intel RealSense Cameras"
Let me know!

[2019-05-10 09:39] labarba commented on #1438
@melund — Might you be able to contribute a review of this submission for JOSS? Title: "DynaMo: Dynamic Body Shape and Motion Capture with Intel RealSense Cameras"

[2019-05-10 09:42] billyfish commented on #1440
Ah, sorry I didn't see your previous comment. Thanks anyway.

[2019-05-10 10:50] fabian-s commented on #1427
LICENSE is a placeholder: USCbiostats/fmcmc#5

tagged release version is missing: USCbiostats/fmcmc#6

I don't see a clear "statement of need and audience" in the repo.

Documentation issue for proposal: USCbiostats/fmcmc#7

Another "documentation" issue I can't pin on any specific function is the more general question on how to specify any priors? MCMC only takes a "log-likelihood" as its main ar

[2019-05-10 11:20] xuanxu commented on #1414
Thanks @tacaswell, I'll take it from here!

[2019-05-10 11:20] xuanxu commented on #1414
@whedon generate pdf

[2019-05-10 11:20] whedon commented on #1414
[code]

[2019-05-10 11:21] whedon commented on #1414
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01414/joss.01414/10.21105.joss.01414.pdf)

[2019-05-10 11:21] xuanxu commented on #1414
@whedon set 1.0.1 as version

[2019-05-10 11:21] whedon commented on #1414
OK. 1.0.1 is the version.

[2019-05-10 11:24] xuanxu commented on #1414
@whedon check references

[2019-05-10 11:24] whedon commented on #1414
[code]

[2019-05-10 11:24] whedon commented on #1414
[code]

[2019-05-10 11:36] xuanxu commented on #1414
@williamjameshandley:
- There are some references without DOI, could you add the missing DOIs (see [prev comment](https://github.com/openjournals/joss-reviews/issues/1414#issuecomment-491255323)) to the `paper.bib` file?

- The paper mentions version 1.0.0, I've updated the version for the submission to 1.0.1, and created a PR in your repo to update that.

Once you do these minor changes I'll need

[2019-05-10 11:48] schuyler-smith commented on #1442
@whedon check references

[2019-05-10 11:48] whedon commented on #1442
[code]

[2019-05-10 11:48] whedon commented on #1442
[code]

[2019-05-10 13:32] kthyng commented on #1112
Great!

[2019-05-10 13:32] kthyng commented on #1112
@whedon set 10.5281/zenodo.2691685 as archive

[2019-05-10 13:32] whedon commented on #1112
OK. <a href="https://doi.org/10.5281/zenodo.2691685" target="_blank">10.5281/zenodo.2691685</a> is the archive.

[2019-05-10 13:34] kthyng commented on #1112
@whedon set <v0.1.2> as version

[2019-05-10 13:34] whedon commented on #1112
OK. <v0.1.2> is the version.

[2019-05-10 13:35] kthyng commented on #1112
@whedon set 0.1.2 as version

[2019-05-10 13:35] whedon commented on #1112
OK. 0.1.2 is the version.

[2019-05-10 13:37] kthyng commented on #1112
Ok @openjournals/joss-eics this submission is ready to be officially accepted!!! Congrats @jhill1!!

[2019-05-10 13:46] tyarkoni commented on #1294
@whedon generate pdf from branch joss-review

[2019-05-10 13:46] whedon commented on #1294
[code]

[2019-05-10 13:47] whedon commented on #1294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01294/joss.01294/10.21105.joss.01294.pdf)

[2019-05-10 13:48] tyarkoni commented on #1294
@cMadan apologies for the delay: the author list is now finalized. I think we're good to go. We have a fairly major PyBIDS release coming up (0.9), so we could in theory wait on that, but I don't know that it matters much (it won't change the text in any way).

[2019-05-10 14:21] jmborr commented on #1433
I could take a look to the c++/python source, but  then I was wondering
what best software practices are required for all submissions. Right off
the bat I don't see any tests (unit, integration, or otherwise). From this
fact I assume there's no kind of continuous integration either.
This would be my first review so  I ignore if these practices are a must.
<jose/>

On Fri, May 10, 2019 at 2:52 AM h

[2019-05-10 14:29] kgjerde commented on #1342
Excellent, thank you! @kbenoit, I have no addressed your last point (see kgjerde/corporaexplorer#14).

@leouieda I will now also take a new look at the paper itself, bearing in mind the changes I have made to the package in response to the reviews. Will post here when done.

[2019-05-10 14:41] alexhanna commented on #1439
Sure, I could edit this.

[2019-05-10 14:41] alexhanna commented on #1439
@whedon set @alexhanna as editor

[2019-05-10 14:41] alexhanna commented on #1439
@whedon assign @alexhanna as editor

[2019-05-10 14:41] whedon commented on #1439
OK, the editor is @alexhanna

[2019-05-10 14:42] melund commented on #1438
@labarba Yes. I would like that. But I don't have access to the cameras, so there is certain parts I won't be able to review in detail. If that is ok then I am in :)

[2019-05-10 14:42] alexhanna commented on #1439
@Matiszak could you recommend some editors for this from the list noted above?

[2019-05-10 14:54] alexhanna commented on #1323
Hi @sambitdash, can you suggest some reviewers for this? You can also get some suggestions on list of potential reviewers mentioned in the first message of this issue.

[2019-05-10 15:29] williamjameshandley commented on #1414
@xuanxu I've merged in your changes to the paper, and added the DOIs that exist. Unfortunately there aren't any for the DNest 4 or MontePython papers, as they're only arXiv articles

[2019-05-10 15:30] williamjameshandley commented on #1414
Version 1.0.1 10.5281/zenodo.2668761

[2019-05-10 15:44] gvegayon commented on #1427
Thanks @fabian-s! We will go through the issues and let you know asap.

[2019-05-10 15:49] abelsiqueira commented on #1385
@whedon generate pdf from branch joss

[2019-05-10 15:49] whedon commented on #1385
[code]

[2019-05-10 15:50] whedon commented on #1385
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01385/joss.01385/10.21105.joss.01385.pdf)

[2019-05-10 16:28] adrena-lab commented on #1392
Dear @trallard, @cmccomb and @nicoguaro
thanks for the feedback we received on our recent revision, in particular the comments by @nicoguaro. We have now further revised our contribution as follows:
	•	We fixed a Minor bug in Convhull_Option_Reduction.m to remove warning message
	•	We fixed a minor bug in Plot_Save_Results.m to ensure the rectangle denoting the illuminated area and circles that re

[2019-05-10 16:31] labarba commented on #1436
@omoliavko — Thanks for the update on your paper. The editors have discussed this submission on our email list, and remain hesitant about whether it is in-scope for JOSS. We say in our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) that

The goal is to publish articles that allow **citation** of these software works, when used by other rese

[2019-05-10 16:36] labarba commented on #1438
Thanks, @melund — We appreciate your best-effort review, given no access to the hardware.

[2019-05-10 16:36] arose commented on #1433
@katyhuff I am happy to review this

[2019-05-10 16:36] labarba commented on #1438
@whedon assign @labarba as editor

[2019-05-10 16:36] whedon commented on #1438
OK, the editor is @labarba

[2019-05-10 16:36] labarba commented on #1438
@whedon assign @melund as reviewer

[2019-05-10 16:36] whedon commented on #1438
OK, the reviewer is @melund

[2019-05-10 17:00] labarba commented on #1277
@casperdcl, FYI, I have followed up with the editor, and he is on travel but will update us soon.

[2019-05-10 17:12] aelanman commented on #1234
@arfon The final changes have been merged.

[2019-05-10 17:36] arfon commented on #1234
@whedon commands

[2019-05-10 17:36] whedon commented on #1234
Here are some things you can ask me to do:

[code]

[2019-05-10 17:37] arfon commented on #1234
@whedon generate pdf

[2019-05-10 17:37] whedon commented on #1234
[code]

[2019-05-10 17:37] whedon commented on #1234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01234/joss.01234/10.21105.joss.01234.pdf)

[2019-05-10 17:38] arfon commented on #1234
@whedon check references

[2019-05-10 17:38] whedon commented on #1234
[code]

[2019-05-10 17:38] whedon commented on #1234
[code]

[2019-05-10 17:39] arokem commented on #1422
I'll give @dvysardana a few more days to reply here, but if I don't hear back I'll ping other potential reviewers next week.

[2019-05-10 17:39] arfon commented on #1234
@whedon accept

[2019-05-10 17:39] whedon commented on #1234
No archive DOI set. Exiting...

[2019-05-10 17:40] arfon commented on #1234
@aelanman - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-05-10 17:42] PythonCHB commented on #1112
Not really a big deal: but if you are publishing this, maybe it's time for version 1.0?

If it's not really ready for 1.0, it's not ready for publication, either.

[2019-05-10 18:33] mrava87 commented on #1356
Hi,
nice to see all the changes you implemented. I am happy to recommend this for publication.

Just one small comment regarding the example `One dimension shallow water, dam break case.` I struggle to see the equation that you write in the implementation. For example the first eq has one term (plus the time deriv)... ignore this comment if you think I am wrong :)

[2019-05-10 18:39] leouieda commented on #1342
:confetti_ball: @kbenoit @trinker thank you for your input! @kbenoit I see some items left unchecked in your section at the very top. Is this intentional?

@kgjerde OK, let us know when you're done and we'll compile a new version of the pdf so we can have a final round of reviews of the paper.

[2019-05-10 18:44] leouieda commented on #1425
@benmaier @ulfaslak no problem, take your time and enjoy your vacation :desert_island: :tropical_drink:

When opening issues or PRs in the software repo, please include the text `openjournals/joss-reviews#1425 ` in the issue/PR body so that it appears here and I can keep track of what is being done.

[2019-05-10 18:45] nicoguaro commented on #1392
I would recommend the paper for publication now.

[2019-05-10 19:17] hfriel69 commented on #1375
Dear Katy, do I need to bring more reviewers? Do you need anything else? Best, Henrich

[2019-05-10 19:20] poulson commented on #1356
I am also very happy to see the added examples: I believe the package is significantly improved as a result.

I would also add the small comment that the timings for the 2D acoustic wave and dam examples are both listed as 0 seconds; it would be great if timings on a commodity laptop or workstation were added.

Other than that, I am happy to recommend this for publication as well.

[2019-05-10 19:29] labarba commented on #1321
@karthik — It looks like the author is asking for this review to be re-started. Can you get back in? I'm removing the "paused" label now.

[2019-05-10 19:30] labarba commented on #1321
@diyadas — Could you check on the author improvements, continue with your checklist, and report back to us with anything missing? Thank you!

[2019-05-10 19:49] kyleniemeyer commented on #1370
Thanks @asalmgren!

[2019-05-10 19:50] kyleniemeyer commented on #1370
@whedon generate pdf

[2019-05-10 19:50] whedon commented on #1370
[code]

[2019-05-10 19:52] whedon commented on #1370
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01370/joss.01370/10.21105.joss.01370.pdf)

[2019-05-10 19:53] kyleniemeyer commented on #1370
@whedon check references

[2019-05-10 19:53] whedon commented on #1370
[code]

[2019-05-10 19:53] whedon commented on #1370
[code]

[2019-05-10 21:15] kyleniemeyer commented on #1370
Hi @asalmgren, the software aspect of the review is done, but I just have a few comments on the paper before we wrap things up:
- This is minor, but could you add more detail to the author affiliations, matching what you'd typically see in an article? (E.g., city, country)
- Would it be appropriate to add a few references in the first paragraph pointing interested readers to general work on AMR? A

[2019-05-11 00:00] celliern commented on #1356
@mrava87 You are right, they should be equivalent, but the notation differs and leads to confusion. I will fix it.

@poulson I will "clone" the doc contribute to the readme, as you suggest. The 0 timing is due to the rtd limitation: I cannot generate "huge" case in their servers.
To be coherent, I will benchmark all the simulation cases on laptop / desktop and small cluster (4 / 8 / 32 cpu, with s

[2019-05-11 03:40] cMadan commented on #1294
Thanks for getting back to this, Tal. In that case I think it would be better to make 0.9 the version associated with the JOSS paper.

I also looked over the paper and it looks like the bib needs a bit of editing:
- Fix Gorgolweski's initials across the entries so they are formatted the same. Currently this is not the case, which is why the PDF prints the first initials in the citations.
- Spell o

[2019-05-11 04:24] cMadan commented on #1308
@vc1492a @danlurie @raamana, would you be interested/available to review this project for publication in JOSS? Thank you for considering!

[2019-05-11 05:05] boshek commented on #791
Hi @MarionLegrandLogrami - I still think that the whole script can be abstracted away into an R function and the script itself could be included in the package in `inst` folder. Arguments to think function could be the username, password, host and port. That function would run the script for you. I think if you asked users if they were ok with the function running an executable you'd be ok.

In te

[2019-05-11 09:42] whedon opened #1443 "[PRE REVIEW]: FRIDGe: Fast Reactor Input Generator"
**Submitting author:** @ryanstwrt (<a href="http://orcid.org/0000-0003-4867-6555">Ryan Stewart</a>)
**Repository:** <a href="https://github.com/ryanstwrt/FRIDGe" target ="_blank">https://github.com/ryanstwrt/FRIDGe</a>
**Version:** v1.0.0
**Editor:** @katyhuff
**Reviewers:** @kellyrowland, @pshriwise

**Author instructions**

Thanks for submitting your paper to JOSS @ryanstwrt. The JOSS editor @ka

[2019-05-11 09:42] whedon commented on #1443
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@katyhuff) to find some reviewers fo

[2019-05-11 09:42] whedon commented on #1443
[code]

[2019-05-11 09:42] whedon commented on #1443
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01443/joss.01443/10.21105.joss.01443.pdf)

[2019-05-11 09:45] labarba commented on #1443
👋 @katyhuff — The author suggested you as editor, and the submission is clearly in your sphere of interests, so I went ahead and assigned you. Let me know if you have any issues.

[2019-05-11 09:52] labarba commented on #1312
@MKLau 👋  — did you look into ROpenSci? What do you want to do about this submission?

[2019-05-11 11:04] omoliavko commented on #1436
@labarba - I apologize for not explaining potential research applications for mTower in more detail. I've updated the relevant part of paper once more to emphasize that mTower can be used by any developer interested in evaluating performance of TrustZone-based security mechanisms in embedded systems. If necessary, I can provide examples of potential usage scenarios of mTower (descriptions of test

[2019-05-11 12:22] Matiszak commented on #1439
From what I can see in joss_reviewers list these reviewers seem closest to the topic (there would be many more but that could be too much of a choice) :)
@sctyner @pdwaggoner @kellieotto @terrytangyuan @corybrunson @jkarreth @hiendn @strengejacke @kdpeterson51

[2019-05-11 12:45] alex-konovalov commented on #1371
Sorry for delay with reviewing, it may have to wait till June now, but completing it in June looks reliably doable.

[2019-05-11 15:12] vijaysm commented on #1173
@pankajkmishra It would also be useful to talk about future extensions to 3-D domains and a simple tessellation algorithm with the node placement such that an unstructured mesh can be generated with user-specified refinement criteria. This would improve the application of the NodeLab software to not just meshfree solvers, but even for adaptive FEM simulations. This is more of a suggestion for addi

[2019-05-11 16:36] stefanv commented on #1247
@arfon I've tagged v0.9 of the software and published it as http://doi.org/10.5281/zenodo.2742377

[2019-05-11 16:48] acolum commented on #1279
@nelsonroque I second @aj2duncan's suggestions and can add a few more.

In the paper under the Figures section, I think you should elaborate more on your example. It would be beneficial to see an example (with code) of how tsfeaturex can calculate different features and characterize differences between two time series with the same mean but different shapes/peaks. I also think that you should clar

[2019-05-11 17:17] labarba commented on #1436
👋 @danielskatz — Could you handle this submission as editor?

[2019-05-11 17:24] smk508 commented on #1422
Ok thanks

[2019-05-11 17:30] labarba commented on #1112
@jhill1 — would you like to up you version number? We don't require it: it's up to you.

[2019-05-11 17:35] danielskatz commented on #1436
@gkthiruvathukal might be better, but if he doesn't want to, I will

[2019-05-11 17:36] gkthiruvathukal commented on #1436
@danielskatz and @labarba, I am willing to handle this submission.

[2019-05-11 17:37] danielskatz commented on #1436
@whedon assign @gkthiruvathukal as editor

[2019-05-11 17:37] whedon commented on #1436
OK, the editor is @gkthiruvathukal

[2019-05-11 19:21] labarba commented on #1005
JOSS guidelines say this about [tests](https://joss.readthedocs.io/en/latest/review_criteria.html?highlight=tests#tests):

[2019-05-11 19:25] labarba commented on #1278
👋  @HaoZeke, @vissarion — it looks like this submission is ready for you to take a second look now, and possibly make a recommendation?

[2019-05-11 19:31] labarba commented on #1292
Looks like the first reviewer gave a [recommendation](https://github.com/openjournals/joss-reviews/issues/1292#issuecomment-479050427) to accept.

👋  @chrisrichardson — We're waiting for you to complete the review. Can you give us a status update? When do you think you might finish? Thanks!

[2019-05-11 19:42] labarba commented on #1047
👋  It looks like we're waiting here for the author, @jshermeyer, to come back with responses to how they are addressing the reviewer comments.

It also looks like the second reviewer, @lewismc, has gone MIA (unresponsive to multiple mentions here, plus emails from the editor). I suggest we proceed to a recommendation from the first reviewer and make the acceptance decision at that point.

[2019-05-11 19:49] labarba commented on #922
@mandar2812 last [commented on Nov 20, 2018](https://github.com/openjournals/joss-reviews/issues/922#issuecomment-440215126) that time was scarce to work on the improvements requested during review. It has now been nearly 6 months, and we should either have a commitment from the author that they will work on this revision, or withdraw the submission.

[2019-05-11 19:54] labarba commented on #1012
👋 Folks, it looks like this has been accepted but some issues remain with the paper. Can @dahtah and @Kevin-Mattheus-Moerman make a final push on this?

[2019-05-12 00:08] HaoZeke commented on #1278
@labarba, having taken a second look, I believe all previous concerns raised were addressed and I would recommend that this be accepted.

[2019-05-12 02:26] poulson commented on #1278
Thank you, @HaoZeke!

@vissarion: you still hasn't checked the 'Performance' box. It would be great to get a response from you on this and whether or not you feel this submission is ready for acceptance.

[2019-05-12 02:55] asalmgren commented on #1370
@kyleniemeyer --

We have

1) added detail to the affiliations
2) added references re AMR
3) added references for SUNDIALS, PETSc, hypre, Conduit, SENSEI, Visit, yt,
Paraview
4) merged your PR

The current version is http://doi.org/10.5281/zenodo.2754709
The DOI of all versions is https://doi.org/10.5281/zenodo.2555438

Thanks,

Ann

On Fri, May 10, 2019 at 2:15 PM Kyle Niemeyer <notifications@git

[2019-05-12 03:09] kyleniemeyer commented on #1370
@whedon generate pdf

[2019-05-12 03:09] whedon commented on #1370
[code]

[2019-05-12 03:10] whedon commented on #1370
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01370/joss.01370/10.21105.joss.01370.pdf)

[2019-05-12 03:52] kyleniemeyer commented on #1370
Hi @asalmgren, looks good! I just made some minor fixes in two PRs; apologies for my pickiness on this.

[2019-05-12 04:02] asalmgren commented on #1370
Corrections merged and much appreciated!

On Sat, May 11, 2019 at 8:52 PM Kyle Niemeyer <notifications@github.com>
wrote:

[2019-05-12 04:58] utf commented on #1361
I have finished reviewing the paper and the repository. Overall, SMACT is a clean and well documented package that has many useful features. It will be of use to many researchers in the materials informatics and materials design communities.

I have a number of suggestions for improving the package.

#### Documentation and examples

- The readme could be adjusted to make the functionality of the p

[2019-05-12 07:34] kyleniemeyer commented on #1370
@whedon generate pdf

[2019-05-12 07:34] whedon commented on #1370
[code]

[2019-05-12 07:36] whedon commented on #1370
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01370/joss.01370/10.21105.joss.01370.pdf)

[2019-05-12 07:38] kyleniemeyer commented on #1370
@whedon check references

[2019-05-12 07:38] whedon commented on #1370
[code]

[2019-05-12 07:38] whedon commented on #1370
[code]

[2019-05-12 07:41] kyleniemeyer commented on #1370
@asalmgren sorry, one last missing DOI that I missed, and then I will accept & publish the paper

[2019-05-12 08:28] kbenoit commented on #1342
Sorry, I should have checked those. I have now done so for everything except the DOI, since I have not seen the update paper yet.

[2019-05-12 10:23] xuanxu commented on #1414
@whedon generate pdf

[2019-05-12 10:23] whedon commented on #1414
[code]

[2019-05-12 10:23] whedon commented on #1414
PDF failed to compile for issue #1414 with the following error:

 Error reading bibliography ./paper.bib (line 131, column 2):
unexpected "v"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-05-12 10:33] xuanxu commented on #1414
Thanks @williamjameshandley!

There is a typo in the bib file preventing the paper to compile: a missing comma, I've issued a PR in your repo fixing it.

So the DOIs [suggested by whedon](https://github.com/openjournals/joss-reviews/issues/1414#issuecomment-491255323) for them are not the right ones?

[2019-05-12 11:23] williamjameshandley commented on #1414
@whedon generate pdf

[2019-05-12 11:23] whedon commented on #1414
[code]

[2019-05-12 11:24] whedon commented on #1414
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01414/joss.01414/10.21105.joss.01414.pdf)

[2019-05-12 11:26] williamjameshandley commented on #1414
Ah -- that's very clever, I missed the autosuggestions. I've added in the full bibtex associated with those doi links.

[2019-05-12 11:29] xuanxu commented on #1414
@williamjameshandley great!

[2019-05-12 11:29] xuanxu commented on #1414
@whedon generate pdf

[2019-05-12 11:29] whedon commented on #1414
[code]

[2019-05-12 11:29] whedon commented on #1414
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01414/joss.01414/10.21105.joss.01414.pdf)

[2019-05-12 11:29] xuanxu commented on #1414
@whedon check references

[2019-05-12 11:30] whedon commented on #1414
[code]

[2019-05-12 11:30] whedon commented on #1414
[code]

[2019-05-12 11:37] xuanxu commented on #1414
@williamjameshandley Do you mind to create a new zenodo archive (and update the reference in the bib file )?
As it is is ok because there's no changes in the code, but I'd love the reference to point to a deposit that includes the correct files for the final joss paper. WDYT?

[2019-05-12 11:45] williamjameshandley commented on #1414
Sure.

What is the correct way to do this? I'm struggling to see how I could have a bib file with the correct doi archived in the corresponding zenodo doi, unless I use the 'all versions' doi 10.5281/zenodo.2614017

[2019-05-12 11:50] yochannah commented on #1044
Okay, I've run through the review steps myself. @davekinkead I'll be happy to accept this, one this issue is fixed with the demo code in the repo:

https://github.com/davekinkead/reasons/issues/5

I'll also give the paper a quick once-over again now.

[2019-05-12 11:50] yochannah commented on #1044
@whedon generate pdf

[2019-05-12 11:50] whedon commented on #1044
[code]

[2019-05-12 11:51] whedon commented on #1044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01044/joss.01044/10.21105.joss.01044.pdf)

[2019-05-12 11:52] yochannah commented on #1044
@whedon check references

[2019-05-12 11:52] whedon commented on #1044
[code]

[2019-05-12 11:52] whedon commented on #1044
[code]

[2019-05-12 11:52] xuanxu commented on #1414
You are right. I think it's ok to have the link in the paper using the 'all versions' doi. It will redirect readers to the more recent version.
Report here the DOI of the latest version and I'll use that here in the JOSS submission.

[2019-05-12 11:54] xuanxu commented on #1414
The other option is to create a deposit and then change the bib file to point to it. That way the diference between the final paper and the deposit is minimal.
Whatever option you prefer is OK.

[2019-05-12 11:56] yochannah commented on #1044
@davekinkead Could you please add DOIs to the above publications? Thanks!

[2019-05-12 12:03] williamjameshandley commented on #1414
I've gone with the first option, as it works better with GitHub's syncing between releases and zenodo archives. I updated the version number to 1.0.2 in the README, paper and bib file, pushed a new pypi version, and created a new github release. The 'all versions' DOI is:

10.5281/zenodo.2614017

Many thanks @xuanxu

[2019-05-12 12:13] terrytangyuan commented on #1439
Happy to review this. Feel free to assign.

[2019-05-12 12:17] xuanxu commented on #1414
@williamjameshandley 👌

[2019-05-12 12:17] xuanxu commented on #1414
@whedon set 1.0.2 as version

[2019-05-12 12:17] whedon commented on #1414
OK. 1.0.2 is the version.

[2019-05-12 12:18] arfon commented on #1247
@whedon set 10.5281/zenodo.2742377 as archive

[2019-05-12 12:18] whedon commented on #1247
OK. <a href="https://doi.org/10.5281/zenodo.2742377" target="_blank">10.5281/zenodo.2742377</a> is the archive.

[2019-05-12 12:19] arfon commented on #1247
@whedon accept

[2019-05-12 12:19] whedon commented on #1247
[code]

[2019-05-12 12:19] whedon commented on #1247
[code]

[2019-05-12 12:19] whedon commented on #1247
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/679

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/679, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-12 12:20] xuanxu commented on #1414
@whedon generate pdf

[2019-05-12 12:20] whedon commented on #1414
[code]

[2019-05-12 12:20] whedon commented on #1414
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01414/joss.01414/10.21105.joss.01414.pdf)

[2019-05-12 12:20] xuanxu commented on #1414
@whedon check references

[2019-05-12 12:20] whedon commented on #1414
[code]

[2019-05-12 12:21] whedon commented on #1414
[code]

[2019-05-12 12:21] arfon commented on #1247
@whedon accept deposit=true

[2019-05-12 12:21] whedon commented on #1247
[code]

[2019-05-12 12:21] xuanxu commented on #1414
@whedon set 10.5281/zenodo.2762773 as archive

[2019-05-12 12:21] whedon commented on #1414
OK. <a href="https://doi.org/10.5281/zenodo.2762773" target="_blank">10.5281/zenodo.2762773</a> is the archive.

[2019-05-12 12:22] whedon commented on #1247
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/680
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01247](https://doi.org/10.21105/joss.01247)
2. If everything looks go

[2019-05-12 12:22] xuanxu commented on #1414
This is ready now for publication.
Pinging EIC for final acceptance: @openjournals/joss-eics

[2019-05-12 12:28] arfon commented on #1247
@gnarayan - many thanks for your review here ✨

@stefanv - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-05-12 12:28] #1247 closed

[2019-05-12 12:28] whedon commented on #1247
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01247/status.svg)](https://doi.org/10.21105/joss.01247)

**We need your help!**

Journal of Open Source Softwar

[2019-05-12 12:33] davekinkead commented on #1044
@whedon check references

[2019-05-12 12:33] whedon commented on #1044
[code]

[2019-05-12 12:33] whedon commented on #1044
[code]

[2019-05-12 12:35] davekinkead commented on #1044
Hi @yochannah - https://github.com/davekinkead/reasons/issues/5 has been actioned & DOIs added

Thanks

[2019-05-12 12:37] pdwaggoner commented on #1439
Hi - I’d also be happy to review if needed!

[2019-05-12 12:38] yochannah commented on #1044
@whedon generate pdf

[2019-05-12 12:38] whedon commented on #1044
[code]

[2019-05-12 12:38] whedon commented on #1044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01044/joss.01044/10.21105.joss.01044.pdf)

[2019-05-12 12:44] prisae commented on #1431
Hi @jedbrown. Do I have to do anything at the moment in this regard?

[2019-05-12 12:49] yochannah commented on #1044
@whedon generate pdf

[2019-05-12 12:49] whedon commented on #1044
[code]

[2019-05-12 12:49] whedon commented on #1044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01044/joss.01044/10.21105.joss.01044.pdf)

[2019-05-12 12:53] labarba commented on #1414
@williamjameshandley — Could you edit the Zenodo archive metadata, so the title and author list matches the paper? You may also add your ORCID.

[2019-05-12 12:53] yochannah commented on #1044
Hmm, so whedon can see that the references are there since it passes the check references step, but it's not generating links in the paper itself for some reason. @openjournals/joss-eics do we need to do anything to fix this?

[2019-05-12 12:55] yochannah commented on #1044
@davekinkead Thanks, the bug is fixed and looking good!

One small extra thing I've noticed in the references:

I suspect that Cambridge University Press should be capitalised. It's probably worth giving the manuscript a final proofread if you feel you need to, as well. 👍

Once the references thing above is all ironed out I'll ask you to make an archive on Zenodo or similar, but let's wait until w

[2019-05-12 12:59] labarba commented on #1044
@davekinkead — Try putting _just_ the DOI, i.e., the alphanumeric identifier, not the full URL, into the `doi` field of the `.bib` file.

[2019-05-12 13:03] williamjameshandley commented on #1414
@labarba I believe this is now done.

[2019-05-12 13:15] labarba commented on #1414
@whedon accept

[2019-05-12 13:15] whedon commented on #1414
[code]

[2019-05-12 13:15] whedon commented on #1414
[code]

[2019-05-12 13:15] whedon commented on #1414
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/681

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/681, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-12 13:16] davekinkead commented on #1044
@whedon generate pdf

[2019-05-12 13:16] whedon commented on #1044
[code]

[2019-05-12 13:16] whedon commented on #1044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01044/joss.01044/10.21105.joss.01044.pdf)

[2019-05-12 13:21] labarba commented on #1044
Just before the references, you have a link to the code repository. We include a link to the repo on the margin decorators (first page), so we ask that you don't add an additional link in the text or references. Can you edit that?

[2019-05-12 13:25] davekinkead commented on #1044
@whedon generate pdf

[2019-05-12 13:26] whedon commented on #1044
[code]

[2019-05-12 13:26] labarba commented on #1044
For your last reference, the DOI points to the book review. Did you mean this?

[2019-05-12 13:26] whedon commented on #1044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01044/joss.01044/10.21105.joss.01044.pdf)

[2019-05-12 13:30] labarba commented on #1044
You're missing the year for Toulmin, S. (2003).

[2019-05-12 13:33] davekinkead commented on #1044
@whedon  generate pdf

[2019-05-12 13:35] davekinkead commented on #1044
@labarba all the DOIs at crossref for the original 1913 article point to that review.  Should I drop the DOI?

[2019-05-12 13:35] davekinkead commented on #1044
@whedon generate pdf

[2019-05-12 13:35] whedon commented on #1044
[code]

[2019-05-12 13:36] whedon commented on #1044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01044/joss.01044/10.21105.joss.01044.pdf)

[2019-05-12 13:42] labarba commented on #1044
Regarding Wigmore (1913): you are citing the book, not the review of the book, so that DOI is not correct. However, I did find that the book is now in the public domain and you can find an online archive at https://archive.org/details/principlesofjudi00wigm/ — maybe you could add that URL.

[2019-05-12 13:47] davekinkead commented on #1044
Perfect @labarba!

@whedon generate pdf

[2019-05-12 13:48] davekinkead commented on #1044
@whedon generate pdf

[2019-05-12 13:48] whedon commented on #1044
[code]

[2019-05-12 13:49] whedon commented on #1044
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01044/joss.01044/10.21105.joss.01044.pdf)

[2019-05-12 13:50] jedbrown commented on #1431
No, sorry about the silence. I re-upped some of my reviewer invitations.

[2019-05-12 13:51] prisae commented on #1431
No problem at all. I was just not sure if it is stalled because I haven't done something I was supposed to do.

[2019-05-12 13:54] davekinkead commented on #1044
Comments

https://github.com/openjournals/joss-reviews/issues/1044#issuecomment-491593171
https://github.com/openjournals/joss-reviews/issues/1044#issuecomment-491593290
https://github.com/openjournals/joss-reviews/issues/1044#issuecomment-491593585
https://github.com/openjournals/joss-reviews/issues/1044#issuecomment-491595545
https://github.com/openjournals/joss-reviews/issues/1044#issuecomment-

[2019-05-12 13:58] labarba commented on #1414
- Use the common capitalization of: Python, NumPy, SciPy, and Matplotlib (pandas is usually not capitalized).
- Check your [citation syntax](https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax). If citing two works at once, separate by semicolon to get them in the same parenthesis group.
- "Currently public available implementations" >> awkward. Maybe "Current

[2019-05-12 14:00] labarba commented on #1414
You should add caps protection on `{mcmc}` here: https://github.com/williamjameshandley/anesthetic/blob/11ce6b382c5a528e60117adba32d71de8c993efa/paper/paper.bib#L324

[2019-05-12 14:02] labarba commented on #1414
This DOI is not resolving:
https://github.com/williamjameshandley/anesthetic/blob/11ce6b382c5a528e60117adba32d71de8c993efa/paper/paper.bib#L330

Try putting _just_ the DOI, i.e., the alphanumeric identifier, not the full URL, into the `doi` field of the `.bib` file.

[2019-05-12 14:03] labarba commented on #1414
Also, don't include the Zenodo archive in the references, as it will be provided on the margin of the first page.

[2019-05-12 14:06] labarba commented on #1414
Handley, W., & Speagle, J. (2019) — do not cite items that are not publicly available. Either upload a preprint to arXiv, or remove the citation (it is OK to mention in the text that you have some work in progress, but not to cite it).

[2019-05-12 14:07] labarba commented on #1414
We need caps protection on "Carlo" and "Markov" in this title:
https://github.com/williamjameshandley/anesthetic/blob/11ce6b382c5a528e60117adba32d71de8c993efa/paper/paper.bib#L129

[2019-05-12 14:09] labarba commented on #1414
Did you want to preserve the capitalization on the second appearance of "PolyChord" here?
https://github.com/williamjameshandley/anesthetic/blob/11ce6b382c5a528e60117adba32d71de8c993efa/paper/paper.bib#L186

[2019-05-12 14:11] labarba commented on #1414
This DOI link is also broken:
https://github.com/williamjameshandley/anesthetic/blob/11ce6b382c5a528e60117adba32d71de8c993efa/paper/paper.bib#L360

[2019-05-12 14:14] labarba commented on #1414
Caps protection on "Bayes"
https://github.com/williamjameshandley/anesthetic/blob/11ce6b382c5a528e60117adba32d71de8c993efa/paper/paper.bib#L41

[2019-05-12 14:14] labarba commented on #1414
Let me know when all ☝️ is done.

[2019-05-12 14:18] labarba commented on #1044
@whedon accept

[2019-05-12 14:18] whedon commented on #1044
No archive DOI set. Exiting...

[2019-05-12 14:22] labarba commented on #1044
Oops. Please now make a tagged release, and report the version number here, then make a deposit of your full repository on an archive service like Zenodo, and report the DOI here.

[2019-05-12 14:23] labarba commented on #1044
@yochannah — Did you tick off the checklist items for @mbod's list? If you, you should edit the comment and put your username there.

[2019-05-12 14:32] davekinkead commented on #1044
Hi @labarba

Tagged release https://github.com/davekinkead/reasons/releases/tag/v1.0.1
Zendo https://zenodo.org/record/2766003

[2019-05-12 14:42] labarba commented on #1044
@whedon set v1.0.1 as version

[2019-05-12 14:42] whedon commented on #1044
OK. v1.0.1 is the version.

[2019-05-12 14:44] labarba commented on #1044
@whedon set 10.5281/zenodo.2766003 as archive

[2019-05-12 14:44] whedon commented on #1044
OK. <a href="https://doi.org/10.5281/zenodo.2766003" target="_blank">10.5281/zenodo.2766003</a> is the archive.

[2019-05-12 14:45] labarba commented on #1044
@whedon accept

[2019-05-12 14:45] whedon commented on #1044
[code]

[2019-05-12 14:46] whedon commented on #1044
[code]

[2019-05-12 14:46] whedon commented on #1044
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/682

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/682, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-12 14:47] labarba commented on #1044
@whedon accept deposit=true

[2019-05-12 14:47] whedon commented on #1044
[code]

[2019-05-12 14:48] whedon commented on #1044
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/683
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01044](https://doi.org/10.21105/joss.01044)
2. If everything looks go

[2019-05-12 14:48] labarba commented on #1044
I have now made this edit to the top post: https://github.com/openjournals/joss-reviews/issues/1044#issuecomment-491600234

[2019-05-12 14:49] labarba commented on #1044
Congratulations, @davekinkead, your JOSS paper is now published!

Many thanks to @yochannah, @andytwoods for their work on this submission 🙏

[2019-05-12 14:49] #1044 closed

[2019-05-12 14:49] whedon commented on #1044
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01044/status.svg)](https://doi.org/10.21105/joss.01044)

**We need your help!**

Journal of Open Source Softwar

[2019-05-12 14:58] labarba commented on #1376
@usethedata 👋  — Looks like this submission is waiting for you to assign reviewers.

@Nyctanthous — You can help us by seeing if you can suggest any reviewers form the JOSS list. Follow the link above, https://github.com/openjournals/joss-reviews/issues/1376#issuecomment-482981062

[2019-05-12 15:01] labarba commented on #1378
@jasonclark — Looks like this submission is waiting for you to assign reviewers.

@prabhuramachandran — You can help us by seeing if you can find some names to suggest from the JOSS list; see the link above, https://github.com/openjournals/joss-reviews/issues/1378#issuecomment-482989183

[2019-05-12 15:04] labarba commented on #1397
@whedon generate pdf from branch joss-paper

[2019-05-12 15:04] whedon commented on #1397
[code]

[2019-05-12 15:04] whedon commented on #1397
PDF failed to compile for issue #1397 with the following error:

 fatal: not a git repository (or any parent up to mount point /)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
Can't find any papers to compile :-(

[2019-05-12 15:05] labarba commented on #1397
@arfon — This is failing to compile. Can you find the problem?

[2019-05-12 15:16] arfon commented on #1397
@whedon generate pdf from branch joss-paper

[2019-05-12 15:16] whedon commented on #1397
[code]

[2019-05-12 15:16] whedon commented on #1397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01397/joss.01397/10.21105.joss.01397.pdf)

[2019-05-12 15:17] WeiqunZhang commented on #1370
@whedon check references

[2019-05-12 15:17] whedon commented on #1370
[code]

[2019-05-12 15:19] whedon commented on #1370
[code]

[2019-05-12 15:20] labarba commented on #1397
OK, @melissawm — the proof has compiled. Please start your review. Feel free to ask questions here, and to open issues in the submission repository, as needed. 🙏

[2019-05-12 15:29] WeiqunZhang commented on #1370
One of the references has a valid but incorrect DOI.  I will fix it.

[2019-05-12 15:31] Nyctanthous commented on #1376
It looks like @ixjlyons would be a good fit, given their preference for data acquisition and assorted electronic systems experience.
@lucask07 also looks like they should have a significant experience in this field, as this library is all about interacting with instruments, usually sensors, and experimental data acquisition.

[2019-05-12 15:39] labarba commented on #947
@peterjwatkins — Can you give us a status update?

[2019-05-12 15:39] williamjameshandley commented on #1414
@whedon generate pdf

[2019-05-12 15:39] whedon commented on #1414
[code]

[2019-05-12 15:39] whedon commented on #1414
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01414/joss.01414/10.21105.joss.01414.pdf)

[2019-05-12 15:41] labarba commented on #1214
Hi folks! @yochannah will be stepping down from the JOSS board, due to other obligations making it hard for her to volunteer time currently. I would like to reassign this submission to another editor.

@danielskatz — given current loads, could you take over on this one?

[2019-05-12 15:45] WeiqunZhang commented on #1370
DOI `10.1137/0915008` appeared in two different references.  This has been fixed in AMReX repo.  I have also manually clicked and checked the DOI links in generated pdf file.

[2019-05-12 15:46] williamjameshandley commented on #1414
Many thanks @labarba, I believe I've implemented all those corrections.

[2019-05-12 15:48] williamjameshandley commented on #1414
Apologies, I missed this one. Latest push has this fixed as well.

[2019-05-12 15:50] labarba commented on #1344
👋 @Juke34  — How are you getting along? Can you give us a status update on this submission?

[2019-05-12 15:54] danielskatz commented on #1214
@whedon assign @danielskatz as editor

[2019-05-12 15:54] whedon commented on #1214
OK, the editor is @danielskatz

[2019-05-12 15:55] labarba commented on #1414
@whedon accept

[2019-05-12 15:55] whedon commented on #1414
[code]

[2019-05-12 15:55] whedon commented on #1414
[code]

[2019-05-12 15:55] whedon commented on #1414
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/684

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/684, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-12 16:09] labarba commented on #1414
Please accept my small edits, via PR. Note that the PDF generated above still shows one broken DOI link, but when I open the `.bib` file it looks correct. Unsure what's up.

[2019-05-12 16:26] danielskatz commented on #1214
👋 @PrashantVaidyanathan  - would you be willing to edit this submission?

[2019-05-12 16:28] danielskatz commented on #1214
👋 @cgravill - thanks for agreeing to review - once I get one more reviewer, we'll start the review

[2019-05-12 16:28] danielskatz commented on #1214
@whedon assign @cgravill as reviewer

[2019-05-12 16:28] whedon commented on #1214
OK, the reviewer is @cgravill

[2019-05-12 16:28] williamjameshandley commented on #1414
@whedon generate pdf

[2019-05-12 16:28] whedon commented on #1414
[code]

[2019-05-12 16:29] whedon commented on #1414
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01414/joss.01414/10.21105.joss.01414.pdf)

[2019-05-12 16:30] williamjameshandley commented on #1414
I'm not exactly sure which one you're referring to, but I noticed that there was an errant ``&`` in the fastKDE journal name. I changed it to ``\&`` and it seems to be resolving better, and the DOI no longer has http in front of it.

[2019-05-12 16:31] williamjameshandley commented on #1414
(Edits merged)

[2019-05-12 16:37] alexhanna commented on #1439
Excellent, thanks @terrytangyuan and @pdwaggoner

[2019-05-12 16:38] alexhanna commented on #1439
@whedon assign @terrytangyuan as reviewer

[2019-05-12 16:38] whedon commented on #1439
OK, the reviewer is @terrytangyuan

[2019-05-12 16:38] alexhanna commented on #1439
@whedon add @pdwaggoner as reviewer

[2019-05-12 16:38] whedon commented on #1439
OK, @pdwaggoner is now a reviewer

[2019-05-12 16:38] alexhanna commented on #1439
@whedon start review

[2019-05-12 16:38] whedon opened #1444 "[REVIEW]: modelDown: automated website generator with interpretable documentation for predictive machine learning models"
**Submitting author:** @matiszak (<a href="http://orcid.org/0000-0001-6335-3434">Mateusz Urbański</a>)
**Repository:** <a href="https://github.com/MI2DataLab/modelDown" target ="_blank">https://github.com/MI2DataLab/modelDown</a>
**Version:** v1.0.1
**Editor:** @alexhanna
**Reviewer:** @terrytangyuan, @pdwaggoner
**Archive:** <a href="https://doi.org/10.5281/zenodo.3247303" target="_blank">10.5281

[2019-05-12 16:38] whedon commented on #1439
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1444. Feel free to close this issue now!

[2019-05-12 16:38] whedon commented on #1444
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @terrytangyuan, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-05-12 16:38] whedon commented on #1444
[code]

[2019-05-12 16:38] #1439 closed

[2019-05-12 16:38] whedon commented on #1444
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01444/joss.01444/10.21105.joss.01444.pdf)

[2019-05-12 16:44] Juke34 commented on #1344
I started to work on it but I have to do some test before to release it. I'm currently busy by teachings. I hope it could be done by the end of may.

[2019-05-12 16:50] kyleniemeyer commented on #1370
@whedon generate pdf

[2019-05-12 16:50] whedon commented on #1370
[code]

[2019-05-12 16:51] whedon commented on #1370
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01370/joss.01370/10.21105.joss.01370.pdf)

[2019-05-12 16:54] kyleniemeyer commented on #1370
Thanks @WeiqunZhang and @asalmgren! Looks good to move forward now.

[2019-05-12 16:54] kyleniemeyer commented on #1370
@whedon set 10.5281/zenodo.2754709 as archive

[2019-05-12 16:54] whedon commented on #1370
OK. <a href="https://doi.org/10.5281/zenodo.2754709" target="_blank">10.5281/zenodo.2754709</a> is the archive.

[2019-05-12 16:54] kyleniemeyer commented on #1370
@whedon accept

[2019-05-12 16:54] whedon commented on #1370
[code]

[2019-05-12 16:55] whedon commented on #1370
[code]

[2019-05-12 16:55] whedon commented on #1370
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/685

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/685, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-12 16:56] kyleniemeyer commented on #1370
@whedon accept deposit=true

[2019-05-12 16:56] whedon commented on #1370
[code]

[2019-05-12 16:57] whedon commented on #1370
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/686
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01370](https://doi.org/10.21105/joss.01370)
2. If everything looks go

[2019-05-12 17:08] kyleniemeyer commented on #1370
Hey @arfon, looks like the paper PDF isn't showing up at http://joss.theoj.org/papers/10.21105/joss.01370 even though the PDF was generated fine at https://github.com/openjournals/joss-papers/blob/49965f4a1df4246a547c458c1f29feada6b6aa8e/joss.01370/10.21105.joss.01370.pdf

Any ideas? Just wait a bit longer?

[2019-05-12 17:40] vissarion commented on #1278
@poulson I recommend acceptance. However, I am not clicking the box because, as far as I understand, there are no performance claims by the submitted software to confirm so the box should be left unchecked.

[2019-05-12 17:43] banesullivan commented on #1382
@whedon generate pdf

[2019-05-12 17:43] whedon commented on #1382
[code]

[2019-05-12 17:44] whedon commented on #1382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01382/joss.01382/10.21105.joss.01382.pdf)

[2019-05-12 17:44] banesullivan commented on #1382
We have settled on PyVista as the new name of this software - sorry for the delay!

[2019-05-12 17:54] labarba commented on #1414
@whedon accept

[2019-05-12 17:54] whedon commented on #1414
[code]

[2019-05-12 17:54] whedon commented on #1414
[code]

[2019-05-12 17:55] whedon commented on #1414
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/687

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/687, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-05-12 17:59] labarba commented on #1414
@whedon accept deposit=true

[2019-05-12 18:00] whedon commented on #1414
[code]

[2019-05-12 18:00] whedon commented on #1414
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/688
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01414](https://doi.org/10.21105/joss.01414)
2. If everything looks go

[2019-05-12 18:02] labarba commented on #1414
Congratulations, @williamjameshandley, your JOSS paper is published 🚀

Huge thanks to our editor: @xuanxu, and reviewer: @tacaswell — we couldn't do this without you 🙏

[2019-05-12 18:02] #1414 closed

[2019-05-12 18:02] whedon commented on #1414
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01414/status.svg)](https://doi.org/10.21105/joss.01414)

**We need your help!**

Journal of Open Source Softwar

[2019-05-12 18:06] williamjameshandley commented on #1414
Many thanks for all your efforts @labarba, @xuanxu and @tacaswell: I remain very impressed by the quality, efficiency and usefulness of the JOSS review process.

[2019-05-12 18:08] labarba commented on #1376
@ixjlyons, @lucask07 👋 — would either (or both) of you be willing to contribute a review for this JOSS submission? Title: "labjack-controller: Fast Realtime Data Collection with Labjack T-Series DAQs in Python" ... Let us know!

[2019-05-12 18:09] labarba commented on #1359
@jdrugo  👋  — please work through the comments of the reviewer :pointed

[2019-05-12 18:11] labarba commented on #1359
@jdrugo 👋  — please work through the comments of the reviewer ☝️ ... and let us know when it's ready to take a new look.

[2019-05-12 18:16] gnarayan commented on #1247
A very different way of doing reviews, and I really love the use of whedon to manage the process. Thanks for asking me to do this, @arfon!

[2019-05-12 18:40] jdrugo commented on #1359
@ManuelaS & @labarba Thank you for the review and the heads up. I am working on the changes, and will let you know once I am done.

[2019-05-12 20:53] arfon commented on #1247
😻 thanks for the kind words @gnarayan and for your review!

[2019-05-12 20:55] arfon commented on #1370
Sometimes GitHub pages can take a couple of minutes to build. I can see the paper fine now at https://doi.org/10.21105/joss.01370 👍

<img width="1081" alt="Screen Shot 2019-05-12 at 4 54 52 PM" src="https://user-images.githubusercontent.com/4483/57587680-c648e480-74d6-11e9-9a45-b24ed86be7d4.png">

[2019-05-12 21:03] kyleniemeyer commented on #1370
Works for me too now, thanks!

Congrats @asalmgren et al. on your paper being published in JOSS! Thanks to @MatthewTurk, @RemiLehe , and @cmsquared for reviewing!

[2019-05-12 21:03] #1370 closed

[2019-05-12 21:03] whedon commented on #1370
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01370/status.svg)](https://doi.org/10.21105/joss.01370)

**We need your help!**

Journal of Open Source Softwar

[2019-05-12 21:12] #1354 closed

[2019-05-12 21:20] alexhanna commented on #1285
Sorry about the delay, @pdwaggoner. Thanks for the changes in the README.

I'm getting this error when I try to test.

[code]

[2019-05-12 21:39] mandar2812 commented on #922
Yes, I would like to withdraw this submission.

[2019-05-12 21:55] danielskatz commented on #1214
👋 @TahaHachana, @dsyme, @jackfoxy, @tpetricek - would one of you be willing be the 2nd reviewer for this JOSS submission?  (See our [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) if needed)