[2019-09-09 21:55] whedon commented on #1461
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01461/joss.01461/10.21105.joss.01461.pdf)

[2019-09-09 21:58] katyhuff commented on #1461
@whedon check references

[2019-09-09 21:58] whedon commented on #1461
[code]

[2019-09-09 21:58] whedon commented on #1461
[code]

[2019-09-09 22:49] arfon commented on #1710
Excellent. Thanks @gkthiruvathukal!

[2019-09-09 22:49] arfon commented on #1710
@whedon assign @gkthiruvathukal as editor

[2019-09-09 22:49] whedon commented on #1710
OK, the editor is @gkthiruvathukal

[2019-09-09 23:49] danielskatz commented on #1674
👋 @linuxscout & @timClicks - Please let me know your comments on the changes described above

[2019-09-10 00:02] timClicks commented on #1674
@danielskatz LGTM. I've reviewed the new paper and the new README. Both look fine.

[2019-09-10 00:08] zhampel commented on #1632
@richteague

Thanks for your changes, and after having been able to download the dataset, I see that the functionality is as advertised. BTW the documentation is very thorough and appreciated!

However, I have a request regarding the installation which can have an impact on those wishing to contribute (e.g. if users fork the repo and wish to make PRs). I recommend that you add an `__init__.py` fil

[2019-09-10 00:49] brainstorm commented on #1526
@whedon add @GullyAPCBurns as reviewer

[2019-09-10 00:49] whedon commented on #1526
OK, @GullyAPCBurns is now a reviewer

[2019-09-10 11:20] haptork commented on #1461
Updated a few formatting issues in the latest commit (putting captions as image placeholders).

[2019-09-10 11:22] cMadan commented on #1631
@conradsnicta, thanks for letting me know. I hope you feel better soon!

[2019-09-10 12:08] gus0k commented on #1591
Thank you.

[2019-09-10 12:32] xuanxu commented on #1690
:wave: @zonca: would you be willing to review this paper? I think your knowledge of Python and algorithms applied to cosmology makes you a great fit for this submission.

[2019-09-10 12:42] adswa commented on #1620
Hey everyone, from my POV and based on what I am able to review given I don't have the hardware and OS available to test the full functionality, my review is finished.
I can confirm that the items on the checklist apply with the exception of "functionality". I have a minor issue open regarding the paper, but once this is addressed, I'd be happy to approve this submission - all with the explicit no

[2019-09-10 12:54] xuanxu commented on #1690
:wave: @melissawm: would you be willing to review this paper? I think your knowledge of math and Python+Fortran makes you a great fit for this submission.

[2019-09-10 12:55] melissawm commented on #1690
Sure, count me in!

[2019-09-10 13:00] xuanxu commented on #1690
@melissawm: great, thanks!
I'm going to assign you now and then I'll start the review issue once I find the second reviewer, stay tuned!

[2019-09-10 13:01] xuanxu commented on #1690
@whedon assign @melissawm as reviewer

[2019-09-10 13:01] whedon commented on #1690
OK, the reviewer is @melissawm

[2019-09-10 13:02] richteague commented on #1632
@zhampel - Thanks a lot for the report! I've added the `__init__.py` file to the main repo. I've thought about adding an emcee search to the documentation and this is something I want to to, however I'm working with a collaborator to get some real data that would be more appropriate for such an example. As it might take a little while to get the data, I didn't want that to delay the publication of

[2019-09-10 13:38] arfon commented on #1632
@whedon generate pdf

[2019-09-10 13:38] whedon commented on #1632
[code]

[2019-09-10 13:38] whedon commented on #1632
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01632/joss.01632/10.21105.joss.01632.pdf)

[2019-09-10 13:49] arfon commented on #1632
@richteague - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the au

[2019-09-10 13:54] richteague commented on #1632
@arfon - Here's the Zenodo DOI: https://doi.org/10.5281/zenodo.3403894

[2019-09-10 14:12] shreyasbapat commented on #1718
Hi @afron I got the reply:
`If it is not in the official FITS standards, it is not for astropy.io.fits, I am afraid.`
They have suggested to make it a affiliated package.

[2019-09-10 15:24] zonca commented on #1690
@xuanxu thanks, yes, I can review this

[2019-09-10 15:26] xuanxu commented on #1690
@zonca great, thanks! Let's get this started.

[2019-09-10 15:26] xuanxu commented on #1690
@whedon add @zonca as reviewer

[2019-09-10 15:26] whedon commented on #1690
OK, @zonca is now a reviewer

[2019-09-10 15:27] xuanxu commented on #1690
@whedon start review

[2019-09-10 15:27] whedon opened #1721 "[REVIEW]: MiSTree: a Python package for constructing and analysing Minimum Spanning Trees"
**Submitting author:** @knaidoo29 (<a href="http://orcid.org/0000-0002-9182-1802">Krishna Naidoo</a>)
**Repository:** <a href="https://github.com/knaidoo29/mistree" target ="_blank">https://github.com/knaidoo29/mistree</a>
**Version:** v1.2
**Editor:** @xuanxu
**Reviewer:** @melissawm, @zonca
**Archive:** <a href="https://doi.org/10.5281/zenodo.3495008" target="_blank">10.5281/zenodo.3495008</a>

[2019-09-10 15:27] whedon commented on #1721
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @melissawm, @zonca it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-09-10 15:27] whedon commented on #1721
[code]

[2019-09-10 15:28] whedon commented on #1721
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf)

[2019-09-10 15:28] arfon commented on #1632
@richteague - minor point, could you remove Lorena's name from the authors of the Zenodo archive?

Also, could you update the title of your submission to match the paper, i.e. change it to `GoFish: Fishing for Line Observations in Protoplanetary Disks`

[2019-09-10 15:28] xuanxu commented on #1690
@melissawm, @zonca : please head over to #1721 where the review will take place.

[2019-09-10 15:28] #1690 closed

[2019-09-10 15:33] richteague commented on #1632
@arfon - No problem, I've made those changes!

[2019-09-10 15:39] whedon commented on #1683
:wave: @duncanmmacleod, please update us on how your review is going.

[2019-09-10 15:43] mgymrek commented on #1643
Perfect, thanks @marouenbg and @SirSharpest for the reviews!

[2019-09-10 15:43] mgymrek commented on #1643
@whedon generate pdf

[2019-09-10 15:43] whedon commented on #1643
[code]

[2019-09-10 15:44] whedon commented on #1643
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01643/joss.01643/10.21105.joss.01643.pdf)

[2019-09-10 15:49] jboynyc commented on #1672
If you still need a review, I'll take a look.

[2019-09-10 15:50] arokem commented on #1672
@jboynyc : thanks for replying here! I think we're all set for now, but if things come up, I might call on you later. Thanks again!

[2019-09-10 16:05] arfon commented on #1632
@whedon set 10.5281/zenodo.3403894 as archive

[2019-09-10 16:05] whedon commented on #1632
OK. <a href="https://doi.org/10.5281/zenodo.3403894" target="_blank">10.5281/zenodo.3403894</a> is the archive.

[2019-09-10 16:32] whedon commented on #1487
:wave: @StewMH, please update us on how your review is going.

[2019-09-10 17:06] kthyng commented on #1693
Hi @dawbarton , @Shibabrat, just a ping to do your review when you can. Thanks!

[2019-09-10 17:39] ahwillia commented on #1666
I just want to echo all of @dmbates's positive comments. This is a very well done project and I think it should be accepted. Please treat the comments below as friendly suggestions and pointers for youre future work.

I had one question when looking through the documentation. How do functions like `cov(x, y)` and `cor(x, y)` work if `resample` is called independently on the `x` and `y` variables?

[2019-09-10 17:44] jkarreth commented on #1714
@terrytangyuan , thank you for stepping up to edit this! Please let me know if I can help in any way by getting this on the radar of a few more potential reviewers. Thank you!

[2019-09-10 17:48] arfon commented on #1632
@whedon accept

[2019-09-10 17:48] whedon commented on #1632
[code]

[2019-09-10 17:49] whedon commented on #1632
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/960

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/960, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-10 17:59] arfon commented on #1632
@whedon accept deposit=true

[2019-09-10 17:59] whedon commented on #1632
[code]

[2019-09-10 18:00] whedon commented on #1632
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1171483676799946753) 👈 🐦🐦🐦

[2019-09-10 18:00] whedon commented on #1632
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/961
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01632](https://doi.org/10.21105/joss.01632)
2. If everything looks go

[2019-09-10 18:02] arfon commented on #1632
@zhampel, @nespinoza - many thanks for your reviews here ✨

@richteague - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-10 18:02] #1632 closed

[2019-09-10 18:02] whedon commented on #1632
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01632/status.svg)](https://doi.org/10.21105/joss.01632)

**We need your help!**

Journal of Open Source Softwa

[2019-09-10 18:05] terrytangyuan commented on #1714
Looks like you've already tagged a lot people already so let's wait a couple more days.

👋 Hi, if you would like to review this submission, please let us know here!
@amoeba @andrewheiss @becarioprecario @benmarwick @bradweiner @caseyyoungflesh @cdcrabtree @earino @fabian-s @jacobsoj @jsta @lindemann09 @mariacuellar @mdogucu @MikeLydeamore @pacoramon @paulgovan @pboesu @RMHogervorst @soodoku @svmil

[2019-09-10 18:12] svmiller commented on #1714
I'll review this submission if that's okay with the editorial team/authors.

[2019-09-10 18:28] jrperilla commented on #1692
@whedon generate pdf

[2019-09-10 18:28] whedon commented on #1692
[code]

[2019-09-10 18:29] whedon commented on #1692
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01692/joss.01692/10.21105.joss.01692.pdf)

[2019-09-10 18:52] RingoHHuang commented on #1620
@cMadan - I'll find time to test the program with the Gazepoint hardware some time this week.

[2019-09-10 18:55] jmlarson1 commented on #1716
Some things of note:

1. I received the following warning when trying to build.

[code]

2. I tried to run the tests, but it hangs;
[code]

3. Aren't the examples `prior-sampler.py` or `simulator.py` in `/pakman/examples/biased-coin-flip`
just wrappers around numpy? (And therefore not a good example of the code being used?)

4. The paper does not "clearly state what problems the software is design

[2019-09-10 18:58] MLHale commented on #1620
@adswa - I have implemented your change list. Really thanks again for all of your review inputs and thoughtful contributions. I also like this collaborative process - it was been very constructive to receive and implement feedback in this way!

[2019-09-10 19:42] labarba commented on #1692
👋  @jrperilla — the review is happening here: https://github.com/openjournals/joss-reviews/issues/1698

[2019-09-10 20:44] rgmyr commented on #1699
Minor issue on the paper affiliations list: the '2' for LLNL is in the wrong place (comes after instead of before). I think this is because in `paper.md`, that line should just be `index: 2` instead of `- index: 2`.

[2019-09-10 20:53] labarba commented on #1295
I'm not on rotation, but could you now check that the issues I flagged were resolved (version, etc.), and update as needed with `whedon`?

[2019-09-10 21:20] dntrinca commented on #1588
@usethedata Dear Bruce, Did you find any reviewers ? I know it might be hard to find, as most of the scientific codes are in Matlab in general..But myself I wrote in Visual C++ to do a real Windows application, professionally written, and which does not require anything to be installed on a Windows system..

  Given the situation, do you think it is a priority to review the code ? The submission h

[2019-09-10 21:26] mbobra commented on #1524
@whedon set 10.5281/zenodo.3382968 as archive

[2019-09-10 21:26] whedon commented on #1524
OK. <a href="https://doi.org/10.5281/zenodo.3382968" target="_blank">10.5281/zenodo.3382968</a> is the archive.

[2019-09-10 21:27] mbobra commented on #1524
@whedon set 1.0.0 as version

[2019-09-10 21:27] whedon commented on #1524
OK. 1.0.0 is the version.

[2019-09-10 21:27] mbobra commented on #1524
@whedon check references

[2019-09-10 21:27] whedon commented on #1524
[code]

[2019-09-10 21:27] whedon commented on #1524
[code]

[2019-09-10 21:35] arokem commented on #1295
@whedon set version as v0.3.2

[2019-09-10 21:36] mbobra commented on #1524
@bryanlimy @alexanderimanicowenrivers It looks like the references section is not compiling properly. Can you please update the paper.bib file to add the URLs in the URL metadata field (and the DOIs in the DOI metadata field, if relevant)? You can take a look at an example [paper.bib](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) file here or the bib files o

[2019-09-10 21:36] arokem commented on #1295
@whedon set archive as 10.5281/zenodo.3385339

[2019-09-10 21:40] arokem commented on #1295
Either I'm having some syntax errors, or @whedon is taking a nap.

[2019-09-10 22:18] arfon commented on #1295
@whedon set 10.5281/zenodo.3385339 as archive

[2019-09-10 22:18] whedon commented on #1295
OK. <a href="https://doi.org/10.5281/zenodo.3385339" target="_blank">10.5281/zenodo.3385339</a> is the archive.

[2019-09-10 22:18] arfon commented on #1295
@whedon set v0.3.2 as version

[2019-09-10 22:18] whedon commented on #1295
OK. v0.3.2 is the version.

[2019-09-10 22:18] arfon commented on #1295
@arokem ☝️

[2019-09-10 22:23] arokem commented on #1295
Thanks! 🤦‍♂

[2019-09-10 22:50] ChayaSt commented on #1682
I tried running the config script on a cluster and it tells me that it cant find boost_thread. Below is the full error it generated:
[code]
On this specific cluster the dependencies are provided as modules and the configuration script seems to be looking only in a few system paths.

The instructions in the example directories should be in markdown. Currently they are in .docx which does not render

[2019-09-11 00:48] TiagoVentura commented on #1714
I can review this submission as well. Thanks!

[2019-09-11 00:51] terrytangyuan commented on #1714
@whedon assign @svmiller as reviewer

[2019-09-11 00:51] whedon commented on #1714
OK, the reviewer is @svmiller

[2019-09-11 00:51] terrytangyuan commented on #1714
@whedon add @TiagoVentura as reviewer

[2019-09-11 00:51] whedon commented on #1714
OK, @TiagoVentura is now a reviewer

[2019-09-11 00:52] terrytangyuan commented on #1714
@whedon start review

[2019-09-11 00:52] whedon opened #1722 "[REVIEW]: BayesPostEst: An R Package to Generate Postestimation Quantities for Bayesian MCMC Estimation"
**Submitting author:** @jkarreth (<a href="http://orcid.org/0000-0003-4586-7153">Johannes Karreth</a>)
**Repository:** <a href="https://github.com/ShanaScogin/BayesPostEst" target ="_blank">https://github.com/ShanaScogin/BayesPostEst</a>
**Version:** v0.1.0
**Editor:** @terrytangyuan
**Reviewer:** @svmiller, @TiagoVentura
**Archive:** <a href="https://doi.org/10.5281/zenodo.3464224" target="_blank

[2019-09-11 00:52] whedon commented on #1714
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1722. Feel free to close this issue now!

[2019-09-11 00:52] whedon commented on #1722
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @svmiller, @TiagoVentura it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-09-11 00:52] whedon commented on #1722
[code]

[2019-09-11 00:52] terrytangyuan commented on #1714
@TiagoVentura @svmiller Thank you! Please head over to #1722 for the review.

[2019-09-11 00:52] #1714 closed

[2019-09-11 00:52] whedon commented on #1722
PDF failed to compile for issue #1722 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1722 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedo

[2019-09-11 01:35] katyhuff commented on #1461
@haptork Thanks for engaging actively in the review process. I've made some suggestions on the pdf itself (from before your most recent commit). Can you please consider the suggestions marked in this pdf, and let me know as soon as you feel these suggested changes have been handled?

[csaransh.pdf](https://github.com/openjournals/joss-reviews/files/3598409/csaransh.pdf)

[2019-09-11 04:36] ashleefv commented on #1643
I approve of the proof.

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences Center
420 Engineering North, OSU, Stillwater, OK 74078
Ph: 405-744-5280
ashleefv@okstate.edu<mailto:ashleefv@okstate.edu>
Ford Versypt Lab Website<https://sites.google.com/site/ashleefordve

[2019-09-11 08:18] jboynyc commented on #1672
cool. sure, happy to be of service in the future.

[2019-09-11 08:53] martlj commented on #1588
Hi, apologies for the slow reply. Medical CT is a bit outside of my usual domain and I don't use Windows either so I'm not best placed to give a thorough review of this I'm afraid.

[2019-09-11 09:23] whedon opened #1723 "[PRE REVIEW]: Bedtoolsr: An R package for genomic data analysis and manipulation"
**Submitting author:** @dphansti (<a href="http://orcid.org/0000-0003-2123-0051">Douglas Phanstiel</a>)
**Repository:** <a href="https://github.com/PhanstielLab/bedtoolsr.git" target ="_blank">https://github.com/PhanstielLab/bedtoolsr.git</a>
**Version:** v2.29.0
**Editor:** @mgymrek
**Reviewers:** @nhejazi , @mikmaksi

**Author instructions**

Thanks for submitting your paper to JOSS @dphansti. T

[2019-09-11 09:23] whedon commented on #1723
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a

[2019-09-11 09:23] whedon commented on #1723
[code]

[2019-09-11 09:23] whedon commented on #1723
Failed to discover a valid open source license.

[2019-09-11 09:23] whedon commented on #1723
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01723/joss.01723/10.21105.joss.01723.pdf)

[2019-09-11 09:34] Kevin-Mattheus-Moerman commented on #1723
@dphansti thanks for submitting this work.

Before we can consider your work for JOSS you need to address the following points:
- [ ]  JOSS submission require an [OSI approved license](https://opensource.org/licenses). Please choose one and add a LICENSE file to your main folder.
- [ ]  Have a look at our paper [formatting guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-shou

[2019-09-11 09:34] Kevin-Mattheus-Moerman commented on #1723
@whedon check references

[2019-09-11 09:34] whedon commented on #1723
[code]

[2019-09-11 09:35] whedon commented on #1723
[code]

[2019-09-11 09:45] Kevin-Mattheus-Moerman commented on #1723
@mgymrek, @brainstorm, @karthik, @csoneson
Could one of you serve as editor for this submission or suggest reviewers?
@mgymrek you are assigned for now, please confirm if you can handle this submission.
Thanks

[2019-09-11 09:48] whedon opened #1724 "[PRE REVIEW]: AliasFinder: A Python script to search for the true planetary frequency within radial velocity data"
**Submitting author:** @StephanStock (<a href="http://orcid.org/0000-0002-1166-9338">Stephan Stock</a>)
**Repository:** <a href="https://github.com/JonasKemmer/AliasFinder" target ="_blank">https://github.com/JonasKemmer/AliasFinder</a>
**Version:** v1.0.0
**Editor:** @xuanxu
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @StephanStock. The JOSS editor @xu

[2019-09-11 09:48] whedon commented on #1724
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xuanxu it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a

[2019-09-11 09:48] whedon commented on #1724
[code]

[2019-09-11 09:49] whedon commented on #1724
PDF failed to compile for issue #1724 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Jonas Kemmer (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:141:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon

[2019-09-11 09:50] Kevin-Mattheus-Moerman commented on #1724
@arfon, does the paper need to be moved to a different location? Also that does not look like a real ORCID id.

[2019-09-11 09:52] Kevin-Mattheus-Moerman commented on #1724
@xuanxu can you help edit this one (I assigned you for now)? Alternatively, @mbobra could you edit this one? Could either of you also help suggest reviewers? Thanks

[2019-09-11 09:57] Kevin-Mattheus-Moerman commented on #1719
@Soneson @mgymrek @Guimera could one of you edit this submission? Would you be able to suggest some reviewers? Thanks

[2019-09-11 10:00] Kevin-Mattheus-Moerman commented on #1718
@arfon, can you reply to @shreyasbapat

[2019-09-11 10:02] Kevin-Mattheus-Moerman commented on #1707
@mbobra @xuanxu could one of you edit this submission? Can you also help suggest some reviewers (even if you are not able to edit)? Thanks

[2019-09-11 10:08] Kevin-Mattheus-Moerman commented on #1696
@pachamaltese can you please elaborate a list the specific changes you made since #1366, please list:

# Changes made to the software?
- What improvements were made?
- What new functionality/capabilities were added?

# Changes made to the paper
- What updates were made? New content? Improved descriptions? Did you add references? etc.

[2019-09-11 10:11] Kevin-Mattheus-Moerman commented on #1005
@rljacobson please can you update us on review progress? If you need more time please let us know too. Thanks again for agreeing to help here!

[2019-09-11 10:15] Kevin-Mattheus-Moerman commented on #1005
@tpetricek thanks for helping us with this lengthy review process! Can you please list/summarize the main points you feel @slithiaote should focus on? Also can you please comment on (apologies if I've missed your comments somewhere) this reply by @slithiaote:

[2019-09-11 10:18] Kevin-Mattheus-Moerman commented on #1555
@rouson thanks again for helping us review this JOSS submission. Can you please update us on your progress with this review? If you need more time please inform us as well. Thanks!

[2019-09-11 10:19] Kevin-Mattheus-Moerman commented on #1555
@hariradh do the comments by @jayten help you trouble shoot those errors?

[2019-09-11 10:21] Kevin-Mattheus-Moerman commented on #1611
@jedbrown @mozhgan-kch this review has been a bit stale for >3 weeks. Can you give an estimate of when the review process will be completed?
@mozhgan-kch thanks for your help with this review. Please let us know when you feel you can finalize this review process? If you need more time please let us know as well. Thanks.

[2019-09-11 10:23] Kevin-Mattheus-Moerman commented on #1663
@eskofier, @ikarosilva thanks again for your help with this review. Can you please give us an indication as to when you can work on/finalize this review? Thanks.

[2019-09-11 10:25] Kevin-Mattheus-Moerman commented on #1501
@deniederhut thanks again for your help here! Can you give an update on review progress?

[2019-09-11 10:28] Kevin-Mattheus-Moerman commented on #1678
@nstikov, @vsoch, @mathieuboudreau would you be interested in reviewing this JOSS submission?

[2019-09-11 10:37] Kevin-Mattheus-Moerman commented on #1676
@thomakra :point_up:

[2019-09-11 10:40] Kevin-Mattheus-Moerman commented on #1295
@arfon the archive link in the paper does not work for me. Is this normal at this point?

[2019-09-11 10:41] Kevin-Mattheus-Moerman commented on #1295
@whedon generate pdf

[2019-09-11 10:41] whedon commented on #1295
[code]

[2019-09-11 10:41] whedon commented on #1295
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01295/joss.01295/10.21105.joss.01295.pdf)

[2019-09-11 10:42] Kevin-Mattheus-Moerman commented on #1295
@arfon the link to the archive in the PDF does not seem to work. Is this normal at this point?

[2019-09-11 10:57] xuanxu commented on #1724
@Kevin-Mattheus-Moerman, yeah, I can edit this one.

[2019-09-11 10:57] xuanxu commented on #1707
hey @Kevin-Mattheus-Moerman, I can't take this one. I'm a little overloaded these days and both hydrodynamics and C++ are out of my areas of expertise.

[2019-09-11 11:00] Kevin-Mattheus-Moerman commented on #1295
@jdkent can you work on/check the following for your paper:

- [ ] We are about to process your paper for acceptance. Can you please double check the paper thoroughly and make any final changes (refer to them briefly here if you make any changes). Also ensure the author names and the acknowledgements (if any), and links to funding sources etc, are accurate.
- [ ] Can you check your affiliation. Is

[2019-09-11 11:02] Kevin-Mattheus-Moerman commented on #1295
@arokem could you please verify the above once @jdkent has worked on them, and ping me when we can proceed to the next step? Thanks

[2019-09-11 11:05] StewMH commented on #1487
Hi @tesch1,

Unfortunately I get the same error with master branch, same Dockerfile.

Cheers,

Stewart

[2019-09-11 11:25] Kevin-Mattheus-Moerman commented on #1511
@martibosch can you check/work on the following points in relation to your paper:

- [ ] We are about to process this submission for acceptance. Can you please thoroughly read and double check the paper? Also ensure all author names and affiliations are accurate and that acknowledgements to contributors and funding sources have been added.
- [ ] Can you remove the acronyms from your affiliations (

[2019-09-11 11:26] Kevin-Mattheus-Moerman commented on #1511
@leouieda can you verify the above points and ping me once we are ready to proceed? Thanks

[2019-09-11 11:43] mathieuboudreau commented on #1678
Sure!

[2019-09-11 12:13] Kevin-Mattheus-Moerman commented on #1678
@whedon add @mathieuboudreau as reviewer

[2019-09-11 12:14] whedon commented on #1678
OK, @mathieuboudreau is now a reviewer

[2019-09-11 12:14] Kevin-Mattheus-Moerman commented on #1678
@whedon start review

[2019-09-11 12:14] whedon opened #1725 "[REVIEW]: pypulseq: A Python Package for MRI Pulse Sequence Design"
**Submitting author:** @imr-framework (<a href="http://orcid.org/0000-0002-3776-4114">Sairam Geethanath</a>)
**Repository:** <a href="https://github.com/imr-framework/pypulseq" target ="_blank">https://github.com/imr-framework/pypulseq</a>
**Version:** 1.2.2r1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @grlee77, @mathieuboudreau, @spinicist
**Archive:** <a href="https://doi.org/10.5281/zen

[2019-09-11 12:14] whedon commented on #1678
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1725. Feel free to close this issue now!

[2019-09-11 12:14] whedon commented on #1725
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @grlee77, @mathieuboudreau it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-09-11 12:14] whedon commented on #1725
[code]

[2019-09-11 12:15] whedon commented on #1725
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01725/joss.01725/10.21105.joss.01725.pdf)

[2019-09-11 12:15] Kevin-Mattheus-Moerman commented on #1678
This pre-review issue will now be closed. People interested in helping to review should head over to #1725.

[2019-09-11 12:15] #1678 closed

[2019-09-11 12:16] Kevin-Mattheus-Moerman commented on #1725
@imr-framework, @grlee77, @mathieuboudreau this is where the review takes place. The reviewers each have a set of tick boxes at the top of this issue to guide them through the process. Let me know if you have any questions. Let the reviewing begin!

[2019-09-11 12:18] arfon commented on #1295
The link to the archive works in the final proofs (when you do `@whedon accept`)

[2019-09-11 12:25] xuanxu commented on #1724
@StephanStock please merge this PR: JonasKemmer/AliasFinder#1. It should fix the paper compilation error.

[2019-09-11 12:41] StephanStock commented on #1724
@xuanxu the pull request was merged by @JonasKemmer. As a potential reviewer we suggest @nespinoza

[2019-09-11 12:44] arfon commented on #1724
@xuanxu - `@nespinoza` has recently just finished a review. Perhaps we can find someone who hasn't reviewed for JOSS so recently?

[2019-09-11 12:44] xuanxu commented on #1724
@whedon generate pdf

[2019-09-11 12:44] whedon commented on #1724
[code]

[2019-09-11 12:45] whedon commented on #1724
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01724/joss.01724/10.21105.joss.01724.pdf)

[2019-09-11 12:48] StephanStock commented on #1724
Should we update our Orc-IDs in our Draft so that they represent our real Orc-IDs?

[2019-09-11 12:52] StephanStock commented on #1724
@xuanxu We did a new push with the corrected orcids of me and @JonasKemmer.

[2019-09-11 12:56] xuanxu commented on #1724
@StephanStock: great, thanks! I'll look for reviewers and start the review issue as soon as possible.

[2019-09-11 12:57] StephanStock commented on #1724
@xuanxu thanks for your patience

[2019-09-11 12:58] xuanxu commented on #1724
@whedon generate pdf

[2019-09-11 12:58] whedon commented on #1724
[code]

[2019-09-11 12:59] whedon commented on #1724
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01724/joss.01724/10.21105.joss.01724.pdf)

[2019-09-11 13:17] faroit commented on #1667
@arokem @bmcfee @hagenw Thanks all for your great input. The whole process is very well designed and to be honest, this was the first time I enjoyed submitting a paper. So I am definitely consider to help out and review.

[2019-09-11 13:45] wkearn commented on #1642
@oliviaguest Sorry for the delay, I plan to finish my review this afternoon.

[2019-09-11 13:48] jeffreyhanson commented on #1686
The manuscript "Welcome to the tidyverse" provides an excellent overview of the tidyverse---an ecosystem of _R_ packages that share a vision for data science---and the _tidyverse R_ package---an _R_ package that helps manage this ecosystem---that will serve as a useful introduction for new data scientists. Currently, the tidyverse collection of packages spans eight core packages and twelve non-cor

[2019-09-11 14:00] pachamaltese commented on #1696
Hi Kevin

Sure !!

# Changes made to the software?

* It is peer reviewed software (rOpenSci), so it remains stable with some changes to ease using from time to time

# Changes made to the paper

* At the risk of sounding "too sociological", I added references to Open Data, and in particular to adoption and barriers of open data
* I briefly described a latin-american context problem that is basica

[2019-09-11 14:13] jdkent commented on #1295
@Kevin-Mattheus-Moerman, thank you for your suggestions! For making the proof, is it alright if the paper on zenodo/GitHub tag is slightly different than the proof that is used in the journal?

I can email zenodo and ask them to update the repository and I can modify which commit `v0.3.2` points to (but I cannot change the pypi release).

However, it would be easier if I could edit the JOSS paper

[2019-09-11 14:17] martibosch commented on #1511
@whedon generate pdf

[2019-09-11 14:17] whedon commented on #1511
[code]

[2019-09-11 14:17] eskofier commented on #1663
Hi Kevin,

What exactly are we supposed to do? I have not seen any review instructions or the likes?

Best regards,
Bjoern

-sent from mobile office-

[2019-09-11 14:18] whedon commented on #1511
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01511/joss.01511/10.21105.joss.01511.pdf)

[2019-09-11 14:20] martibosch commented on #1511
* [x]  We are about to process this submission for acceptance. Can you please thoroughly read and double check the paper? Also ensure all author names and affiliations are accurate and that acknowledgements to contributors and funding sources have been added.

* [x]  Can you remove the acronyms from your affiliations (I would keep them if they are used in the text but since they are not you can re

[2019-09-11 14:34] leouieda commented on #1511
I agree that numpy deserves a citation.

The figure size is fine but the resolution is a bit low (which I think was the original criticism). If you could please save it with a higher DPI, that would solve the problem.

[2019-09-11 14:36] terrytangyuan commented on #1722
@openjournals/joss-eics Any idea on how to fix the compilation error?

[2019-09-11 14:37] oliviaguest commented on #1642
@wkearn Fantastic and thank you. 😊

[2019-09-11 14:54] labarba commented on #1722
@whedon generate pdf

[2019-09-11 14:54] whedon commented on #1722
[code]

[2019-09-11 14:54] whedon commented on #1722
PDF failed to compile for issue #1722 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1722 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedo

[2019-09-11 14:58] labarba commented on #1722
@whedon generate pdf

[2019-09-11 14:58] whedon commented on #1722
[code]

[2019-09-11 14:58] whedon commented on #1722
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01722/joss.01722/10.21105.joss.01722.pdf)

[2019-09-11 15:01] terrytangyuan commented on #1722
Thank you!

[2019-09-11 15:10] deniederhut commented on #1501
Sure thing! I think we're currently waiting on a fix for the python version
requirement.

On Wed, Sep 11, 2019, 05:25 Kevin Mattheus Moerman <notifications@github.com>
wrote:

[2019-09-11 15:52] martibosch commented on #1511
@whedon generate pdf

[2019-09-11 15:52] whedon commented on #1511
[code]

[2019-09-11 15:53] whedon commented on #1511
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01511/joss.01511/10.21105.joss.01511.pdf)

[2019-09-11 15:57] jkarreth commented on #1722
Thank you @labarba for the quick diagnosis & fix, and I apologize getting this wrong in the submission!

[2019-09-11 16:19] dawbarton commented on #1693
I've made comments for the authors in https://github.com/LRydin/KramersMoyal/issues/4 and https://github.com/LRydin/KramersMoyal/issues/5

[2019-09-11 17:34] prabhuramachandran commented on #1501
I've just merge a tiny fix for that.  I think you should be able to test the software itself with the binaries available.  I will resolve the other issues as time permits.

[2019-09-11 17:36] rgmyr commented on #1699
I've had a couple of (possibly related) installation issues, which I've created tickets for:

- [JOSS Review (@rgmyr): ZLIB not found by CMake](https://github.com/kellykochanski/rescal-snow/issues/26)
- [JOSS Review (@rgmyr): Release build fails](https://github.com/kellykochanski/rescal-snow/issues/27)

In the meantime, I now at least have the software running and will try to continue with the res

[2019-09-11 18:02] sixpearls commented on #1697
@mbobra: Great, thanks! Let me or my co-author @ixjlyons know if there is anything we can do to help.

[2019-09-11 18:33] katyhuff commented on #1461
Excellent, thank you.

[2019-09-11 18:34] whedon commented on #1461
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01461/joss.01461/10.21105.joss.01461.pdf)

[2019-09-11 19:18] cMadan commented on #1620
@adswa, thanks for the update! That sounds good to me--I really appreciate your thorough efforts here.

@RingoHHuang, great, looking forward to it!

@MLHale, I'm glad to hear you're finding the review process here constructive :).

[2019-09-11 19:24] whedon commented on #1461
[code]

[2019-09-11 19:25] whedon commented on #1461
[code]

[2019-09-11 19:25] katyhuff commented on #1461
Thank you @arose and @jmborr for your reviews -- we couldn't do this without you.
Thank you @haptork for a strong submission and for engaging actively in the review process! I have looked over the paper, double-checked all the DOI links, and have conducted a high-level review of the code itself. Everything looks ship-shape to me. At this point, please double-check the paper yourself, review any li

[2019-09-11 20:12] ThomasPak commented on #1716
Hi @jmlarson1, thanks for agreeing to review this project and for your comments.  Please find my responses to points 1, 2, and 3 below.  I will get back to you on the other points as soon as possible.

1. This warning shows up when [Chaste](http://www.cs.ox.ac.uk/chaste/) is not installed, or when the environment variable `CHASTE_DIR` is not set to the Chaste source directory.  It is not an error

[2019-09-11 20:49] thomakra commented on #1676
Here is my profile page on the university website:
https://en.uit.no/om/enhet/ansatte/person?p_document_id=138601&p_dimension_id=88136

I have a Linkedin profile, but I haven't used it actively.
My background is a M.Sc. in pattern recognition, machine learning, image
processing and remote sensing.

-Thomas-

On Wed, 11 Sep 2019 at 12:37, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2019-09-11 21:39] ashleefv commented on #1643
@mgymrek What is the next step?

[2019-09-11 22:03] alcantarar commented on #1466
The target repository claims to allow users to capture object shape or reflective marker data using multiple Intel RealSense cameras. The hardware requirements and software dependencies in the README.md file are comprehensive and allowed me to use my laptop to test two Intel RealSense cameras. The conda environment also worked as intended in terms of installation.

Setting up the cameras was strai

[2019-09-11 22:38] jmborr commented on #1461
@katyhuff thanks for your hard work. I feel I have to apologize here because I was very very slow with my review. I was caught at a time where my organization is under pressure to finish a ton of work before some hard deadlines. It was difficult to set aside time for the review :disappointed:

[2019-09-12 00:18] zhuyouliang commented on #1682
Dear Chaya Stem,

Please try again by setting the path of boost library at configuration step, such as ./configure --boost=/usr.
Before doing that, please check the existence of the boost library files.
I will improve the example and documentation according to your suggestion.
Thank you for your kind help!

Best Regards,
Youliang

zhuyouliang12345@163.com

From: Chaya Stern
Date: 2019-09-11 06:50

[2019-09-12 01:20] arfon commented on #1469
/ooo until September 16

[2019-09-12 01:21] arfon commented on #1469
/ooo tomorrow until September 16

[2019-09-12 02:17] kczimm commented on #1676
Sorry, I'm unable to review this paper at this time.

[2019-09-12 04:02] zonca commented on #1721
## Installation

* missing requirement on `matplotlib` https://github.com/knaidoo29/mistree/issues/1
* package is not installable https://github.com/knaidoo29/mistree/issues/2

[2019-09-12 04:14] duetosymmetry commented on #1683
Update for @mattpitkin: I started building some comparison code between Berti's tables and my code. Unfortunately some of the differences |Berti - me| are greater than the error estimates that my package is reporting. So right now I'm not sure I can trust Emanuele's numbers for these automated tests.

[2019-09-12 05:02] mgymrek commented on #1643
@whedon check references

[2019-09-12 05:02] whedon commented on #1643
[code]

[2019-09-12 05:02] whedon commented on #1643
[code]

[2019-09-12 05:06] mgymrek commented on #1643
@ashleefv We are almost there, just a couple more steps. I have gone over the proof and have the following minor comments:

* "models that not easy" -> "models that are not easy"
* The Hindmarsh et al. reference I don't see a DOI in the proof

After fixing these, please make a Zenodo archive, ensuring the title + author list match that in the paper and that the version number is correct.

[2019-09-12 05:12] mgymrek commented on #1500
@AliYoussef96 I apologize for the delay in moving this forward. I have been waiting to hear back from the reviewer. Regardless of that I will update you with a decision by the end of this week.

[2019-09-12 06:03] Benjamin-Lee commented on #1500
Hi! I’ll get on this tomorrow. Sorry for the delay.

[2019-09-12 07:29] melund commented on #1466
Thanks @alcantarar.

@labarba, I can recommend DynaMo for acceptance.  Great work @abhishektha abhishektha

[2019-09-13 09:20] adambeall commented on #1700
Thank you for the opportunity to review. I have enjoyed trying out RHEOS and think that it is accessible, the examples hosted in the repository nicely demonstrate its functionality and the documentation is thorough. RHEOS should be useful for researchers from a range of disciplines teaching and forward modelling a variety of linear viscoelastic rheologies, as well as fitting experimental data (the

[2019-09-13 09:51] akabla commented on #1700
Thank you so much Adam for your support and all your input and comments throughout. We will address issue 43 very soon - you made a good point indeed, and it should be straight-forward to address.

[2019-09-13 11:35] dntrinca commented on #1588
@abhishekbajpayee @rlizzo @casperdcl Hello, is any of you willing to review this submission concerning a Windows program for tomography reconstruction? Best Regards, D Narcis

[2019-09-13 13:01] leouieda commented on #1511
Thank you @martibosch, the figure looks much better now :+1:

@Kevin-Mattheus-Moerman I believe all points have been addressed and we should be ready to move forward.

[2019-09-13 14:57] mozhgan-kch commented on #1611
Hi @Kevin-Mattheus-Moerman @jedbrown, I would need extra time for this as I was away on leave and will be in only this week. I'll try to sort this out next week. Cheers.

[2019-09-13 15:19] grlee77 commented on #1725
I have performed my initial review.

**Summary**

The Pypulseq software is a port of the Pulseq Matlab package to Python. This makes the Pulseq format for rapid sequence prototyping more readily available to sites without need for a commercial license. The authors also have used Python-based machine learning in combination with Pypulseq for novel sequence design. The overall goal is to have a tool

[2019-09-13 16:00] TrashBirdEcology commented on #1550
@kthyng We are ready to resume review. Thanks for your patience.

@whedon generate pdf

[2019-09-13 16:00] TrashBirdEcology commented on #1550
@whedon generate pdf

[2019-09-13 16:00] whedon commented on #1550
[code]

[2019-09-13 16:01] whedon commented on #1550
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01550/joss.01550/10.21105.joss.01550.pdf)

[2019-09-13 16:47] vc1492a commented on #1717
**Overview**: Of the JOSS reviews I have been a part of, this project has (to date) been the most well-documented and polished in terms of code readability and test coverage which is great to see. I think the author(s) did a good job on the software and in providing examples and documentation in order to get started easily. The software is easy to use and I have even shared the software with some

[2019-09-13 16:47] lpantano commented on #1673
Thank you @joelmiller, I contacted a couple of people as well, still no luck. I will keep trying.

[2019-09-13 18:26] sohrabtowfighi commented on #1675
@whedon generate pdf

[2019-09-13 18:26] whedon commented on #1675
[code]

[2019-09-13 18:26] sohrabtowfighi commented on #1675
I removed the word 'actually' from the paper.

[2019-09-13 18:26] whedon commented on #1675
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01675/joss.01675/10.21105.joss.01675.pdf)

[2019-09-13 19:54] danielskatz commented on #1674
👋 @linuxscout - Please let me know your comments on the changes described above

[2019-09-13 19:55] Kevin-Mattheus-Moerman commented on #1511
@martibosch thanks for making those changes.

[2019-09-13 19:58] Kevin-Mattheus-Moerman commented on #1632
@arfon this paper lacks a **References** heading. Should one be added?

[2019-09-13 20:02] Kevin-Mattheus-Moerman commented on #1511
@whedon check references

[2019-09-13 20:02] whedon commented on #1511
[code]

[2019-09-13 20:02] whedon commented on #1511
[code]

[2019-09-13 20:03] Kevin-Mattheus-Moerman commented on #1511
@whedon accept

[2019-09-13 20:03] whedon commented on #1511
[code]

[2019-09-13 20:04] whedon commented on #1511
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/962

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/962, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-13 20:09] Kevin-Mattheus-Moerman commented on #1511
@whedon accept deposit=true

[2019-09-13 20:09] whedon commented on #1511
[code]

[2019-09-13 20:10] whedon commented on #1511
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1172603505850408965) 👈 🐦🐦🐦

[2019-09-13 20:10] whedon commented on #1511
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/963
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01511](https://doi.org/10.21105/joss.01511)
2. If everything looks go

[2019-09-13 20:13] Kevin-Mattheus-Moerman commented on #1295
@jdkent It is okay that the Zenodo archived paper is different from this one. The purpose of the archive is to capture the software. Ping me here when you've implemented the changes.

[2019-09-13 20:21] whedon opened #1726 "[PRE REVIEW]: mbend: An R package for bending non-positive-definite matrices to positive-definite"
**Submitting author:** @nilforooshan (<a href="http://orcid.org/0000-0003-0339-5442">Mohammad Ali Nilforooshan</a>)
**Repository:** <a href="https://github.com/nilforooshan/mbend" target ="_blank">https://github.com/nilforooshan/mbend</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @nilforooshan. **Currently, ther

[2019-09-13 20:21] whedon commented on #1726
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-13 20:21] whedon commented on #1726
[code]

[2019-09-13 20:22] whedon commented on #1726
PDF failed to compile for issue #1726 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:199:in `parse_affiliations': undefined method `each' for "Livestock Improvement Corporation, Hamilton, New Zealand":String (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:185:in `parse_authors'
	from /app/v

[2019-09-13 20:29] Kevin-Mattheus-Moerman commented on #1726
@nilforooshan unfortunately the JOSS editorial board has determined this work, although useful, is not eligible for publication in JOSS as it is classified as a minor utility software (see [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements)).
We hope you consider JOSS for future more substantial research software.

[2019-09-13 20:29] #1726 closed

[2019-09-13 20:37] Kevin-Mattheus-Moerman commented on #1511
@arfon, still a 404 it seems, on the DOI. I'll check again later.

[2019-09-13 20:39] Kevin-Mattheus-Moerman commented on #1707
@mbobra :point_up: can you help here?

[2019-09-13 20:41] Kevin-Mattheus-Moerman commented on #1719
@soneson @mgymrek :point_up:

[2019-09-13 20:43] whedon opened #1727 "[PRE REVIEW]: FAT Forensics: A Python Toolbox for Implementing and Deploying Fairness, Accountability and Transparency Algorithms in Predictive Systems"
**Submitting author:** @So-Cool (<a href="http://orcid.org/0000-0002-9869-5896">Kacper Sokol</a>)
**Repository:** <a href="https://github.com/fat-forensics/fat-forensics" target ="_blank">https://github.com/fat-forensics/fat-forensics</a>
**Version:** 0.0.1
**Editor:** @arokem
**Reviewers:** @bernease,  @osolari

**Author instructions**

Thanks for submitting your paper to JOSS @So-Cool. **Current

[2019-09-13 20:43] whedon commented on #1727
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-13 20:43] whedon commented on #1727
[code]

[2019-09-13 20:43] whedon commented on #1727
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01727/joss.01727/10.21105.joss.01727.pdf)

[2019-09-13 20:45] Shibabrat commented on #1684
@JoshKarpel Yes, you are correct. Some (I point to those below) details of the methods can not be decoupled from the specific features of the problem. In particular, one such feature is a detailed knowledge of the bottleneck region of a potential energy surface (PES). For a given molecular system, the PES is the output of a quantum chemistry calculation and the results are highly dependent on the

[2019-09-13 20:48] bwoshea commented on #1636
@zingale @rtfisher just to give you a heads-up, we've addressed all of the issues you have raised but one, and that should be done in the next day or so.  We've left all off the PRs open so that you can see what has been changed, and all PRs and issues are cross-referenced.  We're ready for your feedback whenever you are available.

[2019-09-13 20:51] Kevin-Mattheus-Moerman commented on #1727
@VivianePons @arokem @terrytangyuan could one of you edit this one?

[2019-09-13 20:52] Kevin-Mattheus-Moerman commented on #1047
@whedon check references

[2019-09-13 20:52] whedon commented on #1047
[code]

[2019-09-13 20:53] whedon commented on #1047
[code]

[2019-09-13 20:56] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer looks good. We are ready for the next steps. Can you please:

- [ ] Can you deposit the release (version) of the reviewed software in Zenodo? Once you have archived the software there please report the DOI of the archived version here. Please ensure the authors and title on the Zenodo archive match those of the paper.
- [ ] Can you list the version number? (is it still v1.0 or has it c

[2019-09-13 20:58] whedon opened #1728 "[PRE REVIEW]: GKNAP: A Java and C++ package for solving the multidimensional knapsack problem"
**Submitting author:** @shah314 (<a href="http://orcid.org/0000-0002-3770-1391">Shalin S Shah</a>)
**Repository:** <a href="https://github.com/shah314/gamultiknapsack" target ="_blank">https://github.com/shah314/gamultiknapsack</a>
**Version:** v1.6
**Editor:** @arfon
**Reviewers:** @sjvrijn, @stulacy

**Author instructions**

Thanks for submitting your paper to JOSS @shah314. **Currently, there i

[2019-09-13 20:58] whedon commented on #1728
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-13 20:58] whedon commented on #1728
[code]

[2019-09-13 20:59] whedon commented on #1728
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01728/joss.01728/10.21105.joss.01728.pdf)

[2019-09-13 21:00] Kevin-Mattheus-Moerman commented on #1728
@poulson could be the editor for this one?

[2019-09-13 21:03] whedon opened #1729 "[PRE REVIEW]: Pybotics: Python Toolbox for Robotics"
**Submitting author:** @nnadeau (<a href="http://orcid.org/0000-0003-1220-0889">Nicholas A. Nadeau</a>)
**Repository:** <a href="https://github.com/nnadeau/pybotics" target ="_blank">https://github.com/nnadeau/pybotics</a>
**Version:** 0.7.1
**Editor:** @kyleniemeyer
**Reviewers:** @adi3, @CameronDevine

**Author instructions**

Thanks for submitting your paper to JOSS @nnadeau. **Currently, there

[2019-09-13 21:03] whedon commented on #1729
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-13 21:03] whedon commented on #1729
[code]

[2019-09-13 21:03] whedon commented on #1729
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01729/joss.01729/10.21105.joss.01729.pdf)

[2019-09-13 21:05] Kevin-Mattheus-Moerman commented on #1729
@labarba @kyleniemeyer can one of you take this one? I could take this but I've a lot on my plate at the moment so I'm hoping one of you can help. I'll help suggest reviewers though.

[2019-09-13 21:11] Kevin-Mattheus-Moerman commented on #1729
Perhaps reviewers from these:
https://github.com/openjournals/joss-reviews/issues/489
https://github.com/openjournals/joss-reviews/issues/500
https://github.com/openjournals/joss-reviews/issues/456

[2019-09-13 21:13] whedon opened #1730 "[PRE REVIEW]: Chaste: Cancer, Heart and Soft Tissue Environment"
**Submitting author:** @fcooper8472 (<a href="http://orcid.org/0000-0002-6221-4288">Fergus Cooper</a>)
**Repository:** <a href="https://github.com/Chaste/Chaste" target ="_blank">https://github.com/Chaste/Chaste</a>
**Version:** 2019.1
**Editor:** @meg-simula
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @fcooper8472. The JOSS editor @meg-simula, will wor

[2019-09-13 21:13] whedon commented on #1730
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @meg-simula it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently i

[2019-09-13 21:13] whedon commented on #1730
[code]

[2019-09-13 21:14] whedon commented on #1730
PDF failed to compile for issue #1730 with the following error:

 Can't find any papers to compile :-(

[2019-09-13 21:15] Kevin-Mattheus-Moerman commented on #1730
@arfon `whedon` can't find the paper. Should we instruct the authors to move it to a `paper` folder?

[2019-09-13 21:16] Kevin-Mattheus-Moerman commented on #1730
@meg-simula would you be the editor for this one?

[2019-09-13 21:30] shah314 commented on #1728
@whedon generate pdf

[2019-09-13 21:30] whedon commented on #1728
[code]

[2019-09-13 21:31] whedon commented on #1728
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01728/joss.01728/10.21105.joss.01728.pdf)

[2019-09-13 22:01] shah314 commented on #1728
@whedon generate pdf

[2019-09-13 22:01] whedon commented on #1728
[code]

[2019-09-13 22:02] whedon commented on #1728
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01728/joss.01728/10.21105.joss.01728.pdf)

[2019-09-13 22:04] zhampel commented on #1656
@ornlpmcp

**Paper**
I still think there needs to be work done on the paper. I think some statements are too general

    ... so many success stories in a wide range of areas, especially in industry.

What kind of success/metric for success are you describing, and why is that relevant to your code? Are you purporting to offer the same success?

And some need better wording, for example,

    Users

[2019-09-13 22:12] jrbourbeau commented on #1656
Apologies for the silence on my end, I'll submit review comments this weekend

[2019-09-13 22:24] sravan953 commented on #1725
@grlee77 Thank you for your comments, will work on them and revert. Have a nice weekend!

[2019-09-13 22:27] kyleniemeyer commented on #1729
@whedon assign @kyleniemeyer as editor

[2019-09-13 22:27] whedon commented on #1729
OK, the editor is @kyleniemeyer

[2019-09-13 23:58] hsezhiyan commented on #1524
Hello @mbobra,

Thanks for your suggestion. We believe we fixed the issue in:

- [for-ai/rl#29](https://github.com/for-ai/rl/pull/29)

Can you please confirm it compiles properly now?

[2019-09-14 04:25] arokem commented on #1727
Yeah - I can take this one.

[2019-09-14 04:25] arokem commented on #1727
@whedon assign @arokem as editor

[2019-09-14 04:25] whedon commented on #1727
OK, the editor is @arokem

[2019-09-14 04:28] arokem commented on #1727
@So-Cool : do you have any suggestions for potential reviewers?

[2019-09-14 04:29] arokem commented on #1727
👋 @ahurriyetoglu : would you be willing to review this submission for JOSS?

[2019-09-14 04:29] arokem commented on #1727
👋 @jkahn : would you be willing to review this submission for JOSS?

[2019-09-14 07:36] alex-konovalov commented on #1695
@dimpase in which case we can ask if anyone outside is interested to review it, I will be happy to assist reviewers with checking regression tests. @kaashif could you please adjust the output of the default package test - see diffs in https://travis-ci.org/gap-infra/gap-docker-pkg-tests-master-devel/jobs/584474552

[2019-09-14 09:27] hariradh commented on #1555
I cannot find any unit tests or API documentation. @jayten, could you please let me know if there are any.

Other than that, there should be at least one case like the LDC which needs more clearer documentation (like that provided above) to explain how to run a test case for validation.

[2019-09-14 11:56] RafalUrniaz commented on #1687
Hi @labarba,

Thank you for your essential comments. I am happy to announce that the paper was revised and updated as you suggested above. Please, find the new one in the paper folder at kmeRs git. I am looking forward to you suggestions after revision.

Best wishes,
Rafal.

[2019-09-14 11:57] RafalUrniaz commented on #1687
@whedon commands

[2019-09-14 11:57] whedon commented on #1687
Here are some things you can ask me to do:

[code]

[2019-09-14 11:58] RafalUrniaz commented on #1687
@whedon generate pdf

[2019-09-14 11:58] whedon commented on #1687
[code]

[2019-09-14 11:58] whedon commented on #1687
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01687/joss.01687/10.21105.joss.01687.pdf)

[2019-09-14 15:20] deniederhut commented on #1501
Thanks Prabhu! I've confirmed that the python requires works as expected.

@xuanxu this looks good to me!

[2019-09-14 17:31] nnadeau commented on #1729
Hi @kyleniemeyer , thanks for being the editor. I recommend the following people as reviewers:
- @mosteo
- @trallard
- @carlosjoseRG
- @CELavecchia
- @CameronDevine
- @jizecn
- @adi3
- @giodegas
- @jcarpent

[2019-09-14 17:41] ts-adi commented on #1729
@kyleniemeyer I can take this up

[2019-09-14 18:10] CameronDevine commented on #1729
I would also be willing to review this.

[2019-09-14 18:26] adi3 commented on #1729
Now commenting with the correct profile

[2019-09-14 21:18] bryanlimy commented on #1524
hi @mbobra I have just updated the DOI submission, please check if the paper.bib file is working properly. Thanks.

[2019-09-14 21:25] shah314 commented on #1728
@whedon @oesteban @hooman650 @sjvrijn could be reviewers (they have optimization, C++ and Java listed as their reviewer skills).

[2019-09-15 00:48] duetosymmetry commented on #1683
Update again: I was able to perform an offline comparison again Greg Cook's tabulated data, and the comparison is very good. Cook's data is on Zenodo, but I'm not going to make an online automated test based on this data, because his dataset is 1 gig. I will put automated testing of the data quality on the back burner for now until I come up with a good solution. I can build some regression tests,

[2019-09-15 03:13] lpantano commented on #1673
@whedon add @pholme as reviewer

[2019-09-15 03:13] whedon commented on #1673
OK, @pholme is now a reviewer

[2019-09-15 03:13] lpantano commented on #1673
@whedon start review

[2019-09-15 03:14] whedon opened #1731 "[REVIEW]: EoN (Epidemics on Networks), software for simulation, analytic approximation, and analysis of epidemics on networks"
**Submitting author:** @joelmiller (<a href="http://orcid.org/0000-0003-4426-0405">Joel Miller</a>)
**Repository:** <a href="https://github.com/springer-math/Mathematics-of-Epidemics-on-Networks" target ="_blank">https://github.com/springer-math/Mathematics-of-Epidemics-on-Networks</a>
**Version:** v1.1
**Editor:** @lpantano
**Reviewers:** @acolum, @pholme, @hagberg
**Archive:** <a href="https://d

[2019-09-15 03:14] whedon commented on #1673
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1731. Feel free to close this issue now!

[2019-09-15 03:14] whedon commented on #1731
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @acolum, @pholme it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2019-09-15 03:14] whedon commented on #1731
[code]

[2019-09-15 03:14] whedon commented on #1731
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01731/joss.01731/10.21105.joss.01731.pdf)

[2019-09-15 03:14] #1673 closed

[2019-09-15 05:50] prabhuramachandran commented on #1501
@deniederhut -- thank you and sorry I took so long to get to fixing the issue!

[2019-09-15 12:08] AliYoussef96 commented on #1500
Hi @Benjamin-Lee

I made changes in the main function and I believe this will solve the error.

https://github.com/AliYoussef96/BCAW-Tool/issues/12#issuecomment-531560160

[2019-09-15 15:23] JoshKarpel commented on #1684
@Shibabrat  When I see a block like https://github.com/WyLyu/UPOsHam/blob/master/diffcorr_UPOsHam2dof.py#L738 , it seems clear to me that this calculation is part of specifying the problem to be solved, and should be passed into the solver by the user. In that case it looks like the input parameters are `par`, `x0`, `x1`, and `phi_t1`, and the function should return the corrected `x0`.

If that me

[2019-09-15 18:37] ixjlyons commented on #1466
I also recommend accepting.

[2019-09-15 19:10] HaoZeke commented on #1700
@whedon check references

[2019-09-15 19:10] whedon commented on #1700
[code]

[2019-09-15 19:10] whedon commented on #1700
[code]

[2019-09-15 19:17] HaoZeke commented on #1701
@whedon check references

[2019-09-15 19:17] whedon commented on #1701
[code]

[2019-09-15 19:17] whedon commented on #1701
[code]

[2019-09-15 19:30] jedbrown commented on #1707
This is in my domain, but I should note possible CoI with authors before offering to edit:
1. I co-authored the jupyter4edu book with Michael last year (along with several other JOSS editors)
2. I have been funded by projects that included Ann (e.g., DOE FASTMath). I'm no longer directly funded by such projects, but I still collaborate with many members (though not directly with Ann).

[2019-09-15 19:40] shreyasbapat commented on #1718
Thanks @Kevin-Mattheus-Moerman ! @arfon Are there any updates? :smile:

[2019-09-15 20:19] katyhuff commented on #1461
@whedon set v0.3.2 as version

[2019-09-15 20:19] whedon commented on #1461
OK. v0.3.2 is the version.

[2019-09-15 20:19] katyhuff commented on #1461
@whedon set 10.5281/zenodo.3406703 as archive

[2019-09-15 20:19] whedon commented on #1461
OK. <a href="https://doi.org/10.5281/zenodo.3406703" target="_blank">10.5281/zenodo.3406703</a> is the archive.

[2019-09-15 20:22] katyhuff commented on #1461
@openjournals/joss-eics : I believe this is ready for your review

[2019-09-15 23:19] arfon commented on #1632
Good catch @Kevin-Mattheus-Moerman.

@richteague - could you please merge this small change to your paper? https://github.com/richteague/gofish/compare/master...arfon:patch-1

[2019-09-15 23:24] arfon commented on #1511
Looks like there was a minor issue with the paper (no affiliation index) which for some reason Whedon failed silently on. I've fixed this now.

[2019-09-15 23:24] #1511 closed

[2019-09-15 23:24] whedon commented on #1511
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01511/status.svg)](https://doi.org/10.21105/joss.01511)

**We need your help!**

Journal of Open Source Softwa

[2019-09-15 23:27] arfon commented on #1730
@whedon generate pdf

[2019-09-15 23:27] whedon commented on #1730
[code]

[2019-09-15 23:28] whedon commented on #1730
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01730/joss.01730/10.21105.joss.01730.pdf)

[2019-09-15 23:30] arfon commented on #1730
Sometimes Whedon doesn't find the paper on the first try...

[2019-09-16 00:54] brainstorm commented on #1708
@GullyAPCburns @gbader, please go ahead and review away ;)

https://joss.readthedocs.io/en/latest/review_checklist.html

[2019-09-16 03:56] arokem commented on #1727
@whedon assign @bernease as reviewer

[2019-09-16 03:56] whedon commented on #1727
OK, the reviewer is @bernease

[2019-09-16 06:29] putanowr commented on #1634
Hello,

I am sorry for the delayed answer. I have looked at the review guidelines as well as at the software and article itself.
I must say that I am very interested in you journal as the mission of it is something I also value much.

Regarding this particular review - after looking at all my duties and the fact that in two weeks I start new academic
year I have to say that I am available for revi

[2019-09-16 07:52] meg-simula commented on #1730
@Kevin-Mattheus-Moerman Sure, I'd be happy to.

[2019-09-16 07:52] meg-simula commented on #1730
@whedon assign meg-simula as editor

[2019-09-16 07:52] whedon commented on #1730
OK, the editor is meg-simula

[2019-09-16 08:34] meg-simula commented on #1730
Thanks @fcooper8472 for the submission! This looks very much ready for review. I'll reach out to reviewers, and get back to you.

[2019-09-16 08:37] meg-simula commented on #1730
Hi @finsberg, would you like to review this submission for JOSS? Feel free to take a look at our reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-09-16 08:40] finsberg commented on #1730
@meg-simula  Yes, I can review this submission.

[2019-09-16 08:49] Kevin-Mattheus-Moerman commented on #1634
@putanowr that is okay. Would you mind if I add you as reviewer anyway and we'll wait for your contribution mid-october? Thanks.

[2019-09-16 08:51] Kevin-Mattheus-Moerman commented on #1634
@whedon add @KedoKudo as reviewer

[2019-09-16 08:51] whedon commented on #1634
OK, @KedoKudo is now a reviewer

[2019-09-16 08:53] Kevin-Mattheus-Moerman commented on #1634
@whedon add @chennachaos as reviewer

[2019-09-16 08:53] whedon commented on #1634
OK, @chennachaos is now a reviewer

[2019-09-16 08:53] Kevin-Mattheus-Moerman commented on #1634
@whedon start review

[2019-09-16 08:53] whedon opened #1732 "[REVIEW]: Kanapy: A Python package for generating complex synthetic polycrystalline microstructures."
**Submitting author:** @mrgprasad (<a href="http://orcid.org/0000-0003-2546-0161">Mahesh R. G. Prasad</a>)
**Repository:** <a href="https://github.com/mrgprasad/kanapy" target ="_blank">https://github.com/mrgprasad/kanapy</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @heprom, @KedoKudo, @chennachaos
**Archive:** <a href="https://doi.org/10.5281/zenodo.3529591" target="_

[2019-09-16 08:53] whedon commented on #1634
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1732. Feel free to close this issue now!

[2019-09-16 08:53] whedon commented on #1732
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @heprom, @KedoKudo, @chennachaos it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'r

[2019-09-16 08:53] whedon commented on #1732
[code]

[2019-09-16 08:53] #1634 closed

[2019-09-16 08:54] whedon commented on #1732
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01732/joss.01732/10.21105.joss.01732.pdf)

[2019-09-16 08:55] Kevin-Mattheus-Moerman commented on #1732
@mrgprasad @heprom, @KedoKudo, @chennachaos :wave: this is where the review will take place. The instructions and the checklists at the top will guide you through the process. Let me know if you have questions. Let the reviewing begin :tada:

[2019-09-16 08:57] Kevin-Mattheus-Moerman commented on #1732
@putanowr now that I have 3 reviewers it is okay if you are not able to join us. The review has now started. However if you are keen to help and the review process is still ongoing mid-October (which is when you said you might have time over at https://github.com/openjournals/joss-reviews/issues/1634), I can still add you here.

[2019-09-16 08:58] putanowr commented on #1634
That's OK, please do so.

September 16, 2019 10:49 AM, "Kevin Mattheus Moerman" <notifications@github.com (mailto:%22Kevin%20Mattheus%20Moerman%22%20<notifications@github.com>)> wrote:
	@putanowr (https://github.com/putanowr) that is okay. Would you mind if I add you as reviewer anyway and we'll wait for your contribution mid-october? Thanks.

	—
You are receiving this because you were mentioned.

[2019-09-16 09:02] putanowr commented on #1732
Well, if you add me as sort of backu-reviewer I understand I will be notified about the raised issues. This might be helpful
as I can get more familiar with the whole issue and will have more incentive to look how the journal operates.
Of course if that not disturb the normal process in any way.

Regard,

Roman

September 16, 2019 10:57 AM, "Kevin Mattheus Moerman" <notifications@github.com (mailt

[2019-09-16 09:07] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer :wave: let me know if you have questions about depositing and archived version on Zenodo. Thanks

[2019-09-16 09:09] Kevin-Mattheus-Moerman commented on #1262
@ybayle can you respond to the issues raised by @patrikhuber, thanks.

[2019-09-16 09:10] meg-simula commented on #1730
Great @finsberg, thanks! I'll just find another reviewer before setting up the review.

[2019-09-16 09:10] meg-simula commented on #1730
@whedon assign @finsberg as reviewer

[2019-09-16 09:10] whedon commented on #1730
OK, the reviewer is @finsberg

[2019-09-16 09:59] leouieda commented on #1703
@jmansour I'm still trying to find a second reviewer for this. Sorry for the delay. I will be out of office until Sep 29 but will try to get this started as soon as possible.

[2019-09-16 09:59] leouieda commented on #1703
/ooo September 16 until September 29

[2019-09-16 10:03] Kevin-Mattheus-Moerman commented on #1676
@wanrenjie @rui1996 @ceciliavision Would you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)? This package implements (MATLAB/Octave) and compares several single image highlight removal methods. [The review process focuses](https://joss.readthedocs.io/en/latest/submitting.html#the-review-process) largely on [the software](https://github.com/vitorsr/SIHR) a

[2019-09-16 10:06] trallard commented on #1539
Hi everyone thanks for the ping! I will finalise this today's evening

[2019-09-16 10:08] trallard commented on #1680
Hi @AustinNar  apologies for the delay, the first thing we have to do is finding a couple of reviewers do you have someone in mind before moving forward?

If not you can check the list of reviewers at [https://bit.ly/joss-reviewers](https://bit.ly/joss-reviewers)
and see if there is anyone that would be suitable

[2019-09-16 10:09] trallard commented on #1517
Hi folks, just checking in to see how is the review moving? @alvarolopez

[2019-09-16 10:28] jayten commented on #1555
@hariradh
I will get back on your query in a few days. We are working on it.

[2019-09-16 10:37] xuanxu commented on #1501
Great, thanks @deniederhut & @prabhuramachandran!

[2019-09-16 10:37] xuanxu commented on #1501
@whedon generate pdf

[2019-09-16 10:37] whedon commented on #1501
[code]

[2019-09-16 10:38] whedon commented on #1501
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01501/joss.01501/10.21105.joss.01501.pdf)

[2019-09-16 10:43] jmansour commented on #1703
That's fine @leouieda. Thanks.

[2019-09-16 10:47] xuanxu commented on #1501
@whedon check references

[2019-09-16 10:47] whedon commented on #1501
[code]

[2019-09-16 10:48] whedon commented on #1501
[code]

[2019-09-16 10:52] xuanxu commented on #1501
Ok, everything looks good @prabhuramachandran, here are the next steps:
- Please make a new tagged release that includes all changes made during this review
- Archive that release in Zenodo
- Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also add your ORCID.

Once you do that please report here the version number and the Zenodo DOI.

[2019-09-16 11:06] duncanmmacleod commented on #1683
@duetosymmetry, apologies for the delay in reviewing this work.

Overall this looks very nice, I am particularly pleased with the minimal dependencies and the used of JIT compilation to cache outputs. I have posted the following issues to the target repo:

- https://github.com/duetosymmetry/qnm/issues/20
- https://github.com/duetosymmetry/qnm/issues/21

Once these are addressed (or plans drawn up

[2019-09-16 11:33] mattpitkin commented on #1683
@duetosymmetry thanks for your updates. If you could provide a script, and just a short description in the docs, of the offline comparison to a couple of cases in Greg Cook's data table that would satisfy me.

[2019-09-16 11:50] alvarolopez commented on #1517
@trallard I've fixed the missing DOI in several publications, under the `paper` branch.

[2019-09-16 12:56] HaoZeke commented on #1698
@whedon check references

[2019-09-16 12:56] whedon commented on #1698
[code]

[2019-09-16 12:56] whedon commented on #1698
[code]

[2019-09-16 13:49] arfon commented on #1718
@shreyasbapat - are there any folks you would suggest as potential reviewers here?

Also, before sending this out for review, it would be good if you could augment/extend the tests. The current automated tests look to be [very limited in scope](https://github.com/shreyasbapat/python-oifits/tree/master/src/oifits/tests).

[2019-09-16 13:50] arfon commented on #1718
@whedon assign @arfon as editor

[2019-09-16 13:50] whedon commented on #1718
OK, the editor is @arfon

[2019-09-16 13:58] arfon commented on #1461
@openjournals/joss-eics : I believe this is ready for your review

/ cc @kthyng

[2019-09-16 14:07] tesch1 commented on #1487
Hi @StewMH ,
I think I found the problem - it's because I'm requesting a static link of BLAS and for some reason ubuntu in particular doesnt automatically include pthreads.  There's a merge pending (pipeline needs to finish) to fix it, but in the meantime explicitly setting the blas library that cmake searches for should get you past this.  To try the workaround, add `-DBLA_VENDOR=OpenBLAS` to the

[2019-09-16 14:09] shreyasbapat commented on #1718
Definitely @arfon  I will do it in a day or two!

[2019-09-16 15:07] dntrinca commented on #1588
@usethedata @danielskatz  Hello, with this message I want to tell you that I withdraw my work from this journal..

[2019-09-16 15:09] danielskatz commented on #1588
I'm sorry to hear this, and that we didn't do a better job with this review.

[2019-09-16 15:11] #1588 closed

[2019-09-16 15:14] casperdcl commented on #1588
yes sorry I work more in PET and PET-MRI, and also prefer avoiding windows and avoiding matlab.

[2019-09-16 15:34] kthyng commented on #1461
Hi @haptork! A few items to wrap up your submission:

- [ ] The tagged version in the github repo is v0.3.4, the release version is v0.3.3, and the version just mentioned in this conversation (and listed at the top) is v0.3.2. Can you confirm the version and make these consistent?

Edits for paper:
 - [ ] pg. 2 paragraph 2: should "materials for fusion, 2018" be capitalized?
 - [ ] pg. 2 paragraph

[2019-09-16 15:54] whedon opened #1733 "[PRE REVIEW]: GraphColoring: A Java package for solving the graph coloring problem"
**Submitting author:** @shah314 (<a href="http://orcid.org/0000-0002-3770-1391">Shalin S Shah</a>)
**Repository:** <a href="https://github.com/shah314/graphcoloring" target ="_blank">https://github.com/shah314/graphcoloring</a>
**Version:** v1.1
**Editor:** @jedbrown
**Reviewers:** HaoZeke

**Author instructions**

Thanks for submitting your paper to JOSS @shah314. **Currently, there isn't an JOSS

[2019-09-16 15:54] whedon commented on #1733
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-16 15:54] whedon commented on #1733
[code]

[2019-09-16 15:54] kthyng commented on #1733
Hi @VivianePons! Could you edit this submission?

[2019-09-16 15:54] whedon commented on #1733
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01733/joss.01733/10.21105.joss.01733.pdf)

[2019-09-16 15:57] kthyng commented on #1733
@jedbrown Can you edit this submission?

[2019-09-16 16:01] shah314 commented on #1733
@whedon generate pdf

[2019-09-16 16:01] whedon commented on #1733
[code]

[2019-09-16 16:02] whedon commented on #1733
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01733/joss.01733/10.21105.joss.01733.pdf)

[2019-09-16 16:06] RuthAngus commented on #1469
@whedon generate pdf

[2019-09-16 16:06] whedon commented on #1469
[code]

[2019-09-16 16:07] whedon commented on #1469
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01469/joss.01469/10.21105.joss.01469.pdf)

[2019-09-16 16:11] whedon opened #1734 "[PRE REVIEW]: Larq: An Open-Source Library for Training Binarized Neural Networks"
**Submitting author:** @lgeiger (<a href="http://orcid.org/0000-0002-8697-9920">Lukas Geiger</a>)
**Repository:** <a href="https://github.com/larq/larq" target ="_blank">https://github.com/larq/larq</a>
**Version:** v0.7.1
**Editor:** @terrytangyuan
**Reviewers:** @sbrugman, @casperdcl, @EduPH

**Author instructions**

Thanks for submitting your paper to JOSS @lgeiger. **Currently, there isn't an

[2019-09-16 16:11] whedon commented on #1734
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-16 16:11] whedon commented on #1734
[code]

[2019-09-16 16:12] whedon commented on #1734
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01734/joss.01734/10.21105.joss.01734.pdf)

[2019-09-16 16:13] kthyng commented on #1734
Hi @terrytangyuan can you edit this submission?

[2019-09-16 16:14] terrytangyuan commented on #1734
@whedon assign @terrytangyuan as editor

[2019-09-16 16:14] whedon commented on #1734
OK, the editor is @terrytangyuan

[2019-09-16 16:15] terrytangyuan commented on #1734
@lgeiger if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2019-09-16 16:18] sixpearls commented on #1697
Hi @mbobra, any updates on reviewers? Is there any way we can help? Thanks!

[2019-09-16 16:21] whedon opened #1735 "[PRE REVIEW]: Shop-Solver: A framework for solving and benchmarking shop scheduling problems"
**Submitting author:** @KingZee (<a href="http://orcid.org/0000-0002-6478-3628">Abdelhakim Zakkari</a>)
**Repository:** <a href="https://github.com/KingZee/shop-solver" target ="_blank">https://github.com/KingZee/shop-solver</a>
**Version:** v1.2.0
**Editor:** @gkthiruvathukal
**Reviewers:** @nnadeau, @nthomasCUBE

**Author instructions**

Thanks for submitting your paper to JOSS @KingZee. **Curre

[2019-09-16 16:21] whedon commented on #1735
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-16 16:21] whedon commented on #1735
[code]

[2019-09-16 16:21] whedon commented on #1735
PDF failed to compile for issue #1735 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Alami Semma (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:141:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-

[2019-09-16 16:21] kthyng commented on #1735
Hi @poulson can you edit this submission?

[2019-09-16 16:22] whedon opened #1736 "[PRE REVIEW]: umami: A Python package for Earth surface dynamics objective function construction"
**Submitting author:** @kbarnhart (<a href="http://orcid.org/0000-0001-5682-455X">Katherine Barnhart</a>)
**Repository:** <a href="https://github.com/TerrainBento/umami" target ="_blank">https://github.com/TerrainBento/umami</a>
**Version:** v1.0.0
**Editor:** @meg-simula
**Reviewers:** @sgrieve, @tristan-salles

**Author instructions**

Thanks for submitting your paper to JOSS @kbarnhart. **Curre

[2019-09-16 16:22] whedon commented on #1736
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-16 16:22] whedon commented on #1736
[code]

[2019-09-16 16:22] whedon commented on #1736
PDF failed to compile for issue #1736 with the following error:

 Could not find bibliography file: papers.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-16 16:23] kthyng commented on #1736
Hi @leouieda can you edit this submission?

[2019-09-16 16:27] whedon opened #1737 "[PRE REVIEW]: ANCRTAdjust: An R package to adjust routine HIV testing data from antenatal care to reduce bias in estimating HIV prevalence trends"
**Submitting author:** @brittanyblouin (<a href="http://orcid.org/0000-0001-7447-7467">Brittany Blouin</a>)
**Repository:** <a href="https://github.com/brittanyblouin/ANCRTAdjust" target ="_blank">https://github.com/brittanyblouin/ANCRTAdjust</a>
**Version:** v0.1.0
**Editor:** @csoneson
**Reviewers:** @ellessenne, @seabbs

**Author instructions**

Thanks for submitting your paper to JOSS @brittan

[2019-09-16 16:27] whedon commented on #1737
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-16 16:27] whedon commented on #1737
[code]

[2019-09-16 16:28] kthyng commented on #1737
Hi @csoneson! Can you edit this submission?

[2019-09-16 16:28] whedon commented on #1737
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01737/joss.01737/10.21105.joss.01737.pdf)

[2019-09-16 16:33] kthyng commented on #1736
Hi @meg-simula! Could you edit this submission?

[2019-09-16 16:36] kthyng commented on #1697
Hi @sixpearls did you look through the list of volunteer reviewers to see if you could find any suggestions? [Here](https://bit.ly/joss-reviewers) is the list. Suggesting a handful is most helpful if possible since we need two and people aren't always available.

[2019-09-16 17:08] sixpearls commented on #1697
Hi @vissarion, @amritagos, @hugoledoux, @HaoZeke, @trp07, @sarats, would two of you be willing to act as reviewers for this JOSS submission on N-dimensional splines? The repository is https://github.com/kb-press/ndsplines/, if you would like to check it out

[2019-09-16 17:12] amritagos commented on #1697
Thanks for suggesting me. I'd be happy to review this.

[2019-09-16 17:15] HaoZeke commented on #1697
Sorry, I wouldn't be able to look this over this week, as I'm dealing with
a bit of backlog. If it's still around next week I'd be happy to look it
over then.

[2019-09-16 17:30] kyleniemeyer commented on #1729
Great, thanks @adi3 and @CameronDevine!

[2019-09-16 17:30] kyleniemeyer commented on #1729
@whedon add @adi3 as reviewer

[2019-09-16 17:30] whedon commented on #1729
OK, @adi3 is now a reviewer

[2019-09-16 17:30] kyleniemeyer commented on #1729
@whedon add @CameronDevine as reviewer

[2019-09-16 17:30] whedon commented on #1729
OK, @CameronDevine is now a reviewer

[2019-09-16 17:31] kyleniemeyer commented on #1729
@whedon start review

[2019-09-16 17:31] whedon opened #1738 "[REVIEW]: Pybotics: Python Toolbox for Robotics"
**Submitting author:** @nnadeau (<a href="http://orcid.org/0000-0003-1220-0889">Nicholas A. Nadeau</a>)
**Repository:** <a href="https://github.com/nnadeau/pybotics" target ="_blank">https://github.com/nnadeau/pybotics</a>
**Version:** 0.7.1
**Editor:** @kyleniemeyer
**Reviewer:** @adi3, @CameronDevine
**Archive:** <a href="https://doi.org/10.5281/zenodo.3464685" target="_blank">10.5281/zenodo.346

[2019-09-16 17:31] whedon commented on #1729
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1738. Feel free to close this issue now!

[2019-09-16 17:31] whedon commented on #1738
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adi3, @CameronDevine it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-16 17:31] whedon commented on #1738
[code]

[2019-09-16 17:31] whedon commented on #1738
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01738/joss.01738/10.21105.joss.01738.pdf)

[2019-09-16 17:31] kyleniemeyer commented on #1729
@nnadeau @adi3 @CameronDevine the review will take place over in #1738

[2019-09-16 17:31] #1729 closed

[2019-09-16 17:32] kyleniemeyer commented on #1738
👋 @nnadeau @adi3 @CameronDevine

[2019-09-16 17:46] tonigi commented on #1698
@HaoZeke made amendments according to suggestions. Also, regarding the "Functionality" point, added an explanation of the demo calculation and how the results compare with experimental ones. :)

[2019-09-16 17:48] rougier commented on #1517
Catching up. Would it be possible to have a (even minimal) set of unittests to check everything has been installed properly and is running as expected ?

[2019-09-16 17:54] HaoZeke commented on #1698
@tonigi Thanks for the very prompt resolution of all points raised. @labarba I am pleased to say that I have completed my review, and recommend this for publication.

[2019-09-16 18:05] jshermeyer commented on #1047
New version on Zenodo: https://zenodo.org/record/3418091
Version number is 1.2.0 which incorporates all the edits and comments from reviewer.  This version has also been pushed to pypi.

Thanks!

[2019-09-16 18:29] AustinNar commented on #1680
Hi @trallard no worries! Both @zfurnas and @mbod seem like good choices (background in R & Python and text analysis)

[2019-09-16 18:38] shreyasbapat commented on #1718
@whedon commands

[2019-09-16 18:38] whedon commented on #1718
Here are some things you can ask me to do:

[code]

[2019-09-16 18:55] RingoHHuang commented on #1620
Hi @cMadan @MLHale @adswa,

I've just tested Eyestream using my Gazepoint 60 Hz eye-tracker and can confirm its functionality. My review of this submission is complete, and I'm ready to approve it. Thanks @MLHale for your help in addressing my many installation and testing questions, and for amending the documentation accordingly. I think Eyestream will be a valuable addition to the eye-tracking d

[2019-09-16 19:30] zingale commented on #1636
It looks like all of my issues have been addressed via PRs.  Once those PRs are merged, I am happy with accepting.

[2019-09-16 19:51] KingZee commented on #1735
Hi! I think that problem would be on my side, I forgot to change the placeholder ORCID of my supervisor I kept while writing the article. I have updated it now, apologies for the issue.

[2019-09-16 20:18] sarats commented on #1697
I can review this.

[2019-09-16 20:19] katyhuff commented on #1461
Wow @kthyng sorry I missed all of these things (especially the version -- it's in my checklist, so I'm not at all sure how I missed it!) Thanks for your sharp eyes!

[2019-09-16 20:31] MLHale commented on #1620
@adswa @RingoHHuang @cMadan - Thanks again for your time and effort in the review. I really appreciate all of the testing and improvements.

[2019-09-16 21:03] shreyasbapat commented on #1718
@whedon generate pdf

[2019-09-16 21:03] whedon commented on #1718
[code]

[2019-09-16 21:04] whedon commented on #1718
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01718/joss.01718/10.21105.joss.01718.pdf)

[2019-09-16 21:14] shreyasbapat commented on #1718
@whedon generate pdf

[2019-09-16 21:14] whedon commented on #1718
[code]

[2019-09-16 21:15] whedon commented on #1718
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01718/joss.01718/10.21105.joss.01718.pdf)

[2019-09-16 21:18] shreyasbapat commented on #1718
I added tests.
And as I said earlier,

I am not sure what tags to look for in this case, so I will go with Data Science.
Here are my suggestions for potential reviewers: @jkahn @trallard

Thanks @arfon

[2019-09-16 22:14] labarba commented on #1698
@jrperilla — May I ask for an update on your review?

[2019-09-16 22:44] jrperilla commented on #1698
The Diffusion Coefficient Tool in VMD offers a simple and accessible method to glean diffusion coefficients from mean square displacement of a molecular species within a molecular dynamics trajectory. Given that diffusion coefficients computed from MD data can help to validate equilibration or otherwise detect the presence of bulk motions, this software is of particular interest to the computation

[2019-09-16 23:00] rtfisher commented on #1636
I am fine with accepting after merger as well.

[2019-09-16 23:03] bwoshea commented on #1636
@zingale @rtfisher thanks!

@rtfisher to clarify, there are two open issues that you raised (https://github.com/enzo-project/enzo-dev/issues/108 and https://github.com/enzo-project/enzo-dev/issues/109 ) - would you mind making a quick note saying you're OK with what we've done for those?

[2019-09-16 23:06] kthyng commented on #1047
Hi @jshermeyer! I see that the title in this submission and the zenodo archive just barely don't match... can you update the Zenodo archive to match exactly?

[2019-09-16 23:11] kthyng commented on #1735
@whedon generate pdf

[2019-09-16 23:11] whedon commented on #1735
[code]

[2019-09-16 23:12] whedon commented on #1735
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01735/joss.01735/10.21105.joss.01735.pdf)

[2019-09-16 23:16] kbarnhart commented on #1736
@whedon generate pdf

[2019-09-16 23:16] whedon commented on #1736
[code]

[2019-09-16 23:17] whedon commented on #1736
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01736/joss.01736/10.21105.joss.01736.pdf)

[2019-09-16 23:17] kthyng commented on #1550
Great! We're ready to continue then! Maybe we'll have better luck with reviewers' schedules now too...

@ethanwhite and @jhollist Would you be able to review this submission now that it is ready to go? As before, we'd ask for reviews in about the next 3 weeks or so.

[2019-09-16 23:20] whedon opened #1739 "[PRE REVIEW]: Economiccomplexity: Methods Used in the Economic Complexity Literature"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/pachamaltese/economiccomplexity" target ="_blank">https://github.com/pachamaltese/economiccomplexity</a>
**Version:** 0.2.1
**Editor:** @oliviaguest
**Reviewers:** @rickecon, @JohnCoene

**Author instructions**

Thanks for submitting your paper to JO

[2019-09-16 23:20] whedon commented on #1739
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-16 23:20] whedon commented on #1739
[code]

[2019-09-16 23:22] whedon commented on #1739
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01739/joss.01739/10.21105.joss.01739.pdf)

[2019-09-16 23:23] kthyng commented on #1739
Hi @pachamaltese! Can you explain a little bit more about the research application of your software? Please keep in mind in particular the [author guidelines](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). Thanks!

[2019-09-16 23:26] kbarnhart commented on #1736
@whedon generate pdf

[2019-09-16 23:26] whedon commented on #1736
[code]

[2019-09-16 23:27] RHagenson commented on #1645
@lpantano, I finished writing the beginner documentation (available at https://bio-ext.github.io/bio-go/) and the updated version number is [v1.1.3](https://github.com/bio-ext/bio-go/tree/v1.1.3).

[2019-09-16 23:27] whedon commented on #1736
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01736/joss.01736/10.21105.joss.01736.pdf)

[2019-09-16 23:38] kbarnhart commented on #1736
@kthyng thanks for working to find this an editor!

Some recommended reviewers:
@lheagy
@leouieda
@sgrieve
@dvalters
@tristan-salles

[2019-09-17 00:07] ianjonsen commented on #1691
Sorry @Kevin-Mattheus-Moerman, I am over-subscribed with review and editorial tasks at this time. I'm also not a Python programmer. Suggest you contact @jdpye and/or @mdsumner who might be able to at least direct you to potential expert reviewers in this domain. Best, Ian Jonsen

[2019-09-17 00:12] jhollist commented on #1550
Unfortunately, I am now on the hook for another JOSS review by end of Sep.  Sorry!!!

[2019-09-17 00:29] carsen-stringer commented on #1691
Sorry this is not my area of expertise

[2019-09-17 00:43] gbruer15 commented on #1700
I've finished my review and recommend accepting this submission, pending issue [#43](https://github.com/JuliaRheology/RHEOS.jl/issues/43). Other than that issue, the software's documentation is in a good, user-friendly state, and I believe this package is a very useful contribution to rheology.

[2019-09-17 01:43] mgymrek commented on #1643
Hi @ashleefv sorry for the delayed response, yes that is fine. You can now proceed with making the Zenodo archive. Thanks!

[2019-09-17 01:47] mgymrek commented on #1723
@nhejazi @ajank @road2stat @mikmaksi would either of you be willing to review this submission?

[2019-09-17 02:15] pachamaltese commented on #1739
Hi @kthyng! sure, this package is the only I've seen on CRAN, and amongst R packages, to explore bipartite relations used in Economic Complexity. This takes all the equations (i.e LaTeX equations) from The Atlas of Economic Complexity and related articles, to R functions that, in my opinion, are easy to use and may contribute to ease reproducibility in Social Sciences.
I've read that the functions

[2019-09-17 02:51] isaacvandor commented on #1691
What's the timeline for this? Out on a cruise, but could potentially review
when I get back.

--Isaac
On Mon, Sep 16, 2019, 17:30 carsen-stringer <notifications@github.com>
wrote:

[2019-09-17 03:17] nhejazi commented on #1723
Happy to review / co-review this package.

[2019-09-17 03:21] seanpue commented on #1717
@whedon generate pdf

[2019-09-17 03:21] whedon commented on #1717
[code]

[2019-09-17 03:22] whedon commented on #1717
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01717/joss.01717/10.21105.joss.01717.pdf)

[2019-09-17 04:25] seanpue commented on #1717
Thanks @vc1492a for your generous and helpful review!

I have made the following changes to the oode and documentation:
* Fixed installation issues (using your pull request)
* Added list of dependencies to docs/installation.rst under subsection "Required Modules"
* Added badge for supported Python versions to README.rst

I have also added references and made changes to the first paragraph of the p

[2019-09-17 04:54] mikmaksi commented on #1723
Happy to review / co-review as well

[2019-09-17 05:22] sgrieve commented on #1736
Hey. I'm happy to review this, but won't get a chance till later next week as our teaching term has just started and things have got really busy.

[2019-09-17 05:27] csoneson commented on #1737
@whedon assign @csoneson as editor

[2019-09-17 05:27] whedon commented on #1737
OK, the editor is @csoneson

[2019-09-17 05:35] csoneson commented on #1737
@alletsee, @dvanic, @ellessenne, @seabbs - would two of you be willing to review this submission for JOSS?

[2019-09-17 06:22] telegraphic commented on #1554
Hi @xuanxu, getting there: I'm waiting on a pull request to be reviewed/accepted that addresses a lot of the points raised. (One of the authors just finished their PhD so took some well-deserved time off)

[2019-09-17 06:25] ellessenne commented on #1737
I am happy to review it!

[2019-09-17 07:32] alvarolopez commented on #1517
@rougier unit tests do exist (https://github.com/indigo-dc/DEEPaaS/tree/master/deepaas/tests) with a coverage of about 80%. A full fledged testing is being done using Jenkins: https://jenkins.indigo-datacloud.eu/job/Pipeline-as-code/job/DEEPaaS/job/master/

[2019-09-17 07:33] alvarolopez commented on #1517
@whedon generate pdf

[2019-09-17 07:33] whedon commented on #1517
[code]

[2019-09-17 07:34] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-09-17 07:39] alvarolopez commented on #1517
@whedon generate pdf

[2019-09-17 07:39] whedon commented on #1517
[code]

[2019-09-17 07:40] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-09-17 07:43] HaoZeke commented on #1700
I have completed my review @jedbrown, and as soon as https://github.com/JuliaRheology/RHEOS.jl/issues/43 is closed satisfactorily, I recommend this for publication. RHEOS is very well documented and easily extensible, it's really well structured and addresses an existing gap in the rheology community. Glad to have been introduced to it, @akabla.

[2019-09-17 07:49] whedon commented on #1517
[code]

[2019-09-17 07:50] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-09-17 08:26] seabbs commented on #1737
Happy to review

[2019-09-17 08:28] rougier commented on #1517
@alvarolopez Yep. Sorry, I did not see them.

[2019-09-17 08:29] meg-simula commented on #1736
@kthyng Sure, I'd be happy to. Assigning myself.

[2019-09-17 08:29] meg-simula commented on #1736
@whedon assign meg-simula as editor

[2019-09-17 08:29] whedon commented on #1736
OK, the editor is meg-simula

[2019-09-17 08:29] rougier commented on #1517
@trallard @alvarolopez With that last point (unit tests) and the DOI correction I think the paper is ready to be published on my side.  Any news from @dangunter and @krother?

[2019-09-17 09:07] conradsnicta commented on #1631
@cMadan - in progress; I'll add comments as I go along

[2019-09-17 09:19] conradsnicta commented on #1631
@chand-lab @mailchand There seems to be a problem with the reference to OpenCV, which is listed as "Bradski, G. (2000). The OpenCV Library. Dr. Dobb’s Journal of Software Tools".  I can't seem to find the actual article.
* There is an apparent link listed at http://ftp.math.utah.edu/pub/tex/bib/dr-dobbs-2000.html#Bradski:2000:OL but following the link results in error 404.
* Searching https://www.

[2019-09-17 09:52] whedon commented on #1701
:wave: @HaoZeke, please update us on how your review is going.

[2019-09-17 10:13] csoneson commented on #1737
Great - thanks @ellessenne and @seabbs for accepting! (@alletsee, @dvanic - I hope we can get back to you for another review in the future!)

[2019-09-17 10:13] csoneson commented on #1737
@whedon assign @ellessenne as reviewer

[2019-09-17 10:13] whedon commented on #1737
OK, the reviewer is @ellessenne

[2019-09-17 10:14] csoneson commented on #1737
@whedon add @seabbs as reviewer

[2019-09-17 10:14] whedon commented on #1737
OK, @seabbs is now a reviewer

[2019-09-17 10:14] csoneson commented on #1737
@whedon start review

[2019-09-17 10:14] whedon opened #1740 "[REVIEW]: ANCRTAdjust: An R package to adjust routine HIV testing data from antenatal care to reduce bias in estimating HIV prevalence trends"
**Submitting author:** @brittanyblouin (<a href="http://orcid.org/0000-0001-7447-7467">Brittany Blouin</a>)
**Repository:** <a href="https://github.com/brittanyblouin/ANCRTAdjust" target ="_blank">https://github.com/brittanyblouin/ANCRTAdjust</a>
**Version:** v0.1.0
**Editor:** @csoneson
**Reviewer:** @ellessenne, @seabbs
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/60

[2019-09-17 10:14] whedon commented on #1737
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1740. Feel free to close this issue now!

[2019-09-17 10:15] whedon commented on #1740
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ellessenne, @seabbs it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-09-17 10:15] whedon commented on #1740
[code]

[2019-09-17 10:15] #1737 closed

[2019-09-17 10:15] whedon commented on #1740
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01740/joss.01740/10.21105.joss.01740.pdf)

[2019-09-17 10:16] csoneson commented on #1740
@ellessenne, @seabbs - this is where the review happens! Instructions are provided in the post above - don't hesitate to ping me if you have questions.

[2019-09-17 10:16] csoneson commented on #1740
@whedon check references

[2019-09-17 10:16] whedon commented on #1740
[code]

[2019-09-17 10:17] whedon commented on #1740
[code]

[2019-09-17 10:19] csoneson commented on #1740
@brittanyblouin - please have a look at the checklists above and make sure that all requested items are available in your submission - if not, you can add the already now! Please also add DOIs to the references in your submission.

[2019-09-17 10:23] danielskatz commented on #1674
👋 @linuxscout - Please let me know your comments on the changes described above
(last chance, then I'll assume this is ok with you based on your previous comments and your checking of all the items on your list)

[2019-09-17 10:36] alvarolopez commented on #1517
@whedon generate pdf from branch joss-paper

[2019-09-17 10:36] whedon commented on #1517
[code]

[2019-09-17 10:37] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-09-17 10:39] alvarolopez commented on #1517
@rougier I finally managed to get the correct DOIs being rendered, you can check the proofs here: https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf

[2019-09-17 10:46] arfon commented on #1718
:wave: @mwcraig @taldcroft - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-09-17 12:04] moustachio-belvedere commented on #1700
Many thanks from me too @adambeall @gbruer15 @HaoZeke for all your valuable feedback and being so efficient in working through everything. We are very grateful.

[2019-09-17 12:13] lpantano commented on #1645
@whedon start review

[2019-09-17 12:13] whedon opened #1741 "[REVIEW]: bio-go: A flexible tools Bioinformatics library"
**Submitting author:** @RHagenson (<a href="http://orcid.org/0000-0001-9750-1925">Ryan Hagenson</a>)
**Repository:** <a href="https://github.com/bio-ext/bio-go" target ="_blank">https://github.com/bio-ext/bio-go</a>
**Version:** v1.0.0
**Editor:** @lpantano
**Reviewer:** @kortschak, @will-rowe
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/7217d1ef147e05e94f323aa080d1042

[2019-09-17 12:13] whedon commented on #1645
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1741. Feel free to close this issue now!

[2019-09-17 12:13] whedon commented on #1741
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kortschak, @will-rowe it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-17 12:13] whedon commented on #1741
[code]

[2019-09-17 12:13] #1645 closed

[2019-09-17 12:13] whedon commented on #1741
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01741/joss.01741/10.21105.joss.01741.pdf)

[2019-09-17 12:24] mailchand commented on #1631
Thanks @conradsnicta ! I was trying to find a way to cite openCV and chose what has been recommended online :). We used all the online resources when we were programming with openCV.  Instead, what we will do is to use this reference

[Open CV book](https://s3.amazonaws.com/academia.edu.documents/32167394/OReilly_Learning_OpenCV.pdf?response-content-disposition=inline%3B%20filename%3DLearning_Open

[2019-09-17 12:26] ikarosilva commented on #1663
Hi @lheagy,

Posting here per per our discussion on conflict of interest waiver. I have worked with Dr. Patel for several months and  a year on a team at a start up in 2015. I hold him at a very high regards and as a trusted colleague. We also have a few publications in press. While I don't believe our relationship should affect my ability to review this work, I would like to disclose this informa

[2019-09-17 12:29] chand-lab commented on #1631
@whedon generate pdf

[2019-09-17 12:29] whedon commented on #1631
[code]

[2019-09-17 12:29] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-09-17 12:32] chand-lab commented on #1631
@whedon generate pdf

[2019-09-17 12:32] whedon commented on #1631
[code]

[2019-09-17 12:33] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-09-17 12:48] chand-lab commented on #1631
@whedon generate pdf

[2019-09-17 12:48] whedon commented on #1631
[code]

[2019-09-17 12:48] whedon commented on #1631
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01631/joss.01631/10.21105.joss.01631.pdf)

[2019-09-17 13:01] mgymrek commented on #1719
I can edit

[2019-09-17 13:02] mgymrek commented on #1719
@whedon assign @mgymrek as editor

[2019-09-17 13:02] whedon commented on #1719
OK, the editor is @mgymrek

[2019-09-17 13:04] mgymrek commented on #1719
@jsgalan @road2stat @nilesh-patil @vsoch would either of you be able to review this submission?

[2019-09-17 13:05] mgymrek commented on #1723
@whedon assign @nhejazi  as reviewer

[2019-09-17 13:05] whedon commented on #1723
OK, the reviewer is @nhejazi

[2019-09-17 13:05] mgymrek commented on #1723
@whedon add @mikmaksi  as reviewer

[2019-09-17 13:05] whedon commented on #1723
OK, @mikmaksi  is now a reviewer

[2019-09-17 13:06] mgymrek commented on #1723
Thanks @mikmaksi and @nhejazi! I will now start a review thread, where you can complete the review.

[2019-09-17 13:06] taldcroft commented on #1718
Yes, I would be happy to do the review.

[2019-09-17 13:06] mgymrek commented on #1723
@whedon start review

[2019-09-17 13:06] whedon opened #1742 "[REVIEW]: Bedtoolsr: An R package for genomic data analysis and manipulation"
**Submitting author:** @dphansti (<a href="http://orcid.org/0000-0003-2123-0051">Douglas Phanstiel</a>)
**Repository:** <a href="https://github.com/PhanstielLab/bedtoolsr.git" target ="_blank">https://github.com/PhanstielLab/bedtoolsr.git</a>
**Version:** v2.29.0-3
**Editor:** @mgymrek
**Reviewer:** @nhejazi , @mikmaksi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3509513" target="_blank">

[2019-09-17 13:06] whedon commented on #1723
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1742. Feel free to close this issue now!

[2019-09-17 13:06] whedon commented on #1742
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nhejazi , @mikmaksi  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-17 13:06] whedon commented on #1742
[code]

[2019-09-17 13:07] whedon commented on #1742
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01742/joss.01742/10.21105.joss.01742.pdf)

[2019-09-17 13:34] RHagenson commented on #1741
Note the version number under review should be [v1.1.3](https://github.com/bio-ext/bio-go/tree/v1.1.3) as v1.0.0 (as stated above) was prior to implementing pre-review comments.

[2019-09-17 14:02] xuanxu commented on #1724
@Juanlu001: Thanks for flagging this.

[2019-09-17 14:03] xuanxu commented on #1724
Hi @JonasKemmer,

After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our submission requirements. In particular, while the code seems useful, as currently written this is a script for particular data analysis task, but it falls foul of the not being software 'designed for maintainable extension', and we therefo

[2019-09-17 14:05] #1724 closed

[2019-09-17 14:18] jshermeyer commented on #1047
@kthyng Good catch, fixed.

[2019-09-17 14:54] So-Cool commented on #1727
Hi, from the provided list @sbrugman, @giodegas and @soroushj could be potential reviewers. More generally, anybody with a machine learning background and interest in algorithmic fairness, accountability and transparency will be a good fit.

[2019-09-17 14:59] Matt-pfz commented on #1713
@whedon generate pdf

[2019-09-17 14:59] whedon commented on #1713
[code]

[2019-09-17 15:00] whedon commented on #1713
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01713/joss.01713/10.21105.joss.01713.pdf)

[2019-09-17 15:09] Matt-pfz commented on #1713
@whedon generate pdf

[2019-09-17 15:10] whedon commented on #1713
[code]

[2019-09-17 15:10] whedon commented on #1713
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01713/joss.01713/10.21105.joss.01713.pdf)

[2019-09-17 15:28] jamesgrecian commented on #1691
Sorry @Kevin-Mattheus-Moerman I am unable to review at this time.

[2019-09-17 15:33] #1723 closed

[2019-09-17 15:34] jedbrown commented on #1700
@whedon generate pdf

[2019-09-17 15:34] whedon commented on #1700
[code]

[2019-09-17 15:34] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-17 15:46] jedbrown commented on #1733
@whedon assign jedbrown as editor

[2019-09-17 15:47] whedon commented on #1733
OK, the editor is jedbrown

[2019-09-17 15:52] jedbrown commented on #1733
@shah314 Could you please add a comparison with existing graph coloring capability (why would a practitioner use this software instead of others, and when should they choose others?) and address [community guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines) and automated testing?

[2019-09-17 15:55] meg-simula commented on #1736
Thanks, @kbarnhart  for the submission! This looks very much ready for review. I'll reach out to reviewers, and get back to you.

[2019-09-17 15:56] meg-simula commented on #1736
Thanks @sgrieve for volunteering! Next week is absolutely fine.

[2019-09-17 15:56] meg-simula commented on #1736
@whedon assign @sgrieve as reviewer

[2019-09-17 15:56] whedon commented on #1736
OK, the reviewer is @sgrieve

[2019-09-17 15:57] meg-simula commented on #1736
@lheagy Would you be interested and availble for reviewing this submission?

[2019-09-17 16:00] whedon commented on #1704
:wave: @dgursoy, please update us on how your review is going.

[2019-09-17 16:02] dgursoy commented on #1704
Hi @whedon. I haven't started yet and plan to work it on next week.

[2019-09-17 16:14] shah314 commented on #1733
@whedon generate pdf

[2019-09-17 16:14] whedon commented on #1733
[code]

[2019-09-17 16:14] whedon commented on #1733
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01733/joss.01733/10.21105.joss.01733.pdf)

[2019-09-17 16:15] brittanyblouin commented on #1740
@csoneson - I have added the DOIs to the references.

[2019-09-17 16:16] shah314 commented on #1733
@whedon generate pdf

[2019-09-17 16:16] whedon commented on #1733
[code]

[2019-09-17 16:17] whedon commented on #1733
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01733/joss.01733/10.21105.joss.01733.pdf)

[2019-09-17 16:17] haptork commented on #1461
The zenodo archive version for the DOI I mentioned is 0.3.2 (in its metadata) which corresponds to: https://github.com/haptork/csaransh/releases/tag/v0.3.2. Please ignore the later two versions in the GitHub repo. Sorry for the confusion.

Thank you. Corrected.

Thank you. Added _the_ and removed preprint from the sentence. The paper is in communication in a peer reviewed journal.

Thanks. Correct

[2019-09-17 16:21] shah314 commented on #1733
@jedbrown Thank you. I am working on it. About community guidelines, where do I add them? I think the repository is open for anyone to contribute and add issues, pull requests etc. I will add tests in a day or two.

[2019-09-17 16:31] kthyng commented on #1550
ha, ok thanks @jhollist.

@ha0ye would you be able to review this submission? I asked you previously but now time has passed so maybe you are available.

[2019-09-17 16:58] jedbrown commented on #1733
Usually people say something about support channels and expectations in their README and add [CONTRIBUTING.md](https://help.github.com/en/articles/setting-guidelines-for-repository-contributors) and possibly a code of conduct. See also the [Community tab](https://github.com/shah314/graphcoloring/community) for your project.

[2019-09-17 17:02] smangham commented on #1315
I can confirm my name and affiliation, my ORCID is 0000-0001-7511-5652. Apologies for the delay and thanks for handling this @sauln!

[2019-09-17 17:17] ha0ye commented on #1550
I think I can find the time over the next 3-4 weeks.

As a heads up though, I'm in the same lab as @ethanwhite, and we have our own project that includes a component that processes data (including BBS). Also, I know @TrashBirdEcology personally, and we have collaborated on work in the past.

I don't think those are substantial obstacles to my providing a constructive review; the overlap with @etha

[2019-09-17 17:43] shah314 commented on #1733
@jedbrown I have added community guidelines, a code of conduct and a test case to test the code. Since this is java code, it has to be compiled, so a Java compiler is a requirement. I have added a tests folder and a test.sh script which will compile the code and run a test. Please see if you are able to run this script. I also added a README to the tests folder.

[2019-09-17 18:36] mwcraig commented on #1718
Yes, I am also happy to review.

[2019-09-17 18:42] shah314 commented on #1733
@jedbrown I have also made some changes to the paper with some motivation on why a heuristic might be preferred to an exact algorithm (like branch and cut).

[2019-09-17 18:45] pachamaltese commented on #1739
fixing wrong bib entry from plos one
@whedon generate pdf

[2019-09-17 18:46] pachamaltese commented on #1739
@whedon generate pdf

[2019-09-17 18:46] whedon commented on #1739
[code]

[2019-09-17 18:47] whedon commented on #1739
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01739/joss.01739/10.21105.joss.01739.pdf)

[2019-09-17 18:49] vsoch commented on #1719
I'm actually on a trip so I am not!

[2019-09-17 19:11] KingZee commented on #1735
Maybe I can suggest some reviewers? @PrashantVaidyanathan @soroushj @rljacobson @dvberkel seem like potential good fits.

[2019-09-17 19:19] kthyng commented on #1687
Now that those changes have been made, it looks like we can move forward.

@csoneson could you edit this submission?

[2019-09-17 19:39] kthyng commented on #1707
Thanks @jedbrown.   @mbobra could you edit this instead?

[2019-09-17 19:40] csoneson commented on #1687
@whedon assign @csoneson as editor

[2019-09-17 19:40] whedon commented on #1687
OK, the editor is @csoneson

[2019-09-17 19:40] KingZee commented on #1735
Maybe I can suggest some reviewers?
@PrashantVaidyanathan
@soroushj
@rljacobson
@dvberkel
@louiseadennis
@nthomasCUBE
@nnadeau
@hainesr
@nkratzke
@nuest
all seem like potential good fits.

[2019-09-17 19:41] kthyng commented on #1728
Hi @usethedata! Could you edit this submission? It may not be your exact expertise, but it'd be great if you could take it on.

[2019-09-17 19:41] csoneson commented on #1687
@coughls, @VivekTodur, @jlincbio - would two of you be willing to review this submission for JOSS?

[2019-09-17 19:47] kthyng commented on #1739
Thanks @pachamaltese for the extra information.

@oliviaguest This is outside your main expertise, but would you be willing to edit this submission?

[2019-09-17 19:48] kthyng commented on #1713
Hi @trallard! I see you work in biomechanics. Could you edit this submission?

[2019-09-17 19:48] kthyng commented on #1735
Thanks @KingZee for the suggestions.

@gkthiruvathukal Would you be able to edit this submission?

[2019-09-17 19:52] kthyng commented on #1550
Thanks @ha0ye, makes sense that just you or @ethanwhite would be reviewers. Hopefully we can hear about @ethanwhite about his availability.

@mstrimas, @SaraVarela, or @sebpardo are you interested and available to do a review on this JOSS submission? We ask for reviews within about 3 weeks, and you can get more information here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

[2019-09-17 19:53] kthyng commented on #1047
@whedon set <v1.2.0> as version

[2019-09-17 19:53] whedon commented on #1047
OK. <v1.2.0> is the version.

[2019-09-17 19:57] kthyng commented on #1047
@whedon set 10.5281/zenodo.3418091 as archive

[2019-09-17 19:57] whedon commented on #1047
OK. <a href="https://doi.org/10.5281/zenodo.3418091" target="_blank">10.5281/zenodo.3418091</a> is the archive.

[2019-09-17 20:10] kthyng commented on #1047
@jshermeyer:
Edits for paper:
- [ ] Spacing issues throughout. Make sure there are spaces next to parentheses, this is coming up around references mostly but other times too.
- [ ] ROI is used before being defined
- [ ] obligatory spelled wrong first page 2nd paragraph
- [ ] Figure 3 caption appears to be set up incorrectly.
- [ ] The line above Figure 3: What is this? Is it trying to link to its

[2019-09-17 20:26] kthyng commented on #1047
Another edit, @jshermeyer: your citation e-sensing/sits:2018 is not formatted correctly. In particular at least the authors in the author list need to be separated by "and" as in your other entries. There may be other problems too, but you can see in your reference list and when you cite it inline that it is not working correctly.

[2019-09-17 20:34] yangkcatiu commented on #1706
👋@arokem @mkearney hi, we believe we have addressed the issue raised in last round of review, but haven't got any feedback for a while. We are wondering what's holding the reviewing process. Please let us know what we can do!

[2019-09-17 20:38] arokem commented on #1706
@mkearney, @nkratzke : could you please take a look when you get a chance? Were your previous comments addressed through these revisions?

[2019-09-17 20:42] arfon commented on #1718
@whedon assign @arfon as editor

[2019-09-17 20:42] whedon commented on #1718
OK, the editor is @arfon

[2019-09-17 20:42] arfon commented on #1718
@whedon add @taldcroft as reviewer

[2019-09-17 20:42] whedon commented on #1718
OK, @taldcroft is now a reviewer

[2019-09-17 20:42] arfon commented on #1718
@whedon add @mwcraig as reviewer

[2019-09-17 20:42] whedon commented on #1718
OK, @mwcraig is now a reviewer

[2019-09-17 20:42] arfon commented on #1718
@whedon start review

[2019-09-17 20:42] whedon opened #1743 "[REVIEW]: oifits : A Python Package to Analyse EHT Data"
**Submitting author:** @shreyasbapat (<a href="http://orcid.org/0000-0002-0870-4665">Shreyas Bapat</a>)
**Repository:** <a href="https://github.com/shreyasbapat/python-oifits" target ="_blank">https://github.com/shreyasbapat/python-oifits</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewer:** @taldcroft, @mwcraig
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/616d14418

[2019-09-17 20:42] whedon commented on #1718
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1743. Feel free to close this issue now!

[2019-09-17 20:42] whedon commented on #1743
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @taldcroft, @mwcraig it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-09-17 20:42] whedon commented on #1743
[code]

[2019-09-17 20:43] whedon commented on #1743
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01743/joss.01743/10.21105.joss.01743.pdf)

[2019-09-17 20:43] arfon commented on #1718
@taldcroft, @mwcraig, @shreyasbapat - see you over in #1743 where the actual review will take place.

[2019-09-17 20:43] #1718 closed

[2019-09-17 20:43] jdkent commented on #1295
@arokem could you check this [pull request](https://github.com/HBClab/NiBetaSeries/pull/206/files) to make sure I covered the above points? Thanks!

[2019-09-17 20:43] arfon commented on #1743
@taldcroft, @mwcraig - many thanks for agreeing to review this submission!

Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-09-17 21:14] jedbrown commented on #1733
Thanks. In terms of comparison, I was thinking in terms of existing software such as [ColPack](https://cscapes.cs.purdue.edu/coloringpage/software.htm), the classic MINPACK methods ([largest first](https://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/MatOrderings/MATCOLORINGLF.html#MATCOLORINGLF), [smallest last](https://www.mcs.anl.gov/petsc/petsc-current/docs/manualpages/MatOrderings/MAT

[2019-09-17 21:50] gkthiruvathukal commented on #1735
Hi @kthyng, yes, I can handle it. I am just returning from a long period of travel and have some other assignments in front of this one, but I should be able to get rolling on it by the weekend.

[2019-09-17 22:19] arfon commented on #1728
@kthyng - I can take this one.

[2019-09-17 22:19] arfon commented on #1728
@whedon assign @arfon as editor

[2019-09-17 22:19] whedon commented on #1728
OK, the editor is @arfon

[2019-09-17 22:20] arfon commented on #1728
:wave: @oesteban @hooman650 @sjvrijn - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-09-17 22:25] arfon commented on #1375
It's been more than four months since we last heard from the submitting author. I'm therefore going to assume they are no longer interested in pursuing this publication and withdraw the submission on their behalf.

@hfriel69 - we'd welcome a re-submission in the future if you're able to address @katyhuff's feedback here.

[2019-09-17 22:25] #1375 closed

[2019-09-17 22:29] arfon commented on #693
@jedbrown - it sounds like this submission still needs substantial work before we can move to review. At this point perhaps we should close this submission and leave open the possibility for @wandreopoulos to resubmit in the future once they've addressed your feedback?

[2019-09-17 22:34] rtfisher commented on #1636
Thank you, @bwoshea. Sorry for the delayed response -- I was serving on a panel today.

I concur that the issues are now resolved, and have closed both.

[2019-09-17 22:36] jedbrown commented on #693
Agreed, I have no objection to closing with opportunity to resubmit.

[2019-09-17 22:36] #693 closed

[2019-09-17 22:41] shah314 commented on #1733
@jedbrown Thanks. As far as I can see, ColPack does not publish benchmarks on publicly available data sets. The other references you cited all use their own data which are not publicly available. The paper I have cited uses publicly available benchmarks (like fpsol, myciel and queen) which can be verified easily. So, I'm not sure how to compare. I will keep looking. Thanks.

[2019-09-17 22:44] jlincbio commented on #1687
Sure, I'm in.

[2019-09-17 22:48] oesteban commented on #1728
Sorry, I'm not familiar enough with the topic. Thanks for pinging me.

[2019-09-17 22:50] jedbrown commented on #1733
These are open source packages that implement graph coloring as part of solving higher level problems. It should be straightforward to run on existing data sets. (Thousands of people use these implementations every day, but I have not seen their results on the benchmarks you mention.)

Note that your CMU link has an invalid certificate. Perhaps you can ask the owners to fix that.

[2019-09-17 22:51] gonsie commented on #1716
Hi,

Do I understand pakman correctly:

It would be helpful to have some more comprehensive documentation around the pakman options. That is, it would be nice for the `--help` text to appear somewhere in the web documentation so that the user could get a sense of what arguments are required for the different masters and controllers.

Do you have any examples / performance numbers of this working o

[2019-09-18 02:48] ashleefv commented on #1643
@whedon generate pdf

[2019-09-18 02:48] whedon commented on #1643
[code]

[2019-09-18 02:49] whedon commented on #1643
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01643/joss.01643/10.21105.joss.01643.pdf)

[2019-09-18 02:52] ashleefv commented on #1643
@whedon check references

[2019-09-18 02:52] whedon commented on #1643
[code]

[2019-09-18 02:52] whedon commented on #1643
[code]

[2019-09-18 03:03] VivekTodur commented on #1687
Hello,

Yes, I would be interested.

Regards,
Vivek

On Wed, 18 Sep 2019, 1:11 am Charlotte Soneson, <notifications@github.com>
wrote:

[2019-09-18 03:12] katyhuff commented on #1704
Thank you @dgursoy !

[2019-09-18 03:55] linuxscout commented on #1674
Hi,
I think it okay for updates.
Thanks.

[2019-09-18 05:14] csoneson commented on #1687
@jlincbio, @VivekTodur - thanks a lot! I'll get the review issue started.

[2019-09-18 05:14] csoneson commented on #1687
@whedon assign @jlincbio as reviewer

[2019-09-18 05:14] whedon commented on #1687
OK, the reviewer is @jlincbio

[2019-09-18 05:14] csoneson commented on #1687
@whedon add @VivekTodur as reviewer

[2019-09-18 05:14] whedon commented on #1687
OK, @VivekTodur is now a reviewer

[2019-09-18 05:14] csoneson commented on #1687
@whedon start review

[2019-09-18 05:14] whedon opened #1744 "[REVIEW]: kmeRs : K-Mers Similarity Score Matrix"
**Submitting author:** @RafalUrniaz (<a href="http://orcid.org/0000-0003-0192-2165">Rafal Urniaz</a>)
**Repository:** <a href="https://github.com/RafalUrniaz/kmeRs" target ="_blank">https://github.com/RafalUrniaz/kmeRs</a>
**Version:** 1.1.0
**Editor:** @csoneson
**Reviewer:** @jlincbio, @VivekTodur
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/526c6ebaa0efd0716f08b77a7

[2019-09-18 05:15] whedon commented on #1744
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jlincbio, @VivekTodur it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-18 05:15] whedon commented on #1687
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1744. Feel free to close this issue now!

[2019-09-18 05:15] whedon commented on #1744
[code]

[2019-09-18 05:15] #1687 closed

[2019-09-18 05:15] whedon commented on #1744
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01744/joss.01744/10.21105.joss.01744.pdf)

[2019-09-18 05:15] csoneson commented on #1744
@jlincbio, @VivekTodur - this is where the review happens! Instructions are available in the post above - don't hesitate to ping me if you have questions!

[2019-09-18 05:16] csoneson commented on #1744
@RafalUrniaz - please take a look at the checklists above and make sure that all required items are available in your submission. If not, you can already add them now, to facilitate the review process.

[2019-09-18 05:16] csoneson commented on #1744
@whedon check references

[2019-09-18 05:16] whedon commented on #1744
[code]

[2019-09-18 05:17] whedon commented on #1744
[code]

[2019-09-18 06:00] danielskatz commented on #1674
👋 @TomDonoghue - to finish up now, I need you to

1. deposit the repository in an archive (e.g. zenodo) and to report the DOI here
1. tell me the latest version number here
1. confirm that the paper text and references are final

[2019-09-18 06:00] danielskatz commented on #1674
@whedon generate pdf

[2019-09-18 06:00] whedon commented on #1674
[code]

[2019-09-18 06:01] whedon commented on #1674
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01674/joss.01674/10.21105.joss.01674.pdf)

[2019-09-18 06:01] danielskatz commented on #1674
@whedon check references

[2019-09-18 06:01] whedon commented on #1674
[code]

[2019-09-18 06:02] whedon commented on #1674
[code]

[2019-09-18 06:06] danielskatz commented on #1636
The next steps will be
1. The authors (@bwoshea) to make any remaining changes (sorry, I can't easily tell if there's more to do or if you've already done this because the PRs didn't reference this review thread) and saying that they are done here.
1. The reviewers (@zingale and @rtfisher) to confirm that they are satisfied by checking off the remaining items in their review checklists above and b

[2019-09-18 06:21] jlincbio commented on #1744
I have some comments about the software and documentation - can I just paste them here?

[2019-09-18 07:03] jlincbio commented on #1744
Comments:

### Functionality
#### Installation
* The `devtools` package in R is not typically installed by default; I would suggest users to install via a tarball release using `R CMD INSTALL` instead, or add a comment about `devtools`.
* I am not sure where this comment really should go, but the two dependencies, `tcR` and `rDNAse`, require way too many other dependencies that are unrelated to th

[2019-09-18 07:11] nkratzke commented on #1706
@arokem My points have been addressed.

[2019-09-18 07:12] nkratzke commented on #1706
I am fine with the revisions.

[2019-09-18 07:19] sjvrijn commented on #1728
@arfon Sure, I can help out with a review

[2019-09-18 07:53] oliviaguest commented on #1739
@kthyng yes, no problem. 😊

[2019-09-18 08:17] mbobra commented on #1524
@whedon check references

[2019-09-18 08:17] whedon commented on #1524
[code]

[2019-09-18 08:18] whedon commented on #1524
[code]

[2019-09-18 08:19] mbobra commented on #1524
@whedon generate pdf

[2019-09-18 08:19] whedon commented on #1524
[code]

[2019-09-18 08:19] whedon commented on #1524
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01524/joss.01524/10.21105.joss.01524.pdf)

[2019-09-18 08:52] OttaviaE commented on #1600
Hey @alexhanna do I need to find myself another reviewer or will you take care of that?

[2019-09-18 09:52] mbobra commented on #1524
@bryanlimy Ah, I figured out why the references section is messed up. Can you please remove the tick marks? E.g. change
[code]

to `@liang:2017` to produce Liang et al. (2017) or `[@Liang:2017]` to produce (Liang et al., 2017). I see that our documentation on this is a bit confusing -- sorry about that. Sorry that this last bit has taken a while, we're almost there 🌴

[2019-09-18 09:55] mbobra commented on #1675
@sohrabtowfighi We're almost there! Could you please go ahead and [create a new release](https://help.github.com/en/articles/creating-releases) that incorporates all of these fixes?  And can you please [archive your release on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI and then put the Zenodo badge in your README.md file? After that I think we're done 🎉

[2019-09-18 09:56] mbobra commented on #1675
Thank you for your review, @SirSharpest! We really appreciate it 👏

[2019-09-18 10:07] mbobra commented on #1697
Thank you for volunteering to review @amritagos and @sarats! We really appreciate it ☀️

[2019-09-18 10:08] mbobra commented on #1697
@whedon assign @amritagos as reviewer

[2019-09-18 10:08] whedon commented on #1697
OK, the reviewer is @amritagos

[2019-09-18 10:08] mbobra commented on #1697
@whedon add @sarats as reviewer

[2019-09-18 10:08] whedon commented on #1697
OK, @sarats is now a reviewer

[2019-09-18 10:08] mbobra commented on #1697
@whedon start review

[2019-09-18 10:08] whedon opened #1745 "[REVIEW]: ndsplines: A Python Library for Tensor-Product B-Splines of Arbitrary Dimension"
**Submitting author:** @sixpearls (<a href="http://orcid.org/0000-0001-5602-1888">Benjamin Margolis</a>)
**Repository:** <a href="https://github.com/kb-press/ndsplines/" target ="_blank">https://github.com/kb-press/ndsplines/</a>
**Version:** 0.1.1
**Editor:** @mbobra
**Reviewer:** @amritagos, @sarats
**Archive:** <a href="https://doi.org/10.5281/zenodo.3516465" target="_blank">10.5281/zenodo.3516

[2019-09-18 10:08] whedon commented on #1697
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1745. Feel free to close this issue now!

[2019-09-18 10:08] whedon commented on #1745
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amritagos, @sarats it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-09-18 10:08] whedon commented on #1745
[code]

[2019-09-18 10:08] #1697 closed

[2019-09-18 10:09] whedon commented on #1745
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01745/joss.01745/10.21105.joss.01745.pdf)

[2019-09-18 10:10] mbobra commented on #1697
@amritagos @sarats You can complete your review over on [this thread](https://github.com/openjournals/joss-reviews/issues/1745)! Please let me know if you have any questions.

[2019-09-18 10:18] amritagos commented on #1745
@whedon check references

[2019-09-18 10:18] whedon commented on #1745
[code]

[2019-09-18 10:18] whedon commented on #1745
[code]

[2019-09-18 10:36] pySRURGS commented on #1675
Done. Thanks!
https://zenodo.org/badge/latestdoi/200314164

[2019-09-18 10:44] will-rowe commented on #1741
Hi @RHagenson!

I've just done my review and have filed it as an issue over at the [repo](https://github.com/bio-ext/bio-go/issues/5). Please let me know if you need anything clarifying.

Cheers,

Will

[2019-09-18 10:56] arfon commented on #1728
@whedon add @sjvrijn as reviewer

[2019-09-18 10:56] whedon commented on #1728
OK, @sjvrijn is now a reviewer

[2019-09-18 10:56] arfon commented on #1728
Thanks @sjvrijn - I'll start the main review issue (the one with checklists) once I've found a second review. Thanks in advance for helping out!

[2019-09-18 11:01] moustachio-belvedere commented on #1700
Thank you also very much @jedbrown for editing. Hopefully you are satisfied with everything so far, and please do let us know any next steps that we might need to take.

[2019-09-18 12:49] arokem commented on #1706
@nkratzke : could you please check the boxes at the top of this issue?

[2019-09-18 12:52] nkratzke commented on #1706
@arokem OK, I did.

[2019-09-18 12:53] arokem commented on #1295
@whedon render pdf

[2019-09-18 12:54] arokem commented on #1295
@whedon generate pdf

[2019-09-18 12:54] whedon commented on #1295
[code]

[2019-09-18 12:54] lgeiger commented on #1734
@terrytangyuan Thanks for being our editor.

Judging from the list of people, it seams like @EduPH, @shreyasbapat, @sbrugman, @soroushj or @casperdcl might be a good fit?

[2019-09-18 12:55] whedon commented on #1295
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01295/joss.01295/10.21105.joss.01295.pdf)

[2019-09-18 12:57] arokem commented on #1295
Oh - of course I don't see these changes in the PDF. They're on a separate branch.

[2019-09-18 12:59] arokem commented on #1295
Looks alright to me.

[2019-09-18 13:01] sbrugman commented on #1734
Thanks, I'm willing to review.

[2019-09-18 13:11] EduPH commented on #1734
I could if needed :)

[2019-09-18 13:17] casperdcl commented on #1734
can review too

[2019-09-18 13:24] terrytangyuan commented on #1734
@whedon assign @sbrugman as reviewer

[2019-09-18 13:24] whedon commented on #1734
OK, the reviewer is @sbrugman

[2019-09-18 13:24] terrytangyuan commented on #1734
@whedon add @casperdcl as reviewer

[2019-09-18 13:24] whedon commented on #1734
OK, @casperdcl is now a reviewer

[2019-09-18 13:24] terrytangyuan commented on #1734
@whedon add @EduPH as reviewer

[2019-09-18 13:24] whedon commented on #1734
OK, @EduPH is now a reviewer

[2019-09-18 13:25] terrytangyuan commented on #1734
@whedon start review

[2019-09-18 13:25] whedon opened #1746 "[REVIEW]: Larq: An Open-Source Library for Training Binarized Neural Networks"
**Submitting author:** @lgeiger (<a href="http://orcid.org/0000-0002-8697-9920">Lukas Geiger</a>)
**Repository:** <a href="https://github.com/larq/larq" target ="_blank">https://github.com/larq/larq</a>
**Version:** v0.7.1
**Editor:** @terrytangyuan
**Reviewer:** @sbrugman, @casperdcl, @EduPH
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/e6e33c0ae63dfb26089754a264a55e59

[2019-09-18 13:25] whedon commented on #1734
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1746. Feel free to close this issue now!

[2019-09-18 13:25] whedon commented on #1746
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sbrugman, @casperdcl, @EduPH it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2019-09-18 13:25] whedon commented on #1746
[code]

[2019-09-18 13:25] terrytangyuan commented on #1734
Thank you! @sbrugman, @casperdcl, @EduPH Just assigned you as reviewers. Look forward to your review in #1746!

[2019-09-18 13:25] #1734 closed

[2019-09-18 13:26] whedon commented on #1746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01746/joss.01746/10.21105.joss.01746.pdf)

[2019-09-18 13:34] alexhanna commented on #1600
If you could recommend one, that would be great.

On Wed, Sep 18, 2019, 01:52 OttaviaE <notifications@github.com> wrote:

[2019-09-18 13:37] mbobra commented on #1675
@whedon set 10.5281/zenodo.3442594 as archive

[2019-09-18 13:37] whedon commented on #1675
OK. <a href="https://doi.org/10.5281/zenodo.3442594" target="_blank">10.5281/zenodo.3442594</a> is the archive.

[2019-09-18 13:37] mbobra commented on #1675
@whedon set 0.1 as version

[2019-09-18 13:37] whedon commented on #1675
OK. 0.1 is the version.

[2019-09-18 13:38] mbobra commented on #1675
@whedon check references

[2019-09-18 13:38] whedon commented on #1675
[code]

[2019-09-18 13:38] whedon commented on #1675
[code]

[2019-09-18 13:42] mbobra commented on #1675
@pySRURGS Can you please make sure all the references in the paper.bib file include DOIs? Thanks!

[2019-09-18 13:49] jdkent commented on #1295
@whedon generate pdf

[2019-09-18 13:49] whedon commented on #1295
[code]

[2019-09-18 13:50] whedon commented on #1295
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01295/joss.01295/10.21105.joss.01295.pdf)

[2019-09-18 13:55] lgeiger commented on #1746
@whedon generate pdf

[2019-09-18 13:55] whedon commented on #1746
[code]

[2019-09-18 13:55] whedon commented on #1746
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01746/joss.01746/10.21105.joss.01746.pdf)

[2019-09-18 14:01] sohrabtowfighi commented on #1675
@whedon generate pdf

[2019-09-18 14:01] whedon commented on #1675
[code]

[2019-09-18 14:01] whedon commented on #1675
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01675/joss.01675/10.21105.joss.01675.pdf)

[2019-09-18 14:02] wkearn commented on #1642
Sorry, again, for taking so long with my review.

This package looks great! It is definitely designed with a specialized audience in mind, but the code is very clearly documented, and someone with experience using these kinds of models will, I think, have no problem running the models and analyzing the output.

I have a few minor suggestions that I will add to jnoynaert/PressureDrop.jl/issues/3 bu

[2019-09-18 14:05] sohrabtowfighi commented on #1675
@mbobra I have fixed references. The work of Tychonievich has no DOI.

[2019-09-18 14:06] sohrabtowfighi commented on #1675
Wait found issue and  need to regenerate pdf.

[2019-09-18 14:06] jdkent commented on #1295
@Kevin-Mattheus-Moerman

From [this commit](https://github.com/HBClab/NiBetaSeries/pull/206/commits/c8b91067dbe78354ea1ccd7da21a286b9ae287ba):
- I changed a couple of the sentences to avoid awkward phrasing and the sentence missing "be".
- I added city/country to affiliations and I made my affiliation more explicit
- I added and verified links to funding sources.

Let me know if I've covered all y

[2019-09-18 14:08] sohrabtowfighi commented on #1675
@whedon generate pdf

[2019-09-18 14:08] whedon commented on #1675
[code]

[2019-09-18 14:10] whedon commented on #1675
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01675/joss.01675/10.21105.joss.01675.pdf)

[2019-09-18 14:17] sohrabtowfighi commented on #1675
@mbobra ok done

[2019-09-18 14:26] OttaviaE commented on #1600
@alexhanna maybe @russellpierce might be a suitable reviewer

[2019-09-18 15:22] kthyng commented on #1735
@whedon assign @gkthiruvathukal as editor

[2019-09-18 15:22] whedon commented on #1735
OK, the editor is @gkthiruvathukal

[2019-09-18 15:22] kthyng commented on #1735
Thanks @gkthiruvathukal!

[2019-09-18 15:22] kthyng commented on #1739
@whedon assign @oliviaguest as editor

[2019-09-18 15:22] whedon commented on #1739
OK, the editor is @oliviaguest

[2019-09-18 15:22] kthyng commented on #1739
Thanks @oliviaguest!

[2019-09-18 15:30] sbrugman commented on #1746
Hi @lgeiger, thanks for your submission.

I'm doing this review in parts, as for today I don't have time to fully read up on the topic, but I wanted to provide some feedback for you to be able to start. This comment contains those feedback points. For now, I took the documentation and code into consideration, not the paper.

The Larq ecosystem seems to be an excellent contribution to the open-sour

[2019-09-18 15:47] casperdcl commented on #1746
more feedback

### General checks
- **Contribution and authorship:** @koenhelwegen seems to have made some significant contributions - at least worth an acknowledgement if not co-authorship. Seems to be the first author of the paper (Helwegen et al.) which inspired this work.

### Functionality
- **Installation:** `pip install larq` is not sufficient (https://github.com/larq/larq#installation and

[2019-09-18 16:30] zonca commented on #1721
ok, @knaidoo29, anything related to software looks fine to me, now we'll focus on the paper: https://github.com/knaidoo29/mistree/issues/7

[2019-09-18 17:25] arfon commented on #1707
@kthyng - I'm happy to take this one if that's helpful.

[2019-09-18 17:47] russellpierce commented on #1600
I'm sorry, I don't think I can provide good service as a reviewer on an IAT paper.

[2019-09-18 18:04] RuthAngus commented on #1469
Hi @arfon, I have updated the reference in the paper and created a new release! The Zenodo DOI is: 10.5281/zenodo.3444905

[2019-09-18 18:10] sravan953 commented on #1725
@grlee77 I have address your comments in the most recent commit. Please take a look!

More specifically regarding #5 in your comments: our future efforts involve incorporating SAR computation and real-time pulse sequence design.

[2019-09-18 18:15] hsezhiyan commented on #1524
Hi @mbobra ,

I've updated the `paper.md` in [PR#30](https://github.com/for-ai/rl/pull/30). Can you check if this fixes the problem?

[2019-09-18 18:42] arfon commented on #1469
@whedon set 10.5281/zenodo.3444905 as archive

[2019-09-18 18:42] whedon commented on #1469
OK. <a href="https://doi.org/10.5281/zenodo.3444905" target="_blank">10.5281/zenodo.3444905</a> is the archive.

[2019-09-18 18:43] arfon commented on #1469
@whedon accept

[2019-09-18 18:43] whedon commented on #1469
[code]

[2019-09-18 18:43] whedon commented on #1469
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/964

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/964, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-18 18:45] arfon commented on #1469
@whedon accept deposit=true

[2019-09-18 18:45] whedon commented on #1469
[code]

[2019-09-18 18:46] whedon commented on #1469
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1174394329458237441) 👈 🐦🐦🐦

[2019-09-18 18:46] whedon commented on #1469
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/965
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01469](https://doi.org/10.21105/joss.01469)
2. If everything looks go

[2019-09-18 18:53] mbobra commented on #1524
@whedon check references

[2019-09-18 18:53] whedon commented on #1524
[code]

[2019-09-18 18:53] whedon commented on #1524
[code]

[2019-09-18 18:54] mbobra commented on #1524
@whedon generate pdf

[2019-09-18 18:54] whedon commented on #1524
[code]

[2019-09-18 18:54] whedon commented on #1524
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01524/joss.01524/10.21105.joss.01524.pdf)

[2019-09-18 18:57] RuthAngus commented on #1469
Woohoo! Thank you!

[2019-09-18 18:58] nquesada commented on #1705
@whedon generate pdf

[2019-09-18 18:58] whedon commented on #1705
[code]

[2019-09-18 18:59] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-09-18 19:05] whedon opened #1747 "[PRE REVIEW]: pentapy: A Python toolbox for pentadiagonal linear systems"
**Submitting author:** @MuellerSeb (<a href="http://orcid.org/0000-0001-9060-4008">Sebastian Müller</a>)
**Repository:** <a href="https://github.com/GeoStat-Framework/pentapy" target ="_blank">https://github.com/GeoStat-Framework/pentapy</a>
**Version:** v1.0
**Editor:** @drvinceknight
**Reviewers:** @inakleinbottle, @virgesmith

**Author instructions**

Thanks for submitting your paper to JOSS @M

[2019-09-18 19:05] whedon commented on #1747
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-18 19:05] whedon commented on #1747
[code]

[2019-09-18 19:05] whedon commented on #1747
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01747/joss.01747/10.21105.joss.01747.pdf)

[2019-09-18 19:06] kthyng commented on #1747
Hi @drvinceknight! How about editing this for your first submission?

[2019-09-18 19:11] mbobra commented on #1524
@hsezhiyan The paper.bib file still does not include DOIs. What I mean is that there should be a value in the DOI metadata field. For example, one of the references in paper.md looks like this:

[code]
However, it should look like this:

[code]
A DOI is different than a URL; a URL can point anywhere, but a DOI links specifically to https://doi.org. Some of the work you cited does have a DOI, but t

[2019-09-18 19:11] mbobra commented on #1675
@whedon check references

[2019-09-18 19:11] whedon commented on #1675
[code]

[2019-09-18 19:12] whedon commented on #1675
[code]

[2019-09-18 19:12] mbobra commented on #1675
@sohrabtowfighi Looks like one is still missing.

[2019-09-18 19:15] pySRURGS commented on #1675
@mbobra
That one has no doi

[2019-09-18 19:18] kthyng commented on #1608
Hi @Ji-Zhang how are things going on your end for your JOSS submission?

[2019-09-18 19:20] kthyng commented on #1441
Hi all! Where are we at in the review process of this submission? @likask are you working on something on your end?

[2019-09-18 19:22] kthyng commented on #1609
Hi @ajgates42 and @Autoplectic how are your reviews coming along?

[2019-09-18 19:23] kthyng commented on #1371
Another ping here for @jordigh — will you be able to complete your review soon?

[2019-09-18 19:26] Ji-Zhang commented on #1608
Hi, I am sorry I missed @jjmcnelis 's comments. I am kind of snowed under recently. I will work on that next week and also make the unit test available. Sorry for the delay.

[2019-09-18 19:50] arfon commented on #1469
@mattpitkin, @nespinoza - many thanks for your reviews here ✨

@RuthAngus - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-18 19:50] #1469 closed

[2019-09-18 19:50] whedon commented on #1469
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01469/status.svg)](https://doi.org/10.21105/joss.01469)

**We need your help!**

Journal of Open Source Softwa

[2019-09-18 20:35] kthyng commented on #1707
If you are happy to, then who am I to stop you? :)

[2019-09-18 20:35] kthyng commented on #1707
@whedon assign @arfon as editor

[2019-09-18 20:35] whedon commented on #1707
OK, the editor is @arfon

[2019-09-18 20:46] arfon commented on #1707
@doreenfan - do you have any suggested reviewers for this submission? Either mentioning them by their GitHub handle or name (that I can search online for).

[2019-09-18 20:55] shah314 commented on #1733
@jedbrown I'm trying to run the algorithms you mentioned on PETSc. I was able to set up PETSc and configure and build it. But I am unable to figure out how to invoke it and run these algorithms. When I go to the src directory and try to build them using make, it does not work because there is only a lib target. Any help?

[2019-09-18 20:59] doreenfan commented on #1707
I believe @zingale has some suggestions

[2019-09-18 21:11] zingale commented on #1707
potential suggestions (some mined from the 'stars' on one of our python hydro projects):

Philipp Edelmann (@tukss)
James Guilochon (@guillochon)
Claire Kopenhafer (@clairekope)

[2019-09-18 21:14] nquesada commented on #1705
@whedon generate pdf

[2019-09-18 21:14] whedon commented on #1705
[code]

[2019-09-18 21:15] whedon commented on #1705
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01705/joss.01705/10.21105.joss.01705.pdf)

[2019-09-18 21:26] moustachio-belvedere commented on #1700
@whedon generate pdf

[2019-09-18 21:26] whedon commented on #1700
[code]

[2019-09-18 21:26] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-18 21:53] arfon commented on #1707
:wave: @tukss @guillochon @clairekope - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-09-18 22:00] hsezhiyan commented on #1524
Hi @mbobra ,

Thanks for letting me know. This has been fixed in [PR#31](https://github.com/for-ai/rl/pull/31)

[2019-09-18 22:07] labarba commented on #1607
@openjournals/joss-eics : The author of this rejected submission requests that we have a second look.

[2019-09-18 22:43] tonigi commented on #1698
@whedon generate pdf

[2019-09-18 22:43] whedon commented on #1698
[code]

[2019-09-18 22:43] whedon commented on #1698
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01698/joss.01698/10.21105.joss.01698.pdf)

[2019-09-18 22:47] tonigi commented on #1698
@jrperilla Thanks for the suggestions! Each item is answered in the corresponding issue. In short, all the added functionality now constitutes release 1.2. The paper and docs are updated accordingly.

[2019-09-18 23:03] MuellerSeb commented on #1747
@whedon commands

[2019-09-18 23:04] whedon commented on #1747
Here are some things you can ask me to do:

[code]

[2019-09-18 23:06] jrperilla commented on #1698
I think all my concerns were addressed and the paper is ready for publication.

[2019-09-18 23:07] jrperilla commented on #1698
I want to shout out to @abryer94 for helping with the testing of the code.

[2019-09-18 23:13] labarba commented on #1698
@whedon check references

[2019-09-18 23:13] whedon commented on #1698
[code]

[2019-09-18 23:14] whedon commented on #1698
[code]

[2019-09-18 23:17] labarba commented on #1698
@whedon set v1.2 as version

[2019-09-18 23:17] whedon commented on #1698
OK. v1.2 is the version.

[2019-09-18 23:19] labarba commented on #1698
@tonigi — We're now going to need you to make an archive deposit in Zenodo (or a similar service) get a DOI, and post the DOI here.

Please edit the archive metadata so the title and author list matches the JOSS paper.

[2019-09-18 23:35] tonigi commented on #1698
Hi @labarba , just tried with Zenodo's GitHub integration and got ...

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3445530.svg)](https://doi.org/10.5281/zenodo.3445530)

10.5281/zenodo.3445530

[2019-09-19 00:34] ashleefv commented on #1643
@mgymrek We have updated the Hindmarsh url, fixed the noted typo, finalized the revised pypi release, and created a new zenodo doi for this updated release: https://zenodo.org/record/3441677#.XYLMoyhKjZs

[2019-09-19 01:12] nnadeau commented on #1738
Thanks for volunteering to review, @adi3 and @CameronDevine

[2019-09-19 06:47] shah314 commented on #1733
@whedon generate pdf

[2019-09-19 06:47] whedon commented on #1733
[code]

[2019-09-19 06:47] whedon commented on #1733
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01733/joss.01733/10.21105.joss.01733.pdf)

[2019-09-19 06:50] shah314 commented on #1733
@jedbrown I was able to use ColPack to see how the largest first, smallest last and the incidence degree algorithms do on my instances. I have the results at the bottom of the git README. I have also included a summary of the comparison in the paper. Thanks.

[2019-09-19 07:00] drvinceknight commented on #1747
Fantastic! :D

@whedon assign @drvinceknight

[2019-09-19 07:06] drvinceknight commented on #1747
@whedon assign @drvinceknight as editor

[2019-09-19 07:06] whedon commented on #1747
OK, the editor is @drvinceknight

[2019-09-19 07:56] tukss commented on #1707
I would gladly be a reviewer. That would be my first JOSS review.

[2019-09-19 08:07] drvinceknight commented on #1747
Hi @inakleinbottle, [nice to see you at PyCon UK!] how do you feel about possibly reviewing this paper?

Hi @virgesmith @jaroslavhron would you be interested in reviewing this paper?

It is presenting an implementation of two algorithms for solutions of [a particular type of] sparse linear systems.

If anyone has any questions about reviewing for JOSS there is documentation here https://joss.readt

[2019-09-19 08:10] drvinceknight commented on #1747
Hi @inakleinbottle, [nice to see you at PyCon UK!] how do you feel about possibly reviewing this paper for JOSS?

Hi @virgesmith @jaroslavhron would you be interested in reviewing this paper?

It is presenting an implementation of two algorithms for solutions of [a particular type of] sparse linear systems.

If anyone has any questions about reviewing for JOSS there is documentation here

[2019-09-19 08:13] oliviaguest commented on #1739
@tweed1e would you be interested in reviewing this?

[2019-09-19 08:15] oliviaguest commented on #1739
also @koulvi would you also be interested in reviewing this?

[2019-09-19 08:46] Kevin-Mattheus-Moerman commented on #1295
@whedon check references

[2019-09-19 08:46] whedon commented on #1295
[code]

[2019-09-19 08:46] whedon commented on #1295
[code]

[2019-09-19 08:47] Kevin-Mattheus-Moerman commented on #1295
@jdkent thanks, this looks good now.

[2019-09-19 08:47] Kevin-Mattheus-Moerman commented on #1295
@whedon accept

[2019-09-19 08:47] whedon commented on #1295
[code]

[2019-09-19 08:48] whedon commented on #1295
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/966

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/966, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-19 08:50] Kevin-Mattheus-Moerman commented on #1295
@whedon accept deposit=true

[2019-09-19 08:50] whedon commented on #1295
[code]

[2019-09-19 08:55] whedon commented on #1295
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1174607934279573504) 👈 🐦🐦🐦

[2019-09-19 08:55] whedon commented on #1295
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/967
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01295](https://doi.org/10.21105/joss.01295)
2. If everything looks go

[2019-09-19 09:15] mbobra commented on #1524
@whedon check references

[2019-09-19 09:15] whedon commented on #1524
[code]

[2019-09-19 09:16] whedon commented on #1524
[code]

[2019-09-19 09:17] mbobra commented on #1524
@whedon generate pdf

[2019-09-19 09:17] whedon commented on #1524
[code]

[2019-09-19 09:19] whedon commented on #1524
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01524/joss.01524/10.21105.joss.01524.pdf)

[2019-09-19 09:21] mbobra commented on #1524
@hsezhiyan It looks like the correct DOI is [10.5281/zenodo.1134899](https://zenodo.org/record/1134899). Could you please correct this?

[2019-09-19 09:30] Kevin-Mattheus-Moerman commented on #1295
@jdkent congratulations on your publication in JOSS. Thank you @arokem for editing this submission and thank you @snastase for reviewing this work. :tada:

[2019-09-19 09:41] #1295 closed

[2019-09-19 09:41] whedon commented on #1295
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01295/status.svg)](https://doi.org/10.21105/joss.01295)

**We need your help!**

Journal of Open Source Softwa

[2019-09-19 10:17] OttaviaE commented on #1600
@russellpierce it's not actually on the IAT itself, it's more focused on the score as it's usually computed according to Greenwald et al. (2003).

[2019-09-19 10:19] tonigi commented on #1698
@HaoZeke , @jrperilla , @abryer94 -- thanks for the thorough reviews!

@labarba -- thanks for managing!

Sorry for the nitpicking - I just wanted to point out that non-ascii "ff" combined characters slipped in the title. I guess it's better to rename them to plain "ff" before submission lest we hit some "undocumented feature" in the next steps such as cross-ref indexing etc.

[2019-09-19 10:38] bwoshea commented on #1636
@danielskatz  we have made the remaining changes!

[2019-09-19 10:41] danielskatz commented on #1636
👋 @zingale and @rtfisher: please confirm that you are satisfied by checking off the remaining items in your review checklists above and by saying so in this thread.  If not, please say what you think any current issues are.

[2019-09-19 10:50] OttaviaE commented on #1600
@alexhanna Since @russellpierce is not suitable for this review, maybe @sctyner would like to do it

[2019-09-19 11:22] arfon commented on #1707
🎉 excellent thanks!

I'll go ahead and add you as a reviewer but I won't actually start the main review (with associated checklist etc.) until I've found a second reviewer. So for now, please sit tight!

[2019-09-19 11:22] arfon commented on #1707
@whedon add @tukss as reviewer

[2019-09-19 11:22] whedon commented on #1707
OK, @tukss is now a reviewer

[2019-09-19 11:28] arfon commented on #1646
@whedon assign @arfon as editor

[2019-09-19 11:28] whedon commented on #1646
OK, the editor is @arfon

[2019-09-19 11:29] arfon commented on #1646
:wave: just a heads up @junbinzhao that I'm going to help out @usethedata and take on this submission for him.

[2019-09-19 11:29] arfon commented on #1646
@whedon add @jhollist as reviewer

[2019-09-19 11:29] whedon commented on #1646
OK, @jhollist is now a reviewer

[2019-09-19 11:32] arfon commented on #1646
@molgor @ha0ye @giskid @SteveViss - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-09-19 11:35] MuellerSeb commented on #1747
Hey everybody,
thanks for caring about this submission. @drvinceknight: thanks for editing!
Another reviewer suggestion from my side: @nschloe (https://github.com/nschloe)

I am looking forward to the reviewing process.
Sebastian

[2019-09-19 11:35] labarba commented on #1698
@whedon set 10.5281/zenodo.3445530 as archive

[2019-09-19 11:35] whedon commented on #1698
OK. <a href="https://doi.org/10.5281/zenodo.3445530" target="_blank">10.5281/zenodo.3445530</a> is the archive.

[2019-09-19 11:36] labarba commented on #1698
@whedon accept

[2019-09-19 11:36] whedon commented on #1698
[code]

[2019-09-19 11:36] whedon commented on #1698
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/968

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/968, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-19 11:42] drvinceknight commented on #1747
Thank you for the suggestion @MuellerSeb! @nschloe if you're able to take on the review that would be fantastic 👍

[2019-09-19 11:47] labarba commented on #1698
@whedon accept deposit=true

[2019-09-19 11:47] whedon commented on #1698
[code]

[2019-09-19 11:48] whedon commented on #1698
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1174651494609620992) 👈 🐦🐦🐦

[2019-09-19 11:48] whedon commented on #1698
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/969
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01698](https://doi.org/10.21105/joss.01698)
2. If everything looks go

[2019-09-19 11:50] labarba commented on #1698
Congratulations, @tonigi, your JOSS paper is now published! 🚀

Huge thanks to our reviewers: @jrperilla, @HaoZeke — your contribution to JOSS is very much appreciated! 🙏

[2019-09-19 11:50] #1698 closed

[2019-09-19 11:50] whedon commented on #1698
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01698/status.svg)](https://doi.org/10.21105/joss.01698)

**We need your help!**

Journal of Open Source Softwa

[2019-09-19 12:08] zingale commented on #1636
I'm happy to accept.  I've check all my boxes.  Nice job @bwoshea and the Enzo team.

[2019-09-19 12:25] molgor commented on #1646
Hi guys,

Thank you for your email.
I'm afraid I can't review any paper at the moment. I'm in the last month(s)
of my PhD and I'm still have lots of things to do.
I'll be happy to review papers after January.

All the best and good luck

Juan

On Thu, Sep 19, 2019 at 12:32 PM Arfon Smith <notifications@github.com>
wrote:

--
Nehuatl yoliliztli nicoyotl.

[2019-09-19 12:31] arfon commented on #1646
No problem. And best of luck to you too!

[2019-09-19 13:33] oliviaguest commented on #1739
for some reason I am trying to tag https://github.com/vkoul and it's not letting me — so weird, will email instead!

[2019-09-19 13:41] rtfisher commented on #1636
I accept as well, and second Michael's congratulations to @bwoshea and all of the many Enzo developers!

[2019-09-19 14:06] kthyng commented on #1461
@whedon set 10.5281/zenodo.3434635 as archive

[2019-09-19 14:06] whedon commented on #1461
OK. <a href="https://doi.org/10.5281/zenodo.3434635" target="_blank">10.5281/zenodo.3434635</a> is the archive.

[2019-09-19 14:07] kthyng commented on #1461
Great! Thanks @haptork for addressing those items.

[2019-09-19 14:07] kthyng commented on #1461
@whedon accept

[2019-09-19 14:07] whedon commented on #1461
[code]

[2019-09-19 14:08] whedon commented on #1461
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/970

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/970, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-19 14:11] danielskatz commented on #1636
Great - thanks @zingale and @rtfisher!

[2019-09-19 14:12] danielskatz commented on #1636
👋 @bwoshea - to finish up now, I need you to

1. deposit the repository in an archive (e.g. zenodo) and to report the DOI here
1. tell me the latest version number here
1. confirm that the paper text and references are final

[2019-09-19 14:12] danielskatz commented on #1636
@whedon generate pdf

[2019-09-19 14:12] whedon commented on #1636
[code]

[2019-09-19 14:13] whedon commented on #1636
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01636/joss.01636/10.21105.joss.01636.pdf)

[2019-09-19 14:18] inakleinbottle commented on #1747
I am happy to provide a review for the article.

[2019-09-19 14:23] drvinceknight commented on #1747
Wonderful: thank you @inakleinbottle.

@whedon assign @inakleinbottle as reviewer

[2019-09-19 14:24] drvinceknight commented on #1747
@whedon assign @inakleinbottle as reviewer

[2019-09-19 14:24] whedon commented on #1747
OK, the reviewer is @inakleinbottle

[2019-09-19 14:25] oliviaguest commented on #1642
@labarba what is the next step, please? 😊 Do we wait for the suggestions (see comment just above mine) to be discussed because doing anything else at the moment?

[2019-09-19 14:28] danielskatz commented on #1636
@whedon check references

[2019-09-19 14:28] whedon commented on #1636
[code]

[2019-09-19 14:28] whedon commented on #1636
[code]

[2019-09-19 14:41] oliviaguest commented on #1666
🔔hey! @kahaaga have you had a chance to see the above? 😺

[2019-09-19 14:52] ha0ye commented on #1646
I am able, though please check with @kthyng re: #1550. It sounded like maybe @ethanwhite is committed to that submission, in which case, I'd be happy to be redirected over to this one.

[2019-09-19 15:06] labarba commented on #1642
@wkearn You said "otherwise" you're happy to recommend publication. Thus, we wait for you to confirm that your minor suggestion is addressed, and you are satisfied.

[2019-09-19 15:20] shah314 commented on #1733
Also, if you are unable to download individual instance files from the CMU site, try downloading the tar file. I have also uploaded the instances tar file on my repository: https://github.com/shah314/graphcoloring/blob/master/instances.tar

[2019-09-19 15:21] arfon commented on #1646
👍 got it, thanks. @kthyng - are you OK for this submission to move forward with @ha0ye as a reviewer?

[2019-09-19 16:17] hsezhiyan commented on #1524
@mbobra apologies for the mixup. It's been fixed.

[2019-09-19 16:32] StewMH commented on #1487
That said, I now get the tests to work:
[code]
/root/cppduals/duals/arch/AVX/ComplexDual.h:503:2: warning: "AVX2 disabled: not vectorizing std::complex<dual<double>>" [-W#warnings]
clang: error: unable to execute command: Killed
clang: error: clang frontend command failed due to signal (use -v to see invocation)
clang version 8.0.0-3 (tags/RELEASE_800/final)
Target: x86_64-pc-linux-gnu
Thread mode

[2019-09-19 17:00] rlskoeser commented on #1717
I have reviewed the software, documentation, and paper. The only checklist item I'm not able to sign off on is a statement of need included with the project documentation. As I understand it, a statement of need should be included in the readme or project documentation, but the only place I could find this was in the article. I suggest adapting the summary information from the beginning of the art

[2019-09-19 17:10] rlskoeser commented on #1717
Forgot to say: this is a very well-documented and interesting tool! I haven't had the chance to work much with languages that require transliteration, but we're starting to work on a project involving Ethiopian Ge`ez. I haven't learned much about the language yet, but will keep this in mind if a use case comes up. It's important to put a statement of need on the readme so that people like me, who

[2019-09-19 17:38] kellykochanski commented on #1699
@whedon generate pdf

[2019-09-19 17:38] whedon commented on #1699
[code]

[2019-09-19 17:39] whedon commented on #1699
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01699/joss.01699/10.21105.joss.01699.pdf)

[2019-09-19 19:51] seanpue commented on #1717
Thank you for these excellent corrections and comments, @rlskoeser! I will work on fixing them over the weekend and will let you know when I'm done.

Do let me know how it goes with Ethiopian Ge`ez. I am working on developing a standard for Urdu and some other South Asian languages that will generate the Perso-Arabic text, with or without the Arabic diacritics, and also output in the scholarly tra

[2019-09-19 20:00] kthyng commented on #1461
@whedon accept deposit=true

[2019-09-19 20:01] whedon commented on #1461
[code]

[2019-09-19 20:02] whedon commented on #1461
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1174775682045489152) 👈 🐦🐦🐦

[2019-09-19 20:02] whedon commented on #1461
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/971
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01461](https://doi.org/10.21105/joss.01461)
2. If everything looks go

[2019-09-19 20:07] kthyng commented on #1461
Congrats to @haptork on your newly published paper!!! Thanks so much to @jmborr, @arose — your review was integral to this publication!

[2019-09-19 20:07] #1461 closed

[2019-09-19 20:07] whedon commented on #1461
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01461/status.svg)](https://doi.org/10.21105/joss.01461)

**We need your help!**

Journal of Open Source Softwa

[2019-09-19 20:15] kthyng commented on #1607
Hi @drvinceknight! How about another submission? It looks like you are more in the Python community, but as long as you can find reviewers that are comfortable with R, you should be fine.

[2019-09-19 20:16] whedon opened #1748 "[PRE REVIEW]: widgyts: Custom Jupyter Widgets for Interactive Data Exploration with yt"
**Submitting author:** @munkm (<a href="http://orcid.org/0000-0003-0117-5366">Madicken Munk</a>)
**Repository:** <a href="https://github.com/data-exp-lab/widgyts" target ="_blank">https://github.com/data-exp-lab/widgyts</a>
**Version:** v0.3.1
**Editor:** @lpantano
**Reviewers:** @harpolea , @KayleighRutherford

**Author instructions**

Thanks for submitting your paper to JOSS @munkm. **Currently,

[2019-09-19 20:16] whedon commented on #1748
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-19 20:16] whedon commented on #1748
[code]

[2019-09-19 20:17] whedon commented on #1748
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01748/joss.01748/10.21105.joss.01748.pdf)

[2019-09-19 20:19] kthyng commented on #1748
Hi @lpantano! Would you be willing to edit this data viz and exploration based submission?

[2019-09-19 20:20] clairekope commented on #1707
Hi, thank you for the opportunity! Unfortunately I'm not currently in a good position to take this on.

[2019-09-19 20:21] whedon opened #1749 "[PRE REVIEW]: LIBSDNN: A Selective Desensitization Neural Network Library"
**Submitting author:** @BIPL-HORIE (<a href="http://orcid.org/0000-0001-7320-5478">和正 堀江</a>)
**Repository:** <a href="https://github.com/BIPL-HORIE/LIBSDNN" target ="_blank">https://github.com/BIPL-HORIE/LIBSDNN</a>
**Version:** v1.0
**Editor:** @arokem
**Reviewers:** @HaoZeke, @dirmeier

**Author instructions**

Thanks for submitting your paper to JOSS @BIPL-HORIE. **Currently, there isn't an JO

[2019-09-19 20:21] whedon commented on #1749
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-19 20:21] whedon commented on #1749
[code]

[2019-09-19 20:22] whedon commented on #1749
PDF failed to compile for issue #1749 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:143:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Atsuo Suemitsu (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:141:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whed

[2019-09-19 20:30] whedon opened #1750 "[PRE REVIEW]: Mashtree: a rapid comparison of whole genome sequence files"
**Submitting author:** @lskatz (<a href="http://orcid.org/0000-0002-2533-9161">Lee Katz</a>)
**Repository:** <a href="https://github.com/lskatz/mashtree" target ="_blank">https://github.com/lskatz/mashtree</a>
**Version:** v0.57
**Editor:** @csoneson
**Reviewers:** @luizirber, @peterwc

**Author instructions**

Thanks for submitting your paper to JOSS @lskatz. **Currently, there isn't an JOSS edit

[2019-09-19 20:30] whedon commented on #1750
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-19 20:30] whedon commented on #1750
[code]

[2019-09-19 20:30] whedon commented on #1750
PDF failed to compile for issue #1750 with the following error:

 Can't find any papers to compile :-(

[2019-09-19 20:30] kthyng commented on #1750
Hi!  👋 @lpantano and @csoneson , could either of you edit this submission?

[2019-09-19 20:31] kthyng commented on #1749
Hi @arokem could you edit this submission?

[2019-09-19 20:41] kthyng commented on #1675
@whedon accept

[2019-09-19 20:41] whedon commented on #1675
[code]

[2019-09-19 20:43] whedon commented on #1675
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/972

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/972, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-19 20:44] arokem commented on #1637
Where do things stand here?

@vsoch: are you able to check any of the boxes on your list?

@mathieuboudreau  and @nstikov: from your end, I see that the only remaining points are installation and version. Not worrying about version for the moment, what still needs to be done for the installation check box? Is there an associated issue on the project repo?

[2019-09-19 20:45] lpantano commented on #1748
@whedon assign @lpantano as editor

[2019-09-19 20:45] whedon commented on #1748
OK, the editor is @lpantano

[2019-09-19 20:45] kthyng commented on #1675
Oops, I forgot to first verify the zenodo archive.

@pySRURGS Please change the meta data on your zenodo archive so that the title and author match your paper exactly.

[2019-09-19 20:45] arokem commented on #1727
@sbrugman : 👋 would you be willing to review this article for JOSS?

[2019-09-19 20:46] arokem commented on #1727
@giodegas: 👋 would you be willing to review this article for JOSS?

[2019-09-19 20:46] kthyng commented on #1646
Yes, I still need to hear from @ethanwhite but @ha0ye had a bit of a conflict anyway so better not to have him as a reviewer. So, go for it!

[2019-09-19 20:46] arokem commented on #1727
@soroushj: 👋 would you be willing to review this article for JOSS?

[2019-09-19 20:51] sbrugman commented on #1727
@arokem I have already committed to another review. I'm not having the time to do more at a time.

[2019-09-19 20:51] vsoch commented on #1637
I'm still reviewing - I'll check them when I'm finished with the issues above! For example, I'm waiting to hear back about testing (issue 38 linked above). I definitely am not dragging feet or trying to be slow, I'm bringing up issues and the authors are addressing them, and I'll update the final review here when that is done.

[2019-09-19 20:51] kthyng commented on #1750
Hi @lskatz! whedon isn't finding your paper because it should be named "paper.md".

[2019-09-19 20:52] danielskatz commented on #1750
@whedon generate pdf

[2019-09-19 20:52] whedon commented on #1750
[code]

[2019-09-19 20:52] kthyng commented on #1749
@BIPL-HORIE I think the paper isn't compiling because some of the ORCIDs haven't been filled in for co-authors.

[2019-09-19 20:52] whedon commented on #1750
PDF failed to compile for issue #1750 with the following error:

 Can't find any papers to compile :-(

[2019-09-19 20:53] danielskatz commented on #1750
Sorry, sometimes that works, even without a paper.md... :)

[2019-09-19 20:54] danielskatz commented on #1750
but just if the paper is a different .md - a .rmd will fail...

[2019-09-19 20:54] rlskoeser commented on #1717
Bundled transliterator configurations sounds valuable. Maybe you could define a subclass of the GraphTransliterator object that looks for a named config file in a specified path (or possibly multiple paths).

If/when you add that, you'll probably also want to update your contributing document to explain how to add a new transliterator configuration. You'll also want think about what kind of testin

[2019-09-19 21:04] jdkent commented on #1295
@snastase - thanks again for your review!

@labarba & @Kevin-Mattheus-Moerman - thank you for helping making the text clearer and answering my questions!

@arokem - thank you for your guidance during this process!

This was a great experience!

[2019-09-19 21:17] mathieuboudreau commented on #1637
There is an issue on my end, but the authors closed it without it fully being resolved. It's https://github.com/imr-framework/virtual-scanner/issues/29

Their "Quick Start" installation instructions are still broken as of the last time I tried it out.

[2019-09-19 21:27] arokem commented on #1637
Thanks for the feedback!

@imr-framework : I agree with @mathieuboudreau. Looks like that issue is still not resolved (despite an impressive amount of work on the part of the reviewer and the authors to resolve this!). Could you please work to resolve this issue? It looks like it's getting closer...

[2019-09-19 21:43] mathieuboudreau commented on #1637
If it does get too cumbersome to fix this issue, I'm fine with them just omitting that section from their README, as there are two other methods of installations describe on there that do work. I just don't want there to be instructions that don't work listed (particular the "easiest" one, which might discourage new users).

[2019-09-19 21:44] mathieuboudreau commented on #1637
And yes, I very much appreciate the many efforts the authors have invested in resolving it!

[2019-09-19 21:45] vsoch commented on #1637
+1! And this is a really good (real life example) for why I pushed hard for containers. Virtual environments are better than nothing, but they aren't reproducible in the same way a container is.

[2019-09-19 21:45] arfon commented on #1646
@whedon add @ha0ye as reviewer

[2019-09-19 21:45] whedon commented on #1646
OK, @ha0ye is now a reviewer

[2019-09-19 21:46] arfon commented on #1646
@whedon start review

[2019-09-19 21:46] whedon opened #1751 "[REVIEW]: FluxCalR: a R package for calculating CO2 and CH4 fluxes from static chambers"
**Submitting author:** @junbinzhao (<a href="http://orcid.org/0000-0001-5142-4901">Junbin Zhao</a>)
**Repository:** <a href="https://github.com/junbinzhao/FluxCalR/" target ="_blank">https://github.com/junbinzhao/FluxCalR/</a>
**Version:** 0.1.0.
**Editor:** @arfon
**Reviewer:** @jhollist, @ha0ye
**Archive:** <a href="https://doi.org/10.5281/zenodo.3549398" target="_blank">10.5281/zenodo.3549398</

[2019-09-19 21:46] whedon commented on #1646
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1751. Feel free to close this issue now!

[2019-09-19 21:46] whedon commented on #1751
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jhollist, @ha0ye it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-09-19 21:46] whedon commented on #1751
[code]

[2019-09-19 21:46] whedon commented on #1751
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01751/joss.01751/10.21105.joss.01751.pdf)

[2019-09-19 21:47] arfon commented on #1646
Thanks folks, see you over in #1751

[2019-09-19 21:47] #1646 closed

[2019-09-19 21:48] arfon commented on #1751
@jhollist, @ha0ye - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-09-19 21:49] lskatz commented on #1750
Sorry about that.  I renamed it.  Hopefully it is okay in the subfolder still.

@whedon generate pdf

[2019-09-19 21:50] lskatz commented on #1750
@whedon generate pdf

[2019-09-19 21:50] whedon commented on #1750
[code]

[2019-09-19 21:50] whedon commented on #1750
PDF failed to compile for issue #1750 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: tags, authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2019-09-19 21:51] pySRURGS commented on #1675
@kthyng Done thanks!

[2019-09-19 21:52] lskatz commented on #1750
@whedon generate pdf

[2019-09-19 21:52] whedon commented on #1750
[code]

[2019-09-19 21:53] whedon commented on #1750
PDF failed to compile for issue #1750 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/

[2019-09-19 21:57] lskatz commented on #1750
@whedon generate pdf

[2019-09-19 21:57] whedon commented on #1750
[code]

[2019-09-19 21:58] whedon commented on #1750
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01750/joss.01750/10.21105.joss.01750.pdf)

[2019-09-19 21:59] lskatz commented on #1750
I fixed it by making `tag`, `author`, and `affiliation` plural in the yaml.

[2019-09-19 22:10] lskatz commented on #1750
I'd like to suggest as potential reviewers:
* @retimme
* @ondovb
* @aphillippy
* @rvosa
* @tseemann

From your spreadsheet:
* @iimog

[2019-09-19 22:12] likask commented on #1441
@kthyng Yes, we made changes suggested by @chennachaos, and going to have a new release.  I am happy to give any possible help in case of the problems with running code and installation.
BTW We continuously develop and refactor code.

[2019-09-19 22:19] luizirber commented on #1750
I can also review

[2019-09-19 22:26] lskatz commented on #1750
That sounds great @luizirber !  Thank you!

[2019-09-19 22:33] tweed1e commented on #1739
Sorry @oliviaguest, I don't have time to review at the moment, looks cool tho

[2019-09-19 22:47] ethanwhite commented on #1550
I can still review, but things have gotten a lot busier since my semester has started so I need to ask for an extra week to complete the review.

[2019-09-20 00:15] duetosymmetry commented on #1683
Hi folks, I've created a coLaboratory notebook that fetches Greg Cook's data from Zenodo, loads the `qnm` package, does comparisons between the two, and plots the differences in frequencies and separation constants. You can check it out [here](https://colab.research.google.com/drive/1qIMC1gGzNP_ebg5SOBCHGx7P5jImtXXe#forceEdit=true&sandboxMode=true).
Any suggestions for sharing this notebook? I don

[2019-09-20 00:16] duetosymmetry commented on #1683
PS Have already started working on using `pathlib` (today I learned!) and the cache location, probably won't get a chance to fix everything up until this weekend. Too busy with teaching at the moment.

[2019-09-20 01:14] gkthiruvathukal commented on #1735
@PrashantVaidyanathan @soroushj @rljacobson @dvberkel @louiseadennis @nthomasCUBE @nnadeau @hainesr  @nkratzke @nuest: Would any two of you be willing to contribute a review for this submission?

[2019-09-20 04:37] nnadeau commented on #1735
@gkthiruvathukal I’ll review

[2019-09-20 04:46] nthomasCUBE commented on #1735
@gkthiruvathukal <https://github.com/gkthiruvathukal> I’ll review also

Am Fr., 20. Sept. 2019 um 06:37 Uhr schrieb Nicholas Nadeau, P.Eng., AVS <
notifications@github.com>:

[2019-09-20 05:06] haptork commented on #1461
Thanks @katyhuff @kthyng @arose @jmborr. :)

[2019-09-20 06:36] ezsolti commented on #1650
Hello @katyhuff : sorry, i have been on parental leave for the last 2 weeks, and have overlooked the mail from this thread.

[2019-09-20 08:01] mbobra commented on #1524
@whedon check references

[2019-09-20 08:01] whedon commented on #1524
[code]

[2019-09-20 08:01] whedon commented on #1524
[code]

[2019-09-20 08:10] mbobra commented on #1524
@hsezhiyan Can you please update the reference in paper.bib file as follows?

[code]

[2019-09-20 08:16] danielskatz commented on #1338
This paper has been retracted by the JOSS editorial team due to a [DMCA takedown](https://github.com/github/dmca/blob/881963da39208135e29a50847c3abe9afe683e0a/2019/07/2019-07-29-uJVM.md).

[2019-09-20 08:39] mattpitkin commented on #1683
I'd suggest just adding it to the `qnm` repo in the `notebooks` directory, but if you'd prefer not to then putting it in its own standalone repo (and including with that a link to the CoLab notebook) is probably the best - hopefully a gitlab repo would be a bit more "permanent" that a CoLab notebook.

Whatever you chose, I'd suggest adding a link to, and short description of, the notebook in the `