[2022-03-15 17:55] christinahedges commented on #4078
@editorialbot generate pdf

[2022-03-15 17:56] christinahedges commented on #4078
@whedon generate pdf

[2022-03-15 18:04] martinfleis commented on #4052
@uellue, @cjwu Can you please try finding some time for another round of review and updating the checklists above? I believe we can move closer to the publication unless you have any other comments. Thank you!

[2022-03-15 18:23] jbytecode commented on #3965
@editorialbot set 10.5281/zenodo.6360120 as archive

[2022-03-15 18:23] jbytecode commented on #3965
@editorialbot check references

[2022-03-15 18:23] jbytecode commented on #3965
@editorialbot generate pdf

[2022-03-15 18:27] jessdtate commented on #4094
@kellyrowland do we need more than what I sent via email?  I can try to find a few more.

[2022-03-15 18:28] jbytecode commented on #3965
@editorialbot recommend-accept

[2022-03-15 18:41] corybrunson commented on #4228
@fabian-s FYI i checked roughly half the boxes on my checklist yesterday and today found them all unchecked. Moreover, i find myself now unable to check boxes. Do you have an idea of what might be wrong? I will try logging out and back in, etc.

[2022-03-15 19:16] vimalthilak commented on #4210
@editorialbot generate my checklist

[2022-03-15 19:59] xuanxu commented on #3965
The error is caused by an invalid ISBN value, this PR should fix it: https://github.com/leprojetcastor/castor/pull/5

[2022-03-15 20:08] jbytecode commented on #3965
Thank you @mkitti and @pitsianis for consuming your valuable time for reviewing this submission, and thank you @matthieuaussal  for sending your work and submission to JOSS. We have just completed the review and I recommended an acceptance. The Editor in Chief will take the final decision. Hope we will work in later projects and submissions!

[2022-03-15 20:35] kthyng commented on #4199
@KristinaRiemer Are you interested in editing this submission?

[2022-03-15 20:35] kthyng commented on #4199
@editorialbot invite @KristinaRiemer as editor

[2022-03-15 20:42] KristinaRiemer commented on #4199
I can edit this submission.

[2022-03-15 20:44] WilkAndy commented on #3742
@lucydot and authors - please accept my apologies.  My notifications have been going to spam for some time, and i had forgotten.  Please give me 24 hours to complete my reivew.

[2022-03-15 20:48] kthyng commented on #4224
Hi @fboehm, are you interested in editing this submission?

[2022-03-15 20:48] kthyng commented on #4224
@editorialbot invite @fboehm as editor

[2022-03-15 20:53] kthyng commented on #4239
@editorialbot invite @danasolav as editor

[2022-03-15 20:58] kthyng commented on #4241
Hi @bastorer! Thanks for your submission. Your references aren't coming through, in line or at the end of your paper. Can you take a look and try to fix this?

[2022-03-15 21:00] christinahedges commented on #4078
@editorialbot check references

[2022-03-15 21:02] christinahedges commented on #4078
@billtubbs and @pmli, thank you so much for your thorough review of this submission! JOSS only works with great reviewers so thank you for your time and effort!

@florisvb it looks like the reviewers have completed their checklists, and your submission paper looks good to me. Please can you make a tagged release and archive, and report the version number and archive DOI in this thread. I will then

[2022-03-15 21:04] corybrunson commented on #4228
@fabian-s i have completed the first phase of my review.

@alstat i'll be glad to respond to feedback on the issues i raised and will check the remaining boxes to complete my review as they are addressed.

Thank you both!

[2022-03-15 21:25] kthyng commented on #3950
Hi @davidegraff! I am taking over publishing from here. Can you update the metadata in your zenodo archive so the title and author list match your JOSS paper?

[2022-03-15 22:40] eloisabentivegna commented on #4173
Hi @abhimaniyar, please open a new issue with the requests that weren't answered, and document all of this here (if you link this review in the issue, it will be mentioned here -- see above for an example). In particular, please explain why you are not satisfied with the way your original issue was handled. That way it's easy to reconstruct what exactly has happened.

[2022-03-15 23:14] kthyng commented on #3950
Everything else looks good so we'll be ready to go after we finish this one issue.

[2022-03-15 23:29] WilkAndy commented on #3742
Suggestion (not mandatory for publication): improve the lighting in your paraview figures - they're super dark at the moment!

[2022-03-15 23:45] abhimaniyar commented on #4173
@amoradinejad <https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_amoradinejad&d=DwMFaQ&c=slrrB7dE8n7gBJbeO0g-IQ&r=j7NTX35lzotSaEysgWTW31rDj0okOldBCLczNlYAI8w&m=87YU7psLWOQYeS5uKAEh4WOPw7Hvp2FXY9wC5FBHIa8Jh6j1Di48E5mPw3j-IrC2&s=MZ6DcO_fSJvwCDNGYqOgnqusAEaSg6brS2kUom3co80&e=>, I have just posted an issue (#12 <https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_amoradinejad

[2022-03-15 23:52] kthyng commented on #3318
@alexmalins I'm taking over to finish the publishing process. Everything looks good except — in the references there are asterisks at the end of the title for several, for example Huang et al. Is there a reason for them to be there?

And hey I went to Whitman too @lemointm!

[2022-03-16 01:38] amitseta90 commented on #4243
@editorialbot generate my checklist

[2022-03-16 01:45] slayoo commented on #3219
US spelling introduced here: https://github.com/atmos-cloud-sim-uj/PySDM/commit/dfdfc3a22a051ee7e761bbe4207cc27f2b120301

Zenodo titles updated:
- https://zenodo.org/record/6321270
- https://zenodo.org/record/6321280

Thanks!

[2022-03-16 01:51] galessiorob commented on #4133
Thank you so much for your review, @mwegrzyn! Would you mind outlining what about the installation process is not covered in the documentation?

@erling6232 per @mwegrzyn 's review, could you please consider adding automated tests and community guidelines?

[2022-03-16 01:52] galessiorob commented on #4133
@glatard @JoaoRodrigues Checking in, would you mind updating us on your reviews? Thanks.

[2022-03-16 01:53] galessiorob commented on #4166
@editorialbot generate pdf

[2022-03-16 02:21] galessiorob commented on #4166
Hi @PeterKraus,

We're almost at the finish line! I put together a few edit suggestions and typo corrections in this [PR](https://github.com/dgbowl/yadg/pull/49). Please merge as much as you like, and after that, we'll review once more and start the publishing process.

[2022-03-16 06:32] WilkAndy commented on #3742
Well done,  @nasserma @elizabethmonte @Alex-Vasile , on a neat paper and nice software!    (I just have one minor comment (see above) you might like to address before publication - totally up to you.)

[2022-03-16 07:34] tpurcell90 commented on #3960
@jarvist Is there a reason for the hold up for this review?

[2022-03-16 08:43] samuelburbulla commented on #3959
@vijaysm Thanks a lot for trying again and posting your Docker setup steps.

High appreciation for all of your feedback and your suggestions!

I agree that the installation is not yet clear enough, in particular regarding the large list of dependencies. So far, essentially people were using Dune-MMesh who had a working setup of DUNE on their system already, or a system which was preconfigured in t

[2022-03-16 09:02] oliviaguest commented on #3956
@eferrea let me know if you would like to pause this submission or if you just would like to work on it slowly but within a sensible timeframe. Also, please feel free as I think @mstimberg is hinting to triage the feedback you have into categories including ones you do want to do or cannot do, and we can discuss such feedback that might not be possible for you to do. Does this make sense?

[2022-03-16 09:15] eferrea commented on #3956
@oliviaguest , after my last submission I did not receive any feedback from @puolival. If there are still open issues that are necessary to accept the paper I am happy to address them.

[2022-03-16 09:36] mancellin commented on #4186
dNami a very interesting, ambitious and meaningful work.

I was able to consult the documentation, install the code and run some test cases, without any major issue.
I don't have the hardware to really benchmark the HPC performance of the code, but the claims seems reasonable given my small scale tests.
I submitted a few minor issues, that are being addressed.

Overall, the code and the paper meet

[2022-03-16 09:41] fabian-s commented on #4228
thanks @corybrunson !
glad the checklist-problem seems to have solved itself! :)

[2022-03-16 09:43] fabian-s commented on #4228
@kuesterc9 , do you have any questions before you start your review?
JOSS aims for short turn-around times, if I can help speed up the process let me know.

[2022-03-16 11:11] n8thangreen commented on #4206
I believe I have now addressed all of the review comments. Thanks @rowlandseymour for the time and effort to review.
I have closed the issues in the BCEA repo corresponding to the JOSS review.

What are the next steps, please? Is there something else that I need to now do?
Thanks!

[2022-03-16 11:33] arfon commented on #3998
:wave: @TomWagg – looks like we have the AAS DOI now. I've opened a PR on the paper here https://github.com/TeamLEGWORK/LEGWORK/pull/95 but need you to verify that the journal name is correct.

[2022-03-16 12:04] alexmalins commented on #3318
Hi @kthyng - thanks for checking this paper! Those asterisks came in the .bib files from the journal's website. They needn't be there, so this last commit removed them.

[2022-03-16 12:04] alexmalins commented on #3318
@editorialbot generate pdf

[2022-03-16 12:50] mscroggs commented on #4135
@Nikoleta-v3 My comments are all now dealt with and I've ticked all the boxes for my review

[2022-03-16 12:50] mh-skjelvareid commented on #4185
@emanuelhuber , thank you for your valuable feedback! I will try to follow up on and correct each point that you have raised. Thanks also for being patient and flexible regarding installation of octave. As indicated in the paper, I'd like to update the toolbox to an open source (and perhaps more modern) programming language, for example Python. I haven'y used Julia but I will definitely look into

[2022-03-16 12:51] ajstewartlang commented on #4206
Thanks @n8thangreen and many thanks @rowlandseymour for your review - we'll wait now for comments from @volkerschmid who will be able to take a look at this submission in a week or two.

[2022-03-16 13:00] emanuelhuber commented on #4185
@mh-skjelvareid , I startet programming with Matlab 20 years ago, then I switched to R (which is very similar to Matlab). Now I am learning Python for my job and I don't like it. I wrote a R-package (RGPR) and am still playing with the thought to translate it in another language. First I thought that Python would be great because many people in geosciences use it. But now I don't know... maybe wri

[2022-03-16 13:05] rowlandseymour commented on #4206
Thanks @n8thangreen, I think the table of contents in the vignette is an excellent edition.

@ajstewartlang All the items on my checklist are now ticked off.

[2022-03-16 13:17] nasserma commented on #3742
@WilkAndy This is good news! We will improve the figures over the next few days and get back to you!

[2022-03-16 13:36] kthyng commented on #3960
@editorialbot set 10.5281/zenodo.6245396 as archive

[2022-03-16 13:37] kthyng commented on #3960
@editorialbot recommend-accept

[2022-03-16 13:52] kthyng commented on #3960
@tpurcell90 looks like you have an issue in your reference — can you see if you can get this fixed?

[2022-03-16 13:56] PaulSt commented on #4135
Thank you for your PR and the review @mscroggs!

[2022-03-16 14:03] tpurcell90 commented on #3960
@kthyng Thanks!

The bib file should be fixed on master and the zenodo reference title/authors are also fixed. Do I also need to update the bib file in the zenodo?

[2022-03-16 14:09] kthyng commented on #3960
@editorialbot recommend-accept

[2022-03-16 14:11] Kevin-Mattheus-Moerman commented on #4185
@emanuelhuber

Yes, leave anything you are not happy with unchecked until resolved.

[2022-03-16 14:12] kthyng commented on #3318
@editorialbot accept

[2022-03-16 14:13] Kevin-Mattheus-Moerman commented on #4185
@mh-skjelvareid

No you can start addressing @emanuelhuber 's comments right away if you like.

[2022-03-16 14:14] Kevin-Mattheus-Moerman commented on #4185
@Samuel-Wagner can you provide an update on how you are getting on with the review? It is okay if you need more time, just let us know, I am only checking in to see how things stand. Thanks again for your help.

[2022-03-16 14:30] tpurcell90 commented on #3960
The pdf of the final proof looks good to me

[2022-03-16 14:34] kthyng commented on #3318
Congratulations on your new paper @alexmalins!! Many thanks to editor @kellyrowland and reviewers @munkm, @shyamd, and also @kellyrowland for your time, hard work, and expertise!

[2022-03-16 14:34] #3318 closed

[2022-03-16 14:35] Nikoleta-v3 commented on #4135
Again a huge thank you to the reviewers!

[2022-03-16 14:35] kthyng commented on #3960
No

[2022-03-16 14:36] danielskatz commented on #3967
@liquidcronos - can you please change the metadata of the zenodo archive to have "TriP: A Python package for the kinematic modeling of serial-parallel hybrid robots" as the title?  (See "How can I edit the metadata of a published record?" on https://help.zenodo.org)

[2022-03-16 14:36] danielskatz commented on #3967
@editorialbot set v1.0.3 as version

[2022-03-16 14:37] danielskatz commented on #3967
@editorialbot set 10.5281/zenodo.6360087 as archive

[2022-03-16 14:37] kthyng commented on #3960
Ok the paper looks good so we can proceed.

[2022-03-16 14:37] kthyng commented on #3960
@editorialbot accept

[2022-03-16 14:37] georgeyiasemis commented on #4239
@editorialbot commands

[2022-03-16 14:37] thelfer commented on #4135
My pleasure to contribute to JOSS.

[2022-03-16 14:41] Kevin-Mattheus-Moerman commented on #4211
@oriolcg :wave: let me know if I can help.

[2022-03-16 14:43] georgeyiasemis commented on #4239
@editorialbot generate pdf

[2022-03-16 14:53] georgeyiasemis commented on #4239
@editorialbot check references

[2022-03-16 15:00] davidegraff commented on #3950
Hi @kthyng ! Thanks for taking over- I believe the zenodo metadata should now properly match the JOSS paper metadata. Let me know if anything is missing- thanks!

[2022-03-16 15:05] kthyng commented on #3960
@editorialbot accept

[2022-03-16 15:08] kthyng commented on #4114
@oliviaguest I think now that we're past the migration if there are any problems with reviewer permissions, they should switch to making their own checklists with `@editorialbot generate my checklist`.

[2022-03-16 15:10] fboehm commented on #4224
Yes, @kthyng , I'm happy to edit this submission.

Thank you!

[2022-03-16 15:11] fboehm commented on #4224
@editorialbot assign @fboehm as editor

[2022-03-16 15:11] kyleniemeyer commented on #3428
Hello @clemaitre58, are you able to review this submission?

@Himscipy thanks for your feedback!

[2022-03-16 15:29] diehlpk commented on #3959
I think a Docker image is not necessary, however, a Docker file like posted by @vijaysm and some instructions how to run it would be good.

[2022-03-16 15:49] liquidcronos commented on #3967
@danielskatz Should be updated know!
By the way thanks for making me aware of the edit button, Up until know I was changing the .zenodo.json file by hand and drafting a new release each time...

[2022-03-16 16:02] kthyng commented on #3960
Congrats on your new publication @tpurcell90!! Many thanks to editor @jarvist and reviewers @ml-evs and @AstroBarker for your time, hard work, and expertise!

[2022-03-16 16:07] kthyng commented on #3950
@editorialbot accept

[2022-03-16 16:14] danielskatz commented on #3967
@editorialbor recommend-accept

[2022-03-16 16:22] AustinTSchaffer commented on #4079
@danielskatz I have checked off the remainder of my items.

[2022-03-16 16:27] ColemanRHarris commented on #4180
A "Community Guidelines" section has been added to the package README here: https://github.com/ColemanRHarris/mxnorm#community-guidelines

[2022-03-16 16:32] danielskatz commented on #4079
Thanks @AustinTSchaffer - so you are ok with this being published?

[2022-03-16 16:32] kthyng commented on #4080
@AlphonsG, @YuliyaLab it seems one of your reviewers is going to the trouble of checking your missing DOIs for you! Can you please fix this now?

[2022-03-16 16:32] danielskatz commented on #4079
👋 @kylebeggs - just a ping on your part again...

[2022-03-16 16:48] kthyng commented on #4093
@jgostick Is there a reason one checkbox is unchecked?

@brandons209 Please edit the metadata in your Zenodo archive so that the title and author list match your JOSS paper. Also it looks like the version listed here and in the Zenodo archive are not the same, so please rectify that and let me know what version you want here.

[2022-03-16 16:51] kthyng commented on #3950
Congrats on your new publication to @davidegraff! Many thanks to editor @richardjgowers and reviewers @mikemhenry and @rvhonorato for your time, hard work, and expertise!!

[2022-03-16 16:51] #3950 closed

[2022-03-16 17:02] kthyng commented on #3965
@matthieuaussal your paper looks good, except please go through the capitalization in the references. For example, Jin et al has uncapitalized proper nouns. You can preserve capitalization in your .bib file by placing {} around words or phrases.

[2022-03-16 17:15] JamieBamber commented on #4077
@lucass-carneiro
Apologies for the delay in my review. The work looks very impressive. I agree with the comments of @cescalara, and I only had a few minor additional comments:

1.  You discuss the need to carefully refine the results to distinguish true eigenvalues from spurious ones, and to find others not discovered from that x_0. In your research work have you developed a systematic method or c

[2022-03-16 17:19] matthieuaussal commented on #3965
Done, is it ok now?

[2022-03-16 17:20] matthieuaussal commented on #3965
Could you precise me what is the correct rule, please?

[2022-03-16 17:22] danasolav commented on #4239
@kthyng I'm sorry, this is too much out of my area of expertise.

[2022-03-16 17:28] danielskatz commented on #3967
@editorialbot accept

[2022-03-16 17:35] kylebeggs commented on #4079
@danielskatz  I just received help regarding the wiki info a few days ago, I will be finishing the review soon

[2022-03-16 17:50] matthieuaussal commented on #3965
@editorialbot generate pdf

[2022-03-16 17:59] matthieuaussal commented on #3965
@editorialbot generate pdf

[2022-03-16 18:01] matthieuaussal commented on #3965
I think it's done, but I can't regenerate pdf to verify

[2022-03-16 18:06] matthieuaussal commented on #3965
@editorialbot generate pdf

[2022-03-16 18:21] kthyng commented on #4227
Hi @danasolav! We have only a few biomechanics editors who aren't you or conflicted with you, so I need to waitlist this submission for now. We'll have someone address it as soon as possible. Thanks for your patience.

[2022-03-16 18:22] editorialbot opened #4244 "[PRE REVIEW]: pyHomogeneity: A python package for homogeneity test of time series data"
**Submitting author:** @mmhs013 (<a href="http://orcid.org/0000-0002-5361-0633">Md. Manjurul Hussain</a>)
**Repository:** https://github.com/mmhs013/pyHomogeneity
**Branch with paper.md** (empty if default branch):
**Version:** v1.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/8794bd6049bba71167a2721b8a5bd4e7/status

[2022-03-16 18:24] danielskatz commented on #3967
Sorry @liquidcronos - GitHub actions, which is how @editorialbot runs, are currently degraded, so this acceptance may take a while. Once this runs, I will verify the published PDF and DOI, then send a message closing this submission.

[2022-03-16 18:26] danasolav commented on #4227
Thanks @kthyng. I understand the situation, and am willing to wait. However, please note that this software is not intended for biomechanics. It is related to experimental mechanics and characterization of the mechanical properties of materials and structures. Biomechanics is just one of the fields it can be useful for, but not the only or main one. I hope this information helps in finding another

[2022-03-16 18:56] danielskatz commented on #4079
Thanks!

[2022-03-16 18:56] danielskatz commented on #4079
👋 @aliaksei135 - I'll next proofread the paper

[2022-03-16 18:57] danielskatz commented on #4079
@editorialbot check references

[2022-03-16 18:57] danielskatz commented on #4079
@editorialbot generate pdf

[2022-03-16 19:10] danielskatz commented on #3967
Congratulations to @liquidcronos (Jan Baumgärtner) and co-author!!

And thanks to @SeungBack and @bmagyar for reviewing!
We couldn't do this without you!

[2022-03-16 19:10] #3967 closed

[2022-03-16 19:12] kthyng commented on #3965
Ok, that reference has capitalized proper nouns now. Let's proceed.

[2022-03-16 19:12] kthyng commented on #3965
@editorialbot accept

[2022-03-16 19:22] pan-pavel commented on #4120
Hello Daniel,

Sorry for the late response! Yes, I think we can now proceed to publication.

Best Regards,
Pavel

[2022-03-16 19:51] editorialbot opened #4245 "[PRE REVIEW]: OpenPelt: Python Framework for Thermoelectric Temperature Control System Development"
**Submitting author:** @gdetor (<a href="http://orcid.org/0000-0001-5891-1702">Georgios Detorakis</a>)
**Repository:** https://github.com/thejackal360/OpenPelt-Public
**Branch with paper.md** (empty if default branch): master
**Version:** alpha
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/3c5d7515f1ddddab6eb8aa5c658

[2022-03-16 20:27] danielskatz commented on #4079
@aliaksei135 - I've suggested some small changes in https://github.com/aliaksei135/seedpod_ground_risk/pull/107 - please merge this, or let me know what you disagree with, then we can proceed.

[2022-03-16 20:29] #3965 closed

[2022-03-16 20:37] danielskatz commented on #4120
@editorialbot check references

[2022-03-16 20:47] danielskatz commented on #4120
@LeonidPryadko - I've suggested some minor changes to the paper in https://github.com/QEC-pages/QDistRnd/pull/20 - If you can merge this, we can move forward to acceptance and publication.  Let me know if you disagree with any of these changes.

[2022-03-16 21:09] BunnyVon commented on #3690
@dhhagan - Thank you for helping move the review process forward. I'm Sha Feng listed as the second author of this manuscript. I wonder if there is an update on finding the reviewers? It's been 6 months since the first submission. We wonder if we could provide anything to speed up the process.

[2022-03-16 21:27] aliaksei135 commented on #4079
All merged, thank you

[2022-03-16 21:29] danielskatz commented on #4079
@editorialbot recommend-accept

[2022-03-16 21:58] aliaksei135 commented on #4079
- Tag is [`v0.15.1`](https://github.com/aliaksei135/seedpod_ground_risk/releases/tag/v0.15.1)
- DOI is `10.5281/zenodo.6363635` [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.6363635.svg)](https://doi.org/10.5281/zenodo.6363635) with updated metadata

[2022-03-16 21:59] editorialbot opened #4246 "[PRE REVIEW]: TessPy: a python package for geographical tessellation"
**Submitting author:** @siavash-saki (<a href="http://orcid.org/0000-0002-5413-3007">Siavash Saki</a>)
**Repository:** https://github.com/siavash-saki/tesspy
**Branch with paper.md** (empty if default branch): master
**Version:** v0.0.3
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/d50e3e5b9bb892a3ee5cb91519e4ba12/st

[2022-03-16 22:20] LeonidPryadko commented on #4120
The changes look fine.  I am about to merge them, and will make a couple of
additional small edits to the manuscript in the next half an hour or so.

Leonid

On Wed, Mar 16, 2022 at 1:47 PM Daniel S. Katz ***@***.***>
wrote:

[2022-03-16 22:54] kthyng commented on #4246
@editorialbot set master as branch

[2022-03-16 22:54] kthyng commented on #4246
@editorialbot check repo

[2022-03-16 22:55] kthyng commented on #4246
@editorialbot check repository

[2022-03-16 23:00] kthyng commented on #4246
@editorialbot query scope

[2022-03-16 23:02] kthyng commented on #4246
Hi @siavash-saki and thanks for your submission! I have pinged the editorial board to check it out to make sure it is in scope in terms of [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). This will take 1-2 weeks. Thanks!

[2022-03-16 23:06] kthyng commented on #4208
Hi @Emilianopp and thanks for your submission. Unfortunately the editorial board determined that it is out of scope by being [too small in terms of lines of code](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), especially with a lot of the code being dedicated to visualization. Please find other information for how you can publish your effort here: https://joss

[2022-03-16 23:06] kthyng commented on #4208
@editorialbot reject

[2022-03-16 23:06] #4208 closed

[2022-03-16 23:16] danielskatz commented on #4120
When you are done, please:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure

[2022-03-16 23:40] kthyng commented on #4226
Hi @EDiLD and thanks for your submission. Unfortunately the editorial board has determined that this is not in scope. One comment was "Mostly a Shiny UI, therefore not in scope." Basically, the code that isn't involved with making the GUI does not appear significant enough to be in scope. We have some guidance on other ways to publish your software if you are interested: https://joss.readthedocs.i

[2022-03-16 23:40] kthyng commented on #4226
@whedon reject

[2022-03-16 23:40] kthyng commented on #4226
@editorialbot reject

[2022-03-16 23:40] #4226 closed

[2022-03-16 23:46] kthyng commented on #4230
Hi @cvklein and thanks for your submission. Unfortunately the editorial board determined that it is too small to be in scope. 1000 lines of code is where it gets tricky to get over the bar and this package is just too small. However, we do offer some guidance on getting credit for your software here if you're interested: https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-review

[2022-03-16 23:46] kthyng commented on #4230
@editorialbot reject

[2022-03-16 23:46] #4230 closed

[2022-03-16 23:52] kthyng commented on #4227
@danasolav I can give your editor suggestion a try!

@diehlpk are you interested in editing this submission?

[2022-03-16 23:52] kthyng commented on #4227
@editorialbot invite @diehlpk as editor

[2022-03-16 23:54] kthyng commented on #4239
@danasolav ok

@osorensen are you up for editing this submission?

[2022-03-16 23:54] kthyng commented on #4239
@editorialbot invite @osorensen as editor

[2022-03-16 23:55] diehlpk commented on #4227
@editorialbot assign diehlpk as editor

[2022-03-17 00:00] kthyng commented on #4241
@kbarnhart Is this in your expertise area? Might be like that last one I asked you about though and might not be a good fit.

[2022-03-17 00:00] kthyng commented on #4241
@editorialbot invite @kbarnhart as editor

[2022-03-17 00:01] editorialbot opened #4247 "[PRE REVIEW]: PyNM: a Lightweight Python implementation of Normative Modeling"
**Submitting author:** @harveyaa (<a href="http://orcid.org/0000-0002-9940-8799">Annabelle Harvey</a>)
**Repository:** https://github.com/ppsp-team/PyNM
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** 1.0.0b1
**Editor:** @dfm
**Reviewers:** @smkia, @saigerutherford
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/f9a276711945e531

[2022-03-17 00:03] kthyng commented on #4247
Hi @harveyaa and thanks for your submission! I saw your note that earlier versions of this software have been used in papers. This is fine, as long as the scholarly effort separate from those papers is large enough to justify another publication. Could you go into detail about what the other papers have been about (do they describe the software in detail or simply use the software?) and how much d

[2022-03-17 01:14] AlphonsG commented on #4080
@editorialbot generate pdf

[2022-03-17 01:17] AlphonsG commented on #4080
@editorialbot check references

[2022-03-17 01:18] AlphonsG commented on #4080
Hello, reference fixed now

[2022-03-17 01:35] LeonidPryadko commented on #4120
I am done with any changes to the paper.md file.

Regarding the items you requested, do you have a more detailed set of
instructions, please?
I do not really understand what "tagged release" means, nor where exactly
the version needs to be listed, or where to get the DOI from.

Thanks,

Leonid

On Wed, Mar 16, 2022 at 4:17 PM Daniel S. Katz ***@***.***>
wrote:

[2022-03-17 02:19] diehlpk commented on #4227
hi @ilyasst  would you or one of your students be interested to review this paper?

[2022-03-17 02:23] diehlpk commented on #4227
Hi @moorepants or @nnadeau or @cpontonn would you be interested to review this paper?

[2022-03-17 03:43] navidcy commented on #4207
Thanks. I haven't forgotten about this.

[2022-03-17 03:45] jlarsen-usgs commented on #3852
@crvernon

Checking in to see if there are any other updates that need to be done before moving forward.

[2022-03-17 05:16] yhtang commented on #4198
I just made the change after getting the go-ahead from our legal team. The latest of our submission branch `workspace/joss-submission` should now contain the conforming `LICENSE` file. :smile:

[2022-03-17 05:18] yhtang commented on #4198
Still haven't heard back regarding https://github.com/Jutho/TensorOperations.jl/issues/117. On a side note, the only activity of the repo in the last month is this issue that we created.

[2022-03-17 05:23] yhtang commented on #4198
@melissawm My colleague @dcamps did some research and found that having an `and others` term at the end of the author list is a [BibTeX convention](https://tex.stackexchange.com/a/123607), and would be rendered as *et. al.* at compile time. However, [Whedon](https://whedon.theoj.org/) is apparently not supporting this convention. Is there any way that we can work around this?

[2022-03-17 06:50] osorensen commented on #4239
@editorialbot add @osorensen as editor

[2022-03-17 06:50] osorensen commented on #4239
@georgeyiasemis I'm the editor for this submission now. If you have any suggestions for reviewers, please let me know.

[2022-03-17 07:03] osorensen commented on #4194
@editorialbot start review

[2022-03-17 07:03] editorialbot opened #4248 "[REVIEW]: Connectome Mapper 3: A Flexible and Open-Source Pipeline Software for Multiscale Multimodal Human Connectome Mapping"
**Submitting author:** @sebastientourbier (<a href="http://orcid.org/0000-0002-4441-899X">Sebastien Tourbier</a>)
**Repository:** https://github.com/connectomicslab/connectomemapper3
**Branch with paper.md** (empty if default branch):
**Version:** v3.0.4
**Editor:** @osorensen
**Reviewers:** @adbartni, @jsheunis
**Archive:** 10.5281/zenodo.6645256

## Status

[![status](https://joss.theoj.org/pape

[2022-03-17 07:03] #4194 closed

[2022-03-17 07:05] osorensen commented on #4156
@tlwu can you please update us on how the work with the revision is going?

[2022-03-17 07:34] tlwu commented on #4156
@osorensen sorry that I am busy with other projects recently. I will complete the revision in two weeks. Thanks!

[2022-03-17 07:34] mmhs013 commented on #4244
- `Statement of need` is already covered in the `Summary` section. So I did not add it again.
- Although this is a very small package, it is very useful for data analysis and, currently, I have noticed that it is using a lot of research work. Some cited this package in their research paper, some could not cite it due to not finding any proper journal. So I think, it is worth submitting as a journa

[2022-03-17 08:13] osorensen commented on #4156
That's fine @tlwu. Thanks for the notice:-)

[2022-03-17 09:20] wvxvw commented on #3632
Hi, Henry, sorry it's taking longer than I hoped.

How about 13:00 UTC on Saturday? If that's inconvenient, then maybe 20:00
UTC on the same day, or it could be an hour or two later.

On Mon, Mar 14, 2022 at 12:09 AM henry senyondo ***@***.***>
wrote:

[2022-03-17 11:19] csoneson commented on #4188
ping @waldeyr, @afrendeiro, @kelly-sovacool - would one of you be willing to review this submission for JOSS?

[2022-03-17 11:48] fboehm commented on #4224
@editorialbot list reviewers

[2022-03-17 11:53] fraukewiese commented on #4131
@andr1976 : Thank you very much! I will add you as reviewer. The review will start as soon as we have found a second reviewer.

[2022-03-17 11:53] fboehm commented on #4224
@JoranTiU, @stmcg, @DanielRivasMD, @jaybee84 - would any of you be willing to review this submission to JOSS? The review process at JOSS is unique: it takes place in a GitHub issue, is open,
and author-reviewer-editor conversations are encouraged.

JOSS reviews involve downloading and installing the software, and inspecting the repository
and submitted paper for key elements. See https://joss.read

[2022-03-17 11:54] fraukewiese commented on #4131
@editorialbot add @andr1976 as reviewer

[2022-03-17 11:57] fraukewiese commented on #4131
@sevberg @fneum @timtroendle : Would any of you be willing to review this submission?

[2022-03-17 11:59] fraukewiese commented on #4158
@editorialbot add @leonardgoeke as reviewer

[2022-03-17 12:01] fraukewiese commented on #4158
@leonardgoeke : Sorry for the late reply and inconvenience. I have tried to assign you again. Could you try if you can edit the checklist now?

[2022-03-17 12:07] fraukewiese commented on #3861
Thanks a lot @samanmostafavi for the thorough review.
@FWuellhorst : Please provide replies to the points raised by @samanmostafavi

[2022-03-17 12:24] DanielRivasMD commented on #4224
@fboehm I can take a look. First time on this journal so some guidance and / or advice would be appreciated along the way

[2022-03-17 12:40] fboehm commented on #4224
Thanks, @DanielRivasMD ! If you decide that you'd like to review this, please let me know. I'm happy to guide you through the process of reviewing for JOSS. You would need to install the R package and verify its functionality. You would also need to read the accompanying paper and ensure that it meets specified expectations. If you decide to review this submission, I'll prepare a standard checklis

[2022-03-17 12:42] fboehm commented on #4224
To get a sense of the checklist items, please see this ongoing review: https://github.com/openjournals/joss-reviews/issues/4242

[2022-03-17 12:48] fboehm commented on #4224
Please note, @DanielRivasMD , that you don't need to do anything until I ask you to do it. If you decide to review, it would be a few days before we start the review process, since I'll need to find a second reviewer. We typically ask that you complete the first round of review within about a month.

[2022-03-17 12:48] DanielRivasMD commented on #4224
Sounds great! Let's do it! I read the article, and will install and test the software, is this the review thread where I should comment? Or where can I find it?

[2022-03-17 12:50] DanielRivasMD commented on #4224
Ahhh great! Good to know. I'll wait for further instructions then

[2022-03-17 12:50] fboehm commented on #4224
Thanks, @DanielRivasMD ! The review thread doesn't exist yet - I'll make it once we find a second reviewer. In the mean time, if you have comments to share with me or the authors, please feel free to share them here. We'll then switch over to the review thread once I find a second reviewer.

[2022-03-17 12:51] fboehm commented on #4224
@editorialbot assign @DanielRivasMD as reviewer

[2022-03-17 12:51] fboehm commented on #4224
@editorialbot commands

[2022-03-17 12:51] fboehm commented on #4224
@editorialbot add @DanielRivasMD as reviewer

[2022-03-17 13:03] danielskatz commented on #4120
A tagged release is really a snapshot of the repository at a given time, with a label (typically a version number) - see https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content

And what JOSS needs is for that snapshot to be deposited in an archive that will preserve it and gives it a DOI, which is most easily done via Zenodo for GitHub repositories, fo

[2022-03-17 13:08] danielskatz commented on #4079
@editorialbot set v0.15.1 as version

[2022-03-17 13:08] danielskatz commented on #4079
@editorialbot set 10.5281/zenodo.6363635 as archive

[2022-03-17 13:09] danielskatz commented on #4079
@editorialbot recommend-accept

[2022-03-17 13:15] danielskatz commented on #4079
@editorialbot accept

[2022-03-17 13:24] mayrmt commented on #4142
Some remarks on my assessment:

## General checks

- Contribution and authorship: see
   - Contribution: The submitting author @lukeolsen has made major contributions to the software.
   - Authorship: see https://github.com/pyamg/pyamg/issues/321

## Functionality

I have verified all listed items on my machine. ✅

## Documentation

- Options to look for documentation and support are outlined in `

[2022-03-17 13:28] lpantano commented on #4167
Hi @cagret,

I took a look at the documentation. Could you expand more how to use it, what is the output looking like, maybe an example of how you use it it would be good as well, not meaning the command lines, but a biological question to answer and showing the example of that, reasoning, conclusion...etc.  It makes easier to understand how to evaluate the package.

For installations, we will nee

[2022-03-17 13:32] danielskatz commented on #4079
Congratulations to @aliaksei135 and co-author!!

And thanks to @kylebeggs and @AustinTSchaffer for reviewing!
We couldn't do this without you!

[2022-03-17 13:32] oliviaguest commented on #3956
@eferrea I want to give a chance to the 2nd reviewer to get back to us. @puolival do you have a rough ETA in mind for checking this? ☺️

[2022-03-17 13:33] oliviaguest commented on #4114
@kthyng ah, thanks for telling me.

[2022-03-17 13:34] #4079 closed

[2022-03-17 13:38] danielskatz commented on #4246
@editorialbot generate pdf

[2022-03-17 13:44] danielskatz commented on #4246
@siavash-saki - where an author doesn't have an orcid, please remove the line from your paper.  After you have done this, please use `@editorialbot generate pdf` to try to regenerate the pdf - editorialbot commands need to be the first line in a new comment

[2022-03-17 13:44] danielskatz commented on #4246
@editorialbot check references

[2022-03-17 13:50] danielskatz commented on #4246
In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in a new comm

[2022-03-17 14:28] kthyng commented on #4158
Hi @leonardgoeke! We had a tech change for JOSS and now you can make your own checklist with: `@editorialbot generate my checklist`

@fraukewiese this is the way to do this going forward.

[2022-03-17 14:30] puolival commented on #3956
@oliviaguest @eferrea

Thank you for the revised manuscript and software. Overall, I think this software has great potential to become a very useful tool for the BCI community. However, while some improvements have been now made after the initial submission, many of my previous major comments have not been addressed. Therefore, I cannot recommend accepting this submission at this stage.

I have he

[2022-03-17 14:51] timtroendle commented on #4131
Hello @fraukewiese, unfortunately, I won't have time to review this.

[2022-03-17 14:57] mstimberg commented on #3956
My earlier comment probably made clear that I do not quite share @puolival's assessment, in particular that the "manuscript is underdeveloped" – as @eferrea pointed out, the manuscript is already longer than recommended. But of course my opinion shouldn't have any more weight here than anyone else's.

I just wanted to comment on one point that referred to my earlier comment:

Automated tests are "

[2022-03-17 15:08] garrettj403 commented on #4234
@lucydot sorry -- I don't have the time right now. I'm also part way through another JOSS review.

[2022-03-17 15:47] TomWagg commented on #3998
Thanks @arfon! I've updated the journal name to **Astrophysical Journal Supplement Series** and merged the PR!

[2022-03-17 15:57] diehlpk commented on #4227
@editorialbot invite @mrudangm as reviewer

[2022-03-17 15:58] diehlpk commented on #4227
@editorialbot commands

[2022-03-17 15:58] diehlpk commented on #4227
@editorialbot add @mrudangm as reviewer

[2022-03-17 16:00] diehlpk commented on #4227
@editorialbot assign diehlpk as editor

[2022-03-17 16:00] diehlpk commented on #4227
@editorialbot assign @diehlpk as editor

[2022-03-17 16:01] diehlpk commented on #4227
@editorialbot add @mrudangm as reviewer

[2022-03-17 16:48] arfon commented on #3998
@editorialbot accept

[2022-03-17 16:50] kellyrowland commented on #4094
@editorialbot add @RichardClayton as reviewer

[2022-03-17 16:50] editorialbot opened #4249 "[REVIEW]: UncertainSCI: A Python Package for Noninvasive Parametric Uncertainty Quantification of Simulation Pipelines"
**Submitting author:** @jessdtate (<a href="http://orcid.org/0000-0002-2934-1453">Jess Tate</a>)
**Repository:** https://github.com/SCIInstitute/UncertainSCI
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @kellyrowland
**Reviewers:** @shahmoradi, @RichardClayton, @kellyrowland
**Archive:** 10.5281/zenodo.8226383

## Status

[![status](https://joss.theoj.org/paper

[2022-03-17 16:50] #4094 closed

[2022-03-17 16:53] mmhs013 commented on #4244
@kthyng, the "Statement of Need" section is added to the paper.

[2022-03-17 17:05] arfon commented on #3998
👍 thanks. The paper is updated now to include the crosslink to APJSS although it may take a few hours to show as updated on the JOSS site.

[2022-03-17 17:22] ColemanRHarris commented on #4180
I believe that I’ve addressed all of the open issues:
- Added information about dependencies and installation instructions in the [Dependencies](https://github.com/ColemanRHarris/mxnorm#dependencies) section of the README.
- Added automated testing via Github Actions.
- Added a [Community Guidelines](https://github.com/ColemanRHarris/mxnorm#community-guidelines) section to the README.
- Added deta

[2022-03-17 17:24] taless474 commented on #4162
@editorialbot add @bnriiitb as reviewer

[2022-03-17 17:25] taless474 commented on #4162
@editorialbot start review

[2022-03-17 17:25] editorialbot opened #4250 "[REVIEW]: JOAN: a framework for human-automated vehicle interaction experiments in a virtual reality driving simulator"
**Submitting author:** @OlgerSiebinga (<a href="http://orcid.org/0000-0002-5614-1262">Olger Siebinga</a>)
**Repository:** https://github.com/tud-hri/joan
**Branch with paper.md** (empty if default branch):
**Version:** V1.1.0
**Editor:** @taless474
**Reviewers:** @humanfactors, @bnriiitb
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/25b2e051dac33531e497c91e99e67d68/stat

[2022-03-17 17:29] taless474 commented on #4250
@humanfactors, thank you for your comment on the PRE REVIEW issue.
@bnriiitb, thank you for accepting to review this. Please let me know in the future if you can replicate the interface with Carla.

[2022-03-17 17:30] osorensen commented on #4180
Thanks @ColemanRHarris.

@tijeco and @askerdb, when you have time, can you please go through these updates and see if they address you concerns? If so, please also update your checklists.

[2022-03-17 17:31] taless474 commented on #4073
@marksantcroos, @burch-cm, please update on your reviews.

[2022-03-17 17:41] kbarnhart commented on #4241
@kthyng yeah... out of area of expertise. Sorry!

[2022-03-17 17:45] samuelburbulla commented on #3959
Update: There is now a Dockerfile which builds a running container with preconfigured Dune-MMesh.
[code]
This also works now on the Mac with its ARM architecture.

[2022-03-17 18:47] prashjha commented on #4061
@editorialbot generate pdf

[2022-03-17 18:49] prashjha commented on #4061
@editorialbot commands

[2022-03-17 18:49] blind-contours commented on #4181
Hi Team, thank you so much for your review and sorry for my delayed response. I'm preparing for my qualifying exam currently. I will begin making edits based on your suggestions soon. Again, thank you for the thorough review, this was extremely helpful!

[2022-03-17 18:54] prashjha commented on #4061
@erik-whiting thank you for your efforts and sorry it took a long time to reply! I was on vacation and am now back. Yes, the review is complete. @kasbot, I am reading the draft and may have a few suggestions. Once you incorporate (or not!) them, I will go ahead and hand your submission to the current editor-in-chief for final acceptance.

[2022-03-17 18:55] mscroggs commented on #4175
@Kevin-Mattheus-Moerman I can review this if you're still looking for someone

[2022-03-17 19:05] askerdb commented on #4180
@whedon generate pdf from branch joss-paper

[2022-03-17 19:07] danielskatz commented on #4180
@editorialbot generate pdf

(new version of commands for new and improved bot)

[2022-03-17 19:10] prashjha commented on #4061
Hi @kasbot, see if these suggestions make sense for your draft:

- Line 24: should you use "optimization" here?
- Line 24: in the sentence "... and evaluation of algorithms to extract high-level, quantified analysis from sensor data", it seems there is something missing between "high-level" and "quantified" or maybe comma is inappropriate here?
- Line 27: sentence has many errors. E.g., it should

[2022-03-17 19:22] askerdb commented on #4180
I believe my concerns have been adressed, and have updated my checklist accordingly.

I also believe this is a valuable software contribution, congratulations @ColemanRHarris on a job well done.

[2022-03-17 19:40] dfm commented on #4017
@christinahedges, @BjoernBiltzinger: I have one remaining minor comment over in https://github.com/BjoernBiltzinger/pyspi/issues/24, but I'm otherwise happy to recommend this submission for publication. I've finished going through the checklist and I think this package, the docs, and the paper are all in good condition.

[2022-03-17 19:58] siavash-saki commented on #4246
@editorialbot generate pdf

[2022-03-17 20:02] siavash-saki commented on #4246
@danielskatz Thanks for the hints. I fixed the orcid and the DOIs.

[2022-03-17 20:06] danielskatz commented on #4246
@editorialbot check references

[2022-03-17 20:13] Kevin-Mattheus-Moerman commented on #4175
@editorialbot add @mscroggs as reviewer

[2022-03-17 20:30] stmcg commented on #4224
Thanks for the invitation. I’m unfortunately not available to review this submission as it caught me at a particularly busy time. Please keep me in mind for future submissions though.

Best,
Sean

On Mar 17, 2022, at 7:54 AM, Frederick Boehm ***@***.******@***.***>> wrote:

@JoranTiU<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_JoranTiU&d=DwMFaQ&c=WO-RGvefibhHBZq3fL85hQ&r=jrca-6

[2022-03-17 20:41] JoranTiU commented on #4224
I can be a second reviewer on this 😊

[2022-03-17 20:43] jaybee84 commented on #4224
I am happy to review this.

Thanks,
Jineta

[2022-03-17 22:18] Nikoleta-v3 commented on #4135
@editorialbot generate pdf

[2022-03-17 22:28] Nikoleta-v3 commented on #4135
@editorialbot generate pdf

[2022-03-17 22:29] Nikoleta-v3 commented on #4135
@whedon generate pdf

[2022-03-17 22:29] Nikoleta-v3 commented on #4135
@editorialbot generate pdf

[2022-03-17 23:37] afrendeiro commented on #4188
Apologies @csoneson, I have to decline as I'm on parental leave and don't have the bandwidth right now

[2022-03-18 00:41] florisvb commented on #4078
Hi @christinahedges and @editorialbot - here are the version and DOI:

tagged release version number: PyNumDiff 0.1.2.3
archive DOI: DOI: 10.5281/zenodo.6366705
<https://doi.org/10.5281/zenodo.6366705>

- Floris

On Tue, Mar 15, 2022 at 2:03 PM Christina Hedges ***@***.***>
wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate

[2022-03-18 01:29] fboehm commented on #4224
Thanks so much, @JoranTiU, @jaybee84 and @stmcg ! @stmcg - I'll be certain to ask you again when you're less busy. @JoranTiU - I'll assign you as a second reviewer. @jaybee84 - I hope that we can work together on a future submission. I saw that @JoranTiU responded just before you, so I've assigned them as the second reviewer. We should need only two reviewers for this submission. Regardless, @jayb

[2022-03-18 01:30] fboehm commented on #4224
@editorialbot add @JoranTiU as reviewer

[2022-03-18 01:30] fboehm commented on #4224
@editorialbot begin review

[2022-03-18 01:31] fboehm commented on #4224
@editorialbot start review

[2022-03-18 01:31] editorialbot opened #4251 "[REVIEW]: rbmi: A R package for standard and reference-based multiple imputation methods"
**Submitting author:** @nociale (<a href="http://orcid.org/0000-0002-0110-7358">Alessandro Noci</a>)
**Repository:** https://github.com/insightsengineering/rbmi
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.4
**Editor:** @fboehm
**Reviewers:** @DanielRivasMD, @JoranTiU
**Archive:** 10.5281/zenodo.6632154

## Status

[![status](https://joss.theoj.org/papers/c23a2dbed03cd0c8a

[2022-03-18 01:31] #4224 closed

[2022-03-18 01:33] fboehm commented on #4251
@DanielRivasMD and @JoranTiU - Please find above instructions for getting started with the reviews. The first task is to generate the checklists with the syntax mentioned above. Please let me know if you have any questions :)

[2022-03-18 02:04] deep-introspection commented on #4247
Hi @kthyng! Only rudimentary implementations of LOESS/Centiles methods were used in the past papers. Not only the PyNM library covers other more advanced methods (GP and GAMLSS especially), but even the LOESS/Centiles implementations have been totally refactored for creating a real API. Overall, PyNM also contains many additions: a command-line interface for wide accessibility, automatic dataset s

[2022-03-18 08:30] psanan commented on #4070
@editorialbot generate pdf

[2022-03-18 08:31] Kevin-Mattheus-Moerman commented on #4175
@schruste, @mikaem, @likask, @tjhei, @diehlpk, would you be interested in reviewing this work featuring a C++ library for finite element analysis and multiphysics for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/)? The [JOSS review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#reviewing-for-joss) focuses on evaluation of [the software](https://githu

[2022-03-18 08:34] Kevin-Mattheus-Moerman commented on #3736
@timdewhirst, @clarka34, @quynhneo. :wave: could you give me an update please? Thanks

[2022-03-18 08:39] psanan commented on #4070
@jedbrown @victorsacek I've checked off everything on my review list - looks ready from my perspective! Thanks again for the submission and the code - I particularly appreciate the attention paid to thorough documentation, including easy-to-follow, well-discussed, and reproducible examples covering both a benchmark case and a more realistic model.

[2022-03-18 08:44] puolival commented on #3956
@mstimberg Thank you for clarifying this. If my reading of the guidelines was too strict, I am happy to continue as you see best @oliviaguest.

[2022-03-18 08:57] tiagoseq commented on #3974
Hello @jarvist, any help to @gdetor on the issue of filling out the task list? Just like @rougier already did

Thanks!

[2022-03-18 11:05] Zitzeronion commented on #3728
Dear @dpsanders sorry to bother you again, but another month has passed since your last reply.

It seems the issue of finding a referee is more severe than expected.
Can you supply us with any update or with instructions of how we can help?
Thanks in advance 😃

[2022-03-18 12:09] BjoernBiltzinger commented on #4017
https://github.com/BjoernBiltzinger/pyspi/issues/24 is also solved and closed now

[2022-03-18 12:54] kerstinvg commented on #4225
@danasolav I am happy to help with this review.

[2022-03-18 13:06] FWuellhorst commented on #3861
@samanmostafavi and @shamsiharis: First of all, thank you both for your review, your comments, and the time associated with this!

@shamsiharis: Thanks, I will clarify this in the paper.

@samanmostafavi:

## Documentation
I agree, I updated the page (and thus also the README.md).

## Paper
Commercial software for calibration (mainly provided inside Dymola) is not highlighted, as they are not open

[2022-03-18 13:35] chennachaos commented on #4225
Hi @danasolav, Thanks for the invitation!
I have to pass it this time as I am quite busy at the moment.

[2022-03-18 14:56] schruste commented on #4175
I'd also be availabel for this.

[2022-03-18 15:01] cjwu commented on #4052
Got it.

[2022-03-18 15:18] bastorer commented on #4241
Hi @kthyng Thanks for catching that! I've updated the files and yaml action script and the compiled paper includes the references now :-)

[2022-03-18 18:26] csoneson commented on #4188
@afrendeiro - no worries, thanks for letting me know!

[2022-03-18 19:18] kadglass commented on #4033
@dfm - I believe that we have addressed all the comments that both reviewers have made to date.  What are the next step(s)?

[2022-03-18 19:20] dfm commented on #4033
Thanks for the update @kadglass!

@changhoonhahn, @lavaux — can you let us know what your status is with the other checklist items or if there are any outstanding issues? Thanks!

[2022-03-18 20:25] henrykironde commented on #3632
20:00 UTC works fine

[2022-03-18 20:55] arunpersaud commented on #2688
Also just to follow up: the siglent instrument is also one that we don't have in our lab ourselves, so testing is a bit harder.

[2022-03-18 20:55] Nikoleta-v3 commented on #4135
Hey @PaulSt 👋🏻 Could you please have a look at the following (minor) issues?

### Documentation

On the NGSTrefftz [website](https://paulst.github.io/NGSTrefftz/):

1. The hyperlinks to NGSolve do not work
2. The emojis `:tada::+1:` are not rendered

### Readme

At the installation section you are listing the dependencies and their versions :+1: Could you include hyperlinks to the software’s websi

[2022-03-18 22:03] diehlpk commented on #3959
@samuelburbulla That sounds good. You might want to add that to the README.md and documentation. Maybe you can write that if one just wants to test and play with your code, the Docker approach is the easiest way. Just put the commands how to run the docker image and possibly execute one example.

After that you can write that people, who want to implement new features or run heavier examples, shou

[2022-03-19 03:13] hongyuanjia commented on #4030
@KristinaRiemer Sorry for the late. Unfortunately, I am slowly moving forward. Right now I mainly focus on addressing https://github.com/ideas-lab-nus/epwshiftr/issues/40. Will address reviewer comments related to features (https://github.com/ideas-lab-nus/epwshiftr/issues/32,  ideas-lab-nus/epwshiftr#19, https://github.com/ideas-lab-nus/epwshiftr/issues/43) and bugs (https://github.com/ideas-lab-

[2022-03-19 03:49] canyon289 commented on #4113
@jeremiecoullon Apologies on the delay, I do not the library looks great!

[2022-03-19 03:49] canyon289 commented on #4113
To state it more plainly I also recommend acceptance

[2022-03-19 09:06] Kevin-Mattheus-Moerman commented on #4175
@editorialbot add @schruste as reviewer

[2022-03-19 09:07] Kevin-Mattheus-Moerman commented on #4175
@editorialbot start review

[2022-03-19 09:07] editorialbot opened #4252 "[REVIEW]: AsFem: A simple to use finite element package for phase-field modeling and multiphysics simulation"
**Submitting author:** @yangbai90 (<a href="http://orcid.org/0000-0003-1946-4377">yang bai</a>)
**Repository:** https://github.com/M3Group/AsFem
**Branch with paper.md** (empty if default branch):
**Version:** v0.7
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @vijaysm, @mscroggs, @schruste
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/91ffd7ed4226d840e295c980298a3

[2022-03-19 09:07] #4175 closed

[2022-03-19 10:48] chchch commented on #4022
Hello,

I've made those two changes (sorry for the delay; it took a while to figure out the best way to change the Zenodo metadata). It looks like this now: https://zenodo.org/record/6334073

Let me know if that looks right!

[2022-03-19 15:05] leonardgoeke commented on #4158
@editorialbot generate my checklist

[2022-03-19 20:04] kthyng commented on #4222
Hi @pdebuyl! Is this submission a good fit for you?

[2022-03-19 20:04] kthyng commented on #4222
@editorialbot invite @pdebuyl as editor

[2022-03-19 20:05] kthyng commented on #4222
Oops, forgot to tell @baxmittens that this submission was deemed to be in scope, so we will proceed with the review.

[2022-03-19 20:10] kthyng commented on #4223
Hi @AluBhorta and thanks for your submission. Unfortunately the greater editorial board has determine that it is not in scope. Some of the specific comments are:
* I think size is borderline, but this is written as a single function package that doesn't have a research application. If the paper was rewritten to focus on the optimization method, with the application as an example, I would be happie

[2022-03-19 20:10] kthyng commented on #4223
@editorialbot reject

[2022-03-19 20:10] #4223 closed

[2022-03-19 20:18] kthyng commented on #4244
Hi @mmhs013 and thanks for your submission! Since it is borderline in size, as you have mentioned, I will ping the greater editorial board to have a look to make sure it is in scope before we proceed. This process will take 1-2 weeks. Thank you.

[2022-03-19 20:18] kthyng commented on #4244
@editorialbot query scope

[2022-03-19 20:21] kthyng commented on #4247
@harveyaa, @deep-introspection thanks for that information. I will ping the greater editorial board with that information available so they can help decide if this is in scope for JOSS; this process will take 1-2 weeks. Thank you!

[2022-03-19 20:21] kthyng commented on #4247
@editorialbot query scope

[2022-03-19 20:22] editorialbot opened #4253 "[PRE REVIEW]: A Modularised Java library for 3D Euclidean geometry"
**Submitting author:** @agdturner (<a href="http://orcid.org/0000-0002-6098-6313">Andy Turner</a>)
**Repository:** https://github.com/agdturner/ccg-v3d
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @VivianePons
**Reviewers:** @abhishekvp
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/3bf7c502ce55ca97c654e633f3310057/status

[2022-03-19 20:23] kthyng commented on #4253
Hi @agdturner and thanks for your submission. Can you link to the pre-review issue for when you submitted before?

[2022-03-19 20:24] editorialbot opened #4254 "[PRE REVIEW]: BetterReg: An R package for Useful Regression Statistics"
**Submitting author:** @chrisaberson (<a href="http://orcid.org/0000-0003-3481-7177">Christopher Aberson</a>)
**Repository:** https://github.com/chrisaberson/BetterReg
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0
**Editor:** @jbytecode
**Reviewers:** @brunomontezano, @62442katieb
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/00eefe6

[2022-03-19 20:25] kthyng commented on #4254
Hi @chrisaberson and thanks for your submission. Can you link to the previous submission pre-review issue you have mentioned?

[2022-03-19 20:28] kthyng commented on #4245
Hi @gdetor and thanks for your submission. It is a bit borderline on size so I am going to ping the greater editorial board to take a look and make sure it is in scope for JOSS. This process will take 1-2 weeks, thanks.

[2022-03-19 20:28] kthyng commented on #4245
@editorialbot query scope

[2022-03-19 20:28] editorialbot opened #4255 "[PRE REVIEW]: adaptr: an R package for simulating and comparing adaptive clinical trials"
**Submitting author:** @agranholm (<a href="http://orcid.org/0000-0001-5799-7655">Anders Granholm</a>)
**Repository:** https://github.com/INCEPTdk/adaptr
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewers:** @elimillera, @stmcg
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/e070045b6998360d93eed

[2022-03-19 20:29] kthyng commented on #4255
Hi @fabian-s! Is this in your area of expertise?

[2022-03-19 20:29] kthyng commented on #4255
@editorialbot invite @fabian-s as editor

[2022-03-19 20:30] editorialbot opened #4256 "[PRE REVIEW]: Spiner: Performance Portable Routines for Generic, Tabulated, Multi-Dimensional Data"
**Submitting author:** @Yurlungur (<a href="http://orcid.org/0000-0001-6432-7860">Jonah Miller</a>)
**Repository:** https://github.com/lanl/spiner
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 1.3.0
**Editor:** @dfm
**Reviewers:** @lgarrison, @jzrake
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/361f13746822fde77cc0f6f0b0b20bbc/s

[2022-03-19 20:33] kthyng commented on #4256
@openjournals/dev Why isn't any code being found for this submission?

[2022-03-19 20:33] editorialbot opened #4257 "[PRE REVIEW]: SwiftVISA: Controlling Instrumentation with a Swift-based Implementation of the VISA Communication Protocol"
**Submitting author:** @ohildreth (<a href="http://orcid.org/0000-0001-5358-9080">Owen Hildreth</a>)
**Repository:** https://github.com/SwiftVISA/SwiftVISASwift.git
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @dhhagan
**Reviewers:** @MatthieuDartiailh
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/2c7d5cc7cbf2d71652aecba6

[2022-03-19 20:35] kthyng commented on #4257
Hi @OHildreth and thanks for your submission. I see your note saying the submission is spread across 8 repositories... can you list them here, or are they already listed somewhere?

[2022-03-19 20:36] kthyng commented on #4257
Also can you take a look at the error in your paper compilation?

[2022-03-19 20:36] editorialbot opened #4258 "[PRE REVIEW]: mlmtools: An R-Based Toolkit for lme4 Multilevel Models"
**Submitting author:** @lj5yn (<a href="http://orcid.org/0000-0002-4656-8684">Laura Jamison</a>)
**Repository:** https://github.com/lj5yn/mlmtools
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.0.9000
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/aeed8bc96bc72fd17b841eba5cccfefb/status.svg)](htt

[2022-03-19 20:39] wvxvw commented on #3632
Hi, sorry, I realized I don't know how to contact you :)

[2022-03-19 20:40] kthyng commented on #4258
Hi @lj5yn and thanks for your submission! Because of its relatively small size, I am going to ping the greater editorial board to make sure it is in scope for JOSS before proceeding with review. This process will take 1-2 weeks, thanks.

[2022-03-19 20:40] kthyng commented on #4258
@editorialbot query scope

[2022-03-19 20:42] kthyng commented on #3344
@editorialbot recommend-accept

[2022-03-19 20:44] wvxvw commented on #3632
OK,  I think, I figured out how to use GMail video calls.

[2022-03-19 20:45] kthyng commented on #4080
Hoping to hear back from @tpeulen after a follow up email.

[2022-03-19 20:45] kthyng commented on #3344
@editorialbot accept

[2022-03-19 20:52] kthyng commented on #3344
Congrats on your new publication @mcflugen! Many thanks to reviewers @lheagy and @cheginit for your time, hard work, and expertise!

(I'll close this issue when the DOI resolves)

[2022-03-19 20:53] #3344 closed

[2022-03-19 21:23] henrykironde commented on #3632
@wvxvw I sent you an email from henrykironde@gmail.com. We can reschedule for another time.

[2022-03-19 21:33] njuaplusplus commented on #4151
Hi Nath & Théo,

Thank you very much for your patience. I have read your AAAI paper. It's quite interesting. The following are my suggestions on the documentation and software paper.

1. Example usage
I couldn't find detailed complete examples in the documentation. At least one complete example which can explore most of the features is expected.

2. Functionality documentation
No API method docume

[2022-03-20 07:49] agdturner commented on #4253
Hi @kthyng, the following is a link to the withdraw comment: https://github.com/openjournals/joss-reviews/issues/3682#issuecomment-927118351

[2022-03-20 11:05] xuanxu commented on #4256
@kthyng The [joss-paper branch](https://github.com/lanl/spiner/tree/joss-paper) does not include the code, only the paper files.

[2022-03-20 11:49] agranholm commented on #4255
Thanks.

Some suggestions for potential reviewers from the list (started from the bottom):
slwu89, palash63, sestelo, fernandomayer.
Additional suggestions:
JoranTiU, brunomontezano, stmcg, EDiLD, chrisaberson, GaryBAYLOR.

Best regards,
Anders

[2022-03-20 13:32] lavaux commented on #4033
@kadglass I submitted a few additional minor issues for the documentation as issue tickets.

https://github.com/DESI-UR/VAST/issues/73
https://github.com/DESI-UR/VAST/issues/72
https://github.com/DESI-UR/VAST/issues/71

[2022-03-20 15:41] mlxd commented on #3743
Apologies for the delay. I am happy to report that I am done with my review, and all boxes are now ticked. Nice work @EgorOrachyov

[2022-03-20 15:58] agdturner commented on #4253
I've searched through the list of reviewers provided looking for language Java and interest in Geometry/Mathematics. Here is a list of those that might be interested to review the paper:
2062, amadeusine
2162, Unknown
2166 aaaa
1605, junliu2050
1658, g4brielvs
1702, abhishekvp
1875, benjaminbolling

[2022-03-20 17:50] Yurlungur commented on #4256
@kthyng @xuanxu my apologies---was an orphan branch with the paper not the right way to go? If so, I could copy the code/license/etc into the paper branch?

[2022-03-20 18:40] EgorOrachyov commented on #3743
@mlxd It is great! Thank you so much for your review.

We apologize once more for such a delay from our side.

[2022-03-20 18:43] EgorOrachyov commented on #3743
@Nikoleta-v3 Hello, we hope it is not too late now :)

We wondering, what is the next step of the review process. If I understand correctly, we have to get the responses from other reviewer?

[2022-03-20 18:47] fneum commented on #4131
Hello @fraukewiese, unfortunately, I won't have time to review this either.

[2022-03-20 18:58] Nikoleta-v3 commented on #3743
Hey @EgorOrachyov that's correct. The second reviewer has been inactive for a while! I emailed them and I am waiting to hear back from them. If they do not reply I am going to find a new reviewer for the submission 👍🏻

[2022-03-20 19:03] EgorOrachyov commented on #3743
@Nikoleta-v3 Cool, thanks! We will be waiting for updates on this question.

[2022-03-20 22:14] rbeucher commented on #4070
@jedbrown @victorsacek I went through the changes and it looks ready to me. Thanks for doing the extra work!

[2022-03-20 22:57] chrisaberson commented on #4254
Here you go https://github.com/openjournals/joss-reviews/issues/4203

On Sat, Mar 19, 2022 at 1:26 PM Kristen Thyng ***@***.***>
wrote:

[2022-03-21 00:57] jedbrown commented on #4070
Thanks for your diligent reviews @psanan @rbeucher.

@victorsacek Once https://github.com/ggciag/mandyoc/pull/83 is merged (or you've decided to revise otherwise to address these points), please tag a release ([annotated tags](https://git-scm.com/book/en/v2/Git-Basics-Tagging) preferred) and archive your release on Zenodo or similar, then report the DOI back here.

[2022-03-21 00:58] jedbrown commented on #4070
@editorialbot check references

[2022-03-21 00:59] jedbrown commented on #4070
:point_up: The PR addresses these.

[2022-03-21 03:21] emdupre commented on #4024
Thank you for your feedback, @aquilesC, and your recent updates @po60nani ! I'm glad that compiling with the new `editorial-bot` system was smooth :slightly_smiling_face: The previous Whedon system has been deprecated, so note that all future compilation, etc, commands can be issued directly to editorial-bot for both this and any other JOSS submissions.

For clarity, I would just like to confirm t

[2022-03-21 03:50] emdupre commented on #4024
There are a few minor corrections in references that would significantly improve the formatting of the paper.

- **Updating inclusion of multiple references:** For example,  this reference list on L13:
  _"...microsecond temporal resolution over arbitrarily long measurement times [@\lindfors2004PRL], [@\taylor2019interferometric], [@\RichardBook]. "_
  should be updated as:
  _"...microsecond temp

[2022-03-21 05:23] humanfactors commented on #4250
@editorialbot generate my checklist

[2022-03-21 08:03] oliviaguest commented on #3956
Thanks, all.

I'm going to think about some points raised above, but I do think 4, 6, 8, pasted below, are worthy of comment/consideration from the authors:

[2022-03-21 08:05] humanfactors commented on #4250
Hi @OlgerSiebinga, I've made an Issue regarding my feedback on the JOAN side (rather than paper itself): https://github.com/tud-hri/joan/issues/10

Overall, I think this is an impressive contribution to human factors research! I admit though, I couldn't get Carla installed, and I am not familiar enough with JOSS to know whether the manual compilation and installation is an issue at all.

The only

[2022-03-21 09:35] liquidcronos commented on #3967
Hey Guys, sorry for the late response, I was on vacation.
I just wanted to quickly thank everyone involved with this paper, although the process took longer than expected I really enjoyed how open and transparent this process was.
Special thanks also to you @danielskatz for being the editor even though you are normally not an editor in the robotics domain.

[2022-03-21 10:12] timtroendle commented on #4229
@jasondegraw, would that be possible?

[2022-03-21 10:13] timtroendle commented on #4229
👋 @nmstreethran & @willu47, would any of you be willing to review this submission for JOSS?

[2022-03-21 10:32] leouieda commented on #4217
👋🏽 Hi @valentineap @hemmelig @hfmark just wanted to check in and see how the review is going. It's been a bit quiet here but I see both reviewers are progressing on the checklists. Please don't hesitate to ask if you have any questions 🙂

[2022-03-21 10:38] fabian-s commented on #4255
@kthyng  sure, I can take this on.

[2022-03-21 10:53] olejandro commented on #4229
@timtroendle Appologies for a slow response. Yes, I would be able to review this.
Also @StefanP87 (https://publons.com/researcher/1181337/stefan-petrovic/) may be interested / is knowledgeble about the topic.

[2022-03-21 10:57] jspaezp commented on #3990
@editorialbot generate pdf

[2022-03-21 10:58] jspaezp commented on #3990
@whedon generate pdf

[2022-03-21 10:58] jspaezp commented on #3990
@editorialbot generate pdf

[2022-03-21 11:19] arfon commented on #4247
For future EiC on rotation, `@dfm` may be a good handling editor here.

[2022-03-21 11:34] Bisaloo commented on #4193
Hi @marekborowiec :wave:, friendly reminder that your feedback on this [piece of software](https://github.com/flu-crew/smot) and [related paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04193/joss.04193/10.21105.joss.04193.pdf) would be appreciated.

I understand if you are busy so feel free to let me know if you need more time. This message is mainly to keep this on your ra

[2022-03-21 11:42] lucydot commented on #4234
Thanks @garrettj403 for your response  - I hadn't realised you were doing another review for JOSS.

@dilawar I'll see who else we can get to review - see if I can match you up with someone with complimentary skills before confirming either way if that is ok.

[2022-03-21 11:44] lucydot commented on #3742
Excellent - thank you for your update @WilkAndy. @nasserma I will wait here for an update comment from yourself or your team before proceeding to the next stage.

[2022-03-21 12:07] AKuederle commented on #4235
@adi3 I am not sure if you want to wait for other reviewers to respond. In case you need more suggestions for potential reviewers, I checked the reviewer list again with "less" strict requirements, and here are a couple more suggestions:

arianesasso
briandesilva
tuelwer
LukasAdamowicz
nhejazi
finsberg

[2022-03-21 12:10] Kevin-Mattheus-Moerman commented on #4148
@arcaldwell49 can you check the comments above :point_up: ?

[2022-03-21 12:10] Kevin-Mattheus-Moerman commented on #4148
@openjournals/dev can you check my query?

[2022-03-21 12:11] danielskatz commented on #4255
@editorialbot assign @fabian-s as editor

[2022-03-21 12:12] danielskatz commented on #4148
Yes, looks like a bug - @xuanxu ?

[2022-03-21 12:15] arcaldwell49 commented on #4148
@Kevin-Mattheus-Moerman  Apologies, I thought I posted this here, but the paper has been updated to address those comments

https://raw.githubusercontent.com/arcaldwell49/SimplyAgree/master/paper/paper.md

[2022-03-21 12:20] fabian-s commented on #4255
:wave:
@elimillera @sestelo @Palash63
would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-21 12:37] arfon commented on #3444
@raerickson – JOSS has a strong preference for a service with archiving in it's mission. As such, I've made an archive of the software myself with Zenodo here: `10.5281/zenodo.6373008`

In preparing this archive, I noticed a (possibly) bigger challenge, this software is not actually licensed with an OSI-approved license (https://code.usgs.gov/umesc/quant-ecology/fishstan/-/blob/master/LICENSE.md).

[2022-03-21 12:38] danielskatz commented on #4256
@Yurlungur - what you've done is fine. We just need to figure out how to get our new bot to work with it.

[2022-03-21 12:40] danielskatz commented on #4256
@xuanxu (and @arfon) - My thought here is to change the branch to main, run check repository, then change the branch back.  This seems painful and maybe error-prone. How do you think we should handle cases like this, where the author provides a custom branch with the paper, but we want to check the content of the code that is not in that branch?

I'll do my painful thing for now, so we can move th

[2022-03-21 12:41] danielskatz commented on #4256
@editorialbot set main as branch

[2022-03-21 12:41] danielskatz commented on #4256
@editorialbot check repository

[2022-03-21 12:41] danielskatz commented on #4256
@editorialbot set joss-paper as branch

[2022-03-21 12:57] pratikvn commented on #4225
@danasolav, thank you for the invitation, but unfortunately this submission seems a bit outside my field of expertise, so I dont think I would be suitable as a reviewer.

[2022-03-21 13:10] tpeulen commented on #4080
@editorialbot generate my checklist

[2022-03-21 13:26] kbarnhart commented on #3444
@raerickson [this](https://www.usgs.gov/software-management/distribution-usgs-code) is the best publicly available guidance I've found on what licenses are permitted and/or encouraged for USGS-authored software releases. I've pasted the key text below. In short, of the three licenses listed, only CC0 1.0 is not on the list of [OSI approved licenses](https://opensource.org/licenses/alphabetical). I

[2022-03-21 13:32] KristinaRiemer commented on #4030
@hongyuanjia it's all good! I just wanted to make sure things are moving along and nothing is blocking your work.

[2022-03-21 13:44] jgostick commented on #3957
@editorialbot remove @dxm447 from reviewers

[2022-03-21 13:55] jgostick commented on #3957
Hi @nanthony21, having had no response from the other reviewer, I have removed them and just done the review myself.  Everything looks GREAT.  I was not able to test the 'functionality' thoroughly, since I don't really do this sort image analysis, but I do lots of other image analysis (tomograms of porous media) and I can clearly see that this package is first-rate.  So I will begin the process of

[2022-03-21 13:57] jgostick commented on #3957
Hi @nanthony21, can you address the items in first checklist below?

# Post-Review Checklist for Editor and Authors
## Additional Author Tasks After Review is Complete
- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
-

[2022-03-21 14:08] noah80 commented on #4229
@timtroendle I would also be able. Sorry for the slow response.

[2022-03-21 14:30] victorsacek commented on #4070
Dear @jedbrown, @rbeucher, and @psanan

Thank you very much for the detailed revision of our code and documentation.
Zenodo archived the version v0.1.5.1 of the Manydoc code:
10.5281/zenodo.6373350

[2022-03-21 14:30] bmcfee commented on #3934
@sergioburdisso checking in again.  It's been over a month since we've heard from you.

[2022-03-21 14:56] jasondegraw commented on #4229
@timtroendle Yes, I can do it by the end of April

[2022-03-21 14:58] diehlpk commented on #4227
Hi @alcantarar or @abhishektha or @yangbai90 would you be interested to review this paper?

[2022-03-21 15:02] editorialbot opened #4259 "[PRE REVIEW]: LenslessPiCam: A Hardware and Software Platform for Lensless Computational Imaging with a Raspberry Pi"
**Submitting author:** @ebezzam (<a href="http://orcid.org/0000-0003-4837-5031">Eric Bezzam</a>)
**Repository:** https://github.com/LCAV/LenslessPiCam
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @danasolav
**Reviewers:** @antipa, @vboomi, @raolivei13
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/251f14f2ffe4ccf239796ad

[2022-03-21 15:03] alcantarar commented on #4227
Sorry, I can't commit to a review at this time.

[2022-03-21 15:06] danielskatz commented on #4259
@editorialbot check references

[2022-03-21 15:09] danielskatz commented on #4259
👋 @ebezzam - this software looks really interesting, but I'm not sure if it fits the definition of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS might not consider it in scope for review as research software.

The editors will

[2022-03-21 15:09] danielskatz commented on #4259
@editorialbot query scope

[2022-03-21 15:09] danielskatz commented on #4259
@xuanxu - any idea why the reference check isn't happening?

[2022-03-21 15:10] danielskatz commented on #4120
@LeonidPryadko - did my comment/explanation help?

[2022-03-21 15:11] danielskatz commented on #3996
👋 @fredstro & @videlec - another ping on the questions immediately above...

[2022-03-21 15:12] danielskatz commented on #4241
@editorialbot generate pdf

[2022-03-21 15:13] danielskatz commented on #4241
@editorialbot check references

[2022-03-21 15:14] danielskatz commented on #4241
👋 @bastorer - @kthyng will begin editing this and get the process started, but then likely will go on leave before the process finishes - I'll take over at that point.

[2022-03-21 15:15] danielskatz commented on #4241
@whedon assign @kthyng as editor

[2022-03-21 15:16] danielskatz commented on #4241
@editorialbot assign @kthyng as editor

[2022-03-21 15:18] danielskatz commented on #4253
@editorialbot check references

[2022-03-21 15:24] danielskatz commented on #4253
👋 @VivianePons - would you be able to edit this submission?

[2022-03-21 15:24] danielskatz commented on #4253
@editorialbot invite @VivianePons as editor

[2022-03-21 15:31] danielskatz commented on #4254
👋 @chrisaberson - I think work is needed in your README to meet JOSS criteria, but we could wait for this to come up in the review process.

A more serious issue, however, is that the license you have chosen (CC0) is not an OSI-approved license, so JOSS cannot review/publish this work.  See https://opensource.org/faq#cc-zero.  If you are willing to change the license to an OSI-approved license, we

[2022-03-21 15:32] jedbrown commented on #4070
@editorialbot set v0.1.5.1 as archive

[2022-03-21 15:34] jedbrown commented on #4070
@victorsacek Please edit the metadata on your DOI so the authors match this paper.

[2022-03-21 15:34] jedbrown commented on #4070
@editorialbot set 10.5281/zenodo.6373350 as archive

[2022-03-21 15:34] jedbrown commented on #4070
@editorialbot set v0.1.5.1 as version

[2022-03-21 15:35] danielskatz commented on #4256
@Yurlungur - Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be in

[2022-03-21 15:35] jedbrown commented on #4070
@editorialbot generate pdf

[2022-03-21 15:35] danielskatz commented on #4256
@editorialbot query scope

[2022-03-21 15:44] danielskatz commented on #4093
@brandons209 - I'll proofread the paper now (as the AEiC on duty this week).

[2022-03-21 15:49] danielskatz commented on #4093
@brandons209 - I'm suggesting some small language changes in https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/pull/61 - please merge this or let me know what you disagree with.  Once we do this, and get the last checkbox issue resolve, we can move to final acceptance and publication

[2022-03-21 15:53] danielskatz commented on #4080
@AlphonsG, @YuliyaLab - As the AEiC on duty this week, I'll now do a final proofread of the paper

[2022-03-21 15:53] danielskatz commented on #4080
@editorialbot recommend-accept

[2022-03-21 15:55] chrisaberson commented on #4254
@danielkatz

I have updated the licence. My apologies. I was unaware of the differences
between licences. I just used what I saw others using. Licence has been
changed to GNU public 3

On Mon, Mar 21, 2022 at 8:31 AM Daniel S. Katz ***@***.***>
wrote:

[2022-03-21 15:56] arfon commented on #4259
@editorialbot check references

[2022-03-21 16:00] zarrarkhan commented on #4015
@maczokni @hugoledoux

Thank you for your earlier comments. We have tried to address all of your comments and made the following changes. Please, pull in the latest changes from `main` to test these and let us know if you have any additional comments.

- We have removed the dependency on the `sp` package and switched to `sf`. All `rmap` internal data maps are now `sf` objects
- We added the abilit

[2022-03-21 16:03] danielskatz commented on #4254
@editorialbot invite @jbytecode as editor

[2022-03-21 16:03] chartgerink commented on #3741
@dustinstoltz did you have a chance to take a look at some of the questions posed by @cmaimone in your repository?

I apologize for how long it's been since your original submission and appreciate your patience!

[2022-03-21 16:09] jbytecode commented on #4254
@danielskatz of course, gladly, thanks

[2022-03-21 16:09] chrisaberson commented on #4254
@jbytecode

Just revised on github

[2022-03-21 16:10] jbytecode commented on #4254
@editorialbot commands

[2022-03-21 16:14] danielskatz commented on #4045
@nastaran62 - sorry for the delay in processing this - it somehow was overlooked last week

[2022-03-21 16:22] danielskatz commented on #4022
@chchch - here's what I see
<img width="554" alt="Screen Shot 2022-03-21 at 11 19 51 AM" src="https://user-images.githubusercontent.com/2913845/159304812-1a994f9e-0317-4e1b-8917-5fb7fc5b4417.png">

I expect to see a title that matched that of the paper: "helayo: Reconstructing Sanskrit texts from manuscript witnesses".

The section labeled "How can I edit the metadata of a published record?" in ht

[2022-03-21 16:23] danielskatz commented on #4022
👋 @kinow (and @galessiorob) - I see one checkbox is not checked (performance) - can you check this?  If not, why not?

[2022-03-21 16:26] danielskatz commented on #4093
@jgostick - thanks - I missed that earlier discussion.

[2022-03-21 16:44] raerickson commented on #3444
@arfon  and @kbarnhart Thank you both of you for helping!

I changed switched to an Unlicense.

I added a sentence to manuscript

Please let me know if you need me to do anything else.

[2022-03-21 16:52] xuanxu commented on #4259
The [Crossref API](https://api.crossref.org/) is currently down and returning timeout errors.
The `check references` command should work once they solve the problem.

[2022-03-21 17:02] danielskatz commented on #4259
Is this something we can catch and report to the command issuer?

[2022-03-21 17:36] christinahedges commented on #4017
@editorialbot generate pdf

[2022-03-21 17:36] christinahedges commented on #4017
@editorialbot check references

[2022-03-21 17:40] xuanxu commented on #4259
Probably, at least a general message pointing to a problem with the Crossref calls should be feasible

[2022-03-21 17:40] xuanxu commented on #4259
@editorialbot check references

Should work now

[2022-03-21 17:41] christinahedges commented on #4078
@florisvb thank you for adding this, it looks like the authors are not the same as in the paper (I think two author names may be missing?) Can you edit the meta data to make the authors consistent? Ideally they should be names not usernames.

[2022-03-21 17:43] danielskatz commented on #4259
👋 @ebezzam, while the scope review happens, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to b

[2022-03-21 17:43] christinahedges commented on #4017
@Tohuvavohu and @dfm, thank you so much for your thorough review of this submission! JOSS only works with great reviewers so thank you for your time and effort!

@BjoernBiltzinger it looks like the reviewers have completed their checklists, and your submission paper looks good to me. It seems like there are some issues with the references that should be simple for you to fix (see above). Please ca

[2022-03-21 17:43] danielskatz commented on #4253
@editorialbot check references

[2022-03-21 17:56] danielskatz commented on #3444
@raerickson - I'm the AEiC on duty this week, so I'm going to do a final proofread/check now

[2022-03-21 17:56] danielskatz commented on #3444
@editorialbot recommend-accept

[2022-03-21 18:01] danielskatz commented on #3444
@editorialbot accept

[2022-03-21 18:03] editorialbot opened #4260 "[PRE REVIEW]: PyToughReact – A Python Package for automating reactive transport and biodegradation simulations."
**Submitting author:** @temmy222 (<a href="http://orcid.org/0000-0002-0550-318X">TEMITOPE AJAYI</a>)
**Repository:** https://github.com/temmy222/PyTOUGHREACT
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/fe156b86fe013eebd4c70686b1ccf47a/status.sv

[2022-03-21 18:05] danielskatz commented on #4260
👋 @temmy222 - we require an OSI-approved open source license for the software before we can review it.

[2022-03-21 18:06] danielskatz commented on #4260
In addition, you could work on the possibly missing DOI that editorialbot suggests, but note that this may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in a new comme

[2022-03-21 18:06] VivianePons commented on #4253
@editorialbot assign @VivianePons as editor

[2022-03-21 18:08] danielskatz commented on #4260
Finally, the paper could use some proofreading. At the end of the Acknowledgments, I see "paper".  The last clause in the Statement of Need section should actually be a new sentence.  etc.

[2022-03-21 18:11] finagle29 commented on #3612
@arfon could you rerender the published PDF?
I noticed this just now, but as a result of the footnote issue, the citation string on the JOSS website includes a open square bracket as the last character of my last name:
`Roberson[ et al., (2022). DBSP_DRP: A Python package for automated spectroscopic data reduction of DBSP data. Journal of Open Source Software, 7(70), 3612, https://doi.org/10.21105

[2022-03-21 18:11] danielskatz commented on #4260
Due to the relatively small amount of code (outside the pytough directory), the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-03-21 18:11] danielskatz commented on #4260
@editorialbot scope query

[2022-03-21 18:12] #3444 closed

[2022-03-21 18:41] florisvb commented on #4078
@christinahedges -- do you mean in the pynumdiff/__version__.py  file? I
updated/corrected that author list. If there is a different list you were
referring to let me know.

Updated release info:

Tagged release: PyNumDiff 0.1.2.4
DOI: 10.5281/zenodo.6374098
Link: https://zenodo.org/record/6374098#.YjjGEVNKj6o

On Mon, Mar 21, 2022 at 10:41 AM Christina Hedges ***@***.***>
wrote:

--
Floris van Br

[2022-03-21 18:42] kinow commented on #4022
I thought I had checked off that option, sorry. Done 👍

[2022-03-21 18:51] christinahedges commented on #4078
Hi @florisvb I actually meant the zenodo meta data:

<img width="765" alt="image" src="https://user-images.githubusercontent.com/14965634/159343264-59082845-6058-47db-b6ae-ce8b05cf2f96.png">

You can see the author names under the title and they are usernames, not people names, and I believe there were 5 authors in your submission, you should be able to edit this meta data in zenodo.

[2022-03-21 18:54] szwiep commented on #4091
@kbarnhart thank you very much for your initial feedback and recommendations for the model, and thank you for your patience while we implemented them! The recommendations have all been addressed so I believe we're ready to resume the submission.

[2022-03-21 18:58] Yurlungur commented on #4256
Thanks, @danielskatz . I'll look at the references. Please let me know if you have any questions regarding the code. I'm happy to discuss the project and why I believe it satisfies the substantial scholarly effort criterion.

[2022-03-21 19:03] danielskatz commented on #4256
Perhaps you can go ahead and state here why you believe the code satisfies the substantial scholarly effort criterion?

[2022-03-21 19:08] temmy222 commented on #4260
@editorialbot check references

[2022-03-21 19:10] temmy222 commented on #4260
@editorialbot check references

[2022-03-21 19:15] danielskatz commented on #4260
When I look at t2react.py, I see
[code]
This makes me wonder how to interpret your statement that this is a new file you created.  Can you explain?

[2022-03-21 19:16] temmy222 commented on #4260
@editorialbot commands

[2022-03-21 19:42] danielskatz commented on #4260
Is there some way you can generate a diff that shows exactly what you have added?

[2022-03-21 19:47] victorsacek commented on #4070
Thank @jedbrown. Now the metadata was corrected.

[2022-03-21 19:56] osorensen commented on #4239
:wave: @bencardoen @Ykarpate @fepegar would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-21 20:16] danielskatz commented on #4257
To check the compilation error, you can click on the error link above.  In general, please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). You can use the command `@editorialbot generate pdf` after making changes to the .md file to make a new PDF. editorialbot commands need to be the first entry in a new comment.

[2022-03-21 20:17] danielskatz commented on #4257
The error says "found a tab character that violate indentation while scanning a plain scalar at line 23 column 11 (Psych::SyntaxError)"

[2022-03-21 20:39] jlarsen-usgs commented on #3852
@editorialbot check references

[2022-03-21 20:40] jlarsen-usgs commented on #3852
@editorialbot check references

[2022-03-21 21:28] christinahedges commented on #4078
@editorialbot set 10.5281/zenodo.6374098 as archive

[2022-03-21 21:29] christinahedges commented on #4078
@editorialbot set v0.1.2.4 as version

[2022-03-21 21:30] christinahedges commented on #4078
@florisvb thank you for your submission and thank you again to reviewers @pmli and @billtubbs for their thorough review. I'm now happy to recommend this submission for acceptance. Watch this space for next steps!

[2022-03-21 21:30] christinahedges commented on #4078
@editorialbot recommend-accept

[2022-03-21 21:36] danielskatz commented on #4078
@florisvb - the zenodo archive's title is not the same as the title of the paper.  Can you update it?  (I'm the AEiC on duty this week and will handle the rest of the submission's processing)

[2022-03-21 21:37] kthyng commented on #4241
@bastorer Can you take a look at this list of reviewer volunteers and suggest people that you think would fit this submission? Please don't use `@`, just list their handles. https://bit.ly/joss-reviewers

Also as implied by @danielskatz, can you take a look at the [paper requirements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) and make sure you've covered a

[2022-03-21 21:41] danielskatz commented on #4078
In addition, I've suggested a bunch of small changes in https://github.com/florisvb/PyNumDiff/pull/27 - please merge this or let me know what you disagree with.

[2022-03-21 21:45] arfon commented on #3612
@editorialbot accept

[2022-03-21 21:48] bastorer commented on #4241
Hi @kthyng

NoraLoose would be a good fit topic-wise ( they use similar methodologies in their work ). Comparing domains/topics, ali-ramadhan and ashwinvis look like they could also be a good fit.

I think I covered the paper requirements, but I agree that the paper is rather short. Is it okay if I update the paper tomorrow and send you a reply once that's done before you send it off to reviewers?

[2022-03-21 22:02] kthyng commented on #4241
@bastorer Probably the review process won't get underway so quickly, so please go ahead and update as you suggest. And note that the paper indeed isn't meant to be very long — just long enough to cover what is necessary. I'll reach out to potential reviewers in the meantime.

[2022-03-21 22:06] temmy222 commented on #4260
Thank you for your response

I used the website diffchecker.com to generate a diff. You can check the differences between the t2data.py file and t2react.py file here https://www.diffchecker.com/qWTlNgyf

Thank you

[2022-03-21 22:10] kthyng commented on #4241
Hi @ali-ramadhan and @NoraLoose! Are you interested in reviewing this JOSS submission? We would ask for reviews within 4–6 weeks, but that generally means starting the process sooner since it tends to be iterative between the reviewers and author(s). You can read more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
Thanks for your consideration!

[2022-03-21 22:35] florisvb commented on #4078
Pull request accepted, and title on zenodo is now updated.

- Floris

On Mon, Mar 21, 2022 at 2:41 PM Daniel S. Katz ***@***.***>
wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate Program for Neuroscience
University of Nevada, Reno

Wildlife and Landscape Photography
Galleries: http://www.ArtInNaturePhotography.com/
Blog: h

[2022-03-21 22:44] danielskatz commented on #4078
@editorialbot recommend-accept

[2022-03-21 23:00] danielskatz commented on #4078
sorry @florisvb - I also see some bib changes that are needed - in https://github.com/florisvb/PyNumDiff/pull/28.  And once this is done, I think I will need to talk to @arfon about some bugs in our processing of some of these elements...

[2022-03-21 23:28] florisvb commented on #4078
Pull request accepted, thanks for catching those..

On Mon, Mar 21, 2022 at 4:00 PM Daniel S. Katz ***@***.***>
wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate Program for Neuroscience
University of Nevada, Reno

Wildlife and Landscape Photography
Galleries: http://www.ArtInNaturePhotography.com/
Blog: http://www.ArtInNat

[2022-03-21 23:32] danielskatz commented on #4078
@editorialbot recommend-accept

[2022-03-21 23:39] danielskatz commented on #4078
Thanks @florisvb - now we just need to fix a bug in our processing of a couple of these entries

[2022-03-21 23:47] NoraLoose commented on #4241
Hi @kthyng! Yes, I would be happy to review this submission. Thanks!

[2022-03-22 01:25] hfmark commented on #4217
Hi @valentineap - here are some more comments for you! I'll try not to be too repetitive, but I've got some overlap with @hemmelig's thoughts (plus a few other small things). Overall, I think this is a really neat tool, and as someone who has spent far too much time trying to compile and run reflectivity codes, I appreciate how easy it is to install and run.

**Code functionality**

I'm also a bit

[2022-03-22 01:55] untzag commented on #2688
I apologize for my absence in this review. I intend to spend time reviewing this package on Wednesday.

[2022-03-22 03:18] brandons209 commented on #4093
@danielskatz Looks good, I merged the PR.

[2022-03-22 04:27] LeonidPryadko commented on #4120
I created a release on Zenodo
https://zenodo.org/record/6374559

I also tried to follow the instructions on the release page and created a
.zenodo.json file in the repository.
However, after re-releasing the package, the Zenodo release failed, with a
cryptic message.
Any suggestions?
Specifically, is there a way to verify the validity of the `.zenodo.json`
file without generating a release?

Thank

[2022-03-22 05:34] AlphonsG commented on #4080
@editorialbot generate pdf

[2022-03-22 05:38] AlphonsG commented on #4080
Thanks for the suggestions @danielskatz, I've updated the paper accordingly.

[2022-03-22 06:42] elimillera commented on #4255
@fabian-s I can review. Thanks!

[2022-03-22 07:22] csoneson commented on #4188
👋🏻 @juanvillada, @sahilseth - would you be interested in reviewing this submission for JOSS?

[2022-03-22 07:29] bkmi commented on #4205
I thought I'd just check in and see how things were going with the review @olgadoronina! Any updates?

[2022-03-22 07:34] arfon commented on #3612
This looks to be fixed now @finagle29?

[2022-03-22 08:15] jbytecode commented on #4254
@chrisaberson if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-03-22 09:01] eferrea commented on #3956
Dear Editor (@oliviaguest), many thanks for restricting the review to the most reasonable points. We see the benefit in addressing point 6, which can be achieved with reasonable effort given that the code is also already shared inside the lab and with external collaborators. Point 8 is very minor and we have already addressed it in the readme file. Regarding point 4, we were wondering whether in i

[2022-03-22 09:11] xuanxu commented on #4148
Fix deployed. This should be `1, 2` now.

[2022-03-22 09:17] valentineap commented on #4217
@hemmelig @hfmark Thank you both for taking the time to do this, and for your detailed comments -- much appreciated. I will take a few days to digest before I respond to anything.

@hemmelig The other reference for microseismic applications would be Tom O'Toole's PhD thesis: record [here](https://ora.ox.ac.uk/objects/uuid:9dcaca2e-c141-4e8a-94f6-34a9ff50d061). IIRC, he had an unpublished chapter l

[2022-03-22 09:22] Kevin-Mattheus-Moerman commented on #3920
@antoinevacavant @Thibault-Pelletier how are you getting on addressing @deepakri201 's comment on documentation?

[2022-03-22 09:23] Kevin-Mattheus-Moerman commented on #3920
@lassoan thanks again for your help with this review. I hope you can pick up the review at this point. Let me know if you have any questions.

[2022-03-22 09:29] erling6232 commented on #4133
Dear all,

Thanks for your effort in reviewing this work. I appreciate it!

There are automated tests implemented as github actions, which run through all unittests (approx 190 tests) on every update. These tests are successful on python 3.6-3.9.

Thanks for point out that community guidelines were missing. A CONTRIBUTING.rst file has been added!

[2022-03-22 09:33] fabian-s commented on #4255
@editorialbot add @elimillera as reviewer

[2022-03-22 09:34] fabian-s commented on #4255
@sestelo @Palash63
would either of you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-22 09:44] pdebuyl commented on #4222
Hi @kthyng may I deflect this? I am interested but got a lot of delay on other work items, including my JOSS editorial duties, since january and would like to focus on those in the short term.

[2022-03-22 10:06] chchch commented on #4022
Ah, I see. Ok, I've changed the Zenodo metadata to mimic the paper.

[2022-03-22 10:14] sestelo commented on #4255
I'm sorry but, at this moment, I can't review this submission... :( best!

[2022-03-22 10:47] Nikoleta-v3 commented on #4135
Thank you @PaulSt. Note that you left some commented out [lines](https://github.com/PaulSt/NGSTrefftz/blob/ffe8537814137f59bb0f4d0a31d2527f9b78042e/.github/workflows/build.yml#L75-L81) in the `build.yml` file.

At this point could you:

- [ ] Let me know which tagged release of your software we should use (I am assuming [v0.0.7](https://github.com/PaulSt/NGSTrefftz/releases/tag/v0.0.7)).
- [ ] Arc

[2022-03-22 11:19] jonasteuwen commented on #4239
@osorensen I believe @silvandeleemput could be a good reviewer. I do have a JOSS paper together with him.

[2022-03-22 12:11] danielskatz commented on #4222
Yes, we'll find another editor

[2022-03-22 12:16] danielskatz commented on #4222
👋 @jbytecode - Would you be able to edit this submission?

[2022-03-22 12:16] danielskatz commented on #4222
@editorialbot - invited @jbytecode as editor

[2022-03-22 12:17] danielskatz commented on #4222
@editorialbot invite @jbytecode as editor

[2022-03-22 12:24] danielskatz commented on #4093
@editorialbot recommend-accept

[2022-03-22 12:28] danielskatz commented on #4120
At this point, I suggest we use https://zenodo.org/record/6374733#.YjnAPC-B1_4 (https://doi.org/10.5281/zenodo.6374733), and you just updated the metadata in this deposit so that the title matches the title of the paper.  See the section labeled "How can I edit the metadata of a published record?" in https://help.zenodo.org/ for how to do this.

[2022-03-22 12:28] danielskatz commented on #4120
@editorialbot set 0.8.5 as version

[2022-03-22 12:28] danielskatz commented on #4120
@editorialbot set 10.5281/zenodo.6374733 as archive

[2022-03-22 12:30] danielskatz commented on #4093
@editorialbot accept

[2022-03-22 12:32] danielskatz commented on #4148
@editorialbot recommend-accept

to verify @xuanxu's fix message

[2022-03-22 12:32] po60nani commented on #4024
@emdupre, Thank you for the comprehensive explanation. We changed the manuscript based on your explanation and comments regarding reference corrections.

- We added the following sentence to clarify the PiSCAT dependencies:

_`PiSCAT uses a set of dependencies (e.g. PyQtGraph, scikit-learn/image [@scikit-learn], Trackpy [@Trackpy], and Astropy [@astropy:2018]) that assist us in achieving various g

[2022-03-22 12:35] danielskatz commented on #4148
Thanks @xuanxu - looks good.

[2022-03-22 12:36] danielskatz commented on #4148
👋 @Kevin-Mattheus-Moerman - back to you, or let me know if you want me to wrap things up since I'm on duty this week

[2022-03-22 12:36] po60nani commented on #4024
@editorialbot generate pdf

[2022-03-22 12:40] danielskatz commented on #4093
Congratulations to @brandons209 and co-authors!!

And thanks to @blthayer and @SarthakJariwala for reviewing, and @jgostick for editing!
We couldn't do this without you

[2022-03-22 12:40] #4093 closed

[2022-03-22 12:43] danielskatz commented on #4080
@editorialbot accept

[2022-03-22 12:51] timtroendle commented on #4229
Great, many thanks @olejandro, @noah80, and @jasondegraw!

@LeonieFierz, we will move on with these three reviewers.

[2022-03-22 12:51] timtroendle commented on #4229
@editorialbot add @noah80 as reviewer

[2022-03-22 12:52] timtroendle commented on #4229
@editorialbot add @jasondegraw as reviewer

[2022-03-22 12:52] timtroendle commented on #4229
@editorialbot start review

[2022-03-22 12:52] editorialbot opened #4261 "[REVIEW]: CESAR-P: A dynamic urban building energy simulation tool"
**Submitting author:** @kristina-o (<a href="http://orcid.org/0000-0001-6491-7641">Kristina Orehounig</a>)
**Repository:** https://github.com/hues-platform/cesar-p-core
**Branch with paper.md** (empty if default branch): master
**Version:** v2.3.1
**Editor:** @timtroendle
**Reviewers:** @olejandro, @noah80, @jasondegraw
**Archive:** 10.5281/zenodo.7150137

## Status

[![status](https://joss.theoj.

[2022-03-22 12:52] #4229 closed

[2022-03-22 12:53] timtroendle commented on #4229
Thank you @samuelduchesne, @nmstreethran, and @willu47. We have now moved on with the reviewers above.

[2022-03-22 12:56] danielskatz commented on #4080
Congratulations to @AlphonsG (Alphons Gwatimba) and co-authors!!

And thanks to @tpeulen and @Assistedevolution for reviewing, and @jmschrei for editing!
We couldn't do this without you!

[2022-03-22 12:56] #4080 closed

[2022-03-22 12:56] timtroendle commented on #4261
@olejandro, @noah80, @jasondegraw, I will set a reminder for each of you in three weeks from now to see where you stand with your review at that point in time.

[2022-03-22 12:57] timtroendle commented on #4261
@editorialbot remind @olejandro in three weeks

[2022-03-22 12:57] timtroendle commented on #4261
@editorialbot remind @noah80 in three weeks

[2022-03-22 12:57] timtroendle commented on #4261
@editorialbot remind @jasondegraw in three weeks

[2022-03-22 12:59] danielskatz commented on #4022
@editorialbot recommend-accept

[2022-03-22 13:16] danielskatz commented on #4022
Congratulations to @chchch (Charles Li)!!

And thanks to @kinow and @xiaohk for reviewing, and @galessiorob for editing!
We couldn't do this without you

[2022-03-22 13:16] #4022 closed

[2022-03-22 13:19] danielskatz commented on #4247
This has passed the scope review, and we'll now find an editor

[2022-03-22 13:19] danielskatz commented on #4247
👋 @dfm - as suggested by `@arfon`, are you willing to edit this submission?

[2022-03-22 13:19] danielskatz commented on #4247
@editorialbot invite @dfm as editor

[2022-03-22 13:33] elizabethnewman commented on #4171
Dear @yhtang and @GregaVrbancic,

I hope you are doing well!  I tried to address your helpful comments about reproducibility a couple of weeks ago.  Have I addressed your concerns adequately?  Do you have any other comments or suggestions about the repository and/or paper?
Thank you again for reviewing this work!

[2022-03-22 14:37] rkurchin commented on #4164
Hi all, checking in on this – in particular, @alejandrogallo, do you have questions/issues?

And @arepstein, I know there are potentially a few things to discuss here regarding the abnormal termination warnings, but I see your checklist is done, so are you happy to accept this at its current state?

[2022-03-22 14:43] rkurchin commented on #4149
Hi all, checking in on this! Happy for any general updates, but here are some questions related to specific issues:
* @blakeaw, were you able to resolve the issues with testing from https://github.com/Cascella-Group-UiO/HyMD/issues/160 ?
* @mortele (and/or @Lun4m and @samiransen23), what's the status of the community guidelines as discussed at https://github.com/Cascella-Group-UiO/HyMD/issues/159

[2022-03-22 14:44] rkurchin commented on #4040
Hi @wcwitt and @awvwgk, have you had a chance to take a look at the changes @Evmoerman made?

[2022-03-22 14:45] rkurchin commented on #4104
Hi again reviewers (@andyfaff, @sangpham171), have you had a chance to take another look at this?

[2022-03-22 14:48] jbytecode commented on #4222
@danielskatz gladly, thanks!

[2022-03-22 15:25] arepstein commented on #4164
Hi @rkurchin , yes I'm happy to accept at its current state!

[2022-03-22 15:39] pibion commented on #3665
@zhanghe9704 just wanted to let you know I'm still looking for reviewers.  Once we find one person we can start the review.  Do you have any more relevant papers you could recommend?

[2022-03-22 15:42] pibion commented on #3665
@zhanghe9704 additional thoughts on how to recruit folks would also be welcome.  In some cases I've had success asking people to ask their grad students if reviewing is something they would like to do.  My impression is that most of the people I've been contacting are staff scientists and don't have students.

I've found a few university programs but haven't heard back.  If you know of anyone with

[2022-03-22 16:08] Kevin-Mattheus-Moerman commented on #4148
@arcaldwell49 thanks for making those changes. And thank you @xuanxu for fixing that bug. We are good to proceed now.

[2022-03-22 16:16] pibion commented on #3665
@jbengsston would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-22 16:22] sangpham171 commented on #4104
Hello. I have tried running several times on my window environment without success. Because the app has never been tested on a window environment, so I don't think I can go further in my review.

[2022-03-22 16:29] dustinstoltz commented on #3741
@chartgerink Yes, we're discussing the best ways to address each comment and hope to update it soon. Could you help clarify one thing regarding functionality? We agree we do need to add detail to the paper about functionality. Right now the package does include methods developed in three of our published papers. The package also incorporates methods we have developed but not presented in published

[2022-03-22 16:40] danielskatz commented on #4078
@editorialbot accept

(our problems are fixed)

[2022-03-22 16:42] Kevin-Mattheus-Moerman commented on #4148
@arcaldwell49 congratulations on getting this work published in JOSS!

A special thank you to @slwu89 and @itismeghasyam for reviewing this work!

Also, thanks @fboehm for editing this one.

[2022-03-22 16:42] #4148 closed

[2022-03-22 16:50] YohannDudouit commented on #4172
I opened the issue https://github.com/jeremiah-corrado/fem_2d/issues/2 containing a number of observations and suggestions.

[2022-03-22 17:37] kthyng commented on #4241
@NoraLoose Sounds good. My goal is to have the other reviewer have more experience with C++ to help give balance to the feedback. I'll add you as a reviewer now and see if we can get a second in line before starting the review. Thanks!

[2022-03-22 17:38] kthyng commented on #4241
@editorialbot assign @NoraLoose as reviewer

[2022-03-22 17:41] #4078 closed

[2022-03-22 17:46] editorialbot opened #4262 "[PRE REVIEW]: Comrade: Composable Modeling of Radio Emission"
**Submitting author:** @ptiede (<a href="http://orcid.org/0000-0003-3826-5648">Paul Tiede</a>)
**Repository:** https://github.com/ptiede/Comrade.jl
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.3.1
**Editor:** @arfon
**Reviewers:** @mileslucas, @cescalara
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/ad2af695e3987cfa61091d7c9

[2022-03-22 17:46] editorialbot opened #4263 "[PRE REVIEW]: DIANNA: Deep Insight And Neural Network Analysis"
**Submitting author:** @elboyran (<a href="http://orcid.org/0000-0002-9834-1756">Elena Ranguelova</a>)
**Repository:** https://github.com/dianna-ai/dianna
**Branch with paper.md** (empty if default branch):
**Version:** v.0.4.0
**Editor:** @taless474
**Reviewers:** @Athene-ai, @sara-02
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/f0592c1aecb3711e068b5897058

[2022-03-22 17:46] editorialbot opened #4264 "[PRE REVIEW]: ufjc: The Python package for the uFJC single-chain model"
**Submitting author:** @mrbuche (<a href="http://orcid.org/0000-0003-1892-0502">Michael R. Buche</a>)
**Repository:** https://github.com/sandialabs/ufjc
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/86d9311405cf90b4fbf9e9a5141fe953/status.svg)](

[2022-03-22 18:06] mrbuche commented on #4264
would love more books to use DOI :(

[2022-03-22 18:20] mrbuche commented on #4264
looks like the bot missed my `paper.yml` building the figure, I can fix that

[2022-03-22 18:21] danielskatz commented on #4262
@ptiede - I'll look for an editor now.  In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands

[2022-03-22 18:24] danielskatz commented on #4262
Actually, it looks like we're short on editors with availability in this area, so I'm going to put this on our waiting list until an editor becomes available.  @arfon - if you want to take this off the list and handle it, that would be fine too...

[2022-03-22 18:25] danielskatz commented on #4264
great - In addition, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` after making changes to the .md file or when the references are right to make a new PDF. editorialbot c

[2022-03-22 18:28] mrbuche commented on #4264
I pushed the figure as `paper/figure.png`, will recompile now

There are no missing DOIs -- the two references are books that do not have a DOI.

Thanks!

[2022-03-22 18:28] danielskatz commented on #4263
👋 @elboyran - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that editorialbot suggests

[2022-03-22 18:39] danielskatz commented on #4247
@editorialbot assign @dfm as editor

[2022-03-22 18:41] LeonidPryadko commented on #4120
I just corrected the title and edited the description a bit in the last
version released,
https://doi.org/10.5281/zenodo.6374733

Please let me know if any other actions are needed.

Thank you,

Leonid

On Tue, Mar 22, 2022 at 5:28 AM Daniel S. Katz ***@***.***>
wrote:

[2022-03-22 18:42] danielskatz commented on #4262
This is the only submission on it, so it just depends on when one of a set of editors completes their next submission

[2022-03-22 18:46] danielskatz commented on #4264
@mrbuche - it looks like the bib entries with DOIs that are being flagged are not actually being referenced - perhaps you could remove them from your bib file?  Editorialbot checks all entries in the bib file, so we try to ask for it to only include references that are actually cited in the paper.

[2022-03-22 18:47] danielskatz commented on #4120
Thanks - that looks good

[2022-03-22 18:47] danielskatz commented on #4120
@editorialbot recommend-accept

[2022-03-22 18:49] danielskatz commented on #4120
@xuanxu - can you help me understand this ☝️ error?

[2022-03-22 18:53] mrbuche commented on #4264
@editorialbot check references

[2022-03-22 18:54] mrbuche commented on #4264
@editorialbot generate pdf

[2022-03-22 18:59] xuanxu commented on #4120
@danielskatz it seems there's a reference in the .bib file missing the author

[2022-03-22 19:01] danielskatz commented on #4120
ok, thanks - I'll look into it.

But why don't we catch this in generate pdf?  there shouldn't be any new error in recommend-accept, I don't think

[2022-03-22 19:04] danielskatz commented on #4120
@LeonidPryadko - I think that if you can merge https://github.com/QEC-pages/QDistRnd/pull/21, it will let us progress

[2022-03-22 19:14] xuanxu commented on #4120
@editorialbot generate pdf

[2022-03-22 19:23] danielskatz commented on #4120
thanks @xuanxu - it's good to see the same error here. My next request :) would be a slightly more specific error message

[2022-03-22 19:23] xuanxu commented on #4120
Yeah :) we're working on it!

[2022-03-22 19:40] LeonidPryadko commented on #4120
I just merged it.  Please let me know if I should also generate a new
release.

Leonid

On Tue, Mar 22, 2022 at 12:05 PM Daniel S. Katz ***@***.***>
wrote:

[2022-03-22 19:41] danielskatz commented on #4120
We don't need a new release - We want the correct software to be preserved, and the final paper, but are less concerned with the paper source.

[2022-03-22 19:41] danielskatz commented on #4120
@editorialbot recommend-accept

[2022-03-22 19:45] danielskatz commented on #4120
@editorialbot accept

[2022-03-22 19:56] #4120 closed

[2022-03-22 20:41] LeonieFierz commented on #4261
thank you @timtroendle to organize everything and thank you @jasondegraw, @olejandro and @noah80 for reviewing our submission!

[2022-03-22 20:56] lukeolson commented on #4142
@whedon generate pdf from branch joss-paper

[2022-03-22 20:59] lukeolson commented on #4142
@editorialbot generate pdf from branch joss-paper

[2022-03-22 20:59] lukeolson commented on #4142
@editorialbot commands

[2022-03-22 21:00] lukeolson commented on #4142
@editorialbot set joss-paper as branch

[2022-03-22 21:00] lukeolson commented on #4142
@editorialbot generate pdf

[2022-03-22 21:03] fredstro commented on #3996
I have  addressed all issues except https://github.com/fredstro/hilbertmodgroup/issues/5
for which I don't really know what the best solution is.
It is a really complex question about Python packaging and pip build isolation.  I don't know if @videlec  agrees but for the purpose of the publication in JOSS I think that any of my proposed solutions should be sufficient and the search for an optimal

[2022-03-22 21:03] Yurlungur commented on #4256
@danielskatz sorry for the delay---it's been a busy last couple of days. Here's why I believe the code satisfies the substantial scholarly effort criterion:

The JOSS criteria for substantial scholarly effort is that "Your software should be a significant contribution to the available open source software that either enables some new research challenges to be addressed or makes addressing research

[2022-03-22 21:14] juanvillada commented on #4188
Hi @csoneson, I will be more than happy to review this manuscript.

[2022-03-22 21:16] danielskatz commented on #4256
Thanks, this is helpful.

And to clarify, this submission is just of Spiner, though, not also ports-of-call, correct?

[2022-03-22 21:16] sahilseth commented on #4188
Hi @csoneson <https://github.com/csoneson>,

Sure happy to review it.

On Tue, Mar 22, 2022 at 2:22 AM Charlotte Soneson ***@***.***>
wrote:

[2022-03-22 21:23] Yurlungur commented on #4256
I submitted just for Spiner---it didn't occur to me to bundle the two codes for the purpose of the submission. If that's more appropriate, I could revise to do so. They're separate git repositories.

[2022-03-22 21:24] Yurlungur commented on #4256
@editorialbot check references

[2022-03-22 21:24] Yurlungur commented on #4256
The `Ports-of-Call` reference does not have a DOI, so I think the missing DOI is correct.

[2022-03-22 21:25] Yurlungur commented on #4256
@editorialbot generate pdf

[2022-03-22 21:26] csoneson commented on #4188
Oh cool, thanks @juanvillada and @sahilseth! I will assign all reviewers now and open the review issue.

[2022-03-22 21:26] csoneson commented on #4188
@editorialbot assign @BatoolMM as reviewer

[2022-03-22 21:27] csoneson commented on #4188
@editorialbot add @BatoolMM as reviewer

[2022-03-22 21:28] csoneson commented on #4188
@editorialbot add @sahilseth as reviewer

[2022-03-22 21:28] csoneson commented on #4188
@editorialbot add @juanvillada as reviewer

[2022-03-22 21:28] csoneson commented on #4188
@editorialbot start review

[2022-03-22 21:28] editorialbot opened #4265 "[REVIEW]: MitoHEAR: an R package for the estimation and downstream statistical analysis of the mitochondrial DNA heteroplasmy calculated from single-cell datasets"
**Submitting author:** @gabrielelubatti (<a href="http://orcid.org/0000-0001-8495-8096">Gabriele Lubatti</a>)
**Repository:** https://github.com/ScialdoneLab/MitoHEAR
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.0
**Editor:** @csoneson
**Reviewers:** @BatoolMM, @sahilseth, @juanvillada
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/9eef509

[2022-03-22 21:28] #4188 closed

[2022-03-22 21:30] sahilseth commented on #4265
@editorialbot generate my checklist

[2022-03-22 21:30] csoneson commented on #4265
👋🏼 @gabrielelubatti, @BatoolMM, @sahilseth, @juanvillada - this is the review thread for the submission. All of our communications will happen here from now on.

Please check the post at the top of the issue for instructions on how to generate your own review checklist. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewe

[2022-03-22 21:32] danielskatz commented on #4256
I'm not sure that it's more appropriate, but it would clearly be a sufficiently substantial scholarly effort.  If you want to do that, we can review multiple repositories at once, as long as it's clear in the submission.  The way to do that would be to tell me you want to withdraw this submission, and then make a new one.

On the other hand, I think you've convinced me that this (Spiner) is in suf

[2022-03-22 21:33] VivianePons commented on #4233
@editorialbot start review

[2022-03-22 21:33] editorialbot opened #4266 "[REVIEW]: OTTO: A Python package to simulate, solve and visualize the source-tracking POMDP"
**Submitting author:** @auroreloisy (<a href="http://orcid.org/0000-0002-8089-8636">Aurore Loisy</a>)
**Repository:** https://github.com/C0PEP0D/otto
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @VivianePons
**Reviewers:** @11michalis11
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/51c451ddeeb1affdb1533a4fa1582f4c/status.svg)](https:

[2022-03-22 21:33] #4233 closed

[2022-03-22 21:36] Yurlungur commented on #4256
Sounds good---thanks, @danielskatz ! In that case, I'm fine to wait and see. If the editors decide Spiner is sufficient, that's great. If not, that's fine too and I will resubmit with the two projects bundled together.

[2022-03-22 21:38] lukeolson commented on #4142
@mayrmt many thanks for your time and for your review.

Let's let @jedbrown weigh in on a separate section for a Statement of Need -- happy to add one if it's needed.

Yep, fair point.  We can add a blurb on this -- good idea.

[2022-03-22 22:04] videlec commented on #3996
I do agree : the hilbertmodgroup package does not have to solve the packaging issues that SageMath is facing! Especially in the process of the JOSS review.

[2022-03-22 22:36] kbarnhart commented on #4091
@szwiep thanks for that update. I should be able to look more closely at this near the end of this week or early next week.

[2022-03-22 22:39] lukeolson commented on #4142
@editorialbot generate pdf

[2022-03-22 22:42] lukeolson commented on #4142
@editorialbot generate pdf

[2022-03-22 23:10] OHildreth commented on #4257
Hi @kthyng,

  The repositories are in the SwiftVISA Organization page and are listed here:
https://github.com/orgs/SwiftVISA/repositories

- SwiftVISASwift
- CoreSwiftVISA
- SwiftVISAMessenger
- NISwiftVISA
- NISwiftVISAMessenger
- CVISATypes
- SwiftVISA
- NISwiftVISAService

We have made multiple repositories to separate code responsibilities and capabilities.  The original SwiftVISA wrapper onl

[2022-03-22 23:15] olgadoronina commented on #4205
Hi!, sorry for the delay, I will complete the review as soon as possible

[2022-03-22 23:16] OHildreth commented on #4257
@editorialbot generate pdf

[2022-03-22 23:18] OHildreth commented on #4257
@editorialbot generate pdf

[2022-03-22 23:23] OHildreth commented on #4257
@danielskatz

 Thanks for finding the error.  It compiled when I checked everything earlier, but I certainly wouldn't not have figured out what the error was without your help.

Thanks,
  Owen

[2022-03-22 23:31] lukeolson commented on #4142
@editorialbot generate pdf

[2022-03-23 00:17] mortele commented on #4149
Hi again @rkurchin. The docs have been updated to reflect new and improved build directives for the package. Hopefully that should be sufficient to address the last point. Regarding the finalization of the community contributor guidelines, I will have an update within a day or two. As for the first point—the mysterious `test_force` failures reported by @blakeaw, I am  so far stumped. But hopefully

[2022-03-23 00:25] danielskatz commented on #3996
thanks @videlec - when do you think you might complete your review?

[2022-03-23 00:32] lukeolson commented on #4142
@mayrmt Added a couple sentences at the end of the summary section.

[2022-03-23 00:59] AlphonsG commented on #4080
Thank you @danielskatz and all those involved for your efforts, this is great news!

[2022-03-23 02:05] lukeolson commented on #4142
@editorialbot generate pdf

[2022-03-23 02:09] lukeolson commented on #4142
@jedbrown I think we've addressed everything other than the summary.

[2022-03-23 02:45] finagle29 commented on #3612
Yes, everything looks great, thank you so much for your help!

[2022-03-23 06:00] auroreloisy commented on #4266
@VivianePons <https://github.com/VivianePons> Thank you for handling this
manuscript, should I provide you with additional reviewers suggestions?

On Tue, Mar 22, 2022 at 10:35 PM The Open Journals editorial robot <
***@***.***> wrote:

[2022-03-23 06:09] nastaran62 commented on #4045
@editorialbot check references

[2022-03-23 06:10] nastaran62 commented on #4045
@editorialbot generate pdf

[2022-03-23 06:16] nastaran62 commented on #4045
@danielskatz Thanks for your suggestions. I merged your pull request. Also, the invalid DOI in the references list is valid now because the paper is published now. I changed the citation in the bib file.

[2022-03-23 08:18] oliviaguest commented on #3956
@eferrea I suggest taking your time to address the parts you can, and we can discuss it once you have. I am totally happy with you *not using* a package management solution, as long as the steps are clear, indeed. 😊

[2022-03-23 08:36] baxmittens commented on #4222
@jbytecode thank you for editing my submission.

[2022-03-23 10:57] jeremiecoullon commented on #4113
@dfm : The fixes have all been applied and approved; what is the next step?

[2022-03-23 11:15] pdebuyl commented on #4222
Thank you @danielskatz

[2022-03-23 12:43] danielskatz commented on #4045
Thanks - My suggested changes unfortunately included a typo - can you change "descrease" to "decrease"

[2022-03-23 13:18] victorsacek commented on #4070
Dear @jedbrown

We observed that the tag for the last release is an invalid semver. We chose four numbers (v0.1.5.1) instead of three.
The correct version must be v0.1.6.
What is the best option to correct this mistake?

Thank you for your attention.

[2022-03-23 13:31] zhanghe9704 commented on #3665
Hello,

Professor Yue Hao at Michigan State University may be able to help. His
information can be found here: https://pa.msu.edu/profile/haoy/

Best,
He

On Tue, Mar 22, 2022 at 11:42 AM pibion ***@***.***> wrote:

[2022-03-23 14:52] tiagoseq commented on #3974
Hi @gdetor , just to check, when you say you cannot access the check list in the beginning of this thread, you're saying that you could not edit the comment that contains the checklist, right?
It seems that @rougier didn't have any problem with this:
![image](https://user-images.githubusercontent.com/73851660/159727697-660e8c19-1fed-43e7-ba76-fcc2f8438ae8.png)

I can't edit the edit the check list

[2022-03-23 15:13] nastaran62 commented on #4045
@danielskatz Thank you very much. Sorry I didn't see it. I fixed it.

[2022-03-23 15:39] untzag commented on #2688
@arunpersaud was the paper edited at all? If so, could we rerender it so I can take a look? Or maybe I'm missing something obvious... thanks!

[2022-03-23 15:44] untzag commented on #2688
@editorialbot generate pdf

[2022-03-23 16:20] untzag commented on #2688
I have opened several issues with ideas, but I don't think anything is blocking here. I'm ready to recommend publication once I can see the generated paper.

Regarding @garrettj403's comments about testing with hardware---in my personal opinion we can take it as a given that the hardware will work. After all, they are using this package to drive their experiments. I'm more interested in reviewing

[2022-03-23 16:21] jlarsen-usgs commented on #3852
@crvernon

Reference check passes now. All DOIs are present and recognized.

[2022-03-23 16:27] dfm commented on #4113
@jeremiecoullon great! I'm offline this week, but I'll give you some final steps next week.

[2022-03-23 16:36] wcwitt commented on #4040
Thanks for the reminder. I've looked briefly but need some more time as well.

[2022-03-23 17:05] mishioo commented on #4164
So happy to see the first green light for `tesliper`'s publication! :)
Also, an update from me, as I was finally able to introduce changes we talked about. @arepstein could you please confirm if they satisfy your suggestions?

- I've added a note about [installation in zsh](https://tesliper.readthedocs.io/en/latest/installation.html#install-from-terminal), as we discussed in [this issue](https://g

[2022-03-23 17:16] timtroendle commented on #2688
@untzag, sure let me try. The bot has been replaced in the meantime, maybe that's why it did not work for you.

[2022-03-23 17:17] timtroendle commented on #2688
@editorialbot generate pdf

[2022-03-23 17:18] timtroendle commented on #2688
@editorialbot commands

[2022-03-23 17:21] timtroendle commented on #2688
@openjournals/dev, editorialbot does not want to work with us within this submission. Any ideas why that could be the case?

[2022-03-23 17:27] danielskatz commented on #4262
@editorialbot invite @christinahedges as editor

[2022-03-23 17:29] danielskatz commented on #2688
@timtroendle - GitHub is currently having problems
<img width="1022" alt="Screen Shot 2022-03-23 at 12 29 06 PM" src="https://user-images.githubusercontent.com/2913845/159760133-6577f10b-d9b0-4cfb-804d-c4540cc8d7cb.png">
(from https://www.githubstatus.com)

[2022-03-23 17:29] danielskatz commented on #2688
I expect your generate pdf command to succeed at some future point

[2022-03-23 17:32] danielskatz commented on #4244
👋 @mmhs013 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packa

[2022-03-23 17:32] danielskatz commented on #4244
@editorialbot reject

[2022-03-23 17:32] #4244 closed

[2022-03-23 17:34] danielskatz commented on #4246
👋 @siavash-saki - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.

Some additional comments include

Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-

[2022-03-23 17:35] danielskatz commented on #4246
@whedon reject

[2022-03-23 17:35] danielskatz commented on #4246
@editorialbot reject

[2022-03-23 17:35] #4246 closed

[2022-03-23 17:36] danielskatz commented on #4258
👋 @lj5yn  - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packag

[2022-03-23 17:36] danielskatz commented on #4258
@editorialbot reject

[2022-03-23 17:36] #4258 closed

[2022-03-23 17:37] editorialbot opened #4267 "[PRE REVIEW]: Mechkit: A continuum mechanics toolkit in Python"
**Submitting author:** @JulianKarlBauer (<a href="http://orcid.org/0000-0002-4931-5869">Julian Karl Bauer</a>)
**Repository:** https://github.com/JulianKarlBauer/mechkit
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.3.9
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @nicoguaro, @likask, @lizarett
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.t

[2022-03-23 17:37] editorialbot opened #4268 "[PRE REVIEW]: HostPhot: global and local photometry of galaxies hosting supernovae or other transients"
**Submitting author:** @temuller (<a href="http://orcid.org/0000-0003-3939-7167">Tomás E. Müller-Bravo</a>)
**Repository:** https://github.com/temuller/hostphot
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/f799c5ac4263bffe2f5b144db3cd2431/statu

[2022-03-23 17:37] editorialbot opened #4269 "[PRE REVIEW]: Turing Geovisualization Engine R package"
**Submitting author:** @layik (<a href="http://orcid.org/0000-0003-1912-4890">Layik Hama</a>)
**Repository:** https://github.com/tgve/tgver
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/074dcc7787d07544ccbab25f723a4127/status.svg)](https://joss.t

[2022-03-23 17:41] danielskatz commented on #4257
👋 @gkthiruvathukal - Would you be able to edit this submission?

[2022-03-23 17:46] gkthiruvathukal commented on #4257
@editorialbot commands

[2022-03-23 17:49] danielskatz commented on #4257
`@editorialbot assign me as editor` is also a valid command 🙂

[2022-03-23 17:52] danielskatz commented on #4268
👋 @temuller - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-03-23 17:56] danielskatz commented on #4267
@editorialbot invite @jarvist as editor

[2022-03-23 17:58] danielskatz commented on #4269
@layik - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

Also, note that your paper does not compile. Please follow the [example paper](https://j

[2022-03-23 17:58] danielskatz commented on #4269
@editorialbot query scope

[2022-03-23 18:05] gkthiruvathukal commented on #4257
@danielskatz Yes, I was trying to remember the correct incantation. I cannot take this one on right now. I sent you short message on Slack to explain.  I will be able to help a bit more starting end of April. Thank you for understanding. (Chairperson life.)

[2022-03-23 19:03] jbytecode commented on #4171
Dear reviewers @yhtang and @GregaVrbancic - could you please update your status?
Thank you in advance.

[2022-03-23 19:05] jbytecode commented on #4231
Dear reviewers @Het-Shah  and @myousefi2016

Could you please update your status and inform us about your review?

Thank you in advance.

[2022-03-23 19:05] jbytecode commented on #4222
@baxmittens - any suggestions for potential reviewers?

[2022-03-23 19:31] danielskatz commented on #4045
@editorialbot recommend-accept

[2022-03-23 19:38] ptiede commented on #4262
@editorialbot check references

[2022-03-23 19:41] ptiede commented on #4262
@editorialbot check references

[2022-03-23 19:45] ptiede commented on #4262
I am not sure why the check references command is struggling with the 10.1051/aas:1996146 doi. It looks like it is ignoring the semi-colon when doing the check. The .bib file is correct.

[2022-03-23 19:46] ptiede commented on #4262
@editorialbot generate pdf

[2022-03-23 19:55] danielskatz commented on #4045
@editorialbot accept

[2022-03-23 20:08] danielskatz commented on #4045
Congratulations to @nastaran62 (Nastaran Saffaryazdi) and co-authors!!

And thanks to @ixjlyons and @peircej for reviewing, and @ajstewartlang for editing!
We couldn't do this without you

[2022-03-23 20:08] #4045 closed

[2022-03-23 20:47] blakeaw commented on #4149
Hi @rkurchin. I went ahead closed https://github.com/Cascella-Group-UiO/HyMD/issues/161 as it has been addressed. I'll work with @mortele to see if we can figure what is going on with https://github.com/Cascella-Group-UiO/HyMD/issues/160.

[2022-03-23 21:44] VivianePons commented on #4253
@editorialbot add @abhishekvp as reviewer

[2022-03-23 21:58] fboehm commented on #4251
@DanielRivasMD and @JoranTiU - please feel free to generate your review checklists per the above syntax. Please let me know if you have any questions about this.
Thanks!!

[2022-03-23 23:34] chrisaberson commented on #4254
@jbytecode
Reviewer suggestions:
brunomontezano
Metafrancois
zen-juen
chartgerink
katschueler
62442katieb

[2022-03-24 00:18] jkanche commented on #4242
@editorialbot generate my checklist

[2022-03-24 02:11] gdetor commented on #3974
@tiagoseq That invitation has expired. So that might be the problem.
@jarvist Could you please send a new invitation? Thanks

[2022-03-24 04:34] emdupre commented on #4024
Thank you, @po60nani.

Please let us know, @aquilesC, if these edits are in line with what you were expecting. Please let me know, too, if my explanation helped to clarify your questions !

[2022-03-24 06:17] Het-Shah commented on #4231
Sorry for the delay I have provided my review.

[2022-03-24 06:26] lassoan commented on #3920
I've reviewed the paper, tested the software, and went through the checklist. All checks passed but I could not tick the items (probably because I did not accept the invitation in time and now the invitation is expired).

I had some difficulty with testing vessel segmentation part because I'm not familiar enough with liver vasculature, but the feature seemed to work. Fixing @deepakri201's comments

[2022-03-24 06:29] siavash-saki commented on #4246
@danielskatz Thank you very much for reviewing the paper.

Is there any way to improve TessPy (based on your comments) so that you can reconsider it for JOSS?

[2022-03-24 06:33] jeremylt commented on #4172
Since @YohannDudouit made a pretty comprehensive review on the overall structure and I agree with many of his points, I focused on creating a few issues highlighting some more Rust specific technical aspects:

* [Error Handling](https://github.com/jeremiah-corrado/fem_2d/issues/3)
* [Struct Member Access](https://github.com/jeremiah-corrado/fem_2d/issues/4)
* [Doc Comment Code Examples](https://gi

[2022-03-24 06:44] aquilesC commented on #4024
Thanks a lot @emdupre for your explanation, and @po60nani for the updated manuscript.

I have checked the text and marked all the ticks for the review process as completed. I think the work is ready to be published.

[2022-03-24 07:38] yhtang commented on #4171
Dear @elizabethnewman and @jbytecode, I am still working to set up some computation to confirm the performance claims. Other than that, I don't have any serious concern regarding the remaining checklist items. I should be able to come back within a week or so with any findings regarding the benchmarks.

[2022-03-24 08:37] JoranTiU commented on #4251
@editorialbot generate my checklist

[2022-03-24 08:57] baxmittens commented on #4222
@jbytecode - unfortunately, this [link](https://bit.ly/joss-reviewers) with the list of reviewers from above is not working.
If you tell me, where to find this list, I would be glad to look for potential reviewers.

[2022-03-24 09:13] aaronpeikert commented on #4038
Sorry for the delay @nulberry. My review is now complete :tada:  and I am looking forward to see this published :page_facing_up:.

[2022-03-24 09:18] aaronpeikert commented on #3671
@AP6YC Could you give us an update on this? Can we somehow support you in finishing the software paper?

As @adi3 says:

[2022-03-24 09:30] mattpitkin commented on #4231
@Het-Shah Thanks for your review. I'll add my responses here:

I have contribution guidelines on the docs page [here](https://lintegrate.readthedocs.io/en/latest/installation.html#contributing) and I've now added a `CONTRIBUTING.md` file to the repo with the same information https://github.com/mattpitkin/lintegrate/commit/c368238e2a89c7eeeea34ccd0ea6a39deeba3751.

Thanks for spotting these. I've m

[2022-03-24 09:36] Het-Shah commented on #4231
@editorialbot generate pdf

[2022-03-24 10:50] Kevin-Mattheus-Moerman commented on #3920
@lassoan thanks.

We have also since moved onto a different editorial bot system. To fix your box ticking issue, can you call the following in a comment:
`@editorialbot generate my checklist`

[2022-03-24 10:55] jbytecode commented on #4222
@baxmittens - how about this: https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822

[2022-03-24 10:57] temuller commented on #4268
Thanks. Just to add some background information, `HostPhot` started as a set of scripts that I used on one of my research projects (soon to be submitted to MNRAS) and then I was asked to use them on a different research project. This was relatively recent, so that is why the repository is fairly new. I gave it the name and documentation because I thought about widely sharing it among my collaborat

[2022-03-24 11:02] timtroendle commented on #2688
Will try again as GitHub status is back to normal.

[2022-03-24 11:02] timtroendle commented on #2688
@editorialbot generate pdf

[2022-03-24 11:04] timtroendle commented on #2688
@openjournals/dev, I am sorry but we still have a problem with the paper generation here.

[2022-03-24 11:20] baxmittens commented on #4222
@jbytecode I did not look over the entire list but here are some suggestions. Hope this helps.

ChrisRackauckas
juliohm
dmbates
jarvist
Datseris
wkearn
rowanc1

[2022-03-24 12:04] danielskatz commented on #3974
bot commands need to be the first thing in a comment, but also, `@whedon` has been replaced by `@editorialbot`, and our method for generating and using checklists has changed.  In this case, and for new reviews going forward, the reviewer (@gdetor) should put `@editorialbot generate my checklist` at the start of a new comment to get a checklist to use. This is a bit confusing here, since this revi

[2022-03-24 12:05] danielskatz commented on #4246
Not beyond the comments already provided, and adding more to the software.

[2022-03-24 12:22] xuanxu commented on #2688
It looks like the paper.md file have a wrong encoding so some characters can't be properly read (second entry in the affiliations metadata should be `Technische Universität Darmstadt` here: https://bitbucket.org/berkeleylab/hardware-control/raw/7f2d41e11d309a8ffdb03aa9150f4e562951572e/paper.md)

Please save those files with UTF-8 encoding and try again

[2022-03-24 13:06] lassoan commented on #3920
@editorialbot generate my checklist

[2022-03-24 13:44] Kevin-Mattheus-Moerman commented on #3920
Thanks @lassoan! Since all your boxes are now ticked for you, could you confirm if you are happy to recommend acceptance?

[2022-03-24 13:48] lassoan commented on #3920
Yes, I would recommend acceptance. Issues https://github.com/R-Vessel-X/SlicerRVXLiverSegmentation/issues/1 and https://github.com/R-Vessel-X/SlicerRVXLiverSegmentation/issues/4 would be nice to be fixed soon but the current state of things is already acceptable for me.

[2022-03-24 13:52] elboyran commented on #4263
@danielskatz, thank you for your message.
I would like to point out that the set of Jupyter notebooks are an integral part of the package, not only the pure Python number of lines, so they should be taken into account in the total lines of code.

[2022-03-24 14:10] sbenthall commented on #3496
Hello @Natsiopoulos I was just wondering about the status of your work on this.
Have you been able to respond to the reviewer's issues?

[2022-03-24 14:49] gcdeshpande commented on #4144
Hi @sbenthall, happy to review.

[2022-03-24 15:01] sbenthall commented on #4144
Thank you @gcdeshpande ! We'll begin the formal review process shortly.

[2022-03-24 15:02] sbenthall commented on #4144
@editorialbot add @gcdeshpande as reviewer

[2022-03-24 15:03] sbenthall commented on #4144
@editorialbot start review

[2022-03-24 15:04] editorialbot opened #4270 "[REVIEW]: TrackerControl: Transparency and Choice around App Tracking"
**Submitting author:** @kasnder (<a href="http://orcid.org/0000-0002-7412-8731">Konrad Kollnig</a>)
**Repository:** https://github.com/TrackerControl/tracker-control-android
**Branch with paper.md** (empty if default branch): master
**Version:** 2022061501
**Editor:** @sbenthall
**Reviewers:** @gradvohl, @gcdeshpande
**Archive:** 10.5281/zenodo.6645297

## Status

[![status](https://joss.theoj.org

[2022-03-24 15:04] #4144 closed

[2022-03-24 15:13] sbenthall commented on #4270
@kasnder The editorial bot seems to be having trouble finding your paper in the repository.

Where is your paper located?

[2022-03-24 15:34] arunpersaud commented on #2688
sorry for that. I just pushed a new commit that hopefully will fix this.

[2022-03-24 15:40] timtroendle commented on #2688
@editorialbot generate pdf

[2022-03-24 15:43] timtroendle commented on #2688
Thanks @arunpersaud. Unfortunately, Github is again having problems. :)

https://www.githubstatus.com

We'll get to this, but we may have to wait a little longer.

[2022-03-24 16:03] gdetor commented on #3974
@editorialbot generate my checklist

[2022-03-24 16:10] smchartrand commented on #4091
Thanks @kbarnhart. We look forward to hearing back from you.

[2022-03-24 16:31] cjwu commented on #4052
Hi @d-eggert, thanks for the updated documents and the test examples.
DASF consists of several complicated services, giving a big-picture overview of DASF and the benefits of using DASF may help users understand how it works clearly. It seems to me that an overview of system diagram can show the interactions between DASF and deployed applications, e.g., the Flood Event Explorer.
Here’s my two cent

[2022-03-24 16:43] jeremiah-corrado commented on #4172
Thank you both for the detailed feedback! It's really nice to get an outside perspective on the design and documentation.

I am currently in prep-mode for my thesis defense, but I should be able to start addressing these issues within a couple of weeks.

In the meantime, I have a few questions and notes about the suggestions you made:

@YohannDudouit:
- I agree that much of the conceptual partitio

[2022-03-24 16:45] jbytecode commented on #4254
👋👋👋 Dear @brunomontezano  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**BetterReg: An R package for Useful Regression Statistics**". You can find more information at the top of this Github issue (https://github.com/

[2022-03-24 16:47] jbytecode commented on #4222
👋👋👋 Dear @ChrisRackauckas  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data
**". You can find

[2022-03-24 16:48] jbytecode commented on #4222
👋👋👋 Dear @juliohm  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data**". You can find more inf

[2022-03-24 16:57] juliohm commented on #4222
I would love to help but I am super busy in the following the months. Please feel free to contact another potential reviewer 🙏🏽

Thank you for the great contribution @baxmittens 🎆 Hopefully we can provide integrations with Meshes.jl in the future.

[2022-03-24 16:59] jbytecode commented on #4222
@juliohm - thank you for the quick response, hope we will work together in later submissions.

[2022-03-24 17:00] jbytecode commented on #4222
👋👋👋 Dear @dmbates  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data**". You can find more inf

[2022-03-24 17:51] GregaVrbancic commented on #4171
Dear @jbytecode and @elizabethnewman I will finish my review by the end of the week. Sorry for late response, I have been a bit busy.

[2022-03-24 18:17] yhtang commented on #4198
So far we have addressed 3 of the 4 issues as below. For the remaining one, Could we get some technical support regarding the compilation system that Whedon uses?

[2022-03-24 18:18] danielskatz commented on #4257
👋 @dhhagan - are you able to edit this submission?

[2022-03-24 18:18] danielskatz commented on #4257
@editorialbot invite @dhhagan as editor

[2022-03-24 18:18] editorialbot opened #4271 "[PRE REVIEW]: PyCUTEst: an open source Python package of optimization test problems"
**Submitting author:** @jfowkes (<a href="http://orcid.org/0000-0002-8048-4572">Jaroslav Fowkes</a>)
**Repository:** https://github.com/jfowkes/pycutest
**Branch with paper.md** (empty if default branch):
**Version:** 1.2
**Editor:** @diehlpk
**Reviewers:** @GuillaumeDerval, @stsievert
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/d1664af7c708cd78b5478beaa27

[2022-03-24 18:18] editorialbot opened #4272 "[PRE REVIEW]: ABBAj.jl: An accelerated ABBA in Julia"
**Submitting author:** @chenxinye (<a href="http://orcid.org/0000-0003-1778-393X">Xinye Chen</a>)
**Repository:** https://github.com/nla-group/ABBAj.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/ec03266d882493d72087df23ca18a722/status.svg)](h

[2022-03-24 18:59] arfon commented on #4186
@JamieJQuinn, @mancellin, @kthyng – This review is being paused due to an administrative issue that our editorial team is working through.  Please hold off doing any more work here until you hear back from us, and apologies for any inconvenience caused here!

[2022-03-24 19:45] dmbates commented on #4222
I just glanced at the repository for this package and there are several issues that I think should be addressed before the paper is considered for publication in JOSS.  As it stands the repository is not in the standard form for a Julia package.
- I personally don't know what a VTU file is - from the example I assume the V stands for Voxel but that is about all I can figure out.  The purpose of th

[2022-03-24 19:53] jbytecode commented on #4222
@dmbates - thank you so much for the quick reply. You can review the paper in light of those comments when you are assigned as a reviewer, and I think those changes can be applied by the authors. Do you accept to be a reviewer?

[2022-03-24 20:05] dmbates commented on #4222
Yes, I can be a reviewer but my comments are primarily regarding Julia packaging.  I don't do finite-element methods and have no experience with VTU or similar formats. Thus I can only comments on Julia programming and packaging aspects.

[2022-03-24 20:07] jbytecode commented on #4222
@dmbates I think you are a suitable reviewer for this project and in light of your ideas, we can improve this package. Thank you!

[2022-03-24 20:07] jbytecode commented on #4222
@editorialbot add @dmbates as reviewer

[2022-03-24 20:09] jbytecode commented on #4222
@editorialbot commands

[2022-03-24 20:10] jbytecode commented on #4222
@editorialbot add @dmbates as reviewer

[2022-03-24 20:46] bbachilles commented on #4258
@danielskatz I'd respectfully ask you to reconsider this decision. According to the linked source on substantial scholarly effort, it says that package/software would qualify if it "makes addressing research challenges significantly better (e.g., faster, easier, simpler)." This is exactly the point of the mlmtools package, which brings together a suite of pre-model and post-model processing tools

[2022-03-24 21:16] danielskatz commented on #4258
@bbachilles: That the software "makes addressing research challenges significantly better (e.g., faster, easier, simpler)" is necessary but not sufficient. The other part of this statement is that the software should "be a significant contribution", and this is the main concern of the editors.

You are certainly welcome to expand the software to make the contribution larger and to resubmit.  If yo

[2022-03-24 21:29] bbachilles commented on #4258
@danielskatz Thank you very much for clarifying and leaving the door open for a resubmission (with further additions to the package).

[2022-03-24 23:17] danielskatz commented on #4272
@editorialbot check repository

[2022-03-24 23:18] danielskatz commented on #4272
@editorialbot check references

[2022-03-24 23:19] danielskatz commented on #4272
@editorialbot generate pdf

[2022-03-24 23:21] danielskatz commented on #4271
@editorialbot check repository

[2022-03-24 23:21] danielskatz commented on #4271
@editorialbot check references

[2022-03-24 23:21] danielskatz commented on #4271
@editorialbot generate pdf

[2022-03-24 23:22] danielskatz commented on #4272
👋 @chenxinye - I'm sorry to say that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for

[2022-03-24 23:22] danielskatz commented on #4272
@editorialbot reject

[2022-03-24 23:22] #4272 closed

[2022-03-24 23:41] danielskatz commented on #4271
👋 @galessiorob - would you be willing to edit this submission?

[2022-03-24 23:42] danielskatz commented on #4271
@editorialbot invite @galessiorob as editor

[2022-03-25 04:28] nanthony21 commented on #3957
- [x] `Double check authors and affiliations (including ORCIDs)`
  I've checked the author, affiliations, and ORCIDs and everything is correct.
 - [x] `Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.`
 I've created release 1.0.0 which includes the changes resulting from @pr4deepr's rev

[2022-03-25 04:29] nanthony21 commented on #3957
Thank you both very much for your time and feedback!

[2022-03-25 04:43] jbytecode commented on #4222
@dmbates thank you, you are assigned. Whenever we assign the 2nd reviewer, a new thread will be created with task lists. I will inform you, please keep in touch.

[2022-03-25 06:50] kasnder commented on #4270
@editorialbot generate pdf from branch joss

[2022-03-25 06:54] kasnder commented on #4270
Hi @sbenthall

Thank you for getting the processed started. The paper is in the branch `joss`.

[2022-03-25 06:58] gcdeshpande commented on #4270
@editorialbot generate my checklist

[2022-03-25 08:58] d-eggert commented on #4052
Hi @cjwu,

thanks for your feedback. I'm not entirely sure what you mean by 'several complicated services'. The framework uses one external service, being the message broker, which is in our case covered by Apache Pulsar. As lined out in the documentation you can start this service with a one-liner and be done with it. Then you can use the python bindings to wrap your algorithms, methods or whatev

[2022-03-25 09:17] baxmittens commented on #4222
hello @dmbates thank you for reviewing and providing some initial feedback.

I don't think my package it should be a standard julia package at this point. There is [WriteVTK.jl](https://github.com/jipolanco/WriteVTK.jl) and [ReadVTK.jl](https://github.com/trixi-framework/ReadVTK.jl). I did not really want to use those packages at the moment but I would consider it in the future. As I wrote in the

[2022-03-25 09:37] eferrea commented on #3956
@puolival , @oliviaguest , @mstimberg

Thanks for taking the time to review our software. Here we address/discuss at our best the remaining points.

4. There is still no automated package management solution and installing this software still requires substantial effort on the end user's part: locating, downloading, and installing external libraries, compiling the task controller, and editing envi

[2022-03-25 10:56] Bisaloo commented on #4140
Oh sorry, I missed your message. I see both reviewers have checked all their review items so we should indeed be good to go.

Yes, please and report the new version number here. The reviewed version is listed in the opening comment of this issue.

Yes, I believe it could be a good idea. This is not a blocker for the acceptance though so feel free to do it afterwards if you don't have time right no

[2022-03-25 10:56] Bisaloo commented on #4140
@editorialbot generate pdf

[2022-03-25 11:09] Bisaloo commented on #4140
@editorialbot set joss-paper as branch

[2022-03-25 11:10] Bisaloo commented on #4140
@editorialbot generate pdf

[2022-03-25 11:16] mattmartineau commented on #4142
Hi all - apologies for the delay. We just had GTC so I had a few priorities to juggle and so I'm just getting to this now. I'll start working through the checklist now.

[2022-03-25 12:29] osorensen commented on #4239
Thanks for the suggestion, @jonasteuwen. Unfortunately, I'm afraid your previous co-authorship won't be compliant with our guidelines for conflicts of interest. I'll keep trying to find reviewers.

[2022-03-25 12:30] osorensen commented on #4180
Dear @tijeco, could you please check whether the last updates address the points raised in your review, and if so, update your checklist? Thanks in advance!

[2022-03-25 12:33] tijeco commented on #4180
@osorensen It's oh my calendar for the weekend!

[2022-03-25 12:36] tiagoseq commented on #3974
Hi @gdetor, did you succeed in completing the checklist?

@danielskatz Thank you for your help! So, if the review started under the old system, what does it means in practice? That the other reviewer, @rougier, has to generate a new checklist with the @editorialbot ? Or it is ok to proceed the process with one reviewer with the "old" checklist and the other one with the checklist generated with th

[2022-03-25 12:41] danielskatz commented on #3974
This can stay as is, with mixed checklists.

@gdetor might want to try the command again, as GitHub was dropping some requests for a bit yesterday.

[2022-03-25 12:43] editorialbot opened #4273 "[PRE REVIEW]: BasicTools: a numerical simulation toolbox"
**Submitting author:** @fbordeu (<a href="http://orcid.org/0000-0002-0640-5485">Felipe Bordeu</a>)
**Repository:** https://github.com/fbordeu/BasicTools_paper
**Branch with paper.md** (empty if default branch):
**Version:** 1.7.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/2271fb06f5880b33a61f9ed5248de526/status.s

[2022-03-25 12:43] editorialbot opened #4274 "[PRE REVIEW]: PySD: System Dynamics Modeling in Python"
**Submitting author:** @rogersamso (<a href="http://orcid.org/0000-0003-0348-3047">Roger Samsó</a>)
**Repository:** https://github.com/JamesPHoughton/pysd/
**Branch with paper.md** (empty if default branch): paper_pysd
**Version:** v2.2.4
**Editor:** @pdebuyl
**Reviewers:** @blsqr, @andrecieplinski
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/5aa64e5347740f

[2022-03-25 12:43] editorialbot opened #4275 "[PRE REVIEW]: Network Explorer: an R package for live exploration of networks"
**Submitting author:** @SebastianSosa (<a href="http://orcid.org/0000-0002-5087-9135">Sebastian Sosa</a>)
**Repository:** https://github.com/SebastianSosa/Network-Explorer
**Branch with paper.md** (empty if default branch):
**Version:** 0.0.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/16666c69d0357c324713de9c6ea2

[2022-03-25 12:48] danielskatz commented on #4274
@rogersamso - while we find an editor, you could work on the DOIs that editorialbot flagged. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in a new comment. You might also want to p

[2022-03-25 12:49] danielskatz commented on #4274
👋 @pdebuyl - Would you be able to edit this submission?

[2022-03-25 12:49] danielskatz commented on #4274
@editorialbot invite @pdebuyl as editor

[2022-03-25 12:51] mattmartineau commented on #4142
### General checks

**Substantial scholarly effort:** It meets the criteria laid out in the guidelines and I think it is an novel project. From my perspective, it serves as a very interesting platform for demonstrating the range of AMG methods and may even be useful as a starting point for my own work (we want to implement smoothed aggregation in AmgX in the near future).

### Functionality

**Fun

[2022-03-25 12:51] danielskatz commented on #4275
@SebastianSosa - this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  It also is not clearly [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. Please see https://joss.readthedocs.io/en/latest/su

[2022-03-25 12:51] danielskatz commented on #4275
@editorialbot reject

[2022-03-25 12:51] #4275 closed

[2022-03-25 12:59] danielskatz commented on #4273
👋 @fbordeu - I've edited your submission metadata to indicate that your handle is @fbordeu (not your email address) and that the repo is https://github.com/fbordeu/BasicTools_paper (not https://github.com/fbordeu/BasicTools_paper.git), which you may need to know when you resubmit.  I'm now going to reject this, as there's no software in the repo you submitted, only a paper.  For JOSS, you should a

[2022-03-25 12:59] danielskatz commented on #4273
@editorialbot reject

[2022-03-25 12:59] #4273 closed

[2022-03-25 13:35] pdebuyl commented on #4100
I ended up using the conda install. The install page makes it explicit that it is easier but I had a package resolution conflict as well by doing `conda install -c conda-forge psiresp`. I used the file `test_env.yml` in the end and that worked.

The install instructions also state that it is possible to install with `python setup.py install` (after the dependencies have been installed). That made

[2022-03-25 13:37] pdebuyl commented on #4100
@editorialbot generate pdf

[2022-03-25 13:37] pdebuyl commented on #4100
@editorialbot check references

[2022-03-25 13:41] pdebuyl commented on #4100
Please fix the invalid DOI

[2022-03-25 13:43] pdebuyl commented on #4100
Please verify whether the version number in the top-comment of this page is the good one and publish the reviewed version of psiresp on zenodo. Let me know if you need assistance about this.

[2022-03-25 13:43] pdebuyl commented on #4100
@editorialbot generate pdf

[2022-03-25 14:31] pdebuyl commented on #4100
References:
- Would you have a reference (link to documentation or homepage of the code if there is no paper) for amber and gaussian?
- Can you clean the entry for rdkit?
- for schauperl 2020 there is an article number 44

[2022-03-25 15:06] kbenoit commented on #4036
Sorry for the delay, I won't make excuses, but they involved staffing issues at the Institute I direct, and me getting COVID.

This is a very useful and impressively implemented package. I think the rationale is clearly explained, and the package documentation makes it very clear how and when it can be used and for what purposes. It installs easily and runs very quickly.

I am in favour of accepta

[2022-03-25 15:10] enekomartinmartinez commented on #4274
@editorialbot check references

[2022-03-25 15:14] rogersamso commented on #4274
@editorialbot check references

[2022-03-25 15:18] georgeyiasemis commented on #4239
Hi @osorensen 👋 @zaccharieramzi might make a good reviewer. He works on a similar domain

[2022-03-25 15:22] rogersamso commented on #4274
@danielskatz why is the bot not doing what I tell it to do?

done

[2022-03-25 15:23] rogersamso commented on #4274
done

[2022-03-25 15:25] danielskatz commented on #4274
@rogersamso - I'm unsure why @editorialbot is not responding.
@openjournals/dev - github status looks green.  Any ideas here?

[2022-03-25 15:35] dfm commented on #4113
@editorialbot check references

[2022-03-25 15:50] dfm commented on #4113
@canyon289, @ColCarroll — Thank you both so much for your constructive reviews!! I really appreciate the time you volunteered - we couldn't do this without you!

[2022-03-25 16:00] gdetor commented on #3974
@editorialbot generate my checklist

[2022-03-25 16:03] gdetor commented on #3974
@danielskatz Thank you for the instructions.
@tiagoseq Thank you, now it should be OK.

[2022-03-25 16:38] galessiorob commented on #4133
@editorialbot add @hsang as reviewer

[2022-03-25 16:43] jeremiecoullon commented on #4113
@dfm : I'll do that; thanks!

@canyon289 @ColCarroll : thanks very much for the suggestions and comments; it really helped improve the package!!

[2022-03-25 16:51] dhhagan commented on #4257
Hey @danielskatz I don't know that I have the right skillset to edit this paper, but I can oversee it if there is no one else better suited.

[2022-03-25 17:27] tiagoseq commented on #3974
Thank you @gdetor !

@danielskatz , now that both checklists are completed, what is the next step of the process? Is there anything I can do?

[2022-03-25 18:00] danielskatz commented on #4257
@Kevin-Mattheus-Moerman suggested you as he is overloaded now. I assume he can help with reviewers if needed, and any discussion.  I'll go ahead and assign you, and say thanks/sorry

[2022-03-25 18:00] danielskatz commented on #4257
@editorialbot assign @dhhagan as editor

[2022-03-25 18:01] danielskatz commented on #3974
@jarvist is the editor, so this should be directed to him.

[2022-03-25 18:44] lpantano commented on #4167
Hi @cagret, do you have somebody that you could identify as reviewer, I am finding some challenges for this one. If you could get a look at the reviewer list and name a few, it would be great.

[2022-03-25 18:51] sbenthall commented on #4270
@editorialbot set joss as branch

[2022-03-25 18:51] sbenthall commented on #4270
@editorialbot generate pdf

[2022-03-25 18:57] editorialbot opened #4276 "[PRE REVIEW]: smmR: A Semi-Markov R package"
**Submitting author:** @corentin-dev (<a href="http://orcid.org/0000-0002-8209-317X">Corentin Lothodé</a>)
**Repository:** https://plmlab.math.cnrs.fr/lmrs/statistique/smmR
**Branch with paper.md** (empty if default branch): feature/joss
**Version:** 1.0.2.9
**Editor:** @marcosvital
**Reviewers:** @dsurujon, @ellessenne, @Athene-ai
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://jo

[2022-03-25 19:08] danielskatz commented on #4276
@editorialbot invite @marcosvital as editor

[2022-03-25 19:57] Leticia-maria commented on #4157
I would like to be a permanent reviewer of JOSS, is it possible?

[2022-03-25 20:28] fernandomayer commented on #4056
Hi @bauer-alex and @Nikoleta-v3, I regret to inform you that I will not be able to complete my review in the next few days. So, feel free to invite other reviewers. Sorry for the inconvenience.

[2022-03-25 20:40] lukeolson commented on #4142
Thanks @mattmartineau for your time on this and for going over it in detail (indeed [omp](https://github.com/pyamg/pyamg/pull/324) is on the way... at least for the solve phase).

We'll wait to hear from @jedbrown to see if we can leave the Summary as-is.  Any other changes, just let us know.

[2022-03-25 20:53] corentin-dev commented on #4276
I may suggest petermac, RomainAzais, dsurujon or ellessenne as reviewers.

[2022-03-25 21:00] corentin-dev commented on #4276
@editorialbot check references

[2022-03-25 21:02] corentin-dev commented on #4276
@editorialbot generate pdf

[2022-03-25 21:03] corentin-dev commented on #4276
The missing DOI is for a submitted paper. I don't know what is the usual way to deal with this.

[2022-03-25 21:24] cmaimone commented on #4036
@chainsawriot - I'm trying to finish off my checklist now that the other review is complete -- is the paper in the master branch up to date?  If so, can you regenerate the pdf here?

I also second @kbenoit points about association vs. bias -- I think addressing this would help with some of the issues in the paper I noted as well.  Note that it's also in the documentation/examples:

It's not just b

[2022-03-26 06:15] pdebuyl commented on #4274
@editorialbot assign me as editor

[2022-03-26 06:16] pdebuyl commented on #4274
@editorialbot check references

[2022-03-26 06:16] pdebuyl commented on #4274
It might have been a temporary issue with @editorialbot

[2022-03-26 12:30] tijeco commented on #4180
@osorensen All looks well to me! I've updated my checklist.

@ColemanRHarris You've done a tremendous job on this project! Congrats on your contribution to software that will serve the community for years to come!

[2022-03-26 15:48] osorensen commented on #4180
Thanks @tijeco!

[2022-03-26 16:02] osorensen commented on #4239
@zaccharieramzi would you be interested in reviewing this submission to the Journal of Open Source Software?

[2022-03-26 18:53] osorensen commented on #4180
@editorialbot generate pdf

[2022-03-26 18:58] osorensen commented on #4180
@editorialbot check references

[2022-03-26 19:19] osorensen commented on #4180
@ColemanRHarris, before I can recommend acceptance, please fix the following issues:

- Add the missing DOIs stated in the post above.
- The term "Figure 1" is duplicated in the caption to Figure 1. Please fix.
- Be consistent, and use full journal names for all references. For example, on line 111, use Journal of Statistical Software rather than J Stat Softw.
- Make sure R is properly capitaliizi

[2022-03-26 19:37] fepegar commented on #4239
Hi, @osorensen. I think I wouldn't make a good reviewer for this. I've shared it with colleagues that work on reconstruction.

[2022-03-26 20:04] osorensen commented on #4239
Thanks @fepegar! Please let me know if any of your colleagues are interested

[2022-03-26 22:44] mh-skjelvareid commented on #4185
@whedon generate pdf

[2022-03-26 22:45] mh-skjelvareid commented on #4185
@editorialbot generate pdf

[2022-03-26 23:06] mh-skjelvareid commented on #4185
@Kevin-Mattheus-Moerman , I have now tried to address the points raised by @emanuelhuber :

I have updateed the summary to clarify that the only purpose of the toolbox is to focus pulse-echo data.

I have added "Requirements" section to the readme.md file which states that the toolbox requires Matlab / Octave and a signal toolbox to run. I've added a few practical details regarding installation of

[2022-03-27 04:25] jedbrown commented on #4070
@victorsacek You can either tag v0.1.6 and update Zenodo or we can work with v0.1.5.1 (JOSS doesn't require that you use semver, strictly or otherwise). Your choice, just let us know which you choose.

[2022-03-27 05:02] jedbrown commented on #4142
Thanks (just getting back from a few days of desert climbing with the kids). I agree that a summary articulating this should be sufficient, but there is an automated check in the acceptance process looking for a section heading named "Statement of need". (This check got a little stricter last month and I'm checking on whether that was deliberate.)

[2022-03-27 06:00] jedbrown commented on #4157
Sorry about my delays. I'll be able to do this in a week.

[2022-03-27 09:31] bencardoen commented on #4239
Hi @osorensen, as my expertise is more towards fluorescence/microscopy/superresolution, and not so much MRI, I'm not a good choice as reviewer. However, I've forwarded it to my colleagues.

[2022-03-27 13:43] BatoolMM commented on #4265
@editorialbot generate my checklist

[2022-03-27 14:54] jeremiecoullon commented on #4113
@editorialbot generate pdf

[2022-03-27 15:34] jbytecode commented on #4222
👋👋👋 Dear @jarvist  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**VTUFileHandler: A VTU library in the Julia language that implements an algebra for basic mathematical operations on VTU data**". You can find more inf

[2022-03-27 15:37] jbytecode commented on #4254
👋👋👋 Dear @62442katieb  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**BetterReg: An R package for Useful Regression Statistics**". You can find more information at the top of this Github issue (https://github.com/ope

[2022-03-27 15:41] Nikoleta-v3 commented on #4034
👋🏻  @allaway! I hope you are well 😄

A while back I asked if you could review this submission and you very kindly agreed.

Back then a few more people stepped up and I assigned different reviewers. Unfortunately, one of them is not available any more.

The review is currently taking place here:  https://github.com/openjournals/joss-reviews/issues/4056. As you can see one reviewer has already gone

[2022-03-27 15:43] Nikoleta-v3 commented on #4056
That's absolutely fine @fernandomayer! Thank you for letting us know 😄

[2022-03-27 15:47] Nikoleta-v3 commented on #4056
@editorialbot remove @fernandomayer  from reviewers

[2022-03-27 15:50] Nikoleta-v3 commented on #4056
@editorialbot commands

[2022-03-27 15:50] Nikoleta-v3 commented on #4056
@editorialbot remove @fernandomayer from reviewers

[2022-03-27 15:52] Nikoleta-v3 commented on #4056
@bauer-alex I've already reached out to someone else asking them to review this.

[2022-03-27 16:21] lukeolson commented on #4142
@editorialbot check repository

[2022-03-27 16:29] elbeejay commented on #4207
Hello all, I'm going to ask our editorial bot to send out reminders to @navidcy and @BrodiePearson over the next few weeks just to hopefully keep things moving along with this review. @zhenwu0728 please feel free to provide an update in this thread when you feel you have addressed @Datseris comments to ensure those outstanding review checklist items can be crossed off.

Thanks all,
Jay

[2022-03-27 16:29] elbeejay commented on #4207
@editorialbot remind @navidcy in one week

[2022-03-27 16:29] elbeejay commented on #4207
@editorialbot remind @BrodiePearson in two weeks

[2022-03-27 16:30] elbeejay commented on #4207
@editorialbot remind @navidcy in seven days

[2022-03-27 18:09] emanuelhuber commented on #4185
@Kevin-Mattheus-Moerman Thank you very much for adressing all my comments. Everything is fine!

@mh-skjelvareid In my opinion, the paper is ready for publication.

[2022-03-27 20:32] gradvohl commented on #4270
@editorialbot generate my checklist

[2022-03-28 01:18] jamesrhester commented on #4200
Perhaps then a header "Contributing" with just a "See Github Community Guidelines" link underneath. "Support" could have "Please open an issue (link) or contact via email". Just something minimal like this should be enough.

[2022-03-28 02:27] lilyminium commented on #4100
@editorialbot generate pdf

[2022-03-28 02:27] lilyminium commented on #4100
@editorialbot check references

[2022-03-28 02:29] lilyminium commented on #4100
@pdebuyl yikes, would you recall what the package conflict was? Was it anything to do with `qcfractal`? I'm trying to reproduce on Ubuntu but haven't found anything yet so far.

Thanks, done. Sorry, I was under the impression they were functionally the same thing.

I think that's supposed to be `10.1002/(SICI)1096-987X(20000130)21:2<132::AID-JCC5>3.0.CO;2-P`, I'm not sure if the bot strips punctua

[2022-03-28 02:30] lilyminium commented on #4100
The version reviewed should be 0.3.1, which I've put up on Zenodo here: https://zenodo.org/record/6388137

[2022-03-28 02:59] emdupre commented on #4024
Thank you, @aquilesC ! Confirming that I've spoken to @ziatdinovmax via email, who has also confirmed that he's happy to recommend PiSCAT for publication in JOSS. Thank you both for your thoughtful reviews !

I'll perform a few last checks now, but at this point, @po60nani, could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ]

[2022-03-28 03:00] emdupre commented on #4024
@editorialbot check references

[2022-03-28 03:05] emdupre commented on #4098
:wave: Hi @patrickmineault, please let us know how your review is going !

[2022-03-28 03:06] emdupre commented on #4098
@editorialbot set paper_branch as branch

[2022-03-28 03:06] emdupre commented on #4098
@editorialbot generate pdf

[2022-03-28 03:14] ColemanRHarris commented on #4180
@editorialbot generate pdf

[2022-03-28 03:18] ColemanRHarris commented on #4180
@editorialbot check references

[2022-03-28 03:22] ColemanRHarris commented on #4180
@editorialbot check references

[2022-03-28 03:23] ColemanRHarris commented on #4180
Hi @osorensen, I've addressed each of the issues above. Please let me know if you need anything else from me!

[2022-03-28 03:35] samanmostafavi commented on #3861
@fraukewiese I think my concerns are addressed. Both package and documentation are in a good state. My only remaining concern is that the toolchain might not be as useful for bigger problems. Having said that, and as elaborated in the response above by @FWuellhorst, the case by case, or rather a _blanket_, usefulness is out of the scope of this software and the developing team have done a reasonab

[2022-03-28 06:00] GregaVrbancic commented on #4171
@whedon generate pdf

[2022-03-28 06:00] GregaVrbancic commented on #4171
@editorialbot generate pdf

[2022-03-28 06:36] GregaVrbancic commented on #4171
Dear @jbytecode and @elizabethnewman, I have finished my review. In addition to already adequately addressed issues https://github.com/elizabethnewman/hessQuik/issues/4 and https://github.com/elizabethnewman/hessQuik/issues/5 I have no further concerns regarding the package or paper. Therefore, I would recommend this submission for publication.

[2022-03-28 06:40] cagret commented on #4167
Hello, i think @luizirber and @diehlpk could fit as reviewers for my paper. Thanks

[2022-03-28 07:17] oliviaguest commented on #3956
@puolival would you be happy to edit the checklist in the OP to reflect how you see the current version of this project? ☺️

[2022-03-28 07:23] brunomontezano commented on #4254
Hello Mehmet Satman! Of course! It would be a pleasure to review the submission. Just to clarify, as it is my first review here in JOSS, should the review be carried out with issues on the package's repository or all suggestions should be discussed here?

Thanks for the invitation and look forward for the review process.

[2022-03-28 07:57] osorensen commented on #4180
Thanks @ColemanRHarris!

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and

[2022-03-28 08:03] chenxinye commented on #4272
Hi, could you elaborate on the feedback? It would be highly appreciated. Thanks

[2022-03-28 08:30] osorensen commented on #4239
@editorialbot add @estenhl as reviewer

[2022-03-28 09:19] danasolav commented on #4225
@editorialbot add @kerstinvg as reviewer.

[2022-03-28 09:19] danasolav commented on #4225
👋🏼 @mbarzegary, @kerstinvg,
this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other

[2022-03-28 09:26] danasolav commented on #4225
@schruste, are you available to review this one after/in parallel to ASFem? please let me know and I'll add you as a reviewer as well.

[2022-03-28 09:33] thelfer commented on #4225
@danasolav Sorry for the late answer. If you are still looking for a reviewer, I am interested.  But I already have a huge TODO list in the next month(s), so I need  to clarify what would be the deadline ?

[2022-03-28 09:54] timtroendle commented on #2688
@editorialbot generate pdf

[2022-03-28 10:00] timtroendle commented on #2688
@arunpersaud, there is still a problem with the paper. The problem seems to stem from your `paper.bib` file. Could you have a second look and see whether you can spot the problem?

[2022-03-28 10:02] xuanxu commented on #2688
There's a non-closed `"` here: https://bitbucket.org/berkeleylab/hardware-control/src/12429f76dd4c6df06c89b526a11bd5c570e2ee0d/paper.bib#lines-28

[2022-03-28 10:10] sestelo commented on #4254
Dear @jbytecode,

I'm sorry but, at this moment, I can't review this submission... :( best!

[2022-03-28 10:18] jbytecode commented on #4254
@editorialbot add @brunomontezano  as reviewer

[2022-03-28 10:20] jbytecode commented on #4254
@editorialbot add @brunomontezano as reviewer

[2022-03-28 10:21] jbytecode commented on #4254
@brunomontezano - thank you for accepting our invitation. Whenever we assign a 2nd reviewer, a new thread will be created for reviewing and I will explain the process. Best!

[2022-03-28 10:42] adi3 commented on #4235
@editorialbot add @tuliofalmeida as reviewer

[2022-03-28 10:43] adi3 commented on #4235
@arianesasso @briandesilva @tuelwer @LukasAdamowicz @nhejazi @finsberg - Would any of you be interested in reviewing this paper on robotics? We would greatly appreciate your help!

[2022-03-28 10:46] adi3 commented on #3671
@AP6YC - we have not heard from you in close to 4 months. Without further participation in this thread, I'm afraid we'll have to reject this submission after all this effort from your (and the reviewers!) end. Please contact us.

[2022-03-28 10:46] adi3 commented on #3527
@editorialbot list commands

[2022-03-28 10:47] adi3 commented on #3527
@editorialbot commands

[2022-03-28 10:48] po60nani commented on #4024
Thank you @emdupre.  We updated the repository:

-  **Make a tagged release of your software, and list the version tag of the archived version here.**
  _PiSCAT version 0.1.23 ([link](https://github.com/SandoghdarLab/PiSCAT/releases/tag/0.1.23))_

-  **Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)**
 _Done!_

-  **Check the archival depo

[2022-03-28 12:09] danielskatz commented on #4272
There is far too little code - see https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort and the bullets there.

[2022-03-28 12:10] victorsacek commented on #4070
Dear @jedbrown
Thank you for your answer. We decided to update the tag to v0.1.6.
Here is the new Zenodo DOI: 10.5281/zenodo.6390220

[2022-03-28 12:22] fredstro commented on #3996
@whedon generate pdf from branch paper_joss

[2022-03-28 12:27] Kevin-Mattheus-Moerman commented on #4157
@jedbrown Sounds good. Thanks.

[2022-03-28 12:34] jedbrown commented on #4070
@editorialbot set 10.5281/zenodo.6390220 as archive

[2022-03-28 12:36] jedbrown commented on #4070
@editorialbot recommend-accept

[2022-03-28 12:39] chainsawriot commented on #4036
I would like to thank @kbenoit for his comments. I am sorry to learn that you caught COVID. I wish you good health and be as energetic as a dragon and a tiger (a Cantonese proverb).

I will deal with other points later. But the point about bias has also been raised by @cmaimone now, maybe I should ask for your opinion on how to deal with this.

I agree with both of you that the so-called (social)

[2022-03-28 12:50] chainsawriot commented on #4036
@whedon generate pdf

[2022-03-28 12:51] chainsawriot commented on #4036
@editorialbot generate pdf

[2022-03-28 13:28] pdebuyl commented on #4100
Ok, I retried:

[code]

Installing psiresp triggered Python 3.8 to be selected.

Running example `01_examples_resp_single_server.ipynb` returns

[code]

[2022-03-28 13:34] pdebuyl commented on #4100
The reference "jakalian2000" is not cited if I understand correctly, could you thus remove it from the bib file, as well as other non-cited entries?

[2022-03-28 13:34] gradvohl commented on #4270
# Reviewer report for JOSS paper #4270
**Paper title**: TrackerControl: Transparency and Choice around App Tracking

## Review criteria
**Note**: whenever an item is marked with :warning: or :no_entry:, you can get more information about that evaluation in the [**Reviewer Comments**](#reviewer-comments) section).

* A list of the authors of the software: :heavy_check_mark:
* Author affiliations: :

[2022-03-28 13:37] pdebuyl commented on #4100
rdkit appears as
[code]

the ` (Version Release_2020_09_1)` is not necessary, the "version" entry is duplicate with the title (only one could be kept). The `[Computer software]` part is apparently from our bibtex style, sorry about it.

[2022-03-28 13:40] pdebuyl commented on #4100
Regarding Gaussian and Amber, those seem indeed to be the recommended citations, sorry as well. It is a bit weird from them but whatever :-)

[2022-03-28 13:40] pdebuyl commented on #4100
@editorialbot set 0.3.1 as version

[2022-03-28 14:07] lilyminium commented on #4100
@editorialbot check references

[2022-03-28 14:11] joewandy commented on #3990
I wonder if there anything that I should do now @csoneson? A bit lost regarding the process, thanks!

[2022-03-28 14:17] csoneson commented on #3990
@joewandy Apologies, I had not noticed that the checklists above had been updated.

@jspaezp, @MKoesters  - it looks like you have both checked off all boxes in your respective checklists. Could you please summarize whether that means that you are happy with the submission and the updates that @joewandy have done, or whether you are still looking into some aspects/have additional comments?

Thanks

[2022-03-28 14:19] csoneson commented on #4182
👋🏻 @JoaoRodrigues - did you have a chance to take a look at @taoliu032's responses to your review?
@rvhonorato - could you update us on how your review is progressing?

Thanks all!

[2022-03-28 14:33] csoneson commented on #3990
Thanks @jspaezp!

[2022-03-28 14:34] pdebuyl commented on #4100
Can you let me know when the plain conda install is working?

Apart from that, all is fine from my point of view, thanks for the updates!

[2022-03-28 15:02] ColemanRHarris commented on #4180
Hi @osorensen! I have completed the above tasks:

- The version tag of the archived version is `v1.0.2-joss`.
- The DOI of the archived version is `10.5281/zenodo.6390746`.

[2022-03-28 15:04] MKoesters commented on #3990
Sorry for my late response.
For me everything looks good, all minor points I adressed are resolved!

[2022-03-28 15:06] csoneson commented on #3990
That's great, thanks a lot @MKoesters!
@joewandy - I will also take a quick look through the submission, will get back to you shortly with the next steps.

[2022-03-28 15:36] FWuellhorst commented on #3861
@samanmostafavi Thanks for the really nice review! I will definitely try out the parsing tools. Especially for new approaches such as agent based control or digital twins, small models will be more relevant for us. For these cases, pymoca will hopefully work! I will also follow your updates :)

[2022-03-28 15:41] arunpersaud commented on #2688
thanks for finding the error. Just pushed a fix

[2022-03-28 15:45] timtroendle commented on #2688
@editorialbot generate pdf

[2022-03-28 15:51] timtroendle commented on #2688
Another problem. I am just guessing here, but it could be the [missing author in line 30](https://bitbucket.org/berkeleylab/hardware-control/src/12429f76dd4c6df06c89b526a11bd5c570e2ee0d/paper.bib#lines-30).

@arunpersaud, to not extend the discussion in this issue more and more, you may want to check your paper compiles outside this issue and on your own. Have a look at [the JOSS documentation](ht

[2022-03-28 15:55] chenxinye commented on #4272
Thanks daniel!

[2022-03-28 16:01] nhejazi commented on #4235
thanks for thinking of me for this, but I'm unable to review this submission at this time, as I both lack the necessary background in robotics to contextualize this contribution and have a number of looming deadlines presently

[2022-03-28 16:13] kbenoit commented on #4036
@chainsawriot That sounds great to me. Nice edit.

[2022-03-28 16:40] kthyng commented on #4241
Hi @kris-rowe! Are you interested in reviewing this JOSS submission? We would ask for reviews within 4–6 weeks, but that generally means starting the process sooner since it tends to be iterative between the reviewers and author(s). You can read more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Your skills look like a good complement to the other reviewer

[2022-03-28 16:47] christinahedges commented on #4017
@editorialbot set 10.5281/zenodo.6376003 as archive

[2022-03-28 16:49] christinahedges commented on #4017
Hi @BjoernBiltzinger I will look into those references, and chat with the editorial team. Could you let me know what the version number of the tagged release of PySPI is and I will link it to the submission. Thanks!

[2022-03-28 16:49] christinahedges commented on #4017
@editorialbot set v1.0.0 as version

[2022-03-28 16:50] christinahedges commented on #4017
@editorialbot recommend accept

[2022-03-28 16:50] christinahedges commented on #4017
@editorialbot recommend-accept

[2022-03-28 16:52] christinahedges commented on #4017
@BjoernBiltzinger thank you for your submission! I see what you are saying about the references, I am going to recommend accept and ask the EiC what we should do about the DOI to the arxiv link, and ask why editorialbot is struggling with that reference. Otherwise, your submission looks good to me! Thank you so much to @Tohuvavohu and @dfm for the thorough review!

[2022-03-28 17:08] allaway commented on #4034
Hi @Nikoleta-v3, I am not able to review at the moment, but a colleague of mine (@jaybee84) is registered as a reviewer with JOSS and expressed interest in reviewing this article, in case you are open to considering her!

[2022-03-28 17:18] kellyrowland commented on #4249
Hi @shahmoradi & @RichardClayton - just a reminder ping to start on your reviews when you can. Please feel free to @ me if you have any questions or run into any issues!

[2022-03-28 17:22] kris-rowe commented on #4241
I can be reviewer on this. Sounds like an interesting paper. Happy to help.

[2022-03-28 17:24] kthyng commented on #4241
@editorialbot add @kris-rowe as reviewer

[2022-03-28 17:25] kthyng commented on #4241
Thanks @NoraLoose and @kris-rowe for agreeing to be reviewers! I will start the review now. A new github issue will open that you will be directed to, and that is where the review itself is coordinated.

[2022-03-28 17:25] kthyng commented on #4241
@editorialbot start review

[2022-03-28 17:25] editorialbot opened #4277 "[REVIEW]: FlowSieve: A Coarse-Graining Utility for Geophysical Flows on the Sphere"
**Submitting author:** @bastorer (<a href="http://orcid.org/0000-0001-5955-2158">Benjamin Storer</a>)
**Repository:** https://github.com/husseinaluie/FlowSieve
**Branch with paper.md** (empty if default branch):
**Version:** v3.3.0
**Editor:** @kthyng
**Reviewers:** @NoraLoose, @ashwinvis
**Archive:** 10.5281/zenodo.7818192

## Status

[![status](https://joss.theoj.org/papers/62a2bfe9452051063e099

[2022-03-28 17:26] kthyng commented on #4277
@NoraLoose, @kris-rowe Here is the review issue! Please read through the instructions above for how to proceed with the review, and don't hesitate to reach out with any questions as they arise. Thank you!

[2022-03-28 17:33] csoneson commented on #3990
@editorialbot generate pdf

[2022-03-28 17:37] csoneson commented on #3990
@editorialbot check references

[2022-03-28 17:40] diehlpk commented on #4167
Hi, I do not feel comfortable with the topic, it is a little out of scope.

[2022-03-28 17:42] diehlpk commented on #4115
Hi  @atmyers could please have a look into the missing performance item of your checklist?

[2022-03-28 17:43] diehlpk commented on #4115
Hi @XzzX how is your review going?

[2022-03-28 17:45] diehlpk commented on #4227
Hi @iagolemos1 or @bleyerj or  @BabakNSafa would you be interested to review this paper?

[2022-03-28 17:45] diehlpk commented on #3959
Hi @samuelburbulla any news?

[2022-03-28 17:46] diehlpk commented on #3959
HI @vijaysm and @krober10nd could you solve the installation issues?

[2022-03-28 17:49] streeve commented on #4115
@diehlpk since we have relatively new developers adding our new examples and performance analysis I wanted to make sure it was okay to add them to the author list now

[2022-03-28 18:25] kasnder commented on #4270
Hello @gradvohl,

Thank you for the swift review of our project. These are all great suggestions. I'll do my best to implement them!

[2022-03-28 18:29] osorensen commented on #4180
@editorialbot set 10.5281/zenodo.6390746 as archive

[2022-03-28 18:30] osorensen commented on #4180
@editorialbot set v1.0.2-joss as version

[2022-03-28 18:30] osorensen commented on #4180
@editorialbot recommend-accept

[2022-03-28 18:32] osorensen commented on #4180
@openjournals/joss-eic, note that the review checklist for @askerdb appears as a comment in this issue, while the checklist for @tijeco appears at the top. Both checklists are completely filled out.

[2022-03-28 18:33] diehlpk commented on #4115
That is fine, please add them to the paper.

[2022-03-28 18:34] osorensen commented on #4239
:wave: @sairamgeethanath would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-03-28 18:53] cmaimone commented on #4036
I think I closed out the issues I opened.  One PR open for small wording clarifications on the most recent copy of the paper.  I'm good with accepting and publishing now

[2022-03-28 18:54] abhishektha commented on #4227
Hey @diehlpk sorry for the late reply! I can help review this paper, if you're fine with me starting the review after April 12th (big deadline coming up).

[2022-03-28 19:24] finsberg commented on #4235
Hi @adi3. I will be happy to help out reviewing this paper.

[2022-03-28 19:25] MiftariB commented on #4158
Dear Oscar and Leonard,

We are pleased to let you know that the paper has now been updated. We tried to address your comments and implement the action items that we listed in the Gitlab issue as best we could. The only deviation from them was probably in the description of the SMS++ and Plasmo.jl frameworks. After putting some more thought into it, it seemed more appropriate and fair to us to foc

[2022-03-28 19:27] MiftariB commented on #4158
@editorialbot generate pdf

[2022-03-28 19:32] emdupre commented on #4024
Thank you, @po60nani ! So, to confirm, [10.5281/zenodo.6389882](https://doi.org/10.5281/zenodo.6389882) is the archive for the latest release. I will only associate one DOI with the JOSS publication, so please let me know if the other, earlier archive has non-overlapping information.

On the archive itself, a few formatting requests:
- [ ] Could you please update the title of the archive to match

[2022-03-28 19:33] JBorrow commented on #4240
I've pushed a new version of the package to PyPI with fixes to all of the attached issues. Thanks both for all your constructive comments!

[2022-03-28 19:33] emdupre commented on #4024
@editorialbot set 0.1.23 as version

[2022-03-28 19:34] emdupre commented on #4024
@editorialbot set 10.5281/zenodo.6389882 as archive

[2022-03-28 19:35] osorensen commented on #4239
@editorialbot add @sairamgeethanath as reviewer

[2022-03-28 19:35] osorensen commented on #4239
@editorialbot start review

[2022-03-28 19:35] editorialbot opened #4278 "[REVIEW]: DIRECT: Deep Image REConstruction Toolkit"
**Submitting author:** @georgeyiasemis (<a href="http://orcid.org/0000-0002-1348-8987">George Yiasemis</a>)
**Repository:** https://github.com/NKI-AI/direct
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** v1.0.1
**Editor:** @osorensen
**Reviewers:** @estenhl, @sairamgeethanath
**Archive:** 10.5281/zenodo.6594702

## Status

[![status](https://joss.theoj.org/papers/