[2022-08-16 21:17] crvernon commented on #4618
@kris-rowe I am going to go ahead and add you as a reviewer so I can spin up the formal review thread.  I do understand your time constraint and we can work with that.  Thanks!

[2022-08-16 21:17] crvernon commented on #4618
@editorialbot add @kris-rowe as reviewer

[2022-08-16 21:19] crvernon commented on #4618
👋 Alright @Shreyas911 @svchb @kris-rowe  - I am going to close this Pre-Review and kick off the full review which you should receive a notification for. Thanks!

[2022-08-16 21:19] crvernon commented on #4618
@editorialbot start review

[2022-08-16 21:19] editorialbot opened #4679 "[REVIEW]: SICOPOLIS-AD v2: tangent linear and adjoint modeling framework for ice sheet modeling enabled by automatic differentiation tool Tapenade"
**Submitting author:** @Shreyas911 (<a href="http://orcid.org/0000-0003-2079-4218">Shreyas Sunil Gaikwad</a>)
**Repository:** https://gitlab.awi.de/sicopolis/sicopolis
**Branch with paper.md** (empty if default branch): ad
**Version:** SICOPOLIS-AD v2 (SICOPOLIS v_5.3)
**Editor:** @crvernon
**Reviewers:** @svchb, @kris-rowe
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/

[2022-08-16 21:19] #4618 closed

[2022-08-16 21:22] crvernon commented on #4679
👋 @Shreyas911 @svchb @kris-rowe - the review takes place in this issue.

❗ Also, please don't forget to add a link to this review issue in any issues or pull requests you may generate in the https://gitlab.awi.de/sicopolis/sicopolis  repository. This will help everyone have a single point of reference.

[2022-08-16 21:32] guanfada commented on #4555
@ProfLeao
We are going to make adjustments according to your comments! Thank you so much!

[2022-08-16 21:36] tonyewong commented on #4556
Sure thing! I just added our brief section about Installation from the Github pages site. Thanks for the good suggestion!

[2022-08-16 22:48] Zitzeronion commented on #4556
Checked the last box 👍

[2022-08-16 23:01] jGaboardi commented on #4620
@siavash-saki @martinfleis as a heads up, I will be mostly off the grid from 08/19-09/05. If there are any edits/PRs to review before then I can do them tomorrow or Thursday, otherwise it will be after I'm back in September.

[2022-08-16 23:18] ryanmrichard commented on #4676
Based on your reviewer list maybe zbeekman, pratikvn, or scivision? They are the only other reviewers who list CMake as one of their programming languages (although I suspect a number of the C/C++ reviewers know CMake even if they do not list it).

Based on conference interactions (namely Supercomputing and DOE's ECP conference) I know a lot of scientific software developers are interested in the

[2022-08-16 23:40] jmejia8 commented on #4582
@editorialbot generate pdf

[2022-08-17 02:31] emdupre commented on #4670
@editorialbot assign @emdupre as editor

[2022-08-17 02:50] jasondegraw commented on #4406
@wouterpeere Yes, it all went as expected after dealing with some computer issues, nothing related to your package.

@crvernon Meant to post this yesterday, but my concerns are addressed.

[2022-08-17 06:17] eloisabentivegna commented on #4642
Thanks, @ddhendriks. Please keep us posted.

[2022-08-17 06:49] hugoledoux commented on #4015
okay, I re-read the (very detailed and good) comments from the reviewers (thanks @CamilleMorlighem and @maczokni) and I think we can go ahead and try to finalise the submission.

I would like the 3 points raised above to be fixed:

1. add a section about how to clean the data and match them with the maps subregions; this doesn't need to be in the paper but in the docs it would be necessary I belie

[2022-08-17 07:18] peanutfun commented on #4676
@danielskatz I am interested in reviewing this submission but I am currently on vacation until 29 August. If starting the review after that date is still suitable, I would be happy to do so!

[2022-08-17 07:45] wouterpeere commented on #4406
@jasondegraw thank you for your comments!

[2022-08-17 08:10] iammix commented on #4621
Hello, sorry for late response. I will finish my review by the end of the week.

[2022-08-17 08:27] svchb commented on #4556
This is still on your github pages page.

[2022-08-17 08:34] svchb commented on #4556
@tonyewong While your code is not that large (atm) it might still be nice to give some details on the structure of the code on your documentation page.

[2022-08-17 08:36] svchb commented on #4679
@editorialbot generate my checklist

[2022-08-17 08:39] hugoledoux commented on #4585
@editorialbot add @zexinyang as reviewer

[2022-08-17 08:56] rcannood commented on #4677
@editorialbot generate my checklist

[2022-08-17 08:56] svchb commented on #4679
@Shreyas911 What is the timeline to merge this branch into the main branch? Because having the paper refer to a version of the code in a development branch might be a bit premature?

[2022-08-17 09:21] siavash-saki commented on #4620
@jGaboardi
Thanks for the info. We actually addressed all the JOSS-related issues.
I'd appreciate it if you could look over the revised paper.

[2022-08-17 09:27] kcerva commented on #4460
Thanks @crvernon!
I've done the release and used Zenodo. The DOI is the following: 10.5281/zenodo.7002733

I also have a question. Hired developers were involved in modifying the software to its current version (who ceded their IP and copyright to the University of Cambridge). I've then reflected this in the Copyright part of the repo (which says that the original copyright was mine and Jonathan C

[2022-08-17 10:01] aureliocarnero commented on #4604
Dear @xuanxu, unfortunately I cannot either, sorry. Hopefully next call I
can

El sáb., 13 ago. 2022 17:05, Hannu Parviainen ***@***.***>
escribió:

[2022-08-17 10:15] draabe commented on #4588
@crvernon, I'm currently on vacation (and so are some of the contributors), but I think I can find some time until end of August  to address the points raised.

@kanishkan91 thanks a lot for the comments! We will address each point in the issues. However, I have one major point I would like to clarify regarding the difficulties you've had installing the package. Can you provide me with more detail

[2022-08-17 11:20] danielskatz commented on #4676
@peanutfun - thanks for your interest.  I'll add you, and start the review, but will note that you will be delayed a bit in your part

[2022-08-17 11:20] danielskatz commented on #4676
@editorialbot add @peanutfun as reviewer

[2022-08-17 11:20] danielskatz commented on #4676
@editorialbot start review

[2022-08-17 11:20] editorialbot opened #4680 "[REVIEW]: CMinx: A CMake Documentation Generator"
**Submitting author:** @ryanmrichard (<a href="http://orcid.org/0000-0003-4235-5179">Ryan M. Richard</a>)
**Repository:** https://github.com/CMakePP/CMinx
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v1.0.12
**Editor:** @danielskatz
**Reviewers:** @robertodr, @peanutfun
**Archive:** 10.5281/zenodo.7116609

## Status

[![status](https://joss.theoj.org/papers/b94149935

[2022-08-17 11:20] #4676 closed

[2022-08-17 11:23] danielskatz commented on #4680
note: @peanutfun is currently on vacation until 29 August, and will start the review after that date

[2022-08-17 11:24] danielskatz commented on #4680
@robertodr and @peanutfun - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission, pl

[2022-08-17 11:27] hugoledoux commented on #4585
@editorialbot add @rickie95 as reviewer

[2022-08-17 11:28] hugoledoux commented on #4585
@gattia my best was beyond my own expectations 🥇  Never found two competent reviewers so fast!

[2022-08-17 11:28] hugoledoux commented on #4585
@editorialbot start review

[2022-08-17 11:28] editorialbot opened #4681 "[REVIEW]: PyCPD: Pure NumPy Implementation of the Coherent Point Drift Algorithm"
**Submitting author:** @gattia (<a href="http://orcid.org/0000-0001-6717-8979">Anthony Gatti</a>)
**Repository:** https://github.com/siavashk/pycpd
**Branch with paper.md** (empty if default branch): master
**Version:** v2.0.1-JOSS-Paper
**Editor:** @hugoledoux
**Reviewers:** @zexinyang, @rickie95
**Archive:** 10.5281/zenodo.7343379

## Status

[![status](https://joss.theoj.org/papers/87f2f01d2e12

[2022-08-17 11:28] #4585 closed

[2022-08-17 11:35] rieder commented on #4483
I've created a script to compare Clustertools analysis to internal AMUSE analysis (and manual calculation), it seems they mostly agree but not entirely. Results vary with random realisations, but generally I find deviations in r10 (which is about 2 to 3 times what I would expect).
Here's the script: https://gist.github.com/rieder/5b8c40f2cff8c932c7899a1f78096952

[2022-08-17 12:36] gattia commented on #4585
@hugoledoux thank you.

And thanks to the reviewers as well!

[2022-08-17 12:38] zarrarkhan commented on #4015
@hugoledoux @CamilleMorlighem @maczokni
Thank you all for the great feedback and comments. Yes, we will address all these points and update the submission.
Best
Zarrar

[2022-08-17 12:46] crvernon commented on #4588
No problem @draabe .  Thank you for the update!

[2022-08-17 12:51] Skn0tt commented on #4587
That makes sense to me. Appreciate the detailed reasoning! Thanks for considering, and thank y'all for running this journal. Hope you have a good week :)

[2022-08-17 12:57] crvernon commented on #4460
Thanks @kcerva .  I lean towards the inclusion of all who have contributed to the software in its current form unless they have stated that they do not wish to be included.  If you believe the ceding of the IP is indicative of their wishes to not be included as co-authors, then we may proceed in the current format.  If not, please add in the additional authors.  Let me know when you have decided a

[2022-08-17 12:59] crvernon commented on #4406
@editorialbot check references

[2022-08-17 13:01] rickie95 commented on #4681
@editorialbot generate my checklist

[2022-08-17 13:01] crvernon commented on #4406
@editorialbot generate pdf

[2022-08-17 13:25] Bisaloo commented on #4491
Thanks a lot @vboussange and @alexskeels for your reviews! :pray:

@joshwlambert, if you're unsure when you'll be able to work again on this project, then it's indeed a good idea to withdraw & resubmit later. It also looks like we're going to have a conflict of interest soon so it may be a good opportunity to find a new editor at the same time.

[2022-08-17 13:28] crvernon commented on #4406
@wouterpeere - this is looking great. Just a few edits from my end that need to be addressed before we move forward:

- [ ] Please address the following invalid and missing DOIs:

- [ ] A recommendation, not requirement.  You have tests in your package that could easily be executed via continuous integration (CI) via GitHub Actions.  Please consider setting CI up for your software so that on push

[2022-08-17 13:30] wouterpeere commented on #4406
@editorialbot check references

[2022-08-17 13:40] kanishkan91 commented on #4588
@draabe Thanks very much for the explanation above and apologies for the confusion.

The problem I ran into is that my python version was lower than the one required. Therefore when I did `pip install` the installation defaulted to much lower version of floodlight. I could not access many of the functions decribed in the documentation as a result. Also, it took me a while to figure out what was ha

[2022-08-17 13:44] wouterpeere commented on #4406
Hi @crvernon the DOIs are addressed!

W.r.t. CI: I will look into this, but for now, I was (due to some administrator issues on my university laptop) not able to run the pytest-cov locally ...

[2022-08-17 13:51] mberacochea commented on #4677
@editorialbot generate my checklist

[2022-08-17 14:00] tonyewong commented on #4556
@svchb Thanks!  I just removed the reference to the aspirational library from the github pages page (good catch!), and I added a high-level overview of the structure of the repository to the top-level README.md (https://github.com/raddleverse/MimiBRICK.jl/commit/e33d1ba12e6f31e4623fddc050c167b0f9ca9d73)

[2022-08-17 14:07] svchb commented on #4556
@tonyewong It might also be interesting to add a small note on how to add additional or substitute submodels. Since I guess this is the most likely change people want to perform in the future?

[2022-08-17 14:09] jbytecode commented on #4556
I think our reviewer ask you to give a small brief of explanation about the design pattern you used to develop your models.

[2022-08-17 14:25] crvernon commented on #4406
@wouterpeere - we are almost there! Next is just setting up the archive for your new release.

We want to make sure the archival has the correct metadata that JOSS requires. This includes a title that matches the paper title and a correct author list.

So here is what we have left to do:

- [ ]  Conduct a GitHub release of the current reviewed version of the software you now have on the main and a

[2022-08-17 14:26] jbytecode commented on #4556
@tonyewong - please take a look at the section of `design pattern` in README.md [here](https://github.com/jbytecode/jmcdm). There is a clean description of development of a new method (how to create or extend data types, how to design functions, how to define return types, etc.)

[2022-08-17 14:48] wouterpeere commented on #4406
@crvernon the DOI of Zenodo is: 10.5281/zenodo.7004017

[2022-08-17 14:50] tonyewong commented on #4556
I was addressing this one:

But I can certainly also add some text about the design pattern and how to add additional or substitute submodels.

[2022-08-17 14:50] wouterpeere commented on #4406
The version of GHEtool is v2.0.3 and not anymore the v2.0.0 listed in this thread ...

[2022-08-17 14:51] crvernon commented on #4406
@wouterpeere does this correspond to a new release that contains your updated paper revisions from today?  It looks like your latest version was v2.0.3 from 5 days ago.

[2022-08-17 14:54] wouterpeere commented on #4406
@crvernon Right, I forgot about the paper changes.
The version is now v2.0.4, the DOI is also updated to this new version: 10.5281/zenodo.7004037

[2022-08-17 14:56] crvernon commented on #4406
@editorialbot set v2.0.4 as version

[2022-08-17 14:56] crvernon commented on #4406
@editorialbot set 10.5281/zenodo.7004037 as archive

[2022-08-17 14:57] crvernon commented on #4406
@wouterpeere  - thanks for putting together a really nice software product! Thanks to @nmstreethran and @jasondegraw for a constructive and timely review!

I am recommending that your submission be accepted. An EIC will review this shortly and confirm final publication if all goes well.

[2022-08-17 14:58] crvernon commented on #4406
@editorialbot recommend-accept

[2022-08-17 15:03] Shreyas911 commented on #4679
@svchb, It will be merged in a few months, per my discussions with Dr. Ralf Greve, who maintains the base SICOPOLIS code. The code on the ad branch is fully merged with develop already. Before the next release, we will merge the ad branch with the master.

[2022-08-17 15:08] jameshgrn commented on #4654
This is a very well written piece of software! congrats to the authors. The use case is well demonstrated and the software is very well documented. It's a nice interplay of computer vision, data engineering, and user functionality. I particularly enjoyed the inclusion of the metrics submodule, including metrics is something that you don't have to do, but makes your user's experience that much bett

[2022-08-17 15:17] wouterpeere commented on #4406
@crvernon Thank you for your guidance through this review process!!

[2022-08-17 15:29] jGaboardi commented on #4620
@editorialbot commands

[2022-08-17 15:30] jGaboardi commented on #4620
@editorialbot check references

[2022-08-17 15:32] jGaboardi commented on #4620
@editorialbot generate pdf

[2022-08-17 15:51] ppxasjsm commented on #4519
@thohamm, I'll be acting as your editor for this submission. I am new to this role, so bear with me.
However, to get things going, could you please suggest 5-6 reviewers from [this](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) list that you consider appropriate to vet this paper?

[2022-08-17 15:55] siavash-saki commented on #4620
check references

[2022-08-17 16:11] QuentChangeat commented on #4456
Interesting, I do not encounter this issue on my side.

[2022-08-17 16:14] ppxasjsm commented on #4553
@lorenzo-rovigatti, I am Antonia Mey and I'll be your editor for the submission. I am new to this role as editor for JOSS so please bear with me.

I am now in the process of finding reviewers for you.

[2022-08-17 16:19] ppxasjsm commented on #4553
@ptmerz, @lorenzo-rovigatti suggested you as a potential reviewer for this. Would you be able to take on this reivew?

[2022-08-17 16:53] kyleniemeyer commented on #4565
@editorialbot accept

[2022-08-17 16:58] davidpagnon commented on #4362
Thank you!
Version number is v2.0.1, and here is the Zenodo DOI: [![DOI](https://zenodo.org/badge/501642916.svg)](https://zenodo.org/badge/latestdoi/501642916)

I will address your points sometime this week!

[2022-08-17 17:01] kyleniemeyer commented on #4561
Hi @Vaibhavdixit02, it looks like your article is missing a few DOIs, can you add these?
 - DiffernentialEquations.jl paper: 10.5334/jors.151
 - Saltelli et al. (2020: 10.1038/d41586-020-01812-9

[2022-08-17 17:13] kyleniemeyer commented on #4406
Hi @wouterpeere, I made a few minor edits to the paper: https://github.com/wouterpeere/GHEtool/pull/16

Can you merge these? I will then accept your submission.

[2022-08-17 17:49] kyleniemeyer commented on #4565
Congratulations @JanLeppert on your article's publication in JOSS!

Many thanks to @ma-sadeghi and @bonhEditor for reviewing this submission, and @rkurchin for editing.

It looks like the PDF is still not loading (for me, at least) so I will keep this issue open until it does.

[2022-08-17 17:50] ptmerz commented on #4553
Hi @ppxasjsm, yes, I'd be happy to review!

[2022-08-17 18:02] villaa commented on #4665
@editorialbot generate pdf

[2022-08-17 18:06] wouterpeere commented on #4406
Hi @kyleniemeyer , I merged you're changes. Do I need to update the archive and version also?

[2022-08-17 18:13] kyleniemeyer commented on #4406
@wouterpeere thanks, and no, that's not necessary since the software did not change. I'll move forward with accepting now

[2022-08-17 18:13] kyleniemeyer commented on #4406
@editorialbot generate pdf

[2022-08-17 18:20] kyleniemeyer commented on #4406
@editorialbot accept

[2022-08-17 18:21] #4565 closed

[2022-08-17 18:32] kyleniemeyer commented on #4406
Congratulations @wouterpeere on your article's publication in JOSS!5981))

Many thanks to @jasondegraw and @nmstreethran for reviewing this, and @crvernon for editing.

[2022-08-17 18:32] #4406 closed

[2022-08-17 18:33] kyleniemeyer commented on #4606
Hi @jmschrei, just checking in. Can you edit this submission?

[2022-08-17 18:44] jbytecode commented on #4561
@Vaibhavdixit02 - I think that is okay now, please merge the PR mentioned above.

[2022-08-17 18:46] jbytecode commented on #4561
@editorialbot check references

[2022-08-17 18:46] jbytecode commented on #4561
@kyleniemeyer - I think that is okay now.

[2022-08-17 18:53] jbytecode commented on #4561
@editorialbot recommend-accept

Just for a full-check and generating the latest pdf

[2022-08-17 19:00] diehlpk commented on #4377
@jfowkes please have a look at the comments above.

[2022-08-17 19:20] kyleniemeyer commented on #4561
@editorialbot accept

[2022-08-17 19:51] svchb commented on #4679
@crvernon Is this fine?

[2022-08-17 20:14] jbytecode commented on #4563
@editorialbot remind @briatte in two weeks

[2022-08-17 20:14] lorenzo-rovigatti commented on #4553
@ppxasjsm, thank you very much for agreeing on being the editor! I'm sure it will be fun :)
And also thank you @ptmerz for accepting to review oxDNA!

[2022-08-17 20:18] Shreyas911 commented on #4679
@crvernon @svchb, If absolutely necessary, we can speed it up but I think this is just a logistical issue, that will get sorted in a few months.

[2022-08-17 20:22] tonyewong commented on #4556
@jbytecode @svchb Okay, just added (https://github.com/raddleverse/MimiBRICK.jl/commit/3a2ef0df4e1c158a290ba76897277c49b0b6449a) a bit about the design pattern and what is involved in modifying/adding new component submodels. I tried not to be too verbose as the [Mimi Documentation](https://www.mimiframework.org/Mimi.jl/stable/) gives much more detailed instructions on adding/modifying/using model

[2022-08-17 20:29] svchb commented on #4556
@tonyewong Thank you that is fine. I have already ticked all the boxes.

[2022-08-17 20:29] jbytecode commented on #4556
@tonyewong - It seems our reviewers are okay with the reviewing item of "Functionality documentation: Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?"

It is very common in Julia packages to have an API documentation, especially generated by the Documenter.jl. Would you consider adding this kind of stuff for package? I think having tha

[2022-08-17 20:30] svchb commented on #4556
@jbytecode This also concludes the review from my side.

[2022-08-17 20:31] jbytecode commented on #4556
Dear reviewers @Zitzeronion and @svchb,

It seems you are okay with the reviewing items. Can I start my editorial stuff now?

Thank you in advance.

[2022-08-17 20:36] jbytecode commented on #4556
@svchb - Thank you so so much for accepting our invitation and finalizing your review in a reasonable period of time.

[2022-08-17 20:37] samhforbes commented on #4614
Thanks for submitting to JOSS @pydemull. I have reached out to some prospective reviewers and they will be added here as they accept the invitation. I’m looking forward to working through this process with you.

[2022-08-17 20:38] samhforbes commented on #4657
Thanks got submitting to JOSS @cosimameyer. I have been in touch with some possible reviewers, and will add them here as and when they accept the invitation. Until then I look forward to going through this process with you!

[2022-08-17 20:52] kyleniemeyer commented on #4561
Congratulations @Vaibhavdixit02 on your article's publication in JOSS!

Many thanks to @zhenwu0728 and @storyetfall for reviewing this, and @jbytecode for editing.

[2022-08-17 20:52] #4561 closed

[2022-08-17 20:53] tonyewong commented on #4556
@jbytecode Sure, I'm happy to work on adding further documentation via Documenter.jl. That's consistent with the parent Mimi.jl repository anyway (https://github.com/mimiframework/Mimi.jl/blob/master/docs). I can do this in parallel with your editorial work if that's okay with you.

[2022-08-17 20:54] kyleniemeyer commented on #4666
Hello @meryemberradauwo, unfortunately, the JOSS editorial board has evaluated your submission and found that it does not meet our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) to proceed to review.

You might consider [alternative solutions](https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-

[2022-08-17 20:54] kyleniemeyer commented on #4666
@editorialbot reject

[2022-08-17 20:54] #4666 closed

[2022-08-17 20:55] jbytecode commented on #4556
@tonyewong - I am already okay with our reviewers' decision. But if you decide to add this kind of documentation, it would be great!

[2022-08-17 21:00] Zitzeronion commented on #4556
Okay, from my side!
Thanks @jbytecode for moderating this issue so nicely and thanks @tonyewong for the nice package.

[2022-08-17 21:01] jbytecode commented on #4556
@Zitzeronion - thank you so much for accepting our invitation and finalizing your tasks in a reasonable time. Hope to work in future projects together!

[2022-08-17 21:04] jbytecode commented on #4556
@tonyewong - I have just sent a pull request for the required reference. Please review it and if you are agreed with me,  please merge it. Thank you in advance.

[2022-08-17 21:09] jbytecode commented on #4556
@editorialbot check references

[2022-08-17 21:09] jbytecode commented on #4556
@editorialbot generate pdf

[2022-08-17 21:09] tonyewong commented on #4556
Looks great - thanks! Just merged it.

I'll create an issue in the repo for adding the Documenter.jl documentation. I completely agree that it will be a good enhancement for the package's documentation!

Many thanks @Zitzeronion and @svchb for the helpful comments and quick review! Many thanks as well to @jbytecode for the helpful feedback and managing the process!

[2022-08-17 21:11] jbytecode commented on #4556
@tonyewong - I am waiting for your Documenter.jl stuff then. Thank you in advance.

[2022-08-17 21:16] tonyewong commented on #4556
Sorry I may have misunderstood - Should I work on the Documenter.jl stuff as a condition for acceptance? Or as an enhancement to the documentation later, since the reviewers are happy with it as-is?

[2022-08-17 21:21] jbytecode commented on #4556
@tonyewong - I think it would not take much time. If you can do it in a few days we can wait. In this period of time I will be checking all the stuff.

[2022-08-17 21:56] kyleniemeyer commented on #4606
@editorialbot query scope

[2022-08-17 21:57] kyleniemeyer commented on #4606
Hi @fluhus, sorry for the continued delay here, but some questions were raised as to whether this package is mature enough and has enough functionality to move towards review, so we are going to take a closer look before moving forward. We will hopefully have an answer by end of next week.

[2022-08-17 22:35] fboehm commented on #4643
@mmrabe and @mingzehuang - how are the reviews going? Please feel free to discuss here any revisions that the authors must make before publication. Thanks again!

[2022-08-17 22:57] pstjohn commented on #4621
Hi all,

Thanks for the excellent comments (so far) on this effort! We've made a few changes to the repo and manuscript (see issues #33, #34, #36, #37, #39, and #40 for additional discussion), and here I'll respond generally to some of the bigger picture comments on the size, age, and git history that have been raised.

This library was originally conceived as a refactor to our [NREL/rlmolecule](g

[2022-08-18 03:30] emdupre commented on #4670
👋 Hi @cariyurek, and thank you for your submission to JOSS !

If you have any suggestions for potential reviewers, please let me know by listing their names or GitHub handles (without the @, so they don't receive a notification) here.

You can suggest reviewers from any relevant project, though we often recommend starting with [this list of people](https://bit.ly/joss-reviewers) as they have alrea

[2022-08-18 03:59] fluhus commented on #4606
Hi @kyleniemeyer, thanks for the update. Happy to provide any clarifications if needed.

[2022-08-18 06:23] oliviaguest commented on #4114
@raybecker maybe we can set a new ETA? ☺️

[2022-08-18 06:29] thohamm commented on #4519
@ppxasjsm Thank you for acting as editor for our submission. I would like suggest bocklund, mturiansky, utf, raghurama123, wcwitt, lucydot as reviewers.

[2022-08-18 06:34] lucaferranti commented on #4414
@editorialbot generate pdf

[2022-08-18 06:40] lucaferranti commented on #4414
@editorialbot help

[2022-08-18 06:41] lucaferranti commented on #4414
@editorialbot generate pdf

[2022-08-18 06:42] lucaferranti commented on #4414
@kahaaga @jarvist there is an error when generating the pdf, not sure if it's a bot issue or paper issue, can you have a look at it?

[2022-08-18 06:46] kahaaga commented on #4414
@lucaferranti I originally submitted the paper referring to the `JOSSPaper` branch, which no longer exists, because it was merged to `main` and deleted (see discussion above).

The [error](https://github.com/openjournals/joss-papers/actions/runs/2880454779?check_suite_focus=true) seems to be related to the fact that this branch no longer exists.

<img width="1002" alt="Screenshot 2022-08-18 at 08

[2022-08-18 06:49] lucaferranti commented on #4414
meanwhile @kahaaga, overview software and docs look good to me. As a small nitpick, currently the installation instructions in the docs homepage are last. This seems a little strange to me, I would suggest to move that section before the `API` section.

I will check the paper once I can generate the pdf.

[2022-08-18 06:50] lucaferranti commented on #4414
I don't think a reviewer should be allowed to change the branch where the paper is generated from, that sounds like something only author and/or editor should be allowed to do, can you try it?

[2022-08-18 06:55] kahaaga commented on #4414
@editorialbot set main as branch

[2022-08-18 06:56] kahaaga commented on #4414
@editorialbot generate pdf

[2022-08-18 06:56] lucaferranti commented on #4414
@editorialbot generate pdf

[2022-08-18 06:56] lucaferranti commented on #4414
ah ninja'd me 🥷 😅

[2022-08-18 07:01] lucaferranti commented on #4414
@editorialbot check references

[2022-08-18 07:46] cosimameyer commented on #4657
@samhforbes thanks for the update - that sounds fantastic! I'm also looking forward to working on the process with you 🙂

[2022-08-18 09:32] jbytecode commented on #4556
@editorialbot generate pdf

[2022-08-18 09:41] kcerva commented on #4460
Thanks @crvernon. I've added the developers on Zenodo, so we're good to go!

[2022-08-18 09:49] jbytecode commented on #4556
Dear @tonyewong

- [ ] Please read the paper pdf carefully, one more time, correct any issue if exists. Please perform a full grammar check.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive in https://zenodo.org/
- [ ] The Zenodo archive (with the same name/title with the JOSS

[2022-08-18 10:24] joshwlambert commented on #4491
@Bisaloo Thanks, I completely agree. I was going to mention the conflict of interest in the next week or so. Once again thank you to @vboussange and @alexskeels for your comments and apologies for not being able to respond to them in a timely fashion.

[2022-08-18 10:28] Bisaloo commented on #4491
@openjournals/joss-eics could you please withdraw this submission?

[2022-08-18 10:44] IndrajeetPatil commented on #4659
@osorensen A few more suggestions for possible reviewers:

- nhtran93
- njtierney
- pmyteh
- gabett
- chrisaberson
- dhvalden
- jaeyk

[2022-08-18 11:03] danielskatz commented on #4491
@editorialbot withdraw

[2022-08-18 11:03] #4491 closed

[2022-08-18 11:20] osorensen commented on #4659
Thanks @IndrajeetPatil! I guess many are on holiday in August, because it's usually much easier to find reviewers.

[2022-08-18 11:20] osorensen commented on #4659
👋 @nhtran93 @njtierney @pmyteh @gabett would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-08-18 11:29] StanczakDominik commented on #4672
@editorialbot generate my checklist

[2022-08-18 12:30] jGaboardi commented on #4620
@editorialbot check references

[2022-08-18 12:32] jGaboardi commented on #4620
@editorialbot generate pdf

[2022-08-18 12:44] jGaboardi commented on #4620
@martinfleis The authors have addressed my concerns and have met all criteria in the checklist. @siavash-saki Well done.

[2022-08-18 13:18] melissawm commented on #2974
@sjvrijn @chkoar are you happy with us moving to accept and publish this paper at this point?

[2022-08-18 13:18] melissawm commented on #4502
Hi folks 👋🏻 just checking in on the status of these reviews, anything I can help with?

[2022-08-18 13:23] melissawm commented on #4291
Hello folks - I have contacted the four suggested reviewers above with no positive response so far.

Just in case, @nimgould are there other folks you could recommend as possible reviewers, either from [our spreadsheet](https://bit.ly/joss-reviewers) or your own profesional network?

Many thanks!

[2022-08-18 13:36] sjvrijn commented on #2974
@melissawm Yep, looks good to me!

[2022-08-18 13:49] Viech commented on #4621
I've reviewed the changes to the manuscript and documentation and they look good to me!

With respect to scope I want to stress that I can see this package being used and cited in research and that the code and repository quality look pretty good; so I've ticked that box now even though not much new substance was added to the core code at this point. I also understand that using compact constructs

[2022-08-18 13:53] JorenSix commented on #4554
@hendriks73 Thanks for the thorough review. I will get to work!

[2022-08-18 14:03] nimgould commented on #4291
Hi Melissa, that is disappointing. I already looked through your speadsheet, and there seems to be a vacuum of people whose interests lie in optimization and who program in fortran.

The main journal in the general area of software for optimization is Mathematical Programming Computation. https://www.springer.com/journal/12532 I looked through the list of associate and technical editors, and aside

[2022-08-18 14:40] Jacks0nJ commented on #4607
@drvinceknight
I've been updating the code to also have functionality for n-dimensions. Currently, the main branch is only for 1D. Apart from a few functions being renamed for clarity and some efficiency savings I've found, the old 1D code is untouched and relevant guides will be the same. There would also be a new, 4th guide to explain the nD code.

The nD code is almost ready to merge with the m

[2022-08-18 14:59] pstjohn commented on #4621
@editorialbot generate pdf

[2022-08-18 15:38] BenjMy commented on #4620
@siavash-saki Thanks for your answers to my questions.

@martinfleis I've read the revised manuscript and I'm satisfied with the changes. All the criteria from the checklist are met. For me it is ready for publication.

All the best to `TessPy` and the dev team!

[2022-08-18 16:36] diazrenata commented on #4674
## Review summary

The primary functionality of the `quadcleanR` package is the `crop_area` function, which standardizes the sampling density and effort of data collected from quadrats of different dimensions to allow for robust comparisons between different-sized quadrats. The package also includes a number of data wrangling utility functions and a shiny app for basic exploratory plotting.

I can

[2022-08-18 16:52] emdupre commented on #4484
As an update, @adswa has agreed to review this submission on an accelerated timeline, so I'm adding her as a reviewer now. Thank you, @adswa !

Adapting relevant information from the top comment:

```@editorialbot generate my checklist```

[2022-08-18 16:52] emdupre commented on #4484
@editorialbot add @adswa as reviewer

[2022-08-18 17:01] lucaferranti commented on #4414
@kahaaga I've now gone through the paper and it seems good to me. As a minor comment, I think the full list of papers needs not be included in the paper, as it's more an API documentation (which is already well covered in the docs). That being said, it doesn't hurt either to be there if you prefer to keep it.

@jarvist this concludes my review, I recommend the paper for publication.

[2022-08-18 17:03] crvernon commented on #4679
@Shreyas911 by in a few months, do you mean holding publication until then as well?

[2022-08-18 17:22] crvernon commented on #4460
@editorialbot check references

[2022-08-18 17:22] crvernon commented on #4460
@editorialbot generate pdf

[2022-08-18 17:42] crvernon commented on #4460
@editorialbot set v1.0.0 as version

[2022-08-18 17:43] crvernon commented on #4460
@editorialbot set 10.5281/zenodo.7002733 as archive

[2022-08-18 17:44] crvernon commented on #4460
@kcerva - thanks for putting together a really nice software product! Thanks to @MoLi7 and @nick-gorman for a constructive and timely review!

I am recommending that your submission be accepted. An EIC will review this shortly and confirm final publication if all goes well.

[2022-08-18 17:44] crvernon commented on #4460
@editorialbot recommend-accept

[2022-08-18 17:47] kbarnhart commented on #4596
:wave: @TobbeTripitaka, @mankoff, @mdpiper -- a ping to consider this review request. The text of the initial request was:

Would you be willing to serve as a reviewer for a submission to JOSS (The Journal of Open Source Software, https://joss.theoj.org/). The submission is "tsp ('Teaspoon'): A library for ground temperature data" and I'm asking you in light of your experience with cryospheric dat

[2022-08-18 18:13] Shreyas911 commented on #4679
@crvernon, let me elaborate, apologies for the confusion.

We intend to merge the ad branch into the master once the review of the paper is complete and all necessary changes have been made to the ad branch. We thought it was fine to keep everything on the ad branch and there was no rush to merge it, so we had set a timeline of a few months to do the merge, which will be fairly painless.

If the r

[2022-08-18 18:14] svchb commented on #4679
@Shreyas911 @crvernon I would suggest holding the publication till it is officially published, but starting the review process now since the documentation needs a bit of work.

[2022-08-18 18:26] Shreyas911 commented on #4679
@svchb, yes, I will speak to Ralf and get started on the merging. We can continue the review since we are likely to be done merging before the review process concludes.

[2022-08-18 18:42] svchb commented on #4679
@Shreyas911 The paper is too long. The guideline is about 1000 words. You mention a lot of stuff that is also is just repeated from your documentation. Just reference your documentation. Following best development practices, i.e. having a documentation, CI etc. is not a major feature.

I will follow up on documentation improvement suggestions in an issue in your gitlab.

[2022-08-18 18:51] sbenthall commented on #4382
@editorialbot generate pdf

[2022-08-18 19:00] JakobBD commented on #4640
Hey @Nikoleta-v3,
Potential reviewers include salrm8, georgiastuart, Himscipy, and AnjaliSandip/.
Best, Jakob

[2022-08-18 19:03] crvernon commented on #4679
Working via a development branch is OK while conducting the review.  This is often done to not disturb the stable main branch representing a current version used by the public.  However, changes made during the review that are done to meet the requirements and feedback from the review should be made available on your main branch before publication is finalized.

[2022-08-18 19:04] sbenthall commented on #4382
My supplemental review on the remaining items:
 *  Substantial scholarly effort: Commit history reveals several months of effort in the first five months of 2022 and end of 2021. The work builds on prior publications and has
 * Functionality: I'm not an R user, so it's hard for me to confirm this. But the other reviewer did check this off, and I see there are automated tests for the post-estimatio

[2022-08-18 19:06] adswa commented on #4484
@editorialbot generate my checklist

[2022-08-18 19:07] sbenthall commented on #4382
Thanks @sbenthall for the timely review!

Ok, @ejikeugba we can move on to the final steps on this now. Sorry about that long delay.

Those steps are:
 - Final proofreading and DOI checking on the paper...
 - You tag a release and put the release into an archive
 - You report the version number of the release and DOI in this thread.

Let me do one more proofreading pass. I encourage you to do the

[2022-08-18 19:10] Datseris commented on #4414
Thank you @lucaferranti , we appreciate your effort and recommendation! :)

We would prefer the table of papers in the paper however.

[2022-08-18 19:28] sbenthall commented on #4382
I've proofread the paper and it looks good to me. @ejikeugba please let me know when you've got a version tag and a DOI.

[2022-08-18 19:29] sbenthall commented on #4536
@hvoltbb Would you be able to review this submission to JOSS?

[2022-08-18 19:29] sbenthall commented on #4536
@EDiLD Would you please be able to review this submission to JOSS?

[2022-08-18 19:31] svchb commented on #4679
@Shreyas911 I am not able to login to the awi gitlab even though I should be able to. (I work for an AWI associated research center) So I am not able to create an issue in your gitlab. You might need to change the settings to allow public issue creation.

[2022-08-18 19:33] Shreyas911 commented on #4679
@svchb,  I will email Ralf, he has the control.

[2022-08-18 20:24] adswa commented on #4484
Hey everybody, happy to be on board! :wave:
I got a head start into the review, and had time to look at almost all review criteria already. Overall, congrats on a well-made piece of software and this cool addition into the mne ecosystem! I tested all installation methods and went through the examples in the documentation on a Debian system. I'm a big fan of the examples in MNEs documentation and w

[2022-08-18 20:32] rmmilewi commented on #4458
@editorialbot generate my checklist

[2022-08-18 20:50] shivupa commented on #4623
Yup thank you sorry just had a slammed schedule! I'll be working through this review over the coming days/weekend!

[2022-08-18 21:01] rmmilewi commented on #4458
Looks great to me! I really like the tool, and the paper is well-written!

[2022-08-18 21:28] elbeejay commented on #4646
@skiptoniam I still have a number of questions relating to the text of the manuscript, some of which are repeats of my previous comments that were not addressed.

- L 9-10: Shouldn't "e.g.," come before the references? Re-order this in the markdown file to read: `[e.g. @baddeley_practical_2000; @cressie_statistics_1993]` and this should be resolved
- L 18, 33-34, 46, 48: Is there a reason the IPPM

[2022-08-18 21:34] tamasgal commented on #4452
Thanks @danielskatz and sorry for the late response (lot of traveling lately).

I fixed the Zenodo entry and created and archived a new version of UnROOT: 0.8.11

Here is the DOI: `10.5281/zenodo.7008076`

[2022-08-18 21:38] danielskatz commented on #4452
@editorialbot set 0.8.11 as version

[2022-08-18 21:38] danielskatz commented on #4452
@editorialbot set 10.5281/zenodo.7008076 as archive

[2022-08-18 21:38] danielskatz commented on #4452
@editorialbot recommend-accept

[2022-08-18 21:41] danielskatz commented on #4480
👋 @matthewfeickert - If you can let us know when you think you can look at this again, it would be helpful

[2022-08-18 21:42] danielskatz commented on #4328
👋 @mhucka - we need your input/actions here!!

[2022-08-18 21:43] danielskatz commented on #4452
@editorialbot accept

[2022-08-18 21:52] danielskatz commented on #4452
Congratulations to @tamasgal (Tamás Gál) and co-authors!!

And thanks to @PerilousApricot and @jpata for reviewing!
We couldn't do this without you

[2022-08-18 21:52] #4452 closed

[2022-08-18 22:17] tamasgal commented on #4452
Many thanks Daniel, and of course big thanks to the reviewers too! `:)`

[2022-08-18 22:22] PerilousApricot commented on #4452
Big ups to the UnROOT folks on your accomplishments. Love to see the
analysis universe expanding outward

[2022-08-19 00:18] jvkersch commented on #4236
Hi all, I just wanted to check in to see if there's anything else we can provide to expedite the review. Thanks!

[2022-08-19 04:37] vsoch commented on #4458
Thank you @rmmilewi ! :heart:

[2022-08-19 04:58] EgorOrachyov commented on #3743
@editorialbot generate pdf

[2022-08-19 05:00] EgorOrachyov commented on #3743
@Nikoleta-v3

Hello! I apologize for such a long response.
We have corrected typos and updated the charts, highlighting the measurements numbers in bold.

I hope to proceed without delay to carry out the rest of the work 👽

[2022-08-19 06:16] robertodr commented on #4680
@editorialbot generate my checklist

[2022-08-19 08:59] mingzehuang commented on #4643
Hi,  @gasparl, your package looks nice:) I see you have "contribution" section in your README file. I would suggest you also include [code of conduct](https://github.com/gasparl/possa/issues/8#issue-1344151572) like many other open source packages:)

[2022-08-19 08:59] mingzehuang commented on #4643
Hi, @mmrabe, I'm reviewing! Hopefully I can get it done by this weekend:)

[2022-08-19 09:07] devSJR commented on #4407
version tag of the archived version: 1.1-2
DOI of the archived version 10.5281/zenodo.7009124
https://doi.org/10.5281/zenodo.7009124

[2022-08-19 09:09] mingzehuang commented on #4643
Hi, @gasparl, you have numerous great example with the link in your README:) Would you mind picking one simple example as an illustration of functionality and putting it in your JOSS paper like many other papers on JOSS?

[2022-08-19 09:25] phpuech commented on #4557
Hi,
I just wanted to check if everything was fine.My student wanted to know if/when we should get a feedback from JOSS.
Sincerely
PH Puech

[2022-08-19 09:29] adswa commented on #4484
Alright, I'm done with my review. I filed a range of general observations I made when trying it out a bit more (https://github.com/mne-tools/mne-icalabel/issues/103, https://github.com/mne-tools/mne-icalabel/issues/104, https://github.com/mne-tools/mne-icalabel/issues/107, https://github.com/mne-tools/mne-icalabel/issues/102), of which I deem none required to close in order to accept this submissi

[2022-08-19 09:45] fabian-sp commented on #4502
Hi @melissawm, I had opened three issues with questions or possible additional examples for the package. One of them has been adressed already. I would wait for an answer on the other two questions I had before checking all the remaining points in my checklist.

[2022-08-19 10:00] Nikoleta-v3 commented on #3743
Thank you @EgorOrachyov!

At this point could you:
- [ ] Let me know which tagged release of your software we should use? `v1.0.0`? or would you like to make a new one?
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the

[2022-08-19 10:03] Nikoleta-v3 commented on #4640
👋  @salrm8 & @georgiastuart &  @AnjaliSandip would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "PoUnce: A framework for automatized uncertainty quantification simulations on high-perf

[2022-08-19 11:45] EgorOrachyov commented on #3743
@Nikoleta-v3

- [x] Release `v1.0.0` is ok. (I have made new one especially for Zenodo `v1.0.0-zenodo`, but it is effectively the same thing)
- [x] Zenodo archive [DOI: 10.5281/zenodo.7009938](https://doi.org/10.5281/zenodo.7009938)
- [x] Meta filled, orcid added where possible
- [x] [DOI: 10.5281/zenodo.7009938](https://doi.org/10.5281/zenodo.7009938)

[2022-08-19 11:50] Nikoleta-v3 commented on #3743
@editorialbot set 10.5281/zenodo.7009938 as archive

[2022-08-19 11:51] Nikoleta-v3 commented on #3743
@editorialbot set v1.0.0 as version

[2022-08-19 11:51] ivastar commented on #4602
@arfon I've done the review. Do I write comments on the items I've left unchecked here?

[2022-08-19 11:51] Nikoleta-v3 commented on #3743
@editorialbot recommend-accept

[2022-08-19 11:53] Nikoleta-v3 commented on #3743
@EgorOrachyov there is a missing DOI. Could you please take care of this? 😄

[2022-08-19 11:56] Nikoleta-v3 commented on #3743
My apologises for only raising the issue now. I was sured I checked the references 😅

[2022-08-19 12:01] masadcv commented on #4532
Hi @vissarion ,
We are wondering if there is any update on the scope query for this submission? If so, can you please guide us on the next steps/improvements needed from our end? Many thanks!

[2022-08-19 12:20] EgorOrachyov commented on #3743
@Nikoleta-v3 If I understand you correctly, I have to fix doi `10.1145/3466795` for GraphBLATS paper and updated article sources?

[2022-08-19 12:23] EgorOrachyov commented on #3743
@editorialbot generate pdf

[2022-08-19 12:24] EgorOrachyov commented on #3743
@Nikoleta-v3 Seems to be fixed now

[2022-08-19 12:59] georgiastuart commented on #4640
@Nikoleta-v3 happy to review!

[2022-08-19 13:02] salrm8 commented on #4640
@Nikoleta-v3
Sure, I will be happy to review.

[2022-08-19 13:08] itepifanio commented on #4480
@matthewfeickert the [paper-related issue](https://github.com/palaimon/ipyannotator/issues/39) was addressed on [PR 42](https://github.com/palaimon/ipyannotator/pull/42) and [PR 43](https://github.com/palaimon/ipyannotator/pull/43).

[2022-08-19 13:22] Nikoleta-v3 commented on #3743
@editorialbot check references

[2022-08-19 13:29] Nikoleta-v3 commented on #3743
dear editors please note that I've set the version to be the tagged release `v1.0.0`. However,

So the Zenodo archive is based on the tagged release `v1.0.0-zenodo`.  Let me know if I should change the version to be `v1.0.0-zenodo` instead.

[2022-08-19 13:29] Nikoleta-v3 commented on #4640
Thank you both very much! 🤩

[2022-08-19 13:30] Nikoleta-v3 commented on #4640
@editorialbot add @georgiastuart  as reviewer

[2022-08-19 13:30] Nikoleta-v3 commented on #4640
@editorialbot add @georgiastuart  as reviewer

[2022-08-19 13:31] Nikoleta-v3 commented on #4640
@editorialbot commands

[2022-08-19 13:31] Nikoleta-v3 commented on #4640
@editorialbot add @georgiastuart as reviewer

[2022-08-19 13:32] Nikoleta-v3 commented on #4640
@editorialbot add @salrm8 as reviewer

[2022-08-19 13:32] Nikoleta-v3 commented on #4640
@editorialbot start review

[2022-08-19 13:32] editorialbot opened #4683 "[REVIEW]: PoUnce: A framework for automatized uncertainty quantification simulations on high-performance clusters"
**Submitting author:** @JakobBD (<a href="http://orcid.org/0000-0001-8961-5340">Jakob Dürrwächter</a>)
**Repository:** https://github.com/JakobBD/pounce
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @georgiastuart, @salrm8
**Archive:** 10.5281/zenodo.7600634

## Status

[![status](https://joss.theoj.org/papers/c62521adac904e832a1ac4

[2022-08-19 13:32] #4640 closed

[2022-08-19 13:34] Nikoleta-v3 commented on #4683
👋🏼 @JakobBD, @georgiastuart, @salrm8 this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

[code]
as the top of a new comment in this thread.

These checklists contain the JOSS requirements ✅ As you go over the submission, please check any items that you feel have been sa

[2022-08-19 13:36] georgiastuart commented on #4683
@editorialbot generate my checklist

[2022-08-19 13:41] robbiemorrison commented on #4472
Simply noting the outcome.&nbsp;R

[2022-08-19 13:51] fboehm commented on #4643
Thanks so much, @mmrabe and @mingzehuang ! Please feel free to ask me questions - here, in the comments - if you're unsure about anything. Thanks again!

[2022-08-19 13:57] fboehm commented on #4674
@ViniciusBRodrigues and @diazrenata - Thank you for the initial reviews!  @DominiqueMaucieri - please feel free to respond to the comments above in this comment thread. Thanks again!

[2022-08-19 14:11] sdhutchins commented on #4236
Hey @jvkersch @lpantano! I just finished up planning a hackathon. I'll complete my review today. I apologize for the delay.

[2022-08-19 14:19] gasparl commented on #4643
Sure.

- I added [Code of Conduct](https://github.com/gasparl/possa/commit/0d3e4f8a03f6d77ed32c50eb5756fc2de1e3eb6a) together with more details on how contribution works.
- I added a short example to the paper.

[2022-08-19 14:20] gasparl commented on #4643
@editorialbot generate pdf

[2022-08-19 14:21] TomDonoghue commented on #4484
To also wrap things up on my end - I double checked the updates that were related to my review, and checked of the remainder of my open points. Everything looks good to me!

[2022-08-19 14:48] garretrc commented on #4659
@osorensen I am able to review, and I'll switch my github email to something I check more often 👍

[2022-08-19 14:55] RBrearton commented on #4397
Hi @jgostick, just had some time to go through this.

Yep, true. Added a closing sentence which also hopefully clarifies where islatu lives in the reflectivity software stack.

Yep, changed it to "uncertainties" and it's much clearer.

Yeah... good point. I was lazy with this because the documentation is (hopefully!) easy to find, and technical details can be found there.

Added a final paragraph

[2022-08-19 15:18] arfon commented on #4673
Looks like the author has withdrawn this submission.

[2022-08-19 15:18] #4673 closed

[2022-08-19 15:20] robbiemorrison commented on #4472
Simply noting the outcome.&nbsp;R

[2022-08-19 15:45] matthewfeickert commented on #4480
Thanks very much for the speedy and nice work @itepifanio. I am once again travelling today and won't have the opportunity to step through the code again until Saturday (2022-08-20) evening (US time) but from looking over PR 40, 41, 42, and 43 on my phone things are looking good! :rocket:

I'll give final comments by Sunday (2022-08-21).

[2022-08-19 15:58] jbytecode commented on #4556
@tonyewong - your docs site look perfect to me.

you can start doing the items that I listed above.

Thank you in advance

[2022-08-19 16:04] osorensen commented on #4659
@editorialbot add @garretrc as reviewer

[2022-08-19 16:05] osorensen commented on #4659
@editorialbot start review

[2022-08-19 16:05] editorialbot opened #4684 "[REVIEW]: datawizard: An R Package for Easy Data Preparation and Statistical Transformations"
**Submitting author:** @IndrajeetPatil (<a href="http://orcid.org/0000-0003-1995-6531">Indrajeet Patil</a>)
**Repository:** https://github.com/easystats/datawizard
**Branch with paper.md** (empty if default branch):
**Version:** 0.6.2
**Editor:** @osorensen
**Reviewers:** @tomfaulkenberry, @garretrc
**Archive:** 10.5281/zenodo.714

## Status

[![status](https://joss.theoj.org/papers/e091e4c73d855e

[2022-08-19 16:05] #4659 closed

[2022-08-19 16:35] jgostick commented on #4397
@editorialbot generate pdf

[2022-08-19 16:45] jgostick commented on #4397
The paper looks great, the choice of before-after data is very convincing!

Regarding performance, @daguiam had not check this box, but between your comments and @andyfaff's endorsement, I think I am satisfied

Regarding citing relevant softare, I see that you've added references to several existing packages, so I considered @andyfaff's unchecked box on this issue to be satisfied as well.

Overall

[2022-08-19 16:46] jgostick commented on #4397
# Post-Review Checklist for Editor and Authors
## Additional Author Tasks After Review is Complete
- [ ] Double check authors and affiliations on the paper (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and report the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and po

[2022-08-19 16:52] tonyewong commented on #4556
Checklist:

* [x]  Please read the paper pdf carefully, one more time, correct any issue if exists. Please perform a full grammar check.
* [ ]  Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
* [ ]  Create a Zenodo archive of the repository in https://zenodo.org/
* [ ]  The Zenodo archive (with the same name/tit

[2022-08-19 16:55] jbytecode commented on #4556
@editorialbot generate pdf

[2022-08-19 17:09] jbytecode commented on #4556
@editorialbot set v1.1.0 as version

[2022-08-19 17:42] jhidalgocarrio commented on #4521
Hi @Solonets,

I see now we have live visualization of camera poses and the map. It is very helpful. Thanks.
I share the same comments with @Mirmix I don't see the GUI buttons reacting. I also get the same error when the GUI freezes.

[code]
Another comment is speed. DSOPP performs around 10 FPS in TUMMONO, sequence 10, which is slower than in real-time.

Besides these comments, I opened an issue

[2022-08-19 18:07] jbytecode commented on #4577
👋👋👋 Dear @oesteban, @Jgoldfar, @jmadera    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**Choco-solver: A Java library for constraint programming**". You can find more information at the top of this Github issue (htt

[2022-08-19 18:32] garretrc commented on #4684
@editorialbot generate my checklist

[2022-08-19 18:45] lbluque commented on #4504
@jarvist @kitmccoll  just checking in on this again. It would be very much appreciated to get a response with an update.

[2022-08-19 19:30] mbobra commented on #4170
@transientlunatic How is it going? Are you finding the review process okay and do you need any help?

@matthewfeickert Is the review going okay? Are you waiting on the submitting author to make any changes?

[2022-08-19 19:31] mbobra commented on #3331
👋 @ashleychontos I hope (and assume) the defense went well! I totally understand wanting to take some time afterward -- but could you update us with an expected timeline to close out this review? It doesn't have to be immediate but I think it would help everyone to have a short update.

[2022-08-19 21:18] lpantano commented on #4236
thank you @sdhutchins !

[2022-08-19 21:36] njtierney commented on #4659
Just clarifying if you still need a reviewer?

On Thu, 18 Aug 2022 at 7:20 pm, Øystein Sørensen ***@***.***>
wrote:

[2022-08-20 00:30] AnjaliSandip commented on #4640
@Nikoleta-v3 Happy to review!

[2022-08-20 04:52] osorensen commented on #4659
Yes @njtierney, that would be much appreciated.  If you're willing to review, I'll add you in #4684

[2022-08-20 06:53] editorialbot opened #4685 "[PRE REVIEW]: GSAreport: Easy to Use Global Sensitivity Reporting"
**Submitting author:** @Basvanstein (<a href="http://orcid.org/0000-0002-0013-7969">Bas van Stein</a>)
**Repository:** https://github.com/Basvanstein/GSAreport
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.0.0
**Editor:** @Fei-Tao
**Reviewers:** @Saran-nns, @xtruan, @rreinecke
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/fe628d10b14

[2022-08-20 06:54] editorialbot opened #4686 "[PRE REVIEW]: veni: A Python package for deep learning using forward automatic differentiation in JAX"
**Submitting author:** @dario-coscia (<a href="http://orcid.org/0000-0001-8833-6833">Dario Coscia</a>)
**Repository:** https://github.com/DSSC-projects/veni
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/e9a77f77b58083f184aa4bef3e864af2/status.svg)]

[2022-08-20 06:54] editorialbot opened #4687 "[PRE REVIEW]: SIMIO-continuum: Connecting simulations to interferometric observations"
**Submitting author:** @nicokurtovic (<a href="http://orcid.org/0000-0002-2358-4796">Nicolas Kurtovic</a>)
**Repository:** https://github.com/nicokurtovic/SIMIO
**Branch with paper.md** (empty if default branch): main
**Version:** v1.1
**Editor:** @ivastar
**Reviewers:** @adeleplunkett, @jeffjennnings, @jeffjennings
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers

[2022-08-20 06:54] editorialbot opened #4688 "[PRE REVIEW]: basilisk: a Bioconductor package for managing Python environments"
**Submitting author:** @LTLA (<a href="http://orcid.org/0000-0002-3564-4813">Aaron Lun</a>)
**Repository:** https://github.com/LTLA/basilisk
**Branch with paper.md** (empty if default branch): submission
**Version:** 1.9.2
**Editor:** @Nikoleta-v3
**Reviewers:** @jsun, @gtonkinhill
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/cb99a113aa5f8df9e722fed04de91c57/s

[2022-08-20 06:54] editorialbot opened #4689 "[PRE REVIEW]: pycop: a Python package for dependence modeling with copulas"
**Submitting author:** @maximenc (<a href="http://orcid.org/0000-0001-6135-3932">Maxime L. D. Nicolas</a>)
**Repository:** https://github.com/maximenc/pycop
**Branch with paper.md** (empty if default branch): master
**Version:** v.0.0.6
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ecee7c72b42bbf088d16f8965ff67b60/stat

[2022-08-20 06:55] editorialbot opened #4690 "[PRE REVIEW]: Scientific Computational Imaging Code (SCICO)"
**Submitting author:** @bwohlberg (<a href="http://orcid.org/0000-0002-4767-1843">Brendt Wohlberg</a>)
**Repository:** https://github.com/lanl/scico
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.0.2
**Editor:** @danielskatz
**Reviewers:** @vitorsr, @DanNixon, @lucaferranti
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/9c65b12d2b

[2022-08-20 06:57] arfon commented on #3743
@editorialbot recommend-accept

[2022-08-20 07:01] arfon commented on #3743
@editorialbot accept

[2022-08-20 07:02] arfon commented on #4460
@editorialbot recommend-accept

[2022-08-20 07:03] arfon commented on #4495
:wave: @gcskoenig – just waiting on your final 👍 to move ahead please?

[2022-08-20 07:19] arfon commented on #4686
@editorialbot query scope

:wave: @dario-coscia – thanks for your submission to JOSS. This looks like it could be a useful package but I'm having a little trouble deciphering what the 'value add' is above and beyond the libraries it uses as dependencies. As such, I'm going to ask our editorial team to weigh in on whether they believe this submission is in scope for us.

Nothing for you to do here

[2022-08-20 07:24] arfon commented on #4460
Apologies for the back-and-forth here folks but house style (and accepted convention as far as I know) is _Python_ for the language name, `python` when talking about the command-line interaction.

As such, please merge this PR @kcerva: https://github.com/Mat-dp/mat-dp-core/pull/25

[2022-08-20 07:24] arfon commented on #3743
@mlxd, @bencardoen – many thanks for your reviews here and to @Nikoleta-v3 for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@EgorOrachyov – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-20 07:24] #3743 closed

[2022-08-20 07:25] arfon commented on #4687
@editorialbot set main as branch

[2022-08-20 07:25] arfon commented on #4687
@editorialbot check repository

[2022-08-20 07:27] arfon commented on #4687
👋 @nicokurtovic – is this submission associated with a publication in a AAS journal?

[2022-08-20 07:28] arfon commented on #4688
@editorialbot query scope

@LTLA – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-08-20 07:30] arfon commented on #4602
Yes please! Also, if you've opened issues on the repo (https://github.com/rhdtownsend/msg) that are related to these unchecked items then please link to them here too.

[2022-08-20 07:30] arfon commented on #4689
@editorialbot set master as branch

[2022-08-20 07:30] arfon commented on #4689
@editorialbot check repository

[2022-08-20 07:34] arfon commented on #4690
@bwohlberg – please fix the whitespace in [your paper](https://github.com/lanl/scico/blob/joss-paper/docs/joss-paper/paper.md) to match our [example](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) – YAML is whitespace sensitive.

<img width="1041" alt="Screenshot 2022-08-20 at 08 32 45" src="https://user-images.githubusercontent.com/4483/185734426-c137c930-6f

[2022-08-20 07:43] EgorOrachyov commented on #3743
Many thanks to joss community for reviewing and editing this submission.  We are very pleased that we have an opportunity to finally publish it 🎉🚀

[2022-08-20 08:10] jbytecode commented on #4556
@editorialbot set 10.5281/zenodo.7011156 as archive

[2022-08-20 08:12] jbytecode commented on #4556
@editorialbot check references

[2022-08-20 08:12] jbytecode commented on #4556
@editorialbot generate pdf

[2022-08-20 08:16] jbytecode commented on #4556
@tonyewong  - Great work! Thank you.

Now I am recommending an acceptance. The software and the paper is much far better than the earlier form.

One of our associate editor-in-chiefs will give the final decision.

Thank you.

[2022-08-20 08:16] jbytecode commented on #4556
@editorialbot recommend-accept

[2022-08-20 10:53] dfm commented on #4549
@josephwkania — Just a note to say that I am still working on finding this second reviewer! Things are moving slowly (probably in part because of everyone's summer holidays), but I hope we have someone lined up soon. Thanks for your patience!

[2022-08-20 11:40] LucyMcGowan commented on #4495
@MichaelSchomaker I definitely hear what you’re saying re: “rendering it inconclusive” that language came from a review of the methods several years ago when we used to say “rendering it null” (since the interval included the null) and it was pointed out that just barely including the null was more likely inconclusive — but maybe I should just remove the “rendering…” text all together.

Technical

[2022-08-20 12:57] bwohlberg commented on #4690
Sorry about that. We fixed the header a while back, but somehow the bad indentation seems to have made its way back in. It's fixed now.

It worked when we built the paper in the joss github workflow or using the docker image.

[2022-08-20 13:18] arfon commented on #4312
Sure, that's fine 👍

[2022-08-20 13:22] arfon commented on #4556
@editorialbot accept

[2022-08-20 13:52] draabe commented on #4588
@kanishkan91 No problem and thank you for the explanation, this makes a lot of sense now! For v0.2.0 and v0.2.1 of floodlight, we've had the (lower) requirement for the Python version at >=3.7.1. As some dependencies did not like that, we've updated that requirement to Python >=3.8 starting with the release of v0.3.0. I guess that explains why the installer did fall back to a previous version of f

[2022-08-20 17:00] psanan commented on #4531
Sorry for the delay - I will get to it ASAP.

[2022-08-20 17:00] ashleychontos commented on #3331
Hello @mbobra indeed it did, many thanks!

My start date at Princeton is 9/1. How does one final push for the month of September sound? I know it's not immediate but I am trying to be realistic while I settle in to the new place. I've actually had a couple meetings about the package recently so I've been beginning to ramp this back up again anyway!

[2022-08-20 17:25] draabe commented on #4588
@crvernon @kanishkan91 I've addressed all the points raised in the respective issues of the project's issue board. Let me know if you have further remarks or if some points are not to your satisfaction!

[2022-08-20 18:07] LTLA commented on #4688
Thanks @arfon. If it helps to make a decision, this work also includes several utility packages that I didn't mention explicitly in the manuscript:

- https://github.com/LTLA/basilisk.utils
- https://github.com/LTLA/dir.expiry

For various reasons, they needed to be split into separate packages rather than remaining part of **basilisk** itself. I'd guess that **basilisk.utils** would probably add

[2022-08-20 18:29] bwohlberg commented on #4690
@editorialbot generate pdf

[2022-08-20 18:32] bwohlberg commented on #4690
@arfon: As requested, a list of suggested reviewers:

jwbuurlage
mh-skjelvareid
alberto-battistel
vitorsr
DanNixon
grlee77
lheagy

[2022-08-20 18:41] bwohlberg commented on #4690
@editorialbot generate pdf

[2022-08-20 18:44] bwohlberg commented on #4690
@editorialbot generate pdf

[2022-08-20 21:04] kanishkan91 commented on #4588
@draabe Thanks for addressing all  of those ! I'l start taking a look and closing all issues. I think most of your responses look good to me. I'l just wait for the merge into master (You mention the changes were currently on the develop branch?) Though on the documentation, I would like the editor to just glance at it before I approve since even though your response makes total sense, I would just

[2022-08-20 21:39] draabe commented on #4588
@kanishkan91 Thanks a lot for the feedback!

@crvernon All changes resulting from the suggestions by @kanishkan91 and @gagolews are on the develop branch. We usually use the git-flow branching model, staging changes to the package on develop and then releasing a version by merging a bunch of changes into the main branch. If everybody approves, I could take all changes, merge into main, and release

[2022-08-21 03:17] hmacdope commented on #4467
@Xia-Yijie some things to address in the paper.

- [ ]  "Easy customizing" should be "Easy to customize"
- [ ]  "tip3p, tip4pew, opc for water" The names of the water models should be in all caps and need citations.
- [ ]  What is meant by "simulation data transformation", please clarify
- [ ]  "hyd ration" has an extra space and should be "hydration"
- [ ]  "small organic molecules in  water is n

[2022-08-21 04:04] danasolav commented on #4259
@editorialbot add @vboomi as reviewer

[2022-08-21 04:37] osorensen commented on #4645
@editorialbot start review

[2022-08-21 04:37] editorialbot opened #4691 "[REVIEW]: Volume Segmantics: A Python Package for Semantic Segmentation of Volumetric Data Using Pre-trained PyTorch Deep Learning Models"
**Submitting author:** @OllyK (<a href="http://orcid.org/0000-0002-6152-7207">Oliver N. F. King</a>)
**Repository:** https://github.com/DiamondLightSource/volume-segmantics
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.2.7
**Editor:** @osorensen
**Reviewers:** @jingpengw, @estenhl
**Archive:** 10.5281/zenodo.7143363

## Status

[![status](https://joss.theoj.org/papers/c

[2022-08-21 04:37] #4645 closed

[2022-08-21 04:39] osorensen commented on #4181
👋 @cpalmer718 and @GaryBAYLOR, could you please consider whether the updates made by @blind-contours address your points raised in the reviews, and update your review checklists accordingly?

[2022-08-21 07:31] arfon commented on #4556
@Zitzeronion, @svchb – many thanks for your reviews here and to @jbytecode for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@tonyewong  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-21 07:31] #4556 closed

[2022-08-21 07:34] arfon commented on #4658
@editorialbot invite @Fei-Tao as editor

:wave: @Fei-Tao – would you be willing to edit this submission for JOSS?

[2022-08-21 07:39] arfon commented on #4578
@editorialbot invite @jbytecode as editor

:wave: @jbytecode – would you be willing to edit this submission for us? I realize it's a little out of your area 😄

[2022-08-21 07:49] arfon commented on #4636
@editorialbot query scope

@vherve – apologies for moving slowly here on this submission – there has been lots of holidays for the editorial team over the last few weeks. I'm going to ask the editorial team for help deciding if this submission is in scope for JOSS. We don't typically handle submissions like this and I want to solicit their input.

Thanks in advance for your patience!

[2022-08-21 08:00] arfon commented on #4669
@pradeeban, thanks for your submission to JOSS. I've given your earlier paper from March this year ([_CONTROL-CORE: A Framework for Simulation and Design of Closed-Loop Peripheral Neuromodulation Control Systems_](https://doi.org/10.1109/ACCESS.2022.3161471)) a quick review and it looks like this submission here would be about broadly speaking the same work (i.e., not allowed as a dual publication

[2022-08-21 08:12] vherve commented on #4636
@arfon - Thank you for the update. We perfectly understand that many people are on vacations during August.
I hope that you and the editorial team will be convinced that our work fits into JOSS scope. I presented this work a few days ago at an international [conference](https://isme18.isme-microbes.org/) and received a lot of positive feedback, including from potential new users of our workflow.
R

[2022-08-21 08:54] jbytecode commented on #4578
@editorialbot assign me as editor

@arfon - of course, gladly :)

[2022-08-21 09:00] jbytecode commented on #4578
👋👋👋 Dear @Volkerschmid,  @becarioprecario,  @wcjochem  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**geostan: An R package for Bayesian spatial analysis**". You can find more information at the top of this Github is

[2022-08-21 09:06] jbytecode commented on #4578
@ConnorDonegan - Thank you for submitting your paper for JOSS. I am the handling editor.

The reviewers you suggested seem to be inactive for a while. I will wait for a couple of days to get a response (Because it is the vacation time for much of us).

Thank you in advance.

[2022-08-21 09:08] jbytecode commented on #4567
@editorialbot remind @bluefoxr in two days

[2022-08-21 09:23] mdavezac commented on #4665
@rkurchin, if I remember the JOSS review process well, a [REVIEW] issue will be opened at some point? Or should it go here?

[2022-08-21 11:45] cpalmer718 commented on #4181
Hi @osorensen @blind-contours the package is much improved, and substantial effort has been put into addressing my comments. I'll summarize the following remaining notes:

- the only potentially tough one is that `@import {package}` statements are causing huge bloat to the package namespace. I'd recommend removing all of them, but if you can't avoid it for sl3 for some reason, at least remove it f

[2022-08-21 12:25] dfm commented on #4549
@editorialbot add @abatten as reviewer

Thanks @abatten for coming through as our second reviewer!! I'll get the review started in a new thread momentarily and have a lot more info for you all over there.

[2022-08-21 12:26] dfm commented on #4549
@editorialbot start review

[2022-08-21 12:26] editorialbot opened #4692 "[REVIEW]: WILL - Weighted Injector of Luminous Lighthouses"
**Submitting author:** @josephwkania (<a href="http://orcid.org/0000-0002-3354-3859">Joseph Kania</a>)
**Repository:** https://github.com/josephwkania/will/
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.2.0
**Editor:** @dfm
**Reviewers:** @liamconnor, @abatten
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/ed1406414ae6df39b2da99bed0dfaa9f/stat

[2022-08-21 12:26] #4549 closed

[2022-08-21 12:27] dfm commented on #4692
@liamconnor, @abatten — This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above, and generate your checklists by commenting `@editorialbot generate my checklist` on this issue ASAP. As you go over the submission, please check any items t

[2022-08-21 12:37] jbytecode commented on #4578
@editorialbot generate pdf

[2022-08-21 13:20] osorensen commented on #4181
Thanks @cpalmer718!

[2022-08-21 13:22] osorensen commented on #4181
On the occasion, I'd also like to ask @blind-contours about the prospects of submitting this package to CRAN. Although not a strict requirement for publishing in JOSS, it definitely would be an advantage.

[2022-08-21 14:02] csoneson commented on #4407
@editorialbot check references

[2022-08-21 14:03] csoneson commented on #4407
@editorialbot set 10.5281/zenodo.7009124 as archive

[2022-08-21 14:03] csoneson commented on #4407
@editorialbot set 1.1-2 as version

[2022-08-21 14:06] csoneson commented on #4407
@devSJR Thanks! I'll hand over now to an associate EiC for the final steps. Thanks for submitting to JOSS!

[2022-08-21 14:06] csoneson commented on #4407
@editorialbot recommend-accept

[2022-08-21 14:09] csoneson commented on #4545
Ping @patRyserWelch8

[2022-08-21 14:32] arfon commented on #4495
@LucyMcGowan – you don't need to make a new archive of the software if you've just tweaked the language in the paper.

[2022-08-21 14:57] arfon commented on #4407
@editorialbot accept

[2022-08-21 15:04] arfon commented on #4407
@jaybee84, @markziemann – many thanks for your reviews here and to @csoneson for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@devSJR – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-21 15:04] #4407 closed

[2022-08-21 15:20] devSJR commented on #4407
@arfon @jaybee84 @markziemann @csoneson

Thanks!

[2022-08-21 17:21] bencardoen commented on #3743
Congrats on the acceptance @EgorOrachyov
As a general comment, 99% of journals/venues I've interacted with so far could learn a lot of how the review process works here: highly responsive, collaborative, constructive, open, automated where needed, allowing humans to focus on the parts that need human reflection. @arfon @Nikoleta-v3

[2022-08-21 17:35] ppxasjsm commented on #4553
Thank you @ptmerz and @ohenrich to act as reviewers for this submission.

[2022-08-21 17:41] ppxasjsm commented on #4553
@editorialbot add @ptmerz as reviewer

[2022-08-21 17:41] ppxasjsm commented on #4553
@editorialbot add @ohenrich as reviewer

[2022-08-21 17:42] ppxasjsm commented on #4553
@editorialbot start review

[2022-08-21 17:42] editorialbot opened #4693 "[REVIEW]: oxDNA: coarse-grained simulations of nucleic acids made simple"
**Submitting author:** @lorenzo-rovigatti (<a href="http://orcid.org/0000-0001-5017-2829">Lorenzo Rovigatti</a>)
**Repository:** https://github.com/lorenzo-rovigatti/oxDNA
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** v3.5.0
**Editor:** @ppxasjsm
**Reviewers:** @ptmerz, @degiacom
**Archive:** 10.5281/zenodo.7556035

## Status

[![status](https://joss.theoj.org/pa

[2022-08-21 17:42] #4553 closed

[2022-08-21 17:46] ppxasjsm commented on #4519
Hi @mturiansky, would you be willing to review this submission?

[2022-08-21 17:48] ppxasjsm commented on #4519
Hi @utf, would you be willing to review this submission?

[2022-08-21 17:49] ppxasjsm commented on #4519
@thohamm thank you for your suggestions. Let's see what people say.

[2022-08-21 19:19] travisseymour commented on #4533
Hi @prashjha <https://github.com/prashjha> , it looks like both reviews are
in and I am wondering if there is anything I can or need to do to move
things along. I have a promotion coming up and it would help to know
whether or not this submission has been successful.
Thanks
Travis Seymour

On Mon, Aug 1, 2022 at 1:36 PM Prashant K. Jha ***@***.***>
wrote:

--

*Travis Seymour, PhD*
Associate Profe

[2022-08-21 21:11] fibreglass2 commented on #3736
A new update has been added to PIVC. This update provides additional experimental images from other authors as requested by the reviewers. Due to size limitations it is not possible to distribute entire experimental image sets with PIVC. In addition, as documented in https://gitlab.com/fibreglass/pivc/-/issues/18 the ability to generate synthetic images (with known solutions) of arbitrary size and

[2022-08-21 22:22] lesfoster commented on #4469
Getting back to you.  The contact never did return any info.  I am looking into some more specific applications for the viewer.  I am content to leave this in pre-review for now.  But this having been a month and a half I wanted to let you know where things stand: no specifics about when / if this tool would be cited in a paper.  Thank you.

[2022-08-22 00:07] rkurchin commented on #4665
@editorialbot start review

[2022-08-22 00:07] editorialbot opened #4694 "[REVIEW]: NuclearToolkit.jl: A Julia package for nuclear structure calculations"
**Submitting author:** @SotaYoshida (<a href="http://orcid.org/0000-0002-1342-1846">Sota Yoshida</a>)
**Repository:** https://github.com/SotaYoshida/NuclearToolkit.jl
**Branch with paper.md** (empty if default branch): main
**Version:** 0.2.5
**Editor:** @rkurchin
**Reviewers:** @mdavezac, @villaa
**Archive:** 10.5281/zenodo.7314918

## Status

[![status](https://joss.theoj.org/papers/20cd6c8238e2

[2022-08-22 00:07] #4665 closed

[2022-08-22 00:31] taless474 commented on #4073
@arfon I emailed them on August 2nd. I will send another email today.

[2022-08-22 00:46] SotaYoshida commented on #4694
@rkurchin Thank you for your kind help and editorial work.
I have a question:
If a reviewer points out a bug or typo in the code, is it acceptable to update the code during the review process and should it be tagged?

[2022-08-22 01:51] Fei-Tao commented on #4658
@editorialbot assign me as editor

[2022-08-22 02:48] njtierney commented on #4659
Hi @osorensen - I actually don't have much time over the next 6 weeks due to travel, so I will bow out of this, this time.

[2022-08-22 03:51] omalled commented on #4560
@WilkAndy, I addressed the issues raised [here](https://github.com/openjournals/joss-reviews/issues/4544#issuecomment-1178305351), following the outline [here](https://github.com/openjournals/joss-reviews/issues/4544#issuecomment-1178365752). I also looked into all the issues raised in the repo and got the code coverage up over 85% (seems to not count code that is run at compile time, so the actua

[2022-08-22 05:13] jesstytam commented on #3776
Is end of Oct ok?

[2022-08-22 05:42] matthewfeickert commented on #4480
@editorialbot commands

[2022-08-22 05:46] matthewfeickert commented on #4480
@danielskatz As I think `editorialbot` needs to be able to build from a branch on the target repo itself (as opposed to being able to build from a branch that is part of a PR to the repo) @itepifanio will need to merge https://github.com/palaimon/ipyannotator/pull/42 before we can see the paper render with those changes, correct?

[2022-08-22 06:39] MichaelSchomaker commented on #4495
@LucyMcGowan : yes, maybe just drop the phrase to avoid any unintentional misuse of it from package users when writing up their results.

[2022-08-22 06:52] ibayer commented on #4480
@matthewfeickert

I have just merged the PRs you reviewed incl. https://github.com/palaimon/ipyannotator/pull/42.

[2022-08-22 07:03] jfowkes commented on #4377
@diehlpk apologies I was on annual leave for two weeks, thank you very much for the re-review, we will address the above comments in a PR in due course.

[2022-08-22 08:11] nicokurtovic commented on #4687
Hi Arfon,
this submission is not associated with a publication in a AAS journal. The code has been used before in a publication n AAS by Pinilla et al. (2022), but  that paper did not describe the code or its functionalities.

[2022-08-22 08:37] chkoar commented on #2974
Yeap

[2022-08-22 08:55] d-eggert commented on #4052
Hi @pritchardn,

thank you for your valuable feedback and sorry for my late response. I was on summer vacation. I will have a closer look at your points later this week, as soon as I worked through my backlog.

[2022-08-22 09:17] kcerva commented on #4460
Just merged the PR @arfon. Thank you!

[2022-08-22 09:20] arfon commented on #4460
@editorialbot recommend-accept

[2022-08-22 09:28] dargueso commented on #4432
We have removed references to "the chord length formula" because the actual distance over the great circle arch is used instead. This was specified in the description of the function and the corresponding links, but was not updated in the README.md and the manuscript itself.  We have better described the method, including a definition of the great circle arch, and a reference for the KDtree algori

[2022-08-22 09:28] arfon commented on #4460
@editorialbot accept

[2022-08-22 09:33] arfon commented on #4460
@MoLi7, @nick-gorman – many thanks for your reviews here and to @crvernon for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@kcerva – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-22 09:33] #4460 closed

[2022-08-22 09:36] arfon commented on #4647
Yes, that sounds like a good idea (apologies for the delayed response here).

[2022-08-22 09:37] arfon commented on #4647
@aaron-bray – apologies for the delay here but we're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-22 09:39] jarvist commented on #4504
I've emailed them using the original thread that I used to invite the review. It's a good point that they might not have noticed the prompts if they are not active GitHub users.

[2022-08-22 09:39] arfon commented on #4656
@SYalouz - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-08-22 09:40] jarvist commented on #4414
@editorialbot generate pdf

Just trying to understand that error above.

[2022-08-22 09:41] arfon commented on #4689
@editorialbot query scope

@maximenc – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week or so.

[2022-08-22 09:42] kasasxav commented on #4644
Hi @alexriss,

I am still going through the review process, looks good so far! But there are a few requirements that you are missing:

In the documentation,

- Statement of need: you do write that SpmImage Tycoon is a "Cross-platform app to manage and edit scanning probe microscopy (SPM) images and spectra", but it would be nice if you provide more information about what problems it can solve or f

[2022-08-22 09:44] arfon commented on #4690
@bwohlberg – thanks for fixing up the paper. While we look for an editor to pick up this submission could you please take a look at substantially reducing the size of your paper please? As a guideline, JOSS papers should be between 250 -- 1000 words (yours is upwards of 3000 currently).

[2022-08-22 09:48] dargueso commented on #4432
We have clarified the method and added references for the KDtree algorithm. We used the Euclidean distance as a metric of proximity over the 3D space by converting geographical coordinates (R, lat, lon) to cartesian coordinates (x, y ,z). The resulting length is the chord of the great circle arc. We added a definition of the great circle arc to the text, but we think the chord is a well establishe

[2022-08-22 09:50] jarvist commented on #4414
@editorialbot recommend-accept

I'm happy with the corrected version of the paper & documentation, and given your response to the reviewers comments, I can heartily recommend acceptance.

An editor in chief should be along to take up the process from here.

Thankyou @dawbarton and @lucaferranti for your efforts!

[2022-08-22 09:55] jarvist commented on #4414
@Datseris Oooh, that's not good! If you are happy with your version v2.0.0, you should be able to push that to Zenodo or similar and generate the DOI.

[2022-08-22 09:59] Datseris commented on #4414
@jarvist I'm on it. I'll publish a version 2.0.1 that includes the documentation improvements that the revierwers suggested. Then i'll also store this to Zenodo and provide a new DOI here!

[2022-08-22 10:03] Xia-Yijie commented on #4467
I have corrected the expression in the paper, the README file and the documentation.

I have corrected the names and added the citations.

I have added a sentence "Simulation data transformation is the process of changing the format, structure, or values of the simulation data such as molecular dynamics trajectories and coordinates from the final frame of a simulation." to the paper.

I have corre

[2022-08-22 10:28] ddhendriks commented on #4642
@eloisabentivegna I have not yet received a reply from the open-research team here at the university, but I have sent them a reminder.

[2022-08-22 10:35] Datseris commented on #4414
@jarvist here is the doi: 10.5281/zenodo.7014633  , associated with version `v2.0.1` of the software.

[2022-08-22 10:39] lucydot commented on #4624
@darinddv, @hgandhi2411 do you have an update on the review?

@darinddv your first task is to generate a checklist - instructions  at the top of the thread.

@hgandhi2411 I can see you have started ticking through the checklist. You do not need to post comments / thoughts after completing the full review - reviews tend to work best when it is an on-going discussion. So if there is something you sp

[2022-08-22 10:41] wcjochem commented on #4578
Dear @jbytecode this sounds like a very interesting submission. Unfortunately, I'm working on another JOSS review currently and with other projects deadlines and upcoming leave I wouldn't be available to help to start with this until mid-September.

[2022-08-22 10:44] lucydot commented on #4459
@srmnitc @raghurama123 looks like it is back to you - @VHchavez has responded to the points raised over at the issue - https://github.com/wasserman-group/pyCADMium/issues/10.

[2022-08-22 10:50] raghurama123 commented on #4459
Hi all, I will respond in a couple of days.

[2022-08-22 11:56] kasasxav commented on #4644
Hi again,

I am going through the videos and I installed the software, I was wondering if there is a dataset I could use for trying out the functionality?
Maybe it would be nice to provide it in general for the users, but otherwise do you know of any publicly available data?

[2022-08-22 12:03] lwang-astro commented on #4483
@webbjj Thank for the link. It provides the correct suggestion to solve the issue.
I found two packages are required on linux:
cm-super and dvipng
For Ubuntu, I use `sudo apt install cm-super dvipng` can solve the plotting error.

[2022-08-22 12:18] danielskatz commented on #4480
@editorialbot generate pdf

[2022-08-22 12:24] alexriss commented on #4644
HI - thank you very much for your efforts. I will go through your comments soon. I just wanted to mention that the app is geared towards "end users", i.e. people interacting via the GUI. Thus, I prefer to keep the docs simple. This is the reason that there is no documentation on the API. However, the libraries used by this app are released separately (SpmImages.jl, SpmSpectroscopy.jl) and more inf

[2022-08-22 12:37] crvernon commented on #4432
@dargueso fine for me.  Thanks.

[2022-08-22 12:39] dargueso commented on #4432
@crvernon, Thanks to you for your time reviewing the manuscript!

[2022-08-22 12:42] crvernon commented on #4588
Using git-flow is fine by me.  I'll take a full look at this today now that @kanishkan91 and @gagolews have finished up.  Thanks!

[2022-08-22 12:42] crvernon commented on #4588
@editorialbot check references

[2022-08-22 12:42] crvernon commented on #4588
@editorialbot generate pdf

[2022-08-22 13:30] crvernon commented on #4588
Great package!  Just one comment as things are looking very good:

For the paper:
- [ ] When discussing packages by their names please use the formal spelling:  NumPy, pandas is fine, Matplotlib, SciPy, and scikit-learn is fine

Let me know when this has been addressed and we will move forward.

[2022-08-22 13:33] crvernon commented on #4432
No problem @matthiasdemuzere and @dargueso

Once you get the following knocked out, we will move forward.  Thanks!

- [ ]  Conduct a GitHub release of the current reviewed version of the software you now have on the main and archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository) - you can link your GitHub repository to automatically generate your

[2022-08-22 14:15] ivastar commented on #4602
Review completed. Most of my points agree with those of @AWehrhahn. I also only tested the Python interface. I added some comments to the issues that were already open and also added one more issue on the performance claims in handling large files.

[2022-08-22 14:54] blsqr commented on #2316
@arfon @xuanxu @labarba Any chance you could give this another look? The citation for our paper has now been wrong for three weeks.

I don't suppose there's anything that we could help with, right?

[2022-08-22 15:06] editorialbot opened #4695 "[PRE REVIEW]: riversCentralAsia: An R package for hydrological modelling"
**Submitting author:** @mabesa (<a href="http://orcid.org/0000-0003-2089-3478">Beatrice Marti</a>)
**Repository:** https://github.com/hydrosolutions/riversCentralAsia/
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.1.0
**Editor:** @crvernon
**Reviewers:** @mengqi-z, @tonyewong
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/2d590dd5b3a8

[2022-08-22 15:08] editorialbot opened #4696 "[PRE REVIEW]: WATTS: Workflow and template toolkit for simulation"
**Submitting author:** @paulromano (<a href="http://orcid.org/0000-0002-1147-045X">Paul Romano</a>)
**Repository:** https://github.com/watts-dev/watts
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.3.0
**Editor:** @danielskatz
**Reviewers:** @sskutnik, @munkm, @yadudoc
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/04749c75d05fbad

[2022-08-22 15:18] arfon commented on #4695
@editorialbot set paper as branch

[2022-08-22 15:19] arfon commented on #4695
@editorialbot check repository

[2022-08-22 15:19] arfon commented on #4695
@editorialbot generate pdf

[2022-08-22 15:29] cariyurek commented on #4670
Hi @emdupre ,

We are grateful for your time in considering and reviewing our submission. We do not have any strong suggestions for potential reviewers but looking into the list provided we can suggest curtcorum, kerkelae, spinicist or agahkarakuzu (who is not on the list but has published in JOSS).

[2022-08-22 15:37] paulromano commented on #4696
Potential reviewers: andrewryh, shyamd, gwenchee, sskutnik, munkm

[2022-08-22 16:07] kcerva commented on #4460
Thanks so much for all your help and comments @arfon @MoLi7 @nick-gorman and @crvernon! Really happy this is out!

[2022-08-22 16:17] MoLi7 commented on #4460
Congratulations!! Great work @kcerva 👏

[2022-08-22 16:38] faroit commented on #4584
👋 @nils-werner @hendriks73 @csteinmetz1 @ws-choi @jonashaag @hbredin - would any of you be willing to review this submission for JOSS? The JOSS review process takes place on GitHub and focuses on the software and a short paper. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software un

[2022-08-22 16:41] adswa commented on #4484
mne-tools/mne-icalabel#105 is addressed, everything looks good to me, too

[2022-08-22 16:51] pradeeban commented on #4669
Thanks, @arfon, for your consideration and pointers. After discussing with the co-authors, we have decided to withdraw the paper at this time.

[2022-08-22 16:58] ejikeugba commented on #4382
@sbenthall, thanks for making out time to work on the paper. I proofread it one last time, and everything looks fine. Just a minor adjustment in line 101 where I moved the parenthesis (Table 2) a bit further since it refers to 'PR test' rather than 'RET.fit'.

[2022-08-22 16:59] ejikeugba commented on #4382
The version tag and DOI are respectively 0.1.3  and 10.5281/zenodo.7015239

Thanks

[2022-08-22 17:00] burch-cm commented on #4073
Hello, I got the email, and I've been unable to install the software or resolve the dependency issues. While I am still interested in helping with reviews, I don't currently have the technical expertise to troubleshoot the issues with Spark/PySpark/Java and I'm sure this will cause even more delays.

Please remove me as a reviewer at this time. Thank you.

[2022-08-22 17:01] Bisaloo commented on #4497
Hi @VLucet :wave:, as you can see, I'm somewhat struggling to find reviewers. This is likely made worse by the fact that many people are on annual leave. I will try to ask again some people in September.

However, I wanted to double check if you don't know anyone in your field who could be a good fit to review this submission. It doesn't have to be a reviewer from our list.

Thanks for your patien

[2022-08-22 17:04] ejikeugba commented on #4382
I guess I should regenerate the PDF to apply the latest fix.

[2022-08-22 17:04] VLucet commented on #4497
Thanks @Bisaloo, I will give more thought to this
@eric-pedersen please let us know if you have any suggestions

[2022-08-22 17:05] ejikeugba commented on #4382
@editorialbot generate pdf

[2022-08-22 17:22] mhucka commented on #4328
Regarding [@step21's comment](https://github.com/openjournals/joss-reviews/issues/4328#issuecomment-1208168096) about _"Especially the Amazon limitation seems kind of low to me"_: that's from Amazon's service – there is nothing I can do about that. I tried to make it clear that it's the API that returns those results.

[2022-08-22 17:34] mhucka commented on #4328
I appreciate people's efforts and comments.

Regarding comparison to the field: doing a proper exploration of the state of the field today would take hours of work, which unfortunately I don't have. The last time I looked, there were no comparable tools, which is why there is no comparison in the paper currently.

If the need for a review of the state of the field is necessary, then I'm afraid I'm

[2022-08-22 17:44] danielskatz commented on #4328
@mhucka - one of the JOSS review criteria is "State of the field: Do the authors describe how this software compares to other commonly-used packages?"  If you think there are no other commonly-used packages that are comparable, you might just say so in the paper.

[2022-08-22 17:54] jbytecode commented on #4578
@wcjochem - thank you for the response. If you can start about 15th Sep, it is okay to me. Would you like me to assign you now?

[2022-08-22 18:02] jbytecode commented on #4577
@cprudhom - do you have more suggestions? I think it is hard to find reviewers that have both experiences on Java and constraint programming. The search space can be broadened using different keywords.

If you have no more suggestions, I will try to find reviewers, of course.

Thank you in advance.

[2022-08-22 18:14] editorialbot opened #4697 "[PRE REVIEW]: ShakeNBreak: Navigating the defect configurational landscape"
**Submitting author:** @ireaml (<a href="http://orcid.org/0000-0001-7651-0814">Irea Mosquera-Lois</a>)
**Repository:** https://github.com/SMTG-UCL/ShakeNBreak
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @rkurchin
**Reviewers:** @obaica, @mkhorton
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/6545bcc1a0439b16360ace684ac5aa

[2022-08-22 18:14] editorialbot opened #4698 "[PRE REVIEW]: AmpTorch: A Python package for scalable fingerprint-based neural network training on multi-element systems with integrated uncertainty quantification"
**Submitting author:** @ajmedford (<a href="http://orcid.org/0000-0001-8311-9581">Andrew Medford</a>)
**Repository:** https://github.com/ulissigroup/amptorch
**Branch with paper.md** (empty if default branch): master
**Version:** v0.1
**Editor:** @dhhagan
**Reviewers:** @ml-evs, @professoralkmin
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ba551fc487e19526830c

[2022-08-22 18:16] arfon commented on #4698
@editorialbot set master as branch

[2022-08-22 18:17] arfon commented on #4698
@editorialbot check repository

[2022-08-22 18:17] arfon commented on #4698
@editorialbot generate pdf

[2022-08-22 18:19] rkurchin commented on #4694
@SotaYoshida it is not only acceptable, it is highly encouraged! As for tagging, we will ask you to issue a new release tag at the end of the review process. If you want to do so along the way, that's fine, but it's not necessary.

[2022-08-22 18:20] sbenthall commented on #4382
@editorialbot set 10.5281/zenodo.7015239 as archive

[2022-08-22 18:20] sbenthall commented on #4382
@editorialbot set 0.1.3 as version

[2022-08-22 18:22] sbenthall commented on #4382
Great, @ejikeugba . I recommend this article for acceptance to JOSS. Thanks for your patience, and sorry about the long delay.

Editors-in-chief, please not the irregularity in the reviewing. I stepped in with a supplemental review at the suggestion of @danielskatz in the JOSS Slack. I leave it to you to decided if the review suffices.

[2022-08-22 18:24] danielskatz commented on #4661
@editorialbot assign @jbytecode as editor

Thanks to @jbytecode for seeing this issue and agreeing to edit this submission!

[2022-08-22 18:28] adam2392 commented on #4484
@editorialbot generate pdf

[2022-08-22 18:31] jbytecode commented on #4661
@klb2 - thank you for submitting your paper to JOSS. Now I am the handling editor. While I am reading your paper and investigating the software repo, you can take a look at the `list of reviewers` given at the top of this page. If you have suggestions, please mention their usernames here without using the `@` symbol just because we don't want to bother them with alerts and emails.

thank you in ad

[2022-08-22 18:32] jbytecode commented on #4661
@editorialbot generate pdf

[2022-08-22 18:47] jbytecode commented on #4661
@editorialbot generate pdf

[2022-08-22 18:54] mabesa commented on #4695
Hi, thanks for editing! Here is a list of suitable candidates from the joss_reviewer list: tonyewong, kharos, thodson-usgs, babakmohammadi, MoLi7, kauedesousa, Nasrinattar26, jkpierce/, mikemahoney218, alessandroamaranto, mps9506, puruckertom, dm807cam, wincowgerDEV, richardsc, jmp75, crvernon, zgxn, arbennett, mikejohnson51.

[2022-08-22 18:58] JulianKarlBauer commented on #4389
@lizarett
Could you have a look at the overview tables for the modules [material](https://mechkit.readthedocs.io/en/latest/source/material.html), [notation](https://mechkit.readthedocs.io/en/latest/source/notation.html) and [operators](https://mechkit.readthedocs.io/en/latest/source/operators.html) I added in [issue](https://github.com/JulianKarlBauer/mechkit/issues/53)?

[2022-08-22 19:06] ireaml commented on #4697
Potential reviewers: mkhorton, obaica, mturiansky

[2022-08-22 19:21] klb2 commented on #4661
Thank you @jbytecode for serving as editor for this submission.

From the list of reviewers, I would suggest the following two reviewers:
- kramea
- ulf1

Both listed operations research as topic areas and Python as preferred programming language.

[2022-08-22 19:33] jbytecode commented on #4661
👋👋👋 Dear @kramea, @ulf1, @andim    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**QMKPy: A Python Framework for the Quadratic Multiple Knapsack Problem**". You can find more information at the top of this Github issu

[2022-08-22 19:56] lbluque commented on #4504
Thanks a lot @jarvist! I hope we can get an answer relatively soon.

I would find it very helpful to have more transparent communication. It has been quite a frustrating experience to have month-long periods of silence without any statements on timing.

[2022-08-22 20:03] jedbrown commented on #4603
@sbarbot Sorry about my longer-than-expected delay in returning to this. I notice one missing reference, and would ask that you please include comparison to related software (along whatever dimensions you consider to be salient) and a figure demonstrating an example of the capability.

[2022-08-22 20:04] martinfleis commented on #4620
@editorialbot generate pdf

[2022-08-22 20:07] martinfleis commented on #4620
@editorialbot check references

[2022-08-22 20:08] martinfleis commented on #4620
Thank you all!

@siavash-saki The submission is now almost ready to be published.

The next steps you need to do now:

- [ ] Make a new tagged release (or let me know if the latest one contains all the changes) of the software, and list the version tag of the archived version here.
- [ ]  Archive the reviewed software in Zenodo or a similar service
- [ ]  Check that the archival deposit (e.g., in

[2022-08-22 20:10] lizarett commented on #4389
thank you, looks good to me

[2022-08-22 20:11] jedbrown commented on #4603
@sbarbot Also, am I missing some sort of quick-start on how to install and run in the documentation? I think this project needs at least a high-quality README (could be a wiki). Your pipeline yaml kind of has how to install prereqs, build, and run, but it should be somewhere meant to be read by humans. It should be enough for a scientist to follow the steps and interpret results as being physicall

[2022-08-22 20:20] emdupre commented on #4484
@editorialbot check references

[2022-08-22 20:41] emdupre commented on #4484
Thank you for confirming your reviews, @adswa and @TomDonoghue !

@adam2392, I have a few last small comments and requests. Could you please :

- [ ] Correct the DOI for the Pion-Tonachini reference by removing the `https://doi.org/`prefix
- [ ] Add the DOI on the PyTorch citation. It is `10.48550/ARXIV.1912.01703`
- [ ] List the specific version of MNE-Python that you are compatible with ? From t

[2022-08-22 20:49] draabe commented on #4588
@editorialbot generate pdf

[2022-08-22 20:49] jbytecode commented on #4661
👋👋👋 Dear @akshayka  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**QMKPy: A Python Framework for the Quadratic Multiple Knapsack Problem**". You can find more information at the top of this Github issue (https://gith

[2022-08-22 20:50] draabe commented on #4588
@crvernon Thanks for the positive feedback! I've fixed the package spellings. Let me know if I shall release the new version containing the updates.

[2022-08-22 20:59] jmschrei commented on #4433
@bede and @tijeco, can you give an update on your progress? @bede, you haven't started your review yet. Are you still able to do it?

[2022-08-22 21:02] jmschrei commented on #4524
I'm still having some trouble getting responses...

@petebankhead or @dscho, would you be able to review this submission?

[2022-08-22 21:04] emdupre commented on #4484
After making those edits, could you then please :

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare or an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata (e.g., the JOSS paper and software archive have the same

[2022-08-22 21:04] jmschrei commented on #4613
@janfreyberg @ionlights @TomDonoghue @mstimberg would any of you be able to review this submission?

[2022-08-22 21:19] jonashaag commented on #4584
Count me in iff you don't find enough other volunteers.

[2022-08-22 21:41] TomDonoghue commented on #4613
I think this module is a bit too far outside my area of expertise, so I don't think I'm a good reviewer option here.

[2022-08-22 22:46] NoraLoose commented on #4277
@editorialbot generate pdf

[2022-08-22 22:54] bede commented on #4433
Please accept my apologies for extended delays, I will see to this tomorrow

[2022-08-22 23:39] blthayer commented on #4516
Another update: I still have not forgotten this review, and I still have not found time. I'm sorry for the delay. I'll get there eventually (better late than never?).

[2022-08-23 00:15] hmacdope commented on #4467
@editorialbot generate pdf

[2022-08-23 00:22] hmacdope commented on #4467
Just a  few more queries,

It doesn't have to be the final frame of a simulation, it can be any frame no?

This paragraph was not clear to me as it is unclear what is meant by "basic classes" and "no function is implemented". Perhaps something along the lines of. " Xponge provides an interface that allows users to specify their forcefields themselves"

[2022-08-23 00:23] hmacdope commented on #4467
@editorialbot commands

[2022-08-23 00:23] hmacdope commented on #4467
@editorialbot check references

[2022-08-23 00:24] hmacdope commented on #4467
@Xia-Yijie please fix the invalid DOIs as well.

[2022-08-23 01:51] jesstytam commented on #3776
Ah ok then, withdrawing for now sounds like the better option. Thanks!

[2022-08-23 02:06] abatten commented on #4692
@editorialbot generate my checklist

[2022-08-23 02:23] mturiansky commented on #4519
Hello! I should be able to review this, but I will need a few weeks if that's okay, since I am a bit busy at the moment.

[2022-08-23 03:14] Xia-Yijie commented on #4467
@editorialbot check references

[2022-08-23 04:13] Xia-Yijie commented on #4467
No, it does not have to be the final frame. It can be any frame.

Yes, indeed my expression is too specialized in python programming. `Class` and `function` are both keywords in python. I should change my words to "Xponge provides an interface that allows users to specify their forcefields themselves without modifying the source code"

[2022-08-23 04:24] hmacdope commented on #4467
@editorialbot generate pdf

[2022-08-23 04:35] hmacdope commented on #4467
Sorry that was a bit early.

[2022-08-23 04:47] Xia-Yijie commented on #4467
My fault, I was just too slow.

@editorialbot generate pdf

[2022-08-23 04:52] Xia-Yijie commented on #4467
@editorialbot generate pdf

[2022-08-23 04:56] hmacdope commented on #4467
Looks good to me @Xia-Yijie, well done! You have satisfied all my requirements.

Please await a decision from @ojeda-e.

[2022-08-23 05:22] matthewfeickert commented on #4480
I've updated my review in the checklist above https://github.com/openjournals/joss-reviews/issues/4480#issuecomment-1156588361. Given the comments I made there, I think that once https://github.com/palaimon/ipyannotator/pull/43#discussion_r952149168 is resolved that I am able to recommend moving forward with publication. :+1:

[2022-08-23 06:06] arfon commented on #4382
Thanks for the heads-up @sbenthall. This looks good to me.

[2022-08-23 06:06] arfon commented on #4382
@editorialbot accept

[2022-08-23 06:07] editorialbot opened #4699 "[PRE REVIEW]: QPrism: A Python Library for Quality Assessment of Sensor Data Collected in Real-world Settings"
**Submitting author:** @RamziHalabi (<a href="http://orcid.org/0000-0002-3784-9556">Ramzi Halabi</a>)
**Repository:** https://github.com/aid4mh/QPrism
**Branch with paper.md** (empty if default branch):
**Version:** v.0.3.3
**Editor:** @galessiorob
**Reviewers:** @lucask07, @jodemaey
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/98bd3b1f7a60613fb61f70d4a3092a42

[2022-08-23 06:07] editorialbot opened #4700 "[PRE REVIEW]: SlideRule: Enabling rapid, scalable, open science for the NASA ICESat-2 mission and beyond"
**Submitting author:** @dshean (<a href="http://orcid.org/0000-0003-3840-3860">David Shean</a>)
**Repository:** https://github.com/ICESat2-SlideRule/paper
**Branch with paper.md** (empty if default branch): main
**Version:** v1.4.6
**Editor:** @kthyng
**Reviewers:** @jhkennedy, @betolink
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ddd37aab8ef5bda53725e9a262ec

[2022-08-23 06:09] arfon commented on #4602
Thanks @AWehrhahn and @ivastar! @rhdtownsend – please let us know when you've managed to review this feedback and make changes as appropriate to your submission.

[2022-08-23 06:19] arfon commented on #4382
@NRaillard, @PhilipPallmann – many thanks for your reviews here and to @sbenthall for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ejikeugba  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-23 06:19] #4382 closed

[2022-08-23 06:22] arfon commented on #4699
@editorialbot query scope

@RamziHalabi thanks for your submission to JOSS – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-08-23 06:57] Bisaloo commented on #3776
@openjournals/joss-eics, can we withdraw this submission please?

[2022-08-23 07:03] hadware commented on #4584
It'd be a pleasure! Count me in.

[2022-08-23 07:57] dscho commented on #4524
I am no longer working in science, sorry.

[2022-08-23 07:59] dscho commented on #4524
Maybe @ctrueden or @hinerm could help route this?

[2022-08-23 08:01] leouieda commented on #4217
@hemmelig @hfmark thank you for your thorough and thoughtful reviews! I just managed to catch up on all the changes and I agree with the reviewers that this submission meets all our criteria.

@valentineap I'll do a final editorial read of the paper now before we proceed with acceptance. I'll post the final checklist for you shortly as well. Well done and thank you for your (immense) patience so f

[2022-08-23 08:12] kamapu commented on #3776
It is OK with me.

[2022-08-23 09:03] petebankhead commented on #4524
I'm happy to review the submission.

[2022-08-23 09:35] siavash-saki commented on #4620
@martinfleis

- [x] A new tagged release [v0.1.2](https://github.com/siavash-saki/tesspy/releases/tag/v0.1.2) with the latest changes is created.
- [x] The reviewed software (latest release) is [archived in Zenodo](https://zenodo.org/record/7016503#.YwSda2FByB8).  [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.7016503.svg)](https://doi.org/10.5281/zenodo.7016503)
- [x] Metadata is modified an

[2022-08-23 09:48] kasasxav commented on #4644
Hi @alexriss,

Thank you! Thank you for the explanations and test data, looks good then!

I also tried the software and followed the videos in youtube to check that the functionality was working, and everything was fine. The software presented, as I understand, is for users of SPM and similar techniques that wish to browse and analyze their images. There is a list of shortcuts easily accessible th

[2022-08-23 09:51] kasasxav commented on #4644
P.S. I would suggest to have the link to the metadata in the main repo or a possibility to browse through it from the main software. Then users can see the potential of the software even if they don't have available images

[2022-08-23 10:23] Zitzeronion commented on #4312
@editorialbot generate pdf

[2022-08-23 10:43] bluefoxr commented on #4567
Hi @jbytecode I am away until the beginning of September. I can't do much until then, at which point I will aim to finish all revisions by the end of September if that is OK?

[2022-08-23 10:47] jbytecode commented on #4567
@bluefoxr - thank you so much for setting a deadline.

[2022-08-23 10:53] martinfleis commented on #4620
@editorialbot set 10.5281/zenodo.7016503 as archive

[2022-08-23 10:53] martinfleis commented on #4620
@editorialbot set v0.1.2 as version

[2022-08-23 10:53] martinfleis commented on #4620
@editorialbot generate pdf

[2022-08-23 10:55] matthiasdemuzere commented on #4432
I have released a new version 0.4.1, and created a Zenodo repo for this: [10.5281/zenodo.7016607](https://zenodo.org/record/7016607)

I checked this things, looks fine to me.

10.5281/zenodo.7016607

I hope all of the above is as expected?

[2022-08-23 10:59] martinfleis commented on #4620
Thank you @siavash-saki! I'm going to hand this over now to the associate EiC on rotation for the final steps.

[2022-08-23 10:59] martinfleis commented on #4620
@editorialbot recommend-accept

[2022-08-23 11:12] p-ortmann commented on #4593
@editorialbot generate pdf

[2022-08-23 12:30] danielskatz commented on #4480
@itepifanio - even though https://github.com/palaimon/ipyannotator/pull/43 is merged, @matthewfeickert's [comment in it](https://github.com/palaimon/ipyannotator/pull/43#discussion_r952149168) (after it was merged) seems like the last issue to address.

[2022-08-23 12:33] danielskatz commented on #3776
@editorialbot withdraw

[2022-08-23 12:33] #3776 closed

[2022-08-23 13:03] arfon commented on #4669
@editorialbot withdraw

[2022-08-23 13:03] #4669 closed

[2022-08-23 13:17] ibayer commented on #4480
The requested fix has been merged now with https://github.com/palaimon/ipyannotator/pull/45 as well.

[2022-08-23 13:22] danielskatz commented on #4480
Thanks - @matthewfeickert, please see if this addresses your last point, and if we can proceed to acceptance

[2022-08-23 13:26] jgalgarra commented on #4482
@editorialbot generate my checklist

[2022-08-23 13:32] crvernon commented on #4432
@editorialbot set v0.4.1 as version

[2022-08-23 13:32] crvernon commented on #4432
@editorialbot set 10.5281/zenodo.7016607 as archive

[2022-08-23 13:32] crvernon commented on #4432
@editorialbot check references

[2022-08-23 13:32] jgalgarra commented on #4662
@editorialbot generate my checklist

[2022-08-23 13:33] ibayer commented on #4480
We are currently preparing a new release that contains the improvements from the review process as mentioned in https://github.com/openjournals/joss-reviews/issues/4480#issuecomment-1212557726 before. We intent to cut the release as soon as the review as been officially completed.

[2022-08-23 13:34] Shreyas911 commented on #4679
Hi @svchb, I need to add you as a Guest member to the project. Can you share your AWI-affiliated email address or username?

[2022-08-23 13:35] crvernon commented on #4432
See previous note about missing DOI:
https://github.com/openjournals/joss-reviews/issues/4432#issuecomment-1214992476

[2022-08-23 13:36] danielskatz commented on #4480
A new release addressing changes from the process is a requirement for publication. You might want to wait slightly, as I'll be proofreading the paper as well once @matthewfeickert is satisfied, and any changes could also potentially be captured in the publication release

[2022-08-23 13:36] skadio commented on #4577
Team, I can review this submission.

In fact, Choco has been a standard tool of choice in my academic teaching and research when it comes to JAVA. It is a well-designed and performant software and its contributions to the community is well-known. Kudos to all contributors for their work!

This manuscript would make a contribution to JOSS community. More broadly, it would also help bridge communiti

[2022-08-23 13:37] svchb commented on #4679
@Shreyas911 sven.berger@hereon.de

[2022-08-23 13:37] crvernon commented on #4432
@matthiasdemuzere  - thanks for putting together a really nice software product! Thanks to @thurber and @erexer for a constructive and timely review!

I am recommending that your submission be accepted. An EIC will review this shortly and confirm final publication if all goes well.

[2022-08-23 13:38] crvernon commented on #4432
@editorialbot recommend-accept

[2022-08-23 13:40] crvernon commented on #4588
@editorialbot check references

[2022-08-23 13:43] crvernon commented on #4588
@draabe - we are almost there! Next is just setting up the archive for your new release.

We want to make sure the archival has the correct metadata that JOSS requires. This includes a title that matches the paper title and a correct author list.

So here is what we have left to do:

- [ ] Conduct a GitHub release of the current reviewed version of the software you now have on the main and archive

[2022-08-23 13:59] diehlpk commented on #4377
Thanks for the heads-up. Take your time and notify the reviewer if you have done some changes.

[2022-08-23 13:59] jbytecode commented on #4577
@editorialbot  add @skadio as reviewer

@skadio - thank you for accepting our invitation.

I think the author @cprudhom will consider your early suggestion before we set the second reviewer.

The reviewing will be started in a separate thread, and of course, you will have a couple of extra weeks for reviewing process.

Thank you in advance

[2022-08-23 14:00] jbytecode commented on #4577
@editorialbot add @skadio as reviewer

[2022-08-23 14:00] jbytecode commented on #4577
@editorialbot list reviewers

[2022-08-23 14:06] diehlpk commented on #4617
Hi @JPenuchot, @balos1 how is your review going?

[2022-08-23 14:07] diehlpk commented on #4663
Hi @xtruan, @pritchardn how is your review going?

[2022-08-23 14:12] JPenuchot commented on #4617
@editorialbot generate my checklist

[2022-08-23 14:14] elbeejay commented on #4574
:wave: @JosiahParry, @wcjochem, @mikemahoney218 as we are now in week 5 of the review process, I just wanted to remind all of you that we ask our reviewers to complete their reviews in 6 weeks (September 4 in this case). If you are going to be unable to complete your review of this submission by that date, please notify us in this thread with your estimated date of completion for the benefit of bo

[2022-08-23 14:53] jorgedch commented on #4517
@stsievert the solutions to the following issues are already posted in their corresponding threads:

Functionality:
https://github.com/stsievert/salmon/issues/140
https://github.com/stsievert/salmon/issues/141

Feel free to copy/paste the code in the relevant files and close the issues. Other than that, everything else is approved from my side and the code is ready for publication. All the best, J

[2022-08-23 14:55] nhejazi commented on #4522
Hi @adibender — just another ping here about the outstanding issue for this open review. If you could comment on whether you’d like to see further edits or otherwise mark the issue as resolved, that would help us move forward.

[2022-08-23 15:16] editorialbot opened #4701 "[PRE REVIEW]: enetLTS: Robust and Sparse Methods for High Dimensional Linear, Binary, and Multinomial Regression"
**Submitting author:** @fatmasevinck (<a href="http://orcid.org/0000-0002-5958-7366">Fatma Sevinç Kurnaz</a>)
**Repository:** https://github.com/fatmasevinck/enetLTS
**Branch with paper.md** (empty if default branch):
**Version:** 1.1.0
**Editor:** @fabian-s
**Reviewers:** @mcavs, @marastadler
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/571e01add8e8da527504e4

[2022-08-23 15:17] editorialbot opened #4702 "[PRE REVIEW]: Brendapyrser: a Python package to parse and manipulate the BRENDA database"
**Submitting author:** @Robaina (<a href="http://orcid.org/0000-0003-0781-1677">Dr. Semidán Robaina Estévez</a>)
**Repository:** https://github.com/Robaina/BRENDApyrser
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.2
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/5faf8c890d944becd3968ba12770fb78/

[2022-08-23 15:18] editorialbot opened #4703 "[PRE REVIEW]: VMDML: R package for Variational Mode Decomposition based Machine Learning Models"
**Submitting author:** @Pankajdas7 (<a href="http://orcid.org/0000-0003-1672-2502">Dr. Pankaj Das</a>)
**Repository:** https://github.com/Pankajdas7/VMDML
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/30efd2467a3efea2079c27031166d6d2/status.svg)](ht

[2022-08-23 15:19] arfon commented on #4703
@editorialbot reject

@Pankajdas7 – there doesn't seem to be a software submission here.

[2022-08-23 15:19] #4703 closed

[2022-08-23 15:20] arfon commented on #4702
@editorialbot query scope

@Robaina – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-08-23 15:23] JPenuchot commented on #4617
Hi Patrick, I have a few comments already:

- there is no documentation,
- the code is not commented,
- there are no instructions for installation (although it is a single header, having it specified in a documentation would be a good start),
- performance claims aren't backed by any benchmark/measure (nb: there is an assembly output example which might be a strong indicator, but isn't a performan

[2022-08-23 15:27] hbredin commented on #4584
I'd like to say yes because I really like the very idea of JOSS.
However, I am not sure I can commit to working on this before the end of September.
Let me know if that is OK.

[2022-08-23 15:33] diehlpk commented on #4611
@editorialbot generate pdf

[2022-08-23 15:36] ejikeugba commented on #4382
Awesome! Thanks, @sbenthall, @NRaillard  and @PhilipPallmann  for the effort put in reviewing this submission.

[2022-08-23 15:37] diehlpk commented on #4617
@JeWaVe  could you please elaborate on that?

[2022-08-23 15:39] danielskatz commented on #4480
@editorialbot generate pdf

I'll proofread this next

[2022-08-23 15:40] danielskatz commented on #4480
@editorialbot check references

[2022-08-23 15:56] danielskatz commented on #4480
@itepifanio - please see https://github.com/palaimon/ipyannotator/pull/46 and https://github.com/palaimon/ipyannotator/pull/47 for some suggested changes in the paper and bib

[2022-08-23 16:33] mdpiper commented on #4596
@kbarnhart Yes, I can review.

[2022-08-23 16:35] kbarnhart commented on #4596
@editorialbot add @mdpiper to reviewers

[2022-08-23 16:37] kbarnhart commented on #4596
Many thanks to @Elchin and @mdpiper for agreeing to serve as reviewers. I will now close this issue and start the main review issue.

[2022-08-23 16:37] kbarnhart commented on #4596
@editorialbot start review

[2022-08-23 16:37] editorialbot opened #4704 "[REVIEW]: tsp ("Teaspoon"): A library for ground temperature data"
**Submitting author:** @nicholas512 (<a href="http://orcid.org/0000-0002-2719-0671">Nick Brown</a>)
**Repository:** https://gitlab.com/permafrostnet/teaspoon
**Branch with paper.md** (empty if default branch): joss
**Version:** v1.3.1
**Editor:** @kbarnhart
**Reviewers:** @Elchin, @mdpiper
**Archive:** 10.5281/zenodo.7121289

## Status

[![status](https://joss.theoj.org/papers/4c4a5818941114c38148

[2022-08-23 16:37] #4596 closed

[2022-08-23 16:40] kbarnhart commented on #4704
👋🏼 @Elchin and @mdpiper this is the review thread for the paper. All of our communications about this review will happen here from now on.

At the top of the thread is https://github.com/openjournals/joss-reviews/issues/4704#issue-1348227281 a comment with key information about the review process. Please read it carefully. If you have issues as you go about your review, let me know, and I'll provi

[2022-08-23 16:41] kbarnhart commented on #4704
@editorialbot remind @Elchin in four weeks

[2022-08-23 16:41] kbarnhart commented on #4704
@editorialbot remind @mdpiper in four weeks

[2022-08-23 16:45] ppxasjsm commented on #4519
Yes that should be fine! Thank you for agreeing to do the review.

[2022-08-23 16:45] ppxasjsm commented on #4519
@editorialbot add @mturiansky as reviewer

[2022-08-23 16:47] utf commented on #4519
Hi @ppxasjsm, I would love to review this, It looks right up my alley but unfortunately I won't have time over the next couple of months.

[2022-08-23 16:47] JeWaVe commented on #4617
Hi.

1. I will add documentation and benchmarks, even if I absolutely don't trust benchmarks (I wrote so many).
2. this library is a updated version of a previous repo I have "euler", which provided the same basic functionalities. In this previous version, I didn't manage to go as far as the fraction field over any discrete ring, including polynomials. therefore, total effort on this library is mu

[2022-08-23 16:47] ppxasjsm commented on #4693
@ohenrich Please let me know if you have any questions on how to proceed with the review and how to generate the checklist.

[2022-08-23 16:50] osorensen commented on #4655
👋 @neerajdhanraj, @kauedesousa, could you please update us on how it's going with your reviews? You're welcome to reach out to me if you have any questions.

[2022-08-23 16:54] ppxasjsm commented on #4519
No problem! Thank you for letting me know!

[2022-08-23 16:54] ppxasjsm commented on #4519
@lucydot, would you be willing to review this submission?

[2022-08-23 16:59] danielskatz commented on #4480
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure th

[2022-08-23 17:25] rkurchin commented on #4623
🔔 Pinging reviewers(@amandadumi, @raghurama123, @shivupa), again, don't hesitate to ask if anything about the process is unclear!

[2022-08-23 17:26] rkurchin commented on #4443
🔔 pinging reviewers here again! (@sidihamady, @kanderso-nrel)

[2022-08-23 17:42] ebezzam commented on #4259
@danasolav I've gotten Richard's email from Nick: richard.a.oliveira1998@gmail.com

[2022-08-23 18:54] RamziHalabi commented on #4699
@arfon - Thank you for your review and feedback.

[2022-08-23 19:05] draabe commented on #4588
10.5281/zenodo.7017412

[2022-08-23 19:37] crvernon commented on #4588
@editorialbot set v0.3.3 as version

[2022-08-23 19:37] crvernon commented on #4588
@editorialbot set 10.5281/zenodo.7017412 as archive

[2022-08-23 19:38] crvernon commented on #4588
@draabe - thanks for putting together a really nice software product! Thanks to @gagolews and @kanishkan91 for a constructive and timely review!

I am recommending that your submission be accepted. An EIC will review this shortly and confirm final publication if all goes well.

[2022-08-23 19:39] crvernon commented on #4588
@editorialbot recommend-accept

[2022-08-23 20:33] amandadumi commented on #4623
Hello, checking in to say I am summarizing my thoughts on the manuscript and will make progress on the code review in the following days. I had an event that needed preparation that was dictating my time, but that’s over now!

[2022-08-23 21:48] Fei-Tao commented on #4658
@bcjaeger If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers)  have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-08-23 22:36] mdpiper commented on #4704
@editorialbot generate my checklist

[2022-08-24 02:12] pritchardn commented on #4663
Hello, my review is basically complete and rather uneventful

This was a very smooth review to complete, I've run the examples, including the performance tests and made my own; everything went smoothly. The extensive README is really well put together and made reviewing very straightforward.
I have some comments, but nothing prevents my recommendation to accept this.

## Software Paper
Very well w

[2022-08-24 04:05] emdupre commented on #4484
@editorialbot check references

[2022-08-24 04:05] emdupre commented on #4484
@editorialbot generate pdf

[2022-08-24 04:10] emdupre commented on #4484
@editorialbot set v0.4 as version

[2022-08-24 04:11] emdupre commented on #4484
@editorialbot set archive as 10.5281/zenodo.7017165

[2022-08-24 04:13] emdupre commented on #4484
@editorialbot set 10.5281/zenodo.7017165 as archive

[2022-08-24 04:13] emdupre commented on #4484
@editorialbot remove @hvgazula from reviewers

[2022-08-24 04:24] emdupre commented on #4484
Thank you, @adam2392 !

My only remaining request is to update the Zenodo archive to correct the description's formatting; this can be done without minting a new DOI by [editing the metadata](https://help.zenodo.org/#technical) of the existing record. Please let me know if you have any issues with this !

Once this is done, I can recommend the submission for publication 🚀

[2022-08-24 04:25] emdupre commented on #4670
Thank you, @cariyurek !

Just to note : I am working on securing reviewers for this submission, and I will update this thread with reviewer invitations shortly.

[2022-08-24 06:57] mingzehuang commented on #4643
Hi, @gasparl, there is a requirement about automatic test in checklist. Would you mind using [codecov](https://docs.codecov.com/docs) and embedding the badge of coverage rate into your README.md?

[2022-08-24 07:43] AKuederle commented on #4667
@adi3 Anything else I can do?

[2022-08-24 07:43] adibender commented on #4522
Hi, @majensen I've left some additional optional comments. Up to @nhejazi
Good to go from my side.

[2022-08-24 07:48] jagnobli commented on #4600
@oliviaguest As described [_over there_](https://git.mpib-berlin.mpg.de/castellum/castellum/-/issues/158#note_27188) we made some substantial changes to the docs. We hope that this may allow us to reopen the review process?

[2022-08-24 08:17] ibayer commented on #4480
@danielskatz

At this point could you:

- [x] Make a tagged release of your software, and list the version tag of the archived version here.
`v.0.8.5`
- [x] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [x] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and

[2022-08-24 09:22] mstimberg commented on #4613
@jmschrei I'd be happy to review. I am currently on vacation, though, and could only start working on it Sep 5th.

[2022-08-24 10:04] matthiasdemuzere commented on #4432
@crvernon just checking: do you want me to proofread this version?

[2022-08-24 11:37] bede commented on #4433
@editorialbot generate my checklist

[2022-08-24 11:49] crvernon commented on #4432
No @matthiasdemuzere an EIC will review this shortly and confirm final publication if all goes well. Thanks.

[2022-08-24 12:09] samhforbes commented on #4614
Hi @adithirgis @elimillera @sandrinecharles would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Please note this is a public issue, and your responses will also be public.

[2022-08-24 12:23] nhejazi commented on #4522
Thanks @adibender, I've replied to your comments and closed the relevant issue. I'll merge the PR related to this review shortly. @majensen, once that PR is merged, just let me know about next steps.

[2022-08-24 12:32] bede commented on #4433
I have no concerns about this paper, with @tijeco having already raised my only concern, which has been addressed. The paper is well written, software easily installed via conda, tested on push with GitHub actions, and easily built and tested locally. The software is likely to be broadly useful and represents a significant scholarly effort.

There is basic documentation and the Jupyter notebooks a

[2022-08-24 12:40] elimillera commented on #4614
Hey @samhforbes I can review

[2022-08-24 13:01] danielskatz commented on #4480
@editorialbot set 10.5281/zenodo.7018311 as archive

[2022-08-24 13:01] lavrovaliz commented on #4668
Hi! Thank you for kindly reviewing our submission. I fixed the incorrect DOIs. From the reviewers list, I think any of these people could be asked to review:
krother
sealhuang
nirum
dpolychr
GalenStocking
Gweissman
rlizzo
daissi
dirmeier
jingpengw
sahilseth
grlee77
JonathanReardon
SaumikDana

[2022-08-24 13:01] janfreyberg commented on #4613
I'd be happy to review, although I am also out until Sep 5th.

[2022-08-24 13:01] danielskatz commented on #4480
@editorialbot set v0.8.5 as version

[2022-08-24 13:01] danielskatz commented on #4480
@editorialbot recommend-accept

[2022-08-24 13:03] p-ortmann commented on #4593
I've updated the submission to reflect the changes that were proposed. The mirror is now also capturing branches, so if there are additional edits it should work for you to make a PR.
I've had some discussions with Chris regarding authorship. We changed the corresponding author to myself since I was the primary author of the software. However, I'd like for Chris to be co-author since he is the one

[2022-08-24 13:20] danielskatz commented on #4480
Congratulations to @itepifanio (Ítalo Epifânio) and co-authors!!

And thanks to @csadorf and @matthewfeickert for reviewing!
We couldn't do this without you

[2022-08-24 13:20] #4480 closed

[2022-08-24 13:21] sidihamady commented on #4443
@rkurchin , @EwaGomez my reviewing is complete. As a last step before recommending acceptance of the paper, I would suggest to write a short separate document ("Community guidelines") including a diagram or a description of the software architecture (as I suggested in the prereview stage) and a short guideline on how to contribute to the development.

I did not check the "Automated tests" item sin

[2022-08-24 13:22] danielskatz commented on #4277
@kris-rowe - do you have an update?

[2022-08-24 13:29] danielskatz commented on #4690
@bwohlberg - I'll edit this submission. Please let me know when you have reduced the size of the paper, then we can get started

[2022-08-24 13:29] danielskatz commented on #4690
@editorialbot assign me as editor

[2022-08-24 13:34] Fei-Tao commented on #4658
@cole-brokamp  if you'd like to review this submission, please comment here! Feel free to unsubscribe from this issue if you are not interested. Thanks for your time.

[2022-08-24 13:35] danielskatz commented on #4696
@editorialbot assign me as editor

[2022-08-24 13:39] bcjaeger commented on #4658
Thanks! Here are a few other people who I think would be great reviewers

Terry Therneau (therneau) - a lot of the C code in aorsf is based on his `survival` package `coxph` routine.

Torsten Hothorn (thothorn) - Torsten is the author of the `party` package and I'd like `aorsf` to look like the `party` package in 10 years.

Hannah Frick (hfrick), Emil Hvitfeldt (EmilHvitfeldt), Max Kuhn (topepo),

[2022-08-24 13:46] bcjaeger commented on #4658
Oh and in case I did not mention this, `aorsf` was reviewed at rOpenSci: https://github.com/ropensci/software-review/issues/532

I believe this qualifies `aorsf` for an expedited review by JOSS, depending on how the editor views the rOpenSci review.

[2022-08-24 13:48] danielskatz commented on #4658
@bcjaeger and @Fei-Tao - because of the rOpenSci review, this indeed does not need to go through a full JOSS review. so I'll take it and handle the expedited review (and thanks to @Fei-Tao for agreeing to edit when we didn't know this)

[2022-08-24 13:49] danielskatz commented on #4658
@editorialbot assign me as editor

[2022-08-24 13:49] danielskatz commented on #4658
@editorialbot generate pdf

[2022-08-24 14:04] nhejazi commented on #4522
Update that the PR (https://github.com/nhejazi/haldensify/pull/38) has been merged after successfully passing CI checks.

[2022-08-24 14:06] Fei-Tao commented on #4598
@editorialbot assign me as editor

[2022-08-24 14:09] danielskatz commented on #4658
@bcjaeger - please add a statement of need section to the paper, and in that, or in the introduction, please explain more generally what this software does and what types of applications it has, remembering that JOSS has a very diverse readership, not all of which has detailed machine learning expertise. For example, the paper probably needs to explain what right-censored time-to-event data is and

[2022-08-24 14:09] danielskatz commented on #4658
@editorialbot assign @danielskatz as reviewer

[2022-08-24 14:10] danielskatz commented on #4658
@editorialbot start review

[2022-08-24 14:10] editorialbot opened #4705 "[REVIEW]: Accelerated oblique random survival forests"
**Submitting author:** @bcjaeger (<a href="http://orcid.org/0000-0001-7399-2299">Byron Jaeger</a>)
**Repository:** https://github.com/bcjaeger/aorsf
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.3
**Editor:** @danielskatz
**Reviewers:** @danielskatz
**Archive:** 10.5281/zenodo.7116855

## Status

[![status](https://joss.theoj.org/papers/414871f081cd8449007d671a7f7f7c3a/stat

[2022-08-24 14:10] #4658 closed

[2022-08-24 14:10] danielskatz commented on #4658
@bcjaeger - we'll now continue in #4705

[2022-08-24 14:12] danielskatz commented on #4705
@bcjaeger - please add a statement of need section to the paper, and in that, or in the introduction, please explain more generally what this software does and what types of applications it has, remembering that JOSS has a very diverse readership, not all of which has detailed machine learning expertise. For example, the paper probably needs to explain what right-censored time-to-event data is and

[2022-08-24 14:12] danielskatz commented on #4705
Also, is the "?" in this part of the text right?
<img width="786" alt="Screen Shot 2022-08-24 at 9 12 09 AM" src="https://user-images.githubusercontent.com/2913845/186441032-5f5a8ded-de42-4ba3-bdbd-b39a7a8c1051.png">

[2022-08-24 14:13] danielskatz commented on #4705
Another issue: please address the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the first entry in a new comme

[2022-08-24 14:14] bcjaeger commented on #4658
Awesome - thank you!

[2022-08-24 14:15] danielskatz commented on #4705
And finally, for the first two references, please fix the cases of the journals to "Machine Learning" and "The Annals of Applied Statistics"

[2022-08-24 14:19] bcjaeger commented on #4705
Thanks! I will work on this now.

[2022-08-24 14:26] Fei-Tao commented on #4598
@obertscheiderfhwn if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-08-24 14:29] Fei-Tao commented on #4598
@helgee This paper is related to composites manufacturing, which belongs to aerospace engineering in general. if you'd like to review this submission, please comment here! Feel free to unsubscribe from this issue if you are not interested.

[2022-08-24 15:11] JosiahParry commented on #4574
I have reviewed this package and at this moment am unable to check off the sections `Substantial Scholarly Effort`, `Functionality Documentation`, `Automated Test`,  `Community Guidelines`, and `Quality of the writing`.

re substantial scholarly effort: https://github.com/riatelab/osrm/issues/102
re functionality documentation: https://github.com/riatelab/osrm/issues/100, https://github.com/riatel

[2022-08-24 15:25] elbeejay commented on #4574
Thank you to both @mikemahoney218 and @JosiahParry for reviewing the package and opening up issues for each of your comments and suggestions.

After looking through the review issues, I found them all to be reasonable and valid, and encourage @rCarto to make the changes suggested. With regards to https://github.com/riatelab/osrm/issues/102, @JosiahParry I appreciate you raising some concerns about

[2022-08-24 15:35] ebezzam commented on #4584
also happy to review if you still need someone

[2022-08-24 15:36] jbytecode commented on #4577
👋👋👋 Dear @diegomcarvalho    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

We need a second reviewer for this submission.

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**Choco-solver: A Java library for constraint programming**". You can find more information at

[2022-08-24 15:40] bwohlberg commented on #4690
@arfon: Would you please consider granting an exception on the word count guideline?

We've put considerable effort into writing what we believe is a coherent overview of the purpose and features of the package described by the paper. The "additional" detail addresses the high-level design and usage of the package, and does not involve the sort of API-level details that clearly belong in the proje

[2022-08-24 15:48] prashjha commented on #4404
Hi, @ccaprani; the paper is well written and informative. My only suggestion is to replace `Dr` with `Dr.` in line 102 of the draft.

After you have updated the draft, can you also do (if not done already) a 'tagged' release of your code and archive the release using zenodo or other methods? Make sure that the zenodo archive's title matches this JOSS submission's title.

Once you are done, I will

[2022-08-24 15:51] prashjha commented on #4533
Hi @travisseymour, I will have a look at your draft today, and if there are any suggestions I will share them. Once you incorporate those suggestions and do a tagged release+archive release on zenodo, I will hand your paper to EiC for the final decision. It looks like both reviewers are positive so I will recommend accepting to EiCs.

[2022-08-24 15:53] prashjha commented on #4533
Dear @Athene-ai and @jakdot, many thanks for your time and effort in reviewing this submission. I sincerely appreciate it. I am guessing @Athene-ai is also recommending acceptance.

[2022-08-24 15:54] prashjha commented on #4533
@editorialbot check references

[2022-08-24 15:56] prashjha commented on #4533
@editorialbot generate pdf

[2022-08-24 15:58] valentineap commented on #4217
@editorialbot generate pdf

[2022-08-24 15:59] leouieda commented on #4217
@valentineap I'm very happy with the state of the paper/software and the reviewers are satisfied as well. It's my pleasure to move on to acceptance of your paper 🎉

There just a few of things that you'll need to do:

1. Double check author names and affiliations (including ORCIDs)
1. Make a release of the software with the latest changes from the review (including any editorial fixes). This is the

[2022-08-24 16:07] danielskatz commented on #4690
We (I and @arfon) think this paper needs to be reduced in size. JOSS papers are meant to stand in for the software, not completely document it. Specifically, I suggest that the section "Solving Imaging Inverse Problems in SCICO" could be dramatically reduced, with most of the existing content of this section being moved to a webpage that the shortened section could point to for more details.

Whil

[2022-08-24 16:13] csadorf commented on #4480
Congratulations!! 🥳

[2022-08-24 16:26] frankecurtis commented on #4291
@melissawm I can help. I don't code in Fortran, but I do code in C/C++, and I suppose I can understand Fortran well enough to review. I'm not familiar with the review process for this venue, so please advise.  Thanks.

[2022-08-24 16:28] matthewfeickert commented on #4170
Yes, sorry currently moving houses and need to find the time to finish the last bit. The review lag is entirely my fault, though @transientlunatic will need to close out [the Issues I have already](https://github.com/ligo-asimov/asimov/issues?q=is%3Aopen+is%3Aissue+author%3Amatthewfeickert+%5BJOSS+Review%5D) on https://github.com/ligo-asimov/asimov/issues and can get started on those whenever.

[2022-08-24 16:30] jmschrei commented on #4433
Great, thank you. @tijeco, will you be able to finish your review soon?

[2022-08-24 16:33] oliviaguest commented on #4600
Happy to unpause. Please post a list of changes here (feel free if already created, to copy-paste) to allow them to be more easily discussed by us all in case there's more to say or new things come up. Thanks. 😊

[2022-08-24 16:33] transientlunatic commented on #4170
Yep, sorry for the radio silence; I'm currently advancing appropriate updates through internal LIGO review, but the Northern hemisphere summer vacation period has slowed the process a bit!

[2022-08-24 16:37] Nikoleta-v3 commented on #4640
Thank you very much @AnjaliSandip for your reply 🥳 Unfortunately, I had already started the review when you replied :/ but thank you very much for offering to review this submission! I will make sure to ping you again if I am editing a similar paper!

[2022-08-24 16:38] jmschrei commented on #4613
@editorialbot add @mstimberg as reviewer

[2022-08-24 16:38] jmschrei commented on #4613
@editorialbot add @janfreyberg as reviewer

[2022-08-24 16:39] jmschrei commented on #4613
@ZeitgeberH looks like there will be a brief delay but then we can begin. Sorry for the hold-up. Everything has been slower recently..

[2022-08-24 16:40] jmschrei commented on #4613
@editorialbot start review

[2022-08-24 16:40] editorialbot opened #4706 "[REVIEW]: PatchView: A Python Package for Patch-clamp Data Analysis and Visualization"
**Submitting author:** @ZeitgeberH (<a href="http://orcid.org/0000-0002-5254-5315"></a>)
**Repository:** https://github.com/ZeitgeberH/patchview
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.6
**Editor:** @jmschrei
**Reviewers:** @mstimberg, @janfreyberg
**Archive:** 10.5281/zenodo.7149877

## Status

[![status](https://joss.theoj.org/papers/a1ff88d9f0a982dec788388be09c58a4

[2022-08-24 16:40] #4613 closed

[2022-08-24 16:51] cicirello commented on #4663
@pritchardn Thank you for the feedback. I'll revise to mention the performance tests in the paper.

The GitHub links do appear to be clickable for me, although it looks like JOSS's markdown processor doesn't change their font color to make it clear that is the case. It also appears to depend on how the pdf is viewed. When using the "view article proof on github" link earlier in this thread, it see

[2022-08-24 16:52] oesteban commented on #4577
I am not equipped to take this review, unfortunately. Thanks for the invite, and good luck to the authors!

[2022-08-24 16:53] jmschrei commented on #4706
Howdy @mstimberg and @janfreyberg!

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above. Please run the command shown above to have @editorialbot generate your checklist, which will give a step-by-step process for conducting your review. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues

[2022-08-24 17:00] valentineap commented on #4217
Excellent! Thanks again @leouieda, @hfmark and @hemmelig - I really appreciate your input into this.

1. I confirm that the authors and ORCIDs in the manuscript are correct
2. After a bit of PyPI and Zenodo silliness I think we are at [version 1.1.2](https://github.com/valentineap/pyprop8/releases/tag/v1.1.2) which is now [available with `pip`](https://pypi.org/project/pyprop8/)
3. [![DOI](https:/

[2022-08-24 17:05] ajstewartlang commented on #4525
@editorialbot add @craig-willis as reviewer

[2022-08-24 17:05] ajstewartlang commented on #4525
@editorialbot start review

[2022-08-24 17:05] editorialbot opened #4707 "[REVIEW]: dtrackr: An R package for tracking the provenance of data"
**Submitting author:** @robchallen (<a href="http://orcid.org/0000-0002-5504-7768">Robert Challen</a>)
**Repository:** https://github.com/terminological/dtrackr
**Branch with paper.md** (empty if default branch): main
**Version:** 0.2.5-joss
**Editor:** @ajstewartlang
**Reviewers:** @debruine, @craig-willis
**Archive:** 10.5281/zenodo.7433514

## Status

[![status](https://joss.theoj.org/papers/47

[2022-08-24 17:05] #4525 closed

[2022-08-24 17:14] cicirello commented on #4663
@editorialbot generate pdf

[2022-08-24 17:19] cicirello commented on #4663
@pritchardn I was able to make the URLs look clearly that they are links. URL by itself = clickable link but regular text font color; but using markdown link syntax `[]()` fixes the color to make it clear it is a link. The "view article proof on github" still appears to disable all links, but otherwise works when viewing PDF locally.

[2022-08-24 17:19] ibayer commented on #4480
Thanks everyone for making this possible.
The JOSS publication will help us to promote the project and push new developments. :partying_face:

[2022-08-24 17:26] wcjochem commented on #4574
Thank you @elbeejay for the opportunity to review this package.

I echo many of the questions/comments raised by @JosiahParry and @mikemahoney218. Therefore I have added only a few additional issues to the repository which were not covered by the other reviewers:
riatelab/osrm#104, riatelab/osrm#105, riatelab/osrm#106, riatelab/osrm#107, riatelab/osrm#108.

Many of my concerns are a combination of

[2022-08-24 17:28] wcjochem commented on #4578
@jbytecode Yes, I'll accept this assignment and can start in mid-September.

[2022-08-24 17:29] kellyrowland commented on #4559
hello @camillescott @vinisalazar 👋 would you be interested in and available to review this JOSS submission?

[2022-08-24 17:30] jbytecode commented on #4578
@editorialbot add @wcjochem as reviewer

[2022-08-24 17:37] travisseymour commented on #4533
Hi Prashant,
I'm new to all of this and I want to make sure I know what you mean.
Are you suggesting I do a tagged release *using git* like this (if so, is
there anything special you want in the message), or is this part also on
zenodo?

git tag -a v1.0.0 -m "Releasing version v1.0.0"

As for the other stuff you suggested, I've never used zenodo, but I assume
you are referring to this part of the

[2022-08-24 17:45] eric-pedersen commented on #4497
Hi @Bisaloo,

I  would suggest James Thorson (user name James-Thorson), Sean Anderson (seananderson), Eric Ward (ericward-noaa), or Derek Ogle (droglenc), all of whom are experts in fisheries modelling and spatiotemporal models (as well as R code development).

As a note about any potential conflicts of interest: James Thorson and I are both members of the same working group on hierarchical modell

[2022-08-24 17:46] webbjj commented on #4483
Thanks @lwang-astro - I have made a note in the installation instructions for anyone else that might have this issue.

[2022-08-24 17:53] jbytecode commented on #4577
@oesteban - thank you for the response. Hope to work in future works!

[2022-08-24 17:53] jbytecode commented on #4577
👋👋👋 Dear @ozgurakgun    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

We need a second reviewer for this submission.

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**Choco-solver: A Java library for constraint programming**". You can find more information at the

[2022-08-24 17:58] paulromano commented on #4696
@danielskatz Thanks for kicking this off. To respond to your question:

- Parsl is focused on enabling the execution of Python programs in parallel across many different types of systems, which is quite different than the aim of watts.
- Balsam is focused on managing batch job submission on clusters and does have a similar idea of allowing one to specify "parameters" that allow multiple jobs to ex

[2022-08-24 18:00] elbeejay commented on #4574
Fantastic, thanks @wcjochem. @rCarto it seems that all 3 reviews are in, so please have a look and give us a preliminary estimate of when you believe you'll be able to make the necessary changes.

Massive thanks again to @JosiahParry @mikemahoney218 and @wcjochem for providing thoughtful and constructive reviews!

[2022-08-24 18:01] danielskatz commented on #4696
thanks @paulromano - can you update the paper a bit to make this clear? (You don't need to mention these specific packages, but do clarify the role of watts in the workflow context compared to other kinds of workflow/scheduling systems)

[2022-08-24 18:04] danielskatz commented on #4696
👋 @andrewryh - would you be willing to review this JOSS submission?

[2022-08-24 18:04] travisseymour commented on #4533
Prashant,
After reviewing the PDF you created, I realized that there were a couple of
typo fixes and OS version clarifications needed. I made the required
changes and pushed the updates to github.
Please generate a new pdf.
Thanks
Travis

On Wed, Aug 24, 2022 at 8:57 AM The Open Journals editorial robot <
***@***.***> wrote:

--

*Travis Seymour, PhD*
Associate Professor
Psychology Department
Univ

[2022-08-24 18:04] danielskatz commented on #4696
👋 @shyamd - would you be willing to review this JOSS submission?

[2022-08-24 18:05] danielskatz commented on #4696
👋 @gwenchee - would you be willing to review this JOSS submission?

[2022-08-24 18:11] craig-willis commented on #4707
@editorialbot generate my checklist

[2022-08-24 18:12] ozgurakgun commented on #4577
I am happy to review this paper.

[2022-08-24 18:12] jbytecode commented on #4577
@editorialbot add @ozgurakgun as reviewer

[2022-08-24 18:13] jbytecode commented on #4577
Dear reviewers @skadio, @ozgurakgun

The review will start in a new thread. In that review thread, I will provide the instructions.

Thank you in advance.

[2022-08-24 18:14] jbytecode commented on #4577
@editorialbot start review

[2022-08-24 18:14] editorialbot opened #4708 "[REVIEW]: Choco-solver: A Java library for constraint programming"
**Submitting author:** @cprudhom (<a href="http://orcid.org/0000-0002-4546-9027">Charles Prud&#39;homme</a>)
**Repository:** https://github.com/chocoteam/choco-solver
**Branch with paper.md** (empty if default branch):
**Version:** v4.10.10
**Editor:** @jbytecode
**Reviewers:** @skadio, @ozgurakgun
**Archive:** 10.5281/zenodo.7185962

## Status

[![status](https://joss.theoj.org/papers/c4e6329e6ef

[2022-08-24 18:14] #4577 closed

[2022-08-24 18:18] jbytecode commented on #4708
Dear reviewers @skadio, @ozgurakgun

Here is the reviewing thread. Please type

`@editorialbot generate my checklist`

to generate your checklist. In these checklist, there will be 20 checkbox items for each reviewer. Whenever you complete the corresponding task, you can check off the box.

The review process is interactive, so you can interact with the authors, other reviewers, and the editor (me

[2022-08-24 18:18] travisseymour commented on #4533
Sorry Prashant,
I think I know what you're asking me to do. So please ignore my previous
message about explaining the archival release.

On Wed, Aug 24, 2022 at 10:37 AM Travis Seymour ***@***.***> wrote:

--

*Travis Seymour, PhD*
Associate Professor
Psychology Department
University of California Santa Cruz
http://cogmodlab.ucsc.edu/

[2022-08-24 18:46] travisseymour commented on #4533
@editorialbot generate pdf

[2022-08-24 18:49] bcjaeger commented on #4705
@editorialbot check references

[2022-08-24 18:50] bcjaeger commented on #4705
@editorialbot generate pdf

[2022-08-24 18:59] danielskatz commented on #4705
Thanks - this looks good to me.  I will also proofread this more carefully when you are ready - please let me know if that's now, and if not, when it is :)

[2022-08-24 19:03] bcjaeger commented on #4705
@danielskatz, thanks for the help today! Here is a list of updates based on your comments.

Done, see lines 23-28 of the updated draft.

Good point. In the intro, I have added a general description of risk prediction (1st paragraph) and a summary of what `aorsf` does and what applications it has (second paragraph).

Agreed. In the update, I've included
- what risk prediction is and where it is use

[2022-08-24 19:03] alexriss commented on #4644
To address your comments, I have now updated the paper and the project README.md, on github. Furthermore, I added a CODE_OF_CONDUCT.md and CONTRIBUTING.md.

A point-by-point response to your comments follows.

Regarding the project documentation:
- I expanded the feature list in the project documentation, see https://github.com/alexriss/SpmImageTycoon.jl#features (it is more detailed than in the p

[2022-08-24 19:06] bcjaeger commented on #4705
Thank you! I would like to read through it once more tonight. May I add a post here sometime this evening (about 5 hours from now) to let you know when I've finished?

[2022-08-24 19:07] danielskatz commented on #4705
sure!

[2022-08-24 19:15] travisseymour commented on #4533
Ok, I have the tagged release/archive on zenodo, this is the resulting DOI:
 10.5281/zenodo.7020282

[2022-08-24 19:26] cicirello commented on #4663
@editorialbot generate pdf

[2022-08-24 19:31] travisseymour commented on #4533
The version number for that DOI is "v2022.3.5"

[2022-08-24 20:12] cicirello commented on #4663
@editorialbot generate pdf

[2022-08-24 20:20] cicirello commented on #4663
@pritchardn thanks again for your earlier feedback and suggestions on the paper. I revised to mention the performance tests, and also managed to get the URLs formatted as links.

[2022-08-24 21:07] bwohlberg commented on #4690
Understood. We'll cut it down to the brief abstract-like document that is expected. We had been thinking of JOSS as an alternative venue for the sort of papers that are published in the SciPy Proceedings.

[2022-08-24 21:17] danielskatz commented on #4690
If you want to publish a long paper about the software, you might want to consider options in https://www.software.ac.uk/which-journals-should-i-publish-my-software

[2022-08-24 21:23] bwohlberg commented on #4690
Thanks for the suggestion. We already looked there, but none of the other options are ideal. Some of the most promising looking ones seem to be defunct, and the remaining ones that might be suitable for the type of software presented in this paper are run by publishing companies with a poor reputation in terms of open science.

[2022-08-24 21:25] danielskatz commented on #4690
We are happy to have your submission, but I did want to offer alternatives. Did you consider [JORS](https://openresearchsoftware.metajnl.com)?  That might meet your needs, though the review process can be somewhat slow

[2022-08-24 21:35] bwohlberg commented on #4690
JORS was one of the more promising ones I looked at, but my impression from their template for software description papers is that they also expect something much shorter than our paper. But if you think I'm being overly pessimistic, perhaps it's worth asking them for clarification.

As a matter of interest, why the strict length constraint for JOSS? I'm sure many other authors would also be inter

[2022-08-24 21:36] bwohlberg commented on #4690
@editorialbot generate pdf

[2022-08-24 21:38] paulromano commented on #4696
Absolutely -- I'll update the paper to expand on what we mean by "workflow" relative to other applications

[2022-08-24 21:40] bwohlberg commented on #4690
@editorialbot commands

[2022-08-24 21:41] bwohlberg commented on #4690
@editorialbot generate pdf

[2022-08-24 21:41] kasasxav commented on #4644
Hi!

Great! It looks good for me. I have checked the review points that were missing.

Just check that the new sentence you added in the paper is not gramatically complete: "but filesystem folders and manually created lists of best measurements for organization of the data" needs a verb.

I also think you can expand it a bit more. From the cited works I have only worked with ImageJ. I think there

[2022-08-24 21:43] bwohlberg commented on #4690
@editorialbot generate pdf

[2022-08-24 21:46] emdupre commented on #4484
That seems better, thank you @adam2392 !

I'm now happy to recommend MNE-ICALabel to the JOSS EIC team for publication—congratulations on this impressive effort !

[2022-08-24 21:46] emdupre commented on #4484
@editorialbot recommend-accept

[2022-08-24 22:17] davidpagnon commented on #4362
Thank you Dana, you raised very good points, and you may be right that the internal functioning may need to be more detailed. I elaborated much more on the "Pose2Sim core" section, which is now called "Pose2Sim method details".

This is a good question, thanks for asking! It is now broached in the statement of need:
"These coordinates can then be triangulated in order to produce 3D positions. Asid

[2022-08-24 23:46] vinisalazar commented on #4559
Hello @kellyrowland thank you for the invite. I am interested but my availability is limited in the next few weeks. What would be the expected timeframe?

[2022-08-25 00:35] ZixiongLin1 commented on #4699
@editorialbot generate pdf

[2022-08-25 00:38] bcjaeger commented on #4705
I think it is ready for your review. The only change I am considering is swapping the statement of need section with the background section so that the background section would come before the statement of need. This change may be helpful because the statement of need covers topics that are introduced in the background. I'm looking forward to hearing what you think.

[2022-08-25 00:45] danielskatz commented on #4696
Thanks. Ping me when you ready to proceed

[2022-08-25 01:15] danielskatz commented on #4705
@editorialbot generate pdf

[2022-08-25 01:32] danielskatz commented on #4705
I'm not sure - I might just leave it the way it is, but it's up to you.

Edits:

* in line 32 and 37, "axis based" should be "axis-based"
* in line 38 and 40, "to axes" should be "to the axes"
* in line 46, "censored" perhaps should just be "censor"
* in line 82, I would change "negates them" to "it negates them"
* at the end of line 98, a period is needed

Let me know when you have made these cha

[2022-08-25 02:06] SotaYoshida commented on #4694
I got it. Thanks!

[2022-08-25 02:25] bcjaeger commented on #4705
Awesome, thank you! I incorporated each edit and decided to stick with the statement of need first.

[2022-08-25 02:25] bcjaeger commented on #4705
@editorialbot generate pdf

[2022-08-25 02:46] majensen commented on #4522
@editorialbot generate pdf

[2022-08-25 03:26] majensen commented on #4522
Thanks @nhejazi  - I will have an editorial look at the paper itself, which may result in some comments/fixes. Will try to accomplish by next week. @adibender @turgeonmaxime your work is very much appreciated!

[2022-08-25 03:54] dfm commented on #4634
@kazewong, @marylou-gabrie — Just a quick check in here to keep this on your radar. Let us know if you run into any issues!

[2022-08-25 03:56] dfm commented on #4568
@GregoryAshton, @ColmTalbot — A quick check in here to keep this on your radar. Let us know if you run into any issues!

[2022-08-25 04:38] ixjlyons commented on #4627
@editorialbot generate my checklist

[2022-08-25 05:30] editorialbot opened #4709 "[PRE REVIEW]: POSEIDON: A Multidimensional Atmospheric Retrieval Code for Exoplanet Spectra"
**Submitting author:** @MartianColonist (<a href="http://orcid.org/0000-0003-4816-3469">Ryan J. MacDonald</a>)
**Repository:** https://github.com/MartianColonist/POSEIDON
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.9.0
**Editor:** @dfm
**Reviewers:** @ideasrule, @LorenzoMugnai
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/69710c0498

[2022-08-25 06:18] dario-coscia commented on #4686
Hi @arfon  maybe the following can help in the decision process.

The main dependencies for veni are pytorch and jax. pytorch is a framework for deep learning, however training is done only by means of backpropagation (BWD) for calculating the gradient of the loss to optimize the network. There is a library for pytorch, named functorch, which is still in its early development, and it calculates th

[2022-08-25 06:39] janfreyberg commented on #4706
@editorialbot generate my checklist

[2022-08-25 08:31] ws-choi commented on #4584
Hi @faroit, Thank you for recommending me. I'll also review it, iff you lack volunteers.

[2022-08-25 08:45] samhforbes commented on #4614
@editorialbot add @elimillera as reviewer

[2022-08-25 08:52] jagnobli commented on #4600
I'll go with copy/paste then ;)

- [!2386 (merged)](https://github.com/castellum/castellum/-/merge_requests/2386) - restore quickstart section in README
- [!2397 (merged)](https://github.com/castellum/castellum/-/merge_requests/2397) - rework contribution guidelines
- [!2401 (merged)](https://github.com/castellum/castellum/-/merge_requests/2401) - mention setup issues with pyenv
- [!2402 (merged)]

[2022-08-25 09:15] leouieda commented on #4217
@editorialbot set 10.5281/zenodo.7019949 as doi

[2022-08-25 09:15] leouieda commented on #4217
@editorialbot set 10.5281/zenodo.7019949 as archive

[2022-08-25 09:16] leouieda commented on #4217
@editorialbot set v1.1.2 as version

[2022-08-25 09:16] leouieda commented on #4217
@editorialbot recommend-accept

[2022-08-25 09:18] danasolav commented on #4362
@editorialbot generate pdf

[2022-08-25 09:29] danasolav commented on #4362
@editorialbot check references

[2022-08-25 09:33] danasolav commented on #4362
@davidpagnon Thank you for responding to my comments.
Can you please check the references with missing DOIs and add them?

[2022-08-25 09:39] robchallen commented on #4707
I just wanted to mention that in the branch here under review,  the README.md instructions say that "dtrackr" is not yet on CRAN.

This is not correct and the version in the joss review branch (release-0.2.4) of dtrackr is now on CRAN and can be installed with a install.packages("dtrackr") command.

I'm holding back on updating the documentation until I get comments back from you guys. Then I'll m

[2022-08-25 09:46] nicokurtovic commented on #4687
Hi @arfon ! This is my first submission to JOSS, should I do something else at this stage of the reviewing process?

[2022-08-25 11:03] bwohlberg commented on #4690
Yes, please. We may consider publishing a much longer paper in the future, but that would be a completely independent document.

[2022-08-25 11:17] samhforbes commented on #4657
Hi @jaeyk @pmyteh would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Please note this is a public issue, and your responses will also be public.

[2022-08-25 11:32] cprudhom commented on #4577
Sure, two questions though:
- should I answer in this thread or rather in #4708 ?
- Can I modify the article to take into account the remarks (and inform the reviewers) or do I have to wait until the end of the review?
Thank you in advance

[2022-08-25 11:37] jbytecode commented on #4577
@cprudhom

- please use the review thread, the review has been started. This thread will no longer be used.
- yes, please modify your article, generate pdf in the review thread. The review process in JOSS is interactive. Authors and reviewers always interact each other.

[2022-08-25 11:42] diegomcarvalho commented on #4577
Sorry friends, I’m unequipped to handle java libraries. All the best, d.c

Prof. Diego Carvalho, D.Sc

Associate Professor / Production Engineering Department
Graduate Programme in Production Engineering and Systems
Federal Centre for Engineering Studies and Technological Education - CEFET/RJ
Av. Maracanã, 229 - Maracanã
Rio de Janeiro - RJ - 20271-110 - Brasil/Brazil/Brésil
Il sudore non e santo,

[2022-08-25 12:02] Solonets commented on #4521
Hi @Mirmix @jhidalgocarrio, thank you for your review. Right now we **do not make any performance** claims. There is a way to speed it up, and we will work in this direction later. Please make your decision based on the current version. Still, you can compile dsopp using single precision (as in dso) using the CMake flag -DUSE_FLOAT=ON. Depending on the PC it gives a performance boost from 20 to 50

[2022-08-25 12:15] davidpagnon commented on #4362
Sorry about this... It should be solved now.

[2022-08-25 12:38] cprudhom commented on #4708
@skabio

I will try to make the CP Overview easier to understand for non CP person.
I made the choice to introduce Choco in the 2nd section, but I understand that it is a bit late, right?

I can try emphasize the versatility of the library (well, the CP in general) through success stories and highlight the salient features of Choco.

I didn't think I could go into that kind of detail, but it's an

[2022-08-25 12:51] GregoryAshton commented on #4568
Thanks for the reminder @dfm

[2022-08-25 13:04] gasparl commented on #4643
Sure, I added it. (The relatively low percentage [52%] is because I included lots of warning messages for making the functions more foolproof, but these don't really need to be tested.)

[2022-08-25 13:10] editorialbot opened #4710 "[PRE REVIEW]: greymodels: A PACKAGE FOR GREY FORECASTING MODELS IN R"
**Submitting author:** @havishaJ (<a href="http://orcid.org/0000-0001-7920-8645">Aslam Saib</a>)
**Repository:** https://github.com/havishaJ/greymodels
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ce3be036a5fdb8c79548b2bfc59cde38/status.svg)](http

[2022-08-25 13:14] arfon commented on #4710
@editorialbot query scope

@havishaJ – many thanks for your submission to JOSS. I'm going to flag this for a review by the editorial team as this looks to be a little unusual in structure (i.e., a [single large R file](https://github.com/havishaJ/greymodels/blob/main/app.R) rather than modular software).

This scope query will take a week or so before we get back to you.

[2022-08-25 13:29] danielskatz commented on #4705
Note: aorsf was reviewed at rOpenSci: https://github.com/ropensci/software-review/issues/532

Thus, JOSS is not re-reviewing the software and is simply publishing it after ensuring that it also meets JOSS's requirements, including those for the paper itself.

See https://joss.readthedocs.io/en/latest/editing.html#processing-of-ropensci-reviewed-and-accepted-submissions for more on this expedited p

[2022-08-25 13:31] danielskatz commented on #4705
However, we now need to wait for the rOpenSci process to complete in https://github.com/ropensci/software-review/issues/532

[2022-08-25 13:32] danielskatz commented on #4690
👋 @jwbuurlage - Are you able to review this JOSS submission?

[2022-08-25 13:33] GregoryAshton commented on #4568
@mattpitkin I've now been able to install and run the software without a hitch.

My only remaining comment is about the tests. When I run `pytest` on the current master, I get

[code]

When I look to see if the github actions are passing they are green, but looking in detail I see "Error" for all lines after "Checkout" https://github.com/cwinpy/cwinpy/runs/7875416995?check_suite_focus=true. I'm no

[2022-08-25 13:33] danielskatz commented on #4690
👋 @mh-skjelvareid - Are you able to review this JOSS submission?

[2022-08-25 13:33] danielskatz commented on #4690
👋 @alberto-battistel - Are you able to review this JOSS submission?

[2022-08-25 13:41] arfon commented on #2316
@editorialbot reaccept

[2022-08-25 13:59] gasparl commented on #4643
@editorialbot generate pdf

[2022-08-25 14:01] arfon commented on #2316
@editorialbot reaccept

[2022-08-25 14:03] mmrabe commented on #4643
The author @gasparl has written a very useful and flexible tool for simulation-based power analysis. The documentation and vignettes exceed the expected extent by far and provide many helpful examples. The package also already contains tests in the tests/ subdirectory, which I personally feel is probably sufficient. However, I agree with @mingzehuang that it would be good practice to use a service

[2022-08-25 14:06] mmrabe commented on #4643
@gasparl already worked on the issues I posted to the repo as I was writing the lines above. So I can check of the remaining two boxes from my checklist right away. Thanks!

[2022-08-25 14:10] arfon commented on #2316
@editorialbot reaccept

[2022-08-25 14:11] gasparl commented on #4643
Thank you very much @mmrabe for you kind and helpful review. Yes, I already answered the request (pardon my haste ;) ).

I'll also think about and address your suggestion, hopefully in the coming days.

[2022-08-25 14:40] nimgould commented on #4291
Very grateful, Frank. Of course if you need any help!!

[2022-08-25 14:48] skadio commented on #4708
@ozgurakgun to save time/effort for our authors here, would you mind a quick look at the write-up (it is 2 pages) and comment on whether you would agree/disagree with my points on the manuscript.

My main commentary is from the perspective of a general JOSS reader (think non-CP researcher) for 1) a quick rephrase of the abstract to make the value proposition of the tool (and hence CP) clearer and

[2022-08-25 14:49] arfon commented on #2316
@blsqr – looks like this paper is fixed up now. Can you email me directly the other papers that need reprocessing? arfon.smith@gmail.com

[2022-08-25 15:01] blsqr commented on #2316
Thank you so much, @arfon! Looks great 🎉

Will do 👍

[2022-08-25 15:02] jbytecode commented on #4708
Dear reviewers

Could you please generate your checklists before digging into any discussions?

You can generate your checklists by typing

`@editorialbot generate my checklist`

here.

Thank you in advance.

[2022-08-25 15:09] Bisaloo commented on #4497
@eric-pedersen, amazing! Thanks for the suggestions and the details around possible conflict of interests :+1:

[2022-08-25 15:11] Bisaloo commented on #4497
Hi @seananderson :wave:, would you be interested in reviewing this [R package](https://github.com/pedersen-fisheries-lab/sspm) and [the associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04497/joss.04497/10.21105.joss.04497.pdf) for the Journal of Open Source Software (JOSS)?

You were recommended as a reviewer by one of the authors and I agree you would be a great f

[2022-08-25 15:13] skadio commented on #4708
@editorialbot generate my checklist

[2022-08-25 15:29] ozgurakgun commented on #4708
Hi @skadio and all

I have now read the text and I agree it would benefit from an example. I am afraid n-queens may be too small/trivial?

Also I am not sure how much detail you think the authors should include. Constructing a full example using Choco would take too much space and wouldn't be very interesting. Instead the authors may give some example use cases without going into too much detail?

[2022-08-25 15:29] ozgurakgun commented on #4708
@editorialbot generate my checklist

[2022-08-25 15:50] mingzehuang commented on #4643
Thank you @gasparl ! I see the codecov!

[2022-08-25 16:30] arfon commented on #2165
@editorialbot reaccept

[2022-08-25 16:49] arfon commented on #2313
@editorialbot reaccept

[2022-08-25 16:58] kellyrowland commented on #4559
@vinisalazar ideally reviews could be completed in 4 - 6 weeks. Having said that, we understand that this is a volunteer process and other things may take precedence (I myself will be out of office for 3 weeks in September). So, if you think you would be able to work on a review in the next month, I would be glad to have you as a reviewer.

[2022-08-25 17:02] vinisalazar commented on #4559
Ok, that works for me. I could start my review on Monday, or should I wait for anything else?

[2022-08-25 17:07] kellyrowland commented on #4559
Great, thank you!

Usually we wait until 2 reviewers are lined up before starting the review process. But, if you are available to start the review on Monday, I can open the review issue and continue to seek out a second reviewer.

[2022-08-25 17:07] kellyrowland commented on #4559
@editorialbot add @vinisalazar as reviewer

[2022-08-25 17:16] gasparl commented on #4643
Thank you very much for your nice review, @mingzehuang!

[2022-08-25 17:20] paulromano commented on #4696
@danielskatz I've updated the paper with a paragraph that describes the relationship with other workflow systems.

[2022-08-25 17:48] vinisalazar commented on #4559
@kellyrowland I'm OK with waiting for a second reviewer to start the official process.

[2022-08-25 17:51] kellyrowland commented on #4559
Thanks, I'll try to find one as soon as I can.

[2022-08-25 17:52] blind-contours commented on #4181
Thank you @cpalmer718! As per your first point, I'm looking to reduce the bloat. I am still learning the intricacies of namespaces - are there particular packages you see that are only used via library()? I'll work on your additional comments. Really appreciate your thorough review! It's been a great learning experience.

[2022-08-25 17:59] blind-contours commented on #4181
I would like to get this package on CRAN. The major issue is the ensemble machine learning used to estimate the data adaptive parameter and the nuisance parameters. Because SL3 - the ensemble machine learning package I use, is not on CRAN, and I can't really make it optional while keeping the statistical properties of the estimates, I would need to use a package that is on CRAN and does a type of

[2022-08-25 18:57] MartianColonist commented on #4709
Here are some potential reviewers with experience in the exoplanet field (and no ongoing JOSS reviews, according to the reviewer spreadsheet): Néstor Espinoza (nespinoza), Adina Feinstein (afeinstein20), or Wilfred Tyler Gee (wtgee).

[2022-08-25 19:05] prashjha commented on #4533
Hi @travisseymour, thanks for your response. The draft is well written. Here are a few suggestions on the draft (see if they make sense):

- Remove the extra `Figure 1` from the Figure 1 caption. Same with Figure 2 caption. Also, you may highlight the change in Figure 2 (i.e., python) compared to Figure 1 in the caption of Figure 2.
- I will suggest referring to Figure 1 in line 47: ``of the follo

[2022-08-25 19:08] prashjha commented on #4533
Hi @travisseymour, could you update the title of your [zenodo archive](https://doi.org/10.5281/zenodo.7020282) to match the title of your JOSS article?

[2022-08-25 20:00] travisseymour commented on #4533
@editorialbot generate pdf

[2022-08-25 20:02] travisseymour commented on #4533
Thanks @prashjha, I've done the following:
1. Changed the title of the zenodo archive as requested.
2. Made the changes you suggested to the draft.

[2022-08-25 20:07] prashjha commented on #4533
Thanks. It is weird that I still see the old title in this zenodo link: https://doi.org/10.5281/zenodo.7020282

[2022-08-25 20:12] travisseymour commented on #4533
@editorialbot generate pdf

[2022-08-25 20:13] travisseymour commented on #4533
I pushed the Save button, but not the Publish one. I did that now, do you see the changed title?

[2022-08-25 20:15] prashjha commented on #4533
All good now...thanks :)

[2022-08-25 20:17] prashjha commented on #4533
@editorialbot set 10.5281/zenodo.7020282 as archive

[2022-08-25 20:18] prashjha commented on #4533
@editorialbot recommend-accept

[2022-08-26 02:42] xtruan commented on #4663
My review is complete. This package was a pleasure to review, I have no suggestions for improvement in the code, documentation, or paper. A couple of additional notes I made during the review:
- Main library built as expected from `main` on Windows 10 with JDK 18 + Maven 3.8.6
- Happy to see automated tests integrated as part of the Maven build process
- Separate examples library built as expected

[2022-08-26 03:17] shyamd commented on #4696
@editorialbot generate pdf

[2022-08-26 08:12] editorialbot opened #4711 "[PRE REVIEW]: APGG - A Modular C++ Framework for Asymmetric Public Goods Games"
**Submitting author:** @jhstaudacher (<a href="http://orcid.org/0000-0002-0619-4606">Jochen Staudacher</a>)
**Repository:** https://github.com/APGG-Lab/APGG
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @Nikoleta-v3
**Reviewers:** @ieyjzhou, @mstimberg
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/4558a91d3a77910764ab49cd2d

[2022-08-26 08:12] editorialbot opened #4712 "[PRE REVIEW]: CLOVER: A modelling framework for sustainable community-scale energy systems"
**Submitting author:** @phil-sandwell (<a href="http://orcid.org/0000-0003-1117-5095">Philip Sandwell</a>)
**Repository:** https://github.com/CLOVER-energy/CLOVER
**Branch with paper.md** (empty if default branch): publish
**Version:** v5.0.5
**Editor:** @fraukewiese
**Reviewers:** @EwaGomez, @fneum
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/be3c026bd50dd9b5

[2022-08-26 08:14] arfon commented on #4711
@editorialbot query scope

@jhstaudacher – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-08-26 08:15] arfon commented on #4394
@editorialbot invite @ivastar as editor

:wave: @ivastar – can I ask you to take this submission over for me? I'm having trouble finding reviewers for this one but perhaps you'll have more luck than me!

[2022-08-26 08:18] arfon commented on #4626
@editorialbot invite @adonath as editor

:wave: @adonath – would you be willing to edit this submission for JOSS?

[2022-08-26 08:18] arfon commented on #4639
@editorialbot invite @adonath as editor

:wave: @adonath – would you be willing to edit this submission for JOSS?

[2022-08-26 08:20] arfon commented on #4653
@editorialbot invite @ivastar as editor

:wave: @ivastar – would you be willing to edit this submission for JOSS?

[2022-08-26 08:37] arfon commented on #4636
@vherve many thanks for your submission to JOSS. After discussion with the editorial team we have concluded that this submission is not in scope for us.

A number of concerns were raised by the team including the relatively small/simple nature of the workflow (i.e., not meeting our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) te

[2022-08-26 08:37] arfon commented on #4636
@editorialbot reject

[2022-08-26 08:37] #4636 closed

[2022-08-26 08:43] arfon commented on #4686
@dario-coscia - many thanks for your submission to JOSS. After a review by the JOSS editorial team, we've determined that this is not in scope for us.

In our [submission docs](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) we state that:

While we believe this is a well-implemented piece of software, we believe this software to be a partial/limited re-implemen

[2022-08-26 08:43] arfon commented on #4686
@editorialbot reject

[2022-08-26 08:43] #4686 closed

[2022-08-26 08:44] arfon commented on #4702
@Robaina – Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how

[2022-08-26 08:44] arfon commented on #4702
@editorialbot reject

[2022-08-26 08:44] #4702 closed

[2022-08-26 08:49] arfon commented on #4710
@havishaJ – many thanks for your submission to JOSS. After a review by the JOSS editorial team we've determined that this submission is not eligible for review in JOSS. Primarily this is because your code is in a single large R file which presents a number of issues:

- Lack of modularity means it is hard/impossible for others to reuse/modify/incorporate into their work.
- Does not follow well-est

[2022-08-26 08:49] arfon commented on #4710
@editorialbot reject

[2022-08-26 08:49] #4710 closed

[2022-08-26 08:58] osorensen commented on #4181
Another example I found while browsing source code. In `simulate_mixture_cube.R` you have the line

[code]

but you also write

[code]

Again, since you use the qualifier `Hmisc::`, the `@importFrom` should be removed here.

[2022-08-26 09:03] ivastar commented on #4653
@editorialbot assign me as editor

[2022-08-26 09:39] arfon commented on #4217
@editorialbot accept

[2022-08-26 09:45] arfon commented on #4432
@editorialbot accept

[2022-08-26 09:46] arfon commented on #4217
@hemmelig, @hfmark – many thanks for your reviews here and to @leouieda for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@valentineap  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-26 09:46] #4217 closed

[2022-08-26 09:47] arfon commented on #4484
@editorialbot accept

[2022-08-26 09:54] arfon commented on #4533
@travisseymour – I've made a couple of very small edit here: https://github.com/travisseymour/EPICpy/pull/6

Could you merge that PR please?

[2022-08-26 09:54] #4432 closed

[2022-08-26 09:55] arfon commented on #4484
@TomDonoghue, @adswa – many thanks for your reviews here and to @emdupre for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@adam2392 – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-26 09:55] #4484 closed

[2022-08-26 09:59] arfon commented on #4588
@editorialbot accept

[2022-08-26 10:04] arfon commented on #4620
@editorialbot accept

[2022-08-26 10:04] arfon commented on #4588
@gagolews, @kanishkan91 – many thanks for your reviews here and to @crvernon for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@draabe – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-26 10:04] #4588 closed

[2022-08-26 10:06] arfon commented on #4312
@Zitzeronion – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the a

[2022-08-26 10:10] arfon commented on #4620
@jGaboardi, @BenjMy – many thanks for your reviews here and to @martinfleis for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@siavash-saki  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-08-26 10:10] #4620 closed

[2022-08-26 10:10] editorialbot opened #4713 "[PRE REVIEW]: OPSDN: an enhanced SDN simulation framework for OPNET Modeler"
**Submitting author:** @ZacharyJia (<a href="http://orcid.org/0000-0002-7144-4448">Zequn Jia</a>)
**Repository:** https://github.com/ZacharyJia/opsdn
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.1
**Editor:** @danielskatz
**Reviewers:** @Qingfengmufeng, @pausz
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/888bd72686dac709bec0e4e2b57a1d1

[2022-08-26 10:29] siavash-saki commented on #4620
@jGaboardi @BenjMy @martinfleis
I sincerely appreciate the time and effort you put into reviewing the submissions (especially our submission). Publishing in JOSS was a unique experience, and the review process was extremely smooth and helpful.
We would be more than happy if we could ever contribute to JOSS. (Donation is already made) :D
I wish you all the best.

[2022-08-26 11:03] draabe commented on #4588
@crvernon @gagolews @kanishkan91 @arfon This is awesome! Thanks a lot to everybody involved for the constructive and timely feedback, this has helped us lot!

For all the contributing team this was the first experience with JOSS and pretty much the first steps in Open Source, too. I really appreciate the JOSS publication workflow, and I think I can speak for all authors in that we learned a lot an

[2022-08-26 14:08] cicirello commented on #4663
@xtruan Thank you for the feedback. I also just fixed the javadoc warnings.

[2022-08-26 14:47] pstjohn commented on #4621
@osorensen, just wanted to check in on this. Let me know if there's any other edits we could make while we wait for the last review to come in.

Thanks!

[2022-08-26 15:09] gasparl commented on #4643
I now [added](https://github.com/gasparl/possa/commit/8cc765587efa8633c2a0ccb5f6ab6a02f85e7f9d) the p value extraction function as [suggested](https://github.com/gasparl/possa/issues/11) by @mmrabe.

@fboehm, this concludes my replies/revisions to all reviewer requests and comments.

[2022-08-26 15:51] diehlpk commented on #4663
@cicirello

Some minor comments from the editorial perspective:

- [ ] Please add the country to the affiliation
- [ ] You have some statements like `used 53.3% less CPU` in your paper. I think here it would be good to mention the CPU you used for this test.

[2022-08-26 16:31] blind-contours commented on #4181
@osorensen - thanks so much for the clarification. I think I get it now and will do more research. I'll remove these packages from the namespace.

[2022-08-26 16:44] cicirello commented on #4663
@editorialbot generate pdf

[2022-08-26 16:49] mmrabe commented on #4643
I confirm that the new ``get_p(...)`` method is working and well documented. It has even found its way into the vignettes already. Thanks for adding this right away, @gasparl! I believe this will be very helpful to some potential users. I can without any concern recommend this paper for publication in JOSS. Great job!

[2022-08-26 16:50] osorensen commented on #4621
Thanks for following up on this @pstjohn. I think we'll wait some more days for @iammix to complete his review. Until then I don't think there's anything for you to do.

[2022-08-26 16:52] cicirello commented on #4663
@diehlpk I added the missing country, and I added CPU/OS details. To avoid redundancy, I put the latter at start of the short paragraph that follows the bulleted list of functionality, rather than in the two bullets containing results. Also, in the repository itself, in the directory of example programs that also contains the output from my runs, I added a simple text file with the CPU/OS details

[2022-08-26 17:00] gasparl commented on #4643
Thanks again @mmrabe !

[2022-08-26 18:19] alexriss commented on #4644
Hi - thanks again. Yes, exactly, these apps are focused on processing and analysis, but they aren't really geared as much towards browsing and organization - and with that batch editing of course gets harder. I have seen plenty of scanning probe users' workflows and many of them really just create lists of their best data, or copy the best files into some directory, or they keep browsing through a

[2022-08-26 18:20] alexriss commented on #4644
@editorialbot generate pdf

[2022-08-26 18:24] travisseymour commented on #4533
I merged the changes, thank you!

[2022-08-26 18:27] arfon commented on #4533
@editorialbot accept

[2022-08-26 18:42] diehlpk commented on #4663
@cicirello

Please do the following:

- [ ] Generate a new release including all changes, you made during the review.
- [ ] Upload this release to Zenodo and post the DOI here. Note that the title and authors have to match with the paper.

[2022-08-26 19:02] fboehm commented on #4643
Thanks to the reviewers, @mmrabe and @mingzehuang for thorough and helpful reviews, and to @gasparl for timely implementation of the suggestions. The next step is for me to proofread the paper. I might have minor suggestions once I do that. I'll mention you, @gasparl, once I've completed this step.

[2022-08-26 19:02] fboehm commented on #4643
@editorialbot generate pdf

[2022-08-26 19:03] cicirello commented on #4663
@diehlpk Release created and archived with Zenodo. Here are the details:

Version: v2.4.0
Zenodo DOI: https://doi.org/10.5281/zenodo.7026452

[2022-08-26 19:12] fboehm commented on #4643
The paper looks really good. I have a minor correction that is needed:

line 50 in the pdf: capitalize R
One way to do this is to put braces around capital R in your bib file: {R}

I have no other edits to suggest for the paper

[2022-08-26 19:12] fboehm commented on #4643
@editorialbot check references

[2022-08-26 19:13] fboehm commented on #4643
@gasparl - can you check to see if the suggested "missing DOI" is valid? If so, please add it to the bib file (and the resulting pdf). Thanks again!

[2022-08-26 19:14] fboehm commented on #4643
I manually checked the currently present DOIs, and they all resolved to the intended targets.

[2022-08-26 19:20] travisseymour commented on #4533
How exciting, thanks for all the work done by the reviewers and the
editorial team!

Am I correct that I no longer need the branch used for the review?

On Fri, Aug 26, 2022 at 11:35 AM Arfon Smith ***@***.***>
wrote:

--

*Travis Seymour, PhD*
Associate Professor
Psychology Department
University of California Santa Cruz
http://cogmodlab.ucsc.edu/

[2022-08-26 19:20] svchb commented on #4679
@Shreyas911
Todo:
- [ ] shorten paper
 The paper is too long. The guideline is about 1000 words. You mention a lot of stuff that is also is just repeated from your documentation. Just reference your documentation. Following best development practices, i.e. having a documentation, CI etc. is not a major feature.
- [ ] Fix the stuff in issues [[1]](https://gitlab.awi.de/sicopolis/sicopolis/-/issues/

[2022-08-26 19:23] ulf1 commented on #4661
Hello @jbytecode , is there a checklist or criteria list I would need to apply for the review?

[2022-08-26 19:26] adonath commented on #4639
@editorialbot assign me as editor

Thanks @Jammy2211 for the submission! I recently joined the JOSS editor team and happy to take over the editing role for this submission.

[2022-08-26 19:27] diehlpk commented on #4663
@editorialbot set v2.4.0 as version

[2022-08-26 19:28] diehlpk commented on #4663
@editorialbot set 10.5281/zenodo.7026452 as archive

[2022-08-26 19:29] diehlpk commented on #4663
@editorialbot recommend-accept

[2022-08-26 19:31] adonath commented on #4626
@editorialbot assign me as editor

Thanks @tibordome for the submission! I recently joined the editor team of JOSS and I'm looking forward to take the editing role here.

[2022-08-26 19:34] jbytecode commented on #4661
@ulf1 - After we assign two reviewers, a new thread will be created. In that thread, our editorialbot will create 20 check items for each single reviewer. Do you approve being a reviewer for this submission?

[2022-08-26 19:34] adonath commented on #4639
@Jammy2211 One immediate thing to fix: please add a [valid open source license](https://opensource.org/licenses) to your project.

[2022-08-26 19:47] adonath commented on #4639
From a first look the user documentation seems extensive and useful. However I could not find any API documentation, albeit it is present in the source code. Can you please double check the docs build @Jammy2211 or point me to the API docs (in case I missed them...).

[2022-08-26 21:17] lpantano commented on #4236
Hi @sdhutchins , any chance this can be completed in the next days? Thanks

[2022-08-26 21:33] lpantano commented on #4363
Hi @cagret, I will wait for you to address the comments from @samhorsfield96. It seems it needs the statement of need to be added to the paper text. I agree that is more about the need of the tool to answer a scientific question. As well, @swatimanekar is missing more documentation to get to a better level? can you confirm this @swatimanekar? if yes, can you point again to some examples where it c

[2022-08-26 23:15] dhhagan commented on #4326
@editorialbot set 10.5281/zenodo.6981643 as archive