[2018-05-21 01:42] pjotrp commented on #698
@alexgarciac you can report on the projects issue tracker (when relevant) and here. This issue tracker we use to do the actual public review. There is no submit button :). Just respond here.

[2018-05-21 01:43] pjotrp commented on #694
@whedon commands

[2018-05-21 01:43] whedon commented on #694
Here are some things you can ask me to do:

[code]

[2018-05-21 01:43] pjotrp commented on #694
@whedon assign @pjotrp as editor

[2018-05-21 01:43] whedon commented on #694
OK, the editor is @pjotrp

[2018-05-21 01:56] pjotrp commented on #694
Hi @mikldk, thanks for your interesting contribution. I'll look for a reviewer. Feel free to propose someone.

[2018-05-21 02:03] mikldk commented on #694
Thanks, @pjotrp . And thank you for editing this. @nhejazi already agreed to do so (see above). I hope that he's still able to?

[2018-05-21 03:10] kellieotto commented on #725
@leeper Yes, happy to review this.

[2018-05-21 03:11] kellieotto commented on #733
I have another package on my docket to review -- I will hand this one over to Terry.

[2018-05-21 04:26] moorepants commented on #742
@monthubbard the review will be happening here. FYI.

[2018-05-21 04:56] moorepants commented on #742
@whedon generate pdf

[2018-05-21 04:56] whedon commented on #742
[code]

[2018-05-21 04:57] whedon commented on #742
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00742/joss.00742/10.21105.joss.00742.pdf)

[2018-05-21 05:03] moorepants commented on #742
@monthubbard Do you have any recommendations for reviewers? They'll need to be willing to review via the Github interface here.

[2018-05-21 05:09] moorepants commented on #742
There are a couple reviewers on the list that have biomechanics listed: trallard and CELavecchia

[2018-05-21 05:12] moorepants commented on #742
pandoc converts `\(mg\)` to latex mathematics locally for me but it doesn't seem to work via whedon, see:

![image](https://user-images.githubusercontent.com/276007/40291603-c505f358-5c7a-11e8-9398-49f983fb9ed3.png)

I have an issue open for this: https://github.com/openjournals/joss/issues/409

[2018-05-21 05:27] moorepants commented on #742
Ok, the paper seems to be compiling correctly and I've fixed some minor issues wrt to that.

[2018-05-21 06:42] leeper commented on #725
@whedon assign @kellieotto as reviewer

[2018-05-21 06:42] whedon commented on #725
OK, the reviewer is @kellieotto

[2018-05-21 06:43] leeper commented on #725
@whedon start review magic-word=bananas

[2018-05-21 06:43] whedon opened #746 "[REVIEW]: mbir: Magnitude-Based Inferences"
**Submitting author:** @kdpeterson51 (<a href="http://orcid.org/0000-0003-0128-5282">Kyle Peterson</a>)
**Repository:** <a href="https://github.com/kdpeterson51/mbir" target ="_blank">https://github.com/kdpeterson51/mbir</a>
**Version:** 1.3
**Editor:** @arfon
**Reviewer:** @kellieotto
**Archive:** <a href="https://doi.org/10.5281/zenodo.2546910" target="_blank">10.5281/zenodo.2546910</a>

## Stat

[2018-05-21 06:43] whedon commented on #725
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/746. Feel free to close this issue now!

[2018-05-21 06:43] whedon commented on #746
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kellieotto it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-05-21 06:43] whedon commented on #746
[code]

[2018-05-21 06:43] whedon commented on #746
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00746/joss.00746/10.21105.joss.00746.pdf)

[2018-05-21 06:45] #725 closed

[2018-05-21 07:46] leeper commented on #722
@benmarwick Great. Thanks! Let us know if you have any other comments at this point.

@mrecos Please try to address the issues opened by @benmarwick. The matters of examples and tests are particularly important.

[2018-05-21 07:55] alexgarciac commented on #698
Hi, I have checked the appropriate boxes. the ones not checked have comments in the issue tracker of the edam prj.

[2018-05-21 08:51] hooman650 commented on #671
Dear @marianux and @fernandoandreotti , in regards to your comments and our last correspondence, I have already added 10 subroutines to BioSigKit where these are detailed in the homepage repository of the BioSigKit. These subroutines help perform several different tasks such as: ECG-derived respiration, alarm detection in EMG signals and audio signals,  Foetal ecg extraction from maternal ECG, art

[2018-05-21 09:18] alexgarciac commented on #698
Other review comments (also made over the EDAM issue tracker). the symbol "->" indicates each issue reported in the EDAM issue tracker.

-> Please add DOIs to the references where applicable. For instance,
https://doi.org/10.1186/s12859-015-0456-9 for https://bmcbioinformatics.biomedcentral.com/articles/10.1186/s12859-015-0456-9 in your bib file this is with no DOI, see below.

@Article{hoehndorf2

[2018-05-21 10:12] arfon commented on #738
@stsievert - references without DOIs are acceptable provided they _don't actually have one_, i.e. a journal publications such as [this one](https://github.com/dit/dit/blob/master/joss_paper/paper.bib#L93) is missing this DOI: https://doi.org/10.1016/j.physleta.2011.10.066

@Autoplectic - please go through your `paper.bib` and add a DOI for each entry where you can find a DOI.

[2018-05-21 10:13] arfon commented on #733
@nilesh-patil - would you be willing to review this submission for JOSS?

[2018-05-21 10:14] arfon commented on #733
Thanks @terrytangyuan - I'd like to have two reviewers if possible here. Just trying to find one more...

[2018-05-21 13:48] wouterpotters commented on #736
Thanks for the additions and comments @rlizzo  and @Kevin-Mattheus-Moerman.

[2018-05-21 14:10] siravan commented on #719
A CODE_OF_CONDUCT.md file is added to the master branch.

[2018-05-21 14:11] wouterpotters commented on #745
minor issue: license in LICENSE file https://github.com/vmtk/vmtk/issues/283

[2018-05-21 14:16] monthubbard commented on #742
Prof Chris Brown, Worcester Poly, brown@wpi.edu
Dr Martin Mossner, University of Innsbruck, email unknown

I have no idea whether they are willing to use Github

[2018-05-21 14:43] strengejacke commented on #743
Just got a msg that @methodds is on holiday break and gets back by the end of this week.

[2018-05-21 15:05] dgasmith commented on #744
@whedon generate pdf

[2018-05-21 15:05] whedon commented on #744
[code]

[2018-05-21 15:05] whedon commented on #744
PDF failed to compile for issue #744 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/744/paper/paper.md): found character that cannot start any token while scanning for the next token at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:

[2018-05-21 15:07] dgasmith commented on #744
@whedon generate pdf

[2018-05-21 15:07] whedon commented on #744
[code]

[2018-05-21 15:07] whedon commented on #744
PDF failed to compile for issue #744 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/744/paper/paper.md): mapping values are not allowed in this context at line 2 column 18 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vend

[2018-05-21 15:14] dgasmith commented on #744
@whedon generate pdf

[2018-05-21 15:14] whedon commented on #744
[code]

[2018-05-21 15:15] whedon commented on #744
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00744/joss.00744/10.21105.joss.00744.pdf)

[2018-05-21 15:54] devinberg commented on #742
@Kevin-Mattheus-Moerman Looks interesting but I worry I'm not software savvy enough to review this. (i.e.  I've been able to install this package but not successfully run it so far.)

[2018-05-21 16:37] mgalloy commented on #719
@Kevin-Mattheus-Moerman  OK, assuming@siravan makes a GitHub release labeled 1.0, then the only thing I haven't found yet is "Functionality documentation", i.e., API documentation. Am I missing it somewhere @siravan?

[2018-05-21 16:42] moorepants commented on #742
@devinberg If you can report the issue you have, I can try to improve the installation documentation. Thanks!

[2018-05-21 16:44] moorepants commented on #742
Here is Dr. Martin Mossner's email: martin.moessner@uibk.ac.at

[2018-05-21 18:00] dgasmith commented on #744
There we are, seems it dislikes syntax highlighting or semicolons in the title.

[2018-05-21 18:21] DTChuck commented on #630
Here is the archive DOI. I am also going to place it in the README of the GitHub repository. Thanks!!

[![DOI](https://zenodo.org/badge/96904936.svg)](https://zenodo.org/badge/latestdoi/96904936)

[2018-05-21 18:36] Autoplectic commented on #738
Largely. CJE & I were both graduate students under JPC. CJE is now in industry, and I am back with JPC as a postdoc.

[2018-05-21 19:33] wouterpotters commented on #745
There are no automated tests for the vmtk Python scripts and C++ classes.
However:

- A large part of the software is based on ITK routines, which do have automated testing for all their routines.
- There are options for visual user feedback (i.e. ITK visualisations) every step of the way using vmktimageviewer, vmtksurfaceviewer, vmtkrenderer
- There are options for checking the results in other s

[2018-05-21 19:56] wouterpotters commented on #745
Extensive testing; all explained in the CONTRIBUTING.md file, test folder and on https://github.com/vmtk/vmtk-test-data.

[2018-05-21 19:56] wouterpotters commented on #745
already fixed; new user instructions: https://github.com/vmtk/vmtk/issues/286

[2018-05-21 20:00] wouterpotters commented on #745
Despite the fact that there already is a lot of useful documentation for both users and developers: issue with (incomplete) documentation: http://github.com/vmtk/vmtk/issues/288

Improving this point would improve the open source aspect of vmtk

[2018-05-21 20:19] wouterpotters commented on #745
Some small issues with the submitted manuscript: https://github.com/vmtk/vmtk/issues/289

[2018-05-21 20:30] arfon commented on #733
@whedon assign @arfon as editor

[2018-05-21 20:30] whedon commented on #733
OK, the editor is @arfon

[2018-05-21 20:31] arfon commented on #733
@whedon add @nilesh-patil as reviewer

[2018-05-21 20:31] whedon commented on #733
OK, @nilesh-patil is now a reviewer

[2018-05-21 20:31] arfon commented on #733
@whedon add @terrytangyuan as reviewer

[2018-05-21 20:31] whedon commented on #733
OK, @terrytangyuan is now a reviewer

[2018-05-21 20:31] arfon commented on #733
@whedon start review magic-word=bananas

[2018-05-21 20:31] #733 closed

[2018-05-21 20:31] whedon opened #747 "[REVIEW]: NN-SVG: Publication-Ready Neural Network Architecture Schematics"
**Submitting author:** @zfrenchee (<a href="http://orcid.org/0000-0001-8173-2315">Alexander LeNail</a>)
**Repository:** <a href="https://github.com/zfrenchee/NN-SVG" target ="_blank">https://github.com/zfrenchee/NN-SVG</a>
**Version:** 1.0.0
**Editor:** @arfon
**Reviewer:** @nilesh-patil, @terrytangyuan
**Archive:** <a href="https://doi.org/10.5281/zenodo.2541121" target="_blank">10.5281/zenodo.25

[2018-05-21 20:31] whedon commented on #733
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/747. Feel free to close this issue now!

[2018-05-21 20:31] whedon commented on #747
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @nilesh-patil, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-05-21 20:31] whedon commented on #747
[code]

[2018-05-21 20:32] whedon commented on #747
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00747/joss.00747/10.21105.joss.00747.pdf)

[2018-05-21 20:32] arfon commented on #733
@nilesh-patil - sure thing. I'll add some links on the review issue over in #747

[2018-05-21 20:32] arfon commented on #747
@nilesh-patil, @terrytangyuan - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-05-21 20:34] arfon commented on #630
@whedon set 10.5281/zenodo.1250506 as archive

[2018-05-21 20:34] whedon commented on #630
OK. <a href="http://dx.doi.org/10.5281/zenodo.1250506" target="_blank">10.5281/zenodo.1250506</a> is the archive.

[2018-05-21 20:38] arfon commented on #630
@abhishekbajpayee - many thanks for your review here ✨

@DTChuck - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00630 :zap: :rocket: :boom:

[2018-05-21 20:38] #630 closed

[2018-05-21 20:38] whedon commented on #630
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00630/status.svg)](https://doi.org/10.21105/joss.00630)

**We need your help!**

Journal of Open Source Software

[2018-05-21 20:38] Autoplectic commented on #738
I have added DOIs where possible.

[2018-05-21 20:43] wouterpotters commented on #745
Overall opinion on the submitted paper:
The VMTK software package is a scientifically relevant open source software package that is relevant specifically to the field of vascular imaging and simulation.

The package is useful for users at different levels. Clinicians and non-technical users can use their precompiled version, more advanced developers can use either the python or the C++ libraries.

[2018-05-21 20:44] Autoplectic commented on #738
I believe I have addressed all the reviewers concerns at this point.

[2018-05-21 20:53] Autoplectic commented on #738
scratch that --- working on an issue with the docs. the custom mathjax works fine under docs.dit.io, but fails under dit.readthedocs.io

[2018-05-21 21:30] zfrenchee commented on #747
Hi @nilesh-patil, @terrytangyuan,
Thanks for agreeing to review this! I'm going to make a first round of edits right now to conform to the checklists I see above -- I can tell already there are a few things missing. You should be all clear to review in about an hour or so.

[2018-05-21 21:37] zfrenchee commented on #747
Oh, and one important note about this project, @arfon, @nilesh-patil, @terrytangyuan,
NN-SVG is principally a web-tool, not a package. Although this project was built with extensibility in mind ([and I've already been contacted about using it elsewhere](https://github.com/zfrenchee/NN-SVG/issues/4)) the main purpose of this code is to be the basis for [the site](http://alexlenail.me/NN-SVG/). For

[2018-05-21 21:47] Autoplectic commented on #738
OK, the docs work fine at http://dit.readthedocs.io and at http://docs.dit.io, which is the official link. I'm not sure why it doesn't work at https://dit.readthedocs.io. Since it works at the official link, which is the only one in the readme and such, things should be ok.

[2018-05-21 23:02] Fil commented on #735
I finally managed to install almost everything with docker.

Here are my comments so far: https://github.com/mirzaevinom/egtplot/issues/2

[2018-05-21 23:08] stsievert commented on #738
Thanks @Autoplectic, both for the quick response and handling these issues well.

Maybe I'm missing it, but have you addressed contributing issue mentioned in https://github.com/openjournals/joss-reviews/issues/738#issuecomment-390523494?

[2018-05-22 00:19] arfon commented on #747
Just pushing back on this a little @zfrenchee. While I understand that this might not be wrapped up in a library/module with a clean API, I think it's reasonable to expect that installation instructions for this software (i.e. how to run this site myself) would be provided.

[2018-05-22 01:04] Autoplectic commented on #738
@stsievert The information about contributing is at the bottom of the readme. I've also added a CONTRIBUTING.md as you have suggested.

Thank you @stsievert, @kczimm, and @arfon for your help shepherding this submission through!

[2018-05-22 01:08] kczimm commented on #738
I had many of the same comments as @stsievert. I don't have any other comments or suggestions at this time.

[2018-05-22 02:19] stsievert commented on #738
Could you add a line for people seeking support? This could be a link to a Gitter channel, a tip to stackoverflow with some tag or file an issue.

 Here's the GitHub support for CONTRIBUTING.md: https://blog.github.com/2012-09-17-contributing-guidelines/

It's easy to check off boxes when everything (or most things) are done right.

[2018-05-22 04:16] rlizzo commented on #745
@whedon generate pdf

[2018-05-22 04:16] whedon commented on #745
[code]

[2018-05-22 04:17] whedon commented on #745
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00745/joss.00745/10.21105.joss.00745.pdf)

[2018-05-22 04:34] pjotrp commented on #698
Thans @alexgarciac for your very thorough review. @bryan-brancotte I think it is a good idea to look at all suggestions and see if you can improve the paper. The goal is to present your work in the best way so people start using it! I don't think it is a lot of work, so it is close to being accepted with minor revisions only.

Of the missing check boxes, I think only the one on community guideline

[2018-05-22 04:35] pjotrp commented on #694
@whedon assign @mikldk as reviewer

[2018-05-22 04:35] whedon commented on #694
OK, the reviewer is @mikldk

[2018-05-22 04:36] pjotrp commented on #694
@whedon list editors

[2018-05-22 04:36] whedon commented on #694
Current editors:

[code]

[2018-05-22 04:38] pjotrp commented on #694
@whedon start review magic-word=bananas

[2018-05-22 04:38] whedon opened #748 "[REVIEW]: Discrete Laplace mixture model with applications in forensic genetics"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/disclapmix" target ="_blank">https://github.com/mikldk/disclapmix</a>
**Version:** v1.7
**Editor:** @pjotrp
**Reviewer:** @mikldk
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/b9a4de87d9ef874fc74147da9fdb85af/status.

[2018-05-22 04:38] whedon commented on #694
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/748. Feel free to close this issue now!

[2018-05-22 04:38] whedon commented on #748
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @mikldk it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-05-22 04:38] whedon commented on #748
[code]

[2018-05-22 04:38] whedon commented on #748
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00748/joss.00748/10.21105.joss.00748.pdf)

[2018-05-22 04:50] pjotrp commented on #748
Oops, I set the author as reviewer. Not good ;)

[2018-05-22 04:50] pjotrp commented on #694
@whedon set @nhejazi as reviewer

[2018-05-22 04:52] pjotrp commented on #694
@arfon I messed up. I set the author as reviewer and started review. The system does not like me to change anything now... Help!

[2018-05-22 06:16] rlizzo commented on #745
@whedon generate pdf

[2018-05-22 06:16] whedon commented on #745
[code]

[2018-05-22 06:17] whedon commented on #745
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00745/joss.00745/10.21105.joss.00745.pdf)

[2018-05-22 13:27] arfon commented on #748
@pjotrp - I've swapped out @nhejazi as the reviewer here.

[2018-05-22 13:27] arfon commented on #694
@pjotrp - no problem, I've fixed it up in #748

[2018-05-22 13:30] #694 closed

[2018-05-22 13:38] moorepants commented on #742
Note that Devin and I fixed the Windows install issues and that should all work as expected now.

[2018-05-22 14:09] zfrenchee commented on #747
@arfon that's an interesting idea. Then again, they're just HTML pages, so there isn't too much I can think of to explain. But I'll keep thinking about it..

[2018-05-22 14:29] costrouc commented on #724
@whedon generate pdf

[2018-05-22 14:29] whedon commented on #724
[code]

[2018-05-22 14:29] whedon commented on #724
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00724/joss.00724/10.21105.joss.00724.pdf)

[2018-05-22 15:01] mrecos commented on #722
Great! Thanks @benmarwick and @leeper. I will address in short order and report back.

[2018-05-22 17:04] JoFAM commented on #623
@zedtaha I have another pull request that tackles a number of the issues from the previous review round:

https://github.com/zedtaha/nardl/pull/17

## General remarks:

The package improved in this round, but still doesn't provide basic functionality one would expect. At least one should be able to extract coefficients and other important model statistics from a model object. They might need these

[2018-05-22 19:18] pjotrp commented on #694
Thanks @arfon, you are a pal!

[2018-05-22 19:19] pjotrp commented on #748
@mikldk to expedite review do you mind going through the check list above? It may save a few back and forths. Tell us when you are happy and review will start.

[2018-05-22 20:41] Autoplectic commented on #738
@stsievert i've added to the contributing.md file!

[2018-05-22 22:42] mikldk commented on #748
@pjotrp thank you for editing this and @nhejazi thank you for reviewing this.

I have gone through the checklist and I hope that I have addressed everything on it to make the review as smooth as possible. Should I have overlooked something, please let me know and I will address it as fast as possible.

Again, thank you for helping out on this one. Let me know if there's anything that I can help wi

[2018-05-23 00:01] arfon commented on #734
@whedon assign @arfon as editor

[2018-05-23 00:01] whedon commented on #734
OK, the editor is @arfon

[2018-05-23 00:01] arfon commented on #734
@whedon assign @ThomasA as reviewer

[2018-05-23 00:01] whedon commented on #734
OK, the reviewer is @ThomasA

[2018-05-23 00:01] arfon commented on #734
@whedon add @jjatria as reviewer

[2018-05-23 00:01] whedon commented on #734
OK, @jjatria is now a reviewer

[2018-05-23 00:02] arfon commented on #734
@ThomasA, @jjatria - many thanks for offering to help out here! I'll go ahead and set up the review issue now.

[2018-05-23 00:02] arfon commented on #734
@whedon start review magic-word=bananas

[2018-05-23 00:02] #734 closed

[2018-05-23 00:02] whedon opened #749 "[REVIEW]: SpeechPy - Speech Processing and Recognition"
**Submitting author:** @astorfi (<a href="http://orcid.org/0000-0003-2282-4361">Amirsina Torfi</a>)
**Repository:** <a href="https://github.com/astorfi/speechpy" target ="_blank">https://github.com/astorfi/speechpy</a>
**Version:** 2.3
**Editor:** @arfon
**Reviewer:** @ThomasA, @kczimm
**Archive:** <a href="https://doi.org/10.5281/zenodo.810391" target="_blank">10.5281/zenodo.810391</a>

## Status

[2018-05-23 00:02] whedon commented on #734
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/749. Feel free to close this issue now!

[2018-05-23 00:02] whedon commented on #749
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ThomasA, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-05-23 00:02] whedon commented on #749
[code]

[2018-05-23 00:02] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-05-23 00:02] arfon commented on #749
@ThomasA, @jjatria - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: http://joss.theoj.org/about#reviewer_guidelines

Any questions/concerns please let me know.

[2018-05-23 00:04] arfon commented on #662
Yes, please take a look at this when you get a chance please!

[2018-05-23 00:05] arfon commented on #738
OK, I think we're good to go here. If I could just get a final :+1: from @kczimm, @stsievert that we're good to accept I'll move forward with this submission.

[2018-05-23 00:06] whedon opened #750 "[PRE REVIEW]: PyBox: An automated box-model generator for atmospheric chemistry and aerosol simulations."
**Submitting author:** @loftytopping (<a href="http://orcid.org/0000-0001-8247-9649">David Topping</a>)
**Repository:** <a href="https://github.com/loftytopping/PyBox" target ="_blank">https://github.com/loftytopping/PyBox</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewers:** @dvalters, @highendcompute

**Author instructions**

Thanks for submitting your paper to JOSS @loftytopping. The JOSS

[2018-05-23 00:06] whedon commented on #750
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-05-23 00:06] whedon commented on #750
[code]

[2018-05-23 00:06] whedon commented on #750
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00750/joss.00750/10.21105.joss.00750.pdf)

[2018-05-23 00:06] arfon commented on #750
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-05-23 00:07] whedon opened #751 "[PRE REVIEW]: Neutron Imaging Normalization Library"
**Submitting author:** @jeanbilheux (<a href="http://orcid.org/0000-0003-2172-6487">Jean Bilheux</a>)
**Repository:** <a href="https://github.com/scikit-beam/NeuNorm" target ="_blank">https://github.com/scikit-beam/NeuNorm</a>
**Version:** 1.4.0
**Editor:** @arfon
**Reviewers:** @stuartcampbell

**Author instructions**

Thanks for submitting your paper to JOSS @jeanbilheux. The JOSS editor (shown

[2018-05-23 00:07] whedon commented on #751
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-23 00:07] whedon commented on #751
[code]

[2018-05-23 00:08] whedon commented on #751
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00751/joss.00751/10.21105.joss.00751.pdf)

[2018-05-23 00:08] Autoplectic commented on #738
@whedon generate pdf

[2018-05-23 00:09] whedon commented on #738
[code]

[2018-05-23 00:09] whedon commented on #738
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00738/joss.00738/10.21105.joss.00738.pdf)

[2018-05-23 00:57] leios commented on #719
@Kevin-Mattheus-Moerman I apologize for taking so long with this review. I ran into a rather annoying build error when attempting to build tensorflow with JIT and CUDA (https://github.com/tensorflow/tensorflow/issues/10220). It took a while for me to find the solution. I should have been quicker to realize that I needed to use another version of `gcc`.

@mgalloy The documentation can be found in t

[2018-05-23 01:31] pjotrp commented on #748
Thanks! @nhejazi the floor is yours!

[2018-05-23 08:41] JoFAM commented on #623
@zedtaha PS: if you need extra explanation or more help with how to remediate my comments, don't hesitate to ask.

[2018-05-23 09:48] leeper commented on #623
@JoFAM Thanks! This looks great. Really, really helpful review.

@zedtaha Can you incorporate the PR and try to address the remaining issues? Given the scale of @JoFAM's contribution via the PR, you may also want to list him in DESCRIPTION as a contributor.

[2018-05-23 10:12] nuest commented on #662
Sincere apologies for the delay, too many GH emails and this one fell through the cracks. I started my review and have some first comments that can be addressed rightaway, see issues linked above.
I'll start the functional evaluation next.

[2018-05-23 11:36] loftytopping commented on #750
Hi guys.

Great any thanks for progressing. Ive had a look at the existing reviewers and would suggest dvalters is ideal given he covers everything PyBox is designed for.  Another reviewer who is not on the list but I would suggest is Dr Michael Bane [mkb@highendcompute.co.uk] as he would offer a robust critique/testing of the automated Python-to-Fortran component.

Thanks!
Dave

[2018-05-23 14:28] rcurtin commented on #726
Hi there @mlgill and @rasbt, thanks for your comments.  I've addressed each of the issues you opened (mlpack/mlpack#1403, mlpack/mlpack#1404, mlpack/mlpack#1405, mlpack/mlpack#1406)---let me know if everything is handled to your satisfaction.

You are right that we have released 3.0.1 (it's a pretty incremental release).  We can update the version in the paper, but maybe it is good to wait until t

[2018-05-23 14:37] Kevin-Mattheus-Moerman commented on #726
@rcurtin our policy is that the version number should reflect the state of the reviewed software. So if you implement fixes in 3.0.2 relevant to the review then that should be the version number for the paper.

[2018-05-23 14:44] rcurtin commented on #726
Your call, either way is fine with me. :)

[2018-05-23 17:58] moorepants commented on #742
@whedon generate pdf

[2018-05-23 17:58] whedon commented on #742
[code]

[2018-05-23 17:59] whedon commented on #742
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00742/joss.00742/10.21105.joss.00742.pdf)

[2018-05-23 18:43] benmarwick commented on #662
Yes, to start with, I'd love to see another attempt at a clear statement of what problems the software is designed to solve and who the target audience is? Who are the users like to be? I've just done a tiny bit work helping students in atmospheric chemistry, so the methods here are not familiar to me.

I can run the example code until here:

[code]

[2018-05-23 20:22] Schuch666 commented on #662
Thank @nuest and @benmarwick

I'm working on the text (and the code). Soon I will update the package and write here some detailed explanations

[2018-05-23 20:47] lheagy commented on #750
Thanks @loftytopping! I will send an email to Dr. Michael Bane and see if he is willing to review. Do you have any other reviewer suggestions? Ideally, we get 2.

[2018-05-23 20:51] loftytopping commented on #750
Hi! Great. Ok cool, can you get in touch with 'dvalters' from the current JOSS reviewers list too? This covers Python, OpenMP and the domain of interest so its perfect for PyBox if they can review :).

[2018-05-24 02:16] siravan commented on #719
@leios Thanks for the comments. I appreciate your comments and persistence in installing the JIT enabled TensorFlow.

1. The initial reason to develop fib_tf was as a test bed for new ideas on cardiac electrophysiology simulation, like adding a new ionic current to a cardiac model. This is actually how we use it in our academic work (no publication yet, but we are working on a paper on enhancing t

[2018-05-24 04:44] karthik commented on #668
Thank you @lebebr01!
Once @lmullen signs off on the last remaining items, I'll proceed with next steps.

[2018-05-24 05:53] leios commented on #719
@siravan Thanks for detailed response! I believe that answers all my questions for now, but will take one final look at the code soon.

[2018-05-24 07:28] wouterpotters commented on #745
Already looking good now with the latest additions. As soon as the C++ docs are (more) complete, I vote to accept the package. What do you think @brainstorm?

[2018-05-24 10:33] sdelandtsheer commented on #718
Hi,
- thanks for the correction in the paper, I now get your intention behind 'days' and find it valid.
- while the app starts, the following error is generated when running:
_Index exceeds matrix dimensions._
_Error in rules (line 73)_
    _paramcase = varargin{2};_
_Error in simulation_attraction (line 18)_
    _nestSimulationData(timestep+1,:,:) = rules(dt,nestSimulationData(timestep,:,:),..._

[2018-05-24 18:18] mesnardo commented on #558
@whedon generate pdf

[2018-05-24 18:18] whedon commented on #558
[code]

[2018-05-24 18:18] whedon commented on #558
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00558/joss.00558/10.21105.joss.00558.pdf)

[2018-05-24 18:20] labarba commented on #558
@kyleniemeyer We're done with our beautiful paper!

[2018-05-25 02:45] wandreopoulos commented on #693
I can suggest these potential reviewers:
dhhagan
benjamin-lee
d-chambers
jrbourbeau
mlgill
highlando
cadair
zhampel

On Sun, May 13, 2018 at 5:57 PM, Arfon Smith <notifications@github.com>
wrote:

[2018-05-25 03:37] brainstorm commented on #745
Yeah, likewise @wouterpotters, the functional docs are the only area where a bit more text/work would be great to have to pass this review, imho.

[2018-05-25 03:59] lheagy commented on #750
👋 Hi @dvalters, would you be willing to review this submission for JOSS?

[2018-05-25 05:52] dvalters commented on #750
Hi @lheagy - sure I can review

[2018-05-25 05:59] rlizzo commented on #745
@brainstorm and @wouterpotters: Just letting you know that we have merged the improvements to the C++ class level documentation you requested. You can review the the changes in the Merged PR https://github.com/vmtk/vmtk/pull/295, or view the additions online: http://www.vmtk.org/doc/html/annotated.html. The majority of effort went into documenting the code which has to do with data structures or p

[2018-05-25 06:07] kyleniemeyer commented on #558
Wow! Big changes. It is just about there, just

In the appendix, this sentence needs to be fixed (maybe missing "how"?):

and then "system of equation" -> "system of equations" two sentences later, and "as follow" -> "as follows" before equation 4.

With those minor fixes, we'll be good to go.

[2018-05-25 07:28] brainstorm commented on #745
There seems to be a few function description gaps still left to fill on the http://www.vmtk.org/doc/html/annotated.html link, but overall looks good, what do you think @wouterpotters?

[2018-05-25 10:12] mesnardo commented on #558
Fixed! Thank you @kyleniemeyer.

[2018-05-25 10:13] mesnardo commented on #558
@whedon generate pdf

[2018-05-25 10:13] whedon commented on #558
[code]

[2018-05-25 10:13] whedon commented on #558
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00558/joss.00558/10.21105.joss.00558.pdf)

[2018-05-25 11:46] wouterpotters commented on #745
@brainstorm Looks like a great addition to the docs. I vote to accept this manuscript & code for publication.

[2018-05-25 12:58] pjotrp commented on #698
ping @bryan-brancotte

[2018-05-25 12:59] pjotrp commented on #583
@andrewyatz do you have time to look at this? We can look for another reviewer if necessary.

[2018-05-25 13:03] bryan-brancotte commented on #698
Hi @pjotrp
Thank to @alexgarciac for all those comments. I had a quite dense week and going to be offline for two weeks so I will not be able to take into account the suggestions in the mean time. As soon as I am back online be assured that it will be on the top of my todo list.
Best regards

[2018-05-25 15:02] wouterpotters commented on #745
@kevinmoerman unfortunately I can’t due to technical limitations. I don’t have acces to a physical computer in the next few days and both my iPhone and my Android phone are not allowed (by github) to check that box. Maybe @brainstorm or you could check it?

[2018-05-25 15:04] rlizzo commented on #745
@Kevin-Mattheus-Moerman thank you, I will have some time in a few hours to update the last few functions @brainstorm mentioned. I appreciate the feedback!

[2018-05-25 15:04] lheagy commented on #750
Thanks @dvalters! Michael has also agreed to review - I am just waiting to get his github handle and we can get started.

[2018-05-25 15:05] lheagy commented on #750
@whedon assign @dvalters as reviewer

[2018-05-25 15:05] whedon commented on #750
OK, the reviewer is @dvalters

[2018-05-25 15:12] Kevin-Mattheus-Moerman commented on #745
@wouterpotters I ticked it for you now thanks again for your help with this review! :tada:

[2018-05-25 15:30] kyleniemeyer commented on #558
@mesnardo @labarba ok great! At this point please archive the software repo and tell us the associated DOI.

[2018-05-25 16:25] whedon opened #752 "[PRE REVIEW]: Philentropy: Information Theory and Distance Quantification with R"
**Submitting author:** @HajkD (<a href="http://orcid.org/0000-0002-1567-306X">Hajk-Georg Drost</a>)
**Repository:** <a href="https://github.com/HajkD/philentropy" target ="_blank">https://github.com/HajkD/philentropy</a>
**Version:** v0.2.0
**Editor:** @leeper
**Reviewers:** @kellieotto

**Author instructions**

Thanks for submitting your paper to JOSS @HajkD. The JOSS editor (shown at the top of

[2018-05-25 18:32] pjotrp commented on #744
@whedon assign @pjotrp as editor

[2018-05-25 18:32] whedon commented on #744
OK, the editor is @pjotrp

[2018-05-25 18:32] pjotrp commented on #744
@whedon assign @prasunanand as reviewer

[2018-05-25 18:32] whedon commented on #744
OK, the reviewer is @prasunanand

[2018-05-25 18:34] pjotrp commented on #744
@whedon start review magic-word=bananas

[2018-05-25 18:34] whedon opened #753 "[REVIEW]: opt_einsum: A tensor contraction order optimizer for NumPy"
**Submitting author:** @dgasmith (<a href="http://orcid.org/0000-0001-8626-0900">Daniel Smith</a>)
**Repository:** <a href="https://github.com/dgasmith/opt_einsum" target ="_blank">https://github.com/dgasmith/opt_einsum</a>
**Version:** v2.0.0
**Editor:** @pjotrp
**Reviewer:** @prasunanand
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/6913d6bc1f65a72d25377c4a8f3bdc9c/sta

[2018-05-25 18:34] whedon commented on #744
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/753. Feel free to close this issue now!

[2018-05-25 18:34] whedon commented on #753
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @prasunanand it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-05-25 18:34] whedon commented on #753
[code]

[2018-05-25 18:34] #744 closed

[2018-05-25 18:34] whedon commented on #753
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00753/joss.00753/10.21105.joss.00753.pdf)

[2018-05-25 18:36] pjotrp commented on #753
@dgasmith thanks for your submission! To expedite review, do you mind going through above check list to make sure we can tick all boxes? You can't tick them, just go through them.

[2018-05-25 18:38] pjotrp commented on #698
OK, no problem. As long as we know about it we don't worry.

[2018-05-25 22:06] moorepants commented on #742
@whedon generate pdf

[2018-05-25 22:06] whedon commented on #742
[code]

[2018-05-25 22:06] moorepants commented on #742
This is compiling fine now and ready for review. Thanks.

[2018-05-25 22:07] whedon commented on #742
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00742/joss.00742/10.21105.joss.00742.pdf)

[2018-05-26 05:48] rlizzo commented on #745
@brainstorm and @Kevin-Mattheus-Moerman, I have updated the documentation at your request. See changes in http://www.vmtk.org/doc/html/annotated.html.

[2018-05-26 06:38] brainstorm commented on #745
Fantastic, thanks! All thumbs up from my side, I just ticked the last box, thanks everyone.

[2018-05-26 07:08] rlizzo commented on #745
Thanks everyone! Archived the version with all the boxes checked on zendoo:

[![DOI](https://zenodo.org/badge/842163.svg)](https://zenodo.org/badge/latestdoi/842163)

[2018-05-26 11:04] HajkD commented on #752
@whedon generate pdf

[2018-05-26 11:04] whedon commented on #752
[code]

[2018-05-26 11:04] whedon commented on #752
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00752/joss.00752/10.21105.joss.00752.pdf)

[2018-05-26 11:38] HajkD commented on #752
@whedon add @kellieotto as reviewer

[2018-05-26 11:38] whedon commented on #752
I'm sorry @HajkD, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-05-26 11:40] HajkD commented on #752
Hi,

Many thanks for the managing the review process.

After going through the list of potential reviewers I would like to suggest @kellieotto and @sctyner as reviewers.

Kind regards,
Hajk

[2018-05-26 15:01] dgasmith commented on #753
@pjotrp Thanks, I believe I have them all except `Community guidelines` might be weak. Do you have examples of good repositories that do this? Would be interesting to do some sort of guidelines with [URSSI](http://urssi.us) or similar organizations.

[2018-05-26 16:08] arfon commented on #745
@whedon set 10.5281/zenodo.1253598 as archive

[2018-05-26 16:08] whedon commented on #745
OK. <a href="http://dx.doi.org/10.5281/zenodo.1253598" target="_blank">10.5281/zenodo.1253598</a> is the archive.

[2018-05-26 16:11] arfon commented on #745
@wouterpotters, @brainstorm - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@rlizzo - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00745 :zap: :rocket: :boom:

[2018-05-26 16:11] #745 closed

[2018-05-26 16:11] whedon commented on #745
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00745/status.svg)](https://doi.org/10.21105/joss.00745)

**We need your help!**

Journal of Open Source Software

[2018-05-26 18:43] Schuch666 commented on #662
Hi @nuest and @benmarwick, thanks for the suggestions, some corrections have already been made to the package and the suggestions in the article have already been incorporated.

@nuest I make some changes in the paper (and in the repository)

- added to the paper a reason to emission inventories being the scapegoat of air quality model input
- The package was tested for some cases in São Paulo and

[2018-05-27 05:18] juliohm commented on #741
Very good documentation @zhampel, I was able to reproduce all the examples, and follow the mathematical derivations.

A few comments to improve the project further:

### Conceptual
- It would be nice to compare `pyunfold` with other related packages for inverse problems in Python, or clarify in the documentation the unique features of the project.
- Additionally, it would be interesting to see exa

[2018-05-27 06:17] pjotrp commented on #753
Great @dgasmith. You can lift them from most papers in JOSS. It is not exactly a requirement, but a good to have. @prasunanand, we are ready for review!

[2018-05-27 07:08] methodds commented on #743
If you still need a reviewer, I'd be happy to do it :)

[2018-05-27 08:14] leeper commented on #743
@whedon add methodds as reviewer

[2018-05-27 08:14] whedon commented on #743
OK, methodds is now a reviewer

[2018-05-27 08:15] leeper commented on #743
@whedon remove methodds as reviewer

[2018-05-27 08:15] whedon commented on #743
OK, methodds is no longer a reviewer

[2018-05-27 08:16] leeper commented on #743
@whedon add @methodds as reviewer

[2018-05-27 08:16] whedon commented on #743
OK, @methodds is now a reviewer

[2018-05-27 08:16] leeper commented on #743
@whedon start review magic-word=bananas

[2018-05-27 08:16] whedon commented on #743
You didn't say the magic word! Try this:

[code]

[2018-05-27 08:18] leeper commented on #743
@whedon start review magic-word=bananas

[2018-05-27 08:18] whedon commented on #743
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/754. Feel free to close this issue now!

[2018-05-27 08:18] whedon opened #754 "[REVIEW]: sjmisc - Data and Variable Transformation Functions"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/strengejacke/sjmisc" target ="_blank">https://github.com/strengejacke/sjmisc</a>
**Version:** 2.7.2
**Editor:** @leeper
**Reviewer:** @jrosen48, @methodds
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1293370" target="_blank">10.5281/zenodo.1

[2018-05-27 08:18] whedon commented on #754
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jrosen48, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-05-27 08:18] whedon commented on #754
[code]

[2018-05-27 08:18] whedon commented on #754
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00754/joss.00754/10.21105.joss.00754.pdf)

[2018-05-27 08:20] leeper commented on #743
@jrosen48 and @methodds thanks for agreeing to review! You each have a review checklist to complete over at https://github.com/openjournals/joss-reviews/issues/754

Let me know if you have any questions.

[2018-05-27 08:20] #743 closed

[2018-05-27 16:07] jrbourbeau commented on #741
Thanks @juliohm for pointing this out and submitting a corresponding issue! I've updated the environment that is built to run the example notebooks on binder. `pyunfold` is now installed and the notebooks all work as expected.

ref: jrbourbeau/pyunfold#68

[2018-05-27 16:51] arokem commented on #729
@whedon set  10.5281/zenodo.1250175 as archive

[2018-05-27 16:51] whedon commented on #729
OK. <a href="http://dx.doi.org/10.5281/zenodo.1250175" target="_blank">10.5281/zenodo.1250175</a> is the archive.

[2018-05-27 16:53] arokem commented on #729
@arfon : I think this paper is ready to go!

[2018-05-27 18:32] Autoplectic commented on #738
Looks like we've got the thumbs!

[2018-05-27 20:06] jrbourbeau commented on #741
That's a good point. I added Mac OS tests for Python 3.6 in jrbourbeau/pyunfold#69.

I didn't want to double the number of jobs that are run on Travis by running both `linux` and `osx` tests for several different versions of Python. So instead I'm keeping the original jobs that run Python 2.7, 3.4, 3.5, and 3.6 on `linux` and have added a job for Python 3.6 on `osx`. This should catch if there is

[2018-05-27 20:17] juliohm commented on #741
Thank you @jrbourbeau for incorporating the changes. Is there a good reason to test on all 3.x versions of Python? Are they very different?

I will convert my previous comment into a set of tasks, and will mark the tasks you've already implemented as done. :heavy_check_mark:

[2018-05-27 20:33] jrbourbeau commented on #741
All of the existing code in PyUnfold should work just fine on all Python 3.x versions. Running the automated tests on different 3.x versions is more a preventative measure to make sure new contributions don't unexpectedly add something that isn't fully backwards compatible (e.g. Python 3.6 added a new [f-string formatting syntax](https://docs.python.org/3/reference/lexical_analysis.html#f-strings)

[2018-05-27 22:43] danielskatz commented on #711
👋 @lkosmid - it looks like the issues you brought up have been addressed

Please confirm, and please continue your review

[2018-05-27 23:50] kyleniemeyer commented on #717
Hey @jarvist @cfgoldsmith, just wanted to check in on the status of your reviews.

[2018-05-28 00:57] jrbourbeau commented on #741
@juliohm I've updated the [Custom Priors section](https://jrbourbeau.github.io/pyunfold/notebooks/user_prior.html#Custom-Priors) in the documentation in jrbourbeau/pyunfold#70 to address the points you brought up. Hopefully it is more clear now that any given `prior` array can be used, not just the built-in `uniform_prior` or `jeffreys_prior`. Please let me know if you think it needs any further c

[2018-05-28 09:06] leeper commented on #739
@lebebr01 Just a quick reminder about this review.

[2018-05-28 09:45] lkosmid commented on #711
@danielskatz - Indeed, thanks @federeghe
I continue with the review

[2018-05-28 13:30] jrosen48 commented on #754
@leeper if I have comments about, just for example because it's the first item I came upon that I think I may have a note for, the following item:

`Repository: Is the source code for this software available at the repository url?

Do you suggest I add them a) in a comment here below the checklist, b) as a note beside the checklist item, c) as an issue in the repository, d) a differeny way?

Thank

[2018-05-28 13:43] leeper commented on #754
@jrosen48 You can do either (a) open an issue on the source repo with a link back to this page, asking for changes, or (b) create a cumulative review that raises all issues not addressed in the checklist and leave it as a comment here, or a mix of both.

[2018-05-28 18:10] drew-williamson commented on #735
@mirzaevinom and I have made the edits requested by @jmbr and are now working on those requested by @Fil. A question for @arfon, though: how do we change the version of the package on JOSS?

[2018-05-29 01:54] arfon commented on #729
@NickleDave - many thanks for your review here and to @arokem for editing this one ✨

@sepandhaghighi - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00729 :zap: :rocket: :boom:

[2018-05-29 01:54] #729 closed

[2018-05-29 01:54] whedon commented on #729
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00729/status.svg)](https://doi.org/10.21105/joss.00729)

**We need your help!**

Journal of Open Source Software

[2018-05-29 01:55] arfon commented on #738
@Autoplectic - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-05-29 01:56] arfon commented on #735
@drew-williamson - I can change the version. What will the new version number be?

[2018-05-29 01:59] arfon commented on #487
I just emailed @nespinoza directly to remind them about this.

[2018-05-29 02:00] arfon commented on #651
@glemaitre, @clemaitre58 - can you both confirm that we're good to accept here?

[2018-05-29 04:43] glemaitre commented on #651
good on my side                                                                                                                                                                        Sent from my phone - sorry to be brief and potential misspell.

[2018-05-29 14:48] hjoliver commented on #737
@Chilipp @sarats - sorry for the delay, ready for review now as cylc-7.7.0.  I've updated the paper details on the cylc master branch; hopefully that flows through to the JOSS system here...

[2018-05-29 15:09] lheagy commented on #750
@whedon add @highendcompute as reviewer

[2018-05-29 15:12] lheagy commented on #750
@whedon add @highendcompute as reviewer

[2018-05-29 15:12] whedon commented on #750
OK, @highendcompute is now a reviewer

[2018-05-29 15:12] lheagy commented on #750
@whedon start review

[2018-05-29 15:12] whedon commented on #750
You didn't say the magic word! Try this:

[code]

[2018-05-29 15:12] lheagy commented on #750
@whedon start review magic-word=bananas

[2018-05-29 15:13] whedon opened #755 "[REVIEW]: PyBox: An automated box-model generator for atmospheric chemistry and aerosol simulations."
**Submitting author:** @loftytopping (<a href="http://orcid.org/0000-0001-8247-9649">David Topping</a>)
**Repository:** <a href="https://github.com/loftytopping/PyBox" target ="_blank">https://github.com/loftytopping/PyBox</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewer:** @dvalters, @highendcompute
**Archive:** <a href="https://doi.org/10.5281/zenodo.1345005" target="_blank">10.5281/zenodo

[2018-05-29 15:13] whedon commented on #750
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/755. Feel free to close this issue now!

[2018-05-29 15:13] #750 closed

[2018-05-29 15:14] lheagy commented on #755
:wave: Many thanks @dvalters and @highendcompute for being willing to review! In the main comment thread of this issue, there is a checklist for you both as you go through the review. Please don't hesitate to get in touch with any questions!

[2018-05-29 15:26] lmullen commented on #668
Two minor comments on the revisions to the JOSS paper.

"instead of searching the entire text of a document specific portions of the text": comma after document.

"a preprint will be posted here." I'm not sure from the context where "here" is.

Other than that I am fine with the revisions, which I have reviewed.

[2018-05-29 15:33] cfgoldsmith commented on #717
Thanks, Kyle. As we discussed earlier, I am not going to install the software, but will provide feedback on their objectives within the broader computational chemistry community. I don't see where to put that info. Also, since I'm not installing the software, would you prefer that I check the Funtionality boxes or leave them unchecked?

[2018-05-29 15:43] jarvist commented on #717
Successfully installed & am slowly working my way through its functionality. It's quite a broad package with multiple features, which really requires some 'live' electronic structure calculations to throw it against.

[2018-05-29 15:47] mesnardo commented on #558
@kyleniemeyer PetIBM version bumped to 0.3.1 and archived on Zenodo (10.5281/zenodo.1255132).

[2018-05-29 16:13] whedon opened #756 "[PRE REVIEW]: stacomiR : a common tool for monitoring fish migration"
**Submitting author:** @MarionLegrandLogrami (<a href="http://orcid.org/0000-0002-4688-8303">Marion Legrand</a>)
**Repository:** <a href="https://github.com/MarionLegrandLogrami/stacomiR" target ="_blank">https://github.com/MarionLegrandLogrami/stacomiR</a>
**Version:** 0.5.3.1
**Editor:** @arfon
**Reviewers:** @steffilazerte

**Author instructions**

Thanks for submitting your paper to JOSS @Mari

[2018-05-29 16:13] whedon commented on #756
PDF failed to compile for issue #756 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:78:in `check_fields': Paper YAML header is missing expected fields: tags (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon.rb:66:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125

[2018-05-29 17:26] whedon commented on #558
OK. <a href="http://dx.doi.org/10.5281/zenodo.1255132" target="_blank">10.5281/zenodo.1255132</a> is the archive.

[2018-05-29 17:28] kyleniemeyer commented on #717
@cfgoldsmith yes, that's fine. Aside from checking off items, you can give your feedback to @utf here directly. As for the functionality items, you can just check off if there is evidence of them.

[2018-05-29 17:28] kyleniemeyer commented on #717
@jarvist thanks for the update!

[2018-05-29 17:35] whedon commented on #558
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00558/status.svg)](https://doi.org/10.21105/joss.00558)

**We need your help!**

Journal of Open Source Software

[2018-05-29 17:38] mesnardo commented on #558
@jedbrown Thank you very much for your review!
@kyleniemeyer Thank you for editing this submission!

[2018-05-29 18:34] jrbourbeau commented on #741
@whedon generate pdf

[2018-05-29 18:34] whedon commented on #741
[code]

[2018-05-29 18:34] whedon commented on #741
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00741/joss.00741/10.21105.joss.00741.pdf)

[2018-05-29 19:59] Fil commented on #735
All clear from me!  ㊗️

[2018-05-29 21:32] Chilipp commented on #737
Hey @hjoliver thanks for your work on this! Unfortunately I am on vacation now for the next two weeks, but I am sure I can find the necessary time for the review next week on Tuesday or Wednesday.

[2018-05-29 21:39] Autoplectic commented on #738
doi: 10.5281/zenodo.1255350

[2018-05-29 21:58] jrbourbeau commented on #741
@juliohm we've added a ["Why PyUnfold?" ](https://jrbourbeau.github.io/pyunfold/why) page to the documentation that outlines the unique features of the project.

ref: jrbourbeau/pyunfold#71

[2018-05-29 22:24] sarats commented on #737
@hjoliver Could you point me to the current version of the paper?

Perhaps, you need to issue some commands to @whedon?
@whedon commands

[2018-05-29 23:08] hjoliver commented on #737
@whedon commands

[2018-05-29 23:08] whedon commented on #737
Here are some things you can ask me to do:

[code]

[2018-05-29 23:09] hjoliver commented on #737
@whedon generate pdf

[2018-05-29 23:09] whedon commented on #737
[code]

[2018-05-29 23:09] whedon commented on #737
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00737/joss.00737/10.21105.joss.00737.pdf)

[2018-05-29 23:12] hjoliver commented on #737
@sarats - the PDF proof has updated.

[2018-05-29 23:12] hjoliver commented on #737
@Chilipp - no worries, enjoy your vacation!

[2018-05-30 03:30] serine commented on #583
@pjotrp @andrewyatz Let me guys know if you need anything else from me.

Just to reiterate that best way to install is to use `conda install`. I actually shifted myself and now use `conda install` all the time, cause I tend to jump between diff machines.

Also just to let you know that `RNAsik` have moved since I submitted for review. I'm now up to `1.5.1` version and making `1.5.2` soonish.. ther

[2018-05-30 05:13] nhejazi commented on #748
Thanks all for setting everything up for this review. I've just had a chance to start the review process (and have begun checking off items in the above list). Generally speaking, everything looks good. I plan to go through the remaining items and complete an initial review by the end of this week.

[2018-05-30 07:45] MarionLegrandLogrami commented on #756
@whedon generate pdf

[2018-05-30 07:45] whedon commented on #756
[code]

[2018-05-30 07:45] whedon commented on #756
PDF failed to compile for issue #756 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0     65      0 --:--:-- --:--:-- --:--:--    66
pandoc-citeproc: C

[2018-05-30 08:10] MarionLegrandLogrami commented on #756
@whedon generate pdf

[2018-05-30 08:10] whedon commented on #756
[code]

[2018-05-30 08:10] whedon commented on #756
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00756/joss.00756/10.21105.joss.00756.pdf)

[2018-05-30 08:27] MarionLegrandLogrami commented on #756
@whedon generate pdf

[2018-05-30 08:27] whedon commented on #756
[code]

[2018-05-30 08:28] whedon commented on #756
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00756/joss.00756/10.21105.joss.00756.pdf)

[2018-05-30 08:37] MarionLegrandLogrami commented on #756
@whedon commands

[2018-05-30 08:37] whedon commented on #756
Here are some things you can ask me to do:

[code]

[2018-05-30 12:04] NickleDave commented on #729
Nice work @sepandhaghighi
Have you thought about sharing PyCM on the scikit-learn mailing list (scikit-learn@python.org )? I bet a lot of people there would be interested

[2018-05-30 14:57] edoddridge commented on #592
@kyleniemeyer @rabernat - any news on this?

[2018-05-30 15:45] lmullen commented on #668
👍

[2018-05-30 16:08] rabernat commented on #592
I will look it over later today.

Sent from my iPhone

[2018-05-30 17:33] kellieotto commented on #746
I've done a first review. The version and automated tests need attention. I'm leaving detailed feedback in the repository issues.

[2018-05-30 17:37] kellieotto commented on #752
I'd be glad to review. Looks like we're still waiting for an editor to be assigned.

[2018-05-30 17:49] andrewyatz commented on #583
Hi @pjotrp as the delay in my response suggests that I am no longer a good person to do this review. I am really sorry about this and apologise to Kirill and yourself about this. I appreciate the effort you have been spending on improving the process and feel conda is an excellent way to move in

[2018-05-30 17:54] whedon opened #757 "[PRE REVIEW]: rowan: A Python package for working with quaternions"
**Submitting author:** @vyasr (<a href="http://orcid.org/0000-0001-5181-9532">Vyas Ramasubramani</a>)
**Repository:** <a href="https://bitbucket.org/glotzer/rowan" target ="_blank">https://bitbucket.org/glotzer/rowan</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @pdebuyl, @CorySimon

**Author instructions**

Thanks for submitting your paper to JOSS @vyasr. The JOSS editor (shown at t

[2018-05-30 17:54] whedon commented on #757
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-05-30 17:54] whedon commented on #757
[code]

[2018-05-30 17:55] arfon commented on #757
:wave: @labarba - the submitting author suggested you as the handling editor.

[2018-05-30 17:55] whedon opened #758 "[PRE REVIEW]: 1D transport visualisation"
**Submitting author:** @eholzbe (<a href="http://orcid.org/0000-0002-1350-9223">Ekkehard Holzbecher</a>)
**Repository:** <a href="https://github.com/eholzbe/1D-transport-visualization" target ="_blank">https://github.com/eholzbe/1D-transport-visualization</a>
**Version:** 2.0
**Editor:** @lheagy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @eholzbe. The

[2018-05-30 17:55] whedon commented on #758
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-05-30 17:55] whedon commented on #758
[code]

[2018-05-30 17:55] whedon commented on #758
PDF failed to compile for issue #758 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/758/paper.md): mapping values are not allowed in this context at line 8 column 309 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vendor/ru

[2018-05-30 17:55] whedon commented on #757
PDF failed to compile for issue #757 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0     64      0 --:--:-- --:--:-- --:--:--    64
sh: 0: getcwd() fa

[2018-05-30 17:56] arfon commented on #758
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-05-30 17:57] whedon opened #759 "[PRE REVIEW]: Salabim: discrete event simulation and animation in Python"
**Submitting author:** @salabim (<a href="http://orcid.org/0000-0001-7696-8059">Ruud van der Ham</a>)
**Repository:** <a href="https://github.com/salabim/salabim" target ="_blank">https://github.com/salabim/salabim</a>
**Version:** 2.2.23
**Editor:** @danielskatz
**Reviewers:** @gonsie, pspringer, @pspringer

**Author instructions**

Thanks for submitting your paper to JOSS @salabim. The JOSS edit

[2018-05-30 17:57] whedon commented on #759
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-05-30 17:57] whedon commented on #759
[code]

[2018-05-30 17:57] whedon commented on #759
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00759/joss.00759/10.21105.joss.00759.pdf)

[2018-05-30 17:58] arfon commented on #738
@whedon set 10.5281/zenodo.1255350 as archive

[2018-05-30 17:58] whedon commented on #738
OK. <a href="http://dx.doi.org/10.5281/zenodo.1255350" target="_blank">10.5281/zenodo.1255350</a> is the archive.

[2018-05-30 18:04] arfon commented on #738
@Autoplectic - I get the following error when compiling the doc:

[code]
Can you check this reference? Is it missing in the bibtex or just cited incorrectly in the `paper.md`

[2018-05-30 18:38] leeper commented on #746
Excellent. Thank you, @kellieotto!

[2018-05-30 22:15] jrbourbeau commented on #741
@juliohm Indeed a bimodal observed distribution can be unfolded into a unimodal truth distribution. For example, in a similar fashion to the "Tutorial" notebook, one can have true, observed, and unfolded distributions as shown below.

![image](https://user-images.githubusercontent.com/11656932/40750330-8af0e36c-642c-11e8-81e3-43fa1326b81b.png)

I can add this as an additional example notebook to t

[2018-05-30 22:29] juliohm commented on #741
That is a very nice example, I think it tells a lot more about the generality of the method than the current example in the documentation, but it is up to you to decide what example is more telling for the audience you are targeting. =)

From a user's perspective, or maybe putting myself in the mind of someone that is probing different packages for inverse problems, I'd say that just knowing that

[2018-05-30 22:42] jrbourbeau commented on #741
That's a really good point. I'll discuss with @zhampel as to which example dataset would be more illuminating for the unfolding community.

[2018-05-30 22:47] jrbourbeau commented on #741
@juliohm Thanks so much for your detailed review of PyUnfold and useful review comments! I definitely think they helped improve the project

[2018-05-31 01:05] serine commented on #583
@andrewyatz no problem, thanks for all the feedback that you've provided so far.

@pjotrp hopefully someone else can help out?

Cheers

[2018-05-31 01:13] Kevin-Mattheus-Moerman commented on #726
@mlgill @rasbt thanks for your comments so far. I understand @rcurtin has been addressing some of your comments. Can you give an update as to where we stand? Thanks :rocket:

[2018-05-31 01:14] Kevin-Mattheus-Moerman commented on #726
@MikeInnes @rstolyarov can we expect feedback from your end shortly too? Thanks :robot:

[2018-05-31 01:18] Kevin-Mattheus-Moerman commented on #719
@mgalloy @leios thanks for your review!! :rocket: can you report on any remaining issues or advise on whether you deem this submission acceptable?
@leios the _Functionality documentation_ box is unticked. Can you summarize what you feel is missing?
Thanks

[2018-05-31 01:19] Kevin-Mattheus-Moerman commented on #718
@ashleefv how are you getting on? Can you respond to @sdelandtsheer 's comments? Thanks. :robot:

[2018-05-31 01:21] leios commented on #719
@Kevin-Mattheus-Moerman All my boxes are ticked and I think this submission is acceptable.

@mgalloy is still missing the *functionality documentation* box, though. I think they had trouble finding the documentation, so I tried to show them where it was. I don't know if they have looked at this thread since then.

[2018-05-31 01:21] Kevin-Mattheus-Moerman commented on #671
@fernandoandreotti can you review @hooman650 's reply to the issues you raised?

[2018-05-31 01:26] ashleefv commented on #718
I'm traveling through the end of the week and should be able to address
them over the weekend.

Ashlee N. Ford Versypt, Ph.D.
Assistant Professor, School of Chemical Engineering, Oklahoma State
University
Member, Harold Hamm Diabetes Center, University of Oklahoma Health Sciences
Center
420 Engineering North, OSU, Stillwater, OK 74078
Ph: 405-744-5280
ashleefv@okstate.edu
Ford Versypt Lab Website

[2018-05-31 02:11] Autoplectic commented on #738
Fixed. I updated the bib file to reference the published version of that paper, but didn't fix the ref in the paper.

[2018-05-31 06:33] mgalloy commented on #719
The documentation pointed out by @leios is a great explanation . I have checked off the *functionality documentation* and agree this submission is acceptable.

[2018-05-31 07:19] MarionLegrandLogrami commented on #756
@whedon start review

[2018-05-31 07:19] whedon commented on #756
I'm sorry @MarionLegrandLogrami, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-05-31 09:58] arfon commented on #738
@kczimm, @stsievert - many thanks for your reviews here ✨

@Autoplectic - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00738 :zap: :rocket: :boom:

[2018-05-31 09:58] #738 closed

[2018-05-31 09:58] whedon commented on #738
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00738/status.svg)](https://doi.org/10.21105/joss.00738)

**We need your help!**

Journal of Open Source Software

[2018-05-31 13:28] Kevin-Mattheus-Moerman commented on #719
@whedon generate pdf

[2018-05-31 13:28] whedon commented on #719
[code]

[2018-05-31 13:28] whedon commented on #719
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00719/joss.00719/10.21105.joss.00719.pdf)

[2018-05-31 13:45] Kevin-Mattheus-Moerman commented on #719
@siravan looks like we are nearly there. I suggest a minor change to the first sentence in your paper. Instead of `on the top of the` consider saying `on top of the`. If you agree with this make the change and render a new pdf here using `@whedon generate pdf`.
Once you are done with that step please archive a copy of the **reviewed software** using a service like [Zenodo](http://zenodo.org/) ([se

[2018-05-31 13:46] Kevin-Mattheus-Moerman commented on #719
@leios @mgalloy thanks for the excellent and smooth review process! :tada: :rocket: :robot:

[2018-05-31 13:48] zhampel commented on #741
@juliohm so we've used the method on power law spectra in publications, so @jrbourbeau and I can cook up an example from simulation for example that demonstrates a non-gaussian data set. We just have to decide how to make our fake data without violating our collaborations's respective public release agreements ;)

[2018-05-31 13:52] zhampel commented on #741
@juliohm we've used the method successfully on power law spectra unfoldings for publications, so @jrbourbeau and I can cook up such an example in addition to our canonical examples. We just have to make sure we don't violate any public release agreements from our respective collaborations ;)

[2018-05-31 14:58] zhampel commented on #741
Testing: @whedon Who's your favorite Buffy character?

[2018-05-31 15:21] MikeInnes commented on #726
I've checked off what I can verify, and things look generally good, but I haven't tried to run things locally yet. Are there build instructions оr binaries for OS X, or is this a Linux-only project?

[2018-05-31 15:27] rcurtin commented on #726
Builds fine on OS X.  An old version of mlpack (2.2.5) is available via Homebrew, but it's not too hard to build---should be just `cmake ../ && make && make install` basically; see http://mlpack.org/docs/mlpack-3.0.1/doxygen/build.html.  The Linux build instructions should also work fine for OS X.

[2018-05-31 15:48] benjaminrose commented on #741
This is a great project. @juliohm's thank you for your great comments. A have a few of my own to add.

# Docs - Tutorial

- [ ] Binder is a great tool for this! Thanks for using it. Also, maybe add a line about needing to install `matplotlib`  if you want to follow this tutorial on your own.
- [ ] Can you point out the cause for "We can see how the structure of the 2-d response histogram differs f

[2018-05-31 15:57] jrbourbeau commented on #741
Thanks for your review @benjaminrose! I'll get started on addressing your comments and link back to this review in the relevant PRs.

[2018-05-31 16:35] nespinoza commented on #487
Dear @j-faria,

 First of all, I apologize for taking so long in submitting my review; a lot has happened in the past few months and finding time to throughly go through the code and documentation was very hard. However, after running the examples, going through the documentation and most of the code, I can now (at last!) write my review.

 First of all, congratulations on putting this software to

[2018-05-31 20:21] vsoch commented on #713
hey @arfon @katyhuff @jakevdp this is almost a month old... ping!

[2018-05-31 21:59] jrbourbeau commented on #741
@benjaminrose At this point I think I've addressed your comments related to the tutorial notebook, API documentation, and contributing guide. Please let me know if further clarification / changes are needed to these sections of the documentation.

Also, thanks for the link to the "How to write the perfect pull request" article! There's a bunch of really good stuff in there.

[2018-05-31 22:01] jrbourbeau commented on #741
@benjaminrose Just to clarify, are you recommending we include the content from the "What is unfolding?" documentation in the paper?

[2018-06-01 01:17] siravan commented on #719
Thanks a lot for all the help and comments. The paper.md is edited and the repository is archived by Zenodo. DOI is
 [![DOI](https://zenodo.org/badge/111343472.svg)](https://zenodo.org/badge/latestdoi/111343472)

[2018-06-01 01:26] ryneches commented on #678
Anything else?

[2018-06-01 01:55] jrbourbeau commented on #741
@whedon generate pdf

[2018-06-01 01:55] whedon commented on #741
[code]

[2018-06-01 01:55] whedon commented on #741
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00741/joss.00741/10.21105.joss.00741.pdf)

[2018-06-01 02:58] Kevin-Mattheus-Moerman commented on #719
@whedon generate pdf

[2018-06-01 02:59] whedon commented on #719
[code]

[2018-06-01 02:59] whedon commented on #719
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00719/joss.00719/10.21105.joss.00719.pdf)

[2018-06-01 03:17] Kevin-Mattheus-Moerman commented on #719
Great. Thanks @siravan. @arfon we are all set to accept here.

[2018-06-01 03:49] rasbt commented on #726
@Kevin-Mattheus-Moerman

I am still in the process of running the software on examples (testing the functionality) but I should be able to wrap this review up on/shortly after the weekend

[2018-06-01 06:40] nhejazi commented on #748
As this review progresses, I will be opening issues for any major comments and just a single issue for various minor suggestions (so as not to pollute the issue queue of the package). @mikldk, please feel free to let me know in each of the issues if you have any questions about this. Currently, the only thing outstanding in this review is the addition of DOIs to references in the file `paper.bib`

[2018-06-01 07:46] mikldk commented on #748
Thanks, @nhejazi . I have addressed your issues and good suggestions in the issues you have opened. If you find more, please just open additional issues.

[2018-06-01 09:19] Aneoshun commented on #545
Dear @dfm and @arfon,

Thank you very much for your comments and your patience. We have addressed all of them and we believe that we made the documentation better.

You can see the changes that we made in this pull request: https://github.com/resibots/limbo/pull/257.  Please, also find bellow our response to your comments:

Installation:
* Overall, installation isn't too bad and the required depen

[2018-06-01 10:56] arfon commented on #719
@whedon set 10.5281/zenodo.1256950 as archive

[2018-06-01 10:56] whedon commented on #719
OK. <a href="http://dx.doi.org/10.5281/zenodo.1256950" target="_blank">10.5281/zenodo.1256950</a> is the archive.

[2018-06-01 11:00] arfon commented on #719
@mgalloy, @leios - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@siravan - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00719 :zap: :rocket: :boom:

[2018-06-01 11:00] #719 closed

[2018-06-01 11:00] whedon commented on #719
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00719/status.svg)](https://doi.org/10.21105/joss.00719)

**We need your help!**

Journal of Open Source Software

[2018-06-01 14:45] benjaminrose commented on #741
@jrbourbeau, I think the "What is unfolding?" is your strongest statement of need. The paper is fine, but I feel like you have a better argument somewhere else. Having the best argument in the docs is helpful since most people will read that and not the paper. If you see a simple way to add it, and you want to, I think it would make the paper better.

[2018-06-01 14:48] benjaminrose commented on #741
The other changes look great @jrbourbeau. But I missed the API docs for the `teststat` class.   The abbreviations that are the not fully that I was talking about were in describing the `ts` parameter for `iterative_unfold()`. I would just add a "more info" link to https://jrbourbeau.github.io/pyunfold/api.html#test-statistics at the end of that parameter's description.

[2018-06-01 14:54] jrbourbeau commented on #741
Gotcha, I misunderstood your comment. Thanks for noticing that! I'll update the `iterative_unfold` docstring accordingly

[2018-06-01 16:32] jrbourbeau commented on #741
@benjaminrose I updated the `ts` parameter description with a link to the test statistics section in the API docs

[2018-06-01 16:44] jrbourbeau commented on #741
@juliohm just as an FYI the "Performance" checkbox under the "Functionality" section for your review checklist is unchecked. If there's anything else that needs to be done on my end, just let me know. Thanks!

[2018-06-01 16:46] pjotrp commented on #583
Alright, let's look for someone who can run this pipeline, so we can wrap up review.

[2018-06-01 17:29] juliohm commented on #741
@jrbourbeau I don't recall reading in the docs statements about performance? Please let me know if they exist somewhere. The checkbox should only be marked in case the software claims states explicitly that it is "high-performance" or faster than alternatives.

[2018-06-01 17:54] benjaminrose commented on #741
@lheagy, I think  @zhampel  and @jrbourbeau have a great project here and I fully endorse their paper for publication in JOSS.

[2018-06-01 18:19] lkosmid commented on #711
In general the short paper seems adequate. It motivates the need for Measurement Based Probabilistic Timing Analysis and in particular the need for an open source tool to compute pWCETs. However, I think that some important references are missing as well as the implementation of some of hte a state-of-the-art MBPTA features.

You can find more details comments here: https://github.com/federeghe/ch

[2018-06-01 18:45] jrbourbeau commented on #741
@benjaminrose I agree, that's a really good point. I've added the content from the "What is unfolding?" docs to the beginning of the paper. I think it helps clarify the problem we're addressing with PyUnfold without messes with the overall flow of the paper. Thanks for the feedback!

ref: jrbourbeau/pyunfold#83

[2018-06-01 18:46] jrbourbeau commented on #741
@whedon generate pdf

[2018-06-01 18:46] whedon commented on #741
[code]

[2018-06-01 18:46] whedon commented on #741
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00741/joss.00741/10.21105.joss.00741.pdf)

[2018-06-01 18:53] jrbourbeau commented on #741
@juliohm You're correct, we don't make any statements about the performance in the docs. However, I interpreted the "If there are no claims, please check off this item" sentence to mean that since we make no performance claims, then the performance checkbox should be marked as done. I could definitely be misinterpreting that though.

[2018-06-01 19:19] juliohm commented on #741
Oh maybe it is a language issue, I am not a native speaker. When I read "Check off" I interpret it as "Do not mark the box", it is probably the opposite?

[2018-06-01 19:26] jrbourbeau commented on #741
I took "check off" to mean "mark the box". Perhaps @lheagy can clarify this point for us.

[2018-06-01 20:59] federeghe commented on #711
@lkosmid Thank you for the detailed review. We'll work on that.

[2018-06-02 03:01] rasbt commented on #726
To provide a more concrete heads-up (and a reference for me to stay on track): The installation eventually went smoothly and the software works as expected.

I was able to check off most of the things. The remaining items are

- Version number: I assume we should wait until the other reviewers finished the technical review in case there will be additional changes requested
-  Installation: just tw

[2018-06-02 05:26] nhejazi commented on #748
Thanks for making these changes. Everything looks good to me --- I can now recommend accepting this manuscript and code for publication. @mikldk I think the only thing remaining is for you to generate a new Zenodo archive DOI for the changes reflected in the most recent commits to your R package. Once that's done, I think either @arfon or I can finish accepting using the new DOI.

[2018-06-02 05:55] mikldk commented on #748
Thanks @nhejazi. What is the recommended practise - to make a 1.7.1/1.8 release and update version in JOSS, right? Since 1.7 is already on CRAN it would be misleading to reuse this version for the updated package.

[2018-06-02 06:29] nhejazi commented on #748
I think that since there have been a few minor changes made to the package as part of this review, it would make sense to bump the version number --- exactly how you do that is up to you, but I would personally recommend v1.7.1, and save v1.8.0 for the next time a CRAN release is done. Once the version has been bumped, you can tag that commit / create a GitHub release, assign it a new DOI through

[2018-06-02 06:47] pjotrp commented on #748
Thanks @nhejazi for your solid review. I agree, we should publish the latest. Update the DOI and we are good to go.

[2018-06-02 07:12] mikldk commented on #748
Thanks, @nhejazi and @pjotrp . Version bump to 1.7.1 happened in mikldk/disclapmix@d3ff9c2e4e2bcd9f93921066543a3c1543c9d1cf and gave release https://github.com/mikldk/disclapmix/releases/tag/1.7.1 which resulted in DOI: 10.5281/zenodo.1257887 (<https://doi.org/10.5281/zenodo.1257887>)

[2018-06-02 13:05] pjotrp commented on #748
@whedon commands

[2018-06-02 13:05] whedon commented on #748
Here are some things you can ask me to do:

[code]

[2018-06-02 13:05] pjotrp commented on #748
@whedon generate pdf

[2018-06-02 13:05] whedon commented on #748
[code]

[2018-06-02 13:05] whedon commented on #748
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00748/joss.00748/10.21105.joss.00748.pdf)

[2018-06-02 13:10] pjotrp commented on #748
@arfon looks like we are ready to publish. The release number at the top of the issue tracker should be 1.7.1 instead of 1.7.

[2018-06-02 15:22] leeper commented on #746
@kdpeterson51 Please address the issues raised in the review and then let me know once your updates are ready. I'll then take a look and decide if further review is needed.

[2018-06-03 16:46] lheagy commented on #741
Hi @juliohm and @jrbourbeau: sorry for the confusion (and I appreciate knowing that this is a potential point of confusion for non-native speakers). By "check off", we do mean that you can "mark the box" if there are no claims made.

[2018-06-03 16:50] lheagy commented on #758
Hi @eholzbe - thanks for your submission to JOSS. Unfortunately this package doesn't meet our [submission criteria](http://joss.theoj.org/about#submission_requirements). In particular, on this criteria:

The editorial team have decided that this submission falls under the 'minor utility' criteria and is therefore not acceptable to JOSS.

[2018-06-03 16:50] #758 closed

[2018-06-03 16:51] juliohm commented on #741
Thank you @lheagy, checking it off :ok_hand:

[2018-06-03 16:59] jrbourbeau commented on #741
Thanks for such a quick reply @juliohm!

[2018-06-03 17:07] jrbourbeau commented on #741
@lheagy at this point both the reviewers have approved the paper / project for publication in JOSS. Are there any additional steps I need to take in order to move forward with publication? Thanks!

[2018-06-03 17:07] lheagy commented on #741
Excellent! Thank you @juliohm and @benjaminrose for your review!!

@zhampel and @jrbourbeau at this point, could you please archive your software on [zenodo](https://zenodo.org/) or similar and post the doi here?

[2018-06-03 17:49] moorepants commented on #742
Are there any status updates on finding reviewers? Here are our consolidated suggestions:

- Prof Chris Brown, Worcester Poly, brown@wpi.edu
- Dr. Martin Mossner, University of Innsbruck, martin.moessner@uibk.ac.at
- trallard t.allard@sheffield.ac.uk (from JOSS list with biomechanics keyword)
- CELavecchia lavecchia.carolina@gmail.com (from JOSS list with biomechanics keyword)

[2018-06-03 19:15] kwwette commented on #707
@whedon generate pdf

[2018-06-03 19:15] whedon commented on #707
[code]

[2018-06-03 19:15] whedon commented on #707
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00707/joss.00707/10.21105.joss.00707.pdf)

[2018-06-03 19:34] zhampel commented on #741
@lheagy: @jrbourbeau has archived on zenodo with [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1258211.svg)](https://doi.org/10.5281/zenodo.1258211)

[2018-06-03 19:41] kwwette commented on #707
@stevenrbrandt @danielskatz Apologies for the delay. I have now added a tutorials section to the OctApps reference manual: see https://octapps.github.io/Tutorials.html. There are tutorials on two general-purpose features of OctApps, and several tutorials on the more research-specific functions which illustrate OctApps's usage in answering research questions in continuous gravitational-wave researc

[2018-06-03 19:43] kwwette commented on #707
@danielskatz @arfon I have a question regarding JOSS copyright policy: does JOSS permit the final PDF version of journal articles to be cross-posted to arXiv (https://arxiv.org/)? Thanks!

[2018-06-03 20:14] lheagy commented on #741
Thanks @zhampel: quick question for you - it looks like the version you archived is v0.4. This is the version we should list with the publication?

[2018-06-03 20:20] zhampel commented on #741
Yes, I think so, is that correct @jrbourbeau ? I know originally when we submitted we listed as v0.3

[2018-06-03 22:00] danielskatz commented on #707
@stevenrbrandt - back to you

[2018-06-03 22:01] danielskatz commented on #707
@kwwette - yes, the paper is CC-BY licensed by you, so you can do whatever else you want with it.

[2018-06-03 22:03] lheagy commented on #741
👋 Hi @arfon: This submission is ready to be published!

[2018-06-03 23:26] kdpeterson51 commented on #746
Thank you for your patience, @leeper. One of the two issues raised by @kellieotto has been [addressed](https://github.com/kdpeterson51/mbir/issues/3).

To address the second, I am currently in progress of pairing up Travis CI and will update you immediately  upon successful integration.

[2018-06-04 00:19] whedon opened #760 "[PRE REVIEW]: quanteda: An R package for the quantitative analysis of textual data"
**Submitting author:** @kbenoit (<a href="http://orcid.org/0000-0002-0797-564X">Kenneth Benoit</a>)
**Repository:** <a href="https://github.com/quanteda/quanteda" target ="_blank">https://github.com/quanteda/quanteda</a>
**Version:** v1.3
**Editor:** @arfon
**Reviewers:** @lmullen, @borishejblum, @alexgarciac

**Author instructions**

Thanks for submitting your paper to JOSS @kbenoit. The JOSS edi

[2018-06-04 00:19] whedon opened #761 "[PRE REVIEW]: Nashpy: A Python library for the computation of Nash equilibria"
**Submitting author:** @drvinceknight (<a href="http://orcid.org/0000-0002-4245-0638">Vincent Knight</a>)
**Repository:** <a href="https://github.com/drvinceknight/Nashpy" target ="_blank">https://github.com/drvinceknight/Nashpy</a>
**Version:** v0.0.14
**Editor:** @labarba
**Reviewers:** @Fil, @alex-konovalov

**Author instructions**

Thanks for submitting your paper to JOSS @drvinceknight. The J

[2018-06-04 00:19] whedon opened #762 "[PRE REVIEW]: ShinySSD: Species Sensitivity Distributions for Ecotoxicological Risk Assessment"
**Submitting author:** @flor14 (<a href="http://orcid.org/0000-0002-0041-097X">María Florencia D&#39;Andrea</a>)
**Repository:** <a href="https://github.com/flor14/paper" target ="_blank">https://github.com/flor14/paper</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewers:** @kylehamilton

**Author instructions**

Thanks for submitting your paper to JOSS @flor14. The JOSS editor (shown at the

[2018-06-04 00:19] whedon opened #763 "[PRE REVIEW]: General binary file parser."
**Submitting author:** @jfjlaros (<a href="http://orcid.org/0000-0002-8715-7371">J.F.J. Laros</a>)
**Repository:** <a href="https://github.com/jfjlaros/bin-parser" target ="_blank">https://github.com/jfjlaros/bin-parser</a>
**Version:** 0.0.20
**Editor:** @danielskatz
**Reviewers:** @hainesr, @Smattr

**Author instructions**

Thanks for submitting your paper to JOSS @jfjlaros. The JOSS editor (sho

[2018-06-04 00:47] flor14 commented on #762
Hello.
About the reviewers:
aj2duncan could be a possible reviewer as he mentions experience with rmarkdown and shiny.
Also jhollist interests are related to my field of work.

[2018-06-04 02:30] mlgill commented on #726
@Kevin-Mattheus-Moerman

I am still in the process of getting the Python bindings installed. From some of @rasbt's comments on the repo issues, it seems I am not the only one. I will have to work on it later this week.

@rcurtin Thanks for updating the DOIs. Can you rebuild the PDF so I can look at that directly? Thanks.

[2018-06-04 08:07] leeper commented on #760
@arfon Given @kenbenoit and I are at the same institution, I believe I can't edit this according to our rules. Perhaps @karthik can manage?

[2018-06-04 10:00] karthik commented on #760
I believe I  also have a COI with Ken.

[2018-06-04 10:42] Kevin-Mattheus-Moerman commented on #726
@whedon generate pdf

[2018-06-04 10:42] whedon commented on #726
[code]

[2018-06-04 10:43] whedon commented on #726
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00726/joss.00726/10.21105.joss.00726.pdf)

[2018-06-04 13:12] arfon commented on #748
@whedon set 10.5281/zenodo.1257887 as archive

[2018-06-04 13:12] whedon commented on #748
OK. <a href="http://dx.doi.org/10.5281/zenodo.1257887" target="_blank">10.5281/zenodo.1257887</a> is the archive.

[2018-06-04 13:20] danielskatz commented on #763
Hi @jfjlaros

1 - There's an error compiling your paper.md file which seems to be that there is no bibliography file included.  You need to add a bibliography to the directory that contains paper.md (docs in this case.)

2 - Can you suggest some potential reviewers, perhaps from [this list of people](https://bit.ly/joss-reviewers) who have already agreed to review for JOSS and may be suitable for

[2018-06-04 14:07] arfon commented on #741
@juliohm, @benjaminrose - many thanks for your reviews here and to @lheagy for editing this submission ✨

@zhampel - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00741 :zap: :rocket: :boom:

[2018-06-04 14:07] #741 closed

[2018-06-04 14:07] whedon commented on #741
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00741/status.svg)](https://doi.org/10.21105/joss.00741)

**We need your help!**

Journal of Open Source Software

[2018-06-04 14:11] arfon commented on #760
OK, I'll take this one.

[2018-06-04 14:11] arfon commented on #760
@whedon assign @arfon as editor

[2018-06-04 14:11] whedon commented on #760
OK, the editor is @arfon

[2018-06-04 14:12] arfon commented on #760
:wave: @kenbenoit - can you take a look the list of JOSS reviewers https://bit.ly/joss-reviewers and suggest a few potential reviewers?

[2018-06-04 14:43] kbenoit commented on #760
Will do very shortly - but I failed to see the notifications because my GitHub name is listed wrongly - it's actually @kbenoit.

[2018-06-04 14:48] zhampel commented on #741
Thank you so much @lheagy @juliohm @benjaminrose for your thorough and speedy review! 🎉 We look forward to further contributions to JOSS.

[2018-06-04 15:00] arfon commented on #693
:wave: @jedbrown - would you be willing to edit this submission for JOSS?

[2018-06-04 15:26] kbenoit commented on #760
@whedon commands

[2018-06-04 15:26] whedon commented on #760
Here are some things you can ask me to do:

[code]

[2018-06-04 15:28] kbenoit commented on #760
@whedon assign @juliasilge as reviewer
@whedon assign @bstewart as reviewer

[2018-06-04 15:28] whedon commented on #760
I'm sorry @kbenoit, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-06-04 15:29] kbenoit commented on #760
OK @whedon then please accept those as my referee recommendations. Another possibility would be @matthewjdenny.

[2018-06-04 16:22] stevenrbrandt commented on #707
OK, I think things look good now. @danielskatz shall I close this issue?

[2018-06-04 16:43] jedbrown commented on #704
@arfon I can take this one.

[2018-06-04 16:45] leeper commented on #683
@whedon assign @leeper as editor

[2018-06-04 16:45] whedon commented on #683
OK, the editor is @leeper

[2018-06-04 16:45] leeper commented on #683
@whedon generate pdf

[2018-06-04 16:46] whedon commented on #683
[code]

[2018-06-04 16:46] whedon commented on #683
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00683/joss.00683/10.21105.joss.00683.pdf)

[2018-06-04 16:49] leeper commented on #683
@kbenoit Would you be willing to review this submission for JOSS?

[2018-06-04 17:02] jedbrown commented on #693
I can take it.

@wandreopoulos It looks like your list formatting is missing some newlines to make it format as a list instead of as prose. Here is a recently-accepted example with a list that formats correctly. https://github.com/jrbourbeau/pyunfold/blob/master/docs/joss_paper/paper.md

Please also consider addressing [community guidelines](http://joss.theoj.org/about#author_guidelines) and examp

[2018-06-04 17:05] kbenoit commented on #683
Sure

[2018-06-04 17:21] danielskatz commented on #707
when you both are satisfied, please let me know (but don't close the issue)

[2018-06-04 17:33] leeper commented on #683
@whedon add @kbenoit as reviewer

[2018-06-04 17:33] whedon commented on #683
OK, @kbenoit is now a reviewer

[2018-06-04 17:35] leeper commented on #683
@whedon start review magic-word=bananas

[2018-06-04 17:35] whedon opened #764 "[REVIEW]: Sentiment Analysis of Twitter Data (SAoTD)"
**Submitting author:** @evan-l-munson (<a href="http://orcid.org/0000-0002-9958-6800">Evan Munson</a>)
**Repository:** <a href="https://github.com/evan-l-munson/SAoTD" target ="_blank">https://github.com/evan-l-munson/SAoTD</a>
**Version:** 0.2.0
**Editor:** @arfon
**Reviewer:** @kbenoit
**Archive:** <a href="https://doi.org/10.5281/zenodo.2578973" target="_blank">10.5281/zenodo.2578973</a>

## St

[2018-06-04 17:35] whedon commented on #683
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/764. Feel free to close this issue now!

[2018-06-04 17:35] whedon commented on #764
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kbenoit it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-06-04 17:35] whedon commented on #764
[code]

[2018-06-04 17:35] whedon commented on #764
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00764/joss.00764/10.21105.joss.00764.pdf)

[2018-06-04 17:35] leeper commented on #683
@kbenoit Excellent. Thanks! The review ticket is open:  #764

[2018-06-04 17:35] #683 closed

[2018-06-04 18:46] danielskatz commented on #759
@whedon assign @danielskatz as editor

[2018-06-04 18:46] whedon commented on #759
OK, the editor is @danielskatz

[2018-06-04 18:49] danielskatz commented on #759
@salabim - do you have any suggestions for reviewers?  Perhaps from [this list of people](https://bit.ly/joss-reviewers) who have already agreed to review for JOSS and may be suitable for this submission?

[2018-06-04 18:56] rcurtin commented on #726
Thanks reviewers for your attention to detail.  We've done our best to make the build and installation process as easy as possible, but there is always some level of trickiness at the border of C++ and Python (and I'm sure it will get worse as we add other languages...).

We'll merge mlpack#1421 soon and this should fix the rest of the open issues.

[2018-06-04 19:57] salabim commented on #759
gonsie ( gonsiorowski1@llnl.gov) has indicated to have discrete event
simulation as his domain/topic for review.

Ruud van der Ham
*rt.van.der.ham@gmail.com <rt.van.der.ham@gmail.com>*

On 4 June 2018 at 20:49, Daniel S. Katz <notifications@github.com> wrote:

[2018-06-04 20:53] danielskatz commented on #759
@gonsie - would you be willing to be a reviewer for this submission?

[2018-06-04 20:59] gonsie commented on #759
Yes, I will review this submission.

[2018-06-04 21:04] danielskatz commented on #759
thanks!

I'm also contacting one more person by email, and I would ideally like to get 2 reviewers, since I don't know this area well.  I'll let you know when the review is ready to start

[2018-06-04 22:29] arfon commented on #704
Great, thanks!

Feel free to assign yourself with `@whedon assign @jedbrown as editor`

[2018-06-05 01:09] Kevin-Mattheus-Moerman commented on #670
@llllllllll are you still able to help with the review process? Thanks

[2018-06-05 01:14] llllllllll commented on #670
Sorry about that, thanks for the remindrs though. I can begin reviewing this week.

[2018-06-05 02:12] arfon commented on #693
Usually yes. Although @whedon's automation relies upon this URL being cloneable.

[2018-06-05 03:08] jedbrown commented on #693
@whedon assign @jedbrown as editor

[2018-06-05 03:08] whedon commented on #693
OK, the editor is @jedbrown

[2018-06-05 03:09] jedbrown commented on #704
@whedon assign @jedbrown as editor

[2018-06-05 03:09] whedon commented on #704
OK, the editor is @jedbrown

[2018-06-05 03:39] Schuch666 commented on #662
Hi @nuest , @benmarwick and @arfon

I have some news: EmissV was accepted on [CRAN](https://cran.r-project.org/web/packages/EmissV/).

The paper was revised:
 - added more detailed description of the problem and the package
 - the example was slightly reformulated (the dmsp_hi-res.tiff was added to the repository and example)
 - added references
 - grammatical and orthographic corrections

When yo

[2018-06-05 06:15] kbenoit commented on #760
From the list, I suggest @lmullen or @zfurnas. I can provide other suggestions but they are not from the list.

[2018-06-05 08:43] jfjlaros commented on #763
Dear @danielskatz

Thank you for pointing this out. I have added a bibliography for the essential dependencies.

As for reviewers, I think hainesr (standards / protocols), smattr (compilers) and Funnelfiasco (CLI tools) may be interested.

[2018-06-05 10:57] Chilipp commented on #737
Hey @hjoliver ! Here are the first points concerning the *General checks*:

- The license file:

  You state in the [README](https://github.com/cylc/cylc/blob/master/README.md)

  and

  but I could not find the LICENSE file in the repository.
- The version:

  No, it's 7.7.0 now. So I am not sure, how to handle this (pinging @arfon)

[2018-06-05 11:48] danielskatz commented on #763
@whedon commands

[2018-06-05 11:48] whedon commented on #763
Here are some things you can ask me to do:

[code]

[2018-06-05 11:48] danielskatz commented on #763
@whedon generate pdf

[2018-06-05 11:48] whedon commented on #763
[code]

[2018-06-05 11:49] whedon commented on #763
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00763/joss.00763/10.21105.joss.00763.pdf)

[2018-06-05 11:55] danielskatz commented on #763
@jfjlaros - Please merge https://github.com/jfjlaros/bin-parser/pull/7 to fix the remaining bib issues

[2018-06-05 11:55] danielskatz commented on #763
@hainesr , @smattr, @Funnelfiasco - would one of you be willing to review this JOSS submission?

[2018-06-05 14:43] jfjlaros commented on #763
@danielskatz - Your fixes were merged and I fixed one additional capitalisation issue. Thank you.

[2018-06-05 16:28] danielskatz commented on #763
@whedon generate pdf

[2018-06-05 16:28] whedon commented on #763
[code]

[2018-06-05 16:28] whedon commented on #763
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00763/joss.00763/10.21105.joss.00763.pdf)

[2018-06-05 16:29] danielskatz commented on #763
ok, looks good - now we just need to find a reviewer...

[2018-06-05 17:04] Chilipp commented on #737
Hey @hjoliver , I tried your [Workflow example](https://cylc.github.io/cylc/documentation.html#a-cycling-workflow-example) and it works well (including installation) until I try to run the job. Then it stays in the *submitted* state for the first job.

![image](https://user-images.githubusercontent.com/9960249/40990821-45adf0a4-68f2-11e8-9c3b-8a3e60bb86a0.png)

I have to say, I tested it on my lap

[2018-06-05 20:12] hainesr commented on #763
Hi @danielskatz, I'm happy to have a look at this.

[2018-06-05 20:12] jedbrown commented on #704
@whedon assign @dmdu as reviewer

[2018-06-05 20:12] whedon commented on #704
OK, the reviewer is @dmdu

[2018-06-05 22:01] gregreen commented on #695
@jegpeek Any progress on the review?

[2018-06-05 22:05] jegpeek commented on #695
Yep — been traveling with crappy wifi so hard to kick all the tires. Will do!

[2018-06-05 22:06] jegpeek commented on #695
I know this is classic referee garbage but... what do you think of adding Peek & Graves 2010?

[2018-06-05 22:31] kwwette commented on #707
@danielskatz - I have now made the minor changes to the paper, and am happy to move forward with the publication process. I have also made a v0.2 release of OctApps, in light of the changes that have been made during this review - if possible it would be good to use that version number (v0.2) for the JOSS paper.

@stevenrbrandt - Back to you to confirm your sign-off. Thanks again!

[2018-06-05 22:33] hjoliver commented on #737
@Chilipp - yes, cylc can manage background jobs, even on remote hosts.  I'll respond regarding OSX at https://github.com/cylc/cylc/issues/2689

[2018-06-05 23:15] gregreen commented on #695
I would be happy to do so. I can't access http://peekandgraves2010.com/ though. Is there a newer link to the data? Better yet, is the data stored in some semi-permanent archive (like the Harvard Dataverse)? I write a `fetch()` function for each dust map, so having a stable URL is best.

[2018-06-06 00:31] Smattr commented on #763
I'm OK to review as well. I don't have a strong JS background, but I'm solid on Python and reverse engineering. Were you planning to pick just one or did you want multiple reviewers?

[2018-06-06 04:59] kwwette commented on #707
@danielskatz - I've also created an archive on Zenodo for version 0.2, the DOI is 10.5281/zenodo.1283525
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1283525.svg)](https://doi.org/10.5281/zenodo.1283525)

[2018-06-06 10:27] leeper commented on #752
@whedon assign @leeper as editor

[2018-06-06 10:28] leeper commented on #752
@whedon commands

[2018-06-06 10:33] leeper commented on #752
@arfon it appears @whedon has become unresponsive.

[2018-06-06 10:47] whedon commented on #752
OK, the editor is @leeper

[2018-06-06 10:48] leeper commented on #752
@whedon commands

[2018-06-06 10:48] whedon commented on #752
Here are some things you can ask me to do:

[code]

[2018-06-06 10:52] whedon commented on #752
Here are some things you can ask me to do:

[code]

[2018-06-06 10:54] leeper commented on #752
@whendon assign @kellieotto as reviewer

[2018-06-06 10:57] leeper commented on #752
@whedon assign @kellieotto as reviewer

[2018-06-06 10:57] whedon commented on #752
OK, the reviewer is @kellieotto

[2018-06-06 10:57] leeper commented on #752
@whedon start review magic-word=bananas

[2018-06-06 10:57] whedon opened #765 "[REVIEW]: Philentropy: Information Theory and Distance Quantification with R"
**Submitting author:** @HajkD (<a href="http://orcid.org/0000-0002-1567-306X">Hajk-Georg Drost</a>)
**Repository:** <a href="https://github.com/HajkD/philentropy" target ="_blank">https://github.com/HajkD/philentropy</a>
**Version:** v0.2.0
**Editor:** @leeper
**Reviewer:** @kellieotto
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1286221" target="_blank">10.5281/zenodo.1286221</a>

## St

[2018-06-06 10:57] whedon commented on #752
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/765. Feel free to close this issue now!

[2018-06-06 10:57] whedon commented on #765
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kellieotto it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-06-06 10:57] whedon commented on #765
[code]

[2018-06-06 10:57] whedon commented on #765
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00765/joss.00765/10.21105.joss.00765.pdf)

[2018-06-06 10:57] leeper commented on #752
@kellieotto Thanks for agreeing to review for JOSS. The review ticket is open here: https://github.com/openjournals/joss-reviews/issues/765

[2018-06-06 10:57] #752 closed

[2018-06-06 11:10] danielskatz commented on #707
@stevenrbrandt - Please confirm your sign-off

[2018-06-06 11:11] danielskatz commented on #763
I would be pleased if we could have two reviews - I'm generally trying to do this for JOSS papers, unless I'm really an expert in the software myself, which is not the case here.

[2018-06-06 11:11] danielskatz commented on #763
@whedon assign @hainesr as reviewer

[2018-06-06 11:11] whedon commented on #763
OK, the reviewer is @hainesr

[2018-06-06 11:12] danielskatz commented on #763
@whedon add @Smattr as reviewer

[2018-06-06 11:12] whedon commented on #763
OK, @Smattr is now a reviewer

[2018-06-06 11:13] danielskatz commented on #763
@whedon start review magic-word=bananas

[2018-06-06 11:13] whedon opened #766 "[REVIEW]: General binary file parser."
**Submitting author:** @jfjlaros (<a href="http://orcid.org/0000-0002-8715-7371">J.F.J. Laros</a>)
**Repository:** <a href="https://github.com/jfjlaros/bin-parser" target ="_blank">https://github.com/jfjlaros/bin-parser</a>
**Version:** 0.0.20
**Editor:** @danielskatz
**Reviewer:** @hainesr, @Smattr
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1295625" target="_blank">10.5281/zenodo.1295

[2018-06-06 11:13] whedon commented on #763
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/766. Feel free to close this issue now!

[2018-06-06 11:13] whedon commented on #766
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @hainesr, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-06-06 11:13] whedon commented on #766
[code]

[2018-06-06 11:13] #763 closed

[2018-06-06 11:13] whedon commented on #766
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00766/joss.00766/10.21105.joss.00766.pdf)

[2018-06-06 11:14] danielskatz commented on #766
@hainesr & @Smattr - over to you now to start your reviews, following the instructions above.

Please let me know if you have any questions or run into any problems.

[2018-06-06 12:39] ajjackson commented on #696
@arfon @katyhuff Is there anything more I can do to get this review moving? The process seems to have stalled.

[2018-06-06 13:03] arfon commented on #752
Looks like he was a little sleepy there for a while...

[2018-06-06 13:05] arfon commented on #696
@ajjackson - sorry for the delay here. I'll take this one.

[2018-06-06 13:05] arfon commented on #696
@whedon assign @arfon as editor

[2018-06-06 13:05] whedon commented on #696
OK, the editor is @arfon

[2018-06-06 13:06] arfon commented on #696
@shyamd @askhl - sorry for the delay but are you both still willing to review this submission?

[2018-06-06 13:44] federeghe commented on #711
@whedon generate pdf

[2018-06-06 13:44] whedon commented on #711
[code]

[2018-06-06 13:45] whedon commented on #711
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00711/joss.00711/10.21105.joss.00711.pdf)

[2018-06-06 13:48] federeghe commented on #711
@lkosmid We updated the article and the code.

We replied inline to the issue federeghe/chronovise#11

Thank you again for the detailed review.

[2018-06-06 13:59] Kevin-Mattheus-Moerman commented on #742
Thanks @moorepants I've invited Brown and Moessner via email. I'll let you know if I hear back from them.

[2018-06-06 14:50] stevenrbrandt commented on #707
@danielskatz I confirm.

[2018-06-06 14:52] danielskatz commented on #707
👋 @arfon - over to you.

[2018-06-06 15:42] hooman650 commented on #671
Hi @fernandoandreotti and @marianux , hope the day is treating you well! I know you are very busy and I do not mean to rush you. I have been receiving a couple of emails from some users that were asking  me how they can cite the work... the subroutines of the Biosigkit are pretty popular, for example the Pan-tompking subroutine has been downloaded more than 13,000 times ([https://www.mathworks.com

[2018-06-06 16:00] j-faria commented on #487
Hi @nespinoza, thank you very much for the thorough review, I really appreciate it.

I agree completely with the three main points you raised as still missing. In the last couple of days I started addressing point 3, by creating issue and pull request templates, adding a `CONTRIBUTING.md` to the repo and changing the documentation. I will try to unify more clearly all these guidelines so that it b

[2018-06-06 17:29] Kevin-Mattheus-Moerman commented on #742
@trallard @CELavecchia would you be interested in reviewing this JOSS submission? Thanks

[2018-06-06 19:04] lebebr01 commented on #739
@leeper I have completed my review and have posted a few issues for @ellessenne to consider. Many of the issues are related to clarification of arguments, output, or documentation of the functions. I'm happy to look over the package again after @ellessenne has a chance to consider the issues.

[2018-06-06 19:36] ellessenne commented on #739
Thanks a lot @lebebr01 (and @leeper) - I will go through the issues as quickly as possible!

[2018-06-06 19:45] danielskatz commented on #759
@whedon assign @gonsie as reviewer

[2018-06-06 19:45] whedon commented on #759
OK, the reviewer is @gonsie

[2018-06-06 19:45] danielskatz commented on #759
@whedon add pspringer as reviewer

[2018-06-06 19:45] whedon commented on #759
OK, pspringer is now a reviewer

[2018-06-06 19:46] danielskatz commented on #759
@whedon add @pspringer as reviewer

[2018-06-06 19:46] whedon commented on #759
OK, @pspringer is now a reviewer

[2018-06-06 19:46] danielskatz commented on #759
@whendon remove pspringer as reviewer

[2018-06-06 19:47] danielskatz commented on #759
@whedon commands

[2018-06-06 19:47] whedon commented on #759
Here are some things you can ask me to do:

[code]

[2018-06-06 19:47] danielskatz commented on #759
@wendon remove pspringer as reviewer

[2018-06-06 19:49] danielskatz commented on #759
@whedon start review magic-word=bananas

[2018-06-06 19:49] whedon opened #767 "[REVIEW]: Salabim: discrete event simulation and animation in Python"
**Submitting author:** @salabim (<a href="http://orcid.org/0000-0001-7696-8059">Ruud van der Ham</a>)
**Repository:** <a href="https://github.com/salabim/salabim" target ="_blank">https://github.com/salabim/salabim</a>
**Version:** 2.2.23
**Editor:** @danielskatz
**Reviewer:** @gonsie, @pspringer
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.6791129" target="_blank">10.6084/m9.figshare

[2018-06-06 19:49] whedon commented on #759
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/767. Feel free to close this issue now!

[2018-06-06 19:49] whedon commented on #767
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @gonsie, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-06-06 19:49] whedon commented on #767
[code]

[2018-06-06 19:50] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-06-06 19:52] #759 closed

[2018-06-06 19:53] danielskatz commented on #767
👋  @arfon - I screwed up and added @pspringer twice as a reviewer.  I'm going to manually edit the first comment in the issue to fix this, but if there's something in the @whedon database that also needs to be fixed, please do so.

[2018-06-06 19:55] danielskatz commented on #767
👋 @gonsie, @pspringer - thanks for volunteering to review.  Instructions and the review checklists are in the first comment in this issue.  Please go ahead and start your reviews when you are ready.

If you have any questions, please feel free to ask me.

[2018-06-06 22:02] arfon commented on #707
@whedon set 10.5281/zenodo.1283525 as archive

[2018-06-06 22:02] whedon commented on #707
OK. <a href="http://dx.doi.org/10.5281/zenodo.1283525" target="_blank">10.5281/zenodo.1283525</a> is the archive.

[2018-06-06 23:09] arfon commented on #707
@stevenrbrandt - many thanks for your review here and to @danielskatz for editing this submission ✨

@kwwette - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00707 :zap: :rocket: :boom:

[2018-06-06 23:09] #707 closed

[2018-06-06 23:09] whedon commented on #707
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00707/status.svg)](https://doi.org/10.21105/joss.00707)

**We need your help!**

Journal of Open Source Software

[2018-06-06 23:59] kwwette commented on #707
@arfon @danielskatz @stevenrbrandt - Excellent, thank you!

[2018-06-07 07:30] kbenoit commented on #764
# Review

### Conflict of interest

- [x] As the reviewer I confirm that I have read the [JOSS conflict of interest policy](https://github.com/openjournals/joss/blob/master/COI.md) and that there are no conflicts of interest for me to review this work.

### Code of Conduct

- [x] I confirm that I read and will adhere to the [JOSS code of conduct](https://joss.theoj.org/about#code_of_conduct).

###

[2018-06-07 08:15] leeper commented on #764
Excellent review, @kbenoit! Thank so much!

@evan-l-munson Can you address the issues raised in the review - particularly the missing checked items from the review checklist and the other useful suggestions raised in the review?

[2018-06-07 11:28] ReinhardPrix commented on #707
That's wonderful, thanks a lot to the reviewers, and congrats to all co-authors, especially to Karl who has done all the hard work of getting this paper together and published!

[2018-06-07 13:52] hainesr commented on #766
Hi @danielskatz, for the version check, does there need to be an actual tagged release and corresponding GitHub release (i.e. here: https://github.com/jfjlaros/bin-parser/releases)?

[2018-06-07 15:04] kellieotto commented on #765
I've completed my first review. I noted issues with the license and performance claims in issues in the repository.

[2018-06-07 16:16] evan-l-munson commented on #764
Thank you for the review.

I will work on those notes/corrections as soon as I get a chance (just moved my family across the United States and started a new job).

Evan Munson

Sent from my iPhone

[2018-06-07 16:54] flor14 commented on #762
adamhsparks, pboesu, maelle could be another options

[2018-06-07 17:01] lkosmid commented on #711
@federeghe Thank you for the updates in both the code and article.
I will continue with my review and let you know.

[2018-06-07 19:10] HajkD commented on #765
Dear Kellie,

Thank you so so much for compiling a review so quickly.
It is very much appreciated.

I will address all your points in detail and will add the missing `LICENSE` file.

Many thanks and kind regards,
Hajk

[2018-06-08 05:02] pspringer commented on #767
Hi Dan, this is Paul.  I've not done this sort of collaboration before, so I am completely lost.  I don't even know if you will get this if I don't put that @ sign in front of your name.  I'm not even sure what button to click at the bottom to send this.  At any rate, if you could point me to a guide for how to do this, it would help.  Thanks

[2018-06-08 10:21] trallard commented on #742
Hi! Apologies for the late reply. I would be happy to do this review, however, I am about to go on very much needed annual leave. If this can wait until the 8th of July I would be happy to pick it up then

[2018-06-08 11:39] danielskatz commented on #767
@pspringer - We're using GitHub's notification feature within issues, so if you put @danielskatz, I will be notified.

And these are typical GitHub issues - fully public for anyone who cares to look, and continually added to as more comments are added (by the green comment button under the empty box at the end of a current list of comments on an issue)

It might be useful for us to talk offline on

[2018-06-08 11:43] danielskatz commented on #766
👋 @arfon - see question above

[2018-06-08 11:55] Kevin-Mattheus-Moerman commented on #742
@whedon assign @trallard as reviewer

[2018-06-08 11:55] whedon commented on #742
OK, the reviewer is @trallard

[2018-06-08 11:56] Kevin-Mattheus-Moerman commented on #742
Great @trallard. We'll start sooner if other reviewers join sooner but I'll ping you around the 8th of July. Enjoy your annual leave! :beach_umbrella:

[2018-06-08 13:19] HajkD commented on #765
Dear all,

I incorporated all changes and addressed the two issues listed above.

Many thanks and kind regards,
Hajk

[2018-06-08 15:22] katyhuff commented on #713
Hi all, I'm sorry to say I don't have the bandwidth this month.

[2018-06-08 15:39] leeper commented on #765
@kellieotto Can you take a look and see if there are any further issues to address?

[2018-06-08 15:49] trallard commented on #742
Great! I will keep an eye here then

[2018-06-08 16:27] lmullen commented on #760
I can review this but may need a little flexibility with the due date.

[2018-06-08 16:49] lkosmid commented on #711
@federeghe Thank you for the updates in both the code and article.
I will continue with my review and let you know.

[2018-06-08 16:50] lkosmid commented on #711
@federeghe I updated my comments on the short paper.
Some more minor changes are required.

[2018-06-08 18:07] Chilipp commented on #737
Dear all,

I am done now with my review so far, went through the user guide and thanks a lot for this nice and well-developed open source package. I find it well documented and helpful and therefore, if the points already mentioned previously (version https://github.com/openjournals/joss-reviews/issues/737#issuecomment-394667300 and contribution guide https://github.com/openjournals/joss-reviews/i

[2018-06-09 01:32] hjoliver commented on #737
@sarats - thank you. In reponse to your points:
 * LICENSE vs COPYING - let's see the response from @arfon
 * ditto - need advice from @arfon on how to correct the version in the submission
 * lack of CONTRIBUTING.md is a problem - we have planned to correct this since some months ago, but still waiting on legal advice on that from my home institution (I will chase them up...)
 * we have Tracis CI

[2018-06-09 15:41] kellieotto commented on #765
@leeper Everything looks good now.

[2018-06-09 16:11] leeper commented on #765
@HajkD Please issue a GitHub release for the current version of the software, and create a DOI for that release using, for example, figshare or Zenodo. Once you have the DOI, please leave it here as a comment. Once that's done, your paper will be accepted at JOSS!

@kellieotto Thanks so much for your very quick review!

[2018-06-09 17:07] HajkD commented on #765
Dear @leeper,

Thank you so much for organizing everything.

Here is the doi I generated:

https://doi.org/10.5281/zenodo.1286221

@kellieotto Thank you very very much for your great and super fast review.

This was a great experience and I will definitely recommend JOSS!

Kind regards,
Hajk

[2018-06-09 19:13] kellieotto commented on #765
You're welcome! Always happy to review for JOSS.

[2018-06-09 19:18] leeper commented on #765
@whedon set 10.5281/zenodo.1286221 as archive

[2018-06-09 19:18] whedon commented on #765
OK. <a href="http://dx.doi.org/10.5281/zenodo.1286221" target="_blank">10.5281/zenodo.1286221</a> is the archive.

[2018-06-09 19:19] leeper commented on #765
@arfon over to you

[2018-06-09 19:48] Smattr commented on #766
@jfjlaros very nice project! The included presentation also gives a very nice motivation for how this project came about. I've posted a series of issues resulting from my review thus far. Some high level questions for you and perhaps @arfon as well:

1. Would you like us to submit nitpick feedback on coding style/conventions as well? E.g. more Pythonic idioms for doing certain things. If so, shoul

[2018-06-09 20:55] jfjlaros commented on #766
Dear @Smattr,

Thank you for your kind words and your thorough review. I will try to address the issues you raised, and perhaps implement some of the features you requested. The latter will depend mainly on implementation time, but I think some can be addressed rather quickly.

As for detailed feedback, it is certainly welcome. I try to follow the recommended coding styles of the two programming l

[2018-06-09 20:55] danielskatz commented on #766
@Smattr - 1. Nitpicking items (that don't affect your checking boxes in the review, but would be nice to have) should probably be issues or PRs in the repo.
1. Re error handling - if you think this should block acceptance (ie you think the software really needs to have this to be useful), then let us know that - otherwise, again an issue in the repo that informs the developer but doesn't affect th

[2018-06-09 21:27] Smattr commented on #766
I think it's fine to leave as-is with regards to the error handling. I'll submit a PR with my nitpicks and we can discuss in more detail on that. Thanks, both.

[2018-06-09 23:49] rasbt commented on #726
@Kevin-Mattheus-Moerman

happy to let you know that all my issues were addressed in the recent merge of PR [mlpack/mlpack#1421](https://github.com/mlpack/mlpack/pull/1421). Aside from bumping the version to 3.0.2 in the paper and linking to the 3.0.2 archive (I think Joss uses Zenodo?; I think this should probably be done after the other reviewers finished the review, though), I am happy to approv

[2018-06-10 09:59] MikeInnes commented on #726
Looks good to me too!

[2018-06-10 12:34] arfon commented on #766
Yes please.

[2018-06-10 12:37] whedon opened #768 "[PRE REVIEW]: heatwaveR: A central algorithm for the detection of heatwaves and cold-spells"
**Submitting author:** @robwschlegel (<a href="http://orcid.org/0000-0002-0705-1287">Robert Schlegel</a>)
**Repository:** <a href="https://github.com/robwschlegel/heatwaveR" target ="_blank">https://github.com/robwschlegel/heatwaveR</a>
**Version:** 0.2.7
**Editor:** @leeper
**Reviewers:** @khaors

**Author instructions**

Thanks for submitting your paper to JOSS @robwschlegel. The JOSS editor (sh

[2018-06-10 12:37] whedon commented on #768
[code]

[2018-06-10 12:37] whedon commented on #768
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00768/joss.00768/10.21105.joss.00768.pdf)

[2018-06-10 12:37] whedon opened #769 "[PRE REVIEW]: Python Implementation of Codon Adaptation Index"
**Submitting author:** @benjamin-lee (<a href="http://orcid.org/0000-0002-7133-8397">Benjamin Lee</a>)
**Repository:** <a href="https://github.com/Benjamin-Lee/CodonAdaptationIndex" target ="_blank">https://github.com/Benjamin-Lee/CodonAdaptationIndex</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @benjamin-lee.

[2018-06-10 12:37] whedon commented on #769
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-10 12:37] whedon commented on #769
[code]

[2018-06-10 12:38] whedon opened #770 "[PRE REVIEW]: unyt: Handle, manipulate, and convert data with units in Python"
**Submitting author:** @ngoldbaum (<a href="http://orcid.org/0000-0001-5557-267X">Nathan Goldbaum</a>)
**Repository:** <a href="https://github.com/yt-project/unyt" target ="_blank">https://github.com/yt-project/unyt</a>
**Version:** v1.0.3
**Editor:** @kyleniemeyer
**Reviewers:** @Cadair, @tbekolay, @ygrange

**Author instructions**

Thanks for submitting your paper to JOSS @ngoldbaum. The JOSS ed

[2018-06-10 12:38] whedon commented on #770
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-10 12:38] whedon commented on #770
[code]

[2018-06-10 12:38] whedon commented on #769
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00769/joss.00769/10.21105.joss.00769.pdf)

[2018-06-10 12:38] whedon commented on #770
PDF failed to compile for issue #770 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    462      0 --:--:-- --:--:-- --:--:--   480
[WARNING] Could no

[2018-06-10 12:38] arfon commented on #770
:wave: @kyleniemeyer - the submitting author suggested you as the handling editor.

[2018-06-10 12:39] whedon opened #771 "[PRE REVIEW]: ggeffects - Tidy Data Frames of Marginal Effects from Regression Models"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/strengejacke/ggeffects" target ="_blank">https://github.com/strengejacke/ggeffects</a>
**Version:** 0.3.4
**Editor:** @leeper
**Reviewers:** @cdcrabtree

**Author instructions**

Thanks for submitting your paper to JOSS @strengejacke. The JOSS editor

[2018-06-10 12:39] whedon commented on #771
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-10 12:39] whedon commented on #771
[code]

[2018-06-10 12:39] whedon commented on #771
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00771/joss.00771/10.21105.joss.00771.pdf)

[2018-06-10 12:39] arfon commented on #771
:wave: @leeper - the submitting author suggested you as the handling editor.

[2018-06-10 13:28] leeper commented on #771
@cdcrabtree Would you be willing to review this for JOSS?

[2018-06-10 13:28] leeper commented on #771
@mdogucu Would you be willing to review this for JOSS?

[2018-06-10 14:33] cdcrabtree commented on #771
@leeper I would, but I am traveling and probably can't begin on this until the weekend. Does that work for JOSS?

[2018-06-10 15:41] ngoldbaum commented on #770
Not sure why it couldn’t find the images, they’re in the paper directory: https://github.com/yt-project/unyt/tree/master/paper

[2018-06-10 16:40] leeper commented on #771
@cdcrabtree Totally fine. We normally ask for a review within two weeks, but can be a bit flexible.

[2018-06-10 16:48] cdcrabtree commented on #771
@leeper In that case, I'm happy to review. How do I accept the request?

[2018-06-10 16:57] mlgill commented on #726
@Kevin-Mattheus-Moerman It looks like someone may have marked the installation issues under my name by mistake, but I can confirm that those items are complete. As @rasbt mentioned, the version bump is the only thing remaining. Thanks!

[2018-06-10 17:30] hainesr commented on #766
Thanks @arfon. I have raised an issue.

[2018-06-10 18:34] llllllllll commented on #670
The statement of need in the documentation could be more clear: https://github.com/HPAC/matchpy/issues/32. This should be a very small documentation change.

I only see a DOI for the sympy paper reference, I am not sure how these get assigned so this may be the only citation that has one. I am leaving this unchecked for now because of this.

After these two things are addressed this meets all of t

[2018-06-10 19:14] kyleniemeyer commented on #770
@arfon ok, I'll take this

[2018-06-10 20:20] strengejacke commented on #771
@whedon generate pdf
(I resized figures, so page breaks hopefully look better)

[2018-06-10 20:20] whedon commented on #771
[code]

[2018-06-10 20:21] whedon commented on #771
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00771/joss.00771/10.21105.joss.00771.pdf)

[2018-06-10 20:54] leeper commented on #771
@whedon add @cdcrabtree as reviewer

[2018-06-10 20:54] whedon commented on #771
OK, @cdcrabtree is now a reviewer

[2018-06-10 20:55] leeper commented on #771
@cdcrabtree That's great. Thanks! I've just added you. I'll open up the review tomorrow (it will be a new issue on this repo) and you'll get a notification from it with instructions on how to proceed with the review.

[2018-06-10 21:12] ashleefv commented on #718
- while the app starts, the following error is generated when running:*Index
   exceeds matrix dimensions.*
   - *Error in rules (line 73)*
   *paramcase = varargin{2};*
   *Error in simulation_attraction (line 18)*
   *nestSimulationData(timestep+1,:,:) =
   rules(dt,nestSimulationData(timestep,:,:),...*
   so what happens is 'rules' is being called with 13 arguments while from
   the code I unde

[2018-06-10 21:14] ashleefv commented on #718
My email was sent prematurely by accident..

I  updated beefile folder script names to include _app at the end to make app versions of the files have unique names.

I am using MATLAB 2017b, and I don't think that we have anything that explicitly required 2017b vs. a or slightly older versions.

Other edits still in progress. Will submit again later today.

[2018-06-10 21:38] cdcrabtree commented on #771
@leeper Great. Thanks!

[2018-06-10 23:08] ashleefv commented on #718
When the app starts on my computer I do not get an error. Perhaps it was due to the two instances of the filename rules.m (and other scripts) in the repository. Do you get any errors now that the app files all have unique names? Also, dt is defined in bee_setup_script_app.m.

Note that 'tags' and 'taglist' are two separate things. tags = colony.orTagTreat is a vector of 0, 1, 2, or 3 for each bee

[2018-06-11 06:01] Benjamin-Lee commented on #769
Just a question/comment: "license" is spelled as "licence" in the section heading and "license" in the section body. Is this deliberate?

[2018-06-11 07:02] strengejacke commented on #754
May I kindly ask how the review process continues? Will the reviewers let me or you know when they finished their review, or will I be contacted via notification? Just wondering, because from the checklist you can't completely decide if there are parts left to review, or if these are issues I have to address. :-)

[2018-06-11 07:28] strengejacke commented on #771
If you're still looking for reviewers, @Ohlsen has agreed to review this paper.

[2018-06-11 07:45] sdelandtsheer commented on #718
Thanks for the corrections, I will finalize the review in the next few days.

[2018-06-11 09:03] leeper commented on #771
@whedon start review magic-word=bananas

[2018-06-11 09:03] whedon opened #772 "[REVIEW]: ggeffects - Tidy Data Frames of Marginal Effects from Regression Models"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/strengejacke/ggeffects" target ="_blank">https://github.com/strengejacke/ggeffects</a>
**Version:** 0.3.4
**Editor:** @leeper
**Reviewer:** @cdcrabtree
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1301148" target="_blank">10.5281/zenodo.1301

[2018-06-11 09:03] whedon commented on #771
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/772. Feel free to close this issue now!

[2018-06-11 09:03] whedon commented on #772
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cdcrabtree it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-06-11 09:03] whedon commented on #772
[code]

[2018-06-11 09:03] whedon commented on #772
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00772/joss.00772/10.21105.joss.00772.pdf)

[2018-06-11 09:04] leeper commented on #772
@cdcrabtree Here's the review issue. Please work through the review checklist, open issues [on the source repo](https://github.com/strengejacke/ggeffects) for any issues not addressed by the checklist or that you'd like to see changed, then send me a message here when you'd like me to have a look.

[2018-06-11 09:05] leeper commented on #771
@strengejacke Thanks. I'll proceed with one reviewer at this point, but might rope in a further reviewer.

[2018-06-11 09:05] #771 closed

[2018-06-11 09:13] leeper commented on #754
@strengejacke  I've had a look at the reviews so far and opened several issues for you to address in line with the unchecked items above. Please address these and I will then ask the reviewers to take another look.

[2018-06-11 10:21] arfon commented on #662
Great! Thanks for the update @Schuch666.

@nuest, @benmarwick - could you come and take another look at this sometime in the next couple of weeks?

[2018-06-11 10:22] arfon commented on #696
@whedon assign @shyamd as reviewer

[2018-06-11 10:22] whedon commented on #696
OK, the reviewer is @shyamd

[2018-06-11 10:23] arfon commented on #696
@whedon start review magic-word=bananas

[2018-06-11 10:23] #696 closed

[2018-06-11 10:23] whedon opened #773 "[REVIEW]: Galore: Broadening and weighting for simulation of photoelectron spectroscopy"
**Submitting author:** @ajjackson (<a href="http://orcid.org/0000-0001-5272-6530">Adam J. Jackson</a>)
**Repository:** <a href="https://github.com/SMTG-UCL/galore" target ="_blank">https://github.com/SMTG-UCL/galore</a>
**Version:** 0.5.0
**Editor:** @arfon
**Reviewer:** @shyamd
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1240359" target="_blank">10.5281/zenodo.1240359</a>

## Status

[

[2018-06-11 10:23] whedon commented on #696
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/773. Feel free to close this issue now!

[2018-06-11 10:23] whedon commented on #773
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @shyamd it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-06-11 10:23] whedon commented on #773
[code]

[2018-06-11 10:23] whedon commented on #773
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00773/joss.00773/10.21105.joss.00773.pdf)

[2018-06-11 10:23] arfon commented on #696
@shyamd @ajjackson - please head over to #773 for the actual review issue.

[2018-06-11 10:27] arfon commented on #713
Hi @vsoch - sorry this is taking a while. While we're waiting for an editor to pick this up could you take a look at the reviewer list and suggest a few folks? https://bit.ly/joss-reviewers

[2018-06-11 10:30] arfon commented on #760
@borishejblum - would you be willing to review this submission for JOSS?

[2018-06-11 10:33] flor14 commented on #762
I had select different names for the files, I have corrected them now. There is a paper.bib and a paper.md

[2018-06-11 10:34] #765 closed

[2018-06-11 10:34] whedon commented on #765
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00765/status.svg)](https://doi.org/10.21105/joss.00765)

**We need your help!**

Journal of Open Source Software

[2018-06-11 10:39] arfon commented on #737
`COPYING` is acceptable, especially as this is recommended by the GPL.

I can update this. What should the new version be?

[2018-06-11 10:41] arfon commented on #769
Nope, that's just a typo. Thanks for catching that!

[2018-06-11 10:44] HajkD commented on #765
Dear all,

Thank you so so much for your great work and for the super fast editorial/review process.

This is my first JOSS paper and I will definitely consider submitting future tools to JOSS as well. In addition, I will also highly recommend it to my colleagues.

Kind regards,
Hajk

[2018-06-11 10:45] hjoliver commented on #737
Thanks @arfon

New version (as reviewed) is 7.7.0

[2018-06-11 10:47] vsoch commented on #713
Sure! I'll choose Python / HPC / and or API expertise for now, since the tool is so general. Ping @rougier and @krother and @ctb @iljah and @diegoenry @adamhsparks @jhollist @noamross

[2018-06-11 10:48] vsoch commented on #713
No worries @katyhuff ! Thanks for your response, and hang in there :)

[2018-06-11 10:54] borishejblum commented on #760
I can review this submission, what is the due date ?

[2018-06-11 10:59] alexgarciac commented on #760
I could also review this one. What is the die date?

[2018-06-11 11:59] rougier commented on #713
I'm available for review.

[2018-06-11 13:30] arfon commented on #760
Next couple of weeks would be ideal.

[2018-06-11 13:31] arfon commented on #760
@whedon add @lmullen as reviewer

[2018-06-11 13:31] whedon commented on #760
OK, @lmullen is now a reviewer

[2018-06-11 13:31] arfon commented on #760
@whedon add @borishejblum as reviewer

[2018-06-11 13:31] whedon commented on #760
OK, @borishejblum is now a reviewer

[2018-06-11 13:31] arfon commented on #760
@whedon add @alexgarciac as reviewer

[2018-06-11 13:31] whedon commented on #760
OK, @alexgarciac is now a reviewer

[2018-06-11 13:31] arfon commented on #760
@whedon start review magic-word=bananas

[2018-06-11 13:31] #760 closed

[2018-06-11 13:31] whedon opened #774 "[REVIEW]: quanteda: An R package for the quantitative analysis of textual data"
**Submitting author:** @kbenoit (<a href="http://orcid.org/0000-0002-0797-564X">Kenneth Benoit</a>)
**Repository:** <a href="https://github.com/quanteda/quanteda" target ="_blank">https://github.com/quanteda/quanteda</a>
**Version:** v1.3
**Editor:** @arfon
**Reviewer:** @lmullen, @borishejblum, @alexgarciac
**Archive:** <a href="https://doi.org/10.5281/zenodo.1447219" target="_blank">10.5281/zeno

[2018-06-11 13:31] whedon commented on #760
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/774. Feel free to close this issue now!

[2018-06-11 13:31] whedon commented on #774
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lmullen, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-06-11 13:31] whedon commented on #774
[code]

[2018-06-11 13:32] arfon commented on #760
@lmullen, @borishejblum, @alexgarciac - many thanks for agreeing to review this submission. Please head over to #774 to carry out the actual review.

[2018-06-11 13:35] whedon commented on #774
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00774/joss.00774/10.21105.joss.00774.pdf)

[2018-06-11 13:39] noamross commented on #713
I am not available to review, and in any case Python is not one of my programming languages.

[2018-06-11 14:04] iljah commented on #713
I can also review.

[2018-06-11 14:27] whedon commented on #711
[code]

[2018-06-11 14:27] whedon commented on #711
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00711/joss.00711/10.21105.joss.00711.pdf)

[2018-06-11 15:02] lheagy commented on #755
@highendcompute informed me of a potential conflict of interest as he has published with @loftytopping in the past two years and has ongoing projects (that are not directly related to this one). As we have two reviewers, we will waive the conflict of interest and continue to have @highendcompute as a reviewer here. Please let me know if you have any concerns.

[2018-06-11 15:30] Benjamin-Lee commented on #769
No problem. Happy to help!

Another question: if I make minor changes to my paper (changing word order), how do I update the proof to reflect those changes?

[2018-06-11 16:25] zfrenchee commented on #747
@terrytangyuan @arfon
Thanks for the feedback, and sorry for the delayed reply. After some mulling over, I've come to see that you're quite right, and this tool would be more broadly applicable if I make it into a piece of independent code that can be used more broadly. Unfortunately, that's going to require a fair bit of refactoring and re-architecting, which I probably won't have time to get to

[2018-06-11 18:07] sarats commented on #737
@hjoliver I understand how complex formulating this policy can be. I'm involved a U.S. Dept. of Energy funded multi-lab project where we encourage people willing to contribute to submit bug reports or fixes for simple scenarios.  https://github.com/E3SM-Project/E3SM/blob/master/CONTRIBUTING.md
However we recommend a formal collaboration plan for more extensive changes.

Food for thought: You can p

[2018-06-11 18:30] jfjlaros commented on #766
Dear @hainesr,

Thank you very much for your suggestions and fixes.

[2018-06-11 18:41] jegpeek commented on #695
Thanks for the nudge! https://doi.org/10.7910/DVN/VBSI4A

[2018-06-11 18:55] gregreen commented on #695
I've added an issue, which I'll work on, but don't let that get in the way of looking over the code as it already is!

[2018-06-11 19:01] Chilipp commented on #737
The same for me. Thanks!

[2018-06-11 19:52] hjoliver commented on #737
Thanks very much @sarats and @Chilipp (and @arfon).  I'll discuss with the team in the next few days what we can do about a preliminary contributing.md ...

[2018-06-11 20:48] hainesr commented on #766
@danielskatz, @arfon - There is a question about whether the version pointed to by this submission can change now there have been lots of updates to this project here: jfjlaros/bin-parser#18.

[2018-06-11 20:48] adamhsparks commented on #713
Looks nice, but I'm a one trick pony for programming languages and Python isn't one of them.

[2018-06-11 22:06] cMadan commented on #600
Hi @thewtex, are you now available to review this submission?

[2018-06-11 22:06] cMadan commented on #656
@oesteban, how is this review coming?

[2018-06-11 22:19] oesteban commented on #656
Oh, sorry, my deepest apologies to @spinicist since I completely forgot about it. I'll finish up tomorrow: I don't expect to request anything else, so I'm 99% positive it will be the final thumbs up.

Sorry again.

[2018-06-11 23:11] danielskatz commented on #766
yes, it's fine to change the version, in both the paper.md and the repo

[2018-06-12 00:16] thewtex commented on #600
Sorry, @cMadan I have some other reviews I am behind on at the moment, and I will soon be traveling for about a month. To set expectation, it will be a month and a half until I will be able to get to this.

[2018-06-12 07:44] ellessenne commented on #739
Hello @lebebr01 and @leeper,
I just finished making some changes following @lebebr01 comments (for which I am very grateful - thank you very much!). Do you think there are other things I could improve on?

[2018-06-12 11:35] leeper commented on #739
Great. @lebebr01, can you take another look and see if there are remaining issues to be addressed?

[2018-06-12 14:59] Kevin-Mattheus-Moerman commented on #670
@henrik227 can you respond to @llllllllll 's comments? @llllllllll thanks for your review work so far! :rocket:

[2018-06-12 15:34] henrik227 commented on #670
I was about to look into this. Thanks for the comments, @llllllllll !

[2018-06-12 16:07] lkosmid commented on #711
@federeghe thank you very much for your updates in the code and the manuscript.
We are almost there, some typos only need to be fixed, see my comments.
Regarding the code review, I have some imminent deadlines and back-to-back trips which might reduce my responsiveness and delay a bit the review, but I will try my best to finish it soon.

[2018-06-12 16:12] federeghe commented on #711
@lkosmid Ok, thank you.

[2018-06-12 16:12] federeghe commented on #711
@whedon generate pdf

[2018-06-12 16:12] whedon commented on #711
[code]

[2018-06-12 16:12] whedon commented on #711
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00711/joss.00711/10.21105.joss.00711.pdf)

[2018-06-12 17:01] giraola commented on #678
@ryneches I just completed the revision. Sorry for this delay.

[2018-06-12 17:34] vyasr commented on #757
@arfon do I have to place the paper in the root of the repository? I looked at the repos for other JOSS papers and some of them are structured like mine (with a paper folder), but perhaps that's only possible after it's actually it's been published.

[2018-06-12 18:38] Benjamin-Lee commented on #769
@whedon commands

[2018-06-12 18:38] whedon commented on #769
Here are some things you can ask me to do:

[code]

[2018-06-12 18:39] Benjamin-Lee commented on #769
@whedon generate pdf

[2018-06-12 18:39] whedon commented on #769
[code]

[2018-06-12 18:39] whedon commented on #769
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00769/joss.00769/10.21105.joss.00769.pdf)

[2018-06-12 19:50] vsoch commented on #713
@arfon would @iljah or @rougier be suitable to start the review?

[2018-06-13 03:30] kdpeterson51 commented on #746
@leeper Both issues raised by @kellieotto have now been addressed.

Please inform me if there is anything else you may need form me. Thank you very much.

[2018-06-13 06:03] kellieotto commented on #746
The version issue has been addressed. The package still needs unit tests.

[2018-06-13 08:12] pspringer commented on #767
@salabim, the documentation section on **Reading items from a file** is pretty slim.  I would recommend either adding some detail to it, or inserting a note that the Reference section has more detail.

[2018-06-13 10:31] leeper commented on #746
Yes, please add unit tests as suggested here: https://github.com/kdpeterson51/mbir/issues/2

[2018-06-13 13:43] diegoenry commented on #713
I’m up to reviewing, just let me know the deadlines.

Envoyé de mon iPhone

Le 12 juin 2018 à 21:50, Vanessa Sochat <notifications@github.com<mailto:notifications@github.com>> a écrit :

@arfon<https://nam05.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Farfon&data=02%7C01%7C%7Caf977cc10c0044b46db208d5d09db5ab%7C84df9e7fe9f640afb435aaaaaaaaaaaa%7C1%7C0%7C636644298126072060&sdata=

[2018-06-13 13:49] vsoch commented on #713
@arfon that's three!! :D @diegoenry I would bet the deadlines are pretty flexible, it's already been a month and we are still at timepoint zero, haha :) I am so grateful for your offering to do the review, and although it's not my decision, I would advocate for giving the time that is needed.

[2018-06-13 14:45] henrik227 commented on #670
I improved the statement of need and added DOIs for all references that have one (at least to my knowledge).

[2018-06-13 14:50] llllllllll commented on #670
Awesome, those changes look good.

[2018-06-13 15:53] xiangfstats commented on #634
Dear @george-githinji
I have made improvements based on @pboesu 's suggestions and replied separately to those 7 comments.
Thanks very much for the review from @pboesu .
Best
Fei

[2018-06-13 16:22] vyasr commented on #757
@whedon commands

[2018-06-13 16:22] whedon commented on #757
Here are some things you can ask me to do:

[code]

[2018-06-13 16:31] vyasr commented on #757
Do you know why whedon failed to build the original version? The comment on this thread contains a file not found error, do I need to point it somewhere?

[2018-06-13 16:32] labarba commented on #757
@vyasr You have inline math with `$…$` in your paper. Maybe this is causing trouble with compilation? Have a look at this thread, and investigate: https://github.com/openjournals/joss/issues/409#issuecomment-390285394

[2018-06-13 16:35] vyasr commented on #757
Oh OK got it thanks. I'll have a look.

Regarding reviewers, a potential good fit based on the [JOSS reviewers list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) is Lemaitre Cédric ([clemaitre58](https://github.com/clemaitre58)). Computer vision + aerodynamics is probably a good background for discussing quaternions.

[2018-06-13 16:40] vyasr commented on #757
@whedon generate pdf

[2018-06-13 16:40] whedon commented on #757
[code]

[2018-06-13 16:40] whedon commented on #757
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00757/joss.00757/10.21105.joss.00757.pdf)

[2018-06-13 16:50] rabernat commented on #592
Sorry for my long delay. I am satisfied by @dvalters's detailed review and am happy to approve this publication.

[2018-06-13 17:58] shyamd commented on #773
@arfon
This project is a great addition to a growing python based material science community. It provides a nice clean interface to plotting photoelectric spectroscopy data with real world effects quickly. It has clear guidelines on how to contribute, ask questions, and an effective battery of tests. I recommend this paper for publication in JOSS.

P.S. This review process is amazing! I love it.

[2018-06-13 18:02] Kevin-Mattheus-Moerman commented on #670
@whedon generate pdf

[2018-06-13 18:02] whedon commented on #670
[code]

[2018-06-13 18:02] whedon commented on #670
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00670/joss.00670/10.21105.joss.00670.pdf)

[2018-06-13 19:39] loftytopping commented on #755
This sounds fine to me, many thanks!
I will be using PyBox with students in our faculty for their final year projects. Some are starting over the summer and I have created some additional instructions on how to run PyBox in a Docker container. Im guessing I should now wait until the review has finished before uploading these to the repository? Absolutely fine, of course, if so.

[2018-06-13 19:44] dvalters commented on #755
@loftytopping Normally in the past for JOSS I have just reviewed the linked tagged release, and the master or other branches can be continued to be worked on as normal

[2018-06-13 19:47] loftytopping commented on #755
Ok thats good to know, thanks!

[2018-06-13 20:06] arfon commented on #713
@whedon assign @arfon as editor

[2018-06-13 20:06] whedon commented on #713
OK, the editor is @arfon

[2018-06-13 20:06] arfon commented on #713
@whedon add @iljah as reviewer

[2018-06-13 20:06] whedon commented on #713
OK, @iljah is now a reviewer

[2018-06-13 20:07] arfon commented on #713
@whedon add @rougier as reviewer

[2018-06-13 20:07] whedon commented on #713
OK, @rougier is now a reviewer

[2018-06-13 20:08] arfon commented on #713
@whedon start review magic-word=bananas

[2018-06-13 20:08] #713 closed

[2018-06-13 20:08] whedon opened #775 "[REVIEW]: HelpMe Command Line Helper Utility"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/vsoch/helpme" target ="_blank">https://www.github.com/vsoch/helpme</a>
**Version:** 0.0.35
**Editor:** @arfon
**Reviewer:** @iljah, @rougier
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1293062" target="_blank">10.5281/zenodo.1293062</a>

## St

[2018-06-13 20:08] whedon commented on #713
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/775. Feel free to close this issue now!

[2018-06-13 20:08] whedon commented on #775
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @iljah, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-06-13 20:08] whedon commented on #775
[code]

[2018-06-13 20:08] whedon commented on #775
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00775/joss.00775/10.21105.joss.00775.pdf)

[2018-06-13 20:09] arfon commented on #713
@vsoch, @iljah, @rougier - please head over to #775 for the actual review issue. @diegoenry - thanks for volunteering - I think we should be OK with just two reviewers.

[2018-06-13 20:11] vsoch commented on #775
Thank you @whedon robot friend! Fantastic to get this underway!

[2018-06-13 20:11] arfon commented on #773
@shyamd - many thanks for the rapid review. Were any issues opened/concerns raised while reviewing this package? If so, could you link to them here please?

[2018-06-13 20:12] arfon commented on #757
@vyasr - the paper can live anywhere in the repository.

[2018-06-13 20:15] kyleniemeyer commented on #592
Thanks @rabernat!

[2018-06-13 20:16] kyleniemeyer commented on #592
@whedon generate pdf

[2018-06-13 20:16] whedon commented on #592
[code]

[2018-06-13 20:16] whedon commented on #592
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00592/joss.00592/10.21105.joss.00592.pdf)

[2018-06-13 21:11] oesteban commented on #656
Okay, I managed to finish. Thumbs up from my side. My apologies for the delay.

[2018-06-14 00:02] vyasr commented on #757
@whedon generate pdf

[2018-06-14 00:02] whedon commented on #757
[code]

[2018-06-14 00:03] whedon commented on #757
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00757/joss.00757/10.21105.joss.00757.pdf)

[2018-06-14 00:09] vyasr commented on #757
@whedon generate pdf

[2018-06-14 00:09] whedon commented on #757
[code]

[2018-06-14 00:10] whedon commented on #757
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00757/joss.00757/10.21105.joss.00757.pdf)

[2018-06-14 00:12] vyasr commented on #757
Seems like the original compilation issue was an unrelated problem. The original version compiles fine now without changing its location and with the `$...$` syntax in use.

[2018-06-14 07:06] strengejacke commented on #772
Is it possible to get a template for compiling the PDF? I would like to add a page break to layout the figures in the paper, and don't want to spam this thread with try&error-submission for my `paper.md` to check when the PDF looks best... So I want to check this locally. Or is there a kind of "typesetting" before publishing once a paper is accepted?

[2018-06-14 08:02] iljah commented on #775
Paper.md has statement of need but it's missing from readme.md (Do the authors clearly state what problems the software is designed to solve and who the target audience is?).

[2018-06-14 08:02] iljah commented on #775
Readme.md is missing community guidelines (Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support)

[2018-06-14 12:07] salabim commented on #767
@pspringer I have updated the section on reading files and the requirement section (re Pillow).

@pspringer I would like to say something about the unique features of salabim, but where?

[2018-06-14 12:48] federeghe commented on #711
@whedon generate pdf

[2018-06-14 12:48] whedon commented on #711
[code]

[2018-06-14 12:48] whedon commented on #711
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00711/joss.00711/10.21105.joss.00711.pdf)

[2018-06-14 13:09] ajjackson commented on #773
@whedon build

[2018-06-14 13:14] ajjackson commented on #773
(I just added a couple of page numbers which had escaped from the citation list.)

[2018-06-14 16:42] rcurtin commented on #726
Hello reviewers, thank you so much for your comments.  We've released mlpack 3.0.2 last week that addresses all the issues.  Is there anything else needed from our end?

Thanks!

[2018-06-14 17:01] Kevin-Mattheus-Moerman commented on #726
Great. It looks like we are all set! @mlgill @MikeInnes @rasbt thanks for reviewing :tada:

@rcurtin please can you provide the DOI to an archived version of the reviewed software? You can use a service like [Zenodo](https://zenodo.org/), let me know if you have questions (see also https://guides.github.com/activities/citable-code/).

[2018-06-14 17:01] Kevin-Mattheus-Moerman commented on #726
@arfon can you increment the version here to 3.0.2 and also proceed to accept once @rcurtin provides the DOI for the archived version? Thanks.

[2018-06-14 17:08] vsoch commented on #775
hey @iljah ! I just merged some changes to address your points above:
 - I added a "year" field to references, where appropriate
 - The version of the software coincides with the pypi release. I can definitely create a tag/official release if you think this is necessary, but generally I rely on pypi to provide these files (so there isn't confusion/ doubling of it)
 - I added the statement of need

[2018-06-14 19:59] rougier commented on #775
I think you need to work on the `paper.bib` since some references does not make much sense. For example, the github reference is not really a reference. It would be better to just add a link in the paper rather than having it as a reference.

Also, you can reformat some references, e.g.:

[code]

[2018-06-14 20:15] rougier commented on #775
For the README, why don't you advertise the pip install method instead of the docker one ?

[2018-06-14 20:39] vsoch commented on #775
Okay, I made some changes to the bib, please take a look!

I also added the install with pip to the readme. It wasn't there mostly because I want users to rely on the documentation base, but I agree that some won't want to go that many clicks (and the README is a good place to have it).

[2018-06-14 22:05] gregreen commented on #695
@jegpeek Have you had time to test the functionality of the package, or to look at the documentation?

[2018-06-15 01:19] jegpeek commented on #695
@gregreen making progress! Right now I am having this issue: I was following along in the directions [here](http://dustmaps.readthedocs.io/en/latest/examples.html#querying-reddening-at-an-array-of-coordinates):

[code]
and then got

[code]

any ideas?

[2018-06-15 01:34] gregreen commented on #695
It looks like the website isn't returning "content-length" in the headers. I'll fix the case where "content-length" is missing.

[2018-06-15 01:57] jegpeek commented on #695
<KHAAAN.gif, but instead, PLAAAANCK>
also
<and_I_helped.gif>

[2018-06-15 02:09] gregreen commented on #695
@jegpeek Can you verify that latest commit in the develop branch (gregreen/dustmaps@4c48e989c893a76f8107bf28d3e2620fd704b6ae) fixes the "content-length" issue?

[2018-06-15 03:15] Smattr commented on #766
At this point, I'm happy with the submission after the Python 3 compatibility branch is merged (https://github.com/jfjlaros/bin-parser/issues/8) and we have a tagged version (https://github.com/jfjlaros/bin-parser/issues/18). Well done addressing everything so fast, @jfjlaros.

[2018-06-15 06:13] pspringer commented on #767
@salabim I would recommend mentioning the unique features in the README file, but let's see if @danielskatz concurs.

[2018-06-15 06:30] danielskatz commented on #767
one or both of the following would be appropriate:
the readme, the documentation
in addition to in the paper.

[2018-06-15 07:15] iljah commented on #775
@whedon commands

[2018-06-15 07:15] whedon commented on #775
Here are some things you can ask me to do:

[code]

[2018-06-15 07:16] iljah commented on #775
@whedon generate pdf

[2018-06-15 07:16] whedon commented on #775
[code]

[2018-06-15 07:16] whedon commented on #775
PDF failed to compile for issue #775 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    140      0 --:--:-- --:--:-- --:--:--   141
Error reading bibl

[2018-06-15 09:31] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-15 09:31] whedon commented on #698
[code]

[2018-06-15 09:32] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-15 09:32] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-15 09:32] whedon commented on #698
[code]

[2018-06-15 09:33] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-15 09:39] jfjlaros commented on #766
I released [v1.0.0](https://github.com/jfjlaros/bin-parser/releases/tag/v1.0.0).

Thanks @Smattr, @hainesr for your suggestions and contributions. It really improved the quality of the package.

[2018-06-15 10:28] jegpeek commented on #695
Yup, works!

[2018-06-15 11:22] salabim commented on #767
I have added the requested information to paper.md and READ.me.

Ruud van der Ham
*rt.van.der.ham@gmail.com <rt.van.der.ham@gmail.com>*

On 15 June 2018 at 08:30, Daniel S. Katz <notifications@github.com> wrote:

[2018-06-15 11:24] danielskatz commented on #767
@whedon generate pdf

[2018-06-15 11:24] whedon commented on #767
[code]

[2018-06-15 11:24] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-06-15 11:29] danielskatz commented on #767
@salabim - Just looking at the paper, I think it's still too short, and also it doesn't have any references.  See http://joss.theoj.org/about#author_guidelines, and perhaps take a look at some of the accepted submissions in http://joss.theoj.org

For example, I'm not sure the paper clearly state what problems the software is designed to solve and who the target audience is?  Also, the paper could

[2018-06-15 12:20] vsoch commented on #775
oups sorry @whedon , I'm a terrible robot owner! Let's try again...

@whedon generate pdf

[2018-06-15 12:21] vsoch commented on #775
I don't think @whedon listens to me :scream:

[2018-06-15 12:21] vsoch commented on #775
@whedon generate pdf

[2018-06-15 12:22] whedon commented on #775
[code]

[2018-06-15 12:22] whedon commented on #775
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00775/joss.00775/10.21105.joss.00775.pdf)

[2018-06-15 12:42] arfon commented on #773
@whedon generate pdf

[2018-06-15 12:42] whedon commented on #773
[code]

[2018-06-15 12:43] whedon commented on #773
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00773/joss.00773/10.21105.joss.00773.pdf)

[2018-06-15 12:47] whedon commented on #773
OK. <a href="http://dx.doi.org/10.5281/zenodo.1240359" target="_blank">10.5281/zenodo.1240359</a> is the archive.

[2018-06-15 13:27] arfon commented on #589
@IbrahimTanyalcin - I'm afraid to say I don't think we're going to be able to review this submission in JOSS. I've tried multiple times to find reviewers (outside of this thread) to no avail. :-(

[2018-06-15 13:28] arfon commented on #747
Yes, this is completely fine. I'll mark this as `paused` for now - please let me know on this thread when you're ready to pick this up again.

[2018-06-15 13:49] salabim commented on #767
Updated.

Ruud van der Ham
*rt.van.der.ham@gmail.com <rt.van.der.ham@gmail.com>*

On 15 June 2018 at 13:29, Daniel S. Katz <notifications@github.com> wrote:

[2018-06-15 13:50] arfon commented on #773
@shyamd many thanks for your review here ✨

@ajjackson - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00773 :zap: 🚀:boom:

[2018-06-15 13:50] #773 closed

[2018-06-15 13:50] whedon commented on #773
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00773/status.svg)](https://doi.org/10.21105/joss.00773)

**We need your help!**

Journal of Open Source Software

[2018-06-15 14:00] edoddridge commented on #592
Thanks @rabernat and @kyleniemeyer.

I've updated the author affiliations, and the DOI is 10.5281/zenodo.1290742

[2018-06-15 14:23] kyleniemeyer commented on #592
@whedon generate pdf

[2018-06-15 14:23] whedon commented on #592
[code]

[2018-06-15 14:28] danielskatz commented on #767
@whedon generate pdf

[2018-06-15 14:28] whedon commented on #767
[code]

[2018-06-15 14:28] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-06-15 14:30] danielskatz commented on #767
@salabim - References should be specific articles or web sites.
Otherwise, I will leave it to @pspringer and @gonsie to provide more feedback on the content.

[2018-06-15 14:30] kyleniemeyer commented on #592
@whedon set 10.5281/zenodo.1290742 as archive

[2018-06-15 14:30] whedon commented on #592
OK. <a href="http://dx.doi.org/10.5281/zenodo.1290742" target="_blank">10.5281/zenodo.1290742</a> is the archive.

[2018-06-15 14:31] kyleniemeyer commented on #592
@arfon this paper is now accepted and ready to be published!

[2018-06-15 14:42] spinicist commented on #656
Thank you very much for your time.

I will keep pursuing the NeuroDebian packages, but there is a steep learning curve there. Hopefully will have some time when I get back from ISMRM.

@cMadan do you need anything more from me?

[2018-06-15 15:42] henrik227 commented on #670
What happens next, now that the checklist is complete?

[2018-06-15 15:48] iljah commented on #775
Pdf looks pretty good except github reference still has n.d., maybe adding a year would make that go away?

[2018-06-15 15:49] arfon commented on #592
@dvalters & @rabernat - many thanks for your review here and to @kyleniemeyer for editing this submission ✨

@edoddridge - your paper is now published in JOSS and your DOI is https://doi.org/10.21105/joss.00592 :zap: :rocket: :boom:

[2018-06-15 15:49] #592 closed

[2018-06-15 15:49] whedon commented on #592
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00592/status.svg)](https://doi.org/10.21105/joss.00592)

**We need your help!**

Journal of Open Source Software

[2018-06-15 15:50] Kevin-Mattheus-Moerman commented on #670
@llllllllll can you confirm we are all good to accept this submission?

[2018-06-15 15:52] Kevin-Mattheus-Moerman commented on #670
@henrik227, once @llllllllll confirms, could you create a DOI for an archived version of the reviewed software, and list it here? You can use a service like [Zenodo](http://zenodo.org/) to do this (see also [here](https://guides.github.com/activities/citable-code/)).

[2018-06-15 15:53] vsoch commented on #775
@whedon generate pdf

[2018-06-15 15:53] whedon commented on #775
[code]

[2018-06-15 15:53] whedon commented on #775
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00775/joss.00775/10.21105.joss.00775.pdf)

[2018-06-15 15:54] vsoch commented on #775
okay, added a date!

[2018-06-15 15:58] llllllllll commented on #670
I confirm that this meets all of criteria for a submission.

I would also like to say that this is a very interesting and useful project. I'm glad I was able to learn more about this while reviewing.

[2018-06-15 16:55] xirdneh commented on #589
Sorry about the delay.
Things have been quite hectic at work but it's slowing down now.
Is there a due date?
I can probably do a review of this by the 1st week of July.
Is that ok?

[2018-06-15 17:32] j-faria commented on #487
Hi @nespinoza,
I think I have now addressed all the issues raised in the review.

- There is a new example with data of 51 Peg.
  To go through this example step-by-step I created a new [getting started guide](https://github.com/j-faria/kima/wiki/Getting-started), which is included in the documentation.
- The `kima-showresults` script was changed to be a bit more intuitive
  and the [docs](https:/

[2018-06-15 17:33] IbrahimTanyalcin commented on #589
For me it does not make much of a  difference, as long as someone takes a look at it :). I'd be more then happy to ease the review process as anyway I can.

[2018-06-15 17:39] xirdneh commented on #589
@IbrahimTanyalcin Thanks. I'll probably ask you a few questions in the next days.
What do you think @arfon ?

[2018-06-15 17:51] vsoch commented on #775
How do I change the latter?

[2018-06-15 19:03] whedon opened #776 "[PRE REVIEW]: SeqPeelSort - A spike sorting algorithm for single sensillum recordings"
**Submitting author:** @grg2rsr (<a href="http://orcid.org/0000-0002-9716-3513">Georg Raiser</a>)
**Repository:** <a href="https://github.com/grg2rsr/SeqPeelSort" target ="_blank">https://github.com/grg2rsr/SeqPeelSort</a>
**Version:** v1.0
**Editor:** @arokem
**Reviewers:** @nirum

**Author instructions**

Thanks for submitting your paper to JOSS @grg2rsr. The JOSS editor (shown at the top of thi

[2018-06-15 19:03] whedon commented on #776
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-15 19:03] whedon commented on #776
[code]

[2018-06-15 19:03] whedon commented on #776
PDF failed to compile for issue #776 with the following error:

 Can't find any papers to compile :-(

[2018-06-15 19:04] arfon commented on #776
@whedon generate pdf

[2018-06-15 19:04] whedon commented on #776
[code]

[2018-06-15 19:04] whedon commented on #776
PDF failed to compile for issue #776 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/author.rb:36:in `block in build_affiliation_string': Problem with affiliations for Georg Raiser, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-a31a5c2a9125/lib/whedon/author.rb:35:in `each'

[2018-06-15 19:05] arfon commented on #776
👋 @arokem - the submitting author suggested you as the handling editor.

[2018-06-15 19:09] iljah commented on #775
Hmm don't know, @arfon is it possible to change program version in this issue, or in final paper or something?..

[2018-06-15 19:18] whedon opened #777 "[PRE REVIEW]: quimb: a python library for quantum information and many-body calculations"
**Submitting author:** @jcmgray (<a href="http://orcid.org/0000-0001-9461-3024">Johnnie Gray</a>)
**Repository:** <a href="https://github.com/jcmgray/quimb" target ="_blank">https://github.com/jcmgray/quimb</a>
**Version:** 0.4.2
**Editor:** @jedbrown
**Reviewers:** @dalcinl, @sunqm

**Author instructions**

Thanks for submitting your paper to JOSS @jcmgray. The JOSS editor (shown at the top of th

[2018-06-15 19:19] whedon commented on #777
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jedbrown it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-15 19:19] whedon commented on #777
[code]

[2018-06-15 19:19] whedon commented on #777
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00777/joss.00777/10.21105.joss.00777.pdf)

[2018-06-15 19:19] arfon commented on #777
👋@jedbrown - the submitting author suggested you as the handling editor.

[2018-06-15 19:22] whedon opened #778 "[PRE REVIEW]: GMSimViz"
**Submitting author:** @viktor76525 (<a href="http://orcid.org/0000-0001-5442-2960">Viktor</a>)
**Repository:** <a href="https://github.com/ucgmsim/GMSimViz" target ="_blank">https://github.com/ucgmsim/GMSimViz</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewers:** @leouieda, @hugoledoux

**Author instructions**

Thanks for submitting your paper to JOSS @viktor76525. The JOSS editor (shown at

[2018-06-15 19:22] whedon commented on #778
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-15 19:22] whedon commented on #778
[code]

[2018-06-15 19:22] whedon opened #779 "[PRE REVIEW]: BAMnostic: an OS-agnostic toolkit for genomic sequence analysis"
**Submitting author:** @betteridiot (<a href="http://orcid.org/0000-0002-0243-4609">Marcus</a>)
**Repository:** <a href="https://github.com/betteridiot/bamnostic" target ="_blank">https://github.com/betteridiot/bamnostic</a>
**Version:** 0.8.4
**Editor:** @pjotrp
**Reviewers:** @luizirber, @peterjc

**Author instructions**

Thanks for submitting your paper to JOSS @betteridiot. The JOSS editor (sh

[2018-06-15 19:22] whedon commented on #779
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-15 19:22] whedon commented on #779
[code]

[2018-06-15 19:22] whedon commented on #778
PDF failed to compile for issue #778 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/778/paper/paper.md): mapping values are not allowed in this context at line 9 column 9 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vendo

[2018-06-15 19:22] whedon commented on #779
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00779/joss.00779/10.21105.joss.00779.pdf)

[2018-06-15 19:23] arfon commented on #779
👋@pjotrp - the submitting author suggested you as the handling editor. Feel free to nominate someone else if you think there's a better fit with a different editor.

[2018-06-15 19:36] arfon commented on #138
@jmsigner - was this ever accepted into rOpenSci?

[2018-06-15 19:38] arfon commented on #161
👋@karthik - what would you like to do here?

[2018-06-15 19:38] arfon commented on #214
Hi @jirotubuyaki - how are you getting along here? Are you still interested in pursuing this publication in JOSS?

[2018-06-15 19:39] arfon commented on #220
:wave: what's the status of this submission? Was it ever accepted into rOpenSci?

[2018-06-15 19:40] arfon commented on #229
:wave: @bunhoel - please respond to @karthik's comments.

[2018-06-15 19:41] arfon commented on #233
@jsalminen @aknutas - please respond to @karthik's feedback.

[2018-06-15 19:42] arfon commented on #268
@scls19fr - how are we getting along here?

[2018-06-15 19:43] arfon commented on #381
👋@uriba - any chance you might pick this up again sometime soon?

[2018-06-15 19:46] arfon commented on #394
I've just send @weymouth an email letting him know that if we don't hear back from him in the next couple of weeks we'll assume he no longer wishes to publish this paper.

[2018-06-15 19:47] arfon commented on #445
:wave: @nelkibs - could you please take another look at this submission?

[2018-06-15 19:47] #481 closed

[2018-06-15 19:48] arfon commented on #481
@stsievert - many thanks for your efforts here. I've gone ahead and withdrawn the submission on behalf of the authors.

[2018-06-15 19:50] arfon commented on #508
:wave: @dwhitena - please respond to the reviewer's feedback on your project.

[2018-06-15 19:50] arfon commented on #540
:wave: how are we doing here?

[2018-06-15 19:51] arfon commented on #545
:wave: @dfm - please take another look at this when you get a chance.

[2018-06-15 19:52] arfon commented on #549
:wave: how are we getting along here? @dvalters, @paulklemm - it looks like you're reviews aren't complete yet but also we've not heard back from @jorgeboucas.

[2018-06-15 19:54] arfon commented on #634
:wave: @pboesu - could you take a look at the feedback from @xiangfstats.

[2018-06-15 19:55] arfon commented on #651
@lfasnacht - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-06-15 19:56] arfon commented on #667
How are we getting along here @gomesdasilva and @RuthAngus?

[2018-06-15 19:57] arfon commented on #668
@karthik - I think this is good to accept?

[2018-06-15 19:58] arfon commented on #676
@katyhuff - I think this review is waiting on your input.

[2018-06-15 19:59] arfon commented on #678
@karthik - I think this paper is good to accept?

[2018-06-15 20:00] arfon commented on #693
:wave: @jedbrown - I think we just need to assign a reviewer (or two) to get moving on this one.

[2018-06-15 20:01] arfon commented on #704
@jedbrown are you planning on adding a second reviewer? If not, then you can move this forward by typing:

[code]

which will make the actual review issue.

[2018-06-15 20:02] arfon commented on #710
@puncan - it looks like you're only part way through your review here. Any chance you could complete this in the next week or so?

[2018-06-15 20:04] arfon commented on #714
👋 @karthik - any chance we can assign some reviewers to get this moving along?

[2018-06-15 20:10] arfon commented on #727
:wave: @economistgame - please respond to @andrewheiss' review when you get a chance.

[2018-06-15 20:10] dvalters commented on #549
@arfon ready to proceed, but https://github.com/mpg-age-bioinformatics/bit/issues/6 question needs resolved before can test software

[2018-06-15 20:11] arfon commented on #728
:wave: @soodoku - please complete your review when you get a chance.

[2018-06-15 20:13] arfon commented on #735
👋 @jmbr - could you take a look at this again when you have a chance?

[2018-06-15 20:16] arfon commented on #756
👋@MarionLegrandLogrami - could you take a look at this list of potential reviewers and suggeste a few names? https://bit.ly/joss-reviewers

[2018-06-15 20:19] arfon commented on #775
@iljah - I can update the version here. What is the correct version @vsoch ?

[2018-06-15 20:21] arfon commented on #589
That would be great. Thanks @xirdneh. I'll go ahead and set up the actual review issue now.

[2018-06-15 20:21] arfon commented on #589
@whedon assign @xirdneh as reviewer

[2018-06-15 20:21] arfon commented on #589
@whedon assign @arfon as editor

[2018-06-15 20:21] whedon commented on #589
OK, the editor is @arfon

[2018-06-15 20:21] arfon commented on #589
@whedon start review magic-word=bananas

[2018-06-15 20:21] #589 closed

[2018-06-15 20:21] whedon opened #780 "[REVIEW]: Async Modules Supporting ES5 & ES6 with Control Flow"
**Submitting author:** @IbrahimTanyalcin (<a href="http://orcid.org/0000-0003-0327-5096">Ibrahim  Tanyalcin</a>)
**Repository:** <a href="https://github.com/IbrahimTanyalcin/taskq" target ="_blank">https://github.com/IbrahimTanyalcin/taskq</a>
**Version:** v2.1.4
**Editor:** @arfon
**Reviewer:** @xirdneh
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/864b66eb13ca2c0dc83f2

[2018-06-15 20:21] whedon commented on #589
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/780. Feel free to close this issue now!

[2018-06-15 20:21] whedon commented on #780
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @xirdneh it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-06-15 20:21] whedon commented on #780
[code]

[2018-06-15 20:22] arfon commented on #589
@xirdneh - please head over to #780 for the actual review

[2018-06-15 20:22] whedon commented on #780
PDF failed to compile for issue #780 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    178      0 --:--:-- --:--:-- --:--:--   179
Error producing PD

[2018-06-15 20:22] vsoch commented on #775
Hey @arfon ! Given no further changes, the version that is current is 0.0.35.

[2018-06-15 20:33] Kevin-Mattheus-Moerman commented on #540
The device is still here at the MIT media lab. My colleague @amjaeger17 can unfortunately no longer do this review. I will ask another colleague to take a look but if he cannot then perhaps we are at a dead end for now. Apologies for the delay this has causes with this submission.

[2018-06-15 20:34] hmenager commented on #698
@whedon generate pdf

[2018-06-15 20:34] whedon commented on #698
[code]

[2018-06-15 20:34] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-15 20:39] Kevin-Mattheus-Moerman commented on #742
I have not had luck finding other reviewers. I have e-mailed @moorepants 's suggested reviewers but have not heard back from them yet.

[2018-06-15 20:40] jedbrown commented on #693
This is a Python package with no install process (no `setup.py`; it is meant to be run out of the source directory), no tests, and no examples. It requires modifying source code just to run. The tool is a total of 480 lines of Python and there are no docstrings. I was hoping to hear from @wandreopoulos before reviewer assignment because it appears at first glance to be either "not feature complete

[2018-06-15 20:47] hmenager commented on #698
@whedon generate pdf

[2018-06-15 20:47] whedon commented on #698
[code]

[2018-06-15 20:47] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-15 21:27] puncan commented on #710
Yes, my apologies. It got away from me. Certainly within a week.

-Paul

On Fri, Jun 15, 2018 at 1:02 PM Arfon Smith <notifications@github.com>
wrote:

[2018-06-15 22:29] Benjamin-Lee commented on #769
@krother, @genomematt, @ctb, and @a-slide all seem like great potential reviewers

[2018-06-15 22:32] betteridiot commented on #779
Unofficially: I love that the JOSS bot is called whedon.

[2018-06-15 23:41] jmbr commented on #735
@arfon I closed the issue https://github.com/mirzaevinom/egtplot/issues/1 some weeks ago. It's good to go as far as I am concerned.

[2018-06-16 03:37] Benjamin-Lee commented on #769
@whedon generate pdf

[2018-06-16 03:37] whedon commented on #769
[code]

[2018-06-16 03:38] whedon commented on #769
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00769/joss.00769/10.21105.joss.00769.pdf)

[2018-06-16 04:05] jedbrown commented on #704
@whedon start review magic-word=bananas

[2018-06-16 04:05] whedon opened #781 "[REVIEW]: approxposterior: A Python Implementation of “Bayesian Active Learning For Posterior Estimation”"
**Submitting author:** @dflemin3 (<a href="http://orcid.org/0000-0001-9293-4043">David Fleming</a>)
**Repository:** <a href="github.com/dflemin3/approxposterior" target ="_blank">github.com/dflemin3/approxposterior</a>
**Version:** v0.1
**Editor:** @jedbrown
**Reviewer:** @dmdu
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/fa452b7562b4ce055c68d5f46a76f866/status.svg)](ht

[2018-06-16 04:05] whedon commented on #704
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/781. Feel free to close this issue now!

[2018-06-16 04:05] whedon commented on #781
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @dmdu it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently w

[2018-06-16 04:05] whedon commented on #781
[code]

[2018-06-16 04:05] whedon commented on #781
PDF failed to compile for issue #781 with the following error:

 Can't find any papers to compile :-(

[2018-06-16 04:07] jedbrown commented on #704
The second reviewer I had in mind just had a baby and @dmdu is entirely capable so one is enough.

[2018-06-16 04:07] #704 closed

[2018-06-16 04:21] jedbrown commented on #781
@whedon generate pdf

[2018-06-16 04:21] whedon commented on #781
[code]

[2018-06-16 04:21] whedon commented on #781
PDF failed to compile for issue #781 with the following error:

 Can't find any papers to compile :-(

[2018-06-16 04:29] jedbrown commented on #781
@arfon The submission named version v0.1, which was released prior to submission and does not contain the paper. Can we tell whedon to look at master or another branch?

[2018-06-16 04:53] jedbrown commented on #777
@mlxd :wave: would you be available to review?

[2018-06-16 06:28] strengejacke commented on #754
Thanks for your comments, I have addressed the above mentioned issues.

1) I added a paragraph with statement of need to the README file, so it's immediately obvious to visitors of the GitHub Repo. Furthermore, the README now also links to a CONTRIBUTION file.

2) I added a detailed CONTRIBUTION file, which guides users how they may contribute to my package.

3) I added a lot of tests (using testt

[2018-06-16 08:50] scls19fr commented on #268
This end of year is very difficult and this article is (unfortunately) not on top of my ToDo list. I will tackle this asap but I think you can tag it as "paused" for the next 3 weeks. Sorry and thanks again @amoeba for helping to improve quality.

[2018-06-16 09:34] uriba commented on #381
Unfortunately, I don't see this happening anytime soon.
Moreover, given the advances in other web-oriented development platforms
(python+bokeh) I think better implementation options are currently
available.
This publication can therefore be dropped.
Thanks and have a nice weekend,
Uri Barenholz

On Fri, Jun 15, 2018 at 10:43 PM, Arfon Smith <notifications@github.com>
wrote:

[2018-06-16 09:47] pjotrp commented on #779
I can be the editor. Pretty cool software.

[2018-06-16 11:57] arfon commented on #735
@drew-williamson - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-06-16 11:58] arfon commented on #781
I'm afraid we can't. I can manually compile it, or perhaps the author can make sure it's available in `master`?

[2018-06-16 11:59] arfon commented on #381
OK thanks for letting us know @uriba.

@pboesu - thank you for all of your work on this.

[2018-06-16 11:59] #381 closed

[2018-06-16 13:46] jfjlaros commented on #766
I added credits in c1f2e6e, do we also want these in the release?

[2018-06-16 15:28] mlxd commented on #777
@jedbrown I'd be happy to review, but will not be available to start until the end of July. If you require a more prompt review, feel free to choose somebody else.

[2018-06-16 18:09] mirzaevinom commented on #735
@arfon, the reviewed software files are on Zenodo now: [https://doi.org/10.5281/zenodo.1291455](https://doi.org/10.5281/zenodo.1291455). Thank you!

[2018-06-16 18:53] aknutas commented on #233
Dear @karthik and @arfon,
   apologies for the delay. After conferring, we have one query about the review process. For acceptance, is it enough that we address the issues mentioned [https://github.com/openjournals/joss-reviews/issues/233#issuecomment-378091508](https://github.com/openjournals/joss-reviews/issues/233#issuecomment-378091508); or is it also required to implement the extra features m

[2018-06-16 19:12] arfon commented on #781
@whedon generate pdf

[2018-06-16 19:12] whedon commented on #781
[code]

[2018-06-16 19:12] whedon commented on #781
PDF failed to compile for issue #781 with the following error:

 Can't find any papers to compile :-(

[2018-06-16 19:12] arfon commented on #781
@whedon generate pdf

[2018-06-16 19:13] whedon commented on #781
[code]

[2018-06-16 19:13] whedon commented on #781
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00781/joss.00781/10.21105.joss.00781.pdf)

[2018-06-16 19:13] arfon commented on #781
Sorry for the noise here folks. Looks like there was an error with the URL at the top of the thread so @whedon couldn't figure out what/where to clone.

[2018-06-16 19:29] jankatins commented on #233
No, not from my side, I just reported that because I would find it useful.

[2018-06-16 20:52] betteridiot commented on #779
@remills As last author

[2018-06-16 21:00] rougier commented on #775
@vsoch Don't you need to make a GitHub release?

[2018-06-16 21:04] rougier commented on #775
For the README, I think all the information is present but the structure is a bit weird. You have the overview and usage near the end, the contributing and license are at the subsection level (instead of section) and it is not clear that local and docker refers to the installation. I guess you can leave it as it is if your prefer but a restructuration might be an option worth to consider.

[2018-06-16 21:09] betteridiot commented on #779
As instructed, using the provided list of potential reviewers, I think the following would be well suited and qualified if they were selected to review this submission (in no particular order):
@ctb
@afrubin
@conradstack
@jean997
@wdecoster
@Adrianzo
@luizirber

[2018-06-16 21:17] vsoch commented on #775
Oh thanks @rougier I didn't remember that I needed to do this. I'll fix up the README, create a release, and post here when that is done.

[2018-06-16 22:40] wandreopoulos commented on #693
Sorry about this. I checked the community guidelines you sent me and I need
to follow them more closely. So, the submission is "not feature complete".
I do have tests and examples, but I need to push them to a new branch. I
will also make a setup.py and the proper docstrings, following the example
you sent me.
I hope it is ok to wait before reviewer assignment, until I push a new
branch.
Thank you

[2018-06-16 23:03] luizirber commented on #779
I can review it, but would recommend to wait til Monday to see if anyone else wants to review it =]

[2018-06-17 06:58] leeper commented on #754
Thanks. @jrosen48 can you take another look and see if anything else should be addressed?

[2018-06-17 10:01] pjotrp commented on #753
Ping @prasunanand

[2018-06-17 10:02] pjotrp commented on #698
Hi @bryan-brancotte - are we ready yet?

[2018-06-17 10:10] pjotrp commented on #583
Hi @serine, sorry about the delay. So, you are saying that a conda install should work. Do you happen to have some example fastq files, i.e, something I can try? I am proposing I run it myself with your help. If it works I can switch to a reviewer role and I'll ask someone else to be the editor. It has happened before.

[2018-06-17 11:12] betteridiot commented on #779
For the sake of complete transparency, a portion of my BgzfReader is a heavily modified version of the BGZF reader that @peterjc wrote. There is even attribution within that module to it. Furthermore, early on, I had consulted @peterjc about the project.

[2018-06-17 11:40] arfon commented on #735
@whedon set 10.5281/zenodo.1291455 as archive

[2018-06-17 11:40] whedon commented on #735
OK. <a href="http://dx.doi.org/10.5281/zenodo.1291455" target="_blank">10.5281/zenodo.1291455</a> is the archive.

[2018-06-17 11:46] arfon commented on #735
@Fil, @jmbr - many thanks for your reviews here ✨

@drew-williamson - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00735 :zap: :rocket: :boom:

[2018-06-17 11:46] #735 closed

[2018-06-17 11:46] whedon commented on #735
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00735/status.svg)](https://doi.org/10.21105/joss.00735)

**We need your help!**

Journal of Open Source Software

[2018-06-17 13:15] drew-williamson commented on #735
Thank you @jmbr, @Fil , and @arfon!

[2018-06-17 13:19] cMadan commented on #656
@oesteban, no problem, thank you for the thorough review!

@spinicist, you're almost done! I just need the DOI for an archived version of the current code (i.e., deposit it on Zenodo or FigShare).

[2018-06-17 14:11] labarba commented on #757
@vyasr It would help us if you could give a couple of examples of how this software could be used in research situations.

[2018-06-17 19:08] gonsie commented on #767
@salabim - Please respond to the issues in the salabim/salabim repo ([here](https://github.com/salabim/salabim/issues))

[2018-06-17 19:14] labarba commented on #757
Meanwhile, have a little fun with this video from A Capella Science: https://youtu.be/SZXHoWwBcDc