[2019-02-27 14:10] whedon commented on #1281
[code]

[2019-02-27 14:11] whedon commented on #1281
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/526
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01281](https://doi.org/10.21105/joss.01281)
2. If everything looks go

[2019-02-27 14:12] danielskatz commented on #1097
@whedon set 2.6.3 as version

[2019-02-27 14:12] whedon commented on #1097
OK. 2.6.3 is the version.

[2019-02-27 14:12] danielskatz commented on #1097
@whedon set 10.5281/zenodo.2579025 as archive

[2019-02-27 14:12] whedon commented on #1097
OK. <a href="https://doi.org/10.5281/zenodo.2579025" target="_blank">10.5281/zenodo.2579025</a> is the archive.

[2019-02-27 14:13] danielskatz commented on #1097
@whedon accept

[2019-02-27 14:13] whedon commented on #1097
[code]

[2019-02-27 14:13] whedon commented on #1097
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/527

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/527, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-27 14:14] whedon commented on #1097
[code]

[2019-02-27 14:14] #1281 closed

[2019-02-27 14:14] whedon commented on #1281
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01281/status.svg)](https://doi.org/10.21105/joss.01281)

**We need your help!**

Journal of Open Source Softwar

[2019-02-27 14:18] danielskatz commented on #1097
Thanks to @gsagnol and @djmitche for your reviews

[2019-02-27 14:18] danielskatz commented on #1097
@whedon accept deposit=true

[2019-02-27 14:18] whedon commented on #1097
[code]

[2019-02-27 14:19] whedon commented on #1097
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/528
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01097](https://doi.org/10.21105/joss.01097)
2. If everything looks go

[2019-02-27 14:20] #1097 closed

[2019-02-27 14:20] whedon commented on #1097
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01097/status.svg)](https://doi.org/10.21105/joss.01097)

**We need your help!**

Journal of Open Source Softwar

[2019-02-27 14:21] whedon opened #1282 "[PRE REVIEW]: Chem-name-gen: A Markov name generator for chemoinformatical projects"
**Submitting author:** @Schallaven (<a href="http://orcid.org/0000-0001-7423-4609">Sven Kochmann</a>)
**Repository:** <a href="https://github.com/Schallaven/chem-name-gen" target ="_blank">https://github.com/Schallaven/chem-name-gen</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @Schallaven. **Currently, there isn'

[2019-02-27 14:21] whedon commented on #1282
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-27 14:21] whedon commented on #1282
[code]

[2019-02-27 14:22] whedon opened #1283 "[PRE REVIEW]: ChiRP: Chinese Restaurant Process Mixtures for Regression and Clustering"
**Submitting author:** @stablemarkets (<a href="http://orcid.org/0000-0002-0437-4611">Arman Oganisian</a>)
**Repository:** <a href="https://github.com/stablemarkets/ChiRP" target ="_blank">https://github.com/stablemarkets/ChiRP</a>
**Version:** 1.0.0
**Editor:** @pjotrp
**Reviewers:** @agisga

**Author instructions**

Thanks for submitting your paper to JOSS @stablemarkets. **Currently, there isn'

[2019-02-27 14:22] whedon commented on #1282
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01282/joss.01282/10.21105.joss.01282.pdf)

[2019-02-27 14:22] whedon commented on #1283
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-27 14:22] whedon commented on #1283
[code]

[2019-02-27 14:23] danielskatz commented on #1283
👋 @eramirem - the authors requested you as the editor of this submission.  Are you willing to do so?

[2019-02-27 14:26] eendebakpt commented on #1097
@danielskatz @gsagnol @djmitche Thanks for reviewing the package. It helped us to improve the package structure.

[2019-02-27 14:26] danielskatz commented on #1283
@whedon generate pdf

[2019-02-27 14:26] whedon commented on #1283
[code]

[2019-02-27 14:26] whedon commented on #1283
PDF failed to compile for issue #1283 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    201      0 --:--:-- --:--:-- --:--:--   202
sh: 0: getcwd() f

[2019-02-27 14:28] danielskatz commented on #1283
@arfon - I'm unsure what's happening here with the paper - Can you check?

[2019-02-27 14:37] danielskatz commented on #1248
Ping - just noting that this has been sitting for almost 2 weeks now.

[2019-02-27 14:39] danielskatz commented on #1225
@jenskober - How are you doing with your review?

[2019-02-27 14:41] danielskatz commented on #1157
👋 @taqtiqa-mark - can you let us know if this is acceptable to you?

In my opinion, this would meet the JOSS  criteria.

Also, how is your review coming otherwise?

[2019-02-27 14:51] jenskober commented on #1225
I got started a little bit, but am now busy with conference deadlines till this weekend

From: Daniel S. Katz <notifications@github.com>
Sent: woensdag 27 februari 2019 15:39
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Jens Kober - 3ME <J.Kober@tudelft.nl>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: DmpBbo: A versatile Python/C++

[2019-02-27 14:59] arfon commented on #764
@whedon set 10.5281/zenodo.2578973 as archive

[2019-02-27 14:59] whedon commented on #764
OK. <a href="https://doi.org/10.5281/zenodo.2578973" target="_blank">10.5281/zenodo.2578973</a> is the archive.

[2019-02-27 14:59] arfon commented on #764
@whedon set 0.2.0 as version

[2019-02-27 14:59] whedon commented on #764
OK. 0.2.0 is the version.

[2019-02-27 14:59] arfon commented on #764
@whedon accept

[2019-02-27 14:59] whedon commented on #764
[code]

[2019-02-27 14:59] whedon commented on #764
[code]

[2019-02-27 14:59] whedon commented on #764
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/529

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/529, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-27 15:01] arfon commented on #764
@whedon accept deposit=true

[2019-02-27 15:01] whedon commented on #764
[code]

[2019-02-27 15:02] whedon commented on #764
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/530
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00764](https://doi.org/10.21105/joss.00764)
2. If everything looks go

[2019-02-27 15:03] katyhuff commented on #1185
Sorry for the delay in responding to your question, @behollister .

Generally speaking, my approach to this is to assess whether the scientific functionality of the work is demonstrated and confimed by the tests, so full coverage is certainly not required, but test coverage should confirm the capability claims of the work.

Anyway -- thanks for conducting your review @behollister !

[2019-02-27 15:04] katyhuff commented on #1185
@trallard : I know you estimated review completion around this time. I hope that's still the target timeline! Thank you!

[2019-02-27 15:07] whedon commented on #764
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00764/status.svg)](https://doi.org/10.21105/joss.00764)

**We need your help!**

Journal of Open Source Softwar

[2019-02-27 15:08] arfon commented on #764
@kbenoit - many thanks for your review of this submission ✨

@evan-l-munson - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-02-27 15:08] #764 closed

[2019-02-27 15:08] whedon commented on #764
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00764/status.svg)](https://doi.org/10.21105/joss.00764)

**We need your help!**

Journal of Open Source Softwar

[2019-02-27 15:13] aguang commented on #1271
I can also review

[2019-02-27 15:13] robinweide commented on #1248
I can look at it next week.

[2019-02-27 15:14] stablemarkets commented on #1283
Hi Daniel. I forgot to include a .png file that was called in paper.md. Maybe that was causing a compilation error? I fixed it now so that my paper.md, paper.bib, and the figure are all in the paper/ subdirectory of my GitHub repo. Maybe it will work now.

[2019-02-27 15:17] whedon commented on #1283
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01283/joss.01283/10.21105.joss.01283.pdf)

[2019-02-27 15:22] danielskatz commented on #1283
thanks

[2019-02-27 15:22] danielskatz commented on #1283
@whedon generate pdf

[2019-02-27 15:22] whedon commented on #1283
[code]

[2019-02-27 15:22] whedon commented on #1283
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01283/joss.01283/10.21105.joss.01283.pdf)

[2019-02-27 15:23] robinweide commented on #1279
@whedon commands

[2019-02-27 15:23] whedon commented on #1279
Here are some things you can ask me to do:

[code]

[2019-02-27 15:24] danielskatz commented on #1283
@pjotrp - Do you think your group can edit this?

[2019-02-27 15:39] danielskatz commented on #1097
🎉🎉🎉 This was the 500th accepted paper in JOSS! 🎉🎉🎉

[2019-02-27 16:16] NelleV commented on #1248
Hi. So sorry, I missed the first notification.
Do you need one or two reviewers? I can probably compile a list of people from the Hi-C community, but they might not be python developers.

[2019-02-27 16:18] NelleV commented on #1248
Actually, Jacob Schrieber would also be a good fit (https://homes.cs.washington.edu/~jmschr/)

[2019-02-27 16:20] tleonardi commented on #1228
@arfon It looks like whedon is not picking up the second reference (Prins 2014). Is this normal?

[2019-02-27 16:20] dmbates commented on #1271
I can also review.

[2019-02-27 16:24] HaoZeke commented on #1278
Hi, @matbesancon I've initiated the review process and hope to finish in the next couple of days. I will be opening pull requests and issues on the repository tracker, but I might also ask for clarifications here (typically with matters pertaining to the paper itself). In addition, for the `paper.md`, I request that a copy to make changes on [hackmd.io](https://hackmd.io) is made available to me a

[2019-02-27 16:26] HaoZeke commented on #1278
@whedon check references

[2019-02-27 16:27] whedon commented on #1278
[code]

[2019-02-27 16:27] whedon commented on #1278
[code]

[2019-02-27 16:27] HaoZeke commented on #1278
@matbesancon, please update the `paper.md` file to fix the missing DOIs.

[2019-02-27 16:58] karthik commented on #1194
@hbodory Your GitHub repo has to be the full package repository that includes all the files. The built package source is not helpful. Here is an example of an R package on GitHub: https://github.com/ropensci/drake

[2019-02-27 17:02] arfon commented on #1228
Yeah, I think we only check article DOIs at this point.

[2019-02-27 17:03] ianhbell commented on #1147
To everyone, sorry for the delay in dealing with this review...

@sjvrijn I will, as I have done for other projects, bump the revision to 1.0.0 once the review is complete, and at that time I will mint a DOI, and push to PyPI.  Thanks for the pointer about the DOI (fixed).  Didn't realize that the conference paper had a DOI.

[2019-02-27 17:10] tleonardi commented on #1228
Oh, ok, thanks for the clarification ;)

[2019-02-27 17:33] ianhbell commented on #1147
Sorry for the delay everyone...

@sjvrijn Thanks for the pointer about the DOI; I fixed that, didn't know that the conference paper had a DOI.  I plan to bump the version to 1.0.0 once the review is complete, mint a DOI for the release, and push to PYPI.

@mmenickelly

1. Good point regarding docs.  I have set up to use doxygen to generate docs, and have committed a PDF of the documentation.  It's

[2019-02-27 17:49] danehkar commented on #799
@whedon generate pdf

[2019-02-27 17:49] whedon commented on #799
[code]

[2019-02-27 17:49] edifice1989 commented on #1255
Hi Melissa,

    I just found a typo in the paper.md. I made changes to that. Is that
enough to fix this typo to be reflected in the final version? What else
should I do?

   Thanks!!

Best,
Ming

On Fri, Feb 15, 2019 at 2:26 PM Melissa Gymrek <notifications@github.com>
wrote:

[2019-02-27 17:49] whedon commented on #799
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00799/joss.00799/10.21105.joss.00799.pdf)

[2019-02-27 18:08] danehkar commented on #799
@whedon generate pdf

[2019-02-27 18:08] whedon commented on #799
[code]

[2019-02-27 18:09] whedon commented on #799
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00799/joss.00799/10.21105.joss.00799.pdf)

[2019-02-27 18:13] danehkar commented on #898
@arfon I updated the paper, and regenerated the pdf.  You can check it here: [799](https://github.com/openjournals/joss-reviews/issues/799).

[2019-02-27 18:31] matbesancon commented on #1278
The hackmd can be found there:
https://hackmd.io/s/B1e2UUNIE#

[2019-02-27 18:43] matbesancon commented on #1278
@HaoZeke the first DOI seems invalid (the preprint does not correspond to the article suggested), I'm fixing the others in https://github.com/matbesancon/BilevelOptimization.jl/pull/9

[2019-02-27 18:51] arfon commented on #898
@whedon generate pdf

[2019-02-27 18:51] whedon commented on #898
[code]

[2019-02-27 18:52] whedon commented on #898
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00898/joss.00898/10.21105.joss.00898.pdf)

[2019-02-27 18:59] ianhbell commented on #1147
I have set up the Travis tests (https://travis-ci.org/usnistgov/CEGO), and pushed all changes to the repo.  Awaiting round number 2!

[2019-02-27 19:23] voytek commented on #1272
Thanks, @TomDLT! The lab's been very diligent about our software development.

We have now added a reference to the dual-threshold burst algorithm: Feingold et al., PNAS 2015: Bursts of beta oscillation differentiate post-performance activity in the striatum and motor cortex of monkeys performing movement tasks.

Excellent point. I've added the following comment to the paper: "Note that these simu

[2019-02-27 19:42] adrena-lab commented on #1241
@whedon generate pdf

[2019-02-27 19:42] whedon commented on #1241
[code]

[2019-02-27 19:43] whedon commented on #1241
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01241/joss.01241/10.21105.joss.01241.pdf)

[2019-02-27 19:45] adrena-lab commented on #1241
Dear Daniel,

I have adjusted the paper to include the research applications and target audience and provided significant modifications to the ReadMe file.  I hope this is sufficient.

Thank you,

Niamh

[2019-02-27 20:09] danielskatz commented on #1241
thanks - this looks nice to me.

[2019-02-27 20:11] danielskatz commented on #1241
👋 @trallard - would you be willing to edit this submission?

[2019-02-27 20:15] karthik commented on #1212
On further examination, you have uploaded the binary version of your package to Github. We need to see the source files.

[2019-02-27 20:17] leouieda commented on #1271
@matbesancon @aguang @dmbates thank you for agreeing to review! :tada: @ChrisRackauckas no worries since we have 3 reviewers already.

[2019-02-27 20:18] karthik commented on #785
The updates look good to me. @kylehamilton Could you have a look please and check off your remaining items (or raise more issues?) 🙏

[2019-02-27 20:21] leouieda commented on #1271
@dmbates initially we only need 2 reviewers so I'll go with the order of response. Thank you for volunteering and I'll keep you in mind if we need a third reviewer (if that's ok with you).

[2019-02-27 20:21] leouieda commented on #1271
@whedon assign @matbesancon as reviewer

[2019-02-27 20:21] whedon commented on #1271
OK, the reviewer is @matbesancon

[2019-02-27 20:22] leouieda commented on #1271
@whedon add @aguang as reviewer

[2019-02-27 20:22] whedon commented on #1271
OK, @aguang is now a reviewer

[2019-02-27 20:25] dmbates commented on #1271
Certainly.  Thanks for letting me know.

[2019-02-27 20:26] leouieda commented on #1271
@whedon start review

[2019-02-27 20:26] whedon opened #1284 "[REVIEW]: JuliaCall: an R package for seamless integration between R and Julia"
**Submitting author:** @Non-Contradiction (<a href="http://orcid.org/0000-0001-7022-0947">Changcheng Li</a>)
**Repository:** <a href="https://github.com/Non-Contradiction/JuliaCall" target ="_blank">https://github.com/Non-Contradiction/JuliaCall</a>
**Version:** v0.16.5
**Editor:** @leouieda
**Reviewer:** @matbesancon, @aguang
**Archive:** <a href="https://doi.org/10.5281/zenodo.2591769" target="_

[2019-02-27 20:26] whedon commented on #1271
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1284. Feel free to close this issue now!

[2019-02-27 20:26] whedon commented on #1284
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-02-27 20:26] whedon commented on #1284
[code]

[2019-02-27 20:26] whedon commented on #1284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01284/joss.01284/10.21105.joss.01284.pdf)

[2019-02-27 20:33] leouieda commented on #1271
@matbesancon @aguang  @Non-Contradiction the review will take place in #1284. Please feel free to ping me at any time if you have questions.

@matbesancon @aguang there are instructions in the issue and a link to our review guidelines. When you open issues and/or pull requests in the software repo, please link back to the review issue so we can keep track of progress by including `openjournals/jos

[2019-02-27 20:33] #1271 closed

[2019-02-27 21:59] lheagy commented on #1136
@whedon assign @flohorovicic as reviewer

[2019-02-27 21:59] whedon commented on #1136
OK, the reviewer is @flohorovicic

[2019-02-27 22:00] yochannah commented on #1211
right, I think we'll have to take up your offer @alexhanna - I'll kick off the review process now. Thanks for being willing to review! 👍

[2019-02-27 22:01] yochannah commented on #1211
@whedon assign @alexhanna as reviewer

[2019-02-27 22:01] whedon commented on #1211
OK, the reviewer is @alexhanna

[2019-02-27 22:01] yochannah commented on #1211
@whedon start review

[2019-02-27 22:01] whedon opened #1285 "[REVIEW]: Detecting Fraud in Online Surveys by Tracing, Scoring, and Visualizing IP Addresses"
**Submitting author:** @pdwaggoner (<a href="http://orcid.org/0000-0002-7825-7573">Philip D. Waggoner</a>)
**Repository:** <a href="https://github.com/MAHDLab/rIP" target ="_blank">https://github.com/MAHDLab/rIP</a>
**Version:** 1.1.2
**Editor:** @yochannah
**Reviewer:** @alexhanna
**Archive:** <a href="https://doi.org/10.5281/zenodo.3178394" target="_blank">10.5281/zenodo.3178394</a>

## Status

[2019-02-27 22:01] whedon commented on #1211
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1285. Feel free to close this issue now!

[2019-02-27 22:01] whedon commented on #1285
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexhanna it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-02-27 22:01] whedon commented on #1285
[code]

[2019-02-27 22:02] whedon commented on #1285
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01285/joss.01285/10.21105.joss.01285.pdf)

[2019-02-27 22:02] yochannah commented on #1211
Right - @pdwaggoner and @alexhanna, let's hop over to #1285 - it has all the instructions for the review! :)

[2019-02-27 22:02] #1211 closed

[2019-02-27 22:06] lheagy commented on #1136
Many thanks @flohorovicic for being willing to review! If you haven't done so already, please accept the invitation from: https://github.com/openjournals/joss-reviews/invitations. This will allow you to check off the tick-boxes in the main thread above. If there are items that you see are missing or could be improved, please either comment here or create an issue in the [target repository](https:/

[2019-02-27 22:53] pdwaggoner commented on #1211
Perfect! Many thanks all - excited to get this underway. Let me know if you need anything from me in the meantime.

[2019-02-27 22:54] pdwaggoner commented on #1285
Looks great! Thanks again. Let me know next steps whenever they happen.

[2019-02-28 01:27] brainstorm commented on #1228
After another read/checking, it should be ready to go, @arfon, all done here, thanks everyone 👍

[2019-02-28 02:09] evan-l-munson commented on #764
@arfon and @kbenoit thank you both so much for your help!  Take care!

[2019-02-28 02:38] danielskatz commented on #1228
I’ll take care of this in a couple of hours.

[2019-02-28 04:43] danielskatz commented on #1228
@whedon accept

[2019-02-28 04:43] whedon commented on #1228
[code]

[2019-02-28 04:44] whedon commented on #1228
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/531

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/531, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-28 04:44] whedon commented on #1228
[code]

[2019-02-28 04:46] danielskatz commented on #1228
@whedon accept deposit=true

[2019-02-28 04:46] whedon commented on #1228
[code]

[2019-02-28 04:47] whedon commented on #1228
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/532
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01228](https://doi.org/10.21105/joss.01228)
2. If everything looks go

[2019-02-28 04:47] danielskatz commented on #1228
Thanks for editing @brainstorm, and for reviewing, @Benjamin-Lee!

[2019-02-28 04:48] #1228 closed

[2019-02-28 04:48] whedon commented on #1228
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01228/status.svg)](https://doi.org/10.21105/joss.01228)

**We need your help!**

Journal of Open Source Softwar

[2019-02-28 05:30] gnarayan commented on #1247
I've included a PDF with the review detailing the major issues to address, together with logfiles with the output from stdout and stderr on running `make test` and from `make monitor` followed by status.

The issues are not with the paper, or the software itself (which I thank @stefanv for demonstrating live - that always involves some risk). Rather they arise because the default installation does

[2019-02-28 08:07] matbesancon commented on #1278
@whedon check references

[2019-02-28 08:07] whedon commented on #1278
[code]

[2019-02-28 08:07] whedon commented on #1278
[code]

[2019-02-28 08:08] matbesancon commented on #1278
missing DOI still invalid

[2019-02-28 08:49] justinalsing commented on #1157
I plan on proceeding with the above plan anyway (and can add more later if needed), just need to find time to sit down and do this, hopefully next week (maybe sooner)

[2019-02-28 08:57] HaoZeke commented on #1278
Yeah, we'll just have to let that one go. It does not seem to correspond to any DOI. Even the ISSN number does not seem valid. @matbesancon

[2019-02-28 08:58] matbesancon commented on #1284
@whedon check references

[2019-02-28 08:58] whedon commented on #1284
[code]

[2019-02-28 08:58] whedon commented on #1284
[code]

[2019-02-28 09:03] matbesancon commented on #1278
yup I just saw it is considered as a book and not article on google scholar now, I'll update the bib

[2019-02-28 09:06] matbesancon commented on #1278
@whedon build pdf
@whedon check references

[2019-02-28 09:06] matbesancon commented on #1278
@whedon build pdf

[2019-02-28 09:07] matbesancon commented on #1278
@whedon generate pdf

[2019-02-28 09:07] whedon commented on #1278
[code]

[2019-02-28 09:08] whedon commented on #1278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01278/joss.01278/10.21105.joss.01278.pdf)

[2019-02-28 09:09] matbesancon commented on #1278
@whedon check references

[2019-02-28 09:09] whedon commented on #1278
[code]

[2019-02-28 09:09] whedon commented on #1278
[code]

[2019-02-28 09:35] tleonardi commented on #1228
Great, thank you everyone! In particular thanks to @Benjamin-Lee for reviewing and helping to improve the paper and to @brainstorm for editing!

[2019-02-28 10:16] MarionLegrandLogrami commented on #791
Hi @boshek and @labarba - We are happy to inform you that we completed the development of the automated installation of our package stacomiR and that we commited the scripts on github. We produced two versions of the automated installation: one for Windows and the other for Linux. To date, we thoroughly tested the installation under Windows. We still have some checks to perform on the Linux versio

[2019-02-28 10:37] cMadan commented on #1204
@rljacobson, thanks for the update!

[2019-02-28 13:15] pjotrp commented on #1248
@whedon assign @robinweide as reviewer

[2019-02-28 13:16] pjotrp commented on #1248
@whedon assign @pjotrp as editor

[2019-02-28 13:16] whedon commented on #1248
OK, the editor is @pjotrp

[2019-02-28 13:16] pjotrp commented on #1248
@whedon assign @robinweide as reviewer

[2019-02-28 13:16] whedon commented on #1248
OK, the reviewer is @robinweide

[2019-02-28 13:17] pjotrp commented on #1248
@whedon start review

[2019-02-28 13:17] whedon opened #1286 "[REVIEW]: iced: fast and memory efficient normalization of contact maps"
**Submitting author:** @NelleV (<a href="http://orcid.org/0000-0002-8748-6546">Nelle varoquaux</a>)
**Repository:** <a href="https://github.com/hiclib/iced" target ="_blank">https://github.com/hiclib/iced</a>
**Version:** v0.5.1
**Editor:** @pjotrp
**Reviewer:** @robinweide
**Archive:** <a href="https://doi.org/10.5281/zenodo.2622857" target="_blank">10.5281/zenodo.2622857</a>

## Status

[![statu

[2019-02-28 13:17] whedon commented on #1248
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1286. Feel free to close this issue now!

[2019-02-28 13:17] whedon commented on #1286
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @robinweide it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-02-28 13:17] whedon commented on #1286
[code]

[2019-02-28 13:17] pjotrp commented on #1248
We may add a reviewer later.

[2019-02-28 13:17] #1248 closed

[2019-02-28 13:18] whedon commented on #1286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01286/joss.01286/10.21105.joss.01286.pdf)

[2019-02-28 13:18] pjotrp commented on #1286
@NelleV, we are starting review in this issue tracker. To expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2019-02-28 13:23] pjotrp commented on #1283
Yes. @agisga, this looks like something of interest to you. Can you take a look at above paper and see if you can review it?

[2019-02-28 13:28] pjotrp commented on #1236
@whedon set  10.5281/zenodo.2578275 as archive

[2019-02-28 13:28] whedon commented on #1236
OK. <a href="https://doi.org/10.5281/zenodo.2578275" target="_blank">10.5281/zenodo.2578275</a> is the archive.

[2019-02-28 13:29] pjotrp commented on #1236
@whedon generate pdf

[2019-02-28 13:29] whedon commented on #1236
[code]

[2019-02-28 13:29] whedon commented on #1236
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01236/joss.01236/10.21105.joss.01236.pdf)

[2019-02-28 13:30] pjotrp commented on #1236
@whedon accept

[2019-02-28 13:30] whedon commented on #1236
[code]

[2019-02-28 13:31] whedon commented on #1236
[code]

[2019-02-28 13:32] whedon commented on #1236
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/533

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/533, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-28 13:35] pjotrp commented on #1236
@arfon we are ready to R&R

[2019-02-28 13:46] danielskatz commented on #1236
Hi @pjotrp - the new practices, now that we have AEiCs and Arfon doesn't have to do this all himself, is to notify @openjournals/joss-eics when a paper is ready to go.  That's me this week, and I'll go ahead and do this now.

[2019-02-28 13:50] pjotrp commented on #1236
Alright. Hard to get rid of old habits...

[2019-02-28 13:57] danielskatz commented on #1236
@a-slide - Can I ask for some small updates to the paper?  All related to cases...  I've suggested them via https://github.com/a-slide/pycoQC/pull/55

[2019-02-28 14:00] a-slide commented on #1236
Hi @danielskatz,
Sure thanks. Should I also update the package version number ?

[2019-02-28 14:01] danielskatz commented on #1236
I don't think it's needed for such a small text-only change in the paper

[2019-02-28 14:06] tleonardi commented on #1236
I've also added a pull request for a problem with the @ in my affiliation

[2019-02-28 14:10] a-slide commented on #1236
I think I merged everything to master

[2019-02-28 14:11] danielskatz commented on #1236
@whedon accept

[2019-02-28 14:11] whedon commented on #1236
[code]

[2019-02-28 14:12] whedon commented on #1236
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/534

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/534, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-02-28 14:12] whedon commented on #1236
[code]

[2019-02-28 14:13] danielskatz commented on #1236
@whedon accept deposit=true

[2019-02-28 14:13] whedon commented on #1236
[code]

[2019-02-28 14:14] whedon commented on #1236
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/535
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01236](https://doi.org/10.21105/joss.01236)
2. If everything looks go

[2019-02-28 14:14] danielskatz commented on #1236
Thanks:
@a-slide for submitting
@george-githinji for reviewing
@pjotrp for editing

[2019-02-28 14:15] #1236 closed

[2019-02-28 14:15] whedon commented on #1236
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01236/status.svg)](https://doi.org/10.21105/joss.01236)

**We need your help!**

Journal of Open Source Softwar

[2019-02-28 14:26] agisga commented on #1283
@pjotrp Yes, I would be happy to do the review. Please let me know if there any specific instructions for referees that I need to follow.

[2019-02-28 14:31] a-slide commented on #1236
Thanks everyone !
JOSS is awesome

[2019-02-28 14:34] danielskatz commented on #1236
We are aware there is a problem with the paper on the JOSS site - hopefully to be resolved soon.

[2019-02-28 15:23] arfon commented on #1236
Things are now fixed.

[2019-02-28 15:24] pjotrp commented on #1283
@whedon assign @pjotrp as editor

[2019-02-28 15:24] whedon commented on #1283
OK, the editor is @pjotrp

[2019-02-28 15:25] pjotrp commented on #1283
@whedon assign @agisga as reviewer

[2019-02-28 15:25] whedon commented on #1283
OK, the reviewer is @agisga

[2019-02-28 15:25] pjotrp commented on #1283
@whedon start review

[2019-02-28 15:25] whedon opened #1287 "[REVIEW]: ChiRP: Chinese Restaurant Process Mixtures for Regression and Clustering"
**Submitting author:** @stablemarkets (<a href="http://orcid.org/0000-0002-0437-4611">Arman Oganisian</a>)
**Repository:** <a href="https://github.com/stablemarkets/ChiRP" target ="_blank">https://github.com/stablemarkets/ChiRP</a>
**Version:** 1.0.0
**Editor:** @pjotrp
**Reviewer:** @agisga
**Archive:** <a href="https://doi.org/10.5281/zenodo.2591600" target="_blank">10.5281/zenodo.2591600</a>

#

[2019-02-28 15:25] whedon commented on #1283
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1287. Feel free to close this issue now!

[2019-02-28 15:25] whedon commented on #1287
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @agisga it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-02-28 15:25] whedon commented on #1287
[code]

[2019-02-28 15:25] #1283 closed

[2019-02-28 15:25] whedon commented on #1287
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01287/joss.01287/10.21105.joss.01287.pdf)

[2019-02-28 15:26] pjotrp commented on #1287
@stablemarkets,  we are starting review in this issue tracker. To expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2019-02-28 17:10] Schallaven commented on #1282
From the JOSS list of reviewers, I think the following people (chemists + python experience) would be a good choice for review:

khinsen, bjmorgan, richardjgowers, mkhorton, diegoenry, vahtras, bovee, JCH936, matthiaslein, fdroessler, semacu, malramsay64, robertodr, KEIPERTK, peterjwatkins, arosen93, Rgcjk, usethedata, maxscheurer, foeroyingur, goerz, utf, untzag, mdmurbach, RMeli, symmy596

Addit

[2019-02-28 17:48] arokem commented on #1267
Hey @snastase : would you be willing to review this paper for JOSS?

[2019-02-28 18:45] snastase commented on #1267
@arokem Sure—will do. Hopefully will be able to get to it next week.

[2019-02-28 20:06] trallard commented on #1241
Hi @danielskatz 👋 I would be happy to take this up on

[2019-02-28 20:30] danielskatz commented on #1241
@whedon assign @trallard as editor

[2019-02-28 20:30] whedon commented on #1241
OK, the editor is @trallard

[2019-02-28 20:31] whedon opened #1288 "[PRE REVIEW]: MicrobiomeR: An R Package for Simplified and Standardized Microbiome Analysis Workflows"
**Submitting author:** @grabear (<a href="http://orcid.org/0000-0001-8096-0180">Robert Gilmore</a>)
**Repository:** <a href="https://github.com/vallenderlab/MicrobiomeR" target ="_blank">https://github.com/vallenderlab/MicrobiomeR</a>
**Version:** 0.5.1
**Editor:** @lpantano
**Reviewers:** @CosteaPaul

**Author instructions**

Thanks for submitting your paper to JOSS @grabear. **Currently, there i

[2019-02-28 20:31] whedon commented on #1288
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-28 20:31] whedon commented on #1288
[code]

[2019-02-28 20:31] whedon commented on #1288
PDF failed to compile for issue #1288 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1288 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-02-28 20:32] danielskatz commented on #1288
👋 @pjotrp - the author requested you (or someone from your group) as editor - ok?
Of course, some work is needed on the paper first...

[2019-02-28 20:34] danielskatz commented on #1288
👋 @grabear - I don't see the paper part of your submission.  Take a look at the [author submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html), specifically [What should my paper contain?](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) and [Example paper and bibliography](https://joss.readthedocs.io/en/latest/submitting.html#example-paper

[2019-02-28 20:35] whedon opened #1289 "[PRE REVIEW]: PyBIDS: Python tools for BIDS datasets"
**Submitting author:** @tyarkoni (<a href="http://orcid.org/0000-0002-6558-5113">Tal Yarkoni</a>)
**Repository:** <a href="https://github.com/bids-standard/pybids" target ="_blank">https://github.com/bids-standard/pybids</a>
**Version:** 0.8.0
**Editor:** @cMadan
**Reviewers:** @grlee77

**Author instructions**

Thanks for submitting your paper to JOSS @tyarkoni. **Currently, there isn't an JOSS e

[2019-02-28 20:35] whedon commented on #1289
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-28 20:35] whedon commented on #1289
[code]

[2019-02-28 20:35] whedon commented on #1289
PDF failed to compile for issue #1289 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01e

[2019-02-28 20:36] danielskatz commented on #1289
👋 @cMadan - the submitting author requested you as the editor - is this ok?

[2019-02-28 20:39] danielskatz commented on #1289
👋 @tyarkoni - your paper.md authors and affiliations aren't formatted right - see https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography for an example of how this needs to be.

[2019-02-28 20:39] whedon opened #1290 "[PRE REVIEW]: healpy: equal area pixelization and spherical harmonics transforms for data on the sphere in Python"
**Submitting author:** @zonca (<a href="http://orcid.org/0000-0001-6841-1058">Andrea Zonca</a>)
**Repository:** <a href="https://github.com/healpy/healpy" target ="_blank">https://github.com/healpy/healpy</a>
**Version:** 1.12.8
**Editor:** @xuanxu
**Reviewers:** @harpolea

**Author instructions**

Thanks for submitting your paper to JOSS @zonca. **Currently, there isn't an JOSS editor assigned**

[2019-02-28 20:39] whedon commented on #1290
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-02-28 20:39] whedon commented on #1290
[code]

[2019-02-28 20:40] whedon commented on #1290
PDF failed to compile for issue #1290 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135

[2019-02-28 20:40] danielskatz commented on #1290
👋 @xuanxu - the authors suggested you as the editor for this submission - is this ok?

[2019-02-28 20:42] danielskatz commented on #1290
👋 @zonca - in your paper.md, all authors should have affiliations.  And if there is no ORCID, please remove the ```orcid:``` line.  After fixing these, try to recompile by entering ```@whedon generate pdf``` as a new comment in this issue

[2019-02-28 20:43] danielskatz commented on #1282
Thanks @Schallaven - the editor will work on getting some of these reviews lined up, once we get one :)

[2019-02-28 20:44] danielskatz commented on #1282
I also want to make sure this submission meets the JOSS requirements.  Can you explain how it is research software, and how it will be cited by researchers?

[2019-02-28 20:46] danielskatz commented on #1254
@Amudtogal - Sorry for the delay, I was just looking here to see if you had responded, but then also thought to look at the repo, where I see that you have moved the file.

[2019-02-28 20:46] danielskatz commented on #1254
@whedon generate pdf

[2019-02-28 20:46] whedon commented on #1254
[code]

[2019-02-28 20:46] whedon commented on #1254
PDF failed to compile for issue #1254 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2019-02-28 20:52] danielskatz commented on #1254
👋 @arfon - Can you help me see what's wrong with this?  The figure line in [paper.md](https://github.com/dfki-ric/phobos/blob/master/paper.md) looks ok.  Is there a problem with having a link in a caption?  Or the formatting?

[2019-02-28 20:56] stefanv commented on #1247
Thanks for the review, @gnarayan!  I will address the issues you mentioned and report back here.

[2019-02-28 21:01] grabear commented on #1288
Hi, I put the paper in a separate folder under inst/paper/ @danielskatz

[2019-02-28 21:03] tyarkoni commented on #1289
Re: editor, I would have requested @arokem because of his Python expertise, but he's a contributor to the repository, so it seemed like a conflict of interest.

There's a PR that I *think* fixes the issues. Let's see...

@whedon generate pdf from branch joss

[2019-02-28 21:08] danielskatz commented on #1288
@whedon generate pdf from inst/paper

[2019-02-28 21:08] whedon commented on #1288
[code]

[2019-02-28 21:08] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-02-28 21:12] danielskatz commented on #1288
thanks - I see some issues with the figure, the table, and the references.  You can make changes to the paper.md and paper.bib, then use the same command I used (as a new comment here) to regenerate until you are satisfied with the generated proof.

[2019-02-28 21:13] danielskatz commented on #1288
In the meantime, @pjotrp and his group can figure out who will edit this, I think.

[2019-02-28 21:14] danielskatz commented on #1289
Whedon commands need to be new comments

[2019-02-28 21:14] danielskatz commented on #1289
@whedon generate pdf from branch joss

[2019-02-28 21:14] whedon commented on #1289
[code]

[2019-02-28 21:15] whedon commented on #1289
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01289/joss.01289/10.21105.joss.01289.pdf)

[2019-02-28 21:15] danielskatz commented on #1289
ok, looks good

[2019-02-28 21:17] grabear commented on #1288
@danielskatz Thank you!  I'll work on it.

[2019-02-28 21:18] grabear commented on #1288
@whedon commands

[2019-02-28 21:18] whedon commented on #1288
Here are some things you can ask me to do:

[code]

[2019-02-28 21:23] Amudtogal commented on #1254
Actually, my mistake, I didn't respond to your mail directly!

Thank you for the revision, feel free to contact me for any questions!

Best,
Simon

On 28.02.19 12:46, Daniel S. Katz wrote:

[2019-02-28 21:25] grabear commented on #1288
@whedon generate pdf from branch joss-review from inst/paper

[2019-02-28 21:25] whedon commented on #1288
[code]

[2019-02-28 21:26] zonca commented on #1290
@whedon generate pdf

[2019-02-28 21:26] whedon commented on #1290
[code]

[2019-02-28 21:26] whedon commented on #1290
PDF failed to compile for issue #1290 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    299      0 --:--:-- --:--:-- --:--:--   307
Error reading bib

[2019-02-28 21:27] zonca commented on #1290
@whedon generate pdf

[2019-02-28 21:27] whedon commented on #1290
[code]

[2019-02-28 21:27] whedon commented on #1290
PDF failed to compile for issue #1290 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    200      0 --:--:-- --:--:-- --:--:--   202
Error reading bib

[2019-02-28 21:29] zonca commented on #1290
@whedon generate pdf

[2019-02-28 21:29] whedon commented on #1290
[code]

[2019-02-28 21:29] whedon commented on #1290
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01290/joss.01290/10.21105.joss.01290.pdf)

[2019-02-28 21:31] grabear commented on #1288
@sdhutchins working on tweaking the paper!

[2019-02-28 21:33] zonca commented on #1290
@whedon generate pdf

[2019-02-28 21:33] whedon commented on #1290
[code]

[2019-02-28 21:34] whedon commented on #1290
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01290/joss.01290/10.21105.joss.01290.pdf)

[2019-02-28 21:36] zonca commented on #1290
@whedon generate pdf

[2019-02-28 21:36] whedon commented on #1290
[code]

[2019-02-28 21:37] whedon commented on #1290
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01290/joss.01290/10.21105.joss.01290.pdf)

[2019-02-28 21:38] danielskatz commented on #1290
Please also note https://github.com/healpy/healpy/pull/537

[2019-02-28 21:41] zonca commented on #1290
## Potential reviewers

Best would be someone with experience in cosmology or other branches of astrophysics, looking at the reviewers list:

* `ziotom78`: conflict
* possibly `benjaminrose` or `manodeep`?

[2019-02-28 22:00] stablemarkets commented on #1287
Hi @pjotrp. Thank you for working on this.

I've provided responses to several items in the check list below:

### General checks
* [ ] **Repository:** Source code is located in the [R/](https://github.com/stablemarkets/ChiRP/tree/master/R) subdirectory.
* [ ]  **License:** MIT license is here: [LICENSE.md](https://github.com/stablemarkets/ChiRP/blob/master/LICENSE.md)
* [ ]  **Version:** See [DES

[2019-02-28 22:51] pjotrp commented on #1287
Thank you. @agisga feel free to start review. Guide lines are at the top of this page.

[2019-02-28 22:51] pjotrp commented on #1288
Yes, I'll ask for an editor.

[2019-02-28 22:54] xuanxu commented on #1290
@danielskatz yes, i can edit this.

[2019-02-28 22:59] danielskatz commented on #1290
@whedon assign @xuanxu as editor

[2019-02-28 22:59] whedon commented on #1290
OK, the editor is @xuanxu

[2019-03-01 02:48] ScottKolo commented on #1244
Just following up - is there any further feedback or any actions required on our part? What are the next steps?

[2019-03-01 08:19] Kevin-Mattheus-Moerman commented on #1094
@ybayle, @gwynethbradbury are you able to pick up the review process.

@ybayle are you a happy with the revisions proposed by @carterenyi?

[2019-03-01 08:24] Kevin-Mattheus-Moerman commented on #1013
@oxinabox I see you have a short contributing section in your readme. Would you be okay with expanding your community guidelines (last unticked box above) a bit, e.g. using the steps/info below?

- [ ] Please add [community guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html#community-guidelines) i.e. in the form of a `CONTRIBUTING.md` file (see also here https://help.github.com

[2019-03-01 08:27] Kevin-Mattheus-Moerman commented on #1013
The other unticked box is installation instructions.
@oxinabox can you also expand your installation instructions. @aviks if you have more feedback on this to point @oxinabox in the right direction (i.e. what you feel is missing) that would be great. Thanks again for your review work.

[2019-03-01 08:28] Kevin-Mattheus-Moerman commented on #1206
Apologies for the delay I will now initiate the review process.

[2019-03-01 08:28] Kevin-Mattheus-Moerman commented on #1206
@whedon start review

[2019-03-01 08:28] whedon opened #1291 "[REVIEW]: HCP: A Matlab package to create beautiful heatmaps with richly annotated covariates"
**Submitting author:** @ManuelaS (<a href="http://orcid.org/0000-0001-9941-4307"></a>)
**Repository:** <a href="https://bitbucket.org/manuela_s/hcp/" target ="_blank">https://bitbucket.org/manuela_s/hcp/</a>
**Version:** v1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @piermorel
**Archive:** <a href="https://doi.org/10.5281/zenodo.3242593" target="_blank">10.5281/zenodo.3242593</a>

## Sta

[2019-03-01 08:28] whedon commented on #1206
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1291. Feel free to close this issue now!

[2019-03-01 08:28] whedon commented on #1291
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-03-01 08:28] whedon commented on #1291
[code]

[2019-03-01 08:29] #1206 closed

[2019-03-01 08:30] Kevin-Mattheus-Moerman commented on #1291
@ManuelaS, @trallard, @piermorel we've started the review process here. Let me know if you have any questions.

[2019-03-01 08:33] Kevin-Mattheus-Moerman commented on #1166
@ssfrr, @jfsantos thanks for your review work!! Please can you check if you can tick those final boxes?

Note that the version will be updated before acceptance so that box (which has been removed in future review issues) can safely be ticked.

@ssfrr, can you check the reference which should now be in good shape?

[2019-03-01 08:33] Kevin-Mattheus-Moerman commented on #1166
@whedon check DOIs

[2019-03-01 08:35] Kevin-Mattheus-Moerman commented on #1166
@whedon check references

[2019-03-01 08:35] whedon commented on #1166
[code]

[2019-03-01 09:03] Kevin-Mattheus-Moerman commented on #1166
Some minor editorial comments on the paper

- [ ] Can  you check the sentence "A  music note can be (in its most basic level) deconstructed into just four numbers: the temporal position that the note is played, the duration, the pitch and the intensity (strength with which the note is played, also called velocity)". Perhaps it should read: "A music note can be (in its most basic level) deconstruct

[2019-03-01 09:04] Kevin-Mattheus-Moerman commented on #1262
@r-barnes are you able to start the review process? Thanks

[2019-03-01 09:26] oxinabox commented on #1013
I added an Installation section the other day. https://github.com/JuliaText/Embeddings.jl/blob/master/README.md#installation
I do not think there are more instructions I can give.

I have further expanded the Contributing section, and added reference to the Julia Community Standards.
I'm not sure if moving this section of the document to a CONTRIBUTING.md would make it more, or less likely to be r

[2019-03-01 10:05] Kevin-Mattheus-Moerman commented on #1104
@labarba I have been unable to find reviewers for this submission. Perhaps we are forced to reject this issue at the moment as it appears too challenging to find reviewers at this point.

[2019-03-01 10:06] Kevin-Mattheus-Moerman commented on #1151
@IgorBaratta @msiebenborn would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/about). The [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) focuses on [the software](https://bitbucket.org/dolfin-adjoint/pyadjoint) and a [short paper](https://github.com/openjournals/joss-papers/blob/joss.01151/joss.0115

[2019-03-01 10:07] Kevin-Mattheus-Moerman commented on #1151
To avoid further delay we will now start the review process. However, additional reviewers are still welcomed and can easily be added at a later point as well.

[2019-03-01 10:07] Kevin-Mattheus-Moerman commented on #1151
@whedon start review

[2019-03-01 10:07] whedon opened #1292 "[REVIEW]: dolfin-adjoint 2018.1: automated adjoints for FEniCS and Firedrake"
**Submitting author:** @sebastkm (<a href="http://orcid.org/0000-0002-8888-6568">Sebastian Mitusch</a>)
**Repository:** <a href="https://bitbucket.org/dolfin-adjoint/pyadjoint" target ="_blank">https://bitbucket.org/dolfin-adjoint/pyadjoint</a>
**Version:** 2018.1.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @chrisrichardson, @IgorBaratta
**Archive:** <a href="https://doi.org/10.5281/zenod

[2019-03-01 10:07] whedon commented on #1151
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1292. Feel free to close this issue now!

[2019-03-01 10:07] whedon commented on #1292
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @chrisrichardson it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-03-01 10:07] whedon commented on #1292
[code]

[2019-03-01 10:08] whedon commented on #1292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01292/joss.01292/10.21105.joss.01292.pdf)

[2019-03-01 10:08] Kevin-Mattheus-Moerman commented on #1151
@IgorBaratta I just noticed you :+1: the request to review this work? Can you confirm I can formally add you as a reviewer? Thanks!

[2019-03-01 10:09] Kevin-Mattheus-Moerman commented on #1292
@whedon add @IgorBaratta as reviewer

[2019-03-01 10:09] whedon commented on #1292
OK, @IgorBaratta is now a reviewer

[2019-03-01 10:18] Kevin-Mattheus-Moerman commented on #1292
@sebastkm, @chrisrichardson, @IgorBaratta, this is where the review process takes place. Let me know if you have any questions (Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations, which will enable you to thick the boxes at the top of this review issue).

[2019-03-01 10:19] #1151 closed

[2019-03-01 10:21] Kevin-Mattheus-Moerman commented on #941
@maieul, @Padlina thanks for your review efforts!!! Can you confirm you are happy to accept this submission?

[2019-03-01 10:22] Kevin-Mattheus-Moerman commented on #941
@MarjorieBurghart Are you still able to review this work? If so please complete the review at your earliest convenience. If I do not hear from you we will assume you are no longer able to review this work and we will proceed without your review.

[2019-03-01 10:22] Kevin-Mattheus-Moerman commented on #941
@whedon check references

[2019-03-01 10:22] whedon commented on #941
[code]

[2019-03-01 10:22] whedon commented on #941
[code]

[2019-03-01 10:23] maieul commented on #941
ok for me

[2019-03-01 10:24] Kevin-Mattheus-Moerman commented on #1021
@labarba @kyleniemeyer @arfon @danielskatz I recommend we accept this submission.

[2019-03-01 10:24] Datseris commented on #1166
@Kevin-Mattheus-Moerman thank you for your reply.

I have implemented all your suggestions besides the final one. Unfortunately the research group associated with this publication has decided to _not_ publish it in a non peer-reviewed outlet (such as pre-print servers). In addition the paper is currently under review in a peer-reviewed journal, which makes me believe there is no reason to waste re

[2019-03-01 10:24] Datseris commented on #1166
@whedon generate pdf

[2019-03-01 10:24] whedon commented on #1166
[code]

[2019-03-01 10:25] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-01 10:27] Kevin-Mattheus-Moerman commented on #941
@whedon generate pdf

[2019-03-01 10:27] whedon commented on #941
[code]

[2019-03-01 10:27] whedon commented on #941
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00941/joss.00941/10.21105.joss.00941.pdf)

[2019-03-01 10:28] Kevin-Mattheus-Moerman commented on #1021
@whedon set 10.5281/zenodo.2561192 as archive

[2019-03-01 10:28] whedon commented on #1021
OK. <a href="https://doi.org/10.5281/zenodo.2561192" target="_blank">10.5281/zenodo.2561192</a> is the archive.

[2019-03-01 10:28] Kevin-Mattheus-Moerman commented on #1021
@whedon set v1.0.1 as version

[2019-03-01 10:28] whedon commented on #1021
OK. v1.0.1 is the version.

[2019-03-01 10:32] maieul commented on #941
@whedon I could ask to ctan team to have DOI, but I am not sur that is pertinent, as ctan is stable in its url

[2019-03-01 10:34] Kevin-Mattheus-Moerman commented on #1012
@NikEfth can you please complete the review at your earliest convenience to avoid further delays with this submission? Thanks.

[2019-03-01 10:35] Kevin-Mattheus-Moerman commented on #1047
I've e-mail @lewismc to check if he is still able to review. Apologies for the delay encountered so far.

[2019-03-01 10:37] jeroen commented on #1012
OK accept.

PS: I don't understand why I have to check for ` Version: Does the release version given match the GitHub release (0.41.1)?` and then you say `
The version number will be fixed once the submission is accepted`. .

[2019-03-01 10:39] Kevin-Mattheus-Moerman commented on #1012
Thanks @jeroen you are correct. In fact for future review issue we've removed the version check as we tend to update this anyway at the point of acceptance. Feel free to tick that last box. Thanks again for your review efforts!

[2019-03-01 10:46] Kevin-Mattheus-Moerman commented on #941
I think it is okay to skip that DOI. @openjournals/joss-eics should @maieul list the package differently in the .bib file to avoid the missing DOI warning?

[2019-03-01 10:47] Kevin-Mattheus-Moerman commented on #1166
That is fine. The pre-print is only a recommendation so you can leave it as is. Thanks.

[2019-03-01 10:54] Kevin-Mattheus-Moerman commented on #1166
@Datseris I've gone through your revisions. There is one more point remaining:

- [ ] Please remove: ", which also has an associated publication" (i.e. the citation alone is sufficient)

[2019-03-01 11:15] Datseris commented on #1166
Thank you very much for understanding.

Ops, so sorry I forgot this. It is fixed now!

[2019-03-01 11:15] Datseris commented on #1166
@whedon generate pdf

[2019-03-01 11:15] whedon commented on #1166
[code]

[2019-03-01 11:16] whedon commented on #1166
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01166/joss.01166/10.21105.joss.01166.pdf)

[2019-03-01 12:40] danielskatz commented on #941
The missing DOI warning is just a warning.  Just ignore it if it doesn't make sense.

[2019-03-01 12:45] danielskatz commented on #1021
Thanks @Kevin-Mattheus-Moerman for editing, and @ctb & @kapsakcj & @azneto for reviewing!

[2019-03-01 12:45] danielskatz commented on #1021
@whedon accept

[2019-03-01 12:46] whedon commented on #1021
[code]

[2019-03-01 12:46] whedon commented on #1021
PDF failed to compile for issue #1021 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    187      0 --:--:-- --:--:-- --:--:--   187
sh: 0: getcwd() f

[2019-03-01 12:46] whedon commented on #1021
[code]

[2019-03-01 12:49] danielskatz commented on #1021
I suspect an error in the whedon's accept processing.  I will check by generating the pdf by itself

[2019-03-01 12:49] danielskatz commented on #1021
@whedon generate pdf

[2019-03-01 12:49] whedon commented on #1021
[code]

[2019-03-01 12:50] whedon commented on #1021
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01021/joss.01021/10.21105.joss.01021.pdf)

[2019-03-01 12:50] danielskatz commented on #1021
👋 @arfon - please check this and see what's off in whedon's accept processing.

[2019-03-01 12:53] danielskatz commented on #1021
👋 @arfon - also, the archive link on the left of the PDF itself doesn't seem to be correct.

[2019-03-01 12:54] arfon commented on #1021
@whedon accept

[2019-03-01 12:54] whedon commented on #1021
[code]

[2019-03-01 12:55] whedon commented on #1021
[code]

[2019-03-01 12:56] whedon commented on #1021
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/536

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/536, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-01 13:38] danielskatz commented on #1021
👋 @arfon - my issues seem to be resolved - should I go ahead and finalize the accept?
(Also, any idea what happened with the generate process as part of accept, and the faulty PDF?)

[2019-03-01 13:46] lpantano commented on #1288
@whedon assign @lpantano as editor

[2019-03-01 13:46] whedon commented on #1288
OK, the editor is @lpantano

[2019-03-01 14:09] mfroeling commented on #1204
@cMadan @grlee77 @JoshKarpel @rljacobson
I have created a new pre release of the toolbox (v2.1) with all edits based on the review.

[2019-03-01 14:19] arfon commented on #1021
Yes, please do.

Sometimes Whedon fails to compile the PDF properly - this bug is something I've never managed to replicate.

As for the faulty PDF, `@whedon generate pdf` doesn't attempt to make the correct link for the archive (apologies, this is undocumented).

[2019-03-01 14:32] danielskatz commented on #1021
@whedon accept deposit=true

[2019-03-01 14:32] whedon commented on #1021
[code]

[2019-03-01 14:33] whedon commented on #1021
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/537
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01021](https://doi.org/10.21105/joss.01021)
2. If everything looks go

[2019-03-01 14:34] #1021 closed

[2019-03-01 14:34] whedon commented on #1021
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01021/status.svg)](https://doi.org/10.21105/joss.01021)

**We need your help!**

Journal of Open Source Softwar

[2019-03-01 16:11] grlee77 commented on #1289
I am interested in volunteering as a reviewer for this submission. I have MRI neuroimaging and python expertise.
I do not have any conflicts to report (I have contributed to one of the project's dependencies, NiBabel, but have not had any involvement with BIDS or pyBIDS).

[2019-03-01 16:15] grabear commented on #1288
@whedon generate pdf from inst/paper branch joss-review

[2019-03-01 16:15] whedon commented on #1288
[code]

[2019-03-01 16:16] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-01 17:32] whedon opened #1293 "[PRE REVIEW]: Badread: simulation of error-prone long reads"
**Submitting author:** @rrwick (<a href="http://orcid.org/0000-0001-8349-0778">Ryan Wick</a>)
**Repository:** <a href="https://github.com/rrwick/Badread" target ="_blank">https://github.com/rrwick/Badread</a>
**Version:** v0.1.3
**Editor:** @brainstorm
**Reviewers:** @betteridiot

**Author instructions**

Thanks for submitting your paper to JOSS @rrwick. **Currently, there isn't an JOSS editor ass

[2019-03-01 17:32] whedon commented on #1293
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-01 17:32] whedon commented on #1293
[code]

[2019-03-01 17:32] danielskatz commented on #1293
@pjotrp - I think this is another for your group to edit

[2019-03-01 17:33] NelleV commented on #1286
### General checks

- [x] **Repository:** Is the source code for this software available at the <a target="_blank" href="https://github.com/hiclib/iced">repository url</a>?
- [x] **License:** Does the repository contain a plain-text LICENSE file with the contents of an [OSI approved](https://opensource.org/licenses/alphabetical) software license?
- [x] **Version:** Does the release version given m

[2019-03-01 17:35] danielskatz commented on #1289
Thanks @grlee77 - reviewer decisions will be made by the editor, hopefully @cMadan once he accepts

[2019-03-01 17:35] whedon commented on #1293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01293/joss.01293/10.21105.joss.01293.pdf)

[2019-03-01 17:35] NelleV commented on #1286
The proofs look fine. I can tick everything, except Performance (I don't think it si applicaable) and Community guidelines (I'm not sure what is expected there--I've got a brief statement in the first page of the documentation that I am happy to extend if it is not detailed enough: http://projects.cbio.mines-paristech.fr/iced/index.html)

[2019-03-01 17:35] danielskatz commented on #1254
ping @arfon ...

[2019-03-01 17:55] lpantano commented on #1288
Hi @grabear,

let me know when you can figure out the format issue, I will look into possible reviewers in the meantime.

Looking forward to working together in the process.

Cheers

[2019-03-01 18:14] grabear commented on #1288
Hello @lpantano!  I'll be working on it this afternoon!  I just need to play around with whedon a little.

Looking forward to it as well :+1:

[2019-03-01 18:14] IgorBaratta commented on #1151
@Kevin-Mattheus-Moerman , Yes! You can confirm me as a reviewer.

[2019-03-01 18:20] danehkar commented on #898
@mgalloy Thank you very much for your test and review of this package. I look forward to @mdpiper's comments.

@arfon Thank you for regenerating the article proof. It looks fine.

[2019-03-01 18:29] arfon commented on #1254
@danielskatz - looks like we don't support links in captions. That said, anything that looks like a URL us auto-linked in the PDF output anyway.

Fix for the build here: https://github.com/dfki-ric/phobos/pull/178

[2019-03-01 18:46] danielskatz commented on #1254
👋 @gkthiruvathukal - while this paper is not quite ready yet, would you be willing to be the editor for the submission?

[2019-03-01 19:02] mdpiper commented on #898
@danehkar With your recent updates, I've marked off the last three items on my checklist, completing my review. One minor issue, which I defer to @arfon, is the version on the software (v0.0.1) doesn't quite follow semantic versioning. If this isn't an issue for JOSS, it isn't for me either.

[2019-03-01 19:47] grabear commented on #1288
@whedon generate pdf from branch joss-review inst/paper

[2019-03-01 19:47] whedon commented on #1288
[code]

[2019-03-01 19:54] grabear commented on #1288
@pjotrp @lpantano @danielskatz Any idea what I should do with @whedon when I'm generating the pdf on a separate branch and in a folder that's not on the top level?

[2019-03-01 19:55] danielskatz commented on #1288
👋 @arfon ?

[2019-03-01 19:56] grabear commented on #1288
Part of the problem is that I always protect my master and dev-master branches, so it makes it a bit more complicated for me to edit.  I can always change the permissions temporarily, but that's not ideal.

[2019-03-01 21:34] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-01 21:35] whedon commented on #1288
[code]

[2019-03-01 21:36] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-01 21:52] lpantano commented on #1288
sorry @grabear that is not working with two of the conditions (other branch and other location), hopefully, somebody who knows the backend infrastructure can help. I will reach somebody if @arfon doesn't chime in.

At least the figure now. seems right. :)

Thanks!

[2019-03-01 21:54] grabear commented on #1288
@lpantano It seems to be working now!  It's finding the paper, so no complaints.  :)

[2019-03-01 21:55] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-01 21:55] whedon commented on #1288
[code]

[2019-03-01 21:55] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-01 21:56] grabear commented on #1288
@whedon check references

[2019-03-01 21:56] whedon commented on #1288
[code]

[2019-03-01 21:56] whedon commented on #1288
[code]

[2019-03-01 22:09] grabear commented on #1288
@whedon check references from branch joss-review

[2019-03-01 22:09] whedon commented on #1288
[code]

[2019-03-01 22:10] whedon commented on #1288
[code]

[2019-03-01 22:10] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-01 22:10] whedon commented on #1288
[code]

[2019-03-01 22:11] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-01 22:37] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-01 22:37] whedon commented on #1288
[code]

[2019-03-01 22:38] whedon commented on #1288
PDF failed to compile for issue #1288 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    207      0 --:--:-- --:--:-- --:--:--   207
Error producing P

[2019-03-01 23:03] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-01 23:03] whedon commented on #1288
[code]

[2019-03-01 23:04] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-01 23:09] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-01 23:09] whedon commented on #1288
[code]

[2019-03-01 23:10] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-01 23:12] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-01 23:12] whedon commented on #1288
[code]

[2019-03-01 23:13] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-01 23:23] grabear commented on #1288
@lpantano @sdhutchins I think I have the table, diagram, and DOIs in a good place.

Thoughts?

[2019-03-01 23:54] lpantano commented on #1288
Thanks!

I think looks good, the only think is that some DOIs have the `https` and other not. Can you  normalize  that?

[2019-03-01 23:58] lpantano commented on #1288
Hi @CosteaPaul,

@brainstorm mentioned to me that you could be a good reviewer for this paper, Do you think you would have time for this? It would be great!

[2019-03-02 00:16] sdhutchins commented on #1288
I think it looks good, @grabear! I would only say perhaps the diagram's height could be decreased while keeping the same scale. It looks good as it is though.

[2019-03-02 03:10] pjotrp commented on #1286
Thank you @NelleV. @robinweide you can start review.

[2019-03-02 03:11] pjotrp commented on #1293
Yes, I'll ask.

[2019-03-02 03:20] brainstorm commented on #1293
@whedon assign @brainstorm as editor

[2019-03-02 03:20] whedon commented on #1293
OK, the editor is @brainstorm

[2019-03-02 03:27] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-02 03:27] whedon commented on #1288
[code]

[2019-03-02 03:27] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-02 10:07] Amudtogal commented on #1254
@wedon generate pdf

[2019-03-02 10:15] faheemja commented on #623
i have a times series data matrix i want to fit functional autoregessive model of order one and two in R..how i can do do this in R???

[2019-03-02 12:58] arfon commented on #898
We can update the version at the end of the review if needed. Just let me know what version you're reviewing.

Also, we don't insist on using semantic versioning.

[2019-03-02 12:59] arfon commented on #1254
@Amudtogal - you're missing the `h` in @whedon

[2019-03-02 15:03] dredamonsta1 commented on #1293
@Whedon commands

Sent from my iPhone

[2019-03-02 15:03] whedon commented on #1293
Here are some things you can ask me to do:

[code]

[2019-03-02 15:05] danielskatz commented on #623
@faheemja - this thread is was a review for a paper for the Journal of Open Source software, and is closed.

The repository for the software that was being reviewed, where you might want to ask your question, is https://github.com/zedtaha/nardl

[2019-03-03 15:14] poulson commented on #1230
Hi Andre (@adavidzh)  :wave:. Are there any other roadblocks with the review that I could help address?

[2019-03-03 17:04] pjotrp commented on #445
@athrom you need to do the final steps. It takes 10 minutes. If we hear nothing we'll close without publishing.

[2019-03-03 18:39] usethedata commented on #1275
👋 @yxqd and @cr458 would you be willing to review this paper?

[2019-03-03 20:19] cMadan commented on #1289
@danielskatz @tyarkoni, sure, I'm happy to serve as editor for this submission.

@grlee77, thank you for volunteering to be a reviewer here.

[2019-03-03 20:19] cMadan commented on #1289
@whedon assign @cMadan as editor

[2019-03-03 20:19] whedon commented on #1289
OK, the editor is @cMadan

[2019-03-03 20:19] cMadan commented on #1289
@whedon add @grlee77 as reviewer

[2019-03-03 20:19] whedon commented on #1289
OK, @grlee77 is now a reviewer

[2019-03-03 20:23] cMadan commented on #1289
@whedon start review

[2019-03-03 20:23] whedon opened #1294 "[REVIEW]: PyBIDS: Python tools for BIDS datasets"
**Submitting author:** @tyarkoni (<a href="http://orcid.org/0000-0002-6558-5113">Tal Yarkoni</a>)
**Repository:** <a href="https://github.com/bids-standard/pybids" target ="_blank">https://github.com/bids-standard/pybids</a>
**Version:** 0.9.2
**Editor:** @cMadan
**Reviewer:** @grlee77
**Archive:** <a href="https://doi.org/10.5281/zenodo.3333492" target="_blank">10.5281/zenodo.3333492</a>

## Stat

[2019-03-03 20:23] whedon commented on #1289
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1294. Feel free to close this issue now!

[2019-03-03 20:23] whedon commented on #1294
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @grlee77 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-03-03 20:23] whedon commented on #1294
[code]

[2019-03-03 20:23] #1289 closed

[2019-03-03 20:23] whedon commented on #1294
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01294/joss.01294/10.21105.joss.01294.pdf)

[2019-03-03 20:24] cMadan commented on #1277
@GregaVrbancic @Benjamin-Lee, how is the review coming?

[2019-03-03 20:28] cMadan commented on #1294
@tyarkoni, I see that you have list your authors as "[LastName], [FirstName]". I'm not sure if that's actually against our rules, but normally authors are just listed as "[FirstName] [LastName]". Is there a particular reason you decided to list them this way?

[2019-03-03 20:35] cMadan commented on #1204
@mfroeling, I understand that there are still a few things left to finalise? (E.g., https://github.com/mfroeling/QMRITools/issues/10)

@grlee77, to the degree that you can evaluate the submission, are you happy to sign-off on it?

@JoshKarpel, is it fair to say you're good with the submission now?

@rljacobson, I think there are still a few minor issues to resolve, correct?

[2019-03-03 20:35] stsievert commented on #989
I think diff_classifier is almost ready for acceptance. Here's a quick summary of the changes since the `v0.1-alpha` tag:

* Clean dependencies on Fiji, an image processing library (https://github.com/ccurtis7/diff_classifier/issues/22, https://github.com/ccurtis7/diff_classifier/issues/30)
* Clean confusion on Python 2/3 decadency on remote/local machines with Cloudknot (resolved in https://githu

[2019-03-03 20:57] JoshKarpel commented on #1204
@cMadan Apologies, I should have said so earlier: I'm good with the submission.

[2019-03-03 21:41] aj2duncan commented on #1279
Hi @nelsonroque, I'm having a little trouble with the example that you've got in the README.md of your repo. When I run

[code]
I get the error
[code]

I will keep working on my checklist but wanted to flag this up just now.

[2019-03-04 00:10] arfon commented on #1264
👋 @ajgates42 - it seems like @adavidzh is waiting on your feedback on their comments here: https://github.com/openjournals/joss-reviews/issues/1192#issuecomment-457099152

[2019-03-04 00:11] arfon commented on #1224
:wave: @eramirem - I think this submission is waiting on you to identify some reviewers.

[2019-03-04 00:12] arfon commented on #1246
:wave: @gkthiruvathukal - how are you getting along identifying reviewers? @JedS6391 - if you get a chance, identifying a few potential reviewer names from the list (https://bit.ly/joss-reviewers) would help out too.

[2019-03-04 00:48] tyarkoni commented on #1294
I adapted it from the repo's [.zenodo.json](https://github.com/bids-standard/pybids/blob/master/.zenodo.json) file. Convention for that seems to be [LastName], [FirstName].

[2019-03-04 01:09] katyhuff commented on #1218
@bjmorgan I'm sorry for taking so long to handle this submission. I usually don't let these sit for more than a couple of days before requesting reviewers. Your submission slipped through the cracks. I apologize for the delay. Anyway, I'll be requesting reviewers now.

[2019-03-04 01:18] katyhuff commented on #1218
Dear reviewers,
This submission is in need of expertise in computational physics/chemistry/materials as well as familiarity with the systems and languages involved (python, fortran, openMP).

@goerz : Michael, are you able to and interested in taking on this review?
@jwuttke : Joachim, are you able to and interested in taking on this review?
@jochym : Pawel, are you able to and interested in takin

[2019-03-04 02:13] cr458 commented on #1275
@usethedata yup would be happy to!

[2019-03-04 02:21] yxqd commented on #1275
@usethedata yes I can help

[2019-03-04 04:11] grlee77 commented on #1204
Yes, I am satisfied that the author has made improvements to the documentation and also expanded the demo functions for users to more easily test the functionality and determine the capabilities of the package. I just updated a couple of the checklist items to reflect this.

I did not check anything under the "functionality" section due to lack of a Mathematica license to actually try any of the f

[2019-03-04 05:10] GregaVrbancic commented on #1277
@cMadan I'm planning to complete the review later today. Sorry for a bit of delay, due to the work stuff.

[2019-03-04 05:25] arokem commented on #1267
@whedon assign snastase as reviewer

[2019-03-04 05:25] whedon commented on #1267
OK, the reviewer is snastase

[2019-03-04 05:25] arokem commented on #1267
@whedon start review

[2019-03-04 05:25] whedon opened #1295 "[REVIEW]: NiBetaSeries: task related correlations in fMRI"
**Submitting author:** @jdkent (<a href="http://orcid.org/0000-0002-4892-2659">James Kent</a>)
**Repository:** <a href="https://github.com/HBClab/NiBetaSeries" target ="_blank">https://github.com/HBClab/NiBetaSeries</a>
**Version:** v0.3.2
**Editor:** @arokem
**Reviewer:** @snastase
**Archive:** <a href="https://doi.org/10.5281/zenodo.3385339" target="_blank">10.5281/zenodo.3385339</a>

## Status

[2019-03-04 05:25] whedon commented on #1267
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1295. Feel free to close this issue now!

[2019-03-04 05:26] whedon commented on #1295
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @snastase it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-04 05:26] whedon commented on #1295
[code]

[2019-03-04 05:26] arokem commented on #1267
Thanks @snastase! Head on over to #1295 for the review checklist. I'll close this one now.

[2019-03-04 05:26] #1267 closed

[2019-03-04 05:26] whedon commented on #1295
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01295/joss.01295/10.21105.joss.01295.pdf)

[2019-03-04 05:30] arokem commented on #1272
OK. Looks like all the boxes are checked and looks like the one remaining concern (MNE tutorial) is currently in progress here: https://github.com/neurodsp-tools/neurodsp/pull/146

Once that's merged, please ping @TomDLT to take another look and confirm that the review is complete.

[2019-03-04 06:33] vahtras commented on #1218
Yes I can

On Mon, Mar 4, 2019 at 2:18 AM Katy Huff <notifications@github.com> wrote:

[2019-03-04 09:15] adavidzh commented on #1230
I have run into the following issues:
- manual installation instructions need to be updated: <https://github.com/annoviko/pyclustering/issues/492>.
- `pip` installation works, _even_ in unsupported architectures; I'm on `Darwin` so I'll have to fire-up a VM to continue.

The paper itself could benefit a lot from:
- putting in tables the running text where available algorithms are listed.
- breakin

[2019-03-04 09:43] matbesancon commented on #1284
@aguang I'm almost finished reviewing the software part and going to start the paper itself soon

[2019-03-04 10:50] GregaVrbancic commented on #1277
So, here is my review of this submission. In general, the package seems really nice, but in order to publish this paper I have some minor suggestions or remarks:

1. Stephen Larroque appears to be a significant contributor. Have you considered adding him in the authors' list?
2. I have read the discussion about the scope of the paper and the target audience in #1258. My opinion is that the target

[2019-03-04 11:38] casperdcl commented on #1277
thanks @GregaVrbancic; will respond in more detail later.

1. Stephen (@lrq3000), I know you haven't contributed in years but would be great to have you back on the team
2. Any suggestions?
3. Will check
4. Will update
5. Will add links to relevant documentation

[2019-03-04 12:04] usethedata commented on #1275
@whedon assign @yxqd as reviewer

[2019-03-04 12:04] whedon commented on #1275
OK, the reviewer is @yxqd

[2019-03-04 12:05] usethedata commented on #1275
@whedon add @cr458 as reviewer

[2019-03-04 12:05] whedon commented on #1275
OK, @cr458 is now a reviewer

[2019-03-04 12:05] usethedata commented on #1275
@whedon start review

[2019-03-04 12:05] whedon opened #1296 "[REVIEW]: PoreSpy: A Python Toolkit for Quantitative Analysis of Porous Media Images"
**Submitting author:** @jgostick (<a href="http://orcid.org/0000-0001-7736-7124">Jeff Gostick</a>)
**Repository:** <a href="https://github.com/PMEAL/porespy" target ="_blank">https://github.com/PMEAL/porespy</a>
**Version:** V1.1.2
**Editor:** @usethedata
**Reviewer:** @yxqd, @cr458
**Archive:** <a href="https://doi.org/10.5281/zenodo.2642818" target="_blank">10.5281/zenodo.2642818</a>

## Status

[2019-03-04 12:05] whedon commented on #1275
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1296. Feel free to close this issue now!

[2019-03-04 12:05] whedon commented on #1296
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yxqd, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2019-03-04 12:05] whedon commented on #1296
[code]

[2019-03-04 12:06] whedon commented on #1296
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01296/joss.01296/10.21105.joss.01296.pdf)

[2019-03-04 12:06] usethedata commented on #1275
Closing pre-review issue with review started.

[2019-03-04 12:06] #1275 closed

[2019-03-04 12:09] mfroeling commented on #1204
@cMadan Yes, the open issue of mac compatilitbily i am trying to fix this week. As mentioned in the review it is difficult for me to provide max support, but hopefully this week i am able to get all the needed dependencies compiled and test it on some mac machines.

[2019-03-04 12:17] arfon commented on #1087
:wave: @nproellochs - please let me know when you've incorporated @kbenoit's feedback.

[2019-03-04 12:18] arfon commented on #1075
:wave: @mnarayan - did you manage to complete your review?

[2019-03-04 12:25] whedon opened #1297 "[PRE REVIEW]: ggparliament: A ggplot2 extension for parliament plots in R"
**Submitting author:** @zmeers (<a href="http://orcid.org/0000-0001-8045-6531">Zoe Meers</a>)
**Repository:** <a href="https://github.com/RobWHickman/ggparliament/" target ="_blank">https://github.com/RobWHickman/ggparliament/</a>
**Version:** v2.0.1
**Editor:** @cMadan
**Reviewers:** @andrewheiss

**Author instructions**

Thanks for submitting your paper to JOSS @zmeers. **Currently, there isn't

[2019-03-04 12:25] whedon commented on #1297
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-04 12:25] whedon commented on #1297
[code]

[2019-03-04 12:26] whedon commented on #1297
PDF failed to compile for issue #1297 with the following error:

 Can't find any papers to compile :-(

[2019-03-04 12:30] arfon commented on #1297
:wave: @zmeers - please review the JOSS submission guidelines and draft a paper to support your submission: https://joss.readthedocs.io/en/latest/submitting.html#submitting-your-paper

I'm going to pause this submission until we've heard back from you that you've done this.

[2019-03-04 12:51] katyhuff commented on #1218
@whedon assign @vahtras as reviewer

[2019-03-04 12:51] whedon commented on #1218
OK, the reviewer is @vahtras

[2019-03-04 13:09] athrom commented on #445
@whedon generate pdf

[2019-03-04 13:09] whedon commented on #445
[code]

[2019-03-04 13:09] whedon commented on #445
PDF failed to compile for issue #445 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Allison Throm, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:57:in `each'

[2019-03-04 13:17] athrom commented on #445
@pjotrp I saw your email and plan to finish submission steps this evening.

[2019-03-04 13:32] laempy commented on #990
@lheagy: I have taken a look at the DOIs (see laempy/pyoints#8) and created a new release **0.2.0rc2** with DOI 10.5281/zenodo.2582977 (or 10.5281/zenodo.2557574 for citing all versions). I have noticed, that the PDF file created by whedon is based on an old version of the package. So, it needs to be regenerated for proof reading.
After several problems with the conda recipe I had to drop Windows

[2019-03-04 14:30] ssfrr commented on #1166
LGTM. boxes checked.

[2019-03-04 14:35] xuanxu commented on #1290
:wave: @harpolea: Would you be willing to review this paper? I think your expertise in Python and C++ in astrophysical contexts makes you a great fit for this submission.

[2019-03-04 14:51] harpolea commented on #1290
@xuanxu I'd be happy to!

[2019-03-04 14:56] xuanxu commented on #1290
@whedon assign @harpolea as reviewer

[2019-03-04 14:56] whedon commented on #1290
OK, the reviewer is @harpolea

[2019-03-04 14:56] xuanxu commented on #1290
@whedon start review

[2019-03-04 14:56] whedon opened #1298 "[REVIEW]: healpy: equal area pixelization and spherical harmonics transforms for data on the sphere in Python"
**Submitting author:** @zonca (<a href="http://orcid.org/0000-0001-6841-1058">Andrea Zonca</a>)
**Repository:** <a href="https://github.com/healpy/healpy" target ="_blank">https://github.com/healpy/healpy</a>
**Version:** v1.12.9
**Editor:** @xuanxu
**Reviewer:** @harpolea
**Archive:** <a href="https://doi.org/10.5281/zenodo.2605426" target="_blank">10.5281/zenodo.2605426</a>

## Status

[![status

[2019-03-04 14:56] whedon commented on #1290
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1298. Feel free to close this issue now!

[2019-03-04 14:56] whedon commented on #1298
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @harpolea it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-04 14:57] whedon commented on #1298
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01298/joss.01298/10.21105.joss.01298.pdf)

[2019-03-04 14:58] xuanxu commented on #1290
@harpolea, please head over to #1298 for the actual review

[2019-03-04 14:58] #1290 closed

[2019-03-04 15:59] Kevin-Mattheus-Moerman commented on #1166
Thanks @ssfrr

[2019-03-04 16:00] Kevin-Mattheus-Moerman commented on #1166
@whedon check references

[2019-03-04 16:00] whedon commented on #1166
[code]

[2019-03-04 16:03] whedon commented on #1166
[code]

[2019-03-04 17:05] Schallaven commented on #1282
Sorry for the late reply!

I was looking for a good common definition of _research software_, but despite the frequent usage of the term it is rarely defined (well). Definitions are usually based on _software used in research_.

My naive approach to this issue is: I am a researcher. I use this software in research. Therefore, it is _research software_. And I will be citing it in one of the papers

[2019-03-04 17:06] mgymrek commented on #1256
Hi @timClicks I just wanted to check in on this

[2019-03-04 17:07] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-04 17:07] whedon commented on #1288
[code]

[2019-03-04 17:07] mgymrek commented on #1144
Thanks @stevendavis. Could you make a Zenodo archive and report the DOI here?

[2019-03-04 17:08] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-04 17:11] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-04 17:11] whedon commented on #1288
[code]

[2019-03-04 17:11] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-04 17:18] grabear commented on #1288
@lpantano @sdhutchins Made some changes!

[2019-03-04 17:18] grabear commented on #1288
@whedon check references

[2019-03-04 17:19] whedon commented on #1288
[code]

[2019-03-04 17:19] whedon commented on #1288
[code]

[2019-03-04 17:20] mgymrek commented on #1255
Hi @byandell would you be able to fill out the checklist at the top of the review?

[2019-03-04 18:24] leouieda commented on #1284
Thanks for the update @matbesancon :+1:

If you have feedback or require changes to the software/docs, please open issues or PRs in the software repo and link them here by mentioning `openjournals/joss-reviews#1284`.

[2019-03-04 18:30] CosteaPaul commented on #1288
@lpantano this looks like fun :).
Would be happy to help with reviewing, though I have no idea how this is supposed to work.

[2019-03-04 18:35] lpantano commented on #1288
Thank you,  @CosteaPaul !

We have some guidelines here:

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

For now, I will move this to review, that will close this issue and open a new one where the review process will happen. Our friend whedon, will help you with the requirements to review the paper. When the new issue is open, there will be some guidelines. I will follow up there

[2019-03-04 18:35] lpantano commented on #1288
@whedon assign @CosteaPaul  as reviewer

[2019-03-04 18:35] whedon commented on #1288
OK, the reviewer is @CosteaPaul

[2019-03-04 18:35] matbesancon commented on #1284
Closed:
https://github.com/Non-Contradiction/JuliaCall/issues/85
https://github.com/Non-Contradiction/JuliaCall/issues/89

Still open:
https://github.com/Non-Contradiction/JuliaCall/issues/87
https://github.com/Non-Contradiction/JuliaCall/issues/86

[2019-03-04 19:31] annoviko commented on #1230
@adavidzh , I have updated instruction in line with annoviko/pyclustering#492.

About installation on MAC OS using `pip`. Yes, it works, but `CCORE `(fast code - C/C++ implementation) is not supported, python implementation is used instead. `CCORE `is build only for Linux and Windows as you can see it in CI:
- Travis-CI (Linux builds): https://travis-ci.org/annoviko/pyclustering
- AppVeyor (Window

[2019-03-04 19:52] stenskjaer commented on #941
The article looks good to me. Is there anything I should do now?

[2019-03-04 20:20] danehkar commented on #898
Considering Semantic Versioning (**MAJOR.MINOR.PATCH**), the code did not have any MAJOR change such as incompatible API changes, and any MINOR changes (e.g. adding a new functionality) since it was submitted. It has some changes in comments for documentation, so I changed the PATCH version from v0.0.1 to v0.0.2. I added an MGUnit tester, while the program functions were not changed, so there are

[2019-03-04 21:12] Benjamin-Lee commented on #1277
Initial thoughts on the paper:

1. If @arfon and @cMadan are happy with `tqdm` being in JOSS's scope, then I have no issues. To my mind, the more peer reviewed published software, the better.
1. The structure of the paper requires work. Specifically, I would move the popularity section to the introduction and convert it to prose from bullets and eliminate the "see also" and "references in blogs" s

[2019-03-04 21:56] arfon commented on #898
@whedon set v0.0.2 as version

[2019-03-04 21:56] whedon commented on #898
OK. v0.0.2 is the version.

[2019-03-04 22:10] adavidzh commented on #1230
Thanks @annoviko. I now understand that only the `CCORE` does not work in `Darwin`. I am working through the examples and reported one issue here https://github.com/annoviko/pyclustering/issues/493. As for the paper, that would be great, thanks.

[2019-03-04 22:22] arfon commented on #898
@whedon generate pdf

[2019-03-04 22:22] whedon commented on #898
[code]

[2019-03-04 22:23] whedon commented on #898
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00898/joss.00898/10.21105.joss.00898.pdf)

[2019-03-04 22:24] arfon commented on #898
@danehkar - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-03-04 22:36] labarba commented on #1104
@dzhoshkun  — Thank you for submitting your software to JOSS. Unfortunately, we haven’t been able to secure reviewers for your submission, which we (the editors) link to a software’s probability of being useful to others. In this case, a reliance on a particular brand of ultrasound device (apparently discontinued) combined with a LabView-focused solution, make the software difficult to review. It

[2019-03-04 22:37] lpantano commented on #1288
Hi @grabear,

I see there are some issues with the DOI links , let me know when you  solve this and we can move this to under review.

Thanks!

[2019-03-04 22:48] grabear commented on #1288
@lpantano All of those DOI's are not missing.  I copied an pasted those during my first check, so Idk why they are considered "Missing" or "may be missing".

I just updated an F1000 DOI, but only because they release a second version of that paper.  I also checked all of the other ones and they are working links..

[2019-03-04 22:51] lpantano commented on #1288
Hi,
Weird, When I click on the PDF link it lands on a broken web page.  Did you try to use the link of the PDF, maybe there is something wrong on the latex code that breaks the link?

`https://doi.org/https://doi.org/10.1038/nmeth.f.303` This url is malformed.

Cheers

[2019-03-04 22:56] grabear commented on #1288
@whedon generate pdf from branch joss-review

[2019-03-04 22:56] whedon commented on #1288
[code]

[2019-03-04 22:57] whedon commented on #1288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01288/joss.01288/10.21105.joss.01288.pdf)

[2019-03-04 23:00] grabear commented on #1288
@whedon check references

[2019-03-04 23:00] whedon commented on #1288
[code]

[2019-03-04 23:00] whedon commented on #1288
[code]

[2019-03-04 23:02] grabear commented on #1288
@whedon check references from branch joss-review

[2019-03-04 23:02] whedon commented on #1288
[code]

[2019-03-04 23:02] whedon commented on #1288
[code]

[2019-03-04 23:05] grabear commented on #1288
Not really sure what's going on with whedon's reference check, but the DOIs should be correct now.  Sorry about that!

[2019-03-04 23:10] jedbrown commented on #693
I tried again and it looks like an environment issue. Please try this to reproduce in a clean environment.
[code]

We change directory to force the import to use the installed version rather than the current directory.

[2019-03-04 23:44] zmeers commented on #1297
@arfon -- sorry about that. The paper is actually in the dev branch. Can I submit the paper from the dev branch or does it need to be in the master branch for compilation? I was planning to push the paper to the master branch, once accepted.

[2019-03-05 00:46] athrom commented on #445
@whedon generate pdf

[2019-03-05 00:46] whedon commented on #445
[code]

[2019-03-05 00:46] whedon commented on #445
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00445/joss.00445/10.21105.joss.00445.pdf)

[2019-03-05 01:17] athrom commented on #445
@pjotrp
The above steps have been completed. The Zenodo assigned DOI is: 10.5281/zenodo.2583300

[2019-03-05 02:56] vyasr commented on #1209
My apologies, I've been traveling for the the last couple weeks and I lost track of this review. I see that you've addressed most of my comments from before, and you have an open question regarding the example notebooks. I'll give this another pass tomorrow and address the outstanding items. Sorry again for the delay, it looks like you've managed to continue making progress though, which is great!

[2019-03-05 04:35] leouieda commented on #808
@lheagy @viktor76525 sorry for the really long delay. I'm getting caught up now. I went through the changes and am trying to run the tests and examples. I ran into a few issues (ucgmsim/GMSimViz#20 ucgmsim/GMSimViz#21 ucgmsim/GMSimViz#22 ucgmsim/GMSimViz#23) with the tests and missing dependencies. I'm still trying to run the examples and the image comparison but it's taking quite a while. I'll re

[2019-03-05 06:37] Padlina commented on #941
@Kevin-Mattheus-Moerman ok for me too

[2019-03-05 10:19] Kevin-Mattheus-Moerman commented on #941
@whedon remove @MarjorieBurghart as reviewer

[2019-03-05 10:19] whedon commented on #941
OK, @MarjorieBurghart is no longer a reviewer

[2019-03-05 10:25] Kevin-Mattheus-Moerman commented on #941
Great. It looks like we are in good shape.

@stenskjaer can you please do the following:

- [ ] Create an archived version of the software on a service like [ZENODO](https://zenodo.org/) (some have found [these steps](https://guides.github.com/activities/citable-code/) useful for automated archival of releases), and please list the DOI here once completed?

- [ ] Can you tell us what the latest ve

[2019-03-05 10:43] arfon commented on #1297
@whedon generate pdf from branch dev

[2019-03-05 10:43] whedon commented on #1297
[code]

[2019-03-05 10:44] whedon commented on #1297
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01297/joss.01297/10.21105.joss.01297.pdf)

[2019-03-05 10:50] arfon commented on #1288
I'm afraid @whedon only knows how to check references for the `master` or default branch of your repository.

[2019-03-05 11:11] zmeers commented on #1297
@whedon commands

[2019-03-05 11:11] whedon commented on #1297
Here are some things you can ask me to do:

[code]

[2019-03-05 11:30] zmeers commented on #1297
@whedon generate pdf from branch dev

[2019-03-05 11:30] whedon commented on #1297
[code]

[2019-03-05 11:31] whedon commented on #1297
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01297/joss.01297/10.21105.joss.01297.pdf)

[2019-03-05 11:39] CBenghi commented on #1208
@whedon set v0.14.0.0 as version

[2019-03-05 11:39] whedon commented on #1208
I'm sorry @CBenghi, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-03-05 11:44] CBenghi commented on #1208
Hi All,
I've been able to spend a bit more time and I feel we are almost there, but I have a couple of minor issues.

@danielskatz version of the software should be updated to v0.14.0.0, @whedon rejected my command there.

@brogly, two outstanding aspects to look at for me:
1) I'm uncertain on the benefit or referencing unpublished work (lacking DOI as per checklist above), I would probably remove

[2019-03-05 11:44] zmeers commented on #1297
Some minor issues with the BibTex...
@whedon generate pdf from branch dev

[2019-03-05 11:46] zmeers commented on #1297
@whedon generate pdf from branch dev

[2019-03-05 11:46] whedon commented on #1297
[code]

[2019-03-05 11:46] whedon commented on #1297
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01297/joss.01297/10.21105.joss.01297.pdf)

[2019-03-05 11:49] zmeers commented on #1297
The foot note did not compile. I will change it and recompile the paper.

[2019-03-05 11:49] zmeers commented on #1297
@whedon generate pdf from branch dev

[2019-03-05 11:49] whedon commented on #1297
[code]

[2019-03-05 11:50] whedon commented on #1297
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01297/joss.01297/10.21105.joss.01297.pdf)

[2019-03-05 12:00] zmeers commented on #1297
@arfon Perhaps @andrewheiss or @rdrr1990 would be interested in reviewing this paper? They both list political science or politics as an area they are comfortable reviewing.

[2019-03-05 12:48] lpantano commented on #1288
Thank you, @arfon. I think is fine since the links work now. I will start the review process.

@whedon start review

[2019-03-05 13:21] pjotrp commented on #1288
Whedon needs separate lines

[2019-03-05 13:21] pjotrp commented on #1288
@whedon start review

[2019-03-05 13:21] whedon opened #1299 "[REVIEW]: MicrobiomeR: An R Package for Simplified and Standardized Microbiome Analysis Workflows"
**Submitting author:** @grabear (<a href="http://orcid.org/0000-0001-8096-0180">Robert Gilmore</a>)
**Repository:** <a href="https://github.com/vallenderlab/MicrobiomeR" target ="_blank">https://github.com/vallenderlab/MicrobiomeR</a>
**Version:** 0.6.0
**Editor:** @lpantano
**Reviewer:** @CosteaPaul
**Archive:** <a href="https://doi.org/10.5281/zenodo.2600432" target="_blank">10.5281/zenodo.26004

[2019-03-05 13:21] whedon commented on #1288
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1299. Feel free to close this issue now!

[2019-03-05 13:21] whedon commented on #1299
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @CosteaPaul it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-03-05 13:21] whedon commented on #1299
[code]

[2019-03-05 13:21] whedon commented on #1299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01299/joss.01299/10.21105.joss.01299.pdf)

[2019-03-05 13:22] pjotrp commented on #445
@whedon set 10.5281/zenodo.2583300 as archive

[2019-03-05 13:23] whedon commented on #445
OK. <a href="https://doi.org/10.5281/zenodo.2583300" target="_blank">10.5281/zenodo.2583300</a> is the archive.

[2019-03-05 13:23] pjotrp commented on #445
@whedon accept

[2019-03-05 13:23] whedon commented on #445
[code]

[2019-03-05 13:23] pjotrp commented on #445
ping eic @openjournals/joss-eics

[2019-03-05 13:23] whedon commented on #445
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/538

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/538, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-05 13:26] #1288 closed

[2019-03-05 13:29] lpantano commented on #1299
@grabear, can you render the other branch. As well, make sure to go over the list and see whether all the item can be checked to make the work easier @CosteaPaul.

Thanks!

[2019-03-05 14:13] danielskatz commented on #1208
@whedon set v0.14.0.0 as version

[2019-03-05 14:14] whedon commented on #1208
OK. v0.14.0.0 is the version.

[2019-03-05 14:16] goerz commented on #1218
I'm traveling the next two weeks, so I wouldn't be available to look at this until after March 17.

[2019-03-05 14:47] danielskatz commented on #1188
Hi - I'm going to be on vacation for 2 1/2 weeks, so I'm shifting the editor of this submission to be @arfon, during that period - thanks @arfon

[2019-03-05 14:47] danielskatz commented on #1188
@whedon assign @arfon as editor

[2019-03-05 14:48] danielskatz commented on #1225
Hi - I'm going to be on vacation for 2 1/2 weeks, so I'm shifting the editor of this submission to be @arfon, during that period - thanks @arfon

[2019-03-05 14:48] danielskatz commented on #1225
@whedon assign @arfon as editor

[2019-03-05 14:49] danielskatz commented on #1157
@whedon assign @arfon as editor

[2019-03-05 14:51] danielskatz commented on #1208
@CBenghi - referencing unpublished work is ok - the checkbox just says that for every reference that has a DOI, the DOI should be listed.  If a reference doesn't have a DOI, that's fine.

[2019-03-05 14:52] danielskatz commented on #1208
Also, I'm going to be on vacation for 2 1/2 weeks, so I'm shifting the editor of this submission to be @arfon, during that period - thanks @arfon

[2019-03-05 14:52] danielskatz commented on #1208
@whedon assign @arfon as editor

[2019-03-05 15:21] grabear commented on #1299
Ok!  I will soon!

[2019-03-05 15:35] grabear commented on #1299
@whedon generate pdf from branch joss-review

[2019-03-05 15:35] whedon commented on #1299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01299/joss.01299/10.21105.joss.01299.pdf)

[2019-03-05 16:36] andrewheiss commented on #1297
🙋‍♂️Sure, I'd be happy to

[2019-03-05 16:38] kyleniemeyer commented on #445
Hi @athrom @pjotrp I'm going to send this back to you for some more work, because the paper itself does not quite meet [our expectations](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Right now the article itself is extremely brief and doesn't contain much substance; while we don't expect a full article here, it should be 250–1000 words (currently the main ar

[2019-03-05 16:45] ncclementi commented on #1209
In my case, I saw you addressed my comments on the software but it is still pending my comments on the paper itself. I will give another path to the rest of the points but I'd like the authors to address my comments on the `paper.md`.

[2019-03-05 16:48] vyasr commented on #1209
@bjmorgan regarding the notebooks, I see your point about wanting to keep them easily visible rather than hiding them in a docs folder. One solution would be to move the notebooks to `docs/source/examples` or so, and then symlink them to your tests directory (run `ln -s docs/source/examples userguides` in the root of the repository). Would that address your concern? I think that most users would b

[2019-03-05 16:53] vyasr commented on #1209
The new contributing guidelines look good. I would suggest converting the "Issue Tracker" and "pull request" text into links.

[2019-03-05 17:02] stevendavis commented on #1144
The Zenodo DOI for the vcftoolz software is:
10.5281/zenodo.2583998

The version is:
v1.1.0

[2019-03-05 17:27] pjotrp commented on #445
@kyleniemeyer I think the paper is fine. It is not meant for a non-specialist audience and I understand it. The purpose is stated too. It is an impressively short paper - which is usually hard to do.

Yes, the first DOI may be wrong, but the system did not catch that.

[2019-03-05 17:37] arfon commented on #445
This is incorrect. Quoting directly from https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2019-03-05 17:38] vyasr commented on #1209
Regarding the contents of the paper, I'm mostly in agreement with @ncclementi. The paper is definitely too long at present, so I'll try to give pointers on where and how to cut as I make other comments.

I found the summary to be comprehensible, but I agree that it's probably a little too technical for a general, non-specialist audience unfamiliar with the behavior of defects and grain boundaries

[2019-03-05 18:04] aelanman commented on #1234
@whedon generate pdf

[2019-03-05 18:04] whedon commented on #1234
[code]

[2019-03-05 18:05] whedon commented on #1234
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01234/joss.01234/10.21105.joss.01234.pdf)

[2019-03-05 18:09] brogly commented on #1208
@danielskatz - OK & Thanks! I will leave the unpublished documents then.

@CBenghi - I understand the new issue and will start work on that shortly.

[2019-03-05 18:27] ncclementi commented on #1209
@vyasr @bjmorgan Regarding the notebooks and mybinder, I'm not sure if that would work, I run the examples on my machine `Intel(R) Core(TM) i7-3820 CPU @ 3.60GHz` and they took a really long time. Some of them over an hour of computation or even more.
A good option would be selecting smaller problems and see how long they take on my binder. But I agree that being able to interact with the example

[2019-03-05 18:34] ncclementi commented on #1209
@vyasr @bjmorgan I think you can leave some of the numerical method section but maybe a summary and something not that technical. The reason why I suggested to remove it it is because this information is already present, almost verbatim  in the Theory.ipynb notebook and example notebooks. Maybe you can point to that document instead.

Remember that the core of the paper should, according to the gu

[2019-03-05 18:38] dzhoshkun commented on #1104
Thank you @labarba @Kevin-Mattheus-Moerman and everyone for all your efforts. Much appreciated. It proved to be really difficult to find reviewers for this work, which has raised admittedly valid concerns about how useful the software is to the community. So I agree that withdrawing this paper is the best course of action at this stage.

[2019-03-05 18:39] dzhoshkun commented on #1104
@whedon commands

[2019-03-05 18:39] whedon commented on #1104
Here are some things you can ask me to do:

[code]

[2019-03-05 19:25] #1104 closed

[2019-03-05 20:05] casperdcl commented on #1277
# Full Response

## @Gre

[2019-03-05 20:19] cMadan commented on #1204
@grlee77, no problem! There isn't a convention of writing a final summary, particularly because the process tends to vary based on the how the authors and reviewers discuss the submission (how much in the review thread vs. in issues in the project's repo), how quickly discussions go back-and-forth, and other factors. What you've done here is fine, but when it's otherwise been quiet, at the end it'

[2019-03-05 20:26] kyleniemeyer commented on #445
@pjotrp Furthermore, the @openjournals/joss-eics have agreed that it's our responsibility to give a final pass over a submission, such that we can give feedback to the author(s), reviewers, and editor (if needed) on the expectations we have agreed on.

If you have issues with that, we can take this offline (... online?) to discuss over email, rather than in the review thread.

While whedon's super

[2019-03-05 20:26] vyasr commented on #1209
Yes, I definitely think that MyBinder is not a good idea for very complex examples. I have not yet tried running the examples again since the first round of review. I'll do that once some more of these changes have been addressed so that you don't have too many comments at once, but I concur that putting some smaller problems for MyBinder would be nice if they can solve fast.

I'd say let's see wh

[2019-03-05 22:20] casperdcl commented on #1277
@whedon generate pdf from branch devel

[2019-03-05 22:20] whedon commented on #1277
[code]

[2019-03-05 22:20] whedon commented on #1277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01277/joss.01277/10.21105.joss.01277.pdf)

[2019-03-05 22:22] casperdcl commented on #1277
@whedon generate pdf from branch devel

[2019-03-05 22:22] whedon commented on #1277
[code]

[2019-03-05 22:23] whedon commented on #1277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01277/joss.01277/10.21105.joss.01277.pdf)

[2019-03-05 22:25] casperdcl commented on #1277
@whedon generate pdf from branch devel

[2019-03-05 22:26] whedon commented on #1277
[code]

[2019-03-05 22:26] whedon commented on #1277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01277/joss.01277/10.21105.joss.01277.pdf)

[2019-03-05 22:28] casperdcl commented on #1277
Looks ready to me for a re-check now. Will merge into `master` if it's ok.

[2019-03-05 22:34] grantjenks commented on #1223
I published the paper.md and paper.bib files this morning. I believe I covered each of the requirements as to "What should my paper contain?" It is ready to be un-paused. I believe that was pre-review. Let me see if I can get whedon to compile the PDF.

[2019-03-05 22:35] grantjenks commented on #1223
@whedon compile pdf

[2019-03-05 22:52] jdkent commented on #1267
Thank you @aroekm and @snastase!

[2019-03-06 01:13] danehkar commented on #799
@whedon generate pdf

[2019-03-06 01:13] whedon commented on #799
[code]

[2019-03-06 01:14] whedon commented on #799
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00799/joss.00799/10.21105.joss.00799.pdf)

[2019-03-06 01:42] danehkar commented on #898
@arfon I did the proof correction in the paper. You can check it here: [799](https://github.com/openjournals/joss-reviews/issues/799). Please regenerated the final pdf for the paper. I also made an archive of the reviewed software in Zenodo here: https://doi.org/10.5281/zenodo.2584420

[2019-03-06 03:44] IgorBaratta commented on #1292
@whedon check references

[2019-03-06 03:44] whedon commented on #1292
[code]

[2019-03-06 03:44] whedon commented on #1292
[code]

[2019-03-06 03:45] viktor76525 commented on #808
@leouieda Thanks for the pytest-mpl suggestion. I have closed all issues and ready for a (hopefully) quick look.

[2019-03-06 08:02] GregaVrbancic commented on #1277
@casperdcl please consider the following proposed improvements.

In my opinion, a brief description of  the target audience (based on https://pypi.org/pypi?%3Aaction=list_classifiers) would be useful and would improve the overall quality of the paper. Keep in mind that not all of the JOSS audience will go through the classifiers listed on PyPI package site.

Yes, I was refering to the repository.

[2019-03-06 09:31] laempy commented on #990
Hi @lheagy and @kbevers, I have found some remaining issues. So, I created the release **0.2.0rc3** with DOI 10.5281/zenodo.2585430. Could you please take another look? Thanks a lot.

[2019-03-06 10:07] cbjuan commented on #1188
We solved the issue that was blocking the review in the new version [0.5.2](https://github.com/Qiskit/qiskit-vscode/releases/tag/v0.5.2).

Hope it allows the review as expected.

[2019-03-06 10:20] hbodory commented on #1194
@karthik  The files are on GitHub available now.

[2019-03-06 10:53] arfon commented on #898
@whedon generate pdf

[2019-03-06 10:53] whedon commented on #898
[code]

[2019-03-06 10:53] whedon commented on #898
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00898/joss.00898/10.21105.joss.00898.pdf)

[2019-03-06 10:53] whedon opened #1300 "[PRE REVIEW]: KADE: A desktop application for Q methodology"
**Submitting author:** @shawnbanasick (<a href="http://orcid.org/0000-0003-2696-5874">Shawn Banasick</a>)
**Repository:** <a href="https://github.com/shawnbanasick/kade" target ="_blank">https://github.com/shawnbanasick/kade</a>
**Version:** v1.0.0
**Editor:** @alexhanna
**Reviewers:** @davekinkead

**Author instructions**

Thanks for submitting your paper to JOSS @shawnbanasick. **Currently, ther

[2019-03-06 10:53] whedon commented on #1300
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-06 10:53] whedon commented on #1300
[code]

[2019-03-06 10:53] whedon opened #1301 "[PRE REVIEW]: rrcf: Implementation of the Robust Random Cut Forest algorithm for anomaly detection on streams"
**Submitting author:** @mdbartos (<a href="http://orcid.org/0000-0001-6421-222X">Matthew Bartos</a>)
**Repository:** <a href="https://github.com/kLabUM/rrcf" target ="_blank">https://github.com/kLabUM/rrcf</a>
**Version:** v0.2
**Editor:** @VivianePons
**Reviewers:** @vc1492a, @justinshenk

**Author instructions**

Thanks for submitting your paper to JOSS @mdbartos. **Currently, there isn't an JOS

[2019-03-06 10:54] whedon commented on #1301
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-06 10:54] whedon commented on #1300
PDF failed to compile for issue #1300 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:23:in `strip_footnotes': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/author.rb:13:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece

[2019-03-06 10:54] whedon commented on #1301
[code]

[2019-03-06 10:54] whedon opened #1302 "[PRE REVIEW]: ACHR.cu: GPU sampling of metabolic networks."
**Submitting author:** @marouenbg (<a href="http://orcid.org/0000-0001-5934-966X">Marouen Ben Guebila</a>)
**Repository:** <a href="https://github.com/marouenbg/ACHR.cu" target ="_blank">https://github.com/marouenbg/ACHR.cu</a>
**Version:** v0.1
**Editor:** @lpantano
**Reviewers:** @wmegchel, @prasunanand

**Author instructions**

Thanks for submitting your paper to JOSS @marouenbg. **Currently, t

[2019-03-06 10:54] whedon commented on #1302
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-06 10:54] whedon commented on #1302
[code]

[2019-03-06 10:54] whedon commented on #1302
PDF failed to compile for issue #1302 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1302 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedo

[2019-03-06 10:55] whedon commented on #1301
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01301/joss.01301/10.21105.joss.01301.pdf)

[2019-03-06 10:55] arfon commented on #1188
@malmaud, @naberek - seems like @cbjuan has fixed the installation issues. Could you please try again?

[2019-03-06 10:56] arfon commented on #898
@whedon set 10.5281/zenodo.2584420 as archive

[2019-03-06 10:56] whedon commented on #898
OK. <a href="https://doi.org/10.5281/zenodo.2584420" target="_blank">10.5281/zenodo.2584420</a> is the archive.

[2019-03-06 10:56] arfon commented on #898
@whedon accept

[2019-03-06 10:56] whedon commented on #898
[code]

[2019-03-06 10:57] whedon commented on #898
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/539

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/539, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-06 10:57] whedon commented on #898
[code]

[2019-03-06 10:58] arfon commented on #898
@danehkar - could you check those potentially missing DOIs and see if they are the correct ones for some of your references?

[2019-03-06 11:07] arfon commented on #1300
:wave: @shawnbanasick - this PR will fix your paper compilation issues https://github.com/shawnbanasick/kade/pull/1

/ cc @openjournals/joss-eics

[2019-03-06 11:07] arfon commented on #1302
@whedon generate pdf

[2019-03-06 11:07] whedon commented on #1302
[code]

[2019-03-06 11:08] whedon commented on #1302
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01302/joss.01302/10.21105.joss.01302.pdf)

[2019-03-06 11:44] shawnbanasick commented on #1300
@whedon commands

[2019-03-06 11:44] whedon commented on #1300
Here are some things you can ask me to do:

[code]

[2019-03-06 11:45] shawnbanasick commented on #1300
@whedon generate pdf

[2019-03-06 11:45] whedon commented on #1300
[code]

[2019-03-06 11:45] whedon commented on #1300
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01300/joss.01300/10.21105.joss.01300.pdf)

[2019-03-06 12:05] shawnbanasick commented on #1300
@arfon Thank you for the fix - the paper seems to compile now.  As for possible reviewers, I had a look at the list and I think maybe mbod (number 390 on the list), adammichaelwood (416), or davekinkead (426) could be appropriate.

[2019-03-06 15:22] casperdcl commented on #1277
Thanks @GregaVrbancic. I've update my response above (but also explicit the changes below):

2. > In my opinion, a brief description of the target audience (based on https://pypi.org/pypi?%3Aaction=list_classifiers) would be useful and would improve the overall quality of the paper. Keep in mind that not all of the JOSS audience will go through the classifiers listed on PyPI package site.
- Thanks

[2019-03-06 15:23] casperdcl commented on #1277
@whedon generate pdf from branch devel

[2019-03-06 15:23] whedon commented on #1277
[code]

[2019-03-06 15:23] whedon commented on #1277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01277/joss.01277/10.21105.joss.01277.pdf)

[2019-03-06 16:24] marouenbg commented on #1302
@whedon generate pdf

[2019-03-06 16:24] whedon commented on #1302
[code]

[2019-03-06 16:24] whedon commented on #1302
PDF failed to compile for issue #1302 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    232      0 --:--:-- --:--:-- --:--:--   236
Error producing P

[2019-03-06 16:28] marouenbg commented on #1302
@whedon generate pdf

[2019-03-06 16:28] whedon commented on #1302
[code]

[2019-03-06 16:29] whedon commented on #1302
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01302/joss.01302/10.21105.joss.01302.pdf)

[2019-03-06 16:35] Amudtogal commented on #1254
@whedon generate pdf

[2019-03-06 16:35] whedon commented on #1254
[code]

[2019-03-06 16:36] whedon commented on #1254
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01254/joss.01254/10.21105.joss.01254.pdf)

[2019-03-06 17:13] harpolea commented on #1298
Hi all,
Overall, this package looks great and I've ticked off all the items in the review checklist. However I have a few additional points/suggestions:

- I worked through the tutorial and found a couple of bugs. I filed these as issues (healpy/healpy#538 and healpy/healpy#539)
- I checked the test coverage and it is a little low for some modules (< 60%) - it would be great if this could be impro

[2019-03-06 17:37] karthik commented on #1194
Thanks @hbodory We still need to see tests before going further. See here for [help](http://r-pkgs.had.co.nz/tests.html) setting up testing.

[2019-03-06 18:20] danehkar commented on #898
@arfon Those references with missing DOI are from **Astronomy & Astrophysics** and **Astronomy and Astrophysics Supplement**:
[1994A&A...282..999S](http://adsabs.harvard.edu/abs/1994A%26A...282..999S)
[1991A&A...251..680P](http://adsabs.harvard.edu/abs/1991A%26A...251..680P)
[1981A&AS...44..363W](http://adsabs.harvard.edu/abs/1981A%26AS...44..363W)
These two journals (**Astronomy & Astrophysics**

[2019-03-06 18:29] lheagy commented on #990
@whedon set 10.5281/zenodo.2585430 as archive

[2019-03-06 18:29] whedon commented on #990
OK. <a href="https://doi.org/10.5281/zenodo.2585430" target="_blank">10.5281/zenodo.2585430</a> is the archive.

[2019-03-06 18:31] lheagy commented on #990
Thanks @laempy, can you please update the zenodo record so that the title and author list are the same as they are on your paper?

[2019-03-06 18:41] lheagy commented on #1114
👋 Hi @dvalters, @trallard, would you be willing to review this submission for JOSS?

[2019-03-06 19:24] zonca commented on #1298
thanks @harpolea !
the tutorial definitely needs some love, @daniellenz would you like to work on that? I think at some point we lost the script to download the high resolution WMAP maps, I recovered it from an ancient healpy version, see https://github.com/healpy/healpy/blob/master/healpy/test/data/get_wmap_maps.sh
We should tell people to run that before running the tutorial so they have some re

[2019-03-06 19:25] dvalters commented on #1114
Hi @lheagy :wave:, sure, I can review this.

[2019-03-06 19:26] lheagy commented on #1114
@whedon assign @dvalters as reviewer

[2019-03-06 19:26] whedon commented on #1114
OK, the reviewer is @dvalters

[2019-03-06 19:26] lheagy commented on #1114
Many thanks @dvalters! I will wait to hear back from @trallard before starting the review.

[2019-03-06 19:38] aguang commented on #1284
I've tested the code and read through the paper and most of it looks good to me. The package is very easy to use and even though I knew how much faster Julia was compared to R I was blown away by how much faster the Mandlebrot code was with JuliaCall. Very cool.

That said I've raised a few issues; 2 are to do with documentation and 1 is some code functionality.

Non-Contradiction/JuliaCall#91
Non

[2019-03-06 20:12] whedon opened #1303 "[PRE REVIEW]: mpi4py-fft - Parallel Fast Fourier Transforms with MPI for Python"
**Submitting author:** @mikaem (<a href="http://orcid.org/0000-0002-3293-7573">Mikael Mortensen</a>)
**Repository:** <a href="https://bitbucket.org/mpi4py/mpi4py-fft" target ="_blank">https://bitbucket.org/mpi4py/mpi4py-fft</a>
**Version:** v2.0.0
**Editor:** @VivianePons
**Reviewers:** @iljah, @rainwoodman

**Author instructions**

Thanks for submitting your paper to JOSS @mikaem. **Currently, th

[2019-03-06 20:12] whedon commented on #1303
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-06 20:12] whedon commented on #1303
[code]

[2019-03-06 20:12] whedon opened #1304 "[PRE REVIEW]: Kepler Mapper: A flexible Python implementation of the Mapper algorithm."
**Submitting author:** @sauln (<a href="http://orcid.org/0000-0002-8549-9810">Nathaniel Saul</a>)
**Repository:** <a href="https://github.com/scikit-tda/kepler-mapper" target ="_blank">https://github.com/scikit-tda/kepler-mapper</a>
**Version:** 1.2.0
**Editor:** @leouieda
**Reviewers:** @ixjlyons, @lmcinnes

**Author instructions**

Thanks for submitting your paper to JOSS @sauln. **Currently, th

[2019-03-06 20:12] whedon commented on #1304
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-06 20:12] whedon commented on #1304
[code]

[2019-03-06 20:12] whedon opened #1305 "[PRE REVIEW]: lifelines: survival analysis in Python"
**Submitting author:** @CamDavidsonPilon (<a href="http://orcid.org/0000-0003-1794-9143">Cameron Davidson-Pilon</a>)
**Repository:** <a href="https://github.com/camdavidsonpilon/lifelines" target ="_blank">https://github.com/camdavidsonpilon/lifelines</a>
**Version:** 0.20.0
**Editor:** @trallard
**Reviewers:** @becarioprecario, @sunhwan

**Author instructions**

Thanks for submitting your paper t

[2019-03-06 20:12] whedon commented on #1305
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-06 20:12] whedon commented on #1305
[code]

[2019-03-06 20:13] whedon commented on #1304
PDF failed to compile for issue #1304 with the following error:

 Can't find any papers to compile :-(

[2019-03-06 20:13] whedon commented on #1305
PDF failed to compile for issue #1305 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01e

[2019-03-06 20:13] whedon commented on #1303
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01303/joss.01303/10.21105.joss.01303.pdf)

[2019-03-06 20:19] CamDavidsonPilon commented on #1305
@becarioprecario @sunhwan

[2019-03-06 20:20] CamDavidsonPilon commented on #1305
@whedon commands

[2019-03-06 20:20] whedon commented on #1305
Here are some things you can ask me to do:

[code]

[2019-03-06 20:20] mdbartos commented on #1301
@whedon generate pdf

[2019-03-06 20:20] whedon commented on #1301
[code]

[2019-03-06 20:21] whedon commented on #1301
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01301/joss.01301/10.21105.joss.01301.pdf)

[2019-03-06 20:23] sauln commented on #1304
@whedon commands

[2019-03-06 20:23] whedon commented on #1304
Here are some things you can ask me to do:

[code]

[2019-03-06 20:23] sauln commented on #1304
@whedon generate pdf

Sorry the paper was hidden in another branch. It's on master now.

[2019-03-06 20:23] whedon commented on #1304
[code]

[2019-03-06 20:23] whedon commented on #1304
PDF failed to compile for issue #1304 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (XXXX-XXXX-XXXX-XXX) for Hendrik Jacob van Veen (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:89:in `each'
	from /app/ve

[2019-03-06 20:24] sauln commented on #1304
@whedon generate pdf

[2019-03-06 20:24] whedon commented on #1304
[code]

[2019-03-06 20:25] whedon commented on #1304
PDF failed to compile for issue #1304 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135

[2019-03-06 20:25] CamDavidsonPilon commented on #1305
@whedon generate pdf

[2019-03-06 20:25] whedon commented on #1305
[code]

[2019-03-06 20:25] whedon commented on #1305
PDF failed to compile for issue #1305 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:117:in `parse_affiliations': undefined method `each' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:103:in `parse_authors'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d

[2019-03-06 20:26] sauln commented on #1304
@whedon generate pdf

Sorry, try again.

[2019-03-06 20:26] whedon commented on #1304
[code]

[2019-03-06 20:27] whedon commented on #1304
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01304/joss.01304/10.21105.joss.01304.pdf)

[2019-03-06 20:32] CamDavidsonPilon commented on #1305
@whedon generate pdf

[2019-03-06 20:32] whedon commented on #1305
[code]

[2019-03-06 20:32] whedon commented on #1305
PDF failed to compile for issue #1305 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    235      0 --:--:-- --:--:-- --:--:--   236
Error reading bib

[2019-03-06 20:34] CamDavidsonPilon commented on #1305
SORRY ABOUT THE NOISE 🔈

I think I got it.

[2019-03-06 20:34] CamDavidsonPilon commented on #1305
@whedon generate pdf

[2019-03-06 20:34] whedon commented on #1305
[code]

[2019-03-06 20:34] whedon commented on #1305
PDF failed to compile for issue #1305 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    115      0 --:--:-- --:--:-- --:--:--   116
Error reading bib

[2019-03-06 20:38] CamDavidsonPilon commented on #1305
@whedon generate pdf

[2019-03-06 20:38] whedon commented on #1305
[code]

[2019-03-06 20:38] sauln commented on #1304
Thank you @whedon.  For possible reviewers, @corybrunson may be interested, as well as @rrrlw or @lmcinnes.

To review some of the visualization aspects of the software, @a-slide, @zfrenchee, or @ixjlyons, or @ejolly may be interested.

Thank you!

[2019-03-06 20:38] whedon commented on #1305
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01305/joss.01305/10.21105.joss.01305.pdf)

[2019-03-06 20:49] CamDavidsonPilon commented on #1305
@whedon generate pdf

[2019-03-06 20:49] whedon commented on #1305
[code]

[2019-03-06 20:49] whedon commented on #1305
PDF failed to compile for issue #1305 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0    124      0 --:--:-- --:--:-- --:--:--   125
Error reading bib

[2019-03-06 20:50] CamDavidsonPilon commented on #1305
@whedon generate pdf

[2019-03-06 20:50] whedon commented on #1305
[code]

[2019-03-06 20:50] whedon commented on #1305
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01305/joss.01305/10.21105.joss.01305.pdf)

[2019-03-06 20:52] mikaem commented on #1303
@whedon generate pdf

[2019-03-06 20:52] whedon commented on #1303
[code]

[2019-03-06 20:53] whedon commented on #1303
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01303/joss.01303/10.21105.joss.01303.pdf)

[2019-03-06 21:18] arfon commented on #898
@whedon accept deposit=true

[2019-03-06 21:18] whedon commented on #898
[code]

[2019-03-06 21:19] whedon commented on #898
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/540
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00898](https://doi.org/10.21105/joss.00898)
2. If everything looks go

[2019-03-06 21:22] arfon commented on #898
@mgalloy, @mdpiper - many thanks for your reviews here ✨

@danehkar - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-06 21:22] #898 closed

[2019-03-06 21:22] whedon commented on #898
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00898/status.svg)](https://doi.org/10.21105/joss.00898)

**We need your help!**

Journal of Open Source Softwar

[2019-03-06 21:35] kyleniemeyer commented on #1305
@Cameron Davidson-Pilon before we get this review started and work on reviewers, we first need to assign an editor to handle it—hang tight.

[2019-03-06 21:37] kyleniemeyer commented on #1305
@trallard would you be able/interested to edit this submission?

[2019-03-06 21:53] kyleniemeyer commented on #1304
@sauln before we get started assigning reviewers, we first need to find an editor to handle the submission—hang tight!

[2019-03-06 21:55] kyleniemeyer commented on #1304
@leouieda or @yochannah would either of you be interested in editing this paper?

[2019-03-06 21:56] CamDavidsonPilon commented on #1305
Whoops, I got confused by the OP I guess. Thanks @kyleniemeyer

[2019-03-06 21:57] kyleniemeyer commented on #1303
@VivianePons are you interested/willing to edit this submission?

[2019-03-06 22:02] kyleniemeyer commented on #1303
@eramirem this one might also be up your alley to edit

[2019-03-06 22:06] kyleniemeyer commented on #1302
@brainstorm @mgymrek @pjotrp not sure exactly if this one fits in your area, but if so would one of you be able to edit? (or recommend someone else... this is a bit far outside my area of expertise to make a good call)

[2019-03-06 22:07] kyleniemeyer commented on #1254
@gkthiruvathukal now that the paper is compiling, can you edit this submission?

[2019-03-06 22:08] kyleniemeyer commented on #1301
@eramirem @arokem could one of you edit this submission?

[2019-03-06 22:12] kyleniemeyer commented on #1300
@shawnbanasick please hold tight as we find an editor to handle your submission

[2019-03-06 22:15] kyleniemeyer commented on #1297
@zmeers please hold tight while we find an editor to manage your submission

[2019-03-06 22:33] kyleniemeyer commented on #1223
@whedon compile pdf

[2019-03-06 22:34] kyleniemeyer commented on #1223
@arfon looks like @whedon isn't responding in here?

[2019-03-06 22:35] danielskatz commented on #1223
@whedon generate pdf

[2019-03-06 22:35] whedon commented on #1223
[code]

[2019-03-06 22:36] whedon commented on #1223
PDF failed to compile for issue #1223 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01e

[2019-03-07 00:51] DanielLenz commented on #1298
Thanks @harpolea  for the review, these are all great comments!

Thanks @zonca for adding the wmap download script back to the repo. I'd be happy to update the tutorial, and I think the higher resolution data are important to have (e.g. Cl estimation doesn't really make sense on nside=32 data).

[2019-03-07 01:04] zonca commented on #1298
@harpolea current status:

* [ ] **tutorial**, @DanielLenz working on it
* [ ] **coverage**, have pull request ready (https://github.com/healpy/healpy/pull/541) to bring coverage over 80% for all the computational functions. I would prefer not to add more test on the modules related to visualization
* [x] **intro in docs**, I discovered our webhook was not working anymore and the docs were 2 month

[2019-03-07 01:28] aslakbergersen commented on #1065
@brainstorm, we have tried to add ´vmtk´ into ´conda-forge´, however without any luck conda-forge/staged-recipes/pull/7609. At this point, we, the vmtk developers, and members of conda-forge have all been unable to get any progress on this the last two weeks. We feel like we have exhausted all options on solving this problem within a reasonable timeframe.

Since ´vmtk´ is not our software, is alre

[2019-03-07 01:30] grantjenks commented on #1223
Ooops, updated paper.

[2019-03-07 01:30] grantjenks commented on #1223
@whedon generate pdf

[2019-03-07 01:30] whedon commented on #1223
[code]

[2019-03-07 01:30] whedon commented on #1223
PDF failed to compile for issue #1223 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:117:in `parse_affiliations': undefined method `each' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d135/lib/whedon.rb:103:in `parse_authors'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-01ece1d1d

[2019-03-07 01:36] grantjenks commented on #1223
Hi all, I'm not sure what you want for "affiliations". I was not attending college when I developed the project. But I can put where I graduated. Should I put my company? Please advise.

[2019-03-07 01:43] brainstorm commented on #1065
@aslakbergersen Agreed, I've been following the threads on the side, thanks for putting the effort into it anyway. Hopefully upstream vmtk/conda will at some point in the future realise that the build/integration needs more love and fix it for good.

@trallard Go ahead, all clear from my side now after seeing this. Thanks everyone!

[2019-03-07 01:47] leouieda commented on #1284
@aguang thank you for your comments :100:

@Non-Contradiction please reply to the issues that @matbesancon and @aguang have raised. If any changes need to be made, please let us know when you're done so we can have a second round of reviews. Please also look at the checklist items at the top of this issue to see which items are still missing.

[2019-03-07 01:53] agisga commented on #1287
Hi!

I have reviewed this submission. Generally it is pretty good. My review is given below.

**Summary:**

This submission is an R package that implements several Bayesian models from the family of Chinese Restaurant Process (CRP) mixtures. The methods implemented in ChiRP can be used for regression, binary classification, clustering, and related inference tasks. These are very common data analys

[2019-03-07 02:30] poulson commented on #1278
:wave: @HaoZeke, just checking in as it's been about a week since any comments were provided. I know that reviewing requires a significant amount of your (volunteered!) time and appreciate your commitment on this.

[2019-03-07 02:34] mdbartos commented on #1301
@whedon generate pdf

[2019-03-07 02:35] whedon commented on #1301
[code]

[2019-03-07 02:35] whedon commented on #1301
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01301/joss.01301/10.21105.joss.01301.pdf)

[2019-03-07 06:16] HaoZeke commented on #1278
Sorry I was hospitalized in a road accident. I'll be discharged today but have some appointments with an orthodontist... I might take a few days before I get home and am able to finish.

________________________________
From: Jack Poulson <notifications@github.com>
Sent: Thursday, March 7, 2019 8:00 AM
To: openjournals/joss-reviews
Cc: Rohit Goswami; Mention
Subject: Re: [openjournals/joss-reviews

[2019-03-07 08:28] MarionLegrandLogrami commented on #791
Hi @boshek - a little word just to let you know that we commited on github the final version of the automated installation for Linux. I forgot to tell you last time that we first tried to developp an R script to make all the installation (we tested the functions you suggested), but we failed. It's the reason we thought of an other way with batch files. We hope this will meet your expectations.

[2019-03-07 11:20] arfon commented on #1223
@grantjenks - you can have an affiliation of 'None', but the YAML header of the paper needs to match this example: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2019-03-07 12:17] trallard commented on #1114
Hi @lheagy I am sorry but I have other two reviews in process and I do not have the time now to take up on a third one

[2019-03-07 12:17] trallard commented on #1305
Hi @kyleniemeyer yes I would be happy to edit this submission

[2019-03-07 12:34] pjotrp commented on #1287
Thank you @agisga! @stablemarkets if you can address these points quickly we can publish!

[2019-03-07 12:39] pjotrp commented on #1302
One of our team will take it.

[2019-03-07 14:01] matbesancon commented on #1278
sorry to read that, great recover! :/

[2019-03-07 14:15] katyhuff commented on #1218
Thanks @goerz , for letting me know . I'll see if we can get a second reviewer signed up who is more available.

[2019-03-07 14:17] katyhuff commented on #1218
Hi Folks,

@jwuttke : Joachim, are you able to and interested in taking on this review?
@jochym : Pawel, are you able to and interested in taking on this review?
@yxqd : Jiao, are you able to and interested in taking on this review?
@mkhorton : Matthew, are you able to and interested in taking on this review?

- Title: crystal-torture: A crystal tortuosity module
- Summary: crystal_torture is a Py

[2019-03-07 14:19] katyhuff commented on #1169
@maximtrp : How is this going? I don't mean to pester, but wanted to make sure that you'd like this review to continue. One option, if you need substantial time, is to withdraw the submission (close this issue) and resubmit when you're at a new code version that will satisfy the key features that the review has uncovered.

[2019-03-07 14:21] katyhuff commented on #1185
@whedon generate pdf

[2019-03-07 14:21] whedon commented on #1185
[code]

[2019-03-07 14:22] whedon commented on #1185
PDF failed to compile for issue #1185 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    278      0 --:--:-- --:--:-- --:--:--   280
Error producing P

[2019-03-07 15:46] katyhuff commented on #1185
https://github.com/3dct/open_iA/issues/36

[2019-03-07 15:47] katyhuff commented on #1185
@codeling I'm going through this a bit to bring this submission to completion. Please see: https://github.com/3dct/open_iA/issues/36

[2019-03-07 16:52] mir-am commented on #1252
Also, we would like to thank @rougier for his comments and reviewing this work.

Our responses to the comments are as follows:

In the research field of SVM, expressions like "Geometric illustration" or "Geometric interpretation" are common. These captions are used to show the main idea of a classifier in 2-dimensional feature space. Nonetheless, we welcome suggestions for the captions' title.

He

[2019-03-07 17:06] malmaud commented on #1188
Ya, I'm currently traveling but will try again in a few days.

[2019-03-07 17:07] labarba commented on #1262
I notice that the `.py` file mentions MIT License, while the `LICENSE` file is GNU.
https://github.com/ybayle/Scyland3D/blob/1d219d40a8327515d936b94a2d1d4ce7060c0f16/Scyland3D.py#L5

[2019-03-07 17:07] lheagy commented on #1114
Hi @trallard, no problem. Thanks for getting back to me. Best of luck with your other reviews!

[2019-03-07 17:09] lheagy commented on #1114
:wave: Hi @harpolea, would you be willing to review this submission for JOSS?

[2019-03-07 17:46] harpolea commented on #1114
Hi @lheagy, I'm afraid I'm going to be busy travelling this month, so do not think I'd have the necessary time to review this properly (especially as I only have limited access to machines with the Intel compilers required). I also do not have much experience with finite element codes or solid mechanics, so do not think I'd be the best person to look at this.

[2019-03-07 17:53] lheagy commented on #1114
Thanks for getting back to me @harpolea. Safe travels!

[2019-03-07 17:56] lheagy commented on #1114
👋 Hi @nnadeau, would you be willing to review this submission for JOSS?

[2019-03-07 17:56] poulson commented on #1278
@HaoZeke I am so sorry to hear about the accident but am glad to hear you are okay. Please excuse the distraction of my message; your recovery is obviously much more important.

[2019-03-07 18:04] krueschan commented on #1273
@whedon generate pdf

[2019-03-07 18:05] whedon commented on #1273
[code]

[2019-03-07 18:06] whedon commented on #1273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01273/joss.01273/10.21105.joss.01273.pdf)

[2019-03-07 18:19] leouieda commented on #808
@viktor76525 I went through most of the changes and I can get the tests to run now with pytest-mpl. What about the `gmsimviz_compare.py` file? Is that not part of the test suite?

I'm trying to run the examples but I'm getting some errors (see ucgmsim/GMSimViz#24).

[2019-03-07 19:04] mkhorton commented on #1218
Hi @katyhuff, I'd be interested in this one!

[2019-03-07 19:24] codeling commented on #1185
@whedon generate pdf

[2019-03-07 19:24] whedon commented on #1185
[code]

[2019-03-07 19:24] whedon commented on #1185
PDF failed to compile for issue #1185 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    307      0 --:--:-- --:--:-- --:--:--   313
Error producing P

[2019-03-07 19:31] Kevin-Mattheus-Moerman commented on #1173
Comments on paper:

- [ ] Add "be" in the following: "....(Persson & Strang, 2004), which can [be] computed based on a..."

- [ ] Remove plural in: "As a result~s~, NodeLab can take the following..."

- [ ] Rephrase "some discrete set of point cloud on the boundary, which need not to be uniformly
sampled." e.g. to: "some discrete ~set of~ point cloud on the boundary, which need not ~to~ be uniform

[2019-03-07 19:32] codeling commented on #1185
@whedon generate pdf

[2019-03-07 19:32] whedon commented on #1185
[code]

[2019-03-07 19:33] whedon commented on #1185
PDF failed to compile for issue #1185 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    184      0 --:--:-- --:--:-- --:--:--   186
Error producing P

[2019-03-07 19:34] grantjenks commented on #1223
Ok, try 2.

[2019-03-07 19:34] grantjenks commented on #1223
@whedon generate pdf

[2019-03-07 19:34] whedon commented on #1223
[code]

[2019-03-07 19:34] whedon commented on #1223
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01223/joss.01223/10.21105.joss.01223.pdf)

[2019-03-07 19:49] Kevin-Mattheus-Moerman commented on #1173
@whedon check references

[2019-03-07 19:49] whedon commented on #1173
[code]

[2019-03-07 19:50] whedon commented on #1173
[code]

[2019-03-07 19:52] Kevin-Mattheus-Moerman commented on #1173
I've created a pull request (https://github.com/pankajkmishra/NodeLab/pull/2) to enhance the demos/documentation. I recommend clarifying the required input arguments and perhaps to visualize them as I suggest.
I also recommend making use of the MATLAB documentation generation tools. I give an example in that demo. You can publish it to create HTML documentation which can be integrated in MATLAB.

[2019-03-07 20:24] stablemarkets commented on #1287
Hi @pjotrp and @agisga. Thank you for your thorough review! Thanks especially for reviewing the companion web site - extremely helpful.

The package repository has been updated with edits that address your feedback (see below for details). I think the paper.md file will need to be recompiled for the edits to be visible?

1. I added DOIs to all but two references in paper.bib. I could not find DOIs

[2019-03-07 20:57] VivianePons commented on #1303
I can take it, I will look at it next week.

[2019-03-07 22:47] jedbrown commented on #1244
@whedon generate pdf

[2019-03-07 22:47] whedon commented on #1244
[code]

[2019-03-07 22:47] whedon commented on #1244
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01244/joss.01244/10.21105.joss.01244.pdf)

[2019-03-07 22:53] jedbrown commented on #1244
@whedon check references

[2019-03-07 22:53] whedon commented on #1244
[code]

[2019-03-07 22:53] whedon commented on #1244
[code]

[2019-03-08 00:44] jedbrown commented on #1244
Whedon is quite flaky about checking DOIs; they look fine in the paper. I made a PR for some bib formatting issues: https://github.com/ScottKolo/suitesparse-matrix-collection-website/pull/6
I think we'll be ready to archive and accept if that looks reasonable. Thanks for your patience.

[2019-03-08 00:56] arfon commented on #1244
I think Whedon only checks DOIs for `@article` entries currently. I'll see if I can fix this.

[2019-03-08 01:04] arfon commented on #1244
@whedon check references

[2019-03-08 01:04] whedon commented on #1244
[code]

[2019-03-08 01:04] whedon commented on #1244
[code]

[2019-03-08 01:29] pjotrp commented on #1287
Excellent. @agisga can you run through those points and confirm you are happy?

[2019-03-08 01:48] katyhuff commented on #1218
Fantastic! Thanks @mkhorton !

[2019-03-08 01:48] katyhuff commented on #1218
@whedon add @mkhorton as reviewer

[2019-03-08 01:48] whedon commented on #1218
OK, @mkhorton is now a reviewer

[2019-03-08 01:51] katyhuff commented on #1218
Two should do it. Let's get the review started.

[2019-03-08 01:51] katyhuff commented on #1218
@whedon start review

[2019-03-08 01:51] whedon opened #1306 "[REVIEW]: crystal-torture: A crystal tortuosity module"
**Submitting author:** @connorourke (<a href="http://orcid.org/0000-0002-0703-8234">Conn O&#39;Rourke</a>)
**Repository:** <a href="https://github.com/connorourke/crystal_torture" target ="_blank">https://github.com/connorourke/crystal_torture</a>
**Version:** v.1.0.08
**Editor:** @katyhuff
**Reviewers:** @mkhorton, @katyhuff
**Archive:** <a href="https://doi.org/10.5281/zenodo.3254426" target="_b

[2019-03-08 01:51] whedon commented on #1218
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1306. Feel free to close this issue now!

[2019-03-08 01:51] whedon commented on #1306
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vahtras, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-03-08 01:51] whedon commented on #1306
[code]

[2019-03-08 01:52] whedon commented on #1306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01306/joss.01306/10.21105.joss.01306.pdf)

[2019-03-08 01:53] katyhuff commented on #1218
Ok, @vahtras, @mkhorton, @connorourke, @bjmorgan , let's move over to #1306!

[2019-03-08 01:53] #1218 closed

[2019-03-08 02:02] leouieda commented on #1304
@kyleniemeyer I'd be happy to edit this submission :+1:

[2019-03-08 02:16] leouieda commented on #808
@lheagy @viktor76525 I've gone through the submission one more time and managed to install, get all tests passing, and run the examples. The code has improved a lot since submission and is following a much more standard Python project layout (besides some minor issues with making it pip-installable which we're discussing in ucgmsim/GMSimViz#24).

I don't have any more comments to add and to me the

[2019-03-08 05:05] pankajkmishra commented on #1173
Thanks @Kevin-Mattheus-Moerman! I'll get back to you after implementing your suggestions.

[2019-03-08 05:05] pankajkmishra commented on #1173
@whedon generate pdf

[2019-03-08 05:05] whedon commented on #1173
[code]

[2019-03-08 05:05] whedon commented on #1173
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01173/joss.01173/10.21105.joss.01173.pdf)

[2019-03-08 05:09] kyleniemeyer commented on #1303
@VivianePons thanks!

[2019-03-08 05:09] kyleniemeyer commented on #1303
@whedon assign @VivianePons as editor

[2019-03-08 05:09] whedon commented on #1303
OK, the editor is @VivianePons

[2019-03-08 05:10] kyleniemeyer commented on #1304
@leouieda thanks!

[2019-03-08 05:10] kyleniemeyer commented on #1304
@whedon assign @leouieda as editor

[2019-03-08 05:10] whedon commented on #1304
OK, the editor is @leouieda

[2019-03-08 05:11] kyleniemeyer commented on #1302
thanks @pjotrp!

[2019-03-08 05:11] kyleniemeyer commented on #1305
@trallard thanks!

[2019-03-08 05:11] kyleniemeyer commented on #1305
@whedon assign @trallard as editor

[2019-03-08 05:11] whedon commented on #1305
OK, the editor is @trallard

[2019-03-08 05:34] kyleniemeyer commented on #1282
Hi @Schallaven,

Apologies for the delay—the JOSS editorial board was having a discussion about whether we thought your submission should be considered substantial research software and thus eligible for publication, or instead a minor (though still useful) utility software.

After some discussion from most of the editors, we reached a consensus that your submission is more along the lines of what

[2019-03-08 10:34] Kevin-Mattheus-Moerman commented on #1173
@pankajkmishra great. Can you also work on adding those DOI's? Let me know if you have questions.

[2019-03-08 10:56] pankajkmishra commented on #1173
@whedon check references

[2019-03-08 10:56] whedon commented on #1173
[code]

[2019-03-08 11:48] richardcollins commented on #1119
@ejdanderson, Sorry to bug you about this but are you able to spend some time on this? - I'm happy to answer questions. I need to report my publications in a progress report and this has been noted as stalled.

[2019-03-08 12:05] bjmorgan commented on #1209
Done https://github.com/bjmorgan/pyscses/commit/1fbab4696bd4b04ea26322891f843f071ee52bba

[2019-03-08 14:37] #1282 closed

[2019-03-08 14:42] arfon commented on #1173
@pankajkmishra - there were some missing commas in your bibtex: https://github.com/pankajkmishra/NodeLab/pull/3

[2019-03-08 16:16] trallard commented on #1241
Hi @adrena-lab I will be the editor do you have any reviewers in mind? You can also check the list fo reviewers [here](https://bit.ly/joss-reviewers)

[2019-03-08 16:17] ScottKolo commented on #1244
I have checked all of the suggested DOIs - they are all incorrect. Here's a quick discussion about each of these references and why they (currently) lack DOIs:

This is a tech report. The suggested DOI references a paper that predates it by 15 years.

This is a website for Clarivate Analytics' Data Citation Index. The suggested DOI leads to a cardiology journal (?).

This is a website describing t

[2019-03-08 16:18] ScottKolo commented on #1244
@whedon generate pdf

[2019-03-08 16:18] whedon commented on #1244
[code]

[2019-03-08 16:18] whedon commented on #1244
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01244/joss.01244/10.21105.joss.01244.pdf)

[2019-03-08 16:28] jedbrown commented on #1244
Yeah, the DOI checker is very buggy. References look good to me now. Can you fix one spelling error "constrainted", tag a release ([annotated tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags) preferred), and archive on Zenodo or similar?

[2019-03-08 16:30] trallard commented on #1185
Hi sorry for the massive delay in this.
I tested in a Windows machine and all seems to be working ok.  Due to the comments above regarding tests/and the functionality claims of the package I ran my own review and local test based on the user guide.

So far I could not spot anything that was not working as expected or that limited the use of the software for research purposes.

As this develops and

[2019-03-08 16:30] trallard commented on #1185
@whedon generate pdf

[2019-03-08 16:30] whedon commented on #1185
[code]

[2019-03-08 16:30] whedon commented on #1185
PDF failed to compile for issue #1185 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    312      0 --:--:-- --:--:-- --:--:--   313
Error producing P

[2019-03-08 16:31] trallard commented on #1185
it seems the compilation error persists, but thus far I am happy to recommend acceptance on my reviewer role and apologies for the long time taken to complete this

[2019-03-08 16:35] aelanman commented on #1234
@whedon remind @reviewer in 0 days

[2019-03-08 16:35] whedon commented on #1234
I'm sorry @aelanman, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-03-08 16:40] aelanman commented on #1234
@arfon
Hi Arfon. It's been quite some time... can my collaborators and I expect a review soon?

[2019-03-08 16:45] trallard commented on #1305
Hi @CamDavidsonPilon  I will be editing this paper let's ping the reviewers. Once we have found 2 reviewers we can proceed to the review of the software

---

Dear potential reviewers,

Based on your expertise I would like to ask if you can help out with this JOSS submission.

**Title**: lifelines: survival analysis in Python

**Summary**: lifelines is a pure Python implementation of the best part

[2019-03-08 16:46] jgostick commented on #1296
Not sure if it's ok to interject in the review process, but this seems relevant to the review process:

Sometime between submitting to JOSS and now, Numpy (1.16) made a change that breaks Skimage (0.14.1)  The Skimage team has already fixed this in 0.14.2, but this version is NOT currently the default on the Conda distribution.  So, if a user were to install Conda, they get a version of Numpy and

[2019-03-08 17:05] ScottKolo commented on #1244
@whedon generate pdf

[2019-03-08 17:05] whedon commented on #1244
[code]

[2019-03-08 17:06] whedon commented on #1244
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01244/joss.01244/10.21105.joss.01244.pdf)

[2019-03-08 17:08] ScottKolo commented on #1244
One last nitpick: Is there any way to prevent line breaks in the middle of URLs?

![image](https://user-images.githubusercontent.com/3859035/54043531-75dd9f80-4192-11e9-8617-2b6c4ea26bab.png)

[2019-03-08 17:18] rougier commented on #1252
Thanks. I'm still fighting with the installation on OSX bur we've made some progress.

[2019-03-08 17:20] jedbrown commented on #1244
I would consider dropping the `https://` part because it's arguably clutter given that full links are embedded. and/or using a tt font:
[code]

[2019-03-08 18:14] aguang commented on #1284
I closed the issues that were for functionality documentation and would recommend this paper for acceptance.

Quick question: There are 4 dois in the paper but whedon only checked 2. I checked the others and they are all OK but is this a bug? The other 2 are books that can be read in eBook form.

[2019-03-08 18:30] codeling commented on #1185
@whedon generate pdf

[2019-03-08 18:30] whedon commented on #1185
[code]

[2019-03-08 18:30] whedon commented on #1185
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01185/joss.01185/10.21105.joss.01185.pdf)

[2019-03-08 18:32] ygrange commented on #1234
I had some things taking up priority recently. Applogies! I have some
draft comments but I want to run through examples, read the docs to see
if I miss something, etc. I’ll plan time for it early next week
(mo/tue).

--
Y. Grange

het volgende geschreven:

expect a review soon?

[2019-03-08 18:33] codeling commented on #1185
The problem was that I had escaped the underscore in the title (metadata) in paper.md as well. This seems to have been accepted in the previous build from Jan 28, but not anymore...

[2019-03-08 18:37] ScottKolo commented on #1244
@whedon generate pdf

[2019-03-08 18:37] whedon commented on #1244
[code]

[2019-03-08 18:38] whedon commented on #1244
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01244/joss.01244/10.21105.joss.01244.pdf)

[2019-03-08 19:17] ScottKolo commented on #1244
@whedon generate pdf

[2019-03-08 19:17] whedon commented on #1244
[code]

[2019-03-08 19:18] whedon commented on #1244
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01244/joss.01244/10.21105.joss.01244.pdf)

[2019-03-08 19:32] ScottKolo commented on #1244
Okay, I have tagged release at JOSS-1.0.2.
https://github.com/ScottKolo/suitesparse-matrix-collection-website/releases/tag/JOSS-1.0.2

We have archived the code for this release using figshare: https://figshare.com/articles/SuiteSparse_Matrix_Collection_Website/7381076

Does all of that look correct?

[2019-03-08 20:02] lheagy commented on #808
Many thanks @leouieda and @hugoledoux for the effort you invested in conducting the review!

And congrats @viktor76525! To proceed with the publication process, can you please make a new release and create an archive on [zenodo](http://zenodo.org) or similar? Please make sure the title and author list match that on your paper, and then post the doi here. Thanks!

[2019-03-08 21:07] katyhuff commented on #1185
Thanks @behollister and @trallard for your reviews, and thank you @codeling for your submission!

Thank you @codeling for a strong submission and for engaging actively in the review process! I have looked over the paper, double checked all the DOI links, and have conducted a high level review of the code itself. Everything looks ship-shape to me.

At this point, it'll be good to double check the p

[2019-03-08 21:09] leouieda commented on #1284
@aguang thank you conducting the review! :tada: I don't think there is a problem with the DOIs if you checked that they work manually. We can wait and see if Whedon will complain.

@matbesancon please let us know as soon as the remaining issues are resolved.

[2019-03-08 22:48] pankajkmishra commented on #1173
Thanks @arfon !

[2019-03-08 22:49] pankajkmishra commented on #1173
@whedon check references

[2019-03-08 22:49] whedon commented on #1173
[code]

[2019-03-08 22:49] whedon commented on #1173
[code]

[2019-03-09 00:11] leouieda commented on #1304
@lmcinnes and @ixjlyons would be interested in reviewing this submission for JOSS?

[2019-03-09 04:14] whedon commented on #1173
[code]

[2019-03-09 05:37] maximtrp commented on #1169
@katyhuff Sorry for a long delay. I will finish in a few days.

[2019-03-09 06:44] jedbrown commented on #1244
Author list on the figshare appears to be missing Yifan Hu, who was on the paper. Can you fix the author lists to match in content and order?

[2019-03-09 14:18] TormodLandet commented on #1239
@whedon generate pdf

[2019-03-09 14:18] whedon commented on #1239
[code]

[2019-03-09 14:18] whedon commented on #1239
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01239/joss.01239/10.21105.joss.01239.pdf)

[2019-03-09 14:35] rougier commented on #1252
Some update on the installation problem: it has been fixed. @cMadan can you rebuild the PDF?

[2019-03-09 15:18] CBenghi commented on #1208
Dear @arfon,

I'm glad to let you know that @brogly has addressed all the issues.
I agree with @lrasmus that the repository passes all requirements for the review and I've flagged them all above.

Well done @brogly, I'm tempted to start using this myself in normal web browsing :-)

Best,
Claudio

[2019-03-09 16:10] arsilva87 commented on #1212
Hi @karthik Both source files and test folder were added.

[2019-03-09 17:01] adrena-lab commented on #1241
Dear trallard,

After looking through the list of reviewers, I think aquilesC and cmccomb would be most suited.

Please let me know if you would like me to provide further suggestions.

Thank you!

Niamh

[2019-03-09 17:10] arfon commented on #1208
Great!

[2019-03-09 17:11] arfon commented on #1208
@whedon check references

[2019-03-09 17:11] whedon commented on #1208
[code]

[2019-03-09 17:11] arfon commented on #1208
@whedon generate pdf

[2019-03-09 17:11] whedon commented on #1208
[code]

[2019-03-09 17:11] whedon commented on #1208
PDF failed to compile for issue #1208 with the following error:

 Can't find any papers to compile :-(

[2019-03-09 17:11] whedon commented on #1208
[code]

[2019-03-09 17:18] arfon commented on #1208
@whedon generate pdf

[2019-03-09 17:18] whedon commented on #1208
[code]

[2019-03-09 17:18] whedon commented on #1208
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01208/joss.01208/10.21105.joss.01208.pdf)

[2019-03-09 17:20] arfon commented on #1208
@VictoriaRubin - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2019-03-09 17:31] ScottKolo commented on #1244
Fixed. The Figshare DOI is https://doi.org/10.6084/m9.figshare.7381076

The title now matches, as do the authors and author order.

[2019-03-09 19:08] VictoriaRubin commented on #1208
@arfon - The DOI is 10.5281/zenodo.2588566. @danielskatz + @CBenghi @lrasmus - Thank you very much for your review!

[2019-03-09 19:17] arfon commented on #1208
@whedon set 10.5281/zenodo.2588566 as archive

[2019-03-09 19:17] whedon commented on #1208
OK. <a href="https://doi.org/10.5281/zenodo.2588566" target="_blank">10.5281/zenodo.2588566</a> is the archive.

[2019-03-09 19:17] arfon commented on #1208
@whedon accept

[2019-03-09 19:17] whedon commented on #1208
[code]

[2019-03-09 19:18] whedon commented on #1208
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/541

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/541, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-09 19:18] whedon commented on #1208
[code]

[2019-03-09 19:19] arfon commented on #1208
@whedon accept deposit=true

[2019-03-09 19:19] whedon commented on #1208
[code]

[2019-03-09 19:20] whedon commented on #1208
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/542
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01208](https://doi.org/10.21105/joss.01208)
2. If everything looks go

[2019-03-09 19:30] nnadeau commented on #1114
hi @lheagy, unfortunately i'm not available at this time

[2019-03-09 19:32] arfon commented on #1208
@lrasmus, @CBenghi - many thanks for your reviews here and to @danielskatz for editing this submission ✨

@VictoriaRubin - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-09 19:32] #1208 closed

[2019-03-09 19:32] whedon commented on #1208
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01208/status.svg)](https://doi.org/10.21105/joss.01208)

**We need your help!**

Journal of Open Source Softwar

[2019-03-09 20:22] annoviko commented on #1230
@adavidzh, I have updated the paper (see 'master' branch: `paper/paper.md`). And updated example section in `README` file ('master' and '0.8.2.rel' branches).

[2019-03-09 22:11] jedbrown commented on #1244
@whedon set JOSS-1.0.2 as version

[2019-03-09 22:11] whedon commented on #1244
OK. JOSS-1.0.2 is the version.

[2019-03-09 22:11] jedbrown commented on #1244
@ScottKolo Is it intended that `https://` appears in exactly one of the URLs?

[2019-03-09 22:15] ScottKolo commented on #1244
Yes. We removed it for most as you suggested, since it wasn’t helpful in those contexts, but left it when we referenced its deployment location.

[2019-03-09 22:17] lmcinnes commented on #1304
@leouieda: I would definitely be interested, but have a packed schedule for the next two weeks. If you and/or the authors are willing to wait until late March or April for me to start then by all means count me in, but I would certainly understand if you or the authors would prefer to move this along more quickly.

[2019-03-09 22:40] jedbrown commented on #1244
@whedon set 10.6084/m9.figshare.7381076 as archive

[2019-03-09 22:40] whedon commented on #1244
OK. <a href="https://doi.org/10.6084/m9.figshare.7381076" target="_blank">10.6084/m9.figshare.7381076</a> is the archive.

[2019-03-09 22:41] jedbrown commented on #1244
Over to you, @openjournals/joss-eics.

[2019-03-10 00:02] wandreopoulos commented on #693
Hi Jed,

I ran those commands on my mac and it finds the hierdenc package. I did
this in a new Terminal window.  I ran the install with sudo though, which
added the directory to my $PATH. Was your $PATH updated?

(TESTENV) $ sudo python setup.py install
(TESTENV) $ cd /
(TESTENV) $ python -c 'from hierdenc import *'
(TESTENV) $ python
Python 2.7.15 (default, Aug 22 2018, 16:36:18)
[GCC 4.2.1 Compa

[2019-03-10 00:20] jedbrown commented on #693
Oh, Python3 was the issue. It works with Python2, though that language will be unmaintained in 9 months and the libraries you use (numpy and sklearn) are dropping support sooner. What do you think about supporting Python-3?

[2019-03-10 01:31] danielskatz commented on #1208
Thanks everyone, I’m glad to see this complete!

[2019-03-10 01:50] brogly commented on #1208
Thanks everyone!!!

[2019-03-10 03:31] agisga commented on #1287
@pjotrp

Everything looks good to me!

I don't think there is a new article proof. So, can't check that. But I have looked at all new commits in the ChiRP repo, and also confirmed that the automated tests now run without warnings.

I don't know how strict JOSS is about having DOIs for every article reference, but in my opinion it's fine to have those two DOIs missing, especially because URLs are p

[2019-03-10 09:14] arfon commented on #1244
@whedon accept

[2019-03-10 09:14] whedon commented on #1244
[code]

[2019-03-10 09:14] whedon commented on #1244
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/543

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/543, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-10 09:15] whedon commented on #1244
[code]

[2019-03-10 09:22] arfon commented on #1244
@ScottKolo - the paper currently looks a little peculiar with both the figures being right at the start. This PR moves them into the body of the paper: https://github.com/ScottKolo/suitesparse-matrix-collection-website/pull/7

[2019-03-10 10:15] annoviko commented on #1230
@whedon generate pdf

[2019-03-10 10:15] whedon commented on #1230
[code]

[2019-03-10 10:15] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-10 11:17] annoviko commented on #1230
Just for your information: PDF generator does not support symbol '✓' (see @wheldon's previous post - tables have empty columns), therefore I have changed it to 'v'.

[2019-03-10 11:17] annoviko commented on #1230
@whedon generate pdf

[2019-03-10 11:17] whedon commented on #1230
[code]

[2019-03-10 11:18] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-10 11:20] annoviko commented on #1230
@whedon generate pdf

[2019-03-10 11:20] whedon commented on #1230
[code]

[2019-03-10 11:20] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-10 12:34] yochannah commented on #1214
Still looking for a reviewer on this at the minute - most of the people I've managed to find through searches so far either have no research experience or have collaborated with the current authors 😆 I did find another name to try, though - @gbaydin, is this something we could interested you in reviewing?

[2019-03-10 12:52] arfon commented on #1244
@whedon accept

[2019-03-10 12:52] whedon commented on #1244
[code]

[2019-03-10 12:52] whedon commented on #1244
[code]

[2019-03-10 12:53] whedon commented on #1244
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/544

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/544, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-03-10 12:54] arfon commented on #1244
@whedon accept deposit=true

[2019-03-10 12:54] whedon commented on #1244
[code]

[2019-03-10 12:55] whedon commented on #1244
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/545
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01244](https://doi.org/10.21105/joss.01244)
2. If everything looks go

[2019-03-10 12:59] arfon commented on #1244
@dblarremore, @tkonolige - many thanks for your reviews and to @jedbrown for editing this submission ✨

@ScottKolo - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-03-10 12:59] #1244 closed

[2019-03-10 12:59] whedon commented on #1244
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01244/status.svg)](https://doi.org/10.21105/joss.01244)

**We need your help!**

Journal of Open Source Softwar

[2019-03-10 14:35] whedon opened #1307 "[PRE REVIEW]: rGUIDANCE – alignment confidence score computation in R"
**Submitting author:** @FranzKrah (<a href="http://orcid.org/0000-0001-7866-7508">Franz-Sebastian Krah</a>)
**Repository:** <a href="https://github.com/FranzKrah/rGUIDANCE" target ="_blank">https://github.com/FranzKrah/rGUIDANCE</a>
**Version:** 1.0
**Editor:** @karthik
**Reviewers:** @shaunpwilkinson

**Author instructions**

Thanks for submitting your paper to JOSS @FranzKrah. **Currently, there

[2019-03-10 14:35] whedon commented on #1307
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-10 14:35] whedon commented on #1307
[code]

[2019-03-10 14:35] whedon opened #1308 "[PRE REVIEW]: webweb: a tool for creating lightweight network visualizations in the browser"
**Submitting author:** @hneutr (<a href="http://orcid.org/0000-0003-2518-841X">Kenneth Hunter Wapman</a>)
**Repository:** <a href="https://github.com/dblarremore/webweb" target ="_blank">https://github.com/dblarremore/webweb</a>
**Version:** 0.0.29
**Editor:** @cMadan
**Reviewers:** @vc1492a, @jg-you

**Author instructions**

Thanks for submitting your paper to JOSS @hneutr. **Currently, there isn

[2019-03-10 14:35] whedon commented on #1308
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-10 14:35] whedon commented on #1308
[code]

[2019-03-10 14:35] whedon opened #1309 "[PRE REVIEW]: AutoClassWrapper: a Python wrapper for AutoClass C classification"
**Submitting author:** @pierrepo (<a href="http://orcid.org/0000-0003-4177-3619">Pierre Poulain</a>)
**Repository:** <a href="https://github.com/pierrepo/autoclasswrapper" target ="_blank">https://github.com/pierrepo/autoclasswrapper</a>
**Version:** v1.4.1
**Editor:** @trallard
**Reviewers:** @rpetit3, @lowandrew

**Author instructions**

Thanks for submitting your paper to JOSS @pierrepo. **Curr

[2019-03-10 14:35] whedon commented on #1309
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-10 14:36] whedon commented on #1309
[code]

[2019-03-10 14:36] whedon opened #1310 "[PRE REVIEW]: UralicNLP: An NLP library for Uralic Languages"
**Submitting author:** @mikahama (<a href="http://orcid.org/0000-0001-9315-1278">Mika K Hämäläinen</a>)
**Repository:** <a href="https://github.com/mikahama/uralicNLP" target ="_blank">https://github.com/mikahama/uralicNLP</a>
**Version:** v1.1.0
**Editor:** @gkthiruvathukal
**Reviewers:** @gweissman

**Author instructions**

Thanks for submitting your paper to JOSS @mikahama. **Currently, there i

[2019-03-10 14:36] whedon commented on #1310
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-10 14:36] whedon commented on #1310
[code]

[2019-03-10 14:36] whedon opened #1311 "[PRE REVIEW]: MPIFiles.jl: A Julia Package for Magnetic Particle Imaging Files"
**Submitting author:** @tknopp (<a href="http://orcid.org/0000-0002-1589-8517">Tobias Knopp</a>)
**Repository:** <a href="https://github.com/MagneticParticleImaging/MPIFiles.jl" target ="_blank">https://github.com/MagneticParticleImaging/MPIFiles.jl</a>
**Version:** v0.5.0
**Editor:** @brainstorm
**Reviewers:** @IgorBaratta

**Author instructions**

Thanks for submitting your paper to JOSS @tknopp

[2019-03-10 14:36] whedon commented on #1311
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-03-10 14:36] whedon commented on #1311
[code]

[2019-03-10 14:36] whedon commented on #1309
PDF failed to compile for issue #1309 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1309/paper/paper.md): did not find expected key while parsing a block mapping at line 17 column 3 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	fro

[2019-03-10 14:36] whedon commented on #1307
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01307/joss.01307/10.21105.joss.01307.pdf)

[2019-03-10 14:36] whedon commented on #1308
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01308/joss.01308/10.21105.joss.01308.pdf)

[2019-03-10 14:36] whedon commented on #1310
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01310/joss.01310/10.21105.joss.01310.pdf)

[2019-03-10 14:36] whedon commented on #1311
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01311/joss.01311/10.21105.joss.01311.pdf)

[2019-03-10 16:56] mtobis commented on #1273
I think the "installation" question is ambiguous in the present case. The end user is not expected to be able to run the code on their own machine, but only to interact with the system through a web interface. Thus I am treating "installation" as meaning "ability to attain functionality", rather than "ability to replicate the service". I think the latter may present some difficulties.

(My attempt

[2019-03-10 16:57] mtobis commented on #1273
Is this the full paper?

https://github.com/openjournals/joss-papers/blob/joss.01273/joss.01273/10.21105.joss.01273.pdf

I see only a summary and a reference section.

[2019-03-10 17:08] tknopp commented on #1311
Hi, I am very excited about JOSS and this is my first submission. Getting a domain expert for review will be somewhat challenging. I have found one reviewer with expertise in magnetic resonance imaging, which would be close enough. But maybe its more important that there is Julia expertise. In the end, my package is basically a file loading / storing library.

[2019-03-10 17:16] jedbrown commented on #1273
Thanks, @mtobis.

This is a typical length for a JOSS "paper"; it is not meant to duplicate project documentation, which should be sufficiently complete to enable research using the software.

I'm okay with the present state of installation; having reproduced it locally, I think someone who wishes to run/extend the software (e.g., with new data or alternate analysis methods) would be able to get i

[2019-03-10 17:33] adavidzh commented on #1230
- Paper: this looks much better, thanks. Based on the [instructions](https://joss.readthedocs.io/en/latest/submitting.html), I suggest trying [`$\checkmark$`, `$\Checkmark$`, `$\ding{51}$`, `$\ballotcheck$`, and others like those from `fontawesome`](http://tug.ctan.org/tex-archive/info/symbols/comprehensive/symbols-a4.pdf#page=134) in a single try and seeing if JOSS supports any of them.
- `README

[2019-03-10 17:46] mtobis commented on #1273
This work is essentially a web wrapper around https://sourceforge.net/p/gdrs/code/HEAD/tree/gdrsclib/

Let me state categorically that this is very important work and it should be available and documented.

I am not sure whether that sourceforge tree is considered part of the review. I gather it is not.

I believe my job here is to validate the suitability of this submission for JOSS, not its impo

[2019-03-10 17:48] mtobis commented on #1273
Oh, sorry markdown mangled my bullets. Apologies. The above bulleted items were intended to come in pairs with two bullet styles: alternating between the requirement and my comment.

[2019-03-10 18:41] annoviko commented on #1230
@whedon generate pdf

[2019-03-10 18:41] whedon commented on #1230
[code]

[2019-03-10 18:41] whedon commented on #1230
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01230/joss.01230/10.21105.joss.01230.pdf)

[2019-03-10 18:43] annoviko commented on #1230
@adavidzh ,
- Paper: yes, it works with `$\checkmark$`, thank you!
- `README`: OPTICS example is updated, visualization example is added.

[2019-03-10 18:46] cMadan commented on #1308
@whedon assign @cMadan as editor

[2019-03-10 18:46] whedon commented on #1308
OK, the editor is @cMadan