[2020-05-28 21:05] danielskatz commented on #2270
Note: @gkthiruvathukal was suggested as the editor

[2020-05-28 21:07] danielskatz commented on #2270
@whedon check repository

[2020-05-28 21:07] whedon commented on #2270
[code]

[2020-05-28 21:11] danielskatz commented on #2270
👋 @logological - thanks for your submission.  A few checks are needed now, then we'll likely move this to a waiting list due to the very large number of submissions we've had this week.  More info to follow...

[2020-05-28 21:12] whedon opened #2271 "[PRE REVIEW]: COVID-19 Data Hub"
**Submitting author:** @ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/covid19datahub/COVID19/" target ="_blank">https://github.com/covid19datahub/COVID19/</a>
**Version:** 2.0.7
**Editor:** @will-rowe
**Reviewers:** @linuxscout, @mbod
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-05-28 21:12] whedon commented on #2271
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-28 21:12] whedon commented on #2271
[code]

[2020-05-28 21:12] whedon commented on #2271
[code]

[2020-05-28 21:12] whedon commented on #2271
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02271/joss.02271/10.21105.joss.02271.pdf)

[2020-05-28 21:13] danielskatz commented on #2271
from the author

[2020-05-28 21:18] danielskatz commented on #2271
👋 @ArdiaD - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog that

[2020-05-28 21:26] wilsonrljr commented on #2191
Hi @dpsanders ! Thank you for your comments and efforts towards improving our manuscript. In the following I will address all your questions and suggestions.

- If this is a package for doing NARMAX, should NARMAX appear in the name of the package?
In fact, adding NARMAX to the title would be a good way to make it clearer what the package is about.

- How does this compare to something like PySind

[2020-05-28 21:26] logological commented on #2270
@whedon generate pdf

[2020-05-28 21:26] whedon commented on #2270
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02270/joss.02270/10.21105.joss.02270.pdf)

[2020-05-28 21:28] logological commented on #2270
@whedon check references

[2020-05-28 21:28] whedon commented on #2270
[code]

[2020-05-28 21:30] logological commented on #2270
@danielskatz Thanks!  Looking forward to the process, whenever it may begin…

[2020-05-28 21:36] gkthiruvathukal commented on #2270
Hi, @logological, I'll be serving as the editor for this submission. About to assign myself. I will be asking you to suggest potential reviewers from our list (see the top of this the thread).

[2020-05-28 21:36] gkthiruvathukal commented on #2270
@whedon assign @gkthiruvathukal as editor

[2020-05-28 21:37] whedon commented on #2270
OK, the editor is @gkthiruvathukal

[2020-05-28 21:48] samuelduchesne commented on #1833
@brynpickering, I have addressed the caching in https://github.com/samuelduchesne/archetypal/pull/87

[2020-05-28 21:55] logological commented on #2270
Hello, @gkthiruvathukal.  The following reviewers seem to be qualified: bzz, kokan, rljacobson, smattr.  Let me know if you need more suggestions than this.

[2020-05-28 23:16] mbod commented on #2271
@whedon commands

[2020-05-28 23:16] whedon commented on #2271
Here are some things you can ask me to do:

[code]

[2020-05-28 23:16] mbod commented on #2271
@whedon list reviewers

[2020-05-28 23:16] whedon commented on #2271
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-05-28 23:18] mbod commented on #2271
@ArdiaD would be happy to review

[2020-05-28 23:19] lorenanicole commented on #2207
@whedon assign me as editor

[2020-05-28 23:19] whedon commented on #2207
OK, the editor is @lorenanicole

[2020-05-28 23:20] lorenanicole commented on #2220
@whendon assign me as editor

[2020-05-28 23:20] lorenanicole commented on #2220
@whendon assign me as editor

[2020-05-28 23:21] lorenanicole commented on #2220
@whedon assign me as editor

[2020-05-28 23:21] whedon commented on #2220
OK, the editor is @lorenanicole

[2020-05-28 23:28] arfon commented on #2207
@whedon check repository

[2020-05-28 23:28] whedon commented on #2207
[code]

[2020-05-28 23:40] justinsalamon commented on #2167
@arfon @SuperKogito @bmcfee @mbobra

I've started my review (apologies for the delay), but pretty quickly hit some functionality issues.

Here are the issues I've created so far on the target repo:
* Missing installation instructions: https://github.com/SuperKogito/pydiogment/issues/9
* Missing docs on audio formats: https://github.com/SuperKogito/pydiogment/issues/10
* fade issue: https://github.

[2020-05-28 23:42] kbarnhart commented on #2234
@KevinShook thanks for submitting this to JOSS. If you have any recommendations for reviewers, please post them here (separate @ from handle name, e.g., you would refer to me as @ kbarnhart). Consider the sheet with potential reviewers [linked above](https://bit.ly/joss-reviewers), but don't feel limited to it. It is OK if potential reviewers are not yet on GitHub. I have some initial thoughts for

[2020-05-28 23:43] danielskatz commented on #2271
I'm confused by this, since @ArdiaD is the author

[2020-05-28 23:44] danielskatz commented on #2223
👋 @lorenanicole - just a reminder here that you have been invited to edit this submission as well (and no more are coming to you in the immediate future)

[2020-05-28 23:58] ArdiaD commented on #2271
indeed I am a co-author ;)

Sent from my iPhone

[2020-05-29 01:15] mbod commented on #2271
if looking for reviewers still I would be happy to review

[2020-05-29 01:17] arfon commented on #2223
:wave: @jeffcsauer - @lorenanicole is a new editor and is already handling two JOSS submissions and so won't be able to take this one on. I'm going to mark this as `waitlisted` for now due to the large volume of submissions that have been received by JOSS in the last week but expect we'll be able to identify a handling editor relatively soon.

Thanks in advance for your patience!

[2020-05-29 01:17] ArdiaD commented on #2271
@danielskatz I am happy if @mbod reviews the data hub

[2020-05-29 01:18] kyleniemeyer commented on #1833
@whedon generate pdf

[2020-05-29 01:19] whedon commented on #1833
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01833/joss.01833/10.21105.joss.01833.pdf)

[2020-05-29 01:29] KevinShook commented on #2234
@kbarnhart thanks very much for getting in touch.
I'm afraid that I can't think of anyone who would be good as a reviewer, as everyone I know is either a hydrologist, or a computer scientist (or someone I work with!). Few people straddle both disciplines.
Looking at the list of reviewers, I see that there are about 12 who are comfortable with hydrology, of whom 4 (mlep, dvalters, arbennett, sgriev

[2020-05-29 01:40] danielskatz commented on #2271
Thanks @mbod for volunteering. As you can see, this submission is currently waitlisted, so there's not even an editor assigned yet, who will pick reviewers.  We'll keep your offer here for the editor to potentially accept once the submission moves off the waitlist.

[2020-05-29 05:48] hugoledoux commented on #2228
👋 @jhollist would you be interested in reviewing this submission for JOSS?

software: https://github.com/r-spatial/rgee

[2020-05-29 09:40] dlagrava commented on #2095
@roshansamuel Sorry for the delay, it is unprecedented times that we are currently living, hope that you are well.

I have mostly finished my review. I have 3 outstanding issues that I have opened on your repository about community guidelines, some missing documentation to write examples and intent of the software and comparison with existing software. I am happy to continue the discussion on each

[2020-05-29 11:15] peanutfun commented on #2195
As potential reviewers and I would like to suggest [`rreinecke`](https://github.com/rreinecke), [`mikaem`](https://github.com/mikaem), [`gassmoeller`](https://github.com/gassmoeller), [`dvalters`](https://github.com/dvalters), and [`pratikvn`](https://github.com/pratikvn)

[2020-05-29 13:08] hugoledoux commented on #2228
thank you @appelmar & @gena for accepting to review this submission.

Since there are 2 of you, I'll start the review process, it's in another issue, it will be shown below.

I know for both of you it's the first review, so I'll help you in the process, and don't hesitate to ask for my help by tagging me.

[2020-05-29 13:08] hugoledoux commented on #2228
@whedon add @appelmar as reviewer

[2020-05-29 13:08] whedon commented on #2228
OK, @appelmar is now a reviewer

[2020-05-29 13:08] hugoledoux commented on #2228
@whedon add @gena as reviewer

[2020-05-29 13:08] whedon commented on #2228
OK, @gena is now a reviewer

[2020-05-29 13:09] hugoledoux commented on #2228
@whedon start review

[2020-05-29 13:09] whedon opened #2272 "[REVIEW]: rgee: An R package for interacting with Google Earth Engine"
**Submitting author:** @csaybar (<a href="http://orcid.org/0000-0003-2745-9535">Cesar Luis Aybar Camacho</a>)
**Repository:** <a href="https://github.com/r-spatial/rgee" target ="_blank">https://github.com/r-spatial/rgee</a>
**Version:** v1.0.0
**Editor:** @hugoledoux
**Reviewers:** @appelmar, @gena, @jhollist
**Archive:** <a href="https://doi.org/10.5281/zenodo.3947571" target="_blank">10.5281/ze

[2020-05-29 13:09] whedon commented on #2228
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2272.

[2020-05-29 13:09] #2228 closed

[2020-05-29 13:09] whedon commented on #2272
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @appelmar, @gena it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-05-29 13:09] whedon commented on #2272
[code]

[2020-05-29 13:10] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-05-29 13:13] whedon opened #2273 "[PRE REVIEW]: memr: An R package for medical free-text records embedding and visualization"
**Submitting author:** @adamgdobrakowski (<a href="http://orcid.org/0000-0001-6460-3079">Adam Dobrakowski</a>)
**Repository:** <a href="https://github.com/MI2DataLab/memr" target ="_blank">https://github.com/MI2DataLab/memr</a>
**Version:** v0.1.0
**Editor:** @karthik
**Reviewers:** @cmaimone,  @timchurches
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2020-05-29 13:13] whedon commented on #2273
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-29 13:13] whedon opened #2274 "[PRE REVIEW]: ALVA: An adaptive MATLAB package for layered viscoelastic elastic analysis"
**Submitting author:** @asmusskar (<a href="http://orcid.org/0000-0003-3176-791X">Asmus Skar</a>)
**Repository:** <a href="https://github.com/asmusskar/ALVA" target ="_blank">https://github.com/asmusskar/ALVA</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @AnaWaldila, @CBenghi
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to th

[2020-05-29 13:13] whedon commented on #2274
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-29 13:14] whedon commented on #2274
[code]

[2020-05-29 13:14] whedon opened #2275 "[PRE REVIEW]: gym-electric-motor (GEM): A Python toolbox for the simulation of electric drive systems"
**Submitting author:** @wkirgsn (<a href="http://orcid.org/0000-0001-9490-1843">Wilhelm Kirchgässner</a>)
**Repository:** <a href="https://github.com/upb-lea/gym-electric-motor" target ="_blank">https://github.com/upb-lea/gym-electric-motor</a>
**Version:** v0.2.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @moorepants, @dineshresearch
**Managing EiC:** Daniel S. Katz

**:warning: JOSS redu

[2020-05-29 13:14] whedon commented on #2275
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-29 13:14] whedon commented on #2273
[code]

[2020-05-29 13:14] whedon commented on #2273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02273/joss.02273/10.21105.joss.02273.pdf)

[2020-05-29 13:14] whedon commented on #2274
[code]

[2020-05-29 13:14] whedon commented on #2275
[code]

[2020-05-29 13:14] whedon commented on #2274
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02274/joss.02274/10.21105.joss.02274.pdf)

[2020-05-29 13:15] whedon commented on #2275
[code]

[2020-05-29 13:15] whedon commented on #2275
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02275/joss.02275/10.21105.joss.02275.pdf)

[2020-05-29 13:15] danielskatz commented on #2273
@whedon check repository

[2020-05-29 13:16] whedon commented on #2273
[code]

[2020-05-29 13:18] danielskatz commented on #2273
👋 @adamgdobrakowski - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our ba

[2020-05-29 13:20] danielskatz commented on #2274
👋 @asmusskar - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog t

[2020-05-29 13:22] danielskatz commented on #2275
👋 @wkirgsn - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last week, we've had > 60 papers submitted and as such, yours has been put in our backlog tha

[2020-05-29 14:06] hpparvi commented on #2125
Dear all,

I find the code clear and well-documented. Installation works without issues, the tutorials in the user guide are clear (some could do with a bit cleaning up, but nothing major), and the real-life use-case notebooks reproducing the analyses reported in the associated AJ paper are also very useful.

The only two minor issues I can find with this submission is the lack of community guidel

[2020-05-29 14:35] jhollist commented on #2228
@hugoledoux It looks like you are all set on reviewers for this?  If so, great!  If you do need an additional one, just let me know.

[2020-05-29 14:40] lskatz commented on #2221
@whedon commands

[2020-05-29 14:40] whedon commented on #2221
Here are some things you can ask me to do:

[code]

[2020-05-29 14:41] lskatz commented on #2221
@whedon check repository

[2020-05-29 14:41] whedon commented on #2221
[code]

[2020-05-29 14:43] lskatz commented on #2221
@whedon list editors

[2020-05-29 14:43] whedon commented on #2221
Current editors:

[code]

[2020-05-29 14:55] whedon commented on #2245
[code]

[2020-05-29 14:59] hugoledoux commented on #2272
@whedon add @jhollist as reviewer

[2020-05-29 14:59] whedon commented on #2272
OK, @jhollist is now a reviewer

[2020-05-29 15:05] martinmodrak commented on #2016
Looking at the progress of the individual issues I filed, it is clear I was unable to build a collaborative relationship with the author.  I have no aim to gatekeep the publication of the software, but I am also unable to verify some of the basic functionality and can't find meaningful way forward. This is a lose-lose situation and I therefore ask @arfon to remove me from reviewing this submission

[2020-05-29 15:17] arfon commented on #2016
Thank you @martinmodrak for all of your hard work thus far. I'm sorry things have reached this point but I understand why you would like to be removed at this stage.

@drwaseemsheikh - while I look for a new reviewer, could you please address my comment from a couple of weeks ago about [published research](https://github.com/openjournals/joss-reviews/issues/2016#issuecomment-627436937) that you mi

[2020-05-29 15:44] jeffcsauer commented on #2223
Sounds good! Thank you for the follow-up.

[2020-05-29 16:46] kyleniemeyer commented on #2095
Thanks @dlagrava!

I am linking the issues here for convenience:
https://github.com/roshansamuel/saras/issues/1
https://github.com/roshansamuel/saras/issues/2
https://github.com/roshansamuel/saras/issues/3

[2020-05-29 17:31] arfon commented on #2016
@drwaseemsheikh - I've just tried installing this software on a Windows 10 Pro VM on Azure and confirmed that I can complete the [steps described by the author](https://github.com/openjournals/joss-reviews/issues/2016#issuecomment-633714396) to save a record.

As such, I believe we can move forward with accepting this submission.

@martinmodrak - given all of the hard work you've put into this rev

[2020-05-29 17:51] kbarnhart commented on #2234
👋 @r-barnes @dvalters @laijingtao @awickert, @KCallaghan, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue which is used to find reviewers. Once 2-3 reviewers have been found I'll start the review on a dedicated

[2020-05-29 18:14] r-barnes commented on #2234
Happy to review.

-R

On Fri, 29 May 2020, 11:51 Katy Barnhart, <notifications@github.com> wrote:

[2020-05-29 18:49] mbobra commented on #2125
@hpparvi Thank you so much for your review! Do you mind opening an issue on the submitting author's repo about contributing guidelines? Also, should the authors address any issues with functionality (I noticed those two boxes are also unchecked)?

[2020-05-29 19:01] prs513rosewood commented on #2121
@whedon generate pdf

[2020-05-29 19:02] whedon commented on #2121
PDF failed to compile for issue #2121 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2121 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-6225db5c4b57/lib/whedo

[2020-05-29 19:26] dpsanders commented on #2224
👋 Hi @MrMinimal64. Thanks for submitting to JOSS!

I have been assigned as the editor for your submission. Looking over it, I have a few questions that I would like you to address in the paper / docs. They are a mixture of technical and about the impact of the submission.

- There are several representations of multivariate polynomials. Does your package specify or require one? Are you basically p

[2020-05-29 19:30] dpsanders commented on #2224
Also, a comparison with the Julia package https://github.com/JuliaAlgebra/StaticPolynomials.jl may be interesting, since that seems very relevant / related.

[2020-05-29 19:52] majensen commented on #1942
Sounds good @benjaminbolling  - I will unpause us.

[2020-05-29 19:59] majensen commented on #2161
@TomKellyGenetics I really like this paper, and the material there is helpful and good. One way to reduce the size might be to take the example section and refer to it by reference from the paper to place where it is rendered -- could be a document in the repo itself, or simply the command to display the vignette in all its glory.

[2020-05-29 20:17] Kevin-Mattheus-Moerman commented on #2121
@whedon generate pdf

[2020-05-29 20:17] whedon commented on #2121
PDF failed to compile for issue #2121 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2121 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-6225db5c4b57/lib/whedo

[2020-05-29 20:21] Kevin-Mattheus-Moerman commented on #2121
@openjournals/dev can you help with these paper compilation issues? Thanks

[2020-05-29 20:30] awickert commented on #2234
I can as well. I might be a bit slow on the uptake for the next few weeks.

[2020-05-29 20:43] Kevin-Mattheus-Moerman commented on #2187
@avaxman @fwilliams @alecjacobson @keenancrane @sgsellan @nicoguaro @ranahanocka would you be interested in reviewing this work for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org)?

Submission: _DVRlib: A C++ library for geometric mesh improvement using Directional Vertex Relaxation_

The review process focuses on the software:
https://bitbucket.org/rram/dvrlib/src/joss/
and t

[2020-05-29 20:51] danielskatz commented on #2121
I was going to check the paper source, but I can't current get to https://c4science.ch/source/tamaas/repository/master/  I get errors like

[2020-05-29 20:58] arfon commented on #2121
That would be why Whedon can't compile the paper then... 😁

[2020-05-29 21:02] Kevin-Mattheus-Moerman commented on #2188
@mfroeling, @oliverchampion, @grlee77, @JoshKarpel, @rljacobson, @angielaird, @Lestropie would you be interested in reviewing: _qMRLab: Quantitative MRI Analysis, under one umbrella_, for [JOSS (the Journal of Open Source Software)](joss.theoj.org/).
The review takes place on GitHub and focuses on [the software](https://github.com/qMRLab/qMRLab) and this short paper:
https://github.com/openjournal

[2020-05-29 21:48] davidtourigny commented on #2202
Authors of a related project https://github.com/jdbrunner/surfin_fba would also serve as very appropriate reviewers for this paper: jdbrunner at https://github.com/jdbrunner

[2020-05-29 21:50] KCallaghan commented on #2234
Sure, this looks interesting.

[2020-05-29 23:24] hpparvi commented on #2125
@mbobra Done! I left the functionality checkbox unchecked because I still wanted to test things for a moment. This will need to wait till tomorrow, but I expect to be able to check this box too by the time the community guidelines have been added.

[2020-05-29 23:25] kbarnhart commented on #2197
@Xunius I wanted to follow up and see if you had any questions about my comments.

[2020-05-29 23:29] kbarnhart commented on #2234
Thanks @r-barnes , @awickert, and @KCallaghan !

I'll now add you as reviewers and start the review thread.

[2020-05-29 23:30] kbarnhart commented on #2234
@whedon assign @r-barnes as reviewer

[2020-05-29 23:30] whedon commented on #2234
OK, @r-barnes is now a reviewer

[2020-05-29 23:30] kbarnhart commented on #2234
@whedon add @awickert as reviewer

[2020-05-29 23:30] whedon commented on #2234
OK, @awickert is now a reviewer

[2020-05-29 23:31] whedon commented on #2234
OK, @KCallaghan is now a reviewer

[2020-05-29 23:32] kbarnhart commented on #2234
@whedon start review

[2020-05-29 23:32] whedon opened #2276 "[REVIEW]: WDPM: the Wetland DEM Ponding Model"
**Submitting author:** @KevinShook (<a href="http://orcid.org/0000-0003-0363-9929">Kevin Shook</a>)
**Repository:** <a href="https://github.com/CentreForHydrology/WDPM" target ="_blank">https://github.com/CentreForHydrology/WDPM</a>
**Version:** v2.0b
**Editor:** @kbarnhart
**Reviewer:** @r-barnes, @awickert, @KCallaghan
**Archive:** <a href="https://doi.org/10.5281/zenodo.5165172" target="_blank"

[2020-05-29 23:32] whedon commented on #2234
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2276.

[2020-05-29 23:32] #2234 closed

[2020-05-29 23:32] whedon commented on #2276
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @r-barnes, @awickert, @KCallaghan it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2020-05-29 23:33] whedon commented on #2276
[code]

[2020-05-29 23:33] whedon commented on #2276
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02276/joss.02276/10.21105.joss.02276.pdf)

[2020-05-30 00:13] prs513rosewood commented on #2121
From c4science:

[2020-05-30 06:44] richardjgowers commented on #2267
@danielskatz I could be editor on this one

[2020-05-30 06:46] richardjgowers commented on #2206
@Whedon set @mih as reviewer

[2020-05-30 06:46] whedon commented on #2206
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-05-30 06:47] richardjgowers commented on #2206
@whedon add @mih as reviewer

[2020-05-30 06:47] whedon commented on #2206
OK, @mih is now a reviewer

[2020-05-30 06:48] richardjgowers commented on #2206
@Whedon add @mwegrzyn as reviewer

[2020-05-30 06:48] whedon commented on #2206
OK, @mwegrzyn is now a reviewer

[2020-05-30 06:48] richardjgowers commented on #2206
@whedon Add @PeerHerholz as reviewer

[2020-05-30 06:48] whedon commented on #2206
OK, @PeerHerholz is now a reviewer

[2020-05-30 06:49] richardjgowers commented on #2206
@whedon Start review

[2020-05-30 06:49] whedon opened #2277 "[REVIEW]: BrkRaw: A comprehensive tool for accessing raw Bruker Biospin MRI data"
**Submitting author:** @dvm-shlee (<a href="http://orcid.org/0000-0001-5292-0747">Sung-Ho Lee</a>)
**Repository:** <a href="https://github.com/brkraw/bruker" target ="_blank">https://github.com/brkraw/bruker</a>
**Version:** 0.3.3
**Editor:** @richardjgowers
**Reviewer:** @mih, @mwegrzyn, @PeerHerholz
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-05-30 06:49] whedon commented on #2206
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2277.

[2020-05-30 06:49] #2206 closed

[2020-05-30 06:49] whedon commented on #2277
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mih, @mwegrzyn, @PeerHerholz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2020-05-30 06:49] whedon commented on #2277
[code]

[2020-05-30 06:50] whedon commented on #2277
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02277/joss.02277/10.21105.joss.02277.pdf)

[2020-05-30 08:16] Kevin-Mattheus-Moerman commented on #2274
@danielskatz I can take this one

[2020-05-30 08:16] Kevin-Mattheus-Moerman commented on #2274
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-05-30 08:16] whedon commented on #2274
OK, the editor is @Kevin-Mattheus-Moerman

[2020-05-30 08:17] Kevin-Mattheus-Moerman commented on #2275
@danielskatz I can take this one

[2020-05-30 08:17] Kevin-Mattheus-Moerman commented on #2275
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-05-30 08:17] whedon commented on #2275
OK, the editor is @Kevin-Mattheus-Moerman

[2020-05-30 08:24] Kevin-Mattheus-Moerman commented on #2275
@cybanical I hope you are doing well! I think this JOSS submission looks like your cup of tea. Would you be able to help review this? (perhaps you can also update your GitHub profile with your full name and a professional link e.g. https://www.media.mit.edu/people/mcarney/overview/)
Here is the short paper:
https://github.com/openjournals/joss-papers/blob/joss.02275/joss.02275/10.21105.joss.02275.

[2020-05-30 08:31] roshansamuel commented on #2095
Thank you very much, @dlagrava and @kyleniemeyer! The current situation across the world is distressing indeed, and we hope the reviewers and editorial team are well. We are working on resolving the three issues opened on the repository. Many thanks for the helpful comments!

[2020-05-30 08:38] Kevin-Mattheus-Moerman commented on #2275
@YashBansod @moorepants @podhrmic would you be interested in reviewing this submission for [JOSS (The Journal of Open Source Software)](https://joss.theoj.org):
_gym-electric-motor (GEM): A Python toolbox for the simulation of electric drive systems_

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-papers/blob/joss.02275/joss.02275/10.21105.jo

[2020-05-30 09:40] sara-02 commented on #2136
@deniederhut This is understandable, I just shared those packages as they seemed good reference point for future work.
Oh, I though we need to close any pending issues from our side for your package publication. I will be more than happy to reopen it.

[2020-05-30 09:47] sara-02 commented on #2136
@oliviaguest I think we are good with the reviews from our side. I cloned and ran the tests on the updated package and they passed.

[2020-05-30 10:26] AndresPenuela commented on #2231
Would it be possible to add @FrancescaPianosi as a submitting author?

[2020-05-30 11:16] dfm commented on #2209
@whedon assign @mirca as reviewer

[2020-05-30 11:16] whedon commented on #2209
OK, @mirca is now a reviewer

[2020-05-30 11:23] csaybar commented on #2272
@whedon commands

[2020-05-30 11:23] whedon commented on #2272
Here are some things you can ask me to do:

[code]

[2020-05-30 11:24] csaybar commented on #2272
@whedon generate pdf

[2020-05-30 11:24] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-05-30 13:38] arfon commented on #2267
@richardjgowers great! Please go ahead and assign yourself.

[2020-05-30 13:40] arfon commented on #2231
Could you say what you're trying to accomplish here @AndresPenuela ?

[2020-05-30 14:24] AndresPenuela commented on #2231
We are trying to develop a toolbox that can serve both the research and professional community in water systems operation and hence contribute to bridge the gap between them and promote the collaboration and integration of research advances in reservoir operation, e.g. hydrological forecast systems, into the real-world reservoir system management

[2020-05-30 14:47] arfon commented on #2231
Sorry, to clarify, I was wondering why you want to change the submitting author?

[2020-05-30 15:23] oliviaguest commented on #2136
@BayesForDays are the last few unticked items above now covered?

@sara-02 thanks — this is great. 😊

[2020-05-30 16:25] danielskatz commented on #2231
Also, to make it clear, JOSS only supports one submitting author

[2020-05-30 16:29] danielskatz commented on #2267
I'll go ahead and do this, this time, but as @arfon said, you can also just do this yourself, exactly as follows

[2020-05-30 16:30] danielskatz commented on #2267
@whedon assign @richardjgowers as editor

[2020-05-30 16:30] whedon commented on #2267
OK, the editor is @richardjgowers

[2020-05-30 16:31] AndresPenuela commented on #2231
Thanks, I didn't want to change the submitting author, just wondering if there could be more than one submitting authors but that's all right.

[2020-05-30 17:07] jsgalan commented on #2194
Hi guys, I am available to review.

Let me know your decision.

Best

[2020-05-30 17:39] joglekara commented on #2182
The statement of need/applications is hopefully addressed in https://github.com/joglekara/VlaPy/pull/38. Looking forward to your feedback there @TomGoffrey . The newline suggestions are also included there.

I suppose the main reason sphinx and the related packages are excluded is because we rely on the `.read_the_docs.yaml` and `docs/requirements.txt` to do the work. However, that's only configur

[2020-05-30 18:13] richardjgowers commented on #2267
@keipertk @malramsay64 @pszi1ard would you be available to review this?

[2020-05-30 20:07] omshinde commented on #2180
Hi @coljac!
cc: @gkthiruvathukal , @arfon

System settings while reviewing:
1. Installation - Local Machine, Google Colab
2. Running example notebooks - Google Colab

Thank you for the great software, I foresee Sensie as a great framework for sensitivity analysis of a machine learning/deep learning model. Please find my detailed thoughts below regarding the points mentioned in the review checklist

[2020-05-30 21:46] dfm commented on #2209
@whedon add @pat-s as reviewer

[2020-05-30 21:46] whedon commented on #2209
OK, @pat-s is now a reviewer

[2020-05-30 21:47] dfm commented on #2209
Thanks to @pat-s and @mirca for agreeing to review this submission! I'll start the main review now (whedon will create a new issue for that) and we'll head over there for the rest of the process. Thanks again!

[2020-05-30 21:48] dfm commented on #2209
@whedon start review

[2020-05-30 21:48] whedon opened #2278 "[REVIEW]: DriveML: An R Package for Driverless Machine Learning"
**Submitting author:** @sayanddude (<a href="http://orcid.org/0000-0002-6477-0376">Sayan Putatunda</a>)
**Repository:** <a href="https://github.com/daya6489/DriveML" target ="_blank">https://github.com/daya6489/DriveML</a>
**Version:** v0.1
**Editor:** @dfm
**Reviewers:** @mirca, @ledell
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2020-05-30 21:48] whedon commented on #2209
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2278.

[2020-05-30 21:48] #2209 closed

[2020-05-30 21:48] whedon commented on #2278
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mirca, @pat-s it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.j

[2020-05-30 21:49] whedon commented on #2278
[code]

[2020-05-30 21:49] dfm commented on #2209
@sayanddude, @mirca, @pat-s: Please head over to #2278 for the review.

[2020-05-30 21:49] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-05-30 21:51] dfm commented on #2278
@mirca, @pat-s: Thanks again for agreeing to review! The checklists above talk you through the process and there are various other useful links and bits of info in the main issue body. Please don't hesitate to ask questions as we proceed. We aim for a quick turn around here, but please take all the time that you need (especially given the state of the world) and let me know if there's anything I c

[2020-05-31 03:22] cybanical commented on #2275
Oh man, I wish I could. I'm really overwhelmed with work right now.  Trying
to get an open-hardware respirator shipped right now.  osrdesign.org.
<http://osrdesign.org>

*_____________________________________*
*MATTHEW CARNEY, PhD | Research Affiliate **| *Mechatronics Design Engineer
MIT Media Lab | Biomechatronics <http://biomech.media.mit.edu>
75 Amherst St. | E14-274G | Cambridge, MA 02142 USA

[2020-05-31 04:30] BayesForDays commented on #2136
Yes, I think everything looks good!

[2020-05-31 09:14] oliviaguest commented on #2136
@whedon check references

[2020-05-31 09:14] oliviaguest commented on #2136
@whedon generate pdf

[2020-05-31 09:14] whedon commented on #2136
[code]

[2020-05-31 09:15] whedon commented on #2136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02136/joss.02136/10.21105.joss.02136.pdf)

[2020-05-31 09:16] oliviaguest commented on #2136
@deniederhut can you please create an archive for your code (on Zenodo, figshare, or other) and post the archive DOI here as well as check the PDF proof, please? 😊

[2020-05-31 12:25] mtezzele commented on #2194
Hi! I am available too for the review. Let me know.

[2020-05-31 13:03] grlee77 commented on #2188
Yes, I can review this

[2020-05-31 14:00] Kevin-Mattheus-Moerman commented on #2188
@whedon add @grlee77 as reviewer

[2020-05-31 14:00] whedon commented on #2188
OK, @grlee77 is now a reviewer

[2020-05-31 15:28] richardjgowers commented on #2175
@openjournals/joss-eics this is good to go!

[2020-05-31 16:26] arfon commented on #2175
Thanks @richardjgowers. In order to notify the EiC team (and to create final proofs) you need to as @whedon to `@whedon accept`. That said, it looks like this submission still needs an archive DOI for the software.

@joaomcteixeira - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the softwar

[2020-05-31 17:35] chennachaos commented on #2089
Hi @aslakbergersen
Thank you for your detailed response and for your updates to the paper and the documentation.

[2020-05-31 17:36] danielskatz commented on #2204
👋 @nhejazi, @ati-ozgur, @rcannood - Would you be willing to review this JOSS submission?

[2020-05-31 17:37] danielskatz commented on #2204
👋 @jcolomb - Can I ask if you might have additional thoughts on potential reviewers?

[2020-05-31 17:43] danielskatz commented on #2204
👋 @amoeba, @brylie, @DominiqueMakowski, @mikerspencer, @aj2duncan - would one or two of you be willing to review this JOSS submission?

[2020-05-31 17:44] whedon opened #2279 "[PRE REVIEW]: multDM: An R package for multivariate version of the Diebold-Mariano test"
**Submitting author:** @kdrachal (<a href="http://orcid.org/0000-0001-5297-6695">Krzysztof Drachal</a>)
**Repository:** <a href="https://github.com/kdrachal/multDM" target ="_blank">https://github.com/kdrachal/multDM</a>
**Version:** 1.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVI

[2020-05-31 17:44] whedon commented on #2279
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-31 17:45] whedon commented on #2279
[code]

[2020-05-31 17:45] whedon commented on #2279
Failed to discover a valid open source license.

[2020-05-31 17:45] danielskatz commented on #2279
Note: @mbobra was suggested as the editor

[2020-05-31 17:45] whedon opened #2280 "[PRE REVIEW]: The Basic Model Interface 2.0: A standard interface for coupling numerical models in the geosciences"
**Submitting author:** @mdpiper (<a href="http://orcid.org/0000-0001-6418-277X">MARK PIPER</a>)
**Repository:** <a href="https://github.com/csdms/bmi" target ="_blank">https://github.com/csdms/bmi</a>
**Version:** v2.0
**Editor:** @diehlpk
**Reviewers:** @yangbai90, @teuben
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2020-05-31 17:45] whedon commented on #2280
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-05-31 17:45] whedon commented on #2279
[code]

[2020-05-31 17:45] whedon commented on #2280
[code]

[2020-05-31 17:46] whedon commented on #2279
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02279/joss.02279/10.21105.joss.02279.pdf)

[2020-05-31 17:46] whedon commented on #2280
PDF failed to compile for issue #2280 with the following error:

 Can't find any papers to compile :-(

[2020-05-31 17:49] danielskatz commented on #2279
👋 @kdrachal - thanks for your submission - we'll get back to you with the next step shortly

[2020-05-31 17:55] danielskatz commented on #2280
@whedon generate pdf from branch mdpiper/paper

[2020-05-31 17:55] whedon commented on #2280
[code]

[2020-05-31 17:56] whedon commented on #2280
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02280/joss.02280/10.21105.joss.02280.pdf)

[2020-05-31 17:57] csoneson commented on #1992
Just checking in here - @Sulstice, do I interpret your message above correctly in that you have addressed the issues raised by the reviewers and are ready for a re-review?

[2020-05-31 17:58] danielskatz commented on #2280
👋 @mdpiper - thanks for your submission  - we'll get back to you with a next step shortly

[2020-05-31 17:58] csoneson commented on #2163
@MetabolomicsAustralia-Bioinformatics - could you update us on the status of this submission? Thanks!

[2020-05-31 18:02] Sulstice commented on #1992
Yep I am ready for a re-review!

[2020-05-31 18:02] chennachaos commented on #2089
I have checked the installation process and found that the installation is quite involved especially if one does not have **anaconda** installed. (Conda requires about 4-5 GB disk space).

However, I have used the development version and installed it by following the instructions in the documentation page. Everything worked without any issues. I was also able to run the default test case; I had to

[2020-05-31 18:05] csoneson commented on #1992
Great - @olivertomic, @greglandrum, could you please have a look at the updated submission and let us know what you think? Thanks!

[2020-05-31 18:27] kthyng commented on #2199
Sorry for my delay, all. yes, I will handle this and will be able to address it in the next few days.

[2020-05-31 18:28] kthyng commented on #2199
@whedon assign @kthyng as editor

[2020-05-31 18:28] whedon commented on #2199
OK, the editor is @kthyng

[2020-05-31 22:23] usethedata commented on #2192
@khinsen 👋   Pinging on this issue.  Are you able to review this paper for JOSS?

[2020-05-31 22:29] usethedata commented on #2186
One decline, no response on other request.  Resent request and will send out a new request for the slot that was declined.

[2020-05-31 22:50] benjaminbolling commented on #1942
@whedon generate pdf

[2020-05-31 22:50] whedon commented on #1942
PDF failed to compile for issue #1942 with the following error:

 Error reading bibliography ./paper.bib (line 31, column 1):
unexpected "@"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-05-31 22:52] benjaminbolling commented on #1942
@whedon generate pdf

[2020-05-31 22:53] whedon commented on #1942
PDF failed to compile for issue #1942 with the following error:

 Error reading bibliography ./paper.bib (line 32, column 14):
unexpected "a"
expecting white space, "#", "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-05-31 22:54] benjaminbolling commented on #1942
@whedon generate pdf

[2020-05-31 22:55] whedon commented on #1942
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf)

[2020-05-31 22:58] benjaminbolling commented on #1942
@whedon generate pdf

[2020-05-31 22:58] whedon commented on #1942
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf)

[2020-05-31 23:00] benjaminbolling commented on #1942
@whedon generate pdf

[2020-05-31 23:00] whedon commented on #1942
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf)

[2020-05-31 23:01] benjaminbolling commented on #1942
Dear all,
@majensen @arfon @Chilipp
thanks for the enormous patience. I have now updated the package, attached a README file with installation instructions and how to launch it, a documentation on how to use the applications in the package, and also updated the article itself.

[2020-05-31 23:04] benjaminbolling commented on #1942
@whedon generate pdf

[2020-05-31 23:04] whedon commented on #1942
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01942/joss.01942/10.21105.joss.01942.pdf)

[2020-05-31 23:05] joaomcteixeira commented on #2175
@arfon a quick question before doing anything, sorry for making you repeat, but I want to double-check beforehand.
* all the additions from this review are already part of the deployed `taurenmd`, currently version `v0.9.3`, which was done immediately after each PR for each new addition.
* new versions are automatically deployed in Zenodo (currently,  DOI: 10.5281/zenodo.3843326 ) -> https://zenod

[2020-06-01 00:04] DominiqueMakowski commented on #2204
Hi @danielskatz, thanks for the invite, unfortunately, I feel like this is really outside my domain. Sorry, and good luck!

[2020-06-01 00:48] usethedata commented on #2186
@whedon add @Shuang-Plum as reviewer

[2020-06-01 00:48] whedon commented on #2186
OK, @Shuang-Plum is now a reviewer

[2020-06-01 00:54] coljac commented on #2180
@whedon generate pdf

[2020-06-01 00:55] whedon commented on #2180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02180/joss.02180/10.21105.joss.02180.pdf)

[2020-06-01 00:57] coljac commented on #2180
Hi @omshinde,

Thanks for the remarks and careful attention to the project.

I have addressed your comments as follows:

1. Python version

I altered the README and docs to indicate python 3.6 and above is required (there are f-strings in the Sensie code).

2. Documentation

- I added the matplotlib import to the example notebook.
- I added the reference to pytest and how to run the tests to the d

[2020-06-01 01:18] sara-02 commented on #2246
Hello, @arfon and @xillig I would like to review this package as I have recently started working on Twitter data visualization myself.
Do let me know when we move this up from the waitlisted phase :)

[2020-06-01 01:24] sara-02 commented on #2174
@terrytangyuan I have updated my reviews, waiting for @NicolasHug to update the paper w.r.t ` State of the field: Do the authors describe how this software compares to other commonly-used packages?`

[2020-06-01 01:51] Xunius commented on #2197
@kbarnhart Thanks for the comments.
I'm not quite used to packaging the code as nicely as a professional programmer, because 99% of the time the only user of the code I wrote is myself, so there is no surprise there is a lot of rough edges.

I got a few questions:
1. I can't promise making a conda-environment specification will work, I'll have to try. My experience with the `cdat` package is that

[2020-06-01 01:58] MetabolomicsAustralia-Bioinformatics commented on #2163
Hi all,

Apologies for the radio silence. I’ve been swamped so far as the only bioinformatician/ML analyst in my organisation.

I am working on a testing suite with Django’s built-in suite on a local build. I understand that we would preferably get to a point of automated testing. I’ve done my best to address the other points raised far re.:documentation, explanations for a non-technical audience.

[2020-06-01 05:56] mikerspencer commented on #2204
Yes, I can review this. It's my first piece for this journal, so I may need a little hand-holding.

[2020-06-01 08:51] aj2duncan commented on #2204
@danielskatz  I'm happy to review this too.

[2020-06-01 09:00] TomKellyGenetics commented on #2161
Thanks @majensen and all for the feedback, that is really encouraging. I've begun to revise the vignettes (see https://github.com/TomKellyGenetics/graphsim/commit/84100b88036287aee9a7db1497c2249107132da9 for details). The next step will be to add examples with the empirical datasets provided in `data/` (I've done this for the plotting function already https://github.com/TomKellyGenetics/graphsim/c

[2020-06-01 10:14] arfon commented on #2175
:+1: then I think this is in good shape.

[2020-06-01 10:14] arfon commented on #2175
@whedon set 10.5281/zenodo.3843326 as archive

[2020-06-01 10:14] whedon commented on #2175
OK. <a href="https://doi.org/10.5281/zenodo.3843326" target="_blank">10.5281/zenodo.3843326</a> is the archive.

[2020-06-01 10:15] arfon commented on #2175
@whedon accept

[2020-06-01 10:15] whedon commented on #2175
[code]

[2020-06-01 10:15] whedon commented on #2175
[code]

[2020-06-01 10:15] whedon commented on #2175
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1462

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1462, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-01 10:23] arfon commented on #2175
@richardjgowers - ☝️ this is the point we ask you to try and reach in the review process before handing off to the EiC team.

[2020-06-01 11:21] xuanxu commented on #2242
:wave: @mattpitkin - would you be willing to review this submission for JOSS?

[2020-06-01 11:26] mattpitkin commented on #2242
@xuanxu Yes, I can review this.

[2020-06-01 11:30] xuanxu commented on #2242
@mattpitkin Great, thanks!
I'll assign you now and start the review issue.

[2020-06-01 11:30] xuanxu commented on #2242
@whedon add @hayesla as reviewer

[2020-06-01 11:30] whedon commented on #2242
OK, @hayesla is now a reviewer

[2020-06-01 11:30] xuanxu commented on #2242
@whedon add @mattpitkin as reviewer

[2020-06-01 11:31] whedon commented on #2242
OK, @mattpitkin is now a reviewer

[2020-06-01 11:31] xuanxu commented on #2242
@whedon start review

[2020-06-01 11:31] whedon opened #2281 "[REVIEW]: ExoTiC-ISM: A Python package for marginalised exoplanet transit parameters across a grid of systematic instrument models"
**Submitting author:** @ivalaginja (<a href="http://orcid.org/0000-0003-1783-5023">Iva Laginja</a>)
**Repository:** <a href="https://github.com/hrwakeford/ExoTiC-ISM" target ="_blank">https://github.com/hrwakeford/ExoTiC-ISM</a>
**Version:** v2.0.0
**Editor:** @xuanxu
**Reviewer:** @hayesla, @mattpitkin
**Archive:** <a href="https://doi.org/10.5281/zenodo.3923986" target="_blank">10.5281/zenodo.39

[2020-06-01 11:31] whedon commented on #2242
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2281.

[2020-06-01 11:31] #2242 closed

[2020-06-01 11:31] whedon commented on #2281
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hayesla, @mattpitkin it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-06-01 11:32] xuanxu commented on #2242
@hayesla & @mattpitkin: please head over to #2281 where the review will take place.

[2020-06-01 11:34] whedon commented on #2281
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02281/joss.02281/10.21105.joss.02281.pdf)

[2020-06-01 11:35] xuanxu commented on #2281
@ivalaginja, @hayesla, @mattpitkin : this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mo

[2020-06-01 11:41] xuanxu commented on #2281
@whedon check references

[2020-06-01 11:43] whedon commented on #2281
[code]

[2020-06-01 12:30] danielskatz commented on #2204
Thanks to @mikerspencer and @aj2duncan  - we will go ahead with a review in a few minutes (and in a new thread after more commands to whedon).  Mike, please feel free to ask questions as needed, but I hope the fact that the process is checklist-driven will make this reasonably clear and easy.

[2020-06-01 12:30] danielskatz commented on #2204
@whedon assign @mikerspencer as reviewer

[2020-06-01 12:30] whedon commented on #2204
OK, @mikerspencer is now a reviewer

[2020-06-01 12:30] danielskatz commented on #2204
@whedon add @aj2duncan as reviewer

[2020-06-01 12:30] whedon commented on #2204
OK, @aj2duncan is now a reviewer

[2020-06-01 12:30] danielskatz commented on #2204
@whedon start review

[2020-06-01 12:30] whedon opened #2282 "[REVIEW]: Analysing 24-hour behaviour sequence data with an Rshiny application"
**Submitting author:** @jcolomb (<a href="http://orcid.org/0000-0002-3127-5520">Colomb, J.</a>)
**Repository:** <a href="https://github.com/jcolomb/HCS_analysis" target ="_blank">https://github.com/jcolomb/HCS_analysis</a>
**Version:** v0.1.3
**Editor:** @danielskatz
**Reviewer:** @mikerspencer, @aj2duncan
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-06-01 12:30] whedon commented on #2204
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2282.

[2020-06-01 12:30] #2204 closed

[2020-06-01 12:30] whedon commented on #2282
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mikerspencer, @aj2duncan it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-06-01 12:31] whedon commented on #2282
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02282/joss.02282/10.21105.joss.02282.pdf)

[2020-06-01 12:32] danielskatz commented on #2282
👋 @mikerspencer & @aj2duncan - thanks again for agreeing to review this submission. Please be sure to read the comments above, and let me know if you have any questions.  Basically, your job is to check the article proof and repository and check items off your checklist above.

If you see small problems that need to be discussed, feel free to discuss them here.  But if you can, create a new issue

[2020-06-01 12:40] danielskatz commented on #2264
I'm going to mark this as paused for now.

[2020-06-01 12:45] dfm commented on #2194
@jsgalan, @mtezzele: Thanks for your responses! I'll add you both as reviewers and we'll get the review started.

[2020-06-01 12:46] danielskatz commented on #2279
Hi @kdrachal. Many thanks for your submission to JOSS. Unfortunately, after consulting with the JOSS editorial board, we have decided that this submission is out of scope for JOSS due to its limited scope.  We encourage you to potentially add more methods and build a larger package, or to consider if this method can be added to an existing package.

[2020-06-01 12:46] dfm commented on #2194
@whedon assign @jsgalan as reviewer

[2020-06-01 12:46] whedon commented on #2194
OK, @jsgalan is now a reviewer

[2020-06-01 12:46] danielskatz commented on #2279
@whedon reject

[2020-06-01 12:46] whedon commented on #2279
Paper rejected.

[2020-06-01 12:46] #2279 closed

[2020-06-01 12:46] dfm commented on #2194
@whedon add @mtezzele as reviewer

[2020-06-01 12:46] whedon commented on #2194
OK, @mtezzele is now a reviewer

[2020-06-01 12:47] dfm commented on #2194
@whedon start review

[2020-06-01 12:47] whedon opened #2283 "[REVIEW]: datafold: data-driven models for point clouds and time series on manifolds"
**Submitting author:** @eldan101 (<a href="http://orcid.org/0000-0002-4012-5014">Daniel Lehmberg</a>)
**Repository:** <a href="https://gitlab.com/datafold-dev/datafold/" target ="_blank">https://gitlab.com/datafold-dev/datafold/</a>
**Version:** v1.0.2
**Editor:** @dfm
**Reviewer:** @jsgalan, @mtezzele
**Archive:** <a href="https://doi.org/10.5281/zenodo.3941904" target="_blank">10.5281/zenodo.394

[2020-06-01 12:47] whedon commented on #2194
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2283.

[2020-06-01 12:47] #2194 closed

[2020-06-01 12:47] whedon commented on #2283
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jsgalan, @mtezzele it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-06-01 12:47] whedon commented on #2283
[code]

[2020-06-01 12:47] whedon commented on #2283
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02283/joss.02283/10.21105.joss.02283.pdf)

[2020-06-01 12:48] dfm commented on #2283
@jsgalan, @mtezzele: Thanks again for agreeing to review! The checklists above talk you through the process and there are various other useful links and bits of info in the main issue body. Please don't hesitate to ask questions as we proceed. We aim for a quick turn around here, but please take all the time that you need (especially given the state of the world) and let me know if there's anythin

[2020-06-01 12:48] dfm commented on #2194
@mtezzele, @jsgalan, @elDan101: let's head over to #2283 to start the review. Thanks all!

[2020-06-01 12:48] danielskatz commented on #2280
Note to editors: this was discussed in https://github.com/openjournals/joss/issues/690 before submission

[2020-06-01 12:49] oliviaguest commented on #2201
@whedon add @Emma-k-ward as reviewer

[2020-06-01 12:49] whedon commented on #2201
OK, @Emma-k-ward is now a reviewer

[2020-06-01 12:52] danielskatz commented on #2280
👋 @mdpiper - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS about a little more than a week ago, we've had > 60 papers submitted and as such, yours has b

[2020-06-01 14:24] khinsen commented on #2192
@usethedata Yes, I can review this submission. Sorry for not reacting earlier, but GitHub notified me only today of being mentioned in this thread.

[2020-06-01 15:05] usethedata commented on #2192
@whedon add @khinsen as reviewer

[2020-06-01 15:05] whedon commented on #2192
OK, @khinsen is now a reviewer

[2020-06-01 15:05] usethedata commented on #2192
@whedon start review

[2020-06-01 15:05] whedon opened #2284 "[REVIEW]: GridTest: testing and metrics collection for Python"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://github.com/vsoch/gridtest" target ="_blank">https://github.com/vsoch/gridtest</a>
**Version:** 0.0.15
**Editor:** @usethedata
**Reviewer:** @cbrueffer, @khinsen
**Archive:** <a href="https://doi.org/10.5281/zenodo.3930366" target="_blank">10.5281/zenodo.3930366</a>

**

[2020-06-01 15:05] whedon commented on #2192
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2284.

[2020-06-01 15:05] #2192 closed

[2020-06-01 15:05] whedon commented on #2284
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cbrueffer, @khinsen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-06-01 15:05] whedon commented on #2284
[code]

[2020-06-01 15:06] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-06-01 15:06] usethedata commented on #2284
@cbrueffer and  @khinsen Thanks for agreeing to review.  Documenting here that, per earlier discussion, @cbrueffer won't be able to start this review until mid-June, so the timeline on this one can be a bit longer.  Please reach out to me, either through a comment or through the email in my profile, if you have any questions or needs.

[2020-06-01 15:52] poulson commented on #2131
Hi Fergus (@fhorrobin) :wave: -- given that you have listed Rust as one of your preferred programming language, as well as expertise in statistical methods and solid body dynamics, you appear to be one of the most qualified reviewers in our list. I'm fully aware that now is a very unstable time, and you could likely be overwhelmed, but please let me know if you would have the time to review this s

[2020-06-01 16:02] poulson commented on #2203
Thank you, @berenger-eu -- I looked through the profiles in the first set of your suggested potential reviewer list, and it seems Yoshimichi ANDOH would be the most appropriate, as they list interests in Fast Multipole Methods and C++. Eike Mueller also looks relevant given their interest in elliptic partial differential equations and numerical methods.

I have been unable to find a GitHub profile

[2020-06-01 16:05] poulson commented on #2203
Along those lines, Nikos (@pitsianis) was/is a reviewer for said fast-multipole like fast linear algebra method implementation. Nikos, would you be willing to help review this submission?

[2020-06-01 16:12] pitsianis commented on #2203
Certainly. After Thursday though.

[2020-06-01 16:26] kyleniemeyer commented on #2175
👋 that's me! (for the week)

[2020-06-01 16:29] poulson commented on #2203
Thank you, Nikos (@pitsianis)! I will add you now with the understanding that it will be several days before you can circle back.

[2020-06-01 16:29] poulson commented on #2203
@whedon add @pitsianis as reviewer

[2020-06-01 16:29] whedon commented on #2203
OK, @pitsianis is now a reviewer

[2020-06-01 16:33] kbarnhart commented on #2197
Thanks for those questions @Xunius I'll do my best to provide some answers. I would also recommend looking at some of repositories of [other papers](https://joss.theoj.org/) published in JOSS to see some existing examples of providing installation and testing instructions, as well as approaches to documentation and packaging code. I often find looking at these examples to be helpful.

- Just to be

[2020-06-01 17:57] xillig commented on #2246
Hi @arfon and @sara-02. That sounds good to me.  :smile:

[2020-06-01 18:15] RainierBarrett commented on #2267
Hi guys, thanks for the quick turn around. I added a brief blurb in the README about the main benefits of HOOMD-TF. Let me know what you think.

[2020-06-01 18:44] sjvrijn commented on #2049
Hi @zbeekman, any luck yet with reviewing the code and documentation?

[2020-06-01 18:58] oliviaguest commented on #2200
@whedon add @Athanasiamo as reviewer

[2020-06-01 18:58] whedon commented on #2200
OK, @Athanasiamo is now a reviewer

[2020-06-01 19:11] oliviaguest commented on #2200
@whedon start review

[2020-06-01 19:11] whedon opened #2285 "[REVIEW]: PupillometryR: An R package for preparing and analysing pupillometry data"
**Submitting author:** @samhforbes (<a href="http://orcid.org/0000-0003-1022-4676">Samuel Forbes</a>)
**Repository:** <a href="https://github.com/samhforbes/PupillometryR" target ="_blank">https://github.com/samhforbes/PupillometryR</a>
**Version:** v0.0.3
**Editor:** @oliviaguest
**Reviewer:** @paulinepalma, @Athanasiamo
**Archive:** <a href="https://doi.org/10.5281/zenodo.3897291" target="_blank

[2020-06-01 19:11] whedon commented on #2200
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2285.

[2020-06-01 19:11] #2200 closed

[2020-06-01 19:11] whedon commented on #2285
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @paulinepalma, @Athanasiamo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2020-06-01 19:12] whedon commented on #2285
[code]

[2020-06-01 19:12] whedon commented on #2285
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02285/joss.02285/10.21105.joss.02285.pdf)

[2020-06-01 19:12] oliviaguest commented on #2200
Hi all @paulinepalma, @Athanasiamo and @samhforbes — head on over to #2285 to start the review proper. 😊

[2020-06-01 19:18] oliviaguest commented on #2285
👋  @paulinepalma, @Athanasiamo: Any code-related questions feel free to open issues on the package's repo itself and then link to whatever issue you open from here. Everything important about the PDF or the package, like high-level questions to me or @samhforbes, discussions and feedback, just leave it here as a comment directly. ✨ 🌷

[2020-06-01 21:38] omshinde commented on #2180
Hi @coljac!

Thank you for addressing the comments.

Oh, I missed out on this. Thanks for pointing it out and sorry for the inconvenience. Yes, the generated PDF looks perfect with the image properly captioned in the paper. Please keep it as it is.

I am completely satisfied with the `Sensie` software package and paper with regards to the JOSS review-checklist. Thanks again for your contribution a

[2020-06-01 23:58] kyleniemeyer commented on #2175
Hi @joaomcteixeira, just a few minor comments on the paper before I publish it:

- typo in the third paragraph: "To date, taurenmd does not operates in" -> "To date, taurenmd does not operate in"
- in the first paragraph of Implementation, "etc..." should just be "etc." (and not in italics
- same paragraph: "...; yet, simple, flat, easy to read, and extensible." should be something like "...; yet,

[2020-06-02 03:58] klho commented on #2203
This looks great -- and thanks for thinking of me! -- but I just am not going to be able to put in the proper time to do this justice. Sorry.

[2020-06-02 06:16] olivertomic commented on #1992
I am happy to approve the paper for publication. @Sulstice , and @csoneson . Just a minor change would be requried in paper.md itself.

The text says: ´Cocktail Shaker´ consists of **four** major class objects available to the user: PeptideMolecule, CocktailShaker, and FileWriter.´

However, only three are mentioned.

@Sulstice , thank you for the collaboration and implementation of suggestions.

[2020-06-02 06:34] Kevin-Mattheus-Moerman commented on #2188
@mfroeling, @oliverchampion, @JoshKarpel, @rljacobson, @Lestropie, @mriedel56 @62442katieb would you be interested in reviewing: _qMRLab: Quantitative MRI Analysis, under one umbrella_, for [JOSS (the Journal of Open Source Software)](joss.theoj.org/).
The review takes place on GitHub and focuses on [the software](https://github.com/qMRLab/qMRLab) and this short paper:
https://github.com/openjourn

[2020-06-02 07:10] edwardando commented on #2186
So now a new issue will be created with the review?

[2020-06-02 07:45] Athanasiamo commented on #2285
# Review checklist for @Athanasiamo
## Conflict of interest
✅    I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

## Code of Conduct
✅  I confirm that I read and will adhere to the JOSS code of conduct.

## General checks
 ✅  Repository: Is the

[2020-06-02 09:24] meg-simula commented on #2190
@danielskatz Thanks for the invite. I have taken a look, but as I don't speak R natively, I am having difficulty in evaluating the submission at all. I'm afraid that I will have to decline this one.

[2020-06-02 09:26] meg-simula commented on #2094
@ralfHielscher :wave: We are still waiting on your review to proceed with this submission. Could you give us an update?

[2020-06-02 09:55] oliviaguest commented on #2285
@Athanasiamo thank you for this, can you also check/tick them off above in the OP as well?

[2020-06-02 11:07] usethedata commented on #2186
@whedon add @jwbuurlage as reviewer

[2020-06-02 11:07] whedon commented on #2186
OK, @jwbuurlage is now a reviewer

[2020-06-02 11:08] usethedata commented on #2186
@whedon start review

[2020-06-02 11:08] whedon opened #2286 "[REVIEW]: spam: Software for Practical Analysis of Materials"
**Submitting author:** @edwardando (<a href="http://orcid.org/0000-0001-5509-5287">Edward Andò</a>)
**Repository:** <a href="https://gricad-gitlab.univ-grenoble-alpes.fr/ttk/spam/" target ="_blank">https://gricad-gitlab.univ-grenoble-alpes.fr/ttk/spam/</a>
**Version:** 0.5.2
**Editor:** @usethedata
**Reviewer:** @Shuang-Plum, @jwbuurlage
**Archive:** <a href="https://doi.org/10.5281/zenodo.3940302

[2020-06-02 11:08] whedon commented on #2186
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2286.

[2020-06-02 11:08] #2186 closed

[2020-06-02 11:08] whedon commented on #2286
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Shuang-Plum, @jwbuurlage it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-06-02 11:08] whedon commented on #2286
PDF failed to compile for issue #2286 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2286/docs/paper/paper.md): could not find expected ':' while scanning a simple key at line 17 column 5 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'

[2020-06-02 11:12] usethedata commented on #2286
@Shuang-Plum and @jwbuurlage : Thanks for agreeing to review this paper.  Please feel free to contact me via comment or the email in my profile if you need any assistance or if there are questions that need answering.  Note, from the pre-review, that the current paper text is in a branch, and that's probably where you should clone from for your review.

[2020-06-02 11:12] usethedata commented on #2286
@whedon generate pdf from branch spamPaper

[2020-06-02 11:12] whedon commented on #2286
[code]

[2020-06-02 11:13] whedon commented on #2286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02286/joss.02286/10.21105.joss.02286.pdf)

[2020-06-02 12:17] meg-simula commented on #2195
Thank you for the submission @peanutfun, I look forward to taking a closer look at DORiE. List of potential reviewers also much appreciated.

Before we move this along, please note that the JOSS guidelines stipulate a paper length of 250-1000 words:

https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

As far as I can tell, the current DORiE paper is substantially lo

[2020-06-02 12:40] danielskatz commented on #2216
👋 @blthayer - Any progress on suggesting other reviewers?

[2020-06-02 13:16] majensen commented on #2168
@balhoff @wdduncan - how is it coming? @sap218 has put in the work so maybe we can get across the finish line.

[2020-06-02 13:18] majensen commented on #1942
@Chilipp @pythonpanda2 - Hope to see your comments within the next week or so. Thank @benjaminbolling for all this work.

[2020-06-02 13:28] JoshKarpel commented on #2188
I am not familiar with either QMRI or MATLAB, so I think I should pass. Thanks for the offer!

[2020-06-02 13:43] andyphilips commented on #2264
@whedon generate pdf

[2020-06-02 13:44] whedon commented on #2264
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02264/joss.02264/10.21105.joss.02264.pdf)

[2020-06-02 13:44] andyphilips commented on #2264
Thanks @danielskatz! Repository now has an Apache 2.0 license, and we updated the intro, as suggested. I just regenerated the PDF, but please let me know if there's anything else I need to do.

[2020-06-02 13:48] oliviaguest commented on #2285
@openjournals/joss-editors @openjournals/joss-eics has anybody seen a case where the reviewer cannot tick/check the boxes above? @Athanasiamo is not able to interact with the OP, is there a simple solution we are not aware of? She is logged in and I have sent her a video of what it looks like from my end. I have no idea what is wrong — thanks.

[2020-06-02 13:53] danielskatz commented on #2285
@whedon re-invite @Athanasiamo as reviewer

[2020-06-02 13:53] whedon commented on #2285
The reviewer already has a pending invite.

@athanasiamo please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-02 13:54] Athanasiamo commented on #2285
jup that did it. Seems like I did not complete the invite invitation when I clicked it the first time. Sorry about the bother.

[2020-06-02 13:54] peanutfun commented on #2195
Hi @meg-simula! 👋 You are correct. Excluding formulae, the current manuscript comprises some 3000 words, with ca. 1300 words in the longest section "Discontinuous Galerkin Discretization".

To the best of our knowledge, applying the described discretization method to the physical problem and providing the software implementing it is a novelty. We therefore included the mentioned section in the pap

[2020-06-02 14:02] paulinepalma commented on #2285
Hi Olivia,

I think I have the same problem as Athanasia. Could you please send me the
invite again? Sorry about that!

Pauline

Le mar. 2 juin 2020, à 09 h 53, whedon <notifications@github.com> a écrit :

--
Sent from my ouija board

[2020-06-02 14:06] joaomcteixeira commented on #2175
Hi @kyleniemeyer ,
I have corrected your highlights in the article and the new version is already merged to `master`. It compiled properly using the JOSS preview tool. Do I need to create another Zenodo DOI with this new paper revision?

[2020-06-02 14:08] danielskatz commented on #2285
@paulinepalma - Can you try just accepting the invitation in the first comment in this thread?

[2020-06-02 14:13] oliviaguest commented on #2285
@danielskatz thank you so much for this! I should have realised it was that. 😊

[2020-06-02 14:26] danielskatz commented on #2285
@oliviaguest - if the invite has expired, the whedon re-invite command can also be used, but in this case, it seems unlike that the invite would have expired :)

[2020-06-02 14:35] martinmodrak commented on #2016
OK. I agree to be listed as a reviewer. Thanks.

[2020-06-02 14:49] paulinepalma commented on #2285
Hi Daniel,

That is what I did initially, but here is the message I got: "Sorry, we
couldn't find that repository invitation. It is possible that the
invitation was revoked or that you are not logged into the invited
account." I am logged into my github account.

Pauline

Le mar. 2 juin 2020, à 10 h 27, Daniel S. Katz <notifications@github.com> a
écrit :

--
Sent from my ouija board

[2020-06-02 14:57] oliviaguest commented on #2285
@whedon re-invite @paulinepalma as reviewer

[2020-06-02 14:57] whedon commented on #2285
OK, the reviewer has been re-invited.

@paulinepalma please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-02 14:58] oliviaguest commented on #2285
@paulinepalma lemme know if that works, hopefully yes! 🌺

[2020-06-02 15:13] paulinepalma commented on #2285
It works! Thank you very much :)

Le mar. 2 juin 2020, à 10 h 58, Olivia Guest <notifications@github.com> a
écrit :

--
Sent from my ouija board

[2020-06-02 15:17] Sulstice commented on #1992
Yes you are definitely right, kind of an artifact of time of submission and me updating the modules. I will fix that later today!

[2020-06-02 15:25] joshspeagle commented on #2214
Hi Andrew,

Sorry for the delay in getting to this compared with @ejhigson. I've gone through the paper, code, tutorials, and docs and only have a few small comments on the docs, none of which are a barrier to publication (as indicated by the reviewer checklist above). These are:

- In the docs and tutorials, it would be nice to include a little more description of what's going on under the hood w

[2020-06-02 15:38] wdduncan commented on #2168
Sorry ... did get a chance to review the changes this weekend. I will circle back around soon.

[2020-06-02 16:09] kbarnhart commented on #2196
👋 @KMarkert @arbennet @dleutnant @ZhenduoZhu a quick ping to see if you would be interested in reviewing this submission for JOSS.

[2020-06-02 16:44] arm61 commented on #2214
Hi Josh!

Thanks for the great review and the detailed notes on the docs. Appreciated massively! I have opened them all as issues 😄

@dfm if you are happy, can we hold off until I get back to 0 issues (probably tomorrow) before moving forward? I would like to have the best possible `1.0.0` build to go along with the paper.

[2020-06-02 16:57] katmratliff commented on #2196
Some additional reviewer suggestions if needed are (no @'s) jrkasprzyk, julianneq, and nickrsan. They all have experience working with water systems and python.

[2020-06-02 16:59] dfm commented on #2214
@ejhigson, @joshspeagle: Also a big thanks from me for your reviews!!

@arm61: That sounds good. I also want to proofread the paper and do a bit of sanity checking before you tag your release for the publication so hold off on that for now, but let me know when you're satisfied with your responses to these suggestions.

[2020-06-02 18:02] blthayer commented on #2216
@danielskatz - thank you for following up.

Progress has been slower than I hoped, but it's possible that `tonyelhabr` may be willing to review. I'll continue emailing folks this week to try to get more possible reviewers.

@robinroche - good news: I was able to get a hold of a PWS 17 copy. ESA required only very minor touch-ups, and we now fully support PWS 17.

Thank you both for your patience a

[2020-06-02 18:44] paulinepalma commented on #2285
@oliviaguest I started going through the repository and I am having difficulties installing the developper version of the package (under R version 4.0.0). I ended up installing the CRAN version, which works. It could be an issue with my own computer, so I am unsure whether I should mention this in the issues?

[2020-06-02 18:51] danielskatz commented on #2216
👋 @tonyelhabr - would you be willing to review this submission for JOSS?  We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

In this particular case, you would also need access to PowerWorld and SimAuto.

[2020-06-02 19:06] MDLutoronto commented on #2177
i have not forgotten. I am a bit débordé at the moment but will try again tomorrow. my apologies for the delay.

[2020-06-02 19:16] elDan101 commented on #2283
Great! Thank you for starting the review process.

Today I have discovered an issue with datafold's scikit-learn dependency: A new version has recently been released (>= 0.23.0), which breaks the master and latest datafold version (v1.0.0). (This is because of internal changes in scikit-learn). For details [see issue](https://gitlab.com/datafold-dev/datafold/-/issues/95).

I already started adjust

[2020-06-02 19:20] YoungFaithful commented on #2034
Hi @ali-ramadhan, is there any additional information that you need from my side for the review?

[2020-06-02 19:26] oliviaguest commented on #2285
@paulinepalma I think this is exactly the kind of problem/solution @samhforbes should be able to solve for users (and might even already know how to solve). So, yes, please try and discuss with him here. 💯

[2020-06-02 19:32] samhforbes commented on #2285
Yes @paulinepalma if you can let me know where it fails, we can hopefully work it out. The development version was made with 4.0.0

[2020-06-02 19:38] oliviaguest commented on #2285
Also yes — sorry! — @paulinepalma feel free if you want (if you think it's needed) to create a specific issue for that at the repo. Basically whatever is sensible for you and @samhforbes. As always link to it from here if you do make any related issues. 🌷

[2020-06-02 19:39] paulinepalma commented on #2285
Ok! I'll create the issue now.

[2020-06-02 20:15] marcosvital commented on #2202
Thank you for the sugestions, @davidtourigny, I'll start to contact some of them. In the meantime, please do add the DOIs when they are available.

[2020-06-02 20:24] Chilipp commented on #1942
Dear @majensen and @benjaminbolling, thank you for the update! I am looking forward to have another look at it, but I am on vacation until June 12th. I expect to finish the review by June 21st.

[2020-06-02 20:41] marcosvital commented on #2202
Dear @jdbrunner, @cdiener and @pstjohn

Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review, once there are enough reviewers, we will move on to a new issue where the review will take place.

Since @davidtourigny wa

[2020-06-02 20:44] paulinepalma commented on #2285
**Conflict of interest**

✅ I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

**Code of Conduct**
✅ I confirm that I read and will adhere to the JOSS code of conduct.

**General checks**
✅ Repository: Is the source code for this software availab

[2020-06-02 21:12] rljacobson commented on #2188
@Kevin-Mattheus-Moerman Unfortunately, I am unavailable.

[2020-06-02 21:16] oliviaguest commented on #2285
@paulinepalma @Athanasiamo thanks for both your reviews so far! Super helpful and I really appreciate the work you are putting in. 👏

I edited your comments. I hope/think I left only the ones with relevant info over and above the tick (if I removed anything vital, please feel free to put it back — and sorry if so!). TBC it's to help @samhforbes focus on what he needs to address. The stuff that jus

[2020-06-02 21:27] arfon commented on #2253
:wave: @hrwakeford @kevin218 - would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-02 21:28] arfon commented on #1277
:wave: @lrq3000 @casperdcl - any chance we can wrap this up this week?

[2020-06-02 21:56] kevin218 commented on #2253
What's the turnaround time for this?

[2020-06-02 22:09] kyleniemeyer commented on #2175
@whedon generate pdf

[2020-06-02 22:09] whedon commented on #2175
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02175/joss.02175/10.21105.joss.02175.pdf)

[2020-06-02 22:11] kyleniemeyer commented on #2175
@joaomcteixeira thanks! No, there's no real need for another archive, unless the software itself has changed.

[2020-06-02 22:11] kyleniemeyer commented on #2175
@whedon accept

[2020-06-02 22:11] whedon commented on #2175
[code]

[2020-06-02 22:11] whedon commented on #2175
[code]

[2020-06-02 22:11] whedon commented on #2175
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1463

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1463, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-02 22:15] joaomcteixeira commented on #2175
Thanks @kyleniemeyer . No, nothing on the code has changed, just your text suggestions for the manuscript.

Best wishes,

[2020-06-02 22:19] kyleniemeyer commented on #2175
@whedon accept deposit=true

[2020-06-02 22:19] whedon commented on #2175
[code]

[2020-06-02 22:19] whedon commented on #2175
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1267944039950794753) 👈 🐦🐦🐦

[2020-06-02 22:19] whedon commented on #2175
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1464
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02175](https://doi.org/10.21105/joss.02175)
2. If everything looks g

[2020-06-02 22:22] kyleniemeyer commented on #2175
@joaomcteixeira congratulations on your article's publication in JOSS!

Many thanks to @amritagos and @Luthaf for reviewing this submission, and @richardjgowers for editing.

[2020-06-02 22:22] #2175 closed

[2020-06-02 22:22] whedon commented on #2175
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02175/status.svg)](https://doi.org/10.21105/joss.02175)

**We need your help!**

Journal of Open Source Softwa

[2020-06-02 22:25] arfon commented on #2253
Ideally within 4-6 weeks?

[2020-06-02 22:47] kthyng commented on #2199
@openjournals/dev Might it be possible in the future to run `@whedon check repository` on a subset of a repository, sort of like generating a pdf from a branch of a repo? Just an idea.

[2020-06-02 22:51] kthyng commented on #2199
@kbarnhart Thanks so much for the info.

[2020-06-02 22:53] kthyng commented on #2199
For reference, I am going to paste in the `cloc` output I ran on my laptop since the information above is not accurate for this specific project:

[code]

[2020-06-02 22:55] kthyng commented on #2199
@pfeiffea  I just read your personal description on github and it made me happy.

Sorry for my delay, getting work done right now is slow going. Could you look at this list and give a handful of suggestions for reviewers? Please don't @ them so that they aren't specifically mentioned, just give their github handle, like kthyng for me. https://bit.ly/joss-reviewers

[2020-06-02 23:02] kthyng commented on #2018
Hi @ysimillides! Were you able to accept the invitation above to gain permissions for your checklist? Have you been able to install the software and try it out?

[2020-06-02 23:16] pfeiffea commented on #2199
Glad the description brought a smile @kthyng -- those feel extra needed right now. No worries on delay.

Potential reviewers:
amandersillinois
ebgoldstein
anowacki
alangston
zsylvester

[2020-06-02 23:52] katmratliff commented on #2196
Also recommending @ dickinsonre

[2020-06-03 00:06] joaomcteixeira commented on #2175
Thanks @kyleniemeyer @richardjgowers @Luthaf @amritagos for all your work and help on this publication! Cheers :clinking_glasses:

[2020-06-03 01:09] kthyng commented on #2199
@pfeiffea I should say you are welcome to suggest other reviewers too. I'll check them out tomorrow.

[2020-06-03 02:43] kevin218 commented on #2253
Ok, I can handle that

[2020-06-03 03:30] joaomcteixeira commented on #2175
Dear @kyleniemeyer and @arfon,
I just noticed that in the article citation string (web, PDF bottom of pages, bibtex), as well as, in the article JOSS page, my name appears incomplete as 'Teixeira, J.M.' or 'João Teixeira', instead of my scientific full name: `Teixeira, J.M.C.` or `João M.C. Teixeira` (as in the main article authors section).

Is it possible to update these citation references to m

[2020-06-03 07:55] lrq3000 commented on #1277
@arfon I am available this week to do anything necessary, I will reply asap. At this point, I think there's little left to do, we just need @casperdcl 's opinion on the matter.

[2020-06-03 08:48] arm61 commented on #2214
Hey @dfm,

Thats me ticked off all of the points @joshspeagle rised. On his second bullet point, unfortunately `uravu` currently only supports **very** simple function definitions (no array args and only simplistic returns). However, I am happy with this functionality for a `1.0.0` build, and will work on adding this additional (quite complex) functionality in the future.

Please let me know when

[2020-06-03 09:12] Luthaf commented on #2117
Hello @kblin 👋 , do you think you will have time to review this submission in the near future? We are submitting other papers using chemiscope, and we would like to be able to cite the JOSS paper in these.

@cMadan, is there a way for us to get a "pre-reserved" DOI that will resolve to the chemiscope JOSS paper once it is accepted?

[2020-06-03 10:08] casperdcl commented on #1277
just managed to squeeze in some time to merge in some urgent PRs; will add this to my list of weekend chores - hopefully will happen soon.

[2020-06-03 10:29] arfon commented on #2253
Excellent, thanks @kevin218! I'll go ahead and set up the review for you and @hpparvi now.

[2020-06-03 10:29] arfon commented on #2253
@whedon add @kevin218 as reviewer

[2020-06-03 10:29] whedon commented on #2253
OK, @kevin218 is now a reviewer

[2020-06-03 10:29] arfon commented on #2253
@whedon start review

[2020-06-03 10:29] whedon opened #2287 "[REVIEW]: ExoNoodle: A Python package spectral time-series of transiting exoplanets"
**Submitting author:** @mmartin-lagarde (<a href="http://orcid.org/0000-0003-0523-7683">Marine Martin-Lagarde</a>)
**Repository:** <a href="https://gitlab.com/mmartin-lagarde/exonoodle-exoplanets" target ="_blank">https://gitlab.com/mmartin-lagarde/exonoodle-exoplanets</a>
**Version:** v0.12.3
**Editor:** @arfon
**Reviewer:** @hpparvi, @kevin218
**Archive:** <a href="https://doi.org/10.5281/zenodo

[2020-06-03 10:29] whedon commented on #2253
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2287.

[2020-06-03 10:29] #2253 closed

[2020-06-03 10:29] whedon commented on #2287
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hpparvi, @kevin218 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-06-03 10:30] whedon commented on #2287
PDF failed to compile for issue #2287 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2287 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedo

[2020-06-03 10:30] arfon commented on #2253
@hpparvi, @kevin218, @mmartin-lagarde - see you all over in ##2287 where the actual review will take place.

[2020-06-03 10:31] arfon commented on #2287
@whedon generate pdf

[2020-06-03 10:31] whedon commented on #2287
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02287/joss.02287/10.21105.joss.02287.pdf)

[2020-06-03 10:31] arfon commented on #2287
@hpparvi, @kevin218 - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-06-03 10:48] hpparvi commented on #2125
@danhey has added the contribution document to the repository and I'm now happy to recommend accepting his contribution.

[2020-06-03 10:55] arfon commented on #2117
@Luthaf @cMadan the DOI for this paper will be: `10.21105/joss.02117`

[2020-06-03 10:56] arfon commented on #1277
OK thanks for the updates both.

[2020-06-03 11:04] arfon commented on #2175
Thanks for flagging this @joaomcteixeira. This should now be fixed. Please note the PDF on the JOSS site will take some time to update as it is cached.

[2020-06-03 11:04] Luthaf commented on #2117
Thanks a lot!

[2020-06-03 11:07] arfon commented on #2199
Good idea. I've added this as a possible enhancement in https://github.com/openjournals/whedon-api/issues/101

[2020-06-03 12:26] mriedel56 commented on #2188
Hi @Kevin-Mattheus-Moerman, I dont think I’m knowledgeable enough about qMRI to provide a sufficient review; but happy to be considered for other submissions.

[2020-06-03 12:33] Lestropie commented on #2188
While I would like to do so and familiarise myself with JOSS prior to hopefully submitting my own work there in the future, I unfortunately cannot commit to a thorough review right now due to other obligations. But thank you for the offer.

[2020-06-03 13:21] joaomcteixeira commented on #2175
@arfon thank you very much, it looks okay now, also in the PDF file. I am happy to see that this resulted in an actual PR to improve the authors experience in JOSS.
Best wishes,

[2020-06-03 14:02] MrMinimal64 commented on #2224
@whedon generate pdf

[2020-06-03 14:02] whedon commented on #2224
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02224/joss.02224/10.21105.joss.02224.pdf)

[2020-06-03 14:08] MrMinimal64 commented on #2224
Hello @dpsanders,

Thank you for your detailed review.
I tried to address all of your open questions and remarks in the latest commit.
Please have a look at the new version of the paper.
Some points I could however not resolve:

The core is “specifying” a Horner factorisation representation, but this “requires” the input of a canonical representation. Is this evident from the paper?

In my underst

[2020-06-03 14:37] mirca commented on #2278
Dear @sayanddude, thank you for submitting your paper to JOSS.  I've open several issues on the repository https://github.com/daya6489/DriveML regarding my review on the manuscript. Please, take a look at your convenience.

[2020-06-03 14:48] sayanddude commented on #2278
Dear @mirca Thank you for your comments! We will start working on them and will get back to you with the updated paper as soon as possible.

[2020-06-03 14:58] jdbrunner commented on #2202
Hello,

Yes, am I willing to review this paper.

Thank you,
James Brunner

From: "Marcos Vital (LEQ-UFAL)" <notifications@github.com>
Reply-To: openjournals/joss-reviews <reply@reply.github.com>
Date: Tuesday, June 2, 2020 at 3:42 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: "Brunner, James D. (Jim), Ph.D." <Brunner.James@mayo.edu>, Mention <mention@noreply.github.com>
Su

[2020-06-03 15:25] whedon opened #2288 "[PRE REVIEW]: dms-view: Interactive visualization tool for deep mutational scanning data"
**Submitting author:** @skhilton (<a href="http://orcid.org/0000-0001-9278-3644">Sarah K. Hilton</a>)
**Repository:** <a href="https://github.com/dms-view/dms-view.github.io" target ="_blank">https://github.com/dms-view/dms-view.github.io</a>
**Version:** v1.0.0
**Editor:** @csoneson
**Reviewers:** @afrubin, @andrefaure, @thorvere
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mod

[2020-06-03 15:25] whedon commented on #2288
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-03 15:25] whedon commented on #2288
[code]

[2020-06-03 15:25] whedon commented on #2288
Failed to discover a valid open source license.

[2020-06-03 15:25] whedon commented on #2288
[code]

[2020-06-03 15:26] whedon commented on #2288
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02288/joss.02288/10.21105.joss.02288.pdf)

[2020-06-03 15:57] kyleniemeyer commented on #2288
👋 Hi @skhilton! Thanks for your submission to JOSS. As described in [our blog post announcing the reopening of JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss), we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS about a little more than a week ago, we've had > 60 papers submitted and as such, yours ha

[2020-06-03 16:56] mkhorton commented on #2117
My review is complete, thanks everyone.

[2020-06-04 00:54] deniederhut commented on #2136
Sure thing! The DOIs should be in there now, and here's the zenodo DOI: http://doi.org/10.5281/zenodo.3875715.

[2020-06-04 02:30] malramsay64 commented on #2267
@richardjgowers I am currently available to review.

[2020-06-04 04:28] pythonpanda2 commented on #1942
@majensen @benjaminbolling

I am starting a new job this week. Hopefully i would try to get back to this sometime next week.

[2020-06-04 07:54] Kevin-Mattheus-Moerman commented on #2275
@YashBansod @moorepants @podhrmic :point_up: would you be interested in helping with this review for JOSS? Thanks.

[2020-06-04 08:01] MrMinimal64 commented on #2224
Now changes are in the master branch.

@whedon generate pdf

[2020-06-04 08:04] oliviaguest commented on #2136
@whedon check references

[2020-06-04 08:04] whedon commented on #2136
[code]

[2020-06-04 08:05] oliviaguest commented on #2136
@whedon set 10.5281/zenodo.3875715 as archive

[2020-06-04 08:05] MrMinimal64 commented on #2224
@whedon generate pdf

[2020-06-04 08:05] whedon commented on #2136
OK. <a href="https://doi.org/10.5281/zenodo.3875715" target="_blank">10.5281/zenodo.3875715</a> is the archive.

[2020-06-04 08:06] oliviaguest commented on #2136
@whedon generate pdf

[2020-06-04 08:06] whedon commented on #2224
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02224/joss.02224/10.21105.joss.02224.pdf)

[2020-06-04 08:06] whedon commented on #2136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02136/joss.02136/10.21105.joss.02136.pdf)

[2020-06-04 08:08] oliviaguest commented on #2136
@deniederhut let me know if the final proof looks good and we can seal the deal and publish it. 😊

[2020-06-04 08:28] roshansamuel commented on #2095
Dear @kyleniemeyer, @dlagrava and @harpolea: In a recent discussion among the authors, we converged that two contributors, whose inputs were essential to the design of the solver, deserve to be included in the list of authors. Prof. Ravi Samtaney gave valuable ideas and greatly aided the development of multigrid pressure correction solver. At the same time, Prof. Fahad Anwer helped us in implement

[2020-06-04 08:58] kblin commented on #2117
Hi, my apologies.
The paper is on my todo list for this week.

Cheers,
Kai

--
Kai Blin                                           kblin@biosustain.dtu.dk
Researcher / Scientific Software Engineer
DTU Biosustain                                     http://www.biosustain.dtu.dk/
Building 220, room 327
DK - 2800 Kgs. Lyngby
Denmark
mobile: +45 93511306                               twitter: @kaiblin

[2020-06-04 09:22] fortinma commented on #2177
Good morning,
I have made another four attempts, and the software continues to hang when selecting values for the raster cell (step G from the Predictors Page).  The process is running and doesn't hang, but doesn't seem to want to stop. I ran the last one for 12 hours just to make sure, and then had to kill it to get out.  I also checked the task manager and the task is still running and not stopp

[2020-06-04 09:42] hugoledoux commented on #2177
cheers @fortinma , if that doesn't work then perhaps @anmolter have an idea or that has happened to colleagues in the past?

[2020-06-04 09:46] Athelena commented on #2177
Maybe a silly question but I had this when I didn't have Spatial Analyst enabled, just to double check?

[2020-06-04 10:35] fortinma commented on #2177
not a silly question -- silly reviewer did not have Spatial Analyst on! thanks. Will try again.

[2020-06-04 11:13] Athelena commented on #2177
I know Spatial Analyst is listed as a requirement but I think it should be flagged in the script at the beginning or you can automatically check it out I believe:

https://gis.stackexchange.com/questions/151166/accessing-spatial-analyst-extension-from-stand-alone-script

[2020-06-04 11:14] olivertomic commented on #1992
Excellent @Sulstice ! I am happy to recommend publication of the paper.

[2020-06-04 11:18] tonyelhabr commented on #2216
Yes, I can review the submission.

[2020-06-04 11:23] fortinma commented on #2177
It might also be useful to add to the tutorial to check that the SA license is available in the licensing tab.  This is especially true because  named user licenses do not include both ArcGIS Pro and its extensions by default (at least at most institutions).  Administrators need to turn on the extensions.

[2020-06-04 11:58] fortinma commented on #2177
I have completed the checklist and am satisfied with the results of running the tutorial. All seems to be in order. Spatial Analyst being the common issue in both reviews, through no fault of the author but because of the nature of access to the extension through the esri portal, a popup stating Spatial Analyst is required if not available in the users installation.  Alternatively, a simple statem

[2020-06-04 12:19] danielskatz commented on #2216
Thanks! - just to confirm, you do have access to the required software?

[2020-06-04 12:23] tonyelhabr commented on #2216
Yes.

[2020-06-04 12:24] danielskatz commented on #2216
Thanks - I'll add you and start the review then

[2020-06-04 12:24] danielskatz commented on #2216
@whedon add @tonyelhabr as reviewer

[2020-06-04 12:24] whedon commented on #2216
OK, @tonyelhabr is now a reviewer

[2020-06-04 12:24] danielskatz commented on #2216
@whedon start review

[2020-06-04 12:24] whedon opened #2289 "[REVIEW]: Easy SimAuto (ESA): A Python Package that Simplifies Interacting with PowerWorld Simulator"
**Submitting author:** @blthayer (<a href="http://orcid.org/0000-0002-6517-1295">Brandon Thayer</a>)
**Repository:** <a href="https://github.com/mzy2240/ESA" target ="_blank">https://github.com/mzy2240/ESA</a>
**Version:** v1.0.6
**Editor:** @danielskatz
**Reviewer:** @robinroche, @tonyelhabr
**Archive:** <a href="https://doi.org/10.5281/zenodo.3899462" target="_blank">10.5281/zenodo.3899462</a>

[2020-06-04 12:24] whedon commented on #2216
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2289.

[2020-06-04 12:24] #2216 closed

[2020-06-04 12:24] whedon commented on #2289
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @robinroche, @tonyelhabr it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-06-04 12:25] whedon commented on #2289
[code]

[2020-06-04 12:25] whedon commented on #2289
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02289/joss.02289/10.21105.joss.02289.pdf)

[2020-06-04 12:25] danielskatz commented on #2216
👋 @robinroche, @tonyelhabr - we'll continue in #2289

[2020-06-04 12:28] danielskatz commented on #2289
👋 @robinroche & @tonyelhabr -  thanks for agreeing to review this submission. Please be sure to read the comments above, and let me know if you have any questions. Basically, your job is to check the article proof and repository and check items off your checklist above. (And note that you will have to accept the invitation before you will be able to do so.)

If you see small problems that need to

[2020-06-04 12:36] danielskatz commented on #2264
Thanks - I'll remove the paused tag.  However, as described in [our blog post announcing the reopening of JOSS](https://blog.joss.theoj.org/2020/05/reopening-joss), we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS about two weeks ago, we've had > 60 papers submitted and as such, yours has now been put in our

[2020-06-04 12:39] danielskatz commented on #2218
@whedon invite @richardjgowers as editor

[2020-06-04 12:39] whedon commented on #2218
@richardjgowers has been invited to edit this submission.

[2020-06-04 12:39] danielskatz commented on #2218
👋 @richardjgowers - note that this is waiting for your response.

[2020-06-04 12:41] danielskatz commented on #2208
👋 @drvinceknight - note that this is waiting for your response.

[2020-06-04 12:41] danielskatz commented on #2208
@whedon invite @drvinceknight as editor

[2020-06-04 12:41] whedon commented on #2208
@drvinceknight has been invited to edit this submission.

[2020-06-04 12:42] danielskatz commented on #2219
@whedon invite @mobra as editor

[2020-06-04 12:43] danielskatz commented on #2219
👋 - I think this is still waiting for you. (But I also feel like perhaps we discussed this in email, so let me know if I'm wrong and there's a decision that didn't get recorded here.)

[2020-06-04 12:56] hugoledoux commented on #2177
OK @anmolter, the 2 reviewers are now happy, so we're reaching the end of the review!

At this point could you:
- [ ] Add what the 2 reviewers pointed out above with Spatial Analyst
- [ ] Make a tagged release of your software (you have none yet), and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institution

[2020-06-04 13:05] VivianePons commented on #2230
@whedon assign @Ohjeah as reviewer

[2020-06-04 13:05] whedon commented on #2230
OK, @Ohjeah is now a reviewer

[2020-06-04 14:14] prs513rosewood commented on #2121
@whedon generate pdf

[2020-06-04 14:15] whedon commented on #2121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02121/joss.02121/10.21105.joss.02121.pdf)

[2020-06-04 14:23] pdebuyl commented on #2208
If there is no reply from @drvinceknight I can handle this paper.

[2020-06-04 14:36] arfon commented on #2208
@pdebuyl - feel free to grab this. @drvinceknight has limited availability right now. You can ask Whedon to assign you with `@whedon assign me as editor`

[2020-06-04 14:41] blsqr commented on #2207
Thanks, @lorenanicole, for editing our submission! :)

Just checking: Is there some further information you would like us to provide or something else we can do to move to the review process?

[2020-06-04 14:42] dfm commented on #2214
@whedon check references

[2020-06-04 14:44] dfm commented on #2214
@arm61: Everything is looking good to me! Can you now bump the version number and generate a new Zenodo release? **The title and author list of the Zenodo release must match the JOSS paper.** You can edit the metadata on the Zenodo page after making the release. Then please report the version number and Zenodo DOI back to this thread. Thanks!

[2020-06-04 14:52] arm61 commented on #2214
Version number: `1.0.0`

I will get the DOI as soon as possible [but zenodo.org is down just now](https://downforeveryoneorjustme.com/zenodo.org) 😱 .

[2020-06-04 15:26] arm61 commented on #2214
Zenodo is back!: `10.5281/zenodo.3876821`

[2020-06-04 15:33] pdebuyl commented on #2208
@whedon assign me as editor

[2020-06-04 15:33] whedon commented on #2208
OK, the editor is @pdebuyl

[2020-06-04 15:35] dfm commented on #2214
I think there's a little typo in the title of your archive :)

[2020-06-04 15:37] meg-simula commented on #2195
I completely understand your reasoning @peanutfun. If the discretization is novel, I would suggest that you consider submitting a manuscript describing those bits (and perhaps other material) to a suitable venue. JOSS papers are only expected to contain a limited set of metadata (see example below), a Statement of Need, Summary, Acknowledgements, and References sections. You can look at an example

[2020-06-04 15:41] pdebuyl commented on #2208
@mbkumar could you review the JOSS article StoSpa2 ?

[2020-06-04 15:41] pdebuyl commented on #2208
@arosen93 could you review the JOSS article StoSpa2 ?

[2020-06-04 15:42] arm61 commented on #2214
Too excited!

That's the old release deleted. Version number is still `1.0.0`, doi is now `10.5281/zenodo.3876888`

[2020-06-04 15:46] dfm commented on #2214
@whedon set v1.0.0 as version

[2020-06-04 15:46] whedon commented on #2214
OK. v1.0.0 is the version.

[2020-06-04 15:46] dfm commented on #2214
@whedon set 10.5281/zenodo.3876888 as archive

[2020-06-04 15:46] whedon commented on #2214
OK. <a href="https://doi.org/10.5281/zenodo.3876888" target="_blank">10.5281/zenodo.3876888</a> is the archive.

[2020-06-04 15:47] dfm commented on #2214
@whedon accept

[2020-06-04 15:47] whedon commented on #2214
[code]

[2020-06-04 15:49] pdebuyl commented on #2208
@arosen93 thank you for the quick reply :-)

[2020-06-04 15:49] dfm commented on #2214
@arm61: The Editors-in-chief will take a look and do the final processing. Please take a look at the final proofs and give us a heads up if anything looks wrong to you, but I think we should be in good shape.

@ejhigson, @joshspeagle: Thanks again for your excellent, thorough, and constructive reviews!

[2020-06-04 15:50] pdebuyl commented on #2208
@CFGrote could you review the JOSS article StoSpa2 ?

[2020-06-04 15:50] diehlpk commented on #2263
@danielskatz I would be interested to handle this paper, since it is related to much current research.

[2020-06-04 15:52] arm61 commented on #2214
Thanks again all! Great work and really pleased with how `uravu` has turned out!

@dfm @joshspeagle @ejhigson

[2020-06-04 16:02] danielskatz commented on #2263
Thanks @diehlpk - you can claim it and start work by ```@whedon assign me as editor``` as a new comment here

[2020-06-04 16:02] danielskatz commented on #2263
You should also remove the waitlisted label

[2020-06-04 16:12] diehlpk commented on #2263
@whedon assign me as editor

[2020-06-04 16:12] whedon commented on #2263
OK, the editor is @diehlpk

[2020-06-04 16:17] pdebuyl commented on #2208
@whedon assign @CFGrote as reviewer

[2020-06-04 16:18] pdebuyl commented on #2208
Thank you @CFGrote , the review will start in another github issue once there are two reviewers.

[2020-06-04 16:19] diehlpk commented on #2263
Hi, @dglaeser, I'll be serving as the editor for this submission.

[2020-06-04 16:33] diehlpk commented on #2263
@whedon assign @johntfoster as reviewer

[2020-06-04 17:04] lorenanicole commented on #2207
Thanks for the checkin @blsqr! We'll be moving to confirming your reviewers!

@mdpiper, @CHILLIP - would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-04 17:07] lorenanicole commented on #2220
@c-martinez, do you have any suggestions for reviewer for your submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-04 17:22] lorenanicole commented on #2207
@blsqr great! Making the edit in line above.

[2020-06-04 17:28] lorenanicole commented on #2220
@whedon check repository

[2020-06-04 17:28] whedon commented on #2220
[code]

[2020-06-04 17:55] Chilipp commented on #2207
Hey @lorenanicole, yes, I'd be happy to review this submission!

[2020-06-04 18:08] mdpiper commented on #2207
@lorenanicole Count me in!

[2020-06-04 19:11] prs513rosewood commented on #2121
@danielskatz cloning the repository should be working now.

[2020-06-04 19:21] danielskatz commented on #2121
Thanks - back to @Kevin-Mattheus-Moerman now...

[2020-06-04 20:07] anmolter commented on #2177
Hi @hugoledoux , I've added several reminders to the documentation (Installation, FAQs, Tutorial) that a Spatial Analyst license is required and explained in Installation how to check that the license is there. I've done a tagged release, I've archived the software in Zenodo and I've sorted out the metadata. The DOI is 10.5281/zenodo.3877328. I hope everything is OK now.

[2020-06-04 20:24] ibarraespinosa commented on #2250
@whedon generate pdf

[2020-06-04 20:24] whedon commented on #2250
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02250/joss.02250/10.21105.joss.02250.pdf)

[2020-06-04 20:34] diehlpk commented on #2263
@whedon assign @ilyasst as reviewer

[2020-06-04 20:34] whedon commented on #2263
OK, @ilyasst is now a reviewer

[2020-06-04 20:36] diehlpk commented on #2263
@whedon generate pdf

[2020-06-04 20:36] whedon commented on #2263
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02263/joss.02263/10.21105.joss.02263.pdf)

[2020-06-04 20:43] diehlpk commented on #2263
Hi, @dglaeser, if you do not want to do more changes to the paper or the repo, I will start the review process. Just let me know when I am good to go.

[2020-06-04 21:09] mbkumar commented on #2208
Yes. Could you please send me a formal invite for the review?

[2020-06-04 21:52] JeffWalton-PSC commented on #2172
@kthyng @martibosch  Please accept my apologies for taking so long on this review. It is the first JOSS review I have been involved with. I have learned a great deal. Thank you for your patience.

DetecTree is a nice piece of software.  I ran through all of the example notebooks in the [detectree-example](https://github.com/martibosch/detectree-example) repository.  I have made some comments in th

[2020-06-04 22:48] kyleniemeyer commented on #2214
Hi @arm61, just a few quick edits on the paper:

- I think the semi-colon in the first sentence is not the right punctuation, instead a comma seems more appropriate
- in the first sentence after the bullets, "uravu also add the" should be "uravu also adds the"
- in the Statement of Need paragraph, "to the best of the author's knowledge" should either be "to the best of our knowledge" or "to the be

[2020-06-04 22:55] kyleniemeyer commented on #2095
Hi @roshansamuel, that seems like a perfectly valid reason to me, as long as all the original authors agree to this. JOSS generally leaves authorship decisions up to the authors themselves, unless something seems off.

[2020-06-04 23:22] kbarnhart commented on #2196
👋 @jrkasprzyk @julianneq @nickrsan @dickinsonre, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is a pre-review issue which is used to find reviewers. Once 2-3 reviewers have been found I'll start the review on a dedicated GitHub is

[2020-06-04 23:38] nickrsan commented on #2196
Sure, I'd be happy to - I'd been meaning to volunteer to review for JOSS, but don't think I ever submitted the form, so very timely. My expertise isn't in stormwater - I do work in water systems as katmratliff mentioned though. From the review checklist, it seems like that's not a major issue though?

[2020-06-04 23:59] jrkasprzyk commented on #2196
I’d be happy to, too!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows 10

________________________________
From: Nick Santos <notifications@github.com>
Sent: Thursday, June 4, 2020 5:39:01 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Joseph R. Kasprzyk <joseph.kasprzyk@colorado.edu>; Mention <mention@noreply.github.com>
Subject: Re: [openjourna

[2020-06-05 00:50] dickinsonre commented on #2196
I also would be happy to be a reviewer for the PySWMM article.

[2020-06-05 01:53] moorepants commented on #2275
I'll review. What's the deadline?

[2020-06-05 01:55] moorepants commented on #2275
I just noticed this: https://arxiv.org/abs/1910.09434 It isn't clear if this JOSS paper would be a duplicate publication.

[2020-06-05 01:57] julianneq commented on #2196
@kbarnhart I recommend @jsadler2 as a reviewer, as I think his expertise is more relevant than mine (see https://www.sciencedirect.com/science/article/pii/S1364815218312325)

[2020-06-05 03:08] story645 commented on #1989
Hi,
I'm so sorry I've totally beyond dropped the ball on this (I hope I've made it up a drop by seriously recommending Pylustrator to just about everyone who's looking for something like it). I hope to get my review done sometime in the next week or so.

[2020-06-05 05:24] pdebuyl commented on #2208
@mbkumar by email? If so, can you give me an email address?

[2020-06-05 05:57] hugoledoux commented on #2177
Thanks.

One last request if possible: that the code pops up a warning/alert is the extension is not available? Is that something possible?

[2020-06-05 06:30] dleutnant commented on #2196
If there are still reviewers required, I'd be happy to review the article. However, I wouldn't be surprised or disappointed if the expertise already involved is sufficient.

[2020-06-05 07:00] arm61 commented on #2214
Hey @kyleniemeyer,

Thanks for the expert proof reading! Those changes are now in master (https://github.com/arm61/uravu/commit/14ad67ebb099c0e57b7d52ad1fdc7449a0b7b5ee).

Do I need to generate a new zenodo DOI with these changes?

[2020-06-05 07:46] arm61 commented on #2214
Also if anyone wants an `uravu` sticker, let me know and I will post you some (my email is easy enough to find) 🤘

[2020-06-05 07:47] VivianePons commented on #2230
@whedon add @shah314 as reviewer

[2020-06-05 07:47] whedon commented on #2230
OK, @shah314 is now a reviewer

[2020-06-05 07:47] VivianePons commented on #2230
@whedon start review

[2020-06-05 07:47] whedon opened #2290 "[REVIEW]: dcgp: Differentiable Cartesian Genetic Programming made easy."
**Submitting author:** @darioizzo (<a href="http://orcid.org/0000-0002-9846-8423">Dario Izzo</a>)
**Repository:** <a href="https://github.com/darioizzo/dcgp" target ="_blank">https://github.com/darioizzo/dcgp</a>
**Version:** 1.5
**Editor:** @VivianePons
**Reviewer:** @Ohjeah, @shah314
**Archive:** <a href="https://doi.org/10.5281/zenodo.3802555" target="_blank">10.5281/zenodo.3802555</a>

**:warn

[2020-06-05 07:47] whedon commented on #2230
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2290.

[2020-06-05 07:47] #2230 closed

[2020-06-05 07:47] whedon commented on #2290
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Ohjeah, @shah314 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2020-06-05 07:48] whedon commented on #2290
PDF failed to compile for issue #2290 with the following error:

 Can't find any papers to compile :-(

[2020-06-05 07:49] VivianePons commented on #2290
@whedon generate pdf from branch joss-paper-v1.5.1

[2020-06-05 07:49] whedon commented on #2290
[code]

[2020-06-05 07:50] whedon commented on #2290
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02290/joss.02290/10.21105.joss.02290.pdf)

[2020-06-05 07:51] VivianePons commented on #2290
For info, the paper is in a branch here: https://github.com/darioizzo/dcgp/tree/joss-paper-v1.5.1

[2020-06-05 08:47] adamgdobrakowski commented on #2273
@whedon generate pdf

[2020-06-05 08:48] whedon commented on #2273
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02273/joss.02273/10.21105.joss.02273.pdf)

[2020-06-05 08:48] dglaeser commented on #2263
hi, @diehlpk, thanks for being the editor of this! From my side we can start the review process. Thanks a lot to all of you!

[2020-06-05 09:12] Kevin-Mattheus-Moerman commented on #2275
@whedon assign @moorepants as reviewer

[2020-06-05 09:12] whedon commented on #2275
OK, @moorepants is now a reviewer

[2020-06-05 09:17] Kevin-Mattheus-Moerman commented on #2275
Thanks @moorepants  for pointing this out:

It does happen, and is allowed (and sometime even encouraged), for authors to publish a long traditional paper in a different journal which describes the background, theory, and typically some research findings/conclusions obtained with the software in full. Often authors publish the JOSS paper first and refer to the JOSS paper in this more traditional l

[2020-06-05 09:34] Kevin-Mattheus-Moerman commented on #2275
@mprice9 @JFDuval @bmagyar @tud-dri  would you be interested in reviewing this submission for JOSS (The Journal of Open Source Software):
gym-electric-motor (GEM): A Python toolbox for the simulation of electric drive systems

The review takes place on GitHub and focuses on this short paper:
https://github.com/openjournals/joss-papers/blob/joss.02275/joss.02275/10.21105.joss.02275.pdf
and the soft

[2020-06-05 09:38] Athelena commented on #2177
Yes you can check it out at the beginning:

https://pro.arcgis.com/en/pro-app/help/analysis/spatial-analyst/mapalgebra/importing-the-spatial-analyst-module.htm

[2020-06-05 11:04] arfon commented on #2111
@donaldRwilliams - did you latest updates address many of the comments opened by the reviewers (e.g. https://github.com/donaldRwilliams/BGGM/issues/3, https://github.com/donaldRwilliams/BGGM/issues/4, https://github.com/donaldRwilliams/BGGM/issues/6)? If so, perhaps you could leave comments on those issues (and close them if appropriate) to help us all understand what changes have been made?

[2020-06-05 11:06] arfon commented on #2232
:wave: @nhejazi, @jjharden - just checking in to see how you're getting along here?

[2020-06-05 11:11] arfon commented on #1608
👋 @Ji-Zhang - I think the next action is on you here to help @kellieotto with their dependency issues.

[2020-06-05 11:24] albertmeronyo commented on #2220
Hi @lorenanicole , we think Jan Wielemaker (https://github.com/JanWielemaker) and Silvio Peroni (https://github.com/essepuntato) would be good choices

[2020-06-05 11:31] sayanddude commented on #2278
@whedon generate pdf

[2020-06-05 11:32] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 11:39] jjharden commented on #2232
My invitation expired. Is it possible to resend it? Thanks.

[2020-06-05 11:50] sayanddude commented on #2278
@whedon generate pdf

[2020-06-05 11:51] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 11:57] sayanddude commented on #2278
@whedon generate pdf

[2020-06-05 11:58] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 11:59] sayanddude commented on #2278
Hi, sorry for generating the pdf multiple times, actually struggling with the dimensions of a table and so the multiple trials.

[2020-06-05 12:05] trallard commented on #2211
Dear potential reviewers,

On behalf of the JOSS team I would like to ask if any of you's be able to review this JOSS submission:

**Title**:  seg1d: A Python package for Automated segmentation of one-dimensional (1D) data
**Repo**: https://github.com/cadop/seg1d
**Submitting author**: @cadop

@ixjlyons Kenneth, will you be willing to and are able to review this submission?
@alcantarar Ryan, will

[2020-06-05 12:06] trallard commented on #1917
Sure, I have blocked time on Monday to complete this.

@alexanderfurnas  have you got any updates?

[2020-06-05 12:07] sayanddude commented on #2278
@whedon generate pdf

[2020-06-05 12:08] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 12:12] mbkumar commented on #2208
mbkumar@gmail.com

On Fri, Jun 5, 2020, 1:24 AM Pierre de Buyl <notifications@github.com>
wrote:

[2020-06-05 12:18] sayanddude commented on #2278
@whedon generate pdf

[2020-06-05 12:19] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 12:23] sayanddude commented on #2278
@whedon generate pdf

[2020-06-05 12:24] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 12:25] danielskatz commented on #2232
@whedon re-invite @jjharden

[2020-06-05 12:25] whedon commented on #2232
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-05 12:26] danielskatz commented on #2232
@whedon commands

[2020-06-05 12:26] whedon commented on #2232
Here are some things you can ask me to do:

[code]

[2020-06-05 12:26] danielskatz commented on #2232
@whedon re-invite @jjharden as reviewer

[2020-06-05 12:26] whedon commented on #2232
OK, the reviewer has been re-invited.

@jjharden please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-05 12:28] sayanddude commented on #2278
@whedon generate pdf

[2020-06-05 12:29] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 12:30] anmolter commented on #2177
Originally, I had the checkOutExtension code at the beginning, but after @Athelena had problems I moved it to the Raster predictor page (so that someone without a license could still use the vector parts of the tool) and I added error catching with a pop up message. But it looks like that didn't work, because @fortinma didn't get that pop up 😞 I've amended the code now based on this link https://p

[2020-06-05 12:38] drvinceknight commented on #2208
Apologies, just got to this but I see it's in hand.

[2020-06-05 12:41] uellue commented on #2006
@whedon generate PDF

[2020-06-05 12:42] whedon commented on #2006
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02006/joss.02006/10.21105.joss.02006.pdf)

[2020-06-05 12:47] uellue commented on #2006
Ok, this should be it! :-) Just had a last look at the proof and it looks good.

[2020-06-05 12:49] dfm commented on #2278
@sayanddude You can use http://whedon.theoj.org/ to test your paper compilation.

[2020-06-05 13:05] Kevin-Mattheus-Moerman commented on #2188
@mfroeling agreed to review in an email, thanks Martijn

[2020-06-05 13:05] Kevin-Mattheus-Moerman commented on #2188
@whedon add @mfroeling as reviewer

[2020-06-05 13:05] whedon commented on #2188
OK, @mfroeling is now a reviewer

[2020-06-05 13:05] sayanddude commented on #2278
Thanks a lot!

[2020-06-05 13:05] lpantano commented on #2170
@dcassol, just asking for an update on this, thanks.

[2020-06-05 13:06] Kevin-Mattheus-Moerman commented on #2188
@Lestropie @mriedel56 @rljacobson understood, and thanks for your reply

[2020-06-05 13:07] wkirgsn commented on #2275
Dear @moorepants and @Kevin-Mattheus-Moerman,

as already pointed out by Mr. Moerman, the arxiv paper represents a traditional long paper that describes the background and theory behind electric motor control, and emphasizes the potential in data-driven learning of a control scheme through reinforcement learning, for which gym-electric-motor is a new platform.
Conversely, the JOSS paper focuses on

[2020-06-05 13:10] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 13:14] sayanddude commented on #2278
@whedon generate pdf

[2020-06-05 13:15] whedon commented on #2278
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02278/joss.02278/10.21105.joss.02278.pdf)

[2020-06-05 13:18] Kevin-Mattheus-Moerman commented on #2188
@62442katieb @exmakhina @cMadan @@WIAS-BERLIN @JPolzehl would you be interested in reviewing: _qMRLab: Quantitative MRI Analysis, under one umbrella_, for JOSS (the Journal of Open Source Software).

The review takes place on GitHub and focuses on the software and this short paper:
https://github.com/openjournals/joss-reviews/files/4662829/10.21105.joss.02188.pdf

If you agree to review this work

[2020-06-05 13:19] sayanddude commented on #2278
Hi @mirca , Thanks for your comments! I have addressed all the comments, updated the manuscript and have generated the latest pdf above. Please find below my response to each of the comments. Also, I have separately responded to the comments posted in Github issues at- https://github.com/daya6489/DriveML/issues
--------------------------------------------
**1)	License file is inconsistent with the

[2020-06-05 13:41] mbkumar commented on #2208
Yes. I can review as 3rd reviewer.

[2020-06-05 13:46] donaldRwilliams commented on #2111
@arfon I think I have indeed made all the changes, besides the "statement of need". I am working on that now..

[2020-06-05 13:48] Athelena commented on #2177
Well I think the checking out should be at the beginning. I think that good practice for arcpy is to enable extensions directly after importing it (so near the beginning of your script). I think if you want parts of the tool to be usable for people without a license then I think it should be a separate tool in the toolbox or you flag the issue earlier.

I also can't test in Pro but I did some crud

[2020-06-05 13:50] diehlpk commented on #2263
@whedon start review

[2020-06-05 13:50] whedon opened #2291 "[REVIEW]: Frackit: a framework for stochastic fracture network generation and analysis"
**Submitting author:** @dglaeser (<a href="http://orcid.org/0000-0001-9646-881X">Dennis Gläser</a>)
**Repository:** <a href="https://git.iws.uni-stuttgart.de/tools/frackit" target ="_blank">https://git.iws.uni-stuttgart.de/tools/frackit</a>
**Version:** v1.2
**Editor:** @diehlpk
**Reviewers:** @ilyasst, @ctdegroot
**Archive:** <a href="https://doi.org/10.5281/zenodo.4315059" target="_blank">10.528

[2020-06-05 13:50] whedon commented on #2263
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2291.

[2020-06-05 13:50] #2263 closed

[2020-06-05 13:50] whedon commented on #2291
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ilyasst it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2020-06-05 13:50] whedon commented on #2291
[code]

[2020-06-05 13:51] whedon commented on #2291
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02291/joss.02291/10.21105.joss.02291.pdf)

[2020-06-05 13:57] diehlpk commented on #2291
## Reviewer instructions & questions

@johntfoster, please carry out your review in this issue by updating the checklist below. If you cannot edit the checklist please:
1. Make sure you're logged in to your GitHub account
2. Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

The reviewer guidelines are available here: https://joss.readthedocs.io/en/

[2020-06-05 14:37] kbarnhart commented on #2196
@nickrsan @jrkasprzyk @dickinsonre thanks for your willingness to review. I'll move forward with assigning you as reviewers and moving this submission from pre-review to review.

@julianneq, thanks for your response and your recommendation.

@dleutnant, thanks for your willingness to review.

[2020-06-05 14:37] kbarnhart commented on #2196
@whedon add @nickrsan as reviewer

[2020-06-05 14:38] whedon commented on #2196
OK, @nickrsan is now a reviewer

[2020-06-05 14:38] kbarnhart commented on #2196
@whedon add @jrkasprzyk as reviewer

[2020-06-05 14:38] whedon commented on #2196
OK, @jrkasprzyk is now a reviewer

[2020-06-05 14:39] kbarnhart commented on #2196
@whedon add @dickinsonre as reviewer

[2020-06-05 14:39] whedon commented on #2196
OK, @dickinsonre is now a reviewer

[2020-06-05 14:39] kbarnhart commented on #2196
@whedon start review

[2020-06-05 14:39] whedon opened #2292 "[REVIEW]: PySWMM: The Python Interface to Stormwater Management Model (SWMM)"
**Submitting author:** @katmratliff (<a href="http://orcid.org/0000-0003-1410-2756">Katherine Ratliff</a>)
**Repository:** <a href="https://github.com/OpenWaterAnalytics/pyswmm" target ="_blank">https://github.com/OpenWaterAnalytics/pyswmm</a>
**Version:** v0.6.2
**Editor:** @kbarnhart
**Reviewers:** @nickrsan, @jrkasprzyk
**Archive:** <a href="https://doi.org/10.5281/zenodo.3972214" target="_blan

[2020-06-05 14:39] whedon commented on #2196
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2292.

[2020-06-05 14:39] #2196 closed

[2020-06-05 14:39] whedon commented on #2292
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nickrsan, @jrkasprzyk, @dickinsonre it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blo

[2020-06-05 14:39] whedon commented on #2292
[code]

[2020-06-05 14:40] whedon commented on #2292
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02292/joss.02292/10.21105.joss.02292.pdf)

[2020-06-05 15:06] donaldRwilliams commented on #2111
@arfon I left comments on those issues and also closed them (I think this was fine, but can always re open if needed).

[2020-06-05 15:50] bmagyar commented on #2275
@Kevin-Mattheus-Moerman Thanks for the invite but at this time I can't guarantee a timely review, I have to pass.

[2020-06-05 15:57] peanutfun commented on #2195
@whedon generate pdf from branch joss-paper

[2020-06-05 15:57] whedon commented on #2195
[code]

[2020-06-05 15:58] whedon commented on #2195
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02195/joss.02195/10.21105.joss.02195.pdf)

[2020-06-05 16:13] peanutfun commented on #2195
@whedon generate pdf from branch joss-paper

[2020-06-05 16:14] whedon commented on #2195
[code]

[2020-06-05 16:14] whedon commented on #2195
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02195/joss.02195/10.21105.joss.02195.pdf)

[2020-06-05 16:25] peanutfun commented on #2195
Fair enough, @meg-simula! We were hoping to put all this information on the software in one publication, but I understand that the numerics exceed the scope of a JOSS paper.

We drastically pruned the originally submitted paper to a word count of 1090, including the figure captions (see the latest version compiled by @whedon). The paper now contains a summary, a background section giving the state

[2020-06-05 16:43] jayrobwilliams commented on #2111
@arfon @akeshavan I have completed my review and recommend this paper for publication.

[2020-06-05 16:54] arfon commented on #2111
:+1: thanks @jayrobwilliams! @paulgovan - when do you think you might be able to come and take another look at this?

[2020-06-05 17:16] peanutfun commented on #2165
We consulted the legal department of Heidelberg University for assistance with the issues brought up by @platipodium. We could clarify that the proposed contributor license agreement (CLA) and an attribution of copyright to the university not required in our case. With merging [utopia!108](https://ts-gitlab.iup.uni-heidelberg.de/utopia/utopia/-/merge_requests/108), we updated the copyright notice

[2020-06-05 17:35] Kevin-Mattheus-Moerman commented on #2275
@bmagyar We understand if you cannot review at this time. However, we do not expect the same "timely review" as usual given the COVID 19 crisis. We can be much more flexible with time. If given this you can help here let me know otherwise no worries and thanks for your response.

[2020-06-05 17:43] jjharden commented on #2232
I have completed a review of this paper and software. Overall, I believe it represents a useful contribution. Here are my comments for revision.

1. The documentation is somewhat sparse. I left a few items unchecked above which I think could be improved (statement of need, example, functionality). Also, there is a dependency on the DiagrammeR package that tripped up my initial run of the simulated

[2020-06-05 18:00] arfon commented on #2263
:wave: @diehlpk - just a heads up that `assign` clobbers existing reviewer assignments so [this command](https://github.com/openjournals/joss-reviews/issues/2263#issuecomment-639101867) actually removed @johntfoster as a reviewer. If this wasn't what you wanted to do then you'll need to edit the issue body at the top of #2291 to add a checklist for both reviewers (this isn't something that Whedon

[2020-06-05 18:04] danielskatz commented on #2263
For multiple reviewers, we usually whedon assign the first then whedon add the second.

[2020-06-05 18:19] anmolter commented on #2177
I got rid of the try-except bit and I'm just using if-else now, which makes it much easier. I also managed to test it now, by temporarily setting it to check for no license (I probably should've thought of that earlier) and it finally works. I agree it would be better to have the license check code at the beginning, but when I tried that it didn't work. I think because the wxApp hadn't been create

[2020-06-05 18:42] skhilton commented on #2288
Hi @kyleniemeyer. Thanks so much for the update on the timeline.

As far as potential reviewers, we would like to to suggest Alan Rubin who has extensive experience with the datasets our tool visualizes.

[2020-06-05 19:19] pdebuyl commented on #2208
Thank you @mbkumar

[2020-06-05 19:19] pdebuyl commented on #2208
@whedon start review

[2020-06-05 19:19] whedon opened #2293 "[REVIEW]: StoSpa2: A C++ software package for stochastic simulations of spatially extended systems"
**Submitting author:** @BartoszBartmanski (<a href="http://orcid.org/0000-0002-0495-9150">Bartosz Bartmanski</a>)
**Repository:** <a href="https://github.com/BartoszBartmanski/StoSpa2" target ="_blank">https://github.com/BartoszBartmanski/StoSpa2</a>
**Version:** 2.0.29
**Editor:** @pdebuyl
**Reviewers:** @CFGrote, @mbkumar
**Archive:** <a href="https://doi.org/10.5281/zenodo.3901670" target="_bla

[2020-06-05 19:19] #2208 closed

[2020-06-05 19:19] whedon commented on #2293
[code]

[2020-06-05 19:20] whedon commented on #2293
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02293/joss.02293/10.21105.joss.02293.pdf)

[2020-06-05 19:21] pdebuyl commented on #2293
@whedon add @mbkumar as reviewer

[2020-06-05 19:21] whedon commented on #2293
OK, @mbkumar is now a reviewer

[2020-06-05 19:31] pdebuyl commented on #2293
@CFGrote , @mbkumar , make sure to accept the invitation to the reviewers group and to have a look at the [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2020-06-05 20:29] fortinma commented on #2177
I can take away my Spatial Analyst extension temporarily to test it if you want?

[2020-06-05 20:32] kyleniemeyer commented on #2214
@whedon generate pdf

[2020-06-05 20:32] whedon commented on #2214
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02214/joss.02214/10.21105.joss.02214.pdf)

[2020-06-05 20:34] kyleniemeyer commented on #2214
@arm61 looks good! And no, if the software has not changed, the prior Zenodo archive is fine, since JOSS archives the paper itself.

[2020-06-05 20:34] kyleniemeyer commented on #2214
@whedon accept

[2020-06-05 20:34] whedon commented on #2214
[code]

[2020-06-05 20:34] whedon commented on #2214
[code]

[2020-06-05 20:35] whedon commented on #2214
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1466

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1466, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-05 20:36] kyleniemeyer commented on #2214
@whedon accept deposit=true

[2020-06-05 20:36] whedon commented on #2214
[code]

[2020-06-05 20:36] whedon commented on #2214
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1269005318685700103) 👈 🐦🐦🐦

[2020-06-05 20:37] whedon commented on #2214
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1467
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02214](https://doi.org/10.21105/joss.02214)
2. If everything looks g

[2020-06-05 20:47] kyleniemeyer commented on #2214
Congrats @arm61 on your article's publication in JOSS!

Many thanks to @ejhigson and @joshspeagle for reviewing this submission, and to @dfm for editing it.

[2020-06-05 20:47] #2214 closed

[2020-06-05 20:47] whedon commented on #2214
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02214/status.svg)](https://doi.org/10.21105/joss.02214)

**We need your help!**

Journal of Open Source Softwa

[2020-06-05 21:28] kyleniemeyer commented on #2190
I will take this one on as editor.

[2020-06-05 21:28] kyleniemeyer commented on #2190
@whedon assign @kyleniemeyer as editor

[2020-06-05 21:28] whedon commented on #2190
OK, the editor is @kyleniemeyer

[2020-06-05 21:29] kyleniemeyer commented on #2190
@CarstenCroonenbroeck I may be able to find some reviewers who are familiar with wind farm layout optimization, but perhaps less so in R. Do you have any recommendations on that side, who may also be familiar with the problem?

[2020-06-05 21:48] kyleniemeyer commented on #2221
Hi @lpantano, would you be able to edit this, pending your availability?

[2020-06-05 21:48] kyleniemeyer commented on #2221
@whedon invite @lpantano as editor

[2020-06-05 21:48] whedon commented on #2221
@lpantano has been invited to edit this submission.

[2020-06-05 22:03] lpantano commented on #2221
@whedon assign @lpantano as editor

[2020-06-05 22:03] whedon commented on #2221
OK, the editor is @lpantano

[2020-06-05 22:03] erikcs commented on #2232
Thank you @jjharden.

1. Do you have suggestions for what you would see documented? Currently the introduction is in the online vignette: https://grf-labs.github.io/policytree/articles/policytree.html, with the rest being method docstrings.

    Not including the DiagrammeR is intentional to keep dependencies to a minimum. It is an optional add-on for the user who wishes to plot, you should have g

[2020-06-05 22:04] erikcs commented on #2232
Also, @nhejazi please let us know if there are similar packages in the tlverse we should cite that we may have missed.

[2020-06-05 22:09] kyleniemeyer commented on #2222
Hi @nhejazi, I will be trying to find an editor to handle your submission. However, one quick comment: for a non-expert in your field, it's very hard for me to understand much about your software—or even figure out the topic area—based on the introductory paragraph. Could you please edit this to make it easier for a non-expert, at least at the beginning?

[2020-06-05 22:10] kyleniemeyer commented on #2221
Thanks @lpantano!

[2020-06-05 22:20] kyleniemeyer commented on #2222
Hi @marcosvital, can you edit this submission, pending your current availability?

[2020-06-05 22:22] kyleniemeyer commented on #2222
@whedon invite @marcosvital as editor

[2020-06-05 22:22] whedon commented on #2222
@marcosvital has been invited to edit this submission.

[2020-06-05 22:26] ibarraespinosa commented on #2250
Dear @arfon, my review is done. A really nice and useful software. I already showed this package to some colleagues who make this type of measurements.
Thanks

[2020-06-05 22:31] AKuederle commented on #2211
I would be willing to review

[2020-06-05 22:41] kyleniemeyer commented on #2223
Hey @bmcfee, could you take this one on as your first editing assignment?

[2020-06-05 22:41] kyleniemeyer commented on #2223
@whedon invite @bmcfee as editor

[2020-06-05 22:41] whedon commented on #2223
@bmcfee has been invited to edit this submission.

[2020-06-05 22:43] dcassol commented on #2170
I made small comments here: HajkD/LTRpred#17
@lpantano How can I make comments on the article? Find a typo.

[2020-06-05 22:44] kyleniemeyer commented on #2226
Hey @cMadan, do you have the bandwidth to edit this one right now?

[2020-06-05 22:45] kyleniemeyer commented on #2226
@whedon invite @cMadan as editor

[2020-06-05 22:45] whedon commented on #2226
@cMadan has been invited to edit this submission.

[2020-06-05 22:47] kyleniemeyer commented on #2227
Hi @oliviaguest, do you have the bandwidth to edit this submission?

[2020-06-05 22:47] kyleniemeyer commented on #2227
@whedon invite @oliviaguest as editor

[2020-06-05 22:47] whedon commented on #2227
@oliviaguest has been invited to edit this submission.

[2020-06-05 22:50] kyleniemeyer commented on #2229
Hi @guidogz, we'll be working to get this to an editor to handle. However, I noticed that your repository is missing an open-source license, which is one of the requirements for submitting software to JOSS. Can you please add an open-source license to your software?

[2020-06-05 22:50] lpantano commented on #2170
you can open an issue there as well since the source of the paper is in their repo: https://github.com/HajkD/LTRpred/blob/master/paper.md

[2020-06-05 22:50] kyleniemeyer commented on #2229
Hi @sjpfenninger, do you have the bandwidth to edit this?

[2020-06-05 22:50] kyleniemeyer commented on #2229
@whedon invite @sjpfenninger as editor

[2020-06-05 22:50] whedon commented on #2229
@sjpfenninger has been invited to edit this submission.

[2020-06-05 22:50] diehlpk commented on #2263
@danielskatz and @arfon Thanks for explanation. I will do it correctly the next time.

[2020-06-05 22:54] kyleniemeyer commented on #2231
Hi @kbarnhart, do you have the bandwidth to edit this submission?

[2020-06-05 22:54] kyleniemeyer commented on #2231
@whedon invite @kbarnhart as editor

[2020-06-05 22:54] whedon commented on #2231
@kbarnhart has been invited to edit this submission.

[2020-06-05 23:03] oliviaguest commented on #2227
Sure! I am having a lot of trouble finding reviewers for other submissions (been sending about 5 🙀  times as many emails and getting back almost all rejections) — but very happy to take this on given the system is able to understand these inevitable delays. 😊

[2020-06-05 23:16] kyleniemeyer commented on #2227
@oliviaguest thanks! and yes, absolutely. Personally basically everything I'm doing is delayed somehow (evidence: you getting this request on a Friday, rather than earlier in the week...)

[2020-06-05 23:32] bmcfee commented on #2223
@whedon assign @bmcfee as editor

[2020-06-05 23:32] whedon commented on #2223
I'm sorry @bmcfee, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-06-05 23:33] arfon commented on #2223
@whedon list editors

[2020-06-05 23:34] whedon commented on #2223
Current editors:

[code]

[2020-06-05 23:34] arfon commented on #2223
@whedon list editors

[2020-06-05 23:34] whedon commented on #2223
Current editors:

[code]

[2020-06-05 23:34] arfon commented on #2223
@bmcfee try again now...

[2020-06-05 23:34] bmcfee commented on #2223
@whedon assign @bmcfee as editor

[2020-06-05 23:34] whedon commented on #2223
OK, the editor is @bmcfee

[2020-06-05 23:35] bmcfee commented on #2223
Thanks @arfon !

[2020-06-05 23:50] bmcfee commented on #2223
@jeffcsauer :wave: Things look generally good so far, so I'll get to finding some reviewers over the next few days.

In the meantime, I've noticed that the [`LICENSE`](https://github.com/wpinvestigative/arcos/blob/master/LICENSE) file in one of the repos doesn't quite line up with the [license listed in the submission repository](https://github.com/jeffcsauer/arcos_arcospy_information/blob/master/

[2020-06-06 00:01] bmcfee commented on #2223
@mariacuellar @mkearney This looks like it could be up your respective alleys -- are you interested/available to review?

[2020-06-06 00:10] dcassol commented on #2170
LTRpred pipeline focuses on the annotation of retrotransposons and retrieving structurally intact elements within any sequence of genomes. The software fulfills all the required checkboxes for the review. In particular, I am impressed with the availability of the Docker container for the package which makes the installation and running process much more easer, special for users with less programmi

[2020-06-06 00:19] jjharden commented on #2232
Sorry, my comments about documentation referred to the help files in R (e.g., by typing ?double_robust_scores). The online vignette looks complete.

Yes, that is the error message I got and I agree it was informative. I understand and appreciate wanting to minimize dependencies. It might be worth considering a footnote about the need for DiagrammeR in the paper. My sense is that most users would e

[2020-06-06 00:38] jeffcsauer commented on #2223
@bmcfee thanks for catching that! Reaching out to co-authors to clarify this and will update ASAP.

[2020-06-06 01:05] jeffcsauer commented on #2223
@bmcfee spoke with co-author and updated LICENSE file in [arcos_arcospy_information](https://github.com/jeffcsauer/arcos_arcospy_information/blob/master/LICENSE) and [arcospy](https://github.com/jeffcsauer/arcospy) to follow the lead of arcos. All LICENSE files across the software repositories and JOSS paper repo page are now consistent.

[2020-06-06 03:38] kyleniemeyer commented on #2238
Hi @majensen, do you have the bandwidth to take this one?

[2020-06-06 03:38] kyleniemeyer commented on #2238
@whedon invite @majensen as editor

[2020-06-06 03:38] whedon commented on #2238
@majensen has been invited to edit this submission.

[2020-06-06 03:39] kyleniemeyer commented on #2239
Hi @jgostick, can you take on this submission as your first editorial assignment?

[2020-06-06 03:40] kyleniemeyer commented on #2239
@whedon invite @jgostick as editor

[2020-06-06 03:40] whedon commented on #2239
@jgostick has been invited to edit this submission.

[2020-06-06 03:42] kyleniemeyer commented on #2244
Hi @hugoledoux, do you have the bandwidth to take this submission on?

[2020-06-06 03:42] kyleniemeyer commented on #2244
@whedon invite @hugoledoux as editor

[2020-06-06 03:42] whedon commented on #2244
@hugoledoux has been invited to edit this submission.

[2020-06-06 03:48] kyleniemeyer commented on #2280
Hey @jedbrown, just wanted to see if you were interested / had the bandwidth to edit this, since you participated in the pre-submission discussion.

[2020-06-06 03:48] kyleniemeyer commented on #2280
@whedon invite @jedbrown as editor

[2020-06-06 03:48] whedon commented on #2280
@jedbrown has been invited to edit this submission.

[2020-06-06 03:51] kyleniemeyer commented on #2219
@whedon invite @mbobra as editor

[2020-06-06 03:51] whedon commented on #2219
@mbobra has been invited to edit this submission.

[2020-06-06 03:53] kyleniemeyer commented on #2243
Hi @harpolea, are you able to edit this submission, as your first editorial assignment?

[2020-06-06 03:53] kyleniemeyer commented on #2243
@whedon invite @harpolea as editor

[2020-06-06 03:53] whedon commented on #2243
@harpolea has been invited to edit this submission.

[2020-06-06 03:55] jedbrown commented on #2280
@kyleniemeyer Interested, but as mentioned in email, conflicted according to our policy (same institution).

[2020-06-06 04:01] kyleniemeyer commented on #2280
@jedbrown oh, sorry. I missed that. So, I think we have faced this sort of conflict before, and I'm not as concerned about this for an editor, as long as the reviewers do not have similar conflicts. @joss-eics do you agree?

[2020-06-06 04:23] majensen commented on #2238
@whedon assign @majensen as editor

[2020-06-06 04:23] whedon commented on #2238
OK, the editor is @majensen

[2020-06-06 06:28] CarstenCroonenbroeck commented on #2190
Dear Kyle,

 

I am also acquainted with a few WFLO researchers, but so far, no-one is working with R. Yet, that is, maybe we change that with our package. :-)

 

Best

 

Carsten
 

Gesendet: Freitag, 05. Juni 2020 um 23:29 Uhr
Von: "Kyle Niemeyer" <notifications@github.com>
An: "openjournals/joss-reviews" <joss-reviews@noreply.github.com>
Cc: "CarstenCroonenbroeck" <c.croonenbroeck@gmx.de>, "Me

[2020-06-06 07:27] hugoledoux commented on #2244
@whedon assign @hugoledoux as editor

[2020-06-06 07:27] whedon commented on #2244
OK, the editor is @hugoledoux

[2020-06-06 07:28] hugoledoux commented on #2244
@whedon assign @fbiljecki as reviewer

[2020-06-06 07:28] whedon commented on #2244
OK, @fbiljecki is now a reviewer

[2020-06-06 08:18] rram84 commented on #2187
Please let me know if there is anything I can/need to do at this stage.

[2020-06-06 09:03] anmolter commented on #2177
@fortinma Yes, if you have time to test it, that would be great.

[2020-06-06 12:25] deniederhut commented on #2136
Looks good to me, thanks!

[2020-06-06 12:38] oliviaguest commented on #2136
@whedon accept

[2020-06-06 12:38] whedon commented on #2136
[code]

[2020-06-06 12:39] whedon commented on #2136
[code]

[2020-06-06 12:39] whedon commented on #2136
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1468

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1468, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-06 12:40] oliviaguest commented on #2136
@openjournals/joss-eics please accept this! 😄

[2020-06-06 13:53] oliviaguest commented on #2227
Cool! 🌼

[2020-06-06 14:28] jgostick commented on #2239
@kyleniemeyer Does it matter that I don't know what a photonic crystal is, have not yet started to use Julia, and can't think of single person who could review this?

[2020-06-06 14:31] ShubhadeepSadhukhan1993 commented on #2185
@jedbrown Please mention, what should we follow?

[2020-06-06 15:25] danielskatz commented on #2280
Unless there are no other editors who can take this, I would prefer to avoid the conflict

[2020-06-06 16:43] majensen commented on #2006
Great @uellue - can you provide the doi for your archive here- then I will twiddle various knobs and then summon the editors in chief--

[2020-06-06 16:46] jedbrown commented on #2185
It's your discretion based on what you think a reader will need to know to assess whether your package is likely to meet their needs.

[2020-06-06 16:50] majensen commented on #2238
@tabe this looks like a very interesting and useful application. Can you suggest a few people who would be qualified to review this work? It would be very helpful.

[2020-06-06 18:16] kbarnhart commented on #2231
@kyleniemeyer yes, I can take this on.

[2020-06-06 18:17] kbarnhart commented on #2231
@whedon assign @kbarnhart as editor

[2020-06-06 18:17] whedon commented on #2231
OK, the editor is @kbarnhart

[2020-06-06 19:24] kyleniemeyer commented on #2136
Hi @deniederhut, just a few minor copy edits:

- In the second paragraph, could you define NLP on its first use?
- Also, please add a comma after "e.g."
- In paragraph 4, I think that it should be "disrupts" in the sentence starting with "Adding nuisance characaters..."
- on second page, in the paragraph starting with "When possible, function documentation...", there is a missing "to" between "how

[2020-06-06 21:55] diehlpk commented on #2280
I can take this, since I have experience in coupling methods for computational fracture mechanics.

[2020-06-06 21:57] kyleniemeyer commented on #2240
Hi @jgostick, would this be a bit closer to your area of expertise to edit?

[2020-06-06 22:00] kyleniemeyer commented on #2239
@jgostick I can find one that's a bit closer to your areas of expertise for your first one.

@dpsanders do you have the bandwidth to edit this submission?

[2020-06-06 22:00] kyleniemeyer commented on #2239
@whedon invite @dpsanders as editor

[2020-06-06 22:01] whedon commented on #2239
@dpsanders has been invited to edit this submission.

[2020-06-06 22:01] kyleniemeyer commented on #2240
@whedon invite @jgostick as editor

[2020-06-06 22:01] whedon commented on #2240
@jgostick has been invited to edit this submission.

[2020-06-06 22:28] shah314 commented on #2290
For the authors:

Can you add the missing DOIs to the paper?

Can you add a brief description of audi to the paper (just to make the paper complete and readable), since audi looks like a codebase on Zenodo.

Do you do any form of crossover between A and B? Like replacing a random subtree of A with a random subtree of B? I could not find anything in the paper.

Any results, or comparison with bench

[2020-06-06 22:35] nhejazi commented on #2232
I just had some time to go through the package and paper throughout yesterday
and today. I agree with @jjharden that the package seems to provide an good and
very useful contribution. For a few major comments about the package, I opened
up issues https://github.com/grf-labs/policytree/issues/30 and
https://github.com/grf-labs/policytree/issues/31. Once these are addressed, I'll
be able to check of

[2020-06-07 01:16] diehlpk commented on #2263
@whedon add @johntfoster as reviewer

[2020-06-07 01:16] whedon commented on #2263
OK, @johntfoster is now a reviewer

[2020-06-07 01:36] jgostick commented on #2240
@whedon commands

[2020-06-07 01:36] whedon commented on #2240
Here are some things you can ask me to do:

[code]

[2020-06-07 01:58] diehlpk commented on #2291
@whedon generate pdf

[2020-06-07 01:59] whedon commented on #2291
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02291/joss.02291/10.21105.joss.02291.pdf)

[2020-06-07 02:30] kyleniemeyer commented on #2280
Thanks @diehlpk!

[2020-06-07 02:30] kyleniemeyer commented on #2280
@whedon assign @diehlpk as editor

[2020-06-07 02:30] whedon commented on #2280
OK, the editor is @diehlpk

[2020-06-07 02:57] tabe commented on #2238
@majensen Is there a list of JOSS's possible reviewers?  If any, I could tell some relevant ones in it.

[2020-06-07 03:06] kyleniemeyer commented on #1833
Hi @samuelduchesne, I think we're ready to wrap things up here.

Can you make these final small edits to the paper?
- In the summary paragraph, the sentence

seems incorrect, because of the "and to enabling" (it's also a bit long and complicated). I think changing that to "to enable" helps fix it, but you might consider revising the sentence overall for clarify.
- in the paragraph about caching, I

[2020-06-07 03:11] majensen commented on #2238
Definitely @tabe - have a look at [this google sheet](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78)

[2020-06-07 03:57] tabe commented on #2238
@majensen Thanks a lot.  dawbarton, PrashantVaidyanathan, and mstimberg look relevant among those who declare C++ expertise.

[2020-06-07 05:56] erikcs commented on #2232
Thank you @nhejazi, I have opened three PRs in https://github.com/grf-labs/policytree/pulls.

The paper has also been updated with more references.

@whedon generate pdf from branch oss-paper

[2020-06-07 06:38] casperdcl commented on #1277
Ok I think we've reached an impasse. All issues have been resolved except a question of ordering names. The relevant comments are https://github.com/tqdm/tqdm/pull/905#issuecomment-640124258 and https://github.com/tqdm/tqdm/pull/905#issuecomment-640164461.

Essentially (correct me if I'm wrong):

- the Journal refuses to define & enforce a definition of paper authorship
- the contributors of the l

[2020-06-07 10:26] lrq3000 commented on #1277
Just a suggestion about this:

With paper authorship, we are not working with "human material", so a formal definition may not always be possible. But if we can reach a consensus, that would be good enough IMO.

I added a reply with some additional metrics, I hope this may resolve or at least help the issue progress.

[2020-06-07 10:32] arfon commented on #2232
@whedon generate pdf from branch oss-paper

[2020-06-07 10:32] whedon commented on #2232
[code]

[2020-06-07 10:33] arfon commented on #2232
☝️ @erikcs - commands to Whedon have to be standalone in their own comment (or at the very start of a comment).

[2020-06-07 10:33] whedon commented on #2232
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02232/joss.02232/10.21105.joss.02232.pdf)

[2020-06-07 10:52] richardjgowers commented on #2218
@whedon assign @richardjgowers as editor

[2020-06-07 10:52] whedon commented on #2218
OK, the editor is @richardjgowers

[2020-06-07 10:57] richardjgowers commented on #2218
@uth-tuan any chance you would be able to review this?

[2020-06-07 10:57] richardjgowers commented on #2218
@dombennett would you be available to review this?

[2020-06-07 10:58] richardjgowers commented on #2267
@whedon add @malramsay64 as reviewer

[2020-06-07 10:59] whedon commented on #2267
OK, @malramsay64 is now a reviewer

[2020-06-07 10:59] richardjgowers commented on #2267
@rmeli would you be interested in reviewing this?

[2020-06-07 11:57] tabe commented on #2238
@majensen I have a question, is it possible to recommend some scholars who has their GitHub accounts but are not included in the above list as reviewers?  For example, researchers in the SBML,  CellML, or physiome community will be a good fit.

[2020-06-07 12:04] majensen commented on #2238
That would be very welcome @tabe , JOSS is always looking for new reviewers.

[2020-06-07 13:00] davidtourigny commented on #2202
@whedon generate pdf

[2020-06-07 13:01] whedon commented on #2202
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02202/joss.02202/10.21105.joss.02202.pdf)

[2020-06-07 14:06] erikcs commented on #2232
Got it, thanks.

[2020-06-07 16:39] xuanxu commented on #2048
@MariaTsantaki, @DanielAndreasen If you are having any problem creating versions or archives just tell me if you need any guidance.

[2020-06-07 17:07] jgostick commented on #2240
@whedon assign @jgostick as editor

[2020-06-07 17:07] whedon commented on #2240
OK, the editor is @jgostick

[2020-06-07 17:08] kyleniemeyer commented on #2240
Thanks @jgostick!

[2020-06-07 17:10] kyleniemeyer commented on #2128
Sorry @jdber1, still working on this. I have not gotten any responses to my emailed requests to review.

[2020-06-07 17:31] diehlpk commented on #2280
@whedon generate pdf from branch mdpiper/paper

[2020-06-07 17:31] whedon commented on #2280
[code]

[2020-06-07 17:31] whedon commented on #2280
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02280/joss.02280/10.21105.joss.02280.pdf)

[2020-06-07 17:36] diehlpk commented on #2280
Hi @mdpiper, I am the editor for this submission. I briefly read the paper and have following remarks:

1. There are no references in the Reference section
2. All Bib Tex entries are not resolved

Please have look into these issues.

[2020-06-07 18:04] whedon opened #2294 "[PRE REVIEW]: tidyfst: Tidy Verbs for Fast Data Manipulation"
**Submitting author:** @hope-data-science (<a href="http://orcid.org/0000-0002-4151-3764">Tian-Yuan Huang</a>)
**Repository:** <a href="https://github.com/hope-data-science/tidyfst" target ="_blank">https://github.com/hope-data-science/tidyfst</a>
**Version:** v0.9.7
**Editor:** @mikldk
**Reviewers:** @tomsing1, @rcannood
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warn

[2020-06-07 18:04] whedon commented on #2294
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 18:05] whedon commented on #2294
PDF failed to compile for issue #2294 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2294 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedo

[2020-06-07 18:05] dpsanders commented on #2239
👋 @kyleniemeyer Yes, but the process will be slow for the next couple of weeks.

[2020-06-07 18:05] kyleniemeyer commented on #2294
👋 @hope-data-science - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and

[2020-06-07 18:06] kyleniemeyer commented on #2294
@hope-data-science it looks like the URL for the software repo does not load. Can you provide the correct URL?

[2020-06-07 18:06] kyleniemeyer commented on #2239
@dpsanders totally understand, I'm in the same situation (hence your invitation coming over the weekend rather than at the beginning of the week...)

[2020-06-07 18:07] kyleniemeyer commented on #2239
@whedon assign @jgostick as editor

[2020-06-07 18:07] whedon commented on #2239
OK, the editor is @jgostick

[2020-06-07 18:08] kyleniemeyer commented on #2239
whoops! sorry @jgostick, that was a mistake.

[2020-06-07 18:08] kyleniemeyer commented on #2239
@whedon assign @dpsanders as editor

[2020-06-07 18:08] whedon commented on #2239
OK, the editor is @dpsanders

[2020-06-07 18:19] whedon opened #2295 "[PRE REVIEW]: kiwiPy: Robust, high-volume, messaging for big-data and computational science workflows"
**Submitting author:** @muhrin (<a href="http://orcid.org/0000-0001-6902-1289">Martin Uhrin</a>)
**Repository:** <a href="https://github.com/aiidateam/kiwipy" target ="_blank">https://github.com/aiidateam/kiwipy</a>
**Version:** v0.6.0
**Editor:** @danielskatz
**Reviewers:** @dghoshal-lbl, @uellue
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2020-06-07 18:19] whedon commented on #2295
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 18:20] whedon commented on #2295
[code]

[2020-06-07 18:20] whedon commented on #2295
[code]

[2020-06-07 18:20] whedon commented on #2295
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02295/joss.02295/10.21105.joss.02295.pdf)

[2020-06-07 18:21] whedon opened #2296 "[PRE REVIEW]: PyMMS: Implementation of a non-numeric spacetime model with the Minkovsky metric"
**Submitting author:** @vgurianov (<a href="http://orcid.org/0000-0003-2667-4241">Vasyliy Gurianov</a>)
**Repository:** <a href="https://github.com/vgurianov/srt" target ="_blank">https://github.com/vgurianov/srt</a>
**Version:** v1.0.9
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2020-06-07 18:21] whedon commented on #2296
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 18:21] whedon commented on #2296
[code]

[2020-06-07 18:21] whedon commented on #2296
[code]

[2020-06-07 18:21] whedon commented on #2296
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02296/joss.02296/10.21105.joss.02296.pdf)

[2020-06-07 18:23] kyleniemeyer commented on #2295
👋 @muhrin - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and months.

Th

[2020-06-07 18:23] kyleniemeyer commented on #2296
👋 @vgurianov - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and months.

[2020-06-07 18:40] mdpiper commented on #2280
@diehlpk Sorry about that--it's now fixed.

[2020-06-07 19:00] whedon opened #2297 "[PRE REVIEW]: Implicit measures with reproducible results: The implicitMeasures package"
**Submitting author:** @OttaviaE (<a href="http://orcid.org/0000-0001-8552-568X">Ottavia M. Epifania</a>)
**Repository:** <a href="https://github.com/OttaviaE/implicitMeasures" target ="_blank">https://github.com/OttaviaE/implicitMeasures</a>
**Version:** v0.1.3
**Editor:** @oliviaguest
**Reviewers:** @eirini-zormpa, @wjakethompson, @jflournoy
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS redu

[2020-06-07 19:01] whedon commented on #2297
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 19:01] whedon commented on #2297
PDF failed to compile for issue #2297 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2297 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-2081a6a6226c/lib/whedo

[2020-06-07 19:04] kyleniemeyer commented on #2297
@openjournals/dev any ideas why whedon can't find the paper here? Could it have anything to do with the
[code]
in the paper header?

[2020-06-07 19:08] kyleniemeyer commented on #2297
👋 @OttaviaE - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and months.

[2020-06-07 19:12] whedon opened #2298 "[PRE REVIEW]: Vizumap: an R package for visualising uncertainty in spatial data"
**Submitting author:** @lydialucchesi (<a href="http://orcid.org/0000-0002-1901-4301">Lydia Lucchesi</a>)
**Repository:** <a href="https://github.com/lydialucchesi/Vizumap" target ="_blank">https://github.com/lydialucchesi/Vizumap</a>
**Version:** v1.2.0
**Editor:** @bstabler
**Reviewers:** @nuest, @mikejohnson51
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

D

[2020-06-07 19:12] whedon commented on #2298
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 19:12] whedon commented on #2298
[code]

[2020-06-07 19:13] whedon commented on #2298
[code]

[2020-06-07 19:13] whedon commented on #2298
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02298/joss.02298/10.21105.joss.02298.pdf)

[2020-06-07 19:17] kyleniemeyer commented on #2298
👋 @lydialucchesi - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and mont

[2020-06-07 19:23] markhwhiteii commented on #2233
Hi all,

Glad to help review here, but this would be my first time doing a review for JOSS. Is there a specific way this journal does peer-review? What is the typical procedure?

[2020-06-07 19:27] whedon opened #2299 "[PRE REVIEW]: PyStokes: Stokesian hydrodynamics in Python"
**Submitting author:** @rajeshrinet (<a href="http://orcid.org/0000-0003-0266-9691">Rajesh Singh</a>)
**Repository:** <a href="https://github.com/rajeshrinet/pystokes" target ="_blank">https://github.com/rajeshrinet/pystokes</a>
**Version:** v2.1.1
**Editor:** @harpolea
**Reviewers:** @fcooper8472, @khinsen
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2020-06-07 19:27] whedon commented on #2299
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 19:27] whedon commented on #2299
[code]

[2020-06-07 19:27] whedon commented on #2299
PDF failed to compile for issue #2299 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.-4e06424784e541bb/6d52616db8c85286870de3cf0a4c8d54044a4fd0.svg': check that rsvg-convert is in path.
  rsvg-convert: createProcess: runInteractiveProcess: exec: does not exist (No such file or directory)
Error producing PDF.
! LaTeX Error: Cannot determine size of graphic in /tmp/tex2p

[2020-06-07 19:27] kyleniemeyer commented on #2299
👋 @rajeshrinet - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and months

[2020-06-07 19:29] kyleniemeyer commented on #2299
@rajeshrinet regarding the paper build error, I think the issue is the SVG badge you are trying to include. Can you remove, or convert to a PNG (for example)?

[2020-06-07 19:29] whedon commented on #2299
[code]

[2020-06-07 19:29] RMeli commented on #2267
@richardjgowers Looks interesting, count me in.

[2020-06-07 19:33] kyleniemeyer commented on #2299
@rajeshrinet also, can you perhaps pare your bib file down to only those cited in the paper?

[2020-06-07 19:33] whedon opened #2300 "[PRE REVIEW]: papaya2 & Morphometer: 2D Irreducible Minkowski Tensor computation"
**Submitting author:** @skapfer (<a href="http://orcid.org/0000-0002-7591-2739">Sebastian Kapfer</a>)
**Repository:** <a href="https://github.com/morphometry/papaya2" target ="_blank">https://github.com/morphometry/papaya2</a>
**Version:** 2020-05-22
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-06-07 19:34] whedon commented on #2300
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 19:34] whedon commented on #2300
[code]

[2020-06-07 19:34] whedon commented on #2300
PDF failed to compile for issue #2300 with the following error:

 Can't find any papers to compile :-(

[2020-06-07 19:38] kyleniemeyer commented on #2300
👋 @skapfer - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and months.

T

[2020-06-07 19:39] kyleniemeyer commented on #2300
@whedon generate pdf from branch joss

[2020-06-07 19:39] whedon commented on #2300
[code]

[2020-06-07 19:39] whedon commented on #2300
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02300/joss.02300/10.21105.joss.02300.pdf)

[2020-06-07 19:42] whedon opened #2301 "[PRE REVIEW]: scikit-fem: A Python package for finite element assembly"
**Submitting author:** @kinnala (<a href="http://orcid.org/0000-0003-1611-5032">Tom Gustafsson</a>)
**Repository:** <a href="https://github.com/kinnala/scikit-fem" target ="_blank">https://github.com/kinnala/scikit-fem</a>
**Version:** v1.1.0
**Editor:** @meg-simula
**Reviewers:** thelfer, @AnjaliSandip
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-06-07 19:42] whedon commented on #2301
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 19:42] whedon commented on #2301
[code]

[2020-06-07 19:43] whedon commented on #2301
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02301/joss.02301/10.21105.joss.02301.pdf)

[2020-06-07 19:44] kyleniemeyer commented on #2301
👋 @kinnala - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and months.

T

[2020-06-07 19:47] rajeshrinet commented on #2299
@kyleniemeyer thanks very much for your comments. I have removed the badge and pared down the bib file. I hope that solves the PDF compilation.

[2020-06-07 19:48] whedon opened #2302 "[PRE REVIEW]: GenC: Student Concession Card Generator"
**Submitting author:** @jagannathbhat (<a href="http://orcid.org/0000-0002-9110-7457">Jagannath Bhat</a>)
**Repository:** <a href="https://gitlab.com/hexify/genc-asiet" target ="_blank">https://gitlab.com/hexify/genc-asiet</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2020-06-07 19:48] whedon commented on #2302
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 19:48] whedon opened #2303 "[PRE REVIEW]: A comprehensive Fortran error handling framework"
**Submitting author:** @samharrison7 (<a href="http://orcid.org/0000-0001-8491-4720">Sam Harrison</a>)
**Repository:** <a href="https://github.com/samharrison7/fortran-error-handler/" target ="_blank">https://github.com/samharrison7/fortran-error-handler/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warnin

[2020-06-07 19:48] whedon commented on #2303
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 19:49] erikcs commented on #2232
@jjharden I added a note under Figure 1 that `DiagrammeR` is needed for tree plots.

[2020-06-07 19:49] whedon commented on #2302
[code]

[2020-06-07 19:49] erikcs commented on #2232
@whedon generate pdf from branch oss-paper

[2020-06-07 19:49] whedon commented on #2232
[code]

[2020-06-07 19:49] kyleniemeyer commented on #2299
@whedon generate pdf

[2020-06-07 19:49] whedon commented on #2302
[code]

[2020-06-07 19:49] whedon commented on #2303
[code]

[2020-06-07 19:49] whedon commented on #2302
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02302/joss.02302/10.21105.joss.02302.pdf)

[2020-06-07 19:49] whedon commented on #2303
[code]

[2020-06-07 19:49] whedon commented on #2303
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02303/joss.02303/10.21105.joss.02303.pdf)

[2020-06-07 19:49] whedon commented on #2232
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02232/joss.02232/10.21105.joss.02232.pdf)

[2020-06-07 19:49] whedon commented on #2299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02299/joss.02299/10.21105.joss.02299.pdf)

[2020-06-07 19:52] rajeshrinet commented on #2299
@kyleniemeyer it seems I need use [@article1] for each citation. It can not be done in a bunch like [@article1, @article2]?

[2020-06-07 19:55] kyleniemeyer commented on #2299
@rajeshrinet You can include multiple citations together, but you need semicolons rather than commas between each citation: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2020-06-07 19:56] rajeshrinet commented on #2299
@kyleniemeyer thanks very much for your prompt response. I will fix that now.

[2020-06-07 20:02] rajeshrinet commented on #2299
@whedon generate pdf

[2020-06-07 20:03] whedon commented on #2299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02299/joss.02299/10.21105.joss.02299.pdf)

[2020-06-07 20:12] rajeshrinet commented on #2299
@whedon generate pdf

[2020-06-07 20:12] whedon commented on #2299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02299/joss.02299/10.21105.joss.02299.pdf)

[2020-06-07 20:15] diehlpk commented on #2280
@whedon generate pdf from branch mdpiper/paper

[2020-06-07 20:15] whedon commented on #2280
[code]

[2020-06-07 20:16] whedon commented on #2280
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02280/joss.02280/10.21105.joss.02280.pdf)

[2020-06-07 20:20] Ji-Zhang commented on #1608
Thank you for your kind reminder. Working on it.

[2020-06-07 20:26] rajeshrinet commented on #2299
@whedon generate pdf

[2020-06-07 20:27] whedon commented on #2299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02299/joss.02299/10.21105.joss.02299.pdf)

[2020-06-07 20:42] whedon opened #2304 "[PRE REVIEW]: georg: Towards an Automated Data Pipeline for theIdentification of Geographically Proximal andPharmaceutically Relevant Compounds"
**Submitting author:** @grindhold (<a href="http://orcid.org/0000-0003-2451-7170">Daniel</a>)
**Repository:** <a href="https://codeberg.org/grindhold/georg" target ="_blank">https://codeberg.org/grindhold/georg</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pan

[2020-06-07 20:42] whedon commented on #2304
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-07 20:42] whedon commented on #2304
[code]

[2020-06-07 20:43] whedon commented on #2304
[code]

[2020-06-07 20:43] whedon commented on #2304
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02304/joss.02304/10.21105.joss.02304.pdf)

[2020-06-07 20:43] rajeshrinet commented on #2299
@whedon generate pdf

[2020-06-07 20:44] whedon commented on #2299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02299/joss.02299/10.21105.joss.02299.pdf)

[2020-06-07 20:46] kyleniemeyer commented on #2304
👋 @grindhold - Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS we've had > 60 papers submitted and as such, yours has been put in our backlog that we will be working through over the coming weeks and months.

[2020-06-07 20:47] kinnala commented on #2301
Here is a list of reviewer candidates from the list, starting from the bottom:
- yangbai90: Python, finite element method
- AnjaliSandip/: Python, Numerical methods (finite element/volume)
- capitalaslash: Python, Finite elements
- Thelfer: Python, Finite Element Analysis

[2020-06-07 20:52] kyleniemeyer commented on #2248
Hi @pdebuyl, can you take this submission on as your first editorial assignment?

[2020-06-07 20:52] kyleniemeyer commented on #2248
@whedon invite @pdebuyl as editor

[2020-06-07 20:52] whedon commented on #2248
@pdebuyl has been invited to edit this submission.

[2020-06-07 20:58] kyleniemeyer commented on #2271
Hi @will-rowe, do you have the bandwidth to take this submission on?

[2020-06-07 20:58] kyleniemeyer commented on #2271
@whedon invite @will-rowe as editor

[2020-06-07 20:58] whedon commented on #2271
@will-rowe has been invited to edit this submission.

[2020-06-07 21:03] kyleniemeyer commented on #2247
Hi @KristinaRiemer, can you take this submission on as your first editorial assignment?

[2020-06-07 21:03] kyleniemeyer commented on #2247
@whedon invite @KristinaRiemer as editor

[2020-06-07 21:03] whedon commented on #2247
@KristinaRiemer has been invited to edit this submission.

[2020-06-07 21:07] kyleniemeyer commented on #2254
Hi @oliviaguest, do you have bandwidth to take on one more?

[2020-06-07 21:07] kyleniemeyer commented on #2254
@whedon invite @oliviaguest as editor

[2020-06-07 21:07] whedon commented on #2254
@oliviaguest has been invited to edit this submission.

[2020-06-07 21:12] kyleniemeyer commented on #2301
Hi @meg-simula, do you have the bandwidth to edit this submission?

[2020-06-07 21:12] kyleniemeyer commented on #2301
@whedon invite @meg-simula as editor

[2020-06-07 21:12] whedon commented on #2301
@meg-simula has been invited to edit this submission.

[2020-06-07 21:13] rajeshrinet commented on #2299
@kyleniemeyer and @whedon thanks for the article proof and this awesome interface.

Here is a list of suggested referees:

* Fergus Cooper. Email: fergus.cooper@cs.ox.ac.uk, University of Oxford

* Konrad Hinsen. Email : konrad.hinsen@cnrs.fr. Centre de Biophysique Moléculaire (UPR4301 CNRS), Orléans, France.

*  Dave Pine. Email: pine@nyu.edu. Chemical and Biomolecular Engineering Department, New

[2020-06-07 21:20] kyleniemeyer commented on #2246
Hi @trallard, do you have the bandwidth to take this one one?

[2020-06-07 21:20] kyleniemeyer commented on #2246
@whedon invite @trallard as editor

[2020-06-07 21:20] whedon commented on #2246
@trallard has been invited to edit this submission.

[2020-06-07 21:21] kyleniemeyer commented on #2299
Hi @harpolea, apologies for simultaneous invitations, but this looks like it might be in your wheelhouse. Can you edit this submission as well?

[2020-06-07 21:21] kyleniemeyer commented on #2299
@whedon invite @harpolea as editor

[2020-06-07 21:21] whedon commented on #2299
@harpolea has been invited to edit this submission.

[2020-06-07 21:29] kyleniemeyer commented on #2008
Hi @dmey, just checking in on the status of this.

[2020-06-07 21:31] kyleniemeyer commented on #1865
Hi @shirubana, just checking in again.

[2020-06-07 21:34] shirubana commented on #1865
@arfon @kyleniemeyer thanks for reminding me! OMG so close,. Here is the Zenodo number: 10.5281/zenodo.3860350

[2020-06-07 21:36] kyleniemeyer commented on #1835
Hi @VivianePons, it looks like this submission may be ready to finalize.

@kaashif can you archive the software repository (e.g., on Zenodo) and provide the DOI here?

[2020-06-07 21:38] kyleniemeyer commented on #1720
Hi @sam-greenwood, just wanted to follow up and see if you've been able to make progress on the final steps needed.

[2020-06-07 21:40] kyleniemeyer commented on #1865
Thanks @shirubana, can you change the title to match the paper's title?

[2020-06-07 21:48] shirubana commented on #1865
@kyleniemeyer change the title of what?

[2020-06-07 22:13] kaashif commented on #1835
Sure. I made a new release and put it on Zenodo here: https://doi.org/10.5281/zenodo.3884306

[2020-06-07 22:26] rajeshrinet commented on #2299
@whedon generate pdf

[2020-06-07 22:26] whedon commented on #2299
PDF failed to compile for issue #2299 with the following error:

 Error reading bibliography ./paper.bib (line 269, column 1):
unexpected end of input
expecting "\"", "\\" or "{"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-06-07 22:28] rajeshrinet commented on #2299
@whedon generate pdf

[2020-06-07 22:28] whedon commented on #2299
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02299/joss.02299/10.21105.joss.02299.pdf)

[2020-06-07 22:36] kyleniemeyer commented on #1865
@shirubana the title and authors for the Zenodo archive should match the paper; actually, it looks like you need to edit the author list as well. (You can edit these things for an existing archive without changing the DOI)

[2020-06-07 22:38] shirubana commented on #1865
Sweet, I think I just did that. I moved the other contributors to contributors and left the author list as in the paper, and changed the title. Hope it's good! Thank you! @kyleniemeyer

[2020-06-07 22:44] kyleniemeyer commented on #1865
@whedon set 10.5281/zenodo.3860350 as archive

[2020-06-07 22:44] whedon commented on #1865
OK. <a href="https://doi.org/10.5281/zenodo.3860350" target="_blank">10.5281/zenodo.3860350</a> is the archive.

[2020-06-07 22:50] kyleniemeyer commented on #1865
@whedon generate pdf

[2020-06-07 22:51] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-07 22:57] shirubana commented on #1865
@kyleniemeyer, there is an image that does not want to render properly on the proof for some reason. I think @melissawm was going to help us investigate, I tried various ways of typing the Markdown to have it show it but could't make it work... any suggestions?

[2020-06-07 22:58] kyleniemeyer commented on #1865
@shirubana yeah, I noticed this as well. I will see if I can figure it out now, and if not reach out to the dev team.

[2020-06-07 23:01] kyleniemeyer commented on #1865
@shirubana I think the issue is that you are using HTML commands for the image, rather than Markdown image commands. Can you replace

[code]

[code]

If you want to reference the figure in the text, you can do so with `\autoref{fig: visualization}`

[2020-06-07 23:05] shirubana commented on #1865
@whedon generate pdf

[2020-06-07 23:06] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2020-06-07 23:10] arfon commented on #2294
I updated this.

[2020-06-07 23:11] arfon commented on #2294
@whedon generate pdf

[2020-06-07 23:11] whedon commented on #2294
PDF failed to compile for issue #2294 with the following error:

 pandoc-citeproc: Cannot decode byte '\xff': Data.Text.Internal.Encoding.decodeUtf8: Invalid UTF-8 stream
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF