[2020-06-18 21:43] kbarnhart commented on #1969
@rgmyr at this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Ensure that the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and author list (

[2020-06-18 21:59] kbarnhart commented on #1969
@whedon check references

[2020-06-18 22:15] sebdalgarno commented on #2319
Hi @Kevin-Mattheus-Moerman I've just updated our README to indicate the additional functionality and value that this software adds to ssdtools. This includes: translation to French; generation of R code for user to reproduce results; further customization of plot and table outputs.

[2020-06-18 22:15] joethorley commented on #2319
Hi @Kevin-Mattheus-Moerman as a reviewer for JOSS and  the co-author of the underlying ssdtools R package I'd ask that you reconsider your initial decision based on the additional information provided by @sebdalgarno. shinyssdtools is an R package of over 1,300 lines of code and 14 functions that took @sebdalgarno than 110 hours to program (I'm also his line-manager!). In addition to providing a m

[2020-06-18 23:05] karthik commented on #2273
:wave: @adamgdobrakowski
I'll take a look at the submission early next week and start looking for reviewers. In the meantime if you have any suggestions for independent reviewers, please feel to suggest names (and Github handles).

[2020-06-18 23:14] dhhagan commented on #2256
@whedon assign me as editor

[2020-06-18 23:15] whedon commented on #2256
OK, the editor is @dhhagan

[2020-06-18 23:37] coljac commented on #2180
@Kevin-Mattheus-Moerman

Done and done. Thanks for catching a couple of issues.

[2020-06-18 23:37] coljac commented on #2180
@whedon generate pdf

[2020-06-18 23:38] whedon commented on #2180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02180/joss.02180/10.21105.joss.02180.pdf)

[2020-06-18 23:38] coljac commented on #2180
@whedon check references

[2020-06-18 23:39] whedon commented on #2180
[code]

[2020-06-19 00:27] rgmyr commented on #1969
Hi @kbarnhart, thanks for the help and instructions.

- Tagged release is [v0.3](https://github.com/rgmyr/corebreakout/releases/tag/v0.3)
- [Link to corresponding repo tag](https://github.com/rgmyr/corebreakout/tree/v0.3)
- Zenodo DOI: `10.5281/zenodo.3900640`
- [Link to Zenodo archive](https://zenodo.org/record/3900640)

Thank you to @brendonhall @JesperDramsch and @jessepisel for your time and c

[2020-06-19 04:07] rram84 commented on #2187
@Kevin-Mattheus-Moerman
Suggested reviewers:

jhale
Dr Jack Hale, Research Scientist, University of Luxembourg
https://jackhale.co.uk/

aaortizb
Prof Alejandro Ortiz-Bernardin, Associate Professor, Universidad de Chile
https://camlab.cl/members/alejandro/

[2020-06-19 06:06] Kevin-Mattheus-Moerman commented on #2180
@coljac great I ticked all those boxes. Can you check that last potentially missing DOI? Is it this paper: https://ieeexplore.ieee.org/document/8237336 ?

[2020-06-19 06:09] Kevin-Mattheus-Moerman commented on #2187
@jhale @aaortizb @jonwong12 @keenancrane @sgsellan @ranahanocka would you be interested in reviewing this work for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org)?

Submission: _DVRlib: A C++ library for geometric mesh improvement using Directional Vertex Relaxation_

The review process focuses on the software:
https://bitbucket.org/rram/dvrlib/src/joss/
and this short paper:

[2020-06-19 06:13] Kevin-Mattheus-Moerman commented on #2264
@whedon invite @sbenthall as editor

[2020-06-19 06:21] Kevin-Mattheus-Moerman commented on #2170
@whedon accept deposit=true

[2020-06-19 06:21] whedon commented on #2170
[code]

[2020-06-19 06:23] whedon commented on #2170
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1273863918033788928) 👈 🐦🐦🐦

[2020-06-19 06:23] whedon commented on #2170
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1499
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02170](https://doi.org/10.21105/joss.02170)
2. If everything looks g

[2020-06-19 06:25] coljac commented on #2180
@whedon generate pdf

[2020-06-19 06:25] whedon commented on #2180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02180/joss.02180/10.21105.joss.02180.pdf)

[2020-06-19 06:26] coljac commented on #2180
@whedon check references

[2020-06-19 06:26] whedon commented on #2180
[code]

[2020-06-19 06:28] coljac commented on #2180
@Kevin-Mattheus-Moerman I fixed the erroneous DOI before realising I removed the reference from the body of the paper. I've updated accordingly.

[2020-06-19 06:28] coljac commented on #2180
@whedon generate pdf

[2020-06-19 06:28] whedon commented on #2180
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02180/joss.02180/10.21105.joss.02180.pdf)

[2020-06-19 06:29] coljac commented on #2180
@whedon check references

[2020-06-19 06:29] whedon commented on #2180
[code]

[2020-06-19 06:41] Kevin-Mattheus-Moerman commented on #2323
@modenaxe @moorepants @ekjchadwick @Juanfrandepatech would you be interested in reviewing this submission for JOSS?

The review is on GitHub and focuses on [the software](https://github.com/pyomeca/pyomeca/) and this [short paper](https://github.com/openjournals/joss-papers/blob/joss.02323/joss.02323/10.21105.joss.02323.pdf).

[2020-06-19 06:59] jhale commented on #2187
Yes I can review the paper.

[2020-06-19 07:02] Kevin-Mattheus-Moerman commented on #2323
@whedon assign @BKillen05 as reviewer

[2020-06-19 07:02] whedon commented on #2323
OK, @BKillen05 is now a reviewer

[2020-06-19 07:03] Kevin-Mattheus-Moerman commented on #2187
@whedon add @jhale as reviewer

[2020-06-19 07:03] whedon commented on #2187
OK, @jhale is now a reviewer

[2020-06-19 07:24] uellue commented on #2351
Regarding "State of the field":

## Comparison with Pika

After a quick side-by-side comparison between the RabbitMQ documentation and kiwiPy, it is not clear to me what the difference between the default Pika Python API and the kiwiPy API is. The code of the Pika-based RabbitMQ examples and the kiwiPy examles are quite similar, and at least to my eyes the kiwiPy version is not a noticeable improv

[2020-06-19 07:28] uellue commented on #2351
Regarding "References": A reference to the default "Pika" Python API for RabbitMQ https://pika.readthedocs.io/en/stable/ seems to be missing.

[2020-06-19 07:31] uellue commented on #2351
Regarding "Community guidelines": https://github.com/aiidateam/kiwipy/issues/65

[2020-06-19 07:33] uellue commented on #2351
@danielskatz @muhrin This concludes my first round of review. Looking forward to your responses!

[2020-06-19 07:36] leouieda commented on #2298
Sorry for the delay. Just in case @bstabler isn’t available, I would be happy to be a back up editor.

[2020-06-19 08:14] kakiac commented on #2327
👋 @Yomguithereal thanks for your submission to JOSS.

I am in the process of assigning reviewers to this submission, but if you have any suggestions for reviewers please let me know.

In the meantime, can you please address @Kevin-Mattheus-Moerman 's comment above and update your submission?

Many thanks!

[2020-06-19 08:17] kakiac commented on #2327
:wave: @richardlitt, @fil & @abuccts, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-06-19 08:24] Fil commented on #2327
Yes (next week)

[2020-06-19 08:25] muhrin commented on #2351
@uellue, many thanks for the helpful review.  I'll coordinate with my coauthor and address the points you've raised.

[2020-06-19 08:58] hugoledoux commented on #2300
@skapfer besides what is asked of you above for the paper, if you could propose ~3 potential reviewers, just list their github usernames here without the "@" please.

I'll be the editor of your paper, already found one reviewer as you can see above.

[2020-06-19 09:22] Luthaf commented on #2324
I don't think I'll have time for this one, I have a lot of other things going on right now =)

[2020-06-19 09:23] Luthaf commented on #2117
We have fixed a few typos in the paper, so please @whedon generate pdf

[2020-06-19 09:35] kakiac commented on #2327
Thanks @fil!

@whedon assign @fil as reviewer

@whedon generate pdf

[2020-06-19 09:36] meg-simula commented on #2094
Sorry for the delay on this review @DorianDepriester . I will unassign @ralfHielscher and find an alternative reviewer to get this process completed.

[2020-06-19 09:38] kakiac commented on #2327
@whedon generate pdf

[2020-06-19 09:38] whedon commented on #2327
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02327/joss.02327/10.21105.joss.02327.pdf)

[2020-06-19 09:39] kakiac commented on #2327
@whedon assign @Fil as reviewer

[2020-06-19 09:39] whedon commented on #2327
OK, @Fil is now a reviewer

[2020-06-19 09:44] Luthaf commented on #2117
@whedon generate pdf

[2020-06-19 09:45] whedon commented on #2117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02117/joss.02117/10.21105.joss.02117.pdf)

[2020-06-19 09:45] kakiac commented on #2325
A bit off topic, but would be happy to pick this up (and possibly ask for @bstabler 's help if stuck?) If that's ok with you, feel free to assign me as editor 😃

[2020-06-19 09:51] meg-simula commented on #2313
Let me check and get back to you.

[2020-06-19 09:56] meg-simula commented on #2301
Thanks @kinnala for the submission. This looks very much ready for review. I'll reach out to the reviewers suggested and get back to you.

[2020-06-19 09:57] meg-simula commented on #2301
@yangbai90, @AnjaliSandip,  @capitalaslash, @thelfer Would you like to review this submission for JOSS? Feel free to take a look at our reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

[2020-06-19 10:44] Kevin-Mattheus-Moerman commented on #2180
@whedon accept

[2020-06-19 10:44] whedon commented on #2180
[code]

[2020-06-19 10:44] whedon commented on #2180
[code]

[2020-06-19 10:44] whedon commented on #2180
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1500

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1500, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-19 10:45] Kevin-Mattheus-Moerman commented on #2187
@perlr would you be interested in reviewing this work for JOSS? would you be interested in reviewing this work for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org)?

Submission: _DVRlib: A C++ library for geometric mesh improvement using Directional Vertex Relaxation_

The review process focuses on the software:
https://bitbucket.org/rram/dvrlib/src/joss/
and this short paper:

[2020-06-19 10:46] Kevin-Mattheus-Moerman commented on #2180
@whedon accept deposit=true

[2020-06-19 10:46] whedon commented on #2180
[code]

[2020-06-19 10:47] whedon commented on #2180
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1273930452617900034) 👈 🐦🐦🐦

[2020-06-19 10:47] whedon commented on #2180
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1501
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02180](https://doi.org/10.21105/joss.02180)
2. If everything looks g

[2020-06-19 10:48] thelfer commented on #2301
@meg-simula I'd like to, but I need to know when you expect to have my review to see if it fits in my agenda.

[2020-06-19 10:49] #2170 closed

[2020-06-19 10:49] whedon commented on #2170
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02170/status.svg)](https://doi.org/10.21105/joss.02170)

**We need your help!**

Journal of Open Source Softwa

[2020-06-19 10:50] #2180 closed

[2020-06-19 10:50] whedon commented on #2180
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02180/status.svg)](https://doi.org/10.21105/joss.02180)

**We need your help!**

Journal of Open Source Softwa

[2020-06-19 10:51] meg-simula commented on #2301
Thanks for the prompt response @thelfer. JOSS is currently in a "reduced service mode". For reviews, this means in particular that (cf. https://blog.joss.theoj.org/2020/05/reopening-joss):

[2020-06-19 10:52] meg-simula commented on #2313
@whedon check references from branch joss-paper

[2020-06-19 10:52] whedon commented on #2313
[code]

[2020-06-19 10:53] whedon commented on #2313
[code]

[2020-06-19 10:56] Kevin-Mattheus-Moerman commented on #2274
@ShiyongYu-cloud thanks for offering to help. Would you be able to update your GitHub profile with some professional information, e.g. a link to your professional profile, or an ORCID profile? This is not a requirement but if you do not mind it would be good to know who we recruit as reviewers. Thanks.

[2020-06-19 10:57] HajkD commented on #2170
Dear all,

Thank you very much for all your efforts. As always it has been a pleasure submitting software to JOSS. Please keep up the excellent work and I very much look forward to collaborating with you on future projects.

With very best wishes,
Hajk

[2020-06-19 11:11] arfon commented on #2325
@whedon assign @kakiac as editor

[2020-06-19 11:11] whedon commented on #2325
OK, the editor is @kakiac

[2020-06-19 11:11] arfon commented on #2325
Thanks @kakiac!

[2020-06-19 11:14] thelfer commented on #2301
@meg-simula That's fine for me. Ok for the review.

[2020-06-19 11:18] meg-simula commented on #2301
Great, thanks!

[2020-06-19 11:19] meg-simula commented on #2301
@whedon assign thelfer as reviewer

[2020-06-19 11:19] whedon commented on #2301
OK, thelfer is now a reviewer

[2020-06-19 11:22] arfon commented on #2320
@jbuisine - many thanks for your submission to JOSS. After consulting with the JOSS editorial team, we have deemed that this submission is out of scope and does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). Specifically, while this package looks useful, it fails into out 'minor utility' category.

Thanks again for your intere

[2020-06-19 11:22] #2320 closed

[2020-06-19 11:22] arfon commented on #2320
@whedon reject

[2020-06-19 11:22] whedon commented on #2320
Paper rejected.

[2020-06-19 11:23] arfon commented on #2336
@maedat - many thanks for your submission to JOSS. After consulting with the JOSS editorial team, we have deemed that this submission is out of scope and does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). Specifically, while this package looks useful, it fails into out 'minor utility' category.

Thanks again for your interest

[2020-06-19 11:23] arfon commented on #2336
@whedon reject

[2020-06-19 11:23] whedon commented on #2336
Paper rejected.

[2020-06-19 11:23] #2336 closed

[2020-06-19 11:24] arfon commented on #2337
@hugaped - many thanks for your submission to JOSS. After consulting with the JOSS editorial team, we have deemed that this submission is out of scope and does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). Specifically, while this package looks useful, it fails into out 'minor utility' category.

Thanks again for your interes

[2020-06-19 11:24] arfon commented on #2337
@whedon reject

[2020-06-19 11:24] whedon commented on #2337
Paper rejected.

[2020-06-19 11:24] #2337 closed

[2020-06-19 11:25] pratikvn commented on #2260
@whedon check references from branch joss-paper

[2020-06-19 11:25] whedon commented on #2260
[code]

[2020-06-19 11:26] whedon commented on #2260
[code]

[2020-06-19 11:26] arfon commented on #2212
@francescat93  - many thanks for your submission to JOSS. After consulting with the JOSS editorial team, we have deemed that this submission is out of scope and does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). Specifically, while this package looks useful, it fails into out 'minor utility' category.

Thanks again for your i

[2020-06-19 11:26] arfon commented on #2212
@whedon reject

[2020-06-19 11:26] whedon commented on #2212
Paper rejected.

[2020-06-19 11:26] #2212 closed

[2020-06-19 11:26] arfon commented on #2215
@uzmakhann - many thanks for your submission to JOSS. After consulting with the JOSS editorial team, we have deemed that this submission is out of scope and does not meet our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). Specifically, while this package looks useful, it fails into out 'minor utility' category.

Thanks again for your inter

[2020-06-19 11:27] arfon commented on #2215
@whedon reject

[2020-06-19 11:27] whedon commented on #2215
Paper rejected.

[2020-06-19 11:27] #2215 closed

[2020-06-19 11:31] arfon commented on #2264
I've not completed the onboarding of @sbenthall quite yet (so that invite didn't work) but he should be on the team within the next couple of days.

[2020-06-19 11:32] arfon commented on #2330
:wave: @xuanxu - would you be able to edit this submission?

[2020-06-19 11:38] pratikvn commented on #2260
@whedon generate pdf from branch joss-paper

[2020-06-19 11:38] whedon commented on #2260
[code]

[2020-06-19 11:39] whedon commented on #2260
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02260/joss.02260/10.21105.joss.02260.pdf)

[2020-06-19 11:39] arfon commented on #2330
Thanks for the explanation @nespinoza and for checking in here @nespinoza, this is helpful.

I still have some concerns about the approach being taken here, specifically a general question about what this fork means for the long term of both of these packages. Our of our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html) is designed to guard against one-off modifications

[2020-06-19 11:40] pratikvn commented on #2260
@whedon check references from branch joss-paper

[2020-06-19 11:40] whedon commented on #2260
[code]

[2020-06-19 11:40] whedon commented on #2260
[code]

[2020-06-19 14:03] whedon opened #2366 "[PRE REVIEW]: ptsuite: An R-package for Fast Tail Index Estimation"
**Submitting author:** @RM-cyber (<a href="http://orcid.org/0000-0002-4059-8735">Ranjiva Munasinghe</a>)
**Repository:** <a href="https://github.com/RM-cyber/ptsuite" target ="_blank">https://github.com/RM-cyber/ptsuite</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2020-06-19 14:03] whedon commented on #2366
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-19 14:03] whedon commented on #2366
[code]

[2020-06-19 14:03] whedon commented on #2366
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02366/joss.02366/10.21105.joss.02366.pdf)

[2020-06-19 14:03] whedon commented on #2366
[code]

[2020-06-19 14:09] dhhagan commented on #2256
Hey @stheid - did you have any recommendations for reviewers (list [here](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822))? If not, I will assign a couple. Thanks!

[2020-06-19 14:09] dhhagan commented on #2256
@whedon commands

[2020-06-19 14:09] whedon commented on #2256
Here are some things you can ask me to do:

[code]

[2020-06-19 14:14] danielskatz commented on #2360
@whedon assign me as editor

[2020-06-19 14:14] whedon commented on #2360
OK, the editor is @danielskatz

[2020-06-19 14:20] sbenthall commented on #2264
@whedon assign me as editor

[2020-06-19 14:20] whedon commented on #2264
OK, the editor is @sbenthall

[2020-06-19 14:20] bstabler commented on #2298
happy to do it

[2020-06-19 14:22] bstabler commented on #2325
happy to review or help @kakiac review, thanks

[2020-06-19 14:33] nespinoza commented on #2330
Hi @arfon --- indeed, it is not a one-off modification. The fork in our minds just meant making sure to always let people know that we used `batman` as a base to build `catwoman`. The alternative would have been to just download the `batman` repo, do the modifications, and push that to the `catwoman` repo, which didn't seem right to us, but perhaps would have created less confusion.

In essence, r

[2020-06-19 14:38] stheid commented on #2256
ahm, i have no specific preference. i guess someone with the background to electrical engeneering; control; or reinforcement learning would be good

[2020-06-19 14:42] KristinaRiemer commented on #2258
Thanks for providing a list of potential reviewers @kullrich. @davismcc @druvus @vbaliga would any of you be able to review this submission?

[2020-06-19 14:45] Smattr commented on #2270
Yes, certainly. I'm not qualified to review the Pascal, but I can review the C. I've had a lot of experience with CPP and M4, so I should also be able to review the usability/functionality too.

[2020-06-19 14:51] danielskatz commented on #2360
@adbar - In the introduction to your paper, please add some text to describe the kinds of research that will use this software.  For example, on your readme, you mention "methodological approach to derive information from web documents in order to build text databases for research (chiefly linguistics and natural language processing). There are web pages for which neither the URL nor the server re

[2020-06-19 14:53] danielskatz commented on #2360
Also, note that some of your references are missing DOIs.  After making changes, write a new comment in this thread with ```@whedon generate pdf``` to regenerate the PDF, and use ```@whedon check references``` to check the references.  Also note that whedon sometimes gets references wrong, and makes incorrect suggestions, so please check these.

[2020-06-19 14:54] danielskatz commented on #2360
Finally, please suggest potential reviewers by mentioning them here in this thread (by github username, if they have one, without tagging them with an @). [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-06-19 15:00] logological commented on #2270
@Smattr, don't be misled by whedon's automated analysis, which is full of false positives. The software described in the paper is written entirely in C.  There's no Pascal, no C++, and no M4 (except insofar as that's what the Autotools configuration files are processed with, though you won't need to touch those if you build from the portable source packages).

[2020-06-19 15:00] diehlpk commented on #2352
@danielskatz We fixed all issues with the DOI reported by whedon.

[2020-06-19 15:00] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-06-19 15:02] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-06-19 15:15] gkthiruvathukal commented on #2270
@Smattr, @logological is right. We do see these false positives in the language analysis now and then.

@Smattr I'm going to assign you as a reviewer. I still need to get one more, so it may be a little while before we get started with the review.

[2020-06-19 15:15] whedon commented on #2270
OK, @Smattr is now a reviewer

[2020-06-19 15:34] bstabler commented on #2325
@whedon add me as editor

[2020-06-19 15:34] whedon commented on #2325
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-19 15:34] bstabler commented on #2325
@whedon assign me as editor

[2020-06-19 15:35] whedon commented on #2325
OK, the editor is @bstabler

[2020-06-19 15:36] bstabler commented on #2298
@whedon add me as editor

[2020-06-19 15:36] whedon commented on #2298
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-19 15:36] bstabler commented on #2298
@whedon assign me as editor

[2020-06-19 15:36] whedon commented on #2298
OK, the editor is @bstabler

[2020-06-19 15:51] richardjgowers commented on #2267
@whedon start review

[2020-06-19 15:51] whedon opened #2367 "[REVIEW]: HOOMD-TF: GPU-Accelerated, Online Machine Learning in the HOOMD-blue Molecular Dynamics Engine"
**Submitting author:** @RainierBarrett (<a href="http://orcid.org/0000-0002-5728-9074">Rainier Barrett</a>)
**Repository:** <a href="https://github.com/ur-whitelab/hoomd-tf/" target ="_blank">https://github.com/ur-whitelab/hoomd-tf/</a>
**Version:** v1.0
**Editor:** @richardjgowers
**Reviewer:** @malramsay64, @rmeli
**Archive:** <a href="https://doi.org/10.5281/zenodo.3962305" target="_blank">10.5

[2020-06-19 15:51] whedon commented on #2267
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2367.

[2020-06-19 15:51] #2267 closed

[2020-06-19 15:51] whedon commented on #2367
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @malramsay64, @rmeli it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-06-19 15:51] whedon commented on #2367
PDF failed to compile for issue #2367 with the following error:

 Can't find any papers to compile :-(

[2020-06-19 15:52] richardjgowers commented on #2277
@mih & @mwegrzyn & @PeerHerholz just checking in on how this review is going.  If you have any questions let me know

[2020-06-19 15:55] richardjgowers commented on #2324
@mattwthompson fancy reviewing this?

[2020-06-19 15:55] mih commented on #2277
Hey @richardjgowers, intense online conference going on. I need a bit longer.

[2020-06-19 15:57] richardjgowers commented on #2367
@whedon generate pdf from branch joss-paper-branch

[2020-06-19 15:57] whedon commented on #2367
[code]

[2020-06-19 15:57] whedon commented on #2367
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02367/joss.02367/10.21105.joss.02367.pdf)

[2020-06-19 15:58] PeerHerholz commented on #2277
Hi @richardjgowers, same as @mih (actually the same conferences, hehe). I'll try my best to get to it over the weekend. Sorry for the delay!

[2020-06-19 16:00] richardjgowers commented on #2367
@RMeli @malramsay64 we're starting the review in this issue.  Usually if you find issues in the course of the review it's best to open issues on the github repo to track these.  Let me know if you have any questions.

[2020-06-19 16:04] xuanxu commented on #2330
I see `catwoman` as a different software than `batman`, independently maintained and with no future merge plans, so I think it meets the JOSS submission criteria.

I'd also add it would be nice if the problems that made `catwoman` a fork of `batman` are addressed: so if someone wants to make use of some `catwoman` functions, it would be great if they are easily importable, using Python modules or

[2020-06-19 16:04] edwardoughton commented on #2266
@garrettj403 I've now made most of those changes. I'm not sure the reference is wonky for the last entry in the bib as this is a citation of the website that releases the code. I think ITS seems like the right author, as it's their website, but I'm happy to be convinced otherwise.

[2020-06-19 16:04] xuanxu commented on #2330
@whedon assign me as editor

[2020-06-19 16:04] whedon commented on #2330
OK, the editor is @xuanxu

[2020-06-19 16:06] mwegrzyn commented on #2277
Dear @richardjgowers,
thank you for your message. I will complete the review within the deadline.
Best regards,
Martin Wegrzyn

[2020-06-19 16:17] kbarnhart commented on #1969
@whedon set v0.3 as version

[2020-06-19 16:17] whedon commented on #1969
OK. v0.3 is the version.

[2020-06-19 16:18] kbarnhart commented on #1969
@whedon set 10.5281/zenodo.3900640 as archive

[2020-06-19 16:18] whedon commented on #1969
OK. <a href="https://doi.org/10.5281/zenodo.3900640" target="_blank">10.5281/zenodo.3900640</a> is the archive.

[2020-06-19 16:18] kbarnhart commented on #1969
@whedon accept

[2020-06-19 16:18] whedon commented on #1969
[code]

[2020-06-19 16:19] kbarnhart commented on #1969
@rgmyr I've now recommended to the JOSS editors on chief that this paper be accepted and published.

[2020-06-19 16:19] whedon commented on #1969
PDF failed to compile for issue #1969 with the following error:

 E, [2020-06-19 16:19:55#357] ERROR -- : Failed to parse BibTeX on value "-09541906-8-2" (NAME) [#<BibTeX::Bibliography data=[7]>, "@", #<BibTeX::Entry >, {:author=>["{Rider}, M. and {Kennedy}, M."], :booktitle=>["The Geological Interpretation of Well Logs: Third Edition, by Malcom Rider and Martin Kennedy.~ISBN 978-09541906-8-2 (PB)

[2020-06-19 16:20] kbarnhart commented on #1969
@whedon generate pdf

[2020-06-19 16:21] whedon commented on #1969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01969/joss.01969/10.21105.joss.01969.pdf)

[2020-06-19 16:22] ThomasMGeo commented on #1969
The formatting is a little goofy on that paper.bib entry. Happy to dig into it @kbarnhart.

[2020-06-19 16:31] ThomasMGeo commented on #1969
@whedon generate pdf

[2020-06-19 16:33] whedon commented on #1969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01969/joss.01969/10.21105.joss.01969.pdf)

[2020-06-19 16:43] mdpiper commented on #2316
Opened https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro/-/issues/175 re a minor issue in references.

[2020-06-19 16:47] muszyna25 commented on #2197
Hi Katy,

Thank you for your invitation to review the submission for JOSS. However, I am not able to review it, but I can recommend somebody that may be interested: @ burlen @ taobrienlbl

Thanks,
Grzegorz

[2020-06-19 16:48] ThomasMGeo commented on #1969
@whedon generate pdf

[2020-06-19 16:50] whedon commented on #1969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01969/joss.01969/10.21105.joss.01969.pdf)

[2020-06-19 16:53] ThomasMGeo commented on #1969
I just cleaned up that entry, if it still fails, unsure of next steps. It had some duplicate information in the paper.bib and added some more standard formatting.

[2020-06-19 17:02] danielskatz commented on #1969
@whedon accept

[2020-06-19 17:02] whedon commented on #1969
[code]

[2020-06-19 17:05] whedon commented on #1969
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1502

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1502, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-19 17:06] danielskatz commented on #1969
It looks like those changes fixed the problem.

[2020-06-19 17:10] kbarnhart commented on #1969
Thanks @danielskatz 👍

[2020-06-19 17:11] vbaliga commented on #2258
Hi @KristinaRiemer, I am generally available to review submissions but after taking a look through this one, I feel that the content is a little too far outside my domain of expertise for me to be able to adequately assess it. Thanks for the opportunity, but I think you may be better off with someone else

[2020-06-19 17:14] taobrienlbl commented on #2197
Unfortunately I am unable to review as well, due to a conflict of interest with one of the authors.

[2020-06-19 17:26] whedon opened #2368 "[PRE REVIEW]: Chips-n-Salsa: A Java Library of Customizable, Hybridizable, Iterative, Parallel, Stochastic, and Self-Adaptive Local Search Algorithms"
**Submitting author:** @cicirello (<a href="http://orcid.org/0000-0003-1072-8559">Vincent A Cicirello</a>)
**Repository:** <a href="https://github.com/cicirello/Chips-n-Salsa" target ="_blank">https://github.com/cicirello/Chips-n-Salsa</a>
**Version:** v1.0
**Editor:** @galessiorob
**Reviewers:** @mbdemoraes, @nnadeau
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2020-06-19 17:26] whedon commented on #2368
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-19 17:27] whedon commented on #2368
[code]

[2020-06-19 17:27] whedon commented on #2368
[code]

[2020-06-19 17:27] whedon commented on #2368
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02368/joss.02368/10.21105.joss.02368.pdf)

[2020-06-19 17:32] mdpiper commented on #2316
Opened https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro/-/issues/176 with minor edits to paper text.

[2020-06-19 17:39] arfon commented on #2368
:wave: @cicirello - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, yo

[2020-06-19 17:41] danielskatz commented on #1969
I'm going to suggest some changes for style in a few minutes

[2020-06-19 17:51] danielskatz commented on #1969
@rgmyr - please merge https://github.com/rgmyr/corebreakout/pull/16/files or let me know what you disagree with, then we can finish the publication

[2020-06-19 17:57] danielskatz commented on #2266
@whedon generate pdf

[2020-06-19 17:57] whedon commented on #2266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02266/joss.02266/10.21105.joss.02266.pdf)

[2020-06-19 18:00] danielskatz commented on #2266
the bib problem is in formatting - please merge https://github.com/edwardoughton/itmlogic/pull/39 to fix it (and some other bib problems)

[2020-06-19 18:00] danielskatz commented on #2266
then you can put in a new comment here with ```@whedon generate pdf``` to regenerate the pdf.

[2020-06-19 18:15] danielskatz commented on #1969
@whedon generate pdf

[2020-06-19 18:16] whedon commented on #1969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01969/joss.01969/10.21105.joss.01969.pdf)

[2020-06-19 18:19] danielskatz commented on #1969
@whedon accept deposit=true

[2020-06-19 18:19] whedon commented on #1969
[code]

[2020-06-19 18:21] whedon commented on #1969
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1274044643290877953) 👈 🐦🐦🐦

[2020-06-19 18:21] whedon commented on #1969
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1503
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01969](https://doi.org/10.21105/joss.01969)
2. If everything looks g

[2020-06-19 18:22] erikcs commented on #2232
Just checking in and summarizing the changes so far:

1. Paper: under Figure 1 we add a note that DiagrammeR is needed for tree plots (we do not include it as a dependency since it has a ton of dependencies).

2. Paper: we fix the typo pointed out

3. Paper: we add add two articles pointed out by @nhejazi to the citation list, cite the use of R, and cite another useful package from the tlverse.

4

[2020-06-19 18:26] danielskatz commented on #1969
Thanks to @brendonhall & @JesperDramsch & @jessepisel for reviewing!

And @kbarnhart for editing!

And congratulations to @rgmyr (Ross Meyer) and co-authors!

[2020-06-19 18:26] #1969 closed

[2020-06-19 18:26] whedon commented on #1969
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01969/status.svg)](https://doi.org/10.21105/joss.01969)

**We need your help!**

Journal of Open Source Softwa

[2020-06-19 18:27] jjharden commented on #2232
The paper looks ready to go to me. I have no more suggested changes.

[2020-06-19 18:32] danielskatz commented on #2361
👋 @kbarnhart  - would you be willing to edit this submission?

[2020-06-19 18:33] danielskatz commented on #2361
@whedon invite @kbarnhart as editor

[2020-06-19 18:33] whedon commented on #2361
@kbarnhart has been invited to edit this submission.

[2020-06-19 18:35] BartoszBartmanski commented on #2293
@pdebuyl Is it possible to change the zenodo doi for this submission?

There was a mix up with some people at zenodo and the archive has been deleted. I can set up a new archive and give the new doi. Would that be ok?

Sorry for the trouble.

[2020-06-19 18:37] danielskatz commented on #2293
Yes, that's fine - please go ahead

[2020-06-19 18:37] danielskatz commented on #2293
once you do, I will do the final processing, and I'll make a final check of the paper now

[2020-06-19 18:39] mikldk commented on #2294
@whedon check repository

[2020-06-19 18:39] whedon commented on #2294
[code]

[2020-06-19 18:41] gorlapraveen commented on #2266
@whedon generate pdf

[2020-06-19 18:42] AnjaliSandip commented on #2301
I am open to reviewing this as well.

On Fri, Jun 19, 2020 at 6:19 AM whedon <notifications@github.com> wrote:

[2020-06-19 18:42] whedon commented on #2266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02266/joss.02266/10.21105.joss.02266.pdf)

[2020-06-19 18:43] danielskatz commented on #2293
👋 @pdebuyl  - this paper is too long, which I'm going to let go at this point, but for future papers you edit, a lot of the examples should be in the documentation, with the paper just pointing to the documentation, not including this much detail.  See https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

[2020-06-19 18:46] BartoszBartmanski commented on #2293
@danielskatz  the new doi is 10.5281/zenodo.3901670
Sorry for the trouble

[2020-06-19 18:47] danielskatz commented on #2293
@whedon set 10.5281/zenodo.3901670 as archive

[2020-06-19 18:47] whedon commented on #2293
OK. <a href="https://doi.org/10.5281/zenodo.3901670" target="_blank">10.5281/zenodo.3901670</a> is the archive.

[2020-06-19 18:50] danielskatz commented on #2266
@gorlapraveen - we need changes in the repo before it's useful to regenerate the pdf.

[2020-06-19 19:14] kbarnhart commented on #2361
@danielskatz I'm overloaded at the moment, but expect to be able to take on 1-2 new joss submissions by the end of next week. Happy to take this one on at that point if it is still in need of an editor.

[2020-06-19 19:22] jonwong12 commented on #2187
Sorry about the late reply. I can also review the paper if it would be useful.

From: Jack S. Hale <notifications@github.com>
Sent: Thursday, June 18, 2020 11:59 PM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Wong, Jonathan Joi-Mun <wong125@llnl.gov>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: DVRlib: A C++ library for geomet

[2020-06-19 20:01] danielskatz commented on #2293
@whedon accept deposit=true

[2020-06-19 20:01] whedon commented on #2293
[code]

[2020-06-19 20:03] whedon commented on #2293
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1274070251089670147) 👈 🐦🐦🐦

[2020-06-19 20:03] whedon commented on #2293
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1504
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02293](https://doi.org/10.21105/joss.02293)
2. If everything looks g

[2020-06-19 20:13] danielskatz commented on #2293
Thanks to @CFGrote & @mbkumar for reviewing!

And @pdebuyl for editing!

And congratulations to @BartoszBartmanski (Bartosz Bartmanski) and co-author!!

[2020-06-19 20:13] #2293 closed

[2020-06-19 20:13] whedon commented on #2293
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02293/status.svg)](https://doi.org/10.21105/joss.02293)

**We need your help!**

Journal of Open Source Softwa

[2020-06-19 20:21] BartoszBartmanski commented on #2293
@danielskatz @pdebuyl @mbkumar @CFGrote Thank you all for your time!

[2020-06-19 20:23] arfon commented on #2241
@whedon accept deposit=true

[2020-06-19 20:24] whedon commented on #2241
[code]

[2020-06-19 20:24] whedon commented on #2241
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1274075670138826752) 👈 🐦🐦🐦

[2020-06-19 20:24] whedon commented on #2241
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1505
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02241](https://doi.org/10.21105/joss.02241)
2. If everything looks g

[2020-06-19 20:39] meg-simula commented on #2301
Great, thanks @AnjaliSandip!

[2020-06-19 20:40] meg-simula commented on #2301
@whedon add @AnjaliSandip as reviewer

[2020-06-19 20:40] whedon commented on #2301
OK, @AnjaliSandip is now a reviewer

[2020-06-19 20:40] meg-simula commented on #2301
@whedon start review

[2020-06-19 20:40] whedon opened #2369 "[REVIEW]: scikit-fem: A Python package for finite element assembly"
**Submitting author:** @kinnala (<a href="http://orcid.org/0000-0003-1611-5032">Tom Gustafsson</a>)
**Repository:** <a href="https://github.com/kinnala/scikit-fem" target ="_blank">https://github.com/kinnala/scikit-fem</a>
**Version:** v1.1.0
**Editor:** @meg-simula
**Reviewer:** @thelfer, @AnjaliSandip
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-06-19 20:40] whedon commented on #2301
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2369.

[2020-06-19 20:40] #2301 closed

[2020-06-19 20:40] whedon commented on #2369
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @thelfer, @AnjaliSandip it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-06-19 20:41] whedon commented on #2369
[code]

[2020-06-19 20:41] whedon commented on #2369
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02369/joss.02369/10.21105.joss.02369.pdf)

[2020-06-19 21:18] arfon commented on #2241
@martinagvilas, @arbennett - many thanks for your reviews here and to @csoneson for editing this submission ✨

@Alcampopiano - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-06-19 21:18] #2241 closed

[2020-06-19 21:19] whedon commented on #2241
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02241/status.svg)](https://doi.org/10.21105/joss.02241)

**We need your help!**

Journal of Open Source Softwa

[2020-06-19 21:25] Alcampopiano commented on #2241
@martinagvilas @arbennett @csoneson @arfon

Publishing in JOSS was an incredibly positive experience for me. My sincerest thanks to you all. I really appreciate all of your hard work. I made sure to acknowledged Whedon in the paper too :).

[2020-06-19 21:27] edwardoughton commented on #2266
@whedon generate pdf

[2020-06-19 21:28] whedon commented on #2266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02266/joss.02266/10.21105.joss.02266.pdf)

[2020-06-19 21:31] edwardoughton commented on #2266
@gorlapraveen @garrettj403 @danielskatz I think that fixed the bibliography ordering plus capitalizations. Please let me know if there is anything else.

[2020-06-19 21:39] danielskatz commented on #2266
I'm not sure why you made changes manually rather than just merging the PR.  You missed the {}s around MHz and GHz.  Otherwise, it looks ok to me.

[2020-06-19 21:46] kellieotto commented on #1608
@arfon I just followed up in the issue with @Ji-Zhang -- still having the same error as before.

[2020-06-19 21:47] edwardoughton commented on #2266
@whedon generate pdf

[2020-06-19 21:47] whedon commented on #2266
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02266/joss.02266/10.21105.joss.02266.pdf)

[2020-06-19 21:47] edwardoughton commented on #2266
Apologies Daniel, I missed the PR! Thanks for that. I hope this is resolved now.

[2020-06-19 22:28] ivalaginja commented on #2281
Thanks for all your comments @mattpitkin! To address your questions:
1. I have updated the Quickstart section to include the activation of the environment, thanks for that!
2. We currently use GitHub Actions to run our test suite in every open PR, alternatively this can be run locally with `pytest`. Our current test coverage is very thin and probably in the lower single digits percent-wise. Howeve

[2020-06-19 22:46] ivalaginja commented on #2281
I just saw that [Doe et al.](https://ui.adsabs.harvard.edu/abs/2007ASPC..376..543D/abstract) also doesn't have a DOI, facing the same problem here.

[2020-06-19 22:49] danielskatz commented on #2266
no problem

[2020-06-19 22:53] danielskatz commented on #2361
Ok, let's see where we are next week.

[2020-06-19 23:12] mattpitkin commented on #2281
Thanks for your detailed responses and for opening the issue.

I think you're right that there just aren't DOIs for Claret or Doe et al, so the references are fine without them. I'll tick of that last box for my review.

[2020-06-19 23:13] mattpitkin commented on #2281
@whedon check references

[2020-06-19 23:15] whedon commented on #2281
[code]

[2020-06-20 00:13] arfon commented on #2285
@whedon accept deposit=true

[2020-06-20 00:13] whedon commented on #2285
[code]

[2020-06-20 00:13] whedon commented on #2285
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1274133355588718593) 👈 🐦🐦🐦

[2020-06-20 00:13] whedon commented on #2285
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1506
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02285](https://doi.org/10.21105/joss.02285)
2. If everything looks g

[2020-06-20 00:26] arfon commented on #2285
@paulinepalma, @Athanasiamo - many thanks for your reviews here and to @oliviaguest for editing this submission ✨

@samhforbes - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-06-20 00:26] #2285 closed

[2020-06-20 00:26] whedon commented on #2285
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02285/status.svg)](https://doi.org/10.21105/joss.02285)

**We need your help!**

Journal of Open Source Softwa

[2020-06-20 00:27] whedon opened #2370 "[PRE REVIEW]: Bloatectomy: A python package for the identification and removal of duplicate text in the bloated notes of electronic health records and other documents"
**Submitting author:** @1fmusic (<a href="http://orcid.org/0000-0002-6886-3983">Summer Rankin</a>)
**Repository:** <a href="https://github.com/MIT-LCP/bloatectomy" target ="_blank">https://github.com/MIT-LCP/bloatectomy</a>
**Version:** v0.0.12
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-06-20 00:27] whedon commented on #2370
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-20 00:27] whedon commented on #2370
[code]

[2020-06-20 00:27] whedon commented on #2370
[code]

[2020-06-20 00:28] whedon commented on #2370
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02370/joss.02370/10.21105.joss.02370.pdf)

[2020-06-20 00:28] whedon opened #2371 "[PRE REVIEW]: Publink: A Python package for discovering relationships between data and publications"
**Submitting author:** @dwief-usgs (<a href="http://orcid.org/0000-0003-1554-7992">Daniel Wieferich</a>)
**Repository:** <a href="https://github.com/usgs-biolab/publink" target ="_blank">https://github.com/usgs-biolab/publink</a>
**Version:** v0.2.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2020-06-20 00:28] whedon commented on #2371
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-20 00:28] whedon commented on #2371
[code]

[2020-06-20 00:28] whedon commented on #2371
[code]

[2020-06-20 00:29] whedon commented on #2371
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02371/joss.02371/10.21105.joss.02371.pdf)

[2020-06-20 00:35] 1fmusic commented on #2370
potential reviewer: Darthpathos

[2020-06-20 00:38] 1fmusic commented on #2370
potential reviewer username: jkanche email:
jayaram.kancherla@gmail.com

[2020-06-20 00:46] 1fmusic commented on #2370
I'm not sure why this is invalid? it's the python reference manual...
[http://citebay.com/how-to-cite/python/](url)

 author = {Van Rossum, Guido and Drake, Fred L.},
 title = {Python 3 Reference Manual},
 year = {2009},
 isbn = {1441412697},
 publisher = {CreateSpace},
 address = {Scotts Valley, CA}
}

[2020-06-20 00:48] arfon commented on #2245
@whedon invite @jgostick as editor

:wave: @jgostick - would you be willing to edit this submission? I feel like you might have better luck finding reviewers?

[2020-06-20 00:48] whedon commented on #2245
@jgostick has been invited to edit this submission.

[2020-06-20 00:51] arfon commented on #2370
...well https://doi.org/10.5555/1593511 doesn't resolve so whatever this DOI is, it's not a valid one :-)

[2020-06-20 01:08] 1fmusic commented on #2370
ok, took it out

[2020-06-20 01:09] 1fmusic commented on #2370
the others do not have a doi.

[2020-06-20 01:13] 1fmusic commented on #2370
@whedon generate pdf

[2020-06-20 01:14] whedon commented on #2370
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02370/joss.02370/10.21105.joss.02370.pdf)

[2020-06-20 02:06] 1fmusic commented on #2370
@whedon generate pdf

[2020-06-20 02:07] 1fmusic commented on #2370
@whedon commands

[2020-06-20 02:07] whedon commented on #2370
Here are some things you can ask me to do:

[code]

[2020-06-20 02:07] whedon commented on #2370
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02370/joss.02370/10.21105.joss.02370.pdf)

[2020-06-20 05:34] pdebuyl commented on #2293
@danielskatz thank you for the finalization. I will keep the length in mind for my future editorial assignments.

[2020-06-20 07:28] vgurianov commented on #2346
@whedon generate pdf

[2020-06-20 07:28] whedon commented on #2346
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02346/joss.02346/10.21105.joss.02346.pdf)

[2020-06-20 08:07] mikldk commented on #2294
@hope-data-science : Do you have any suggestions for reviewers?

[2020-06-20 08:17] hope-data-science commented on #2294
@mikldk Perhaps someone from this list: <https://github.com/hope-data-science/tidyfst/stargazers>. I think they might have the first-hand experience of using this package and make comments on it to make it better.

[2020-06-20 10:36] hope-data-science commented on #2294
Also, I recommend this folk (https://github.com/Atrebas). He has written a great post (from which I benefited from) on the related topic at <https://atrebas.github.io/post/2019-03-03-datatable-dplyr/>. I think he might be interested and give great suggestions.

[2020-06-20 10:40] Kevin-Mattheus-Moerman commented on #2187
@whedon add @jonwong12 as reviewer

[2020-06-20 10:40] whedon commented on #2187
OK, @jonwong12 is now a reviewer

[2020-06-20 10:40] Kevin-Mattheus-Moerman commented on #2187
@whedon start review

[2020-06-20 10:40] whedon opened #2372 "[REVIEW]: DVRlib: A C++ library for geometric mesh improvement using Directional Vertex Relaxation"
**Submitting author:** @rram84 (<a href="http://orcid.org/0000-0001-7403-7728">Ramsharan Rangarajan</a>)
**Repository:** <a href="https://bitbucket.org/rram/dvrlib/src/joss/" target ="_blank">https://bitbucket.org/rram/dvrlib/src/joss/</a>
**Version:** v1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @hugoledoux, @jhale, @jonwong12
**Archive:** <a href="https://doi.org/10.5281/zenodo.3995623

[2020-06-20 10:40] whedon commented on #2187
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2372.

[2020-06-20 10:40] #2187 closed

[2020-06-20 10:40] whedon commented on #2372
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hugoledoux, @jhale, @jonwong12 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2020-06-20 10:41] whedon commented on #2372
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02372/joss.02372/10.21105.joss.02372.pdf)

[2020-06-20 10:53] labarba commented on #43
@whedon check repository

[2020-06-20 10:53] whedon commented on #43
[code]

[2020-06-20 10:56] labarba commented on #280
@whedon check repository

[2020-06-20 10:57] whedon commented on #280
[code]

[2020-06-20 12:58] cicirello commented on #2368
@whedon generate pdf

[2020-06-20 12:59] whedon commented on #2368
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02368/joss.02368/10.21105.joss.02368.pdf)

[2020-06-20 12:59] pythonpanda2 commented on #1942
@majensen Apologies. I will be try to complete the review over the weekend.

[2020-06-20 13:04] cicirello commented on #2368
@whedon commands

[2020-06-20 13:04] whedon commented on #2368
Here are some things you can ask me to do:

[code]

[2020-06-20 13:05] cicirello commented on #2368
@whedon check references

[2020-06-20 13:05] whedon commented on #2368
[code]

[2020-06-20 13:29] majensen commented on #2006
@labarba Sounds like we are ready to pull the trigger

[2020-06-20 13:45] mattwthompson commented on #2324
Sure!

I'd like to briefly note that Mathieu and I had a meeting or two about collaborating in 2014 or 2015, but that never materialized (and no other collaborations or affiliations since, with him or any other author). My reading of the JOSS COI policy is that this does not qualify COI, and I don't think I'm unable to impartially review the work. Just thought I'd note. If this sounds fine @richar

[2020-06-20 13:52] richardjgowers commented on #2324
@mattwthompson yep that sounds fine, it's hard not to know people :)

[2020-06-20 13:53] richardjgowers commented on #2324
@whedon assign @hmacdope as reviewer

[2020-06-20 13:53] whedon commented on #2324
OK, @hmacdope is now a reviewer

[2020-06-20 13:53] richardjgowers commented on #2324
@whedon assign @mattwthompson as reviewer

[2020-06-20 13:53] whedon commented on #2324
OK, @mattwthompson is now a reviewer

[2020-06-20 13:54] richardjgowers commented on #2324
@whedon add @hmacdope as reviewer

[2020-06-20 13:54] whedon commented on #2324
OK, @hmacdope is now a reviewer

[2020-06-20 13:54] richardjgowers commented on #2324
@whedon start review

[2020-06-20 13:54] whedon opened #2373 "[REVIEW]: MetalWalls: A classical molecular dynamics software dedicated to the simulation of electrochemical systems"
**Submitting author:** @salanne (<a href="http://orcid.org/0000-0002-1753-491X">Mathieu Salanne</a>)
**Repository:** <a href="https://gitlab.com/ampere2/metalwalls" target ="_blank">https://gitlab.com/ampere2/metalwalls</a>
**Version:** 20.05
**Editor:** @richardjgowers
**Reviewer:** @mattwthompson, @hmacdope
**Archive:** <a href="https://doi.org/10.5281/zenodo.4040665" target="_blank">10.5281/zen

[2020-06-20 13:54] whedon commented on #2324
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2373.

[2020-06-20 13:54] #2324 closed

[2020-06-20 13:54] whedon commented on #2373
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mattwthompson, @hmacdope it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-06-20 13:54] whedon commented on #2373
[code]

[2020-06-20 13:55] whedon commented on #2373
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02373/joss.02373/10.21105.joss.02373.pdf)

[2020-06-20 13:55] richardjgowers commented on #2373
@hmacdope @mattwthompson we'll be doing the review in this issue.  Usually if you have comments/concerns about the software it's best to open an issue in their repo to track and address this

[2020-06-20 14:04] whedon opened #2374 "[PRE REVIEW]: Alarconpy: a Python Package for Meteorologists"
**Submitting author:** @apalarcon (<a href="http://orcid.org/0000-0002-9454-2331">Albenis Pérez Alarcón</a>)
**Repository:** <a href="https://github.com/apalarcon/alarconpy/" target ="_blank">https://github.com/apalarcon/alarconpy/</a>
**Version:** v1.0.3
**Editor:** @dhhagan
**Reviewers:** @RCHG, @hertzsprung
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to

[2020-06-20 14:04] whedon commented on #2374
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-20 14:04] whedon commented on #2374
[code]

[2020-06-20 14:04] whedon commented on #2374
[code]

[2020-06-20 14:05] whedon commented on #2374
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02374/joss.02374/10.21105.joss.02374.pdf)

[2020-06-20 14:06] arfon commented on #2374
@whedon invite @dhhagan as editor

:wave: @dhhagan - would you be able to edit this submission for JOSS?

[2020-06-20 14:06] whedon commented on #2374
@dhhagan has been invited to edit this submission.

[2020-06-20 14:26] apalarcon commented on #2374
@whedon generate pdf

[2020-06-20 14:27] whedon commented on #2374
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02374/joss.02374/10.21105.joss.02374.pdf)

[2020-06-20 14:38] RMeli commented on #2367
This is not seem to qualify as a [COI](https://github.com/openjournals/joss/blob/master/COI.md) but  I'll mention it here anyway, for transparency: as @richardjgowers is aware, I am a [MDAnalysis](https://github.com/MDAnalysis/mdanalysis) contributor.

MDAnalysis is used in HOOMD-TF to work with trajectories produced by MD engines other than HOOMD-blue. Despite this, I think I am able to make an i

[2020-06-20 15:03] fboehm commented on #2326
@whedon assign @fboehm as editor

[2020-06-20 15:03] whedon commented on #2326
OK, the editor is @fboehm

[2020-06-20 16:33] danielskatz commented on #2006
@majensen - when a submission is ready to be accepted, please tag @openjournals/joss-eics to be sure you get the on-duty AEiC, which changes week to week...

[2020-06-20 16:37] majensen commented on #2006
@openjournals/joss-eics This work is recommended for publication.

[2020-06-20 16:39] danielskatz commented on #2006
👋 @uellue - if you can merge https://github.com/LiberTEM/LiberTEM/pull/823, we can finalize the publication

[2020-06-20 17:33] cbrueffer commented on #2284
Chiming in a bit late, since @khinsen's comment above some changes have been made in the repository README. This, at least to me, now gives a clearer picture of the software. I think the functionality is quite well described in both the documentation and the paper.

To me, what is currently missing is a description of the state of the art, how GridTest fits in, and what it adds over existing tools

[2020-06-20 17:45] vsoch commented on #2284
Thank you @cbrueffer! It's always really a wonderful surprise when a reviewer takes the initiative to help out with changes, and I really appreciate that. The last issue (for https://github.com/vsoch/gridtest/issues/34) now has a PR open to address it: https://github.com/vsoch/gridtest/pull/35.

[2020-06-20 18:03] sam-greenwood commented on #1720
Hi all, apologies about the long delay, it's been a difficult time recently. Hope all is well with everybody given the unique circumstances. @leouieda @Kevin-Mattheus-Moerman @kyleniemeyer  I've addressed those 4 points now:

* Double check authors and affiliations (including ORCIDs)
All double checked. One affiliation was updated. (I'll re-generate the pdf below such that it is updated)

* Make a

[2020-06-20 18:04] danielskatz commented on #2006
@whedon accept

[2020-06-20 18:04] whedon commented on #2006
[code]

[2020-06-20 18:05] whedon commented on #2006
[code]

[2020-06-20 18:05] whedon commented on #2006
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1507

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1507, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-20 18:08] danielskatz commented on #2006
👋 @uellue  - sorry, I missed one - can you also merge https://github.com/LiberTEM/LiberTEM/pull/824

[2020-06-20 18:36] shah314 commented on #2290
@whedon generate pdf from branch joss-paper-v1.5.1

[2020-06-20 18:36] whedon commented on #2290
[code]

[2020-06-20 18:37] whedon commented on #2290
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02290/joss.02290/10.21105.joss.02290.pdf)

[2020-06-20 19:31] danielskatz commented on #2006
@whedon accept deposit=true

[2020-06-20 19:31] whedon commented on #2006
[code]

[2020-06-20 19:32] whedon commented on #2006
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1274424941748813824) 👈 🐦🐦🐦

[2020-06-20 19:32] whedon commented on #2006
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1508
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02006](https://doi.org/10.21105/joss.02006)
2. If everything looks g

[2020-06-20 19:33] sk1p commented on #2006
@danielskatz Thank you! :partying_face: :tada:

[2020-06-20 19:38] danielskatz commented on #2006
Thanks to @alvarolopez & @fedorov for reviewing!
And @majensen for editing!

And congratulations to @uellue (Dieter Weber) and co-authors!!

[2020-06-20 19:38] #2006 closed

[2020-06-20 19:38] whedon commented on #2006
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02006/status.svg)](https://doi.org/10.21105/joss.02006)

**We need your help!**

Journal of Open Source Softwa

[2020-06-20 21:00] sam-greenwood commented on #1720
@whedon generate pdf

[2020-06-20 21:01] whedon commented on #1720
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01720/joss.01720/10.21105.joss.01720.pdf)

[2020-06-20 23:19] apalarcon commented on #2374
Potential reviewers:
andreas-h: hilboll@uni-bremen.de
GregoryAshton: gregory.ashton@ligo.org

[2020-06-21 01:40] dhhagan commented on #2374
@whedon assign @dhhagan as editor

[2020-06-21 01:40] whedon commented on #2374
OK, the editor is @dhhagan

[2020-06-21 04:52] 1fmusic commented on #2370
@whedon check references

[2020-06-21 04:53] whedon commented on #2370
[code]

[2020-06-21 06:26] nhejazi commented on #2232
Looks good to me as well! Thanks for making these changes, @erikcs.

[2020-06-21 07:28] linuxscout commented on #2271
Salam,
Where can I find the paper and the check list to do?
Thanks

[2020-06-21 08:07] RM-cyber commented on #2366
@whedon generate pdf

[2020-06-21 08:08] whedon commented on #2366
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02366/joss.02366/10.21105.joss.02366.pdf)

[2020-06-21 08:21] RM-cyber commented on #2366
possible reviewers (not in order): amoeba, wrathematics, soodoku

[2020-06-21 10:12] uellue commented on #2006
Thank you @danielskatz @alvarolopez @fedorov @majensen for reviewing and managing the submission!

@sk1p @kruzaeva @woozey @anandbaburajan @twentyse7en @jan-car @irahulcse @sayandip18 @magnunor Knut @rafaldb Many thanks and congratulations!

[2020-06-21 12:11] RM-cyber commented on #2366
@whedon commands

[2020-06-21 12:11] whedon commented on #2366
Here are some things you can ask me to do:

[code]

[2020-06-21 12:17] arfon commented on #2370
:wave: @1fmusic - thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2020-06-21 12:17] arfon commented on #2370
@whedon reject

[2020-06-21 12:17] whedon commented on #2370
Paper rejected.

[2020-06-21 12:17] #2370 closed

[2020-06-21 12:18] arfon commented on #2371
:wave: @dwief-usgs - thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code

[2020-06-21 12:18] arfon commented on #2371
@whedon reject

[2020-06-21 12:18] whedon commented on #2371
Paper rejected.

[2020-06-21 12:18] #2371 closed

[2020-06-21 12:19] whedon opened #2375 "[PRE REVIEW]: tspex: a tissue-specificity calculator for gene expression data"
**Submitting author:** @apcamargo (<a href="http://orcid.org/0000-0003-3913-2484">Antonio P Camargo</a>)
**Repository:** <a href="https://github.com/apcamargo/tspex" target ="_blank">https://github.com/apcamargo/tspex</a>
**Version:** v0.6.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID

[2020-06-21 12:19] whedon commented on #2375
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-21 12:19] whedon commented on #2375
[code]

[2020-06-21 12:19] whedon commented on #2375
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02375/joss.02375/10.21105.joss.02375.pdf)

[2020-06-21 12:23] RM-cyber commented on #2366
@whedon check references

[2020-06-21 12:24] whedon commented on #2366
[code]

[2020-06-21 12:24] arfon commented on #2232
@whedon generate pdf

[2020-06-21 12:24] whedon commented on #2232
PDF failed to compile for issue #2232 with the following error:

 Can't find any papers to compile :-(

[2020-06-21 12:25] arfon commented on #2232
@whedon generate pdf from branch oss-paper

[2020-06-21 12:25] whedon commented on #2232
[code]

[2020-06-21 12:25] arfon commented on #2232
@whedon check references from branch oss-paper

[2020-06-21 12:25] whedon commented on #2232
[code]

[2020-06-21 12:25] whedon commented on #2232
PDF failed to compile for issue #2232 with the following error:

 pandoc: 10.21105.joss.02232.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-06-21 12:26] whedon commented on #2232
[code]

[2020-06-21 12:26] arfon commented on #2232
@whedon generate pdf from branch oss-paper

[2020-06-21 12:26] whedon commented on #2232
[code]

[2020-06-21 12:26] whedon commented on #2232
PDF failed to compile for issue #2232 with the following error:

 error: pathspec 'oss-paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-06-21 12:28] arfon commented on #2232
@whedon generate pdf from branch oss-paper

Thanks @nhejazi and @jjharden.

@erikcs - could you check those potentially missing DOIs for the references and also give the paper one final read to check everything looks OK?

[2020-06-21 12:28] whedon commented on #2232
[code]

[2020-06-21 12:28] whedon commented on #2232
PDF failed to compile for issue #2232 with the following error:

 error: pathspec 'oss-paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-06-21 12:28] arfon commented on #2232
@whedon generate pdf from branch oss-paper

[2020-06-21 12:28] whedon commented on #2232
[code]

[2020-06-21 12:29] whedon commented on #2232
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02232/joss.02232/10.21105.joss.02232.pdf)

[2020-06-21 12:30] RM-cyber commented on #2366
@whedon generate pdf

[2020-06-21 12:31] whedon commented on #2366
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02366/joss.02366/10.21105.joss.02366.pdf)

[2020-06-21 14:06] yangkcatiu commented on #2315
@whedon commands

[2020-06-21 14:06] whedon commented on #2315
Here are some things you can ask me to do:

[code]

[2020-06-21 14:06] yangkcatiu commented on #2315
@whedon check references

[2020-06-21 14:07] whedon commented on #2315
[code]

[2020-06-21 14:58] ArdiaD commented on #2271
thx @linuxscout for reviewing the paper and the data hub. The paper is here: https://github.com/covid19datahub/COVID19/tree/master/inst/joss => PDF

[2020-06-21 15:01] ArdiaD commented on #2271
The checklist (at least the steps) are reported here: https://joss.readthedocs.io/en/latest/review_checklist.html#
I guess you'll have access to a real "check box" page with all these points mentioned. Am I correct @will-rowe ?

[2020-06-21 15:16] apcamargo commented on #2375
@whedon generate pdf

[2020-06-21 15:16] whedon commented on #2375
PDF failed to compile for issue #2375 with the following error:

 Error reading bibliography ./paper.bib (line 32, column 3):
unexpected "p"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2020-06-21 15:19] apcamargo commented on #2375
@whedon generate pdf

[2020-06-21 15:20] whedon commented on #2375
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02375/joss.02375/10.21105.joss.02375.pdf)

[2020-06-21 15:22] apcamargo commented on #2375
Possible reviewers: @azneto @a-slide @ctb @luizirber

[2020-06-21 16:45] AnjaliSandip commented on #2369
Hello,

This is my first time reviewing for JOSS. In regards to the checklist, do I select the boxes (if the paper meets that criterion) in the checklist under my name listed in this thread?

Thanks for any information you can provide.

Anjali

[2020-06-21 16:55] danielskatz commented on #2369
Yes, that's correct.  If you have any problem doing so, be sure you have accepted the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

[2020-06-21 17:24] will-rowe commented on #2271
Hi @linuxscout and @ArdiaD. Thanks for posting the docs - they are correct. There will be a full checklist for you to fill in when we start the review - you will get tagged in a new thread.

Sorry this has taken a while to get started @ArdiaD, hopefully I will have another reviewer soon. I'll give it another couple of days and then I'll do the review if we can't find anyone.

[2020-06-21 17:26] fboehm commented on #2326
@whedon list reviewers

[2020-06-21 17:26] whedon commented on #2326
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-06-21 17:29] will-rowe commented on #2271
Hi @leomrtns - I don't suppose you could review this submission for us?

[2020-06-21 17:34] AnjaliSandip commented on #2369
Thanks for letting me know!

On Sun, Jun 21, 2020 at 11:56 AM Daniel S. Katz <notifications@github.com>
wrote:

[2020-06-21 17:37] apcamargo commented on #2375
Possible reviewers: azneto, a-slide, ctb, luizirber

[2020-06-21 17:38] Nikoleta-v3 commented on #2315
@drvinceknight I have finished my review. Let me know if there is anything else I need to do 😄

@yangkcatiu thank you for your work 👍

[2020-06-21 17:39] mbod commented on #2271
Yes am happy to review

On Mon, Jun 8, 2020, 4:39 AM Will Rowe <notifications@github.com> wrote:

[2020-06-21 19:09] shah314 commented on #2290
@darioizzo There should be a CONTRIBUTING.md and a CODE_OF_CONDUCT.md files present in the repository.

The CODE_OF_CONDUCT can be adapted from [this page](https://www.contributor-covenant.org/version/1/4/code-of-conduct/).

CONTRIBUTING.md could be anything that you want contributors to know before they contribute to the code or submit issues. [Here](https://github.com/shah314/gamultiknapsack/blo

[2020-06-21 19:31] cmccomb commented on #2362
@AlexMikes will you please enable issues in your repository?

[2020-06-21 19:32] ArdiaD commented on #2271
thx @will-rowe. I think we have now @linuxscout and @mbod which are willing to start the review

[2020-06-21 19:56] Ohjeah commented on #2290
I have two remaining points which I would like to see addressed:

- [ ] I'd like to see a more in depth installation guide for the c++ part on how to install the thirdparty requirements. I had to dig into the issues (https://github.com/darioizzo/dcgp/issues/73) and install an undocumented requirement. Maybe the authors could also provide a convenience script to setup a working environment (on maco

[2020-06-21 20:01] shah314 commented on #2290
@VivianePons @darioizzo @Ohjeah

The code implements differentiable cartesian genetic programming in which the code can learn using symbolic regression. The implementation provides several kernels with the ability to write custom kernels. I tried to fit a few functions from data and it was able to find good approximations.

Another application is the code's ability to learn neural networks and the

[2020-06-21 20:19] will-rowe commented on #2271
Great - thanks @mbod. Let's start the review process. I'll assign @mbod and @linuxscout - then the review will be tracked in a new thread and this one will close.

[2020-06-21 20:19] will-rowe commented on #2271
@whedon add @mbod as reviewer

[2020-06-21 20:19] whedon commented on #2271
OK, @mbod is now a reviewer

[2020-06-21 20:19] will-rowe commented on #2271
@whedon start review

[2020-06-21 20:19] whedon opened #2376 "[REVIEW]: COVID-19 Data Hub"
**Submitting author:** ArdiaD (<a href="http://orcid.org/0000-0003-2823-782X">David Ardia</a>)
**Repository:** <a href="https://github.com/covid19datahub/COVID19/" target ="_blank">https://github.com/covid19datahub/COVID19/</a>
**Version:** v2.0.3
**Editor:** @will-rowe
**Reviewers:** @linuxscout, @will-rowe
**Archive:** <a href="https://doi.org/10.5281/zenodo.3939184" target="_blank">10.5281/zeno

[2020-06-21 20:19] whedon commented on #2271
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2376.

[2020-06-21 20:19] #2271 closed

[2020-06-21 20:19] whedon commented on #2376
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @linuxscout, @mbod it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2020-06-21 20:20] whedon commented on #2376
[code]

[2020-06-21 20:20] whedon commented on #2376
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02376/joss.02376/10.21105.joss.02376.pdf)

[2020-06-21 21:34] dpsanders commented on #2191
@whedon generate pdf

[2020-06-21 21:35] whedon commented on #2191
PDF failed to compile for issue #2191 with the following error:

 Error producing PDF.
! Package amsmath Error: Multiple \label's: label 'eq:narxekxt' will be lost.

See the amsmath package documentation for explanation.
Type  H <return>  for immediate help.
 ...

l.409 \end{align}

Looks like we failed to compile the PDF

[2020-06-21 21:36] dpsanders commented on #2191
@wilsonrljr Sorry about the delay. Could you please fix the compilation error here?

[2020-06-21 21:40] dpsanders commented on #2182
@whedon generate pdf

[2020-06-21 21:40] whedon commented on #2182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf)

[2020-06-21 21:47] dpsanders commented on #2182
👋 Sorry for the delay.

@joglekara Just wanted to point out that the reference to `@Cheng1977` in the paper seems to have the wrong format.

@TomGoffrey Are you happy with the updated statement of need and references and the modifications to the requirements?

@StanczakDominik I see that all of your boxes are checked off, thanks! Have you finished your review?

[2020-06-21 21:49] dpsanders commented on #2239
@whedon commands

[2020-06-21 21:49] whedon commented on #2239
Here are some things you can ask me to do:

[code]

[2020-06-21 22:09] dpsanders commented on #2224
👋 @MrMinimal64, I think you've successfully addressed all my questions and comments, thanks!

[2020-06-21 22:22] arfon commented on #2366
:wave:  @RM-cyber - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/

[2020-06-21 22:23] arfon commented on #2366
@whedon reject

[2020-06-21 22:23] whedon commented on #2366
Paper rejected.

[2020-06-21 22:23] #2366 closed

[2020-06-21 22:29] arfon commented on #2232
@whedon accept from branch oss-paper

[2020-06-21 22:29] whedon commented on #2232
No archive DOI set. Exiting...

[2020-06-21 22:39] arfon commented on #1720
@whedon set 10.5281/zenodo.3902334 as archive

[2020-06-21 22:39] whedon commented on #1720
OK. <a href="https://doi.org/10.5281/zenodo.3902334" target="_blank">10.5281/zenodo.3902334</a> is the archive.

[2020-06-21 22:39] arfon commented on #1720
@whedon accept

[2020-06-21 22:39] whedon commented on #1720
[code]

[2020-06-21 22:39] whedon commented on #1720
[code]

[2020-06-21 22:40] whedon commented on #1720
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1509

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1509, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-21 22:40] arfon commented on #1720
@whedon accept deposit=true

[2020-06-21 22:40] whedon commented on #1720
[code]

[2020-06-21 22:41] whedon commented on #1720
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1274834939847024640) 👈 🐦🐦🐦

[2020-06-21 22:41] whedon commented on #1720
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1510
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01720](https://doi.org/10.21105/joss.01720)
2. If everything looks g

[2020-06-21 22:44] arfon commented on #1720
@malmans2, @banesullivan - many thanks for your reviews here and to @leouieda for editing this submission ✨

@sam-greenwood - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-06-21 22:44] #1720 closed

[2020-06-21 22:44] whedon commented on #1720
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01720/status.svg)](https://doi.org/10.21105/joss.01720)

**We need your help!**

Journal of Open Source Softwa

[2020-06-22 01:00] AlexMikes commented on #2362
@cmccomb Thanks for being a reviewer and taking the time to give great feedback! I just enabled issues, should I reply here or after you've put your notes in the issue?

I'll work on adding documentation for the example files and community guidelines in the README.

[2020-06-22 01:55] cmccomb commented on #2362
@AlexMikes its my pleasure! Really cool piece of software. I've added them here:
1. https://github.com/AlexMikes/AutoFunc/issues/1
2. https://github.com/AlexMikes/AutoFunc/issues/2
3. https://github.com/AlexMikes/AutoFunc/issues/3

[2020-06-22 02:19] erikcs commented on #2232
@whedon check references from branch oss-paper

[2020-06-22 02:19] whedon commented on #2232
[code]

[2020-06-22 02:19] whedon commented on #2232
[code]

[2020-06-22 02:20] erikcs commented on #2232
Thank you for the review @jjharden and @nhejazi!

[2020-06-22 02:21] erikcs commented on #2232
Thank you @arfon, I have updated the .bib file with DOIs from the publisher's page for the listed items.

[2020-06-22 02:21] arfon commented on #2232
@erikcs - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the author

[2020-06-22 02:25] garrettj403 commented on #2266
Hi @edwardoughton

I like that you provided two examples in the ``scripts/`` directory, but I think that they need a bit more explanation. For example, ``scripts/area.py`` doesn't have any inline comments past line 107, which makes it difficult to follow along. I raised this issue in [#43](https://github.com/edwardoughton/itmlogic/issues/43).

The testing looks good (I think), but again it's very

[2020-06-22 02:36] phckopper commented on #2259
Hello, just checking in and saying that I'll be making my review this week.

[2020-06-22 04:25] khinsen commented on #2284
Back to this review after a break for dealing with real-life issues, sorry for the delay.

With all the changes to the documentation, the functionality of this package has become a lot clearer! The one point I'd like to see improved is the definition of what a grid actually is in the specific context of this package. Coming from a background of good old number crunching, my intuitive definition is

[2020-06-22 04:34] StanczakDominik commented on #2182
Oh! Yeah, I bet there's some step here that I should have done to finish it, but forgot - sorry. Getting to it after breakfast.

[2020-06-22 04:39] vsoch commented on #2284
Thank you @khinsen for your feedback! I'd be happy to add more detail about the definition for a grid, and let's discuss 1) where it would be best, and 2) what additional detail you are looking for. The first spot we mention grids is on the first page you encounter, under the "parameterization" section:

https://vsoch.github.io/gridtest/#grids

![image](https://user-images.githubusercontent.com/81

[2020-06-22 04:59] RM-cyber commented on #2366
@arfon thanks for your feedback.

[2020-06-22 05:04] dpsanders commented on #2182
No I don't think you missed a step actually, just wanted to confirm!

[2020-06-22 05:26] dpsanders commented on #2239
Hi @sp94! Sorry, I've been out of action for a while but am now picking up again.

Could you please add a couple of examples to the paper too? And briefly comment what a photonic crystal is.

Are photonic crystals in 3D also relevant? How hard would it be to extend the package to that case? Is that in the pipeline?

For the documentation aspect, [Documenter.jl](https://github.com/JuliaDocs/Documen

[2020-06-22 05:30] sayanddude commented on #2278
@pat-s Thank you for your detailed comments! We have started working on addressing the issues you raised on Package Structure, Installation, README , Dependencies, Functions, Tests, Wording, Manuscript and Grammar. We plan to complete this in a week or so and we will get back to you with the updated package and manuscript.

[2020-06-22 06:11] adamgdobrakowski commented on #2273
@karthik Thank you. Based on the list of reviewers I think these reviewers have an appropriate area of interest: dormezil, cmaimone, bagheria

[2020-06-22 07:06] mikldk commented on #2294
@tomsing1, @kellieotto: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-06-22 09:17] MAnalytics commented on #2019
Dear @karthik
Regarding the reminders you sent, did they get back to you? If no, when would you commence the review as suggested.
Thank you as I anticipate your kind response.

[2020-06-22 09:36] Kevin-Mattheus-Moerman commented on #2121
@likask, @agshvarts, thanks again for your continued review efforts!
@prs513rosewood has implemented some changes/replied to your comments. Can you follow up on these and resume the review? Thanks.

[2020-06-22 09:37] Kevin-Mattheus-Moerman commented on #2121
@chennachaos @srmnitc this is a friendly checkup to see how you are getting on with the review process. Please let me know if you have any questions.

[2020-06-22 09:38] Kevin-Mattheus-Moerman commented on #1867
@whedon remove @PGomes92 as reviewer

[2020-06-22 09:38] whedon commented on #1867
OK, @PGomes92 is no longer a reviewer

[2020-06-22 09:38] Kevin-Mattheus-Moerman commented on #1867
@whedon remove @hooman650 as reviewer

[2020-06-22 09:39] whedon commented on #1867
OK, @hooman650 is no longer a reviewer

[2020-06-22 09:50] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-06-22 09:52] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-06-22 09:59] mstimberg commented on #2331
I've started reviewing but I have to say that I had some difficulties to get things going. I'm on Ubuntu, so none of the provided binary packages applies to my situation. I had a look into installing from source, but it seems to require many dependencies that are non-standard and would have to be installed from source as well. Since I did not want to go down that rabbit hole I installed CentOS 8 i

[2020-06-22 10:14] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-06-22 10:15] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-06-22 10:19] Kevin-Mattheus-Moerman commented on #2343
@grlee77, @mfroeling, @62442katieb thanks again for your help with this review. I see @mfroeling has started. @grlee77, @62442katieb how are you getting on? Let me know if you have questions.

[2020-06-22 10:21] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-06-22 10:21] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-06-22 10:27] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-06-22 10:28] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-06-22 10:57] blsqr commented on #2316
Thanks, @mdpiper!

I forgot to mention that we are working on a self-hosted GitLab instance and by default accounts are marked as "external", meaning that freshly-registered users can create issues but can _not_ create their own projects and forks. I will grant you access to the dantro repository so that you have more freedom for future issues or MRs. (@Chilipp, if you could drop me a note once yo

[2020-06-22 11:08] uellue commented on #2006
As a general remark, open writing and open review in combination with GitHub worked really well IMO, and the whole process was a refreshing, pleasant and productive experience. I'll be sure to recommend JOSS for papers like this. 👍

[2020-06-22 11:13] sp94 commented on #2239
Hi @dpsanders, thanks for taking the time to look at this! I will work through your comments and get back to you this week.

[2020-06-22 11:20] eloisabentivegna commented on #2346
Dear @vgurianov, thanks for your submission to JOSS. After a discussion with the other editors, it was determined that PyMMS’s functionality is both too limited and lacking a clear research application. It therefore does not satisfy the [requirements for submission to JOSS](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) and is presently not suitable for publication

[2020-06-22 11:20] eloisabentivegna commented on #2346
@whedon reject

[2020-06-22 11:20] whedon commented on #2346
I'm sorry @eloisabentivegna, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-06-22 11:22] eloisabentivegna commented on #2346
@Kevin-Mattheus-Moerman, can you help?

[2020-06-22 11:32] leomrtns commented on #2271
@will-rowe I guess you sorted it out? in any case if you need me, just let me know. cheers

[2020-06-22 11:33] will-rowe commented on #2271
I did - thanks @leomrtns!

[2020-06-22 11:42] sjpfenninger commented on #2034
@YoungFaithful @katyhuff I've ticked all boxes now, apologies for the oversight. Nothing more from my side!

[2020-06-22 11:44] sjpfenninger commented on #2171
@gschivley @coroa Can I follow up here again -- are you able to finish up your reviews?

[2020-06-22 11:47] mikldk commented on #2306
@whedon check repository

[2020-06-22 11:47] whedon commented on #2306
[code]

[2020-06-22 11:57] danielskatz commented on #2346
@eloisabentivegna  - you should tag @openjournals/joss-eics for this to get the on-duty person each week, but I'll take care of it.

[2020-06-22 11:57] danielskatz commented on #2346
@whedon reject

[2020-06-22 11:57] whedon commented on #2346
Paper rejected.

[2020-06-22 11:57] #2346 closed

[2020-06-22 12:05] khinsen commented on #2284
I'd put the explanation in the "parametrization" section, and then put a link on the word "grid" in the getting started guide, and also in the README.

As for the contents of that explanation... I don't know, that's why I am asking! I doubt it requires any reference to machine learning libraries, parameter grids have been used for decades in other applications. What I'd like to see is a descriptio

[2020-06-22 13:28] oliviaguest commented on #2339
Can @emptymalei and @mstimberg give me a rough ETA on their reviews please? ☺️

[2020-06-22 13:30] oliviaguest commented on #2348
Can @samhforbes, @szorowi1, and @tjmahr give me a rough ETA on their reviews please? ☺️

[2020-06-22 13:31] oliviaguest commented on #2339
Oh, @emptymalei can you link to issues you open in the code repo here, please? Thank you! 😊

So far we have:

* https://github.com/berenslab/MorphoPy/issues/105
* https://github.com/berenslab/MorphoPy/issues/104

👍

[2020-06-22 13:37] oliviaguest commented on #2340
Can @craddm and @anibalsolon give me a rough ETA on their reviews please? ☺️

[2020-06-22 13:38] oliviaguest commented on #2201
@whedon start review

[2020-06-22 13:38] whedon opened #2377 "[REVIEW]: Automated Sleep Stage Scoring Using k-Nearest Neighbors Classifier"
**Submitting author:** @teamPSG (<a href="http://orcid.org/0000-0001-6360-0714">Tamas Kiss</a>)
**Repository:** <a href="https://github.com/teamPSG/kNN_Sleep_Scorer_kNNSS" target ="_blank">https://github.com/teamPSG/kNN_Sleep_Scorer_kNNSS</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewers:** @Emma-k-ward, @sbuergers, @Trisbek, @samikakumar
**Archive:** <a href="https://doi.org/10.5281/ze

[2020-06-22 13:38] whedon commented on #2201
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2377.

[2020-06-22 13:38] #2201 closed

[2020-06-22 13:38] whedon commented on #2377
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Emma-k-ward, @sbuergers it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-06-22 13:39] oliviaguest commented on #2201
👋  @Emma-k-ward and @sbuergers please head on over to #2377 for the review itself. 😄

[2020-06-22 13:40] whedon commented on #2377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02377/joss.02377/10.21105.joss.02377.pdf)

[2020-06-22 13:41] oliviaguest commented on #2377
Hey @Emma-k-ward and @sbuergers, this is where the main review occurs, if you need to open something very technical as an issue please do so as an issue at the original repo but all other comments — so most, if not all, of the review — should be here. Hope this is all clear but please ask me any questions you may have! ☺️

[2020-06-22 13:48] mstimberg commented on #2339
@oliviaguest I hope to do it before the end of the week :alarm_clock:

[2020-06-22 14:06] kthyng commented on #2172
Ok all, it looks to me like @martibosch has addressed concerns from @rmsare.

@JeffWalton-PSC can you confirm if your review is complete and you recommend publication?

[2020-06-22 14:10] kthyng commented on #2018
Note for reference: just reached out to @ysimillides by email to confirm.

[2020-06-22 14:14] erikcs commented on #2232
@arfon A version 1.0 version of the [package](https://github.com/grf-labs/policytree/pull/35) with the enhancements arising from this review (and some earlier fixes) is published on [CRAN](https://cran.r-project.org/web/packages/policytree/index.html) now.

The Zenodo archive is here: https://zenodo.org/record/3903401

[2020-06-22 14:18] arfon commented on #2232
@erikcs - thanks for this. One small request, please use a Zenodo-issued DOI for your deposit with them. You've currently got the _JOSS_ DOI listed as the DOI but this won't work:

<img width="373" alt="Screen_Shot_2020-06-22_at_10_16_48_AM" src="https://user-images.githubusercontent.com/4483/85298089-a4f44f00-b471-11ea-9f24-de92f8a01a39.png">

[2020-06-22 14:27] hrwakeford commented on #2281
The reference to Claret 2000 has two sources an A&A paper and a catalog in VizieR
Paper - https://ui.adsabs.harvard.edu/abs/2000A%26A...363.1081C/abstract
VizieR - http://vizier.u-strasbg.fr/viz-bin/VizieR?-source=J/A+A/363/1081

The Sherpa package lists the following link as having the correct DOI for citation but I struggled to navigate to where that might be but this is where to start
https://z

[2020-06-22 14:41] erikcs commented on #2232
@arfon Here is a new Zenodo archive with their generated DOI: https://zenodo.org/record/3903433 (I have asked them to delete the first submission).

[2020-06-22 14:44] khinsen commented on #2318
@harpolea I did a first pass looking at the code and the paper. It was a lot of fun: this is a very nice implementation of hydrodynamic and phoretic interactions which invites users to play with it, in particular by including visualization tools, and that is just great for doing research. The next time I do work in this domain, I'll happily abandon [my own 25-year-old Fortran library](https://gith

[2020-06-22 14:46] Yomguithereal commented on #2327
Hello everyone, sorry for the delay.

I have an extensive bibliography [here](https://github.com/Yomguithereal/talisman/blob/master/paper/paper.bib) but I did not find how to automatically generate it under the `References` section of the abstract. Should I only pick a limited amount?

Also, regarding links to similar software endeavors can I just edit my repo and then ping you when this is done?

[2020-06-22 14:54] lorenanicole commented on #2316
@Chilipp just checking in to confirm if you need anything at the moment!

[2020-06-22 14:56] lorenanicole commented on #2220
@albertmeronyo 👋 ! Do you had another reviewer recommendation? It appears @JanWielemaker may not have bandwidth to be a reviewer.

[2020-06-22 14:57] kbarnhart commented on #2197
@muszyna25 thanks for the response and for recommending other reviewers. @taobrienlbl thanks also for your response.

[2020-06-22 14:57] khinsen commented on #2318
Contribution guidelines were just added!

[2020-06-22 14:58] kbarnhart commented on #2197
👋 @ajdawson @doutriaux1 @jwblin @burlen you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This submission is "IPART: A Python Package for Image-Processing based Atmospheric River Tracking" by Guangzhi Xu, Xiaohui Ma and Ping Chang

This is a pre-

[2020-06-22 15:01] kbarnhart commented on #2292
@katmratliff @nickrsan, @jrkasprzyk, @dickinsonre

I wanted to check in and see how things were going with this review, and to answer any questions if you have them. As mentioned above, JOSS is presently requesting reviewers complete their reviews in six weeks (a bit more than three weeks from now).

[2020-06-22 15:01] bmcfee commented on #2261
@whedon add @w4ngatang as reviewer

[2020-06-22 15:01] harpolea commented on #2318
@khinsen Thank you for your review!

As you probably read, the JOSS reviewer criteria for testing can be found [here](https://joss.readthedocs.io/en/latest/review_criteria.html#tests). While not required, it is strongly encouraged that some kind of automated testing suite is set up to test the functionality of the code.

As you said, testing codes such as these can be tricky. I am not that familia

[2020-06-22 15:01] whedon commented on #2261
OK, @w4ngatang is now a reviewer

[2020-06-22 15:06] rajeshrinet commented on #2318
@khinsen and @harpolea there are some tests, which run every time someone pushes to the repo (it runs four tests and checks all the notebooks). the folder contains tests is somewhat hidden: pystokes/tests: https://github.com/rajeshrinet/pystokes/tree/master/pystokes/tests

It does the test of [Stoke's law](https://en.wikipedia.org/wiki/Stokes%27_law) for rotation and translation in an unbounded do

[2020-06-22 15:07] arfon commented on #2232
@whedon set 10.5281/zenodo.3903433 as archive

[2020-06-22 15:07] whedon commented on #2232
OK. <a href="https://doi.org/10.5281/zenodo.3903433" target="_blank">10.5281/zenodo.3903433</a> is the archive.

[2020-06-22 15:12] blsqr commented on #2316
@whedon generate pdf from branch add-joss-paper

Re-generating the article proof to address the reference issue ([#175](https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro/-/issues/175)) and include the improvements to `paper.md` @mdpiper suggested in [#176](https://ts-gitlab.iup.uni-heidelberg.de/utopia/dantro/-/issues/176). Thanks for both!

[2020-06-22 15:12] whedon commented on #2316
[code]

[2020-06-22 15:13] whedon commented on #2316
PDF failed to compile for issue #2316 with the following error:

 error: pathspec 'add-joss-paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-06-22 15:13] arfon commented on #2232
@whedon accept from branch oss-paper

[2020-06-22 15:13] whedon commented on #2232
[code]

[2020-06-22 15:14] blsqr commented on #2316
@whedon generate pdf from branch add-joss-paper

[2020-06-22 15:14] whedon commented on #2316
[code]

[2020-06-22 15:14] whedon commented on #2232
[code]

[2020-06-22 15:15] whedon commented on #2232
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1511

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1511, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-22 15:16] whedon commented on #2316
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02316/joss.02316/10.21105.joss.02316.pdf)

[2020-06-22 15:16] arfon commented on #2232
@whedon accept deposit=true from branch oss-paper

[2020-06-22 15:16] whedon commented on #2232
[code]

[2020-06-22 15:17] whedon commented on #2232
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1275085593433735170) 👈 🐦🐦🐦

[2020-06-22 15:17] whedon commented on #2232
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1512
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02232](https://doi.org/10.21105/joss.02232)
2. If everything looks g

[2020-06-22 15:20] arfon commented on #2232
@nhejazi, @jjharden - many thanks for your reviews here ✨

@erikcs - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-06-22 15:20] #2232 closed

[2020-06-22 15:20] whedon commented on #2232
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02232/status.svg)](https://doi.org/10.21105/joss.02232)

**We need your help!**

Journal of Open Source Softwa

[2020-06-22 15:24] erikcs commented on #2232
Thank you @arfon for your editorial work, and thank you @jjharden and @nhejazi for improving the package.

[2020-06-22 15:27] Chilipp commented on #2316
@lorenanicole, it's all fine. Apologies for the delay. A few urgent things came in today and will take most of the week. So I'll probably won't be able to do the review before Monday next week.

[2020-06-22 15:28] lorenanicole commented on #2316
Totally understandable! Thank you for the update 🙇‍♀️ , I'll circle back in about a week.

[2020-06-22 15:29] PeerHerholz commented on #2277
Hi @richardjgowers,

I just did the first round of my review. I want to provide precise feedback to the authors regarding the points I did not check and thus need to be addressed in my opinion. This should be done here, correct?

[2020-06-22 15:31] rpodgorney commented on #2176
Sorry for letting this slip.  All in all no issues at all, the code, tests, and documentation are al superb.

The paper is well written and contains just the right amount of details without becoming overly verbose.

[2020-06-22 15:36] rpodgorney commented on #2176
@arfon this is my first review for JOSS.  I've looked through the code, documentation, and tests -- and feel it is OK to publish.  Other than the checklist, is there anything else I need to do to complete/document my approval?

[2020-06-22 15:37] richardjgowers commented on #2277
Sure or raise them as issues on the repo if that’s more appropriate.

On Mon, Jun 22, 2020 at 16:30, Peer Herholz <notifications@github.com>
wrote:

[2020-06-22 15:42] arfon commented on #2176
Nope, that's it. Over to @jedbrown to decide on next steps.

[2020-06-22 15:43] adithirgis commented on #2250
@whedon generate pdf

[2020-06-22 15:44] whedon commented on #2250
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02250/joss.02250/10.21105.joss.02250.pdf)

[2020-06-22 15:46] tomsing1 commented on #2294
@mikldk I am happy to review.

[2020-06-22 15:48] ivalaginja commented on #2281
You're right about Sherpa, however this is only for the package itself, for which we already added the DOI; what's missing is the DOI for the paper they want us to cite.

As for Claret, it really seems like there's no DOI to be found :P

[2020-06-22 15:50] mattpitkin commented on #2281
I've checked my last tick box, so my sign off is complete.

[2020-06-22 15:54] hayesla commented on #2281
my apologies for my delay - I will work on this today!

[2020-06-22 16:00] anibalsolon commented on #2340
Hi @oliviaguest , my ETA is at most this Wednesday, Jun 24!

[2020-06-22 16:03] craddm commented on #2340
@oliviaguest It's next on my list of reviews. will at least start by this Thursday.

[2020-06-22 16:08] rajeshrinet commented on #2318
I have now added one more test: compare mobility of a sedimenting lattice with known results in literature (Zick and Homsy, 1982) and moved `tests`  at start of folder tree.

[2020-06-22 16:33] vsoch commented on #2284
Sounds good! Here is a PR with the suggested changes https://github.com/vsoch/gridtest/pull/36.

[2020-06-22 16:39] jizecn commented on #2259
@mjsottile Hi, I was trying to review the work, but could not click the checklist buttons above.
I got the error of _"Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."_.
Can you check please? Thanks.

[2020-06-22 16:43] wilsonrljr commented on #2191
@whedon generate pdf

[2020-06-22 16:44] whedon commented on #2191
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02191/joss.02191/10.21105.joss.02191.pdf)

[2020-06-22 16:46] danielskatz commented on #2259
@whedon re-invite @jizecn as reviewer

[2020-06-22 16:46] whedon commented on #2259
OK, the reviewer has been re-invited.

@jizecn please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-22 16:50] wilsonrljr commented on #2191
@whedon  generate pdf

[2020-06-22 16:50] whedon commented on #2191
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-22 16:51] wilsonrljr commented on #2191
@whedon generate pdf

[2020-06-22 16:52] whedon commented on #2191
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02191/joss.02191/10.21105.joss.02191.pdf)

[2020-06-22 16:56] wilsonrljr commented on #2191
No problems, @dpsanders . The error must be fixed now. I also fixed two symbols (missing backslash) and removed two repeated words on paper.

[2020-06-22 16:57] chennachaos commented on #2121
Hi @Kevin-Mattheus-Moerman
My sincere apologies for not being able to help with this. I do not like to hold the review process. I have no objections if you would like to proceed without my comments this time.

[2020-06-22 17:00] srmnitc commented on #2121
@Kevin-Mattheus-Moerman Sorry for the delay from my part. I got caught in some other issues. I can try to complete the review in the next couple of days.

[2020-06-22 17:42] vijaysm commented on #1906
@melissawm @arfon I have reviewed the software, repository, verified functionality and the accompanying article. I recommend the acceptance of the paper and publication in JOSS. I think this will be a useful toolbox for tackling matrices with a hierarchical structure as the authors have clearly pointed out applications and research areas where they are already being used.

Some suggestion and comm

[2020-06-22 17:47] arfon commented on #1906
👍 thanks @vijaysm! @klho - please let us know when you've had a chance to incorporate @vijaysm's feedback.

[2020-06-22 17:48] arfon commented on #2049
:wave: @zbeekman - just checking in again here to see if you might be able to complete your review in the next few days?

[2020-06-22 17:49] arfon commented on #2062
:wave: @cscherrer - just checking in to see how things are going here?

[2020-06-22 18:12] emptymalei commented on #2339
@oliviaguest
I have tested most of the functions. Will finish this by the end of the week, too.

[2020-06-22 18:38] cadop commented on #2211
@whedon generate pdf

[2020-06-22 18:39] whedon commented on #2211
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02211/joss.02211/10.21105.joss.02211.pdf)

[2020-06-22 18:56] whedon opened #2378 "[PRE REVIEW]: Caliban: Docker-based job manager for reproducible workflows"
**Submitting author:** @sritchie (<a href="http://orcid.org/0000-0002-0545-6360">Sam Ritchie</a>)
**Repository:** <a href="https://github.com/google/caliban" target ="_blank">https://github.com/google/caliban</a>
**Version:** 0.2.5
**Editor:** @diehlpk
**Reviewers:** @lukasheinrich, @arokem
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2020-06-22 18:56] whedon commented on #2378
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-22 18:56] whedon commented on #2378
[code]

[2020-06-22 18:56] whedon commented on #2378
[code]

[2020-06-22 18:57] whedon commented on #2378
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02378/joss.02378/10.21105.joss.02378.pdf)

[2020-06-22 18:58] arfon commented on #2378
:wave: @sritchie - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS last month we've had a very large number of papers submitted and as such, yours has bee

[2020-06-22 18:59] arfon commented on #2378
Also, while we're waiting for an editor to be assigned, you might want to look at fixing up your citations - the BibTeX key you're using in your `paper.md` seem to be different from the entries in your `paper.bib`.

You can ask Whedon to regenerate the paper proof with the command `@whedon generate pdf`

[2020-06-22 19:48] sritchie commented on #2378
Thanks for the note, @arfon! This was a bibtex misunderstanding on my part, as I'm sure you guessed. Let's try this again.

[2020-06-22 19:49] sritchie commented on #2378
@whedon generate pdf

[2020-06-22 19:49] whedon commented on #2378
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02378/joss.02378/10.21105.joss.02378.pdf)

[2020-06-22 21:43] emptymalei commented on #2339
It's done on my side. 😸

[2020-06-22 23:24] gassmoeller commented on #2313
@peanutfun,
I have finished my review of DORiE and think it will make a fine publication in JOSS. You follow best practices and the application is well documented. I agree with @pratikvn that a script that simplifies the installation and a spack recipe would be beneficial, although not absolutely necessary.

I found no major obstacles to publication, but would like to make two suggestions and have

[2020-06-23 00:29] modenaxe commented on #2323
Hi @Kevin-Mattheus-Moerman, I won't be able to help with this submission, I am on annual leave. [Dimitar](https://github.com/mitkof6) could be a potential good alternative reviewer.

[2020-06-23 00:59] karthik commented on #2019
@whedon assign @karthik as reviewer

[2020-06-23 01:00] whedon commented on #2019
OK, @karthik is now a reviewer

[2020-06-23 01:00] karthik commented on #2019
@whedon add @njtierney  as reviewer

[2020-06-23 01:00] whedon commented on #2019
OK, @njtierney  is now a reviewer

[2020-06-23 01:00] karthik commented on #2019
@whedon start review

[2020-06-23 01:00] whedon opened #2379 "[REVIEW]: Akmedoids R package for generating directionally-homogeneous clusters of longitudinal data sets"
**Submitting author:** @MAnalytics (<a href="http://orcid.org/0000-0002-9006-4934">Monsuru Adepeju</a>)
**Repository:** <a href="https://github.com/MAnalytics/akmedoids" target ="_blank">https://github.com/MAnalytics/akmedoids</a>
**Version:** v2.0.0
**Editor:** @karthik
**Reviewer:** @karthik, @njtierney
**Archive:** <a href="https://doi.org/10.5281/zenodo.4294266" target="_blank">10.5281/zenodo.

[2020-06-23 01:00] whedon commented on #2019
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2379.

[2020-06-23 01:00] #2019 closed

[2020-06-23 01:00] whedon commented on #2379
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik, @njtierney  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-06-23 01:01] whedon commented on #2379
[code]

[2020-06-23 01:01] whedon commented on #2379
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf)

[2020-06-23 01:01] karthik commented on #2379
@whedon generate pdf

[2020-06-23 01:02] whedon commented on #2379
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf)

[2020-06-23 01:23] mdpiper commented on #2316
Both issues I posted upthread have been addressed by @blsqr.

[2020-06-23 02:17] dpsanders commented on #2191
👋 Hi @Shibabrat and @dawbarton. Would either of you be willing and able to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks!

[2020-06-23 02:20] dpsanders commented on #2224
👋 @moorepants, @alex-konovalov and @henrik227, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks!

[2020-06-23 02:23] dpsanders commented on #2355
@arfon I volunteer to edit this submission.

[2020-06-23 02:24] dpsanders commented on #2355
Guess that message should have been directed to @Kevin-Mattheus-Moerman, sorry.

[2020-06-23 02:37] gschivley commented on #2171
@arfon and @sjpfenninger COVID and kids at home threw my schedule for a loop but I'm prioritizing this now. Writing up notes on issues I've found with docs and tests right now. Do I include those here or open new issues in the OpenOA repo?

[2020-06-23 03:32] pythonpanda2 commented on #1942
https://github.com/benjaminbolling/DynaGUI/issues/3#issuecomment-647886871

[2020-06-23 04:42] khinsen commented on #2318
@rajeshrinet I had indeed overlooked the tests! Thanks for making them more visible. And yes, the old Zick/Homsy paper makes for a nice test based on well-known results. Could you add instructions to the README for how to run the tests? That would also ensure their visibility.

[2020-06-23 04:54] dhhagan commented on #2256
@garrettj403 and @katyhuff do you have the bandwidth to review this manuscript?

[2020-06-23 04:59] adithirgis commented on #2250
@whedon generate pdf

[2020-06-23 05:00] whedon commented on #2250
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02250/joss.02250/10.21105.joss.02250.pdf)

[2020-06-23 06:33] mikldk commented on #2294
@rcannood: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-06-23 06:58] snowformatics commented on #2259
Dear reviewers @phckopper, @jizecn, @SirSharpest

I uploaded an image test datasets which could be downloaded manually and used with the software. Please unzip the file and use the data folder as main entry for the software, e.g.
`-s C:\Users\name\Desktop\data\ -d C:\Users\name\Desktop\out\ -p mildew`

The folder structure should look like this (it's a bit complex because we use the software in ba

[2020-06-23 07:30] hugoledoux commented on #2372
@rram84 I am working on the review and I opened a few issues in your repository for the cmake dependencies (https://bitbucket.org/rram/dvrlib/issues/1/), and the fact that the unit tests are not compiling for me (https://bitbucket.org/rram/dvrlib/issues/2/).

Also, I spotted a few typos and things that could be improved in the paper, simpler to just give you my handwritten notes: https://hugoledou

[2020-06-23 07:31] nickrsan commented on #2292
Thanks for checking in with us - the review is going well so far - I'll try to have mine finished soon so it doesn't linger! Installed just fine, but I need to do the rest of the testing with it.

[2020-06-23 07:49] rajeshrinet commented on #2318
@khinsen I have now added it to the README. Thanks for this suggestion.

[2020-06-23 08:15] hugoledoux commented on #2372
## Community guidelines

While there is a section about contribution deep inside the docs (https://rram.bitbucket.io/dvr-docs/html/contributing.html), maybe better to add a file `CONTRIBUTING.md` to the root of the repository? This is more standard in my opinion.

[2020-06-23 08:19] hugoledoux commented on #2372
## State of the field

In the paper, there is not really links to other similar software. Also, in the docs there is a nice summary of what your software is *not*, and that should be added I reckon.

    DVRlib is not a mesh generator, but can be coupled to one.
    DVRlib is not a tool for adaptive mesh refinement, but can improve an adaptively refined mesh.
    DVRlib is not a mesh untangling to

[2020-06-23 08:25] tabe commented on #2331
@whedon generate pdf

[2020-06-23 08:25] hugoledoux commented on #2305
@fbiljecki I see you ticked several checkboxes above, but not all. If you haven't done some yet it's fine, but if you have questions or think the software/docs should be modified, the idea is that you state so here in a new comment. If it's something complex you can open a new issue in the repo of the project and put a link here too.

[2020-06-23 08:26] whedon commented on #2331
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02331/joss.02331/10.21105.joss.02331.pdf)

[2020-06-23 08:36] hugoledoux commented on #2272
👋 @appelmar @gena @jhollist I was wondering if you need any help/instructions at this point or if I can help?

[2020-06-23 08:48] tabe commented on #2331
Dear @mstimberg,

I've mentioned the physiome.jp project and related tools in the last revision of paper.md.
Confirmed their sites are out of reach now, I'm not sure when they will come back though.

I'm going to reconsider the examples in the user guide, and include the model files in the distribution, too.

I will update the user guide in order to include descriptions specific to CentOS/RHEL.
Th

[2020-06-23 09:01] dawbarton commented on #2191
Yes, I'd be willing to. I've worked a little with NARMAX models in the past.

[2020-06-23 09:38] Kevin-Mattheus-Moerman commented on #2121
@srmnitc thanks for your reply. We look forward to your contribution.

[2020-06-23 09:40] Kevin-Mattheus-Moerman commented on #2121
@chennachaos these are challenging times. Many reviews are going faster than general. We appreciate all review efforts even more than usually. You are by no means delaying this review as we are also awaiting the contributions from other reviewers. Your views remain valuable so if you are able we will continue to welcome your side of this review. Thanks!

[2020-06-23 10:26] arfon commented on #2355
@whedon assign @dpsanders as editor

[2020-06-23 10:26] whedon commented on #2355
OK, the editor is @dpsanders

[2020-06-23 10:26] arfon commented on #2355
Thanks @dpsanders - you can always grab the paper yourself with `@whedon assign me as editor`

[2020-06-23 10:29] arfon commented on #2171
Please open issues in the OpenOA repo but mention this thread (https://github.com/openjournals/joss-reviews/issues/2171) in the comment which will cross link them for visibility.

[2020-06-23 10:32] JonasRieger commented on #2181
short note: I will be on vacation for one week starting saturday 27th.

[2020-06-23 10:48] arfon commented on #2349
@EricaEgg - do you believe this will affect your ability to give an impartial review? If not, please proceed :-)

[2020-06-23 12:02] danielskatz commented on #2360
👋 @adbar - Can you confirm that you've seen the requests to you?  And when do you think you might have an updated paper ready, along with reviewer suggestions?

[2020-06-23 12:14] jhollist commented on #2272
@hugoledoux  thanks for the reminder on this.  I am all set, just need to clone myself!  Hoping to work on the review this week.

[2020-06-23 12:19] arfon commented on #2327
@Yomguithereal - You need to cite them directly please for them to be rendered into the document (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html)).

[2020-06-23 12:23] danielskatz commented on #2327
And just to add, JOSS does not publish papers that are surveys, so the bibliography (and ideally the .bib file due to a limitation in our tooling) should only contain items that are referenced in the paper.

[2020-06-23 12:56] xuanxu commented on #2330
@jessie-dotson would you be willing to review this paper? I think your knowledge on exoplanets and Python makes you a great fit for this submission.

[2020-06-23 12:57] xuanxu commented on #2330
@eschnett would you be willing to review this paper? I think your knowledge of astrophysics and C/Python makes you a great fit for this submission.

[2020-06-23 12:59] gena commented on #2272
Same here. I will write a review over the weekend or beginning of the next week.

[2020-06-23 13:07] Yomguithereal commented on #2327
All the references existing in the .bib files are papers describing methods actually implemented by the library. So do you agree I should list every reference in the abstract under `References` then? If so I will probably create a script to do so if such script does not already exist.

[2020-06-23 13:07] arfon commented on #2359
@whedon invite @jgostick as editor

:wave: @jgostick - would you be able to take on this submission?

[2020-06-23 13:07] whedon commented on #2359
@jgostick has been invited to edit this submission.

[2020-06-23 13:08] waxlamp commented on #2358
Hi @arfon, thanks for your help!

The submission instructions had me suggest one reviewer from the list: Lorena Pantano seemed like a good fit for our paper.

[2020-06-23 13:09] arfon commented on #2354
@whedon check repository

[2020-06-23 13:12] arfon commented on #2358
@whedon invite @lpantano as editor

:wave: @lpantano - would you be able to take on this submission for us?

[2020-06-23 13:12] whedon commented on #2358
@lpantano has been invited to edit this submission.

[2020-06-23 13:18] danielskatz commented on #2327
In my opinion, if you describe the method in the paper, it would be reasonable to cite a reference for that method.  The best thing to do is to look at your paper, and decide where you need to place citations to references, then to include those references in the .bib file.  Pandoc as called by whedon will then build the reference list in the pdf.

[2020-06-23 13:21] Shibabrat commented on #2191
Hi @dpsanders, yes, I'm willing to review as a non-expert in the system identification who works with nonlinear dynamical systems in general.

[2020-06-23 13:30] Yomguithereal commented on #2327
The paper does not describe a specific method but rather explains the scope and stake of the library as an aggregation of implementations of various fuzzy matching etc. methods. The lib implements a large amount of different methods/functions etc. which are nearly exhaustively referenced by papers, collected in the current bibliography. So I guess I am misunderstanding the framing the paper should

[2020-06-23 13:31] appelmar commented on #2272
Same here, too. I'll finish the review next week at the latest.

[2020-06-23 13:34] hugoledoux commented on #2184
@flammie - I'm going to mark this review as paused for now as it sounds like there's a non-trivial amount of work for you to complete before the reviewers can get started. Please let me know when you're ready to continue and I will then remove the paused label.

[2020-06-23 13:44] jordanperr commented on #2171
Hi all - Both of these issues have been fixed already in the develop branch. However, we are in the middle of a push for a new release, so develop is now incoherent in other ways. I don't think it's worth it to back-port these PRs into the joss-paper branch yet. Instead, I will perform the merge after the release (probably ~2-3 weeks out).

Is this acceptable to the reviewers?

[2020-06-23 13:55] hugoledoux commented on #2272
@whedon add @gena as reviewer

[2020-06-23 13:55] whedon commented on #2272
OK, @gena is now a reviewer

[2020-06-23 14:01] eschnett commented on #2330
@xuanxu This paper is outside my expertise – I know next to nothing about exoplanet discovery and the methods and algorithms used there.

[2020-06-23 14:31] lpantano commented on #2358
@whedon assign @lpantano as reviewer

[2020-06-23 14:32] lpantano commented on #2358
@whedon assign @lpantano as editor

[2020-06-23 14:32] whedon commented on #2358
OK, the editor is @lpantano

[2020-06-23 14:33] lpantano commented on #2358
@whedon check references

[2020-06-23 14:34] jgostick commented on #2359
@whedon assign @jgostick as editor

[2020-06-23 14:34] whedon commented on #2359
OK, the editor is @jgostick

[2020-06-23 14:34] garrettj403 commented on #2256
Hi @dhhagan, unfortunately I don't have any time right now. Looks like an interesting project!

[2020-06-23 15:12] danielskatz commented on #2327
I think my answer is yes.  An academic paper on scikit-learn might go into a lot of detail about all the methods, with citations to references for each method, but this is probably not appropriate for a JOSS paper.

See https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain for guidance on what a JOSS paper should contain.

[2020-06-23 15:21] lpantano commented on #2358
@whedon commands

[2020-06-23 15:21] whedon commented on #2358
Here are some things you can ask me to do:

[code]

[2020-06-23 15:23] lpantano commented on #2358
@whedon check references

[2020-06-23 15:28] davidbeckingsale commented on #2352
@diehlpk - I don't feel that the paper addresses the following review point: "State of the field: Do the authors describe how this software compares to other commonly-used packages?"

Could you please add a brief overview of related work and compare hpx to these other packages?

[2020-06-23 15:31] sritchie commented on #2378
terrytangyuan seemed like he might be an excellent reviewer, or arokem, given their interest in machine learning tooling.

[2020-06-23 15:42] katyhuff commented on #2256
I can review it this weekend, but not sooner (and maybe not later). If that works, @dhhagan , please count me in.

[2020-06-23 15:46] dhhagan commented on #2256
@katyhuff thank you! Sounds great. @whedon assign @katyhuff as reviewer

[2020-06-23 15:49] YoungFaithful commented on #2034
@katyhuff, thanks for looking over the paper one more time. Looking forward to your feedback.
@sjpfenninger and @ali-ramadhan thank you both for your helpful feedback and improvements!

[2020-06-23 15:54] danielskatz commented on #2256
@dhhagan - whedon commands need to be the first thing in a comment

[2020-06-23 16:01] jessie-dotson commented on #2330
Sure. I’d be happy to.

________________________________
On: 23 June 2020 05:56, "Juanjo Bazán" <notifications@github.com<mailto:notifications@github.com>> wrote:

@jessie-dotson<https://urldefense.proofpoint.com/v2/url?u=https-3A__github.com_jessie-2Ddotson&d=DwMCaQ&c=ApwzowJNAKKw3xye91w7BE1XMRKi2LN9kiMk5Csz9Zk&r=EsjtQGK5vNxVnulnNG39CtrT0PFIQKgMF4MiHg-NSFI&m=_73QTl0xvpO5aQe21GhuZn8-6JZJP2EHCg-VLJ

[2020-06-23 16:01] dhhagan commented on #2256
@danielskatz Thanks for the info!

[2020-06-23 16:02] dhhagan commented on #2256
@whedon assign @katyhuff as reviewer

[2020-06-23 16:02] whedon commented on #2256
OK, @katyhuff is now a reviewer

[2020-06-23 16:05] klho commented on #1906
@whedon generate pdf

[2020-06-23 16:05] whedon commented on #1906
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01906/joss.01906/10.21105.joss.01906.pdf)

[2020-06-23 16:14] dhhagan commented on #2256
@kczimm @IgorBaratta @pdebuyl are one of you available and interested in completing this review?

[2020-06-23 16:24] xuanxu commented on #2330
@jessie-dotson: Great, thanks! Once I have the second reviewer I'll start a new issue where the actual review will take place. Stay tuned!

[2020-06-23 16:27] EricaEgg commented on #2349
Thanks @arfon, it will not. I am happy to review.

[2020-06-23 16:31] mbobra commented on #2125
@danhey I cannot reach @DingXuefeng, so I will review. I'll work on this today and can hopefully finish by tomorrow.

[2020-06-23 16:32] mbobra commented on #2125
@whedon remove @DingXuefeng as reviewer

[2020-06-23 16:32] whedon commented on #2125
OK, @DingXuefeng is no longer a reviewer

[2020-06-23 16:32] mbobra commented on #2125
@whedon add @mbobra as reviewer

[2020-06-23 16:32] whedon commented on #2125
OK, @mbobra is now a reviewer

[2020-06-23 16:35] xuanxu commented on #2330
@christinahedges: would you be willing to review this paper? Your expertise with exoplanets and Python would come in handy.

[2020-06-23 16:39] christinahedges commented on #2330
Hi @xuanxu I'm not able to review this at the moment, but please keep me in mind for the next paper!

[2020-06-23 16:43] klho commented on #1906
@vijaysm Thanks for the feedback; please see my responses below:

1. I've added a brief paragraph highlighting some numerical examples. I'm hesitant to put much more in the paper since I'd like to keep it light and avoid having to give too much background explanation. (Many) more details can be found in the cited papers.

2. This is quite reasonable but unfortunately might not doable. I don't have

[2020-06-23 16:52] mdpiper commented on #2316
Hi @lorenanicole, I've finished my review. I'd like to recommend the paper for publication.

@blsqr I enjoying learning about `dantro`. It's a tool I could see using in my work. I especially appreciate that it works out of the box with netCDF files that use the netCDF-4 data model (built on HDF5).

[2020-06-23 16:53] mbobra commented on #2167
@SuperKogito I am going to pause this review. Pausing a review doesn't indicate anything negative -- it just tells the Editorial Board not to get worried that this review is taking longer than usual. Once you're done modifying the package, let me know here on this thread and I'll un-pause the submission.

[2020-06-23 17:07] chennachaos commented on #2121
Thank you very much for your positive comments, @Kevin-Mattheus-Moerman.
I shall try to provide my feedback in a couple of weeks.

[2020-06-23 17:21] xuanxu commented on #2330
@barentsen: would you be willing to review this paper? I think your expertise with exoplanets and Python makes you a great fit for this submission.

[2020-06-23 17:25] whedon opened #2380 "[PRE REVIEW]: Sit2StandPy: An Open-Source Python Package for Detecting and Quantifying Sit-to-Stand Transitions Using an Accelerometer on the Lower Back'"
**Submitting author:** @LukasAdamowicz (<a href="http://orcid.org/0000-0001-6992-9545">Lukas Adamowicz</a>)
**Repository:** <a href="https://github.com/PfizerRD/sit2standpy" target ="_blank">https://github.com/PfizerRD/sit2standpy</a>
**Version:** v1.0.0
**Editor:** @galessiorob
**Reviewers:** @jsgalan, @gweissman
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2020-06-23 17:25] whedon commented on #2380
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-23 17:25] whedon commented on #2380
[code]

[2020-06-23 17:26] whedon commented on #2380
[code]

[2020-06-23 17:26] whedon commented on #2380
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02380/joss.02380/10.21105.joss.02380.pdf)

[2020-06-23 17:27] arfon commented on #2380
:wave: @LukasAdamowicz - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as suc

[2020-06-23 18:21] barentsen commented on #2330
@xuanxu Happy to help! :+1:

[2020-06-23 18:28] giswqs commented on #2305
@fbiljecki Thank you very much for taking the time to review the repo! Regarding the two unchecked items:

- **Performance**: There are no performance claims of the package.
- **Automated tests**: I have some automated tests in [tests/test_geemap.py](https://github.com/giswqs/geemap/blob/master/tests/test_geemap.py) as well as [py-check.yaml](https://github.com/giswqs/geemap/blob/master/.github/wo

[2020-06-23 18:49] jgostick commented on #2240
Hi @KedoKudo, do you need any help getting going on your review?  I'm still looking for a second reviewer to add, but you can get started.

[2020-06-23 18:56] arfon commented on #2240
@jgostick - if you'd like to start the review with one reviewer (which is fine as long is there is a second one later), you should probably move this forward to the review stage where @KedoKudo will have a checklist and guidelines to work through. You can do this with `@whedon start review`

[2020-06-23 19:04] jgostick commented on #2240
@whedon start review

[2020-06-23 19:04] whedon opened #2381 "[REVIEW]: xrdfit: A Python package for fitting synchrotron X-ray diffraction spectra"
**Submitting author:** @merrygoat (<a href="http://orcid.org/0000-0002-5430-6924">Peter Crowther</a>)
**Repository:** <a href="https://github.com/LightForm-group/xrdfit" target ="_blank">https://github.com/LightForm-group/xrdfit</a>
**Version:** v1.1.2
**Editor:** @jgostick
**Reviewers:** @KedoKudo, @mikapfl
**Archive:** <a href="https://doi.org/10.5281/zenodo.3997251" target="_blank">10.5281/zeno

[2020-06-23 19:04] whedon commented on #2240
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2381.

[2020-06-23 19:04] #2240 closed

[2020-06-23 19:04] whedon commented on #2381
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @KedoKudo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-06-23 19:04] whedon commented on #2381
[code]

[2020-06-23 19:05] whedon commented on #2381
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02381/joss.02381/10.21105.joss.02381.pdf)

[2020-06-23 19:09] arfon commented on #2381
@jgostick - you can add a new reviewer here (when you've identified one) with `@whedon add @reviewer2 as reviewer`. Unfortunately you'll need to do a small amount of manual work to add a checklist for the second reviewer (Whedon doesn't know how to do this yet). Any issues, let me know :-)

[2020-06-23 19:25] jgostick commented on #2245
I'm not able to run or compile any of this code, and despite the tomography keyword it's quite different from what I work on, so I don't know anyone that could review.  Sorry.

[2020-06-23 19:32] logological commented on #2270
@gkthiruvathukal: So far only one of the four nominated reviewers has responded. Here are some further nominations, in case you need them: drj11, davidbeckingsale, smiths

[2020-06-23 19:34] arfon commented on #2245
OK thanks for letting me know.

[2020-06-23 19:39] arfon commented on #2245
:wave: @marksgraham -  would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-23 19:40] hayesla commented on #2281
@whedon generate pdf

[2020-06-23 19:43] whedon commented on #2281
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02281/joss.02281/10.21105.joss.02281.pdf)

[2020-06-23 19:43] xuanxu commented on #2330
@barentsen Great, thanks!
I'll assign you now and start the review issue.

[2020-06-23 19:44] xuanxu commented on #2330
@whedon add @christinahedges as reviewer

[2020-06-23 19:44] whedon commented on #2330
OK, @christinahedges is now a reviewer

[2020-06-23 19:44] xuanxu commented on #2330
@whedon add @barentsen as reviewer

[2020-06-23 19:44] whedon commented on #2330
OK, @barentsen is now a reviewer

[2020-06-23 19:45] xuanxu commented on #2330
@whedon start review

[2020-06-23 19:45] whedon opened #2382 "[REVIEW]: catwoman: A transit modelling Python package for asymmetric light curves"
**Submitting author:** @KathrynJones1 (<a href="http://orcid.org/0000-0002-2316-6850">Kathryn Jones</a>)
**Repository:** <a href="https://github.com/KathrynJones1/catwoman" target ="_blank">https://github.com/KathrynJones1/catwoman</a>
**Version:** v1.0.12
**Editor:** @xuanxu
**Reviewer:** @jessie-dotson, @barentsen
**Archive:** <a href="https://doi.org/10.5281/zenodo.3999513" target="_blank">10.5

[2020-06-23 19:45] whedon commented on #2330
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2382.

[2020-06-23 19:45] #2330 closed

[2020-06-23 19:45] whedon commented on #2382
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @christinahedges, @barentsen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2020-06-23 19:45] whedon commented on #2382
[code]

[2020-06-23 19:45] whedon commented on #2382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02382/joss.02382/10.21105.joss.02382.pdf)

[2020-06-23 19:45] xuanxu commented on #2330
@christinahedges @barentsen please head over to #2382 where the review will take place.

[2020-06-23 19:46] christinahedges commented on #2330
@xuanxu I am not currently able to review, please see my comment above. I think you mean @jessie-dotson

[2020-06-23 19:48] xuanxu commented on #2382
@KathrynJones1, @christinahedges, @barentsen : this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is differe

[2020-06-23 19:52] xuanxu commented on #2330
@christinahedges you are totally right, sorry!

[2020-06-23 19:52] xuanxu commented on #2330
@whedon assign @jessie-dotson as reviewer

[2020-06-23 19:52] whedon commented on #2330
OK, @jessie-dotson is now a reviewer

[2020-06-23 19:52] xuanxu commented on #2330
@whedon add @barentsen as reviewer

[2020-06-23 19:52] whedon commented on #2330
OK, @barentsen is now a reviewer

[2020-06-23 19:54] xuanxu commented on #2330
@jessie-dotson please head over to #2382 where the review will take place.

[2020-06-23 19:55] xuanxu commented on #2382
@whedon generate pdf

[2020-06-23 19:56] whedon commented on #2382
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02382/joss.02382/10.21105.joss.02382.pdf)

[2020-06-23 20:01] hayesla commented on #2281
I think the pandas 2020 reference should be

[code]

[2020-06-23 20:10] gkthiruvathukal commented on #2270
@logological Thanks. I will try one of them now!

[2020-06-23 20:11] gkthiruvathukal commented on #2270
@davidbeckingsale, would you be willing to serve as reviewers for this JOSS submission?

[2020-06-23 21:08] gschivley commented on #2171
@jordanperr I see that `as_matrix` is used in at least [one part of the production code](https://github.com/NREL/OpenOA/blob/cc2e56823d0c9cf46821d277efb10a799fc851a6/operational_analysis/toolkits/met_data_processing.py#L190). I don't have a clear sense of how anticipated updates after review are usually handled within JOSS, but it seems like that should be fixed. Alternatively, the docs could give

[2020-06-23 22:00] agshvarts commented on #2121
Hi @prs513rosewood , thank you for updating the Docker file. I tried to compile the docs locally after installing tamaas python module, but I still could not obtain the Python API. I did the following:
`scons prefix=./prefix/ build_tests=True`
`scons install prefix=./prefix/`
`cd doc`
`make`
The library is successfully installed, and docs are generated, but the Python API is missing. Furthermore,

[2020-06-23 22:02] lpantano commented on #2358
Hi @sctyner, @rowlandm, @joannawolthuis,

based on your experience maybe you be interested in reviewing this tool?

[2020-06-23 22:05] rowlandm commented on #2358
I could do this,  but the turn around time would be end of July.

Regards,

Rowland Mosbergen

Strategy Analyst | Big Data Analytics & Digital Transformation Lead |
Diversity & Inclusion
B of Eng (Aerospace Avionics)
Mob: 0423 030 626
Email: rowland.mosbergen@gmail.com
Web: https://www.linkedin.com/in/rowlandm-gaicd/

El mié., 24 de jun. de 2020 08:02, Lorena Pantano <notifications@github.com>
esc

[2020-06-23 22:06] agshvarts commented on #2121
@prs513rosewood , regarding the **Community guidelines:**
The documentation provides clearly the ways to report issues and contribute to the code, however, the channel for asking questions/seeking support is not provided, while it is requested by JOSS. Could it be possible to add guidance on how such questions could be asked?

[2020-06-23 22:15] mbobra commented on #2125
@danhey Great work!!! ☀️ I enjoyed playing with the code today and learning about phase modulation. I (referee hat) recommend accepting this submission. Can you fix the authorship issue in Zenodo? Then I (editor hat) will move forward with the acceptance process.

[2020-06-23 22:19] agshvarts commented on #2121
@prs513rosewood , regarding **State of the field:**
JOSS is looking for a comparison in the paper with other packages of similar functionality. On the one hand, I understand that there are not many available codes (if any) with similar characteristics, and furthermore, this is a research code featuring a unique implementation of novel approaches in adhesive and elastic-plastic contact. On the othe

[2020-06-23 22:30] agshvarts commented on #2121
@prs513rosewood , regarding **References:**
1. I though in would be beneficial for a wider audience if a reference was added to the second sentence of the paper, stating that the frictional force is independent of the apparent contact area due to the ubiquitous roughness. I took a liberty to add it myself, and to test at the same time the functionality of Arcanist from the outside of your institut

[2020-06-23 22:38] erinyoung commented on #2334
@lpantano <https://github.com/lpantano> et al.,

I went to the invitation URL (
https://github.com/openjournals/joss-reviews/invitations), and didn't see
an invitation associated with my github account, or any related
notifications.

Could this be due to my handle being listed as "@ @erinyoung" instead of
"@erinyoung"? (I noticed that my handle has an extra "@" in this thread)

On Tue, Jun 16, 202

[2020-06-24 01:43] danhey commented on #2125
Great, thanks for the review @mbobra! I've updated the Zenodo listing with all the paper authors.

[2020-06-24 01:53] hayesla commented on #2281
Overall looks good to me. The Quickstart guide worked well, and I was able to go through the example notebook easily after this and play around with the codebase.

Once the reference (above) is fixed I have nothing blocking and just some suggested comments

- I agree with @mattpitkin, a specific description of the API, or even just an overview in the README would be good to make it clear what is a

[2020-06-24 02:42] arfon commented on #2334
@whedon re-invite @erinyoung as reviewer

[2020-06-24 02:42] whedon commented on #2334
OK, the reviewer has been re-invited.

@erinyoung please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-24 02:43] arfon commented on #2334
@erinyoung ☝️ can you see if you can accept the invite now?

[2020-06-24 02:52] whedon opened #2383 "[PRE REVIEW]: hal9001: Scalable highly adaptive lasso regression in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/tlverse/hal9001" target ="_blank">https://github.com/tlverse/hal9001</a>
**Version:** v0.2.6
**Editor:** @mikldk
**Reviewers:** @daviddewhurst, @rrrlw
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2020-06-24 02:52] whedon commented on #2383
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-24 02:53] whedon commented on #2383
PDF failed to compile for issue #2383 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2383 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedo

[2020-06-24 02:53] arfon commented on #2383
@whedon generate pdf

[2020-06-24 02:54] whedon commented on #2383
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02383/joss.02383/10.21105.joss.02383.pdf)

[2020-06-24 02:55] arfon commented on #2383
@whedon check repository

[2020-06-24 02:55] whedon commented on #2383
[code]

[2020-06-24 02:57] arfon commented on #2383
:wave: @nhejazi - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, your

[2020-06-24 03:46] rram84 commented on #2372
@hugoledoux Thank you for taking up the review for this submission.
I added CONTRIBUTING.md to the root directory, and linked to in README.md.

[2020-06-24 05:25] dpsanders commented on #2191
@whedon assign @dawbarton as reviewer

[2020-06-24 05:25] whedon commented on #2191
OK, @dawbarton is now a reviewer

[2020-06-24 05:25] dpsanders commented on #2191
@whedon assign @Shibabrat as reviewer

[2020-06-24 05:25] whedon commented on #2191
OK, @Shibabrat is now a reviewer

[2020-06-24 05:25] dpsanders commented on #2191
@whedon start review

[2020-06-24 05:25] whedon opened #2384 "[REVIEW]: SysIdentPy: A Python package for System Identification"
**Submitting author:** @wilsonrljr (<a href="http://orcid.org/0000-0002-3263-1152">Wilson Rocha Lacerda Junior</a>)
**Repository:** <a href="https://github.com/wilsonrljr/sysidentpy" target ="_blank">https://github.com/wilsonrljr/sysidentpy</a>
**Version:** 0.1.2
**Editor:** @dpsanders
**Reviewers:** @Shibabrat, @dawbarton
**Archive:** <a href="https://doi.org/10.5281/zenodo.4026516" target="_blan

[2020-06-24 05:25] whedon commented on #2191
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2384.

[2020-06-24 05:25] whedon commented on #2384
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Shibabrat it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.

[2020-06-24 05:25] whedon commented on #2384
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02384/joss.02384/10.21105.joss.02384.pdf)

[2020-06-24 05:26] whedon commented on #2384
[code]

[2020-06-24 05:26] dpsanders commented on #2191
Thanks @dawbarton and @Shibabrat for agreeing to review this submission!

[2020-06-24 05:40] dpsanders commented on #2355
👋 Hi @RaphaelS1 -- thanks for submitting to JOSS!

Looking at the paper, I have a couple of questions and suggestions:

- Could you please add a couple of usage examples
- Describe in more detail how your package compares to the `sets` package
- What do you mean by the "symbolic representation" and "lazy evaluation" in this context? Maybe you could give examples.
- Please add the title, date and j

[2020-06-24 05:42] dpsanders commented on #2355
Also, could you please comment about the necessity for the C++ code in the submission?

[2020-06-24 05:44] dpsanders commented on #2384
@whedon add @dawbarton as reviewer

[2020-06-24 05:45] whedon commented on #2384
OK, @dawbarton is now a reviewer

[2020-06-24 05:47] dpsanders commented on #2191
@whedon add @dawbarton as reviewer

[2020-06-24 05:47] whedon commented on #2191
OK, @dawbarton is now a reviewer

[2020-06-24 05:49] dpsanders commented on #2191
@whedon commands

[2020-06-24 05:49] whedon commented on #2191
Here are some things you can ask me to do:

[code]

[2020-06-24 05:50] dpsanders commented on #2191
@whedon list reviewers

[2020-06-24 05:50] whedon commented on #2191
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-06-24 05:50] elDan101 commented on #2283
@mtezzele I included a new section "Comparison to other software projects" to the paper (on master).

[2020-06-24 05:51] dpsanders commented on #2191
@whedon start review

[2020-06-24 05:54] dpsanders commented on #2384
👋 @arfon, I seem to have messed up the reviewer assignment, sorry. @dawbarton doesn't seem to appear as a reviewer. Should I fix this by hand?

[2020-06-24 06:56] eloisabentivegna commented on #2346
@danielskatz, thanks for your help and guidance.

[2020-06-24 08:54] RaphaelS1 commented on #2355
Hi @dpsanders thanks for the speedy feedback! I've added to the paper as suggested and pushed the latest copy to the same repo as before (I have assumed the questions were intended to be answered in the paper and not here but let me know otherwise).

[2020-06-24 09:49] khinsen commented on #2318
@rajeshrinet @harpolea Looks good (and the tests all pass on my machine)! I am happy with the software in its current state. I have suggestions for a revision of the paper (see above), but you may prefer to wait for @fcooper8472's feedback before attacking the paper.

[2020-06-24 10:33] mdavezac commented on #2307
## Compilation

The procedure completed almost without a hitch. The issue is that it requires the users to set up their environment with a CXX variable. This may be a standard for  a developer, not so much for user. This requirement is missing from the installation guide.

What's weird though is that the environment variable is not actually used to identify the compiler, since the compiler is **ha

[2020-06-24 10:53] mdavezac commented on #2307
Software paper: Travis provide continuous integration. [Integration testing](https://en.wikipedia.org/wiki/Integration_testing) is something else still. Indeed some of the unit-tests in the code could be termed integration tests, e.g. ExcitonDiffusionTests.

[2020-06-24 11:43] rcannood commented on #2294
@mikldk Sure!

[2020-06-24 11:47] pdebuyl commented on #2307
Thank you @mdavezac for the review!

@MikeHeiber you can already reply to @mdavezac , you don't have to wait for @liangtang 's review.

The process at JOSS is to discuss the comments as a dialogue on this github issue page.

[2020-06-24 12:35] ekaterinailin commented on #2347
@whedon generate pdf

[2020-06-24 12:36] whedon commented on #2347
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02347/joss.02347/10.21105.joss.02347.pdf)

[2020-06-24 12:40] arfon commented on #2384
@dpsanders - Yes, I'm afraid Whedon doesn't yet know how to add a checklist for a reviewer once the review has started.

You can do this by editing the body of the issue at the top of this thread. Let me know if you need my help with this.

[2020-06-24 12:41] arfon commented on #2191
@dpsanders - I've just responded over in #2384 - you'll need to fix up the review checklists over there.

[2020-06-24 12:41] #2191 closed

[2020-06-24 12:49] whedon opened #2385 "[PRE REVIEW]: Error-Corrected Gaussian Mixture Model."
**Submitting author:** @minzastro (<a href="http://orcid.org/0000-0002-8440-1455">Alexey Mints</a>)
**Repository:** <a href="https://github.com/minzastro/ecgmm_fortran" target ="_blank">https://github.com/minzastro/ecgmm_fortran</a>
**Version:** 1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2020-06-24 12:49] whedon commented on #2385
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-24 12:49] whedon commented on #2385
PDF failed to compile for issue #2385 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2385 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedo

[2020-06-24 12:50] arfon commented on #2385
@whedon check repository

[2020-06-24 12:50] whedon commented on #2385
[code]

[2020-06-24 12:50] whedon commented on #2385
Failed to discover a valid open source license.

[2020-06-24 12:59] KristinaRiemer commented on #2328
Hi @katmratliff, have you had a chance to look at this submission yet?

[2020-06-24 13:14] ivalaginja commented on #2281
@hayesla thank you for your comments! I fully agree with you on all you said, and we will work in the near future to get these things set up; issues for this already exist in the repository.

As for the reference, thanks for pointing it out. I will for sure update the author list, however, the DOI and the version wouldn't work for our paper since we used pandas version v0.24.2, for which there is

[2020-06-24 13:18] romi1502 commented on #2154
Thank you @arfon
The latest spleeter version (1.5.3) we've just released includes all changes discussed in the review.
I've just uploaded an archive with this version on [Zenodo](https://zenodo.org/record/3906389) with same title and same authors as the paper.

It has DOI **10.5281/zenodo.3906389**.

Let us know if we need to anything else.

[2020-06-24 13:27] arfon commented on #2154
@whedon set 10.5281/zenodo.3906389 as archive

[2020-06-24 13:27] whedon commented on #2154
OK. <a href="https://doi.org/10.5281/zenodo.3906389" target="_blank">10.5281/zenodo.3906389</a> is the archive.

[2020-06-24 13:28] arfon commented on #2154
@whedon set v1.5.3 as version

[2020-06-24 13:28] whedon commented on #2154
OK. v1.5.3 is the version.

[2020-06-24 13:28] arfon commented on #2154
@whedon accept

[2020-06-24 13:28] whedon commented on #2154
[code]

[2020-06-24 13:28] whedon commented on #2154
[code]

[2020-06-24 13:28] whedon commented on #2154
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1513

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1513, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-24 13:29] arfon commented on #2154
@romi1502 - can you check if this ☝️  DOI is correct? If it is, please add it to your BibTeX file.

[2020-06-24 13:31] sbenthall commented on #2264
@meenakshi-kushwaha would you be willing to review this paper?

[2020-06-24 13:32] pdebuyl commented on #2252
@mabraham would you review the article "CancerSim: A python3 package for stochastic cancer simulation in 2D" for the Journal of Open Source Software?

[2020-06-24 13:35] pdebuyl commented on #2252
@CFGrote while we are waiting for the confirmation of a second reviewer, I have a comment already. The paper includes a full example for the parameter file. JOSS articles are intended to remain concise and this content is best left in the dedicated documentation.

[2020-06-24 13:53] majensen commented on #2168
@balhoff - I see only one box unchecked in your review, Functionality. Are you close to being satisfied with that aspect?

@wdduncan - You have installion, functionality, and several documentation issue remaining. How are these coming?

This review began on March 19, and while there has been a lot of extra time provided due to covid, I think Sam has done a lot of good work improving the code and t

[2020-06-24 13:56] majensen commented on #2044
I believe @wrathematics is no longer participating.
I will take on the review @scwest so we can finally move this along-- this is unusual, but not unheard-of. If you have any qualms about this @scwest, just let me know.

[2020-06-24 13:56] dpsanders commented on #2384
@arfon OK thanks, done.

[2020-06-24 13:57] majensen commented on #2044
@whedon add @majensen as reviewer

[2020-06-24 13:57] whedon commented on #2044
OK, @majensen is now a reviewer

[2020-06-24 13:57] majensen commented on #2044
@whedon remove @wrathematics as reviewer

[2020-06-24 13:57] whedon commented on #2044
OK, @wrathematics is no longer a reviewer

[2020-06-24 14:09] katmratliff commented on #2328
Hi @KristinaRiemer I am planning to complete my review this week.

[2020-06-24 14:19] KristinaRiemer commented on #2328
Great, thanks so much @katmratliff!

[2020-06-24 14:27] samhforbes commented on #2348
Installation instructions: Is there a clearly-stated list of dependencies? Link to more in depth installation instructions for PySTan:
https://github.com/ihrke/pypillometry/issues/4

 Example usage and functionality documentation
ideally would have documentation on modelling data. https://github.com/ihrke/pypillometry/issues/1

 Community guidelines: Are there clear guidelines for third parties wi

[2020-06-24 14:31] romi1502 commented on #2154
We were actually citing the arxiv version of the paper which is not good. I replaced it by the published version and added the DOI in the BibTex file.

[2020-06-24 14:32] wdduncan commented on #2168
@majensen
I checked boxes for installation and functionality. There aren't automated tests, but there is a tutorial. Are automated tests required?

@sap218
A number of changes have been made to the github pages. Does the manuscript reflect these changes? I haven't had a chance to re-read it yet.

[2020-06-24 14:39] majensen commented on #2168
@wdduncan thanks - The tutorial can be used to verify functionality manually, so I think the letter of the law is satisfied. That said, @sap218 would you be willing to consider adding a few tests using [unittest](https://docs.python.org/3/library/unittest.html) or [pytest](https://docs.pytest.org/en/latest/index.html)? It is an important skill to have, if you haven't done it before, and it makes f

[2020-06-24 14:51] hayesla commented on #2281
I'm not too sure what you mean - as the DOI that is listed in paper for (`team, T. pandas development. (2020). Pandas-dev/pandas: Pandas 1.0.1. Zenodo. doi:10.
5281/zenodo.3644238` ) to here https://zenodo.org/record/3644238#.XvNnWGpKhTY which in the bottom left hand corner has a bibtex entry

Maybe I am misunderstanding?

[2020-06-24 14:59] prs513rosewood commented on #2121
The autodoc feature of Sphinx works by importing a module in order to generate the documentation. I'm guessing `./prefix/lib/python3.7/site-packages` is not in `PYTHONPATH`, hence the missing documentation. I've committed a patch that should generate the doc correctly using the `scons doc` command (it should import from `build-xxx/python`).

I'm aware of the warnings generated, but can't really do

[2020-06-24 15:06] arfon commented on #2154
@whedon check references

[2020-06-24 15:07] whedon commented on #2154
[code]

[2020-06-24 15:07] arfon commented on #2154
@whedon accept

[2020-06-24 15:07] whedon commented on #2154
[code]

[2020-06-24 15:08] whedon commented on #2154
[code]

[2020-06-24 15:08] whedon commented on #2154
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1514

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1514, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-24 15:14] arfon commented on #2154
@whedon accept deposit=true

[2020-06-24 15:14] whedon commented on #2154
[code]

[2020-06-24 15:15] whedon commented on #2154
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1275809808990588930) 👈 🐦🐦🐦

[2020-06-24 15:15] whedon commented on #2154
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1515
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02154](https://doi.org/10.21105/joss.02154)
2. If everything looks g

[2020-06-24 15:16] ivalaginja commented on #2281
If you look on the right side of that very page, in the box labelled "Versions", you will see a list of all the published versions of pandas. Each version has a unique DOI that should be cited depending on the version you use. We are using a version that was not separately published (0.24.2), so it has no unique DOI. At the bottom of this box the "concept DOI" is shown, with additional information

[2020-06-24 15:20] arfon commented on #2154
@bmcfee, @faroit - many thanks for your reviews here and to @terrytangyuan for editing this submission ✨

@romi1502 - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-06-24 15:20] #2154 closed

[2020-06-24 15:20] whedon commented on #2154
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02154/status.svg)](https://doi.org/10.21105/joss.02154)

**We need your help!**

Journal of Open Source Softwa

[2020-06-24 15:22] pibion commented on #2363
@whedon add @ziotom78 as reviewer

[2020-06-24 15:22] whedon commented on #2363
OK, @ziotom78 is now a reviewer

[2020-06-24 15:24] arfon commented on #2135
Thanks @faroit. Could you check on @ynop's most recent updates to see if you're able to check off the last few checkboxes for your review?

[2020-06-24 15:27] hayesla commented on #2281
yes - so I guess the issue is that the one that is currently in the paper is `doi:10.5281/zenodo.3644238` - however from the cite all versions in the box you are referring to is `https://doi.org/10.5281/zenodo.3509134` which is different?

Sorry about my confusion with this.

Maybe @xuanxu can clarify?

[2020-06-24 15:28] arfon commented on #2356
@whedon assign @gkthiruvathukal as editor

[2020-06-24 15:28] whedon commented on #2356
OK, the editor is @gkthiruvathukal

[2020-06-24 15:29] meenakshi-kushwaha commented on #2264
Thanks for reaching out. Unfortunately, I am not familiar with the techniques discussed in this paper and will not be able to suitably review it. I hope to help out next time.

Regards,
Meenakshi

[2020-06-24 15:29] pibion commented on #2363
@aureliocarnero apologies, I needed to edit the checklist to add an additional reviewer and managed to delete the checks you've put so far.

Could you take a look and re-check?

I won't need to edit this issue again so they will stay this time!

[2020-06-24 15:37] kthyng commented on #2172
@whedon generate pdf

[2020-06-24 15:38] whedon commented on #2172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02172/joss.02172/10.21105.joss.02172.pdf)

[2020-06-24 15:40] kthyng commented on #2124
No problem that some items are being worked on, but I will mark this submission as "paused" in the meantime for our internal bookkeeping.

[2020-06-24 15:41] kthyng commented on #2172
@whedon check references

[2020-06-24 15:41] whedon commented on #2172
[code]

[2020-06-24 15:50] pstjohn commented on #2342
This is a great contribution, and I think the paper is well-written. There's certainly a need for a high-performance, easy-to-use DFBA implementation, and I think this package goes a long way in solving that need. Writing something like this is not easy, it takes someone with knowledge / background in dynamic systems, software engineering (including writing compiled python extensions), and metabol

[2020-06-24 15:51] martibosch commented on #2172
@whedon check references

[2020-06-24 15:51] whedon commented on #2172
[code]

[2020-06-24 16:01] kthyng commented on #2172
Hi @martibosch, I have some small changes in PR [#6](https://github.com/martibosch/detectree/pull/6). If you agree, please merge that. A few other items from the paper:

- in Step 4: "...class might respectively..." Should this be might? I am not clear on the meaning of the sentence here.
- "Zurich and Lausanne" are mentioned, but should this be a citation?
- Can you please do a detailed check of

[2020-06-24 16:10] xuanxu commented on #2281
The “concept” DOI is 10.5281/zenodo.3509134
I think that’s the one you want to use here. In the `environment.yml` file there is no version specified for Pandas, so it makes sense to use the DOI for “all versions”.

[2020-06-24 16:11] jsgalan commented on #2283
Sorry guys, the invitation was sent to spam and never attended, can the invitation be re-send?

[2020-06-24 16:12] hayesla commented on #2281
ok great thanks @xuanxu - once this is updated my sign off is complete 🚀

[2020-06-24 16:14] sap218 commented on #2168
@wdduncan The manuscript still reflects the software

@wdduncan @majensen

thank you all for the comments throughout and continued patience. I do understand the value of unit testing and plan to explore this aspect of software development when improving the package in the near future, but I am currently constrained by time because of my continued PhD work, which makes it difficult for me to develo

[2020-06-24 16:16] dfm commented on #2283
@whedon re-invite @jsgalan as reviewer

[2020-06-24 16:16] whedon commented on #2283
OK, the reviewer has been re-invited.

@jsgalan please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-24 16:16] dfm commented on #2283
@jsgalan: No worries - let me know if you have any issues getting access!

[2020-06-24 16:24] mstimberg commented on #2331
Thanks for the changes so far, I was now able to install Flint from source on Ubuntu 18.04. I opened two issues in the project's repository:
* Installation instructions: flintproject/Flint#15
* User manual: flintproject/Flint#16

Here a few general comments about the article, the software, and the website:

* The last sentence of the first paragraph of the introduction ("As a consequence, ...") is

[2020-06-24 16:28] jsgalan commented on #2283
Will continue with the review. Thanks!

[2020-06-24 16:28] martibosch commented on #2172
@whedon generate pdf

[2020-06-24 16:29] whedon commented on #2172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02172/joss.02172/10.21105.joss.02172.pdf)

[2020-06-24 16:30] martibosch commented on #2172
Hello @kthyng, I have merged your PR, thank you for your corrections. Regarding your three comments:

- I believe that I was taught that *might* and *can* are synonyms in this context, but I am no native English speaker, so we can use *can* as set in your PR.
- I suppose that you refer to the part of:

  In such case, the accuracy scores are taken from GitHub repositories (i.e., [detectree-example

[2020-06-24 16:31] kthyng commented on #2354
@whedon check repository

[2020-06-24 16:31] elDan101 commented on #2283
@whedon generate pdf

[2020-06-24 16:32] whedon commented on #2283
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02283/joss.02283/10.21105.joss.02283.pdf)

[2020-06-24 16:35] whedon commented on #2354
[code]

[2020-06-24 16:37] mbobra commented on #2125
@whedon generate pdf

[2020-06-24 16:38] arfon commented on #2354
@pmkruyen - @kthyng and I are trying to get an idea of the code contribution here. Could you point to the main areas of the repository where you've written new code for this project? It looks like a lot of the code in here comes from the framework you've been using.

[2020-06-24 16:38] whedon commented on #2125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02125/joss.02125/10.21105.joss.02125.pdf)

[2020-06-24 16:42] mbobra commented on #2125
@whedon check references

[2020-06-24 16:43] whedon commented on #2125
[code]

[2020-06-24 16:44] kthyng commented on #2375
@whedon check repository

[2020-06-24 16:44] whedon commented on #2375
[code]

[2020-06-24 16:46] kthyng commented on #2166
Hi @hvgazula! Looks like you have a review in as noted immediately above. How are things going on your end to address the comments?

[2020-06-24 16:48] pmkruyen commented on #2354
@arfon @kthyng thanks for checking... I have build DearScholar using Framework7; dearscholar.js--the heart of the project and a lot of work--; all the html-files plus and dearscholar.css are mine (code solely written by me); also see the table at the bottom of the README file. Best Peter

[2020-06-24 16:49] pmkruyen commented on #2354
@arfon @kthyng thanks for checking... I have build DearScholar using Framework7; dearscholar.js--the heart of the project and a lot of work--; plus all the html-files and dearscholar.css are mine (code solely written by me); also see the table at the bottom of the README file. Best Peter

[2020-06-24 16:50] pmkruyen commented on #2354
@arfon @kthyng thanks for checking... I have built DearScholar using Framework7 indeed; dearscholar.js--the heart of the project and a lot of work--; plus all the html-files and dearscholar.css are mine (code solely written by me); also see the table at the bottom of the README file. Best Peter

[2020-06-24 16:52] majensen commented on #2168
@sap218 I understand and I will not hold up a recommendation on this basis.

[2020-06-24 16:57] mbobra commented on #2125
@danhey Thank you, we're almost there! I have a couple more small requests:
*  Could you please cut a new release and deposit it in Zenodo? (I see the most recent one is from February 16, which doesn't include the `CONTRIBUTING.md` file). And then re-update the author list?
* Also do you mind changing the DOI for the Murphy+2018 reference from the short link to https://doi.org/10.1093/mnras/stx304

[2020-06-24 16:58] hvgazula commented on #2166
Hello @kthyng Thanks for checking. I shall be pasting my comments sometime tonight.

[2020-06-24 17:10] sap218 commented on #2168
@majensen  Thank you! I appreciate it :-)

[2020-06-24 17:32] zbeekman commented on #2049
sorry for the delay, nearly done!

[2020-06-24 18:20] henrik227 commented on #2224
Yes, I can do that.

[2020-06-24 18:23] balhoff commented on #2168
@majensen @sap218 I agree that the test/example repository is a fine functionality test; so I checked the tests box. I checked the last box, so I approve. Thank you both for your patience!

[2020-06-24 18:26] pmkruyen commented on #2354
@arfon and @kthyng To follow up, I just realized, I included the complete codebase of Framework7 in my repro as matter of convenience, but (obviously) not everything is needed for DearScholar to work.

[2020-06-24 18:36] whedon opened #2386 "[PRE REVIEW]: A web application to estimate differences in diagnostic efficiency based on differences between single-condition cases"
**Submitting author:** @gasparl (<a href="http://orcid.org/0000-0001-9401-4830">Gáspár Lukács</a>)
**Repository:** <a href="https://github.com/gasparl/esdi" target ="_blank">https://github.com/gasparl/esdi</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic

[2020-06-24 18:36] whedon commented on #2386
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-24 18:36] whedon commented on #2386
[code]

[2020-06-24 18:36] whedon commented on #2386
[code]

[2020-06-24 18:37] whedon commented on #2386
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02386/joss.02386/10.21105.joss.02386.pdf)

[2020-06-24 18:46] dpsanders commented on #2224
@whedon assign @henrik227 as reviewer

[2020-06-24 18:46] whedon commented on #2224
OK, @henrik227 is now a reviewer

[2020-06-24 19:17] whedon opened #2387 "[PRE REVIEW]: Astraea: A Python package for predicting long rotation periods from short light curves"
**Submitting author:** @lyx12311 (<a href="http://orcid.org/0000-0003-4769-3273">Yuxi Lu</a>)
**Repository:** <a href="https://github.com/lyx12311/Astraea" target ="_blank">https://github.com/lyx12311/Astraea</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pande

[2020-06-24 19:17] whedon commented on #2387
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-24 19:17] whedon commented on #2387
[code]

[2020-06-24 19:58] gasparl commented on #2386
Thanks for the quick start @arfon .

Some potential reviewers from your list could be: @markhwhiteii (who I now notice did [something similar](https://github.com/markhwhiteii/power_twoway) for a different issue), @mmrabe, @lebebr01, @aj2duncan

Perhaps I should mention that I originally suggested @akeshavan as editor. (Or otherwise perhaps @mikldk.)

[2020-06-24 20:55] faroit commented on #2154
@romi1502 @arfon My first experience with JOSS when I submitted a paper was excellent and I really tried to help so that other submissions like this one could get the same treatment but unfortunately this was really difficult during COVID.
So thanks again for your patience!

[2020-06-24 20:59] faroit commented on #2135
@arfon as far as I can see, there has not been any changes made to the paper.

[2020-06-24 21:00] oliviaguest commented on #2377
@whedon add @Trisbek as reviewer

[2020-06-24 21:00] whedon commented on #2377
OK, @Trisbek is now a reviewer

[2020-06-24 21:52] alex-konovalov commented on #2224
@dpsanders thanks, I can do that too.

[2020-06-24 22:02] Chilipp commented on #1942
Dear @majensen and @benjaminbolling. I have to apologize but something urgent forced me to change my plans and I won't have the possibility to review this within this week. I have to postpone it until next week and hope, this does not cause problems.

[2020-06-24 22:14] fcooper8472 commented on #2318
I think the software looks very good.

I found a few problems with installation, but @rajeshrinet addressed those very quickly - it's great for this to be happening in real time!

In terms of the formal checklist, I have the same two checkboxes un-checked as @khinsen:

- **Summary**: I have some experience in this area (I once coded up a spectral method for solving Navier-Stokes on a periodic doma

[2020-06-24 22:58] majensen commented on #2168
@whedon generate proof

[2020-06-24 22:58] whedon commented on #2168
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-24 22:58] majensen commented on #2168
@whedon generate pdf

[2020-06-24 22:59] whedon commented on #2168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02168/joss.02168/10.21105.joss.02168.pdf)

[2020-06-24 23:38] ivalaginja commented on #2281
Thanks a lot to both - I will update asap and let you know when it's ready.

[2020-06-25 00:03] dhhagan commented on #2374
Hey @andreas-h and @GregoryAshton => are you able and available to review this manuscript?

[2020-06-25 01:12] sbuergers commented on #2377
Hey @teamPSG,

This is a nicely written and well documented toolbox, well done! I used Matlab 2019b for testing and the [SoftwareVerification](https://github.com/teamPSG/kNN_Sleep_Scorer_kNNSS/tree/master/Software_Verification) ran without problems.

From what I could gather there are only a few points to consider:

**Contribution and authorship**: From the commit history it is unclear who, apart

[2020-06-25 06:26] rram84 commented on #2372
@whedon generate pdf

[2020-06-25 06:26] whedon commented on #2372
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02372/joss.02372/10.21105.joss.02372.pdf)

[2020-06-25 06:41] rram84 commented on #2372
@hugoledoux
The paper now includes a section on what DVRlib does  and doesn't, as you suggested. I made a number of other small revisions to improve the paper.

The paper now cites the following softwares:
Mesh generators (which use relaxation libraries under the hood): Hypermesh, CGAL, TetGen, Gmsh. The documentation pages include examples using DVRlib to improve meshes generated by these softwar

[2020-06-25 07:14] aahlenst commented on #2135
Sorry, it's stuck on my desk. Swamped with work. Should get better next week.

[2020-06-25 07:16] c-martinez commented on #2220
@lorenanicole :wave:  -- Perhaps Jonathan Blaney (https://github.com/jonathanblaney) might be a good candidate?

[2020-06-25 07:36] mikldk commented on #2294
@whedon add @tomsing1 as reviewer

[2020-06-25 07:36] mikldk commented on #2294
@whedon add @rcannood as reviewer

[2020-06-25 07:36] whedon commented on #2294
OK, @rcannood is now a reviewer

[2020-06-25 07:37] mikldk commented on #2294
@whedon start review

[2020-06-25 07:37] whedon opened #2388 "[REVIEW]: tidyfst: Tidy Verbs for Fast Data Manipulation"
**Submitting author:** @hope-data-science (<a href="http://orcid.org/0000-0002-4151-3764">Tian-Yuan Huang</a>)
**Repository:** <a href="https://github.com/hope-data-science/tidyfst" target ="_blank">https://github.com/hope-data-science/tidyfst</a>
**Version:** v0.9.7
**Editor:** @mikldk
**Reviewer:** @tomsing1, @rcannood
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due

[2020-06-25 07:37] whedon commented on #2294
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2388.

[2020-06-25 07:37] #2294 closed

[2020-06-25 07:38] whedon commented on #2388
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02388/joss.02388/10.21105.joss.02388.pdf)

[2020-06-25 07:38] whedon commented on #2388
[code]

[2020-06-25 07:38] mikldk commented on #2388
@tomsing1, @rcannood: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review

[2020-06-25 08:00] pdebuyl commented on #2256
@dhhagan I prefer to skip this one as I am not familiar with the topic.

[2020-06-25 08:05] rajeshrinet commented on #2318
@fcooper8472 and @khinsen many thanks for your comments above and for several suggestions on the repo which have already helped improved the codebase. I am now working on the paper and would update it in the light of your comments.  I will post a comment here when done.

@fcooper8472, indeed PyStokes was first written in Python 2 and was later modified to support Python 3. Thus, it supports both P

[2020-06-25 08:51] essepuntato commented on #2220
Hi @lorenanicole

it seems I forgot to formally accept the invitation by whedon and it expired. Could you please sent it again?

[2020-06-25 09:27] aureliocarnero commented on #2363
@pibion  sure no problem

[2020-06-25 09:35] ihrke commented on #2348
@whedon generate pdf

[2020-06-25 09:35] whedon commented on #2348
PDF failed to compile for issue #2348 with the following error:

 Can't find any papers to compile :-(

[2020-06-25 10:32] oliviaguest commented on #2348
@whedon generate pdf

[2020-06-25 10:33] whedon commented on #2348
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02348/joss.02348/10.21105.joss.02348.pdf)

[2020-06-25 11:14] oliviaguest commented on #2377
@sbuergers thank you for your feedback so far! These seem to be appropriate to stay here — although feel free to talk to @teamPSG on how to organise these, of course!

[2020-06-25 11:27] oliviaguest commented on #2339
@emptymalei thank you! Have you opened an issue in the code repo for this?

[2020-06-25 11:38] emptymalei commented on #2339
@oliviaguest

I have a question here.
In fact, the code repo has a nicely illustrated tutorial jupyter notebook. It is neither unit test nor automated but it can serve as a very good manual test notebook.
I didn't check the box only because this is not automated. But based on this following section of the guidelines

It is not bad.

In this case, shall I create an issue or only provide this as an

[2020-06-25 11:44] lpantano commented on #2358
Thank you @rowlandm, I may wait a couple of days, but if not I will assign you as a reviewer.

[2020-06-25 11:45] lpantano commented on #2358
@Nienke, based on your GitHub experience maybe you be interested in reviewing this tool?

[2020-06-25 11:53] majensen commented on #2168
Hey @sap218 - I added tests to jabberwocky; see [PR#13](https://github.com/sap218/jabberwocky/pull/13). These basically run the steps in the SCENARIO automatically, using the files in jabberwocky-tests. It's pretty basic, but now you have a working skeleton for more tests in the future. To run the tests, `pip install pytest` and then run `pytest` in the repo dir.

[2020-06-25 12:01] arfon commented on #2311
@whedon assign @sjpfenninger as editor

[2020-06-25 12:02] whedon commented on #2311
OK, the editor is @sjpfenninger

[2020-06-25 12:02] arfon commented on #2311
@kegiljarhus - I think @sjpfenninger will be handling this submission but he's out on holiday for a couple of weeks and will attend to this when he returns.

[2020-06-25 12:07] arfon commented on #2386
:wave: @gasparl - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2020-06-25 12:07] arfon commented on #2386
@whedon reject

[2020-06-25 12:07] whedon commented on #2386
Paper rejected.

[2020-06-25 12:07] #2386 closed

[2020-06-25 12:10] NicolasHug commented on #2174
Thank you for the reviews so far and apologies for the silence!

I'm still short on time ATM but it will get better soon and should be able to address the reviews by mid August.

[2020-06-25 12:18] arfon commented on #2357
👋 @bmorris3 - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on h

[2020-06-25 12:18] arfon commented on #2357
@whedon reject

[2020-06-25 12:18] whedon commented on #2357
Paper rejected.

[2020-06-25 12:18] #2357 closed

[2020-06-25 12:23] arfon commented on #2385
:wave: @minzastro - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/

[2020-06-25 12:23] arfon commented on #2385
@whedon reject

[2020-06-25 12:23] whedon commented on #2385
Paper rejected.

[2020-06-25 12:23] #2385 closed

[2020-06-25 12:25] whedon opened #2389 "[PRE REVIEW]: haldensify: Highly adaptive lasso conditional density estimation in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/nhejazi/haldensify" target ="_blank">https://github.com/nhejazi/haldensify</a>
**Version:** v0.0.6
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2020-06-25 12:25] whedon commented on #2389
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-25 12:26] whedon commented on #2389
[code]

[2020-06-25 12:26] whedon commented on #2389
PDF failed to compile for issue #2389 with the following error:

 Can't find any papers to compile :-(

[2020-06-25 12:26] whedon opened #2390 "[PRE REVIEW]: `reval`: a Python package to determine the best number of clusters with stability-based relative clustering validation."
**Submitting author:** @IIT-LAND (<a href="http://orcid.org/0000-0003-4212-4709">Isotta Landi</a>)
**Repository:** <a href="https://github.com/IIT-LAND/reval_clustering" target ="_blank">https://github.com/IIT-LAND/reval_clustering</a>
**Version:** v0.0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-06-25 12:26] whedon commented on #2390
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-25 12:26] whedon commented on #2390
[code]

[2020-06-25 12:26] whedon commented on #2390
[code]

[2020-06-25 12:26] whedon commented on #2390
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02390/joss.02390/10.21105.joss.02390.pdf)

[2020-06-25 12:47] ivalaginja commented on #2281
@hayesla I have updated the reference, thanks for pointing out the inconsistency!

[2020-06-25 13:05] fcooper8472 commented on #2318
@rajeshrinet this is great!

Just to be clear I do not think the general suggestions I have made about PyStokes are strictly required for publication in JOSS, though it is great that you're addressing these.

[2020-06-25 13:18] whedon opened #2391 "[PRE REVIEW]: argopy: A Python library for Argo ocean data analysis"
**Submitting author:** @gmaze (<a href="http://orcid.org/0000-0001-7231-2095">Guillaume Maze</a>)
**Repository:** <a href="https://github.com/euroargodev/argopy" target ="_blank">https://github.com/euroargodev/argopy</a>
**Version:** v0.1.4
**Editor:** @kthyng
**Reviewers:** @dhruvbalwada, @DamienIrving
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-06-25 13:18] whedon commented on #2391
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-25 13:18] whedon commented on #2391
PDF failed to compile for issue #2391 with the following error:

 Can't find any papers to compile :-(

[2020-06-25 13:20] xuanxu commented on #2281
@whedon generate pdf

[2020-06-25 13:23] whedon commented on #2281
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02281/joss.02281/10.21105.joss.02281.pdf)

[2020-06-25 13:23] arfon commented on #2391
@whedon generate pdf from branch joss-paper

[2020-06-25 13:23] whedon commented on #2391
[code]

[2020-06-25 13:24] whedon commented on #2391
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02391/joss.02391/10.21105.joss.02391.pdf)

[2020-06-25 13:25] arfon commented on #2391
@whedon check repository

[2020-06-25 13:25] whedon commented on #2391
[code]

[2020-06-25 13:27] arfon commented on #2389
@whedon generate pdf from branch joss_paper

[2020-06-25 13:27] whedon commented on #2389
[code]

[2020-06-25 13:28] whedon commented on #2389
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02389/joss.02389/10.21105.joss.02389.pdf)

[2020-06-25 13:31] xuanxu commented on #2382
@jessie-dotson: you should have now an invitation [here](https://github.com/openjournals/joss-reviews/invitations) to collaborate in the repo, you have to accept it so you can edit your checklist.