[2021-11-10 16:40] fboehm commented on #3708
@whedon recommend-accept

[2021-11-10 16:40] whedon commented on #3708
[code]

[2021-11-10 16:41] MichaelHoltonPrice commented on #3738
@steko and I have raised some issues that, speaking for myself at least, need to be addressed before finishing the review. None are major, but they do prevent me from marking some items in the checklist.

[2021-11-10 16:41] whedon commented on #3708
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2741

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2741, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-10 16:41] whedon commented on #3708
[code]

[2021-11-10 16:43] christinahedges commented on #3827
@whedon check references

[2021-11-10 16:43] whedon commented on #3827
[code]

[2021-11-10 16:44] fboehm commented on #3708
Actually - @metelkin - can you add the doi suggested above to your bib file? I didn't see until now the output of the check references command. Thanks again!

[2021-11-10 16:48] christinahedges commented on #3827
Thank you very much reviewers! @richteague your paper submission looks good to me. If you are happy and would like to make no further changes based on the review, please make a tagged release 🏷️ of the code and archive it, and then please report the version number and archive DOI here in this thread. Please make sure this archived version has all the correct meta data (author names, title etc)!

I

[2021-11-10 16:50] christinahedges commented on #3892
Hi @BjoernBiltzinger it looks like your CI is passing now so it seems like the archive is live again. I am searching for reviewers for this tool now, please do let me know if you have suggestions, otherwise, watch this space!

[2021-11-10 16:52] jbytecode commented on #3608
@whedon remove @martibosch  as reviewer

[2021-11-10 16:52] whedon commented on #3608
OK, @martibosch  is no longer a reviewer

[2021-11-10 17:03] jbytecode commented on #3608
@whedon generate pdf

[2021-11-10 17:03] whedon commented on #3608
PDF failed to compile for issue #3608 with the following error:
[code]

[2021-11-10 17:03] jbytecode commented on #3608
@whedon generate pdf from branch joss_review

[2021-11-10 17:03] whedon commented on #3608
[code]

[2021-11-10 17:04] whedon commented on #3608
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: :point_left:

[2021-11-10 17:07] kthyng commented on #3608
@whedon remove @martibosch as reviewer

[2021-11-10 17:07] whedon commented on #3608
OK, @martibosch is no longer a reviewer

[2021-11-10 17:10] jbytecode commented on #3608
@whedon generate pdf from branch joss_review

[2021-11-10 17:10] whedon commented on #3608
[code]

[2021-11-10 17:10] whedon commented on #3608
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03608/joss.03608/10.21105.joss.03608.pdf) :page_facing_up: :point_left:

[2021-11-10 17:16] kyleniemeyer commented on #3608
OK, looks good to me!

[2021-11-10 17:17] whedon commented on #3608
[code]

[2021-11-10 17:17] whedon commented on #3608
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1458484089338671123) 👈 🐦🐦🐦

[2021-11-10 17:18] whedon commented on #3608
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2742
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03608](https://doi.org/10.21105/joss.03608)
2. If everything look

[2021-11-10 17:39] kyleniemeyer commented on #3608
Congratulations @lantunes on your article's publication in JOSS!

Many thanks to @blsqr and @szhorvat for reviewing this, and @jbytecode for editing.

[2021-11-10 17:39] #3608 closed

[2021-11-10 17:39] whedon commented on #3608
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03608/status.svg)](https://doi.org/10.21105/joss.03608)

**We need your help!**

Journal of Open Source Softwa

[2021-11-10 18:22] GaurangTandon commented on #3504
Hi, in addition to my comment about automated tests above, I have also added some other comments in the main GitHub issue (https://github.com/openjournals/joss-reviews/issues/3504#issue-946176417) about a broken functionality and two textual incoherencies that I think should be addressed.

Now, I'm only left with analysing the functionality of the other three components in this project, I'll analz

[2021-11-10 18:49] kescobo commented on #3876
@will-rowe Can you chime in with next steps here?

@adRn-s you didn't check off the "performance" or "state of the field" items in your review - were there specific comments you had on that front?

[2021-11-10 18:50] metelkin commented on #3708
@fboehm - I've added the required doi to the bib file.

[2021-11-10 19:01] fboehm commented on #3708
Perfect! Thanks @metelkin !

[2021-11-10 19:49] tom-gu commented on #3776
@jessicatytam @wcornwell @Bisaloo
Here is my full review, **so sorry for the delay**!

----

## Package overview:
The `specieshindex` package is showing great potential to promote scientific merit. It is a delightfully user-friendly package with superb documentation. Nonetheless, I identified several areas that can be improved. I did not open specific GitHub issues since they are more systemic and

[2021-11-10 20:42] will-rowe commented on #3876
Hi @kescobo. Thanks for the ping and sorry for the delay.

Thanks to @aguang and @adRn-s for some excellent reviews. Given both have recommended acceptance, I'm happy to move forward. (That being said if you can respond @adRn-s  regarding the two unchecked boxes, that would be great).

Let me give it another check over and then we can move on to acceptance.

[2021-11-10 20:43] will-rowe commented on #3876
@whedon generate pdf

[2021-11-10 20:43] whedon commented on #3876
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03876/joss.03876/10.21105.joss.03876.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03876/joss.03876/10.21105.joss.03876.pdf) :page_facing_up: :point_left:

[2021-11-10 20:51] will-rowe commented on #3876
Looks good to me.

@kescobo - can you please create a new tagged release and archive it (in zenodo) and then post back here with the version number and archive DOI

[2021-11-10 21:01] richteague commented on #3827
Thanks @christinahedges! I've made a version of the code and archived version here: 10.5281/zenodo.5670586.

Thanks also to @cpinte and @emptymalei for reviewing this submission!

[2021-11-10 21:24] Nikoleta-v3 commented on #3738
Thank you for the reply @MichaelHoltonPrice! My bad, sorry,  I didn’t see the issues 👍🏻 😄

[2021-11-10 22:11] elbeejay commented on #3894
Hi @callumrollo. We'd appreciate your expertise on and review of the Pythonic elements of the submission. Thank you for being forthcoming about the potential `glidertools` COI, from your description it does not seem as if that runs afoul of the JOSS COI guidelines.

[2021-11-10 22:11] elbeejay commented on #3894
@whedon add @callumrollo as reviewer

[2021-11-10 22:11] whedon commented on #3894
OK, @callumrollo is now a reviewer

[2021-11-10 23:58] kyleniemeyer commented on #3708
@whedon generate pdf

[2021-11-10 23:59] whedon commented on #3708
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03708/joss.03708/10.21105.joss.03708.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03708/joss.03708/10.21105.joss.03708.pdf) :page_facing_up: :point_left:

[2021-11-11 00:07] kyleniemeyer commented on #3708
@whedon accept deposit=true

[2021-11-11 00:07] whedon commented on #3708
[code]

[2021-11-11 00:08] whedon commented on #3708
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1458587353262571522) 👈 🐦🐦🐦

[2021-11-11 00:08] whedon commented on #3708
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2743
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03708](https://doi.org/10.21105/joss.03708)
2. If everything look

[2021-11-11 00:12] kyleniemeyer commented on #3708
Congratulations @metelkin on your article's publication in JOSS!

Many thanks to @martinmodrak and @elimillera for reviewing this, and @fboehm for editing.

[2021-11-11 00:12] #3708 closed

[2021-11-11 00:12] whedon commented on #3708
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03708/status.svg)](https://doi.org/10.21105/joss.03708)

**We need your help!**

Journal of Open Source Softwa

[2021-11-11 00:13] luizirber commented on #2991
@whedon generate pdf

[2021-11-11 00:13] luizirber commented on #2991
@whedon check references

[2021-11-11 00:13] whedon commented on #2991
[code]

[2021-11-11 00:13] whedon commented on #2991
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02991/joss.02991/10.21105.joss.02991.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02991/joss.02991/10.21105.joss.02991.pdf) :page_facing_up: :point_left:

[2021-11-11 00:22] luizirber commented on #2991
@esteinig can you tag a new `nanoq` release (potentially after linking zenodo and github, so new tags get Zenodo DOIs) to serve as the archival version and report the version number and archive DOI here? It is all that is needed to finish this review (so close!)

[2021-11-11 01:17] ejolly commented on #3823
Hey @emdupre @jameschapman19 here's my review:

## Review

- Super cool package and it's nice to see to all these algorithms (including their deep learning variants) in one place!
- I found the manuscript clear and adhering to JOSS requirements
- The API reference is also great and nicely documented
- Recommend acceptance

## Suggested Changes
- I do agree with the other reviewers that it would be

[2021-11-11 01:39] lantunes commented on #3608
@szhorvat I apologize for not responding sooner to your last comment in lantunes/cellpylib#11. I agree with your suggestion regarding adding the ability to specify initial conditions with a prior history. I have created an issue, lantunes/cellpylib#25, to make this change. It will be released in `v2.1.0`, which hopefully will be released soon.

@szhorvat @jbytecode Regarding the decision to issue

[2021-11-11 01:52] tretherington commented on #3811
Thanks for this.  I understand that there may not be anything comparable in terms of methods to `shar`, but I guess I was thinking that if everyone is using a package that uses the equivalent suboptimal methods, then pointing out that limitation would be helpful.  But you are the subject expert here, so I'm happy to go with what you have done. 😄

[2021-11-11 01:54] tretherington commented on #3811
@Bisaloo I've now ticked off everything in my reviewer checklist 🥳 but as a first time reviewer for JOSS if I've missed a step please let me know.

[2021-11-11 07:33] chartgerink commented on #3891
@whedon assign @chainsawriot as reviewer

[2021-11-11 07:33] whedon commented on #3891
OK, @chainsawriot is now a reviewer

[2021-11-11 07:34] chartgerink commented on #3891
@whedon assign @hknd23 as reviewer

[2021-11-11 07:34] whedon commented on #3891
OK, @hknd23 is now a reviewer

[2021-11-11 07:35] chartgerink commented on #3891
@whedon add @chainsawriot as reviewer

[2021-11-11 07:35] whedon commented on #3891
OK, @chainsawriot is now a reviewer

[2021-11-11 07:35] chartgerink commented on #3891
@whedon start review

[2021-11-11 07:35] whedon opened #3904 "[REVIEW]: Council Data Project: Software for Municipal Data Collection, Analysis, and Publication"
**Submitting author:** @JacksonMaxfield (<a href="http://orcid.org/0000-0003-2564-0373">Jackson Brown</a>)
**Repository:** <a href="https://github.com/CouncilDataProject/cookiecutter-cdp-deployment" target ="_blank">https://github.com/CouncilDataProject/cookiecutter-cdp-deployment</a>
**Version:** v3.0.0
**Editor:** @chartgerink
**Reviewer:** @hknd23, @chainsawriot
**Archive:** <a href="https://do

[2021-11-11 07:35] whedon commented on #3891
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3904.

[2021-11-11 07:35] #3891 closed

[2021-11-11 07:35] whedon commented on #3904
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @hknd23, @chainsawriot it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-11-11 07:35] whedon commented on #3904
Wordcount for `paper.md` is 1234

[2021-11-11 07:36] whedon commented on #3904
[code]

[2021-11-11 07:36] whedon commented on #3904
[code]

[2021-11-11 07:36] whedon commented on #3904
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03904/joss.03904/10.21105.joss.03904.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03904/joss.03904/10.21105.joss.03904.pdf) :page_facing_up: :point_left:

[2021-11-11 07:56] Bisaloo commented on #3811
@tretherington, you're all good. Thank you so much for your very helpful comments! :100:

[2021-11-11 07:58] Bisaloo commented on #3811
@lionel68, could you please go over you checklist in [this comment](https://github.com/openjournals/joss-reviews/issues/3811#issue-1022291832)?
After reviewing each item, either check it or open an issue in https://github.com/r-spatialecology/shar/issues if you think it should be improved. Thanks :pray:

[2021-11-11 08:05] vyasr commented on #3859
Hi all, apologies for being a bit slow here. I have been swamped but I plan to get my first round of review done either Friday or next Monday/Tuesday!

[2021-11-11 08:32] jiemakel commented on #3504
`fms-query-il` has now been updated to not require a `--to-date` parameter which was what caused the `TypeError`.

On the issue of bypassing IPR concerns by modifying the files for automated tests, I agree. We'll work on adding tests to cover examples of the different HTML formats.

[2021-11-11 08:42] arfon commented on #3308
@whedon set 10.5281/zenodo.5668161 as archive

[2021-11-11 08:42] whedon commented on #3308
OK. <a href="https://doi.org/10.5281/zenodo.5668161" target="_blank">10.5281/zenodo.5668161</a> is the archive.

[2021-11-11 08:43] arfon commented on #3308
@whedon recommend-accept

[2021-11-11 08:43] whedon commented on #3308
[code]

[2021-11-11 08:43] whedon commented on #3308
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2744

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2744, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-11 08:45] whedon commented on #3308
[code]

[2021-11-11 08:46] arfon commented on #3308
@whedon accept deposit=true

[2021-11-11 08:46] whedon commented on #3308
[code]

[2021-11-11 08:46] whedon commented on #3308
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1458717863808798722) 👈 🐦🐦🐦

[2021-11-11 08:46] whedon commented on #3308
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2745
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03308](https://doi.org/10.21105/joss.03308)
2. If everything look

[2021-11-11 09:00] JLBLine commented on #3676
Hey @dfm @mkolopanis @plaplant, the float vs double switch is working now, and I've updated the unit/integration tests accordingly. I've update the JOSS paper [here](https://github.com/JLBLine/WODEN/blob/joss_review/joss_paper/paper.pdf) with the new estimate on accuracy, and better explanations on how I handle polarisation.

Still have a few of the repo issues to catch up on, so the work will spi

[2021-11-11 09:03] arfon commented on #3308
@AlexChristensen, @GiulioCostantini – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@donaldRwilliams – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-11 09:03] #3308 closed

[2021-11-11 09:03] whedon commented on #3308
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03308/status.svg)](https://doi.org/10.21105/joss.03308)

**We need your help!**

Journal of Open Source Softwa

[2021-11-11 09:06] whedon commented on #3864
:wave: @drj11, please update us on how your review is going (this is an automated reminder).

[2021-11-11 09:36] drj11 commented on #3864
Oh good reminder @whedon I'll have a look this afternoon.

[2021-11-11 10:24] arfon commented on #3119
Documenting some additional activity on my part here: I've just emailed @CJ-Wright & @sbillinge to ask them:

1. To respond to @remram44's [initial review feedback above](https://github.com/openjournals/joss-reviews/issues/3119#issuecomment-8097815271)
2. To assist with finding a second reviewer.

[2021-11-11 11:26] BreezeWhite commented on #3391
Sorry for not having time to keep track on the review process. I think it's proper to pause the process now until the lab finds someone to keep working on the review.

[2021-11-11 12:14] whedon commented on #3865
:wave: @jameschapman19, please update us on how your review is going (this is an automated reminder).

[2021-11-11 13:15] osorensen commented on #3828
@fartist, could you please update us on how it's going with your review?

[2021-11-11 13:23] faroit commented on #3391
@hagenw @keunwoochoi do you think there are remaining issues that can be set to lower priority so that they can be done later, thus having the submission published sooner and not requiring @BreezeWhite to pause the review?

[2021-11-11 13:25] whedon commented on #3866
:wave: @sweichwald, please update us on how your review is going (this is an automated reminder).

[2021-11-11 13:25] whedon commented on #3866
:wave: @krystophny, please update us on how your review is going (this is an automated reminder).

[2021-11-11 13:47] BjoernBiltzinger commented on #3892
Hi @christinahedges, looking at the list of available reviewers, I think four possible reviewers for our submission could be: Fipanther, dhuppenkothen, smsharma, nespinoza

[2021-11-11 14:48] hagenw commented on #3391
Would be fine with me, my main concern was that the guidelines how to run the tests locally did not work for me.
When this is ok for publication then please go ahead.

[2021-11-11 15:57] JacksonMaxfield commented on #3904
Excited to see this move forward! Thanks all for agreeing to review.

As a reminder this is three tools together:
* https://github.com/CouncilDataProject/cookiecutter-cdp-deployment (the repo the paper is in)
* https://github.com/CouncilDataProject/cdp-backend
* https://github.com/CouncilDataProject/cdp-frontend

[2021-11-11 16:43] albincorreya commented on #3784
@bmcfee Confirming all the issues except the automated CI pipeline has been resolved. Since the CI pipeline is not a must-have, I let @MichaelSel make the call. He will work on it during future iterations of the project. Thus not blocking this review as I understand.

[2021-11-11 19:34] slayoo commented on #3219
@whedon generate pdf from branch JOSS

[2021-11-11 19:34] whedon commented on #3219
[code]

[2021-11-11 19:34] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2021-11-11 19:56] soffner commented on #3771
@changgoo: Thanks for bringing up this point. We have added PLUTO citations
to the documentation and JOSS paper as well as made the connection between
PLUTO and ORION2 more explicit. Note that PLUTO is released under the GNU
public license. The download link you sent appears to be so that the PLUTO
developers can collect information on users. It is not related to licensing.

On Mon, Nov 8, 2021 at

[2021-11-11 20:37] keunwoochoi commented on #3391
My issues are small documentation issues that wouldn’t be demanding so much. I’m afraid that could mean they will never be fixed if we decide it’s fine for now.
But, I wouldn’t try to convince others if we decide go ahead. All in all, this is my first time reviewing here and I’m learning, too.

[2021-11-11 22:24] fartist commented on #3828
Please find my review at [https://github.com/ahoshiyar/ordPens/issues/9]([REVIEW]), @ahoshiyar - solid work!

[2021-11-11 23:46] jonsampedro commented on #3820
Hello, I just wanted to let you know I have pushed the following changes to the main branch:

A suggested by @nanhung  , I have edited all the functions in the package, so that they create the corresponding subdirectory if it does not exist, instead of giving an error.

Following the comments by @ibarraespinosa , I have modified the main text and it now includes:
- A code example to show how the p

[2021-11-12 00:52] ibarraespinosa commented on #3820
Hello @jonsampedro thank for the update and sorry for the delay. I Will continue the review on weekend

[2021-11-12 01:15] madvn commented on #3842
Sorry about the delay, I will get to it this weekend.

[2021-11-12 02:14] erik-whiting commented on #3417
@whedon generate pdf

[2021-11-12 02:15] whedon commented on #3417
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: :point_left:

[2021-11-12 02:27] erik-whiting commented on #3417
@fboehm I've reread the Beiwe paper and believe @jponnela and the rest of the team has addressed everything I pointed out. The paper is great and @biblicabeebli documentation updates (completed a while ago) have already addressed all the non-paper issues I brought up. I've checked off the remaining items in my checklist and have closed the issues I opened on their repository.

My review is complet

[2021-11-12 02:40] keichi commented on #3777
Going through the list of reviewers, it seems GaurangTandon and Milantex are a good fit for the topic of this paper. I can suggest more if needed.

[2021-11-12 03:13] Tam-Pham commented on #3417
Thanks all for the revisions. I have read the revised manuscript and after taking into account @erik-whiting's opinion about the tests, I have checked off all remaining boxes.

@fboehm I have completed my review and recommend the work for publication.

[2021-11-12 03:17] lucass-carneiro commented on #3755
@kthyng Hey Kristen. I'm having trouble communicating with my editor. The last time she responded was over a month ago. Is there anything you can do?

[2021-11-12 03:58] HeloiseS commented on #3838
@ilyamandel  update -- my vaccine failed to properly install my 5G I think and I can't download the data set you recommended (I'm looking at DL speeds of <1GB/hour). If you have a recommendation for a smaller dataset I'll take it otherwise I'll just try to make a little simulation with all the things I need to run the tutos and play with them :)

[2021-11-12 03:58] kyleniemeyer commented on #3883
@mbatsaris - Unfortunately, this submission is still too small - it does not meet our substantial scholarly effort criterion for review by JOSS. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your work.

We noticed that you submitted this a day after submitting a

[2021-11-12 03:58] kyleniemeyer commented on #3883
@whedon reject

[2021-11-12 03:58] whedon commented on #3883
Paper rejected.

[2021-11-12 03:58] #3883 closed

[2021-11-12 09:50] xuanxu commented on #3863
@StanczakDominik would you be willing to review this paper? I think your knowledge of physics simulation software makes you a good fit for this submission.

[2021-11-12 09:58] osorensen commented on #3828
@mingzehuang, thanks for your great efforts so far! Do you have any other concerns to this submission, or have they been addressed? If so, could you please update your checklist at the top of this page?

[2021-11-12 10:03] StanczakDominik commented on #3863
Apologies,I'd love to and the package looks awesome from a glance, but I'm already overcommitted as it is at the moment :(

[2021-11-12 11:26] xuanxu commented on #3863
@CFGrote would you be willing to review this paper? I think your knowledge of physics and Python/C++ makes you a good fit for this submission.

[2021-11-12 11:44] drvinceknight commented on #2733
Apologies for the delay. Everything looks good to me.

[2021-11-12 11:45] drvinceknight commented on #2733
@koenderks could you make a tagged release and archive, and report the version number and archive DOI here. Please make sure the archive has the correct metadata (title and author list must match the paper).

[2021-11-12 11:52] drvinceknight commented on #3867
Thank @szhorvat, I will add you as a reviewer and deem to find other reviewers with expertise in Python/Rust.

[2021-11-12 11:53] drvinceknight commented on #3867
@whedon assign @szhorvat as reviewer

[2021-11-12 11:53] whedon commented on #3867
OK, @szhorvat is now a reviewer

[2021-11-12 11:56] drvinceknight commented on #3867
@jkbren, @inakleinbottle and @felipeZ I'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS (The Journal of Open Source Software).

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: “retworkx: A High-Performance Graph Library for Python” which I believe fits within your stated interests/expertise. Y

[2021-11-12 12:00] CFGrote commented on #3863
yes, count me in

On Fri, 2021-11-12 at 03:26 -0800, Juanjo Bazán wrote:

[2021-11-12 12:05] xuanxu commented on #3863
@CFGrote great, thanks! I'll add you as reviewer and start the review issue right away

[2021-11-12 12:06] xuanxu commented on #3863
@whedon add @CFGrote as reviewer

[2021-11-12 12:06] whedon commented on #3863
OK, @CFGrote is now a reviewer

[2021-11-12 12:06] xuanxu commented on #3863
@whedon start review

[2021-11-12 12:06] whedon opened #3905 "[REVIEW]: 3D Line Radiative Transfer & Synthetic Observations with Magritte"
**Submitting author:** @FredDeCeuster (<a href="http://orcid.org/0000-0001-5887-8498">Frederik De Ceuster</a>)
**Repository:** https://github.com/Magritte-code/Magritte
**Branch with paper.md** (empty if default branch): joss_paper_1.0
**Version:** 0.0.1
**Editor:** @xuanxu
**Reviewers:** @gonsie, @CFGrote
**Archive:** 10.5281/zenodo.6320469

**:warning: JOSS reduced service mode :warning:**

Due

[2021-11-12 12:06] whedon commented on #3863
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3905.

[2021-11-12 12:06] #3863 closed

[2021-11-12 12:06] whedon commented on #3905
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gonsie, @CFGrote it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-11-12 12:29] bmcfee commented on #3784
@albincorreya Would you mind updating the review checklist then?  We can move on when the checklist is complete.

[2021-11-12 12:48] fgeertman commented on #2733
Hi, There is no need for you to apologize given the time it took us to review ☺

From: Vince Knight ***@***.***
Sent: Friday, November 12, 2021 12:45 PM
To: openjournals/joss-reviews
Cc: Ferry Geertman; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: JASP for Audit: Bayesian Tools for the Auditing Practice (#2733)

Apologies for the delay. Everything looks good to me.

—
You are receivi

[2021-11-12 12:53] danielskatz commented on #3619
👋 @chad-iris - can you check again and see if this is ok now for you?

[2021-11-12 13:06] mingzehuang commented on #3828
Great work @ahoshiyar ! My last comment is to generate automated tests which is required by the checklist. [Tests](https://github.com/ahoshiyar/ordPens/issues/10)

[2021-11-12 13:07] trstewart212 commented on #2733
Agree… Glad it is done.

Trevor Stewart
175 West 13th Street, Apt 19D
New York, NY 10011
+1(212)929-0321
+1(917)402-9800 iPhone
***@***.***

On Nov 12, 2021, at 07:48, fgeertman ***@***.***> wrote:

Hi, There is no need for you to apologize given the time it took us to review ☺

From: Vince Knight ***@***.***
Sent: Friday, November 12, 2021 12:45 PM
To: openjournals/joss-reviews
Cc: Ferry Geertman

[2021-11-12 14:24] fboehm commented on #3417
@whedon check references

[2021-11-12 14:24] whedon commented on #3417
[code]

[2021-11-12 14:25] fboehm commented on #3417
@whedon generate pdf

[2021-11-12 14:25] whedon commented on #3417
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: :point_left:

[2021-11-12 14:28] fboehm commented on #3417
@jponnela and @biblicabeebli - The reviewers have completed their reviews and recommended your submission for publication. I'll do a final proofreading of the paper.md to look for any typos. Once I've completed that step, I'll provide instructions for the next steps in this thread. Thanks again!

[2021-11-12 14:49] stammler commented on #3882
@taless474: A quick question. We just noticed that whedon did not assign the second reviewer schruste to this review. Is this correct?

[2021-11-12 14:54] lucaferranti commented on #3882
tbh, I was surprised I was assigned to the issue, since I thought generally the issue is assigned to the editor 🤔
(also apologies for the delay with this, I'm planning to get it done this weekend)

[2021-11-12 14:55] sfuxy commented on #3835
Hello Melissa,

Yes, I will be able to start reviewing after thanksgiving. I’m very
familiar with conic programming, SOCP/SDP but it’s my first time review
with JOSS.
If I have questions related to the review process, can I refer them to you?

Thanks,
Silvano

Il giorno martedì 9 novembre 2021, Melissa Weber Mendonça <
***@***.***> ha scritto:

[2021-11-12 14:58] georgiastuart commented on #3076
I will be able to look at the update next week. Apologies for the delay.

[2021-11-12 14:59] georgiastuart commented on #3651
My apologies, this fell off my radar. I will have my review up ASAP next week.

[2021-11-12 15:18] kthyng commented on #3755
@lucass-carneiro Thanks for the ping. We're seeing if we can get ahold of @noatamir to check in too.

[2021-11-12 16:03] kescobo commented on #3876
@will-rowe

- Microbiome.jl [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.5682344.svg)](https://doi.org/10.5281/zenodo.5682344)
  - v0.8.3
  - doi: 10.5281/zenodo.5682344
- BiobakeryUtils.jl  [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.5682350.svg)](https://doi.org/10.5281/zenodo.5682350)
  - v0.5.4
  - doi: 10.5281/zenodo.5682350

[2021-11-12 16:23] kyleniemeyer commented on #3871
Hi @liquidcronos, the editorial board has reviewed your submission and found that it meets our expectations for review, so this will continue. However, we do not have an editor available in this area right now, so I'm going to place this on our waitlist until someone becomes available (hopefully soon!)

[2021-11-12 16:25] kyleniemeyer commented on #3314
@whedon generate pdf

[2021-11-12 16:27] whedon commented on #3314
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03314/joss.03314/10.21105.joss.03314.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03314/joss.03314/10.21105.joss.03314.pdf) :page_facing_up: :point_left:

[2021-11-12 16:29] majensen commented on #3431
@benjaminbolling - how is this effort coming along?

[2021-11-12 16:32] majensen commented on #3840
@chryswoods many apologies - I have been AWOL. I will get rolling with reviewers for your work.

[2021-11-12 16:32] majensen commented on #3840
@amoeba - would you have time/interest in reviewing [this work](#3840) for JOSS? Much appreciated as ever -

[2021-11-12 16:33] kyleniemeyer commented on #3314
It looks like this submission is in good shape to proceed, so I'm going to step in and get this past the finish line.

@WilkAndy thanks for addressing the reviewer comments. At this stage, could you now archive the software repository (for example, on Zenodo), make sure the title and authors list match the paper, and let us know the DOI here?

Also, I noticed a minor typo in the first paragraph in

[2021-11-12 16:37] kyleniemeyer commented on #3756
Hi @maxkfranz, can you please edit the metadata of the Zenodo archive so that the author list matches that of the paper?

[2021-11-12 16:37] kyleniemeyer commented on #3725
@whedon generate pdf

[2021-11-12 16:38] whedon commented on #3725
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03725/joss.03725/10.21105.joss.03725.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03725/joss.03725/10.21105.joss.03725.pdf) :page_facing_up: :point_left:

[2021-11-12 16:39] majensen commented on #3840
@acolum - Would you have time and interest in reviewing [this work](#3840) for [JOSS](https://joss.theoj.org)? Really appreciate your help in the past. Thanks -@majensen

[2021-11-12 16:39] kyleniemeyer commented on #3725
@whedon set 10.5281/zenodo.5665890 as archive

[2021-11-12 16:40] whedon commented on #3725
OK. <a href="https://doi.org/10.5281/zenodo.5665890" target="_blank">10.5281/zenodo.5665890</a> is the archive.

[2021-11-12 16:41] majensen commented on #3840
@klmedeiros - Thanks for your previous reviews for [JOSS](https://joss.theoj.org). Would you have time and interest to review [this new work](#3840)? Appreciate your consideration-
- @majensen

[2021-11-12 16:48] kyleniemeyer commented on #3725
@whedon check references

[2021-11-12 16:48] whedon commented on #3725
[code]

[2021-11-12 16:53] kyleniemeyer commented on #3725
Hi @temken, it looks like this submission is essentially at the finish line, so I'm going to step in and help wrap it up.

I found a few minor issues in the paper to fix:
- Throughout the article, can you please add commas after "e.g.", and commas before if used in the sentence (for example, at the end of the first paragraph, it should be "... backgrounds, e.g., due to cosmic rays.")
- Before equa

[2021-11-12 16:54] kyleniemeyer commented on #3827
Hi @richteague, can you edit the metadata of the Zenodo archive so that the title and author list match the JOSS paper?

[2021-11-12 16:57] kyleniemeyer commented on #3874
Hi @Spartanzhao, we are going to proceed with review of your submission.

@jmschrei can you edit this submission?

[2021-11-12 16:57] kyleniemeyer commented on #3874
@whedon invite @jmschrei as editor

[2021-11-12 16:57] whedon commented on #3874
@jmschrei has been invited to edit this submission.

[2021-11-12 16:58] klmedeiros commented on #3840
@majensen I'd be happy to!

[2021-11-12 16:59] majensen commented on #3840
@klmedeiros awesome, will add you in a jiffy

[2021-11-12 16:59] majensen commented on #3840
@whedon assign @klmedeiros as reviewer

[2021-11-12 16:59] whedon commented on #3840
OK, @klmedeiros is now a reviewer

[2021-11-12 17:00] elwinter commented on #3465
Hi Patrick. I have added some text, references, and links to the paper.md
that I think address these concerns. I still did not spend a lot of text on
other software, due to the space limitation. If you feel this still needs
to be changed, please let me know.

I verified that the paper.md & paper.bib render properly in whedon. Please
let me know if you or the other reviewers have any questions.

Th

[2021-11-12 17:19] acolum commented on #3840
@majensen Thank you, and I'd be happy to as well.

[2021-11-12 17:39] kyleniemeyer commented on #2974
Hi @geoffreyp, I just wanted to check in on the status of your work.

[2021-11-12 17:40] kyleniemeyer commented on #3886
Hi @tiagoseq, we are going to proceed with review of your submission.

@drvinceknight do you think you could edit this submission? The author has one reviewer suggestion already.

[2021-11-12 17:40] kyleniemeyer commented on #3886
@whedon invite @drvinceknight as editor

[2021-11-12 17:40] whedon commented on #3886
@drvinceknight has been invited to edit this submission.

[2021-11-12 17:45] geoffreyp commented on #2974
Hello @kyleniemeyer, I am waiting for the feedback from @chkoar (or from @sjvrijn if he has more time than @chkoar) ?
We still have 2 issues to close :
- https://github.com/moead-framework/framework/issues/71
- https://github.com/moead-framework/framework/issues/70

[2021-11-12 17:47] whedon opened #3906 "[PRE REVIEW]: PySS3: A new interpretable and simple machine learning model for text classification"
**Submitting author:** @sergioburdisso (<a href="http://orcid.org/0000-0002-7694-6834">Sergio Gastón Burdisso</a>)
**Repository:** <a href="https://github.com/sergioburdisso/pyss3" target ="_blank">https://github.com/sergioburdisso/pyss3</a>
**Version:** v0.6.4
**Editor:** @bmcfee
**Reviewers:** @hbaniecki, @kmichael08
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning

[2021-11-12 17:47] whedon commented on #3906
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-12 17:47] whedon commented on #3906
Wordcount for `paper.md` is 1642

[2021-11-12 17:47] whedon commented on #3906
[code]

[2021-11-12 17:47] whedon commented on #3906
[code]

[2021-11-12 17:47] whedon commented on #3906
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03906/joss.03906/10.21105.joss.03906.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03906/joss.03906/10.21105.joss.03906.pdf) :page_facing_up: :point_left:

[2021-11-12 17:53] kyleniemeyer commented on #3906
Hi @sergioburdisso, we will use this issue to find and assign editor and reviewers. While we are doing that, could you resolve those issues with the DOIs in your references?

@bmcfee could you edit this submission?

[2021-11-12 17:53] kyleniemeyer commented on #3906
@whedon invite @bmcfee as editor

[2021-11-12 17:53] whedon commented on #3906
@bmcfee has been invited to edit this submission.

[2021-11-12 17:54] whedon opened #3907 "[PRE REVIEW]: OpenCADD-KLIFS: A Python package to fetch kinase data from the KLIFS database"
**Submitting author:** @dominiquesydow (<a href="http://orcid.org/0000-0003-4205-8705">Dominique Sydow</a>)
**Repository:** <a href="https://github.com/volkamerlab/opencadd" target ="_blank">https://github.com/volkamerlab/opencadd</a>
**Version:** v1.0.0
**Editor:** @richardjgowers
**Reviewers:** @ojeda-e, @andrewtarzia, @mcs07
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode

[2021-11-12 17:54] whedon commented on #3907
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-12 17:54] whedon commented on #3907
PDF failed to compile for issue #3907 with the following error:
[code]

[2021-11-12 18:02] kyleniemeyer commented on #3907
Hi @dominiquesydow, it looks like your JOSS paper is not located in the repository correctly for our system to find. I think this may be because the paper is nested? Normally the paper is located in `paper/paper.md`.

@openjournals/dev can you give more-specific guidance here?

[2021-11-12 18:03] kyleniemeyer commented on #3907
@whedon invite @richardjgowers as editor

[2021-11-12 18:03] whedon commented on #3907
@richardjgowers has been invited to edit this submission.

[2021-11-12 18:04] danielskatz commented on #3907
@kyleniemeyer - I don't see a paper at all, in the tree or in a branch - JOSS should find it if it's in a directory. So maybe before an editor starts, we should make sure there is a paper added?

[2021-11-12 18:06] kyleniemeyer commented on #3907
@danielskatz the paper appears to be here: https://github.com/volkamerlab/opencadd/tree/master/papers/opencadd-klifs

[2021-11-12 18:07] kyleniemeyer commented on #3907
(@danielskatz that is what I meant about it being nested, it is at `papers/opencadd-klifs/paper.md`)

[2021-11-12 18:08] whedon opened #3908 "[PRE REVIEW]: limHaloPT: A numerical Package for Accurate Modelling of Line Intensity Power spectrum"
**Submitting author:** @amoradinejad (<a href="http://orcid.org/0000-0001-8841-9989">Azadeh Moradinezhad Dizgah</a>)
**Repository:** <a href="https://github.com/amoradinejad/limHaloPT" target ="_blank">https://github.com/amoradinejad/limHaloPT</a>
**Version:** v1.0.0
**Editor:** @eloisabentivegna
**Reviewers:** @ziotom78, @abhimaniyar
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced servi

[2021-11-12 18:08] whedon commented on #3908
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-12 18:08] whedon commented on #3908
Failed to discover a `Statement of need` section in paper

[2021-11-12 18:08] whedon commented on #3908
Wordcount for `paper.md` is 816

[2021-11-12 18:08] whedon commented on #3908
[code]

[2021-11-12 18:09] whedon commented on #3908
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03908/joss.03908/10.21105.joss.03908.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03908/joss.03908/10.21105.joss.03908.pdf) :page_facing_up: :point_left:

[2021-11-12 18:11] danielskatz commented on #3907
I see - whedon usually finds things like this - I wonder if the directory was called joss if that would help

[2021-11-12 18:19] melissawm commented on #3835
Of course, @sfuxy - that is perfectly fine, feel free to ping if you have any questions. If @Viech is ok with the review starting in december, I can assign @marwahaha, otherwise we can try to find another reviewer.

Just for information, I will assign @sfuxy as reviewer but the actual review issue will only start after a second reviewer is decided on.

[2021-11-12 18:20] melissawm commented on #3835
@whedon assign @sfuxy as reviewer

[2021-11-12 18:20] whedon commented on #3835
OK, @sfuxy is now a reviewer

[2021-11-12 18:23] jgostick commented on #3325
I have also dropped the ball here.  I will ping @jarvist on Slack to see how he's doing.

[2021-11-12 18:26] kyleniemeyer commented on #3908
@whedon check repository

[2021-11-12 18:26] whedon commented on #3908
Failed to discover a `Statement of need` section in paper

[2021-11-12 18:26] whedon commented on #3908
Wordcount for `paper.md` is 816

[2021-11-12 18:30] bmcfee commented on #3906
@whedon assign @bmcfee as editor

[2021-11-12 18:30] whedon commented on #3906
OK, the editor is @bmcfee

[2021-11-12 18:31] kyleniemeyer commented on #3908
For some reason @whedon is not reporting the repository/code statistics completely, I am not sure why. Also, the paper does have a "Statement of Need" section, it is just part of a "Scientific Context and Statement of Need" section title.

@amoradinejad while we are getting started, can you resolve the reference issues pointed out above?

[2021-11-12 18:35] kyleniemeyer commented on #3908
@amoradinejad I also noticed that the README describes the software documentation as still under development. For us to proceed with the review here, we expect sufficient documentation, as described in our [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#documentation).

I'm also not seeing anything in the software repository that looks like tests. Are there any tests o

[2021-11-12 18:35] whedon opened #3909 "[PRE REVIEW]: Cacatoo: building, exploring, and sharing spatially structured models of biological systems"
**Submitting author:** @bramvandijk88 (<a href="http://orcid.org/0000-0002-6330-6934">Bram van Dijk</a>)
**Repository:** <a href="https://github.com/bramvandijk88/cacatoo" target ="_blank">https://github.com/bramvandijk88/cacatoo</a>
**Version:** v1.0.0
**Editor:** @Bisaloo
**Reviewers:** @emilydolson, @TimKam
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2021-11-12 18:35] whedon commented on #3909
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-12 18:36] arfon commented on #3908
@kyleniemeyer – I ran `cloc` locally:

[code]

[2021-11-12 18:36] whedon commented on #3909
Wordcount for `paper.md` is 629

[2021-11-12 18:36] whedon commented on #3909
[code]

[2021-11-12 18:36] whedon commented on #3909
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03909/joss.03909/10.21105.joss.03909.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03909/joss.03909/10.21105.joss.03909.pdf) :page_facing_up: :point_left:

[2021-11-12 18:38] whedon commented on #3909
[code]

[2021-11-12 18:42] kyleniemeyer commented on #3909
Hi @bramvandijk88, as we are getting started in this pre-review issue, could you fix those missing DOIs in the references?

@Bisaloo could you edit this submission?

[2021-11-12 18:42] kyleniemeyer commented on #3909
@whedon invite @Bisaloo as editor

[2021-11-12 18:42] whedon commented on #3909
@Bisaloo has been invited to edit this submission.

[2021-11-12 18:43] whedon opened #3910 "[PRE REVIEW]: tweetfinder: Finding Embedded Tweets and Mentions of Tweets in Online News with Python"
**Submitting author:** @rahulbot (<a href="http://orcid.org/0000-0003-3904-4302">Rahul Bhargava</a>)
**Repository:** <a href="https://github.com/dataculturegroup/Tweet-Finder/" target ="_blank">https://github.com/dataculturegroup/Tweet-Finder/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-11-12 18:43] whedon commented on #3910
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-12 18:43] whedon commented on #3910
Wordcount for `paper.md` is 1218

[2021-11-12 18:43] whedon commented on #3910
[code]

[2021-11-12 18:43] whedon commented on #3910
[code]

[2021-11-12 18:43] whedon commented on #3910
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03910/joss.03910/10.21105.joss.03910.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03910/joss.03910/10.21105.joss.03910.pdf) :page_facing_up: :point_left:

[2021-11-12 18:44] christinahedges commented on #3892
Hi @BjoernBiltzinger thanks, I can look into these reviewers. Feel free to choose people who aren't on the list, who are in your field and understand your science use case well, and may be responsive to a JOSS review.

[2021-11-12 18:46] taless474 commented on #3882
@stammler, You are right. But I guess the issue is correct and both @lucaferranti and @schruste are the reviewers. Thank you for noticing it.

[2021-11-12 19:14] PTierz commented on #3649
Dear @meghanrjones, @elbeejay and @jifarquharson,

I hope this message finds you well.

I would like to kindly ask you to have a look at [Merge Request #17](https://github.com/BritishGeologicalSurvey/pyvolcans/pull/17) in our PyVOLCANS repository, and let us know whether you consider that the incorporated changes address [Issue #16](https://github.com/BritishGeologicalSurvey/pyvolcans/issues/16) s

[2021-11-12 19:20] kyleniemeyer commented on #3910
Hello @rahulbot, thanks for your interest in JOSS. Due to the relatively small size of this submission, we are going to review it to see if it meets our requirements for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2021-11-12 19:20] kyleniemeyer commented on #3910
@whedon query scope

[2021-11-12 19:20] whedon commented on #3910
Submission flagged for editorial review.

[2021-11-12 19:21] whedon opened #3911 "[PRE REVIEW]: medoutcon: Nonparametric efficient causal mediation analysis with machine learning in R"
**Submitting author:** @nhejazi (<a href="http://orcid.org/0000-0002-7127-2789">Nima Hejazi</a>)
**Repository:** <a href="https://github.com/nhejazi/medoutcon" target ="_blank">https://github.com/nhejazi/medoutcon</a>
**Version:** v0.1.5
**Editor:** @mikldk
**Reviewers:** @erikcs, @rrrlw
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-11-12 19:21] whedon commented on #3911
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-12 19:21] whedon commented on #3911
Failed to discover a `Statement of need` section in paper

[2021-11-12 19:21] whedon commented on #3911
Wordcount for `paper.md` is 1810

[2021-11-12 19:21] whedon commented on #3911
[code]

[2021-11-12 19:21] whedon commented on #3911
[code]

[2021-11-12 19:21] whedon commented on #3911
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03911/joss.03911/10.21105.joss.03911.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03911/joss.03911/10.21105.joss.03911.pdf) :page_facing_up: :point_left:

[2021-11-12 19:23] whedon opened #3912 "[PRE REVIEW]: WaveletsExt.jl: Extending the boundaries of wavelets in Julia"
**Submitting author:** @ShozenD (<a href="http://orcid.org/0000-0001-5575-641X">Shozen Dan</a>)
**Repository:** <a href="https://github.com/UCD4IDS/WaveletsExt.jl" target ="_blank">https://github.com/UCD4IDS/WaveletsExt.jl</a>
**Version:** v0.1.10
**Editor:** @bmcfee
**Reviewers:** @lostanlen, @malmaud
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-11-12 19:23] whedon commented on #3912
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-12 19:23] whedon commented on #3912
Wordcount for `paper.md` is 1310

[2021-11-12 19:23] whedon commented on #3912
[code]

[2021-11-12 19:23] whedon commented on #3912
[code]

[2021-11-12 19:23] whedon commented on #3912
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03912/joss.03912/10.21105.joss.03912.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03912/joss.03912/10.21105.joss.03912.pdf) :page_facing_up: :point_left:

[2021-11-12 19:25] kyleniemeyer commented on #3911
Hi @nhejazi, we will use this pre-review issue to get things started, by assigning an editor and finding reviewers. (Any suggestions you have for the latter would certainly be appreciated). In the meantime, could you work on resolving those DOI issues in your references?

@jmschrei could you edit this one?

[2021-11-12 19:25] kyleniemeyer commented on #3911
@whedon invite @jmschrei as editor

[2021-11-12 19:25] whedon commented on #3911
@jmschrei has been invited to edit this submission.

[2021-11-12 19:26] jmschrei commented on #3911
Hey @kyleniemeyer. I actually don't know R at all or the R ecosystem so I may not be the best editor here.

[2021-11-12 19:27] kyleniemeyer commented on #3912
Hi @bmcfee and @faroit, would one of you be able to edit this one?

[2021-11-12 19:27] jmschrei commented on #3874
@whedon assign me as editor

[2021-11-12 19:28] whedon commented on #3874
OK, the editor is @jmschrei

[2021-11-12 19:29] bmcfee commented on #3912
Sure, I can do this one.

[2021-11-12 19:29] whedon opened #3913 "[PRE REVIEW]: CR-Sparse: Hardware accelerated functional algorithms for sparse signal processing in Python using JAX"
**Submitting author:** @shailesh1729 (<a href="http://orcid.org/0000-0003-2217-4768">Shailesh Kumar</a>)
**Repository:** <a href="https://github.com/carnotresearch/cr-sparse" target ="_blank">https://github.com/carnotresearch/cr-sparse</a>
**Version:** v0.2.1
**Editor:** @pdebuyl
**Reviewers:** @Saran-nns, @mirca
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

D

[2021-11-12 19:29] whedon commented on #3913
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-12 19:29] whedon commented on #3913
Wordcount for `paper.md` is 4567

[2021-11-12 19:29] whedon commented on #3913
[code]

[2021-11-12 19:30] whedon commented on #3913
[code]

[2021-11-12 19:30] kyleniemeyer commented on #3912
@whedon assign @bmcfee as editor

[2021-11-12 19:30] whedon commented on #3912
OK, the editor is @bmcfee

[2021-11-12 19:31] kyleniemeyer commented on #3913
Hi @shailesh1729, while we are getting started with this submission, can you please check the missing DOIs in your references and add those where appropriate?

[2021-11-12 19:31] kyleniemeyer commented on #3913
@whedon invite @pdebuyl as editor

@pdebuyl could you edit this submission?

[2021-11-12 19:31] whedon commented on #3913
@pdebuyl has been invited to edit this submission.

[2021-11-12 19:33] kyleniemeyer commented on #3911
@jmschrei ok, I will see if I can find someone else. But, I will say that it's usually less important for the editor to be an expert on the language (vs. the domain) and much more important that the reviewers are.

[2021-11-12 19:34] kyleniemeyer commented on #3911
@whedon invite @mikldk editor

@mikldk could you edit this one?

[2021-11-12 19:34] whedon commented on #3911
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-12 19:34] kyleniemeyer commented on #3911
@whedon invite @mikldk as editor

@mikldk could you edit this one?

[2021-11-12 19:35] whedon commented on #3911
@mikldk has been invited to edit this submission.

[2021-11-12 19:56] majensen commented on #3840
Wonderful @acolum!

[2021-11-12 19:56] majensen commented on #3840
@whedon add @acolum as reviewer

[2021-11-12 19:56] whedon commented on #3840
OK, @acolum is now a reviewer

[2021-11-12 19:59] majensen commented on #3840
@amoeba - thanks for considering - I have got agreement from two others, so you're off the hook for this one - MAJ

[2021-11-12 20:02] jgostick commented on #3426
Hi @JeanBilheux..firstly, I am very sorry about how long this has taken! I have dedicated this afternoon to doing the review of your package, and have run into some issues during installation and usage:

* I use windows 10, so installed your package using the WSL2 tool.  It took ages, which I'm sure would also be the case on a native linux machine.  The problem was conda trying to resolve the conf

[2021-11-12 20:03] majensen commented on #3840
@whedon start review

[2021-11-12 20:03] whedon opened #3914 "[REVIEW]: MetaWards: A flexible metapopulation framework for modelling disease spread"
**Submitting author:** @chryswoods (<a href="http://orcid.org/0000-0001-6563-9903">Christopher Woods</a>)
**Repository:** <a href="https://github.com/metawards/MetaWards" target ="_blank">https://github.com/metawards/MetaWards</a>
**Version:** v1.6.1
**Editor:** @majensen
**Reviewer:** @klmedeiros, @acolum
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2021-11-12 20:03] whedon commented on #3840
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3914.

[2021-11-12 20:03] #3840 closed

[2021-11-12 20:03] whedon commented on #3914
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @klmedeiros, @acolum it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-11-12 20:03] whedon commented on #3914
PDF failed to compile for issue #3914 with the following error:
[code]

[2021-11-12 20:04] majensen commented on #3840
@chryswoods - thanks for your patience and @acolum @klmedeiros thanks for your service- we'll perform the review over at #3914

[2021-11-12 20:04] whedon commented on #3914
[code]

[2021-11-12 20:05] majensen commented on #3914
@whedon generate pdf with joss

[2021-11-12 20:05] whedon commented on #3914
PDF failed to compile for issue #3914 with the following error:
[code]

[2021-11-12 20:06] majensen commented on #3914
@whedon generate pdf from branch joss

[2021-11-12 20:06] whedon commented on #3914
[code]

[2021-11-12 20:07] whedon commented on #3914
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03914/joss.03914/10.21105.joss.03914.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03914/joss.03914/10.21105.joss.03914.pdf) :page_facing_up: :point_left:

[2021-11-12 20:46] albincorreya commented on #3784
@bmcfee done!

[2021-11-12 20:48] maxkfranz commented on #3756
The metadata on Zenodo has been updated: https://zenodo.org/record/4974637

[2021-11-12 21:00] bmcfee commented on #3784
Thanks @albincorreya !  It's not showing up on my side though.  Very weird.

[2021-11-12 21:02] richteague commented on #3827
Hi @kyleniemeyer, I should have changed that now.

[2021-11-12 21:04] kyleniemeyer commented on #3756
@whedon set 10.5281/zenodo.4891545 as archive

[2021-11-12 21:04] whedon commented on #3756
OK. <a href="https://doi.org/10.5281/zenodo.4891545" target="_blank">10.5281/zenodo.4891545</a> is the archive.

[2021-11-12 21:05] kyleniemeyer commented on #3827
@whedon set 10.5281/zenodo.5670586 as archive

[2021-11-12 21:05] whedon commented on #3827
OK. <a href="https://doi.org/10.5281/zenodo.5670586" target="_blank">10.5281/zenodo.5670586</a> is the archive.

[2021-11-12 21:05] kyleniemeyer commented on #3756
@whedon recommend-accept

[2021-11-12 21:05] whedon commented on #3756
[code]

[2021-11-12 21:06] kyleniemeyer commented on #3827
@whedon recommend-accept

[2021-11-12 21:06] whedon commented on #3756
[code]

[2021-11-12 21:06] whedon commented on #3827
[code]

[2021-11-12 21:06] whedon commented on #3827
[code]

[2021-11-12 21:06] whedon commented on #3756
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2746

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2746, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-12 21:06] whedon commented on #3827
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2747

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2747, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-12 21:07] kyleniemeyer commented on #3827
@whedon accept deposit=true

[2021-11-12 21:07] whedon commented on #3827
[code]

[2021-11-12 21:08] whedon commented on #3827
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1459266886332518404) 👈 🐦🐦🐦

[2021-11-12 21:08] whedon commented on #3827
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2748
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03827](https://doi.org/10.21105/joss.03827)
2. If everything look

[2021-11-12 21:10] kyleniemeyer commented on #3756
@whedon accept deposit=true

[2021-11-12 21:10] whedon commented on #3756
[code]

[2021-11-12 21:10] kyleniemeyer commented on #3827
Congratulations @richteague on your article's publication in JOSS!

Many thanks to @emptymalei and @cpinte for reviewing this, and @christinahedges for editing.

[2021-11-12 21:10] #3827 closed

[2021-11-12 21:10] whedon commented on #3827
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03827/status.svg)](https://doi.org/10.21105/joss.03827)

**We need your help!**

Journal of Open Source Softwa

[2021-11-12 21:11] whedon commented on #3756
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1459267541575127041) 👈 🐦🐦🐦

[2021-11-12 21:11] whedon commented on #3756
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2749
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03756](https://doi.org/10.21105/joss.03756)
2. If everything look

[2021-11-12 21:16] kyleniemeyer commented on #3756
Congratulations @maxkfranz on your article's publication in JOSS!

Many thanks to @AlexanderPico, @rabdill, and @apcamargo for reviewing this submission, and @galessiorob for editing.

[2021-11-12 21:16] #3756 closed

[2021-11-12 21:16] whedon commented on #3756
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03756/status.svg)](https://doi.org/10.21105/joss.03756)

**We need your help!**

Journal of Open Source Softwa

[2021-11-12 21:49] jgostick commented on #3426
Since I was unable to run it, I thought I would take a look at some of other checkboxes:

* tests.  The Readme has a badge that says the build is passing, which I found surprizing given how many dependencies this package has, so I clicked on the badge and got a 404 from TravisCI: https://www.travis-ci.com/neutronimaging/circular_profiler.  This is not a link to a branch specific build, this is the

[2021-11-12 21:58] bmcfee commented on #3912
@whedon add @lostanlen as reviewer

[2021-11-12 21:59] whedon commented on #3912
OK, @lostanlen is now a reviewer

[2021-11-12 21:59] jmschrei commented on #3874
@Spartanzhao have you fixed the issue with your paper yet?

[2021-11-12 22:33] katiebreivik commented on #3838
Hi Everyone -- apologies for my radio silence so far! I've been swamped with other tasks but wanted to give a heads up that I will be focusing on finishing up my review next week. One quick thing I wanted to bring up for discussion is the need for 100% consistent docstrings in all the code. In the review criteria (https://joss.readthedocs.io/en/latest/review_criteria.html#api-documentation) the ab

[2021-11-12 22:48] bmcfee commented on #3784
@whedon generate pdf

[2021-11-12 22:49] whedon commented on #3784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: :point_left:

[2021-11-12 22:50] bmcfee commented on #3784
@whedon check references

[2021-11-12 22:50] whedon commented on #3784
[code]

[2021-11-12 23:05] HeloiseS commented on #3838
Agreed, the formatting standadarsation is a looser request - I do strongly recommend it because I can see COMPAS growing a lot in the future as more users get on it and the standards you establish now (and I am not just talking about docstrings) are things you're going to be carrying with you long term - the C++ has a solid and explicit set of standards and good practices followed throughout, and

[2021-11-12 23:09] lockepatton commented on #2446
Hi @afron and @danielskatz, Apologies for the delay - I will look at the pep-0432 guidelines for changing sonipy to soni-py on pip, hopefully make the change and get back to you within the next couple weeks. Thank you both.

[2021-11-12 23:26] bmcfee commented on #3784
@MichaelSel things look generally good with the draft and the repo.  A couple of final to-dos for you:

1. Fix the missing DOI's in your references (see whedon comment above)
2. Create a new tag and release of the software incorporating changes made during the review.  (If it's already up to date, you can skip this step.)
3. Deposit the (new) release at an archive such as Zenodo or Figshare, and r

[2021-11-12 23:27] vyasr commented on #3859
Cool project @chasmani! I have actually wanted the ability to perform piecewise fits like this before. Have you ever looked at [pwlf](https://github.com/cjekel/piecewise_linear_fit_py/)? At one point I attempted to use it for similar tasks during my PhD, and although I didn't end up incorporating it into production workflows I found that it did a reasonably good job. It uses a significantly differ

[2021-11-13 00:43] bmcfee commented on #3906
@whedon assign @hbaniecki as reviewer

[2021-11-13 00:43] whedon commented on #3906
OK, @hbaniecki is now a reviewer

[2021-11-13 00:44] bmcfee commented on #3906
Note: @hbaniecki has agreed to review, but won't be available for another week or so.

[2021-11-13 00:56] diehlpk commented on #3465
@whedon generate pdf

[2021-11-13 00:56] whedon commented on #3465
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03465/joss.03465/10.21105.joss.03465.pdf) :page_facing_up: :point_left:

[2021-11-13 02:51] finagle29 commented on #3612
Hi @crhea93, I just wanted to follow up on these questions I had regarding your comments

[2021-11-13 05:17] ilyamandel commented on #3838
@HeloiseS: If I change
number_of_systems = 5000
in the standard pythonSubmit file (say, the one in examples/methods_paper_plots/chirpmass_distribution), I get ~20 DCOs in the output file in a run that takes under 1 minute.  That's not enough for pretty plots, but enough to get  examples to run without failing.

The output file is still large enough (129 MB) that it will probably be faster for you

[2021-11-13 05:51] ilyamandel commented on #3838
@HeloiseS, @katiebreivik -- a lot of Heloise's comments [thank you for the very nice list!] are about the python scripts.

You are absolutely correct that they are not at a consistent level of code quality, maintenance, and documentation.  Part of the problem is that many of the developers don't actually use these. :)  Because the processing tools are very problem-specific, so we tend to develop o

[2021-11-13 06:39] HeloiseS commented on #3838
Let's not throw the baby out with the bath water ;)

So like you suggested it might be worth differentiating between the python processing utilities that you anticipate users will need ont he regular and have those in tutorials, and then the stuff that reproduces paper results and are very specific could go in a separate section where it's not flagged as a utility but as a "here is the code we use

[2021-11-13 08:21] Viech commented on #3835
I'm fine with the review starting in December!

[2021-11-13 08:41] koenderks commented on #2733
Hi @drvinceknight,

- I have tagged the submitted version `jaspAudit-v0.16` on GitHub, see https://github.com/koenderks/jaspAudit/releases/tag/jaspAudit-v0.16.
- I have archived the software on Zenodo at [https://doi.org/10.5281/zenodo.5690631](https://doi.org/10.5281/zenodo.5690631) with the DOI of `10.5281/zenodo.5690631` and version number `0.16`.

[2021-11-13 09:04] dominiquesydow commented on #3907
Hi @kyleniemeyer and @danielskatz,

Thank you for opening this pre-review!

I am sorry for the holdup caused by the nested folder structure; I assumed it will work, since the [Whedon paper review service](https://whedon.theoj.org/) can locate the paper:
- Paper repository address: https://github.com/volkamerlab/opencadd
- Custom branch (optional): master

---

That is correct.

I have moved the fi

[2021-11-13 11:27] melissawm commented on #3835
Great, then I'll add @marwahaha as a reviewer and we can start. This will automatically close this issue, and a new one (where the actual review will happen) will be opened, and you all will be tagged on it. Thanks!

[2021-11-13 11:28] melissawm commented on #3835
@whedon add @marwahaha as reviewer

[2021-11-13 11:28] whedon commented on #3835
OK, @marwahaha is now a reviewer

[2021-11-13 11:29] melissawm commented on #3835
@whedon start review

[2021-11-13 11:29] whedon opened #3915 "[REVIEW]: PICOS: A Python interface to conic optimization solvers"
**Submitting author:** @Viech (<a href="http://orcid.org/0000-0002-0190-2693">Maximilian Stahlberg</a>)
**Repository:** <a href="https://gitlab.com/picos-api/picos" target ="_blank">https://gitlab.com/picos-api/picos</a>
**Version:** v2.4
**Editor:** @melissawm
**Reviewers:** @marwahaha, @GuillaumeDerval
**Archive:** <a href="https://doi.org/10.5281/zenodo.6053359" target="_blank">10.5281/zenodo.6

[2021-11-13 11:29] whedon commented on #3835
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3915.

[2021-11-13 11:29] #3835 closed

[2021-11-13 11:29] whedon commented on #3915
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sfuxy, @marwahaha it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-11-13 11:29] whedon commented on #3915
PDF failed to compile for issue #3915 with the following error:
[code]

[2021-11-13 11:30] whedon commented on #3915
[code]

[2021-11-13 11:30] melissawm commented on #3915
@whedon generate pdf from branch joss

[2021-11-13 11:30] whedon commented on #3915
[code]

[2021-11-13 11:31] whedon commented on #3915
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03915/joss.03915/10.21105.joss.03915.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03915/joss.03915/10.21105.joss.03915.pdf) :page_facing_up: :point_left:

[2021-11-13 11:33] melissawm commented on #3915
@Viech @sfuxy @marwahaha this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most other jou

[2021-11-13 12:08] shailesh1729 commented on #3913
Hi, I have updated the DOIs as reported missing.

[2021-11-13 12:09] shailesh1729 commented on #3913
@whedon generate pdf

[2021-11-13 12:10] whedon commented on #3913
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03913/joss.03913/10.21105.joss.03913.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03913/joss.03913/10.21105.joss.03913.pdf) :page_facing_up: :point_left:

[2021-11-13 12:13] Viech commented on #3915
Notifying my co-author @gsagnol.

[2021-11-13 12:14] amoradinejad commented on #3908
I resolved the reference issue, listed below.

MISSING DOIs

- 10.1088/1475-7516/2021/05/067 may be a valid DOI for title: Astrophysics & Cosmology from Line Intensity Mapping vs Galaxy Surveys

INVALID DOIs

Best,
Azadeh Moradinezhad

[2021-11-13 12:16] shailesh1729 commented on #3913
@whedon commands

[2021-11-13 12:16] whedon commented on #3913
Here are some things you can ask me to do:

[code]

[2021-11-13 12:16] shailesh1729 commented on #3913
@whedon check references

[2021-11-13 12:16] whedon commented on #3913
[code]

[2021-11-13 12:46] amoradinejad commented on #3908
Hi,

I address the two questions in-line below.

Documentation is complete, since only two functions were missing comments. I updated those comments. The full documentation was generated by Oxygen, and is found on the url https://amoradinejad.github.io/limHaloPT/html/index.html <https://amoradinejad.github.io/limHaloPT/html/index.html> .

There is no separate test file. However, the example tests

[2021-11-13 13:00] temken commented on #3725
Hi @kyleniemeyer,

Thanks a lot for looking over the paper. I implemented the changes you suggested and also ran a spell-check.

[Link to commit](https://github.com/temken/obscura/pull/35/commits/52c37bc5adaaaa6c7513b0aeaa939cc9e0232b17)

I hope it is now ready for publication. If not let me know :)
Best regards,
Timon

[2021-11-13 17:52] fboehm commented on #3417
@jponnela  and @biblicabeebli - here are a few minor corrections to paper.md that are needed before we proceed. Line numbers refer to those in the pdf.

lines 57-66: use lower case letters to start the words after the semicolons.
line 65: change (7) to (8).
line 78: fix citation for EARS. I *think* that you can fix this by deleting line 260 of paper.bib.
line 149: delete "a", i.e., "encrypt a symm

[2021-11-13 19:01] kyleniemeyer commented on #3907
@whedon generate pdf

[2021-11-13 19:01] whedon commented on #3907
PDF failed to compile for issue #3907 with the following error:
[code]

[2021-11-13 19:02] kyleniemeyer commented on #3907
@whedon generate pdf from branch joss-paper

[2021-11-13 19:02] whedon commented on #3907
[code]

[2021-11-13 19:02] whedon commented on #3907
PDF failed to compile for issue #3907 with the following error:
[code]

[2021-11-13 19:04] kyleniemeyer commented on #3907
@dominiquesydow Hmm, I'm really not sure what is going on. I can see the paper in `paper/paper.md` in the `joss-paper` branch, which should totally work. @openjournals/dev @arfon any ideas what is going on here?

Also, you can absolutely leave the paper in a branch that is never merged, or remove the paper after publication. We archive the paper itself and the software repository does not need to

[2021-11-13 19:04] kyleniemeyer commented on #3725
@whedon generage pdf

[2021-11-13 19:04] whedon commented on #3725
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-13 19:05] kyleniemeyer commented on #3725
@whedon generate pdf

[2021-11-13 19:05] whedon commented on #3725
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03725/joss.03725/10.21105.joss.03725.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03725/joss.03725/10.21105.joss.03725.pdf) :page_facing_up: :point_left:

[2021-11-13 19:09] kyleniemeyer commented on #3725
@temken Looks great! Can you now archive the repository (e.g., on Zenodo) and provide the DOI here?

[2021-11-13 19:09] kyleniemeyer commented on #3908
@amoradinejad thank you.

[2021-11-13 19:09] kyleniemeyer commented on #3908
@whedon generate pdf

[2021-11-13 19:10] whedon commented on #3908
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03908/joss.03908/10.21105.joss.03908.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03908/joss.03908/10.21105.joss.03908.pdf) :page_facing_up: :point_left:

[2021-11-13 19:10] kyleniemeyer commented on #3908
@whedon invite @eloisabentivegna as editor

@eloisabentivegna can you edit this submission?

[2021-11-13 19:10] whedon commented on #3908
@eloisabentivegna has been invited to edit this submission.

[2021-11-13 19:15] amoradinejad commented on #3908
Hi,

Since my scientific publications are cited with my full last name, Moradinezhad Dizgah, may I ask yo have the citation label (footnote on page 1) to “Moradinezhad Dizgah et al” instead of “Dizgah et al” ?

Thank you,
Azadeh Moradinezhad

[2021-11-13 20:34] temken commented on #3725
Since the last changes were only minor fixes to the paper, could we use the DOI provided before (v1.0.0)? [10.5281/zenodo.5665890](https://zenodo.org/record/5665890)

Or is it necessary to make a new release and generate a new DOI (v1.0.1)?

[2021-11-13 21:59] kyleniemeyer commented on #3725
@temken ah I missed that—if the only changes are in the paper then we can use the existing archive/version. Thanks!

[2021-11-13 22:00] kyleniemeyer commented on #3725
@whedon set 10.5281/zenodo.5665890 as archive

[2021-11-13 22:00] whedon commented on #3725
OK. <a href="https://doi.org/10.5281/zenodo.5665890" target="_blank">10.5281/zenodo.5665890</a> is the archive.

[2021-11-13 22:35] jedbrown commented on #3380
There's a sizable intersection of mixed FE and mimetic FD methods that are algebraically equivalent. FEEC gives a range of methods that satisfy the discrete compatibility, albeit going to high order in a different way (see ["periodic table" of finite elements](https://www-users.cse.umn.edu/~arnold/femtable/index.html)). As example of broader impact, note that FEEC is the foundation of the UK Met O

[2021-11-14 06:59] Spartanzhao commented on #3874
I think that I had fixed the issue on reference. But I am not sure whether there are some other issues.

[2021-11-14 07:01] Spartanzhao commented on #3874
@whedon generate pdf

[2021-11-14 07:02] whedon commented on #3874
PDF failed to compile for issue #3874 with the following error:
[code]

[2021-11-14 07:03] Spartanzhao commented on #3874
I just figured out how test my paper, I am fixing it as soon as possible.

[2021-11-14 07:21] Spartanzhao commented on #3874
@jmschrei , I have fixed the problem, my github have passed the test on https://whedon.theoj.org/

[2021-11-14 13:19] bramvandijk88 commented on #3909
Absolutely, I'll get on it.

On a seperate note, it's hard to find reviewers for this I can imagine. Not a lot of javascript programmers are in your list. In any case, these usernames seemed somewhat appropriate for my submission:

emilydolson
kavir1698
jamesdamillington
TimKam

[2021-11-14 21:08] k3yavi commented on #3831
Hi @mikldk , I am ready with my comments, may I ask ask where can I upload the checklist, as mentioned [here](https://joss.readthedocs.io/en/latest/review_checklist.html).

[2021-11-14 21:12] will-rowe commented on #3876
Hi @kescobo. I'm afraid the author list on the zenodo repository needs to match that of your paper - would you mind updating them?

[2021-11-14 21:36] kescobo commented on #3876
Ah, no sweat. Should be set @will-rowe

[2021-11-14 21:42] will-rowe commented on #3876
Great - thanks! All looks good to me. The one thing I'd say is that I've not come across a JOSS paper with 2 repositories/archives associated with the paper. I'll tag this submission with the Microbiome.jl archive but the EiC may have some suggestion on how this is usually handled.

[2021-11-14 21:42] will-rowe commented on #3876
@whedon set 10.5281/zenodo.5682344 as archive

[2021-11-14 21:42] whedon commented on #3876
OK. <a href="https://doi.org/10.5281/zenodo.5682344" target="_blank">10.5281/zenodo.5682344</a> is the archive.

[2021-11-14 21:43] will-rowe commented on #3876
@whedon set v0.8.2 as version

[2021-11-14 21:43] whedon commented on #3876
OK. v0.8.2 is the version.

[2021-11-14 21:43] will-rowe commented on #3876
@whedon recommend-accept

[2021-11-14 21:43] whedon commented on #3876
[code]

[2021-11-14 21:43] whedon commented on #3876
[code]

[2021-11-14 21:44] whedon commented on #3876
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2750

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2750, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-15 01:15] WilkAndy commented on #3314
@kyleniemeyer

- i have published on zonodo: https://doi.org/10.5281/zenodo.5701422
- i have added the comma that you mentioned, and the change has been merged into the "next" branch.  However, it will take 1-2 days to merge into "master".

[2021-11-15 01:17] bidochon commented on #3426
* I'm so sorry about the build that did not work. I tested it on Linux and mac and didn't have access to a windows machine at that time (I do now). So not being able to build the program is my mistake. Sorry about that.
* This program is part of a big suite of tools (that I have been implemented for our users) and that I isolated for the purpose of this publication.
* This program, and the entire

[2021-11-15 02:31] kescobo commented on #3876
PDF looks good to me! Thanks again everyone :-)

[2021-11-15 02:43] HeloiseS commented on #3838
@ilyamandel @jeffriley - is there an native option to make COMPAS use X cores that I missed  or do i need to do that by calling it in a bash script or something (or maybe does it do it automatically but i'm just not running enough models for that to trigger).

[2021-11-15 03:55] jeffriley commented on #3838
@HeloiseS COMPAS is not threaded, but it doesn't need to be.  You can just run X standalone runs on X cores, and provided you used appropriate starting random seeds (so there's no overlap between runs), you can just join all the output files together after the runs have completed.  If you use HDF5 output files, the use h5copy.py to join the output files into a single HDF5 files.

I think we're tes

[2021-11-15 07:12] hugoledoux commented on #3346
@gro5-AberUni could you please let us know if you plan to work on the required changes/updates?

[2021-11-15 09:04] pdebuyl commented on #3913
@kyleniemeyer yes I'll edit

[2021-11-15 09:04] pdebuyl commented on #3913
@whedon assign me as editor

[2021-11-15 09:04] whedon commented on #3913
OK, the editor is @pdebuyl

[2021-11-15 09:11] krystophny commented on #3866
Hi everyone, sorry for the slowness - I will manage to finish until end of the week.

[2021-11-15 09:13] JonasMoss commented on #3877
@galessiorob I can't mark any of the check boxes. Maybe because I forgot to accept an invitation...

[2021-11-15 09:14] pdebuyl commented on #3913
@saran-nns @mirca would you review the article "CR-Sparse: Hardware accelerated functional algorithms for sparse signal processing in Python using JAX" for the Journal of Open Source Software?

[2021-11-15 09:29] Saran-nns commented on #3913
Hi @pdebuyl yes I'd be happy to review

[2021-11-15 10:12] adi3 commented on #3490
@destogl - 👋 please update us on how your review is going

[2021-11-15 10:21] pdebuyl commented on #3913
@whedon assign @Saran-nns as reviewer

[2021-11-15 10:21] whedon commented on #3913
OK, @Saran-nns is now a reviewer

[2021-11-15 10:23] mikldk commented on #3831
@k3yavi That sounds great. Please hang on to the comments while we find an additional reviewer. Once that is done, I will create a review issue with a checklist that you can use (and mention additional things in that issue or by creating issues in the software's repo that are then mentioning the review issue).

@mbhall88 Unfortunately, it seems like @kblin is unable to review. Can you please sugge

[2021-11-15 10:25] mikldk commented on #3911
@whedon assign me as editor

[2021-11-15 10:25] whedon commented on #3911
OK, the editor is @mikldk

[2021-11-15 10:26] mikldk commented on #3911
@nhejazi - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers)?

[2021-11-15 11:06] mirca commented on #3913
@pdebuyl Sure, I'm able to review it.

[2021-11-15 11:10] chartgerink commented on #3822
I haven't heard back from @tianxzhu, but given the positive review from @svmiller and no negative comments from @tianxzhu - I will move forward and am happy to accept this for publication, @johannes-titz 😊

@johannes-titz could you please deposit the software in Zenodo/FigShare and share the DOI with me? I will initiate some of whedon's checks in the meantime.

[2021-11-15 11:10] chartgerink commented on #3822
@whedon generate pdf

[2021-11-15 11:11] whedon commented on #3822
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03822/joss.03822/10.21105.joss.03822.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03822/joss.03822/10.21105.joss.03822.pdf) :page_facing_up: :point_left:

[2021-11-15 11:12] chartgerink commented on #3822
@whedon check references

[2021-11-15 11:12] whedon commented on #3822
[code]

[2021-11-15 11:30] whedon commented on #3701
OK, @raybecker is now a reviewer

[2021-11-15 11:32] oliviaguest commented on #3638
hey @ahwillia do you think you might be able to review this? 😊

[2021-11-15 11:53] BreezeWhite commented on #3391
Hi @hagenw, I've updated the code. Can you pull the code and try again?

[2021-11-15 13:15] Mkoopm commented on #3727
@rkurchin: We are still working on some of the raised concerns.

@roderickmackenzie: We share your concerns about non-equilibrium traps and have made the bulk traps fully transient. We are working on the implementation of non-equilibrium interface traps and will send you an update when the changes are uploaded to GitHub.

@shahmoradi: We agree that testing is currently difficult. We are working on

[2021-11-15 13:26] johannes-titz commented on #3822
@chartgerink Thank you very much! I just made a final commit for the release and released version 0.2.1 on github (tag v0.2.1), which is also linked at zenodo (https://zenodo.org/record/5702779) with the following doi: 10.5281/zenodo.5702779

Do you need anything else?

@svmiller Thank you for such a positive feedback! I hope the software will be as useful as your review suggests :).

@tianxzhu Th

[2021-11-15 14:47] jgostick commented on #3426
I am sorry that I chased you away.  I am a JOSS associate editor, but I do not speak for JOSS officially...I just sheppard along the review process (in your case by acting as the second reviewer).  However, JOSS editors tend to decline GUI-only type contributions (like the Shiny apps written for R) during the "scope check" phase (which your package passed).  These usually represent wrappers around

[2021-11-15 15:21] elbeejay commented on #3649
Hi @PTierz,

Thank you for your efforts to add functionality in this new merge request.

You previously noted that additional tests would be written:

do you expect this work effort to take place in a separate branch / PR?

And I think a more minor but valid suggestion raised by @meghanrjones was:

I agree that at minimum this should be incorporated in the summary section of the paper, if not in t

[2021-11-15 15:51] chartgerink commented on #3822
@whedon set 10.5281/zenodo.5702779 as archive

[2021-11-15 15:51] whedon commented on #3822
OK. <a href="https://doi.org/10.5281/zenodo.5702779" target="_blank">10.5281/zenodo.5702779</a> is the archive.

[2021-11-15 15:52] chartgerink commented on #3822
@whedon recommend-accept

[2021-11-15 15:52] whedon commented on #3822
[code]

[2021-11-15 15:52] whedon commented on #3822
[code]

[2021-11-15 15:52] whedon commented on #3822
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2751

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2751, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-15 15:52] chartgerink commented on #3822
@johannes-titz the editor in chief that's on rotation will do a final pass and may come back with a final bit here and there. Otherwise, we're good and thank you for your patience as we worked through this :)

[2021-11-15 16:07] emdupre commented on #3823
Thanks @ejolly for your review !

It looks like https://github.com/jameschapman19/cca_zoo/issues/74, https://github.com/jameschapman19/cca_zoo/issues/75, https://github.com/jameschapman19/cca_zoo/issues/76, and https://github.com/jameschapman19/cca_zoo/issues/77 were all created in response to reviewer feedback, so I'll monitor those issues to see how the revisions are going.

@hugorichard @robbis

[2021-11-15 16:17] IvanIsCoding commented on #3867
@whedon generate pdf from branch joss-paper

[2021-11-15 16:17] whedon commented on #3867
[code]

[2021-11-15 16:18] whedon commented on #3867
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03867/joss.03867/10.21105.joss.03867.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03867/joss.03867/10.21105.joss.03867.pdf) :page_facing_up: :point_left:

[2021-11-15 16:19] inakleinbottle commented on #3867
@drvinceknight I'd be happy to review that article.

[2021-11-15 16:21] galessiorob commented on #3877
@whedon re-invite @JonasMoss as reviewer

[2021-11-15 16:21] whedon commented on #3877
OK, the reviewer has been re-invited.

@jonasmoss please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-15 16:21] galessiorob commented on #3877
@JonasMoss mind trying again and letting me know if the issue has been resolved, please?

[2021-11-15 16:50] Bisaloo commented on #3909
@whedon assign me as editor

[2021-11-15 16:50] whedon commented on #3909
OK, the editor is @Bisaloo

[2021-11-15 17:01] Bisaloo commented on #3909
:wave: :wave: @kyleniemeyer @bramvandijk88, yes I can edit this issue.

Before we can get properly started, I notice that whedon severely overestimates the number of code lines. Whedon uses GitHub's linguist to detect the relevant files & languages. Could you edit your `.gitattributes` with the relevant `linguist-` attributes ([examples](https://stackoverflow.com/a/43142088)) so that auto-generate

[2021-11-15 17:15] martinfleis commented on #3761
Hi @1tylermitchell @RafalKucharskiPK,

can you give me an indication of how much time do you need to finish the review (following the checklist above)? It's currently 8 weeks since the review started and it would be great if we could wrap this soon so @marina-haliem can work on the revisions.

Thanks!

[2021-11-15 17:17] chasmani commented on #3859
Thank you @htjb for your review and comments. There were some good tips to improve the codebase. (I will address @vyasr 's comments separately).

I've addressed those and included responses in bold below. I've implemented the majority of the suggestions.

1. The readme is well written however it might benefit from an additional section detailing the required packages. It would also be good to incl

[2021-11-15 18:19] diehlpk commented on #3465
@elwinter I am fine with all of your other changes. But I still think have some more details on related work will be helpful to the reader. Might you add some list of similar packages and provide some references?

It reads strange that nnde, TensorFlow, and PyTorch are the only packages.

Or at least make some statement that many more packages are available, but TensorFlow and PyTorch are the most

[2021-11-15 18:20] diehlpk commented on #3390
@Muhao-Chen Could you give some estimate when you intend to finish working on the reviewer's remarks?

[2021-11-15 18:21] diehlpk commented on #3631
@wtraylor How is the editing going?

[2021-11-15 18:22] diehlpk commented on #3631
@wtraylor Could you might recommend some additional reviewers?

[2021-11-15 18:22] diehlpk commented on #3724
@KParas, @srmnitc how is your review going?

[2021-11-15 18:22] danielskatz commented on #3618
I've just emailed @TomGoffrey and @rouson

[2021-11-15 18:23] danielskatz commented on #3619
I see all the boxes in @chad-iris's list are now checked - thanks!

[2021-11-15 18:24] danielskatz commented on #3619
👋 @mbegnaud - can you let us know how things are going from your side?  When can you commit to have this done (or at least the first pass)?

[2021-11-15 18:25] danielskatz commented on #3851
👋 @ddeehere - I probably need some more suggestions from you.

[2021-11-15 18:25] danielskatz commented on #3851
👋 @scossin & @vianneyJouhet - just checking with you both again re https://github.com/openjournals/joss-reviews/issues/3851#issuecomment-963542710

[2021-11-15 18:35] jmschrei commented on #3874
@whedon generate pdf

[2021-11-15 18:36] whedon commented on #3874
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03874/joss.03874/10.21105.joss.03874.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03874/joss.03874/10.21105.joss.03874.pdf) :page_facing_up: :point_left:

[2021-11-15 18:40] jmschrei commented on #3874
@whedon add @pkerpedjiev as reviewer

[2021-11-15 18:40] whedon commented on #3874
OK, @pkerpedjiev is now a reviewer

[2021-11-15 19:27] jmschrei commented on #3874
@whedon add @elliothershberg as reviewer

[2021-11-15 19:27] whedon commented on #3874
OK, @elliothershberg is now a reviewer

[2021-11-15 19:28] jmschrei commented on #3874
@whedon start review

[2021-11-15 19:28] whedon opened #3916 "[REVIEW]: Annoroad Browser: A multi-omic visualization tool"
**Submitting author:** @Spartanzhao (<a href="http://orcid.org/0000-0001-5293-820X">Yue Zhao</a>)
**Repository:** <a href="https://github.com/Spartanzhao/Annoroad-Browser/" target ="_blank">https://github.com/Spartanzhao/Annoroad-Browser/</a>
**Version:** v.1.0.0
**Editor:** @jmschrei
**Reviewer:** @pkerpedjiev, @elliothershberg
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:

[2021-11-15 19:28] whedon commented on #3874
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3916.

[2021-11-15 19:28] #3874 closed

[2021-11-15 19:28] whedon commented on #3916
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pkerpedjiev, @elliothershberg it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2021-11-15 19:28] whedon commented on #3916
[code]

[2021-11-15 19:28] whedon commented on #3916
Wordcount for `paper.md` is 1277

[2021-11-15 19:28] whedon commented on #3916
[code]

[2021-11-15 19:28] whedon commented on #3916
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03916/joss.03916/10.21105.joss.03916.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03916/joss.03916/10.21105.joss.03916.pdf) :page_facing_up: :point_left:

[2021-11-15 19:30] jmschrei commented on #3916
Howdy @pkerpedjiev and @elliothershberg

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above in the checklist from @whedon. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues in the repository itself to point out issues you encounter. Keep in mind that our aim is to improve the submission

[2021-11-15 20:45] jgostick commented on #3426
@whedon assign @jgostick as editor

[2021-11-15 20:58] sergioburdisso commented on #3906
Hi guys! thank you for consider my submission :)

Hi! yes, I've just updated the DOIs and pushed the changes to the repository. :rocket: thank you for the suggestion.

Ok. No problem, so we will wait until @hbaniecki is available then :+1:

Again, thank you guys for taking the time to process and reviewing this submission! :muscle:

[2021-11-15 22:45] eloisabentivegna commented on #3908
Sure!

[2021-11-15 22:46] eloisabentivegna commented on #3908
@whedon assign @eloisabentivegna as editor

[2021-11-15 22:46] whedon commented on #3908
OK, the editor is @eloisabentivegna

[2021-11-15 23:47] ahwillia commented on #3638
Sorry - I also don't have a MATLAB license, and I'm moving across the country in 2 weeks so I don't think I have the bandwidth. I'm not sure I have other reviewers I could suggest, but let me know if you'd like help on that front...

[2021-11-15 23:48] JostMigenda commented on #3772
👋 @PeterDenton — It’s been a couple of weeks since your last activity on this issue. If you got stuck while installing or using SNEWPY, can you please let us know? I’m happy to help to ensure that we can progress with this review!

[2021-11-15 23:49] mbegnaud commented on #3619
Working on it. Will be doing a little bit each day. Hoping to have it done by Thursday.

[2021-11-15 23:57] kyleniemeyer commented on #3908
This may be something that @arfon has to do manually when we get to the publication stage.

[2021-11-16 00:45] nhejazi commented on #3911
Thanks for editing this submission @mikldk. The ideal reviewer would have a working knowledge of R and some familiarity with causal inference and machine learning. Perhaps someone (or a few) among @jjharden, @csinva, @tedinburgh, @mariacuellar, and @tgerke might have time to review this?

[2021-11-16 01:08] mbhall88 commented on #3831
`holtgrewe` and `bovee`?

[2021-11-16 01:27] fboehm commented on #3888
@ha0ye and @

[2021-11-16 01:36] lutzhamel commented on #3849
Hello, sorry for the delay. I finally have some time to spend on the review.  I'm hoping to complete in the next week or two.

Best.

[2021-11-16 03:20] siara-cc commented on #3890
Hi @gkthiruvathukal, please see my reply above - not sure if it missed your notice.

[2021-11-16 03:21] gkthiruvathukal commented on #3890
Thanks, @siara-cc! Stay tuned.

[2021-11-16 03:22] gkthiruvathukal commented on #3890
@linuxscout and gradvohl: Are you willing to help contribute a review for this JOSS submission?

[2021-11-16 05:02] jedbrown commented on #3314
@whedon set 10.5281/zenodo.5701422 as archive

[2021-11-16 05:02] whedon commented on #3314
OK. <a href="https://doi.org/10.5281/zenodo.5701422" target="_blank">10.5281/zenodo.5701422</a> is the archive.

[2021-11-16 05:02] jedbrown commented on #3314
@whedon set Snapshop 21-November-14 as version

[2021-11-16 05:02] whedon commented on #3314
OK. Snapshop 21-November-14 is the version.

[2021-11-16 05:06] jedbrown commented on #3314
Thanks for your patience, @WilkAndy, and thanks to @kyleniemeyer for backstopping. Please consider the PR (https://github.com/idaholab/moose/pull/19404) with minor copy edits and fixing the duplicate link for the PETSc website (also updated to the new URL). We can proceed as soon as that is in a branch (any branch) of the main repo.

[2021-11-16 08:18] samanmostafavi commented on #3861
Hi @fraukewiese, I'll review your software in the next few days, and open up issues in the repository as I go along. Once finished, I'll summarize back here.

[2021-11-16 08:21] srmnitc commented on #3724
@diehlpk Thanks for the reminder. I will finish it next week.

[2021-11-16 09:35] arfon commented on #3907
@whedon generate pdf from branch joss-paper

[2021-11-16 09:35] whedon commented on #3907
[code]

[2021-11-16 09:35] whedon commented on #3907
PDF failed to compile for issue #3907 with the following error:
[code]

[2021-11-16 09:40] arfon commented on #3907
@whedon generate pdf from branch joss-paper

[2021-11-16 09:40] whedon commented on #3907
[code]

[2021-11-16 09:40] whedon commented on #3907
PDF failed to compile for issue #3907 with the following error:
[code]

[2021-11-16 09:43] arfon commented on #3907
@whedon generate pdf from branch joss-paper

[2021-11-16 09:43] whedon commented on #3907
[code]

[2021-11-16 09:44] arfon commented on #3908
Yes, please mention this at the end of the review process @amoradinejad – we have to manually fix this when the paper is ready to be published.

[2021-11-16 09:46] arfon commented on #3907
@dominiquesydow – apologies for the issues here. I've found the original issue (the repository address had a space in it which was confusing Whedon).

The paper currently won't compile as there are two `paper.md` files present. (`/papers/opencadd-klifs/paper.md`, `/paper/paper.md`). Please delete one of these (either is fine).

[2021-11-16 09:58] dominiquesydow commented on #3907
@whedon generate pdf from branch joss-paper

[2021-11-16 09:58] whedon commented on #3907
[code]

[2021-11-16 09:58] whedon commented on #3907
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03907/joss.03907/10.21105.joss.03907.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03907/joss.03907/10.21105.joss.03907.pdf) :page_facing_up: :point_left:

[2021-11-16 09:59] bramvandijk88 commented on #3909
Thanks for editing.

Yeah, good point. I didn't even notice I had added the node modules, so I'll get on it.

I'll let you know when I've updated it, and let's see.

[2021-11-16 10:01] dominiquesydow commented on #3907
Hi @arfon, my apologies for the space in the URL. I removed the duplicated `paper.md` file - Whedon is successful now.
Thanks for your help!

[2021-11-16 10:21] Nikoleta-v3 commented on #3522
@whedon remove  @alexhanna as reviewer

[2021-11-16 10:21] whedon commented on #3522
OK,  @alexhanna is no longer a reviewer

[2021-11-16 10:23] arfon commented on #3907
@whedon check repository

[2021-11-16 10:24] whedon commented on #3907
Wordcount for `paper.md` is 730

[2021-11-16 10:24] whedon commented on #3907
[code]

[2021-11-16 10:25] whedon commented on #3876
:wave: @adRn-s, please update us on how your review is going (this is an automated reminder).

[2021-11-16 10:44] jameschapman19 commented on #3865
I'm not sure how to edit the checklist but I have checked them all off.

Firstly cool package and it's nice to be familiar enough with the area to be able to review this so thankyou for the opportunity.

A couple of bits from me:

- I wonder if the tests under test_problem could have some sort of basic assertion (this is a problem I have had with my own recent JOSS submission!) I assume if the pro

[2021-11-16 10:48] bramvandijk88 commented on #3909
@Bisaloo I have

i) removed node modules from the repository and added it to .gitignore
ii) added a .gitattributes file that excludes certain files from the documentation that aren't part of the core code, or are duplicated files for the github.io page.

Let me know if this resolves the line count issues.

[2021-11-16 10:48] jameschapman19 commented on #3865
One more:

- Could solve have a verbosity=False option

[2021-11-16 10:49] TomGoffrey commented on #3618
@whedon generate pdf

[2021-11-16 10:50] whedon commented on #3618
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03618/joss.03618/10.21105.joss.03618.pdf) :page_facing_up: :point_left:

[2021-11-16 10:52] Bisaloo commented on #3909
@whedon check repository

[2021-11-16 10:53] whedon commented on #3909
Wordcount for `paper.md` is 629

[2021-11-16 10:53] whedon commented on #3909
[code]

[2021-11-16 11:06] JonasMoss commented on #3877
@galessiorob Works now!

[2021-11-16 11:11] eferrea commented on #3638
Hi @oliviaguest , other potential reviewers are puolivali, wmvanvliet and EtienneCmb.
Thanks,

[2021-11-16 11:20] Bisaloo commented on #3909
Thanks for your quick answer! I believe a couple of other changes are necessary:

- `dist/` should be `.gitignore`d since users will generate it from the contents of `src/`
- `lib/` contents are third party dependencies, right? If so, they should be marked as `linguist-vendored` in `.gitignore`

Please let me know if I misunderstand something or if you disagree.

I believe we should be good to go

[2021-11-16 11:26] Bisaloo commented on #3909
Regarding reviewers, we are not limited the google spreadsheet. The list contains people who agreed to review for JOSS but if you know potential good reviewers who are not in the list, feel free to suggest them as well.

[2021-11-16 12:02] baileythegreen commented on #3347
@faroit Apoligies for the delay(s), I've had many things to balance.

The new installation procedure is indeed, very nice, and I imagine it will pre-empt many problems. I have been able to upload new data and run queries, and obtain results that look as I would expect. I'm satisfied with this, and have completed my checklist.

[2021-11-16 12:22] bramvandijk88 commented on #3909
No, I don't actually want to do that. I'm uploading the compiled library to the repository so that users can immediately dive into the examples without having to install anything. The zero-install is one of the selling points of this package ;D

Yes, thanks, I've added it.

Alright, good. The problem with finding reviewers is that this is a really niche library (javascript is not very common, and

[2021-11-16 12:30] Bisaloo commented on #3909
Okay, fair enough. I had a look at the jsfiddle examples and it looks very nice.

I would still recommend you add `linguist-generated` to `dist/` so it doesn't show up in diff but it's up to you.

I'll start looking into reviewers.

[2021-11-16 12:40] bramvandijk88 commented on #3909
Actually, yes, I'll do that.

[2021-11-16 12:45] pdebuyl commented on #3913
Hi @mirca thanks for accepting!

[2021-11-16 12:46] pdebuyl commented on #3913
@whedon add @mirca as reviewer

[2021-11-16 12:46] whedon commented on #3913
OK, @mirca is now a reviewer

[2021-11-16 12:46] pdebuyl commented on #3913
@whedon start review

[2021-11-16 12:46] whedon opened #3917 "[REVIEW]: CR-Sparse: Hardware accelerated functional algorithms for sparse signal processing in Python using JAX"
**Submitting author:** @shailesh1729 (<a href="http://orcid.org/0000-0003-2217-4768">Shailesh Kumar</a>)
**Repository:** <a href="https://github.com/carnotresearch/cr-sparse" target ="_blank">https://github.com/carnotresearch/cr-sparse</a>
**Version:** v0.2.2
**Editor:** @pdebuyl
**Reviewer:** @Saran-nns, @mirca
**Archive:** <a href="https://doi.org/10.5281/zenodo.5749792" target="_blank">10.5281/

[2021-11-16 12:46] whedon commented on #3913
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3917.

[2021-11-16 12:46] #3913 closed

[2021-11-16 12:46] whedon commented on #3917
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Saran-nns, @mirca it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-11-16 12:46] whedon commented on #3917
Wordcount for `paper.md` is 4567

[2021-11-16 12:46] whedon commented on #3917
[code]

[2021-11-16 12:46] whedon commented on #3917
[code]

[2021-11-16 12:47] whedon commented on #3917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: :point_left:

[2021-11-16 12:47] gradvohl commented on #3890
Yes. I'm in.

[2021-11-16 13:07] Kevin-Mattheus-Moerman commented on #3869
@PolymerGuy I have started to look for reviewers for this submission. If you are able to suggest reviewers at this point that would be helpful. You can mention their github handle here but leave out the `@` symbol.

[2021-11-16 13:15] linuxscout opened #3918 "@linuxscout and @gradvohl: Are you willing to help contribute a review for this JOSS submission?"
ok, I accept

_Originally posted by @gkthiruvathukal in https://github.com/openjournals/joss-reviews/issues/3890#issuecomment-969784482_

[2021-11-16 13:15] whedon commented on #3918
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-16 13:15] #3918 closed

[2021-11-16 13:16] linuxscout commented on #3890
Ok, I will review it.

[2021-11-16 13:18] linuxscout commented on #3918
I just made a mistake

[2021-11-16 13:40] leouieda commented on #3673
@joergbuchwald @nagelt I'm very happy with the state of the paper and the reviewers are satisfied as well so I'm happy to move on to acceptance of your paper 🎉

There just a few of things that you'll need to do now:

1. Please merge the minor fixes in joergbuchwald/joss_ogs6py_VTUinterface#7
1. Double check authors and affiliations (including ORCIDs)
1. Make a release of both software packages wit

[2021-11-16 13:55] MichaelSel commented on #3784
@whedon <https://github.com/whedon> check references

On Fri, Nov 12, 2021 at 11:50 PM whedon ***@***.***> wrote:

[2021-11-16 13:55] whedon commented on #3784
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-11-16 13:55] lutzhamel commented on #3849
@VivianePons @inpefess Here are some initial comments on the software and the paper,

1. I could not find any unit tests.  If there are any they don't seem to accessible to the user.
2. I think there are too many acronyms in the introductory paragraph which are not being properly defined before use, e.g CNF, TPTP, ATP
3. The sentence "Although, being written in Python, gym-saturation is closer to

[2021-11-16 13:56] MichaelSel commented on #3784
@whedon check references

On Tue, Nov 16, 2021 at 2:55 PM whedon ***@***.***> wrote:

[2021-11-16 13:56] whedon commented on #3784
[code]

[2021-11-16 14:02] MichaelSel commented on #3784
@whedon check references

On Tue, Nov 16, 2021 at 2:56 PM whedon ***@***.***> wrote:

[2021-11-16 14:02] whedon commented on #3784
[code]

[2021-11-16 14:06] MichaelSel commented on #3784
@bmcfee, Hi Brian.
I updated the DOIs of everything with the exception of Allan Forte's book "The Structure of Tonal Music" which doesn't seem to have a DOI listen anywhere. I did include its ISBN instead. The DOI whedon proposes is the wrong one.

I put a release on the repository and uploaded that to Zenodo. The DOI generated for that is 10.5281/zenodo.5705161
Here is the Zenodo record: https://

[2021-11-16 14:10] faroit commented on #3347
@baileythegreen thanks a lot for finishing this up!

@alicia-ziying-yang i will do my best to proceed with the reviewing process asap now

[2021-11-16 14:16] fabian-sp commented on #3865
@jameschapman19  Thanks for your input! I adressed the points not related to `sklearn` in this PR: https://github.com/fabian-sp/GGLasso/pull/29

[2021-11-16 14:30] PolymerGuy commented on #3869
@Kevin-Mattheus-Moerman From browsing through the list of reviewers, the following persons appear to have similar fields of research:
chennachaos
thelfer
yangbai90
kegiljarhus
iammix
corentin-dev

[2021-11-16 14:47] wtraylor commented on #3631
@diehlpk Thanks for checking in. I have adopted the (minor) changes suggested by @dirmeier.

I think I have tapped most of my network already, but I will try to come up with other suggestions.

[2021-11-16 15:15] prashjha commented on #3775
Hello @kellerb, any chance you could review this submission? More details of this software are in this link: https://github.com/SINTEF/AutoActive-ActivityPresenter

[2021-11-16 15:26] inpefess commented on #3849
@lutzhamel thank you for your comments:

This package uses [doctest](https://docs.python.org/3/library/doctest.html) and is 100% covered. The tests are accessible to a user as part of docstrings of functions and classes, like [here](https://gym-saturation.readthedocs.io/en/latest/package-documentation.html#gym_saturation.logic_ops.substitution.Substitution)

Thank you for spotting that! Unfortunat

[2021-11-16 15:26] rkurchin commented on #3781
👆 @enricgrau, just checking in on this. We're nearly ready to publish!

[2021-11-16 15:26] whedon commented on #3849
[code]

[2021-11-16 15:27] whedon commented on #3849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: :point_left:

[2021-11-16 15:28] rkurchin commented on #3812
@tuchandra and @sambitdash, would you be interested in reviewing this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-11-16 15:42] christinahedges commented on #3838
Hello everyone, just wanted to let you know that I am reading with interest, I appreciate all the effort going into these discussions. If anyone has any questions specifically about JOSS standards please do let me know.

[2021-11-16 15:52] whedon commented on #3877
:wave: @AoifeHughes, please update us on how your review is going (this is an automated reminder).

[2021-11-16 15:52] whedon commented on #3877
:wave: @sachsmc, please update us on how your review is going (this is an automated reminder).

[2021-11-16 15:52] whedon commented on #3877
:wave: @JonasMoss, please update us on how your review is going (this is an automated reminder).

[2021-11-16 15:52] whedon commented on #3877
:wave: @MaaniBeigy, please update us on how your review is going (this is an automated reminder).

[2021-11-16 16:14] jarvist commented on #3788
@whedon add @ml-evs as reviewer

Many thanks for volunteering Matthew!  :wave:

[2021-11-16 16:14] whedon commented on #3788
OK, @ml-evs is now a reviewer

[2021-11-16 16:17] sambitdash commented on #3812
@rkurchin I can review.

[2021-11-16 16:20] fboehm commented on #3888
@eirenjacobson - Did you have a chance to accept the invitation? (in the thread above)
If the link has expired, please let me know. Thanks again!

[2021-11-16 16:21] lutzhamel commented on #3849
@inpefess that was a quick turnaround! Here are some follow up thoughts,

I am not familiar with 'doctest'.  Would it make sense to have sentence or two in the 'README' file pointing out this functionality and how to use it?

Yes, maybe an example of an agent trying to get a reward for proving a simple hypothesis.

[2021-11-16 16:22] jarvist commented on #3788
I've just checked through my correspondence, and unfortunately everything else so far has come back negative. With @ml-evs ' expertise, a second reviewer with  C++ rather than domain experience might work well. If you have any additional suggestions, please do mention them!

[2021-11-16 16:22] oliviaguest commented on #3638
@puolivali do you think you may have the time and space to review this for us? 😊

[2021-11-16 16:24] ha0ye commented on #3888
I haven't started yet, but it's on my calendar.

[2021-11-16 16:31] VivianePons commented on #3766
Hi @eviatarbach and @wkearn can you update me on the review? Thanks!

[2021-11-16 16:32] VivianePons commented on #2954
Hi @michakraus where are you on this, did you have time to complete the work?

Thank you!

[2021-11-16 16:54] gradvohl commented on #3890
@whedon generate pdf

[2021-11-16 16:55] whedon commented on #3890
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03890/joss.03890/10.21105.joss.03890.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03890/joss.03890/10.21105.joss.03890.pdf) :page_facing_up: :point_left:

[2021-11-16 16:57] joergbuchwald commented on #3673
Thank you very much for editing :)

ogs6py is now in version 0.34 and VTUinterface in version 0.69.
I published everything together now under zenodo DOI 10.5281/zenodo.5705727.

[2021-11-16 17:22] ml-evs commented on #3788
No problem @jarvist!

As a disclosure, I know @tpurcell90 through another project (a large collaboration, OPTIMADE) and we have met at previous workshops. We appear on one recent paper together (https://doi.org/10.1038/s41597-021-00974-z), but I feel comfortable and able to proceed as an unbiased reviewer, provided others agree.

[2021-11-16 17:29] rkurchin commented on #3812
@whedon add @sambitdash as reviewer

[2021-11-16 17:29] whedon commented on #3812
OK, @sambitdash is now a reviewer

[2021-11-16 17:41] gkthiruvathukal commented on #3890
@whedon assign @gradvohl as reviewer

[2021-11-16 17:41] whedon commented on #3890
OK, @gradvohl is now a reviewer

[2021-11-16 17:42] gkthiruvathukal commented on #3890
@whedon add @linuxscout as reviewer

[2021-11-16 17:42] whedon commented on #3890
OK, @linuxscout is now a reviewer

[2021-11-16 17:42] gkthiruvathukal commented on #3890
@linuxscout and @gradvohl, thank you for your willingness to review!

[2021-11-16 17:43] gkthiruvathukal commented on #3890
@whedon start review

[2021-11-16 17:43] whedon opened #3919 "[REVIEW]: Unishox: A hybrid encoder for Short Unicode Strings"
**Submitting author:** @siara-cc (<a href="http://orcid.org/0000-0001-6642-447X">Arundale Ramanathan</a>)
**Repository:** <a href="https://github.com/siara-cc/Unishox2" target ="_blank">https://github.com/siara-cc/Unishox2</a>
**Version:** 1.0.2
**Editor:** @gkthiruvathukal
**Reviewer:** @gradvohl, @linuxscout
**Archive:** <a href="https://doi.org/10.5281/zenodo.5800408" target="_blank">10.5281/ze

[2021-11-16 17:43] whedon commented on #3890
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3919.

[2021-11-16 17:43] #3890 closed

[2021-11-16 17:43] whedon commented on #3919
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gradvohl, @linuxscout it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-11-16 17:43] whedon commented on #3919
Wordcount for `paper.md` is 1844

[2021-11-16 17:43] whedon commented on #3919
[code]

[2021-11-16 17:43] whedon commented on #3919
[code]

[2021-11-16 17:43] sbenthall commented on #3845
Ah, ok, thanks for that clarification @akaptano

@henrykironde you're on deck now. Thanks for volunteering!

[2021-11-16 17:43] whedon commented on #3919
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03919/joss.03919/10.21105.joss.03919.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03919/joss.03919/10.21105.joss.03919.pdf) :page_facing_up: :point_left:

[2021-11-16 17:43] sbenthall commented on #3845
@whedon assign @henrykironde as reviewer

[2021-11-16 17:43] whedon commented on #3845
OK, @henrykironde is now a reviewer

[2021-11-16 17:45] sbenthall commented on #3845
@sea-bass Would you be able to review this submission?

@karnigili Would you able to review this submission?

[2021-11-16 17:48] gkthiruvathukal commented on #3865
@jameschapman19 and @papachristoumarios, as far as I can tell, @fabian-sp has addressed the issues and there is general agreement that this submission can proceed toward acceptance. Are there any other issues that remain to be addressed from your feedback?

[2021-11-16 17:55] whedon commented on #3882
:wave: @schruste, please update us on how your review is going (this is an automated reminder).

[2021-11-16 17:55] whedon commented on #3882
:wave: @lucaferranti, please update us on how your review is going (this is an automated reminder).

[2021-11-16 17:58] papachristoumarios commented on #3865
@gkthiruvathukal The author has addressed the issues we referred to within the submission. The issue regarding the API compatibility with sklearn is in my opinion more of a design aesthetic issue (which can have some functionality benefits as @jameschapman19 and increase visibility) but for me, it's also not necessary for recommending acceptance of the software.

[2021-11-16 18:05] jameschapman19 commented on #3865
Yep just checked the recent PR - nice thought on the seeding too @fabian-sp.

[2021-11-16 18:17] siara-cc commented on #3890
Thank you @linuxscout @gradvohl @gkthiruvathukal

[2021-11-16 18:18] bmcfee commented on #3784
@whedon generate pdf

[2021-11-16 18:18] whedon commented on #3784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: :point_left:

[2021-11-16 18:27] bmcfee commented on #3784
@MichaelSel thanks!

It looks like you're missing a DOI for music21, which ought to be https://doi.org/10.5281/zenodo.1416113

Everything else looks okay to me.

[2021-11-16 18:28] bmcfee commented on #3784
@whedon set 10.5281/zenodo.5705161 as archive

[2021-11-16 18:28] whedon commented on #3784
OK. <a href="https://doi.org/10.5281/zenodo.5705161" target="_blank">10.5281/zenodo.5705161</a> is the archive.

[2021-11-16 18:33] gkthiruvathukal commented on #3865
Excellent. @fabian-sp I am prepared to move toward acceptance. Can you please do the following:

  [ ] Make a tagged release of your software, and list the version tag of the
  archived version here.
  [ ] Archive the reviewed software in Zenodo
  [ ] Check the Zenodo deposit has the correct metadata, this includes the
  title (should match the paper title) and author list (make sure the list is

[2021-11-16 18:34] arthur-e commented on #3337
@pdebuyl I am satisfied that the authors have revised the manuscript, the software, and the documentation to meet the journal's standards. I have updated my checklist to reflect that.

[2021-11-16 18:56] MichaelSel commented on #3784
@bmcfee oopsie! You're right. Added the Music21 DOI. Sorry about that.

[2021-11-16 19:13] schruste commented on #3882
Hi. Sorry, This got lost a bit. I've put this on my schedule for next week.

[2021-11-16 19:41] mhesselbarth commented on #3811
@lionel68
Also, feel free to re-open any issues I already closed! Here is a list with all your already closed issue: https://github.com/openjournals/joss-reviews/issues/3811#issuecomment-948515516

[2021-11-16 19:44] bmcfee commented on #3784
@whedon generate pdf

[2021-11-16 19:45] whedon commented on #3784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03784/joss.03784/10.21105.joss.03784.pdf) :page_facing_up: :point_left:

[2021-11-16 19:46] bmcfee commented on #3784
@whedon recommend-accept

[2021-11-16 19:46] whedon commented on #3784
[code]

[2021-11-16 19:46] whedon commented on #3784
[code]

[2021-11-16 19:47] whedon commented on #3784
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2752

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2752, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-16 20:02] pdebuyl commented on #3337
Thanks a lot for finishing the review @arthur-e

[2021-11-16 22:08] inpefess commented on #3849
@lutzhamel thanks for your reply.

Yes, that might be helpful for other users too. I added it to the `How to contribute` section.

I added a new, more concise example and included it in the paper.

[2021-11-16 22:08] inpefess commented on #3849
@whedon generate pdf from branch joss-paper

[2021-11-16 22:08] whedon commented on #3849
[code]

[2021-11-16 22:09] whedon commented on #3849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: :point_left:

[2021-11-16 22:31] ArtVoro commented on #3325
@jgostick @jarvist
Ok, I'm hoping for the best and that we can finalize the review. It's been quite some time and since I adressed all points I assume it just needs a quick re-read.

[2021-11-16 22:42] eviatarbach commented on #3766
Hello @VivianePons, I was waiting for https://github.com/vishwas1984/LaplaceInterpolation.jl/issues/3 to be resolved so that I can review the examples.

Also, I am not able to modify the checklist. It seems I may have not clicked the invitation link in time and it expired, sorry! Do you know how to fix this?

[2021-11-16 22:48] edoddridge commented on #3894
Hi @elbeejay. I'm only working part time at the moment and wouldn't be able to do this in any sort of reasonable time frame, so I will need to decline this time. Sorry.

[2021-11-16 23:10] inpefess commented on #3849
@whedon generate pdf from branch joss-paper

[2021-11-16 23:10] whedon commented on #3849
[code]

[2021-11-16 23:11] whedon commented on #3849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03849/joss.03849/10.21105.joss.03849.pdf) :page_facing_up: :point_left:

[2021-11-16 23:11] MichaelSel commented on #3784
@bmcfee Looks good to me.

[2021-11-16 23:30] VivianePons commented on #3766
@whedon re-invite @eviatarbach  as reviewer

[2021-11-16 23:30] whedon commented on #3766
OK, the reviewer has been re-invited.

@eviatarbach  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-16 23:53] whedon commented on #3884
:wave: @jingnanshi, please update us on how your review is going (this is an automated reminder).

[2021-11-16 23:53] whedon commented on #3884
:wave: @ricopicone, please update us on how your review is going (this is an automated reminder).

[2021-11-17 01:42] nanhung commented on #3820
Thanks @jonsampedro ! I am still working on the module 1 and checking the details.
I suggest that you put more explanation of the output. For instance, where can find the full name of the abbreviation? Waht is the unit of the value?
You can add the description in `m1_emissions_rescale()` function.

[2021-11-17 04:27] fedorov commented on #3807
@Kevin-Mattheus-Moerman, I am assuming you will make a separate [REVIEW] issue for the assigned reviewers, right (like you did for the submission I reviewed in the past [here](https://github.com/openjournals/joss-reviews/issues/2006#issuecomment-640799592))?

I am just not sure if the process is the same as before, considering you assigned @deepakri201 19 days ago, but she has not received any ins

[2021-11-17 05:23] Spartanzhao commented on #3916
Dear reviewers @pkerpedjiev and @elliothershberg:
If there are any questions, please feel free to ask me. Or if there are thing I need to improve my tools.
Your Best
Zhao Yue

[2021-11-17 05:43] HeloiseS commented on #3838
### "FINAL" UPDATE - tutorials ran perfectly

Alright! thanks @ilyamandel  for the pointers, I've played with making my own models and ran the tutorials on Cosmic Integration: they ran like clockwork!

I made some detailed models and some not-detailed models: the run time you mentioned was spot on :+1: Super fast!
Suggestion: give  instructions to make the models to run those tutorials  as an alte

[2021-11-17 07:01] arfon commented on #3910
@rahulbot - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2021-11-17 07:01] arfon commented on #3910
@whedon reject

[2021-11-17 07:01] whedon commented on #3910
Paper rejected.

[2021-11-17 07:01] #3910 closed

[2021-11-17 07:05] arfon commented on #3784
@whedon accept deposit=true

[2021-11-17 07:05] whedon commented on #3784
[code]

[2021-11-17 07:05] whedon commented on #3784
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1460866742771671041) 👈 🐦🐦🐦

[2021-11-17 07:05] whedon commented on #3784
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2753
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03784](https://doi.org/10.21105/joss.03784)
2. If everything look

[2021-11-17 07:10] arfon commented on #3784
@napulen, @albincorreya – many thanks for your reviews here and to @bmcfee for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@MichaelSel  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-17 07:10] #3784 closed

[2021-11-17 07:10] whedon commented on #3784
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03784/status.svg)](https://doi.org/10.21105/joss.03784)

**We need your help!**

Journal of Open Source Softwa

[2021-11-17 07:12] arfon commented on #3822
@whedon accept deposit=true

[2021-11-17 07:12] whedon commented on #3822
[code]

[2021-11-17 07:13] whedon commented on #3822
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1460868656909459456) 👈 🐦🐦🐦

[2021-11-17 07:13] whedon commented on #3822
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2754
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03822](https://doi.org/10.21105/joss.03822)
2. If everything look

[2021-11-17 07:17] arfon commented on #3822
@tianxzhu, @svmiller – many thanks for your reviews here and to @chartgerink for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@johannes-titz – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-17 07:17] #3822 closed

[2021-11-17 07:17] whedon commented on #3822
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03822/status.svg)](https://doi.org/10.21105/joss.03822)

**We need your help!**

Journal of Open Source Softwa

[2021-11-17 07:25] osorensen commented on #3864
@drj11, how is it going with your review? If there are issues which you think the authors should address, please mention them in this thread or by opening an issue in the [source repository](https://github.com/TNanukem/scikit-net/).

[2021-11-17 07:26] osorensen commented on #3832
@whedon generate pdf

[2021-11-17 07:27] whedon commented on #3832
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03832/joss.03832/10.21105.joss.03832.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03832/joss.03832/10.21105.joss.03832.pdf) :page_facing_up: :point_left:

[2021-11-17 07:27] osorensen commented on #3832
@LegrandNico, could you please address this point raised by @axel-loewe and notify us here once the manuscript has been updated?

[2021-11-17 07:30] jeffriley commented on #3838
minimum-secondary-mass is 10?  I assume yes from the IMF plot.  If you have allow-rlof-at-birth enabled and one of the stars is overflowing its Roche lobe at birth, then COMPAS will equilibrate the masses of the stars and circularise the orbit - so the equilbrated masses could be lower than expected - but that shouldn't happen if your minimum secondary mass is 10.  There is a column in the BSE_Sys

[2021-11-17 07:31] osorensen commented on #3832
@axel-loewe, there are a couple of unchecked boxed in your review checklist at the top of this thread, in regarding **Functionality** and **Documentation.** Could you please check if these have been addressed the authors, and if so, update the checklist? If your these issues have not been sufficiently addressed, please suggest what remains to be done.

[2021-11-17 08:42] Nikoleta-v3 commented on #3522
Hey @remram44 just to update you 👋🏻  I have emailed a few people asking them to review this submission. Apologies for the delay! We'll get this moving as soon as possible.

[2021-11-17 08:55] johannes-titz commented on #3822
@arfon Thank you for being so quick with the final steps! @chartgerink Thanks for the professional editing process! @svmiller @tianxzhu Thanks again for taking the time to review this submission.

[2021-11-17 08:59] mikldk commented on #3911
Thanks. I edited your comment (removed the tags).

[2021-11-17 09:02] mikldk commented on #3911
@jjharden, @csinva: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-11-17 09:04] mikldk commented on #3901
@fernandomayer, @fartist, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-11-17 09:04] mikldk commented on #3831
@holtgrewe, @holtgrewe: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-11-17 09:34] Kevin-Mattheus-Moerman commented on #3807
@thewtex @ljod @FMalmberg would you be interested in reviewing this work for JOSS ([the Journal of Open Source Software](https://joss.theoj.org)): _"The 3D Slicer RVXLiverSegmentation plug-in for interactive liver anatomy reconstruction from medical images"_?
The [JOSS review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) focuses on [the software](https://github.com/R-Ves

[2021-11-17 09:35] Kevin-Mattheus-Moerman commented on #3807
@fedorov thanks for your message. The process has not changed, and I will initiate the review now to avoid further delay. I was hoping to attract an additional reviewer but will proceed with two for now. We can also add a 3rd if needed at a later stage.

[2021-11-17 09:36] Kevin-Mattheus-Moerman commented on #3807
@whedon start review

[2021-11-17 09:36] whedon opened #3920 "[REVIEW]: The 3D Slicer RVXLiverSegmentation plug-in for interactive liver anatomy reconstruction from medical images"
**Submitting author:** @antoinevacavant (<a href="http://orcid.org/0000-0001-9616-3282">Antoine Vacavant</a>)
**Repository:** https://github.com/R-Vessel-X/SlicerRVXLiverSegmentation
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @lassoan, @deepakri201
**Archive:** 10.5281/zenodo.6513517

**:warning: JOSS reduced service mo

[2021-11-17 09:36] whedon commented on #3807
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3920.

[2021-11-17 09:36] #3807 closed

[2021-11-17 09:36] whedon commented on #3920
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lassoan, @deepakri201 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-11-17 09:36] whedon commented on #3920
Wordcount for `paper.md` is 888

[2021-11-17 09:36] whedon commented on #3920
[code]

[2021-11-17 09:36] whedon commented on #3920
[code]

[2021-11-17 09:37] whedon commented on #3920
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03920/joss.03920/10.21105.joss.03920.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03920/joss.03920/10.21105.joss.03920.pdf) :page_facing_up: :point_left:

[2021-11-17 09:38] Kevin-Mattheus-Moerman commented on #3807
@thewtex @ljod @FMalmberg if you are able to review for us I can still add you over at https://github.com/openjournals/joss-reviews/issues/3920.

[2021-11-17 09:42] pdebuyl commented on #3917
@Saran-nns @mirca make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

@shailesh1729 the article is very long by JOSS standard, I recommed to shorten it already. The explanations about l0 and l1 problems and about the linear operators are best left in the software documentation.

[2021-11-17 09:44] holtgrewe commented on #3831
@mikldk I'd be happy to review this submission.

[2021-11-17 10:00] Kevin-Mattheus-Moerman commented on #3869
@ahojukka5 @azzeddinetiba @jeevanjyoti4 @nicoguaro @ilyasst @diehlpk @thelfer @yangbai90 @kegiljarhus @corentin-dev would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org):
 "_RECOLO: A Python package for the reconstruction of surface pressure loads from kinematic fields using the virtual fields method_".

The [smooth review process](

[2021-11-17 10:02] Kevin-Mattheus-Moerman commented on #3579
@mh-skjelvareid I am still looking for reviewers. If you are able to help suggest reviewers that would be great. You can suggest their github handles here but leave out the `@` symbol.

[2021-11-17 10:04] arfon commented on #3876
@whedon accept deposit=true

[2021-11-17 10:04] whedon commented on #3876
[code]

[2021-11-17 10:05] whedon commented on #3876
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2755
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03876](https://doi.org/10.21105/joss.03876)
2. If everything look

[2021-11-17 10:10] arfon commented on #3876
@adRn-s, @aguang  – many thanks for your very speedy reviews here and to @will-rowe for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@kescobo  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-17 10:10] #3876 closed

[2021-11-17 10:11] whedon commented on #3876
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03876/status.svg)](https://doi.org/10.21105/joss.03876)

**We need your help!**

Journal of Open Source Softwa

[2021-11-17 11:42] bmcfee commented on #3784
Congrats @MichaelSel and thanks again to @napulen and @albincorreya !

[2021-11-17 11:44] crvernon commented on #3852
:mega: Mid-week rally!  Looks like issues are cycling with @thurber and @jlarsen-usgs.  Let's keep things rolling towards a successful review!

:wave: @mdbartos - Please let me know if you are unable to participate in this review at this time.  If you are still willing, could you reply here with an expected time of completion?  Thanks!

[2021-11-17 11:47] diehlpk commented on #3869
@Kevin-Mattheus-Moerman I can edit the paper.

[2021-11-17 11:49] whedon commented on #3885
:wave: @peanutfun, please update us on how your review is going (this is an automated reminder).

[2021-11-17 11:49] whedon commented on #3885
:wave: @carstenbauer, please update us on how your review is going (this is an automated reminder).

[2021-11-17 11:50] crvernon commented on #3824
:mega: Mid-week rally!

@thurber and @acrlakshman please provide a short update in this issue thread concerning the status of your reviews.  Thanks!

@cc-a are there any blockers on your side of things?  I would like to keep our momentum up so we may keep pushing to get this in great shape for publication!

[2021-11-17 11:55] crvernon commented on #3709
:mega: Mid-week rally!

@kanishkan91 and @omshinde please provide a short update in this issue thread concerning the status of your review.  Is there anything you are waiting on?  Thanks!

@AlexanderJuestel how are things going on your side of things?  Could you provide a short update here as well?  I would like to keep this moving while we have good momentum. Thanks!

[2021-11-17 11:56] napulen commented on #3784
Congrats @MichaelSel !

[2021-11-17 11:57] jbytecode commented on #3895
Dear @kmichael08 and @richrobe

Could you please update your status and let us know how is your reviewing going?

Thank you in advance.

[2021-11-17 12:22] TomGoffrey commented on #3618
@danielskatz Apologies for the covid and teaching induced delay. I'm happy to sign off on this, @michaeltouati has done an excellent job addressing my original concerns.

[2021-11-17 13:03] shailesh1729 commented on #3917
@pdebuyl, thanks for the input. Let me work on shortening it.

[2021-11-17 13:14] danielskatz commented on #3618
Thanks @TomGoffrey

[2021-11-17 13:15] danielskatz commented on #3618
👋  @rouson - if you still want to review this, please let me know ASAP.  If not, since you were not an original reviewer, and I have two completed reviews, I will go ahead and move forward on accepting it.

[2021-11-17 13:26] gradvohl commented on #3919
# Reviewer report for JOSS paper #3919
**Paper title**: Unishox: A hybrid encoder for Short Unicode Strings

## Review criteria
* A list of the authors of the software: :heavy_check_mark:
* Author affiliations: :heavy_check_mark: (The author identifies himself as an "*Independent Researcher*").
* A summary describing the high-level functionality and purpose of the software for a diverse, non-speci

[2021-11-17 13:37] acrlakshman commented on #3824
I am on a different schedule last week, i shall provide my final update over the weekend.

[2021-11-17 14:26] elbeejay commented on #3894
No problem, thanks for letting us know!

[2021-11-17 14:26] lucaferranti commented on #3882
apologies for the delay with this from my side. I'm planning to go post my review during the weekend

[2021-11-17 14:35] PeterDenton commented on #3772
Hi Jost, I'm a bit behind on things, but I should be able to start working
on it this week.

On Mon, Nov 15, 2021, 6:49 PM Jost Migenda ***@***.***> wrote:

[2021-11-17 15:03] fboehm commented on #3888
Hi, @eirenjacobson - sorry for my error. Can you check to see if you can check the boxes in the checklist? Just try to check one, to see if the checkmark appears, then uncheck it, assuming that you haven't actually verified that piece of information for the review. I think that there was an issue with your invitation, but the bot whedon may have resolved it. Thanks again!

[2021-11-17 15:22] fabian-sp commented on #3865
@gkthiruvathukal Thanks, I will start with archiving. If we want to make minor changes in the paper (changing png to pdf figures and minor rephrasing), should we do this right now?

[2021-11-17 15:25] siara-cc commented on #3919
Hi @gradvohl  Thank you for the detailed review and the valuable suggestions.  I am working on them and will update the docs quickly.

@gkthiruvathukal  @linuxscout

[2021-11-17 15:27] god-s-perfect-idiot commented on #3757
Hi. Can I know if this paper is still under review?

[2021-11-17 15:28] gkthiruvathukal commented on #3865
@fabian-sp Yes, please go ahead and do those edits first and make sure the PDF generation works without errors. Then we can take the final steps in my checklist.

[2021-11-17 15:42] eirenjacobson commented on #3888
No, I can't check the boxes :(

[2021-11-17 15:43] AleksiNummelin commented on #3894
Hi @elbeejay, I'd be happy to review, I have tested the tool already so this is  a good chance to look through the code properly. I will be busy for the next 2 weeks so expect little progress, but after that I'd expect to submit the review relatively quickly.

[2021-11-17 16:03] shailesh1729 commented on #3917
@whedon generate pdf

[2021-11-17 16:04] whedon commented on #3917
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03917/joss.03917/10.21105.joss.03917.pdf) :page_facing_up: :point_left:

[2021-11-17 16:08] shailesh1729 commented on #3917
@pdebuyl, I have revised the paper and moved the theoretical explanations to the online documentation and placed references to it in the paper draft.  It is down to 7 pages in draft.

Kindly, let me know if I should work on shortening it further.

With regards,
Shailesh

[2021-11-17 16:19] fboehm commented on #3888
Thanks for checking. I'll re-invite you now via the bot.

[2021-11-17 16:19] fboehm commented on #3888
@whedon re-invite @eirenjacobson as reviewer

[2021-11-17 16:19] whedon commented on #3888
OK, the reviewer has been re-invited.

@eirenjacobson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-11-17 16:25] fabian-sp commented on #3865
@whedon generate pdf

[2021-11-17 16:25] whedon commented on #3865
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03865/joss.03865/10.21105.joss.03865.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03865/joss.03865/10.21105.joss.03865.pdf) :page_facing_up: :point_left:

[2021-11-17 16:33] fabian-sp commented on #3865
@whedon generate pdf

[2021-11-17 16:34] whedon commented on #3865
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03865/joss.03865/10.21105.joss.03865.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03865/joss.03865/10.21105.joss.03865.pdf) :page_facing_up: :point_left:

[2021-11-17 16:51] thelfer commented on #3869
@Kevin-Mattheus-Moerman I don't have any specific knowledge of this topic. I would prefer let someone else handle this review.

[2021-11-17 17:02] cc-a commented on #3824
No blockers on my front. I think I have a proof of principle for running tests in a containerised demo cluster. Needs a tidy up though.

[2021-11-17 17:07] enricgrau commented on #3781
@rkurchin Sorry for the delay. The archive of version `0.1.3` was created on Zenodo with DOI: 10.5281/zenodo.5708435 and matching metadata. Thank you!

[2021-11-17 17:48] raerickson commented on #3444
@marcosvital any updates? Also, would seeing the USGS software review help you?

[2021-11-17 18:17] jponnela commented on #3417
Thank you for pointing these out @fboehm, should be all fixed now.

@biblicabeebli, I created JP/paper branch for implementing these changes.

Thank you!

[2021-11-17 18:20] fartist commented on #3901
Thanks for checking in @mikldk - I have started and should be able to finish the first round in the coming week.

[2021-11-17 18:46] elbeejay commented on #3894
Awesome @AleksiNummelin, sounds like you'll be able to provide perspectives as both a real user and fellow developer. Thank you for being clear about your relationship with the lead-author, I agree that it does not sound like a true COI.

[2021-11-17 18:46] elbeejay commented on #3894
@whedon add @AleksiNummelin as reviewer

[2021-11-17 18:47] whedon commented on #3894
OK, @AleksiNummelin is now a reviewer

[2021-11-17 18:57] rkurchin commented on #3781
@whedon set 0.1.3 as version

[2021-11-17 18:57] whedon commented on #3781
OK. 0.1.3 is the version.

[2021-11-17 18:58] rkurchin commented on #3781
@whedon set 10.5281/zenodo.5708435 as archive

[2021-11-17 18:58] whedon commented on #3781
OK. <a href="https://doi.org/10.5281/zenodo.5708435" target="_blank">10.5281/zenodo.5708435</a> is the archive.

[2021-11-17 18:58] rkurchin commented on #3781
@whedon recommend-accept

[2021-11-17 18:58] whedon commented on #3781
[code]

[2021-11-17 18:58] whedon commented on #3781
[code]

[2021-11-17 18:58] whedon commented on #3781
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2756

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2756, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-17 20:05] ddeehere commented on #3851
@danielskatz - I am checking with a few contacts to see if any could review without violating conflict of interest rule.

[2021-11-17 20:28] AoifeHughes commented on #3877
I am on it, don't worry :)

[2021-11-17 20:31] sachsmc commented on #3877
I'm done with my review.

[2021-11-17 21:18] AoifeHughes commented on #3877
Fairly sure I'm done now, I only had a few minor comments left that are more stylistic than required. I think this is an excellently documented and written software package and recommend for publication.

[2021-11-17 21:25] ralphevins commented on #3861
@fraukewiese I have a question.
 The software in question is an API to Dymola, a (very expensive) commercial product.
As is, it opens up Dymola in the system and returns 'Can't find AixLib library' error.
The free version of Dymola cannot support AixLib because the trial version supports limited state-space equations and full models in the library can't be translated or simulated.
So unfortunately

[2021-11-17 21:56] whedon commented on #3887
:wave: @craddm, please update us on how your review is going (this is an automated reminder).

[2021-11-17 21:56] whedon commented on #3887
:wave: @lindemann09, please update us on how your review is going (this is an automated reminder).

[2021-11-17 22:14] deepakri201 commented on #3920
Hi @antoinevacavant, could you please confirm that the installation instructions you have provided are correct? For instance, I had to add the two subfolders (RVXLiverSegmentation and RVXLiverSegmentationEffect) instead of the main directory. Thank you!

[2021-11-17 22:54] fernandomayer commented on #3901
@mikldk I will be able to send a few more comments and feedback in the next week.

[2021-11-17 22:55] alicia-ziying-yang commented on #3347
Thank you very much :)

[2021-11-18 05:49] JonasMoss commented on #3877
I'm also done with my review. I agree with @AoifeHughes's assessment of this paper.

[2021-11-18 07:27] FWuellhorst commented on #3861
@fraukewiese @ralphevins :
First of all thanks for taking the time to review our software code.

To explain the issue here: You probably started with the first example, which is just there to help users analyze their system and identify inputs, outputs, and parameters of the model they need to calibrate. We think users should think about what they want to calibrate before they actually do it. This

[2021-11-18 07:49] eirenjacobson commented on #3888
I'm all set now, thanks!

[2021-11-18 07:56] ahoshiyar commented on #3828
@wheden generate pdf

[2021-11-18 07:59] AlexanderJuestel commented on #3709
@crvernon, thanks for checking in! Currently, I am a little limited in time due to my PhD studies. In addition, we are currently working on a new GemPy release so I wanted to wait for that :)

[2021-11-18 08:25] ilyamandel commented on #3838
Thank you very much for all of the tests and suggestions, @HeloiseS !  And just to let you know, we aren't ignoring your suggestions regarding the python scripts, just getting together the resources to implement them (e.g., @avigna will try to implement your advice regarding pythonSubmit, but it will take him a few more days to get to that).  Thank you for your patience!

[2021-11-18 08:51] HeloiseS commented on #3838
Aces! I figured you were waiting for the full review of the other referee to make any changes so I'm v. happy to wait. Once you want me to take a look or run some final tests again just ping me and ill be here 😉

[2021-11-18 08:59] antoinevacavant commented on #3920
Hi @deepakri201 yes the documentation contains an old instruction about this main directory. Sorry for the confusion.
You should add both paths to RVXLiverSegmentation and RVXLiverSegmentationEffect indeed.
We will update the readme file for making this point clear.

[2021-11-18 10:12] ahoshiyar commented on #3828
@whedon generate pdf

[2021-11-18 10:12] whedon commented on #3828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03828/joss.03828/10.21105.joss.03828.pdf) :page_facing_up: :point_left:

[2021-11-18 12:26] whedon opened #3921 "[PRE REVIEW]: Python Sphere RCS: a Library to Compute Mie Series Scattering of Lossy Dielectric Spheres"
**Submitting author:** @IliyaShofman (<a href="http://orcid.org/0000-0003-1798-8337">Iliya Shofman</a>)
**Repository:** <a href="https://github.com/modelics/Python-Sphere-RCS" target ="_blank">https://github.com/modelics/Python-Sphere-RCS</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-11-18 12:26] whedon commented on #3921
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-18 12:26] whedon commented on #3921
Wordcount for `paper.md` is 431

[2021-11-18 12:26] whedon commented on #3921
[code]

[2021-11-18 12:26] whedon commented on #3921
[code]

[2021-11-18 12:26] whedon commented on #3921
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03921/joss.03921/10.21105.joss.03921.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03921/joss.03921/10.21105.joss.03921.pdf) :page_facing_up: :point_left:

[2021-11-18 12:29] arfon commented on #3921
@whedon query scope

@IliyaShofman thanks for your submission to JOSS – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's sugges

[2021-11-18 12:29] whedon commented on #3921
Submission flagged for editorial review.

[2021-11-18 12:41] lpantano commented on #3358
Thank you, I think we can do a final edit. I would remove figure 1 and add the text under each tool section together with the bullet points you have there. I think that would leave a good structure to the paper, with enough information for the reader to go to other tools. You can leave a description in the text what is the difference with figure 1 without having the figure. Let me know if this mak

[2021-11-18 12:47] whedon opened #3922 "[PRE REVIEW]: PyNumDiff: A Python package for numerical differentiation of noisy time-series data"
**Submitting author:** @florisvb (<a href="http://orcid.org/0000-0001-6538-7179">Floris van Breugel</a>)
**Repository:** <a href="https://github.com/florisvb/PyNumDiff" target ="_blank">https://github.com/florisvb/PyNumDiff</a>
**Version:** v0.0.3
**Editor:** @christinahedges
**Reviewers:** @pmli, @billtubbs
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-11-18 12:47] whedon commented on #3922
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-18 12:47] whedon commented on #3922
Wordcount for `paper.md` is 741

[2021-11-18 12:47] whedon commented on #3922
PDF failed to compile for issue #3922 with the following error:
[code]

[2021-11-18 12:47] whedon commented on #3922
[code]

[2021-11-18 12:52] arfon commented on #3922
@florisvb – thanks for your submission to JOSS. It looks like the paper can't be compiled because the indentation in the YAML header for this row is off:

[code]

Could you take a look at fixing this please?

[2021-11-18 13:04] Kevin-Mattheus-Moerman commented on #3869
@whedon assign @nicoguaro as reviewer

[2021-11-18 13:04] whedon commented on #3869
OK, @nicoguaro is now a reviewer

[2021-11-18 14:00] rchew commented on #3376
Apologies for dragging my feet again -- the changes look great.  Have confirmed the remaining checkboxes as complete.

[2021-11-18 14:58] PTierz commented on #3649
Hi @elbeejay,

Very many thanks for your message.

I think we may add the tests for `pyvolcans.py` in a separate merge request from [the one concerning `volcano-id-profile` branch](https://github.com/BritishGeologicalSurvey/pyvolcans/pull/17). Many thanks.

Regarding the specification of the fact that the users interact with PyVOLCANS via the CLI, we had included that information in the [“Statemen

[2021-11-18 15:25] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-11-18 15:25] whedon commented on #3358
[code]

[2021-11-18 15:26] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-11-18 15:28] biblicabeebli commented on #3417
I've just merged the changes onto our main branch.

[2021-11-18 15:35] llrs commented on #3358
@whedon generate pdf from branch paper

[2021-11-18 15:35] whedon commented on #3358
[code]

[2021-11-18 15:35] whedon commented on #3358
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03358/joss.03358/10.21105.joss.03358.pdf) :page_facing_up: :point_left:

[2021-11-18 15:39] Bisaloo commented on #3909
:wave: :wave: @emilydolson @TimKam, based on the keywords and programming languages in listed when you volunteered to review for JOSS, you would be very good candidates to review this [javascript library](https://github.com/bramvandijk88/cacatoo) and [associated paper](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03909/joss.03909/10.21105.joss.03909.pdf). Would you please be ava

[2021-11-18 15:42] llrs commented on #3358
@lpantano I agree with the changes, they makes sense and simplify the manuscript. I made a couple more of minor changes: adding links to my own software and thanking the reviewers and you for your time: Thanks!!

[2021-11-18 15:45] fboehm commented on #3417
@whedon generate pdf

[2021-11-18 15:46] whedon commented on #3417
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03417/joss.03417/10.21105.joss.03417.pdf) :page_facing_up: :point_left:

[2021-11-18 15:49] fboehm commented on #3417
Thanks, @jponnela and @biblicabeebli !

The next step is for you to make an archive of the repository with a service like zenodo and to make a new github release. Please share here the doi from zenodo and the version number of the release. Please let me know if you have any questions! Thanks again!

[2021-11-18 16:04] emilydolson commented on #3909
Yes! I would be happy to!

[2021-11-18 17:01] Bisaloo commented on #3909
Awesome, thank for your quick answer :100:. Once I find the 2nd reviewer, I'll open the review thread and explain how it works.

If you are already curious, all the information is summarized in our documentation at https://joss.readthedocs.io/en/latest/.

[2021-11-18 17:03] Bisaloo commented on #3909
@whedon add @emilydolson as reviewer

[2021-11-18 17:03] whedon commented on #3909
OK, @emilydolson is now a reviewer

[2021-11-18 17:23] changgoo commented on #3771
I've tested the code using a few examples included in the code. Given the complexity and multi-functionality of RMHD codes like this, I cannot check all functionalities and performances claimed. I simply checked off these given that there are published journal papers regarding each module (and extensive demonstrations in the document). The only remaining check is **Automated tests**.

**Automated

[2021-11-18 17:49] mbarall commented on #3658
@kbarnhart I have completed my review.

[2021-11-18 18:51] mbegnaud commented on #3619
The README.md file seems to have the "Examples" part out of order with the Installation part. Can't run the Example until it is installed correct? If I run the configure command with the "--prefix" to another location, need to be sure the user has that path in their environment. That is not clear in the instructions.

[2021-11-18 18:59] florisvb commented on #3922
Hi Arfon,

I just fixed that issue. Let me know if anything else comes up.

fyi - the paper compiled for me when I ran it through the whedon.theoj.org
link both before and after I made that change, which seems odd.

- Floris

On Thu, Nov 18, 2021 at 4:52 AM Arfon Smith ***@***.***>
wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& G

[2021-11-18 19:01] mbegnaud commented on #3619
Also in the README.md, seems cleaner to have 2 separate lines for compiling the example and then running. I'm on a Mac. I had to change so the "-I" had the include directory from where I installed the files. Maybe the example.c file should be created in the same directory as where the source code lies?? What should the "example" program output so the user can compare??

[2021-11-18 19:04] mbegnaud commented on #3619
I don't see documentation for read-world examples except the one. If there is a document or file somewhere that describes this, it needs to be included as a link or similar in the README.md file.

[2021-11-18 19:06] mbegnaud commented on #3619
Apologies, appears I should be creating issues for the sacio repository.

[2021-11-18 19:48] danielskatz commented on #3619
Yes, putting issues in https://github.com/savage13/sacio and putting `openjournals/joss-reviews#3619` in each so there's a link from here as well is great!

[2021-11-18 19:57] mbegnaud opened #3923 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2021-11-18 19:57] whedon commented on #3923
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-11-18 19:57] #3923 closed

[2021-11-18 20:20] danielskatz commented on #3923
Sorry @mbegnaud - the github "convert to issue" feature doesn't work with JOSS since it opens issues in the wrong place - you need to open the issue manually in the source repo (https://github.com/savage13/sacio), which I think you've now been doing - thanks!

[2021-11-18 20:23] mbegnaud commented on #3923
Yes, sorry about that. I thought it would be an easy way to create an issue. I got several notices that it wasn’t allowed. Figuring it out 😊

From: "Daniel S. Katz" ***@***.***>
Reply-To: openjournals/joss-reviews ***@***.***>
Date: Thursday, November 18, 2021 at 1:21 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Michael Begnaud ***@***.***>, Mention ***@***.***>
Subject: [EXTERNAL] Re: [openj

[2021-11-18 20:32] jjharden commented on #3911
I am sorry, but I am at my capacity for reviews at the moment.

[2021-11-18 21:33] TimKam commented on #3909
I still need to review another JOSS paper (2nd round), but in roughly a week, I should be available. I had a quick look and I'd look forward to reviewing this project.

[2021-11-18 22:43] TimKam commented on #3804
I added some additional comments to the PR (with comprehensive changes) made by the authors: https://github.com/aqtech-ca/mctreesearch4j/pull/68

[2021-11-19 02:53] JLBLine commented on #3676
@mkolopanis @plaplant as of commit 8b139527cbfbc934a2f92442a3b3778710c3ffff the documentation should be caught up to the float/double precision comparisons so I think this issue has been resolved now

[2021-11-19 08:03] hagenw commented on #3391
Thanks, now everything worked as expected and I have checked all boxes in the review.

[2021-11-19 09:19] whedon opened #3924 "[PRE REVIEW]: GXBeam: A Pure Julia Implementation of Geometrically Exact Beam Theory"
**Submitting author:** @taylormcd (<a href="http://orcid.org/0000-0001-7993-5703">Taylor McDonnell</a>)
**Repository:** <a href="https://github.com/byuflowlab/GXBeam.jl" target ="_blank">https://github.com/byuflowlab/GXBeam.jl</a>
**Version:** v0.3.1
**Editor:** @prashjha
**Reviewers:** @Kevin-Mattheus-Moerman, @PetrKryslUCSD
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :wa

[2021-11-19 09:19] whedon commented on #3924
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 09:19] whedon commented on #3924
Wordcount for `paper.md` is 822

[2021-11-19 09:19] whedon commented on #3924
[code]

[2021-11-19 09:19] whedon commented on #3924
[code]

[2021-11-19 09:19] whedon opened #3925 "[PRE REVIEW]: LEGWORK: A python package for computing the evolution and detectability of stellar-origin gravitational-wave sources with space-based detectors"
**Submitting author:** @TomWagg (<a href="http://orcid.org/0000-0001-6147-5761">Thomas Wagg</a>)
**Repository:** <a href="https://github.com/TeamLEGWORK/LEGWORK" target ="_blank">https://github.com/TeamLEGWORK/LEGWORK</a>
**Version:** v0.1.6
**Editor:** @arfon
**Reviewers:** @dbkeitel, @cmbiwer
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-11-19 09:19] whedon commented on #3925
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 09:19] whedon commented on #3925
[code]

[2021-11-19 09:19] whedon commented on #3924
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03924/joss.03924/10.21105.joss.03924.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03924/joss.03924/10.21105.joss.03924.pdf) :page_facing_up: :point_left:

[2021-11-19 09:19] arfon commented on #3925
@whedon generate pdf from branch joss

[2021-11-19 09:19] whedon commented on #3925
PDF failed to compile for issue #3925 with the following error:
[code]

[2021-11-19 09:19] whedon commented on #3925
[code]

[2021-11-19 09:20] whedon opened #3926 "[PRE REVIEW]: EllipSect: A Python tool for surface brightness analysis for GALFIT"
**Submitting author:** @canorve (<a href="http://orcid.org/0000-0002-3721-8869">Christopher Anorve</a>)
**Repository:** <a href="https://github.com/canorve/EllipSect" target ="_blank">https://github.com/canorve/EllipSect</a>
**Version:** 2.1.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2021-11-19 09:20] whedon commented on #3925
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03925/joss.03925/10.21105.joss.03925.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03925/joss.03925/10.21105.joss.03925.pdf) :page_facing_up: :point_left:

[2021-11-19 09:20] whedon commented on #3926
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 09:20] whedon commented on #3926
Wordcount for `paper.md` is 1527

[2021-11-19 09:20] whedon commented on #3926
[code]

[2021-11-19 09:20] whedon commented on #3926
[code]

[2021-11-19 09:20] whedon opened #3927 "[PRE REVIEW]: pyscreener: A Python Wrapper for Computational Docking Software"
**Submitting author:** @davidegraff (<a href="http://orcid.org/0000-0003-1250-3329">David E. Graff</a>)
**Repository:** <a href="https://github.com/coleygroup/pyscreener.git" target ="_blank">https://github.com/coleygroup/pyscreener.git</a>
**Version:** v1.1.1
**Editor:** @richardjgowers
**Reviewers:** @mikemhenry, @rvhonorato
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :w

[2021-11-19 09:20] whedon commented on #3927
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 09:20] whedon commented on #3927
[code]

[2021-11-19 09:20] whedon commented on #3927
PDF failed to compile for issue #3927 with the following error:
[code]

[2021-11-19 09:20] whedon commented on #3926
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03926/joss.03926/10.21105.joss.03926.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03926/joss.03926/10.21105.joss.03926.pdf) :page_facing_up: :point_left:

[2021-11-19 09:20] whedon opened #3928 "[PRE REVIEW]: Elephas: Distributed Deep Learning with Keras & Spark"
**Submitting author:** @maxpumperla (<a href="http://orcid.org/0000-0002-7801-4184">Max Pumperla</a>)
**Repository:** <a href="https://github.com/maxpumperla/elephas" target ="_blank">https://github.com/maxpumperla/elephas</a>
**Version:** 3.0.0
**Editor:** @taless474
**Reviewers:** @marksantcroos, @burch-cm
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-11-19 09:21] whedon commented on #3928
[code]

[2021-11-19 09:21] whedon commented on #3928
PDF failed to compile for issue #3928 with the following error:
[code]

[2021-11-19 09:21] arfon commented on #3928
@whedon generate pdf from branch mp_joss_paper

[2021-11-19 09:21] whedon commented on #3928
[code]

[2021-11-19 09:21] whedon opened #3929 "[PRE REVIEW]: SEIQHCDRO COVID-19 Interactive Modelling Tool"
**Submitting author:** @tuankhoin (<a href="http://orcid.org/0000-0001-8556-5876">Tuan-Khoi Nguyen</a>)
**Repository:** <a href="https://github.com/tuankhoin/SEIQHCDRO-Interactive-Model" target ="_blank">https://github.com/tuankhoin/SEIQHCDRO-Interactive-Model</a>
**Version:** v3.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warni

[2021-11-19 09:21] whedon commented on #3928
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03928/joss.03928/10.21105.joss.03928.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03928/joss.03928/10.21105.joss.03928.pdf) :page_facing_up: :point_left:

[2021-11-19 09:21] whedon commented on #3929
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 09:21] whedon commented on #3929
Wordcount for `paper.md` is 1420

[2021-11-19 09:21] whedon opened #3930 "[PRE REVIEW]: Ocetrac: A Python package to track the spatiotemporal evolution of marine heatwaves"
**Submitting author:** @hscannell (<a href="http://orcid.org/0000-0002-6604-1695">Hillary Scannell</a>)
**Repository:** <a href="https://github.com/ocetrac/ocetrac" target ="_blank">https://github.com/ocetrac/ocetrac</a>
**Version:** v0.1.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-11-19 09:21] whedon commented on #3929
[code]

[2021-11-19 09:21] whedon commented on #3929
[code]

[2021-11-19 09:21] whedon commented on #3930
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 09:22] whedon commented on #3930
Wordcount for `paper.md` is 1579

[2021-11-19 09:22] whedon commented on #3930
[code]

[2021-11-19 09:22] whedon commented on #3930
[code]

[2021-11-19 09:22] whedon opened #3931 "[PRE REVIEW]: IVY Plot: Enhancing a Dot Plot by Representing Observations as Leaflets"
**Submitting author:** @tringuyen2023 (<a href="http://orcid.org/0000-0002-1253-9404">Tri Nguyen</a>)
**Repository:** <a href="https://github.com/tringuyen2023/IVYplot-Journal.git" target ="_blank">https://github.com/tringuyen2023/IVYplot-Journal.git</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

D

[2021-11-19 09:22] whedon commented on #3931
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 09:22] whedon commented on #3929
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03929/joss.03929/10.21105.joss.03929.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03929/joss.03929/10.21105.joss.03929.pdf) :page_facing_up: :point_left:

[2021-11-19 09:22] whedon commented on #3931
[code]

[2021-11-19 09:22] whedon commented on #3931
Failed to discover a valid open source license.

[2021-11-19 09:22] whedon commented on #3931
PDF failed to compile for issue #3931 with the following error:
[code]

[2021-11-19 09:22] whedon commented on #3930
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03930/joss.03930/10.21105.joss.03930.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03930/joss.03930/10.21105.joss.03930.pdf) :page_facing_up: :point_left:

[2021-11-19 10:10] kmichael08 commented on #3895
@jbytecode I should do mine this weekend

[2021-11-19 10:22] Kevin-Mattheus-Moerman commented on #3869
@ahojukka5 @azzeddinetiba @jeevanjyoti4 @ilyasst @diehlpk @yangbai90 @kegiljarhus @corentin-dev would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](https://joss.theoj.org):
 "_RECOLO: A Python package for the reconstruction of surface pressure loads from kinematic fields using the virtual fields method_".

The [smooth review process](https://joss.readthe

[2021-11-19 10:27] jeevanjyoti4 commented on #3869
I am really sorry. But I don't think I have the expertise to properly
examine this work.

I hope to be able to contribute to the review process in the future.

Best regards,
Jeevan

-----------------------------------------------------------------------------
Dr Jeevanjyoti Chakraborty
Assistant Professor
Department of Mechanical Engineering
Indian Institute of Technology (IIT) Kharagpur
Kharagpur

[2021-11-19 10:31] maxpumperla commented on #3928
Hi @arfon thanks for kicking off the build etc. In my submission I forgot to mention that `elephas` has been cited many times (https://scholar.google.com/scholar?hl=de&as_sdt=0%2C5&q=elephas+keras&btnG=). I hope by publishing in JOSS we can make it easier for researchers to cite it properly.

[2021-11-19 10:39] arfon commented on #3856
I've just emailed @sbenthall directly. If we don't hear back from him in the next few days, we'll find another editor.

[2021-11-19 10:42] arfon commented on #3886
I've just emailed Vince directly to see if he might be able to take on this submission. If we don't hear back in a few days, we'll look for an alternative editor.

[2021-11-19 10:47] arfon commented on #3922
@whedon invite @christinahedges as editor

:wave: @christinahedges – would you be able to take on this submission for us?

[2021-11-19 10:47] whedon commented on #3922
@christinahedges has been invited to edit this submission.

[2021-11-19 10:51] arfon commented on #3925
@whedon assign me as editor

[2021-11-19 10:51] whedon commented on #3925
OK, the editor is @arfon

[2021-11-19 10:51] arfon commented on #3925
@TomWagg – many thanks for your submission to JOSS!

Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-11-19 10:56] arfon commented on #3927
@whedon generate pdf from branch joss-paper

[2021-11-19 10:56] whedon commented on #3927
[code]

[2021-11-19 10:57] whedon commented on #3927
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03927/joss.03927/10.21105.joss.03927.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03927/joss.03927/10.21105.joss.03927.pdf) :page_facing_up: :point_left:

[2021-11-19 10:57] richardjgowers commented on #3927
I can take this

On Fri, Nov 19, 2021 at 09:20, whedon ***@***.***> wrote:

[2021-11-19 10:59] arfon commented on #3928
@whedon invite @taless474 as editor

:wave: @taless474 – would you be able to edit this submission for JOSS?

[2021-11-19 10:59] whedon commented on #3928
@taless474 has been invited to edit this submission.

[2021-11-19 11:00] richardjgowers commented on #3907
@whedon assign @richardjgowers as editor

[2021-11-19 11:00] whedon commented on #3907
OK, the editor is @richardjgowers

[2021-11-19 11:07] arfon commented on #3929
@whedon query scope

@tuankhoin – thanks for your submission to JOSS. I'm querying the scope of this submission so the wider editorial team can provide their feedback.

This submission is a little different from what we usually allow in JOSS, in particular, visualisation tools are generally out of scope for us, and web applications where a significant fraction of the code contribution is UI config

[2021-11-19 11:07] whedon commented on #3929
Submission flagged for editorial review.

[2021-11-19 11:10] arfon commented on #3930
@whedon query scope

@hscannell – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-11-19 11:10] whedon commented on #3930
Submission flagged for editorial review.

[2021-11-19 11:13] arfon commented on #3931
@whedon reject

@tringuyen2023 – I'm rejecting this submission as:

- It does not appear to be prepared for JOSS (see our [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html))
- There is no software associated with the submission.
- There is no open source license.

Please read our [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html) and resubmit

[2021-11-19 11:13] #3931 closed

[2021-11-19 11:13] whedon commented on #3931
Paper rejected.

[2021-11-19 11:14] arfon commented on #3927
Great, thanks!

[2021-11-19 11:14] arfon commented on #3927
@whedon assign @richardjgowers as editor

[2021-11-19 11:15] whedon commented on #3927
OK, the editor is @richardjgowers

[2021-11-19 11:19] whedon opened #3932 "[PRE REVIEW]: 𝚗𝚛𝙲𝚊𝚜𝚌𝚊𝚍𝚎𝚂𝚒𝚖 -- A simulation tool for nuclear recoil cascades resulting from neutron capture"
**Submitting author:** @villaa (<a href="http://orcid.org/0000-0002-3893-7259">Anthony Villano</a>)
**Repository:** <a href="https://github.com/villano-lab/nrCascadeSim" target ="_blank">https://github.com/villano-lab/nrCascadeSim</a>
**Version:** v1.2.2
**Editor:** @lucydot
**Reviewers:** @matthewfeickert, @altavir
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2021-11-19 11:19] whedon commented on #3932
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 11:19] whedon commented on #3932
Wordcount for `paper.md` is 1201

[2021-11-19 11:19] whedon commented on #3932
[code]

[2021-11-19 11:20] whedon commented on #3932
[code]

[2021-11-19 11:20] whedon commented on #3932
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03932/joss.03932/10.21105.joss.03932.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03932/joss.03932/10.21105.joss.03932.pdf) :page_facing_up: :point_left:

[2021-11-19 11:21] arfon commented on #3932
@villaa – I see this is a resubmission based on the feedback from [an earlier review](https://github.com/openjournals/joss-reviews/issues/3174). Before we assign an editor here, could I ask you to provide a detailed summary of the changes that you've made since the last review (this should help expedite the process on our part).

[2021-11-19 12:13] arfon commented on #3781
@whedon accept deposit=true

[2021-11-19 12:13] whedon commented on #3781
[code]

[2021-11-19 12:14] whedon commented on #3781
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1461669094160314373) 👈 🐦🐦🐦

[2021-11-19 12:14] whedon commented on #3781
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2757
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03781](https://doi.org/10.21105/joss.03781)
2. If everything look

[2021-11-19 12:19] arfon commented on #3781
@stuartcampbell, @ksunden – many thanks for your reviews here and to @rkurchin for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@enricgrau – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-11-19 12:19] #3781 closed

[2021-11-19 12:19] whedon commented on #3781
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03781/status.svg)](https://doi.org/10.21105/joss.03781)

**We need your help!**

Journal of Open Source Softwa

[2021-11-19 13:39] whedon opened #3933 "[PRE REVIEW]: Hyperas: Simple Hyperparameter Tuning for Keras Models"
**Submitting author:** @maxpumperla (<a href="http://orcid.org/0000-0002-7801-4184">Max Pumperla</a>)
**Repository:** <a href="https://github.com/maxpumperla/hyperas" target ="_blank">https://github.com/maxpumperla/hyperas</a>
**Version:** 0.4.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2021-11-19 13:39] whedon commented on #3933
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-11-19 13:39] whedon commented on #3933
Wordcount for `paper.md` is 583

[2021-11-19 13:39] whedon commented on #3933
[code]

[2021-11-19 13:39] whedon commented on #3933
[code]

[2021-11-19 13:40] whedon commented on #3933
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03933/joss.03933/10.21105.joss.03933.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03933/joss.03933/10.21105.joss.03933.pdf) :page_facing_up: :point_left:

[2021-11-19 14:31] mithun218 commented on #3885
Hi @peanutfun Thank you for the detailed review and the valuable suggestions. I am working on them.
I went through your suggestion:

and  did just as you suggested, more or less [here.](https://github.com/mithun218/GiNaCDE/pull/16)

1. To check solutions using GiNaCDE we have added _ginac_ output format.
2. To verify computation results we have added checkSolu() function (this function is in prima

[2021-11-19 16:06] leouieda commented on #3673
Thank you @joergbuchwald!

[2021-11-19 16:06] leouieda commented on #3673
@whedon set 10.5281/zenodo.5705727 as archive

[2021-11-19 16:06] whedon commented on #3673
OK. <a href="https://doi.org/10.5281/zenodo.5705727" target="_blank">10.5281/zenodo.5705727</a> is the archive.

[2021-11-19 16:07] leouieda commented on #3673
@whedon set ogs6py-v0.34/VTUinterface-v0.69 as version

[2021-11-19 16:07] whedon commented on #3673
OK. ogs6py-v0.34/VTUinterface-v0.69 is the version.

[2021-11-19 16:09] leouieda commented on #3673
@whedon generate pdf

[2021-11-19 16:10] whedon commented on #3673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03673/joss.03673/10.21105.joss.03673.pdf) :page_facing_up: :point_left:

[2021-11-19 16:10] sbenthall commented on #3856
Hello. Sorry for the slow response on this.
I don't feel like I have the necessary expertise to be the editor on this paper.

[2021-11-19 16:11] chasmani commented on #3859
Thank you @vyasr for your review and comments. I've responded below:

Cool project @chasmani! I have actually wanted the ability to perform piecewise fits like this before. Have you ever looked at pwlf? At one point I attempted to use it for similar tasks during my PhD, and although I didn't end up incorporating it into production workflows I found that it did a reasonably good job. It uses a sign

[2021-11-19 16:11] leouieda commented on #3673
@whedon recommend-accept

[2021-11-19 16:11] whedon commented on #3673
[code]

[2021-11-19 16:11] whedon commented on #3673
[code]

[2021-11-19 16:11] whedon commented on #3673
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2758

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2758, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-11-19 16:15] chasmani commented on #3859
Thank you @vyasr @Ebedthan @htjb for your reviews, and everyone else for managing the submission.

I really think that your comments have significantly improved the paper and the code, and especially the workflows around making code changes.

This is my first paper at JOSS, I'm not sure what the next step is.

[2021-11-19 16:48] sbenthall commented on #3845
@georgiastuart would you be able to review this submission?

[2021-11-19 16:54] georgiastuart commented on #3845
@sbenthall when do you need the review in by? I'm behind on a couple of other reviews but can do this in December (or maybe January) if that's not too late.

[2021-11-19 16:58] mingzehuang commented on #3828
I have completed the review. The author has perfectly addressed my concerns, I am recommending this paper for acceptance:)

[2021-11-19 17:04] christinahedges commented on #3922
@whedon assign me as editor

[2021-11-19 17:04] whedon commented on #3922
OK, the editor is @christinahedges

[2021-11-19 17:08] christinahedges commented on #3922
@whedon generate pdf

[2021-11-19 17:08] whedon commented on #3922
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03922/joss.03922/10.21105.joss.03922.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03922/joss.03922/10.21105.joss.03922.pdf) :page_facing_up: :point_left:

[2021-11-19 17:13] christinahedges commented on #3922
@whedeon check references

[2021-11-19 17:13] christinahedges commented on #3922
@whedon check references

[2021-11-19 17:13] whedon commented on #3922
[code]

[2021-11-19 17:16] bmcfee commented on #3906
@whedon add @kmichael08 as reviewer

[2021-11-19 17:16] whedon commented on #3906
OK, @kmichael08 is now a reviewer

[2021-11-19 17:18] bmcfee commented on #3906
@whedon start review

[2021-11-19 17:18] whedon opened #3934 "[REVIEW]: PySS3: A new interpretable and simple machine learning model for text classification"
**Submitting author:** @sergioburdisso (<a href="http://orcid.org/0000-0002-7694-6834">Sergio Gastón Burdisso</a>)
**Repository:** https://github.com/sergioburdisso/pyss3
**Branch with paper.md** (empty if default branch):
**Version:** v0.6.4
**Editor:** @bmcfee
**Reviewers:** @hbaniecki, @kmichael08
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of