[2021-08-22 20:24] whedon commented on #3644
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-22 20:24] whedon opened #3645 "[PRE REVIEW]: UndersmoothedUnfolding: Undersmoothed uncertainty quantification for unfolding in ROOT"
**Submitting author:** @jlylekim (<a href="http://orcid.org/0000-0002-4774-5750">Junhyung Lyle Kim</a>)
**Repository:** <a href="https://github.com/jlylekim/UndersmoothedUnfolding" target ="_blank">https://github.com/jlylekim/UndersmoothedUnfolding</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @matthewfeickert
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mod

[2021-08-22 20:24] whedon commented on #3644
[code]

[2021-08-22 20:24] whedon commented on #3645
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-22 20:24] whedon commented on #3644
PDF failed to compile for issue #3644 with the following error:
[code]

[2021-08-22 20:25] whedon commented on #3645
Wordcount for `paper.md` is 764

[2021-08-22 20:25] whedon commented on #3645
[code]

[2021-08-22 20:25] whedon commented on #3645
[code]

[2021-08-22 20:25] whedon commented on #3645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03645/joss.03645/10.21105.joss.03645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03645/joss.03645/10.21105.joss.03645.pdf) :page_facing_up: :point_left:

[2021-08-22 20:26] danielskatz commented on #3644
@nmoran - where is the JOSS paper in your repository?
See https://joss.readthedocs.io/en/latest/submitting.html#typical-paper-submission-flow and https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2021-08-22 20:28] danielskatz commented on #3645
👋 @dpsanders - would you be able to edit this submission for JOSS?

[2021-08-22 20:28] danielskatz commented on #3645
@whedon invite @dpsanders as editor

[2021-08-22 20:29] whedon commented on #3645
@dpsanders has been invited to edit this submission.

[2021-08-22 20:29] danielskatz commented on #3645
@jlylekim - While we find an editor, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comm

[2021-08-22 20:30] danielskatz commented on #3255
@whedon recommend-accept from branch joss

[2021-08-22 20:30] whedon commented on #3255
[code]

[2021-08-22 20:31] whedon commented on #3255
[code]

[2021-08-22 20:31] whedon commented on #3255
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2520

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2520, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-22 20:31] danielskatz commented on #3255
👋 @Kevin-Mattheus-Moerman - I'm not sure what went wrong when you tried this yesterday, but it's now working.  Please feel free to handle the final processing yourself as a AEiC, or let me know if you want me to do it as the on-duty AEiC.

[2021-08-22 20:32] danielskatz commented on #3255
👋 @LiangliangNan - please fix the incorrect DOI (remove the 'https://doi.org/' prefix) as `@whedon` suggests above

[2021-08-22 20:33] rbeucher commented on #3436
Hi, yes I should be able to help.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: whedon ***@***.***>
Sent: Monday, August 23, 2021 2:18:13 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Romain Beucher ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: PyVOLCANS: A Python package to flexibly explore similarities and

[2021-08-22 21:03] TahiriNadia commented on #3592
Thank you @osorensen :-)

[2021-08-22 21:10] LiangliangNan commented on #3255
@whedon generate pdf from branch joss

[2021-08-22 21:10] whedon commented on #3255
[code]

[2021-08-22 21:10] whedon commented on #3255
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03255/joss.03255/10.21105.joss.03255.pdf) :page_facing_up: :point_left:

[2021-08-22 21:11] LiangliangNan commented on #3255
@danielskatz The DOI has been fixed. Please proceed. Thanks!

[2021-08-22 21:11] nmoran commented on #3644
@danielskatz apologies I see that I gave the URL to the repository with the software and not the paper. Paper is at [https://github.com/nmoran/juliaqx_joss](https://github.com/nmoran/juliaqx_joss).

Is it possible to change the URL or do I need to re-submit?

[2021-08-22 21:32] andr1976 commented on #3585
Hi @kthyng, Thanks!

[2021-08-22 21:42] danielskatz commented on #3644
Ideally you would put the paper in the software repository, at least in a branch

[2021-08-22 21:48] AKUMAR0019 commented on #3578
Thank you for your responses @osorensen and @robbisg. Please see my point by point responses below.

1. @osorensen The 49 commits are associated with a different tool I am completing that is separate from nidm_linreg.py. In other words, those commits are not related to the paper. I will eventually create pull requests onto the repository incf-nidash/PyNIDM when done, but the complete linear regres

[2021-08-22 22:18] nmoran commented on #3644
Thanks, have created a joss-paper branch and added the files there.

[2021-08-22 22:23] danielskatz commented on #3644
@whedon generate pdf from branch joss-paper

[2021-08-22 22:23] whedon commented on #3644
[code]

[2021-08-22 22:23] whedon commented on #3644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03644/joss.03644/10.21105.joss.03644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03644/joss.03644/10.21105.joss.03644.pdf) :page_facing_up: :point_left:

[2021-08-22 22:23] danielskatz commented on #3644
@whedon check references from branch joss-paper

[2021-08-22 22:23] whedon commented on #3644
[code]

[2021-08-22 22:23] whedon commented on #3644
[code]

[2021-08-22 22:27] danielskatz commented on #3644
@whedon invite @Kevin-Mattheus-Moerman as editor

[2021-08-22 22:27] whedon commented on #3644
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2021-08-22 22:27] danielskatz commented on #3644
👋 @Kevin-Mattheus-Moerman - I wonder if you can take this, in part based on your Julia knowledge?

[2021-08-22 22:27] mdogucu commented on #3637
Unfortunately, I am currently not available for review.

[2021-08-22 23:33] jlylekim commented on #3645
@whedon check references

[2021-08-22 23:33] whedon commented on #3645
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "year" (NAME) [#<BibTeX::Bibliography data=[3]>, "@", #<BibTeX::Entry >, {:title=>["TUnfold, an algorithm for correcting migration effects in high energy physics"], :author=>["Schmitt, Stefan"], :journal=>["Journal of Instrumentation"], :volume=>["7"], :number=>["10"], :pages=>["T10003"], :doi=>["10.1088

[2021-08-22 23:36] jlylekim commented on #3645
@whedon check references

[2021-08-22 23:36] whedon commented on #3645
[code]

[2021-08-22 23:37] jlylekim commented on #3645
@whedon generate pdf

[2021-08-22 23:38] whedon commented on #3645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03645/joss.03645/10.21105.joss.03645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03645/joss.03645/10.21105.joss.03645.pdf) :page_facing_up: :point_left:

[2021-08-22 23:45] jlylekim commented on #3645
Thank you for pointing out the missing DOIs--they are added in the .bib file.

Also, here is a list of potential reviewers:
andrewfowlie
ghammad
rafaelab

Thank you,
Lyle

[2021-08-23 00:42] Sara-ShiHo commented on #3504
So far, I have a few questions/suggestions for the authors:
 - I believe `.DS_Store` should be removed from the repo and be added to `.gitignore`
 - I have not found any 'performance claims'. I understand that speed might vary due to internet performance, but it might be useful to give a rough idea of how long web scraping takes using this tool. For example, how long will the queries in the exampl

[2021-08-23 01:30] diehlpk commented on #3274
@vijaysm How is your review going?

[2021-08-23 01:30] diehlpk commented on #3390
Hey @Kevin-Mattheus-Moerman how is your review going?

[2021-08-23 01:31] diehlpk commented on #3390
Hey @likask  how is your review going?

[2021-08-23 02:13] jeffreybarrick commented on #3362
Thanks everyone. We appreciate what a positive and helpful experience this was.

[2021-08-23 05:13] weiji14 commented on #3436
Hi @elbeejay, I won't be able to review this submission, but I can recommend @meghanrjones who would be more suitable.

[2021-08-23 05:20] rbeucher commented on #3436
Note that I don't have much expertise on volcanoes. So if @meghanrjones is happy to review...

[2021-08-23 06:12] jacobmerson commented on #3389
@whedon generate pdf from branch joss

fixed a typo in the acknowledgements

[2021-08-23 06:12] whedon commented on #3389
[code]

[2021-08-23 06:12] whedon commented on #3389
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: :point_left:

[2021-08-23 06:22] cMadan commented on #3632
@henrykironde, thanks for the update! I've looked over discussions so far and I really appreciate that you're suggesting more robust software development principles (e.g., branches, workflows).

[2021-08-23 06:58] mikldk commented on #3324
@whedon set 10.5281/zenodo.5233945 as archive

[2021-08-23 06:58] whedon commented on #3324
OK. <a href="https://doi.org/10.5281/zenodo.5233945" target="_blank">10.5281/zenodo.5233945</a> is the archive.

[2021-08-23 06:58] mikldk commented on #3324
@whedon check references

[2021-08-23 06:58] whedon commented on #3324
[code]

[2021-08-23 06:58] mikldk commented on #3324
@whedon generate pdf

[2021-08-23 06:59] whedon commented on #3324
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: :point_left:

[2021-08-23 06:59] mikldk commented on #3324
@whedon set v0.6.9 as version

[2021-08-23 06:59] whedon commented on #3324
OK. v0.6.9 is the version.

[2021-08-23 07:00] mikldk commented on #3324
@whedon recommend-accept

[2021-08-23 07:00] whedon commented on #3324
[code]

[2021-08-23 07:00] whedon commented on #3324
[code]

[2021-08-23 07:00] whedon commented on #3324
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2521

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2521, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-23 07:02] osorensen commented on #3578
Thanks @AKUMAR0019, that sounds absolutely fine regarding point 1. However, if repository incf-nidash/PyNIDM is the one where users can contribute to the code, we should reference that repository in the paper (if accepted) rather than AKUMAR0019/PyNIDM which is currently stated as the repository for this submission. Does that make sense?

[2021-08-23 07:03] mikldk commented on #3539
@seabbs, @strengejacke, @SteRoe: Can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2021-08-23 08:11] Kevin-Mattheus-Moerman commented on #3255
@whedon check references from branch joss

[2021-08-23 08:11] whedon commented on #3255
[code]

[2021-08-23 08:11] whedon commented on #3255
[code]

[2021-08-23 08:15] Kevin-Mattheus-Moerman commented on #3255
@whedon accept deposit=true from branch joss

[2021-08-23 08:15] whedon commented on #3255
[code]

[2021-08-23 08:16] whedon commented on #3255
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1429719092362203140) 👈 🐦🐦🐦

[2021-08-23 08:16] whedon commented on #3255
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2522
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03255](https://doi.org/10.21105/joss.03255)
2. If everything look

[2021-08-23 08:35] drvinceknight commented on #3397
Ok great! Apologies for the delay in getting back to you, I'm just back from some leave. Looking through now.

[2021-08-23 08:35] drvinceknight commented on #3397
@whedon generate pdf

[2021-08-23 08:36] whedon commented on #3397
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03397/joss.03397/10.21105.joss.03397.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03397/joss.03397/10.21105.joss.03397.pdf) :page_facing_up: :point_left:

[2021-08-23 08:39] drvinceknight commented on #3397
Could you  make a tagged release and archive, and report the version number and archive DOI here please.

Please make sure the archive has the correct metadata: ie that the title and author list match the paper.

[2021-08-23 08:40] drvinceknight commented on #3424
Apologies for not getting back to you, I've been on leave. That all looks good to me.

[2021-08-23 08:41] drvinceknight commented on #3424
@whedon set 10.5281/zenodo.5196791 as archive

[2021-08-23 08:41] whedon commented on #3424
OK. <a href="https://doi.org/10.5281/zenodo.5196791" target="_blank">10.5281/zenodo.5196791</a> is the archive.

[2021-08-23 08:41] drvinceknight commented on #3424
@whedon set 0.1.4 as version

[2021-08-23 08:41] whedon commented on #3424
OK. 0.1.4 is the version.

[2021-08-23 08:42] drvinceknight commented on #3424
@whedon recommend-accept

[2021-08-23 08:42] whedon commented on #3424
[code]

[2021-08-23 08:42] whedon commented on #3424
[code]

[2021-08-23 08:42] whedon commented on #3424
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2523

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2523, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-23 08:42] drvinceknight commented on #3424
@openjournals/joss-eics note that the branch from which the paper is to be built is `abmarl-87-interface-release`

[2021-08-23 08:43] drvinceknight commented on #3084
That's great, thank you @thewan05, I'll get in touch with them.

[2021-08-23 08:52] Nikoleta-v3 commented on #3556
I am not sure I understand the comment about difference methodology either.

Thanks for your comments @jmv2009. How did you come across the review? 😄  (if you don't mind me asking)

[2021-08-23 08:53] Nikoleta-v3 commented on #3556
@mscroggs I am going to have a final check over the paper and then it should be good to go 👍🏻

[2021-08-23 08:54] Nikoleta-v3 commented on #3522
Thank you very much for your review and your time @cmaimone 😄 👍🏻

[2021-08-23 08:56] michakraus commented on #2954
I have been off the grid for about two weeks myself, but am now back to work. A short update: we just released GeometricIntegrators v0.9 which addresses many requests of the reviewers as well as many other changes. The main points still missing are
- [ ] add more examples (different problem types)
- [ ] improve the documention of equations, solutions, simulations and add developer docs
- [ ] add a

[2021-08-23 09:31] alexmalins commented on #3318
Progress update: I've committed changes incorporating your suggestions @munkm and @kellyrowland . These are currently visible on the [devel](https://github.com/alexmalins/radioactivedecay/tree/devel) and [joss_paper](https://github.com/alexmalins/radioactivedecay/tree/joss_paper) branches of the repository.

There are two outstanding comments from the review in this [issue](https://github.com/alex

[2021-08-23 09:38] SteRoe commented on #3539
My points were properly replied. For me, the manuscript is fine. How to proceed?

[2021-08-23 10:23] ranocha commented on #3454
@whedon check references

[2021-08-23 10:31] ranocha commented on #3454
@whedon commands

[2021-08-23 10:31] whedon commented on #3454
Here are some things you can ask me to do:

[code]

[2021-08-23 10:32] ranocha commented on #3454
@whedon check references from branch paper

[2021-08-23 10:32] whedon commented on #3454
[code]

[2021-08-23 10:32] whedon commented on #3454
[code]

[2021-08-23 10:34] ranocha commented on #3454
@whedon check references from branch paper

[2021-08-23 10:34] whedon commented on #3454
[code]

[2021-08-23 10:35] whedon commented on #3454
[code]

[2021-08-23 10:35] ranocha commented on #3454
@whedon generate pdf from branch paper

[2021-08-23 10:35] whedon commented on #3454
[code]

[2021-08-23 10:36] whedon commented on #3454
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03454/joss.03454/10.21105.joss.03454.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03454/joss.03454/10.21105.joss.03454.pdf) :page_facing_up: :point_left:

[2021-08-23 10:57] fraukewiese commented on #3625
@wedon generate pdf

[2021-08-23 11:01] Kevin-Mattheus-Moerman commented on #3390
@diehlpk thanks for the reminders, apologies these announcement were snowed under for a while. I started review and my initial comments are here:
https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM/issues/3

[2021-08-23 11:30] fraukewiese commented on #3585
Hi, yes I can take this :)

[2021-08-23 11:30] fraukewiese commented on #3585
@whedon assign me as editor

[2021-08-23 11:30] whedon commented on #3585
OK, the editor is @fraukewiese

[2021-08-23 11:35] fraukewiese commented on #3585
@mefuller , @noah80
– would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: [https://joss.readthedocs.io/en/latest/reviewer_guidelines.html](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

[2021-08-23 11:38] mefuller commented on #3585
Sure - I'd be happy to review

[2021-08-23 11:56] mfleschutz commented on #3625
Thank you, @fraukewiese. I restructured and updated the paper.

[2021-08-23 12:00] fraukewiese commented on #3625
@whedon generate pdf

[2021-08-23 12:00] whedon commented on #3625
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03625/joss.03625/10.21105.joss.03625.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03625/joss.03625/10.21105.joss.03625.pdf) :page_facing_up: :point_left:

[2021-08-23 12:18] chartgerink commented on #3595
@whedon add @joaomcteixeira as reviewer.

[2021-08-23 12:18] whedon commented on #3595
OK, @joaomcteixeira is now a reviewer

[2021-08-23 12:19] chartgerink commented on #3595
@whedon start review

[2021-08-23 12:19] whedon opened #3646 "[REVIEW]: spant: An R package for magnetic resonance spectroscopy analysis"
**Submitting author:** @martin3141 (<a href="http://orcid.org/0000-0002-2089-3956">Martin Wilson</a>)
**Repository:** <a href="https://github.com/martin3141/spant" target ="_blank">https://github.com/martin3141/spant</a>
**Version:** v1.15.0
**Editor:** @chartgerink
**Reviewers:** @joaomcteixeira, @chartgerink
**Archive:** <a href="https://doi.org/10.5281/zenodo.5592186" target="_blank">10.5281/ze

[2021-08-23 12:19] whedon commented on #3595
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3646.

[2021-08-23 12:19] whedon commented on #3646
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @a3sha2, @joaomcteixeira it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-08-23 12:19] whedon commented on #3646
[code]

[2021-08-23 12:19] whedon commented on #3646
[code]

[2021-08-23 12:19] whedon commented on #3646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03646/joss.03646/10.21105.joss.03646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03646/joss.03646/10.21105.joss.03646.pdf) :page_facing_up: :point_left:

[2021-08-23 12:38] pdebuyl commented on #3076
Thank you @martinmodrak for the updated review. @mparno do you have some time estimate for the updates?

[2021-08-23 12:38] pdebuyl commented on #3337
Hi @McWhity is the update coming as planned?

[2021-08-23 12:39] pdebuyl commented on #3425
Thanks @antoinediez for the suggestsions. I was waiting for another reviewer's reply but will contact other candidates anyway.

[2021-08-23 12:44] pdebuyl commented on #3425
@junghans would you review the article "SiSyPHE: A Python package for the Simulation of Systems of Particles with High Efficiency" for the Journal of Open Source Software ?

[2021-08-23 12:58] twesterhout commented on #3537
@jedbrown DOI of the archived version (0.8.2) is 10.5281/zenodo.5235336.

p.s.: I decided to go with 0.8.2 rather than 0.9.0 because the new features are not public yet (they are meant for internal testing / benchmarks).

[2021-08-23 13:04] tmickleydoyle commented on #3330
@jGaboardi 👋  Thank you for the link, but I am still having a hard time finding the API docs.

[2021-08-23 13:11] fraukewiese commented on #3585
Great! Thanks @mefuller !

I will add you as a reviewer now but won't actually start the review until we have a second reviewer signed up.

[2021-08-23 13:12] fraukewiese commented on #3585
@whedon add @mefuller as reviewer

[2021-08-23 13:12] whedon commented on #3585
OK, @mefuller is now a reviewer

[2021-08-23 13:17] mikldk commented on #3539
@SteRoe Your checklist at the top is still not entirely completed. Please go through all items and either verify the item is satisfactory by checking it, or raise an issue (here or as a dedicated issue in the repository). When you are done please let me know. Please don't close this issue; the system will do that automatically when the review is finished.

[2021-08-23 13:26] danielskatz commented on #3324
👋 @ulf1 - As the AEiC on duty this week, I've suggested some changes to the paper in https://github.com/satzbeleg/bwsample/pull/75 - please merge this, or let me know what you disagree with.  Once we do this, we can proceed to final publication.

[2021-08-23 13:27] larkz commented on #3587
@adi3 we nominated 5 reviewers from the list to provide the review. We tried our best to ensure that the topics listed on the list matches the required expertise to review our software.

TimKam - tkampik@cs.umu.se
DanielMyshkin - danmyshkin@gmail.com
paragkulkarni11 - parag.kulkarni11@gmail.com
dvysardana - sardanda@mail.uc.edu
kakirastern - krisastern@gmail.com

Many thanks!

[2021-08-23 13:31] faroit commented on #3391
@keunwoochoi your issue with macos seems to be caused by madmom. While the issues is being addressed, please check https://github.com/Music-and-Culture-Technology-Lab/omnizart/issues/38 for a workaround to run the software so that we can proceed with the review quickly.

[2021-08-23 13:32] danielskatz commented on #3424
@drvinceknight - I'm confused - you didn't do `@whedon recommend-accept from branch abmarl-87-interface-release`  Why not?

[2021-08-23 13:32] faroit commented on #3391
@hagenw

seems like that this is solved. Please close the remaining checkboxes if this is the case. Thanks a lot for your review!

[2021-08-23 13:34] danielskatz commented on #3424
It appears the paper is the same in the branch and main, so I don't think it matters, but perhaps @drvinceknight or @rusu24edward could explain before we proceed?  In the meantime, I'll proofread the paper (and if changes are needed, suggest them in main)

[2021-08-23 13:45] a3sha2 commented on #3595
@whedon review start

[2021-08-23 13:45] whedon commented on #3595
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-23 13:45] a3sha2 commented on #3595
@whedon start review

[2021-08-23 13:45] whedon commented on #3595
I'm sorry @a3sha2, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-08-23 13:47] danielskatz commented on #3424
👋 @rusu24edward - in any case (ignoring the branch vs main issue), there are a couple of small changes needed that I've indicated in https://github.com/LLNL/Abmarl/pull/195

If the paper in main is ok, then these can just be merged and we can proceed to publication with that branch of the paper.  If the paper in the other branch is different, these changes can be made there and we can publish usin

[2021-08-23 13:49] danielskatz commented on #3595
@a3sha2 - I'm not sure what are you trying to do.  The review is taking place in https://github.com/openjournals/joss-reviews/issues/3646 now.  And this issue for the pre-review should remain closed, since the "action" has moved to the review issue.

[2021-08-23 13:49] #3595 closed

[2021-08-23 13:50] LiangliangNan commented on #3255
Yes. Everything looks good.
Thank you again for all the help and efforts!

[2021-08-23 13:55] csoneson commented on #3637
@mdogucu - no problem, thanks for the quick response!

[2021-08-23 14:03] hagenw commented on #3391
I'm still not able to run the tests locally as the updated installation instruction does not work for me, see https://github.com/Music-and-Culture-Technology-Lab/omnizart/issues/40#issuecomment-903539742

But as I will be away for two weeks from tomorrow it might be fine if I just tick the boxes or somebody else can try to get the tests running locally.

[2021-08-23 14:03] kthyng commented on #3172
Ok, great. Then let's summarize where we are at. @bstabler and @joferkington could you assess your review and if you are finished, please say so. @bstabler you have a couple of boxes left yet. Thanks all!

[2021-08-23 14:09] joferkington commented on #3172
My review is complete and I considered the existing tutorials / etc are a reasonable replacement for test coverage.  I'd recommend publishing as-is.  Thanks!

[2021-08-23 14:10] aguspesce commented on #3551
Hello @jedbrown,
Thank you for taking your time to make the review!
We are working to fix and improve the observation that you mentioned.

[2021-08-23 14:23] metelkin commented on #3639
@whedon generate pdf from branch paper

[2021-08-23 14:23] whedon commented on #3639
[code]

[2021-08-23 14:24] emdupre commented on #3523
Thank you, @matteomancini ! If you have any difficulties in completing your review this week, please just let me know.

Otherwise, as you're working through the checklist above, please add a pointer to this issue on any issues you may open on the software repo so they are cross-linked.

[2021-08-23 14:24] whedon commented on #3639
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03639/joss.03639/10.21105.joss.03639.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03639/joss.03639/10.21105.joss.03639.pdf) :page_facing_up: :point_left:

[2021-08-23 14:26] emdupre commented on #3523
:wave: Hi @agahkarakuzu -- have you had a chance to take a look at the paper and start working through the review checklist ? If you're facing any issues here, please let me know.

[2021-08-23 14:31] danielskatz commented on #2495
I've emailed the author to check on this.

[2021-08-23 14:35] danielskatz commented on #2978
👋 Hi all - Can I get an update on the status of this review?

@rhaas80  - it looks like you opened some issues 2 weeks ago. Once these are resolved, will your review be complete?  Or are there other things you are also doing?

@robertsawko - What is needed for you to complete your review?  Are the items in https://github.com/openjournals/joss-reviews/issues/2978#issuecomment-886235689 from about a

[2021-08-23 14:37] McWhity commented on #3337
Sorry, I'm a little bit behind schedule. I'm currently testing the implemented changes. Therefore, the new version should be ready within this week. I will keep you posted when I push the final changes. Furthermore, I will provide a detailed answer to the review comments.

[2021-08-23 14:37] AKUMAR0019 commented on #3578
Hi @osorensen. I apologize for the confusion. I agree, incf-nidash/PyNIDM should be the repository for this submission. I put AKUMAR0019/PyNIDM because that was the location of the paper files, but it is not the main repository and should be changed.

[2021-08-23 14:37] agahkarakuzu commented on #3523
Hi @emdupre I'll finish my review this week, sorry for the delay. Thank you for the reminder!

[2021-08-23 14:38] danielskatz commented on #2495
And received a reply: "I'm out of office until Sep. 6 2021"

[2021-08-23 14:39] danielskatz commented on #2495
@whedon remind @danielskatz and @EGaraldi in 16 days

[2021-08-23 14:39] whedon commented on #2495
Reminder set for @danielskatz and @EGaraldi in 16 days

[2021-08-23 14:42] danielskatz commented on #3584
👋 @ericsfraga - I'm sorry for the delay, and also to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-an

[2021-08-23 14:42] danielskatz commented on #3584
@whedon reject

[2021-08-23 14:42] whedon commented on #3584
Paper rejected.

[2021-08-23 14:42] #3584 closed

[2021-08-23 14:46] danielskatz commented on #3639
@metelkin - thanks for your submission.  Because the code size is not clear, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

Can you help by explaining specifically what code is part of the submission that would be rev

[2021-08-23 14:46] danielskatz commented on #3639
@whedon query scope

[2021-08-23 14:46] whedon commented on #3639
Submission flagged for editorial review.

[2021-08-23 14:49] danielskatz commented on #3640
@DanJMulder - thanks for your submission.  Due to the lack of packaging of the code, and the fact that it's not clear if this is research software, the editors will now discuss if submission criterion for review by JOSS.  You should hear back in a week or so.

[2021-08-23 14:49] danielskatz commented on #3640
@whedon query scope

[2021-08-23 14:49] whedon commented on #3640
Submission flagged for editorial review.

[2021-08-23 14:50] whedon opened #3647 "[PRE REVIEW]: Fiscore Package: Effective protein structural data visualisation and exploration"
**Submitting author:** @AusteKan (<a href="http://orcid.org/0000-0001-6829-4082">Austė  Kanapeckaitė</a>)
**Repository:** <a href="https://github.com/AusteKan/Fiscore" target ="_blank">https://github.com/AusteKan/Fiscore</a>
**Version:** V0.1.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-08-23 14:50] whedon commented on #3647
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-23 14:50] whedon commented on #3647
Wordcount for `paper.md` is 1517

[2021-08-23 14:50] whedon commented on #3647
[code]

[2021-08-23 14:50] whedon opened #3648 "[PRE REVIEW]: PDLSM-FEM: Solver of Coupled Peridynamics Least Squares Minimization with Finite Element Method"
**Submitting author:** @QibangLiu  (<a href="http://orcid.org/0000-0001-7935-7907">Qibang Liu</a>)
**Repository:** <a href="https://github.com/QibangLiu/PDLSM-FEM_mpi" target ="_blank">https://github.com/QibangLiu/PDLSM-FEM_mpi</a>
**Version:** v1.0
**Editor:** @prashjha
**Reviewers:** @TLCFEM, @karthikncsu, @Balaje
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:*

[2021-08-23 14:50] whedon commented on #3647
[code]

[2021-08-23 14:50] whedon commented on #3648
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-23 14:50] whedon commented on #3648
Wordcount for `paper.md` is 551

[2021-08-23 14:50] whedon commented on #3648
[code]

[2021-08-23 14:50] whedon commented on #3648
[code]

[2021-08-23 14:50] whedon commented on #3647
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03647/joss.03647/10.21105.joss.03647.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03647/joss.03647/10.21105.joss.03647.pdf) :page_facing_up: :point_left:

[2021-08-23 14:50] whedon commented on #3648
PDF failed to compile for issue #3648 with the following error:
[code]

[2021-08-23 14:52] danielskatz commented on #3558
👋 @mjsottile - since one of your submissions seems to be somewhat paused, I wonder if you could take this and get it started, with the knowledge that it might slow down if they other one restarts?

[2021-08-23 14:53] ericsfraga commented on #3584
Okay, thank you. No worries. I do believe that this software represents a substantial scholarly effort but I am obviously biased. ;-)

[2021-08-23 14:54] danielskatz commented on #3583
👋 @lucydot - do you think you could edit this submission for JOSS?

[2021-08-23 14:54] danielskatz commented on #3583
@whedon invite @lucydot as editor

[2021-08-23 14:54] whedon commented on #3583
@lucydot has been invited to edit this submission.

[2021-08-23 14:56] danielskatz commented on #3636
👋 @csoneson - Do you think you edit this submission for JOSS?

[2021-08-23 14:56] danielskatz commented on #3636
@whedon invite @csoneson as editor

[2021-08-23 14:56] whedon commented on #3636
@csoneson has been invited to edit this submission.

[2021-08-23 14:59] danielskatz commented on #3647
👋 @AusteKan - I'm sorry to say that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Note specifically "Total lines of code (LOC). Submissions under 1000 LOC will usually be flagged, those under 300 LOC will be desk rejected." Please see https://joss.readthedocs.io/en/

[2021-08-23 14:59] danielskatz commented on #3647
@whedon reject

[2021-08-23 14:59] whedon commented on #3647
Paper rejected.

[2021-08-23 14:59] #3647 closed

[2021-08-23 15:02] danielskatz commented on #3648
👋 @QibangLiu - Please note that your paper does not compile.  Your header has a lot of blank lines that may be causing problems.  Please follow the example in https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

In addition, you could work on the possibly missing DOI that whedon suggests, but note that this may be incorrect. Please feel free to make changes to your

[2021-08-23 15:04] danielskatz commented on #3211
@whedon remind @danielskatz and @antviro in 16 days

Just to see how things are going at that point after @antviro has had a chance to work on their review

[2021-08-23 15:04] whedon commented on #3211
Reminder set for @danielskatz and @antviro in 16 days

[2021-08-23 15:06] danielskatz commented on #3143
👋 @williamfgc - can you check and see if the changes from @nkallima satisfy you, and if you can check off the remaining items in your review?  And if not, please let us know what else you think is needed.

[2021-08-23 15:07] danielskatz commented on #3618
@TomGoffrey - Are you ok with the answer from @michaeltouati?

[2021-08-23 15:25] bstabler commented on #3172
All checks in.  Thanks.

[2021-08-23 15:26] drvinceknight commented on #3424
Apologies, I didn't realise that's what I should have done. Thanks for pointing it out.

[2021-08-23 15:29] whedon commented on #3594
:wave: @diodon, please update us on how your review is going (this is an automated reminder).

[2021-08-23 15:29] whedon commented on #3594
:wave: @gonzalobravoargentina, please update us on how your review is going (this is an automated reminder).

[2021-08-23 15:34] rkurchin commented on #3564
👋 Hi there @shreyasbapat and @sbozzolo, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Please feel free to let me know if you have any questions about the process.

[2021-08-23 15:35] ulf1 commented on #3324
@danielskatz Thank you, I merged your corrections.

[2021-08-23 15:38] QibangLiu commented on #3648
@whedon generate pdf

[2021-08-23 15:38] danielskatz commented on #3639
I guess I should have read https://hetalang.github.io/#/heta-compiler/ - now I see that the Heta compiler has been written in NodeJS environment, which I think answer my question about the source code. And given this, I think my question about code size is also answered.  So I'll stop the scope query, and work on finding an editor next.

[2021-08-23 15:38] whedon commented on #3648
PDF failed to compile for issue #3648 with the following error:
[code]

[2021-08-23 15:40] danielskatz commented on #3639
@fboehm - do you think you could edit this submission?

[2021-08-23 15:40] danielskatz commented on #3639
@whedon invite @fboehm as editor

[2021-08-23 15:40] whedon commented on #3639
@fboehm has been invited to edit this submission.

[2021-08-23 15:41] rkurchin commented on #3412
👋 Hi there @UTH-Tuan, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Please feel free to let me know if you have any questions about the process.

I recognize this submission is a bit outside your subject area expertise, so I'm primarily

[2021-08-23 15:42] jedbrown commented on #3551
@aguspesce Great! Just let reply here after making updates. You can comment `@whedon generate pdf` to spin a new PDF at that time.

[2021-08-23 15:42] danielskatz commented on #3648
Please remove the orcid line for X.J. Jin - this should only be there when an author has an ORCID.

[2021-08-23 15:42] rkurchin commented on #3412
👋 Hi there @dalonsoa, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Please feel free to let me know if you have any questions about the process.

I know you didn't note Pascal expertise in your volunteer signup, so I'm hoping that as a

[2021-08-23 15:44] QibangLiu commented on #3648
@whedon generate pdf

[2021-08-23 15:44] danielskatz commented on #3324
@whedon accept deposit=true

[2021-08-23 15:44] whedon commented on #3648
PDF failed to compile for issue #3648 with the following error:
[code]

[2021-08-23 15:44] whedon commented on #3324
[code]

[2021-08-23 15:44] whedon commented on #3324
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1429832015231078402) 👈 🐦🐦🐦

[2021-08-23 15:44] whedon commented on #3324
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2524
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03324](https://doi.org/10.21105/joss.03324)
2. If everything look

[2021-08-23 15:48] QibangLiu commented on #3648
@whedon generate pdf

[2021-08-23 15:48] whedon commented on #3648
PDF failed to compile for issue #3648 with the following error:
[code]

[2021-08-23 15:49] QibangLiu commented on #3648
@whedon generate pdf

[2021-08-23 15:50] rkurchin commented on #3545
Hi @janfreyberg, I see your checklist is finished, are you happy to accept?

@janfb, reminder to finish your checklist and open issues for anything else that comes up!

[2021-08-23 15:50] whedon commented on #3648
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03648/joss.03648/10.21105.joss.03648.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03648/joss.03648/10.21105.joss.03648.pdf) :page_facing_up: :point_left:

[2021-08-23 15:51] danielskatz commented on #3324
Congratulations to  @ulf1 (Ulf Hamster)!!

And thanks to @mikldk for editing, and to @ejhigson and @jakryd for reviewing!

[2021-08-23 15:51] #3324 closed

[2021-08-23 15:51] whedon commented on #3324
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03324/status.svg)](https://doi.org/10.21105/joss.03324)

**We need your help!**

Journal of Open Source Softwa

[2021-08-23 15:52] QibangLiu commented on #3648
@danielskatz Thanks. It's compiled now.

[2021-08-23 16:05] osorensen commented on #3578
@AKUMAR0019, I have now changed the repository to https://github.com/incf-nidash/PyNIDM. @htwangtw and @robbisg, please note this, and place any issues in that repository.

@openjournals/dev, if necessary, could you please replace the source repository in the database?

[2021-08-23 16:08] rusu24edward commented on #3424
@danielskatz I'm sorry for the confusion, I'll do my best to explain. Our software utilizes a release strategy similar to the [branch release stragey](https://nvie.com/posts/a-successful-git-branching-model/). We have our main branch, which contains active development that is not yet ready for release, and when we make releases we create a release branch off main. This review has been of our first

[2021-08-23 16:09] Kevin-Mattheus-Moerman commented on #3255
Congratulatios @LiangliangNan

And thank you so much to  @adi3, @vissarion, and @bhajay for your review efforts!

[2021-08-23 16:09] #3255 closed

[2021-08-23 16:09] whedon commented on #3255
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03255/status.svg)](https://doi.org/10.21105/joss.03255)

**We need your help!**

Journal of Open Source Softwa

[2021-08-23 16:11] LMMorgan commented on #3451
Dear @dpsanders,

I have reordered the text and explained VASP and LAMMPS, with references. I have also added the missing `docs` link in the repo (it got missed off the previous commit) and I have adding the input and output files for an example (Na3OCl) to `userguides/example_Na3OCl`.

In regards to `PopOff` vs `popoff`, the lower case is used in code snippets as this in how the directories are l

[2021-08-23 16:13] Kevin-Mattheus-Moerman commented on #3644
@danielskatz sorry this is too far out of scope for me. Perhaps @melissawm might be suitable to handle this one?

[2021-08-23 16:14] QibangLiu commented on #3648
@whedon generate pdf

[2021-08-23 16:15] whedon commented on #3648
PDF failed to compile for issue #3648 with the following error:
[code]

[2021-08-23 16:16] QibangLiu commented on #3648
@whedon generate pdf

[2021-08-23 16:16] whedon commented on #3648
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03648/joss.03648/10.21105.joss.03648.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03648/joss.03648/10.21105.joss.03648.pdf) :page_facing_up: :point_left:

[2021-08-23 16:20] danielskatz commented on #3424
The JOSS publication is of the paper, and it includes a pointer to the full repository, so there's no need to worry about the branch in this case, I don't think. Does this make sense?

[2021-08-23 16:27] danielskatz commented on #3644
👋 @melissawm  - I wonder if you can take this, as suggested to @Kevin-Mattheus-Moerman?

[2021-08-23 16:27] danielskatz commented on #3644
@whedon invite @melissawm as editor

[2021-08-23 16:27] whedon commented on #3644
@melissawm has been invited to edit this submission.

[2021-08-23 16:29] danielskatz commented on #3648
👋 @prashjha - would you be able to review this submission for JOSS?

[2021-08-23 16:29] danielskatz commented on #3648
@whedon invite @prashjha as editor

[2021-08-23 16:29] whedon commented on #3648
@prashjha has been invited to edit this submission.

[2021-08-23 16:35] danielskatz commented on #3497
👋 @jamesrhester - note we just need you to update your zenodo metadata to proceed

[2021-08-23 16:37] danielskatz commented on #3497
Additionally, in proofreading the paper, your bib entries for software packages should each have a title field with the title of the package.

[2021-08-23 16:37] Kevin-Mattheus-Moerman commented on #3390
@Muhao-Chen thanks for submitting this interesting work. I have downloaded and tested the software and I enjoyed running the various examples. I think this is in principle a nice submission but I do think the work can benefit from a lot of minor changes which I highlight in this issue:
https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM/issues/3
One major point is automated testi

[2021-08-23 16:42] danielskatz commented on #3497
Finally, I suggest a number of small changes in https://github.com/jamesrhester/Lerche.jl/pull/22

[2021-08-23 16:46] daniellivingston commented on #3389
@diehlpk @jacobmerson I've reviewed the source code, repo, usage, and paper, and find that it passes all review criteria. My review is complete and please consider this paper approved. Thank you very much!

[2021-08-23 16:56] janfreyberg commented on #3545
Yes, sorry - happy to accept :)

[2021-08-23 16:58] mewilhel commented on #3574
@fraukewiese I've looked over the software and paper and I'm ready to go through my checklist but I'm receiving the following message when I attempt to accept the invite: "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account." What are good next steps to resolve this?

[2021-08-23 16:59] danielskatz commented on #3574
@whedon re-invite @mewilhel as reviewer

[2021-08-23 16:59] whedon commented on #3574
OK, the reviewer has been re-invited.

@mewilhel please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-23 17:13] prashjha commented on #3648
@danielskatz thanks!

[2021-08-23 17:13] prashjha commented on #3648
@whedon assign me as editor

[2021-08-23 17:13] whedon commented on #3648
OK, the editor is @prashjha

[2021-08-23 17:16] oneilsh commented on #3543
Hi @omid-s, I believe that's an artifact of R's restrictions on the LICENSE file not containing the actual text of the license, whereas LICENSE.md is used more commonly as an optional extra. This [gitlab issue](https://gitlab.com/gitlab-org/gitlab/-/issues/15053) describes some frustrations developers have had there with the duplicate.

LICENSE + LICENSE.md is how [`usethis::use_mit_license()`](ht

[2021-08-23 17:23] Sbozzolo commented on #3564
Hi @rkurchin, this seems like a great submission for my expertise. (This would be my first review for JOSS.)

[2021-08-23 17:25] rkurchin commented on #3564
@whedon add @sbozzolo as reviewer

[2021-08-23 17:25] whedon commented on #3564
OK, @sbozzolo is now a reviewer

[2021-08-23 17:26] kellyrowland commented on #3318
@alexmalins That sounds great; it's very common that software is updated in the review process and we should certainly give credit where it's due by way of adding another author.

[2021-08-23 17:42] jacobmerson commented on #3389
@daniellivingston @pratikvn Thank you very much for your time and effort reviewing my project!

[2021-08-23 18:20] diehlpk commented on #3389
@whedon check references from branch joss

[2021-08-23 18:20] whedon commented on #3389
[code]

[2021-08-23 18:20] whedon commented on #3389
[code]

[2021-08-23 18:20] diehlpk commented on #3389
@jacobmerson Please check the reported missing DOI.

[2021-08-23 18:20] diehlpk commented on #3389
@whedon generate pdf from branch joss

[2021-08-23 18:21] whedon commented on #3389
[code]

[2021-08-23 18:21] whedon commented on #3389
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: :point_left:

[2021-08-23 18:27] diehlpk commented on #3389
@jacobmerson I was wondering if it would help to show some sample YAML file in the paper and explain some of the features?

[2021-08-23 18:29] diehlpk commented on #3465
@taless474 I think #9 is resolved and you can start to review again.

[2021-08-23 18:33] sara-02 commented on #3347
@whedon generate pdf

[2021-08-23 18:34] whedon commented on #3347
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03347/joss.03347/10.21105.joss.03347.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03347/joss.03347/10.21105.joss.03347.pdf) :page_facing_up: :point_left:

[2021-08-23 18:36] amandadsmith commented on #3313
@fneum Thank you for the thorough review, and providing a checklist. Our team is working through these items now.

@timtroendle Yes, I think so. Thank you for the heads up and the reminder.

[2021-08-23 18:51] sara-02 commented on #3347
@faroit I am 99% done with my checklist, one item remains and that is around the functionality for APIs.
In the source code files I do not see any doc-strings for the main functions and files. Additionally, I observed that pip8 standards are not uniformly followed especially while assigning/updating variables.
Is there any other place where the API level functionalities are listed?

[2021-08-23 19:13] sara-02 commented on #3440
@whedon generate pdf

[2021-08-23 19:14] whedon commented on #3440
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03440/joss.03440/10.21105.joss.03440.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03440/joss.03440/10.21105.joss.03440.pdf) :page_facing_up: :point_left:

[2021-08-23 19:31] agahkarakuzu commented on #3523
Thank you so much @michaelberks for the amazing codebase and your patience as it took me a while to give this review a stab.

My review will follow the principles as they are outlined in the paper.

### Ease-of-use

I was able to find everything a user may need quite easily, from this [video](https://gitlab.com/manchester_qbi/manchester_qbi_public/madym_cxx/-/wikis/gui_demo.mp4) to a guideline on

[2021-08-23 19:44] rusu24edward commented on #3424
@danielskatz Yes, that makes sense.

[2021-08-23 19:48] sara-02 commented on #3347
Additionally, while I do see a `test_cases.py`, there should a line in the README about being able to run this file, and if any more packages need to be installed for testing well.
It will be helpful for future contributors.
Also, just food for thought, as yours is a UI-based system are you planning on adding any UI tests as well?

[2021-08-23 19:48] danielskatz commented on #3424
@whedon recommend-accept

[2021-08-23 19:48] whedon commented on #3424
[code]

[2021-08-23 19:49] whedon commented on #3424
[code]

[2021-08-23 19:49] whedon commented on #3424
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2525

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2525, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-23 19:50] danielskatz commented on #3424
@whedon accept deposit=true

[2021-08-23 19:50] whedon commented on #3424
[code]

[2021-08-23 19:50] whedon commented on #3424
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1429893898957164545) 👈 🐦🐦🐦

[2021-08-23 19:50] whedon commented on #3424
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2526
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03424](https://doi.org/10.21105/joss.03424)
2. If everything look

[2021-08-23 19:56] danielskatz commented on #3424
Congratulations to @rusu24edward (Edward Rusu) and co-author!!

And thanks to @drvinceknight for editing, and @seba-1511 and @abhiramm7 for reviewing!

[2021-08-23 19:56] #3424 closed

[2021-08-23 19:56] whedon commented on #3424
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03424/status.svg)](https://doi.org/10.21105/joss.03424)

**We need your help!**

Journal of Open Source Softwa

[2021-08-23 20:00] rusu24edward commented on #3424
Thank you everyone very much for this awesome review process and publication. Looking forward to more!

[2021-08-23 20:06] sara-02 commented on #3440
@majensen @@vaneseltine I have completed my review (3 points remaining, discussed below)
1. For testing, while the test folder is visible in the repo, I do not see any instructions for setting up and running the tests. Adding commands in the readme will be helpful here.
2. For Community guidelines, a section on the community contributor covering the 3 aspects required by the JOSS guideline should

[2021-08-23 20:10] sara-02 commented on #3629
@fabian-s I am interested in reviewing this package, I am available post 8th Spetember.

[2021-08-23 20:28] jGaboardi commented on #3330
https://pysal.org/spopt/api.html

[2021-08-23 20:56] KristinaRiemer commented on #3200
Hi @sandrinecharles, sorry about the delay, I'm sure this is frustrating. The reviewers are not just going to be reviewing the paper, but also looking at the software itself, so that can be a substantial commitment of time.

@BrandonEdwards has let me know that he will be doing his review this week!

[2021-08-23 20:58] jacobmerson commented on #3389
@diehlpk I fixed the DOI and the affiliation. Would the following address your concerns about YAML and Simmetrix? YAML is a file format spec similar to JSON.

- Would you be happy if the sentence says "YAML file" and has a [citation to the spec](https://yaml.org/spec/1.2/spec.html)?
- For Simmetrix I discuss and cite earlier in the paper, would you be happy with just citing the Simmetrix website a

[2021-08-23 21:00] szymon-datalions commented on #2869
@whedon generate pdf

[2021-08-23 21:01] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-08-23 21:07] junghans commented on #3425
@pdebuyl I am happy to.

[2021-08-23 21:09] szymon-datalions commented on #2869
@whedon generate pdf

[2021-08-23 21:10] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-08-23 21:20] diehlpk commented on #3389
I think adding some text that examples can be found here and link to the examples would help. So people can access the examples directly from the paper.

[2021-08-23 21:23] diehlpk commented on #3389
My concern is that not all know what YAML is. So you might, can add some explanation that it is some file format which is text-based and easy to read?

[2021-08-23 21:25] jacobmerson commented on #3389
Alright I will work on those changes.

[2021-08-23 21:26] diehlpk commented on #3389
@jacobmerson Maybe mention some more details about the file format? I think if the reader does not know Simmetrix, the reader might not know what kind of format it is.

[2021-08-23 22:20] mfastudillo commented on #3392
a minor comment on the manuscript, when it says:

As far as I know brightway2 is totally open. Most of the impact assesssment methods come from ecoinvent ([e.g.](https://github.com/brightway-lca/brightway2-io/blob/master/bw2io/importers/ecoinvent_lcia.py)) and if the original sources are used, the code to process the sources is also open (https://github.com/brightway-lca/bw_recipe_2016). As far as

[2021-08-23 23:07] meghanrjones commented on #3436
@elbeejay, I could review this submission. I do not have prior experience with JOSS but have expertise in OSS and volcanology.

[2021-08-23 23:09] elbeejay commented on #3436
That would be fantastic, thank you @meghanrjones! In that case, thanks also to @weiji14 and @rbeucher, but it seems your services will not be needed on this one.

[2021-08-23 23:09] elbeejay commented on #3436
@whedon add @meghanrjones as reviewer

[2021-08-23 23:09] whedon commented on #3436
OK, @meghanrjones is now a reviewer

[2021-08-23 23:09] elbeejay commented on #3436
@whedon start review

[2021-08-23 23:10] whedon opened #3649 "[REVIEW]: PyVOLCANS: A Python package to flexibly explore similarities and differences between volcanic systems"
**Submitting author:** @PTierz (<a href="http://orcid.org/0000-0001-8889-9900">Pablo Tierz Lopez</a>)
**Repository:** <a href="https://github.com/BritishGeologicalSurvey/pyvolcans" target ="_blank">https://github.com/BritishGeologicalSurvey/pyvolcans</a>
**Version:** v1.3.2
**Editor:** @elbeejay
**Reviewer:** @jifarquharson, @meghanrjones
**Archive:** <a href="https://doi.org/10.5281/zenodo.580910

[2021-08-23 23:10] whedon commented on #3436
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3649.

[2021-08-23 23:10] #3436 closed

[2021-08-23 23:10] whedon commented on #3649
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jifarquharson, @meghanrjones it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-08-23 23:10] whedon commented on #3649
PDF failed to compile for issue #3649 with the following error:
[code]

[2021-08-23 23:10] whedon commented on #3649
[code]

[2021-08-23 23:10] elbeejay commented on #3649
@whedon generate pdf from branch JOSS_paper

[2021-08-23 23:10] whedon commented on #3649
[code]

[2021-08-23 23:11] whedon commented on #3649
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03649/joss.03649/10.21105.joss.03649.pdf) :page_facing_up: :point_left:

[2021-08-23 23:19] elbeejay commented on #3649
Hi @jifarquharson and @meghanrjones, thank you both again for agreeing to review this submission! We are currently asking reviewers to try and complete their reviews in 6 weeks. whedon will automatically send you a reminder after 2 weeks, and I'll be checking in throughout the process to answer any questions. If you find you need more time to review just say so in the thread here.

The JOSS review

[2021-08-24 00:12] WesIngwersen opened #3650 "a minor comment on the manuscript, when it says:"
a minor comment on the manuscript, when it says:

As far as I know brightway2 is totally open. Most of the impact assesssment methods come from ecoinvent ([e.g.](https://github.com/brightway-lca/brightway2-io/blob/master/bw2io/importers/ecoinvent_lcia.py)) and if the original sources are used, the code to process the sources is also open (https://github.com/brightway-lca/bw_recipe_2016). As far as

[2021-08-24 00:12] whedon commented on #3650
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-24 00:12] #3650 closed

[2021-08-24 00:31] meghanrjones commented on #3649
Great, @elbeejay can you please assign this issue to me as a reviewer? Or can I request whedon actions for this?

[2021-08-24 00:36] elbeejay commented on #3649
@meghanrjones I can try to have whedon re-send the invite, but I believe you should have received an email when this issue was originally opened.

[2021-08-24 00:36] elbeejay commented on #3649
@whedon re-invite @meghanrjones as reviewer

[2021-08-24 00:36] whedon commented on #3649
@meghanrjones already has access.

[2021-08-24 00:37] mjsottile commented on #3558
@danielskatz That works.  I'll be in and out over the next two weeks, but should be available enough to get the review started.

[2021-08-24 00:37] mjsottile commented on #3558
@whedon assign @mjsottile as editor

[2021-08-24 00:38] whedon commented on #3558
OK, the editor is @mjsottile

[2021-08-24 01:23] alicia-ziying-yang commented on #3347
Hi @sara-02 ,
The user manual is for users but not programmers, thus there is no coding document there.

For the documents that explain what each function does are commented in the code body. But most of them are callback functions of Plotly Dash, and they are not supposed be re-used/called by additional functions. And the parameters of those callback functions are inputs/actions of users on the i

[2021-08-24 01:24] alicia-ziying-yang commented on #3347
no more package is need for testing. This app is a kind of all-in-one box.

[2021-08-24 04:10] jamesrhester commented on #3497
I have updated the title and author list for the Zenodo metadata, merged Daniel's editorial fixes and added title fields where missing to the .bib file.

[2021-08-24 04:17] jacobmerson commented on #3389
@whedon check references from branch joss

[2021-08-24 04:18] whedon commented on #3389
[code]

[2021-08-24 04:18] whedon commented on #3389
[code]

[2021-08-24 04:18] jacobmerson commented on #3389
@whedon generate pdf from branch joss

[2021-08-24 04:18] whedon commented on #3389
[code]

[2021-08-24 04:18] whedon commented on #3389
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: :point_left:

[2021-08-24 04:20] taless474 commented on #3548
@whedon add @matt-graham as reviewer

[2021-08-24 04:20] whedon commented on #3548
OK, @matt-graham is now a reviewer

[2021-08-24 04:20] taless474 commented on #3548
@whedon start review

[2021-08-24 04:20] whedon opened #3651 "[REVIEW]: bmm: Bayesian Map-matching"
**Submitting author:** @SamDuffield (<a href="http://orcid.org/0000-0002-8656-8734">Samuel Duffield</a>)
**Repository:** <a href="https://github.com/SamDuffield/bmm" target ="_blank">https://github.com/SamDuffield/bmm</a>
**Version:** v1.3
**Editor:** @taless474
**Reviewer:** @georgiastuart, @matt-graham
**Archive:** <a href="https://doi.org/10.5281/zenodo.6023275" target="_blank">10.5281/zenodo.6

[2021-08-24 04:20] whedon commented on #3548
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3651.

[2021-08-24 04:20] #3548 closed

[2021-08-24 04:20] whedon commented on #3651
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @georgiastuart, @matt-graham it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-08-24 04:21] whedon commented on #3651
Wordcount for `paper.md` is 745

[2021-08-24 04:21] whedon commented on #3651
[code]

[2021-08-24 04:21] whedon commented on #3651
[code]

[2021-08-24 04:21] jacobmerson commented on #3389
@diehlpk how does this version look to you?

[2021-08-24 04:21] whedon commented on #3651
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03651/joss.03651/10.21105.joss.03651.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03651/joss.03651/10.21105.joss.03651.pdf) :page_facing_up: :point_left:

[2021-08-24 04:43] taless474 commented on #3628
@schruste, @ketch will you be able to review this?

[2021-08-24 04:58] prashjha commented on #3648
@whedon assign me as reviewer

[2021-08-24 04:58] whedon commented on #3648
OK, me is now a reviewer

[2021-08-24 05:00] prashjha commented on #3648
@whedon remove me as reviewer

[2021-08-24 05:00] whedon commented on #3648
OK, me is no longer a reviewer

[2021-08-24 05:00] prashjha commented on #3648
@whedon assign @prashjha as reviewer

[2021-08-24 05:00] whedon commented on #3648
OK, @prashjha is now a reviewer

[2021-08-24 05:06] prashjha commented on #3648
Hey @karthikncsu, would you be interested in reviewing this submission for JOSS (Journal of Open Source Software)? In JOSS, reviews are open and transparent. As a reviewer, you have to assess the submission using a checklist. You can find more information about the reviewing process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html# If you need any help, let me know.

[2021-08-24 06:03] csoneson commented on #3392
ping @tngTUDOR

[2021-08-24 06:03] whedon commented on #3596
:wave: @robinroche, please update us on how your review is going (this is an automated reminder).

[2021-08-24 06:03] whedon commented on #3596
:wave: @noah80, please update us on how your review is going (this is an automated reminder).

[2021-08-24 06:08] csoneson commented on #3636
@whedon assign @csoneson as editor

[2021-08-24 06:08] whedon commented on #3636
OK, the editor is @csoneson

[2021-08-24 06:10] csoneson commented on #3636
👋🏻 @alexismhill3 - I will handle your submission, and start by finding two suitable reviewers. If you have any suggestions (e.g., from the list linked in the first post above), please feel free to list them here (without tagging them with `@`). Thanks!

[2021-08-24 07:07] Nikoleta-v3 commented on #3556
No further comments. Everything looks good to me 👍🏻

At this point could you:

- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a sm

[2021-08-24 07:23] MAnalytics commented on #3605
@whedon generate pdf

[2021-08-24 07:23] whedon commented on #3605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: :point_left:

[2021-08-24 07:39] WilkAndy commented on #3314
Thank you @smolins .   I have addressed your comments immediately above in https://github.com/idaholab/moose/pull/18689 .  I have **not** yet addressed your comments of 14 days ago, but will do soon.   If you like, inspect the diffs at that PullRequest.  Or, you can generate a new PDF by going to https://whedon.theoj.org/ and using repo `https://github.com/WilkAndy/moose` and branch ` joss_geochem

[2021-08-24 07:43] fabian-s commented on #3629
@sara-02 thanks, that's soon enough.

[2021-08-24 07:44] fabian-s commented on #3629
@whedon add @sara-02 as reviewer

[2021-08-24 07:44] whedon commented on #3629
OK, @sara-02 is now a reviewer

[2021-08-24 07:45] fabian-s commented on #3629
@whedon start review

[2021-08-24 07:45] whedon opened #3652 "[REVIEW]: TX2: Transformer eXplainability and eXploration"
**Submitting author:** @WildfireXIII (<a href="http://orcid.org/0000-0002-5036-5433">Nathan Martindale</a>)
**Repository:** <a href="https://github.com/ORNL/tx2" target ="_blank">https://github.com/ORNL/tx2</a>
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewers:** @assenmacher-mat, @deniederhut
**Archive:** <a href="https://doi.org/10.5281/zenodo.5796089" target="_blank">10.5281/zenodo.5796089<

[2021-08-24 07:45] whedon commented on #3629
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3652.

[2021-08-24 07:45] #3629 closed

[2021-08-24 07:45] whedon commented on #3652
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @assenmacher-mat, @sara-02 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2021-08-24 07:45] whedon commented on #3652
Wordcount for `paper.md` is 1341

[2021-08-24 07:45] whedon commented on #3652
[code]

[2021-08-24 07:46] whedon commented on #3652
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03652/joss.03652/10.21105.joss.03652.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03652/joss.03652/10.21105.joss.03652.pdf) :page_facing_up: :point_left:

[2021-08-24 07:46] whedon commented on #3652
[code]

[2021-08-24 07:48] fabian-s commented on #3652
👋🏼 @WildfireXIII @assenmacher-mat  @sara-02, this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different

[2021-08-24 07:53] mscroggs commented on #3556
I'm going to make a new tagged version as 2021.7.6 is from before the changes we made following the reviews

[2021-08-24 08:07] mscroggs commented on #3556
@Nikoleta-v3
Zenodo archive doi: `10.5281/zenodo.5242891`
tagged release: `v2021.8.2`

[2021-08-24 08:08] mscroggs commented on #3556
@Nikoleta-v3 Thanks for being the editor for this.

Thanks again @iammix and @sigvaldm for agreeing to be reviewers.

[2021-08-24 08:12] fabian-s commented on #3524
@whedon commands

[2021-08-24 08:12] whedon commented on #3524
Here are some things you can ask me to do:

[code]

[2021-08-24 08:17] Nikoleta-v3 commented on #3556
@whedon set 10.5281/zenodo.5242891 as archive

[2021-08-24 08:17] whedon commented on #3556
OK. <a href="https://doi.org/10.5281/zenodo.5242891" target="_blank">10.5281/zenodo.5242891</a> is the archive.

[2021-08-24 08:18] fabian-s commented on #3524
@lutzhamel

Considering the substantial visualization capabilities and extensive documentation of `kohonen`, we think it's unlikely that such a rewrite would demonstrate a sufficiently substantial contribution to the available open source software in this area or that it is likely to be used and cited widely.

My recommendation would be to withdraw the paper at this point.

[2021-08-24 08:18] Nikoleta-v3 commented on #3556
@whedon set v2021.8.2 as version

[2021-08-24 08:18] whedon commented on #3556
OK. v2021.8.2 is the version.

[2021-08-24 08:21] Nikoleta-v3 commented on #3556
Thank you to the reviewers for their time! 😄

[2021-08-24 08:21] Nikoleta-v3 commented on #3556
@whedon recommend-accept

[2021-08-24 08:21] whedon commented on #3556
[code]

[2021-08-24 08:21] whedon commented on #3556
[code]

[2021-08-24 08:22] whedon commented on #3556
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2527

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2527, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-24 08:36] fraukewiese commented on #3574
Thanks @danielskatz and sorry @mewilhel ! Hope that works now.

[2021-08-24 08:40] robinroche commented on #3596
I have started the review, and will complete it in the coming weeks.

[2021-08-24 08:57] szymon-datalions commented on #2869
@sdesabbata I've updated paper with regard to your comments and advices. It's slightly longer, but I've created two additional files within the package documentation related to the Outliers Detection and to the Semivariance fitting process. Links to those files are given in the appendix. I've sent some time with the grammar too and I hope that now it's much better than before.

Thank you

[2021-08-24 09:03] michaelberks commented on #3523
@agahkarakuzu thank you very much for the kind words, and very helpful review.

I will try to respond fully to some other of the other points in the next couple of weeks (I'm pretty tied up for the next few days, then on leave for a week from Friday), however I've fixed the first minor issue...

The doxygen link in the wiki was pointing to an old link on my university pages, before I worked out ho

[2021-08-24 09:04] StanczakDominik commented on #3525
Mostly done with my review! Everything looks, well, stellar. 🌞

---

One concern I have is the inclusion/dependency on SPEC. Based on some of my digging around (and https://github.com/hiddenSymmetries/simsopt/issues/35#issuecomment-854786329 ), my understanding is that:

* SIMSOPT wraps SPEC.
* SPEC itself is closed source.
* The provided Docker image contains compiled SPEC binaries, which SIMSOPT

[2021-08-24 09:40] broncio123 commented on #3482
Thanks a lot for your feedback @jmbr
We will address each of your points promptly.

Hey @nicoguaro , any further progress on reviewing the functionality, documentation, and paper?
If there's anything we can help put with let us know.

[2021-08-24 09:47] satejsoman commented on #3464
@wxwx1993 epimargin 0.6.1 has a [bugfix](https://github.com/COVID-IWG/epimargin/pull/139) that should allow the tutorial to work with `ipython -i`.

on the point of adding input data requirements to the manuscript, I prefer documenting the input timeseries and parameters of the included estimators in code (as done in the latest commit on master) rather than in the paper because the exact estimator

[2021-08-24 10:13] TomGoffrey commented on #3618
@michaeltouati Thanks for the clarification.

@danielskatz Fine with with me.

[2021-08-24 10:48] whedon commented on #3597
:wave: @ethanknights, please update us on how your review is going (this is an automated reminder).

[2021-08-24 10:48] whedon commented on #3597
:wave: @kasbohm, please update us on how your review is going (this is an automated reminder).

[2021-08-24 10:56] andrewtarzia commented on #3229
Started to review this. Lacks usage introduction. If there is a compiled documentation, it is not accessible.

Added an issue for the example notebook not working: https://github.com/EISy-as-Py/hardy/issues/6

Interested in training timing: https://github.com/EISy-as-Py/hardy/issues/7

[2021-08-24 10:59] schruste commented on #3628
Yes, I can do that.

[2021-08-24 11:08] lutzhamel commented on #3524
Agreed.

[2021-08-24 11:12] lutzhamel commented on #3524
@whedon withdraw

[2021-08-24 11:12] whedon commented on #3524
I'm sorry @lutzhamel, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-08-24 11:13] lutzhamel commented on #3524
@fabian-s It seems that I am not allowed to do that operation...

[2021-08-24 11:40] fabian-s commented on #3524
pinging EiC @kthyng

[2021-08-24 12:03] jaeyk commented on #3605
https://github.com/MAnalytics/opitools/issues/4 @MAnalytics Excellent R pkg. I recommend tidying up some wordings in the `paper.md`.

[2021-08-24 12:11] UTH-Tuan commented on #3412
@rkurchin Sure, I'll participate. Let me know what I need to do proceed.

[2021-08-24 12:15] danielskatz commented on #3497
@whedon recommend-accept from branch joss_paper

[2021-08-24 12:15] whedon commented on #3497
[code]

[2021-08-24 12:15] whedon commented on #3497
[code]

[2021-08-24 12:16] whedon commented on #3497
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2528

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2528, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-24 12:19] danielskatz commented on #3648
Hi @prashjha - I'm a bit confused by what's going on here. Normally in JOSS, the editor finds at least 2 reviewers, but is not one of the reviewers.

[2021-08-24 12:20] dfm commented on #3199
@MilesCranmer, @kburns: Do you have any updates on how your reviews are going? Thanks!

[2021-08-24 12:21] danielskatz commented on #3497
@jamesrhester - I don't see any different in the Zenodo metadata (title or author(s)):
<img width="655" alt="Screen Shot 2021-08-24 at 7 20 16 AM" src="https://user-images.githubusercontent.com/2913845/130615303-6d1c2603-c4ac-46ee-9250-138fb623c6f4.png">

[2021-08-24 12:21] pdebuyl commented on #3425
Thanks a lot @junghans !

[2021-08-24 12:22] pdebuyl commented on #3425
@whedon add @junghans as reviewer

[2021-08-24 12:22] whedon commented on #3425
OK, @junghans is now a reviewer

[2021-08-24 12:25] danielskatz commented on #3524
@fabian-s - for anything AEiC related, please ping @openjournals/joss-eics in the future, rather than a specific person

[2021-08-24 12:27] prashjha commented on #3648
@danielskatz I found the submission interesting enough so counted me as a reviewer and requested another person to be second reviewer. Is it not okay? This is done I think in couple of cases before.

[2021-08-24 12:27] pdebuyl commented on #3425
@whedon start review

[2021-08-24 12:27] whedon opened #3653 "[REVIEW]: SiSyPHE: A Python package for the Simulation of Systems of interacting mean-field Particles with High Efficiency"
**Submitting author:** @antoinediez (<a href="http://orcid.org/0000-0002-4454-8452">Antoine Diez</a>)
**Repository:** <a href="https://github.com/antoinediez/Sisyphe" target ="_blank">https://github.com/antoinediez/Sisyphe</a>
**Version:** v1.0
**Editor:** @pdebuyl
**Reviewer:** @lorenzo-rovigatti, @junghans
**Archive:** <a href="https://doi.org/10.5281/zenodo.5532924" target="_blank">10.5281/zeno

[2021-08-24 12:27] whedon commented on #3425
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3653.

[2021-08-24 12:27] #3425 closed

[2021-08-24 12:27] whedon commented on #3653
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lorenzo-rovigatti, @junghans it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-08-24 12:27] whedon commented on #3653
Wordcount for `paper.md` is 1005

[2021-08-24 12:27] whedon commented on #3653
[code]

[2021-08-24 12:27] whedon commented on #3653
[code]

[2021-08-24 12:28] whedon commented on #3653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: :point_left:

[2021-08-24 12:29] fabian-s commented on #3524
@openjournals/joss-eics
My recommendation would be to withdraw the paper at this point.

[2021-08-24 12:31] danielskatz commented on #3648
We normally only have the editor act as a reviewer if we lose a reviewer during the process and need someone to step in.  Ideally, the two reviewers and the editor are separate people to have two independent points of view and a neutral editor to make the process work. Unless there's a reason you can't find 2 reviewers, you should.

[2021-08-24 12:35] pdebuyl commented on #3653
@lorenzo-rovigatti @junghans make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here. As this is the first JOSS review for one of you (unless I missed something), do not hesitate to ask questi

[2021-08-24 12:36] pdebuyl commented on #3653
@antoinediez please check the missing dois

[2021-08-24 12:37] danielskatz commented on #3556
@mscroggs - I see you listed twice in the zenodo archive metadata, which looks odd and which you can fix - I'll continue processing the paper, as this doesn't really affect the process, but would good to clear up before or soon after we finish.

[2021-08-24 12:39] danielskatz commented on #3556
@whedon accept deposit=true

[2021-08-24 12:39] whedon commented on #3556
[code]

[2021-08-24 12:40] whedon commented on #3556
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1430148022411972657) 👈 🐦🐦🐦

[2021-08-24 12:40] whedon commented on #3556
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2529
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03556](https://doi.org/10.21105/joss.03556)
2. If everything look

[2021-08-24 12:43] mscroggs commented on #3556
@danielskatz Thanks, I've fixed that - I'd not realised that authors and contributors were displayed next to each other

[2021-08-24 12:45] jamesrhester commented on #3497
Sorry, pressed "Save" and not "Publish". Done now.

[2021-08-24 12:45] danielskatz commented on #3556
Congratulations to @mscroggs (Matthew Scroggs)!!

And thanks to @Nikoleta-v3 for editing, and @iammix and @sigvaldm for reviewing!

[2021-08-24 12:45] #3556 closed

[2021-08-24 12:45] whedon commented on #3556
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03556/status.svg)](https://doi.org/10.21105/joss.03556)

**We need your help!**

Journal of Open Source Softwa

[2021-08-24 12:46] danielskatz commented on #3497
@whedon accept deposit=true from branch joss_paper

[2021-08-24 12:46] whedon commented on #3497
[code]

[2021-08-24 12:47] whedon commented on #3497
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1430149640528306179) 👈 🐦🐦🐦

[2021-08-24 12:47] whedon commented on #3497
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2530
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03497](https://doi.org/10.21105/joss.03497)
2. If everything look

[2021-08-24 12:48] VivianePons commented on #3454
Hi all, I am glad to see we are almost done! Thank you @dawbarton & @kellertuer for the reviews and @ranocha for the improvements on the software.

We can now move towards acceptance, @ranocha can you make a tagged release of the software? (Zenodo or Figshare for example). Please be careful to use the same metadata as the paper (title and authors). Send me the DOI when done. Thanks

[2021-08-24 12:49] antoinediez commented on #3653
@whedon generate pdf

[2021-08-24 12:49] VivianePons commented on #2954
Great! Thank you for the update

[2021-08-24 12:49] whedon commented on #3653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03653/joss.03653/10.21105.joss.03653.pdf) :page_facing_up: :point_left:

[2021-08-24 12:50] antoinediez commented on #3653
@whedon check references

[2021-08-24 12:50] whedon commented on #3653
[code]

[2021-08-24 12:58] VivianePons commented on #3416
Hi there,

from what I gather, @amelialdrew it looks like you are done with the review and happy with the paper. Thank yo very much for your time and expertise.

@kostunin do you think you can have a look soon? Thanks

[2021-08-24 13:00] danielskatz commented on #3497
Congratulations to @jamesrhester (James Hester) and co-author!!

And thanks to @sbenthall for editing, and @ziotom78 and @eschnett for reviewing!
We couldn't do this without you.

[2021-08-24 13:00] #3497 closed

[2021-08-24 13:00] whedon commented on #3497
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03497/status.svg)](https://doi.org/10.21105/joss.03497)

**We need your help!**

Journal of Open Source Softwa

[2021-08-24 13:18] vahid-sb commented on #3613
Hi @rob-luke. My first comment is that please add installation notes to the documentation.

[2021-08-24 13:22] eferrea commented on #3638
@kthyng thanks for your answer. Just few words: this work was started in the lab back to 2015 and was updated among the years to perform state of the art brain computer interface experiments for motor control. It also contains implementations of several BCI functionalities the details of which can be hardly found in papers. It is widely used from people in our lab and we hope that other people can

[2021-08-24 13:24] alexmalins commented on #3318
@kellyrowland ok thanks - that's great!
We will get on with cutting the new release and updating the paper, then come back when it is done. Timescale should be a few days to a week.

[2021-08-24 13:24] danielskatz commented on #3627
👋 @mcf1110 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packa

[2021-08-24 13:24] danielskatz commented on #3627
@whedon reject

[2021-08-24 13:24] whedon commented on #3627
Paper rejected.

[2021-08-24 13:24] #3627 closed

[2021-08-24 13:25] danielskatz commented on #3633
👋 @DevonDeRaad - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-p

[2021-08-24 13:25] danielskatz commented on #3633
@whedon reject

[2021-08-24 13:26] whedon commented on #3633
Paper rejected.

[2021-08-24 13:26] #3633 closed

[2021-08-24 13:27] whedon opened #3654 "[PRE REVIEW]: sandpyper: A Python package for UAV-SfM beach volumetric and behavioural analysis"
**Submitting author:** @npucino (<a href="http://orcid.org/0000-0001-6260-6647">Nicolas Pucino</a>)
**Repository:** <a href="https://github.com/npucino/sandpyper" target ="_blank">https://github.com/npucino/sandpyper</a>
**Version:** v1.0.0
**Editor:** @crvernon
**Reviewers:** @dbuscombe-usgs, @chrisleaman
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2021-08-24 13:27] whedon commented on #3654
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-24 13:27] whedon opened #3655 "[PRE REVIEW]: DAQari: Browser-based real-time data acquisition solution"
**Submitting author:** @nravanelli (<a href="http://orcid.org/0000-0002-4894-9552">Nicholas Ravanelli</a>)
**Repository:** <a href="https://github.com/nravanelli/DAQari" target ="_blank">https://github.com/nravanelli/DAQari</a>
**Version:** v1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-08-24 13:27] whedon commented on #3655
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-24 13:28] whedon commented on #3654
Wordcount for `paper.md` is 1349

[2021-08-24 13:28] whedon commented on #3654
[code]

[2021-08-24 13:28] whedon commented on #3654
[code]

[2021-08-24 13:28] whedon commented on #3655
Wordcount for `paper.md` is 717

[2021-08-24 13:28] whedon commented on #3655
[code]

[2021-08-24 13:28] whedon commented on #3655
[code]

[2021-08-24 13:28] whedon commented on #3654
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03654/joss.03654/10.21105.joss.03654.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03654/joss.03654/10.21105.joss.03654.pdf) :page_facing_up: :point_left:

[2021-08-24 13:29] whedon commented on #3655
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03655/joss.03655/10.21105.joss.03655.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03655/joss.03655/10.21105.joss.03655.pdf) :page_facing_up: :point_left:

[2021-08-24 13:30] prdm0 commented on #3637
Hi @csoneson , I can review the paper.

[2021-08-24 13:30] danielskatz commented on #3654
👋 @crvernon - Would you be able to edit this JOSS submission?

[2021-08-24 13:30] danielskatz commented on #3654
@whedon invite @crvernon as editor

[2021-08-24 13:30] whedon commented on #3654
@crvernon has been invited to edit this submission.

[2021-08-24 13:33] danielskatz commented on #3655
👋 @nravanelli - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  I'm also unsure if this meets our [definition of research software](https://joss.readthedocs.io/en/latest/submitting.htm

[2021-08-24 13:33] danielskatz commented on #3655
@whedon query scope

[2021-08-24 13:33] whedon commented on #3655
Submission flagged for editorial review.

[2021-08-24 13:34] crvernon commented on #3654
@danielskatz - I'll be happy to take this on, thanks!

[2021-08-24 13:35] crvernon commented on #3654
@whedon assign me as editor

[2021-08-24 13:35] whedon commented on #3654
OK, the editor is @crvernon

[2021-08-24 13:36] ketch commented on #3628
I read the paper and I have to say, respectfully, that I am opposed to the promotion of this package.  As the authors state, there are already plenty of existing packages that fulfill this function.  In fact, those packages do it much better than this one.  The package under consideration claims to be helpful for "beginners", but it mainly gives those beginners a set options most of which should n

[2021-08-24 13:38] crvernon commented on #3654
:wave: @npucino - I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing)

[2021-08-24 13:50] ranocha commented on #3454
Version v0.5.7 (including all revisions based on the reviewers' comments) of SummationByPartsOperators.jl is registered with [DOI 10.5281/zenodo.5226913](https://doi.org/10.5281/zenodo.5226913) at Zenodo. Please let me know whether that's okay or whether I need to update anything.

[2021-08-24 14:21] karthikncsu commented on #3648
Hi @prashjha, I am interested in reviewing the repo.

[2021-08-24 14:35] htwangtw commented on #3578
Sorry I only just noticed the notification of GitHub has some update and muted all notification from this repo for me. (The instruction of the bot might need some update.)
I am back to work now and should start the review this week!

[2021-08-24 14:37] kthyng commented on #3638
@eferrea Thanks for that additional information — editors will see it when they look through to vote.

[2021-08-24 14:43] danielskatz commented on #3628
👋@stammler & @taless474 - based on the comment from @ketch above, let's hold off on reviewing this and do a scope query so editors can make sure it's reasonable for us to review this.  I'll start the process, and it should take a week or two. Because doing this after an editor has been assigned is a little awkward, I'm also going to put a reminder in for 2 weeks for now to make sure we don't drop

[2021-08-24 14:43] danielskatz commented on #3628
@whedon query scope

[2021-08-24 14:43] whedon commented on #3628
Submission flagged for editorial review.

[2021-08-24 14:43] danielskatz commented on #3628
@whedon remind @openjournals/joss-eics in 2 weeks

[2021-08-24 14:43] whedon commented on #3628
Sorry, I can't set reminders on PRE-REVIEW issues.

[2021-08-24 14:46] nravanelli commented on #3655
Thanks @danielskatz for the update. I appreciate the consideration by the editorial board and would be happy to address any concerns they may have, whether it is further documentation or additional requirements.

This is a piece of software that I developed for my lab to record analog signals (human temperature regulation: thermocouples/thermistors/humidity sensors) without the need for expensive

[2021-08-24 14:46] mparno commented on #3076
@pdebuyl Thanks for checking in.  We're working on addressing @martinmodrak's concerns and should have a more complete response in a couple weeks.

More specifically,
- We're making sure that all MCMC examples have some form of convergence testing.
- We're working on a detailed PDE-based MCMC example that demonstrates the use of MUQ on a more complicated problem.
- There are some subtle questions

[2021-08-24 14:57] prashjha commented on #3648
Hi @karthikncsu thank you for agreeing to be a reviewer.

[2021-08-24 14:58] prashjha commented on #3648
@whedon add @karthikncsu as reviewer

[2021-08-24 14:58] whedon commented on #3648
OK, @karthikncsu is now a reviewer

[2021-08-24 14:59] prashjha commented on #3648
@danielskatz I see.

[2021-08-24 15:00] prashjha commented on #3648
@whedon remove @prashjha as reviewer

[2021-08-24 15:00] whedon commented on #3648
OK, @prashjha is no longer a reviewer

[2021-08-24 15:07] prashjha commented on #3648
Hi @bhajay, would you be interested in reviewing this submission?

[2021-08-24 15:16] prashjha commented on #3648
@karthikncsu just wanted to let you know that we will begin the review when we also have the second reviewer.

[2021-08-24 15:20] ArtVoro commented on #3325
@jgostick @rosecers @janash would be nice if we could finalize the review :) there was no response for quite some time so i hope the review didnt get burried under all other email notifications.

[2021-08-24 16:18] karink520 commented on #3397
@drvinceknight Done! Version number: v0.1.1. DOI:  DOI: 10.5281/zenodo.5245632

[2021-08-24 16:27] janash commented on #3325
@ArtVoro - Thank you for your efforts. I do think the package is much improved from when it was first submitted. However, I can't recommend it for publication at this time.

@ArtVoro @jgostick , please see my comments under "Substantial Scholarly Effort", above.

[2021-08-24 17:03] mewilhel commented on #3574
@fraukewiese Everything looks good on my end now. Thanks!

[2021-08-24 17:03] rkurchin commented on #3412
@whedon add @UTH-Tuan as reviewer

[2021-08-24 17:04] whedon commented on #3412
OK, @UTH-Tuan is now a reviewer

[2021-08-24 17:05] rkurchin commented on #3412
@whedon add @shahmoradi as reviewer

[2021-08-24 17:05] whedon commented on #3412
OK, @shahmoradi is now a reviewer

[2021-08-24 17:19] diehlpk commented on #3389
@jacobmerson That looks good.  Thanks for adding the details, which I think will help the reader to better understand the file formats. Most people think that YAML seems to be very common, but it is not. I can accept the paper as it is.

[2021-08-24 17:20] diehlpk commented on #3389
@jacobmerson Please generate a new version of the code including all changes make during the review. Please post the new version here, and I will add it to the paper.

[2021-08-24 17:22] diehlpk commented on #3389
@jacobmerson Please upload that version to Zenodo or Figshare and provide me with the DOI. Note that the title and the authors have to match exactly with the paper. After that, I will recommend your paper to be accepted and the EIC will do some final pass.

[2021-08-24 17:27] majensen commented on #3440
Much appreciated @sara-02

[2021-08-24 18:19] jacobmerson commented on #3389
I definitely fell into the trap of thinking everyone knows what YAML is...

Zenodo DOI is: 10.5281/zenodo.5247209

[2021-08-24 18:23] jacobmerson commented on #3389
@diehlpk I realized you also wanted a link to the new version with changes from review. See here https://github.com/jacobmerson/model-traits/releases/tag/v0.2.0

[2021-08-24 18:41] fboehm commented on #3639
Yes, @danielskatz , I'm happy to edit this submission.

[2021-08-24 18:41] fboehm commented on #3639
@whedon assign me as editor

[2021-08-24 18:42] whedon commented on #3639
OK, the editor is @fboehm

[2021-08-24 18:44] fboehm commented on #3639
@metelkin - thanks for your submission. Do you have any suggestions for reviewers? I'm happy to invite them.

[2021-08-24 19:30] diehlpk commented on #3389
@whedon set v0.2.0 as version

[2021-08-24 19:30] whedon commented on #3389
OK. v0.2.0 is the version.

[2021-08-24 19:30] csoneson commented on #3637
Thanks @prdm0! Once we have secured one more reviewer I will start the actual review issue with the checklist etc.

[2021-08-24 19:30] diehlpk commented on #3389
@whedon set 10.5281/zenodo.5247209 as doi

[2021-08-24 19:30] whedon commented on #3389
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-24 19:30] diehlpk commented on #3389
@whedon commands

[2021-08-24 19:30] whedon commented on #3389
Here are some things you can ask me to do:

[code]

[2021-08-24 19:31] diehlpk commented on #3389
@whedon set 10.5281/zenodo.5247209  as archive

[2021-08-24 19:31] whedon commented on #3389
OK. <a href="https://doi.org/10.5281/zenodo.5247209" target="_blank">10.5281/zenodo.5247209</a> is the archive.

[2021-08-24 19:32] diehlpk commented on #3389
@daniellivingston and @pratikvn thanks for reviewing and improving the paper and code.

[2021-08-24 19:32] diehlpk commented on #3389
@whedon recommend-accept

[2021-08-24 19:32] whedon commented on #3389
[code]

[2021-08-24 19:32] whedon commented on #3389
PDF failed to compile for issue #3389 with the following error:
[code]

[2021-08-24 19:33] diehlpk commented on #3389
@whedon generate pdf from branch joss

[2021-08-24 19:33] whedon commented on #3389
[code]

[2021-08-24 19:33] whedon commented on #3389
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: :point_left:

[2021-08-24 19:39] danielskatz commented on #3389
@diehlpk - did you mean to do `@whedon recommend-accept from branch joss`?

[2021-08-24 19:40] whedon opened #3656 "[PRE REVIEW]: Devicely: A Python package for reading, timeshifting and writing sensor data"
**Submitting author:** @arianesasso (<a href="http://orcid.org/0000-0002-3669-4599">AM Sasso, A Sasso</a>)
**Repository:** <a href="https://github.com/hpi-dhc/devicely/" target ="_blank">https://github.com/hpi-dhc/devicely/</a>
**Version:** v1.1.0
**Editor:** @prashjha
**Reviewers:** @luciorq, @djmitche
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-08-24 19:40] whedon commented on #3656
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-24 19:41] whedon commented on #3656
Wordcount for `paper.md` is 1009

[2021-08-24 19:41] whedon commented on #3656
PDF failed to compile for issue #3656 with the following error:
[code]

[2021-08-24 19:41] whedon commented on #3656
[code]

[2021-08-24 19:46] danielskatz commented on #3656
@arianesasso - your header has some indentation that is not consistent - please make sure to make it consistent; see the [sample paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) if needed. Please feel free to make changes to your .md file, then use the command `@whedon generate pdf` to try to make a new PDF. Whedon commands need to be the first entry in

[2021-08-24 19:46] danielskatz commented on #3656
@whedon check references

[2021-08-24 19:49] danielskatz commented on #3656
After the paper builds, you could also use `@whedon check references` to check the references.  I'm not sure why it's not working now, but perhaps it's related to the pdf problem.

[2021-08-24 19:53] diehlpk commented on #3389
@whedon recommend-accept from branch joss

[2021-08-24 19:53] whedon commented on #3389
[code]

[2021-08-24 19:53] whedon commented on #3389
[code]

[2021-08-24 19:53] whedon commented on #3389
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2531

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2531, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-24 19:55] diehlpk commented on #3389
@danielskatz Yes, we should find some solution to store the branch with the paper.

[2021-08-24 19:56] rob-luke commented on #3613
As @jongwook notes "The documentation is very well-written as well, complete with installation instructions". Are the installation instructions are the first subtopic on the documentation page. See https://rob-luke.github.io/AuditoryStimuli.jl/dev/#Installation

This is common practice in Julia packages. What step is missing from these instructions that you would like me to add?

[2021-08-24 20:00] rmorgan10 commented on #3635
Hi All!

@grant-m-s I would like to first congratulate you on an awesome software package! `astronomicAL` is really cool and a great addition to the field as a whole. I've identified 4 small things that will help me to check off all the remaining boxes above:

1. Changes to the paper to clarify the state of the field and the statement of need in grant-m-s/AstronomicAL#9
1. Updates to the installat

[2021-08-24 20:08] stammler commented on #3628
Thank you, @danielskatz, for letting us know about the query scope.

And thank you for your sincere comment, @ketch. No offense taken.

Since we think that there might be a slight misunderstanding on the scope of the software we feel the need to clarify that the point of `simframe` is _not_ the integration schemes provided by it, but _mainly_ the framework around it.
With `simframe` it is possible

[2021-08-24 20:11] danielskatz commented on #3389
👋 @jacobmerson - I'm the AEiC on duty this week, and am finishing the processing of your submission. I've suggested a number of changes to the paper in https://github.com/jacobmerson/model-traits/pull/8.  Please either merge this or let me know what you disagree with, then we can complete the publication process.

[2021-08-24 20:59] vahid-sb commented on #3613
@rob-luke the dependencies for your package. I had to clone and install `MusicProcessing` from the disk. And it seems I have to do the same for `MP3` package too. Neither can be found in the registry, hence the example you have added cannot be run without extra steps. Also, the `MP3` package doc says it is not maintained anymore. Is there no other package in the registry that can load mp3 files?

[2021-08-24 21:19] rob-luke commented on #3613
Hi @vahid-sb, where have you seen `MusicProcessing` in relation to this software package? It is unrelated to my software and review. I searched the repository for this term and it does not appear. Where did you get the impression it was required? Similarly the MP3 package is not utilised in my code or even discussed in the documentation.

The WAV package is utilised in the examples for this packag

[2021-08-24 21:25] vahid-sb commented on #3613
@rob-luke oh man! My bad! It was a mix-up with the other package the other reviewer mentioned in the comments. Things got mixed up in many many open tabs. My apologies. I will delete the last few comments, since I see they are irrelevant now.

[2021-08-24 21:26] rob-luke commented on #3613
No worries. I'm glad we got to the bottom of it quickly and didn't use to much of your time

[2021-08-24 21:27] rob-luke commented on #3613
Don't bother about deleting comments. No worries, I understand we are all busy. I don't want to use more of your time than required cleaning a chat thread.

[2021-08-24 21:28] vahid-sb commented on #3613
@rob-luke I'd come back to you with my comments as soon as I can.

[2021-08-24 21:29] rob-luke commented on #3613
Thanks @vahid-sb I appreciate your volunteered time.

[2021-08-24 21:33] jacobmerson commented on #3389
@danielskatz I have merged your pull request with wording changes.

[2021-08-24 22:04] alexismhill3 commented on #3636
Hi @csoneson, from the list it looks like ctb, afrubin, Nazeeefa, will-rowe, karinlag, tkchafin, and mberacochea would be some good choices.

[2021-08-24 22:16] npucino commented on #3654
Thank you Daniel, thank you Chris, for taking care of my submission!
Here is a list of potential reviewers of this code, taken from the JOSS list:
- dbuscombe-usgs
- TomasBeuzen
- chrisleaman
- pwernette

Have a nice day,
Nick

[2021-08-24 22:21] nicoguaro commented on #3482
I have marked most of the checklist above. Following are some comments that I would add to @jmbr's ones.

- Regarding the size (lines of code) of the package. I think that it is OK. The guideline suggests that number as a rule of thumb. In this case, I would say that it is clear the package has scientific value.

- For me, the documentation is confusing.

  - There isn't an example in the doc site

[2021-08-24 22:52] jaeyk commented on #3605
@MAnalytics As for the installation guideline, it might be useful to explain that the {remotes} is an extra package that users need to install.

[2021-08-24 23:26] danielskatz commented on #3389
@whedon accept deposit=true from branch joss

[2021-08-24 23:26] whedon commented on #3389
[code]

[2021-08-24 23:27] whedon commented on #3389
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1430310777496473603) 👈 🐦🐦🐦

[2021-08-24 23:27] whedon commented on #3389
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2532
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03389](https://doi.org/10.21105/joss.03389)
2. If everything look

[2021-08-24 23:35] danielskatz commented on #3389
Congratulations to @jacobmerson (Jacob Merson) and co-author!!

And thanks to @diehlpk for editing, and @daniellivingston and @pratikvn for reviewing!
We couldn't do this without you!

[2021-08-24 23:35] #3389 closed

[2021-08-24 23:35] whedon commented on #3389
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03389/status.svg)](https://doi.org/10.21105/joss.03389)

**We need your help!**

Journal of Open Source Softwa

[2021-08-25 04:59] WilkAndy commented on #3314
Hi @smolins .  I believe that i've addressed all your concerns - the software ones from 3 days ago, and the article ones from 14 days ago.   The changes may be seen at https://github.com/idaholab/moose/pull/18689/files  and a new PDF may be made by going to https://whedon.theoj.org/ and using repo https://github.com/WilkAndy/moose and branch joss_geochem_18610 .

[2021-08-25 06:24] SteRoe commented on #3539
o.k., thanks @mikldk: I've completed my checklist and I'm fine with the manuscript.

[2021-08-25 06:31] strengejacke commented on #3539
I completed my review. I raised some issues, which were addressed to my satisfaction. Hence, from my side, I would recommend accept.

[2021-08-25 07:10] osorensen commented on #3578
Sorry about that @htwangtw, but good to hear that you're back at work. It should be possible to turn on notifications for this issue by clicking the "Notications" button on the right hand side if you scroll up to the top of the page.

[2021-08-25 08:11] MAnalytics commented on #3605
Dear @jaeyk @justinchuntingho @cjbarrie @ajstewartlang

All of the above have now been addressed accordingly. The package website can be accessed here: https://manalytics.github.io/opitools/index.html

Thanks,
MA.

[2021-08-25 08:13] MAnalytics commented on #3605
@whedon generate pdf

[2021-08-25 08:13] whedon commented on #3605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: :point_left:

[2021-08-25 08:15] drvinceknight commented on #3397
@whedon set 10.5281/zenodo.5245632 as archive

[2021-08-25 08:15] whedon commented on #3397
OK. <a href="https://doi.org/10.5281/zenodo.5245632" target="_blank">10.5281/zenodo.5245632</a> is the archive.

[2021-08-25 08:15] drvinceknight commented on #3397
@whedon set v0.1.1 as version

[2021-08-25 08:15] whedon commented on #3397
OK. v0.1.1 is the version.

[2021-08-25 08:16] drvinceknight commented on #3397
@whedon recommend-accept

[2021-08-25 08:16] whedon commented on #3397
[code]

[2021-08-25 08:16] whedon commented on #3397
[code]

[2021-08-25 08:16] whedon commented on #3397
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2533

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2533, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-25 08:52] arianesasso commented on #3656
@whedon generate pdf

[2021-08-25 08:53] whedon commented on #3656
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03656/joss.03656/10.21105.joss.03656.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03656/joss.03656/10.21105.joss.03656.pdf) :page_facing_up: :point_left:

[2021-08-25 08:55] arianesasso commented on #3656
@whedon check references

[2021-08-25 08:55] whedon commented on #3656
[code]

[2021-08-25 09:17] Nikoleta-v3 commented on #3538
👋 @Hegghammer. This is just a little nudge 📳  Did you get a chance to look over the reviewer's comments?

[2021-08-25 09:30] arfon commented on #3578
Done.

[2021-08-25 09:47] papachristoumarios commented on #3642
@osorensen My review is complete via the checklist above. Briefly, I liked the paper and the functionality it provides on a data scientist's pipeline. The software is widely used, well-structured and passes all the quality criteria outlined by the JOSS guidelines.

Finally, as a request for _future work_ I have opened an issue (https://github.com/feature-engine/feature_engine/issues/302) requestin

[2021-08-25 10:03] arianesasso commented on #3656
@whedon generate pdf

@danielskatz Thank you for the help! I think now it is ready. I would suggested as reviewers (from the list): hooman650, acolum, nirum

[2021-08-25 10:04] whedon commented on #3656
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03656/joss.03656/10.21105.joss.03656.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03656/joss.03656/10.21105.joss.03656.pdf) :page_facing_up: :point_left:

[2021-08-25 10:14] whedon commented on #3601
:wave: @willu47 , please update us on how your review is going (this is an automated reminder).

[2021-08-25 10:14] whedon commented on #3601
:wave: @lisazeyen , please update us on how your review is going (this is an automated reminder).

[2021-08-25 10:23] osorensen commented on #3642
Thanks a lot for your work, @papachristoumarios!

[2021-08-25 10:56] crvernon commented on #3654
:wave: @dbuscombe-usgs @TomasBeuzen - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-25 11:06] crvernon commented on #3635
:mega:  Mid-week rally!  Just checking in to see how things are going.

🙌 Thanks for getting the ball rolling @rmorgan10 !

:open_hands: @crhea93 I am happy to answer any question you may have as well!

Great work on this review so far!

[2021-08-25 11:09] crvernon commented on #3634
:mega:  Mid-week rally!  Just checking in to see how things are going.

:open_hands: @corybrunson @rmflight I am happy to answer any questions you may have!

Have a great rest of the week!

[2021-08-25 11:16] matteomancini commented on #3523
Thank you @michaelberks for working on this very interesting project. This software is an interesting contribution to the landscape of quantitative MRI tools, and for sure the first tool I would consider trying out if I was given DCE-MRI data.

I will follow the JOSS checklist for this review. All the general checks are in place. In terms of functionality, I've compiled Madym on macOS (`10.15.7`)

[2021-08-25 11:47] metelkin commented on #3639
Hi @fboehm. Thank you for your editing.
I look through the list of people who have already agreed to review for JOSS. I guess potential reviewers might be

sahilseth
louiejtaylor
camillescott
zfrenchee
RuneBlaze
jmcgonigle
smsaladi
dvanic
carleshf
jkanche

[2021-08-25 12:03] agahkarakuzu commented on #3523
I was able to test the software, so I am moving on with my review following the same structure above:

### Performance

Below are the logs from Madym I built from sources (command line):

[code]

Following the processing, I obtained the following `csv` for summary stats:

![image](https://user-images.githubusercontent.com/9632322/130760861-e92ab8a2-d4fe-45ae-af88-b27ef3056dac.png)

* The results f

[2021-08-25 12:14] VivianePons commented on #3454
@whedon set v0.5.7 as version

[2021-08-25 12:14] whedon commented on #3454
OK. v0.5.7 is the version.

[2021-08-25 12:15] VivianePons commented on #3454
@whedon set 10.5281/zenodo.5226913 as archive

[2021-08-25 12:15] whedon commented on #3454
OK. <a href="https://doi.org/10.5281/zenodo.5226913" target="_blank">10.5281/zenodo.5226913</a> is the archive.

[2021-08-25 12:18] VivianePons commented on #3454
Thank you @ranocha and congratulation, I am putting the acceptance recommendation and notifying the chief editors for the final steps! Thanks again to @dawbarton and @kellertuer for the reviews

[2021-08-25 12:18] VivianePons commented on #3454
@whedon recommend-accept

[2021-08-25 12:18] whedon commented on #3454
[code]

[2021-08-25 12:18] whedon commented on #3454
PDF failed to compile for issue #3454 with the following error:
[code]

[2021-08-25 12:19] VivianePons commented on #3454
@whedon recommend-accept from branch paper

[2021-08-25 12:19] whedon commented on #3454
[code]

[2021-08-25 12:19] whedon commented on #3454
[code]

[2021-08-25 12:20] whedon commented on #3454
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2534

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2534, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-25 12:23] karink520 commented on #3397
Wonderful! Thanks again, all!

[2021-08-25 12:27] ranocha commented on #3454
Thank you all very much!

[2021-08-25 12:33] karink520 commented on #3397
Er, excuse my confusion, but am I the one who should run that last compile with `deposit=true` ? Or that instruction is aimed at someone else?

[2021-08-25 12:43] danielskatz commented on #3397
No, I will do that as the AEiC on duty this week after I proofread the paper and check a few others things.

[2021-08-25 13:07] crvernon commented on #3601
:wave: @willu47 and @lisazeyen - I have addressed all of your issues and comments.  At this point we should be up-to-date.  All changes have been incorporated on `main` and the docs and PyPi versions updated accordingly.  Thanks so much for the great feedback!

[2021-08-25 13:18] crhea93 commented on #3635
@grant-m-s WHAT A PACKAGE! This is extremely impressive work! The documentation is absolutely spot on -- I was able to answer any questions I had about the software and how best to use it by scrolling through the readthedocs pages.

I've added an additional installation issue to the existing GitHub issue created by @rmorgan10 #11

Since I am unable to install the software at the moment, I cannot c

[2021-08-25 13:34] danielskatz commented on #3397
@whedon accept deposit=true

[2021-08-25 13:34] whedon commented on #3397
[code]

[2021-08-25 13:35] crvernon commented on #3635
@crhea93 I believe you accidentally linked to issue number 11 in the JOSS repository registry instead of one of the issues that is currently in the author's repository here:  https://github.com/grant-m-s/AstronomicAL/issues

Would you mind  editing your comment to reference the issue in the author's repo that you are referring to?  Thanks!

[2021-08-25 13:35] whedon commented on #3397
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1430524248259448835) 👈 🐦🐦🐦

[2021-08-25 13:35] whedon commented on #3397
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2535
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03397](https://doi.org/10.21105/joss.03397)
2. If everything look

[2021-08-25 13:39] danielskatz commented on #3454
@whedon accept deposit=true from branch paper

[2021-08-25 13:39] whedon commented on #3454
[code]

[2021-08-25 13:40] whedon commented on #3454
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1430525451915640832) 👈 🐦🐦🐦

[2021-08-25 13:40] whedon commented on #3454
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2536
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03454](https://doi.org/10.21105/joss.03454)
2. If everything look

[2021-08-25 13:41] danielskatz commented on #3397
Congratulations to @karink520 (Karin Knudson) and co-authors!!

And thanks to @drvinceknight for editing, and @matt-graham and @pmyteh for reviewing!
We couldn't do this without you!

[2021-08-25 13:41] #3397 closed

[2021-08-25 13:41] whedon commented on #3397
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03397/status.svg)](https://doi.org/10.21105/joss.03397)

**We need your help!**

Journal of Open Source Softwa

[2021-08-25 13:49] danielskatz commented on #3454
Congratulations to @ranocha (Hendrik Ranocha)!!

And thanks to @VivianePons for editing, and @dawbarton and @kellertuer for reviewing!
We couldn't do this without you!

[2021-08-25 13:49] #3454 closed

[2021-08-25 13:49] whedon commented on #3454
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03454/status.svg)](https://doi.org/10.21105/joss.03454)

**We need your help!**

Journal of Open Source Softwa

[2021-08-25 13:54] ranocha commented on #3454
Thank you all very much!

[2021-08-25 13:56] crhea93 commented on #3635
My apologies! It should be all set now :D

[2021-08-25 13:58] Kevin-Mattheus-Moerman commented on #3020
@chennachaos can you provide an update on how this review is going? Has @diehlpk managed to address the issues you raised? Thanks!

[2021-08-25 14:01] whedon opened #3657 "[PRE REVIEW]: serp: An R package for smoothing in ordinal regression"
**Submitting author:** @ejikeugba (<a href="http://orcid.org/0000-0003-2572-0023">Ejike Ugba</a>)
**Repository:** <a href="https://github.com/ejikeugba/serp" target ="_blank">https://github.com/ejikeugba/serp</a>
**Version:** v.0.2.0
**Editor:** @Bisaloo
**Reviewers:** @bernardsilenou, @wesleyburr
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-08-25 14:01] whedon commented on #3657
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-25 14:01] whedon commented on #3657
Downloading of the repository (to analyze the language) for issue #3657 failed with the following error:
[code]

[2021-08-25 14:01] whedon commented on #3657
Downloading of the repository (to check the bibtex) failed for issue #3657 failed with the following error:
[code]

[2021-08-25 14:01] whedon commented on #3657
PDF failed to compile for issue #3657 with the following error:
[code]

[2021-08-25 14:02] danielskatz commented on #3657
👋 @openjournals/dev - can you check on this?  The repo looks fine to me

[2021-08-25 14:02] danielskatz commented on #3657
@whedon check repository

[2021-08-25 14:02] whedon commented on #3657
Wordcount for `paper.md` is 1543

[2021-08-25 14:02] whedon commented on #3657
[code]

[2021-08-25 14:02] danielskatz commented on #3657
@whedon generate pdf

[2021-08-25 14:02] whedon commented on #3657
PDF failed to compile for issue #3657 with the following error:
[code]

[2021-08-25 14:03] danielskatz commented on #3657
@whedon check references

[2021-08-25 14:03] whedon commented on #3657
[code]

[2021-08-25 14:05] danielskatz commented on #3657
@ejikeugba - your paper header has at least one problem; see the [sample paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) if needed. Please feel free to make changes to your .md file, then use the command `@whedon generate pdf` to try to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-08-25 14:06] danielskatz commented on #3657
After the paper builds, you also could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF.

[2021-08-25 14:14] danielskatz commented on #3657
I think the problem in the paper is the indentation - please follow the sample paper's indentation.

[2021-08-25 14:15] kthyng commented on #3172
Ok thanks everyone! Looks like we can proceed to the final steps before publication.

@semiautomaticgit Can you verify the version of your software that you want associated with the JOSS publication? Also, please make an archive of the software at a place like Zenodo, making sure to change the metadata so that the title and author list exactly match your JOSS paper.

[2021-08-25 14:15] kthyng commented on #3172
@whedon check references from branch paper

[2021-08-25 14:15] whedon commented on #3172
[code]

[2021-08-25 14:15] whedon commented on #3172
[code]

[2021-08-25 14:18] danielskatz commented on #3656
👋 @prashjha - would you be willing to edit this submission?

[2021-08-25 14:18] danielskatz commented on #3656
@whedon invite @prashjha as editor

[2021-08-25 14:19] whedon commented on #3656
@prashjha has been invited to edit this submission.

[2021-08-25 14:21] lpantano commented on #3615
@whedon check references from custom branch joss-paper

[2021-08-25 14:28] diehlpk commented on #3630
@tiburoch Would you mind recommending some reviewers?

[2021-08-25 14:29] whedon commented on #3605
:wave: @cjbarrie, please update us on how your review is going (this is an automated reminder).

[2021-08-25 14:29] whedon commented on #3605
:wave: @justinchuntingho, please update us on how your review is going (this is an automated reminder).

[2021-08-25 14:32] kthyng commented on #3172
Hi @semiautomaticgit  — in terms of your paper, things are looking good other than the DOIs for your references. Please check those listed above as being invalid and missing, but also look through your references in detail because it looks like they are all generally prefixed with "https://doi.org/" but shouldn't be. Please just include the doi itself. Some have multiple "http" prefixes too. Let m

[2021-08-25 14:54] csoneson commented on #3636
👋🏻 @mberacochea, @tkchafin, @karinlag - would (two of) you be interested in reviewing this submission for JOSS?

[2021-08-25 14:55] fboehm commented on #3639
:wave: @camillescott and @louiejtaylor - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-25 15:04] whedon commented on #3615
[code]

[2021-08-25 15:04] catsch commented on #3305
Hi Kristen,

I am not very familiar with this type of review but I can try, what is the expected dead line? I have a very busy september.
Tell me how should I proceed ?
Best
Catherine

--
Catherine Schmechtig

0681827411

LEFE-CYBER Database
http://www.obs-vlfr.fr/proof

BGC Argo
http://biogeochemical-argo.org/

https://github.com/catsch

OSU Ecce Terra
Sorbonne Université - CNRS - UMS 3455
4, Pla

[2021-08-25 15:11] kthyng commented on #3305
Hi @catsch! Thanks for your willingness to help. We know everyone is quite busy, especially during a global pandemic, so we are asking for 4-6 weeks total for review, though it's better to start earlier if possible because the review process tends to be iterative between the reviewers and author(s). This submission has been waiting in pre-review for quite awhile, but we would just be happy to have

[2021-08-25 15:18] cjbarrie commented on #3605
I have created a PR, which just tweaks a few things. Otherwise, my editing suggestions are limited to those edits to paper.md described in https://github.com/MAnalytics/opitools/issues/4.

Once these have been resolved, I'd be happy to accept!

Great work @MAnalytics !

[2021-08-25 15:23] kbarnhart commented on #3507
I'm going to start the review issue so that @nvanderelst can see the review structure and checklist. Once I find a second reviewer I'll manually add them.

@wsavran - Know that I'm still actively seeking reviewers (here and over email).

[2021-08-25 15:23] kbarnhart commented on #3507
@whedon start review

[2021-08-25 15:23] whedon opened #3658 "[REVIEW]: pyCSEP: A Python Package For Earthquake Forecast Developers"
**Submitting author:** @wsavran (<a href="http://orcid.org/0000-0001-5404-0778">William Savran</a>)
**Repository:** <a href="https://github.com/SCECcode/pycsep" target ="_blank">https://github.com/SCECcode/pycsep</a>
**Version:** v0.5.2
**Editor:** @kbarnhart
**Reviewers:** @nvanderelst, @mbarall
**Archive:** <a href="https://doi.org/10.5281/zenodo.5904124" target="_blank">10.5281/zenodo.5904124</

[2021-08-25 15:23] whedon commented on #3507
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3658.

[2021-08-25 15:23] whedon commented on #3658
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nvanderelst it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2021-08-25 15:23] whedon commented on #3658
PDF failed to compile for issue #3658 with the following error:
[code]

[2021-08-25 15:23] whedon commented on #3658
[code]

[2021-08-25 15:26] kbarnhart commented on #3658
@nvanderelst - thanks for agreeing to review this submission to JOSS. In the prior comments there is a checklist that you can use to guide you through your review. There are also instructions to manage your github notifications so you don't get all notifications for all JOSS reviews.

We have an automatic reminder set up in two weeks to ask you how the review is going. At present we request that r

[2021-08-25 15:33] kbarnhart commented on #3398
I received an email from @jhnienhuis confirming that the authors have addressed his remaining concerns and that he thinks this is ready to be accepted. I've checked off his few remaining checkboxes.

[2021-08-25 15:34] kbarnhart commented on #3398
@whedon check references

[2021-08-25 15:34] whedon commented on #3398
[code]

[2021-08-25 15:34] kbarnhart commented on #3398
@whedon compile pdf

[2021-08-25 15:35] whedon commented on #3398
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-25 15:35] kbarnhart commented on #3398
@whedon generate pdf

[2021-08-25 15:39] jaeyk commented on #3605
I'm good with the submission. I think that @cjbarrie's suggestions are great. Thanks for your contribution @MAnalytics.

[2021-08-25 15:42] angystallone commented on #3507
Dear Katy,

thank you for your email, but I am not the right person for this review.
I would recommend Ilaria Spassiani instead.

Best regards,
Angela

[2021-08-25 15:43] MAnalytics commented on #3605
@cjbarrie @jaeyk @justinchuntingho Thank you all very much for the excellent reviews. All the issues have now been addressed accordingly.

MA.

[2021-08-25 15:51] kbarnhart commented on #3398
@amoodie Please do the following
- [ ] Revise the sentence starting at Line 11. Its unclear what "This" refers to (the prior sentence or contents following in its own sentence.
- [ ] Once that change is made, run `@whedon generate pdf` and `@whedon check references`. Presuming both of those complete without error continue to the next steps.
- [ ] Make a tagged release of your software, and report

[2021-08-25 15:51] catsch commented on #3305
Ok Fine by me
I ll try to do my best. I can start next week
Catherine

--
Catherine Schmechtig

0681827411

LEFE-CYBER Database
http://www.obs-vlfr.fr/proof

BGC Argo
http://biogeochemical-argo.org/

https://github.com/catsch

OSU Ecce Terra
Sorbonne Université - CNRS - UMS 3455
4, Place Jussieu
75 252 Paris Cedex 05
Tour 45 - couloir 45-55
2eme etage - 207

De: "Kristen Thyng" ***@***.***>
À: "op

[2021-08-25 15:53] rosecers commented on #3325
@janash @jgostick I have similar concerns about the "Substantial Scholarly Effort" and scope and cannot recommend it for publication either.

[2021-08-25 16:00] kellieotto commented on #3637
@csoneson I can review this

[2021-08-25 16:10] cjbarrie commented on #3605
All boxes ticked on my side: I'm happy recommend acceptance

[2021-08-25 16:13] whedon commented on #3305
OK, @catsch is now a reviewer

[2021-08-25 16:13] kthyng commented on #3305
@whedon start review

[2021-08-25 16:13] whedon commented on #3607
:wave: @rusu24edward, please update us on how your review is going (this is an automated reminder).

[2021-08-25 16:13] whedon commented on #3607
:wave: @tomalrussell, please update us on how your review is going (this is an automated reminder).

[2021-08-25 16:13] whedon opened #3659 "[REVIEW]: argodata: An R interface to oceanographic data from the International Argo Program"
**Submitting author:** @paleolimbot (<a href="http://orcid.org/0000-0002-9415-4582">Dewey Dunnington</a>)
**Repository:** <a href="https://github.com/ArgoCanada/argodata" target ="_blank">https://github.com/ArgoCanada/argodata</a>
**Version:** v0.1.0
**Editor:** @kthyng
**Reviewer:** @KimBaldry, @catsch
**Archive:** <a href="https://doi.org/10.5281/zenodo.5772495" target="_blank">10.5281/zenodo.57

[2021-08-25 16:13] whedon commented on #3305
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3659.

[2021-08-25 16:13] #3305 closed

[2021-08-25 16:13] whedon commented on #3659
Wordcount for `paper.md` is 2017

[2021-08-25 16:13] whedon commented on #3659
[code]

[2021-08-25 16:15] kthyng commented on #3659
Hi @KimBaldry, @catsch — this is where the review will take place. You should use your checklist above to drive your review, and as issues come up with the software during your review, please open issues on github in the software repository, including a link to this review issue to help with tracking review-related issues. Please let me know if you have any questions as you go!

[2021-08-25 16:28] ejikeugba commented on #3657
@whedon generate pdf

[2021-08-25 16:28] whedon commented on #3657
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03657/joss.03657/10.21105.joss.03657.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03657/joss.03657/10.21105.joss.03657.pdf) :page_facing_up: :point_left:

[2021-08-25 16:29] ejikeugba commented on #3657
@whedon check references

[2021-08-25 16:30] whedon commented on #3657
[code]

[2021-08-25 16:32] thurber commented on #3313
Hi @fneum, thanks for reporting these issues! We've released `diyepw` v1.2.1 to PyPi that should address these points:
* `diyepw.get_wmo_station_location(725300)` should be fixed - yes, this was issue in the setup.py with pathfinding.
* Implemented the defaults in most of the methods.
* Hopefully fixed the CLI issues -- if you're still seeing this can you let me know what OS you're running on?
* J

[2021-08-25 16:49] Himscipy commented on #3419
`I'm not sure I follow. What kind of extra information would you expect? I'm sure @PhilipVinc would be happy to provide.`
I don't expect extra information, here I mean that in the introduction section you elucidate the NetKet example, but in the result section you only show the results of the shallow water equation. Providing the details of all the examples you list in the introduction section, wi

[2021-08-25 16:50] amandadsmith commented on #3313
HI @fneum we really appreciate your support and your suggestions here. I'll skip the Functionality items as I believe @thurber has touched on all of them above. I believe we've gotten each of the Documentation/Paper issues, and I think it's more clear and up to date, so thanks again for your thoroughness!

We've added a little material here but will also link directly from this page to the paper w

[2021-08-25 16:55] ejikeugba commented on #3657
@whedon check references

[2021-08-25 16:55] whedon commented on #3657
[code]

[2021-08-25 17:35] whedon opened #3660 "[PRE REVIEW]: text2map: R Tools for Text Matrices"
**Submitting author:** @dustinstoltz (<a href="http://orcid.org/0000-0002-4774-0765">Dustin Stoltz</a>)
**Repository:** <a href="https://gitlab.com/culturalcartography/text2map" target ="_blank">https://gitlab.com/culturalcartography/text2map</a>
**Version:** 0.1.0
**Editor:** @chartgerink
**Reviewers:** @alexanderfurnas, @mbod
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mod

[2021-08-25 19:45] whedon opened #3661 "[REVIEW]: infer: An R package for tidyverse-friendly statistical inference"
**Submitting author:** @simonpcouch (<a href="http://orcid.org/0000-0001-5676-5107">Simon Couch</a>)
**Repository:** <a href="https://github.com/tidymodels/infer" target ="_blank">https://github.com/tidymodels/infer</a>
**Version:** v1.0.1
**Editor:** @csoneson
**Reviewer:** @prdm0, @kellieotto
**Archive:** <a href="https://doi.org/10.5281/zenodo.5504495" target="_blank">10.5281/zenodo.5504495</a>

[2021-08-27 17:21] whedon opened #3662 "[PRE REVIEW]: partycls: A Python package for structural clustering"
**Submitting author:** @jorisparet (<a href="http://orcid.org/0000-0002-1300-1227">Joris Paret</a>)
**Repository:** <a href="https://github.com/jorisparet/partycls" target ="_blank">https://github.com/jorisparet/partycls</a>
**Version:** v1.0.0
**Editor:** @lucydot
**Reviewers:** @FTurci, @govarguz
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-08-27 17:22] whedon opened #3663 "[PRE REVIEW]: AuDoLab: Automatic document labelling and classification for extremely unbalanced data"
**Submitting author:** @ArneTillmann (<a href="http://orcid.org/0000-0002-2761-4518">Arne Matthias Tillmann</a>)
**Repository:** <a href="https://github.com/ArneTillmann/AuDoLab" target ="_blank">https://github.com/ArneTillmann/AuDoLab</a>
**Version:** v1.0.7
**Editor:** @arfon
**Reviewers:** @linuxscout
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-08-27 17:22] whedon opened #3664 "[PRE REVIEW]: ShUShER: private browser-based placement of sensitive genome samples on phylogenetic trees"
**Submitting author:** @amkram (<a href="http://orcid.org/0000-0003-3630-3209">Alexander Kramer</a>)
**Repository:** <a href="https://github.com/amkram/shusher" target ="_blank">https://github.com/amkram/shusher</a>
**Version:** v0.5.0
**Editor:** @mikldk
**Reviewers:** @kblin, @bede
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the C

[2021-08-27 20:40] whedon opened #3665 "[PRE REVIEW]: cppTPSA/pyTPSA: a C++/Python package for truncated power series algebra"
**Submitting author:** @zhanghe9704 (<a href="http://orcid.org/0000-0001-7701-4118">He Zhang</a>)
**Repository:** https://github.com/zhanghe9704/tpsa
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @pibion
**Reviewers:** @dtabell, @chrisrogers1234
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2021-08-27 23:40] rhaas80 commented on #2978
I just finished reading through the source. Looks good to me. Overall quite readable. For some files (most of the LP Coral file) there are haders:
[code]
but not quite for all. Since these are very useful to get a rough idea what may be expected in a file, having them for all files would be great (but purely optional).

[2021-08-27 23:42] rhaas80 commented on #2978
so once the two issues related to community contribution and quantitative tests are addressed I have no further objections.

[2021-08-28 00:03] gkthiruvathukal commented on #3291
Hi, I am just chiming in briefly here.

@zeroset, your points are valid; however, we already decided to put this through review and we rarely reject. If an author cannot overcome the issues arising from feedback, it is their job to pause or withdraw the submission. The "scholarly effort" may appear borderline, but I'm going to stand by my original assertion (from pre-review) that lightweight frame

[2021-08-28 01:50] rmflight commented on #3634
Issues around the paper itself:

* a line where I think the statement isn't quite correct: mingzehuang/latentcor#8
* The paper includes a lot more than is typical for a JOSS manuscript, including API and examples of running. mingzehuang/latentcor#9

[2021-08-28 01:59] rmflight commented on #3634
The current manuscript shows **some** of the things I'd like to see in another vignette, and shows that the software runs properly, and I've verified it can run, and it has tests, so I think I'm done for a first round.

My verdict is **Major Revisions**. Please feel free to ask for more clarification on the issues if they aren't clear.

[2021-08-28 02:16] chrisleaman commented on #3654
@crvernon - keen to take a look at this, sign me up!

[2021-08-28 02:29] crvernon commented on #3654
@whedon add @chrisleaman as reviewer

[2021-08-28 02:29] whedon commented on #3654
OK, @chrisleaman is now a reviewer

[2021-08-28 02:34] kburns commented on #3199
@whedon generate pdf from branch joss

[2021-08-28 02:34] whedon commented on #3199
[code]

[2021-08-28 02:35] whedon commented on #3199
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03199/joss.03199/10.21105.joss.03199.pdf) :page_facing_up: :point_left:

[2021-08-28 02:35] crvernon commented on #3654
Alright @dbuscombe-usgs @chrisleaman @npucino I am going to close this Pre-Review and kick off the full review which you should receive a notification for. Thanks!

[2021-08-28 02:35] crvernon commented on #3654
@whedon start review

[2021-08-28 02:35] whedon opened #3666 "[REVIEW]: sandpyper: A Python package for UAV-SfM beach volumetric and behavioural analysis"
**Submitting author:** @npucino (<a href="http://orcid.org/0000-0001-6260-6647">Nicolas Pucino</a>)
**Repository:** <a href="https://github.com/npucino/sandpyper" target ="_blank">https://github.com/npucino/sandpyper</a>
**Version:** v1.0.0
**Editor:** @crvernon
**Reviewer:** @dbuscombe-usgs, @chrisleaman
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2021-08-28 02:35] whedon commented on #3654
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3666.

[2021-08-28 02:35] #3654 closed

[2021-08-28 02:35] whedon commented on #3666
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dbuscombe-usgs, @chrisleaman it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-08-28 02:36] whedon commented on #3666
[code]

[2021-08-28 02:36] whedon commented on #3666
Wordcount for `paper.md` is 1349

[2021-08-28 02:36] whedon commented on #3666
[code]

[2021-08-28 02:36] whedon commented on #3666
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03666/joss.03666/10.21105.joss.03666.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03666/joss.03666/10.21105.joss.03666.pdf) :page_facing_up: :point_left:

[2021-08-28 02:38] crvernon commented on #3666
@dbuscombe-usgs  @chrisleaman @npucino :wave: the review takes place in this issue. Thanks!

[2021-08-28 02:39] crvernon commented on #3666
Also, please don't forget to add a link to this review issue in any issues or pull requests you may generate in the https://github.com/npucino/sandpyper repository. This will help everyone have a single point of reference.

[2021-08-28 03:03] andrewfowlie commented on #3645
Looks interesting and I’m in general willing and able to contribute, but  I’m afraid my schedule is too hectic right now.

[2021-08-28 03:58] dpsanders commented on #3583
Ah thanks, I'll do that.

[2021-08-28 04:57] TobbeTripitaka commented on #3327
Sure. I'm also happy to review this.

[2021-08-28 06:07] npucino commented on #3666
Thank you guys for your time! Cheers

[2021-08-28 07:55] mjsottile commented on #3558
@lungsi I plan to solicit reviewers soon, but am busy until next week.  I also wanted to give some preliminary feedback about your write up related to grammatical issues so that you could fix it before the reviewers take a look.  Expect more from me in a few days.

[2021-08-28 08:06] Nikoleta-v3 commented on #3538
Not a problem @Hegghammer! Thank you for the update 😄

[2021-08-28 08:13] BenMql commented on #2978
Thank you @rhaas80 and @robertsawko for the careful reviews. @danielskatz, I will be back in the office on Monday and will address the last suggestions promptly.

[2021-08-28 09:49] PeerHerholz commented on #3169
Thanks for your help and effort @danielskatz!

I completed all the outlined steps and the [tagged release is now available on zenodo](https://zenodo.org/record/5301625#.YSoF29Mzblw), with the `DOI` being
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.5301625.svg)](https://doi.org/10.5281/zenodo.5301625).

Thanks again, best, Peer

[2021-08-28 10:13] danielskatz commented on #3169
And the version is v0.0.5?

[2021-08-28 10:13] danielskatz commented on #3169
@whedon set 10.5281/zenodo.5301625 as archive

[2021-08-28 10:13] whedon commented on #3169
OK. <a href="https://doi.org/10.5281/zenodo.5301625" target="_blank">10.5281/zenodo.5301625</a> is the archive.

[2021-08-28 10:14] danielskatz commented on #3169
@whedon set v0.0.5 as version

[2021-08-28 10:14] whedon commented on #3169
OK. v0.0.5 is the version.

[2021-08-28 10:27] danielskatz commented on #3169
I've suggested a bunch of changes to the paper wording in https://github.com/PeerHerholz/BIDSonym/pull/62 - Also in Figure 1,  I see a "meta-data" that should be "metadata" to be consistent with the rest of the paper.  Please merge the PR (or let me know what you disagree with), and let me know if you want to change Figure 1, then we can proceed to final acceptance and publication.

[2021-08-28 11:03] ArneTillmann commented on #3663
👋 @danielskatz,

Ofc I will make those changes to the paper asap.

Thank you very much

[2021-08-28 11:22] richardjgowers commented on #3482
Hi @nicoguaro @jmbr thanks for your work in reviewing things.  This seems like great feedback to improve the work.  Regarding the SLOC criteria, this is a guideline and the editors have decided that this package is suitable.

[2021-08-28 11:29] richardjgowers commented on #3521
Hi @ojeda-e @blakeaw @lilyminium looks like we've made some progress on the review.  For remaining points you'd like to raise, if you can either raise issues on the repo (which I see we've already done) or directly ask the author in this thread (@patrickfuchs)  then we can move this review along.

[2021-08-28 12:11] mikldk commented on #3664
@whedon assign me as editor

[2021-08-28 12:11] whedon commented on #3664
OK, the editor is @mikldk

[2021-08-28 12:13] mikldk commented on #3664
@amkram - thank you for the submission.

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers)?

[2021-08-28 12:15] PeerHerholz commented on #3169
Hi @danielskatz,

thx so much for all of this! I accepted the PR and [adapted Figure 1](https://github.com/PeerHerholz/BIDSonym/commit/94f899c5fa3cf62460e9386d34453565e757d03f).

Best, Peer

[2021-08-28 12:38] danielskatz commented on #3169
@whedon accept

[2021-08-28 12:38] whedon commented on #3169
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-08-28 12:38] danielskatz commented on #3169
@whedon recommend-accept

[2021-08-28 12:38] whedon commented on #3169
[code]

[2021-08-28 12:38] whedon commented on #3169
[code]

[2021-08-28 12:39] whedon commented on #3169
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2544

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2544, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-28 12:40] danielskatz commented on #3169
@PeerHerholz - please add the missing DOI that whedon suggests, unless you think it's incorrect.

[2021-08-28 12:41] danielskatz commented on #3169
@also, please remove the abstract field from any references that do not have DOIs, as these get copied into unstructured metadata that is sent to crossref for for such references, which isn't needed.

[2021-08-28 12:42] danielskatz commented on #3169
Also, in the caption of Figure 1, there's one "meta-data" left that I missed - this should be changed to "metadata"

[2021-08-28 12:44] danielskatz commented on #3169
And for the McKinney reference in the bib file, please change the "Python" in the title to "{P}ython" to preserve the correct case for the P.

[2021-08-28 13:04] grant-m-s commented on #3635
@whedon generate pdf from branch joss-paper-branch

[2021-08-28 13:04] whedon commented on #3635
[code]

[2021-08-28 13:05] whedon commented on #3635
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03635/joss.03635/10.21105.joss.03635.pdf) :page_facing_up: :point_left:

[2021-08-28 13:16] nickbearman commented on #3609
Hi all, I am having a look at this now.
For the record, as it is a Saturday:
My working pattern is probably not the same as your working pattern, therefore
you may get (GitHub notifications) from me outside of normal working hours. Please do not feel any
pressure to respond outside of your own working pattern.

[2021-08-28 13:16] nickbearman commented on #3609
@whedon commands

[2021-08-28 13:16] whedon commented on #3609
Here are some things you can ask me to do:

[code]

[2021-08-28 13:18] nickbearman commented on #3609
@martinfleis I think my invitation has expired, I can't edit the checklist and when I click the link https://github.com/openjournals/joss-reviews/invitations GitHub said the invitation had expired. Thanks!

[2021-08-28 13:20] martinfleis commented on #3609
@whedon re-invite @nickbearman as reviewer

[2021-08-28 13:20] whedon commented on #3609
OK, the reviewer has been re-invited.

@nickbearman please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-28 13:22] martinfleis commented on #3609
@nickbearman I have invited you again. Let me know if the issue persists. Thanks!

[2021-08-28 13:28] nickbearman commented on #3609
@martinfleis Thanks very much, it works now!

[2021-08-28 13:56] nickbearman commented on #3609
I have a query reinstallation.
On my own PC I had to install Rtools (which was fine) and then reinstall a couple of specific packages (ellipsis and backports) but I think this is just the usual R package fiddling around with that we need to do. I did get the package working on my PC.

To verify that it should do a clean install, I tried installing it on RStudio.Cloud. That, however, did not work:

[2021-08-28 13:59] PeerHerholz commented on #3169
Hi @danielskatz,

sorry for all these missed little things.

I added the missing `DOI`, removed the `abstract` field from references that don't have a `DOI`, adapted the caption and changed the title of the McKinney reference. I hope everything is ok now.

Thanks again, best, Peer

[2021-08-28 13:59] PeerHerholz commented on #3169
@whedon generate pdf

[2021-08-28 14:00] whedon commented on #3169
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03169/joss.03169/10.21105.joss.03169.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03169/joss.03169/10.21105.joss.03169.pdf) :page_facing_up: :point_left:

[2021-08-28 14:12] prashjha commented on #3648
Hi @jakryd, would you be interested in reviewing this submission?

[2021-08-28 14:17] nickbearman commented on #3609
Currently I can't really test the software without a link to the 'Get started' tutorial.
I have run through the README instructions, but they are quite high-level.
The paper could expand slightly on the statistic the library generates - this is not 100% clear. Possibly a list of statistics it generates might be useful? I'm not sure currently, maybe the tutorial will help. I will revisit this in a

[2021-08-28 14:26] prashjha commented on #3656
Hi @djmitche, would you be interested in reviewing this submission?

[2021-08-28 14:27] prashjha commented on #3656
Hi @cbrueffer, any chance you could review this submission?

[2021-08-28 14:35] prashjha commented on #3656
Hi @Chilipp, any chance you could review this submission?

[2021-08-28 14:39] prashjha commented on #3648
Hi @JaroslavHron, any chance you could review this submission?

[2021-08-28 14:40] Chilipp commented on #3656
Hey @prashjha, thanks for asking! Unfortunately I am totally blocked within the next 4 weeks due to too many other tasks and vacation.

Cheers

[2021-08-28 14:41] prashjha commented on #3656
Hi @Chilipp, I see. Thanks for letting me know. Have a good one!

[2021-08-28 14:44] prashjha commented on #3656
Hi @tupi, would you be interested in reviewing this submission?

[2021-08-28 14:46] prashjha commented on #3656
Hello @TomKellyGenetics, this submission may be of interest to you. Any chance you could do the review?

[2021-08-28 14:48] prashjha commented on #3648
Hello @TLCFEM, would you be interested in reviewing this submission?

[2021-08-28 14:51] prashjha commented on #3648
Hi @Balaje, any chance you could review this submission?

[2021-08-28 16:03] TLCFEM commented on #3648
👌👌👌

[2021-08-28 16:23] prashjha commented on #3648
I am assuming @TLCFEM you are okay with being a reviewer. :)

[2021-08-28 16:24] prashjha commented on #3648
@whedon assign @TLCFEM as reviewer

[2021-08-28 16:24] whedon commented on #3648
OK, @TLCFEM is now a reviewer

[2021-08-28 16:24] prashjha commented on #3648
@whedon add @karthikncsu as reviewer

[2021-08-28 16:24] whedon commented on #3648
OK, @karthikncsu is now a reviewer

[2021-08-28 16:31] cbrueffer commented on #3656
Hi @prashjha, I'm already overcommitted at the moment, sorry.

[2021-08-28 16:43] danielskatz commented on #3169
@whedon recommend-accept

[2021-08-28 16:43] whedon commented on #3169
[code]

[2021-08-28 16:43] whedon commented on #3169
[code]

[2021-08-28 16:44] whedon commented on #3169
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2545

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2545, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-28 16:45] fneum commented on #3313
Thanks @thurber and @amandadsmith for working through the feedback. All changes look good to me and all boxes are ticked now. No worries regarding the fixed versions. You clearly thought about this already.

[2021-08-28 16:46] danielskatz commented on #3169
@whedon accept deposit=true

[2021-08-28 16:46] whedon commented on #3169
[code]

[2021-08-28 16:46] whedon commented on #3169
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1431659561300238340) 👈 🐦🐦🐦

[2021-08-28 16:46] whedon commented on #3169
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2546
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03169](https://doi.org/10.21105/joss.03169)
2. If everything look

[2021-08-28 16:54] danielskatz commented on #3169
Congratulations to @PeerHerholz (Peer Herholz) and co-authors!!

And thanks to @oliviaguest for editing,
and @deep-introspection, @chrisgorgo, and @neuromusic for reviewing!

We couldn't do this without you!

[2021-08-28 16:54] #3169 closed

[2021-08-28 16:54] whedon commented on #3169
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03169/status.svg)](https://doi.org/10.21105/joss.03169)

**We need your help!**

Journal of Open Source Softwa

[2021-08-28 16:55] lilyminium commented on #3521
Thank you for your patience @patrickfuchs and @richardjgowers, sorry that the review has taken so long. I'm only waiting for a clarification as to the supported OSs (https://github.com/patrickfuchs/buildH/issues/148) and just posted some minor nitpicks with the paper (https://github.com/patrickfuchs/buildH/issues/149), but either way I am happy to recommend this for publication. `buildH` is well-d

[2021-08-28 16:55] prashjha commented on #3656
Hi @cbrueffer, no worries. Thanks for letting me know. Good luck. :)

[2021-08-28 17:12] timtroendle commented on #3313
@whedon check references on branch joss-paper

[2021-08-28 17:17] timtroendle commented on #3313
@whedon check references from branch joss-paper

[2021-08-28 17:17] whedon commented on #3313
[code]

[2021-08-28 17:17] whedon commented on #3313
[code]

[2021-08-28 17:19] timtroendle commented on #3313
Thank you @fneum for your review.

@amandadsmith, it all looks good to me. Is `v1.2.1` the correct version? At this point, could you please
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list

[2021-08-28 17:58] lungsi commented on #3558
Thank you @mjsottile Looking forward to your feedback.

[2021-08-28 18:09] nkeim commented on #3611
I'm getting started and hope to do this in the coming week.

@whedon generate pdf

[2021-08-28 18:48] thurber commented on #3313
@timtroendle, here's the DOI for `v1.2.1`: [10.5281/zenodo.5258122](https://doi.org/10.5281/zenodo.5258122)

[2021-08-28 19:54] amkram commented on #3664
Hi @mikldk,

Here are some suggestions for potential reviewers: `kblin`, `bede`, `iimog`, `Gab0`

Thanks!

[2021-08-28 20:13] djmitche commented on #3656
Sure!

[2021-08-28 20:31] ojeda-e opened #3667 "Functionality documentation: Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?"

[2021-08-28 20:31] whedon commented on #3667
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-28 20:31] #3667 closed

[2021-08-28 21:06] smolins commented on #3314
As noted above the submission meets most of the criteria above. My outstanding issues are

1. relating to the "Substantial scholarly effort". From manuscript:

33 In the past, researchers have typically answered such questions using separate models for
34 subsets of the physical processes, or loosely-coupled models solved using multiple software
35 packages. The MOOSE geochemistry module introduce

[2021-08-28 21:22] prashjha commented on #3656
@djmitche awesome. Thanks. :)
We will wait for another reviewer and then start the review.

[2021-08-28 22:19] amandadsmith commented on #3313
https://github.com/openjournals/joss-reviews/issues/3313#issuecomment-907672011

I confirm the title matches, author list is correct and includes ORCIDs.

https://github.com/openjournals/joss-reviews/issues/3313#issuecomment-907672011

Thank you!

[2021-08-28 22:49] Balaje commented on #3648
Yes, I am interested in reviewing this repo.

[2021-08-28 22:53] prashjha commented on #3648
Hi @Balaje, great. Thanks for your response. :)

Hey @QibangLiu, looks like we have enough reviewers to start the review. We wait for one more day and then start the process.

[2021-08-28 22:54] prashjha commented on #3648
@whedon add @Balaje as reviewer

[2021-08-28 22:54] whedon commented on #3648
OK, @Balaje is now a reviewer

[2021-08-28 22:59] tresoldi commented on #3173
@whedon generate pdf

[2021-08-28 22:59] whedon commented on #3173
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03173/joss.03173/10.21105.joss.03173.pdf) :page_facing_up: :point_left:

[2021-08-28 23:04] QibangLiu commented on #3648
@prashjha Thanks.

[2021-08-28 23:05] tresoldi commented on #3173
@majensen finally done it, I have sent you an email with a short explanation as well. Sorry for the delay.

[2021-08-28 23:17] ojeda-e commented on #3521
Apologies for the delay @patrickfuchs, @richardjgowers
The statement of need is clear and the authors make a valid point on how `buildH` fills a gap in the set of available MD analysis tools given the interesting evolution of GROMACS over the years. Reconstructing missing hydrogen atoms together with their trajectories will be particularly useful to investigate lipids at the molecular level and al

[2021-08-29 03:45] jedbrown commented on #3314
Thanks @smolins. To clarify regarding "substantial scholarly effort", this verbiage exists mainly to screen "small" products that shouldn't be "counted" as paper-like units. JOSS does not have a "novelty" criteria like some journals -- quality software that fills a research need is in-scope even if for each specific problem instance that can be solved with the new software, there is existing softw

[2021-08-29 04:32] smolins commented on #3314
Thanks @jedbrown  for the clarification. I would say then that the paragraph (lines 33-38)

33 In the past, researchers have typically answered such questions using separate models for
34 subsets of the physical processes, or loosely-coupled models solved using multiple software
35 packages. The MOOSE geochemistry module introduced here allows researchers to perform
36 stand-alone geochemical mode

[2021-08-29 07:01] JaroslavHron commented on #3648
Hi - I see you have enough reviewer. If needed I can do the review too.

On 28/08/2021 16:39, Prashant K. Jha wrote:

[2021-08-29 08:06] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel @SimonDanisch I hope you are getting on well. Let me know if you have any questions or need help with any of the final steps.

[2021-08-29 08:14] jkrumbiegel commented on #3349
The problem is that we currently can't edit the zenodo Metadata, as this ability is linked to the account of a former collaborator. I'm still waiting on zenodo's support to transfer ownership.

[2021-08-29 12:19] timtroendle commented on #3313
@whedon set v1.2.1 as version

[2021-08-29 12:19] whedon commented on #3313
OK. v1.2.1 is the version.

[2021-08-29 12:19] timtroendle commented on #3313
@whedon set 10.5281/zenodo.5258122 as archive

[2021-08-29 12:19] whedon commented on #3313
OK. <a href="https://doi.org/10.5281/zenodo.5258122" target="_blank">10.5281/zenodo.5258122</a> is the archive.

[2021-08-29 12:21] timtroendle commented on #3313
@amandadsmith, @thurber , thanks! I will recommend to accept your submission. Many thanks again for your thorough reviews, @samuelduchesne and @fneum!

[2021-08-29 12:22] timtroendle commented on #3313
@whedon recommend-accept

[2021-08-29 12:22] whedon commented on #3313
[code]

[2021-08-29 12:22] whedon commented on #3313
PDF failed to compile for issue #3313 with the following error:
[code]

[2021-08-29 12:24] timtroendle commented on #3313
@whedon recommend-accept from branch joss-paper

[2021-08-29 12:24] whedon commented on #3313
[code]

[2021-08-29 12:24] whedon commented on #3313
[code]

[2021-08-29 12:24] whedon commented on #3313
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2547

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2547, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-29 12:31] timtroendle commented on #3596
@noah80, can you please let us know how your review is going?

[2021-08-29 12:45] TomKellyGenetics commented on #3656
Sorry I've recently started a new job and can't take this on at the moment. Wish the authors all the best with their submission.

[2021-08-29 14:03] xp-song commented on #3609
Thanks for pointing out the dead link, I've amended it in commit [91e1f09](https://github.com/ecological-cities/home2park/commit/91e1f098e2671c2eb3103f96db023da6f9c3bf81). The website also contains more detailed explanations of the package: https://ecological-cities.github.io/home2park/

I'll have a look at testing the installation on other environments and see if it works, perhaps using [conda](h

[2021-08-29 14:11] prashjha commented on #3656
@TomKellyGenetics no worries and thanks for letting me know! Good luck with your new job. :)

[2021-08-29 14:13] prashjha commented on #3648
@JaroslavHron thanks. Since we have 3 reviewers already, it will be better if we wait to get another submission to get your reviews. I appreciate the response. :)

[2021-08-29 14:16] prashjha commented on #3648
Hi @bhajay and @jakryd, we now have three reviewers so please ignore my request.

[2021-08-29 14:16] prashjha commented on #3648
@whedon start review

[2021-08-29 14:16] whedon opened #3668 "[REVIEW]: PDLSM-FEM: Solver of Coupled Peridynamics Least Squares Minimization with Finite Element Method"
**Submitting author:** @QibangLiu  (<a href="http://orcid.org/0000-0001-7935-7907">Qibang Liu</a>)
**Repository:** <a href="https://github.com/QibangLiu/PDLSM-FEM_mpi" target ="_blank">https://github.com/QibangLiu/PDLSM-FEM_mpi</a>
**Version:** v1.0
**Editor:** @prashjha
**Reviewer:** @TLCFEM, @karthikncsu, @Balaje
**Archive:** <a href="https://doi.org/10.5281/zenodo.5784823" target="_blank">10.52

[2021-08-29 14:16] whedon commented on #3648
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3668.

[2021-08-29 14:16] #3648 closed

[2021-08-29 14:16] whedon commented on #3668
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @TLCFEM, @karthikncsu, @Balaje it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2021-08-29 14:16] whedon commented on #3668
Wordcount for `paper.md` is 556

[2021-08-29 14:16] whedon commented on #3668
[code]

[2021-08-29 14:17] whedon commented on #3668
[code]

[2021-08-29 14:17] whedon commented on #3668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03668/joss.03668/10.21105.joss.03668.pdf) :page_facing_up: :point_left:

[2021-08-29 14:24] prashjha commented on #3668
Thank you, @TLCFEM, @karthikncsu, @Balaje for agreeing to be reviewers. Please read the first couple of comments in this thread and also reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the closed "REVIEW" issues on the "joss-reviews" repository to get some ideas on how to complete the reviews. Thanks again and good luck!

[2021-08-29 14:48] jbpoline commented on #3169
Thanks a lot  @danielskatz !

[2021-08-29 15:18] jgostick commented on #3458
Hi @jamesrhester, thanks your efforts with this review!  @hungpham2017, how are you coming along?  I'll send you a reminder email as well in case your github mentions get lots in your inbox like mine do.

[2021-08-29 15:39] jgostick commented on #2976
@whedon generate pdf

[2021-08-29 15:40] whedon commented on #2976
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: :point_left:

[2021-08-29 19:40] Himscipy commented on #3419
@kellyrowland I am done with my review and I wish good luck to the authors for this paper+software and hope that they continue developing the tool further. Please update the paper and I will be happy to take another look if needed. Thank you.

[2021-08-29 19:47] Himscipy commented on #3428
👋🏼  Hi @cwentland0 , Thank you for submitting the paper+ software to JOSS. The developed package will really a nice addition to the scientific community both for research and academic purpose.
I am currently reviewing your code base, one thing which I caught my attention is that "testing" of any sort is missing in the code base. Tests plays a crucial role for any software package and is one of the

[2021-08-29 21:50] omid-s commented on #3543
It's all looking Great @oneilsh :) Thanks for the updates.

[2021-08-30 00:09] McWhity commented on #3337
Thank you for pointing this out.
- Syntax/typographical issues (missing citations, ReadTheDocs compilation) within documentation are resolved
- Documentation is updated to provide more end-user information (see answers to review points on the documentation)
- Information how to run test within [Readme](https://github.com/multiply-org/sar-pre-processing/blob/master/README.md) and [ReadtheDocs docum

[2021-08-30 02:49] bshoshany commented on #3291
@gkthiruvathukal Thank you for the clarifications! I'm happy to know that the submission will not be rejected! :)

I believe I have already rebutted all of the points made by @zeroset and made my case in my previous comment.

There are no issues of reproducibility. The fact that matrix addition does not enjoy much of a speedup due to multithreading compared to matrix multiplication is well-known,

[2021-08-30 06:23] omshinde commented on #3541
# Review checklist for @omshinde
## Conflict of interest
- [ ] I confirm that I have read the JOSS conflict of interest (COI) policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.
## Code of Conduct
- [ ] I confirm that I read and will adhere to the JOSS code of conduct.
## General checks
 - [ ] Repository: Is t

[2021-08-30 06:53] OlgerSiebinga commented on #3607
Hi all,
Sorry for not responding last week, I was on vacation. I'll start working on the issues straight away.

[2021-08-30 07:01] mikldk commented on #3664
@kblin, @bede: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-08-30 09:09] Kevin-Mattheus-Moerman commented on #3349
@openjournals/dev  any advice on this? :point_up:

[2021-08-30 09:23] Kevin-Mattheus-Moerman commented on #3603
@fibreglass2 thanks for this submission. I quickly scanned through your paper as part of the scope review. Some quick comments:

- [ ] Typo: `commerical`
- [ ] Can you work on fixing those missing DOI's :point_up:
- [ ] Can you comment, here and/or in paper, if the current MATLAB libraries are Octave compatible? If so you can call them inefficient perhaps but they could be compatible with an open

[2021-08-30 09:31] whedon commented on #3419
[code]

[2021-08-30 09:31] whedon commented on #3419
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: :point_left:

[2021-08-30 09:32] andr1976 commented on #3585
@fraukewiese, noah80 has not replied I assume, would you consider asking some of the other proposed reviewers?

[2021-08-30 09:34] dionhaefner commented on #3419
I'm done with incorporating all the suggestions. Thanks again for the review @Himscipy!

[2021-08-30 09:53] oliviaguest commented on #3103
@whedon add @stebo85 as reviewer

[2021-08-30 09:53] whedon commented on #3103
OK, @stebo85 is now a reviewer

[2021-08-30 09:53] oliviaguest commented on #3103
@whedon start review

[2021-08-30 09:53] whedon opened #3669 "[REVIEW]: TE-dependent analysis of multi-echo fMRI with *tedana*"
**Submitting author:** @tsalo (<a href="http://orcid.org/0000-0001-9813-3167">Taylor Salo</a>)
**Repository:** <a href="https://github.com/ME-ICA/tedana" target ="_blank">https://github.com/ME-ICA/tedana</a>
**Version:** 0.0.9
**Editor:** @oliviaguest
**Reviewer:** @martinagvilas, @stebo85
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2021-08-30 09:53] whedon commented on #3103
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3669.

[2021-08-30 09:53] #3103 closed

[2021-08-30 09:53] whedon commented on #3669
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @martinagvilas, @stebo85 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-08-30 09:54] whedon commented on #3669
PDF failed to compile for issue #3669 with the following error:
[code]

[2021-08-30 09:54] whedon commented on #3669
[code]

[2021-08-30 09:55] oliviaguest commented on #3103
👋 @martinagvilas, @stebo85 please go to #3669 to start the process of reviewing this paper! 😊

[2021-08-30 10:02] oliviaguest commented on #3669
Hi all! 👋 Thank you so much @martinagvilas and @stebo85 for accepting to review this. Please read the instructions above. Any questions, feedback on the paper, etc., please post here. Any very code-specific questions, suggestions, etc., please use the issues in the code repo and link to them from this thread, so we can all keep track of them. 🌸

For examples of how this process plays out feel free

[2021-08-30 10:32] vissarion commented on #3330
Thanks @arfon and sorry for the late reply, I was offline the last weeks.

[2021-08-30 11:10] whedon opened #3670 "[PRE REVIEW]: GemGIS - Spatial Data Processing for Geomodeling"
**Submitting author:** @AlexanderJuestel (<a href="http://orcid.org/0000-0003-0980-7479">Alexander Jüstel</a>)
**Repository:** <a href="https://github.com/cgre-aachen/gemgis" target ="_blank">https://github.com/cgre-aachen/gemgis</a>
**Version:** v1.0.0
**Editor:** @crvernon
**Reviewers:** @omshinde, @kanishkan91
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due

[2021-08-30 11:10] whedon commented on #3670
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-30 11:11] whedon commented on #3670
Failed to discover a `Statement of need` section in paper

[2021-08-30 11:11] whedon commented on #3670
Wordcount for `paper.md` is 1103

[2021-08-30 11:11] whedon commented on #3670
[code]

[2021-08-30 11:11] whedon commented on #3670
PDF failed to compile for issue #3670 with the following error:
[code]

[2021-08-30 11:12] whedon commented on #3670
[code]

[2021-08-30 11:13] arfon commented on #3670
:wave: @AlexanderJuestel, thanks for your submission to JOSS. It looks like the `paper.md` needs a little work. In particular, every author needs an affiliation, and ORCIDs can't be blank (but you can just remove the line if an author doesn't have one).

You can check the paper compiles after making changes with `@whedon generate pdf`

[2021-08-30 11:19] reality commented on #3557
If a task is not fulfilled completely, should I write the problem here?

1. While the GitHub repository itself does not Apache 2 licence, the repository does not have a LICENSE file in the root.
2. The documentation itself doesn't include a 'statement of need' in the sense that, in its intro, while it mentions it is layout-aware, it doesn't mention particularly that this will aid in knowledge extr

[2021-08-30 11:26] crvernon commented on #3670
@whedon assign me as editor

[2021-08-30 11:26] whedon commented on #3670
OK, the editor is @crvernon

[2021-08-30 11:30] crvernon commented on #3670
:wave: @AlexanderJuestel - I'll be your topic editor for this submission.

The first step in this pre-review will be to see to the comment above about getting the paper in a format that we can compile.
 Next we can find at least 2 reviewers and get the review started. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @).

[2021-08-30 11:33] crvernon commented on #3670
Also, I noticed that `Miguel de la Varga` has made commits to your repository.  Is there a reason that they are not included in the author list?

[2021-08-30 11:52] elbeejay commented on #3541
:wave: @abhishekvp @arbennett @omshinde just checking in here now that we are 5 weeks into the review period. Please let me know if you will be unable to finish your review by September 6th.

As always, ping me with any questions about the JOSS process.

[2021-08-30 11:53] arfon commented on #3349
Is there an archive already in place that we can use here? If so, I propose moving forward with that.

[2021-08-30 11:55] arfon commented on #3330
No worries at all. Hopefully this is a good outcome (finding a second reviewer 😁)

[2021-08-30 12:03] whedon commented on #2971
OK, the editor is @arfon

[2021-08-30 12:05] arfon commented on #2971
@devosmitachatterjee2018 – 👋 apologies this submission has taken so long to move forward. I'm going to help our @galessiorob by taking on this submission for her.

Before I look for a second editor I just wanted to check a couple of things:

- @devosmitachatterjee2018 - are you still interested in pursuing this publication in JOSS?
- @hakanfriden - are you still able to review this submission for

[2021-08-30 12:13] solegalli commented on #3592
Hi @osorensen apologies for the delayed response. I was on holidays until today. I see that you found reviewers already. Thank you so much! I look forward to the feedback.

Regards.

[2021-08-30 12:18] devosmitachatterjee2018 commented on #2971
@arfon

Thanks for the update.
Yes I am very much interested to publish our software in JOSS.

Best regards
Devosmita

[2021-08-30 12:29] omshinde commented on #3541
Hi @elbeejay
Thanks for the reminder. I am on track with the review timeline and would submit it before Sep 6th.

[2021-08-30 12:36] whedon commented on #3617
:wave: @cmaimone, please update us on how your review is going (this is an automated reminder).

[2021-08-30 12:36] whedon commented on #3617
:wave: @step21, please update us on how your review is going (this is an automated reminder).

[2021-08-30 12:37] VivianePons commented on #3416
@whedon check references

[2021-08-30 12:37] VivianePons commented on #3416
@whedon check references from branch paper

[2021-08-30 12:37] whedon commented on #3416
[code]

[2021-08-30 12:37] whedon commented on #3416
[code]

[2021-08-30 12:43] solegalli commented on #3592
@whedon generate pdf from branch paper

[2021-08-30 12:43] whedon commented on #3592
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03592/joss.03592/10.21105.joss.03592.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03592/joss.03592/10.21105.joss.03592.pdf) :page_facing_up: :point_left:

[2021-08-30 12:44] solegalli commented on #3592
Done! thank you for the patience.

[2021-08-30 12:50] VivianePons commented on #3416
@bshoshany thanks! Can you make a tagged release of the paper / software (on Zenodo, figshare, or other) and send me the DOI? Be careful to use the same metadata (title, author) as for the paper itself

[2021-08-30 12:53] bshoshany commented on #3416
@VivianePons I'm not sure I understand, doesn't JOSS generate its own DOI for the paper? The paper proof shows `10.21105/joss.03416` as the DOI.

[2021-08-30 12:59] VivianePons commented on #3416
JOSS does but I need a tagged release of the software

[2021-08-30 13:00] Kevin-Mattheus-Moerman commented on #3349
@jkrumbiegel see Arfon's comment, can you share the current archive DOI? :point_up: we may be able to move ahead with that for now.

[2021-08-30 13:01] bshoshany commented on #3416
I see, no problem. The software already has a DOI from Zenodo: [doi:10.5281/zenodo.4742935](https://doi.org/10.5281/zenodo.4742935)

Is that okay, or do I need to create a separate one with the same title as the paper?

[2021-08-30 13:19] whedon commented on #3618
:wave: @TomGoffrey, please update us on how your review is going (this is an automated reminder).

[2021-08-30 13:19] whedon commented on #3618
:wave: @tclune, please update us on how your review is going (this is an automated reminder).

[2021-08-30 13:21] adi3 commented on #3320
@hayesall thank you for stepping up!

[2021-08-30 13:22] VivianePons commented on #3416
I see that this one is from August 8, has there been no change since then?

In any case, I need the same title indeed. I believe you can change it without making a new one

[2021-08-30 13:22] adi3 commented on #3320
@whedon add @hayesall as reviewer

[2021-08-30 13:22] whedon commented on #3320
OK, @hayesall is now a reviewer

[2021-08-30 13:23] adi3 commented on #3320
@whedon start review

[2021-08-30 13:23] whedon opened #3671 "[REVIEW]: AdaptiveResonance.jl: A Julia implementation of Adaptive Resonance Theory (ART) algorithms"
**Submitting author:** @AP6YC (<a href="http://orcid.org/0000-0003-2442-8901">Sasha Petrenko</a>)
**Repository:** <a href="https://github.com/AP6YC/AdaptiveResonance.jl" target ="_blank">https://github.com/AP6YC/AdaptiveResonance.jl</a>
**Version:** 0.2.2
**Editor:** @adi3
**Reviewer:** @aaronpeikert, @hayesall
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2021-08-30 13:23] whedon commented on #3320
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3671.

[2021-08-30 13:23] #3320 closed

[2021-08-30 13:23] whedon commented on #3671
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aaronpeikert, @hayesall it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-08-30 13:23] whedon commented on #3671
[code]

[2021-08-30 13:23] whedon commented on #3671
[code]

[2021-08-30 13:23] whedon commented on #3671
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03671/joss.03671/10.21105.joss.03671.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03671/joss.03671/10.21105.joss.03671.pdf) :page_facing_up: :point_left:

[2021-08-30 13:24] rkurchin commented on #3545
Hi @janfb, just checking in again on this!

[2021-08-30 13:25] osorensen commented on #3642
@whedon generate pdf from branch paper

[2021-08-30 13:25] whedon commented on #3642
[code]

[2021-08-30 13:26] whedon commented on #3642
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03642/joss.03642/10.21105.joss.03642.pdf) :page_facing_up: :point_left:

[2021-08-30 13:26] osorensen commented on #3592
Thanks @solegalli. I recompiled the paper over in #3642 .

[2021-08-30 13:26] rkurchin commented on #3546
Hi all, I see some issues have been closed. @cmbiwer and @mikapfl, are those resolved to your satisfaction? Don't forget to progress through the reviewer checklists!

@fgjorup, there's at least one issue still open as of now.

[2021-08-30 13:26] adi3 commented on #3587
@TimKam @DanielMyshkin @paragkulkarni11 @dvysardana @kakirastern - Would any of you be interested in reviewing this paper? We'd greatly appreciate your help!

[2021-08-30 13:28] bshoshany commented on #3416
The latest version of OGRe is indeed v1.6 from 2021-08-07. I did change `paper.md` a few days ago due to @kostunin's comments, but that's not reflected in Zenodo since it only refers to the software and not the paper.

I changed the title now. Please let me know if you also need the paper to be included in the tagged release, or if just the software is enough.

[2021-08-30 13:30] ArneTillmann commented on #3663
Hi @danielskatz and @galessiorob,
our suggenstions for potential reviewers are:
linuxscout
sara-02
trallard
aozorahime
Please let us know and we are happy to suggest further potential reviewers.
Thank you very much

[2021-08-30 13:31] ArneTillmann commented on #3663
@danielskatz
regarding the DOIs I will take out the flagged once. I couldn't find any other.

[2021-08-30 13:32] VivianePons commented on #3416
That's perfect, thanks!

[2021-08-30 13:33] VivianePons commented on #3416
@whedon set 10.5281/zenodo.5168868 as archive

[2021-08-30 13:33] whedon commented on #3416
OK. <a href="https://doi.org/10.5281/zenodo.5168868" target="_blank">10.5281/zenodo.5168868</a> is the archive.

[2021-08-30 13:33] VivianePons commented on #3416
@whedon set v1.6 as version

[2021-08-30 13:33] whedon commented on #3416
OK. v1.6 is the version.

[2021-08-30 13:35] VivianePons commented on #3416
Hi @kostunin you forgot to check the "Performance" box. The box needs to be checked even if there is no performance claim.

[2021-08-30 14:03] aguspesce opened #3672 "Thanks for this submission. While I locate reviewers, could I ask that you update the project documentation to avoid the many places where developer paths are hard-coded (and thus won't work for users). I think most of these can be removed rather than "fixed", and the documentation can state how to run the code without these scripts. (You could audit these steps in a container or a third-party computer to ensure the instructions make sense and actually work.)"
Thanks for this submission. While I locate reviewers, could I ask that you update the project documentation to avoid the many places where developer paths are hard-coded (and thus won't work for users). I think most of these can be removed rather than "fixed", and the documentation can state how to run the code without these scripts. (You could audit these steps in a container or a third-party com

[2021-08-30 14:03] whedon commented on #3672
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-30 14:03] #3672 closed

[2021-08-30 14:05] tclune commented on #3618
I hope to start this afternoon.

[2021-08-30 14:05] danielskatz commented on #3645
@jlylekim - do you have any other suggestions for reviewers?  (they don't have to be from our list, as long as they are knowledgable and not conflicted)

[2021-08-30 14:06] jgostick commented on #3325
@whendon check repository

[2021-08-30 14:07] matthewfeickert commented on #3645
Hi @jlylekim. Before the review gets started please read through the [JOSS Review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html). At the moment there are parts of your submission that don't address requirements there, so it will help speed up the review if you can address them ahead of time.

You're also vendoring ROOT's `TUnfold` in [`TUnfoldV17.cxx`](https://github.com/jly

[2021-08-30 14:09] danielskatz commented on #3143
👋 @williamfgc - can you check and see if the changes from @nkallima satisfy you, and if you can check off the remaining items in your review? And if not, please let us know what else you think is needed.

[2021-08-30 14:12] jgostick commented on #3325
@whedon check repository

[2021-08-30 14:12] danielskatz commented on #3645
@matthewfeickert - I took 2900 LOC of C++ to be a substantial contribution, and extending an existing package is not a problem.  But now I see that what you are saying is that the contribution is actually just 150 LOC. Is this correct?

[2021-08-30 14:13] whedon commented on #3325
Wordcount for `paper.md` is 1258

[2021-08-30 14:13] whedon commented on #3325
[code]

[2021-08-30 14:14] jgostick commented on #3287
@whedon check repository

[2021-08-30 14:14] whedon commented on #3287
Wordcount for `paper.md` is 1258

[2021-08-30 14:14] whedon commented on #3287
[code]

[2021-08-30 14:14] kostunin commented on #3416
done

[2021-08-30 14:22] matthewfeickert commented on #3645
Yes. As far as I can tell from visual inspection and the code comments, the contribution that differs from `TUnfold` `v17.8` (`TUnfold` is distributed on Stefan Schmitt's website https://www.desy.de/~sschmitt/tunfold.html and we normally see it vendored in ROOT) are [these 171 lines](https://github.com/jlylekim/UndersmoothedUnfolding/blob/349d4d95363eaea2cabd377576caa1a82b036a38/TUnfoldV17.cxx#-L3

[2021-08-30 14:22] sbenthall commented on #3557
Thanks for this review, @reality !

[2021-08-30 14:23] danielskatz commented on #3645
👋 @jlylekim - please confirm that this is correct

[2021-08-30 14:33] landreman commented on #3525
Hi @ZedThree, just wanted to check in to see if you had further comments.

[2021-08-30 14:37] cwentland0 commented on #3428
@Himscipy thank you for taking the time to review the code. You're right, I haven't implemented anything in the way of rigorous unit or regression tests, I've only provided a few pre-set cases to ensure base functionality of the solver and few ROMs. I'll get to work on a better testing framework.

[2021-08-30 14:44] BenMql commented on #2978
:wave: all,

I believe I have addressed all the remaining issues, which I summarize here:

+ both @rhaas80 and @robertsawko mentioned the lack of quantitative tests (e.g. [here](https://github.com/BenMql/coral/issues/20)). I have now gathered all the tests in a dedicated wiki page [here](./validation). For each benchmark, users are provided with a python routine so that the computation of global q

[2021-08-30 15:06] dgketchum commented on #3418
I'm ready to complete the checklist but it is not editable, and the link to the invitation is dead. @pdebuyl, advice?

[2021-08-30 15:06] danielskatz commented on #2978
@robertsawko & @rhaas80 - please take a look at @BenMql's changes, and see if you can check off any remaining items. If not, please state what additional work you think is needed

[2021-08-30 15:07] danielskatz commented on #3418
@whedon re-invite @dgketchum as reviewer