[2018-06-17 20:01] cMadan commented on #600
@thewtex, okay, thanks for letting us know.

@plooney, is this okay with you, or do you have any alternate suggestions for potential reviewers?

[2018-06-17 21:12] dmdu commented on #781
Tried installing the package and ran into errors. I've opened an issues at: https://github.com/dflemin3/approxposterior/issues/21

[2018-06-17 21:15] labarba commented on #761
@drvinceknight In several places (repo, docs), you have a note like "to do sophisticated equilibria computation you should use gambit" — could you explain how this software, which you say computes equilibria in 2-player games only, would be useful in a research scenario?

[2018-06-18 03:45] drvinceknight commented on #761
I actually was hesitating in my choice for this one: I'll happily resubmit this over to JOSE :)

[2018-06-18 07:28] lfasnacht commented on #651
@whedon 10.5281/zenodo.1291734 as archive

[2018-06-18 07:29] lfasnacht commented on #651
@whedon set 10.5281/zenodo.1291734 as archive

[2018-06-18 07:29] whedon commented on #651
I'm sorry @lfasnacht, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-06-18 07:30] lfasnacht commented on #651
@arfon It seems that you have to do that ;-) Thanks a lot!

[2018-06-18 07:39] prasunanand commented on #753
Sorry for reviewing late. I am reviewing it today.

@dgasmith : I would suggest to add the link to './github/Contributing.md' in '/ReadMe.md' .

You also need to edit the [Contributing.md](https://github.com/dgasmith/opt_einsum/blob/master/.github/CONTRIBUTING.md). For example, in 1st paragraph `project_name` should be replaced with `opt_einsum` .

[2018-06-18 08:03] nespinoza commented on #487
Dear @j-faria,

 Thank you very much for considering the points made in the review. I have gone through all of them, including running the 51 Peg example, and everything runs smoothly!

 I have no more comments to give; I think the software is in its final form in terms of a JOSS publication and, @arfon, @j-faria, I'm happy to recommend `kima` for publication once (1) the final PDF is generated, (

[2018-06-18 08:11] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-18 08:11] whedon commented on #698
[code]

[2018-06-18 08:12] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-18 08:18] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-18 08:18] whedon commented on #698
[code]

[2018-06-18 08:18] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-18 08:19] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-18 08:19] whedon commented on #698
[code]

[2018-06-18 08:19] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-18 08:20] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-18 08:20] whedon commented on #698
[code]

[2018-06-18 08:20] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-18 09:13] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-18 09:13] whedon commented on #698
[code]

[2018-06-18 09:14] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-18 09:15] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-18 09:15] whedon commented on #698
[code]

[2018-06-18 09:16] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-18 09:50] j-faria commented on #487
@whedon generate pdf

[2018-06-18 09:50] whedon commented on #487
[code]

[2018-06-18 09:50] whedon commented on #487
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00487/joss.00487/10.21105.joss.00487.pdf)

[2018-06-18 09:57] j-faria commented on #487
Thank you, @nespinoza!
The PDF is now generated (everything looks good I think). I will wait for instructions from @arfon on what to do next. And in the meantime I will add a description of the output files to the docs, I can probably do it before finishing the release.

[2018-06-18 09:58] bryan-brancotte commented on #698
@whedon generate pdf

[2018-06-18 09:58] whedon commented on #698
[code]

[2018-06-18 09:59] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-18 11:09] robwschlegel commented on #768
Hello,
For some reason this e-mail only came through to my inbox now.
There were a couple of issues with the original manuscript that I have
attended to. The manuscript on the JOSS site therefore needs to be
re-compiled.
All the best,
-Robert

On 10 June 2018 at 14:37, whedon <notifications@github.com> wrote:

--
Robert W Schlegel, PhD

University of the Western Cape
Biodiversity and Conservation

[2018-06-18 11:48] arfon commented on #651
@whedon set 10.5281/zenodo.1291734 as archive

[2018-06-18 11:48] whedon commented on #651
OK. <a href="http://dx.doi.org/10.5281/zenodo.1291734" target="_blank">10.5281/zenodo.1291734</a> is the archive.

[2018-06-18 11:51] arfon commented on #651
@glemaitre, @clemaitre58 - many thanks for your reviews here ✨

@lfasnacht - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00651 :zap: :rocket: :boom:

[2018-06-18 11:51] #651 closed

[2018-06-18 11:51] whedon commented on #651
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00651/status.svg)](https://doi.org/10.21105/joss.00651)

**We need your help!**

Journal of Open Source Software

[2018-06-18 11:53] arfon commented on #487
@j-faria - please make the new release and then create an archive of this release with Zenodo or figshare. Once you have done this, please let me know what the DOI of this archive is here.

[2018-06-18 12:04] labarba commented on #761
👍  I do think you should include a couple of worked-out examples, in that case. For JOSE, one thing we want is to make it easier for someone else to adopt the software/materials, or for someone to use them for self-learning. Worked examples are important for that.

[2018-06-18 12:40] leeper commented on #768
@whedon generate pdf

[2018-06-18 12:40] whedon commented on #768
[code]

[2018-06-18 12:41] whedon commented on #768
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00768/joss.00768/10.21105.joss.00768.pdf)

[2018-06-18 12:46] robwschlegel commented on #768
Great!
Thank you,
-Robert

On 18 June 2018 at 14:41, whedon <notifications@github.com> wrote:

--
Robert W Schlegel, PhD

University of the Western Cape
Biodiversity and Conservation Biology
Cell: 082 813 7113

[2018-06-18 13:13] lfasnacht commented on #651
Dear all,

Thank you very much for your awesome work. I will definitely recommend submitting to JOSS to my colleagues, and will also consider submitting more of my work.

Kind regards,
Laurent

[2018-06-18 13:16] dgasmith commented on #753
@prasunanand Great, thanks for the feedback. Patched up.

[2018-06-18 13:37] drvinceknight commented on #761
Yup of course, I'm at a conference at the moment but will reshape the paper for JOSE. In terms of worked examples, do you mean in `paper.md`? The library [documentation](http://nashpy.readthedocs.io/en/stable/) has quite an extensive set of examples.

A thought: I've actually used Nashpy for a game theory course which uses software in a lot of other ways as well that I was thinking as writing up a

[2018-06-18 14:34] vyasr commented on #757
:) Thanks for that.

Regarding the usage, the primary usage of the package has to do with analyzing molecular dynamics or Monte Carlo trajectories of systems of anisotropic particles. We run simulations using [HOOMD-blue](http://hoomd-blue.readthedocs.io/en/stable/), which supports simulating particles like convex polyhedra. For example, if you're trying to understand how the hard sphere equation

[2018-06-18 14:42] ngoldbaum commented on #770
@kyleniemeyer ping? What are the next steps here?

[2018-06-18 14:44] MarionLegrandLogrami commented on #756
Thanks for the list of potential reviewers. I suggest : amoeba, pboesu, jhollist, steffilazerte and ben-williams.
Thanks a lot

[2018-06-18 16:16] arfon commented on #756
:wave: @steffilazerte @ben-williams - would you be willing to review this submission for JOSS?

[2018-06-18 17:56] rcurtin commented on #726
I've posted the library to Zenodo: https://zenodo.org/record/1292120.  Let me know if anything is needed from the mlpack end.  Thank you so much!

[2018-06-18 18:37] steffilazerte commented on #756
Sure!

[2018-06-18 18:41] Kevin-Mattheus-Moerman commented on #726
@arfon we are good to accept here

[2018-06-18 18:47] hmenager commented on #698
@whedon generate pdf

[2018-06-18 18:47] whedon commented on #698
[code]

[2018-06-18 18:47] whedon commented on #698
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00698/joss.00698/10.21105.joss.00698.pdf)

[2018-06-18 18:49] Kevin-Mattheus-Moerman commented on #540
@whedon assign @tshu as reviewer

[2018-06-18 18:50] Kevin-Mattheus-Moerman commented on #540
@whedon start review magic-word=bananas

[2018-06-18 18:50] whedon opened #782 "[REVIEW]: py-opc: operate the Alphasense OPC-N2 from a raspberry pi or other popular microcontrollers/microcomputers"
**Submitting author:** @dhhagan (<a href="http://orcid.org/0000-0001-5111-4671">David Henry Hagan</a>)
**Repository:** <a href="https://github.com/dhhagan/py-opc" target ="_blank">https://github.com/dhhagan/py-opc</a>
**Version:** 1.4.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @tshu
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/049f6d3dab9391e8353484028148dd0d/s

[2018-06-18 18:50] whedon commented on #540
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/782. Feel free to close this issue now!

[2018-06-18 18:50] whedon commented on #782
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @tshu it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently w

[2018-06-18 18:50] whedon commented on #782
[code]

[2018-06-18 18:50] #540 closed

[2018-06-18 18:50] whedon commented on #782
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00782/joss.00782/10.21105.joss.00782.pdf)

[2018-06-18 18:55] hmenager commented on #698
Hello @pjotrp and @alexgarciac, we have now finished revising the paper, based on the suggestions you made @alexgarciac. Thank you so much for all your comments, I hope the new version of the manuscript adresses all of them.
Please let us know if there are still some outstanding issues with the submission.

[2018-06-18 19:04] arfon commented on #726
@whedon set 10.5281/zenodo.1292120 as archive

[2018-06-18 19:04] whedon commented on #726
OK. <a href="http://dx.doi.org/10.5281/zenodo.1292120" target="_blank">10.5281/zenodo.1292120</a> is the archive.

[2018-06-18 19:06] arfon commented on #726
@rasbt, @MikeInnes, @mlgill - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@rcurtin - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00726 :zap: :rocket: :boom:

[2018-06-18 19:06] #726 closed

[2018-06-18 19:06] whedon commented on #726
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00726/status.svg)](https://doi.org/10.21105/joss.00726)

**We need your help!**

Journal of Open Source Software

[2018-06-18 19:18] Kevin-Mattheus-Moerman commented on #782
@dhhagan this is where the review takes place. My colleague @tshu has the device and will start review shortly.

[2018-06-18 19:34] kyleniemeyer commented on #770
@ngoldbaum hey, sorry for the delay—just busy-ness on my end. Can you recommend one or two people to review, that would bring some domain expertise? I will also select one from a more broad background.

[2018-06-18 19:40] ngoldbaum commented on #770
How about Stuart Mumford (has experience with yt.units and astropy.units, is on the reviewer list for JOSS), Marten van Kerkwijk (astropy and numpy developer, helps maintain astropy's Quantity class) or Trevor Bekolay (reviewed unit packages in Python at SciPy 2013).

[2018-06-18 21:16] labarba commented on #757
I reached out over the weekend to three people on the robotics side, asking for a review. But the above helps: you may add a paragraph into the paper describing this usage.

[2018-06-18 23:35] Schuch666 commented on #662
news: [![Coverage Status](https://img.shields.io/codecov/c/github/atmoschem/EmissV/master.svg)](https://codecov.io/github/atmoschem/EmissV?branch=master)

Automated tests added to the package

[2018-06-18 23:37] lassoan commented on #600
The two solutions are so similar, it's fascinating that we ended up implementing all this so similarly.

Finding a suitable repository name and making sure the library can be built on all platforms would be important. Let me know what are the items in the mandatory list that you may not have time to implement and I'll try to help.

What is your plan in term of maintenance, support, developments in

[2018-06-19 01:52] serine commented on #583
@pjotrp yes, conda installable. I just wrote [quick_install.bash](https://github.com/MonashBioinformaticsPlatform/RNAsik-pipe/blob/master/scripts/quick_install.bash) script that obviously does quick install, but I'm also using it with my travisCI testing.

As you can see from [quick start section](https://monashbioinformaticsplatform.github.io/RNAsik-pipe/docs/#quick-start) in the docs that you ca

[2018-06-19 01:56] serine commented on #583
Forgot to mention new feature in `RNAsik` is ```-fqDir http://bioinformatics.erc.monash.edu/home/kirill/sikTestData/rawData/fqFiles.txt```

where `-fqDir` can either take a list with files or directory. If text file is given, files expected to be one per line and if directory is give it will get traversed recursively looking for fastq files

the content of `fqFiles.txt` is

[code]

`RNAsik` will h

[2018-06-19 07:37] loftytopping commented on #755
Hi @lheagy Im on holiday from next Sunday and then back in work, following a conference, 11th July. Im just going through open papers and editorial jobs Im involved in to just let everyone know so there was no unsuspecting silence from me. Thnx, Dave.

[2018-06-19 08:08] highendcompute commented on #755
Hi all, should say I'm just between vacation and heading to ISC conference but aiming to use "hotel time" to initiate/complete the review. Apologies for delay. Yours, M

[2018-06-19 13:20] whedon opened #783 "[PRE REVIEW]: ukpopulation: UK Demographic Projections"
**Submitting author:** @virgesmith (<a href="http://orcid.org/0000-0002-9951-6642">Andrew Smith</a>)
**Repository:** <a href="https://github.com/nismod/ukpopulation" target ="_blank">https://github.com/nismod/ukpopulation</a>
**Version:** 1.0.1
**Editor:** @leeper
**Reviewers:** @soodoku

**Author instructions**

Thanks for submitting your paper to JOSS @virgesmith. The JOSS editor (shown at the t

[2018-06-19 13:20] whedon commented on #783
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-19 13:20] whedon commented on #783
[code]

[2018-06-19 13:20] whedon opened #784 "[PRE REVIEW]: iml: An R package for Interpretable Machine Learning"
**Submitting author:** @christophM (<a href="http://orcid.org/0000-0003-2331-868X">Christoph Molnar</a>)
**Repository:** <a href="https://github.com/christophM/iml" target ="_blank">https://github.com/christophM/iml</a>
**Version:** v0.5.2
**Editor:** @leeper
**Reviewers:** @nhejazi

**Author instructions**

Thanks for submitting your paper to JOSS @christophM. The JOSS editor (shown at the top of

[2018-06-19 13:20] whedon commented on #784
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-19 13:20] whedon commented on #784
[code]

[2018-06-19 13:20] arfon commented on #784
:wave: @leeper, the submitting author suggested you as the handling editor.

[2018-06-19 13:21] whedon commented on #783
PDF failed to compile for issue #783 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    208      0 --:--:-- --:--:-- --:--:--   210
sh: 0: getcwd() fa

[2018-06-19 13:21] whedon commented on #784
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00784/joss.00784/10.21105.joss.00784.pdf)

[2018-06-19 14:17] gavinsimpson commented on #161
FYI; I'm available next week to pick up the review again if you decide to proceed, but after that I am away for a month and unlikely to have time to do a review for 5-6 weeks from now because of conferences/vacation & work commitments when I get back.

[2018-06-19 14:57] leeper commented on #784
@thomasp85 would you be willing to review this for JOSS?

[2018-06-19 15:19] Kevin-Mattheus-Moerman commented on #782
Hi @dhhagan your references field in the paper appears empty. Can you check this out? If you make changes to the paper and want to re-generate the pdf here you can also use:
`@whedon generate pdf`
Let me know if you have questions.

[2018-06-19 15:28] kaneplusplus commented on #220
@arfon it was not. The RESTful API was made unavailable by CloudFlare and the package was re-written as the bittrex package, which was accepted.

The code is available but not complete. If someone else want to take it, I would support that. However, I think we can remove this submission to ROpenSci.

Does this sound reasonable?

[2018-06-19 15:44] vyasr commented on #757
Sounds good, I will make those edits and push out a new version.

[2018-06-19 16:38] jcmgray commented on #777
:wave: hi all. From my perspective earlier than late July would of course be nice, however I'm also very grateful for any review so no problem if this isn't possible!

[2018-06-19 16:58] arfon commented on #220
Sorry, so just to clarify - withdraw this submission _to JOSS_ here?

[2018-06-19 17:43] lebebr01 commented on #739
@leeper I took a look again and LGTM.

@ellessenne thank you for the comments and further clarification of the documentation.

[2018-06-19 17:46] thomasp85 commented on #784
Yes - but I have to be honest about my calendar and say that it will happen earliest in august... If that doesn't work then you'll have to ping someone else 🙂

[2018-06-19 18:38] dmdu commented on #781
I've also noticed that the link in the review checklist at: "Repository: Is the source code for this software available at the repository <url>" is broken. Perhaps, whedon should fix it, but I'm not sure how to request this change.

[2018-06-19 19:09] arfon commented on #781
Thanks for spotting this. I've fixed up the URL.

[2018-06-19 22:14] j-faria commented on #487
Hi @arfon, here's the DOI from figshare: [10.6084/m9.figshare.6615350](https://doi.org/10.6084/m9.figshare.6615350)

[2018-06-19 22:57] karthik commented on #161
@nhejazi @arfon Sorry, I was on travel + vacation these past 3 weeks and didn't have a chance to follow up on editorial duties.  I don't believe there is a need to restart a new submission. @gavinsimpson If you're able to pick up this thread again, please proceed and we'd be grateful if you could complete this before you're away. 🙏

[2018-06-19 22:58] karthik commented on #678
@arfon Yes, definitely. I communicated with Russel before I left for my trip and am just returning to editorial duties. Will finish this up asap.

[2018-06-19 22:59] karthik commented on #678
@ryneches So sorry for the delay. This is good to go and thanks for your patience!
🙏

Now, can you deposit the software on Zenodo and post a DOI here so we can complete the final steps towards acceptance?

[2018-06-19 23:08] karthik commented on #762
Thanks @flor14 I appreciate your patience and please expect a reviewer shortly.

[2018-06-19 23:10] karthik commented on #762
@kylehamilton Tagging you here following my email request. Would you be able to review this Shiny app?

[2018-06-19 23:14] karthik commented on #668
@lebebr01 Just returning from vacation. I'm happy to accept (assuming @lmullen is not waiting on anything else for the final checks). Please archive your software on Zenodo and post the DOI here  so we can proceed with next steps. 🙏

[2018-06-19 23:15] lmullen commented on #668
Good by me.

On Tue, Jun 19, 2018 at 7:14 PM Karthik Ram <notifications@github.com>
wrote:

--
Lincoln Mullen
Assistant Professor, Department of History & Art History
George Mason University

[2018-06-19 23:27] kylehamilton commented on #762
@karthik Yes, I am available and can review this Shiny app.

[2018-06-19 23:30] karthik commented on #762
@whedon assign @kylehamilton as reviewer

[2018-06-19 23:30] whedon commented on #762
OK, the reviewer is @kylehamilton

[2018-06-19 23:31] karthik commented on #762
@whedon start review magic-word=bananas

[2018-06-19 23:31] whedon opened #785 "[REVIEW]: ShinySSD: Species Sensitivity Distributions for Ecotoxicological Risk Assessment"
**Submitting author:** @flor14 (<a href="http://orcid.org/0000-0002-0041-097X">María Florencia D&#39;Andrea</a>)
**Repository:** <a href="https://github.com/flor14/paper" target ="_blank">https://github.com/flor14/paper</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewer:** @kylehamilton
**Archive:** <a href="https://doi.org/10.5281/zenodo.3233033" target="_blank">10.5281/zenodo.3233033</a>

#

[2018-06-19 23:31] whedon commented on #762
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/785. Feel free to close this issue now!

[2018-06-19 23:31] whedon commented on #785
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kylehamilton it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-06-19 23:31] whedon commented on #785
[code]

[2018-06-19 23:31] whedon commented on #785
PDF failed to compile for issue #785 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f/lib/whedon/author.rb:36:in `block in build_affiliation_string': Problem with affiliations for María Florencia D’Andrea, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f/lib/whedon/author.rb:35

[2018-06-19 23:33] arfon commented on #487
@whedon set 10.6084/m9.figshare.6615350 as archive

[2018-06-19 23:33] whedon commented on #487
OK. <a href="http://dx.doi.org/10.6084/m9.figshare.6615350" target="_blank">10.6084/m9.figshare.6615350</a> is the archive.

[2018-06-19 23:40] arfon commented on #487
@nespinoza & @barentsen - many thanks for your reviews here ✨

@j-faria - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00487 :zap: :rocket: :boom:

[2018-06-19 23:40] #487 closed

[2018-06-19 23:40] whedon commented on #487
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00487/status.svg)](https://doi.org/10.21105/joss.00487)

**We need your help!**

Journal of Open Source Software

[2018-06-20 00:57] vsoch commented on #775
hey @whedon @arfon what are next steps? Please let me know what I can do to help.

[2018-06-20 01:47] arfon commented on #775
@vsoch - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-06-20 02:11] jrosen48 commented on #754
Hi @leeper, I think @strengejacke did a great job of addressing the issues you raised.

1. I think the paragraph with a statement of need added to the README is strong (particularly this: "Packages for data preparation have been released recently as part of the tidyverse, focussing on the transformation of data sets. Packages with special focus on transformation of variables, which fit into the wo

[2018-06-20 02:18] dhhagan commented on #782
@Kevin-Mattheus-Moerman Interesting - I thought they were supposed to be somehow pulled from the bib file? I tried copying over from some accepted repositories; is there an easy way to pull them in this way?

[2018-06-20 02:57] vsoch commented on #775
All set! Here is the DOI: https://zenodo.org/account/settings/github/repository/vsoch/helpme#

I had created the tagged release 2 days ago, but in the wrong order so it didn't trigger anything on Zenodo (this I had completely forgotten about!) I re-created the release and now the two are synced up. Thanks for the heads up @arfon !

[2018-06-20 07:02] strengejacke commented on #754
At this point I'd really like to thank the editors and reviewers for their work so far. The process of paper submission and review raised awareness of the fact that a GitHub-repo is not just only a "cloud-backup", but also a place where users inform themselves about software and its intention and need. I think changing the perspective from the repo-owner to a "visitor" - and that's what's necessar

[2018-06-20 07:38] leeper commented on #754
@jrosen48 Thank you! It sounds like we're both satisfied then.

@strengejacke Please issue a release of the package and obtain a DOI for the release from, for example, figshare or zenodo and post that DOI here when you have it.

[2018-06-20 07:40] leeper commented on #739
Thank you, @lebebr01!

@ellessenne Please create a release of the package and issue a DOI for it using, for example, figshare or zenodo, and let me know the DOI once you have it.

[2018-06-20 07:40] strengejacke commented on #754
The current version (2.7.2) is already registered at zenodo: http://doi.org/10.5281/zenodo.1249192
The doi referring to the latest version on zenodo is 10.5281/zenodo.1249191.

[2018-06-20 07:57] leeper commented on #754
You should be able to get a DOI for a new release. We want the one for the final version as accepted by JOSS.

[2018-06-20 08:08] strengejacke commented on #754
Ok, here it is: 10.5281/zenodo.1293370

[2018-06-20 08:09] leeper commented on #754
@whedon set 10.5281/zenodo.1293370 as archive

[2018-06-20 08:09] whedon commented on #754
OK. <a href="http://dx.doi.org/10.5281/zenodo.1293370" target="_blank">10.5281/zenodo.1293370</a> is the archive.

[2018-06-20 08:09] leeper commented on #754
@arfon over to you

[2018-06-20 10:03] ellessenne commented on #739
Thank you @lebebr01 for the review!

@leeper I just archived the current version of `rsimsum` using Zenodo and the corresponding DOI is: [10.5281/zenodo.1293527](http://doi.org/10.5281/zenodo.1293527)!

[2018-06-20 10:53] arfon commented on #782
@dhhagan - you need to cite them directly for them to be included in the compilation. (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2018-06-20 10:54] arfon commented on #775
Hi @vsoch - this URL looks to link to your account page. Could you share the DOI?

[2018-06-20 10:58] arfon commented on #754
@jrosen48, @methodds - many thanks for your reviews here and to @leeper for editing this submission ✨

@strengejacke - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00754 :zap: :rocket: :boom:

[2018-06-20 10:58] #754 closed

[2018-06-20 10:58] whedon commented on #754
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00754/status.svg)](https://doi.org/10.21105/joss.00754)

**We need your help!**

Journal of Open Source Software

[2018-06-20 11:01] strengejacke commented on #754
Thanks a lot to all! btw, I signed up as potential reviewer already some time ago, I really like the idea of this journal. Especially thanks to @leeper - my impression is, that he's the only editor for social sciences and R and has to edit quite some submissions here. Great work!

[2018-06-20 11:01] vsoch commented on #775
Third time is the charm! https://doi.org/10.5281/zenodo.1293062

[2018-06-20 11:07] arfon commented on #775
@whedon set 10.5281/zenodo.1293062 as archive

[2018-06-20 11:08] whedon commented on #775
OK. <a href="http://dx.doi.org/10.5281/zenodo.1293062" target="_blank">10.5281/zenodo.1293062</a> is the archive.

[2018-06-20 11:09] leeper commented on #739
@whedon set 10.5281/zenodo.1293527 as archive

[2018-06-20 11:09] whedon commented on #739
OK. <a href="http://dx.doi.org/10.5281/zenodo.1293527" target="_blank">10.5281/zenodo.1293527</a> is the archive.

[2018-06-20 11:09] leeper commented on #739
@arfon Over to you.

[2018-06-20 11:10] arfon commented on #775
@iljah, @rougier - many thanks for your reviews here ✨

@vsoch - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00775 ⚡️:rocket: :boom:

[2018-06-20 11:10] #775 closed

[2018-06-20 11:10] whedon commented on #775
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00775/status.svg)](https://doi.org/10.21105/joss.00775)

**We need your help!**

Journal of Open Source Software

[2018-06-20 11:15] arfon commented on #739
@lebebr01 - many thanks for your review and to @leeper for editing this submission ✨

@ellessenne - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00739 :zap: :rocket: :boom:

[2018-06-20 11:15] #739 closed

[2018-06-20 11:15] whedon commented on #739
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00739/status.svg)](https://doi.org/10.21105/joss.00739)

**We need your help!**

Journal of Open Source Software

[2018-06-20 11:19] leeper commented on #784
@thomasp85 Okay, I'll see if I can find someone before then. If not, I may come back to you. Thanks!

[2018-06-20 11:19] leeper commented on #784
@nhejazi Are you willing to review this for JOSS?

[2018-06-20 11:20] vsoch commented on #775
Woohoo, robot party! Thanks @whedon @arfon @iljah and @rougier !

[2018-06-20 12:18] edoddridge commented on #592
Thanks you all!

[2018-06-20 12:37] pdebuyl commented on #757
Hi @labarba I am on the list of JOSS reviewers, do Molecular Dynamics simulations and have written a library https://github.com/pdebuyl/fortran_quaternion
I propose to review the paper/code.

[2018-06-20 12:40] labarba commented on #757
Thanks for volunteering to review, @pdebuyl!

[2018-06-20 12:41] labarba commented on #757
@whedon assign @pdebuyl as reviewer

[2018-06-20 12:41] whedon commented on #757
OK, the reviewer is @pdebuyl

[2018-06-20 12:43] labarba commented on #757
I've had one review request declined and two other unanswered. I'd like to give it one more day before starting the review issue, to see if we get a second reviewer.

[2018-06-20 12:48] pdebuyl commented on #757
May I begin anyway?

[2018-06-20 12:57] pdebuyl commented on #757
sorry, I had not seen that this is a "pre review". I'll wait for the review.

[2018-06-20 13:06] labarba commented on #757
You can start review of the software (downloading, installing, checking docs, etc.), but you don't have the review checklist until I start the REVIEW issue.

[2018-06-20 13:22] kaneplusplus commented on #220
@arfon No problem. Yes, please withdraw the submission.

[2018-06-20 13:39] #220 closed

[2018-06-20 14:22] henrik227 commented on #670
Is it ok to create a new MatchPy release (0.4.5), so I can make use of Zenodo automatically archiving releases? And if yes, do I also change that in the metadata of the paper?

[2018-06-20 15:39] vyasr commented on #757
@whedon generate pdf

[2018-06-20 15:39] whedon commented on #757
[code]

[2018-06-20 15:40] whedon commented on #757
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00757/joss.00757/10.21105.joss.00757.pdf)

[2018-06-20 15:41] vyasr commented on #757
@whedon generate pdf

[2018-06-20 15:41] whedon commented on #757
[code]

[2018-06-20 15:42] whedon commented on #757
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00757/joss.00757/10.21105.joss.00757.pdf)

[2018-06-20 15:46] Kevin-Mattheus-Moerman commented on #670
Yes you can, so go ahead and create the new release and list the DOI for it here. @arfon can then help update the version number listed here and the metadata for the paper.

[2018-06-20 16:29] vyasr commented on #757
I've made the suggested edits to the paper. There's one reference that's typesetting rather oddly (the second one in the list for HOOMD-blue), and I'm not sure how to fix that since the md file is a few levels removed from the final Latex file that's compiled into the PDF. Any help there would be appreciated. Aside from that, it should be prepared for review.

[2018-06-20 16:29] vyasr commented on #757
Also thanks for offering to review @pdebuyl !

[2018-06-20 16:43] nhejazi commented on #161
@karthik -- No problem at all; glad to have your help in the editorial component of this submission now that you're back. To facilitate using this same issue for completion of the review, I've updated the submission comment at the top of the issue to reflect the new name and links to the package/repo (`adaptest` instead of `data.adapt.multi.test`) as well as bumped the appropriate version number (

[2018-06-20 16:46] nhejazi commented on #784
@leeper --- sure thing; I would be happy to review this submission for JOSS.

[2018-06-20 17:28] leeper commented on #784
@whedon start review magic-word=bananas

[2018-06-20 17:28] whedon opened #786 "[REVIEW]: iml: An R package for Interpretable Machine Learning"
**Submitting author:** @christophM (<a href="http://orcid.org/0000-0003-2331-868X">Christoph Molnar</a>)
**Repository:** <a href="https://github.com/christophM/iml" target ="_blank">https://github.com/christophM/iml</a>
**Version:** v0.5.2
**Editor:** @leeper
**Reviewer:** @nhejazi
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1299059" target="_blank">10.5281/zenodo.1299059</a>

## Status

[2018-06-20 17:28] whedon commented on #784
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/786. Feel free to close this issue now!

[2018-06-20 17:28] whedon commented on #786
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @nhejazi it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-06-20 17:28] whedon commented on #786
[code]

[2018-06-20 17:28] whedon commented on #786
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00786/joss.00786/10.21105.joss.00786.pdf)

[2018-06-20 17:29] leeper commented on #784
@nhejazi Thanks! That's great. The review issue is open for you here: https://github.com/openjournals/joss-reviews/issues/786

Please let me know (over there) if you have any questions.

[2018-06-20 17:29] #784 closed

[2018-06-20 19:03] lebebr01 commented on #668
@karthik I've archived the latest version to Zenodo and the DOI is  10.5281/zenodo.1294067 (https://doi.org/10.5281/zenodo.1294067).

Thanks again for the reviews @jeroen and @lmullen.

[2018-06-20 20:54] tshu commented on #782
@dhhagan Thanks for your submission. I should be able to finish this end of week so long as there are no major roadblocks. I will keep you posted if there are any.

[2018-06-20 21:07] labarba commented on #757
@whedon add @CorySimon as reviewer

[2018-06-20 21:07] whedon commented on #757
OK, @CorySimon is now a reviewer

[2018-06-20 21:09] labarba commented on #757
@whedon start review magic-word=bananas

[2018-06-20 21:18] labarba commented on #757
@arfon Is `whedon` sleeping?

[2018-06-20 22:15] cMadan commented on #656
@whedon set 10.5281/zenodo.1292086 as archive

[2018-06-20 22:16] whedon commented on #656
OK. <a href="http://dx.doi.org/10.5281/zenodo.1292086" target="_blank">10.5281/zenodo.1292086</a> is the archive.

[2018-06-20 22:16] cMadan commented on #656
@spinicist, perfect, thank you!

@arfon, I think we're all set to accept here! :)

[2018-06-20 22:41] jrosen48 commented on #754
Congrats @strengejacke--please keep up the exemplary work grealt benefits the R community. Thanks  @leeper and @methodds & @arfon for being part of a great process (for reviewers!).

[2018-06-20 23:47] ryneches commented on #678
All right! After a little tidying up, here's the Zenodo DOI :

https://doi.org/10.5281/zenodo.1294297

[2018-06-21 02:34] labarba commented on #757
@whedon start review

[2018-06-21 02:34] whedon commented on #757
You didn't say the magic word! Try this:

[code]

[2018-06-21 02:34] labarba commented on #757
@whedon start review magic-word=bananas

[2018-06-21 02:34] whedon commented on #757
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/787. Feel free to close this issue now!

[2018-06-21 02:34] whedon opened #787 "[REVIEW]: rowan: A Python package for working with quaternions"
**Submitting author:** @vyasr (<a href="http://orcid.org/0000-0001-5181-9532">Vyas Ramasubramani</a>)
**Repository:** <a href="https://bitbucket.org/glotzer/rowan" target ="_blank">https://bitbucket.org/glotzer/rowan</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @pdebuyl, @CorySimon
**Archive:** <a href="https://doi.org/10.5281/zenodo.1323676" target="_blank">10.5281/zenodo.1323676</a

[2018-06-21 02:34] whedon commented on #787
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @pdebuyl, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-06-21 02:34] whedon commented on #787
[code]

[2018-06-21 02:34] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-06-21 02:35] #757 closed

[2018-06-21 02:36] labarba commented on #787
@pdebuyl, @CorySimon -- here is where the magic happens. Let me know if you have any questions.

[2018-06-21 08:15] pdebuyl commented on #787
Hi,

The rowan project gives a very good impression! The source code is well structured, the
design of the API is direct to understand and fully documented.

I did tick most of the checklist already. I have a few improvements to request:

- In the documentation file `doc/index.rst`, there should be a blank line below the
  `code-block` directives else sphinx complains (ref:
  http://www.sphinx-doc

[2018-06-21 09:06] utf commented on #717
Hi guys. Just checking if there is any update on the status of the reviews?

Please get in touch if you have any comments for me.

[2018-06-21 09:22] henrik227 commented on #670
The DOI of Version v0.4.5 is "10.5281/zenodo.1294930"

[2018-06-21 10:31] j-faria commented on #487
Thank you @barentsen and @nespinoza for the reviews, they both increased the quality of *kima* substantially. Thank you @arfon also for your editorial effort and help.
(and thanks @whedon :)
I'm very happy to see this published!

[2018-06-21 11:31] arfon commented on #487
Sorry this took a while @j-faria -thanks for sticking with us!

[2018-06-21 11:37] arfon commented on #656
@oesteban - many thanks for your review here and to @cMadan for editing this submission ✨

@spinicist - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00656 :zap: :rocket: :boom:

[2018-06-21 11:37] #656 closed

[2018-06-21 11:37] whedon commented on #656
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00656/status.svg)](https://doi.org/10.21105/joss.00656)

**We need your help!**

Journal of Open Source Software

[2018-06-21 11:38] whedon opened #788 "[PRE REVIEW]: resample: Simple Bootstrapping for Python"
**Submitting author:** @cenonn (<a href="http://orcid.org/0000-0002-2721-1292">Robert Cenon</a>)
**Repository:** <a href="https://github.com/cenonn/resample/" target ="_blank">https://github.com/cenonn/resample/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @cenonn. The JOSS editor (shown at the top of this issu

[2018-06-21 11:38] whedon commented on #788
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-21 11:38] whedon commented on #788
[code]

[2018-06-21 11:38] whedon opened #789 "[PRE REVIEW]: phylogram: an R package for phylogenetic analysis with nested lists"
**Submitting author:** @shaunpwilkinson (<a href="http://orcid.org/0000-0002-7332-7931">Shaun Wilkinson</a>)
**Repository:** <a href="https://github.com/ropensci/phylogram" target ="_blank">https://github.com/ropensci/phylogram</a>
**Version:** v2.1.0
**Editor:** @karthik
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @shaunpwilkinson. The JOSS editor (sho

[2018-06-21 11:38] whedon commented on #789
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-21 11:38] whedon commented on #789
[code]

[2018-06-21 11:38] whedon commented on #788
PDF failed to compile for issue #788 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f/lib/whedon/processor.

[2018-06-21 11:39] whedon commented on #789
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00789/joss.00789/10.21105.joss.00789.pdf)

[2018-06-21 12:04] dhhagan commented on #782
@whedon commands

[2018-06-21 12:04] whedon commented on #782
Here are some things you can ask me to do:

[code]

[2018-06-21 12:07] dhhagan commented on #782
@Kevin-Mattheus-Moerman @arfon Is there a way to update the version number being reviewed? Since it's been a while since submission, the software is now at v1.6 as opposed to 1.4.1.

[2018-06-21 12:07] dhhagan commented on #782
@whedon generate pdf

[2018-06-21 12:07] whedon commented on #782
[code]

[2018-06-21 12:07] whedon commented on #782
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00782/joss.00782/10.21105.joss.00782.pdf)

[2018-06-21 12:11] dhhagan commented on #782
@arfon Is there a way to locally generate the pdf to validate the references show up? It seems like there must be an error with the BibTex syntax, but I can't seem to figure out what's going on. Is there any output from the `@whedon generate pdf` command?

[2018-06-21 12:39] shaunpwilkinson commented on #789
Hi @karthik and others, thanks for considering this paper for JOSS. As for suggested reviewers, @wcornwell and @BenJWard have already reviewed the source code for ropensci and are familiar with the workings of the package, so may be a good place to start. Otherwise on the list of JOSS reviewers @juanvillada and @giraola have interests in phylogenetic analysis with R.

[2018-06-21 13:10] peterjc commented on #779
Yes, @betteridiot got in touch with me about BAMnostic  be earlier this year - I've not been able to make time for any detailed input, but did suggest switching to a standard OSI approved open source license (since done).

My BGZF code referred to is in Biopython, see https://github.com/biopython/biopython/blob/master/Bio/bgzf.py

That BGZF code is now dual licensed (3-clause BSD or the legacy Bio

[2018-06-21 14:09] arfon commented on #782
@dhhagan does this help? https://github.com/greatfireball/docker_whedon_translate4joss

[This is the command](https://github.com/openjournals/whedon/blob/master/lib/whedon/processor.rb#L109-L132) that Whedon executes to compile the PDF.

[2018-06-21 14:19] arfon commented on #789
@karthik - it looks like this package has been through the rOpenSci on-boarding in https://github.com/ropensci/onboarding/issues/212 so I think we're good to fast-tracking this?

[2018-06-21 15:00] Kevin-Mattheus-Moerman commented on #670
@arfon can you set the version to 0.4.5, assign [10.5281/zenodo.1294930](https://zenodo.org/record/1294930) as the DOI, and proceed to accept this submission? Thanks :rocket: :rabbit: :camel: :tulip:

[2018-06-21 15:03] danielskatz commented on #766
@jfjlaros , I think that's up to you.

Let me know if you think this is ready to publish, or if you want to make any final changes.

[2018-06-21 15:04] danielskatz commented on #711
@lkosmid - can we get an update from you on where things are from your point of view?

[2018-06-21 15:05] danielskatz commented on #767
@pspringer and @gonsie - I don't see any open issues in the salabim repo currently, so I think this review is back to you both.  Can you please update us on anything you are waiting for, or how this stands to you otherwise?

[2018-06-21 15:07] danielskatz commented on #767
Also @salabim - the paper still needs to have specific references added, and cited in the body of the paper.

[2018-06-21 15:29] jfjlaros commented on #766
@danielskatz, I added the credits and automatic testing with Travis to [v1.0.1](https://github.com/jfjlaros/bin-parser/releases/tag/v1.0.1). I think that wraps it up.

[2018-06-21 15:34] salabim commented on #767
What kind of references are we talking about. I know that there some users
who are going to publish an article, but nothing concrete yet.
Is that a problem?
Otherwise, can I just cite some sample projects?

Ruud van der Ham
*rt.van.der.ham@gmail.com <rt.van.der.ham@gmail.com>*

On 21 June 2018 at 17:07, Daniel S. Katz <notifications@github.com> wrote:

[2018-06-21 15:57] vyasr commented on #787
Thanks for the comments. I'll keep a running checklist here as I address them.

Regarding the efficiency, how would you recommend I do this? For example, are you interested in O(N) scaling? I can also include explicit benchmarks against the other code bases, I've done something like this before so I could formalize that script and include it in the repository as well, or just discuss it in the pap

[2018-06-21 16:07] danielskatz commented on #766
Is 1.0.1 archived somewhere with a DOI?  If not, please do this.

And then paste the DOI here.

[2018-06-21 16:10] arfon commented on #670
@whedon set 10.5281/zenodo.1294930 as archive

[2018-06-21 16:10] whedon commented on #670
OK. <a href="http://dx.doi.org/10.5281/zenodo.1294930" target="_blank">10.5281/zenodo.1294930</a> is the archive.

[2018-06-21 16:13] arfon commented on #670
@llllllllll - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@henrik227 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00670 :zap: :rocket: :boom:

[2018-06-21 16:13] #670 closed

[2018-06-21 16:14] whedon commented on #670
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00670/status.svg)](https://doi.org/10.21105/joss.00670)

**We need your help!**

Journal of Open Source Software

[2018-06-21 16:34] danielskatz commented on #767
RIght now, the references says "Several wikipedia articles on DES and simulation languages."

What are these articles?  You need to list them.
Are there academic papers about DES and the simulations languages?  If so, you should list them as well.

To pick a recent example, see https://github.com/openjournals/joss-papers/blob/joss.00773/joss.00773/10.21105.joss.00773.pdf  which has a lot of refere

[2018-06-21 17:00] jfjlaros commented on #766
I archived it at Zenodo: [10.5281/zenodo.1295625](http://doi.org/10.5281/zenodo.1295625).

[2018-06-21 17:03] gomesdasilva commented on #667
sorry @arfon and @RuthAngus, I am very busy at this time but will get back to this in the next couple of weeks

[2018-06-21 17:58] danielskatz commented on #766
@whedon commands

[2018-06-21 17:58] whedon commented on #766
Here are some things you can ask me to do:

[code]

[2018-06-21 17:58] danielskatz commented on #766
@whedon set 10.5281/zenodo.1295625 as archive

[2018-06-21 17:58] whedon commented on #766
OK. <a href="http://dx.doi.org/10.5281/zenodo.1295625" target="_blank">10.5281/zenodo.1295625</a> is the archive.

[2018-06-21 18:00] danielskatz commented on #766
👋  @arfon - over to you for final acceptance

@Smattr, @hainesr - Thanks for your reviewing and contributions!

[2018-06-21 18:19] arfon commented on #766
@hainesr, @Smattr - many thanks for your reviews here and to @danielskatz for editing this submission ✨

@jfjlaros - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00766 :zap: :rocket: :boom:

[2018-06-21 18:19] #766 closed

[2018-06-21 18:19] whedon commented on #766
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00766/status.svg)](https://doi.org/10.21105/joss.00766)

**We need your help!**

Journal of Open Source Software

[2018-06-21 18:53] jfjlaros commented on #766
@arfon, @danielskatz: Thank you for editing this submission.

@Smattr, @hainesr: Thank you for your suggestions and contributions. I really appreciate it.

[2018-06-21 18:58] vyasr commented on #787
@whedon generate pdf

[2018-06-21 18:58] whedon commented on #787
[code]

[2018-06-21 18:58] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-06-21 20:36] labarba commented on #787
Regarding performance claims, or comparison with other software, you can include this in the documentation, with a brief summary of results on the paper.

[2018-06-21 23:09] nhejazi commented on #786
I've now completed a preliminary review of the `iml` R package --- @christophM, this looks really great! There are just a few outstanding items that require your attention before I can check off the remaining items required for the JOSS review. Please take a look at the two issues ([on examples](https://github.com/christophM/iml/issues/23) and [on licensing/contributions](https://github.com/christ

[2018-06-22 00:52] Smattr commented on #766
This was the first JOSS review I've been involved with and I thought the whole thing went very well. Thanks all :)

[2018-06-22 01:01] puncan commented on #710
There were a couple I checked off after creating new issues. Am I doing this right?

[2018-06-22 02:14] momargoh commented on #710
Thanks @puncan I'll fix up the issues you've raised now.

[2018-06-22 02:20] momargoh commented on #710
Also, there is a newer version of MCycle that uses Cython; it has a different build and different directory structure. At the moment it's just in the cython fork, I haven't pulled it to master yet. Could I update my joss submission to consider this version?

[2018-06-22 02:28] puncan commented on #710
I don’t see why not.

Sent from my iPhone

[2018-06-22 04:39] karthik commented on #678
@whedon set 10.5281/zenodo.1294297 as archive

[2018-06-22 04:39] whedon commented on #678
OK. <a href="http://dx.doi.org/10.5281/zenodo.1294297" target="_blank">10.5281/zenodo.1294297</a> is the archive.

[2018-06-22 04:40] karthik commented on #678
@whedon generate pdf

[2018-06-22 04:40] whedon commented on #678
[code]

[2018-06-22 04:40] whedon commented on #678
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00678/joss.00678/10.21105.joss.00678.pdf)

[2018-06-22 04:42] karthik commented on #678
@ryneches Congrats on your paper being accepted! 🎉
@arfon will do a couple more steps to finalize your paper.

[2018-06-22 07:33] sdelandtsheer commented on #718
I have successfully tested the toolbox and app. What was not working before has either been removed or corrected in a satisfying way. I recommend accepting this paper.
Sorry for the delay, and thanks for the good work.

Regards,

[2018-06-22 09:11] cfgoldsmith commented on #717
Hi. Here is my review:
“sumo currently only supports VASP” this strikes me as rather curious, since VASP is one of the more expensive packages — even for academics. In the spirit of this journal, they should consider expanding their approach to include many of the open-source packages, such as GPAW, Orca, etc.
The authors fail to mention Molden, which blurs the line between command-line and gui, b

[2018-06-22 09:37] leeper commented on #786
@nhejazi Thank you for the very fast review!

@christophM Please address these issues when you get a chance and let me know when they're complete.

[2018-06-22 09:43] pdebuyl commented on #787
Hi @vyasr thank you for the update. The solution you propose to time the other packages is fine. You can keep the mention in the paper brief of course.

All that will be missing then is the archived version of the software, for which you will probably wait for the other review. If you need assistance for archiving software on Zenodo, you can request it in this review page.

[2018-06-22 10:36] arfon commented on #678
@ryneches - I made a small fix to one of your bibtex entries which wasn't working in https://github.com/ryneches/SuchTree/pull/14

@giraola - many thanks for your review here and to @karthik for editing this submission ✨

@ryneches - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00678 :zap: :rocket: :boom:

[2018-06-22 10:36] #678 closed

[2018-06-22 10:36] whedon commented on #678
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00678/status.svg)](https://doi.org/10.21105/joss.00678)

**We need your help!**

Journal of Open Source Software

[2018-06-22 15:12] Kevin-Mattheus-Moerman commented on #718
@whedon generate pdf

[2018-06-22 15:12] whedon commented on #718
[code]

[2018-06-22 15:12] Kevin-Mattheus-Moerman commented on #718
Thanks @sdelandtsheer for your review! :robot: :rocket:

[2018-06-22 15:12] whedon commented on #718
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00718/joss.00718/10.21105.joss.00718.pdf)

[2018-06-22 15:22] jarvist commented on #717
Sumo does many different things - I haven't had time to try them all out yet! Here's a partial review, with some feedback.

1) It wasn't immediately obvious what the code was for + what it did. 'Ab-initio' is a very general term. Making it clear that these tools are for reciprocal-space band structures / computational solid-state physics would help.
Having used a few of the components, I think per

[2018-06-22 15:23] Kevin-Mattheus-Moerman commented on #718
Great. It looks like we are nearly there. @ashleefv would you be able to incorporate/mention the figure in the text of the paper?

[2018-06-22 15:38] utf commented on #717
@cfgoldsmith

Thank you for your review.

We appreciate that VASP is a little exclusive which is unfortunate, however, it is very widely used in the field (there have been 25,000 papers published using the code in the last 10 years). Crucially VASP comes with a minimal toolchain, which motivated the development of this package.
We have intentionally designed Sumo to separate VASP-specific details

[2018-06-22 16:05] utf commented on #717
@jarvist

Thank you for looking at Sumo.

In response to your numbered points:

1. We agree that ab initio is a general term. As noted in our response to @cfgoldsmith, we will update the documentation to make it clear that this package is geared for solid state analysis.
  - We already mention all the packages used under the hood in the README but perhaps we could be more specific where each of th

[2018-06-22 16:06] kyleniemeyer commented on #770
@whedon add @Cadair as reviewer

[2018-06-22 16:06] whedon commented on #770
OK, @Cadair is now a reviewer

[2018-06-22 16:07] arfon commented on #789
@whedon assign @arfon as reviewer

[2018-06-22 16:07] whedon commented on #789
OK, the reviewer is @arfon

[2018-06-22 16:35] cfgoldsmith commented on #717
Yes, happily. Well done.

[2018-06-22 16:45] jarvist commented on #717
To be clear - I'm certainly not requesting any extra development in response to my review, just more + clearer signposting in the documentation.

Apologies for missing the CI - would it be possible to add a code-coverage badge? I will investigate the unit tests next week. A two line README.md in the tests directory would not go amiss, repeating the info in the main README.md.

[2018-06-22 16:51] arfon commented on #789
@whedon start review magic-word=bananas

[2018-06-22 16:51] #789 closed

[2018-06-22 16:51] whedon opened #790 "[REVIEW]: phylogram: an R package for phylogenetic analysis with nested lists"
**Submitting author:** @shaunpwilkinson (<a href="http://orcid.org/0000-0002-7332-7931">Shaun Wilkinson</a>)
**Repository:** <a href="https://github.com/ropensci/phylogram" target ="_blank">https://github.com/ropensci/phylogram</a>
**Version:** v2.1.0
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1293634" target="_blank">10.5281/zenodo.1293634</a>

[2018-06-22 16:51] whedon commented on #789
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/790. Feel free to close this issue now!

[2018-06-22 16:51] whedon commented on #790
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-06-22 16:51] whedon commented on #790
[code]

[2018-06-22 16:51] whedon commented on #790
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00790/joss.00790/10.21105.joss.00790.pdf)

[2018-06-22 17:06] arfon commented on #790
Fast-track accepting because of https://github.com/ropensci/onboarding/issues/212

[2018-06-22 17:08] arfon commented on #790
@whedon set 10.5281/zenodo.1293634 as archive

[2018-06-22 17:08] whedon commented on #790
OK. <a href="http://dx.doi.org/10.5281/zenodo.1293634" target="_blank">10.5281/zenodo.1293634</a> is the archive.

[2018-06-22 17:10] arfon commented on #790
@shaunpwilkinson - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00790 :zap: :rocket: :boom:

[2018-06-22 17:10] #790 closed

[2018-06-22 17:10] whedon commented on #790
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00790/status.svg)](https://doi.org/10.21105/joss.00790)

**We need your help!**

Journal of Open Source Software

[2018-06-22 21:57] cenonn commented on #788
@whedon generate pdf

[2018-06-22 21:57] whedon commented on #788
[code]

[2018-06-22 21:57] whedon commented on #788
PDF failed to compile for issue #788 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f/lib/whedon/processor.

[2018-06-22 22:19] arfon commented on #788
@cenonn - @whedon can't compile your paper because this repository is either private or at a different address: https://github.com/cenonn/resample/

[2018-06-23 01:29] cenonn commented on #788
@whedon generate pdf

[2018-06-23 01:29] whedon commented on #788
[code]

[2018-06-23 01:30] whedon commented on #788
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00788/joss.00788/10.21105.joss.00788.pdf)

[2018-06-23 01:58] cenonn commented on #788
@arfon I made the repo public so it now compiles the paper. Do you have an idea why it didn't generate the references?

[2018-06-23 10:45] arfon commented on #788
@cenonn - this is because you didn't cite any of the references in your paper. If you cite them directly they will show up. (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2018-06-23 12:03] strengejacke commented on #772
@whedon generate pdf

Ok, I hope I have the layout right now...

[2018-06-23 12:03] whedon commented on #772
[code]

[2018-06-23 12:04] whedon commented on #772
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00772/joss.00772/10.21105.joss.00772.pdf)

[2018-06-23 20:51] vyasr commented on #787
I've updated the paper with a couple of sentences about performance, and I've added a benchmarks folder with a Jupyter notebook that compares to a pair of alternative solutions. I've noted the existence of these benchmarks in the documentation as well.

Regarding the archived version, I was under the impression that the Zenodo archiving happened once the paper was published. Correct me if I'm wron

[2018-06-23 20:51] vyasr commented on #787
@whedon generate pdf

[2018-06-23 20:51] whedon commented on #787
[code]

[2018-06-23 20:51] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-06-24 04:15] hjoliver commented on #737
(I've been given the legal go-ahead for a contributor agreement, will try to add something up this week).

[2018-06-24 12:42] pdebuyl commented on #787
@vyasr Yes, archiving on completion of the review is fine. Thank you for all the updates in response to the review :-)

@labarba The submission is 100% ok for me.

[2018-06-24 13:49] pjotrp commented on #779
Thanks @peterjc. I think we can afford to wait a few weeks and we would appreciate your review.

[2018-06-24 13:53] pjotrp commented on #583
I'll give it a go this week.

[2018-06-24 13:55] pjotrp commented on #753
@prasunanand, are we ready to wrap this up?

[2018-06-24 16:11] jegpeek commented on #695
Hey @gregreen I'm a little worried about the scaling issue, especially for bayestar. It's kinda confusing to report things "in SFD units" by default. There are two corrections discussed in GSF, I think (?) and I have trouble understanding which are which, and which are applied. This
[code]
makes me think bayestar is reported in "SFD units". I haven't met anyone outside the three of you who finds t

[2018-06-24 16:18] jegpeek commented on #695
@gregreen (sorry, just found the ebv comments) are there automated tests?

[2018-06-24 17:09] kyleniemeyer commented on #717
@jarvist @cfgoldsmith thanks for your reviews!

@utf please let us know when you've made changes in response to their comments, and specifically what changes you made. (If you open up issues or PRs on your own repository in response, you can link to them here to make it even easier.)

[2018-06-24 17:56] cenonn commented on #788
@whedon generate pdf

[2018-06-24 17:56] whedon commented on #788
[code]

[2018-06-24 17:56] whedon commented on #788
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00788/joss.00788/10.21105.joss.00788.pdf)

[2018-06-24 19:12] arokem commented on #776
Will do!

[2018-06-24 19:12] arokem commented on #776
Whedon assign @arokem as editor

[2018-06-24 19:12] arokem commented on #776
@whedon assign @arokem as editor

[2018-06-24 19:12] whedon commented on #776
OK, the editor is @arokem

[2018-06-24 19:14] arokem commented on #776
Hey @nirum : would you be willing to review this paper for JOSS?

[2018-06-24 22:33] hooman650 commented on #671
@fernandoandreotti thank you for your feedback and taking the time to review this...I would be happy to also contribute the subroutines to other tools such as WFDB-App and FECGSYN, the aim of BioSigKit is not to introduce new algorithms that have not been exactly examined but rather gather the popular ones that have been published separately under one roof (BioSigKit)... otherwise it should have b

[2018-06-24 23:04] nirum commented on #776
Sure!

[2018-06-25 00:45] arfon commented on #751
@JeanBilheux - could you take a look at this list of reviewers and suggest a few that might be good candidates to review this package? https://bit.ly/joss-reviewers

[2018-06-25 00:46] arfon commented on #730
@jkahn - would you be willing to review this submission for JOSS?

[2018-06-25 00:47] arfon commented on #756
@whedon assign @steffilazerte as reviewer

[2018-06-25 00:47] arfon commented on #756
@whedon assign @arfon as editor

[2018-06-25 00:47] whedon commented on #756
OK, the editor is @arfon

[2018-06-25 00:48] arfon commented on #756
@whedon start review magic-word=bananas

[2018-06-25 00:48] #756 closed

[2018-06-25 00:48] whedon opened #791 "[REVIEW]: stacomiR : a common tool for monitoring fish migration"
**Submitting author:** @MarionLegrandLogrami (<a href="http://orcid.org/0000-0002-4688-8303">Marion Legrand</a>)
**Repository:** <a href="https://github.com/MarionLegrandLogrami/stacomiR" target ="_blank">https://github.com/MarionLegrandLogrami/stacomiR</a>
**Version:** 0.5.3.1
**Editor:** @arfon
**Reviewers:** @steffilazerte, @boshek
**Archive:** <a href="https://doi.org/10.5281/zenodo.3371259" t

[2018-06-25 00:48] whedon commented on #756
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/791. Feel free to close this issue now!

[2018-06-25 00:48] whedon commented on #791
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @steffilazerte it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-06-25 00:48] whedon commented on #791
[code]

[2018-06-25 00:48] arfon commented on #756
@MarionLegrandLogrami @steffilazerte - please head over to #791 for the actual review.

[2018-06-25 00:48] whedon commented on #791
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00791/joss.00791/10.21105.joss.00791.pdf)

[2018-06-25 00:49] arfon commented on #769
@mgymrek @george-githinji - would one of you be willing to edit this submission for JOSS?

[2018-06-25 00:51] shaunpwilkinson commented on #790
Thanks so much @arfon and others. What a nice smooth process!

[2018-06-25 00:52] arfon commented on #778
@viktor76525 - it looks like the whitespace isn't quite right in your `paper.md` - could you make sure all of the YAML keys are lined up correctly?

[2018-06-25 01:21] Kevin-Mattheus-Moerman commented on #730
@yzhao062 @betatim @aqibsaeed @rhiever would you be willing to review this submission for [JOSS](https://joss.theoj.org/about)? The [review process](https://joss.theoj.org/about#reviewer_guidelines) focuses largely on the software and a short paper.

[--> The paper :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00730/joss.00730/10.21105.joss.00730.pdf)

[--> The projec

[2018-06-25 04:03] pspringer commented on #767
@danielskatz and @salabim I'm going through the six functional blocks I've identified to make sure all are as documented.  I should be able to finish that this week.

[2018-06-25 05:03] lkosmid commented on #711
@danielskatz the short paper has been thoroughly reviewed and after several iterations with @federeghe is ready.
From my side it is pending to review the software, its functionality, test environment and documentation (in fact the missing check boxes).
I have already installed the software and gave it a spin a while ago and it seems functional and according to the short paper, but I need to deeply

[2018-06-25 05:33] prasunanand commented on #753
@pjotrp : Review complete :)

@dgasmith : Cool software. Nice work :muscle:

[code]
I am not sure if the message "regarding caching" could be suppressed.

[2018-06-25 07:43] leeper commented on #768
@dhhagan @geanders Just another quick ping - would either of you be interested in reviewing this for JOSS?

[2018-06-25 11:41] dhhagan commented on #768
Hey @leeper Sorry for the delay - I am a bit busy at the moment, but could get to it in ~2 weeks?

[2018-06-25 11:48] grg2rsr commented on #776
@whedon commands

[2018-06-25 11:49] whedon commented on #776
Here are some things you can ask me to do:

[code]

[2018-06-25 11:51] grg2rsr commented on #776
@whedon generate pdf

[2018-06-25 11:51] whedon commented on #776
[code]

[2018-06-25 11:51] whedon commented on #776
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00776/joss.00776/10.21105.joss.00776.pdf)

[2018-06-25 12:22] grg2rsr commented on #776
@whedon generate pdf

[2018-06-25 12:49] christophM commented on #786
@nhejazi  thank you for the review!

@leeper, @nhejazi I adressed and closed the issues (was not sure if to leave them open or close them. feel free to re-open if something is missing).

[2018-06-25 13:37] leeper commented on #786
Great. @nhejazi Can you take another look and let me know about any new or continuing concerns?

[2018-06-25 13:37] leeper commented on #768
@dhhagan Ok, thanks. I'll see if I can find someone else before then but might come back to you.

[2018-06-25 14:04] dfm commented on #545
Hi @arfon and @Aneoshun,

Thanks (again) for your patience!

This looks really great. I think that the docs are much clearer now and I'm happy to check off the rest of the checkboxes and recommend this for publication. Thanks again and congrats!

[2018-06-25 14:21] Kevin-Mattheus-Moerman commented on #782
@dhhagan in relation to the release/version number. This is no problem. We can update the version number at a later stage.

[2018-06-25 14:56] arfon commented on #545
Thanks @dfm ✨

@Aneoshun - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-06-25 15:10] arokem commented on #776
@whedon assign @nirum as reviewer

[2018-06-25 15:10] whedon commented on #776
OK, the reviewer is @nirum

[2018-06-25 15:10] arokem commented on #776
@whedon start review magic-word=bananas

[2018-06-25 15:10] whedon opened #792 "[REVIEW]: SeqPeelSort - A spike sorting algorithm for single sensillum recordings"
**Submitting author:** @grg2rsr (<a href="http://orcid.org/0000-0002-9716-3513">Georg Raiser</a>)
**Repository:** <a href="https://github.com/grg2rsr/SeqPeelSort" target ="_blank">https://github.com/grg2rsr/SeqPeelSort</a>
**Version:** v1.0
**Editor:** @arokem
**Reviewer:** @nirum
**Archive:** <a href="https://doi.org/10.5281/zenodo.1420108" target="_blank">10.5281/zenodo.1420108</a>

## Status

[

[2018-06-25 15:10] whedon commented on #776
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/792. Feel free to close this issue now!

[2018-06-25 15:10] whedon commented on #792
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @nirum it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-06-25 15:10] whedon commented on #792
[code]

[2018-06-25 15:11] arokem commented on #776
Thanks @nirum! Head on over to #792 for the reviewer check-list. I'll close this one.

[2018-06-25 15:11] #776 closed

[2018-06-25 15:11] whedon commented on #792
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00792/joss.00792/10.21105.joss.00792.pdf)

[2018-06-25 15:30] leeper commented on #768
@adamhsparks Would you be willing to review this package for JOSS?

[2018-06-25 15:30] yzhao062 commented on #730
@Kevin-Mattheus-Moerman I am happy to review PyNomaly since I used it in one of my previous research. Just need to get familiar with the [review process](https://joss.theoj.org/about#reviewer_guidelines) :)

[2018-06-25 16:06] Kevin-Mattheus-Moerman commented on #730
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-06-25 16:06] whedon commented on #730
OK, the editor is @Kevin-Mattheus-Moerman

[2018-06-25 16:07] Kevin-Mattheus-Moerman commented on #730
@whedon assign @yzhao062 as reviewer

[2018-06-25 16:07] whedon commented on #730
OK, the reviewer is @yzhao062

[2018-06-25 16:10] Kevin-Mattheus-Moerman commented on #730
@yzhao062 great thanks. I've added you as reviewer and will attempt to recruit a few more. Let me know if you have questions about the review process. This issue here is a so called pre-review issue. Once we have sufficient reviewers we'll move on to a review issue where the actual review takes place. I'll ping you there when we are ready.
The review process is guided by a set of tickboxes for eac

[2018-06-25 16:28] geanders commented on #768
I'm in the same boat. It looks like a really interesting package, but it would take me a couple of weeks to get to it.

[2018-06-25 16:31] nhejazi commented on #786
Everything looks good to me! I've checked off the remaining review items.

[2018-06-25 17:13] leeper commented on #768
@geanders No problem. May come back to you. Thanks!

[2018-06-25 17:15] leeper commented on #786
Thanks, @nhejazi!

[2018-06-25 17:18] leeper commented on #786
@christophM The review process is now complete. To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI (if one exists). It looks like a few of those papers should have DOIs.

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process

[2018-06-25 18:19] drvinceknight commented on #761
I have submitted this to JOSE so am closing this. Thanks :+1:

[2018-06-25 18:56] vyasr commented on #787
Great thanks for the review @pdebuyl !

[2018-06-25 22:48] adamhsparks commented on #768
Sorry, mate, I'm singing from the same hymnal. I have three conferences in
July/August. I hate to say no, but have to.

On Tue, 26 Jun 2018 at 03:13, Thomas J. Leeper <notifications@github.com>
wrote:

--
Dr Adam H. Sparks
Associate Professor of Field Crops Pathology   |   Centre for Crop Health
|  Office C313

Phone (+61) 07 46311948  |  Mobile 0415 489 422 | Twitter @adamhsparks
<https://twitter

[2018-06-25 22:49] viktor76525 commented on #778
@arfon I'm not sure what you mean, I thought the format of `paper.md` was GitHub markdown. I think the issue may have been with the table of contents and I have removed it as it was unnecessary anyway. Please let me know if there are further changes required.

[2018-06-26 00:14] arfon commented on #778
I've fixed this for you here. YAML is whitespace sensitive and your fields for authors and affiliations had inconsistent indentations: https://github.com/ucgmsim/GMSimViz/pull/1

[2018-06-26 01:18] viktor76525 commented on #778
Thank you. Sorry, I mixed up `paper.md` with `readme.md`.

[2018-06-26 06:15] leeper commented on #768
@adamhsparks Don't worry about it!

[2018-06-26 06:15] pjotrp commented on #753
@arfon YAPTBA (yet another paper to be accepted)

[2018-06-26 06:16] pjotrp commented on #753
@whedon generate pdf

[2018-06-26 06:16] whedon commented on #753
[code]

[2018-06-26 06:17] whedon commented on #753
PDF failed to compile for issue #753 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0    113      0 --:--:-- --:--:-- --:--:--   114
Error producing PD

[2018-06-26 06:18] pjotrp commented on #753
@dgasmith can you fix the PDF generation? Just rerun using above whedon command.

[2018-06-26 06:59] pjotrp commented on #698
@alexgarciac are you happy to release this submission into the public domain?

[2018-06-26 09:39] MarionLegrandLogrami commented on #791
@whedon generate pdf

[2018-06-26 09:39] whedon commented on #791
[code]

[2018-06-26 09:39] whedon commented on #791
PDF failed to compile for issue #791 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f/lib/whedon.rb:80:in `check_fields': Paper YAML header is missing expected fields: tags (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f/lib/whedon.rb:68:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f

[2018-06-26 09:49] MarionLegrandLogrami commented on #791
@whedon generate pdf

[2018-06-26 09:49] whedon commented on #791
[code]

[2018-06-26 09:50] whedon commented on #791
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00791/joss.00791/10.21105.joss.00791.pdf)

[2018-06-26 13:36] arfon commented on #545
@whedon set 10.5281/zenodo.1298561 as archive

[2018-06-26 13:36] whedon commented on #545
OK. <a href="http://dx.doi.org/10.5281/zenodo.1298561" target="_blank">10.5281/zenodo.1298561</a> is the archive.

[2018-06-26 13:49] arfon commented on #545
@dfm - many thanks for your review here ✨

@jbmouret - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00545 ⚡️:rocket: :boom:

[2018-06-26 13:49] #545 closed

[2018-06-26 13:49] whedon commented on #545
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00545/status.svg)](https://doi.org/10.21105/joss.00545)

**We need your help!**

Journal of Open Source Software

[2018-06-26 14:41] dgasmith commented on #753
@prasunanand I could not find this in our documentation, did we miss it? As a note `%timeit` is a Jupyter magic function that we do not have control over.

Thanks for the review and glad you like the work!

----

@pjotrp Could you give me a hint on what might be going wrong? This error looks a bit more vague than the previous failures and the article does not have a `$` in it.

[2018-06-26 15:32] arfon commented on #753
It seems like the underscore in the title is causing issues with Pandoc. I've fixed the issue in https://github.com/dgasmith/opt_einsum/pull/28

[2018-06-26 15:40] dgasmith commented on #753
Thanks @arfon!

@whedon generate pdf

[2018-06-26 17:11] prasunanand commented on #753
@dgasmith, You didn't miss anything. I was just wondering if it was possible to control `%timeit` to suppress the "caching" message.

[2018-06-26 17:16] salabim commented on #767
I have updated the paper.bib file to contain a couple of relevant references. Does this meets the requirements. now?

On Thu, Jun 21, 2018 at 6:34pm, Daniel S. Katz < notifications@github.com [notifications@github.com] > wrote:RIght now, the references says "Several wikipedia articles on DES and simulation languages."

What are these articles? You need to list them.
Are there academic papers about

[2018-06-26 18:32] danielskatz commented on #767
@whedon generate pdf

[2018-06-26 18:32] whedon commented on #767
[code]

[2018-06-26 18:32] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-06-26 18:35] danielskatz commented on #767
Add the papers to .bib file is good, but now you have to update the .md file to cite them.  Only references that are cited are built into the pdf.

[2018-06-26 19:04] dgasmith commented on #753
@prasunanand Unfortunately I do not see it in their [options](https://ipython.readthedocs.io/en/stable/interactive/magics.html#magic-timeit).

[2018-06-26 22:01] ashleefv commented on #718
The figure caption was typed in the paper.md file but doesn't show up when compiling. This has been moved into the text as two stand-alone sentences at the end of the paragraph to mention the figure in the text.

[2018-06-26 22:01] ashleefv commented on #718
@whedon generate pdf

[2018-06-26 22:01] whedon commented on #718
[code]

[2018-06-26 22:02] whedon commented on #718
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00718/joss.00718/10.21105.joss.00718.pdf)

[2018-06-26 22:03] ashleefv commented on #718
@whedon generate pdf

[2018-06-26 22:03] whedon commented on #718
[code]

[2018-06-26 22:04] whedon commented on #718
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00718/joss.00718/10.21105.joss.00718.pdf)

[2018-06-26 22:05] ashleefv commented on #718
My last name is Ford Versypt, two words without a hyphen. Is there a way to make the auto citation at the bottom of the article to include the Ford part without including a hyphen?

[2018-06-26 23:42] arfon commented on #718
There is, but I'll have to do this manually before finishing up the paper acceptance. Please remind me to do this when we're done with the review.

[2018-06-26 23:53] ashleefv commented on #718
Ok. I'm done with all the requested edits at this point.

[2018-06-27 01:46] Benjamin-Lee commented on #769
@whedon generate pdf

[2018-06-27 01:46] whedon commented on #769
[code]

[2018-06-27 01:47] whedon commented on #769
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00769/joss.00769/10.21105.joss.00769.pdf)

[2018-06-27 01:49] Benjamin-Lee commented on #769
@whedon generate pdf

[2018-06-27 01:49] whedon commented on #769
[code]

[2018-06-27 01:50] whedon commented on #769
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00769/joss.00769/10.21105.joss.00769.pdf)

[2018-06-27 01:59] Kevin-Mattheus-Moerman commented on #718
Thanks @ashleefv can you create a DOI of the archived reviewed software and post it here? You can use a service like [zenodo](https://zenodo.org/), see also https://guides.github.com/activities/citable-code/.

[2018-06-27 09:20] christophM commented on #786
I went through the references and updated the DOIs, wherever I found one.

[2018-06-27 09:20] christophM commented on #786
@whedon help

[2018-06-27 09:21] christophM commented on #786
@whedon commands

[2018-06-27 09:21] whedon commented on #786
Here are some things you can ask me to do:

[code]

[2018-06-27 09:21] christophM commented on #786
@whedon generate pdf

[2018-06-27 09:21] whedon commented on #786
[code]

[2018-06-27 09:21] whedon commented on #786
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00786/joss.00786/10.21105.joss.00786.pdf)

[2018-06-27 09:37] christophM commented on #786
Here is the DOI:

https://doi.org/10.5281/zenodo.1299059

[2018-06-27 13:38] leeper commented on #786
@whedon set 10.5281/zenodo.1299059 as archive

[2018-06-27 13:38] whedon commented on #786
OK. <a href="http://dx.doi.org/10.5281/zenodo.1299059" target="_blank">10.5281/zenodo.1299059</a> is the archive.

[2018-06-27 13:38] leeper commented on #786
@arfon over to you

[2018-06-27 13:55] whedon opened #793 "[PRE REVIEW]: effmass: An effective mass package"
**Submitting author:** @lucydot (<a href="http://orcid.org/0000-0002-2992-9871">Lucy Whalley</a>)
**Repository:** <a href="https://github.com/lucydot/effmass" target ="_blank">https://github.com/lucydot/effmass</a>
**Version:** v1.0.b1
**Editor:** @katyhuff
**Reviewers:** @ajjackson, @mkhorton, @bocklund

**Author instructions**

Thanks for submitting your paper to JOSS @lucydot. The JOSS editor (

[2018-06-27 13:55] whedon commented on #793
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-27 13:55] whedon commented on #793
[code]

[2018-06-27 13:55] whedon commented on #793
PDF failed to compile for issue #793 with the following error:

 Can't find any papers to compile :-(

[2018-06-27 13:55] arfon commented on #793
:wave: @katyhuff - the submitting author suggested you as the handling editor.

[2018-06-27 13:55] arfon commented on #793
@whedon generate pdf

[2018-06-27 13:55] whedon commented on #793
[code]

[2018-06-27 13:55] arfon commented on #786
@nhejazi - many thanks for your review here and to @leeper for editing this submission ✨

@christophM - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00786 :zap: :rocket: :boom:

[2018-06-27 13:55] #786 closed

[2018-06-27 13:55] whedon commented on #786
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00786/status.svg)](https://doi.org/10.21105/joss.00786)

**We need your help!**

Journal of Open Source Software

[2018-06-27 13:56] whedon opened #794 "[PRE REVIEW]: WEdiff: A Python and C++ package for automatic differentiation"
**Submitting author:** @ctdegroot (<a href="http://orcid.org/0000-0002-2069-8253">Christopher DeGroot</a>)
**Repository:** <a href="https://bitbucket.org/cdegroot/wediff" target ="_blank">https://bitbucket.org/cdegroot/wediff</a>
**Version:** N/A
**Editor:** @arfon
**Reviewers:** @highlando, @kyleniemeyer

**Author instructions**

Thanks for submitting your paper to JOSS @ctdegroot. The JOSS edito

[2018-06-27 13:56] whedon commented on #794
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-27 13:56] whedon commented on #794
[code]

[2018-06-27 13:56] arfon commented on #794
:wave: @labarba - the submitting author suggested you as the handling editor.

[2018-06-27 13:56] whedon commented on #794
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00794/joss.00794/10.21105.joss.00794.pdf)

[2018-06-27 13:56] whedon commented on #793
PDF failed to compile for issue #793 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    145      0 --:--:-- --:--:-- --:--:--   146
Error producing PD

[2018-06-27 13:58] arfon commented on #793
@lucydot - it looks like @whedon can't handle your colour selections 😸. Could you please remove this line from your `paper.md`?

[code]

[2018-06-27 17:45] jegpeek commented on #695
@gregreen I know you guys have thought about this a lot, but it might be worth reconsidering the default behavior for these functions regarding "EBV_SFD". I don't think it's my role here as JOSS reviewer to get into it, so I'm not going to hold up the process or anything, but I think if you are going to all the trouble to package all of this so elegantly, asking folks to think in unrescaled SFD un

[2018-06-27 19:09] gregreen commented on #695
@jegpeek There are tests [here](https://github.com/gregreen/dustmaps/tree/master/dustmaps/tests). You can go to the dustmaps/ directory in the repository and run

    nosetests -v

Be careful though - some of the tests use a lot of memory! If you want to reduce the memory usage of the Bayestar map test, you can change [this line](https://github.com/gregreen/dustmaps/blob/master/dustmaps/tests/test

[2018-06-27 19:52] jegpeek commented on #695
@whedon commands

[2018-06-27 19:52] whedon commented on #695
Here are some things you can ask me to do:

[code]

[2018-06-27 19:53] jegpeek commented on #695
OK @arfon I checked off all the things. Awesome piece of work @gregreen. Sorry it took so long.

[2018-06-27 20:21] gregreen commented on #695
@jegpeek No problem. Thanks for looking through my code/docs/paper!

[2018-06-27 20:35] whedon opened #795 "[PRE REVIEW]: sigmajs: An R htmlwidget interface to the sigma.js visualization library"
**Submitting author:** @JohnCoene (<a href="http://orcid.org/0000-0002-6637-4107">Jean-Philippe Coene</a>)
**Repository:** <a href="https://github.com/JohnCoene/sigmajs" target ="_blank">https://github.com/JohnCoene/sigmajs</a>
**Version:** v0.1.0
**Editor:** @arfon
**Reviewers:** @strengejacke, @jankatins

**Author instructions**

Thanks for submitting your paper to JOSS @JohnCoene. The JOSS edit

[2018-06-27 20:35] whedon commented on #795
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-27 20:35] whedon commented on #795
[code]

[2018-06-27 20:35] whedon commented on #795
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00795/joss.00795/10.21105.joss.00795.pdf)

[2018-06-27 20:54] JohnCoene commented on #795
Below are 5 reviewers I would suggest, based on "Preferred Programming Language" (`r`) and "Domains/topic areas you are comfortable reviewing" (`visualisation` or `networks`):

* @cdcrabtree
* @aj2duncan
* @jakobbossek
* @strengejacke
* @aj2duncan

*List from from [joss reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822)*

[2018-06-27 21:23] salabim commented on #767
I have updated the paper.md and paper.bib files.
Sorry for my stupid questions ...

On Tue, Jun 26, 2018 at 20:35, Daniel S. Katz <notifications@github.com> wrote:
Add the papers to .bib file is good, but now you have to update the .md file to cite them. Only references that are cited are built into the pdf.

—
You are receiving this because you were mentioned.
Reply to this email directly, view i

[2018-06-27 21:33] gregreen commented on #695
@arfon The DOI is now: [10.5281/zenodo.1299368](https://doi.org/10.5281/zenodo.1299368).

[2018-06-27 21:58] strengejacke commented on #795
I had a quick look at the paper, I think the topic might be suitable for me, so I'd be happy to review the submission.

[2018-06-27 22:30] arfon commented on #695
@whedon set 10.5281/zenodo.1299368 as archive

[2018-06-27 22:30] whedon commented on #695
OK. <a href="http://dx.doi.org/10.5281/zenodo.1299368" target="_blank">10.5281/zenodo.1299368</a> is the archive.

[2018-06-27 22:39] arfon commented on #695
@jegpeek - many thanks for your review here ✨

@gregreen - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00695 :zap: :rocket: :boom:

[2018-06-27 22:39] #695 closed

[2018-06-27 22:39] whedon commented on #695
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00695/status.svg)](https://doi.org/10.21105/joss.00695)

**We need your help!**

Journal of Open Source Software

[2018-06-27 23:07] tshu commented on #782
@whedon generate pdf

[2018-06-27 23:14] tshu commented on #782
@dhhagan Everything looks good. Once I can check the pdf for fixed references, my review will be complete.

[2018-06-28 03:47] ctdegroot commented on #794
@whedon commands

[2018-06-28 03:47] whedon commented on #794
Here are some things you can ask me to do:

[code]

[2018-06-28 03:48] ctdegroot commented on #794
@whedon generate pdf

[2018-06-28 03:48] whedon commented on #794
[code]

[2018-06-28 03:48] whedon commented on #794
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00794/joss.00794/10.21105.joss.00794.pdf)

[2018-06-28 04:02] ctdegroot commented on #794
Some suggested reviewers are @clemaitre5 @highlando @kyleniemeyer @dlagrava

[2018-06-28 06:51] JohnCoene commented on #795
Thank you @strengejacke !

[2018-06-28 07:55] ThomasA commented on #749
I checked the article proof. Comparing to the GitHub-formatted Markdown [here](https://github.com/astorfi/speechpy/blob/master/paper/paper.md), the PDF seems to be typeset wrong: the bullet list specified with "+"-es does not get typeset properly.

[2018-06-28 08:11] ThomasA commented on #749
If you don't mind, I am just going to comment bit by bit here as I go through the review...

- Version: Links to the repository do not point to any specific version, but there is a release tagged 2.3 in the repository. I suppose this is OK?

[2018-06-28 08:16] ThomasA commented on #749
- Authorship: In addition to @astorfi, @MatthewScholefield has made a small contribution to the project and @cclauss a very tiny one. Given that @astorfi has contributed the vast majority of the package, I guess it is OK that he is the sole author of this publication?

[2018-06-28 08:44] ThomasA commented on #749
- Installation: This works as documented in the repository's README, but: I explicitly checked out the '2.3' release for installation whereas the install script output refers to version 2.2:

    $ python setup.py develop
    running develop
    running egg_info
    creating speechpy.egg-info
    writing speechpy.egg-info/PKG-INFO
    writing dependency_links to speechpy.egg-info/dependency_links.

[2018-06-28 08:47] pjotrp commented on #753
@arfon looks like we are good to go

[2018-06-28 08:56] ThomasA commented on #749
- Example usage: Glancing through the documentation, I did not find any usage examples, but the test scripts can be considered not-too-well-documented examples. A few usage examples that were easier to find and documented with a bit of explanatory text would be nice to have.

[2018-06-28 09:00] ThomasA commented on #749
- Functionality documentation: The package's functions are documented with docstrings and nicely formatted in the package HTML documentation. The modules of the package, however, do not have any docstrings. This could be a slight improvement, also when quickly looking up documentation from IPython, for example: `speechpy.processing?`

      Type:        module
      String form: <module 'speechpy.

[2018-06-28 09:03] ThomasA commented on #749
- Automated tests: There are tests available in the 'tests' folder. These are in my opinion more like usage examples and not proper tests in the sense that they do not check anything. They run some example commands and display the output. In my opinion, proper automated tests should check the output and determine whether it is correct, resulting in clearly 'passed' or 'failed' test cases.

[2018-06-28 09:08] ThomasA commented on #749
- Community guidelines: The package documentation has very clear guidelines on [how to contribute](http://speechpy.readthedocs.io/en/latest/epilogue/finalnote.html#contributing) to the project. It is however a bit unclear on the reporting issues and seeking support aspects. The latter two aspects could be improved for example by mentioning the that issues should be reported in the repository's iss

[2018-06-28 09:11] ThomasA commented on #749
- References: The software paper does not list any references and as such does not need DOIs for these.

[2018-06-28 09:12] ThomasA commented on #749
I am done with the first pass of my review, but before I recommend publication I would like to hear what @astorfi thinks of my comments.

[2018-06-28 10:07] arfon commented on #753
@dgasmith - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-06-28 10:16] lucydot commented on #793
Hello @arfon and @katyhuff -

I have removed the offending line -

Perhaps @ajjackson might like to review the code. We worked in the same research group 2 years ago, but he has had no input on this project.

Looking at the reviewer database, the following people may also like to review:
@mdoucet
@bocklund
@mkhorton
@yxqd

[2018-06-28 10:55] christophM commented on #786
@arfon @nhejazi @leeper
Thanks for the smooth and pleasant process!

[2018-06-28 12:36] danielskatz commented on #767
Thanks - you can also regenerate the PDF to check it (this is not just something I can do).

Though I will do it again this time.

[2018-06-28 12:36] danielskatz commented on #767
@whedon generate pdf

[2018-06-28 12:36] whedon commented on #767
[code]

[2018-06-28 12:36] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-06-28 12:37] danielskatz commented on #767
Those bibtex entries didn't quite work right...

[2018-06-28 12:49] danielskatz commented on #767
I've created 2 pull requests for the bib and the md of the paper - let's see if these fix the problems

[2018-06-28 12:49] MarionLegrandLogrami commented on #791
@whedon generate pdf

[2018-06-28 12:49] whedon commented on #791
[code]

[2018-06-28 12:49] whedon commented on #791
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00791/joss.00791/10.21105.joss.00791.pdf)

[2018-06-28 14:28] Kevin-Mattheus-Moerman commented on #782
hmm perhaps only authors and editors can call whedon like that. Anyway the PDF is now regenerated.

[2018-06-28 14:30] dhhagan commented on #782
Thanks @tshu I'll try and figure out what's wrong with the `papers.bib` file a bit later today...not sure what's going on there.

[2018-06-28 14:33] Kevin-Mattheus-Moerman commented on #782
@dhagan did you try building the paper locally to trouble shoot this? perhaps remove the references and add a sigle bib file entry at a time to try to figure out what is going on.

[2018-06-28 14:46] katyhuff commented on #793
@whedon generate pdf

[2018-06-28 14:46] whedon commented on #793
[code]

[2018-06-28 14:47] whedon commented on #793
PDF failed to compile for issue #793 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    368      0 --:--:-- --:--:-- --:--:--   375
Error producing PD

[2018-06-28 14:48] katyhuff commented on #793
@lucydot can you look through to deal with all colors that cause these errors? You can debug until it works with `@whedon generate pdf` here in the comments. Thanks!

[2018-06-28 14:49] katyhuff commented on #793
Hi @ajjackson, @mdoucet, @bocklund, and @mkhorton - It seems to me you would be an excellent reviewer for this submission. As soon as it builds, are you willing to be assigned to review this software paper submission? We'll need at least two volunteers, but the more the merrier. Information about being a reviewer can be found here : http://joss.theoj.org/about#reviewer_guidelines .

[2018-06-28 14:51] arfon commented on #782
The issue here is that you're not actually citing your references in the `paper.md` file which means they aren't included by Pandoc. Can you cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2018-06-28 14:57] danielskatz commented on #782
\hijack-thread-on

@arfon - can we provide some guidance on this in our docs?  (which maybe just means pointing to the link you provided as part of a "how to write a JOSS paper and include references" section)

\hijack-thread-off

[2018-06-28 15:02] Kevin-Mattheus-Moerman commented on #782
So @dhhagan it looks like you need to cite them inline in the text e.g. like:
[code]
Please also specifically cite the Crilley et al. article that is in review, this way it also appears in the reference list.

[2018-06-28 15:05] arfon commented on #782
@danielskatz - we already having this in the example `paper.md` here: http://joss.theoj.org/about#author_guidelines but perhaps we could make this more obvious?

[code]

[2018-06-28 15:07] astorfi commented on #749
@ThomasA Thank you for your review. I will investigate them and will comment here.

[2018-06-28 15:15] dhhagan commented on #782
@whedon generate pdf

[2018-06-28 15:16] whedon commented on #782
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00782/joss.00782/10.21105.joss.00782.pdf)

[2018-06-28 15:19] dhhagan commented on #782
@arfon @Kevin-Mattheus-Moerman Thanks for the help - I didn't notice the individual citations throughout the abstract the first time around - I assumed it was just including the line `bibliography: paper.bib`. Regardless, it should be good now. Thanks!

[2018-06-28 15:19] dhhagan commented on #782
@whedon generate pdf

[2018-06-28 15:19] whedon commented on #782
[code]

[2018-06-28 15:20] whedon commented on #782
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00782/joss.00782/10.21105.joss.00782.pdf)

[2018-06-28 15:50] astorfi commented on #749
@ThomasA About the docstring for modules you are absolutely correct. I am modifying the repo as you suggested and will investigate the rest afterwards.

[2018-06-28 16:00] Kevin-Mattheus-Moerman commented on #782
@dhhagan great it looks like we are nearly there. @dhhagan
1) About the citation for `doceme 2015`, the author name field is a github name. Perhaps this is okay but it would be nice if we could replace this by a human name. I cannot see the name of this author either so perhaps we are forced to do it that way. @doceme How can we best cite you here?

@arfon
1) Do you know if the citations `(doceme

[2018-06-28 16:12] doceme commented on #782
I just added my name (Stephen Caudle) to my profile. Feel free to use that.

[2018-06-28 16:17] astorfi commented on #749
@ThomasA Just added docstrings for modules. Please kindly send me your feedback.

[2018-06-28 16:17] astorfi commented on #749
@ThomasA @arfon About the "+" es, I just check it and you are correct. I changed them to "*" es with some space. However, I do not know how to render PDF to see if it resolved the issue.

[2018-06-28 16:19] Kevin-Mattheus-Moerman commented on #782
@dhhagan @doceme wow this open peer review thing really works well eh: :rocket: :robot:

[2018-06-28 16:23] doceme commented on #782
@Kevin-Mattheus-Moerman Open FTW!

[2018-06-28 16:35] Kevin-Mattheus-Moerman commented on #782
Nice @dhhagan. Now I'll just wait for @arfon to weigh in on my questions about those references but other than that we are in good shape.

[2018-06-28 16:39] doceme commented on #782
@Kevin-Mattheus-Moerman Done.

[2018-06-28 16:41] arfon commented on #782
This can be fixed by citing the papers like this `[@py_spidev; @py_usbiss]`

I think this is because these are type `online`. The `Crilley:2018` reference should be `article` type which will remove the extra date.

[2018-06-28 16:42] dhhagan commented on #782
@whedon generate pdf

[2018-06-28 16:42] whedon commented on #782
[code]

[2018-06-28 16:43] whedon commented on #782
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00782/joss.00782/10.21105.joss.00782.pdf)

[2018-06-28 16:49] tshu commented on #782
@dhhagan The references have been fixed, and I have checked off all review points. The device itself has been left with @Kevin-Mattheus-Moerman for pickup.

As an additional note, the readme mentions that only python3 is supported for USB-SPI, though installation instructions through pip are for python2. It's a minor thing, but perhaps a one liner about how the installation can be run with pip3 wo

[2018-06-28 16:55] astorfi commented on #749
@ThomasA As you kindly suggested, I added a contributing section in the README as well as how to declare and follow issues. However, about ``seeking support aspects`` that you mentioned, I need a little bit more clarification if possible.

[2018-06-28 18:34] bocklund commented on #793
@katyhuff @lucydot I would be happy to review this.

[2018-06-28 18:42] mkhorton commented on #793
@katyhuff @lucydot  I'd be happy to review too

[2018-06-28 18:46] astorfi commented on #749
@ThomasA  About creating test cases, I am working on it and will get back with the updated information.

[2018-06-28 19:00] Kevin-Mattheus-Moerman commented on #782
@dhhagan thanks for amending the paper. Two tiny things and we are done here.

1) Consider implementing the suggestion by @tshu in relation to the readme.
2) @doceme created a DOI for citing his work, see here: https://zenodo.org/record/1299863#.WzUvXhwh1G8
So please could you replace the citation with:
[code]
Once you've done these steps, please regenerate the paper here and archive a version of

[2018-06-28 19:14] steffilazerte commented on #791
The premis of `stacomiR` is to provide access to data base for monitoring fish migration in a user-friendly way. This is a great idea! I think it's really important to provide access to large biological data sets, especially in a way that is inclusive and which helps users who aren't familiar with R. The amount of work that has gone into this R package is also substantial and I'm eager to see it i

[2018-06-28 19:32] dhhagan commented on #782
@whedon generate pdf

[2018-06-28 19:33] whedon commented on #782
[code]

[2018-06-28 19:33] whedon commented on #782
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00782/joss.00782/10.21105.joss.00782.pdf)

[2018-06-28 19:35] dhhagan commented on #782
Should be good to go:

Zenodo DOI: DOI: 10.5281/zenodo.1299205
Final reviewed version: v1.6.0

[2018-06-28 19:42] Kevin-Mattheus-Moerman commented on #782
Awesome :tada: @arfon over to you, please proceed to accept this submission. Note the DOI and changed version number cited by @dhhagan.

[2018-06-28 19:57] hooman650 commented on #671
Dear @Kevin-Mattheus-Moerman could you please provide a path forward in regards to this paper please? :) It has been almost 3 month that this threat has been opened .... thanks in advance

[2018-06-28 20:14] dgasmith commented on #753
@arfon Great: https://zenodo.org/record/1299981

As a note I made a minor typo fix to the paper here: https://github.com/dgasmith/opt_einsum/commit/b08d789873852074833b608b3ba665b2816d4eae

[2018-06-28 21:11] vyasr commented on #787
@labarba at this point I don't need to do anything else until the other reviewer begins his review, correct? Just want to make sure I'm not holding up the process.

[2018-06-28 21:46] lheagy commented on #566
👋 Hi @jarvist: just checking in. Can you please ping here when you are happy with the status of your progress on jarvist/PolaronMobility.jl#1. It is fine to leave this review issue open for a while as you work on it, I just want to make sure it doesn't get forgotten.

[2018-06-28 21:47] lheagy commented on #778
👋 Hi @arfon and @viktor76525: I would be happy to be the editor on this submission

[2018-06-28 22:19] jjatria commented on #749
I have been trying to find time to take a look at this, and I just don't think I'll be able to.
Apologies for the trouble.

[2018-06-28 23:45] whedon opened #796 "[PRE REVIEW]: The hhi Package: Streamlined Calculation and Visualization of Herfindahl-Hirschman Index Scores"
**Submitting author:** @pdwaggoner (<a href="http://orcid.org/0000-0002-7825-7573">Philip D. Waggoner</a>)
**Repository:** <a href="https://github.com/pdwaggoner/hhi" target ="_blank">https://github.com/pdwaggoner/hhi</a>
**Version:** v1.1.0
**Editor:** @leeper
**Reviewers:** @cskovron

**Author instructions**

Thanks for submitting your paper to JOSS @pdwaggoner. The JOSS editor (shown at the top

[2018-06-28 23:45] whedon commented on #796
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-28 23:45] whedon commented on #796
[code]

[2018-06-28 23:45] whedon commented on #796
PDF failed to compile for issue #796 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f/lib/whedon.rb:80:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e6d124d0f/lib/whedon.rb:68:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-195e

[2018-06-29 00:44] labarba commented on #787
Yes, @vyasr, hang tight. The second reviewer will start soon: I know he had commitments running up to this weekend.

[2018-06-29 01:11] ericfranz commented on #622
NSF would like us to add an acknowledgement to the paper. After updating the paper.md file to contain an Acknowledgements section similar to what I see in other JOSS publications, what is the next step to get the PDF to be regenerated? https://github.com/OSC/Open-OnDemand/issues/44

[2018-06-29 07:35] ThomasA commented on #749
@arfon more general question; how is it handled when a review leads to some revisions - like here? The tagged version 2.3 of the repository will be out-dated by the revisions discussed here. Should the collected revisions be released as 2.3.1 and the paper here updated to refer to that version?

[2018-06-29 07:35] ThomasA commented on #749
@whedon commands

[2018-06-29 07:35] whedon commented on #749
Here are some things you can ask me to do:

[code]

[2018-06-29 07:36] ThomasA commented on #749
Hmm, I dunno - let's try:
@whedon generate pdf

[2018-06-29 07:37] ThomasA commented on #749
@whedon generate pdf

[2018-06-29 07:37] whedon commented on #749
[code]

[2018-06-29 07:37] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-06-29 07:39] ThomasA commented on #749
Yay, it works! @astorfi the bullet list comes out right now.

[2018-06-29 07:43] ThomasA commented on #749
I need to be careful not to get too picky here, but I can perhaps recommend you run `pycodestyle` on your modules to get [PEP8](https://www.python.org/dev/peps/pep-0008/) code style recommendations? Over-long lines of text in docstrings are a bit annoying to read in terminals...

[2018-06-29 08:31] cclauss commented on #749
https://github.com/astorfi/speechpy/pull/19 runs http://flake8.pycqa.org testing which is a superset of PyCodeStyle (fka PEP8) + PyFlakes + McCabe complexity + syntax checking.

[2018-06-29 08:38] ThomasA commented on #749
@cclauss sounds like a good idea. Fixing for example over-long lines would be nice.

[2018-06-29 09:08] ajjackson commented on #793
I'm happy to review this

[2018-06-29 10:18] lucydot commented on #793
@whedon generate pdf

[2018-06-29 10:18] whedon commented on #793
[code]

[2018-06-29 10:18] arfon commented on #791
Thanks for your details review @steffilazerte. @MarionLegrandLogrami  - please take a look at @steffilazerte's feedback.

[2018-06-29 10:19] arfon commented on #782
@whedon set 10.5281/zenodo.1299205 as archive

[2018-06-29 10:19] whedon commented on #782
OK. <a href="http://dx.doi.org/10.5281/zenodo.1299205" target="_blank">10.5281/zenodo.1299205</a> is the archive.

[2018-06-29 10:19] whedon commented on #793
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00793/joss.00793/10.21105.joss.00793.pdf)

[2018-06-29 10:28] arfon commented on #622
Please add the language to your `paper.md` file in the `master` branch of your repository and we can regenerate it.

[2018-06-29 10:30] arfon commented on #749
Yes, we'll just update the revision at the end of the review (when the archive of the code is made).

[2018-06-29 11:37] ThomasA commented on #749
I have proposed some minor revisions of your docstrings in https://github.com/astorfi/speechpy/pull/21.

[2018-06-29 11:39] ThomasA commented on #749
I think you have got this covered by "technical and conceptual questions".

[2018-06-29 13:08] virgesmith commented on #783
Proof looks fine to me thanks

[2018-06-29 14:00] arfon commented on #780
Looks like this is because of the `&` in the title. I can't seem to figure out how to get Pandoc to escape it properly. A quick fix would be to change `&` to `and`.

[2018-06-29 14:05] vyasr commented on #787
No problem, as long as I'm not expected to do anything to alert him that it's ready. Whenever the review commences is fine with me.

[2018-06-29 14:18] IbrahimTanyalcin commented on #780
I guess &amp; would work. Let's give it a try, I'll push paper.md again

[2018-06-29 14:21] IbrahimTanyalcin commented on #780
Updated.

[2018-06-29 15:04] jarvist commented on #566
Hi @lheagy  - thanks for the reminder! I've updated the codes to work with the latest upstream packages, and integrated wkearn's suggestion for how to get PlotPolaron working on an ad-hoc basis at least.
I think getting the inbuilt plotting working for users was the last sticking point? If you are happy to close https://github.com/jarvist/PolaronMobility.jl/issues/1 with https://github.com/jarvist

[2018-06-29 15:13] cdcrabtree commented on #772
@leeper I've finished my review. Everything looks great here.

[2018-06-29 15:18] karthik commented on #714
@arfon Several declines, have approached more folks.

[2018-06-29 16:35] strengejacke commented on #772
Thanks, Charles, for reviewing my submission! I have created a new release that includes all reviewer suggestions and created a doi for this version, which can be used for the submitted paper:

https://doi.org/10.5281/zenodo.1301148

[2018-06-29 17:58] JeanBilheux commented on #751
I know Stuart Campbell background and I think he is the perfect candidate to review this package.
scampbell@bnl.gov

[2018-06-29 18:21] leeper commented on #772
@whedon set 10.5281/zenodo.1301148 as archive

[2018-06-29 18:21] whedon commented on #772
OK. <a href="http://dx.doi.org/10.5281/zenodo.1301148" target="_blank">10.5281/zenodo.1301148</a> is the archive.

[2018-06-29 18:22] leeper commented on #772
@cdcrabtree Thank you very much for the quick review!

[2018-06-29 18:22] leeper commented on #772
@arfon Over to you.

[2018-06-29 18:56] arfon commented on #772
@cdcrabtree - many thanks for your review here and to @leeper for editing this submission ✨

@strengejacke - your paper is now accepted into JOSS and your DOI is http://joss.theoj.org/papers/10.21105/joss.00772 :zap: :rocket: :boom:

[2018-06-29 18:56] #772 closed

[2018-06-29 18:56] whedon commented on #772
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00772/status.svg)](https://doi.org/10.21105/joss.00772)

**We need your help!**

Journal of Open Source Software

[2018-06-29 19:14] astorfi commented on #749
@cclauss  Thank you!

[2018-06-29 19:15] astorfi commented on #749
@ThomasA  Thank you for all the suggestions. I will investigate them and will get back with the possible changes.

[2018-06-29 20:37] costrouc commented on #724
Just checking in. @katyhuff should I look for another reviewer? I understand if you do not have the time.

[2018-06-29 20:39] katyhuff commented on #793
@whedon set @bocklund as reviewer

[2018-06-29 20:40] katyhuff commented on #793
@whedon assign @bocklund as reviewer

[2018-06-29 20:40] whedon commented on #793
OK, the reviewer is @bocklund

[2018-06-29 20:41] katyhuff commented on #793
@whedon assign @mkhorton as reviewer

[2018-06-29 20:41] whedon commented on #793
OK, the reviewer is @mkhorton

[2018-06-29 20:41] katyhuff commented on #793
@whedon assign @ajjackson as reviewer

[2018-06-29 20:41] whedon commented on #793
OK, the reviewer is @ajjackson

[2018-06-29 20:42] katyhuff commented on #793
@whedon start review magic-word=bananas

[2018-06-29 20:42] arfon commented on #793
@katyhuff - if you want to add a second reviewer you need to do:

[code]

`assign` clobbers the existing assignments.

[2018-06-29 20:42] whedon opened #797 "[REVIEW]: effmass: An effective mass package"
**Submitting author:** @lucydot (<a href="http://orcid.org/0000-0002-2992-9871">Lucy Whalley</a>)
**Repository:** <a href="https://github.com/lucydot/effmass" target ="_blank">https://github.com/lucydot/effmass</a>
**Version:** v1.0.b1
**Editor:** @katyhuff
**Reviewers:** @ajjackson @bocklund @@mkhorton
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/389754561f0710b756514b

[2018-06-29 20:42] whedon commented on #793
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/797. Feel free to close this issue now!

[2018-06-29 20:42] whedon commented on #797
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ajjackson it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-06-29 20:42] whedon commented on #797
[code]

[2018-06-29 20:43] whedon commented on #797
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00797/joss.00797/10.21105.joss.00797.pdf)

[2018-06-29 20:44] katyhuff commented on #793
@arfon Thanks -- ok. I'll delete #797 and fix this.

[2018-06-29 20:45] katyhuff commented on #793
@whedon add @mkhorton as reviewer

[2018-06-29 20:45] whedon commented on #793
OK, @mkhorton is now a reviewer

[2018-06-29 20:46] katyhuff commented on #793
@whedon add @bocklund as reviewer

[2018-06-29 20:46] whedon commented on #793
OK, @bocklund is now a reviewer

[2018-06-29 20:46] katyhuff commented on #793
@whedon start review magic-word=bananas

[2018-06-29 20:47] katyhuff commented on #793
@arfon ... do you think I broke it?

[2018-06-29 20:47] katyhuff commented on #793
@whedon start review magic-word=bananas

[2018-06-29 20:53] katyhuff commented on #793
Ok team, I messed up the command for adding reviewers and may need to do a little fixing. Thanks for your patience.

[2018-06-29 20:57] katyhuff commented on #793
Hi @bocklund @mkhorton @ajjackson @lucydot , we'll be conducting the review over in  #797 . Let's move over there. I've now fixed it manually so it should have one review checklist for each reviewer. Thanks!

[2018-06-29 20:57] #793 closed

[2018-06-29 20:59] arfon commented on #793
Looks like you've fixed it up @katyhuff 🤘

[2018-06-29 21:02] katyhuff commented on #724
@costrouc So sorry -- I somehow completely missed this one.

[2018-06-29 21:03] katyhuff commented on #724
Hi @bjmorgan @jochym @ledius @trallard @yxqd ,  It seems to me you would be excellent reviewers for this submission. Are you willing to be assigned to review this software paper submission concerning pysrim: Automation, Analysis, and Plotting of SRIM Calculations? We'll need at least two volunteers, but the more the merrier. Information about being a reviewer can be found here : http://joss.theoj.

[2018-06-29 21:07] katyhuff commented on #793
![bitmoji](https://render.bitstrips.com/v2/cpanel/e9a40b87-8129-485c-a15d-60146ac75920-aef391d1-ee2a-4ffc-b1c7-1c24444a7cae-v1.png?transparent=1&palette=1&width=246)

[2018-06-29 21:11] katyhuff commented on #712
Hi @mdoucet and @gonsie -- - It seems to me you would be excellent reviewers for this submission. Are you willing to be assigned to review this software paper submission? We'll need at least two volunteers, but the more the merrier. Information about being a reviewer can be found here : http://joss.theoj.org/about#reviewer_guidelines .

[2018-06-29 21:12] katyhuff commented on #712
@whedon generate pdf

[2018-06-29 21:12] whedon commented on #712
[code]

[2018-06-29 21:12] strengejacke commented on #772
Thanks a lot to all of you - including whedon ;-)

[2018-06-29 21:12] whedon commented on #712
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00712/joss.00712/10.21105.joss.00712.pdf)

[2018-06-29 22:01] astorfi commented on #749
@whedon generate pdf

[2018-06-29 22:01] whedon commented on #749
[code]

[2018-06-29 22:02] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-06-29 23:30] astorfi commented on #749
@ThomasA The modules and functions related to SpeechPy, have been modified to be ai aligned with [PEP 8 -- Style Guide for Python Code](https://www.python.org/dev/peps/pep-0008/#fn-hi).

[2018-06-30 00:33] mdoucet commented on #712
I'll be happy to help review this submission.

[2018-06-30 03:55] astorfi commented on #749
@ThomasA  Tests has been added as well. Although there is room for improvement as well. However, I added the tests for different parts for continuous integration as well. Example usage has been separated.

[2018-06-30 04:08] astorfi commented on #749
@whedon generate pdf

[2018-06-30 04:08] whedon commented on #749
[code]

[2018-06-30 04:08] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-06-30 04:08] astorfi commented on #749
@whedon generate pdf

[2018-06-30 04:08] whedon commented on #749
[code]

[2018-06-30 04:09] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-06-30 12:17] whedon opened #798 "[PRE REVIEW]: proEQUIB - IDL Library for Plasma Diagnostics and Abundance Analysis"
**Submitting author:** @danehkar (<a href="http://orcid.org/0000-0003-4552-5997">Ashkbiz Danehkar</a>)
**Repository:** <a href="https://github.com/equib/proEQUIB" target ="_blank">https://github.com/equib/proEQUIB</a>
**Version:** v0.0.6
**Editor:** @arfon
**Reviewers:** @mdpiper, @mgalloy

**Author instructions**

Thanks for submitting your paper to JOSS @danehkar. The JOSS editor (shown at the t

[2018-06-30 12:17] whedon commented on #798
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-30 12:17] whedon commented on #798
[code]

[2018-06-30 12:17] whedon opened #799 "[PRE REVIEW]: AtomNeb: Atomic Data for Ionized Nebulae"
**Submitting author:** @danehkar (<a href="http://orcid.org/0000-0003-4552-5997">Ashkbiz Danehkar</a>)
**Repository:** <a href="https://github.com/atomneb/AtomNeb-idl" target ="_blank">https://github.com/atomneb/AtomNeb-idl</a>
**Version:** v0.0.1
**Editor:** @arfon
**Reviewers:** @mgalloy, @mdpiper

**Author instructions**

Thanks for submitting your paper to JOSS @danehkar. The JOSS editor (show

[2018-06-30 12:17] whedon commented on #799
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-30 12:17] whedon commented on #799
[code]

[2018-06-30 12:17] whedon opened #800 "[PRE REVIEW]: DeGAUSS: Decentralized Geomarker Assessment for Multi-Site Studies"
**Submitting author:** @cole-brokamp (<a href="http://orcid.org/0000-0002-0289-3151">Cole Brokamp</a>)
**Repository:** <a href="https://github.com/cole-brokamp/DeGAUSS" target ="_blank">https://github.com/cole-brokamp/DeGAUSS</a>
**Version:** v0.2
**Editor:** @pjotrp
**Reviewers:** @vsoch, @george-githinji

**Author instructions**

Thanks for submitting your paper to JOSS @cole-brokamp. The JOSS e

[2018-06-30 12:17] whedon commented on #800
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-06-30 12:17] whedon commented on #800
[code]

[2018-06-30 12:17] whedon commented on #798
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00798/joss.00798/10.21105.joss.00798.pdf)

[2018-06-30 12:18] whedon commented on #799
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00799/joss.00799/10.21105.joss.00799.pdf)

[2018-06-30 12:18] arfon commented on #800
:wave: @pjotrp - the submitting author suggested you as the handling editor.

[2018-06-30 12:18] whedon commented on #800
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00800/joss.00800/10.21105.joss.00800.pdf)

[2018-06-30 12:22] whedon opened #801 "[PRE REVIEW]: DynaML: Scala Library/REPL for Machine Learning Research"
**Submitting author:** @mandar2812 (<a href="http://orcid.org/0000-0001-6025-7113">Mandar Chandorkar</a>)
**Repository:** <a href="https://github.com/transcendent-ai-labs/DynaML" target ="_blank">https://github.com/transcendent-ai-labs/DynaML</a>
**Version:** v1.5.3-beta.2
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @mandar2812. The

[2018-06-30 12:22] whedon commented on #801
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-06-30 12:22] whedon commented on #801
[code]

[2018-06-30 12:22] whedon commented on #801
PDF failed to compile for issue #801 with the following error:

 Can't find any papers to compile :-(

[2018-06-30 13:07] cole-brokamp commented on #800
Hi @whedon , I've updated the paper in the DeGAUSS repository based on the article proof above.  Please recompile.

[2018-06-30 13:20] cole-brokamp commented on #800
Based on the list of existing JOSS reviewers, I feel that @nuest @jhollist @vsoch @sgrieve would all make great reviewers.

[2018-06-30 16:21] trallard commented on #724
Hi @katyhuff I am currently on leave and commited to review #742 upon my return. If you've not found anyone else for this after this I can definitely take this one up.

[2018-06-30 17:16] mandar2812 commented on #801
@whedon commands

[2018-06-30 17:16] whedon commented on #801
Here are some things you can ask me to do:

[code]

[2018-06-30 17:16] mandar2812 commented on #801
@whedon generate pdf

[2018-06-30 17:16] whedon commented on #801
[code]

[2018-06-30 17:16] whedon commented on #801
PDF failed to compile for issue #801 with the following error:

 Can't find any papers to compile :-(

[2018-06-30 19:15] pdwaggoner commented on #796
Thanks for getting this going!  Are you waiting for something from me?

[2018-06-30 19:21] ledius commented on #724
Hi
I am at vacation until mid july, but after that I am apple to do the review if still needed.

Best regards,
Matti Ropo

30. kesäkuuta 2018 0.03.21 GMT+03:00 Katy Huff <notifications@github.com> kirjoitti:

--
Lähetetty Android-laitteestani K-9 Maililla. Pahoittelut vähäsanaisuudestani.

[2018-07-01 00:38] soodoku commented on #728
@arfon: working on it right now.

[2018-07-01 01:28] arfon commented on #801
@mandar2812 - @whedon can't compile your paper as the repository address you submitted isn't valid. Can you please share the address to the repo?

[2018-07-01 01:29] arfon commented on #796
👋 @pdwaggoner. We'll need an editor to volunteer to handle this submission before we can get going. In the meantime could you take a look at addressing the compilation error? It looks like the YAML header for your paper is malformed.

[2018-07-01 12:22] arfon commented on #801
@whedon generate pdf

[2018-07-01 12:22] whedon commented on #801
[code]

[2018-07-01 12:23] whedon commented on #801
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00801/joss.00801/10.21105.joss.00801.pdf)

[2018-07-01 12:28] whedon opened #802 "[PRE REVIEW]: DynaML: Scala Library/REPL for Machine Learning Research"
**Submitting author:** @mandar2812 (<a href="http://orcid.org/0000-0001-6025-7113">Mandar Chandorkar</a>)
**Repository:** <a href="https://github.com/transcendent-ai-labs/DynaML" target ="_blank">https://github.com/transcendent-ai-labs/DynaML</a>
**Version:** v1.5.3-beta.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @tovbinm

**Author instructions**

Thanks for submitting your paper to JOSS

[2018-07-01 12:28] whedon commented on #802
PDF failed to compile for issue #802 with the following error:

 Can't find any papers to compile :-(

[2018-07-01 12:28] #801 closed

[2018-07-01 12:28] arfon commented on #801
Closing as it appears to be a dup of #802

[2018-07-01 12:28] arfon commented on #802
@whedon generate pdf

[2018-07-01 12:29] whedon commented on #802
[code]

[2018-07-01 12:30] whedon commented on #802
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00802/joss.00802/10.21105.joss.00802.pdf)

[2018-07-01 13:49] sgrieve commented on #800
This looks like really interesting work! Unfortunately I'm not familiar enough with R to review this adequately.

[2018-07-01 16:17] danehkar commented on #799
Based on your list of joss reviewers, I think that @mgalloy @Scivision @Mankoff would be great reviewers for IDL programs.

[2018-07-01 16:18] danehkar commented on #798
Based on your list of joss reviewers, I think that @mgalloy @Scivision @Mankoff would be great reviewers for IDL programs.

[2018-07-01 16:19] lheagy commented on #566
Thanks @jarvist.
👋 @yxqd: Thanks for all of your work on this review. Would you be willing to take another look at jarvist/PolaronMobility.jl#1, and if you see that it has been addressed, feel free to close the issue. Thanks!

[2018-07-01 16:32] vsoch commented on #800
I am doing a trip followed by a cross country move starting next week, so I can't review imminently, but I'd be available at the end of July or early August!

I don't think R as a predominant language is totally necessary because the actual executable to review would be a container. For everyone in this thread, here is a direct link to the repo to help decide if you would be a suitable reviewer --

[2018-07-01 18:52] cole-brokamp commented on #800
@vsoch makes a good point. In fact, this software is designed for users that don’t use R at all. Most of the end users hardly have any experience with command line programming at all.

[2018-07-01 19:28] mhvk commented on #770
@kyleniemeyer - with @Cadair already reviewing, I feel adding me would not add much and perhaps make the review too "astropy biased".

[2018-07-01 20:07] arfon commented on #800
We don't label submissions as such yet but I can definitely see the argument for doing so...

[2018-07-01 20:44] nirum commented on #792
Added a couple of issues to the project repo. In general, looks great! I was able to install the code and run the example easily.

[2018-07-01 20:56] soodoku commented on #728
Please fix:

1. https://github.com/casics/dassie/issues/5
2. https://github.com/casics/dassie/issues/4
3. https://github.com/casics/dassie/issues/1

[2018-07-02 08:35] mandar2812 commented on #802
@arfon Thanks for helping with the pdf compilation! cc @whedon

From the list of joss reviewers I see that

@rougier @nilesh-patil @xirdneh and @abuccts are interested in reviewing machine learning related submissions, although this is not an exhaustive list, I guess its a start.

[2018-07-02 13:55] ericfranz commented on #622
@arfon ok the paper.md has been updated

[2018-07-02 14:36] leeper commented on #796
@whedon assign @leeper as editor

[2018-07-02 14:36] whedon commented on #796
OK, the editor is @leeper

[2018-07-02 14:39] leeper commented on #796
@pdwaggoner Thanks for your submission. In order to review it, we'll need the repository to be in standard R package form (as in the form you build using `R CMD build` containing `/R`, `/man`, `/tests` directories) not isolated R code files.

[2018-07-02 14:43] leeper commented on #783
@soodoku Would you be interested in reviewing this for JOSS?

[2018-07-02 14:47] christophM commented on #786
Hi @arfon, I just talked to @leeper about the possibilty to add an author to the paper after publishing.
When I wrote the paper, I (falsely) assumed that only code contributors can be authors.

It would be really great if I could update the paper with authors that also contributed conceptually.

@leeper mentioned that it might be possible.
@arfon is it possible to update the list of authors?

Than

[2018-07-02 14:48] soodoku commented on #783
sure.

[2018-07-02 15:54] leeper commented on #783
@whedon assign @leeper as editor

[2018-07-02 15:54] whedon commented on #783
OK, the editor is @leeper

[2018-07-02 15:55] leeper commented on #783
@whedon assign @soodoku as reviewer

[2018-07-02 15:55] whedon commented on #783
OK, the reviewer is @soodoku

[2018-07-02 16:00] leeper commented on #783
@whedon start review magic-word=bananas

[2018-07-02 16:00] whedon opened #803 "[REVIEW]: ukpopulation: UK Demographic Projections"
**Submitting author:** @virgesmith (<a href="http://orcid.org/0000-0002-9951-6642">Andrew Smith</a>)
**Repository:** <a href="https://github.com/nismod/ukpopulation" target ="_blank">https://github.com/nismod/ukpopulation</a>
**Version:** 1.0.1
**Editor:** @leeper
**Reviewer:** @soodoku
**Archive:** <a href="https://doi.org/10.5281/zenodo.1328267" target="_blank">10.5281/zenodo.1328267</a>

## Sta

[2018-07-02 16:00] whedon commented on #783
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/803. Feel free to close this issue now!

[2018-07-02 16:00] whedon commented on #803
[code]

[2018-07-02 16:00] whedon commented on #803
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00803/joss.00803/10.21105.joss.00803.pdf)

[2018-07-02 16:12] leeper commented on #803
@soodoku Review checklist is here. Please open an issue on the source repo for anything that is missing, or any other changes you would like to see in the software. Let me know if you have questions. And thanks for volunteering to review!

[2018-07-02 16:12] #783 closed

[2018-07-02 17:00] cole-brokamp commented on #800
@whedon generate pdf

[2018-07-02 17:00] whedon commented on #800
[code]

[2018-07-02 17:01] whedon commented on #800
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00800/joss.00800/10.21105.joss.00800.pdf)

[2018-07-02 17:57] mandar2812 commented on #802
@whedon commands

[2018-07-02 17:57] whedon commented on #802
Here are some things you can ask me to do:

[code]

[2018-07-02 20:04] lheagy commented on #778
👋 Hi @viktor76525, do you have any suggestions for reviewers?

@leouieda: This might be of interest? I know you have done a number of reviews recently though, so no worries if your plate is full. If you have any suggestions of other GMT  / python users who might be intrigued by this submission - I would appreciate your input!

[2018-07-02 20:17] mandar2812 commented on #802
@whedon list editors

[2018-07-02 20:17] whedon commented on #802
Current editors:

[code]

[2018-07-02 20:33] mandar2812 commented on #802
@acabunoc: It would be super awesome if you want to be the editor for my manuscript on DynaML. I'm new to the JOSS process so don't really know how things work. But if you are interested, I can ask @whedon to assign you as the editor.

[2018-07-02 21:02] leouieda commented on #778
@lheagy I was actually taking a look at this and would like to review it. I might take a while, though, with Scipy coming up next week. Would that be OK?

I think @seisman and @joa-quim might be interested in reviewing this as well.

[2018-07-02 21:02] leouieda commented on #778
@viktor76525 the youtube movie looks amazing!

[2018-07-02 21:41] ashleefv commented on #718
DOI: 10.5281/zenodo.1303422

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1303422.svg)](https://doi.org/10.5281/zenodo.1303422)

[2018-07-02 21:54] viktor76525 commented on #778
@lheagy looking at the list I can see @hugoledoux, @sgrieve might also be a good match. Not too worried about time here.

[2018-07-03 00:23] whedon opened #804 "[PRE REVIEW]: mzEasy"
**Submitting author:** @chasemc (<a href="http://orcid.org/0000-0001-6439-9397">Chase M Clark</a>)
**Repository:** <a href="https://github.com/chasemc/mzEasy" target ="_blank">https://github.com/chasemc/mzEasy</a>
**Version:** 0.1.0
**Editor:** @arfon
**Reviewers:** @biswapriyamisra, @mwang87

**Author instructions**

Thanks for submitting your paper to JOSS @chasemc. The JOSS editor (shown at the

[2018-07-03 00:23] whedon commented on #804
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-03 00:23] whedon commented on #804
[code]

[2018-07-03 05:58] Kevin-Mattheus-Moerman commented on #718
Thanks @ashleefv. @arfon we are good to accept here. Above is the DOI and the version is now at v2.0.

[2018-07-03 06:39] chasemc commented on #804
I did some searching but am currently unsure the reason the PDF isn't compiling.

@biswapriyamisra may be suited for this review

[2018-07-03 08:00] gonsie commented on #712
I am happy to help review this submission.

[2018-07-03 08:02] ThomasA commented on #749
The former test scripts are now used as usage examples and likewise shown in the README. I think this is fine now.

[2018-07-03 08:07] ThomasA commented on #749
There are now automated tests using `pytest` in the 'tests' folder. They are not overly thorough (the coverage seems a bit low and the tests mostly check details like correct shape of outputs), but some testing is better than none and now it has a testing framework set up that more tests can easily be added to.

[2018-07-03 08:10] ThomasA commented on #749
As far as I am concerned, I am done with the review and can **recommend publication**.
If you like, @astorfi , I can nitpick and style-comb the repository a bit more, but I am trying not to get too intrusive :-)

[2018-07-03 08:19] paulklemm commented on #549
Also ready to proceed, require issue https://github.com/mpg-age-bioinformatics/bit/issues/8 to be solved to test the software.

[2018-07-03 08:44] pjotrp commented on #800
This is an interesting method for sure. I can be an editor if @vsoch is happy to review. There is no hurry.

[2018-07-03 08:45] pjotrp commented on #800
@whedon assign @pjotrp as editor

[2018-07-03 08:45] whedon commented on #800
OK, the editor is @pjotrp

[2018-07-03 08:46] pjotrp commented on #753
Thanks @arfon!

[2018-07-03 11:22] arfon commented on #622
I've updated the PDF too. This may take a few hours to show up on the live site due to the caching we do.

[2018-07-03 11:24] arfon commented on #786
Yes, please update the `paper.md` in your `master` branch of the repository and give me a shout when you've done so.

[2018-07-03 11:29] arfon commented on #718
@sdelandtsheer - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@ashleefv - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00718 :zap: :rocket: :boom:

[2018-07-03 11:29] #718 closed

[2018-07-03 11:29] whedon commented on #718
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00718/status.svg)](https://doi.org/10.21105/joss.00718)

**We need your help!**

Journal of Open Source Software

[2018-07-03 11:29] arfon commented on #804
@whedon generate pdf

[2018-07-03 11:29] whedon commented on #804
[code]

[2018-07-03 11:30] whedon commented on #804
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00804/joss.00804/10.21105.joss.00804.pdf)

[2018-07-03 11:31] arfon commented on #749
Thanks @ThomasA! @jjatria - when you do you think you might be able to complete your review by?

[2018-07-03 13:40] ashleefv commented on #718
Can we still do this?

My last name is Ford Versypt, two words without a hyphen. Is there a way to
make the auto citation at the bottom of the article to include the Ford
part without including a hyphen?

There is, but I'll have to do this manually before finishing up the paper
acceptance. Please remind me to do this when we're done with the review.

Ashlee N. Ford Versypt, Ph.D.
Assistant Profess

[2018-07-03 14:16] arfon commented on #718
Sure thing. I've just updated the paper. This may take a few hours to show as updated on the JOSS site as the PDFs are cached.

[2018-07-03 14:56] christophM commented on #786
Thanks @arfon.
I updated the `paper.md` in the `master`. Let me know if there are any more actions I have to take.

[2018-07-03 15:14] arfon commented on #786
👍 this should be updated on the JOSS site now. It can take a few hours to update due to caching.

[2018-07-03 15:23] christophM commented on #786
Great, thanks a lot!

[2018-07-03 15:25] astorfi commented on #749
@ThomasA  Thank you so much for your suggestions, modifications, and review. You are always welcome to propose changes in the repo.

[2018-07-03 15:30] astorfi commented on #749
Hey @arfon. As @jjatria  Mentioned here, he might not be able to do it.
If possible, please propose a new reviewer.

[2018-07-03 15:42] lheagy commented on #778
Thanks @leouieda and @viktor76525! @leouieda, getting the review in after SciPy is fine - enjoy the conference

[2018-07-03 15:42] lheagy commented on #778
@whedon assign @leouieda as reviewer

[2018-07-03 15:42] whedon commented on #778
OK, the reviewer is @leouieda

[2018-07-03 15:43] lheagy commented on #778
👋 Hi @seisman, @joa-quim, @hugoledoux, and @sgrieve: would any of you be willing and interested to assist with this review?

[2018-07-03 16:44] pjotrp commented on #800
@george-githinji are you Ok to review?

[2018-07-03 16:49] arfon commented on #30
@karantibrewal - please revisit this review when you get a chance. It would be good to get this closed out.

[2018-07-03 16:54] arfon commented on #774
@lmullen & @alexgarciac - please remember to review this package when you get a chance.

[2018-07-03 16:54] arfon commented on #780
@whedon generate pdf

[2018-07-03 16:54] whedon commented on #780
[code]

[2018-07-03 16:55] whedon commented on #780
PDF failed to compile for issue #780 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    351      0 --:--:-- --:--:-- --:--:--   355
Error producing PD

[2018-07-03 17:05] george-githinji commented on #800
I have some immediate deadlines and I will only have a proper look from mid next week. If you get a second reviewer that will be great. Thanks.

[2018-07-03 17:14] borishejblum commented on #774
Below are my comments on the review items I could not check off (those are very minors and should be easy to fix):
**General checks**
 - License: missing a plain-text GPL-3 licence file in the GitHub repo (only a html file is present). I suggest adding a LICENSE file at the root of the package and adding it to .Rbuildignore to adhere to CRAN policies
 - Version: is it v1.2 or v1.3 ? I am getting c

[2018-07-03 17:20] borishejblum commented on #774
My comments are here https://github.com/quanteda/quanteda/issues/1393

[2018-07-03 17:39] IbrahimTanyalcin commented on #780
Oww, I yield, :man_facepalming:  I will replace with  and.

[2018-07-03 17:41] IbrahimTanyalcin commented on #780
Done!

[2018-07-03 17:44] arfon commented on #780
@whedon generate pdf

[2018-07-03 17:44] whedon commented on #780
[code]

[2018-07-03 17:44] whedon commented on #780
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00780/joss.00780/10.21105.joss.00780.pdf)

[2018-07-03 18:55] biswapriyamisra commented on #804
I am willing to do a peer-review as an invited reviewer.

Thanks,
Biswa

[2018-07-03 20:47] joa-quim commented on #778
Well, I wouldn't mind help the review but the condition of "Linux only" is not for me. I'm a Windows guy. And also, Python is not a language that I practice. So, I don't think I would be very helpful.

[2018-07-03 21:06] dgasmith commented on #753
Thanks everyone! Glad this is in.

[2018-07-03 22:20] jedbrown commented on #781
@dflemin3 *bump* Do you have a time frame in which to address https://github.com/dflemin3/approxposterior/issues/21?

[2018-07-04 01:11] pdwaggoner commented on #796
@arfon Thanks for this. I have updated the YAML header. Should be good to go now. Thanks for catching this. Also, @leeper thanks so much for serving as editor and for the guidance. I have included the standard R package form in my hhi repository. I think everything should be in there and good to go. Let me know if you need anything or else, or if you find another oversight. Many thanks.

[2018-07-04 05:47] leeper commented on #796
@pdwaggoner To clarify, the repo should contain all the code such that it is visible and navigable in the GitHub interface and can be installed and built by the reviewer, in standard package format. We don't need the .tar.gz file.

As an example, see the structure of the repository for this recent JOSS publication: https://github.com/strengejacke/ggeffects

[2018-07-04 07:22] hugoledoux commented on #778
Is it Linux only? I don't know all these packages but I see no reason why it wouldn't work on macOS (Windows too I guess).

I can review this, and see if that works on macOS

[2018-07-04 07:48] ericfranz commented on #622
@arfon Thank you!

[2018-07-04 14:34] bunhoel commented on #229
Dear Karthik

we believe to fixed all potential problems as like unit test, as same time, we implement the suggestions for the package.

[2018-07-04 14:47] whedon opened #805 "[PRE REVIEW]: pyPhenology: A python framework for plant phenology modelling"
**Submitting author:** @sdtaylor (<a href="http://orcid.org/0000-0002-6178-6903">Shawn Taylor</a>)
**Repository:** <a href="https://github.com/sdtaylor/pyPhenology" target ="_blank">https://github.com/sdtaylor/pyPhenology</a>
**Version:** v0.5.0
**Editor:** @pjotrp
**Reviewers:** @harmn, @Chilipp

**Author instructions**

Thanks for submitting your paper to JOSS @sdtaylor. The JOSS editor (shown a

[2018-07-04 14:47] whedon commented on #805
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-04 14:47] whedon commented on #805
[code]

[2018-07-04 14:47] whedon opened #806 "[PRE REVIEW]: CusToM: a Matlab toolbox for musculoskeletal simulation"
**Submitting author:** @anmuller (<a href="http://orcid.org/0000-0003-2606-1429">Antoine Muller</a>)
**Repository:** <a href="https://github.com/anmuller/CusToM.git" target ="_blank">https://github.com/anmuller/CusToM.git</a>
**Version:** v1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @modenaxe, @demotu

**Author instructions**

Thanks for submitting your paper to JOSS @anmuller. The JOSS

[2018-07-04 14:47] whedon commented on #806
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-04 14:47] whedon commented on #806
[code]

[2018-07-04 14:47] whedon opened #807 "[PRE REVIEW]: MaDaTS: Managing Data on Tiered Storage for Scientific Workflows"
**Submitting author:** @dghoshal-lbl (<a href="http://orcid.org/0000-0002-6819-6949">Devarshi Ghoshal</a>)
**Repository:** <a href="https://github.com/dghoshal-lbl/madats" target ="_blank">https://github.com/dghoshal-lbl/madats</a>
**Version:** v1.1.2
**Editor:** @danielskatz
**Reviewers:** @ian-taylor, @gflofst

**Author instructions**

Thanks for submitting your paper to JOSS dghoshal-lbl. The J

[2018-07-04 14:47] whedon commented on #807
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-04 14:47] whedon commented on #807
[code]

[2018-07-04 14:47] whedon commented on #805
PDF failed to compile for issue #805 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/805/paper/paper.md): mapping values are not allowed in this context at line 2 column 19 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vend

[2018-07-04 14:47] whedon commented on #807
PDF failed to compile for issue #807 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f7

[2018-07-04 14:47] arfon commented on #806
👋 @Kevin-Mattheus-Moerman the submitting author suggested you as the handling editor.

[2018-07-04 14:47] whedon commented on #806
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00806/joss.00806/10.21105.joss.00806.pdf)

[2018-07-04 14:48] lheagy commented on #778
Thanks @joa-quim for getting back to me, and @hugoledoux for being willing to review!

[2018-07-04 14:48] lheagy commented on #778
@whedon add @hugoledoux as reviewer

[2018-07-04 14:48] whedon commented on #778
OK, @hugoledoux is now a reviewer

[2018-07-04 14:49] lheagy commented on #778
@whedon start review

[2018-07-04 14:49] whedon opened #808 "[REVIEW]: GMSimViz"
**Submitting author:** @viktor76525 (<a href="http://orcid.org/0000-0001-5442-2960">Viktor</a>)
**Repository:** <a href="https://github.com/ucgmsim/GMSimViz" target ="_blank">https://github.com/ucgmsim/GMSimViz</a>
**Version:** 1.3
**Editor:** @lheagy
**Reviewer:** @leouieda, @hugoledoux
**Archive:** <a href="https://doi.org/10.5281/zenodo.2590852" target="_blank">10.5281/zenodo.2590852</a>

## St

[2018-07-04 14:49] whedon commented on #778
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/808. Feel free to close this issue now!

[2018-07-04 14:49] whedon commented on #808
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leouieda, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-07-04 14:49] whedon commented on #808
[code]

[2018-07-04 14:49] #778 closed

[2018-07-04 14:49] whedon commented on #808
PDF failed to compile for issue #808 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Viktor Polak (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0

[2018-07-04 14:50] lheagy commented on #808
👋 Thanks @leouieda and @hugoledoux for being willing to review! This issue has a checklist for each of you in the main issue thread to help guide the review. Please let me know if you have any questions or if I can help clarify anything!

[2018-07-04 14:51] arfon commented on #805
@sdtaylor - https://github.com/sdtaylor/pyPhenology/pull/87 should fix your paper.

[2018-07-04 14:54] sdtaylor commented on #805
thanks!

[2018-07-04 14:55] sdtaylor commented on #805
@whedon generate pdf

[2018-07-04 14:55] whedon commented on #805
[code]

[2018-07-04 14:55] whedon commented on #805
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00805/joss.00805/10.21105.joss.00805.pdf)

[2018-07-04 14:57] sdtaylor commented on #805
@whedon generate pdf

[2018-07-04 14:57] whedon commented on #805
[code]

[2018-07-04 14:58] whedon commented on #805
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00805/joss.00805/10.21105.joss.00805.pdf)

[2018-07-04 15:07] sdtaylor commented on #805
From the list I think @Chilipp, @jsta, and @molgor might be suitable reviewers.

[2018-07-04 15:46] salabim commented on #767
Daniel,

I have updated the paper.bib document and double checked it manually.
I still don't know how to check or generate the pdf myself. Could you be so
kind as to do that for me?

Ruud van der Ham

*rt.van.der.ham@gmail.com <rt.van.der.ham@gmail.com>*

On Thu, 28 Jun 2018 at 14:49, Daniel S. Katz <notifications@github.com>
wrote:

[2018-07-04 16:14] thewtex commented on #600
Sorry I will not be able to follow up on this more until after I return from a conference the week after next.

Thanks @lassoan for the review and suggestions. Regarding

We currently host ITK module testing data on [data.kitware.com](https://data.kitware.com). @plooney  if you sign up for an account there, you can host files in your personal folder. Even better, let me know your account name, and

[2018-07-04 17:38] danielskatz commented on #767
@whedon generate pdf

@salabim - I think you should also be able to give this command as a comment in this GitHub issue

[2018-07-04 17:38] whedon commented on #767
[code]

[2018-07-04 17:38] whedon commented on #767
PDF failed to compile for issue #767 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0    134      0 --:--:-- --:--:-- --:--:--   135
Error reading bibl

[2018-07-04 17:39] danielskatz commented on #767
I'm a little confused why you didn't merge my pull requests: https://github.com/salabim/salabim/pull/10 and https://github.com/salabim/salabim/pull/11

[2018-07-04 17:40] danielskatz commented on #767
These pull requests should fix the problems.

[2018-07-04 18:01] salabim commented on #767
Sorry, but I am very confused and far from an expert in GitHub.

I have now merged the pull requests (no idea what that means) and uploaded a corrected vetsion of paper.bib.

And now?

Ruud, just a simple open source software developer ...

________________________________
From: Daniel S. Katz <notifications@github.com>
Sent: Wednesday, July 4, 2018 7:40:25 PM
To: openjournals/joss-reviews
Cc: sal

[2018-07-04 18:08] danielskatz commented on #767
@whedon generate pdf

[2018-07-04 18:08] whedon commented on #767
[code]

[2018-07-04 18:08] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-07-04 18:10] danielskatz commented on #767
@salabim - you might want to read through some of the [GitHub Guides](https://guides.github.com), in particular the [one on Git](https://guides.github.com/introduction/git-handbook/)

[2018-07-04 18:16] danielskatz commented on #767
The merge of my pull request for the bib file did not work - I think you merged into the patch, rather than into the master.  Here's what I think the file should contain:

@book{Matloff:2013,
  	author = {Matloff, Norm},
  	title = {Introduction to Discrete-Event Simulation and the SimPy Language},
  	year = 2013,
  	note = {Available from \url{http://heather.cs.ucdavis.edu/~matloff/156/PLN/DESimI

[2018-07-04 18:20] salabim commented on #767
I have now put a new paper.bib, with your contents on the master branch.

Does it work now?

________________________________
From: Daniel S. Katz <notifications@github.com>
Sent: Wednesday, July 4, 2018 8:16:32 PM
To: openjournals/joss-reviews
Cc: salabim; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: Salabim: discrete event simulation and animation in Python (#767)

The merge of my

[2018-07-04 18:29] danielskatz commented on #767
close

let's try changing the first entry to

[code]

Then you should be able to go to the GitHub Issue where the review is taking place (this one, https://github.com/openjournals/joss-reviews/issues/767), and type "@whedon generate pdf" a new comment to generate a new PDF.

[2018-07-04 18:33] salabim commented on #767
@whedon generate pdf

[2018-07-04 18:33] whedon commented on #767
[code]

[2018-07-04 18:34] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-07-04 18:35] salabim commented on #767
Got it!

________________________________
From: Daniel S. Katz <notifications@github.com>
Sent: Wednesday, July 4, 2018 8:29:09 PM
To: openjournals/joss-reviews
Cc: salabim; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: Salabim: discrete event simulation and animation in Python (#767)

close

let's try changing the first entry to

@book{Matloff:2013,
        author = {Matloff, Norm},

[2018-07-04 18:48] dghoshal-lbl commented on #807
Hi @arfon - I have fixed the header and pushed in the changes.

[2018-07-04 19:20] arfon commented on #807
@whedon generate pdf

[2018-07-04 19:20] whedon commented on #807
[code]

[2018-07-04 19:20] whedon commented on #807
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00807/joss.00807/10.21105.joss.00807.pdf)

[2018-07-04 21:22] molgor commented on #805
Hi @sdtaylor I´d be interested but I'm new to this. Do you have any guideline?

[2018-07-05 12:42] arfon commented on #461
@whedon commands

[2018-07-05 12:42] whedon commented on #461
Here are some things you can ask me to do:

[code]

[2018-07-05 12:44] arfonsmith commented on #461
@whedon commands

[2018-07-05 12:44] whedon commented on #461
Here are some things you can ask me to do:

[code]

[2018-07-05 13:00] whedon commented on #462
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00462/status.svg)](https://doi.org/10.21105/joss.00462)

**We need your help!**

Journal of Open Source Software

[2018-07-05 13:05] #462 closed

[2018-07-05 13:05] whedon commented on #462
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00462/status.svg)](https://doi.org/10.21105/joss.00462)

**We need your help!**

Journal of Open Source Software

[2018-07-05 18:41] sdtaylor commented on #805
Reviewer guidelines are here http://joss.theoj.org/about#reviewer_guidelines, hopefully an editor will chime in with more details.

[2018-07-05 19:21] kyleniemeyer commented on #770
@mhvk ok, fair enough—thanks for the input.

[2018-07-05 19:30] kyleniemeyer commented on #770
Hi @kellieotto @ygrange @bocklund would any of you be willing to serve as a second reviewer for this submission? It would be great to have a second set of eyes, particularly from a slightly different field.

[2018-07-05 20:16] dflemin3 commented on #781
Hi @jedbrown sorry for the delay!  I'm back in town and hope to address the installation issue in the following week.

[2018-07-05 21:50] Chilipp commented on #805
Hi @sdtaylor and @arfon : I am not an expert on phenology, to be honest, so I cannot judge the usefulness, comprehensiveness and correct implementation of the software. Here, @jsta would be a better reviewer, probably.
But if that is no problem for you (and for @arfon), I am happy to contribute here by reviewing and testing the technical aspects of pyPhenology and work myself through the docs.

[2018-07-06 02:10] pdwaggoner commented on #796
@leeper Apologies for the delay; we are in the process of moving. Also, apologies for the incorrect format. The example you sent was helpful. I think it should be in proper format now. I may have missed something. Hope this works, but if not, let me know. I will make corrections as needed. Thanks again!

[2018-07-06 05:46] pspringer commented on #767
@salabim, @danielskatz, the References section in paper.md is blank.  Also, where is the link to the pdf version of the paper, other than whedon's "Check article proof"?

[2018-07-06 07:52] pjotrp commented on #800
@whedon assign @george-githinji as reviewer

[2018-07-06 07:52] whedon commented on #800
OK, the reviewer is @george-githinji

[2018-07-06 07:52] pjotrp commented on #800
@whedon assign @vsoch as reviewer

[2018-07-06 07:52] whedon commented on #800
OK, the reviewer is @vsoch

[2018-07-06 07:54] pjotrp commented on #800
@whedon commands

[2018-07-06 07:54] whedon commented on #800
Here are some things you can ask me to do:

[code]

[2018-07-06 07:55] pjotrp commented on #800
@whedon add @george-githinji as reviewer

[2018-07-06 07:55] whedon commented on #800
OK, @george-githinji is now a reviewer

[2018-07-06 07:55] pjotrp commented on #800
@whedon list reviewers

[2018-07-06 07:55] whedon commented on #800
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-07-06 07:56] pjotrp commented on #800
@whedon add @pjotrp as editor

[2018-07-06 07:57] pjotrp commented on #800
@whedon assign @pjotrp as editor

[2018-07-06 07:57] whedon commented on #800
OK, the editor is @pjotrp

[2018-07-06 07:57] pjotrp commented on #800
@arfon hmm. So I would like @vsoch and @george-githinji as reviewers. Is that the case now?

[2018-07-06 10:19] danielskatz commented on #767
@pspringer - don't worry about the lack of references in the .md file, they are built automatically in the PDF from the .bib file.  And the latest "Check article proof" is the most recent version of the pdf version.

[2018-07-06 11:06] ajjackson commented on #717
I have pushed an update to master that should address these review points. @utf has already assaulted the collection of typos.
Summary of changes pasted here from the commit message:
[code]
And "ab initio calculations" in the setup.py (i.e. for PyPI description) is replaced with "ab initio solid-state calculations".

[2018-07-06 11:38] jarvist commented on #717
With these edits, `README.rst` is much more clear, and I think you have covered all of my partial review points.

Running your unit tests as your documented
`python3 -m unittest discover tests`
in the pip-installed `~/.local/lib/python3.5/site-packages/sumo/` (maybe point users in this direction in the README?), resulted in:
[code]
(Full STDOUT here: https://gist.github.com/jarvist/ae461f6dd22e1f9

[2018-07-06 12:16] arfon commented on #805
Hi @molgor - as @sdtaylor mentioned above, we post our review guidelines here: http://joss.theoj.org/about#reviewer_guidelines

I'm also working on an updated set of docs over in https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

Basically, the review happens in a GitHub issue, is checklist-driven, and is generally more of a conversation with the author (and other reviewer sometime)

[2018-07-06 12:18] arfon commented on #800
Yep, looks to be. You can always refresh the page and look at the top of the issue thread:

<img width="717" alt="screen shot 2018-07-06 at 8 18 16 am" src="https://user-images.githubusercontent.com/4483/42378395-2c1c5fb6-80f5-11e8-8887-bf6de31fe065.png">

[2018-07-06 13:29] ajjackson commented on #717
Running from inside `~/.local/lib` is rather unorthodox, does it work from a cloned source directory?

[2018-07-06 14:36] tbekolay commented on #770
Apologies for the slow response; I'm happy to serve as second reviewer.

[2018-07-06 15:12] ygrange commented on #770
Whoops. Same here (both the sorry and the happy to be parts).

[2018-07-06 16:47] kyleniemeyer commented on #770
@tbekolay no worries, and thanks!

@ygrange thanks! I think we can handle three reviewers, so I'll add you both

[2018-07-06 16:48] kyleniemeyer commented on #770
@whedon add @tbekolay as reviewer

[2018-07-06 16:48] whedon commented on #770
OK, @tbekolay is now a reviewer

[2018-07-06 16:48] kyleniemeyer commented on #770
@whedon add @ygrange as reviewer

[2018-07-06 16:48] whedon commented on #770
OK, @ygrange is now a reviewer

[2018-07-06 16:48] kyleniemeyer commented on #770
@whedon start review magic-word=bananas

[2018-07-06 16:48] whedon opened #809 "[REVIEW]: unyt: Handle, manipulate, and convert data with units in Python"
**Submitting author:** @ngoldbaum (<a href="http://orcid.org/0000-0001-5557-267X">Nathan Goldbaum</a>)
**Repository:** <a href="https://github.com/yt-project/unyt" target ="_blank">https://github.com/yt-project/unyt</a>
**Version:** v1.0.3
**Editor:** @kyleniemeyer
**Reviewer:** @Cadair, @tbekolay, @ygrange
**Archive:** <a href="https://doi.org/10.5281/zenodo.1344605" target="_blank">10.5281/zenod

[2018-07-06 16:48] whedon commented on #770
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/809. Feel free to close this issue now!

[2018-07-06 16:48] whedon commented on #809
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @Cadair, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-07-06 16:48] whedon commented on #809
[code]

[2018-07-06 16:49] whedon commented on #809
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00809/joss.00809/10.21105.joss.00809.pdf)

[2018-07-06 16:50] bocklund commented on #797
Here is my first pass:

### General checks

- **Version:** The latest PyPI version is 0.1, behind 0.1.1 and 1.0.b1, but it seems like the the author is working on CI-backed releases. The released version does not work with the current examples on GitHub.

### Functionality

- **Functionality:**  Issue https://github.com/lucydot/effmass/issues/1 was opened. Once closed this can be checked off.

###

[2018-07-06 16:50] kyleniemeyer commented on #809
👋 @ngoldbaum @Cadair @tbekolay @ygrange

[2018-07-06 16:50] #770 closed

[2018-07-06 18:53] astorfi commented on #749
@whedon generate pdf

[2018-07-06 18:53] whedon commented on #749
[code]

[2018-07-06 18:53] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-07-06 20:54] moorepants commented on #742
I just found this paper, maybe one of these authors would be interested:

https://www.researchgate.net/publication/323152326_Robust_Trajectory_Optimization_of_a_Ski_Jumper_for_Uncertainty_Influence_and_Safety_Quantification

- Patrick Piprek patrick.piprek@tum.de
- Florian Holzapfel florian.holzapfel@tum.de

[2018-07-07 02:35] biswapriyamisra commented on #804
1. Fairly quick and easy installation when MSConvert and R 3.5 or so are in place!
2. Useful too for the conversions.
3. More comments and suggestions in the annotated PDF.
4. Useful tutorial and walk through images.

[mzEasy_JOSS_Reviewer_Comments.pdf](https://github.com/openjournals/joss-reviews/files/2172385/mzEasy_JOSS_Reviewer_Comments.pdf)

Thanks for the opportunity to review and all the be

[2018-07-07 04:20] pspringer commented on #767
@danielskatz, @salabim, I've checked everything off on the list, it looks good.

[2018-07-07 04:38] gonsie commented on #767
@salabim do any of the paper references have DOIs?

[2018-07-07 04:58] karthik commented on #727
@andrewheiss Any update on this?

[2018-07-07 04:58] karthik commented on #727
@economistgame Any update on this?

[2018-07-07 04:59] karthik commented on #668
@whedon set 10.5281/zenodo.1294067 as archive

[2018-07-07 04:59] whedon commented on #668
OK. <a href="https://doi.org/10.5281/zenodo.1294067" target="_blank">10.5281/zenodo.1294067</a> is the archive.

[2018-07-07 05:00] karthik commented on #668
@whedon generate pdf

[2018-07-07 05:00] whedon commented on #668
[code]

[2018-07-07 05:00] whedon commented on #668
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00668/joss.00668/10.21105.joss.00668.pdf)

[2018-07-07 05:49] salabim commented on #767
@whedon generate pdf

[2018-07-07 05:49] whedon commented on #767
[code]

[2018-07-07 05:50] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-07-07 05:52] salabim commented on #767
@whedon generate pdf

[2018-07-07 05:52] whedon commented on #767
[code]

[2018-07-07 05:52] whedon commented on #767
PDF failed to compile for issue #767 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0    259      0 --:--:-- --:--:-- --:--:--   261
Error reading bibl

[2018-07-07 05:53] salabim commented on #767
@whedon generate pdf

[2018-07-07 05:53] whedon commented on #767
[code]

[2018-07-07 05:54] whedon commented on #767
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00767/joss.00767/10.21105.joss.00767.pdf)

[2018-07-07 05:56] salabim commented on #767
@gonsie
I have found one DOI and added it to the references (paper.bib).

[2018-07-07 07:02] danielskatz commented on #767
@gonsie - Can you go ahead and check off the last box?  The references are books which generally don't have DOIs.

[2018-07-07 07:54] gonsie commented on #767
@danielskatz done.

[2018-07-07 18:21] arfon commented on #749
@kczimm - would you be available to provide a second review of this package?

[2018-07-07 20:21] arfon commented on #668
@karthik are we good to accept here?

[2018-07-07 21:35] whedon opened #810 "[PRE REVIEW]: Samewords: Word disambiguation in critical text editions"
**Submitting author:** @Stenskjaer (<a href="http://orcid.org/0000-0002-8190-679X">Michael Stenskjær Christensen</a>)
**Repository:** <a href="https://github.com/stenskjaer/samewords" target ="_blank">https://github.com/stenskjaer/samewords</a>
**Version:** 0.5.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @maieul, @MarjorieBurghart, @Padlina

**Author instructions**

Thanks for submitting

[2018-07-07 21:35] whedon commented on #810
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-07 21:35] whedon commented on #810
[code]

[2018-07-07 21:35] whedon commented on #810
PDF failed to compile for issue #810 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/processor.

[2018-07-07 21:35] whedon opened #811 "[PRE REVIEW]: GrainSizeTools: a Python script for grain size analysis and paleopiezometry based on grain size"
**Submitting author:** @marcoalopez (<a href="http://orcid.org/0000-0002-0261-9267">Marco A. Lopez-Sanchez</a>)
**Repository:** <a href="https://github.com/marcoalopez/GrainSizeTools/" target ="_blank">https://github.com/marcoalopez/GrainSizeTools/</a>
**Version:** v2.0
**Editor:** @lheagy
**Reviewers:** @jsta

**Author instructions**

Thanks for submitting your paper to JOSS @marcoalopez. The JOS

[2018-07-07 21:35] whedon commented on #811
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-07 21:35] whedon commented on #811
[code]

[2018-07-07 21:36] whedon commented on #811
PDF failed to compile for issue #811 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/processor.

[2018-07-07 21:36] arfon commented on #811
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-07-07 21:37] arfon commented on #811
@whedon generate pdf

[2018-07-07 21:37] whedon commented on #811
[code]

[2018-07-07 21:37] whedon commented on #811
PDF failed to compile for issue #811 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/811/paper.md): mapping values are not allowed in this context at line 2 column 22 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vendor/rub

[2018-07-07 21:38] arfon commented on #811
:wave: @marcoalopez - this PR should fix the paper compilation issue: https://github.com/marcoalopez/GrainSizeTools/pull/1

[2018-07-08 00:40] arfon commented on #810
@whedon generate pdf

[2018-07-08 00:40] whedon commented on #810
[code]

[2018-07-08 00:41] whedon commented on #810
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00810/joss.00810/10.21105.joss.00810.pdf)

[2018-07-08 00:45] dmdu commented on #781
Posted another comment at: https://github.com/dflemin3/approxposterior/issues/21

[2018-07-08 03:57] danielskatz commented on #767
👋 @arfon - can you take over the last steps?

@pspringer and @gonsie - thanks for your work on your reviews!

[2018-07-08 11:35] pjotrp commented on #800
@arfon  Got it. I was looking at the github assignees...

[2018-07-08 11:35] pjotrp commented on #800
@whedon start review magic-word=bananas

[2018-07-08 11:36] whedon opened #812 "[REVIEW]: DeGAUSS: Decentralized Geomarker Assessment for Multi-Site Studies"
**Submitting author:** @cole-brokamp (<a href="http://orcid.org/0000-0002-0289-3151">Cole Brokamp</a>)
**Repository:** <a href="https://github.com/cole-brokamp/DeGAUSS" target ="_blank">https://github.com/cole-brokamp/DeGAUSS</a>
**Version:** v0.2
**Editor:** @pjotrp
**Reviewer:** @vsoch, @george-githinji
**Archive:** <a href="https://doi.org/10.5281/zenodo.1443521" target="_blank">10.5281/zenodo.

[2018-07-08 11:36] whedon commented on #800
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/812. Feel free to close this issue now!

[2018-07-08 11:36] whedon commented on #812
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @vsoch, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-07-08 11:36] whedon commented on #812
[code]

[2018-07-08 11:36] #800 closed

[2018-07-08 11:36] whedon commented on #812
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00812/joss.00812/10.21105.joss.00812.pdf)

[2018-07-08 11:37] pjotrp commented on #812
@cole-brokamp we are starting review! To expedite matters do you mind going through above check list and make sure the reviewers can tick the boxes? You can't check them yourself, but you can make sure they are covered.

[2018-07-08 16:03] vsoch commented on #812
here are updated review guidelines : https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-07-08 16:39] george-githinji commented on #634
Dear @pboesu Please review the improvements made by @xiangfstats. Kindly let me know if you need some assistance or if you are not in a position to. Thank you.

[2018-07-08 21:31] arfon commented on #751
scampbell@bnl.gov

OK thanks @JeanBilheux - I've just sent him an email.

[2018-07-08 21:34] arfon commented on #795
Thanks @strengejacke. I'd like to find a second reviewer for this submission if possible so if you're happy to wait for a while before we get started I'd be much obliged :-)

@janschulz - would you be willing to review this submission for JOSS?

[2018-07-08 21:44] jankatins commented on #795
I can do it but I'm not familiar what the role of a second reviewer is.

[2018-07-08 21:44] bovee commented on #804
Sorry, I'm currently on vacation without a computer (it'd be at least a
week before I'm able to) and I don't have access to a Windows box (skimming
over, it looks like installation requires Windows). If it can be used on
Mac/Linux and the delay's not a problem, I'd be happy to review though.

On Jul 7, 2018 1:24 PM, "Arfon Smith" <notifications@github.com> wrote:

@bovee <https://github.com/bovee>

[2018-07-08 22:44] cole-brokamp commented on #812
Thanks, @pjotrp. I believe that the manuscript and repository checks all the boxes.  Looking forward to hearing from the reviewers.

[2018-07-08 22:59] karthik commented on #668
Yes good to accept. Was waiting on PDF and forgot to ping you.

[2018-07-09 00:15] vsoch commented on #812
@cole-brokamp @pjotrp I am starting my review, will post shortly!

[2018-07-09 00:42] vsoch commented on #812
I have finished my review, reported in issue here: https://github.com/cole-brokamp/DeGAUSS/issues/10 I will go through the points in this repository and confirm when the issues have been addressed!

[2018-07-09 00:44] arfon commented on #807
@danielskatz - is this something you might be interested in editing?

[2018-07-09 00:51] whedon opened #813 "[PRE REVIEW]: powermh: Power analysis for studies with multiple hypotheses"
**Submitting author:** @dbrookswr (<a href="http://orcid.org/0000-0002-4619-1848">Daniel Wright</a>)
**Repository:** <a href="https://github.com/dbrookswr/powermh" target ="_blank">https://github.com/dbrookswr/powermh</a>
**Version:** v0.1.0
**Editor:** @cMadan
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @dbrookswr. The JOSS editor (shown at the top of

[2018-07-09 00:51] whedon commented on #813
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-09 00:51] whedon commented on #813
[code]

[2018-07-09 00:51] whedon commented on #813
PDF failed to compile for issue #813 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f7

[2018-07-09 00:51] arfon commented on #813
:wave: @cMadan - the submitting author suggested you as the handling editor.

[2018-07-09 00:52] arfon commented on #813
@dbrookswr - looks like you've got a typo in your `paper.md` file: `bilbliography`

[2018-07-09 00:53] arfon commented on #795
Fantastic - thanks! The second reviewer basically just does the same review.

[2018-07-09 00:53] arfon commented on #795
@whedon assign @arfon as editor

[2018-07-09 00:53] whedon commented on #795
OK, the editor is @arfon

[2018-07-09 00:53] arfon commented on #795
@whedon add @strengejacke as reviewer

[2018-07-09 00:54] whedon commented on #795
OK, @strengejacke is now a reviewer

[2018-07-09 00:54] arfon commented on #795
@whedon add @jankatins as reviewer

[2018-07-09 00:54] whedon commented on #795
OK, @jankatins is now a reviewer

[2018-07-09 00:54] arfon commented on #795
@whedon start review

[2018-07-09 00:54] whedon opened #814 "[REVIEW]: sigmajs: An R htmlwidget interface to the sigma.js visualization library"
**Submitting author:** @JohnCoene (<a href="http://orcid.org/0000-0002-6637-4107">Jean-Philippe Coene</a>)
**Repository:** <a href="https://github.com/JohnCoene/sigmajs" target ="_blank">https://github.com/JohnCoene/sigmajs</a>
**Version:** v0.1.1
**Editor:** @arfon
**Reviewer:** @strengejacke, @jankatins
**Archive:** <a href="https://doi.org/10.5281/zenodo.1342765" target="_blank">10.5281/zenodo.

[2018-07-09 00:54] whedon commented on #795
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/814. Feel free to close this issue now!

[2018-07-09 00:54] whedon commented on #814
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @strengejacke, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-07-09 00:54] whedon commented on #814
[code]

[2018-07-09 00:54] arfon commented on #795
@strengejacke, @jankatins - please head over to #814 where we will carry out the actual review of this submission.

[2018-07-09 00:54] #795 closed

[2018-07-09 00:55] whedon commented on #814
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00814/joss.00814/10.21105.joss.00814.pdf)

[2018-07-09 00:56] arfon commented on #804
OK thanks @bovee.

@chasemc - can this software be used on Mac/Linux?

[2018-07-09 01:13] arfon commented on #668
@lmullen, @jeroen - many thanks for your reviews here and to @karthik for editing this submission ✨

@lebebr01 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00668 :zap: :rocket: :boom:

[2018-07-09 01:13] #668 closed

[2018-07-09 01:13] whedon commented on #668
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00668/status.svg)](https://doi.org/10.21105/joss.00668)

**We need your help!**

Journal of Open Source Softwar

[2018-07-09 01:17] arfon commented on #662
Ping @nuest, @benmarwick :smile: please come any take another look at this package sometime soon.

[2018-07-09 01:18] arfon commented on #737
How are you getting along here @hjoliver?

[2018-07-09 01:46] chasemc commented on #804
Unfortunately not, I was waiting to address this as it was also a comment here (https://github.com/openjournals/joss-reviews/issues/804#issuecomment-403182850).

The reliance on MSConvert to convert spectra is necessary, and MSConvert itself relies on vendor dll files that require a Windows operating system.  There are workarounds for Linux and Mac, but they remain buggy and incomplete (https://so

[2018-07-09 02:32] dbrookswr commented on #813
Thank you!  The spelling of bibliography has been fixed. Dan

[2018-07-09 04:54] danielskatz commented on #807
If the authors are ok with me editing, I'm happy to.  (There's a small possibility of an informal conflict, though not a formal one according to the JOSS guidelines.)

@dghoshal-lbl - what do you think?

[2018-07-09 06:39] salabim commented on #767
@arfon
The DOI of the figshare repository is
10.6084/m9.figshare.6791129

[2018-07-09 09:46] strengejacke commented on #814
The GitHub release is already version 0.1.1, while the submitted version for review is 0.1.0 - @arfon how to deal this? Should John resubmit or edit the submission, or should we just proceed with our review?

[2018-07-09 10:49] arfon commented on #814
If it's OK with @JohnCoene, it probably makes sense to review the latest code and just update the JOSS submission (I can do that here).

[2018-07-09 10:49] arfon commented on #767
@whedon set 10.6084/m9.figshare.6791129 as archive

[2018-07-09 10:49] whedon commented on #767
OK. <a href="https://doi.org/10.6084/m9.figshare.6791129" target="_blank">10.6084/m9.figshare.6791129</a> is the archive.

[2018-07-09 10:59] spinicist commented on #656
@cMadan - Hi, I'm slightly concerned the meta-data for my paper is incorrect. If you look on the "Cite As:" section, it says "Wood, (2018) ...", i.e. my initials are missing. Similarly, I downloaded the paper and dragged it into Zotero and there it comes up with the author as "C Wood, Tobias", instead of "Wood, Tobias C". Could you take a quick look please?

Also does JOSS link to ORCID?

[2018-07-09 11:04] arfon commented on #767
@gonsie, @pspringer - many thanks for your reviews and to @danielskatz for editing this submission ✨

@salabim - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00767 :zap: :rocket: :boom:

[2018-07-09 11:04] #767 closed

[2018-07-09 11:04] whedon commented on #767
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00767/status.svg)](https://doi.org/10.21105/joss.00767)

**We need your help!**

Journal of Open Source Softwar

[2018-07-09 11:11] JohnCoene commented on #814
@arfon, @strengejacke Sure, can do.

[2018-07-09 11:12] highlando commented on #794
Looks interesting and in my field of expertise. What do I have to do?

[2018-07-09 13:00] arfon commented on #794
@whedon assign @arfon as editor

[2018-07-09 13:00] whedon commented on #794
OK, the editor is @arfon

[2018-07-09 13:01] arfon commented on #794
@highlando - thanks! You can get an idea of the review process here:

- https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Basically the review happens in a GitHub issue and has a bunch of checkboxes for you to work through. If you're able to help us that would be great!

[2018-07-09 13:05] labarba commented on #794
@arfon --- thanks for taking over; I've been overloaded, and off to SciPy tomorrow, so unable to attend to new things short-fuse.

[2018-07-09 13:08] arfon commented on #751
@whedon assign @arfon as editor

[2018-07-09 13:08] whedon commented on #751
OK, the editor is @arfon

[2018-07-09 13:08] arfon commented on #751
@whedon assign @stuartcampbell as reviewer

[2018-07-09 13:08] whedon commented on #751
OK, the reviewer is @stuartcampbell

[2018-07-09 13:08] arfon commented on #751
@whedon start review

[2018-07-09 13:08] whedon commented on #751
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/815. Feel free to close this issue now!

[2018-07-09 13:08] whedon opened #815 "[REVIEW]: Neutron Imaging Normalization Library"
**Submitting author:** @jeanbilheux (<a href="http://orcid.org/0000-0003-2172-6487">Jean Bilheux</a>)
**Repository:** <a href="https://github.com/scikit-beam/NeuNorm" target ="_blank">https://github.com/scikit-beam/NeuNorm</a>
**Version:** 1.4.0
**Editor:** @arfon
**Reviewer:** @stuartcampbell
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/11e167ffb967ebde52213327da6d7323

[2018-07-09 13:09] whedon commented on #815
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @stuartcampbell it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-07-09 13:09] whedon commented on #815
[code]

[2018-07-09 13:09] arfon commented on #751
Thanks for agreeing to review this @stuartcampbell!

[2018-07-09 13:09] #751 closed

[2018-07-09 13:09] whedon commented on #815
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00815/joss.00815/10.21105.joss.00815.pdf)

[2018-07-09 15:40] dghoshal-lbl commented on #807
@danielskatz I am fine with you being the editor. However, I am not sure if there is a possibility of a conflict.

[2018-07-09 15:54] danielskatz commented on #807
It's not a formal conflict, so let's not worry about it as long as you are ok with me doing this, which you are.

@dghoshal-lbl - can you suggest potential reviewers?   In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2018-07-09 15:55] danielskatz commented on #807
@whedon assign @danielskatz as editor

[2018-07-09 15:55] whedon commented on #807
OK, the editor is @danielskatz

[2018-07-09 16:04] kyleniemeyer commented on #794
I would also look at this but can't really for two weeks... @arghdos might be interested though.

[2018-07-09 16:07] dghoshal-lbl commented on #807
@danielskatz I am not sure if I have a good idea of who can be the potential reviewers. Since the code is in Python, I think anyone who has a working knowledge of Python can review this. Last time, I submitted a Python software to JOSS, I think @krother was the reviewer.

[2018-07-09 18:55] lucydot commented on #797
Hi @bocklund and thank you for taking the time to look over `effmass`

### General checks

- **version**: The latest release contains the changes below and I have uploaded this to PyPI; it should install with `pip install effmass=1.0b3`

### Functionality

- **Functionality**: I have fixed the bug and closed the issue: please see lucydot/effmass#1 for details

### Documentation

- **A statement of

[2018-07-09 19:19] bocklund commented on #797
@lucydot, thanks for your response. Looks good to me.

cc @katyhuff

[2018-07-09 19:24] katyhuff commented on #797
Excellent! Thank you for your review @bocklund .

@ajjackson are you still interested in completing a review of this work?

@mkhorton -- it looks like you've begun your review. How is the remainder of the review process going?

[2018-07-09 20:12] ajjackson commented on #797
Yes, I have been looking at it today!

As Lucy mentioned in the Pre-review thread, we were members of the same research group a little over two years ago but we never published together. I was not aware of the existence of this code until asked to review it.

I will check off what I can now and then try out the code on some fresh data.

[2018-07-09 20:45] ajjackson commented on #797
As a developer of Sumo (which is also going through JOSS review), I am comfortable with the amount of overlap between effmass and Sumo. Effmass is more flexible for effective mass fitting and concentrates on providing a toolkit for analysis. Sumo is a suite of command-line tools; it is more opinionated and "fire-and-forget", with a less Python-adept target audience.

[2018-07-09 21:47] ajjackson commented on #797
In general **effmass** seems to be packaged and documented very nicely. I need to take a bit more time to play with the actual functionality. Here are some comments in the meantime:

## General checks
- **version**: the PyPI/beta/source versioning was a touch confusing but as far as I can see the packaging all works as it should and I was able to get the 1.01 beta versions easily enough. I think t

[2018-07-09 21:50] tbekolay commented on #809
I went through the checklist and all was great, except for the "Does the release version given match the GitHub release (v1.0.3)?" checkbox. There has been a new release since the paper was submitted (it is now at v1.0.4), but this does not seem to me to be an issue.

This is my first JOSS review, so apologies for the newb questions, but is filling out checklist all that is required for the review

[2018-07-09 21:59] whedon opened #816 "[PRE REVIEW]: YAD: A Learning-based Inductive Logic Programming Tool"
**Submitting author:** @hamedmx (<a href="http://orcid.org/0000-0002-9132-593X">Hamed Karimi</a>)
**Repository:** <a href="https://github.com/hamedmx/YAD-ILP-Tool" target ="_blank">https://github.com/hamedmx/YAD-ILP-Tool</a>
**Version:** v1.0
**Editor:** @jasonclark
**Reviewers:** @dredamonsta1

**Author instructions**

Thanks for submitting your paper to JOSS @hamedmx. The JOSS editor (shown at t

[2018-07-09 21:59] whedon commented on #816
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jasonclark it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-09 21:59] whedon commented on #816
[code]

[2018-07-09 21:59] whedon commented on #816
PDF failed to compile for issue #816 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Ali Kamandi (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f

[2018-07-09 21:59] mkhorton commented on #797
@ajjackson yeah, it's a little weird -- I'm not actually familiar with vasppy, but it looks like pymatgen is a dependency of vasppy but it doesn't actually use pymatgen much. In particular, vasppy itself doesn't seem to build on pymatgen's VASP classes, but rather has its own VASP classes, which means building in pymatgen support to effmass would indeed be a bit trickier. (Hello by the way, it's a

[2018-07-09 21:59] arfon commented on #816
:wave: @jasonclark - the submitting author suggested you as the handling editor.

[2018-07-09 22:00] arfon commented on #816
@hamedmx - please see the error above. Authors don't have to include and ORCID but the one you've given here is invalid.

[2018-07-09 22:01] whedon opened #817 "[PRE REVIEW]: GEM: A Python package for graph embedding methods"
**Submitting author:** @palash1992 (<a href="http://orcid.org/0000-0003-2455-2160">Palash Goyal</a>)
**Repository:** <a href="https://github.com/palash1992/GEM" target ="_blank">https://github.com/palash1992/GEM</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @jsgalan, @rougier

**Author instructions**

Thanks for submitting your paper to JOSS @palash1992. The JOSS editor (shown at