[2021-02-20 11:29] Kevin-Mattheus-Moerman commented on #3033
@jedbrown @poulson @gkthiruvathukal could one of you handle this submission? Thanks

[2021-02-20 11:33] Kevin-Mattheus-Moerman commented on #3047
@hansenjohnson thanks for this submission. Our system detected the paper currently lacks a `Statement of need` section [which is required](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain). Can you add such a section to you paper? It should illustrate the research purpose of the software.

[2021-02-20 11:37] Kevin-Mattheus-Moerman commented on #3047
Notes for handling editor, this work seems to relate to these papers:
https://github.com/openjournals/joss-reviews/issues/1825
https://github.com/openjournals/joss-reviews/issues/2097
https://github.com/openjournals/joss-reviews/issues/2172

[2021-02-20 11:41] Kevin-Mattheus-Moerman commented on #3047
@KristinaRiemer @karthik @marcosvital @jni could one of you handle this submission? Note there are some related papers :point_up: which might help to find reviewers too.

[2021-02-20 11:43] arfon commented on #2807
@AxelBrandenburg - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That t

[2021-02-20 11:44] arfon commented on #2641
@mfitzasp @zemogle - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That

[2021-02-20 12:14] arfon commented on #3032
@whedon re-invite @nidhog as reviewer

[2021-02-20 12:14] whedon commented on #3032
OK, the reviewer has been re-invited.

@nidhog please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-20 12:19] arfon commented on #2924
@djmitche - thanks so much! I'll go ahead and assign you now and start the review ✨

[2021-02-20 12:20] arfon commented on #2924
@whedona add @djmitche as reviewer

[2021-02-20 12:20] whedon commented on #2924
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-20 12:20] arfon commented on #2924
@whedon add @djmitche as reviewer

[2021-02-20 12:20] whedon commented on #2924
OK, @djmitche is now a reviewer

[2021-02-20 12:20] arfon commented on #2924
@whedon start review

[2021-02-20 12:20] whedon opened #3049 "[REVIEW]: Autosubmit GUI: A Javascript-based Graphical User Interface to Monitor Experiments Workflow Execution"
**Submitting author:** @wuruchi (<a href="http://orcid.org/0000-0003-0842-0459">Wilmer Uruchi Ticona</a>)
**Repository:** <a href="https://earth.bsc.es/gitlab/wuruchi/autosubmitreact" target ="_blank">https://earth.bsc.es/gitlab/wuruchi/autosubmitreact</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @djmitche, @ikayz
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.14230052.v1"

[2021-02-20 12:20] whedon commented on #2924
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3049.

[2021-02-20 12:20] #2924 closed

[2021-02-20 12:20] whedon commented on #3049
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @djmitche it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2021-02-20 12:21] arfon commented on #2924
@RuneBlaze @ikayz - would either of your be willing to review this submission for JOSS?

The submission under review is [_Autosubmit GUI: A Javascript-based Graphical User Interface to Monitor Experiments Workflow Execution_](https://earth.bsc.es/gitlab/wuruchi/autosubmitreact).

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.i

[2021-02-20 12:22] arfon commented on #3049
@djmitche - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are a

[2021-02-20 12:23] whedon commented on #3049
[code]

[2021-02-20 12:23] whedon commented on #3049
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03049/joss.03049/10.21105.joss.03049.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03049/joss.03049/10.21105.joss.03049.pdf) :page_facing_up: :point_left:

[2021-02-20 13:11] whedon commented on #3049
[code]

[2021-02-20 13:18] f3rmion commented on #3011
@richardjgowers are two reviewers enough?

[2021-02-20 13:42] Kevin-Mattheus-Moerman commented on #3020
@vijaysm this should work now, can you check?

[2021-02-20 14:15] AxelBrandenburg commented on #2807
Thanks, Arfon, for the promising news. I have now made a new release and uploaded it on zenodo; see
https://zenodo.org/record/4553325
Let me know if anything is not quite right yet.
Cheers, Axel

Sent from my iPad

[2021-02-20 14:17] pariterre commented on #2911
@Kevin-Mattheus-Moerman

I added the `Statement of need` in https://github.com/pyomeca/ezc3d/pull/188 !
Here is the DOI for the release with the Statement of need
10.5281/zenodo.4553333

Thanks :)

[2021-02-20 14:32] bommert commented on #3010
@mcavs: We have added a feature selection and a clustering example in the vignette (bommert/stabm@c4e4101b6fb66a8fb236aafc041a69745d951f54). Do these examples meet the need for illustrative examples?

[2021-02-20 14:34] Kevin-Mattheus-Moerman commented on #2911
@whedon generate pdf

[2021-02-20 14:35] whedon commented on #2911
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02911/joss.02911/10.21105.joss.02911.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02911/joss.02911/10.21105.joss.02911.pdf) :page_facing_up: :point_left:

[2021-02-20 14:53] Kevin-Mattheus-Moerman commented on #2911
@whedon set 10.5281/zenodo.4553333 as archive

[2021-02-20 14:54] whedon commented on #2911
OK. <a href="https://doi.org/10.5281/zenodo.4553333" target="_blank">10.5281/zenodo.4553333</a> is the archive.

[2021-02-20 14:55] Kevin-Mattheus-Moerman commented on #2911
@pariterre can you confirm what the most recent version tag is for this software? Are we still at 'Release_1.3.7', or has it moved on?

[2021-02-20 15:00] pariterre commented on #2911
Hum... I don't know where I am supposed to inform this, but the version that corresponds to the latest DOI is 1.4.2

[2021-02-20 15:01] tpoisot commented on #2721
@KristinaRiemer all the people I would think of from the top of my head have COI - but I can think about it some more.

That being said, my understanding is that @kellykochanski opened a number of issues on the repo as part of their review,

EcoJulia/EcologicalNetworks.jl#166 - contribution and authorship
EcoJulia/EcologicalNetworks.jl#167 - installation instructions
EcoJulia/EcologicalNetworks.jl

[2021-02-20 15:04] Kevin-Mattheus-Moerman commented on #2911
@whedon set Release_1.4.2 as version

[2021-02-20 15:04] whedon commented on #2911
OK. Release_1.4.2 is the version.

[2021-02-20 15:06] Kevin-Mattheus-Moerman commented on #2911
@pariterre we are all set now. I'll now recommend accept

[2021-02-20 15:06] Kevin-Mattheus-Moerman commented on #2911
@whedon accept

[2021-02-20 15:06] whedon commented on #2911
[code]

[2021-02-20 15:07] whedon commented on #2911
[code]

[2021-02-20 15:07] whedon commented on #2911
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2095

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2095, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-20 15:17] jorgedch commented on #3017
Great, thank you for the update. We found the following reviewers to have a
relevant background:
lee-seon-woo, nsaunier, jizecn, abuccts, alexssandrofc
All the best, Jorge

On Fri, 19 Feb 2021 at 23:53, Ariel Rokem <notifications@github.com> wrote:

[2021-02-20 15:27] vijaysm commented on #3020
Thanks for the re-invite @Kevin-Mattheus-Moerman I now have the permissions

[2021-02-20 15:39] dpsanders commented on #3043
I don't think I can take any more on right now, thanks.

[2021-02-20 16:52] torressa commented on #2812
Last thing, the badges in the readme file should lead to appropriate links (as the JOSS badge does).
Other than that I'm happy to recommend acceptance :)

[2021-02-20 18:26] Nathaniel-Haines commented on #3041
Hi @oliviaguest, thanks for setting this up! It looks like my invite may have expired, as I cannot check the boxes, and when I follow the acceptance link, I get a message saying that either the invite expired or no longer exists/was revoked.

Are you able to re-invite me?

[2021-02-20 20:08] csinva commented on #3046
Just added all the missing DOIs!

[2021-02-20 21:02] vprusso commented on #3033
Fixed the `https://doi.org/` prefix in the references.

On Sat, Feb 20, 2021 at 6:29 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2021-02-20 22:01] gkthiruvathukal commented on #2980
@stsievert and @thomakra, are you willing to contribute a review for this JOSS submission?

@yc015 Many apologies for the delay in following up on your suggestions!

[2021-02-20 22:02] arfon commented on #3026
@gully @j-faria - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [_starry_process: Interpretable Gaussian processes for stellar light curves_](https://github.com/rodluger/starry_process).

[2021-02-20 22:03] gkthiruvathukal commented on #2935
@manojrege, would you be willing to contribute a review for this JOSS submission?

[2021-02-20 22:04] gkthiruvathukal commented on #2972
@mdpiper, are you willing to contribute a review for this JOSS submission. I need a second reviewer in addition to @arcuri82, who has graciously accepted!

[2021-02-20 22:06] gkthiruvathukal commented on #3014
@marcozennaro Can you please suggest a couple of additional reviewers? I need two to proceed with review.

[2021-02-20 22:07] gkthiruvathukal commented on #2752
@vincentberenz Just a nudge to see how things are going with the review. We greatly appreciate your help to complete it.

[2021-02-20 22:10] gkthiruvathukal commented on #1752
@openjournals/joss-eics This submission has been dormant for some time. @arfon and I have both gently nudged @KingZee but it appears progress has stalled. We can follow @arfon's earlier suggestion and close (reject) this for now and give @KingZee the option to resubmit in the future.

[2021-02-20 22:15] Kevin-Mattheus-Moerman commented on #3046
@whedon generate pdf

[2021-02-20 22:16] whedon commented on #3046
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03046/joss.03046/10.21105.joss.03046.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03046/joss.03046/10.21105.joss.03046.pdf) :page_facing_up: :point_left:

[2021-02-20 23:15] mjsottile commented on #3028
:wave: @uellue, @ulvgard Would you be interested in reviewing this submission for JOSS?  I am looking for one additional reviewer.  I believe you would be a fit for this work based on your areas of interest listed in our list of potential reviewers.

[2021-02-21 01:30] csinva commented on #3046
Anyone with experience in interpretable machine learning and python would make a great reviewer! Looking at the list of  volunteer reviewers, I think the following people would make wonderful reviewers (starting from the bottom of the volunteer reviewer list):

hbaniecki, xiaohk, expectopatronum

[2021-02-21 02:08] stsievert commented on #2980
Thanks for the request! I'm afraid I'll have to decline this review – my bandwidth is unfortunately limited.

I have briefly glanced at the code. I would recommend reviewing the JOSS reviewer guidelines and improving the documentation.

[2021-02-21 04:43] gkthiruvathukal commented on #2980
@stsievert I know the feeling about limited bandwidth. You've already done such a nice job of giving feedback. I occasionally have to explain this to reviewers: *Any* feedback is helpful to help improve a submission, and we work with your schedule to complete your review. COVID-19 has put all of us under major strain, so what's the hurry? Given that you offered comments, I do sense some interest.

[2021-02-21 04:44] ziatdinovmax commented on #3001
Here you go:

In their package/paper, J. Buchner introduces a general-purpose Bayesian-inference package for parameter estimation and model comparison. I was able to easily install the package and reproduce the examples in tutorials. The paper itself is written in a clear and concise manner. My only suggestion is to improve documentation of individual functions according to one of the accepted sty

[2021-02-21 07:37] jcorbino commented on #2936
- Updated the Doxyfile
- Removed generated files (doc_C++ folder)
- Left in place 'doc_MATLAB' folder since this is generated through a non-standard tool
- Expanded a little bit the README file
- Installation looks straight forward
- All files pertinent to JOSS are located in JOSS/
- Created a .github/workflow so paper.pdf gets generated as an artifact on every push

Currently working on catching

[2021-02-21 09:17] richardjgowers commented on #2824
@symmy596 re references, in the above pdf, lines 68 & 82 should get merged.  re orthogonal cells line 88

[2021-02-21 09:18] richardjgowers commented on #3011
@whedon add @rmeli as reviewer

[2021-02-21 09:18] whedon commented on #3011
OK, @rmeli is now a reviewer

[2021-02-21 09:19] richardjgowers commented on #3011
@whedon add @Sulstice as reviewer

[2021-02-21 09:19] whedon commented on #3011
OK, @Sulstice is now a reviewer

[2021-02-21 09:19] richardjgowers commented on #3011
@whedon start review

[2021-02-21 09:19] whedon opened #3050 "[REVIEW]: kallisto: A command-line interface to simplify 2 computational modelling and the generation of atomic features."
**Submitting author:** @f3rmion (<a href="http://orcid.org/0000-0002-3985-595X">Eike Caldeweyher</a>)
**Repository:** <a href="https://github.com/AstraZeneca/kallisto" target ="_blank">https://github.com/AstraZeneca/kallisto</a>
**Version:** v1.0.7
**Editor:** @richardjgowers
**Reviewer:** @rmeli, @Sulstice
**Archive:** <a href="https://doi.org/10.5281/zenodo.4692147" target="_blank">10.5281/zenod

[2021-02-21 09:19] whedon commented on #3011
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3050.

[2021-02-21 09:19] #3011 closed

[2021-02-21 09:19] whedon commented on #3050
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rmeli, @Sulstice it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-02-21 09:20] whedon commented on #3050
[code]

[2021-02-21 09:20] richardjgowers commented on #3011
@f3rmion yeah I was waiting on another person to get back to me, but we can proceed with 2

[2021-02-21 09:20] whedon commented on #3050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: :point_left:

[2021-02-21 09:21] richardjgowers commented on #3050
@rmeli @sulstice we're doing the review in this issue.  In general I'd recommend thoroughly going through the checklist above and raising issues against the repo for changes you'd like to see made.

[2021-02-21 09:21] whedon commented on #3050
[code]

[2021-02-21 09:22] richardjgowers commented on #2919
@pvermees would you have time to do the review? Thanks

[2021-02-21 10:03] marcozennaro commented on #3014
I would suggest http://people.sabanciuniv.edu/onat/ and http://www.grc.upv.es/calafate/

[2021-02-21 10:07] ikayz commented on #2924
@arfon The issue has been closed does it still need a review?

[2021-02-21 10:11] uellue commented on #3028
@mjsottile it would be my pleasure!

[2021-02-21 10:45] arfon commented on #2827
@whedon accept deposit=true

[2021-02-21 10:45] whedon commented on #2827
[code]

[2021-02-21 10:47] whedon commented on #2827
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1363440076575932416) 👈 🐦🐦🐦

[2021-02-21 10:47] whedon commented on #2827
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2096
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02827](https://doi.org/10.21105/joss.02827)
2. If everything looks g

[2021-02-21 10:47] arfon commented on #2828
@whedon accept

[2021-02-21 10:47] whedon commented on #2828
[code]

[2021-02-21 10:48] whedon commented on #2828
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2097

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2097, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-21 10:49] whedon commented on #2828
[code]

[2021-02-21 10:49] arfon commented on #2827
@JonathanReardon, @emdupre - many thanks for your reviews here and to @arokem for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you! ✨

@vahid-sb - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-21 10:49] #2827 closed

[2021-02-21 10:49] whedon commented on #2827
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02827/status.svg)](https://doi.org/10.21105/joss.02827)

**We need your help!**

Journal of Open Source Softwa

[2021-02-21 10:55] arfon commented on #2828
@whedon accept deposit=true

[2021-02-21 10:55] whedon commented on #2828
[code]

[2021-02-21 10:56] whedon commented on #2828
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1363442452024205312) 👈 🐦🐦🐦

[2021-02-21 10:56] whedon commented on #2828
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2098
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02828](https://doi.org/10.21105/joss.02828)
2. If everything looks g

[2021-02-21 10:59] arfon commented on #2828
@jordanperr, @tuelwer - many thanks for your reviews here and to @pdebuyl for editing this submission. JOSS relies upon the volunteer efforts of folks likes yourselves and we simply wouldn't be able to do this without you! ✨

@briandesilva - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-21 10:59] #2828 closed

[2021-02-21 10:59] whedon commented on #2828
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02828/status.svg)](https://doi.org/10.21105/joss.02828)

**We need your help!**

Journal of Open Source Softwa

[2021-02-21 11:37] pvermees commented on #2919
Yes I can try to find some time. Note that I am not a practitioner of
40Ar/39Ar geochronology so I won't be able to install the software on a
mass spectrometer. So all that I will be able to test is the data
processing side of Pychron.

I assume that I will receive detailed instructions on how to conduct the
review?

P

On Sun, 21 Feb 2021 at 09:23, Richard Gowers <notifications@github.com>
wrote:

[2021-02-21 11:40] arfon commented on #2855
@whedon accept deposit=true

[2021-02-21 11:40] whedon commented on #2855
[code]

[2021-02-21 11:42] whedon commented on #2855
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1363453951430000640) 👈 🐦🐦🐦

[2021-02-21 11:42] whedon commented on #2855
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2099
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02855](https://doi.org/10.21105/joss.02855)
2. If everything looks g

[2021-02-21 11:49] arfon commented on #2855
@soodoku, @sbenthall - many thanks for your reviews here and to @sbenthall for editing too! JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to do this without you ✨

@JannisHoch - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-21 11:49] #2855 closed

[2021-02-21 11:49] whedon commented on #2855
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02855/status.svg)](https://doi.org/10.21105/joss.02855)

**We need your help!**

Journal of Open Source Softwa

[2021-02-21 11:53] arfon commented on #2911
@whedon accept deposit=true

[2021-02-21 11:53] whedon commented on #2911
[code]

[2021-02-21 11:54] whedon commented on #2911
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1363456998126329862) 👈 🐦🐦🐦

[2021-02-21 11:54] whedon commented on #2911
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2100
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02911](https://doi.org/10.21105/joss.02911)
2. If everything looks g

[2021-02-21 11:54] arfon commented on #2810
@whedon set  v1.0.0 as version

[2021-02-21 11:54] whedon commented on #2810
OK.  v1.0.0 is the version.

[2021-02-21 11:55] arfon commented on #2810
@whedon set 10.5281/zenodo.4533739 as archive

[2021-02-21 11:55] whedon commented on #2810
OK. <a href="https://doi.org/10.5281/zenodo.4533739" target="_blank">10.5281/zenodo.4533739</a> is the archive.

[2021-02-21 11:55] arfon commented on #2810
@whedon accept

[2021-02-21 11:55] whedon commented on #2810
[code]

[2021-02-21 11:55] whedon commented on #2810
[code]

[2021-02-21 11:56] whedon commented on #2810
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2101

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2101, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-21 11:58] arfon commented on #2807
@whedon set 10.5281/zenodo.4553325 as archive

[2021-02-21 11:58] whedon commented on #2807
OK. <a href="https://doi.org/10.5281/zenodo.4553325" target="_blank">10.5281/zenodo.4553325</a> is the archive.

[2021-02-21 11:58] arfon commented on #2807
@whedon set v2021.02.20 as version

[2021-02-21 11:59] whedon commented on #2807
OK. v2021.02.20 is the version.

[2021-02-21 11:59] arfon commented on #2807
@whedon accept

[2021-02-21 11:59] whedon commented on #2807
[code]

[2021-02-21 12:00] whedon commented on #2807
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2102

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2102, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-21 12:01] arfon commented on #2810
@cMadan - I'm currently trying to move a bunch of submissions that are very close to finished through the last steps. I believe this is one of these so will proceed the accept and publish now.

[2021-02-21 12:01] arfon commented on #2810
@whedon accept deposit=true

[2021-02-21 12:01] whedon commented on #2810
[code]

[2021-02-21 12:02] whedon commented on #2810
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1363459128048431104) 👈 🐦🐦🐦

[2021-02-21 12:02] whedon commented on #2810
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2103
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02810](https://doi.org/10.21105/joss.02810)
2. If everything looks g

[2021-02-21 12:03] arfon commented on #2807
@whedon accept deposit=true

[2021-02-21 12:03] whedon commented on #2807
[code]

[2021-02-21 12:05] whedon commented on #2807
[code]

[2021-02-21 12:05] whedon commented on #2807
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1363459760255864833) 👈 🐦🐦🐦

[2021-02-21 12:05] whedon commented on #2807
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2104
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02807](https://doi.org/10.21105/joss.02807)
2. If everything looks g

[2021-02-21 12:06] arfon commented on #2924
@ikayz - we're still looking for a second reviewer if you're able to help out!

[2021-02-21 12:17] arfon commented on #2807
@zingale, @rtfisher - many thanks for your reviews here. JOSS relies upon the volunteer efforts of folks like yourselves, and we simply wouldn't be able to do this without you ✨

@AxelBrandenburg -  your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-21 12:17] #2807 closed

[2021-02-21 12:17] whedon commented on #2807
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02807/status.svg)](https://doi.org/10.21105/joss.02807)

**We need your help!**

Journal of Open Source Softwa

[2021-02-21 12:19] arfon commented on #2810
@DominiqueMakowski, @mmrabe - many thanks for your reviews here and to @cMadan for editing this submission. JOSS relies upon the volunteer efforts of people like you, and we simply wouldn't be able to do it without you! ✨

@ClaudioZandonella - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-21 12:19] #2810 closed

[2021-02-21 12:19] whedon commented on #2810
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02810/status.svg)](https://doi.org/10.21105/joss.02810)

**We need your help!**

Journal of Open Source Softwa

[2021-02-21 12:21] arfon commented on #2911
@melund, @BKillen05, @modenaxe - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission. JOSS relies upon the volunteer efforts of people like you and we simply wouldn't be able to do this without you! ✨

@pariterre - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-21 12:21] #2911 closed

[2021-02-21 12:21] whedon commented on #2911
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02911/status.svg)](https://doi.org/10.21105/joss.02911)

**We need your help!**

Journal of Open Source Softwa

[2021-02-21 12:21] arfon commented on #3043
@whedon assign me as editor

[2021-02-21 12:21] whedon commented on #3043
OK, the editor is @arfon

[2021-02-21 12:23] arfon commented on #3043
@rrjbca - thanks for your submission to JOSS? Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission? (Please avoid @mentioning them here).

Also, if there are other people in the community who you think might be able to give this package a good review, please let me know.

[2021-02-21 12:25] arfon commented on #3031
@Kevin-Mattheus-Moerman @WilkAndy - I think we're good to proceed here. As I'm guessing this may not be the last MOOSE-related submission, let's just try and be very clear when dealing with the new submissions we understand how any new submission may related to a historical one.

[2021-02-21 12:26] rtfisher commented on #2807
Thank _you_ Arfon and Axel both for being extraordinarily patient with my
review. I look forward to working with you again in the future.

Best wishes,

Bob

On Sun, Feb 21, 2021 at 7:17 AM Arfon Smith <notifications@github.com>
wrote:

--
Dr. Robert Fisher
Associate Professor / Graduate Program Director
University of Massachusetts/Dartmouth
Department of Physics
285 Old Westport Road
North Dartmo

[2021-02-21 12:26] arfon commented on #3031
@whedon invite @jedbrown as editor

@jedbrown - I realize you're not able to devote a bunch of time to editing for JOSS right now but would you be willing to take this one on sometime in early March. @WilkAndy - many of our editors are very busy right now and so there may be some additional delays before we send this submission out for review.

[2021-02-21 12:26] whedon commented on #3031
@jedbrown has been invited to edit this submission.

[2021-02-21 12:53] arfon commented on #1752
OK thanks @gkthiruvathukal.

@nnadeau, @nthomasCUBE, @gkthiruvathukal - thanks for your efforts on this paper. Unfortunately it looks like this one isn't going to make it through review this time.

@KingZee - we'd welcome a resubmission in the future but at this point will assume you're no longer interested or able to pursue this paper in JOSS and therefore move to reject the submission.

[2021-02-21 12:53] arfon commented on #1752
@whedon reject

[2021-02-21 12:53] whedon commented on #1752
Paper rejected.

[2021-02-21 12:53] #1752 closed

[2021-02-21 13:16] pariterre commented on #2911
Thanks guys! That was a pleasure :)

[2021-02-21 13:20] ikayz commented on #2924
@arfon sure thing though I don't think I'm part of the repo.

[2021-02-21 13:24] vahid-sb commented on #2827
I wish to sincerely thank you all for your contributions to this review process. Dear @arokem, thanks for accepting to be the editor and for your effort in organizing the review and for your own comments to improve the paper. Dear @emdupre and @JonathanReardon, thanks a lot for accepting to be a reviewer and for your very helpful comments which made this library and its documentation better and mo

[2021-02-21 13:43] IgorBaratta commented on #2831
There are no "Performance claims" so I'm checking off this item, as per the reviewer guidelines.
The software does not perform parallel computing, which is one of the principles of FEniCS ( in which the software is based). However, @oalii  has provided some comments in that respect: https://github.com/openjournals/joss-reviews/issues/2831#issuecomment-762945323.

Since "Performance" is not a limit

[2021-02-21 14:14] jedbrown commented on #3031
I'll do my best. Just when I thought I was getting legs underneath me on Friday, daughter's childcare was canceled again, for at least a week (due to covid cases in other classrooms). So if we're lucky and she's healthy and they reopen, I can look in two weeks.

[2021-02-21 14:52] gkthiruvathukal commented on #3014
@marcozennaro  Can you suggest people who are in the list of JOSS reviewers (similar to wtbarnes)?

[2021-02-21 15:08] AJQuinn commented on #2977
Hi all - changes based on comments from @EtienneCmb are summarised here: https://gitlab.com/emd-dev/emd/-/issues/42#note_513753774 . I'm working on changes from @JanCBrammer next - will upate early next week.

Cheers

[2021-02-21 15:52] fboehm commented on #2743
Hi, @dwinter - How is the review going?

[2021-02-21 16:44] mponce0 commented on #2995
@fboehm just wondering whether there is anything else that would be needed from our side to move the review forward?

[2021-02-21 17:49] f3rmion commented on #3050
@whedon check references

[2021-02-21 17:49] whedon commented on #3050
[code]

[2021-02-21 17:50] arfon commented on #2409
Friendly reminder we're waiting on you to take the above next steps here @lydialucchesi before we can proceed.

[2021-02-21 17:52] arfon commented on #3049
@whedon add @ikayz as reviewer

[2021-02-21 17:52] whedon commented on #3049
OK, @ikayz is now a reviewer

[2021-02-21 17:52] f3rmion commented on #3050
@whedon set v1.0.3 as version

[2021-02-21 17:52] whedon commented on #3050
I'm sorry @f3rmion, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-02-21 17:53] arfon commented on #3049
@whedon re-invite @ikayz as reviewer

[2021-02-21 17:53] whedon commented on #3049
The reviewer already has a pending invite.

@ikayz please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-21 17:54] arfon commented on #3049
@ikayz - many thanks for agreeing to review this submission! I've added a checklist for you above. Please take a look at the [message I posted](https://github.com/openjournals/joss-reviews/issues/3049#issuecomment-782621514) earlier in the thread on what to do next.

Any questions, please ask!

[2021-02-21 17:55] arfon commented on #2924
Ah OK. I've added you to the review over in https://github.com/openjournals/joss-reviews/issues/3049. Thanks again @ikayz!

[2021-02-21 17:57] arfon commented on #2827
Thanks for the kind words @vahid-sb!

[2021-02-21 19:17] richardjgowers commented on #3050
@whedon set v1.0.3 as version

[2021-02-21 19:17] whedon commented on #3050
OK. v1.0.3 is the version.

[2021-02-21 19:17] ghislainv commented on #2975
Thanks a lot @molgor and @ethanwhite for reviewing the software and for your positive feedbacks. Thanks @kbarnhart for handling the paper review. I really appreciate. I will make the necessary changes to the software documentation and paper and will keep you informed soon.

[2021-02-21 19:53] sjvrijn commented on #2974
Hi @geoffreyp and @melissawm, sorry for the delay on my part until now. I'm continueing my review and will have some comments tomorrow.

[2021-02-21 20:03] ulvgard commented on #3028
Nice to see you filled the spot. Thanks for the consideration!

[2021-02-21 20:29] Kevin-Mattheus-Moerman commented on #3033
@whedon generate pdf

[2021-02-21 20:30] whedon commented on #3033
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03033/joss.03033/10.21105.joss.03033.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03033/joss.03033/10.21105.joss.03033.pdf) :page_facing_up: :point_left:

[2021-02-21 20:36] WilkAndy commented on #3031
I understand any delays.  Keep your family safe, @jedbrown

[2021-02-21 20:36] stsievert commented on #2980
I think "not available" is accurate – I'm not seeing how I'll be able to find the time required.

[2021-02-21 20:43] Kevin-Mattheus-Moerman commented on #3033
@whedon check references

[2021-02-21 20:43] whedon commented on #3033
[code]

[2021-02-21 20:49] Kevin-Mattheus-Moerman commented on #2950
@crshapiro  @tonyinme thanks for the response. I understand regarding time. Please note that we are not expecting the usual quick turn around at the moment. Instead we can be very flexible and wait if you need quite a lot of time (some reviews take months at the moment). So given this, please let me know if you feel we could assign you but give you (lots of) extra time to complete this review at y

[2021-02-21 20:52] Kevin-Mattheus-Moerman commented on #2950
@wimvanderbauwhede thanks for getting back to me. Many of us are under very unusual time constrains so as the message above shows we can be very flexible regarding time to complete this review. We can likely give you the time you need to complete this work at your own pace. Let me know if you can still help. Thanks again for getting back to me.

[2021-02-21 21:38] jbuisine commented on #2812
@torressa Thanks for your answer. I have just modified the README.md file as advised.

[2021-02-21 21:43] gkthiruvathukal commented on #2980
Thanks, @stsievert! Appreciate your initial input.

@yc015 I still don't have any reviewers, but I see the documentation issue reported by @stsievert as a blocker here. Can you please work to address this right away? And please suggest other reviewers from our reviewer list.

[2021-02-21 22:02] ghislainv commented on #2975
@kbarnhart, @molgor, @ethanwhite: I have answered to your remarks and taken into account your suggestions. In particular, I have added a "Statement of Need" section in the README file of the software and in the Home page of the website.

[2021-02-21 22:02] ghislainv commented on #2975
@whedon generate pdf

[2021-02-21 22:04] whedon commented on #2975
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: :point_left:

[2021-02-21 22:24] yc015 commented on #2980
@gkthiruvathukal Thank you! Yes, I will work on improving the API documentation and other items. I will notice you when these have been done. @stsievert Thank you so much for your comments!

[2021-02-21 22:26] richford commented on #3024
Thanks to all of the reviewers: @rougier, @JonathanReardon, and @janfreyberg.

@galessiorob, it looks like all of the reviewers have completed their reviews. Anticipating the next steps, I have cut a new version of *groupyr* and created a new archive DOI. Here's the new information:

new version: 0.2.1
new DOI: [10.5281/zenodo.4554452](https://zenodo.org/record/4554452)

If you need any other info

[2021-02-21 23:02] mdpiper commented on #2972
@gkthiruvathukal Yes, I can review this submission.

[2021-02-22 00:19] vyasr commented on #3028
Hi sorry for the slow response. I can't right now, I'm starting a new job next week.

[2021-02-22 01:21] mjsottile commented on #3028
@whedon add @uellue as reviewer

[2021-02-22 01:21] whedon commented on #3028
OK, @uellue is now a reviewer

[2021-02-22 01:29] mjsottile commented on #3028
@whedon start review

[2021-02-22 01:29] whedon opened #3051 "[REVIEW]: PyArmadillo: an alternative approach to linear algebra in Python"
**Submitting author:** @jason-rumengan (<a href="http://orcid.org/0000-0003-1839-5138">Jason Rumengan</a>)
**Repository:** <a href="https://gitlab.com/jason-rumengan/pyarma" target ="_blank">https://gitlab.com/jason-rumengan/pyarma</a>
**Version:** v0.500.0
**Editor:** @mjsottile
**Reviewer:** @JaroslavHron, @uellue
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-02-22 01:29] whedon commented on #3028
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3051.

[2021-02-22 01:29] #3028 closed

[2021-02-22 01:29] whedon commented on #3051
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JaroslavHron, @uellue it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-02-22 01:31] whedon commented on #3051
[code]

[2021-02-22 01:32] whedon commented on #3051
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03051/joss.03051/10.21105.joss.03051.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03051/joss.03051/10.21105.joss.03051.pdf) :page_facing_up: :point_left:

[2021-02-22 01:32] mjsottile commented on #3051
@jason-rumengan I did a quick review of the paper and I would like you to expand it slightly - it currently lacks some detail I'd usually expect in a JOSS paper.  I would recommend including a bit more detail about what the software provides and perhaps a short example illustrating its use.  For example, one of the core goals of your submission is a more Matlab/Octave like experience, so simply in

[2021-02-22 01:34] whedon commented on #3051
[code]

[2021-02-22 02:45] kbarnhart commented on #2948
@adamhsparks thanks for your review. @kadyb if discussion is necessary regarding any of the comments I'd recommend making an issue in the main repository. Otherwise you can respond here.

@mikerspencer a friendly reminder to provide an update on your review.

Thanks again to both of you for contributing to the JOSS review process.

[2021-02-22 02:50] kbarnhart commented on #2975
@ghislainv thanks for making changes in response to the reviewer comments. I've now linked all the issues and PRs associated with this review.

@ethanwhite and @molgor thank you for contributing reviews. If @ghislainv has addressed your concerns could you please ensure you have checked off all of the checkboxes and affirm in a comment here that you recommend this submission for acceptance.

[2021-02-22 03:51] gkthiruvathukal commented on #2972
@mdpiper Thanks for your response! We are always grateful to our reviewers during these challenging times! I will add you and get the review started.

[2021-02-22 03:51] gkthiruvathukal commented on #2972
@whedon add @mdpiper as reviewer

[2021-02-22 03:51] whedon commented on #2972
OK, @mdpiper is now a reviewer

[2021-02-22 03:52] gkthiruvathukal commented on #2972
@whedon start review

[2021-02-22 03:52] whedon opened #3052 "[REVIEW]: Unsupervised learning approach towards anomaly detection in compat logs with ADE"
**Submitting author:** @ayush-1506 (<a href="http://orcid.org/0000-0003-3550-691X">Ayush Shridhar</a>)
**Repository:** <a href="https://github.com/openmainframeproject/ade.git" target ="_blank">https://github.com/openmainframeproject/ade.git</a>
**Version:** v1.0.5
**Editor:** @gkthiruvathukal
**Reviewer:** @arcuri82, @mdpiper
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

[2021-02-22 03:52] whedon commented on #2972
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3052.

[2021-02-22 03:52] #2972 closed

[2021-02-22 03:52] whedon commented on #3052
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arcuri82, @mdpiper it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-02-22 03:53] whedon commented on #3052
[code]

[2021-02-22 03:53] whedon commented on #3052
[code]

[2021-02-22 03:54] whedon commented on #3052
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03052/joss.03052/10.21105.joss.03052.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03052/joss.03052/10.21105.joss.03052.pdf) :page_facing_up: :point_left:

[2021-02-22 05:49] lydialucchesi commented on #2409
Dear @arfon,

Thank you for your message. We have created a new release of Vizumap (v1.2.0) that includes the changes resulting from the JOSS review. We have also made an archive of the software on Zenodo. We first archived the R package on Zenodo in 2017. The latest archive for JOSS is linked to the original archive. Will that be okay?

A link to the Zenodo archive of Vizumap:
https://doi.org/10.

[2021-02-22 07:21] bmorris3 commented on #3026
Hi all, I'm oversubscribed for the next month or two – if you have any trouble finding a second reviewer let me know but it might take me a bit to get around to it.

[2021-02-22 07:51] pdebuyl commented on #2996
@whedon add @eviatarbach as reviewer

[2021-02-22 07:51] whedon commented on #2996
OK, @eviatarbach is now a reviewer

[2021-02-22 07:57] pdebuyl commented on #2996
@whedon start review

[2021-02-22 07:57] whedon opened #3053 "[REVIEW]: GeophysicalFlows.jl: Solvers for geophysical fluid dynamics problems in periodic domains on CPUs & GPUs"
**Submitting author:** @navidcy (<a href="http://orcid.org/0000-0002-8149-4094">Navid C. Constantinou</a>)
**Repository:** <a href="https://github.com/FourierFlows/GeophysicalFlows.jl" target ="_blank">https://github.com/FourierFlows/GeophysicalFlows.jl</a>
**Version:** v0.12.1
**Editor:** @pdebuyl
**Reviewer:** @ranocha, @eviatarbach
**Archive:** <a href="https://doi.org/10.5281/zenodo.4695260" t

[2021-02-22 07:57] whedon commented on #2996
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3053.

[2021-02-22 07:57] #2996 closed

[2021-02-22 07:57] whedon commented on #3053
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ranocha, @eviatarbach it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-02-22 07:58] whedon commented on #3053
[code]

[2021-02-22 07:58] whedon commented on #3053
PDF failed to compile for issue #3053 with the following error:

 Can't find any papers to compile :-(

[2021-02-22 07:59] pdebuyl commented on #3053
@ranocha @eviatarbach make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2021-02-22 07:59] pdebuyl commented on #3053
@whedon generate pdf from branch JOSS-paper

[2021-02-22 07:59] whedon commented on #3053
[code]

[2021-02-22 08:00] whedon commented on #3053
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03053/joss.03053/10.21105.joss.03053.pdf) :page_facing_up: :point_left:

[2021-02-22 08:32] vissarion commented on #3044
@whedon assign me as editor

[2021-02-22 08:32] whedon commented on #3044
OK, the editor is @vissarion

[2021-02-22 08:49] uellue commented on #3051
Regarding "Statement of need":

NumPy and SciPy are the de-facto standard for numerical processing in Python and already implement all functionality in PyArmadillo, as far as I could see. Furthermore, the NumPy ndarray interface is the "lingua franca" for interoperability within a large ecosystem of Python packages. PyArmadillo seems to deliberately separate itself from that ecosystem. This ecosys

[2021-02-22 08:57] arfon commented on #2409
@whedon set 10.5281/zenodo.4554558 as archive

[2021-02-22 08:57] whedon commented on #2409
OK. <a href="https://doi.org/10.5281/zenodo.4554558" target="_blank">10.5281/zenodo.4554558</a> is the archive.

[2021-02-22 08:57] arfon commented on #2409
@whedon set v1.2.0 as version

[2021-02-22 08:57] whedon commented on #2409
OK. v1.2.0 is the version.

[2021-02-22 08:58] arfon commented on #2409
@whedon accept

[2021-02-22 08:58] whedon commented on #2409
[code]

[2021-02-22 08:59] whedon commented on #2409
[code]

[2021-02-22 09:00] whedon commented on #2409
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2105

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2105, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-22 09:03] arfon commented on #2409
@lydialucchesi - this is the [latest proof](https://github.com/openjournals/joss-papers/blob/b271ac47cacfb57db85d04dd080332f41744ab96/joss.02409/10.21105.joss.02409.pdf) based on all the changes to date.

[2021-02-22 09:05] uellue commented on #3051
@mjsottile @jason-rumengan this concludes my first round of review. :-)

[2021-02-22 09:07] csoneson commented on #3009
@fgeier - could you give us a quick update about the status of your review? Thanks!

[2021-02-22 09:25] mikldk commented on #3004
@vs74, @inakleinbottle: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-02-22 09:26] mikerspencer commented on #2948
Thanks @kbarnhart. It's amazing 6 weeks have passed so quickly. My son's school started back today, so I've suddenly got a normal amount of time. I'll work through the review and get it back today or tomorrow.

[2021-02-22 09:32] aghaynes commented on #3030
thanks both

[2021-02-22 09:32] aghaynes commented on #3030
@whedon generate pdf

[2021-02-22 09:33] whedon commented on #3030
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03030/joss.03030/10.21105.joss.03030.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03030/joss.03030/10.21105.joss.03030.pdf) :page_facing_up: :point_left:

[2021-02-22 09:38] vissarion commented on #3044
@pnavaro the submission is in scope, I am searching for potential reviewers

[2021-02-22 09:40] Kevin-Mattheus-Moerman commented on #3033
@whedon invite @poulson as editor

[2021-02-22 09:40] whedon commented on #3033
@poulson has been invited to edit this submission.

[2021-02-22 09:40] vissarion commented on #3044
@dawbarton @ranocha Would you be willing to contribute a review for this JOSS submission?

[2021-02-22 09:49] vs74 commented on #3004
Hey @mikldk, thanks for tagging me. I would be glad to review this submission.

[2021-02-22 09:51] inakleinbottle commented on #3004
@mikldk I'd be happy to review the submission.

[2021-02-22 10:09] fgeier commented on #3009
@csoneson @js2264 Sorry didn't progress yet, but I want to finish by the end of this week. Tell me if you need it quicker

[2021-02-22 10:15] csoneson commented on #3009
Thanks @fgeier - no problem. Also feel free to post comments or questions as you encounter them if you want (no need to post the whole review in one go).

[2021-02-22 10:16] glyg commented on #2973
Hi @pdebuyl - The update to the doc is going on under this issue: https://github.com/DamCB/tyssue-demo/issues/4 - we are going back through the notebooks and trying to follow @SergeDmi 's advice to be more progressive. Also some newest notions as the `EventManager` haven't been documented properly yet.

As for the paper itself, we thought it might be better to have the comments from the second rev

[2021-02-22 10:23] whedon commented on #3020
:wave: @vijaysm, please update us on how your review is going (this is an automated reminder).

[2021-02-22 10:23] whedon commented on #3020
:wave: @chennachaos, please update us on how your review is going (this is an automated reminder).

[2021-02-22 10:26] mikldk commented on #3004
@whedon assign @vs74 as reviewer

[2021-02-22 10:26] whedon commented on #3004
OK, @vs74 is now a reviewer

[2021-02-22 10:26] mikldk commented on #3004
@whedon add @inakleinbottle as reviewer

[2021-02-22 10:26] whedon commented on #3004
OK, @inakleinbottle is now a reviewer

[2021-02-22 10:26] mikldk commented on #3004
@whedon start review

[2021-02-22 10:26] whedon opened #3054 "[REVIEW]: gmr: Gaussian Mixture Regression"
**Submitting author:** @AlexanderFabisch (<a href="http://orcid.org/0000-0003-2824-7956">Alexander Fabisch</a>)
**Repository:** <a href="https://github.com/AlexanderFabisch/gmr" target ="_blank">https://github.com/AlexanderFabisch/gmr</a>
**Version:** v1.6.1
**Editor:** @mikldk
**Reviewers:** @inakleinbottle, @soodoku
**Archive:** <a href="https://doi.org/10.5281/zenodo.4449631" target="_blank">10

[2021-02-22 10:27] whedon commented on #3004
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3054.

[2021-02-22 10:27] #3004 closed

[2021-02-22 10:27] whedon commented on #3054
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vs74, @inakleinbottle it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-02-22 10:27] mikldk commented on #3054
@whedon generate pdf

[2021-02-22 10:27] whedon commented on #3054
[code]

[2021-02-22 10:28] whedon commented on #3054
[code]

[2021-02-22 10:28] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-02-22 10:28] whedon commented on #3054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03054/joss.03054/10.21105.joss.03054.pdf) :page_facing_up: :point_left:

[2021-02-22 10:28] mikldk commented on #3054
@vs74, @inakleinbottle: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this revi

[2021-02-22 10:30] marcozennaro commented on #3014
@gkthiruvathukal: it would be great to ask @gorlapraveen and @garrettj403 Thanks!

[2021-02-22 11:06] jdber1 commented on #2604
Hi @kyleniemeyer I have archived the software repo - the DOI is 10.5281/zenodo.4555201

[2021-02-22 11:07] jdber1 commented on #2604
@whedon generate pdf

[2021-02-22 11:08] whedon commented on #2604
PDF failed to compile for issue #2604 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (9a5ed3fef427451304bdbc1e/paper/paper.md): did not find expected '-' indicator while parsing a block collection at line 31 column 2 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0

[2021-02-22 11:13] vincentberenz commented on #2752
@gkthiruvathukal things are progressing, but taking more time than expected. My apologies for making this review difficult.

[2021-02-22 11:13] jdber1 commented on #2604
@whedon generate pdf

[2021-02-22 11:27] whedon commented on #2969
:wave: @Chilipp, please update us on how your review is going (this is an automated reminder).

[2021-02-22 11:27] whedon commented on #2969
:wave: @sabinomaggi, please update us on how your review is going (this is an automated reminder).

[2021-02-22 11:50] hansenjohnson commented on #3047
Thank you @Kevin-Mattheus-Moerman! I made some very slight changes to explicitly include a `Statement of need` section. Sorry for omitting that in the first place!

[2021-02-22 11:51] hansenjohnson commented on #3047
@whedon commands

[2021-02-22 11:51] whedon commented on #3047
Here are some things you can ask me to do:

[code]

[2021-02-22 11:51] hansenjohnson commented on #3047
@whedon generate pdf

[2021-02-22 11:53] whedon commented on #3047
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03047/joss.03047/10.21105.joss.03047.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03047/joss.03047/10.21105.joss.03047.pdf) :page_facing_up: :point_left:

[2021-02-22 11:55] SunilAnandatheertha commented on #3018
@Kevin-Mattheus-Moerman Could I please request you to please use the latest version from https://github.com/SunilAnandatheertha/PXO/releases/tag/V10.0.3. Thank you.

[2021-02-22 12:45] VivianePons commented on #2741
Hi thank you both @williamfgc and @milancurcic for the thorough reviews and @shahmoradi for all the improvements.

@williamfgc you left many boxes unchecked even though I understand that you are satisfied with the software. Maybe that's just an oversight? Could you go through the list and see if everything checks (and indeed CI is not required even though it's always good to have)

@milancurcic is

[2021-02-22 12:49] marcosvital commented on #3027
Hi,  @gmyenni, I will be the editor of your submission.

Please take a look at the errors compiled above regarding the pdf generation, and check if you can correct them. If you make any changes and want to try again, you can use `@whedon generate pdf` to have whedon try to create a new version (or just let me know and I'll do it).

At the same time, we can start assigning reviewers for you submiss

[2021-02-22 12:49] VivianePons commented on #2954
Hey, just checking to see where we are on this (as a real person editor, not a robot!)

@michakraus have you worked on the different comments posted by @ranocha ?

@ChrisRackauckas have you had time to start the review?

Best

Viviane

[2021-02-22 12:52] kbarnhart commented on #2948
@mikerspencer thanks for letting me know. At JOSS, we aim to be very understanding that the pandemic has changed people's time availability (e.g. , [see this blog post from early in the pandemic](https://blog.joss.theoj.org/2020/05/reopening-joss)). Just keep me posted if you need more time beyond this week.

[2021-02-22 12:53] VivianePons commented on #2946
Hi, just checking in to see how we are doing over here (as a real person this time, not a robot!)

@gcdeshpande did you manage to solve the issue with your system? By the way, if the issues are related to this software, please update the author on what they are. Especially if you're having trouble solving it as this might be useful for future users.

[2021-02-22 12:54] marcosvital commented on #2692
Hi, @SteveViss and @62442katieb! Any news on this revision? Let me know if you are facing any problems, ok?

[2021-02-22 12:55] poulson commented on #3033
Hi @Kevin-Mattheus-Moerman -- I am pretty comfortable with the convex optimization and linear algebra they are making use of but am pretty far from an expert on quantum information theory. I should be able to handle finding reviewers who are though.

[2021-02-22 12:55] poulson commented on #3033
@whedon set @poulson as editor

[2021-02-22 12:55] whedon commented on #3033
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-22 12:55] poulson commented on #3033
@whedon commands

[2021-02-22 12:55] whedon commented on #3033
Here are some things you can ask me to do:

[code]

[2021-02-22 12:56] poulson commented on #3033
@whedon assign @poulson as editor

[2021-02-22 12:56] michakraus commented on #2954
@VivianePons Thanks for checking in on this.

I worked on most of the comments. However, in the process a few issues surfaced which are better fixed properly once and for all rather than quick and dirty. If things go well, I might finish this week, but depending on my workload it may also take a little longer...

Best,
Michael

[2021-02-22 12:56] whedon commented on #3033
OK, the editor is @poulson

[2021-02-22 12:57] VivianePons commented on #2954
Good to hear! No rush over here, just making sure things are still moving ;)

[2021-02-22 12:58] poulson commented on #3033
Hi Vincent (@vprusso) :wave:.

Thank you for this submission and, before I reach out to find a set of reviewers, are there any experts in both quantum information theory (and, ideally, python) that you would recommend?

[2021-02-22 13:01] rrjbca commented on #3043
@arfon thank you for considering our submission! We would suggest the following reviewers: cescalara, rmorgan10, jborrow, ejhigson, astrom-tom, coljac, aureliocarnero, adrn, steven-murray, mgckind.

[2021-02-22 13:09] danielskatz commented on #2282
@mikerspencer - ping... ☝️  (I know things are tough these days, but I think we're close to finishing this, after a long effort)

[2021-02-22 13:12] melissawm commented on #2744
Hello, @kfhiga - it seems like this DOI link is broken, can you check to see what's happening? Thanks!

[2021-02-22 13:35] dfm commented on #3007
@shihyuntang: I just wanted to let you know that I'm still working on recruiting reviewers and I'll add them here as soon as I have it sorted. Thanks for your patience!

[2021-02-22 13:44] oliviaguest commented on #2891
@whedon check repository

[2021-02-22 13:44] oliviaguest commented on #2891
@whedon set 10.5281/zenodo.4544535 as archive

[2021-02-22 13:44] whedon commented on #2891
OK. <a href="https://doi.org/10.5281/zenodo.4544535" target="_blank">10.5281/zenodo.4544535</a> is the archive.

[2021-02-22 13:45] oliviaguest commented on #2891
@whedon accept

[2021-02-22 13:45] whedon commented on #2891
[code]

[2021-02-22 13:45] whedon commented on #2891
[code]

[2021-02-22 13:45] oliviaguest commented on #2891
@markusrobertjonsson can you change the title on zenodo to match the title of your JOSS submission please?

[2021-02-22 13:47] whedon commented on #2891
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2106

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2106, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-22 13:47] oliviaguest commented on #2891
@whedon set v1.0.1 as version

[2021-02-22 13:47] whedon commented on #2891
OK. v1.0.1 is the version.

[2021-02-22 13:47] whedon commented on #2891
[code]

[2021-02-22 13:48] oliviaguest commented on #2891
@whedon generate pdf

[2021-02-22 13:49] whedon commented on #2891
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02891/joss.02891/10.21105.joss.02891.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02891/joss.02891/10.21105.joss.02891.pdf) :page_facing_up: :point_left:

[2021-02-22 13:50] oliviaguest commented on #3042
Hey @vigji, @glyg, @RealPolitiX, when you all get a chance can you post your ETAs for your reviews — thanks! 🌸

[2021-02-22 13:51] apiad commented on #2989
Thanks! This is very helpful.

[2021-02-22 13:53] apiad commented on #2989
Yes, that would be very helpful! I

have already confirmed the functionality claims (by running all tests offline), I'm in the process of running a few manual examples to see the library in action and also check out the performance a little bit. A brief overview of the algorithm's background would be very nice!

[2021-02-22 13:54] oliviaguest commented on #3041
@whedon re-invite @Nathaniel-Haines as reviewer

[2021-02-22 13:54] whedon commented on #3041
OK, the reviewer has been re-invited.

@nathaniel-haines please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-22 13:56] shihyuntang commented on #3007
Dear @dfm Thank you for your notification. We understand that. We also used this time to import our wiki page. Now there is a dedicate "Demo with Example Data" to work user through the entire process with the example data.
However, we fix some small bugs as well during the process.
Should I just make a new release like v0.9.6-beta.2 (submitted verse was v0.9.6-beta.1) or I need to make a new submi

[2021-02-22 13:57] ethanwhite commented on #2975
Looks great! I recommend this submission for acceptance.

[2021-02-22 14:01] markusrobertjonsson commented on #2891
@oliviaguest The title on Zenodo is now changed to match the JOSS submission.

[2021-02-22 14:08] dfm commented on #3007
No need to make a new submission - we will expect the version number to be updated at least once throughout this process.

[2021-02-22 14:14] gkthiruvathukal commented on #2752
@vincentberenz No worries here. Thank you for responding!

[2021-02-22 14:21] mikerspencer commented on #2282
Hi all, apologies for the delay. I'd missed these in the rush of home schooling. Normal service is back this week so I'll get it finished off.

[2021-02-22 14:30] shihyuntang commented on #3007
@dfm Ok, Please let the reviewers know to review "v0.9.6-beta.3", instead of the submitted version "beta.1".
Thank you!

[2021-02-22 14:46] gully commented on #3026
I could probably do this review if no one else agrees to.  Given that Néstor can do it by March 12, I could match that date.  However, regarding conflict-of-interest, co-author Christina Hedges and I were co-workers from 2017-2020 and are co-authors on at least one research note and one or more large-author-list publications.

[2021-02-22 14:50] stulacy commented on #2908
Sorry, I'm not familiar with the particular application area of this package.

[2021-02-22 15:08] whedon commented on #3021
:wave: @dangeles, please update us on how your review is going (this is an automated reminder).

[2021-02-22 15:08] whedon commented on #3021
:wave: @Sara-ShiHo, please update us on how your review is going (this is an automated reminder).

[2021-02-22 15:36] ikayz commented on #3049
@arfon thanks I'll check them out and ask questions

[2021-02-22 15:57] 62442katieb commented on #2692
Hi @marcosvital , I've taken a look at the paper revision and am updating my comment accordingly:

Addressed 👍 Thanks!

Also addressed 👍 Thanks!

I took a look at commits and PRs to the UVehavior repository and haven't seen any changes to these files. Could you provide an update @Manolomon on any plans to update documentation?

[2021-02-22 16:01] pdebuyl commented on #2973
@fcooper8472 can you address the "code" part of the review already (general checks, functionality, and documentation)?

[2021-02-22 16:02] pdebuyl commented on #2973
@glyg you can proceed along DamCB/tyssue-demo#4 . You can also address @SergeDmi 's paper comments as that won't intersect yet with the review of @fcooper8472

[2021-02-22 16:09] lorenanicole commented on #2908
Thanks @stulacy

[2021-02-22 16:09] 62442katieb commented on #2692
Additionally, in reviewing the paper, I noticed a few typos and grammatical issues:
- page 1, line 39: "**Is** by their belonging group that the individuals are subjected to a treatment...", should read, "**It is** by their..."
- page 2, line 41: "UVehavior allows the researcher to **keep** track of their subjects, and **distribute** them by groups, as well as **managing** the tests to be conducte

[2021-02-22 16:10] lorenanicole commented on #2908
@rchew would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-02-22 16:18] Manolomon commented on #2692
Hello @62442katieb, thanks for your review. I'm addressing the typos as soon as possible. Regarding the documentation, we are currently working on it as part of an upcoming update to the system. We hope to include most of those changes this week.

Thank you, and best regards

[2021-02-22 16:19] lorenanicole commented on #3036
@Kevin-Mattheus-Moerman to confirm were the concerns raised here https://github.com/openjournals/joss-reviews/issues/3036#issuecomment-780409626 and answered here https://github.com/openjournals/joss-reviews/issues/3036#issuecomment-781046612 adequately addressed?

[2021-02-22 17:00] wimvanderbauwhede commented on #2950
Hi @Kevin-Mattheus-Moerman sorry for dropping this for a while. Yes, I'm still willing to help. I will try to have a look at this in the next two weeks.

[2021-02-22 17:12] glyg commented on #2973
ok, I'll try to make some progress at the end of the week, then Sophie (who's absent this week) will relay

[2021-02-22 17:12] Mmj94 commented on #2578
Hi @emilljungberg,

I thought about these example scripts as templates that the user could modify to experiment with the effect of different field maps, off-resonance ranges, k-space trajectories, etc. However, I just push the code so the default parameters can reproduce the figures on the paper.

Hope this helps!

[2021-02-22 17:13] csoneson commented on #2440
@neuromusic - I'm going to pause this submission again. Unless I get a firm commitment to address the remaining issues within the next three weeks we will proceed with rejecting this submission and welcome a resubmission at a later stage.

[2021-02-22 17:14] diehlpk commented on #2942
@rdeits Does the proposed time lime works for you?

[2021-02-22 17:16] diehlpk commented on #2939
@iammix and @corentin-dev how is your review going?

[2021-02-22 17:20] glyg commented on #3042
Hi @oliviaguest I plan to make some progress on that at the end of the week, not sure how far I'll be able to get, but I'll update on Friday with an ETA

[2021-02-22 17:21] vigji commented on #3042
Hey @oliviaguest ! I did most of my comments on the package via issues in the repo, will write a complete report once they will all be addressed - If I got the procedure right!

[2021-02-22 17:35] alexhanna commented on #2908
Sorry, no bandwidth rn.

[2021-02-22 17:39] js2264 commented on #3009
@fgeier Thank you for getting back to us! As csoneson said, don't hesitate to give your feedback bit by bit. I don't want to pressure you at all, but I have a grant application with a deadline on Feb 28, so if I can add VplotR with a DOI to the application by then, that would be awesome. But if you are too busy this week (or if you have comments that will delay the acceptance more than few days -

[2021-02-22 18:09] lorenanicole commented on #2908
@akbaritabar would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-02-22 18:19] stsievert commented on #2812
I have followed "[A Tour of Macop][1]" and tried to implement a continuous optimization problem (gradient descent on a restricted search space). I got close to making it work, but not quite. I have some specific comments, both of which are blocking:

1. **Functionality documentation:**  the functionality is not documented. I tried walking through the example to test one of the core features, the g

[2021-02-22 18:23] rdeits commented on #2942
Yes, that works for me

[2021-02-22 18:26] whedon commented on #3022
:wave: @Christovis, please update us on how your review is going (this is an automated reminder).

[2021-02-22 18:26] whedon commented on #3022
:wave: @changhoonhahn, please update us on how your review is going (this is an automated reminder).

[2021-02-22 18:40] csoneson commented on #3009
@js2264 - you could perhaps get a DOI for your grant application by submitting your paper to a [preprint server](https://joss.readthedocs.io/en/latest/submitting.html#preprint-policy). Of course it is possible that you will have a JOSS DOI by the end of the week, but I don't think one should assume such a rapid turnaround time (note that, in particular, JOSS is still operating in [reduced service

[2021-02-22 18:47] js2264 commented on #3009
Noted. Thanks for the suggestion, I'll look into that right now!

[2021-02-22 18:47] js2264 commented on #3009
Noted. Thanks for the suggestion, I'll look into that right now!

[2021-02-22 18:47] js2264 commented on #3009
Noted. Thanks for the suggestion, I'll look into that right now!

[2021-02-22 18:52] neuromusic commented on #2440
Thanks @csoneson. We're working through fixing our CI to accommodate the requested changes. A pause to the submission sounds reasonable.

[2021-02-22 18:58] JohannesBuchner commented on #3001
I haven't had time yet to address Matt's comment, but just as a quick reply: This convention is from PEP 257, section "One-line Docstrings". I use it for simple functions where I believed the function name, the argument names and the one-line docstring give sufficient documentation. If you have a list of functions which are unclear, I am happy to expand the documentation.

[2021-02-22 19:13] dhhagan commented on #2781
@whedon generate pdf

[2021-02-22 19:13] dhhagan commented on #2781
@whedon check references

[2021-02-22 19:13] whedon commented on #2781
[code]

[2021-02-22 19:13] whedon commented on #2781
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02781/joss.02781/10.21105.joss.02781.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02781/joss.02781/10.21105.joss.02781.pdf) :page_facing_up: :point_left:

[2021-02-22 19:19] dhhagan commented on #2781
Hey @aaronspring - the paper looks good! Could you please tag a release and archive and then report the final version number and archive DOI in this thread?

[2021-02-22 19:20] dhhagan commented on #2890
@jhollist That should work fine, seeing as we're already getting near the beginning of March. I'll add you as the second reviewer here. Let me know if you have any questions.

[2021-02-22 19:20] dhhagan commented on #2890
@whedon invite @jhollist as reviewer

[2021-02-22 19:20] whedon commented on #2890
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-22 19:20] whedon commented on #2890
Here are some things you can ask me to do:

[code]

[2021-02-22 19:21] dhhagan commented on #2890
@whedon add @jhollist as reviewer

[2021-02-22 19:21] whedon commented on #2890
OK, @jhollist is now a reviewer

[2021-02-22 19:21] aaronspring commented on #2781
Just update typo. (3) to 3.

[2021-02-22 19:22] dhhagan commented on #2890
@whedon remove @sahilseth as reviewer

[2021-02-22 19:22] whedon commented on #2890
OK, @sahilseth is no longer a reviewer

[2021-02-22 19:22] dhhagan commented on #2890
@whedon re-invite @jhollist as reviewer

[2021-02-22 19:23] whedon commented on #2890
The reviewer already has a pending invite.

@jhollist please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-22 19:39] eloisabentivegna commented on #3037
@Kevin-Mattheus-Moerman, you are right, this was fully within my domain. I have my hands full at the moment though -- glad you could find another editor!

[2021-02-22 19:51] j-faria commented on #3026
Hi @arfon, @rodluger
I'd be happy to do the review but can't make it before March 10.
Can try to match Néstor's date or have it ready for the following week for sure.

[2021-02-22 19:52] eloisabentivegna commented on #2555
@ianhinder, @gouarin, do you have updates to report?

[2021-02-22 19:53] eloisabentivegna commented on #2978
@robertsawko, @rhaas80, could you post a review update?

[2021-02-22 20:04] wvanzeist commented on #2968
I have responded to every issue that has been raised in the repository; is there anything else that is keeping the review from proceeding?

[2021-02-22 20:20] molgor commented on #2975
Agree! I also recommend it for acceptance.
🎉

[2021-02-22 20:57] arfon commented on #3043
:wave: @cescalara @rmorgan10 @adrn - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is [_SkyPy: A package for modelling the Universe_](https://github.com/skypyproject/skypy)

[2021-02-22 21:04] cescalara commented on #3043
Hi, I'd be happy to review.

[2021-02-22 21:08] arfon commented on #3026
:zap: thanks @j-faria! I'd love to have you as a reviewer here and the timeframe you suggest sounds great! As we now have two reviewers, I'll go ahead and set up the main review issue.

[2021-02-22 21:08] arfon commented on #3026
@whedon add @j-faria as reviewer

[2021-02-22 21:08] whedon commented on #3026
OK, @j-faria is now a reviewer

[2021-02-22 21:09] arfon commented on #3026
@nespinoza, @j-faria. One thing I forgot to mention when inviting you both to review is that this JOSS submission/paper is a joint publication with AAS Journals, i.e. this JOSS paper will be published together with another paper in one of the AAS journals. As part of this collaboration, AAS publishing makes a small donation to the running costs of JOSS.

If this is unacceptable to you, please let

[2021-02-22 21:11] arfon commented on #3043
@rrjbca - does this submission accompany a paper in a AAS journal?

[2021-02-22 21:11] arfon commented on #3043
@whedon add @cescalara as reviewer

[2021-02-22 21:11] whedon commented on #3043
OK, @cescalara is now a reviewer

[2021-02-22 21:13] arfon commented on #3043
:zap: thanks! I'll wait until a second reviewer has been identified before opening the main review issue. Hopefully this won't take too long 😄

[2021-02-22 21:21] symmy596 commented on #2824
@whedon generate pdf

[2021-02-22 21:24] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-02-22 21:27] symmy596 commented on #2824
@richardjgowers
Thanks. Lines now merged

[2021-02-22 21:28] symmy596 commented on #2824
@whedon generate pdf

[2021-02-22 21:28] gmyenni commented on #3027
Hi @marcosvital Thanks!

What about pboesu, jhollist, juanvillada, giskid, ViniciusBRodrigues, trashbirdecology, or ajpelu?

[2021-02-22 21:30] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-02-22 21:31] gmyenni commented on #3027
I'll work on fixing the errors. Sorry if it takes a few tries. The error doesn't happen at https://whedon.theoj.org/, so it's hard to test.

[2021-02-22 21:35] aaronspring commented on #2781
Version: v2.1.2
Archive: https://zenodo.org/record/4556086

[2021-02-22 22:11] arokem commented on #3017
👋  @lee-seon-woo : would you be willing to review this paper for JOSS?

[2021-02-22 22:11] arokem commented on #3017
👋 @jizecn: would you be willing to review this paper for JOSS? Thanks!

[2021-02-22 22:16] RMeli commented on #3050
@whedon generate pdf

[2021-02-22 22:17] whedon commented on #3050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03050/joss.03050/10.21105.joss.03050.pdf) :page_facing_up: :point_left:

[2021-02-22 22:18] KevinShook commented on #2234
@whedon generate pdf

[2021-02-22 22:18] whedon commented on #2234
PDF failed to compile for issue #2234 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (a61e06cd2a4edf93b9d570d2/paper/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 18 column 18 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/r

[2021-02-22 22:22] KevinShook commented on #2234
@whedon generate pdf

[2021-02-22 22:23] whedon commented on #2234
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02234/joss.02234/10.21105.joss.02234.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02234/joss.02234/10.21105.joss.02234.pdf) :page_facing_up: :point_left:

[2021-02-22 22:26] RMeli commented on #3050
Hi @f3rmion . In the `README` (under "Full Author List")  your name is listed alongside "Philipp Pracht" but you are the only author in the JOSS article. I can see Pracht's contributions are only acknowledged in the paper; could you please confirm that this is intended, so that I can tick off the "Contribution and authorship" box?

I'm asking this since there are only 7 commits in the public repos

[2021-02-22 22:33] KevinShook commented on #2234
@whedon generate pdf

[2021-02-22 22:34] whedon commented on #2234
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02234/joss.02234/10.21105.joss.02234.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02234/joss.02234/10.21105.joss.02234.pdf) :page_facing_up: :point_left:

[2021-02-22 22:39] kbarnhart commented on #2975
@ethanwhite and @molgor thank you for your reviews and confirming that you recommend this be accepted.

@ghislainv at this stage I will do some final checks (e.g., paper proofreading) and will then ask you to do a few steps before this can move to the final stages of publication. I anticipate finishing my steps in the next few days.

[2021-02-22 23:01] fboehm commented on #2995
@JDRomano2 - How is your review going? Do you have outstanding issues for the authors to address? Please feel free to check off items in the checklist once you're satisfied.

Thanks again!

[2021-02-22 23:07] rmorgan10 commented on #3043
I'd be happy to review as well. I'm currently away from my computer so I won't be able to start my review until next week, but I'll certianly be able to get it done within the usual JOSS timeframe

[2021-02-22 23:09] Chilipp commented on #2969
Sorry for the delay. I'll hand in the review by Wednesday evening

[2021-02-22 23:18] galessiorob commented on #3024
Thank you @rougier @JonathanReardon and @janfreyberg for the quick turnaround.

@richford thank you for being so efficient and proactive! I'll take a final pass at it and ping the editor to get this published ASAP.

[2021-02-22 23:19] galessiorob commented on #3024
@whedon generate pdf

[2021-02-22 23:19] whedon commented on #3024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03024/joss.03024/10.21105.joss.03024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03024/joss.03024/10.21105.joss.03024.pdf) :page_facing_up: :point_left:

[2021-02-22 23:27] galessiorob commented on #3024
@whedon set v0.2.1 as version

[2021-02-22 23:27] whedon commented on #3024
OK. v0.2.1 is the version.

[2021-02-22 23:28] galessiorob commented on #3024
@whedon set 10.5281/zenodo.4554452 as archive

[2021-02-22 23:28] whedon commented on #3024
OK. <a href="https://doi.org/10.5281/zenodo.4554452" target="_blank">10.5281/zenodo.4554452</a> is the archive.

[2021-02-22 23:28] galessiorob commented on #3024
@whedon generate pdf

[2021-02-22 23:29] whedon commented on #3024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03024/joss.03024/10.21105.joss.03024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03024/joss.03024/10.21105.joss.03024.pdf) :page_facing_up: :point_left:

[2021-02-22 23:30] galessiorob commented on #3024
@richford could you proofread this final version, please? 🙏

Once you greenlight it we can accept it and publish it 🎉

[2021-02-22 23:32] galessiorob commented on #2805
@jdalzatec, @omshinde, @nuest, @martinfleis I recognize that this paper has elongated past the ideal time, if you can, please resume your reviews. Let me know if you have a conflict.

Thanks!

[2021-02-22 23:34] galessiorob commented on #2971
@whedon add @hakanfriden as reviewer

[2021-02-22 23:34] whedon commented on #2971
OK, @hakanfriden is now a reviewer

[2021-02-22 23:35] galessiorob commented on #2971
Thanks for reaching out to your contacts @devosmitachatterjee2018, I have added @hakanfriden and continue to email people listed as volunteer reviewers.

[2021-02-22 23:41] richford commented on #3024
Hi @galessiorob, I just read through the final version and it looks good to me :rocket:

Thanks for everyone's hard work on this!

[2021-02-23 00:23] boshek commented on #2927
@tweed1e - should we consider your review finished now? We are looking to triage and plan how we are going to address the review.

[2021-02-23 00:41] rchew commented on #2908
Hi Lorena,

I'd be happy to review the submission -- let me know how I can help.

Best,

Rob

On Mon, Feb 22, 2021 at 11:10 AM Lorena Mesa <notifications@github.com>
wrote:

[2021-02-23 00:50] tweed1e commented on #2927
Yes, sorry for the delay, consider it finished. I still have final
(positive) thoughts to write down but they shouldn’t make extra work for
you or conflict with the other reviewer’s comments.

On Mon, Feb 22, 2021 at 7:24 PM Sam Albers <notifications@github.com> wrote:

[2021-02-23 01:23] kfhiga commented on #2744
Hello @melissawm <https://github.com/melissawm>,

Sorry for the inconvenience. I got in touch with Dryad, and turns out
that they prefer to have software-only archives go directly to Zenodo
rather than through their data curation process (where my submission
got stuck).

Here's the new DOI:

10.5281/zenodo.4556303

or hyperlink:

https://doi.org/10.5281/zenodo.4556303

Thank you!

Kenny

On Mon, F

[2021-02-23 01:29] katiebreivik commented on #2968
Hi @wvanzeist -- apologies on my part!! I am reading through the new proof this evening since I've been swamped for the past week.

[2021-02-23 01:44] katiebreivik commented on #2968
I am happy to recommend for publishing -- all boxes checked!

[2021-02-23 02:11] vprusso commented on #3033
Hi Jack,

Thanks for getting back to me. Sure, I can suggest a few individuals who
are quantum information theorists who have also contributed to various
Python projects that I think would be great candidates (assuming they are
available, of course):

Sarah Kaiser: https://github.com/crazy4pi314
Josh Combes: https://github.com/joshcombes
Ryan LaRose: https://github.com/rmlarose
Nathan Shammah: htt

[2021-02-23 03:06] gkthiruvathukal commented on #3033
@vprusso I was probably not clear on this request. Are they currently on the JOSS list of reviewers? (See link at the very top of this issue thread). It would be ideal if you can select from that list. I am working to clarify how new reviewers can be added to the system.

[2021-02-23 07:25] f3rmion commented on #3050
Confirmed, I talked to him and he only wants to be mentioned within the acknowledgements.

[2021-02-23 07:43] akbaritabar commented on #2908
Dear @lorenanicole
Thanks for asking. But unfortunately I cannot allocate time at the moment due to other obligations. I am sorry.
Best.
Ali

[2021-02-23 08:30] Kevin-Mattheus-Moerman commented on #2831
@IgorBaratta thanks for your comments and your help here!

[2021-02-23 08:32] Kevin-Mattheus-Moerman commented on #2831
@chennachaos I hope are well. I was wondering if you could comment on my reply :point_up:, and pick up this review. It is okay if you need more time also, just let us know. Thanks again for your help.

[2021-02-23 08:44] Rachine commented on #2989
Here is the link to the slides: https://docs.google.com/presentation/d/1dIyx_Xs8oN-9xKE4pQin1EdMN7dD90ga1LaSluZ_mps/edit?usp=sharing
If we need to clarify something, or if you need anything do not hesitate to ping us.

Best,

[2021-02-23 08:46] Kevin-Mattheus-Moerman commented on #3018
We usually do not review a particular tagged version since the review often triggers (e.g. minor) changes in the software. Once the review is complete we do create a tagged release which is then associated with the paper. I'll update the version tag here (which may be upgraded again time) but perhaps we can keep the repository the same, since I take it your main branch is still the one reviewers s

[2021-02-23 08:46] Kevin-Mattheus-Moerman commented on #3018
@whedon set V10.0.3 as version

[2021-02-23 08:46] whedon commented on #3018
OK. V10.0.3 is the version.

[2021-02-23 08:48] Kevin-Mattheus-Moerman commented on #3018
I will start looking for reviewers in the coming week. We are operating at a slower pace then usual. In the mean time it would be helpful if you could recommend reviewers at this time (see also our current list of reviewers mentioned above). You can mention their github user names without the `@` so you do not tag them yet. Thanks.

[2021-02-23 08:49] Kevin-Mattheus-Moerman commented on #2950
@whedon assign @wimvanderbauwhede as reviewer

[2021-02-23 08:49] whedon commented on #2950
OK, @wimvanderbauwhede is now a reviewer

[2021-02-23 08:55] Kevin-Mattheus-Moerman commented on #2950
@claireverhulst @JuhaTonttila @fjansson @jayten @corentin-dev @zbeekman @ashwinvis @adam-m-jcbs @rabernat @p-costa would you be interested in reviewing this work for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/): uDALES: large-eddy-simulation software for urban flow, dispersion, and microclimate modelling?

Note we can give you a lot of additional time as we understand revi

[2021-02-23 09:11] Kevin-Mattheus-Moerman commented on #3047
@KristinaRiemer @karthik @marcosvital @jni @kthyng could one of you handle this submission? Note these are some related papers which might help to find reviewers too:
https://github.com/openjournals/joss-reviews/issues/1825
https://github.com/openjournals/joss-reviews/issues/2097
https://github.com/openjournals/joss-reviews/issues/2172

[2021-02-23 09:23] ashwinvis commented on #2950
@Kevin-Mattheus-Moerman I am willing to take it up if I can take ~1 month to review the work.

[2021-02-23 09:45] xuanxu commented on #2987
@garrettj403 would you be willing to review this paper? I think your knowledge of Radioastronomy and Python makes you a good fit for this submission.

[2021-02-23 10:29] p-costa commented on #2950
Hi @Kevin-Mattheus-Moerman, I am happy to review it if I can take about one month.

[2021-02-23 10:41] rrjbca commented on #3043
@arfon No this is a stand-alone submission

[2021-02-23 10:45] Kevin-Mattheus-Moerman commented on #2950
@whedon add @p-costa as reviewer

[2021-02-23 10:45] whedon commented on #2950
OK, @p-costa is now a reviewer

[2021-02-23 10:46] Kevin-Mattheus-Moerman commented on #2950
@whedon add  @ashwinvis as reviewer

[2021-02-23 10:46] whedon commented on #2950
OK,  @ashwinvis is now a reviewer

[2021-02-23 10:47] Kevin-Mattheus-Moerman commented on #2950
Great we now have 3 reviewers and I'll initiate the review process. If others invited want to join I can add them in the review issue as well. Thanks a lot for agreeing to help!

[2021-02-23 10:47] Kevin-Mattheus-Moerman commented on #2950
@whedon start review

[2021-02-23 10:47] whedon opened #3055 "[REVIEW]: uDALES: large-eddy-simulation software for urban flow, dispersion, and microclimate modelling"
**Submitting author:** @tomgrylls (<a href="http://orcid.org/0000-0002-0948-4932">Tom Grylls</a>)
**Repository:** <a href="https://github.com/uDALES/u-dales" target ="_blank">https://github.com/uDALES/u-dales</a>
**Version:** 1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @wimvanderbauwhede, @p-costa, @ashwinvis
**Archive:** <a href="https://doi.org/10.5281/zenodo.5111497" target="_blank

[2021-02-23 10:47] whedon commented on #2950
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3055.

[2021-02-23 10:47] #2950 closed

[2021-02-23 10:47] whedon commented on #3055
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wimvanderbauwhede, @p-costa, @ @ashwinvis it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [o

[2021-02-23 10:48] whedon commented on #3055
[code]

[2021-02-23 10:48] whedon commented on #3055
PDF failed to compile for issue #3055 with the following error:

 Can't find any papers to compile :-(

[2021-02-23 10:49] Kevin-Mattheus-Moerman commented on #3055
@whedon generate pdf from branch joss-paper

[2021-02-23 10:49] whedon commented on #3055
[code]

[2021-02-23 10:50] whedon commented on #3055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: :point_left:

[2021-02-23 10:53] Kevin-Mattheus-Moerman commented on #3055
@wimvanderbauwhede, @p-costa, @ashwinvis this is where the review takes place. I'll be flexible with time and will check back here in a about a month. Make sure you accept the above invitation :point_up: to be able to tick the boxes that will guide you through the review process (see also: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

Let me know if you have any questions.

Tha

[2021-02-23 10:55] Kevin-Mattheus-Moerman commented on #3055
@ashwinvis our bot whedon seems to have accidentally assigned you as `@ @ashwinvis` initially rather than `@ashwinvis` (@openjournals/dev perhaps this happens sometimes when we rapidly assign one reviewer after another?). I manually fixed the above tickbox set etc to have your handle in there properly but let me know if you experience any difficulties. (I may need to reassign you).

[2021-02-23 10:59] Kevin-Mattheus-Moerman commented on #2885
@hugoledoux @LiangliangNan it has been challenging to find reviewers here. Can you help suggest some reviewers? Thanks

[2021-02-23 11:01] Kevin-Mattheus-Moerman commented on #2885
@mlivesu thanks for your responses earlier. Here is one last attempt from me to try to recruit you as a reviewer. We are still looking for reviewers and I can add that we can be extremely flexible regarding review time to give you the time you need. Given this, would you reconsider? If you cant that is understandable of course.

[2021-02-23 11:14] arfon commented on #3043
@whedon add @rmorgan10 as reviewer

[2021-02-23 11:14] whedon commented on #3043
OK, @rmorgan10 is now a reviewer

[2021-02-23 11:14] arfon commented on #3043
@whedon start review

[2021-02-23 11:14] whedon opened #3056 "[REVIEW]: SkyPy: A package for modelling the Universe"
**Submitting author:** @rrjbca (<a href="http://orcid.org/0000-0003-1291-1023">Richard Rollins</a>)
**Repository:** <a href="https://github.com/skypyproject/skypy" target ="_blank">https://github.com/skypyproject/skypy</a>
**Version:** v0.4
**Editor:** @arfon
**Reviewer:** @cescalara, @rmorgan10
**Archive:** <a href="https://doi.org/10.5281/zenodo.4475347" target="_blank">10.5281/zenodo.4475347</a

[2021-02-23 11:14] whedon commented on #3043
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3056.

[2021-02-23 11:14] #3043 closed

[2021-02-23 11:14] whedon commented on #3056
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cescalara, @rmorgan10 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-02-23 11:15] arfon commented on #3043
@cescalara, @rmorgan10 - thanks for agreeing to review this submission. See you over in #3056 where the main review will take place.

[2021-02-23 11:15] whedon commented on #3056
[code]

[2021-02-23 11:15] whedon commented on #3056
PDF failed to compile for issue #3056 with the following error:

 Can't find any papers to compile :-(

[2021-02-23 11:15] arfon commented on #3056
@cescalara, @rmorgan10 – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied

[2021-02-23 11:19] arfon commented on #3056
@whedon generate pdf from branch joss-paper

[2021-02-23 11:19] whedon commented on #3056
[code]

[2021-02-23 11:20] whedon commented on #3056
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03056/joss.03056/10.21105.joss.03056.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03056/joss.03056/10.21105.joss.03056.pdf) :page_facing_up: :point_left:

[2021-02-23 11:24] wuruchi commented on #3049
Hello @arfon @djmitche @ikayz

We are very happy to have progressed into this stage of the process, and we are glad to be working with you.

As a note:

From the author's analysis: Wilmer Uruchi Ticona, bleudchanel, and wuruchi are all my usernames. I guess some of them got mixed in when I switched to working from home around March/April of 2020.

[2021-02-23 11:52] ashwinvis commented on #3055
@Kevin-Mattheus-Moerman I am unable to tick the checklist.

[2021-02-23 12:03] Kevin-Mattheus-Moerman commented on #3055
@whedon remove @ @ashwinvis as reviewer

[2021-02-23 12:03] whedon commented on #3055
OK, @ @ashwinvis is no longer a reviewer

[2021-02-23 12:04] Kevin-Mattheus-Moerman commented on #3055
@whedon add @ashwinvis as reviewer

[2021-02-23 12:04] whedon commented on #3055
OK, @ashwinvis is now a reviewer

[2021-02-23 12:04] Kevin-Mattheus-Moerman commented on #3055
@ashwinvis can you try to accept the invite :point_up: and try again?

[2021-02-23 12:46] ashwinvis commented on #3055
Thanks, @Kevin-Mattheus-Moerman. It works now.

[2021-02-23 13:04] wimvanderbauwhede commented on #3055
@Kevin-Mattheus-Moerman  Two questions:
1. Regarding opening issues on the project repository under review: is there some tag we should use to make it clear that this is an issue related to the JOSS review?
2. "Has the submitting author (@tomgrylls) made major contributions to the software?" In terms of LoC it is clearly "no" (0.2% of changes), all we can say is that he has several paper on the to

[2021-02-23 13:09] jpsnijder commented on #3041
Dear @oliviaguest,

here are some additional notes and comments on the current review. If items are not listed here, then they were checked off without any issues or warranting a comment.

Overall, the package is in good shape and I can't foresee any issues with widespread use of it.
minor: https://github.com/sdparsons/splithalf states that the current version = 0.7.1; provided code installs 0.7.2

[2021-02-23 13:30] dmey commented on #3055
@wimvanderbauwhede and @Kevin-Mattheus-Moerman I appreciate that the list of authors as reported by the cloc utility may lead to some confusion so let me clarify this. Most commits made during development were squashed therefore the current metadata is not very indicative of the amount of work and contributions made by each author. Furthermore given that this project is a fork of DALES, our commit

[2021-02-23 13:34] conradsnicta commented on #3051
@mjsottile and @uellue Thank you for the constructive feedback and suggestions. We will revise the paper accordingly and respond in due course. (I'm one of the co-authors).

[2021-02-23 13:41] vprusso commented on #3033
Ah, my apologies. Sorry about that. Here are some JOSS reviewers who I
think would be well-suited for the submission:

jameshclrk
goerz
nmoran
ycchen1989
TejasAvinashShetty
WhiteSymmetry
marwahaha
rurz

Let me know if I can provide anything further, and thanks again.

On Mon, Feb 22, 2021 at 10:06 PM George K. Thiruvathukal <
notifications@github.com> wrote:

[2021-02-23 13:42] SunilAnandatheertha commented on #3018
Hi. Thank you for the message. Please find the below list of reviwer's usernames:
(1) ketch
(2) abigailsnyder
(3) mturiansky
(4) yangbai90
(5) na

Thanks

[2021-02-23 14:03] uellue commented on #3051
As a specific feedback, the fact that PyArmadillo matrices can be easily created from NumPy arrays and vice-versa could be highlighted in the paper and documentation. I only found that out by trying it. That could position PyArmadillo not so much as an alternative to NumPy and SciPy, but as an extension. It also means that existing tools like `matplotlib` can easily be used together with PyArmadil

[2021-02-23 14:14] Kevin-Mattheus-Moerman commented on #3055
@dmey thanks for the clarification.

[2021-02-23 14:15] Kevin-Mattheus-Moerman commented on #3055
@wimvanderbauwhede to answer your questions:
1. No there is no specific tag to use but you could link to the issues here in a comment so we can keep track on them too.  Thanks.
2. After the above clarification I think this point is now clear and can be approved.

[2021-02-23 14:16] dfm commented on #3037
@whedon assign @c-white as reviewer

Thanks Chris! We should have a second reviewer lined up shortly and we'll get the review started.

[2021-02-23 14:16] whedon commented on #3037
OK, @c-white is now a reviewer

[2021-02-23 14:17] apiad commented on #2989
Thanks, @Rachine, this was very enlightening.

Outside the scope of the submission, I have a question of my own: is there a rule-of-thumb dataset-independent scale for evaluating how good the agreement is?

E.g., in Kappa, I believe if you are somewhere above 0.7 it is considered a "good enough" agreement. Of course these values are always going to be very subjective, but in the end, measuring wha

[2021-02-23 14:51] ikayz commented on #3049
I'm glad to assist in anyway. I was wondering if all those user names are different people 😅

[2021-02-23 16:04] jdalzatec commented on #2805
@galessiorob Hi Gabby, I will check it ASAP. Thanks!

[2021-02-23 16:11] kthyng commented on #2891
Hi @markusrobertjonsson! I'll be helping to finalize your publication. Can you also update the metadata on your Zenodo archive so that the author list matches your JOSS paper?

[2021-02-23 16:17] kthyng commented on #2891
@markusrobertjonsson Your paper looks great and everything will be in order once I hear back from you about the author list. Thanks!

[2021-02-23 16:19] kthyng commented on #2234
Hi @KevinShook! You can test out your paper compilation, see here: https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles

[2021-02-23 16:21] KevinShook commented on #2234
Thanks - wasn't sure where to be running the whedon commands

[2021-02-23 16:21] kthyng commented on #2813
@gaelforget it doesn't matter to me. If your goal is to wait to merge until the paper has absolutely no more changes, then you should wait until I do a final read through at the end of the review. Otherwise it doesn't really matter from the JOSS perspective.

[2021-02-23 16:22] kthyng commented on #2813
@milankl and @visr Will you be able to work on your reviews soon?

[2021-02-23 16:22] kthyng commented on #2234
You can always just run the generate pdf command in the review issue too.

[2021-02-23 16:25] kthyng commented on #2809
Looks like this paper is just about complete! Because of this I thought I'd just check in: @goerz, @thowell can you verify if your reviews are complete?

[2021-02-23 16:29] kthyng commented on #2171
@jordanperr I can help move this publication forward from here since it looks about finished! Can you update the metadata on your zenodo archive so that the author list and title exactly match your JOSS paper? Also you mentioned a CI issue in your comment — would you like to wait to finish this until that is fixed?

[2021-02-23 16:30] kthyng commented on #2171
(@sjpfenninger not trying to step on any toes but just to help out the handling editors since people have been pretty busy lately)

[2021-02-23 16:30] kthyng commented on #2171
@whedon set v2.1 as version

[2021-02-23 16:30] whedon commented on #2171
OK. v2.1 is the version.

[2021-02-23 16:40] kthyng commented on #2171
@jordanperr I read through your paper and it looks good pending some corrections you can check out in this [PR](https://github.com/NREL/OpenOA/pull/131).

[2021-02-23 16:40] whedon opened #3057 "[PRE REVIEW]: TUM Open Infra Platform: an open source package for simultaneous viewing and analysis of digital models in the civil engineering domain"
**Submitting author:** @pjanck (<a href="http://orcid.org/0000-0003-0387-3440">Štefan Jaud</a>)
**Repository:** <a href="https://github.com/tumcms/Open-Infra-Platform" target ="_blank">https://github.com/tumcms/Open-Infra-Platform</a>
**Version:** [still a moving target]
**Editor:** @hugoledoux
**Reviewers:** @aothms, @CBenghi
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode

[2021-02-23 16:41] whedon commented on #3057
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-23 16:42] whedon commented on #3057
PDF failed to compile for issue #3057 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (889e735991ee1b12e583c41f/Documentation/joss/paper.md): did not find expected comment or line break while scanning a block scalar at line 6 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6

[2021-02-23 16:43] goerz commented on #2809
Good to go as far as I'm concerned. I'm not going to re-read it again, so I'll leave it to the authors to make sure they've fixed all typos.

[2021-02-23 16:43] whedon opened #3058 "[PRE REVIEW]: EPIDEMIC: Epidemiology Educational Code"
**Submitting author:** @BrunaPavlack (<a href="http://orcid.org/0000-0002-6807-0916">Bruna Silveira Pavlack</a>)
**Repository:** <a href="https://github.com/americocunhajr/EPIDEMIC" target ="_blank">https://github.com/americocunhajr/EPIDEMIC</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-02-23 16:43] whedon commented on #3058
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-23 16:44] whedon opened #3059 "[PRE REVIEW]: Application to perform circular profiles of stack of radiographs"
**Submitting author:** @jeanbilheux (<a href="http://orcid.org/0000-0003-2172-6487">Jean Bilheux</a>)
**Repository:** <a href="https://github.com/neutronimaging/circular_profiler" target ="_blank">https://github.com/neutronimaging/circular_profiler</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

D

[2021-02-23 16:44] whedon commented on #3059
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-23 16:44] whedon commented on #3058
[code]

[2021-02-23 16:45] whedon commented on #3058
[code]

[2021-02-23 16:45] whedon commented on #3057
[code]

[2021-02-23 16:45] whedon commented on #3058
PDF failed to compile for issue #3058 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:204:in `block in parse_authors': Author (Amanda Cunha Guyt) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a

[2021-02-23 16:45] whedon commented on #3059
Failed to discover a `Statement of need` section in paper

[2021-02-23 16:45] whedon commented on #3059
[code]

[2021-02-23 16:46] whedon commented on #3059
[code]

[2021-02-23 16:46] whedon commented on #3059
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03059/joss.03059/10.21105.joss.03059.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03059/joss.03059/10.21105.joss.03059.pdf) :page_facing_up: :point_left:

[2021-02-23 16:48] kthyng commented on #2809
(@dpsanders not trying to step on any toes but trying to help handling editors out by taking over when it looks possible)

[2021-02-23 16:50] kthyng commented on #3057
@hugoledoux would you be able to edit this submission?

[2021-02-23 16:50] kthyng commented on #3057
@whedon invite @hugoledoux as editor

[2021-02-23 16:50] whedon commented on #3057
@hugoledoux has been invited to edit this submission.

[2021-02-23 16:52] kthyng commented on #3057
@pjanck Please take a look through the compilation errors above and see if you can address them.

[2021-02-23 16:54] kthyng commented on #3058
@BrunaPavlack thanks for your submission! Is your package primarily educational? If so, it might be a better fit for [JOSE](https://jose.theoj.org/about).

[2021-02-23 17:02] kthyng commented on #3059
@JeanBilheux  Thank you for your submission. Please take a look through our [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) and [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html). I'm having a hard time telling if your submission is appropriate for JOSS because many of the necessary submission and elements reviewers will check for are missing

[2021-02-23 17:25] galessiorob commented on #3024
@richford great, thanks so much, and congrats!

 @rougier @JonathanReardon and @janfreyberg this has been the fastest review I have ever had! Thank you all so very much ⚡

[2021-02-23 17:25] galessiorob commented on #3024
@whedon accept

[2021-02-23 17:25] whedon commented on #3024
[code]

[2021-02-23 17:26] whedon commented on #3024
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2107

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2107, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-23 17:26] whedon commented on #3024
[code]

[2021-02-23 17:29] galessiorob commented on #3024
@richford mind solving that last DOI, please?

[2021-02-23 17:34] JaroslavHron commented on #3051
I fully agree with previous comment by @mjsottile and the points from the review by @uellue.

- The title "... an alternative approach to linear algebra in python" might be a bit misleading - alternative in what sense?. Something like  "... Matlab/Octave-like interface for linear algebra in python" would sound more descriptive to me.
- How essential is the Armadillo back end? If the interface styl

[2021-02-23 17:35] dpsanders commented on #2809
Thanks @kthyng and apologies for the delay.

[2021-02-23 17:45] gaelforget commented on #2813
Thanks for the clarification. My question came from being unsure whether I should expect detailed comments on the paper itself from reviewers and at which stage of the review process.

Accordingly, I just merged the `josspaper_rev01` into `josspaper` so everything on my end is in sync right now with the latest release (v0.2.11).

A couple follow up questions, @kthyng :

- could / should the pdf av

[2021-02-23 17:46] astrom-tom commented on #2987
Hi all!
Sorry I am on holidays (for two weeks more). If there is not an emergency to review the paper I can get to it when I am back. If this is more pressing please do not hesitate to pick someone else.
Cheers,

[2021-02-23 17:53] diehlpk commented on #2942
@whedon add @rdeits as reviewer

[2021-02-23 17:53] whedon commented on #2942
OK, @rdeits is now a reviewer

[2021-02-23 17:54] diehlpk commented on #2942
@whedon start review

[2021-02-23 17:54] whedon opened #3060 "[REVIEW]: Kinetic.jl: A lightweight finite volume toolbox in Julia"
**Submitting author:** @vavrines (<a href="http://orcid.org/0000-0001-9127-9497">Tianbai Xiao</a>)
**Repository:** <a href="https://github.com/vavrines/Kinetic.jl" target ="_blank">https://github.com/vavrines/Kinetic.jl</a>
**Version:** v0.7.5
**Editor:** @diehlpk
**Reviewers:** @rdeits, @jarvist
**Archive:** <a href="https://doi.org/10.5281/zenodo.4958132" target="_blank">10.5281/zenodo.4958132</

[2021-02-23 17:54] whedon commented on #2942
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3060.

[2021-02-23 17:54] #2942 closed

[2021-02-23 17:54] whedon commented on #3060
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @KristofferC, @rdeits it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-02-23 17:55] whedon commented on #3060
[code]

[2021-02-23 17:55] whedon commented on #3060
[code]

[2021-02-23 17:55] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-02-23 17:56] williamfgc commented on #2741
@VivianePons yes, it's just an oversight from my side. I just went through the list and marked what is completed. Thanks for double checking and leading the review process.

[2021-02-23 18:05] robfalck commented on #2809
I haven't been able to find any more typos since giving it a good scrub.  Think its good here.

[2021-02-23 18:06] richford commented on #3024
Sure thing. Sorry about that. I scraped the DOI [from the url](https://dl.acm.org/doi/10.5555/1953048.2078195) for the JMLR paper, but I guess that doesn't work. I see that later papers from the same sklearn authors reference their earlier paper and do not include a DOI at all. So I elected to simply remove the DOI for the sklearn reference. I just pushed that change to the `main` branch.

@galess

[2021-02-23 18:07] omshinde commented on #2805
Hi @galessiorob ! Thanks for the reminder. I will submit my reviews as early as possible.

[2021-02-23 18:13] rhaas80 commented on #2978
comments working through installation:
* in the git clone command `git clone https://github.com/BenMql/coral.git .` I would either leave out the dot `.` or replace by `$PWD` which is easier to see
* `export CORAL_ROOT=$(PWD)` is incorrect and must be `$PWD` or `${PWD}` or `$(pwd)` since there is no `PWD` executable only, a `PWD` variable and a `pwd` executable.
* no link is provided for downloadin

[2021-02-23 18:22] Rachine commented on #2989
This is a very interesting and important question! We have been asked this question by linguists and speech pathologists also.
The full answer is that we know that only by experience, as the kappa, and this has not been properly measured with psychophysics.  We are launching a collaboration with psychophysics experts, with more experience in perceptual differences to obtain this scale for the Gamm

[2021-02-23 19:05] jgostick commented on #2976
@awvwgk, how is your review coming along?  I see you checked a few boxes.  Are you stuck?  Do the authors needs to update their package somehow?

[2021-02-23 19:10] markusrobertjonsson commented on #2891
@kthyng Thanks. The author list on Zenodo is now correct.

[2021-02-23 19:38] BenMql commented on #2978
Thank you for your comments.
+ `.`, `$PWD` and missing slashes issues have been fixed.
+ the `2decomp` doc now states explicitly that a vanilla fftw is required.
+ A link to MKL has been added.
+ I share your enthusiasm for "BLAS/LAPACK-vendor" agnostic code. Down the road, my hope is that Coral can be linked to any BLAS/LAPACK library. For the time being though, I stick to `MKL` as some of their

[2021-02-23 19:59] iammix commented on #2939
@Balaje, You have done a great job. You demonstrate clearly how to implement and execute your examples in your documentation, something which is important for tools like iceFEM.
My only comment is on your manuscript.  It would help if you numbered the equations that you have.

@diehlpk I am finished with my review. I will cross out all of the boxes from my checklist when the author finishes with m

[2021-02-23 20:13] zbeekman commented on #2950
Sorry I missed this, my email inbox is a bit of an EPA superfund site at the moment. Looks very interesting, and I appreciate being thought of. Hopefully I'll have the chance to review some CFD for JOSS in the future!

[2021-02-23 20:15] zbeekman commented on #3055
Sorry I missed the review opportunity here. If anything falls through I'd be happy to help and will try to get my email in order in the meantime (so I don't miss any notifications)... it's gotten a bit out of control over the past few months!

[2021-02-23 20:18] mikerspencer commented on #2948
@kbarnhart I've finished my review. There's a lot to commend, especially how clearly the package is structured and documented.

I've raised a couple of minor issues (#61, #62 & #63), but unfortunately I was unable to test functionality due to issue #64. Issue #64 is a connection error when downloading datasets, which consistently occurs at ~15 MB through a download. The issue doesn't affect smalle

[2021-02-23 20:35] BrunaPavlack commented on #3058
Hello!

No, our package was designed to assist in the development of research in
epidemiology, but it is organized in a didactic way. Please, if you think
it does not fall within the scope of JOSS, let us know.

Thank you very much!

Em ter., 23 de fev. de 2021 às 13:54, Kristen Thyng <
notifications@github.com> escreveu:

--
*Profª. Mª. Bruna Silveira Pavlack*
*Docente de matemática no IFMS Campu

[2021-02-23 20:36] diehlpk commented on #2939
@Balaje Please add the following DOI to each of your references:

[code]

[2021-02-23 20:55] changhoonhahn commented on #3022
I've accepted the invitation but I am unable to edit the checklist.

[2021-02-23 20:59] pjanck commented on #3057
Hi @kthyng: I believe that whedon needs to compile the `joss_submission` branch. The version of the paper in the current main branch is not according to the specifications.

[2021-02-23 21:05] awvwgk commented on #2976
I finished my review of the software paper in https://github.com/Isurwars/Correlation/issues/8, the issues regarding the software / documentation / testing are mentioned here https://github.com/openjournals/joss-reviews/issues/2976#issuecomment-772875660.

[2021-02-23 21:27] jgostick commented on #2976
@awvwgk I'm sorry!  I missed your comment above in the background noise.  Thanks for your detailed efforts.

[2021-02-23 22:05] kyleniemeyer commented on #2604
@whedon set 10.5281/zenodo.4555201 as archive

[2021-02-23 22:05] whedon commented on #2604
OK. <a href="https://doi.org/10.5281/zenodo.4555201" target="_blank">10.5281/zenodo.4555201</a> is the archive.

[2021-02-23 22:05] kyleniemeyer commented on #2604
@whedon set v3.2.2 as version

[2021-02-23 22:05] whedon commented on #2604
OK. v3.2.2 is the version.

[2021-02-23 22:08] kyleniemeyer commented on #2604
@whedon accept

[2021-02-23 22:08] whedon commented on #2604
[code]

[2021-02-23 22:08] whedon commented on #2604
[code]

[2021-02-23 22:09] whedon commented on #2604
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2108

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2108, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-23 22:20] corentin-dev commented on #2939
The package needs some addition to the documentation :
- figure 1 explains the problem which is solved, but having the general algorithm would be nice as well in the documentation or the paper (general ideas, pointing to other papers for example) ;
- explain further how the script .edp decides which case to run, or where to save files, which file is read as input and how genDir.sh works in that ma

[2021-02-23 22:21] Kevin-Mattheus-Moerman commented on #3055
@zbeekman if you are keen to help I'd be happy to add you as we always welcome additional reviewers. We do already have 3 reviewers so if you are too busy then it is okay if you cannot. Let me know if you are keen then I'll add you as a reviewer.

[2021-02-23 22:24] danielskatz commented on #3036
I think we need to discuss the scope before we proceed

[2021-02-23 22:25] danielskatz commented on #3036
@whedon query scope

[2021-02-23 22:25] whedon commented on #3036
Submission flagged for editorial review.

[2021-02-23 22:31] kyleniemeyer commented on #2604
@whedon accept deposit=true

[2021-02-23 22:32] whedon commented on #2604
[code]

[2021-02-23 22:33] whedon commented on #2604
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1364342587830722562) 👈 🐦🐦🐦

[2021-02-23 22:33] whedon commented on #2604
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2109
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02604](https://doi.org/10.21105/joss.02604)
2. If everything looks g

[2021-02-23 22:38] kyleniemeyer commented on #2604
Congrats @jdber1 on your article's publication in JOSS! And thank you for your patience here.

Many thanks to @rajeshrinet and @FelixKratz for reviewing this.

(It looks like the PDF has not yet built, but should show up momentarily.)

[2021-02-23 22:38] #2604 closed

[2021-02-23 22:38] whedon commented on #2604
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02604/status.svg)](https://doi.org/10.21105/joss.02604)

**We need your help!**

Journal of Open Source Softwa

[2021-02-23 22:53] jdber1 commented on #2604
@kyleniemeyer thanks very much for overseeing a difficult review in challenging times.

[2021-02-23 23:47] lydialucchesi commented on #2409
Thank you, @arfon. We have reviewed the latest proof and are happy with it. Best, Lydia

[2021-02-24 00:52] kakearney commented on #3002
After pulling the most recent version of the code and reinstalling the app, I'm still getting the same errors when trying to use the GUI.  Both errors appear to be due to lack of backward compatibility.

The first error appears to originate from the `save_metrics` function, which specifies a `'WriteMode'` parameter when it calls `writetable`.  The `'WriteMode'` option was introduced in Matlab 2020

[2021-02-24 02:22] jgostick commented on #2976
@Isurwars You've been quite silent on this thread.  Are you busy addressing the reviewers comments?

[2021-02-24 03:26] js2264 commented on #3009
:wave: @fgeier I checked with the grant selection committee and they told me that although I can list preprints in my application, accepted papers would be a major plus. And as you said to tell you if I needed it quicker, well, I thought I would let you know. But again, if you cannot make it by the end of the week then I would definitely understand! The reviewing process should not be rushed becau

[2021-02-24 03:29] bhajay commented on #2885
@Kevin-Mattheus-Moerman : Are you still looking for a reviewer?

[2021-02-24 06:49] pjanck commented on #3057
@whedon generate pdf from branch joss_submission

[2021-02-24 06:49] whedon commented on #3057
[code]

[2021-02-24 06:50] whedon commented on #3057
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03057/joss.03057/10.21105.joss.03057.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03057/joss.03057/10.21105.joss.03057.pdf) :page_facing_up: :point_left:

[2021-02-24 07:07] hugoledoux commented on #3057
yes sure, on it.

[2021-02-24 07:13] pjanck commented on #3057
@whedon generate pdf from branch joss_submission

[2021-02-24 07:13] whedon commented on #3057
[code]

[2021-02-24 07:14] whedon commented on #3057
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03057/joss.03057/10.21105.joss.03057.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03057/joss.03057/10.21105.joss.03057.pdf) :page_facing_up: :point_left:

[2021-02-24 07:19] galessiorob commented on #3024
@richford thanks for the explanation, makes sense. Yes, let's get a new version 👍

[2021-02-24 08:59] jbuisine commented on #2812
Thanks @stsievert for your feedback.

I made some updates. Concerning:

1.  **Functionnality documentation:**
Examples of the implementation of continuous optimisation problems were proposed. With an example of a Zdt function to be optimised. The indications are available at the end of "A Tour of Macop", in the "Advanced usages" section which includes discrete multi-objective implementations and t

[2021-02-24 09:01] jbuisine commented on #2812
@whedon generate pdf

[2021-02-24 09:02] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-02-24 09:06] fgeier commented on #3009
@js2264 Dear Jacques, I will finish it by tonight so you can hopefully cite the paper. Sorry for the delay, I am currently very overloaded.

[2021-02-24 09:10] jbuisine commented on #2812
@whedon generate pdf

[2021-02-24 09:11] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2021-02-24 09:31] hakanfriden commented on #2971
Hello, where do I find reviewer's instructions?

[2021-02-24 09:32] hakanfriden commented on #2971
@galessiorob Hello, where do I find the reviewer's instructions?

[2021-02-24 10:48] emilljungberg commented on #2578
Hi @Mmj94

Thanks! I did notice now that the reference to running the scripts is not in the paper anymore which it was originally, I think that's why I was confused about not being able to reproduce the results. Having the example scripts reflect the figures in the paper is nice as it gives the user a direct check that they got it all working correctly.

I ran the `numsim_epi.py` and I get the sam

[2021-02-24 10:51] emilljungberg commented on #2578
@jni I have now ticked all of my boxes in the review checklist and I'm happy with proceeding to acceptance of this work.

[2021-02-24 11:05] essepuntato commented on #2731
Hi @arfon and @lorenanicole,

I really apologies for my silence - strangely, all your messages went to my SPAM folder and I did not notice them until now. Of course, this is not a justification, since I am tremendously late with the review that, honestly, I totally forgot about it. Thus, please accept my sincere apologies for it.

Back to the topic: I won't be able to address it this week due to p

[2021-02-24 11:49] richford commented on #3024
@galessiorob, Thanks! The new version is `v0.2.2` and the new DOI is [10.5281/zenodo.4559599](https://zenodo.org/record/4559599)

[2021-02-24 12:54] willu47 commented on #2677
@sjpfenninger @TheoChristiaanse apologies for the delay in responding. I am happy with the responses to the issues and recommend acceptance for publication.

[2021-02-24 13:08] hugoledoux commented on #3057
@whedon assign @hugoledoux as editor

[2021-02-24 13:08] whedon commented on #3057
OK, the editor is @hugoledoux

[2021-02-24 13:08] hugoledoux commented on #3057
whedon assign @aothms as reviewer

[2021-02-24 13:09] hugoledoux commented on #3057
@whedon add @aothms as reviewer

[2021-02-24 13:09] whedon commented on #3057
OK, @aothms is now a reviewer

[2021-02-24 13:25] dfm commented on #3007
@whedon assign @jmbrewer as reviewer

@jmbrewer has agreed to review this submission - thanks John! Once I've lined up a second reviewer, I'll get the main review started. Please don't don't hesitate to ask questions if you have them as the review progresses. Thanks all!

[2021-02-24 13:25] whedon commented on #3007
OK, @jmbrewer is now a reviewer

[2021-02-24 13:28] LiangliangNan commented on #2885
Maybe "clemaitre58",  "nnadeau", "jizecn", "RealPolitiX", "jcarpent", "amitkumarj441" from the [existing reviewer list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822). Just found their domains are similar to mine.

[2021-02-24 13:53] devosmitachatterjee2018 commented on #2971
@galessiorob Thank you

[2021-02-24 14:05] p-costa commented on #3055
OK, I should mention something, @Kevin-Mattheus-Moerman -- I realize now that my former colleagues from the Aero and Hydrodynamics Laboratory at TU Delft (Netherlands), Jasper Thomas and Mathieu Pourquie (not co-authors of this paper) have contributed to this code. Nevertheless, I feel comfortable with reviewing this, and my review would surely be unbiased.

[2021-02-24 14:06] hugoledoux commented on #3057
@whedon add @CBenghi as reviewer

[2021-02-24 14:06] whedon commented on #3057
OK, @CBenghi is now a reviewer

[2021-02-24 14:07] Mmj94 commented on #2578
Thank you all again, for your help and suggestions.
I had fun and learned a lot during this review process :)

[2021-02-24 14:07] hugoledoux commented on #3057
@whedon start review

[2021-02-24 14:08] whedon opened #3061 "[REVIEW]: TUM Open Infra Platform: an open source package for simultaneous viewing and analysis of digital models in the civil engineering domain"
**Submitting author:** @pjanck (<a href="http://orcid.org/0000-0003-0387-3440">Štefan Jaud</a>)
**Repository:** https://github.com/tumcms/Open-Infra-Platform
**Branch with paper.md** (empty if default branch): development
**Version:** release-v4.0.0
**Editor:** @hugoledoux
**Reviewers:** @aothms, @CBenghi, @abdoulayediak
**Archive:** 10.5281/zenodo.6488493

**:warning: JOSS reduced service mode :w

[2021-02-24 14:08] whedon commented on #3057
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3061.

[2021-02-24 14:08] #3057 closed

[2021-02-24 14:08] whedon commented on #3061
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aothms, @CBenghi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-02-24 14:09] whedon commented on #3061
PDF failed to compile for issue #3061 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (046f30275eaf56e09414b1ae/Documentation/joss/paper.md): did not find expected comment or line break while scanning a block scalar at line 6 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6

[2021-02-24 14:11] whedon commented on #3061
[code]

[2021-02-24 14:14] pjanck commented on #3061
@whedon generate pdf from branch joss_submission

[2021-02-24 14:14] whedon commented on #3061
[code]

[2021-02-24 14:15] AJQuinn commented on #2977
Hi again - changes based on @JanCBrammer's comments are on this branch: https://gitlab.com/emd-dev/emd/-/merge_requests/53 - thanks for the suggestions! Please let me know if there is anything else I have missed or can do.

There is now also an updated manuscript based on all the changes so far here: https://gitlab.com/emd-dev/emd/-/merge_requests/38

Thanks all!

[2021-02-24 14:15] whedon commented on #3061
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: :point_left:

[2021-02-24 14:15] AJQuinn commented on #2977
@whedon generate pdf from branch 33-joss-revisions

[2021-02-24 14:15] whedon commented on #2977
[code]

[2021-02-24 14:15] whedon commented on #2977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: :point_left:

[2021-02-24 14:39] wesleyburr commented on #2694
@pibion @sigven  - Hi, folks. We're working through the list of suggestions from @jspaezp, but I can't seem to find @sigven's review. Did it get recorded (and/or finished)? No shame whatsoever if it didn't: it's not like I've been responsive in this horrible time of COVID. But if we finish up the first round, we'd like to be able to keep going on the second round while we have momentum.

[2021-02-24 15:01] majensen commented on #3002
I will +1 the comments of @kakearney that in general caution against the application changing any aspect of the user's environment without notification. Apply the [Principle of Least Surprise](https://en.wikipedia.org/wiki/Principle_of_least_astonishment) and think in terms of a user who is completely ignorant and infinitely intelligent, and set that user's expectations explicitly through feedback

[2021-02-24 15:30] rhaas80 commented on #2978
The argument mismatch is new by gfortran. Apparently such usage was never really allowed by the Fortran standard, but also never really enforced by compilers (though you may want to give eg the Cray compiler a try which in my experience is pickier than gfortran or ifort). You are certainly not the only code tripped up by this, eg https://www.google.com/search?q=gfortran-10+allow-mismatch&ie=utf-8&

[2021-02-24 15:32] apiad commented on #2989
@Rachine thanks again for the explanation! I think it would be a very good idea to make these insights public to your library's users, dunno if with some comments in the docs or a repository where you collect these measurements, as you suggested.

[2021-02-24 15:33] kbarnhart commented on #2948
@mikerspencer thanks for doing this review.

@kadyb, when you think you have addressed all of the points the reviewers have raised, please ping them and me here so they can re-visit their review checklists.

If you have any questions for me, please tag me on this issue (or in the in-repo issues).

[2021-02-24 15:34] kbarnhart commented on #2975
@whedon check references

[2021-02-24 15:35] whedon commented on #2975
[code]

[2021-02-24 15:35] kbarnhart commented on #2975
Note: I'm going to check off @molgor 's check boxes as all boxes are checked off in [this comment](https://github.com/openjournals/joss-reviews/issues/2975#issuecomment-780272615)

[2021-02-24 15:36] kbarnhart commented on #2975
@whedon generate pdf

[2021-02-24 15:37] whedon commented on #2975
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: :point_left:

[2021-02-24 15:39] apiad commented on #2989
@arfon taking into consideration your comments, my exchanges with the author, and having checked the functional claims and read the submission paper and the library source code (which is conveniently commented and suitably organized), I consider this submission meets the quality standards for publishing in JOSS.

I sincerely appreciate the opportunity to collaborate, and please don't hesitate to c

[2021-02-24 15:43] kthyng commented on #2813
Oh sorry I misunderstood your question. The reviewers should go through your paper as part of the review process as they go through the checklist so you do want it clearly available.

Yes, I can run this command now and you can run it whenever you want, too.

I'd add it now so the reviewers can consider the paper how you intend it to be.

[2021-02-24 15:43] kthyng commented on #2813
@whedon generate pdf from branch josspaper

[2021-02-24 15:43] whedon commented on #2813
[code]

[2021-02-24 15:44] whedon commented on #2813
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02813/joss.02813/10.21105.joss.02813.pdf) :page_facing_up: :point_left:

[2021-02-24 15:48] kthyng commented on #2809
Ok great, I am still hoping to verify from @thowell about a complete review.

[2021-02-24 15:50] kthyng commented on #2891
@whedon accept deposit=true

[2021-02-24 15:50] whedon commented on #2891
[code]

[2021-02-24 15:51] whedon commented on #2891
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1364603745397477377) 👈 🐦🐦🐦

[2021-02-24 15:51] whedon commented on #2891
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2110
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02891](https://doi.org/10.21105/joss.02891)
2. If everything looks g

[2021-02-24 15:54] kthyng commented on #2891
Congratulations to @markusrobertjonsson on your new publication! Many thanks to editor @oliviaguest and to reviewers @themkar and @CatarauCorina — this literally couldn't occur without you! 🎉

(will wait to close this issue until the doi resolves)

[2021-02-24 15:56] kbarnhart commented on #2975
@ghislainv I've made a PR with some copyedits and a request for minor revision to Figure 1 at  ghislainv/forestatrisk#40

Once that is merged, I'll do a check that the PDF compiles correctly and we can then move to the final stages of the JOSS process.

[2021-02-24 16:06] stsievert commented on #2812
Thanks for the quick response @jbuisine. It appears the changes are addressed.

1. **Documentation:** Thanks for the examples in "advanced usage." I think resolves the issue I had. As a new user of Macop, I would appreciate if that material were more prominent (maybe a new doc page titled "example uses"?)
2. **A statement of need/target audience:** The provided description is very complete and ver

[2021-02-24 16:16] #2891 closed

[2021-02-24 16:16] whedon commented on #2891
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02891/status.svg)](https://doi.org/10.21105/joss.02891)

**We need your help!**

Journal of Open Source Softwa

[2021-02-24 16:19] kthyng commented on #3058
Ok thanks for your response @BrunaPavlack. I will add a label to ask the greater editorial board if they think this fits in scope for the journal, and then someone will get back to you in the next week or two with an update. Thanks for your patience.

[2021-02-24 16:19] kthyng commented on #3058
@whedon query scope

[2021-02-24 16:19] whedon commented on #3058
Submission flagged for editorial review.

[2021-02-24 16:24] kthyng commented on #3024
@whedon set v0.2.2 as version

[2021-02-24 16:24] whedon commented on #3024
OK. v0.2.2 is the version.

[2021-02-24 16:25] kthyng commented on #3024
@whedon set 10.5281/zenodo.4559599 as archive

[2021-02-24 16:25] whedon commented on #3024
OK. <a href="https://doi.org/10.5281/zenodo.4559599" target="_blank">10.5281/zenodo.4559599</a> is the archive.

[2021-02-24 16:28] alemermartinez commented on #2992
Dear Mikkel and reviewers,

Once again, thank you very much for your constructive comments and suggestions, and also for Mikkel's help with our submission process.

Our revised manuscript and software incorporates all your recommended changes. Specifically: we fixed the references and typos, included community guidelines (lines 115-121), added information on other arguments of the main function (l

[2021-02-24 16:50] zbeekman commented on #3055
@Kevin-Mattheus-Moerman Thanks for the offer! In my experience additional reviewers has never made for a quicker and more seamless review process. On the flip side, I'll informally offer any thoughts to improve the work and the authors can address them if they find it helpful.

This is my suggestion: What if I work on an informal review (I'll keep a copy of the reviewer checklist markdown privatel

[2021-02-24 16:52] kthyng commented on #3024
@richford I just found one typo, you can find it in this [PR](https://github.com/richford/groupyr/pull/52).

[2021-02-24 16:52] kthyng commented on #3024
After that we are ready to finalize this publication!

[2021-02-24 16:53] kthyng commented on #3057
whoa @hugoledoux this was lightning fast! I'm impressed!!

[2021-02-24 16:57] richford commented on #3024
@kthyng, thanks for catching that! I just merged your PR.

[2021-02-24 16:57] kthyng commented on #2951
Hi @lorenanicole could you edit this submission?

[2021-02-24 16:57] kthyng commented on #2951
@whedon invite @lorenanicole as editor

[2021-02-24 16:57] whedon commented on #2951
@lorenanicole has been invited to edit this submission.

[2021-02-24 17:07] kthyng commented on #3012
@kbspooner Thanks for your submission to JOSS. Unfortunately, the editorial board has found that it is not in scope for JOSS as mainly parsing and plotting files. While, as you pointed out, there is some analysis, it looks too light for our [guidelines](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software). This is not a commentary on how useful your software is,

[2021-02-24 17:08] kthyng commented on #3012
@whedon reject

[2021-02-24 17:08] whedon commented on #3012
Paper rejected.

[2021-02-24 17:08] #3012 closed

[2021-02-24 17:10] kthyng commented on #3030
Hi @majensen would you be able to edit this submission?

[2021-02-24 17:10] kthyng commented on #3030
@whedon invite @majensen as editor

[2021-02-24 17:10] whedon commented on #3030
@majensen has been invited to edit this submission.

[2021-02-24 17:12] majensen commented on #3030
@whedon assign me as editor

[2021-02-24 17:12] whedon commented on #3030
OK, the editor is @majensen

[2021-02-24 17:13] kthyng commented on #3031
I'll assign @jedbrown here with the understanding that it is not immediately on the table.

[2021-02-24 17:13] kthyng commented on #3031
@whedon assign @jedbrown as editor

[2021-02-24 17:13] whedon commented on #3031
OK, the editor is @jedbrown

[2021-02-24 17:17] kthyng commented on #3034
@nevrome The editorial board decided this is in scope.

@vissarion would you be up for editing this submission?

[2021-02-24 17:17] kthyng commented on #3034
@whedon invite @vissarion as editor

[2021-02-24 17:17] whedon commented on #3034
@vissarion has been invited to edit this submission.

[2021-02-24 17:18] kthyng commented on #3030
thank you @majensen!!!

[2021-02-24 17:21] kthyng commented on #3024
@whedon accept deposit=true

[2021-02-24 17:21] whedon commented on #3024
[code]

[2021-02-24 17:21] whedon commented on #3024
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1364626592530628609) 👈 🐦🐦🐦

[2021-02-24 17:21] whedon commented on #3024
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2111
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.03024](https://doi.org/10.21105/joss.03024)
2. If everything looks g

[2021-02-24 17:23] kthyng commented on #3024
Congrats on your new publication @richford!! Many thanks to editor @galessiorob and to reviewers @janfreyberg, @JonathanReardon, and @rougier — we couldn't do this without your hard work, time, and expertise!

(I'll close this issue once the doi resolves)

[2021-02-24 17:23] #3024 closed

[2021-02-24 17:23] whedon commented on #3024
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03024/status.svg)](https://doi.org/10.21105/joss.03024)

**We need your help!**

Journal of Open Source Softwa

[2021-02-24 17:51] hugoledoux commented on #3057
yeah I have a colleague who is perfect for this and he replied instantly, and my other request was answered within 1h too.

This compensates for all the other times where I had to wait days (weeks?) for reviewers...

[2021-02-24 17:58] JanCBrammer commented on #2977
Thanks, @AJQuinn! I've been browsing through the changes at https://gitlab.com/emd-dev/emd/-/merge_requests/53 and I'm absolutely happy with the way you addressed my comments. I think you've put together an amazing, high quality piece of software and I can't wait to find an excuse to use it :grin:

[2021-02-24 18:14] mikldk commented on #2992
Thanks, @alemermartinez . Please let us know when the vignette has finished so that the reviewers can look at all the changes simultaneously.

[2021-02-24 18:34] jbuisine commented on #2812
@stsievert Thanks for your quick response too.

Concerning the documentation I renamed the section "Some examples" into "Example uses" add I added a full page for the [Zdt continuous Rosenbrock problem instance](https://jbuisine.github.io/macop/_build/html/examples.html). I hope that this is better for a visual of the available examples.

[2021-02-24 18:53] lorenanicole commented on #2908
Excellent! We are seeking for a second reviewer and when we have that locked down you'll be notified on next step(s).

[2021-02-24 18:53] lorenanicole commented on #2908
@whedon add @rchew as editor.

[2021-02-24 18:53] whedon commented on #2908
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-24 18:53] lorenanicole commented on #2908
Oops take 2 ...

[2021-02-24 18:54] lorenanicole commented on #2908
@whedon add @rchew as reviewer.

[2021-02-24 18:54] whedon commented on #2908
OK, @rchew is now a reviewer

[2021-02-24 18:56] lorenanicole commented on #2908
👋 @acolum would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

[2021-02-24 18:57] lorenanicole commented on #2951
@kthyng I have another few papers on my roster and don't want to overextend myself.

[2021-02-24 19:01] lorenanicole commented on #2731
No worries, thank you @essepuntato for the update! Just ping us back on this channel in a week to let us know if you need anything (e.g. more time).

[2021-02-24 19:29] D-K-E commented on #3015
Hello again @dfm I have improved the documentation a little more. Would you like me to change something else ?

[2021-02-24 20:11] BenMql commented on #2978
Thank you for these details. This feature definitely helped catching a bug which fortunately had no consequences. (Some pointers used to be twice as long as intended, but fortunately their second half was never accessed.)
Anyway, this glitch is fixed now. Let me know if you run into more trouble while compiling.

[2021-02-24 20:34] mbobra commented on #3022
@changhoonhahn You are unable to tick the checkboxes?

[2021-02-24 20:37] danielskatz commented on #3022
@whedon re-invite @changhoonhahn as reviewer

[2021-02-24 20:37] visr commented on #2813
Thanks for all the updates. I just concluded the review, and checked all the boxes above.

[2021-02-24 20:38] whedon commented on #3022
OK, the reviewer has been re-invited.

@changhoonhahn please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-24 20:47] fgeier commented on #3009
@js2264 I added a comment on `plotProfile` as an issue in your repo. Please address it. Otherwise I am fine with publication. Its a certainly a very helpful package, not only for ATAC data. I must say however that some performance improvement of `importPEBamFiles` would really benefit the analysis. I tried the analysis of a 10GB ATAC dataset on 22k TSS regions and it essentially didn't complete wi

[2021-02-24 20:47] kthyng commented on #3046
Hi @galessiorob are you up for editing this submission?

[2021-02-24 20:47] kthyng commented on #3046
@whedon invite @galessiorob as editor

[2021-02-24 20:47] whedon commented on #3046
@galessiorob has been invited to edit this submission.

[2021-02-24 21:15] BenMql commented on #2978
@whedon generate pdf

[2021-02-24 21:15] whedon commented on #2978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: :point_left:

[2021-02-24 21:23] BenMql commented on #2978
@whedon generate pdf

[2021-02-24 21:24] whedon commented on #2978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: :point_left:

[2021-02-24 21:51] changhoonhahn commented on #3022
@mbobra I'm able to tick the checkboxes now. Thanks!

[2021-02-24 23:31] gaelforget commented on #2813
Hi @visr

This is great to hear! Thank you very much for the time you spent on this review, your patience, and the feedback you provided.

[2021-02-24 23:54] Balaje commented on #2939
Hi @iammix,

Thank you for the comments and for your time on the paper. I have updated the paper with the equation number.

Regards,
Balaje

@diehlpk, I have added the DOIs to the paper.

[2021-02-24 23:54] Balaje commented on #2939
@whedon generate pdf

[2021-02-24 23:55] whedon commented on #2939
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: :point_left:

[2021-02-24 23:59] Balaje commented on #2939
Hi @corentin-dev,

Thanks for your comments.  I have updated the PDF manual here https://github.com/Balaje/iceFem/blob/ParIceFem/manual.pdf with your suggestions. Here are my responses:

1. I have added a small introduction to the solution method we use along with a reference to the paper. It’s in subsection 1.2 in the manual.

2.  The directory structure is mostly to organise things a bit more.

[2021-02-25 00:48] Kevin-Mattheus-Moerman commented on #2885
@bhajay yes. Are you interested in helping?

[2021-02-25 01:08] poulson commented on #3033
Thank you, Vincent (@vprusso)! And I apologize for not being clearer initially.

[2021-02-25 01:48] jni commented on #2578
@Mmj94 here we go!

Next steps: could you make a new tagged release of the software, archive it (e.g. with Zenodo), then report the version number and DOI here?

[2021-02-25 01:58] diehlpk commented on #2939
@whedon commands

[2021-02-25 01:58] whedon commented on #2939
Here are some things you can ask me to do:

[code]

[2021-02-25 02:00] diehlpk commented on #2939
@whedon check references

[2021-02-25 02:00] whedon commented on #2939
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-25 03:32] gkthiruvathukal commented on #3014
@gorlapraveen, are you willing to contribute a review for this JOSS submission? I need a second reviewer in order to proceed.

[2021-02-25 03:35] gkthiruvathukal commented on #2935
@bzz, would you be willing to contribute a review for this JOSS submission.

@farshidtz Hmm, we're having trouble lining up reviewers. I hope you can suggest a few more possibilities.

[2021-02-25 04:56] gorlapraveen commented on #3014
@gkthiruvathukal , I would be happy to review!

[2021-02-25 05:01] gkthiruvathukal commented on #3014
So grateful, @gorlapraveen. I will add you and we can get the review started!

[2021-02-25 05:01] gkthiruvathukal commented on #3014
@whedon add @gorlapraveen as reviewer

[2021-02-25 05:01] whedon commented on #3014
OK, @gorlapraveen is now a reviewer

[2021-02-25 05:02] gkthiruvathukal commented on #3014
@whedon start review

[2021-02-25 05:02] whedon opened #3062 "[REVIEW]: TAT.py: Tropospheric Analysis Tools in Python"
**Submitting author:** @marcozennaro (<a href="http://orcid.org/0000-0002-0578-0830">Marco Zennaro</a>)
**Repository:** <a href="https://github.com/STI-ICTP/TropPOLoRaTools" target ="_blank">https://github.com/STI-ICTP/TropPOLoRaTools</a>
**Version:** 1.0
**Editor:** @gkthiruvathukal
**Reviewer:** @wtbarnes, @gorlapraveen
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due

[2021-02-25 05:02] whedon commented on #3014
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3062.

[2021-02-25 05:02] #3014 closed

[2021-02-25 05:02] whedon commented on #3062
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wtbarnes, @gorlapraveen it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-02-25 05:04] whedon commented on #3062
[code]

[2021-02-25 05:04] whedon commented on #3062
[code]

[2021-02-25 05:04] whedon commented on #3062
PDF failed to compile for issue #3062 with the following error:

[2021-02-25 06:39] acolum commented on #2908
Hi Lorena,

Thank you for contacting me, but I have too many other commitments at the
moment to review this submission.

Best,
Alyssa

On Wed, Feb 24, 2021 at 10:56 AM Lorena Mesa <notifications@github.com>
wrote:

[2021-02-25 07:04] pjanck commented on #3061
@whedon generate pdf from branch joss_submission

[2021-02-25 07:04] whedon commented on #3061
[code]

[2021-02-25 07:06] whedon commented on #3061
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03061/joss.03061/10.21105.joss.03061.pdf) :page_facing_up: :point_left:

[2021-02-25 07:52] HenrikJanPersson commented on #2970
@whedon generate pdf

[2021-02-25 07:54] whedon commented on #2970
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: :point_left:

[2021-02-25 07:59] hugoledoux commented on #3061
@whedon add @abdoulayediak as reviewer

[2021-02-25 07:59] whedon commented on #3061
OK, @abdoulayediak is now a reviewer

[2021-02-25 08:38] HenrikJanPersson commented on #2970
Thank you for the updates and for constructive feedback on my comments. Several things have been clarified and I think the changes have improved the overall impression greatly. I still have a few important comments.

SAR tools or any other more descriptive name:
I agree with the authors that PolSAR often covers quad-pol data. Yet, I disagree with the authors that PolSAR would be limited to this ty

[2021-02-25 08:48] mmrabe commented on #2992
@whedon generate pdf from branch joss

[2021-02-25 08:48] whedon commented on #2992
[code]

[2021-02-25 08:51] whedon commented on #2992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02992/joss.02992/10.21105.joss.02992.pdf) :page_facing_up: :point_left:

[2021-02-25 09:19] ekaterinailin commented on #2845
You're right, @mrtommyb , the new version of lightkurve is incompatible with AltaiPony, and it slipped me. I did two things to fix this:

1. restricted allowed lightkurve versions (2.x seems incompatible with K2SC light curves, but I'd like to keep that functionality because people still work on those data. The new version also breaks **a lot more** than just `from_mast`, so I think this will not

[2021-02-25 09:42] ekaterinailin commented on #2845
As for the other requests:

- `altaipony.__version__` now returns the version
- added a "Contribute to AltaiPony" paragraph on the front page in the docs and in the repo README

[2021-02-25 09:47] vissarion commented on #3034
@whedon assign me as editor

[2021-02-25 09:47] whedon commented on #3034
OK, the editor is @vissarion

[2021-02-25 10:05] vissarion commented on #3034
:wave: @corybrunson & @amritagos, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-02-25 10:12] glyg commented on #3042
Hi all

First, congrats @fmatuschke on the software, it is a really nice piece of work.  I opened several issues on fastPLI repo for technical concerns.

Here are aspects more related to the paper itself:

### State of the field:  Do the authors describe how this software compares to other commonly-used packages?

Here I failed to see a review of other similar software or efforts. The cited litera

[2021-02-25 10:36] js2264 commented on #3009
@fgeier Thank you so much for taking the time to go through all the review process! I have now improved the doc regarding the`plotProfile` function (in the paper and in the function documentation as well).

Re: performance issues of `importPEBamFiles`, I am aware of it and I already thought about parallelizing in case of a single bam file. It has been on my TODO list before the next Bioconductor r

[2021-02-25 10:48] kuadrat commented on #2969
@sabinomaggi

Thanks again for your thorough review and these constructive comments.
It is clear to me that addressing them will improve the paper and the software package significantly.

In the following, I will try to respond to your concerns point by point.

The observation that both, the paper and the package documentation are focused on `PIT` is correct.
The reason for this is that `PIT` is a

[2021-02-25 10:55] fgeier commented on #3009
@js2264 @csoneson Thank you for the improved docs. Your submission meets the criteria for acceptance from my side. Concerning the performance, I am looking forward to the next releases. Thanks again for the nice package, I will integrate it in my work!

[2021-02-25 11:05] csoneson commented on #3009
Thanks @fgeier! Could you please complete the check list above as well?
@js2264 - I'll go through the submission as well now, and get back to you shortly with the next steps.

[2021-02-25 11:10] fgeier commented on #3009
@csoneson check it. Two points are unchecked as they don't apply.

[2021-02-25 11:32] Kevin-Mattheus-Moerman commented on #3055
Thanks @p-costa. That does not sound like a concern or conflict of interest to me, so that is fine. Thanks for sharing that.

[2021-02-25 11:33] Kevin-Mattheus-Moerman commented on #3055
@zbeekman sure that sounds fine. Thanks for your help!

[2021-02-25 12:06] csoneson commented on #3009
@whedon generate pdf

[2021-02-25 12:07] whedon commented on #3009
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: :point_left:

[2021-02-25 12:10] csoneson commented on #3009
@whedon check references

[2021-02-25 12:10] whedon commented on #3009
[code]

[2021-02-25 12:22] zemogle commented on #2641
I've updated the code with the suggestions, published on PyPi and made a release which is on Figshare. Here is the [DOI](https://doi.org/10.6084/m9.figshare.14113667)

I think that's it! Let me know if need anything else for publication. This has been a really great experience! 👍

[2021-02-25 12:54] csoneson commented on #3009
👋 @js2264 - I have sent a pull request with some minor fixes to the paper. Please have a look and merge. The next steps are as follows:
- [ ] Make a tagged release of the software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service
- [ ] Check that the archival deposit (e.g., in Zenodo) has the correct metadata - in particular,

[2021-02-25 12:59] marcozennaro commented on #3062
@whedon is there anything I should do? I don't know what error you have encountered

[2021-02-25 12:59] whedon commented on #3062
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-25 13:22] ekaterinailin commented on #2845
@afeinstein20 Thanks for the comments!

Yes, I can see the error message, and I could indeed reproduce your heatmap error! The pansdas version 1.1.5 is the culprit and I actually fixed that in the requirements back in December (see the [log](https://github.com/ekaterinailin/AltaiPony/commits/master/requirements.txt)), but it was not included in the 1.0.0. version. It should now work with a fresh i

[2021-02-25 13:44] vprusso commented on #3033
No worries at all Jack (@poulson)! Please do let me know if I can provide any further information at this time, and thanks again.

[2021-02-25 13:50] gkthiruvathukal commented on #3062
@marcozennaro  No action required on your part yet. I'll signal the @openjournals/joss-eics to see if anyone knows how to address this compile issue.

[2021-02-25 13:55] corybrunson commented on #3034
@vissarion i would be glad to and will be able to complete my initial review within 3 weeks.

[2021-02-25 13:59] roshansamuel commented on #2095
Hi @olgadoronina , @nickwimer, I have updated the solver and the README. I have added the fixes suggested by @olgadoronina for installation of some of the dependencies. Please let me know if the solver is now installing and running correctly.

Thanks!

[2021-02-25 14:11] vissarion commented on #3034
Thanks @corybrunson for your quick reply.

[2021-02-25 14:30] AJQuinn commented on #2977
Thanks @JanCBrammer - that's great to hear. I'm glad you liked the package. I'll merge that branch in the next day or so!

[2021-02-25 15:02] kthyng commented on #3048
Hi @hknd23 and thanks for your submission! We currently have low editor availability in this area, so I am going to add the "waitlist" label until we are able to assign this submission to an editor. Thanks for your patience.

[2021-02-25 15:11] kthyng commented on #2951
Hi @markheckmann and thanks for your submission! We currently have low editor availability in this area, so I am going to add the "waitlist" label until we are able to assign this submission to an editor. Thanks for your patience.

[2021-02-25 15:12] kthyng commented on #3013
Hi @Natsiopoulos and thanks for your submission! We currently have low editor availability in this area, so I am going to add the "waitlist" label until we are able to assign this submission to an editor. Thanks for your patience.

[2021-02-25 15:13] whedon opened #3063 "[PRE REVIEW]: StatSailr: Reproducible and Easy Statistics Environment with StatSailr Script"
**Submitting author:** @niceume (<a href="http://orcid.org/0000-0001-7015-621X">Toshihiro Umehara</a>)
**Repository:** <a href="https://github.com/niceume/statsailr/" target ="_blank">https://github.com/niceume/statsailr/</a>
**Version:** v0.7.2
**Editor:** @fboehm
**Reviewers:** @g4brielvs, @Nachootal
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-02-25 15:13] whedon commented on #3063
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-25 15:13] whedon opened #3064 "[PRE REVIEW]: PyPortfolioOpt: portfolio optimization in Python"
**Submitting author:** @robertmartin8 (<a href="http://orcid.org/0000-0002-5225-7700">Robert Martin</a>)
**Repository:** <a href="https://github.com/robertmartin8/PyPortfolioOpt/" target ="_blank">https://github.com/robertmartin8/PyPortfolioOpt/</a>
**Version:** v1.4.1
**Editor:** @vissarion
**Reviewers:** @omendezmorales, @TolisChal
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced servic

[2021-02-25 15:13] whedon commented on #3064
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-25 15:13] whedon commented on #3063
[code]

[2021-02-25 15:14] whedon commented on #3063
PDF failed to compile for issue #3063 with the following error:

 Can't find any papers to compile :-(

[2021-02-25 15:14] kthyng commented on #3063
@whedon generate pdf from branch joss_submission

[2021-02-25 15:14] whedon commented on #3063
[code]

[2021-02-25 15:14] whedon commented on #3064
[code]

[2021-02-25 15:15] whedon commented on #3064
PDF failed to compile for issue #3064 with the following error:

 Can't find any papers to compile :-(

[2021-02-25 15:15] whedon commented on #3063
PDF failed to compile for issue #3063 with the following error:

 /app/vendor/bundle/ruby/2.6.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/JuliaCon/proceedings-review/issues/3063: 404 - Not Found // See: https://docs.github.com/rest/reference/issues#get-an-issue (Octokit::NotFound)
	from /app/vendor/bundle/ruby/2.6.0/gems/faraday-0.

[2021-02-25 15:16] kthyng commented on #3062
@whedon generate pdf

[2021-02-25 15:18] kthyng commented on #3063
@arfon Did something get messed up in here? I see a "juliacon" in the error dump above.

[2021-02-25 15:19] whedon commented on #3062
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03062/joss.03062/10.21105.joss.03062.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03062/joss.03062/10.21105.joss.03062.pdf) :page_facing_up: :point_left:

[2021-02-25 15:19] kthyng commented on #3064
@whedon generate from branch joss-dev

[2021-02-25 15:19] whedon commented on #3064
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-25 15:19] kthyng commented on #3064
@whedon generate pdf from branch joss-dev

[2021-02-25 15:19] whedon commented on #3064
[code]

[2021-02-25 15:20] whedon commented on #3064
PDF failed to compile for issue #3064 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92

[2021-02-25 15:20] kthyng commented on #3062
@gkthiruvathukal Looks like it works now! Sometimes it doesn't work for a moment.

[2021-02-25 15:20] kthyng commented on #3063
@whedon generate pdf from branch joss_submission

[2021-02-25 15:20] whedon commented on #3063
[code]

[2021-02-25 15:22] whedon commented on #3063
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03063/joss.03063/10.21105.joss.03063.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03063/joss.03063/10.21105.joss.03063.pdf) :page_facing_up: :point_left:

[2021-02-25 15:28] kthyng commented on #3063
Hi @niceume and thanks for your submission! I want to be sure about the fit of your package within the scope of JOSS, so I am going to ping the editorial board to take a look with the scope query label. Someone will get back to you after this in a week or two.

[2021-02-25 15:28] kthyng commented on #3063
@whedon query scope

[2021-02-25 15:28] whedon commented on #3063
Submission flagged for editorial review.

[2021-02-25 15:34] kthyng commented on #3064
@whedon generate pdf from branch joss-dev

[2021-02-25 15:34] whedon commented on #3064
[code]

[2021-02-25 15:34] whedon commented on #3064
PDF failed to compile for issue #3064 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92

[2021-02-25 15:38] kthyng commented on #3047
Hi @hansenjohnson and thanks for your submission. It looks like a really interesting project! I am going to ping the editorial board to make sure that it is in scope before we move forward. This isn't a statement on how awesome your project is, but just to check for fit. This will take 1-2 weeks and someone will get back to you. Thanks for your patience.

[2021-02-25 15:39] kthyng commented on #3047
@whedon query scope

[2021-02-25 15:39] whedon commented on #3047
Submission flagged for editorial review.

[2021-02-25 15:41] kthyng commented on #3064
@robertmartin8 looks like you have some errors in your paper ( see above). You can check the compilation of your paper after making changes by running the same whedon command I did or you can use the methods described [here](https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles).

[2021-02-25 15:44] js2264 commented on #3009
Release is v1.2.0, I created a new tag for it (https://github.com/js2264/VplotR/tree/v1.2.0)
The package is now available in Zenodo (10.5281/zenodo.4562440). I checked the info and everything shoul dbe ok!

[2021-02-25 15:49] kthyng commented on #3064
@vissarion  I know you just started so maybe you don't want to take on a bunch of submissions at once, but you might be a good fit for this in terms of optimization?

[2021-02-25 15:49] kthyng commented on #3064
@whedon invite @vissarion as editor

[2021-02-25 15:49] whedon commented on #3064
@vissarion has been invited to edit this submission.

[2021-02-25 15:51] hansenjohnson commented on #3047
Thank you @kthyng! I recognize this is a bit of an odd submission and think a scope query is a great place to start. I look forward to hearing from the team. Much appreciated!

[2021-02-25 15:59] csoneson commented on #3009
@whedon generate pdf

[2021-02-25 16:01] whedon commented on #3009
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03009/joss.03009/10.21105.joss.03009.pdf) :page_facing_up: :point_left:

[2021-02-25 16:03] csoneson commented on #3009
@whedon set 10.5281/zenodo.4562440 as archive

[2021-02-25 16:04] whedon commented on #3009
OK. <a href="https://doi.org/10.5281/zenodo.4562440" target="_blank">10.5281/zenodo.4562440</a> is the archive.

[2021-02-25 16:04] csoneson commented on #3009
@whedon set v1.2.0 as version

[2021-02-25 16:04] whedon commented on #3009
OK. v1.2.0 is the version.

[2021-02-25 16:05] csoneson commented on #3009
Alright, looks good! I'm going to hand over now to the associate editor in chief on rotation this week for the final steps.

[2021-02-25 16:05] csoneson commented on #3009
@whedon accept

[2021-02-25 16:05] whedon commented on #3009
[code]

[2021-02-25 16:05] whedon commented on #3009
[code]

[2021-02-25 16:07] whedon commented on #3009
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2112

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2112, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-25 16:49] pibion commented on #2484
@whedon generate pdf

[2021-02-25 16:50] vissarion commented on #3064
@whedon assign me as editor

[2021-02-25 16:50] whedon commented on #3064
OK, the editor is @vissarion

[2021-02-25 16:51] whedon commented on #2484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02484/joss.02484/10.21105.joss.02484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02484/joss.02484/10.21105.joss.02484.pdf) :page_facing_up: :point_left:

[2021-02-25 16:55] lorenanicole commented on #2908
👋 @soodoku would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

[2021-02-25 16:57] vissarion commented on #3064
:wave: @omendezmorales & @TolisChal, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-02-25 17:00] TolisChal commented on #3064
@vissarion  yes, sure I will be glad to review that paper.

[2021-02-25 17:04] vissarion commented on #3034
@whedon assign @corybrunson  as reviewer

[2021-02-25 17:04] whedon commented on #3034
OK, @corybrunson  is now a reviewer

[2021-02-25 17:05] vissarion commented on #3064
@whedon assign @TolisChal  as reviewer

[2021-02-25 17:05] whedon commented on #3064
OK, @TolisChal  is now a reviewer

[2021-02-25 17:11] omendezmorales commented on #3064
Sure thing, thanks for the invite.

On 25-02-21 13:57, Vissarion Fisikopoulos wrote:

--
*Orlando Méndez*

[2021-02-25 17:23] fboehm commented on #3001
@JohannesBuchner - Would it be feasible to update the documentation as suggested by @ziatdinovmax? I get the impression that the suggestion is more comprehensive than what is currently written. THanks!

[2021-02-25 18:57] chennachaos commented on #2831
Hi @Kevin-Mattheus-Moerman The main problem is not about novelty but the amount of contribution.
If you that the contribution is sufficient for publication in JOSS, then I do not have any further comments. The other parts of the review, that is documentation and installation, are satisfactory.

[2021-02-25 21:11] Chilipp commented on #2969
hey @kuadrat and @timtroendle, my honest apologies for the delay in my review. Too many unexpected things happend in the last 4 weeks. Anyway, I went through the checklist and created a bunch of issues for the individual items that I think are missing. @kuadrat, please refer to these issues when you are making commits or PRs to your source code repository to fix them (this would make my life a lot

[2021-02-25 21:12] eriknes commented on #2952
Dear Katy,

It seems like the invitation may have expired - can you resend it to me? I
will complete the review tomorrow morning CET time.

I am sorry it has taken some time.

Best regards,

Erik

On Thu, Feb 18, 2021 at 2:16 PM Katy Barnhart <notifications@github.com>
wrote:

[2021-02-25 21:12] Chilipp commented on #2969
As a side note: I am working more in the field of earth and climate sciences, but in fact, slicing data cubes is a common use case in my field, too. So there is quite some potential if we can add the possibility for georeferenced data (e.g. via [`cartopy`](https://scitools.org.uk/cartopy/docs/latest/) and a dataloader that supports netCDF files (e.g. via [`xarray`](http://xarray.pydata.org/en/stab

[2021-02-25 21:46] whedon commented on #3032
:wave: @nidhog, please update us on how your review is going (this is an automated reminder).

[2021-02-25 23:07] preetida commented on #2957
@lpantano Yes, the guidelines have been added to the paper. Looks all set.

[2021-02-26 00:25] kbarnhart commented on #2952
@whedon re-invite @eriknes as reviewer

[2021-02-26 00:25] whedon commented on #2952
OK, the reviewer has been re-invited.

@eriknes please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-26 00:25] kbarnhart commented on #2952
@eriknes this link should work. Let me know if it doesnt.

[2021-02-26 00:52] sbenthall commented on #2966
Thank you!

[2021-02-26 00:52] sbenthall commented on #2966
@whedon add @martibosch  as reviewer

[2021-02-26 00:52] whedon commented on #2966
OK, @martibosch  is now a reviewer

[2021-02-26 00:53] SteveMacenski commented on #2783
Any update? Anyhow else I can help?

[2021-02-26 00:53] sbenthall commented on #2966
Let's start this review!

[2021-02-26 00:53] sbenthall commented on #2966
@whedon start review

[2021-02-26 00:53] whedon opened #3065 "[REVIEW]: Agentpy: A package for agent-based modeling in Python"
**Submitting author:** @JoelForamitti (<a href="http://orcid.org/0000-0002-4828-7288">Joël Foramitti</a>)
**Repository:** <a href="https://github.com/JoelForamitti/agentpy" target ="_blank">https://github.com/JoelForamitti/agentpy</a>
**Version:** v0.1.1
**Editor:** @sbenthall
**Reviewer:** @jamesdamillington, @martibosch
**Archive:** <a href="https://doi.org/10.5281/zenodo.4946508" target="_blank

[2021-02-26 00:53] whedon commented on #2966
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3065.

[2021-02-26 00:53] #2966 closed

[2021-02-26 00:53] whedon commented on #3065
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jamesdamillington, @martibosch  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2021-02-26 00:54] whedon commented on #3065
Failed to discover a `Statement of need` section in paper

[2021-02-26 00:54] whedon commented on #3065
[code]

[2021-02-26 00:55] whedon commented on #3065
[code]

[2021-02-26 00:55] whedon commented on #3065
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03065/joss.03065/10.21105.joss.03065.pdf) :page_facing_up: :point_left:

[2021-02-26 00:56] sbenthall commented on #2749
@sambitdash @jarvist How is this looking to you now?

[2021-02-26 00:56] sbenthall commented on #2605
@gdede-hua How is it going? any updates on this project?

[2021-02-26 01:51] robertmartin8 commented on #3064
@kthyng Strange, it compiled without issues on docker and the online service. The compiled paper from `whedon.theoj.org` is attached:

[suwa48ol9jb6h7tzgxyi.pdf](https://github.com/openjournals/joss-reviews/files/6046927/suwa48ol9jb6h7tzgxyi.pdf)

[2021-02-26 02:00] robertmartin8 commented on #3064
@whedon generate pdf from branch joss-dev

[2021-02-26 02:00] whedon commented on #3064
[code]

[2021-02-26 02:01] whedon commented on #3064
PDF failed to compile for issue #3064 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92

[2021-02-26 02:04] robertmartin8 commented on #3064
@whedon generate pdf from branch joss-dev

[2021-02-26 02:04] whedon commented on #3064
[code]

[2021-02-26 02:05] whedon commented on #3064
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03064/joss.03064/10.21105.joss.03064.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03064/joss.03064/10.21105.joss.03064.pdf) :page_facing_up: :point_left:

[2021-02-26 04:59] gkthiruvathukal commented on #3062
Thanks, @kthyng! Possibly some sort of concurrency/race condition. I was pretty sure everything was ok, since the paper built just fine prior to going to REVIEW. Perhaps we can have @arfon take a look at this (happy to record an issue in GitHub but not quite sure where to do it).

[2021-02-26 05:14] bhajay commented on #2885
@Kevin-Mattheus-Moerman

@Kevin-Mattheus-Moerman : Yes, surely.

[2021-02-26 05:36] Sergio-Bejar commented on #3048
Hi @kthyng, thanks for keeping us in the loop!  We have no problem waiting until our submission is assigned to an editor.   Thanks to you and other members of the editorial board for your hard work.

[2021-02-26 07:58] timtroendle commented on #2969
@Chilipp Thank you for your review! Regarding your question: yes, there was an editorial scope check before. Still, we'd be interested in your opinion. Scholarly effort does not necessarily require to have been used or cited before, [but there are other criteria as well](https://joss.readthedocs.io/en/latest/review_criteria.html#substantial-scholarly-effort).

[2021-02-26 08:07] Kevin-Mattheus-Moerman commented on #2831
@whedon check repository

[2021-02-26 08:07] eloisabentivegna commented on #3003
@whedon add @yurlungur as reviewer

[2021-02-26 08:07] whedon commented on #3003
OK, @yurlungur is now a reviewer

[2021-02-26 08:08] whedon commented on #2831
[code]

[2021-02-26 08:19] Kevin-Mattheus-Moerman commented on #2831
@whedon generate pdf from branch joss-review

[2021-02-26 08:19] whedon commented on #2831
[code]

[2021-02-26 08:21] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2021-02-26 08:24] vissarion commented on #3064
@omendezmorales  thanks for the quick reply.

[2021-02-26 08:24] vissarion commented on #3064
@whedon assign @omendezmorales  as a reviewer

[2021-02-26 08:24] whedon commented on #3064
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-26 08:25] vissarion commented on #3064
@whedon assign @omendezmorales as reviewer

[2021-02-26 08:26] whedon commented on #3064
OK, @omendezmorales is now a reviewer

[2021-02-26 08:35] vissarion commented on #3034
@robertmartin8 thank you for fixing the issues in the paper. It is now ready for review.

[2021-02-26 08:39] vissarion commented on #3064
@whedon add @TolisChal as reviewer

[2021-02-26 08:39] whedon commented on #3064
OK, @TolisChal is now a reviewer

[2021-02-26 08:39] Kevin-Mattheus-Moerman commented on #2831
@chennachaos thanks for your continued help here. I've gone over all the review comments and author responses again, and have reviewed the paper and magnitude of this contribution again too (in terms of lines of code but also functionality offered). I understand your concerns in relation to the "amount of contribution". Given the positive comments by two reviewers and the clarifications the author

[2021-02-26 08:42] vissarion commented on #3064
@robertmartin8 thanks for resolving the issue on generated pdf. We should be ready start the review now.

[2021-02-26 08:42] vissarion commented on #3064
@whedon start review

[2021-02-26 08:42] whedon opened #3066 "[REVIEW]: PyPortfolioOpt: portfolio optimization in Python"
**Submitting author:** @robertmartin8 (<a href="http://orcid.org/0000-0002-5225-7700">Robert Martin</a>)
**Repository:** <a href="https://github.com/robertmartin8/PyPortfolioOpt/" target ="_blank">https://github.com/robertmartin8/PyPortfolioOpt/</a>
**Version:** v1.4.1
**Editor:** @vissarion
**Reviewers:** @omendezmorales, @SteveDiamond
**Archive:** <a href="https://doi.org/10.5281/zenodo.4740186"

[2021-02-26 08:42] whedon commented on #3064
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3066.

[2021-02-26 08:42] #3064 closed

[2021-02-26 08:42] whedon commented on #3066
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @omendezmorales, @TolisChal it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-02-26 08:43] whedon commented on #3066
[code]

[2021-02-26 08:43] whedon commented on #3066
PDF failed to compile for issue #3066 with the following error:

 Can't find any papers to compile :-(

[2021-02-26 08:49] vissarion commented on #3066
@whedon generate pdf from branch joss-dev

[2021-02-26 08:49] whedon commented on #3066
[code]

[2021-02-26 08:49] whedon commented on #3066
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03066/joss.03066/10.21105.joss.03066.pdf) :page_facing_up: :point_left:

[2021-02-26 09:48] xuanxu commented on #2987
@astrom-tom Thanks! Starting the review in a couple of weeks is ok, I'll assign you as reviewer now, open the review issue and I'll set a reminder for you.

[2021-02-26 09:48] xuanxu commented on #2987
@whedon assign @astrom-tom  as reviewer

[2021-02-26 09:48] whedon commented on #2987
OK, @astrom-tom  is now a reviewer

[2021-02-26 09:49] xuanxu commented on #2987
@whedon add @ygrange as reviewer

[2021-02-26 09:49] whedon commented on #2987
OK, @ygrange is now a reviewer

[2021-02-26 09:50] xuanxu commented on #2987
@whedon start review

[2021-02-26 09:50] whedon opened #3067 "[REVIEW]: Virgo: A Versatile Spectrometer for Radio Astronomy"
**Submitting author:** @0xCoto (<a href="http://orcid.org/0000-0001-6928-6877">Apostolos Spanakis-Misirlis</a>)
**Repository:** <a href="https://github.com/0xCoto/Virgo" target ="_blank">https://github.com/0xCoto/Virgo</a>
**Version:** v3.7.0
**Editor:** @xuanxu
**Reviewer:** @astrom-tom, @ygrange
**Archive:** <a href="https://doi.org/10.5281/zenodo.4778382" target="_blank">10.5281/zenodo.4778382<

[2021-02-26 09:50] whedon commented on #2987
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3067.

[2021-02-26 09:50] #2987 closed

[2021-02-26 09:50] whedon commented on #3067
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @astrom-tom , @ygrange it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-02-26 09:51] whedon commented on #3067
[code]

[2021-02-26 09:51] whedon commented on #3067
[code]

[2021-02-26 09:52] whedon commented on #3067
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03067/joss.03067/10.21105.joss.03067.pdf) :page_facing_up: :point_left:

[2021-02-26 09:54] xuanxu commented on #3067
@whedon remind @astrom-tom in 2 weeks

[2021-02-26 09:54] whedon commented on #3067
Reminder set for @astrom-tom in 2 weeks

[2021-02-26 10:08] sambitdash commented on #2749
@sbenthall, I will complete the review by next weekend. Sorry for the delay from my side but due to the overheads earlier identified by @jarvist, it was not easy setting up the test environment. Now that the bottlenecks are removed, I should be able to complete the review. Thanks @mossr for making sure all the changes suggested are taken care of now.

[2021-02-26 11:42] sabinomaggi commented on #2914
@whedon generate pdf

[2021-02-26 11:43] whedon commented on #2914
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02914/joss.02914/10.21105.joss.02914.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02914/joss.02914/10.21105.joss.02914.pdf) :page_facing_up: :point_left:

[2021-02-26 12:04] niceume commented on #3063
@kthyng  Thank you very much for consideration!

[2021-02-26 12:13] sabinomaggi commented on #2969
@Chilipp I totally agree with your remark. I think it would be very interesting to use this package to have a quick look to satellite imagery data, e.g. to visualize multispectral or hyperspectral data corresponding to each pixel. This has nothing to do with this review, but could be a possible direction for future work.

[2021-02-26 12:32] arfon commented on #2641
@whedon set 10.6084/m9.figshare.14113667.v1 as archive

[2021-02-26 12:32] whedon commented on #2641
OK. <a href="https://doi.org/10.6084/m9.figshare.14113667.v1" target="_blank">10.6084/m9.figshare.14113667.v1</a> is the archive.

[2021-02-26 12:32] arfon commented on #2641
@whedon accept

[2021-02-26 12:32] whedon commented on #2641
[code]

[2021-02-26 12:33] whedon commented on #2641
[code]

[2021-02-26 12:33] whedon commented on #2641
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2113

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2113, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-26 12:47] arfon commented on #3063
Lemme dig into this. I think there's some kind of issue on the Whedon bot server side.

[2021-02-26 13:18] dfm commented on #3037
@whedon add @bwoshea as reviewer

Brian will be our second reviewer. Thanks @bwoshea!

I'll get the review started in a new thread and we can all head over there to get started. There will be a lot of information automatically added to that thread, but please don't hesitate to ask me if you have any questions as the review proceeds!

[2021-02-26 13:18] whedon commented on #3037
OK, @bwoshea is now a reviewer

[2021-02-26 13:18] dfm commented on #3037
@whedon start review

[2021-02-26 13:18] whedon opened #3068 "[REVIEW]: Nyx: A Massively Parallel AMR Code for Computational Cosmology"
**Submitting author:** @jmsexton03 (<a href="http://orcid.org/0000-0003-2551-1678">Jean M. Sexton</a>)
**Repository:** <a href="https://github.com/AMReX-Astro/Nyx" target ="_blank">https://github.com/AMReX-Astro/Nyx</a>
**Version:** 21.07
**Editor:** @dfm
**Reviewers:** @c-white, @teuben
**Archive:** <a href="https://doi.org/10.5281/zenodo.5059767" target="_blank">10.5281/zenodo.5059767</a>

**:wa

[2021-02-26 13:18] whedon commented on #3037
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3068.

[2021-02-26 13:18] #3037 closed

[2021-02-26 13:18] whedon commented on #3068
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @c-white, @bwoshea it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2021-02-26 13:20] whedon commented on #3068
[code]

[2021-02-26 13:20] whedon commented on #3068
[code]

[2021-02-26 13:20] whedon commented on #3068
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03068/joss.03068/10.21105.joss.03068.pdf) :page_facing_up: :point_left:

[2021-02-26 13:43] arfon commented on #2886
@whedon assign me as editor

[2021-02-26 13:43] whedon commented on #2886
OK, the editor is @arfon

[2021-02-26 13:45] arfon commented on #2886
@pschloss - apologies for the delay here. As @kakiac is less available to edit than expected, I'll take over from here.