[2022-11-28 20:39] adonath commented on #4977
I also asked the JOSS editorial team for advice and there was the proposal to maybe choose a dual license here. Here is the quote:

This would allow complying with GSL, while maximizing the reuse of other parts of the software which might not depend on GSL. The downside is probably just that it's a rare thing to do and might need a more complex license description...

[2022-11-28 20:43] eloisabentivegna commented on #4642
Thanks for the update, @ddhendriks. Any news on the migration?

[2022-11-28 20:48] eloisabentivegna commented on #4800
Thanks, @ttricco! Your effort and recommendation are very appreciated.

[2022-11-28 20:57] q1cui commented on #4950
Thanks, @marcosvital We have checked our paper.md file and removed the invalid ORCID. We find zoometh, OwenWard, gabett, schochastics, chrisaberson are suitable to review our submission.

[2022-11-28 21:30] faroit commented on #4746
@neillu23 we could do that but I would like to highly encourage you to not suspend the review for this reason. I think reducing the word count can be done with small amount of effort. Let us know you decided soon.

[2022-11-28 21:36] danielenricocahall commented on #4073
- Added some contribution guidelines here: https://github.com/danielenricocahall/elephas/blob/master/CONTRIBUTING.md
 - Added three issue templates: https://github.com/danielenricocahall/elephas/tree/master/.github/ISSUE_TEMPLATE
- Updated some function docstrings
Will work on more in the todo list soon! I agree with the mid-December assessment.

[2022-11-28 23:02] rkurchin commented on #4862
🔔 Checking in again with reviewers, @ziatdinovmax and @aliusdragonfly...

[2022-11-28 23:03] rkurchin commented on #4817
Great, looks like we're almost ready to rock here! Thanks everyone! @ireaml, I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the paper, you may, but it is not required that the actual manuscript liv

[2022-11-28 23:04] fnattino commented on #4624
Hi @lucydot, apologies for the delay. Nice work @gdmiron! I have carried out my review and submitted my comments via the following issues:
- https://github.com/thermohub/thermofun/issues/52
- https://github.com/thermohub/thermofun/issues/53
- https://github.com/thermohub/thermofun/issues/54
- https://github.com/thermohub/thermofun/issues/55

[2022-11-28 23:04] rkurchin commented on #4817
@editorialbot check references

[2022-11-28 23:04] rkurchin commented on #4817
@editorialbot generate pdf

[2022-11-28 23:11] rkurchin commented on #4817
Some minor editorial suggestions:
* line 11: add comma after "site"
* line 12 -> 10: move "however" to the beginning of the sentence – i.e. "However, the standard modeling approach..."
* 16, 20, 27, 48: hyphenate "low-energy"
* 26, 49: hyphenate "energy-lowering"
* 27: add comma after "efficient"
* 29: "automatise" -> "automate"
* 39: unhyphenate "readily applicable"
* 51: add hyphen after "site"

[2022-11-28 23:19] hgandhi2411 commented on #4624
@lucydot @gdmiron i have done my review and submitted my comments through issues. Some of them were already addressed, thanks for a quick turnaround @gdmiron

[2022-11-28 23:30] drannawatts commented on #4977
Thank you for all of your input on this!! I think re-licensing is probably the only way to go for now - I'll discuss properly with the rest of the team tomorrow just in case I've missed anything and then get this fixed ASAP. Will update here once it's done!

[2022-11-28 23:32] odunbar commented on #4869
An update:

The 3 PRs in [this comment](https://github.com/CliMA/EnsembleKalmanProcesses.jl/issues/232#issuecomment-1329881988) are addressing the second reviewers comments.

The PRs are undergoing the final internal review, then I shall ask the second reviewer to take a look.

[2022-11-29 00:24] ayush9pandey commented on #4961
Fixed the missing doi's. Adding co-first author @WilliamIX to this review.

[2022-11-29 01:34] claresinger commented on #4412
@Kevin-Mattheus-Moerman @danielskatz @dhhagan
Please remove me as a reviewer of this paper. I am one of the authors. I think you probably meant to add @emmasimp instead.

[2022-11-29 02:17] pritchardn commented on #4915
Functionality:

I've run the examples provided in the documentation with no issues, but I do have one comment.

The protocol description talks of the payload with respect to `bytes`, however, the encoding implementation only accepts lists of ints. I understand the list of ints represents the byte values, but a novice might be confused when passing a byte-array to the encode function of a protocol

[2022-11-29 02:21] limey-bean commented on #4960
@editorialbot commands

[2022-11-29 02:45] gkthiruvathukal commented on #4963
@editorialbot invite @rkurchin as reviewer

[2022-11-29 03:01] gkthiruvathukal commented on #4963
@editorialbot invite @rkurchin as editor

[2022-11-29 03:02] gkthiruvathukal commented on #4963
@rkurchin I'm so used to inviting reviewers as an editor. Hopefully, this second attempt reaches you!

[2022-11-29 03:14] gkthiruvathukal commented on #4967
@kks32 Ok, I still feel like the README could be a lot better written, perhaps even including some of your explanation here and really making sure someone would be able to understand how to run this code.  The purpose of a README is to explain with the hope that someone landing on the page may be inspired to consider your work.

However, I am satisfied with your response as it clarified the potent

[2022-11-29 03:57] mdmurbach commented on #4808
Great job responding and improving the project (and great review feedback by @Aslan-Kosakian)! Overall, the final paper is a great description of the state of programmatic impedance analysis an exciting contribution to the open source impedance community @vyrjana 🚀

[2022-11-29 04:50] kks32 commented on #4967
@gkthiruvathukal Thank you for your consideration and your comments. I will work on updating the README adding explanation on the purpose and improve the usage instructions. I sincerely thank you for taking us to the next stage.

[2022-11-29 06:57] lwang-astro commented on #4483
@webbjj @dfm Sorry for the late of reply. Now I am continuing to check the tool. For the previous problem of plotting bug.
`Latex Error: File 'type1cm.sty' not found. `

I test the code on the other machine and found that only installing cm-super and dvipng are not enough, for ubuntu: `sudo apt install cm-super dvipng`. The texlive and texlive-extra also needed to be installted together. I am not

[2022-11-29 07:59] chartgerink commented on #4662
@FlukeAndFeather could you please communicate as to whether you're able to get to this in a certain timeframe? I will have to consider this stale if I don't hear from you in two weeks.

[2022-11-29 08:56] MaximLippeveld commented on #4908
@editorialbot generate pdf

[2022-11-29 09:13] pdebuyl commented on #4906
Hi @tkoskela , the link is sufficiently distant, please stay as reviewer :-)

[2022-11-29 09:29] MaximLippeveld commented on #4908
Hi, thanks for the updates. The "database chunking" section is now very clear for me!

A couple more remarks:
- Installation: I had to add change the installation command to `conda install -c bioconda krakenuniq`. The repo's README doesn't include `-c bioconda` at the moment.
- Statement of need: I would like to see a short extra paragraph on the need for the specific functionality that is being i

[2022-11-29 09:42] Robaina commented on #4978
Based on the provided [list of reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78), `vinisalazar` and `urmi-21` could fit well as reviewers, `mouneem` could also be a good fit.

[2022-11-29 09:49] editorialbot opened #4979 "[PRE REVIEW]: SMITE: Single Molecule Imaging Toolbox Extraordinaire (MATLAB)"
**Submitting author:** @MJWester (<a href="http://orcid.org/0000-0002-3520-7605">Michael Wester</a>)
**Repository:** https://github.com/LidkeLab/smite
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0
**Editor:** @jgostick
**Reviewers:** @bencardoen
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/bb7451e778d9a92cf9370903a6712ea0/status.

[2022-11-29 10:02] Kevin-Mattheus-Moerman commented on #4677
@hkaspersen Dear authors, I am the AEiC of this track and here to help process the acceptance of this work in JOSS. I have reviewed the paper, the repository, this review, and the archive on ZENODO and feel everything is in order. I have some comments below but we can proceed to accept this submission now.

- [ ] On your ZENODO archive https://zenodo.org/record/7331351 I recommend that you edit th

[2022-11-29 10:03] Kevin-Mattheus-Moerman commented on #4677
@editorialbot accept

[2022-11-29 10:05] Kevin-Mattheus-Moerman commented on #4677
@hkaspersen congratulations to you and your co-author on your publication in JOSS!! :partying_face:

@csoneson thanks for editing this submission!!

And a special thanks to the reviewers @mberacochea, @hseabolt, and @rcannood!!!! JOSS is not possible without the valuable volunteer efforts by people like yourself, thanks a lot!!!

[2022-11-29 10:07] hkaspersen commented on #4677
Thank you so much @Kevin-Mattheus-Moerman !
I also have to thank @csoneson for an excellent review process, and @mberacochea @rcannood @hseabolt for a very thorough review and excellent comments. Thank you all!

[2022-11-29 11:07] Jacks0nJ commented on #4607
@drvinceknight I've made a release. How do archive and report the DOI?

[2022-11-29 12:28] mgm8 commented on #4915
@0xCoto thanks for your comments! I fixed them in [33013cf](https://github.com/mgm8/pyngham/commit/33013cf4880bd9858fb42423bea8076e03445172).

The polynomial is presented in section 10.4.1 of CCSDS 131.0-B-3, but the last version of this document is the CCSDS 131-0-B-4 and not CCSDS 131-0-B-3 as stated in the manuscript. The document version was updated in the text.

This section can be found here

[2022-11-29 13:16] tresoldi commented on #4879
Hello, so sorry for the delay. I will finish by tomorrow noon (31/11, European time).

[2022-11-29 13:27] danielskatz commented on #4894
@lucasmccabe - thanks, but as an author, you shouldn't be prompting the reviewers (even if a friendly and helpful way), while as editor, I probably should in this case.

[2022-11-29 13:27] danielskatz commented on #4894
👋 @sara-02 - is there any update on your review?  It would be helpful if you can at least create your checklist via using the command `@editorialbot generate my checklist`. @editorialbot commands need to be the first thing in a new comment.

[2022-11-29 13:27] danielskatz commented on #4894
👋 @zoometh - How is your review coming?

[2022-11-29 13:29] danielskatz commented on #4905
@WilliamJamieson - Can you comment on the items in your review that are not checked off?  What is needed for you to check them to off?  As stated above

[2022-11-29 13:30] danielskatz commented on #4905
👋 @idoby - how is your review coming along? Is anything blocking you from continuing?

[2022-11-29 13:31] lucasmccabe commented on #4894
Understood - my apologies!

[2022-11-29 13:32] danielskatz commented on #4815
👋 @pausz - we do need some more information from you about what else you think needs to be done.

[2022-11-29 13:35] ireaml commented on #4817
@editorialbot generate pdf

[2022-11-29 13:42] ireaml commented on #4817
Hi @rkurchin , thank you for the detailed read and the comments! They have now been implemented.
The version number is [`v22.11.6`](https://github.com/SMTG-UCL/ShakeNBreak/releases/tag/v22.11.6) and the DOI is `10.5281/zenodo.7377173` ([![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.7377173.svg)](https://doi.org/10.5281/zenodo.7377173)).

[2022-11-29 13:46] Kevin-Mattheus-Moerman commented on #4978
@Robaina thanks for this submission. I am the AEiC on this track and will check this work for scope, with the help of the rest of the boards if needed, and will do some initial checks before we proceed.

- [ ] JOSS requires an [OSI approved open source licenses](https://opensource.org/licenses/alphabetical). You currently use the `CC-BY-4.0 license` license. I would personally regard the creative

[2022-11-29 13:47] Kevin-Mattheus-Moerman commented on #4978
@openjournals/dev :point_up: it looks like the editorial bot did not detect that an OSI license was not used. Is it currently only checking for a license in general or is it checking the license against the OSI list?

[2022-11-29 13:49] Kevin-Mattheus-Moerman commented on #4978
@editorialbot query scope

[2022-11-29 13:53] Kevin-Mattheus-Moerman commented on #4978
@Robaina I have just assigned the `quey-scope` label for this submission. This means I am asking the editorial board to help decide if this work is in scope for JOSS or not. In particular, at first sight, the functionality contained in this submission seems to be somewhat limited, correct me if I am wrong but it seems to mostly facilitate a particular type of database search. So-called "single-fun

[2022-11-29 13:57] sara-02 commented on #4894
@editorialbot generate my checklist

[2022-11-29 13:58] Kevin-Mattheus-Moerman commented on #4979
@editorialbot invite @lucydot as editor

[2022-11-29 14:01] rkurchin commented on #4963
@editorialbot add me as editor

[2022-11-29 14:03] Kevin-Mattheus-Moerman commented on #4951
@banhbio thanks for this submission. The editorial board has concluded the scope review and have unfortunately decided this submission is not in scope for JOSS. In particular it does not conform to our "substantial scholarly effort" criteria, both in magnitude of the code and the functionality contained in the submission. Note that the fact that it is not deemed in scope for JOSS does not mean the

[2022-11-29 14:03] Kevin-Mattheus-Moerman commented on #4951
@editorialbot reject

[2022-11-29 14:03] #4951 closed

[2022-11-29 14:04] Kevin-Mattheus-Moerman commented on #4959
@gcattan I was referring to the number of lines of code.

[2022-11-29 14:06] Kevin-Mattheus-Moerman commented on #4814
@ellieb, we will now proceed to reject this submission.

[2022-11-29 14:06] #4814 closed

[2022-11-29 14:08] rkurchin commented on #4963
👋 @GregoryAshton and @matt-graham, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-29 14:09] Kevin-Mattheus-Moerman commented on #4469
@editorialbot generate pdf

[2022-11-29 14:14] danielenricocahall commented on #4073
@editorialbot generate pdf

[2022-11-29 14:20] Kevin-Mattheus-Moerman commented on #4469
@editorialbot invite @lucydot as editor

[2022-11-29 14:23] #4677 closed

[2022-11-29 14:29] Kevin-Mattheus-Moerman commented on #4707
@editorialbot set 0.2.5-cran-submission as version

[2022-11-29 14:41] arfon commented on #4073
@danielenricocahall it looks like the `mp_joss_paper` branch doesn't exist any longer? You can update the branch @editorialbot uses with the command:

[code]

[2022-11-29 14:43] Kevin-Mattheus-Moerman commented on #4707
@robchallen I am the AEiC for this submission and here to help process this submission for acceptance in JOSS. Below are some minor points that require your attention.

General points:
- [ ] We require that the version tags on your **repository**, the version tag listed for the **JOSS review and paper**, and the version tag listed on **ZENODO** match. Currently for this review had 'v0.2.5' (note t

[2022-11-29 14:48] danielenricocahall commented on #4073
Ah! I think because we're now pointing to my fork as the main repo. I can move the branch over there then retry the job later today. Apologies for that!

[2022-11-29 15:12] HenriKajasilta commented on #4926
@editorialbot generate pdf

[2022-11-29 15:12] hugoledoux commented on #4681
your name is different on zenodo: your middle name A. is there and not the paper. They need to be the same.

[2022-11-29 15:42] rkurchin commented on #4817
@editorialbot set 22.11.6 as version

[2022-11-29 15:42] rkurchin commented on #4817
@editorialbot set 10.5281/zenodo.7377173 as archive

[2022-11-29 15:43] zoometh commented on #4894
Slowly, due to a large amount of work. I'll continue this end of the week

[2022-11-29 15:48] rkurchin commented on #4817
@editorialbot recommend-accept

[2022-11-29 16:02] alekseyzimin commented on #4908
@editorialbot generate pdf

[2022-11-29 16:11] Robaina commented on #4978
@Kevin-Mattheus-Moerman Thanks for managing our submission. I don't fully understand your comment. Do you mean that `Pynteny` would not qualify for consideration at JOSS because it is intended to search only prokaryotic sequence databases? This is, indeed, a particular type of database. However, it is not uncommon to focus only on prokaryotic or eukaryotic sequence data within bioinformatics due t

[2022-11-29 16:13] matt-graham commented on #4963
Hi @rkurchin. Yes I'd be happy to review this submission.

[2022-11-29 16:13] rkurchin commented on #4963
@editorialbot add @matt-graham as reviewer

[2022-11-29 16:32] jbytecode commented on #4915
@editorialbot generate pdf

[2022-11-29 16:34] jbytecode commented on #4869
@ziyiyin97 - could you please check out the changes and update your status?

[2022-11-29 16:52] Kevin-Mattheus-Moerman commented on #4707
That sounds good. Sorry this is an awkward process.

Okay. Yes, just leave things (in terms of the license stuff) the way they are then.

[2022-11-29 17:18] ctdegroot commented on #4637
The installation instructions have improved, but "Adapt Makefile (compiler, flags & paths: CXX, CXXFLAGS, LDFLAGS, INC_LIB_YAML, INC_DIR_YAML, INC_LIB_HDF5, INC_DIR_HDF5) to the computing system" is not particularly helpful if the user is not a proficient Linux user. Perhaps the authors could provide default paths for these items or some suggestions about how to set them correctly. At the very lea

[2022-11-29 17:18] jbytecode commented on #4736
@HaoZeke - I am so sorry for bothering you one more time but we really need your help. Could you please review the latest dialogs and make your decisions? Thank you in advance.

[2022-11-29 17:19] msalibian commented on #4947
I have finished my revision. This is a nice contribution, and my suggestions are rather minor, some of them perhaps just due to my not understanding the requirements on the checklist.

Regarding the checklist:
- The LICENSE file is missing.
- I did not find Community guidelines (for reporting issues or contributing to the project) in the documentation (they are there on the GitHub repo). This is n

[2022-11-29 17:22] jbytecode commented on #4947
@msalibian - thank you for your quick and detailed review.

@s-abbas - could you please check out the corrections and suggestions and update your status? Thank you in advance.

[2022-11-29 17:27] HaoZeke commented on #4736
@tmigot as suggested by @jmejia8 as well, could you update the package documentation and paper before we proceed?

[2022-11-29 17:34] jbytecode commented on #4736
@tmigot - could you please update the code/documentation/paper as our reviewers suggested and then ping us again? thank you in advance.

[2022-11-29 17:34] Robaina commented on #4978
Thank you for noticing. The license has been changed to an OSI-approved one.

[2022-11-29 17:35] gattia commented on #4681
Thanks for catching that. It has been updated at the same DOI - doi.org/10.5281/zenodo.7343379

[2022-11-29 18:56] alekseyzimin commented on #4908
@MaximLippeveld, thank you for your suggestions.

**Installation:** we modified the READMA.md to include `-c bioconda`

**Statement of need:**  we added the following paragraph:
"Typical databases used by KrakenUniq are tens to hundreds of gigabytes in size.  The original KrakenUniq code required loading the entire database in RAM, which demanded expensive high-memory servers to run it efficiently

[2022-11-29 18:57] alekseyzimin commented on #4908
@editorialbot generate pdf

[2022-11-29 19:55] gcattan commented on #4959
Ok, thank you.

[2022-11-29 20:53] sbenthall commented on #4845
Thank you @alanlujan91 for agreeing to review this submission!

[2022-11-29 20:53] sbenthall commented on #4845
@editorialbot add @alanlujan91 as reviewer

[2022-11-29 20:54] sbenthall commented on #4845
@editorialbot start review

[2022-11-29 20:54] editorialbot opened #4980 "[REVIEW]: sfctools - A toolbox for stock-flow consistent, agent-based models"
**Submitting author:** @fuadlabgit (<a href="http://orcid.org/0000-0002-9119-7413">Thomas Baldauf</a>)
**Repository:** https://gitlab.com/dlr-ve/esy/sfctools/framework/
**Branch with paper.md** (empty if default branch): paper
**Version:** joss_final
**Editor:** @sbenthall
**Reviewers:** @npalmer-professional, @alanlujan91
**Archive:** 10.5281/zenodo.8118870

## Status

[![status](https://joss.the

[2022-11-29 20:54] #4845 closed

[2022-11-29 20:57] sbenthall commented on #4980
👋🏼 @fuadlabgit @alanlujan91 @npalmer-professional this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

@editorialbot generate my checklist

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please

[2022-11-29 20:58] sbenthall commented on #4934
@editorialbot assign me as editor

[2022-11-29 20:59] sbenthall commented on #4934
@zpneal Would you be able to review this submission?

[2022-11-29 21:00] sbenthall commented on #4934
@cosimameyer Would you be able to review this submission?

[2022-11-29 21:00] zpneal commented on #4934
Yes, I'd be happy to review.

[2022-11-29 21:07] pdebuyl commented on #4575
@editorialbot set 10.5281/zenodo.7373457 as archive

[2022-11-29 21:30] alanlujan91 commented on #4980
@editorialbot generate my checklist

[2022-11-29 21:31] pdebuyl commented on #4575
Thanks @RupeshJey (for info, you can edit the metadata -- not the content -- of a zenodo entry).

[2022-11-29 21:32] pdebuyl commented on #4575
@editorialbot recommend-accept

[2022-11-29 21:40] pdebuyl commented on #4575
Woops, @RupeshJey please check all references.

[2022-11-29 21:56] cfranken commented on #4575
I checked the doi links and these are the correct DOIs. It seems it doesn't
accept letters or brackets but the DOI links are correct

On Tue, Nov 29, 2022 at 1:40 PM Pierre de Buyl ***@***.***>
wrote:

--
Christian Frankenberg

[2022-11-29 22:05] tresoldi commented on #4879
@editorialbot generate my checklist

[2022-11-29 22:13] augustearth commented on #4833
@arfon, I created a new branch [joss2](https://github.com/carnival-data/carnival/tree/joss2), which contains all the files in master, the paper files in the joss/ directory, and a working draft-pdf Github action.  Due to the way that the original joss branch was created, this was the easiest way to go.  Is it possible to switch to this new branch to complete the submission?

[2022-11-29 22:14] michakraus commented on #2954
Well, as usual, things never turn out as expected. I did not fully finish before said weekend and was on conference last week.

I just ticket off a few of the points above: the tutorial, integrator and equation docs are in a good shape now. The algorithm overview is almost done. I am just lacking a good idea of how to propagate algorithm references to the newly added `Method` types. Once this is s

[2022-11-29 22:26] tresoldi commented on #4879
# Evaluation

The paper presents a high quality software that, as described by the authors, fills a very important void in phylogenetic studies for textual traditions. I can see their work becoming part of a "best practice pipeline" for such analyses, and I will surely start to recommend it.

Not addressing the topics already pointed by @SimonGreenhill :

## Comments on the software

- [ ] While I

[2022-11-29 22:41] balima78 commented on #4807
hi @crvernon , do we need to do anything else?

[2022-11-29 23:18] ayush9pandey commented on #4961
Fixed the last missing doi!

@editorialbot check references

[2022-11-29 23:27] jjmccollum commented on #4879
@tresoldi Thank you for these comments! These changes seem straightforward and shouldn't take too long to implement (though I might need @rbturnbull's help on the `--ascertainment` option for NEXUS outputs). I'll open a branch or two for revisions to the paper and additions to the code.

Regarding the citation of PAUP*, I wasn't able to find a paper describing it, but it looks like the website jus

[2022-11-29 23:27] ayush9pandey commented on #4961
Here's our suggested list of reviewers from the JOSS provided list:
1. arghdos,
2. Farnazmdi,
3. espottesmith

[2022-11-29 23:48] pdebuyl commented on #4575
DOIs in the bib file must be only "10.xxx" and not the doi link "https://doi.org/10.xxx". Even though the latter form is accepted as the official value for the DOI registry, it should not be used in the bib file. The links in the pdf have an extra "https" in front and the doi checker does not accept them.

Also, some papers don't have a DOI whereas there is likely one. Please check all.

[2022-11-30 00:58] cfranken commented on #4575
ok, I got it now. I updated the bib file and managed to find DOIs for most
of the papers. Thanks for checking.

On Tue, Nov 29, 2022 at 3:48 PM Pierre de Buyl ***@***.***>
wrote:

--
Christian Frankenberg

[2022-11-30 02:00] quantumsteve commented on #4378
Hi, sorry for the delayed response. We addressed the issues the reviewer's found when building ASGarD. We intend to add an examples page and update the paper soon.

[2022-11-30 04:01] jjmccollum commented on #4879
@editorialbot generate pdf

[2022-11-30 04:08] jjmccollum commented on #4879
@editorialbot check references

[2022-11-30 04:17] ziyiyin97 commented on #4869
I'm happy with author's revision (thread can be found in https://github.com/CliMA/EnsembleKalmanProcesses.jl/issues/232).

[2022-11-30 05:28] ziatdinovmax commented on #4862
@editorialbot generate my checklist

[2022-11-30 05:47] ziatdinovmax commented on #4862
@rkurchin Going through the examples now.
Quick question to @jdasm: could you please point me to the files needed to reproduce the examples in Multiple Detection Events, Spectrum Analysis, and Spatial Analysis? ('GBCO.epos', 'GBCO.pos', 'R5038_00556-v04.epos', 'rng_5pj.rrng') Thanks!

[2022-11-30 06:26] pdebuyl commented on #4575
@editorialbot check references

[2022-11-30 08:03] tresoldi commented on #4879
@jjmccollum for ascertainment, only adding a uniform character with zeros should be enough. I have seen a small group of people working in computational linguistics experimenting with having a missing value (`?`) in the ascertainment character when the value is missing (so that the ascertainment character value has both zeros and questions marks), but it is not the common practice and would over-c

[2022-11-30 08:29] jjmccollum commented on #4879
@tresoldi Oh, that makes things much easier! Thanks for clarifying that. I should be able to add that feature for most or all output formats (although I don't know if every phylogenetic program we test in our workflows will use the ascertainment character).

[2022-11-30 08:47] MaximLippeveld commented on #4908
Great!

Could you also add instructions on downloading `SRR12486990.fastq`?

[2022-11-30 08:52] pdebuyl commented on #4575
The DOI for Hunt & Grant is `10.1175/1520-0469(1969)026<0963:DSTORT>2.0.CO;2` some characters were lost in the bib entry.
The DOI for Yurchenko and Tennyson is `10.1051/eas/1258039`

[2022-11-30 08:57] sara-02 commented on #4894
@danielskatz @lucasmccabe I am done with reviews from my side, the library loaded smoothly, and the sample code also worked. I have just one minor comment for the documentation. Rest is all good from my side.
The tests are also running smoothly.

[2022-11-30 09:03] samhforbes commented on #4741
Hi @pydemull sorry I missed this coming through. You want a tagged release of the post review version, which is what gets put on Zenodo.

[2022-11-30 09:07] gdmiron commented on #4624
@hgandhi2411 and @fnattino Thanks for the comments, suggestions and valuable time spent on this. I will have a look in the coming days.

[2022-11-30 09:37] pydemull commented on #4741
Ok thanks a lot @samhforbes. So, I will tagg a version 1.1.0, because the current version contains ,in addition to the features asked by the reviewers, two new features: possibility to zoom in on the graphics of the app, and the possibility to manually add physical activity information (eg, relating to what has been done during device removal periods) into the accelerometer dataset. I will update

[2022-11-30 09:38] samhforbes commented on #4741
Perfect, paste the DOI here when done, and I'll update the metadata as well!

[2022-11-30 10:22] Pizzuti92 commented on #4800
Dear @ttricco and @eloisabentivegna, thanks a lot for having taken care and reviewed our submission, on behalf of all the authors.

[2022-11-30 10:25] Nikoleta-v3 commented on #4944
Sounds good to me 😄

@ieyjzhou & @mstimberg, please remember to create your checklist by commenting the following:

[code]

[2022-11-30 10:31] danielskatz commented on #4894
Thanks @sara-02 !

[2022-11-30 10:33] rbturnbull commented on #4879
Hi @jjmccollum - there are helpful explanations about correcting for ascertainment bias with a dummy character in the Lewis 2001 paper and in this paper:
Felsenstein, J. (1992), PHYLOGENIES FROM RESTRICTION SITES: A MAXIMUM-LIKELIHOOD APPROACH. Evolution, 46: 159-173. https://doi.org/10.1111/j.1558-5646.1992.tb01991.x

I'm happy to work on this.

[2022-11-30 11:26] mark-hammond commented on #4872
Thank you for addressing the comments, I have ticked all the boxes now and closed the issue thread on the other repo. This is a great piece of code, thank you for sharing it in this way!

[2022-11-30 12:12] lluisjofre commented on #4637
Dear @ctdegroot and @diehlpk,

Thanks a lot for the comments.
We have improved the README.md file of the project following your instructions.
In particular, the INSTALLATION instructions have been modified to:
Adapt Makefile (flags & paths: CXXFLAGS, INC_LIB_YAML, INC_DIR_YAML, INC_LIB_HDF5, INC_DIR_HDF5) to the computing system. Examples:
   - CPU flags: CXXFLAGS = -O3 -Wall -std=c++0x -Wno-unkno

[2022-11-30 12:18] smkia commented on #4321
Dear @dfm, the package passes all my tests and I have no further concerns regarding the functionality of the implemented modules. I think this is a useful resource for new users of NM and, therefore, I support this work being published.

[2022-11-30 12:22] ttarkowski commented on #4902
I plan to update the _Scholarly publications and research projects using the software_ subsection soon.

[2022-11-30 15:01] salzberg commented on #4908
Yes, just did this. That's an NCBI accession, and we've put the link in the Table caption, pointing to https://www.ncbi.nlm.nih.gov/sra/SRR12486990.

[2022-11-30 15:25] dfm commented on #4939
@editorialbot add @farr as reviewer

🎉 Thanks @farr for agreeing to review this submission!! I'll get the review started as soon as I have a second reviewer lined up.

[2022-11-30 15:54] kthyng commented on #4460
@openjournals/dev Could you help with this?

[2022-11-30 15:54] kthyng commented on #4569
@openjournals/dev Could you help with this?

[2022-11-30 16:07] lucasmccabe commented on #4894
Thank you for your review @sara-02!  I have updated both the [README](https://github.com/lmiconsulting/cosasi#code-snippet) and the [narrative documentation](https://cosasi.readthedocs.io/en/latest/) to reflect your [recommendation](https://github.com/lmiconsulting/cosasi/issues/1).

[2022-11-30 16:14] britta-wstnr commented on #4856
@editorialbot start review

[2022-11-30 16:14] editorialbot opened #4981 "[REVIEW]: FijiRelax: Fast and noise-corrected estimation of MRI relaxation maps in 3D + t"
**Submitting author:** @Rocsg (<a href="http://orcid.org/0000-0003-3670-044X">Romain Fernandez</a>)
**Repository:** https://github.com/Rocsg/FijiRelax
**Branch with paper.md** (empty if default branch):
**Version:** v4.0.2
**Editor:** @britta-wstnr
**Reviewers:** @MaximLippeveld, @kasasxav, @hinerm
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/cdbd91c8fed50d89c7afbf8384

[2022-11-30 16:14] #4856 closed

[2022-11-30 16:27] britta-wstnr commented on #4981
Hello again! 👋
@Rocsg
@MaximLippeveld, @kasasxav, @hinerm

This is the **review thread** for the paper. All of our higher-level communications will happen here from now on, review comments and discussion can happen in the repository of the project (details below).

📓 Please read the "Reviewer instructions & questions" in the comment from our editorialbot (above).

✅ All reviewers get their own che

[2022-11-30 16:34] MaximLippeveld commented on #4981
@editorialbot generate my checklist

[2022-11-30 16:44] hinerm commented on #4981
@editorialbot generate my checklist

[2022-11-30 17:19] cfranken commented on #4575
@editorialbot <https://github.com/editorialbot> check references

On Wed, Nov 30, 2022 at 12:52 AM Pierre de Buyl ***@***.***>
wrote:

--
Christian Frankenberg

[2022-11-30 17:20] cfranken commented on #4575
@editorialbot check references

[2022-11-30 18:13] kthyng commented on #4912
Hi all! Just want to see how the review is going for everyone. Please let me know if you have any questions.

[2022-11-30 18:17] kthyng commented on #4797
@jedbrown Could you edit this submission?

[2022-11-30 18:17] kthyng commented on #4797
@editorialbot invite @jedbrown as editor

[2022-11-30 18:23] kthyng commented on #4923
@danielemelini Thank you for your patience. Unfortunately the JOSS editorial board has determined that this submission is too small to be considered in scope. This is not a judgement on the utility of the software, only as to whether it is in scope for us. You can get more information here: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

Additionally, you can fi

[2022-11-30 18:23] kthyng commented on #4923
@editorialbot reject

[2022-11-30 18:23] #4923 closed

[2022-11-30 18:27] betolink commented on #4700
Hi @kthyng sorry for the delay, yes you can add me as a reviewer.

[2022-11-30 18:28] kthyng commented on #4700
@editorialbot add @betolink as reviewer

[2022-11-30 18:28] kthyng commented on #4700
@editorialbot start review

[2022-11-30 18:28] editorialbot opened #4982 "[REVIEW]: SlideRule: Enabling rapid, scalable, open science for the NASA ICESat-2 mission and beyond"
**Submitting author:** @dshean (<a href="http://orcid.org/0000-0003-3840-3860">David Shean</a>)
**Repository:** https://github.com/ICESat2-SlideRule/paper
**Branch with paper.md** (empty if default branch): main
**Version:** v1.5.8
**Editor:** @kthyng
**Reviewers:** @jhkennedy, @betolink
**Archive:** 10.5281/zenodo.7542007

## Status

[![status](https://joss.theoj.org/papers/ddd37aab8ef5bda53725e9

[2022-11-30 18:28] #4700 closed

[2022-11-30 18:29] kthyng commented on #4982
👋🏼 @dshean, @jhkennedy, @betolink this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please check any

[2022-11-30 18:31] kthyng commented on #4926
@editorialbot generate pdf

[2022-11-30 18:31] kthyng commented on #4926
oops I hadn't updated my page

[2022-11-30 18:35] kthyng commented on #4926
Hi @HenriKajasilta and thanks for your submission. I am going to ping the editorial board to see if this is in scope for JOSS — this process will take 1-2 weeks. Thanks for your patience.

[2022-11-30 18:35] kthyng commented on #4926
@editorialbot query scope

[2022-11-30 18:49] mbobra commented on #4170
@transientlunatic Checking in again -- please let me know how things are going!

[2022-11-30 19:09] s-abbas commented on #4947
@msalibian - Thank you very much for your review.
@jbytecode - I will work on the remarks and hope to come back to you by the end of next week.

[2022-11-30 19:26] xuanxu commented on #4569
@kthyng once the text is updated running `@editorialbot reaccept` should regenerate the accepted paper

[2022-11-30 19:29] xuanxu commented on #4460
@kthyng the orcid should be updated in the metadata section of the `paper.md` file. Then reaccepting the submission (`@editorialbot reaccept`) will regenerate the paper with the correct orcid.

[2022-11-30 19:48] pdebuyl commented on #4575
@editorialbot generate pdf

[2022-11-30 21:04] martinfleis commented on #4880
@editorialbot generate pdf

[2022-11-30 21:06] martinfleis commented on #4933
@mrempel if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list). Thanks!

[2022-11-30 21:07] martinfleis commented on #4880
@martinlackner thank you! The rendered paper is now updated.

[2022-11-30 21:17] GregoryAshton commented on #4963
Hi @rkurchin sorry but I am overloaded at the moment and not able to review this paper.

[2022-11-30 21:21] jhkennedy commented on #4982
@editorialbot generate my checklist

@kthyng 2-4 weeks should be fine! Since we're in the run-up to AGU now, I expect to complete this review in the 3-4 week window, but hope to get to it sooner.

[2022-11-30 21:26] pydemull commented on #4741
@samhforbes please find here the DOI: 10.5281/zenodo.7384191
Regarding the article, I have removed from the text the version number associated to the CRAN version for more simplicity. The current version is thus 1.1.0.
Best

[2022-11-30 21:40] pdebuyl commented on #4575
Hi @cfranken there are still a few inconsistencies in the bibliography. The delta in the delta-fit reference does not show properly and the journal name is repeated. Natraj 2009 lacks the article number. The JQSRT papers by Sanghavi lack the article number-page as well. For the HITRAN2016 paper, please list all authors or shorten with et al.

[2022-11-30 21:46] rkurchin commented on #4963
@SuperKam91, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-30 21:52] cfranken commented on #4575
@editorialbot generate pdf

[2022-11-30 21:52] cfranken commented on #4575
The HITRAN authors were all listed in the BIB file, we can't control the style for the pdf generation I suppose.

[2022-11-30 21:57] jdasm commented on #4862
Hi @ziatdinovmax , thank you for taking the time to review the paper. I have provided download links for these 4 files below, they are not present within the repository due to their size (600MB - 3GB, except for the rrng file). The "GBCO" file is a bit of a generic name for the material system from which the data is generated, but in most cases it should refer to the particular dataset listed belo

[2022-11-30 22:06] Kevin-Mattheus-Moerman commented on #4910
@editorialbot set v0.0.5 as version

[2022-11-30 22:14] Kevin-Mattheus-Moerman commented on #4910
@milnus as the AEiC of this track I am here to help process this submission for acceptance. I have just inspected the repository, the archive, this review, and reviewed the paper and all seems in order. I will now proceed to accept this submission.

[2022-11-30 22:14] Kevin-Mattheus-Moerman commented on #4910
@editorialbot accept

[2022-11-30 22:15] Kevin-Mattheus-Moerman commented on #4910
@milnus Congratulations on this publiction in JOSS!

@csoneson thanks for editing this submission!

Special thanks also to @iferres and @asafpr for their review efforts!!!!!

[2022-11-30 22:25] Kevin-Mattheus-Moerman commented on #4881
@WPettersson I am the AEiC of this track and here to help process this work for acceptance. Can you clarify what you mean by:

If there is an update needed to a citation/DOI please do so now before we proceed. I also have one minor comment, see below:

- [ ] In your affiliation, please write `United Kingdom` instead of `UK`.

[2022-11-30 22:33] editorialbot opened #4983 "[PRE REVIEW]: gemlog: Data Conversion for the Open-Source Gem Infrasound Logger"
**Submitting author:** @ajakef (<a href="http://orcid.org/0000-0001-6447-6778">Jacob Anderson</a>)
**Repository:** https://github.com/ajakef/gemlog
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.6.6
**Editor:** @bmcfee
**Reviewers:** @thelenwes, @hemmelig
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/56051d4674913c170373d37f05558dc3

[2022-11-30 22:34] editorialbot opened #4984 "[PRE REVIEW]: SubZero: a Discrete element sea ice model that simulates floes as evolving concave polygons"
**Submitting author:** @bpm5026 (<a href="http://orcid.org/0000-0003-1946-4916">Brandon Montemuro</a>)
**Repository:** https://github.com/SeaIce-Math/SubZero
**Branch with paper.md** (empty if default branch): JOSS
**Version:** v1.0.2
**Editor:** @hugoledoux
**Reviewers:** @ZijieZhaoMMHW, @zhaohuiwang-imas
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/264a339

[2022-11-30 22:35] Kevin-Mattheus-Moerman commented on #4817
@ireaml I am the AEiC for this track, and here to help process this work for acceptance in JOSS. I checked your repository, the paper, and the archive and all seems in order. I have only some minor points on the paper which I hope you can address:

- [ ] Please spell out `UK` as `United Kingdom` for all affiliations
- [ ] You may remove street names and postal codes for all affiliations, simply ha

[2022-11-30 22:36] #4910 closed

[2022-11-30 22:42] rbturnbull commented on #4879
Hi @tresoldi - I've been reading papers on correcting for ascertainment bias and looking through implementations in phylogenetic software programs. I now think that it is actually out of scope for the teiphy tool because there are different ways of doing it that are bound up with the phylogenetic method that you are using. I think it's best for teiphy to just convert the TEI XML data and represent

[2022-11-30 22:45] kthyng commented on #4983
Hi @ajakef and thanks for your submission! Unfortunately we have a backlog of submissions at the moment, so I need to add this to a waitlist to wait for availability in a relevant editor. Thank you for your patience.

[2022-11-30 22:47] kthyng commented on #4984
Hi @bpm5026 and thanks for your submission. Did you perhaps give the wrong address for the JOSS paper? The system is having trouble finding it.

[2022-11-30 22:49] WPettersson commented on #4881
I've pushed two commits, one to updated the affiliation, and a second that changes the citation to one from a journal with a DOI. The short version is the cited paper has two possible citations; the first of these does not have a DOI and I did not realise it was also accepted a second time.

[2022-11-30 22:54] editorialbot opened #4985 "[PRE REVIEW]: Pyra: Automated EM27/SUN Greenhouse Gas Measurement Software"
**Submitting author:** @patrickjaigner (<a href="http://orcid.org/0000-0002-1530-415X">Patrick Aigner</a>)
**Repository:** https://github.com/tum-esm/pyra
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** 4.0.6
**Editor:** @AoifeHughes
**Reviewers:** @nmstreethran, @arthur-e
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/d47b5197

[2022-11-30 22:57] bpm5026 commented on #4984
I Kristen,

Sorry, I had forgotten to make the repo public. I have switched that
setting now, so let me know if that fixes the problem.

Thanks,
Brandon

On Wed, Nov 30, 2022 at 2:47 PM Kristen Thyng ***@***.***>
wrote:

[2022-11-30 22:58] kthyng commented on #4984
@editorialbot generate pdf

[2022-11-30 23:08] kthyng commented on #4984
Thanks @bpm5026, though [we require](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) the paper to be in the same repository as the software:

Could you move the paper to the software repo?

[2022-11-30 23:14] kthyng commented on #4985
Hi @patrickjaigner and thanks for your submission! Unfortunately our relevant editors are full currently, so I will need to add this to our waitlist. Thank you for your patience.

[2022-11-30 23:25] tresoldi commented on #4879
Hi @rbturnbull . The short answer is that yes, I am happy with it.

Longer answer. I was considering the issue this afternoon, and you are right that different models and tools (besides research decisions) would require different approaches for ascertainment bias (even more considering how correction has been used mostly for better dating in biology/linguistics, which works differently for textual

[2022-11-30 23:32] cfranken commented on #4575
ok, found one more missing journal name, will fix

[2022-11-30 23:32] cfranken commented on #4575
@editorialbot generate pdf

[2022-11-30 23:42] bpm5026 commented on #4984
Hi Kristen,

Sorry about the mixup. I have included the new branch I created off the
software with everything in it below. I just tested it, and the paper looks
to have been compiled. Let me know if sending you the branch here is okay
or if I need to resubmit with the new link.

https://github.com/SeaIce-Math/SubZero/tree/JOSS

Thanks,
Brandon

On Wed, Nov 30, 2022 at 3:08 PM Kristen Thyng ***@***