[2018-07-09 22:01] whedon commented on #817
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-09 22:01] whedon commented on #817
[code]

[2018-07-09 22:01] arfon commented on #817
:wave: @danielskatz - the submitting author suggested you as the handling editor.

[2018-07-09 22:01] whedon commented on #817
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00817/joss.00817/10.21105.joss.00817.pdf)

[2018-07-09 23:39] kyleniemeyer commented on #809
@tbekolay thank you! The version mismatch is fine, we recognize the software will change after submission (but hopefully not substantially).

Yes, we do ask that you fill out the checklist—that, plus the resolution of any issues you may bring up, is how we determine that our acceptance criteria is met. There aren't any additional criteria, though any suggestions/comments on the paper itself (or an

[2018-07-10 05:39] danielskatz commented on #817
@whedon assign @danielskatz as editor

[2018-07-10 05:39] whedon commented on #817
OK, the editor is @danielskatz

[2018-07-10 05:41] danielskatz commented on #817
@palash1992
1. Can you clean up the references in your paper?  A bunch need DOIs, and have case problems, eg ACM as Acm.
1. Can you suggest any reviewers?  [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission, or you may have other suggestions for people from the field of your work.

[2018-07-10 06:15] danielskatz commented on #807
The potential reviewers don't have to be from the list of reviewers - you can give me suggestions of others as well.  For example, if you were submitting a paper on this to a conference, who would you want to review it?

[2018-07-10 06:34] strengejacke commented on #814
I hope to finish the last parts of my review today, as I'm on holiday tomorrow and be back after 29th of July.

[2018-07-10 13:46] arfon commented on #794
@kyleniemeyer - would you be willing to be a second reviewer.

[2018-07-10 13:48] arfon commented on #794
@whedon assign @highlando as reviewer

[2018-07-10 13:48] whedon commented on #794
OK, the reviewer is @highlando

[2018-07-10 14:52] trallard commented on #742
@Kevin-Mattheus-Moerman do you still need reviewers for this? I am slowly easing back into work after my leave so I could pick this up if needed be

[2018-07-10 15:29] marcoalopez commented on #811
@whedon generate pdf

[2018-07-10 15:29] whedon commented on #811
[code]

[2018-07-10 15:29] whedon commented on #811
PDF failed to compile for issue #811 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/811/paper.md): mapping values are not allowed in this context at line 2 column 22 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/vendor/rub

[2018-07-10 15:38] arfon commented on #811
@marcoalopez - I think you need to quote your title, i.e. change:

[code]

[2018-07-10 15:45] marcoalopez commented on #811
@arfon I already fixed the whitespace and the title issues in my repository. I'm not sure how to proceed now or if this is the right thing to do.

[2018-07-10 15:56] lheagy commented on #811
Thanks @marcoalopez we can try rebuilding the pdf to make sure it is now working.

[2018-07-10 15:56] lheagy commented on #811
@whedon generate pdf

[2018-07-10 15:57] hamedmx commented on #816
@whedon commands

[2018-07-10 15:57] whedon commented on #811
[code]

[2018-07-10 15:57] whedon commented on #816
Here are some things you can ask me to do:

[code]

[2018-07-10 15:57] whedon commented on #811
PDF failed to compile for issue #811 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/811/paper.md): could not find expected ':' while scanning a simple key at line 18 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'
	from /app/v

[2018-07-10 15:57] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 15:57] whedon commented on #816
PDF failed to compile for issue #816 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/

[2018-07-10 15:58] arfon commented on #811
Looks like you need to change:

[code]

to:

[code]

[2018-07-10 16:09] palash1992 commented on #817
@danielskatz

   1. I have cleaned up the references and modified the paper.bib file in
   Github. I added the missing DOIs (except 1 for which I could not find it).
   The problem about case you mentioned "Acm" is not in the bib but in the
   compiled PDF. I am not sure why that is the case. We can see if the problem
   persists and modify accordingly.
   2. Here are the reviewers who would be su

[2018-07-10 16:13] marcoalopez commented on #811
@arfon @lheagy Ok I've already fixed it. It seems that the software I use to edit the markdown document cut that long line. I'm sorry for all the inconvenience I've created. I hope it's fixed! Thank you very much for your help.

[2018-07-10 16:14] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 16:14] whedon commented on #816
[code]

[2018-07-10 16:14] whedon commented on #816
PDF failed to compile for issue #816 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    227      0 --:--:-- --:--:-- --:--:--   226
100    12    0

[2018-07-10 16:15] arfon commented on #811
@whedon generate pdf

[2018-07-10 16:15] whedon commented on #811
[code]

[2018-07-10 16:15] whedon commented on #811
PDF failed to compile for issue #811 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    153      0 --:--:-- --:--:-- --:--:--   155
Error reading bibl

[2018-07-10 16:16] arfon commented on #811
@marcoalopez - looks like you're missing a comma here: https://github.com/marcoalopez/GrainSizeTools/blob/master/paper.bib#L42

[2018-07-10 16:19] hamedmx commented on #816
Hello @arfon and @jasonclark , first of all thank you for your guidance. well, it seems to have some problems to compile my paper.md file i guess and i could not find them to resolve. please help me in compile process.

[2018-07-10 16:23] marcoalopez commented on #811
@arfon fixed the missing comma. Again, thanks for your patience.

[2018-07-10 16:28] whedon commented on #811
PDF failed to compile for issue #811 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    155      0 --:--:-- --:--:-- --:--:--   157
Error reading bibl

[2018-07-10 16:29] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 16:30] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 16:32] arfon commented on #811
@marcoalopez - looks like Pandoc can't handle bibtex keys with spaces in them (e.g. `Lopez-Sanchez and Llana-Funez:2015`).

[2018-07-10 16:42] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 16:42] whedon commented on #816
[code]

[2018-07-10 16:43] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 16:45] arfon commented on #816
We're just using standard Pandoc/Markdown here: https://pandoc.org/README.pdf

Looks like the document is compiling now :-)

[2018-07-10 17:21] CorySimon commented on #787
hi @vyasr,

Very nice, professional, and well-documented Python package!

Coincidentally, I recently implemented a rotation Monte Carlo move for molecules in my code and was looking into quaternions, but went with the method in "Fast Random Rotation Matrices" [here](https://pdfs.semanticscholar.org/04f3/beeee1ce89b9adf17a6fabde1221a328dbad.pdf). I'm curious about the ad-/dis-advantages of using qu

[2018-07-10 17:29] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 17:29] whedon commented on #816
[code]

[2018-07-10 17:30] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 17:39] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 17:39] whedon commented on #816
[code]

[2018-07-10 17:40] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 17:46] hamedmx commented on #816
@whedon  generate pdf

[2018-07-10 17:50] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 17:50] whedon commented on #816
[code]

[2018-07-10 17:51] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 17:56] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 17:56] whedon commented on #816
[code]

[2018-07-10 17:57] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 18:22] kyleniemeyer commented on #794
@arfon I can't really for at least another week (CAREER proposal due...)

[2018-07-10 18:29] arfon commented on #794
NP. I'm happy to wait for a couple of weeks :-)

[2018-07-10 19:28] whedon commented on #811
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00811/joss.00811/10.21105.joss.00811.pdf)

[2018-07-10 19:42] marcoalopez commented on #811
@whedon generate pdf

[2018-07-10 19:42] whedon commented on #811
[code]

[2018-07-10 19:43] whedon commented on #811
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00811/joss.00811/10.21105.joss.00811.pdf)

[2018-07-10 19:46] marcoalopez commented on #811
@arfon @lheagy it seems that everything is ok now.

[2018-07-10 20:08] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 20:08] whedon commented on #816
[code]

[2018-07-10 20:09] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 20:43] lheagy commented on #811
Thanks @marcoalopez.  I have taken a quick look at GrainSizeTools and want to raise a couple things before we get started on the review. The package layout does not follow standard python packaging practices (see for example: https://packaging.python.org/tutorials/packaging-projects/).
[code]

This would allow more flexible use - for example if a user wants to install your package through pypi and

[2018-07-10 20:50] Kevin-Mattheus-Moerman commented on #742
@trallard thanks. I think we can get started. If I manage to find more reviewers they can join later.

[2018-07-10 20:51] Kevin-Mattheus-Moerman commented on #742
@whedon start review

[2018-07-10 20:51] whedon opened #818 "[REVIEW]: skijumpdesign: A Ski Jump Design Tool for Specified Equivalent Fall Height"
**Submitting author:** @moorepants (<a href="http://orcid.org/0000-0002-8698-6143">Jason K. Moore</a>)
**Repository:** <a href="https://gitlab.com/moorepants/skijumpdesign" target ="_blank">https://gitlab.com/moorepants/skijumpdesign</a>
**Version:** v1.2.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @trallard
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.6981647.v1" target="_bla

[2018-07-10 20:51] whedon commented on #742
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/818. Feel free to close this issue now!

[2018-07-10 20:51] whedon commented on #818
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @trallard it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-07-10 20:51] whedon commented on #818
[code]

[2018-07-10 20:51] #742 closed

[2018-07-10 20:51] whedon commented on #818
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00818/joss.00818/10.21105.joss.00818.pdf)

[2018-07-10 20:54] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 20:54] whedon commented on #816
[code]

[2018-07-10 20:55] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 20:55] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 20:55] whedon commented on #816
[code]

[2018-07-10 20:56] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 21:02] hamedmx commented on #816
@whedon generate pdf

[2018-07-10 21:02] whedon commented on #816
[code]

[2018-07-10 21:03] whedon commented on #816
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00816/joss.00816/10.21105.joss.00816.pdf)

[2018-07-10 21:30] hamedmx commented on #816
I would like to mention @xirdneh as my suggestion to review this submission.

[2018-07-10 21:31] hamedmx commented on #816
@whedon commands

[2018-07-10 21:31] whedon commented on #816
Here are some things you can ask me to do:

[code]

[2018-07-10 21:31] arfon commented on #816
@hamedmx - first we need to hear back from @jasonclark as to whether he is willing to edit this submission, then we need to identify reviewers, then we can start the actual review.

[2018-07-10 21:36] hamedmx commented on #816
Thank you very much @arfon . I look forward to your response...

[2018-07-10 23:03] jedbrown commented on #777
@whedon assign @dalcinl as reviewer

[2018-07-10 23:03] whedon commented on #777
OK, the reviewer is @dalcinl

[2018-07-10 23:04] jedbrown commented on #777
@whedon add @sunqm as reviewer

[2018-07-10 23:04] whedon commented on #777
OK, @sunqm is now a reviewer

[2018-07-10 23:05] jedbrown commented on #777
@whedon start review

[2018-07-10 23:05] whedon opened #819 "[REVIEW]: quimb: a python library for quantum information and many-body calculations"
**Submitting author:** @jcmgray (<a href="http://orcid.org/0000-0001-9461-3024">Johnnie Gray</a>)
**Repository:** <a href="https://github.com/jcmgray/quimb" target ="_blank">https://github.com/jcmgray/quimb</a>
**Version:** 0.4.2
**Editor:** @jedbrown
**Reviewer:** @dalcinl, @sunqm
**Archive:** <a href="https://doi.org/10.5281/zenodo.1408690" target="_blank">10.5281/zenodo.1408690</a>

## Status

[2018-07-10 23:05] whedon commented on #777
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/819. Feel free to close this issue now!

[2018-07-10 23:05] whedon commented on #819
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @dalcinl, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-07-10 23:05] whedon commented on #819
[code]

[2018-07-10 23:05] #777 closed

[2018-07-10 23:05] whedon commented on #819
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00819/joss.00819/10.21105.joss.00819.pdf)

[2018-07-11 07:32] MarionLegrandLogrami commented on #791
Dear ​Steffi LaZerte,

First of all, Cédric Briand and I wanted to warmly thank you for the time you spent to test our package. We found your remarks really useful and some will allow us to improve it​​.
I will take your remarks/questions one by one and in the order of your message to try to answer as best as possible.

**1. Lack of documentation**
Indeed, the documentation of the R package does n

[2018-07-11 07:32] MarionLegrandLogrami commented on #791
@whedon generate pdf

[2018-07-11 07:33] whedon commented on #791
[code]

[2018-07-11 07:33] whedon commented on #791
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00791/joss.00791/10.21105.joss.00791.pdf)

[2018-07-11 07:51] marcoalopez commented on #811
Hello @lheagy. I was unaware of standard Python packaging practices. My intention is to follow standard Python practices, so I want to follow these guidelines. So for me is ok if you start an issue indicating this.

All the best, Marco

[2018-07-11 09:19] dvalters commented on #755
Hi @loftytopping  - sorry busy couple of weeks here too! I'm intending to make time to finish the review this week.

[2018-07-11 12:53] leeper commented on #796
@strengejacke Would you be willing to review this for JOSS?

[2018-07-11 12:54] leeper commented on #623
@zedtaha Just wanted to check in. Are you still planning to make revisions for this?

[2018-07-11 12:54] leeper commented on #722
@mrecos Just wanted to check in. Are you still planning to make revisions for this?

[2018-07-11 12:55] leeper commented on #746
@kdpeterson51 I see you've started adding tests. Let me know when you feel the package is ready for me to take another, more thorough look. Thanks!

[2018-07-11 12:58] leeper commented on #768
@khaors Would you be willing to review this software for JOSS?

[2018-07-11 13:06] lucydot commented on #797
Thank you @ajjackson and @mkhorton for your suggestions.

### Overlap with other packages
I've added a `Related packages` section to the [paper.md](https://github.com/lucydot/effmass/blob/master/paper.md). This has also been added as a [new page in RTD](https://effmass.readthedocs.io/en/latest/Related%20packages.html), and a link to this page has been added to the [README](https://github.com/lucyd

[2018-07-11 13:19] katyhuff commented on #724
Hi @bjmorgan @jochym @yxqd , are you interested in reviewing this JOSS paper? It seems to me you would be excellent reviewers for this submission. Are you willing to be assigned to review this software paper submission concerning pysrim: Automation, Analysis, and Plotting of SRIM Calculations? We'll need at least two volunteers, but the more the merrier. Information about being a reviewer can be f

[2018-07-11 13:32] katyhuff commented on #676
Hi Folks, I'm sorry for the delay here. It took some time and exploration to determine whether there is really a fit concern for JOSS. @nnadeau , I thank you for your detailed and careful review. I understand your concern about this potentially being a minor utility rather than a tool enabling new research. However, after investigating a bit, I personally evaluate the work more generously. While i

[2018-07-11 13:58] arfon commented on #794
Yep, was hoping to hear back from Kyle that he was OK with this but let's assume he is and I'm sure he'll let us know if not 😬

[2018-07-11 13:58] arfon commented on #794
@whedon add @kyleniemeyer as reviewer

[2018-07-11 13:58] whedon commented on #794
OK, @kyleniemeyer is now a reviewer

[2018-07-11 13:58] arfon commented on #794
@whedon start review

[2018-07-11 13:58] whedon opened #820 "[REVIEW]: WEdiff: A Python and C++ package for automatic differentiation"
**Submitting author:** @ctdegroot (<a href="http://orcid.org/0000-0002-2069-8253">Christopher DeGroot</a>)
**Repository:** <a href="https://bitbucket.org/cdegroot/wediff" target ="_blank">https://bitbucket.org/cdegroot/wediff</a>
**Version:** N/A
**Editor:** @arfon
**Reviewer:** @highlando, @kyleniemeyer
**Archive:** <a href="https://doi.org/10.5281/zenodo.1495614" target="_blank">10.5281/zenodo.1

[2018-07-11 13:58] whedon commented on #794
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/820. Feel free to close this issue now!

[2018-07-11 13:58] whedon commented on #820
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @highlando, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-07-11 13:58] whedon commented on #820
[code]

[2018-07-11 13:59] arfon commented on #794
@ctdegroot @highlando @kyleniemeyer - see you all over in #820 for the actual review.

[2018-07-11 13:59] #794 closed

[2018-07-11 13:59] whedon commented on #820
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00820/joss.00820/10.21105.joss.00820.pdf)

[2018-07-11 16:07] strengejacke commented on #796
I'm on holiday until July 29th, if it's ok when I start the review after my return I'd be willing to review the submission.

[2018-07-11 17:02] ajjackson commented on #717
@jarvist are the tests working for you when they are run from the source folder? In the README we say "the unittests can be run (from the root directory of the project) ..."

The Travis logs show the process followed there, which simply clones the repo https://travis-ci.org/SMTG-UCL/sumo/jobs/402148229

[2018-07-11 22:53] khaors commented on #768
@leeper Yes, that sounds great. Please open up the review to start the process.

[2018-07-12 04:20] astorfi commented on #749
@arfon  I guess @kczimm  is not available as well

[2018-07-12 04:35] astorfi commented on #749
@whedon generate pdf

[2018-07-12 04:35] whedon commented on #749
[code]

[2018-07-12 04:35] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-07-12 04:38] astorfi commented on #749
@whedon commands

[2018-07-12 04:38] whedon commented on #749
Here are some things you can ask me to do:

[code]

[2018-07-12 04:38] mrecos commented on #722
Hello @leeper , yes I am. My apologies. I will work on it this coming week.

[2018-07-12 04:38] astorfi commented on #749
@whedon list reviewers

[2018-07-12 04:38] whedon commented on #749
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-07-12 07:15] loftytopping commented on #755
Hi guys. No problem, I appreciate it can get a little crazy post academic seasons. Its been the same for me. Though on recent travels Ive met a few people who are already using PyBox which has been nice.

[2018-07-12 07:37] jarvist commented on #717
I'm travelling this week, so haven't had the opportunity to re-install a 'developer' version + try the tests from there.

It seems a bit strange that the tests ran partially. They seemed to be failing either because the datasets were not downloading(?) (permissions in the pip folder?), or that a python dependency on BZip2/Gzip was not present (assumed present but not specified in the package?).

[2018-07-12 08:12] ajjackson commented on #717
Looking at the traceback more carefully, I don't think the tests you found are anything to do with Sumo. Sumo does not install tests to lib, and most of the messages refer to something called "monty"?

[2018-07-12 08:22] leeper commented on #768
@whedon assign @khaors as reviewer

[2018-07-12 08:22] whedon commented on #768
OK, the reviewer is @khaors

[2018-07-12 08:22] leeper commented on #768
@whedon start review

[2018-07-12 08:22] whedon opened #821 "[REVIEW]: heatwaveR: A central algorithm for the detection of heatwaves and cold-spells"
**Submitting author:** @robwschlegel (<a href="http://orcid.org/0000-0002-0705-1287">Robert Schlegel</a>)
**Repository:** <a href="https://github.com/robwschlegel/heatwaveR" target ="_blank">https://github.com/robwschlegel/heatwaveR</a>
**Version:** 0.2.7
**Editor:** @leeper
**Reviewer:** @khaors
**Archive:** <a href="https://doi.org/10.5281/zenodo.1324309" target="_blank">10.5281/zenodo.1324309</

[2018-07-12 08:22] whedon commented on #768
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/821. Feel free to close this issue now!

[2018-07-12 08:22] whedon commented on #821
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @khaors it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-07-12 08:22] whedon commented on #821
[code]

[2018-07-12 08:23] #768 closed

[2018-07-12 08:23] whedon commented on #821
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00821/joss.00821/10.21105.joss.00821.pdf)

[2018-07-12 09:56] leeper commented on #821
@khaors The review checklist is available here. Let me know if you have questions.

[2018-07-12 14:09] kczimm commented on #749
I'm sorry I'm just seeing this. I don't know the required timeline but I can finish a review of this package over the weekend.

[2018-07-12 14:19] flor14 commented on #785
If there is something unclear in the submission I can improve it

[2018-07-12 14:37] arfon commented on #749
@kczimm - great, thanks! Please go ahead and carry out the review in this thread. The timeline you propose would be perfect.

[2018-07-12 14:55] astorfi commented on #749
Dear @arfon  and @kczimm ,
Thank you both very much.

[2018-07-12 15:15] vyasr commented on #787
Thanks for the comments! I'm currently at SciPy, so I don't have too much bandwidth this week, but I will respond as soon as possible.

[2018-07-12 17:53] arfon commented on #785
@flor14 the multiple affiliations need quoting. i.e. change this:

[code]

to this in your `paper.md`

[code]

[2018-07-12 18:01] flor14 commented on #785
done!

El jue., 12 jul. 2018 a las 14:53, Arfon Smith (<notifications@github.com>)
escribió:

[2018-07-12 19:07] Benjamin-Lee commented on #769
Any motion on this?

[2018-07-12 19:25] arfon commented on #785
@whedon generate pdf

[2018-07-12 19:25] whedon commented on #785
[code]

[2018-07-13 02:57] kdpeterson51 commented on #746
@leeper @kellieotto we have added more comprehensive unit tests and would like your feedback on the matter. Thank you for all that you do.

[2018-07-13 03:21] whedon opened #822 "[PRE REVIEW]: pfla: A Python Package for Dental Facial Analysis using Computer Vision and Statistical Shape Analysis"
**Submitting author:** @maxrousseau (<a href="http://orcid.org/0000-0002-1417-2511">Maxime Rousseau</a>)
**Repository:** <a href="https://github.com/maxrousseau/pfla" target ="_blank">https://github.com/maxrousseau/pfla</a>
**Version:** v0.1.4
**Editor:** @arokem
**Reviewers:** @glemaitre, @mnarayan

**Author instructions**

Thanks for submitting your paper to JOSS @maxrousseau. The JOSS editor (s

[2018-07-13 03:21] whedon commented on #822
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-13 03:21] whedon commented on #822
[code]

[2018-07-13 03:21] whedon opened #823 "[PRE REVIEW]: sdmbench: An R Package for Benchmarking Species Distribution Models"
**Submitting author:** @boyanangelov (<a href="http://orcid.org/0000-0001-5068-4234">Boyan Angelov</a>)
**Repository:** <a href="https://github.com/boyanangelov/sdmbench" target ="_blank">https://github.com/boyanangelov/sdmbench</a>
**Version:** v0.1.2
**Editor:** @karthik
**Reviewers:** @sckott, @goldingn

**Author instructions**

Thanks for submitting your paper to JOSS @boyanangelov. The JOSS e

[2018-07-13 03:21] whedon commented on #823
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-13 03:21] whedon commented on #823
[code]

[2018-07-13 03:21] whedon commented on #822
PDF failed to compile for issue #822 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/processor.

[2018-07-13 03:21] whedon commented on #823
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00823/joss.00823/10.21105.joss.00823.pdf)

[2018-07-13 03:21] arfon commented on #823
👋 @karthik - the submitting author suggested you as the handling editor.

[2018-07-13 07:43] leeper commented on #746
Thanks, @kdpeterson51. @kellieotto can you take a final look?

[2018-07-13 12:48] maxrousseau commented on #822
@whedon commands

[2018-07-13 12:48] whedon commented on #822
Here are some things you can ask me to do:

[code]

[2018-07-13 12:50] maxrousseau commented on #822
@whedon generate pdf

[2018-07-13 12:50] whedon commented on #822
[code]

[2018-07-13 12:51] whedon commented on #822
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00822/joss.00822/10.21105.joss.00822.pdf)

[2018-07-13 12:56] maxrousseau commented on #822
@whedon list editors

[2018-07-13 12:56] whedon commented on #822
Current editors:

[code]

[2018-07-13 13:00] maxrousseau commented on #822
@whedon list reviewers

[2018-07-13 13:00] whedon commented on #822
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-07-13 13:21] flor14 commented on #785
Great.

Only one thing:
The citation that says "Plan protection Products" is not correct, I have
changed the bib file in order to modify that

Sorry about that and thank you

El jue., 12 jul. 2018 a las 16:25, whedon (<notifications@github.com>)
escribió:

[2018-07-13 16:11] whedon opened #824 "[PRE REVIEW]: REQ: assessing branch supports of a distance-based phylogenetic tree with the rate of elementary quartets"
**Submitting author:** @alex2cris (<a href="http://orcid.org/0000-0002-8212-5215">alexis criscuolo</a>)
**Repository:** <a href="https://gitlab.pasteur.fr/GIPhy/REQ" target ="_blank">https://gitlab.pasteur.fr/GIPhy/REQ</a>
**Version:** v1.2.180713ac
**Editor:** @jedbrown
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @alex2cris. The JOSS editor (shown at t

[2018-07-13 16:11] whedon commented on #824
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jedbrown it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-13 16:11] whedon commented on #824
[code]

[2018-07-13 16:12] whedon commented on #824
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00824/joss.00824/10.21105.joss.00824.pdf)

[2018-07-13 16:12] arfon commented on #824
👋 @jedbrown - the submitting author suggested you as the handling editor.

[2018-07-13 18:16] vyasr commented on #787
@whedon generate pdf

[2018-07-13 18:16] whedon commented on #787
[code]

[2018-07-13 18:16] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-13 18:53] katyhuff commented on #797
Thank you @lucydot . It looks like you've addressed the reviewer comments. Let's see if they can recommend publication.

@mkhorton & @ajjackson : Thank you for your reviews. Do you have any remaining comments? Are you ready to make a final recommendation for acceptance based on this response, or would you like more time to explore the package?

[2018-07-13 19:00] ygrange commented on #809
Ok, I finally got around to have a look at this. I'll try to submit some comments half-way next week.

[2018-07-13 19:02] mkhorton commented on #797
I've updated my checklist. Ideally, I'd like some further time to play with this to check off the remaining items, but I'm happy to defer to the other referees if they're happy to accept now -- it certainly seems like a very nicely structured package and will be a valuable addition to the community.

[2018-07-13 19:29] katyhuff commented on #797
Thanks @mkhorton . Feel free to explore a bit more. I'll check back in next week.

[2018-07-13 20:13] sepandhaghighi commented on #676
@katyhuff Thanks for your time.

Reviewed software  DOI : 10.5281/zenodo.1311905

[2018-07-14 14:12] ajjackson commented on #797
I have worked through the Jupyter tutorial and was able to follow it and reproduce the plots without any trouble. It gives an applied overview of features; the comparison with DOS filling is a nice touch.

- [Issue raised](https://github.com/lucydot/effmass/issues/4) over broken link to data
- I can reproduce step [5] fine but it's not clear how it should be interpreted. The docstring says _"Plots

[2018-07-14 15:03] katyhuff commented on #588
Whoops --- I only just now saw this. Yes, I think so.

[2018-07-15 08:20] drvinceknight commented on #761
Dear editors,

I would like to un-"withdraw" this paper, please let me know if it's simpler if I were to resubmit it perhaps?

This follows a discussion at JOSE https://github.com/openjournals/jose-reviews/issues/18 were I believe it has become clear that a paper about this software library is not within the scope of JOSE.

I apologise for the confusion/mistake.

@labarba regarding your queries pr

[2018-07-15 17:56] jankatins commented on #814
I currently can't get output in neither jupyter notebook nor in Rstudio. I opened https://github.com/JohnCoene/sigmajs/issues/6 to track the issue.

[2018-07-15 18:59] zfrenchee commented on #747
@arfon @terrytangyuan
I've done the refactoring. I believe it will now be possible to use this tool on other sites.
I probably still should add docs about how to do that. Besides that, what else needs doing? What is the way forwards? Should I add the docs and then we do another round of review?

[2018-07-15 20:46] danielskatz commented on #817
@palash1992 The Bib issues can be fixed by putting {}s around letters/words that should be kept in the case that they are.  Otherwise, the paper generation process may change them to what it thinks it correct.

[2018-07-15 20:47] danielskatz commented on #817
👋  @jankatins, @gabrielspadon, @adebytes, @paulgovan
I'm looking for 2 reviewers for this submission - would you be interested/willing to be one of them?

[2018-07-15 20:51] danielskatz commented on #711
👋 @lkosmid - Just checking to see if you are back...

[2018-07-15 21:51] jedbrown commented on #712
@whedon assign @jedbrown as editor

[2018-07-15 21:51] whedon commented on #712
OK, the editor is @jedbrown

[2018-07-15 23:05] zfrenchee commented on #747
@arfon @terrytangyuan
I've written some docs: https://github.com/zfrenchee/NN-SVG/wiki/NN-SVG-API
I believe it makes sense to update the paper slightly, but I also think I'm ready for the next round of review, unless I'm forgetting something?

[2018-07-16 02:11] jedbrown commented on #712
@whedon add @mdoucet as reviewer
@whedon add @gonsie as reviewer
@whedon add @ecotillasanchez as reviewer

[2018-07-16 02:11] whedon commented on #712
OK, @mdoucet is now a reviewer

[2018-07-16 02:12] jedbrown commented on #712
@whedon add @gonsie as reviewer

[2018-07-16 02:12] whedon commented on #712
OK, @gonsie is now a reviewer

[2018-07-16 02:12] jedbrown commented on #712
@whedon add @ecotillasanchez as reviewer

[2018-07-16 02:12] whedon commented on #712
OK, @ecotillasanchez is now a reviewer

[2018-07-16 02:13] jedbrown commented on #712
@whedon start review

[2018-07-16 02:13] whedon opened #825 "[REVIEW]: Calliope: a multi-scale energy systems modelling framework"
**Submitting author:** @sjpfenninger (<a href="http://orcid.org/0000-0002-8420-9498">Stefan Pfenninger</a>)
**Repository:** <a href="https://github.com/calliope-project/calliope" target ="_blank">https://github.com/calliope-project/calliope</a>
**Version:** v0.6.2
**Editor:** @jedbrown
**Reviewer:** @mdoucet, @gonsie, @ecotillasanchez
**Archive:** <a href="https://doi.org/10.5281/zenodo.1262406" t

[2018-07-16 02:13] whedon commented on #712
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/825. Feel free to close this issue now!

[2018-07-16 02:13] whedon commented on #825
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @mdoucet, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-07-16 02:13] whedon commented on #825
[code]

[2018-07-16 02:13] whedon commented on #825
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00825/joss.00825/10.21105.joss.00825.pdf)

[2018-07-16 04:34] kczimm commented on #749
I see the automated tests in the tests directory, however the coverage is minimal, as was previously mentioned. Although I wouldn't say more is required for recommendation, I strongly urge increasing the test coverage.

[2018-07-16 05:05] astorfi commented on #749
@kczimm  Thank you for your suggestions.

About the first one:
[test_package.py](https://github.com/astorfi/speechpy/blob/master/example/test_package.py) is designed to exactly perform the job of [test_local.py](https://github.com/astorfi/speechpy/blob/master/example/test_local.py). [test_package.py](https://github.com/astorfi/speechpy/blob/master/example/test_package.py) file also requires **a pi

[2018-07-16 05:10] astorfi commented on #749
@kczimm  About the tests, you are absolutely correct. However, as the package is currently a feature extractor, it is not trivial to add tests for accuracy tests. I tried to add tests as I make sure the package can be tested for minimal run requirements. It also tests the outputs to be in the correct format.

[2018-07-16 07:55] ledius commented on #724
Hi
Do you still need a reviewer? I am available and can do the review.

[2018-07-16 09:12] pjotrp commented on #779
Hi @peterjc, are you in a position to review? Or should we appoint someone else?

[2018-07-16 09:13] pjotrp commented on #698
ping @alexgarciac

[2018-07-16 09:14] pjotrp commented on #583
Sorry about the delay. This is on my list now.

[2018-07-16 09:29] serine commented on #583
great, thanks. 1.5.2 is out now by the way

On Mon, 16 Jul 2018, 19:14 Pjotr Prins <notifications@github.com> wrote:

[2018-07-16 09:48] pjotrp commented on #822
This is more of an AI thing - which editor do we have specialized in this direction?

[2018-07-16 11:40] alex2cris commented on #824
Dear @afrubin and @jedbrown
Thank you for considering my manuscript.
However, after a first look at the automatically generated pdf article proof, it seems that the file paper.bib was incorrectly formatted. I have therefore edited both files paper.md and paper.bib accordingly. They are now available from the GitLab repository of REQ.
Finally, please note that the Markdown code *O*(*n*<sup>5</sup>)

[2018-07-16 11:44] alex2cris commented on #824
@whedon commands

[2018-07-16 11:44] whedon commented on #824
Here are some things you can ask me to do:

[code]

[2018-07-16 11:55] alex2cris commented on #824
@whedon generate pdf

[2018-07-16 11:55] whedon commented on #824
[code]

[2018-07-16 11:56] whedon commented on #824
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00824/joss.00824/10.21105.joss.00824.pdf)

[2018-07-16 12:05] khaors commented on #821
@leeper In the Installation Instructions, the list of dependencies should be clearly stated. Is this referring  to the README file in addition to the DESCRIPTION file?

[2018-07-16 12:36] alex2cris commented on #824
@whedon generate pdf

[2018-07-16 12:36] whedon commented on #824
[code]

[2018-07-16 12:36] whedon commented on #824
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00824/joss.00824/10.21105.joss.00824.pdf)

[2018-07-16 13:06] katyhuff commented on #724
Hi @ledius -- yes -- that would be great! Thank you. I'd like to get one more reviewer before we start the review.

[2018-07-16 13:07] katyhuff commented on #724
@whedon assign @ledius as reviewer

[2018-07-16 13:07] whedon commented on #724
OK, the reviewer is @ledius

[2018-07-16 13:44] jedbrown commented on #824
@alex2cris You would use LaTeX-style math mode `$O(n^5)$`.

I am concerned in looking at the repository that this might be a "utility package" in the sense of https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements. It is about 100 lines of code in very dense format (225 LoC in standard formatting) and most of that is input and basic string processing -- the actual meat of th

[2018-07-16 14:04] maxrousseau commented on #822
Indeed, maybe I should suggest Ariel Rokem @arokem as an editor.

[2018-07-16 15:29] lucydot commented on #797
Thanks for the feedback @ajjackson:

- I have fixed the link and closed the issue.
- The labels now include the segments argument index. See [the notebook](https://github.com/lucydot/effmass/blob/master/paper/notebook.ipynb) for the example output - have I interpreted your suggestion correctly? The labels tended to overlap, so I have used the adjustText package to avoid this, and I think the outpu

[2018-07-16 15:34] palash1992 commented on #817
@danielskatz I have made the modification. Hopefully it should be fine now.

[2018-07-16 15:37] lheagy commented on #811
@marcoalopez: do you have any recommendations for reviewers?

[2018-07-16 16:57] jirotubuyaki commented on #214
I would like to give up for submit my paper.
I must learn many things for writing papers.
Thank you very much.

[2018-07-16 18:21] leeper commented on #821
@khaors DESCRIPTION file is fine, unless there are non-CRAN, non-R, or otherwise atypical dependencies.

[2018-07-16 21:29] palash1992 commented on #817
@whedon generate pdf

[2018-07-16 21:29] whedon commented on #817
[code]

[2018-07-16 21:30] whedon commented on #817
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00817/joss.00817/10.21105.joss.00817.pdf)

[2018-07-17 03:22] dghoshal-lbl commented on #807
@danielskatz If there are no potential reviewers assigned to this, one suggestion is: Jay Lofstead (http://www.lofstead.org/)

[2018-07-17 11:06] pjotrp commented on #583
I installed the software with bioconda bootstrapping from the GNU Guix conda package. Nice work! Mostly worked out of the box. I'll show a writeup when I am done.

@serine - do you have a test dataset I can just download and run? Sorry for the pain, but I don't want to be hunting down NCBI resources. Even a small set will do.

[2018-07-17 11:30] hjoliver commented on #737
I've just posted Pull Request to Cylc, with a new contributor license agreement. We should be good to go when that's reviewed and merged to master ... I'll report back to confirm shortly.

[2018-07-17 13:57] marcoalopez commented on #811
@lheagy: not really since I don't know anyone who works with grain size distributions or paleopiezometry who programs in Python. I know some people who work on similar topics but they program in Matlab.

[2018-07-17 17:43] kbenoit commented on #774
Just to flag this for the reviewers, in case it makes a difference: Since submission, we have updated the CRAN version to 1.3.4. Looking forward to your reviews.

[2018-07-17 18:43] palash1992 commented on #817
@danielskatz : Some other suitable reviewers are @galenstocking, @corybrunson , @vchuravy and @hausen.

[2018-07-17 21:32] zfrenchee commented on #747
@arfon could you remove the "paused" label please?

[2018-07-18 09:08] alex2cris commented on #824
@jedbrown

_REQ_ was purposely developed to provide the scientific community with a practical bioinformatics tool for estimating direct branch supports of distance-based phylogenetic trees. Further details may be found in `paper.md`. To this respect, I assume that this program meets some of the JOSS submission requirements, e.g. _a contribution that makes addressing research challenges significant

[2018-07-18 09:08] alex2cris commented on #824
@whedon generate pdf

[2018-07-18 09:08] whedon commented on #824
[code]

[2018-07-18 09:09] whedon commented on #824
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00824/joss.00824/10.21105.joss.00824.pdf)

[2018-07-18 09:10] pjotrp commented on #583
My report: I can report the software installs and runs to satisfaction. In fact, kudos @serine and colleagues for creating such an advanced pipeline which can be run on almost any Linux system out of the box with nice reporting output. I hope people will start using it. Since it is bionconda based you should also look at making it part of the common workflow initiative https://www.commonwl.org/ wi

[2018-07-18 09:14] pjotrp commented on #583
@whedon generate pdf

[2018-07-18 09:14] whedon commented on #583
[code]

[2018-07-18 09:14] whedon commented on #583
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00583/joss.00583/10.21105.joss.00583.pdf)

[2018-07-18 09:19] pjotrp commented on #583
The review process is now complete. To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI (if one exists).

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service. To do so:

 1. Create [a GitHub r

[2018-07-18 09:29] pjotrp commented on #779
@whedon list commands

[2018-07-18 09:30] pjotrp commented on #779
@whedon commands

[2018-07-18 09:30] whedon commented on #779
Here are some things you can ask me to do:

[code]

[2018-07-18 09:31] pjotrp commented on #779
@whedon start review magic-word=bananas

[2018-07-18 09:31] whedon opened #826 "[REVIEW]: BAMnostic: an OS-agnostic toolkit for genomic sequence analysis"
**Submitting author:** @betteridiot (<a href="http://orcid.org/0000-0002-0243-4609">Marcus</a>)
**Repository:** <a href="https://github.com/betteridiot/bamnostic" target ="_blank">https://github.com/betteridiot/bamnostic</a>
**Version:** 0.8.4
**Editor:** @pjotrp
**Reviewer:** @luizirber, @peterjc
**Archive:** <a href="https://doi.org/10.5281/zenodo.1341915" target="_blank">10.5281/zenodo.1341915<

[2018-07-18 09:31] whedon commented on #779
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/826. Feel free to close this issue now!

[2018-07-18 09:31] whedon commented on #826
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @luizirber, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-07-18 09:31] whedon commented on #826
[code]

[2018-07-18 09:31] #779 closed

[2018-07-18 09:32] whedon commented on #826
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00826/joss.00826/10.21105.joss.00826.pdf)

[2018-07-18 09:33] pjotrp commented on #826
@betteridiot we are starting review here. To expedite the review do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2018-07-18 09:36] pjotrp commented on #826
Also address @peterjc concerns raised https://github.com/openjournals/joss-reviews/issues/779#issuecomment-405429342 here:

One thing on the text: *"This is a significant limitation as no other Python implementation (besides pysam) can perform random access operation on BAM files."* maybe insert the rider "published" or "released" as there are several, including my old Python code can do this but

[2018-07-18 09:44] alexgarciac commented on #698
Hi, I have read the latest version and it looks ready to go. @pjotrp answering your question: yes, ready to go into the public domain.

[2018-07-18 09:51] pjotrp commented on #805
@whedon assign @pjotrp as editor

[2018-07-18 09:51] whedon commented on #805
OK, the editor is @pjotrp

[2018-07-18 09:53] alexgarciac commented on #698
all check boxes (the pertinent ones) on the issue tracker have been checked.

[2018-07-18 09:55] pjotrp commented on #769
@george-githinji I think you'd be the perfect editor for this submission. We can look for reviewers together.

[2018-07-18 09:57] pjotrp commented on #698
Thank you @alexgarciac! :+1: Thank you @bryan-brancotte for your great contribution, there should be more linked data contributions like these.

The review process is now complete. To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that
all references in your bibliography have a DOI (if one exists).

Second, we need you to deposit a copy of your s

[2018-07-18 10:00] pjotrp commented on #805
@assign @Chilipp as reviewer

[2018-07-18 10:01] pjotrp commented on #805
Thanks @Chilipp - I am looking for a second reviewer to help you out. Part of the fun of doing this work is to learn about new topics!

[2018-07-18 12:07] bryan-brancotte commented on #698
Thanks @alexgarciac @pjotrp for making this contribution being published !
Here is the DOI https://doi.org/10.5281/zenodo.1314288

[2018-07-18 12:15] pjotrp commented on #698
@whedon set 10.5281/zenodo.1314288 as archive

[2018-07-18 12:15] whedon commented on #698
OK. <a href="https://doi.org/10.5281/zenodo.1314288" target="_blank">10.5281/zenodo.1314288</a> is the archive.

[2018-07-18 12:16] pjotrp commented on #698
@arfon we are ready to accept this paper. @bryan-brancotte note that arfon is still on holiday, so it may take a little while.

[2018-07-18 13:58] maxrousseau commented on #822
@arfon - Do you know of any editor that would be available for this type of paper?

Thank you,

Maxime Rousseau

[2018-07-18 14:05] bunhoel commented on #229
Dear Karthik,

the first thing that we did was to delete from github the directory /bun hole/anvil/tree/master/q Gaussian
because, we believe that it could be creating problems to reviews.
We believe that it solve the question:
There is a package contained within the package.

All of ours works could be found at  link https://github.com/bunhoel/qGaussian

About more listed problems; test was inclu

[2018-07-18 14:18] hjoliver commented on #737
@arfon - new `CONTRIBUTING.md` CLA just merged to Cylc master: https://github.com/cylc/cylc/blob/master/CONTRIBUTING.md

[2018-07-18 14:54] sarats commented on #737
Looks good to go.

[2018-07-18 15:44] kczimm commented on #749
@astorfi Thanks for the explanations. Based on these and the explanations you've already provided to @ThomasA, I've completed my review and can recommend publication. Good work.

[2018-07-18 20:53] astorfi commented on #749
@whedon generate pdf

[2018-07-18 20:53] whedon commented on #749
[code]

[2018-07-18 20:53] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-07-18 20:58] astorfi commented on #749
@whedon generate pdf

[2018-07-18 20:58] whedon commented on #749
[code]

[2018-07-18 20:59] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-07-18 22:20] astorfi commented on #749
Thank you @kczimm .
@arfon  Should I take any further action?

[2018-07-18 23:44] serine commented on #583
This is great, thanks heaps !

About the second part; I've done Zenodo here https://zenodo.org/record/1315013#.W0_PY3VuaV4

[![DOI](https://zenodo.org/badge/DOI/10.21105/joss.00583.svg)](https://doi.org/10.21105/joss.00583)

I was a bit confused about which DOI to use.. I just tool whatever was there in the pds that you've generated.

About the first bit _can you confirm that all references in you

[2018-07-19 00:18] astorfi commented on #749
@whedon generate pdf

[2018-07-19 00:18] whedon commented on #749
[code]

[2018-07-19 00:19] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-07-19 02:07] betteridiot commented on #826
The PR: betteridiot/bamnostic#7 addresses the first issue raised by @peterjc.

Also, a couple of these points were also addressed in my last comment in #779. I will reiterate it here though:

[2018-07-19 02:12] betteridiot commented on #826
The points about CSI indexing and CRAM support were addressed similarly in betteridiot/bamnostic#3 and betteridiot/bamnostic#4 (respectively).

[2018-07-19 05:16] mr-c commented on #583
Would an RRID URI be acceptable? I like to cite both the idea of a piece of software and any relevant methods papers.

Picard:

https://identifiers.org/rrid/RRID:SCR_006525

Degust:

https://identifiers.org/rrid/RRID:SCR_001878

For bwa-mem I suggest listing  both the Arxiv paper and the RRID
https://arxiv.org/abs/1303.3997
https://identifiers.org/rrid/RRID:SCR_010910

(There are citation instruct

[2018-07-19 05:31] serine commented on #583
great thanks a lot guys, and yes shout out to everyone involved, every little bit of advise, comment and gitissue really helped in shaping this into a better tool !

[2018-07-19 05:32] serine commented on #583
@mr-c was that comment _Would an RRID URI be acceptable?_ to me or at @arfon cause I'm happy with what ever works

[2018-07-19 07:11] serine commented on #583
@mr-c how about now https://zenodo.org/record/1315013#.W1A5FHVuaV4 ?

using

[code]
builds to this

[check.pdf](https://github.com/openjournals/joss-reviews/files/2208689/check.pdf)

not sure how it'll look with JOSS compilation.. also don't think I can do much about footer overlap

if you think this looks ok I can commit this change to master and perhaps ask @pjotrp to rebuild final pdf if that's

[2018-07-19 07:13] mr-c commented on #583
@serine much more readable, thank you.

[2018-07-19 07:30] serine commented on #583
d567e44389a761ceaefbe31d9c3e380ea69a9645

[2018-07-19 07:40] pjotrp commented on #583
I think you can do it with

       @whedon generate pdf

[2018-07-19 07:42] pjotrp commented on #805
@whedon add @harmn as reviewer

[2018-07-19 07:42] whedon commented on #805
OK, @harmn is now a reviewer

[2018-07-19 07:43] pjotrp commented on #805
@whedon add @Chilipp as reviewer

[2018-07-19 07:43] whedon commented on #805
OK, @Chilipp is now a reviewer

[2018-07-19 07:43] pjotrp commented on #805
We should have one editor and two reviewers now :)

[2018-07-19 07:44] pjotrp commented on #805
@whedon start review magic-word=bananas

[2018-07-19 07:44] whedon commented on #805
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/827. Feel free to close this issue now!

[2018-07-19 07:44] whedon opened #827 "[REVIEW]: pyPhenology: A python framework for plant phenology modelling"
**Submitting author:** @sdtaylor (<a href="http://orcid.org/0000-0002-6178-6903">Shawn Taylor</a>)
**Repository:** <a href="https://github.com/sdtaylor/pyPhenology" target ="_blank">https://github.com/sdtaylor/pyPhenology</a>
**Version:** v0.5.0
**Editor:** @pjotrp
**Reviewer:** @harmn, @Chilipp
**Archive:** <a href="https://doi.org/10.5281/zenodo.1345528" target="_blank">10.5281/zenodo.1345528</a

[2018-07-19 07:44] whedon commented on #827
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @harmn, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-07-19 07:44] whedon commented on #827
[code]

[2018-07-19 07:44] #805 closed

[2018-07-19 07:44] whedon commented on #827
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00827/joss.00827/10.21105.joss.00827.pdf)

[2018-07-19 07:46] khaors commented on #821
@leeper I have finished the review. Sorry for the delay. Checking the vignettes took a while but the results are ok. I opened an issue in the heatwaveR repository with the my comments ( you can check this under the tag JOSS review).

[2018-07-19 07:47] pjotrp commented on #827
@Chilipp and @harmn we are starting review on this issue tracker.

@sdtaylor to expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2018-07-19 07:52] serine commented on #583
@whedon generate pdf

[2018-07-19 07:56] serine commented on #583
@whedon generate pdf pretty please ?

[2018-07-19 07:56] whedon commented on #583
[code]

[2018-07-19 07:57] whedon commented on #583
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00583/joss.00583/10.21105.joss.00583.pdf)

[2018-07-19 07:57] serine commented on #583
@whedon generate pdf

[2018-07-19 07:57] whedon commented on #583
[code]

[2018-07-19 07:57] whedon commented on #583
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00583/joss.00583/10.21105.joss.00583.pdf)

[2018-07-19 07:57] serine commented on #583
haha always works if you ask nicely

[2018-07-19 10:42] leeper commented on #821
@khaors Excellent. Thanks for your careful review!

@robwschlegel Please address the issues raised at: https://github.com/robwschlegel/heatwaveR/issues/7 and let me know when you're ready for me to take another look.

[2018-07-19 11:08] betteridiot commented on #826
I will have to explicitly add a section on **Community guidelines** for all items to be checked off.

[2018-07-19 11:49] robwschlegel commented on #821
Hello,
Thank you very much for reviewing the package.
I've read over the comments and am happy to make the changes. I'm
particularly glad that it was recommended to cut down the length of the
README and move that information to separate vignettes.
I've just returned now from a conference and have some work to catch up on
but will make the corrections as soon as I can. Hopefully within a week.
All

[2018-07-19 14:59] betteridiot commented on #826
Current version is 0.8.7b2
Community guidelines and versioning were added in https://github.com/betteridiot/bamnostic/commit/05b00e1297133bfaece68925e03ae59d1c5a16b9

Addressed @peterjc's comments on CRAM and CSI support is betteridiot/bamnostic#4 and betteridiot/bamnostic#3 (respectively) and added documentation about limitations in https://github.com/betteridiot/bamnostic/commit/14747e7135260c69

[2018-07-19 15:01] betteridiot commented on #826
At this point, I can confirm all items on the checklist can be checked off. The only point made by @peterjc  that has yet to be addressed with increased functionality has been on BAM output. This is feature that will be added in the very near future and this issue can be found at betteridiot/bamnostic#5

[2018-07-19 16:29] whedon commented on #749
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00749/joss.00749/10.21105.joss.00749.pdf)

[2018-07-19 16:44] lheagy commented on #811
:wave: Hi @AdeBytes, @khaors: would you be willing to review this submission for JOSS?

[2018-07-19 17:57] alk224 commented on #57
@arfon  thank you for hitting pause on this. Goals are being achieved (grad school completed, manuscripts prepared), but time remains short. Am hoping for time to really update this by December since by now Ubuntu 14.04 will see end of support in less than a year, and QIIME2 is now available with the wonderful provenance feature, but still lacks many options for performing a comprehensive ITS regi

[2018-07-19 18:58] ygrange commented on #809
The main comment I have is: Great paper, I really enjoyed reading it! You did a really good job at analysing the differences in performance and functionality between unyt and the two comparable packages. I will go through the checklist shortly, but let me post my comments on the contents first:

First a comment on the code base: Your code coverage is really great! There is no documentation for use

[2018-07-19 19:01] ygrange commented on #809
On the dependencies: to do the testing, one needs to install a few extra dependencies.

[2018-07-19 19:05] ygrange commented on #809
Documentation: the docstrings look really good and complete. Even though they are quite descriptive by nature I would advice to add a desciption to the exception classes (i.e. if I use unyt  in my work, what case is covere by what exception?)

[2018-07-19 19:11] ygrange commented on #809
I see the list of authors in the paper.md file, but there is no author listed in the PDF. Is this a technical problem? (question for the @kyleniemeyer I guess)

[2018-07-19 19:16] ngoldbaum commented on #809
Awesome, thank you for the comments. @kyleniemeyer how should I address the comments to the paper? In a pull request to unyt that I ping @ygrange on?

[2018-07-19 19:32] lheagy commented on #811
Excellent, thanks @khaors!
:wave: @jsta would you be willing to help with this review?

[2018-07-19 20:18] pjotrp commented on #826
Thanks. @luizirber over to you!

[2018-07-19 20:19] pjotrp commented on #827
Excellent. @Chilipp you can start review! Note @harmn is on holiday, but he is there to help out when he is back.

[2018-07-19 21:08] Chilipp commented on #737
Hey @hjoliver  and @arfon! Sorry for the delay, it looks good to me, too 👍

[2018-07-19 21:11] Chilipp commented on #827
Great, I am looking forward to it! I will do it within the next week.

[2018-07-20 02:32] arokem commented on #822
I can take this one!

[2018-07-20 02:32] arokem commented on #822
@whedon assign @arokem as editor

[2018-07-20 02:32] whedon commented on #822
OK, the editor is @arokem

[2018-07-20 02:33] arokem commented on #822
👋 @mnarayan: would you be willing to review this article for JOSS?

[2018-07-20 02:39] maxrousseau commented on #822
Thank you very much @arokem!

[2018-07-20 09:01] leeper commented on #796
@whedon generate pdf

[2018-07-20 09:01] whedon commented on #796
[code]

[2018-07-20 09:01] whedon commented on #796
PDF failed to compile for issue #796 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    225      0 --:--:-- --:--:-- --:--:--   230
Error reading bibl

[2018-07-20 14:24] Cadair commented on #809
This is a really nice paper, with a great comparison between the three packages. The quality of the code, docs and tests all looks fantastic as I would've expected :smile:. I hope that this package gains a lot of traction by becoming such a lightweight standalone package (something I have thought `astropy.units` should do for a long time). I look forward to using it in some of my own code in the f

[2018-07-20 14:31] maxrousseau commented on #822
@whedon generate pdf

[2018-07-20 14:31] whedon commented on #822
[code]

[2018-07-20 16:03] kyleniemeyer commented on #809
@ngoldbaum you can make a PR or issues over on your repo that reference this one, so that they'll show up in this thread.

[2018-07-20 16:04] pdwaggoner commented on #796
@leeper I merged pull request. All should be good. Please excuse the .bib oversight

[2018-07-20 16:05] kyleniemeyer commented on #809
@ygrange regarding your question about the authors, I do see the authors right below the title in the PDF—do you see something else?
<img width="690" alt="screen shot 2018-07-20 at 9 04 28 am" src="https://user-images.githubusercontent.com/190432/43012794-f840e902-8bfb-11e8-8361-bcfe6cd3212a.png">

[2018-07-20 16:08] leeper commented on #796
@whedon generate pdf

[2018-07-20 16:08] whedon commented on #796
[code]

[2018-07-20 16:08] whedon commented on #796
PDF failed to compile for issue #796 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    157      0 --:--:-- --:--:-- --:--:--   157
Error producing PD

[2018-07-20 16:36] pdwaggoner commented on #796
@leeper fixed title

[2018-07-20 17:52] pdwaggoner commented on #796
@leeper Not sure if you are looking for a response from me re: this proof, but this looks good to me. Let me know whatever else you need, if anything. Thanks!

[2018-07-20 17:58] jasonclark commented on #816
@arfon @hamedmx I am willing to edit this submission.

[2018-07-20 18:03] jasonclark commented on #816
@whedon assign @jasonclark as editor

[2018-07-20 18:03] whedon commented on #816
OK, the editor is @jasonclark

[2018-07-20 18:10] leeper commented on #796
@pdwaggoner Nope, no need to do anything. Thanks!

[2018-07-20 18:12] jasonclark commented on #816
@hamedmx Can you create a README file for the repository? All JOSS entries require a general description of the software (what is it?, why would I use it?, etc.) along with basic install instructions. You might even use some of the narrative from your article at https://github.com/hamedmx/YAD-ILP-Tool/blob/master/YAD-JOSS.pdf.

[2018-07-20 19:58] leeper commented on #796
@whedon assign @cskovron as reviewer

[2018-07-20 19:58] whedon commented on #796
OK, the reviewer is @cskovron

[2018-07-20 19:58] leeper commented on #796
@whedon start review

[2018-07-20 19:58] whedon opened #828 "[REVIEW]: The hhi Package: Streamlined Calculation and Visualization of Herfindahl-Hirschman Index Scores"
**Submitting author:** @pdwaggoner (<a href="http://orcid.org/0000-0002-7825-7573">Philip D. Waggoner</a>)
**Repository:** <a href="https://github.com/pdwaggoner/hhi" target ="_blank">https://github.com/pdwaggoner/hhi</a>
**Version:** v1.1.0
**Editor:** @leeper
**Reviewer:** @cskovron
**Archive:** <a href="https://doi.org/10.5281/zenodo.1336788" target="_blank">10.5281/zenodo.1336788</a>

## Statu

[2018-07-20 19:58] whedon commented on #796
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/828. Feel free to close this issue now!

[2018-07-20 19:58] whedon commented on #828
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cskovron it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-07-20 19:58] whedon commented on #828
[code]

[2018-07-20 19:58] #796 closed

[2018-07-20 19:59] whedon commented on #828
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00828/joss.00828/10.21105.joss.00828.pdf)

[2018-07-20 20:00] leeper commented on #828
@cskovron The review issue is here. Just work through the checklist (above), [open an issue here](https://github.com/pdwaggoner/hhi/issues) for anything missing or any other changes you'd like to see, and then ping me here when you've completed your review. Let me know if you have any questions.

[2018-07-20 20:04] ngoldbaum commented on #809
Ah yes, sorry if that was confusing! It was convenient to have a draft PDF in the repo before I submitted to JOSS. I'll replace it with the final version once the review process is finished.

[2018-07-20 22:07] katyhuff commented on #676
@whedon set 10.5281/zenodo.1311905 as archive

[2018-07-20 22:07] whedon commented on #676
OK. <a href="https://doi.org/10.5281/zenodo.1311905" target="_blank">10.5281/zenodo.1311905</a> is the archive.

[2018-07-20 22:08] katyhuff commented on #676
@whedon generate pdf

[2018-07-20 22:08] whedon commented on #676
[code]

[2018-07-20 22:08] whedon commented on #676
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00676/joss.00676/10.21105.joss.00676.pdf)

[2018-07-20 22:10] katyhuff commented on #676
Thank you @nnadeau for reviewing this. Thank you @sepandhaghighi and @kasraaskari for the submission!

@arfon we're ready to accept this!

[2018-07-21 10:40] hamedmx commented on #816
@jasonclark Yes, sure. Of course all the desired descriptions about the tool exist in the article, i.e. paper.md file in the repository.

[2018-07-21 13:14] hamedmx commented on #816
@jasonclark The required README file is ready in the repository with adequate descriptions about the tool and its usage and also a new additional sample test file has been uploaded there.

[2018-07-21 17:45] ajjackson commented on #797
Updates:

**Functionality documentation:** Is the core functionality of the software documented to a satisfactory level (e.g., API method documentation)?
In general effmass is following best practice in the use of Python docstrings and automatically-generated documentation. I have checked this off as satisfactory, with the following observations:
- I found a minor error in a docstring, raised as a

[2018-07-21 19:58] katyhuff commented on #797
@whedon generate pdf

[2018-07-21 19:58] whedon commented on #797
[code]

[2018-07-21 19:58] katyhuff commented on #797
@ajjackson please see built pdf above (to see what whedon can do, you can execute `@whedon commands` at any time)

[2018-07-21 19:58] whedon commented on #797
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00797/joss.00797/10.21105.joss.00797.pdf)

[2018-07-21 20:17] katyhuff commented on #797
@ajjackson  regarding your concern about api docs, the readme for the repo links to these API docs which seem quite sufficient to me : https://effmass.readthedocs.io/en/latest/

[2018-07-21 20:36] ajjackson commented on #797
I agree they are sufficient, it's not a big deal  :-) I was referring to pages such as https://effmass.readthedocs.io/en/latest/API%20documentation.html which currently contains links without descriptions. This is very common in automatically generated documentation.

[2018-07-21 21:02] katyhuff commented on #797
Ah, I misunderstood. Your comment initially made me think you couldn't find your way to the API pages.

Yes, I agree this is the default sphinx behavior. More might be better on that page, perhaps. But in this case, I think the docs are strong and it's not necessary if the reader has the patience to click through the links.

[2018-07-22 13:39] peterjc commented on #826
BAM output https://github.com/betteridiot/bamnostic/issues/5 was a feature request, quite a logical extension and one which will increase the utility of BAMnostic, but I did not mean to suggest it should delay or block this JOSS publication.

[2018-07-22 16:54] betteridiot commented on #826
Thank you @peterjc . I fully understood it as such. I was just being explicit with my intentions is all.

[2018-07-22 21:16] arfon commented on #214
@kevinushey & @karthik - thanks for your help with this submission. Unfortunately, it looks like this one isn't going to make it through to publication.

[2018-07-22 21:16] #214 closed

[2018-07-22 21:19] arfon commented on #774
@lmullen @alexgarciac - do you think you could both complete your reviews this week?

[2018-07-22 21:20] arfon commented on #747
@nilesh-patil @terrytangyuan - please come and take another look at this.

[2018-07-22 21:41] arfon commented on #749
Thanks for your reviews @ThomasA, @kczimm!

@astorfi - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-07-22 21:42] arfon commented on #737
@hjoliver - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-07-22 21:47] arfon commented on #676
@nnadeau - many thanks for your review here and to @katyhuff for editing this submission ✨

@sepandhaghighi - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00676 :zap: :rocket: :boom:

[2018-07-22 21:47] #676 closed

[2018-07-22 21:47] pjotrp commented on #826
Thanks @betteridiot. I think we are good to go. @luizirber would you be so kind to start reviewing this submission? @peterjc can help out if there are any issues. Thanks!

[2018-07-22 21:47] whedon commented on #676
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00676/status.svg)](https://doi.org/10.21105/joss.00676)

**We need your help!**

Journal of Open Source Softwar

[2018-07-22 21:52] sepandhaghighi commented on #676
Thanks @arfon @katyhuff @nnadeau  @whedon !

[2018-07-23 00:11] hjoliver commented on #737
@arfon - the Zenodo DOI for cylc-7.7.0 (as reviewed) is: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1251084.svg)](https://doi.org/10.5281/zenodo.1251084)

[2018-07-23 01:48] arfon commented on #737
@whedon set 10.5281/zenodo.1251084 as archive

[2018-07-23 01:48] whedon commented on #737
OK. <a href="https://doi.org/10.5281/zenodo.1251084" target="_blank">10.5281/zenodo.1251084</a> is the archive.

[2018-07-23 01:52] arfon commented on #737
@sarats, @Chilipp - many thanks for your reviews here ✨

@hjoliver - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00737 :zap: :rocket: :boom:

[2018-07-23 01:52] #737 closed

[2018-07-23 01:52] whedon commented on #737
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00737/status.svg)](https://doi.org/10.21105/joss.00737)

**We need your help!**

Journal of Open Source Softwar

[2018-07-23 02:59] hjoliver commented on #737
@arfon @sarats @Chilipp - that's great, thanks very much :grin:

[2018-07-23 03:05] Schuch666 commented on #662
Hey guys @nuest @benmarwick

Please come any take another look at this package

This is a kindly reminder

[2018-07-23 07:02] astorfi commented on #749
@arfon  I updated the version in Zenodo as well as the PyPi.
Please check to see if it is suitable.
Thanks

[2018-07-23 10:49] arfon commented on #749
Looks like the Zenodo DOI (https://doi.org/110.5281/zenodo.810391) isn't resolving yet... Perhaps it takes a few hours to register?

[2018-07-23 10:59] arfon commented on #761
OK, thanks for the heads up @drvinceknight. We should be able to work with this original submission.

[2018-07-23 10:59] arfon commented on #761
@whedon generate pdf

[2018-07-23 10:59] whedon commented on #761
[code]

[2018-07-23 10:59] whedon commented on #761
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00761/joss.00761/10.21105.joss.00761.pdf)

[2018-07-23 11:13] arfon commented on #761
@drvinceknight - looks like some of the LaTeX formatting is a little wonky in the compiled PDF ☝️. Could you try and fix that? If you make a change to your `paper.md` you can ask @whedon to recompile the paper with `@whedon generate pdf`

[2018-07-23 11:18] arfon commented on #791
Thanks for the detailed review @steffilazerte. Responding to a couple of your comments here:

This is actually a requirement for JOSS submissions (see https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

We're considering this as an editorial board but at this point we don't have a policy for this.

[2018-07-23 13:14] lmullen commented on #774
Will do my best.

On Sun, Jul 22, 2018 at 5:19 PM, Arfon Smith <notifications@github.com>
wrote:

--
Lincoln Mullen
Assistant Professor, Department of History & Art History
George Mason University

[2018-07-23 13:22] katyhuff commented on #710
Yes, go right ahead and update to the new version. Sorry for the delay in responding. It looks like all of the issues raised by the reviewers have now been handled. Is that correct @puncan @Tabeel @momargoh ?

If so, then @momargoh  at this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move f

[2018-07-23 13:24] whedon opened #829 "[REVIEW]: pysrim: Automation, Analysis, and Plotting of SRIM Calculations"
**Submitting author:** @costrouc (<a href="http://orcid.org/0000-0002-8734-4564">Christopher Ostrouchov</a>)
**Repository:** <a href="https://gitlab.com/costrouc/pysrim" target ="_blank">https://gitlab.com/costrouc/pysrim</a>
**Version:** v0.5.3
**Editor:** @katyhuff
**Reviewer:** @ledius
**Archive:** <a href="https://doi.org/10.5281/zenodo.1326538" target="_blank">10.5281/zenodo.1326538</a>

## S

[2018-07-23 14:33] danielskatz commented on #711
👋 @lkosmid - Just checking again to see if you are back...

[2018-07-23 14:34] danielskatz commented on #807
Thanks @dghoshal-lbl - I'll check with Jay.  I've also been trying to find a number of other people through email, but without success so far.

[2018-07-23 14:55] palash1992 commented on #817
@danielskatz : In that case, here are some other reviewers proficient in Python with focus machine learning: @rougier , @sealhuang, @ahurriyetoglu, @betatim and @jsgalan

[2018-07-23 14:58] danielskatz commented on #817
👋  @rougier, @sealhuang, @ahurriyetoglu, @betatim, or @jsgalan - would any of you be willing to review this JOSS submission?

[2018-07-23 15:07] whedon commented on #807
OK, the reviewer is @ian-taylor

[2018-07-23 15:08] danielskatz commented on #807
I'm still looking for one more reviewer before I start the review.  In addition, @ian-taylor is not available until the 2nd week of August, so this isn't delaying the review.

[2018-07-23 15:40] astorfi commented on #749
@arfon Yes it may take a while

[2018-07-23 15:45] astorfi commented on #749
@arfon  Please check. I think it is resolved now.

[2018-07-23 15:46] astorfi commented on #749
@arfon I realized that I made a mistake and I put the DOI as [https://doi.org/110.5281/zenodo.810391](https://doi.org/110.5281/zenodo.810391) instead of [https://doi.org/10.5281/zenodo.810391](https://doi.org/10.5281/zenodo.810391). I think it is solved now.

[2018-07-23 17:44] danielskatz commented on #807
@whedon add @gflofst as reviewer

[2018-07-23 17:44] whedon commented on #807
OK, @gflofst is now a reviewer

[2018-07-23 17:44] danielskatz commented on #807
@whedon start review

[2018-07-23 17:44] whedon opened #830 "[REVIEW]: MaDaTS: Managing Data on Tiered Storage for Scientific Workflows"
**Submitting author:** @dghoshal-lbl (<a href="http://orcid.org/0000-0002-6819-6949">Devarshi Ghoshal</a>)
**Repository:** <a href="https://github.com/dghoshal-lbl/madats" target ="_blank">https://github.com/dghoshal-lbl/madats</a>
**Version:** v1.1.2
**Editor:** @danielskatz
**Reviewer:** @ian-taylor, @gflofst
**Archive:** <a href="https://doi.org/10.5281/zenodo.1439288" target="_blank">10.5281/z

[2018-07-23 17:44] whedon commented on #807
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/830. Feel free to close this issue now!

[2018-07-23 17:44] whedon commented on #830
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @ian-taylor, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-07-23 17:44] whedon commented on #830
[code]

[2018-07-23 17:45] danielskatz commented on #807
yeah, no bananas any more!!! 🎆

[2018-07-23 17:45] #807 closed

[2018-07-23 17:45] whedon commented on #830
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00830/joss.00830/10.21105.joss.00830.pdf)

[2018-07-23 17:51] danielskatz commented on #830
👋  @ian-taylor & @gflofst - please go ahead and start your reviews

See the first comment in the issue for details on how to do the review, and  https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and https://joss.readthedocs.io/en/latest/review_criteria.html for more details. In brief, what I'm looking for is you both to check off the 18 items on your checklists.

If you have problems,

[2018-07-23 17:54] puncan commented on #710
Sounds good to me.

On Mon, Jul 23, 2018 at 6:22 AM Katy Huff <notifications@github.com> wrote:

[2018-07-23 18:55] luizirber commented on #826
on it

[2018-07-23 19:16] arfon commented on #749
@whedon set 10.5281/zenodo.810391 as archive

[2018-07-23 19:16] whedon commented on #749
OK. <a href="https://doi.org/10.5281/zenodo.810391" target="_blank">10.5281/zenodo.810391</a> is the archive.

[2018-07-23 19:20] arfon commented on #749
@astorfi - It looks like the citations aren't being compiled into the paper as you're not citing them directly. You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html).

[2018-07-23 19:23] arfon commented on #807
😁

[2018-07-23 19:40] danielskatz commented on #817
Thanks @jsgalan - I want to get one more reviewer before we start the review, so please stand by :)

[2018-07-23 19:40] danielskatz commented on #817
@whedon assign @jsgalan as reviewer

[2018-07-23 19:41] whedon commented on #817
OK, the reviewer is @jsgalan

[2018-07-23 19:54] mkhorton commented on #797
@lucydot running `python setup.py test` fails with:

[code]

Your tests are working correctly with `python -m pytest` as recommended by your README, so this is not a bug, but I thought I'd bring this to your attention since it might trip people up.

[2018-07-23 22:44] astorfi commented on #749
@arfon I see the citations in the article proof. I am not quite sure if I got your point.

[2018-07-23 22:45] jedbrown commented on #824
Hi @alex2cris, thanks for your submission. Unfortunately the editorial board has decided that this submission falls under the "minor utility" designation and is thus not appropriate for JOSS.

https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

[2018-07-23 22:45] #824 closed

[2018-07-24 00:10] arfon commented on #749
Sorry for any confusion. I was working with an earlier clone of your repo.

BTW, I did need to make a small change to your `paper.md` to get the images working: https://github.com/astorfi/speechpy/pull/25

[2018-07-24 00:19] arfon commented on #749
@ThomasA & @kczimm - many thanks for your reviews here! ✨

@astorfi - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00749 :zap: :rocket: :boom:

[2018-07-24 00:19] #749 closed

[2018-07-24 00:19] whedon commented on #749
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00749/status.svg)](https://doi.org/10.21105/joss.00749)

**We need your help!**

Journal of Open Source Softwar

[2018-07-24 00:59] whedon opened #831 "[PRE REVIEW]: 'tidynamics: A tiny package to compute the dynamics of stochastic and molecular simulations"
**Submitting author:** @pdebuyl (<a href="http://orcid.org/0000-0002-6640-6463">Pierre de Buyl</a>)
**Repository:** <a href="https://github.com/pdebuyl-lab/tidynamics" target ="_blank">https://github.com/pdebuyl-lab/tidynamics</a>
**Version:** 0.1.2
**Editor:** @kyleniemeyer
**Reviewers:** @richardjgowers, @malramsay64

**Author instructions**

Thanks for submitting your paper to JOSS @pdebuyl. Th

[2018-07-24 00:59] whedon commented on #831
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-24 00:59] whedon commented on #831
[code]

[2018-07-24 00:59] whedon commented on #831
PDF failed to compile for issue #831 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/processor.

[2018-07-24 00:59] whedon opened #832 "[PRE REVIEW]: aesop: ARC Echelle Spectroscopic Observation Pipeline"
**Submitting author:** @bmorris3 (<a href="http://orcid.org/0000-0003-2528-3409">Brett Morris</a>)
**Repository:** <a href="https://github.com/bmorris3/aesop" target ="_blank">https://github.com/bmorris3/aesop</a>
**Version:** v0.1
**Editor:** @jakevdp
**Reviewers:** @wtgee

**Author instructions**

Thanks for submitting your paper to JOSS @bmorris3. The JOSS editor (shown at the top of this issue

[2018-07-24 00:59] whedon commented on #832
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-24 00:59] whedon commented on #832
[code]

[2018-07-24 00:59] whedon opened #833 "[PRE REVIEW]: diwanalr: An R data analysis package for diffusing-wave spectroscopy"
**Submitting author:** @peterjwatkins (<a href="http://orcid.org/0000-0002-1290-3843">Peter Watkins</a>)
**Repository:** <a href="https://github.com/peterjwatkins/diwanalr" target ="_blank">https://github.com/peterjwatkins/diwanalr</a>
**Version:** v0.1
**Editor:** @arfon
**Reviewers:** @alexpghayes

**Author instructions**

Thanks for submitting your paper to JOSS @peterjwatkins. The JOSS editor

[2018-07-24 00:59] whedon commented on #833
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-24 00:59] whedon commented on #833
[code]

[2018-07-24 01:00] whedon commented on #833
PDF failed to compile for issue #833 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f7

[2018-07-24 01:00] whedon opened #834 "[PRE REVIEW]: fgivenx: a python package for functional posterior plotting"
**Submitting author:** @williamjameshandley (<a href="http://orcid.org/0000-0002-5866-0445">Will Handley</a>)
**Repository:** <a href="https://github.com/williamjameshandley/fgivenx" target ="_blank">https://github.com/williamjameshandley/fgivenx</a>
**Version:** v2.1.0
**Editor:** @arfon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @williamjameshandley.

[2018-07-24 01:00] whedon opened #835 "[PRE REVIEW]: UMAP: Uniform Manifold Approximation and Projection"
**Submitting author:** @lmcinnes (<a href="http://orcid.org/0000-0003-2143-6834">Leland McInnes</a>)
**Repository:** <a href="https://github.com/lmcinnes/umap" target ="_blank">https://github.com/lmcinnes/umap</a>
**Version:** v0.3.0
**Editor:** @arokem
**Reviewers:** @terrytangyuan

**Author instructions**

Thanks for submitting your paper to JOSS @lmcinnes. The JOSS editor (shown at the top of t

[2018-07-24 01:00] whedon commented on #832
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00832/joss.00832/10.21105.joss.00832.pdf)

[2018-07-24 01:00] whedon commented on #835
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:00] whedon commented on #835
[code]

[2018-07-24 01:00] whedon opened #836 "[PRE REVIEW]: Lepton"
**Submitting author:** @slithiaote (<a href="http://orcid.org/0000-0002-4977-4969">Sébastien Li-Thiao-Té</a>)
**Repository:** <a href="https://github.com/slithiaote/lepton" target ="_blank">https://github.com/slithiaote/lepton</a>
**Version:** v1.0
**Editor:** @yochannah
**Reviewers:** @adammichaelwood, @tpetricek

**Author instructions**

Thanks for submitting your paper to JOSS @slithiaote. The

[2018-07-24 01:00] whedon commented on #836
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:00] whedon commented on #836
[code]

[2018-07-24 01:00] whedon commented on #834
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00834/joss.00834/10.21105.joss.00834.pdf)

[2018-07-24 01:00] whedon opened #837 "[PRE REVIEW]: MPDS platform Python API client"
**Submitting author:** @blokhin (<a href="http://orcid.org/0000-0002-5333-3947">Evgeny Blokhin</a>)
**Repository:** <a href="https://github.com/mpds-io/python-api-client" target ="_blank">https://github.com/mpds-io/python-api-client</a>
**Version:** v0.0.17
**Editor:** @arfon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @blokhin. The JOSS editor (shown a

[2018-07-24 01:00] whedon commented on #837
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:00] whedon commented on #837
[code]

[2018-07-24 01:00] whedon commented on #835
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00835/joss.00835/10.21105.joss.00835.pdf)

[2018-07-24 01:00] whedon opened #838 "[PRE REVIEW]: countrycode: An R package to convert country names and country codes"
**Submitting author:** @vincentarelbundock (<a href="http://orcid.org/0000-0003-2042-7063">Vincent Arel-Bundock</a>)
**Repository:** <a href="https://github.com/vincentarelbundock/countrycode" target ="_blank">https://github.com/vincentarelbundock/countrycode</a>
**Version:** 1.00.0
**Editor:** @leeper
**Reviewers:** @andybega

**Author instructions**

Thanks for submitting your paper to JOSS @vin

[2018-07-24 01:01] whedon commented on #838
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:01] whedon commented on #838
[code]

[2018-07-24 01:01] whedon commented on #838
Failed to discover a valid open source license.

[2018-07-24 01:01] whedon opened #839 "[PRE REVIEW]: bor: An R Package for Transforming Behavioral Observation Records into Data Matrices"
**Submitting author:** @davidnsousa (<a href="http://orcid.org/0000-0001-7277-6447">David Sousa</a>)
**Repository:** <a href="https://github.com/davidnsousa/bor" target ="_blank">https://github.com/davidnsousa/bor</a>
**Version:** v0.1.0
**Editor:** @karthik
**Reviewers:** @ViniciusBRodrigues

**Author instructions**

Thanks for submitting your paper to JOSS @davidnsousa. The JOSS editor (shown at

[2018-07-24 01:01] whedon commented on #839
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:01] whedon commented on #839
[code]

[2018-07-24 01:01] whedon commented on #836
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00836/joss.00836/10.21105.joss.00836.pdf)

[2018-07-24 01:01] whedon commented on #838
PDF failed to compile for issue #838 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f7

[2018-07-24 01:01] whedon opened #840 "[PRE REVIEW]: TraitDB: Web application database of phenotypic trait data"
**Submitting author:** @dleehr (<a href="http://orcid.org/0000-0003-3221-9579">Dan Leehr</a>)
**Repository:** <a href="https://github.com/NESCent/TraitDB" target ="_blank">https://github.com/NESCent/TraitDB</a>
**Version:** v0.9.1
**Editor:** @pjotrp
**Reviewers:** @amoeba

**Author instructions**

Thanks for submitting your paper to JOSS @dleehr. The JOSS editor (shown at the top of this issue) w

[2018-07-24 01:01] whedon commented on #839
Failed to discover a valid open source license.

[2018-07-24 01:01] whedon commented on #840
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:01] whedon commented on #840
[code]

[2018-07-24 01:01] whedon commented on #837
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00837/joss.00837/10.21105.joss.00837.pdf)

[2018-07-24 01:01] whedon opened #841 "[PRE REVIEW]: RISE: An R package for RISE analysis"
**Submitting author:** @kalendar (<a href="http://orcid.org/0000-0001-6722-4744">David Wiley</a>)
**Repository:** <a href="https://github.com/lumenlearning/rise" target ="_blank">https://github.com/lumenlearning/rise</a>
**Version:** v1.0
**Editor:** @leeper
**Reviewers:** @seankross

**Author instructions**

Thanks for submitting your paper to JOSS @kalendar. The JOSS editor (shown at the top of

[2018-07-24 01:01] whedon commented on #841
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:01] whedon commented on #841
[code]

[2018-07-24 01:01] whedon commented on #839
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00839/joss.00839/10.21105.joss.00839.pdf)

[2018-07-24 01:01] whedon commented on #841
PDF failed to compile for issue #841 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    539      0 --:--:-- --:--:-- --:--:--   545
Error reading bibl

[2018-07-24 01:01] whedon commented on #840
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00840/joss.00840/10.21105.joss.00840.pdf)

[2018-07-24 01:01] whedon opened #842 "[PRE REVIEW]: powerbox: A Python package for creating structured fields with isotropic power spectra"
**Submitting author:** @steven-murray (<a href="http://orcid.org/0000-0003-3059-3823">Steven Murray</a>)
**Repository:** <a href="https://github.com/steven-murray/powerbox" target ="_blank">https://github.com/steven-murray/powerbox</a>
**Version:** v0.5.5
**Editor:** @arfon
**Reviewers:** @dfm

**Author instructions**

Thanks for submitting your paper to JOSS @steven-murray. The JOSS editor (shown

[2018-07-24 01:02] whedon commented on #842
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:02] whedon commented on #842
[code]

[2018-07-24 01:02] whedon opened #843 "[PRE REVIEW]: The Glasgow Fortran Source-to-Source Compiler"
**Submitting author:** @wimvanderbauwhede (<a href="http://orcid.org/0000-0001-6768-0037">Wim Vanderbauwhede</a>)
**Repository:** <a href="https://github.com/wimvanderbauwhede/RefactorF4Acc" target ="_blank">https://github.com/wimvanderbauwhede/RefactorF4Acc</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @rouson, @rasmussn

**Author instructions**

Thanks for submitting your paper to

[2018-07-24 01:02] whedon commented on #842
PDF failed to compile for issue #842 with the following error:

 Can't find any papers to compile :-(

[2018-07-24 01:02] whedon commented on #843
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:02] whedon commented on #843
[code]

[2018-07-24 01:02] whedon opened #844 "[PRE REVIEW]: Overlapping: a R package for Estimating Overlapping in Empirical Distributions"
**Submitting author:** @masspastore (<a href="http://orcid.org/0000-0002-7922-6365">MASSIMILIANO PASTORE</a>)
**Repository:** <a href="https://github.com/masspastore/overlapping" target ="_blank">https://github.com/masspastore/overlapping</a>
**Version:** v1.5.0
**Editor:** @leeper
**Reviewers:** @soodoku, @russellpierce

**Author instructions**

Thanks for submitting your paper to JOSS @https://g

[2018-07-24 01:02] whedon commented on #844
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-24 01:02] whedon commented on #844
[code]

[2018-07-24 01:02] whedon commented on #843
PDF failed to compile for issue #843 with the following error:

 Can't find any papers to compile :-(

[2018-07-24 01:02] whedon commented on #844
Failed to discover a valid open source license.

[2018-07-24 01:02] whedon commented on #844
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00844/joss.00844/10.21105.joss.00844.pdf)

[2018-07-24 01:02] arfon commented on #831
@whedon generate pdf

[2018-07-24 01:02] whedon commented on #831
[code]

[2018-07-24 01:03] whedon commented on #831
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00831/joss.00831/10.21105.joss.00831.pdf)

[2018-07-24 01:03] arfon commented on #833
@whedon generate pdf

[2018-07-24 01:03] whedon commented on #833
[code]

[2018-07-24 01:03] whedon commented on #833
PDF failed to compile for issue #833 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f7

[2018-07-24 01:04] arfon commented on #833
@peterjwatkins - please make sure the YAML header in your paper matches the formatting of this example: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

[2018-07-24 01:11] arfon commented on #832
:wave: @bmorris3. I'll be the handling editor for this submission.

Could you please take a look at this list of potential reviewers and see if there are any that might be suitable? https://bit.ly/joss-reviewers

Also, if you know of any potential reviewers _not_ on this list, feel free to mention them here!

[2018-07-24 01:15] bmorris3 commented on #832
👋 @arfon. Some potential reviewers include: @jakevdp, @manodeep, @wtgee

[2018-07-24 01:16] vincentarelbundock commented on #838
Thanks a lot for working on this. I really appreciate the time an efforts you invest in JOSS!

I added a `LICENSE.txt` file to the repo.

Also, I suspect that the PDF compilation failed because I had added this to the markdown header `CJKmainfont: STSong` (chinese characters didn't render locally on my computer without that line). I have now removed that line. Hopefully this fixes the failed to co

[2018-07-24 01:19] arfon commented on #834
:wave: @williamjameshandley - could you please take a look at this list of potential reviewers and identify some potential candidates to review your submission? https://bit.ly/joss-reviewers

[2018-07-24 01:20] arfon commented on #835
:wave: @arokem - the submitting author suggested you as the handling editor.

[2018-07-24 01:38] vincentarelbundock commented on #838
thanks! not sure how I could have missed this. The header in the new version mimics the example you linked to.

[2018-07-24 01:46] arfon commented on #838
@whedon generate pdf

[2018-07-24 01:46] whedon commented on #838
[code]

[2018-07-24 01:47] whedon commented on #838
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00838/joss.00838/10.21105.joss.00838.pdf)

[2018-07-24 01:49] NilsEnevoldsen commented on #838
@vincentarelbundock Looks like you need to add back `CJKmainfont` if it doesn't break anything.

[2018-07-24 01:52] vincentarelbundock commented on #838
@whedon generate pdf

[2018-07-24 01:52] whedon commented on #838
[code]

[2018-07-24 01:54] vincentarelbundock commented on #838
I just tried, but the chinese characters don't show up, even with `CJKmainfont`. If there's no way to render these characters, we can find another usage example to replace that one.

[2018-07-24 02:41] steven-murray commented on #842
Ahh, I forgot to hit "push", sorry. It is there now.

[2018-07-24 05:20] momargoh commented on #710
No, I haven't handled all the issues raised by @puncan yet, doing so now. I'm having trouble committing the new Cython-based version to pip due to problems creating a cross-platform dist wheel. The package can be built from the source using `python3 setup.py install` and similarly the docs will not be hosted properly until the package is on pip, so at the moment they can just be built from the sou

[2018-07-24 06:03] steven-murray commented on #842
@whedon generate pdf

[2018-07-24 06:03] whedon commented on #842
[code]

[2018-07-24 06:04] whedon commented on #842
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00842/joss.00842/10.21105.joss.00842.pdf)

[2018-07-24 06:14] leeper commented on #841
@whedon assign @leeper as editor

[2018-07-24 06:14] whedon commented on #841
OK, the editor is @leeper

[2018-07-24 06:33] momargoh commented on #710
No, I haven't handled all the issues raised by @puncan yet, doing so now. I'm having trouble committing the new Cython-based version to pip due to problems creating a cross-platform dist wheel. The package can be built from the source using `python3 setup.py install` and similarly the docs will not be hosted properly until the package is on pip, so at the moment they can just be built from the sou

[2018-07-24 07:05] steven-murray commented on #842
@whedon generate pdf

[2018-07-24 07:05] whedon commented on #842
[code]

[2018-07-24 07:06] whedon commented on #842
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00842/joss.00842/10.21105.joss.00842.pdf)

[2018-07-24 07:10] steven-murray commented on #842
@whedon generate pdf

[2018-07-24 07:10] whedon commented on #842
[code]

[2018-07-24 07:10] whedon commented on #842
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00842/joss.00842/10.21105.joss.00842.pdf)

[2018-07-24 08:16] ajjackson commented on #797
I've raised an issue [here](https://github.com/lucydot/effmass/issues/7) about spin-polarised calculations, happy to tick the last box once that's resolved!

I intend to use this package.  It provides convenient comparison of different fitting methods, which is a good sanity check, and implements a superior weighted method for effective-mass determination. The Kane model implementation provides a

[2018-07-24 08:52] williamjameshandley commented on #834
pragyansmita
nilesh-patil
ygrange
mattpitkin
zingale
adam-m-jcbs
ziotom78
wtgee
benjaminrose
Cadair
zhampel
nespinoza
FaustinCarter

[2018-07-24 10:08] pdebuyl commented on #831
@whedon generate pdf

[2018-07-24 10:09] whedon commented on #831
[code]

[2018-07-24 10:09] whedon commented on #831
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00831/joss.00831/10.21105.joss.00831.pdf)

[2018-07-24 10:45] pdebuyl commented on #831
From the list of reviewers, I can suggest:
- @tacaswell
- @richardjgowers
- @ha0ye
- @malramsay64

If this is not asking too much, can we ask whedon to pick another citation style? See issue https://github.com/openjournals/whedon/issues/2

[2018-07-24 11:09] leeper commented on #839
@davidnsousa Okay, thanks for those details. The term "social behavior" is unfortunately a bit ambiguous for a multidisciplinary audience as it could also imply sociology, anthropology, etc. Can you update the paper and README to reflect your meaning, perhaps with an example?

And yes, please add a LICENSE/LICENSE.txt/LICENSE.md file (and add it to `.Rbuildignore`).

[2018-07-24 11:36] davidnsousa commented on #839
@leeper thank you. Added example to README and paper. Is it more clear now? Also added LICENSE (and added LICENSE to `.Rbuildignore`)

[2018-07-24 11:40] davidnsousa commented on #839
@whedon commands

[2018-07-24 11:40] whedon commented on #839
Here are some things you can ask me to do:

[code]

[2018-07-24 12:36] ajjackson commented on #717
I believe we have now responded to all reviewer points, except for the suggestion to include a code-coverage badge. This is something we have considered, but it is going to be difficult to achieve _meaningful_ high coverage in a package that a) mostly consists of command line tools and b) mostly outputs graphics. At present the tests are focused on the internal data manipulation. It's achievable w

[2018-07-24 12:57] leeper commented on #839
Yes, that's helpful. Thanks.

[2018-07-24 13:10] Kevin-Mattheus-Moerman commented on #730
@whedon start review magic-word=bananas

[2018-07-24 13:10] whedon commented on #730
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/845. Feel free to close this issue now!

[2018-07-24 13:10] whedon opened #845 "[REVIEW]: PyNomaly"
**Submitting author:** @vc1492a (<a href="http://orcid.org/0000-0002-5279-4143">Valentino Constantinou</a>)
**Repository:** <a href="https://www.github.com/vc1492a/PyNomaly" target ="_blank">https://www.github.com/vc1492a/PyNomaly</a>
**Version:** v0.2.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @llllllllll
**Archive:** <a href="https://doi.org/10.5281/zenodo.1472519" target="_blank">10.5

[2018-07-24 13:10] whedon commented on #845
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @yzhao062 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-07-24 13:10] whedon commented on #845
[code]

[2018-07-24 13:11] #730 closed

[2018-07-24 13:11] whedon commented on #845
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00845/joss.00845/10.21105.joss.00845.pdf)

[2018-07-24 13:13] masspastore commented on #844
Dear Colleagues,

Thanks for the prompt feedback. From the list that you sent me I have
identified as possible reviewers the following based on their area of
expertise

- lebebr01; lebebr01@gmail.com

- russellpierce; russell.s.pierce@gmail.com

- jkarreth; jkarreth@ursinus.edu

Best wishes,
Massimiliano Pastore

________________________________________________________
Massimiliano Pastore
Departm

[2018-07-24 13:13] Kevin-Mattheus-Moerman commented on #845
@vc1492a @yzhao062 this is where the review takes place. I aim to find more reviewers but to avoid further delay we can get started here.
@yzhao062 could you provide an estimate as to when you think you'll be able to finish the review? Thanks! :robot: :rocket:

[2018-07-24 13:14] Kevin-Mattheus-Moerman commented on #818
@trallard thanks again for being a reviewer for this submission. How are you getting on? Let me know if I can help.

[2018-07-24 13:20] Kevin-Mattheus-Moerman commented on #806
@trallard @moorepants @cybanical @tshu @CELavecchia would you be interested in reviewing this [JOSS](http://joss.theoj.org/about) submission? The review process (once initiated) will take place on GitHub and focuses on [a short paper](https://github.com/openjournals/joss-papers/blob/joss.00806/joss.00806/10.21105.joss.00806.pdf) and the [software](https://github.com/anmuller/CusToM).

[2018-07-24 13:39] Kevin-Mattheus-Moerman commented on #671
@hooman650 as you are aware you have received comments from the reviewers in this issue and also [here](https://github.com/openjournals/joss-papers/issues/6). Please try to respond to the reviewers as best you can.

@fernandoandreotti and @marianux, I aimed to summarize  your points below. Please correct me and/or statements as you see fit.

- :memo:  Comments by @fernandoandreotti

- [ ] "I think

[2018-07-24 13:40] Kevin-Mattheus-Moerman commented on #671
@cMadan would you be able to assist with the editing of this one? I will be extremely busy for the next two weeks and it would be great to help move the review of this submission along.

[2018-07-24 14:13] jedbrown commented on #836
Thanks for your submission. I have some questions and concerns:

* I don't see any source code in the repository, just an executable. Is that intentional?

* The CeCILL-B license is not OSI-approved (for the same reason 4-clause BSD is not).

https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

* Can you explain how you believe this software fits the _research_ criteria i

[2018-07-24 14:34] blokhin commented on #837
@whedon commands

[2018-07-24 14:34] whedon commented on #837
Here are some things you can ask me to do:

[code]

[2018-07-24 15:00] trallard commented on #818
Hi! I am working on this as the moment. I was planning to complete it over the weekend

[2018-07-24 15:41] kyleniemeyer commented on #717
Hi @jarvist I noticed a few of your checklist items unfilled above—are you satisfied with the changes they have made?

[2018-07-24 15:59] moorepants commented on #806
I could review this except that I do not have access to Matlab. Does it run in Octave? If so, I will review.

[2018-07-24 16:05] Kevin-Mattheus-Moerman commented on #806
@mnawrot are you interested in reviewing this work?

[2018-07-24 18:03] cenonn commented on #788
Hi @katyhuff . The package is definitely simple and actually uses the packages you mentioned. This package is meant to bring some of the functionality of the R 'boot' package into the python ecosystem. The primary feature isn't that it creates a bootstrap distribution as that's trivial; the real benefit is the ability to easily extract a variety of estimates from the bootstrap distribution.

[2018-07-24 18:29] whedon commented on #797
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00797/joss.00797/10.21105.joss.00797.pdf)

[2018-07-24 18:47] lucydot commented on #797
Thanks for the feedback @mkhorton and @ajjackson, it is really useful. @ajjackson I am chuffed you are planning to make use of it :smiley:

@mkhorton thanks for pointing out the possible testing pitfall,  I've raised it as an issue on the repo.

**Functionality**:

- I have looked at the issues raised @ajjackson ([here](https://github.com/lucydot/effmass/issues/5) and [here](https://github.com/luc

[2018-07-24 19:05] katyhuff commented on #797
This looks like a very comprehensive response @lucydot . I think that these changes are sufficient and hopefully @ajjackson will confirm. Assuming this is confirmed, I think this is ready to accept. I know you intend to include a reference to the sumo JOSS paper, but I don't think the review process for sumo should delay the review process for this work. If a reference to the sumo repository can b

[2018-07-24 19:13] katyhuff commented on #788
Hi @cenonn thanks for the response. I guess what I'm trying to get at is whether there is truly a need for this work. It seems to me that the various estimates one might want from such a distribution can be calculated with numpy and scikit-learn as well. Perhaps I'm the wrong person to contribute as editor, given it's still not quite clear to me what makes this package nontrivial.

[2018-07-24 21:17] arfon commented on #834
:wave: @zhampel @FaustinCarter - would you be willing to review this submission for JOSS?

[2018-07-24 22:59] kalendar commented on #841
@whedon generate pdf

[2018-07-24 22:59] whedon commented on #841
[code]

[2018-07-24 23:00] whedon commented on #841
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00841/joss.00841/10.21105.joss.00841.pdf)

[2018-07-24 23:22] leouieda commented on #808
@lheagy @viktor76525 sorry for the huge delay. I'll try to get some time for the review this week.

[2018-07-25 02:04] peterjwatkins commented on #833
The YAML header has been reviewed and the problem rectified - incorrect indent on affiliations

[2018-07-25 02:22] momargoh commented on #710
OK, the docs are building OK https://mcycle.readthedocs.io/index.html. For now the source has to be installed from source as opposed to from pip. I have updated my JOSS submission to v1.0.0: the latest version of the source code.

[2018-07-25 03:03] vc1492a commented on #845
@yzhao062 Current GitHub release is 0.2.1, as PyNomaly received an update after submission.

[2018-07-25 08:51] leeper commented on #841
@whedon add @seankross as reviewer

[2018-07-25 08:51] whedon commented on #841
OK, @seankross is now a reviewer

[2018-07-25 08:52] leeper commented on #841
@whedon start review

[2018-07-25 08:52] whedon commented on #841
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/846. Feel free to close this issue now!

[2018-07-25 08:52] whedon opened #846 "[REVIEW]: RISE: An R package for RISE analysis"
**Submitting author:** @kalendar (<a href="http://orcid.org/0000-0001-6722-4744">David Wiley</a>)
**Repository:** <a href="https://github.com/lumenlearning/rise" target ="_blank">https://github.com/lumenlearning/rise</a>
**Version:** v1.0
**Editor:** @leeper
**Reviewer:** @seankross
**Archive:** <a href="https://doi.org/10.5281/zenodo.1340648" target="_blank">10.5281/zenodo.1340648</a>

## Status

[2018-07-25 08:52] whedon commented on #846
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @seankross it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-07-25 08:52] whedon commented on #846
[code]

[2018-07-25 08:52] whedon commented on #846
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00846/joss.00846/10.21105.joss.00846.pdf)

[2018-07-25 08:53] leeper commented on #846
@seankross The review issue is here. Let me know if you have any questions.

[2018-07-25 08:53] #841 closed

[2018-07-25 11:01] wimvanderbauwhede commented on #843
Sorry, the paper was in my devel branch, I've now added it to the master branch.

[2018-07-25 11:52] cMadan commented on #813
@whedon generate pdf

[2018-07-25 11:52] whedon commented on #813
[code]

[2018-07-25 11:53] whedon commented on #813
PDF failed to compile for issue #813 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Marianna E. Carlucci (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/w

[2018-07-25 11:54] cMadan commented on #813
@dbrookswr, can you correct the ORCiD for your coauthor?

[2018-07-25 13:38] blokhin commented on #837
Please let me invite @mohammadidinani and @kxyyang as reviewers. The review should take 10-15 minutes of their time.

[2018-07-25 14:43] robwschlegel commented on #821
I've addressed the issues at robwschlegel/heatwaveR#7

[2018-07-25 14:53] leeper commented on #821
Great, thank you @robwschlegel. @khaors Can you take a look and see if there's anything else that should be addressed?

[2018-07-25 15:04] jakevdp commented on #832
@whedon commands

[2018-07-25 15:04] whedon commented on #832
Here are some things you can ask me to do:

[code]

[2018-07-25 15:04] whedon commented on #832
OK, the editor is @jakevdp

[2018-07-25 15:05] jakevdp commented on #832
@manodeep or @wtgee, would you be willing to serve as a reviewer for this submission?

[2018-07-25 15:06] bmorris3 commented on #832
@manodeep has privately declined via Twitter, no response yet from @wtgee.

[2018-07-25 15:14] moorepants commented on #818
@whedon generate pdf

[2018-07-25 15:14] whedon commented on #818
[code]

[2018-07-25 15:17] FaustinCarter commented on #834
Sure. I can do that. Give me a week or so to look over the code. After skimming the paper quickly I think it could benefit from a rewrite. Some specific comments by paragraph:

1:
-Why does this end in a colon? Are you about to present an example?
-Your tense is off. I think you mean "probability distributions" rather than "a probability distribution" (which would imply a single distribution for a

[2018-07-25 16:46] moorepants commented on #818
Hi, I just noticed that the release of plotly 3 has backwards incompatible changes which have broken this program, see: https://gitlab.com/moorepants/skijumpdesign/issues/54

I won't have time to address this till the weekend, but likely if Plotly < 3 is install things should work.

FYI

[2018-07-25 16:47] moorepants commented on #818
@monthubbard fyi, the review is now happening here.

[2018-07-25 17:12] arfon commented on #833
@whedon generate pdf

[2018-07-25 17:12] whedon commented on #833
[code]

[2018-07-25 17:12] whedon commented on #833
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00833/joss.00833/10.21105.joss.00833.pdf)

[2018-07-25 17:13] arfon commented on #843
@whedon generate pdf

[2018-07-25 17:14] whedon commented on #843
[code]

[2018-07-25 17:14] whedon commented on #843
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00843/joss.00843/10.21105.joss.00843.pdf)

[2018-07-25 17:20] arfon commented on #834
Thanks for agreeing to work on this @FaustinCarter. I'd like to find a couple of reviewers for this submission. Once I've identified a second reviewer, I'll go ahead and set up the main review issue which will provide a checklist for you to work through.

[2018-07-25 18:04] karthik commented on #823
Yes happy to review.

[2018-07-25 18:07] karthik commented on #823
Have reached out to two reviewers on 07/25

[2018-07-25 18:15] karthik commented on #823
@whedon commands

[2018-07-25 18:15] whedon commented on #823
Here are some things you can ask me to do:

[code]

[2018-07-25 18:16] karthik commented on #823
@whedon add @sckott as reviewer

[2018-07-25 18:16] whedon commented on #823
OK, @sckott is now a reviewer

[2018-07-25 18:17] karthik commented on #823
@sckott Hang on till I assign the second reviewer and then I'll start the review thread which will contain the checklist and more instructions. 🙏

[2018-07-25 18:59] yzhao062 commented on #845
@Kevin-Mattheus-Moerman @vc1492a I am about to start by following the review schedule  above. Given I need some time to familiarize myself with the process, I would say 7-10 days is a safe estimate (should be faster though).

[2018-07-25 20:18] nespinoza commented on #832
Hi @bmorris3; would love to, but I'm swamped right now and currently already reviewing a paper. Might I reccommend @rabrahm (https://github.com/rabrahm)?

[2018-07-25 22:15] karthik commented on #823
@whedon add @goldingn as reviewer

[2018-07-25 22:15] whedon commented on #823
OK, @goldingn is now a reviewer

[2018-07-25 22:16] karthik commented on #823
@whedon start review

[2018-07-25 22:16] whedon commented on #823
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/847. Feel free to close this issue now!

[2018-07-25 22:16] whedon opened #847 "[REVIEW]: sdmbench: An R Package for Benchmarking Species Distribution Models"
**Submitting author:** @boyanangelov (<a href="http://orcid.org/0000-0001-5068-4234">Boyan Angelov</a>)
**Repository:** <a href="https://github.com/boyanangelov/sdmbench" target ="_blank">https://github.com/boyanangelov/sdmbench</a>
**Version:** v0.1.2
**Editor:** @karthik
**Reviewer:** @sckott, @goldingn
**Archive:** <a href="https://doi.org/10.5281/zenodo.1436376" target="_blank">10.5281/zenodo.

[2018-07-25 22:16] whedon commented on #847
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @sckott, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-07-25 22:16] whedon commented on #847
[code]

[2018-07-25 22:17] whedon commented on #847
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00847/joss.00847/10.21105.joss.00847.pdf)

[2018-07-25 22:17] #823 closed

[2018-07-25 22:18] karthik commented on #847
🙏  very much @sckott, @goldingn. Please let me know if you have any questions about the review process.

[2018-07-26 00:21] peterjwatkins commented on #833
The article PDF is satisfactory

[2018-07-26 00:52] arokem commented on #835
@whedon assign @arokem as editor

[2018-07-26 00:52] whedon commented on #835
OK, the editor is @arokem

[2018-07-26 00:53] wtgee commented on #832
Hi folks, thanks for asking. I can help out with the review but won't get
to it until this weekend.

On Thu, Jul 26, 2018 at 6:18 AM Néstor Espinoza <notifications@github.com>
wrote:

--
~Wilfred Tyler Gee

[2018-07-26 00:55] arokem commented on #835
Happy to do it! I saw the scipy talk on youtube and enjoyed that. Happy to see this paper submitted for review in JOSS.

@lmcinnes: do you have suggestions for reviewers? You can see a list of potential reviewers [here](https://bit.ly/joss-reviewers).

[2018-07-26 02:46] lmcinnes commented on #835
Glad you enjoyed the talk! That is an impressively long list of reviewers. Some potential suggestions based on that list are: glemaitre; stsievert; jsgalan; rabst; terrytangyuan, although there are a number of other clearly qualified individuals on that list, so I would also be happy with many others. I would also note that corybrunson has ideal expertise (topological data analysis in particular),

[2018-07-26 07:12] manodeep commented on #832
@bmorris3 @jakevdp My apologies for not being able to review. I know nothing about echelle spectra and only a little bit of python.

[2018-07-26 07:23] zhampel commented on #834
Hey @arfon, yes I'd be willing to review, however, I will realistically be able to take a close look in a week. If that's too long of a delay, then feel free to request another reviewer.

[2018-07-26 07:35] leeper commented on #838
@whedon assign @andybega as reviewer

[2018-07-26 07:35] whedon commented on #838
OK, the reviewer is @andybega

[2018-07-26 07:35] leeper commented on #838
@whedon start review

[2018-07-26 07:35] whedon opened #848 "[REVIEW]: countrycode: An R package to convert country names and country codes"
**Submitting author:** @vincentarelbundock (<a href="http://orcid.org/0000-0003-2042-7063">Vincent Arel-Bundock</a>)
**Repository:** <a href="https://github.com/vincentarelbundock/countrycode" target ="_blank">https://github.com/vincentarelbundock/countrycode</a>
**Version:** 1.00.0
**Editor:** @leeper
**Reviewer:** @andybega
**Archive:** <a href="https://doi.org/10.5281/zenodo.1341914" target="_b

[2018-07-26 07:35] whedon commented on #838
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/848. Feel free to close this issue now!

[2018-07-26 07:35] whedon commented on #848
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @andybega it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-07-26 07:35] whedon commented on #848
[code]

[2018-07-26 07:35] #838 closed

[2018-07-26 07:36] whedon commented on #848
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00848/joss.00848/10.21105.joss.00848.pdf)

[2018-07-26 07:36] leeper commented on #848
@andybega The review checklist is here - work through and see if anything is missing or could be improved, flag any relevant issues, and ping me when you've completed your review. It sounds like you're already familiar with the package, so I imagine this should be pretty straightforward. Thanks, again!

[2018-07-26 09:18] wtgee commented on #832
I'll be following the [review process guide](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) but let me know if there is otherwise something I should know as this is my first JOSS review. Thanks!

[2018-07-26 09:40] CELavecchia commented on #806
I am very interested in the topic, however I am not able to do it in the next weeks.

[2018-07-26 10:26] whedon opened #849 "[REVIEW]: fgivenx: a python package for functional posterior plotting"
**Submitting author:** @williamjameshandley (<a href="http://orcid.org/0000-0002-5866-0445">Will Handley</a>)
**Repository:** <a href="https://github.com/williamjameshandley/fgivenx" target ="_blank">https://github.com/williamjameshandley/fgivenx</a>
**Version:** v2.1.0
**Editor:** @arfon
**Reviewer:** @FaustinCarter, @zhampel
**Archive:** <a href="https://doi.org/10.5281/zenodo.1404584" target="_

[2018-07-26 10:30] arfon commented on #804
@chasemc - could you take a look at this list of viewers and see if you can identify any other potential candidates? https://bit.ly/joss-reviewers

[2018-07-26 10:31] arfon commented on #804
Also, feel free to nominate anyone you are aware of professionally that might be able to review that isn't in this list.

[2018-07-26 12:35] dfm commented on #842
@arfon: sure!

[2018-07-26 12:56] arfon commented on #842
@whedon set @dfm as reviewer

[2018-07-26 12:56] arfon commented on #842
@whedon add @dfm as reviewer

[2018-07-26 12:56] whedon commented on #842
OK, @dfm is now a reviewer

[2018-07-26 12:57] arfon commented on #842
@whedon start review

[2018-07-26 12:57] whedon opened #850 "[REVIEW]: powerbox: A Python package for creating structured fields with isotropic power spectra"
**Submitting author:** @steven-murray (<a href="http://orcid.org/0000-0003-3059-3823">Steven Murray</a>)
**Repository:** <a href="https://github.com/steven-murray/powerbox" target ="_blank">https://github.com/steven-murray/powerbox</a>
**Version:** v0.5.5
**Editor:** @arfon
**Reviewer:** @dfm
**Archive:** <a href="https://doi.org/10.5281/zenodo.1400822" target="_blank">10.5281/zenodo.1400822</a>

[2018-07-26 12:57] whedon commented on #842
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/850. Feel free to close this issue now!

[2018-07-26 12:57] whedon commented on #850
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @dfm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2018-07-26 12:57] whedon commented on #850
[code]

[2018-07-26 12:57] whedon commented on #850
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00850/joss.00850/10.21105.joss.00850.pdf)

[2018-07-26 12:57] arfon commented on #842
Thanks @dfm for agreeing to review this submission. You know how this goes :-) see you over in #850 for the actual review.

[2018-07-26 12:57] #842 closed

[2018-07-26 14:24] hugoledoux commented on #808
# version

there is no release

# installation

I accepted thinking, perhaps foolishly, that I could just install it under macOS. But after trying to install a few libraries, I just saw this: https://github.com/ucgmsim/GMSimViz#other-systems

Is this because you've never tried, or because you know it's impossible?

Also, I could install most of the packages, but sometimes it's difficult which one

[2018-07-26 16:22] davidnsousa commented on #839
@leeper what is the next step? Thanks!

[2018-07-26 17:25] whedon opened #851 "[PRE REVIEW]: logKDE: log-transformed kernel density estimation"
**Submitting author:** @hiendn (<a href="http://orcid.org/0000-0002-9958-432X">Hien Nguyen</a>)
**Repository:** <a href="https://github.com/andrewthomasjones/logKDE" target ="_blank">https://github.com/andrewthomasjones/logKDE</a>
**Version:** v0.3.1
**Editor:** @arfon
**Reviewers:** @strengejacke

**Author instructions**

Thanks for submitting your paper to JOSS @hiendn. The JOSS editor (shown at

[2018-07-26 17:25] whedon commented on #851
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-26 17:25] whedon commented on #851
[code]

[2018-07-26 17:25] whedon opened #852 "[PRE REVIEW]: Estimating statistics from multi-state models using simulation with multistateutil"
**Submitting author:** @stulacy (<a href="http://orcid.org/0000-0002-8570-7528">Stuart Lacy</a>)
**Repository:** <a href="https://github.com/stulacy/multistateutils" target ="_blank">https://github.com/stulacy/multistateutils</a>
**Version:** v1.2.0
**Editor:** @arfon
**Reviewers:** @tgerke, @jenniferthompson, @rrrlw

**Author instructions**

Thanks for submitting your paper to JOSS @stulacy. The

[2018-07-26 17:25] whedon commented on #851
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00851/joss.00851/10.21105.joss.00851.pdf)

[2018-07-26 17:25] whedon commented on #852
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-26 17:25] whedon commented on #852
[code]

[2018-07-26 17:25] whedon commented on #852
Failed to discover a valid open source license.

[2018-07-26 17:26] whedon commented on #852
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00852/joss.00852/10.21105.joss.00852.pdf)

[2018-07-26 17:26] whedon opened #853 "[PRE REVIEW]: GB_code: A grain boundary generation code"
**Submitting author:** @oekosheri (<a href="http://orcid.org/0000-0002-9616-4602">raheleh Hadian</a>)
**Repository:** <a href="https://github.com/oekosheri/GB_code" target ="_blank">https://github.com/oekosheri/GB_code</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewers:** @vyasr, @trallard

**Author instructions**

Thanks for submitting your paper to JOSS @oekosheri. The JOSS editor (shown a

[2018-07-26 17:43] labarba commented on #787
@CorySimon --- Do let me know if you are satisfied with the author's mods, and if you are ready to recommend acceptance of this submission. Thanks for  your contribution to JOSS!

[2018-07-26 20:43] oekosheri commented on #853
Thanks, I edited paper.md and merged. does it look alright now?

[2018-07-26 23:57] bmorris3 commented on #832
@whedon add @wtgee as reviewer

[2018-07-26 23:58] whedon commented on #832
I'm sorry @bmorris3, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-07-27 01:41] jakevdp commented on #832
@whedon add @wtgee as reviewer

[2018-07-27 01:41] whedon commented on #832
OK, @wtgee is now a reviewer

[2018-07-27 01:42] jakevdp commented on #832
@whedon start review

[2018-07-27 01:42] whedon opened #854 "[REVIEW]: aesop: ARC Echelle Spectroscopic Observation Pipeline"
**Submitting author:** @bmorris3 (<a href="http://orcid.org/0000-0003-2528-3409">Brett Morris</a>)
**Repository:** <a href="https://github.com/bmorris3/aesop" target ="_blank">https://github.com/bmorris3/aesop</a>
**Version:** v0.1
**Editor:** @jakevdp
**Reviewer:** @wtgee
**Archive:** <a href="https://doi.org/10.5281/zenodo.1345807" target="_blank">10.5281/zenodo.1345807</a>

## Status

[![status

[2018-07-27 01:42] whedon commented on #832
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/854. Feel free to close this issue now!

[2018-07-27 01:42] whedon commented on #854
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @wtgee it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-07-27 01:42] whedon commented on #854
[code]

[2018-07-27 01:42] #832 closed

[2018-07-27 01:43] whedon commented on #854
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00854/joss.00854/10.21105.joss.00854.pdf)

[2018-07-27 03:32] hiendn commented on #851
@whedon commands

[2018-07-27 03:32] whedon commented on #851
Here are some things you can ask me to do:

[code]

[2018-07-27 03:39] hiendn commented on #851
Upon perusal of the list of reviewers, I have identified the following people to be suitable:

@amoeba
@sctyner
@AlexAxthelm
@corybrunson
@strengejacke
@kdirek

Please let me know if further suggestions are needed!

[2018-07-27 05:39] CorySimon commented on #787
Yes, thank you @vyasr for taking my suggestions into account. Rowan is a nice piece of software, and I'm sure many will find it useful!

I apologize for taking 13 days to see this; I don't recall seeing an email notification from the above post, and this Github account is linked to my personal email.

As an intriguing side note, I also like [the story of how quaternions were discovered/invented](h

[2018-07-27 08:38] hiendn commented on #851
@whedon generate pdf

[2018-07-27 08:38] whedon commented on #851
[code]

[2018-07-27 08:38] whedon commented on #851
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00851/joss.00851/10.21105.joss.00851.pdf)

[2018-07-27 10:13] leeper commented on #839
An editor will pick up your submission shortly. It will likely not be me as this is outside of my area.

[2018-07-27 11:44] arfon commented on #853
@whedon generate pdf

[2018-07-27 11:44] whedon commented on #853
[code]

[2018-07-27 11:44] whedon commented on #853
PDF failed to compile for issue #853 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    150      0 --:--:-- --:--:-- --:--:--   151
pandoc-citeproc: r

[2018-07-27 13:36] vyasr commented on #787
@whedon generate pdf

[2018-07-27 13:36] whedon commented on #787
[code]

[2018-07-27 13:36] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:12] vyasr commented on #787
@whedon generate pdf

[2018-07-27 14:12] whedon commented on #787
[code]

[2018-07-27 14:13] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:17] vyasr commented on #787
@whedon generate pdf

[2018-07-27 14:17] whedon commented on #787
[code]

[2018-07-27 14:17] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:31] vyasr commented on #787
@whedon generate pdf

[2018-07-27 14:31] whedon commented on #787
[code]

[2018-07-27 14:31] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:31] labarba commented on #787
Good effort! Were you able at any point to get the figures of a smaller size, so a short text snippet would fit under them in page 2?

[2018-07-27 14:33] vyasr commented on #787
That's what I'd like to do! I'm having a bit of trouble with it though (sorry for the deluge of recompilations). Can I control the figure size directly in any way? It's currently a bit larger than I'd like, so not only does no text fit under it, but also the labels on the left are getting cut off a little.

[2018-07-27 14:35] vyasr commented on #787
@whedon generate pdf

[2018-07-27 14:35] whedon commented on #787
[code]

[2018-07-27 14:35] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:36] mdoucet commented on #825
I've completed my review. While I'm not a subject matter expert of energy systems modeling, I found the documentation quite clear. I was able to go through examples without any issue. The code itself is well organized, with great use of continuous integration and automated testing.

[2018-07-27 14:37] labarba commented on #787
I agree that they are a bit large. I'm not sure if we can have embedded HTML, in which case you could use the `width` property:

`img src="dir/file.png" width="200">`

[2018-07-27 14:40] labarba commented on #787
How about just moving the figures to the end? Not ideal, but might work better in this case.

[2018-07-27 14:40] vyasr commented on #787
@whedon generate pdf

[2018-07-27 14:40] whedon commented on #787
[code]

[2018-07-27 14:41] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:41] vyasr commented on #787
I gave the HTML solution a shot, let's see how it looks. If it doesn't work, then I'll do as you suggest and move the figure to the end.

[2018-07-27 14:42] vyasr commented on #787
@whedon generate pdf

[2018-07-27 14:42] whedon commented on #787
[code]

[2018-07-27 14:42] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:44] vyasr commented on #787
If I split the paragraph up I can get some of the text onto the first page, but the figure insists on taking up the full page and being a bit too wide to properly fit the existing margins.

[2018-07-27 14:44] vyasr commented on #787
@whedon generate pdf

[2018-07-27 14:44] whedon commented on #787
[code]

[2018-07-27 14:45] FaustinCarter commented on #849
I have some specific comments on the paper which I outline here by paragraph. I'll have comments on the code soon.

Paragraph 1:
------------
 - Why does this end in a colon? Are you about to present an example?
 - Your tense is off. I think you mean "probability distributions" rather than "a probability distribution" (which would imply a single distribution for all unknown parameters in the unive

[2018-07-27 14:45] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:47] labarba commented on #787
Yikes. They don't appear if you place them in the end???

(I always tell my students: prepare your figures and output the image in the size you will use in the document :-)

@arfon Help! We're having problem with float placement!

[2018-07-27 14:48] vyasr commented on #787
@whedon generate pdf

[2018-07-27 14:48] whedon commented on #787
[code]

[2018-07-27 14:48] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 14:50] vyasr commented on #787
Ooops no that was a different problem, a different way I tried to fix the size. Clearly did not work too well!

Yes, perhaps it will work better if I take the programatically generated png, import it into a properly sized Illustrator artboard, and then export that as PDF. Currently no matter what size I output the png as, it's getting resized to the full width of the page.

[2018-07-27 15:09] lheagy commented on #808
Hi @hugoledoux, thanks for your comments. To answer your question, we can accept platform-specific packages. If it runs only on Linux, that is okay. However, if having a workflow to install on other systems (e.g. mac) is not overly challenging, I would encourage that to be added to the docs (even if there is a disclaimer that the workflow is a bit hacky) - This would increase the potential audienc

[2018-07-27 15:10] labarba commented on #787
Then you could add white side margins _to the figure_, leaving the vertical image size the same.

[2018-07-27 15:11] labarba commented on #787
It's currently not so bad (and fits in 3 pages), but the figure caption clashes with the footer rule.

[2018-07-27 15:37] vyasr commented on #787
@whedon generate pdf

[2018-07-27 15:37] whedon commented on #787
[code]

[2018-07-27 15:37] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 15:40] vyasr commented on #787
OK the width issue appears to be fixed now. The primary outstanding problem is the figure height. Additional padding to the figure just leaves additional white space between the figure content and the caption, but the caption position still overlaps the footer rule.

[2018-07-27 16:36] lheagy commented on #811
Hi @marcoalopez, @khaors: quick update, I have sent an email to @jsta asking if he is willing to review. I will keep you updated

[2018-07-27 17:20] arfon commented on #787
@vyasr - you can limit the figure height like this:

[code]

[2018-07-27 17:59] Kevin-Mattheus-Moerman commented on #845
@yzhao062 thanks. Okay, let me know if you need help.

[2018-07-27 18:14] vyasr commented on #787
@whedon generate pdf

[2018-07-27 18:14] whedon commented on #787
[code]

[2018-07-27 18:15] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 18:16] vyasr commented on #787
@whedon generate pdf

[2018-07-27 18:16] whedon commented on #787
[code]

[2018-07-27 18:16] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 18:22] vyasr commented on #787
@whedon generate pdf

[2018-07-27 18:22] whedon commented on #787
[code]

[2018-07-27 18:22] whedon commented on #787
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00787/joss.00787/10.21105.joss.00787.pdf)

[2018-07-27 18:33] vyasr commented on #787
Thanks @arfon, that worked!

@labarba I think it's fine now. I tried playing with it a bit to see if I could get some text onto the same page as the figure, but the figure needs to be quite small before that happens so I did just enough to fix the issues with the footer. Let me know if you would like me to try reflowing text around the figure somehow though.

[2018-07-27 18:49] labarba commented on #787
Looks good now, phew!

@arfon — this submission is ready to process for publication.

@pdebuyl, @CorySimon — Thank you for your contribution to this adventure in new scholarly publishing!

[2018-07-27 20:58] pdebuyl commented on #787
@labarba and all, my pleasure :-)

BTW, if you wish to fix the author naming issue in the reference (that was mentioned in the pre-review), you will need to wait for https://github.com/openjournals/joss/issues/400 to be fixed.

[2018-07-27 22:31] arokem commented on #822
Hey @glemaitre! Would you be willing to review this article for [The Journal of Open Source Software](http://joss.theoj.org/)? It seems to be within your area of expertise. To read more about what the review process entails, please see [this page](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

[2018-07-27 22:34] arokem commented on #835
👋 @terrytangyuan : would you be willing to review this paper for JOSS?

[2018-07-27 23:34] mnarayan commented on #822
Sure, @arokem Happy to review

[2018-07-28 04:10] Benjamin-Lee commented on #769
@whedon list editors

[2018-07-28 04:10] whedon commented on #769
Current editors:

[code]

[2018-07-28 10:02] maxrousseau commented on #822
Thank you @mnarayan!

[2018-07-28 10:31] glemaitre commented on #822
I will be able to review it as well

Sent from my phone - sorry to be brief and potential misspell.

[2018-07-28 13:03] maxrousseau commented on #822
Thank you @glemaitre!

[2018-07-28 16:29] slithiaote commented on #836
Thank you for your comments.

- It is intentional not to have source code in a separate file from documentation :
-- In the literate programming paradigm, source code is presented in a human readable format, regardless of the constraints of the programming language. Consequently, it is usually embedded in a file in documentation format. Here, the source code is embedded in the plain text lepton.nw

[2018-07-28 17:42] jedbrown commented on #836
1. How was `lepton.bin` bootstrapped? Is it possible to recreate without executing the existing Linux/x86-only binary?

2. Correct, CeCILL-B (which is very different from CeCILL-2.1) is not OSI-approved.

3. This is more "meta" than typical, but there have been accepted papers on tooling to facilitate reproducible research and I think it would be in scope according to that precedent.

[2018-07-28 17:47] arokem commented on #822
Great. I believe I can assign you both to review this.

[2018-07-28 17:47] arokem commented on #822
@whedon add @glemaitre as reviewer

[2018-07-28 17:47] whedon commented on #822
OK, @glemaitre is now a reviewer

[2018-07-28 17:47] arokem commented on #822
@whedon add @mnarayan as reviewer

[2018-07-28 17:47] whedon commented on #822
OK, @mnarayan is now a reviewer

[2018-07-28 17:48] arokem commented on #822
@whedon start review

[2018-07-28 17:48] whedon opened #855 "[REVIEW]: pfla: A Python Package for Dental Facial Analysis using Computer Vision and Statistical Shape Analysis"
**Submitting author:** @maxrousseau (<a href="http://orcid.org/0000-0002-1417-2511">Maxime Rousseau</a>)
**Repository:** <a href="https://github.com/maxrousseau/pfla" target ="_blank">https://github.com/maxrousseau/pfla</a>
**Version:** v0.1.4
**Editor:** @arokem
**Reviewer:** @glemaitre, @mnarayan
**Archive:** <a href="https://doi.org/10.5281/zenodo.1761769" target="_blank">10.5281/zenodo.1761769

[2018-07-28 17:48] whedon commented on #822
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/855. Feel free to close this issue now!

[2018-07-28 17:48] whedon commented on #855
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @glemaitre, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-07-28 17:48] whedon commented on #855
[code]

[2018-07-28 17:50] arokem commented on #822
Alright! @glemaitre and @mnarayan : please head over to #855 for the review, where you will find a checklist for each one of you at the top. I'll go ahead and close this one.

[2018-07-28 17:50] #822 closed

[2018-07-28 19:05] terrytangyuan commented on #835
Yes

[2018-07-28 19:18] whedon opened #856 "[PRE REVIEW]: nomisr: Access 'Nomis' UK Labour Market Data"
**Submitting author:** @EvanOdell (<a href="http://orcid.org/0000-0003-1845-808X">Evan Odell</a>)
**Repository:** <a href="https://github.com/ropensci/nomisr" target ="_blank">https://github.com/ropensci/nomisr</a>
**Version:** v0.3.2
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @EvanOdell. The JOSS editor (shown at the top of this is

[2018-07-28 19:18] whedon commented on #856
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-07-28 19:18] whedon commented on #856
[code]

[2018-07-28 19:18] whedon opened #857 "[PRE REVIEW]: Pymer4: Connecting R and Python for Linear Mixed Modeling"
**Submitting author:** @ejolly (<a href="http://orcid.org/0000-0002-6144-5789">Eshin Jolly</a>)
**Repository:** <a href="https://github.com/ejolly/pymer4" target ="_blank">https://github.com/ejolly/pymer4</a>
**Version:** 0.5.0
**Editor:** @cMadan
**Reviewers:** @RMHogervorst, @janfreyberg, @tomfaulkenberry

**Author instructions**

Thanks for submitting your paper to JOSS @ejolly. The JOSS editor

[2018-07-28 19:18] whedon commented on #857
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @cMadan it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-28 19:18] whedon commented on #857
[code]

[2018-07-28 19:19] arfon commented on #857
:wave: @cMadan -the submitting author suggested you as the handling editor.

[2018-07-28 19:19] whedon opened #858 "[PRE REVIEW]: TDAstats: R pipeline for computing persistent homology in topological data analysis"
**Submitting author:** @rrrlw (<a href="http://orcid.org/0000-0003-0503-9580">Raoul R. Wadhwa</a>)
**Repository:** <a href="https://github.com/rrrlw/TDAstats" target ="_blank">https://github.com/rrrlw/TDAstats</a>
**Version:** v0.2.0
**Editor:** @leeper
**Reviewers:** @corybrunson

**Author instructions**

Thanks for submitting your paper to JOSS @rrrlw. The JOSS editor (shown at the top of this i

[2018-07-28 19:19] whedon commented on #858
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-28 19:19] whedon commented on #858
[code]

[2018-07-28 19:19] whedon commented on #856
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00856/joss.00856/10.21105.joss.00856.pdf)

[2018-07-28 19:19] whedon commented on #857
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00857/joss.00857/10.21105.joss.00857.pdf)

[2018-07-28 19:19] whedon commented on #858
PDF failed to compile for issue #858 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    320      0 --:--:-- --:--:-- --:--:--   324
Error reading bibl

[2018-07-28 19:19] arfon commented on #858
:wave: @leeper, the submitting author suggested you as the handling editor.

[2018-07-28 19:20] arfon commented on #787
@vyasr - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-07-28 19:26] whedon opened #859 "[REVIEW]: nomisr: Access 'Nomis' UK Labour Market Data"
**Submitting author:** @EvanOdell (<a href="http://orcid.org/0000-0003-1845-808X">Evan Odell</a>)
**Repository:** <a href="https://github.com/ropensci/nomisr" target ="_blank">https://github.com/ropensci/nomisr</a>
**Version:** v0.3.2
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.1246845" target="_blank">10.5281/zenodo.1246845</a>

## Status

[![sta

[2018-07-28 19:31] arfon commented on #859
@evanodell, your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00859 ⚡️:rocket: :boom:

[2018-07-28 19:31] #859 closed

[2018-07-28 19:31] whedon commented on #859
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00859/status.svg)](https://doi.org/10.21105/joss.00859)

**We need your help!**

Journal of Open Source Softwar

[2018-07-28 19:48] stuartcampbell commented on #815
@arfon Sorry for the delay in getting back to this.

I was just reading the conflict of interest, and I notice that it has a definition of recent as 4 years… I used to be in the same group as Jean 2 years ago, but I was never involved in any of the work he was doing in the area related to this publication.  This will be the first time I will have actually seen or looked at any of this code/work.

[2018-07-28 20:33] rrrlw commented on #858
Thank you, @arfon, for the quick response and all the efforts put behind making JOSS successful. I suggested @leeper as the corresponding bio mentioned extensive experience with R packages. @leeper, I hope you find this an interesting submission. I have two notes that should make the reviewers'/editors' tasks easier:

1. TDAstats v0.2.0 (development version on GitHub repo) is being submitted to JO

[2018-07-28 20:34] rrrlw commented on #858
@whedon commands

[2018-07-28 20:34] whedon commented on #858
Here are some things you can ask me to do:

[code]

[2018-07-28 20:34] rrrlw commented on #858
@whedon generate pdf

[2018-07-28 20:34] whedon commented on #858
[code]

[2018-07-28 20:34] whedon commented on #858
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00858/joss.00858/10.21105.joss.00858.pdf)

[2018-07-28 20:45] rrrlw commented on #858
The error has been fixed, and the article proof generated by @whedon appears as intended. From the list of people who have agreed to review for JOSS, @corybrunson would likely be the best fit to review this submission given the familiarity with R and expertise in topological data analysis. Please let me know if there's anything I can do to make the pre-review/review process easier. Thank you!

[2018-07-28 21:17] ejolly commented on #857
@whedon commands

[2018-07-28 21:17] whedon commented on #857
Here are some things you can ask me to do:

[code]

[2018-07-28 21:35] wtgee commented on #854
@jakevdp I was recently also listed on the author's [astroplan paper](https://arxiv.org/abs/1712.09631). I'm looking at the conflict of interest policy and trying to decide if that applies but wanted to make you aware. Let me know if this presents an issue. Thanks!

[2018-07-28 23:15] corybrunson commented on #858
I would be delighted to review this package! I can finish within one week. (I wouldn't call my experience expertise, but i'm familiar with the concepts implemented.)

[2018-07-29 02:07] rrrlw commented on #858
Thank you, @corybrunson! Looking forward to your feedback.

[2018-07-29 04:17] leeper commented on #858
@corybrunson That's great. I'll add you as a reviewer and get this going right now.

[2018-07-29 04:17] leeper commented on #858
@whedon assign @corybrunson as reviewer

[2018-07-29 04:17] whedon commented on #858
OK, the reviewer is @corybrunson

[2018-07-29 04:17] leeper commented on #858
@whedon start review

[2018-07-29 04:17] whedon commented on #858
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/860. Feel free to close this issue now!

[2018-07-29 04:17] whedon opened #860 "[REVIEW]: TDAstats: R pipeline for computing persistent homology in topological data analysis"
**Submitting author:** @rrrlw (<a href="http://orcid.org/0000-0003-0503-9580">Raoul R. Wadhwa</a>)
**Repository:** <a href="https://github.com/rrrlw/TDAstats" target ="_blank">https://github.com/rrrlw/TDAstats</a>
**Version:** v0.2.0
**Editor:** @leeper
**Reviewer:** @corybrunson
**Archive:** <a href="https://doi.org/10.5281/zenodo.1341719" target="_blank">10.5281/zenodo.1341719</a>

## Status

[!

[2018-07-29 04:17] whedon commented on #860
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @corybrunson it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-07-29 04:17] whedon commented on #860
[code]

[2018-07-29 04:17] #858 closed

[2018-07-29 04:17] whedon commented on #860
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00860/joss.00860/10.21105.joss.00860.pdf)

[2018-07-29 04:18] leeper commented on #860
@corybrunson Review issue is here. Please follow the checklist and let me know if you have any questions.

[2018-07-29 07:43] RMHogervorst commented on #857
I'm willing to review this paper / software package.  :+1:

[2018-07-29 15:11] FaustinCarter commented on #849
A few comments on the install process:

 - I could not find installation instructions anywhere ( so I just guessed with pip). I also could not find a link to the documentation? Is it hosted somewhere, or is the user supposed to build it themselves? If the second, it would be good to include installation instructions and document building instructions directly in the github readme and in the descri

[2018-07-29 16:38] lkosmid commented on #711
Hi @danielskatz I'm back trying to catch up. I will provide an update during the week.

[2018-07-29 17:30] katyhuff commented on #710
It looks to me like @puncan approved this a few comments ago. (https://github.com/openjournals/joss-reviews/issues/710#issuecomment-407145425)

It seems you can go ahead and make the DOI whenever you're ready.

[2018-07-29 17:32] katyhuff commented on #797
It looks like there are still two open issues that you're communicating in ([here](https://github.com/lucydot/effmass/issues/5) and [here](https://github.com/lucydot/effmass/issues/7]). Perhaps one of you (@lucydot @ajjackson) when we're ready to move forward with the submission.

[2018-07-29 17:35] katyhuff commented on #829
@ledius Thanks for starting your review! It looks like you've checked the straightforward parts and functionality checks are remaining. I hope you won't hesitate to communicate with @costrouc and I here in this issue if you run into anything that is missing in this submission.

[2018-07-29 17:49] george-githinji commented on #769
whedon list reviewers

[2018-07-29 18:00] arokem commented on #835
Wonderful! Thanks a lot.

[2018-07-29 18:01] arokem commented on #835
@whedon assign @terrytangyuan as reviewer

[2018-07-29 18:01] whedon commented on #835
OK, the reviewer is @terrytangyuan

[2018-07-29 18:01] arokem commented on #835
@whedon start review

[2018-07-29 18:01] whedon opened #861 "[REVIEW]: UMAP: Uniform Manifold Approximation and Projection"
**Submitting author:** @lmcinnes (<a href="http://orcid.org/0000-0003-2143-6834">Leland McInnes</a>)
**Repository:** <a href="https://github.com/lmcinnes/umap" target ="_blank">https://github.com/lmcinnes/umap</a>
**Version:** v0.3.0
**Editor:** @arokem
**Reviewer:** @terrytangyuan
**Archive:** <a href="https://doi.org/10.5281/zenodo.1407268" target="_blank">10.5281/zenodo.1407268</a>

## Status

[2018-07-29 18:01] whedon commented on #835
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/861. Feel free to close this issue now!

[2018-07-29 18:01] whedon commented on #861
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @terrytangyuan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-07-29 18:01] whedon commented on #861
[code]

[2018-07-29 18:02] arokem commented on #835
OK @terrytangyuan : head on over to #861 for the review. I'm closing this one.

[2018-07-29 18:02] #835 closed

[2018-07-29 18:02] whedon commented on #861
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00861/joss.00861/10.21105.joss.00861.pdf)

[2018-07-29 19:51] chasemc commented on #804
@mwang87 would you still be able to review?  I know you said Windows machines are hard to come by.

[2018-07-29 19:56] chasemc commented on #804
If not- maybe @lgatto could or would know someone.

[2018-07-29 21:31] ecotillasanchez commented on #825
It was a pleasure to review this work by Pfenninger and Pickering. Excellent software and documentation. Please find below some suggestions:

* It is clear from the paper and the examples that the analysis scales well from urban to national networks. For a power systems user, however, it would be good to clarify that building a transmission model with Calliope is different than a traditional power

[2018-07-29 22:47] bmorris3 commented on #854
I've read and re-read the COI terms and I think we're clear @wtgee.

[2018-07-30 00:56] steven-murray commented on #850
@whedon generate pdf

[2018-07-30 00:56] whedon commented on #850
[code]

[2018-07-30 00:57] whedon commented on #850
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00850/joss.00850/10.21105.joss.00850.pdf)

[2018-07-30 01:36] pjotrp commented on #769
@whedon assign @george-githinji as editor

[2018-07-30 01:36] whedon commented on #769
OK, the editor is @george-githinji

[2018-07-30 07:20] lucydot commented on #797
Yes, I'd like to sort out the discrepancy with the sumo package in [issue #7](https://github.com/lucydot/effmass/issues/7)  - it looks like effmass is not handling spin-polarised data properly.

[2018-07-30 07:52] george-githinji commented on #769
@whedon list reviewers

[2018-07-30 07:52] whedon commented on #769
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-07-30 07:54] janfreyberg commented on #857
Me too!

[2018-07-30 08:40] drvinceknight commented on #761
Sorry for the late reply @arfon, I've had a week's leave. Thanks for taking a look at this :) Regenerating now :+1:

[2018-07-30 08:41] drvinceknight commented on #761
@whedon generate pdf

[2018-07-30 08:41] whedon commented on #761
[code]

[2018-07-30 08:41] whedon commented on #761
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00761/joss.00761/10.21105.joss.00761.pdf)

[2018-07-30 08:42] drvinceknight commented on #761
That's looking good to me, let me know if there's anything else I should/could do at this stage.

[2018-07-30 11:47] ajjackson commented on #797
Yes, [Issue 5 (partial occupancy)](https://github.com/lucydot/effmass/issues/5) is fine now. Just waiting on [issue 7](https://github.com/lucydot/effmass/issues/7) which affects the calculated values.

[2018-07-30 12:11] ledius commented on #829
@costrouc I have a question about SRIM. You have included srim in your docker container. Is it allowed by the licence of it or have you asked about it from the developers?

[2018-07-30 12:57] lucydot commented on #797
Latest commit to master fixes [issue 7](https://github.com/lucydot/effmass/issues/7)- thank-you for finding this bug @ajjackson, it was an important one!

[2018-07-30 13:11] ledius commented on #829
@costrouc There seems to be missing actual test functionalities. There seems to be some test scripts in the tests directory, but currently they do not do anything. One can use the jupyter notebook to verify the programs does work, but it isn't the same.

[2018-07-30 13:46] vyasr commented on #787
@arfon Here's the doi: 10.5281/zenodo.1323676.

[Zenodo link](https://zenodo.org/record/1323676)

[2018-07-30 13:49] costrouc commented on #829
@ledius regarding several of the items above.

Gitlab's interface is a bit different than Github's. `releases` are called `tags` they are [here](https://gitlab.com/costrouc/pysrim/tags)

The [documentation](pysrim.readthedocs.io) contains [benchmarks](https://pysrim.readthedocs.io/en/latest/benchmarks.html).

[2018-07-30 14:12] cMadan commented on #857
@ejolly, everything looks in order to me--I'll go ahead and start the review

@RMHogervorst, @janfreyberg, @tomfaulkenberry, great that you're all able and interested to review this submission! I'll add you all as reviewers! :)

[2018-07-30 14:13] cMadan commented on #857
@whedon add @RMHogervorst as reviewer

[2018-07-30 14:13] whedon commented on #857
OK, @RMHogervorst is now a reviewer

[2018-07-30 14:13] cMadan commented on #857
@whedon add @janfreyberg as reviewer

[2018-07-30 14:13] whedon commented on #857
OK, @janfreyberg is now a reviewer

[2018-07-30 14:13] cMadan commented on #857
@whedon add @tomfaulkenberry as reviewer

[2018-07-30 14:13] whedon commented on #857
OK, @tomfaulkenberry is now a reviewer

[2018-07-30 14:14] cMadan commented on #857
@whedon start review

[2018-07-30 14:14] whedon opened #862 "[REVIEW]: Pymer4: Connecting R and Python for Linear Mixed Modeling"
**Submitting author:** @ejolly (<a href="http://orcid.org/0000-0002-6144-5789">Eshin Jolly</a>)
**Repository:** <a href="https://github.com/ejolly/pymer4" target ="_blank">https://github.com/ejolly/pymer4</a>
**Version:** 0.5.0
**Editor:** @cMadan
**Reviewer:** @RMHogervorst, @janfreyberg, @tomfaulkenberry
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/1618e4e3f4a4c23f4c5

[2018-07-30 14:14] whedon commented on #862
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @RMHogervorst, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-07-30 14:14] whedon commented on #862
[code]

[2018-07-30 14:14] #857 closed

[2018-07-30 14:14] whedon commented on #862
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00862/joss.00862/10.21105.joss.00862.pdf)

[2018-07-30 14:59] cMadan commented on #656
Hi @spinicist, sorry I didn't see your reply here earlier!

The footer and website do just show the last name, without any initials. I'm not sure about how Zotero parses the meta data. I'm also not sure how integrated JOSS is with ORCiD (@arfon, maybe you can comment on this when you have a chance?). As far as I can tell, things are in order in the paper.md and resulting PDF.

[2018-07-30 15:23] labarba commented on #787
@pdebuyl You didn't tick the version item on the checklist ... I assume this is fine?

[2018-07-30 16:31] jsta commented on #811
@lheagy Yes, I can help with this review.

[2018-07-30 16:32] danielskatz commented on #817
👋  @corybrunson - can I ask you to do this as a second reviewer?

[2018-07-30 16:35] danielskatz commented on #830
👋 @ian-taylor & @gflofst - any update on your reviews?  I don't see any checkmarks yet...

[2018-07-30 16:36] gflofst commented on #830
Today.

On Jul 30, 2018, at 10:35 AM, Daniel S. Katz <notifications@github.com<mailto:notifications@github.com>> wrote:

👋 @ian-taylor<https://github.com/ian-taylor> & @gflofst<https://github.com/gflofst> - any update on your reviews? I don't see any checkmarks yet...

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/openjourna

[2018-07-30 17:04] lheagy commented on #811
Excellent, thanks @jsta!

[2018-07-30 17:04] lheagy commented on #811
@whedon add @jsta as reviewer

[2018-07-30 17:04] whedon commented on #811
OK, @jsta is now a reviewer

[2018-07-30 17:04] lheagy commented on #811
@whedon start review

[2018-07-30 17:04] whedon opened #863 "[REVIEW]: GrainSizeTools: a Python script for grain size analysis and paleopiezometry based on grain size"
**Submitting author:** @marcoalopez (<a href="http://orcid.org/0000-0002-0261-9267">Marco A. Lopez-Sanchez</a>)
**Repository:** <a href="https://marcoalopez.github.io/GrainSizeTools/" target ="_blank">https://marcoalopez.github.io/GrainSizeTools/</a>
**Version:** v2.0
**Editor:** @lheagy
**Reviewer:** @jsta
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/677d076203e90d16ea

[2018-07-30 17:04] whedon commented on #811
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/863. Feel free to close this issue now!

[2018-07-30 17:04] whedon commented on #863
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jsta it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently w

[2018-07-30 17:04] whedon commented on #863
[code]

[2018-07-30 17:04] #811 closed

[2018-07-30 17:04] whedon commented on #863
PDF failed to compile for issue #863 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/processor.

[2018-07-30 17:07] lheagy commented on #863
:wave: Thanks @khaors and @jsta for being willing to review! In the main issue thread above, there is a checklist for each of you to help guide the review. Please let me know if you have any questions or if I can provide any clarification.

[2018-07-30 17:13] arfon commented on #656
It is possible that the Crossref metadata is incorrect. That's possibly/probably what's going on.

I don't know quite what you mean - we use ORCID logins but we don't have any other integrations. I believe Crossref has the ability to auto-update\ ORCID profiles: https://www.crossref.org/blog/crossref-to-auto-update-orcid-records/

[2018-07-30 17:14] arfon commented on #787
@whedon set 10.5281/zenodo.1323676 as archive

[2018-07-30 17:16] arfon commented on #787
@whedon commands

[2018-07-30 17:18] whedon commented on #863
[code]

[2018-07-30 17:19] whedon commented on #787
OK. <a href="https://doi.org/10.5281/zenodo.1323676" target="_blank">10.5281/zenodo.1323676</a> is the archive.

[2018-07-30 17:20] mwang87 commented on #804
@chasemc Would be happy to review. I have my personal windows machine at home that I can install it on.

--Ming

[2018-07-30 17:26] arfon commented on #787
@pdebuyl, @CorySimon - many thanks for your reviews here and to @labarba for editing this submission ✨

@vyasr - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00787 :zap: :rocket: :boom:

[2018-07-30 17:26] #787 closed

[2018-07-30 17:48] pdebuyl commented on #831
@arfon Is there anything else needed from my part for the review to start?

[2018-07-30 17:50] richardjgowers commented on #831
I’m happy to review this, or is it for the editor to pick?

[2018-07-30 18:13] arfon commented on #831
@pdebuyl - we're waiting for an editor to pick up this submission first. Sorry for the delay, there have been a bunch of submissions recently and we're a little backed up.

[2018-07-30 18:19] pdebuyl commented on #831
@arfon thank you for the update. No worry with the delay, I understand editorial loads and the increase for JOSS just means more work from volunteers.

[2018-07-30 18:39] ejolly commented on #862
Proof looks good to me. Thanks for agreeing to review all.

[2018-07-30 18:42] whedon opened #864 "[PRE REVIEW]: Yellowbrick: Visualizing the Scikit-Learn Model Selection Process"
**Submitting author:** @bbengfort (<a href="http://orcid.org/0000-0003-0660-7682">Benjamin Bengfort</a>)
**Repository:** <a href="https://github.com/DistrictDataLabs/yellowbrick" target ="_blank">https://github.com/DistrictDataLabs/yellowbrick</a>
**Version:** v0.8
**Editor:** @arfon
**Reviewers:** @mnarayan

**Author instructions**

Thanks for submitting your paper to JOSS @bbengfort. The JOSS ed

[2018-07-30 18:42] whedon commented on #864
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-07-30 18:42] whedon commented on #864
[code]

[2018-07-30 18:42] whedon commented on #864
PDF failed to compile for issue #864 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0

[2018-07-30 18:43] arfon commented on #864
@jakevdp - the submitting author suggested you as the handling editor.

[2018-07-30 18:44] arfon commented on #864
@bbengfort - looks like there's some issues with your `paper.bib` file. Can you take a look at fixing it up?

You can test your changes with:

[code]

[2018-07-30 18:58] bbengfort commented on #864
@whedon generate pdf

[2018-07-30 18:58] whedon commented on #864
[code]

[2018-07-30 18:59] whedon commented on #864
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00864/joss.00864/10.21105.joss.00864.pdf)

[2018-07-30 19:11] bbengfort commented on #864
The proof looks good, there are a couple changes that I think might tighten this up:

1. Change title to "Yellowbrick: Visualizing the Model Selection Process" to get the title on one line.
2. Instead of 5 separate figures, I can generate one big figure, unless there is a way to control placement in a Markdown file like in a TeX file.

Looking forward to your review!

[2018-07-30 19:13] rebeccabilbro commented on #864
Yes, @jakevdp - looking forward to your feedback!

[2018-07-30 20:10] karthik commented on #714
@arfon Im not able to find anyone to review this. @ansgarwenzel do you have any suggestions?

[2018-07-30 20:12] karthik commented on #727
@economistgame  Could you please give us an update on where things stand?

[2018-07-30 20:13] karthik commented on #785
@kylehamilton Just wanted to check in on the status of your review. Are you waiting on @flor14 for any pending items? 🙏

[2018-07-30 20:48] labarba commented on #843
@whedon assign @rouson as reviewer

[2018-07-30 20:48] whedon commented on #843
OK, the reviewer is @rouson

[2018-07-30 20:48] moorepants commented on #818
FYI, the package should now be compatible with Plotly 2 and 3. You'll need to install version 1.2.1 for things to work.

[2018-07-30 20:57] trallard commented on #818
Awesome will speed this review then

[2018-07-30 22:06] gflofst commented on #830
The license is not a standard license, but a University of California/DOE license. It is very straightforward reminiscent of the MIT license.

[2018-07-30 22:25] vyasr commented on #787
Thanks @pdebuyl @CorySimon for your reviews!

And thank you @labarba @arfon for managing the process.

@CorySimon unrelated, I just realized that in your original review you asked a question about quaternions vs. rotation matrices. In general, the main advantage of quaternions is that the actual rotation operation is much faster (quaternion multiplication requires fewer operations than matrix mult

[2018-07-30 22:31] danielskatz commented on #830
Thanks @gflofst

👋 @dghoshal-lbl - Note that JOSS requires using [an OSI-approved license](https://opensource.org/licenses/alphabetical) - which is this?

[2018-07-30 22:33] gflofst commented on #830
It has no text citing it as a particular license. Instead, it lists that it is approved by Uni. Cal. and LBL (and DOE). The license text is basically MIT (do what you want, cite this code, we are not responsible for what you do or what happens because of use).

[2018-07-30 22:35] dghoshal-lbl commented on #830
@danielskatz @gflofst It is a modified BSD license.

[2018-07-30 22:35] gflofst commented on #830
In the setup.py, it says BSD. How exacting should that match be to be acceptable?

[2018-07-30 22:40] danielskatz commented on #830
Modified in any way is not acceptable.

To be published by JOSS, the code needs to have an OSI-approved license.

[2018-07-30 22:41] dghoshal-lbl commented on #830
There is an additional paragraph at the end to the original BSD license (due to lab policies).

[2018-07-30 22:44] dghoshal-lbl commented on #830
Is it mandatory to have the exact same license? Previously one of the papers was accepted because the license is still BSD, with an additional paragraph.

[2018-07-30 22:46] labarba commented on #787
All share!
https://twitter.com/JOSS_TheOJ/status/1024063365482725376

[2018-07-30 23:06] danielskatz commented on #830
Yes, it is mandatory.  Can I check the process for the other paper?  Which was it?

[2018-07-30 23:11] gflofst commented on #830
Community guidelines are either missing or not obvious

[2018-07-30 23:45] dghoshal-lbl commented on #830
@danielskatz
i) This is the paper: https://joss.theoj.org/papers/f68f92a740c6e42365025be9a9efed1b
ii) Software package: https://zenodo.org/record/290299#.W1-isdhKjOQ (Please note license on the right side, which says --  BSD 3-Clause "New" or "Revised" License (BSD-3-Clause))
iii) And the review comments: https://bitbucket.org/dghoshal/frieda/issues/1/joss-review-comments

[2018-07-30 23:48] dghoshal-lbl commented on #830
@gflofst A sample storage.yaml file is created when setup.py is run. Did the build process fail?

[2018-07-31 00:52] labarba commented on #843
@whedon add @rasmussn as reviewer

[2018-07-31 00:53] whedon commented on #843
OK, @rasmussn is now a reviewer

[2018-07-31 00:53] labarba commented on #843
@whedon start review

[2018-07-31 00:53] whedon opened #865 "[REVIEW]: The Glasgow Fortran Source-to-Source Compiler"
**Submitting author:** @wimvanderbauwhede (<a href="http://orcid.org/0000-0001-6768-0037">Wim Vanderbauwhede</a>)
**Repository:** <a href="https://github.com/wimvanderbauwhede/RefactorF4Acc" target ="_blank">https://github.com/wimvanderbauwhede/RefactorF4Acc</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @rouson, @rasmussn
**Archive:** <a href="https://doi.org/10.5281/zenodo.2222337" t

[2018-07-31 00:53] whedon commented on #843
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/865. Feel free to close this issue now!

[2018-07-31 00:53] whedon commented on #865
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @rouson, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-07-31 00:53] whedon commented on #865
[code]

[2018-07-31 00:53] #843 closed

[2018-07-31 00:53] whedon commented on #865
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00865/joss.00865/10.21105.joss.00865.pdf)

[2018-07-31 01:35] corybrunson commented on #817
Yes, though i'll need a few weeks. I just agreed to review another paper closer to my areas of expertise/experience.

[2018-07-31 03:47] danielskatz commented on #830
👋 @arfon  - please weigh in on the license discussion for this submission, as well as for https://doi.org/10.21105/joss.00164

[2018-07-31 03:55] dbrookswr commented on #813
Sorry about the delay. Summer holidays away from email.  I put her ORCID in
now.

Dan

On Wed, Jul 25, 2018 at 4:54 AM, Christopher Madan <notifications@github.com

[2018-07-31 06:59] loftytopping commented on #755
Hi guys. Is it possible to have a projected update? I have a couple of groups starting to use it and approach study draft publications. Thanks!

[2018-07-31 07:12] dvalters commented on #755
@loftytopping Will finish the review today :smile:  (I promise this time)

[2018-07-31 08:43] loftytopping commented on #755
No worries! Sorry for the prod, I guess its the double edged sword of releasing a package of use to a few groups!!

[2018-07-31 09:31] lgatto commented on #804
@chasemc - I don't have any windows computer at hand for the moment, and won't before a couple of months.
What about @jotsetung? Or @vladpetyuk? Do you have access to a windows.

[2018-07-31 09:38] robwschlegel commented on #821
I've addressed the issues at robwschlegel/heatwaveR#7

[2018-07-31 10:33] rougier commented on #817
@danielskatz Sorry for the late answer, I was on vacation. If it's still time, I can also review.

[2018-07-31 10:45] oekosheri commented on #853
@whedon generate pdf

[2018-07-31 10:45] whedon commented on #853
[code]

[2018-07-31 10:45] whedon commented on #853
PDF failed to compile for issue #853 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0     28      0 --:--:-- --:--:-- --:--:--    28
Error producing PD

[2018-07-31 10:47] oekosheri commented on #853
@arfon Could you tell me what the problem is?

[2018-07-31 11:26] ledius commented on #829
@costrouc Only thing missing is the fix the sentence in the paper about the performance. The sentence about 50% performance increase give too optimistic picture about the situation. In many cases the performance with wine and docker quite close. You should change the sentence about the performance.

[2018-07-31 11:30] dvalters commented on #755
Will resume the last bits of testing tonight - I've ticked off the checklist above where I believe it passes so far (mostly really good - don't see any major barriers to it being accepted).

My only comment really at the minute is on the installation procedure. Outwith the docker image, it's fairly tricky to install. Just been trying to install it on a university Linux machine this morning and wit

[2018-07-31 12:00] costrouc commented on #829
@ledius [commit to fix issue](https://gitlab.com/costrouc/pysrim/commit/a2a92d191fb7a9a5743ac865a37d3750b918a41a).

better performance due to rending in a virtual X frame buffer.

[2018-07-31 12:14] costrouc commented on #829
[commit](https://gitlab.com/costrouc/pysrim/commit/303be92dd3c2e97261ebc8d01fd7ef0be633a800) to fix paper performance statement

[2018-07-31 12:14] costrouc commented on #829
@whedon generate pdf

[2018-07-31 12:14] whedon commented on #829
[code]

[2018-07-31 12:15] whedon commented on #829
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00829/joss.00829/10.21105.joss.00829.pdf)

[2018-07-31 12:43] katyhuff commented on #829
To be clear (regarding the question about the SRIM license) ... it seems to me that the SRIM is merely a dependency, downloaded by docker on install, and the SRIM distribution isn't actually included in this repository. Correct? If so, there's no concern at all regarding the license. If you do include the SRIM.*.e binary file somewhere, I've missed it.

Can you clarify @costrouc ?

[2018-07-31 12:51] arfon commented on #830
I think this statement is contradictory. The whole point of having a standard set of approved and vetted open source licenses is that they are used verbatim _without modification_.

This submission should be considered blocked by this issue and I think the JOSS editorial board needs to discuss the status of https://doi.org/10.21105/joss.00164 as the non-standard license is problematic and somethin

[2018-07-31 13:02] momargoh commented on #710
doi:10.5281/zenodo.1324221
https://zenodo.org/record/1324222#.W2BdfxiuY5k

[2018-07-31 13:02] khaors commented on #821
@leeper I checked and the suggestions have been addressed and the heatwaveR package has been modified in accordance.

[2018-07-31 13:18] stuartcampbell commented on #815
@arfon Just a quick question relating to the version listed here for review (which is 1.4.0), the latest version is 1.4.1.  @jeanbilheux has created all the releases for 1.4.1 but not 1.4.0.  Should I worry about this and ask for the older releases to be tagged ?

[2018-07-31 13:39] leeper commented on #821
Great. Thanks!

[2018-07-31 13:40] leeper commented on #821
@robwschlegel The review process is now complete. To finalize your submission and accept your paper in JOSS, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service. To do so:

 1. Create [a GitHub release](https://help.github.com/articles/creating-releases/) of the current version of your software reposi

[2018-07-31 14:44] arfon commented on #815
If @JeanBilheux is OK with it, we should just update the review to make it clear that `v1.4.1` is the version being reviewed here.

[2018-07-31 14:52] JeanBilheux commented on #815
Sorry about that guys, but yes, 1.4.1 is the version to test. Thanks

[2018-07-31 15:07] robwschlegel commented on #821
@leeper
Here is the web link if that helps:
https://zenodo.org/record/1324309#.W2B7DRgS08o

[2018-07-31 15:27] ngoldbaum commented on #809
I've gone ahead and opened https://github.com/yt-project/unyt/pull/41, https://github.com/yt-project/unyt/pull/42, https://github.com/yt-project/unyt/pull/43, and https://github.com/yt-project/unyt/pull/44. I'd very much appreciate eyes from any of the reviewers on those pull requests.

@kyleniemeyer once those PRs are merged I'd like to cut a new release and update the metadata json files to refl

[2018-07-31 15:38] leeper commented on #821
@whedon set 10.5281/zenodo.1324309 as archive

[2018-07-31 15:38] whedon commented on #821
OK. <a href="https://doi.org/10.5281/zenodo.1324309" target="_blank">10.5281/zenodo.1324309</a> is the archive.

[2018-07-31 15:39] leeper commented on #821
@arfon over to you

[2018-07-31 15:46] arfon commented on #821
@khaors - many thanks for your review here and to @leeper for editing this submission :sparkles:

@robwschlegel - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00821 :Zap: :rocket: :boom:

[2018-07-31 15:46] #821 closed

[2018-07-31 15:47] whedon commented on #821
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00821/status.svg)](https://doi.org/10.21105/joss.00821)

**We need your help!**

Journal of Open Source Softwar

[2018-07-31 16:00] flor14 commented on #785
I have not pending items yet

El lun., 30 jul. 2018 a las 17:13, Karthik Ram (<notifications@github.com>)
escribió:

[2018-07-31 16:08] robwschlegel commented on #821
Woohoo!

[2018-07-31 16:13] costrouc commented on #829
The SRIM executable is included in one of the docker files when built `Dockerfile.srim`. See these lines. This was due to the fact that the SRIM installer (SRIM.*.e) extracts the files into a directory and requires a manual `click` of the extract button. I haven't found out how to automate a click in the GUI through xvfb. `https://gitlab.com/costrouc/pysrim/raw/master/assets/srim.2013.zip` is a zi

[2018-07-31 16:15] wimvanderbauwhede commented on #865
OK, I have checked the proof and it looks fine to me.

Wim

[2018-07-31 16:39] dmdu commented on #781
Issue from above is addressed and closed now.

@jedbrown On version checking: at the very top of this page it says: "Version: v0.1", but the latest changes are in the most recent release, v0.1.post1. What changes are necessary here to reflect it?

[2018-07-31 16:54] jedbrown commented on #781
@dmdu Thanks. I just edited the page to reflect that update.

[2018-07-31 17:10] dmdu commented on #781
@dflemin3 On your performance claims: perhaps, it would be worth it to clarify in the paper where the right subfigure from Figure 1 comes from. It looks like you compare analytical models; what empirical data can you present/reference to support these model?

[2018-07-31 18:16] gflofst commented on #830
@dghoshal-lbl Here is the output when I try to run setup. It looks like I should have created a directory, but this isn't specified in the instructions. Please review and adjust the instructions accordingly.
[setup.txt](https://github.com/openjournals/joss-reviews/files/2246568/setup.txt)

[2018-07-31 18:46] dghoshal-lbl commented on #830
@gflofst There is no need to create any additional directory. The config/ directory is already present in the top-level directory of the source tree.
Unfortunately I am unable to reproduce the error on my side. I need some more information.
- Is this where you have checked out the source (including setup.py): /Users/gflofst/build/joss/run?
- Have you manually configured MADATS_HOME environment var

[2018-07-31 18:54] gflofst commented on #830
I did the clone into joss so the top level directory is
/Users/gflofst/build/joss/madats

I do not have MADATS_HOME set in this terminal window. While the instructions after the two steps say to set it up, it should be a step in the instructions in order too. When I do set it to the above directory, it works. Having to set it to generate the file that will set it doesn't make sense.

[2018-07-31 19:05] dghoshal-lbl commented on #830
You do not need to set MADATS_HOME manually. I will fix the instructions in the readme if that is not clear enough. However, if you run setup from the top level directory "/Users/gflofst/build/joss/madats" (where setup.py is), it should create the required files.
I was wondering why the setup log shows "/Users/gflofst/build/joss/run" as MADATS_HOME. What is this joss/run/ directory, if code is in

[2018-07-31 19:32] gflofst commented on #830
code is in joss/madats and that is where I run setup.py from. The only way I can get it to work properly is if I set MADATS_HOME manually before running setup.py.

[2018-07-31 19:45] dghoshal-lbl commented on #830
That shouldn't happen. Can you please open up a new terminal and let me know if "echo $MADATS_HOME" prints anything (without you manually setting it up)? If it doesn't print anything, can you please rerun "python setup.py install" and send me the output of the build process?

I tried in a couple of different environments and unable to reproduce the error. Can you please check if there is a "storag

[2018-07-31 19:49] gflofst commented on #830
Oddly, I closed my terminal so that I cleared out any env vars I set manually and cleaned the repo clone and now it works. I am in the same directory and everything.

I'll consider this pass now. Not sure what my problem was. If you could clarify the readme instructions for setup to just have the source MADATS_HOME as the third step instead of the next paragraph, that would help.

I am slightly co

[2018-07-31 19:53] gflofst commented on #830
At this point, the only two pieces of contention are the license (out of my hands) and the need for a "how to contribute" set of instructions. Everything else looks good.

[2018-07-31 20:03] dghoshal-lbl commented on #830
Thanks @gflofst. Here are the action items for me to fix:
i) Fix the readme to have "source MADATS_HOME" as the third step.
ii) A set of instructions on "how to contribute".
iii) Since the bash-centric command is only for setting up MADATS_HOME, I will add a few lines in the readme to setup MADATS_HOME on other environments.

Let me know if there are any other changes that you think are necessary.

[2018-07-31 20:11] gflofst commented on #830
That is what I see. Sorry for the troubles.

[2018-07-31 20:26] ygrange commented on #809
Nothing to add. I would be very happy if this one would be published.

[2018-07-31 20:29] danielskatz commented on #830
We have an editors call on Friday where the licensing issue will be discussed - I think it's going to be blocking problem, so @dghoshal-lbl, you might want to think about what you are able to do or will choose to do if so.

[2018-07-31 20:57] kylehamilton commented on #785
Sorry for the delay I'll have this completed by the end of the day.

[2018-07-31 21:59] cMadan commented on #813
@whedon generate pdf

[2018-07-31 21:59] whedon commented on #813
[code]

[2018-07-31 22:00] whedon commented on #813
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00813/joss.00813/10.21105.joss.00813.pdf)

[2018-07-31 22:06] cMadan commented on #813
@dbrookswr, it looks like there are some issues in your paper.md. Can you fix this? You can also ask @whedon to recompile (as I did above), to confirm that it's all sorted afterwards.

The main issue seems to be with extra line breaks, compare https://raw.githubusercontent.com/dbrookswr/powermh/master/paper.md and https://joss.readthedocs.io/en/latest/submitting.html.

[2018-08-01 01:56] goldingn commented on #847
## Software paper review

Hi @boyanangelov, here's a short review of the software paper:

I think it reads really well. The statements of the problem that SDM solves, and the issue of benchmarking SDMs that sdmbench solves, are nice and succinct. The rest of the document does a nice job of explaining what the package provides that others don't. Great work!

### Affiliation
You don't have an affili

[2018-08-01 07:58] kyleniemeyer commented on #809
@ngoldbaum that plan sounds good to me. Just ping me here when you have finalized the paper edits, and I will take a final look from an editing perspective. After I give the 👍 on that, you'll need to archive the final repo (software + data) in Zenodo (e.g.) and provide the DOI back here.

[2018-08-01 08:07] katyhuff commented on #829
Ok. So, you currently distribute the srim zip in your repository. Since you're distributing the file as part of your repository, you have to obey the requests of the SRIM license. I am not a lawyer, but I believe that this is easy enough to do, according to the SRIM license, as long as you distribute the copyright and permission notice along with it.

Are the permission notice and copyright inside

[2018-08-01 10:48] oekosheri commented on #853
@whedon commands

[2018-08-01 10:48] whedon commented on #853
Here are some things you can ask me to do:

[code]

[2018-08-01 11:58] lucydot commented on #797
Issue 7 is not quite closed (but very close!), when it is I will archive and update this thread.

[2018-08-01 12:10] costrouc commented on #829
@katyhuff I have looked at the zip file and found an obscure license is packaged at `srim/Data/LEGAL.rtf`. I have added a `srim/LICENSE` to the zip file `srim.2013.zip` to make it much clearer.  With the included text. [commit](https://gitlab.com/costrouc/pysrim/commit/61d3eaf92877150850cf8283daf630ceebb4e2d6)

[2018-08-01 13:04] oekosheri commented on #853
@arfon I used pandoc to generate the PDF myself and had no issues. Waiting for your help to see what the problem is.

[2018-08-01 13:33] katyhuff commented on #797
Ah, I misunderstood the previous comment.
Thanks.

[2018-08-01 13:36] katyhuff commented on #829
Again, I'm not a lawyer, but I think that makes you compliant.
@ledius : it seems you have checked all the review boxes. Do you have a recommendation about accepting this submission?

[2018-08-01 14:17] dflemin3 commented on #781
@dmdu thanks for the suggestion!  I updated paper.md with the following to discuss how I computed that figure and pushed the changes.

The following figure is a simple demonstration of approxposterior produced using a Jupyter Notebook provided with the code on GitHub.  In the left panel, we show the true posterior probability distribution computed by Markov Chain Monte Carlo (MCMC) compared agains