[2022-10-05 17:48] #3665 closed

[2022-10-05 17:50] jmschrei commented on #4706
Great, thanks. What's the software version we should point to?

[2022-10-05 17:53] pibion commented on #4576
@micheder I'll have some suggestions posted tomorrow for this paragraph, thank you for the clarification!

[2022-10-05 18:16] jmschrei commented on #4706
I think you need a numeric format, e.g. https://github.com/openjournals/joss-reviews/issues/4680#issuecomment-1259594153

[2022-10-05 18:23] ZeitgeberH commented on #4706
Got it.
The tag is [v0.2.6](https://github.com/ZeitgeberH/patchview/releases/tag/v0.2.6)

[2022-10-05 18:26] jmschrei commented on #4706
@editorialbot set 10.5281/zenodo.7149877 as archive

[2022-10-05 18:31] jmschrei commented on #4706
@editorialbot recommend-accept

[2022-10-05 18:36] jmschrei commented on #4706
Uh oh. Would you mind resolving these? @ZeitgeberH

[2022-10-05 18:40] ZeitgeberH commented on #4706
Fixed it @jmschrei

[2022-10-05 18:41] jmschrei commented on #4706
@editorialbot recommend-accept

[2022-10-05 18:46] Bisaloo commented on #4193
Hi @arendsee, I have opened two issues summarising what seem to be the current blockers to get things moving.

Once this is solved, I can ask the reviewers to have another look at their checklists and see what's left to get this submission thought the door.

📝 [Checklist for Chjulian](https://github.com/openjournals/joss-reviews/issues/4193#issuecomment-1048945444)
📝 [Checklist for marekborowiec](

[2022-10-05 18:46] jmschrei commented on #4706
🎉

[2022-10-05 19:01] LeonieFierz commented on #4261
@olejandro we tackled the points above

Tag for version 2.3.1: https://github.com/hues-platform/cesar-p-core/releases/tag/CESAR-P-V2.3.1
Zenoodo Archive DOI: 10.5281/zenodo.7150137

For your information, as there are no code changes compared to the version 2.3.0 we did not deploy an update to PyPi.

Is the joss-paper branch still needed or can we delete it as everything is now merged on master?

[2022-10-05 20:13] jgagneastro commented on #4456
Sorry to be so slow to respond Dan, it totally slipped. I'm on the verge of leaving for a paternity leave but I'm getting back on this now

Jonathan Gagné, Ph.D.
Conseiller Scientifique / Scientific Advisor
Planétarium Rio Tinto Alcan | Espace pour la vie
Professeur associé / Adjunct professor, Université de Montréal
4801 av. Pierre-de Coubertin, Montréal, Québec H1V 3V4
***@***.***

[2022-10-05 20:20] jgagneastro commented on #4456
Ok, running the code on Binder has fixed this issue for me as you suspected.

[2022-10-05 20:29] jgagneastro commented on #4456
Ok I'm unable to reproduce this error now (I had to reinstall since I moved on a new laptop since last time) - either I had a problematic configuration, or the change you made fixed the problem for me. I'm now at the point where the MCMC is successfully running (still ongoing).

[2022-10-05 20:44] cforgaci commented on #4664
I have concluded my first review in which I tested the functionalities of ur-scape and examined the documentation. The software is a beautifully designed data visualization and analysis tool with a very accessible interface and considerable impact demonstrated with specific use cases. It would be great if the excellent video material and training data mentioned in https://github.com/UrbanRuralSyst

[2022-10-05 21:01] Kevin-Mattheus-Moerman commented on #4687
@editorialbot generate pdf

[2022-10-05 21:06] Kevin-Mattheus-Moerman commented on #4709
@MartianColonist I'm the EiC on call this week, and I'll have a look for editors now.

[2022-10-05 21:06] Kevin-Mattheus-Moerman commented on #4709
@editorialbot invite @pibion as editor

[2022-10-05 21:07] Kevin-Mattheus-Moerman commented on #4709
@pibion this may be somewhat off topic for you but can you check if you could help edit this one? We have quite backlog of papers to get through so if you think you could help that would be great. Thanks.

[2022-10-05 21:13] Kevin-Mattheus-Moerman commented on #4687
@pibion I've just invited you for another submission, but could this be a submission we could assign to you as well? Let me know if you want to keep it waitlisted or if you can take it on. Thank.

[2022-10-05 21:15] Kevin-Mattheus-Moerman commented on #4711
@editorialbot invite @Nikoleta-v3 as editor

[2022-10-05 21:17] Kevin-Mattheus-Moerman commented on #4711
@Nikoleta-v3 I realize you are handing several other submission, but one seems nearly finished so I was hoping/wondering if you could take on this one which is currently waitlisted. Thanks.

[2022-10-05 21:19] Kevin-Mattheus-Moerman commented on #4744
@arfon can you review this diff? :point_up:

[2022-10-05 21:22] Kevin-Mattheus-Moerman commented on #4746
@neillu23 did you see this comment :point_down: ?

Can you work on changing the paper according to our guidelines? You can call `@editorialbot generate pdf` here to update the paper.

[2022-10-05 21:24] Kevin-Mattheus-Moerman commented on #4746
@neillu23 the editors in this domain (audio/speech processing) are still all preoccupied with other submissions. We shall have to remain patient a bit longer I'm afraid.

[2022-10-05 21:25] Kevin-Mattheus-Moerman commented on #4746
@faroit @bmcfee if you can handle another submission let me know, otherwise we shall keep this as waitlisted for now. Thanks.

[2022-10-05 21:26] Kevin-Mattheus-Moerman commented on #4749
@editorialbot invite @jmschrei as editor

[2022-10-05 21:30] Kevin-Mattheus-Moerman commented on #4770
@rkurchin this sounds like it might be your cup of tea :tea: . Are you currently at your max in terms of number of submissions or do you think you could take this one on too? Thanks.

[2022-10-05 21:33] Kevin-Mattheus-Moerman commented on #4783
@editorialbot invite @hugoledoux as editor

[2022-10-05 21:36] Kevin-Mattheus-Moerman commented on #4783
@themasterlink I had a quick look at the paper. I recommend that you expand the title a bit e.g. in the more usual format: `softwareName: What it does in about one sentence`. You can update the paper here by calling `@editorialbot generate pdf`.

[2022-10-05 21:40] Kevin-Mattheus-Moerman commented on #4786
@hugoledoux is this perhaps another submission you could handle? Alternatively, @kthyng do you think this is something that you can handle? Thanks

[2022-10-05 21:45] Kevin-Mattheus-Moerman commented on #4787
@editorialbot invite @galessiorob as editor

[2022-10-05 21:45] neillu23 commented on #4746
Hi @Kevin-Mattheus-Moerman, thank you for your response! We are currently working on reducing the word count of the paper. We will further update the information here.

[2022-10-05 21:47] Kevin-Mattheus-Moerman commented on #4787
@galessiorob do you think you can handle this submission? It is currently waitlisted as other editors are preoccupied. It may be somewhat off topic, but I was hoping it is sufficiently in your "data science" domain. Thanks.

[2022-10-05 21:49] editorialbot opened #4819 "[PRE REVIEW]: Metrics As Scores: A Tool- and Analysis Suite and Interactive Application for Exploring Context-Dependent Distributions"
**Submitting author:** @mrshoenel (<a href="http://orcid.org/0000-0001-7937-1645">Sebastian Hönel</a>)
**Repository:** https://github.com/MrShoenel/metrics-as-scores
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.0.8
**Editor:** @mikldk
**Reviewers:** @mdhaber, @jstvssr
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/eb549efe6c0111

[2022-10-05 21:52] jmschrei commented on #4749
@editorialbot assign me as editor

[2022-10-05 21:53] jmschrei commented on #4749
Sorry for the delay in response. I've had a series of back-to-back travel engagements and this slipped my mind.

[2022-10-05 23:07] faroit commented on #4746
@Kevin-Mattheus-Moerman I can handle that starting next week

[2022-10-05 23:42] jmschrei commented on #4749
Hi @nearinj and @coughls, would either of you be able to review this submission?

[2022-10-06 01:16] jgagneastro commented on #4456
Okay, I'm done running the walkthrough, and everything ran correctly. I'm all good with the package now, and I'll check the last boxes. Thanks for your patience !

[2022-10-06 03:53] yadudoc commented on #4735
I've completed my review for the most part, and I've added three issues over on the github repo for watts detailing missing items. I'll come back and check off the missing boxes once the authors have had a chance to take a look.

Overall, I think this package provides values, the documentation is clean and understandable and the article does a good job of framing the problem. I think the plugin ar

[2022-10-06 04:10] humanfactors commented on #4250
Hi @OlgerSiebinga

In my (somewhat limited) experience, I would say this is an abnormal delay in your paper, but indeed the complexity of the build is part of the issue. I could be wrong (@taless474 can confirm) but I changed the version of my submission for my JOSS paper — so I believe you could adjust your build while this is under review. You need to document and adjust the post details to make

[2022-10-06 05:52] vlad0x00 commented on #4720
@editorialbot generate pdf

[2022-10-06 06:30] oliviaguest commented on #4600
@jagnobli can you please make it, so I can easily make some PRs/equivalent on your article as I notice a few typos?

[2022-10-06 07:21] jagnobli commented on #4600
sorry @oliviaguest, I am very busy until Friday...can you tell me what you mean by "it"? zenodo?
I will work on it at the weekend. Maybe @xi can help?

[2022-10-06 07:46] Matthew-Jennings commented on #4555
Hi @osorensen

Here is the Zenodo DOI for v0.39.1:
10.5281/zenodo.7151940

I think everything is in order. Thank you very much for your patience!

[2022-10-06 07:53] bauer-alex commented on #4567
@bluefoxr I now took a deeper look over the paper. Here are my final comments:
First of all, I really like the style of writing. Nice descriptions with a good depth and useful examples and links to further helpful materials. Good work!

Apart from the following long list of (easily solvable) minor points down below, I only have one major point which is that your paper is too long for JOSS. It shou

[2022-10-06 08:02] osorensen commented on #4555
@editorialbot set 10.5281/zenodo.7151940 as archive

[2022-10-06 08:02] osorensen commented on #4555
@editorialbot set v0.39.1 as version

[2022-10-06 08:29] geoffreyp commented on #2974
@editorialbot generate pdf

[2022-10-06 08:38] editorialbot opened #4820 "[PRE REVIEW]: icepyx: querying, obtaining, analyzing, and manipulating ICESat-2 datasets"
**Submitting author:** @JessicaS11 (<a href="http://orcid.org/0000-0002-3421-4459">Jessica Scheick</a>)
**Repository:** https://github.com/icesat2py/icepyx
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.6.3
**Editor:** @kthyng
**Reviewers:** @dimejimudele, @VaasuDevanS
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/a355344b24ffa5fd

[2022-10-06 08:39] Kevin-Mattheus-Moerman commented on #4746
@editorialbot invite @faroit as editor

[2022-10-06 08:40] Kevin-Mattheus-Moerman commented on #4746
@faroit do you mind if we assign this to you now? We have a growing backlog and it would be nice to get it off our desk onto yours :) starting next week or the week after (or whenever you are ready) is fine.

[2022-10-06 08:46] faroit commented on #4746
@editorialbot assign @faroit as editor

[2022-10-06 09:20] editorialbot opened #4821 "[PRE REVIEW]: cosasi: Graph Diffusion Source Inference in Python"
**Submitting author:** @lucasmccabe (<a href="http://orcid.org/0000-0002-7383-2823">Lucas McCabe</a>)
**Repository:** https://github.com/lmiconsulting/cosasi/
**Branch with paper.md** (empty if default branch): https://github.com/lmiconsulting/cosasi/tree/joss/
**Version:** 0.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj

[2022-10-06 11:11] SimonBiggs commented on #4555
@editorialbot set 10.5281/zenodo.7152450 as archive

[2022-10-06 11:21] osorensen commented on #4555
@editorialbot set 10.5281/zenodo.7152450 as archive

[2022-10-06 11:21] osorensen commented on #4555
Thanks @Matthew-Jennings. I the correct version now 0.39.2?

[2022-10-06 11:22] osorensen commented on #4555
@editorialbot generate pdf

[2022-10-06 11:22] Matthew-Jennings commented on #4555
Yes, that is correct. Apologies for the rigmarole.

[2022-10-06 11:22] osorensen commented on #4555
@editorialbot set v0.39.2 as version

[2022-10-06 11:23] osorensen commented on #4555
@editorialbot check references

[2022-10-06 11:26] osorensen commented on #4555
@editorialbot recommend-accept

[2022-10-06 11:55] arfon commented on #3119
OK thanks for letting us know @sbillinge.

Thanks for your efforts here @remram44, @Midnighter – apologies this submission didn't work out.

[2022-10-06 11:55] arfon commented on #3119
@editorialbot withdraw

[2022-10-06 11:55] #3119 closed

[2022-10-06 12:56] svchb commented on #4679
@Shreyas911
Installation Documentation:
- You should probably rename the directory something like "tapenade_supported" having a version in the name just leads to unnecessary work when changing the version.
`NOTE: Alternatively, a Tapenade version that works correctly with SICOPOLIS-AD v2 is always available in the test_ad/tapenade_3.16 directory.`
- move the note paragraph up to below the Linux in

[2022-10-06 13:11] lucasmccabe commented on #4821
@editorialbot commands

[2022-10-06 13:14] lucasmccabe commented on #4821
@editorialbot set joss as branch

[2022-10-06 13:14] lucasmccabe commented on #4821
@editorialbot generate pdf

[2022-10-06 13:18] lucasmccabe commented on #4821
@editorialbot check references

[2022-10-06 13:20] raybecker commented on #4114
Working on this now

[2022-10-06 13:34] lucasmccabe commented on #4821
@editorialbot generate pdf

[2022-10-06 13:38] SimonBiggs commented on #4555
Out of interest, @osorensen, what hurdles remain before the final publishing?

[2022-10-06 13:40] osorensen commented on #4555
The editor-in-chief will read through and make a final decision. Normally this takes less than a week.

[2022-10-06 13:51] SimonBiggs commented on #4555
This is an amazing process you have set up. I'm very impressed :).

In the future we'd be keen to potentially submit follow up papers going with a focus on submodules within PyMedPhys as they expand and grow. I notice that right now the process is very one paper per one repo focused. How feasible would it be to in the future have other papers within the same repo?

Potentially might it be that we

[2022-10-06 14:30] simonpcouch commented on #4655
@editorialbot generate pdf

[2022-10-06 14:33] osorensen commented on #4555
Thanks, and yes, there are several cases where developers have submitted new papers when new functionality has been added to their software. One way to do this could be to open a new branch containing the paper, or as you suggest, having papers in a directory.

[2022-10-06 14:50] untzag commented on #4762
Just waiting for some more time, sorry to be slow! Working on review again now.

[2022-10-06 14:52] bluefoxr commented on #4567
@editorialbot commands

[2022-10-06 14:57] bluefoxr commented on #4567
@editorialbot check repository

[2022-10-06 15:01] untzag commented on #4762
To me, it's unclear what you mean by "expose" here. I think you mean that their host software is not open source or freely available? I think for me it's down to the word "expose", consider choosing a different word.

[2022-10-06 15:21] jessie-dotson commented on #3496
Looks good to me too!

[2022-10-06 15:54] hugoledoux commented on #4786
@editorialbot assign @hugoledoux as editor

[2022-10-06 15:56] hugoledoux commented on #4786
@Kevin-Mattheus-Moerman I am better qualified for this one than the other actually, I worked with CFD people (not hydraulic and they offered to help me with finding reviewers).

The other one I could but I'm already at 4 and not really something I know. But if there's no one I guess I could make do...

[2022-10-06 16:01] untzag commented on #4762
Quoting again from @askuric

In my opinion  this should be blocking for publication. This is a good opportunity to get real CI set up and running.

I understand that many of these code paths aren't possible to run without hardware, but you do have `no_fpga` tests. Even just showing that the package can be installed and imported with CI is useful for dealing with potential chaos from new contributo

[2022-10-06 16:01] danielskatz commented on #4722
no, just checking to make sure progress is happening...

[2022-10-06 16:03] danielskatz commented on #4782
Thanks @keipertk - I'll add you, and start the review

[2022-10-06 16:04] danielskatz commented on #4782
@editorialbot start review

[2022-10-06 16:04] editorialbot opened #4822 "[REVIEW]: GLUE Code: A framework handling communication and interfaces between scales"
**Submitting author:** @apachalieva (<a href="http://orcid.org/0000-0003-1246-0410">Aleksandra Pachalieva</a>)
**Repository:** https://github.com/lanl/GLUE
**Branch with paper.md** (empty if default branch): manuscript
**Version:** 1.1
**Editor:** @danielskatz
**Reviewers:** @govarguz, @keipertk
**Archive:** 10.5281/zenodo.7469110

## Status

[![status](https://joss.theoj.org/papers/a200507cb00916

[2022-10-06 16:18] untzag commented on #4762
Pyripherals seems like a great project and it's clearly a powerful tool which has already been used to drive a variety of experiments. I'm thinking I need to buy an OpalKelly FPGA! I recommend publication and congrats on the great work.

I think pyripherals needs one more round of documentation work with an eye towards high-level explanation for outsiders wanting to start from scratch. You've buil

[2022-10-06 16:41] oliviaguest commented on #4600
Two separate issues. Maybe look at the documentation by JOSS for what we need for publication to ease communication here?

Zenodo, or figshare, etc., can be used for the code. We need a DOI, but you can post it when you're able. No need to work weekends.

On the other hand, not the code, but the manuscript has some typos. I'd like to propose a PR or equivalent. If that helps! Otherwise, or in addi

[2022-10-06 16:44] yhtang commented on #4502
Hi @melissawm, we are currently working on a recently discovered bug, which is related to the self-consistency check that @fabian-sp raised. It turns out to have a deeper cause and hence would require a little longer to fix. I'll update back once we have that taken care of. Thanks for asking!

[2022-10-06 16:55] pibion commented on #4709
@Kevin-Mattheus-Moerman I need to decline - I have two papers that need pushing along and I wouldn't be able to start this review until those are done.

Apologies!  If you still haven't found an editor when I'm done with one of my papers I'll be happy to edit.

[2022-10-06 17:48] dshean commented on #4700
Hi @leouieda !  Any update on review status?  We can recommend additional reviewers if necessary.

We are getting requests from users on they should cite SlideRule for their publications using the service and resulting data products.  For now we can point to Zenodo records, but hoping to have the JOSS paper out as the primary source.  Thanks!

[2022-10-06 17:51] JessicaS11 commented on #4820
@editorialbot generate pdf

[2022-10-06 17:57] lucasmccabe commented on #4821
Hello - per @editorialbot's request, I suggest the following potential reviewers from [the provided list](https://bit.ly/joss-reviewers):

- jonjoncardoso
- zoometh
- vc1492a
- leotrs
- akbaritabar
- ajgates42
- p-ortmann
- manmeetkaurbaxi
- sgeorge91
- gabett
- papachristoumarios
- jGaboardi
- dinacmistry
- sdmccabe  (FYSA: no relation)
- rodogi
- nick-gauthier

Thank you for your time and consid

[2022-10-06 18:25] lucasmccabe commented on #4821
@editorialbot check repository

[2022-10-06 18:38] emdupre commented on #4670
@cariyurek , a few editorial requests :

- In your paper, can you capitalize all instances of "Python" ? It is currently lower-cased throughout the text; for example, on line 66, line 69, and line 84.
- Similarly, please capitalize mention of "Docker" on line 28.
- Please add a comma after abbreviations such as "e.g.", "i.e.", etc. This impacts line 47 and line 59, among others.
- Figure 1 renders

[2022-10-06 18:40] mark-koren commented on #3312
Hi! Sorry, I completely lost track of this. There was supposed to be a
student or two who were picking up this project, but it doesn't seem like
that has happened. I'd say go ahead and reject -- if the transition ends up
happening, we can always resubmit. Thanks for your consideration.

On Sat, Oct 1, 2022 at 4:55 AM Arfon Smith ***@***.***> wrote:

[2022-10-06 19:07] sbenthall commented on #3496
Fantastic! The reviewers recommend acceptance.

So we can move on the final steps.

[2022-10-06 19:07] sbenthall commented on #3496
@editorialbot generate pdf

[2022-10-06 19:07] sbenthall commented on #3496
@editorialbot check references

[2022-10-06 19:09] sbenthall commented on #3496
@Natsiopoulos This is the final proofreading phase.

Can you please fix the invalid DOI's that the editorialbot found, and also do one last round of proofreading for typos?

[2022-10-06 19:28] g4brielvs commented on #4793
@Fei-Tao Thank you! I'm interested to review the submission and I should be able to do so in the next 5-7 days.

[2022-10-06 19:29] Fei-Tao commented on #4793
@g4brielvs Great! I will add you to the reviewer list and start the reviewing process. Thank you for your quick response!

[2022-10-06 19:30] Fei-Tao commented on #4793
@editorialbot add @g4brielvs as reviewer

[2022-10-06 19:30] Fei-Tao commented on #4793
@editorialbot start review

[2022-10-06 19:30] editorialbot opened #4823 "[REVIEW]: Linopy: Linear optimization with n-dimensional labeled variables"
**Submitting author:** @fabianhofmann (<a href="http://orcid.org/0000-0002-6604-5450">Fabian Hofmann</a>)
**Repository:** https://github.com/PyPSA/linopy
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.0.11
**Editor:** @Fei-Tao
**Reviewers:** @torressa, @g4brielvs
**Archive:** 10.5281/zenodo.7751989

## Status

[![status](https://joss.theoj.org/papers/1cb9253438483e4d33650

[2022-10-06 19:30] #4793 closed

[2022-10-06 19:31] Fei-Tao commented on #4793
Thanks everyone! Looking forward to your reviews at https://github.com/openjournals/joss-reviews/issues/4823.

[2022-10-06 20:25] Kevin-Mattheus-Moerman commented on #3736
@clarka34 @quynhneo please can you continue your review at your earliest convenience? If you are no longer able to review please let us know.

[2022-10-06 20:25] Kevin-Mattheus-Moerman commented on #4118
@editorialbot recommend accept

[2022-10-06 20:26] Kevin-Mattheus-Moerman commented on #4118
@editorialbot recommend-accept

[2022-10-06 20:31] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 this PR should fix these issues with the DOIs: https://github.com/SimVascular/svFSI/pull/92

[2022-10-06 20:35] Kevin-Mattheus-Moerman commented on #4211
@oriolcg can you please resume your review here? Thanks

[2022-10-06 20:36] Kevin-Mattheus-Moerman commented on #4252
@vijaysm, @mscroggs, @schruste :wave: please can you resume the review process? Thanks.

[2022-10-06 20:37] Kevin-Mattheus-Moerman commented on #4389
@editorialbot check references

[2022-10-06 20:39] Kevin-Mattheus-Moerman commented on #4564
@AJQuinn @anshu-97 :point_up: can you please pick up the review process again? Thanks

[2022-10-06 20:40] Kevin-Mattheus-Moerman commented on #4650
@editorialbot generate pdf

[2022-10-06 20:42] Kevin-Mattheus-Moerman commented on #4389
@JulianKarlBauer can you check that potentially missing DOI? :point_up:

[2022-10-06 20:42] Kevin-Mattheus-Moerman commented on #4389
@editorialbot generate pdf

[2022-10-06 20:45] Kevin-Mattheus-Moerman commented on #4786
@hugoledoux understood, thanks for your help!

[2022-10-06 20:45] arendsee commented on #4193
Thanks @Bisaloo, I saw your issues and can address them next week. I guess I can go ahead and write up a dedicated docs page. It isn't too much work. I probably just flatten the internal documentation and include output images of the trees.

[2022-10-06 20:47] Kevin-Mattheus-Moerman commented on #4709
@pibion okay that is fine. Thanks.

[2022-10-06 20:59] Kevin-Mattheus-Moerman commented on #4650
@cbrnr I have read you paper and it mostly looks like, I just have the following minor final comments:

- [ ] Check `...specific use cases:` I recommend just using `...specific use cases.`
- [ ] Check `... involve (1) specifying...` this should likely read `... involves (1) specifying...`
- [ ] Check `how these steps might look like` it is better to say `what these steps might look like`
- [ ] Che

[2022-10-06 21:03] Kevin-Mattheus-Moerman commented on #4792
@editorialbot invite @mikldk as editor

[2022-10-06 21:06] Kevin-Mattheus-Moerman commented on #4770
@editorialbot invite @richardjgowers as editor

[2022-10-06 21:06] Kevin-Mattheus-Moerman commented on #4770
@rkurchin just noticed @richardjgowers might be available, but let me know if you can be a standby in case he cannot help. Thanks.

[2022-10-06 21:08] g4brielvs commented on #4823
@editorialbot generate my checklist

[2022-10-06 21:08] Kevin-Mattheus-Moerman commented on #4801
@lcmpikg can you check those potentially missing DOIs :point_up:

You can call `@editorialbot check references` after you've made changes to check if they now pass our checks. Thanks

[2022-10-06 21:09] Kevin-Mattheus-Moerman commented on #4801
@editorialbot invite @AoifeHughes as editor

[2022-10-06 21:10] Kevin-Mattheus-Moerman commented on #4804
@editorialbot invite fabian-s as editor

[2022-10-06 21:11] Kevin-Mattheus-Moerman commented on #4804
@editorialbot invite @fabian-s as editor

[2022-10-06 21:12] editorialbot opened #4824 "[PRE REVIEW]: speech: An R package to convert legislative speeches to tidy and clean data.frame"
**Submitting author:** @Nicolas-Schmidt (<a href="http://orcid.org/0000-0001-5083-5792">Nicolás Schmidt</a>)
**Repository:** https://github.com/Nicolas-Schmidt/speech
**Branch with paper.md** (empty if default branch): master
**Version:** 0.1.5
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/5d1a7e036d8966a9b59dd6e0

[2022-10-06 21:24] bauer-alex commented on #4567
@editorialbot generate pdf

[2022-10-06 21:25] Nicolas-Schmidt commented on #4824
Hi!
The reviewers we suggest are: pmyteh and josiahparry.

[2022-10-06 21:27] vijaysm commented on #4252
Yes, sorry. September was a bad month for me. I'll spend some time this weekend to finish up pending items.

[2022-10-06 21:34] Kevin-Mattheus-Moerman commented on #4824
@editorialbot set master as branch

[2022-10-06 21:34] Kevin-Mattheus-Moerman commented on #4824
@editorialbot check repository

[2022-10-06 21:35] Kevin-Mattheus-Moerman commented on #4824
@editorialbot generate pdf

[2022-10-06 21:40] bauer-alex commented on #4567
Thanks for the quick changes @bluefoxr.
For the word count I get 1,097 words (again, excluding header, figure captions, references and acknowledgements). Seeing that - as you mention - the paper grew a little during the revision process, this is fine for me.

The only open task from my previous message is to name it _Microsoft Excel_ instead of only _Excel_. Then you get my go for publication.

[2022-10-06 21:44] Kevin-Mattheus-Moerman commented on #4824
@Nicolas-Schmidt thanks for this submission. I have just assigned the `query-scope` label which means our board will review if this work is in scope for JOSS. In particular, given its small size we will check if it conforms to our [substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

In the mean time, please review our [paper

[2022-10-06 21:57] Nicolas-Schmidt commented on #4824
@Kevin-Mattheus-Moerman thank you very much for your time. We look forward to hearing from you. Please, let us know if you think we need to expand on any aspect

[2022-10-06 22:28] slwu89 commented on #4775
Hi @mikldk, I've been rather sick lately and unable to start the review yet. I'll aim to begin next week, I just wanted to update here to let you know I'm aware of the task.

[2022-10-06 22:34] emdupre commented on #4766
👋 Hi @jasmainak @sappelhoff @ajquinn @rly !

Would you be willing to review _Spectral Connectivity: a python package for computing multitaper spectral estimates and frequency-domain brain connectivity measures on the CPU and GPU_ for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org/)?

You can learn more about reviewing for JOSS -- including our conflict of interest policy -- [h

[2022-10-06 22:39] jasmainak commented on #4766
Unfortunately I cannot review at this moment :( However I can recommend @EtienneCmb @adam2392 @TomDLT as potential alternate reviewers, they are all extremely qualified for this topic!

[2022-10-06 22:47] emdupre commented on #4766
Thank you for letting us know, @jasmainak !

@edeno, while we wait to hear back on the existing reviewer invitations, I had a few editorial requests:

- Please double-check your author affiliations in the paper; I believe the first institutional affiliation should be "University of California San Francisco" rather than "University of California, San Francisco."
- Currently, your GitHub repository

[2022-10-06 23:20] pibion commented on #4818
@chrisrogers1234, could you try generating your review checklist and confirm that you can post on this thread?

[2022-10-06 23:21] pibion commented on #4818
@dtabell, are you still able to review?  I know it's been a long time since you agreed to review.

[2022-10-06 23:25] pibion commented on #4576
@mchieder the third paragraph looks great, I don't have any suggestions for editing.  Apologies for missing its point on my first read!

[2022-10-06 23:38] skadio commented on #4708
I found the Community/Integration section quite useful and a nice addition. It will definitely be useful for readers to learn about other relevant technology such as Minizinc/XCSP etc. The quick commentary on other (java) solvers is fair/reasonable.

I agree that going through an entire listing of CP solvers/tools would be out of scope, but at the very least, covering the "java" part seems relevan

[2022-10-06 23:38] skadio commented on #4708
@jbytecode  The paper is good to go from my end in its latest version.

[2022-10-06 23:40] pibion commented on #4576
@lstagner, @henrikjaerleblad, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-07 00:08] Lestropie commented on #4670
It's a little out of my comfort zone, and I wouldn't be able to commence until after the [ISMRM DSGW](https://www.ismrm.org/workshops/2022/Diffusion/) next week. If you're still struggling to find better reviewers after a couple of weeks, I could have a look, but might be limited in what I can and can't be critical of. Keep me on the list of potential reviewers regardless.

Will ping a colleague w

[2022-10-07 01:08] quynhneo commented on #3736
OK there will be some update by OCt 10

[2022-10-07 01:26] mikemahoney218 commented on #4574
Hey @elbeejay -- sorry for the delay, I'm currently not paying a ton of attention to GitHub or emails (through the 21st). I'll review the changes in the next week.

[2022-10-07 05:52] CZHU20 commented on #4118
@Kevin-Mattheus-Moerman this pull request has been merged. Thank you.

[2022-10-07 06:10] fabian-s commented on #4804
@editorialbot assign @fabian-s as editor

[2022-10-07 06:17] fabian-s commented on #4804
:wave: Hi @eafulton, hi @ethanwhite, hi @juanvillada!
Would any of you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-07 06:26] JulianKarlBauer commented on #4389
@editorialbot check references

[2022-10-07 06:27] bluefoxr commented on #4567
Thanks also for the quick reply, I have just made the last change - somehow I overlooked that one: https://github.com/bluefoxr/COINr/commit/b0c33138bdb56fbc66fe761dfc0ee57efa677d2a

[2022-10-07 06:28] JulianKarlBauer commented on #4389
@editorialbot generate pdf

[2022-10-07 06:29] csoneson commented on #4494
👋🏻 @hechth - apologies for the delay. I checked the tests and they look good to me. Hence, based on @chryswoods [comment](https://github.com/openjournals/joss-reviews/issues/4494#issuecomment-1253833103), I have checked the remaining boxes in the review checklist, and will proceed with the next steps. I will take a look through the submission, and get back to you shortly.

[2022-10-07 06:29] csoneson commented on #4494
@editorialbot generate pdf

[2022-10-07 06:30] csoneson commented on #4545
Ping @patRyserWelch8

[2022-10-07 06:30] cbrnr commented on #4650
@editorialbot generate pdf

[2022-10-07 06:32] csoneson commented on #4494
@editorialbot check references

[2022-10-07 06:34] JulianKarlBauer commented on #4389
@Kevin-Mattheus-Moerman Thank you! Sorry I could have checked the references on my own...
Repeated the checks and build.

[2022-10-07 06:38] cbrnr commented on #4650
@editorialbot generate pdf

[2022-10-07 06:45] cbrnr commented on #4650
@editorialbot generate pdf

[2022-10-07 06:48] cbrnr commented on #4650
Thanks @Kevin-Mattheus-Moerman, I applied your suggestions. I also added a figure, which I completely forgot in the first draft, but I think it's pretty important for a paper about a GUI. I hope that this is OK. The first page is a bit empty now, I tried moving some text, but it seems like I cannot change the figure position.

[2022-10-07 06:52] bauer-alex commented on #4567
Perfect!

[2022-10-07 06:52] bauer-alex commented on #4567
@editorialbot generate pdf

[2022-10-07 07:01] clarka34 commented on #3736
Sorry for the delay! I no longer work in academia, so I am pretty time constrained. I will try to look at the changes over the weekend.

[2022-10-07 07:02] mikldk commented on #4775
@slwu89 Thanks for the update. Get well soon.

[2022-10-07 07:02] bauer-alex commented on #4567
@jbytecode I'm happy with the changes made and ticked all my checkboxes. You can move on with the publication process.

[2022-10-07 07:07] csoneson commented on #4494
@hechth Alright, I went through the submission as well and overall it looks great - I opened a PR with a couple of minor fixes to the bibliography: https://github.com/RECETOX/MSMetaEnhancer/pull/128
Please take a look and merge if you agree. Is there a way to provide a DOI/URL for `RDKit`?

The next steps then are as follows:
- [ ] Make a tagged release of the software, and list the version tag of

[2022-10-07 07:07] AoifeHughes commented on #4801
Good morning all, sure @Kevin-Mattheus-Moerman I would absolutely love to be editor for this. Looks interesting!

[2022-10-07 07:08] mikldk commented on #4792
@Kevin-Mattheus-Moerman Sorry, but my schedule this and next week is full, so I have to kindly decline. Sorry.

[2022-10-07 07:26] chrisrogers1234 commented on #4818
@pibion I can post. However, I am full this week and next and unable to get started on this until w/c 17th October.

[2022-10-07 08:23] ajstewartlang commented on #4726
@editorialbot add @hsang as reviewer

[2022-10-07 09:13] Kevin-Mattheus-Moerman commented on #4792
@mikldk okay, no worries. Thanks for getting back to us here.

[2022-10-07 09:14] Kevin-Mattheus-Moerman commented on #4792
@editorialbot invite @osorensen as editor

[2022-10-07 09:15] Kevin-Mattheus-Moerman commented on #4783
@editorialbot assign me as editor

[2022-10-07 09:16] Kevin-Mattheus-Moerman commented on #4801
@editorialbot assign @AoifeHughes as editor

[2022-10-07 09:16] ajstewartlang commented on #4726
@editorialbot add @reckart as reviewer

[2022-10-07 09:16] ajstewartlang commented on #4726
@editorialbot start review

[2022-10-07 09:17] editorialbot opened #4825 "[REVIEW]: Hexatomic: An extensible, OS-independent platform for deep multi-layer linguistic annotation of corpora"
**Submitting author:** @sdruskat (<a href="http://orcid.org/0000-0003-4925-7248">Stephan Druskat</a>)
**Repository:** https://github.com/hexatomic/hexatomic
**Branch with paper.md** (empty if default branch): JOSS-paper
**Version:** v1.4.2
**Editor:** @ajstewartlang
**Reviewers:** @reckart
**Archive:** 10.5281/zenodo.7778709

## Status

[![status](https://joss.theoj.org/papers/826dfdf250a0fd9ece68

[2022-10-07 09:17] #4726 closed

[2022-10-07 09:18] Kevin-Mattheus-Moerman commented on #4801
Thats fantabulous, thanks @AoifeHughes.

[2022-10-07 09:42] themasterlink commented on #4783
Done, thanks for the recommendation.

[2022-10-07 09:42] themasterlink commented on #4783
@editorialbot generate pdf

[2022-10-07 09:43] osorensen commented on #4792
@editorialbot add @osorensen as editor

[2022-10-07 09:54] ulf1 commented on #4718
@jbytecode What is the current status here? Do I need to do something as reviewer?

[2022-10-07 10:01] klb2 commented on #4718
I am currently working on fixing the last issues. I will let you know once I am done with this.

However, some issues, e.g. https://github.com/klb2/qmkpy/issues/2, will probably not be fixed. I guess, there needs to be a discussion whether it is necessary to close all of them.

[2022-10-07 10:03] amitkumarj441 commented on #4758
Thanks @ajstewartlang for the review invitation. I will send my review in a week's time.

[2022-10-07 10:03] xuanxu commented on #4604
@sebastian-zieba Sorry for the delay starting the review, I'm having a hard time finding the reviewers.
I'll keep emailing people and/or pinging here potential reviewer. Bear with me 🙏

[2022-10-07 10:05] ajstewartlang commented on #4758
Thanks @amitkumarj441 - I need to find a second reviewer before opening the review issue. If you could wait until I've done both of those things that would be great.

[2022-10-07 10:11] amitkumarj441 commented on #4758
That works for me.

[2022-10-07 10:16] sdelandtsheer commented on #4753
Hello, I am having issues with the testing. With conda it seems that everything is set up except dolfin. I tried with Docker but my machine is refusing to cooperate although the image is pulled. I use windows 10, that might be the problem.
The project is interesting and the code seems to be of very good quality, however I am unable to run the tests and reproduce the plots.
I will be traveling over

[2022-10-07 10:17] xuanxu commented on #4604
@astrobel / @benmontet would you be willing to review this paper? It is a pipeline to analyze observations of transiting exoplanets written in Python that I think can fit with your expertise.

[2022-10-07 10:19] torressa commented on #4823
@editorialbot generate my checklist

[2022-10-07 10:37] henrikjaerleblad commented on #4576
@pibion Thanks for considering me as a reviewer! I believe I would be suitable.

However, I have my PhD deadline on November 30th and I am currently swamped by work.
A detailed review would therefore take a long time (let's say completed by early December). I could provide a not-so-detailed review within the month of October, if maybe @lstagner could provide a more detailed review as well?

[2022-10-07 10:44] osorensen commented on #4792
@editorialbot generate pdf

[2022-10-07 10:46] sebastian-zieba commented on #4604
Thanks @xuanxu !

[2022-10-07 10:53] osorensen commented on #4792
👋 @n8thangreen @RBhupi @stefanocoretta, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-07 11:51] timtroendle commented on #4261
@editorialbot set master as branch

[2022-10-07 11:51] timtroendle commented on #4261
@editorialbot generate pdf

[2022-10-07 12:22] bzz commented on #4151
Tried out the software package, check more boxes and sent some minor suggestions at https://github.com/nathanael-fijalkow/DeepSynth/pull/3

[2022-10-07 12:38] timtroendle commented on #4261
@editorialbot set v2.3.1 as version

[2022-10-07 12:39] timtroendle commented on #4261
@editorialbot set 10.5281/zenodo.7150137 as archive

[2022-10-07 12:42] timtroendle commented on #4261
@editorialbot generate pdf

[2022-10-07 12:44] AoifeHughes commented on #4753
@sdelandtsheer No problem, don't stress about it too much. I can see you've made it a significant way through the checklist - if I can just check if you've updated it as much as possible, that would be wonderful.

If you've any comments or ideas, please do share with the authors, as I'm sure they'd be appreciated.

@mbarzegary how is your review going? 😊

[2022-10-07 12:44] timtroendle commented on #4261
@LeonieFierz Thanks! As you can see I do not manage to generate the paper anymore on master branch, therefore I suggest you to wait until this is resolved. There is only one minor issue with the archive: It lists an unknown author `boaa-empa`. Please make sure the list of authors matches the one on the paper.

[2022-10-07 12:46] jbytecode commented on #4567
@bauer-alex, @paulrougieux - thank you for your valuable reviews and spending your time.

I think I can now start my editorial tasks.

Thank you.

[2022-10-07 12:47] jbytecode commented on #4708
@skadio - thank you for your review and spending your time for us.

@ozgurakgun - is your review completed?

If all of the issues are completed, then I can start my editorial tasks.

[2022-10-07 12:48] stefsmeets commented on #4654
Hi @prashjha Thanks for the useful suggestions, I tried to incorporate all of them in the final draft.

I created a new release: https://github.com/hpgem/nanomesh/tree/0.9.1 and uploaded it to Zenodo: https://zenodo.org/record/7157382

Let me know if there if there are any remaining issues.

[2022-10-07 12:49] danielskatz commented on #4261
The error (in the error link above) is

which makes me think there's something wrong with the repo name or branch name or permissions

[2022-10-07 12:50] jbytecode commented on #4718
@ulf1 - We are waiting our author @klb2 to finalize their edits.

@klb2 - please ping us when your edits are completed.

@ulf1 - I think a special decision has to be made for https://github.com/klb2/qmkpy/issues/2

@max-little - Could you please update your status?

[2022-10-07 12:50] danielskatz commented on #4261
@editorialbot set master as branch

[2022-10-07 12:51] jbytecode commented on #4567
@editorialbot check references

[2022-10-07 12:51] danielskatz commented on #4261
@editorialbot generate pdf

[2022-10-07 12:51] edeno commented on #4766
Hello @emdupre ,

Thank you for the requests and editing this review.

+ I believe the proper spelling has a comma in between California and San Francisco. Or at least this is how it is written in the brand guidelines for the university: https://identity.ucsf.edu/brand-guide/using-ucsf-name. I have no particular attachment to this, so I'm happy to change it. I will double check the other affiliati

[2022-10-07 12:53] jbytecode commented on #4567
@editorialbot generate pdf

[2022-10-07 13:04] mbarzegary commented on #4753
dear @AoifeHughes,

I confirm the quality of the software and the effort the authors have put in to develop it. Moreover, I know about the SimCardioTest project and its goals, so what the software tries to target as part of the project endeavor is clear to me. However, I believe there are some concerns that should be addressed before accepting the submission, elaborated in a couple of issues I hav

[2022-10-07 13:10] bluefoxr commented on #4567
@jbytecode thank you I have merged the pull request

[2022-10-07 13:11] klb2 commented on #4718
I have now closed all remaining issues, except for https://github.com/klb2/qmkpy/issues/2.

Please let me know, if there is anything else to do.

[2022-10-07 13:11] JosiahParry commented on #4574
Thanks for the reminder! I'll be funemployed for a week next week. I'll get
to it then.

On Thu, Oct 6, 2022 at 9:27 PM Michael Mahoney ***@***.***>
wrote:

[2022-10-07 13:11] AJQuinn commented on #4564
Hi all - apologies for the delay. I've reviewed the changes from @mscheltienne above and am happy with the updates. Happy for the paper to proceed from my side.

@Kevin-Mattheus-Moerman I believe I've completed the checklist above, please let me know if there is anything else I need to do.

Thanks all

[2022-10-07 13:17] AJQuinn commented on #4766
Hello all - thanks for the invite, this looks like an interesting package. I'd be happy to contribute a review.

[2022-10-07 13:21] jbytecode commented on #4567
@bluefoxr - please review the pull request that I have just sent and apply it if you are agreed with the changes.

Thank you in advance.

[2022-10-07 13:25] xuanxu commented on #4261
I took a look at the error and this is the complete message:

[code]

I'm getting the same error locally when running `git clone https://github.com/hues-platform/cesar-p-core`

[2022-10-07 13:26] hkaspersen commented on #4677
@csoneson can I update the version of the pipeline based on the changes I have made here without it affecting the review?

[2022-10-07 13:30] hkaspersen commented on #4677
Dear @mberacochea, @hseabolt, and @rcannood.
I am currently working on implementing some sort of test for the pipeline, but I am having a difficult time in figuring out how to do it the best way. If you have any suggestions or examples, please let me know! I see that `nf-core` provide tests that run on github actions, but I am not sure if I will manage to implement this here, as I am not familiar

[2022-10-07 13:41] csoneson commented on #4677
Yes - the version in the first post above is the version at the time of submission. You can update during the review process (but it won't be updated in this thread), and at the time of acceptance we sync the two again.

[2022-10-07 13:42] timtroendle commented on #4261
Good catch. I can confirm that cloning the repo doesn't work. Thank you @xuanxu and @danielskatz .

@LeonieFierz could you have a look at that so we can generate the pdf again?

[2022-10-07 13:46] jbytecode commented on #4716
@becarioprecario - could you please update your status? We have failed to get a life signal from you. Setting a deadline for us would be great, if possible. Thank you in advance.

[2022-10-07 13:54] bmskinner commented on #4767
Thanks @petebankhead for these comments! I have addressed them as follows:

The testing image zip file now has a readme file included with full details of the animals, suppliers, the licence under which they were collected, and the experimental protocol.

Thank you for this - the wiki has been updated, and the instructions will be included in the internal user guide in the next release.

Informati

[2022-10-07 13:57] prashjha commented on #4654
@editorialbot check references

[2022-10-07 13:59] prashjha commented on #4654
@editorialbot generate pdf

[2022-10-07 14:00] prashjha commented on #4654
@editorialbot set 0.9.1 as version

[2022-10-07 14:01] prashjha commented on #4654
@editorialbot set 10.5281/zenodo.7157382 as archive

[2022-10-07 14:03] prashjha commented on #4654
@editorialbot generate pdf

[2022-10-07 14:05] prashjha commented on #4654
Hi @stefsmeets, I am not seeing any changes in the draft. Please check!

[2022-10-07 14:17] Natsiopoulos commented on #3496
@sbenthall I fixed the DOI's. The manuscript looks ok too.

[2022-10-07 14:24] tibordome commented on #4626
@adonath That's ok. Many thanks for keeping me up to date.

[2022-10-07 14:30] finsberg commented on #4753
@mbarzegary Thanks a lot for the comprehensive review. We really appreciate the time and effort you put into this. I agree all your concerns and I will spend some time next week to address these issues.

[2022-10-07 14:30] stefsmeets commented on #4654
My bad, forgot to push my changes back 🤦

@editorialbot generate pdf

[2022-10-07 14:33] bluefoxr commented on #4567
@jbytecode thanks for your input - I have merged that as well.

[2022-10-07 14:36] jbytecode commented on #4567
@editorialbot check references

[2022-10-07 14:38] jbytecode commented on #4567
@editorialbot generate pdf

[2022-10-07 14:47] jbytecode commented on #4567
@bluefoxr - please check the PR again

[2022-10-07 15:04] bluefoxr commented on #4567
Thanks, merged, I just added a word

[2022-10-07 15:05] jbytecode commented on #4567
@editorialbot generate pdf

[2022-10-07 15:08] JessicaS11 commented on #4820
@editorialbot generate pdf

[2022-10-07 15:09] jbytecode commented on #4567
Dear @bluefoxr

- [X] The paper and the bibtex look nicer now. Thank you.
- [ ] Please read the paper pdf carefully, one more time, correct any issue if exists. Please perform a full grammar check.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive of the repository in https://ze

[2022-10-07 15:28] asitha-sena commented on #4569
@jedbrown Is there anything else that I need to do?

[2022-10-07 15:55] petebankhead commented on #4767
Thanks @bmskinner ! I can confirm the tests now run on macOS.

Do you know how I can access the updated version?

[2022-10-07 15:59] prashjha commented on #4654
@editorialbot generate pdf

[2022-10-07 16:10] prashjha commented on #4654
@stefsmeets perfect...handing your paper to EiC!

[2022-10-07 16:10] prashjha commented on #4654
@editorialbot recommend-accept

[2022-10-07 16:11] rkurchin commented on #4770
I can take this if Richard isn't available, but I might have to wait until the end of next week to get started on it as I'm slammed with deadlines at the moment 😬

[2022-10-07 16:13] bmskinner commented on #4767
@editorialbot generate pdf

[2022-10-07 16:19] danielskatz commented on #4762
@untzag - I'll just point out here that [JOSS's criterion on testing](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) does not require automated testing, so while I think that using CI would be great, it shouldn't be a blocker for acceptance.

Again, your suggestions (CI & PyPI) are great and would really benefit the software and the community, but they are not strictly required

[2022-10-07 16:40] wiljnich commented on #4655
@adriancorrendo I've completed my initial review and request only minor revisions, all of which I feel are sufficiently addressed by @simonpcouch's excellent and thorough [issue #28](https://github.com/adriancorrendo/metrica/issues/28). Thank you for your hard work and forthcoming updates.

[2022-10-07 17:46] dtabell commented on #4818
My apologies!
Life has a way of intervening, but that is an excuse of no merit.
I have put this on my weekend task list.
Dan

[2022-10-07 18:02] craig-willis commented on #4707
@editorialbot generate pdf

[2022-10-07 18:33] IvanIsCoding commented on #3968
@arfon  @drvinceknight We have officially released the library under the name of `rustworkx`.

We have archived the library in Zenodo, can you help set up the archive with editorialbot? https://doi.org/10.5281/zenodo.7158473

[2022-10-07 18:46] reckart commented on #4825
@editorialbot generate my checklist

[2022-10-07 18:46] arfon commented on #3312
@editorialbot reject

[2022-10-07 18:46] #3312 closed

[2022-10-07 18:47] arfon commented on #4737
@relf – At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the authors

[2022-10-07 19:00] reckart commented on #4726
@sdruskat Hi :) As part of reviewing the submission, I'd like to ask a couple of questions as I go along. Here are some initial ones:

* Are there any community guidelines that go along with Hexatomic? Can you provide a URL?
* Are there any examples / use-cases / tutorials? Can you provide a URL?
* Could you provide a list of all depenencies of hexatomic and their respective licences please?

I ha

[2022-10-07 19:02] reckart commented on #4726
@ajstewartlang If there is another place to ask questions in stead of this issue, please provide a pointer.

[2022-10-07 19:39] hseabolt commented on #4677
@hkaspersen you can include some small test data files in the `assets` dir in your repo, and create some `test.config` files in `conf` dir.  Check out the example I have here: https://github.com/CDCgov/mycosnp-nf to see the file structure and examples of the `test.config` file.  You will need to import this config into your `nextflow.config` in the base dir, examples of this can be seen in the Myc

[2022-10-07 19:44] sbenthall commented on #3496
@Natsiopoulos Great. Next, can you please:

- Tag a release for publication
- Create and online archive with a DOI, for example using Zenodo
- Report the version number and archive DOI in this review thread

[2022-10-07 19:53] ajstewartlang commented on #4726
@reckart If you could post the questions [here](https://github.com/openjournals/joss-reviews/issues/4825) that would be great.

[2022-10-07 20:19] reckart commented on #4825
@sdruskat Hi :) As part of reviewing the submission, I'd like to ask a couple of questions as I go along. Here are some initial ones:

* Are there any community guidelines that go along with Hexatomic? Can you provide a URL?
* Are there any examples / use-cases / tutorials? Can you provide a URL?
* Could you provide a list of all depenencies of hexatomic and their respective licences please?

I ha

[2022-10-07 20:21] relf commented on #4737
@editorialbot generate pdf

[2022-10-07 20:32] f-t-s commented on #4730
Sorry, I overlooked this. We had an initial meeting but have not been much in touch since, since the main driver of the collaboration still had to wrap up a previous program. However, he is about to get started on this. If this is considered fine, I am happy to review it. I just don't feel comfortable giving guarantees about delaying the start of (work on) a collaboration until a review is finishe

[2022-10-07 21:36] Kevin-Mattheus-Moerman commented on #4792
Thanks for handling this one @osorensen!

[2022-10-07 21:38] Kevin-Mattheus-Moerman commented on #4783
@themasterlink over the coming week I will be looking for reviewers. If you would like to suggest reviewers that would be helpful too. Please mention their github handles here but leave out the `@` symbol so they are not tagged yet. Thanks

[2022-10-07 21:40] editorialbot opened #4826 "[PRE REVIEW]: BellDiagonalQudits: A package for entanglement analyses of mixed maximally entangled qudits"
**Submitting author:** @kungfugo (<a href="http://orcid.org/0000-0002-2352-3731">Christopher Popp</a>)
**Repository:** https://github.com/kungfugo/BellDiagonalQudits.jl
**Branch with paper.md** (empty if default branch):
**Version:** v.0.1.1
**Editor:** @jarvist
**Reviewers:** @meandmytram, @Roger-luo
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/f3f0b9688

[2022-10-07 21:43] Kevin-Mattheus-Moerman commented on #4826
@editorialbot invite @jarvist as editor

[2022-10-07 21:45] editorialbot opened #4827 "[PRE REVIEW]: OX FreeSurf: Automated Free Surface Calculation in Open-Channel Flow"
**Submitting author:** @alangousis (<a href="http://orcid.org/0000-0002-0643-2520">Andreas Langousis</a>)
**Repository:** https://github.com/alangousis/OXFreeSurf
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/577a26d1420898aa874d1a9ebef3b5b2/s

[2022-10-07 21:54] Kevin-Mattheus-Moerman commented on #4650
@cbrnr I checked the changes and all looks good. I will now process this work for acceptance in JOSS. At this point can you work on the following:

- [ ] Please archive a copy of the reviewed software on [ZENODO](https://zenodo.org/) you can do this manually, or some find these automated steps useful: https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-cont

[2022-10-07 22:04] Kevin-Mattheus-Moerman commented on #4827
@alangousis thanks for this submission. Unfortunately this work is, in its current form not in scope for JOSS and will therefore be rejected as it stands.
In particular the submission seems rather premature and small in size in terms of lines of code as well as functionality. Furthermore the package seems to lack detailed documentation, contribution guidelines, and automated testing, which are req

[2022-10-07 22:04] Kevin-Mattheus-Moerman commented on #4827
@editorialbot reject

[2022-10-07 22:04] #4827 closed

[2022-10-07 22:05] editorialbot opened #4828 "[PRE REVIEW]: giotto-deep: A Python Package for Topological Deep Learning"
**Submitting author:** @matteocao (<a href="http://orcid.org/0000-0001-9416-9090">Matteo Caorsi</a>)
**Repository:** https://github.com/giotto-ai/giotto-deep
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.0.3
**Editor:** @osorensen
**Reviewers:** @EduPH, @leotrs, @ismailguzel
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/f1f94829

[2022-10-07 22:45] relf commented on #4737
Thank you @arfon

Here is the link to the DOI: https://doi.org/10.5281/zenodo.7159007

[2022-10-07 22:57] rly commented on #4766
Hi all. I have a conflict of interest and so will have to decline. I am actively collaborating with @edeno on a separate, funded software project.

[2022-10-08 00:35] astrobel commented on #4604
Hi @xuanxu, I'd be happy to help out! :-)

[2022-10-08 03:15] cariyurek commented on #4670
@editorialbot generate pdf

[2022-10-08 03:26] cariyurek commented on #4670
@editorialbot generate pdf

[2022-10-08 03:29] cariyurek commented on #4670
@editorialbot check references

[2022-10-08 03:31] cariyurek commented on #4670
Hi @emdupre ,

I hope we have fixed the editorial requests. Thanks for your time!

[2022-10-08 06:43] ggonnella commented on #4755
I created a docker as suggested by the reviewer.
This allows to run tests, benchmarks and the example application without hassles.
I improved the documentation, including the part regarding installation.

I updated the benchmark results in the paper, using values obtained using the Docker
mentioned above. In the repository are now scripts, which allow to reproduce the
tables of the paper fully aut

[2022-10-08 06:44] ggonnella commented on #4755
@editorialbot generate pdf

[2022-10-08 07:17] arfon commented on #4744
Note to editors, this is a resubmission of https://github.com/openjournals/joss-reviews/issues/4320

[2022-10-08 07:26] Kevin-Mattheus-Moerman commented on #4828
@matteocao the above lines of code counts seem very low :point_up: can you clarify what the submission to be reviewed entails? Is it just the content over at  https://github.com/giotto-ai/giotto-deep or is there other content/repos too?

[2022-10-08 07:26] Kevin-Mattheus-Moerman commented on #4828
@editorialbot check repository

[2022-10-08 07:26] arfon commented on #4744
@Kevin-Mattheus-Moerman – I've reviewed the changes yes. In summary I see:

- Lots of `.edi` file changes
- Changes to docs.
- Lots of files changed due to package structure updates (e.g., `pycsamt.ff.core.avg` > `pycsamt.core.avg`)
- A small number of more substantial changes: e.g., `pycsamt/processing/ctools.py`

@WEgeophysics – having reviewed the changes (https://github.com/WEgeophysics/pycsam

[2022-10-08 07:26] arfon commented on #4744
@editorialbot reject

[2022-10-08 07:26] #4744 closed

[2022-10-08 07:33] Kevin-Mattheus-Moerman commented on #4389
@JulianKarlBauer I read your paper and have two remaining very minor points:

- [ ] Please add city names to all affiliations
- [ ] For `several ... , exist but mainly...` it looks like the comma should go after `exist` (but feel free to disagree)

[2022-10-08 07:49] sappelhoff commented on #4766
Hi, thanks for reaching out. I can contribute a review in case a third reviewer is needed.

[2022-10-08 07:52] Kevin-Mattheus-Moerman commented on #4236
I have reviewed the paper and archive, and all seems in order. I will now proceed to accept this submission in JOSS.

[2022-10-08 07:52] Kevin-Mattheus-Moerman commented on #4236
@editorialbot accept

[2022-10-08 07:54] Kevin-Mattheus-Moerman commented on #4329
@pdebuyl thanks for handling this submission. In the future please ensure you in ask authors to amend the archive meta-data to match that of the paper (e..g title and authors).

[2022-10-08 08:00] Kevin-Mattheus-Moerman commented on #4329
@rogersamso

In relation to the archive:
- [ ] Please manually edit the ZENODO archive listing so that the meta-data matches that of the paper. In particular fix the title and the author list. Furthermore you can ensure the correct license is listed and may opt to add the author ORCID fields.

On the paper
- [ ] Please add city and country information to all affiliations (do not use acronyms for c

[2022-10-08 08:06] Kevin-Mattheus-Moerman commented on #4236
@jvkersch congratulations on this publication in JOSS :partying_face:

@lpantano thanks a lot for your help editing this work!

Special thanks also to the reviewers @tamarahadz and @sdhutchins !!

[2022-10-08 08:06] #4236 closed

[2022-10-08 08:09] arfon commented on #4737
@editorialbot set 10.5281/zenodo.7159007 as archive

[2022-10-08 08:10] arfon commented on #4737
@editorialbot set v0.5.0 as version

[2022-10-08 08:10] arfon commented on #4737
@editorialbot recommend-accept

[2022-10-08 08:14] Kevin-Mattheus-Moerman commented on #4555
I checked the paper and the archive and all seems in order. I have one minor comment on the paper:

- [ ] Please add city and country information to all affiliations, furthermore please do not use acronyms for countries (so spell out United States of America).

[2022-10-08 08:19] arfon commented on #4737
@relf – could you please merge this PR with some small changes to your paper? https://github.com/relf/egobox/pull/43

[2022-10-08 08:34] relf commented on #4737
@arfon, done

[2022-10-08 10:04] matteocao commented on #4828
Dear @Kevin-Mattheus-Moerman ,

Thank you for your comments.

If I understand your question correctly, I would say that the `editorialbot` is not counting properly: it is excluding all the files with `.py` extension as well as `.ipynb` which form the core of the library (thousands of lines). Furthermore, there are k8 yaml files not considered either.
The license is the standard AGPLv3, which is al

[2022-10-08 10:41] hendriks73 commented on #4554
Apologies for not getting back to you earlier and thanks for the improvements, @JorenSix. From my POV, all boxes are checked now.

It's not pretty, but a JPMS module can be dependent on a plain old jar file (an [*automatic module*](https://stackoverflow.com/a/46742802/942774)).

It's just something JOSS encourages and simplifies usage for people not wanting to `git clone` to get to your software.

[2022-10-08 11:00] cbrnr commented on #4650
Done. I messed up a bit, so there are now multiple v0.8.5 releases on Zenodo. But I guess that's OK, because the latest one works.

How do I do that? Adding a `.zenodo.json` means that I'd have to keep the version (and possibly other fields) up to date manually, which is something I'd like to avoid. What is the best practice here? Is creating a `CITATION.cff` sufficient, and can I skip the Zenodo

[2022-10-08 11:50] xuanxu commented on #4604
@astrobel: Great, thanks!
I'm going to assign you as reviewer now and as soon as we have a second one I'll start the review issue. Stay tuned!

[2022-10-08 11:50] xuanxu commented on #4604
@editorialbot add @astrobel as reviewer

[2022-10-08 12:14] dfm commented on #4456
Excellent - thanks!

A huge thank you @QuentChangeat & @jgagneastro and for your constructive reviews!!

@VChristiaens — I'm going to take a last pass through the paper and then I'll have some final steps for you before acceptance.

[2022-10-08 12:14] dfm commented on #4456
@editorialbot generate pdf

[2022-10-08 12:14] dfm commented on #4456
@editorialbot check references

[2022-10-08 13:46] dfm commented on #4456
@VChristiaens — I've opened a PR with some edits and questions. Please address those and then go through the following steps:

1. Take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially your name and affiliation. I've taken a pass and it looks good to me!
2. Increment the version number of the software and report that versio

[2022-10-08 13:48] dfm commented on #4634
@minaskar — I wanted to check in here since I think we're waiting on your responses to @kazewong, @marylou-gabrie's final small comments. Let us know if anything isn't clear or if you've addressed these issues. Thanks!

[2022-10-08 15:19] dpwe commented on #4554
Everything looks good to me now (including the contributions and the additional benchmarking).  I would like to see this work accepted in its current state.

[2022-10-08 19:39] psanan commented on #4531
Hi @kyleniemeyer , apologies for the delay - as you can tell, I'm struggling to find time to wrap this up (new job). I'm hoping that the paper will be updated soon with with most of what @mbarzegary requested.

[2022-10-08 23:51] majensen commented on #4566
(@hrossman - just a heads up that it may take a few days to get an EIC on the case, since they are also volunteer. I'll ping again midweek if we don't hear back. Thanks!)

[2022-10-09 00:12] Smattr commented on #4816
@editorialbot generate my checklist

[2022-10-09 06:51] anshu-97 commented on #4564
Hey all, sorry for the delay in my response! I have looked through all the updates made and think they are sufficient as well 😊

@Kevin-Mattheus-Moerman I've completed the above checklist, please let me know if any further actions are needed from my side. Thanks!

[2022-10-09 07:25] ulf1 commented on #4718
@jbytecode @max-little @klb2 Everything looks Ok from my point of view 👍

[2022-10-09 08:00] arfon commented on #4737
@editorialbot recommend-accept

[2022-10-09 08:02] arfon commented on #4706
@editorialbot accept

[2022-10-09 08:03] arfon commented on #4737
@editorialbot accept

[2022-10-09 08:05] arfon commented on #4691
@editorialbot accept

[2022-10-09 08:08] arfon commented on #4684
@editorialbot accept

[2022-10-09 08:09] arfon commented on #4706
@mstimberg, @janfreyberg – many thanks for your reviews here and to @ZeitgeberH for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@jmschrei – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-09 08:09] #4706 closed

[2022-10-09 08:12] arfon commented on #4654
@editorialbot accept

[2022-10-09 08:15] arfon commented on #4566
@editorialbot accept

[2022-10-09 08:17] editorialbot opened #4829 "[PRE REVIEW]: Copper: a performance curve generator for building energy simulation"
**Submitting author:** @lymereJ (<a href="http://orcid.org/0000-0002-1630-6886">Jeremy Lerond</a>)
**Repository:** https://github.com/pnnl/copper
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** 0.1.5
**Editor:** @crvernon
**Reviewers:** @samuelduchesne, @FWuellhorst
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/9509076e1ef0a0c05f141f

[2022-10-09 08:17] editorialbot opened #4830 "[PRE REVIEW]: PyDigital"
**Submitting author:** @rapidcompiler (<a href="http://orcid.org/0000-0002-8519-7898">Sanjay Suresh</a>)
**Repository:** https://github.com/RapidCompiler/pydigital
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/03e95641f118b328eb48626b2c51d7d4/statu

[2022-10-09 08:17] editorialbot opened #4831 "[PRE REVIEW]: GraphNeT: Graph neural networks for neutrino telescope event reconstruction"
**Submitting author:** @asogaard (<a href="http://orcid.org/0000-0002-0823-056X">Andreas Søgaard</a>)
**Repository:** https://github.com/graphnet-team/graphnet
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.2
**Editor:** @dfm
**Reviewers:** @JostMigenda, @GageDeZoort
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/eecab02fb1ecd174a5273750c1

[2022-10-09 08:18] editorialbot opened #4832 "[PRE REVIEW]: Metagenomic classification with KrakenUniq on low-memory computers"
**Submitting author:** @salzberg (<a href="http://orcid.org/0000-0002-8859-7432">Steven Salzberg</a>)
**Repository:** https://github.com/fbreitwieser/krakenuniq
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @lpantano
**Reviewers:** @Jessime, @MaximLippeveld
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/0558bc421e6167f70639f

[2022-10-09 08:18] editorialbot opened #4833 "[PRE REVIEW]: Carnival: JVM Property graph data unification toolkit"
**Submitting author:** @hjwilli (<a href="http://orcid.org/0000-0002-5079-1328">Heather Williams</a>)
**Repository:** https://github.com/carnival-data/carnival
**Branch with paper.md** (empty if default branch): joss2
**Version:** V2.1.5
**Editor:** @majensen
**Reviewers:** @kinow, @KonradHoeffner
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/77c829339608b3faaa

[2022-10-09 08:19] editorialbot opened #4834 "[PRE REVIEW]: PyKronecker: A Python Library for the Efficient Manipulation of Kronecker Products and Related Structures"
**Submitting author:** @nickelnine37 (<a href="http://orcid.org/0000-0002-5553-8145">Edward Antonian</a>)
**Repository:** https://github.com/nickelnine37/pykronecker
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @JulianKarlBauer, @nicoguaro
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/

[2022-10-09 08:19] editorialbot opened #4835 "[PRE REVIEW]: biogrowleR: Extracting insights from growth measurement data"
**Submitting author:** @chronchi (<a href="http://orcid.org/0000-0002-8079-8643">Carlos Henrique Venturi Ronchi</a>)
**Repository:** https://gitlab.com/upbri/biogrowleR
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/6e6b084302435ed1de5e2813b1ab5935/

[2022-10-09 08:19] editorialbot opened #4836 "[PRE REVIEW]: InspectorCell: Finding Ground Truth in Multiplexed Microscopy Images"
**Submitting author:** @AndreGosselink (<a href="http://orcid.org/0000-0003-0181-456X">Andre Gosselink</a>)
**Repository:** https://gitlab.com/InspectorCell/inspectorcell
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 0.3.1
**Editor:** @fboehm
**Reviewers:** @suresh-lab, @cinnetcrash
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ebe

[2022-10-09 08:20] editorialbot opened #4837 "[PRE REVIEW]: OpenMSIStream: A Python package for facilitating integration of streaming data in diverse laboratory environments"
**Submitting author:** @eminizer (<a href="http://orcid.org/0000-0003-4591-2225">Margaret Eminizer</a>)
**Repository:** https://github.com/openmsi/openmsistream
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @pibion
**Reviewers:** @lucask07
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/eebecf9b018affe51a702f2a72342372/status

[2022-10-09 08:21] arfon commented on #4830
@editorialbot query scope

@RapidCompiler – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-10-09 08:42] Kevin-Mattheus-Moerman commented on #4650
@cbrnr editing the archive is not that difficult/technical. You can go to your ZENODO archive link and then simply click edit.

You can check all fields, but the main things to check and edit are:

- [ ] The title, which should match the paper
- [ ] The author list, which should match the paper
- [ ] The license, which should list your software license (leave as "open open", if I am not mistaken,

[2022-10-09 08:46] Kevin-Mattheus-Moerman commented on #4787
@galessiorob :wave:

[2022-10-09 08:46] Kevin-Mattheus-Moerman commented on #4770
@rkurchin I'll assign you as editor for now. Starting when you are ready sounds fine.

[2022-10-09 08:47] Kevin-Mattheus-Moerman commented on #4770
@editorialbot assign @rkurchin as editor

[2022-10-09 10:35] OllyK commented on #4691
Brilliant! 👍 🎉 🍨 Thanks all!
@arfon  One minor thing is that the link associated with my name is broken. Not a big issue but pointing it out in case it's an easy fix.
![image](https://user-images.githubusercontent.com/11923466/194751925-cc8ba1e8-aa84-4ae2-870a-151a2a39b83b.png)

[2022-10-09 10:50] arfon commented on #4833
@hjwilli – it seems like @editorialbot doesn't know how to analyse your repository. Could you point me to where the source code is located?

[2022-10-09 10:51] arfon commented on #4834
@editorialbot query scope

@nickelnine37 – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-10-09 10:52] arfon commented on #4835
@editorialbot query scope

@chronchi – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-10-09 11:11] nickelnine37 commented on #4834
Thank you for you comments. Here is a list of people who could be potential reviewers, extracted from your suggested list:

janfb
victorapm
Athene-ai
fredstro
turgeonmaxime
Daniel-Dodd
fabian-sp
mdhaber
max-little
tonyewong
mhu48

[2022-10-09 11:14] nickelnine37 commented on #4834
@editorialbot commands

[2022-10-09 12:21] arfon commented on #4737
@bytesnake, @quietlychris, @YuhanLiin – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@relf  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-09 12:21] #4737 closed

[2022-10-09 12:22] arfon commented on #4684
@tomfaulkenberry, @garretrc – many thanks for your reviews here and to @osorensen  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@IndrajeetPatil  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-09 12:22] #4684 closed

[2022-10-09 12:22] arfon commented on #4654
@jameshgrn, @vijaysm – many thanks for your reviews here and to @prashjha  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@stefsmeets  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-09 12:22] #4654 closed

[2022-10-09 12:23] arfon commented on #4566
@CamDavidsonPilon, @stefanocoretta – many thanks for your reviews here and to @majensen  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@hrossman  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-09 12:23] #4566 closed

[2022-10-09 12:25] hrossman commented on #4566
Much appreciated @CamDavidsonPilon @stefanocoretta @majensen
Thank you for you the review and effort!

[2022-10-09 12:26] arfon commented on #4691
@OllyK – the link works for me? https://joss.theoj.org/papers/by/Oliver%20N%2E%20f%2E%20King

What browser are you using out of interest?

[2022-10-09 12:27] arfon commented on #4691
@jingpengw, @estenhl – many thanks for your reviews here and to @osorensen  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@OllyK  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-10-09 12:27] #4691 closed

[2022-10-09 12:28] jagnobli commented on #4600
@editorialbot generate pdf

[2022-10-09 12:32] arfon commented on #4763
:wave: @duhd1993, @bbrelje, @Fei-Tao – how are we getting along here? It looks like @duhd1993 @bbrelje are both yet to start their reviews?

[2022-10-09 12:32] jagnobli commented on #4600
@oliviaguest, thanks for your hints on typos...I just made some changes to manuscript to fix them...

I will talk to @xi whether we should go for zenodo or figshare on Monday.

[2022-10-09 12:36] arfon commented on #4821
@lucasmccabe - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-09 12:37] arfon commented on #4819
@MrShoenel - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-09 12:38] arfon commented on #4820
@JessicaS11 - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-09 12:45] OllyK commented on #4691
@arfon Strangely the link works in Firefox but doesn't work in Chrome (on Windows) or on a DuckDuckGo browser on my Android phone. Like I said, not a big deal, happy it's been published 😄. Thanks @osorensen @estenhl and @jingpengw for taking the time to review!
![image](https://user-images.githubusercontent.com/11923466/194757304-5e5883ee-0335-45b4-9e85-e4794c85c1ad.png)

[2022-10-09 12:46] nickelnine37 commented on #4834
@editorialbot generate pdf

[2022-10-09 12:48] nickelnine37 commented on #4834
@editorialbot check references

[2022-10-09 12:54] relf commented on #4737
@bytesnake, @quietlychris, @YuhanLiin, @arfon
Thank you for your reviews! It was really nice to go through this smooth process together.

[2022-10-09 14:15] krober10nd commented on #4366
I've posted several issues on the gitlab website. I was not able to install on Python 3.10 (as you said),Python 3.9, nor Python 3.8. I had to use Python 3.7 to install.

In its current state, I cannot recommend acceptance of this article but I hope this changes with revision and  further effort on the software side.

Unless I'm missing something, the software appears to gather data from a server a

[2022-10-09 14:29] salzberg commented on #4832
@editorialbot commands

[2022-10-09 14:30] ZeitgeberH commented on #4706
Thanks very much! It was a very nice experience!

[2022-10-09 14:54] CamDavidsonPilon commented on #4566
Thank you for adding your software to a growing Python survival analysis ecosystem, @hrossman!

[2022-10-09 16:43] arfon commented on #4706
And of course I _actually_ mean, thanks for @jmschrei for editing this submission and @ZeitgeberH _your_ paper is now accepted and published in JOSS :-)

[2022-10-09 16:54] minaskar commented on #4634
@marylou-gabrie We're currently using the samples from the current annealed distribution in order to train the flow that will serve as the preconditioner for the next annealed distribution. Since the beta-spacings are small enough we found no benefit in reweighting the samples.

@dfm Thanks for the reminder and apologies for the delayed response, we will address the remaining comments during the n

[2022-10-09 17:40] stefanocoretta commented on #4792
Hello! Happy to review.

[2022-10-09 17:55] JulianKarlBauer commented on #4389
* [x]  Please add city names to all affiliations
* [x]  For `several ... , exist but mainly...` it looks like the comma should go after `exist` (but feel free to disagree)

@Kevin-Mattheus-Moerman Thank you! Fixed both.

[2022-10-09 17:56] JulianKarlBauer commented on #4389
@editorialbot generate pdf

[2022-10-09 18:38] arfon commented on #4828
Here's the output of `cloc` on the `main` branch:

[code]

[2022-10-09 18:38] arfon commented on #4828
@matteocao - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-10-09 18:56] aj2duncan commented on #4807
@editorialbot generate my checklist

[2022-10-09 18:57] pbotros commented on #4627
Thank you @agricolab and @ixjlyons for the detailed comments and questions! I am unfortunately away from work for personal reasons until mid-November, but will address any comments then. (CC @gkthiruvathukal)

[2022-10-09 19:22] blthayer commented on #4516
Nice work, @stinefm!

I consider my review complete. I hope you're able to accumulate a large user base for RELSAD - seems like a very useful tool :smile:

- Brandon

[2022-10-09 19:27] blthayer commented on #4516
@fraukewiese - my review is complete. Please let me know if anything further is needed from me. Thank you!

@stinefm - I hope you consider volunteering to review for JOSS. There aren't too many in the power systems engineering field on the reviewer list/spreadsheet.

[2022-10-09 20:20] quynhneo commented on #3736
@fibreglass2 Thanks for the effort, especially the MATLAB scripts. I just provided another issue.

[2022-10-09 20:20] lucasmccabe commented on #4821
@arfon Got it. Thank you for the update!

[2022-10-09 20:43] lymereJ commented on #4829
Looking at the list you provided it looks like samuelduchesne, ralphevins, and jasondegraw would be suited reviewers.

[2022-10-09 21:08] chronchi commented on #4835
Dear Arfon, thank you for your comment and time.

[2022-10-09 21:11] chronchi commented on #4835
@editorialbot generate pdf

[2022-10-09 21:37] sjvrijn commented on #4730
@diehlpk Sorry for the late reply, but I'm currently unavailable to review

[2022-10-10 00:09] benmontet commented on #4604
@xuanxu I'm on leave and out of the office until 25 October. If you're still looking for a reviewer at that time I can pop on it but I won't be doing any work until that date!

[2022-10-10 00:35] dfm commented on #4503
@taylorbell57 — I've gone through the checklist and happily checked all but 1 of the boxes. You may have also noticed the issue and PR that I opened. After you take a look at those, I'd say that the only remaining issue here is the "State of the field" in the software paper section of the checklist. I know that some alternative tools are listed in the paper, but I think it would be great to provid

[2022-10-10 03:22] vinisalazar commented on #4755
Hi,

I believe that the problem targeted by the software is legitimate and that the applications are solid. So, I'm inclined to accept this paper. However, I agree that there are a number of issues that must be addressed.

I was able to successfully install from both source and using the Docker image, and to run the tests.

The Docker image proved to be the easiest method. Although it did take lon

[2022-10-10 04:45] osorensen commented on #4792
@editorialbot add @stefanocoretta as reviewer

[2022-10-10 05:32] psanan commented on #4531
@editorialbot generate pdf

[2022-10-10 05:40] psanan commented on #4531
Thanks, @mbarzegary, for the review and apologies for the huge delay! The draft has just been updated and I'll respond to each comment below.

**(1)** *Figures are unnecessarily too big on the paper (each is almost one page). I think reducing the size makes the paper look nicer.**

   Figures have been reduced to 60% width.

**(2)**   *It's not clear how the code is a standalone software and shoul

[2022-10-10 07:39] fabian-s commented on #4403
@gdede-hua it's been 20 days, middle of October is almost here.
We see no updates in your repository on these issues.
Please address all outstanding issues within the next 10 days, otherwise I will recommend rejection of this submission.

[2022-10-10 07:39] AoifeHughes commented on #4801
Good morning @lcmpikg - have you had a chance to sort out these https://github.com/openjournals/joss-reviews/issues/4801#issuecomment-1259652983 missing links?

And would you have any suggestions for potential reviewers: [JOSS reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing).

[2022-10-10 07:39] fabian-s commented on #4804
Hi @eafulton,
Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-10 07:40] fabian-s commented on #4804
Hi @ethanwhite,
Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-10 07:40] fabian-s commented on #4804
Hi @juanvillada!
Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-10 07:45] fabian-s commented on #4773
hi @fatmasevinck
this is another reminder to please start addressing the problems pointed out by the reviewers as soon as possible and to let us know what your timeframe for doing so looks like.
If we do not receive any reply to this message from you *before Friday, Oct 14* I will unfortunately have to recommend rejection of this submission.

[2022-10-10 07:45] lc09c commented on #4801
Hello,

I do not have any suggestion for potential reviewers at the moment. Regarding the DOI, what should I do? Change the paper.bib file and add them? Or simply confirm if the are the correct DOI for the articles cited? Or something else? If what I should do was written somewhere in JOSS documentation, simply post me the link.

Thanks and have a nice day
LC

[2022-10-10 07:47] fabian-s commented on #4773
hi @mcavs, thank you for filling out the review checklist. JOSS aims for collaborative and constructive style reviews so I would like to ask you to please help the authors address the problems you have identified by

- adding some more specific comments on what's missing (and how to fix them, if you have ideas),
- preferably by opening corresponding review issues or pull requests at https://github

[2022-10-10 07:55] AoifeHughes commented on #4801
[Check out example bib on this page](https://joss.readthedocs.io/en/latest/submitting.html). From what I understand you need a `doi` or a `url` field for the entries. I think these are currently missing [from your bib file](https://gitlab.mpikg.mpg.de/curcuraci/bmiptools/-/blob/master/paper/paper.bib).

I'll have a look for reviewers in the mean time.

Thanks :)

[2022-10-10 08:05] AoifeHughes commented on #4801
Hi @maurov, and @taw10 - would [this submission](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04801/joss.04801/10.21105.joss.04801.pdf) seem like something you'd be able to review?

[2022-10-10 08:06] luyuhao0326 commented on #4664
@cforgaci thank you very much for the feedback -- they are meticulous and very helpful. It was a great experience working on this with you.

[2022-10-10 08:08] lc09c commented on #4801
@AoifeHughes I'll add the DOI and url in the paper.bib file.

[2022-10-10 08:29] NRaillard commented on #4366
Thank you Keith for your feeback.
I have answered the issues on the gitlab.

I'm a bit surprised that you were not able to install the package on python 3.9, since I am using it. Could you provide me some details about the issues ?
Indeed the package offers te possibility to download data from a server, but offers some more functions (metadata such as nodes locations, variables available...), help

[2022-10-10 08:53] jbytecode commented on #4567
@bluefoxr - could you please update your status and set a deadline for us? thank you in advance.

[2022-10-10 08:56] bluefoxr commented on #4567
@jbytecode I am aiming to complete your checklist by the end of the day, if not by tomorrow. I just made some minor last edits to the paper and will now proceed to tag and archive the repo as requested.

[2022-10-10 08:57] cbrnr commented on #4650
Thanks @Kevin-Mattheus-Moerman, I've now edited the archive. The URL is https://zenodo.org/record/7162311 (which corresponds to v0.8.5).

[2022-10-10 08:57] jbytecode commented on #4736
@jmejia8  - Thank you!

@tmigot - could you please apply the suggestions addressed in the issues or set a deadline for us?

@HaoZeke - could you please update your status?

Sorry for being too much verbose!

Thank you in advance.

[2022-10-10 09:06] clarka34 commented on #3736
@fibreglass2 added some additional comments too! I have not looked at the code yet since I have a mac. Planning to borrow a PC to test soon :)

[2022-10-10 09:13] lc09c commented on #4801
@AoifeHughes DOI and URL added. I made a commit with the new version of the paper.bin file. Is it sufficient or should I do something else?

[2022-10-10 09:14] AoifeHughes commented on #4801
@editorialbot check references

[2022-10-10 09:23] bluefoxr commented on #4567
@jbytecode could I ask which zenodo community, if any, the software should be archived in? Am I free to choose or is there a JOSS policy/requirement? Thanks.

[2022-10-10 09:26] Nikoleta-v3 commented on #4683
Hey 👋🏼 @georgiastuart and @salrm8 📳

[2022-10-10 09:29] jbytecode commented on #4567
@bluefoxr - The latest snapshot should be registered as a tagged archive in github and should be also registered on an outer service such as Zenodo.org. Yes, this process is required in JOSS submissions. Thank you in advance.

[2022-10-10 09:34] jbytecode commented on #4567
@bluefoxr - Please take a look at the https://joss.readthedocs.io/en/latest/submitting.html?highlight=zenodo#the-review-process

[2022-10-10 09:50] ggonnella commented on #4755
Thank you very much for your review and constructive comments. I think we can address several of the minor points.
I have indeed some questions/comments, regarding the other:
- the main installation issue seems to be related to MariaDB; actually MariaDB is not really required for _fastsubtrees_ to work. It is only required for the benchmarks, since the library is compared to a database-based solut

[2022-10-10 09:58] georgiastuart commented on #4683
@Nikoleta-v3 hoping to get to this review this week. Sorry for the delay!

[2022-10-10 10:09] Nikoleta-v3 commented on #4742
@LTLA thank you for your patience! I have no further comments. The software is very useful and well developed, and the manuscript is very well written.

The package is aimed at developers and thus it’s not very beginner friendly, but this is not an issue.

At this point could you please:

- [ ] (if necessary) Make a new tagged release of your software, and list the version tag of the archived vers

[2022-10-10 10:11] Nikoleta-v3 commented on #4683
No worries @georgiastuart 😄 thank you for getting back to me!

[2022-10-10 10:14] Nikoleta-v3 commented on #4711
@editorialbot assign me as editor

[2022-10-10 10:17] sdruskat commented on #4825
There are the community guidelines in the GitHub repository itself:

- Code of Conduct: https://github.com/hexatomic/hexatomic/blob/develop/CODE_OF_CONDUCT.md
- Contribution guidelines: https://github.com/hexatomic/hexatomic/blob/develop/CONTRIBUTING.md
- And the README linking out to the relevant documentation: https://github.com/hexatomic/hexatomic/blob/develop/README.md

Documentation:

- For u

[2022-10-10 10:22] sdruskat commented on #4825
Dependencies and licenses:

|Dependency|License|
| --- | --- |
|SWT Resource Manager|EPL-1.0|
|ANTLR 4 Runtime|BSD-3-Clause|
|Guava: Google Core Libraries for Java|Apache-2.0|
|ICU4J|EPL-1.0|
|JSON in Java|JSON|
|Neo Visionaries Internationalization Package|Apache-2.0|
|Simple Logging Facade for Java|MIT|
|Stax2 API|BSD-2-Clause|
|Woodstox|Apache-2.0|
|ch.qos.logback.classic|EPL-1.0|
|ch.qos.logba

[2022-10-10 10:27] bluefoxr commented on #4567
@jbytecode I have now archived the package on Zenodo. Details are:

* GitHub tagged release: https://github.com/bluefoxr/COINr/releases/tag/v1.1.0
* Zenodo DOI: https://doi.org/10.5281/zenodo.7180388
* Zenodo link: https://zenodo.org/record/7180389#.Y0PzBnZBzN8

Please let me know if it is OK like this or I need to change something. Thanks.

[2022-10-10 10:34] NRaillard commented on #4366
A quick update about the tested versions: I managed to install the toolbox (with pip) on python 3.8, & 3.7 in addition to 3.9.
It fails on python 3.6 because of missing dependencies.

[2022-10-10 10:37] vinisalazar commented on #4755
@ggonnella sounds good, if you could separate MariaDB from the overall installation, that would be great. I ran the `make benchmarks_all` on my laptop and it finished it without any problems, so I think that the Docker image is working well for the comparative benchmarks, for folks who are keen to reproduce that.

If that is the case, do you think it would be feasible to run the testing suite plus

[2022-10-10 10:42] jbytecode commented on #4567
@bluefoxr - could you please check the author metadata and ORCHID for all co-authors in Zenodo archive? It seems there is some missing info (at least an Orchid)

[2022-10-10 11:38] bluefoxr commented on #4567
@jbytecode I can't see anything missing - only three of the authors have ORCIDs, and it corresponds to the JOSS paper as far as I can see? Is there something specific missing?

[2022-10-10 11:46] jbytecode commented on #4708
@ozgurakgun - thank you for finalizing you review and spending your precious time for JOSS.

[2022-10-10 11:46] jbytecode commented on #4708
@editorialbot check references

[2022-10-10 11:50] jbytecode commented on #4708
@editorialbot generate pdf

[2022-10-10 11:52] jbytecode commented on #4567
@editorialbot set 10.5281/zenodo.7180388 as archive

[2022-10-10 11:52] jbytecode commented on #4567
@editorialbot check references

[2022-10-10 11:54] jbytecode commented on #4567
@editorialbot generate pdf

[2022-10-10 12:00] jbytecode commented on #4567
@bauer-alex, @paulrougieux - thank you so much, again and again, for your contributions, review, and time!

@bluefoxr - Now it is okay to me, thank you for correcting and crafting things.

I am now recommending an accept!

[2022-10-10 12:00] jbytecode commented on #4567
@editorialbot recommend-accept

[2022-10-10 12:02] Kevin-Mattheus-Moerman commented on #4650
@editorialbot set v0.8.5 as version

[2022-10-10 12:03] Kevin-Mattheus-Moerman commented on #4650
@editorialbot set 10.5281/zenodo.7162311 as archive

[2022-10-10 12:05] Kevin-Mattheus-Moerman commented on #4650
@cbrnr thanks for fixing that. Looks we are all set!

[2022-10-10 12:05] Kevin-Mattheus-Moerman commented on #4650
@editorialbot recommend-accept

[2022-10-10 12:07] Kevin-Mattheus-Moerman commented on #4650
@editorialbot check references

[2022-10-10 12:15] Kevin-Mattheus-Moerman commented on #4650
@openjournals/dev can you help identify the problem? The authors formatted the bib entry as follows:

[code]
Looks like the issue is with ` pages = 9--21`, should this perhaps be ` pages = "9--21"` instead?

[2022-10-10 12:15] Kevin-Mattheus-Moerman commented on #4650
@cbrnr perhaps you can try the above in the meantime and call `@editorialbot check references` to see if it passes.

[2022-10-10 12:17] Kevin-Mattheus-Moerman commented on #4118
@editorialbot check references

[2022-10-10 12:17] danielskatz commented on #4650
Or {9--21} should also work

[2022-10-10 12:23] Kevin-Mattheus-Moerman commented on #4389
@JulianKarlBauer Great, looks like we are good to proceed. At this point can you please:

- [ ] Archive a copy of the reviewed work on [ZENODO](https://zenodo.org/). We recommend that you do so for a newly minted/tagged release, however this is up to you. Some find these automated steps useful: https://docs.github.com/en/repositories/archiving-a-github-repository/referencing-and-citing-content
- [

[2022-10-10 12:27] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 one more pull request: https://github.com/SimVascular/svFSI/pull/93 to fix that missing DOI

[2022-10-10 12:33] drannawatts commented on #4803
@editorialbot generate pdf

[2022-10-10 12:47] CZHU20 commented on #4118
@Kevin-Mattheus-Moerman Done.

[2022-10-10 12:49] Kevin-Mattheus-Moerman commented on #4118
@editorialbot check references

[2022-10-10 12:50] xuanxu commented on #4604
👋 @grburgess would you be willing to review this submission for JOSS?

[2022-10-10 12:50] thohamm commented on #4719
issues fixed and closed

[2022-10-10 12:52] Kevin-Mattheus-Moerman commented on #4118
@editorialbot recommend-accept

[2022-10-10 12:55] Kevin-Mattheus-Moerman commented on #4118
@editorialbot accept

[2022-10-10 12:56] Kevin-Mattheus-Moerman commented on #4118
Congratulations @CZHU20 on this publication!!!!

@chennachaos, @JaroslavHron and @axel-loewe thank you so much for your fantastic review efforts!!!!!!

[2022-10-10 12:59] jbytecode commented on #4708
@cprudhom - I've just a pull request for the paper. Please review them. If you are agreed with them, please apply. Thank you in advance.

[2022-10-10 13:14] bmcfee commented on #4554
Thanks @dpwe and @hendriks73 for reviews!

@JorenSix Next steps from the editorial side are reviewing the final draft of the paper, after which I'll have a couple of requests for you to complete.  (You can expect those shortly.)

[2022-10-10 13:14] bmcfee commented on #4554
@editorialbot generate pdf

[2022-10-10 13:15] CZHU20 commented on #4118
Thank you all for your help! @Kevin-Mattheus-Moerman @chennachaos @JaroslavHron @axel-loewe

[2022-10-10 13:16] bmcfee commented on #4554
@editorialbot check references

[2022-10-10 13:28] cbrnr commented on #4650
Thanks, I added curly braces and it seems to work now!

[2022-10-10 13:30] Kevin-Mattheus-Moerman commented on #4650
@editorialbot recommend-accept

[2022-10-10 13:32] Kevin-Mattheus-Moerman commented on #4650
@editorialbot accept

[2022-10-10 13:35] bmcfee commented on #4554
@JorenSix I gave the paper a read-through, and it mostly looks to be in good shape.  I did spot a couple of typos:

- line 7: "in large database" → "in a large database"
- line 64: "technoloy" → "technology"

I'd recommend hitting it with a spell checker just in case I missed anything.

The editorial bot gives a :+1: on DOIs (see above in thread). However, from reading the bibliography, I think th

[2022-10-10 13:42] Fei-Tao commented on #4763
Hi @bbrelje, @ @duhd1993, please feel free to let us know if you have any issues or need any help to start the review. Thanks again for agreeing to review this submission.

[2022-10-10 14:08] bluefoxr commented on #4567
@jbytecode @bauer-alex @paulrougieux Can I also extend a big thank you for taking your valuable time to review the paper and the package. I would also like to add - I really like the JOSS review system through GitHub: transparent and efficient! Hopefully other journals might start moving in this direction! :)

[2022-10-10 14:21] Kevin-Mattheus-Moerman commented on #4650
Congratulations @cbrnr on this publication on JOSS!

Thanks @vahid-sb and @tuliofalmeida for your review efforts!!

[2022-10-10 14:21] #4650 closed

[2022-10-10 14:23] #4118 closed

[2022-10-10 14:37] Theomat commented on #4151
Hi bzz,

Thank you for your pull request!

Defining a DSL is highly dependent on the domain you're targeting, the more exotic from the current ones the larger the work. There is no single way to do it nor a manual for that. E.g.: let's say I want a DSL to draw functions then I need to define all the language elements then add something to evaluate those new programs then add a way to train such a

[2022-10-10 14:38] tmigot commented on #4736
Dear @jbytecode @jmejia8 , thank you for the feedback and your patience. I opened PRs to solve all the issues.

[2022-10-10 14:38] cbrnr commented on #4650
Thanks everyone for your input and the extremely smooth review process! It was a great experience!

[2022-10-10 14:49] JorenSix commented on #4554
Hi @bmcfee,

Thanks for the check and the recommendations. I did not know about the ISMIR/zenodo DOI's. They have been added.

Also the typos have been fixed (found one more mistake).

[2022-10-10 14:50] JorenSix commented on #4554
@editorialbot generate pdf

[2022-10-10 14:53] diehlpk commented on #4377
Hi @jonjoncardoso how is your review going?

[2022-10-10 14:54] diehlpk commented on #4637
Hi @ctdegroot, @thomasgillis could you please have a look at the comments above?

[2022-10-10 15:10] estefaniatalavera commented on #4611
@dunnkers @diehlpk

This is a useful package for the community.  I would suggest the following improvement to the document:

- The first sentence of the statement of need mentions that FS and FR are extensively researched topics within machine learning, but the reference you include is from 2003. Aren’t there more recent works that present an overview of this field?
- If this is the first of such

[2022-10-10 15:13] kthyng commented on #4567
Hi @bluefoxr! Small comments on your paper:
* at least one place has a parenthetical reference when it should be in line (2nd page)
* some proper nouns need to be capitalized in your references. You can preserve or add capitalization in your .bib file by placing {} around characters or words.

[2022-10-10 15:21] kthyng commented on #4787
@jmschrei Is this in your area of expertise at all? Looking for an editor.

[2022-10-10 15:21] kthyng commented on #4787
@editorialbot invite @jmschrei as editor

[2022-10-10 15:25] kthyng commented on #4788
Hi @majensen! Could you edit this submission?

[2022-10-10 15:25] kthyng commented on #4788
@editorialbot invite @majensen as editor

[2022-10-10 15:26] majensen commented on #4788
No problem @kthyng

[2022-10-10 15:27] majensen commented on #4788
@editorialbot assign me as esitor

[2022-10-10 15:27] majensen commented on #4788
@editorialbot assign me as editor

[2022-10-10 15:29] kthyng commented on #4791
Hi @galessiorob! Could you edit this submission?

[2022-10-10 15:29] kthyng commented on #4791
@editorialbot invite @galessiorob as editor

[2022-10-10 15:34] kthyng commented on #4794
@fraukewiese Could you edit this submission?

[2022-10-10 15:34] kthyng commented on #4794
@editorialbot invite @fraukewiese as editor

[2022-10-10 15:35] majensen commented on #4788
@tresoldi would you be willing to review [this work](#4788) for [JOSS](https://joss.theoj.org)? Your consideration is much appreciated! --@majensen

[2022-10-10 15:37] cprudhom commented on #4708
@jbytecode I accepted the PR, thank you.
Last question: how easy is it the upgrade the paper in the future ?
For instance, we are working on Python bindings for Choco, which would be interesting to indicate in the paper.
Should we delay the current process or restart it when it is ready?

[2022-10-10 15:38] VChristiaens commented on #4456
Thanks for the PR. I have now updated the draft after adapting Eq. 1 and clarifying each of its components as recommended. I also went through steps 1-3 above:
- the incremented version number is 0.1.4.
- this is the DOI of the release: 10.5281/zenodo.7181950

Thanks again for leading the review process @dfm, and thanks @QuentChangeat and @jgagneastro for thoroughly testing the package and providi

[2022-10-10 15:38] kthyng commented on #4797
@bobmyhill here is registration if you want to sign up as a reviewer! https://joss.theoj.org/reviewer-signup.html

[2022-10-10 15:42] kthyng commented on #4802
@meg-simula could you edit this submission?

[2022-10-10 15:42] bobmyhill commented on #4797
@kthyng thanks, done!

[2022-10-10 15:42] kthyng commented on #4802
@editorialbot invite @meg-simula as editor

[2022-10-10 15:50] jbytecode commented on #4708
@cprudhom - published papers can not be updated. It would be subject of a new submission.

[2022-10-10 16:03] jbytecode commented on #4708
Dear @cprudhom,

- [X] The paper seems improved now. Thank you for applying the corrections.
- [ ] Please read the paper pdf carefully, one more time, correct any issue if exists. Please perform a full grammar check.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive of the repos

[2022-10-10 16:09] jbytecode commented on #4708
@cprudhom - please also check the lines 88,89,90: The list is not rendered properly.

[2022-10-10 16:13] dfm commented on #4456
@editorialbot recommend-accept

[2022-10-10 16:14] dfm commented on #4456
@VChristiaens — I've now handed this off to the managing editors who may have some final edits before publication. Thanks for your submission and your responses to the reviewers!!

@QuentChangeat, @jgagneastro — Thanks again for your reviews!!

[2022-10-10 16:23] kthyng commented on #4456
Everything looks good!

[2022-10-10 16:23] grburgess commented on #4604
@xuanxu sure, no problem

[2022-10-10 16:28] xuanxu commented on #4604
@grburgess thanks!
Let's start the review issue

[2022-10-10 16:28] xuanxu commented on #4604
@editorialbot add @grburgess as reviewer

[2022-10-10 16:29] xuanxu commented on #4604
@editorialbot start review

[2022-10-10 16:29] editorialbot opened #4838 "[REVIEW]: PACMAN: A pipeline to reduce and analyze Hubble Wide Field Camera 3 IF Grism data"
**Submitting author:** @sebastian-zieba (<a href="http://orcid.org/0000-0003-0562-6750">Sebastian Zieba</a>)
**Repository:** https://github.com/sebastian-zieba/PACMAN
**Branch with paper.md** (empty if default branch):
**Version:** v0.3
**Editor:** @xuanxu
**Reviewers:** @astrobel, @aureliocarnero
**Archive:** 10.5281/zenodo.7465579

## Status

[![status](https://joss.theoj.org/papers/73b451e3272d

[2022-10-10 16:29] #4604 closed

[2022-10-10 16:35] Jammy2211 commented on #4639
Okay, things are finally up:

https://pyautocti.readthedocs.io/en/latest/api/api.html

https://github.com/Jammy2211/PyAutoCTI/blob/master/LICENSE

Sorry that took so long!

[2022-10-10 16:38] galessiorob commented on #4816
@editorialbot add @Smattr as reviewer

[2022-10-10 16:38] kthyng commented on #4456
Congratulations on your new paper @VChristiaens! Many thanks to editor @dfm and reviewers @QuentChangeat and @jgagneastro — we couldn't do this without your time, hard work, and expertise!

[2022-10-10 16:38] #4456 closed

[2022-10-10 16:41] galessiorob commented on #4816
👋 @ziotom78, please create your checklist by typing: `@editorialbot generate my checklist`

This will give you an itemized list for you to follow. Please let me know if you have any questions. Thanks!

[2022-10-10 16:44] dfm commented on #4709
@editorialbot assign me as editor

Thanks all for you patience! I'm happy to edit this submission and I'll start looking for reviewers shortly.

[2022-10-10 16:46] MartianColonist commented on #4709
Thanks @dfm, looking forward to the review process!

[2022-10-10 17:00] galessiorob commented on #4699
Update: I just sent a fresh batch of invites, hopefully, we'll get a second reviewer this week, and then we can get started with the review.

[2022-10-10 17:00] apratap commented on #4699
Thank you so much for keeping us posted. Cheers!

[2022-10-10 17:01] galessiorob commented on #4791
@editorialbot add @galessiorob as editor

[2022-10-10 17:02] galessiorob commented on #4791
Hi @sjbeckett

I'm looking forward to working with you on this review. I'll send out review invites shortly, and once we have two reviewers we can open a fresh issue (the actual review issue.) If you have any suggestions for reviewers, please let me know (post a comment with their handles), and I can reach out to them.

[2022-10-10 17:17] kellyrowland commented on #4755
@KonradHoeffner thanks for your initial review.

The JOSS review process is slightly different from a traditional paper review in that you'll use this Gitlab issue and/or issues on the software repository to communicate with the authors as you work though the review. So far, you've checked boxes which have been sufficiently addressed, and you've posted here about missing features, which is exactly

[2022-10-10 17:19] kellyrowland commented on #4468
thanks very much for your review @Viech !

@jonjoncardoso sending a ping to check in on your review status here.

[2022-10-10 17:43] kthyng commented on #4277
Hello! I have just looked through the page, looks like we are a bit stuck. What can we do to keep moving forward?

@kris-rowe Looks like you need to pick up your review after the license situation has been worked out.

@NoraLoose I see you've opened some issues — they all look like the author has responded, so please check that out and see if the issues still need to be open. And otherwise can you

[2022-10-10 17:47] kthyng commented on #4824
Hi @Nicolas-Schmidt! Thank you for your submission, but the editorial board has determined it to be out of scope. Specific issues are:
* not research software (or at least not presented/argued that way)
* limited scope: too focused on a single country and not clear how to make it generalizable
* generally too small

You may be interested in other ways to publish your code, a few of which we've sug

[2022-10-10 17:47] kthyng commented on #4824
@editorialbot reject

[2022-10-10 17:47] #4824 closed

[2022-10-10 17:48] mcgrathc commented on #4472
Hi @fraukewiese I think we now have all comments addressed and are ready to move forward with the review.  Is there anything else that we need to complete from your perspective?  Thanks so much!

[2022-10-10 17:49] galessiorob commented on #4699
@editorialbot add @jodemaey as reviewer

[2022-10-10 17:49] galessiorob commented on #4699
@editorialbot start review

[2022-10-10 17:49] editorialbot opened #4839 "[REVIEW]: QPrism: A Python Library for Quality Assessment of Sensor Data Collected in Real-world Settings"
**Submitting author:** @RamziHalabi (<a href="http://orcid.org/0000-0002-3784-9556">Ramzi Halabi</a>)
**Repository:** https://github.com/aid4mh/QPrism
**Branch with paper.md** (empty if default branch):
**Version:** v.0.3.3
**Editor:** @galessiorob
**Reviewers:** @lucask07, @jodemaey
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/98bd3b1f7a60613fb61f70d4a3092a42/status.s

[2022-10-10 17:50] #4699 closed

[2022-10-10 17:50] kthyng commented on #4813
Hi @osorensen! Could you edit this submission?

[2022-10-10 17:51] kthyng commented on #4813
@editorialbot invite @osorensen as editor

[2022-10-10 17:53] kthyng commented on #4828
Hi @osorensen! Could you edit this submission?

[2022-10-10 17:54] kthyng commented on #4828
@editorialbot invite @osorensen as editor

[2022-10-10 17:54] galessiorob commented on #4839
👋  @lucask07, @jodemaey

Thank you both for volunteering to review this paper! Please type and comment `@editorialbot generate my checklist`, this will generate a checklist with each of the aspects for you to review regarding the software, documentation, and the paper. Please let me know if you have any questions and feel free to post them directly in this issue.

[2022-10-10 17:54] kthyng commented on #4819
Hi @mikldk! Can you edit this submission?

[2022-10-10 17:55] kthyng commented on #4819
@editorialbot invite @mikldk as editor

[2022-10-10 17:55] jranalli commented on #4757
Updates to the text of the paper based on comments from @fwitte. Rebuilding

@editorialbot generate pdf

[2022-10-10 17:56] jranalli commented on #4757
@editorialbot generate pdf

[2022-10-10 17:56] RamziHalabi commented on #4699
@galessiorob @lucask07 Thank you for accepting to review our submission! We appreciate your effort.

[2022-10-10 18:02] jodemaey commented on #4839
@editorialbot generate my checklist

[2022-10-10 18:09] fwitte commented on #4757
Thanks for already answering my initial comments, I still have some small parts to do, which I could not finish to work on last weekend. Once I have done that, I will give my review here.

[2022-10-10 18:09] kthyng commented on #4814
I added the "paused" label while we wait to hear back on these questions.

[2022-10-10 18:27] lucask07 commented on #4839
@editorialbot generate my checklist

[2022-10-10 18:29] jmschrei commented on #4787
Not really, but I'm happy to handle it regardless.

[2022-10-10 18:29] jmschrei commented on #4787
@editorialbot assign me as editor

[2022-10-10 18:56] dfm commented on #4777
@editorialbot assign me as editor

I'm happy to edit this submission. Thanks all for your patience! I'll start looking for reviewers shortly.

[2022-10-10 19:08] bmcfee commented on #4554
Thanks @JorenSix - it looks like there are still a few missing DOIs, both from ISMIR and other venues.  The Cano et al. paper has a DOI https://doi.org/10.1007/s11265-005-4151-3 ; Sonnleitner, Artz & Widmer (2011) also should have one.  The ISMIR LBDs (AFAIK) do not receive DOI's, but they should be cited consistently and with proper formatting.

Please give each bibliography entry a thorough chec

[2022-10-10 19:38] emdupre commented on #4766
Thanks for letting us know, @rly, @sappelhoff, @EtienneCmb !

@sappelhoff and @EtienneCmb, I'll add you both with @AJQuinn as reviewers on the submission now.

@edeno, thanks for double-checking those details ! I've re-checked the rendering and I don't think the comma is splitting the affiliation in this format, so we should be OK as-is.

I'll go ahead and close this discussion to open the officia

[2022-10-10 19:39] emdupre commented on #4766
@editorialbot add @AJQuinn, @sappelhoff, @EtienneCmb to reviewers

[2022-10-10 19:41] emdupre commented on #4766
@editorialbot add @AJQuinn to reviewers

[2022-10-10 19:42] emdupre commented on #4766
@editorialbot add @EtienneCmb to reviewers

[2022-10-10 19:42] emdupre commented on #4766
@editorialbot start review

[2022-10-10 19:42] editorialbot opened #4840 "[REVIEW]: Spectral Connectivity: a python package for computing multitaper spectral estimates and frequency-domain brain connectivity measures on the CPU and GPU"
**Submitting author:** @edeno (<a href="http://orcid.org/0000-0003-4606-087X"></a>)
**Repository:** https://github.com/Eden-Kramer-Lab/spectral_connectivity
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.0
**Editor:** @emdupre
**Reviewers:** @AJQuinn, @sappelhoff, @EtienneCmb
**Archive:** 10.5281/zenodo.7416614

## Status

[![status](https://joss.theoj.org/papers/27eb33e699c

[2022-10-10 19:42] #4766 closed

[2022-10-10 19:44] emdupre commented on #4840
Hi @AJQuinn, @sappelhoff, and @EtienneCmb 👋 Thanks again for agreeing to review this submission ! The review will take place in this issue, and you can generate your individual reviewer checklists by asking editorialbot directly with `@\editorialbot generate my checklist`.

In working through the checklist, you're likely to have specific feedback on _Spectral Connectivity_. Whenever possible, plea

[2022-10-10 19:49] tonyewong commented on #4805
I don't know if it needs addressing, but just FYI - as I installed, the dependency on package "exactextractr" threw an error message. I had to install it separately in a first step, and say "no" when the installer asks "Do you want to install from sources the package which needs compilation? (Yes/no/cancel)". But once I did that, things installed and the example in the top-level README runs just f

[2022-10-10 19:50] osorensen commented on #4813
@editorialbot assign @osorensen as editor

[2022-10-10 19:51] osorensen commented on #4828
@editorialbot assign @osorensen as editor

[2022-10-10 19:54] jdiasn commented on #4715
Hi @elbeejay, thank you for letting me know!

[2022-10-10 19:55] pibion commented on #4576
@lstagner, would you be available to review?

@henrikjaerleblad understood, and good luck with your upcoming work!  I would suggest that I try to find another reviewer and that I contact you after November 30th if we're still looking for a detailed review.  Does that sound good?

[2022-10-10 19:57] pibion commented on #4818
@chrisrogers1234 thanks for confirming!  Getting started on 17th October is fine, I just like to make sure people have access :)

@dtabell great to hear you're still on board!

[2022-10-10 20:03] tonyewong commented on #4805
@mabesa  The example in the README works nicely out-of-box, but I'm having issues running the tests in [riversCentralAsia/tests/testthat.R](https://github.com/hydrosolutions/riversCentralAsia)/[tests](https://github.com/hydrosolutions/riversCentralAsia/tree/master/tests/testthat.R). Specifically, I get:
[code]
Can some additional guidance on running those tests be provided in the README? (or elsew

[2022-10-10 20:10] mturiansky commented on #4719
I opened one last issue. Once this is addressed, I can tick off the functionality checkbox and am okay with publication. The test coverage is a bit low in my opinion (see below), but I think it does cover the basic functionality.

[code]

[2022-10-10 20:49] sappelhoff commented on #4840
@editorialbot generate my checklist

[2022-10-10 21:01] lucask07 commented on #4839
I have concerns regarding _substantial scholarly effort_ and if the contributions are accurately communicated.

1. The [JOSS scope and submission](https://joss.theoj.org/about#code_of_conduct) requirements state:

The functions I have checked seem to be a 'thin' API client. For example: [audio_sample_rate](https://github.com/aid4mh/QPrism/blob/main/QPrism/Audio/audio_sample_rate.py) is 2 lines of

[2022-10-10 21:33] rkurchin commented on #4817
👋 just checking in with reviewers @obaica, @mkhorton – let me know if you have any questions about how to get your review started!

[2022-10-10 21:38] rkurchin commented on #4770
Nobody in the reviewer list lists APT as an area of expertise, so I've emailed a former colleague to see if he'd be willing to review. @jdasm, do you have any other suggestions for possible reviewers?

[2022-10-10 22:21] fibreglass2 commented on #3736
Thanks to both reviewers for the feedback. I will be going through these in detail over the weekend.

[2022-10-10 22:57] diehlpk commented on #4611
@dunnkers Please have a look at the above comments.

[2022-10-10 22:58] diehlpk commented on #4611
@mcasl can you have please a look at the new changes?

[2022-10-10 23:00] diehlpk commented on #4611
@estefaniatalavera can you please run `@editorialbot generate my checklist` to generate your checklist?

[2022-10-10 23:00] diehlpk commented on #4617
@JeWaVe just checking if you have time to respond.

[2022-10-10 23:28] juanvillada commented on #4804
Hi @fabian-s, it looks like a nice package but it is not within my area of expertise. I could only contribute from a technical point of view, not from conceptual or scientific angle. If that sounds good, count me in. Best!

Juan

[2022-10-11 01:39] vickysharma0812 commented on #4576
@pibion, thanks for your consideration.
I am not familiar with plasma physics simulations. However, based on the review checklist, it would be difficult for me to comment on the functionality part.

[2022-10-11 01:56] stsievert commented on #4517
Thanks for the feedback @stain! Especially for the feedback on the paper, conda install lock file, and experiment manager documentation. I've added two documentation pages, and have some more notes in https://github.com/stsievert/salmon/pull/139.

Two more notes:

* I will spend some more time on offline install, and post here when complete.
* Being excluded from the Wayback machine is intentional

[2022-10-11 03:59] vinisalazar commented on #4755
Hi @ggonnella,

I rebuilt the Docker image today after the updates. I still can successfully run the benchmarks from the Docker container, but I was having trouble with the `genome-attributes-viewer` app, it started, I ran a couple of queries, and then it crashed with this traceback:

[code]

I was also able to run some `fastsubtrees-query` commands, which got me thinking it would be nice to have

[2022-10-11 05:38] LeonieFierz commented on #4261
@editorialbot generate pdf

[2022-10-11 05:41] LeonieFierz commented on #4261
@jasondegraw
I moved Aaron Bojarski (boaa-empa) to a Project Member, as he started working on the CESAR-P after we decided to go for the JOSS-Publication.
We added a data pack, so GitLFS has enought capacity and I just see that generating the paper works again.

[2022-10-11 05:43] osorensen commented on #4828
@editorialbot generate pdf

[2022-10-11 05:49] osorensen commented on #4813
@editorialbot generate pdf

[2022-10-11 06:00] osorensen commented on #4813
@annajenul, thanks for submitting. I'm the editor handling this submission now, and will start looking for reviewers. If you have any suggestions for reviewers, please let me know.

In the meantime, could you update your .bib file containing the references so that words that should be capitalized appear with capital letters in the paper? This is done by adding curly braces around the word, e.g. "{

[2022-10-11 06:33] hugoledoux commented on #4786
@editorialbot add @bnase as reviewer

[2022-10-11 06:54] bede commented on #4433
Apologies, I didn’t schedule time for this and forgot. I’ll complete my
review by Tuesday.

Thanks,
Bede

On Fri, 5 Aug 2022 at 20:47, Jacob Schreiber ***@***.***>
wrote:

[2022-10-11 06:57] LeonidPryadko commented on #4120
Ok, this is a corrected version
https://zenodo.org/record/6374733
with all version numbers up to date.

Thanks for the help!
Anything else I need to do?

Best,

Leonid

On Mon, Mar 21, 2022 at 9:26 PM Leonid Pryadko ***@***.***>
wrote:

[2022-10-11 07:01] florisvb commented on #4078
@editorialbot accept

On Mon, Mar 21, 2022 at 3:47 PM The Open Journals editorial robot <
***@***.***> wrote:

--
Floris van Breugel   |   http://www.florisvanbreugel.com
Assistant Professor of Mechanical Engineering
& Graduate Program for Neuroscience
University of Nevada, Reno

Wildlife and Landscape Photography
Galleries: http://www.ArtInNaturePhotography.com/
Blog: http://www.ArtInNaturePhotog

[2022-10-11 07:02] estefaniatalavera commented on #4611
@editorialbot generate my checklist

[2022-10-11 07:02] haddonm commented on #4497
Hi Hugo,

This just arrived so clearly a mistake has been made, but I thought I would
make sure you could send it off to the correct recipient.

Regards
Malcolm. (haddonm)

On Wed, 13 Jul 2022 at 20:08, Hugo Gruson ***@***.***> wrote:

--
Dr Malcolm Haddon
Adjunct Professor IMAS, University of Tasmania
CSIRO Honorary Fellow, Oceans and Atmosphere
Tasmania, Australia
t: +61 (0)409 941 891
alt e: **

[2022-10-11 07:03] PerilousApricot commented on #4452
Sorry for the delay. I was in Portugal and on vacation, flying back
yesterday. I'm back today, we able to get a julia environment installed to
verify the functionality works, so I should be able to sign off soon. Sorry
again!

On Wed, Jul 13, 2022 at 12:20 PM Daniel S. Katz ***@***.***>
wrote:

[2022-10-11 07:06] estefaniatalavera commented on #4611
@editorialbot generate pdf

[2022-10-11 07:10] Bisaloo commented on #4497
Hi @haddonm, sorry about the spam. It's not really a mistake but an unfortunate GitHub feature. Since I tagged you earlier in this thread, you have been automatically subscribed to this issue and now receive a notification each time a new comment is added to this thread (see the yellow rectangle in the screenshot attached).
You can unsubscribe but the good news is that all discussion has now moved

[2022-10-11 07:14] jagnobli commented on #4600
@oliviaguest here we go:

DOI: https://doi.org/10.5281/zenodo.7177876
Version: 0.82.0

[2022-10-11 07:14] ggonnella commented on #4755
Hi @vinisalazar,

- example app: I will try to understand where is the problem, I have no idea about this error, at the moment
- query command: this can be a good idea for the NCBI taxonomy tree, but I would like to keep the software library generic, since I think it can be very useful for other trees as well, besides the NCBI taxonomy tree - at least I plan to use it for other applications as wel

[2022-10-11 07:18] max-little commented on #4534
OK I'll do that, it's basically going to be all methods/functions and classes.

As I've said, there are no functions/methods which should not be
accessed by the user. This is the logic of structural causal modelling
and inference. Can you perhaps explain to me which parts of the
functionality of the software shouldn't be accessed by the user, and
give a convincing reason why, in terms of the logic

[2022-10-11 07:19] SYalouz commented on #4759
Dear @jarvist ,

I come back to you to mention that the second paper from my group is now released on Arxiv (see https://arxiv.org/abs/2210.02325) where the package QuantNBody was employed. This paper has been submitted to a journal and it is now under review process.

I come back to you with the same questions as before: May I inject explicit references to both these papers in the current manuscr

[2022-10-11 07:21] fAndreuzzi commented on #4534
So let's start another review round @max-little ? :smile:

[2022-10-11 07:23] patRyserWelch8 commented on #4545
Dear Charlotte,

I am really sorry that I am not understanding where exactly, I need to tick those boxes.  I must be rather unintelligent as I cannot appear to find them.  So please send me direct link to these boxes that appear to be causing us both some troubles.

best wishes,

Dr Pat Ryser-Welch

Associate lecturer  - T192, T193, T914, TM351,TM352,TM356, TM356, TM470

Referred as: Her/She

Let'

[2022-10-11 07:33] TomTranter commented on #4504
Congratulations and happy to be part of the process. Nice work on the code

On Thu, 29 Sep 2022 at 18:24, Luis Barroso-Luque ***@***.***>
wrote:

[2022-10-11 07:38] danielhatton commented on #4558
On Sat, 16 Jul 2022, Kyle Niemeyer wrote:

OK, thanks.

[2022-10-11 07:44] mikldk commented on #4819
@kthyng Sorry, this and next week is packed for me so I have to decline. Sorry.

[2022-10-11 07:50] schneiderpy commented on #4430
Invalid DOIs

- doi:10.1515/zfgg-2022-0002    works fine

- doi:10.1504/IJAF.2009.029147  deleted

- 10.2307/20856736              deleted

- doi:10.18356/395c7874-e       fixed ... doi:10.18356/395c7874-en

[image: Mailtrack]
<https://mailtrack.io?utm_source=gmail&utm_medium=signature&utm_campaign=signaturevirality11&>
Remitente
notificado con
Mailtrack
<https://mailtrack.io?utm_source=gmail&utm_

[2022-10-11 07:51] ajstewartlang commented on #4212
Hi - yes, that's correct. I believe they've been on vacation the last
couple of weeks but will get to your submission asap.

On Sun, 29 May 2022, 04:01 Robert Turnbull, ***@***.***>
wrote:

[2022-10-11 07:54] rbturnbull commented on #4212
Hi @ajstewartlang - I don't think I understand the context of your comment. Was that meant for this thread?

[2022-10-11 07:54] hechth commented on #4494
@editorialbot generate pdf

[2022-10-11 07:57] henrikjaerleblad commented on #4576
@pibion Yes, that works for me. Thanks!

[2022-10-11 07:58] csoneson commented on #4545
Hi @patRyserWelch8 - here's the process:

- Go to https://github.com/openjournals/joss-reviews/issues/4545
- Make a new post where you just type `@editorialbot generate my checklist`
- This will autogenerate a new post in the GitHub issue, with your checklist. You can then edit that post by clicking in the checkboxes.

Thanks!

[2022-10-11 07:59] volkerschmid commented on #4206
@editorialbot generate my checklist

[2022-10-11 08:05] fanchercm commented on #4104
Dear all,

@rkurchin<hxxps://github.com/rkurchin>  and  @arfon<hxxps://github.com/arfon> Sorry if the prior response did not go out to the needed editors,

"The referred JAC publication provided a proof-of-concept framework for the pyRS methodology and workflow and presented specific details of the physics. The software capabilities and quality of the same was not peer-reviewed at that time. We di

[2022-10-11 08:07] fanchercm commented on #4104
Hi @rkurchin our mail system has implemented new security. I’m not sure if they are blocking notification.

***@***.***  and @arfon, I’m more confused about what the criteria is for the “substantial scholarly effort”. I was under the impression that some JOSS papers were published as companions to papers detailing the science application. JOSS states “In this circumstance, JOSS considers submissio

[2022-10-11 08:08] JorenSix commented on #4554
@editorialbot generate pdf

[2022-10-11 08:08] JorenSix commented on #4554
@editorialbot check references

[2022-10-11 08:10] vimalthilak commented on #4210
My apologies. I’ll get started on this review tomorrow.

On Sun, Mar 13, 2022 at 12:43 PM Arfon Smith ***@***.***>
wrote:

[2022-10-11 08:11] JorenSix commented on #4554
@editorialbot check references

[2022-10-11 08:12] CFGrote commented on #4607
IMO you should wait with merging until the JOSS paper is out. This is a major change and warrants a major version increment. That's my point of view, but I'm happy to discuss.

On Thu, 2022-08-18 at 07:40 -0700, Joe Jackson wrote:

[2022-10-11 08:13] JoranTiU commented on #4224
Hi all,

I can be the second reviewer on this 😊

Vriendelijke groet/Kind Regards,
Joran

Joran Jongerling | Assistant-Professor | Department of Methodology and Statistics | Tilburg School of Social and Behavioral Sciences | Simon Building, room S706

Van: Daniel Rivas ***@***.***>
Verzonden: donderdag 17 maart 2022 1:49
Aan: openjournals/joss-reviews ***@***.***>
CC: Joran Jongerling ***@***.***>;

[2022-10-11 08:14] Jacks0nJ commented on #4607
That makes good sense, I'll wait then.

[2022-10-11 08:20] fabian-s commented on #4804
thanks @juanvillada, a technical perspective is very welcome.

[2022-10-11 08:20] fabian-s commented on #4804
@editorialbot add @juanvillada as reviewer

[2022-10-11 08:22] JorenSix commented on #4554
@editorialbot generate pdf

[2022-10-11 08:28] Sj-Amani commented on #4638
I can review this submission.

Regards,
Sajjad Amani

________________________________
From: Meryem Berrada ***@***.***>
Sent: Wednesday, August 3, 2022 22:27
To: openjournals/joss-reviews ***@***.***>
Cc: Sajjad Amani ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: Rho: Application to analyse electrical resistivity (Issue #4638)

@sj-amani
Meryem Berrada

[2022-10-11 08:29] fanchercm commented on #4104
Hi EiC,

The referred JAC publication provided a proof-of-concept framework for the pyRS methodology and workflow and presented specific details of the physics. The software capabilities and quality of the same was not peer-reviewed at that time. We did not think the software was in a sufficient state (e.g., documentation, tutorials, examples, ….) to meet JOSS peer-review standards. These deficien

[2022-10-11 08:30] osorensen commented on #4813
👋  @EugeneHao @zhiiiyang @dhvalden @sandrinecharles, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-11 08:33] JorenSix commented on #4554
@editorialbot generate pdf

[2022-10-11 08:37] JorenSix commented on #4554
@editorialbot  check references

[2022-10-11 08:37] asogaard commented on #4831
Hi @kthyng, no worries, let me know if there's anything you need from our side.

[2022-10-11 08:38] JorenSix commented on #4554
@bmcfee Thanks again for the check. After a couple of tries the formatting of different ISMIR papers/abstracts is consistent now and additional DOI's have been added. I did not find DOI's for DAFx and AES conference papers.

[2022-10-11 08:39] bastorer commented on #4277
Hello all,

Sorry about the slow responses. Commits have been submitted responding to
the issues posted on the github page, except for the paper changes, which I
will have by early next week.

Regards
Ben

On Wed, Jun 29, 2022, 23:30 Daniel S. Katz ***@***.***> wrote:

[2022-10-11 08:41] mabesa commented on #4805
@tonyewong
I also had problems with exactextractr very recently, it started returning wrong results after the last update. I think I should probably immediately have this documented here... I'm sorry, this is the first time I run through a software review. Thank you for noting the installation problem, I hadn't seen that one yet! I will try to solve this issue and let you know asap.

I devtools::t

[2022-10-11 08:49] jarvist commented on #4759
I see no problem with this, as long as there is a suitable scholarly discussion to put them in context.

[2022-10-11 08:49] matthieuaussal commented on #3965
@editorialbot generate pdf

[2022-10-11 08:49] jarvist commented on #4759
@erikkjellgren @wcwitt , how are your reviews coming along?

[2022-10-11 08:51] JorenSix commented on #4554
Ok, I still had a duplicate entry in the paper.bib (explaining the error in the check references I think): a change from an incorrect @article to a correct @inproceedings. Now fixed.

[2022-10-11 08:55] fanchercm commented on #4104
The best option is to change reviewers. Their are complications with the mantid dependencies and windows.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Rachel Kurchin ***@***.***>
Sent: Wednesday, April 6, 2022 5:25:30 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Fancher, Christopher ***@***.***>; Mention ***@***.***>
Subject: [EXTERNAL] Re: [openjournals/

[2022-10-11 08:57] editorialbot opened #4841 "[PRE REVIEW]: RingsPy: A Python package for Voronoi mesh generation of cellular solids with radial growth pattern"
**Submitting author:** @kingyin3613 (<a href="http://orcid.org/0000-0003-4921-9786">Hao Yin</a>)
**Repository:** https://github.com/kingyin3613/RingsPy
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.5
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @niallmadden, @yg42, @mahtab-vafaee
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/3

[2022-10-11 08:58] Palash63 commented on #4255
Hi Fabian,

I can review this submission. Thanks!

Best,
Palash Sharma; Ph.D.

--------------------------------------------------------------

*Sincerely Yours,*

*Palash Sharma*

*Graduate Research Assistant*

*Department of BioStatistics*

*University of Kansas Medical Center*

*Cell No : 775-203-7920*

On Mon, Mar 21, 2022 at 8:20 AM Fabian Scheipl ***@***.***>
wrote:

[2022-10-11 08:58] erikkjellgren commented on #4759
I will be done by the end of this week @jarvist

[2022-10-11 08:58] fanchercm commented on #4104
@rkurchin<hxxps://github.com/rkurchin>  and  @arfon<hxxps://github.com/arfon>, I’m more confused about what the criteria is for the “substantial scholarly effort”. I was under the impression that some JOSS papers were published as companions to papers detailing the science application. JOSS states “In this circumstance, JOSS considers submissions for which the implementation of the software itself

[2022-10-11 09:06] junbinzhao commented on #4482
Sorry I am on vacation now and can't find time. But good luck with the process. JunbinSent from my Galaxy
-------- Original message --------From: Chris Hartgerink ***@***.***> Date: 29/07/2022  10:55  (GMT+01:00) To: openjournals/joss-reviews ***@***.***> Cc: Junbin Zhao ***@***.***>, Mention ***@***.***> Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: rstickleback: supervised behavior dete

[2022-10-11 09:07] max-little commented on #4718
@klb2 You can find a fairly in-depth set of review comments raised as
issues on the project page. Let me know if you need any
clarifications.

On Thu, 8 Sept 2022 at 11:27, Mehmet Hakan Satman
***@***.***> wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate P

[2022-10-11 09:10] jbytecode commented on #4718
@max-little - Thank you for your comments.

@klb2 - It seems our reviewer has provided their comments in https://github.com/openjournals/joss-reviews/issues/4718#issuecomment-1253030008.

Thank you in advance.

[2022-10-11 09:14] klb2 commented on #4718
I have implemented the requested changes and closed the issues raised on the project page by both reviewers @ulf1 and @max-little .

The updated paper can be downloaded from https://github.com/openjournals/joss-reviews/issues/4718#issuecomment-1271515159

[2022-10-11 09:16] jbytecode commented on #4718
@editorialbot generate pdf

@max-little - Could you please check the corrections applied by our author.

Thank you in advance.

[2022-10-11 09:17] max-little commented on #4718
OK thanks. Yes, I'll take a look at these this week.
Best
Max

On Tue, 11 Oct 2022 at 10:16, Mehmet Hakan Satman ***@***.***>
wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University

[2022-10-11 09:18] patRyserWelch8 commented on #4545
General checks

  *   Repository: Is the source code for this software available at the https://github.com/difuture-lmu/dsBinVal<https://eur01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fgithub.com%2Fdifuture-lmu%2FdsBinVal&data=05%7C01%7Cp.ryser-welch%40open.ac.uk%7C7ab4361f2bbb41ff642908da628dfd35%7C0e2ed45596af4100bed3a8e5fd981685%7C0%7C0%7C637930659219459695%7CUnknown%7CTWFpbGZsb3d8eyJ

[2022-10-11 09:18] SYalouz commented on #4759
Ok, I have injected the two articles referencing the QuantNBody package, I will now generate the latest PDF version for the manuscript.

[2022-10-11 09:18] SYalouz commented on #4759
@editorialbot generate pdf

[2022-10-11 09:20] dmbates commented on #4730
I tried to reply to your message in the issue but received a message that I
cannot comment at this time.  My reply was:

I regret that I am not qualified to review this project.  I have
(thankfully) forgotten most of the C++ that I ever knew and I am not
familiar with the applications area.

On Mon, Oct 3, 2022 at 10:38 AM Patrick Diehl ***@***.***>
wrote:

[2022-10-11 09:23] osorensen commented on #4828
👋 @ismailguzel @leotrs @EduPH @Annielytix, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-11 09:24] reckart commented on #4825
I would recommend including a NOTICE file at the top-level of the repo or at least at the level of the bundles mentioning any embedded third-party-copyrighted stuff, e.g. https://github.com/hexatomic/hexatomic/blob/develop/bundles/org.corpus_tools.hexatomic.core/icons/fontawesome/LICENSE

And/or add the respective licenses and mentions to the top-level license file.

The license overview provided

[2022-10-11 09:25] csoneson commented on #4545
@patRyserWelch8 - I don't think this quite worked out (I don't think it works to reply to the email - if I understand correctly that's what you did above). If you go to this link in your browser: https://github.com/openjournals/joss-reviews/issues/4545, in the bottom of the page you should see something like this (with your picture, not mine):

![Screenshot 2022-10-11 at 11 21 18](https://user-ima

[2022-10-11 09:27] jbytecode commented on #4567
@bluefoxr - I've just sent a pull request that correct (hopefully) our editor in chief's suggestions.  Please check them. If you are agreed with them, please apply.

PR: https://github.com/bluefoxr/COINr/pull/28

Thank you in advance.

[2022-10-11 09:30] meryemberradauwo commented on #4625
Hello Kevin,

Great, thank you! I also received an automatic email regarding the Editor selection. Should I indicate the preferred editor or wait for the scope review ?

Thank you,
Meryem Berrada

From: Kevin Mattheus ***@***.***>
Sent: July 29, 2022 6:20 PM
To: ***@***.***>
Cc: Meryem ***@***.***>; ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: Rho: Application to analyse ele

[2022-10-11 09:33] sdruskat commented on #4825
This sounds like a good idea, thanks.

We'll check and add any further missing licenses.

[2022-10-11 09:37] EduPH commented on #4828
Hello, I'm available.

[2022-10-11 09:46] arfon commented on #3965
@matthieuaussal – curious what you're looking to accomplish here? Once a paper has been accepted it's not possible to generate PDF previews again like this sorry.

[2022-10-11 10:01] osorensen commented on #4828
@editorialbot add @EduPH as reviewer

[2022-10-11 10:09] debruine commented on #4707
@editorialbot generate my checklist

[2022-10-11 10:41] lucydot commented on #4672
Hi @StanczakDominik and thanks for the update, do you have a rough timeline for when you may be able to do the review?

[2022-10-11 10:41] lucydot commented on #4333
Hi @jonathanHuwP, just reminding you of the message I sent above ☝️

[2022-10-11 10:52] bmcfee commented on #4554
Great, thanks @JorenSix !  Next / final step here is for you to make a tagged release of the version which incorporates changes from the review process, and archive it somewhere that can produce a DOI (eg Zenodo or Figshare).  When that's done, let us know what the DOI is so it can be linked with the paper.

[2022-10-11 11:09] haddonm commented on #4497
Hi Hugo,
Not a problem. I applaud the work you do..

Malcolm

On Tue, 11 Oct 2022 at 18:10, Hugo Gruson ***@***.***> wrote:

--
Dr Malcolm Haddon
Adjunct Professor IMAS, University of Tasmania
CSIRO Honorary Fellow, Oceans and Atmosphere
Tasmania, Australia
t: +61 (0)409 941 891
alt e: ***@***.***
CRAN: https://CRAN.R-project.org/package=MQMF
GitHub: www.github.com/haddonm
GitBook: https://haddonm

[2022-10-11 11:53] timtroendle commented on #4261
Thanks for the clarification, @LeonieFierz. Still, please make sure the author list on the paper and the repository are identical. If Aaron Bojarksi contributed to version v2.3.1 of CESAR-P, they should be listed on the paper as well.

[2022-10-11 12:05] matthieuaussal commented on #3965
very curious, I did nothing, with no connection on github since months...

[2022-10-11 12:23] pdebuyl commented on #4329
Hi @Kevin-Mattheus-Moerman sorry about this, I normally check the zenodo record but forgot this time.

[2022-10-11 13:02] jbytecode commented on #4708
@editorialbot generate pdf

[2022-10-11 13:04] pdebuyl commented on #4575
@RupeshJey any news?

[2022-10-11 13:09] bzz commented on #4151
@Theomat thank you for you patience and detailed response!

From my side, paper and software package looks good and I hope it will get published soon.

[2022-10-11 13:23] cprudhom commented on #4708
I have just made some syntax adjustments

[2022-10-11 13:23] cprudhom commented on #4708
@editorialbot generate pdf

[2022-10-11 13:24] JorenSix commented on #4554
@bmcfee Thanks for the quick follow-up. I have tagged [a release on Github](https://github.com/JorenSix/Panako/releases/tag/joss) and archived it on Zenodo with the DOI [10.5281/zenodo.7185611](https://doi.org/10.5281/zenodo.7185611)

[2022-10-11 13:27] cprudhom commented on #4708
@jbytecode

Our release versioning system is based on Maven and does not show the `v`. Is this necessary?

[2022-10-11 13:39] jbytecode commented on #4708
@cprudhom - please create a tagged release in github and use this information in zenodo. this tagged release will be registered snapshot of the review.

[2022-10-11 13:40] bmcfee commented on #4554
@editorialbot set 2.1.0 as version

[2022-10-11 13:40] bmcfee commented on #4554
@editorialbot recommend-accept

[2022-10-11 13:41] jbytecode commented on #4567
@editorialbot generate pdf

@kthyng - please check the revisited manuscript

[2022-10-11 13:45] bluefoxr commented on #4567
@jbytecode thank you for the edits. I added an extra couple of things as well just a minute ago after the merge. @kthyng thank you for looking over the paper, I think the problems you mentioned are fixed now.

[2022-10-11 13:45] bluefoxr commented on #4567
I checked and this version includes my latest edits

[2022-10-11 13:46] leotrs commented on #4828
Yes.

[2022-10-11 13:47] JulianKarlBauer commented on #4389
@Kevin-Mattheus-Moerman
Perfect, thank you for the detailed instructions.
I created release [v0.4.0](https://zenodo.org/record/7185691) with DOI https://zenodo.org/record/7185691
and manually edited the title, author, license and added a funding note.

[2022-10-11 14:00] thohamm commented on #4719
Thank you for the careful testing of our code and your feedback! We fixed and closed the issue, see comment in github repo.

[2022-10-11 14:03] wcwitt commented on #4719
Sorry to be a bit slow here - will finish ASAP

[2022-10-11 14:06] tresoldi commented on #4788
Hello, @majensen ! Yes, I would be glad to review it, as I work with both phylogenetics for non-biological data and (to a lesser extent) with TEI.

[2022-10-11 14:07] thohamm commented on #4719
Thank you also for your comment on the test coverage. The reason is that several parts of the code rely on operating with a scheduler system and are therefore a bit hard to test in a standalone run.

[2022-10-11 14:10] szhorvat commented on #4727
FYI new release is out now.

[2022-10-11 14:11] osorensen commented on #4828
@editorialbot add @leotrs as reviewer

[2022-10-11 14:24] editorialbot opened #4842 "[PRE REVIEW]: OKMesoPy: A Python package for working with the Oklahoma Mesonet climate dataset"
**Submitting author:** @djlampert (<a href="http://orcid.org/0000-0001-7357-1873">David Lampert</a>)
**Repository:** https://github.com/bjrubinstein/okmesopy
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/c369740bee8c8f0c9a88850ffaeb0b52/status.sv

[2022-10-11 14:34] diehlpk commented on #4730
Thanks for letting me know.

[2022-10-11 14:40] majensen commented on #4788
@editorialbot assign @tresoldi as reviewer

[2022-10-11 14:40] kthyng commented on #4819
@mikldk Totally understand. If you will have the time after next week, it would still be great to have you edit this submission. What do you think?

[2022-10-11 14:41] majensen commented on #4788
@editorialbot add @tresoldi as reviwer

[2022-10-11 14:41] majensen commented on #4788
@editorialbot commands

[2022-10-11 14:43] majensen commented on #4788
@editorialbot add @tresoldi as reviewer

[2022-10-11 14:45] diehlpk commented on #4730
Sounds good with me if you could finish the review in a timely manner,

[2022-10-11 14:45] diehlpk commented on #4730
@editorialbot add @f-t-s as reviewer

[2022-10-11 14:46] diehlpk commented on #4730
@ansgarwenzel and @f-t-s I found enough reviewers and will start the review.

[2022-10-11 14:46] diehlpk commented on #4730
@editorialbot start review

[2022-10-11 14:46] editorialbot opened #4843 "[REVIEW]: MParT: Monotone Parameterization Toolkit"
**Submitting author:** @mparno (<a href="http://orcid.org/0000-0002-9419-2693">Matthew Parno</a>)
**Repository:** https://github.com/MeasureTransport/MParT
**Branch with paper.md** (empty if default branch):
**Version:** v1.3.0
**Editor:** @diehlpk
**Reviewers:** @ansgarwenzel, @f-t-s
**Archive:** 10.5281/zenodo.7435142

## Status

[![status](https://joss.theoj.org/papers/47379a12758596ff3f7799cb2

[2022-10-11 14:46] #4730 closed

[2022-10-11 14:47] kthyng commented on #4567
Looks good @bluefoxr and @jbytecode! Nice team work :)

We're ready to finalize now!

[2022-10-11 14:47] kthyng commented on #4567
@editorialbot accept

[2022-10-11 14:51] kthyng commented on #4554
everything looks good!

[2022-10-11 14:52] kthyng commented on #4567
Congratulations on your new publication @bluefoxr! Many thanks to editor @jbytecode and reviewers @bauer-alex and @paulrougieux for your time, hard work, and expertise!!

[2022-10-11 14:52] #4567 closed

[2022-10-11 14:52] cprudhom commented on #4708
@jbytecode

I believe everything is ready:
- tagged release : [v4.10.10](https://github.com/chocoteam/choco-solver/releases/tag/v4.10.10)
- Zenodo archive DOI : 10.5281/zenodo.7185962
- Zenodo archive URL : https://zenodo.org/record/7185962#.Y0WCVuxBxjw

[2022-10-11 15:00] #4554 closed

[2022-10-11 15:02] astrobel commented on #4838
@editorialbot generate my checklist

[2022-10-11 15:11] jbytecode commented on #4708
@editorialbot set v4.10.10 as version

[2022-10-11 15:16] jbytecode commented on #4708
@cprudhom - It seems the ORCID of the co-author is missing the paper. Please merge the pull request: https://github.com/chocoteam/choco-solver/pull/947

[2022-10-11 15:17] sandrinecharles commented on #4813
@osorensen I am sorry I cannot review this submission within the next week, I am too busy...

[2022-10-11 15:18] jbytecode commented on #4708
@editorialbot set 10.5281/zenodo.7185962 as archive

[2022-10-11 15:28] mikldk commented on #4819
That's fine by me.

[2022-10-11 15:28] mikldk commented on #4819
@editorialbot assign me as editor

[2022-10-11 15:55] rkurchin commented on #4770
@editorialbot add @aliusdragonfly as reviewer

Thanks Austin for agreeing to review this! Still looking for at least one more before we get the review itself started...

[2022-10-11 15:57] cprudhom commented on #4708
Right, thank you. Does it require a new release?

[2022-10-11 16:00] jbytecode commented on #4708
@editorialbot generate pdf

@cprudhom - no, the release and archive is okay.

I am re-generating the pdf, please have a proof read and ping me again.

[2022-10-11 16:03] aliusdragonfly commented on #4770
If you can let me know when it’s time to review I’d appreciate it; perhaps the system automatically sends updates? I’d hate to miss it.

From: Rachel Kurchin ***@***.***>
Sent: Tuesday, October 11, 2022 11:55 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Akey, Austin ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: APAV: Python for Atom Probe Tomography

[2022-10-11 16:05] ismailguzel commented on #4828
Yes. It will be my pleasure. Thank you.

[2022-10-11 16:08] derNarr commented on #4515
@osorensen short update: I have to do some (small) corrections to my dissertation and was sick for two weeks in October. Therefore, I will start working on the review in the beginning of November. Then I will review, which parts we have already addressed by then, and give another update here.

[2022-10-11 16:12] bluefoxr commented on #4567
Thank you all again for your time! Very impressed by the publication process at JOSS! All the best to you all.

[2022-10-11 16:14] ggonnella commented on #4755
@vinisalazar
I addressed your concerns regarding the complexity of installation. Now all it takes to run the example application is to install it by a single command (``pip install genomes_attributes_viewer``) and run it by a single command (``genomes-attributes-viewer``) which automatically does the setup steps the first time it is called.

[2022-10-11 16:30] Kevin-Mattheus-Moerman commented on #4389
@editorialbot set v0.4.0 as version

[2022-10-11 16:32] Kevin-Mattheus-Moerman commented on #4389
@JulianKarlBauer Looks like we are all set. :rocket:

[2022-10-11 16:32] Kevin-Mattheus-Moerman commented on #4389
@editorialbot recommend-accept

[2022-10-11 16:33] Kevin-Mattheus-Moerman commented on #4841
@kingyin3613 thanks for this submission. Can you please check those missing DOIs? :point_up: You can call `@editorialbot check references` to check them again.

[2022-10-11 16:35] Kevin-Mattheus-Moerman commented on #4389
@editorialbot accept

[2022-10-11 16:47] jmschrei commented on #4787
@matbesancon or @arianesasso, would either of you be able to serve as reviewers for this submission?

[2022-10-11 16:48] jmschrei commented on #4749
Hi @Ebedthan and @vinisalazar, would either of you be able to review this submission?

[2022-10-11 16:51] rkurchin commented on #4770
If you got an email when I added you as a reviewer, then you should get email notifications whenever there's activity, including when the review issue is opened. There, there will be a first comment with some instructions for how to create your checklist and start filling it out. So, no action needed right now, and it looks like things are set up so that you won't miss anything! Of course, if you

[2022-10-11 16:52] Ebedthan commented on #4749
Hi @jmschrei ,
Yes for sure :)

[2022-10-11 17:05] jmschrei commented on #4749
@editorialbot assign @Ebedthan as reviewer

[2022-10-11 17:05] jmschrei commented on #4749
@editorialbot add @Ebedthan as reviewer

[2022-10-11 17:10] ggonnella commented on #4755
@vinisalazar
I added functionality to add taxonomic names to the output, without breaking the generality of the software. This is done by adding the names as an attribute to the tree. An example of creating the names and showing them in a query is given in README.

[2022-10-11 17:22] nearinj commented on #4749
@jmschrei I would be happy to review this manuscript although I won't have it back until at the earliest the first week in Novemeber due to prior commitements.

[2022-10-11 17:43] pibion commented on #4576
@sigvaldm
@Christovis
@ketch
@vickysharma0812
@robashaw

Just repinging - would any of you be interested in reviewing this submission for JOSS? Reviewing will mean going though a checklist to make sure the code meets JOSS publication standards (for example, there's instructions on installation, a test suite, and contribution instructions).

[2022-10-11 17:58] pibion commented on #4576
@krystophny, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-11 18:09] meg-simula commented on #4802
@editorialbot assign @meg-simula as editor

[2022-10-11 18:20] osorensen commented on #4828
@editorialbot add @ismailguzel Aas reviewer

[2022-10-11 18:20] osorensen commented on #4828
@editorialbot add @ismailguzel as reviewer

[2022-10-11 18:26] kingyin3613 commented on #4841
@Kevin-Mattheus-Moerman thanks for the prompt comment! I have checked these DOIs, and maybe now it is bot's turn

[2022-10-11 18:26] kingyin3613 commented on #4841
@editorialbot check references

[2022-10-11 18:36] RupeshJey commented on #4575
Hi Pierre, just wrapped up on our side!

We’ve addressed the concerns listed in the above reviews. Here’s a mostly-exhaustive list of the changes:

- The CPU/GPU selection bug in the yaml file is fixed. The user can input either Architectures.GPU/CPU or just GPU/CPU now.
- We discuss “why” GPU and auto-differentiation are so useful for our type of radiative transfer simulation.
- There is now a “H

[2022-10-11 18:51] osorensen commented on #4515
That's fine @derNarr. Thanks a lot for updating us.

[2022-10-11 19:04] kthyng commented on #4842
Hi @djlampert and thanks for your submission! Due to its relatively small size, I'm going to ping the editorial board to decide if it is in scope for JOSS, in particular under the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) guideline. This will take 1-2 weeks, thanks for your patience.

[2022-10-11 19:05] kthyng commented on #4842
@editorialbot query scope

[2022-10-11 19:50] krystophny commented on #4576
Thanks for the request! For this submission, I am sorry that I cannot act as a reviewer, since I am a co-author (not immediately obvious since there's no direct link between my GitHub user and real name).

[2022-10-11 19:54] taylorbell57 commented on #4503
Awesome, thanks for your rapid review! I'll try to get that all adressed fairly soon here and will write back here once everything has been addressed or if I have any follow-up questions

[2022-10-11 20:02] LeonieFierz commented on #4261
@editorialbot generate pdf

[2022-10-11 20:07] LeonieFierz commented on #4261
@editorialbot generate pdf

[2022-10-11 20:10] LeonieFierz commented on #4261
@editorialbot generate pdf

[2022-10-11 20:15] lucask07 commented on #4762
@untzag, @danielskatz, @askuric
Thank you so much for the great feedback and we really appreciate your time! We (@Ajstros) are working through these and will get back to you soon. Sorry for the slow response. One of us is an undergraduate student taking too many courses and the other is trying to teach 3 courses.

I completely agree that there are many moving parts. We will take a careful look at

[2022-10-11 20:16] szhorvat commented on #4727
@prashjha A week has passed since inviting chaypaterson. He has almost zero activity on GitHub, and has not done any reviews for JOSS before, so it seems reasonable to assume that he did not get the note. I am wondering if it's time to attempt email contact.

[2022-10-11 20:52] lucask07 commented on #4762
Correct

Yes. This may require a custom circuit board that the ICs are mounted to (e.g. [https://github.com/lucask07/open_covg_daq_pcb](https://github.com/lucask07/open_covg_daq_pcb)). An ADC evaluation board or for example a [ToF sensor eval board](https://www.digikey.com/en/products/detail/mikroelektronika/MIKROE-4592/14306689?s=N4IgTCBcDaILYEsDWAnA9gUwLQBYCsAnBALoC%2BQA).

There is a file (ep_d

[2022-10-11 21:14] munkm commented on #4735
@editorialbot generate my checklist

[2022-10-11 21:19] vinisalazar commented on #4749
Hi @jmschrei, thank you for the invite but I cannot review this manuscript due to a conflict of interest.

Best,
V

[2022-10-11 21:28] jmschrei commented on #4749
No problem @vinisalazar, thanks for getting back to me.

@nearinj I'm going to try to find another reviewer just to speed this up but if I can't find anyone else I might ask you again. Thanks!

[2022-10-11 21:29] jmschrei commented on #4749
@rjorton or @MmasterT, would either of you be able to serve as a reviewer for this?

[2022-10-11 21:35] mturiansky commented on #4719
I'm all done with my review now, @ppxasjsm . All my concerns were addressed, and I'm okay with publication.

[2022-10-11 21:36] kthyng commented on #4812
Hi @graciellehigino! I have been in need of an ecology-type editor and I see you are here! Are you interested in editing this submission?

[2022-10-11 21:36] kthyng commented on #4812
@editorialbot invite @graciellehigino as editor

[2022-10-11 21:39] kthyng commented on #4832
Hi @lpantano! Could you edit this submission?

[2022-10-11 21:39] kthyng commented on #4832
@editorialbot invite @lpantano as editor

[2022-10-11 21:46] kthyng commented on #4833
I am going to pause this submission until we get a response to @arfon's question.

[2022-10-11 21:52] kthyng commented on #4829
Hi @lymereJ and thanks for your submission! I think @crvernon would be a good fit for editing this, but is also at PNNL. I know PNNL is a large organization so could you each state if you are connected in a more specific way than just both working there? We may be able to waive the COI after stating it, depending on the connection level.

[2022-10-11 21:53] dhvalden commented on #4813
@osorensen Yes, I think I can review it. How much time would I have? I took a look at the guidelines but I didn't saw any timeframe.

[2022-10-11 21:54] crvernon commented on #4829
@kthyng I do not believe @lymereJ  and I have worked together in any capacity before.  If @lymereJ confirms that we have no association, I am good to proceed.  Thanks!

[2022-10-11 21:55] kthyng commented on #4836
Hi @danasolav! Could you edit this submission? It looks like you and the submission both involve working with images, but not sure if the specifics are close enough for comfort, so let me know.

[2022-10-11 21:55] kthyng commented on #4836
@editorialbot invite @danasolav as editor

[2022-10-11 21:55] lymereJ commented on #4829
@kthyng - I confirm @crvernon's statement.

[2022-10-11 21:57] crvernon commented on #4829
Alright then, @kthyng and @lymereJ I'll kick things off.

[2022-10-11 21:58] crvernon commented on #4829
@editorialbot assign @crvernon as editor

[2022-10-11 21:59] kthyng commented on #4837
Hi @eminizer and thanks for your submission! At the moment we have a backlog of submission and a short waitlist to wait for a relevant available editor. Thank you for your patience.

[2022-10-11 22:00] crvernon commented on #4829
:wave: @lymereJ - The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) have already agreed to review for JOSS and may

[2022-10-11 22:00] eminizer commented on #4837
No problem, thank you for the update!

[2022-10-11 22:01] lymereJ commented on #4829
@crvernon I had found three potential reviewers from the list. I can take another pass at it to see if I can find others if need be.

[2022-10-11 22:02] crvernon commented on #4829
Nope all good.  I'll start screening.

[2022-10-11 22:06] editorialbot opened #4844 "[PRE REVIEW]: FreqAI: generalizing adaptive modeling for chaotic time-series market forecasts"
**Submitting author:** @robcaulk (<a href="http://orcid.org/0000-0001-5618-8629">Robert Caulk</a>)
**Repository:** https://github.com/freqtrade/freqtrade
**Branch with paper.md** (empty if default branch): JOSS-paper-submission
**Version:** v1.0
**Editor:** @Fei-Tao
**Reviewers:** @ady00, @shagunsodhani
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/1677f5d640

[2022-10-11 22:07] kthyng commented on #4844
@editorialbot set JOSS-paper-submission as branch

[2022-10-11 22:08] kthyng commented on #4844
@editorialbot generate pdf

[2022-10-11 22:08] editorialbot opened #4845 "[PRE REVIEW]: sfctools - A toolbox for stock-flow consistent, agent-based models"
**Submitting author:** @fuadlabgit (<a href="http://orcid.org/0000-0002-9119-7413">Thomas Baldauf</a>)
**Repository:** https://gitlab.com/dlr-ve/esy/sfctools/framework/
**Branch with paper.md** (empty if default branch): paper
**Version:** 1.0.0
**Editor:** @sbenthall
**Reviewers:** @npalmer-professional, @alanlujan91
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/pa

[2022-10-11 22:09] kthyng commented on #4845
@editorialbot set paper as branch

[2022-10-11 22:09] kthyng commented on #4845
@editorialbot generate pdf

[2022-10-11 22:10] kthyng commented on #4844
@editorialbot check repository

[2022-10-11 22:12] crvernon commented on #4829
:wave: @samuelduchesne - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-11 22:12] kthyng commented on #4844
Hi @robcaulk and thanks for your submission! At the moment we have a backlog of submission and a short waitlist to wait for a relevant available editor. Thank you for your patience.

[2022-10-11 22:13] crvernon commented on #4829
:wave: @jasondegraw - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-11 22:14] kthyng commented on #4845
Hi @fuadlabgit and thanks for your submission. I see I assumed your paper was in a branch off the code repo but it is not. However, it also doesn't seem to be at the link included. Can you state where to find your paper.md file?

[2022-10-11 22:18] kthyng commented on #4389
Congratulations on your new publication to @JulianKarlBauer! Many thanks to editor @Kevin-Mattheus-Moerman and reviewers @nicoguaro, @likask, and @lizarett for your time, hard work, and expertise!!

[2022-10-11 22:18] #4389 closed

[2022-10-11 22:23] kthyng commented on #4795
@fraukewiese This multiplies the effort level, but I wonder if it would be helpful to have the same editor for all three of these related submissions. I already pinged you on one. This is another, and I will ping you on the third too.

[2022-10-11 22:23] kthyng commented on #4796
@fraukewiese here is the third related submission.

[2022-10-11 22:23] kthyng commented on #4795
@editorialbot invite @fraukewiese as editor

[2022-10-11 22:23] kthyng commented on #4796
@editorialbot invite @fraukewiese as editor

[2022-10-11 23:18] graciellehigino commented on #4812
I'm happy to help!
@editorialbot assign me as editor

[2022-10-11 23:21] danielskatz commented on #4812
@editorialbot assign @graciellehigino as editor

commands to @editorialbot need to be the first thing in a comment 🙂

[2022-10-11 23:52] vinisalazar commented on #4755
Hi @ggonnella thank you for the updates.

That is perfectly fine. I don't think it's a necessity to have this greater focus on the NCBI Taxonomy, since the underlying goal of the library is a different one. But, from a user's perspective, it would be nice to have easy access to that tree (i.e. having it be built automatically or even packaged along with the software).

I will wait for ggonnella/fa

[2022-10-12 02:46] jasondegraw commented on #4829
@crvernon In principle yes, but @lymereJ and I are both on the [EnergyPlus](https://github.com/NREL/EnergyPlus) development team, so there's a potential COI there. I took a look at the COI policy and I'm not sure if it rises to that level, but thought I should probably bring it up. We haven't worked together directly, and while I have reviewed some work that he did a while back, I do believe that

[2022-10-12 05:06] fuadlabgit commented on #4845
@kthyng thank you for the fast answer! I am sorry, the paper was stored here https://github.com/fuadlabgit/sfctools (the repo was still private, but is set public now). Here you should also find some compiled version in the action artifacts.

Useful links:
Github folder containing the paper markdown https://github.com/fuadlabgit/sfctools/tree/main/paper/paper.md
Successful github artifact containi

[2022-10-12 05:06] fuadlabgit commented on #4845
@editorialbot generate pdf

[2022-10-12 05:08] fuadlabgit commented on #4845
@kthyng It seems to work now

[2022-10-12 06:01] thohamm commented on #4719
@mturiansky Thank you for reviewing our work and for your constructive comments.

[2022-10-12 06:05] fuadlabgit commented on #4845
Thank you for providing the list of reviewers. I have compiled a selection of potential reviewers who are well-suited (best first):

From the excel list:

- Richard W. Evans, rickecon,rwevans@uchicago.edu
- Milica Grahovac, milicag, mgrahovac@lbl.gov

Further potential reviewers:

- Mariana Reis Maria (marirmaria) marianareismaria@gmail.com
- Severin Reissl (SReissl) severin.reissl@eiee.org
- Joel

[2022-10-12 06:30] ajstewartlang commented on #4212
Hi @rbturnbull I've noticed some old comments (not just from me) on various repos suddenly appearing as re-posts. I'm not quite sure why so please just ignore.

[2022-10-12 06:58] JulianKarlBauer commented on #4389
(: thanks for the great experience of publishing in JOSS.
Thank you  @Kevin-Mattheus-Moerman for your efforts in moderation!
Thanks to the reviewers @nicoguaro @likask @lizarett for your valuable suggestions and dedication and thank you @kthyng for finalizing the process.

[2022-10-12 07:00] cprudhom commented on #4708
@jbytecode I think the sub-section `Applications` is useless. I can fix that if you want, otherwise, I'm ok with the article

[2022-10-12 07:03] ketch commented on #4576
I'm sorry but I'm overloaded with other commitments at the moment.

[2022-10-12 07:09] osorensen commented on #4813
Thanks @dhvalden! There is not set time limit, but we hope you can start the review within 3 weeks. After that the authors might spend some time resolving issues, and then we hope you can come back and look at the revisions. Does that sound fine?

[2022-10-12 07:09] osorensen commented on #4813
@editorialbot add @dhvalden as reviewer

[2022-10-12 07:14] timtroendle commented on #4261
Good, thanks for the update @LeonieFierz. I will now go ahead and recommend acceptance of your submission.

[2022-10-12 07:14] timtroendle commented on #4261
@editorialbot recommend-accept

[2022-10-12 07:50] sigvaldm commented on #4576
This looks like a really interesting paper, but unfortunately, I have too much on my plate at the moment. I don't think I will be able to do it this year.

[2022-10-12 08:18] jbytecode commented on #4708
@cprudhom - the review has been completed so it is usual to go on with the typo and language corrections. I am now recommending an accept. Thank you for your edits.

@skadio, @ozgurakgun - Thank you so much again, for your great effort and consuming your time for the JOSS review, hope to work on future projects.

[2022-10-12 08:19] jbytecode commented on #4708
@editorialbot recommend-accept

[2022-10-12 08:29] jbytecode commented on #4708
@cprudhom - the orchid part is updated, please apply the PR

[2022-10-12 09:27] saigerutherford commented on #4321
Hi @dfm, I have reviewed @harveyaa's responses to my issues and feel that all of my concerns were properly addressed. I finished the review checklist and have no outstanding comments at this time. I am happy to support this work being published.

[2022-10-12 09:56] jbytecode commented on #4708
@editorialbot generate pdf

[2022-10-12 10:00] jbytecode commented on #4708
@cprudhom - interestingly the orchid is not shown properly, could you please solve this?

[2022-10-12 10:28] cprudhom commented on #4708
@editorialbot generate pdf

[2022-10-12 10:29] dhvalden commented on #4813
yep! That sounds perfect. I'll carefully read the docs and guidelines and i'll come if i have any questions. Best wishes!

[2022-10-12 10:31] jbytecode commented on #4708
@editorialbot recommend-accept

@cprudhom - thanks!

[2022-10-12 10:52] osorensen commented on #4813
Thanks @dhvalden! I'll wait until we have one more reviewer before starting the review issue. You'll be notified.

[2022-10-12 11:02] jbytecode commented on #4718
@klb2 - You decide to use $R_{+}$ instead of $R^{+}$ in the manuscript. Is that why superscripting is reserved for representing dimension, e.g., $R_{+}^{2}$? Is that the usual notation in the corresponding literature? Thank you in advance.

[2022-10-12 11:51] osorensen commented on #4828
@editorialbot start review

[2022-10-12 11:51] editorialbot opened #4846 "[REVIEW]: giotto-deep: A Python Package for Topological Deep Learning"
**Submitting author:** @matteocao (<a href="http://orcid.org/0000-0001-9416-9090">Matteo Caorsi</a>)
**Repository:** https://github.com/giotto-ai/giotto-deep
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.0.3
**Editor:** @osorensen
**Reviewers:** @EduPH, @leotrs, @ismailguzel
**Archive:** 10.5281/zenodo.7243721

## Status

[![status](https://joss.theoj.org/papers/f1f9482

[2022-10-12 11:51] #4828 closed

[2022-10-12 11:54] osorensen commented on #4792
👋 @tomsing1 @btmonier, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-12 11:57] osorensen commented on #4813
:wave: @aaronpeikert @thomaspinder, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-12 11:59] klb2 commented on #4718
I am aware that different notations exist for the same set. As you mentioned, we typically use the index $R_{+}$ to indicate the non-negativity and the superscript to indicate the dimension, e.g., $\mathbb{R}_{+}^{2}$.

[2022-10-12 12:29] samuelduchesne commented on #4829
Hi @crvernon I'd love to.

[2022-10-12 12:34] vguide commented on #4749
@jmschrei, I could but I'm away this and next on holiday - back 24th Oct

[2022-10-12 12:37] rjorton commented on #4749
@jmschrei, I could but I'm away this and next on holiday - back 24th Oct (sorry I was logged in with another account vguide when I made the first comment)

[2022-10-12 13:00] jonathanHuwP commented on #4333
Hi @lucydot , @JoannaLeng

I have made a release on Zenode: [DOI: 10.5281/zenodo.7188822](https://doi.org/10.5281/zenodo.7188822)

[2022-10-12 13:05] crvernon commented on #4829
@editorialbot add @samuelduchesne as reviewer

Great, thanks!  I'll kick off the formal review once we get one more reviewer.

[2022-10-12 13:16] robcaulk commented on #4844
Thanks @kthyng!

[2022-10-12 13:19] crvernon commented on #4829
@jasondegraw thank you for your honest feedback.  Let me seek a different reviewer for this one since you are on the same development team though I do believe you could be impartial and appreciate your contributions in the past to JOSS.   Have a great day!

[2022-10-12 13:30] crvernon commented on #4679
@Shreyas911 do you have any outstanding questions for me concerning the above?  Happy to help.

[2022-10-12 13:32] crvernon commented on #4679
@kris-rowe please reply on your status as a reviewer in this thread and let me know if you are still able to complete it within the next week.  Thanks!

[2022-10-12 13:35] crvernon commented on #4805
📣 Mid-week rally!

👋 @tonyewong  - It looks like you and @mabesa are working a few things out but all is going well.  Let me know if you need anything.

👋 @mengqi-z  - Can you provide a status update to how things are going on your side of things?  Thanks!

Keep up the good work!

[2022-10-12 13:36] crvernon commented on #4807
📣 Mid-week rally!

👋 @turgeonmaxime and  @aj2duncan  - Can you provide a status update to how things are going on your side of things?  Thanks!

Keep up the good work!

[2022-10-12 13:42] mabesa commented on #4805
Yep, I updated the package and tested it with the devtools utils and I am now re-testing the package with real-life data sets not included in the test suite. This procedure should be done tomorrow morning by the latest. I'll write again then, hopefully with an "issue fixed" happy-face emoji.

[2022-10-12 13:42] Basvanstein commented on #4721
@editorialbot generate pdf

[2022-10-12 13:43] crvernon commented on #4805
Great, thanks @mabesa !

[2022-10-12 14:07] mengqi-z commented on #4805
@crvernon - I am planning to get more reviews done by the end of this week.

@mabesa - a quick note for the installation step. The built-in pip operator "|>" used in the package requires R version >= 4.1. Could you add this requirement to the installation instruction? Thanks.

[2022-10-12 14:10] hugoledoux commented on #4664
@editorialbot generate pdf

[2022-10-12 14:13] hugoledoux commented on #4664
@editorialbot check references

[2022-10-12 14:24] Kevin-Mattheus-Moerman commented on #4564
@editorialbot check references

[2022-10-12 14:31] Shreyas911 commented on #4679
Thanks, @crvernon, I think I am good for now. I hope we can publish after this round of reviews. I apologize for the longer time in addressing issues since I have to consult with my co-authors who are all in different time zones and schedules.

[2022-10-12 14:35] svchb commented on #4679
@Shreyas911 There will be at least another round of comments when all of the sections of your paper are done and I try your examples.

[2022-10-12 14:36] Kevin-Mattheus-Moerman commented on #4564
@vferat I have just read through your paper as well and all seems in order, and we will proceed to process this work for acceptance in JOSS. Please have a look at the below steps.

There are some minor editorial points remaining for your to consider:
- [ ] Find and replace all occurrences of `python` with `Python`, i.e. use a capital letter.
- [ ] Suggestion: replace `open-source` with `open sourc

[2022-10-12 14:41] hjwilli commented on #4833
Hi @arfon, the source code is located in the `/app` directory.
https://github.com/carnival-data/carnival/tree/master/app

The license file and optional docker configuration are located at the root of the project.

[2022-10-12 14:42] hugoledoux commented on #4664
I see that the issues from the reviewers have been fixed (pretty quick!) and that the reviewers are happy.

One thing we need to discuss however, and it's a not-so-nice topic: authorship. I see that only 3 of the six authors have contributed to the code, and JOSS works differently from academic. We don't allow the person funding a project to put their names because of the fact that they have the m

[2022-10-12 14:45] Kevin-Mattheus-Moerman commented on #4211
@editorialbot remove @oriolcg as reviewer

[2022-10-12 14:48] kthyng commented on #4845
@editorialbot check repository

[2022-10-12 14:49] kthyng commented on #4845
@editorialbot invite @sbenthall as editor

[2022-10-12 15:04] ismailguzel commented on #4846
@editorialbot generate my checklist

[2022-10-12 15:17] dunnkers commented on #4611
Dear @estefaniatalavera @mcasl @diehlpk, I worked hard to process more feedback. These are some of the changes on the repo side of things (package and documentation):

- Installation instructions were improved (https://github.com/dunnkers/fseval/pull/81)
- 2 new recipes
  -  analyzing algorithm stability (https://github.com/dunnkers/fseval/pull/83)
  - running `fseval` on AWS (https://github.com/d

[2022-10-12 15:19] kthyng commented on #4727
@szhorvat Please understand that everyone here, from the editors through the reviewers, are volunteers with limited time, just like you. Unless you are worried about a violation of journal policies or something that you need to bring to an editor's attention, please let us all do our jobs without your prodding. It is inappropriate for the author to attempt to direct the review process.

[2022-10-12 15:23] kthyng commented on #4708
Everything looks good!

[2022-10-12 15:23] kthyng commented on #4708
@editorialbot accept

[2022-10-12 15:34] kthyng commented on #4708
Congratulations on your new publication to @cprudhomand! Many thanks to editor @jbytecode and reviewers @skadio and @ozgurakgun for your time, hard work, and expertise!!

[2022-10-12 15:34] #4708 closed

[2022-10-12 15:38] olejandro commented on #4261
Hi @kthyng, yes, @timtroendle did indicate it in this thread.

[2022-10-12 15:38] skadio commented on #4708
Thank you all, especially to our editors @kthyng  and @jbytecode for holding our hand throughout!

Congratulations @cprudhom

[2022-10-12 15:45] kthyng commented on #4261
Thank you for confirmation @olejandro! Want to make sure everything is clear before wrapping up.

@kristina-o A few comments on your paper:
* last sentence of first section: there is a colon after Zenodo. Seems like you either want no colon and keep the parenthetical reference or keep the colon and make the reference inline.
* Go through your references in detail to preserve capitalization and fix

[2022-10-12 15:50] szhorvat commented on #4727
Dear @kthyng,

I mean to cause no pressure. However, considering that the submission was made over 6 weeks ago, and reviewers have not been selected yet, the process appears to be considerably slower than what I expected based on my experience with other journals, either in the role of author or reviewer. Unfortunately, the delay does affect me, and not knowing what to expect, I am becoming concer

[2022-10-12 16:05] crvernon commented on #4829
No problem @fneum , thanks for the quick reply!

[2022-10-12 16:07] crvernon commented on #4829
:wave: @stevenkfirth - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-12 16:11] arfon commented on #4727
But your actions *are* causing pressure @szhorvat, and as JOSS EiC that is a concern to me. I will note that twice already during the pre-review of this submission, you have chased the editorial team for an update.

JOSS operates an open review system, which means there is no priviliged information. That has its advantages (everyone knows exactly what state the submission is in) and disadvantages

[2022-10-12 16:23] earth-chris commented on #4812
@editorialbot generate pdf

I've updated the DOIs and made some minor copy edits that may be relevant at the outset of review.

[2022-10-12 16:42] jmschrei commented on #4787
@editorialbot add @arianesasso as reviewer

[2022-10-12 16:42] jmschrei commented on #4787
Great, thanks!

[2022-10-12 17:07] angerhang commented on #4741
1. Thanks a lot for your response @pydemull . Now I understand the rationale of your design choice. Thanks for being willing to build a more inclusive scientific software. Perhaps ``intersex`` and ``undefined`` will work? I guess with non-binary individuals, you will just take an average of both sex for your calculation?

2. I think your explanations are sufficient. I will try testing the software

[2022-10-12 17:12] Basvanstein commented on #4721
@Fei-Tao I believe the reviews are done and reviewers happy ;).
What are the next steps?

[2022-10-12 17:25] Fei-Tao commented on #4721
@editorialbot generate pdf

[2022-10-12 17:27] Fei-Tao commented on #4721
@editorialbot check references

[2022-10-12 17:35] Fei-Tao commented on #4721
@Saran-nns, @xtruan, @rreinecke, Thank you for your time for reviewing this paper.

@Basvanstein At this point could you make a new release of this software that includes the changes resulting from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the Zenodo/figshare archive, please make sure that:

-

[2022-10-12 17:45] aaronpeikert commented on #4813
I'll be busy next two weeks, but would be available after that.

[2022-10-12 17:51] mscheltienne commented on #4564
Thanks @Kevin-Mattheus-Moerman! I've addressed your comments in https://github.com/vferat/pycrostates/pull/88
Could you please detail this one:

I've read it 3 times, and I can't see the difference 😉

The package is now in version `0.2.0`, which is also the version released as part of the `mne-installers` as of 1.2 (released today). It's very recent, so I don't think we need to cut a new release.

[2022-10-12 18:10] mscheltienne commented on #4564
@editorialbot generate pdf

[2022-10-12 18:12] osorensen commented on #4813
Thanks @aaronpeikert, that's absolutely fine.

[2022-10-12 18:12] EugeneHao commented on #4813
@osorensen Sorry for my late reply. Yes, I am willing to review if you need more reviewers. Thank you!

[2022-10-12 18:13] osorensen commented on #4813
Thanks @EugeneHao, that would be great

[2022-10-12 18:13] osorensen commented on #4813
@editorialbot add @EugeneHao as reviewer

[2022-10-12 18:17] EugeneHao commented on #4813
Great! I will check the review guideline and start to review in this week.

[2022-10-12 18:28] osorensen commented on #4813
Excellent. I'll just wait another day for the potential reviewers to respond, before starting the actual review issue. You will be notified.

[2022-10-12 19:44] Basvanstein commented on #4721
Thank you @Fei-Tao , and off course many thanks to the reviewers!
The zenodo archive has the following DOI:.
DOI: 10.5281/zenodo.7191341

[2022-10-12 20:05] pydemull commented on #4741
Dear @samhforbes @angerhang @elimillera, CRAN has requested I make some updates of the package so that it passes R-dev checking (this is in relation with a planned update of R regarding as.character.POSIXt()). I have made the update and the current CRAN version is now 1.0.5. (Thus, I will have to make a change in the JOSS paper where I gave a version number for the package; I will remove the versi

[2022-10-12 20:26] jeffreyhanson commented on #4594
@Jo-Schie, I just wanted to follow up and check if your concerns about Performance and State of the Field were addressed? My undestanding is that you raised these concerns in https://github.com/prioritizr/wdpar/issues/61 and https://github.com/prioritizr/wdpar/issues/62 (respectively) and I addressed these concerns by providing a log file with timings and updating the manuscript?

[2022-10-12 21:33] samhforbes commented on #4741
@pydemull not to worry, we can set the version number both here and in the paper at the end.

Thanks everyone for your discussions and input to date!

[2022-10-12 21:35] AP6YC commented on #3527
@rMassimiliano Release [0.5.0](https://github.com/AP6YC/ClusterValidityIndices.jl/commit/da69f07ecd35d4b258538d8536478339307bbf8a) significantly updates the package and hopefully addresses your concerns. In summary, the following changes have been made:

1. The package usage has simplified to target `get_cvi!` as the main function of the package, categorizing other workflows to "advanced usage". F

[2022-10-13 02:47] Fei-Tao commented on #4721
@editorialbot set 10.5281/zenodo.7191341 as archive

[2022-10-13 02:47] Fei-Tao commented on #4721
@editorialbot recommend-accept

[2022-10-13 02:54] Fei-Tao commented on #4721
Hi @openjournals/joss-eics, the paper looks good to me now. Could you take it from here?

[2022-10-13 02:59] tomsing1 commented on #4792
@osorensen : Yes, I am happy to review

[2022-10-13 03:02] jmschrei commented on #4749
@ParkvilleData is waiting until the 24th alright for you?

[2022-10-13 03:11] duhd1993 commented on #4763
@editorialbot generate my checklist

[2022-10-13 03:24] tonyewong commented on #4805
@mabesa Looks like the more detailed error I see both when running `devtools::test()` or `source("testthat.R")` from the `tests` directory is the following:
[code]

Relatedly, I'd suggest just adding a line or two to the README.md to indicate how users ought to test their installs. I got the previous error by running some of the contents of the `testthat.R` script interactively. Pointing folks str

[2022-10-13 04:06] osorensen commented on #4792
@editorialbot add @tomsing1 as reviewer

[2022-10-13 04:06] osorensen commented on #4792
@editorialbot start review

[2022-10-13 04:06] editorialbot opened #4847 "[REVIEW]: rigr: Regression, Inference, and General Data Analysis Tools in R"
**Submitting author:** @yiqunchen (<a href="http://orcid.org/0000-0002-4100-1507">Yiqun Chen</a>)
**Repository:** https://github.com/statdivlab/rigr
**Branch with paper.md** (empty if default branch): joss_submission
**Version:** v.1.0.5
**Editor:** @osorensen
**Reviewers:** @stefanocoretta, @tomsing1
**Archive:** 10.5281/zenodo.7456326

## Status

[![status](https://joss.theoj.org/papers/32b5abe3

[2022-10-13 04:06] #4792 closed

[2022-10-13 06:34] Jo-Schie commented on #4594
They were both adequately addressed during the review. I marked the checkboxes accordingly.

[2022-10-13 06:41] jeffreyhanson commented on #4594
Awesome! @Jo-Schie, could you please mark the checkbox for your review on this thread too (https://github.com/openjournals/joss-reviews/issues/4594#issuecomment-1193077208)? On my screen, the "State of the Field" checkbox isn't marked. Based on @martinfleis previous comment, I think they might need this to confirm that your review is complete (please correct me if I've got this wrong)?

[2022-10-13 07:35] cprudhom commented on #4708
Thank you @ozgurakgun and @skadio for your reviews and @jbytecode for your help.

[2022-10-13 07:44] mabesa commented on #4805
@mengqi-z - Thank you, I added the R version to the README.
I will write once the test issues are solved.

[2022-10-13 07:47] cprudhom commented on #4708
I have a last question. When I look at the page that hosts the article, I see some the following tags: ANTLR and R.
Can these tags be changed to more relevant ones ?
Thank you

[2022-10-13 08:12] fraukewiese commented on #4516
@robinroche and @blthayer : Thank you very much for your thorough review!

[2022-10-13 08:18] fraukewiese commented on #4516
@editorialbot generate pdf

[2022-10-13 08:20] Kevin-Mattheus-Moerman commented on #4329
@rogersamso :wave: :point_up:

[2022-10-13 08:34] fraukewiese commented on #4516
@stinefm : Could you please check the following in the paper:

Line 50 - can the brackets around DSO be deleted?
Line 96 - I think the comma behind Figure 1 can be deleted
Line 120 - this is the only reference where you do not display the https://doi.org/ before the number. Would be good to make it consistent the way the other references are displayed. And it directs to https://10.0.3.239/978-1-46

[2022-10-13 08:35] fraukewiese commented on #4516
As soon as these minor issues in the paper are solved, could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the

[2022-10-13 08:36] fraukewiese commented on #4516
@stinefm : And I agree to @blthayer that it would be great if you would volunteer to review for JOSS! :)

[2022-10-13 08:51] rogersamso commented on #4329
Hi @Kevin-Mattheus-Moerman, sorry for the lack of response. We'll look into it asap.

[2022-10-13 09:20] jbytecode commented on #4716
Dear @becarioprecario,

This is the last reminder. Since you never sent a response, I assume that you are so much busy to reply messages, and/or you are not able to receive notifications. If you don't set a deadline for us until 15th October, I will try to find another reviewer for this issue.

Thank you in advance.

[2022-10-13 09:21] schruste commented on #4252
Yes, also sorry from my side. I will try to check the update soon.

[2022-10-13 09:42] osorensen commented on #4813
@editorialbot start review

[2022-10-13 09:42] editorialbot opened #4848 "[REVIEW]: UBayFS: An R Package for User Guided Feature Selection"
**Submitting author:** @annajenul (<a href="http://orcid.org/0000-0002-6919-3483">Anna Jenul</a>)
**Repository:** https://github.com/annajenul/UBayFS
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** @osorensen
**Reviewers:** @dhvalden, @aaronpeikert, @EugeneHao
**Archive:** 10.5281/zenodo.7554373

## Status

[![status](https://joss.theoj.org/papers/a7ebe73cf

[2022-10-13 09:42] #4813 closed

[2022-10-13 09:44] becarioprecario commented on #4716
Hi,

Sorry for the delay. I will try to send the review by the end of the week.

Best,

Virgilio

El 13 oct 2022, a las 11:20, Mehmet Hakan Satman ***@***.******@***.***>> escribió:

Dear @becarioprecario<https://github.com/becarioprecario>,

This is the last reminder. Since you never sent a response, I assume that you are so much busy to reply messages, and/or you are not able to receive notifica

[2022-10-13 09:48] jbytecode commented on #4716
@becarioprecario - I am happy to hear from you. I will be waiting for your review. Thank you for the response.

[2022-10-13 10:02] vferat commented on #4564
Hey @Kevin-Mattheus-Moerman! Thanks for the update

As Mathieu said, we have address the editorial comments in https://github.com/vferat/pycrostates/pull/88 which have been merged.

You can use the tag of the last release `0.2.0` as well as the corresponding DOI  [`10.5281/zenodo.7129852 `](https://doi.org/10.5281/zenodo.7129852) with the article. Since this release, we have not made any significa

[2022-10-13 10:12] jbytecode commented on #4736
Dear @HaoZeke,

Could you please update your status and inform us on how is your review going? Could you please set a deadline for us?

Thank you in advance.

[2022-10-13 10:55] rbturnbull commented on #4749
Hi @jmschrei and @rjorton - waiting until the 24th of October is fine for us. Thanks!
(on behalf of @ParkvilleData)

[2022-10-13 11:26] Kevin-Mattheus-Moerman commented on #4564
@editorialbot set 10.5281/zenodo.7129852 as archive

[2022-10-13 11:26] Kevin-Mattheus-Moerman commented on #4564
@editorialbot set 0.2.0 as version

[2022-10-13 11:28] Kevin-Mattheus-Moerman commented on #4564
@vferat thanks. Please check the unchecked box :point_up: you need to manually edit the ZENODO title and author list to match that of the paper etc.

[2022-10-13 11:29] Kevin-Mattheus-Moerman commented on #4252
@mscroggs can you resume the review process again? Thanks

[2022-10-13 11:29] Kevin-Mattheus-Moerman commented on #4252
Thanks @vijaysm and @schruste

[2022-10-13 11:34] raybecker commented on #4114
@editorialbot generate my checklist

[2022-10-13 11:45] martinfleis commented on #4052
@editorialbot set v0.3.0 as version

[2022-10-13 11:46] martinfleis commented on #4052
@editorialbot set 10.5880/GFZ.1.4.2021.008 as archive

[2022-10-13 11:46] martinfleis commented on #4052
@editorialbot generate pdf

[2022-10-13 11:48] martinfleis commented on #4052
@editorialbot check references

[2022-10-13 11:48] hkaspersen commented on #4677
@csoneson how do I format bacterial names correctly in the `.bib` file, they are not in italics in the preview pdf. Can I use `\textit` bibtex formatting?

[2022-10-13 11:51] martinfleis commented on #4594
@editorialbot generate pdf

[2022-10-13 11:52] martinfleis commented on #4052
Thank you @d-eggert! I'm going to hand this over now to the associate EiC for the final steps.

[2022-10-13 11:52] martinfleis commented on #4052
@editorialbot recommend-accept

[2022-10-13 11:53] martinfleis commented on #4594
@editorialbot check references

[2022-10-13 11:57] martinfleis commented on #4594
Thank you all! I made sure all is checked as is supposed to based on the discussions.

@jeffreyhanson The submission is now almost ready to be published.

The next steps you need to do now:

- [ ] Make a new tagged release (or let me know if the latest one contains all the changes) of the software, and list the version tag of the archived version here.
- [ ]  Archive the reviewed software in Zenod

[2022-10-13 12:02] martinfleis commented on #4781
Hi @manmeetkaurbaxi, @dhvalden would you be willing to review this submission?

[2022-10-13 12:05] martinfleis commented on #3761
Hey @JGaboardi, sorry ti pick you up again :). It seems that we have lost a reviewer along the way here. Would you be willing to help out and review this submission? You will see that there already was one round of reviews done.

[2022-10-13 12:34] elbeejay commented on #4574
Thanks for following up @wcjochem, would you mind checking off the remainder of the boxes in your [checklist above](https://github.com/openjournals/joss-reviews/issues/4574#issuecomment-1187925369) if those areas that previously needed some work have now been addressed?

Regarding your concern about the new dependency, I appreciate the note about your difficulties installing it on Windows. @rCarto

[2022-10-13 12:54] arfon commented on #4151
@editorialbot remove @Kraks as reviewer

[2022-10-13 12:55] elbeejay commented on #4715
@bgailleton, @giuliomariotti, @judafe, @acocac, would you be interested in reviewing this submission to JOSS? I know this isn't your exact specialty, but I believe you have the Python experience and/or the scientific background to provide a thorough and constructive review, and this might be an interesting subject and package to look into and learn a bit about. If you aren't able to review this, b

[2022-10-13 12:55] arfon commented on #4151
@Theomat – At this point, with two complete reviews, we're ready to move forward. Could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the arc

[2022-10-13 13:00] dhvalden commented on #4781
Dear @martinfleis, I'm afraid I cannot. I'm already reviewing a paper for JOSS this month (I just signed up actually). In the future, after reviewing that one, I'll have more time again.

Best wishes!

[2022-10-13 13:14] HaoZeke commented on #4736
Sorry, will have it done over the weekend.

[2022-10-13 13:27] bmcfee commented on #4769
Back onto this now - I'm hoping to have reviewers lined up in the next couple of days and then we can move this forward.

[2022-10-13 13:46] JosiahParry commented on #4574
Outstanding documentation improvements:

- https://github.com/riatelab/osrm/issues/106
- https://github.com/riatelab/osrm/issues/114
- https://github.com/riatelab/osrm/issues/113

Error handling improvements (though, I don't think this is necessarily a show stopper):

- https://github.com/riatelab/osrm/issues/110
- https://github.com/riatelab/osrm/issues/112

Once th documentation improvements hav

[2022-10-13 14:09] EtienneCmb commented on #3842
Dear @meg-simula,

We don't have news from @madvn. I also tried to reach him by email without success. To summarize, he proposed [several modifications](https://github.com/openjournals/joss-reviews/issues/3842#issuecomment-980836301) and [we modified the manuscript accordingly](https://github.com/openjournals/joss-reviews/issues/3842#issuecomment-1181985736). How can we finalize the revisions?

Th

[2022-10-13 14:18] madvn commented on #3842
Hi everyone, so sorry about the delay. I'm in vacation this week and will
be back on Monday. I'll get to this Monday evening. Hope that's not too
late.

On Thu, Oct 13, 2022 at 10:09 AM Etienne Combrisson <
***@***.***> wrote:

[2022-10-13 14:22] Kevin-Mattheus-Moerman commented on #4564
@editorialbot recommend-accept

[2022-10-13 14:29] leotrs commented on #4846
@editorialbot generate my checklist

[2022-10-13 14:29] Theomat commented on #4151
Hi,

Thanks to all the reviewers and arfon for your work.
We have done as indicated in your message, here is the DOI of the archive:
https://doi.org/10.5281/zenodo.7194579

Théo

[2022-10-13 14:33] bmcfee commented on #4769
@editorialbot add @cwitkowitz as reviewer

[2022-10-13 14:46] EduPH commented on #4846
@editorialbot generate my checklist

[2022-10-13 14:51] leotrs commented on #4846
Hello @matteocao! The paper has three authors and I see that all three are contributors to the repository. However, there are two contributors that i) are not authors, and ii) have contributed more than one contributor who is an author (at least by GitHub's measures [here](https://github.com/giotto-ai/giotto-deep/graphs/contributors))

Could you please clarify how authorship was determined for you

[2022-10-13 14:54] Kevin-Mattheus-Moerman commented on #4564
@editorialbot accept

[2022-10-13 15:12] Kevin-Mattheus-Moerman commented on #4564
Congratulations @vferat et al. on this publication in JOSS! :partying_face:

A special thank you to @AJQuinn, @vahid-sb, @tuliofalmeida, and @anshu-97 for their review efforts! :tada:

[2022-10-13 15:23] matteocao commented on #4846
Dear @leotrs ,
Thank you for your question.
Of the two contributors (that are not authors) you mention, one has joined the efforts very recently and hence has not (yet) contributed to any design/core functionality of the library. The other one, on the other hand, after the initial contributions (1y ago) has completely gone silent and still today we are not able to reach him. This is why we did not