[2020-12-01 14:53] #2775 closed

[2020-12-01 14:53] whedon commented on #2876
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @schnorr it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2020-12-01 14:55] kakiac commented on #2876
@whedon generate pdf from branch JOSS

[2020-12-01 14:55] whedon commented on #2876
[code]

[2020-12-01 14:55] whedon commented on #2876
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02876/joss.02876/10.21105.joss.02876.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02876/joss.02876/10.21105.joss.02876.pdf) :page_facing_up: :point_left:

[2020-12-01 15:10] jorgensd commented on #2687
This is good to go from my side.

[2020-12-01 15:20] ysohn commented on #2708
Thank you! Hope all of you have great holidays and a happy new year.

[2020-12-01 15:20] flokno commented on #2671
@whedon check references from branch joss_release

[2020-12-01 15:20] whedon commented on #2671
[code]

[2020-12-01 15:23] whedon commented on #2671
[code]

[2020-12-01 15:24] flokno commented on #2671
@whedon generate pdf from branch joss_release

[2020-12-01 15:24] whedon commented on #2671
[code]

[2020-12-01 15:24] marvinjonathcn commented on #2782
I'm done with the review. The application is easy to understand and use, it will be very useful for the community.

[2020-12-01 15:24] whedon commented on #2671
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: :point_left:

[2020-12-01 15:44] flokno commented on #2671
@whedon check references

[2020-12-01 15:54] flokno commented on #2671
Hi @jgostick , I corrected the DOI and made a 1.0.2 release.

The new Zenodo DOI is

`10.5281/zenodo.4300415`

[2020-12-01 15:59] jgostick commented on #2671
@whedon set 10.5281/zenodo.4300415 as archive

[2020-12-01 15:59] whedon commented on #2671
OK. <a href="https://doi.org/10.5281/zenodo.4300415" target="_blank">10.5281/zenodo.4300415</a> is the archive.

[2020-12-01 15:59] jgostick commented on #2671
@whedon set v1.0.2 as version

[2020-12-01 15:59] whedon commented on #2671
OK. v1.0.2 is the version.

[2020-12-01 16:00] jgostick commented on #2671
@whedon check references

[2020-12-01 16:06] flokno commented on #2671
@whedon check references

[2020-12-01 16:10] whedon commented on #2671
[code]

[2020-12-01 16:14] evanoffPNNL commented on #2782
Thanks @marvinjonathcn ! In regards to your other issue, would putting some text and a link in the readme file/github page be sufficient?

[2020-12-01 16:37] marshallmcdonnell commented on #2767
Hello @jgostick and @Kokookster,
Sorry for the delay in response, I have been out for the past ~2 weeks and just seeing the conversation.
Yes, @Kokookster has been doing an excellent job addressing all issues I raised!
I have tried my best to monitor the merge requests and updating my checklist above.
I only have one more issue and the draft MR @Kokookster has already appears to address it.

So, y

[2020-12-01 16:52] agisga commented on #2653
@pdebuyl @lrnv My concerns with the paper have been addressed. I think the paper can be accepted in this form.

Here are just a few minor grammar-related suggestions for your consideration:
- "Copulas are distributions functions" ~~~> "Copulas are **distribution** functions".
- "Although the estimation of copulas is a wide-treated subject" ~~> maybe better to say "widely-treated".
- "The Copula re

[2020-12-01 16:53] poulson commented on #2444
@whedon check references

[2020-12-01 16:58] whedon commented on #2444
[code]

[2020-12-01 17:08] poulson commented on #2444
Hi @berenger-eu (:wave:)  :

In addition to fixing the above two missing DOIs flagged by whedon, I recommend the following minor grammatical improvements to the article:

"In addition, the algorithm also requires that the kernel to approximate far interaction exists as providing an approximation kernel for a physical equation can be challenging" =>
"The algorithm also requires that the kernel to a

[2020-12-01 17:15] majensen commented on #1942
Holiday has delayed me - hope to get to this this week. Thanks all

[2020-12-01 17:24] arfon commented on #2167
@whedon reject

@bmcfee, @justinsalamon, @mbobra - thanks for all of your efforts here. Sorry it didn't work out @SuperKogito but as @mbobra said, we'd welcome a resubmission in the future here.

[2020-12-01 17:24] whedon commented on #2167
Paper rejected.

[2020-12-01 17:24] #2167 closed

[2020-12-01 17:27] MelvinSMunsaka commented on #2706
@csoneson Yes, I just provided my responses.

[2020-12-01 17:34] prw99r commented on #2646
@danielskatz I have checked off my list now - my comments were for the paper more than the repo, so we are good to go.

[2020-12-01 17:41] lrnv commented on #2653
@whedon generate pdf

[2020-12-01 17:41] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-12-01 17:44] lrnv commented on #2653
The DOI is as follows : [![DOI](https://zenodo.org/badge/247063359.svg)](https://zenodo.org/badge/latestdoi/247063359)

Is it OK ?

[2020-12-01 17:50] pibion commented on #2484
@cmbiwer , @colbrydi just pinging again to see if you've still got time in your schedules for continuing this review.

If you know you're going to be out for a while, I can set a reminder with whedon.  I can also find additional reviewers if you're not sure when you'll have time.  We realize this is a busy time of an already-busy year, so please don't feel pressured.

[2020-12-01 18:01] pibion commented on #2764
@andrewpaulreeves, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html.

[2020-12-01 18:03] pibion commented on #2764
@mfeldt I'm working on finding a third reviewer to see if we can make progress on this in December/January.  Once two reviewers have signed off we can release.

[2020-12-01 18:07] csoneson commented on #2706
Thanks @MelvinSMunsaka! It seems that you agreed with @rcarragh's changes and that the issues created in response to your comments have been closed, and all the boxes in the checklist are checked. Just to make sure I'm not missing anything, could you just confirm whether you are happy with the state of the submission now, or whether there are things that you would still like to see addressed befor

[2020-12-01 18:13] pibion commented on #2694
@sigven if you'd like to follow @jspaezp's style, you can open an issue over at https://github.com/wesleyburr/subMaldi and copy and paste the checklist into the message for your issue.

If you mention this issue (https://github.com/openjournals/joss-reviews/issues/2694) in your issue over at https://github.com/wesleyburr/subMaldi then it'll show up in our timeline over here.  This is what @jspaezp

[2020-12-01 18:50] MelvinSMunsaka commented on #2706
@csoneson I am confirming that I am happy with the state of the submission now. @rcarragh addressed all my comments. Unless there are comments from other reviewers, I would accept the submission.

[2020-12-01 18:52] danielskatz commented on #2646
Ok!  Thanks very much to everyone (@jpsety, @skadio, @prw99r, @r-a-hoggarth) for working through this process.  I think it's improved the software, and led to a good JOSS paper.

[2020-12-01 18:54] danielskatz commented on #2646
👋 @jpsety - At this point could you:
- [ ] Proofread the paper, and make sure you are happy with it (which I will also do after this part of the process)
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit

[2020-12-01 19:08] csoneson commented on #2706
Perfect, thank you!

I have not been able to reach @emilydolson (here or via email), but given the careful reviews from @rrrlw and @MelvinSMunsaka I am happy to move on with that. @rcarragh - I will take a quick look through the submission as well and get back to you shortly.

[2020-12-01 19:12] kakiac commented on #2708
@whedon remind @ysohn in six weeks

[2020-12-01 19:12] whedon commented on #2708
Reminder set for @ysohn in six weeks

[2020-12-01 19:20] ekaterinailin commented on #2845
Hi @afeinstein20 ! Thanks a ton for the detailed review, these are all very helpful comments, and I am looking forward to addressing them to improve the software. I have a few busy weeks ahead of me, but I hope to get my hands on the code before the end of this year.

[2020-12-01 19:53] arcuri82 commented on #2153
Hi,
* I made a new release [1.1.0](https://github.com/EMResearch/EvoMaster/releases/tag/v1.1.0)
* I created a new entry on Zenodo, [4300745](https://zenodo.org/record/4300745). However, that is the first time I use Zenodo, so not sure if I did it correctly

[2020-12-01 20:26] flokno commented on #2671
looks like we're getting somewhere?

[2020-12-01 20:35] pdebuyl commented on #2653
Thank you @agisga !

@lrnv the zenodo entry has the tag 3.2.1 and states "Version 3.2.1". Was there an unintended change of the version definition?

[2020-12-01 20:45] jgostick commented on #2671
@whedon accept

[2020-12-01 20:45] whedon commented on #2671
[code]

[2020-12-01 20:46] whedon commented on #2671
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1948

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1948, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-01 20:47] whedon commented on #2671
[code]

[2020-12-01 21:20] flokno commented on #2671
@jgostick this looks good to me, although I cannot make a qualified statement about the xml file.

[2020-12-01 23:04] kyleniemeyer commented on #2814
@yoelcortes thanks- though could you edit the metadata so that your full name is listed as the author? There's no need for a new archive, you can edit the metadata of that one.

[2020-12-01 23:05] kyleniemeyer commented on #2814
@whedon set 10.5281/zenodo.4294315 as archive

[2020-12-01 23:05] whedon commented on #2814
OK. <a href="https://doi.org/10.5281/zenodo.4294315" target="_blank">10.5281/zenodo.4294315</a> is the archive.

[2020-12-01 23:06] kyleniemeyer commented on #2814
@whedon accept

[2020-12-01 23:06] whedon commented on #2814
[code]

[2020-12-01 23:07] vlandau commented on #2829
@juliohm @tpoisot [here]() is the latest iteration of the example. @juliohm, I ended up needing to add the plots as figures (saved in the docs directory before hand) because I was running into various issues when trying to plot them dynamically (figures being too small, Documenter hanging at the plot steps, etc). Hopefully this is getting closer! :slightly_smiling_face:

[2020-12-01 23:09] whedon commented on #2814
[code]

[2020-12-01 23:09] whedon commented on #2814
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1949

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1949, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-01 23:25] yoelcortes commented on #2814
@kyleniemeyer, thanks for checking. It's fixed!

[2020-12-02 00:25] kyleniemeyer commented on #2814
@whedon accept deposit=true

[2020-12-02 00:25] whedon commented on #2814
[code]

[2020-12-02 00:27] whedon commented on #2814
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1333930708159639552) 👈 🐦🐦🐦

[2020-12-02 00:27] whedon commented on #2814
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1950
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02814](https://doi.org/10.21105/joss.02814)
2. If everything looks g

[2020-12-02 00:32] kyleniemeyer commented on #2814
Congrats @yoelcortes on your article's publication in JOSS!

Many thanks to @decaluwe and @fwitte for reviewing this.

[2020-12-02 00:32] #2814 closed

[2020-12-02 00:32] whedon commented on #2814
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02814/status.svg)](https://doi.org/10.21105/joss.02814)

**We need your help!**

Journal of Open Source Softwa

[2020-12-02 03:15] j-andrews7 commented on #2864
In general, this is a really nifty tool, and I expect it will get a solid amount of play for its simplicity, ease of use, and straight-forward output - really an ideal fit for JOSS. **parent-map** is well-documented - the input and output formats are easy to understand and thoroughly explained on the associated [readthedocs](https://parent-map.readthedocs.io/en/latest/index.html) site, as are all

[2020-12-02 03:59] ramisetti commented on #2682
@meg-simula, Yes I am available to review this paper for JOSS

[2020-12-02 06:53] sjpfenninger commented on #2765
@whedon generate pdf

[2020-12-02 06:53] whedon commented on #2765
PDF failed to compile for issue #2765 with the following error:

 Can't find any papers to compile :-(

[2020-12-02 06:54] sjpfenninger commented on #2765
@whedon generate pdf from branch joss

[2020-12-02 06:54] whedon commented on #2765
[code]

[2020-12-02 06:55] whedon commented on #2765
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02765/joss.02765/10.21105.joss.02765.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02765/joss.02765/10.21105.joss.02765.pdf) :page_facing_up: :point_left:

[2020-12-02 07:40] lrnv commented on #2653
@pdebuyl Yes, there was. I wanted the 0.3.2 version :) I'm trying to fix that right now.

[2020-12-02 07:51] GustaveCoste commented on #2765
Thank you @romainsacchi and @konstantinstadler for your very useful remarks. Eldam is probably more professional grade now.

[2020-12-02 07:59] sjpfenninger commented on #2765
@GustaveCoste I'm emailing you suggested edits to the paper (it sounds like it might take a while for account activation on framagit). One question regarding CI: I see there is a CI configuration in the repository, but do you actually run any CI? And if so where are the results? Could be nice to have a badge that shows that in the README.

[2020-12-02 08:06] csoneson commented on #2864
Thanks a lot @j-andrews7 for this thorough review!

[2020-12-02 08:26] damienmarsic commented on #2864
Indeed, thanks for this very efficient review and all your advice and suggestions to improve my submission. I really appreciate.

[2020-12-02 08:30] whedon commented on #2862
:wave: @albertonogueira, please update us on how your review is going.

[2020-12-02 08:30] whedon commented on #2862
:wave: @jdmoorman, please update us on how your review is going.

[2020-12-02 09:11] khinsen commented on #2863
Question to @dmey, @tnagler, @letmaik: I am investigating authorship as required by JOSS reviewing guidelines. There is no doubt that @dmey is the main contributor to this project. Of the two other contributors, whose contributions look roughly equal in importance from the "size of commits" point of view, @tnagler is a co-author whereas @letmaik is merely acknowledged for "comments and contributio

[2020-12-02 09:21] letmaik commented on #2863
@khinsen That's fine, we discussed this offline in advance, no problem there.

[2020-12-02 09:21] dmey commented on #2863
@khinsen it's good that you picked this up as it may appear a bit confusing -- all commits during development were squashed therefore the current metadata is not very indicative of the amount of work and contributions made during development. @tnagler made substantial contributions in the conceptual and practical development of the tool. @letmaik gave us suggestions and made contributions to the p

[2020-12-02 09:44] BKillen05 commented on #2740
HI Kevin, Sorry for the radio silence I was finalising a fellowship application and let most of my mails lapse.  I am in the same boat as Luca at this point where I can likely find more time in January CheersBryce  Bryce A Killen, BExSc Hons PhDPostdoctoral Research FellowHuman Movement Biomechanics Research GroupKU Leuven, Leuven, BelgiumTwitter: @bryce_killen From: Kevin Mattheus MoermanSent: di

[2020-12-02 09:49] tristan-salles commented on #2804
Thanks @johnjarmitage. Following your comments I have updated the technical guidelines. If you are happy with the changes I will close the open issue on GitHub (@kbarnhart).

[2020-12-02 09:52] chorscroft commented on #2638
@lpantano I have now updated the doi in the paper, sorry about that! I have also archived the software v0.2.0 on Zenodo  and the doi for this is: 10.5281/zenodo.4301636

Please let me know if you need me to do anything else, thanks for your time so far!

[2020-12-02 10:34] GANys commented on #2866
Just a question about the following point :

_Performance: If there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.)_

Authors claim that "A simple model can be created even using a laptop with less RAM and slower CPU.". My tests confirm the statement but does it correspond to the performance check box requirements? Or shou

[2020-12-02 10:43] whedon commented on #2863
:wave: @khinsen, please update us on how your review is going.

[2020-12-02 10:43] whedon commented on #2863
:wave: @mnarayan, please update us on how your review is going.

[2020-12-02 12:30] kakiac commented on #2876
👋 @agisga @billchenxi @MohmedSoudy @paragkulkarni11 would any of you be available to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-12-02 12:55] berenger-eu commented on #2444
@whedon check references

[2020-12-02 12:59] whedon commented on #2444
[code]

[2020-12-02 13:05] whedon commented on #2864
:wave: @xie186, please update us on how your review is going.

[2020-12-02 13:05] whedon commented on #2864
:wave: @j-andrews7, please update us on how your review is going.

[2020-12-02 13:06] berenger-eu commented on #2444
@whedon generate pdf

[2020-12-02 13:08] whedon commented on #2444
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02444/joss.02444/10.21105.joss.02444.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02444/joss.02444/10.21105.joss.02444.pdf) :page_facing_up: :point_left:

[2020-12-02 13:13] berenger-eu commented on #2444
Dear @poulson

Thanks a lot for the comments!
I updated the paper accordingly.

[2020-12-02 13:16] csoneson commented on #2864
@j-andrews7 - feel free to ignore Whedon's nudge above :)

@xie186 - just wanted to check in to make sure that you have everything you need for your review, and whether you have any questions (on the process or otherwise).

[2020-12-02 13:22] pdebuyl commented on #2653
@whedon set 10.5281/zenodo.4301435 as archive

[2020-12-02 13:23] whedon commented on #2653
OK. <a href="https://doi.org/10.5281/zenodo.4301435" target="_blank">10.5281/zenodo.4301435</a> is the archive.

[2020-12-02 13:24] MohmedSoudy commented on #2876
Am ready to review.

On Wed, Dec 2, 2020 at 2:30 PM kakiac <notifications@github.com> wrote:

--
*Regards,*
*Mohmed Soudy Mohmed*

*Research Associate*

*Proteomics & Metabolomics Unit*
*Basic Research*
*57357 Cancer hospital for children*

[2020-12-02 13:25] AlexMikes commented on #2362
Thanks, @gkthiruvathukal.

I checked again and the proceedings were just published for 2/3 of the papers without DOIs. I removed the third that still doesn't have one (the conference is this week).

I got sphinx-autoapi to make some API documentation, I will work on getting some more info on the hosted documentation index.

[2020-12-02 13:25] pdebuyl commented on #2653
I take the second archive. The doi points to the specific release, so there is no technical problem here. You can go to the "release" github page and trigger the publishing mechanism for tags that have not been released.

[2020-12-02 13:27] csoneson commented on #2706
@whedon remove @emilydolson as reviewer

[2020-12-02 13:27] whedon commented on #2706
OK, @emilydolson is no longer a reviewer

[2020-12-02 13:27] csoneson commented on #2706
@whedon check references

[2020-12-02 13:31] whedon commented on #2706
[code]

[2020-12-02 13:32] csoneson commented on #2706
@whedon generate pdf

[2020-12-02 13:33] johnjarmitage commented on #2804
@tristan-salles I closed the issue, as I thought the technical note was good enough. While I am here, I wonder if the JOSS article should mention the divergence between gospl, pyBadlands (or just Badlands) and eSCAPE. I think all of these codes use a similar approach, therefore why do we need gospl? What differentiates it from the others? Is it a simplified Badlands (no carbonates etc)?  Does eSCA

[2020-12-02 13:33] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-12-02 14:30] poulson commented on #2444
Thank you, @berenger-eu! Would you mind creating a DOI on Zenodo and sharing it here?

[2020-12-02 14:52] jgostick commented on #2671
An editor-in-chief is notified by whedon and will drop in here shortly to make the final approval.

[2020-12-02 14:56] jgostick commented on #2767
It seems that @arose has disappeared. I have emailed him but no reply.  I am sorry for the delay.  I will see about another reviewer.  I am unable to review this myself.

[2020-12-02 14:57] kbarnhart commented on #2804
@whedon re-invite @cmshobe as reviewer

[2020-12-02 14:57] whedon commented on #2804
OK, the reviewer has been re-invited.

@cmshobe please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-02 15:11] csoneson commented on #2706
👋 @rcarragh - I've made a PR [here](https://github.com/rcarragh/c212/pull/10) with a couple of small fixes to the bibliography, could you please check and merge?

[2020-12-02 15:13] csoneson commented on #2706
The next steps will then be:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check that the Zenodo archive has the correct metadata: the title and author list should match those of the paper; you may also add the authors' ORCID.
- [ ] List the Zenodo DOI of the archived version here.

[2020-12-02 15:35] GustaveCoste commented on #2765
@sjpfenninger Good idea, I just added the badge.

[2020-12-02 15:42] rcarragh commented on #2706
@csoneson I've checked and merged the changes, thanks.

[2020-12-02 15:44] csoneson commented on #2706
@whedon generate pdf

[2020-12-02 15:45] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-12-02 15:48] csoneson commented on #2706
@whedon check references

[2020-12-02 15:49] mattansb commented on #2815
Is there anything more I can do / I've missed?
Thanks!

(Also, @trashbirdecology I think you accidently marked all of @jkarreth's checklist?)

[2020-12-02 15:50] GustaveCoste commented on #2765
@whedon generate pdf from branch joss

[2020-12-02 15:50] whedon commented on #2765
[code]

[2020-12-02 15:50] whedon commented on #2765
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02765/joss.02765/10.21105.joss.02765.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02765/joss.02765/10.21105.joss.02765.pdf) :page_facing_up: :point_left:

[2020-12-02 15:51] whedon commented on #2706
[code]

[2020-12-02 15:57] benjaminrose commented on #2860
@xuanxu, yes, I can review this project. I am currently reviewing another JOSS paper, so I can't get to this one for about a week.

I wanted to note that the repo was started by Chris Walker (a co-worker of mine) but it appears that he was only the author of this initial commit and not apart of the project. If I am mistaken, @JostMigenda, can you correct me?

[2020-12-02 16:09] lrnv commented on #2653
Is it Ok like that ?

[2020-12-02 16:17] benjaminrose commented on #2446
@whedon generate pdf

[2020-12-02 16:17] whedon commented on #2446
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02446/joss.02446/10.21105.joss.02446.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02446/joss.02446/10.21105.joss.02446.pdf) :page_facing_up: :point_left:

[2020-12-02 16:25] kdorheim commented on #2856
@mikldk I am excited to review this project but and am also heading into a busy time of the year. I hate to be a bother but I would like the opportunity to start working on the review as soon as possible, could you please open the REVIEW issue so that I may be able to start working on the checklist/tagging issues. I'd really appreciate it, many thanks.

[2020-12-02 16:34] whedon commented on #2859
Here are some things you can ask me to do:

[code]

[2020-12-02 16:34] rtelmore commented on #2859
@whedon generate pdf

[2020-12-02 16:34] whedon commented on #2859
PDF failed to compile for issue #2859 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon.rb:204:in `block in parse_authors': Author (Ryan Elmore) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448

[2020-12-02 16:37] crvernon commented on #2782
@kthyng ... @evanoffPNNL and I have addressed all reviewer comments and all changes are currently represented in the new release v1.1.5 (GitHub: https://github.com/JGCRI/hectorui/releases/tag/v1.1.5 ; Zenodo:  https://zenodo.org/record/4302333#.X8fCSKpKhUM).  Please let us know if further information is needed.

We have found this review to be very helpful and it has strengthened this package!  Th

[2020-12-02 16:38] xuanxu commented on #2860
@benjaminrose great, thanks!

No problem!

He's not in the [paper](https://github.com/openjournals/joss-papers/blob/joss.02860/joss.02860/10.21105.joss.02860.pdf)'s authors list and can't be found as [contributor to the code](https://github.com/openjournals/joss-reviews/issues/2860#issuecomment-732756040), so currently I don't see any COI.
Anyway, let's wait for confirmation of his (not) involveme

[2020-12-02 16:48] rtelmore commented on #2859
@whedon check references

[2020-12-02 16:49] whedon commented on #2859
[code]

[2020-12-02 16:51] rtelmore commented on #2859
@whedon generate pdf

[2020-12-02 16:52] whedon commented on #2859
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02859/joss.02859/10.21105.joss.02859.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02859/joss.02859/10.21105.joss.02859.pdf) :page_facing_up: :point_left:

[2020-12-02 16:57] rtelmore commented on #2859
👋 @arfon Thanks for the message and sorry I didn't check this page for updates. I believe that I fixed all of the issues. I realize that this isn't an extensive code base (e.g., > 1000 lines of code), but I really do believe that it will advance the field of analytics (decision making) within the professional football world. I appreciate your time and your work on JOSS!

BTW, the original paper co

[2020-12-02 17:16] JostMigenda commented on #2860
I confirm that Chris Walter was not involved.

(The reason he appears in the commit history is because we originally started out with [a pre-existing script from a different repo](https://github.com/WCSim/WCSim/commits/develop/sample-root-scripts/MakeKin.py), so I included the git history of that file. Chris just happened to start that different repo; as far as I can reconstruct, his [commit in sn

[2020-12-02 17:25] benjaminrose commented on #2860
Sounds great. That is what I was seeing as well.

[2020-12-02 17:29] xuanxu commented on #2860
@whedon add @benjaminrose as reviewer

[2020-12-02 17:29] whedon commented on #2860
OK, @benjaminrose is now a reviewer

[2020-12-02 17:30] xuanxu commented on #2860
@whedon start review

[2020-12-02 17:30] whedon opened #2877 "[REVIEW]: sntools: Event generator for supernova burst neutrinos"
**Submitting author:** @JostMigenda (<a href="http://orcid.org/0000-0002-5350-8049">Jost Migenda</a>)
**Repository:** <a href="https://github.com/JostMigenda/sntools/" target ="_blank">https://github.com/JostMigenda/sntools/</a>
**Version:** v0.7.3
**Editor:** @xuanxu
**Reviewer:** @bradkav, @benjaminrose
**Archive:** <a href="https://doi.org/10.5281/zenodo.4688040" target="_blank">10.5281/zenodo.

[2020-12-02 17:30] whedon commented on #2860
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2877.

[2020-12-02 17:30] #2860 closed

[2020-12-02 17:30] whedon commented on #2877
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bradkav, @benjaminrose it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-12-02 17:30] whedon commented on #2877
PDF failed to compile for issue #2877 with the following error:

 Can't find any papers to compile :-(

[2020-12-02 17:32] JostMigenda commented on #2877
@whedon generate pdf from branch joss-paper

[2020-12-02 17:32] whedon commented on #2877
[code]

[2020-12-02 17:33] whedon commented on #2877
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02877/joss.02877/10.21105.joss.02877.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02877/joss.02877/10.21105.joss.02877.pdf) :page_facing_up: :point_left:

[2020-12-02 17:38] khinsen commented on #2863
Thanks @dmey and @letmaik! I realize that GitHub statistics share the problem of bibliometry in being superficial.

[2020-12-02 17:38] khinsen commented on #2863
@whedon Going fine, thanks for asking!

[2020-12-02 17:38] whedon commented on #2863
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-02 17:40] khinsen commented on #2863
OK, I am being mean in talking like that to a bot, but I really don't know what I am expected to do in reply to the request for "updating us"!

[2020-12-02 18:19] kyleniemeyer commented on #2671
Hi @flokno, I'm the EIC on duty this week, doing some final checks of your submission. In the paper, I noticed a few references missing DOIs: Giannozzi 2009, Kresse 1996. Could you check on that, and update the paper if so? There's no need to archive the repository again after that, since JOSS archives the paper (only changes to the software would require that).

[2020-12-02 18:27] kyleniemeyer commented on #2379
Hello @MAnalytics, I am the editor-in-chief on duty this week, doing some final checks of your submission.

One of the [required elements of JOSS papers](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) is an explicit Statement of Need section. I think you could just rename your Summary to Statement of Need. Once you've made that change, I can publish the article

[2020-12-02 18:40] flokno commented on #2671
@whedon check references

[2020-12-02 18:41] whedon commented on #2671
[code]

[2020-12-02 18:45] flokno commented on #2671
Hi @kyleniemeyer thanks for pointing this out, seems I was relying on whedon too much.

I added the two dois and apparently this worked, no complaints from our robo friend.

[2020-12-02 18:46] benjaminrose commented on #2446
The following is a much better statement of need and summary of the field than what is in the paper (and I assume the documentation). These ideas need to be added to the paper and also ensure they are in the documentation.

In addition, the content currently in the paper is about twice as long as required and should be tightened up. For example, "The Code" section is not required for the paper sin

[2020-12-02 18:59] kyleniemeyer commented on #2671
@whedon accept

[2020-12-02 18:59] whedon commented on #2671
[code]

[2020-12-02 19:00] whedon commented on #2671
[code]

[2020-12-02 19:00] whedon commented on #2671
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1951

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1951, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-02 19:01] kyleniemeyer commented on #2693
Congrats @hemanthpruthvi on your article's publication in JOSS!

Many thanks to @aquilesC, @caldarolamartin, and @mwcraig for reviewing this, and @pibion for editing.

[2020-12-02 19:01] #2693 closed

[2020-12-02 19:01] whedon commented on #2693
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02693/status.svg)](https://doi.org/10.21105/joss.02693)

**We need your help!**

Journal of Open Source Softwa

[2020-12-02 19:01] kyleniemeyer commented on #2671
@whedon accept deposit=true

[2020-12-02 19:02] whedon commented on #2671
[code]

[2020-12-02 19:03] whedon commented on #2671
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1334211539600027651) 👈 🐦🐦🐦

[2020-12-02 19:03] whedon commented on #2671
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1952
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02671](https://doi.org/10.21105/joss.02671)
2. If everything looks g

[2020-12-02 19:05] kyleniemeyer commented on #2671
Congrats @flokno on your article's publication in JOSS!

Many thanks to @keipertk and @ajjackson for reviewing this, and  @jgostick for editing.

[2020-12-02 19:05] #2671 closed

[2020-12-02 19:05] whedon commented on #2671
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02671/status.svg)](https://doi.org/10.21105/joss.02671)

**We need your help!**

Journal of Open Source Softwa

[2020-12-02 19:09] flokno commented on #2671
Thank you very much @ajjackson , @keipertk , @jgostick , @kyleniemeyer , and @whedon !

[2020-12-02 19:15] MAnalytics commented on #2379
@kyleniemeyer Statement of Need section now added. Thanks.

[2020-12-02 19:44] galessiorob commented on #2676
@nedRad88 is `Version v0.1` the last version?

[2020-12-02 19:45] galessiorob commented on #2676
@whedon check references

[2020-12-02 19:48] nedRad88 commented on #2676
@galessiorob Yes, that is the last version.

[2020-12-02 19:49] galessiorob commented on #2676
@whedon set v0.1 as version

[2020-12-02 19:49] whedon commented on #2676
OK. v0.1 is the version.

[2020-12-02 19:50] galessiorob commented on #2676
@whedon check references

[2020-12-02 19:51] galessiorob commented on #2676
@whedon generate pdf

[2020-12-02 19:52] whedon commented on #2676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: :point_left:

[2020-12-02 19:52] whedon commented on #2676
[code]

[2020-12-02 19:55] galessiorob commented on #2676
@whedon set 10.5281/zenodo.4299807 as archive

[2020-12-02 19:55] whedon commented on #2676
OK. <a href="https://doi.org/10.5281/zenodo.4299807" target="_blank">10.5281/zenodo.4299807</a> is the archive.

[2020-12-02 19:55] galessiorob commented on #2676
@whedon generate pdf

[2020-12-02 19:56] whedon commented on #2676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: :point_left:

[2020-12-02 19:57] galessiorob commented on #2676
@nedRad88 could you proofread this final version, please? 🙏

[2020-12-02 20:11] berenger-eu commented on #2444
Yes, here it is https://doi.org/10.5281/zenodo.4302384

[2020-12-02 21:08] nedRad88 commented on #2676
@galessiorob I did. I made couple of minor changes.

[2020-12-02 21:11] pdebuyl commented on #2653
@lrnv it is ok. I will proceed to the acceptance work (JOSS is well documented: https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance ), which should be done by tomorrow.

[2020-12-02 21:11] pdebuyl commented on #2653
@whedon check references

[2020-12-02 21:19] kyleniemeyer commented on #2379
@whedon accept

[2020-12-02 21:19] whedon commented on #2379
[code]

[2020-12-02 21:20] whedon commented on #2379
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1953

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1953, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-02 21:30] kyleniemeyer commented on #2379
@MAnalytics ok, the JOSS publication is ready to go. What is the status of the associated AAS article at this point?

[2020-12-02 21:43] poulson commented on #2444
@whedon set 10.5281/zenodo.4302384 as archive

[2020-12-02 21:43] whedon commented on #2444
OK. <a href="https://doi.org/10.5281/zenodo.4302384" target="_blank">10.5281/zenodo.4302384</a> is the archive.

[2020-12-02 21:44] poulson commented on #2444
@whedon accept

[2020-12-02 21:44] whedon commented on #2444
[code]

[2020-12-02 21:45] whedon commented on #2444
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1954

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1954, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-02 21:49] pdebuyl commented on #2653
@whedon check references

[2020-12-02 22:01] MAnalytics commented on #2379
@whedon generate pdf

[2020-12-02 22:02] whedon commented on #2379
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: :point_left:

[2020-12-02 22:02] MAnalytics commented on #2379
@whedon generate pdf

[2020-12-02 22:03] whedon commented on #2379
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: :point_left:

[2020-12-02 22:04] MAnalytics commented on #2379
@whedon generate pdf

[2020-12-02 22:05] whedon commented on #2379
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: :point_left:

[2020-12-02 22:09] MAnalytics commented on #2379
@whedon generate pdf

[2020-12-02 22:10] whedon commented on #2379
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02379/joss.02379/10.21105.joss.02379.pdf) :page_facing_up: :point_left:

[2020-12-02 22:13] MAnalytics commented on #2379
@kyleniemeyer Sorry, there isn't any associated AAS article. I mistakenly included the "aas-journal of open source software" line in the .md file header. This has now been corrected. Thanks.

[2020-12-02 22:20] tristan-salles commented on #2804
I have updated the paper accordingly, adding a new paragraph in the *Statement of need* section about the differences with these packages.

[2020-12-02 23:24] hmacdope commented on #2824
Hey @symmy596. Functionality and usage examples look good to me. One minor thing is that the DLMONTE trajectory at the end of Tutorial 4 (MSD) gives an error (for the right reason which is that MC trajectories can't be used to calculate MSDs). I'm not sure if this was intentional? If it is no worries.

Other than that the only other queries I had have been raised in my previous comment.

[2020-12-02 23:28] milicag commented on #2695
@sjpfenninger I moved the parts of the paper, as you suggested, into the documentation. More specifically, the portions of the statement of need now are hosted [here](https://lbnl-eta.github.io/MSWH/source/models.html#future-applications-statement-of-need), while the parts related to the approach and methodology can be found [here](https://lbnl-eta.github.io/MSWH/source/models.html#approach-to-com

[2020-12-02 23:40] milicag commented on #2695
@whedon check references

[2020-12-02 23:41] whedon commented on #2695
[code]

[2020-12-02 23:44] milicag commented on #2695
@whedon check references

[2020-12-02 23:45] whedon commented on #2695
[code]

[2020-12-03 00:15] jpsety commented on #2646
I've proofread the paper and followed the above instructions.

Tagged release:
https://github.com/circuitgraph/circuitgraph/releases/tag/v0.0.3

DOI:
10.5281/zenodo.4302741

[2020-12-03 00:54] albertonogueira commented on #2822
@Joao-L-S-Almeida and @albertonogueira are testing PySPOD in NASA's GMAO dataset to check the library capabilities. We started filling in the checklist review.

[2020-12-03 06:16] arokem commented on #2827
@JonathanReardon : have you had a chance to take a look?

[2020-12-03 07:32] mikldk commented on #2856
@whedon start review

[2020-12-03 07:32] whedon opened #2878 "[REVIEW]: Isoreader: An R package to read stable isotope data files for reproducible research"
**Submitting author:** @sebkopf (<a href="http://orcid.org/0000-0002-2044-0201">Sebastian Kopf</a>)
**Repository:** <a href="https://github.com/isoverse/isoreader" target ="_blank">https://github.com/isoverse/isoreader</a>
**Version:** v1.3.0
**Editor:** @mikldk
**Reviewers:** @kdorheim, @r-barnes
**Archive:** <a href="https://doi.org/10.5281/zenodo.4724083" target="_blank">10.5281/zenodo.4724083<

[2020-12-03 07:32] whedon commented on #2856
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2878.

[2020-12-03 07:32] #2856 closed

[2020-12-03 07:32] whedon commented on #2878
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kdorheim it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-12-03 07:32] whedon commented on #2878
[code]

[2020-12-03 07:33] mikldk commented on #2856
Normally we try to not start review until we have found both reviewers, but in this case I'll make an exception because it is taking some time to find a second reviewer :).

[2020-12-03 07:33] whedon commented on #2878
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02878/joss.02878/10.21105.joss.02878.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02878/joss.02878/10.21105.joss.02878.pdf) :page_facing_up: :point_left:

[2020-12-03 07:33] mikldk commented on #2878
@kdorheim: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review thread.

I

[2020-12-03 07:38] mikldk commented on #2815
Sorry for the delay, @mattansb.

@trashbirdecology, @jkarreth: Can you please give me a status on your reviews? (And also check if @mattansb's suspicion about the checklists is correct or not.)

[2020-12-03 07:48] MaierOli2010 commented on #2727
@Kevin-Mattheus-Moerman Are there any blockers left which should be addressed?

[2020-12-03 07:56] sjpfenninger commented on #2695
@whedon generate pdf

[2020-12-03 07:57] whedon commented on #2695
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02695/joss.02695/10.21105.joss.02695.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02695/joss.02695/10.21105.joss.02695.pdf) :page_facing_up: :point_left:

[2020-12-03 08:10] sjpfenninger commented on #2765
@GustaveCoste One extra thing - I noticed that you distribute two DLL files with the package, what is the reason for that?

[2020-12-03 08:19] sjpfenninger commented on #2695
@milicag I made some minor suggestions for edits in https://github.com/LBNL-ETA/MSWH/pull/39. One additional minor point: you refer to a "12-core processor" and run time on that system, can you specify what type of processor to make this a more useful benchmark?

[2020-12-03 08:21] whedon commented on #2866
:wave: @chenkianwee, please update us on how your review is going.

[2020-12-03 08:21] whedon commented on #2866
:wave: @GANys, please update us on how your review is going.

[2020-12-03 08:48] GustaveCoste commented on #2765
It is a workaround of a "compilation" issue of `cx_freeze` (which makes a standalone executable of the python package).

[2020-12-03 08:50] sjpfenninger commented on #2765
@GustaveCoste Ok, I guess that's unavoidable then. We're almost ready to accept this. Can you make a tagged release on GitHub and archive that release, for example on Zenodo or figshare, then report the version number and archive DOI back here in the review issue?

[2020-12-03 08:56] lscalfi commented on #2824
Hi @symmy596,
This is a useful package for doing analysis on MD or MC trajectories, the documentation is particularly detailed and I find the plotting functions especially aesthetic! Here are some points you may want to improve.

- I managed installing Polypy without problems although the required package section of the README should be updated with the list in `requirements.txt`. It could maybe b

[2020-12-03 09:01] GustaveCoste commented on #2765
I planned to make an archive on [data.inrae.fr](https://data.inrae.fr/), the archive service of my institution. Would-it be enough? This is the DOI it will have once published: [10.15454/UPDPDT](https://doi.org/10.15454/UPDPDT).

And is it OK if I make a release on the project repository (hosted on framagit.org) instead of Github? The only drawback I see is that I don't think I could create an aut

[2020-12-03 09:28] pdebuyl commented on #2653
@whedon check references

[2020-12-03 09:32] kakiac commented on #2876
Thank you @MohmedSoudy - I will now assign you as a reviewer 😃

[2020-12-03 09:32] kakiac commented on #2876
@whedon add @MohmedSoudy as reviewer

[2020-12-03 09:32] whedon commented on #2876
OK, @MohmedSoudy is now a reviewer

[2020-12-03 09:38] berenger-eu commented on #2444
I had a quick look, seems OK.

[2020-12-03 09:59] hmacdope commented on #2824
@symmy596 I will also add to @lscalfi's comment on the MSD. The MSD is normally defined as an ensemble average over all possible lag times. Do you average over all possible lag times and is this related to the `sweeps` parameter? Just for clarification. 👍

[2020-12-03 10:00] pdebuyl commented on #2653
@whedon generate pdf

[2020-12-03 10:01] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-12-03 10:03] kakiac commented on #2876
👋  Dear Lucas (@schnorr) and Mohmed (@MohmedSoudy),

Many thanks for kindly agreeing to review Vasilis' (@VNNikolaidis) submission for the Journal of Open Source Software (JOSS), we’re delighted to have your help. 🥳

This is the review thread for the paper. All of our communications will happen here from now on.

There are two checklists at the top of this issue for the reviewers, please use these

[2020-12-03 10:04] kakiac commented on #2876
@whedon check references

[2020-12-03 10:05] pdebuyl commented on #2653
@whedon commands

[2020-12-03 10:05] whedon commented on #2653
Here are some things you can ask me to do:

[code]

[2020-12-03 10:06] pdebuyl commented on #2653
@whedon check references

[2020-12-03 10:06] kakiac commented on #2876
@whedon re-invite @schnorr as reviewer

[2020-12-03 10:06] whedon commented on #2876
The reviewer already has a pending invite.

@schnorr please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-03 10:07] kakiac commented on #2876
@whedon check references

[2020-12-03 10:08] kakiac commented on #2876
@whedon check repository

[2020-12-03 10:08] whedon commented on #2876
[code]

[2020-12-03 10:09] whedon commented on #2653
[code]

[2020-12-03 10:09] kakiac commented on #2876
@whedon generate pdf from branch JOSS

[2020-12-03 10:09] whedon commented on #2876
[code]

[2020-12-03 10:10] whedon commented on #2876
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02876/joss.02876/10.21105.joss.02876.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02876/joss.02876/10.21105.joss.02876.pdf) :page_facing_up: :point_left:

[2020-12-03 10:10] kakiac commented on #2876
@whedon check references

[2020-12-03 10:32] lrnv commented on #2653
@whedon generate pdf

[2020-12-03 10:32] lrnv commented on #2653
@whedon check references

[2020-12-03 10:33] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-12-03 10:35] lrnv commented on #2653
I added the missing DOI. Reference checking seems to be a little bugged !

[2020-12-03 10:35] whedon commented on #2653
[code]

[2020-12-03 10:43] pdebuyl commented on #2653
Thanks. Could you add the arxiv link to the papers missing one, as it is done for Bengtsson 2020 ? Also, can you use the DOI instead of the url for the J Stat Soft papers? DOIs should be the most stable identifiers and are preferred.

Ram & Gray has doi 10.1145/2020408.2020507 can you use it?

[2020-12-03 11:07] GANys commented on #2866
I have finished testing 3Dfier and reading the software paper. I hava some comments. Here is my point-by-point list of comments in regard of the review checklist :

Community Guidelines: besides the common GitHub community standards and tools, I don't see any framework or guidelines for people to contribute.
State of the field: 3Dfier is kind of unique. I don't see any package or solution that pro

[2020-12-03 11:16] whedon commented on #2868
:wave: @justusschock, please update us on how your review is going.

[2020-12-03 11:16] whedon commented on #2868
:wave: @NMontanaBrown, please update us on how your review is going.

[2020-12-03 11:16] whedon commented on #2868
:wave: @lbugnon, please update us on how your review is going.

[2020-12-03 11:32] lrnv commented on #2653
I added some urls and doi in the bib file. Sklar's paper is too old to have any of these unfortunately;

[2020-12-03 11:32] lrnv commented on #2653
@whedon generate pdf

[2020-12-03 11:32] lrnv commented on #2653
@whedon check references

[2020-12-03 11:33] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-12-03 11:35] whedon commented on #2653
[code]

[2020-12-03 11:42] meg-simula commented on #2682
@ramisetti Great, thanks! Then we can get this review started!

[2020-12-03 11:42] meg-simula commented on #2682
@whedon add @ramisetti as reviewer

[2020-12-03 11:42] whedon commented on #2682
OK, @ramisetti is now a reviewer

[2020-12-03 11:42] meg-simula commented on #2682
@whedon start review

[2020-12-03 11:42] whedon opened #2879 "[REVIEW]: Bempp-cl: A fast Python based just-in-time compiling boundary element library."
**Submitting author:** @mscroggs (<a href="http://orcid.org/0000-0002-4658-2443">Matthew Scroggs</a>)
**Repository:** <a href="https://github.com/bempp/bempp-cl" target ="_blank">https://github.com/bempp/bempp-cl</a>
**Version:** v0.2.3
**Editor:** @meg-simula
**Reviewer:** @jamtrott, @ramisetti
**Archive:** <a href="https://doi.org/10.5281/zenodo.4618621" target="_blank">10.5281/zenodo.4618621</a

[2020-12-03 11:42] whedon commented on #2682
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2879.

[2020-12-03 11:42] #2682 closed

[2020-12-03 11:42] whedon commented on #2879
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jamtrott, @ramisetti it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-12-03 11:44] whedon commented on #2879
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02879/joss.02879/10.21105.joss.02879.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02879/joss.02879/10.21105.joss.02879.pdf) :page_facing_up: :point_left:

[2020-12-03 11:44] whedon commented on #2879
[code]

[2020-12-03 11:45] meg-simula commented on #2879
@jamtrott @ramisetti Thanks again for agreeing to review this submission - I will check back in in 1-2  weeks time to see how matters are progressing. If there is anything in the meanwhile, please let me know.

[2020-12-03 11:46] meg-simula commented on #2645
@whedon generate pdf

[2020-12-03 11:46] meg-simula commented on #2645
@whedon check references

[2020-12-03 11:48] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-12-03 11:48] whedon commented on #2645
[code]

[2020-12-03 11:58] meg-simula commented on #2645
@ajbaird

Please address the following minor points in the paper:
- [ ] Add space before reference to (Otto...)
- [ ] This phrasing is unclear, please rephrase: "This work has extended the engine to support ..."
- [ ] "New dugs" should probably be "New drugs" - please spell-check
- [ ] Missing punctuation after reference to Figure 1
- [ ] Should HowToFaciculation() be HowToFasciculation() ?

After

[2020-12-03 12:27] Kokookster commented on #2767
@whedon generate pdf

[2020-12-03 12:28] whedon commented on #2767
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: :point_left:

[2020-12-03 12:30] johnjarmitage commented on #2804
@tristan-salles excellent. Super clear to me now.

[2020-12-03 13:40] oalii commented on #2831
@whedon generate pdf

[2020-12-03 13:41] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2020-12-03 13:44] oalii commented on #2831
@whedon generate pdf from branch joss-review

[2020-12-03 13:44] whedon commented on #2831
[code]

[2020-12-03 13:45] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2020-12-03 13:53] oalii commented on #2831
Dear editor and reviewers,

First, thank you to @chennachaos and @finsberg for their valuable opinions on our work.

Let me comment on some remarks raised by @chennachaos:

In terms of core components, we completely agree with @chennachaos. This library is not to an add-on to FEniCS providing new solvers or cutting-edge *FE* types. As we explained within our *statement of need*, our two main objec

[2020-12-03 13:53] oalii commented on #2831
@whedon generate pdf from branch joss-review

[2020-12-03 13:53] whedon commented on #2831
[code]

[2020-12-03 13:54] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2020-12-03 13:57] oalii commented on #2831
Hi @finsberg ,
we followed your suggestion and added a “State of the field" section to the paper. Let us know if it fits your expectation or if you want a more detailed one.

[2020-12-03 14:06] finsberg commented on #2831
Very good! I can now recommend BVPy for publication in JOSS.

[2020-12-03 14:21] marshallmcdonnell commented on #2767
Great work, @Kokookster, thank you for addressing all my comments!
@jgostick I am satisfied that my review has been fully addressed and believe the work is ready to be published in its current state.

I understand that we are still trying to find a second reviewer and there will be edits based on the second review.
I'll be happy to have another look after any edits from the outcome.

Let me know i

[2020-12-03 14:28] whedon commented on #2869
:wave: @chrisbrunsdon, please update us on how your review is going.

[2020-12-03 14:34] ajbaird commented on #2645
I will get to these today!

[2020-12-03 14:51] lpantano commented on #2638
@whedon check references

[2020-12-03 14:53] whedon commented on #2638
[code]

[2020-12-03 14:54] benjaminrose commented on #2446
I do not think this is project is currently at an acceptable state for JOSS, however, it is close. The main concern is over the substantialness of the scholarly effort. @lockepatton, a strong statement of need will alleviate this concern. Looking at the JOSS guidelines, I think this project "is likely to be cited by your peer group" if the need for this specific project is well addressed.

Before

[2020-12-03 14:54] lpantano commented on #2638
@whedon set 10.5281/zenodo.4301636 as archive

[2020-12-03 14:54] whedon commented on #2638
OK. <a href="https://doi.org/10.5281/zenodo.4301636" target="_blank">10.5281/zenodo.4301636</a> is the archive.

[2020-12-03 14:55] lpantano commented on #2638
@whedon accept

[2020-12-03 14:55] whedon commented on #2638
[code]

[2020-12-03 14:56] whedon commented on #2638
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1955

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1955, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-03 15:11] jkarreth commented on #2815
I will submit my initial review around December 10. Apologies again for taking so long to get started (I had committed to this review saying that I probably wouldn't get to it until the end of the current JOSS review time window, and sadly that turned out to be true.)

Major thanks to @trashbirdecology for her thorough and timely review - that'll likely leave very few issues for me to find 👍

[2020-12-03 15:13] VNNikolaidis commented on #2876
As the author, I would like to thank everyone for volunteering their time and effort to the review of this paper and software, especially the editor @kakiac. This is my first substitution to JOSS, and I admit I do not know much about the JOSS reviewing process, so any guidance will be appreciated.

As suggested by @kakiac ([here](https://github.com/openjournals/joss-reviews/issues/2775#issuecommen

[2020-12-03 15:14] diehlpk commented on #2291
@ctdegroot How is your review going?

[2020-12-03 15:20] pdebuyl commented on #2653
The reference checker is an indicative first pass. It's almost there https://github.com/lrnv/cort/pull/31

[2020-12-03 15:31] ctdegroot commented on #2291
@whedon generate pdf

[2020-12-03 15:34] whedon commented on #2291
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02291/joss.02291/10.21105.joss.02291.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02291/joss.02291/10.21105.joss.02291.pdf) :page_facing_up: :point_left:

[2020-12-03 15:39] ctdegroot commented on #2291
Almost done.

@dglaeser In the readme you have the following for building example applications:

[code]

However, I do not find this. I have `build_example_tests`. Is this what you mean?

[2020-12-03 15:40] dglaeser commented on #2291
@ctdegroot, thanks a lot for the hint! I recently changed the examples to appear in the test pipeline. I will change this to `build_example_tests` now!

[2020-12-03 16:27] arfon commented on #2446
Thanks for your update @benjaminrose. These sound like good recommendations for @lockepatton to address.

@faroit - how are you getting along here? I see there are still a number of unchecked items in your review checklist.

[2020-12-03 16:43] ajbaird commented on #2645
@whedon generate pdf

[2020-12-03 16:44] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-12-03 16:47] ajbaird commented on #2645
@whedon generate pdf

[2020-12-03 16:49] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-12-03 16:51] adi3 commented on #2131
@poulson I work in robotics, and have experience with SLAM and bundle adjustments. I'd be happy to take this on. Let me know! I do not have hands-on experience in Rust, but can review the code against common best practices for software and documentation.

[2020-12-03 17:00] adi3 commented on #2790
@majensen In case @btabibian is unable to review, I'll be happy to take this up

[2020-12-03 17:03] ajbaird commented on #2645
@whedon generate pdf

[2020-12-03 17:05] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-12-03 17:09] ajbaird commented on #2645
Hi @meg-simula ! I think I got to all the edits you listed here with a few other minor things.

- Software version is v7.3.2 https://github.com/BioGearsEngine/core/releases/tag/7.3.2
-  release is up on Zenodo, DOI is here 10.5281/zenodo.4304604, Author list and title should be the same as this paper.

I think that is everything, let me know if I got to it, sorry if I missed something.

Thanks!

A

[2020-12-03 17:11] adi3 commented on #2802
@bmcfee I'll be happy to review this if you'd like

[2020-12-03 17:14] trashbirdecology commented on #2815
Ah shit, yes, sorry perhaps I did check off @jkarreth 's list....

[2020-12-03 17:14] btabibian commented on #2790
@adi3, to avoid blocking the process I would appreciate it if you can pick it up.

[2020-12-03 17:18] rcarragh commented on #2706
@whedon generate pdf

[2020-12-03 17:19] whedon commented on #2706
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02706/joss.02706/10.21105.joss.02706.pdf) :page_facing_up: :point_left:

[2020-12-03 17:27] ctdegroot commented on #2291
Great, that concludes my review!

[2020-12-03 17:41] pdebuyl commented on #2653
@whedon generate pdf

[2020-12-03 17:42] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-12-03 17:53] fboehm commented on #2800
@jsgalan - did you resolve the issues that you raised in your last post? Do you have any remaining comments for the authors?

[2020-12-03 17:57] fboehm commented on #2474
@OscartGiles - I made a pull request with a minor spacing fix. Once we incorporate this fix, we can proceed towards publication.

[2020-12-03 17:59] fboehm commented on #2743
Thanks, @dwinter. Please update us once you've had a chance to look over the revisions.

Thanks again!

[2020-12-03 18:05] adi3 commented on #2790
@majensen let me know :)

[2020-12-03 18:37] jsgalan commented on #2800
Hi all, this worked like a charm!

<img width="586" alt="Screen Shot 2020-12-03 at 1 29 48 PM" src="https://user-images.githubusercontent.com/971958/101072656-5a244a80-356c-11eb-835e-fbaea7158efd.png">

But, I do not know how to use it, It will be cool to add a small example on how to use this dataset in the **Installing Spatial Datasets** section

Best,

[2020-12-03 18:38] jsgalan commented on #2800
Hi It worked, and the article seems fine.

I have no more comments, I am happy to conclude this review

Thanks

[2020-12-03 19:18] david-worrall commented on #2446
Hello all,

Perceptual uniformity is a complex interdisciplinary research field. It
is a big claim in of this project, not yet substantiated. It would bode
well for the credibility of the project itself to temper that claim, as
there is more work to do towards perceptual uniformity that is beyond
the use of (some) psychophysical mapping parameters.
For example, see the work of  Roddy et al. on cog

[2020-12-03 19:41] galessiorob commented on #2676
@whedon generate pdf

[2020-12-03 19:42] whedon commented on #2676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: :point_left:

[2020-12-03 20:21] milicag commented on #2695
@sjpfenninger Thanks for your edits. I merged the PR. I specified the processor by just copying the info from my system. Please let me know if there is anything else that needs to be done before the re-tag.

[2020-12-03 20:23] rcarragh commented on #2706
@csoneson - I've done the following:

Tagged release of software in github: 1.00
I have archived the corresponding software on Zenodo
The title and author on Zenodo match the paper; Co-author does not have an ORCID.
Zenodo archive DOI: 10.5281/zenodo.4304831

I hope this is correct, thanks.

[2020-12-03 21:04] tristan-salles commented on #2804
Big thank you to @johnjarmitage and @cmshobe for agreeing to complete the review! I know time is precious at the moment. I think I have made the changes suggested by both reviewers.

[2020-12-03 21:55] crvernon commented on #2755
@dhhagan Here are two more reviewers that seem to be very responsive and efficient for this type of paper that you can try contacting to review if you see fit:  @mmrabe or @DominiqueMakowski

[2020-12-03 22:24] galessiorob commented on #2676
@nedRad88 mind solving the merge conflicts and merging the last PRs? After that, we can submit the final version. Thanks!

[2020-12-03 22:24] sahilseth commented on #2755
@whedon commands

[2020-12-03 22:24] whedon commented on #2755
Here are some things you can ask me to do:

[code]

[2020-12-03 22:27] kyleniemeyer commented on #2444
@whedon accept deposit=true

[2020-12-03 22:27] whedon commented on #2444
[code]

[2020-12-03 22:28] whedon commented on #2444
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1334625676805156864) 👈 🐦🐦🐦

[2020-12-03 22:28] whedon commented on #2444
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1956
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02444](https://doi.org/10.21105/joss.02444)
2. If everything looks g

[2020-12-03 22:36] MAnalytics commented on #2379
@kyleniemeyer pls, check the latest pdf

[2020-12-03 23:06] nedRad88 commented on #2676
@galessiorob Done!

[2020-12-04 01:02] davidbeckingsale commented on #2752
I don't have the bandwidth right now. Thanks for asking.

[2020-12-04 02:01] vals commented on #2440
Hi @csoneson yes I'll get to it shortly

[2020-12-04 04:23] vals commented on #2440
Hi again @csoneson , I have gone over the checklist again now for a second round.

There are still some issues regarding the documentation (linked above). Additionally, the manuscript doesn't mention how starfish differ from the alternative tools mentioned. I'm sure the authors could write some comments on how flexible and scalable starfish is compared to alternative tools.

Best,
/Valentine

[2020-12-04 06:39] soodoku commented on #2855
i am done w/ my review.

[2020-12-04 07:17] sjpfenninger commented on #2695
@milicag Great, thanks. So yes, we need you to make a tagged release on GitHub and archive that release, for example on Zenodo or figshare, then report the version number and archive DOI back here in the review issue. Make sure the archive has the same author list and title as the paper does.

[2020-12-04 08:20] csoneson commented on #2706
Thanks @rcarragh - could you just remove the initial `rcarragh/c212` from the Zenodo record title, so that it matches the paper title? The rest looks good.

[2020-12-04 08:21] csoneson commented on #2706
@whedon set 1.00 as version

[2020-12-04 08:21] whedon commented on #2706
OK. 1.00 is the version.

[2020-12-04 08:24] csoneson commented on #2440
Thanks @vals - @neuromusic, could you take a look at expanding the documentation a bit and highlighting how starfish compares to other tools, as indicated above?

[2020-12-04 08:49] pdebuyl commented on #2653
@whedon accept

[2020-12-04 08:49] whedon commented on #2653
[code]

[2020-12-04 08:50] pdebuyl commented on #2653
Thanks @coatless @agisga for the review, @lrnv for submitting to JOSS! The editor in chief in rotation will take over from now.

[2020-12-04 08:50] whedon commented on #2653
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1957

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1957, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-04 08:50] whedon commented on #2653
[code]

[2020-12-04 08:51] milicag commented on #2695
@sjpfenninger, here are the DOI of the v2 archive at Zenodo and a new release version tag:

[The tagged release](https://github.com/LBNL-ETA/MSWH/releases/tag/v2.0.0) with a version number v2.0.0
[DOI: 10.5281/zenodo.4305504](https://zenodo.org/record/4305504)

[2020-12-04 09:18] mileslucas commented on #2843
@whedon preview

[2020-12-04 09:18] whedon commented on #2843
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-04 09:19] mileslucas commented on #2843
@whedon generate pdf

[2020-12-04 09:19] whedon commented on #2843
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02843/joss.02843/10.21105.joss.02843.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02843/joss.02843/10.21105.joss.02843.pdf) :page_facing_up: :point_left:

[2020-12-04 10:38] rcarragh commented on #2706
Hi @csoneson,
I've removed the initial rcarragh/c212 from the Zenodo record title
Thanks

[2020-12-04 10:39] oliviaguest commented on #2863
@khinsen the bot is just checking to see you are indeed doing the review, exactly like a reminder from a more "traditional" journal in your email inbox. Thus, you are able to ignore as you're already doing it.

If you are curious what commands @whedon does accept, I am sure you can figure that out too — haha: https://joss.readthedocs.io/en/latest/whedon.html

[2020-12-04 10:40] csoneson commented on #2706
@whedon set 10.5281/zenodo.4304831 as archive

[2020-12-04 10:40] whedon commented on #2706
OK. <a href="https://doi.org/10.5281/zenodo.4304831" target="_blank">10.5281/zenodo.4304831</a> is the archive.

[2020-12-04 10:40] csoneson commented on #2706
@whedon accept

[2020-12-04 10:40] whedon commented on #2706
[code]

[2020-12-04 10:41] csoneson commented on #2706
Thanks @rcarragh - the associate editor-in-chief on rotation will take over from here and finalize the acceptance of your submission.

[2020-12-04 10:41] whedon commented on #2706
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1958

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1958, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-04 10:43] whedon commented on #2706
[code]

[2020-12-04 10:51] rcarragh commented on #2706
I would like to says thanks to @csoneson for organising the review process, and thanks to the reviewers, @rrrlw and @MelvinSMunsaka, for their helpful and insightful comments.  Doubly so given the current difficult working conditions many are facing.

[2020-12-04 11:10] rcarragh commented on #2706
@whedon accept deposit=true

[2020-12-04 11:10] whedon commented on #2706
I'm sorry @rcarragh, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-12-04 11:13] rcarragh commented on #2706
I checked the proof and crossref in openjournals/joss-papers#1958 and they look good from my point of view.

[2020-12-04 12:16] dlfivefifty commented on #2830
I finished the review, everything looks fine. @fruzsinaagocs it's outside the scope of this review, but it would be interesting to compare performance with ApproxFun.jl, which also efficiently solves ODEs. E.g. look at the Airy example in the README:

https://github.com/JuliaApproximation/ApproxFun.jl

ApproxFun.jl doesn't do anything special for highly oscillatory problems, but, it is `O(n)` comp

[2020-12-04 12:20] sjpfenninger commented on #2765
Archive: that is fine. Can you just ensure the title and authors on the archive deposition match the paper title and authors.

Release: yes, of course on the project repository which in your case is not hosted on GitHub.

[2020-12-04 12:32] lpantano commented on #2334
@erinyoung can you try that to solve your error? Thanks

[2020-12-04 14:06] OscartGiles commented on #2474
@fboehm - Thank you! I've merged it now.

[2020-12-04 14:18] dhhagan commented on #2755
👋  @mmrabe @DominiqueMakowski are either of you able and interested to review this paper?

[2020-12-04 14:21] danielskatz commented on #2646
@whedon set v0.0.3 as version

[2020-12-04 14:21] whedon commented on #2646
OK. v0.0.3 is the version.

[2020-12-04 14:21] danielskatz commented on #2646
@whedon set 10.5281/zenodo.4302741 as archive

[2020-12-04 14:21] whedon commented on #2646
OK. <a href="https://doi.org/10.5281/zenodo.4302741" target="_blank">10.5281/zenodo.4302741</a> is the archive.

[2020-12-04 14:22] danielskatz commented on #2646
@whedon generate pdf

[2020-12-04 14:23] whedon commented on #2646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: :point_left:

[2020-12-04 14:23] danielskatz commented on #2646
@whedon check references

[2020-12-04 14:24] whedon commented on #2646
[code]

[2020-12-04 14:29] danielskatz commented on #2646
👋 @jpsety - some small final changes are needed in the paper and bib - please merge https://github.com/circuitgraph/circuitgraph/pull/22 or let me know what you disagree with.

[2020-12-04 14:30] danielskatz commented on #2282
Hi @jcolomb - just checking to see how this is coming

[2020-12-04 14:34] jpsety commented on #2646
Merged the changes.
Thanks

[2020-12-04 14:34] danielskatz commented on #2646
@whedon generate pdf

[2020-12-04 14:35] whedon commented on #2646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: :point_left:

[2020-12-04 14:37] danielskatz commented on #2646
sorry - one more change which I thought was in the PR but apparently wasn't - https://github.com/circuitgraph/circuitgraph/pull/23

[2020-12-04 14:59] sjpfenninger commented on #2695
Hm, the Zenodo deposition says "Closed Access -Files are not publicly accessible."

Not sure what went wrong there, but can you fix that?

[2020-12-04 14:59] sjpfenninger commented on #2695
@whedon set v2.0.0 as version

[2020-12-04 14:59] whedon commented on #2695
OK. v2.0.0 is the version.

[2020-12-04 15:02] danielskatz commented on #2646
@whedon generate pdf

[2020-12-04 15:03] whedon commented on #2646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: :point_left:

[2020-12-04 15:05] danielskatz commented on #2646
@jpsety - sorry, I missed a closing paren in the SciPy2008 bib entry - can you add it and then let me know - this really will be the last change...

[2020-12-04 15:09] DominiqueMakowski commented on #2755
Hi @dhhagan thanks for considering me, unfortunately it is not a good time for me and, as much as I like the name of this package, it's a little outside my scope. Good luck!

[2020-12-04 15:20] milicag commented on #2695
@sjpfenninger Zenodo was asking me to associate the code archive with an another license, I thought it was much safer to provide a link to our repository as an archive that contains the zip files ready for download of the version 2.0.0 of the software including the paper. The users can use the links provided in the Zenodo archive description to download the release from the Github repository. Is t

[2020-12-04 15:29] milicag commented on #2695
@sjpfenninger This is the [initial link on the Zenodo](https://github.com/LBNL-ETA/MSWH/releases/tag/v2.0.0) summary. This way I preserve only one layer of licensing that was granted to us through DOE code publication.

[2020-12-04 15:31] milicag commented on #2695
@sjpfenninger I could change the link to be [a direct download of the release v2.0.0](https://github.com/LBNL-ETA/MSWH/archive/v2.0.0.zip), or potentially better I could add that link in addition to the above link.

[2020-12-04 15:38] milicag commented on #2695
With my approach I avoided a need to use an additional license, while obtaining a DOI for the archive and providing full access to the code under a JOSS accepted license.

[2020-12-04 16:01] MohmedSoudy commented on #2876
Thank you for inviting me to review this work, regarding the manuscript i
believe that authors should revise the grammar in the paper, also
comparison with available packages on CRAN such as (nnet, deepnet and h2o)
should be mentioned in the statement of need to enrich the manuscript and
elaborate the novelty of author's work. regarding the documentation the
documentation should be user-friendly a

[2020-12-04 17:39] diehlpk commented on #2291
@ilyasst and @ctdegroot Thanks for your review.

@dglaeser, Please do following steps;

- [ ] Generate a new release with the all the changes you made during the review
- [ ] Post the release number here
- [ ] Generate a DOI on Zenodo or Figshare. Not that the title and the authors have to match the ones in the paper.
- [ ] Post the DOI here

[2020-12-04 17:56] kyleniemeyer commented on #2638
Hi @chorscroft, I'm the EIC on duty this week doing some final checks. It looks like a few citations may be missing DOIs: Kelly, Smith, Rozas, and Sabeti. Could you check if those articles do have citations, and add if so? There's no need to archive the repository again, since the software isn't changing.

[2020-12-04 17:57] kyleniemeyer commented on #2444
Congrats @berenger-eu on your article's publication in JOSS!

Many thanks to @pitsianis, @Himscipy, and @sarats for reviewing this, and @poulson for editing.

[2020-12-04 17:57] #2444 closed

[2020-12-04 17:58] whedon commented on #2444
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02444/status.svg)](https://doi.org/10.21105/joss.02444)

**We need your help!**

Journal of Open Source Softwa

[2020-12-04 17:58] kyleniemeyer commented on #2379
@MAnalytics got it, thanks!

[2020-12-04 17:59] kyleniemeyer commented on #2379
@whedon accept

[2020-12-04 17:59] whedon commented on #2379
[code]

[2020-12-04 18:00] whedon commented on #2379
[code]

[2020-12-04 18:00] whedon commented on #2379
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1959

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1959, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-04 18:00] kyleniemeyer commented on #2379
@whedon accept deposit=true

[2020-12-04 18:00] whedon commented on #2379
[code]

[2020-12-04 18:02] whedon commented on #2379
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1334920906355970049) 👈 🐦🐦🐦

[2020-12-04 18:02] whedon commented on #2379
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1960
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02379](https://doi.org/10.21105/joss.02379)
2. If everything looks g

[2020-12-04 18:05] kyleniemeyer commented on #2379
Congrats @MAnalytics on your article's publication in JOSS!

Many thanks to @njtierney for reviewing, and @karthik for editing.

[2020-12-04 18:05] #2379 closed

[2020-12-04 18:05] whedon commented on #2379
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02379/status.svg)](https://doi.org/10.21105/joss.02379)

**We need your help!**

Journal of Open Source Softwa

[2020-12-04 18:08] karthik commented on #2379
/ooo December 4 until January 15

[2020-12-04 18:22] majensen commented on #2790
Sure @adi3 - can you have a look at my [comment](https://github.com/openjournals/joss-reviews/issues/2790#issuecomment-735321728) to @btabibian and let me know about any conflict of interest to describe? It won't necessary preclude a review.
Much appreciated!

[2020-12-04 18:24] MAnalytics commented on #2379
I would like to say a very big thank you to @karthik and @njtierney for your valuable help and feedbacks 👍. I must say that the review process has been a very nice experience for me. Also, thanks to @arfon @kthyng and @kyleniemeyer for their help in speeding things up during the later part of the process. Much appreciated! 😁  All the best! Monsuru.

[2020-12-04 18:27] adi3 commented on #2790
@majensen I confirm there is no conflict of interest. I am not associated with the author or the Max Planck Institute in any manner. By the way, I've reviewed for JOSS in the past so I am aware of the reviewing procedure and policies :)

[2020-12-04 18:30] kyleniemeyer commented on #2653
@whedon accept deposit=true

[2020-12-04 18:30] whedon commented on #2653
[code]

[2020-12-04 18:31] majensen commented on #2790
@adi you're hired! Thanks for the suggestion @btabibian

[2020-12-04 18:31] whedon commented on #2653
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1334928413321203713) 👈 🐦🐦🐦

[2020-12-04 18:31] whedon commented on #2653
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1961
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02653](https://doi.org/10.21105/joss.02653)
2. If everything looks g

[2020-12-04 18:31] majensen commented on #2790
@whedon add @adi3 as reviewer

[2020-12-04 18:31] whedon commented on #2790
OK, @adi3 is now a reviewer

[2020-12-04 18:32] majensen commented on #2790
@whedon start review

[2020-12-04 18:32] whedon opened #2880 "[REVIEW]: A Repository to Simulate the Spread of COVID-19 in any Population with a Known Age-Structure, Made in Tübingen."
**Submitting author:** @vahid-sb (<a href="http://orcid.org/0000-0001-6544-7960">Vahid S. Bokharaie</a>)
**Repository:** <a href="https://github.com/vahid-sb/MiTepid_sim" target ="_blank">https://github.com/vahid-sb/MiTepid_sim</a>
**Version:** v0.0.5
**Editor:** @majensen
**Reviewer:** @AngryMaciek, @adi3
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-12-04 18:32] whedon commented on #2790
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2880.

[2020-12-04 18:32] #2790 closed

[2020-12-04 18:32] whedon commented on #2880
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AngryMaciek, @adi3 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-12-04 18:32] whedon commented on #2880
[code]

[2020-12-04 18:33] majensen commented on #2790
@vahid-sb @adi3 @AngryMaciek thanks for the submission and participation. The review has begun officially at #2880 !

[2020-12-04 18:33] whedon commented on #2880
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02880/joss.02880/10.21105.joss.02880.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02880/joss.02880/10.21105.joss.02880.pdf) :page_facing_up: :point_left:

[2020-12-04 18:40] kyleniemeyer commented on #2653
Congrats @lrnv on your article's publication in JOSS!

Many thanks to @coatless and @agisga for reviewing this, and @pdebuyl for editing.

[2020-12-04 18:40] #2653 closed

[2020-12-04 18:40] whedon commented on #2653
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02653/status.svg)](https://doi.org/10.21105/joss.02653)

**We need your help!**

Journal of Open Source Softwa

[2020-12-04 18:42] adi3 commented on #2880
@vahid-sb can you please create a /paper subdirectory in your repo, and put the .bib, .md and .png files in it?

[2020-12-04 18:46] milicag commented on #2695
@brynpickering Just to avoid any potential confusion, my knowledge in the domain of license interaction, especially about aspects such as which license takes precedence and where and how that is exactly defined, and whether it might change in the future, is limited. Therefore I found a simplified solution that I don't see imposes any limitations provided the information available at the JOSS websi

[2020-12-04 18:48] kyleniemeyer commented on #2706
@whedon accept deposit=true

[2020-12-04 18:48] whedon commented on #2706
[code]

[2020-12-04 18:49] whedon commented on #2706
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1334932878317195264) 👈 🐦🐦🐦

[2020-12-04 18:49] whedon commented on #2706
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1962
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02706](https://doi.org/10.21105/joss.02706)
2. If everything looks g

[2020-12-04 19:01] lrnv commented on #2653
Thanks a lot to the reviewers @coatless @agisga , and of course to @pdebuyl for handling this. The code itself improved a lot from this review, which i wanted to thank everyone for!

Cheers !

[2020-12-04 19:18] kyleniemeyer commented on #2706
Congrats @rcarragh on your article's publication in JOSS!

Many thanks to  @rrrlw and @MelvinSMunsaka for reviewing this, and @csoneson for editing it.

[2020-12-04 19:18] #2706 closed

[2020-12-04 19:18] whedon commented on #2706
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02706/status.svg)](https://doi.org/10.21105/joss.02706)

**We need your help!**

Journal of Open Source Softwa

[2020-12-04 19:35] SteveMacenski commented on #2783
Hi, just wanted to touch base on this - any progress?

[2020-12-04 19:35] jpsety commented on #2646
All set

[2020-12-04 19:39] vahid-sb commented on #2790
Thanks @adi3 and @AngryMaciek!

[2020-12-04 19:44] vahid-sb commented on #2880
@adi3, done!

[2020-12-04 19:48] adi3 commented on #2880
@vahid-sb thank you. As I go through the review checklist, I'll be requesting you to make several changes to your repository. This is to bring the repo and paper in line with JOSS standards. Most of them will be tiny, so please bear with me.

In the Installation section of your readme, you state "Or you can install it directly from the repository." Please provide the commands (starting from git cl

[2020-12-04 20:19] mmrabe commented on #2755
Hi all! Thanks for considering me, @dhhagan. Unfortunately, I won't be able to return a review in the next couple of weeks (probably until early January). But it seems that @sahilseth and @tscheypidi have already agreed to review already?

[2020-12-04 20:32] danielskatz commented on #2646
@whedon generate pdf

[2020-12-04 20:33] whedon commented on #2646
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02646/joss.02646/10.21105.joss.02646.pdf) :page_facing_up: :point_left:

[2020-12-04 20:39] danielskatz commented on #2646
@whedon accept

[2020-12-04 20:39] whedon commented on #2646
[code]

[2020-12-04 20:40] whedon commented on #2646
[code]

[2020-12-04 20:40] whedon commented on #2646
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1963

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1963, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-04 20:47] danielskatz commented on #2646
@whedon accept deposit=true

[2020-12-04 20:47] whedon commented on #2646
[code]

[2020-12-04 20:48] whedon commented on #2646
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1334962699692892160) 👈 🐦🐦🐦

[2020-12-04 20:48] whedon commented on #2646
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1964
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02646](https://doi.org/10.21105/joss.02646)
2. If everything looks g

[2020-12-04 20:52] danielskatz commented on #2646
Congratulations to @jpsety (Joseph Sweeney) and co-authors!!

And thanks very much to reviewers @skadio, @prw99r, @r-a-hoggarth!

[2020-12-04 20:52] #2646 closed

[2020-12-04 20:52] whedon commented on #2646
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02646/status.svg)](https://doi.org/10.21105/joss.02646)

**We need your help!**

Journal of Open Source Softwa

[2020-12-04 20:55] skadio commented on #2646
@danielskatz thank you as well for the organization and guiding us within a reasonable time-bounded review process.

Congrats to @jpsety and the team!

[2020-12-04 21:22] lpantano commented on #2638
@kyleniemeyer, just to make sure I can catch this up next time. should we report Whedon didn't catch up this to the team? Or it is because some configuration on the paper? Trying to be better for the board of director only. Thanks!

[2020-12-04 21:32] dpsanders commented on #2838
👋 Hi @mturiansky and @mfherbst: Many thanks for your detailed and perceptive comments and issues on the repo. My apologies for the long delay in getting to this.

I agree with all your points (modulo a couple of clarifying remarks in the issues). @swetanshu: I would ask you to please address the points raised in the issues on the repo, which will make for a more useful and reusable piece of softwa

[2020-12-04 21:49] dpsanders commented on #2838
@mturiansky:

HOSS has no explicit requirements about this, but I agree that that would improve the structure of the paper.

The text should be readable; if it isn't, that is unacceptable. I am happy to help with minor grammar and punctuation issues once the paper is ready.

Installation instructions are a requirement of JOSS, since without them the software is, as you say, unusable. It is a requi

[2020-12-04 22:00] dpsanders commented on #2838
@mfherbst:

It is a requirement to describe the relation of the software with other common packages in the same area. Implicitly that requires specifying how this particular piece of software is different from the others; this is related to the Statement of need, which needs to say why *this* particular piece of software is required.

In particular, https://joss.readthedocs.io/en/latest/submitting

[2020-12-04 22:07] dpsanders commented on #2809
@goerz: Many thanks for your detailed comments and review; apologies for the delay in replying. I'll give some responses below

[2020-12-04 22:07] dpsanders commented on #2809
@whedon generate pdf

[2020-12-04 22:07] kthyng commented on #2782
Excellent! Looks like we can work on wrapping things up now.

[2020-12-04 22:08] kthyng commented on #2782
@whedon set v1.1.5 as version

[2020-12-04 22:08] whedon commented on #2782
OK. v1.1.5 is the version.

[2020-12-04 22:08] whedon commented on #2809
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02809/joss.02809/10.21105.joss.02809.pdf) :page_facing_up: :point_left:

[2020-12-04 22:08] kthyng commented on #2782
@crvernon, @evanoffPNNL Can you update the metadata for your Zenodo archive so that the title and author list exactly match your JOSS paper?

[2020-12-04 22:09] kthyng commented on #2782
@whedon generate pdf

[2020-12-04 22:10] whedon commented on #2782
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: :point_left:

[2020-12-04 22:13] kyleniemeyer commented on #2638
@lpantano mostly it's just that whedon's checking of references isn't perfect—it can catch issues, for sure, but I still find it important to scan myself for missing DOIs.

[2020-12-04 22:20] kthyng commented on #2782
@crvernon, @evanoffPNNL Your paper looks good, though please go through your references in detail and fix anything that looks off. For example, one reference has "r" (uncapitalized), and the final reference maybe should have different formatting for 2 deg C? There may be more such items. To preserve capitalization from the bib file, you can put {} around a single letter, word, or more.

[2020-12-04 22:22] kthyng commented on #2813
Hi @milankl, @visr! Just a friendly ping to see how your reviews are coming along. Do you have an estimate for when you can work on this again?

Also a ping to @gaelforget since I see you are working on some review issues that have come in.

[2020-12-04 22:38] visr commented on #2813
I plan to work on this again next week. Quite a few improvements have come along since I had a look the first time.

[2020-12-04 22:55] whedon opened #2881 "[PRE REVIEW]: EMD: Empirical Mode Decomposition and Hilbert-Huang Spectral Analyses in Python"
**Submitting author:** @ajquinn (<a href="http://orcid.org/0000-0003-2267-9897">Andrew Quinn</a>)
**Repository:** <a href="https://gitlab.com/emd-dev/emd" target ="_blank">https://gitlab.com/emd-dev/emd</a>
**Version:** v0.3.2
**Editor:** @dpsanders
**Reviewers:** @JanCBrammer, @EtienneCmb, @neurofractal
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-12-04 22:55] whedon commented on #2881
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-04 22:55] whedon commented on #2881
Failed to discover a `Statement of need` section in paper

[2020-12-04 22:55] whedon commented on #2881
[code]

[2020-12-04 22:55] whedon commented on #2881
PDF failed to compile for issue #2881 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Anna Nobre, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-54ca145bf448/lib/whedon/author.rb:71:in `each'
	f

[2020-12-04 22:55] whedon commented on #2881
[code]

[2020-12-04 22:58] faroit commented on #2446
1. I fully support the comments and suggestions made by @benjaminrose especially that the statements with respect to state-of-the-art should be added to the paper.

2. I support the view of @david-worrall that the same name for a similar project is confusing (even though david's package is neither on github nor on pypi). Given that merging the projects will probably not happen soon, it is the best

[2020-12-04 23:00] kyleniemeyer commented on #2881
Hi @dpsanders, could you edit this submission?

[2020-12-04 23:00] kyleniemeyer commented on #2881
@whedon invite @dpsanders as editor

[2020-12-04 23:00] whedon commented on #2881
@dpsanders has been invited to edit this submission.

[2020-12-04 23:02] kyleniemeyer commented on #2881
Hi @AJQuinn, thanks for your interest in JOSS. We start out by finding an editor and reviewers in this pre-review issue.

It looks like your paper has an issue in one of the author affiliations, for Anna Christina Nobre. Could you replace `affiliation: 1,3` with `affiliation: "1, 3"`? Thanks!

[2020-12-04 23:05] kdorheim commented on #2878
@sebkopf, `isoreader` is well written, well documented, and fulfills an important need in supporting reproducible open-source science. As indicated by the manuscripts that have cited this package it has already been useful to the community. The paper clearly describes the need for this package and is well written for a general audience (as a non-specialist I really appreciated that), however, it s

[2020-12-04 23:24] whedon opened #2882 "[PRE REVIEW]: Magicwand: A platform to provide high-quality, reliable, and reproducible data sets for low-and-slow DDoS attacks"
**Submitting author:** @ctodd26labs (<a href="http://orcid.org/0000-0003-1453-265X">Christopher Todd</a>)
**Repository:** <a href="https://github.com/twosixlabs/magicwand-datatool" target ="_blank">https://github.com/twosixlabs/magicwand-datatool</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @nidhog
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2020-12-04 23:24] whedon commented on #2882
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-04 23:25] whedon commented on #2882
[code]

[2020-12-04 23:25] whedon commented on #2882
[code]

[2020-12-04 23:25] whedon commented on #2882
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02882/joss.02882/10.21105.joss.02882.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02882/joss.02882/10.21105.joss.02882.pdf) :page_facing_up: :point_left:

[2020-12-04 23:29] kyleniemeyer commented on #2882
Hi @usethedata, the authors suggested you as editor for this submission. Interested in editing this one?

[2020-12-04 23:29] kyleniemeyer commented on #2882
@whedon invite @usethedata as editor

[2020-12-04 23:29] whedon commented on #2882
@usethedata has been invited to edit this submission.

[2020-12-04 23:42] whedon opened #2883 "[PRE REVIEW]: rgugik: Search and Retrieve Spatial Data from the Polish Head Office of Geodesy and Cartography in R"
**Submitting author:** @kadyb (<a href="http://orcid.org/0000-0002-8614-3816">Krzysztof Dyba</a>)
**Repository:** <a href="https://github.com/kadyb/rgugik" target ="_blank">https://github.com/kadyb/rgugik</a>
**Version:** 0.2.0
**Editor:** @kbarnhart
**Reviewers:** @adamhsparks, @mikerspencer
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-12-04 23:42] whedon commented on #2883
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-04 23:42] whedon commented on #2883
Failed to discover a `Statement of need` section in paper

[2020-12-04 23:42] whedon commented on #2883
[code]

[2020-12-04 23:42] whedon commented on #2883
[code]

[2020-12-04 23:42] whedon commented on #2883
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02883/joss.02883/10.21105.joss.02883.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02883/joss.02883/10.21105.joss.02883.pdf) :page_facing_up: :point_left:

[2020-12-04 23:45] kyleniemeyer commented on #2883
@whedon check scope

[2020-12-04 23:45] whedon commented on #2883
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-04 23:46] kyleniemeyer commented on #2883
@whedon query scope

[2020-12-04 23:46] whedon commented on #2883
Submission flagged for editorial review.

[2020-12-04 23:48] kyleniemeyer commented on #2883
Hi @kadyb, thanks for your interest in JOSS. The editorial board is going to review your submission to see if it falls without our scope—in particular, this looks like a utility/API package. (See our definition of [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) for more info.)

[2020-12-04 23:51] whedon opened #2884 "[PRE REVIEW]: LinRegOutliers: A Julia package for detecting outliers in linear regression"
**Submitting author:** @jbytecode (<a href="http://orcid.org/0000-0002-9402-1982">Mehmet Hakan Satman</a>)
**Repository:** <a href="https://github.com/jbytecode/LinRegOutliers" target ="_blank">https://github.com/jbytecode/LinRegOutliers</a>
**Version:** v0.8.3
**Editor:** @mikldk
**Reviewers:** @salleuska, @rMassimiliano
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warn

[2020-12-04 23:51] whedon commented on #2884
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-04 23:52] whedon commented on #2884
[code]

[2020-12-04 23:52] kyleniemeyer commented on #2884
Hi @mikldk, are you able to edit this submission for us?

[2020-12-04 23:52] whedon commented on #2884
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02884/joss.02884/10.21105.joss.02884.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02884/joss.02884/10.21105.joss.02884.pdf) :page_facing_up: :point_left:

[2020-12-04 23:52] whedon commented on #2884
[code]

[2020-12-04 23:52] kyleniemeyer commented on #2884
@whedon invite @mikldk as editor

[2020-12-04 23:52] whedon commented on #2884
@mikldk has been invited to edit this submission.

[2020-12-04 23:53] dpsanders commented on #2809
👋 @goerz and @robfalck. Having looked carefully at the prior paper  https://arc.aiaa.org/doi/abs/10.2514/6.2019-0976, I agree that the previous paper was about the algorithms and a separate software publication in JOSS is acceptable.

I do agree with @goerz that it is an omission that needs to be rectified that that paper is not mentioned in the JOSS submission. @robfalck: Please be explicit about

[2020-12-04 23:53] dpsanders commented on #2809
Regarding authorship, @robfalck's response seems fine to me.

[2020-12-04 23:54] dpsanders commented on #2809
👋 @thowell: I see that you have checked most of the boxes in the checklist at the top of this issue. If you have recommendations for the non-checked boxes, please feel free to raise them here or in issues in the software repo.

[2020-12-04 23:54] kyleniemeyer commented on #2884
Hello @jbytecode, thanks for your interest in JOSS. We will use this pre-review issue to identify an editor and reviewers. While doing that, could you fix those issues related to DOIs in the paper? I think you just need to remove `https://doi.org/` at the beginning and just include the DOI itself in the `.bib` file.

[2020-12-04 23:56] whedon opened #2885 "[PRE REVIEW]: Easy3D: a lightweight, easy-to-use, and efficient C++ library for processing and rendering 3D data"
**Submitting author:** @LiangliangNan (<a href="http://orcid.org/0000-0002-5629-9975">Liangliang Nan</a>)
**Repository:** <a href="https://github.com/LiangliangNan/Easy3D" target ="_blank">https://github.com/LiangliangNan/Easy3D</a>
**Version:** v2.4.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @adi3, @vissarion,  @bhajay
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mo

[2020-12-04 23:56] whedon commented on #2885
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-04 23:56] whedon commented on #2885
PDF failed to compile for issue #2885 with the following error:

 Can't find any papers to compile :-(

[2020-12-04 23:59] whedon commented on #2885
[code]

[2020-12-05 00:00] kyleniemeyer commented on #2885
@whedon generate pdf from branch joss

[2020-12-05 00:00] whedon commented on #2885
[code]

[2020-12-05 00:00] kyleniemeyer commented on #2885
Hi @jni, would you be interested in editing this submission?

[2020-12-05 00:00] kyleniemeyer commented on #2885
@whedon invite @jni as editor

[2020-12-05 00:01] whedon commented on #2885
@jni has been invited to edit this submission.

[2020-12-05 00:01] whedon commented on #2885
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02885/joss.02885/10.21105.joss.02885.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02885/joss.02885/10.21105.joss.02885.pdf) :page_facing_up: :point_left:

[2020-12-05 00:02] whedon opened #2886 "[PRE REVIEW]: mikropml: User-Friendly R Package for Supervised Machine Learning Pipelines"
**Submitting author:** @pschloss (<a href="http://orcid.org/0000-0002-6935-4275">Patrick D Schloss</a>)
**Repository:** <a href="https://github.com/SchlossLab/mikropml" target ="_blank">https://github.com/SchlossLab/mikropml</a>
**Version:** v0.0.1
**Editor:** @arfon
**Reviewers:** @JonnyTran, @FedericoComoglio
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due

[2020-12-05 00:02] whedon commented on #2886
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-05 00:03] whedon commented on #2886
[code]

[2020-12-05 00:04] whedon commented on #2886
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02886/joss.02886/10.21105.joss.02886.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02886/joss.02886/10.21105.joss.02886.pdf) :page_facing_up: :point_left:

[2020-12-05 00:04] whedon commented on #2886
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02886/joss.02886/10.21105.joss.02886.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02886/joss.02886/10.21105.joss.02886.pdf) :page_facing_up: :point_left:

[2020-12-05 00:04] kyleniemeyer commented on #2886
Hi @csoneson, would you be interested in editing this one?

[2020-12-05 00:04] whedon commented on #2886
[code]

[2020-12-05 00:04] kyleniemeyer commented on #2886
@whedon invite @csoneson as editor

[2020-12-05 00:05] whedon commented on #2886
@csoneson has been invited to edit this submission.

[2020-12-05 00:05] whedon opened #2887 "[PRE REVIEW]: Learning Simulator: A simulation software for animal and human learning"
**Submitting author:** @markusrobertjonsson (<a href="http://orcid.org/0000-0003-1242-3599">Markus Jonsson</a>)
**Repository:** <a href="https://github.com/learningsimulator/learningsimulator" target ="_blank">https://github.com/learningsimulator/learningsimulator</a>
**Version:** 1.0.0
**Editor:** @oliviaguest
**Reviewers:** @themkar, @CatarauCorina, @jkbye
**Managing EiC:** Kyle Niemeyer

**:war

[2020-12-05 00:06] whedon commented on #2887
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-05 00:06] whedon commented on #2887
[code]

[2020-12-05 00:06] kyleniemeyer commented on #2887
Hi @oliviaguest, can you edit this submission?

[2020-12-05 00:06] whedon commented on #2887
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02887/joss.02887/10.21105.joss.02887.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02887/joss.02887/10.21105.joss.02887.pdf) :page_facing_up: :point_left:

[2020-12-05 00:06] kyleniemeyer commented on #2887
@whedon invite @oliviaguest as editor

[2020-12-05 00:07] whedon commented on #2887
@oliviaguest has been invited to edit this submission.

[2020-12-05 00:07] whedon opened #2888 "[PRE REVIEW]: Tyssue, en Epithelium simulation library"
**Submitting author:** @glyg (<a href="http://orcid.org/0000-0002-5444-5246">Guillaume Gay</a>)
**Repository:** <a href="https://github.com/damcb/tyssue" target ="_blank">https://github.com/damcb/tyssue</a>
**Version:** v0.8.0
**Editor:** @pdebuyl
**Reviewers:** @fcooper8472, @SergeDmi
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-12-05 00:07] whedon commented on #2888
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-05 00:07] whedon commented on #2887
[code]

[2020-12-05 00:07] whedon commented on #2888
[code]

[2020-12-05 00:07] whedon commented on #2888
[code]

[2020-12-05 00:08] whedon commented on #2888
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02888/joss.02888/10.21105.joss.02888.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02888/joss.02888/10.21105.joss.02888.pdf) :page_facing_up: :point_left:

[2020-12-05 00:09] kyleniemeyer commented on #2888
Hi @pdebuyl, can you edit this submission?

[2020-12-05 00:09] kyleniemeyer commented on #2888
@whedon invite @pdebuyl as editor

[2020-12-05 00:09] whedon commented on #2888
@pdebuyl has been invited to edit this submission.

[2020-12-05 00:16] whedon opened #2889 "[PRE REVIEW]: SymbiotaR2: An R Package for Accessing Symbiota2 Data"
**Submitting author:** @akoontz11 (<a href="http://orcid.org/0000-0002-6103-5894">Austin Koontz</a>)
**Repository:** <a href="https://github.com/ropensci/SymbiotaR2" target ="_blank">https://github.com/ropensci/SymbiotaR2</a>
**Version:** v1.0.0
**Editor:** @kyleniemeyer
**Reviewers:** @kyleniemeyer
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-12-05 00:16] whedon commented on #2889
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-05 00:16] kyleniemeyer commented on #2889
@whedon query scope

[2020-12-05 00:16] whedon commented on #2889
Submission flagged for editorial review.

[2020-12-05 00:16] whedon commented on #2889
[code]

[2020-12-05 00:16] whedon commented on #2889
[code]

[2020-12-05 00:16] whedon commented on #2889
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02889/joss.02889/10.21105.joss.02889.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02889/joss.02889/10.21105.joss.02889.pdf) :page_facing_up: :point_left:

[2020-12-05 00:18] kyleniemeyer commented on #2889
Hi @akoontz11, thanks for your interest in JOSS. The editorial board is going to review your software to see if it falls within our scope—in particular, while useful, this looks like an API client rather than [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software).

I did note that this comes from rOpenSci; if deemed to be within the scope of JO

[2020-12-05 00:19] kyleniemeyer commented on #2889
@whedon assign @kyleniemeyer as editor

[2020-12-05 00:19] whedon commented on #2889
OK, the editor is @kyleniemeyer

[2020-12-05 00:21] kyleniemeyer commented on #2859
Hi @rtelmore, unfortunately the JOSS editorial board considers your submission to be out of scope, due to its small size and narrow focus. In its current form, we suggest that you consider [alternate venues](https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages) for archiving or publishing the software package.

[2020-12-05 00:21] kyleniemeyer commented on #2859
@whedon reject

[2020-12-05 00:21] whedon commented on #2859
Paper rejected.

[2020-12-05 00:21] #2859 closed

[2020-12-05 00:38] jni commented on #2885
Hello @kyleniemeyer! Unfortunately I have very limited bandwidth before Christmas, and am struggling to keep up with the reviews I have currently assigned, so I must decline.

[2020-12-05 02:18] dpsanders commented on #2881
@kyleniemeyer Yes, sure.

[2020-12-05 02:18] dpsanders commented on #2881
@whedon assign @dpsanders as editor

[2020-12-05 02:18] whedon commented on #2881
OK, the editor is @dpsanders

[2020-12-05 03:09] chorscroft commented on #2638
@kyleniemeyer Apologies for that, I have added DOIs for the Maynard Smith paper and the Sabeti paper. Unfortunately I can't seem to find DOIs for [Kelly](https://www.genetics.org/content/146/3/1197) or [Rozas](https://www.genetics.org/content/158/3/1147). Is there anything else I can do?
Thanks!

[2020-12-05 05:39] jdber1 commented on #2604
@kyleniemeyer just following up on this again

[2020-12-05 06:17] jbytecode commented on #2884
@whedon check references

[2020-12-05 06:18] whedon commented on #2884
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "author" (NAME) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:title=>["Julia: A fresh approach to numerical computing"], :doi=>["10.1137/141000671"]}]

[2020-12-05 06:19] jbytecode commented on #2884
@whedon check references

[2020-12-05 06:20] whedon commented on #2884
[code]

[2020-12-05 06:23] jbytecode commented on #2884
Dear editor @kyleniemeyer , it seems now it is okay. Thank you.

[2020-12-05 08:48] mikldk commented on #2884
@whedon assign me as editor

[2020-12-05 08:48] whedon commented on #2884
OK, the editor is @mikldk

[2020-12-05 09:56] glyg commented on #2888
@whedon commands

[2020-12-05 09:56] whedon commented on #2888
Here are some things you can ask me to do:

[code]

[2020-12-05 09:56] glyg commented on #2888
@whedon check references

[2020-12-05 09:56] whedon commented on #2888
[code]

[2020-12-05 11:37] kadyb commented on #2883
@whedon generate pdf

[2020-12-05 11:38] whedon commented on #2883
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02883/joss.02883/10.21105.joss.02883.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02883/joss.02883/10.21105.joss.02883.pdf) :page_facing_up: :point_left:

[2020-12-05 11:48] glyg commented on #2888
@whedon generate pdf

[2020-12-05 11:48] whedon commented on #2888
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02888/joss.02888/10.21105.joss.02888.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02888/joss.02888/10.21105.joss.02888.pdf) :page_facing_up: :point_left:

[2020-12-05 11:57] avik-pal commented on #2606
bump.

[2020-12-05 13:12] kadyb commented on #2883
Hello @kyleniemeyer, thank you for your reply. Please let us better explain why we fit the scope of the journal. We believe that our software meets the research software requirements, and it is no small utility or a simple API client. rgugik integrates multiple data sources of different formats and allows them to be used natively in R, making the researcher's work much easier and faster. The packa

[2020-12-05 14:23] goerz commented on #2809
@dpsanders Thanks for weighing in!

I'm pretty much done with verifying the software package, and it's looking pretty good to me. The manuscript itself is ok, but I feel that at the moment it's still targeted at a very narrow audience, and I'm going to recommend some fixes to make it accessible to non-specialists. I'll write up my recommendations on the manuscript sometime later this week. After t

[2020-12-05 14:28] AJQuinn commented on #2881
Hello - Thank you all for your time with our paper. I'll take a look at the reviewer list and make some suggestions. I've also fixed the affiliation issue in a branch and will try to recompile.

Please let me know if there is anything else I can do

[2020-12-05 14:28] AJQuinn commented on #2881
@whedon generate pdf from branch 33-joss-revisions

[2020-12-05 14:28] whedon commented on #2881
[code]

[2020-12-05 14:29] whedon commented on #2881
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02881/joss.02881/10.21105.joss.02881.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02881/joss.02881/10.21105.joss.02881.pdf) :page_facing_up: :point_left:

[2020-12-05 16:30] fboehm commented on #2474
@whedon generate pdf

[2020-12-05 16:30] whedon commented on #2474
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02474/joss.02474/10.21105.joss.02474.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02474/joss.02474/10.21105.joss.02474.pdf) :page_facing_up: :point_left:

[2020-12-05 16:52] fboehm commented on #2474
@OscartGiles - I've opened a pull request with a small addition; namely, I think that there should be a formal citation to Shiny. I've added the bib entry and placed the pandoc citation where it's needed. Once it's merged, I'll regenerate the pdf.

[2020-12-05 16:54] dfm commented on #2550
:wave: - @karllark any updates here? Let me know if you have any questions or if you run into any issues!

[2020-12-05 16:58] sylvaticus commented on #2849
Dear, I am pretty new to this open-format of reviewing papers. Please let me know if and when I am supposed to reply, in particular if I need to wait for the second reviewer and/or the editors, thank you :-)

[2020-12-05 17:00] eloisabentivegna commented on #2822
@albertonogueira, @Joao-L-S-Almeida, the review will now continue on issue #2862. Could you leave your comments there?

[2020-12-05 17:06] fboehm commented on #2800
@whedon generate pdf

[2020-12-05 17:06] whedon commented on #2800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: :point_left:

[2020-12-05 17:15] fboehm commented on #2800
@henrykironde - It looks like there are a couple small typos in the paper.md. I think that you should say "A Docker-based testing system" in place of "A Docker based testing systems". That is, change "systems" to "system" and insert a hyphen between "Docker" and "based". Once you make these fixes, we can proceed.

[2020-12-05 17:34] bast commented on #2842
Sorry for being slow. Working on it now and will submit the review before the weekend is over.

[2020-12-05 17:41] arfon commented on #2446
Thanks for flagging this @faroit. I had not realized that `thinkdsp.py` was essentially a dependency here, and not functionality implemented by the author.

@benjaminrose - I notice that you also are yet to check this box off. I'd appreciate your thoughts on this point too (our submission guidelines are here: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)

[2020-12-05 18:36] galessiorob commented on #2676
@whedon accept

[2020-12-05 18:36] whedon commented on #2676
[code]

[2020-12-05 18:37] whedon commented on #2676
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1965

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1965, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-05 18:37] whedon commented on #2676
[code]

[2020-12-05 18:41] galessiorob commented on #2676
@GregaVrbancic, @atanikan, @xiaohk thank you all so much for lending your time and expertise for this paper!

@nedRad88 a Chief Editor will do the final deposit and after that, your paper will be published on JOSS. Congrats! 🎉

[2020-12-05 18:43] galessiorob commented on #2805
@fduchatea checking in on the aforementioned requirements, want to make sure you'll be able to provide them so we can carry on with the review. Let me know if you have any questions!

[2020-12-05 19:05] kyleniemeyer commented on #2885
@jni understood, that's ok

[2020-12-05 19:05] kyleniemeyer commented on #2885
Hi @leouieda, could you edit this one?

[2020-12-05 19:06] kyleniemeyer commented on #2885
@whedon invite @leouieda as editor

[2020-12-05 19:06] whedon commented on #2885
@leouieda has been invited to edit this submission.

[2020-12-05 19:07] kyleniemeyer commented on #2638
@whedon generate pdf

[2020-12-05 19:08] whedon commented on #2638
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02638/joss.02638/10.21105.joss.02638.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02638/joss.02638/10.21105.joss.02638.pdf) :page_facing_up: :point_left:

[2020-12-05 19:09] kyleniemeyer commented on #2638
@chorscroft looks good, thanks! Those other two just don't seem to have DOIs.

[2020-12-05 19:09] kyleniemeyer commented on #2638
@whedon accept deposit=true

[2020-12-05 19:09] whedon commented on #2638
[code]

[2020-12-05 19:10] whedon commented on #2638
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1335300424014893064) 👈 🐦🐦🐦

[2020-12-05 19:10] whedon commented on #2638
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1966
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02638](https://doi.org/10.21105/joss.02638)
2. If everything looks g

[2020-12-05 19:13] kyleniemeyer commented on #2676
Hello @nedRad88, I'm the editor-in-chief on duty, doing some final checks.

In the Zenodo archive, you have one more person listed as an author than is on the paper. Can you clarify this? Normally we expect/require that the author lists match.

[2020-12-05 19:17] kyleniemeyer commented on #2638
Congrats @chorscroft on your article's publication in JOSS!

Many thanks to @juanvillada and @marcrr for reviewing this, and @lpantano for editing.

[2020-12-05 19:17] #2638 closed

[2020-12-05 19:17] whedon commented on #2638
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02638/status.svg)](https://doi.org/10.21105/joss.02638)

**We need your help!**

Journal of Open Source Softwa

[2020-12-05 19:29] nedRad88 commented on #2676
Hi @kyleniemeyer, I edited the zenodo upload. The authors should match now, and the one that was different is now labeled as a contributor. Is that ok now?

[2020-12-05 19:31] nedRad88 commented on #2676
Thanks a lot @galessiorob @GregaVrbancic @xiaohk @atanikan for everything! It was a pleasure!

[2020-12-05 19:40] AJQuinn commented on #2881
Hello again - some reviewer suggestions from the list in case it is helpful, happy to take a closer look through the list if needeed.

sappelhoff
alexrockhill
john-s-butler-dit
JanCBrammer

Cheers

[2020-12-05 19:43] kyleniemeyer commented on #2676
@whedon accept deposit=true

[2020-12-05 19:43] whedon commented on #2676
[code]

[2020-12-05 19:44] whedon commented on #2676
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1335309080165052418) 👈 🐦🐦🐦

[2020-12-05 19:44] whedon commented on #2676
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1967
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02676](https://doi.org/10.21105/joss.02676)
2. If everything looks g

[2020-12-05 19:53] ppalmes commented on #2849
I would suggest you can reply to @ablaom review questions/comments because it can help also hasten the review process so that I can just focus on those issues not covered by both of your conversations if I still need more clarifications.

[2020-12-05 20:04] AlexMikes commented on #2362
@gkthiruvathukal @srmnitc I addressed the three open issues with resolutions that I hope will be sufficient for final acceptance.

[2020-12-05 21:07] kyleniemeyer commented on #2676
Congrats @nedRad88 on your article's publication in JOSS!

Many thanks to @GregaVrbancic, @atanikan, and @xiaohk for reviewing this, and @galessiorob for editing.

[2020-12-05 21:07] #2676 closed

[2020-12-05 21:07] whedon commented on #2676
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02676/status.svg)](https://doi.org/10.21105/joss.02676)

**We need your help!**

Journal of Open Source Softwa

[2020-12-05 21:10] gkthiruvathukal commented on #2362
@AlexMikes Thanks so much!

@srmnitc Can you take one final look so I can move this forward? I think @AlexMikes has worked to address your feedback.

[2020-12-05 22:25] vahid-sb commented on #2880
Dear @adi3, I removed that sentence altogether since it has nothing to do with Mitepid_sim in particular and I do not want to turn the documentation into a resource for teaching the basics of python. And I am happy to make any changes that make the repo better and would be grateful for any such suggestion from you or anybody else, but I'd be also grateful if you'd be kind enough to tell me all suc

[2020-12-05 22:42] adi3 commented on #2880
@vahid-sb Thank you for making the change. I'm afraid it is not possible for me to give you all the required changes in one batch. The process of reviewing is iterative and as I go through the checklist, some things are interrelated so we have to approach them in discrete steps. We are not aiming for an easy publication process here, but a high standard one.

Now, going through your paper, I see a

[2020-12-06 00:25] kbarnhart commented on #2804
@johnjarmitage and @cmshobe - thanks for your reviews.
@tristan-salles - thanks for addressing reviewer issues.

Based on the discussion, it seems like there are no more reviewer comments. If this is the case, could both reviewers:
(a) look through their checklists (earlier on this thread) and check off completed boxes. If there are any remaining comments related to checking off an item, of course

[2020-12-06 00:27] kbarnhart commented on #2276
@KevinShook another quick check in from me (I'm trying to do this about once a month). Of course no rush if you and co-authors are still working to address the remaining technical and documentation issues.

[2020-12-06 02:55] KevinShook commented on #2276
Thanks very much.
We're nearly finished. The revised code has been pushed to our GitHub repo, as has the revised paper.
I believe that we have addressed all of the concerns with the program, and
I'm just waiting for the approval of two the co-authors on the paper and the program manual,
to reply to all of the issues.

[2020-12-06 05:44] henrykironde commented on #2800
Covered, let me know in case I missed something.

[2020-12-06 10:51] Jammy2211 commented on #2825
Oops. I've rephrased this to `which cam make a background source galaxy appear multiple times'.

intervening mass of the foreground galaxy"

I don't want reads to think PyAutoLens only models single galaxy-galaxy strong lens system, as the method can be used to model systems with multiple foreground galaxies (and clusters of galaxies). I agree your suggested text is cleaner, but AutoLens has in th

[2020-12-06 11:49] Jammy2211 commented on #2825
Oh wow, those tagged releases are _old_. I think we disabled a lot of the release tagging early in development for reasons I now don't remember, but was probably very bad practise (I was learning Python along the way).

We don't have old releases as far as I can tell. I'll speak to my codeveloper about this, I'll sort out the GItHub tagging and if its possible I could dig up some old PyPI releases

[2020-12-06 13:22] aureliocarnero commented on #2825
Dear @Jammy2211 , thank you the changes in the manuscript. I also congratulate for the extensive tutorials. That's nice to see.
After you solved the manuscript changes and the comments from @zonca , I also finish my review

[2020-12-06 14:21] Jammy2211 commented on #2825
Agreed and edited.

Gone with your latter suggestion - it is more clear I agree.

Ive added a sentence clarifying that the lens light is simutlaneously fitted for and subtracted.

I prefer it as a paragraph, stylistically this is more how I'm used to reading an introduction.

I agree the term abstracted objects isnt clear... I've gone for "A gravitational lens system can be quickly assembled from

[2020-12-06 15:42] fboehm commented on #2800
@whedon generate pdf

[2020-12-06 15:43] whedon commented on #2800
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02800/joss.02800/10.21105.joss.02800.pdf) :page_facing_up: :point_left:

[2020-12-06 15:44] fboehm commented on #2800
@whedon check references

[2020-12-06 15:44] whedon commented on #2800
[code]

[2020-12-06 15:46] fboehm commented on #2800
@henrykironde - would you make a tagged release on github and archive that release at a service like zenodo? After you've done that, please report the version number and doi in a comment on this thread. Thanks!!

[2020-12-06 15:47] fboehm commented on #2800
Also, @henrykironde - please double-check the latest proof. Be sure that the author list is as you want it to be.

[2020-12-06 17:02] r-barnes commented on #2856
@mikldk: I've been a little slow with my reviews lately, but I could probably find time. The fact that this is already on CRAN means that it's passed a series of peer-reviews already with respect to various aspects of code quality, so a priori I don't expect too much difficulty.

[2020-12-06 19:29] arfon commented on #2278
@ledell - many thanks for your detailed review here. Your efforts are most appreciated (as are @pat-s' and @mirca's).

@sayanddude - It's clear that this package still requires substantial work to pass the review here, and given that this submission has been flagged as requiring substantial work (`pending-major-enhancements`) for some time, at this point I believe it is most appropriate to reject

[2020-12-06 19:29] #2278 closed

[2020-12-06 19:37] bradyrx commented on #2781
Hi @darothen, just a friendly reminder on this! I know it's a busy time -- I'm a week or so out from finishing my dissertation writing. So take the time you need, and we'll be eager to hear your thoughts.

[2020-12-06 20:53] dhhagan commented on #2755
@whedon add @sahilseth as reviewer

[2020-12-06 20:53] whedon commented on #2755
OK, @sahilseth is now a reviewer

[2020-12-06 20:53] dhhagan commented on #2755
@whedon start review

[2020-12-06 20:53] whedon opened #2890 "[REVIEW]: ambrosia: An R package for calculating and analyzing food demand and in accordance with the Edmonds et al. food demand model"
**Submitting author:** @kanishkan91 (<a href="http://orcid.org/0000-0001-8483-6216">Kanishka Narayan</a>)
**Repository:** <a href="https://github.com/JGCRI/ambrosia" target ="_blank">https://github.com/JGCRI/ambrosia</a>
**Version:** v1.3.5
**Editor:** @dhhagan
**Reviewers:** @tscheypidi, @jhollist
**Archive:** <a href="https://doi.org/10.5281/zenodo.4628567" target="_blank">10.5281/zenodo.4628567

[2020-12-06 20:53] whedon commented on #2755
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2890.

[2020-12-06 20:53] #2755 closed

[2020-12-06 20:53] whedon commented on #2890
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tscheypidi, @sahilseth it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-12-06 20:54] whedon commented on #2890
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02890/joss.02890/10.21105.joss.02890.pdf) :page_facing_up: :point_left:

[2020-12-06 20:54] whedon commented on #2890
[code]

[2020-12-06 21:32] briandesilva commented on #2828
First I'd like to thank @jordanperr for your comprehensive review of our package. I have just pushed changes that I believe address your comments under Documentation, Examples, and Code. A couple follow-up items:

Do you have any suggestions for how we should address this? One option could be to narrow the versions of python the package is compatible with to 3.6-3.8 until Scikit-learn releases pyt

[2020-12-07 00:42] rfezzani commented on #2818
Hi @jni, sorry again for my late answer.

`Cellocity` submission meets all JOSS requirements in terms of license, functionalities, documentation, and validation. I recommend  acceptance.

[2020-12-07 00:50] terrytangyuan commented on #2606
@Paul92 and @urbanophile, did you get a chance to review this yet?

[2020-12-07 00:50] terrytangyuan commented on #2849
Yes, @sylvaticus please respond existing feedback while we are waiting for additioinal feedback from @ppalmes. Thanks.

[2020-12-07 02:10] jkarreth commented on #2815
Just a quick heads up that I will start my review in the next couple of days. I'm therefore un-checking the boxes in my section of the checklist. If I find anything that needs to be addressed, I will create a new issue in the [effectsize repository](https://github.com/easystats/effectsize) and link to those issues here.

[2020-12-07 06:23] sjpfenninger commented on #2695
@milicag We are not asking you to chose a different license for the Zenodo archive. I do see that the LBNL BSD license is not a pre-defined choice on Zenodo. However you can choose as license "Other (Open)", then ensure that your license file which contains the BSD LBNL license is included at the root level of the Zenodo deposition (this should be no issue, as it's in the root of your repository).

[2020-12-07 06:32] milicag commented on #2695
@sjpfenninger Sounds good. I just modified the archive.

[2020-12-07 07:46] mikldk commented on #2884
@jbytecode Do you have any reviewer suggestions?

[2020-12-07 07:47] mikldk commented on #2856
Thanks, @r-barnes , that sounds really good. Thanks. I'll add you as reviewer in the review issue.

[2020-12-07 07:48] mikldk commented on #2878
@whedon add @r-barnes as reviewer

[2020-12-07 07:48] whedon commented on #2878
OK, @r-barnes is now a reviewer

[2020-12-07 07:50] mikldk commented on #2878
@r-barnes: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this review thread.

If

[2020-12-07 07:51] mikldk commented on #2815
Thanks to you both for the update, @trashbirdecology and @jkarreth :+1:.

[2020-12-07 08:02] oliviaguest commented on #2887
@whedon assign @oliviaguest as editor

[2020-12-07 08:02] whedon commented on #2887
OK, the editor is @oliviaguest

[2020-12-07 08:03] oliviaguest commented on #2887
@markusrobertjonsson can you address the missing DOIs and when you get some time drop some names for reviewers, please? 😊

[2020-12-07 08:27] jbytecode commented on #2884
Dear editor @mikldk ,

There is not a referee that I can specifically recommend in the list but rMassimiliano, salleuska, OmarShehata, gagolews, brunaw, degleris1, and, daviddewhurst have keywords Julia and Statistics in their preferred language and interest sections. They are listed on the bottom of the list.

[2020-12-07 09:13] johnjarmitage commented on #2804
I am happy with the submission. Its a great wee model that Tristan, Claire and Sabin developed. I hope it gets used.

[2020-12-07 09:17] whedon commented on #2871
:wave: @jayten, please update us on how your review is going.

[2020-12-07 09:17] whedon commented on #2871
:wave: @ctdegroot, please update us on how your review is going.

[2020-12-07 09:20] tristan-salles commented on #2804
Thanks @johnjarmitage !

[2020-12-07 09:43] sjpfenninger commented on #2695
@milicag: Great. The license is set to "Creative Commons Attribution 4.0 International" though. Can you set it to "Other (Open)"?

[2020-12-07 09:51] pdebuyl commented on #2854
@shreyasbapat @jiwoncpark gentle reminder

There are several ways to proceed with the review. You can check the items and proceed with direct feedback to the author or prepare a bulk review. Either way is fine, feel free to ask questions here about it.

[2020-12-07 09:57] pdebuyl commented on #2828
Hi @briandesilva thanks for the update. Did you address all concerns at this point so that the reviewers can take a look at the project again?

[2020-12-07 10:00] pdebuyl commented on #2888
@whedon assign me as editor

[2020-12-07 10:00] whedon commented on #2888
OK, the editor is @pdebuyl

[2020-12-07 10:04] OscartGiles commented on #2474
@fboehm - Excellent. Thanks for making the change. I've merged in.

[2020-12-07 10:09] tuelwer commented on #2828
@whedon generate pdf

[2020-12-07 10:10] whedon commented on #2828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: :point_left:

[2020-12-07 10:11] breezykermo commented on #2131
Sorry I haven't got around to this! Happy to hand to @adi3

[2020-12-07 10:16] adi3 commented on #2131
@breezykermo since JOSS papers require 2 reviewers, I would suggest we both do it. I have reviewed for JOSS in the past and can guide you through the review process, although I think the documentation is already quite helpful with this.
@kthyng @poulson your call :)

[2020-12-07 10:19] tuelwer commented on #2828
@briandesilva, @kmanohar thank you for adding the description of the problem setting. Some minor remarks: the index i is not defined. Perhaps you want to add `for i=1...n` or something similar. Also it would be nice to state the shape of y, C and x and to make clear that y usually has less entries than x.

[2020-12-07 10:26] justusschock commented on #2868
* __Installation:__ With Python 3.9 it does not work, although the documentation states, it should just be Python>=3.6
[code]
With Python 3.8.5 it works fine! Maybe having the installation instructions also in the readme and not only in the linked documentation would be nice.

* __State of Need:__
While it is clearly stated, why the software is necessary and how it compares to other available soft

[2020-12-07 10:45] jodemaey commented on #2597
Hi @sadielbartholomew ,

When can I reasonably expect your review to be final? I need that information to plan my week of work.

Thank you in advance.

[2020-12-07 10:47] sayanddude commented on #2278
Thanks @arfon!  I understand the decision taken and would definitely consider JOSS for submission in the future as I believe that this journal is a step in the right direction when compared to the review process in some of the top scopus indexed journals or the ones with high impact factor!
Just one feedback- It would be great if the reviewers are taken only if they can comment on the work done by

[2020-12-07 11:02] mikldk commented on #2884
@salleuska, @rMassimiliano: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-12-07 11:29] cMadan commented on #2810
@ClaudioZandonella, how are the revisions coming along?

[2020-12-07 11:32] arfon commented on #2278
Thanks for your kind words and understanding @sayanddude.

[2020-12-07 11:48] sjpfenninger commented on #2695
@milicag Actually I checked with Zenodo support and the license should be available However it is called "Lawrence Berkeley National Labs BSD variant license" on Zenodo (if you enter some or all of those terms in the search field on upload, you should see it). If you can pick that license, the Zenodo deposition gets the correct license metadata and all should be well.

[2020-12-07 11:57] ClaudioZandonella commented on #2810
Dear @cMadan I have integrated all the useful suggestions and comments by @mmrabe and @DominiqueMakowski.

The only missing issue is ClaudioZandonella/PRDA#2 regarding the upload of the package to CRAN. I have re-submitted the package to CRAN after they required a few changes to abide by their policy. In a few days, everything should be ok and I will be able to ultimate the revision.

[2020-12-07 12:21] oliviaguest commented on #2887
@whedon add @themkar as reviewer

[2020-12-07 12:21] whedon commented on #2887
OK, @themkar is now a reviewer

[2020-12-07 13:17] milicag commented on #2695
@brynpickering That makes more sense, it shows in the search box after I start typing. The archive license should now be set to LBNLBSD. Thank you for checking with them.

[2020-12-07 13:23] kakiac commented on #2886
@kyleniemeyer I have some capacity and would be happy to be assigned as the editor for this submission 😄

[2020-12-07 13:24] kakiac commented on #2886
@whedon assign me as editor

[2020-12-07 13:24] whedon commented on #2886
OK, the editor is @kakiac

[2020-12-07 13:35] kakiac commented on #2876
Dear @MohmedSoudy, many thanks for these comments. Can I ask you to also update the checklist available at the top of this issue (https://github.com/openjournals/joss-reviews/issues/2876) under your username, as you go through with your review? Reviewing for JOSS is slightly different from other journals in that we ask reviewers to also validate/run the code in the submitted repository - see here:

[2020-12-07 13:48] GustaveCoste commented on #2765
Is there a way to already have the link to the published paper? I would like to add it in the archive and the release metadata.
[Here is the release on Eldam's repo](https://framagit.org/GustaveCoste/eldam/-/releases/JOSS) and [here is an unpublished draft version of the archive](https://data.inrae.fr/privateurl.xhtml?token=1600e0ac-1ba8-478b-aaa4-87ad30643eb6 ).

[2020-12-07 13:54] oliviaguest commented on #2887
@whedon add @CatarauCorina as reviewer

[2020-12-07 13:54] whedon commented on #2887
OK, @CatarauCorina is now a reviewer

[2020-12-07 13:55] oliviaguest commented on #2887
@whedon add @jkbye as reviewer

[2020-12-07 13:55] whedon commented on #2887
OK, @jkbye is now a reviewer

[2020-12-07 13:55] oliviaguest commented on #2887
@whedon start review

[2020-12-07 13:55] whedon opened #2891 "[REVIEW]: Learning Simulator: A simulation software for animal and human learning"
**Submitting author:** @markusrobertjonsson (<a href="http://orcid.org/0000-0003-1242-3599">Markus Jonsson</a>)
**Repository:** <a href="https://github.com/learningsimulator/learningsimulator" target ="_blank">https://github.com/learningsimulator/learningsimulator</a>
**Version:** v1.0.1
**Editor:** @oliviaguest
**Reviewers:** @themkar, @CatarauCorina
**Archive:** <a href="https://doi.org/10.5281/

[2020-12-07 13:55] whedon commented on #2887
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2891.

[2020-12-07 13:55] #2887 closed

[2020-12-07 13:55] whedon commented on #2891
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @themkar, @CatarauCorina, @jkbye it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog po

[2020-12-07 13:55] ethanwhite commented on #2856
Sorry for being slow on this (just starting to dig out as the semester comes to an end). Looks like you have this one covered, but definitely keep me in mind for next time.

[2020-12-07 13:56] whedon commented on #2891
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02891/joss.02891/10.21105.joss.02891.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02891/joss.02891/10.21105.joss.02891.pdf) :page_facing_up: :point_left:

[2020-12-07 14:14] karllark commented on #2550
I will be able to carry out this review this week.  Apologies for the delay.  I plead JWST proposal deadline, holidays, and 2020.  ;-)

[2020-12-07 14:28] Jammy2211 commented on #2550
No problem @karllark, JWST proposals have ruined the lives of many people around me in the past few weeks :P !

[2020-12-07 14:31] oliviaguest commented on #2891
Hi all! 👋 Thank you so much — @themkar, @CatarauCorina, and @jkbye — for accepting to review this. Please read the instructions above. Any questions, feedback on the paper, etc., please post here. Any very code-specific questions, suggestions, etc., please use the issues in the code repo and link to them from this thread so we can all keep track of them. 🌸

For an example of how this process plays

[2020-12-07 14:41] whedon commented on #2872
:wave: @dglmoore, please update us on how your review is going.

[2020-12-07 14:41] whedon commented on #2872
:wave: @marcjwilliams1, please update us on how your review is going.

[2020-12-07 14:58] prdm0 commented on #2769
@timtroendle, I'm waiting for some feedback from @sahilseth so that I can implement all suggestions for improvement from both reviewers.

Kind regards.

[2020-12-07 15:04] benjaminrose commented on #2446
@arfon, this is a small project and the scholarly effort is near JOSS’s minimum requirement. In general, I think that science benefits from allowing more works to be published rather than fewer.

This specific case misses most of the examples in the JOSS documentation. However, I feel like this project could have a major impact on the field. In the study of odd astrophysical transients, a field th

[2020-12-07 15:18] sahilseth commented on #2890
@dhhagan Could you please re-add me as a reviewer, I am seeing the following message:
Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.

[2020-12-07 15:21] sahilseth commented on #2769
@timtroendle Could you please re-add me as a reviewer, I am not able to submit feedback. Sorry, we couldn't find that repository invitation.

[2020-12-07 15:30] timtroendle commented on #2769
Sure. Not sure why you weren't assigned, sorry about that. Did this work?

[2020-12-07 15:35] pdebuyl commented on #2888
@smsaladi can you review the article "Tyssue, en Epithelium simulation library" for JOSS?

[2020-12-07 15:58] briandesilva commented on #2828
@pdebuyl

We've yet to address Jordan's comments regarding the paper. I'll post here once the associated changes have been made.

[2020-12-07 16:20] fboehm commented on #2474
@whedon generate pdf

[2020-12-07 16:20] whedon commented on #2474
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02474/joss.02474/10.21105.joss.02474.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02474/joss.02474/10.21105.joss.02474.pdf) :page_facing_up: :point_left:

[2020-12-07 16:23] kthyng commented on #2131
@breezykermo and @adi3 yes we do want to have two reviewers. Since @poulson is the handling editor, he'll need to decide, but thank you for your willingness to review in the meantime!

[2020-12-07 16:24] fboehm commented on #2474
@tomaslaz and @OscartGiles - Please make a tagged release of the software package and archive it on a service like Zenodo. Then report in this thread the software version number and the doi for the archive. Thanks!

[2020-12-07 16:53] sahilseth commented on #2769
I was still getting the same error if you would like o re-add me as a reviewer, I will try again. If not, I can copy-paste the review as a comment here tonight.

[2020-12-07 16:56] timtroendle commented on #2769
@whedon add @sahilseth  as reviewer

[2020-12-07 16:56] whedon commented on #2769
OK, @sahilseth  is now a reviewer

[2020-12-07 16:56] timtroendle commented on #2769
I gave it another try. Please let me know if it works now.

[2020-12-07 16:57] sahilseth commented on #2769
Perfect, that worked

[2020-12-07 17:55] sadielbartholomew commented on #2597
Hi @jodemaey, I'm not far off with finalising the review so will try tonight (early hours of Tuesday UTC) to report on anything I consider outstanding towards acceptance. If not, I'll definitely be done by Wednesday night. Thanks again for your patience.

[2020-12-07 18:00] smsaladi commented on #2888
@pdebuyl Thanks for thinking of me, but it's not a great time for me right now (wouldn't be able to respond within the next month). Hope I can help in the future though...

[2020-12-07 18:18] dglaeser commented on #2291
Great, thanks a lot to everybody! I'll work on the TODOs throughout this week and let you know once I am done. Thanks again!

[2020-12-07 18:33] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch please can you pick this review up again? Thanks

[2020-12-07 18:46] kyleniemeyer commented on #2886
@kakiac sure! Never a problem when someone volunteers to edit!

[2020-12-07 19:08] zonca commented on #2825
@Jammy2211 thanks for addressing the feedback, please push your changes to the repository or in a pull request.

My only followup is:

ok, I think it is useful to specify in the performance section if your code is threaded in some sections (even just using the MKL version of numpy that automatically threads) or if it is fully single threaded.

Also, in the performance section you can give a specif

[2020-12-07 19:16] zonca commented on #2825
## Feedback on the repository

ok, I deleted the solved issues, here just the ones I am following up on:

yes, it mostly useful just to tag the last 3 or 4. Or if you know most of your users always use the last version, even just tag the last one and keep tagging it as you publish newer releases.

It is really easy to setup a Github action to run the test suite, otherwise you find yourself in the

[2020-12-07 20:27] dhhagan commented on #2479
@apalarcon Finally got the second reviewer (@kgoebber) - sorry for the long delay.

[2020-12-07 20:39] erinyoung commented on #2334
I was able to run the test case, and it looks like it ran fine.

[2020-12-07 20:59] erinyoung commented on #2334
Now I want to be a pain and run it on my data. I haven't been able to connect directly to my MiSeq. It seems like sneakernet can be run on fastq files and organize them appropriately. Here's what I tried:
[code]
And got the following output
[code]
And the following files :
[code]
It seems like it's trying to copy over my fastq R1 twice. `SampleSheet.csv`, `samples.tsv`, and `snok.txt` are empty.

[2020-12-07 21:54] pdebuyl commented on #2888
Thank you @smsaladi for your prompt reply! You remain in the list of reviewers, no worry.

[2020-12-07 21:55] pdebuyl commented on #2888
PS @smsaladi you might want to unsubscribe to this github issue else you will keep on receiving notifications.

[2020-12-07 22:26] fduchatea commented on #2805
@galessiorob we understand that it is an issue not to let individuals create tickets. We have migrated to a more open platform and we are discussing about mentioned requirements.
https://gitlab.com/fduchate/predihood

[2020-12-08 00:23] IgorBaratta commented on #2831
I've opened a few issues on the repository, but I guess they are easy to solve (or to answer). There are still a few un-ticked boxes on the checklist, and they are mostly related to these issues. I will elaborate more on the others as soon as those issues are tackled.

I'd like to add I liked the structure of the software, it's well written with good documentation. The Vform classes are especially

[2020-12-08 01:36] jcmcnch commented on #2817
Hi @will-rowe @akrinos  sorry for not getting back to you both sooner with this. I have been busy until recently and had unsubscribed from notifications (because I was getting about a dozen notifications from JOSS daily from unrelated reviews - perhaps something can be done by JOSS to prevent this). I am back on the case now, and will provide my comments ASAP, by the end of this week at the latest

[2020-12-08 02:12] jcmcnch commented on #2817
@akrinos , I just ran the test suite and it seems to work find just by providing the yaml file as you describe, and everything seems to work - the errors mentioned above by Johannes seem to be fixed, except BUSCO generates no output. Is this expected? I checked the logs as recommended by the text printed to the screen but they were all empty. Here's the output I got:

[code]

[2020-12-08 08:52] oliviaguest commented on #2891
@whedon check references

[2020-12-08 09:01] whedon commented on #2891
[code]

[2020-12-08 09:37] csoneson commented on #2864
👋 @xie186 - could you give us an update on how your review is progressing? Thanks!

[2020-12-08 09:47] arfon commented on #2874
@whedon reject

@Athanasiamo - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/ci

[2020-12-08 09:47] #2874 closed

[2020-12-08 09:48] whedon commented on #2874
Paper rejected.

[2020-12-08 09:51] Athanasiamo commented on #2874
Thank you for considering the submission, and for providing alternative possibilities.

[2020-12-08 10:25] sjpfenninger commented on #2695
@whedon set 10.5281/zenodo.4305504 as doi

[2020-12-08 10:25] whedon commented on #2695
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-12-08 10:25] sjpfenninger commented on #2695
@whedon set 10.5281/zenodo.4305504 as archive

[2020-12-08 10:26] whedon commented on #2695
OK. <a href="https://doi.org/10.5281/zenodo.4305504" target="_blank">10.5281/zenodo.4305504</a> is the archive.

[2020-12-08 10:26] sjpfenninger commented on #2695
@whedon accept

[2020-12-08 10:26] whedon commented on #2695
[code]

[2020-12-08 10:27] sjpfenninger commented on #2695
Thanks @milicag for bearing with us. Looks all good now!

[2020-12-08 10:27] whedon commented on #2695
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1968

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1968, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-12-08 10:28] sjpfenninger commented on #2765
I do not believe there is. Can you update the archive with the DOI after publication?

[2020-12-08 10:28] arfon commented on #2875
@whedon reject

@sebastien-plutniak - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activi

[2020-12-08 10:28] whedon commented on #2875
Paper rejected.

[2020-12-08 10:28] sjpfenninger commented on #2677
@TheoChristiaanse Can you give an update on how things are going?

[2020-12-08 10:29] whedon commented on #2695
[code]

[2020-12-08 10:29] arfon commented on #2865
@whedon assign @bmcfee as editor

[2020-12-08 10:29] whedon commented on #2865
OK, the editor is @bmcfee

[2020-12-08 10:30] arfon commented on #2857
@lpantano would you be able to edit this submission?

[2020-12-08 11:47] markusrobertjonsson commented on #2891
@oliviaguest missing DOIs addressed. If you need it, additional reviewer suggestions are satpreetsingh and seba-1511.

[2020-12-08 11:55] chennachaos commented on #2699
Hi @flofaucher.
Thank you for your updates. All the updates are to a satisfactory level.

I have checked the installation as well. It went smoothly. I also tested the code with the acoustic benchmark example in the tutorial section. The simulation ran successfully. The library is impressive. I would certainly recommend it to anybody working on wave propagation problems. I have the following minor

[2020-12-08 13:04] GustaveCoste commented on #2765
I can but an update of the metadata will generate a new minor version of the archive. It may be better to publish the archive only once the paper url is available.

[2020-12-08 13:33] tramarobin commented on #2839
@cMadan, thank you for your helpful feedbacks. We have modified the article as recommended and some colleagues not involved in the project helped us to clarify some points.
The new version has been updated on the GitHub repository.

[2020-12-08 13:49] salleuska commented on #2884
Hi @mikldk sorry for the late reply, I missed the github notification. Sure I'll be happy to review this submission.

[2020-12-08 13:53] rMassimiliano commented on #2884
Hi @mikldk, I would also be happy to review the submission!

[2020-12-08 14:06] oliviaguest commented on #2891
@whedon check references

[2020-12-08 14:06] oliviaguest commented on #2891
@whedon generate pdf

[2020-12-08 14:06] whedon commented on #2891
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02891/joss.02891/10.21105.joss.02891.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02891/joss.02891/10.21105.joss.02891.pdf) :page_facing_up: :point_left:

[2020-12-08 14:08] oliviaguest commented on #2891
@whedon check references

[2020-12-08 14:10] whedon commented on #2891
[code]

[2020-12-08 14:14] mikldk commented on #2884
That's great, @salleuska and @rMassimiliano - thanks.

[2020-12-08 14:16] mikldk commented on #2884
@whedon add @salleuska as reviewer

[2020-12-08 14:16] whedon commented on #2884
OK, @salleuska is now a reviewer

[2020-12-08 14:16] oliviaguest commented on #2891
@markusrobertjonsson great! 😊

[2020-12-08 14:16] mikldk commented on #2884
@whedon add @rMassimiliano as reviewer

[2020-12-08 14:17] whedon commented on #2884
OK, @rMassimiliano is now a reviewer

[2020-12-08 14:17] mikldk commented on #2884
@whedon start review

[2020-12-08 14:17] whedon opened #2892 "[REVIEW]: LinRegOutliers: A Julia package for detecting outliers in linear regression"
**Submitting author:** @jbytecode (<a href="http://orcid.org/0000-0002-9402-1982">Mehmet Hakan Satman</a>)
**Repository:** <a href="https://github.com/jbytecode/LinRegOutliers" target ="_blank">https://github.com/jbytecode/LinRegOutliers</a>
**Version:** v0.8.5
**Editor:** @mikldk
**Reviewers:** @salleuska, @rMassimiliano
**Archive:** <a href="https://doi.org/10.5281/zenodo.4419418" target="_blank

[2020-12-08 14:17] whedon commented on #2884
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2892.

[2020-12-08 14:17] #2884 closed

[2020-12-08 14:17] whedon commented on #2892
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @salleuska, @rMassimiliano it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-12-08 14:18] whedon commented on #2892
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02892/joss.02892/10.21105.joss.02892.pdf) :page_facing_up: :point_left:

[2020-12-08 14:18] whedon commented on #2892
[code]

[2020-12-08 14:18] mikldk commented on #2892
@salleuska, @rMassimiliano: Thanks for agreeing to review. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to avoid too specific discussions in this

[2020-12-08 14:53] whedon commented on #2876
:wave: @schnorr, please update us on how your review is going.

[2020-12-08 15:20] sebastien-plutniak commented on #2875
@arfon Thank you for this feedback. May I ask you more about the criteria to determine the “minor utility” category? (should the submission be relevant for more than a specific discipline? in this case archaeology). More information would help me to consider resubmitting (or not) this paper/package. Thank you.

[2020-12-08 15:33] arfon commented on #2875
Apologies, I should have stated "substantial scholarly effort" as the reason here. You can read more about this here: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

[2020-12-08 15:33] #2875 closed

[2020-12-08 15:36] MohmedSoudy commented on #2876
For me i think much efforts could be done as the author didn't update the
statement of need that compare his package with available packages in CRAN
or Bioconductor and i believe this is a crucial part in the paper to show
the novelty or the contribution of this work.

On Tue, Dec 8, 2020 at 4:54 PM whedon <notifications@github.com> wrote:

--
*Regards,*
*Mohmed Soudy Mohmed*

*Research Associate*

[2020-12-08 15:46] lpantano commented on #2857
@whedon assign @lpantano as editor

[2020-12-08 15:46] whedon commented on #2857
OK, the editor is @lpantano

[2020-12-08 15:51] milicag commented on #2695
@sjpfenninger, this was an interesting and new journey! Thank you all for the contibutions and improvements to the documentation, the code, and the paper. I learned a lot.

[2020-12-08 15:59] sebastien-plutniak commented on #2875
Thank you for this. In this case, I was aware of the “substantial scholarly effort” when reading the requirements for submission. Sorry for reacting to the rejection decision, but this package (and its forthcoming companion paper) are the results of an ongoing development since 2014, including four conference presentations and advice from several supporting colleagues… so actually much more than “

[2020-12-08 16:18] oalii commented on #2831
@IgorBaratta ,
thank you for your issues, I've provided some answers.
@Kevin-Mattheus-Moerman , regarding the licence CeCILL-C, can you tell me if it is acceptable by the journal or should we change to another officially listed on the OSI website (like CeCILL-2.1) ?

[2020-12-08 16:19] shashwat-bhattacharya commented on #2185
Hello @jedbrown
First, thanks a lot for your suggestions. Please accept our apologies for our delay in getting back to you; we are all working remotely under rather suboptimal conditions because of COVID-19 pandemic.

* We agree that asking users to modify Makefile is not a good practice. We wish to clarify that the users will not be required to edit the makefile as long as all the dependencies ar

[2020-12-08 16:22] shashwat-bhattacharya commented on #2185
Again, thanks for your suggestions @jedbrown .

* We have replaced \mathbf with \boldsymbol everywhere. This should resolve the ambiguity concerning ‘l'.

* “Phys of Fluids” has been corrected to “Physics of Fluids”. Thanks for pointing this out and sorry for this typo!

* We have removed the capitalization in the yaml-cpp reference.

* Thanks a lot for your suggestion in improving the performance

[2020-12-08 16:30] sylvaticus commented on #2849
# Author's response to @ablaom review 1

Above all, I would like to thanks the reviewer for having taken the time to provide the review and the useful suggestions he brings. I have implemented most of them, as they helped improving the software.

My detailed response is below.

[code]
While "most" of the functionality is indeed already present, from the user point of view, they are not necessarily

[2020-12-08 16:33] arfon commented on #2875
Yes, resubmissions are welcome if/when further investments are made into this package.

[2020-12-08 16:39] crvernon commented on #2782
@whedon generate pdf

[2020-12-08 16:39] whedon commented on #2782
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: :point_left:

[2020-12-08 16:55] flofaucher commented on #2699
Hi @chennachaos,
Thank you for your comments and positive feedback.
I have done the changes:
 - color bars have been added in all of the pictures oft the Tutorial section
 - I have updated the bibliography of the paper, in particular removing the ones that are not yet online.
I cc @meg-simula, please let me know if there is anything I can do now.

[2020-12-08 17:08] crvernon commented on #2782
@whedon generate pdf

[2020-12-08 17:09] whedon commented on #2782
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02782/joss.02782/10.21105.joss.02782.pdf) :page_facing_up: :point_left:

[2020-12-08 17:18] crvernon commented on #2782
@kthyng I updated the references to be formatted correctly.  Thank you for catching that!  The person who originally linked the `hectorui` repository with Zenodo is no longer with our organization.  This keeps me from being able to edit the metadata of the Zenodo record to update the citation as you requested.  I have contacted Zenodo to see if they can terminate the existing connection so that I

[2020-12-08 18:16] IgorBaratta commented on #2831
@whedon generate pdf

[2020-12-08 18:17] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2020-12-08 19:17] juliohm commented on #2829
Awesome @vlandau , much better! I could finally understand the expected output :ok_hand:

I will proceed with the review now.

[2020-12-08 19:19] juliohm commented on #2829
Regarding the Documenter hanging at the plot steps, perhaps you are experiencing the same issue as I am with the latest stable release of Plots.jl? https://github.com/JuliaPlots/Plots.jl/issues/3164 Comment there if you can reproduce the issue. Otherwise just ignore this comment.

[2020-12-08 19:23] juliohm commented on #2829
![image](https://user-images.githubusercontent.com/3345261/101531088-888d9580-3971-11eb-8160-c80b620ce41e.png)

You claim 3 different outputs in the section above. Can you please show this functionality in the example as well? Would it be easy to produce the two other optional outputs?

[2020-12-08 19:24] haesleinhuepf commented on #2689
I'm also happy to accept it.
@jini please press the button ;-)

[2020-12-08 19:32] juliohm commented on #2829
Before I continue with the review of the paper, please consider addressing the two issues raised in previous comments about the package documentation:

1. A clear statement of need must be present in the very beginning of the documentation. Your documentation is currently starting with the description of an algorithm without any motivation or description of the problem being solved. Add a simple s

[2020-12-08 19:48] vlandau commented on #2829
Yes definitely! I can work on that this week. I'll also add a statement of need to the landing page of the docs. Additional examples may be included in the future, so if it is okay I'll leave the examples in a dedicated section and provide a link to that section immediately following the statement of need.

[2020-12-08 20:08] juliohm commented on #2829
That is fine. Make sure that the links are emphasized and that the
algorithm explanation is a bonus for the curious reader. This will improve
the user/reader experience.

Em ter., 8 de dez. de 2020 às 16:48, Vincent Landau <
notifications@github.com> escreveu:

[2020-12-08 20:09] vlandau commented on #2829
Will do. Thanks all this feedback so far. It has been super helpful so far and is making for MUCH better docs.

[2020-12-08 21:03] chennachaos commented on #2699
Hi @meg-simula.
@flofaucher has responded promptly and addressed all the concerns. I am happy with the current state of the library. I recommend **hawen** for publication in the JOSS.

Thank you for opportunity!

[2020-12-08 21:16] jgostick commented on #2861
@whedon generate pdf

[2020-12-08 21:16] whedon commented on #2861
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02861/joss.02861/10.21105.joss.02861.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02861/joss.02861/10.21105.joss.02861.pdf) :page_facing_up: :point_left:

[2020-12-08 21:40] jgostick commented on #2767
@whedon remove @arose as reviewer

[2020-12-08 21:41] whedon commented on #2767
OK, @arose is no longer a reviewer

[2020-12-08 21:41] jgostick commented on #2767
@whedon list reviewers

[2020-12-08 21:41] whedon commented on #2767
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2020-12-08 21:43] jgostick commented on #2767
@whedon assign @marshallmcdonnell as reviewer

[2020-12-08 21:43] whedon commented on #2767
OK, @marshallmcdonnell is now a reviewer

[2020-12-08 21:43] jgostick commented on #2767
@whedon generate pdf

[2020-12-08 21:44] whedon commented on #2767
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02767/joss.02767/10.21105.joss.02767.pdf) :page_facing_up: :point_left:

[2020-12-08 21:55] arfon commented on #2287
:wave: @mmartin-lagarde - how are you getting on with your updates based on the reviewer feedback?

[2020-12-08 21:56] xirdneh commented on #2791
@gkthiruvathukal I was able to test the code locally. Everything seems good.
I am not able to edit the checklist. Should I just be able to edit the issue description?

[2020-12-08 21:58] Kevin-Mattheus-Moerman commented on #2885
@kyleniemeyer I can take this one

[2020-12-08 21:58] Kevin-Mattheus-Moerman commented on #2885
@whedon assign @Kevin-Mattheus-Moerman as editor

[2020-12-08 21:58] whedon commented on #2885
OK, the editor is @Kevin-Mattheus-Moerman

[2020-12-08 21:59] Kevin-Mattheus-Moerman commented on #2882
@usethedata can you handle this submission?

[2020-12-08 22:00] Kevin-Mattheus-Moerman commented on #2870
@whedon generate pdf

[2020-12-08 22:00] whedon commented on #2870
PDF failed to compile for issue #2870 with the following error:

 Can't find any papers to compile :-(

[2020-12-08 22:01] Kevin-Mattheus-Moerman commented on #2870
@whedon generate pdf from branch joss

[2020-12-08 22:01] whedon commented on #2870
[code]

[2020-12-08 22:01] whedon commented on #2870
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02870/joss.02870/10.21105.joss.02870.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02870/joss.02870/10.21105.joss.02870.pdf) :page_facing_up: :point_left:

[2020-12-08 22:02] arfon commented on #2784
FYI I just sent a reminder to @williamjameshandley.

[2020-12-08 22:06] whedon opened #2893 "[PRE REVIEW]: pyHomogeneity: A python package for homogeneity test of time series data"
**Submitting author:** @mmhs013 (<a href="http://orcid.org/0000-0002-5361-0633">Md. Manjurul Hussain</a>)
**Repository:** <a href="https://github.com/mmhs013/pyHomogeneity" target ="_blank">https://github.com/mmhs013/pyHomogeneity</a>
**Version:** v1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-12-08 22:06] whedon commented on #2893
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-08 22:06] whedon commented on #2893
[code]

[2020-12-08 22:06] whedon commented on #2893
Failed to discover a `Statement of need` section in paper

[2020-12-08 22:06] whedon commented on #2893
[code]

[2020-12-08 22:06] whedon commented on #2893
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02893/joss.02893/10.21105.joss.02893.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02893/joss.02893/10.21105.joss.02893.pdf) :page_facing_up: :point_left:

[2020-12-08 22:07] arfon commented on #2807
:wave: @rtfisher - just checking in to see when you might be able to provide a review by?

[2020-12-08 22:13] arfon commented on #2866
Apologies for missing this earlier @GANys. I think you can check this off based on your test here.

[2020-12-08 22:13] arfon commented on #2866
:wave: @chenkianwee - just checking in here to see how you're getting along here?

[2020-12-08 22:14] arfon commented on #2783
:wave: @mosteo, @carlosjoserg - just checking in here to see how you're both getting on with your reviews?

[2020-12-08 22:15] arfon commented on #2791
@whedon re-invite @xirdneh as reviewer

[2020-12-08 22:15] whedon commented on #2791
The reviewer already has a pending invite.

@xirdneh please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-12-08 22:15] arfon commented on #2791
@xirdneh - please accept the repository invite above, this should then allow you to edit the checklist.

[2020-12-08 22:18] Kevin-Mattheus-Moerman commented on #2893
@mmhs013 since this submission features around 1000 lines of code (and the core functionality seems to be about 300 lines https://github.com/mmhs013/pyHomogeneity/blob/master/pyhomogeneity/pyhomogeneity.py), I have flagged this submission for an additional scope check by the editorial board. In particular out board will now discuss if it meets the [substantial scholarly effort](https://joss.readth

[2020-12-08 22:20] whedon opened #2894 "[PRE REVIEW]: WI Fast Stats: a collection of web apps for the visualization and analysis of WI Fast Plants data"
**Submitting author:** @crsl4 (<a href="http://orcid.org/0000-0002-9789-8915">Claudia Solis-Lemus</a>)
**Repository:** <a href="https://github.com/crsl4/fast-stats" target ="_blank">https://github.com/crsl4/fast-stats</a>
**Version:** v2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the CO

[2020-12-08 22:20] whedon commented on #2894
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-08 22:21] whedon commented on #2894
[code]

[2020-12-08 22:21] whedon commented on #2894
PDF failed to compile for issue #2894 with the following error:

 Error producing PDF.
! Use of \\author doesn't match its definition.
\new@ifnextchar ...served@d = #1\def \reserved@a {
                                                  #2}\def \reserved@b {#3}\f...
l.292 ....edu}{\nolinkurl{solislemus@wisc.edu}})}}

Looks like we failed to compile the PDF

[2020-12-08 22:21] jgostick commented on #2767
Hi @Kokookster, I decided to perform the review myself since you've been waiting so long, and @marshallmcdonnell did such a thorough job. I can confirm that I am able to check off all the boxes above.  I even installed node.js and npm so that I could build your code and all went fine.  My only comment is that the installation instructions seem to wander off near the end.  The beginning mentions th

[2020-12-08 22:21] whedon commented on #2894
[code]

[2020-12-08 22:24] jgostick commented on #2767
@whedon check references

[2020-12-08 22:25] jgostick commented on #2767
Here is a list of what to do next:

- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here.
- [ ] Make sure that the title and author list (including ORC

[2020-12-08 22:26] Kevin-Mattheus-Moerman commented on #2893
@mmhs013 in the meantime you could work to add the required `Statement of need` section to the paper (https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain).  If you'd like to update the paper you can call the following in a comment here:

`@whedon generate pdf`

[2020-12-08 22:26] whedon commented on #2767
[code]

[2020-12-08 22:28] jgostick commented on #2767
@Kokookster you'll also have to clean up the references...they are all missing doi's.  Whedon has magically suggested 4 of them, but you have 6 papers in the bibliography.

[2020-12-08 22:33] Kevin-Mattheus-Moerman commented on #2894
@crsl4 thanks for this submission. I have flagged this submission for additional scope review by our editorial board. In particular it may be deemed out of scope as it appears to mainly offer educational functionality (in the form of a web app) rather than scientific research functionality. The additional review will take about a week.

[2020-12-08 22:36] whedon opened #2895 "[PRE REVIEW]: Moead-framework : a modular MOEA/D python framework"
**Submitting author:** @geoffreyp (<a href="http://orcid.org/0000-0002-5049-5991">Geoffrey Pruvost</a>)
**Repository:** <a href="https://github.com/moead-framework/framework" target ="_blank">https://github.com/moead-framework/framework</a>
**Version:** 0.5.7.1
**Editor:** @melissawm
**Reviewers:** @sjvrijn, @chkoar
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning

[2020-12-08 22:36] whedon commented on #2895
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-08 22:36] whedon commented on #2895
Failed to discover a `Statement of need` section in paper

[2020-12-08 22:36] whedon commented on #2895
[code]

[2020-12-08 22:36] whedon commented on #2895
[code]

[2020-12-08 22:36] whedon commented on #2895
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02895/joss.02895/10.21105.joss.02895.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02895/joss.02895/10.21105.joss.02895.pdf) :page_facing_up: :point_left:

[2020-12-08 22:38] Kevin-Mattheus-Moerman commented on #2870
@whedon assign @arfon as editor

[2020-12-08 22:38] whedon commented on #2870
OK, the editor is @arfon

[2020-12-08 22:43] Kevin-Mattheus-Moerman commented on #2895
@geoffreyp given that this submission is on the small side (in therms of number of lines of code). I have flagged this submission for an additional scope check by the editorial board. In particular our board will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get

[2020-12-08 22:46] whedon opened #2896 "[PRE REVIEW]: lidar: A Python package for terrain and hydrological analysis using digital elevation models"
**Submitting author:** @giswqs (<a href="http://orcid.org/0000-0001-5437-4073">Qiusheng Wu</a>)
**Repository:** <a href="https://github.com/giswqs/lidar" target ="_blank">https://github.com/giswqs/lidar</a>
**Version:** 0.5.1
**Editor:** @kbarnhart
**Reviewers:** @laijingtao, @cheginit, @amanaster2
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2020-12-08 22:46] whedon commented on #2896
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-08 22:46] whedon commented on #2896
Failed to discover a `Statement of need` section in paper

[2020-12-08 22:46] whedon commented on #2896
[code]

[2020-12-08 22:46] whedon commented on #2896
[code]

[2020-12-08 22:46] kthyng commented on #2782
@crvernon Ok paper looks good including references, and I'll wait to hear back on the Zenodo metadata. Thanks!

[2020-12-08 22:46] whedon commented on #2896
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02896/joss.02896/10.21105.joss.02896.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02896/joss.02896/10.21105.joss.02896.pdf) :page_facing_up: :point_left:

[2020-12-08 22:50] Kevin-Mattheus-Moerman commented on #2896
@giswqs since this submission is on the small side (in therms of number of lines of code). I have flagged this submission for an additional scope check by the editorial board. In particular our board will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to

[2020-12-08 22:52] whedon opened #2897 "[PRE REVIEW]: Pre-trained Models That Enable Computational Developmental Biology"
**Submitting author:** @balicea (<a href="http://orcid.org/0000-0003-3869-3175">Bradly Alicea</a>)
**Repository:** <a href="https://github.com/DevoLearn/devolearn" target ="_blank">https://github.com/DevoLearn/devolearn</a>
**Version:** 0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-12-08 22:52] whedon commented on #2897
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-12-08 22:53] whedon commented on #2897
PDF failed to compile for issue #2897 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (b3d72fe495697abfc8dbd0b3/paper.md): mapping values are not allowed in this context at line 2 column 6 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:in `parse'
	fro

[2020-12-08 22:53] whedon commented on #2897
[code]

[2020-12-08 22:59] Kevin-Mattheus-Moerman commented on #2897
@balicea since this submission is < 1000 lines of code I have flagged this submission for an additional scope check by the editorial board. In particular our board will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you some time next week.

[2020-12-08 23:03] whedon opened #2898 "[PRE REVIEW]: NLMech: Implementation of finite difference/meshfreediscretization of nonlocal fracture models"
**Submitting author:** @diehlpk (<a href="http://orcid.org/0000-0003-3922-8419">Patrick Diehl</a>)
**Repository:** <a href="https://github.com/nonlocalmodels/NLMech" target ="_blank">https://github.com/nonlocalmodels/NLMech</a>
**Version:** v0.1.0-rc1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @vijaysm, @chennachaos
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode