[2020-06-25 13:34] kthyng commented on #2391
Hi! As the resident oceanographer I am happy to edit this submission. Thanks for your submission!

[2020-06-25 13:34] kthyng commented on #2391
@whedon assign kthyng as editor

[2020-06-25 13:34] whedon commented on #2391
OK, the editor is @kthyng

[2020-06-25 13:36] kthyng commented on #2391
Hi @gmaze! Do you have any suggestions for reviewers, either from [this list](https://bit.ly/joss-reviewers) or elsewhere? Please don't use the "@" to mention them here to limit extraneous email.

[2020-06-25 13:41] joannawolthuis commented on #2358
Hi Lorena! I'm interested, what are the expectations exactly? :)

---------- Forwarded message ---------
Van: Lorena Pantano <notifications@github.com>
Date: wo 24 jun. 2020 om 00:02
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: Viime: Visualization
and Integration of Metabolomics Experiments (#2358)
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: joannawolthuis <jcwol

[2020-06-25 13:46] kthyng commented on #2172
Hi @martibosch!

- "might" has a bit of uncertainty to it usually, so "can" is better here I think. Is this change in there?
- Ah, I see my misunderstanding. I read it as two people's last names instead of two places! Sorry about that. I haven't been to Switzerland before, sadly. You can choose what makes the most sense here.

Please let me know when this is all accounted for, thanks.

[2020-06-25 13:54] dfm commented on #2278
@pat-s: Thanks for your thorough review. I'm happy to remove you as the reviewer if you would no longer like to be involved. Either way, we very much appreciate your contribution!

@sayanddude: The editorial board has decided to mark this submission as `paused` and `pending-major-enhancements` to give you the opportunity to address the concerns that @pat-s has raised. Please take your time and let

[2020-06-25 14:00] martibosch commented on #2172
Hello @kthyng ,

- the "might" was changed to "can" in your PR, so since I merged it, the current version reads

- in the absence of a proper academic article to cite, I believe that we can leave the sentence as it is.

I hope that this addresses the two remarks.

[2020-06-25 14:04] kthyng commented on #2375
Hi @apcamargo, and thanks for your submission. Can you give some more information about your code? We at the editorial board think this package looks useful, but possibly too small in scope. Are there other equivalent packages available to do this sort of calculation? We will accept small packages if they truly fulfill a significant need, but that need should be justified and clearly established.

[2020-06-25 14:08] kloppen commented on #2265
Thanks again for your review and comments, @JonasMoss

I've addressed your comments. I've created a separate branch in the `cmstatr` repo for this, called [`joss-review`](https://github.com/ComtekAdvancedStructures/cmstatr/tree/feature/joss-review). There is a brief response to each of your comments below, and in most cases a commit hash corresponding to the actual change that was made to address

[2020-06-25 14:14] kthyng commented on #2172
@whedon generate pdf

[2020-06-25 14:14] whedon commented on #2172
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02172/joss.02172/10.21105.joss.02172.pdf)

[2020-06-25 14:16] Luthaf commented on #2117
@cMadan, what is the next step here? I've seen we have to provide a zenodo DOI for a fixed release, is there anything else to do on our side?

[2020-06-25 14:19] kthyng commented on #2172
I made a change in my PR for one "might" but there was another under Step 4 that I hadn't been sure about at the time. Can you change that one?

Next, can you verify the version, and then submit your code to an archive like Zenodo and report the doi here? Make sure that the title and author list on the Zenodo archive match those of your JOSS paper (you may have to alter the Zenodo metadata to do t

[2020-06-25 14:31] pat-s commented on #2278
@dfm Yes, please remove me as a reviewer since I do not have the resources for additional iterations here. Thanks.

[2020-06-25 14:33] dfm commented on #2278
@whedon remove @pat-s as reviewer

[2020-06-25 14:33] whedon commented on #2278
OK, @pat-s is no longer a reviewer

[2020-06-25 14:35] dfm commented on #2278
@pat-s: Done! It's possible that you'll have to manually unsubscribe from notifications on this thread (I'm not sure if @whedon does that!) by clicking unsubscribe in the right hand sidebar. Thanks again!

[2020-06-25 14:41] gmaze commented on #2391
Hi @kthyng
Thanks for being our editor !

Possible reviewers from the list:
- edoddridge
- malmans2
- ali-ramadhan
- callumrollo
- koldunovn
- bradyrx
- DamienIrving

Elsewhere:
-  Loïc Houpert: lhoupert
-  Pedro Vélez: PedroVelez
- Dhruv Balwada: dhruvbalwada

[2020-06-25 14:51] majensen commented on #1942
@Chilipp - no problem; thanks for the heads up. Will touch base next week-

[2020-06-25 14:51] apcamargo commented on #2375
Hi @kthyng. The scope of this package is intentionally restricted to be good and simple to use to perform one relevant task. It was originally developed due to the importance of identifying tissue-specific lncRNAs, the then upcoming release of [GTEx](https://www.gtexportal.org/home/) v8 and the lack of user-friendly tools designed to compute tissue-specificity metrics.

The target audience is mole

[2020-06-25 14:51] majensen commented on #1942
@whedon remind @Chilipp in 7 days

[2020-06-25 14:51] whedon commented on #1942
Reminder set for @Chilipp in 7 days

[2020-06-25 14:56] ctb commented on #2375
hi all, since whedon made the mistake of tagging me in :), I can say: my group works fairly extensively in this area, and the response by @apcamargo seems spot on to me. I would be happy to review this submission, but can't get to it until after July 8th. If that's acceptable, and the ed board accepts this for review, sign me up!

[2020-06-25 15:00] martibosch commented on #2172
I have checked for all the occurences of "might" in the manuscript and replaced the one at Step 4 in [3ab057](https://github.com/martibosch/detectree/commit/3ab057148506fb07701c18b4564c7443a78267ba).

I have created a released named `joss-paper` for the version v0.3.1 of DetecTree and archived it in Zenodo at [10.5281/zenodo.3908338](https://doi.org/10.5281/zenodo.3908338). Finally, I edited the t

[2020-06-25 15:06] dpsanders commented on #2224
@whedon add @alex-konovalov as reviewer

[2020-06-25 15:06] whedon commented on #2224
OK, @alex-konovalov is now a reviewer

[2020-06-25 15:06] dpsanders commented on #2224
@whedon start review

[2020-06-25 15:06] whedon opened #2392 "[REVIEW]: multivar_horner: A Python package for computing Horner factorisations of multivariate polynomials"
**Submitting author:** @MrMinimal64 (<a href="http://orcid.org/0000-0002-1819-6975">Jannik Michelfeit</a>)
**Repository:** <a href="https://github.com/MrMinimal64/multivar_horner" target ="_blank">https://github.com/MrMinimal64/multivar_horner</a>
**Version:** 2.1.1
**Editor:** @dpsanders
**Reviewers:** @henrik227, @saschatimme
**Archive:** <a href="https://doi.org/10.5281/zenodo.4062422" target="

[2020-06-25 15:06] whedon commented on #2224
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2392.

[2020-06-25 15:06] #2224 closed

[2020-06-25 15:06] whedon commented on #2392
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @henrik227, @alex-konovalov it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2020-06-25 15:07] whedon commented on #2392
[code]

[2020-06-25 15:07] whedon commented on #2392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf)

[2020-06-25 15:08] dpsanders commented on #2224
Thanks @henrik227 and @alex-konovalov! In #2392 there are checklists for each of you to guide the review process.
Please let me know if you have any questions or comments.

[2020-06-25 15:08] kczimm commented on #2256
@dhhagan sorry, I’m unavailable at this time.

[2020-06-25 15:09] dpsanders commented on #2355
Thanks @RaphaelS1. You can make sure that the latest version is correct with the following command

[2020-06-25 15:09] dpsanders commented on #2355
@whedon generate pdf

[2020-06-25 15:09] whedon commented on #2355
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02355/joss.02355/10.21105.joss.02355.pdf)

[2020-06-25 15:57] prs513rosewood commented on #2121
@whedon generate pdf

[2020-06-25 15:58] whedon commented on #2121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02121/joss.02121/10.21105.joss.02121.pdf)

[2020-06-25 16:02] RaphaelS1 commented on #2355
Thanks @dpsanders, that's indeed the latest version

[2020-06-25 16:06] oliviaguest commented on #2339
If you have a very specific code-related suggestion, then yes, otherwise just here is fine, @emptymalei. 😊

[2020-06-25 16:27] katmratliff commented on #2328
Hi @KristinaRiemer, I have completed my review and have submitted the following suggestions via issues in the repository:
- https://github.com/cbirdferrer/collatrix/issues/8
- https://github.com/cbirdferrer/collatrix/issues/9
- https://github.com/cbirdferrer/collatrix/issues/10
- https://github.com/cbirdferrer/collatrix/issues/11

Under the **Documentation** checklist, I have currently left **Func

[2020-06-25 16:53] mstimberg commented on #2339
Ok, here's my review, adding to @emptymalei's remarks

I opened a few specific issues in the MorphoPy repository (berenslab/MorphoPy#106, berenslab/MorphoPy#107, berenslab/MorphoPy#108, berenslab/MorphoPy#109)

I agree with @emptymalei that the package structure is surprising and support changing it to a more standard organization.

I also wonder whether the API documentation could be made more ac

[2020-06-25 17:22] arfon commented on #2390
:wave: @IIT-LAND - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, you

[2020-06-25 17:29] jhollist commented on #2272
@csaybar Really nice job!  I have posted a new issue on your repo (https://github.com/r-spatial/rgee/issues/68) with some more detailed review comments.  Any questions, let me know.

[2020-06-25 17:51] nistara commented on #2250
Hello @arfon, I've completed my review as well. It's a helpful software which also exposed me to the world of air pollution data!
Thank you and best wishes,
Nistara

[2020-06-25 17:59] kthyng commented on #2375
@ctb were you notified about being mentioned here without the "@"? I didn't know that was possible!

[2020-06-25 18:04] whedon opened #2393 "[PRE REVIEW]: AnisoCADO: a python package for analytically generating adaptive optics point spread functions for the Extremely Large Telescope"
**Submitting author:** @astronomyk (<a href="http://orcid.org/0000-0003-0441-9784">Kieran Leschinski</a>)
**Repository:** <a href="https://github.com/astronomyk/AnisoCADO" target ="_blank">https://github.com/astronomyk/AnisoCADO</a>
**Version:** v0.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2020-06-25 18:04] whedon commented on #2393
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-25 18:04] whedon commented on #2393
[code]

[2020-06-25 18:04] whedon commented on #2393
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02393/joss.02393/10.21105.joss.02393.pdf)

[2020-06-25 18:06] ctb commented on #2375
indeed I was - not sure why, but I'm OK with it :)

[2020-06-25 18:08] danielskatz commented on #2375
I wonder if @apcamargo made suggestions in a comment with an @, then deleted that comment and replaced it with one without them?

[2020-06-25 18:09] apcamargo commented on #2375
My fault! I tagged the suggest reviewers (force of habit) and submitted the comment before noticing it. whedon fas faster to pick it up than I was to edit the original comment.

Anyway, thanks @ctb!

[2020-06-25 18:10] apcamargo commented on #2375
Yes, that's what happened @danielskatz. If this is against the editorial policies I can suggest different reviewers

[2020-06-25 18:12] kthyng commented on #2172
@whedon set v0.3.1 as version

[2020-06-25 18:12] whedon commented on #2172
OK. v0.3.1 is the version.

[2020-06-25 18:13] diehlpk commented on #2378
@arfon I would be interested to be the editor for this. My group is working on something similar to make our application reproducible.

[2020-06-25 18:14] kthyng commented on #2172
@whedon set 10.5281/zenodo.3908338 as archive

[2020-06-25 18:14] whedon commented on #2172
OK. <a href="https://doi.org/10.5281/zenodo.3908338" target="_blank">10.5281/zenodo.3908338</a> is the archive.

[2020-06-25 18:14] kthyng commented on #2172
@whedon accept

[2020-06-25 18:14] whedon commented on #2172
[code]

[2020-06-25 18:15] whedon commented on #2172
[code]

[2020-06-25 18:15] whedon commented on #2172
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1516

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1516, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-25 18:19] danielskatz commented on #2378
@whedon assign @diehlpk as editor

[2020-06-25 18:19] whedon commented on #2378
OK, the editor is @diehlpk

[2020-06-25 18:20] csoneson commented on #2163
ping @MetabolomicsAustralia-Bioinformatics

[2020-06-25 18:21] danielskatz commented on #2378
@diehlpk - no one will ever complain if you volunteer to edit :)

And you can just claim the paper by issuing the same command I did, or even ```@whedon assign me as editor```

[2020-06-25 18:21] kthyng commented on #2172
@whedon accept deposit=true

[2020-06-25 18:21] whedon commented on #2172
[code]

[2020-06-25 18:22] whedon commented on #2172
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1276219120162344960) 👈 🐦🐦🐦

[2020-06-25 18:22] whedon commented on #2172
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1517
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02172](https://doi.org/10.21105/joss.02172)
2. If everything looks g

[2020-06-25 18:24] danielskatz commented on #2375
no, it's fine. (well, of course we try to avoid tagging lots of people, but mistake happen)

[2020-06-25 18:26] kthyng commented on #2172
Congrats to  @martibosch on your new paper!! Thanks to reviewers @JeffWalton-PSC and @rmsare — we are so grateful for your time and expertise!

[2020-06-25 18:26] #2172 closed

[2020-06-25 18:27] whedon commented on #2172
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02172/status.svg)](https://doi.org/10.21105/joss.02172)

**We need your help!**

Journal of Open Source Softwa

[2020-06-25 18:43] sritchie commented on #2378
Thanks so much, @diehlpk!

[2020-06-25 18:45] nhejazi commented on #2222
👋 @marcosvital, happy to take any suggestions of reviewers you might have; I can’t think of too many more candidates myself

[2020-06-25 19:17] oliviaguest commented on #2297
@whedon add @jflournoy as reviewer

[2020-06-25 19:17] whedon commented on #2297
OK, @jflournoy is now a reviewer

[2020-06-25 19:18] oliviaguest commented on #2297
@whedon start review

[2020-06-25 19:18] whedon opened #2394 "[REVIEW]: Implicit measures with reproducible results: The implicitMeasures package"
**Submitting author:** @OttaviaE (<a href="http://orcid.org/0000-0001-8552-568X">Ottavia M. Epifania</a>)
**Repository:** <a href="https://github.com/OttaviaE/implicitMeasures/" target ="_blank">https://github.com/OttaviaE/implicitMeasures/</a>
**Version:** v0.2.0
**Editor:** @oliviaguest
**Reviewer:** @eirini-zormpa, @wjakethompson, @jflournoy
**Archive:** <a href="https://doi.org/10.5281/zenodo.

[2020-06-25 19:18] whedon commented on #2297
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2394.

[2020-06-25 19:18] #2297 closed

[2020-06-25 19:18] whedon commented on #2394
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eirini-zormpa, @wjakethompson, @jflournoy it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [o

[2020-06-25 19:18] whedon commented on #2394
PDF failed to compile for issue #2394 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2394 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedo

[2020-06-25 19:20] jgostick commented on #2381
@whedon add @mikapfl as reviewer

[2020-06-25 19:20] whedon commented on #2381
OK, @mikapfl is now a reviewer

[2020-06-25 19:21] oliviaguest commented on #2297
👋  @eirini-zormpa, @wjakethompson, @jflournoy: please go to #2394 to get the review started! 🥳

[2020-06-25 19:23] astronomyk commented on #2393
Potential reviewers:

brechmos
Deech08
cmillion
KshitijAggarwal
devanshkv
zpace
garrettj403
nespinoza
ygrange

-------------------------------------
Kieran Leschinski
Department of Astrophysics
University of Vienna

Am Do., 25. Juni 2020 um 20:05 Uhr schrieb whedon <notifications@github.com

[2020-06-25 19:23] oliviaguest commented on #2394
Hi everybody! @eirini-zormpa, @wjakethompson, @jflournoy — welcome to where the review itself is going to be.

Any questions please ask me. Any very code-related issues use the repo of the code and open an issue and link to it from here. All other issues, feedback, questions for me or the author, please use this issue. Anything you need, check above first as there is a lot of into up there, but al

[2020-06-25 19:25] oliviaguest commented on #2394
@whedon generate pdf

[2020-06-25 19:26] whedon commented on #2394
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02394/joss.02394/10.21105.joss.02394.pdf)

[2020-06-25 20:29] arfon commented on #2393
:wave: @astronomyk - Thanks for your submission to JOSS. As described in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, y

[2020-06-25 21:33] diehlpk commented on #2378
Ok, will do. I just did not want to overpass the Managing EiC.

[2020-06-25 21:39] diehlpk commented on #2378
Hi @terrytangyuan  or @arokem or @kmoham6 or @stevenrbrandt or @rtohid  would one of you be interested to review this paper?

[2020-06-25 23:01] pythonpanda2 commented on #1942
There are already some very well rounded points raised by @Chilipp in the last round  . I would wait to see if some of those points have been addresses to their satisfaction  (To avoid repetitions) and   i will stick to the one issue I have raised.

In addition, the funding sources should be duly acknowledged.

[2020-06-25 23:35] terrytangyuan commented on #2378
@diehlpk Where did you find my username? I thought I am already removed from the list of reviewers since I am an editor now.

[2020-06-26 00:10] diehlpk commented on #2378
@terrytangyuan The author @sritchie suggested you as a reviewer and I normally ask the suggested reviewers and try to find additional ones.

[2020-06-26 00:57] terrytangyuan commented on #2378
I see. No, I won't be able to review. Thanks for mentioning.

[2020-06-26 01:12] wjakethompson commented on #2394
Hi @oliviaguest!

This is very minor, but the `repository_url` link in the checklist is taking me to [`implicitMeasures/inst/`](https://github.com/OttaviaE/implicitMeasures/tree/master/inst) instead of the main repo page (i.e., [`implicitMeasures`](https://github.com/OttaviaE/implicitMeasures)). This doesn't bother me at all, but thought I'd drop a note in case it was indicative of some mistake in

[2020-06-26 02:41] arfon commented on #2387
:wave: @lyx12311 - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2020-06-26 02:41] arfon commented on #2387
@whedon reject

[2020-06-26 02:41] whedon commented on #2387
Paper rejected.

[2020-06-26 02:41] #2387 closed

[2020-06-26 03:21] pibion commented on #2363
@aureliocarnero thank you, and apologies again!

[2020-06-26 03:26] MetabolomicsAustralia-Bioinformatics commented on #2163
Many apologies, I thought I’d replied to this, but turns out that my email client (Spark) didn’t send out the reply!

Yes, please wait while a test-suite is written out. Apologies as well for any inconvenience.

Regards,
Don
On 26 Jun 2020, 4:21 AM +1000, Charlotte Soneson <notifications@github.com>, wrote:

[2020-06-26 08:16] teamPSG commented on #2377
@whedon generate pdf

[2020-06-26 08:17] whedon commented on #2377
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02377/joss.02377/10.21105.joss.02377.pdf)

[2020-06-26 08:39] teamPSG commented on #2377
Hi @sbuergers,

Thanks for your feedback and really fast action! Glad you like the toolbox and thanks for the suggestions.

**Contributions and authorship:** I included a section on who did what at the end of the manuscript.

**References:** thanks for the hint, it worked, references are now rendered properly (during writing I checked the ms offline using the [local compiler](https://gist.github.c

[2020-06-26 08:44] rcannood commented on #2388
@mikldk: I asked @hope-data-science to write unit tests and provide documentation for each of the functions in tidyfst. Since there are quite a lot of functions, I assume this will take a while.

[2020-06-26 09:12] oliviaguest commented on #2394
Ah, yes! @danielskatz noticed this (and even called this) previously. I'll tag @openjournals/dev see what they say and how it can be fixed. I manually edited it above in one place (see history of OP), but that might not be enough.

[2020-06-26 09:38] Fil commented on #2327
I'm ready to start reviewing *talisman* but I can't find the usual checklist? has the review process changed in some mysterious way since I last did [a review](https://github.com/openjournals/joss-reviews/issues/1628)? What should I do?

[2020-06-26 09:54] xuanxu commented on #2394
If the url is corrected in the issue body that should be enough. The paper compiler extracts the info from there.

[2020-06-26 10:59] OttaviaE commented on #2394
Hi @wjakethompson and @oliviaguest the paper is in implicitMeasures/inst/ instead of the main repo implicitMeasures beacuse the package and its repository is available on CRAN and CRAN dosen't allow anything else to be on the leel but a folder named "inst"

[2020-06-26 11:12] oliviaguest commented on #2394
@OttaviaE does the PDF look OK at least?

[2020-06-26 11:16] OttaviaE commented on #2394
@oliviaguest it does!

[2020-06-26 11:19] xuanxu commented on #2394
Yeah, the paper files can be located anywhere in the repo, whedon will look for them in all subfolders.

[2020-06-26 11:26] oliviaguest commented on #2394
@xuanxu thank you for all your help and checking this is all OK. 🌼

[2020-06-26 11:31] xuanxu commented on #2281
@whedon check references

[2020-06-26 11:33] whedon commented on #2281
[code]

[2020-06-26 11:39] edwardando commented on #2286
@jwbuurlage -- we've handled all your (pertinent and constructive) comments, thanks very much! Just two points of feedback:
  - Regarding the meta-package idea -- it's certainly of interest to sidestep some of the heavier dependencies, and we'll look into it but not in the context of this review process
  - For the fonts and capitalisation we agree it was a bit messy. We've now followed the follow

[2020-06-26 11:39] edwardando commented on #2286
@whedon generate pdf from branch spamPaper

[2020-06-26 11:39] whedon commented on #2286
[code]

[2020-06-26 11:39] whedon commented on #2286
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02286/joss.02286/10.21105.joss.02286.pdf)

[2020-06-26 11:43] lpantano commented on #2358
@joannawolthuis, thank you! this are the guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html and we normally expect reviews in two weeks or so. It should be a pretty nice experience :)

[2020-06-26 11:48] bmcfee commented on #2261
@whedon add @thomwolf as reviewer

[2020-06-26 11:48] whedon commented on #2261
OK, @thomwolf is now a reviewer

[2020-06-26 11:52] bmcfee commented on #2261
@whedon start review

[2020-06-26 11:52] whedon opened #2395 "[REVIEW]: gobbli: A uniform interface to deep learning for text in Python"
**Submitting author:** @jasonnance (<a href="http://orcid.org/0000-0003-4127-3198">Jason Nance</a>)
**Repository:** <a href="https://github.com/RTIInternational/gobbli" target ="_blank">https://github.com/RTIInternational/gobbli</a>
**Version:** v0.2.0
**Editor:** @arfon
**Reviewers:** @w4ngatang, @ljvmiranda921, @sisco0
**Archive:** <a href="https://doi.org/10.5281/zenodo.3406400" target="_blank"

[2020-06-26 11:52] whedon commented on #2261
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2395.

[2020-06-26 11:52] #2261 closed

[2020-06-26 11:52] whedon commented on #2395
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @w4ngatang, @thomwolf it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-06-26 11:52] whedon commented on #2395
PDF failed to compile for issue #2395 with the following error:

 Can't find any papers to compile :-(

[2020-06-26 11:53] lpantano commented on #2358
@wheddon assign @joannawolthuis as reviewer

[2020-06-26 11:55] danielskatz commented on #2394
I fixed the 2 links in the checklist items for "repository URL"

[2020-06-26 11:59] OttaviaE commented on #2394
@danielskatz thank you =)

[2020-06-26 11:59] danielskatz commented on #2327
This is still the pre-review issue, where reviewers are being sought.  Once the editor, @kakiac, has a second reviewer, he will start the review.

[2020-06-26 12:56] csaybar commented on #2272
@whedon generate pdf from branch JOSS

[2020-06-26 12:56] whedon commented on #2272
[code]

[2020-06-26 12:56] whedon commented on #2272
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02272/joss.02272/10.21105.joss.02272.pdf)

[2020-06-26 12:57] xuanxu commented on #2281
@ivalaginja I have issued a couple pull requests in the ExoTiC-ISM repo with minor changes. Please take a look at them and consider merging them if you think they are OK.

[2020-06-26 13:11] sbuergers commented on #2377
Hi @teamPSG,

thanks for implementing the feedback! This looks good to me now.

Best,
Steffen.

[2020-06-26 13:19] ivalaginja commented on #2281
@xuanxu I had a look at them, double-checked and merged.

[2020-06-26 13:27] jhollist commented on #2272
@hugoledoux and @csaybar  I have completed the checklist and the edits (https://github.com/r-spatial/rgee/pull/69) made in response to my review (https://github.com/r-spatial/rgee/issues/68) all look great.  Again, really nice job on this package.

[2020-06-26 13:35] arfon commented on #2358
@whedon assign @joannawolthuis as reviewer

[2020-06-26 13:35] whedon commented on #2358
OK, @joannawolthuis is now a reviewer

[2020-06-26 13:35] arfon commented on #2358
@lpantano you had a typo :-)

[2020-06-26 13:39] xuanxu commented on #2281
OK @ivalaginja, everything looks good now, here are the next steps:

- Please release a new [tagged version](https://github.com/hrwakeford/ExoTiC-ISM/releases) from the current main branch so it includes all the changes made during the review process
- Then archive that latest release in Zenodo (or a similar service).
- Check the Zenodo deposit has the correct metadata: title and author names shou

[2020-06-26 13:51] diehlpk commented on #2378
@cboettig Would you be interested to review this paper?

[2020-06-26 14:15] sbenthall commented on #2264
@crew102 would you be willing to review this paper?

[2020-06-26 14:15] sbenthall commented on #2264
@RomainAzais would you be wiling to review this paper?

[2020-06-26 14:16] sctyner commented on #2358
I am not available at this time. Thanks.

[2020-06-26 14:37] csaybar commented on #2272
Thank @jhollist for your comments and suggestions :). They were addressed here r-spatial/rgee#69

[2020-06-26 14:42] diehlpk commented on #2378
@TheChymera  Would you be interested to review this paper?

[2020-06-26 14:46] aureliocarnero commented on #2363
Dear @sambit-giri, while reviewing this paper, one thing we have to check is if the author list seems correct. From the people that has contributed to the git code and the authors in the paper, seems reasonable, but then, when you go to:
https://tools21cm.readthedocs.io/authors.html you can see Hannes Jensen as an author as well. Should not be an author as well in the paper?  Or is it maybe not an

[2020-06-26 15:38] Visdoom commented on #2339
Hi @oliviaguest , @emptymalei  and @mstimberg ,

thank you for your reviewing efforts so far. Your feedback has been very helpful and your intend on future use @mstimberg is a great encouragement, thanks!
The remaining issues you have created via github will be addressed in the coming week. The biggest "issue" is to update the PyPi installation to the new folder structure but we are on it.

Regard

[2020-06-26 15:50] oliviaguest commented on #2339
@Visdoom Hey Sophie, yes, you got off make any and all changes you fancy and report back here. Ideally if you can link from here or however you want highlight the changes you make, so the reviewers can easily spot them. Does that make sense? ☺️

[2020-06-26 15:54] KevinShook commented on #2276
Thanks very much - will do

[2020-06-26 16:03] Visdoom commented on #2339
@oliviaguest yes, that makes sense. Thank you.

[2020-06-26 16:06] oliviaguest commented on #2339
Oh, and if you need advice from the reviewers, @Visdoom, of course also ask them here! 🌷

[2020-06-26 16:14] adbar commented on #2360
Thank you for your feedback! I've seen the requests and I will try to improve the text accordingly. I'm planning to have it done by the end of next week.

[2020-06-26 16:18] danielskatz commented on #2266
👋 @edwardoughton - This is just to make sure you've seen the comments and are working on responding to them...

[2020-06-26 16:19] danielskatz commented on #2352
👋 @diehlpk  - This is just to make sure you've seen the comments and are working on responding to them...

[2020-06-26 16:19] danielskatz commented on #2352
👋 @bhatele - have you had a chance to start your review?  Can you let us know your status?

[2020-06-26 16:20] danielskatz commented on #2351
👋 @muhrin - any update at this point?

[2020-06-26 16:22] danielskatz commented on #2282
👋 @aj2duncan & @mikerspencer - how are your reviews doing?

[2020-06-26 16:30] r-barnes commented on #2276
That's it for me this morning; I'll circle back to inspecting the C and OpenCL code later.

[2020-06-26 16:42] kbarnhart commented on #2276
Thanks everyone for linking issues and keeping everyone updated on this issue thread. As always, authors and reviewers, please feel free to reach out to me for support in this review process.

[2020-06-26 16:51] hkaiser commented on #2352
We're working on them. Thanks.

[2020-06-26 17:23] lorenanicole commented on #2220
@whedon add @essepuntato as reviewer

[2020-06-26 17:23] whedon commented on #2220
OK, @essepuntato is now a reviewer

[2020-06-26 17:23] lorenanicole commented on #2220
@essepuntato can you let me know if this works?

[2020-06-26 17:25] lorenanicole commented on #2220
Hi 👋 @jonathanblaney, would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines 👉  https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-26 17:26] lorenanicole commented on #2316
Thanks @mdpiper!

So @blsqr I'll circle back in a week or so to check in on @Chilipp's progress.

[2020-06-26 17:42] whedon opened #2396 "[PRE REVIEW]: cerebra: A tool for fast and accurate summarizing of variant calling format (VCF) files"
**Submitting author:** @lincoln-harris (<a href="http://orcid.org/0000-0003-2544-4225">Lincoln Harris</a>)
**Repository:** <a href="https://github.com/czbiohub/cerebra" target ="_blank">https://github.com/czbiohub/cerebra</a>
**Version:** v1.1.0
**Editor:** @lpantano
**Reviewers:** @betteridiot, @afrubin
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-06-26 17:42] whedon commented on #2396
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-26 17:43] whedon opened #2397 "[PRE REVIEW]: `swiftsimio`: A python library for reading SWIFT data"
**Submitting author:** @JBorrow (<a href="http://orcid.org/0000-0002-1327-1921">Josh Borrow</a>)
**Repository:** <a href="https://github.com/swiftsim/swiftsimio" target ="_blank">https://github.com/swiftsim/swiftsimio</a>
**Version:** v4.0.0
**Editor:** @dfm
**Reviewers:** @dmentipl, @mtremmel
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-06-26 17:43] whedon commented on #2396
[code]

[2020-06-26 17:43] whedon commented on #2397
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-26 17:43] whedon commented on #2396
[code]

[2020-06-26 17:43] whedon opened #2398 "[PRE REVIEW]: matchms - processing and similarity evaluation of mass spectrometry data"
**Submitting author:** @florian-huber (<a href="http://orcid.org/0000-0002-3535-9406">Florian Huber</a>)
**Repository:** <a href="https://github.com/matchms/matchms" target ="_blank">https://github.com/matchms/matchms</a>
**Version:** 0.4.0
**Editor:** @arfon
**Reviewers:** @bittremieux, @kaibioinfo
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2020-06-26 17:43] whedon commented on #2398
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-26 17:43] whedon commented on #2397
[code]

[2020-06-26 17:43] whedon commented on #2397
Failed to discover a valid open source license.

[2020-06-26 17:43] whedon commented on #2396
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02396/joss.02396/10.21105.joss.02396.pdf)

[2020-06-26 17:43] whedon commented on #2397
[code]

[2020-06-26 17:43] whedon commented on #2398
[code]

[2020-06-26 17:44] whedon commented on #2398
[code]

[2020-06-26 17:44] whedon commented on #2397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02397/joss.02397/10.21105.joss.02397.pdf)

[2020-06-26 17:44] whedon commented on #2398
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02398/joss.02398/10.21105.joss.02398.pdf)

[2020-06-26 17:45] kthyng commented on #2396
Hi @lincoln-harris!

Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, yours has been put in our backlog that we will be worki

[2020-06-26 17:46] kthyng commented on #2398
Hi @florian-huber!

Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, yours has been put in our backlog that we will be workin

[2020-06-26 17:46] kthyng commented on #2397
Hi @JBorrow!

Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, yours has been put in our backlog that we will be working thro

[2020-06-26 17:47] kthyng commented on #2397
Also, @JBorrow, can you state here what the repo is that contains your submission?

[2020-06-26 17:49] JBorrow commented on #2397
Ah - apologies - I had tried to use the yaml metadata at the top... But must have done something wrong.

The submission is at https://github.com/swiftsim/swiftsimio and docs at swiftsimio.readthedocs.org.

[2020-06-26 18:06] diehlpk commented on #2352
@whedon check references from branch JOSS

[2020-06-26 18:06] whedon commented on #2352
[code]

[2020-06-26 18:07] whedon commented on #2352
[code]

[2020-06-26 18:08] diehlpk commented on #2352
@whedon generate pdf from branch JOSS

[2020-06-26 18:08] whedon commented on #2352
[code]

[2020-06-26 18:10] whedon commented on #2352
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02352/joss.02352/10.21105.joss.02352.pdf)

[2020-06-26 18:17] diehlpk commented on #2352
@davidbeckingsale

We highlighted the review paper

which is a very nice overview of AMTS. In addition, we added a paragraph to paper and highlighted that the main features of HPX is the distributed computing capability with some other notable AMTS. Among this, the future-proof C++ standard conforming API is the major difference.

[2020-06-26 18:17] sap218 commented on #2168
@majensen Thank you so much! I just merged the PR - I appreciate the help! :-)

@balhoff Thank you!

@wdduncan We now have automated testing :-)

[2020-06-26 18:41] crew102 commented on #2264
Hi @sbenthall , I'm not able to review this paper at the moment. Sorry, too much going on work-wise :(

[2020-06-26 18:59] muhrin commented on #2351
We've addressed @uellue issue regarding contributor guidelines by adding [wiki entry](https://github.com/aiidateam/kiwipy/wiki/Contributing) with is now linked to in the docs.
I've yet to find the time to address the other points raise but should find the time in the coming days.  I'll report back as soon as I can.

[2020-06-26 19:12] bmcfee commented on #2223
Just a heads up on this, since it's been a couple of weeks.  I'm still working on finding reviewers, but your patience is appreciated!

[2020-06-26 19:25] lpantano commented on #2358
@ionlights, would you be interested to review this tool, I think you visualization experience could help to review this nice tool. Thanks

[2020-06-26 19:32] PeerHerholz commented on #2277
A opened an issue outlining my comments [here](https://github.com/BrkRaw/bruker/issues/13).

[2020-06-26 19:42] kbarnhart commented on #2197
👋 @andreas-h @rabernat @sadielbartholomew would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This submission is "IPART: A Python Package for Image-Processing based Atmospheric River Tracking" by Guangzhi Xu, Xiaohui Ma and Ping Chang

This i

[2020-06-26 19:50] kthyng commented on #2397
Ok, I updated the site above.

@openjournals/dev at this pre-review stage, does this repo name need to be updated in the system so that it is properly used in the review?

[2020-06-26 19:57] KristinaRiemer commented on #2258
@clauswilke @dcassol @davismcc @druvus would any of y'all be able and willing to review this submission?

[2020-06-26 20:15] arfon commented on #2397
@JBorrow - could you move the contents of this repository (https://github.com/SWIFTSIM/swiftsimio-joss-paper) into https://github.com/swiftsim/swiftsimio. It can be in a separate branch if you like.

[2020-06-26 20:16] karthik commented on #2273
Thank you. I have reached out to `dormezil` and `cmaimone` and will follow up once I hear a response.

[2020-06-26 20:24] story645 commented on #1989
Hi, incredibly sorry my review took so long. Mostly fine, some slight concerns:
1. the documentation homepage is missing a list of major dependencies - I'm not sure if this fits w/ joss guidelines or not
2. the paper needs copy editing (typos, some very clunky constructions) - not sure if this happens before or after the "approve for publication" step
3.  the paragraph starting with `pylustrator t

[2020-06-26 20:32] diehlpk commented on #2317
@teuben How is your review going?

[2020-06-26 20:53] whedon opened #2399 "[PRE REVIEW]: CoBaye: Correlation by Bayesian Inference"
**Submitting author:** @pedrorfigueira (<a href="http://orcid.org/0000-0001-8504-283X">Pedro Figueira</a>)
**Repository:** <a href="https://github.com/pedrorfigueira/CoBaye" target ="_blank">https://github.com/pedrorfigueira/CoBaye</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-06-26 20:53] whedon commented on #2399
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-26 20:53] whedon commented on #2399
[code]

[2020-06-26 20:53] whedon commented on #2399
[code]

[2020-06-26 20:54] whedon commented on #2399
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02399/joss.02399/10.21105.joss.02399.pdf)

[2020-06-26 20:55] clauswilke commented on #2258
I can review this.

[2020-06-26 20:55] kthyng commented on #2399
Hi @pedrorfigueira!

Thanks for your submission to JOSS. As described in our blog post announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS earlier in the month we've had a very large number of papers submitted and as such, yours has been put in our backlog that we will be worki

[2020-06-26 21:03] kthyng commented on #2117
I can help out here as the rotating Associate Editor in Chief this week. @cMadan is able to partially work currently but not necessarily consistently.

It looks like the reviews are finished! Can I verify that the issue listed above is meant to be left open?

[2020-06-26 21:07] Luthaf commented on #2117
Do you mean https://github.com/cosmo-epfl/chemiscope/issues/21? I think so, the goal is to introduce automated testing to the code, in addition to current manual checking. It is not totally trivial to do, since the project is mostly a graphical interface, which is hard to unit test.

We discussed this with @mkhorton starting https://github.com/openjournals/joss-reviews/issues/2117#issuecomment-625

[2020-06-26 21:10] mkhorton commented on #2117
Yes, I definitely would have liked to see automated tests, but our reading of the JOSS guidelines was that this was _not_ required to fulfill the requirements of the review (though of course encouraged!).

[2020-06-26 21:11] kthyng commented on #2117
That is correct that automated testing is not required, and I read above that *a* means of verifying correct behavior has been included. Thank you @mkhorton!

[2020-06-26 21:12] kthyng commented on #2117
@Luthaf I made some small changes to your paper in [this PR](https://github.com/cosmo-epfl/chemiscope/pull/54), please consider and merge if you agree with them. I looked through your references too and they look reasonably capitalized, etc, but please verify too.

[2020-06-26 21:12] kthyng commented on #2117
@whedon check references

[2020-06-26 21:13] whedon commented on #2117
[code]

[2020-06-26 21:15] kthyng commented on #2117
@Luthaf after the paper is finalized, please verify the current version of the code. Also, go to a place like Zenodo and create an archive of your code and report back here with the doi. Be sure that the metadata for the Zenodo archive exactly matches that of your JOSS paper (title and authors) — you may need to update it there. This is a request but not mandatory.

[2020-06-26 21:18] oliviaguest commented on #2348
@whedon add @tjmahr as reviewer

[2020-06-26 21:18] whedon commented on #2348
OK, @tjmahr is now a reviewer

[2020-06-26 21:19] oliviaguest commented on #2348
@whedon re-invite @tjmahr as reviewer

[2020-06-26 21:19] whedon commented on #2348
The reviewer already has a pending invite.

@tjmahr please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-26 21:20] davidbeckingsale commented on #2270
I don't have the bandwidth for this right now, so will decline. Thanks for considering me.

[2020-06-26 21:22] Luthaf commented on #2117
We just set up zenodo, and released version 0.2.0 this morning, corresponding to the latest master (minus your PR): https://zenodo.org/record/3909400

The title should match already match, the authors also include two more people, one who helped correct a typo, and @rosecers. @rosecers made some significant contributions to the code since the paper was submited, so we'll discuss co-authorship on t

[2020-06-26 21:27] karthik commented on #2273
@whedon add @cmaimone as reviewer

[2020-06-26 21:27] whedon commented on #2273
OK, @cmaimone is now a reviewer

[2020-06-26 21:30] RMeli commented on #2367
@whedon generate pdf from branch joss-paper-branch

[2020-06-26 21:30] whedon commented on #2367
[code]

[2020-06-26 21:30] whedon commented on #2367
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02367/joss.02367/10.21105.joss.02367.pdf)

[2020-06-26 22:49] jsgalan commented on #2283
Hi all, I have made an initial installation, here a output screens

1 - installation via pip

<img width="690" alt="Screen Shot 2020-06-26 at 5 01 42 PM" src="https://user-images.githubusercontent.com/971958/85906259-5c22fa00-b7d3-11ea-85b4-cdc85e287718.png">

2- I already had nose installed

<img width="678" alt="Screen Shot 2020-06-26 at 5 03 25 PM" src="https://user-images.githubusercontent.com

[2020-06-26 23:11] jsgalan commented on #2283
Hi, I also verified the paper itself, and I think is pretty good. Also a great addition was the comparison with other available software.

good job!

[2020-06-27 00:03] Smattr commented on #2270
Just to confirm: I'm not meant to start my review until you've found a second reviewer, right?

[2020-06-27 00:32] rhenanbartels commented on #1867
Hi @Kevin-Mattheus-Moerman, how are you doing?
I hope everything is fine.

Are there any further steps for the paper review?
Let me know if there is anything I need to do.

Cheers!

[2020-06-27 01:24] cMadan commented on #2117
@kblin @mkhorton, thanks for reviewing this submission!

@kthyng, thank you for providing some guidance to the authors between my check-ins here.

[2020-06-27 01:24] cMadan commented on #2117
@whedon set 0.2.0 as version

[2020-06-27 01:24] whedon commented on #2117
OK. 0.2.0 is the version.

[2020-06-27 01:25] cMadan commented on #2117
@whedon set 10.5281/zenodo.3909400 as archive

[2020-06-27 01:25] whedon commented on #2117
OK. <a href="https://doi.org/10.5281/zenodo.3909400" target="_blank">10.5281/zenodo.3909400</a> is the archive.

[2020-06-27 01:25] cMadan commented on #2117
@whedon generate pdf

[2020-06-27 01:26] whedon commented on #2117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02117/joss.02117/10.21105.joss.02117.pdf)

[2020-06-27 01:45] cMadan commented on #2117
@Luthaf, I think we're about all set to accept here. However, for now I'll wait until you discuss co-authorship with @rosecers and provide an update here.

[2020-06-27 01:46] cMadan commented on #2226
@whedon generate pdf

[2020-06-27 01:47] whedon commented on #2226
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02226/joss.02226/10.21105.joss.02226.pdf)

[2020-06-27 01:50] cMadan commented on #2226
@akcochrane, sorry for the delay, it looks like you need to add some `{` and `}` around terms in your bib to fix the capitalisation in the references but otherwise things look good.

Do you have any additional suggestions for reviewers (see the initial comment in this issue for some guidance) ?

[2020-06-27 02:06] szorowi1 commented on #2348
Hi all, had the pleasure of trying out `pypillometry` this week. I was successfully able to install `pypillometry` and then load in my own data, perform preprocessing (blink detection + correction, filtering, rescaling) with ease, and compute/plot ERPDs. The examples were more than enough help to adapt the code to my data, and the API was detailed and easy to read. Overall, the package is very imp

[2020-06-27 10:25] ihrke commented on #2348
Thanks @samhforbes and @szorowi1 for nice comments and suggestions! I have tried to address them in the issues over at ihrke/pypillometry and added the `propose-close` label. If you are happy with the changes, can you close the respective issues?
The remaining issues are

- ihrke/pypillometry#1 (documentation of modeling: I added two notebooks with hopefully helpful information)
- ihrke/pypillomet

[2020-06-27 10:37] TheChymera commented on #2378
@diehlpk thank you for thinking of me :) While I am indeed interested in new work on software reproducibility, it is my constant experience that Docker is an incredibly unfitting and shoehorned solution for this. It's a deployment system, and has nothing to do with environment reproducibility as much as copy-paste-ability. I am afraid I could not offer a competent review beyond just disagreeing ve

[2020-06-27 11:42] hope-data-science commented on #2388
Thank you for the valuable comments. I'll work on them as soon as possible.

[2020-06-27 12:26] rram84 commented on #2372
I addressed these issues with changes to CMakeLists.txt and a more detailed set of instructions in README.md. Please see the comments under each issue.

Thank you for the notes. The paper and references have been revised.

[2020-06-27 14:22] essepuntato commented on #2220
It worked thanks!

S.

[2020-06-27 14:51] teuben commented on #2317
I hope to finish this by tomorrow.

On Fri, Jun 26, 2020, 16:32 Patrick Diehl <notifications@github.com> wrote:

[2020-06-27 14:51] dpsanders commented on #2355
Thanks @RaphaelS1, the new version of the paper nicely explains the scope and use of the package. BTW, some more possibly relevant Julia packages include LazySets.jl, DomainSets.jl and SpecialSets.jl. But for example your lazy power set functionality looks pretty unique to me.

[2020-06-27 14:52] dpsanders commented on #2355
Could you please suggest possible reviewers from the list mentioned in the first post above (without tagging them with `@`).

[2020-06-27 14:53] sritchie commented on #2378
@TheChymera I actually agree with you, as far as raw Docker is concerned; it may not be clear, but I built this as a reaction to the dozens of copy-pasted Dockerfiles that end up infesting projects that attempt to use this tool to give themselves reproducibility guarantees.

Caliban is an attempt to implement a declarative build system that compiles a user's project on top of a stable base image.

[2020-06-27 14:55] gkthiruvathukal commented on #2270
@Smattr That's correct. You are certainly welcome to start looking things over until the review thread is formally opened. Going to try to get the second reviewer assigned. Thanks!

[2020-06-27 14:55] gkthiruvathukal commented on #2270
@smiths or @drj11, are either of you willing to contribute a review for this JOSS submission?

[2020-06-27 15:12] florian-huber commented on #2398
Reviewers from the list that could fit both topic-wise (Cheminformatics, mass spectroscopy) and language-wise (Python):

- hannahbrucemacdonald
- abotzki
- mberacochea
- thesketh
- RMeli
- bovee

Further suggestions (not from the list):
- lfnothias
- mwang87

[2020-06-27 17:48] W4ngatang commented on #2395
Hi @jasonnance,

Just to confirm, the paper is [here](https://github.com/RTIInternational/gobbli/pull/22/files)? I see that it's currently in a PR; is it ready for review, or should we wait?

Best,
Alex

[2020-06-27 18:00] diehlpk commented on #2378
@whedon assign @lukasheinrich as reviewer

[2020-06-27 18:00] whedon commented on #2378
OK, @lukasheinrich is now a reviewer

[2020-06-27 18:33] drj11 commented on #2270
in principle yes I can review this JOSS submission. It would be my first review for JOSS. Are there guidelines for reviewers?

[2020-06-27 20:20] sadielbartholomew commented on #2197
Hi Katy, thank you for offering a review. Yes, I am happy & able to review this submission & do so at least within 6 weeks. I have read the COI Policy & do not have any COI for this submission.

One question to confirm, though, as I have not reviewed for JOSS before: I assume it does not preclude me from being a reviewer overall if I am due to soon be a co-author on a submission to JOSS (completel

[2020-06-27 20:28] agshvarts commented on #2121
@prs513rosewood, thanks for fixing the doc generation (`scons doc` works now) and for the clarification regarding the frictional model. This concludes my review, as all points have been ticked, @Kevin-Mattheus-Moerman

Finally, I would like to personally thank the authors of this code, as we have already started using it in our work, for the generation of random rough surfaces and the comparison b

[2020-06-27 21:13] likask commented on #2121
Following @agshvarts recommendation, I will add that installation is straightforward; code has testing procedures in place. Indeed it was fortunate for us that we found Tamaas and we could use it immediately in our work. What by itself proves is usability and functionality.

It looks that the implemented method in the code is a state of the art technology based on the boundary element method and i

[2020-06-27 21:38] gkthiruvathukal commented on #2270
@drj11 Thanks for responding. As a matter of fact, we do have guidelines at https://joss.readthedocs.io/en/latest/reviewer_guidelines.html?

I hope I can interpret your response as a "yes". I'll be happy to help with any questions during the process.

[2020-06-27 22:10] drj11 commented on #2270
@gkthiruvathukal Yes you can interpret my response as a "yes". :)

[2020-06-27 22:21] gkthiruvathukal commented on #2270
Thanks, @drj11!

I will start the review now....

[2020-06-27 22:21] gkthiruvathukal commented on #2270
@whedon add @drj11 as reviewer

[2020-06-27 22:21] whedon commented on #2270
OK, @drj11 is now a reviewer

[2020-06-27 22:21] gkthiruvathukal commented on #2270
@whedon start review

[2020-06-27 22:21] whedon opened #2400 "[REVIEW]: GPP, the Generic Preprocessor"
**Submitting author:** @Logological (<a href="http://orcid.org/0000-0002-0749-1100">Tristan Miller</a>)
**Repository:** <a href="https://github.com/logological/gpp.git" target ="_blank">https://github.com/logological/gpp.git</a>
**Version:** 2.27
**Editor:** @gkthiruvathukal
**Reviewer:** @Smattr, @drj11
**Archive:** <a href="https://doi.org/10.5281/zenodo.3961322" target="_blank">10.5281/zenodo.3

[2020-06-27 22:21] whedon commented on #2270
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2400.

[2020-06-27 22:21] #2270 closed

[2020-06-27 22:21] whedon commented on #2400
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Smattr, @drj11 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2020-06-27 22:22] whedon commented on #2400
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02400/joss.02400/10.21105.joss.02400.pdf)

[2020-06-27 22:22] whedon commented on #2400
[code]

[2020-06-28 01:54] smiths commented on #2270
Looks like I missed my chance.  I'll be quicker to say yes on the next request.  :smile:

[2020-06-28 03:50] jasonnance commented on #2395
Hi @W4ngatang, yep, that's it.  It's ready for review -- I was hoping to finish the review on that branch before merging into master.

[2020-06-28 04:43] adithirgis commented on #2250
Hello @arfon ,

Both reviewers have accepted the package and paper in the current form and the package is now available on CRAN. Can we update the installation instructions in the paper.md accordingly at this stage?

Thanks!

[2020-06-28 08:34] RaphaelS1 commented on #2355
@dpsanders suggestions as follows: jkanche, tylerwmarrs, kinow, billchenxi, mcavs, jaeyk

[2020-06-28 10:40] edwardoughton commented on #2266
Most of this is now complete @danielskatz, I'm just waiting for the authorship team to agree all the changes, and then I'll integrate the branch for @garrettj403 to review. I'm hoping this will be done by tomorrow.

[2020-06-28 11:39] arfon commented on #2390
:wave: @IIT-LAND - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2020-06-28 11:39] arfon commented on #2390
@whedon reject

[2020-06-28 11:39] whedon commented on #2390
Paper rejected.

[2020-06-28 11:39] #2390 closed

[2020-06-28 11:41] arfon commented on #2399
👋 @pedrorfigueira - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/

[2020-06-28 11:41] arfon commented on #2399
@whedon reject

[2020-06-28 11:41] whedon commented on #2399
Paper rejected.

[2020-06-28 11:41] #2399 closed

[2020-06-28 11:45] arfon commented on #2389
:wave: @nhejazi - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2020-06-28 11:45] arfon commented on #2389
@whedon reject

[2020-06-28 11:45] whedon commented on #2389
Paper rejected.

[2020-06-28 11:45] #2389 closed

[2020-06-28 11:46] arfon commented on #2329
:wave: @mgm8 - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on

[2020-06-28 11:46] arfon commented on #2329
@whedon reject

[2020-06-28 11:46] whedon commented on #2329
Paper rejected.

[2020-06-28 11:46] #2329 closed

[2020-06-28 11:49] arfon commented on #2250
@whedon generate pdf

[2020-06-28 11:50] whedon commented on #2250
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02250/joss.02250/10.21105.joss.02250.pdf)

[2020-06-28 12:12] arfon commented on #2250
@adithirgis - could you please merge this PR which fixes some formatting issues with your paper: https://github.com/meenakshi-kushwaha/mmaqshiny/pull/4

After that, could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archi

[2020-06-28 12:44] adithirgis commented on #2250
@whedon generate pdf

[2020-06-28 12:45] whedon commented on #2250
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02250/joss.02250/10.21105.joss.02250.pdf)

[2020-06-28 13:28] adithirgis commented on #2250
Hello @arfon!

I merged this PR - https://github.com/meenakshi-kushwaha/mmaqshiny/pull/4
Here is the Zenodo doi: 10.5281/zenodo.3911659

Thanks!

[2020-06-28 13:35] arfon commented on #2250
@whedon set 10.5281/zenodo.3911659 as archive

[2020-06-28 13:35] whedon commented on #2250
OK. <a href="https://doi.org/10.5281/zenodo.3911659" target="_blank">10.5281/zenodo.3911659</a> is the archive.

[2020-06-28 13:36] arfon commented on #2250
@whedon accept

[2020-06-28 13:36] whedon commented on #2250
[code]

[2020-06-28 13:36] whedon commented on #2250
[code]

[2020-06-28 13:36] whedon commented on #2250
PDF failed to compile for issue #2250 with the following error:

 fclose: No space left on device
fclose: No space left on device
fclose: No space left on device
fclose: No space left on device
fclose: No space left on device
fclose: No space left on device
fclose: No space left on device
fclose: No space left on device
fclose: No space left on device
fclose: No space left on device
/app/vendor/bu

[2020-06-28 13:39] arfon commented on #2250
@whedon accept

[2020-06-28 13:40] whedon commented on #2250
[code]

[2020-06-28 13:40] whedon commented on #2250
[code]

[2020-06-28 13:40] whedon commented on #2250
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1518

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1518, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-28 13:43] arfon commented on #2250
@whedon accept deposit=true

[2020-06-28 13:43] whedon commented on #2250
[code]

[2020-06-28 13:43] whedon commented on #2250
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1277236263561629697) 👈 🐦🐦🐦

[2020-06-28 13:43] whedon commented on #2250
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1519
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02250](https://doi.org/10.21105/joss.02250)
2. If everything looks g

[2020-06-28 13:45] arfon commented on #2250
@ibarraespinosa, @nistara - many thanks for your reviews here :sparkles:

@adithirgis - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-06-28 13:45] #2250 closed

[2020-06-28 13:45] whedon commented on #2250
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02250/status.svg)](https://doi.org/10.21105/joss.02250)

**We need your help!**

Journal of Open Source Softwa

[2020-06-28 13:52] adithirgis commented on #2250
Thanks for being so helpful and thoughtful with the whole process: @arfon , @ibarraespinosa  and @nistara and of course whedon:) ! We appreciate it! This review process has been very smooth and transparent!

[2020-06-28 14:32] arfon commented on #2375
:wave: @apcamargo - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/

[2020-06-28 14:32] arfon commented on #2375
@whedon reject

[2020-06-28 14:33] whedon commented on #2375
Paper rejected.

[2020-06-28 14:33] #2375 closed

[2020-06-28 14:34] whedon opened #2401 "[PRE REVIEW]: Science Capsule - Capturing the Data Life Cycle"
**Submitting author:** @dghoshal-lbl (<a href="http://orcid.org/0000-0002-6819-6949">Devarshi Ghoshal</a>)
**Repository:** <a href="https://bitbucket.org/sciencecapsule/sciencecapsule" target ="_blank">https://bitbucket.org/sciencecapsule/sciencecapsule</a>
**Version:** v0.1.0
**Editor:** @pibion
**Reviewers:** @cmbiwer
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:

[2020-06-28 14:34] whedon commented on #2401
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-28 14:34] whedon commented on #2401
PDF failed to compile for issue #2401 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2401 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedo

[2020-06-28 14:34] whedon commented on #2401
[code]

[2020-06-28 14:35] arfon commented on #2401
@whedon generate pdf from branch joss

[2020-06-28 14:35] whedon commented on #2401
[code]

[2020-06-28 14:36] whedon commented on #2401
PDF failed to compile for issue #2401 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon.rb:153:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33

[2020-06-28 14:36] arfon commented on #2401
@whedon generate pdf

[2020-06-28 14:37] whedon commented on #2401
PDF failed to compile for issue #2401 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon.rb:153:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33

[2020-06-28 14:38] arfon commented on #2401
@dghoshal-lbl - please remove the blank `orcid` entries for the two authors:

[code]

[2020-06-28 14:38] arfon commented on #2401
@whedon check repository

[2020-06-28 14:39] whedon commented on #2401
[code]

[2020-06-28 14:41] arfon commented on #2401
@whedon invite @pibion as editor

:wave: @pibion - would you be willing to edit this submission for JOSS?

[2020-06-28 14:41] whedon commented on #2401
@pibion has been invited to edit this submission.

[2020-06-28 14:55] arfon commented on #2368
@whedon invite @galessiorob as editor

:wave: @galessiorob - would you be willing to edit this submission for JOSS?

[2020-06-28 14:55] whedon commented on #2368
@galessiorob has been invited to edit this submission.

[2020-06-28 14:57] arfon commented on #2380
@whedon invite @galessiorob as editor

:wave: @galessiorob - would you be willing to edit this submission for JOSS?

[2020-06-28 14:57] whedon commented on #2380
@galessiorob has been invited to edit this submission.

[2020-06-28 14:59] arfon commented on #2397
Also, @JBorrow - could you tell me if this submission is associated with a paper in a AAS journal?

[2020-06-28 15:00] arfon commented on #2397
@whedon invite @dfm as editor

:wave: @dfm - would you be willing to edit this submission for JOSS?

[2020-06-28 15:00] whedon commented on #2397
@dfm has been invited to edit this submission.

[2020-06-28 15:02] arfon commented on #2398
@whedon assign me as editor

[2020-06-28 15:02] whedon commented on #2398
OK, the editor is @arfon

[2020-06-28 15:03] arfon commented on #2398
:wave: @thesketh @hannahbrucemacdonald, @lfnothias - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-28 15:25] Ji-Zhang commented on #1608
@kellieotto Sorry for this inconvenience. Could you try it again, please?

[2020-06-28 16:20] gkthiruvathukal commented on #2270
@smiths I will definitely call upon you soon. Thank you for responding!

[2020-06-28 17:01] gkthiruvathukal commented on #2356
Hi @jboynyc, can you please suggest some potential reviewers from the list of people (see top of this thread)? Thanks.

[2020-06-28 17:13] sp94 commented on #2239
Hi @dpsanders,

I just want to update you with where I'm at.

Thanks for recommending Documenter.jl and the divio guide to documentation, they were very helpful. I've ported the old README over to the docs, and split it up into intro/tutorial/how-to's/reference. There are a couple of docstrings still to fix in the reference, and I need to write the "contributing" statement, but I think everything

[2020-06-28 18:20] pearsonkyle commented on #2347
Nice work @afeinstein20. Only a few things

## Software
- In the example, there was no way to inspect the model after it was loaded in `predict`. I'm curious about the number of inputs and size of the model being used. Someone not versed in keras/tensorflow might have difficulty finding these
- The dependencies are not clearly listed. There seems to be a disconnect between `requirements.txt` and `

[2020-06-28 18:25] nhejazi commented on #2389
Hi @arfon, and JOSS editorial team, thanks for your quick initial review of our `haldensify` R package. If possible, would it be possible to clarify exactly how the determination was made that this package falls into the minor utility category?

As it's not at this point clear what exactly this initial review process included, I clarify below why the package should not fall into the minor utility

[2020-06-28 18:35] lpantano commented on #2396
@kthyng, I can edit that if you don't have another person in mind :)

[2020-06-28 19:31] dghoshal-lbl commented on #2401
@arfon I have removed the blank orcid entries.

[2020-06-28 19:46] fboehm commented on #2326
@whedon assign @tomsing1 as reviewer

[2020-06-28 19:46] whedon commented on #2326
OK, @tomsing1 is now a reviewer

[2020-06-28 19:47] fboehm commented on #2326
@whedon start review

[2020-06-28 19:47] whedon opened #2402 "[REVIEW]: ‘Bioassays’; a new package in R for analyzing cellular assays"
**Submitting author:** @anwarbio (<a href="http://orcid.org/0000-0002-1693-1219">ANWAR PALAKKAN</a>)
**Repository:** <a href="https://github.com/anwarbio/bioassays" target ="_blank">https://github.com/anwarbio/bioassays</a>
**Version:** v1.0.1
**Editor:** @fboehm
**Reviewers:** @tomsing1, @homonecloco
**Archive:** <a href="https://doi.org/10.5281/zenodo.4075110" target="_blank">10.5281/zenodo.4075

[2020-06-28 19:47] whedon commented on #2326
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2402.

[2020-06-28 19:47] #2326 closed

[2020-06-28 19:47] whedon commented on #2402
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tomsing1 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-06-28 19:47] whedon commented on #2402
PDF failed to compile for issue #2402 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/2402/paper.md): mapping values are not allowed in this context at line 2 column 17 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/r

[2020-06-28 19:56] danielskatz commented on #2401
@whedon generate pdf

[2020-06-28 19:57] whedon commented on #2401
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02401/joss.02401/10.21105.joss.02401.pdf)

[2020-06-28 19:58] danielskatz commented on #2401
@whedon check references

[2020-06-28 19:58] whedon commented on #2401
[code]

[2020-06-28 20:01] danielskatz commented on #2401
👋 @dghoshal-lbl - can you explain how this is research software that will be cited by users, as opposed to infrastructure software (like operating systems and compilers) that is important to research but is not research software?

[2020-06-28 20:25] emptymalei commented on #2339
Also talked to my friend who's been doing such statistics by hand. She said this covers most of the statistics she's been looking at and will try out on the next project.

[2020-06-29 01:26] DominiqueMakowski commented on #2306
Dear @markhwhiteii, thanks for your comments and suggestions ☺️ We have addressed and fixed all of your points in separate issues (see https://github.com/easystats/correlation/issues?q=is%3Aissue+is%3Aclosed). Let us know if there is anything more.

[2020-06-29 03:29] nickrsan commented on #2292
So, quick note on my status - just ran the test suite and it passed fine on my computer (Python 3.7.7, Win 10). I still have a bit more to do to verify the functional claims, but seems good so far.

One question I have for @kbarnhart - I'm wondering if, in addition to the objective/checklist process for acceptance, if JOSS reviews include general feedback from reviewers. Should we be considering c

[2020-06-29 05:00] rajeshrinet commented on #2318
@harpolea: thank you very much for your editorial assistance in reviewing our [submission](https://github.com/rajeshrinet/pystokes/blob/master/docs/paper/paper.md). We, the authors (@rajeshrinet and @ronojoy), have revised the manuscript in response to the reviewers suggestions. We detail the changes below and hope that, with these changes, the manuscript can now accepted in JOSS.

Referee A: @khi

[2020-06-29 08:28] JBorrow commented on #2397
@whedon generate pdf from branch joss-paper

[2020-06-29 08:28] whedon commented on #2397
[code]

[2020-06-29 08:28] whedon commented on #2397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02397/joss.02397/10.21105.joss.02397.pdf)

[2020-06-29 08:29] JBorrow commented on #2397
I have moved the paper inside the main repo into the `joss-paper` branch.

[2020-06-29 08:30] JBorrow commented on #2397
This is not associated with any submission in an AAS journal, no - it is a standalone JOSS submission.

[2020-06-29 08:51] khinsen commented on #2284
@whedon generate pdf

[2020-06-29 08:52] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-06-29 08:52] jboynyc commented on #2356
Possible reviewers I've been able to identify include alexhanna, cmaimone, tresoldi, and nniiicc. Contributors to [cbail/textnets](https://github.com/cbail/textnets) would also be well suited (but don't appear in the reviewer list).

[2020-06-29 09:45] rgerum commented on #1989
Thank you for the review.

1. I added a list of dependencies to the documentation page. https://pylustrator.readthedocs.io/en/latest/#installation

2. I did some copy editing of the text.

3. I rewrote this paragraph and I hope it should be more clear now.

You can see the changes to the text here: https://github.com/rgerum/pylustrator/commit/d7cc5d798212c79a54901ad19a71a39a8efbac76

@whedon gener

[2020-06-29 10:09] whedon commented on #2318
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02318/joss.02318/10.21105.joss.02318.pdf)

[2020-06-29 11:07] JonasMoss commented on #2265
Thanks, @kloppen! Again, let me say I think this is a very nice package. =)

I think everything looks fine now, @usethedata.

[2020-06-29 11:11] thesketh commented on #2398
Hi @arfon, unfortunately I'm just about to change jobs so I'm a bit overloaded at the moment! In any case, I'm not sure I know enough about mass spectrometry to review this.

[2020-06-29 11:23] iljah commented on #2185
Found another issue with prerequisite h5si: https://github.com/anandogc/h5si/issues/2

[2020-06-29 11:39] JBorrow commented on #2397
@whedon check repository

[2020-06-29 11:39] whedon commented on #2397
[code]

[2020-06-29 11:40] fbiljecki commented on #2305
Thanks @giswqs, nice job on the software.
I recommend the acceptance of this submission.

[2020-06-29 11:52] peanutfun commented on #2313
@gassmoeller, thanks a lot for your quick review and positive feedback!

Sounds good! We did not do so before because we felt that somebody who can manage development through a mounted Docker container will also manage the manual installation process and end up with a much more capable development environment. Anyway, I'll add this through an MR.

I very much like the Citation File Format and alre

[2020-06-29 12:01] dfm commented on #2397
@arfon: yes - I'm happy to edit!

[2020-06-29 12:01] dfm commented on #2397
@whedon assign @dfm as editor

[2020-06-29 12:01] whedon commented on #2397
OK, the editor is @dfm

[2020-06-29 12:08] dfm commented on #2397
@JBorrow: Based on an initial skim of the paper: can you double check the HDF and pnbody citations? They don't seem to have all the necessary BibTeX info.

[2020-06-29 12:18] JBorrow commented on #2397
Thanks, I've updated them. I used the 'official' HDF citation but this had 1997-NNNN in it's date field, I have changed this to just be 1997.

I've changed pnbody to use their ASCL citation.

[2020-06-29 12:19] JBorrow commented on #2397
@whedon generate pdf from branch joss-paper

[2020-06-29 12:19] whedon commented on #2397
[code]

[2020-06-29 12:19] whedon commented on #2397
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02397/joss.02397/10.21105.joss.02397.pdf)

[2020-06-29 12:27] oliviaguest commented on #2340
@whedon generate pdf from branch joss-paper

[2020-06-29 12:27] whedon commented on #2340
[code]

[2020-06-29 12:27] whedon commented on #2340
PDF failed to compile for issue #2340 with the following error:

 error: pathspec 'joss-paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-06-29 12:31] oliviaguest commented on #2340
@whedon generate pdf

[2020-06-29 12:31] whedon commented on #2340
PDF failed to compile for issue #2340 with the following error:

 Can't find any papers to compile :-(

[2020-06-29 12:32] oliviaguest commented on #2340
@whedon generate pdf from branch joss-paper

[2020-06-29 12:32] whedon commented on #2340
[code]

[2020-06-29 12:32] whedon commented on #2340
PDF failed to compile for issue #2340 with the following error:

 error: pathspec 'joss-paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-06-29 12:33] oliviaguest commented on #2340
@openjournals/dev is this `Can't find any papers to compile :-(` a GitHub thing or a @whedon thing?

[2020-06-29 12:35] oliviaguest commented on #2394
@whedon generate pdf

[2020-06-29 12:36] whedon commented on #2394
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02394/joss.02394/10.21105.joss.02394.pdf)

[2020-06-29 12:39] oliviaguest commented on #2377
Hey @Emma-k-ward and @trisbek can you give me a rough ETA for your reviews? I ask not to hurry you but just to be organised. Thank you. ☺️

[2020-06-29 12:41] danielskatz commented on #2340
@whedon generate pdf from branch joss-paper

[2020-06-29 12:41] whedon commented on #2340
[code]

[2020-06-29 12:42] philippberens commented on #2339
Let us know if there is anything to add!

[2020-06-29 12:42] whedon commented on #2340
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02340/joss.02340/10.21105.joss.02340.pdf)

[2020-06-29 12:43] danielskatz commented on #2340
@oliviaguest - maybe a transient error?  anyhow, seems ok now

[2020-06-29 12:53] oliviaguest commented on #2348
@whedon generate pdf

[2020-06-29 12:54] whedon commented on #2348
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02348/joss.02348/10.21105.joss.02348.pdf)

[2020-06-29 12:55] majensen commented on #2168
@wdduncan there are two boxes unchecked on your review . I think we've taken care of "Automated Tests". The last one is "State of the Field". If you're happy with where we are on these, can you confirm by checking those off. Then I can push our recommendation to the editors-in-chief.

[2020-06-29 12:58] oliviaguest commented on #2339
@whedon generate pdf

[2020-06-29 12:59] whedon commented on #2339
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02339/joss.02339/10.21105.joss.02339.pdf)

[2020-06-29 13:26] samhforbes commented on #2348
@ihrke I'm satisfied that you've answered my queries, and I've ticked those remaining boxes. Well done on what I feel is a really important package.

[2020-06-29 13:30] kthyng commented on #2396
Sounds great @lpantano! Thanks!

[2020-06-29 13:30] kthyng commented on #2396
@whedon assign @lpantano as editor

[2020-06-29 13:30] whedon commented on #2396
OK, the editor is @lpantano

[2020-06-29 13:38] wdduncan commented on #2168
@majensen they're checked now :)

[2020-06-29 13:43] kthyng commented on #2391
Thanks @gmaze!

[2020-06-29 13:44] kthyng commented on #2391
@dhruvbalwada are you interested in reviewing this submission to JOSS? We are asking for reviews within about 6 weeks currently. You can see how the process goes here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-29 13:48] kthyng commented on #2391
Also have an email request out currently to another potential reviewer.

[2020-06-29 14:13] majensen commented on #2168
@sap218 we're on the final approach. Can you create a tag for your master branch, and then use that to create a public archive for your software? You can use [Zenodo](https://zenodo.org/) -- there's a quick tutorial at https://github.com/openjournals/joss-reviews/issues/1839#issuecomment-560048729
That process will give you a DOI (like "10.5281/zenodo.3558815" ) - please report that back here. Tha

[2020-06-29 14:26] oliviaguest commented on #2348
@samhforbes thank you so much! I might ask you all to check the very final version one last time when all reviewers have given comments and @ihrke has made all edits (e.g., in the rare case there are any divergences of opinion or feedback needed on anything), but for now feel free to go off and do other stuff, Sam H.! 👏

[2020-06-29 14:33] diehlpk commented on #2317
@teuben Thanks for the update.

[2020-06-29 14:34] katmratliff commented on #2292
@nickrsan if you have any suggestions/feedback about PySWMM or our documentation beyond the scope of this JOSS review, please feel free to open up issues/PRs in the repo! We are always happy to receive that sort of thing, however big or small, and are always looking to improve! :) thank you for taking the time to review!

[2020-06-29 14:35] diehlpk commented on #2378
@sritchie Could you recommend some more potential reviewers (without the @ in front of their GitHub handle)? We still need one more reviewer to go ahead.

[2020-06-29 14:55] arokem commented on #2378
✋ I'd be  interested in reviewing this

[2020-06-29 14:57] kloppen commented on #2265
The changes that I made to address JonasMoss' comments were in the `feature/joss-review` branch of the `cmstatr` repository. I've now merged those changes into `master`.

I'll re-generate the PDF:
@whedon generate pdf

I did bump the software version number to `0.6.0` because there were some minor changes the resulted from the review. I think that only editors can ask whedon to change the version

[2020-06-29 15:00] jeffcsauer commented on #2223
No worries, thanks for the update! Totally understand.

[2020-06-29 15:04] kloppen commented on #2265
@whedon generate pdf

[2020-06-29 15:04] whedon commented on #2265
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02265/joss.02265/10.21105.joss.02265.pdf)

[2020-06-29 15:26] kbarnhart commented on #2292
@nickrsan Thanks for a great question. The kind of feedback you are describing is incredibly valuable and I would encourage you to make those comments.

I would recommend that you make issues in the main source repository about these sort of comments and link them to this issue. If you could make a quick note here for me that indicates which issues don't impact acceptance, that would also be very

[2020-06-29 15:29] kbarnhart commented on #2197
@sadielbartholomew thank you for being willing to review this submission! I can confirm that soon-to-be submitting to JOSS does not preclude you from being a reviewer.

I'll add you to the submission as a reviewer. I hope to start the official review thread in the next few days.

Thanks again for participating in the JOSS review process.

[2020-06-29 15:29] kbarnhart commented on #2197
@whedon add @sadielbartholomew as reviewer

[2020-06-29 15:29] whedon commented on #2197
OK, @sadielbartholomew is now a reviewer

[2020-06-29 15:30] kbarnhart commented on #2197
👋 @andreas-h and @rabernat a quick ping to consider reviewing this submission to JOSS.

[2020-06-29 15:44] diehlpk commented on #2378
@whedon add @arokem as reviewer

[2020-06-29 15:44] whedon commented on #2378
OK, @arokem is now a reviewer

[2020-06-29 15:44] diehlpk commented on #2378
@whedon start review

[2020-06-29 15:44] whedon opened #2403 "[REVIEW]: Caliban: Docker-based job manager for reproducible workflows"
**Submitting author:** @sritchie (<a href="http://orcid.org/0000-0002-0545-6360">Sam Ritchie</a>)
**Repository:** <a href="https://github.com/google/caliban" target ="_blank">https://github.com/google/caliban</a>
**Version:** 0.4.1
**Editor:** @diehlpk
**Reviewer:** @lukasheinrich, @arokem
**Archive:** <a href="https://doi.org/10.5281/zenodo.4026612" target="_blank">10.5281/zenodo.4026612</a>

**:

[2020-06-29 15:44] whedon commented on #2378
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2403.

[2020-06-29 15:44] #2378 closed

[2020-06-29 15:44] whedon commented on #2403
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lukasheinrich, @arokem it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2020-06-29 15:44] whedon commented on #2403
[code]

[2020-06-29 15:44] whedon commented on #2403
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02403/joss.02403/10.21105.joss.02403.pdf)

[2020-06-29 15:46] diehlpk commented on #2403
@sritchie Could you please check the missing DOI reported above?

[2020-06-29 15:53] rabernat commented on #2197
Yes, I will provide a review within 6 weeks.

[2020-06-29 16:00] sap218 commented on #2168
@majensen Done!

10.5281/zenodo.3922261
[![DOI](https://zenodo.org/badge/227571502.svg)](https://zenodo.org/badge/latestdoi/227571502)

[2020-06-29 16:02] scwest commented on #2044
I have posted an updated response for the new comments made by  @SiminaB
<https://github.com/SiminaB>. They are posted in thecodingdoc/neep#5
<https://github.com/thecodingdoc/neep/issues/5>.

Sean

On Wed, Jun 24, 2020 at 8:57 AM whedon <notifications@github.com> wrote:

[2020-06-29 16:15] majensen commented on #2168
Excellent @sap218. Now, JOSS prefers that the name of the archive be the same as that of the paper, and that the author lists match. So.. would you be able to update the name and remove that parasitic author from the list on the archive?

[2020-06-29 16:26] harpolea commented on #2318
@rajeshrinet Great – thanks for your quick response!

@khinsen and @fcooper8472: are you happy with these changes, and do you think that they satisfy the requirements to check off the last points in the review checklist?

[2020-06-29 16:27] sritchie commented on #2403
@whedon check references

[2020-06-29 16:28] whedon commented on #2403
[code]

[2020-06-29 16:30] sritchie commented on #2403
@diehlpk looks like we're good to go!

[2020-06-29 16:36] andrefaure commented on #2353
@csoneson  the target repository (https://github.com/jbloomlab/dms-view-ms) is not where "the source code for this software" is available as indicated in the checklist above - not sure if this is intended...

[2020-06-29 16:39] KristinaRiemer commented on #2258
Great, thanks so much @clauswilke!

[2020-06-29 16:39] KristinaRiemer commented on #2258
@whedon assign @clauswilke as reviewer

[2020-06-29 16:39] whedon commented on #2258
OK, @clauswilke is now a reviewer

[2020-06-29 16:43] vsoch commented on #2284
@khinsen I'll get on this! I was slow to respond to https://github.com/vsoch/gridtest/pull/35 (I didn't see the comment!) so once that is merged, I'll also work on the use cases section.

[2020-06-29 16:56] RMeli commented on #2367
@whedon generate pdf from branch joss-paper-branch

[2020-06-29 16:56] whedon commented on #2367
[code]

[2020-06-29 16:57] whedon commented on #2367
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02367/joss.02367/10.21105.joss.02367.pdf)

[2020-06-29 16:59] TomGoffrey commented on #2182
Yes, the statement of need is much clearer now thanks.

Regarding the sphinx requirements discussed above, I'm afraid I don't have a definitive opinion. On one hand my guess would be that not many users would build the docs locally, but on the other hand it's not a big change and it would benefit the users who do want to build for the requirements to be added. That all being said as I don't have a

[2020-06-29 17:04] dpsanders commented on #2182
Thanks @TomGoffrey! My opinion is that simple modifications to the paper and tests that would make the paper and repo more accessible should definitely be done.

[2020-06-29 17:39] dhruvbalwada commented on #2391
Yes, it will be fun to review this. How do I get started?

[2020-06-29 18:02] akcochrane commented on #2226
@cMadan Thanks for pointing those out, I've made some minor changes to the paper that include the capitalization of references.
Regarding reviewers, I don't have any particularly well-informed suggestions. Given the information available in the initial comment, it seems that **samhforbes**, **ssriv**, or **Darthpathos** may have relevant overlapping interest and expertise.

[2020-06-29 18:10] kthyng commented on #2391
@dhruvbalwada excellent! I'll assign you as reviewer to start, and we'll wait here in the pre-review until I get a second reviewer. After we have two reviewers, I'll start the actual review issue. This one will be closed, and everything else will happen there. There will be a checklist for you to follow, in addition to information in the docs, and you can always ask me questions too. Generally, th

[2020-06-29 18:15] giswqs commented on #2305
@fbiljecki Thank you very much for your time. Appreciated.

[2020-06-29 18:31] cadop commented on #2211
@kthyng Is there a problem with my submission, or any updates on what the next steps are?

[2020-06-29 18:33] csoneson commented on #2353
Thanks @andrefaure, should be fixed now. I forgot to update the link in the checklist when I updated it in the summary above.

[2020-06-29 18:36] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-06-29 18:37] whedon commented on #2392
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf)

[2020-06-29 18:37] MrMinimal64 commented on #2392
@whedon set v2.1.0 as version

[2020-06-29 18:37] whedon commented on #2392
I'm sorry @MrMinimal64, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-06-29 18:43] MrMinimal64 commented on #2392
@dpsanders please bump the sofware version to v2.1.0 (latest release). Some useful API changes/clarifications have been included: https://github.com/MrMinimal64/multivar_horner/blob/master/CHANGELOG.rst#210-2020-06-15

[2020-06-29 18:44] kthyng commented on #2211
Hi @cadop! Your editor is @trallard, so generally you'll want to contact her.

BUT, looking above, I see that you have gotten two reviewers to volunteer, so I'll move this process along.

[2020-06-29 18:44] kthyng commented on #2211
@whedon add @AKuederle as reviewer

[2020-06-29 18:45] whedon commented on #2211
OK, @AKuederle is now a reviewer

[2020-06-29 18:45] kthyng commented on #2211
@whedon remove @ejhigson as reviewer

[2020-06-29 18:45] whedon commented on #2211
OK, @ejhigson is no longer a reviewer

[2020-06-29 18:46] kthyng commented on #2211
@whedon add @ejhigson as reviewer

[2020-06-29 18:46] whedon commented on #2211
OK, @ejhigson is now a reviewer

[2020-06-29 18:46] kthyng commented on #2211
Ok excellent, now we have exactly two reviewers who are also distinct.

[2020-06-29 18:46] kthyng commented on #2211
@whedon start review

[2020-06-29 18:46] #2211 closed

[2020-06-29 18:46] whedon opened #2404 "[REVIEW]: seg1d: A Python package for Automated segmentation of one-dimensional (1D) data"
**Submitting author:** @cadop (<a href="http://orcid.org/0000-0003-3662-7203">Mathew Schwartz</a>)
**Repository:** <a href="https://github.com/cadop/seg1d" target ="_blank">https://github.com/cadop/seg1d</a>
**Version:** 0.1.0
**Editor:** @trallard
**Reviewer:** @AKuederle, @ejhigson
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pand

[2020-06-29 18:46] whedon commented on #2211
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2404.

[2020-06-29 18:46] whedon commented on #2404
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AKuederle, @ejhigson it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2020-06-29 18:47] whedon commented on #2404
[code]

[2020-06-29 18:47] whedon commented on #2404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02404/joss.02404/10.21105.joss.02404.pdf)

[2020-06-29 18:47] kthyng commented on #2211
@ejhigson and @AKuederle — the review itself now occurs over in #2404 , so please head on over there to start up your review! We're asking for reviews within 6 weeks due to the global pandemic.

[2020-06-29 19:05] richardjgowers commented on #2367
Hi @RainierBarrett has [this preprint](https://chemrxiv.org/articles/A_GPU-Accelerated_Machine_Learning_Framework_for_Molecular_Simulation_Hoomd-Blue_with_TensorFlow/8019527) been submitted elsewhere?

[2020-06-29 19:18] sbenthall commented on #2264
@arbennett would you be willing to review this paper?

[2020-06-29 19:37] marcosvital commented on #2222
Hi, @nhejazi , sorry about the delayed reply. I'll find more reviewers, no problem!

[2020-06-29 19:42] marcosvital commented on #2342
Thank you so much for you contributions, @pstjohn.

@synchon and @jdbrunner, I see that both of you have started the revision and left a few box unchecked: do you have any specific comments about those points to the authors?

 @davidtourigny, @Midnighter and @carrascomj, feel free to post here any changes you make on the manuscript and on the repository, ok?

[2020-06-29 19:45] AKuederle commented on #2404
Started the review by opening issues in the repo:

https://github.com/cadop/seg1d/tree/master/paper

[2020-06-29 20:05] davidtourigny commented on #2342
We have addressed @pstjohn 's issue on the repository https://gitlab.com/davidtourigny/dynamic-fba/-/issues/28

[2020-06-29 20:05] kakiac commented on #2327
Thanks all, I have additionally just emailed @kinow @atanikan and @b-freitas. I will be in touch once I hear from one of them, but hopefully they should be in touch soon.

[2020-06-29 20:10] trallard commented on #2107
@whedon set version as 0.11.0

[2020-06-29 20:10] whedon commented on #2107
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-29 20:10] trallard commented on #2107
@whedon set 0.11.0 as version

[2020-06-29 20:10] whedon commented on #2107
OK. 0.11.0 is the version.

[2020-06-29 20:11] trallard commented on #2107
@FlorianRhiem thanks for the ping I have updated the version but will have to rectify as the review moves forward.

--
@eteq, @dvanic how are your reviews coming along? Do you need any support from my side?

[2020-06-29 20:13] kakiac commented on #2325
:wave: @jamiehadd, @skadio, @seba-1511, @hausen, @stsievert, @gabrielspadon, @drvinceknight would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-06-29 20:15] trallard commented on #2350
Hello, and thanks for your patience. I will be editing your submission.

@pariterre do you have any reviewers already in mind? If not, please check our list of available reviewers <https://bit.ly/joss-reviewers> and list some names here (without tagging them with @)

[2020-06-29 20:17] trallard commented on #2246
Hi, thanks for your patience during these busy times. We still need another reviewer to move this submission forward.

@xillig do you have any suggestions? Otherwise, please check our list of available reviewers <https://bit.ly/joss-reviewers> and list a couple of names here (without pinging them with @)

[2020-06-29 20:17] trallard commented on #2246
@whedon add @sara-02  as reviewer

[2020-06-29 20:18] whedon commented on #2246
OK, @sara-02  is now a reviewer

[2020-06-29 20:31] kakiac commented on #2327
@whedon add @atanikan as reviewer

[2020-06-29 20:31] whedon commented on #2327
OK, @atanikan is now a reviewer

[2020-06-29 20:32] kakiac commented on #2327
Hello everyone, many thanks to the reviewers for volunteering, I will now move this to the REVIEW stage, so you should be receiving an update with the new issue and the reviewer checklists.

[2020-06-29 20:33] kakiac commented on #2327
@whedon start review

[2020-06-29 20:33] whedon opened #2405 "[REVIEW]: Talisman: a JavaScript archive of fuzzy matching, information retrieval and record linkage building blocks"
**Submitting author:** @Yomguithereal (<a href="http://orcid.org/0000-0003-4916-8472">Guillaume Plique</a>)
**Repository:** <a href="https://github.com/Yomguithereal/talisman" target ="_blank">https://github.com/Yomguithereal/talisman</a>
**Version:** 1.1.3-zenodo
**Editor:** @kakiac
**Reviewer:** @Fil, @atanikan
**Archive:** <a href="https://doi.org/10.5281/zenodo.4247869" target="_blank">10.5281

[2020-06-29 20:33] whedon commented on #2327
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2405.

[2020-06-29 20:33] #2327 closed

[2020-06-29 20:33] whedon commented on #2405
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Fil, @atanikan it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2020-06-29 20:34] whedon commented on #2405
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02405/joss.02405/10.21105.joss.02405.pdf)

[2020-06-29 20:34] whedon commented on #2405
[code]

[2020-06-29 20:41] kakiac commented on #2325
I have additionally emailed the reviewers above 😃

[2020-06-29 20:46] skadio commented on #2325
I would be join the review.

[2020-06-29 21:00] pdebuyl commented on #2252
@dirmeier would you review the article "CancerSim: A python3 package for stochastic cancer simulation in 2D" for the Journal of Open Source Software?

[2020-06-29 21:13] arfon commented on #2325
@kakiac @bstabler - just checking who is planning on editing this submission? I see @bstabler listed as the editor but @kakiac it looks like you're working on this one too?

[2020-06-29 21:17] kakiac commented on #2325
Yes, I think we agreed to collaborate, but whedon does not seem to like to have us both, so we have left @bstabler's username for now. Is there a way to add 2 editors?

[2020-06-29 21:18] kakiac commented on #2325
@skadio many thanks! I will add you as a reviewer now,

[2020-06-29 21:18] fcooper8472 commented on #2318
The additional paragraph at the start really helps - it's clear and certainly makes it more accessible to a non-specialist.

The only remaining concern is still about other software packages.  I still do not think there is an assertion that no other similar software exists, or a description of other packages, so I'm still not 100% sure I can tick

"Do the authors describe how this software compare

[2020-06-29 21:19] kakiac commented on #2325
whedon assign @skadio as reviewer

[2020-06-29 21:20] arfon commented on #2325
Got it, thanks. Unfortunately we don't support this.

[2020-06-29 21:20] kakiac commented on #2325
No problem!

[2020-06-29 21:22] whedon opened #2406 "[PRE REVIEW]: starfish: scalable pipelines for image-based transcriptomics"
**Submitting author:** @neuromusic (<a href="http://orcid.org/0000-0002-4638-7015">Justin Kiggins</a>)
**Repository:** <a href="https://github.com/spacetx/starfish" target ="_blank">https://github.com/spacetx/starfish</a>
**Version:** v0.2.1
**Editor:** @csoneson
**Reviewers:** @giovp, @shazanfar, @vals
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-06-29 21:22] whedon commented on #2406
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-06-29 21:22] kakiac commented on #2325
@whedon assign me as editor

[2020-06-29 21:22] whedon commented on #2325
OK, the editor is @kakiac

[2020-06-29 21:22] kakiac commented on #2325
whedon assign @skadio as reviewer

[2020-06-29 21:22] whedon commented on #2406
[code]

[2020-06-29 21:22] whedon commented on #2406
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02406/joss.02406/10.21105.joss.02406.pdf)

[2020-06-29 21:22] whedon commented on #2406
[code]

[2020-06-29 21:23] kakiac commented on #2325
@whedon assign @skadio as reviewer

[2020-06-29 21:23] whedon commented on #2325
OK, @skadio is now a reviewer

[2020-06-29 21:24] kakiac commented on #2325
@whedon assign @bstabler as editor

[2020-06-29 21:24] whedon commented on #2325
OK, the editor is @bstabler

[2020-06-29 21:26] kbarnhart commented on #2197
Thanks for being willing to review @rabernat !

[2020-06-29 21:27] kbarnhart commented on #2197
@whedon add @rabernat as reviewer

[2020-06-29 21:27] whedon commented on #2197
OK, @rabernat is now a reviewer

[2020-06-29 21:27] danielskatz commented on #2406
👋 @neuromusic

Thanks for your submission to JOSS. As described in our [blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS, we've had a very large number of papers submitted and as such, yours has been put in our b

[2020-06-29 21:27] kbarnhart commented on #2197
@whedon start review

[2020-06-29 21:27] whedon opened #2407 "[REVIEW]: IPART: A Python Package for Image-Processing based Atmospheric River Tracking"
**Submitting author:** @Xunius (<a href="http://orcid.org/0000-0001-5877-5608">Guangzhi XU</a>)
**Repository:** <a href="https://github.com/ihesp/IPART" target ="_blank">https://github.com/ihesp/IPART</a>
**Version:** v3.0.8
**Editor:** @kbarnhart
**Reviewer:** @sadielbartholomew, @rabernat
**Archive:** <a href="https://doi.org/10.5281/zenodo.4164826" target="_blank">10.5281/zenodo.4164826</a>

**

[2020-06-29 21:27] whedon commented on #2197
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2407.

[2020-06-29 21:27] #2197 closed

[2020-06-29 21:27] whedon commented on #2407
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sadielbartholomew, @rabernat it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2020-06-29 21:27] whedon commented on #2407
PDF failed to compile for issue #2407 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/2407 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedo

[2020-06-29 21:30] kbarnhart commented on #2407
@whedon generate pdf

[2020-06-29 21:30] whedon commented on #2407
PDF failed to compile for issue #2407 with the following error:

 Can't find any papers to compile :-(

[2020-06-29 21:33] danielskatz commented on #2350
@whedon assign @trallard as editor

[2020-06-29 21:33] whedon commented on #2350
OK, the editor is @trallard

[2020-06-29 21:36] danielskatz commented on #2354
👋 @cMadan - you were suggested as the editor for this submission - would you be willing to do so?

[2020-06-29 21:36] danielskatz commented on #2354
@whedon invite @cMadan as editor

[2020-06-29 21:36] whedon commented on #2354
@cMadan has been invited to edit this submission.

[2020-06-29 21:36] kbarnhart commented on #2407
@arfon / @openjournals/joss-eics could you help me ensure the repository is linked correctly to this review issue. Issues may have cropped up because the authors changed the title of the submission and the repository address during the pre-review stage (#2197).

I can edit the title/comments on this thread... @whedon could find the paper in the review issue (e.g., [here](https://github.com/openjou

[2020-06-29 21:39] danielskatz commented on #2364
👋 @samvanstroud - you will need to add an OSI-approved license before we can proceed with your submission.  Sorry for the delay in saying this...

[2020-06-29 21:40] danielskatz commented on #2364
Additionally, thanks for your submission to JOSS. As described in our [blog post](https://blog.joss.theoj.org/2020/05/reopening-joss) announcing the reopening of JOSS, we're currently working in a "reduced service mode", limiting the number of papers assigned to any individual editor.

Since reopening JOSS, we've had a very large number of papers submitted and as such, yours has been put in our ba

[2020-06-29 21:44] danielskatz commented on #2361
👋 @kbarnhart - can you now take this one on?

[2020-06-29 21:47] danielskatz commented on #2407
@whedon generate pdf

[2020-06-29 21:47] whedon commented on #2407
PDF failed to compile for issue #2407 with the following error:

 Can't find any papers to compile :-(

[2020-06-29 21:48] danielskatz commented on #2407
👋 @openjournals/dev - can you take a look at this?

[2020-06-29 21:56] danielskatz commented on #2365
👋 @leouieda - is there any chance you would be willing and able to edit this submission?

[2020-06-29 21:56] danielskatz commented on #2365
@whedon invited @leouieda as editor

[2020-06-29 21:56] whedon commented on #2365
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-29 21:56] danielskatz commented on #2365
@whedon invite @leouieda as editor

[2020-06-29 21:57] whedon commented on #2365
@leouieda has been invited to edit this submission.

[2020-06-29 21:57] rajeshrinet commented on #2318
@fcooper8472 thanks for your comments.

A  search on GitHub does not find anything comparable to PyStokes. There are libraries, such as Ludwig (from EPCC, Edinburgh) which simulates the hydrodynamics of point particles, resolving the fluid degrees of freedom. It does not include phoretic interactions. In terms of the functionality of simultaneously resolving both phoretic and hydrodynamic interact

[2020-06-29 21:58] danielskatz commented on #2393
👋 @dfm - would you be able to edit this submission?

[2020-06-29 21:59] danielskatz commented on #2393
@whedon invite @dfm as editor

[2020-06-29 21:59] whedon commented on #2393
@dfm has been invited to edit this submission.

[2020-06-29 21:59] xuanxu commented on #2407
@whedon generate pdf

[2020-06-29 21:59] whedon commented on #2407
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02407/joss.02407/10.21105.joss.02407.pdf)

[2020-06-29 22:01] xuanxu commented on #2407
It was the bold markup in the repo link. It was confusing for Whedon. I removed it and now it works.

[2020-06-29 22:04] fcooper8472 commented on #2318
Ah! My apologies @rajeshrinet, I missed that sentence.

@harpolea I can confirm that the current version is acceptable as far as I'm concerned.

[2020-06-29 22:14] harpolea commented on #2318
Great, thanks @fcooper8472 !

[2020-06-29 22:18] neuromusic commented on #2406
Thanks @danielskatz 😄

[2020-06-29 22:46] pariterre commented on #2350
Dear @trallard
Thanks for accepting being editor on my submission, this is highly appreciated!

I've had a look at the list you referred and I got 4 names that seems to fit the profile of my submission:
CELavecchia
nnadeau
abhishektha
trallard

Is this sufficient?
Thanks!

[2020-06-29 22:56] bstabler commented on #2325
@whedon start review

[2020-06-29 22:56] whedon opened #2408 "[REVIEW]: VRPy: A Python package for solving a range of vehicle routing problems"
**Submitting author:** @Kuifje02 (<a href="http://orcid.org/0000-0003-3139-4519">Romain Montagne</a>)
**Repository:** <a href="https://github.com/Kuifje02/vrpy" target ="_blank">https://github.com/Kuifje02/vrpy</a>
**Version:** 0.3.0
**Editor:** @kakiac
**Reviewers:** @bstabler, @skadio
**Archive:** <a href="https://doi.org/10.5281/zenodo.4248877" target="_blank">10.5281/zenodo.4248877</a>

**:war

[2020-06-29 22:56] whedon commented on #2325
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2408.

[2020-06-29 22:56] #2325 closed

[2020-06-29 22:56] whedon commented on #2408
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @skadio it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2020-06-29 22:56] whedon commented on #2408
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02408/joss.02408/10.21105.joss.02408.pdf)

[2020-06-29 23:00] jonwong12 commented on #2372
Sorry. I've just gotten around to do a review, but the invitation expired. Can you please re-invite and I'll accept it on time this time.

@rram84 Not sure if you're aware of this [work](https://github.com/crawforddoran/quartet), but I believe it does some "random" mesh relaxation.

[2020-06-29 23:06] kbarnhart commented on #2407
@xuanxu thank you! Pretty confident that was my fault.

[2020-06-29 23:06] kbarnhart commented on #2361
@danielskatz yes, I can.

[2020-06-29 23:07] kbarnhart commented on #2361
@whedon assign @kbarnhart as editor

[2020-06-29 23:07] whedon commented on #2361
OK, the editor is @kbarnhart

[2020-06-29 23:13] danielskatz commented on #2372
@whedon re-invite @jonwong12 as reviewer

[2020-06-29 23:14] whedon commented on #2372
OK, the reviewer has been re-invited.

@jonwong12 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-29 23:55] cMadan commented on #2354
@whedon set @cMadan as editor

[2020-06-29 23:55] whedon commented on #2354
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-29 23:55] cMadan commented on #2354
@whedon assign @cMadan as editor

[2020-06-29 23:55] whedon commented on #2354
OK, the editor is @cMadan

[2020-06-29 23:59] danielskatz commented on #2354
thanks!

[2020-06-30 00:03] cMadan commented on #2354
@pmkruyen, I've looked over your submission and have three initial comments:

1. Your license has some additional text at the top, in addition to a standard OSI license. Publishing in JOSS requires that you *only* use a standard OSI-compliant license with no modifications.

1. I would appreciate if you could add a few screenshots (just one picture concatenating a screenshots from a few different p

[2020-06-30 00:22] cadop commented on #2211
Thank you @kthyng !

[2020-06-30 01:17] bstabler commented on #2298
@whedon start review

[2020-06-30 01:18] whedon commented on #2298
It looks like you don't have an editor and reviewer assigned yet so I can't start the review. Try one or more of these commands:

[code]

[2020-06-30 01:19] bstabler commented on #2408
@whedon add @bstabler as reviewer

[2020-06-30 01:19] whedon commented on #2408
OK, @bstabler is now a reviewer

[2020-06-30 01:20] bstabler commented on #2298
@whedon assign @bstabler as reviewer

[2020-06-30 01:20] whedon commented on #2298
OK, @bstabler is now a reviewer

[2020-06-30 01:20] bstabler commented on #2298
@whedon start review

[2020-06-30 01:20] whedon opened #2409 "[REVIEW]: Vizumap: an R package for visualising uncertainty in spatial data"
**Submitting author:** @lydialucchesi (<a href="http://orcid.org/0000-0002-1901-4301">Lydia Lucchesi</a>)
**Repository:** <a href="https://github.com/lydialucchesi/Vizumap" target ="_blank">https://github.com/lydialucchesi/Vizumap</a>
**Version:** v1.2.0
**Editor:** @bstabler
**Reviewers:** @nuest, @GISerDaiShaoqing
**Archive:** <a href="https://doi.org/10.5281/zenodo.4554558" target="_blank">10.5

[2020-06-30 01:20] whedon commented on #2298
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2409.

[2020-06-30 01:20] whedon commented on #2409
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bstabler it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-06-30 01:21] whedon commented on #2409
[code]

[2020-06-30 01:21] whedon commented on #2409
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02409/joss.02409/10.21105.joss.02409.pdf)

[2020-06-30 04:15] bstabler commented on #2408
@whedon assign @skadio as editor

[2020-06-30 04:16] bstabler commented on #2408
@whedon assign @bstabler as reviewer

[2020-06-30 04:16] whedon commented on #2408
OK, @bstabler is now a reviewer

[2020-06-30 04:29] bstabler commented on #2298
Hi @leouieda, I assigned myself as editor and reviewer, which I understand is not preferred.  Would you be interested in being reviewer or editor and then I'll do the other assignment?  Thanks.

[2020-06-30 04:38] galessiorob commented on #2368
@whedon start review

[2020-06-30 04:39] galessiorob commented on #2380
@whedon start review

[2020-06-30 05:04] galessiorob commented on #2368
👋 Hi @cicirello!

I am in the process of assigning reviewers to this submission, but if you have any suggestions for reviewers please let me know.

In the meantime, it looks like you're only missing 2 DOIs, if you could nail those down that would great.

Many thanks!
______________

**Basic checks:**

* [x]  There’s a general description of the software
* [x] The software is within scope as resear

[2020-06-30 05:10] danhey commented on #2125
@whedon generate pdf

[2020-06-30 05:11] whedon commented on #2125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02125/joss.02125/10.21105.joss.02125.pdf)

[2020-06-30 05:14] danhey commented on #2125
Hi @mbobra, I've updated the DOI! I'm happy to make a new release for Zenodo but the AAS paper points to the v0.2 Zenodo release, which I don't think can be changed now.

[2020-06-30 05:17] bstabler commented on #2408
Hi @Kuifje02, thanks for your submittal.  This is my first review so please be patient as I learn the process.  In addition to the checklist above, I have a few comments at this point:
  - Running the benchmarks requires pandas and matplotlib, but pandas and matplotlib are not listed as dependencies (or at least not on the main page)
  - Running _pytest benchmarks/_ failed many of the tests on my

[2020-06-30 05:35] bstabler commented on #2408
@whedon assign @kakiac as editor

[2020-06-30 05:38] bstabler commented on #2408
@whedon add @skadio as reviewer

[2020-06-30 05:38] whedon commented on #2408
OK, @skadio is now a reviewer

[2020-06-30 05:43] bstabler commented on #2408
I mixed up @skadio and @kakiac, sorry about that.  I think I fixed it.

[2020-06-30 06:00] galessiorob commented on #2380
👋 Hi @LukasAdamowicz!

I am in the process of assigning reviewers to this submission, but if you have any suggestions for reviewers please let me know in a comment without tagging them directly.

In the meantime, it looks like you're missing some DOIs, if you want to start adding those that would be great.

Many thanks!
______________

**Basic checks:**

* [x]  There’s a general description of the

[2020-06-30 06:04] bstabler commented on #2298
@nuest, @giskid, @potterzot would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html.

[2020-06-30 06:06] bstabler commented on #2409
Hi @lydialucchesi, thanks for the submittal.  I goofed this up since I'm not supposed to assign myself both editor and reviewer.  I'm working on getting us another editor and/or reviewer.  Thanks.

[2020-06-30 06:11] bstabler commented on #2298
and @jsta, @sjsrey, @mikejohnson51, @jayrobwilliams, @mikerspencer, @GISerDaiShaoqing, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html.

[2020-06-30 06:26] mikejohnson51 commented on #2298
@bstabler Sure! This looks like a great package.

[2020-06-30 07:57] sjpfenninger commented on #2311
@kegiljarhus I'm looking for reviewers offline, meanwhile, can you ensure that you provide an updated Statement of Need that clarifies the novel/significant functionality, and provide specific examples of how the software is used for research?

[2020-06-30 07:58] VivianePons commented on #2183
Dear @mzszym and @victorvalgenti Are you still willing to review this submission? Do you think you will have time soon?

Best

Viviane

[2020-06-30 08:13] pdebuyl commented on #2307
@amandadumi would you review the article "Excimontec v1.0: An Open-Source Software Tool for Kinetic Monte Carlo Simulations of Organic Electronic Devices" for the Journal of Open Source Software?

[2020-06-30 08:13] pdebuyl commented on #2307
@whedon commands

[2020-06-30 08:13] whedon commented on #2307
Here are some things you can ask me to do:

[code]

[2020-06-30 08:14] pdebuyl commented on #2307
@whedon remove @liangtianumich as reviewer

[2020-06-30 08:14] whedon commented on #2307
OK, @liangtianumich is no longer a reviewer

[2020-06-30 08:16] OttaviaE commented on #2394
Hey @oliviaguest, I noticed that there is a part of the code that is truncated (nothing important actually). Can I commit the changes in the md file so that the code is not truncated anymore?

[2020-06-30 09:00] oliviaguest commented on #2394
@OttaviaE yes, you can make any edits and then you can ask @whedon like I did above to compile the pdf again! ☺️

[2020-06-30 09:10] Luthaf commented on #2117
@whedon generate pdf

[2020-06-30 09:11] whedon commented on #2117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02117/joss.02117/10.21105.joss.02117.pdf)

[2020-06-30 09:12] Luthaf commented on #2117
@cMadan, after discussion I've added @rosecers as co-author of the paper, and added the corresponding funding body to the acknowledgements, so this should be done from our side!

[2020-06-30 09:18] sap218 commented on #2168
@majensen I believe i have fixed it!

[2020-06-30 09:18] khinsen commented on #2318
@harpolea @rajeshrinet I am happy with the updated paper as well. Figure 1 in particular is a very nice summary of how everything fits together. The authors' description of the state of the art looks accurate as well. So... I just ticked off the last boxes of my checklist! Ready for take-off!

[2020-06-30 09:25] khinsen commented on #2318
Ahhh.... a minor nitpick I noticed while closing the open PDF file! The proper title for Odqvist 1930 is "Über die Randwertaufgaben der Hydrodynamik zäher Flüssigkeiten", with all capitalization required by German grammar.

[2020-06-30 09:37] rajeshrinet commented on #2318
@whedon generate pdf

[2020-06-30 09:38] whedon commented on #2318
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02318/joss.02318/10.21105.joss.02318.pdf)

[2020-06-30 09:42] rajeshrinet commented on #2318
@fcooper8472 and @khinsen thanks very much for your comments. @khinsen thanks for suggesting fix in the reference. It has now been updated.

[2020-06-30 09:45] OttaviaE commented on #2394
@whedon generate pdf

[2020-06-30 09:46] whedon commented on #2394
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02394/joss.02394/10.21105.joss.02394.pdf)

[2020-06-30 09:49] OttaviaE commented on #2394
@oliviaguest thank you =)

[2020-06-30 10:10] skapfer commented on #2300
@whedon generate pdf from branch joss
@hugoledoux Sorry for the delay. We extended the introduction and added a few more references to applications of Minkowski Tensors. Here's some more ideas for referees:
spolavar
ebertin
rasband
j0r1
pmelchior

Best, Sebastian (on behalf of all authors)

[2020-06-30 10:10] whedon commented on #2300
[code]

[2020-06-30 10:10] whedon commented on #2300
PDF failed to compile for issue #2300 with the following error:

 error: pathspec 'joss
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2020-06-30 10:11] skapfer commented on #2300
@whedon generate pdf from branch joss

[2020-06-30 10:11] whedon commented on #2300
[code]

[2020-06-30 10:12] whedon commented on #2300
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02300/joss.02300/10.21105.joss.02300.pdf)

[2020-06-30 10:20] sambit-giri commented on #2363
Dear @aureliocarnero,
Hannes Jensen had a package named c2raytools (https://github.com/hjens/c2raytools). It was not maintained after he left academia. We modified that package and merged it into tools21cm. We had contacted Hannes to be a co-author. But he does not have a proper academic affiliation/address to be on the paper. We were not sure how JOSS can handle this. If this is a problem, Hannes

[2020-06-30 10:23] sambit-giri commented on #2363
@pibion Can you add the second author (https://github.com/garrelt) to this review process?

[2020-06-30 10:32] synchon commented on #2342
@marcosvital I have not completed the checks for those yet, will do it ASAP.

[2020-06-30 11:14] lpantano commented on #2358
@whedon add @rowlandm as reviewer

[2020-06-30 11:14] whedon commented on #2358
OK, @rowlandm is now a reviewer

[2020-06-30 11:14] lpantano commented on #2358
@whedon start review

[2020-06-30 11:14] whedon opened #2410 "[REVIEW]: Viime: Visualization and Integration of Metabolomics Experiments"
**Submitting author:** @waxlamp (<a href="http://orcid.org/0000-0003-3898-4626">Roni Choudhury</a>)
**Repository:** <a href="https://github.com/girder/viime" target ="_blank">https://github.com/girder/viime</a>
**Version:** v1.0.1
**Editor:** @lpantano
**Reviewers:** @joannawolthuis, @rowlandm, @jkanche
**Archive:** <a href="https://doi.org/10.5281/zenodo.4086165" target="_blank">10.5281/zenodo.40

[2020-06-30 11:14] whedon commented on #2358
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2410.

[2020-06-30 11:14] #2358 closed

[2020-06-30 11:14] whedon commented on #2410
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @joannawolthuis, @rowlandm it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-06-30 11:14] whedon commented on #2410
PDF failed to compile for issue #2410 with the following error:

 Can't find any papers to compile :-(

[2020-06-30 11:17] lpantano commented on #2410
@whedon generate pdf from branch joss-paper

[2020-06-30 11:17] whedon commented on #2410
[code]

[2020-06-30 11:20] whedon commented on #2410
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02410/joss.02410/10.21105.joss.02410.pdf)

[2020-06-30 11:20] lpantano commented on #2410
@whedon check references

[2020-06-30 11:21] lpantano commented on #2396
@whedon check references

[2020-06-30 11:21] whedon commented on #2396
[code]

[2020-06-30 11:22] lpantano commented on #2396
@lincoln-harris, can you make sure all the references has DOI, please?

[2020-06-30 11:28] lpantano commented on #2396
@chrisleitzinger, I found your profile in GitHub and I thought you may be interested on reviewing this nice VCF reader tool. This are the guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html. Thanks!

[2020-06-30 11:43] harpolea commented on #2318
@whedon check references

[2020-06-30 11:43] whedon commented on #2318
[code]

[2020-06-30 11:47] harpolea commented on #2318
Thanks @khinsen!

@rajeshrinet: I'm just going through the references now. As whedon pointed out, there are a couple that are missing DOIs (the first one doesn't seem to match up, but the latter two look good to me). Would you be able to add them?

[2020-06-30 11:48] mmrabe commented on #2306
I was now able to complete my review. All in all, the paper is a very useful introduction to the package. I don't have a lot to add to what @markhwhiteii already mentioned and has been fixed in the meantime. I only have a few minor suggestions, which I added as Github issues. I do agree with @mikldk that the paper is a bit too long for a JOSS submission. I would recommend selecting two representat

[2020-06-30 11:55] cpgr commented on #2185
@jedbrown

I've am ready to finalise my review but cannot fill in the tick boxes, and it looks like my invite has expired. Can you please re-invite me.

Thanks!

[2020-06-30 12:05] rajeshrinet commented on #2318
@whedon check references

[2020-06-30 12:06] jedbrown commented on #2185
@whedon re-invite @cpgr as reviewer

[2020-06-30 12:06] whedon commented on #2185
OK, the reviewer has been re-invited.

@cpgr please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-30 12:06] whedon commented on #2318
[code]

[2020-06-30 12:07] harpolea commented on #2318
@rajeshrinet thanks! I've made a PR with fixes to a couple of the references. One was missing a title and for another the DOI pointed to a different article

[2020-06-30 12:07] rgerum commented on #1989
@whedon generate pdf

[2020-06-30 12:08] harpolea commented on #2318
@whedon generate pdf

[2020-06-30 12:09] whedon commented on #1989
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01989/joss.01989/10.21105.joss.01989.pdf)

[2020-06-30 12:09] whedon commented on #2318
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02318/joss.02318/10.21105.joss.02318.pdf)

[2020-06-30 12:09] rajeshrinet commented on #2318
Thanks @harpolea. It has now beed merged.

[2020-06-30 12:11] cpgr commented on #2185
Thanks @jedbrown

[2020-06-30 12:12] harpolea commented on #2318
@rajeshrinet Thanks!

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g. figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata, this includes the title (should match the paper title) and auth

[2020-06-30 12:42] nuest commented on #2298
@bstabler Yes :-)

[2020-06-30 12:50] rajeshrinet commented on #2318
@harpolea ,

* I have now added a new tagged release: [v2.2.0](https://github.com/rajeshrinet/pystokes/releases/tag/v2.2.0)

* the version has been archived on Zeonodo: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.3923867.svg)](https://doi.org/10.5281/zenodo.3923867) <br/>

[2020-06-30 12:50] appelmar commented on #2272
Great work @csaybar. Please find my detailed review with some minor comments in a separate issue in your repo (see  r-spatial/rgee#70). Let me know if you have questions.

[2020-06-30 12:57] harpolea commented on #2318
@rajeshrinet the Zenodo release seems to have been mistakenly dated to November 2014. Could you fix that? (I think you should be able to edit the metadata?)

[2020-06-30 12:57] harpolea commented on #2318
@rajeshrinet I see that's now fixed - must have just been a Zenodo bug!

[2020-06-30 12:58] rajeshrinet commented on #2318
@harpolea thanks, just fixed it:

![Screenshot 2020-06-30 at 1 57 23 PM](https://user-images.githubusercontent.com/5037991/86128770-b70d6780-bad9-11ea-81f5-fa95ce1ee5ff.png)

[2020-06-30 13:01] harpolea commented on #2318
@whedon set 10.5281/zenodo.3923867 as archive

[2020-06-30 13:01] whedon commented on #2318
OK. <a href="https://doi.org/10.5281/zenodo.3923867" target="_blank">10.5281/zenodo.3923867</a> is the archive.

[2020-06-30 13:02] harpolea commented on #2318
@whedon set v2.2.0 as version

[2020-06-30 13:02] whedon commented on #2318
OK. v2.2.0 is the version.

[2020-06-30 13:03] harpolea commented on #2318
@rajeshrinet: this all looks good to me, so I'm going to go ahead and recommend this for acceptance

@khinsen and @fcooper8472: thank you again for your work reviewing this submission!

[2020-06-30 13:03] harpolea commented on #2318
@whedon accept

[2020-06-30 13:03] whedon commented on #2318
[code]

[2020-06-30 13:04] whedon commented on #2318
[code]

[2020-06-30 13:04] whedon commented on #2318
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1520

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1520, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-30 13:07] edwardoughton commented on #2266
@danielskatz @garrettj403

We've now completed our corrections and look forward to your response.

Best wishes,

Ed et al.

[2020-06-30 13:08] cicirello commented on #2368
@whedon generate pdf

[2020-06-30 13:09] whedon commented on #2368
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02368/joss.02368/10.21105.joss.02368.pdf)

[2020-06-30 13:09] danielskatz commented on #2408
@bstabler  - I'm getting confused.  Our normal editing workflow is to assign 2 or more reviewers in the pre-review issue, then start the review - this generates the checklists in the review issue.  We should only be assigning reviewers in the review issue in unusual circumstances, and if you do this, you have to manually edit the checklists to make them right.  Look at the first comment in this is

[2020-06-30 13:10] cicirello commented on #2368
@whedon check references

[2020-06-30 13:11] whedon commented on #2368
[code]

[2020-06-30 13:14] danielskatz commented on #2380
@galessiorob  - when you agree to edit a submission, you should
@whedon assign @galessiorob as editor
(or @whedon assign me as editor)
and if the submission has been waitlisted, remove the waitlist label
I'll do this now for your 2 that you agreed to edit

[2020-06-30 13:14] danielskatz commented on #2380
@whedon assign @galessiorob as editor

[2020-06-30 13:14] whedon commented on #2380
OK, the editor is @galessiorob

[2020-06-30 13:14] danielskatz commented on #2368
@whedon assign @galessiorob as editor

[2020-06-30 13:14] whedon commented on #2368
OK, the editor is @galessiorob

[2020-06-30 13:26] danielskatz commented on #2266
👋 @gorlapraveen & @garrettj403 - can you take a look at the changes, and see what else (if anything) you think needs to be done?

[2020-06-30 13:35] cicirello commented on #2368
Hi @galessiorob,

I added the one actually missing doi.  The other identified by whedon is not correct.  The reference is to a book that doesn't have a doi, and whedon incorrectly identified a doi to someone's review of the book.  I added the isbn of the book instead.  That seems to accomplish essentially the same thing in that the pdf that whedon generated added a link to a permanent record of th

[2020-06-30 13:36] danielskatz commented on #2318
@whedon accept deposit=true

[2020-06-30 13:36] whedon commented on #2318
[code]

[2020-06-30 13:37] whedon commented on #2318
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1277959504001458176) 👈 🐦🐦🐦

[2020-06-30 13:37] whedon commented on #2318
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1521
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02318](https://doi.org/10.21105/joss.02318)
2. If everything looks g

[2020-06-30 13:39] danielskatz commented on #2318
Thanks to @fcooper8472 & @khinsen for reviewing!
And to @harpolea for editing!

Congratulations to @rajeshrinet (Rajesh Singh) and co-author!!

[2020-06-30 13:39] #2318 closed

[2020-06-30 13:39] whedon commented on #2318
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02318/status.svg)](https://doi.org/10.21105/joss.02318)

**We need your help!**

Journal of Open Source Softwa

[2020-06-30 13:42] danielskatz commented on #2364
Please let us know when there is a license, then we can remove the paused label.

[2020-06-30 13:46] katyhuff commented on #2034
I'm sorry this is taking so long. It's on my list for this evening.

[2020-06-30 13:47] danielskatz commented on #2406
👋 @lpantano & @csoneson - would one of you be willing to edit this submission?

[2020-06-30 14:02] crew102 commented on #2264
Hi @sbenthall , sorry, I am too busy with work at the moment to review.

[2020-06-30 14:29] eirini-zormpa commented on #2394
I have completed my review. As far as I can tell, everything is well-document and works as intended!

[2020-06-30 14:37] oliviaguest commented on #2394
Fabulous @eirini-zormpa, thank you! Can you tick/check off the last few boxes above in the OP, please, then? ☺️

[2020-06-30 14:38] ivalaginja commented on #2281
v2.0.0
10.5281/zenodo.3923986

[2020-06-30 14:40] eirini-zormpa commented on #2394
oops sorry, I thought I had 😬 done now!

[2020-06-30 14:43] oliviaguest commented on #2394
Terrific! Perfect — thank you. 👏

[2020-06-30 14:44] OttaviaE commented on #2394
Thank you @eirini-zormpa =)

[2020-06-30 14:45] oliviaguest commented on #2394
Ah, and for the benefit of the other reviewers (and myself):

* https://github.com/OttaviaE/implicitMeasures/issues/3
* https://github.com/OttaviaE/implicitMeasures/issues/2

[2020-06-30 14:47] joglekara commented on #2182
Thanks @TomGoffrey for the suggestions!

Agreed! I will implement that.

Good idea. Implementing this in a Jupyter Notebook seems like the best way forward. Do you agree?

Well, there's always more to do ;). For many of those notes, I was referring to the fact that the the background to some of the finite differencing or kinetic equation derivations is still a work in progress.

Perhaps it is bett

[2020-06-30 14:50] galessiorob commented on #2368
@cicirello thanks for the suggestions, let me reach out to them and check their availability.

[2020-06-30 14:53] dhhagan commented on #2374
@dvalters, @tomchor, @hertzsprung, @arbennett - Do any of you have the time to review this manuscript?

[2020-06-30 14:54] dhhagan commented on #2256
@garrettj403 - Do you have the availability to review this manuscript?

[2020-06-30 15:08] tomchor commented on #2374
Sorry, but I am in the process of writing my PhD thesis so I'll have to
pass because I simply will not have time.

Best of luck!
Cheers

On Tue, Jun 30, 2020 at 7:53 AM David H Hagan <notifications@github.com>
wrote:

--
Tomás L. Chor
Atmospheric and Oceanic Sciences graduate program
University of California, Los Angeles
https://tomchor.github.io/

[2020-06-30 15:09] bmcfee commented on #2223
@whedon add @jaeyk as reviewer

[2020-06-30 15:09] whedon commented on #2223
OK, @jaeyk is now a reviewer

[2020-06-30 15:20] xuanxu commented on #2281
@whedon set v2.0.0 as version

[2020-06-30 15:20] whedon commented on #2281
OK. v2.0.0 is the version.

[2020-06-30 15:20] xuanxu commented on #2281
@whedon set 10.5281/zenodo.3923986 as archive

[2020-06-30 15:20] whedon commented on #2281
OK. <a href="https://doi.org/10.5281/zenodo.3923986" target="_blank">10.5281/zenodo.3923986</a> is the archive.

[2020-06-30 15:22] xuanxu commented on #2281
Thanks @hayesla and @mattpitkin for your reviews!

[2020-06-30 15:22] eirini-zormpa commented on #2394
thank you for inviting me, this was a really nice experience 😊

[2020-06-30 15:22] xuanxu commented on #2281
@whedon accept

[2020-06-30 15:22] whedon commented on #2281
[code]

[2020-06-30 15:25] whedon commented on #2281
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1522

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1522, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-30 15:39] majensen commented on #2168
@whedon generate pdf

[2020-06-30 15:40] whedon commented on #2168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02168/joss.02168/10.21105.joss.02168.pdf)

[2020-06-30 15:41] majensen commented on #2168
@whedon set 10.5281/zenodo.3922261 as archive

[2020-06-30 15:41] whedon commented on #2168
OK. <a href="https://doi.org/10.5281/zenodo.3922261" target="_blank">10.5281/zenodo.3922261</a> is the archive.

[2020-06-30 15:42] dcassol commented on #2258
@KristinaRiemer Unfortunately, I am not available this time.

[2020-06-30 15:42] majensen commented on #2168
@whedon set v1.0.0.0 as version

[2020-06-30 15:42] whedon commented on #2168
OK. v1.0.0.0 is the version.

[2020-06-30 15:42] hertzsprung commented on #2374
I'm happy to review, what's the timescale? (first-time JOSS reviewer here)

[2020-06-30 15:42] majensen commented on #2168
@whedon accept

[2020-06-30 15:42] whedon commented on #2168
[code]

[2020-06-30 15:43] whedon commented on #2168
[code]

[2020-06-30 15:43] whedon commented on #2168
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1523

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1523, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-06-30 15:50] victorvalgenti commented on #2183
Sorry, Many distractions recently. I should have it done by next week.

Vic v.

From: Viviane Pons <notifications@github.com>
Sent: Tuesday, June 30, 2020 1:59 AM
To: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: victorvalgenti <victor.valgenti@umontana.edu>; Mention <mention@noreply.github.com>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: Scripts for Easier Use of Spice (S

[2020-06-30 15:54] majensen commented on #2168
Hi @sap218 - can you check on the reference that whedon found missing in https://github.com/openjournals/joss-reviews/issues/2168#issuecomment-651877564 ?

[2020-06-30 16:03] sap218 commented on #2168
@majensen just fixed! :-)

[2020-06-30 16:06] RomainAzais commented on #2264
Hello @sbenthall
I'm sorry, but, at the moment, I'm not available to review this submission, and I have no experience with Stata. I hope to be able to help next time.

[2020-06-30 16:18] lfnothias commented on #2398
Dear editing team of JOSS, I prefer to decline as I am not an expert in software/python. However, let me connect you with the most qualified reviewers for that submission. @bittremieux @kaibioinfo

[2020-06-30 16:31] danielskatz commented on #2281
👋 @ivalaginja - here are some suggested changes for the paper:

- "with the goal to identify" <- "with the goal of identifying"
- "For these giant, close-in exoplanets the most" <- "For these giant, close-in exoplanets, the most"
- "to be well mixed" <- "to be well-mixed"
- "systematic models which yields" <- "systematic models, which yields"
- "There are a number of Python solutions to create and

[2020-06-30 16:33] danielskatz commented on #2168
@majensen - please let me know when this is really ready to go

[2020-06-30 16:38] majensen commented on #2168
sure @danielskatz , although you might tell @whedon (or @arfon) not to summon the eic until it performs a dry run free of errors. Sorry to disturb.

[2020-06-30 16:50] kbarnhart commented on #2361
@danielskatz thanks for removing the tag.... I forgot.

[2020-06-30 16:50] arfon commented on #2398
Thanks @lfnothias!

@bittremieux @kaibioinfo - would you both be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-30 16:57] sap218 commented on #2168
@whedon check references

[2020-06-30 16:57] whedon commented on #2168
[code]

[2020-06-30 16:58] arfon commented on #2389
Hi @nhejazi, thanks for your response here, this additional context is very useful.

Your submission was flagged primarily because of its small size (~450 lines of R). While lines of code is a rather coarse measure for evaluating scale/impact/complexity of a software project it is _something_, and part of our role as an editorial team is to maintain some kind of 'level of effort' threshold for sub

[2020-06-30 17:31] bittremieux commented on #2398
Yes, I'm willing to review this work.

[2020-06-30 17:32] vsoch commented on #2284
@whedon generate pdf

[2020-06-30 17:33] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-06-30 17:34] bstabler commented on #2408
Hi @danielskatz, yes that's correct, and thanks for checking in.  @kakiac and I discussed roles with @arfon yesterday and @kakiac will be editor and I'll be a reviewer.  I won't do the editorial work moving forward.  Thanks.

[2020-06-30 17:37] bstabler commented on #2298
thanks @mikejohnson51, @nuest.  I'll assign you as reviewers.  @leouieda - I'll go ahead and be the editor.  This is my first editor role so any advice is much appreciated.  Thanks.

[2020-06-30 17:37] bstabler commented on #2298
@whedon assign @mikejohnson51 as reviewer

[2020-06-30 17:37] whedon commented on #2298
OK, @mikejohnson51 is now a reviewer

[2020-06-30 17:37] bstabler commented on #2298
@whedon assign @nuest as reviewer

[2020-06-30 17:38] whedon commented on #2298
OK, @nuest is now a reviewer

[2020-06-30 17:41] bstabler commented on #2298
@whedon add @mikejohnson51 as reviewer

[2020-06-30 17:41] whedon commented on #2298
OK, @mikejohnson51 is now a reviewer

[2020-06-30 17:41] bstabler commented on #2298
@whedon remove @bstabler as reviewer

[2020-06-30 17:41] whedon commented on #2298
OK, @bstabler is no longer a reviewer

[2020-06-30 17:46] #2298 closed

[2020-06-30 17:47] danielskatz commented on #2408
ok, thanks

[2020-06-30 17:47] arfon commented on #2398
@whedon add @bittremieux as reviewer

[2020-06-30 17:47] whedon commented on #2398
OK, @bittremieux is now a reviewer

[2020-06-30 17:48] arfon commented on #2398
Thanks @bittremieux! I'll start the main review issue once we have a second reviewer assigned here too. In the meantime, feel free to take a look at our reviewer documentation here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2020-06-30 17:49] bstabler commented on #2409
@whedon remove @bstabler as reviewer

[2020-06-30 17:49] whedon commented on #2409
OK, @bstabler is no longer a reviewer

[2020-06-30 17:49] vsoch commented on #2284
@whedon generate pdf

[2020-06-30 17:50] bstabler commented on #2409
@whedon add @nuest as reviewer

[2020-06-30 17:50] whedon commented on #2409
OK, @nuest is now a reviewer

[2020-06-30 17:50] whedon commented on #2284
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02284/joss.02284/10.21105.joss.02284.pdf)

[2020-06-30 17:52] vsoch commented on #2284
@khinsen please take a look! I've done the following changes:
 - extended the background section to lead into the idea of "grids as first class citizens"
 - moved the concepts section to appear _before_ use cases
 - extended the use cases to include the (somewhat modified) content that we added to the readme, etc. about the different use cases for grids.

Please take a look and let me know your fe

[2020-06-30 17:55] bstabler commented on #2409
@whedon add @mikejohnson51 as reviewer

[2020-06-30 17:55] whedon commented on #2409
OK, @mikejohnson51 is now a reviewer

[2020-06-30 17:56] Kuifje02 commented on #2408
Hi @bstabler !
Thanks for accepting to review. And thanks for the constructive comments, we'll make the adjustments one by one.

[2020-06-30 17:59] dhhagan commented on #2374
Hey, @hertzsprung welcome! There is no hard deadline that I'm aware of, though I will double-check. I would say on the order of 2-4 weeks?

@arfon Is there a guideline on the appropriate length of time for a review to take place?

[2020-06-30 18:00] dhhagan commented on #2374
@whedon assign @hertzsprung as reviewer

[2020-06-30 18:00] whedon commented on #2374
OK, @hertzsprung is now a reviewer

[2020-06-30 18:22] danielskatz commented on #2298
@bstabler - FYI, once you've started a review, nothing you do in this pre-review issue will matter, so there's no need to do anything more here.  And I think you know this now, but just in case not, in the pre-review issue:
1 - become the editor: @whedon assign me as editor
2 - find reviewers
3 - assign first reviewer: @whedon assign @reviewer1 as reviewer
4 - assign next reviewer: @whedon add @re

[2020-06-30 18:48] appelmar commented on #2272
@hugoledoux I can't fill out the checklist in this issue, did I miss something?

[2020-06-30 18:53] mbobra commented on #2125
@danhey Thank you! hmmm, interesting. I am not sure what to do here.

@openjournals/joss-eics, submitting author @danhey submitted a joint publication with The Astronomical Journal. The AAS publication cites Zenodo release v0.2 of the author's package, `Maelstrom`. The AAS review process is over, and the paper has been accepted (and cannot be changed). However, the JOSS review is ongoing. JOSS ref

[2020-06-30 19:06] danielskatz commented on #2374
In normal times, 2-3 weeks, but longer is ok if needed due to covid-related things

[2020-06-30 19:11] lukasheinrich commented on #2403
hi @sritchie -- part of the described functionality requires Google Cloud Access. Will you provide credits or similar to allow us to test that functionality (I don't have any free credits left)?

[2020-06-30 19:11] danielskatz commented on #2272
As stated at the top:
1. Make sure you're logged in to your GitHub account
2. Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

If these don't solve the problem, ping again

[2020-06-30 19:13] danielskatz commented on #2125
I will defer to @arfon specifically in this case

[2020-06-30 19:13] csoneson commented on #2406
@danielskatz I can take this one

[2020-06-30 19:14] csoneson commented on #2406
@whedon assign @csoneson as editor

[2020-06-30 19:14] whedon commented on #2406
OK, the editor is @csoneson

[2020-06-30 19:16] kbarnhart commented on #2361
@tylunel thank you for your submission to JOSS. I've placed the paused label on this because there are a couple of issues that need to be addressed before the submission can move forward in the JOSS review process. I've outlined these below with a checklist. If you have questions or clarifications about these issues, please comment here and I'll do my best to provide guidance.

- [ ] Installation

[2020-06-30 19:31] cicirello commented on #2368
@whedon generate pdf

[2020-06-30 19:32] whedon commented on #2368
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02368/joss.02368/10.21105.joss.02368.pdf)

[2020-06-30 19:38] mjsottile commented on #2260
👋 @sivaramambikasaran, @adam-m-jcbs, @zeroset - I haven't seen much activity recently on the reviews and wanted to check in on progress.  Please be sure to check off the reviewer checklists at the top of this issue so I can tell when reviews have been completed and if any outstanding things remain.

[2020-06-30 19:44] appelmar commented on #2272
Thanks @danielskatz. I am logged in but I might have missed to accept the invitation when this issue was started, now getting _"Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."_. Could you invite me again? Sorry for the inconvenience.

[2020-06-30 20:39] danielskatz commented on #2272
@whedon re-invite @appelmar as reviewer

[2020-06-30 20:39] whedon commented on #2272
OK, the reviewer has been re-invited.

@appelmar please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-06-30 21:07] tjmahr commented on #2348
Thank you for this opportunity to review this package. I have written a few lab-specific in-house R packages for managing eyetracking data, so I applaud the effort to provide a general-purpose tool for working with eyetracking data.

I have two disclaimers: I have not formally analyzed pupil data beyond the data-cleaning stage and I seldom use Python.

The documentation is comprehensive and genero

[2020-06-30 21:23] majensen commented on #2168
@openjournals/joss-eics really ready, thanks ever so much.

[2020-06-30 21:45] cadop commented on #2404
@whedon commands

[2020-06-30 21:45] whedon commented on #2404
Here are some things you can ask me to do:

[code]

[2020-06-30 21:46] cadop commented on #2404
@whedon check references

[2020-06-30 21:46] whedon commented on #2404
[code]

[2020-06-30 21:46] cadop commented on #2404
@whedon generate pdf

[2020-06-30 21:47] whedon commented on #2404
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02404/joss.02404/10.21105.joss.02404.pdf)

[2020-06-30 22:12] danielskatz commented on #2168
@whedon generate pdf

[2020-06-30 22:13] whedon commented on #2168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02168/joss.02168/10.21105.joss.02168.pdf)

[2020-06-30 22:13] sjsrey commented on #2298
sorry but i'm on family vacation for a bit and can't take this one on.
Sergio (Serge) Rey
Founding Director, Center for Geospatial Sciences
Professor, School of Public Policy
University of California, Riverside
sergio.rey@ucr.edu

On Mon, Jun 29, 2020 at 11:12 PM Ben Stabler <notifications@github.com>
wrote:

[2020-06-30 22:21] arfon commented on #2125
I think this mismatch is not ideal but is better than not having a new release with the changes from this review. So please create a `v0.3` release and post the DOI here.

/ cc @crawfordsm from the AAS-side of things.

[2020-06-30 22:23] pmkruyen commented on #2354
@cMadan thanks for being the editor of my submission and your initial comments:

1. I deleted the modifications. My university wants me to include those lines; I now included them in the README file (under copyright). Hope that this is acceptable. Or should these lines be included in the separate files?

2. Screenshots were included in the App Store and Google Play but not on Github. With some tri

[2020-06-30 22:30] danielskatz commented on #2168
👋 @sap218 - I have some comments/requests on the paper, in order from start to end:
- "gaining the key textual elements" - I don't know what this means; how does one gain textual elements?  Could "gaining" be "determining"?
- "having knowledge of the synonyms for clinical terminology may increase the size of the corpus available for analysis" - how is this the case?  How does having synonyms incre

[2020-07-01 00:10] nhejazi commented on #2389
Thanks for the quick reply, @arfon; I'm glad we can continue this discussion. Thanks also for explaining the reason `haldensify` was flagged as possibly out of scope. I'm sure there are at least a few checks that go into ensuring that a given software project is of reasonable effort to be reviewed and have a corresponding paper published. My own view here would be that lines of code as a metric al

[2020-07-01 00:17] synchon commented on #2342
The package delivers what it aims to and in particular, I really like the level of abstraction used for the API design. Considering the complexity involved, it has been executed neatly.

I just have a few suggestions regarding the documentation and I have opened [https://gitlab.com/davidtourigny/dynamic-fba/-/issues/29](https://gitlab.com/davidtourigny/dynamic-fba/-/issues/29). Apart from this, I

[2020-07-01 01:31] garrettj403 commented on #2256
Hi @dhhagan, unfortunately I don't have any time right now. Looks like an interesting project!

[2020-07-01 01:34] crawfordsm commented on #2125
Unfortunately, as this paper was already published, I don't think there is much we can change on our side at this time.

[2020-07-01 01:37] mbobra commented on #2125
@danhey Can you please create a new release and add a sentence (or a footnote) to the JOSS paper about this mismatch?

[2020-07-01 01:56] garrettj403 commented on #2266
Hi @edwardoughton, the changes look great! The additional comments will definitely help new users get started with your code.

@danielskatz, I'm ready to recommend publication. ``itmlogic`` was easy to install on my computer and all of the unit tests run smoothly without any errors. The package also has detailed documentation, which is hosted online. Overall, it looks like a very useful package wi

[2020-07-01 02:38] szorowi1 commented on #2348
Just wanted to say that with the closing of https://github.com/ihrke/pypillometry/issues/1, I'm totally satisfied!

Again, really nice work @ihrke! Will absolutely be recommending this package to the folks collecting pupillometry data in my center

[2020-07-01 02:48] pibion commented on #2363
@sambit-giri I believe @garrelt can join this review process by subscribing to this thread.

[2020-07-01 02:49] pibion commented on #2363
@sambit-giri  I'll look into this and get back to you shortly!

[2020-07-01 02:50] pibion commented on #2401
@whedon assign @pibion as editor

[2020-07-01 02:50] whedon commented on #2401
OK, the editor is @pibion

[2020-07-01 02:51] pibion commented on #2401
:wave: @dghoshal-lbl I have the same question as @danielskatz.

[2020-07-01 03:17] drwaseemsheikh commented on #2016
Here are the updates from my end:

1. There are no published papers/articles that have made use of this software at this point.

2. The software release is the latest and has all the bug fixes and changes from past reviews.

3. I have archived the software in Zenodo and following is the DOI of the archive

DOI: 10.5281/zenodo.3924784

The title of the archive is the same as the JOSS paper title an

[2020-07-01 04:08] dpsanders commented on #2239
The docs are looking great!

[2020-07-01 06:14] TomKellyGenetics commented on #2161
@majensen @rcannood @corybrunson

Hi everyone,

I'm pleased to update that I've pushed a substantial revision to the package repository. The main changes are to the documentation (examples and vignettes) and the manuscript. Some examples in the manuscript have been removed (but are available in the Rmarkdown version and vignettes.  Figure placement by Whedon is hardcoded with `\begin{figure}[H]` w

[2020-07-01 06:14] TomKellyGenetics commented on #2161
@whedon generate pdf

[2020-07-01 06:15] whedon commented on #2161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02161/joss.02161/10.21105.joss.02161.pdf)

[2020-07-01 06:16] TomKellyGenetics commented on #2161
@whedon set <v1.0.0> as version

[2020-07-01 06:16] whedon commented on #2161
I'm sorry @TomKellyGenetics, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-01 06:41] ihrke commented on #2348
Thanks @tjmahr and @szorowi1 for nice and thorough reviews!

Re your experiences with Tobii data, @tjmahr: the question about requirements for data-quality is a good one and one that is hard to answer in general. With the "spotty" data in your figures, many of the blink-features that are based on velocity profiles and detecting points surrounding the blinks are indeed bound to fail. I also see a c

[2020-07-01 06:50] rcannood commented on #2161
Good job @TomKellyGenetics :+1: ! I went through the new versions of the article and the documentation on the graphsim GitHub repo. I'm pleased to see that the article is looking really nice. The changes you made adequately address my previous concerns.

[2020-07-01 07:24] cMadan commented on #2117
@Luthaf, great, everything looks good to me! I'll flag this submission for acceptance and then an Editor-in-Chief will do a final once-over. Congratulations!

[2020-07-01 07:24] cMadan commented on #2117
@whedon accept

[2020-07-01 07:24] whedon commented on #2117
[code]

[2020-07-01 07:25] whedon commented on #2117
[code]

[2020-07-01 07:25] cMadan commented on #2226
@whedon generate pdf

[2020-07-01 07:25] whedon commented on #2117
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1524

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1524, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-01 07:26] whedon commented on #2226
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02226/joss.02226/10.21105.joss.02226.pdf)

[2020-07-01 07:27] cMadan commented on #2226
@samhforbes @ssriv @Darthpathos, would you be available and interested in reviewing this submission? Thanks for your consideration!

[2020-07-01 08:17] DorianDepriester commented on #2094
Hello there,
Just to mention that @ralfHielscher has kindly reviewed the submission.
https://github.com/DorianDepriester/MTEX2Gmsh/issues/5#issue-648501620
I am doing my best to promptly answer each bullet point.

[2020-07-01 08:57] kaibioinfo commented on #2398
Hi, yes I can review this work.

[2020-07-01 09:49] marksgraham commented on #2245
Hi. I've taken a look and am not able to compile the code. Perhaps if @spectralcode  can assist me I'd be able to review.

[2020-07-01 09:52] arfon commented on #2016
@whedon set 10.5281/zenodo.3924784 as archive

[2020-07-01 09:52] whedon commented on #2016
OK. <a href="https://doi.org/10.5281/zenodo.3924784" target="_blank">10.5281/zenodo.3924784</a> is the archive.

[2020-07-01 09:53] arfon commented on #2016
@whedon accept

[2020-07-01 09:54] arfon commented on #2398
@whedon add @kaibioinfo as reviewer

[2020-07-01 09:54] DominiqueMakowski commented on #2306
@whedon generate pdf

[2020-07-01 09:55] whedon commented on #2306
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02306/joss.02306/10.21105.joss.02306.pdf)

[2020-07-01 09:55] DominiqueMakowski commented on #2306
Dear @mmrabe, thanks again for your comments. We have also addressed them all in the issues you opened. Let us know if there is anything more 🤗

[2020-07-01 09:55] arfon commented on #2398
@whedon add @kaibioinfo as reviewer

[2020-07-01 09:56] whedon commented on #2398
OK, @kaibioinfo is now a reviewer

[2020-07-01 09:56] arfon commented on #2016
@whedon accept

[2020-07-01 09:56] whedon commented on #2016
[code]

[2020-07-01 09:56] tjmahr commented on #2348
Thanks for the response. (I forgot that some eye trackers have chin rests. I was using data from a 4 year old with a free field eye tracker.) I don’t think it’s critical to address for publication.

I’m satisfied. Ship it. 👁

[2020-07-01 09:56] arfon commented on #2398
@whedon start review

[2020-07-01 09:56] whedon opened #2411 "[REVIEW]: matchms - processing and similarity evaluation of mass spectrometry data"
**Submitting author:** @florian-huber (<a href="http://orcid.org/0000-0002-3535-9406">Florian Huber</a>)
**Repository:** <a href="https://github.com/matchms/matchms" target ="_blank">https://github.com/matchms/matchms</a>
**Version:** 0.4.0
**Editor:** @arfon
**Reviewer:** @bittremieux, @kaibioinfo
**Archive:** <a href="https://doi.org/10.5281/zenodo.4001991" target="_blank">10.5281/zenodo.4001991

[2020-07-01 09:56] whedon commented on #2398
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2411.

[2020-07-01 09:56] #2398 closed

[2020-07-01 09:56] whedon commented on #2411
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bittremieux, @kaibioinfo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-07-01 09:57] arfon commented on #2398
@bittremieux, @kaibioinfo - many thanks for agreeing to review this submission, see you over in #2411 where the actual review will take place.

[2020-07-01 09:57] whedon commented on #2411
[code]

[2020-07-01 09:57] whedon commented on #2016
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1525

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1525, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-01 09:57] whedon commented on #2016
[code]

[2020-07-01 09:57] arfon commented on #2411
@bittremieux, @kaibioinfo - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2020-07-01 09:57] whedon commented on #2411
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02411/joss.02411/10.21105.joss.02411.pdf)

[2020-07-01 10:00] arfon commented on #2016
@drwaseemsheikh - could you review this list of DOIs ☝️ for your references and for the ones that look correct, please add them to your BibTeX file? For example if `https://doi.org/10.1055/b-006-161125 may be missing for title: Essentials of Audiology` is correct for this title, then add `doi=10.1055/b-006-161125` to the BibTeX entry for that paper.

@openjournals/joss-eics - apologies - I forgot

[2020-07-01 10:02] spectralcode commented on #2245
Hi @marksgraham I can assist you to compile the code and then I will update the compiling instructions to help future users with similar troubles.

Can you provide some more information? Do you use the QtCreator and do you have installed cuda?
Are there any error messages from the compiler?

[2020-07-01 10:20] Luthaf commented on #2117
@whedon generate pdf

[2020-07-01 10:21] whedon commented on #2117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02117/joss.02117/10.21105.joss.02117.pdf)

[2020-07-01 10:21] Luthaf commented on #2117
We've made some tiny phrasing changes & improved the use of descriptor vs representation: https://github.com/cosmo-epfl/chemiscope/commit/8c11a56929c4793a845931939c7e60bfde740493

[2020-07-01 10:30] marksgraham commented on #2245
I have installed QTCreator and I have all the CUDA drivers. OCTProZ_DevKit seems to build fine. virtualoctsystem gives three errors when I attempt to build, all related to `ceil`. Here is an example of one of them:

[code]

[2020-07-01 10:33] rowlandm commented on #2358
Sorry Lorena,

I had to decline as my position is not being extended and I have to look
for work add a priority outside of research software.

Regards,

Rowland Mosbergen

Strategy Analyst | Big Data Analytics & Digital Transformation Lead |
Diversity & Inclusion
B of Eng (Aerospace Avionics)
Mob: 0423 030 626
Email: rowland.mosbergen@gmail.com
Web: https://www.linkedin.com/in/rowlandm-gaicd/

El

[2020-07-01 10:33] iljah commented on #2185
@ShubhadeepSadhukhan1993 I don't see any community guidelines in README as required by checklist: Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support

[2020-07-01 11:24] spectralcode commented on #2245
@marksgraham thank you for taking the time to try to compile this somewhat large project. I'm sure we can get it to work together.

I've updated virtualoctsystem.h (just added the line "#include "math.h"").
Could you please retry it with the new virtualoctsystem.h and let me know if it works?

If this does not work another possibility is to replace "ceil" by "std::ceil", but as this problem does n

[2020-07-01 11:34] lpantano commented on #2410
@luizirber, would you like to review this tool?

[2020-07-01 11:35] iljah commented on #2185
@ShubhadeepSadhukhan1993 Could you also please add bit of info to paper about other similar packages, as required by checklist? (State of the field: Do the authors describe how this software compares to other commonly-used packages?)

[2020-07-01 11:38] iljah commented on #2185
And changes I suggested in https://github.com/openjournals/joss-reviews/issues/2185#issuecomment-641971304 are still relevant. At least processors should be changed to cores.

[2020-07-01 11:45] iljah commented on #2185
@jedbrown does performance evaluation also include scalability? Test programs included in repository are only 2D so it might be difficult to evaluate scalability claims made in article. I suggested adding 3D test program in https://github.com/ShubhadeepSadhukhan1993/fastSF/issues/2

[2020-07-01 11:47] oliviaguest commented on #2348
@tjmahr LMFAO! 👏

Thank you so much, all! @szorowi1 @samhforbes @tjmahr — great work! 💯

[2020-07-01 11:47] oliviaguest commented on #2348
@whedon generate pdf

[2020-07-01 11:48] whedon commented on #2348
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02348/joss.02348/10.21105.joss.02348.pdf)

[2020-07-01 11:50] oliviaguest commented on #2348
@ihrke is that looking good to you? If you need to make any changes, please do and compile the PDF again (as I did above). ☺️

[2020-07-01 11:56] iljah commented on #2185
Based on 2D tests on my laptop the stated performance seems to check out in that it would take on the order of 1000 s to calculate a 1024^2 case if my laptop had 16 cores.

[2020-07-01 12:02] samvanstroud commented on #2364
Hi @danielskatz, thanks for writing. A license exists, though it is in the pyveg/ directory, as really the submission is only for the code in this dir (https://github.com/alan-turing-institute/monitoring-ecosystem-resilience/blob/master/pyveg/LICENSE.md). (We are developing in parallel R code which is in the rveg/ dir, however this is not in a state of readiness to be submitted to JOSS at this tim

[2020-07-01 12:12] ihrke commented on #2348
This looks great to me @oliviaguest! Thanks again @samhforbes, @tjmahr and @szorowi1 for a constructive round of reviews!

[2020-07-01 12:22] danielskatz commented on #2117
As AEiC on duty this week, I'll read this in the next few hours and either proceed with acceptance or provide feedback.

[2020-07-01 12:25] danielskatz commented on #2401
👋 @pibion - FYI, I was holding off on inviting any editors for this submission until the research application was clear, since if we decide this is not research software, we will reject it as out-of-scope for JOSS. I'm happy you've volunteered, but please keep me in the loop for the time being.

[2020-07-01 12:27] jgostick commented on #2359
@whedon assign @rreinecke as reviewer

[2020-07-01 12:28] whedon commented on #2359
OK, @rreinecke is now a reviewer

[2020-07-01 12:30] katyhuff commented on #2034
@whedon generate pdf

[2020-07-01 12:31] whedon commented on #2034
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02034/joss.02034/10.21105.joss.02034.pdf)

[2020-07-01 12:36] jgostick commented on #2359
@whedon start review

[2020-07-01 12:36] whedon opened #2412 "[REVIEW]: toughio: Pre- and post-processing Python library for TOUGH"
**Submitting author:** @keurfonluu (<a href="http://orcid.org/0000-0001-7927-0019">Keurfon Luu</a>)
**Repository:** <a href="https://github.com/keurfonluu/toughio" target ="_blank">https://github.com/keurfonluu/toughio</a>
**Version:** v1.3.2
**Editor:** @jgostick
**Reviewers:** @rreinecke, @ma-sadeghi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3961279" target="_blank">10.5281/zenodo.396

[2020-07-01 12:36] whedon commented on #2359
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2412.

[2020-07-01 12:36] #2359 closed

[2020-07-01 12:36] whedon commented on #2412
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rreinecke it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.

[2020-07-01 12:36] whedon commented on #2412
[code]

[2020-07-01 12:36] whedon commented on #2412
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02412/joss.02412/10.21105.joss.02412.pdf)

[2020-07-01 12:42] sap218 commented on #2168
@wheden generate pdf

[2020-07-01 12:42] sap218 commented on #2168
@whedon generate pdf

[2020-07-01 12:43] whedon commented on #2168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02168/joss.02168/10.21105.joss.02168.pdf)

[2020-07-01 12:44] sap218 commented on #2168
@whedon check references

[2020-07-01 12:47] sap218 commented on #2168
@whedon check references

[2020-07-01 12:47] oliviaguest commented on #2348
Oh, nice, we can get this published then! @ihrke can you create an archive of the code (on Zenodo, figshare, or other) and post the archive DOI here, please?

[2020-07-01 12:48] whedon commented on #2168
[code]

[2020-07-01 12:49] sap218 commented on #2168
@danielskatz I have updated the paper and addressed your comments

[2020-07-01 13:00] danielskatz commented on #2364
Yes.  Please do move it unless there's some reason not to.

As long as the material to be reviewed is clear, a repo with additional content is ok, though note that at the end of the process, we will archive the repo along with publishing the paper, so I think this is up to you.

[2020-07-01 13:04] danielskatz commented on #2168
Thanks -  I think one was missed, however: the proceedings title for Manning et al. should be in Title Case, not Sentence case.

[2020-07-01 13:06] danielskatz commented on #2266
thanks @garrettj403!

I now look forward to hearing from @gorlapraveen

[2020-07-01 13:07] sap218 commented on #2168
@danielskatz Ah yes sorry! Just fixed that now :-)

[2020-07-01 13:09] mtezzele commented on #2283
Sorry for the stupid question. @elDan101  I followed your last comment with the only exception of creating an env and activating it before the installation. The tests run just fine (10 skipped mainly because of legacy code, is it expected?):
[code]
The problem is with the tutorials, within a notebook I am not be able to import the package even if it is installed:
`ModuleNotFoundError: No module na

[2020-07-01 13:10] ihrke commented on #2348
sure thing! https://doi.org/10.5281/zenodo.3925528

[2020-07-01 13:18] danielskatz commented on #2117
Please see https://github.com/cosmo-epfl/chemiscope/pull/55

Also, is "Additional" in the first paragraph needed?
And the caption of figure 2 seems to end abruptly.

[2020-07-01 13:18] marksgraham commented on #2245
@spectralcode I can now compile virtualoctsystem. It isn't clear to me how I actually get it to run now.. when I press run I'm told `You need to set an executable in the custom run configuration.`

[2020-07-01 13:18] jedbrown commented on #2185
A 3D test problem seems appropriate. Performance evaluation is whatever is claimed. So if the package makes claims about scalability, it'd be reasonable to attempt to confirm that the claims are plausible (within reason; e.g., use what hardware you have handy and that two points on a scalability curve are roughly comparable to the claims). This is mostly about making sure that someone with time/re

[2020-07-01 13:21] danielskatz commented on #2168
@whedon generate pdf

[2020-07-01 13:22] whedon commented on #2168
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02168/joss.02168/10.21105.joss.02168.pdf)

[2020-07-01 13:22] danielskatz commented on #2168
@whedon accept

[2020-07-01 13:22] whedon commented on #2168
[code]

[2020-07-01 13:23] Luthaf commented on #2117
Thanks for the feedback, I hope I addressed your comments in https://github.com/cosmo-epfl/chemiscope/pull/55/commits/a9828421d8832537a3ff4992f2a7de5cb3ef8fd2

[2020-07-01 13:23] whedon commented on #2168
[code]

[2020-07-01 13:23] whedon commented on #2168
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1526

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1526, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-01 13:24] danielskatz commented on #2168
@whedon accept deposit=true

[2020-07-01 13:24] whedon commented on #2168
[code]

[2020-07-01 13:25] whedon commented on #2168
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1278318856734466049) 👈 🐦🐦🐦

[2020-07-01 13:25] whedon commented on #2168
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1527
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02168](https://doi.org/10.21105/joss.02168)
2. If everything looks g

[2020-07-01 13:29] danielskatz commented on #2168
Thanks to @wdduncan & @balhoff for reviewing!
And to @majensen for editing!

Congratulations to @sap218 (Samantha Pendleton) and co-author!!

[2020-07-01 13:29] #2168 closed

[2020-07-01 13:29] whedon commented on #2168
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02168/status.svg)](https://doi.org/10.21105/joss.02168)

**We need your help!**

Journal of Open Source Softwa

[2020-07-01 13:30] danielskatz commented on #2117
@whedon accept

[2020-07-01 13:30] whedon commented on #2117
[code]

[2020-07-01 13:31] whedon commented on #2117
[code]

[2020-07-01 13:31] whedon commented on #2117
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1528

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1528, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-01 13:33] danielskatz commented on #2117
@Luthaf - please change the metadata (title and authors) in the zenodo archive to match the paper

[2020-07-01 13:43] katyhuff commented on #2034
@whedon check references

[2020-07-01 13:44] whedon commented on #2034
[code]

[2020-07-01 13:47] katyhuff commented on #2034
Thank you @sjpfenninger, @ali-ramadhan for your reviews -- we couldn't do this without you.
Thank you @YoungFaithful  for your patience, a strong submission, and for engaging actively in the review process! I have looked over the paper, double-checked all the DOI links, and have conducted a high-level review of the code itself.
Everything looks ship-shape to me. At this point, please

- double-che

[2020-07-01 13:57] samvanstroud commented on #2364
Thanks for the advice @danielskatz, the license has been moved. For now I think we'll otherwise leave the repo as is, and will also tag package authors @crangelsmith @nbarlowATI in case they want to follow this thread or add any info.

[2020-07-01 14:04] ynop commented on #2135
@whedon generate pdf

[2020-07-01 14:04] whedon commented on #2135
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02135/joss.02135/10.21105.joss.02135.pdf)

[2020-07-01 14:08] danielskatz commented on #2364
👋 @usethedata - would you be willing to edit this submission?

[2020-07-01 14:10] whedon opened #2413 "[PRE REVIEW]: Pyntheon: A Functional Analysis Framework for Protein Modifications and Mutations of 83 Model Organisms"
**Submitting author:** @AhmedArslan (<a href="http://orcid.org/0000-0002-5325-6558">Ahmed Arslan</a>)
**Repository:** <a href="https://github.com/AhmedArslan/Pyntheon" target ="_blank">https://github.com/AhmedArslan/Pyntheon</a>
**Version:** v1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-07-01 14:10] whedon commented on #2413
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-01 14:11] whedon opened #2414 "[PRE REVIEW]: E-dish: A Repository for Functional Analyses of E coli Genomes on Desk"
**Submitting author:** @AhmedArslan (<a href="http://orcid.org/0000-0002-5325-6558">Ahmed Arslan</a>)
**Repository:** <a href="https://github.com/CSB-KUL/E-dish" target ="_blank">https://github.com/CSB-KUL/E-dish</a>
**Version:** v1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2020-07-01 14:11] whedon commented on #2413
[code]

[2020-07-01 14:11] whedon commented on #2413
PDF failed to compile for issue #2413 with the following error:

 Can't find any papers to compile :-(

[2020-07-01 14:11] whedon commented on #2414
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-01 14:11] whedon commented on #2414
[code]

[2020-07-01 14:11] spectralcode commented on #2245
@marksgraham ok, thats great!
The virtual OCT system is an OCTproZ plugin and it cannot be executed on its own. It needs to be loaded from OCTproZ. Have a look at the quick start guide in the user manual: https://spectralcode.github.io/OCTproZ/index.html

Try compiling OCTproZ and then run it to load the virtual OCT system.
(Hint: before running OCTproZ with the "play" button in Qt Creator right c

[2020-07-01 14:11] whedon opened #2415 "[PRE REVIEW]: OnPoint: A package for online experiments in motor control and motor learning"
**Submitting author:** @xiaotsay2015 (<a href="http://orcid.org/0000-0002-3992-9023">Jonathan Sanching Tsay</a>)
**Repository:** <a href="https://github.com/alan-s-lee/OnPoint" target ="_blank">https://github.com/alan-s-lee/OnPoint</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2020-07-01 14:11] whedon commented on #2414
PDF failed to compile for issue #2414 with the following error:

 Can't find any papers to compile :-(

[2020-07-01 14:11] whedon opened #2416 "[PRE REVIEW]: Chromatiblock: scalable whole-genome visualization of structural differences in prokaryotes"
**Submitting author:** @mjsull (<a href="http://orcid.org/0000-0001-9076-6963">Mitchell</a>)
**Repository:** <a href="https://github.com/mjsull/chromatiblock/" target ="_blank">https://github.com/mjsull/chromatiblock/</a>
**Version:** v0.4.2
**Editor:** @will-rowe
**Reviewers:** @telatin, @rpetit3
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-07-01 14:11] whedon commented on #2416
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-01 14:11] whedon opened #2417 "[PRE REVIEW]: Extracting, Computing and Exploring the Parameters of Statistical Models using R"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/easystats/parameters" target ="_blank">https://github.com/easystats/parameters</a>
**Version:** 0.8.1
**Editor:** @sbenthall
**Reviewers:** @cmaimone
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2020-07-01 14:12] whedon commented on #2417
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-01 14:12] whedon commented on #2416
[code]

[2020-07-01 14:12] whedon opened #2418 "[PRE REVIEW]: chirps: API Client for the CHIRPS Precipitation Data in R"
**Submitting author:** @kauedesousa (<a href="http://orcid.org/0000-0002-7571-7845">Kauê de Sousa</a>)
**Repository:** <a href="https://github.com/ropensci/chirps" target ="_blank">https://github.com/ropensci/chirps</a>
**Version:** v0.1.0
**Editor:** @danielskatz
**Reviewers:** @danielskatz
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-07-01 14:12] whedon commented on #2418
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-07-01 14:12] whedon commented on #2416
[code]

[2020-07-01 14:12] whedon commented on #2417
[code]

[2020-07-01 14:13] whedon commented on #2417
[code]

[2020-07-01 14:14] whedon commented on #2418
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02418/joss.02418/10.21105.joss.02418.pdf)

[2020-07-01 14:14] whedon commented on #2418
[code]

[2020-07-01 14:20] danielskatz commented on #2413
@AhmedArslan - where is paper you are submitting?  See https://joss.readthedocs.io/en/latest/submitting.html - your paper should be in the repository that you are submitting.

[2020-07-01 14:23] ynop commented on #2135
@whedon generate pdf

[2020-07-01 14:23] whedon commented on #2135
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02135/joss.02135/10.21105.joss.02135.pdf)

[2020-07-01 14:25] ynop commented on #2135
@faroit We added a section about related work.

[2020-07-01 14:30] danielskatz commented on #2414
@AhmedArslan - where is paper you are submitting? See https://joss.readthedocs.io/en/latest/submitting.html - your paper should be in the repository that you are submitting.

[2020-07-01 14:32] xiaotsay2015 commented on #2415
Suggested reviewers:

1) Andytwoods
2) felixhenninger
3) Mullins
4) johnsamuelwrite
5) camillescott
6) ejolly
7) xzyaoi

On July 1, 2020 at 7:12:13 AM, whedon (notifications@github.com) wrote:

*Submitting author:* @xiaotsay2015 <https://github.com/xiaotsay2015> (Jonathan
Sanching Tsay <http://orcid.org/0000-0002-3992-9023>)
*Repository:* <https://github.com/alan-s-lee/OnPoint>
https://github.com/

[2020-07-01 14:34] danielskatz commented on #2413
Additionally, I am fairly confident that the JOSS editors will find that this software is a minor utility package - see https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements.  Rather than putting a lot of work into this submission, and the other you submitted at the same time, you might want to withdraw both and think about a larger, more complex submission that is a librar

[2020-07-01 14:34] danielskatz commented on #2414
Additionally, I am fairly confident that the JOSS editors will find that this software is a minor utility package - see https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements.  Rather than putting a lot of work into this submission, and the other you submitted at the same time, you might want to withdraw both and think about a larger, more complex submission that is a librar

[2020-07-01 14:35] faroit commented on #2135
Great. I made three comments on the changes:

* https://github.com/ynop/audiomate/commit/31203e4817be1626f3266aa5eab3cc6bcf811bd8#r40297165
* https://github.com/ynop/audiomate/commit/31203e4817be1626f3266aa5eab3cc6bcf811bd8#r40297291
* https://github.com/ynop/audiomate/commit/31203e4817be1626f3266aa5eab3cc6bcf811bd8#commitcomment-40297261

can you address these?

[2020-07-01 14:35] kauedesousa commented on #2418
@whedon commands

[2020-07-01 14:35] whedon commented on #2418
Here are some things you can ask me to do:

[code]

[2020-07-01 14:42] kauedesousa commented on #2418
@whedon check references

[2020-07-01 14:43] whedon commented on #2418
[code]

[2020-07-01 14:43] danielskatz commented on #2415
@whedon check repository

[2020-07-01 14:44] whedon commented on #2415
[code]

[2020-07-01 14:44] danielskatz commented on #2415
@whedon generate pdf

[2020-07-01 14:45] whedon commented on #2415
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02415/joss.02415/10.21105.joss.02415.pdf)

[2020-07-01 14:45] danielskatz commented on #2415
@whedon check references

[2020-07-01 14:46] whedon commented on #2415
[code]

[2020-07-01 14:49] kauedesousa commented on #2418
This package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/357, @melvidoni

[2020-07-01 14:51] danielskatz commented on #2418
@thanks @kauedesousa  - I'll move this along in that case, likely sometime today...

[2020-07-01 14:51] danielskatz commented on #2418
@whedon assign me as editor

[2020-07-01 14:51] whedon commented on #2418
OK, the editor is @danielskatz

[2020-07-01 14:51] danielskatz commented on #2418
@whedon assign @danielskatz as reviewer

[2020-07-01 14:51] whedon commented on #2418
OK, @danielskatz is now a reviewer

[2020-07-01 14:52] danielskatz commented on #2418
@whedon start review

[2020-07-01 14:54] danielskatz commented on #2418
@whedon start review

[2020-07-01 14:54] whedon opened #2419 "[REVIEW]: chirps: API Client for the CHIRPS Precipitation Data in R"
**Submitting author:** @kauedesousa (<a href="http://orcid.org/0000-0002-7571-7845">Kauê de Sousa</a>)
**Repository:** <a href="https://github.com/ropensci/chirps" target ="_blank">https://github.com/ropensci/chirps</a>
**Version:** v0.1.0
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3925143" target="_blank">10.5281/zenodo.3925143</a>

**

[2020-07-01 14:54] whedon commented on #2418
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2419.

[2020-07-01 14:54] #2418 closed

[2020-07-01 14:54] whedon commented on #2419
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2020-07-01 14:55] whedon commented on #2419
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02419/joss.02419/10.21105.joss.02419.pdf)

[2020-07-01 14:55] danielskatz commented on #2419
This is an expedited review, as this package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/357

[2020-07-01 14:55] whedon commented on #2419
[code]

[2020-07-01 15:03] jgostick commented on #2412
@whedon as @ma-sadeghi as reviewer

[2020-07-01 15:03] whedon commented on #2412
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-01 15:03] jgostick commented on #2412
@whedon add @ma-sadeghi as reviewer

[2020-07-01 15:04] ynop commented on #2135
@whedon generate pdf
@faroit We reference numpy in the second example now.

[2020-07-01 15:05] whedon commented on #2135
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.02135/joss.02135/10.21105.joss.02135.pdf)

[2020-07-01 15:08] danielskatz commented on #2412
@arfon - whedon seems to be having some problems and missing some commands today

[2020-07-01 15:08] danielskatz commented on #2412
@whedon add @ma-sadeghi as reviewer

[2020-07-01 15:08] whedon commented on #2412
OK, @ma-sadeghi is now a reviewer

[2020-07-01 15:09] danielskatz commented on #2412
@jgostick - sometimes the answer is just to try again

[2020-07-01 15:10] oliviaguest commented on #2348
@whedon set 10.5281/zenodo.3925528 as archive

[2020-07-01 15:10] whedon commented on #2348
OK. <a href="https://doi.org/10.5281/zenodo.3925528" target="_blank">10.5281/zenodo.3925528</a> is the archive.