[2021-02-10 21:51] whedon commented on #3029
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-10 21:51] whedon commented on #3029
[code]

[2021-02-10 21:52] whedon opened #3030 "[PRE REVIEW]: `presize`: An R-package for precision-based sample size calculation in clinical research"
**Submitting author:** @aghaynes (<a href="http://orcid.org/0000-0003-1374-081X">Alan G Haynes</a>)
**Repository:** <a href="https://github.com/CTU-Bern/presize" target ="_blank">https://github.com/CTU-Bern/presize</a>
**Version:** 0.1.3
**Editor:** @majensen
**Reviewers:** @amoeba, @TomKellyGenetics
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-02-10 21:52] whedon commented on #3030
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-10 21:52] whedon commented on #3030
[code]

[2021-02-10 21:52] whedon commented on #3030
Failed to discover a valid open source license.

[2021-02-10 21:52] whedon commented on #3029
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03029/joss.03029/10.21105.joss.03029.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03029/joss.03029/10.21105.joss.03029.pdf) :page_facing_up: :point_left:

[2021-02-10 21:52] whedon commented on #3030
[code]

[2021-02-10 21:52] whedon commented on #3029
[code]

[2021-02-10 21:52] whedon commented on #3030
PDF failed to compile for issue #3030 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773

[2021-02-10 21:54] arfon commented on #3029
@whedon query scope

@pjb7687 – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's suggestions are not always right), you can, th

[2021-02-10 21:54] whedon commented on #3029
Submission flagged for editorial review.

[2021-02-10 21:57] arfon commented on #3030
@aghaynes - our document production pipeline expects a `date` field in the YAML header, could you please add one?

Also, it looks like we couldn't find a license for this repository. Please make sure there is one present.

[2021-02-10 21:59] arfon commented on #2107
@whedon accept deposit=true

[2021-02-10 21:59] whedon commented on #2107
[code]

[2021-02-10 22:00] whedon commented on #2107
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1359623269704486912) 👈 🐦🐦🐦

[2021-02-10 22:00] whedon commented on #2107
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2083
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02107](https://doi.org/10.21105/joss.02107)
2. If everything looks g

[2021-02-10 22:02] arfon commented on #2107
@stuartcampbell, @dvanic - many thanks for your reviews here! JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you ✨

@FlorianRhiem - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-10 22:02] #2107 closed

[2021-02-10 22:02] whedon commented on #2107
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02107/status.svg)](https://doi.org/10.21105/joss.02107)

**We need your help!**

Journal of Open Source Softwa

[2021-02-10 22:04] giswqs commented on #2965
Not sure why it fails to compile. I just tested it using [https://whedon.theoj.org](https://whedon.theoj.org) and it complied just fine.

[2021-02-10 22:04] giswqs commented on #2965
@whedon generate pdf

[2021-02-10 22:05] whedon commented on #2965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: :point_left:

[2021-02-10 22:09] arfon commented on #2882
:wave: @ajoer & @Suman-d would either of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration is a Python package: [_Magicwand: A platform to provide high-quality, reliable, and reproducible data sets for low-a

[2021-02-10 22:12] arfon commented on #2981
@whedon invite @mjsottile as editor

:wave: @mjsottile - any chance you could take this submission for us too?

[2021-02-10 22:12] whedon commented on #2981
@mjsottile has been invited to edit this submission.

[2021-02-10 22:13] giswqs commented on #2965
I have re-built the documentation using mkdocs. Here is the new link (https://lidar.gishub.org). I am still updating the content. The [lidar.reathedocs.io](https://lidar.readthedocs.io/) is no longer being updated. Thanks.

[2021-02-10 22:50] kfhiga commented on #2744
Thanks for the tip, just made the change.
@whedon generate pdf

On Wed, Feb 10, 2021 at 1:52 PM whedon <notifications@github.com> wrote:

[2021-02-10 22:51] melissawm commented on #2744
@whedon generate pdf

[2021-02-10 22:51] whedon commented on #2744
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02744/joss.02744/10.21105.joss.02744.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02744/joss.02744/10.21105.joss.02744.pdf) :page_facing_up: :point_left:

[2021-02-10 22:51] melissawm commented on #2744
@kfhiga You have to make the command in a separate comment :)

@arfon thanks for the help!

[2021-02-10 23:02] kfhiga commented on #2744
Ah, thanks @melissawm <https://github.com/melissawm>, good to know. The
proof looks great!

And thanks again @arfon <https://github.com/arfon>, looks like that worked
out nicely.

Best regards,
Kenny

On Wed, Feb 10, 2021 at 2:52 PM Melissa Weber Mendonça <
notifications@github.com> wrote:

[2021-02-11 00:41] jason-rumengan commented on #3028
Thank you, @mjsottile. I suggest Sébastien Marcel (https://www.idiap.ch/~marcel/professional/Welcome.html) as a reviewer.

[2021-02-11 01:01] luizirber commented on #2991
We are in the middle of a pandemic, so whedon's comment might sound a bit demanding, but the intentions are good, just so we know how the review is going =]

@esteinig do you mind [opening a PR](https://github.com/esteinig/nanoq/compare/joss?expand=1) with the `joss` branch, so we have better visibility on the changes you're making to address Roderick and Pierre's comments? You don't need to merge

[2021-02-11 01:23] pjb7687 commented on #3029
@whedon generate pdf

[2021-02-11 01:24] whedon commented on #3029
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03029/joss.03029/10.21105.joss.03029.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03029/joss.03029/10.21105.joss.03029.pdf) :page_facing_up: :point_left:

[2021-02-11 01:25] pjb7687 commented on #3029
@whedon check references

[2021-02-11 01:25] whedon commented on #3029
[code]

[2021-02-11 01:29] pjb7687 commented on #3029
I have updated the DOIs. Thank you so much!

[2021-02-11 01:49] pjb7687 commented on #3029
@whedon generate pdf

[2021-02-11 01:49] whedon commented on #3029
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03029/joss.03029/10.21105.joss.03029.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03029/joss.03029/10.21105.joss.03029.pdf) :page_facing_up: :point_left:

[2021-02-11 01:59] pjb7687 commented on #3029
@whedon generate pdf

[2021-02-11 02:00] whedon commented on #3029
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03029/joss.03029/10.21105.joss.03029.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03029/joss.03029/10.21105.joss.03029.pdf) :page_facing_up: :point_left:

[2021-02-11 02:04] pjb7687 commented on #3029
I also did some minor corrections regarding BibTeX citations too. Thanks for reviewing the paper.

[2021-02-11 03:09] mjsottile commented on #2981
@whedon assign me as editor

[2021-02-11 03:09] whedon commented on #2981
OK, the editor is @mjsottile

[2021-02-11 03:37] zackdraper commented on #2641
Hey @zemogle I ran it on the Tres2b data and got an error, looks like there needs to be more exception handling when intermediate steps don't return what is normally expected.

[code]

[2021-02-11 04:18] cheginit commented on #2965
@giswqs Thanks for taking the time and addressing the issues that I raised. @kbarnhart, in my opinion, the package meets all the criteria.

@giswqs As a side note, I would suggest you to take a look at [pre-commit](https://pre-commit.com/). It's a fantastic tool that can help with checking the quality of your code. It can automate many of the tasks, here's an example config file that I use for my

[2021-02-11 04:24] giswqs commented on #2965
@cheginit Many thanks for your recommendation of [pre-commit](https://pre-commit.com/). It seems a very useful tool. I will start using it in my projects.

[2021-02-11 04:34] hmacdope commented on #2824
Fine by me!

[2021-02-11 06:50] chkoar commented on #2974
@geoffreyp please try to address the raised issues atomically. Unrelated changes might slow down the review process. Thanks.

[2021-02-11 08:47] modenaxe commented on #2911
@Kevin-Mattheus-Moerman I am happy with both the paper and the repository (as mentioned above I checked carefully the MATLAB interface). The submission is high quality, and really solves a constant issue in biomechanics (efficiently importing gait lab data for processing)!

Thank you @pariterre, this was a great JOSS contribution to review, great fun exchanging some data structuring dilemmas as we

[2021-02-11 08:55] whedon opened #3031 "[PRE REVIEW]: The MOOSE geochemistry module"
**Submitting author:** @WilkAndy (<a href="http://orcid.org/0000-0001-6472-9560">Andy Wilkins</a>)
**Repository:** <a href="https://github.com/idaholab/moose" target ="_blank">https://github.com/idaholab/moose</a>
**Version:** snapshot-20-10-27
**Editor:** @jedbrown
**Reviewers:** smolins
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-02-11 08:55] whedon commented on #3031
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-11 08:58] arfon commented on #3031
:wave: @WilkAndy - thanks for your submission. It's not immediately clear how this submission is different from https://github.com/openjournals/joss-reviews/issues/2176 - could you clarify?

[2021-02-11 09:09] arfon commented on #2971
@devosmitachatterjee2018 - for MATLAB submissions (i.e., proprietary runtimes) it's often quite challenging for us to find reviewers who have access to a license and the [dependencies of your software](https://github.com/devosmitachatterjee2018/DataCleaningTool#installation-instructions).

Could you please suggest some additional reviewers, perhaps from your professional network (they would of cou

[2021-02-11 09:24] whedon commented on #2992
:wave: @mmrabe, please update us on how your review is going.

[2021-02-11 09:24] pdebuyl commented on #2996
@whedon assign @ranocha as reviewer

[2021-02-11 09:25] whedon commented on #2996
OK, @ranocha is now a reviewer

[2021-02-11 09:30] corentin-dev commented on #2939
@diehlpk, I think you need to reinvite me as reviewer (something like @whedon re-invite @corentin-dev as reviewer), as I cannot check any box for the moment.

[2021-02-11 09:33] JohannesBuchner commented on #2550
Can the typo PyMulitNest->PyMultiNest still be fixed?

[2021-02-11 09:40] aghaynes commented on #3030
Thanks for the feedback @arfon. I've added those things. I also noticed that the version on github is actually 0.2.0 rather than 0.1.3 which is on CRAN.

On a different point, Whedon seems to think that I've only made 2 commits... that is not even remotely correct... I've committed many more times...

[2021-02-11 10:06] cMadan commented on #2868
@whedon set v2.7.1 as version

[2021-02-11 10:06] whedon commented on #2868
OK. v2.7.1 is the version.

[2021-02-11 10:07] cMadan commented on #2868
@whedon set 10.5281/zenodo.4527802 as archive

[2021-02-11 10:07] whedon commented on #2868
OK. <a href="https://doi.org/10.5281/zenodo.4527802" target="_blank">10.5281/zenodo.4527802</a> is the archive.

[2021-02-11 10:07] cMadan commented on #2868
@whedon accept

[2021-02-11 10:07] whedon commented on #2868
[code]

[2021-02-11 10:08] whedon commented on #2868
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2084

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2084, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-11 10:09] whedon commented on #2868
[code]

[2021-02-11 10:10] cMadan commented on #2839
@EtienneCmb @daviddewhurst @0todd0000, would you be available and interested in reviewing this submission?

[2021-02-11 13:13] jonathanschilling commented on #2972
@ayush-1506 @gkthiruvathukal Sorry, I am indeed quite busy at the moment. Maybe someone else more involved in this topic can perform the review in this case?

[2021-02-11 13:23] dhhagan commented on #2781
Thanks for those updates - I will let @samjsilva91 finalize his review with these posts in mind.

[2021-02-11 14:02] ckadow commented on #2781
hi Aaron,

I agree, sounds good with the suggestions you mention. Exactly, if you
go towards bootstrapping, speed will be an important thing.

Best,
Chris

On 2021-02-09 22:09, Aaron Spring wrote:

--
Christopher Kadow
Institute of Meteorology
Freie Universitaet Berlin
Climate System Modeling Working Group
MiKlip - Integration - Project Coordination
Carl-Heinrich-Becker Weg 6-10, Room 193 (NB/2)
D

[2021-02-11 14:15] samjsilva91 commented on #2781
This all looks excellent. I'm happy with the changes and comments from the authors.

[2021-02-11 14:19] aaronspring commented on #2781
great to here @samjsilva91 - we are currently working on this PR https://github.com/pangeo-data/climpred/pull/505 on the changes in the manuscript, mainly the performance claim (discussion above). we'll ping you once we merged this.

[2021-02-11 14:47] jcohenadad commented on #2868
i noticed a broken link in the generated pdf. Page 1, the hyperlink under "each has their pros & cons." brings me there:
![image](https://user-images.githubusercontent.com/2482071/107651948-0dd14700-6c4e-11eb-843f-e98941d6de8f.png)

[2021-02-11 14:50] jcohenadad commented on #2868
Same issue for hyperlink under "this example tutorial" in page 3:

![image](https://user-images.githubusercontent.com/2482071/107652375-82a48100-6c4e-11eb-82d8-facc42529c20.png)

The issue is possibly related to the "#" character in the URL (interpreted as %23)?

[2021-02-11 14:52] lpantano commented on #2334
@erinyoung if you have time to repeat that command but using: `lskatz/sneakernet:edge` instead of `lskatz/sneakernet:latest`, let us know. thanks!  @druvus, I would use this latest image when you test, just in case you face the same error. Thanks both

[2021-02-11 14:53] zemogle commented on #2641
Hmmm. This is puzzling. I just made a new environment and installed astrosource from `pypi`. Everything ran smoothly. I also did a checkout of `master` to see if there was an issue there, but it also ran smoothly. None of our other users have reported this problem either so I'm finding it a bit tricky to debug.

Would you be able to make an [issue](https://github.com/zemogle/astrosource/issues)  s

[2021-02-11 14:56] nidhog commented on #2882
@arfon sorry for taking too long to respond (side effect of not having notifications 😅 🙏 )
would happily review it at some time within the next 3 weeks to be realistic, if this scope is ok let me know 😉 👌

[2021-02-11 15:11] pariterre commented on #2911
@modenaxe  It is a impossible to solve dilemma hahaha!
Thanks for the careful and highly useful review :)

[2021-02-11 15:41] kbarnhart commented on #2965
@laijingtao and @cheginit thanks much for your thoughtful reviews and thanks to @giswqs for addressing their issues so expediently, this often makes the effort of subsequent reviewers much more straightforward.

@amanaster2 thank you for being the reviewer with the Arc license. As you are able, feel free to update me on the progress of the review here.

[2021-02-11 15:48] danielskatz commented on #2962
@yarongvili1 and @gcdeshpande - my apologies for the delays in getting this started - I've sent a bunch of emails to potential reviewers, without any positive responses. Given that this is a topic where we don't have a good fit to any of the editors, I decided to take this myself, but this means I also don't have connections to members of the community who might be appropriate reviewers. Do you ha

[2021-02-11 15:49] jcohenadad commented on #2868
about the broken links mentioned above: when opening the generated PDF with acrobat reader, the links work. With macOs preview, i get those errors.

[2021-02-11 15:50] danielskatz commented on #3000
@RobertRosca & @khanx169  - it's great to see that you have started your reviews - thanks!

[2021-02-11 15:50] danielskatz commented on #2282
@mikerspencer - ping...  ☝️

[2021-02-11 15:53] danielskatz commented on #2868
For what it's worth, they work for me in Safari on macOS

[2021-02-11 15:54] jcohenadad commented on #2868
@cMadan have you had similar issues with generated PDFs in the past? What do you suggest we can do? (e.g., remove the "#" in the URLs, but it would be a less direct redirection 🤷‍♂️)

[2021-02-11 15:56] dbkeitel commented on #3000
Thanks from my side too! There's apparently a numpy-lalsuite version incompatibility at the moment that breaks our automated tests, I'm looking into fixing it by a temporary version pinning.

[2021-02-11 16:24] jcohenadad commented on #2868
@danielskatz It doesn't work for me on Safari (see below). I'm running macOs 10.15.7 with Safari 14.0 and opened the PDF with Safari from my local station. I could not open it from the link in the [GitHub PR](https://github.com/openjournals/joss-papers/pull/2084/files?file-filters%5B%5D=.pdf#diff-c8d0a82b4ebde1bcd2aceb93d3cd0d9627c7b695af3899135d6f5cac8323fb4f).

![Screen Shot 2021-02-11 at 11 21

[2021-02-11 16:42] danielskatz commented on #2868
I'm on macOS 11.2 and Safari 14.0.3

[2021-02-11 16:57] justusschock commented on #2868
Works for me on macOS 11.2 with both, safari and chrome

[2021-02-11 17:14] jcohenadad commented on #2868
Just for reference, this is a known issue. In [this thread](https://github.com/latex3/hyperref/issues/110), they suggest to replace the hyperlinks with bitly links, but I don't know if we could rely on them in the long term.

[2021-02-11 17:16] kyleniemeyer commented on #2550
@openjournals/dev The typo is in the Software Citation section of the paper, can that be fixed at this point?

[2021-02-11 17:17] EtienneCmb commented on #2839
Hi @cMadan, sorry for the delay, unfortunately I'm already in the middle of multiple reviews.

[2021-02-11 17:26] danielskatz commented on #2868
Given that this is resolved on current macOS, this appears to be a bug apple fixed, so I don't think a workaround is needed as we go forward.

[2021-02-11 17:44] henrykironde commented on #2962
Sorry I did not see this but I am currently reviewing another package. I will not have time to review this one at the same time.

[2021-02-11 17:50] Drulex commented on #2868
In the genreated link, the fragment uri (ascii character `#`) is url-encoded (`%23`) which seems appropriate, but apparently not handled the same way by all browsers.

Maybe you can try tweaking whatever process generated the hyperlink to use `ascii` instead of url-encoded links? (warning this may break stuff, especially with hyperlinks that have embedded spaces)

[2021-02-11 18:00] diehlpk commented on #2939
@whedon re-invite @corentin-dev as reviewer

[2021-02-11 18:01] whedon commented on #2939
OK, the reviewer has been re-invited.

@corentin-dev please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-11 18:10] danielskatz commented on #2962
@henrykironde - do you have any sense when you might be able to review this one? Given the difficulties I'm having in finding reviewers, waiting for you to be available might be a decent option

[2021-02-11 18:30] jordanperr commented on #2171
Excellent! We plan to get back to you with the DOI and a tag next week. Thank you!

[2021-02-11 18:58] diehlpk commented on #2939
@corentin-dev Please accept the link above.

[2021-02-11 18:58] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-02-11 18:58] whedon commented on #2995
[code]

[2021-02-11 19:00] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-02-11 19:10] corentin-dev commented on #2939
Perfect ! Thank you (and sorry for not accepting previously...).

[2021-02-11 19:23] whedon commented on #2995
:wave: @JDRomano2, please update us on how your review is going.

[2021-02-11 19:23] whedon commented on #2995
:wave: @LogIN-, please update us on how your review is going.

[2021-02-11 19:40] gaelforget commented on #2813
I just posted an updated version of the paper itself (in the `josspaper_rev01` branch) to reflect code changes that have happened since original submission, and hopefully clarify the functionality summary.

I also expended a bit on the context vs other particle tracking software as advised during the pre-review at the top of section 2 (please note that the included reference from Van Sebille et al

[2021-02-11 19:53] arfon commented on #2550
Yep, we can regenerate the paper if the fix has been made.

[2021-02-11 20:02] kyleniemeyer commented on #2550
Hi @Jammy2211, could you fix the typo pointed out in the paper source?

[2021-02-11 20:53] kthyng commented on #2942
@jedbrown Would you be able to have a look at the changes in this repo? Would you be willing to edit the submission, too?

[2021-02-11 20:53] kthyng commented on #2942
@whedon invite @jedbrown as editor

[2021-02-11 20:54] whedon commented on #2942
@jedbrown has been invited to edit this submission.

[2021-02-11 21:04] jedbrown commented on #2942
Sorry, I'm swamped and will need to decline new editing for a few weeks. Perhaps @harpolea would be available.

[2021-02-11 21:26] kthyng commented on #2942
@diehlpk Would you be able to edit this?

[2021-02-11 21:26] kthyng commented on #2942
@whedon invite @diehlpk as editor

[2021-02-11 21:27] whedon commented on #2942
@diehlpk has been invited to edit this submission.

[2021-02-11 21:34] yarongvili1 commented on #2962
@danielskatz - Unfortunately, I don't have a name off the top of my head that I'm would likely be able to review. I guess let's wait for Henry.

[2021-02-11 21:45] arfon commented on #2882
That's great, thank you @nidhog! I'll go ahead and add you to the review now - sometime in the next 3 weeks would be great!

[2021-02-11 21:45] arfon commented on #2882
@whedon add @nidhog as reviewer

[2021-02-11 21:45] whedon commented on #2882
OK, @nidhog is now a reviewer

[2021-02-11 21:45] WilkAndy commented on #3031
Hi @arfon .   Yes, the MOOSE framework contains a number of modules designed to solve different types of physical problems.  #2176 described the module that allows users to simulate fluid and heat flow through porous materials.  This submission describes the module that allows users to model geochemistry.

[2021-02-11 21:45] arfon commented on #2882
@whedon start review

[2021-02-11 21:45] whedon opened #3032 "[REVIEW]: Magicwand: A platform to provide high-quality, reliable, and reproducible data sets for low-and-slow DDoS attacks"
**Submitting author:** @ctodd26labs (<a href="http://orcid.org/0000-0003-1453-265X">Christopher Todd</a>)
**Repository:** <a href="https://github.com/twosixlabs/magicwand-datatool" target ="_blank">https://github.com/twosixlabs/magicwand-datatool</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @nidhog, @gradvohl
**Archive:** <a href="https://doi.org/10.5281/zenodo.4774301" target="_blank

[2021-02-11 21:45] whedon commented on #2882
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3032.

[2021-02-11 21:45] #2882 closed

[2021-02-11 21:45] whedon commented on #3032
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nidhog it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2021-02-11 21:46] whedon commented on #3032
[code]

[2021-02-11 21:46] whedon commented on #3032
[code]

[2021-02-11 21:46] whedon commented on #3032
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03032/joss.03032/10.21105.joss.03032.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03032/joss.03032/10.21105.joss.03032.pdf) :page_facing_up: :point_left:

[2021-02-11 21:46] arfon commented on #2882
@nidhog - please head over to #3032 where the actual review will take place. @ctodd26labs - I'm going to keep looking for a second reviewer while @nidhog gets started.

[2021-02-11 21:50] arfon commented on #3032
@nidhog

This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions &amp; questions" in the first comment above.

You have a checklist at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links

[2021-02-11 22:09] jarrah42 commented on #2962
Sorry for the delay too. This seems to have gotten lost in my GitHub mail. I haven't reviewed before, but I'm willing to take a look.

[2021-02-11 22:15] diehlpk commented on #2942
@kthyng I can manage the topic but have no experience with the Julia language and would need to reply on the reviewer's judgment.

[2021-02-11 22:19] diehlpk commented on #2942
@whedon assign @diehlpk as editor

[2021-02-11 22:20] whedon commented on #2942
OK, the editor is @diehlpk

[2021-02-11 22:21] diehlpk commented on #2945
@whedon remind @thelfer, @pbauman in 2 weeks

[2021-02-11 22:21] whedon commented on #2945
@thelfer, @pbauman doesn't seem to be a reviewer or author for this submission.

[2021-02-11 22:25] diehlpk commented on #2939
@whedon remind @corentin-dev and @iammix  in 2 weeks

[2021-02-11 22:25] whedon commented on #2939
@corentin-dev and @iammix  doesn't seem to be a reviewer or author for this submission.

[2021-02-11 22:41] diehlpk commented on #2942
Hey  @vavrines could you please recommend some potential reviewers?

[2021-02-11 23:21] Jammy2211 commented on #2550
Pushed :)

[2021-02-11 23:21] vavrines commented on #2942
@diehlpk Thanks for the quick handling.
For the potential reviewers, I suggest:
- Christopher Rackauckas (ChrisRackauckas)
- Robin Deits (rdeits)
- David P. Sanders (dpsanders)
- Kristoffer Carlsson (KristofferC)

[2021-02-11 23:28] amanaster2 commented on #2965
@kbarnhart Will do! I've really only scratched the surface so far. Apologies for the delay... Planning to dig into this further this weekend 😄

[2021-02-11 23:29] diehlpk commented on #2942
Hey @ChrisRackauckas, @rdeits, @dpsanders, and @KristofferC would you be interested to review this paper?

[2021-02-12 00:19] henrykironde commented on #2962
I will be free after two weeks. @danielskatz, and @yarongvili1, I have looked at this software and I think the software needs more time before submitting the paper. My recommendation is to withdraw the paper and wait for the software to mature. The concept looks good, but I believe it lacks enough community outreach or utility. I believe it will become a good package. Please take a look at the JOS

[2021-02-12 00:24] henrykironde commented on #2962
One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI for your software. This DOI can then be used by others to cite your work

[2021-02-12 01:33] zackdraper commented on #2641
I have to verify the code actually works.  Do you have another data set of an actual variable star?  I think at the very least you would need to document an example dataset people can use. Obviously cant include it because the data would be too large, but some public data source is useful for this code to be tested with.  Also, the fits files require certain keywords to work, I think you need to d

[2021-02-12 01:35] devosmitachatterjee2018 commented on #2971
@arfon Thank you for the update. I am searching within my professional network for recommendations. I will get back to you as soon as possible.

[2021-02-12 03:31] jdber1 commented on #2604
Thanks very much @kyleniemeyer! I will archive the repo and report the DOI when I get a chance.

[2021-02-12 04:57] ppalmes commented on #2849
My decision is Major Revision.

The main contribution of the package is the reimplementation in pure Julia of the various algorithms in supervised and unsupervised learning for teaching purposes.

I agree with @ablaom that in terms of usability, other existing toolkit are more straightforward and consistent to use.  Among the things that I consider to be a major issue is the absence of pipeline AP

[2021-02-12 05:42] jedbrown commented on #3031
Hi, @WilkAndy. The paper in #2176 mentions chemistry/geochemistry as features several times. I don't know a great way to write criteria to distinguish what is the contribution of a single publication and what other to-be-submitted features does it leverage. Without addressing this specific submission, I think we have to be careful with the precedent and extent to which it may encourage minimum pub

[2021-02-12 06:28] WilkAndy commented on #3031
Hi @arfon , I understand your problem: people might just add a few lines of code to an existing project and publish a paper - "look at our exciting new code!"  I think the current article does not fall into this category.  The chem/geochem mentioned in #2176 is quite basic, and part of the reason for developing the current capability is that geochemists found it difficult to use and lacking featur

[2021-02-12 07:54] arfon commented on #2550
OK, that should be fixed now.

[2021-02-12 07:56] whedon opened #3033 "[PRE REVIEW]: toqito -- Theory of quantum information toolkit: A Python package for studying quantum information"
**Submitting author:** @vprusso (<a href="http://orcid.org/0000-0002-8952-8981">Vincent Russo</a>)
**Repository:** <a href="https://github.com/vprusso/toqito" target ="_blank">https://github.com/vprusso/toqito</a>
**Version:** 0.0.7
**Editor:** @poulson
**Reviewers:** @rurz, @jameshclrk, @marwahaha
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-02-12 07:56] whedon commented on #3033
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-12 07:57] whedon commented on #3033
Failed to discover a `Statement of need` section in paper

[2021-02-12 07:57] whedon commented on #3033
[code]

[2021-02-12 07:57] whedon commented on #3033
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03033/joss.03033/10.21105.joss.03033.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03033/joss.03033/10.21105.joss.03033.pdf) :page_facing_up: :point_left:

[2021-02-12 07:57] whedon commented on #3033
[code]

[2021-02-12 09:00] modenaxe commented on #2911
@pariterre indeed, I was dealing with something similar yesterday and thinking: "shall I go XYZ this time"? 🤣
No worries, it's been a pleasure discovering such a nice package, congratulations again 👏 👏

[2021-02-12 09:11] arfon commented on #3033
@vprusso - please update your paper to include a section named `Statement of need` with a description that illustrates the research purpose of the software. Also, I'm not sure if those DOI recommendations from Whedon are correct but if they are, please add them `doi` fields to your BibTeX.

[2021-02-12 10:03] oliviaguest commented on #2891
@whedon re-invite @themkar as reviewer

[2021-02-12 10:03] whedon commented on #2891
OK, the reviewer has been re-invited.

@themkar please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-12 10:04] LogIN- commented on #2995
Hi @fboehm thank you for invitation for the review.

Authors did a good job in developing a package, it can be successfully installed and used.

Here is my opinion on what needs to be changed:

- Authors should remove self-citation to the same article available to preprint server (Ponce, 2020)

When this self-citation is removed authors should describe in more detail functionality of this R packag

[2021-02-12 10:52] salrm8 commented on #2871
Hi @drvinceknight, I wonder if there has been any update. Thank you!

[2021-02-12 11:04] JannisHoch commented on #2855
dear @sbenthall ,
hope you are doing well.
I am just curious how the review process is going on your side.
Not wanna be pushy as I know that this work is voluntary and Covid-19 is not doing any good either...
Since I want to use the code in a manuscript, I'd very much appreciate it if there could be a citable version of the code until then.
Thanks!
Looking forward to any new bugs you find.
Jannis

[2021-02-12 11:55] zemogle commented on #2641
I think the docs should be clearer on this but `astrosource` doesn't do the photometric extraction, it just does the photometric analysis. It really only operates on FITS files which have a photometry table extension. So the inclusion of FITS format is just for data tables not images (see [Basic Usage](https://astrosource.readthedocs.io/en/latest/basic_usage.html#time-series-data) part of the docs

[2021-02-12 11:59] Brnikat commented on #2962
Sorry not to have responded.

For personal reasons I am not going to be able to take on this task.

Paul

On 11/02/2021 18:10, Daniel S. Katz wrote:

[2021-02-12 12:27] themkar commented on #2891
Hi @oliviaguest, I have finished my review and I am appending my comments (minor points) below.
Many thanks.

**comment #1**
_Functionality: Have the functional claims of the software been confirmed?_

I have experimented with LeSIm using the GUI and the Computer Lab document and the three example scripts. I think it achieves the simplicity to which the authors refer to in the statement in need.
T

[2021-02-12 13:04] Swetanshu commented on #2838
@whedon generate pdf

[2021-02-12 13:05] whedon commented on #2838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02838/joss.02838/10.21105.joss.02838.pdf) :page_facing_up: :point_left:

[2021-02-12 13:07] Swetanshu commented on #2838
Once again thank you @mturiansky, @mfherbst and @dpsanders  for your feedback. Apologies for taking this long to get back to you. We have tried to incorporate almost everything that was suggested. Briefly, the workflow has been streamlined and avoids code duplication, and the repository has been restructured for clarity. The wiki pages include installation and contribution instructions, and simple

[2021-02-12 13:18] Kevin-Mattheus-Moerman commented on #2911
@BKillen05 how are you getting on. No pressure but can you remind us when you could pick this up again? Thanks!

[2021-02-12 13:22] modenaxe commented on #2911
@Kevin-Mattheus-Moerman I think Bryce said he's ok with accepting but had issue with the tick boxes

[2021-02-12 13:22] cMadan commented on #2839
@EtienneCmb, no problem, thanks for letting me know!

[2021-02-12 13:26] cMadan commented on #2868
fwiw. The links work correctly in Windows Chrome as well.

[2021-02-12 13:27] Kevin-Mattheus-Moerman commented on #2911
@whedon re-invite @BKillen05 as reviewer

[2021-02-12 13:27] whedon commented on #2911
OK, the reviewer has been re-invited.

@bkillen05 please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-12 13:28] Kevin-Mattheus-Moerman commented on #2911
@BKillen05 apologies I missed that box ticking issue. I think it should be working if you accept this invite again :point_up:

[2021-02-12 13:33] BKillen05 commented on #2911
@Kevin-Mattheus-Moerman Thank you - all should be sorted

[2021-02-12 13:38] Kevin-Mattheus-Moerman commented on #2911
Thanks @BKillen05!

[2021-02-12 13:38] Kevin-Mattheus-Moerman commented on #2911
@whedon generate pdf

[2021-02-12 13:42] whedon commented on #2911
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02911/joss.02911/10.21105.joss.02911.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02911/joss.02911/10.21105.joss.02911.pdf) :page_facing_up: :point_left:

[2021-02-12 14:19] fboehm commented on #2995
@LogIN- thanks for your message. Can you clarify - is the preprint article the same (same title, same text) that is being considered here? Or does it merely have the same title? Thanks again!

[2021-02-12 14:20] fboehm commented on #2743
Hello, @dwinter - when you have a moment, please update us on the review status. Thanks again!

[2021-02-12 14:23] fboehm commented on #3001
Hello, @ziatdinovmax - How is the review going? Please feel free to make comments in this thread. Also, please feel free to "@" mention me. I can try to help with any issues or clarifications.

thanks again!

[2021-02-12 14:54] arfon commented on #2868
@whedon accept deposit=true

[2021-02-12 14:54] whedon commented on #2868
[code]

[2021-02-12 14:57] whedon commented on #2868
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1360241610139836422) 👈 🐦🐦🐦

[2021-02-12 14:57] whedon commented on #2868
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2085
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02868](https://doi.org/10.21105/joss.02868)
2. If everything looks g

[2021-02-12 15:02] arfon commented on #2868
@NMontanaBrown, @justusschock, @lbugnon - many thanks for your reviews here and to @cMadan for editing this submission ✨. JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you!

@charleygros - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-12 15:02] #2868 closed

[2021-02-12 15:02] whedon commented on #2868
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02868/status.svg)](https://doi.org/10.21105/joss.02868)

**We need your help!**

Journal of Open Source Softwa

[2021-02-12 15:03] diehlpk commented on #2939
@whedon remind @corentin-dev iin 2 weeks

[2021-02-12 15:03] whedon commented on #2939
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-12 15:04] diehlpk commented on #2939
@whedon remind @corentin-dev in 2 weeks

[2021-02-12 15:04] whedon commented on #2939
Reminder set for @corentin-dev in 2 weeks

[2021-02-12 15:04] diehlpk commented on #2939
@whedon remind @iammix  in 2 weeks

[2021-02-12 15:04] whedon commented on #2939
@iammix  doesn't seem to be a reviewer or author for this submission.

[2021-02-12 15:10] whedon opened #3034 "[PRE REVIEW]: bleiglas: An R package for interpolation and visualisation of spatiotemporal data with 3D tessellation"
**Submitting author:** @nevrome (<a href="http://orcid.org/0000-0003-3448-5715">Clemens Schmid</a>)
**Repository:** <a href="https://github.com/nevrome/bleiglas" target ="_blank">https://github.com/nevrome/bleiglas</a>
**Version:** v0.1.2
**Editor:** @vissarion
**Reviewers:** @corybrunson , @fabian-s
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-02-12 15:10] whedon commented on #3034
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-12 15:10] whedon opened #3035 "[PRE REVIEW]: Metatheory.jl: Fast and Elegant Algebraic Computation in Julia with Extensible Equality Saturation"
**Submitting author:** @0x0f0f0f (<a href="http://orcid.org/0000-0002-8122-9469">Alessandro Cheli</a>)
**Repository:** <a href="https://github.com/0x0f0f0f/Metatheory.jl" target ="_blank">https://github.com/0x0f0f0f/Metatheory.jl</a>
**Version:** v0.1.0
**Editor:** @dpsanders
**Reviewers:** @mwillsey, @jpfairbanks, philzook58
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :wa

[2021-02-12 15:10] whedon commented on #3035
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-12 15:10] whedon commented on #3034
Failed to discover a `Statement of need` section in paper

[2021-02-12 15:10] whedon commented on #3034
[code]

[2021-02-12 15:10] whedon commented on #3034
[code]

[2021-02-12 15:11] whedon commented on #3035
Failed to discover a `Statement of need` section in paper

[2021-02-12 15:11] whedon commented on #3035
[code]

[2021-02-12 15:11] whedon commented on #3034
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03034/joss.03034/10.21105.joss.03034.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03034/joss.03034/10.21105.joss.03034.pdf) :page_facing_up: :point_left:

[2021-02-12 15:11] diehlpk commented on #2939
@whedon re-invite @iammix as reviewer

[2021-02-12 15:11] whedon commented on #2939
@iammix already has access.

[2021-02-12 15:12] whedon commented on #3035
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03035/joss.03035/10.21105.joss.03035.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03035/joss.03035/10.21105.joss.03035.pdf) :page_facing_up: :point_left:

[2021-02-12 15:12] whedon commented on #3035
[code]

[2021-02-12 15:58] danielskatz commented on #2962
@henrykironde - when you say "it lacks enough community outreach or utility", can you explain?  The software is a bit small in terms of LOC, but is is sufficient for JOSS to review. Is part of your concern the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion?  A little more on what you think the problem is would be helpful

[2021-02-12 16:34] mponce0 commented on #2995
The title is the same but it is quite lengthy. When considering submitting the manuscript to JOSS we thought about it but when checking the structure and recommended format we felt that it wouldn't fit with this format.
Here is a link to the pre-print  https://arxiv.org/abs/2009.01091
We will happy to submit the arXiv version instead if that's OK?

[2021-02-12 16:45] jcohenadad commented on #2868
@NMontanaBrown, @justusschock, @lbugnon: many thanks for your reviews, @cMadan for editing the submission and @arfon for helping with everything. We had an awesome experience publishing with JOSS and we will certainly recommend it around! Keep up the good work! 🙏

[2021-02-12 16:56] alemermartinez commented on #2992
Thanks the reviewers for their constructive comments. If that is okay, we will start to incorporate the suggestions.

Kind regards,

Alejandra

________________________________
De: whedon <notifications@github.com>
Enviado: jueves, 11 de febrero de 2021 06:24
Para: openjournals/joss-reviews <joss-reviews@noreply.github.com>
Cc: Alejandra Martinez <ale_m_martinez@hotmail.com>; Mention <mention@nore

[2021-02-12 17:44] ClaudioZandonella commented on #2810
Dear @cMadan, thanks for your work.

Here the last required information:

- tag version v1.0.0 [https://github.com/ClaudioZandonella/PRDA/releases/tag/v1.0.0](https://github.com/ClaudioZandonella/PRDA/releases/tag/v1.0.0)
- Zenodo DOI [http://doi.org/10.5281/zenodo.4533739](http://doi.org/10.5281/zenodo.4533739)

Let me know if there is something else I can do.
Thanks!

[2021-02-12 17:58] vprusso commented on #3033
Hi Afron,

Thanks again for your quick response.

I've gone ahead and added in a "Statement of Need" section along with the
"doi" information in the BibTeX file for the entries that do possess a
valid doi.

If there is anything else I need to add, please let me know, and thanks
again.

Vincent

On Fri, Feb 12, 2021 at 4:11 AM Arfon Smith <notifications@github.com>
wrote:

[2021-02-12 19:41] mponce0 commented on #2995
Hi @LogIN- , many thanks for your review and encouraging words.
We just wanted to clarify and expand a little bit on our previous comment to @fboehm , we did not submit the original manuscript from arXiv to JOSS as we thought the format and in particular the length of it wouldn't fit the style of JOSS.
In addition to that, we thought of using the JOSS publication as the main point of references to

[2021-02-12 20:10] henrykironde commented on #2962
@danielskatz,
1) The number of commits are 9 and the first one was Jan 8
`As a rule of thumb, JOSS’ minimum allowable contribution should represent not less than three months of work for an individual. Some factors that may be considered by editors and reviewers when judging effort include:`

2) The Software has 19 stars, this is pretty good for the age of the software, however, there is only one

[2021-02-12 20:14] nickwimer commented on #2095
@roshansamuel Still running into compile issues. Below is the current error message:

-- Install folder is /Users/nwimer/Documents/Reviews/saras/compile
-- All headers are in /Users/nwimer/Documents/Reviews/saras/lib
-- Compiler flag for OpenMP is -Xclang -fopenmp -Wno-unused-command-line-argument
-- PLANAR flag not set. Compiling for default 3D run
-- Compiling Saras for 3D simulations
-- Compili

[2021-02-12 20:20] olgadoronina commented on #2095
Hi @roshansamuel, thank you for updating the installation instructions. I was able to install all the packages with just a few changes:
- blitz++
[code]
	Fix: activate conda environment with python2
- MPICH (`./configure --prefix=$HOME/local`)
[code]
	Fix: `export FFLAGS="-w -fallow-argument-mismatch -O2"`

- hdf5 installation
[code]
         Fix: `export CFLAGS=-Wno-error=implicit-function-declar

[2021-02-12 20:23] Hazboun6 commented on #2757
@mbobra we finally heard back from ApJ! The DOI is now part of the paper.

[2021-02-12 20:23] Hazboun6 commented on #2757
@whedon generate pdf

[2021-02-12 20:24] whedon commented on #2757
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02757/joss.02757/10.21105.joss.02757.pdf) :page_facing_up: :point_left:

[2021-02-12 21:11] yarongvili1 commented on #2962
@henrykironde - Thanks for your quick feedback. Here is some additional information that may be helpful:

1. An important goal of LibSWIFFT (and of many, if not all, implementations of SWIFFT) is high-performance compared to existing implementations and alternative cryptographic hash function. LibSWIFFT is indeed competitive in this respect, as described in the README. The size of the code is not

[2021-02-12 21:48] mbobra commented on #2757
@whedon set 10.5281/zenodo.4521235 as doi

[2021-02-12 21:48] whedon commented on #2757
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-12 21:48] mbobra commented on #2757
@whedon set 10.5281/zenodo.4521235 as archive

[2021-02-12 21:48] whedon commented on #2757
OK. <a href="https://doi.org/10.5281/zenodo.4521235" target="_blank">10.5281/zenodo.4521235</a> is the archive.

[2021-02-12 21:49] mbobra commented on #2757
@whedon set v1.0.1 as version

[2021-02-12 21:49] whedon commented on #2757
OK. v1.0.1 is the version.

[2021-02-12 21:56] mbobra commented on #2757
@Hazboun6 Congrats!!! All we have to do now is wait for the ApJ paper to be published. Then we can publish this one (which takes just a few minutes). Can you keep us up to date about when the ApJ paper is published?

@openjournals/joss-eics This paper, which is a AAS companion paper, is ready to publish.

[2021-02-12 22:13] 0x0f0f0f commented on #3035
@whedon generate pdf

[2021-02-12 22:14] whedon commented on #3035
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03035/joss.03035/10.21105.joss.03035.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03035/joss.03035/10.21105.joss.03035.pdf) :page_facing_up: :point_left:

[2021-02-13 00:18] kbarnhart commented on #2965
@amanaster2 no worries. We are only 4 weeks into the preferred 6 week window. Thanks again for contributing a review, and for testing the ArcGIS components of this submission.

[2021-02-13 06:19] mjsottile commented on #2981
@whedon assign @tjasaki as reviewer

[2021-02-13 06:19] whedon commented on #2981
OK, @tjasaki is now a reviewer

[2021-02-13 06:23] mjsottile commented on #2981
:wave: @NMontanaBrown Would you be interested in providing a review for this JOSS submission?  It appears to be in the vicinity of your areas of expertise.

[2021-02-13 08:46] 0x0f0f0f commented on #3035
@whedon commands

[2021-02-13 08:46] whedon commented on #3035
Here are some things you can ask me to do:

[code]

[2021-02-13 09:12] whedon opened #3036 "[PRE REVIEW]: OpenQuestion: A survey building platform written in Python"
**Submitting author:** @Alcampopiano (<a href="http://orcid.org/0000-0002-3280-4447">Allan Campopiano</a>)
**Repository:** <a href="https://github.com/Alcampopiano/OpenQuestion" target ="_blank">https://github.com/Alcampopiano/OpenQuestion</a>
**Version:** 0.0.9
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-02-13 09:12] whedon commented on #3036
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-13 09:13] whedon opened #3037 "[PRE REVIEW]: Nyx: A Massively Parallel AMR Code for Computational Cosmology"
**Submitting author:** @jmsexton03 (<a href="http://orcid.org/0000-0003-2551-1678">Jean M. Sexton</a>)
**Repository:** <a href="https://github.com/AMReX-Astro/Nyx" target ="_blank">https://github.com/AMReX-Astro/Nyx</a>
**Version:** 21.02.1
**Editor:** @dfm
**Reviewers:** @c-white, @bwoshea
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2021-02-13 09:13] whedon commented on #3037
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-13 09:13] whedon commented on #3036
[code]

[2021-02-13 09:13] whedon commented on #3036
[code]

[2021-02-13 09:13] whedon commented on #3036
PDF failed to compile for issue #3036 with the following error:

 Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x)
Invalid ORDIC digit (x

[2021-02-13 09:14] whedon commented on #3037
[code]

[2021-02-13 09:14] whedon commented on #3037
[code]

[2021-02-13 09:14] whedon commented on #3037
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03037/joss.03037/10.21105.joss.03037.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03037/joss.03037/10.21105.joss.03037.pdf) :page_facing_up: :point_left:

[2021-02-13 11:03] Jammy2211 commented on #2825
Looking back, we made a bit of a hash of our tagging. I pushed tags for some recent releases, but don't have a backlog to recover old versions.

We are now in the process of doing a major overhaul of versioning / builds, including an automated nightly release pipeline which will link tagging to GitHub commits (https://github.com/jonathanfrawley/PyAutoLens/tree/feature/release-process). This should

[2021-02-13 11:49] 0x0f0f0f commented on #3035
Fixing DOIs. Anyways, here is a non-exhaustive list of potential reviewers:

- dpsanders
- ChrisRackauckas
- vchuravy
- dmbates
- ahwillia
- ninjin
- ayushpatnaikgit
- dglmoore
- avik-pal
- pitsianis
- henrik227

[2021-02-13 11:53] 0x0f0f0f commented on #3035
@whedon generate pdf

[2021-02-13 11:54] 0x0f0f0f commented on #3035
@whedon check references

[2021-02-13 11:54] whedon commented on #3035
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03035/joss.03035/10.21105.joss.03035.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03035/joss.03035/10.21105.joss.03035.pdf) :page_facing_up: :point_left:

[2021-02-13 11:55] whedon commented on #3035
[code]

[2021-02-13 13:47] giswqs commented on #2965
@amanaster2 I will make a video tutorial for using the ArcGIS toolbox. Hopefully, it will make your review much easier. Thanks.

[2021-02-13 14:18] richardjgowers commented on #2824
@whedon generate pdf

[2021-02-13 14:20] whedon commented on #2824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02824/joss.02824/10.21105.joss.02824.pdf) :page_facing_up: :point_left:

[2021-02-13 14:24] richardjgowers commented on #3011
Hello @rmeli @thesketh @sulstice .  Would any/all of you be available to review this? Thanks

[2021-02-13 14:26] richardjgowers commented on #2824
@symmy596 not sure if you forgot to push up the changes but I'm not seeing the changes made in the repo

[2021-02-13 14:31] Alcampopiano commented on #3036
@whedon generate pdf

[2021-02-13 14:32] whedon commented on #3036
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03036/joss.03036/10.21105.joss.03036.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03036/joss.03036/10.21105.joss.03036.pdf) :page_facing_up: :point_left:

[2021-02-13 14:35] Alcampopiano commented on #3036
Hello and thank you for your consideration.

Here is a list of potential reviewers:

humanfactors
mbod
Andytwoods

[2021-02-13 15:00] RMeli commented on #3011
@richardjgowers Yes, I'd be happy to review.

[2021-02-13 15:32] arfon commented on #3017
@whedon invite @arokem as editor

:wave: @arokem - I realize you're looking to keep your editorial load light right now but given that your other paper is close to wrapping up, would you be willing to take this one on as your next?

[2021-02-13 15:32] whedon commented on #3017
@arokem has been invited to edit this submission.

[2021-02-13 15:40] arfon commented on #2733
:wave: @trstewart212 , @fgeertman, @drvinceknight. Just checking in on how things are going here?

[2021-02-13 15:43] arfon commented on #3034
@whedon query scope

@nevrome - because of the relatively small size of this package I'm going to flag it for editorial review.

[2021-02-13 15:43] whedon commented on #3034
Submission flagged for editorial review.

[2021-02-13 15:57] arfon commented on #2757
@Hazboun6 - can you tell me the title of your AAS paper?

[2021-02-13 16:36] NMontanaBrown commented on #2981
Hi @mjsottile, indeed it is. I can provide a review.

[2021-02-13 17:44] Hazboun6 commented on #2757
@arfon Yep! It is "A Study in Frequency-dependent Effects on Precision Pulsar Timing Parameters with the Pulsar Signal Simulator"

[2021-02-13 17:47] arokem commented on #3017
Yeah. I can take this on.

[2021-02-13 17:47] arokem commented on #3017
@whedon assign arokem as editor

[2021-02-13 17:47] whedon commented on #3017
OK, the editor is @arokem

[2021-02-13 17:50] arokem commented on #3017
Hello @maxpumperla. Thank you for this submission. Could you please say a little bit about the anticipated research uses of this software? I am not sure that this falls within our [definition of research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software)

[2021-02-13 17:51] arokem commented on #3017
@whedon query scope

[2021-02-13 17:51] whedon commented on #3017
Submission flagged for editorial review.

[2021-02-13 17:58] roshansamuel commented on #2095
Hi @olgadoronina, thank you very much for suggesting the fixes for installing different libraries. I will add them to the installation instructions.

According to the output you have posted, the executable seems to have been built. You can execute it with mpirun and it will run, although it will not use OpenMP as it seems to not have detected it. Is `libomp-dev` installed on your system? I didn't

[2021-02-13 18:06] roshansamuel commented on #2095
Hi @nickwimer. From the error message, it looks like the issue is with OpenMP. When I tested the installation on 2 machines, (Ubuntu and Mac), I had skipped installation of OpenMP since the solver still ran on those systems without it. Can you please let me know if OpenMP is installed on your system? I will update the installation instructions to include OpenMP libraries in the meantime.

[2021-02-13 19:36] molgor commented on #2975
Thank you very much Katy.

Sorry for answering so late.

Best,

Juan

[2021-02-13 19:58] amanaster2 commented on #2965
@kbarnhart Absolutely---happy to do it!

@giswqs That will be excellent. Thank you!

[2021-02-13 20:09] fboehm commented on #2995
Yes, that's right, @mponce0 . The purpose of JOSS is to publish the software and, typically, we prefer short articles that discuss the software.

@LogIN- I think it would be ok, and, possibly helpful, to maintain the citation to the preprint, especially considering that it's not the same as the manuscript that accompanies the software submission to JOSS. I agree, @LogIN-, with you encouraging the

[2021-02-13 21:07] Sulstice commented on #3011
@richardjgowers Yep, I would be down to review!

[2021-02-13 21:23] mjsottile commented on #2981
@whedon add @NMontanaBrown as reviewer

[2021-02-13 21:23] whedon commented on #2981
OK, @NMontanaBrown is now a reviewer

[2021-02-13 21:24] mjsottile commented on #2981
@whedon start review

[2021-02-13 21:24] whedon opened #3038 "[REVIEW]: CLAIRE: Constrained Large Deformation Diffeomorphic Image Registration on Parallel Computing Architectures"
**Submitting author:** @andreasmang (<a href="http://orcid.org/0000-0003-4605-3290">Andreas Mang</a>)
**Repository:** <a href="https://github.com/andreasmang/claire" target ="_blank">https://github.com/andreasmang/claire</a>
**Version:** v0.08
**Editor:** @mjsottile
**Reviewers:** @tjasaki
**Archive:** <a href="https://doi.org/10.5281/zenodo.4837427" target="_blank">10.5281/zenodo.4837427</a>

**:

[2021-02-13 21:24] whedon commented on #2981
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3038.

[2021-02-13 21:24] #2981 closed

[2021-02-13 21:24] whedon commented on #3038
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tjasaki, @NMontanaBrown it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-02-13 21:25] whedon commented on #3038
[code]

[2021-02-13 21:26] whedon commented on #3038
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03038/joss.03038/10.21105.joss.03038.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03038/joss.03038/10.21105.joss.03038.pdf) :page_facing_up: :point_left:

[2021-02-13 21:27] whedon commented on #3038
[code]

[2021-02-13 21:30] mjsottile commented on #3038
Hi @andreasmang - while the reviewers start working through their checklists, can you address the missing DOIs in the references?

[2021-02-13 22:22] andreasmang commented on #3038
@mjsottile: Thanks. I have added DOIs to all articles for which they exist to the bib file. Changes have been pushed to the repo. Let me know if there are any issues...

[2021-02-13 22:39] arfon commented on #2757
:+1: thanks. And do you by any chance know the AAS submission ID? (I'm assuming you don't know the DOI yet)

[2021-02-14 01:27] Hazboun6 commented on #2757
The DOI is `10.3847/1538-4357/abdc29` The alphanumeric past the last slash is the AAS submission ID as well. And I've put the DOI into the `paper.md` in the appropriate spot.

[2021-02-14 02:02] mponce0 commented on #2995
I'm certainly more inclined to keep the JOSS paper short, we are already at 5 pages (a bit above 3 without including references).
We will change the title of the pre-print to reflect that arXiv article is the "User's Manual and Examples of Applications" and the JOSS paper as the main reference of the package.

@fboehm  There are two main issues with adding the description for the functions:
 1) it

[2021-02-14 06:46] maxpumperla commented on #3017
Hi @arokem, thanks for taking a first look. We read through your documentation, of course, and were fairly sure that making object detection and recognition more accessible is `solve[ing] complex modeling problems in a scientific context (engineering, ML)`, especially when comparing to other submissions (e.g. LOC and scope).

Specifically, it not easy to get your hands on one-shot detectors and ev

[2021-02-14 09:03] arfon commented on #2757
@mbobra - as I think we have the AAS DOI now, we can go ahead and accept and publish here too.

[2021-02-14 09:03] arfon commented on #2757
@whedon accept

[2021-02-14 09:03] whedon commented on #2757
[code]

[2021-02-14 09:04] whedon commented on #2757
[code]

[2021-02-14 09:04] whedon commented on #2757
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2086

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2086, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-14 09:07] arfon commented on #2757
@whedon accept deposit=true

[2021-02-14 09:07] whedon commented on #2757
[code]

[2021-02-14 09:08] whedon commented on #2757
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1360878655367503873) 👈 🐦🐦🐦

[2021-02-14 09:08] whedon commented on #2757
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2087
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02757](https://doi.org/10.21105/joss.02757)
2. If everything looks g

[2021-02-14 09:45] JanCBrammer commented on #2977
@AJQuinn, I suggested a few small manuscript edits over at #AJQuinn/emd-mirror/pull/1. I enjoyed reading the paper. Helpful figures! Will dive into the package and docs in the coming days.

[2021-02-14 13:08] ayush-1506 commented on #2972
@gkthiruvathukal Adding some names to {kuangmeng, marcoapintoo} (mentioned above): {mdpiper, markbasham, johnsamuelwrites}. Kindle let me know if you'd like more suggestions.

[2021-02-14 13:26] arfon commented on #2757
@JBorrow, @arjunsavel - many thanks for your reviews here and to @mbobra for editing this submission ✨. JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you!

@Hazboun6 - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-14 13:26] #2757 closed

[2021-02-14 13:26] whedon commented on #2757
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02757/status.svg)](https://doi.org/10.21105/joss.02757)

**We need your help!**

Journal of Open Source Softwa

[2021-02-14 13:28] arfon commented on #2409
@lydialucchesi - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2021-02-14 13:30] arfon commented on #2446
:wave: @lockepatton - how are you getting on with your changes?

[2021-02-14 14:04] whedon commented on #3000
:wave: @RobertRosca, please update us on how your review is going.

[2021-02-14 14:04] whedon commented on #3000
:wave: @khanx169, please update us on how your review is going.

[2021-02-14 14:25] JanCBrammer commented on #2977
Below is a list of observations from my review (in progress). I labeled those points that ideally should be addressed before publication with *TODO*. Everything else are merely suggestions or remarks. I'll let you know once I've concluded the review.

### General
* beautiful tutorials that can be conveniently run in Binder environment.
* adding some high-level plotting functions to `plotting.py` m

[2021-02-14 14:33] symmy596 commented on #2824
@richardjgowers
I think I need more clarification on your comments.
Q. the references to DL_ANALYSER and Chemfiles probably want to go up to the other references of existing packages.
A. I thought this referred to the references for different packages under the statement of need ad hence "There are a number of codes designed to analyse molecular dynamics trajectories that currently exist. MDAnalys

[2021-02-14 16:00] gkthiruvathukal commented on #2972
@ayush-1506 I will get moving on this shortly. Thanks for your suggestions and patiences!

[2021-02-14 16:06] gkthiruvathukal commented on #2972
@kuangmeng Are you willing to contribute a review for this JOSS submission?

[2021-02-14 16:24] mponce0 commented on #2995
WRT this last point about the functionality of the package, we went back to the manuscript and try to add a few more sentences detailing some of the functionalities at a very "high" level (end of the "Functionalities and Main Features" section).

Please let us know what do you think.

[2021-02-14 16:24] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-02-14 16:24] whedon commented on #2995
[code]

[2021-02-14 16:26] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-02-14 18:06] js2264 commented on #3009
@henrykironde Let me know if there is anything related to the paper I can do (I can try to shorten it if the length is an issue).
@fgeier sorry to bother with that, any chance I could have an update on the review on your end? Do you have an idea of when you'll be able to start working on it? Thanks!

[2021-02-14 18:53] briandesilva commented on #2828
@whedon generate pdf

[2021-02-14 18:53] AngryMaciek commented on #3019
Dear @melissawm,

Thank you for accepting the editor's position here.

I do not have anyone specific for the reviewers in my mind but I would suggest one mathematician to double-check the algebra and one C++ expert to double-check the template programming and code structure.

Kind Regards,
Maciek

[2021-02-14 18:53] whedon commented on #2828
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02828/joss.02828/10.21105.joss.02828.pdf) :page_facing_up: :point_left:

[2021-02-14 18:57] briandesilva commented on #2828
@jordanperr, I've done another pass over the math symbols, adding more detail where necessary. Thanks for the suggestion, and please let me know if you think there is anything in the paper that needs to be clarified further.

@pdebuyl, I've addressed the issues you raised and registered PySensors with Zenodo. The DOI is 10.5281/zenodo.4312270 and the archived version is v0.3.2.

[2021-02-14 21:23] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-02-14 21:23] whedon commented on #2995
[code]

[2021-02-14 21:26] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-02-15 03:50] rdeits commented on #2942
Sure, I can help out. I've done lots of scientific paper reviews in grad school, but never anything as software-focused as this, so I'm not totally sure what's expected. Do you have any info about what you're expecting from a JOSS reviewer?

[2021-02-15 04:55] poulson commented on #3008
@whedon add @felipeZ as reviewer

[2021-02-15 04:55] whedon commented on #3008
OK, @felipeZ is now a reviewer

[2021-02-15 04:55] poulson commented on #3008
@whedon add @lorenzo-rovigatti as reviewer

[2021-02-15 04:55] whedon commented on #3008
OK, @lorenzo-rovigatti is now a reviewer

[2021-02-15 04:55] poulson commented on #3008
@whedon start review

[2021-02-15 04:55] whedon opened #3039 "[REVIEW]: libecpint: A C++ library for the eﬀicient evaluation of integrals over effective core potentials"
**Submitting author:** @robashaw (<a href="http://orcid.org/0000-0002-9977-0835">Robert A. Shaw</a>)
**Repository:** <a href="https://github.com/robashaw/libecpint" target ="_blank">https://github.com/robashaw/libecpint</a>
**Version:** v1.0.4
**Editor:** @poulson
**Reviewer:** @felipeZ, @lorenzo-rovigatti
**Archive:** <a href="https://doi.org/10.5281/zenodo.4694353" target="_blank">10.5281/zenodo

[2021-02-15 04:55] whedon commented on #3008
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3039.

[2021-02-15 04:55] #3008 closed

[2021-02-15 04:56] whedon commented on #3039
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @felipeZ, @lorenzo-rovigatti it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-02-15 04:56] whedon commented on #3039
PDF failed to compile for issue #3039 with the following error:

 Can't find any papers to compile :-(

[2021-02-15 04:56] whedon commented on #3039
[code]

[2021-02-15 07:40] csoneson commented on #2440
@neuromusic - please keep us updated on the progress here, and provide a more precise timeline that you can commit to for addressing the few outstanding items. I'm aware that these are trying times for many of us. However, to respect the reviewers' commitment, I want to make sure that the submissions are actively worked on. If this is not possible at the moment, as mentioned last year, I would sug

[2021-02-15 07:48] ziatdinovmax commented on #3001
@fboehm My apologies for the delay on my end. I will add my comments shortly.

[2021-02-15 08:00] NMontanaBrown commented on #3038
Hi team, I've started review with two specific issues.

[Unit tests](https://github.com/andreasmang/claire/issues/4)
[Contributing Guidelines](https://github.com/andreasmang/claire/issues/5)

[2021-02-15 08:38] Narayana-Rao commented on #2970
Dear @hugoledoux and @HenrikJanPersson,

Thank you very much for your constructive comments. Please find the attached document for a detailed response to your comments.

[Response_to_review_comments_2970.pdf](https://github.com/openjournals/joss-reviews/files/5980352/Response_to_review_comments_2970.pdf)

[2021-02-15 09:22] mllg commented on #3010
Both done in https://github.com/bommert/stabm/commit/9bad1c8a2a72884fe34ccd21fb90baa69053aa74.

[2021-02-15 09:34] oliviaguest commented on #2891
@themkar I don't know if you want/need to try again with the image you tried to attach as I cannot see it..?

[2021-02-15 10:39] JanCBrammer commented on #2977
I concluded my review and would be happy to see @AJQuinn's paper on the `emd` package published in JOSS. The paper is well written and the package is of high quality (excellent documentation, automated tests and package management, good coding practices). I explored `emd` using time series containing cardiac physiology ([inter-beat-intervals](https://en.wikipedia.org/wiki/Interbeat_interval)) and

[2021-02-15 10:48] Kevin-Mattheus-Moerman commented on #3037
@whedon invite @eloisabentivegna as editor

[2021-02-15 10:48] whedon commented on #3037
@eloisabentivegna has been invited to edit this submission.

[2021-02-15 10:49] Kevin-Mattheus-Moerman commented on #3037
@eloisabentivegna I realize you are handling quite a few submissions already! This submission does seem like your cup of tea but if you cannot handle it I understand.

[2021-02-15 10:51] Kevin-Mattheus-Moerman commented on #3037
Alternatively @dfm @xuanxu are you able to edit this work? Thanks

[2021-02-15 11:16] xuanxu commented on #3037
@Kevin-Mattheus-Moerman right now I don't have enough time to take another one, sorry.

[2021-02-15 11:45] robashaw commented on #3039
@whedon generate pdf from branch joss

[2021-02-15 11:45] whedon commented on #3039
[code]

[2021-02-15 11:46] whedon commented on #3039
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03039/joss.03039/10.21105.joss.03039.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03039/joss.03039/10.21105.joss.03039.pdf) :page_facing_up: :point_left:

[2021-02-15 11:46] markusrobertjonsson commented on #2891
@themkar Thank you for reviewing! Below are my responses to your comments.

**comment #1**
The warning is a deprecated-syntax-warning. I have edited the script to use the updated syntax, so that the warning does not appear in that script anymore.

Additional text-processing functionalities are planned (see e.g. https://github.com/markusrobertjonsson/learningsimulator/issues/6), but since it is pos

[2021-02-15 12:03] liberostelios commented on #2970
The paper is well written and quite concise. As a non-expert in the SAR processing field I can't state much about this aspect, although as a GIS user and developer I wonder to which extend there is an overlap between this tool and GRASS (whose processing toolkit can be used from inside QGIS). Do you think it would be useful to provide a simple statement about how GRASS can deal with SAR and how yo

[2021-02-15 12:20] felipeZ commented on #3039
Dear Robert (@robashaw), I think that you library is a much needed contribution for the development of open source software on computational chemistry. I also think that the API is straightforward and the documentation is pretty clear.
If you agree, I will open some issues in the [libecpint repository](https://github.com/robashaw/libecpint) that I will link back here to discuss several topics abou

[2021-02-15 12:32] robashaw commented on #3039
Of course @felipeZ, thanks for taking the time to review.

[2021-02-15 12:43] csoneson commented on #3009
👋 @js2264 - please keep in mind that it is only just over a week since this review was opened :) I can also see that @fgeier has indeed started filling the checklist above.
As for the length of the paper, I'd say it's ok.

[2021-02-15 13:54] jmsexton03 commented on #3037
I was asked to suggest people without tagging them: Alice Harpolea (harpolea) or Erik Schnetter (eschnett)

[2021-02-15 14:16] danielskatz commented on #2962
Thanks to @henrykironde and @yarongvili1 for this discussion. Overall, the JOSS editors have accepted this for review, so we do want to review it. An outcome of the review could be that the work is not ready to be published, because it doesn't meet the [substantial scholarly effort critereon](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), but that's not yet cl

[2021-02-15 14:17] danielskatz commented on #2962
@henrykironde - if you are willing to review it against the JOSS criteria in a couple of weeks, that would be great, but if not, I'll continue trying to find another reviewer. Please let me know which you prefer.

[2021-02-15 14:18] danielskatz commented on #2962
@jarrah42 - sorry, I just saw your message.  Thanks very much!!

I'm going to add you as a reviewer, and start the review.

@henrykironde - if you want to be involved, I can add you as a third reviewer, but if not, that's ok too.

[2021-02-15 14:19] danielskatz commented on #2962
@whedon add @jarrah42 as reviewer

[2021-02-15 14:19] whedon commented on #2962
OK, @jarrah42 is now a reviewer

[2021-02-15 14:19] danielskatz commented on #2962
@whedon start review

[2021-02-15 14:19] whedon opened #3040 "[REVIEW]: LibSWIFFT - A fast C/C++ Library for the SWIFFT Secure Homomorphic Hash Function"
**Submitting author:** @yarongvili1 (<a href="http://orcid.org/0000-0002-2221-3598">Yaron Gvili</a>)
**Repository:** <a href="https://github.com/gvilitechltd/LibSWIFFT" target ="_blank">https://github.com/gvilitechltd/LibSWIFFT</a>
**Version:** v1.1.1
**Editor:** @danielskatz
**Reviewers:** @gcdeshpande, @jarrah42, @henrykironde
**Archive:** <a href="https://doi.org/10.5281/zenodo.4678576" target=

[2021-02-15 14:19] whedon commented on #2962
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3040.

[2021-02-15 14:19] #2962 closed

[2021-02-15 14:19] whedon commented on #3040
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gcdeshpande, @jarrah42 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-02-15 14:19] whedon commented on #3040
[code]

[2021-02-15 14:19] whedon commented on #3040
PDF failed to compile for issue #3040 with the following error:

 Can't find any papers to compile :-(

[2021-02-15 14:21] danielskatz commented on #3040
@whedon generate pdf from branch joss-paper

[2021-02-15 14:21] whedon commented on #3040
[code]

[2021-02-15 14:21] whedon commented on #3040
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03040/joss.03040/10.21105.joss.03040.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03040/joss.03040/10.21105.joss.03040.pdf) :page_facing_up: :point_left:

[2021-02-15 14:22] danielskatz commented on #3040
@whedon check references from branch joss-paper

[2021-02-15 14:22] whedon commented on #3040
[code]

[2021-02-15 14:23] whedon commented on #3040
[code]

[2021-02-15 14:23] danielskatz commented on #3040
@gcdeshpande and @jarrah42 - Thanks for agreeing to review this submission.

This is the review thread for the paper. All of our communications will happen here from now on.
Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines

[2021-02-15 14:27] dhhagan commented on #2781
Hey @aaronspring can you ping me as well when that's finished and I can then finalize this paper? Thanks!

[2021-02-15 14:31] dhhagan commented on #2890
@whedon list reviewers

[2021-02-15 14:31] whedon commented on #2890
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-02-15 14:34] dhhagan commented on #2890
:wave:  Hi there, @rmflight @pboesu @molgor @ethanwhite @jhollist: do one of you have the time and interest to review this paper?

[2021-02-15 14:48] aaronspring commented on #2781
yep. I will

[2021-02-15 15:02] rmflight commented on #2890
Sorry @dhhagan , I don't think I have time to do this review.

[2021-02-15 15:07] oliviaguest commented on #2863
@dmey @mnarayan please (maybe when you go through them, but sooner over later) link to each issue that is opened in the software repo from here, so we can keep track of the required changes and comments.

[2021-02-15 15:10] oliviaguest commented on #2891
@markusrobertjonsson I think, if no other edits are obvious to you, we can continue with this without @jkbye (unless @jkbye you have time to take look within the next few days?), as I think he is very busy and might not have the time to check this out (totally understandable given pandemic).

[2021-02-15 15:17] oliviaguest commented on #2953
@whedon add @rMassimiliano as reviewer

[2021-02-15 15:18] whedon commented on #2953
OK, @rMassimiliano is now a reviewer

[2021-02-15 15:18] oliviaguest commented on #2953
@whedon start review

[2021-02-15 15:18] whedon opened #3041 "[REVIEW]: splithalf: robust estimates of split half reliability"
**Submitting author:** @sdparsons (<a href="http://orcid.org/0000-0002-7048-4093">Sam Parsons</a>)
**Repository:** <a href="https://github.com/sdparsons/splithalf/" target ="_blank">https://github.com/sdparsons/splithalf/</a>
**Version:** v0.8.1
**Editor:** @oliviaguest
**Reviewer:** @jpsnijder, @Nathaniel-Haines, @rMassimiliano
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.11956746.v5

[2021-02-15 15:18] whedon commented on #2953
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3041.

[2021-02-15 15:18] #2953 closed

[2021-02-15 15:18] whedon commented on #3041
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jpsnijder, @Nathaniel-Haines, @rMassimiliano it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in

[2021-02-15 15:18] whedon commented on #3041
[code]

[2021-02-15 15:19] whedon commented on #3041
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03041/joss.03041/10.21105.joss.03041.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03041/joss.03041/10.21105.joss.03041.pdf) :page_facing_up: :point_left:

[2021-02-15 15:19] oliviaguest commented on #2953
Hi All! @sdparsons, @jpsnijder, @Nathaniel-Haines, @rMassimiliano please head on over to #3041! 🥳

[2021-02-15 15:19] whedon commented on #3041
[code]

[2021-02-15 15:23] oliviaguest commented on #3041
Hi all! 👋 Thank you so much, @jpsnijder, @Nathaniel-Haines, @rMassimiliano for accepting to review this. Please read the instructions above. If you have trouble ticking things off in the list above, remember you need to click to "accept" here: https://github.com/openjournals/joss-reviews/invitations! Any questions, feedback on the paper, etc., please post here. Any very code-specific questions, su

[2021-02-15 16:33] EtienneCmb commented on #2977
Same here, I tested `emd` on the examples such as on neural data and everything worked as expected. Overall, I also agree that the examples written in a tutorial fashion are really clear.

From my side, all lights are green for publishing in JOSS as soon as @AJQuinn has addressed my few comments about the examples.

[2021-02-15 16:37] olgadoronina commented on #2095
Hi @roshansamuel, yes, the executable was built, but the test failed. See the output below. It seems like it can't run without OpenMP. I have libomp installed through homebrew, I'm not sure why `find_package (OpenMP)` doesn't return anything. Do I need to install something else?

-- The C compiler identification is Clang 12.0.0
-- The CXX compiler identification is Clang 12.0.0
-- Check for workin

[2021-02-15 16:39] oliviaguest commented on #2923
@vigji we're still in the pre-review. However, if you have already started, I'll go ahead and start the review and then invite any other reviewers from there. When I start the review, please link to any new issues in the software from the review issue, so I and others can keep track of them, please.

[2021-02-15 16:39] oliviaguest commented on #2923
@whedon start review

[2021-02-15 16:39] whedon opened #3042 "[REVIEW]: fastPLI: A Fiber Architecture Simulation Toolbox for 3D-PLI"
**Submitting author:** @fmatuschke (<a href="http://orcid.org/0000-0001-6435-5351">Felix Matuschke</a>)
**Repository:** <a href="https://github.com/3d-pli/fastpli" target ="_blank">https://github.com/3d-pli/fastpli</a>
**Version:** 1.1.0
**Editor:** @oliviaguest
**Reviewers:** @vigji, @glyg, @RealPolitiX
**Archive:** <a href="https://doi.org/10.5281/zenodo.4720075" target="_blank">10.5281/zenodo.4

[2021-02-15 16:39] whedon commented on #2923
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3042.

[2021-02-15 16:39] #2923 closed

[2021-02-15 16:39] whedon commented on #3042
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vigji it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theo

[2021-02-15 16:40] whedon commented on #3042
[code]

[2021-02-15 16:40] whedon commented on #3042
[code]

[2021-02-15 16:40] themkar commented on #2891
@oliviaguest is it visible now?

thanks @markusrobertjonsson for addressing my comments. Looking forward to using this software!

[2021-02-15 16:40] oliviaguest commented on #2923
@fmatuschke and @vigji please move to #3042 and take a look at all the relevant information there! 😊

[2021-02-15 16:41] whedon commented on #3042
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03042/joss.03042/10.21105.joss.03042.pdf) :page_facing_up: :point_left:

[2021-02-15 16:42] oliviaguest commented on #2891
@themkar yes, thank you! 🌼

[2021-02-15 16:43] oliviaguest commented on #3042
Thank you so much, @vigji for accepting to review this. I want to find at least one more reviewer, but since you started reviewing already, please feel free to indeed get started.

Please read the instructions above. If you have trouble ticking things off in the list above, remember you need to click to "accept" here: https://github.com/openjournals/joss-reviews/invitations! Any questions, feedbac

[2021-02-15 16:44] giswqs commented on #2965
@amanaster2 I just posted the first video tutorial for using the ArcGIS toolbox. More to come.

https://lidar.gishub.org/get-started/#arcgis-toolbox

[2021-02-15 16:56] dfm commented on #3037
@whedon assign me as editor

I'm happy to edit!

[2021-02-15 16:56] whedon commented on #3037
OK, the editor is @dfm

[2021-02-15 17:18] whedon commented on #3001
:wave: @ziatdinovmax, please update us on how your review is going.

[2021-02-15 17:18] whedon commented on #3001
:wave: @mattpitkin, please update us on how your review is going.

[2021-02-15 17:26] mattpitkin commented on #3001
@whedon @fboehm I'm just waiting on @JohannesBuchner to address my above minor comments on the paper and then I can sign-off the review.

[2021-02-15 17:26] whedon commented on #3001
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-15 17:33] neurofractal commented on #2977
Hi all.. Should be able to look at this over the next week or so. Excited to try some EMD on MEG data.

[2021-02-15 17:47] bommert commented on #3010
We have extended the vignette with a feature selection and a clustering example. The extended vignette has been merged into the master.

[2021-02-15 17:52] clauswilke commented on #3010
Thanks for making the requested changes. I have no further comments.

[2021-02-15 18:08] zonca commented on #2825
@Jammy2211 good job! @xuanxu I think it is ready to be published

[2021-02-15 18:12] xuanxu commented on #2825
@zonca great, thanks!

@aureliocarnero: There is an uncheck item in your review, do you have any pending issue? do you also recommend the paper for publication?

[2021-02-15 18:12] pibion commented on #2694
@wesleyburr @sigven @jspaezp apologies for my long silence - I didn't realize how much time I needed off over the holidays.

I'm finally back online and wanted to check in to see what the current status of the paper is.  @wesleyburr are you currently working on responding to comments?

[2021-02-15 18:13] xuanxu commented on #2825
@whedon generate pdf

[2021-02-15 18:13] pibion commented on #2764
@mfeldt apologies for the incredibly long silence.  None of the folks I contacted a few months ago had time.  I've started reaching out again now that the holidays and the new semester have settled.

[2021-02-15 18:15] pibion commented on #2484
@dghoshal-lbl apologies for my long silence - I didn't realize how much time I needed off over the holidays.

I'm finally back online and am working on identifying reviewers, I think that this might go faster now that the holidays have settled.

[2021-02-15 18:17] mnarayan commented on #2863
@oliviaguest I've updated my review above with links to the issues.

[2021-02-15 18:19] wesleyburr commented on #2694
Correct: we're working through the issues raised by the first review. Going to start tackling the second review this week.

[2021-02-15 18:34] whedon commented on #2825
PDF failed to compile for issue #2825 with the following error:

[2021-02-15 19:26] janfreyberg commented on #3024
@richford can you please add citations & references for the group_lasso and Lightning packages in the paper? Thanks!

[2021-02-15 19:26] molgor commented on #2890
Hi David,
I’m reviewing  a (JOSS) paper at the moment. I may have time in two weeks, if you haven’t found reviewers by then.

Cheers,

Juan

[2021-02-15 19:49] Alcampopiano commented on #3036
@whedon generate pdf

[2021-02-15 19:49] whedon commented on #3036
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03036/joss.03036/10.21105.joss.03036.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03036/joss.03036/10.21105.joss.03036.pdf) :page_facing_up: :point_left:

[2021-02-15 20:21] pboesu commented on #2890
@dhhagan I'm unavailable until the end of March, I'm afraid.

[2021-02-15 20:53] pdebuyl commented on #2828
Hi @briandesilva the doi for your archive is incorrect, it points to pysindy and not to PySensors

[2021-02-15 21:49] richford commented on #3024
@janfreyberg, sure thing. I added that in the above referenced PR. Thanks!

[2021-02-15 21:52] Alcampopiano commented on #3036
@whedon generate pdf

[2021-02-15 21:52] whedon commented on #3036
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03036/joss.03036/10.21105.joss.03036.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03036/joss.03036/10.21105.joss.03036.pdf) :page_facing_up: :point_left:

[2021-02-15 21:58] markusrobertjonsson commented on #2891
@oliviaguest I have no other edits to make at this point. I very much appreciate the reviewer's comments.

[2021-02-15 22:31] melissawm commented on #3019
Hello, @AngryMaciek! Before we start, I'd like to suggest some minor changes to the paper:

- It would be nice to add the name of your software package in the title of your paper, and remove "The following repository.." As much as this is about a software repository, people reading your software paper may need a bit more context :)
- For the references [Hořeňovský,  M. (2018)], [The Boost Organiza

[2021-02-15 22:47] wvanzeist commented on #2968
@whedon generate pdf

[2021-02-15 22:47] whedon commented on #2968
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: :point_left:

[2021-02-15 22:59] lorenzo-rovigatti commented on #3039
Hi Robert (@robashaw), thanks a lot for your contribution. The libecpint library looks neat!
I'll also be opening a few issues in the [libecpint repo](https://github.com/robashaw/libecpint) in the next days to discuss some of the aspects that may need improvement.

[2021-02-15 23:08] JohannesBuchner commented on #2984
Here are some highly qualified people who know X-rays and statistics and software packaging, but I don't know if they can donate time to be reviewers: @dhuppenkothen @cescalara @giacomov @grburgess and perhaps [stingray contributors](https://github.com/StingraySoftware/stingray/blob/main/CREDITS.rst).

[2021-02-16 00:31] giswqs commented on #2965
@amanaster2 I just posted another video tutorial for using the toolbox with ArcGIS Pro. Hope it will make it easier for you to test the toolbox. Let me know if you have any questions. Thanks.

https://lidar.gishub.org/get-started/#arcgis-toolbox

[2021-02-16 00:50] Balaje commented on #2939
@whedon generate pdf

[2021-02-16 00:50] whedon commented on #2939
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: :point_left:

[2021-02-16 01:00] Balaje commented on #2939
@corentin-dev 👋 Thanks for going through the manuscript. Regarding comment:
#2 'Analyticity' refers to complex analytic functions.
#4 ffddm is the module available in FreeFem (cited in the paper) to implement domain decomposition methods.

[2021-02-16 01:14] majensen commented on #2979
@whedon add @junjun-zhang as reviewer

[2021-02-16 01:14] whedon commented on #2979
OK, @junjun-zhang is now a reviewer

[2021-02-16 01:18] majensen commented on #2880
@vahid-sb any progress? Maybe we should take @adi3 's  suggestion and pause this review? Let us know.

[2021-02-16 01:28] whedon commented on #3002
:wave: @agahkarakuzu, please update us on how your review is going (this is an automated reminder).

[2021-02-16 01:28] whedon commented on #3002
:wave: @kakearney, please update us on how your review is going (this is an automated reminder).

[2021-02-16 01:33] majensen commented on #2979
@whedon re-invite @junjun-zhang as reviewer

[2021-02-16 01:33] whedon commented on #2979
The reviewer already has a pending invite.

@junjun-zhang please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-16 01:36] majensen commented on #2979
@whedon re-invite @junjun-zhang as reviewer

[2021-02-16 01:36] whedon commented on #2979
OK, the reviewer has been re-invited.

@junjun-zhang please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-16 01:45] henrykironde commented on #2962
@danielskatz, yah feel free to add me as a third reviewer

[2021-02-16 01:55] henrykironde commented on #3009
@js2264 thanks for the great science. I have finished the review and the submission meet the criteria for acceptance.

[2021-02-16 02:28] danielskatz commented on #3040
@whedo add @henrykironde as reviewer

[2021-02-16 02:28] danielskatz commented on #3040
@whedon add @henrykironde as reviewer

[2021-02-16 02:28] whedon commented on #3040
OK, @henrykironde is now a reviewer

[2021-02-16 02:29] briandesilva commented on #2828
Sorry about that @pdebuyl. The correct DOI is 10.5281/zenodo.4542530 and the version is v0.3.3.

[2021-02-16 02:29] danielskatz commented on #2962
Thanks @henrykironde - I've now added you over in the review issue: #3040

[2021-02-16 03:46] arokem commented on #2827
Thank you! At this point could you please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author

[2021-02-16 04:42] sebkopf commented on #2878
@mikldk and @r-barnes : I think all issues raised by @r-barnes have now been addressed. Please let us know if you still see anything missing. Thank you very much for all your work on reviewing this. Best regards.

[2021-02-16 07:01] csoneson commented on #3009
Thanks @henrykironde!

[2021-02-16 08:31] glyg commented on #2923
Hi all, hi @oliviaguest I think I can take on the review, should I go directly to the other opened issue?

[2021-02-16 08:35] arfon commented on #3029
@pjb7687 - Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how

[2021-02-16 08:35] arfon commented on #3029
@whedon reject

[2021-02-16 08:35] whedon commented on #3029
Paper rejected.

[2021-02-16 08:35] #3029 closed

[2021-02-16 08:37] arfon commented on #3025
@nschiett - Thanks for your submission to JOSS. After a review, the editors have determined that this submission does not meet our criterion for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) and so is out of scope for JOSS.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citabl

[2021-02-16 08:37] arfon commented on #3025
@whedon reject

[2021-02-16 08:37] whedon commented on #3025
Paper rejected.

[2021-02-16 08:37] #3025 closed

[2021-02-16 09:01] pdebuyl commented on #2828
Thanks @briandesilva . Can you edit the metadata of the zenodo archive to match the paper please? Title should be "PySensors: A Python Package for Sparse Sensor Placement" and authors should be as here, with ORCID properly set.

[2021-02-16 09:01] pdebuyl commented on #2828
@whedon set 10.5281/zenodo.4542530 as archive

[2021-02-16 09:02] whedon commented on #2828
OK. <a href="https://doi.org/10.5281/zenodo.4542530" target="_blank">10.5281/zenodo.4542530</a> is the archive.

[2021-02-16 09:02] pdebuyl commented on #2828
@whedon set v0.3.3 as version

[2021-02-16 09:02] whedon commented on #2828
OK. v0.3.3 is the version.

[2021-02-16 09:16] nschiett commented on #3025
@arfon thanks for the review. Would it be possible to specify which aspect of the package doesn't meet the criterion? Is it something we could work on for a revision?
I would really appreciate your feedback.

[2021-02-16 09:32] janfreyberg commented on #3024
Great, thanks :)

@whedon generate pdf

[2021-02-16 09:45] janfreyberg commented on #3024
@whedon generate pdf

[2021-02-16 09:46] whedon commented on #3024
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03024/joss.03024/10.21105.joss.03024.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03024/joss.03024/10.21105.joss.03024.pdf) :page_facing_up: :point_left:

[2021-02-16 09:54] janfreyberg commented on #3024
@galessiorob review completed, paper looks good to publish!

[2021-02-16 10:36] 0x0f0f0f commented on #3035
Is there anything else I should do for pre-review?

[2021-02-16 10:40] drvinceknight commented on #2871
@ctdegroot another polite nudge, do you think you'll be able to get to reviewing this?

@salrm8 if we don't hear back soon I'll aim to get another reviewer.

[2021-02-16 10:41] 0x0f0f0f commented on #3035
@whedon check repository

[2021-02-16 10:41] whedon commented on #3035
[code]

[2021-02-16 10:43] drvinceknight commented on #2733
@trstewart212 a polite gentle nudge to see if @koenderks response addresses your points. Let me know if there's anything I can do to assist.

[2021-02-16 10:47] arfon commented on #3025
@nschiett - mostly this was due to the software contribution being considered too small here. Our interpretation of this package is that there is some R [here](https://github.com/nschiett/fishgrowbot/tree/master/R) and some Stan-generated source code in C/C++.

As we outline in our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), small

[2021-02-16 10:47] 0x0f0f0f commented on #3035
I don't understand why whedon does not list any commit. I have pushed 90 so far.

[2021-02-16 11:22] AJQuinn commented on #2977
Thank you all - very interesting and useful suggestions in the reviews. I'll make those changes during the week and make a note here when they're done.

Cheers

[2021-02-16 12:38] vahid-sb commented on #2880
Dear @majensen, to be realistic, it is very unlikely that I can make the required changes in Feb or Mar. So, if this case being open is causing issues, maybe we can pause it and I'd get back to you when I can. The changes I plan to make are major, hence I should find time to focus on them properly, which unfortunately seems to be not possible these days.

[2021-02-16 13:03] ethanwhite commented on #2890
Already working on another JOSS review and can only handle one at a time at the moment.

[2021-02-16 13:12] mikldk commented on #3004
@oesteban, @benjamin-lee: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-02-16 13:14] mikldk commented on #2878
@r-barnes still needs to check a few boxes. Can you give a status update?

[2021-02-16 13:15] mikldk commented on #2992
@alemermartinez Please do. Please check in again within a week's time if possible.

[2021-02-16 14:00] vahid-sb commented on #2827
Dear @arokem, here is the doi of the requested release:
10.5281/zenodo.4543316
Please let me know if anything should be changed in the release or the meta-data.
I also made a final minor change, correcting a typo in a keyword in the .md file. Please use the version I just uploaded to create the pdf file.

[2021-02-16 14:18] oliviaguest commented on #3042
@whedon invite @glyg as reviewer

[2021-02-16 14:18] whedon commented on #3042
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-16 14:18] oliviaguest commented on #3042
@whedon add @glyg as reviewer

[2021-02-16 14:18] whedon commented on #3042
OK, @glyg is now a reviewer

[2021-02-16 14:19] oliviaguest commented on #2923
Oh, fantastic! And yes, please read: https://github.com/openjournals/joss-reviews/issues/3042#issuecomment-779338987

[2021-02-16 14:20] oliviaguest commented on #3042
👋  @glyg welcome! Make sure to read the instructions above, accept the invitation, etc.

[2021-02-16 14:24] oliviaguest commented on #2891
@whedon compile pdf

[2021-02-16 14:24] whedon commented on #2891
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-16 14:24] oliviaguest commented on #2891
@whedon generate pdf

[2021-02-16 14:25] whedon commented on #2891
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02891/joss.02891/10.21105.joss.02891.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02891/joss.02891/10.21105.joss.02891.pdf) :page_facing_up: :point_left:

[2021-02-16 14:43] sbenthall commented on #2966
@whedon assign @jamesdamillington as reviewer

[2021-02-16 14:43] whedon commented on #2966
OK, @jamesdamillington is now a reviewer

[2021-02-16 14:44] sbenthall commented on #2966
@martibosch would you be able to review this work?

[2021-02-16 14:51] sbenthall commented on #2855
I apologize again for the delay. We had a baby in December.
I'm double checking this today

[2021-02-16 15:01] oliviaguest commented on #2891
@whedon remove @jkbye as reviewer

[2021-02-16 15:01] whedon commented on #2891
OK, @jkbye is no longer a reviewer

[2021-02-16 15:02] xuanxu commented on #2825
@whedon generate pdf

[2021-02-16 15:05] oliviaguest commented on #2891
@markusrobertjonsson can you please create an archive for the software (on Zenodo, figshare, etc.) and post the DOI here? 😊

[2021-02-16 15:08] oliviaguest commented on #2891
@whedon check references

[2021-02-16 15:11] whedon commented on #2891
[code]

[2021-02-16 15:16] martibosch commented on #2966
Hello @sbenthall, sure, I'd be pleased to review this submission. Best,
Martí

[2021-02-16 15:16] AngryMaciek commented on #3019
@whedon generate pdf

[2021-02-16 15:18] whedon commented on #3019
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03019/joss.03019/10.21105.joss.03019.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03019/joss.03019/10.21105.joss.03019.pdf) :page_facing_up: :point_left:

[2021-02-16 15:21] vigji commented on #3042
I'll link here below all issues related to this review:

https://github.com/3d-pli/fastpli/issues/1

https://github.com/3d-pli/fastpli/issues/2

https://github.com/3d-pli/fastpli/issues/3

https://github.com/3d-pli/fastpli/issues/4

https://github.com/3d-pli/fastpli/issues/5

https://github.com/3d-pli/fastpli/issues/6

[2021-02-16 15:26] AngryMaciek commented on #3019
Dear @melissawm,

* OK, changes included.
* OK, I have specified the most recent stable versions and adjuted the 'year' field respectively.
* I am generally following the example: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography These other three github repositories do not tag versions and the parsing engine for the paper does not support pointing to specific co

[2021-02-16 15:32] sbenthall commented on #2855
I'm using the `joss_review` branch and am getting the same error.

What is your output for that script?

[2021-02-16 15:45] jhollist commented on #2890
I can do this, but wouldn't be able to get to it until about the second
week of March.  If that is OK, then sign me up.

On Mon, Feb 15, 2021 at 9:34 AM David H Hagan <notifications@github.com>
wrote:

--
Jeffrey W. Hollister
email: jeff.w.hollister@gmail.com
cell: 401 556 4087
https://jwhollister.com

[2021-02-16 16:42] majensen commented on #2880
Thanks @vahid-sb - we will put the review on pause and we can pick it back up when you can.

[2021-02-16 17:09] marcosvital commented on #3027
Hi, @arfon, I can handle this submission - sorry about the delayed reply.

[2021-02-16 17:10] marcosvital commented on #3027
@whedon assign @marcosvital as editor

[2021-02-16 17:10] whedon commented on #3027
OK, the editor is @marcosvital

[2021-02-16 17:19] arokem commented on #2827
@openjournals/joss-eics : this is ready for your final review

[2021-02-16 17:36] agahkarakuzu commented on #3002
I gave this one a quick try (R2019b) after installing NLSIGCOVID19Lab as a Matlab app (applet), I could not find instructions regarding how to use GUI, so intuitively I tried clicking the `model` button:

[code]

Then I tried `Update Database` first, which threw me another error:
[code]
As the error message was not informative, I could not infer what to do next:
https://github.com/somefunAgba/NLSI

[2021-02-16 18:30] robfalck commented on #2809
@dpsanders I think I've addressed all of the concerns here.  Please let me know what else I need to do.

[2021-02-16 18:51] whedon commented on #2825
PDF failed to compile for issue #2825 with the following error:

[2021-02-16 18:59] oliviaguest commented on #2891
@markusrobertjonsson and fix the DOIs (you can run the same command as me to check them). ☺️

[2021-02-16 19:37] diehlpk commented on #2939
@Balaje Regarding #4 can you add this information in the paper. So it is more clear for the reader.

[2021-02-16 19:40] diehlpk commented on #2942
@rdeits Please have a look at our guidelines

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Please let me know if you like to have more details?

[2021-02-16 19:42] diehlpk commented on #2945
@whedon remind @thelfer in 2 weeks

[2021-02-16 19:42] whedon commented on #2945
Reminder set for @thelfer in 2 weeks

[2021-02-16 19:42] diehlpk commented on #2945
@whedon remind @pbauman in 2 weeks

[2021-02-16 19:42] whedon commented on #2945
Reminder set for @pbauman in 2 weeks

[2021-02-16 20:12] somefunAgba commented on #3002
Thanks @agahkarakuzu. I just tested the applet twice on my end in R2020b, and no errors.
The applet was written in R2020a. There are internal catch blocks to ensure errors and exceptions will rarely occur and are rarely shown to the user, other things being equal.

Debugging the errors:
One.
[code]
SOLUTION:
I think the problem lies with string quotes which I used when writing  the code. It seems

[2021-02-16 20:29] agahkarakuzu commented on #3002
Thank you so much for the quick response @somefunAgba!

I think these initial simple fixes would give this codebase a good usability boost. I have no expertise on the scientific aspect of this work, but will do my best to improve user experience by playing the annoying user wherever possible to ensure that the expected outcomes find the user  :)

RE getting started docs, I would even briefly expla

[2021-02-16 20:37] somefunAgba commented on #3002
Thank you. Will factor in your suggestions

[2021-02-16 21:03] JannisHoch commented on #2855
that's great news, congrats!

i am bit puzzled by your error message, or more precisely by the console output you get.
it does not look like anything i get when using the `joss_review` branch with the cfg-files as is plus the downloaded example data.
it seems like you getting debug output, but not the one i get using the `joss_review` branch.
that is what makes me assume that there is something od

[2021-02-16 21:06] rdeits commented on #2942
Oh, yeah, that's exactly what I was looking for. Thanks! What is the review timeline?

[2021-02-16 21:07] ctdegroot commented on #2871
Thanks for the nudge and apologies for the delay. I will prioritize this.

[2021-02-16 22:56] JonathanReardon commented on #3024
Just finished my review, all looks great to me. No issues my end - good to publish!

[2021-02-16 23:15] briandesilva commented on #2828
@pdebuyl, I've updated the archive as you asked.

[2021-02-17 03:30] molgor commented on #2975
# Checklist for ForestAtRisk repository
## Review checklist for @molgor
### Conflict of interest

- [X] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [X] I con

[2021-02-17 04:11] zackdraper commented on #2641
Ok, I'm satisfied that the code is functional now with that example.  But, I would strongly encourage you to include an actual example like the RX Eri data set somewhere in the documentation.  You have a few examples shown in the paper. Ideally, for open source software, I would think those examples should be readily available to all users to immitate and prepare thier own data. `astrosource --hel

[2021-02-17 04:19] zackdraper commented on #2641
@arfon My review is done now (I think). I'll recommend it's accepted.

[2021-02-17 07:56] whedon opened #3043 "[PRE REVIEW]: SkyPy: A package for modelling the Universe"
**Submitting author:** @rrjbca (<a href="http://orcid.org/0000-0003-1291-1023">Richard Rollins</a>)
**Repository:** <a href="https://github.com/skypyproject/skypy" target ="_blank">https://github.com/skypyproject/skypy</a>
**Version:** v0.4
**Editor:** @arfon
**Reviewers:** @cescalara, @rmorgan10
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-02-17 07:56] whedon commented on #3043
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-17 07:56] whedon commented on #3043
[code]

[2021-02-17 07:56] whedon commented on #3043
PDF failed to compile for issue #3043 with the following error:

 Can't find any papers to compile :-(

[2021-02-17 08:16] Kevin-Mattheus-Moerman commented on #2911
@pariterre I will now process this work for acceptance in JOSS.

Below are some very minor point on the paper, and some instructions for next steps:

- [ ] This sentence does not read well: `This has forced scientists to develop ad hoc solutions for each project which require to write file I/O codes for each software format files.` would the following be better?  `This has forced scientists to dev

[2021-02-17 08:16] Kevin-Mattheus-Moerman commented on #3043
@whedon generate pdf from branch joss-paper

[2021-02-17 08:17] whedon commented on #3043
[code]

[2021-02-17 08:17] whedon commented on #3043
PDF failed to compile for issue #3043 with the following error:

 Error producing PDF.
! Use of \\author doesn't match its definition.
\new@ifnextchar ...served@d = #1\def \reserved@a {
                                                  #2}\def \reserved@b {#3}\f...
l.292 ....uk}{\nolinkurl{adam.amara@port.ac.uk}}}}

Looks like we failed to compile the PDF

[2021-02-17 08:17] Kevin-Mattheus-Moerman commented on #3043
@openjournals/dev can you help trouble shoot this error :point_up:

[2021-02-17 08:25] Kevin-Mattheus-Moerman commented on #3043
@dpsanders @dfm could one of you edit this submission? I know you are both handling quite a few submissions already so let me know if you cannot. Alternatively @terrytangyuan since this relates to machine learning do you think you can help?

[2021-02-17 08:34] whedon opened #3044 "[PRE REVIEW]: HOODESolver.jl: A Julia package for highly oscillatory problems"
**Submitting author:** @pnavaro (<a href="http://orcid.org/0000-0002-7372-3221">Pierre Navaro</a>)
**Repository:** <a href="https://github.com/ymocquar/HOODESolver.jl" target ="_blank">https://github.com/ymocquar/HOODESolver.jl</a>
**Version:** v0.2.3
**Editor:** @vissarion
**Reviewers:** @ranocha, @HaoZeke
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due

[2021-02-17 08:34] whedon commented on #3044
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-17 08:34] whedon commented on #3044
[code]

[2021-02-17 08:34] whedon commented on #3044
PDF failed to compile for issue #3044 with the following error:

 Can't find any papers to compile :-(

[2021-02-17 08:37] pnavaro commented on #3044
@whedon commands

[2021-02-17 08:37] whedon commented on #3044
Here are some things you can ask me to do:

[code]

[2021-02-17 08:37] pnavaro commented on #3044
@whedon generate pdf from branch paper

[2021-02-17 08:37] whedon commented on #3044
[code]

[2021-02-17 08:38] whedon commented on #3044
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03044/joss.03044/10.21105.joss.03044.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03044/joss.03044/10.21105.joss.03044.pdf) :page_facing_up: :point_left:

[2021-02-17 08:39] Kevin-Mattheus-Moerman commented on #3035
@0x0f0f0f I believe this feature (for whedon to scan the repository) is relatively new and might not yet be 100% accurate. I'll ping @openjournals/dev to see if they can check this out.

[2021-02-17 08:41] Kevin-Mattheus-Moerman commented on #3035
@gkthiruvathukal @mjsottile @dpsanders could one of you handle this submission?

[2021-02-17 08:46] arfon commented on #2827
Thanks @arokem. We ask that editors run `@whedon accept` as the handoff to the EiC on rotation. This adds a special label (and makes the final proofs) for review too.

[2021-02-17 08:46] arfon commented on #2827
@whedon set 10.5281/zenodo.4543316 as archive

[2021-02-17 08:46] whedon commented on #2827
OK. <a href="https://doi.org/10.5281/zenodo.4543316" target="_blank">10.5281/zenodo.4543316</a> is the archive.

[2021-02-17 08:46] arfon commented on #2827
@whedon accept

[2021-02-17 08:46] whedon commented on #2827
[code]

[2021-02-17 08:47] whedon commented on #2827
[code]

[2021-02-17 08:47] whedon commented on #2827
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2088

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2088, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-17 08:49] xuanxu commented on #2825
@whedon generate pdf

[2021-02-17 08:53] arfon commented on #3043
I think the `@` in the emails in the authors need escaping, e.g.:

[code]

[2021-02-17 08:58] arfon commented on #3035
Not sure what is going on here sorry. We simply run `gitinspector` (https://github.com/openjournals/whedon-api/blob/master/workers.rb#L379) so perhaps it is struggling with this repository for some reason.

[2021-02-17 09:00] markusrobertjonsson commented on #2891
@whedon check references

[2021-02-17 09:01] whedon commented on #2891
[code]

[2021-02-17 09:03] Kevin-Mattheus-Moerman commented on #3036
@Alcampopiano thanks for this submission. I am currently checking if this work is in scope for JOSS. As our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) state, we require software to have a clear research application. Furthermore “Minor utility” or "single-function" packages are not acceptable. Can you help shed light on these points in r

[2021-02-17 09:04] Kevin-Mattheus-Moerman commented on #3043
@rrjbca can you implement these changes and call `@whedon generate pdf from branch joss-paper` here to update the paper?

[2021-02-17 09:06] pnavaro commented on #3044
According to the list, Hendrik Ranocha ranocha is a potential reviewer

[2021-02-17 09:09] Kevin-Mattheus-Moerman commented on #3044
@mjsottile @diehlpk @melissawm could one of you edit this submission? Thanks

[2021-02-17 09:19] js2264 commented on #3009
Thank you very much for your insightful review of the package @henrykironde!

[2021-02-17 09:23] melund commented on #2911
I think `OS` should be `operating systems` and not `operational systems`

[2021-02-17 09:26] KristofferC commented on #2942
@diehlpk Hello, yes I can help review this paper.

[2021-02-17 09:28] pdebuyl commented on #2828
Thanks @briandesilva

[2021-02-17 09:28] pdebuyl commented on #2828
@whedon accept

[2021-02-17 09:28] whedon commented on #2828
[code]

[2021-02-17 09:29] whedon commented on #2828
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2089

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2089, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-17 09:31] whedon commented on #2828
[code]

[2021-02-17 09:33] pdebuyl commented on #2828
For the eic: only orcid ids for authors seem missing from metadata.

[2021-02-17 09:34] whedon commented on #2825
PDF failed to compile for issue #2825 with the following error:

[2021-02-17 09:53] arfon commented on #2825
@xuanxu - this PR should fix the paper compilation. Why this works is 🤯 😡  🤷 https://github.com/Jammy2211/PyAutoLens/pull/156

[2021-02-17 09:57] CFGrote commented on #2976
@whedon help

[2021-02-17 09:57] whedon commented on #2976
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-17 09:57] CFGrote commented on #2976
@whedon commands

[2021-02-17 09:57] whedon commented on #2976
Here are some things you can ask me to do:

[code]

[2021-02-17 09:57] CFGrote commented on #2976
@whedon generate pdf

[2021-02-17 09:58] whedon commented on #2976
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: :point_left:

[2021-02-17 09:58] markusrobertjonsson commented on #2891
@oliviaguest I added the repo to Zenodo. The DOI is 10.5281/zenodo.4544535.

[2021-02-17 10:05] xuanxu commented on #2825
@Jammy2211 Please merge [that PR](https://github.com/Jammy2211/PyAutoLens/pull/156) 🔝

[2021-02-17 10:06] Jammy2211 commented on #2825
Done :)

[2021-02-17 10:11] xuanxu commented on #2825
@whedon generate pdf

[2021-02-17 10:12] whedon commented on #2825
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: :point_left:

[2021-02-17 10:27] rrjbca commented on #3043
@whedon generate pdf from branch joss-paper

[2021-02-17 10:27] whedon commented on #3043
[code]

[2021-02-17 10:28] whedon commented on #3043
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03043/joss.03043/10.21105.joss.03043.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03043/joss.03043/10.21105.joss.03043.pdf) :page_facing_up: :point_left:

[2021-02-17 10:33] aureliocarnero commented on #2825
Dear @xuanxu et al. I checked the remaining item in the list, and I confirm there are no pending issues, therefore, I recommend this paper for publication.
Thank you all and great work @Jammy2211 !

[2021-02-17 10:43] 0x0f0f0f commented on #3035
I have updated Package version to `v0.1.1`.

[2021-02-17 10:56] xuanxu commented on #2825
@whedon check references

[2021-02-17 10:57] zemogle commented on #2641
Thanks @zackdraper  and @joshspeagle for very constructive reviews. We'll find a way to include a useful dataset and add more complete examples to the docs 👍

[2021-02-17 10:57] whedon commented on #2825
[code]

[2021-02-17 11:24] xuanxu commented on #2825
@Jammy2211, everything looks good, you can take a final [proof](https://github.com/Jammy2211/PyAutoLens/pull/157) read at the [pdf draft](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) and if you find it OK, here are the next steps:

- Please release a new tagged version from the current master so it includes all the changes made during the review p

[2021-02-17 11:30] CFGrote commented on #2976
Review comments are in https://github.com/Isurwars/Correlation/issues/7.

[2021-02-17 11:43] Kevin-Mattheus-Moerman commented on #2911
Thanks @melund I fixed it up there :point_up:

[2021-02-17 12:11] diehlpk commented on #2942
@rdeits everything within the next two months would be great

[2021-02-17 12:11] diehlpk commented on #2942
@whedon assign @KristofferC as reviewer

[2021-02-17 12:12] whedon commented on #2942
OK, @KristofferC is now a reviewer

[2021-02-17 12:40] rougier commented on #3024
I've just read the paper and installed the software. I've a few questions concerning the submission:

- There are five authors in the paper, could you tell us their respective role in the software?
- I did not  find the way to run the unittests. Would it be possible to have a simple `groupyrr.test()` that run tests?
- When you write "we found that our implementation .... was faster", maybe you can

[2021-02-17 13:23] marcozennaro commented on #3014
Hi @wtbarnes, please let me know if the PDF is fine / if I need to address any issues. Thanks!

[2021-02-17 13:25] melissawm commented on #3019
Thanks, @AngryMaciek ! I'll start looking for reviewers from our spreadsheet, and once we've found at least two, we can start the review.

[2021-02-17 13:41] melissawm commented on #3019
Hi @jordigh @kpeeters, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-02-17 13:43] melissawm commented on #2744
@whedon check references

[2021-02-17 13:44] whedon commented on #2744
[code]

[2021-02-17 13:45] melissawm commented on #2744
Hello @kfhiga, at this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author lis

[2021-02-17 13:47] melissawm commented on #2812
Hello, @stsievert and @torressa is there anything I can help you with at this point in the review?

[2021-02-17 14:02] dpsanders commented on #3035
@Kevin-Mattheus-Moerman: I can handle this submission.

[2021-02-17 14:07] pdebuyl commented on #2996
Hi @navidcy , I am still looking for a second reviewer. Your can suggest a reviewer (with no [conflict of interest](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy)) which I may consider if my current search is not fruitful.

[2021-02-17 14:08] pdebuyl commented on #2996
Sorry, hit the close button by accident.

[2021-02-17 14:10] pdebuyl commented on #2973
Hi @glyg , any update?

[2021-02-17 14:11] gkthiruvathukal commented on #3014
@marcozennaro Thanks. We need 2 reviewers to proceed with review. I will start by checking on wtbarnes' availability.

[2021-02-17 14:11] gkthiruvathukal commented on #3014
@wtbarnes Are you willing to contribute a review for this JOSS subimssion?

[2021-02-17 14:23] trstewart212 commented on #2733
Yes, Koen did answer my questions but I don’t know whether the points I made are being addressed. In any case, my questions were based on just a cursory look as I was just trying to figure out at a very basic level how JFA works.

Since then I have made several attempts to get back into this but every time find myself stymied by the absence of a comprehensive cohesive paper that describes the audi

[2021-02-17 14:45] Kevin-Mattheus-Moerman commented on #3035
@whedon assign @dpsanders as editor

[2021-02-17 14:45] whedon commented on #3035
OK, the editor is @dpsanders

[2021-02-17 15:04] tpoisot commented on #2721
Hi @KristinaRiemer - is there something we can do to help with the paper? Do you want suggestions for another reviewer?

[2021-02-17 15:07] glyg commented on #2973
Hi @pdebuyl we meet with Sophie on Friday to workout a revision plan, we gave a workshop last week that should help address Serge's remarks. I'll update on Monday

[2021-02-17 15:24] arfon commented on #2924
:wave: @ygrange @daissi @wjakethompson @vijaysm - would any of your be willing to review this submission for JOSS?

The submission under review is [_Autosubmit GUI: A Javascript-based Graphical User Interface to Monitor Experiments Workflow Execution_](https://earth.bsc.es/gitlab/wuruchi/autosubmitreact).

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines:

[2021-02-17 15:26] arfon commented on #3026
:+1: thanks @rodluger. I suspect these folks might be pretty busy but let's try 🤞

:wave: @nespinoza @bmorris3 @jradavenport - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-02-17 15:30] arfon commented on #2395
:wave: @nreimers and @JoPfeiff - would you be willing to step in on behalf of @thomwolf here and review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission we'd be asking you to review is [_gobbli: A uniform interface to deep learning for text in Python

[2021-02-17 15:54] williamfgc commented on #2741
@shahmoradi I just reviewed the revised manuscript and looks appropriate for JOSS. Thanks for addressing the changes and fixing the defect I filed above. Minor thing: Funding and Acknowledgment can be one single section on the paper. Looks good to me, the only one thing I still think could be added in the future is CI, but I'll leave it to @VivianePons as the editor and @milancurcic to decide on f

[2021-02-17 15:54] wjakethompson commented on #2924
I have no Javascript experience, so I'm not sure that I'd be a good fit for this one given that I have no idea what I'd be looking for :smile:.

[2021-02-17 15:56] desilinguist commented on #2924
Same here. I can't really review JS code.

[2021-02-17 15:59] daissi commented on #2924
Sorry, I don't have free time currently and no experience with Javascript.

[2021-02-17 16:00] 0x0f0f0f commented on #3035
@whedon set v0.1.1 as version

[2021-02-17 16:00] whedon commented on #3035
I'm sorry @0x0f0f0f, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-02-17 16:01] 0x0f0f0f commented on #3035
whoops!

[2021-02-17 16:04] ygrange commented on #2924
Same point on JS code as the others. I can, and am totally happy to,  look at it functionality-wise and look at things like testing etc.

[2021-02-17 16:17] diehlpk commented on #3044
@Kevin-Mattheus-Moerman I could do it, however, I would prefer if someone else can do it since I have plenty of submiisions right now.

[2021-02-17 16:41] navidcy commented on #2996
dpsanders, briochemc, ChrisRackauckas

If I think of more I’ll add them.

[2021-02-17 17:03] lorenanicole commented on #2731
@essepuntato just bumping the below to see if you needed anything additional:

https://github.com/openjournals/joss-reviews/issues/2731#issuecomment-774939456

[2021-02-17 17:27] wtbarnes commented on #3014
@marcozennaro @gkthiruvathukal yes I can review this submission for JOSS!

[2021-02-17 17:39] gkthiruvathukal commented on #3014
Thanks so much @wtbarnes! Will assign you now and hope we can get one more reviewer shortly!

[2021-02-17 17:39] gkthiruvathukal commented on #3014
@whedon assign @wtbarnes as reviewer

[2021-02-17 17:39] whedon commented on #3014
OK, @wtbarnes is now a reviewer

[2021-02-17 17:52] nreimers commented on #2395
Hi @arfon
I am currently on parental leave and sadly will not have time in the next months for reviewing the submission of JOSS.

Best
Nils

[2021-02-17 18:22] mponce0 commented on #2995
@whedon generate pdf from branch literature

[2021-02-17 18:22] whedon commented on #2995
[code]

[2021-02-17 18:23] whedon commented on #2995
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02995/joss.02995/10.21105.joss.02995.pdf) :page_facing_up: :point_left:

[2021-02-17 18:30] apiad commented on #2989
@arfon I wanted to ask about the depth expected in the technical description of the software. This is the first paper I've reviewed for JOSS and from what I see, papers are usually not expected to go too deeply into the technical or mathematical details of whatever algorithms are implemented, at least not to the same extent as research papers. Am I correct?

[2021-02-17 18:41] richford commented on #3024
Hi @rougier, thanks for your review. I'll address all but one of you points now and come back for the remaining one (about the performance comparison with group-lasso) in a few days:

Sure thing, in [this PR](https://github.com/richford/groupyr/pull/42), I added an author contribution statement to the paper, which categorizes author contribution according to the [CRediT taxonomy](http://dx.doi.org

[2021-02-17 18:50] rougier commented on #3024
Thanks for your answers. For the speed comparison, I'm not asking to a full-proof comparison but just some number to give the reader an idea of the speedup (x1.1 is technically faster but 5x might be worth to explore further your software). If you have a script, it's all the better bit not mandatory at all.

By the way, I forgot to ask to list dependencies in the documenation. Not mandatory but it

[2021-02-17 19:05] LogIN- commented on #2995
Hi @fboehm & @mponce0,
sounds reasonable. I would keep exactly the same title for both and as suggested we can use preprint version as more detail reference.. I checked the latest manuscript build and it's clear that preprint contains more information about the package. If you follow this route and this JOSS publication is the main point for the package I guess this will also become "published ver

[2021-02-17 19:57] mponce0 commented on #2995
Hi @LogIN- ,
Sure we can do that, we can keep the same title and even more from the arXiv page refer to the JOSS version of the article using the DOI and a "comment" line mentioning that it was published in the JOSS journal.

[2021-02-17 20:18] terrytangyuan commented on #3043
Sorry I probably don't have bandwidth to help at this point.

[2021-02-17 20:28] druvus commented on #2334
@lpantano could you please resend the invitation?  I have pulled the edge image and started to go through the point but I forgot to accept the invitation.

[2021-02-17 21:44] dopplershift commented on #2479
@arfon Just an FYI, the PDF is still available [here](https://www.theoj.org/joss-papers/joss.02479/10.21105.joss.02479.pdf), which is being picked up by Google Scholar.

[2021-02-17 21:45] WilkAndy commented on #3031
Any thoughts on this submission, @arfon ?

[2021-02-17 21:48] lpantano commented on #2334
@whedon re-invite @druvus  as reviewer

[2021-02-17 21:48] whedon commented on #2334
OK, the reviewer has been re-invited.

@druvus  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-17 21:49] lpantano commented on #2957
@preetida, can you check if the latest addition is enough? I just saw the authors closed the issue, so I don't know if there is something else waiting to be done? Thanks!

[2021-02-17 22:11] devosmitachatterjee2018 commented on #2971
@arfon @galessiorob
I emailed some of my connections (those who will not have a conflict of interest) and got a few replies. One of my conection is willing to be a reviewer.  Here is his details.

Name: Håkan Fridén
Email Id: hakan.friden@ivl.se
Github Account: @hakanfriden

I will let you know if I get any more reply.

Thank you.
Best Regards
Devosmita

[2021-02-17 22:28] milancurcic commented on #2741
Good to go from me, thank you all. :+1:

A note regarding "Functionality" and why I left it unchecked: I was reading through the docs and played for a while with the example program and configurations, however I wasn't able to get far, even with the docs. I believe this was due to the domain-specific knowledge that I don't have. But I assume that for a domain expert, these parameters are meaningfu

[2021-02-17 23:18] lnielsen commented on #2498
Sorry, just seeing this now :-( The fastest way to get a reply is likely https://zenodo.org/support or alternatively ping @slint who's in charge of service operation.

[2021-02-18 00:23] jordanperr commented on #2171
@whedon check references from branch joss-review

[2021-02-18 00:23] whedon commented on #2171
[code]

[2021-02-18 00:25] whedon commented on #2171
[code]

[2021-02-18 00:49] jordanperr commented on #2171
@whedon check references from branch joss-review

[2021-02-18 00:49] whedon commented on #2171
[code]

[2021-02-18 00:50] whedon commented on #2171
[code]

[2021-02-18 00:51] jordanperr commented on #2171
@whedon generate pdf from branch joss-review

[2021-02-18 00:51] whedon commented on #2171
[code]

[2021-02-18 00:51] whedon commented on #2171
PDF failed to compile for issue #2171 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:204:in `block in parse_authors': Author (Robert Hammond) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a077

[2021-02-18 00:52] jonschwenk commented on #2952
@kbarnhart Just curious how things are going here. Haven't seen any movement from @eriknes...

[2021-02-18 00:53] jordanperr commented on #2171
@whedon generate pdf from branch joss-review

[2021-02-18 00:53] whedon commented on #2171
[code]

[2021-02-18 00:54] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2021-02-18 01:16] mjsottile commented on #3044
@Kevin-Mattheus-Moerman I'm at my capacity for the moment, so I can't take a new paper right now.

[2021-02-18 01:41] briandesilva commented on #2828
I just added Orcid IDs for the authors to the paper. Sorry, I hadn't thought to add them when I added them to the DOI archive.

[2021-02-18 02:57] conradsnicta commented on #3028
@mjsottile Thank you for volunteering to be an editor on this submission.  If there is anything that we can do to clarify or provide further information, please let us know.  (I'm one of the co-authors).

[2021-02-18 04:05] dghoshal-lbl commented on #2484
@pibion No problem. I hope to hear back from the reviewers soon.

[2021-02-18 04:35] navidcy commented on #2996
@pdebuyl I'm not sure if dkarrasch would be considered having COI because he has contributed to the repository (see https://github.com/FourierFlows/GeophysicalFlows.jl/commit/a4d42fe90a920e9ab90d6d705afe61c18e553422).

[2021-02-18 04:46] Alcampopiano commented on #3036
Hello @Kevin-Mattheus-Moerman

I sincerely appreciate you having a look and I will do my best to address your very thoughtful comments.

I completely understand this concern; however, it is not uncommon for folks in the social sciences to cite the software used for data acquisition (just as they would for software used for statistical analysis). For example, both LimeSurvey and REDcap (two platfor

[2021-02-18 04:46] Alcampopiano commented on #3036
@whedon generate pdf

[2021-02-18 04:46] whedon commented on #3036
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03036/joss.03036/10.21105.joss.03036.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03036/joss.03036/10.21105.joss.03036.pdf) :page_facing_up: :point_left:

[2021-02-18 08:38] arfon commented on #2989
@apiad - yes that's correct. We need reviewers to verify the functionality of the software and that can happen in a number of ways including some combination of:

- Inspecting and running automated tests.
- Executing test procedures based on test inputs/expected outputs.
- Reviewing the code.

A _deep_ algorithmic review is not generally required but we do want you to be familiar with what the cod

[2021-02-18 08:42] arfon commented on #2479
Thanks for catching that @dopplershift. I've now removed that PDF.

[2021-02-18 08:44] eriknes commented on #2952
Hi,

Sorry for the late reply

I have a revision due this weekend and will complete this review over the
weekend if that's ok?

Best,

Erik

On Thu, Feb 18, 2021 at 1:52 AM Jon Schwenk <notifications@github.com>
wrote:

[2021-02-18 09:11] esteinig commented on #2991
@luizirber thanks a ton, really appreciate the patience! I am back on this from tomorrow, so will make the PR request and finalize all the bits and pieces (not sure if you want to see my messy commit history but all good). Thanks everyone!

[2021-02-18 09:44] pdebuyl commented on #2828
Thanks @briandesilva . I don't think that we require them, I mentioned it as I believe that it brings value to the authors, to the readers, and to the journal :-)

The submission is in the hands of the Editors-in-chief in rotation.

[2021-02-18 10:10] jamtrott commented on #2879
Hi!

Well done, @mscroggs. I'm happy with the changes, and I think the updated version is a nice improvement.

I don't have any further issues, but I will point out a couple of minor nitpicks.

In the section "Statement of need":
  - "The syntax of library" should perhaps be "The syntax of the library", or maybe "The syntax used by the library", or something.
  -  "[...], making implementing a pro

[2021-02-18 10:12] mscroggs commented on #2879
Thanks both, I'll get these sorted today

[2021-02-18 11:00] Rachine commented on #2989
Hello, I just noticed these last exchanges about the algorithms we used in our paper.
We have slides trying to explain with simple vizualisations what the core algorithm is doing for the gamma agreement.  If it is ok for the review process at JOSS @arfon, happy to share them with you @apiad.

[2021-02-18 11:07] Jammy2211 commented on #2825
@whedon generate pdf

[2021-02-18 11:09] whedon commented on #2825
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: :point_left:

[2021-02-18 11:13] Jammy2211 commented on #2825
@whedon generate pdf

[2021-02-18 11:14] whedon commented on #2825
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: :point_left:

[2021-02-18 11:17] Jammy2211 commented on #2825
@whedon generate pdf

[2021-02-18 11:19] whedon commented on #2825
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: :point_left:

[2021-02-18 13:04] richford commented on #3024
Hi @rougier, I addressed the speed comparison in [PR 44](https://github.com/richford/groupyr/pull/44), where I changed the comparison sentence to

*copt* optimization library, was between two and ten times faster
for the problem sizes that we encounter in our research (see the
repository's examples directory for a performance comparison).

And added an example script to the examples directory that

[2021-02-18 13:07] richford commented on #3024
@rougier, I also added a list of dependencies to the installation documentation in [PR 45](https://github.com/richford/groupyr/pull/45). Hope that resolves all of your concerns. Thanks!

[2021-02-18 13:09] Jammy2211 commented on #2825
@whedon generate pdf

[2021-02-18 13:12] whedon commented on #2825
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: :point_left:

[2021-02-18 13:12] rougier commented on #3024
@richford Thanks.
@galessiorob I'm happy with the modifications.

[2021-02-18 13:16] kbarnhart commented on #2952
@jonschwenk thanks for checking in. The review started Jan 13th, and JOSS is requesting reviewers complete their reviews within 6 weeks. @eriknes if you could complete the review by the middle of next week that would be great.

[2021-02-18 13:18] kbarnhart commented on #2975
@molgor thanks for contributing your review. Are you still not able to edit the check boxes above?

@ethanwhite a friendly reminder that we are about four weeks into the requested six week review time period.

As always, let me know if you have any questions.

[2021-02-18 13:20] kbarnhart commented on #2948
@mikerspencer and @adamhsparks, a friendly reminder that we are nearing the end of the six week period in which JOSS requests you complete your reviews. If you have any questions, please let me know.

[2021-02-18 13:26] sbenthall commented on #2855
I'll try a fresh install

[2021-02-18 13:38] Jammy2211 commented on #2825
Sorry for the noise, had some citation issues I couldn't reproduce locally.

The zenodo archieved release is as follows, using v1.13.0 of PyAutoLens:

https://doi.org/10.5281/zenodo.4548744
10.5281/zenodo.4548744

The metadata has been updated to match the paper and author list!

[2021-02-18 13:53] sbenthall commented on #2855
It works!
Thanks for your patience.
This passes review and we'll proceed to the next stage.

[2021-02-18 13:53] sbenthall commented on #2855
@whedon check references

[2021-02-18 13:54] sbenthall commented on #2855
@whedon generate pdf

[2021-02-18 13:55] JannisHoch commented on #2855
@sbenthall so what was the magic trick? anything i can add to the package to make the installation bullet-proof?

[2021-02-18 13:57] whedon commented on #2855
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02855/joss.02855/10.21105.joss.02855.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02855/joss.02855/10.21105.joss.02855.pdf) :page_facing_up: :point_left:

[2021-02-18 13:57] whedon commented on #2855
[code]

[2021-02-18 13:59] sbenthall commented on #2855
It was likely just human error initially. Don't worry about it.

Next steps:
- proofread the paper and make sure there are no typos.
- Double check the MISSING DOIs that @whedon brought up

This is the final editing stage.

[2021-02-18 14:08] JannisHoch commented on #2855
am i supposed to push any changes to the `joss_review` branch or how does this work?

[2021-02-18 14:11] sbenthall commented on #2855
If you have edits to the paper, then yes, that's right.

When it's absolutely finalized, you tag it.

[2021-02-18 14:11] whedon commented on #3009
:wave: @fgeier, please update us on how your review is going (this is an automated reminder).

[2021-02-18 14:19] sbenthall commented on #2855
Yeah, those DOI's Whedon pointed out should be added to the joss .bib file

[2021-02-18 14:24] sbenthall commented on #2855
"a key concept in mind when establishing CoPro was to be able to produce reproducible output using transparent models"

grammar issue ... "a concept" "was" "to be able to"

suggested revision: "CoPro produces reproducible output using transparent models."

[2021-02-18 14:25] arcuri82 commented on #2972
@whedon generate pdf

[2021-02-18 14:26] whedon commented on #2972
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02972/joss.02972/10.21105.joss.02972.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02972/joss.02972/10.21105.joss.02972.pdf) :page_facing_up: :point_left:

[2021-02-18 14:26] sbenthall commented on #2855
I'm wondering about the title "a data-driven model for conflict risk projections" .
From the article text, it sounds like CoPro is a toolkit allowing for many different models?

[2021-02-18 14:29] JannisHoch commented on #2855
this depends how one defines model, a maybe bit philosophical question.
so i'd say that CoPro is a model in itself, but makes use of other models again... so maybe call it a modelling framework?

[2021-02-18 14:42] JannisHoch commented on #2855
@whedon commands

[2021-02-18 14:42] whedon commented on #2855
Here are some things you can ask me to do:

[code]

[2021-02-18 14:43] JannisHoch commented on #2855
the version number is 0.0.7 and the zenodo DOI is https://doi.org/10.5281/zenodo.4548904.

[2021-02-18 14:46] mscroggs commented on #2879
@whedon generate pdf

[2021-02-18 14:47] JannisHoch commented on #2855
that's how it's supposed to work? or do I need to let wheedon update version number and DOI? not fully clear to me from the instructions i must admit.

[2021-02-18 14:47] mscroggs commented on #2879
@jamtrott @ramisetti I've fixed those issues and expanded the statement of need a little. You can view a diff of the changes here: bempp/bempp-cl#105

[2021-02-18 14:47] whedon commented on #2879
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02879/joss.02879/10.21105.joss.02879.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02879/joss.02879/10.21105.joss.02879.pdf) :page_facing_up: :point_left:

[2021-02-18 14:50] JannisHoch commented on #2855
@whedon check references

[2021-02-18 14:50] pariterre commented on #2911
Hi @kellykochanski  and everyone! Many thanks again for the process!

I have completed all the tick boxes of your comment (but cannot actually tick them).
Here is the DOI: 10.5281/zenodo.4548917

Have a nice day!

[2021-02-18 14:52] whedon commented on #2855
[code]

[2021-02-18 14:54] JannisHoch commented on #2855
hmmm whedon seems to refer to an old version...

[2021-02-18 15:04] sbenthall commented on #2855
That's weird. Maybe whedon needs to regenerate the PDF before checking references again

[2021-02-18 15:04] sbenthall commented on #2855
@whedon generate pdf

[2021-02-18 15:04] sbenthall commented on #2855
@whedon check references

[2021-02-18 15:44] jgostick commented on #2984
@whedon add @cescalara as reviewer

[2021-02-18 15:44] whedon commented on #2984
OK, @cescalara is now a reviewer

[2021-02-18 15:44] jgostick commented on #2984
@whedon add @grburgessas reviewer

[2021-02-18 15:44] whedon commented on #2984
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-18 15:44] jgostick commented on #2984
@whedon add @grburgessas as reviewer

[2021-02-18 15:45] whedon commented on #2984
OK, @grburgessas is now a reviewer

[2021-02-18 15:45] jgostick commented on #2984
@whedon add @cescalara as reviewer

[2021-02-18 15:45] whedon commented on #2984
OK, @cescalara is now a reviewer

[2021-02-18 15:46] jgostick commented on #2984
@whedon start review

[2021-02-18 15:46] whedon opened #3045 "[REVIEW]: Bayesian X-ray Analysis (BXA) v4.0"
**Submitting author:** @JohannesBuchner (<a href="http://orcid.org/0000-0003-0426-6634">Johannes Buchner</a>)
**Repository:** <a href="https://github.com/JohannesBuchner/BXA" target ="_blank">https://github.com/JohannesBuchner/BXA</a>
**Version:** v4.0.5
**Editor:** @jgostick
**Reviewers:** @cescalara, @cescalara, @grburgess
**Archive:** <a href="https://doi.org/10.5281/zenodo.4721575" target="_bl

[2021-02-18 15:46] whedon commented on #2984
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3045.

[2021-02-18 15:46] #2984 closed

[2021-02-18 15:46] whedon commented on #3045
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cescalara, @grburgessas, @cescalara it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blo

[2021-02-18 15:46] whedon commented on #3045
PDF failed to compile for issue #3045 with the following error:

 Can't find any papers to compile :-(

[2021-02-18 15:46] whedon commented on #3045
[code]

[2021-02-18 15:48] grburgess commented on #3045
I believe my handle is incorrect should be @grburgess

[2021-02-18 15:55] jgostick commented on #3045
Ooops!  I'll see if I can get whedon to fix that

[2021-02-18 15:56] jgostick commented on #3045
@whedon remove @grburgessas as reivewer

[2021-02-18 15:56] whedon commented on #3045
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-18 15:57] jgostick commented on #3045
@whedon remove @grburgessas as reviewer

[2021-02-18 15:57] whedon commented on #3045
OK, @grburgessas is no longer a reviewer

[2021-02-18 15:57] jgostick commented on #3045
@whedon add @grburgess as reviewer

[2021-02-18 15:57] whedon commented on #3045
OK, @grburgess is now a reviewer

[2021-02-18 15:58] arcuri82 commented on #2972
Hi,

@gkthiruvathukal : I made a first review at https://github.com/openmainframeproject/ade/issues/85  However, as I do not use Linux, I did not run the software (just read documentation, compiled software, run its test cases). We would need the second reviewer to make sure to run the software. In worst case, I can try to install a virtual machine to run Linux on it (but that would be quite a bit

[2021-02-18 15:59] jgostick commented on #3045
@whedon generate pdf from branch joss-paper

[2021-02-18 15:59] JohannesBuchner commented on #3045
@whedon generate pdf from branch joss-paper

[2021-02-18 15:59] whedon commented on #3045
[code]

[2021-02-18 15:59] whedon commented on #3045
[code]

[2021-02-18 16:00] whedon commented on #3045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03045/joss.03045/10.21105.joss.03045.pdf) :page_facing_up: :point_left:

[2021-02-18 16:21] sabinomaggi commented on #2969
@timtroendle I have written my review report for this paper. Should I insert the report here or by filing an issue in the package repository?

[2021-02-18 16:41] nespinoza commented on #3026
Hi @arfon, @rodluger --- would love to review this submission, but I can't promise a speedy review. If a review by March 12 works, would be happy to take this.

[2021-02-18 16:42] rodluger commented on #3026
@nespinoza @arfon No worries.  March 12 works for me. Thanks!

[2021-02-18 16:47] timtroendle commented on #2969
@sabinomaggi, that's great to hear. I seen you have started ticking the boxes in the checklist above and I assume you have comments to all unticked boxes. Could you open issues in the package repository for the things that need changes in your opinion? And could you mention this issue here in those issues, so as to link the issues?

[2021-02-18 16:53] MamadouSDiallo commented on #2908
Hi @arfon here is a list of reviewers who could be good candidates
soodoku, alexhanna, akbaritabar, rchew, mbod, acolum, stulacy

[2021-02-18 16:56] sabinomaggi commented on #2969
@timtroendle Yes of course. Therefore each item (eg., lack of detailed documentation) also becomes an issue in the repo (with links here)?

[2021-02-18 17:01] timtroendle commented on #2969
@sabinomaggi  Exactly, but you do not need to open an individual issue per item on the checklist. It's up to you how fine-grained you believe the issues need to be.

[2021-02-18 17:08] xuanxu commented on #2825
@whedon set v1.13.0 as version

[2021-02-18 17:08] whedon commented on #2825
OK. v1.13.0 is the version.

[2021-02-18 17:10] xuanxu commented on #2825
@whedon set 10.5281/zenodo.4548744 as archive

[2021-02-18 17:10] whedon commented on #2825
OK. <a href="https://doi.org/10.5281/zenodo.4548744" target="_blank">10.5281/zenodo.4548744</a> is the archive.

[2021-02-18 17:10] xuanxu commented on #2825
@whedon accept

[2021-02-18 17:10] whedon commented on #2825
[code]

[2021-02-18 17:11] whedon commented on #2825
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2090

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2090, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-18 17:11] whedon commented on #2825
[code]

[2021-02-18 17:38] aaronspring commented on #2781
Hey @dhhagan, we are ready. the final version is now in master: https://github.com/pangeo-data/climpred/tree/master/joss

[2021-02-18 17:39] aaronspring commented on #2781
thank you very much for your reviews @neerajdhanraj and @samjsilva91

[2021-02-18 17:44] Sbozzolo commented on #3003
Is there any update on this submission?

Thanks

[2021-02-18 17:53] lorenanicole commented on #2908
@whedon assign me as editor

[2021-02-18 17:53] whedon commented on #2908
OK, the editor is @lorenanicole

[2021-02-18 17:54] lorenanicole commented on #2908
soodoku, alexhanna, akbaritabar, rchew, mbod, acolum, stulacy

@MamadouSDiallo I'll be taking over as your editor for this, thank you for the list of reviewer candidates!

[2021-02-18 17:55] lorenanicole commented on #2908
👋 @alexhanna would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-02-18 17:56] lorenanicole commented on #2908
:wave: @stulacy would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-02-18 17:56] Jammy2211 commented on #2825
@whedon generate pdf

[2021-02-18 17:57] arfon commented on #2855
@whedon generate pdf

[2021-02-18 17:57] whedon commented on #2825
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: :point_left:

[2021-02-18 17:58] whedon commented on #2855
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02855/joss.02855/10.21105.joss.02855.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02855/joss.02855/10.21105.joss.02855.pdf) :page_facing_up: :point_left:

[2021-02-18 17:58] arfon commented on #2855
@whedon check references

[2021-02-18 17:59] whedon commented on #2855
[code]

[2021-02-18 17:59] gkthiruvathukal commented on #2972
@arcuri82 Are you on Mac or Windows? (I'm assuming one of those two since you're not on Linux.) Still waiting on a second reviewer. I will be sending out another invite shortly if I don't hear back from @kuangmeng.

[2021-02-18 18:00] gkthiruvathukal commented on #2972
And thank you for your early input, @arcuri82!

[2021-02-18 18:01] arfon commented on #2855
@JannisHoch - are the latest changes on the `joss_review` branch?

[2021-02-18 18:14] oliviaguest commented on #3042
@whedon add @RealPolitiX as reviewer

[2021-02-18 18:14] whedon commented on #3042
OK, @RealPolitiX is now a reviewer

[2021-02-18 18:16] oliviaguest commented on #3042
Oooh, and also: 👋 @RealPolitiX welcome! Make sure to read the instructions above, accept the invitation, etc.

Thank you all again!

[2021-02-18 18:25] JannisHoch commented on #2855
@arfon yes they are. And all put into a zenodo release already. But it's somehow not what wheedon is producing...

[2021-02-18 18:40] timtroendle commented on #2769
@sahilseth @jgoldfar We need to proceed. Please let me know whether you can finish your review within the next two weeks or whether you prefer to drop the review.

[2021-02-18 18:41] timtroendle commented on #2769
@whedon add @myousefi2016 as reviewer.

[2021-02-18 18:41] whedon commented on #2769
OK, @myousefi2016 is now a reviewer

[2021-02-18 18:41] whedon commented on #3010
:wave: @mcavs, please update us on how your review is going (this is an automated reminder).

[2021-02-18 18:49] bradyrx commented on #2781
Thank you @neerajdhanraj and @samjsilva91 for your time and comments! We really appreciate it.

[2021-02-18 18:59] djmitche commented on #2924
Not to throw myself under a bus that others seem to be successfully avoiding, but .. I know a bit of React and a lot of JS and can take a look.

[2021-02-18 19:07] sabinomaggi commented on #2969
@timtroendle @kuadrat

In this paper the authors present a new Python package, `data-slicer`, whose main goal is to provide fast visualization of 3D data. Unfortunately, the actual presentation of the `data-slicer` package is too short to be useful (about 6 lines of text) and the authors quickly focus on the graphical tool built upon the package (`PIT`), which looks as the real focal point of the

[2021-02-18 19:14] vijaysm commented on #2924
Unfortunately I don't have enough experience with JavaScript and can't do
justice to review the submission. But the tool description does sound
interesting and can offer some comments if I get the time to play with it.
Best.

On Thu., Feb. 18, 2021, 13:59 Dustin J. Mitchell, <notifications@github.com>
wrote:

[2021-02-18 19:35] myousefi2016 commented on #2769
Hi @timtroendle, thanks for giving me this opportunity to review [ropenblas](https://github.com/prdm0/ropenblas). One quick comment for @prdm0 to speed up the review process a bit: The software paper is great and describes very interesting and useful details. I just reflected that in my evaluation in the **Software paper** section. But, for _Quality of writing_: I suggest to double check with an n

[2021-02-18 20:08] kakearney commented on #3002
I did some brief experimenting with this code, but so far have hit a few different problems that are preventing any in-depth analysis.

**Issue 1**

First, I encountered the same errors that @agahkarakuzu mentioned above when first opening the GUI and clicking the "Model" button without changing any of the default options.  It sounds like that problem was diagnosed, so I'll await an update with th

[2021-02-18 20:09] Jammy2211 commented on #2825
@whedon generate pdf

[2021-02-18 20:10] whedon commented on #2825
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02825/joss.02825/10.21105.joss.02825.pdf) :page_facing_up: :point_left:

[2021-02-18 20:17] Jammy2211 commented on #2825
Spotted an issue at the last minute, but updated the GitHub tag so we can still use 1.13.0. Looks like everything is good to go!

[2021-02-18 22:24] somefunAgba commented on #3002
@kakearney thanks for the robust feedback.
Issue 1 is the same with Issue 2. The problem being single quoted arguments do not allow double quoted calls in versions below R200a. I have fixed this.
Issue 3: Thanks for that, I will comment out hose housekeeping functions. They are only in a few files. Used them to keep my workspace less cluttered, kind of a working preference for me. I easily get irr

[2021-02-18 22:47] prdm0 commented on #2769
Dear @myousefi2016 , thanks for the suggestion. I will revise the text as suggested. I look forward to the other suggestions, if any, in [**issues**](https://github.com/prdm0/ropenblas/issues) of the package project in the Github. Kind regards.

[2021-02-18 23:23] eloisabentivegna commented on #3003
Hi @Sbozzolo, I am currently looking for reviewers. Feel free to suggest good candidates, if you know of any!

[2021-02-18 23:31] Mmj94 commented on #2578
Hi @emilljungberg,

I updated the manuscript with your latest comments:

1. Modified the noise simulation experiment (Figure 2) from Cartesian to EPI trajectory to make it consistent.
2. Improved regions on the images after correction (Figure 3) are now indicated with an arrow.

As per your questions:

I believe this field map is more "realistic" and resembles more a brain field map.

Inside the i

[2021-02-18 23:31] Mmj94 commented on #2578
@whedon generate pdf

[2021-02-18 23:32] whedon commented on #2578
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02578/joss.02578/10.21105.joss.02578.pdf) :page_facing_up: :point_left:

[2021-02-19 00:24] adamhsparks commented on #2948
Thanks for the reminder. This is on my to-do list for today.

[2021-02-19 00:36] Balaje commented on #2939
@diehlpk I have updated the paper.

[2021-02-19 00:36] Balaje commented on #2939
@whedon generate pdf

[2021-02-19 00:37] whedon commented on #2939
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02939/joss.02939/10.21105.joss.02939.pdf) :page_facing_up: :point_left:

[2021-02-19 01:14] Sbozzolo commented on #3003
I think that maintainers of the Einstein Toolkit could be a good fit. Other than that, I don't have any suggestion.

Thanks again

[2021-02-19 01:57] jordanperr commented on #2171
@whedon generate pdf from branch main

[2021-02-19 01:57] whedon commented on #2171
[code]

[2021-02-19 01:57] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2021-02-19 02:07] jordanperr commented on #2171
@whedon generate pdf from branch main

[2021-02-19 02:08] whedon commented on #2171
[code]

[2021-02-19 02:08] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2021-02-19 02:12] jordanperr commented on #2171
@sjpfenninger I think we are finally done! Everything has been merged into the main branch and the version for publication in JOSS has been tagged "v2.1"

Repo: https://github.com/NREL/OpenOA
Paper Branch: main
Tag: v2.1
Zenodo DOI: 10.5281/zenodo.4549876

We made a few last minute tweaks to the paper, which are listed here:

- Changed the order of some authors to reflect the new reality of the co

[2021-02-19 04:49] mjsottile commented on #3028
Sorry - I'm running a bit behind due to power + internet outages from weather in the Pacific Northwest in the last week.  I'll be soliciting reviewers shortly.

[2021-02-19 04:55] mjsottile commented on #3028
:wave: @JaroslavHron, @vyasr, @sivaramambikasaran Would you be interested in reviewing this submission for JOSS?  I believe you would be a fit for this work based on your areas of interest listed in our list of potential reviewers.

[2021-02-19 07:18] adamhsparks commented on #2948
Overall the package is well written and I'm impressed with the real-world use-case examples in the vignettes. This will be a great benefit to the community by providing an easy to use resource for a reproducible workflow that centralises data fetching for this data resource. Other tools that offer access to this resource are discussed, along with the advantages of this tool over them.

The contrib

[2021-02-19 09:12] arfon commented on #2855
Right, so we need to be explicit with Whedon where to check (otherwise it just uses the default branch).

[2021-02-19 09:12] arfon commented on #2855
@whedon generate pdf from branch joss_review

[2021-02-19 09:12] whedon commented on #2855
[code]

[2021-02-19 09:13] whedon commented on #2855
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02855/joss.02855/10.21105.joss.02855.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02855/joss.02855/10.21105.joss.02855.pdf) :page_facing_up: :point_left:

[2021-02-19 09:17] arfon commented on #2855
@whedon check references from branch joss_review

[2021-02-19 09:17] whedon commented on #2855
[code]

[2021-02-19 09:17] whedon commented on #2855
[code]

[2021-02-19 09:22] arfon commented on #2855
@whedon set 10.5281/zenodo.4548904 as archive

[2021-02-19 09:22] whedon commented on #2855
OK. <a href="https://doi.org/10.5281/zenodo.4548904" target="_blank">10.5281/zenodo.4548904</a> is the archive.

[2021-02-19 09:24] arfon commented on #2855
@sbenthall @JannisHoch - I've updated the submission with the Zenodo archive. Next steps here are:

- Run `@whedon accept from branch joss_review `

Or, have @JannisHoch merge their changes into the default branch on their repository which means you then would need to run:

- `@whedon accept`

In both cases, the `@whedon accept` command will produce the final PDF proofs and notify the EiC on rotat

[2021-02-19 09:45] JannisHoch commented on #2855
@arfon
many thanks for fixing this.

@arfon @sbenthall
I have merged branch `joss_review` into default (which is `dev`, or does whedon choosing `master` as default by default?).

[2021-02-19 10:03] mikldk commented on #3004
@juliensiebert, @acguidoum: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2021-02-19 10:56] arfon commented on #2855
@JannisHoch - Whedon will use whatever the default is which sounds like it's `dev` so I think we should be good to go here.

[2021-02-19 10:57] arfon commented on #3026
@whedon add @nespinoza as reviewer

[2021-02-19 10:57] whedon commented on #3026
OK, @nespinoza is now a reviewer

[2021-02-19 10:58] arfon commented on #3026
Thanks @nespinoza! @rodluger - I'll leave this in the pre-review state for a little longer while we try and find a second reviewer.

[2021-02-19 11:03] JannisHoch commented on #2855
indeed, then we are good to go!

[2021-02-19 12:35] pdebuyl commented on #2996
Hello @navidcy I have contacted other potential reviewers for the time being, so this should not be an issue. If I have to extend my search, I will consider the question.

[2021-02-19 13:10] xuanxu commented on #2987
@ygrange, @astrom-tom would you be willing to review this paper? I think your knowledge of Astrophysics and Python makes both of you a great fit for this submission.

[2021-02-19 13:49] ygrange commented on #2987
Looks cool (I don't really have a radio telescope at hand to test it against though). But I'd be happy to have a look at it :)

[2021-02-19 13:55] 0xCoto commented on #2987
@ygrange - Thank you very much for agreeing to review the paper. As it is understandably unlikely that a reviewer would have access to appropriate hardware, we have included an example observation file obtained with Virgo on the repository, for software testing and verification purposes: https://github.com/0xCoto/Virgo/tree/master/joss_example

[2021-02-19 15:22] emilljungberg commented on #2578
Hi @Mmj94

The PDF looks nice, I think I see the changes in the phantom data without the circles so that's greatly appreciated. I don't have any further comments on the manuscript then.

However, after these changes to the examples I downloaded the code again and tried to replicate the results from the paper but I'm afraid I'm not able to. When I run
[code]
It prints a field map that looks like th

[2021-02-19 15:37] ethanwhite commented on #2975
Thanks for the reminder @kbarnhart! I've now completed my review and checked everything excepted `Statement of need` in the `Documentation` section. As @molgor noted this is well covered in the paper but generally absent from the `README` and website. I think a few sentences on both should take care of this.

I checked two boxes that @molgor didn't so I'll briefly note my thinking:
* I considered

[2021-02-19 16:14] JaroslavHron commented on #3028
Hi, yes I can review this submission.

On 19/02/2021 05:55, Matthew Sottile wrote:

[2021-02-19 16:53] xuanxu commented on #2987
@whedon assign @ygrange as reviewer

[2021-02-19 16:53] whedon commented on #2987
OK, @ygrange is now a reviewer

[2021-02-19 16:54] xuanxu commented on #2987
@ygrange great, thanks! I'll start the review issue once we have the second reviewer. Stay tuned!

[2021-02-19 17:25] sivaramambikasaran commented on #3028
Nope. Tied with other work.

[2021-02-19 17:59] molgor commented on #2975
Hi @kbarnhart,
I agree.  I'm happy to mark the missing items if @ghislainv accepts @ethanwhite 's PR.

Congratulations @ghislainv, it is a really neat work!

[2021-02-19 18:41] mcavs commented on #3010
Hi @marcosvital, I am agree with @osorensen and @clauswilke.

I think an illustrative example is needed. Other than that, I have no further comments.

Very clear and fluent manuscript!

[2021-02-19 18:43] sbenthall commented on #2855
Thanks for your help @arfon I didn't know that about whedon and branches

[2021-02-19 18:43] sbenthall commented on #2855
@whedon accept from branch joss_review

[2021-02-19 18:43] whedon commented on #2855
[code]

[2021-02-19 18:44] whedon commented on #2855
[code]

[2021-02-19 18:44] whedon commented on #2855
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2091

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2091, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-19 18:47] sbenthall commented on #2855
@whedon accept deposit=true from branch joss_review

[2021-02-19 18:47] whedon commented on #2855
I'm sorry @sbenthall, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-02-19 18:48] sbenthall commented on #2855
@JannisHoch Congratulations on your acceptance. Thanks for your patience with the (long!) reviewing process.

[2021-02-19 18:53] sbenthall commented on #2855
Oh, whoops. Overstepped my authority there! I guess we have to wait for an editor-in-chief...

[2021-02-19 18:55] JannisHoch commented on #2855
@sbenthall just to inform you, I have by now merged everything into dev and removed the joss_review branch no long3r exists... But if that's leading to no issues fine by me!

[2021-02-19 19:22] KristinaRiemer commented on #2721
@tpoisot yes, I think at this point we should look for another reviewer. Hopefully @kellykochanski is doing alright!

If you have suggestions of reviewers with sufficient expertise that adhere to the [JOSS conflict of interest](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) guidelines, that would be great! I will also check for reviewers from our J

[2021-02-19 19:31] Benjamin-Lee commented on #3004
I'm always happy to help with JOSS reviews but this is out of my area. Sorry I can't help!

[2021-02-19 19:38] kfhiga commented on #2744
Hello @melissawm <https://github.com/melissawm>,

I apologize for the delay, it took me a while to figure everything out.

I have put the annotated tag "0.4.3" on the most recent version of the
software in the Bitbucket repository.

It turns out that LBNL has a subscription to Dryad, so I have created a
dataset (https://doi.org/10.7941/D1Q33B) with the correct title and author
list. I've uploaded

[2021-02-19 19:52] KristinaRiemer commented on #2575
Hi @r-barnes and @mccabete, have you had a chance yet to review the addressing of your issues in the [DYCO repo](https://github.com/holukas/dyco) yet? Please let me know if you need any help.

[2021-02-19 21:40] mjsottile commented on #3028
@whedon assign @JaroslavHron as reviewer

[2021-02-19 21:41] whedon commented on #3028
OK, @JaroslavHron is now a reviewer

[2021-02-19 22:52] arokem commented on #3017
OK. Based on your response and the scope check, we have determined that this is within scope for the journal. I will proceed to find reviewers for this. @maxpumperla : if you have suggestions for reviewers (look [here](https://bit.ly/joss-reviewers)), please send their GitHub user names here (but please do not include the @ sign before their name, so that they are not unnecessarily alerted).

[2021-02-20 02:00] vijaysm commented on #3020
@Kevin-Mattheus-Moerman I can't seem to edit the review checkbox items. Perhaps some permission issues ?

[2021-02-20 05:05] mllg commented on #3010
I've added a reference to the checkmate package in the paper, hope that's okay for everyone.

@whedon generate pdf

@whedon check references

[2021-02-20 05:07] mllg commented on #3010
I propose that we do a CRAN release and update the reviewed version accordingly before proceeding.

[2021-02-20 05:08] mllg commented on #3010
@whedon generate pdf

[2021-02-20 05:08] mllg commented on #3010
@whedon check references

[2021-02-20 05:09] whedon commented on #3010
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: :point_left:

[2021-02-20 05:09] whedon commented on #3010
[code]

[2021-02-20 05:12] mllg commented on #3010
@whedon generate pdf

[2021-02-20 05:13] mllg commented on #3010
@whedon check references

[2021-02-20 05:13] whedon commented on #3010
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: :point_left:

[2021-02-20 05:13] whedon commented on #3010
[code]

[2021-02-20 05:16] mllg commented on #3010
@whedon generate pdf

[2021-02-20 05:17] whedon commented on #3010
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03010/joss.03010/10.21105.joss.03010.pdf) :page_facing_up: :point_left:

[2021-02-20 08:00] arfon commented on #3032
@whedon re-invite @nidhog as reviewer

[2021-02-20 08:00] whedon commented on #3032
The reviewer already has a pending invite.

@nidhog please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-20 08:03] arfon commented on #2855
@whedon accept

[2021-02-20 08:03] whedon commented on #2855
[code]

[2021-02-20 08:05] whedon commented on #2855
[code]

[2021-02-20 08:05] whedon commented on #2855
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2092

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2092, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-20 08:46] Kevin-Mattheus-Moerman commented on #3020
@whedon re-invite @vijaysm as reviewer

[2021-02-20 08:46] whedon commented on #3020
OK, the reviewer has been re-invited.

@vijaysm please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-02-20 10:43] whedon opened #3046 "[PRE REVIEW]: imodels: a python package for fitting interpretable models"
**Submitting author:** @csinva (<a href="http://orcid.org/0000-0003-0318-2340">Chandan Singh</a>)
**Repository:** <a href="https://github.com/csinva/imodels" target ="_blank">https://github.com/csinva/imodels</a>
**Version:** v0.2.7
**Editor:** @vissarion
**Reviewers:** @jungtaekkim, @yxoos
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-02-20 10:43] whedon commented on #3046
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-20 10:43] whedon opened #3047 "[PRE REVIEW]: WhaleMap: a tool to collate and display whale survey results in near real-time"
**Submitting author:** @hansenjohnson (<a href="http://orcid.org/0000-0002-3086-6759">Hansen Johnson</a>)
**Repository:** <a href="https://github.com/hansenjohnson/WhaleMap" target ="_blank">https://github.com/hansenjohnson/WhaleMap</a>
**Version:** v1.0.0
**Editor:** @KristinaRiemer
**Reviewers:** @pjbouchet, @mcsiple
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warn

[2021-02-20 10:43] whedon commented on #3047
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-20 10:44] whedon commented on #3046
[code]

[2021-02-20 10:44] Kevin-Mattheus-Moerman commented on #2951
@whedon invite @kakiac as editor

[2021-02-20 10:44] whedon commented on #2951
@kakiac has been invited to edit this submission.

[2021-02-20 10:44] whedon commented on #3047
Failed to discover a `Statement of need` section in paper

[2021-02-20 10:44] Kevin-Mattheus-Moerman commented on #2951
@kakiac would you be able to help with this submission?

[2021-02-20 10:44] whedon commented on #3047
[code]

[2021-02-20 10:45] whedon commented on #3046
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03046/joss.03046/10.21105.joss.03046.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03046/joss.03046/10.21105.joss.03046.pdf) :page_facing_up: :point_left:

[2021-02-20 10:45] whedon commented on #3046
[code]

[2021-02-20 10:45] whedon commented on #3047
[code]

[2021-02-20 10:45] Kevin-Mattheus-Moerman commented on #3013
@whedon invite @sbenthall as editor

[2021-02-20 10:45] whedon commented on #3013
@sbenthall has been invited to edit this submission.

[2021-02-20 10:46] whedon commented on #3047
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03047/joss.03047/10.21105.joss.03047.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03047/joss.03047/10.21105.joss.03047.pdf) :page_facing_up: :point_left:

[2021-02-20 10:46] Kevin-Mattheus-Moerman commented on #3013
@sbenthall could you help with this submission?

[2021-02-20 10:48] Kevin-Mattheus-Moerman commented on #3018
@whedon assign @Kevin-Mattheus-Moerman as editor

[2021-02-20 10:48] whedon commented on #3018
OK, the editor is @Kevin-Mattheus-Moerman

[2021-02-20 10:49] Kevin-Mattheus-Moerman commented on #3030
@whedon generate pdf

[2021-02-20 10:49] whedon commented on #3030
PDF failed to compile for issue #3030 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:155:in `new'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a

[2021-02-20 10:54] Kevin-Mattheus-Moerman commented on #3030
@openjournals/dev can you help trouble shoot this error?

[2021-02-20 10:57] Kevin-Mattheus-Moerman commented on #3031
@whedon check repository

[2021-02-20 10:58] Kevin-Mattheus-Moerman commented on #2911
@whedon set 10.5281/zenodo.4548917 as archive

[2021-02-20 10:58] whedon commented on #2911
OK. <a href="https://doi.org/10.5281/zenodo.4548917" target="_blank">10.5281/zenodo.4548917</a> is the archive.

[2021-02-20 10:58] Kevin-Mattheus-Moerman commented on #2911
whedon generate pdf

[2021-02-20 10:59] arfon commented on #2825
@whedon accept

[2021-02-20 10:59] whedon commented on #2825
[code]

[2021-02-20 11:01] whedon commented on #2825
[code]

[2021-02-20 11:01] Kevin-Mattheus-Moerman commented on #2911
@whedon generate pdf

[2021-02-20 11:01] whedon commented on #2825
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2093

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2093, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-02-20 11:02] whedon commented on #2911
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02911/joss.02911/10.21105.joss.02911.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02911/joss.02911/10.21105.joss.02911.pdf) :page_facing_up: :point_left:

[2021-02-20 11:05] arfon commented on #2825
@whedon accept deposit=true

[2021-02-20 11:05] whedon commented on #2825
[code]

[2021-02-20 11:10] Kevin-Mattheus-Moerman commented on #2911
@pariterre thanks for making those changes. I've ticked those boxes. One more point remains which I forgot to add to that list:

- [ ] Recently we changed [our criteria](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) to require that papers have a `Statement of need` section. Can you add such a heading in the paper and collect/formulate/move text there with a de

[2021-02-20 11:11] whedon commented on #2825
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1363083737249026051) 👈 🐦🐦🐦

[2021-02-20 11:11] whedon commented on #2825
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2094
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02825](https://doi.org/10.21105/joss.02825)
2. If everything looks g

[2021-02-20 11:11] Kevin-Mattheus-Moerman commented on #3033
@whedon generate pdf

[2021-02-20 11:14] xuanxu commented on #3030
In the paper metadata the `orcid` field for Odile Stalder is empty. There are two options to fix the error, adding a value or removing the orcid field for that author.

[2021-02-20 11:15] whedon commented on #3033
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03033/joss.03033/10.21105.joss.03033.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03033/joss.03033/10.21105.joss.03033.pdf) :page_facing_up: :point_left:

[2021-02-20 11:17] Kevin-Mattheus-Moerman commented on #3036
Thanks @Alcampopiano for the clarifying comments.

[2021-02-20 11:18] Kevin-Mattheus-Moerman commented on #3036
@kakiac @lorenanicole could one of you edit this submission?

[2021-02-20 11:19] Kevin-Mattheus-Moerman commented on #3036
@whedon invite @lorenanicole as editor

[2021-02-20 11:19] whedon commented on #3036
@lorenanicole has been invited to edit this submission.

[2021-02-20 11:19] whedon commented on #3031
[code]

[2021-02-20 11:19] whedon opened #3048 "[PRE REVIEW]: IDCeMPy: Python Package for Inflated Discrete Choice Models"
**Submitting author:** @hknd23 (<a href="http://orcid.org/0000-0002-6234-7232">Nguyen Huynh</a>)
**Repository:** <a href="https://github.com/hknd23/idcempy" target ="_blank">https://github.com/hknd23/idcempy</a>
**Version:** 0.0.1
**Editor:** @galessiorob
**Reviewers:** @cmaimone, @jungtaekkim
**Managing EiC:** Kevin M. Moerman

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-02-20 11:19] whedon commented on #3048
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-02-20 11:20] whedon commented on #3048
[code]

[2021-02-20 11:21] Kevin-Mattheus-Moerman commented on #3043
@dpsanders @dfm could one of you edit this submission? I think you have a lot on your plates already so no worries if you can't. Thanks!

[2021-02-20 11:21] whedon commented on #3048
[code]

[2021-02-20 11:21] whedon commented on #3048
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03048/joss.03048/10.21105.joss.03048.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03048/joss.03048/10.21105.joss.03048.pdf) :page_facing_up: :point_left:

[2021-02-20 11:23] Kevin-Mattheus-Moerman commented on #3044
@vissarion @arfon would this be a nice first submission to handle?

[2021-02-20 11:25] arfon commented on #2825
@aureliocarnero, @zonca - many thanks for your reviews here and to @xuanxu for editing this submission.

JOSS relies upon the volunteer efforts of folks like yourselves - we simply wouldn't be able to do this without you! ✨

@Jammy2211 - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-02-20 11:25] #2825 closed

[2021-02-20 11:25] Kevin-Mattheus-Moerman commented on #3031
@arfon @jedbrown can you respond to the authors comments :point_up: thanks

[2021-02-20 11:25] whedon commented on #2825
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02825/status.svg)](https://doi.org/10.21105/joss.02825)

**We need your help!**

Journal of Open Source Softwa

[2021-02-20 11:25] arfon commented on #3044
@whedon invite @vissarion as editor

[2021-02-20 11:25] whedon commented on #3044
@vissarion has been invited to edit this submission.

[2021-02-20 11:26] Kevin-Mattheus-Moerman commented on #3033
@whedon check references

[2021-02-20 11:26] whedon commented on #3033
[code]

[2021-02-20 11:27] arfon commented on #3043
If @dpsanders or @dfm can't take it I can.

[2021-02-20 11:27] Kevin-Mattheus-Moerman commented on #3033
@vprusso see :point_up:, can you remove the `https://doi.org/` prefix to fix these references?