[2019-07-24 16:48] HaoZeke commented on #1592
Hi, @eidheim I've initiated the review process and hope to finish in the next couple of days. I will be opening pull requests and issues on the repository tracker, but I might also ask for clarifications here (typically with matters pertaining to the paper itself). In addition, for the `paper.md`, I request that a copy to make changes on hackmd.io is made available to me and @ts-adi  since it is n

[2019-07-24 16:50] kyleniemeyer commented on #1328
Thanks @zhangning737. Could you next merge the pull request I just submitted, which made a few minor edits to the paper? https://github.com/zhangning737/rdbsp/pull/7

[2019-07-24 17:29] kthyng commented on #1530
Great! Please go to your Zenodo deposit and correct the metadata (check both title and author list).

[2019-07-24 17:32] kthyng commented on #1550
@dombennett are you interested and available to do a review on this JOSS submission? We ask for reviews within about 3 weeks, and you can get more information [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2019-07-24 17:53] jayten commented on #1555
The compilation problem on MacOSX has been sorted out. The following piece of code in the CMake module "SetFortranFlag.cmake" was creating a problem.
[code]
So, the issue was corrected on [**Fixed the Compatibility issue of MacOSX for CMake script**](https://github.com/FEST3D/FEST-3D/pull/4) branch and merged with master.

The latest state of the code on master branch has been test on OSX version

[2019-07-24 18:01] gvegayon commented on #1566
OK @JonasMoss @terrytangyuan, I've finished my first round. Overall, everything looks good (very nice job @JonasMoss!), and there are only a few issues that I would like the authors to address. The most important is regarding related R packages.

[2019-07-24 18:10] finsberg commented on #1539
@whedon generate pdf

[2019-07-24 18:10] whedon commented on #1539
[code]

[2019-07-24 18:10] whedon commented on #1539
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01539/joss.01539/10.21105.joss.01539.pdf)

[2019-07-24 18:22] finsberg commented on #1539
@whedon generate pdf

[2019-07-24 18:22] whedon commented on #1539
[code]

[2019-07-24 18:22] whedon commented on #1539
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01539/joss.01539/10.21105.joss.01539.pdf)

[2019-07-24 18:47] eidheim commented on #1592
@HaoZeke  @ts-adi Thank you for reviewing this paper, and thank you all for the comments already made in #1579.

I invited @HaoZeke and @gkthiruvathukal to comment on the paper on hackmd.io. I'm new to hackmd.io, and could not find a way to invite @ts-adi since I could not find an email address on your GitHub profile. @ts-adi you can mail me on eidheim@gmail.com, and I'll invite you to comment on

[2019-07-24 18:49] arokem commented on #1590
👋 @thechymera : would you be willing to review this paper for JOSS?

[2019-07-24 18:59] tingyu66 commented on #1577
I had a linking error when trying to compile on macOS and opened an issue here: https://github.com/fcdimitr/sgtsnepi/issues/2.

[2019-07-24 19:11] rabdill commented on #1533
The only sticking point, for me at least, is the lack of testing, but I am a little unclear about what the requirement is—would you be able to clarify, @csoneson?

**Short version:** Currently, the only form of testing available for TIMS is extensive user documentation that describes intended behavior. This is helpful for reviewers, but not for future contributors, who will have no systematic way

[2019-07-24 19:19] eidheim commented on #1592
I update paper.md based on feedback in https://github.com/openjournals/joss-reviews/issues/1579#issuecomment-514678457 in commit https://gitlab.com/eidheim/Simple-Web-Server/commit/5d89bbcd0fdcba3584fae60fd50dec5da9b6e202. I also updated the paper on hackmd.io since this change was suggested in the pre-review, but I guess going forward I should not continuously update the paper on hackmd.io?

[2019-07-24 20:03] whedon commented on #1556
[code]

[2019-07-24 20:12] csoneson commented on #1560
@whedon assign @BarryDeCicco as reviewer

[2019-07-24 20:12] whedon commented on #1560
OK, the reviewer is @BarryDeCicco

[2019-07-24 20:12] csoneson commented on #1560
@whedon add @joethorley as reviewer

[2019-07-24 20:12] whedon commented on #1560
OK, @joethorley is now a reviewer

[2019-07-24 20:12] csoneson commented on #1560
@BarryDeCicco, @joethorley - thanks a lot! I will close this pre-review issue now and open the main review issue, where the review will take place.

[2019-07-24 20:13] csoneson commented on #1560
@whedon start review

[2019-07-24 20:13] whedon opened #1593 "[REVIEW]: ccostr: An R package for estimating mean costs with censored data"
**Submitting author:** @LarsHernandez (<a href="http://orcid.org/0000-0002-3715-8528">Lars Nielsen</a>)
**Repository:** <a href="https://github.com/HaemAalborg/ccostr" target ="_blank">https://github.com/HaemAalborg/ccostr</a>
**Version:** v0.1.0
**Editor:** @csoneson
**Reviewers:** @joethorley, @tgerke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3386740" target="_blank">10.5281/zenodo.33

[2019-07-24 20:13] whedon commented on #1560
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1593. Feel free to close this issue now!

[2019-07-24 20:13] whedon commented on #1593
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @BarryDeCicco, @joethorley it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-07-24 20:13] whedon commented on #1593
[code]

[2019-07-24 20:13] #1560 closed

[2019-07-24 20:13] whedon commented on #1593
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01593/joss.01593/10.21105.joss.01593.pdf)

[2019-07-24 20:14] csoneson commented on #1593
@BarryDeCicco, @joethorley - please perform your reviews here (see instructions in the issue above). Don't hesitate to ping me if you have any questions!

[2019-07-24 20:15] csoneson commented on #1593
@LarsHernandez - please take a look at the reviewer checklists above and make sure that all the required parts are available in your submission - if not, you can fix that already now, to simplify the review process!

[2019-07-24 21:24] gkthiruvathukal commented on #1579
@gcdeshpande I will keep you in mind for another submission. Thanks for responding!

[2019-07-24 21:25] tristan-salles commented on #1530
sorry didn't check it... I've updated it now.

[![DOI](https://zenodo.org/badge/185154268.svg)](https://zenodo.org/badge/latestdoi/185154268)

[2019-07-24 21:55] terrytangyuan commented on #1572
@whedon generate pdf

[2019-07-24 21:55] whedon commented on #1572
[code]

[2019-07-24 21:55] whedon commented on #1572
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01572/joss.01572/10.21105.joss.01572.pdf)

[2019-07-24 21:57] terrytangyuan commented on #1572
@strengejacke Thanks for your review! I have addressed all the issues. Please let me know if there's anything else I need to resolve.

[2019-07-24 22:01] HaoZeke commented on #1592
@eidheim, actually it would be lengthier to keep discussing small issues pertaining to the paper on issues so my take is to usually just leave comments on hackmd instead for the paper.

Also @gkthiruvathukal I seem to be missing my checklist...

[2019-07-24 22:06] gkthiruvathukal commented on #1592
@whedon list reviewers

[2019-07-24 22:06] whedon commented on #1592
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-07-24 22:07] gkthiruvathukal commented on #1592
@whedon commands

[2019-07-24 22:07] whedon commented on #1592
Here are some things you can ask me to do:

[code]

[2019-07-24 22:08] gkthiruvathukal commented on #1592
@ts-adi I know what I did wrong. I used `@whedon assign` for both of you during pre-review. I am supposed to use `@whedon add` for the second reviewer. Grr.

I hope I can get one of the @openjournals/joss-editors to help me add you.

[2019-07-24 22:13] HaoZeke commented on #1592
As far as I understand, I can just manually edit the first whedon comment in this thread to add myself if that is acceptable, @gkthiruvathukal.

[2019-07-24 22:18] kyleniemeyer commented on #1592
@whedon add @HaoZeke as reviewer

[2019-07-24 22:18] whedon commented on #1592
OK, @HaoZeke is now a reviewer

[2019-07-24 22:19] kyleniemeyer commented on #1592
@HaoZeke you should be good to go now!

[2019-07-24 22:27] kthyng commented on #1530
Great! No problem.

[2019-07-24 22:27] kthyng commented on #1530
@whedon set 10.5281/zenodo.3348340 as archive

[2019-07-24 22:27] whedon commented on #1530
OK. <a href="https://doi.org/10.5281/zenodo.3348340" target="_blank">10.5281/zenodo.3348340</a> is the archive.

[2019-07-24 22:28] kthyng commented on #1530
@whedon set 1.0.0 as version

[2019-07-24 22:28] whedon commented on #1530
OK. 1.0.0 is the version.

[2019-07-24 22:29] kthyng commented on #1530
@openjournals/joss-eics This paper is ready to be taken over! Should be all ready for you!

congrats @tristan-salles and thanks @kbarnhart and @hugoledoux!!

[2019-07-24 22:32] tristan-salles commented on #1530
Thanks all !!!

[2019-07-24 23:16] cMadan commented on #1541
@tjmahr, no problem, thanks for following up!

[2019-07-24 23:23] joethorley commented on #1593
@csoneson and @LarsHernandez

I've made a start on reviewing and filed some issues that require addressing.

I would strongly recommend that the authors study the freely available R packages by Hadley Wickham <http://r-pkgs.had.co.nz> and implement the best practices to R package development detailed in this book.

Although the methods are worthy of publication in JOSS the packaging of the code ne

[2019-07-24 23:38] brmather commented on #1544
I keep getting an internal server error on Zenodo preventing me from updating the title and author fields. Aside from that, the proof looks good.

![Screenshot_2019-07-25 Zenodo](https://user-images.githubusercontent.com/15915881/61835580-bcbcff00-aebf-11e9-9c33-2101789571ac.png)

[2019-07-24 23:57] lheagy commented on #1544
Hmm... Is it possible you have it open in multiple tabs? (I am seeing the banner at the top that says "There us a new version of the upload being edited here")

[2019-07-25 01:56] BarryDeCicco commented on #1593
Please note that this is my first JOSS review, so don't expect perfection.Also, I got hit by a barrage of e-mails, in a very transactional, step-by-step format.

   - Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution.  I was not able to find the list of dependencies; the software installed correc

[2019-07-25 01:58] BarryDeCicco commented on #1593
I have sent some comments; if you didn't get them, please let me know (there are several aliased addresses, so I don't know who is what).
Barry

    On Wednesday, July 24, 2019, 7:23:28 PM EDT, Joe Thorley <notifications@github.com> wrote:

@csoneson and @LarsHernandez

I've made a start on reviewing and filed some issues that require addressing.

I would strongly recommend that the authors study

[2019-07-25 03:18] r-barnes commented on #1550
I'm afraid I'm overloaded at the moment. If you don't find someone in a few weeks, please ping me again. I'm sorry I can't be of more help :-(

[2019-07-25 03:46] kyleniemeyer commented on #1530
Hi @tristan-salles, please merge the PRs I just submitted that fix a few things in the paper: https://github.com/Geodels/bioLEC/pull/11 and https://github.com/Geodels/bioLEC/pull/10, then we'll be good to go.

[2019-07-25 04:00] kyleniemeyer commented on #1530
@whedon generate pdf

[2019-07-25 04:00] whedon commented on #1530
[code]

[2019-07-25 04:00] whedon commented on #1530
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01530/joss.01530/10.21105.joss.01530.pdf)

[2019-07-25 04:03] kyleniemeyer commented on #1530
@whedon accept

[2019-07-25 04:03] whedon commented on #1530
[code]

[2019-07-25 04:04] whedon commented on #1530
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/856

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/856, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-25 04:05] tristan-salles commented on #1530
checked!

[2019-07-25 04:07] kyleniemeyer commented on #1530
@whedon accept deposit=true

[2019-07-25 04:07] whedon commented on #1530
[code]

[2019-07-25 04:08] whedon commented on #1530
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1154241969310380032) 👈 🐦🐦🐦

[2019-07-25 04:08] whedon commented on #1530
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/857
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01530](https://doi.org/10.21105/joss.01530)
2. If everything looks go

[2019-07-25 04:11] kyleniemeyer commented on #1530
Congrats on your submission's publication in JOSS @tristan-salles!

Many thanks to @kbarnhart and @hugoledoux for reviewing, and @kthyng for editing!

[2019-07-25 04:11] #1530 closed

[2019-07-25 04:11] whedon commented on #1530
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01530/status.svg)](https://doi.org/10.21105/joss.01530)

**We need your help!**

Journal of Open Source Softwar

[2019-07-25 05:01] brmather commented on #1544
Ha - that fixed it! Thanks @lheagy it's properly updated now.

[2019-07-25 06:26] omoliavko commented on #1494
@gkthiruvathukal I believe I can complete the checklist quickly if needed. However, if I understand correctly, after I complete the checklist, the article will be finalized, and no further edits will be possible. Are the reviewers satisfied with the current state of the article?

[2019-07-25 07:46] hauschke commented on #1182
@whedon generate pdf

[2019-07-25 07:46] whedon commented on #1182
[code]

[2019-07-25 07:46] whedon commented on #1182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01182/joss.01182/10.21105.joss.01182.pdf)

[2019-07-25 08:10] zhangning737 commented on #1328
@kyleniemeyer thanks for the revisions, already pulled...

[2019-07-25 08:10] bii-absd commented on #1533
@andreysmelter -  Many thanks for your comments!

Installation :
(i) There are some pipelines (external packages) that does not run correctly on Ubuntu LTS 18.04 but fine on LTS 16.0.4, hence installation script checks to ensure pipeline compatibility.
(ii) As per your suggestion, we will rewrite the installation guide using markdown.

Functionality:
(i) My sincere apologies, I have updated the in

[2019-07-25 08:18] ts-adi commented on #1592
@eidheim While I am going through the paper and confirming the code functionality, could you please start putting `doxygen` style comments in your code in the meantime? http://www.doxygen.nl/manual/docblocks.html
This will ensure that when I get to the documentation validation part, you're already close to being done :)
If you need any pointers, [here](https://gitlab.com/toposens/public/ros-packag

[2019-07-25 08:28] eidheim commented on #1592
@ts-adi To make the comments as compact as possible I use `///` instead (see for instance: https://gitlab.com/eidheim/Simple-Web-Server/blob/master/server_http.hpp#L334). This style is mentioned in http://www.doxygen.nl/manual/docblocks.html. But if you much prefer another style I can of course consider changing this:) Make note that while the public functions are documented, there might be privat

[2019-07-25 08:38] GregaVrbancic commented on #1576
Hi @silvandeleemput @terrytangyuan, sorry for a bit of a delay, I was swamped at work. I finally had time to go through the remaining items from the checklist. In addition to the already addressed remarks from @sepandhaghighi, @silvandeleemput please take a look at this issuehttps://github.com/silvandeleemput/memcnn/issues/24

[2019-07-25 08:43] bii-absd commented on #1533
@rabdill - Once again, thanks for your comments!

It is in our understanding from the review criteria that "Authors are strongly encouraged to include an automated test suite covering the core functionality of their software". Hence, an automated test suite does not seem to be mandatory. However, from the perspective of good software engineering practice, your comments are reasonable.

Admittedly,

[2019-07-25 09:38] ts-adi commented on #1592
@eidheim I'm less concerned with how you denote the comment block, and more concerned with the content of the comment. I think the current API comments you have are a good start, but all of them should provide more details about the function (eg, explaining arguments, valid ranges, default values, return values, etc).

In the end, a user should be able to use your code (and have a baseline underst

[2019-07-25 10:33] strengejacke commented on #1572
Thanks, all my raised issues have been addressed satisfactorily.

@arfon I recommend publication.

[2019-07-25 10:37] strengejacke commented on #1541
@whedon generate pdf

[2019-07-25 10:37] whedon commented on #1541
[code]

[2019-07-25 10:38] whedon commented on #1541
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01541/joss.01541/10.21105.joss.01541.pdf)

[2019-07-25 10:49] eidheim commented on #1592
@ts-adi Sure, I'll extend the documentation as you suggest. I'll try complete this before this time Tomorrow.

[2019-07-25 11:22] BarryDeCicco commented on #1541
Please take me off of the list of reviewers. I have received over a dozen e-mails on four projects today.
The first project, yesterday, generated ~30 e-mails to me, most of them not understandable.IMHO, your process for reviewing needs serious work.
Sincerely,
Barry
    On Thursday, July 25, 2019, 6:38:25 AM EDT, whedon <notifications@github.com> wrote:

 👉 Check article proof 📄 👈

—
You are recei

[2019-07-25 11:32] csoneson commented on #1593
@BarryDeCicco Thanks, your comments showed up here. Probably the easiest is to comment directly in this GitHub issue (click on "view it on GitHub" in the bottom of your email), that avoids having to worry about email addresses etc. Also note that there is a checklist in the beginning of this issue, where you should check off the aspects that you find satisfactory in the submission (and either prov

[2019-07-25 11:56] BarryDeCicco commented on #1593
Charlotte, 
Please remove me from your list of reviewers.
Sincerely,
Barry
    On Thursday, July 25, 2019, 7:32:44 AM EDT, Charlotte Soneson <notifications@github.com> wrote:

@BarryDeCicco Thanks, your comments showed up here. Probably the easiest is to comment directly in this GitHub issue (click on "view it on GitHub" in the bottom of your email), that avoids having to worry about email address

[2019-07-25 12:00] csoneson commented on #1533
@rabdill - thanks for raising an important question about the testing. Currently we don't require an automated testing infrastructure (although it is encouraged). However, it is important that there is a clearly documented, _objective_ way to test the functionality of the software. For example, a test data set, clear instructions on how to run it through the software to test all the relevant funct

[2019-07-25 12:09] csoneson commented on #1593
@BarryDeCicco - could you please clarify? Do you no longer wish to be a reviewer for this submission? And/or do you want to be removed from the list of JOSS reviewers for future submissions?

[2019-07-25 12:40] whedon commented on #1556
[code]

[2019-07-25 13:22] gkthiruvathukal commented on #1494
@omoliavko I believe all issues have been addressed thus far. Let's do this. If  @gradvohl and @federeghe have any comments, I'd like to receive these by end of week. If there are no objections by the weekend (any time on earth) I will ask you to tag the release and create the Zenodo archive. We should be able to wrap up (and accept) this submission soon. Thanks for your patience and diligence to

[2019-07-25 13:32] mconlon17 commented on #1182
I have reviewed the proof.  All good.  Thanks to @hauschke for addressing comments.

[2019-07-25 13:48] lheagy commented on #1544
@openjournals/joss-eics, this submission is ready to be published! Congrats @brmather 🎉

[2019-07-25 13:49] gradvohl commented on #1494
I have no other comments.  Best regards.

[2019-07-25 16:10] whedon opened #1594 "[PRE REVIEW]: ASCENDS: Advanced data SCiENce toolkit for Non-Data Scientists"
**Submitting author:** @ornlpmcp (<a href="http://orcid.org/0000-0002-1317-5112">Sangkeun Lee</a>)
**Repository:** <a href="https://github.com/ornlpmcp/ASCENDS" target ="_blank">https://github.com/ornlpmcp/ASCENDS</a>
**Version:** v0.4.0
**Editor:** @terrytangyuan
**Reviewers:** @zhampel, @jrbourbeau

**Author instructions**

Thanks for submitting your paper to JOSS @ornlpmcp. **Currently, there i

[2019-07-25 16:10] whedon commented on #1594
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-25 16:10] whedon commented on #1594
[code]

[2019-07-25 16:10] whedon commented on #1594
PDF failed to compile for issue #1594 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (orcid.org/0000-0002-1317-5112) for Sangkeun Lee (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:121:in `each'
	from /app

[2019-07-25 16:11] whedon opened #1595 "[PRE REVIEW]: containerit: Generating Dockerfiles for reproducible research with R"
**Submitting author:** @nuest (<a href="http://orcid.org/0000-0002-0024-5046">Daniel Nüst</a>)
**Repository:** <a href="https://github.com/o2r-project/containerit/" target ="_blank">https://github.com/o2r-project/containerit/</a>
**Version:** v0.5.0
**Editor:** @terrytangyuan
**Reviewers:** @vsoch

**Author instructions**

Thanks for submitting your paper to JOSS @nuest. **Currently, there isn't a

[2019-07-25 16:11] whedon commented on #1595
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-25 16:11] whedon commented on #1595
[code]

[2019-07-25 16:11] whedon commented on #1595
Failed to discover a valid open source license.

[2019-07-25 16:11] whedon commented on #1595
PDF failed to compile for issue #1595 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: authors (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b

[2019-07-25 16:18] kyleniemeyer commented on #1328
@whedon generate pdf

[2019-07-25 16:18] whedon commented on #1328
[code]

[2019-07-25 16:18] whedon commented on #1328
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01328/joss.01328/10.21105.joss.01328.pdf)

[2019-07-25 16:19] kyleniemeyer commented on #1328
@whedon accept

[2019-07-25 16:19] whedon commented on #1328
[code]

[2019-07-25 16:20] whedon commented on #1328
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/858

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/858, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-25 16:21] BarryDeCicco commented on #1328
I do not want to be involved with JOSS any more.  I would really appreciate it if somebody would remove me from this.  I've running at a rate of 50 e-mails this morning alone.
Barry

    On Thursday, July 25, 2019, 12:20:10 PM EDT, whedon <notifications@github.com> wrote:

Check final proof 👉 openjournals/joss-papers#858

If the paper PDF and Crossref deposit XML look good in openjournals/joss-pap

[2019-07-25 16:22] kyleniemeyer commented on #1556
Hi @mmhs013, one final thing: could you edit the Zenodo archive to make the title match the paper title?

[2019-07-25 16:33] kyleniemeyer commented on #1556
Also, @mmhs013 please merge the two pull requests I just submitted, which fix a few things in the paper and references: https://github.com/mmhs013/pyMannKendall/pull/9 and https://github.com/mmhs013/pyMannKendall/pull/10

[2019-07-25 16:35] kyleniemeyer commented on #1328
Hi @BarryDeCicco, you are likely subscribed to all notifications from the `joss-reviews` repo, which happens by default when you are added as a reviewer. (And would lead to quite a lot of unnecessary notifications.) You can fix this by going to the "Watch" dropdown at the top of the page, and changing to "not watching":

![](https://cloud.githubusercontent.com/assets/4483/20250593/64d7ce48-a9de-11

[2019-07-25 16:36] kyleniemeyer commented on #1328
@whedon accept deposit=true

[2019-07-25 16:36] whedon commented on #1328
[code]

[2019-07-25 16:37] whedon commented on #1328
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1154430479480819713) 👈 🐦🐦🐦

[2019-07-25 16:37] whedon commented on #1328
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/859
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01328](https://doi.org/10.21105/joss.01328)
2. If everything looks go

[2019-07-25 16:46] mmhs013 commented on #1556
@kyleniemeyer, I already update Zenodo title and also merge you two pull requests. Thanks for you help.

[2019-07-25 16:55] kyleniemeyer commented on #1328
Congrats @zhangning737 on your paper's publication in JOSS! Thanks to @dvalters and @srmnitc for reviewing, and @lheagy for editing!

[2019-07-25 16:55] #1328 closed

[2019-07-25 16:55] whedon commented on #1328
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01328/status.svg)](https://doi.org/10.21105/joss.01328)

**We need your help!**

Journal of Open Source Softwar

[2019-07-25 16:56] kyleniemeyer commented on #1556
@whedon generate pdf

[2019-07-25 16:56] whedon commented on #1556
[code]

[2019-07-25 16:56] whedon commented on #1556
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01556/joss.01556/10.21105.joss.01556.pdf)

[2019-07-25 17:00] kyleniemeyer commented on #1556
@whedon accept

[2019-07-25 17:00] whedon commented on #1556
[code]

[2019-07-25 17:00] whedon commented on #1556
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/860

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/860, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-25 17:01] kyleniemeyer commented on #1556
@whedon accept deposit=true

[2019-07-25 17:01] whedon commented on #1556
[code]

[2019-07-25 17:01] whedon commented on #1556
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1154436602413944839) 👈 🐦🐦🐦

[2019-07-25 17:01] whedon commented on #1556
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/861
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01556](https://doi.org/10.21105/joss.01556)
2. If everything looks go

[2019-07-25 17:03] kyleniemeyer commented on #1556
Congrats @mmhs013 on your paper's publication in JOSS! Thanks to  @dhhagan and @rreinecke for reviewing, and @mbobra for editing!

[2019-07-25 17:03] #1556 closed

[2019-07-25 17:03] whedon commented on #1556
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01556/status.svg)](https://doi.org/10.21105/joss.01556)

**We need your help!**

Journal of Open Source Softwar

[2019-07-25 17:18] tingyu66 commented on #1577
I finished my review checklist.

[2019-07-25 17:19] kyleniemeyer commented on #1544
Hi @brmather, please merge the small PR I just submitted with some fixes in the paper: https://github.com/brmather/pycurious/pull/33

[2019-07-25 17:39] trallard commented on #1390
@whedon check references

[2019-07-25 17:39] whedon commented on #1390
[code]

[2019-07-25 17:39] whedon commented on #1390
[code]

[2019-07-25 17:40] trallard commented on #1390
@whedon accept

[2019-07-25 17:41] whedon commented on #1390
[code]

[2019-07-25 17:41] whedon commented on #1390
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/862

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/862, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-25 17:42] trallard commented on #1539
/ooo July 25 to August 19

[2019-07-25 17:46] trallard commented on #1390
@openjournals/joss-eics as the editor of this submission I would like to recommend this for acceptance at JOSS. I am now passing this onto you for the next steps

[2019-07-25 17:50] holtgrewe commented on #1589
@csoneson Is checking that the software is deposited in figshare/zeonodo etc. part of the editor tasks or might this be missing from the checklist?

[2019-07-25 18:08] holtgrewe commented on #1589
OK, the software is runnable and does what it's supposed to do by the user guide and the GIFs on the home page. I cannot speak for content but trust the author that it's the same functionality they used in other published and reviewed research. @urmi-21 I have a number of additional (software engineering) suggestions that I'll open as a separate ticket in the repository.

[2019-07-25 18:32] azazel7 commented on #1485
@gkthiruvathukal

- [x] The tag release is [here](https://github.com/big-data-lab-team/OrpailleCC/releases).
- [x] The Zenodo archive is available [there](https://zenodo.org/record/3266109).
- [x] The metadata has been updated (author list with ORCID, the title of the release).
- [x] There is only one Zenodo DOI and it is 10.5281/zenodo.3266109.

[2019-07-25 18:45] sctyner commented on #1572
@arfon I also recommend publication.

[2019-07-25 18:55] kyleniemeyer commented on #1390
Hi @pierrepo, can you add your coauthor to the Zenodo archive? You should be able to just edit the metadata.

[2019-07-25 18:55] gkthiruvathukal commented on #1485
@whedon set archive 10.5281/zenodo.3266109

[2019-07-25 18:56] gkthiruvathukal commented on #1485
@whedon commands

[2019-07-25 18:56] whedon commented on #1485
Here are some things you can ask me to do:

[code]

[2019-07-25 18:56] gkthiruvathukal commented on #1485
@whedon set 10.5281/zenodo.3266109 as archive

[2019-07-25 18:56] whedon commented on #1485
OK. <a href="https://doi.org/10.5281/zenodo.3266109" target="_blank">10.5281/zenodo.3266109</a> is the archive.

[2019-07-25 18:57] gkthiruvathukal commented on #1485
@whedon set 1.0 as version

[2019-07-25 18:57] whedon commented on #1485
OK. 1.0 is the version.

[2019-07-25 18:57] gkthiruvathukal commented on #1485
@whedon generate pdf

[2019-07-25 18:57] whedon commented on #1485
[code]

[2019-07-25 18:57] whedon commented on #1485
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01485/joss.01485/10.21105.joss.01485.pdf)

[2019-07-25 19:00] kyleniemeyer commented on #1390
@pierrepo also, please merge the small PR I just submitted, which fixes some references in the paper: https://github.com/pierrepo/autoclasswrapper/pull/17

[2019-07-25 19:00] gkthiruvathukal commented on #1485
@openjournals/joss-editors  I recommend that we proceed with accepting this submission.

[2019-07-25 19:07] kyleniemeyer commented on #1485
Hi @azazel7, could you please merge the two small PRs I just submitted, which make a few edits to your paper? https://github.com/big-data-lab-team/OrpailleCC/pull/15 and https://github.com/big-data-lab-team/OrpailleCC/pull/16

[2019-07-25 19:55] BarryDeCicco commented on #1328
Thank you, Kyle!  I’ve set myself to ‘ignoring’.
Barry
    On Thursday, July 25, 2019, 12:36:04 PM EDT, Kyle Niemeyer <notifications@github.com> wrote:

Hi @BarryDeCicco, you are likely subscribed to all notifications from the joss-reviews repo, which happens by default when you are added as a reviewer. (And would lead to quite a lot of unnecessary notifications.) You can fix this by going to the

[2019-07-25 20:12] kyleniemeyer commented on #1485
@whedon generate pdf

[2019-07-25 20:12] whedon commented on #1485
[code]

[2019-07-25 20:12] whedon commented on #1485
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01485/joss.01485/10.21105.joss.01485.pdf)

[2019-07-25 20:17] kyleniemeyer commented on #1485
@whedon accept

[2019-07-25 20:17] whedon commented on #1485
[code]

[2019-07-25 20:17] whedon commented on #1485
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/863

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/863, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-25 20:19] kyleniemeyer commented on #1485
@whedon accept deposit=true

[2019-07-25 20:19] whedon commented on #1485
[code]

[2019-07-25 20:19] whedon commented on #1485
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1154486445261746176) 👈 🐦🐦🐦

[2019-07-25 20:19] whedon commented on #1485
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/864
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01485](https://doi.org/10.21105/joss.01485)
2. If everything looks go

[2019-07-25 20:29] kyleniemeyer commented on #1485
Congrats @azazel7 on your paper's publication in JOSS! Thanks to @sepandhaghighi for reviewing and @gkthiruvathukal for editing!

[2019-07-25 20:29] #1485 closed

[2019-07-25 20:29] whedon commented on #1485
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01485/status.svg)](https://doi.org/10.21105/joss.01485)

**We need your help!**

Journal of Open Source Softwar

[2019-07-25 20:39] lpantano commented on #1583
@whedon add @kevinrue as reviewer

[2019-07-25 20:39] whedon commented on #1583
OK, @kevinrue is now a reviewer

[2019-07-25 20:40] lpantano commented on #1583
@whedon start review

[2019-07-25 20:40] whedon opened #1596 "[REVIEW]: ivis: dimensionality reduction in very large datasets using Siamese Networks"
**Submitting author:** @beringresearch (<a href="http://orcid.org/0000-0001-6727-4688">Ignat Drozdov</a>)
**Repository:** <a href="https://github.com/beringresearch/ivis" target ="_blank">https://github.com/beringresearch/ivis</a>
**Version:** v1.2.4
**Editor:** @lpantano
**Reviewer:** @SaskiaFreytag, @kevinrue
**Archive:** <a href="https://doi.org/10.5281/zenodo.3360634" target="_blank">10.5281/z

[2019-07-25 20:41] whedon commented on #1583
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1596. Feel free to close this issue now!

[2019-07-25 20:41] whedon commented on #1596
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @SaskiaFreytag, @kevinrue it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-07-25 20:41] whedon commented on #1596
[code]

[2019-07-25 20:41] whedon commented on #1596
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01596/joss.01596/10.21105.joss.01596.pdf)

[2019-07-25 20:41] #1583 closed

[2019-07-25 21:33] kyleniemeyer commented on #1390
@whedon generate pdf

[2019-07-25 21:33] whedon commented on #1390
[code]

[2019-07-25 21:33] whedon commented on #1390
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01390/joss.01390/10.21105.joss.01390.pdf)

[2019-07-25 21:35] whedon opened #1597 "[PRE REVIEW]: AltamISA: a Python API for ISA-Tab files"
**Submitting author:** @holtgrewe (<a href="http://orcid.org/0000-0002-3051-1763">Manuel Holtgrewe</a>)
**Repository:** <a href="https://github.com/bihealth/altamisa" target ="_blank">https://github.com/bihealth/altamisa</a>
**Version:** v0.2.0
**Editor:** @lpantano
**Reviewers:** @tleonardi, @dsurujon, @dmnfarrell

**Author instructions**

Thanks for submitting your paper to JOSS @holtgrewe. **Cu

[2019-07-25 21:35] whedon commented on #1597
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-25 21:35] whedon commented on #1597
[code]

[2019-07-25 21:35] whedon commented on #1597
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01597/joss.01597/10.21105.joss.01597.pdf)

[2019-07-25 21:36] kyleniemeyer commented on #1597
Hi @brainstorm, can you edit this submission?

[2019-07-25 21:38] kyleniemeyer commented on #1594
Hi @terrytangyuan, can you edit this submission?

[2019-07-25 21:39] kyleniemeyer commented on #1594
Hi @ornlpmcp, thanks for your submission to JOSS. Please merge the PR I just submitted, which fixes an issue with an ORCID preventing compilation of your paper: https://github.com/ornlpmcp/ASCENDS/pull/1

[2019-07-25 21:40] pierrepo commented on #1390
Dear @trallard thank you for taking care of this manuscript until there :clap:

@kyleniemeyer PR has been accepted and coauthor has been added in the Zenodo archive:
https://zenodo.org/record/3339286

[2019-07-25 21:42] kyleniemeyer commented on #1595
Hi @nuest, while we get started handling this submission, please merge the PR I submitted, which fixes the authors field in the paper: https://github.com/o2r-project/containerit/pull/152

[2019-07-25 21:43] kyleniemeyer commented on #1595
@arfon whedon didn't find a license, but I can see the GPL-3.0 license in the repository: https://github.com/o2r-project/containerit/blob/master/LICENSE

Any ideas? Just ignore?

[2019-07-25 21:49] kyleniemeyer commented on #1595
@lheagy @kthyng  can one of you edit this submission? I realize it's a bit outside your domain, but others are a bit overloaded and Karthik (who I'd normally ship R stuff to) is away for a bit.

[2019-07-25 21:50] kyleniemeyer commented on #1580
Hi @mgymrek, just another ping—we'd like to assign this submission to you.

[2019-07-25 21:50] kyleniemeyer commented on #1580
@whedon generate pdf

[2019-07-25 21:50] whedon commented on #1580
[code]

[2019-07-25 21:50] whedon commented on #1580
PDF failed to compile for issue #1580 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Francis Lavoie, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon/author.rb:57:in `each

[2019-07-25 21:55] kyleniemeyer commented on #1580
Hi @fblavoie, please merge the PR I submitted that attempts to fix some things in your paper: https://github.com/fblavoie/doenova/pull/1

[2019-07-25 21:56] kyleniemeyer commented on #1390
@whedon set 10.5281/zenodo.3339286 as archive

[2019-07-25 21:56] whedon commented on #1390
OK. <a href="https://doi.org/10.5281/zenodo.3339286" target="_blank">10.5281/zenodo.3339286</a> is the archive.

[2019-07-25 21:56] kyleniemeyer commented on #1390
@whedon accept

[2019-07-25 21:56] whedon commented on #1390
[code]

[2019-07-25 21:57] whedon commented on #1390
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/865

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/865, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-25 21:58] kyleniemeyer commented on #1390
@whedon accept deposit=true

[2019-07-25 21:58] whedon commented on #1390
[code]

[2019-07-25 21:59] whedon commented on #1390
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1154511485894197248) 👈 🐦🐦🐦

[2019-07-25 21:59] whedon commented on #1390
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/866
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01390](https://doi.org/10.21105/joss.01390)
2. If everything looks go

[2019-07-25 22:02] terrytangyuan commented on #1594
@whedon assign @terrytangyuan as editor

[2019-07-25 22:02] whedon commented on #1594
OK, the editor is @terrytangyuan

[2019-07-25 22:03] pierrepo commented on #1390
Everything seems OK.
Thanks :tada:

[2019-07-25 22:14] kyleniemeyer commented on #1390
@pierrepo congrats on your paper's acceptance in JOSS! Thanks to @rpetit3 and @lowandrew for reviewing, and @trallard for editing!

[2019-07-25 22:14] #1390 closed

[2019-07-25 22:14] whedon commented on #1390
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01390/status.svg)](https://doi.org/10.21105/joss.01390)

**We need your help!**

Journal of Open Source Softwar

[2019-07-25 22:21] csoneson commented on #1589
@holtgrewe The final zenodo archive is generated at the time when the submission is accepted. So there doesn't have to be one at this time.

[2019-07-25 22:31] pierrepo commented on #1390
Dear @rpetit3 @lowandrew @trallard and @kyleniemeyer
Thank you very much for having helped me to improve this paper and eventually accepted it for publication in JOSS. This was a nice and smooth publishing experience. :clap: :tada:

[2019-07-25 23:21] urmi-21 commented on #1589
@holtgrewe Thanks for the review. I really appreciate your efforts.

[2019-07-26 04:26] jdeligt commented on #1589
The submission is looking good and thanks to the suggestions by @csoneson and @holtgrewe and the subsequent changes by @urmi-21 most checks are looking excellent. I'll be testing it on some real data over the weekend on a cluster and locally to ensure it can install and run on a diverse architecture. If I encounter and deal breakers I'll link the issues here. Any suggestions or minor points I'll r

[2019-07-26 05:59] dvberkel commented on #1531
it was my pleasure. @ts-adi and team, you made awesome software

[2019-07-26 06:04] arfon commented on #1572
Wonderful, thanks @strengejacke and @sctyner. Apologies for being absent over the last few days - I've been taking a few days vacation but it looks like things have been progressing nicely here :grin:

[2019-07-26 06:04] arfon commented on #1572
@terrytangyuan - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2019-07-26 06:05] arfon commented on #1595
Weird, I think this can be safely ignored.

[2019-07-26 06:12] arfon commented on #1182
@whedon generate pdf

[2019-07-26 06:12] whedon commented on #1182
[code]

[2019-07-26 06:12] whedon commented on #1182
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01182/joss.01182/10.21105.joss.01182.pdf)

[2019-07-26 06:13] arfon commented on #1182
@whedon set 10.5281/zenodo.2639714 as archive

[2019-07-26 06:14] whedon commented on #1182
OK. <a href="https://doi.org/10.5281/zenodo.2639714" target="_blank">10.5281/zenodo.2639714</a> is the archive.

[2019-07-26 06:14] arfon commented on #1182
@whedon accept

[2019-07-26 06:14] whedon commented on #1182
[code]

[2019-07-26 06:14] whedon commented on #1182
PDF failed to compile for issue #1182 with the following error:

 sh: 57: Syntax error: newline unexpected
Looks like we failed to compile the Crossref XML

[2019-07-26 06:25] arfon commented on #1182
@sonal-raj - many thanks for your review here and to @jasonclark for editing this submission ✨

@mconlon17 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-07-26 06:25] #1182 closed

[2019-07-26 06:25] whedon commented on #1182
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01182/status.svg)](https://doi.org/10.21105/joss.01182)

**We need your help!**

Journal of Open Source Softwar

[2019-07-26 06:51] nuest commented on #1595
Hi! Thanks for getting things going, and for fixing the error in the `paper.md` rightaway.

[2019-07-26 06:51] nuest commented on #1595
@whedon generate pdf

[2019-07-26 06:51] whedon commented on #1595
[code]

[2019-07-26 06:51] whedon commented on #1595
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01595/joss.01595/10.21105.joss.01595.pdf)

[2019-07-26 07:08] holtgrewe commented on #1597
@dmnfarrel @tleonardi and @dsurujon would be three suitable candidates recently added to the list of volunteers that have specified both Python and bioinformatics as areas of expertise.

[2019-07-26 07:18] nuest commented on #1595
@whedon generate pdf

[2019-07-26 07:18] whedon commented on #1595
[code]

[2019-07-26 07:18] whedon commented on #1595
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01595/joss.01595/10.21105.joss.01595.pdf)

[2019-07-26 07:23] nuest commented on #1595
PDF generation works, and I added some manual breaks in the contained code snippet so the line does not run off the page:

![image](https://user-images.githubusercontent.com/1325054/61932260-2d791f80-af83-11e9-9434-d8140831aab5.png)

**Now**:

![image](https://user-images.githubusercontent.com/1325054/61933814-0c1a3280-af87-11e9-91d0-55a608a3f5ed.png)

[2019-07-26 07:31] eidheim commented on #1592
@ts-adi The documentation has now been improved in https://gitlab.com/eidheim/Simple-Web-Server/commit/ed46b43fa7ff56a605b35a50bb08649dea372928. Thank you again for the feedback so far.

[2019-07-26 07:43] nuest commented on #1595
**Suggested reviewers** from the JOSS list:

- @cole-brokamp
- @vsoch
- @jsta
- @adamhsparks

[2019-07-26 08:00] eidheim commented on #1592
I also added Contributing Guidelines in https://gitlab.com/eidheim/Simple-Web-Server/commit/852281f34713cf8ef60e7bb10d5a20652eaea88e

[2019-07-26 08:03] GregaVrbancic commented on #1576
@terrytangyuan I'm satisfied with the changes made. It looks good to me for publishing.

[2019-07-26 09:59] tleonardi commented on #1597
This seems a very interesting tool, I'd be happy to review the submission.

[2019-07-26 10:14] terrytangyuan commented on #1572
Thanks @strengejacke and @sctyner for your review!

@arfon Here’s the DOI: 10.5281/zenodo.3352038

[2019-07-26 10:20] terrytangyuan commented on #1576
Thank you!

@silvandeleemput - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper ti

[2019-07-26 10:53] dmnfarrell commented on #1597
Yes I'd be willing to review this submission.

[2019-07-26 11:05] labarba commented on #1577
@tingyu66, @rioyokota — Thank you both for completing your review checklist. To move forward with accepting this submission, could we have a statement from you here summarizing your assessment of the software, and giving your recommendation to publish?

[2019-07-26 11:31] vsoch commented on #1595
Yes!

[2019-07-26 12:56] cole-brokamp commented on #1595
I'm currently reviewing a singularity compose manuscript by @vsoch but I can't turn this one down either!  I would love to review as well if I can!

[2019-07-26 13:01] brmather commented on #1544
No problem. Merged to `master` branch.

[2019-07-26 13:41] dsurujon commented on #1597
This looks very interesting! I'm happy to review the submission.

[2019-07-26 15:18] urmi-21 commented on #1589
@jdeligt Looking forward to it. Thank you.

[2019-07-26 15:18] maxibor commented on #1540
@whedon generate pdf

[2019-07-26 15:18] whedon commented on #1540
[code]

[2019-07-26 15:18] whedon commented on #1540
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01540/joss.01540/10.21105.joss.01540.pdf)

[2019-07-26 15:57] kyleniemeyer commented on #1544
@whedon generate pdf

[2019-07-26 15:57] whedon commented on #1544
[code]

[2019-07-26 15:57] whedon commented on #1544
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01544/joss.01544/10.21105.joss.01544.pdf)

[2019-07-26 16:02] kyleniemeyer commented on #1544
@whedon accept

[2019-07-26 16:02] whedon commented on #1544
[code]

[2019-07-26 16:03] whedon commented on #1544
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/867

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/867, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-26 16:13] kyleniemeyer commented on #1544
@whedon accept deposit=true

[2019-07-26 16:13] whedon commented on #1544
[code]

[2019-07-26 16:14] whedon commented on #1544
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1154787023422705664) 👈 🐦🐦🐦

[2019-07-26 16:14] whedon commented on #1544
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/868
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01544](https://doi.org/10.21105/joss.01544)
2. If everything looks go

[2019-07-26 16:16] kyleniemeyer commented on #1544
@brmather congrats on your article's publication in JOSS!

Thanks to  @santisoler and @jessepisel for reviewing, and to @lheagy for editing!

[2019-07-26 16:16] #1544 closed

[2019-07-26 16:16] whedon commented on #1544
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01544/status.svg)](https://doi.org/10.21105/joss.01544)

**We need your help!**

Journal of Open Source Softwar

[2019-07-26 16:16] kyleniemeyer commented on #1597
Thanks @tleonardi @dmnfarrell and @dsurujon for responding so quickly! I am still waiting to get an editor assigned to manage the submission, but I will definitely take you all up on the offer to review.

[2019-07-26 16:17] kyleniemeyer commented on #1597
@whedon add @tleonardi as reviewer

[2019-07-26 16:17] r-barnes commented on #1262
Sorry. Missed the previous message. I'll get to the review shortly.

[2019-07-26 16:21] kyleniemeyer commented on #1595
Thanks @vsoch and @cole-brokamp! We're still waiting to get an editor assigned, but I will definitely take you up on the offers to review. @cole-brokamp you can certainly wait until you have completed your other review.

[2019-07-26 16:24] kyleniemeyer commented on #1561
Hi @j-braun, thanks for your explanation. Yes, please do add some description of the research applications of the software to your paper; this may be most helpful near the beginning.

[2019-07-26 16:26] kyleniemeyer commented on #1561
@danielskatz can you serve as editor for this submission?

[2019-07-26 16:27] whedon opened #1598 "[PRE REVIEW]: openEyeTrack - A high speed multi-threaded eye tracker for head-fixed applications"
**Submitting author:** @chand-lab (<a href="http://orcid.org/0000-0002-1711-590X">Chandramouli Chandrasekaran</a>)
**Repository:** <a href="https://github.com/chand-lab/openEyeTrack" target ="_blank">https://github.com/chand-lab/openEyeTrack</a>
**Version:** v1.0.0
**Editor:** @cMadan
**Reviewers:** @conradsnicta, @thejanzimmermann

**Author instructions**

Thanks for submitting your paper to JOSS

[2019-07-26 16:27] whedon commented on #1598
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-26 16:27] whedon commented on #1598
[code]

[2019-07-26 16:27] whedon commented on #1598
PDF failed to compile for issue #1598 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: tags, authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2019-07-26 16:33] kyleniemeyer commented on #1598
Hi @chand-lab, thanks for your submission to JOSS. Please merge the PR I just submitted to your paper, which makes some necessary fixes to the authors and affiliation fields: https://github.com/chand-lab/openEyeTrack/pull/1

Also, please add ORCIDs for both authors; even after merging my PR, the paper will still not build correctly without those. (If you don't have ORCIDs, you can register for the

[2019-07-26 16:41] kyleniemeyer commented on #1598
@cMadan can you edit this submission?

[2019-07-26 16:45] whedon opened #1599 "[PRE REVIEW]: greta: simple and scalable statistical modelling in R"
**Submitting author:** @goldingn (<a href="http://orcid.org/0000-0001-8916-5570">Nick Golding</a>)
**Repository:** <a href="https://github.com/greta-dev/greta" target ="_blank">https://github.com/greta-dev/greta</a>
**Version:** 0.3.0
**Editor:** @terrytangyuan
**Reviewers:** @lionel68 @joethorley

**Author instructions**

Thanks for submitting your paper to JOSS @goldingn. **Currently, there isn'

[2019-07-26 16:45] whedon commented on #1599
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-26 16:45] whedon commented on #1599
[code]

[2019-07-26 16:45] whedon opened #1600 "[PRE REVIEW]: DscoreApp: An user-friendly web application for computing the Implicit Association Test D-score"
**Submitting author:** @OttaviaE (<a href="http://orcid.org/0000-0001-8552-568X">Ottavia M. Epifania</a>)
**Repository:** <a href="https://github.com/OttaviaE/DscoreApp" target ="_blank">https://github.com/OttaviaE/DscoreApp</a>
**Version:** v1.0.0
**Editor:** @alexhanna
**Reviewers:** @benmarwick, @tomfaulkenberry

**Author instructions**

Thanks for submitting your paper to JOSS @OttaviaE. **Cur

[2019-07-26 16:45] whedon commented on #1600
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-26 16:45] whedon commented on #1600
[code]

[2019-07-26 16:45] whedon commented on #1600
PDF failed to compile for issue #1600 with the following error:

 Can't find any papers to compile :-(

[2019-07-26 16:45] whedon commented on #1599
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01599/joss.01599/10.21105.joss.01599.pdf)

[2019-07-26 16:47] kyleniemeyer commented on #1600
Hi @OttaviaE, thanks for your submission to JOSS!

Unfortunately, we currently only support papers written in Markdown; our documentation has a good example that shows all the features supported: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

Can you please convert your current `paper.Rmd` to the format we support, and let us know when you have? Thanks!

[2019-07-26 16:48] kyleniemeyer commented on #1600
@alexhanna can you edit this submission? Thanks!

[2019-07-26 16:49] danielskatz commented on #1561
@whedon assign @danielskatz as editor

[2019-07-26 16:49] whedon commented on #1561
OK, the editor is @danielskatz

[2019-07-26 16:50] danielskatz commented on #1561
👋 @gcdeshpande & @trp07 - would you be willing to review this JOSS submission?

[2019-07-26 16:50] alexhanna commented on #1600
Sure.

[2019-07-26 16:51] alexhanna commented on #1600
@whedon assign @alexhanna as editor

[2019-07-26 16:51] whedon commented on #1600
OK, the editor is @alexhanna

[2019-07-26 16:51] kyleniemeyer commented on #1599
Hi @usethedata, do you have the bandwidth to edit this submission?

[2019-07-26 16:51] alexhanna commented on #1600
@ottaviae Could you suggest two reviewers for this submission? Please look at the initial message in this issue for our list of reviewers.

[2019-07-26 16:54] danielskatz commented on #1561
👋 @jbasney - would you be willing to review this JOSS submission?  Or perhaps suggest others who would be well-suited.  See the [paper above](https://github.com/openjournals/joss-papers/blob/joss.01561/joss.01561/10.21105.joss.01561.pdf) and [info on JOSS reviewing](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

[2019-07-26 16:55] danielskatz commented on #1573
👋 @jgoldfar - have you had a chance to get started?

[2019-07-26 16:56] danielskatz commented on #1487
👋 @tesch1 - are you ready for reviewers to look at this again?

[2019-07-26 16:59] chand-lab commented on #1598
Hi Kyle,

Yes. Adding orcids. I need to get my undergraduate to get one as well.

best,

Chand

On Fri, Jul 26, 2019 at 12:33 PM Kyle Niemeyer <notifications@github.com>
wrote:

--
Chandramouli Chandrasekaran
Assistant Professor of Anatomy and Neurobiology
Assistant Professor of Psychological and Brain Sciences
Boston University
Boston, MA, USA
http://www.chandlab.org
Ph: 617 358 8359 (MED)

[2019-07-26 17:08] chand-lab commented on #1598
@whedon commands

[2019-07-26 17:08] whedon commented on #1598
Here are some things you can ask me to do:

[code]

[2019-07-26 17:08] chand-lab commented on #1598
@whedon generate pdf

[2019-07-26 17:08] whedon commented on #1598
[code]

[2019-07-26 17:08] whedon commented on #1598
PDF failed to compile for issue #1598 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: tags (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684

[2019-07-26 17:08] OttaviaE commented on #1600
Hi @kyleniemeyer,

I'm sorry, I've just pushed the md file on Github.

Thanks!

[2019-07-26 17:09] chand-lab commented on #1598
@whedon generate pdf

[2019-07-26 17:09] whedon commented on #1598
[code]

[2019-07-26 17:09] whedon commented on #1598
PDF failed to compile for issue #1598 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: tags (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684

[2019-07-26 17:10] kyleniemeyer commented on #1598
@chand-lab my new PR should fix the issue: https://github.com/chand-lab/openEyeTrack/pull/2

[2019-07-26 17:12] kyleniemeyer commented on #1598
@whedon generate pdf

[2019-07-26 17:12] whedon commented on #1598
[code]

[2019-07-26 17:12] whedon commented on #1598
PDF failed to compile for issue #1598 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Jorge (Paolo) Casas (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:121:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems

[2019-07-26 17:13] chand-lab commented on #1598
Yep - let me get a proper orcid for Paolo. I have emailed him :)!

[2019-07-26 17:14] kyleniemeyer commented on #1598
@chand-lab ah, the issue now is that we need an actual ORCID for your coauthor; using zeros will not work. Thanks!

[2019-07-26 17:14] kyleniemeyer commented on #1600
@OttaviaE no worries! But actually, I think the converted Markdown file is still not quite right. We do use the YAML header like what you had before, cite references from the `.bib` file, and support Markdown tables and figures.

I will try to do a quick pass through and fix it up for you.

[2019-07-26 17:15] chand-lab commented on #1598
No problem :)! Just making sure the rest is working. Paolo is traveling I believe and we can resolve this shortly. Sorry!

[2019-07-26 17:18] OttaviaE commented on #1600
@alexhanna, I think @benmarwick and @masalmon might be appropriate reviewers.

thanks!

[2019-07-26 17:26] OttaviaE commented on #1600
@kyleniemeyer I might have uploaded the correct format this time, I'm truly sorry for the inconvenience!

[2019-07-26 17:28] kyleniemeyer commented on #1600
Let's give it a shot!

[2019-07-26 17:28] kyleniemeyer commented on #1600
@whedon generate pdf

[2019-07-26 17:28] whedon commented on #1600
[code]

[2019-07-26 17:28] whedon commented on #1600
PDF failed to compile for issue #1600 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (0000-0001-8552-568) for Ottavia M. Epifania (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:121:in `each'
	from /app/ven

[2019-07-26 17:28] kyleniemeyer commented on #1600
@OttaviaE looks like your ORCID is missing a digit (0000-0001-8552-568)

[2019-07-26 17:32] OttaviaE commented on #1600
@kyleniemeyer  This is quite odd because my ORCID ends with an "X"

[2019-07-26 17:33] kyleniemeyer commented on #1600
@OttaviaE ah sorry, I just meant that it should be 16 characters long, and is missing the final character. Can you fix it to be `0000-0001-8552-568X` ?

[2019-07-26 17:35] OttaviaE commented on #1600
@kyleniemeyer done!

(Thanks for your patience)

[2019-07-26 17:38] kyleniemeyer commented on #1600
@whedon generate pdf

[2019-07-26 17:38] whedon commented on #1600
[code]

[2019-07-26 17:38] whedon commented on #1600
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01600/joss.01600/10.21105.joss.01600.pdf)

[2019-07-26 17:39] kyleniemeyer commented on #1600
🎉 !

It looks like there are still some issues with the figures, which I should be able to fix quickly. One minute.

[2019-07-26 17:41] gavinmdouglas commented on #1540
Hey @lpantano  - quick note that all of my remaining minor comments have been addressed.

[2019-07-26 17:42] kyleniemeyer commented on #1600
@OttaviaE OK, please merge https://github.com/OttaviaE/DscoreApp/pull/1, that should do the trick.

[2019-07-26 17:45] lpantano commented on #1540
Thanks a lot!, I’ll wait for the other reviewer.

[2019-07-26 17:47] kyleniemeyer commented on #1600
@whedon generate pdf

[2019-07-26 17:47] whedon commented on #1600
[code]

[2019-07-26 17:47] whedon commented on #1600
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01600/joss.01600/10.21105.joss.01600.pdf)

[2019-07-26 17:48] OttaviaE commented on #1600
@kyleniemeyer yay, look like it worked! Thank you so much!

[2019-07-26 17:48] kyleniemeyer commented on #1600
OK @alexhanna, all yours!

[2019-07-26 17:53] tesch1 commented on #1487
Yes, I believe I have addressed all the review items listed in the linked
"issue" above.  The bullet points correspond to the checklist.  Maybe that
wasn't clear from my previous message.

On Fri, Jul 26, 2019 at 11:56 AM Daniel S. Katz <notifications@github.com>
wrote:

[2019-07-26 17:54] jbasney commented on #1561
Yes I can do the review this weekend. -Jim

[2019-07-26 17:54] danielskatz commented on #1487
👋 @StewMH, @mdavezac - please take a look at this and see if your concerns have been sufficiently addressed

[2019-07-26 17:55] danielskatz commented on #1561
Thanks Jim - I'll assign you as a reviewer, but we won't start the review until I also get another reviewer assigned.

[2019-07-26 17:58] danielskatz commented on #1561
@whedon @assign @jbasney as reviewer

[2019-07-26 17:58] danielskatz commented on #1561
@whedon assign @jbasney as reviewer

[2019-07-26 17:58] whedon commented on #1561
OK, the reviewer is @jbasney

[2019-07-26 18:03] chand-lab commented on #1598
@whedon generate pdf

[2019-07-26 18:03] whedon commented on #1598
[code]

[2019-07-26 18:03] whedon commented on #1598
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01598/joss.01598/10.21105.joss.01598.pdf)

[2019-07-26 18:10] chand-lab commented on #1598
generate pdf

[2019-07-26 18:11] chand-lab commented on #1598
@whedon generate pdf

[2019-07-26 18:11] whedon commented on #1598
[code]

[2019-07-26 18:11] whedon commented on #1598
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01598/joss.01598/10.21105.joss.01598.pdf)

[2019-07-26 18:12] kyleniemeyer commented on #1580
@whedon generate pdf

[2019-07-26 18:12] whedon commented on #1580
[code]

[2019-07-26 18:13] whedon commented on #1580
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01580/joss.01580/10.21105.joss.01580.pdf)

[2019-07-26 18:26] arokem commented on #1590
@TheChymera : would you be willing to review this submission for JOSS?

[2019-07-26 19:56] snastase commented on #1295
@jdkent sorry the delay—finally got to work back through this. I think this is greatly improved. I went through the documentation and made a [PR](https://github.com/HBClab/NiBetaSeries/pull/163) with minor edits.

I'm satisfied with this but am providing a few additional comments:

1. You might include an equation in the math documentation for LSS to go along with your python pseudocode; e.g.:
[co

[2019-07-26 20:18] sairamgeethanath commented on #1590
@whedon generate pdf

[2019-07-26 20:18] whedon commented on #1590
[code]

[2019-07-26 20:19] whedon commented on #1590
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01590/joss.01590/10.21105.joss.01590.pdf)

[2019-07-26 20:45] goldingn commented on #1599
Here's a list of potential reviewers from the reviewer list:
- becarioprecario
- mdogucu
- Volkerschmid
- lionel68
- joethorley
- fabian-s

[2019-07-26 20:51] goldingn commented on #1599
The paper is deliberately a bit longer than most JOSS manuscripts - including a code example over two pages. I thought I might as well make it an interesting read. Happy to discuss cutting it down if that's an issue.

[2019-07-26 23:25] goldingn commented on #1599
I suggested @usethedata for his statistical background. @terrytangyuan might also be interested in editing, given the TensorFlow angle.

[2019-07-26 23:31] terrytangyuan commented on #1599
Yes, I would definitely be interested in editing this if @usethedata is not available.

[2019-07-26 23:33] apsabelhaus commented on #1507
@Kevin-Mattheus-Moerman is the review thread started for this submission yet? I'm available to start the review process.

[2019-07-27 00:01] kyleniemeyer commented on #1599
@terrytangyuan it's all yours!

[2019-07-27 00:02] kyleniemeyer commented on #1599
@whedon assign @terrytangyuan as editor

[2019-07-27 00:02] whedon commented on #1599
OK, the editor is @terrytangyuan

[2019-07-27 00:03] kyleniemeyer commented on #1599
@goldingn regarding the length, I don't think it is an issue. We don't publish articles with research reasults, but longer articles that describe the software and provide examples are fine (just not required).

[2019-07-27 00:13] apsabelhaus commented on #1507
@ramaniitrgoyal92 While we're waiting for an official review to be opened, I've got a few suggestions from a first look at the code. First, the paper is missing references [???], probably a bug in the latex.

I would recommend that the authors take a second look at some of the naming in the repository. As an example, the name:

Tensegrity Engineering Analysis Master

is a nice acronym, but is rela

[2019-07-27 00:15] apsabelhaus commented on #1507
@ramaniitrgoyal92 while we're waiting for the official review to open, I added a first issue in the repo about organization and documentation, so there's something to start on! Also, the paper is missing references [???], probably a bug in the latex.

[2019-07-27 00:26] goldingn commented on #1599
@kyleniemeyer ah that's great, thanks!

[2019-07-27 00:52] TheChymera commented on #1590
@arokem thank you for your consideration.

As a developer, I am not at all familiar with web applications, and as a user I have always found them unwieldy to integrate into other workflows. It is entirely possible that given this design choice by the authors, my review will be both slower and more critical, than if it were coming from someone who can actually compare the application to what can be

[2019-07-27 01:36] terrytangyuan commented on #1594
👋 Hi @ornlpmcp if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2019-07-27 01:38] terrytangyuan commented on #1599
👋 @becarioprecario @mdogucu @Volkerschmid @lionel68 @joethorley @fabian-s If you are interested in reviewing this submission, please let us know here!

[2019-07-27 01:39] adamhsparks commented on #1595
I'm stupidly busy right now, already reviewing for rOpenSci and prepping
for some international travel in a few weeks. So sorry, I can't, but it
looks like this is already in good hands once an editor is assigned.

On Sat, 27 Jul 2019 at 02:21, Kyle Niemeyer <notifications@github.com>
wrote:

--
Dr Adam H. Sparks
http://adamhsparks.netlify.com/
Associate Professor of Field Crops Pathology   |   Ce

[2019-07-27 02:10] HaoZeke commented on #1592
@eidheim Thanks for the changes. I am satisfied by the documentation level for the core-code, however, there are no clear links to a compiled form of the documentation. Perhaps a hosted version? Or even a link to the `doxygen` document (pdf)? In fact, an instructive example might actually be using the server to locally serve the doxygen HTML docs as well.

Also I noticed that the tests have no out

[2019-07-27 02:29] joethorley commented on #1599
@terrytangyuan I would like to review

[2019-07-27 03:01] arokem commented on #1590
Thanks @TheChymera : let's see if I can't find someone to get on this earlier.

[2019-07-27 03:03] arokem commented on #1590
@imr-framework : do you have any suggestions from the [list of potential reviewers](https://bit.ly/joss-reviewers)?

[2019-07-27 03:07] arokem commented on #1590
👋 @pgadige: would you be willing to review this paper for JOSS? Your expertise in web applications should come in handy.

👋 @vsoch : would you be willing to review this paper for JOSS? Your unique combination of knowledge about web technologies and MRI makes you uniquely qualified.

[2019-07-27 03:48] madvn commented on #1548
@poulson The package, website and the paper have been updated. Ready to review now. Hope we find the second reviewer soon. Thanks!

[2019-07-27 03:48] madvn commented on #1548
@whedon generate pdf

[2019-07-27 03:48] whedon commented on #1548
[code]

[2019-07-27 03:48] whedon commented on #1548
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01548/joss.01548/10.21105.joss.01548.pdf)

[2019-07-27 05:38] lionel68 commented on #1599
@terrytangyuan same here, would also be happy to review this manuscript.

[2019-07-27 06:57] nuest commented on #1595
Thank you @vsoch @cole-brokamp ! I look forward to your feedback.

[2019-07-27 10:11] terrytangyuan commented on #1599
@whedon assign @lionel68 @joethorley as reviewer

[2019-07-27 10:11] whedon commented on #1599
OK, the reviewer is @lionel68 @joethorley

[2019-07-27 10:11] terrytangyuan commented on #1599
@whedon start review

[2019-07-27 10:11] whedon opened #1601 "[REVIEW]: greta: simple and scalable statistical modelling in R"
**Submitting author:** @goldingn (<a href="http://orcid.org/0000-0001-8916-5570">Nick Golding</a>)
**Repository:** <a href="https://github.com/greta-dev/greta" target ="_blank">https://github.com/greta-dev/greta</a>
**Version:** 0.3.1
**Editor:** @terrytangyuan
**Reviewers:** @lionel68, @joethorley, @lionel68
**Archive:** <a href="https://doi.org/10.5281/zenodo.819476" target="_blank">10.5281/zeno

[2019-07-27 10:11] whedon commented on #1599
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1601. Feel free to close this issue now!

[2019-07-27 10:11] whedon commented on #1601
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lionel68 @joethorley it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-07-27 10:11] whedon commented on #1601
[code]

[2019-07-27 10:12] whedon commented on #1601
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01601/joss.01601/10.21105.joss.01601.pdf)

[2019-07-27 10:12] terrytangyuan commented on #1599
Thanks everyone! Let’s head over to https://github.com/openjournals/joss-reviews/issues/1601 for review.

[2019-07-27 10:12] #1599 closed

[2019-07-27 12:39] vsoch commented on #1590
I can't say no after that! :)

I'd be happy to, I'm also about to review https://github.com/openjournals/joss-reviews/issues/1595 so please keep that in mind. I'm not sure  that @imr-framework would want me to, however, because I don't see any reproducible containers or tests and these would be required (on top of the normal boxes we check off) to give a thumbs up for publication.

[2019-07-27 17:07] mbobra commented on #1557
@DanielLenz that is a good question.

We generally do not consider software that serve solely as wrappers, unless they add some additional functionality. If the submission does add something unique/different, that the underlying software does not do, then I think that could be in scope. The other criteria we sometimes apply is: would/should this software be cited if used in a paper? Or would the u

[2019-07-27 19:37] jedbrown commented on #1441
Welcome to the party, @chennachaos. :tada:  There is a description of the process and a checklist above for you. Please let me know if you have questions.

[2019-07-27 21:33] terrytangyuan commented on #1595
@kyleniemeyer I can definitely help with this one as I am wrapping up with one of the other edits. Feel free to assign me if you cannot find anyone else.

[2019-07-28 00:10] chand-lab commented on #1598
@whedon commands

[2019-07-28 00:10] whedon commented on #1598
Here are some things you can ask me to do:

[code]

[2019-07-28 00:10] chand-lab commented on #1598
@whedon list reviewers

[2019-07-28 00:11] whedon commented on #1598
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-07-28 02:43] rioyokota commented on #1577
The software is easy to use and highly relevant for the field of machine learning. I recommend publication without further modification.

[2019-07-28 03:10] arokem commented on #1590
Great. Thanks!

[2019-07-28 03:10] arokem commented on #1590
@assign vsoch as reviewer

[2019-07-28 03:11] arokem commented on #1590
Let's see if I can't get on more reviewer before kicking off the review

[2019-07-28 03:17] jdeligt commented on #1589
The software can be download and installed according to the instructions. I would personally prefer build instructions to be specified for those users that would like to check out the code and build themselves. A precompiled jar is subject to injections, i.e. not guaranteed to be the source of the repo, I've raised an issue #13 for this. I understand the target audience is less code savvy but I th

[2019-07-28 06:33] whedon opened #1602 "[PRE REVIEW]: AutoGAMESS: A Python package for automation of GAMESS(us) Raman calculations"
**Submitting author:** @Cavenfish (<a href="http://orcid.org/0000-0002-7416-8629">Brian Ferrari</a>)
**Repository:** <a href="https://github.com/Cavenfish/autogamess" target ="_blank">https://github.com/Cavenfish/autogamess</a>
**Version:** 1.0.31
**Editor:** @jedbrown
**Reviewers:** @arosen93, @shivupa, @colleeneb

**Author instructions**

Thanks for submitting your paper to JOSS @Cavenfish. **Cu

[2019-07-28 06:33] whedon commented on #1602
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-28 06:33] whedon commented on #1602
[code]

[2019-07-28 06:33] whedon commented on #1602
PDF failed to compile for issue #1602 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/

[2019-07-28 07:00] kyleniemeyer commented on #1602
Hi @Cavenfish, thanks for your interest in JOSS. Before we move forward with your submission, I have a few concerns based on our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) and [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html):

The biggest issue is that, while useful, the software appears (to me) to be more o

[2019-07-28 10:36] eidheim commented on #1592
@HaoZeke Thank you again for the feedback. I added documentation using GitLab pages in commit https://gitlab.com/eidheim/Simple-Web-Server/commit/dcc609067856617dc2b9eb237dc2ea5568e51f88.

Regarding the tests, the test source files are currently shown when running the tests:
[code]

One alternative would be to divide the tests into a larger number of source files, but this would drastically increa

[2019-07-28 14:26] Cavenfish commented on #1602
Hello Dr. Niemeyer,

This is my first submission to JOSS, so I am not sure how to continue from here. I understand rebuttals are typical in other journals, I’m not sure if this is the same in JOSS.

To address your concerns:

-AutoGAMESS is in fact a utility for interacting with another software package, however since it expedites the process of completing computational chemistry research it would

[2019-07-28 15:49] silvandeleemput commented on #1576
@sepandhaghighi @GregaVrbancic Thank you both for your time and effort in reviewing this work.

@terrytangyuan I have created a new release of MemCNN (1.0.0) with the changes from the review included and I have uploaded it to Zenodo and saved it as an unpublished upload. The DOI of the archive is: `10.5281/zenodo.3353604`. The title and the authors of the submission are the same as in the paper an

[2019-07-28 17:00] kyleniemeyer commented on #1553
Hi @keipertk @mabraham @jeffhammond would any of you be able to review this submission?

[2019-07-28 17:01] kyleniemeyer commented on #1595
@terrytangyuan sure, if you're willing to take it!

[2019-07-28 17:01] kyleniemeyer commented on #1595
@whedon assign @terrytangyuan as editor

[2019-07-28 17:02] whedon commented on #1595
OK, the editor is @terrytangyuan

[2019-07-28 17:02] kyleniemeyer commented on #1595
@whedon assign @vsoch @cole-brokamp as reviewer

[2019-07-28 17:02] whedon commented on #1595
OK, the reviewer is @vsoch @cole-brokamp

[2019-07-28 17:09] jeffhammond commented on #1553
Forgive me, but this submission has less detail than a decent project README file. Have the editors determined that this submission meets the requirements for a publishable artifact and thus is worth reviewing for technical correctness?

[2019-07-28 17:13] kyleniemeyer commented on #1553
@jeffhammond I do see a [README](https://bitbucket.org/galamostdevelopergroup/source-code/src/master/README.md) with a description, installation steps, and at least one example, and there are some [documentation source files](https://bitbucket.org/galamostdevelopergroup/source-code/src/master/docs/usage.rst), though I don't see where the compiled documentation lives. If this isn't sufficient for a

[2019-07-28 17:17] kyleniemeyer commented on #1553
@jeffhammond I would add that technical correctness is not the primary focus of reviews—ensuring the functional claims of the software are confirmed is certainly one item, but the rest focus on things like documentation, usage, testing, etc.: https://joss.readthedocs.io/en/latest/review_checklist.html

[2019-07-28 18:02] kevinrue commented on #1596
# General checks
For the record, the submitting author (@beringresearch) is an institutional account representative of the affiliation of the authors who made major contributions to the software.
This is frequent practice and absolutely fine.

[2019-07-28 19:26] adswa commented on #1525
Are there any updates yet, @kyleniemeyer? I just want to make sure I haven't missed a notification.

[2019-07-28 19:35] ts-adi commented on #1592
@eidheim Thanks for making the changes to the documentation. As you can notice, we're making progress with the approval checklist.

Now as for the tests, normally `assert` statements show some sort of "Assertion Failed" message if the condition fails. I am yet to run your tests at my end, but want to confirm if they behave in this manner. Your output in the last comment shows all test suites passi

[2019-07-28 19:45] ts-adi commented on #1592
@eidheim in the setup instructions in the readme, I would appreciate if you could list the apt packages that newbies need to install on a standard ubuntu box to satisfy the dependencies you listed. From what I see, these would be `cmake`, `libboost-all-dev` and `libssl-dev`. In fact, to increase traction of your software among first-timers, maybe even list out the `sudo apt install` command instal

[2019-07-28 20:53] whedon commented on #1005
:wave: @rljacobson, please update us on how your review is going.

[2019-07-28 21:15] terrytangyuan commented on #1595
@whedon assign @cole-brokamp as reviewer
@whedon assign @vsoch as reviewer

[2019-07-28 21:15] whedon commented on #1595
OK, the reviewer is @cole-brokamp

[2019-07-28 21:15] terrytangyuan commented on #1595
@whedon assign @vsoch as reviewer

[2019-07-28 21:15] whedon commented on #1595
OK, the reviewer is @vsoch

[2019-07-28 21:15] terrytangyuan commented on #1595
@whedon start review

[2019-07-28 21:15] whedon opened #1603 "[REVIEW]: containerit: Generating Dockerfiles for reproducible research with R"
**Submitting author:** @nuest (<a href="http://orcid.org/0000-0002-0024-5046">Daniel Nüst</a>)
**Repository:** <a href="https://github.com/o2r-project/containerit/" target ="_blank">https://github.com/o2r-project/containerit/</a>
**Version:** 0.6.0
**Editor:** @terrytangyuan
**Reviewer:** @vsoch, @cole-brokamp
**Archive:** <a href="https://doi.org/10.5281/zenodo.3373289" target="_blank">10.5281/ze

[2019-07-28 21:15] whedon commented on #1595
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1603. Feel free to close this issue now!

[2019-07-28 21:15] whedon commented on #1603
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vsoch it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watch

[2019-07-28 21:16] whedon commented on #1603
[code]

[2019-07-28 21:16] #1595 closed

[2019-07-28 21:16] whedon commented on #1603
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01603/joss.01603/10.21105.joss.01603.pdf)

[2019-07-28 21:17] danielskatz commented on #1595
👋 @terrytangyuan - you need to
@whedon assign X as review -- for the first reviewer
@whedon add Y as reviewer -- for additional reviewers

otherwise, only the last assign is stored

[2019-07-28 21:19] terrytangyuan commented on #1576
@whedon set 10.5281/zenodo.3353604 as archive

[2019-07-28 21:19] whedon commented on #1576
OK. <a href="https://doi.org/10.5281/zenodo.3353604" target="_blank">10.5281/zenodo.3353604</a> is the archive.

[2019-07-28 21:20] terrytangyuan commented on #1576
@whedon generated pdf

[2019-07-28 21:21] terrytangyuan commented on #1576
@whedon generate pdf

[2019-07-28 21:21] whedon commented on #1576
[code]

[2019-07-28 21:21] terrytangyuan commented on #1576
@whedon set 0.3.3 as version

[2019-07-28 21:21] whedon commented on #1576
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01576/joss.01576/10.21105.joss.01576.pdf)

[2019-07-28 21:21] whedon commented on #1576
OK. 0.3.3 is the version.

[2019-07-28 21:22] terrytangyuan commented on #1576
@whedon accept

[2019-07-28 21:22] whedon commented on #1576
[code]

[2019-07-28 21:23] whedon commented on #1576
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/869

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/869, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-28 21:23] terrytangyuan commented on #1576
@whedon accept deposit=true

[2019-07-28 21:23] whedon commented on #1576
I'm sorry @terrytangyuan, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-07-28 21:28] terrytangyuan commented on #1576
@openjournals/joss-eics Since this is the first accepted paper I am editing, could you help double check? Also, it looks like `@whedon accept deposit=true` can only be done by editors-in-chief so I am handing this over to you now.

[2019-07-28 21:30] vsoch commented on #1603
hey everyone! I'll be able to start my review tomorrow. Looking forward to it.

[2019-07-28 21:31] terrytangyuan commented on #1595
@danielskatz Thanks for the tip! I was wondering why it didn't work and then manually edited the description in the review issue. I'll do that next time.

[2019-07-28 21:32] danielskatz commented on #1595
I opened https://github.com/openjournals/whedon-api/issues/63 for this - feel free to make more suggestions as to how this should better work

[2019-07-28 23:09] cMadan commented on #1598
@whedon assign @cMadan as editor

[2019-07-28 23:09] whedon commented on #1598
OK, the editor is @cMadan

[2019-07-28 23:10] cMadan commented on #1598
@kyleniemeyer, sure, I can edit this one.

[2019-07-28 23:12] cMadan commented on #1476
@MLHale, how much of your submission *requires* access to the Gazepoint hardware? I'm having trouble finding researchers who have the hardware and are interested in reviewing.

[2019-07-28 23:15] cMadan commented on #1541
@BarryDeCicco, you should unsubscribe from the GitHub notifications for this repository, or otherwise change your notification settings. See the second post (https://github.com/openjournals/joss-reviews/issues/1541#issuecomment-507707086) in this review thread (same information is available in every review thread).

[2019-07-28 23:18] cMadan commented on #1470
@DrMichaelLindner, I just sent you an email. If I don't hear back from you by the end of the week, I will withdraw this submission.

[2019-07-28 23:29] zhuyouliang commented on #1553
The README file is updated with the links of compiled documentation and tutorials. Please find them. Thanks again.

zhuyouliang12345@163.com

From: Jeff Hammond
Date: 2019-07-29 01:09
To: openjournals/joss-reviews
CC: zhuyouliang; Mention
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: GPU-Accelerated LArge-scale MOlecular Simulation Toolkit (#1553)
Forgive me, but this submission has less

[2019-07-29 02:32] jdeligt commented on #1589
@csoneson I've closed  urmi-21/ORIS#13 and check the last box since the software meets the basic requirements of JOSS. I'm leaving urmi-21/ORIS#14 since I personally feel it does somewhat limit the usefullness in science especially when dealing with non coders they might not realise how important a specifc setting or algorithm might influence their findings. But that doesn't mean it is not a usefu

[2019-07-29 05:50] kyleniemeyer commented on #1525
@adswa we are just waiting on @FelixHenninger's review now; I was in touch via email a few days ago and got a confirmation that it should be completed soon.

[2019-07-29 05:57] kyleniemeyer commented on #1576
@terrytangyuan sure thing. This is the right point to tag us; I do the following:

- Double check that all the review items have been checked off and issues resolved.
- For us to publish, we should see that the archive DOI resolves and that the metadata is correct; @silvandeleemput, can you publish the latest version? We are done with any code changes.
- I next go through the paper to look for any

[2019-07-29 05:57] kyleniemeyer commented on #1576
@whedon check references

[2019-07-29 05:57] whedon commented on #1576
[code]

[2019-07-29 05:57] whedon commented on #1576
[code]

[2019-07-29 06:03] whedon opened #1604 "[PRE REVIEW]: Graph Transliterator: a graph-based transliteration tool"
**Submitting author:** @seanpue (<a href="http://orcid.org/0000-0001-8463-8578">A. Sean Pue</a>)
**Repository:** <a href="https://github.com/seanpue/graphtransliterator" target ="_blank">https://github.com/seanpue/graphtransliterator</a>
**Version:** v0.2.7
**Editor:** @gkthiruvathukal
**Reviewers:** @rlskoeser, @vc1492a

**Author instructions**

Thanks for submitting your paper to JOSS @seanpue.

[2019-07-29 06:03] whedon commented on #1604
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-29 06:03] whedon commented on #1604
[code]

[2019-07-29 06:04] whedon commented on #1604
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01604/joss.01604/10.21105.joss.01604.pdf)

[2019-07-29 06:07] kyleniemeyer commented on #1604
Hi @gkthiruvathukal, the author of this submission suggested you as editor. Do you have the bandwidth to handle this one?

[2019-07-29 06:08] whedon opened #1605 "[PRE REVIEW]: anytime: Anything to Datetime or Date Converter"
**Submitting author:** @eddelbuettel (<a href="http://orcid.org/0000-0001-6419-907X">Dirk Eddelbuettel</a>)
**Repository:** <a href="https://github.com/eddelbuettel/anytime" target ="_blank">https://github.com/eddelbuettel/anytime</a>
**Version:** v0.3.5
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @eddelbuettel. **Currently, there is

[2019-07-29 06:08] whedon commented on #1605
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-29 06:08] whedon commented on #1605
[code]

[2019-07-29 06:08] whedon commented on #1605
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01605/joss.01605/10.21105.joss.01605.pdf)

[2019-07-29 06:23] kyleniemeyer commented on #1605
Hi @eddelbuettel, thanks for your interest in JOSS.  From a quick inspection of this submission it's not entirely obvious that it meets our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements). In particular, these items:

Could you confirm here that there _is_ a research application for this software (and explain what that application is)? I'm also

[2019-07-29 06:31] mabraham commented on #1553
Per the guidelines, we should assess "Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution."

There is a hand-written configure script, which I tried. It told me it didn't find boost_thread. I looked at the configure script, and it seems to be hard wired to search in a few system paths. This is unsuitable for HPC software, e.

[2019-07-29 06:47] silvandeleemput commented on #1576
@kyleniemeyer @terrytangyuan The Zenodo code archive is now published (MemCNN version 1.0.0) and can be found here: https://zenodo.org/record/3353604#.XT6VqOgzaUk

[2019-07-29 06:54] kyleniemeyer commented on #1576
Thanks @silvandeleemput; can you merge this PR that corrects some references? https://github.com/silvandeleemput/memcnn/pull/25

I'll be looking through the paper itself next.

[2019-07-29 06:59] silvandeleemput commented on #1576
@kyleniemeyer Thanks! I have merged the PR.

[2019-07-29 06:59] kyleniemeyer commented on #1553
@mabraham thanks for the quick comments! But, I actually haven't begun the review itself yet; we use this pre-review issue just to assign reviewers, before moving to a separate review issue that includes a checklist (some items you've already commented on). Can I formally assign you as a reviewer? I can copy all of that into the review issue when it's created.

[2019-07-29 07:00] kyleniemeyer commented on #1576
@whedon generate pdf

[2019-07-29 07:00] whedon commented on #1576
[code]

[2019-07-29 07:00] whedon commented on #1576
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01576/joss.01576/10.21105.joss.01576.pdf)

[2019-07-29 07:06] kyleniemeyer commented on #1602
@Cavenfish with JOSS all interactions with editors and reviewers are more like conversations rather than the more formal step-by-step process of older journals. In this case, the Associate Editor-in-Chief on duty (me) does a quick filter of new submissions before assigning to an editor. We look to ensure submissions are in scope, and aren't missing any major items.

For documentation, software pac

[2019-07-29 07:17] kyleniemeyer commented on #1576
Hi @silvandeleemput, for the paper, I've made some edits to in-text citations in https://github.com/silvandeleemput/memcnn/pull/26.

My only other requested change is for you to add, from our list of "[what should my paper contain?](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)":

Thanks!

[2019-07-29 07:26] zhuyouliang commented on #1553
Thanks for your carefull examination.  I have listed the dependencies/requirements in documentation (https://galamost.readthedocs.io/en/latest/installation.html). I will add them to REDAME later.
The configuration file is indeed written by my hand. However, I have tested it in several HPC. Most times, it could work well. The sm_20 in Makefile is the one to be replaced by configuration according to

[2019-07-29 08:18] eidheim commented on #1592
@ts-adi Thank you again for your input.

Normally, with CTest, one would have to set the environment variable `CTEST_OUTPUT_ON_FAILURE` to get detailed output on condition errors. For instance, if a coding error  in `SimpleWeb::Percent::encode()` is made:
[code]
Note that `CTEST_OUTPUT_ON_FAILURE` is set when running the CI jobs (see https://gitlab.com/eidheim/Simple-Web-Server/blob/master/.gitlab

[2019-07-29 08:22] mabraham commented on #1553
Kyle, sure thing.

On Mon, 29 Jul 2019 at 08:59, Kyle Niemeyer <notifications@github.com>
wrote:

[2019-07-29 08:38] HaoZeke commented on #1592
@eidheim thanks for being so responsive and patient.

I am more used to tests written with [Catch2](https://github.com/catchorg/Catch2) which are more verbose, however, I am satisfied with the Ctest suite, especially given the rationale (regarding libclang). However, if possible I would like an example which is of more research-oriented use. For example, an algorithm like a queuing or a packet con

[2019-07-29 08:38] xuanxu commented on #1582
Thanks @ctdegroot! I'll assign you now.
I'll start the review issue once I find the second reviewer, stay tuned!

[2019-07-29 08:38] xuanxu commented on #1582
@whedon assign @ctdegroot as reviewer

[2019-07-29 08:38] whedon commented on #1582
OK, the reviewer is @ctdegroot

[2019-07-29 08:38] xuanxu commented on #1582
:wave: @khinsen: would you be willing to review this paper? I think your knowledge of Python and computational chemistry makes you a good fit for this submission.

[2019-07-29 08:43] csoneson commented on #1589
@urmi-21 - I agree with @jdeligt about the importance of somehow tracking the user's actions in the interest of reproducibility as well as record keeping. One option would be to store a snapshot of the settings when a file is saved (perhaps into a separate file, with a suffix compared to the main output file). Some of the text files output by ORIS already contain some such information, like the wi

[2019-07-29 08:52] csoneson commented on #1589
@urmi-21 a couple of additional small points:
- [ ] The software expects a single-sequence fasta file - I think it would be helpful if an error was raised if the user provides a multi-fasta file (i.e., if there are multiple > characters in the file). Otherwise the IDs of the following sequences will be treated as part of the sequence.
- [ ] Why is X used instead of the standard IUPAC code N to rep

[2019-07-29 08:54] csoneson commented on #1593
ping @BarryDeCicco

[2019-07-29 08:56] csoneson commented on #1434
Hi all - just wanted to check in again. I can see that there are discussions going on in the issues in the source repository - let me know if you have questions where I could help.

[2019-07-29 08:57] fsteeg commented on #1548
Thanks for getting in touch @poulson, and sorry for the late reply, I was on vacation. My expertise is neither in information theory, nor C++ or Python, so I'm afraid I won't be able to contribute here.

[2019-07-29 09:05] ts-adi commented on #1592
@eidheim Thanks, this is exactly the crisp content I was looking for. However, can you please add this to your main readme? No need to have a separate dependency install markdown file in `docs`. This would satisfy the *Installation instructions* in the checklist for me.

[2019-07-29 09:32] j-braun commented on #1561
Hi @danielskatz  , just added some text regarding research applications to the paper as @kyleniemeyer  requested.

[2019-07-29 10:52] silvandeleemput commented on #1576
@kyleniemeyer We are unsure what exactly is meant with a "non-specialist audience" since it is very likely that people finding this work are at least familiar with neural networks, Python, and/or PyTorch, which should be sufficient to understand the purpose of the library from the paper.

If we are to add the requested change, what section of the paper do you recommend for this?

[2019-07-29 10:55] chand-lab commented on #1598
@cMadan - Can we suggest reviewers outside the list of reviewers with expertise in eye tracking?

[2019-07-29 11:18] eddelbuettel commented on #1605
@kyleniemeyer thanks for the prompt follow-up!  The core contribution of `anytime` is a faithful, performant and easier-than-alternatives conversion of _any_ input. This may frequently be a text format variable that may often be in a not-quite-standard form, but can also be numeric or another variant.  `anytime` converts from a large variety of text formats, as well from 'other' numeric forms to t

[2019-07-29 12:50] danielskatz commented on #1561
@jbasney - do you have any thoughts on another reviewer?

[2019-07-29 12:51] adswa commented on #1525
Thanks a lot!

[2019-07-29 13:11] gkthiruvathukal commented on #1604
@kyleniemeyer I'm pretty sure I can handle it. Most of my assignments are moving toward a conclusion, so I am willing. After this, I might need to pause until late August as I will be on vacation starting August 10th with classes resuming on the 26th. Please go ahead and assign me.

[2019-07-29 13:32] swapsha96 commented on #1557
I used this software to beat state of the art results of different algorithms for image reconstruction of astronomical images ([tutorials](https://github.com/mirapy-org/tutorials/blob/master/Autoencoders/Astronomical%20Image%20Reconstruction%20using%20Autoencoder.ipynb)). This software has a CNN model that improves 'per-class accuracy' of pulsars from [78%](https://github.com/as595/HTRU1/blob/mast

[2019-07-29 13:54] jbasney commented on #1561
Yes, I think @msalle @DrDaveD @jteheran @zsshah & @djw8605 would all be good reviewers if they are available.

[2019-07-29 13:56] danielskatz commented on #1561
👋  @msalle @DrDaveD @jteheran @zsshah & @djw8605 - would one of you be willing to review this submission for JOSS?  See the [paper above](https://github.com/openjournals/joss-papers/blob/joss.01561/joss.01561/10.21105.joss.01561.pdf) and [info on JOSS reviewing](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html)

[2019-07-29 14:03] jteheran commented on #1561
I can review it. Is there a deadline?

[2019-07-29 14:04] danielskatz commented on #1561
Thanks @jteheran - it's an open interactive process, so there's not exactly a deadline,  but we like to have reviewers provide initial feedback in a couple of weeks, if possible

[2019-07-29 14:04] danielskatz commented on #1561
@whedon add @jteheran as reviewer

[2019-07-29 14:04] whedon commented on #1561
OK, @jteheran is now a reviewer

[2019-07-29 14:05] danielskatz commented on #1561
@whedon start review

[2019-07-29 14:05] whedon opened #1606 "[REVIEW]: X.509 Compliant Hybrid Certificates for the Post-Quantum Transition"
**Submitting author:** @j-braun (<a href="http://orcid.org/0000-0001-6491-2250">Johannes Braun</a>)
**Repository:** <a href="https://github.com/CROSSINGTUD/bc-hybrid-certificates" target ="_blank">https://github.com/CROSSINGTUD/bc-hybrid-certificates</a>
**Version:** 1.0.1
**Editor:** @danielskatz
**Reviewer:** @jbasney, @jteheran
**Archive:** <a href="https://doi.org/10.5281/zenodo.3365786" targe

[2019-07-29 14:05] whedon commented on #1561
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1606. Feel free to close this issue now!

[2019-07-29 14:05] whedon commented on #1606
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jbasney, @jteheran it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-07-29 14:05] whedon commented on #1606
[code]

[2019-07-29 14:05] #1561 closed

[2019-07-29 14:05] whedon commented on #1606
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01606/joss.01606/10.21105.joss.01606.pdf)

[2019-07-29 14:07] danielskatz commented on #1606
👋 @jbasney, @jteheran - Here's where we do the review - please read the comments in this issue for instructions, but basically, your job is to either check off your items in the first comment or explain why you can't - either briefly here, or by opening issues in the source repo and mentioning this issue in them to create a link from here to there.

Thanks for being willing to do this, and if you

[2019-07-29 15:07] vsoch commented on #1603
## Review issues:
 - [ ] [Request for Proofreader](https://github.com/o2r-project/containerit/issues/153) the paper needs a native English speaker to read over first, there are many mistakes with grammar and sentence structure. I'll start my review after this. Thanks everyone!

[2019-07-29 15:08] chennachaos commented on #1441
Thank you for inviting me for the review.
I get the following message when I click on the link to accept the invitation.

`Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.`

[2019-07-29 15:14] jedbrown commented on #1441
@chennachaos Are you able to check boxes in your review checklist above? That and being able to comment here are all that is needed.

[2019-07-29 15:25] chennachaos commented on #1441
No, I can't check any of the boxes in the review checklist under my account. Are there any settings I need to change?

[2019-07-29 15:31] jedbrown commented on #1441
@whedon add @chennachaos as reviewer

[2019-07-29 15:31] whedon commented on #1441
OK, @chennachaos is now a reviewer

[2019-07-29 15:33] jedbrown commented on #1441
@chennachaos Can you accept now?

[2019-07-29 15:34] nuest commented on #1603
I'll organise a proofreading and will update both https://github.com/o2r-project/containerit/issues/153 and here.

[2019-07-29 15:34] lheagy commented on #1595
Sorry for my late reply, I just returned from 4 days of backpacking and am getting caught up. If you are still in need of an editor here, I am happy to jump in and help, otherwise, @terrytangyuan it looks like you have things in motion!

[2019-07-29 15:38] chennachaos commented on #1441
Received the invitation now and accepted it. Can check the boxes now.
Thank you @jedbrown.

[2019-07-29 15:47] kyleniemeyer commented on #1604
@whedon assign @gkthiruvathukal as editor

[2019-07-29 15:47] whedon commented on #1604
OK, the editor is @gkthiruvathukal

[2019-07-29 15:48] kyleniemeyer commented on #1604
@gkthiruvathukal thanks! and sounds good, just email the AEiCs to let us know your plans and we can avoid assigning anything to you.

[2019-07-29 15:52] kyleniemeyer commented on #1576
@silvandeleemput We just ask that all papers try to have a sentence or two at the beginning explaining the purpose in a way such that a reader from a non-expert background could understand (in a shallow way) what the application is.

In your case, you might add one or two sentences at the very beginning explaining classification problems and/or neural networks for a general reader.

[2019-07-29 15:52] kyleniemeyer commented on #1553
@whedon add @mabraham as reviewer

[2019-07-29 15:52] whedon commented on #1553
OK, @mabraham is now a reviewer

[2019-07-29 16:14] mbobra commented on #1559
Hi! The SunPy Project plans to submit [a paper about our v1.0 release](https://github.com/sunpy/sunpy-1.0-paper) and we'd like to cite this paper on `drms` since it is a SunPy affiliated package. Do you know approximately how long it would take to complete this review so we can synchronize our submission?

[2019-07-29 16:40] tjmahr commented on #1541
I worked with version 0.2.4, the most recent on the GitHub repository, although the version mentioned in the checklist is 0.2.3

I do not see anything for contribution guidelines. I would add a `CONTRIBUTING.md` file.

## Comments

The amount of documentation to support the package is very generous. For my review, however, I focused on the README and the software paper.

This package borrows a lot

[2019-07-29 16:59] xuanxu commented on #1559
Hi @mbobra! I'm waiting responses from @mgckind, @astrom-tom and another posible reviewer I contacted via email. Hopefully the review can start some day this week.

[2019-07-29 17:34] labarba commented on #1580
👋  @fblavoie — I'm the Associate Editor in Chief this week, and I will be continuing to search for an editor to assign to your submission. But first, I need to ask you to add to the top of your paper:

(From our [Documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain).)

As it is, I (a non-specialist) cannot quite parse what your software does, and that m

[2019-07-29 17:47] labarba commented on #1542
👋  @monogan, @andrewheiss — This is where the action happens. You both have a review checklist at the top of this issue. Please work your way through it, adding your comments to the authors in this thread, and opening new issues on the submission repository as needed. Godspeed!

[2019-07-29 17:58] kellieotto commented on #1581
I can review this package.

[2019-07-29 18:10] chennachaos commented on #1441
### General checks:
**Repository:** Need to correct the `url`. This issue has already been raised by other reviewers.
**License:** Yes, LICENSE file with the required contents exist in the repository.
**Version:** This software is hosted on BitBcket but not GitHub. Need to correct this in the review checklist. The version available at http://mofem.eng.gla.ac.uk is 0.8.23. If the software has been

[2019-07-29 18:18] labarba commented on #1597
👋 @holtgrewe — I am the Associate Editor-in-Chief on rotation this week, and will continue working to identify an editor to handle your submission.  But first, I need to ask you to add to the top of your paper:

(From our [Documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain).)

Currently, you have an Introduction section that is laden with jargon. As i

[2019-07-29 18:25] labarba commented on #1602
👋 @Cavenfish — I am the Associate Editor-in-Chief on rotation this week. Given the major issues identified by the previous AEiC, this submission is not ready to be assigned an editor and proceed to review. I will thus add the "paused" label now, and wait for your updates. If you decide to withdraw your submission and re-submit at a later date, do let me know by a reply here.

[2019-07-29 18:28] urmi-21 commented on #1589
@jdeligt @csoneson Thanks for your comments and suggestions regarding tracking user actions. I can see that it will be helpful for users and that will make the software more user-friendly. But if not necessary for this publication I would like to keep this update for future releases. Thanks, @jdeligt for opening this issue in the ORIS repository.

[2019-07-29 18:49] urmi-21 commented on #1589
@csoneson Thanks for your comments.

1. I have addressed the first issue and now an error message is thrown if a multi fasta file is read.

2. X is used instead of N to actually distinguisg N from other bases (A, G, C, T). While searching user can choose to explicitly match N or match X, which will match N and other bases.
E.g.
Target seq    ATGCGANTG
Searching NTG will give one match
Searching XT

[2019-07-29 18:58] whedon opened #1607 "[PRE REVIEW]: Ryacas: A computer algebra system in R"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/ryacas" target ="_blank">https://github.com/mikldk/ryacas</a>
**Version:** v1.0.0
**Editor:** @drvinceknight
**Reviewers:** @MikeLydeamore, @EduPH

**Author instructions**

Thanks for submitting your paper to JOSS @mikldk. **Currently, there i

[2019-07-29 18:58] whedon commented on #1607
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-29 18:58] whedon commented on #1607
[code]

[2019-07-29 18:58] whedon commented on #1607
Failed to discover a valid open source license.

[2019-07-29 18:58] whedon commented on #1607
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01607/joss.01607/10.21105.joss.01607.pdf)

[2019-07-29 19:01] holtgrewe commented on #1597
@labarba 👋 Thanks for raising this point. Would the following be sufficient and appropriately terse?

"AltamISA is a Python library for reading, validating, representing, and writing the ISA-Tab file format. ISA-Tab is an open, TSV-based file format for modeling and sharing life science experiments that is in use by various life science databases such as MetaboLights."

[2019-07-29 19:13] labarba commented on #1597
That's a start. How can a file format be used for _modeling_, though?

[2019-07-29 19:30] jedbrown commented on #1441
@chennachaos Our bot, Whedon, doesn't currently know how to propagate changes (in this case, to the repository) through the checklist. I just fixed it manually to avoid further confusion. It's also fine that the repository is on Bitbucket.

[2019-07-29 19:47] kyleniemeyer commented on #1598
@chand-lab yes, feel free to suggest any domain experts, with contact information if possible.

[2019-07-29 20:16] holtgrewe commented on #1597
Of course, you're right. I'd propose to adjust the introduction section to the following. It contains all information of the current version but the first paragraph should be understandable by a broad audience.

[2019-07-29 20:23] Ji-Zhang commented on #1581
That would be great. Thanks a lot.

[2019-07-29 20:47] effigies commented on #1294
@cMadan Just a bump on this, in case you didn't see the last message. NBD if you've got other life going on.

[2019-07-29 21:52] rabdill commented on #1533
@bii-absd @csoneson Thank you for clarifying. I was able to complete the installation as described, but there's one last issue preventing me from ticking the last "Functionality" box. I'm able to perform operations in every category on the home dashboard except for one: The integration with cBioPortal appears to still not be working properly. This initially came up a [few weeks ago](https://github

[2019-07-29 22:38] MLHale commented on #1476
@cMadan - Well the library sits on-top of the hardware-level libraries and does require the library to stream data.

That said, the program could probably be tested without the hardware - it just won't do anything, since there will be no hardware/hardware libraries to read data from.

Perhaps someone could do a code review or other means of review on the paper/library without testing it in practic

[2019-07-30 00:14] mgckind commented on #1559
Sorry I dropped the ball on this request , please assign me as reviewer @xuanxu I'll start as soon as possible (I'm at Pearc19 this week)

[2019-07-30 02:11] usethedata commented on #1581
@kellieotto Thanks for agreeing to review.  In the interests of keeping this moving forward, I'm going to go ahead and open up the review issue.  We do need to find a second reviewer, and I'll add that person to the review issue.

[2019-07-30 02:12] usethedata commented on #1581
@whedon assign @kellieotto  as reviewer

[2019-07-30 02:12] whedon commented on #1581
OK, the reviewer is @kellieotto

[2019-07-30 02:12] usethedata commented on #1581
@whedon start review

[2019-07-30 02:12] whedon opened #1608 "[REVIEW]: datacleanbot: an automated data cleaning tool"
**Submitting author:** @Ji-Zhang (<a href="http://orcid.org/0000-0002-4913-518X">Ji Zhang</a>)
**Repository:** <a href="https://github.com/Ji-Zhang/datacleanbot" target ="_blank">https://github.com/Ji-Zhang/datacleanbot</a>
**Version:** v0.4
**Editor:** @arfon
**Reviewers:** @kellieotto, @jjmcnelis
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/5c683cc54ee2bc4a626fe530615

[2019-07-30 02:12] whedon commented on #1581
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1608. Feel free to close this issue now!

[2019-07-30 02:12] whedon commented on #1608
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kellieotto  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2019-07-30 02:12] whedon commented on #1608
[code]

[2019-07-30 02:12] #1581 closed

[2019-07-30 02:13] whedon commented on #1608
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01608/joss.01608/10.21105.joss.01608.pdf)

[2019-07-30 02:21] poulson commented on #1548
Hi Ryan (@Autoplectic) -- Do you think you would be able to provide input on this submission?

[2019-07-30 02:29] Autoplectic commented on #1548
Hi all, sorry for the delayed response. Yes, I can review it but it might take a couple weeks.

[2019-07-30 02:33] poulson commented on #1548
@whedon add @Autoplectic as reviewer

[2019-07-30 02:33] whedon commented on #1548
OK, @Autoplectic is now a reviewer

[2019-07-30 02:33] poulson commented on #1548
@whedon start review

[2019-07-30 02:33] whedon opened #1609 "[REVIEW]: infotheory: A C++/Python package for multivariate information theoretic analysis"
**Submitting author:** @madvn (<a href="http://orcid.org/0000-0002-9254-8641">Madhavun Candadai</a>)
**Repository:** <a href="https://github.com/madvn/infotheory" target ="_blank">https://github.com/madvn/infotheory</a>
**Version:** v1.0
**Editor:** @poulson
**Reviewers:** @ajgates42, @artemyk
**Archive:** <a href="https://doi.org/10.5281/zenodo.3671994" target="_blank">10.5281/zenodo.3671994</a>

[2019-07-30 02:33] whedon commented on #1548
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1609. Feel free to close this issue now!

[2019-07-30 02:34] whedon commented on #1609
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ajgates42, @Autoplectic it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-07-30 02:34] whedon commented on #1609
[code]

[2019-07-30 02:34] whedon commented on #1609
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01609/joss.01609/10.21105.joss.01609.pdf)

[2019-07-30 02:35] poulson commented on #1571
Hi Camille (@camillescott) -- Given your expertise in C++ and Cython, as well as graphs, complex networks, and workflows, I think you would be an ideal reviewer for this submission. Would you have the time and interest in doing so?

Hi @gabrielspadon -- You listed very similar expertise as Valentino, and I believe you would similarly be a perfect complement to the C++ expertise of Rodrigo in this

[2019-07-30 02:53] tingyu66 commented on #1577
The documentation is easy to follow and the examples (in both the code and the supplementary material) clearly demonstrate some suitable embedding applications. I recommend this paper for publication.

[2019-07-30 07:30] arfon commented on #1572
@whedon set 10.5281/zenodo.3352038 as archive

[2019-07-30 07:30] whedon commented on #1572
OK. <a href="https://doi.org/10.5281/zenodo.3352038" target="_blank">10.5281/zenodo.3352038</a> is the archive.

[2019-07-30 07:30] arfon commented on #1572
@whedon accept

[2019-07-30 07:30] whedon commented on #1572
[code]

[2019-07-30 07:31] whedon commented on #1572
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/870

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/870, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-30 07:32] arfon commented on #1572
@whedon accept deposit=true

[2019-07-30 07:32] whedon commented on #1572
[code]

[2019-07-30 07:32] whedon commented on #1572
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1156105341597376512) 👈 🐦🐦🐦

[2019-07-30 07:32] whedon commented on #1572
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/871
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01572](https://doi.org/10.21105/joss.01572)
2. If everything looks go

[2019-07-30 07:34] arfon commented on #1572
@sctyner, @strengejacke - many thanks for your reviews here ✨

@terrytangyuan - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-07-30 07:34] #1572 closed

[2019-07-30 07:34] whedon commented on #1572
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01572/status.svg)](https://doi.org/10.21105/joss.01572)

**We need your help!**

Journal of Open Source Softwar

[2019-07-30 07:36] cMadan commented on #1598
@chand-lab, can you clarify for me, what *specialised* hardware is needed for a reviewer to be able to evaluate this submission? How much of the submission can be evaluated without any specialised hardware?

[2019-07-30 07:47] terrytangyuan commented on #1572
🎉 Thanks @arfon for editing and @sctyner @strengejacke for the review!

[2019-07-30 07:58] Datseris commented on #1527
@jedbrown I am currently on vacation and I have some free spare time. Is it possible for me to start the review process now, or in the next couple of days? Because after my vacation I will not be able to do the review (too busy with PhD defense).

[2019-07-30 08:58] bii-absd commented on #1533
@rabdill <https://github.com/rabdill> Thank you for the feedback, the
issue reported on the integration with cBioPortal has been resolved.

On 30/07/2019 05:52, Rich Abdill wrote:

[2019-07-30 09:37] Datseris commented on #1527
@jedbrown I want to be sure there isn't any conflict of interest here. @kavir1698 has agreed to join us in JuliaDynamics, a GitHub organization that I am part of. In this process I will do some contributions to the repo under review here. But, since the rules of JOSS state that I can't review a repo that I contribute to, I will do this _after_ the current review process is done.

is this okay?

[2019-07-30 09:49] silvandeleemput commented on #1576
@kyleniemeyer Thank you for clarifying your recommendation. We have added a high-level explanation about neural networks to the summary. Additionally, we have also added a missing arxiv URL to the bibliography so that all works have either an URL or DOI.

[2019-07-30 09:57] cMadan commented on #1294
@tyarkoni @effigies, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper tit

[2019-07-30 09:58] cMadan commented on #1458
@hneutr, everything looks good to me!

To move forward with accepting your submission, there are a few last things to take care of:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and auth

[2019-07-30 10:29] labarba commented on #1597
@whedon generate pdf

[2019-07-30 10:29] whedon commented on #1597
[code]

[2019-07-30 10:29] whedon commented on #1597
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01597/joss.01597/10.21105.joss.01597.pdf)

[2019-07-30 10:32] labarba commented on #1597
That's much better!

I want to say that "shortly" is used in English to mean "in a little while" or "soon," so I think your word choice is not working at the start of paragraph 2.

[2019-07-30 10:39] labarba commented on #1597
👋 @lpantano — I believe this submission is within your domains of knowledge. Could you handle as editor?

It is a Python library for reading, validating, representing, and writing the ISA-Tab file format, used in life science experiments.

[2019-07-30 12:49] labarba commented on #1577
@pitsianis — you have a handful of in-text citations, meaning that the citation is a part of the sentence, with extra parens: "see (Smith 2000)" or "shown in (Jones 2001)." In these cases, you need to use the correct [citation syntax](https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax) to get rid of the parens.

[2019-07-30 13:10] labarba commented on #1577
@whedon check references

[2019-07-30 13:11] whedon commented on #1577
[code]

[2019-07-30 13:11] whedon commented on #1577
[code]

[2019-07-30 13:15] labarba commented on #1577
Could you add a link to the arXiv preprint for this reference?
https://arxiv.org/abs/1906.05582

[2019-07-30 13:23] DominiqueMakowski commented on #1541
Dear @tjmahr, thanks a lot for your thorough review. We have addressed them in [this PR](https://github.com/easystats/bayestestR/pull/201):

We hope you will be satisfied with the revisions ☺️

[2019-07-30 13:31] strengejacke commented on #1541
@whedon generate pdf

[2019-07-30 13:31] whedon commented on #1541
[code]

[2019-07-30 13:32] whedon commented on #1541
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01541/joss.01541/10.21105.joss.01541.pdf)

[2019-07-30 13:35] lpantano commented on #1597
@whedon assign @lpantano as editor

[2019-07-30 13:35] whedon commented on #1597
OK, the editor is @lpantano

[2019-07-30 13:40] lpantano commented on #1597
@whedon add @dsurujon as reviewer

[2019-07-30 13:40] whedon commented on #1597
OK, @dsurujon is now a reviewer

[2019-07-30 13:41] lpantano commented on #1597
@whedon add @dmnfarrell as reviewer

[2019-07-30 13:41] whedon commented on #1597
OK, @dmnfarrell is now a reviewer

[2019-07-30 13:42] lpantano commented on #1597
@tleonardi @dmnfarrell and @dsurujon, thank you to be a reviewer, if any of you don't have time anymore, let me know. We have three reviewers so it is fine if one cannot do it.Thanks!

[2019-07-30 13:43] lpantano commented on #1597
@whedon start review

[2019-07-30 13:43] whedon opened #1610 "[REVIEW]: AltamISA: a Python API for ISA-Tab files"
**Submitting author:** @holtgrewe (<a href="http://orcid.org/0000-0002-3051-1763">Manuel Holtgrewe</a>)
**Repository:** <a href="https://github.com/bihealth/altamisa" target ="_blank">https://github.com/bihealth/altamisa</a>
**Version:** v0.2.2
**Editor:** @lpantano
**Reviewer:** @tleonardi, @dsurujon, @dmnfarrell
**Archive:** <a href="https://doi.org/10.5281/zenodo.3370902" target="_blank">10.528

[2019-07-30 13:43] whedon commented on #1597
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1610. Feel free to close this issue now!

[2019-07-30 13:43] whedon commented on #1610
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tleonardi, @dsurujon, @dmnfarrell it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you

[2019-07-30 13:43] whedon commented on #1610
[code]

[2019-07-30 13:43] #1597 closed

[2019-07-30 13:43] whedon commented on #1610
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01610/joss.01610/10.21105.joss.01610.pdf)

[2019-07-30 13:45] tjmahr commented on #1541
Just fix the typo in Savage-Dickey, and I'm satisfied.

[2019-07-30 13:45] chand-lab commented on #1598
@cmadan, this is code for an open source eye tracker which can be used for research settings. It unfortunately needs a high speed camera from Teledyne DALSA and an infrared emitter for getting purkinje images of the eye. Teledyne DALSA has an open source linux API. Our contribution comes from developing a multithreaded C++ client that can leverage their API and then use opencv to detect the pupil

[2019-07-30 13:46] tjmahr commented on #1541
Also, thanks, in particular, for adding the ETI functionality for the ROPE methods.

[2019-07-30 13:52] DominiqueMakowski commented on #1541
typo has been fixed!

[2019-07-30 14:04] scan2001 commented on #1256
@whedon generate pdf

[2019-07-30 14:05] whedon commented on #1256
[code]

[2019-07-30 14:05] whedon commented on #1256
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01256/joss.01256/10.21105.joss.01256.pdf)

[2019-07-30 14:15] scan2001 commented on #1256
@whedon generate pdf

[2019-07-30 14:15] whedon commented on #1256
[code]

[2019-07-30 14:15] whedon commented on #1256
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01256/joss.01256/10.21105.joss.01256.pdf)

[2019-07-30 14:21] pitsianis commented on #1577
@whedon generate pdf

[2019-07-30 14:21] whedon commented on #1577
[code]

[2019-07-30 14:21] whedon commented on #1577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-30 14:27] scan2001 commented on #1256
@whedon generate pdf

[2019-07-30 14:27] whedon commented on #1256
[code]

[2019-07-30 14:27] whedon commented on #1256
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01256/joss.01256/10.21105.joss.01256.pdf)

[2019-07-30 14:28] pitsianis commented on #1577
@whedon generate pdf

[2019-07-30 14:28] whedon commented on #1577
[code]

[2019-07-30 14:28] whedon commented on #1577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-30 14:32] scan2001 commented on #1256
@mgymrek we modified the paper and the README to meet your requests

[2019-07-30 14:32] pitsianis commented on #1577
@whedon generate pdf

[2019-07-30 14:32] whedon commented on #1577
[code]

[2019-07-30 14:33] whedon commented on #1577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-30 14:46] pitsianis commented on #1577
@whedon check references

[2019-07-30 14:46] whedon commented on #1577
[code]

[2019-07-30 14:47] whedon commented on #1577
[code]

[2019-07-30 14:57] Cavenfish commented on #1602
@labarba I believe I have fully satisfied all the previously addressed concerns. I have added documentation and examples to the README.md and added community guidelines to a CONTRIBUTE.md.  A test suite was also added for the package.

Is this ready to proceed to the review stage, or should i make more updates first?

Thanks!

[2019-07-30 15:04] Cavenfish commented on #1602
@whedon generate pdf

[2019-07-30 15:04] whedon commented on #1602
[code]

[2019-07-30 15:04] whedon commented on #1602
PDF failed to compile for issue #1602 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/

[2019-07-30 15:10] chand-lab commented on #1598
Reviewer suggestion: Jan Zimmerman (janz@umn.edu). Jan built the original open source non threaded video eye tracker. Our project builds on top of it.

[2019-07-30 15:13] jedbrown commented on #1527
@Datseris Yes, I can start the review now. (I've been working to track down another reviewer, but can add them later since you're ready to get started.) Thanks for disclosing this potential CoI -- I don't consider plans to collaborate to be problematic for the review.

[2019-07-30 15:13] jedbrown commented on #1527
@whedon add @Datseris as reviewer

[2019-07-30 15:13] whedon commented on #1527
OK, @Datseris is now a reviewer

[2019-07-30 15:13] jedbrown commented on #1527
@whedon start review

[2019-07-30 15:13] whedon opened #1611 "[REVIEW]: Agents.jl: agent-based modeling framework in Julia"
**Submitting author:** @kavir1698 (<a href="http://orcid.org/0000-0003-0895-1495">Ali Rezaee Vahdati</a>)
**Repository:** <a href="https://github.com/kavir1698/Agents.jl" target ="_blank">https://github.com/kavir1698/Agents.jl</a>
**Version:** v1.1.8
**Editor:** @jedbrown
**Reviewers:** @Datseris, @mozhgan-kch
**Archive:** <a href="https://doi.org/10.5281/zenodo.3477581" target="_blank">10.5281/ze

[2019-07-30 15:13] whedon commented on #1527
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1611. Feel free to close this issue now!

[2019-07-30 15:13] whedon commented on #1611
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Datseris it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wa

[2019-07-30 15:13] whedon commented on #1611
[code]

[2019-07-30 15:13] #1527 closed

[2019-07-30 15:14] whedon commented on #1611
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01611/joss.01611/10.21105.joss.01611.pdf)

[2019-07-30 15:16] jedbrown commented on #1611
@Datseris :wave: Welcome, and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [Agents.jl repository](https://github.com/kavir1698/Agents.jl)). I'll be watching this thread if you have any questions.

[2019-07-30 15:36] pitsianis commented on #1577
@whedon generate pdf

[2019-07-30 15:36] whedon commented on #1577
[code]

[2019-07-30 15:36] whedon commented on #1577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-30 15:43] labarba commented on #1577
Looking good! When you're ready, the next steps are:

- [ ] Make a new release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are no

[2019-07-30 15:51] labarba commented on #1602
@whedon generate pdf

[2019-07-30 15:51] whedon commented on #1602
[code]

[2019-07-30 15:51] whedon commented on #1602
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01602/joss.01602/10.21105.joss.01602.pdf)

[2019-07-30 15:57] pitsianis commented on #1577
@whedon generate pdf

[2019-07-30 15:57] whedon commented on #1577
[code]

[2019-07-30 15:57] whedon commented on #1577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-30 16:09] kyleniemeyer commented on #1576
@whedon generate pdf

[2019-07-30 16:09] whedon commented on #1576
[code]

[2019-07-30 16:10] whedon commented on #1576
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01576/joss.01576/10.21105.joss.01576.pdf)

[2019-07-30 16:17] kyleniemeyer commented on #1576
@silvandeleemput looks great to me!

[2019-07-30 16:17] kyleniemeyer commented on #1576
@whedon accept

[2019-07-30 16:17] whedon commented on #1576
[code]

[2019-07-30 16:18] whedon commented on #1576
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/872

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/872, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-30 16:18] effigies commented on #1294
Hi @cMadan I'm not sure I understand. We have a release [0.9.2](https://github.com/bids-standard/pybids/releases/tag/0.9.2) and a Zenodo (https://doi.org/10.5281/zenodo.3333492). I think the author list is slightly different because not all could be contacted to give explicit consent to be on the JOSS paper. And the title is not the same.

I guess the idea is to create a separate release? Is there

[2019-07-30 16:20] kyleniemeyer commented on #1576
@whedon accept deposit=true

[2019-07-30 16:20] whedon commented on #1576
[code]

[2019-07-30 16:20] whedon commented on #1576
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1156238210256789504) 👈 🐦🐦🐦

[2019-07-30 16:20] whedon commented on #1576
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/873
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01576](https://doi.org/10.21105/joss.01576)
2. If everything looks go

[2019-07-30 16:27] kyleniemeyer commented on #1576
Congrats @silvandeleemput on your submission's publication in JOSS! Thanks to @GregaVrbancic and @sepandhaghighi for reviewing, and @terrytangyuan for editing!

[2019-07-30 16:27] #1576 closed

[2019-07-30 16:27] whedon commented on #1576
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01576/status.svg)](https://doi.org/10.21105/joss.01576)

**We need your help!**

Journal of Open Source Softwar

[2019-07-30 16:51] rabdill commented on #1533
Thanks so much for your prompt response. I'm now comfortable signing off on my review, @csoneson. The repository itself still needs a "1.0" release, but it makes sense for that to be the last step of the process.

[2019-07-30 16:56] labarba commented on #1602
👋 @jedbrown — Could you handle this new JOSS submission as editor? Thanks!

[2019-07-30 17:25] fblavoie commented on #1580
Thanks for the follow-up.
I just added the summary to the paper.
If it can help to find an editor... an important part of the software features perform "basic under-grad" mathematics. People working in mathematics/statistics should be able to understand what the software does.

[2019-07-30 17:37] jedbrown commented on #1602
@whedon assign @jedbrown as editor

[2019-07-30 17:38] whedon commented on #1602
OK, the editor is @jedbrown

[2019-07-30 18:01] csoneson commented on #1589
@urmi-21 - I am willing to move forward with this submission without the tracking of user actions, leaving it to future releases; however, in that case I would ask you to add a statement in the paper clarifying that this feature is currently not implemented, so that users are aware of what they have to keep track of manually in order to achieve reproducibility.

[2019-07-30 18:02] csoneson commented on #1589
@jdeligt, @holtgrewe - since you have checked all the boxes in the reviewer checklists, could you please confirm whether you are satisfied with the current state of this submission, or if you have additional outstanding issues or concerns? Thanks!

[2019-07-30 18:05] csoneson commented on #1533
Thanks @rabdill - yes, the version can be set as the last step. I will ping you again when we're there, to get a completely ticked off review list :)

[2019-07-30 18:24] corybrunson commented on #1434
@csoneson i'm sorry for the delay on my part in reviewing the last component i was waiting for, the comparison to other implementations. @fauvernierma has now been able to make this public, so my checklist is complete, but i'd like to wait until @seabbs has commented on that issue to give my recommendation.

[2019-07-30 18:29] dap-biospec commented on #1532
@usethedata, @FaustinCarter, @cfneese  we addressed all the issues that were raised by @FaustinCarter.
- We overhauled the demo and associated .md description. Demo now takes the user step by step through two simulation examples.
- The EChem unit is no longer included - most of the code was not related to KinESim and served more  specialized purpose that would  justify its inclusion here. The rema

[2019-07-30 18:36] seabbs commented on #1434
I am just waiting on a few small changes to the documentation and need to check @corybrunson thoughts on the testing suite. Once both those are done I will be happy to recommend this for acceptance.

Thanks for checking in @csoneson

Great job @fauvernierma

[2019-07-30 18:39] holtgrewe commented on #1589
@csoneson I share @jdeligt's concerns regarding reproducible (as always with UI tools) and also reproducing builds. The first is appropriately tackled IMO once the author adds clarification to the manual. The second is addressed in an issue already.

Actually, I'd like to see a change in JOSS policy requiring automated builds (not CI but using a common, non-IDE build system approach, e.g., at leas

[2019-07-30 18:54] eidheim commented on #1592
@HaoZeke Thank you again for the input.

Although not exactly what you asked for, I added a benchmark page here: https://gitlab.com/eidheim/Simple-Web-Server/blob/benchmarks/docs/benchmarks.md. It is not yet in the master branch, since it is just a draft so far. I am also a bit unsure if I should go in this direction, as I'm thinking benchmarking is out of scope of this paper, but at least you see

[2019-07-30 19:06] eidheim commented on #1592
@ts-adi I moved the dependency installation instructions to the main README.md in: https://gitlab.com/eidheim/Simple-Web-Server/commit/8c146111028aa82dce80b0d7da3069c2810ceea1. Thank you again.

[2019-07-30 19:09] silvandeleemput commented on #1576
@kyleniemeyer @terrytangyuan Hi thank you both very much for accepting our work and for helping us to publish our paper!

There is just a minor issue regarding the citation information on the [linked DOI url](http://joss.theoj.org/papers/10.21105/joss.01576): my surname is missing the "C." and has the "van de" in camel case while it should be all in lowercase  (as it is written in the paper). Simi

[2019-07-30 19:12] dntrinca commented on #1588
@whedon generate pdf

[2019-07-30 19:12] whedon commented on #1588
[code]

[2019-07-30 19:12] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-30 19:15] dntrinca commented on #1588
@whedon generate pdf

[2019-07-30 19:15] whedon commented on #1588
[code]

[2019-07-30 19:15] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-30 19:17] dntrinca commented on #1588
@whedon generate pdf

[2019-07-30 19:17] whedon commented on #1588
[code]

[2019-07-30 19:17] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-30 19:20] dntrinca commented on #1588
@whedon generate pdf

[2019-07-30 19:20] whedon commented on #1588
[code]

[2019-07-30 19:21] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-30 19:38] dntrinca commented on #1588
@whedon generate pdf

[2019-07-30 19:38] whedon commented on #1588
[code]

[2019-07-30 19:38] whedon commented on #1588
PDF failed to compile for issue #1588 with the following error:

 Error reading bibliography ./paper.bib (line 62, column 1):
unexpected end of input
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-30 19:40] dntrinca commented on #1588
@whedon generate pdf

[2019-07-30 19:40] whedon commented on #1588
[code]

[2019-07-30 19:40] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-30 19:45] dntrinca commented on #1588
@whedon generate pdf

[2019-07-30 19:45] whedon commented on #1588
[code]

[2019-07-30 19:45] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-30 19:49] dntrinca commented on #1588
@usethedata , I just finished the necessary additions; let me know if this is OK..Best, D Narcis

[2019-07-30 20:02] kyleniemeyer commented on #1576
@arfon can you make this correction manually? Also, any idea about how to avoid such issues in the future? This isn't the first surname issue we've had recently.

[2019-07-30 20:52] garrettj403 commented on #1554
Hi, sorry for the delay -- I've been really busy for the last two weeks, but I have a lot more time now. I started by taking a look at the documentation, and I'll try out the software over the next few days.

JOSS paper
----------
- I have the same question as @zhampel about authorship. In the ``setup.py`` file, there are 4 authors listed (Danny Price, Emilio Enriquez, Griffin Foster, Greg Hellbou

[2019-07-30 21:00] pitsianis commented on #1577
@labarba Thank you for your help and the timely and gentle nudges to get all our ducks in a row.

A new release is made (v1.0.1).
The Zenodo DOI with this release archived is 10.5281/zenodo.3355679

[2019-07-30 21:01] jedbrown commented on #1602
@arosen93 @goerz @shivupa @robertodr @KEIPERTK :wave: Would you be willing to review this submission for JOSS?

[2019-07-30 21:04] Datseris commented on #1611
Here are some initial comments for the review.

1. The currently installed version for the package manager is `1.1.0`. This does not match the submitted version of `1.1.2`, but I don't know how much of an impact this has.

[2019-07-30 21:04] pitsianis commented on #1577
@whedon generate pdf

[2019-07-30 21:04] whedon commented on #1577
[code]

[2019-07-30 21:05] whedon commented on #1577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-30 21:12] arosen93 commented on #1602
@jedbrown. This is in my area. I would be happy to review.

[2019-07-30 21:23] holtgrewe commented on #1005
Hi, after reaching out to @kyleniemeyer, here are some points **outside** a formal review (if only out of sentiment from my original background, I'd like to see some more support for the literate programming style in any language):

- Given that Markdown/HTML are stronger on Github that classic LaTeX, it's a bit of a pity that all of the relevant information hides in binary PDF rather than text fo

[2019-07-30 22:13] garrettj403 commented on #1554
Functionality
-------------
- You should mention in the documentation that you need to use ``git-lfs`` to clone the repository.
- I was able to run the tests found in ``blimpy/tests/``, but the code coverage is currently only 44%. It would be good if this was a bit higher. (Note: If you have code that doesn't require testing, you can flag it using ``# pragma: no cover``. Then it won't be included

[2019-07-30 22:47] labarba commented on #1577
@whedon set v1.0.1 as version

[2019-07-30 22:47] whedon commented on #1577
OK. v1.0.1 is the version.

[2019-07-30 22:47] labarba commented on #1577
@whedon set 10.5281/zenodo.3355679 as archive

[2019-07-30 22:47] whedon commented on #1577
OK. <a href="https://doi.org/10.5281/zenodo.3355679" target="_blank">10.5281/zenodo.3355679</a> is the archive.

[2019-07-30 22:47] joethorley commented on #1601
@goldingn greta is a fantastic piece of software. I just have three minor issues that need to be addressed

https://github.com/greta-dev/greta/issues/295
https://github.com/greta-dev/greta/issues/296
https://github.com/greta-dev/greta/issues/297

[2019-07-30 22:49] labarba commented on #1577
Could you make the title of the Zenodo deposit match the title for this JOSS submission? This can be done editing the metadata (no need for a new DOI version).

[2019-07-30 23:10] pitsianis commented on #1577
@labarba -- We corrected the title of the Zenodo deposit to match the title for this JOSS submission.

[2019-07-31 00:22] goldingn commented on #1601
@whedon generate pdf

[2019-07-31 00:22] whedon commented on #1601
[code]

[2019-07-31 00:22] whedon commented on #1601
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01601/joss.01601/10.21105.joss.01601.pdf)

[2019-07-31 00:25] shivupa commented on #1602
I’d feel comfortable and would enjoy reviewing this as well!

[2019-07-31 00:29] goldingn commented on #1601
Thanks @joethorley!

Resolved two of those issues now. The last formatting issue (#297) doesn't seem to be present in the article proof, but I may have misunderstood.

[2019-07-31 01:24] frycast commented on #1587
@arokem @klmedeiros --- Is there a way that I can change the URL at the top of the page? Perhaps I should resubmit?

[2019-07-31 01:26] frycast commented on #1587
@whedon commands

[2019-07-31 01:26] whedon commented on #1587
Here are some things you can ask me to do:

[code]

[2019-07-31 01:28] frycast commented on #1587
@whedon generate pdf from branch master

[2019-07-31 01:28] whedon commented on #1587
[code]

[2019-07-31 01:28] whedon commented on #1587
PDF failed to compile for issue #1587 with the following error:

 fatal: Not a git repository (or any parent up to mount point /app)
Stopping at filesystem boundary (GIT_DISCOVERY_ACROSS_FILESYSTEM not set).
Can't find any papers to compile :-(

[2019-07-31 01:29] frycast commented on #1587
@whedon generate pdf from https://github.com/frycast/studentlife

[2019-07-31 01:29] whedon commented on #1587
[code]

[2019-07-31 01:29] whedon commented on #1587
PDF failed to compile for issue #1587 with the following error:

 Can't find any papers to compile :-(

[2019-07-31 01:31] #1548 closed

[2019-07-31 02:28] jdeligt commented on #1589
@csoneson thanks for the input and suggesting the addtion to the manual.  As @holtgrewe points out build systems aren't currently coverd and there is room for improvement there. The tool and publication meet the guidelines and look forward to the authors continuing to work on the reproducibility. As such I'm happy to progress the publication.

[2019-07-31 03:22] HaoZeke commented on #1592
@eidheim, thanks for the changes. The benchmarks are relevant, since the performance would be a major deciding factor. `paper.md` also looks great. So I believe as soon as the `benchmarks.md` file lands on master, I can recommend this.

[2019-07-31 03:38] jedbrown commented on #1602
@whedon add @arosen93 as reviewer

[2019-07-31 03:38] whedon commented on #1602
OK, @arosen93 is now a reviewer

[2019-07-31 03:39] jedbrown commented on #1602
@whedon add @shivupa as reviewer

[2019-07-31 03:39] whedon commented on #1602
OK, @shivupa is now a reviewer

[2019-07-31 03:39] jedbrown commented on #1602
@whedon add @colleeneb as reviewer

[2019-07-31 03:39] whedon commented on #1602
OK, @colleeneb is now a reviewer

[2019-07-31 03:39] jedbrown commented on #1602
@whedon start review

[2019-07-31 03:39] whedon opened #1612 "[REVIEW]: AutoGAMESS: A Python package for automation of GAMESS(us) Raman calculations"
**Submitting author:** @Cavenfish (<a href="http://orcid.org/0000-0002-7416-8629">Brian Ferrari</a>)
**Repository:** <a href="https://github.com/Cavenfish/autogamess" target ="_blank">https://github.com/Cavenfish/autogamess</a>
**Version:** v1.1.1
**Editor:** @jedbrown
**Reviewer:** @arosen93, @shivupa, @colleeneb
**Archive:** <a href="https://doi.org/10.5281/zenodo.3385236" target="_blank">10.528

[2019-07-31 03:39] whedon commented on #1602
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1612. Feel free to close this issue now!

[2019-07-31 03:39] whedon commented on #1612
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arosen93, @shivupa, @colleeneb it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-07-31 03:39] whedon commented on #1612
[code]

[2019-07-31 03:39] #1602 closed

[2019-07-31 03:39] whedon commented on #1612
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01612/joss.01612/10.21105.joss.01612.pdf)

[2019-07-31 03:41] jedbrown commented on #1612
@arosen93, @shivupa, and @colleeneb :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [AutoGAMESS repository](https://github.com/Cavenfish/autogamess)). I'll be watching this thread if you have any questions.

[2019-07-31 04:39] cMadan commented on #1294
@effigies, I think those discrepencies are fine then.

Any thoughts, @openjournals/joss-eics ?

[2019-07-31 05:18] cMadan commented on #1598
@thejanzimmermann, would you be available and interested in reviewing this submission?

[2019-07-31 05:34] thejanzimmermann commented on #1598
Sure !

________________________________
From: Christopher Madan <notifications@github.com>
Sent: Wednesday, July 31, 2019 12:18 AM
To: openjournals/joss-reviews
Cc: Jan Zimmermann; Mention
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: openEyeTrack - A high speed multi-threaded eye tracker for head-fixed applications (#1598)

@thejanzimmermann<https://github.com/thejanzimmermann>, would y

[2019-07-31 06:39] labarba commented on #1577
@whedon accept

[2019-07-31 06:39] whedon commented on #1577
[code]

[2019-07-31 06:39] whedon commented on #1577
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/874

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/874, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-31 06:43] labarba commented on #1577
@whedon accept deposit=true

[2019-07-31 06:43] whedon commented on #1577
[code]

[2019-07-31 06:44] whedon commented on #1577
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1156455449799122944) 👈 🐦🐦🐦

[2019-07-31 06:44] whedon commented on #1577
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/875
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01577](https://doi.org/10.21105/joss.01577)
2. If everything looks go

[2019-07-31 06:48] labarba commented on #1577
Congratulations, @pitsianis, your JOSS paper is published! 🚀

Huge thanks to  @tingyu66, @rioyokota for reviewing this submission—JOSS is grateful for your contribution 🙏

[2019-07-31 06:48] #1577 closed

[2019-07-31 06:48] whedon commented on #1577
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01577/status.svg)](https://doi.org/10.21105/joss.01577)

**We need your help!**

Journal of Open Source Softwar

[2019-07-31 07:01] labarba commented on #1294
JOSS requests that you make a new release of the software after applying any revisions that occurred during the review. That new release should be deposited in Zenodo, for archival of the reviewed software.

Our expectation is that the Zenodo archive corresponding to the accepted JOSS paper have the same title and author list as the JOSS paper.

If I understand correctly, you're saying that some o

[2019-07-31 07:13] xuanxu commented on #1559
Thanks @mgckind! I'll assign you now. I'll then start the review once we have the second reviewer. Stay tuned!

[2019-07-31 07:13] xuanxu commented on #1559
@whedon assign @mgckind as reviewer

[2019-07-31 07:13] whedon commented on #1559
OK, the reviewer is @mgckind

[2019-07-31 07:38] arfon commented on #1576
Done. I'm afraid the name parsing library we use doesn't handle surnames names like this very well so fixing is non-trivial.

[2019-07-31 07:50] martibosch commented on #1511
well I believe that in this case, leaving it to one author is more coherent with the [JOSS autorship guidelines](https://joss.readthedocs.io/en/latest/submitting.html#authorship).

[2019-07-31 08:06] bii-absd commented on #1533
@rabdill - Thanks for taking the time to do the review. We greatly appreciate your help.

@andreysmelter - (i) The test dataset has been uploaded to FigShare and (ii) a markdown version of the installation guide has been created in the 'Installation' folder.

[2019-07-31 08:37] silvandeleemput commented on #1576
@kyleniemeyer @arfon Thanks for the manual correction.

[2019-07-31 08:46] cMadan commented on #1598
@thejanzimmermann, great, I assume you have access to the requisite hardware? I'll try and also get someone who's previously reviewed for JOSS on-board as well to help review the code, but likely wouldn't have the requiste hardware to do a full review of the functionality.

@adswa, would you be available and interested in reviewing this submission?

[2019-07-31 10:10] seabbs commented on #1434
@fauvernierma has completed the final changes so my checklist is complete and all review issues are closed. I am now very happy to recommend this for acceptance @csoneson

Congrats 🎆  @fauvernierma  - this is a really nice package. Looking forward to making use of it in the future.

Hopefully, the review process has been useful!

[2019-07-31 10:26] corybrunson commented on #1434
@csoneson i also recommend acceptance of the current version. Thank you for your supervision!

[2019-07-31 11:05] ts-adi commented on #1592
@eidheim In my opinion, benchmarking is not relevant here as I don't see any performance claims made in your `paper.md`. So I will mark it complete on my checklist but please do still satisfy the requirements set out by @HaoZeke.

My only remaining concern now is with _example usage_. The example files you've provided are great, but I'd ask you to explain a little more in your `README.md` as to wh

[2019-07-31 11:41] fauvernierma commented on #1434
Thank you very much @csoneson, @seabbs, and @corybrunson

The review process has been very useful

Have a great day!

[2019-07-31 12:01] hiendn commented on #1587
@whedon generate pdf from https://github.com/frycast/studentlife/tree/master/paper

[2019-07-31 12:01] whedon commented on #1587
[code]

[2019-07-31 12:01] whedon commented on #1587
PDF failed to compile for issue #1587 with the following error:

 Can't find any papers to compile :-(

[2019-07-31 12:02] hiendn commented on #1587
@whedon generate pdf from https://github.com/frycast/studentlife/blob/master/paper/paper.md

[2019-07-31 12:02] whedon commented on #1587
[code]

[2019-07-31 12:02] whedon commented on #1587
PDF failed to compile for issue #1587 with the following error:

 Can't find any papers to compile :-(

[2019-07-31 12:06] hiendn commented on #1587
@arokem can you look into what is wrong with this submission, that makes it unable to render a PDF? Do you think it is worth it to simply resubmit the paper in a hope of resolving the issues?

[2019-07-31 12:44] csoneson commented on #1434
@seabbs, @corybrunson - great, thanks a lot!
@fauvernierma - I will have another look through to see if there are any formalities that need to be fixed before I accept the paper.

[2019-07-31 12:44] csoneson commented on #1434
@whedon generate pdf

[2019-07-31 12:44] whedon commented on #1434
[code]

[2019-07-31 12:44] whedon commented on #1434
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01434/joss.01434/10.21105.joss.01434.pdf)

[2019-07-31 13:02] arokem commented on #1587
I just edited the URL in the first comment on this issue. Let's see if that works.

[2019-07-31 13:02] arokem commented on #1587
@whedon generate pdf

[2019-07-31 13:02] whedon commented on #1587
[code]

[2019-07-31 13:02] whedon commented on #1587
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01587/joss.01587/10.21105.joss.01587.pdf)

[2019-07-31 13:07] effigies commented on #1294
That's the case. All JOSS-related revisions are in the most recent release.

We can probably update the title... @tyarkoni do you have ownership of the Zenodo entry?

We settled on opt-out for Zenodo in https://github.com/bids-standard/pybids/pull/308, although we did get a very high rate of affirmative response, with I think only 7 failures to respond. As to why we chose opt-out for Zenodo, the d

[2019-07-31 13:22] csoneson commented on #1434
@whedon check references

[2019-07-31 13:22] whedon commented on #1434
[code]

[2019-07-31 13:23] whedon commented on #1434
[code]

[2019-07-31 13:25] labarba commented on #1294
@arfon — Are we OK with an author-list discrepancy between the JOSS paper and Zenodo archive, for reasons described above?

[2019-07-31 13:28] csoneson commented on #1434
@fauvernierma - I sent a PR with a couple of small formatting fixes; please check and merge if you agree, then run `@whedon generate pdf` to generate a new version of the paper.

In addition to that, the next thing to do is to make a tagged release of your software, and create a Zenodo archive. Please make sure that the Zenodo archive has exactly the same title and authors as the paper. Once that'

[2019-07-31 13:34] arfon commented on #1294
Yes, that’s fine.

[2019-07-31 14:18] thejanzimmermann commented on #1598
I have all the necessary hardware in the lab. Let me know the steps involved since this is the first time I am doing a review like this.

Let me look at the other repo and give you a heads up in a bit

________________________________
From: Christopher Madan <notifications@github.com>
Sent: Wednesday, July 31, 2019 3:46 AM
To: openjournals/joss-reviews
Cc: Jan Zimmermann; Mention
Subject: Re: [ope

[2019-07-31 15:18] cMadan commented on #1294
@effigies, thanks for the detailed response. I think the only thing remaining then is for @tyarkoni to update the title in Zenodo.

[2019-07-31 16:34] terrytangyuan commented on #1601
Nice job @goldingn and thanks @joethorley for the review!
👋 @lionel68 Have you got a chance to review this paper yet?

[2019-07-31 16:37] terrytangyuan commented on #1566
Thanks @gvegayon! @JonasMoss Could you address those issues pointed out?

[2019-07-31 16:47] lionel68 commented on #1601
On my agenda for this friday :) @terrytangyuan

[2019-07-31 16:50] andreysmelter commented on #1533
@bii-absd, thank you for the prompt response, I checked of my reviewer list for the functionality docs and tests.

There is still seems to be some confusion regarding the release version information - it seems to be set arbitrary (the web-interface says it is version 2.05 and the documentation says it is Release 1.0). @bii-absd one simple way to add the correct version is to make sure that the doc

[2019-07-31 17:21] urmi-21 commented on #1589
Hi @holtgrewe @jdeligt @csoneson
Thank you very much for your comments. @holtgrewe and @jdeligt Thank you for reviewing my submission and pointing out important enhancements which could improve the software. I am really grateful.
@csoneson I have updated the paper as suggested.

Thank you

[2019-07-31 17:24] urmi-21 commented on #1589
@whedon generate pdf

[2019-07-31 17:24] whedon commented on #1589
[code]

[2019-07-31 17:25] whedon commented on #1589
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01589/joss.01589/10.21105.joss.01589.pdf)

[2019-07-31 17:34] arokem commented on #1590
👋 @spinicist : would you be willing to review this paper for JOSS? Your expertise in MRI will be useful here.

[2019-07-31 17:46] adswa commented on #1598
Hey @cMadan, thanks for thinking of me! I don't think I'm able to provide the necessary prerequisites for this submission, though. I don't have access to the required hardware, and work with Python instead of c++. I'm happy to review submissions that are in the area of my expertise in the future, though :slightly_smiling_face:

[2019-07-31 17:48] urmi-21 commented on #1589
@whedon generate pdf

[2019-07-31 17:48] whedon commented on #1589
[code]

[2019-07-31 17:49] whedon commented on #1589
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01589/joss.01589/10.21105.joss.01589.pdf)

[2019-07-31 18:51] gus0k commented on #1591
Hello,

Do you have anything so far that you would like me to fix or clarify?

Best regards,
K

[2019-07-31 19:21] dap-biospec commented on #1568
@tcausgrove, @kyleniemeyer - Documentation has been updated to keep repo transparent. Additional examples are provided in the demo experiment to better illustrate capabilities in three scenarios. A separate performance testing experiment is provided along with the description of testing process and the expected results.

[2019-07-31 19:33] Kevin-Mattheus-Moerman commented on #1507
@whedon add @vaishnavtv as reviewer

[2019-07-31 19:33] whedon commented on #1507
OK, @vaishnavtv is now a reviewer

[2019-07-31 19:34] Kevin-Mattheus-Moerman commented on #1507
@whedon add @ctdegroot as reviewer

[2019-07-31 19:34] whedon commented on #1507
OK, @ctdegroot is now a reviewer

[2019-07-31 19:34] Kevin-Mattheus-Moerman commented on #1507
@Jfriesen222 would you be interested in reviewing this work on tensegrity modelling for JOSS? The review process will focus on the software and this short paper.

[2019-07-31 19:35] Kevin-Mattheus-Moerman commented on #1507
@whedon start review

[2019-07-31 19:35] whedon opened #1613 "[REVIEW]: TEAM: Tensegrity Engineering Analysis Master"
**Submitting author:** @ramaniitrgoyal92 (<a href="http://orcid.org/0000-0002-8128-3051">Raman Goyal</a>)
**Repository:** <a href="https://github.com/ramaniitrgoyal92/Tensegrity_Engineering_Analysis_Master-TEAM-" target ="_blank">https://github.com/ramaniitrgoyal92/Tensegrity_Engineering_Analysis_Master-TEAM-</a>
**Version:** v2.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @apsabelhaus, @va

[2019-07-31 19:35] whedon commented on #1507
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1613. Feel free to close this issue now!

[2019-07-31 19:35] whedon commented on #1613
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @apsabelhaus, @vaishnavtv, @ctdegroot it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer,

[2019-07-31 19:35] whedon commented on #1613
[code]

[2019-07-31 19:36] whedon commented on #1613
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01613/joss.01613/10.21105.joss.01613.pdf)

[2019-07-31 19:36] Kevin-Mattheus-Moerman commented on #1507
The review has started over at #1613 however additional reviewers are still welcome. Contact me if interested.

[2019-07-31 19:36] #1507 closed

[2019-07-31 19:38] Kevin-Mattheus-Moerman commented on #1613
@ramaniitrgoyal92, @apsabelhaus, @vaishnavtv, @ctdegroot, apologies for the delay in getting this review started. This is where the review will take place. The reviewers have tick-box sections and instructions at the top of this issue. Let me know if you have any questions.

[2019-07-31 20:07] csoneson commented on #1589
@urmi-21 - I have made a PR with a couple of formatting fixes to the paper. Please review and merge, and generate a new pdf proof.

In addition to that, the next step is to make a tagged release of your software, and create a Zenodo archive. Please make sure that the Zenodo archive has exactly the same title and authors as the paper. Once that's done, please report back here with the DOI of the Ze

[2019-07-31 20:12] csoneson commented on #1533
@andreysmelter, @rabdill - thanks a lot for your thorough reviews!

@bii-absd - I'll take another quick look at your submission and get back to you shortly. At this stage, please make sure that the version information is consistently reported so that the reviewers can tick off the last boxes in the checklists.

[2019-07-31 20:28] eidheim commented on #1592
@HaoZeke @ts-adi Thank you again for great feedback.

@HaoZeke I have now pushed the benchmark page to master: https://gitlab.com/eidheim/Simple-Web-Server/commit/5b6a606f4cd844c5966caeaa73c31858e18e57a1

@ts-adi The usage section is now extended, and the examples have additional output: https://gitlab.com/eidheim/Simple-Web-Server/commit/0eeb972b51e3d6bb58a4fdd5487d8900b89af14c

[2019-07-31 23:10] labarba commented on #1605
@eddelbuettel —
After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems very useful, it falls under the 'Minor utility' category, and we therefore decided not to put it through review.

Thank y

[2019-07-31 23:10] #1605 closed

[2019-07-31 23:30] urmi-21 commented on #1589
@csoneson Thanks for the PR I have merged the changes. Here is the DOI generated by zenodo

10.5281/zenodo.3357162

[2019-07-31 23:31] urmi-21 commented on #1589
@whedon generate pdf

[2019-07-31 23:31] whedon commented on #1589
[code]

[2019-07-31 23:32] whedon commented on #1589
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01589/joss.01589/10.21105.joss.01589.pdf)

[2019-08-01 02:09] HaoZeke commented on #1592
@whedon check references

[2019-08-01 02:09] whedon commented on #1592
[code]

[2019-08-01 02:10] whedon commented on #1592
[code]

[2019-08-01 02:12] HaoZeke commented on #1592
@eidheim Thanks for your patience in handling all the issues, please update the DOI though. The `readme` changes are very well done.

[2019-08-01 03:07] urmi-21 commented on #1589
@whedon generate pdf

[2019-08-01 03:07] whedon commented on #1589
[code]

[2019-08-01 03:07] whedon commented on #1589
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01589/joss.01589/10.21105.joss.01589.pdf)

[2019-08-01 05:35] alexanderimanicowenrivers commented on #1524
Dear reviewer,

We thank you for your comments and suggestions and believe we have sufficiently addressed all points.

Regarding your comment on the installation script, we have added to the file `setup.sh` such that the installation script now supports Homebrews on macOS. In addition, we have written additional logging lines that will allow the user to know exactly what is being installed and any

[2019-08-01 07:26] csoneson commented on #1589
@whedon check references

[2019-08-01 07:27] whedon commented on #1589
[code]

[2019-08-01 07:27] whedon commented on #1589
[code]

[2019-08-01 07:29] ts-adi commented on #1592
@eidheim I think if you put the `doi` for the "Boost C++ Libraries" entry, @whedon should be good with it. While you're at it, I think it's a good idea that you look at all the references mentioned in your `paper.bib` and see which have a valid DOI. Add it in for all the ones you find a DOI for.

[2019-08-01 07:31] csoneson commented on #1589
@whedon set 10.5281/zenodo.3357162 as archive

[2019-08-01 07:31] whedon commented on #1589
OK. <a href="https://doi.org/10.5281/zenodo.3357162" target="_blank">10.5281/zenodo.3357162</a> is the archive.

[2019-08-01 07:31] csoneson commented on #1589
@whedon set v1.0.2 as version

[2019-08-01 07:31] whedon commented on #1589
OK. v1.0.2 is the version.

[2019-08-01 07:32] csoneson commented on #1589
@whedon accept

[2019-08-01 07:32] whedon commented on #1589
[code]

[2019-08-01 07:32] whedon commented on #1589
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/876

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/876, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-08-01 07:33] csoneson commented on #1589
@openjournals/joss-eics - I believe we are ready to have this paper accepted!

[2019-08-01 07:42] csoneson commented on #1533
@whedon check references

[2019-08-01 07:42] whedon commented on #1533
[code]

[2019-08-01 07:42] whedon commented on #1533
[code]

[2019-08-01 07:43] csoneson commented on #1533
@whedon generate pdf

[2019-08-01 07:43] whedon commented on #1533
[code]

[2019-08-01 07:44] whedon commented on #1533
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01533/joss.01533/10.21105.joss.01533.pdf)

[2019-08-01 07:57] csoneson commented on #1533
@bii-absd - I made a PR with some small formatting fixes to the paper. Please review and merge, and generate a new pdf proof.

Next, please make sure that the version information is consistently reported, and create a tagged release of your software. Then create a Zenodo archive, making sure that the title and authors of the archive are exactly the same as in the paper. Once that's done, please re

[2019-08-01 08:08] csoneson commented on #1593
@zedtaha - would you be interested in reviewing this submission for JOSS?

[2019-08-01 08:15] eidheim commented on #1592
@HaoZeke @ts-adi I agree that https://doi.org/10.1007/978-1-4419-7719-9_6 is incorrect, it seems to be a book that includes a chapter about the Boost C++ libraries.

@ts-adi I could only find a valid DOI for the websocket protocol, which I added in https://gitlab.com/eidheim/Simple-Web-Server/commit/db24254c96225c65af4637d387eb638e95ed313d.

[2019-08-01 08:31] ts-adi commented on #1592
@eidheim ah, I see. You weren't actually trying to quote that chapter from the book, but just reference the Boost project in general.

Cool, in that case, I'm done with my review. @gkthiruvathukal this paper has my recommendation.

[2019-08-01 08:54] JonasMoss commented on #1566
@terrytangyuan Sure! Thanks a lot @gvegayon

[2019-08-01 09:50] Kevin-Mattheus-Moerman commented on #1262
@whedon set v1.0.16 as version

[2019-08-01 09:50] whedon commented on #1262
OK. v1.0.16 is the version.

[2019-08-01 09:52] Kevin-Mattheus-Moerman commented on #1262
@patrikhuber thanks for your comments here. Would you like to be be added as an official reviewer so you have a checklist at the top?

[2019-08-01 09:53] Kevin-Mattheus-Moerman commented on #1262
@r-barnes thanks for your help with this review. Could you give us an indication as to when you think you can complete the review?

[2019-08-01 10:05] Kevin-Mattheus-Moerman commented on #1047
@jjmcnelis can  you review the latest changes and @jshermeyer 's response to your points.

@jjmcnelis @rmsare To answer your question yes this package is considered more than a "minor utility", and it is clear it may be valuable for scientific research applications. A typical "minor utility" is a package doing something quite trivial or simple and which does not influence scientific research and t

[2019-08-01 10:07] labarba commented on #1589
The *title* of the release doesn't match the tag (says "v1.0" while tag is "v1.0.2")
https://github.com/urmi-21/ORIS/releases

[2019-08-01 10:07] Kevin-Mattheus-Moerman commented on #1047
@zhampel can you finalize the review on your end? Are you satisfied with the changes made? Thanks

[2019-08-01 10:08] Kevin-Mattheus-Moerman commented on #1047
@rmsare you can tick the version box (this tick box will be removed in future review issues as it often leads to confusion), the reviewed version will be set appropriately before the acceptance stage.

[2019-08-01 10:21] labarba commented on #1589
@urmi-21 — I wonder if you would be amenable to making some final improvements in your paper. It felt like a bit of a slog to have to read half a page of background before getting to a statement about what the software does. Could you look into placing a few sentences about the software right at the top of your summary? I feel like the first portion of the _last_ paragraph, with slight edits, woul

[2019-08-01 11:23] bii-absd commented on #1533
@whedon generate pdf

[2019-08-01 11:23] whedon commented on #1533
[code]

[2019-08-01 11:24] whedon commented on #1533
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01533/joss.01533/10.21105.joss.01533.pdf)

[2019-08-01 11:28] bii-absd commented on #1533
@whedon generate pdf

[2019-08-01 11:28] whedon commented on #1533
[code]

[2019-08-01 11:29] whedon commented on #1533
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01533/joss.01533/10.21105.joss.01533.pdf)

[2019-08-01 11:56] mailchand commented on #1598
Hi @cMadan. My other reviewer suggestions after looking through your list of reviewers is

1) @rougier who seems to be a computational neuroscientist with C++ experience.
2) @casteer who is a physicist interested in research instrumentation.

Just thoughts off the top of my head.

[2019-08-01 12:05] patrikhuber commented on #1262
@Kevin-Mattheus-Moerman I don't mind personally. But if there's anything more that would help you (like doing an official checklist), I'd be happy to do it. Should be trivial given I've already completed a pretty much full review and everything is fine from my end.
I am on vacation though so the earliest I could do anything is the week of 12 August.

[2019-08-01 12:57] xuanxu commented on #1559
@whedon add @aureliocarnero as reviewer

[2019-08-01 12:57] whedon commented on #1559
OK, @aureliocarnero is now a reviewer

[2019-08-01 12:57] xuanxu commented on #1559
@whedon start review

[2019-08-01 12:58] whedon opened #1614 "[REVIEW]: drms: A Python package for accessing HMI and AIA data"
**Submitting author:** @kbg (<a href="http://orcid.org/0000-0002-1361-5712">Kolja Glogowski</a>)
**Repository:** <a href="https://github.com/sunpy/drms" target ="_blank">https://github.com/sunpy/drms</a>
**Version:** v0.5.7
**Editor:** @xuanxu
**Reviewer:** @mgckind, @aureliocarnero
**Archive:** <a href="https://doi.org/10.5281/zenodo.3369966" target="_blank">10.5281/zenodo.3369966</a>

## Status

[2019-08-01 12:58] whedon commented on #1559
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1614. Feel free to close this issue now!

[2019-08-01 12:58] whedon commented on #1614
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgckind, @aureliocarnero it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-08-01 12:58] whedon commented on #1614
[code]

[2019-08-01 12:58] whedon commented on #1614
PDF failed to compile for issue #1614 with the following error:

 Can't find any papers to compile :-(

[2019-08-01 12:58] xuanxu commented on #1559
@mgckind, @aureliocarnero - please head over to #1614 where the review will take place.

[2019-08-01 12:59] #1559 closed

[2019-08-01 13:00] xuanxu commented on #1614
@whedon generate pdf from branch joss-paper

[2019-08-01 13:00] whedon commented on #1614
[code]

[2019-08-01 13:00] whedon commented on #1614
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01614/joss.01614/10.21105.joss.01614.pdf)

[2019-08-01 13:08] gkthiruvathukal commented on #1326
@Amudtogal Just a gentle nudge to keep this moving. It seems like we are close, so please let me know when you can address the remaining issue.

[2019-08-01 13:09] gkthiruvathukal commented on #1337
@homonecloco Any chance you can let us know whether your remaining issues have been addressed so I can proceed with acceptance?

[2019-08-01 13:09] labarba commented on #1607
@mikldk —
After a pre-review of your submission, and an assessment by the editorial board at large, we find that this submission does not quite meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems very useful, it falls under the 'minor utility/thin wrapper' category, and we therefore decided not to put it through review.

[2019-08-01 13:11] gkthiruvathukal commented on #1494
Thanks, @gradvohl. I am ready to move toward acceptance.
@omoliavko Can you please provide the release tag for the current (reviewed with all changes addressed version) and make a Zenodo archive?

[2019-08-01 13:17] gkthiruvathukal commented on #1604
@kyleniemeyer Thanks! I will get moving on this review now.

[2019-08-01 13:21] gkthiruvathukal commented on #1604
@seanpue, if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2019-08-01 13:23] gkthiruvathukal commented on #1578
@daissi, @cole-brokamp: Just nudging this a bit to get a progress update on your review.

[2019-08-01 13:28] cole-brokamp commented on #1578
working on it now, should be done today!

[2019-08-01 13:29] gkthiruvathukal commented on #1592
Based on the thread, it seems like both @ts-adi and @HaoZeke are ready to proceed. Therefore, I am ready to proceed, too.

@eidheim, Can you please do the following?

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (shou

[2019-08-01 14:00] bii-absd commented on #1533
@andreysmelter - Thank you for all your time committed to this review! We are really grateful for your help. As per your suggestion, we have tagged the release of TIMS software to v2.05. We apologized for the confusion caused due to the inconsistencies between our manuals and software versioning. As such, we have renamed all the TIMS's quick guide, full manual and installation notes to version 2.0

[2019-08-01 14:30] cMadan commented on #1598
@rougier @casteer, if you are available to do a code review of this submission, it would be much appreciated! I figure you probably don't have access to the hardware to test the functionality of the submission, but we do have another reviewer that has that part covered.

[2019-08-01 14:35] cMadan commented on #1476
@adswa, would you be available and interested in reviewing this submission? I understand that you don't have the hardware for this submission, but a code review would be much appreciated and I should have another reviewer who does have access to the hardware to test the functionality.

@RingoHHuang, thanks for agreeing to review this submission!

[2019-08-01 14:35] cMadan commented on #1476
@whedon add @RingoHHuang as reviewer

[2019-08-01 14:35] whedon commented on #1476
OK, @RingoHHuang is now a reviewer

[2019-08-01 14:46] omoliavko commented on #1494
@gkthiruvathukal I'll do that on Wednesday, Aug 7 - we plan to add an important test to source code, and then mark the version of code with a tag.

[2019-08-01 14:53] adswa commented on #1476
Hey @cMadan, sure, I will do what I can.

[2019-08-01 15:05] kthyng commented on #1550
@r-barnes Understandable, thanks!

@TrashBirdEcology sorry for the delay as I work to find reviewers!

@jacobsoj, @jhollist, or @ha0ye are you interested and available to do a review on this JOSS submission? We ask for reviews within about 3 weeks, and you can get more information here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .
We need one more reviewer to move forward!

[2019-08-01 15:24] labarba commented on #1513
If you've made changes during this review, you should make a new [tagged release](https://gitlab.com/dlr-dw/ontocode/-/tags), and then archive that in Zenodo.

Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not on it); you may also add the authors' ORCI

[2019-08-01 15:24] labarba commented on #1580
@whedon assign @usethedata as editor

[2019-08-01 15:24] whedon opened #1615 "[PRE REVIEW]: Rudi: Lightweight image converter and dataset augmentor"
**Submitting author:** @liashchynskyi (<a href="http://orcid.org/0000-0002-3920-6239">Petro Liashchynskyi</a>)
**Repository:** <a href="https://github.com/liashchynskyi/rudi" target ="_blank">https://github.com/liashchynskyi/rudi</a>
**Version:** 1.0
**Editor:** @arfon
**Reviewers:** @casperdcl, @nnadeau

**Author instructions**

Thanks for submitting your paper to JOSS @liashchynskyi. **Currently

[2019-08-01 15:25] whedon commented on #1615
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-01 15:25] whedon commented on #1615
[code]

[2019-08-01 15:25] whedon commented on #1615
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01615/joss.01615/10.21105.joss.01615.pdf)

[2019-08-01 15:40] jgoldfar commented on #1573
Yes; I will post my review within a few days

[2019-08-01 15:40] labarba commented on #1615
@liashchynskyi — I am the Associate-Editor-in-Chief on rotation, and will be looking for a handling editor for your submission.

After reading your paper, though, it seems like a bit of a slog to have to read a whole page of background before getting to a statement about what the software does. Could you look into placing a few sentences about the software right at the top of your summary? The rea

[2019-08-01 15:42] labarba commented on #1615
Our [Documentation](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) requests:

[2019-08-01 15:44] whedon opened #1616 "[PRE REVIEW]: Spruceup: fast and flexible identification, visualization, and removal of outliers from large multiple sequence alignments"
**Submitting author:** @marekborowiec (<a href="http://orcid.org/0000-0001-7510-4064">Marek Borowiec</a>)
**Repository:** <a href="https://github.com/marekborowiec/spruceup" target ="_blank">https://github.com/marekborowiec/spruceup</a>
**Version:** v2019.1.1
**Editor:** @csoneson
**Reviewers:** @iimog, @gavinmdouglas

**Author instructions**

Thanks for submitting your paper to JOSS @marekborowie

[2019-08-01 15:44] whedon commented on #1616
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-01 15:44] whedon commented on #1616
[code]

[2019-08-01 15:44] whedon commented on #1616
PDF failed to compile for issue #1616 with the following error:

 Could not find bibliography file: master.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-01 15:52] spinicist commented on #1590
Hello, what's the time frame on this? I will be on leave soon and am unlikely to get to it before I go, so there could be a substantial delay in my input. If that's acceptable I'm very happy to review.

[2019-08-01 16:00] labarba commented on #1616
@marekborowiec —  I am the Associate Editor-in-Chief on rotation this week, and will be working to identify an editor to handle your submission.  But first, you need to add a `paper.bib` file with the references cited in your paper, in BibTeX format.

[2019-08-01 16:02] marekborowiec commented on #1616
Ah yes. Done.

[2019-08-01 16:04] whedon opened #1617 "[PRE REVIEW]: SleepPy: A python package for sleep analysis from accelerometer data"
**Submitting author:** @elyiorgos (<a href="http://orcid.org/0000-0003-3371-8935">Yiorgos Christakis</a>)
**Repository:** <a href="https://github.com/elyiorgos/sleeppy" target ="_blank">https://github.com/elyiorgos/sleeppy</a>
**Version:** 0.12
**Editor:** @lheagy
**Reviewers:** @eskofier, @ikarosilva

**Author instructions**

Thanks for submitting your paper to JOSS @elyiorgos. **Currently, there

[2019-08-01 16:04] whedon commented on #1617
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-01 16:04] whedon commented on #1617
[code]

[2019-08-01 16:04] whedon commented on #1617
PDF failed to compile for issue #1617 with the following error:

 Error reading bibliography ./paper.bib (line 20, column 81):
unexpected "a"
expecting space or ","
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-01 16:09] labarba commented on #1616
@whedon generate pdf

[2019-08-01 16:09] whedon commented on #1616
[code]

[2019-08-01 16:09] whedon commented on #1616
PDF failed to compile for issue #1616 with the following error:

 Could not find bibliography file: master.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-01 16:11] labarba commented on #1616
@whedon generate pdf

[2019-08-01 16:11] whedon commented on #1616
[code]

[2019-08-01 16:11] whedon commented on #1616
PDF failed to compile for issue #1616 with the following error:

 Could not find bibliography file: master.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-08-01 16:13] labarba commented on #1616
Please merge this fix
https://github.com/marekborowiec/spruceup/pull/1

[2019-08-01 16:14] labarba commented on #1617
@elyiorgos  — Please merge this fix
https://github.com/elyiorgos/sleeppy/pull/1

[2019-08-01 16:14] whedon opened #1618 "[PRE REVIEW]: Pakman: a modular, efficient and portable tool for approximate Bayesian inference"
**Submitting author:** @ThomasPak (<a href="http://orcid.org/0000-0002-7198-7688">Thomas Pak</a>)
**Repository:** <a href="https://github.com/ThomasPak/pakman" target ="_blank">https://github.com/ThomasPak/pakman</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewers:** @jmlarson1, @gonsie

**Author instructions**

Thanks for submitting your paper to JOSS @ThomasPak. **Currently, there isn't an

[2019-08-01 16:14] whedon commented on #1618
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-08-01 16:14] whedon commented on #1618
[code]

[2019-08-01 16:15] whedon commented on #1618
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01618/joss.01618/10.21105.joss.01618.pdf)