[2018-09-23 14:15] arfon commented on #971
Hey @cboettig - thanks for submitting this package. Do you think you could add a little more context to your paper including any examples of projects using this package?

[2018-09-23 14:30] labarba commented on #900
@whedon set 10.5281/zenodo.1433530 as archive

[2018-09-23 14:30] whedon commented on #900
OK. <a href="https://doi.org/10.5281/zenodo.1433530" target="_blank">10.5281/zenodo.1433530</a> is the archive.

[2018-09-23 14:33] labarba commented on #900
@arfon : This submission is accepted and ready to be published.

@vyasr, @trallard : Thank you for your valuable contribution to JOSS by reviewing this publication!

[2018-09-23 14:36] oekosheri commented on #900
Thank you all for your help! :) @labarba @vyasr @trallard @arfon

[2018-09-23 14:38] arfon commented on #900
@vyasr, @trallard - many thanks for your reviews here and to @labarba for editing this submission ✨

@oekosheri - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00900 :zap: :rocket: :boom:

[2018-09-23 14:38] #900 closed

[2018-09-23 14:38] whedon commented on #900
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00900/status.svg)](https://doi.org/10.21105/joss.00900)

**We need your help!**

Journal of Open Source Softwar

[2018-09-23 15:34] yochannah commented on #933
Hey @clarkfitzg, would you be interested in reviewing?

[2018-09-23 17:01] katyhuff commented on #920
@mikapfl This would be great, I'll also do a review to bolster the neutron part.

[2018-09-23 17:01] katyhuff commented on #920
@whedon add @mikapfl as reviewer

[2018-09-23 17:01] whedon commented on #920
OK, @mikapfl is now a reviewer

[2018-09-23 17:03] katyhuff commented on #920
@whedon add @katyhuff as reviewer

[2018-09-23 17:03] whedon commented on #920
OK, @katyhuff is now a reviewer

[2018-09-23 17:04] katyhuff commented on #920
@whedon start review magic-word=bananas

[2018-09-23 17:04] whedon commented on #920
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/973. Feel free to close this issue now!

[2018-09-23 17:04] whedon opened #973 "[REVIEW]: bem: Modeling for Neutron Bragg-Edge Imaging"
**Submitting author:** @Yxqd (<a href="http://orcid.org/0000-0001-9233-0100">Jiao Lin</a>)
**Repository:** <a href="https://github.com/ornlneutronimaging/braggedgemodeling" target ="_blank">https://github.com/ornlneutronimaging/braggedgemodeling</a>
**Version:** v0.1.1
**Editor:** @katyhuff
**Reviewer:** @stuartcampbell, @mikapfl, @katyhuff
**Archive:** <a href="https://doi.org/10.5281/zenodo.1466

[2018-09-23 17:04] whedon commented on #973
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @stuartcampbell, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2018-09-23 17:04] whedon commented on #973
[code]

[2018-09-23 17:04] cboettig commented on #971
I’d be happy to! There’s a deal more in README and the two vignettes. In
the R world, we really think of vignettes as taking this role; i kinda
wonder if it would make more sense to replace paper.md with the intro
vignette? Or would that be too long for a paper.md? Or should these just be
linked instead?
On Sun, Sep 23, 2018 at 7:15 AM Arfon Smith <notifications@github.com>
wrote:

--

http://carl

[2018-09-23 17:04] katyhuff commented on #920
Sorry for the delay on my part @yxqd .  @stuartcampbell @mikapfl , let's start the review over in #973. I'll close this pre-review issue now.

[2018-09-23 17:04] #920 closed

[2018-09-23 17:09] whedon commented on #973
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00973/joss.00973/10.21105.joss.00973.pdf)

[2018-09-23 17:14] kbarnhart commented on #972
A couple of questions

1. I've noticed that there is an error in the proofs associated with my not understanding how to the citations correctly.

How do I cite multiple people at the same time, or add e.g. to the beginning of the citation?

I had wrote:
`` (e.g. [@Forte2016Complexites], [@Perne2017Steady])``

Should I have done?
``[e.g., @Forte2016Complexites], [@Perne2017Steady])``

or something

[2018-09-23 18:10] karthik commented on #942
@daijiang We are waiting for reviewers to respond. Stay tuned until we get someone to commit.

[2018-09-23 18:10] karthik commented on #847
@sckott Are you ok with signing off on this?

[2018-09-23 18:10] karthik commented on #785
Hi @kylehamilton, checking in again to see if you've had time to wrap this review up.
 🙏

[2018-09-23 18:12] karthik commented on #727
👋 @economistgame Can you please update us on progress?

[2018-09-23 19:05] jeffmacinnes commented on #963
@cMadan, gotcha, that's a reasonable policy. I noticed that OpenCV, as well as the [opencv_contrib](https://github.com/opencv/opencv_contrib) extra modules, where SIFT methods are found, are distributed with unmodified 3-clause BSD licenses:

[opencv license](https://github.com/opencv/opencv/blob/master/LICENSE)
[opencv_contrib license](https://github.com/opencv/opencv_contrib/blob/master/LICENSE)

[2018-09-23 19:06] yochannah commented on #934
@rasbt Thanks for making a start on this! 👍

@luizirber Have you had a chance to start looking the paper over yet?

[2018-09-23 19:42] arokem commented on #962
@whedon set arokem as editor

[2018-09-23 19:44] arokem commented on #962
@mattgolub : happy to edit this submission. Looks interesting!

While I look around the submissions, do you have any suggestions for reviewers?

[2018-09-23 19:48] arokem commented on #962
@mattgolub: Could you please clarify the relationship between this software and "recurrent whisperer"? Is it really an independent software library?

[2018-09-23 20:07] danielskatz commented on #956
@willingc - would you be interested in reviewing this? (mostly putting this here as a recording mechanism, since we will talk in person tomorrow)

[2018-09-23 20:10] arfon commented on #462
@whedon commands

[2018-09-23 20:10] whedon commented on #462
Here are some things you can ask me to do:

[code]

[2018-09-23 20:11] arfon commented on #462
@whedon generate pdf

[2018-09-23 20:11] whedon commented on #462
[code]

[2018-09-23 20:11] arfon commented on #462
@whedon assign @arfon as reviewer

[2018-09-23 20:11] whedon commented on #462
OK, the reviewer is @arfon

[2018-09-23 20:11] whedon commented on #462
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00462/joss.00462/10.21105.joss.00462.pdf)

[2018-09-23 20:12] whedon commented on #462
OK, the reviewer is @arfon

[2018-09-23 20:12] arfon commented on #461
@whedon assign @arfon as reviewer

[2018-09-23 20:12] whedon commented on #461
OK, the reviewer is @arfon

[2018-09-23 20:13] arfon commented on #461
@whedon assign @arfon as editor

[2018-09-23 20:13] whedon commented on #461
OK, the editor is @arfon

[2018-09-23 20:14] #970 closed

[2018-09-23 20:33] Kevin-Mattheus-Moerman commented on #908
@whedon start review magic-word=bananas

[2018-09-23 20:33] whedon commented on #908
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/974. Feel free to close this issue now!

[2018-09-23 20:33] whedon opened #974 "[REVIEW]: eights: BS 8888:2011 first angle projection drawings from FreeCAD 3D model"
**Submitting author:** @danielhatton (<a href="http://orcid.org/0000-0002-4585-3336">Daniel Hatton</a>)
**Repository:** <a href="https://github.com/danielhatton/eights/" target ="_blank">https://github.com/danielhatton/eights/</a>
**Version:** 0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @devinberg
**Archive:** <a href="https://doi.org/10.5281/zenodo.2531603" target="_blank">10.5281/zenod

[2018-09-23 20:33] whedon commented on #974
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @devinberg it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-09-23 20:33] whedon commented on #974
[code]

[2018-09-23 20:33] #908 closed

[2018-09-23 20:33] whedon commented on #974
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00974/joss.00974/10.21105.joss.00974.pdf)

[2018-09-23 21:01] cboettig commented on #971
Right, it wasn’t clear to me if bullets 2 & 3 should involve actual code
calls. This briefer documentation is what we put in READMEs, (along with
quick install instructions).

Anyway, I’ll take a stab at this tonight . I still find this conceptually a
bit ambiguous; to me; anything that can be justified as being in paper.md
is probably meaningful enough to also already exist in part of the standar

[2018-09-23 21:33] miykael commented on #897
@raamana and @arokem - my review can be found under https://github.com/raamana/mrivis/issues/11. @raamana, don't hesitate to ask for clarification!

[2018-09-24 03:36] cboettig commented on #971
@arfon Hey Arfon, I just took a stab at updating the `paper.md` along the lines you suggested (and tagged you in the commit).  Let me know if that's better?  Thanks for your patience and help on this, really appreciate the effort to get the right level of detail/content/focus in my `paper.md`'s, both for this time and future reference.

[2018-09-24 05:28] chasemc commented on #928
@whedon generate pdf

[2018-09-24 05:28] whedon commented on #928
[code]

[2018-09-24 05:29] whedon commented on #928
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00928/joss.00928/10.21105.joss.00928.pdf)

[2018-09-24 05:40] chasemc commented on #928
Images were out of place, needed to play with markdown
@whedon generate pdf

[2018-09-24 05:43] chasemc commented on #928
@whedon generate pdf

[2018-09-24 05:43] whedon commented on #928
[code]

[2018-09-24 05:44] whedon commented on #928
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00928/joss.00928/10.21105.joss.00928.pdf)

[2018-09-24 05:47] chasemc commented on #928
@whedon generate pdf

[2018-09-24 05:47] whedon commented on #928
[code]

[2018-09-24 05:48] whedon commented on #928
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00928/joss.00928/10.21105.joss.00928.pdf)

[2018-09-24 06:38] economistgame commented on #727
I'm very sorry, @karthik but I can not find the solution to the failures. Also, I do not know how I will perform the test

[2018-09-24 07:08] malramsay64 commented on #935
@kyleniemeyer I have some time this week set aside to continue my review. I had somewhat put it on the side expecting some response from @mpurg to the issues I have raised.

[2018-09-24 07:18] ejhigson commented on #969
@whedon generate pdf

[2018-09-24 07:18] whedon commented on #969
[code]

[2018-09-24 07:19] whedon commented on #969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00969/joss.00969/10.21105.joss.00969.pdf)

[2018-09-24 07:32] ejhigson commented on #969
Perhaps @mattpitkin @ziotom78 @nespinoza @adam-m-jcbs would be willing to review this? Thanks very much!

[2018-09-24 07:51] masspastore commented on #844
Hi @leeper,  given that we did not receive any feedback from @RMHogervorst, would it be possible to look for another reviewer?

[2018-09-24 08:36] ziotom78 commented on #969
Sure, I'll be appy to review this.

[2018-09-24 09:33] grg2rsr commented on #792
Nice! Many thanks you all for this smooth submission and review process!

[2018-09-24 10:58] arfon commented on #971
Thanks for the updates @cboettig - this is looking good!

Your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00971 :zap: :rocket: :boom:

[2018-09-24 10:58] #971 closed

[2018-09-24 10:58] whedon commented on #971
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00971/status.svg)](https://doi.org/10.21105/joss.00971)

**We need your help!**

Journal of Open Source Softwar

[2018-09-24 11:37] moonso commented on #967
Hi @brainstorm ! Thanks for asking me to review, I will do my best here. To start with I have a few questions:

1. The theory and real world use of this project are a bit over my expertise. When I read the [reviewer guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html) it is mostly about testing the functionality of the package so I guess this is my focus?

1. When I post issues

[2018-09-24 14:04] MarionLegrandLogrami commented on #791
Hi @arfon and @steffilazerte  - thanks for your message. A very short message just to tell you that we are incorporating the @steffilazerte's remarks. it's hard to tell you when we're done but we've made good progress. I will send you a message as soon as the package is ready and in accordance with the requests made

[2018-09-24 14:16] arfon commented on #844
@masspastore - could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2018-09-24 14:35] mgalloy commented on #899
I have checked off as many items on the Review Checklist as I can right now. Remaining items need to be addressed by @danehkar before I can check them off.

[2018-09-24 14:53] kthyng commented on #972
Hi @kbarnhart!

You can do this at the end of the review process.

Yes I think so to the master branch part. You can make your changes now and then when your Review issue is opened, `whedon` will try to compile your paper at that time again. I'm not sure you have the authority to ask `whedon` to recompile, but I can do it anyway (or at least I can try!).

Do you have any suggestions for reviewers?

[2018-09-24 17:04] arfon commented on #623
@zedtaha  - friendly reminder to get to these revisions sometime soon please.

[2018-09-24 17:06] arfon commented on #722
@mrecos - how are you getting along here?

[2018-09-24 17:07] arfon commented on #746
@kdpeterson51 - how are you getting along here?

[2018-09-24 17:48] whedon opened #975 "[PRE REVIEW]: GFAKluge: A C++ library and command line utilities for the Graphical Fragment Assembly formats"
**Submitting author:** @edawson (<a href="http://orcid.org/0000-0001-5448-1653">Eric Dawson</a>)
**Repository:** <a href="https://github.com/edawson/gfakluge" target ="_blank">https://github.com/edawson/gfakluge</a>
**Version:** v1.0.0
**Editor:** @mgymrek
**Reviewers:** @sjackman

**Author instructions**

Thanks for submitting your paper to JOSS @edawson. The JOSS editor (shown at the top of this

[2018-09-24 17:48] whedon commented on #975
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-24 17:48] whedon commented on #975
[code]

[2018-09-24 17:48] whedon commented on #975
PDF failed to compile for issue #975 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    145      0 --:--:-- --:--:-- --:--:--   146
Error reading bibl

[2018-09-24 17:48] arfon commented on #975
:wave: @mgymrek - the submitting author suggested you as the handling editor.

[2018-09-24 17:49] arfon commented on #975
@edawson - I think you're missing a comma on this line: https://github.com/edawson/gfakluge/blob/master/paper/paper.bib#L7

[2018-09-24 17:52] whedon opened #976 "[PRE REVIEW]: Reasons: A digital argument mapping library for modern browsers"
**Submitting author:** @davekinkead (<a href="http://orcid.org/0000-0001-5396-8099">David Kinkead</a>)
**Repository:** <a href="https://github.com/davekinkead/reasons" target ="_blank">https://github.com/davekinkead/reasons</a>
**Version:** v1.0.0
**Editor:** @yochannah
**Reviewers:** @mbod, @andytwoods

**Author instructions**

Thanks for submitting your paper to JOSS @davekinkead. The JOSS edito

[2018-09-24 17:52] whedon commented on #976
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-24 17:52] whedon commented on #976
[code]

[2018-09-24 17:52] whedon opened #977 "[PRE REVIEW]: TensorFlow.jl: An Idiomatic Julia Front End for TensorFlow"
**Submitting author:** @malmaud (<a href="http://orcid.org/0000-0002-5352-2086">Jonathan Matthew Malmaud</a>)
**Repository:** <a href="https://github.com/malmaud/TensorFlow.jl" target ="_blank">https://github.com/malmaud/TensorFlow.jl</a>
**Version:** v0.10.1
**Editor:** @arokem
**Reviewers:** @jekbradbury

**Author instructions**

Thanks for submitting your paper to JOSS @malmaud. The JOSS editor

[2018-09-24 17:52] whedon commented on #977
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-24 17:52] whedon commented on #977
[code]

[2018-09-24 17:53] arfon commented on #977
:wave: @arokem - the submitting author suggested you as the handling editor

[2018-09-24 17:53] whedon commented on #976
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00976/joss.00976/10.21105.joss.00976.pdf)

[2018-09-24 17:53] whedon commented on #977
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00977/joss.00977/10.21105.joss.00977.pdf)

[2018-09-24 17:56] Schuch666 commented on #662
Hi, @benmarwick , are you still with us?

[2018-09-24 18:17] edawson commented on #975
Thanks @arfon ! I've fixed the missing comma on the master branch - do I need to do anything else?

[2018-09-24 18:46] sckott commented on #847
Happy with it now. I did open an issue https://github.com/boyanangelov/sdmbench/issues/9 when trying to run examples, but I imagine it's just an outdated readme issue or so

[2018-09-24 19:07] nbokulich commented on #934
Thank you @rasbt ! I have a few responses, and am working on a PR to address your concerns [here](https://github.com/qiime2/q2-sample-classifier/issues/132) and [here](https://github.com/qiime2/q2-sample-classifier/issues/133) (thank you for raising issues!)

Sorry — we are on a quick release cycle right now. 2018.8 was released a week or two after I submitted this manuscript, and 2018.10 is the c

[2018-09-24 19:35] boyanangelov commented on #847
@sckott You are right, some code that was necessary as a previous step was missing from the `README`. I just pushed the changes.

[2018-09-24 19:44] kylehamilton commented on #785
Sorry @karthik I posted the things that needed to be addressed in the issues of the repo https://github.com/flor14/paper/issues

1. Make the software into an R package so everything would be contained and centralized https://github.com/flor14/paper/issues/2
2. Add tests https://github.com/flor14/paper/issues/3
3. Just want to make sure that there is a DOI for the source code I didn't see this in t

[2018-09-24 19:52] flor14 commented on #785
Thanks! I will do it soon

El lun., 24 sept. 2018 a las 16:44, W. Kyle Hamilton (<
notifications@github.com>) escribió:

[2018-09-24 21:09] brainstorm commented on #967
1. Yes, that's right @moonso, your overall task (TL;DR'd) here is to validate the operation/usefulness/completeness of this package.

2. I already assigned you as a reviewer, so whedon, our friendly bot knows you already, no worries ;)

@schalkdaniel, as @moonso points out, you should use a valid, [OSI approved LICENSE](https://opensource.org/licenses/alphabetical).

@moonso You can move on into r

[2018-09-24 21:34] yochannah commented on #926
@pachamaltese I haven't had any responses from the reviewers I've emailed so far unfortunately, but I've emailed a few more so hopefully we'll have someone soon. In the meantime I noticed that a couple of the links in your reference section have what I'm guessing is a copy/paste error - showing https://doi.org twice, like this:

<img width="334" alt="image" src="https://user-images.githubuserconte

[2018-09-24 22:30] pachamaltese commented on #926
@yochannah thanks for letting me know !! I actually fixed that in the original repository. How can I reflect those changes here?

[2018-09-24 22:45] kbarnhart commented on #964
Since I've just loaded on a bunch of issues about documentation, testing, and installation, I thought I'd also make a note here that I think the core functionality of eSCAPE is great, the tutorials are very nicely done, and the docker image works as expected.

[2018-09-24 22:52] kbarnhart commented on #972
@kthyng some potential reviewers might be:

@speleophysics
@fclubb
@benbovy
@sgrieve
@tristan-salles

[2018-09-25 05:37] oxinabox commented on #977
I suggest @jekbradbury  might be a good reviewer; though he's not reviewed for JOSS before.
He is familiar with julia, and is on the Google TensorFlow team.
But has never contributed to TensorFlow.jl.

[2018-09-25 06:39] arvestad commented on #955
Thanks for the nice comments @juanvillada ! I have adapted your suggestions.

[2018-09-25 06:54] masspastore commented on #844
Thanks @arfon, I would suggest reviewers with R as their primary language, and with topic areas in statistics and social sciences. Some suggestions:

- lebebr01; lebebr01@gmail.com
- russellpierce; russell.s.pierce@gmail.com
- jkarreth; jkarreth@ursinus.edu
- briatte; francois.briatte@sciencespo.fr
- soodoku; gsood07@gmail.com

[2018-09-25 08:03] sgrieve commented on #972
I'm afraid I wont have time to review this one, since I'm supposed to be working on another JOSS review at the moment. Another potential reviewer might be @dvalters

[2018-09-25 11:10] schalkdaniel commented on #967
Hi @moonso @brainstorm, I have added another file `LICENSE.md` containing the plain text of the MIT license. The file `LICENSE` is required by CRAN and should just include the year and copyright holder (if I understood that correctly).

[2018-09-25 12:16] edawson commented on #975
@whedon generate pdf

[2018-09-25 12:16] whedon commented on #975
[code]

[2018-09-25 12:16] whedon commented on #975
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00975/joss.00975/10.21105.joss.00975.pdf)

[2018-09-25 14:14] arfon commented on #975
😬

[2018-09-25 14:15] arfon commented on #893
:wave: @jenniferthompson - when do you think you might be able to complete your review by?

[2018-09-25 15:17] mlxd commented on #948
Hi  @cmendl
Really nice package. I have no problem recommending this for publicatoin, but I do have a few suggestions first based on the above checklist items:

**Version: Does the release version given match the GitHub release (v1.0)?**

No version is given for this software. Consider tagging the code with a release version for this     publication (eg `git tag v1.0`).

**Functionality
Installati

[2018-09-25 16:00] yxqd commented on #973
Thanks @katyhuff. Song made significant contribution to the software by providing the first implementation of the algorithm in Excel :) ; doing the research using the code; and provided numerous feedback.

I will fix the installation instructions.

[2018-09-25 16:03] cmendl commented on #948
OK thanks for the suggestions! I'll try to incorporate them in the next few days..

[2018-09-25 16:12] kthyng commented on #972
Hi @speleophysics and @tristan-salles! Are you willing and able to review this submission to JOSS? You can read about the review process [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2018-09-25 17:03] jcmgray commented on #948
I haven't yet had time to install and test the package (which looks like it has a lot of nice stuff!) but very much agree with all the documentation points @mlxd raised.

To just add a few thoughts, it would be very nice to have some 'getting started' style examples at a simpler level than the ``experiments`` but with more introduction and explanation than the tests. For example, a simple ground-s

[2018-09-25 17:32] cboettig commented on #971
@arfon Thanks!  Just a quick note: Looks like the "Software Archive" link at http://joss.theoj.org/papers/10.21105/joss.00971 is pointing back to the JOSS DOI, not the Zenodo DOI.  Can we fix that?

[2018-09-25 17:34] jrosen48 commented on #958
Hi @leeper - if it's alright, hoping to check-in regarding the next steps. Thank you very much.

[2018-09-25 20:01] Kevin-Mattheus-Moerman commented on #866
@whedon assign @rhiever as reviewer

[2018-09-25 20:01] whedon commented on #866
OK, the reviewer is @rhiever

[2018-09-25 20:14] arfon commented on #971
@whedon set 10.5281/zenodo.1432527 as archive

[2018-09-25 20:14] whedon commented on #971
OK. <a href="https://doi.org/10.5281/zenodo.1432527" target="_blank">10.5281/zenodo.1432527</a> is the archive.

[2018-09-25 20:16] arfon commented on #971
That should be fixed now.

[2018-09-25 20:17] arfon commented on #958
@whedon add @jnese as reviewer

[2018-09-25 20:17] speleophysics commented on #972
I can review it, though I do have two other reviews on my plate at the
moment. What is the suggested timeline?
-------------------------
Matt Covington
Associate Professor
Department of Geosciences
340 N. Campus Dr.
216 Gearhart Hall
University of Arkansas
Fayetteville, AR 72701

webpage - http://www.speleophysics.com/
-------------------------

On Tue, Sep 25, 2018 at 11:22 AM Kristen Thyng <noti

[2018-09-25 20:17] whedon commented on #958
OK, @jnese is now a reviewer

[2018-09-25 20:17] arfon commented on #958
@whedon add @strengejacke as reviewer

[2018-09-25 20:17] whedon commented on #958
OK, @strengejacke is now a reviewer

[2018-09-25 20:17] arfon commented on #958
@whedon assign @arfon as editor

[2018-09-25 20:17] whedon commented on #958
OK, the editor is @arfon

[2018-09-25 20:19] arfon commented on #958
@jnese, @strengejacke, @jrosen48 - @leeper has asked me to cover this review for him. I'll go ahead and set up the main review issue now.

[2018-09-25 20:19] arfon commented on #958
@whedon start review

[2018-09-25 20:19] whedon commented on #958
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/978. Feel free to close this issue now!

[2018-09-25 20:19] whedon opened #978 "[REVIEW]: Easily Carry Out Latent Profile Analysis (LPA) Using Open-Source or Commercial Software"
**Submitting author:** @jrosen48 (<a href="http://orcid.org/0000-0003-2170-0447">Joshua Rosenberg</a>)
**Repository:** <a href="https://github.com/jrosen48/tidyLPA" target ="_blank">https://github.com/jrosen48/tidyLPA</a>
**Version:** 0.2.1 (development version; most recent CRAN version is 0.2.0)
**Editor:** @arfon
**Reviewer:** @jnese, @strengejacke
**Archive:** <a href="https://doi.org/10.5281/z

[2018-09-25 20:19] whedon commented on #978
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jnese, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-09-25 20:19] whedon commented on #978
[code]

[2018-09-25 20:19] arfon commented on #958
@jnese, @strengejacke, @jrosen48 - please head over to #978 for the actual review issue.

[2018-09-25 20:19] #958 closed

[2018-09-25 20:19] whedon commented on #978
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00978/joss.00978/10.21105.joss.00978.pdf)

[2018-09-25 20:27] katyhuff commented on #973
@whedon generate pdf

[2018-09-25 20:27] whedon commented on #973
[code]

[2018-09-25 20:27] whedon commented on #973
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00973/joss.00973/10.21105.joss.00973.pdf)

[2018-09-25 20:29] russellpierce commented on #844
@arfon I'd be glad to help out.  Will there be a follow-up with some more tooling/guidance around submitting the review?

[2018-09-25 20:33] katyhuff commented on #973
@yxqd This tool is small, certainly, but a functional utility. My only remaining concern is with the examples question.

Part of the review for JOSS is with regards to the understandability and usability of the code. Toward this aim, we ask the question: _Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)._

Indeed, as an exploring user, I im

[2018-09-25 20:33] yochannah commented on #926
@whedon generate pdf

[2018-09-25 20:33] whedon commented on #926
[code]

[2018-09-25 20:34] arfon commented on #844
@russellpierce - definitely! The review is a checklist-based process (not visible yet here). See this for example: https://github.com/openjournals/joss-reviews/issues/974

[2018-09-25 20:34] whedon commented on #926
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00926/joss.00926/10.21105.joss.00926.pdf)

[2018-09-25 20:34] arfon commented on #844
Just to clarify, I won't start the review until we've got a second reviewer.

[2018-09-25 20:38] yochannah commented on #926
@pachamaltese That looks mostly better! The first link is fixed, but the final link in the references section is still broken - it looks ok visually but returns an error when you click.

[2018-09-25 20:48] mattgolub commented on #962
@arokem RecurrentWhisperer is another repository with code we have developed for training recurrent neural networks (RNNs) using Tensorflow. It is used to train the RNN used in the example that we provide, but it is not required (in general) to use FixedPointFinder.

FixedPointFinder is a tool meant for studying an RNN. The RNN to be studied will be different for each user--some may study RNNs the

[2018-09-25 20:49] pachamaltese commented on #926
@yochannah thanks a lot !! that was an error, I fixed that here https://github.com/pachamaltese/gravity

[2018-09-25 20:51] mattgolub commented on #962
@arokem Are you still in need of reviewer suggestions? What are the criteria of a good reviewer candidate? Would it be the same as for a reviewer in our field-specific journals (computational neuroscience)?

[2018-09-25 20:53] cboettig commented on #971
sweet, thanks @arfon and @whedon bot!

[2018-09-25 21:01] yochannah commented on #926
@whedon generate pdf

[2018-09-25 21:01] whedon commented on #926
[code]

[2018-09-25 21:02] whedon commented on #926
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00926/joss.00926/10.21105.joss.00926.pdf)

[2018-09-25 22:13] speleophysics commented on #972
Should be able to handle that.

[2018-09-25 22:14] tristan-salles commented on #972
sounds good will do my best to provide review in the coming 2 weeks!

[2018-09-25 22:37] ifellows commented on #933
@yochannah , since it is now the 25th, I'd like to suggest we move forward with @mschubert and @JohnCoene . What do you think?

[2018-09-25 23:44] RichardLitt commented on #976
I don't think I would have the requisite experience to judge this adequately from a digital humanities perspective, at the moment.

[2018-09-25 23:58] stuartcampbell commented on #973
Hi @yxqd,
I installed using `conda`, worked without an issue.  Although as a small usability thing, I would change the install to be a single line: `$ conda install braggedgemodeling  -c condo-forge` - this means that you are not permanently. changing the default channels.

Running through the tutorials the answers look like something I would expect.  As a small suggestion, I would put images of t

[2018-09-26 01:07] katyhuff commented on #973
Good catch @stuartcampbell ... I completely failed to notice the missing DOIs!

[2018-09-26 01:33] kdpeterson51 commented on #746
All but 1 function is left for required [tests](https://github.com/kdpeterson51/mbir/issues/2#issuecomment-410449582). I apologize for how long this process has been and appreciate your patience.

[2018-09-26 03:46] brainstorm commented on #967
Weird, are you sure @schalkdaniel?:

https://cran.r-project.org/web/licenses/

According to:

https://cran.r-project.org/doc/contrib/Leisch-CreatingPackages.pdf

The format you mention seems to belong to `DESCRIPTION`?

[2018-09-26 04:07] jenniferthompson commented on #893
@arfon The fix @stulacy made recently means I can review on my laptop now, so I'll try to get back to it and have it done this weekend, if that works!

[2018-09-26 05:50] pjotrp commented on #960
Hi @volfpeter, you had great momentum. Don't let it slip :). I think @DannyArends has some good points, but they are not intrusive. I think most of the work is to provide a clear install path (we require that) and a bit more contextual information on other clustering algorithms. I don't think a full comparison is required. Also tests are optional.

[2018-09-26 05:51] pjotrp commented on #840
How are we doing?

[2018-09-26 07:39] schalkdaniel commented on #967
But isn't that what I have done @brainstorm? Maybe I miss something, but my `DESCRIPTION` file contains
[code]
and refers to the `LICENSE` file as specified in your link and also [here](http://r-pkgs.had.co.nz/description.html). Some other repositories follow the same guidelines, e.g. [iml](https://github.com/christophm/iml), [pdfsearch](https://github.com/lebebr01/pdfsearch), or [checkr](https://

[2018-09-26 07:51] ninjin commented on #921
Apologies for the delays, here is the current state of my review.

Formatting:

1. The citations look a bit odd to me, should “((Bezanson et al. 2014))” not be “(Bezanson et al. 2014)”?
2. A period is missing at the end of the third bullet in the first bullet list.
3. In the second to last paragraph there is what I think is a failed listing with hyphens following dots, this should probably be fixe

[2018-09-26 08:12] oxinabox commented on #921
Thanks, I will attend to these in the next couple of days.

[2018-09-26 08:57] Kevin-Mattheus-Moerman commented on #927
@nicoguaro would you be interested in joining this review process? I can add you as a reviewer if so.

[2018-09-26 08:59] Kevin-Mattheus-Moerman commented on #927
@anmuller can you give an update as to how you are getting on in terms of replying to the issues raised?

[2018-09-26 08:59] Kevin-Mattheus-Moerman commented on #927
@demotu how are you getting on? Could you give an indication as to when you will complete the review process? Thanks.

[2018-09-26 09:02] Kevin-Mattheus-Moerman commented on #866
@almarklein is this submission of interest to you?

[2018-09-26 09:03] Kevin-Mattheus-Moerman commented on #866
@jshermeyer are you able to help suggest more reviewers?

[2018-09-26 09:03] Kevin-Mattheus-Moerman commented on #919
@jeroen is this work of interest to you? Would you be able to help with review? Thanks.

[2018-09-26 09:05] Kevin-Mattheus-Moerman commented on #845
@llllllllll could you give us an estimate as to when you expect to work on this review process? Thanks

[2018-09-26 09:08] Kevin-Mattheus-Moerman commented on #919
@NikEfth is this submission something you could review? Thanks

[2018-09-26 09:16] oxinabox commented on #921
the DataDeps work is still under-review (and is taking a truly long time) and does not yet have a DOI.
I have searched [IEEE](https://ieeexplore.ieee.org/search/searchresult.jsp?newsearch=true&queryText=Bezanson)
and I can not find 2014 julia paper there.
But it appears now the 2017 SIAM paper [is now the preferred citation for Julia, so I will update it to that](https://julialang.org/publications

[2018-09-26 09:17] ninjin commented on #921
Your are indeed correct, it was a SIAM paper and not IEEE.

[2018-09-26 09:17] jeroen commented on #919
Yes I can do the review

[2018-09-26 09:40] Kevin-Mattheus-Moerman commented on #919
@whedon assign @jeroen as reviewer

[2018-09-26 09:40] whedon commented on #919
OK, the reviewer is @jeroen

[2018-09-26 09:43] pjotrp commented on #960
Excellent. That is what review is for - to improve the paper :)

[2018-09-26 09:44] Kevin-Mattheus-Moerman commented on #919
@jeroen the reviewer guidelines are here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

This is a pre-review issue and I aim to attract some more reviewers. Once I do I'll start the actual review issue and review process. Here is an [example of a review process](https://github.com/openjournals/joss-reviews/issues/890). As you can see the review process is guided by a set of tick

[2018-09-26 09:46] NikEfth commented on #919
I do not have tons of experience with R but I could check the image processing aspects.

[2018-09-26 09:51] Kevin-Mattheus-Moerman commented on #966
@nnadeau, @mwacaan this is where the review happens. Let me know if you have questions.

[2018-09-26 09:53] Kevin-Mattheus-Moerman commented on #919
@NikEfth thanks. Yes that would be great.

[2018-09-26 09:53] Kevin-Mattheus-Moerman commented on #919
@whedon add @NikEfth as reviewer

[2018-09-26 09:53] whedon commented on #919
OK, @NikEfth is now a reviewer

[2018-09-26 09:54] Kevin-Mattheus-Moerman commented on #919
@dahtah please let me know if you know any other potential reviewers

[2018-09-26 10:55] arfon commented on #893
Sounds great. Thanks!

[2018-09-26 10:57] arfon commented on #662
Once you've addressed this comment @Schuch666 I think we're good to accept here.

[2018-09-26 11:11] hamedmx commented on #892
@jasonclark Hello; Since it is 9/26, is there any chances for my submission to be reviewed by @cmccomb ?
Thank you and I am looking forward to your reply.

[2018-09-26 12:04] modenaxe commented on #927
I am updating my comments after testing the revised toolbox. @anmuller my comments follow exactly the guidelines and checkboxes above.  @Kevin-Mattheus-Moerman this is currently my complete review, excluding the issues that I will post in the repository directly.

**General checks**
- The repository should have a release version number.
- I assume @anmuller has made major contributions to the soft

[2018-09-26 13:21] boehmc commented on #940
Hey Umberto (and co),
HippyLib is a really cool package and nicely put together! Being able to run everything in a docker image / jupyter nb is just awesome. Thanks a lot for all the effort that went into it!!

Please allow me a few more days to play around with it. I will finish everything by the end of the week.

In the mean time I have a few minor things:

- Could you add a doi for the DOLFIN p

[2018-09-26 13:54] jsgalan commented on #896
Hi all, Sorry for the late reply, has the reviewers been assigned?

If not, i will gladly review the submission.

Please let me know,

Best

[2018-09-26 14:05] sgrieve commented on #964
I would like to thank the author for this contribution, it has been a very enjoyable experience to explore this software and I am pleased to recommend publication, pending the minor issues highlighted below being resolved.

# Version
I noticed that there is a version 1.0.1 on GitHub, but the submission corresponds to version 1.0.0. It would be good to clarify this, so that the current stable versi

[2018-09-26 14:16] kthyng commented on #972
Awesome! Ok here we go!

[2018-09-26 14:17] kthyng commented on #972
@whedon assign @speleophysics as reviewer

[2018-09-26 14:17] whedon commented on #972
OK, the reviewer is @speleophysics

[2018-09-26 14:17] kthyng commented on #972
@whedon add @tristan-salles as reviewer

[2018-09-26 14:17] whedon commented on #972
OK, @tristan-salles is now a reviewer

[2018-09-26 14:19] kthyng commented on #972
@whedon start review

[2018-09-26 14:19] whedon opened #979 "[REVIEW]: Lithology: A Landlab submodule for spatially variable rock properties"
**Submitting author:** @kbarnhart (<a href="http://orcid.org/0000-0001-5682-455X">Katherine Barnhart</a>)
**Repository:** <a href="https://github.com/landlab/landlab" target ="_blank">https://github.com/landlab/landlab</a>
**Version:** 1.5.4
**Editor:** @kthyng
**Reviewer:** @speleophysics, @tristan-salles
**Archive:** <a href="https://doi.org/10.5281/zenodo.1464308" target="_blank">10.5281/zenodo

[2018-09-26 14:19] whedon commented on #972
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/979. Feel free to close this issue now!

[2018-09-26 14:19] whedon commented on #979
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @speleophysics, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2018-09-26 14:19] whedon commented on #979
[code]

[2018-09-26 14:19] #972 closed

[2018-09-26 14:20] whedon commented on #979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00979/joss.00979/10.21105.joss.00979.pdf)

[2018-09-26 14:28] kbarnhart commented on #964
I thought I'd give a quick update on the progress of my review. As noted by @sgrieve I've made most of my comments in the form of issues. @tristan-salles has dealt with most of these impressively fast. This has been very helpful as I was able to attempt HPC installation based on the revised HPC instructions instead of the original ones.

I am testing the HPC installation instructions so between th

[2018-09-26 14:33] arfon commented on #896
@jsgalan thanks! I'll got ahead and set up the review issue now.

[2018-09-26 14:34] arfon commented on #896
@whedon assign @arfon as editor

[2018-09-26 14:34] whedon commented on #896
OK, the editor is @arfon

[2018-09-26 14:34] arfon commented on #896
@whedon assign @jsgalan as reviewer

[2018-09-26 14:34] whedon commented on #896
OK, the reviewer is @jsgalan

[2018-09-26 14:34] arfon commented on #896
@whedon start review

[2018-09-26 14:34] whedon commented on #896
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/980. Feel free to close this issue now!

[2018-09-26 14:34] whedon opened #980 "[REVIEW]: hoggorm: a python library for explorative multivariate statistics"
**Submitting author:** @olivertomic (<a href="http://orcid.org/0000-0003-1595-9962">Oliver Tomic</a>)
**Repository:** <a href="https://github.com/olivertomic/hoggorm" target ="_blank">https://github.com/olivertomic/hoggorm</a>
**Version:** 0.12.0
**Editor:** @arfon
**Reviewer:** @jsgalan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3326328" target="_blank">10.5281/zenodo.3326328</a>

## St

[2018-09-26 14:34] whedon commented on #980
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jsgalan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-09-26 14:34] whedon commented on #980
[code]

[2018-09-26 14:34] arfon commented on #896
@jsgalan @olivertomic - please head over to #980 for the actual review

[2018-09-26 14:34] #896 closed

[2018-09-26 14:34] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2018-09-26 14:35] arfon commented on #980
@jsgalan - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2018-09-26 15:02] cmccomb commented on #892
@jasonclark, please advise!

[2018-09-26 15:33] maxrousseau commented on #855
@whedon generate pdf

[2018-09-26 15:33] whedon commented on #855
[code]

[2018-09-26 15:37] ejhigson commented on #969
@whedon generate pdf

[2018-09-26 15:37] whedon commented on #969
[code]

[2018-09-26 15:38] whedon commented on #969
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00969/joss.00969/10.21105.joss.00969.pdf)

[2018-09-26 15:47] edawson commented on #975
@whedon generate pdf

[2018-09-26 15:47] whedon commented on #975
[code]

[2018-09-26 15:47] whedon commented on #975
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00975/joss.00975/10.21105.joss.00975.pdf)

[2018-09-26 15:58] nicoguaro commented on #927
@Kevin-Mattheus-Moerman, I think I can. I have a question, though, is MATLAB necessary for the software or can it be used with Octave? If MATLAB is required, what is the minimum version needed?

Also, from just checking the README in the repo I can't find installation instructions for the package. Or a simple example for "starters". I also suggest to format the README to take advantage of Markdown

[2018-09-26 19:40] uvilla commented on #940
Hi @boehmc ,

Thank you very much for taking the time to look at the code and for your *spot on* comments.
I am happy that you found `hIPPYlib` *really cool* and the docker image easy to use.

- I agree with all your comments on the paper, and I will revise it accordingly.
In particular, thank you for catching the misleading statement about *automatic* differentiation. hIPPYlib uses FEniCS's *symb

[2018-09-26 20:58] yochannah commented on #933
@ifellows sounds like a good plan!

@JohnCoene: Are you good to go ahead reviewing?

[2018-09-26 20:59] yochannah commented on #926
Looks good now!

[2018-09-26 22:04] cMadan commented on #963
Yes, I think that should be fine here. How about you update your license file and I'll then run by the other editors to confirm, though I think that's the best you can do.

[2018-09-26 22:46] karthik commented on #847
Thanks @boyanangelov! Can you please archive your software on Zenodo and post a DOI so we proceed with next steps? 🙏

[2018-09-27 00:54] yxqd commented on #973
Thank you @katyhuff @stuartcampbell for the comments. I will flesh out the notebook and the documentation as you suggested.

[2018-09-27 01:52] tristan-salles commented on #964
A massive thank you to @kbarnhart and @sgrieve for their quick and super valuable inputs, comments & feedbacks!

### Comments from @sgrieve

I think I have pretty much addressed all the comments. In details I have:
+ fixed the version to 1.0.0 which is now consistent with the one from the paper
+ added a `requirements.txt` file
+ updated the wiki with a step by step guide in regards to installing

[2018-09-27 02:40] oxinabox commented on #923
@Kevin-Mattheus-Moerman  is this now able to move from Pre-Review to Review?

[2018-09-27 05:00] oxinabox commented on #921
For my own records:
**Formatting** issues are fixed.

**Content**  issues are fixed, at least for R I added a section.
I don't know much about this space for Python.

@whedon generate pdf

**Documentation:**
Will be fixed once https://github.com/oxinabox/DataDepsGenerators.jl/pull/64
is merged

I took the first paragraph from the paper and added it to the docs,
since I think that sums it up pretty

[2018-09-27 05:50] Schuch666 commented on #662
thank you @arfon

I put a note in the text talking about these differences that can appear in the calculated values and in the figures due to changes between versions of the package (in the code or in the sample files) and also of the version of its dependencies.

[2018-09-27 05:50] Schuch666 commented on #662
@whedon generate pdf

[2018-09-27 05:50] whedon commented on #662
[code]

[2018-09-27 05:50] whedon commented on #662
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00662/joss.00662/10.21105.joss.00662.pdf)

[2018-09-27 07:03] schalkdaniel commented on #967
Ah, yes I see. Originally there were one `LICENSE` and the plain text of the MIT license was included in the `Readme`. The intention to include another `LICENSE.md` file came after looking at repositories from the [tidyverse](https://github.com/tidyverse) (e.g. [dplyr](https://github.com/tidyverse/dplyr)) where they do it like this. :)

[2018-09-27 07:52] Kevin-Mattheus-Moerman commented on #927
@whedon add @nicoguaro as reviewer

[2018-09-27 07:52] whedon commented on #927
OK, @nicoguaro is now a reviewer

[2018-09-27 07:59] Kevin-Mattheus-Moerman commented on #927
@nicoguaro there is now also a checklist for you at the top of this issue. Yes I believe MATLAB is required. @anmuller can you comment on what version is required?

[2018-09-27 08:03] Kevin-Mattheus-Moerman commented on #966
@mfroeling want to help review this package?

[2018-09-27 08:10] jeffmacinnes commented on #963
Great, thanks @cMadan -- just updated the repo with the new license

[2018-09-27 08:17] Kevin-Mattheus-Moerman commented on #923
@ssfrr would you be able to help review this submission?

[2018-09-27 08:36] andrewfowlie commented on #965
I have completed the checklist of tasks. The program, documentation and software paper were well-written and I think the program could be very useful for the scientific community.

[2018-09-27 08:39] sgrieve commented on #964
Thanks for responding to my comments so quickly @tristan-salles!

@kthyng I'm satisfied that all of my comments have been addressed, so pending the resolution of the HPC install issues that @kbarnhart has raised I'm happy to formally accept!

[2018-09-27 08:44] ejhigson commented on #965
@zhampel thank you very much for taking the time to review this software - I really appreciate it! Do you know how long it will take you to finish your review?

I am actually going to submit my PhD thesis on Monday and it would be ideal if this is all done by then and I can cite the paper in it, but this is no big deal so no worries at all if that is not convenient!

[2018-09-27 09:16] xuedong commented on #923
@Kevin-Mattheus-Moerman Hi, I only have a limited experience on NLP, I don't know if I'm well qualified for this review.

[2018-09-27 09:36] boyanangelov commented on #847
@karthik Great! I just made a release with all the JOSS fixes and improvements (v.0.1.3), archived in Zenodo (http://doi.org/10.5281/zenodo.1436376) and changed the DOI and version number in the paper.

[2018-09-27 10:54] ejhigson commented on #969
@mattpitkin @nespinoza @adam-m-jcbs would you be willing to review this submission? No worries if not, I can suggest alternative reviewers.

Thank you very much for your help with this - it is much appreciated! I am keen to get the review started as I am about to leave my current position and want to wrap up my projects.

[2018-09-27 11:21] mattpitkin commented on #969
@ejhigson sorry, I won't be able to do this on a short timescale

[2018-09-27 11:30] arfon commented on #921
@whedon generate pdf

[2018-09-27 11:30] whedon commented on #921
[code]

[2018-09-27 11:31] whedon commented on #921
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00921/joss.00921/10.21105.joss.00921.pdf)

[2018-09-27 12:51] anmuller commented on #927
It was implemented and tested with Matlab2018a. Also the Symbolic Math, the Optimization and the Parallel Computing toolboxes are necessary

[2018-09-27 13:29] ssfrr commented on #923
@Kevin-Mattheus-Moerman similarly I have machine learning experience but not NLP specifically. I'm happy to review for software/documentation quality I can't really speak to whether the included embeddings are the best choices for NLP.

[2018-09-27 13:49] nicoguaro commented on #927
@anmuller I have access to Matlab2017a, is that OK.

I can't find installation instructions and a test script to check that things work.

[2018-09-27 13:57] nnadeau commented on #966
@davidnsousa how did `Hugo A. Ferreira` contribute? They are not listed in any commit history.

[2018-09-27 14:03] moonso commented on #967
Hi @schalkdaniel @brainstorm . I'm done with the review now, nice job @schalkdaniel 😸 . The documentation is clear and comprehensive, examples could be followed.
I went through a little installation hell, nice to see that it exists in R to 😛 , it had nothing to do with this package though. It was to install 'devtools' on my Mac OS.

My only remark is the contribution of the co-authors. Thomas Jane

[2018-09-27 14:29] davidnsousa commented on #966
@nnadeau Hugo A. Ferreira contributed to the program, tutorial, replication script and paper, but he did not contribute directly through the GitHub platform to the package maintenance. I took full responsibility on the repository.

[2018-09-27 15:27] moonso commented on #967
I understand. It's a question for @brainstorm

[2018-09-27 15:33] zhampel commented on #965
@ejhigson I will be done by the weekend for sure, no worries.

[2018-09-27 15:35] nnadeau commented on #966
@davidnsousa everything looks good to me! :)

Just fix the following:
- https://github.com/davidnsousa/mcsd/issues/13
- https://github.com/davidnsousa/mcsd/issues/14
- https://github.com/davidnsousa/mcsd/pull/12
- https://github.com/davidnsousa/mcsd/issues/11
- https://github.com/davidnsousa/mcsd/issues/10
- https://github.com/davidnsousa/mcsd/issues/15

[2018-09-27 15:55] yxqd commented on #973
@katyhuff @stuartcampbell  documentation was updated as you suggested. Please check https://ornlneutronimaging.github.io/braggedgemodeling/tutorial.html and https://github.com/ornlneutronimaging/braggedgemodeling/blob/master/notebooks/tutorial.ipynb.

DOIs were added for journal papers referenced. I cannot find the DOI for the phd thesis referenced, however. Please check https://github.com/ornlneu

[2018-09-27 15:57] lheagy commented on #863
Hi @marcoalopez: sorry for my delayed response.

Not a problem, it is totally up to you to decide the direction of the project :) Excellent, I will take a look at your notebooks!

For sure, feel free to merge the pr if you like, you can change where the pr is being merged to by editing it
![image](https://user-images.githubusercontent.com/6361812/46158470-c1c70880-c232-11e8-9ae1-05f0d634f091.png)

[2018-09-27 16:28] kbarnhart commented on #979
@whedon generate pdf

[2018-09-27 16:28] whedon commented on #979
[code]

[2018-09-27 16:29] whedon commented on #979
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00979/joss.00979/10.21105.joss.00979.pdf)

[2018-09-27 16:30] kbarnhart commented on #979
@kthyng Looks like I have the authority to ask for pdf recompilation. It also looks like my PR fixed the citation formatting.

[2018-09-27 16:38] lheagy commented on #863
Hi again @marcoalopez,

The notebook is a nice addition!

I have gone through the rest of the checklist and there is one remaining items (and two minor items) to be addressed. The main item is testing. I didn't see a clear indication of testing (ideally automated testing, but even manually is okay for acceptance). I have summarized comments on testing here:
- marcoalopez/GrainSizeTools#10

The oth

[2018-09-27 17:01] lheagy commented on #808
Thanks for your update @viktor76525: please keep us posted on your progress and check off the items as you address them

[2018-09-27 17:02] lheagy commented on #957
Thanks @Fil for your speedy review! @fourndo: just checking in, when do you think you will have time to get to the review?

[2018-09-27 17:05] fourndo commented on #957
Thanks for the reminder. I ll do it this am

[2018-09-27 17:18] ejhigson commented on #965
Amazing - thank you very much!!

[2018-09-27 17:57] mikapfl commented on #973
Hi,

unfortunately (for the review) I'm in vacations now and will only be able to continue with the review in two weeks.

Cheers,

Mika
--
Diese Nachricht wurde von meinem Android-Mobiltelefon mit K-9 Mail gesendet.

[2018-09-27 18:10] fourndo commented on #957
@lheagy Where is the ```paper.md``` supposed to be?

[2018-09-27 18:14] fourndo commented on #957
Look good on my end. Well done @leouieda

[2018-09-27 18:15] lheagy commented on #957
hi @fourndo, the [paper.md](https://github.com/fatiando/verde/blob/master/paper/paper.md) is in the repo, but it is nicer to look at the [pdf version](https://github.com/openjournals/joss-papers/blob/joss.00957/joss.00957/10.21105.joss.00957.pdf) that will be used

[2018-09-27 18:15] fourndo commented on #957
@lheagy Yea thanks, I asked too quickly... found it.

[2018-09-27 18:31] luizirber commented on #934
@whedon generate pdf

[2018-09-27 18:31] whedon commented on #934
[code]

[2018-09-27 18:31] whedon commented on #934
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00934/joss.00934/10.21105.joss.00934.pdf)

[2018-09-27 18:52] adammichaelwood commented on #956
I am happy to be a reviewer on this as well.  I have a music degree and am a python developer and tech writer.

[2018-09-27 18:52] adammichaelwood commented on #956
I am happy to be a reviewer on this as well.  I have a music degree and am a python developer and tech writer.

[2018-09-27 19:04] danielskatz commented on #956
@adammichaelwood - thanks for agreeing to do this

[2018-09-27 19:04] danielskatz commented on #956
@whedon add @adammichaelwood as reviewer

[2018-09-27 19:04] whedon commented on #956
OK, @adammichaelwood is now a reviewer

[2018-09-27 19:05] danielskatz commented on #956
@whedon start review

[2018-09-27 19:05] whedon commented on #956
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/981. Feel free to close this issue now!

[2018-09-27 19:05] whedon opened #981 "[REVIEW]: Opycleid: A Python package for transformational music theory"
**Submitting author:** @AlexPof (<a href="http://orcid.org/0000-0002-3767-0361">Alexandre Popoff</a>)
**Repository:** <a href="https://github.com/AlexPof/opycleid" target ="_blank">https://github.com/AlexPof/opycleid</a>
**Version:** 0.2.5
**Editor:** @danielskatz
**Reviewer:** @drvinceknight, @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.1857913" target="_blank">10.5281/zenodo

[2018-09-27 19:05] whedon commented on #981
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @drvinceknight, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2018-09-27 19:05] whedon commented on #981
[code]

[2018-09-27 19:05] whedon commented on #981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00981/joss.00981/10.21105.joss.00981.pdf)

[2018-09-27 19:06] danielskatz commented on #981
@drvinceknight and @adammichaelwood - thanks for agreeing to be reviewers.

Please see the instructions above in the start of this issue, and let me know if you have any problems.

[2018-09-27 19:12] lheagy commented on #957
Many thanks @fourndo and @Fil for your speedy reviews 🎉

@leouieda: congrats on a nice piece of work 😄 Can you please archive the package on [Zenodo](https://zenodo.org) or similar and post the doi here?

[2018-09-27 19:28] uvilla commented on #940
@whedon generate pdf

[2018-09-27 19:28] whedon commented on #940
[code]

[2018-09-27 19:28] whedon commented on #940
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00940/joss.00940/10.21105.joss.00940.pdf)

[2018-09-27 19:35] uvilla commented on #940
@whedon generate pdf

[2018-09-27 19:35] whedon commented on #940
[code]

[2018-09-27 19:35] whedon commented on #940
PDF failed to compile for issue #940 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    14    0     0    192      0 --:--:-- --:--:-- --:--:--   194
Error reading bibl

[2018-09-27 19:37] uvilla commented on #940
@whedon generate pdf

[2018-09-27 19:37] whedon commented on #940
[code]

[2018-09-27 19:38] whedon commented on #940
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00940/joss.00940/10.21105.joss.00940.pdf)

[2018-09-27 19:41] uvilla commented on #940
@boehmc ,

Thank you again for your constructive comments regarding the paper. Commit [1b862f03d633a0da8eb1ab62d4d3b62d4da22563](https://github.com/hippylib/hippylib/commit/1b862f03d633a0da8eb1ab62d4d3b62d4da22563) addresses them.

Here, the revised [manuscript](https://github.com/openjournals/joss-papers/blob/joss.00940/joss.00940/10.21105.joss.00940.pdf).

Looking forward for the rest of your re

[2018-09-27 20:06] volfpeter commented on #960
@DannyArends I've updated the readme. Hopefully it's ok now, although i'm not sure you will be satisfied with the "statement of need" paragraph.
I'll update the paper soon, it's not ready yet.

[2018-09-27 21:29] stuartcampbell commented on #973
@yxqd the bib file looks good to me now.  @katyhuff does @yxqd need to either update the release version to make sure the correct .bib file and paper are in the released git tag ?

[2018-09-27 21:37] katyhuff commented on #973
@stuartcampbell : An updated doi will be created in the final step before acceptance, if a new release is desired, to reflect review-related changes to the paper and code, many authors do issue a new (minor or patch) release version at that stage as well.

@yxqd  should wait until the acceptance to do that though, so that this task only needs to be done once. I would like to wait for @mikapfl's re

[2018-09-27 23:20] jasonclark commented on #892
@cmccomb Hey, Chris. Would you be able to review? It would be a great favor to get us closer to final production. Thanks for considering.

[2018-09-27 23:40] nbokulich commented on #934
@whedon generate pdf

[2018-09-27 23:40] whedon commented on #934
[code]

[2018-09-27 23:41] whedon commented on #934
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00934/joss.00934/10.21105.joss.00934.pdf)

[2018-09-27 23:58] rasbt commented on #934
@nbokulich

Thanks a lot for the detailed explanation.

I don't think this is necessary for JOSS, but thanks for asking!!

[2018-09-28 07:15] brainstorm commented on #967
@arfon Do we have any established policies for contributions that are not reflected/seen on github?

Other than that, this is a thumbs up submission, thanks everyone! 👍

[2018-09-28 10:12] whedon opened #982 "[PRE REVIEW]: treemaker"
**Submitting author:** @SimonGreenhill (<a href="http://orcid.org/0000-0001-7832-6156">Simon Greenhill</a>)
**Repository:** <a href="https://github.com/simonGreenhill/Treemaker" target ="_blank">https://github.com/simonGreenhill/Treemaker</a>
**Version:** v1.03
**Editor:** @trallard
**Reviewers:** @RichardLitt, @deniederhut

**Author instructions**

Thanks for submitting your paper to JOSS @SimonG

[2018-09-28 10:12] whedon commented on #982
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-28 10:12] whedon commented on #982
[code]

[2018-09-28 10:12] whedon opened #983 "[PRE REVIEW]: Pyoints: A Python package for point cloud, voxel and raster processing."
**Submitting author:** @laempy (<a href="http://orcid.org/0000-0002-8963-2762">Sebastian Lamprecht</a>)
**Repository:** <a href="https://github.com/laempy/pyoints" target ="_blank">https://github.com/laempy/pyoints</a>
**Version:** v0.2.0a2
**Editor:** @lheagy
**Reviewers:** @kbevers, @scivision

**Author instructions**

Thanks for submitting your paper to JOSS @laempy. The JOSS editor (shown at t

[2018-09-28 10:12] whedon commented on #983
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-28 10:12] whedon commented on #983
[code]

[2018-09-28 10:13] arfon commented on #983
:wave: @lheagy - the submitting author suggested you as the handling editor

[2018-09-28 10:13] whedon commented on #982
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00982/joss.00982/10.21105.joss.00982.pdf)

[2018-09-28 10:13] whedon commented on #983
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00983/joss.00983/10.21105.joss.00983.pdf)

[2018-09-28 10:30] arfon commented on #967
Ultimately, authorship is left up to the authors but we have some guidelines here: https://joss.readthedocs.io/en/latest/review_criteria.html#authorship

[2018-09-28 10:52] ejhigson commented on #969
No problem @mattpitkin and thank you anyway! Alternatively, perhaps @andrewfowlie would be willing to review this submission?

[2018-09-28 11:00] leouieda commented on #957
Thanks @lheagy @fourndo and @Fil! That was very fast. I'm away on a trip without my laptop. I'll create the doi when i get back next week.

[2018-09-28 11:48] andrewfowlie commented on #969
Sorry, I’d like to be able to help but we’re moving to China and I’m very busy!

[2018-09-28 11:58] dghoshal-lbl commented on #830
@ian-taylor Any update on the review?

[2018-09-28 13:18] anmuller commented on #927
@nicoguaro Maybe you can use Matlab2017a but I can't ensure you it works.
The installation only consists in adding the folder \CusToM\Functions and its subfolders to the Matlab path. You can check your Matlab version by just running the function "Main" having previously set your current folder as Examples/Cycling or Examples/ROM.
If you are interesting, we created a very quick example of the use o

[2018-09-28 14:06] ejhigson commented on #969
@andrewfowlie no problem thank you anyway and good luck with your move!

[2018-09-28 14:07] ejhigson commented on #969
@arfon would you consider allowing this submission to go to review with only one reviewer? Thank you very much for your help!

[2018-09-28 14:15] willingc commented on #956
It looks like there are now enough reviewers. In the future, would @mscuthbert or @jefftrevino be willing to consider being a reviewer for music submissions for the Journal of Open Source Software (JOSS)?

[2018-09-28 15:28] nicoguaro commented on #927
@anmuller, I consider that both the installation instructions and example should be in the repo. Hopefully, in the README.

[2018-09-28 15:33] danielskatz commented on #956
👋  @mscuthbert or @jefftrevino - if you are interested in reviewing, please volunteer via http://joss.theoj.org/reviewer-signup.html

[2018-09-28 15:33] #956 closed

[2018-09-28 17:45] adam-m-jcbs commented on #969
Thank you for considering me.  A good-faith review over a short timescale is currently not feasible for me, especially as the statistical theory underlying this project is not something I actively use in my current research and thus would require me to read up on the fundamental literature you cite.  In addition, it would be my first JOSS review and doing something for the first time usually takes

[2018-09-28 18:33] lheagy commented on #983
Hi @arfon, happy to take this!

[2018-09-28 18:35] lheagy commented on #983
:wave: Hi @Chilipp, @kbevers, would you be willing to review this submission for JOSS?

[2018-09-28 19:17] davidnsousa commented on #966
@nnadeau thank you :) these issues are all fixed!

[2018-09-28 19:58] karthik commented on #847
@whedon set 10.5281/zenodo.1436376 as archive

[2018-09-28 19:58] whedon commented on #847
OK. <a href="https://doi.org/10.5281/zenodo.1436376" target="_blank">10.5281/zenodo.1436376</a> is the archive.

[2018-09-28 19:59] karthik commented on #847
@arfon This is ready to accept (A few checklist items remain open but both reviewers have signed off).  Thanks very much @sckott and @goldingn for the review! 🙏

[2018-09-28 22:03] goldingn commented on #847
🎉🎊🍾
Thanks for inviting me to review, and great work @boyanangelov!

[2018-09-28 22:15] jefftrevino commented on #956
@willingc Thanks for thinking of me, but I don't know anything about transformational music theory. I use Python to compose by aggregating instances of notational element classes (as in the Abjad API for Formalized Score Control), but I don't model these kinds of relationships abstractly in my work, except implicitly through generative processes. (Although perhaps I should....)

[2018-09-28 22:38] danielskatz commented on #830
👋  @gflofst - what about the community guidelines checklist item? Can you check this off, or let us you what else you think is needed?

[2018-09-28 22:39] cMadan commented on #963
@jeffmacinnes, that looks good to me! I think we can go ahead and start the review now!

[2018-09-28 22:39] cMadan commented on #963
@whedon start review

[2018-09-28 22:39] whedon commented on #963
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/984. Feel free to close this issue now!

[2018-09-28 22:39] whedon opened #984 "[REVIEW]: Mobile Gaze Mapping: A Python package for mapping mobile gaze data to a fixed target stimulus"
**Submitting author:** @jeffmacinnes (<a href="http://orcid.org/0000-0003-2388-0699">Jeffrey MacInnes</a>)
**Repository:** <a href="https://github.com/jeffmacinnes/mobileGazeMapping" target ="_blank">https://github.com/jeffmacinnes/mobileGazeMapping</a>
**Version:** v1.0.0
**Editor:** @cMadan
**Reviewer:** @nnadeau
**Archive:** <a href="https://doi.org/10.5281/zenodo.1494278" target="_blank">10.52

[2018-09-28 22:39] whedon commented on #984
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nnadeau it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-09-28 22:39] whedon commented on #984
[code]

[2018-09-28 22:39] #963 closed

[2018-09-28 22:40] whedon commented on #984
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00984/joss.00984/10.21105.joss.00984.pdf)

[2018-09-28 22:40] cMadan commented on #984
@nnadeau, thank you for agreeing to review this submission! Let me know if you have any questions :)

[2018-09-29 00:46] arfon commented on #969
Yep, let's get moving.

[2018-09-29 00:46] arfon commented on #969
@whedon start review

[2018-09-29 00:46] whedon commented on #969
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/985. Feel free to close this issue now!

[2018-09-29 00:46] whedon opened #985 "[REVIEW]: perfectns: perfect dynamic and standard nested sampling for spherically symmetric likelihoods and priors"
**Submitting author:** @ejhigson (<a href="http://orcid.org/0000-0001-8383-4614">Edward Higson</a>)
**Repository:** <a href="https://github.com/ejhigson/perfectns" target ="_blank">https://github.com/ejhigson/perfectns</a>
**Version:** v2.1.0
**Editor:** @arfon
**Reviewer:** @ziotom78
**Archive:** <a href="https://doi.org/10.5281/zenodo.1443509" target="_blank">10.5281/zenodo.1443509</a>

## Statu

[2018-09-29 00:46] whedon commented on #985
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ziotom78 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-09-29 00:46] whedon commented on #985
[code]

[2018-09-29 00:46] arfon commented on #969
@ziotom78, @ejhigson - see you over in #985 for the actual review.

[2018-09-29 00:46] #969 closed

[2018-09-29 00:46] whedon commented on #985
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00985/joss.00985/10.21105.joss.00985.pdf)

[2018-09-29 00:47] arfon commented on #985
@ziotom78 - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2018-09-29 00:50] arfon commented on #847
@sckott, @goldingn - many thanks for your reviews here and to @karthik for editing this submission.

@boyanangelov - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00847 :zap: :rocket: :boom:

[2018-09-29 00:50] #847 closed

[2018-09-29 00:50] whedon commented on #847
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00847/status.svg)](https://doi.org/10.21105/joss.00847)

**We need your help!**

Journal of Open Source Softwar

[2018-09-29 01:42] yxqd commented on #973
@mikapfl thanks for the note.

@stuartcampbell thanks. I just closed ornlneutronimaging/braggedgemodeling#25.

@katyhuff thanks. sounds a good plan to me

[2018-09-29 02:02] kbevers commented on #983
@lheagy Yes, I'm happy to review this submission

[2018-09-29 02:29] Chilipp commented on #983
@lheagy: unfortunately I won't have enough time within the next two or three weeks, sorry

[2018-09-29 02:52] mscuthbert commented on #956
@jefftrevino I think that @willingc is asking if we’d be willing to review open source projects in music in general and not this particular one. To which I say, “of course!”

[2018-09-29 10:42] boyanangelov commented on #847
@sckott @goldingn Thank you for reviewing! The package improved greatly from your feedback. @karthik thank you for organizing everything, and @arfon thank you and everyone else at JOSS for this journal - I will be gladly recommending it to my colleagues!

[2018-09-29 11:44] danielskatz commented on #830
@dghoshal-lbl - please archive the current version somewhere (e.g. Zenodo) and let me know the DOI of the archive.

[2018-09-29 13:28] ejhigson commented on #985
@ziotom78 thank you very much for taking the time to review my submission, I really appreciate it!

Unfortunately for personal reasons it looks like it will be very difficult for me to make changes from (next) Sunday 7th October onwards. I would therefore be extraordinarily grateful if you could do your review this coming week? I am aware the process is normally 2 weeks so please don't worry if th

[2018-09-29 17:51] zhampel commented on #965
@ejhigson Yes, I have been checking things for the last few days. I wanted to make a few notes about Installation, Performance and Tests. I will not require these for publication, but I will require you make a few notes in the documentation regarding a few comments I have, and I **strongly** suggest you address after your thesis ;)

[2018-09-29 18:11] SimonGreenhill commented on #982
@whedon commands

[2018-09-29 18:11] whedon commented on #982
Here are some things you can ask me to do:

[code]

[2018-09-29 18:19] whedon opened #986 "[PRE REVIEW]: fibergen: An introductory tool for FFT-based material homogenization"
**Submitting author:** @fospald (<a href="http://orcid.org/0000-0001-8372-9179">Felix Ospald</a>)
**Repository:** <a href="https://github.com/fospald/fibergen" target ="_blank">https://github.com/fospald/fibergen</a>
**Version:** 2018.1
**Editor:** @jedbrown
**Reviewers:** @tisaac, @ctdegroot

**Author instructions**

Thanks for submitting your paper to JOSS @fospald. The JOSS editor (shown at the

[2018-09-29 18:20] whedon opened #987 "[PRE REVIEW]: PyGeoPressure: Geopressure Prediction in Python"
**Submitting author:** @whimian (<a href="http://orcid.org/0000-0002-4109-6358">Hao Yu</a>)
**Repository:** <a href="https://github.com/whimian/pyGeoPressure" target ="_blank">https://github.com/whimian/pyGeoPressure</a>
**Version:** v0.1.8
**Editor:** @kthyng
**Reviewers:** @WalBytes, @JesperDramsch

**Author instructions**

Thanks for submitting your paper to JOSS @whimian. The JOSS editor (show

[2018-09-29 18:34] zhampel commented on #965
Installation
========

Python
-------
I had no troubles installing and subsequently running with Python 3. Your setup.py script works seamlessly there.

However, I did have issues with Python 2.7. The steps required to get running in Python 2.7 were the following:
1. `virtualenv -p /usr/bin/python2 dyPolyChord_review`
2. `source dyPolyChord_review/bin/activate`
3. `python setup.py install`
4. `pip

[2018-09-29 18:37] zhampel commented on #965
@ejhigson I think you should make a few notes in your documentation addressing my comments. I have however, checked off all the boxes because the dyPolyChord project is well written, does work as advertised, and is well documented. Good luck with your thesis!

For the purposes of this submission, @arfon I have completed my review.

[2018-09-30 09:00] ejhigson commented on #965
Thank you so much for being so accommodating!!

Thank you for pointing this out! I like your testing with a fresh virtualenv - I will use this in future. I managed to replicate this issue and fix it in 05642826781b73868a04f6ba629ce5d7fb271188 by adding
`
':python_version == "2.7"': ['futures', 'pytz',  'python-dateutil']`

to setup.py.

[2018-09-30 09:02] ejhigson commented on #965
@whedon generate pdf

[2018-09-30 09:02] whedon commented on #965
[code]

[2018-09-30 09:02] whedon commented on #965
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00965/joss.00965/10.21105.joss.00965.pdf)

[2018-09-30 09:14] ejhigson commented on #965
Thank you for pointing this out! Unfortunately I don't have any control over PolyChord and its docs, install method etc. but I know the PolyChord authors are working on improved versions and are aware of the CCPForge closure.

I have updated the dyPolyChord install docs to make it (hopefully) much clearer that the tests run without PolyChord and why they do this. I also do indeed have more tests/p

[2018-09-30 09:32] ejhigson commented on #965
@andrewfowlie and @zhampel thank you very much for taking the time to review this submission! Your feedback has been extremely helpful!

@arfon I think the reviews are now complete. I have archived an up to date version on zenodo at 10.5281/zenodo.1439193

[2018-09-30 12:04] arfon commented on #965
@whedon set 10.5281/zenodo.1439193 as archive

[2018-09-30 12:04] whedon commented on #965
OK. <a href="https://doi.org/10.5281/zenodo.1439193" target="_blank">10.5281/zenodo.1439193</a> is the archive.

[2018-09-30 12:07] arfon commented on #965
Yes, thanks @andrewfowlie and @zhampel for your excellent reviews here.

@ejhigson - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00965 :zap: :rocket: :boom:

[2018-09-30 12:07] #965 closed

[2018-09-30 12:07] whedon commented on #965
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00965/status.svg)](https://doi.org/10.21105/joss.00965)

**We need your help!**

Journal of Open Source Softwar

[2018-09-30 14:07] JohnCoene commented on #933
@yochannah Just got back; yes, I can help review this paper.

[2018-09-30 15:12] yochannah commented on #933
@whedon assign @mschubert  as reviewer

[2018-09-30 15:12] whedon commented on #933
OK, the reviewer is @mschubert

[2018-09-30 15:13] yochannah commented on #933
@whedon add @JohnCoene as reviewer

[2018-09-30 15:13] whedon commented on #933
OK, @JohnCoene is now a reviewer

[2018-09-30 15:14] yochannah commented on #933
@whedon start review

[2018-09-30 15:14] whedon commented on #933
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/988. Feel free to close this issue now!

[2018-09-30 15:14] whedon opened #988 "[REVIEW]: ipc: An R Package for Inter-process Communication"
**Submitting author:** @ifellows (<a href="http://orcid.org/0000-0003-1261-0925">Ian Fellows</a>)
**Repository:** <a href="https://github.com/fellstat/ipc" target ="_blank">https://github.com/fellstat/ipc</a>
**Version:** 0.1.0
**Editor:** @yochannah
**Reviewer:** @mschubert , @JohnCoene
**Archive:** <a href="https://doi.org/10.5281/zenodo.1478139" target="_blank">10.5281/zenodo.1478139</a>

## St

[2018-09-30 15:14] whedon commented on #988
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mschubert it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-09-30 15:14] whedon commented on #988
[code]

[2018-09-30 15:15] whedon commented on #988
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00988/joss.00988/10.21105.joss.00988.pdf)

[2018-09-30 15:15] yochannah commented on #933
Thanks everyone! @ifellows, @mschubert @JohnCoene: let's hope over to #988 to get the review started :)

[2018-09-30 15:15] #933 closed

[2018-09-30 16:46] dghoshal-lbl commented on #830
@danielskatz - here's the DOI: 10.5281/zenodo.1439288

[2018-09-30 17:42] lheagy commented on #808
👋 Hi @viktor76525, just checking in. How are things going?

[2018-09-30 17:44] lheagy commented on #983
Excellent, thanks @kbevers for being willing to review and thanks @Chilipp for getting back to me!

I will try to find one more reviewer before we get the review process started

[2018-09-30 17:44] lheagy commented on #983
@whedon assign @kbevers as reviewer

[2018-09-30 17:44] whedon commented on #983
OK, the reviewer is @kbevers

[2018-09-30 17:46] lheagy commented on #983
👋 Hi @Scivision would you be willing to review this submission for JOSS?

[2018-09-30 18:01] arokem commented on #924
I am not sure what that's all about. Have you had a chance to try again?

[2018-09-30 18:05] arokem commented on #962
Hi @mattgolub : thanks for the clarification. That makes sense.

As for reviewer: yes, if you have any suggestions for reviewers, that would be helpful. Maybe the author of similar software that you use yourself? It has to be someone who understands the development process and is able to weigh in on the organization of the software for use by others. Domain expertise is also good, but I would say

[2018-09-30 18:07] arokem commented on #962
👋 Hey @hiendn! Would you be willing to review this article for JOSS?

[2018-09-30 18:12] cMadan commented on #939
@stsievert, that would be great, thank you!

I'll go ahead and start the review process now.

[2018-09-30 18:12] cMadan commented on #939
@whedon assign @stsievert as reviewer

[2018-09-30 18:12] whedon commented on #939
OK, the reviewer is @stsievert

[2018-09-30 18:12] cMadan commented on #939
@whedon start review

[2018-09-30 18:12] whedon opened #989 "[REVIEW]: Diff_classifier: Parallelization of multi-particle tracking video analyses"
**Submitting author:** @ccurtis7 (<a href="http://orcid.org/0000-0001-6312-392X">Chad Curtis</a>)
**Repository:** <a href="https://github.com/ccurtis7/diff_classifier" target ="_blank">https://github.com/ccurtis7/diff_classifier</a>
**Version:** v0.1-beta
**Editor:** @cMadan
**Reviewer:** @stsievert
**Archive:** <a href="https://doi.org/10.5281/zenodo.2631862" target="_blank">10.5281/zenodo.263186

[2018-09-30 18:12] whedon commented on #939
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/989. Feel free to close this issue now!

[2018-09-30 18:12] whedon commented on #989
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @stsievert it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-09-30 18:12] whedon commented on #989
[code]

[2018-09-30 18:12] #939 closed

[2018-09-30 18:13] whedon commented on #989
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00989/joss.00989/10.21105.joss.00989.pdf)

[2018-09-30 18:14] cMadan commented on #989
@stsievert, let me know if you have any questions!

[2018-09-30 21:00] yochannah commented on #836
Still hunting for a second reviewer at the minute. I've sent a few more emails & will update as soon as we find someone.

[2018-09-30 21:10] yochannah commented on #934
It makes sense for @luizirber to review the newly generated paper I think!

[2018-09-30 21:54] scivision commented on #983
@lheagy yes thanks

[2018-09-30 21:59] yochannah commented on #976
@whedon assign @yochannah as editor

[2018-09-30 21:59] whedon commented on #976
OK, the editor is @yochannah

[2018-09-30 22:02] cmccomb commented on #892
@jasonclark @hamedmx I'll try to knock out the review this week.

[2018-09-30 22:08] yochannah commented on #955
👋 Hey there @karinlag, have you had a chance to look at this yet?

[2018-09-30 22:27] lheagy commented on #983
Excellent, thanks @scivision!

[2018-09-30 22:27] lheagy commented on #983
@whedon add @scivision as reviewer

[2018-09-30 22:28] whedon commented on #983
OK, @scivision is now a reviewer

[2018-09-30 22:28] lheagy commented on #983
@whedon start review

[2018-09-30 22:28] whedon opened #990 "[REVIEW]: Pyoints: A Python package for point cloud, voxel and raster processing."
**Submitting author:** @laempy (<a href="http://orcid.org/0000-0002-8963-2762">Sebastian Lamprecht</a>)
**Repository:** <a href="https://github.com/laempy/pyoints" target ="_blank">https://github.com/laempy/pyoints</a>
**Version:** v0.2.0rc3
**Editor:** @lheagy
**Reviewer:** @kbevers, @scivision
**Archive:** <a href="https://doi.org/10.5281/zenodo.2619945" target="_blank">10.5281/zenodo.2619945</a

[2018-09-30 22:28] whedon commented on #983
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/990. Feel free to close this issue now!

[2018-09-30 22:28] whedon commented on #990
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kbevers, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-09-30 22:28] whedon commented on #990
[code]

[2018-09-30 22:28] #983 closed

[2018-09-30 22:28] whedon commented on #990
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00990/joss.00990/10.21105.joss.00990.pdf)

[2018-09-30 22:29] lheagy commented on #990
Many thanks @kbevers and @scivision for being willing to review! In the main comment thread above, there is a checklist to help guide your reviews. If possible, I would greatly appreciate if you can do your review within the next 2 weeks. Please let me know if you have any questions or if I can provide any clarification.

[2018-09-30 22:57] ctb commented on #905
Hello! Thank you for this! I think this is perfectly acceptable for publication.

The only _suggestion_ I have is that a complete real-world set of sequences be made available (along with test instructions) either as part of the repo or for download.  Specifically, under https://cai.readthedocs.io/en/latest/usage.html#basic-usage, it would be great to have a command to run that actually worked wit

[2018-09-30 23:12] Benjamin-Lee commented on #905
I just updated the https://cai.readthedocs.io/en/latest/usage.html#basic-usage section to point out specifically that the referenced files are a part of the repository. In addition, the [example_seqs](https://github.com/Benjamin-Lee/CodonAdaptationIndex/blob/master/example_seqs/) directory on the GitHub contains six reference sets of highly expressed genes and six example CDSs.

[2018-09-30 23:14] ctb commented on #905
Excellent! Sorry I missed it in my review - I did some find commands but clearly not good ones :)

--
Titus Brown, ctbrown@ucdavis.edu<mailto:ctbrown@ucdavis.edu>

On Sep 30, 2018, at 4:12 PM, Benjamin Lee <notifications@github.com<mailto:notifications@github.com>> wrote:

I just updated the https://cai.readthedocs.io/en/latest/usage.html#basic-usage section to point out specifically that the refe

[2018-09-30 23:51] Benjamin-Lee commented on #905
Great! Anything else I need to get the check box for examples?

[2018-10-01 01:27] brainstorm commented on #967
Alright, nothing seems off as far as I can see regarding authorship then and the author stated publicly who contributed where.

[2018-10-01 05:03] ziotom78 commented on #985
Hi @ejhigson, don't worry, I should be able to complete the review in a few days.

[2018-10-01 07:35] dahtah commented on #919
@Kevin-Mattheus-Moerman, I'm sorry, the people I know at the intersection of R and image processing are all imager users or contributors, I'm not sure they'd be appropriate as reviewers.

[2018-10-01 08:36] DannyArends commented on #960
@volfpeter Looks a lot better already, I check all the boxes, except the "automated tests", since @pjotrp mentioned that "Also tests are optional." I could just tick it if needed:

A couple of minor things:
In the README.md, please specify the language for the example text boxes, so that it will do code-highlighting, by specifying the language after the ``` to ```Python, or ```Bash:
[code]
compare

[2018-10-01 09:02] ziotom78 commented on #985
I've read the paper; it looks ok, there are only one spelling error and one unclear sentence:

- Third paragraph: "such problems provides" should be "such problems provide"
- Same sentence: I do not fully understand the meaning of the clause "…and for use statistical research into nested sampling."

[2018-10-01 09:08] volfpeter commented on #960
I've fixed the readme.

The reference that doesn't have a DOI is a technical report. I have found DOIs for related papers, but i wanted to cite the technical report because that's what i read back in the day.

Regarding the test, the only related thing in the repository is the `demo` module. It's easy to run if you went through the Getting started section of the readme. You will receive a very det

[2018-10-01 09:17] DannyArends commented on #960
@volfpeter I think it's more for regression/CI tests e.g. when using travis.ci

These kinds of tests allow you to know when a change to the code breaks the results compared to a previous version. I use it for the CTLmapping repository, every time I push to the master branch, the code is checked to make sure it can still install, and it runs tests to see if the mapping algorithm still produces the

[2018-10-01 10:07] ejhigson commented on #985
@whedon generate pdf

[2018-10-01 10:07] whedon commented on #985
[code]

[2018-10-01 10:07] whedon commented on #985
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00985/joss.00985/10.21105.joss.00985.pdf)

[2018-10-01 10:08] ejhigson commented on #985
Thank you so much for this! It is much appreciated.

Thank you for pointing these out! They are both typos. The sentence now reads "Furthermore, such problems provide a rich source of test cases for assessing the capacity of other software implementations to perform the nested sampling algorithm accurately, and for use in statistical research into nested sampling."

[2018-10-01 10:36] ziotom78 commented on #985
@ejhigson , I noticed that some docstrings are not correct:

- The docstring for [`priors.Uniform`](https://github.com/ejhigson/perfectns/blob/master/perfectns/priors.py#L32) and [`priors.Gaussian`](https://github.com/ejhigson/perfectns/blob/master/perfectns/priors.py#L69) are identical

- In the docstrings of these two classes, it might be worth expliciting what is the meaning of the parameter `p

[2018-10-01 10:46] schalkdaniel commented on #967
@brainstorm I have added a file `CONTRIBUTORS.md` and linked on this file from the Readme.

[2018-10-01 11:08] pjotrp commented on #960
tests are optional.

[2018-10-01 11:18] DannyArends commented on #960
Ok,
thanks for the confirmation, I checked all the boxes.
After the paper is updated, everything should be good 2 go

Danny

[2018-10-01 13:08] arfon commented on #830
@ian-taylor, @gflofst - many thanks for your reviews here and to @danielskatz for editing this submission ✨

@dghoshal-lbl - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00830 :zap: :rocket: :boom:

[2018-10-01 13:08] #830 closed

[2018-10-01 13:08] whedon commented on #830
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00830/status.svg)](https://doi.org/10.21105/joss.00830)

**We need your help!**

Journal of Open Source Softwar

[2018-10-01 13:11] whedon opened #991 "[PRE REVIEW]: SpNetPrep: An R Shiny app to facilitate spatial statistics on road networks"
**Submitting author:** @albrizre (<a href="http://orcid.org/0000-0001-7976-3534">Álvaro Briz-Redón</a>)
**Repository:** <a href="https://github.com/albrizre/SpNetPrep" target ="_blank">https://github.com/albrizre/SpNetPrep</a>
**Version:** 1.1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @albrizre. The JOSS editor (shown at the top of

[2018-10-01 13:11] whedon commented on #991
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-01 13:11] whedon commented on #991
[code]

[2018-10-01 13:11] whedon commented on #991
PDF failed to compile for issue #991 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/991 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon/

[2018-10-01 13:11] whedon commented on #991
Failed to discover a valid open source license.

[2018-10-01 13:34] albrizre commented on #991
@whedon commands

[2018-10-01 13:34] whedon commented on #991
Here are some things you can ask me to do:

[code]

[2018-10-01 13:34] albrizre commented on #991
@whedon generate pdf

[2018-10-01 13:34] whedon commented on #991
[code]

[2018-10-01 13:34] whedon commented on #991
PDF failed to compile for issue #991 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/991/paper.md): invalid trailing UTF-8 octet at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.

[2018-10-01 13:47] albrizre commented on #991
@whedon generate pdf

[2018-10-01 13:47] whedon commented on #991
[code]

[2018-10-01 13:49] dghoshal-lbl commented on #830
@arfon @danielskatz @gflofst @ian-taylor Thank you all for reviewing and getting the paper published!

[2018-10-01 14:35] jshermeyer commented on #866
@Kevin-Mattheus-Moerman Is there a listing of persons that you would recommend? Or is this just anyone from an academic/research community?

[2018-10-01 14:51] jasonclark commented on #892
@cmccomb Thanks, Chris! @arfon You mentioned that we might need to reopen. It looks like that has happened. Can I just reassign Chris as editor suing whedon? cc @hamedmx

[2018-10-01 15:29] pjotrp commented on #960
Yup. If there is no DOI there is none ;)

[2018-10-01 16:52] albrizre commented on #991
@whedon generate pdf

[2018-10-01 16:52] whedon commented on #991
[code]

[2018-10-01 17:48] JohnCoene commented on #988
@yochannah Unit tests are present in the package's source code but not coverage is reported due to lack of continuous integration (codecov/coveralls), is it necessary to require adding that?

[2018-10-01 17:48] arfon commented on #892
Kind of. I'll need to handle this semi-manually.

[2018-10-01 17:49] arfon commented on #892
@whedon add @cmccomb as reviewer

[2018-10-01 17:49] whedon commented on #892
OK, @cmccomb is now a reviewer

[2018-10-01 17:51] kthyng commented on #979
Looks good, @kbarnhart! Thanks.

[2018-10-01 17:51] arfon commented on #892
@cmccomb - you should be all set.

[2018-10-01 18:02] kthyng commented on #964
I see that @sgrieve is ready to accept, and I see the issue referenced above that is in progress on @kbarnhart's end. Thanks for the great progress and work, @tristan-salles, @sgrieve, and @kbarnhart!

[2018-10-01 18:05] kthyng commented on #987
I can take this on!

[2018-10-01 18:05] kthyng commented on #987
@whedon assign @kthyng as editor

[2018-10-01 18:05] whedon commented on #987
OK, the editor is @kthyng

[2018-10-01 18:07] kthyng commented on #987
Hi @whimian! Do you have any suggestions for reviewers? [Here](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) is a list of people who have volunteered to be potential reviewers you can select from, or you may know others who would be a good fit.

[2018-10-01 18:44] jenniferthompson commented on #893
This package provides some highly useful extensions to existing capabilities in R for multistate models. Current capabilities are clearly highlighted in the Examples vignette, as well as the valuable additions provided by this package. The recently added examples are very helpful.

One issue I ran into is that the vignette doesn't seem to be building with the development version. I filed an [issue

[2018-10-01 18:46] volfpeter commented on #954
@whedon generate pdf

[2018-10-01 18:46] whedon commented on #954
[code]

[2018-10-01 18:46] whedon commented on #954
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00954/joss.00954/10.21105.joss.00954.pdf)

[2018-10-01 18:51] volfpeter commented on #960
@DannyArends I've committed the updated version of the paper and regenerated the PDF. Please review it and let me know if further updates or fixes are needed. Thanks!

[2018-10-01 19:43] volfpeter commented on #954
Thanks, the reason for regenerating it here is that i didn't want to spam that issue with these messages and i wasn't sure the PDF generation would be successful because i changed file references to relative ones.

[2018-10-01 19:47] albrizre commented on #991
@whedon generate pdf

[2018-10-01 19:47] whedon commented on #991
[code]

[2018-10-01 19:56] yochannah commented on #988
@ifellows I see no reason to wait until the end - feel free to fix them in real time!

[2018-10-01 20:44] yochannah commented on #988
@JohnCoene I think CI goes under the "optional but strongly recommended" category - https://joss.readthedocs.io/en/latest/review_criteria.html#tests - adding CI would be awesome but given we have automated tests that is probably sufficient.

[2018-10-01 20:51] jasonclark commented on #892
Perfect. Thanks, @arfon!
cc @cmccomb @hamedmx

[2018-10-01 21:48] yochannah commented on #926
I think @DiegoKoz may be interested in reviewing! 🎉 I'm still on the hunt for a second reviewer - quite a few haven't responded to my emails thus far.

[2018-10-01 22:02] ifellows commented on #988
@whedon generate pdf

[2018-10-01 22:02] whedon commented on #988
[code]

[2018-10-01 22:02] whedon commented on #988
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00988/joss.00988/10.21105.joss.00988.pdf)

[2018-10-01 22:05] ifellows commented on #988
@whedon generate pdf

[2018-10-01 22:05] whedon commented on #988
[code]

[2018-10-01 22:06] whedon commented on #988
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00988/joss.00988/10.21105.joss.00988.pdf)

[2018-10-02 02:42] whimian commented on #987
Hey @kthyng ! 💭Maybe @WalBytes from the reviewer list. It seems that he's interested in Geophysics and Petroleum Exploration.

[2018-10-02 04:02] jasonclark commented on #892
@whedon start review magic-word=bananas

[2018-10-02 04:02] whedon commented on #892
Can't start a review when the review has already started

[2018-10-02 04:05] albrizre commented on #991
@whedon generate pdf

[2018-10-02 04:05] whedon commented on #991
[code]

[2018-10-02 04:11] WalBytes commented on #987
Yes I can review this.

On Mon, Oct 1, 2018 at 9:42 PM Yu Hao <notifications@github.com> wrote:

[2018-10-02 04:17] jasonclark commented on #943
@arfon Yes, I can edit this submission.
@mconlon17 Thanks for the submission. The software has a general description, a BSD 3-Clause "New" or "Revised" License, you are a recognized contributor on the project, and it is scoped correctly as research software (E.g., software for a research application). These are a few of my pre-review checks. Our next step is to find a reviewer.

[2018-10-02 04:39] jasonclark commented on #892
@cmccomb In case you miss it (as I did), there is a second review checklist for you above. Cheers and thanks for all of your work.

[2018-10-02 08:58] volfpeter commented on #960
@DannyArends Thanks a lot for the fixes! I've merged the pull request.
@DannyArends @pjotrp Thanks for all the help during the pre-review and review process! It was a much better experience than i had expected.

[2018-10-02 11:04] whimian commented on #987
@WalBytes Thank you for accepting to review it.

[2018-10-02 11:05] whimian commented on #987
@kthyng Could you please assign @WalBytes as the reviewer?

[2018-10-02 13:08] rrrlw commented on #893
@jenniferthompson, you are correct, on re-checking I failed to find contribution guidelines in the README or another file. Thank you for the correction!

Also removed text inappropriate from LICENSE file in this [pull request](https://github.com/stulacy/multistateutils/pull/7).

[2018-10-02 13:52] slithiaote commented on #836
Thanks

[2018-10-02 14:07] kthyng commented on #987
Ok that's great. I would like to have two reviewers.

@JesperDramsch are you interested in reviewing this?

[2018-10-02 14:32] JesperDramsch commented on #987
That'd be lovely @kthyng. Thank you for considering me and ping-ing me. I'll gladly accept.

[2018-10-02 14:51] DiegoKoz commented on #926
Hi @pachamaltese, its a pleasure!
As I told @yochannah, it's the first time I do a review, and especially of this kind, I'll try to do my best

[2018-10-02 14:59] kthyng commented on #987
Great, thanks all! I will add you two as reviewers, and close this issue. The official review will take place in a newly-opened issue.

[2018-10-02 14:59] kthyng commented on #987
@whedon assign @WalBytes as reviewer

[2018-10-02 14:59] whedon commented on #987
OK, the reviewer is @WalBytes

[2018-10-02 15:00] kthyng commented on #987
@whedon add @JesperDramsch as reviewer

[2018-10-02 15:00] whedon commented on #987
OK, @JesperDramsch is now a reviewer

[2018-10-02 15:00] kthyng commented on #987
@whedon start review

[2018-10-02 15:00] whedon commented on #987
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/992. Feel free to close this issue now!

[2018-10-02 15:00] whedon opened #992 "[REVIEW]: PyGeoPressure: Geopressure Prediction in Python"
**Submitting author:** @whimian (<a href="http://orcid.org/0000-0002-4109-6358">Hao Yu</a>)
**Repository:** <a href="https://github.com/whimian/pyGeoPressure" target ="_blank">https://github.com/whimian/pyGeoPressure</a>
**Version:** v0.1.8
**Editor:** @kthyng
**Reviewer:** @WalBytes, @JesperDramsch
**Archive:** <a href="https://doi.org/10.5281/zenodo.1452001" target="_blank">10.5281/zenodo.145200

[2018-10-02 15:00] whedon commented on #992
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @WalBytes, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-10-02 15:01] whedon commented on #992
[code]

[2018-10-02 15:01] #987 closed

[2018-10-02 15:01] whedon commented on #992
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00992/joss.00992/10.21105.joss.00992.pdf)

[2018-10-02 15:11] whedon commented on #991
PDF failed to compile for issue #991 with the following error:

 Can't find any papers to compile :-(

[2018-10-02 15:18] pachamaltese commented on #926
@DiegoKoz thanks a lot !!

[2018-10-02 15:41] whedon commented on #991
PDF failed to compile for issue #991 with the following error:

 Can't find any papers to compile :-(

[2018-10-02 15:43] nnadeau commented on #966
@davidnsousa I’m at a conference in Madrid right now, but I’ll finalize everything when I’m back!

[2018-10-02 15:44] nnadeau commented on #984
@cMadan I’m at a conference in Madrid right now, but I’ll finalize everything when I’m back!

[2018-10-02 16:28] george-githinji commented on #905
@ctb Thank you for the review and thank you @Benjamin-Lee for the timely feedback. @arfon please can we move to get this published?

[2018-10-02 16:41] uvilla commented on #940
@whedon generate pdf

[2018-10-02 16:41] whedon commented on #940
[code]

[2018-10-02 16:42] whedon commented on #940
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00940/joss.00940/10.21105.joss.00940.pdf)

[2018-10-02 17:00] strengejacke commented on #978
Ok, from my side all issues have been addressed adequately, so I have no further requests to the author(s).

[2018-10-02 17:27] jedbrown commented on #968
@whedon generate pdf

[2018-10-02 17:27] whedon commented on #968
[code]

[2018-10-02 17:28] whedon commented on #968
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00968/joss.00968/10.21105.joss.00968.pdf)

[2018-10-02 17:29] jedbrown commented on #968
@lbenet It looks like you missed `.jl` in some bib keys. I'll expand my reviewer search.

[2018-10-02 17:32] lbenet commented on #968
@jedbrown Thanks a lot! Shall I correct that now or wait for the review?

[2018-10-02 17:35] jedbrown commented on #968
We usually work incrementally with reviewers.  You can fix it in a branch if you want to avoid noise on 'master'.

[2018-10-02 17:50] whedon commented on #991
PDF failed to compile for issue #991 with the following error:

 Can't find any papers to compile :-(

[2018-10-02 17:52] kbarnhart commented on #964
Alright. I'm completing my review now @kthyng .

## Barnhart eSCAPE review

I'm happy to recommend acceptance contingent on minor revision.

This is an excellent contribution and I look forward to having applications that
require using it.

My primary concern is with HPC installation instructions. As I expect that many
major research-grade applications (and/or coupling with additional models) will

[2018-10-02 17:55] fdroessler commented on #935
Sorry I wanted to check if the following item: ` Do all archival references that should have a DOI list one (e.g., papers, datasets, software)?` refers to the references in the paper or the reference of the software itself.

[2018-10-02 18:01] maxrousseau commented on #855
@whedon generate pdf

[2018-10-02 18:01] whedon commented on #855
[code]

[2018-10-02 18:03] whedon commented on #855
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00855/joss.00855/10.21105.joss.00855.pdf)

[2018-10-02 18:04] lbenet commented on #968
Thanks again; I just pushed the corrections to branch lbenet/corrections_paper; I also created a new PR, though I do not know if it should be merged now, or wait for the review.

[2018-10-02 18:06] fdroessler commented on #935
@kyleniemeyer @mpurg I have been through my checklist now and will wait till some of the issues that @malramsay64 and myself have raised are addressed.

[2018-10-02 18:07] whedon commented on #991
PDF failed to compile for issue #991 with the following error:

 Can't find any papers to compile :-(

[2018-10-02 18:11] ejhigson commented on #985
Well spotted! I have fixed this added more information about `prior_scale` as suggested in 2a68a7cea55f330733d028f3563b196915e1f14d

[2018-10-02 18:36] raamana commented on #924
I tired it again, just now. Luckily it worked. Final DOI is: 10.5281/zenodo.1442846

[2018-10-02 19:34] arfon commented on #905
@Benjamin-Lee - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-10-02 19:37] arfon commented on #978
@jnese - how are you getting along with your review?

[2018-10-02 19:39] arfon commented on #924
@whedon set 10.5281/zenodo.1442846 as archive

[2018-10-02 19:39] whedon commented on #924
OK. <a href="https://doi.org/10.5281/zenodo.1442846" target="_blank">10.5281/zenodo.1442846</a> is the archive.

[2018-10-02 19:47] karinlag commented on #955
I have now finished my review.

First, @arvestad what a nice little tool!

Install instructions are nice and easy to follow, and it is easy to use and understand. The paper also clearly demonstrates the need, and it seems like this software fills that need.

I'd like to see a CONTRIBUTING.md file, detailing how to contribute, otherwise this looks good to go for me.

[2018-10-02 19:50] arfon commented on #924
@rougier - many thanks for your review here and to @arokem for editing this submission ✨

@raamana - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00924 :zap: :rocket: :boom:

[2018-10-02 19:50] #924 closed

[2018-10-02 19:50] whedon commented on #924
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00924/status.svg)](https://doi.org/10.21105/joss.00924)

**We need your help!**

Journal of Open Source Softwar

[2018-10-02 20:01] labarba commented on #904
@whedon generate pdf

[2018-10-02 20:01] whedon commented on #904
[code]

[2018-10-02 20:01] whedon commented on #904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00904/joss.00904/10.21105.joss.00904.pdf)

[2018-10-02 20:14] kbenoit commented on #774
@arfon what are the next steps?

[2018-10-02 20:31] labarba commented on #904
Small editorial fixes:

1. paragraph 3: "beats Rock (the first action." ... close parenthesis.
2. paragraph 5: "computing this equilibria" ... these equilibria? or this equilibrium? Same sentence: check commas; something isn't quite right.
3. page 2: "easily accessibly" ... accessible
4. p. 2, par. 2: capitalize "python" ... also, check verb: "includes ... to its core C functionality" (adds?) ...

[2018-10-02 20:32] arfon commented on #774
@lmullen, @borishejblum - could you both confirm that the changes @kbenoit has made in https://github.com/quanteda/quanteda/pull/1431 have addressed your feedback?

[2018-10-02 20:32] labarba commented on #904
Also, DOI links in the reference list are broken. Please clean up the bib file so the links resolve.

[2018-10-02 20:34] jnese commented on #978
It is coming along. Do you have a date by which you would like it completed?

[2018-10-02 20:38] lmullen commented on #774
@arfon Yes, I will do this soon.

[2018-10-02 20:42] raamana commented on #924
Yay! Thanks so much everyone ;)

[2018-10-02 20:44] cmccomb commented on #892
@jasonclark Thanks for bringing that to my attention!

[2018-10-02 20:54] arfon commented on #978
Ideally in the next couple of weeks?

[2018-10-02 21:04] jnese commented on #978
Absolutely. I hope to have it completed in less time than that.

[2018-10-02 21:05] Benjamin-Lee commented on #905
`10.5281/zenodo.1439494` is the archived version of v1.0.2

[2018-10-02 21:07] Benjamin-Lee commented on #905
@arfon Quick question: is there supposed to be a space between the ")" and "P" in "E. Mocarski, Ed.)PLOS Pathogens" in the citations?

[2018-10-02 21:12] whedon commented on #991
PDF failed to compile for issue #991 with the following error:

 Can't find any papers to compile :-(

[2018-10-02 21:31] boehmc commented on #940
@uvilla,

I've just sent you a pull requests with a few tiny typos I noticed while reviewing the paper (only one of them is actually math related)

Additionally, in tutorial 4, you may want to switch the notation of the domain from D to Omega and I think the forward operator is sometimes denoted by F and sometimes by B.

Thanks for updating the paper. Everything looks fine to me and it is very con

[2018-10-02 21:58] hiendn commented on #962
Hi @arokem. Unfortunately I am a bit overloaded at the moment. I will have to pass on this one :(

[2018-10-02 22:00] cole-brokamp commented on #812
I've addressed the last comment by implementing tests (see https://github.com/cole-brokamp/DeGAUSS/issues/10#issuecomment-426444872 for more details).  What do you think, @vsoch?

[2018-10-02 22:00] cole-brokamp commented on #812
@whedon generate pdf

[2018-10-02 22:00] whedon commented on #812
[code]

[2018-10-02 22:01] whedon commented on #812
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00812/joss.00812/10.21105.joss.00812.pdf)

[2018-10-02 22:20] borishejblum commented on #774
@arfon @kbenoit it seems that my comment regarding the definition of who the target audience is has not been addressed (or did I miss something ?).
Thanks

[2018-10-02 22:20] vsoch commented on #812
@cole-brokamp has done a fantastic job adding tests (and we are green and good to go!) and so I've updated my review and am very happy to say that @cole-brokamp has addressed all of my concerns, and I my recommendation is accept for publication in Joss. Great job @cole-brokamp! Passing forward to you again @pjotrp.

https://travis-ci.org/cole-brokamp/DeGAUSS

[2018-10-02 23:09] viktor76525 commented on #808
@lheagy and @leouieda I have closed all the issues, ready for checking over.

[2018-10-03 01:15] IgorBaratta commented on #940
Hi @lheagy and @uvilla,
Sorry for the delay.
I'll complete the review by Thursday.

[2018-10-03 02:33] daijiang commented on #942
@karthik thanks!

[2018-10-03 02:57] juanvillada commented on #955
Hi @arvestad

Some minor typos to correct in README.md:

1. In the [Introduction](https://github.com/arvestad/alv#alv-a-command-line-alignment-viewer) section, it reads:

2. In the next line, it reads:

`alv` really works nice, I am now using it constantly for visual inspection of codon variants. Thanks @arvestad for taking the time to contribute open source software to the world!

@yochannah, I t

[2018-10-03 07:31] pjotrp commented on #960
@whedon generate pdf

[2018-10-03 07:31] whedon commented on #960
[code]

[2018-10-03 07:32] whedon commented on #960
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00960/joss.00960/10.21105.joss.00960.pdf)

[2018-10-03 07:34] pjotrp commented on #812
The review process is now complete. To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI (if one exists). Mind, it looks OK to me.

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service. To do so

[2018-10-03 07:40] pjotrp commented on #960
Excellent. The submission is slightly over 1000 words at 1200 words, but in this case I think it serves its purpose (@arfon is that OK?).

We need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service. To do so:

 1. Create [a GitHub release](https://help.github.com/articles/creating-releases/) of the current v

[2018-10-03 08:42] tristan-salles commented on #979
I am pleased to recommend publication of this additional new module to Landlab!

This is clearly going to be of interest to many of the existing users of this code and has also the potential to attract more researchers who are interested in adding more realism in their models with spatially variable lithologies producing variable erodability and diffusivity.

Following are some of my comments and

[2018-10-03 11:47] arfon commented on #905
That looks like a bug in the citation style formatting. Perhaps just remove this line from your bibtex?:

https://github.com/Benjamin-Lee/CodonAdaptationIndex/blob/master/paper/paper.bib#L52

[2018-10-03 12:03] arvestad commented on #955
Thanks @juanvillada and @karinlag for your nice comments!

I have now created CONTRIBUTING.md file, that nicely complements a file THANKS.md that I started just two days ago, and addressed Juan's minor issues. So I think that I have taken care of the points that have been raised. Karin has created a couple of small bug/functionality issues in the alv repo, which I have started to take care of.

Th

[2018-10-03 12:05] arvestad commented on #955
I guess I should ping @yochannah too, since I think that I have addressed all the reviewer's points.

[2018-10-03 12:07] arfon commented on #960
👍 LGTM

[2018-10-03 12:28] stulacy commented on #893
I've incorporated the LICENSE pull request and believe have fixed the vignette issue (see corresponding issue thread). I've also added a CONTRIBUTING.md file with guidelines on how to contribute, suggestions to improve it are welcome.

What is a good approach for adding package versions to Imports? I could use the current release version, but I don't want to force people to update to the latest ve

[2018-10-03 12:29] #394 closed

[2018-10-03 12:41] modenaxe commented on #927
I agree with @nicoguaro.

[2018-10-03 14:44] raamana commented on #897
Thanks Michael for a thorough and a helpful review, appreciate it.

Ariel, this is the final DOI for this version: 10.5281/zenodo.1443427

[2018-10-03 14:47] raamana commented on #897
Just pushed the latest code to pypi also! :)

[2018-10-03 14:59] arfon commented on #985
@ejhigson - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-10-03 15:14] cole-brokamp commented on #812
Most of my references are either software vignettes or United States Public Law, both of which do not have DOIs available.  I've included all other DOIs that are available for my references.

I have tagged a release as v0.3 that includes all changes made during the JOSS review.  I have an automated build setup on Zenodo for all releases, so the current DOI will point to the latest version: 10.5281

[2018-10-03 15:28] kbenoit commented on #774
@borishejblum please see https://github.com/quanteda/quanteda/pull/1431/commits/78d6ec9e7f000bc20ea27ba8cdad3e814bacff5a

[2018-10-03 15:58] ejhigson commented on #985
@whedon generate pdf

[2018-10-03 15:58] whedon commented on #985
[code]

[2018-10-03 15:58] borishejblum commented on #774
Thanks @kbenoit. All my comments have now been succesfully adressed by quanteda's authors.

[2018-10-03 15:58] whedon commented on #985
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00985/joss.00985/10.21105.joss.00985.pdf)

[2018-10-03 16:03] ejhigson commented on #985
@whedon generate pdf

[2018-10-03 16:03] whedon commented on #985
[code]

[2018-10-03 16:04] whedon commented on #985
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00985/joss.00985/10.21105.joss.00985.pdf)

[2018-10-03 16:13] ejhigson commented on #985
@ziotom78 thank you so much for your very prompt review - it is much appreciated!

[2018-10-03 16:16] ejhigson commented on #985
@arfon thank you very much for your help with this! I have archived the latest version at:

10.5281/zenodo.1443509

[2018-10-03 16:38] mattgolub commented on #962
Hi @arokem. We can suggest Eric Jang (ejang@google.com) as a reviewer. He is an engineer at Google Brain with neuroscience interests.

Is one reviewer sufficient here? We can continue racking our brains for others if necessary.

[2018-10-03 16:40] arfon commented on #985
@whedon set 10.5281/zenodo.1443509 as archive

[2018-10-03 16:40] whedon commented on #985
OK. <a href="https://doi.org/10.5281/zenodo.1443509" target="_blank">10.5281/zenodo.1443509</a> is the archive.

[2018-10-03 16:43] arfon commented on #985
@ziotom78 - many thanks for your review here ✨

@ejhigson - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00985 :zap: :rocket: :boom:

[2018-10-03 16:43] #985 closed

[2018-10-03 16:44] whedon commented on #985
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00985/status.svg)](https://doi.org/10.21105/joss.00985)

**We need your help!**

Journal of Open Source Softwar

[2018-10-03 16:54] cole-brokamp commented on #812
Here is the DOI for the v0.3 release:

10.5281/zenodo.1443521

Thanks again

[2018-10-03 17:08] vsoch commented on #812
Don't forget the cool zenodo badge! 😎

[2018-10-03 17:12] cole-brokamp commented on #812
no way I could forget that! 😉

[2018-10-03 18:19] cMadan commented on #984
@nnadeau, no problem, thanks for letting me know!

[2018-10-03 18:42] volfpeter commented on #960
I've submitted the repository to Zenodo:
* DOI for "paper" release: 10.5281/zenodo.1443551
* DOI for all releases: 10.5281/zenodo.1443550

The repository version of the "paper" release is 0.12.1.

[2018-10-03 18:50] IgorBaratta commented on #940
I had known hIPPYlib for some time and recently played with the tutorials. The tutorials are informative and indeed an excellent place to start to learn about the package.

Great work @uvilla  and colleagues!

----
Some small _suggestions_ to the software paper
1st paragraph:
-  Replace the first parenthesis with a comma to improve readability.
- Include a reference to the PETSc library, to be con

[2018-10-03 19:31] kbarnhart commented on #964
@kthyng a quick note that I've now closed all the issues I opened in the eSCAPE repository.

[2018-10-03 20:08] hclent commented on #922
@Kevin-Mattheus-Moerman I have gone through all of the bullet points, and checked off as many as I could. There are a few places where I do not believe the criteria has been fully met, or at least it needs a bit more work before publication, which I will describe below:

### Comments

* General checks and functionality were all fine
* Documentation needs improvement
    * Motivation, installation,

[2018-10-03 20:09] hclent commented on #922
@Kevin-Mattheus-Moerman Now that all of the initial reviews are in (sorry, everyone, that mine was so late!!), is there anything that should be done on the part of the reviewers?

[2018-10-03 20:58] uvilla commented on #940
@whedon generate pdf

[2018-10-03 20:59] whedon commented on #940
[code]

[2018-10-03 20:59] whedon commented on #940
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00940/joss.00940/10.21105.joss.00940.pdf)

[2018-10-03 21:03] uvilla commented on #940
@whedon generate pdf

[2018-10-03 21:03] whedon commented on #940
[code]

[2018-10-03 21:03] whedon commented on #940
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00940/joss.00940/10.21105.joss.00940.pdf)

[2018-10-03 21:08] pjotrp commented on #960
@whedon set 10.5281/zenodo.1443551 as archive

[2018-10-03 21:09] whedon commented on #960
OK. <a href="https://doi.org/10.5281/zenodo.1443551" target="_blank">10.5281/zenodo.1443551</a> is the archive.

[2018-10-03 21:10] pjotrp commented on #960
@arfon ready to R&R

[2018-10-03 21:11] pjotrp commented on #812
@whedon set 10.5281/zenodo.1443521 as archive

[2018-10-03 21:11] whedon commented on #812
OK. <a href="https://doi.org/10.5281/zenodo.1443521" target="_blank">10.5281/zenodo.1443521</a> is the archive.

[2018-10-03 21:12] pjotrp commented on #812
@arfon we are ready to publish!

[2018-10-03 21:15] vsoch commented on #812
Woohoo! Go @whedon bot go! :champagne:

[2018-10-03 21:19] pjotrp commented on #918
@renatorrsilva sorry for being quiet. I got some feedback on your method. A fellow editor wrote:

The naïve bayes algorithm is not novel. It is a well described algorithm and there are variants of the same in R (caret package) and in other languages. The code he has written could be novel in that that is his implementation if the algorithm. I am not sure what is new in this implementation, does it

[2018-10-03 22:39] arfon commented on #960
@DannyArends - many thanks for your review here and to @pjotrp for editing this submission ✨

@volfpeter - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00960 :zap: :rocket: :boom:

[2018-10-03 22:39] #960 closed

[2018-10-03 22:39] whedon commented on #960
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00960/status.svg)](https://doi.org/10.21105/joss.00960)

**We need your help!**

Journal of Open Source Softwar

[2018-10-03 22:49] arfon commented on #812
@vsoch, @george-githinji - many thanks for your reviews here and to @pjotrp for editing this submission ✨

@cole-brokamp - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00812 :zap: :rocket: :boom:

[2018-10-03 22:49] #812 closed

[2018-10-03 22:49] whedon commented on #812
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00812/status.svg)](https://doi.org/10.21105/joss.00812)

**We need your help!**

Journal of Open Source Softwar

[2018-10-03 22:52] whedon opened #993 "[PRE REVIEW]: SWEpy: A Python Library for Quick and Easy Access and Manipulation of MEaSUREs CETB files for SWE analysis"
**Submitting author:** @wino6687 (<a href="http://orcid.org/0000-0002-6772-9600">will norris</a>)
**Repository:** <a href="https://github.com/wino6687/SWEpy" target ="_blank">https://github.com/wino6687/SWEpy</a>
**Version:** v1.1.5
**Editor:** @arfon
**Reviewers:** @usethedata

**Author instructions**

Thanks for submitting your paper to JOSS @wino6687. The JOSS editor (shown at the top of this i

[2018-10-03 22:52] whedon commented on #993
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-03 22:52] whedon commented on #993
[code]

[2018-10-03 22:53] whedon commented on #993
PDF failed to compile for issue #993 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    235      0 --:--:-- --:--:-- --:--:--   238
Error reading bibl

[2018-10-03 22:53] whedon opened #994 "[PRE REVIEW]: eif: Extended Isolation Forest for Anomaly Detection"
**Submitting author:** @mgckind (<a href="http://orcid.org/0000-0002-4802-3194">Matias Carrasco Kind</a>)
**Repository:** <a href="https://github.com/sahandha/eif" target ="_blank">https://github.com/sahandha/eif</a>
**Version:** v1.0.2
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @mgckind. The JOSS editor (shown at the top of this is

[2018-10-03 22:53] whedon commented on #994
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-03 22:53] whedon commented on #994
[code]

[2018-10-03 22:53] whedon commented on #994
PDF failed to compile for issue #994 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/

[2018-10-03 22:53] whedon opened #995 "[PRE REVIEW]: rIP: An R package for tracing IP addresses and detecting likely responses from server farms"
**Submitting author:** @pdwaggoner (<a href="http://orcid.org/0000-0002-7825-7573">Philip D. Waggoner</a>)
**Repository:** <a href="https://github.com/MAHDLab/rIP" target ="_blank">https://github.com/MAHDLab/rIP</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @pdwaggoner. The JOSS editor (shown at the top of this

[2018-10-03 22:53] whedon commented on #995
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-03 22:53] whedon commented on #995
[code]

[2018-10-03 22:54] whedon commented on #995
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00995/joss.00995/10.21105.joss.00995.pdf)

[2018-10-03 23:29] Benjamin-Lee commented on #905
@whedon generate pdf

[2018-10-03 23:29] whedon commented on #905
[code]

[2018-10-03 23:30] whedon commented on #905
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00905/joss.00905/10.21105.joss.00905.pdf)

[2018-10-03 23:32] Benjamin-Lee commented on #905
@arfon That did the trick! I looked into [whedon/resources/apa.csl](https://github.com/openjournals/whedon/blob/master/resources/apa.csl) but didn't make much progress on identifying the problem to prevent it from happening to other authors. Am I looking in the right place?

That being said, the proof looks like its good to go. Thanks!

[2018-10-04 00:00] pdwaggoner commented on #995
@whedon generate pdf

[2018-10-04 00:00] whedon commented on #995
[code]

[2018-10-04 00:00] whedon commented on #995
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00995/joss.00995/10.21105.joss.00995.pdf)

[2018-10-04 00:02] pdwaggoner commented on #995
@leeper , we suggest any of the following people as potential reviewers for our paper: @mariacuellar @cimentadaj or @benmarwick . However, we certainly defer to whatever you think is best. Thanks!

[2018-10-04 00:33] arfon commented on #905
Yeah, that's probably where. Thanks for looking!

[2018-10-04 00:33] arfon commented on #905
@whedon set 10.5281/zenodo.1439494 as archive

[2018-10-04 00:33] whedon commented on #905
OK. <a href="https://doi.org/10.5281/zenodo.1439494" target="_blank">10.5281/zenodo.1439494</a> is the archive.

[2018-10-04 00:36] arfon commented on #905
Many thanks for your review here @ctb and to @george-githinji for editing this submission ✨

@Benjamin-Lee - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00905 :zap: :rocket: :boom:

[2018-10-04 00:36] #905 closed

[2018-10-04 00:36] whedon commented on #905
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00905/status.svg)](https://doi.org/10.21105/joss.00905)

**We need your help!**

Journal of Open Source Softwar

[2018-10-04 00:53] renatorrsilva commented on #918
First of all, Many thanks for email.

I will try answer the questions

. "I am not sure what is new in this implementation, does it run faster?
Does it use less memory compared to the implementation in caret? Would be
nice to see such figures."
Answer: The reason that I wrote this package because I did not find a R
package that run naive Bayes model in a dataset which contains continuous
and discr

[2018-10-04 06:55] pjotrp commented on #918
There is no deadline. Main thing is to get a publication we can all be proud of :). If you can address these points we should be able to find a reviewer.

[2018-10-04 07:19] jaynanavati commented on #943
I am so sorry. I am busy with other pre-planned things. So, I am not
available.

On Wed, Oct 3, 2018 at 11:22 AM Jason A. Clark <notifications@github.com>
wrote:

[2018-10-04 10:33] arfon commented on #893
@stulacy - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-10-04 12:55] cole-brokamp commented on #812
Thanks everyone for their help in getting this manuscript published.  It has been a great experience and I look forward to reviewing for JOSS soon.

[2018-10-04 13:59] wino6687 commented on #993
I had an extra '{ ' in my bib file. I have pushed a fix to the repo. Is there a way to trigger @whedon to compile it again? Thanks!

[2018-10-04 14:04] wino6687 commented on #993
@whedon generate pdf

[2018-10-04 14:04] whedon commented on #993
[code]

[2018-10-04 14:05] whedon commented on #993
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00993/joss.00993/10.21105.joss.00993.pdf)

[2018-10-04 14:18] mgckind commented on #994
@whedon commands

[2018-10-04 14:18] whedon commented on #994
Here are some things you can ask me to do:

[code]

[2018-10-04 14:19] mgckind commented on #994
@whedon generate pdf

[2018-10-04 14:19] whedon commented on #994
[code]

[2018-10-04 14:19] whedon commented on #994
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00994/joss.00994/10.21105.joss.00994.pdf)

[2018-10-04 15:42] arfon commented on #995
Hi @pdwaggoner. Thanks for your submission to JOSS. Unfortunately this submission isn't allowed in JOSS as it falls into our ['minor utility'](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) category.

[2018-10-04 15:42] #995 closed

[2018-10-04 15:46] wino6687 commented on #993
@whedon generate pdf

[2018-10-04 15:46] whedon commented on #993
[code]

[2018-10-04 15:47] whedon commented on #993
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00993/joss.00993/10.21105.joss.00993.pdf)

[2018-10-04 16:52] fospald commented on #986
@whedon generate pdf

[2018-10-04 16:52] whedon commented on #986
[code]

[2018-10-04 16:52] whedon commented on #986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00986/joss.00986/10.21105.joss.00986.pdf)

[2018-10-04 16:53] lheagy commented on #808
Thanks @viktor76525, @leouieda and @hugoledoux would you mind taking another look when you have a chance?

[2018-10-04 16:57] lheagy commented on #863
Thanks for all of your work reviewing @jsta, and nice work @marcoalopez! Thanks for iterating with me and I hope you have found the review process beneficial.

@marcoalopez: could you please archive the software on [zenodo](https://zenodo.org/) or similar and we can proceed with publication 🎉

[2018-10-04 16:59] fospald commented on #986
@whedon generate pdf

[2018-10-04 16:59] whedon commented on #986
[code]

[2018-10-04 17:00] whedon commented on #986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00986/joss.00986/10.21105.joss.00986.pdf)

[2018-10-04 17:00] fospald commented on #986
@whedon generate pdf

[2018-10-04 17:00] whedon commented on #986
[code]

[2018-10-04 17:01] whedon commented on #986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00986/joss.00986/10.21105.joss.00986.pdf)

[2018-10-04 17:06] JesperDramsch commented on #992
@whedon commands

[2018-10-04 17:06] whedon commented on #992
Here are some things you can ask me to do:

[code]

[2018-10-04 19:17] speleophysics commented on #979
I am happy to recommend this new Landlab module for publication. In general, I agree with @tristan-salles assessment and comments. The new module is a nice contribution that will undoubtedly be used widely within the community. The purpose is expressed clearly in the accompanying paper, and the code works as advertised.

I have read through the documentation and gone through the tutorials. In the

[2018-10-04 20:12] whedon opened #996 "[PRE REVIEW]: iRF: Extracting interactions from random forests"
**Submitting author:** @karlkumbier (<a href="http://orcid.org/0000-0001-6521-1173">Karl Kumbier</a>)
**Repository:** <a href="https://github.com/sumbose/iRF" target ="_blank">https://github.com/sumbose/iRF</a>
**Version:** v2.0.0
**Editor:** @arokem
**Reviewers:** @road2stat

**Author instructions**

Thanks for submitting your paper to JOSS @karlkumbier. The JOSS editor (shown at the top of this

[2018-10-04 20:12] whedon commented on #996
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-04 20:12] whedon commented on #996
[code]

[2018-10-04 20:13] whedon commented on #996
PDF failed to compile for issue #996 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/996 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon/

[2018-10-04 20:13] whedon opened #997 "[PRE REVIEW]: easyaccess"
**Submitting author:** @mgckind (<a href="http://orcid.org/0000-0002-4802-3194">Matias Carrasco Kind</a>)
**Repository:** <a href="https://github.com/mgckind/easyaccess" target ="_blank">https://github.com/mgckind/easyaccess</a>
**Version:** 1.4.5
**Editor:** @arfon
**Reviewers:** @ngoldbaum

**Author instructions**

Thanks for submitting your paper to JOSS @mgckind. The JOSS editor (shown at the

[2018-10-04 20:13] whedon commented on #997
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-04 20:13] whedon commented on #997
[code]

[2018-10-04 20:13] whedon commented on #996
Failed to discover a valid open source license.

[2018-10-04 20:14] whedon commented on #997
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00997/joss.00997/10.21105.joss.00997.pdf)

[2018-10-04 20:37] kthyng commented on #964
@kbarnhart Has @tristan-salles completed or otherwise addressed the minor revisions you noted or are there any outstanding issues?

[2018-10-04 22:44] kbarnhart commented on #964
Yes! Absolutely! No outstanding issues remain. I am happy to recommend
publication. Sorry if that wasn’t previously clear.

On Thu, Oct 4, 2018 at 3:37 PM Kristen Thyng <notifications@github.com>
wrote:

[2018-10-05 01:57] daijiang commented on #945
@karthik any news about reviewers hunting? Thanks!

[2018-10-05 01:57] daijiang commented on #942
@karthik any news about reviewers hunting? Thanks!

[2018-10-05 02:19] kbarnhart commented on #979
Thanks to both @tristan-salles and @speleophysics for constructive and thoughtful reviews. I anticipate finishing revisions by early next week. I'll make a note here when I'm done.

[2018-10-05 04:59] leouieda commented on #957
@lheagy I already had a Zenodo archive for v1.0.0. Since there weren't changes requested, can we use this one? https://doi.org/10.5281/zenodo.1415280  The only new thing in the repo is the paper.

[2018-10-05 06:53] JesperDramsch commented on #992
Good to go from my side @kthyng. It's a very nice package. Works as described and is well documented. Pleasure to review.

[2018-10-05 09:29] drvinceknight commented on #904
Thanks @labarba I'll make those changes over next couple of days.

[2018-10-05 11:02] fospald commented on #986
@whedon generate pdf

[2018-10-05 11:02] whedon commented on #986
[code]

[2018-10-05 11:03] whedon commented on #986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00986/joss.00986/10.21105.joss.00986.pdf)

[2018-10-05 11:47] arokem commented on #962
Thanks for the suggestion. I would rather try to find someone who doesn't share an affiliation with one of the authors, if possible.

@malmaud: would you be willing to review this article for JOSS?

[2018-10-05 11:50] arokem commented on #897
Thanks @miykael for the excellent review! 👏 Your work is done here...

[2018-10-05 11:51] arokem commented on #897
@whedon set 10.5281/zenodo.1443427 as archive

[2018-10-05 11:51] whedon commented on #897
OK. <a href="https://doi.org/10.5281/zenodo.1443427" target="_blank">10.5281/zenodo.1443427</a> is the archive.

[2018-10-05 11:53] arokem commented on #897
@raamana : sorry - a couple of things I noticed about your article just now:

- The title is not capitalized. I don't think that you want every word in the title to be capitalized, but the very first word probably should be. Also, the title currently doesn't include the name of the software library. I would recommend adding that.

- The references do not have DOIs. Please add these.

[2018-10-05 12:47] raamana commented on #897
@whedon generate pdf

[2018-10-05 12:47] whedon commented on #897
[code]

[2018-10-05 12:48] whedon commented on #897
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00897/joss.00897/10.21105.joss.00897.pdf)

[2018-10-05 12:51] raamana commented on #897
@whedon generate pdf

[2018-10-05 12:51] whedon commented on #897
[code]

[2018-10-05 12:51] whedon commented on #897
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00897/joss.00897/10.21105.joss.00897.pdf)

[2018-10-05 12:53] raamana commented on #897
Good catch - fixed them now.

[2018-10-05 13:48] malmaud commented on #962
Ya sure.

[2018-10-05 13:54] lmullen commented on #774
I've revised the diffs of the changes and re-run tests, R CMD check, and so on. The improvements to the paper have been made, and the improvements to the local tests in particular make a huge difference for checking the package. I'm satisfied that the changes have been made and the paper can be accepted.

Very much looking forward to citing this paper as I continue to use quanteda in my own work.

[2018-10-05 14:30] whedon opened #998 "[PRE REVIEW]: SeqTools: A python package for easy transformation, combination and evaluation of large datasets"
**Submitting author:** @nlgranger (<a href="http://orcid.org/0000-0003-2943-9888">Nicolas Granger</a>)
**Repository:** <a href="https://github.com/nlgranger/SeqTools" target ="_blank">https://github.com/nlgranger/SeqTools</a>
**Version:** v0.9.0
**Editor:** @pjotrp
**Reviewers:** @Benjamin-Lee

**Author instructions**

Thanks for submitting your paper to JOSS @nlgranger. The JOSS editor (shown at

[2018-10-05 14:44] cmccomb commented on #892
@hamedmx I think there's only one thing that needs to be fixed: adding some guidelines for potential contributors, bug-reporting, etc. (see Documentation > Community Guidelines in the reviewer checklist above). With that, I think that my review will be complete.
https://github.com/hamedmx/YAD-ILP-Tool/issues/1

[2018-10-05 14:57] arfon commented on #774
@kbenoit - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-10-05 14:58] marcoalopez commented on #863
Hi @lheagy, thank you for your support as an editor and the review. I have learned many things in the process. I would like to say that I really think this is the way to go for the publication and revision of the software. So congratulations to the whole JOSS team for this great idea and keep going. I archive the software as it is now in GitHub repository on the following doi (figshare):

https://

[2018-10-05 15:42] drvinceknight commented on #981
Just back from paternity leave so will be looking at this next week.

[2018-10-05 17:54] maxrousseau commented on #855
@whedon generate pdf

[2018-10-05 17:54] whedon commented on #855
[code]

[2018-10-05 18:27] WalBytes commented on #992
Very useful package. The software functions as described. A minor revision in the second line of the paper; the author can re-word as follows: "The pore fluid pressure affects the physical properties of reservoir rocks, hence predicted pore pressure is a key input when building the geomechanical model of a reservoir. "
Good to go!

[2018-10-05 18:30] maxrousseau commented on #855
@whedon generate pdf

[2018-10-05 18:30] whedon commented on #855
[code]

[2018-10-05 18:31] whedon commented on #855
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00855/joss.00855/10.21105.joss.00855.pdf)

[2018-10-05 20:10] kbenoit commented on #774
Thanks @arfon (and once again, to all the reviewers for your excellent and supportive comments.

I've updated the release to v1.3.10 (also under CRAN review) and Zenodo has updated the DOI to 10.5281/zenodo.1447219.

[2018-10-05 21:54] hamedmx commented on #892
@cmccomb Thank you very much.
So, can I add those community guidelines to the README.md file or, I should add it to the original paper.md file?

[2018-10-05 23:32] karlkumbier commented on #996
@whedon generate pdf

[2018-10-05 23:32] whedon commented on #996
[code]

[2018-10-05 23:32] whedon commented on #996
PDF failed to compile for issue #996 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/996/paper.md): found unknown escape character while parsing a quoted scalar at line 9 column 18 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /

[2018-10-05 23:33] karlkumbier commented on #996
@whedon generate pdf

[2018-10-05 23:33] whedon commented on #996
[code]

[2018-10-05 23:34] whedon commented on #996
PDF failed to compile for issue #996 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/996/paper.md): could not find expected ':' while scanning a simple key at line 26 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/v

[2018-10-05 23:37] karlkumbier commented on #996
@whedon generate pdf

[2018-10-05 23:37] whedon commented on #996
[code]

[2018-10-05 23:37] whedon commented on #996
PDF failed to compile for issue #996 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon/author.rb:36:in `block in build_affiliation_string': Problem with affiliations for Sumanta Basu, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon/author.rb:35:in `each'

[2018-10-05 23:42] karlkumbier commented on #996
@whedon generate pdf

[2018-10-05 23:42] whedon commented on #996
[code]

[2018-10-05 23:42] whedon commented on #996
PDF failed to compile for issue #996 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/996/paper.md): did not find expected '-' indicator while parsing a block collection at line 17 column 3 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'

[2018-10-05 23:45] karlkumbier commented on #996
@whedon generate pdf

[2018-10-05 23:45] whedon commented on #996
[code]

[2018-10-05 23:46] whedon commented on #996
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00996/joss.00996/10.21105.joss.00996.pdf)

[2018-10-06 01:56] whimian commented on #992
@WalBytes I've revised the paper in the latest commit.

[2018-10-06 06:19] JesperDramsch commented on #992
@whedon generate pdf

[2018-10-06 06:19] whedon commented on #992
[code]

[2018-10-06 06:19] whedon commented on #992
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00992/joss.00992/10.21105.joss.00992.pdf)

[2018-10-06 10:41] jekbradbury commented on #977
Sure, I'd be happy to.

[2018-10-06 11:03] WalBytes commented on #992
Awesome! Good to go from my side @kthyng <https://github.com/kthyng>.

On Oct 6, 2018 1:19 AM, "whedon" <notifications@github.com> wrote:

[2018-10-06 11:14] arfon commented on #774
@whedon set 10.5281/zenodo.1447219 as archive

[2018-10-06 11:14] whedon commented on #774
OK. <a href="https://doi.org/10.5281/zenodo.1447219" target="_blank">10.5281/zenodo.1447219</a> is the archive.

[2018-10-06 11:17] arfon commented on #774
@lmullen, @borishejblum - many thanks for your reviews here ✨

@kbenoit - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00774 :zap: :rocket: :boom:

[2018-10-06 11:17] #774 closed

[2018-10-06 11:17] whedon commented on #774
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00774/status.svg)](https://doi.org/10.21105/joss.00774)

**We need your help!**

Journal of Open Source Softwar

[2018-10-06 12:33] whedon opened #999 "[PRE REVIEW]: Pingouin: statistics in Python"
**Submitting author:** @raphaelvallat (<a href="http://orcid.org/0000-0003-1779-7653">Raphael Vallat</a>)
**Repository:** <a href="https://github.com/raphaelvallat/pingouin" target ="_blank">https://github.com/raphaelvallat/pingouin</a>
**Version:** v0.1.10
**Editor:** @cMadan
**Reviewers:** @snastase

**Author instructions**

Thanks for submitting your paper to JOSS @raphaelvallat. The JOSS edito

[2018-10-06 12:33] whedon commented on #999
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-06 12:33] whedon commented on #999
[code]

[2018-10-06 12:33] whedon opened #1000 "[PRE REVIEW]: STEDY - Software for TEnsegrity DYnamics"
**Submitting author:** @vaishnavtv (<a href="http://orcid.org/0000-0001-9897-0600">Venkata Vaishnav Tadiparthi</a>)
**Repository:** <a href="https://github.com/uqLab/stedy" target ="_blank">https://github.com/uqLab/stedy</a>
**Version:** v0.1.0
**Editor:** @labarba
**Reviewers:** @Kevin-Mattheus-Moerman, @ctdegroot

**Author instructions**

Thanks for submitting your paper to JOSS @vaishnavtv. The

[2018-10-06 12:33] whedon commented on #1000
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-06 12:33] whedon commented on #1000
[code]

[2018-10-06 12:33] whedon commented on #1000
PDF failed to compile for issue #1000 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbd

[2018-10-06 12:33] whedon commented on #999
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00999/joss.00999/10.21105.joss.00999.pdf)

[2018-10-06 15:43] lheagy commented on #863
@whedon set 10.6084/m9.figshare.1383130.v23 as archive

[2018-10-06 15:43] whedon commented on #863
OK. <a href="https://doi.org/10.6084/m9.figshare.1383130.v23" target="_blank">10.6084/m9.figshare.1383130.v23</a> is the archive.

[2018-10-06 15:45] lheagy commented on #863
@arfon, this submission is ready to be published. One quick question for you: do we want the version number in the doi? (e.g. `v23`)

Congrats on your submission @marcoalopez and many thanks @jsta for your effort reviewing 🎉!

[2018-10-06 15:47] lheagy commented on #957
Thanks @leouieda, yes, that works. Would you mind doing a new release with the final JOSS paper to capture the current state of the repo?

[2018-10-06 18:39] labarba commented on #904
OK. Ping when done!

[2018-10-06 23:17] rouson commented on #865
I've added [issue 5] to better explain what I think was required for issue 2, which I don't think I have the ability to reopen.

[issue 5]: https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/5

[2018-10-07 00:49] cmccomb commented on #892
@hamedmx I would recommend just adding it to the README.md

[2018-10-07 07:39] rouson commented on #865
I have now run the NIST test suite using the [directions] in the README.md.  I would feel more confident my verification of this software's functionality if the repository contained a much shorter example (say 50-100 lines) that demonstrates the results of the transformations this software provides.  I have created [issue 6] to request this.

[directions]: https://github.com/wimvanderbauwhede/Refa

[2018-10-07 07:46] rouson commented on #865
I have submitted [issue 6] got request that a DOI be added to one article reference.  Once issues 5, 6, and 7 have been addressed, I expect to be able to recommend acceptance.

[2018-10-07 12:04] whedon opened #1001 "[PRE REVIEW]: Prest: Open-Source Software for Computational Revealed Preference Analysis"
**Submitting author:** @georgiosgerasimou (<a href="http://orcid.org/0000-0003-3712-3154">Georgios Gerasimou</a>)
**Repository:** <a href="https://github.com/prestsoftware/prest" target ="_blank">https://github.com/prestsoftware/prest</a>
**Version:** v.0.9.7
**Editor:** @arfon
**Reviewers:** @HaoZeke

**Author instructions**

Thanks for submitting your paper to JOSS @georgiosgerasimou. The JOSS e

[2018-10-07 12:04] whedon commented on #1001
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-07 12:04] whedon commented on #1001
[code]

[2018-10-07 12:04] whedon commented on #1001
PDF failed to compile for issue #1001 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:90:in `block in check_orcids': undefined method `has_key?' for "Matúš Tejiščák":String (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-db

[2018-10-07 12:06] arfon commented on #1001
:wave: @leeper, the submitting author suggested you as the handing editor. If you can't take it, I'll find someone else 😄

[2018-10-07 12:08] arfon commented on #1001
Hi @georgiosgerasimou - please take a look a the example paper in our submission guidelines and format the YAML header _exactly_ as shown in the example: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

(Note that YAML is whitespace sensitive)

[2018-10-07 13:57] arfon commented on #667
Friendly reminder to get to this soon @gomesdasilva.

[2018-10-07 14:02] arfon commented on #747
How are you getting along @zfrenchee?

[2018-10-07 14:03] arfon commented on #662
@Schuch666 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-10-07 14:16] danielskatz commented on #981
👋 @adammichaelwood - please let us know how you are getting along on this

[2018-10-07 16:40] georgiosgerasimou commented on #1001
The updated paper.md file has now been uploaded to the repository.

[2018-10-07 17:08] arfon commented on #1001
@whedon generate pdf

[2018-10-07 17:08] whedon commented on #1001
[code]

[2018-10-07 17:09] whedon commented on #1001
PDF failed to compile for issue #1001 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1001/paper/paper.md): mapping values are not allowed in this context at line 13 column 10 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/v

[2018-10-07 17:10] arfon commented on #1001
Looks like it's still broken. You can test changes yourself here @georgiosgerasimou with the command `@whedon generate pdf`

[2018-10-07 17:18] hamedmx commented on #892
@cmccomb I provided the desired community guidelines in README.md file

[2018-10-07 17:51] ziman commented on #1001
@whedon generate pdf

[2018-10-07 17:51] whedon commented on #1001
[code]

[2018-10-07 17:51] whedon commented on #1001
PDF failed to compile for issue #1001 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Matúš Tejiščák (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon

[2018-10-07 17:59] ziman commented on #1001
@whedon generate pdf

[2018-10-07 18:00] whedon commented on #1001
[code]

[2018-10-07 18:00] whedon commented on #1001
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01001/joss.01001/10.21105.joss.01001.pdf)

[2018-10-07 18:29] georgiosgerasimou commented on #1001
@whedon generate pdf

[2018-10-07 18:29] whedon commented on #1001
[code]

[2018-10-07 18:30] whedon commented on #1001
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01001/joss.01001/10.21105.joss.01001.pdf)

[2018-10-07 19:30] cmccomb commented on #892
@hamedmx Thanks for making those changes!
@jasonclark This completes my review!

[2018-10-07 19:31] arokem commented on #897
Thanks for doing that. Would you mind creating a new Zenodo DOI?

[2018-10-07 19:32] arokem commented on #977
@whedon assign @jekbradbury as reviewer

[2018-10-07 19:32] whedon commented on #977
OK, the reviewer is @jekbradbury

[2018-10-07 19:33] arokem commented on #977
@whedon start review

[2018-10-07 19:33] whedon commented on #977
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1002. Feel free to close this issue now!

[2018-10-07 19:33] whedon opened #1002 "[REVIEW]: TensorFlow.jl: An Idiomatic Julia Front End for TensorFlow"
**Submitting author:** @malmaud (<a href="http://orcid.org/0000-0002-5352-2086">Jonathan Matthew Malmaud</a>)
**Repository:** <a href="https://github.com/malmaud/TensorFlow.jl" target ="_blank">https://github.com/malmaud/TensorFlow.jl</a>
**Version:** v0.10.1
**Editor:** @arokem
**Reviewer:** @jekbradbury
**Archive:** <a href="https://doi.org/10.5281/zenodo.1476107" target="_blank">10.5281/zenodo.

[2018-10-07 19:33] whedon commented on #1002
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jekbradbury it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-10-07 19:33] whedon commented on #1002
[code]

[2018-10-07 19:34] whedon commented on #1002
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01002/joss.01002/10.21105.joss.01002.pdf)

[2018-10-07 19:34] arokem commented on #977
@jekbradbury : thanks for agreeing to review this contribution. Please head over to #1002, where you will find your reviewer check-list. I will close this one.

[2018-10-07 19:34] #977 closed

[2018-10-07 19:34] arokem commented on #962
@whedon assign @malmaud as reviewer

[2018-10-07 19:34] whedon commented on #962
OK, the reviewer is @malmaud

[2018-10-07 19:35] arokem commented on #962
@whedon start review

[2018-10-07 19:35] whedon opened #1003 "[REVIEW]: FixedPointFinder: A Tensorflow toolbox for identifying and characterizing fixed points in recurrent neural networks"
**Submitting author:** @mattgolub (<a href="http://orcid.org/0000-0003-4508-0537">Matthew Golub</a>)
**Repository:** <a href="https://github.com/mattgolub/fixed-point-finder" target ="_blank">https://github.com/mattgolub/fixed-point-finder</a>
**Version:** v1.0
**Editor:** @arokem
**Reviewer:** @malmaud
**Archive:** <a href="https://doi.org/10.5281/zenodo.1476209" target="_blank">10.5281/zenodo.14

[2018-10-07 19:35] whedon commented on #962
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1003. Feel free to close this issue now!

[2018-10-07 19:35] whedon commented on #1003
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @malmaud it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-10-07 19:35] whedon commented on #1003
[code]

[2018-10-07 19:35] arokem commented on #962
@malmaud : thanks for agreeing to review this! Please head over to #1003 for your reviewer check list. I'll close this one.

[2018-10-07 19:35] #962 closed

[2018-10-07 19:35] whedon commented on #1003
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01003/joss.01003/10.21105.joss.01003.pdf)

[2018-10-07 19:52] raamana commented on #897
Sure - it is 10.5281/zenodo.1450944

[2018-10-07 21:27] whedon commented on #1000
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01000/joss.01000/10.21105.joss.01000.pdf)

[2018-10-07 21:29] vaishnavtv commented on #1000
@whedon list reviewers

[2018-10-07 21:29] whedon commented on #1000
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-10-07 23:15] karthik commented on #945
@daijiang Still working through declines and also on a bit of travel at the moment. I'll have this squared away soon.

[2018-10-08 00:15] malmaud commented on #1003
Hi @mattgolub, looking forward to reviewing this. Before digging deeper, you seem to be missing these items from the JOSS requirements:

* *Version: Does the release version given match the GitHub release (v1.0)?* - There is no tagged release on the project's Github page (https://github.com/mattgolub/fixed-point-finder/releases)
* *Automated tests: Are there automated tests or manual steps describ

[2018-10-08 00:31] brainstorm commented on #895
@percolator (or one of your students), would you mind helping out reviewing this proteomics/MD software?

[2018-10-08 01:15] whedon opened #1004 "[PRE REVIEW]: Visualizing alpha-helical peptides in R with helixvis"
**Submitting author:** @rrrlw (<a href="http://orcid.org/0000-0003-0503-9580">Raoul R. Wadhwa</a>)
**Repository:** <a href="https://github.com/rrrlw/helixvis" target ="_blank">https://github.com/rrrlw/helixvis</a>
**Version:** v1.0.0
**Editor:** @yochannah
**Reviewers:** @nagoue, @tomsing1

**Author instructions**

Thanks for submitting your paper to JOSS @rrrlw. The JOSS editor (shown at the top

[2018-10-08 01:15] whedon commented on #1004
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yochannah it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-08 01:15] whedon commented on #1004
[code]

[2018-10-08 01:15] arfon commented on #1004
:wave: @yochannah - the submitting author suggested you as the handling editor.

[2018-10-08 01:15] whedon commented on #1004
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01004/joss.01004/10.21105.joss.01004.pdf)

[2018-10-08 01:37] rrrlw commented on #1004
@chasemc, @nagoue, @tomsing1, and @giraola appear to have a biochemistry/biology background as well as experience with R; would any be willing to review?

[2018-10-08 02:37] Schuch666 commented on #662
Hi @arfon

I upload to Zenodo with the following DOI:
10.5281/zenodo.1451027

best regards

[2018-10-08 03:06] tomsing1 commented on #1004
Sure @rrrlw , happy to be a reviewer.

[2018-10-08 05:42] Benjamin-Lee commented on #998
This looks really cool! @arfon I'd be happy to help out in the review of this.

[2018-10-08 08:04] schalkdaniel commented on #967
@brainstorm Sure, the link is https://zenodo.org/record/1451302#.W7sPNXUzan8

[2018-10-08 09:29] georgiosgerasimou commented on #1001
Reviewer suggestions (from the list above): @bovee, @timClicks, @dvberkel, @HaoZeke,

[2018-10-08 09:56] stulacy commented on #893
I've made a new archive with the DOI 10.5281/zenodo.1451474

[2018-10-08 10:32] arfon commented on #662
@nuest - many thanks for your review here ✨

@Schuch666 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00662 :zap: :rocket: :boom:

[2018-10-08 10:32] #662 closed

[2018-10-08 10:32] whedon commented on #662
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00662/status.svg)](https://doi.org/10.21105/joss.00662)

**We need your help!**

Journal of Open Source Softwar

[2018-10-08 10:35] arfon commented on #998
@mgymrek @pjotrp - would either if you be willing to edit this submission for JOSS?

[2018-10-08 10:36] arfon commented on #893
@whedon set 10.5281/zenodo.1451474 as archive

[2018-10-08 10:36] whedon commented on #893
OK. <a href="https://doi.org/10.5281/zenodo.1451474" target="_blank">10.5281/zenodo.1451474</a> is the archive.

[2018-10-08 10:40] arfon commented on #893
@jenniferthompson, @rrrlw - many thanks for your reviews here ✨

@stulacy - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00893 :zap: :rocket: :boom:

[2018-10-08 10:40] #893 closed

[2018-10-08 10:40] whedon commented on #893
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00893/status.svg)](https://doi.org/10.21105/joss.00893)

**We need your help!**

Journal of Open Source Softwar

[2018-10-08 10:42] stulacy commented on #893
Thanks @arfon @jenniferthompson @rrrlw !

[2018-10-08 10:51] fospald commented on #986
@whedon generate pdf

[2018-10-08 10:51] whedon commented on #986
[code]

[2018-10-08 10:52] whedon commented on #986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00986/joss.00986/10.21105.joss.00986.pdf)

[2018-10-08 10:56] fospald commented on #986
@whedon generate pdf

[2018-10-08 10:56] whedon commented on #986
[code]

[2018-10-08 10:56] whedon commented on #986
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00986/joss.00986/10.21105.joss.00986.pdf)

[2018-10-08 10:58] fospald commented on #986
@arfon now I have the paper and license added

[2018-10-08 10:59] fospald commented on #986
@whedon commands

[2018-10-08 10:59] whedon commented on #986
Here are some things you can ask me to do:

[code]

[2018-10-08 11:00] whedon commented on #986
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-10-08 11:27] #138 closed

[2018-10-08 11:28] arfon commented on #143
👋 @benmarwick - was this submission ever accepted into rOpenSci?

[2018-10-08 11:45] arfon commented on #161
:wave: @karthik - I think we might need to find another reviewer here?

[2018-10-08 12:09] tpetricek commented on #836
Hi all, @yochannah asked me to be the second reviewer for this - I'm happy to accept. I'll go ahead and put together a review following the [guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html) in the next few days. Is there anything else that I need to do?

[2018-10-08 12:58] cMadan commented on #999
@whedon assign @cMadan as editor

[2018-10-08 12:58] whedon commented on #999
OK, the editor is @cMadan

[2018-10-08 13:00] cMadan commented on #999
Hi @raphaelvallat! I'm happy to be editor for this submission. It looks like your submission is generally in order, though you can remove the `Citations to entries in paper.bib should be in rMarkdown format.` from the paper.

Do you have any suggestions for reviewers for this submission?

[2018-10-08 14:09] adammichaelwood commented on #981
I've reviewed the literature and browsed the code. I have not had the
space to do the complete install and use it. I should be able to do that
 in the next week.

On Sun, Oct 7, 2018 at 7:16 AM Daniel S. Katz <notifications@github.com>
wrote:

[2018-10-08 14:09] cmendl commented on #948
The raised issues should now be addressed: the package is now actually remodeled into a Python package for easy installation, I've included a short example code section for the TDVP time evolution directly in the ReadMe file, created two tutorials as Jupyter notebooks, and hosted them together with Sphinx API documentation at https://pytenet.readthedocs.io (@jcmgray quimb was really helpful as gui

[2018-10-08 15:43] drvinceknight commented on #904
@whedon generate pdf

[2018-10-08 15:43] whedon commented on #904
[code]

[2018-10-08 15:44] whedon commented on #904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00904/joss.00904/10.21105.joss.00904.pdf)

[2018-10-08 15:48] drvinceknight commented on #904
@whedon generate pdf

[2018-10-08 15:48] whedon commented on #904
[code]

[2018-10-08 15:49] whedon commented on #904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00904/joss.00904/10.21105.joss.00904.pdf)

[2018-10-08 15:50] drvinceknight commented on #904
@whedon generate pdf

[2018-10-08 15:50] whedon commented on #904
[code]

[2018-10-08 15:50] whedon commented on #904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00904/joss.00904/10.21105.joss.00904.pdf)

[2018-10-08 15:53] nhejazi commented on #161
@arfon - thanks for following up on this. If at all possible, it would be best if we could find a new reviewer and finalize this submission within the next few weeks. Since this R package is part of Bioconductor and their next release (on their biannual schedule) is at the end of this month, having the review of this paper completed co-incident with that release would allow interested/prospective

[2018-10-08 15:57] drvinceknight commented on #904
@labarba thank you very much for taking the time to point all those out. I've made all the changes (https://github.com/drvinceknight/Nashpy/commit/67a27f3300c804fa44ee393e7ff447c2bce126a0) and checked the proof. I believe it's all done now :)

[2018-10-08 16:01] percolator commented on #895
What would such a review comprise? Would we run the software, make a
code.review or should we review a paper?

On Mon, Oct 8, 2018 at 2:31 AM Roman Valls Guimera <notifications@github.com>
wrote:

[2018-10-08 16:13] offray commented on #720
I'm waiting any comment from reviewers, I have already asked issued in the source code repository of the project, but after that the review is not advancing any more. How can I help?

[2018-10-08 16:16] hamedmx commented on #892
@arfon I think the review of our submission is complete now

[2018-10-08 16:34] raphaelvallat commented on #999
Hi @cMadan! Thank you for accepting to be the editor!

I just re-generated the PDF without the "Citation" part. I think that these reviewers would be a great fit:
- snastase
- nhejazi
- kellieotto

[2018-10-08 16:35] wino6687 commented on #993
@Chilipp would you be willing to do this review? I noticed you have experience working with climate data, and possibly remotely sensed stuff. Maybe this would be a good fit? Thanks!

[2018-10-08 16:56] labarba commented on #904
I bring you more editorial fixes!

Page 1, par. 2: comma before “which”
par. 3 “For example A_21” …add comma. “Using Nashpy the equilibrium” …add comma.
Statement of Need: “an example of this includes” >> “an example is”
Page 2.
Ref to Jones, Oliphant et al. appears with years marked as 2001–2001– … can you fix this?
On the same line, remove spaces before and after the em-dashes (that’s the norm).

[2018-10-08 18:40] mgckind commented on #994
@sahandha , here is the pre-review issue

[2018-10-08 19:10] mgckind commented on #994
@whedon generate pdf

[2018-10-08 19:10] whedon commented on #994
[code]

[2018-10-08 19:11] whedon commented on #994
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00994/joss.00994/10.21105.joss.00994.pdf)

[2018-10-08 19:43] vaishnavtv commented on #1000
In my submission, I suggested that @labarba be assigned as an editor, due to her experience with fluid dynamics. Was there a problem with that?

[2018-10-08 19:55] yochannah commented on #836
Hey @tpetricek and thanks for volunteering to review! I'll kick the review process off now.

[2018-10-08 20:00] yochannah commented on #836
@whedon assign @adammichaelwood as reviewer

[2018-10-08 20:00] whedon commented on #836
OK, the reviewer is @adammichaelwood

[2018-10-08 20:01] yochannah commented on #836
@whedon add @tpetricek as reviewer

[2018-10-08 20:01] whedon commented on #836
OK, @tpetricek is now a reviewer

[2018-10-08 20:03] yochannah commented on #836
@whedon start review

[2018-10-08 20:03] whedon opened #1005 "[REVIEW]: Lepton"
**Submitting author:** @slithiaote (<a href="http://orcid.org/0000-0002-4977-4969">Sébastien Li-Thiao-Té</a>)
**Repository:** <a href="https://github.com/slithiaote/lepton" target ="_blank">https://github.com/slithiaote/lepton</a>
**Version:** v1.2
**Editor:** @kyleniemeyer
**Reviewers:** @tpetricek, @rljacobson
**Archive:** <a href="https://doi.org/10.5281/zenodo.3492221" target="_blank">10.5281/

[2018-10-08 20:03] whedon commented on #836
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1005. Feel free to close this issue now!

[2018-10-08 20:03] whedon commented on #1005
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adammichaelwood, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2018-10-08 20:03] whedon commented on #1005
[code]

[2018-10-08 20:04] whedon commented on #1005
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01005/joss.01005/10.21105.joss.01005.pdf)

[2018-10-08 20:05] yochannah commented on #836
Okies - @adammichaelwood @tpetricek, you can start the review over in #1005. @slithiaote thanks for your patience while we were finding reviewers!

[2018-10-08 20:05] #836 closed

[2018-10-08 20:28] yochannah commented on #934
Quick status check on this paper... How is everyone getting on?

[2018-10-08 20:32] arfon commented on #1000
No, that should be OK I think. @labarba - would you be able to handle this submission for JOSS?

[2018-10-08 20:39] yochannah commented on #961
Quick status check - looking at the original repo, issues [18](https://github.com/MI2DataLab/survxai/issues/18) to [21[(https://github.com/MI2DataLab/survxai/issues/21) need to be addressed before we can take this one forward, right?

[2018-10-08 20:47] dirmeier commented on #961
Yeah, exactly.  From my side these two and [20](https://github.com/MI2DataLab/survxai/issues/20). All of them are minor changes.

[2018-10-08 20:48] yochannah commented on #950
Hey @ChrisJefferson! Quick status check - have you had any chance to check the paper? 😄

[2018-10-08 20:50] yochannah commented on #976
Quick update - I sent some mails out to look for reviewers but haven't had any responses yet.

[2018-10-08 20:59] labarba commented on #1000
I'm a little worried that this software lists as a dependency the Matlab Optimization Toolbox, which is an additional thousand bucks over Matlab. How am I going to find reviewers for such a thing?

[2018-10-08 22:56] rrrlw commented on #1004
Great, thank you @tomsing1! @yochannah how many reviewers are aiming for?

[2018-10-08 23:08] giraola commented on #1004
Thanks, but I am declining this time. I have no experience with structural
biology.

El lun., 8 oct. 2018 a las 19:56, Raoul W. (<notifications@github.com>)
escribió:

--
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/
*Gregorio Iraola, Ph.D.*
Associate Researcher
Bioinformatics Unit
Institut Pasteur de Montevideo
/-/-/-/-/-/-/-/-/-/-/-/-/-/-/

[2018-10-08 23:08] kthyng commented on #964
Ok thanks @kbarnhart, just wanted to be sure.

@arfon This paper has been accepted by the reviewers (@kbarnhart and @sgrieve)!!!! Ready for publication!!

[2018-10-08 23:11] kthyng commented on #964
@tristan-salles Please create an archive (on Zenodo, figshare, or other) and post the archive DOI in this issue.

[2018-10-08 23:17] kthyng commented on #992
Excellent @JesperDramsch and @WalBytes!

Nice work @whimian! Please create an archive (on Zenodo, figshare, or other) and post the archive DOI in this issue.

[2018-10-08 23:31] hiendn commented on #961
@yochannah that's correct, resolving [22](https://github.com/MI2DataLab/survxai/issues/22) would be good as well, if possible.

[2018-10-08 23:43] tristan-salles commented on #964
Hi @kthyng here is the zenodo archive:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1419844.svg)](https://doi.org/10.5281/zenodo.1419844)

DOI: 10.5281/zenodo.1419844

[2018-10-08 23:55] kthyng commented on #964
@whedon set 10.5281/zenodo.1419844 as archive

[2018-10-08 23:55] whedon commented on #964
OK. <a href="https://doi.org/10.5281/zenodo.1419844" target="_blank">10.5281/zenodo.1419844</a> is the archive.

[2018-10-08 23:55] kthyng commented on #964
Thanks @tristan-salles!

[2018-10-09 00:29] arfon commented on #964
@sgrieve, @kbarnhart - many thanks for your reviews here and to @kthyng for editing this submission ✨

@tristan-salles - your paper is now accepted into JOSS and your DOI is  https://doi.org/10.21105/joss.00964 :zap: :rocket: :boom:

[2018-10-09 00:29] #964 closed

[2018-10-09 00:29] whedon commented on #964
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00964/status.svg)](https://doi.org/10.21105/joss.00964)

**We need your help!**

Journal of Open Source Softwar

[2018-10-09 00:31] brainstorm commented on #895
@percolator Actually both, but it usually doesn't take more than 30 minutes to wrap it all up, see:

https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The code review is mostly due diligence with unit testing, nothing like a deep full code audit.

Here you have an example checklist on what you should expect from the review:

https://github.com/openjournals/joss-reviews/issues/967

Ho

[2018-10-09 00:41] brainstorm commented on #967
@whedon set 10.2402/compboost.0.1.0 as archive

[2018-10-09 00:41] whedon commented on #967
OK. <a href="https://doi.org/10.2402/compboost.0.1.0" target="_blank">10.2402/compboost.0.1.0</a> is the archive.

[2018-10-09 00:42] brainstorm commented on #967
@whedon set https://doi.org/10.2402/compboost.0.1.0 as archive

[2018-10-09 00:42] whedon commented on #967
OK. <a href="https://doi.org/10.2402/compboost.0.1.0" target="_blank">10.2402/compboost.0.1.0</a> is the archive.

[2018-10-09 02:11] nhejazi commented on #161
@arfon -- based on a look through the list -- perhaps one of @road2stat, @malcolmbarrett, @mschubert, or @tgerke might be interested in and have time to complete this review soon?

[2018-10-09 02:59] whimian commented on #992
@JesperDramsch and @WalBytes Many thanks for the review!

[2018-10-09 03:00] whimian commented on #992
@kthyng  Thank you for all your assistance.

DOI for the latest release is 10.5281/zenodo.1452001

[2018-10-09 03:30] ctdegroot commented on #1000
I have access to academic licenses for Matlab and the Optimization Toolbox. I would be able to do the review.

[2018-10-09 03:34] ctdegroot commented on #820
@arfon - since we haven’t heard anything from @kyleniemeyer in a couple of months, I’m wondering what the next steps in the process are?

[2018-10-09 03:35] vaishnavtv commented on #1000
Perfect! Thank you!

[2018-10-09 03:37] moorepants commented on #1000
I'm sorry I do not have access to Matlab. If it runs in Octave I can review.

[2018-10-09 03:53] kyleniemeyer commented on #820
@arfon @ctdegroot sorry for my lack of response. I will complete my review by the end of the week.

[2018-10-09 03:57] ctdegroot commented on #820
@kyleniemeyer - Great! Thanks for your quick reply!

[2018-10-09 03:57] vaishnavtv commented on #1000
Would one reviewer be sufficient? @labarba

[2018-10-09 04:31] arokem commented on #897
@whedon set 10.5281/zenodo.1450944 as archive

[2018-10-09 04:31] whedon commented on #897
OK. <a href="https://doi.org/10.5281/zenodo.1450944" target="_blank">10.5281/zenodo.1450944</a> is the archive.

[2018-10-09 04:31] arokem commented on #897
@arfon : I believe that this paper is ready to be accepted!

[2018-10-09 04:36] jedbrown commented on #968
@whedon add @sriharikrishna as reviewer

[2018-10-09 04:36] whedon commented on #968
OK, @sriharikrishna is now a reviewer

[2018-10-09 06:19] nagoue commented on #1004
Hi, I will be happy to review it too.

Le lun. 8 oct. 2018 à 03:37, Raoul W. <notifications@github.com> a écrit :

[2018-10-09 06:29] drvinceknight commented on #904
@whedon generate pdf

[2018-10-09 06:29] whedon commented on #904
[code]

[2018-10-09 06:31] drvinceknight commented on #904
@whedon generate pdf

[2018-10-09 06:31] whedon commented on #904
[code]

[2018-10-09 06:32] whedon commented on #904
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00904/joss.00904/10.21105.joss.00904.pdf)

[2018-10-09 06:35] drvinceknight commented on #904
Thanks again @labarba, I believe https://github.com/drvinceknight/Nashpy/commit/af30119a129995a66f2c7ef1ee9bf3d1ef1e4ce8 gets all these. If there's anything else let me know.

I appreciate you taking the time. :)

[2018-10-09 06:55] pjotrp commented on #998
@whedon assign @pjotrp as editor

[2018-10-09 06:55] whedon commented on #998
OK, the editor is @pjotrp

[2018-10-09 06:55] pjotrp commented on #998
@whedon assign @Benjamin-Lee as reviewer

[2018-10-09 06:56] whedon commented on #998
OK, the reviewer is @Benjamin-Lee

[2018-10-09 06:56] pjotrp commented on #998
@whedon start review magic-word=bananas

[2018-10-09 06:56] whedon commented on #998
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1006. Feel free to close this issue now!

[2018-10-09 06:56] whedon opened #1006 "[REVIEW]: SeqTools: A python package for easy transformation, combination and evaluation of large datasets"
**Submitting author:** @nlgranger (<a href="http://orcid.org/0000-0003-2943-9888">Nicolas Granger</a>)
**Repository:** <a href="https://github.com/nlgranger/SeqTools" target ="_blank">https://github.com/nlgranger/SeqTools</a>
**Version:** v0.9.0
**Editor:** @pjotrp
**Reviewer:** @Benjamin-Lee
**Archive:** <a href="https://doi.org/10.5281/zenodo.1472094" target="_blank">10.5281/zenodo.1472094</a>

[2018-10-09 06:56] whedon commented on #1006
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Benjamin-Lee it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2018-10-09 06:56] whedon commented on #1006
[code]

[2018-10-09 06:56] whedon commented on #1006
PDF failed to compile for issue #1006 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbd

[2018-10-09 06:56] pjotrp commented on #998
@whedon generate pdf

[2018-10-09 06:56] whedon commented on #998
[code]

[2018-10-09 06:56] whedon commented on #998
PDF failed to compile for issue #998 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd

[2018-10-09 06:58] pjotrp commented on #998
@nlgranger please fix the PDF. You can generate it yourself with `@whedon generate pdf'

[2018-10-09 09:30] arfon commented on #967
@schalkdaniel  - it doesn't look like `https://doi.org/10.2402/compboost.0.1.0` resolves yet?

[2018-10-09 09:31] nlgranger commented on #998
@whedon generate pdf

[2018-10-09 09:31] whedon commented on #998
[code]

[2018-10-09 09:31] whedon commented on #998
PDF failed to compile for issue #998 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:91:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Mounîm A. El Yacoubi (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-dbdd2bfb2d31/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/w

[2018-10-09 09:33] arfon commented on #161
@road2stat, @malcolmbarrett - would either of you be willing/able to complete the review of this package for us? @gavinsimpson has made a great start but we could do with some assistance to get across the line here.

Basically we'd be asking you to work through the checklist at the top of this issue and posting your feedback into this review thread.

Thanks in advance for considering!

[2018-10-09 09:36] arfon commented on #897
@miykael - many thanks for your review here and to @arokem for editing this submission ✨

@raamana - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00897 :zap: :rocket: :boom:

[2018-10-09 09:36] #897 closed

[2018-10-09 09:36] whedon commented on #897
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00897/status.svg)](https://doi.org/10.21105/joss.00897)

**We need your help!**

Journal of Open Source Softwar

[2018-10-09 09:38] nlgranger commented on #998
@whedon generate pdf

[2018-10-09 09:38] whedon commented on #998
[code]

[2018-10-09 09:38] whedon commented on #998
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00998/joss.00998/10.21105.joss.00998.pdf)

[2018-10-09 09:39] #998 closed

[2018-10-09 09:43] whedon commented on #1006
[code]

[2018-10-09 09:44] whedon commented on #1006
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01006/joss.01006/10.21105.joss.01006.pdf)

[2018-10-09 09:44] pjotrp commented on #1006
@nlgranger to expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2018-10-09 10:09] drvinceknight commented on #981
@AlexPof I have opened https://github.com/AlexPof/opycleid/issues/1 with some initial queries/suggestions. :) :+1:

[2018-10-09 10:58] labarba commented on #904
OK! Go ahead and make a deposit on Zenodo now (or your favorite archival repository) and do post the DOI here.

[2018-10-09 10:59] rrrlw commented on #1004
Thank you, @nagoue!

[2018-10-09 11:18] brainstorm commented on #895
Alright, fantastic, thanks Lukas (and Gustavo).

@whedon assign @gjeuken as reviewer

[2018-10-09 11:29] labarba commented on #1000
@whedon assign @labarba as editor

[2018-10-09 11:29] whedon commented on #1000
OK, the editor is @labarba

[2018-10-09 11:39] brainstorm commented on #895
@whedon assign @gjeuken as reviewer

[2018-10-09 11:39] whedon commented on #895
OK, the reviewer is @gjeuken

[2018-10-09 11:41] brainstorm commented on #895
@whedon start review magic-word=bananas

[2018-10-09 11:41] whedon opened #1007 "[REVIEW]: idpflex: Analysis of Intrinsically Disordered Proteins by Comparing Simulations to Small Angle Scattering Experiments"
**Submitting author:** @jmborr (<a href="http://orcid.org/0000-0002-0866-8158">Jose M. Borreguero</a>)
**Repository:** <a href="https://github.com/jmborr/idpflex.git" target ="_blank">https://github.com/jmborr/idpflex.git</a>
**Version:** 0.1.7
**Editor:** @brainstorm
**Reviewer:** @gjeuken
**Archive:** <a href="https://doi.org/10.5281/zenodo.2179293" target="_blank">10.5281/zenodo.2179293</a>

##

[2018-10-09 11:41] whedon commented on #1007
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gjeuken it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-10-09 11:41] whedon commented on #1007
[code]

[2018-10-09 11:41] #895 closed

[2018-10-09 11:41] whedon commented on #1007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01007/joss.01007/10.21105.joss.01007.pdf)

[2018-10-09 12:44] pjotrp commented on #1006
Thanks! You can bump before final publishing.

@Benjamin-Lee you can start review. Please read the reviewer guidelines above

[2018-10-09 12:46] HaoZeke commented on #1001
I would be glad to look this over.

[2018-10-09 13:42] kthyng commented on #992
@whedon set 10.5281/zenodo.1452001 as archive

[2018-10-09 13:42] whedon commented on #992
OK. <a href="https://doi.org/10.5281/zenodo.1452001" target="_blank">10.5281/zenodo.1452001</a> is the archive.

[2018-10-09 13:42] kthyng commented on #992
hey @arfon we have another accepted paper here!!

[2018-10-09 14:04] jmborr commented on #895
@whedon Thanks a lot for reviewing the package!  😄

[2018-10-09 14:17] mgckind commented on #997
Thanks @arfon , it seems that @ygrange, @wtgee, @benjaminrose or @ngoldbaum might be good candidates for the review.

[2018-10-09 14:21] seandenigris commented on #720
Sorry, here is an issue with several hiccups in the installation process: http://mutabit.com/repos.fossil/grafoscopio/tktview/034355733a92437ab8a25a936bc8a003127f944a

[2018-10-09 14:36] arfon commented on #992
@WalBytes, @JesperDramsch - many thanks for your reviews here and to @kthyng for editing this submission ✨

@whimian - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00992 :zap: :rocket: :boom:

[2018-10-09 14:36] #992 closed

[2018-10-09 14:36] whedon commented on #992
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00992/status.svg)](https://doi.org/10.21105/joss.00992)

**We need your help!**

Journal of Open Source Softwar

[2018-10-09 15:18] ngoldbaum commented on #997
Thanks for the ping, I'd love to do this but unfortunately I think I can't review since I'm also employed by NCSA, at least according to [the COI policy](https://github.com/openjournals/joss/blob/master/COI.md).

[2018-10-09 15:18] offray commented on #720
Thanks Sean. I will be dealing with this installation issues on this weekend. Now I'm finishing a writing with a close deadline.

[2018-10-09 15:19] road2stat commented on #161
@arfon -sorry I'm not an expert in multiple testing or the S4 classes the package builds on. Maybe next time!

[2018-10-09 16:16] jnese commented on #978
Ok, my review is complete.

[2018-10-09 16:36] wino6687 commented on #993
Hi @krischer, @usethedata, your backgrounds seems well suited for reviewing this library/paper. Do either of you have time to do this review? Thanks!

[2018-10-09 17:07] sahandha commented on #994
@whedon list editors

[2018-10-09 17:07] whedon commented on #994
Current editors:

[code]

[2018-10-09 17:09] sahandha commented on #994
@whedon list reviewers

[2018-10-09 17:09] whedon commented on #994
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-10-09 17:11] sahandha commented on #994
Perhaps @arfon, @danielskatz, or @labarba could be editors.

[2018-10-09 17:13] karthik commented on #161
@arfon @nhejazi I will try to locate another reviewer asap.

[2018-10-09 17:14] karthik commented on #161
I've dashed off a couple of requests. Will update thread in a day or two.

[2018-10-09 17:45] DiegoKoz commented on #926
Hi @pachamaltese, while looking for a second reviewer, let me make some comments about documentation.

It would be nice that the vignette does more than creating the dataset. It's great that you include the dataset from Head and Mayer, It would be fantastic if you make a vignette where you use it for the different functions, and which are the advantages from each way of estimating the gravity mode

[2018-10-09 18:02] pachamaltese commented on #926
thanks a lot @DiegoKoz
of course I'm expanding the vignettes