[2020-09-12 19:39] #2612 closed

[2020-09-12 19:39] whedon commented on #2669
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @samhforbes, @paxtonfitzpatrick it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2020-09-12 19:40] whedon commented on #2669
[code]

[2020-09-12 19:40] whedon commented on #2669
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02669/joss.02669/10.21105.joss.02669.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02669/joss.02669/10.21105.joss.02669.pdf) :page_facing_up: :point_left:

[2020-09-12 19:53] leouieda commented on #2236
Thanks @ThomasLecocq! I’ll assign you to the review as well.

@lheagy thank you for the suggestion! I’ll ask there and see if I can get a third reviewer from outside seismology to comment on the integration. If not, then I’ll proceed with two reviewers.

[2020-09-12 20:03] sritchie commented on #2403
- [x]  Make a tagged release of your software, and list the version tag of the archived version here: 0.4.1, https://github.com/google/caliban/releases/tag/0.4.1
- [x]  Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository): [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.4026612.svg)](https://doi.org/10.5281/zenodo.4026612)
- [x]  Check the

[2020-09-12 20:28] oliviaguest commented on #2667
I'm hoping @danielskatz can give his opinion on the above (https://github.com/openjournals/joss-reviews/issues/2667#issuecomment-691519629), as I have no idea — sorry!

[2020-09-12 20:29] oliviaguest commented on #2667
@whedon add @pauldmccarthy as reviewer

[2020-09-12 20:29] whedon commented on #2667
OK, @pauldmccarthy is now a reviewer

[2020-09-12 20:54] danielskatz commented on #2667
I know we've had this issue before and @arfon provided an answer

[2020-09-12 22:21] Himscipy commented on #2444
👋  @berenger-eu, Thank you for fixing the issue I was able to use the library and the functionality. Although I don't find the TOC in the git repo, which I am able to see on the gitlab.inria.fr so please check.

Thank you @danielskatz for providing the opportunity to review the work, I am done with my review.

Regards,
Himanshu Sharma

[2020-09-12 22:50] pibion commented on #2602
@whedon add @aquilesC as reviewer

[2020-09-12 22:50] whedon commented on #2602
OK, @aquilesC is now a reviewer

[2020-09-12 22:51] pibion commented on #2602
@whedon add @caldarolamartin as reviewer

[2020-09-12 22:51] whedon commented on #2602
OK, @caldarolamartin is now a reviewer

[2020-09-12 22:52] pibion commented on #2602
Excellent @caldarolamartin , @aquilesC , I've added you as reviewers!  We need one more reviewer for this paper and then I'll begin the review.  Once that happens, a new "review" issue will be opened and you'll both get a checklist in the issue.  The review process will involve everyone going through their review checklists.

[2020-09-12 22:54] pibion commented on #2617
@whedon add @sigven as reviewer

[2020-09-12 22:54] whedon commented on #2617
OK, @sigven is now a reviewer

[2020-09-12 22:54] pibion commented on #2617
@sigven, that's great news, thank you! Once we have one more reviewer I'll start the review and a new thread with reviewer instructions at the top will get opened up.

[2020-09-13 00:44] joglekara commented on #2182
Okay, tagged a release.

Version Number: `VlaPy v0.1`
DOI: `10.5281/zenodo.4026770`

[2020-09-13 01:34] blakeaw commented on #2436
Hi @pdebuyl, I've completed my Review Checklist.

[2020-09-13 01:54] diehlpk commented on #2403
@whedon set 0.4.1 as version

[2020-09-13 01:54] whedon commented on #2403
OK. 0.4.1 is the version.

[2020-09-13 01:55] diehlpk commented on #2403
@whedon set  10.5281/zenodo.4026612 as archive

[2020-09-13 01:56] whedon commented on #2403
OK. <a href="https://doi.org/10.5281/zenodo.4026612" target="_blank">10.5281/zenodo.4026612</a> is the archive.

[2020-09-13 01:56] diehlpk commented on #2403
@whedon check references

[2020-09-13 01:57] whedon commented on #2403
[code]

[2020-09-13 08:01] oliviaguest commented on #2667
@whedon start review

[2020-09-13 08:01] whedon opened #2670 "[REVIEW]: Reorient: A Web tool for reorienting and cropping MRI data."
**Submitting author:** @katjaq (<a href="http://orcid.org/0000-0002-7237-0196">Katja Heuer</a>)
**Repository:** <a href="https://github.com/neuroanatomy/reorient" target ="_blank">https://github.com/neuroanatomy/reorient</a>
**Version:** v1.0.0
**Editor:** @oliviaguest
**Reviewer:** @sneakers-the-rat, @pauldmccarthy
**Archive:** <a href="https://doi.org/10.5281/zenodo.4165153" target="_blank">10.5

[2020-09-13 08:01] whedon commented on #2667
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2670.

[2020-09-13 08:01] #2667 closed

[2020-09-13 08:02] whedon commented on #2670
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sneakers-the-rat, @pauldmccarthy it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2020-09-13 08:02] whedon commented on #2670
PDF failed to compile for issue #2670 with the following error:

 Can't find any papers to compile :-(

[2020-09-13 08:04] oliviaguest commented on #2670
Hi all! 👋 Thank you so much, @sneakers-the-rat, @pauldmccarthy for accepting to review this. Please read the instructions above. Any questions, feedback on the paper, etc., please post here. Any very code-specific questions, suggestions, etc., please use the issues in the code repo and link to them from this thread so we can all keep track of them. 🌸

For an example of how this process plays out f

[2020-09-13 08:05] oliviaguest commented on #2670
@whedon generate pdf from branch joss-paper-branch

[2020-09-13 08:05] whedon commented on #2670
[code]

[2020-09-13 08:06] whedon commented on #2670
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02670/joss.02670/10.21105.joss.02670.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02670/joss.02670/10.21105.joss.02670.pdf) :page_facing_up: :point_left:

[2020-09-13 10:47] vitay commented on #2668
@adamltyson just a small comment on the paper: the Winnubst et al. 2019 reference could use a doi.

[2020-09-13 10:54] Datseris commented on #2456
Hello,

I'd like to suggest a reviewer for our paper: James Fairbanks, PhD ( @jpfairbanks ) is familiar with the Julia language, is already familiar with various software for scientific assistanship, and is unaffiliated with DrWatson.

@dpsanders could you please consider him as a reviewer and possibly start the review process? I am meanwhile searching for a second reviewer as well.

best,
George

[2020-09-13 11:31] arfon commented on #2667
I'm afraid our LaTeX template doesn't support denoting more than one author as a corresponding author so I'd suggest not using the footnotes like this for this case.

[2020-09-13 12:23] marouenbg commented on #2644
@whedon generate pdf

[2020-09-13 12:24] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-13 13:32] shreyasbapat commented on #2662
Thanks, I will now move forward with the review.

[2020-09-13 13:40] bluescarni commented on #2338
@whedon generate pdf

[2020-09-13 13:41] whedon commented on #2338
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02338/joss.02338/10.21105.joss.02338.pdf) :page_facing_up: :point_left:

[2020-09-13 13:41] bluescarni commented on #2338
@whedon check references

[2020-09-13 13:42] whedon commented on #2338
[code]

[2020-09-13 13:43] bluescarni commented on #2338
@whedon generate pdf

[2020-09-13 13:44] whedon commented on #2338
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02338/joss.02338/10.21105.joss.02338.pdf) :page_facing_up: :point_left:

[2020-09-13 13:44] bluescarni commented on #2338
@whedon check references

[2020-09-13 13:44] whedon commented on #2338
[code]

[2020-09-13 13:47] bluescarni commented on #2338
@eloisabentivegna @dgoldri25 @jangmys Thanks for the review and all the help!

@danielskatz Thanks for the review, I updated the paper with your corrections/suggestions. Regarding the missing links for the Jakob and Johnson references, I have used the bibtex entries suggested in the documentation of those software projects. Perhaps those entries don't play well with JOSS's bib style?

[2020-09-13 13:53] yguitton commented on #2617
Hi,

 I'm not a MALDI expert, si i will wait for an other opportunity to review
an other paper.

Regards

Le jeu. 10 sept. 2020 20:02, pibion <notifications@github.com> a écrit :

[2020-09-13 14:08] srmnitc commented on #2563
Hi @ml-evs, I have finished my first round of review. Overall, matador looks quite nice and the documentation looks very good. Thanks! I only have minor points that I have raised on the repo. The major one is just with the jupyter notebooks as a lot of them seem to not run on a binder instance. I would not say this would prevent me from checking the examples section on the checklist, but I think i

[2020-09-13 14:14] skadio commented on #2408
Let me follow-up on the status submission; what are the next steps to make this work to cross the finish line? The work & review seem almost complete but I am not sure how to finalize this.

@Kuifje02 my last question about the submission is about the "Community Guidelines". Please see the open review item and let us know your thoughts.

@bstabler I see that you completed most of the review checkl

[2020-09-13 14:27] katyhuff commented on #2435
@whedon check references

[2020-09-13 14:28] whedon commented on #2435
[code]

[2020-09-13 14:34] diehlpk commented on #2403
@whedon generate pdf

[2020-09-13 14:35] whedon commented on #2403
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: :point_left:

[2020-09-13 14:36] katyhuff commented on #2435
@dhhagan I have had a chance to review and I'm willing to accept, though I still have one concern:

Most of my comments were either optional or were handled by the authors. My concern about functionality was primarily regarding the clarity of examples and clarity of the functional claims in the paper. I made a comment previously that the functional claims of the software should be made more clear

[2020-09-13 14:45] diehlpk commented on #2403
Hi, @sritchie please check the final paper, before I accept it and publish it.

[2020-09-13 15:05] oliviaguest commented on #2668
@whedon check references

[2020-09-13 15:08] oliviaguest commented on #2668
@whedon check references

[2020-09-13 15:08] oliviaguest commented on #2668
@whedon generate pdf from branch joss

[2020-09-13 15:08] whedon commented on #2668
[code]

[2020-09-13 15:10] whedon commented on #2668
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02668/joss.02668/10.21105.joss.02668.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02668/joss.02668/10.21105.joss.02668.pdf) :page_facing_up: :point_left:

[2020-09-13 15:10] oliviaguest commented on #2668
@openjournals/dev why is the check references command not working? Is it related to the fact it's on a custom branch?

[2020-09-13 15:14] danielskatz commented on #2668
@whedon check references from branch joss

[2020-09-13 15:14] whedon commented on #2668
[code]

[2020-09-13 15:15] whedon commented on #2668
[code]

[2020-09-13 16:08] danielskatz commented on #2338
Unfortunately, bibtex entries are often built for particular style, and don't work for other style.  I think, rather than putting URLs in a note field, you should put them in a url field (going from https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)  Can you try this?

[2020-09-13 16:55] fboehm commented on #2521
@whedon check references

[2020-09-13 16:55] whedon commented on #2521
[code]

[2020-09-13 16:56] fboehm commented on #2521
@whedon generate pdf

[2020-09-13 16:58] whedon commented on #2521
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02521/joss.02521/10.21105.joss.02521.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02521/joss.02521/10.21105.joss.02521.pdf) :page_facing_up: :point_left:

[2020-09-13 18:03] r-barnes commented on #2276
@KevinShook: I'd recommend `cmake` as a better option than a makefile ([example here](https://github.com/r-barnes/Barnes2020-FillSpillMerge/blob/master/CMakeLists.txt)). If you'd like help getting one setup, I'm happy to help.

[2020-09-13 18:04] r-barnes commented on #2575
Just checking in to see if I should start on my review.

[2020-09-13 18:20] FedeClaudi commented on #2668
Hi @vitay  I've added the DOI:  https://github.com/brainglobe/bg-atlasapi/commit/dbe6a38ab3a8d692cfd16f74c88e086347fee1d2, thank you for pointing that out.

[2020-09-13 18:27] dfm commented on #2582
@sultanier: I just wanted to ping you to make sure that this is still on your radar. Let me know if you have any questions as you go through the checklist!

[2020-09-13 19:05] bluescarni commented on #2338
@whedon generate pdf

[2020-09-13 19:06] whedon commented on #2338
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02338/joss.02338/10.21105.joss.02338.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02338/joss.02338/10.21105.joss.02338.pdf) :page_facing_up: :point_left:

[2020-09-13 19:07] bluescarni commented on #2338
@whedon check references

[2020-09-13 19:08] whedon commented on #2338
[code]

[2020-09-13 19:08] bluescarni commented on #2338
@danielskatz Cheers for the suggestion, it seems like now the URLs are showing up in the bibliography.

[2020-09-13 19:11] danielskatz commented on #2338
@whedon accept

[2020-09-13 19:11] whedon commented on #2338
[code]

[2020-09-13 19:12] whedon commented on #2338
[code]

[2020-09-13 19:12] whedon commented on #2338
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1725

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1725, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-13 19:15] danielskatz commented on #2338
@whedon accept deposit=true

[2020-09-13 19:15] whedon commented on #2338
[code]

[2020-09-13 19:17] whedon commented on #2338
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1305224053830160387) 👈 🐦🐦🐦

[2020-09-13 19:17] whedon commented on #2338
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1726
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02338](https://doi.org/10.21105/joss.02338)
2. If everything looks g

[2020-09-13 19:21] danielskatz commented on #2338
Congratulations to @bluescarni (Francesco Biscani) and co-author!!

Thanks to @dgoldri25 & @jangmys for reviewing, and @eloisabentivegna for editing!

[2020-09-13 19:21] whedon commented on #2338
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02338/status.svg)](https://doi.org/10.21105/joss.02338)

**We need your help!**

Journal of Open Source Softwa

[2020-09-13 19:36] mikldk commented on #2583
I have sent @sahilseth an email asking for status.

[2020-09-13 19:39] bluescarni commented on #2338
@danielskatz @eloisabentivegna @dgoldri25 @jangmys great to hear, and thank you all!

[2020-09-13 20:03] KevinShook commented on #2276
Thanks very much. We are planning on going with cmake as was recommended by one of the developers.

[2020-09-13 20:21] sultanier commented on #2582
thanks @dfm will do this asap.

[2020-09-13 20:30] rcarragh commented on #2659
@whedon generate pdf

[2020-09-13 20:31] whedon commented on #2659
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02659/joss.02659/10.21105.joss.02659.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02659/joss.02659/10.21105.joss.02659.pdf) :page_facing_up: :point_left:

[2020-09-13 22:07] andybond13 commented on #2496
Hello @diehlpk , I have completed my review. I apologize for the delayed completion!

I am not comfortable accepting the submission at this point, primarily due to the lack of broad applicability. The submission implicitly contains many limiting assumptions which would prevent adoption of the submitted code outside of the author’s group, let alone to professional bridge engineers. Hence, my recomm

[2020-09-13 22:16] artgoldberg commented on #2656
@whedon check references

[2020-09-13 22:17] whedon commented on #2656
[code]

[2020-09-13 22:19] artgoldberg commented on #2656
@whedon generate pdf

[2020-09-13 22:20] whedon commented on #2656
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02656/joss.02656/10.21105.joss.02656.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02656/joss.02656/10.21105.joss.02656.pdf) :page_facing_up: :point_left:

[2020-09-13 22:25] barischrooneyj commented on #2496
@andybond13 Thank you for a very informative review! I will work through it, it might take 6-12 months since A I am not working on this project full time and B additional functionality will be added to bridge-sim. However it will get done. Thanks again :smile:

[2020-09-13 22:28] Grant-Giesbrecht commented on #2661
We're using this software in two different projects run by our research group. One project, ROOTS, uses hardware-control to interface with data acquisition modules and power supplies for a neutron-based measurement of carbon content in soil. The other project uses hardware-control to automate instrumentation used to run our compact RF particle accelerator. As for what type of research our software

[2020-09-13 22:29] Grant-Giesbrecht commented on #2661
I also added a brief description of these applications to the paper.

[2020-09-13 22:34] artgoldberg commented on #2656
Hello @openjournals/joss-eics

I have fixed the missing and invalid DOIs, and a few problems with capitalization in the titles of references.

I believe that all of the issues Daniel S Katz raised have been addressed.

Thanks
Arthur

[2020-09-13 23:10] danielskatz commented on #2656
The paper is still quite long, compared to the JOSS recommendation of 250-1000 words.  I suggest removing the case study and most of the availability section, and just pointing to the documentation and repository instead.

[2020-09-13 23:11] danielskatz commented on #2656
@whedon assign me as editor

[2020-09-13 23:11] whedon commented on #2656
OK, the editor is @danielskatz

[2020-09-13 23:13] danielskatz commented on #2661
@whedon generate pdf

(@Grant-Giesbrecht - note that you can do this too if you make changes - whedon commands need to be at the start of a comment)

[2020-09-13 23:13] whedon commented on #2661
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02661/joss.02661/10.21105.joss.02661.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02661/joss.02661/10.21105.joss.02661.pdf) :page_facing_up: :point_left:

[2020-09-13 23:14] andybond13 commented on #2496
@barischrooneyj @diehlpk
No problem! The problem that this software is trying to address is challenging and has great relevance, and I commend Jeremy for attempting to tackle it. I would be willing to review the work again in the future, if desired by the editor and/or author.

[2020-09-13 23:18] danielskatz commented on #2661
👋 @timtroendle - I wonder if this might be a good first submission for you to edit? Perhaps you can check with your onboarding buddy

[2020-09-13 23:18] danielskatz commented on #2661
@whedon invite @timtroendle as editor

[2020-09-13 23:18] whedon commented on #2661
@timtroendle has been invited to edit this submission.

[2020-09-14 00:31] diehlpk commented on #2496
Hi, @andybond13 thanks for the intense review. I agree that the paper/code is not ready for submission yet.

I will pause the review for now and once @barischrooneyj finished the major revision, I will open it again. @barischrooneyj just ping me here once you have the revision done. In addition, please respond to all of the reviewer comments.

 I am looking forward to your revision.

[2020-09-14 01:22] alexssandrofc commented on #2605
@gdede-hua as I checked your paper.md, I believe the error might be on this line:

-> [User Answer Example 4.\label{fig:user_answer4](screenshots/user_answer4.png)

"}" is missing to close the (\label).

[2020-09-14 01:52] gkthiruvathukal commented on #2459
@stevemacenski Are you willing to contribute a review for this JOSS submission?

[2020-09-14 01:55] gkthiruvathukal commented on #2481
@99991 and @tuelwer It seems like we're moving closer. If you're done, and our reviewers @ziatdinovmax and @macrocosme are satisfied, I can post the final checklist.

[2020-09-14 01:56] gkthiruvathukal commented on #2362
@e-dub ?

[2020-09-14 01:57] gkthiruvathukal commented on #2546
@xirdneh and @kinow, Are you willing to contribute a review for this JOSS submission?

[2020-09-14 02:10] xirdneh commented on #2546
@gkthiruvathukal I'll take a quick look tomorrow see if it falls under my area of expertise.

[2020-09-14 02:26] kinow commented on #2546
I think a friend of mine was doing some bytecode analysis, but something much simpler than `s4rdm3x` (I think it was simply looking for patterns in the bytecode or in the abstract syntax tree). `s4rdm3x` looks interesting!

Would be happy to review this one @gkthiruvathukal

[2020-09-14 02:29] gkthiruvathukal commented on #2546
Thanks, @kinow! I will assign you now.

[2020-09-14 02:29] gkthiruvathukal commented on #2546
@whedon assign @kinow as reviewer

[2020-09-14 02:29] whedon commented on #2546
OK, @kinow is now a reviewer

[2020-09-14 02:30] gkthiruvathukal commented on #2546
@xirdneh Thanks! I hope you will say yes. It is not always important to be an "expert". Being knowledgeable will do. Let me know tomorrow if you can so I can start review.

[2020-09-14 02:37] jgostick commented on #2601
I'm going to start this review, then add the second reviewer when I get a positive response.

[2020-09-14 02:38] jgostick commented on #2601
@whedon commands

[2020-09-14 02:38] whedon commented on #2601
Here are some things you can ask me to do:

[code]

[2020-09-14 02:38] jgostick commented on #2601
@whedon start review

[2020-09-14 02:38] whedon commented on #2601
It looks like you don't have an editor and reviewer assigned yet so I can't start the review. Try one or more of these commands:

[code]

[2020-09-14 02:39] jgostick commented on #2601
@whedon assign @keipertk as reviewer

[2020-09-14 02:39] whedon commented on #2601
OK, @keipertk is now a reviewer

[2020-09-14 02:39] jgostick commented on #2601
@whedon assign @jgostick as editor

[2020-09-14 02:40] whedon commented on #2601
OK, the editor is @jgostick

[2020-09-14 02:40] jgostick commented on #2601
@whedon start review

[2020-09-14 02:40] whedon opened #2671 "[REVIEW]: FHI-vibes: Ab initio Vibrational Simulations"
**Submitting author:** @flokno (<a href="http://orcid.org/0000-0002-7132-039X">Florian Knoop</a>)
**Repository:** <a href="https://gitlab.com/vibes-developers/vibes" target ="_blank">https://gitlab.com/vibes-developers/vibes</a>
**Version:** v1.0.2
**Editor:** @jgostick
**Reviewers:** @keipertk, @ajjackson
**Archive:** <a href="https://doi.org/10.5281/zenodo.4300415" target="_blank">10.5281/zenodo

[2020-09-14 02:40] whedon commented on #2601
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2671.

[2020-09-14 02:40] #2601 closed

[2020-09-14 02:40] whedon commented on #2671
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @keipertk it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2020-09-14 02:41] whedon commented on #2671
[code]

[2020-09-14 02:41] whedon commented on #2671
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: :point_left:

[2020-09-14 06:52] darioizzo commented on #2338
@danielskatz @eloisabentivegna @dgoldri25 @jangmys thanks indeed!

[2020-09-14 07:24] arfon commented on #2338
🎉 and congratulations to @eloisabentivegna for editing her first JOSS paper through to completion!

[2020-09-14 08:11] jboynyc commented on #2594
@whedon generate pdf from branch joss

[2020-09-14 08:11] whedon commented on #2594
[code]

[2020-09-14 08:12] whedon commented on #2594
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02594/joss.02594/10.21105.joss.02594.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02594/joss.02594/10.21105.joss.02594.pdf) :page_facing_up: :point_left:

[2020-09-14 08:33] will-rowe commented on #2493
Hi @bblum9, @lmvasquezg and @emilydolson - would any of you be able to review this submission for JOSS please?

[2020-09-14 08:38] tresoldi commented on #2594
All my points were addressed, only issue https://github.com/jboynyc/textnets/issues/14 still pending.

[2020-09-14 08:59] pdebuyl commented on #2436
Thank you @blakeaw ! I see that "Functionality" is still unchecked, does this checkbox need more work?

[2020-09-14 09:05] 99991 commented on #2481
@whedon generate pdf from branch joss-submission

[2020-09-14 09:05] whedon commented on #2481
[code]

[2020-09-14 09:05] 99991 commented on #2481
@gkthiruvathukal We are ready. :+1:

[2020-09-14 09:05] whedon commented on #2481
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02481/joss.02481/10.21105.joss.02481.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02481/joss.02481/10.21105.joss.02481.pdf) :page_facing_up: :point_left:

[2020-09-14 09:08] pdebuyl commented on #2436
@CFGrote there still is a testing issue open at your software's repository. I could run the tests just file (python 3.7 linux amd64 using pip), so I guess that the issue can be resolved by updating completely the software on the user's machine.

[2020-09-14 09:50] JolleJolles commented on #2584
I opened this issue as an enhancement request (https://github.com/JolleJolles/pirecorder/issues/28) and addressed it there.

[2020-09-14 09:55] davidhassell commented on #2531
@bradyrx, @usethedata

Hi. Thanks again for the detailed review. We have taken all of of your points on board, and hope that we can address them with the changes described here.

Code coverage is calculated as part of the test suite, and run with the GitHub actions, but is not easy to find. It is currently 87% (e.g.  The "Run test suite and generate a coverage report" section of https://github.com

[2020-09-14 09:56] xyzmjf commented on #2493
Hi Will

Apologies for taking a few days to reply. I can review this manuscript.
What timeline are you expecting, and what format would you want the review
in.
As this is the first time I will have reviewed for you, I do have a few
'newbie' questions.

Mark

On Mon, Sep 14, 2020 at 9:33 AM Will Rowe <notifications@github.com> wrote:

[2020-09-14 09:58] davidhassell commented on #2531
@whedon generate pdf

[2020-09-14 09:58] JolleJolles commented on #2584
Thanks, fixed the typo with commit [c2f23e4](https://github.com/JolleJolles/pirecorder/commit/c2f23e4376c21bcafd6588e83650b258673644ab)

[2020-09-14 10:00] whedon commented on #2531
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02531/joss.02531/10.21105.joss.02531.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02531/joss.02531/10.21105.joss.02531.pdf) :page_facing_up: :point_left:

[2020-09-14 10:03] bblum9 commented on #2493
I'm also available to review this submission.

[2020-09-14 10:09] davidhassell commented on #2531
@bradyrx, @usethedata

Apologies, I inserted an incorrect version of the "New text" at the end of the previous comments. it should read:

**(New Text)** "To the authors’ knowledge, cfdm and software built on it are currently the only libraries that can understand all CF-netCDF datasets, made possible by the complete implementation of the CF data model. All others omit facets that are not currently

[2020-09-14 10:10] jenzopr commented on #2436
My checklist is complete now.

[2020-09-14 10:10] will-rowe commented on #2493
Perfect - thanks @xyzmjf

Please find the full reviewer documentation [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

We will start a new thread in a moment which will record the submission process and this one will be closed. You can use the new thread to track the review process, mark off your reviewer checklist and let us know your recommendation etc. As well as this, we su

[2020-09-14 10:11] will-rowe commented on #2493
@bblum9 - thank you for your quick response but we now have 2 reviewers. I really appreciate you getting back to me and I hope you will be available to review for us in the future

[2020-09-14 10:12] will-rowe commented on #2493
@whedon assign @CFGrote as reviewer

[2020-09-14 10:12] whedon commented on #2493
OK, @CFGrote is now a reviewer

[2020-09-14 10:12] will-rowe commented on #2493
@whedon add @xyzmjf as reviewer

[2020-09-14 10:12] whedon commented on #2493
OK, @xyzmjf is now a reviewer

[2020-09-14 10:12] will-rowe commented on #2493
@whedon start review

[2020-09-14 10:13] whedon opened #2672 "[REVIEW]: CIMSA: Customizable Integrated Multiple Sequence Alignment Package"
**Submitting author:** @kuangmeng (<a href="http://orcid.org/0000-0001-9656-5652">Mengmeng Kuang</a>)
**Repository:** <a href="https://github.com/kuangmeng/CIMSA" target ="_blank">https://github.com/kuangmeng/CIMSA</a>
**Version:** v1.0
**Editor:** @will-rowe
**Reviewer:** @CFGrote, @xyzmjf
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2020-09-14 10:13] whedon commented on #2493
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2672.

[2020-09-14 10:13] #2493 closed

[2020-09-14 10:13] whedon commented on #2672
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @CFGrote, @xyzmjf it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2020-09-14 10:13] whedon commented on #2672
[code]

[2020-09-14 10:13] whedon commented on #2672
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02672/joss.02672/10.21105.joss.02672.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02672/joss.02672/10.21105.joss.02672.pdf) :page_facing_up: :point_left:

[2020-09-14 10:15] pdebuyl commented on #2436
Thank you @jenzopr for the review!

[2020-09-14 10:21] oliviaguest commented on #2623
@whedon assign @matteomancini as reviewer

[2020-09-14 10:21] whedon commented on #2623
OK, @matteomancini is now a reviewer

[2020-09-14 10:34] grburgess commented on #2536
Once a caveat about the summing of detectors is either stated in the docs or fixed in the code, I'm ok with this being published. Nice work @JamesPaynter .

[2020-09-14 10:45] xuanxu commented on #2536
Thanks @grburgess! (Please check all the items from your checklist you are already satisfied with)

[2020-09-14 10:51] jboynyc commented on #2594
Release [0.4.10](https://github.com/jboynyc/textnets/releases/tag/v0.4.10) closes jboynyc/textnets#14.

Many thanks @tresoldi for the helpful and encouraging review!

[2020-09-14 10:52] timtroendle commented on #2661
Yes, can do.

[2020-09-14 10:52] timtroendle commented on #2661
@whedon assign @timtroendle as editor

[2020-09-14 10:52] whedon commented on #2661
OK, the editor is @timtroendle

[2020-09-14 10:54] timtroendle commented on #2661
@danielskatz @sjpfenninger The license file is deviating slightly from [BSD-3-Clause-LBNL](https://opensource.org/BSD-3-Clause-LBNL). Is this fine or does this require a fix? Also: is there an automatic way for me to check the license?

[2020-09-14 10:57] htjb commented on #2596
Hi @smutch ,

Thank you for the useful comments and feedback. I am glad you were also able to install and use the software.

I have just come back to work after a week off and I am going to continue to work through your comments and @benjaminpope 's also in the comming week.

I am hoping to get back to you with updates by Friday.

Thanks again,

Harry

[2020-09-14 11:02] tresoldi commented on #2594
Great, @jboynyc , and thanks once more for this package.

@gkthiruvathukal No further requests from me, approved.

[2020-09-14 11:06] will-rowe commented on #2473
Hi @ramadatta - just checking in again to see how you are progressing? Thanks!

[2020-09-14 11:17] pdebuyl commented on #2494
@yuxiang-gao gentle reminder

[2020-09-14 11:29] sjpfenninger commented on #2661
We _do_ require an OSI approved license so this must be fixed, i.e. there should be a LICENSE file that contains the exact text of the BSD-3-Clause-LBNL license. Not aware of any automatic way to check this but maybe @danielskatz can enlighten us :-)

[2020-09-14 11:30] sjpfenninger commented on #2666
@whedon assign @sjpfenninger as editor

[2020-09-14 11:30] whedon commented on #2666
OK, the editor is @sjpfenninger

[2020-09-14 11:52] lpantano commented on #2432
Hey @afrubin, any final comments for this paper? Thanks!

[2020-09-14 12:00] lpantano commented on #2638
Hi  @juanvillada and @chorscroft, I am having difficulties finding a second reviewer, if you have a name in your mind, let me know. Thanks!

[2020-09-14 12:08] lpantano commented on #2638
Hi @aursiber, would you like to review this paper? https://joss.readthedocs.io/en/latest/review_checklist.html

[2020-09-14 12:12] danielskatz commented on #2661
There's no automatic way to check that I know.
And, yes, this does need to be fixed (though I don't see the difference immediately)

Also, please tag @openjournals/joss-eics in the future to get the on-duty AEiC (which is no longer me)

[2020-09-14 12:24] fboehm commented on #2521
@jacobsoj - I see that you've omitted checking two boxes in the checklist. With the modifications that @mdsteiner has made, are you now comfortable checking the boxes? Please do check them if you're comfortable doing so. We won't proceed until you're satisfied with the community guidelines and the quality of the writing.

Thanks again!

[2020-09-14 12:56] afrubin commented on #2432
Hi @lpantano, there are still a few open issues (such as https://github.com/czbiohub/cerebra/issues/83#issuecomment-681311968) and I feel like I should read the final version of the manuscript but I can't find a current PDF. I think it is very close though!

[2020-09-14 13:02] Kevin-Mattheus-Moerman commented on #2548
@asmusskar have a look at the above comments :point_up:. Can you deal with these/formulate a response?

[2020-09-14 13:02] Kevin-Mattheus-Moerman commented on #2548
@CBenghi I hope that you are now also able to continue with this review. Let me know if you have any questions. Thanks

[2020-09-14 13:08] jboynyc commented on #2594
I'd love to hear about any projects you use it for, so please do ping me!

[2020-09-14 13:14] timtroendle commented on #2661
Thank you both!

@Grant-Giesbrecht could you please apply this tiny fix so that the license is in line with the [OSI version](https://opensource.org/BSD-3-Clause-LBNL)? This concerns the first line only, which should read like the following:

[2020-09-14 13:22] salanne commented on #2373
Hello @richardjgowers is there any action needed on our side?

[2020-09-14 13:37] arfon commented on #2651
:wave: @mcguinlu - thanks for your submission to JOSS. Unfortunately, even though this submission came via rOpenSci, this submission is out of scope for JOSS as we classify it a 'minor' submission ([API wrapper](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort)). I've asked the rOpenSci folks to update their guidelines to make it a little clearer which rOpenSci pa

[2020-09-14 13:37] arfon commented on #2651
@whedon reject

[2020-09-14 13:37] whedon commented on #2651
Paper rejected.

[2020-09-14 13:56] JolleJolles commented on #2584
Following the above point, I improved the statement of need in the paper and added the statement to the README and the web documentation (issue #23, commit [edae82f](https://github.com/JolleJolles/pirecorder/commit/edae82f5d6e2836dec39e55602981e8edf5b4e53)).

[2020-09-14 14:04] JolleJolles commented on #2584
In reply to this point, pirecorder builts on the picamera package to control the native camera settings, which are indeed limited to the above range, see the [pirecorder documentation](https://picamera.readthedocs.io/en/release-1.10/api_camera.html#picamera.camera.PiCamera.iso). pirecorder uses a default iso setting of 200.

[2020-09-14 14:09] lskatz commented on #2334
@lfaller Great point!  I had a script `SneakerNet.checkdeps.pl` that has this function, but it was not documented well enough.  ([very little documentation here where the script is mentioned once](https://github.com/lskatz/SneakerNet/blob/master/docs/INSTALL.md#software)  and [here where it says cryptically "Workflows are defined in plugins.conf"](https://github.com/lskatz/SneakerNet/blob/master/d

[2020-09-14 14:11] jacobsoj commented on #2521
I am now comfortable checking those boxes, but it isn't letting me check them now. Is there something I need to do to allow me to edit them?

[2020-09-14 14:19] arm61 commented on #2550
@dfm I was wondering are things like the "statement of need" (that is mentioned in the Documentation portion of this checklist) is expected to be in the code docs and the paper?

[2020-09-14 14:19] mcguinlu commented on #2651
Hi @arfon,

Thanks for your comments on the package, though I'll admit I am a little surprised that the package is not considered in scope.

While the package does interact with the API, this is mainly as a precusor to searching the medRxiv database using complex search strategies and then bulk exporting the results to a .BIB file for further processing/analysis as part of a systematic literaure r

[2020-09-14 14:22] gdede-hua commented on #2605
@alexssandrofc Thank you for your help. I have fixed this issue, but it still doesn't work. The message appeared is the same.

[2020-09-14 14:24] richardjgowers commented on #2373
No, I think you’re just waiting on me to look over this, sorry. Give me a
few days.

On Mon, Sep 14, 2020 at 15:22, salanne <notifications@github.com> wrote:

[2020-09-14 14:30] lskatz commented on #2334
@lfaller also in response in the same PLUGINS.md page, I created a basic figure on the default workflow and plugins.

[2020-09-14 14:33] ml-evs commented on #2563
Hi @srmnitc, thanks so much for taking the time to review matador. I'll address your comments in more detail in the issues you have raised (I broadly agree with all of them).

Referring specifically to your final point, in the introduction to the paper we outline the research question that _we_ use the code for, namely job management and analysis for high-throughput crystal structure prediction, b

[2020-09-14 14:37] alexssandrofc commented on #2605
@whedon generate pdf

[2020-09-14 14:41] Grant-Giesbrecht commented on #2661
Good catch - fixed it!

[2020-09-14 14:43] salanne commented on #2373
Ok, there is absolutely no rush, I just wanted to be sure!

[2020-09-14 14:49] Datseris commented on #2456
Hi @dpsanders , I'd like to suggest a second reviewer, Kevin Bonham, PhD @kescobo

[2020-09-14 14:55] kescobo commented on #2456
:wave: I'm willing to review if appropriate. Haven't used the package before, but it could be relevant. Would be a good excuse to kick the tires.

[2020-09-14 14:59] remram44 commented on #2605
The `{}` part seems like a bug. I'm not sure if it should be reported against [whedon](https://github.com/openjournals/whedon) or [whedon-api](https://github.com/openjournals/whedon-api), but it certainly makes it hard to fix papers...

[2020-09-14 15:02] fboehm commented on #2521
@whedon re-invite @jacobsoj as reviewer

[2020-09-14 15:02] whedon commented on #2521
OK, the reviewer has been re-invited.

@jacobsoj please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-14 15:04] fboehm commented on #2521
@jacobsoj - Please click on the link above to accept the invitation. I've added you again so that you can continue to participate in the review, should there be a need. We're nearly ready to accept the submission, so there may not be anything left for you to do. We're not sure why you mistakenly lost access to the repository. Sorry for the trouble.

[2020-09-14 15:08] jacobsoj commented on #2521
FWIW I reclicked on the 2 boxes although you had done that for me, just in case it matters later that I did it myself.

[2020-09-14 15:10] vitay commented on #2668
I guess I am already done with the review:
* `bg-atlas-api` is a software with a very clear rationale, providing a simple centralized access to various neuroatanomical atlases. It makes mostly sense within the brainglobe suite, but its API is generic enough so that other tools can build on it.
* The software respects all standards and good practice: hosting on github, BSD license, unittests, CI on

[2020-09-14 15:15] dpsanders commented on #2456
👋 @tamasgal and @Datseris: Apologies for the delay and thanks for the help with reviewers.

Thanks to @jpfairbanks and @kescobo for volunteering!

[2020-09-14 15:15] dpsanders commented on #2456
@whedon add @jpfairbanks as reviewer

[2020-09-14 15:15] whedon commented on #2456
OK, @jpfairbanks is now a reviewer

[2020-09-14 15:15] dpsanders commented on #2456
@whedon add @kescobo as reviewer

[2020-09-14 15:16] whedon commented on #2456
OK, @kescobo is now a reviewer

[2020-09-14 15:16] dpsanders commented on #2456
@whedon start review

[2020-09-14 15:16] whedon opened #2673 "[REVIEW]: DrWatson: the perfect sidekick for your scientific inquiries"
**Submitting author:** @tamasgal (<a href="http://orcid.org/0000-0001-7821-8673">Tamás Gál</a>)
**Repository:** <a href="https://github.com/JuliaDynamics/DrWatson.jl" target ="_blank">https://github.com/JuliaDynamics/DrWatson.jl</a>
**Version:** 1.16.3
**Editor:** @dpsanders
**Reviewers:** @jpfairbanks, @kescobo, @apdavison
**Archive:** <a href="https://doi.org/10.5281/zenodo.4133570" target="_bla

[2020-09-14 15:16] whedon commented on #2456
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2673.

[2020-09-14 15:16] #2456 closed

[2020-09-14 15:16] whedon commented on #2673
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jpfairbanks, @kescobo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-09-14 15:16] dpsanders commented on #2673
@whedon generate pdf

[2020-09-14 15:16] whedon commented on #2673
PDF failed to compile for issue #2673 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.02673.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-09-14 15:16] whedon commented on #2673
[code]

[2020-09-14 15:17] whedon commented on #2673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: :point_left:

[2020-09-14 15:17] dpsanders commented on #2673
👋 Hi @jpfairbanks and @kescobo. Thank you for agreeing to review this submission. Please work your way through the checklist above of items. Please feel free to raise technical issues on the repository, and procedural questions here. Thanks!

[2020-09-14 15:23] dpsanders commented on #2239
Sorry for the delay here.

👋 Hi @crstnbr, @mdavezac and @mlxd: Would you be willing to review this submission to JOSS?

[2020-09-14 15:30] CBenghi commented on #2548
@Kevin-Mattheus-Moerman,

Unfortuntely all University staff IT is completely absorbed in the solution of a major incident that has crippled all fundamental services at a critical time of the new academic year, which would be hard in normal times, but unbearable in Covid times.

At the moment I cannot tell when I'll have access to online services to install Matlab; sadly, this has been going on for

[2020-09-14 15:41] Kuifje02 commented on #2408
Thanks @skadio for the follow up.

The Community Guidelines have been addressed with a [CONTRIBUTING.md](https://github.com/Kuifje02/vrpy/blob/dev/CONTRIBUTING.md) file, which is referenced at the bottom of the [README.md](https://github.com/Kuifje02/vrpy/tree/dev).

We still have a few minor items to do :

- [ ]  rename main.py to vehicle_routing.py

- [ ] add a license file

- [ ] complete the p

[2020-09-14 15:41] arm61 commented on #2550
Once issues [127](https://github.com/rhayes777/PyAutoFit/issues/127) and [126](https://github.com/rhayes777/PyAutoFit/issues/126) are closed, @dfm has clarified my comments, and the referencing problems are solved I think I am happy.

An only small point in the "state of the field" bit for the paper, is that it might be worth mentioning [`uravu`](uravu.readthedocs.io) which has similar functionali

[2020-09-14 15:45] dpsanders commented on #2673
I would say no, that's up to the authors themselves.

[2020-09-14 15:45] bmcfee commented on #2450
Thanks @edonnachie and @jaeyk for your reviews!  It looks like this is all good to go now.

[2020-09-14 15:45] bmcfee commented on #2450
@whedon generate pdf

[2020-09-14 15:46] whedon commented on #2450
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02450/joss.02450/10.21105.joss.02450.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02450/joss.02450/10.21105.joss.02450.pdf) :page_facing_up: :point_left:

[2020-09-14 15:46] bmcfee commented on #2450
@whedon check references

[2020-09-14 15:47] whedon commented on #2450
[code]

[2020-09-14 15:53] asmusskar commented on #2548
Yes @CBenghi should be compatible with Octave 👍

[2020-09-14 15:55] bmcfee commented on #2450
@jeffcsauer the paper looks to be in great shape! :tada:

The last step for you is to make an updated release of the package(s) to reflect any changes made during the review process, and deposit the new version(s) at a DOI-minting repository like Figshare or Zenodo.  When that's done, we can link up the DOIs to the paper and move on to publication.

[2020-09-14 16:18] tamasgal commented on #2456
Thanks for all of you so far! No worries David, I appreciate your comments and feedback!

[2020-09-14 16:47] timtroendle commented on #2661
Perfect. I will start looking for reviewers for your submission. If you can suggest anyone, please let me know @Grant-Giesbrecht .

[2020-09-14 16:51] timtroendle commented on #2661
:wave: @1313e & @bhajay, would any of you be willing to review this submission for JOSS?

[2020-09-14 17:13] blakeaw commented on #2436
Hi @pdebuyl, Functionality doesn't require any additional work. You can consider it checked.
(The checkbox is showing up as checked on my end. Maybe refreshing the page will update?)

[2020-09-14 17:15] alexssandrofc commented on #2605
@whedon commands

[2020-09-14 17:15] whedon commented on #2605
Here are some things you can ask me to do:

[code]

[2020-09-14 17:15] alexssandrofc commented on #2605
@whedon generate pdf

[2020-09-14 17:16] mccabete commented on #2575
Sent an email to you @holukas

[2020-09-14 17:16] alexssandrofc commented on #2605
@whedon  check references

[2020-09-14 17:16] whedon commented on #2605
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-14 17:23] whedon commented on #2605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02605/joss.02605/10.21105.joss.02605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02605/joss.02605/10.21105.joss.02605.pdf) :page_facing_up: :point_left:

[2020-09-14 17:31] alexssandrofc commented on #2605
the problem was in the API (https://whedon.theoj.org/), when executing the command to generate the PDF, it generated correctly.

[2020-09-14 17:52] xillig commented on #2507
Dear @sara-02, @aozorahime, @linuxscout and @trallard,
we hope that you are all doing well. Can we provide any further assistance regarding the open points? Please also consult the documentation website (https://ttlocvis.readthedocs.io/en/latest/) if you may have questions or write us at any time.

[2020-09-14 18:51] aj2duncan commented on #2282
Hi @danielskatz, just to let you know that although there are a couple of small things to be ironed out I'll be done once we close jcolomb/HCS_analysis#20

[2020-09-14 19:03] neuromusic commented on #2440
sigh. time flies. I'll take care of the remaining issues this week.

[2020-09-14 19:42] jbytecode commented on #2600
@whedon generate pdf

[2020-09-14 19:42] whedon commented on #2600
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02600/joss.02600/10.21105.joss.02600.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02600/joss.02600/10.21105.joss.02600.pdf) :page_facing_up: :point_left:

[2020-09-14 19:46] ajbaird commented on #2645
Hi @meg-simula just pushed an update for the missing DOIs, not totally sure about the compilation error though? Seems to be not able to find the temp/ folder and the cd command is failing? Compiled ok before, maybe it needs to update with the new issue number once it got moved? I'm really not sure, sorry!

[2020-09-14 20:10] jeffcsauer commented on #2450
@bmcfee great, sounds good! I have created a Zenodo repository with both `arcos` and `arcospy` [here](https://zenodo.org/record/4029306).

[2020-09-14 20:58] eloisabentivegna commented on #2338
Thanks to you, @arfon and @danielskatz, for your kind guidance and patience. :)

[2020-09-14 20:59] #2338 closed

[2020-09-14 20:59] whedon commented on #2338
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02338/status.svg)](https://doi.org/10.21105/joss.02338)

**We need your help!**

Journal of Open Source Softwa

[2020-09-14 21:12] valeriewelborn commented on #2576
Hi @amandadumi, thanks for the comments.  https://github.com/WelbornGroup/Tinker_ELECTRIC is a copy of https://github.com/MolSSI-MDI/Tinker/tree/mdi-efr so you can go directly to https://github.com/MolSSI-MDI/Tinker/tree/mdi-efr for review of the modified version of Tinker.

[2020-09-14 21:13] valeriewelborn commented on #2576
@govarguz, @richardjgowers  have you had a chance to look at the submission?

[2020-09-14 21:30] dbuscombe-usgs commented on #2585
when I'm done with my review, do I just paste it here? I see the 'checklist' but the instructions are vague on the actual review submission process

[2020-09-14 21:39] govarguz commented on #2576
Dear all, I am looking now to more details but may need a couple of days to
wrap up my comments. Best!

On Mon, Sep 14, 2020, 23:13 Valerie Welborn <notifications@github.com>
wrote:

[2020-09-14 21:48] keipertk commented on #2671
I was unable to find community guidleines for third parties wishing to contribute to the software, outside of the standard MIT license agreement. Everything else gets a check.

[2020-09-14 21:59] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-09-14 22:00] whedon commented on #2392
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: :point_left:

[2020-09-14 23:08] dbuscombe-usgs commented on #2585
Ok, I don't see any place else to put this review so here goes!

[2020-09-14 23:10] dbuscombe-usgs commented on #2585
I confirm that I have read the JOSS conflict of interest policy and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

I confirm that I read and will adhere to the JOSS code of conduct.

Paper:
•	Summary: Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist a

[2020-09-14 23:39] jgostick commented on #2671
@keipertk Thanks for this!  So fast too!  I still haven't even found a second reviewer yet!

[2020-09-15 00:09] 1313e commented on #2661
@timtroendle I have a feeling one can only truly review this package if they also have access to some of the physical instruments that it is programmed to interact with.
As I don't have these laying around, I feel like I am not the right person to review this.

[2020-09-15 00:39] qyx268 commented on #2582
Hey @sambit-giri, thanks for reviewing this! I could answer the following points. @steven-murray Could you please add these in the paper?

Lightcones for the reference model including, from left to right:
 			(i) overdensity ($\Delta_{\rm cell}$);
 			(ii) {\lya} ($J_{\alpha, {\rm eff}}{\times}\rm s^{-1}Hz^{-1}cm^{-2}sr^{-1}$);
 			(iii) LW ($J^{\rm 21}_{\rm LW,eff}{\times}{\rm 10^{{-}21}{\rm erg\

[2020-09-15 01:10] nhejazi commented on #2526
Thanks @mikldk and @rrrlw, I'll add a few references in an _Applications_ section of the paper draft and add code from one such project that I was involved in. This will cover how to use HAL in constructing a popular inverse probability weighted estimator that is prominent in the causal inference literature. I'll ping here again when that's done so that we can discuss any lingering details to fini

[2020-09-15 01:11] nhejazi commented on #2447
@klmedeiros, sorry to bump this again. If there's anything I can do to help facilitate the review process, please don't hesitate to let me know.

[2020-09-15 03:12] wdduncan commented on #2587
@majensen Sorry, I'm going to have to pass on this one. I have too many other reviews in the queue :(

[2020-09-15 04:30] majensen commented on #2587
No prob @wdduncan - thanks for reaponding

[2020-09-15 05:03] JamesPaynter commented on #2536
Thank you @grburgess 😄

I updated the docs in the sampling section to reflect this:
https://pygrb.readthedocs.io/en/latest/user/sampling.html

[2020-09-15 07:18] oliviaguest commented on #2650
@whedon add @rly as reviewer

[2020-09-15 07:18] whedon commented on #2650
OK, @rly is now a reviewer

[2020-09-15 07:19] oliviaguest commented on #2650
@whedon start review

[2020-09-15 07:19] whedon opened #2674 "[REVIEW]: pd-parser: A tool for Matching Photodiode Deflection Events to Time-Stamped Events"
**Submitting author:** @alexrockhill (<a href="http://orcid.org/0000-0003-3868-7453">Alexander Rockhill</a>)
**Repository:** <a href="https://github.com/alexrockhill/pd-parser" target ="_blank">https://github.com/alexrockhill/pd-parser</a>
**Version:** v0.3
**Editor:** @oliviaguest
**Reviewers:** @rougier, @rly, @libertyh
**Archive:** <a href="https://doi.org/10.5281/zenodo.4122049" target="_blank

[2020-09-15 07:19] whedon commented on #2650
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2674.

[2020-09-15 07:19] #2650 closed

[2020-09-15 07:19] whedon commented on #2674
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rougier, @rly it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.j

[2020-09-15 07:19] whedon commented on #2674
[code]

[2020-09-15 07:19] whedon commented on #2674
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02674/joss.02674/10.21105.joss.02674.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02674/joss.02674/10.21105.joss.02674.pdf) :page_facing_up: :point_left:

[2020-09-15 07:22] oliviaguest commented on #2623
@whedon add @rly as reviewer

[2020-09-15 07:22] whedon commented on #2623
OK, @rly is now a reviewer

[2020-09-15 07:22] oliviaguest commented on #2623
@whedon start review

[2020-09-15 07:22] whedon opened #2675 "[REVIEW]: SLIX: A Python package for fully automated evaluation of Scattered Light Imaging measurements on brain tissue"
**Submitting author:** @Thyre (<a href="http://orcid.org/0000-0002-1219-0310">Jan André Reuter</a>)
**Repository:** <a href="https://github.com/3d-pli/SLIX" target ="_blank">https://github.com/3d-pli/SLIX</a>
**Version:** v1.2.1
**Editor:** @oliviaguest
**Reviewers:** @matteomancini, @rly, @alexrockhill
**Archive:** <a href="https://doi.org/10.5281/zenodo.4121953" target="_blank">10.5281/zenodo.41

[2020-09-15 07:22] whedon commented on #2623
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2675.

[2020-09-15 07:22] #2623 closed

[2020-09-15 07:22] whedon commented on #2675
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matteomancini, @rly it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-09-15 07:22] whedon commented on #2675
[code]

[2020-09-15 07:22] whedon commented on #2675
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02675/joss.02675/10.21105.joss.02675.pdf) :page_facing_up: :point_left:

[2020-09-15 07:34] mlxd commented on #2239
Hi @dpsanders I'm happy to review this work.

[2020-09-15 08:39] mdavezac commented on #2239
@dpsanders, I'm happy to give it go.

[2020-09-15 08:45] stheid commented on #2435
@katyhuff Thanks for the additional clarification.

We had another discussion in the Team, but we find it difficult to add more than the bulleted list we have added. Therefore we would ask, if it would be possible to successfully close the review with the given state.

[2020-09-15 08:57] pmkruyen commented on #2506
Hi @gcdeshpande,

Thank you for reviewing my paper & app. I just received a note from our IT department. My new Mac has arrived 😄, but I need to hand in my current working horse in return 😢 . Will wait till you finished your review. Can you let me know if you are able to start the review within the next 7 days or so as stated above by @cMadan?

Looking forward to your feedback.

Thanks,
Peter

[2020-09-15 09:04] asmusskar commented on #2548
Will do my best @Kevin-Mattheus-Moerman
<https://github.com/Kevin-Mattheus-Moerman>, any fixed deadline?

On Mon, Sep 14, 2020 at 3:02 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-09-15 09:07] Kevin-Mattheus-Moerman commented on #2548
@asmusskar great. No fixed deadline. We just recommend not delaying things to much to avoid losing track of the reviewers.

[2020-09-15 09:56] xuanxu commented on #2536
@whedon generate pdf

[2020-09-15 09:57] whedon commented on #2536
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02536/joss.02536/10.21105.joss.02536.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02536/joss.02536/10.21105.joss.02536.pdf) :page_facing_up: :point_left:

[2020-09-15 09:58] xuanxu commented on #2536
@whedon check references

[2020-09-15 09:58] whedon commented on #2536
[code]

[2020-09-15 10:16] xuanxu commented on #2536
OK @JamesPaynter, everything looks good now, here are the next steps:

- Please release a new [tagged version](https://github.com/JamesPaynter/PyGRB/releases) from the current main branch so it includes all the changes made during the review process
- Then archive that latest release in Zenodo (or a similar service).
- Check the Zenodo deposit has the correct metadata: title and author name should

[2020-09-15 10:43] ramadatta commented on #2473
Dear @will-rowe - Due to some unforeseen circumstances, I am not able to submit the manuscript within the timeframe expected before. I sincerely apologize for this. If it is possible, could I kindly request an extension for a week or two? Thank you very much for your consideration.

[2020-09-15 11:43] will-rowe commented on #2473
That's fine from my point of view. I'll check back in a couple of weeks unless I hear from you sooner

[2020-09-15 12:45] katyhuff commented on #2435
Ok. If you feel it is as clear as it can be, then the final assessment is in the hands of @dhhagan.

[2020-09-15 13:03] JolleJolles commented on #2584
@DerJH in reply to your above question, I cannot reproduce your issue. Doing a fresh install of pirecorder on python3 I do not get this error. Could you show the output of `pirecorder.__version__` and `cv2.__version` so I can help further? I also recommend to use a virtual environment (as I detail in the online documentation)

[2020-09-15 13:13] JolleJolles commented on #2584
Integrated saving directly from stream by the possibility of adding a configuration file when running stream from the command line (e.g. `stream -c pirecorder.conf`). When the 's' key is pressed after drawing a rectangle, the roi coordinates are stored in the config file. Working after commit [d335de9](https://github.com/JolleJolles/pirecorder/commit/f8528fa642910f69068196be3385b83f20f98c6f).

[2020-09-15 13:21] marouenbg commented on #2644
@whedon generate pdf

[2020-09-15 13:21] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-15 13:23] JolleJolles commented on #2584
@DerJH I also cannot reproduce this issue. When the `withframe` parameter is set to `True` then instead of fast ffmpeg conversion, opencv will be used for conversion (and drawing the frame number on each frame of the video). So I think there is an issue with the version of opencv you are using. Python2.7 is no longer supported and I think it could well be that your version of opencv is not up to p

[2020-09-15 13:24] dhhagan commented on #2435
@katyhuff Thanks for your feedback and review. @stheid: I would like to see a bit more information about the *many software auxiliaries* listed in the **Features** section. It doesn't currently tell me what is possible/available, which I think would be beneficial and help make the paper itself more clear. In addition, there are a few areas where the language could be cleaned up - I will send a PR

[2020-09-15 13:26] JolleJolles commented on #2584
I hope to have hereby addressed all your comments from this thread. Please follow-up on the specific comments above if needed.

[2020-09-15 13:29] samhforbes commented on #2669
Hi @mortonne - thanks for the opportunity to look at this package. Installation worked smoothly, and while I have no free recall data of my own to test it on, the sample data provided works well (thanks for that). I thought the paper was very clear on the differences between this package and other existing packages, so that was also great. A minor thought (purely optional) is that you could consid

[2020-09-15 13:39] dhhagan commented on #2435
@stheid I've made a PR (https://github.com/upb-lea/openmodelica-microgrid-gym/pull/81) with some suggested text changes in addition to what was mentioned above about expanding the clarity of examples and *many software auxiliaries* listed above. Please let me know when you've had time to review these and I'll take another look.

[2020-09-15 13:54] kescobo commented on #2673
I've completed my review - pending the changes [requested here](https://github.com/JuliaDynamics/DrWatson.jl/pull/192), I'm happy to sign off.

[2020-09-15 14:04] joglekara commented on #2182
@dpsanders ^

[2020-09-15 14:42] whedon commented on #2403
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: :point_left:

[2020-09-15 14:44] sritchie commented on #2403
@diehlpk okay, now we're looking good! I found a single typo and pushed a fix.

[2020-09-15 14:55] sayanddude commented on #2278
Hi @dfm and @arfon , we have updated the package and have addressed all the concerns of the reviewers related to the package. Please find above the latest pdf and my response to the comments of the second reviewer. We have now addressed all the comments of both the reviewers. Please "un-pause" this thread and let us know the next steps.

Thanks and Regards,
Sayan

[2020-09-15 15:03] klmedeiros commented on #2447
@nhejazi  My only reservations currently are that I could only get `txshift` to install by installing `haldensify ` from Github, not CRAN, which isn't documented anywhere.

Otherwise, this is excellent and I recommend for publication in JOSS.

[2020-09-15 15:07] ali-ramadhan commented on #2018
@kthyng Are you able to check off the missing boxes or should we wait for @funsim?

[2020-09-15 15:38] dfm commented on #2278
@sayanddude: Thanks for checking in. I'm working on finding a new reviewer since pat-s is no longer available. I will update you when I have found someone.

[2020-09-15 15:43] dfm commented on #2550
@arm61: Thanks for the update! The statement of need should be in *both* the paper and the documentation. Let me know if you need more clarification.

[2020-09-15 16:05] tomazbregar commented on #2588
@whedon generate pdf

[2020-09-15 16:06] whedon commented on #2588
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02588/joss.02588/10.21105.joss.02588.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02588/joss.02588/10.21105.joss.02588.pdf) :page_facing_up: :point_left:

[2020-09-15 16:15] arm61 commented on #2550
Cheers @dfm. @Jammy2211 I think it is worth adding mention of the statement of need (covered well in the paper) to the homepage of the readthedocs.

[2020-09-15 16:16] arm61 commented on #2550
Sorry that I have taken so long to complete this by the way. Life got in the way a bit!

[2020-09-15 16:20] kbarnhart commented on #2585
@dbuscombe-usgs thanks for the review (and sorry to miss this yesterday). You should be able to check the checkboxes... I'll re-invite you just in case you don't have check-box privileges, and if that doesn't work, let me know.

Sorry that exactly how to provide the review was unclear. Pasting your comments in as you have done is just fine. For more substantial comments we recommend that reviewers

[2020-09-15 16:22] kbarnhart commented on #2585
@whedon re-invite @dbuscombe-usgs as reviewer

[2020-09-15 16:22] whedon commented on #2585
The reviewer already has a pending invite.

@dbuscombe-usgs please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-15 16:23] kbarnhart commented on #2276
Thanks for the update @KevinShook 👍

[2020-09-15 16:26] galessiorob commented on #2619
@whedon generate pdf

[2020-09-15 16:26] whedon commented on #2619
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02619/joss.02619/10.21105.joss.02619.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02619/joss.02619/10.21105.joss.02619.pdf) :page_facing_up: :point_left:

[2020-09-15 16:27] dbuscombe-usgs commented on #2585
@kbarnhart - I don't know how to check boxes, but I responded 'yes' to all. Am I done?

[2020-09-15 16:28] Jammy2211 commented on #2550
Great - I think I pretty much agree with all your suggestions and will get everything sorted this week :). You've definitely brought up a couple of aspects of the docs that need some polishing!

No problem on the length of time, I think everyone's stretched pretty thin at the moment and just trying to get everything done whenever its possible.

[2020-09-15 16:31] zingale commented on #2513
Thanks for the comments.  I will answer them each inline here.

1. Can you point out where we suggest python 3.7?  It looks like we
   require 3.6.  If you have suggestions for what types of machines
   you think there should be instructions for, please share.  There
   are so many variations that it would be hard to cover them all.

   Python version 3.5 has reached "end of life":
   https://www.

[2020-09-15 16:32] zingale commented on #2513
2.  Not all Castro developers write code.  John contributed the initial
   version of the hydro solver (before Castro was in version control)
   and he works on the mathematical aspects of the algorithm
   development (most recently the SDC stuff).

[2020-09-15 16:32] zingale commented on #2513
3. We don't have experience with Paraview, so we will remove it's mention
   from the docs.  All of the developers use yt.

[2020-09-15 16:32] zingale commented on #2513
4. I am not sure if there is something for us to address here

[2020-09-15 16:33] zingale commented on #2513
5. The last section of the README has a link to the castro-help mailing list.
   Further, the mailing list is featured under the "get help" button on the
   main website: https://amrex-astro.github.io/Castro/

[2020-09-15 16:33] zingale commented on #2513
6. We are not sure if there is something for us to address here

[2020-09-15 16:33] zingale commented on #2513
7. The license is OSI approved: https://opensource.org/BSD-3-Clause-LBNL

[2020-09-15 16:34] kbarnhart commented on #2585
@dbuscombe-usgs I've gone ahead and checked all the boxes except for community guidelines (where I think you indicated "no"). You should be able to check them with your mouse. Its not critical though, as you indicated your responses in your comment.

Other than affirming that @elbeejay has addressed your comments at the very end of the review processes you are done. Thanks for a speedy and thought

[2020-09-15 16:36] dbuscombe-usgs commented on #2585
Thanks. Happy to review again! Next time I will make issues for substantial comments, and check the boxes

[2020-09-15 16:37] dbuscombe-usgs commented on #2585
I'm not able to check the boxes, on my Brave browser on linux

[2020-09-15 16:41] sp94 commented on #2239
Thanks for offering your time, everyone

@dpsanders I just noticed that @mdavezac and I are both at Imperial College London, so there could be a perceived conflict of interest. I don't think we've ever met or interacted before so hopefully this can be waived?

[2020-09-15 16:45] dpsanders commented on #2239
Ah sorry for missing that. Let me consult

[2020-09-15 16:56] diehlpk commented on #2403
@whedon accept

[2020-09-15 16:56] whedon commented on #2403
[code]

[2020-09-15 16:56] whedon commented on #2403
[code]

[2020-09-15 16:57] whedon commented on #2403
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1727

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1727, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-15 16:57] diehlpk commented on #2403
@sritchie Congratulations to the accepted paper. @lukasheinrich and @arokem thanks for your review.

[2020-09-15 17:02] kbarnhart commented on #2585
@arfon FYI. If we expect github md checklists to be checkable on Linux + Brave we have a report that they are not check-able. Obviously a minor point, but a datapoint nonetheless.

[2020-09-15 17:05] oliviaguest commented on #2674
Hey 👋 @rougier, @rly: this is where the review will take place. Please make sure to read the instructions above.

For any and all things worthy of discussion or comment, use this issue right here — so drop comments or questions for me, the author, etc., here. For any very code-specific things please feel free to start an issue on the repo of the code itself (if appropriate!) and link back to it fr

[2020-09-15 17:05] oliviaguest commented on #2675
Hey 👋 @matteomancini, @rly: this is where the review will take place. Please make sure to read the instructions above.

For any and all things worthy of discussion or comment, use this issue right here — so drop comments or questions for me, the author, etc., here. For any very code-specific things please feel free to start an issue on the repo of the code itself (if appropriate!) and link back to

[2020-09-15 17:13] galessiorob commented on #2619
@whedon add @atanikan as reviewer

[2020-09-15 17:13] whedon commented on #2619
OK, @atanikan is now a reviewer

[2020-09-15 17:16] fboehm commented on #2521
@whedon generate pdf

[2020-09-15 17:17] whedon commented on #2521
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02521/joss.02521/10.21105.joss.02521.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02521/joss.02521/10.21105.joss.02521.pdf) :page_facing_up: :point_left:

[2020-09-15 17:17] galessiorob commented on #2619
@atanikan & @GregaVrbancic Thank you so much for being reviewers for this paper!

I will close this issue and generate a new one that will contain individual checklists for you to work through. Please let me know if something is not clear or if you need help in any way. Looking forward to collaborating with you! 🎉

[2020-09-15 17:18] galessiorob commented on #2619
@whedon start review

[2020-09-15 17:18] whedon opened #2676 "[REVIEW]: SCALAR - A Platform for Real-time Machine Learning Competitions on Data Streams"
**Submitting author:** @nedRad88 (<a href="http://orcid.org/0000-0001-5056-6270">Nedeljko Radulovic</a>)
**Repository:** <a href="https://github.com/nedRad88/SCALAR" target ="_blank">https://github.com/nedRad88/SCALAR</a>
**Version:** v0.1
**Editor:** @galessiorob
**Reviewers:** @GregaVrbancic, @atanikan, @xiaohk
**Archive:** <a href="https://doi.org/10.5281/zenodo.4299807" target="_blank">10.5281

[2020-09-15 17:18] whedon commented on #2619
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2676.

[2020-09-15 17:18] #2619 closed

[2020-09-15 17:18] whedon commented on #2676
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GregaVrbancic, @atanikan it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2020-09-15 17:18] whedon commented on #2676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02676/joss.02676/10.21105.joss.02676.pdf) :page_facing_up: :point_left:

[2020-09-15 17:18] whedon commented on #2676
[code]

[2020-09-15 17:20] fboehm commented on #2521
@whedon generate pdf

[2020-09-15 17:20] whedon commented on #2521
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02521/joss.02521/10.21105.joss.02521.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02521/joss.02521/10.21105.joss.02521.pdf) :page_facing_up: :point_left:

[2020-09-15 17:29] bmcfee commented on #2450
@whedon set 10.5281/zenodo.4029306 as archive

[2020-09-15 17:29] whedon commented on #2450
OK. <a href="https://doi.org/10.5281/zenodo.4029306" target="_blank">10.5281/zenodo.4029306</a> is the archive.

[2020-09-15 17:30] fboehm commented on #2521
@mdsteiner - The reviewers have recommended publication of your submission. Before we can do that, I need to you to: 1. examine the article pdf proof for errors and 2. archive the package with, for example, zenodo or figshare. Please record and report the version number and archive DOI in this comments thread. Double-check that the metadata for the archived package has the same title and authors l

[2020-09-15 17:30] bmcfee commented on #2450
@whedon set <v1.1.1> as version

[2020-09-15 17:30] whedon commented on #2450
OK. <v1.1.1> is the version.

[2020-09-15 17:31] bmcfee commented on #2450
@whedon accept

[2020-09-15 17:31] whedon commented on #2450
[code]

[2020-09-15 17:31] whedon commented on #2450
[code]

[2020-09-15 17:31] whedon commented on #2450
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1728

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1728, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-15 17:33] kyleniemeyer commented on #2239
@dpsanders @sp94 Thanks for being upfront about that institutional connection—I think this is fine, though, since you have not actually worked together.

[2020-09-15 17:59] elbeejay commented on #2585
Yes we have gotten a bit of a start on addressing those comments. Thanks for the review @dbuscombe-usgs - will let you know once we've addressed everything.

[2020-09-15 18:03] danielskatz commented on #2239
Let me disagree - this is clearly a conflict, and we can waive it, but if there's another option where we don't have to, it would be better - that should be our first choice.

[2020-09-15 18:26] erinyoung commented on #2334
I think I still don't understand how to run the example.

[code]

[2020-09-15 18:42] pibion commented on #2617
@yguitton thanks for letting us know!

[2020-09-15 18:47] pibion commented on #2617
:wave: @florian-huber @biswapriyamisra, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-15 18:48] libertyh commented on #2650
I can still review if you need me! Thanks!

[2020-09-15 19:05] oliviaguest commented on #2650
@whedon add @libertyh as reviewer

[2020-09-15 19:05] whedon commented on #2650
OK, @libertyh is now a reviewer

[2020-09-15 19:06] oliviaguest commented on #2674
@whedon add @libertyh as reviewer

[2020-09-15 19:06] whedon commented on #2674
OK, @libertyh is now a reviewer

[2020-09-15 19:07] oliviaguest commented on #2650
@libertyh awesome — thanks!

[2020-09-15 19:16] toph-allen commented on #1766
Sorry, this email slipped down in my inbox. We decided to withdraw Yenpathy from submission to JOSS — it seems like it's a little under the scope of what qualifies for the journal, and the excellent feedback from the reviewers suggest that to bring it up to snuff, we'd have to do a fair amount of reworking of how it approaches the problem.

The project started life as a kinda hacky way to accompli

[2020-09-15 19:57] nhejazi commented on #2447
Thanks for the quick reply @klmedeiros. That's a great catch, I had missed that I had (at some point recently, I guess) bumped the version of the `haldensify` to 0.0.6 in `txshift` and forgotten to submit that minor release of `haldensify` to CRAN. I've just submitted that CRAN update and will ping here again once 0.0.6 of `haldensify` is on CRAN. This installation error should be taken care of th

[2020-09-15 20:19] pibion commented on #2602
:wave: @garrettj403, @cavestruz, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-15 20:39] kbarnhart commented on #2407
Thanks for these comments @sadielbartholomew. I think that organizing the beginning of the paper either way would be fine. I generally tend towards using descriptive section titles, so I'd lean slightly towards adding them.

[2020-09-15 20:54] KshitijAggarwal commented on #2610
@dfm Is any information required from my end on this?

[2020-09-15 20:55] dfm commented on #2610
Nope. Just working on finding a second reviewer. I'll let you know as soon as I do.

[2020-09-15 21:12] mdavezac commented on #2239
As @sp94 said, I don't think we've interacted in any way either. If needed, I am still open to reviewing this paper.

[2020-09-15 22:09] mkhorton commented on #2563
So I actually am having issues compiling CASTEP (which usually never gives me issues) to be able to fully run the integration tests. My apologies for this, I'll try and get this sorted ASAP. The specific error I'm seeing is:

`Error: Type mismatch between actual argument at (1) and actual argument at (2)`

in case anyone in this thread has suggestions.

[2020-09-15 22:29] lincoln-harris commented on #2432
sorry I've been away for a few weeks. I will work to address https://github.com/czbiohub/cerebra/issues/83#issuecomment-681311968 and do a better job of closing out issues that have been resolved.

[2020-09-15 22:44] jeffcsauer commented on #2450
@bmcfee in my final review of the paper I pushed a few small grammar edits, caught a few typos, and added a missing period. Otherwise it is ready on my end! 👍

[2020-09-15 22:52] JamesPaynter commented on #2536
Thanks! :)

New version v1.0.2

DOI https://doi.org/10.5281/zenodo.4031843

I linked my ORCID id to the Zenodo account, is there more to do to link it to the JOSS paper?

https://orcid.org/0000-0002-9672-4008

[2020-09-15 23:38] cMadan commented on #2669
@samhforbes, thanks for your great work on the review so far! :)

[2020-09-16 01:14] galessiorob commented on #2676
@whedon add @xiaohk as reviewer

[2020-09-16 01:14] whedon commented on #2676
OK, @xiaohk is now a reviewer

[2020-09-16 01:20] galessiorob commented on #2676
👋 @GregaVrbancic , @xiaohk and @atanikan

Thank you all for reviewing for this paper! At the top, you'll find individual checklists to work trough, please let me know if something is not clear or if you need any help.

[2020-09-16 02:39] jpfairbanks commented on #2673
So I have a question about scope. Is the JOSS paper format intended to be a complete description of the code? How much of the "explaining how to use the software" should be delegated to the docs (which will stay up to date).

[2020-09-16 03:05] afrubin commented on #2432
@whedon generate pdf

[2020-09-16 03:06] whedon commented on #2432
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02432/joss.02432/10.21105.joss.02432.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02432/joss.02432/10.21105.joss.02432.pdf) :page_facing_up: :point_left:

[2020-09-16 03:25] afrubin commented on #2432
Looks good to me. My only remaining comment is that there's no API-level documentation for the code itself, and it looks like substantial extra work would be needed to generate the docstrings sphinx.ext.autodoc or similar tools would require.

However, given the focused nature of the software package (being an analysis tool not a library) and the detail in the usage guide, this might be OK. Happy

[2020-09-16 03:34] dpsanders commented on #2673
Thanks @kescobo!

@jpfairbanks: That's a great question.
The JOSS paper is definitely *not* a complete description of the code.

There should be one or a few code snippets giving a feeling for how to use the code, to explain the goals etc. of the software.

The docs should have a complete API description etc.

[2020-09-16 03:42] dpsanders commented on #2182
@joglekara The author list on Zenodo is not correct.

[2020-09-16 03:44] dpsanders commented on #2384
@wilsonrljr The author list on Zenodo does not match the list on the paper.

[2020-09-16 03:45] dpsanders commented on #2182
The author list on Zenodo should match the author list in the paper.

[2020-09-16 03:46] joglekara commented on #2182
on it

[2020-09-16 03:49] joglekara commented on #2182
done, thanks for catching that.

[2020-09-16 03:52] dpsanders commented on #2182
@whedon set 10.5281/zenodo.4026770 as archive

[2020-09-16 03:52] whedon commented on #2182
OK. <a href="https://doi.org/10.5281/zenodo.4026770" target="_blank">10.5281/zenodo.4026770</a> is the archive.

[2020-09-16 03:52] dpsanders commented on #2182
@whedon set v0.1.0 as version

[2020-09-16 03:52] whedon commented on #2182
OK. v0.1.0 is the version.

[2020-09-16 03:52] dpsanders commented on #2182
@whedon accept

[2020-09-16 03:52] whedon commented on #2182
[code]

[2020-09-16 03:53] whedon commented on #2182
[code]

[2020-09-16 03:53] whedon commented on #2182
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1729

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1729, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-16 03:56] dpsanders commented on #2673
@jpfairbanks You can find review criteria here:

https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-16 03:57] dpsanders commented on #2673
The idea is for the paper to be relatively short, with the main documentation in the software repository itself.

[2020-09-16 03:59] jpfairbanks commented on #2673
Thanks, I had read some of that language above in this thread and got confused because it talks about API docs, but I’m supposed to check that the API is documented in the actual manual. Not that the paper contains docs. This now makes sense. BTW I can’t mark the checkboxes in the checklist. Am I supposed to have different repo privs or something?

[2020-09-16 04:05] dpsanders commented on #2239
Thanks @mdavezac and apologies for the situation.

:wave: @datseris and @nmoran: Would you be able to review this submission to JOSS?

[2020-09-16 04:18] dpsanders commented on #2673
OK, let me know if the wording can be improved.

I believe that you should have got an invitation to the JOSS account giving you those privileges?

[2020-09-16 04:37] dpsanders commented on #2648
👋 @robfalck: Thanks for your submission to JOSS!

Reading through the paper I have a few initial comments:

- I don't feel that the paper is currently accessible to non-experts in the field. As an example, it's not clear how ODEs (which is never defined) are related to the rest of the story, and you seem to assume knowledge of OpenMDAO itself.

- It's not clear what is provided by OpenMDAO and wha

[2020-09-16 04:56] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-09-16 04:56] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-16 06:03] gdede-hua commented on #2605
@alexssandrofc Thank you very much. I checked the article proof. It's correct.

@sbenthall Thank you for your support. The article proof is correct. So if you wish we are ready to proceed with the review.

[2020-09-16 06:30] sjpfenninger commented on #2666
@brynpickering, @dalonsoa would you be able to review this submission for JOSS?

[2020-09-16 06:56] bstabler commented on #2655
@danielskatz - I am interested in learning more about Julia.  However, I just read the paper and I don't think it's a good fit for my expertise either.  I can shepherd it along though if needed.  Thanks.

[2020-09-16 06:58] bstabler commented on #2409
I think @mikejohnson51 must be too bust or something so we need another reviewer.  Let me unassign him and look for another reviewer.

[2020-09-16 06:58] bstabler commented on #2409
@whedon remove @mikejohnson51 as reviewer

[2020-09-16 06:58] whedon commented on #2409
OK, @mikejohnson51 is no longer a reviewer

[2020-09-16 07:01] bstabler commented on #2588
@danielskatz - I just read the paper and I don't think it's a good fit for my expertise.

@tomazbregar - I noticed a typo in the paper - "opensource" needs a space.

[2020-09-16 07:12] holukas commented on #2575
Hi @r-barnes! Can you get in contact with me via email (lukas.hoertnagl [at] usys.ethz.ch) so we can set up the guest account for the review?

[2020-09-16 07:23] nuest commented on #2409
@lydialucchesi Thanks for the update!

I strongly recommend not to put docx files under version control - it is effectively a ZIP archive that git cannot effectively track changes over time with. Why not use a plain text file, with Markdown formatting?

[2020-09-16 07:30] bstabler commented on #2572
Hi @SteveMacenski - I finally read the paper.  I have a couple small comments on the paper while we look for reviewers:
  - there is a typo "proided"
  - an explicit Statement of Need section needs to be added
  - the Configuration section of the paper is not needed and should probably instead be in the online and/or package documentation

@carlosjoseRG, @mosteo, @muhaochen, @breznak, @jcarpent, o

[2020-09-16 07:34] tomazbregar commented on #2588
@bstabler - Thank you for spotting the typo, I have corrected it in the paper.

[2020-09-16 07:59] mjsottile commented on #2533
👋 @kaustubh-sadekar I wanted to check to see if you were proceeding with the changes requested as part of the review.  I want to make sure the submission doesn’t go stale and get forgotten.

[2020-09-16 08:06] sjpfenninger commented on #2620
@whedon add @willu47 as reviewer

[2020-09-16 08:06] whedon commented on #2620
OK, @willu47 is now a reviewer

[2020-09-16 08:07] sjpfenninger commented on #2620
@TheoChristiaanse Thanks -- the links at https://besos.uvic.ca/#documentation still don't work for me. I'll leave it up to the reviewers to examine the updated docs more closely, but at first glance it's now clearer how the package relates to the platform.

[2020-09-16 08:07] sjpfenninger commented on #2620
@whedon start review

[2020-09-16 08:07] whedon opened #2677 "[REVIEW]: BESOS: Building and Energy Systems Optimization and Surrogate-modelling"
**Submitting author:** @TheoChristiaanse (<a href="http://orcid.org/0000-0003-4082-3338">Theodor Victor Christiaanse</a>)
**Repository:** <a href="https://gitlab.com/energyincities/besos/" target ="_blank">https://gitlab.com/energyincities/besos/</a>
**Version:** 2.1.3
**Editor:** @sjpfenninger
**Reviewer:** @fneum, @willu47
**Archive:** <a href="https://doi.org/10.5281/zenodo.4667614" target="_bl

[2020-09-16 08:07] whedon commented on #2620
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2677.

[2020-09-16 08:07] #2620 closed

[2020-09-16 08:07] whedon commented on #2677
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fneum, @willu47 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2020-09-16 08:08] sjpfenninger commented on #2620
@fneum , @willu47 thanks for agreeing to review. Let's head over to #2677  for the actual review!

[2020-09-16 08:09] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2020-09-16 08:27] kaustubh-sadekar commented on #2533
Yes, definitely @mjsottile . I have made several changes based on valuable guidance and suggestions by @nnadeau and I am improving things further. I have also added comments on respective open issues to update about my progress. I am giving my best efforts to make all the suggested changes. Thank you very much for checking in.

[2020-09-16 09:33] katjaq commented on #2667
Thank you for the quick reply, Arfon.

@oliviaguest : I deleted the corresponding author part from the paper.md file (nothing in the paper changed)--> Do I ask the whedon bot here in this thread to recompile the paper, or over in the review thread? Or do you ask for recompilation as it is already under review? Thank you :)

[2020-09-16 09:37] xuanxu commented on #2536
It's already in the [metadata of the paper](https://github.com/JamesPaynter/PyGRB/blob/master/joss_paper/paper.md)

[2020-09-16 09:38] xuanxu commented on #2536
@whedon set v1.0.2 as version

[2020-09-16 09:38] whedon commented on #2536
OK. v1.0.2 is the version.

[2020-09-16 09:38] xuanxu commented on #2536
@whedon set 10.5281/zenodo.4031843 as archive

[2020-09-16 09:38] whedon commented on #2536
OK. <a href="https://doi.org/10.5281/zenodo.4031843" target="_blank">10.5281/zenodo.4031843</a> is the archive.

[2020-09-16 09:42] arfon commented on #2667
@whedon generate pdf from branch joss-paper-branch

@katjaq - anyone can ask Whedon to compile a paper whenever needed like this ☝️

[2020-09-16 09:42] whedon commented on #2667
[code]

[2020-09-16 09:43] whedon commented on #2667
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02667/joss.02667/10.21105.joss.02667.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02667/joss.02667/10.21105.joss.02667.pdf) :page_facing_up: :point_left:

[2020-09-16 09:45] xuanxu commented on #2536
@JamesPaynter A last change: The title was missing a capitalization. Please take a look at the PR I just opened in your repo, and change also the title in the zenodo page.

[2020-09-16 10:15] JolleJolles commented on #2584
I have now included a python test file in the package (`tests/test.py`) to run all functionalities, including running pirecorder, setting configuration files, running different types of recordings, scheduling recordings, converting recordings, and testing the stream and camconfig interactive functions. The possibility to test the software is also described in the README and in the online documenta

[2020-09-16 10:36] mdsteiner commented on #2521
Thanks @fboehm! We have checked the pdf proof and everything looks fine. The package is now archived as version 0.2.0 on zenodo with the archive DOI [10.5281/zenodo.4032509](https://zenodo.org/record/4032509)

Thanks again @chainsawriot and @jacobsoj for the many helpful comments and suggestions!

[2020-09-16 10:37] JamesPaynter commented on #2536
Merged and updated in Zenodo :)

[2020-09-16 10:37] xuanxu commented on #2536
@whedon accept

[2020-09-16 10:38] whedon commented on #2536
[code]

[2020-09-16 10:38] whedon commented on #2536
[code]

[2020-09-16 10:39] whedon commented on #2536
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1730

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1730, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-16 11:05] rcarragh commented on #2659
@csoneson - I have fixed the DESCRIPTION/LICENSE file issue and added a new directory to the repository called "test".
This contains a README explaining the contents of the directory.
The are tests for package functionality, covering all the main use cases and there are demonstration code files for the package in the
subdirectory ./demo.

Starting from the bottom of the spreadsheet a couple of pos

[2020-09-16 11:23] marcosvital commented on #2635
Hi @Manolomon, since we still got only one confirmed reviewer, I'll try to find and contact a few more, so hopefully we will be able to move on soon.

[2020-09-16 11:33] marcosvital commented on #2635
Dear @62442katieb, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review,

[2020-09-16 11:41] flokno commented on #2671
@jgostick in case you don't find a second reviewer: I talked to [at]ajjackson at some earlier point and he was interested to review this.

@keipertk thanks for the feedback. Indeed we didn't formally include contribution guidelines, we'll add them.

[2020-09-16 11:42] lpantano commented on #2432
Thanks everybody! I think they didn't aim the tool as a library, and I will feel ok not to mention the API. Although it could be a goal in the long term.

@afrubin, @betteridiot can you check all the items in the review list in the first comment of this review if you agree all has been addressed?

If they check all the items, @lincoln-harris, can you confirm the latest version, and prepare an arch

[2020-09-16 11:50] lydialucchesi commented on #2409
@nuest Good idea. I have made the switch, and the new file can be found here: https://github.com/lydialucchesi/Vizumap/blob/master/paper/revisions.md. Thanks, Lydia

[2020-09-16 12:08] danielskatz commented on #2588
Thanks - The currently on-duty AEiC will take over on the editor assignment

[2020-09-16 12:18] jboynyc commented on #2594
I made a minor update to the paper noting the ability to [install from conda-forge](https://anaconda.org/conda-forge/textnets).

@whedon generate pdf from branch joss

[2020-09-16 12:22] pdebuyl commented on #2436
@whedon generate pdf

[2020-09-16 12:23] whedon commented on #2436
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: :point_left:

[2020-09-16 12:41] jboynyc commented on #2594
@whedon generate pdf from branch joss

[2020-09-16 12:41] whedon commented on #2594
[code]

[2020-09-16 12:41] whedon commented on #2594
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02594/joss.02594/10.21105.joss.02594.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02594/joss.02594/10.21105.joss.02594.pdf) :page_facing_up: :point_left:

[2020-09-16 13:05] garrettj403 commented on #2602
Hi @pibion , sorry I don't have the time right now. Looks like an interesting project though!

[2020-09-16 13:37] fboehm commented on #2521
@whedon set 10.5281/zenodo.4032509 as archive

[2020-09-16 13:37] whedon commented on #2521
OK. <a href="https://doi.org/10.5281/zenodo.4032509" target="_blank">10.5281/zenodo.4032509</a> is the archive.

[2020-09-16 13:38] fboehm commented on #2521
@whedon accept

[2020-09-16 13:38] whedon commented on #2521
[code]

[2020-09-16 13:39] whedon commented on #2521
[code]

[2020-09-16 13:39] whedon commented on #2521
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1731

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1731, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-16 13:41] fboehm commented on #2521
Thank you, @mdsteiner for the archiving. Thanks to @jacobsoj and @chainsawriot for excellent work on the reviews. The submission is now recommended for acceptance. The editors in chief will make a final review.

[2020-09-16 13:41] marouenbg commented on #2644
Hi @sjpfenninger ,
I finished my review, @Christopher-Khan addressed all of the comments either through additional experiments and implementation, new manuscript sections, and through point-by-point rebuttal.

[2020-09-16 13:42] jgostick commented on #2671
Thanks @flokno I will ask them.

Hi @ajjackson, your name has been suggested as a reviewer for this submission by @flokno.  I am in need of a second reviewer, so your time would be much appreciated.

[2020-09-16 13:49] DerJH commented on #2584
I am also convinced that this is some installation hiccup with python and opencv on my side. I will try to check this on a fresh install in the coming days. But given that it worked for @lucask07 it should not hinder the publication.

[2020-09-16 14:34] sritchie commented on #2403
Thanks all!!

[2020-09-16 14:35] bmcfee commented on #2450
Thanks for the final pass @jeffcsauer !  At this point it's ready to bump up to the EICs.

[2020-09-16 14:35] bmcfee commented on #2450
@whedon generate pdf

[2020-09-16 14:38] whedon commented on #2450
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02450/joss.02450/10.21105.joss.02450.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02450/joss.02450/10.21105.joss.02450.pdf) :page_facing_up: :point_left:

[2020-09-16 15:12] pibion commented on #2602
@garrettj403 I definitely understand 👍

Thanks for letting us know!

[2020-09-16 15:21] mstaring commented on #2633
I am less into the code with this, but perhaps @hsokooti may be interested.

[2020-09-16 15:42] pibion commented on #2602
@Teuben, @Deech08, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-16 15:49] Datseris commented on #2673
For this paper you can consider myself the corresponding author (if need be).

[2020-09-16 15:57] Datseris commented on #2239
Hi @dpsanders , thanks for letting me know. If you had asked one year in the past, I would be happy to review this. But unfortunately at this point in time I neither work in condensed matter, but I am also in a period of preparing several papers in parallel and lack the bandwidth to review this properly :(

[2020-09-16 15:58] ml-evs commented on #2563
That looks like the classic Fortran compiler error when the code is missing an `implicit none`, but I'd be surprised if that was the case... I assume this is with gfortran (and perhaps a more recent one?) I've certainly compiled CASTEP with gfortran 8 with no problems in the recent past. Perhaps you could post your compiler/arch and the error dump I can try to be more helpful (here or elsewhere)?

[2020-09-16 16:06] nmoran commented on #2239
Hi @dpsanders, I'm happy to take a look at reviewing this work. It would be my first review for JOSS so wondering if there are some reviewing guidelines or example reviews I could look at?

[2020-09-16 16:08] kyleniemeyer commented on #1766
@toph-allen Thanks for the update, and I do understand.

Thanks also to @corybrunson and @szhorvat for your feedabck!

[2020-09-16 16:08] kyleniemeyer commented on #1766
@whedon withdraw

[2020-09-16 16:08] whedon commented on #1766
Paper withdrawn.

[2020-09-16 16:08] #1766 closed

[2020-09-16 16:11] kyleniemeyer commented on #2239
@nmoran just jumping in here: we do have explicit [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html), and in fact when the actual review begins (in a new GitHub issue), you will have a checklist to work through.

Thanks for your willingness to review this submission!

[2020-09-16 16:18] dpsanders commented on #2239
Thanks @nmoran! And thanks @kyleniemeyer for the pointer.

If you browse through recent [papers published by JOSS](https://joss.theoj.org), each of them links to the open review, so you can get an idea of how they are carried out.

[2020-09-16 16:18] dpsanders commented on #2239
@whedon add mlxd as reviewer

[2020-09-16 16:18] whedon commented on #2239
OK, mlxd is now a reviewer

[2020-09-16 16:18] dpsanders commented on #2239
@whedon add @nmoran as reviewer

[2020-09-16 16:18] dpsanders commented on #2239
@whedon start review

[2020-09-16 16:18] whedon commented on #2239
OK, @nmoran is now a reviewer

[2020-09-16 16:18] whedon opened #2678 "[REVIEW]: Peacock.jl: Photonic crystals in Julia"
**Submitting author:** @sp94 (<a href="http://orcid.org/0000-0003-0485-7047">Samuel John Palmer</a>)
**Repository:** <a href="https://github.com/sp94/Peacock.jl" target ="_blank">https://github.com/sp94/Peacock.jl</a>
**Version:** 0.1.1
**Editor:** @dpsanders
**Reviewer:** @mlxd, @nmoran
**Archive:** <a href="https://doi.org/10.5281/zenodo.4097236" target="_blank">10.5281/zenodo.4097236</a>

**:wa

[2020-09-16 16:18] whedon commented on #2239
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2678.

[2020-09-16 16:18] #2239 closed

[2020-09-16 16:18] whedon commented on #2678
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mlxd, @nmoran it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.j

[2020-09-16 16:19] nmoran commented on #2239
Thanks @dpsanders  and @kyleniemeyer

[2020-09-16 16:19] whedon commented on #2678
[code]

[2020-09-16 16:19] whedon commented on #2678
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: :point_left:

[2020-09-16 16:19] bblodfon commented on #2583
Hi @mikldk, any update from the reviewer?

[2020-09-16 16:27] KristinaRiemer commented on #2424
@kullrich it's all good, just wanted to check in. These are especially difficult times.

[2020-09-16 16:43] sp94 commented on #2678
@whedon check references

[2020-09-16 16:43] whedon commented on #2678
[code]

[2020-09-16 16:51] govarguz commented on #2576
@valeriewelborn I have submitted my review to your JOSS Ms. I have made 3 suggestions to the Ms. as seen in [here](https://github.com/WelbornGroup/ELECTRIC/issues/19). Those points may also clarify the concept of ELECTRIC and what is behind. Moreover, clearly show where the ELECTRIC contribution is (e.g. through a flowchart diagram).
Another very minor comment for the Authors affiliation, do you n

[2020-09-16 16:51] sp94 commented on #2678
@whedon generate pdf

[2020-09-16 16:52] whedon commented on #2678
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: :point_left:

[2020-09-16 16:56] sp94 commented on #2678
@whedon generate pdf

[2020-09-16 16:57] whedon commented on #2678
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02678/joss.02678/10.21105.joss.02678.pdf) :page_facing_up: :point_left:

[2020-09-16 17:29] pdebuyl commented on #2436
@whedon generate pdf

[2020-09-16 17:29] whedon commented on #2436
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: :point_left:

[2020-09-16 17:30] lucask07 commented on #2584
Hi @DerJH, unfortunately, I do not have a Raspberry Pi and so am not able to test for functionality.

[2020-09-16 17:35] lucask07 commented on #2584
@JolleJolles
Looks great that most issues are closed. I'm OK with signing off on publication once the wording on **camera calibration** is cleared up in the paper.  Note that I will need to leave the functionality verification box unchecked since I lack the hardware.

[2020-09-16 17:38] majensen commented on #2587
Hey @tvalerius - I'm a topic editor for the online [Journal of Open Source Software](https://joss.theoj.org), and I was thinking that [this work](#2587) would be right up your alley. Would you be willing to contribute your expertise on a review?
All reviews are open and performed online here in GitHub. [Here is an overview of the process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.h

[2020-09-16 17:50] kyleniemeyer commented on #2450
@whedon accept deposit=true

[2020-09-16 17:51] whedon commented on #2450
[code]

[2020-09-16 17:51] whedon commented on #2450
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1306289665251704834) 👈 🐦🐦🐦

[2020-09-16 17:51] whedon commented on #2450
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1732
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02450](https://doi.org/10.21105/joss.02450)
2. If everything looks g

[2020-09-16 18:00] mikldk commented on #2583
@Athanasiamo, @neerajdhanraj: Would one of you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2020-09-16 18:02] kyleniemeyer commented on #2450
Congrats @jeffcsauer on your article's publication in JOSS!

Many thanks to @jaeyk and @edonnachie for reviewing this, and @bmcfee for editing.

[2020-09-16 18:02] #2450 closed

[2020-09-16 18:02] whedon commented on #2450
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02450/status.svg)](https://doi.org/10.21105/joss.02450)

**We need your help!**

Journal of Open Source Softwa

[2020-09-16 18:03] neerajdhanraj commented on #2583
I would like to review it for JoSS.

Regards,

Neeraj

On Wed, 16 Sep, 2020, 11:30 PM Mikkel Meyer Andersen, <
notifications@github.com> wrote:

[2020-09-16 18:05] mikldk commented on #2583
@whedon remove @sahilseth as reviewer

[2020-09-16 18:05] whedon commented on #2583
OK, @sahilseth is no longer a reviewer

[2020-09-16 18:06] mikldk commented on #2583
@whedon add @neerajdhanraj as reviewer

[2020-09-16 18:06] whedon commented on #2583
OK, @neerajdhanraj is now a reviewer

[2020-09-16 18:07] SteveMacenski commented on #2572
Hi,

Thanks for the review!
- Typo fixed
- I'd be happy to. Should this be another section in the paper? I based my format on [this](https://joss.theoj.org/papers/10.21105/joss.01531) and [this](https://joss.theoj.org/papers/10.21105/joss.00456) paper in JOSS in the robotics space, which have that built into the summary. I can reiterate the statement of need in a separate section if that would be

[2020-09-16 18:08] mikldk commented on #2583
Thanks, @neerajdhanraj. I have changed the checklist etc. above to you. I hope you are able to use it now?

[2020-09-16 18:46] neerajdhanraj commented on #2583
Thank you so much. But, sorry to say, I am unable to find the manuscript related to the package. This is my first time to review this journal and on GitHub. Can you please let me know where I can see the manuscript?

[2020-09-16 18:48] kyleniemeyer commented on #2403
Hi @sritchie, I'm doing some final checks on your submission. In the paper, it looks like the Forde et al. and Zaharia et al. references may be missing some details. Also, please look at the other references, and add curly braces `{}` around words to enforce capitalization where appropriate (e.g., "IEEE", "Linux").

[2020-09-16 18:51] s-goldman commented on #2554
Fixed in Issue [#164](https://github.com/s-goldman/Dusty-Evolved-Star-Kit/pull/164)

All other issues opened for the JOSS review (up-to-this-point) have been addressed.

[2020-09-16 19:10] 62442katieb commented on #2635
Hi @marcosvital! Sure, I'd be happy to review this submission.

[2020-09-16 19:16] mikldk commented on #2583
@whedon generate pdf

[2020-09-16 19:17] whedon commented on #2583
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02583/joss.02583/10.21105.joss.02583.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02583/joss.02583/10.21105.joss.02583.pdf) :page_facing_up: :point_left:

[2020-09-16 19:21] mikldk commented on #2583
There it is, @neerajdhanraj ^

[2020-09-16 19:28] nhejazi commented on #2447
Quick update: `haldensify` v0.0.6 is now available on CRAN, so the installation issue should be resolved. I've also made a few changes for CRAN submission of the package, which is now in process. If the review is complete, I'll go ahead and merge https://github.com/nhejazi/txshift/pull/60. Are we all set @joethorley @klmedeiros @marcosvital?

[2020-09-16 19:29] Deech08 commented on #2554
@arfon - Everything looks to be in good working order from my checks and @s-goldman handled all the issues I raised. I'm happy with the state of things currently so it's all good to go for me unless other major changes come up from @TomGoffrey

[2020-09-16 19:38] Deech08 commented on #2602
@pibion - Apologies, but I don't think I can put in the time right now to handle this review.

[2020-09-16 19:41] joethorley commented on #2447
@nhejazi - I am

[2020-09-16 19:59] klmedeiros commented on #2447
@nhejazi In my opinion, yes! g2g

[2020-09-16 20:04] jpfairbanks commented on #2673
I think that this is a great tool and a great write-up that sufficiently introduces the software, situates it in the relevant prior art and motivates me to adopt the software based on claimed benefits. The benefits of better simulation data management is obvious to anyone who has analyzed the performance, accuracy, or predictions of a computer simulation. There is no empirical evidence of efficien

[2020-09-16 20:19] nmoran commented on #2678
Myself and @mlxd are current colleagues at the same centre (ICHEC). I did not see anything specific mentioned in the COI policy that would make this a conflict of interest but thought I would check just in case?

[2020-09-16 20:37] Datseris commented on #2673
Thank you for the review @jpfairbanks , [CaosDB](https://caosdb.org/) is a RDBMS (I believe, although the creators name it Scientific Data Management System), and has been developed by scientists for scientists. We plan to integrate DrWatson with CaosDB.jl once a sufficiently stable Julia implementation exists. I believe once such an integration is in order, your concerns about the lack of data ma

[2020-09-16 20:37] dpsanders commented on #2678
Thanks for pointing that out. I'll look for an additional reviewer then.

[2020-09-16 20:41] jpfairbanks commented on #2673
That sounds great, then I would request that the article describe the limitation of DrWatson for organizing or querying the resulting data and that you would use DrWatson for tracking the data generation processes and then ETL it into CaosDB for querying. Describing that as future work would be appropriate.

[2020-09-16 20:43] sritchie commented on #2403
@whedon generate pdf

[2020-09-16 20:44] kthyng commented on #2341
@pfeiffea Sorry I missed this before.

But, it's also not up to me to decide if you have addressed reviewer comments, it is up to the reviewer. @zsylvester how are things looking from your perspective?

[2020-09-16 20:44] whedon commented on #2403
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: :point_left:

[2020-09-16 20:45] sritchie commented on #2403
@kyleniemeyer , just took another pass and I think we're set here.

[2020-09-16 20:54] Datseris commented on #2673
Fair point, addressed in https://github.com/JuliaDynamics/DrWatson.jl/commit/bbe9a83dffc0e13d96285c8713db93ac1b695e89 .

[2020-09-16 20:57] sbenthall commented on #2605
OK, super @gdede-hua

@remram44 and @alexssandrofc please continue your reviews :)

[2020-09-16 21:01] sbenthall commented on #2655
This one is up my alley. I can edit it.

[2020-09-16 21:01] sbenthall commented on #2655
@whedon assign me as editor

[2020-09-16 21:01] whedon commented on #2655
OK, the editor is @sbenthall

[2020-09-16 21:04] sbenthall commented on #2655
@r-barnes would you be able to review this article?

[2020-09-16 21:05] sbenthall commented on #2655
@pandaconstantin would you be able to review this article?

[2020-09-16 21:13] zsylvester commented on #2341
@kthyng @pfeiffea Everything looks fine to me!

[2020-09-16 21:23] Datseris commented on #2673
@whedon generate pdf

[2020-09-16 21:25] whedon commented on #2673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: :point_left:

[2020-09-16 22:34] rafaelfsilva commented on #2664
@iaklampanos, I was checking the review process guidelines for JOSS and one of the criteria is **Contribution and authorship**, which states that the person submitting the paper should have done major contributions to the software. Looking into the DARE repository, I observed that you have done contributions to the software, but mostly to the JOSS paper. I have also noticed that the second author

[2020-09-16 23:01] diehlpk commented on #2403
@sritchie For the second reference ieee should be IEEE.

[2020-09-16 23:08] kyleniemeyer commented on #2521
@whedon accept deposit=true

[2020-09-16 23:08] whedon commented on #2521
[code]

[2020-09-16 23:09] whedon commented on #2521
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1306369712570458113) 👈 🐦🐦🐦

[2020-09-16 23:09] whedon commented on #2521
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1733
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02521](https://doi.org/10.21105/joss.02521)
2. If everything looks g

[2020-09-16 23:11] sritchie commented on #2403
@whedon generate pdf

[2020-09-16 23:11] sritchie commented on #2403
@diehlpk I'll figure this out someday... nice catch, fixed!

[2020-09-16 23:12] whedon commented on #2403
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: :point_left:

[2020-09-16 23:12] kyleniemeyer commented on #2521
Congrats @mdsteiner on your article's publication in JOSS!

Many thanks to @jacobsoj and @chainsawriot for reviewing this, and @fboehm for editing.

[2020-09-16 23:12] #2521 closed

[2020-09-16 23:13] whedon commented on #2521
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02521/status.svg)](https://doi.org/10.21105/joss.02521)

**We need your help!**

Journal of Open Source Softwa

[2020-09-16 23:18] iaklampanos commented on #2664
Hello @rafaelfsilva and thanks for agreeing to review our submission.

The DARE platform, main technical product of the H2020 DARE project, comprises multiple repositories and software owned by different entities (people and organisations), as mentioned in the paper. I have authored one of the components (the d4p-registry registry) and I am the technical coordinator of the project, responsible for

[2020-09-16 23:32] kyleniemeyer commented on #2403
Hey @sritchie, looks like the Forde et al. reference is still missing something. Where was that published—a journal, or on a website, or something?

[2020-09-16 23:46] sritchie commented on #2403
@kyleniemeyer , I took the bibtex entry from here: https://scholar.google.com/scholar?q=Reproducing+%7BMachine+%7BLearning+%7BResearch+on+%7BBinder&hl=en&as_sdt=0&as_vis=1&oi=scholart:

[code]

![image](https://user-images.githubusercontent.com/69635/93403272-40644880-f844-11ea-9726-bc6581a7be6a.png)

It lives on OpenReview.net: https://openreview.net/forum?id=BJlR6KTE3X

and was published at NIPS

[2020-09-16 23:52] sritchie commented on #2403
@whedon generate pdf

[2020-09-16 23:53] whedon commented on #2403
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02403/joss.02403/10.21105.joss.02403.pdf) :page_facing_up: :point_left:

[2020-09-16 23:58] kyleniemeyer commented on #2536
Hi @JamesPaynter, just doing some final checks.

- In the Statement of Need in the paper, can you explain what FITS and BATSE mean?
- In the first sentence of the PyGRB section, "to" is missing between "aims bring"
- In the beginning sentence of the next paragraph, write out "four" instead of "4"
- The Ashton et al. reference looks like it is missing the journal name

Actually, it looks like many/

[2020-09-17 00:09] kyleniemeyer commented on #2403
@sritchie yeah, unfortunately Google Scholar's BiBTeX generation only seems to work consistently for regular journal articles.

[2020-09-17 00:09] kyleniemeyer commented on #2403
@whedon accept

[2020-09-17 00:09] whedon commented on #2403
[code]

[2020-09-17 00:10] whedon commented on #2403
[code]

[2020-09-17 00:10] whedon commented on #2403
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1734

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1734, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-17 00:13] kyleniemeyer commented on #2403
@whedon accept deposit=true

[2020-09-17 00:13] whedon commented on #2403
[code]

[2020-09-17 00:14] whedon commented on #2403
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1306386046695944194) 👈 🐦🐦🐦

[2020-09-17 00:14] whedon commented on #2403
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1735
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02403](https://doi.org/10.21105/joss.02403)
2. If everything looks g

[2020-09-17 00:16] kyleniemeyer commented on #2403
Congrats @sritchie on your article's publication in JOSS!

Many thanks to @lukasheinrich and @arokem for reviewing this, and @diehlpk for editing it.

[2020-09-17 00:16] #2403 closed

[2020-09-17 00:16] whedon commented on #2403
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02403/status.svg)](https://doi.org/10.21105/joss.02403)

**We need your help!**

Journal of Open Source Softwa

[2020-09-17 00:39] kyleniemeyer commented on #2182
Hi @joglekara, just doing some final checks on the submission.

In the paper:
- In the first sentence, change "1-" to "one-" in both places
- in the second paragraph, please change `(see [@Betti2016; ...` to something like just `[@Betti2016; ...`, or `(see @Betti2016; ...`. The example reference command variants are given at https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-b

[2020-09-17 00:42] whedon opened #2679 "[PRE REVIEW]: Thermosteam: BioSTEAM's Premier Thermodynamic Engine"
**Submitting author:** @yoelcortes (<a href="http://orcid.org/0000-0003-1742-5059">Yoel Cortes-Pena</a>)
**Repository:** <a href="https://github.com/BioSTEAMDevelopmentGroup/thermosteam" target ="_blank">https://github.com/BioSTEAMDevelopmentGroup/thermosteam</a>
**Version:** 0.20.26
**Editor:** @kyleniemeyer
**Reviewers:** @decaluwe, @fwitte
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduc

[2020-09-17 00:42] whedon commented on #2679
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-17 00:43] whedon commented on #2679
PDF failed to compile for issue #2679 with the following error:

 Can't find any papers to compile :-(

[2020-09-17 00:44] whedon commented on #2679
Failed to discover a `Statement of need` section in paper

[2020-09-17 00:44] kyleniemeyer commented on #2679
Hey @openjournals/dev, I can see the paper in the `docs/paper` directory in the repo (https://github.com/BioSTEAMDevelopmentGroup/thermosteam/tree/master/docs/paper), any idea why whedon can't find it?

[2020-09-17 00:44] whedon commented on #2679
[code]

[2020-09-17 00:47] kyleniemeyer commented on #2679
Hi @yoelcortes, thanks for your submission to JOSS! We'll use this issue to identify reviewers and resolve any technical issues (like our friendly bot not being able to find the paper).

I will be serving as editor for this; I have a few potential reviewers in mind, but any suggestions you have are also welcome.

[2020-09-17 00:47] kyleniemeyer commented on #2679
@whedon assign @kyleniemeyer as editor

[2020-09-17 00:47] whedon commented on #2679
OK, the editor is @kyleniemeyer

[2020-09-17 00:48] kyleniemeyer commented on #2588
@whedon assign @kyleniemeyer as editor

[2020-09-17 00:48] whedon commented on #2588
OK, the editor is @kyleniemeyer

[2020-09-17 00:49] kyleniemeyer commented on #2588
Hi @tomazbregar, I will now be starting to find reviewers for your submission. Do you have any reviewer suggestions?

[2020-09-17 00:53] whedon opened #2680 "[PRE REVIEW]: Mangal.jl and EcologicalNetworks.jl: Two complementary packages for analyzing ecological networks in Julia"
**Submitting author:** @FrancisBanville (<a href="http://orcid.org/0000-0001-9051-0597">Francis Banville</a>)
**Repository:** <a href="https://github.com/EcoJulia/EcologicalNetworks.jl" target ="_blank">https://github.com/EcoJulia/EcologicalNetworks.jl</a>
**Version:** v0.3.0
**Editor:** @KristinaRiemer
**Reviewers:** @kellykochanski, @arbennett
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS re

[2020-09-17 00:53] whedon commented on #2680
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-17 00:54] whedon commented on #2680
[code]

[2020-09-17 00:54] whedon commented on #2680
PDF failed to compile for issue #2680 with the following error:

 Can't find any papers to compile :-(

[2020-09-17 00:55] kyleniemeyer commented on #2680
@whedon generate pdf from branch joss-manuscript

[2020-09-17 00:55] whedon commented on #2680
[code]

[2020-09-17 00:57] whedon commented on #2680
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02680/joss.02680/10.21105.joss.02680.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02680/joss.02680/10.21105.joss.02680.pdf) :page_facing_up: :point_left:

[2020-09-17 00:59] kyleniemeyer commented on #2680
Hi @FrancisBanville, thanks for your submission to JOSS. We'll be using this issue to assign the editor and reviewers, and also get any technical/logistical issues out of the way.

[2020-09-17 01:00] whedon opened #2681 "[PRE REVIEW]: AuthorRank: A Python package for to finding the most prestigious authors in a scientific collaboration network"
**Submitting author:** @vc1492a (<a href="http://orcid.org/0000-0002-5279-4143">Valentino Constantinou</a>)
**Repository:** <a href="https://github.com/adidier17/AuthorRank" target ="_blank">https://github.com/adidier17/AuthorRank</a>
**Version:** 0.1.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2020-09-17 01:00] whedon commented on #2681
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-17 01:00] whedon commented on #2681
Failed to discover a `Statement of need` section in paper

[2020-09-17 01:00] whedon commented on #2681
[code]

[2020-09-17 01:01] whedon commented on #2681
[code]

[2020-09-17 01:01] whedon commented on #2681
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02681/joss.02681/10.21105.joss.02681.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02681/joss.02681/10.21105.joss.02681.pdf) :page_facing_up: :point_left:

[2020-09-17 01:04] kyleniemeyer commented on #2681
@whedon query scope

[2020-09-17 01:04] whedon commented on #2681
Submission flagged for editorial review.

[2020-09-17 01:06] kyleniemeyer commented on #2604
@whedon re-invite @cryos as reviewer

[2020-09-17 01:06] whedon commented on #2604
OK, the reviewer has been re-invited.

@cryos please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-17 01:07] kyleniemeyer commented on #2604
@cryos sorry I missed your previous message—you should be able to accept the above invitation to review.

@jdber1 please work on addressing @rajeshrinet's comments

[2020-09-17 01:17] whedon opened #2682 "[PRE REVIEW]: Bempp-cl: A fast Python based just-in-time compiling boundary element library."
**Submitting author:** @mscroggs (<a href="http://orcid.org/0000-0002-4658-2443">Matthew Scroggs</a>)
**Repository:** <a href="https://github.com/bempp/bempp-cl" target ="_blank">https://github.com/bempp/bempp-cl</a>
**Version:** v0.2.1
**Editor:** @meg-simula
**Reviewers:** @jamtrott, @ramisetti
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-09-17 01:17] whedon commented on #2682
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-17 01:18] whedon commented on #2682
[code]

[2020-09-17 01:18] whedon commented on #2682
Failed to discover a `Statement of need` section in paper

[2020-09-17 01:18] whedon commented on #2682
[code]

[2020-09-17 01:19] whedon commented on #2682
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02682/joss.02682/10.21105.joss.02682.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02682/joss.02682/10.21105.joss.02682.pdf) :page_facing_up: :point_left:

[2020-09-17 01:22] kyleniemeyer commented on #2682
Hi @meg-simula, can you edit this submission?

@mscroggs we'll be using this issue to get things started, including finding reviewers—any suggestions you have are welcome.

[2020-09-17 01:22] kyleniemeyer commented on #2682
@whedon invite @meg-simula as editor

[2020-09-17 01:22] whedon commented on #2682
@meg-simula has been invited to edit this submission.

[2020-09-17 01:23] whedon opened #2683 "[PRE REVIEW]: SIAL: A simple image analysis library for wet-lab scientists"
**Submitting author:** @d-tear (<a href="http://orcid.org/0000-0002-2281-6129">David Tyrpak</a>)
**Repository:** <a href="https://github.com/d-tear/SIAL" target ="_blank">https://github.com/d-tear/SIAL</a>
**Version:** v1.0.0
**Editor:** @jni
**Reviewers:** @bogovicj, @haesleinhuepf
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2020-09-17 01:23] whedon commented on #2683
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-17 01:24] whedon commented on #2683
[code]

[2020-09-17 01:24] whedon commented on #2683
[code]

[2020-09-17 01:30] kyleniemeyer commented on #2683
Hi @jni, the authors suggested you to edit this submission. Does this look like it would be a good fit, and do you have the bandwidth?

[2020-09-17 01:30] kyleniemeyer commented on #2683
@whedon invite @jni as editor

[2020-09-17 01:30] whedon commented on #2683
@jni has been invited to edit this submission.

[2020-09-17 01:40] rafaelfsilva commented on #2664
Thank you for the clarification @iaklampanos. I went through all other repositories mentioned in the README and could attest all contributions. As these components are part of the DARE platform, maybe they could be linked using [Git Submodules](https://git-scm.com/book/en/v2/Git-Tools-Submodules)?

[2020-09-17 01:44] daviddewhurst commented on #2463
Hi @VivianePons, my review will be complete by Sunday.

[2020-09-17 01:48] nhejazi commented on #2526
I've just added an _Applications_ section to the JOSS paper draft (https://github.com/tlverse/hal9001/pull/71/commits/640e773b4e5e326f854dbe2018bed757f504ec95), which briefly reviews and details the use of HAL regression in four very recent papers. I've tried to go through HAL was used in each paper and point out what advances were made by relying upon the `hal9001` package. While this doesn't con

[2020-09-17 02:00] daviddewhurst commented on #2526
@nhejazi sure, that's fine. I'll close the issue.

[2020-09-17 02:02] daviddewhurst commented on #2526
@mikldk This does it for me -- my review is complete.

[2020-09-17 02:08] daviddewhurst commented on #2526
@whedon generate pdf

[2020-09-17 02:09] whedon commented on #2526
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02526/joss.02526/10.21105.joss.02526.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02526/joss.02526/10.21105.joss.02526.pdf) :page_facing_up: :point_left:

[2020-09-17 02:19] bstabler commented on #2572
Yes, it should now be an explicit section of the paper, see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain.  For the second item, I think it's too much detail for this high level introduction / summary.  Thanks.

[2020-09-17 02:20] kyleniemeyer commented on #2679
Hey @bryanwweber @decaluwe would one of you be interested in reviewing this for JOSS?

[2020-09-17 02:36] diehlpk commented on #2599
@tbrown122387 instead of having a shell script to run the tests, you could add ctests so the user could type make test to run them.

[2020-09-17 03:16] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-09-17 03:17] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-17 03:40] nhejazi commented on #2447
Excellent. Merged https://github.com/nhejazi/txshift/pull/60 to `master`. @whedon generate pdf

[2020-09-17 03:41] nhejazi commented on #2447
@whedon generate pdf

[2020-09-17 03:56] joglekara commented on #2182
Hi @kyleniemeyer , thanks for your eagle-eyed help here! Totally agreed on the 2nd point.

I have addressed all of the changes in the PR above. Let me know if there's anything else I can help with!

[2020-09-17 03:57] Christopher-Khan commented on #2644
@whedon generate pdf

[2020-09-17 03:58] whedon commented on #2644
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02644/joss.02644/10.21105.joss.02644.pdf) :page_facing_up: :point_left:

[2020-09-17 04:05] ramadatta commented on #2473
Thanks so much @will-rowe  for understanding.

[2020-09-17 04:16] Christopher-Khan commented on #2644
Hi @marouenbg. I just added one more result to the manuscript. The glmnet software package has two algorithm options to choose from, so I also included the benchmark result for the other option as well. It was slower than the option whose benchmark result I had already reported though. In addition, thank you again for doing this review! Your comments were very helpful in improving this submission!

[2020-09-17 04:42] kyleniemeyer commented on #2182
@whedon generate pdf

[2020-09-17 04:43] whedon commented on #2182
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02182/joss.02182/10.21105.joss.02182.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf) :page_facing_up: :point_left:

[2020-09-17 04:44] joglekara commented on #2182
I should also note that I added citations to NumPy and SciPy (reminded by and in honor of today's publication in Nature) :)

[2020-09-17 05:03] kyleniemeyer commented on #2182
Thanks @joglekara! There were still a few extraneous parentheses left, which I just fixed in https://github.com/joglekara/VlaPy/pull/95

[2020-09-17 05:10] kyleniemeyer commented on #2182
@whedon generate pdf

[2020-09-17 05:11] whedon commented on #2182
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02182/joss.02182/10.21105.joss.02182.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02182/joss.02182/10.21105.joss.02182.pdf) :page_facing_up: :point_left:

[2020-09-17 05:13] kyleniemeyer commented on #2182
@whedon accept

[2020-09-17 05:13] whedon commented on #2182
[code]

[2020-09-17 05:14] whedon commented on #2182
[code]

[2020-09-17 05:14] joglekara commented on #2182
on it!

[2020-09-17 05:15] whedon commented on #2182
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1736

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1736, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-17 05:28] kyleniemeyer commented on #2182
@whedon accept

[2020-09-17 05:28] whedon commented on #2182
[code]

[2020-09-17 05:29] whedon commented on #2182
[code]

[2020-09-17 05:30] whedon commented on #2182
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1737

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1737, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-17 05:32] kyleniemeyer commented on #2182
@joglekara thanks for fixing that. It looks like the remaining issue is fine—I can confirm that the DOI for the NumPy matches the one given in the article (probably just isn't through the system yet).

[2020-09-17 05:33] kyleniemeyer commented on #2182
@whedon accept deposit=true

[2020-09-17 05:33] whedon commented on #2182
[code]

[2020-09-17 05:35] whedon commented on #2182
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1306466750255566849) 👈 🐦🐦🐦

[2020-09-17 05:35] whedon commented on #2182
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1738
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02182](https://doi.org/10.21105/joss.02182)
2. If everything looks g

[2020-09-17 05:37] kyleniemeyer commented on #2182
Congrats @joglekara on your article's publication in JOSS!

Many thanks to @TomGoffrey and @StanczakDominik for reviewing this submission, and @dpsanders for editing it.

[2020-09-17 05:37] #2182 closed

[2020-09-17 05:37] whedon commented on #2182
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02182/status.svg)](https://doi.org/10.21105/joss.02182)

**We need your help!**

Journal of Open Source Softwa

[2020-09-17 05:43] dpsanders commented on #2182
Thanks @kyleniemeyer!

Congratulations @joglekara and reiterating the many thanks to @TomGoffrey and @StanczakDominik for your hard work in reviewing this submission!

[2020-09-17 06:00] joglekara commented on #2182
Thanks @kyleniemeyer for pushing it through!

Thanks @dpsanders for shepherding the process and to @dpsanders , @TomGoffrey , and @StanczakDominik for the feedback on the submission. I am really impressed by and happy to be contributing to JOSS.

[2020-09-17 06:12] StanczakDominik commented on #2182
Congratulations :)

[2020-09-17 06:13] iaklampanos commented on #2664
Thanks, this is certainly something we can discuss internally for a future release. However, as each of the components are meant to be deployed independently as containerised applications in a k8s cluster we haven't considered it so far.

[2020-09-17 07:20] arfon commented on #2554
Thanks @Deech08! @TomGoffrey - how are you getting on closing out your review?

[2020-09-17 07:28] pdebuyl commented on #2436
@CFGrote can you archive a release of the code on zenodo? When it is done, I would need the corresponding doi and the version of the release to include in the paper.

[2020-09-17 07:38] JolleJolles commented on #2584
In this context, it was meant optimal in terms of the user's perspective. I rewrote the sentence to say "...set the ideal camera shutter speed" to make this clearer.

One of the definitions of "calibrate" is to "carefully assess, set, or adjust". This is what is meant here. By means of an interactive user stream, both with the `stream` and `camconfig` functions, the user is for example able to car

[2020-09-17 07:41] JolleJolles commented on #2584
I have revised the paper in a number of ways, including removing the word "calibration" and adding a couple of sentences that clarify the streaming functionalities among some other changes.

[2020-09-17 07:42] JolleJolles commented on #2584
I hope to have hereby addressed all your comments! Many thanks for the very helpful feedback, I really appreciate you taking the time. And please let me know if there are any final things you'd like me to fix or clarify.

[2020-09-17 08:08] aj2duncan commented on #2282
@danielskatz I think I've now finished my review. @jcolomb has dealt with all of my concerns. Thanks.

[2020-09-17 08:09] mikldk commented on #2526
@rrrlw is still missing a few check-marks -- what is the status of those?

[2020-09-17 08:19] stheid commented on #2435
Thank you very much for the PR, it is already merged :)

Additionally, we clarified this paragraph further. https://github.com/upb-lea/openmodelica-microgrid-gym/commit/de90dc9a74c1bcbe2581f7d680cfa2879ea9f6e6

[2020-09-17 08:31] xuanxu commented on #2679
@whedon generate pdf

[2020-09-17 08:34] neerajdhanraj commented on #2583
Dear @mikldk ,

I provided my reviews to this paper by ticking the respective boxes. Is it the completion of the review process from my side? Or is there any other procedure to proceed?

Thank you.

[2020-09-17 08:35] whedon commented on #2679
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02679/joss.02679/10.21105.joss.02679.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02679/joss.02679/10.21105.joss.02679.pdf) :page_facing_up: :point_left:

[2020-09-17 09:00] CFGrote commented on #2436
I drafted the zenodo deposit, the reserved DOI is 10.5281/zenodo.4034071. I'm waiting my co-authors to give their "Ok" before publishing, will let you know.
BTW I bumped the version of cancer_sim to 2.0.1.

[2020-09-17 09:34] pdebuyl commented on #2436
@whedon set 10.5281/zenodo.4034071 as archive

[2020-09-17 09:34] whedon commented on #2436
OK. <a href="https://doi.org/10.5281/zenodo.4034071" target="_blank">10.5281/zenodo.4034071</a> is the archive.

[2020-09-17 09:34] pdebuyl commented on #2436
@whedon set 2.0.1 as version

[2020-09-17 09:35] whedon commented on #2436
OK. 2.0.1 is the version.

[2020-09-17 09:35] pdebuyl commented on #2436
@whedon generate pdf

[2020-09-17 09:36] whedon commented on #2436
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: :point_left:

[2020-09-17 09:38] pdebuyl commented on #2436
@CFGrote you can consider the latest pdf as a proof. Let me know when I can validate the publication. At that point, an editor in chief of JOSS will take over the publication.

[2020-09-17 10:48] jenzopr commented on #2436
Well done, @CFGrote ! The review was not "cheap" and you did a lot of work to enhance the manuscript and software! Congratulations 🎉

[2020-09-17 10:57] zemogle commented on #2641
I've added @joesingo to the author list @bsipocz

[2020-09-17 11:50] CFGrote commented on #2436
v2.0.1 is now published on zenodo: https://dx.doi.org/10.5281/zenodo.4034071

[2020-09-17 11:52] danielskatz commented on #2664
That's certainly not needed for JOSS review, but it's an interesting idea to consider

[2020-09-17 11:55] danielskatz commented on #2282
Thanks @aj2duncan!

[2020-09-17 11:56] danielskatz commented on #2282
👋 @mikerspencer - How is you review coming?  That's what we need to move forward, either to accept or to figure out what needs to be changed.

[2020-09-17 12:23] aozorahime commented on #2507
sure @xillig :+1:

[2020-09-17 12:35] csoneson commented on #2659
@whedon generate pdf

[2020-09-17 12:37] whedon commented on #2659
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02659/joss.02659/10.21105.joss.02659.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02659/joss.02659/10.21105.joss.02659.pdf) :page_facing_up: :point_left:

[2020-09-17 12:40] csoneson commented on #2659
👋 @emilydolson, @rowlandseymour, @stulacy, @rrrlw - would two of you be interested in reviewing this submission for JOSS?

[2020-09-17 12:54] htjb commented on #2596
Dear @benjaminpope, @smutch,

Thanks again for the comments and feedback. I have acted on hopefully all of these now and updated the repository and paper.

Below are some responses to your comments and what I have changed. I have tried to make this as readable as possible, please let me know if something is not clear.

## The Paper

### Ben

- I have added a note to the paper and docs that the sof

[2020-09-17 13:15] ajjackson commented on #2671
Hi @jgostick I will be happy to review this.

I have no COI as defined by JOSS policy. In interest of transparency I would state that I met Florian at a workshop last year for ASE developers/users and recommended submitting the code to JOSS based on presentation/discussion at that event. I have not used the code, examined it closely or otherwise been involved in its development.

[2020-09-17 13:53] mjsull commented on #2451
Hi Will,

chromaitblock DOI has been added.

v1.0.0 released, the DOI: 10.5281/zenodo.4034604

[2020-09-17 13:55] will-rowe commented on #2451
@whedon check references

[2020-09-17 13:55] whedon commented on #2451
[code]

[2020-09-17 13:56] will-rowe commented on #2451
perfect - thanks @mjsull

[2020-09-17 13:56] will-rowe commented on #2451
@whedon set 10.5281/zenodo.4034604 as archive

[2020-09-17 13:57] whedon commented on #2451
OK. <a href="https://doi.org/10.5281/zenodo.4034604" target="_blank">10.5281/zenodo.4034604</a> is the archive.

[2020-09-17 13:57] will-rowe commented on #2451
@whedon set v1.0.0 as version

[2020-09-17 13:57] whedon commented on #2451
OK. v1.0.0 is the version.

[2020-09-17 13:57] will-rowe commented on #2451
@whedon accept

[2020-09-17 13:57] whedon commented on #2451
[code]

[2020-09-17 13:57] whedon commented on #2451
[code]

[2020-09-17 13:58] jgostick commented on #2671
That sounds like a fine relationship.  The review process is transparent, so if you didn't know each other before, you would afterwards!

[2020-09-17 13:58] will-rowe commented on #2451
This is with the EICs now. Thank you for a nice submission @mjsull and thank you very much @rpetit3 and @telatin for your reviews!

[2020-09-17 14:00] whedon commented on #2451
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1739

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1739, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-17 14:00] jgostick commented on #2671
@whedon add @ajjackson as reviewer

[2020-09-17 14:01] whedon commented on #2671
OK, @ajjackson is now a reviewer

[2020-09-17 14:09] mjsull commented on #2451
Awesome, thanks everyone.

[2020-09-17 14:17] DerJH commented on #2584
I am also happy with the changes and the current state of the submission. And as I could confirm the functionality on python 2.7 I can also tick the functionality part. I really enjoyed playing around with the software, and I hope to apply it in my coming experiments myself.

[2020-09-17 14:30] henrik227 commented on #2392
I still disagree with how operations are counted in this package, but I think it's ok since it's explained both in the paper and the documentation.

[2020-09-17 15:36] yoelcortes commented on #2679
@kyleniemeyer, thanks for picking this up as the editor. I think both potential reviewers are excellent choices. They both have some chemistry and engineering in their background. Let me know if there is anything I can help with. Thanks!

[2020-09-17 16:15] galessiorob commented on #2662
@whedon add @TimKam as reviewer

[2020-09-17 16:15] whedon commented on #2662
OK, @TimKam is now a reviewer

[2020-09-17 16:18] decaluwe commented on #2679
Happy to!

Steven

Sent from my iPhone

[2020-09-17 16:45] skadio commented on #2662
Thank you @TimKam for kindly agreeing to review our work!

[2020-09-17 16:47] kyleniemeyer commented on #2679
Thanks @xuanxu for fixing the paper issue, and thanks @decaluwe!

[2020-09-17 16:47] kyleniemeyer commented on #2679
@whedon add @decaluwe as reviewer

[2020-09-17 16:47] whedon commented on #2679
OK, @decaluwe is now a reviewer

[2020-09-17 16:56] kyleniemeyer commented on #2680
@FrancisBanville one issue with your submission is that usually we only review a single software package at a time, though with some exceptions, and I think that your grouping of these two packages together does make sense.

However, you have specified Mangal.jl as the "main" repository for the submission, and your paper is in this repo. Since Mangal.jl would not actually be in the scope of JOSS b

[2020-09-17 17:20] GregaVrbancic commented on #2607
Hello, @terrytangyuan and @jonasrauber, I have completed my review and opened a few issues at the Foolbox repository:

- [Example usage](https://github.com/bethgelab/foolbox/issues/586)
- [Performance](https://github.com/bethgelab/foolbox/issues/587)
- [References](https://github.com/bethgelab/foolbox/issues/585)

@terrytangyuan, additionally, I have noticed that one of the authors (Matthias Bethg

[2020-09-17 17:27] terrytangyuan commented on #2607
Thanks. @jonasrauber Could you look into those issues? Also please clarify Matthias Bethge's contributions if not observable from commit history (which is usual sometimes).

[2020-09-17 17:32] sjpfenninger commented on #2644
Thanks @marouenbg for the extensive review and @Christopher-Khan for addressing everything thoroughly! krystophny's review is slightly delayed, but we expect by end of month, so stay tuned.

[2020-09-17 17:50] SteveMacenski commented on #2572
Ok,

- Statement of need section added https://github.com/SteveMacenski/slam_toolbox/commit/efb33ec1afe4bfee7e26624a0c3f48ccfb8ec721
- Configuration section removed https://github.com/SteveMacenski/slam_toolbox/commit/ea6ee14bce12885024342ce598c8b15a375d50bb

[2020-09-17 18:27] wilsonrljr commented on #2384
Sorry about that, dpsanders. Zenodo generated it automatically based on the last contributors/commits. It's fixed now.

[2020-09-17 18:39] FrancisBanville commented on #2680
Thank you @kyleniemeyer! The paper has been moved to the [EcologicalNetworks.jl repository](https://github.com/EcoJulia/EcologicalNetworks.jl/), in the branch `joss-article`.

[2020-09-17 18:42] saschatimme commented on #2392
I am in the same boat as @henrik227 that I disagree with the way operations are counted in the package. The article states

However, looking into  (Ceberio & Kreinovich, 2004) the way operations are counted there is actually how @henrik227 and I suggest they are supposed to be counted (to compute `x^3` takes 2 operations) and not as the author implemented it and describes it in the article where `

[2020-09-17 19:00] arfon commented on #2680
Updated on our end too @kyleniemeyer

[2020-09-17 19:00] d-tear commented on #2683
I corrected some formatting errors in the bibliography and made some minor
edits to the acknowledgments and installation instructions

@whedon generate pdf

On Wed, Sep 16, 2020 at 6:31 PM whedon <notifications@github.com> wrote:

--

*David Tyrpak*
PhD Pharmaceutical Sciences
NIH Predoctoral Fellow,

http://www.mackaylab.com

University of Southern California
School of Pharmacy
1985 Zonal Avenue,

[2020-09-17 19:26] kyleniemeyer commented on #2680
@whedon generate pdf from branch joss-article

[2020-09-17 19:26] whedon commented on #2680
[code]

[2020-09-17 19:27] whedon commented on #2680
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02680/joss.02680/10.21105.joss.02680.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02680/joss.02680/10.21105.joss.02680.pdf) :page_facing_up: :point_left:

[2020-09-17 19:30] kyleniemeyer commented on #2680
@FrancisBanville @arfon looks good, thanks!

[2020-09-17 19:44] lskatz commented on #2334
Hi @erinyoung ,
@kapsakcj and I are trying to replicate your error.  Could you also post your `singularity shell` command?  Thank you!  One concern we might have is that singularity might be enforcing a read only hard drive, but it is only a guess right now.

[2020-09-17 19:53] fboehm commented on #2402
@tomsing1 and @homonecloco - It seems that there hasn't been much activity on this review over the last couple of weeks. When you have a moment, would you see if you're comfortable with checking more of the boxes from the checklist? If you're not comfortable checking some boxes, we should be sure that @anwarbio is aware of your concerns. Thanks again!

[2020-09-17 19:58] bstabler commented on #2572
@whedon generate pdf from branch joss

[2020-09-17 19:58] whedon commented on #2572
[code]

[2020-09-17 19:59] katjaq commented on #2667
I just adapted one reference

@whedon generate pdf from branch joss-paper-branch

[2020-09-17 19:59] whedon commented on #2572
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02572/joss.02572/10.21105.joss.02572.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02572/joss.02572/10.21105.joss.02572.pdf) :page_facing_up: :point_left:

[2020-09-17 20:11] kthyng commented on #2018
Hi @ali-ramadhan! Sorry for my delay. We can move ahead, I just need some time. I'll try to do this tomorrow.

[2020-09-17 20:11] artgoldberg commented on #2656
@whedon check references

[2020-09-17 20:12] whedon commented on #2656
[code]

[2020-09-17 20:12] artgoldberg commented on #2656
@whedon commands

[2020-09-17 20:12] whedon commented on #2656
Here are some things you can ask me to do:

[code]

[2020-09-17 20:13] artgoldberg commented on #2656
@whedon generate pdf

[2020-09-17 20:25] whedon commented on #2656
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02656/joss.02656/10.21105.joss.02656.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02656/joss.02656/10.21105.joss.02656.pdf) :page_facing_up: :point_left:

[2020-09-17 20:37] dalonsoa commented on #2666
Hi all,  I'm sorry but I cannot do it this time. The topic is great, though! I'll keep an eye on the repo.

[2020-09-17 20:40] arfon commented on #2667
@whedon generate pdf from branch joss-paper-branch

[2020-09-17 20:40] whedon commented on #2667
[code]

[2020-09-17 20:42] whedon commented on #2667
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02667/joss.02667/10.21105.joss.02667.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02667/joss.02667/10.21105.joss.02667.pdf) :page_facing_up: :point_left:

[2020-09-17 20:54] artgoldberg commented on #2656
Hello @danielskatz

Since our paper is longer than the length recommended by JOSS I have reduced it from 2237 to 1856 words by removing the case study and most of the availability section as you recommended. (However, I also left a pointer to the Jupyter notebooks which are at a different website.)

I would like to add these reviewers to the list I previously recommended. They are likely to be mor

[2020-09-17 21:29] kyleniemeyer commented on #2680
Hi @KristinaRiemer, can you edit this submission?

[2020-09-17 21:29] kyleniemeyer commented on #2680
@whedon invite @KristinaRiemer as editor

[2020-09-17 21:29] whedon commented on #2680
@KristinaRiemer has been invited to edit this submission.

[2020-09-17 21:46] skapfer commented on #2538
We would like to thank @kenohori and @rmjarvis for their thorough review and helpful suggestions!

We have rewritten the build system in order to work with CGAL 4.x and 5, Python 2.x and 3.x, various C++ compilers and added CI workflows for Linux and MacOS platforms.  The Makefile will now also detect the CGAL version in use.  We think we have corrected all the bugs found by @rmjarvis.

In additio

[2020-09-17 21:46] skapfer commented on #2538
@whedon generate pdf from branch joss

[2020-09-17 21:46] whedon commented on #2538
[code]

[2020-09-17 21:47] whedon commented on #2538
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02538/joss.02538/10.21105.joss.02538.pdf) :page_facing_up: :point_left:

[2020-09-17 22:04] eloisabentivegna commented on #2513
@zingale, thanks for the replies. There is nothing for you to do regarding points 4. and 6. I will now wait for @joshia5 to comment back and share his final recommendation.

[2020-09-17 22:13] whedon opened #2684 "[PRE REVIEW]: The Pencil Code, a modular MPI code for partial differential equations and particles: multipurpose and multiuser-maintained"
**Submitting author:** @AxelBrandenburg (<a href="http://orcid.org/0000-0002-7304-021X">Axel Brandenburg</a>)
**Repository:** <a href="https://github.com/pencil-code/pencil-code" target ="_blank">https://github.com/pencil-code/pencil-code</a>
**Version:** v2020.08.06
**Editor:** @arfon
**Reviewers:** @zingale, @rtfisher
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warnin

[2020-09-17 22:13] whedon commented on #2684
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-17 22:14] whedon commented on #2684
PDF failed to compile for issue #2684 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/2684/doc/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundl

[2020-09-17 22:15] kyleniemeyer commented on #2684
Hi @AxelBrandenburg, thanks for your interest in JOSS. It looks like our system is having trouble with your paper—I think you need to remove the `paper.tex` from the paper directory, because that might be confusing things.

cc @openjournals/dev

[2020-09-17 22:15] kyleniemeyer commented on #2684
@harpolea can you edit this?

[2020-09-17 22:15] kyleniemeyer commented on #2684
@whedon invite @harpolea as editor

[2020-09-17 22:16] whedon commented on #2684
@harpolea has been invited to edit this submission.

[2020-09-17 22:24] rrrlw commented on #2659
I would only be able to superficially review the methodology. If a second reviewer would be willing to take that on, I’d be happy to review the software implementation.

[2020-09-17 22:28] rrrlw commented on #2526
The revisions look sufficient to me, just checked off the last 2 boxes. Will open a tidymodels issue shortly, but hal9001 is good to go on my end!

[2020-09-17 23:38] emilydolson commented on #2659
I can review it, but I don't have any experience with clinical trial design, so I may not be the best choice (especially if the goal would be for me to focus on the methodology).

[2020-09-17 23:51] nhejazi commented on #2526
Great! I've merged the PR related to these changes into `master`. Could we update the version in the first comment on this issue thread to 0.2.7 (instead of 0.2.6)? (I don't have permissions to do that.) Also, the PDF built from `master` should match the updated version of the paper now; this wasn't the case before the relevant PR was merged last night.

[2020-09-17 23:54] danielskatz commented on #2656
👋 @carothersc - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-17 23:55] danielskatz commented on #2656
👋 @gonsie - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-17 23:56] danielskatz commented on #2656
👋 @rblake-llnl - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2020-09-17 23:58] danielskatz commented on #2646
👋 @skadio, @prw99r, @r-a-hoggarth - I just wanted to check on how things are going for you on your reviews. Let me know if I can do anything to help.

[2020-09-18 01:50] paxtonfitzpatrick commented on #2669
Hey @mortonne, thanks for putting together a great toolkit!  I've finished looking everything over, and apart from a few fixes and tweaks in the issues I linked above, everything ran smoothly, looked pretty, and was well documented 🙂
I agree with @samhforbes that a plot or two (particularly one of the raster plots, in my opinion) would make a great addition to the paper if you wanted!  But of cour

[2020-09-18 01:56] benjaminpope commented on #2596
@whedon pdf

[2020-09-18 01:56] whedon commented on #2596
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-09-18 01:56] benjaminpope commented on #2596
@whedon generate pdf

[2020-09-18 01:57] whedon commented on #2596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02596/joss.02596/10.21105.joss.02596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02596/joss.02596/10.21105.joss.02596.pdf) :page_facing_up: :point_left:

[2020-09-18 02:00] AxelBrandenburg commented on #2684
Thanks for your work on this. I have now removed paper.tex from the paper directory.
Cheers, Axel

[2020-09-18 02:42] jni commented on #2683
I don't have much bandwidth but progress is a bit stalled on my other reviews so, against my better judgment...

@whedon assign me as editor

😂

@d-tear Thank you for the contribution and for the youtube videos, they are clear and informative! At a minimum you should add a citation to Fiji btw! 😉 Also, I'm not a reviewer (I'll work on finding some), but to get you a head start, I would say that (a

[2020-09-18 02:48] jni commented on #2683
Hmm I wonder if Whedon needs commands to be alone in a comment...

[2020-09-18 02:48] jni commented on #2683
@whedon assign me as editor

[2020-09-18 02:48] whedon commented on #2683
OK, the editor is @jni

[2020-09-18 02:48] jni commented on #2683
Yup.

[2020-09-18 03:05] gonsie commented on #2656
I'm happy to review this.

[2020-09-18 04:13] benjaminpope commented on #2596
Dear @htjb,

Thanks for the update. I think this is great and am happy to sign off subject to a couple of pretty trivial questions.

- I am still a bit confused as to why it has to be monotonic functions. You say you can relax the constraint on the first derivative, so it can cross zero, which I think should allow it to not be monotonic? But you say this just allows for points of inflection. This

[2020-09-18 05:26] tomazbregar commented on #2588
Hey @kyleniemeyer, unfortunately I don't know who would be the best fit for reviewer. If it helps, the person should have a background in structural dynamics.

[2020-09-18 05:34] roshansamuel commented on #2095
Hi @harpolea ,

Would it be possible to complete the review soon? Any comments to ease the installation and review of the software will be very welcome.

Thanks!

[2020-09-18 05:36] kyleniemeyer commented on #2683
@jni thanks!

Also, regarding whedon, I think it works as long as the command is at the beginning of a longer comment.

[2020-09-18 06:37] hugoledoux commented on #2537
okay, everyone for my silence the last week, I was overwhelmed with other things.

re: the novelty, I went back to the editors of JOSS. JOSS point of view is the software does not have to be something significantly new or novel, if it works fine and is useful for research (and all the checkboxes are clicked above!) then we can accept it. I found the first argument of @geekysquirrel about paying wi

[2020-09-18 06:38] hugoledoux commented on #2421
Would @uvilla or @npetra would be available for this review? I didn't get any response from the 2 on the JOSS list, unfortunately.

[2020-09-18 06:40] hugoledoux commented on #2538
This sounds great @skapfer.

When @kenohori and @rmjarvis have time, if they could go over the update and confirm (clicking the checkboxes above) or not, then we can move forward.

[2020-09-18 06:44] csoneson commented on #2659
Thanks @rrrlw and @emilydolson for your availability! Let me try to find a complementary third reviewer who would be more geared towards clinical trial methodology - I'll get back to you.

[2020-09-18 06:59] jni commented on #2683
@whedon generate pdf

[2020-09-18 07:00] whedon commented on #2683
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02683/joss.02683/10.21105.joss.02683.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02683/joss.02683/10.21105.joss.02683.pdf) :page_facing_up: :point_left:

[2020-09-18 07:07] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-09-18 07:08] whedon commented on #2392
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: :point_left:

[2020-09-18 07:15] MrMinimal64 commented on #2392
The operations are now being counted as you suggest (solely the number of multiplications).
The optimal search heuristic now minimises the new operation count and finds "optimal" factorisations in this sense.
I also evaluate the relative numerical error in the benchmarks.
The paper as well as the documentation have been updated accordingly.

[2020-09-18 07:21] rowlandseymour commented on #2659
I'm in the same position as Emily. I'm happy to review it, but don't have any experience with clinical trials.

[2020-09-18 07:26] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-09-18 07:26] whedon commented on #2392
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: :point_left:

[2020-09-18 07:27] MrMinimal64 commented on #2392
I updated the placement of the figures (now the paper has a length of 8 pages again)

[2020-09-18 07:31] MrMinimal64 commented on #2392
@whedon generate pdf

[2020-09-18 07:32] whedon commented on #2392
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02392/joss.02392/10.21105.joss.02392.pdf) :page_facing_up: :point_left:

[2020-09-18 08:17] pdebuyl commented on #2436
@CFGrote should I take this as confirmation to proceed?

[2020-09-18 08:28] htjb commented on #2596
Dear @benjaminpope,

Thank you. There are some responses to your questions below.

- It doesn't need to be monotonic. By default the condition is relaxed on the first derivative and only m>=2 are constrained which allows for a turning point in the data but no inflection points. To allow for inflection points we have to relax the condition on the second derivative as well by changing the 'constrain

[2020-09-18 08:29] htjb commented on #2596
@whedon generate pdf

[2020-09-18 08:29] whedon commented on #2596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02596/joss.02596/10.21105.joss.02596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02596/joss.02596/10.21105.joss.02596.pdf) :page_facing_up: :point_left:

[2020-09-18 08:36] CFGrote commented on #2436
please wait, i'm checking the binder link, last item on my to do list for the proofs.

[2020-09-18 08:45] CFGrote commented on #2436
@wdedon commands

[2020-09-18 08:50] CFGrote commented on #2436
@whedon generate pdf

[2020-09-18 08:50] whedon commented on #2436
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02436/joss.02436/10.21105.joss.02436.pdf) :page_facing_up: :point_left:

[2020-09-18 08:51] CFGrote commented on #2436
@pdebuyl , all good, please proceed.

[2020-09-18 08:53] CFGrote commented on #2436
@pdebuyl, @jenzopr, @blakeaw , thank you very much for your comments, corrections and guidance through the process. It was a very good experience!

[2020-09-18 09:01] pdebuyl commented on #2436
@whedon accept

[2020-09-18 09:01] whedon commented on #2436
[code]

[2020-09-18 09:01] whedon commented on #2436
[code]

[2020-09-18 09:02] whedon commented on #2436
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1740

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1740, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-09-18 09:04] benjaminpope commented on #2596
Hi Harry,

This is great, ok. But I guess I got confused by some of the wording and by
trying to run my code (without success) on data with a turn-over - it
failed whenever there was a significant maximum/minimum in the data. I am
sure this is because I ran it incorrectly, but I think it would be nice if
you explicitly stated how to deal with a turning point.

I am sure this is my own misreading o

[2020-09-18 09:08] florian-huber commented on #2617
Sorry for the delayed reply. I feel I don't know enough about R and R packages to really do the job well. I hope you can find another reviewer.

[2020-09-18 09:09] htjb commented on #2596
Hi @benjaminpope,

Thank you. No problem I think it is a bit confusing when you first encounter it and my explanation in places may have been lacking. I will add an example to the docs and notebooks about dealing with turning points and inflection points in data sets which hopefully should make it clearer for first time users.

Thank you for all your comments and feedback!

Best,

Harry

[2020-09-18 09:09] CFGrote commented on #2436
@blakeaw , there's still one checkbox unchecked here (Review Checklist for blakeaw -> Functionality -> Functionality): https://github.com/openjournals/joss-reviews/issues/2436#issue-650881744 . Could you check, please?

[2020-09-18 09:11] benjaminpope commented on #2596
Hi @htjb,

Thanks, great. Subject to that, I sign off - congratulations on a good paper.

All the best,

Ben

[2020-09-18 09:21] mikldk commented on #2526
@whedon set v0.2.7 as version

[2020-09-18 09:21] whedon commented on #2526
OK. v0.2.7 is the version.

[2020-09-18 09:21] mikldk commented on #2526
@whedon check references

[2020-09-18 09:23] whedon commented on #2526
[code]

[2020-09-18 09:23] mikldk commented on #2526
@rrrlw, @daviddewhurst: Thank you for your reviews!

@nhejazi :

* I changed version to v0.2.7
* Please check above DOI problems
* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/

[2020-09-18 10:02] htjb commented on #2596
Hi @benjaminpope,

I have added that example. Thank you very much again!

Harry

[2020-09-18 11:11] danhey commented on #2654
Hi all,

I find the code to be well written and nicely documented. Great work! I have installed it without issue, and ran most of the example code.

My only issue appears to be running the the [code in Sec. 1.2](https://cosmograil.gitlab.io/PyCS3/tutorial/generalities.html#importing-pycs3). I am getting an attribute error which seems to be caused by misconfigured imports. I can get around this by

[2020-09-18 11:12] JolleJolles commented on #2584
Great! I acknowledged both your help in the paper. I have created an explanatory video for pirecorder that I want to release when the paper will be available online. I will integrate a final slide with the details of the paper, but you can find a temporary version here: https://youtu.be/aEWIGlDY3f8

[2020-09-18 11:17] Datseris commented on #2673
@whedon generate pdf

[2020-09-18 11:17] whedon commented on #2673
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02673/joss.02673/10.21105.joss.02673.pdf) :page_facing_up: :point_left:

[2020-09-18 11:18] Datseris commented on #2673
@dpsanders we thank both reviewers for the constructive and swift review. In the latest version of the paper (generated above) we address all raised concerns.

[2020-09-18 11:38] oliviaguest commented on #2670
@whedon generate pdf from branch joss-paper-branch

[2020-09-18 11:38] whedon commented on #2670
[code]

[2020-09-18 11:39] whedon commented on #2670
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02670/joss.02670/10.21105.joss.02670.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02670/joss.02670/10.21105.joss.02670.pdf) :page_facing_up: :point_left:

[2020-09-18 11:59] danielskatz commented on #2656
Thanks @gonsie  - I'll assign you, but we won't start the review until I get one more reviewer

[2020-09-18 11:59] danielskatz commented on #2656
@whedon assign @gonsie as reviewer

[2020-09-18 11:59] whedon commented on #2656
OK, @gonsie is now a reviewer

[2020-09-18 12:04] stefanklein commented on #2633
Hi, thanks for the invitation to review. I hadn't heard about this journal. The concept seems very interesting! Unfortunately I won't have time to do this review and thoroughly test the code. A postdoc from my group with experience in image registration and deep learning would be interested in doing the review, so please consider inviting her: @lbrea . Best regards, Stefan

[2020-09-18 12:07] geekysquirrel commented on #2537
Thanks everybody for the feedback. I'm currently on annual leave but will update the paper as soon as I'm back.

[2020-09-18 12:14] carothersc commented on #2656
Hi Dan - sure, I know the DE-Sim group pretty well. Happy to review this.

Regards,
Chris

On Thu, Sep 17, 2020 at 7:55 PM Daniel S. Katz <notifications@github.com>
wrote:

----------------------------------------------------------------------------------------------
Christopher D. Carothers

Director, Center for Computational Innovations
Professor, Department of Computer Science
Rensselaer Polyte

[2020-09-18 12:41] martin-millon commented on #2654
Thanks @danhey for checking our code and thanks for spotting this problem in the documentation.
I have pushed a fix on the master branch.

[2020-09-18 12:42] kthyng commented on #2018
@ali-ramadhan Ok sorry for the delay! I just checked off the final boxes since the noted issues have all been addressed.

[2020-09-18 12:42] kthyng commented on #2018
@whedon accept from branch joss-paper

[2020-09-18 12:42] whedon commented on #2018
[code]

[2020-09-18 12:43] whedon commented on #2018
[code]

[2020-09-18 12:43] whedon commented on #2018
PDF failed to compile for issue #2018 with the following error:

 error: pathspec 'joss-paper' did not match any file(s) known to git.
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon/bibtex_parser.rb:77:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon/bibtex_parser

[2020-09-18 12:44] kthyng commented on #2018
@whedon accept

[2020-09-18 12:44] whedon commented on #2018
[code]

[2020-09-18 12:45] whedon commented on #2018
[code]

[2020-09-18 12:45] whedon commented on #2018
PDF failed to compile for issue #2018 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon/bibtex_parser.rb:77:in `doi_citation': undefined method `encode' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-364ded062842/lib/whedon/bibtex_parser.rb:64:in `make_citation'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2020-09-18 13:03] kthyng commented on #2018
@whedon generate pdf

[2020-09-18 13:03] whedon commented on #2018
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02018/joss.02018/10.21105.joss.02018.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02018/joss.02018/10.21105.joss.02018.pdf) :page_facing_up: :point_left:

[2020-09-18 13:11] kthyng commented on #2018
@openjournals/dev Could you see why I can generate the paper but not accept it? Thank you.

[2020-09-18 13:25] blakeaw commented on #2436
@CFGrote Ok, it should be checked. Let me know if it is registering as checked now.
(I unchecked that particular box and then re-checked it, as it was already registering as being checked on my end.)

[2020-09-18 13:37] danielskatz commented on #2656
Thanks @carothersc  - I'll add you, and we'll get started

[2020-09-18 13:37] danielskatz commented on #2656
@wheden add @carothersc as reviewer

[2020-09-18 13:39] danielskatz commented on #2656
@whedon add @carothersc as reviewer

[2020-09-18 13:39] whedon commented on #2656
OK, @carothersc is now a reviewer

[2020-09-18 13:39] danielskatz commented on #2656
@whedon start review

[2020-09-18 13:39] whedon opened #2685 "[REVIEW]: DE-Sim: an object-oriented, discrete-event simulation tool for data-intensive modeling of complex systems in Python"
**Submitting author:** @artgoldberg (<a href="http://orcid.org/0000-0003-2772-1484">Arthur Goldberg</a>)
**Repository:** <a href="https://github.com/KarrLab/de_sim" target ="_blank">https://github.com/KarrLab/de_sim</a>
**Version:** 1.0.5
**Editor:** @danielskatz
**Reviewers:** @gonsie, @carothersc, @yadudoc
**Archive:** <a href="https://doi.org/10.5281/zenodo.4274852" target="_blank">10.5281/zeno

[2020-09-18 13:40] whedon commented on #2656
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2685.

[2020-09-18 13:40] #2656 closed

[2020-09-18 13:40] whedon commented on #2685
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gonsie, @carothersc it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-09-18 13:40] whedon commented on #2685
[code]

[2020-09-18 13:40] whedon commented on #2685
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02685/joss.02685/10.21105.joss.02685.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02685/joss.02685/10.21105.joss.02685.pdf) :page_facing_up: :point_left:

[2020-09-18 13:41] danielskatz commented on #2685
👋 @gonsie, @carothersc - Thanks again for agreeing to review. Please read the comments above before starting.

This is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also lin

[2020-09-18 13:54] KristinaRiemer commented on #2680
@kyleniemeyer I have no experience with Julia. Would it be sufficient to find two reviewers who do (and use this as a chance to introduce myself too)?

[2020-09-18 15:08] Kevin-Mattheus-Moerman commented on #2633
Thanks @stefanklein, that is fine. @lbrea would you be able to review this work? Let me know and I can add you, thanks!

[2020-09-18 15:17] ziotom78 commented on #2599
Sorry @diehlpk , I started working on this review only this week, but it seems that my invitation has expired in the meantime, as I'm not able to modify my checklist. How should I proceed?

[2020-09-18 15:18] CFGrote commented on #2436
@blakeaw, looks good now, thanks!

[2020-09-18 15:43] diehlpk commented on #2599
@whedon re-invite @ziotom78  as reviewer

[2020-09-18 15:43] whedon commented on #2599
OK, the reviewer has been re-invited.

@ziotom78  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-09-18 15:44] diehlpk commented on #2599
@ziotom78 No worries, please click on the link in the invitation email, you should receive soon. The invitation expires after few days.

[2020-09-18 15:46] cMadan commented on #2669
@paxtonfitzpatrick, thank you for the thorough review! I've commented in https://github.com/mortonne/psifr/issues/8, but to briefly re-cap here--I agree this is a useful improvement but is not necessary for JOSS acceptance.

[2020-09-18 16:00] lbrea commented on #2633
Yes, please feel free to add me for the review

Best,

Luisa

On Fri, Sep 18, 2020 at 5:09 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2020-09-18 16:30] kyleniemeyer commented on #2680
@KristinaRiemer absolutely! As editor you don't really need to dive into the software itself—unless you want to!—as long as the reviewers have the appropriate expertise.

[2020-09-18 16:52] d-tear commented on #2683
@jni
<https://urldefense.com/v3/__https://github.com/jni__;!!LIr3w8kk_Xxm!4PQ8GtIFh6emehTCD4oiLzQW_yTE6-g9vK7daFwJqZnl60tJf2FyejyhCQim6g$>
thank
you for your recommended improvements to the paper! They are very
helpful (yep the absence of a citation to FIJI is a def an oversight). I
will work on incorporating these.

On Fri, Sep 18, 2020 at 12:00 AM whedon <notifications@github.com> wrote:

--

*D

[2020-09-18 17:13] harpolea commented on #2684
@whedon assign @harpolea as editor

[2020-09-18 17:13] whedon commented on #2684
OK, the editor is @harpolea

[2020-09-18 17:19] harpolea commented on #2684
Hi @AxelBrandenburg! Do you have any suggestions for reviewers? If you do, then please mention them here in this thread (without tagging them with an @). This [list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2020-09-18 17:20] harpolea commented on #2684
:wave: @zingale, would you be interested in reviewing this submission for JOSS?

[2020-09-18 17:23] fedorov commented on #2633
Sorry for the delay in responding. I don't think I will be able to make time to do a proper review with everything else going on this Fall. I also don't have a student to delegate.

[2020-09-18 17:35] kyleniemeyer commented on #2684
Thanks @harpolea!

[2020-09-18 17:35] kyleniemeyer commented on #2684
@whedon generate pdf

(checking to see if the paper can generate now)

[2020-09-18 17:36] whedon commented on #2684
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02684/joss.02684/10.21105.joss.02684.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02684/joss.02684/10.21105.joss.02684.pdf) :page_facing_up: :point_left:

[2020-09-18 17:46] KristinaRiemer commented on #2680
I usually do poke around with the code a bit, to learn more about how other folks structure and document their software. I'll be editor for this.

[2020-09-18 17:46] KristinaRiemer commented on #2680
@whedon assign me as editor

[2020-09-18 17:46] whedon commented on #2680
OK, the editor is @KristinaRiemer

[2020-09-18 17:53] thejohnhoffer commented on #2579
I've updated the paper to mention that Rashid 2020 contains a comparison of existing software, I've also updated the DOI for that particular paper. We've also added [contribution guidelines to the wiki](https://github.com/labsyspharm/minerva-story/wiki/Contribution-Guidelines). Also, I'd like to point out that we have tests for Minerva Author [here](https://github.com/labsyspharm/minerva-author/bl

[2020-09-18 18:25] AxelBrandenburg commented on #2684
Possible suggestions include Alexei Kritsuk (an author of ENZO), James Stone (Athena), Udo Ziegler (Nirvana), and Benjamin Brown (Dedalus).
Hope this helps.
Axel

On Fri, Sep 18, 2020 at 10:19:43AM -0700, Alice Harpole wrote:

[2020-09-18 18:48] xuanxu commented on #2536
[FITS](https://fits.gsfc.nasa.gov/) is a default image format for astrophysics catalogs, widely used in astronomy so I don't think there's need to explain it.

+1 to all other changes

[2020-09-18 19:02] nnadeau commented on #2533
@kaustubh-sadekar let me know when you're ready for another round of reviews 😀👍

[2020-09-18 20:10] andyphilips commented on #2528
@sbenthall @dormezil @stulacy Thank you all for the thoughtful reviews. We outline our particular response and revisions below. We have also uploaded all relevant files to the repository.

@stulacy:

**Point 1.**
We appreciate the opportunity to differentiate dynamac from other R packages. @stulacy  is correct in that multiple packages estimate ARDL models: dynlm [-@dynlmCRAN] (which is just model

[2020-09-18 20:17] kyleniemeyer commented on #2436
Hi @CFGrote, I'm the EIC on duty this week, and doing some final checks before publishing.

In the paper, I noticed a few issues:
- In your title, I think "python3" should be changed to "Python 3"
- You do not have an explicit Statement of Need, one of our [required elements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain), that illustrates the research purpose

[2020-09-18 20:39] lincoln-harris commented on #2432
here is the DOI: http://doi.org/10.5281/zenodo.4037272

[2020-09-18 21:23] kyleniemeyer commented on #2451
Hi @mjsull, I'm the EIC on duty this week, and doing some final checks before publishing. Could you address these issues?

- Please edit the metadata on the Zenodo archive so that the author names match what is in the paper. (By default Zenodo tends to just grab the GitHub usernames of contributors).
- Your paper is missing an explicit Statement of Need section, [required for all JOSS papers](http

[2020-09-18 21:24] whedon opened #2686 "[PRE REVIEW]: AOSAT: Adaptive Optics Simulation Analysis Tool(kit)"
**Submitting author:** @mfeldt (<a href="http://orcid.org/0000-0002-4188-5242">Markus Feldt</a>)
**Repository:** <a href="https://github.com/mfeldt/AOSAT" target ="_blank">https://github.com/mfeldt/AOSAT</a>
**Version:** v1.0
**Editor:** @pibion
**Reviewers:** @mvandam, @frigaut
**Managing EiC:** Kyle Niemeyer

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2020-09-18 21:24] whedon commented on #2686
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-09-18 21:26] whedon commented on #2686
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02686/joss.02686/10.21105.joss.02686.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02686/joss.02686/10.21105.joss.02686.pdf) :page_facing_up: :point_left: