[2022-01-12 16:57] jbytecode commented on #3895
- @kmichael08  and @richrobe thank you for your great contributions as reviewers.
- @csinva Congratulations, due to reports of our reviewers, I recommend an acceptance and the EIC will have the final decision.

[2022-01-12 16:57] kyleniemeyer commented on #3399
@tomazbregar sorry about that, I missed your update due to the end of our fall term and the holidays. I will review your updates.

[2022-01-12 16:57] jbytecode commented on #3895
@whedon recommend-accept

[2022-01-12 16:57] whedon commented on #3895
[code]

[2022-01-12 16:57] whedon commented on #3895
[code]

[2022-01-12 16:57] kyleniemeyer commented on #3399
@whedon generate pdf

[2022-01-12 16:58] whedon commented on #3895
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2877

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2877, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-12 16:58] whedon commented on #3399
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: :point_left:

[2022-01-12 17:10] kyleniemeyer commented on #3399
Hi @tomazbregar, I have reviewed your changes and I believe you have addressed the outstanding concerns.

I just submitted a PR for your paper that fixes some reference formatting and a few minor typos, can you please merge this? https://gitlab.com/pyFBS/pyFBS/-/merge_requests/15

Once you have merged this, please archive your repository (using Zenodo or Figshare) and provide the DOI here.

[2022-01-12 17:23] GaryBAYLOR commented on #4031
@whedon generate pdf

[2022-01-12 17:23] whedon commented on #4031
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04031/joss.04031/10.21105.joss.04031.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04031/joss.04031/10.21105.joss.04031.pdf) :page_facing_up: :point_left:

[2022-01-12 17:37] GaryBAYLOR commented on #4031
Hi @fboehm, thanks for your proofreading and detailed comments. I fixed all issues about the text, plots and the references.
* For the plots (the first two in Figure 2), I updated the paper as well as the R function plot.selectEM() in the package to only plot integer values on x axis.
* For issues in the references, I just realize that JOSS compiler automatically changes the first letter of the fi

[2022-01-12 17:58] fboehm commented on #4031
Thanks so much, @GaryBAYLOR !

Please create an archive, with a service like zenodo, and a new git release of your package. Please be sure that the title and authors for the archive match exactly those of the paper.md. Once you've done those two tasks, please report here the version number for the release and the doi for the archive. Let me know if you have any questions about this. Thanks again!

[2022-01-12 18:04] jmschrei commented on #3944
Thanks @AlphonsG. I'm going to try a few more people.

@afrubin or @Scivision, would either of you be able to review this submission?

[2022-01-12 18:11] chryswoods commented on #3914
Thanks for your really kind comments :-)

[2022-01-12 18:23] danielskatz commented on #3895
@csinva - I'm the AEiC this week - I'll now proofread this, and either ask for changes or proceed to publication

[2022-01-12 18:36] danielskatz commented on #3895
@csinva - I've suggested some changes in https://github.com/Yu-Group/veridical-flow/pull/38.  Please merge this, or let me know what you disagree with.

In addition:
* your first reference is unclear - can you add a DOI, URL, etc so that the reader will be able to follow this reference to something?
* for the pandas reference, the authors don't match those in the DOI - please fix this.

Once these

[2022-01-12 18:39] acrlakshman commented on #3824
no further comments from my side to get that branch merged.

[2022-01-12 18:39] acrlakshman commented on #3824
Done.

[2022-01-12 19:18] danielskatz commented on #4049
Given the problem with our LOC counting (missing .f03 files), I'm going to take this back out of scope review and look for an editor

[2022-01-12 19:19] bmcfee commented on #3934
Happy new year everyone!  I hope everyone's doing alright.

@kmichael08 have you had a chance to get started on this one yet?

@sergioburdisso have you been able to address @hbaniecki 's comments?

[2022-01-12 19:19] bmcfee commented on #3937
Checking back in to see how things are going on this one.  Any updates?

[2022-01-12 19:21] danielskatz commented on #4049
👋 @jedbrown - would you be willing to edit this submission?

[2022-01-12 19:21] danielskatz commented on #4049
@whedon invite @jedbrown as editor

[2022-01-12 19:21] whedon commented on #4049
@jedbrown has been invited to edit this submission.

[2022-01-12 19:22] whedon opened #4054 "[PRE REVIEW]: Vectorized capsid rendering in the browser with capsid.js"
**Submitting author:** @dnanto (<a href="http://orcid.org/0000-0002-6123-2441">Daniel Negrón</a>)
**Repository:** <a href="https://github.com/dnanto/capsid" target ="_blank">https://github.com/dnanto/capsid</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pand

[2022-01-12 19:22] whedon commented on #4054
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-12 19:22] whedon opened #4055 "[PRE REVIEW]: title: 'terrainr: An R package for creating immersive virtual environments"
**Submitting author:** @mikemahoney218 (<a href="http://orcid.org/0000-0003-2402-304X">Michael Mahoney</a>)
**Repository:** <a href="https://github.com/ropensci/terrainr" target ="_blank">https://github.com/ropensci/terrainr</a>
**Version:** v0.5.1
**Editor:** @danielskatz
**Reviewers:** @danielskatz
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2022-01-12 19:22] whedon commented on #4054
Wordcount for `paper.md` is 901

[2022-01-12 19:22] whedon commented on #4054
[code]

[2022-01-12 19:22] whedon commented on #4054
[code]

[2022-01-12 19:22] whedon commented on #4055
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-12 19:22] whedon commented on #4055
[code]

[2022-01-12 19:22] whedon commented on #4055
PDF failed to compile for issue #4055 with the following error:
[code]

[2022-01-12 19:23] mbobra commented on #3963
@dfm Since you did all the hard work to find the reviewers, you should get the credit for editing this submission. I'm happy to help and will keep an eye on #4053.

[2022-01-12 19:23] whedon commented on #4054
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04054/joss.04054/10.21105.joss.04054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04054/joss.04054/10.21105.joss.04054.pdf) :page_facing_up: :point_left:

[2022-01-12 19:23] Nikoleta-v3 commented on #4034
@whedon add @fernandomayer as reviewer

[2022-01-12 19:23] whedon commented on #4034
OK, @fernandomayer is now a reviewer

[2022-01-12 19:24] Nikoleta-v3 commented on #4034
@whedon start review

[2022-01-12 19:24] whedon opened #4056 "[REVIEW]: APCtools: Descriptive and Model-based Age-Period-Cohort Analysis"
**Submitting author:** @bauer-alex (<a href="http://orcid.org/0000-0003-3495-5131">Alexander Bauer</a>)
**Repository:** <a href="https://github.com/bauer-alex/APCtools" target ="_blank">https://github.com/bauer-alex/APCtools</a>
**Version:** 1.0.0
**Editor:** @Nikoleta-v3
**Reviewer:** @strengejacke , @fernandomayer
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to th

[2022-01-12 19:24] whedon commented on #4034
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4056.

[2022-01-12 19:24] #4034 closed

[2022-01-12 19:24] whedon commented on #4056
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @strengejacke , @fernandomayer it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post

[2022-01-12 19:24] whedon commented on #4056
Wordcount for `paper.md` is 991

[2022-01-12 19:24] whedon commented on #4056
[code]

[2022-01-12 19:24] whedon commented on #4056
[code]

[2022-01-12 19:24] mikemahoney218 commented on #4055
Apologies for the paper not rendering -- the paper lives in https://github.com/ropensci/terrainr/tree/paper which I could specify in the pre-submission rendering service, but I couldn't figure out how to provide the branch to the actual submission workflow.

[2022-01-12 19:24] whedon commented on #4056
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04056/joss.04056/10.21105.joss.04056.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04056/joss.04056/10.21105.joss.04056.pdf) :page_facing_up: :point_left:

[2022-01-12 19:26] Nikoleta-v3 commented on #4056
👋🏼 @bauer-alex @strengejacke @fernandomayer this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements 🔝 As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different

[2022-01-12 19:27] danielskatz commented on #4054
@dnanto - thanks for your submission. I'm going to ask JOSS editors to review it to see if it is [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS might not consider it in scope for review as research software.  You should hear bac

[2022-01-12 19:27] danielskatz commented on #4054
@whedon query scope

[2022-01-12 19:27] whedon commented on #4054
Submission flagged for editorial review.

[2022-01-12 19:29] danielskatz commented on #4055
@whedon check references from branch paper

[2022-01-12 19:29] whedon commented on #4055
[code]

[2022-01-12 19:29] danielskatz commented on #4055
@whedon generated pdf from branch paper

[2022-01-12 19:29] whedon commented on #4055
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-12 19:29] whedon commented on #4055
[code]

[2022-01-12 19:29] danielskatz commented on #4055
@whedon generate pdf from branch paper

[2022-01-12 19:29] whedon commented on #4055
[code]

[2022-01-12 19:30] whedon commented on #4055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04055/joss.04055/10.21105.joss.04055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04055/joss.04055/10.21105.joss.04055.pdf) :page_facing_up: :point_left:

[2022-01-12 19:32] danielskatz commented on #4055
👋 @mikemahoney218 - if you can remove the entries in the .bib file that aren't used, that will simply our checks. Whedon checks everything in that file, whether it is used in the paper or not, unfortunately.

[2022-01-12 19:34] danielskatz commented on #4055
You can use the commands I gave to check this. note that whedon commands must be the first thing in a comment

[2022-01-12 19:36] danielskatz commented on #4055
👋 @kbarnhart - would you be willing to edit this submission?

[2022-01-12 19:37] danielskatz commented on #4055
@whedon invite @kbarnhart as editor

[2022-01-12 19:37] whedon commented on #4055
@kbarnhart has been invited to edit this submission.

[2022-01-12 19:38] mikemahoney218 commented on #4055
@whedon check references from branch paper

[2022-01-12 19:39] whedon commented on #4055
[code]

[2022-01-12 19:39] whedon commented on #4055
[code]

[2022-01-12 19:41] dfm commented on #3963
Sounds good - thanks @mbobra!

[2022-01-12 19:47] mikemahoney218 commented on #4055
@whedon check references from branch paper

[2022-01-12 19:47] whedon commented on #4055
[code]

[2022-01-12 19:47] whedon commented on #4055
[code]

[2022-01-12 19:49] mikemahoney218 commented on #4055
I believe that should address the reference check! Let me know if I missed anything.

[2022-01-12 19:57] GaryBAYLOR commented on #4031
Hi @fboehm,
I have created a new release of mixR on Github with version number v0.2.1 (see [here](https://github.com/GaryBAYLOR/mixR/tree/v0.2.1))
I have created an archive on Zenodo with DOI: 10.5281/zenodo.5842096 (see [here](https://zenodo.org/record/5842096#.Yd8x3xPMKFi)).

Can you help check if both the git release and zenodo archive are in correct format required by JOSS? Thanks!
Youjiao

[2022-01-12 19:58] danielskatz commented on #4055
@whedon generate pdf from branch paper

[2022-01-12 19:58] whedon commented on #4055
[code]

[2022-01-12 19:59] whedon commented on #4055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04055/joss.04055/10.21105.joss.04055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04055/joss.04055/10.21105.joss.04055.pdf) :page_facing_up: :point_left:

[2022-01-12 21:31] diehlpk commented on #3465
@elwinter Any update?

[2022-01-12 21:45] rbeucher commented on #3551
Hi @jedbrown,

Yes I can review this submission. Looks interesting.

R

[2022-01-12 21:56] mitmat commented on #4030
Hi @hongyuanjia,

I started to review the package. I got to test the functionality until
https://github.com/ideas-lab-nus/epwshiftr#extract-cmip6-output-data
but since I do not have EnergyPlus, I cannot continue. Is it possible to put some example  epw file somewhere, so I can continue? Maybe even the one from the example, so I can check it out...

[2022-01-12 22:35] csinva commented on #3895
Thanks @danielskatz, I've merged in the changes + updated the two references you mentioned!

Also a huge thank you to @jbytecode for doing a wonderful job serving as editor of this submission and heartfelt thanks to @richrobe and @kmichael08 for their thoughtful reviews.

[2022-01-12 22:38] danielskatz commented on #3895
@whedon recommend-accept

[2022-01-12 22:38] whedon commented on #3895
[code]

[2022-01-12 22:38] whedon commented on #3895
[code]

[2022-01-12 22:39] whedon commented on #3895
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2878

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2878, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-12 22:40] danielskatz commented on #3895
@whedon accept deposit=true

[2022-01-12 22:40] whedon commented on #3895
[code]

[2022-01-12 22:41] whedon commented on #3895
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1481395981069475842) 👈 🐦🐦🐦

[2022-01-12 22:41] whedon commented on #3895
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2879
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03895](https://doi.org/10.21105/joss.03895)
2. If everything look

[2022-01-12 22:49] danielskatz commented on #3895
Congratulations to @csinva (Chandan Singh) and co-authors!!

And thanks to @kmichael08 and @richrobe for reviewing, and @jbytecode for editing!
We couldn't do this without you!

[2022-01-12 22:49] #3895 closed

[2022-01-12 22:49] whedon commented on #3895
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03895/status.svg)](https://doi.org/10.21105/joss.03895)

**We need your help!**

Journal of Open Source Softwa

[2022-01-12 23:31] perrydv commented on #3844
@whedon generate pdf from branch joss

[2022-01-12 23:31] whedon commented on #3844
[code]

[2022-01-12 23:31] whedon commented on #3844
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03844/joss.03844/10.21105.joss.03844.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03844/joss.03844/10.21105.joss.03844.pdf) :page_facing_up: :point_left:

[2022-01-12 23:32] perrydv commented on #3844
@whedon check references

[2022-01-12 23:32] whedon commented on #3844
[code]

[2022-01-12 23:37] perrydv commented on #3844
@whedon check references

[2022-01-12 23:37] whedon commented on #3844
[code]

[2022-01-12 23:39] perrydv commented on #3844
@whedon check references

[2022-01-12 23:39] whedon commented on #3844
[code]

[2022-01-12 23:42] mjsottile commented on #3735
@whedon set v1.1.0 as version

[2022-01-12 23:42] whedon commented on #3735
OK. v1.1.0 is the version.

[2022-01-12 23:48] danielskatz commented on #3970
@whedon assign @oscarhiggott as reviewer

thanks very much for agreeing to do this, @oscarhiggott - As you can see, I'm assigning you here, but we won't start the review until we get one more reviewer as well.

[2022-01-12 23:48] whedon commented on #3970
OK, @oscarhiggott is now a reviewer

[2022-01-12 23:48] mjsottile commented on #3735
@lungsi Excellent - I think the added text talking about related work helps a lot in positioning your work with respect to other projects.  There are just a couple of grammatical issues in the new text.  Otherwise, it looks like we're good to go.

- line 38 : incorporates unit -> incorporate units
- line 40 : unit of measure -> units of measure
- line 41 : which allows floats and integers annotati

[2022-01-12 23:52] mjsottile commented on #3735
@lungsi Also, the bibliography entry for Kennedy (2010) needs to be fixed.  The capitalization of place names is incorrect (the city and country names should be capitalized, as well as the name "European").  I am assuming this is a side effect of BiBTeX or LaTeX formatting your original text when generating the PDF.  You should put curly braces around capital letters to force them to be upper case

[2022-01-12 23:53] mjsottile commented on #3735
@whedon set 10.5281/zenodo.5837630 as archive

[2022-01-12 23:53] whedon commented on #3735
OK. <a href="https://doi.org/10.5281/zenodo.5837630" target="_blank">10.5281/zenodo.5837630</a> is the archive.

[2022-01-12 23:55] mjsottile commented on #3896
@dmikushin Thanks for providing some feedback about this submission.  Did you have a chance to look at over entries from the review checklist at the top of this issue?

[2022-01-12 23:56] mjsottile commented on #3896
@highlando No problem.  Thanks for responding!

[2022-01-13 00:12] jpdunc23 commented on #3895
@danielskatz I noticed an issue with the affiliations that we just fixed via https://github.com/Yu-Group/veridical-flow/commit/fe106489b3c888991c788c3f01b5461e096f29fe. Is it too late to update the version at https://doi.org/10.21105/joss.03895? Sorry for the trouble.

[2022-01-13 00:15] perrydv commented on #3844
Thanks @fabian-s.  I've done the following:

- Fixed a formatting detail in the vignette.
- Added three DOIs to paper.bib and re-ran whedon to build the pdf and check the DOIs.
- Tagged a release as v1.0.0 on GitHub.
- Archived the release on Zenodo.
- Found where to update author names in Zenodo metadata and title to match the paper title.
- The DOI from Zenodo is: 10.5281/zenodo.5842623

The pro

[2022-01-13 01:07] danielskatz commented on #3895
👋 @arfon - can you help here?

[2022-01-13 02:31] lungsi commented on #3735
@mjsottile Thank you very much. I have made the changes as suggested.

* [x] line 38 : incorporates unit -> incorporate units
* [x] line 40 : unit of measure -> units of measure
* [x] line 41 : which allows floats and integers annotation with statically-typed unit metadata -> which allows annotating floating point and integer values with statically-typed unit metadata
* [x] line 45 : include ideas

[2022-01-13 02:32] whedon commented on #3735
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03735/joss.03735/10.21105.joss.03735.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03735/joss.03735/10.21105.joss.03735.pdf) :page_facing_up: :point_left:

[2022-01-13 02:37] hongyuanjia commented on #4030
Hi @mitmat, thanks for the review. EnergyPlus is an open-source building energy simulation. It provides free available worldwide weather data at https://energyplus.net/weather. The one I used in the example can be downloaded at the EnergyPlus GitHub repo: https://raw.githubusercontent.com/NREL/EnergyPlus/develop/weather/USA_CA_San.Francisco.Intl.AP.724940_TMY3.epw.

Please let me know if you encou

[2022-01-13 04:58] SeungBack commented on #3967
Hi @liquidcronos,

I have checked the updated version of the manuscripts, and I am satisfied with the response and the revised manuscript. It is good to hear that TriP will be updated to support URDF and visualization. Here are the additional comments for your response:

I recommend adding more about TriP itself (e.g., features, structures, and the strength of TriP).

The colors of green and blue

[2022-01-13 08:12] timtroendle commented on #2688
@garrettj403 Perfect, thanks for letting us know. I'll add a reminder in four weeks so we can check back in and see where we stand.

[2022-01-13 08:13] timtroendle commented on #2688
@whedon remind @garrettj403 in 4 weeks

[2022-01-13 08:13] whedon commented on #2688
Reminder set for @garrettj403 in 4 weeks

[2022-01-13 08:13] timtroendle commented on #2688
@whedon remind @untzag in 4 weeks

[2022-01-13 08:13] whedon commented on #2688
Reminder set for @untzag in 4 weeks

[2022-01-13 08:50] hugoledoux commented on #4018
@abhishekbajpayee @abuccts @jizecn @nsaunier

I think you are suitable for this reviewer, if you are interested let me know here please!

[2022-01-13 09:11] mstimberg commented on #3956
@whedon generate pdf

[2022-01-13 09:12] whedon commented on #3956
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03956/joss.03956/10.21105.joss.03956.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03956/joss.03956/10.21105.joss.03956.pdf) :page_facing_up: :point_left:

[2022-01-13 09:17] mstimberg commented on #3956
Thanks for the additional changes @eferrea. I just noticed that the paper still has a broken reference (`[RN1]` in line 76), but apart from that I am happy with the current state of the software/paper.

[2022-01-13 09:44] fabian-s commented on #3844
Thanks -- I see:
![image](https://user-images.githubusercontent.com/998541/149305500-546d6695-516d-47a5-a588-acc9a37d10a9.png)

-- we prefer that the software author names match those on the JOSS paper. Is there a reason you didn't use your real name instead of `perrydv`?

[2022-01-13 09:45] fabian-s commented on #3844
@whedon set 10.5281/zenodo.5842623 as archive

[2022-01-13 09:45] whedon commented on #3844
OK. <a href="https://doi.org/10.5281/zenodo.5842623" target="_blank">10.5281/zenodo.5842623</a> is the archive.

[2022-01-13 09:45] fabian-s commented on #3844
@whedon set v1.0.0 as version

[2022-01-13 09:45] whedon commented on #3844
OK. v1.0.0 is the version.

[2022-01-13 09:48] eferrea commented on #3956
Many thanks @mstimberg for your review. I also corrected the broken reference now.

[2022-01-13 09:51] mstimberg commented on #3956
@whedon generate pdf

[2022-01-13 09:59] mstimberg commented on #3956
Great, so just to make it official: I recommend acceptance (CC @oliviaguest )

[2022-01-13 10:07] benjaminbolling commented on #3431
Thanks for your comment @magedhelmy1, a lot of things to address I see. :)

For point 3:
So the difference between this software and many apps available online is that this is a semi-automised method for generating shift patterns, whilst the ones shown in the list above allows more-or-less users (schedule-designers/makes) to insert and plan manually.

The reason why I would consider this as a rese

[2022-01-13 10:23] uellue commented on #4052
@martinfleis would it be possible to link to that also in the paper instead of an individual repository? Otherwise this is confusing for readers. Alternatively one could include several repository links. Since there are also other projects that are spread over several repositories, linking to several repositories or a project could make sense as an option for JOSS.

[2022-01-13 10:54] jbcaillau opened #4057 "Automated tests: Are there automated tests or manual steps described so that the functionality of the software can be verified?"

[2022-01-13 10:54] whedon commented on #4057
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-01-13 10:54] #4057 closed

[2022-01-13 11:23] uellue commented on #4052
## State of the field

Right now this seems to be entirely missing in the paper. It should compare DASF with other software to build web applications and do RPC, and point out what the unique selling points of DASF are. From my own experience I know that interactive visualization of large amounts of data is not solved ideally in the "standard" frameworks for web applications, so this _could_ be a

[2022-01-13 11:44] uellue commented on #4052
# Service desk feature

Referring to my previous comment, the Issue that I tried to create via Service Desk seems to be missing. I sent to and received the message "Thank you for your support request! We are tracking your request as ticket #41, and will respond as soon as we can. ". However, it doesn't appear in https://git.geomar.de/groups/digital-earth/dasf/-/issues?scope=all&state=opened

# Cre

[2022-01-13 11:51] uellue commented on #4052
## Reliability of https://git.geomar.de

The repository is "on and off" at this time. This makes reviewing very hard. Is this a temporary issue or more persistent? A reliable hosting platform would be an absolute "must", and with all the previous discussions in #4009 and the issues with the Service Desk feature (my comment above), perhaps a better hosting platform for a public OSS project should b

[2022-01-13 11:57] uellue commented on #4052
@d-eggert I'll halt my review for now. Please let me know when I can reliably access the repository and create Issues so that I can continue with the review.

[2022-01-13 12:04] uellue commented on #4052
@d-eggert is it possible that https://git.geomar.de uses some form of IP blacklisting or rate limiting? Sometimes it is unreachable from my home IP, sometimes from my institutional IP at FZ Jülich. So apparently the server is not down, but the traffic doesn't reach it. How is it from your internal network?

[2022-01-13 12:18] d-eggert commented on #4052
@uellue thanks for starting the review this quickly.

Regarding your service desk issue, it is there. For privacy reasons service desk issues are flagged confidential, so only registered users can see them. As soon as there is some activity going on regarding your issue, you will get a notification via email.

Regarding the reliability of the server, i didn't experience them. But there was some ma

[2022-01-13 12:24] uellue commented on #4052
Quite frankly, that is not very user-friendly. It feels like sending feedback to `/dev/null`. Most other OSS projects allow more interaction. To the very least the created Issues should be public so that users can send follow-up and 3rd parties can participate. IMO the current setup is not accetable for a JOSS paper, but perhaps the editors can pitch in on that.

[2022-01-13 12:36] uellue commented on #4052
Now I can confirm that an external IP is apparently blacklisted after only a few clicks in the repo web interface. It can be triggered reliably by looking at the commit history a few times, and is apparently per IP. This should be resolved before I can continue reviewing.

[2022-01-13 12:38] d-eggert commented on #4052
In general I agree with you view. We already discussed the service desk option to some extend with @martinfleis in the pre-review. I just looked at the service desk configuration and there is unfortunately no option the disable this behavior.

What's possible is, that I remove the confidential flag, once I read the issue, so I can make sure that it does not contain sensible information, e.g. since

[2022-01-13 12:42] uellue commented on #4052
Ah OK. That would be very important information for the user that should be contained in the response e-mail.

That should also be described in the response e-mail. Also, that puts a permanent burden on your team to do this quickly. Quite frankly, why not just host the project on github.com?

[2022-01-13 12:50] d-eggert commented on #4052
I simply used the default template. I will have a look at how to change this and add the corresponding information.

You are absolutely right, if I would have a say in this, I would consider it. But I have to follow certain rules from my institution, so it's not me to decide this.

[2022-01-13 12:53] d-eggert commented on #4052
I removed your email signature from the issue and removed the confidential flag.

https://git.geomar.de/digital-earth/dasf/dasf-messaging-python/-/issues/41

[2022-01-13 12:54] magedhelmy1 commented on #3431
Hi Benjamin, Thanks for the reply.

The sentence you wrote under point 3 above should be reflected in the State-of-the-art part in your paper.
As the guidelines of JOSS state.

"..enables some new research challenges to be addressed or makes addressing research challenges significantly better (e.g., faster, easier, simpler).."

So kindly update the paper to clearly reflect this point and then you

[2022-01-13 12:57] d-eggert commented on #4052
@cfgmr can you confirm this?

I also access the Geomar git from home and have no such issues.

[2022-01-13 12:59] rickhelmus commented on #4029
@whedon generate pdf from branch paper20

[2022-01-13 12:59] whedon commented on #4029
[code]

[2022-01-13 13:00] whedon commented on #4029
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04029/joss.04029/10.21105.joss.04029.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04029/joss.04029/10.21105.joss.04029.pdf) :page_facing_up: :point_left:

[2022-01-13 13:05] uellue commented on #4052
Yes, I've also heard these data protection discussions in other context. Fortunately that's not an issue here at FZ Jülich. Since Geomar is also Helmholtz like FZ Jülich and also operates in Germany, perhaps the policies at Geomar could be improved? The information in public OSS projects is generally public. The closest thing to personal information are names and e-mail addresses as part of Git co

[2022-01-13 13:07] uellue commented on #4052
Also, feel free to quote me on that and/or include me in the discussions. Maybe it helps to show that this is a larger concern and not just users complaining. :-)

[2022-01-13 13:10] uellue commented on #4052
Maybe authenticated requests are treated differently, just as an idea?

[2022-01-13 13:30] d-eggert commented on #4052
Thanks for you thoughts on this, I will try to start a discussion on this with the corresponding people at my institute (which, btw. isn't Geomar, but GFZ Potsdam). In the end it will be more of a Helmholtz wide discussion on how to support and not limit OSS and open science in general. But this goes way beyond this software review.

@cfgmr mentioned a `HelmholzAAI` login, unfortunately the option

[2022-01-13 14:07] Subho07 commented on #4032
The manuscript is well written and well described. Some of the required clarifications are:
1. The computation time is not compared with the existing technique. Please provide a comparison result.
2. How is the performance gets effected by the volume of data? Please provide such details in the manuscript.

[2022-01-13 14:36] Narayana-Rao commented on #4032
The package is clean and has a well-defined purpose. The paper is also well written and tutorials are elaborative.  Please provide clarifications on the following queries.

1 ) The ``Related Software`` section is too short and requires some critical comparison and sufficient motivation.
2) The test results show a failed test associated with memory estimation (see the following screenshot), could y

[2022-01-13 14:42] crvernon commented on #3824
@cc-a - I want to make sure I am working on what will be the branch that is targeted for release / publication.  Your default branch is `develop` which is fine.  Are you planning on bringing the `joss` branch into `develop`?

Also, you have quite a few dependabot PRs open do you mind evaluating merging these and ensuring they don't break your code?  This may help prevent potential security issues

[2022-01-13 14:47] cfgmr commented on #4052
Thanks for your input @uellue.

Regarding the blacklist problem, we do not treat authenticated requests differently but we do protect our instance aggressively, e.g. a couple of failed login attempts will put your IP on the blacklist for half an hour. I can confirm that browsing the commit history triggers a ban. This is as a bug at our end that we will look into (ping @dirks).

Just to clarify: g

[2022-01-13 15:28] gcattan commented on #3701
Hello,
I just included a python project containing a subset of the scripts in the repository, so it could be easier to review depending on code affinity.
The Unity/C# project was also compiled to windows .exe, so it could be easier to test.

[2022-01-13 15:45] fboehm commented on #4031
@whedon set version as v0.2.1

[2022-01-13 15:45] whedon commented on #4031
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-13 15:45] fboehm commented on #4031
@whedon commands

[2022-01-13 15:45] whedon commented on #4031
OK. v0.2.1 is the version.

[2022-01-13 15:46] fboehm commented on #4031
@whedon set 10.5281/zenodo.5842096 as archive

[2022-01-13 15:46] whedon commented on #4031
OK. <a href="https://doi.org/10.5281/zenodo.5842096" target="_blank">10.5281/zenodo.5842096</a> is the archive.

[2022-01-13 15:47] fboehm commented on #4031
Hi, @GaryBAYLOR - the release and the archive look good. Thanks!

[2022-01-13 15:48] fboehm commented on #4031
@whedon check references

[2022-01-13 15:48] whedon commented on #4031
[code]

[2022-01-13 15:48] fboehm commented on #4031
@whedon recommend-accept

[2022-01-13 15:48] whedon commented on #4031
[code]

[2022-01-13 15:48] whedon commented on #4031
[code]

[2022-01-13 15:49] whedon commented on #4031
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2880

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2880, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-13 16:01] fraukewiese commented on #3574
@noah80 : Are there any updates on the submission?

[2022-01-13 16:36] perrydv commented on #3844
@fabian-s Zenodo did something where it automatically populated metadata and took my GitHub user name (perrydv) instead of my real name.  I thought I fixed that when I updated the metadata.  Also I thought I updated the title to match the paper title as requested.  I went back into that and tried save and publish.  Does this help: https://zenodo.org/record/5842623.  Sorry I'm new to this and not s

[2022-01-13 17:15] peanutfun commented on #3976
Yes, I would like to review! I feel confident in reviewing the data assimilation methods and the repository overall, but I haven't worked with Julia yet. I will agree to review if another reviewer joins who is "fluent" in Julia.

[2022-01-13 17:20] lheagy commented on #3976
Thanks for pinging! This looks interesting, but I unfortunately do not have time at the moment to take on the review.

[2022-01-13 17:24] danielskatz commented on #4031
@whedon recommend-accept

Thanks all - this looks good

[2022-01-13 17:24] whedon commented on #4031
[code]

[2022-01-13 17:25] whedon commented on #4031
[code]

[2022-01-13 17:25] whedon commented on #4031
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2881

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2881, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-13 17:25] danielskatz commented on #4031
@whedon accept deposit=true

[2022-01-13 17:25] whedon commented on #4031
[code]

[2022-01-13 17:26] whedon commented on #4031
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1481679080986714112) 👈 🐦🐦🐦

[2022-01-13 17:26] whedon commented on #4031
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2882
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.04031](https://doi.org/10.21105/joss.04031)
2. If everything look

[2022-01-13 17:34] danielskatz commented on #4031
Congratulations to @GaryBAYLOR (Youjiao Yu)!!

And thanks to @welch16 and @soodoku for reviewing, and @fboehm for editing!
We couldn't do this without you!

[2022-01-13 17:34] #4031 closed

[2022-01-13 17:34] whedon commented on #4031
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.04031/status.svg)](https://doi.org/10.21105/joss.04031)

**We need your help!**

Journal of Open Source Softwa

[2022-01-13 17:37] danielskatz commented on #4004
@whedon reject

[2022-01-13 17:37] whedon commented on #4004
Paper rejected.

[2022-01-13 17:37] #4004 closed

[2022-01-13 17:39] danielskatz commented on #4043
👋 @mbagagli - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  The package seems to compute empirical third and fourth moments from datasets, which is a very simple thing to do. Furth

[2022-01-13 17:40] danielskatz commented on #4043
@whedon reject

[2022-01-13 17:40] whedon commented on #4043
Paper rejected.

[2022-01-13 17:40] #4043 closed

[2022-01-13 17:42] danielskatz commented on #4041
👋 @grenkoca - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-pack

[2022-01-13 17:43] danielskatz commented on #4041
@whedon reject

[2022-01-13 17:43] whedon commented on #4041
Paper rejected.

[2022-01-13 17:45] whedon opened #4058 "[PRE REVIEW]: SEEDPOD Ground Risk: A Python application and library for Uncrewed Aerial Systems ground risk analysis and risk-aware path finding"
**Submitting author:** @aliaksei135 (<a href="http://orcid.org/0000-0003-0023-0300">Aliaksei Pilko</a>)
**Repository:** <a href="https://github.com/aliaksei135/seedpod_ground_risk/" target ="_blank">https://github.com/aliaksei135/seedpod_ground_risk/</a>
**Version:** v0.15.0
**Editor:** @danielskatz
**Reviewers:** @kylebeggs, @AustinTSchaffer
**Managing EiC:** Daniel S. Katz

**:warning: JOSS redu

[2022-01-13 17:46] whedon commented on #4058
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-13 17:46] whedon opened #4059 "[PRE REVIEW]: BSBT: A package for analysing spatial comparative judgement data"
**Submitting author:** @rowlandseymour (<a href="http://orcid.org/0000-0002-8739-3921">Rowland Seymour</a>)
**Repository:** <a href="https://github.com/rowlandseymour/BSBT" target ="_blank">https://github.com/rowlandseymour/BSBT</a>
**Version:** v1.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-01-13 17:46] whedon commented on #4059
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-13 17:46] whedon commented on #4058
[code]

[2022-01-13 17:46] whedon commented on #4058
Wordcount for `paper.md` is 713

[2022-01-13 17:46] whedon commented on #4058
[code]

[2022-01-13 17:46] whedon commented on #4059
PDF failed to compile for issue #4059 with the following error:
[code]

[2022-01-13 17:46] whedon commented on #4058
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04058/joss.04058/10.21105.joss.04058.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04058/joss.04058/10.21105.joss.04058.pdf) :page_facing_up: :point_left:

[2022-01-13 17:49] danielskatz commented on #4058
@whedon assign me as editor

[2022-01-13 17:49] whedon commented on #4058
OK, the editor is @danielskatz

[2022-01-13 17:51] danielskatz commented on #4058
👋 @aliaksei135 - I'll be the editor for your submission.  The next step is to find at least 2 reviewers. If you have any suggestions for potential reviewers, please mention them here in this thread (without tagging them with an @). Note that [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the botto

[2022-01-13 17:52] danielskatz commented on #4058
Also, is this software Windows only?

[2022-01-13 17:53] danielskatz commented on #4059
@whedon check references from branch joss

[2022-01-13 17:53] whedon commented on #4059
[code]

[2022-01-13 17:53] danielskatz commented on #4059
@whedon generate pdf from branch joss

[2022-01-13 17:53] whedon commented on #4059
[code]

[2022-01-13 17:54] whedon commented on #4059
[code]

[2022-01-13 17:54] whedon commented on #4059
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04059/joss.04059/10.21105.joss.04059.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04059/joss.04059/10.21105.joss.04059.pdf) :page_facing_up: :point_left:

[2022-01-13 17:54] danielskatz commented on #4059
👋 @rowlandseymour - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-01-13 17:54] danielskatz commented on #4059
@whedon query scope

[2022-01-13 18:11] kbarnhart commented on #4055
@whedon assign @kbarnhart as editor

[2022-01-13 18:11] whedon commented on #4055
OK, the editor is @kbarnhart

[2022-01-13 18:20] wence- commented on #3982
Installation issues on first pass review

- [ ] fenics/basix#369
- [ ] fenics/basix#370

(Will update this issue with more comments as I proceed).

[2022-01-13 18:29] mjsottile commented on #3735
@whedon recommend-accept

[2022-01-13 18:29] whedon commented on #3735
[code]

[2022-01-13 18:29] danielskatz commented on #4055
Sorry, I missed the rOpenSci part - given that, you don't need to do anything, I will take care of it.

[2022-01-13 18:29] whedon commented on #3735
[code]

[2022-01-13 18:29] danielskatz commented on #4055
@whedon assign me as editor

[2022-01-13 18:29] whedon commented on #4055
OK, the editor is @danielskatz

[2022-01-13 18:29] whedon commented on #3735
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2883

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2883, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-13 18:30] danielskatz commented on #4055
Link to rOpenSci review: https://github.com/ropensci/software-review/issues/416

[2022-01-13 18:35] kbarnhart commented on #4055
Sounds good @danielskatz, thanks!

[2022-01-13 18:36] danielskatz commented on #4055
@whedon assign @danielskatz as reviewer

[2022-01-13 18:36] whedon commented on #4055
OK, @danielskatz is now a reviewer

[2022-01-13 18:36] danielskatz commented on #4055
@whedon start review

[2022-01-13 18:36] whedon opened #4060 "[REVIEW]: title: 'terrainr: An R package for creating immersive virtual environments"
**Submitting author:** @mikemahoney218 (<a href="http://orcid.org/0000-0003-2402-304X">Michael Mahoney</a>)
**Repository:** <a href="https://github.com/ropensci/terrainr" target ="_blank">https://github.com/ropensci/terrainr</a>
**Version:** v0.5.1
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.5818848" target="_blank">10.5281/zenodo.581884

[2022-01-13 18:36] whedon commented on #4055
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4060.

[2022-01-13 18:36] #4055 closed

[2022-01-13 18:36] whedon commented on #4060
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.jos

[2022-01-13 18:36] whedon commented on #4060
[code]

[2022-01-13 18:36] whedon commented on #4060
PDF failed to compile for issue #4060 with the following error:
[code]

[2022-01-13 18:38] danielskatz commented on #4060
Link to rOpenSci review: ropensci/software-review#416

[2022-01-13 18:39] danielskatz commented on #4060
@whedon generate pdf from branch joss

[2022-01-13 18:39] whedon commented on #4060
[code]

[2022-01-13 18:39] whedon commented on #4060
PDF failed to compile for issue #4060 with the following error:
[code]

[2022-01-13 18:39] danielskatz commented on #4060
@whedon generate pdf from branch paper

[2022-01-13 18:39] whedon commented on #4060
[code]

[2022-01-13 18:40] danielskatz commented on #4060
@whedon set 10.5281/zenodo.5818848 as archive

[2022-01-13 18:40] whedon commented on #4060
OK. <a href="https://doi.org/10.5281/zenodo.5818848" target="_blank">10.5281/zenodo.5818848</a> is the archive.

[2022-01-13 18:40] danielskatz commented on #4060
@whedon set v0.5.1 as version

[2022-01-13 18:40] whedon commented on #4060
OK. v0.5.1 is the version.

[2022-01-13 18:41] whedon commented on #4060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04060/joss.04060/10.21105.joss.04060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04060/joss.04060/10.21105.joss.04060.pdf) :page_facing_up: :point_left:

[2022-01-13 18:42] danielskatz commented on #4060
@mikemahoney218 - the zenodo archive has a different title and authors than the paper. Typically, these are the same for a JOSS-related paper.  Note that you can manually change the metadata of the zenodo archive.

[2022-01-13 18:44] danielskatz commented on #4060
Also, in the paper, please change "section 3 of" to "Section 3 of"

[2022-01-13 18:44] lucydot commented on #3898
@whedon generate pdf from branch joss

[2022-01-13 18:44] whedon commented on #3898
[code]

[2022-01-13 18:45] danielskatz commented on #4060
Once we resolve these two issues, we can go ahead and publish this.

[2022-01-13 18:45] whedon commented on #3898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: :point_left:

[2022-01-13 18:47] aquilesC commented on #2688
Dear all,
I’m very glad to see this project moved forward. Sadly, I don’t have the bandwidth for reviewing it, but I’ll be definitely checking the code.

[2022-01-13 18:49] mikemahoney218 commented on #4060
@danielskatz Thanks! I believe I've fixed both issues.

[2022-01-13 18:56] lucydot commented on #3898
@whedon check references

[2022-01-13 18:58] whedon commented on #4060
[code]

[2022-01-13 18:59] whedon commented on #4060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04060/joss.04060/10.21105.joss.04060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04060/joss.04060/10.21105.joss.04060.pdf) :page_facing_up: :point_left:

[2022-01-13 19:02] danielskatz commented on #4060
@whedon recommend-accept

[2022-01-13 19:02] whedon commented on #4060
[code]

[2022-01-13 19:03] whedon commented on #4060
PDF failed to compile for issue #4060 with the following error:
[code]

[2022-01-13 19:03] danielskatz commented on #4060
@whedon recommend-accept from branch paper

[2022-01-13 19:03] whedon commented on #4060
[code]

[2022-01-13 19:04] whedon commented on #4060
[code]

[2022-01-13 19:05] whedon commented on #4060
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2884

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2884, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-13 19:05] danielskatz commented on #4060
@whedon accept deposit=true from branch paper

[2022-01-13 19:05] whedon commented on #4060
[code]

[2022-01-13 19:08] lucydot commented on #3898
On behalf of the JOSS editorial team, thank you very much @jgoldfar and @dalonsoa for your reviews ✨

@tcaduser it looks like we are onto the final lap!

I have a few editorial suggestions for the JOSS article - to improve readability:

- `DEVSIM is a technology computer-aided design (TCAD) software` : --> re-word this to `DEVSIM is technology computer-aided design (TCAD) software` or perhaps `DEV

[2022-01-13 19:14] arunpersaud commented on #2688
@aquilesC Thanks... feel free to reach out via email when you are reading the code... happy to connect again and improve the code we have in case you have suggestions

[2022-01-13 19:17] danielskatz commented on #3735
@lungsi - I've suggested some small changes in https://github.com/neuralgraphs/diman/pull/10 - please merge this or let me know what you disagree with.

[2022-01-13 19:19] danielskatz commented on #3735
👋 @khinsen, @oyvinht - there are unchecked items in both of your checklists.  Can you check them off now?

[2022-01-13 19:20] danielskatz commented on #4060
@arfon - can you see what's happened here?  I think this has large images that make things slow, but not this slow.

[2022-01-13 19:30] wsavran commented on #3658
@kbarnhart I think I have addressed all of the comments from the reviewers. I'll summarize them here:
1. added a [page](https://docs.cseptesting.org/getting_started/theory.html) on the documentation explaining the mathematical theory behind the evaluations
2. updated the tutorials so they display plots properly when run via the terminal
3. added a new branching model to ensure that documentation c

[2022-01-13 19:31] lungsi commented on #3735
I have merged it. Thanks @danielskatz

[2022-01-13 19:43] diehlpk commented on #3724
@tiburoch Could you please reply, so we can finalize the paper.

[2022-01-13 20:00] prashjha commented on #4026
Hi, @ixjlyons, it is a pleasure to handle your submission as the editor. Could you please suggest a couple of potential reviewers from this [reviewers list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822). Let me know if you have trouble finding the names.

[2022-01-13 20:01] prashjha commented on #3775
@AustinTSchaffer sorry for the delay. As you can see, there is some trouble finding the second reviewer. I see that you have committed to reviewing another submission. Please let me know if you want me to remove you as a reviewer from this submission.

[2022-01-13 20:03] prashjha commented on #3775
Hi, @kasbot, could you please suggest the names of potential reviewers (other than the ones I have invited already) for this submission? The list of reviewers can be found [here](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822).

[2022-01-13 20:04] prashjha commented on #3775
@whedon generate pdf

[2022-01-13 20:05] whedon commented on #3775
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03775/joss.03775/10.21105.joss.03775.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03775/joss.03775/10.21105.joss.03775.pdf) :page_facing_up: :point_left:

[2022-01-13 20:12] prashjha commented on #3775
Howdy, @erik-whiting! Would you be interested in reviewing this submission for JOSS?

[2022-01-13 20:18] erik-whiting commented on #3775
@prashjha Definitely, let's do it.

[2022-01-13 20:21] prashjha commented on #3775
Awesome :)

[2022-01-13 20:21] whedon commented on #3775
OK, @erik-whiting is now a reviewer

[2022-01-13 20:22] christinahedges commented on #3838
@whedon check references from branch JOSS

[2022-01-13 20:22] whedon commented on #3838
[code]

[2022-01-13 20:22] whedon opened #4061 "[REVIEW]: The AutoActive Research Environment"
**Submitting author:** @kasbot (<a href="http://orcid.org/0000-0002-9983-0041">Kasper Bøtker Rasmussen</a>)
**Repository:** https://github.com/SINTEF/AutoActive-ActivityPresenter.git
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.1
**Editor:** @prashjha
**Reviewers:** @AustinTSchaffer, @erik-whiting
**Archive:** 10.5281/zenodo.6393705

**:warning: JOSS reduced service mode :

[2022-01-13 20:23] #3775 closed

[2022-01-13 20:23] whedon commented on #4061
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AustinTSchaffer, @erik-whiting it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2022-01-13 20:23] whedon commented on #4061
Wordcount for `paper.md` is 1459

[2022-01-13 20:23] whedon commented on #4061
[code]

[2022-01-13 20:23] whedon commented on #4061
[code]

[2022-01-13 20:23] whedon commented on #4061
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04061/joss.04061/10.21105.joss.04061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04061/joss.04061/10.21105.joss.04061.pdf) :page_facing_up: :point_left:

[2022-01-13 20:24] christinahedges commented on #3838
@ilyamandel LGTM! Great work everyone involved, thank you all for your patience, professionalism, and thorough reviews!

@whedon recommend accept

[2022-01-13 20:25] christinahedges commented on #3838
@whedon recommend-accept

[2022-01-13 20:25] whedon commented on #3838
No archive DOI set. Exiting...

[2022-01-13 20:29] christinahedges commented on #3838
Sorry for the typo above that was out of order!!

@ilyamandel If you are happy and would like to make no further changes based on the review, please make a tagged release 🏷️ of the code and archive it, and then please report the version number and archive DOI here in this thread. Please make sure this archived version has all the correct meta data (author names, title etc)!

I can then recommend t

[2022-01-13 20:30] prashjha commented on #4061
Thank you, @AustinTSchaffer and @erik-whiting, for agreeing to be reviewers. Please read the first couple of comments in this thread and also reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the [closed "REVIEW" issues](https://github.com/openjournals/joss-reviews/issues?q=label%3Areview+is%3Aclosed) on the "joss-reviews" repository t

[2022-01-13 20:35] christinahedges commented on #4017
@Tohuvavohu thank you for your review! Let's wait for @DougBurke to finish their review, and we can check in if the reviewers have any further points they'd like to discuss.

Thanks again for a fast review!

[2022-01-13 20:59] prashjha commented on #4026
@ixjlyons, while you and I are looking for potential reviewers, I have a few remarks for the draft of the paper:

As per the example JOSS paper [here](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography), you are missing 'Statement of Need'. For a software article, I would also like to see some details about the model and application using your code. You may also n

[2022-01-13 21:48] aliaksei135 commented on #4058
Hi, thanks!

The software has an installer that is Windows only, however the wheels build for Linux and Windows. We have CI tests for both platforms.

I'll have a look through the list and find reviewers

[2022-01-13 21:54] jbcaillau commented on #3991
@tmigot @jbytecode Hi, I’ve read the paper and tried the code:
- very clear paper, well motivated
- DCI is definitely a nice addition
- the comparison with state of the art (though more general math prog oriented code / ipopt) on a standard benchmark is convincing & promising
- installation & example are OK
- still need to run the benchmark myself for a check
- I’ve seen that @jbytecode pointed so

[2022-01-13 22:20] gassmoeller commented on #3551
Hi @jedbrown thanks for asking. This would normally be right in my area of interest, but I am pretty tied up at the moment and would not get to the review before mid March. Maybe @bangerth or @tjhei are available?

[2022-01-13 22:34] danielskatz commented on #3970
👋 @dimpase, @fingolfin, @ChrisJefferson, @ruthhoffmann - You were suggested to me as potential reviewers of this JOSS submission by Alexander Konovalov...

Would one of you be willing to review it? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-13 23:09] danielskatz commented on #3851
👋 @lrasmus - thanks very much for volunteering to review this submission.  I'll add you, and then start the review, which will open a new issue, and I'll comment again there.

[2022-01-13 23:09] danielskatz commented on #3851
@whedon add @lrasmus as reviewer

[2022-01-13 23:10] whedon commented on #3851
OK, @lrasmus is now a reviewer

[2022-01-13 23:10] danielskatz commented on #3851
@whedon start review

[2022-01-13 23:10] whedon opened #4062 "[REVIEW]: PopMedNet: A scalable and extensible open-source informatics platform designed to facilitate the implementation and operation of distributed health data networks"
**Submitting author:** @ddeehere (<a href="http://orcid.org/0000-0001-7021-6227">Daniel Dee</a>)
**Repository:** https://github.com/PopMedNet-Team/popmednet
**Branch with paper.md** (empty if default branch):
**Version:** PMN-2021.6-JOSS
**Editor:** @danielskatz
**Reviewers:** @jhancock4d, @lrasmus
**Archive:** 10.5281/zenodo.6325732

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2022-01-13 23:10] whedon commented on #3851
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4062.

[2022-01-13 23:10] #3851 closed

[2022-01-13 23:10] whedon commented on #4062
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jhancock4d, @lrasmus it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2022-01-13 23:11] whedon commented on #4062
[code]

[2022-01-13 23:11] whedon commented on #4062
Wordcount for `paper.md` is 740

[2022-01-13 23:15] danielskatz commented on #4062
@jhancock4d and @lrasmus - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

[2022-01-13 23:20] whedon commented on #4062
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04062/joss.04062/10.21105.joss.04062.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04062/joss.04062/10.21105.joss.04062.pdf) :page_facing_up: :point_left:

[2022-01-13 23:21] danielskatz commented on #4060
@whedon accept deposit=true from branch paper

[2022-01-13 23:21] whedon commented on #4060
[code]

[2022-01-13 23:22] whedon commented on #4060
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1481768663548141568) 👈 🐦🐦🐦

[2022-01-13 23:22] whedon commented on #4060
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2885
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.04060](https://doi.org/10.21105/joss.04060)
2. If everything look

[2022-01-13 23:31] danielskatz commented on #4060
Congratulations to @mikemahoney218 and co-author!

[2022-01-13 23:31] #4060 closed

[2022-01-13 23:31] whedon commented on #4060
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.04060/status.svg)](https://doi.org/10.21105/joss.04060)

**We need your help!**

Journal of Open Source Softwa

[2022-01-13 23:31] mikemahoney218 commented on #4060
Thank you so much @danielskatz!

[2022-01-13 23:33] whedon opened #4063 "[PRE REVIEW]: PyPVRPM: Photovoltaic Reliability and Performance Model in Python"
**Submitting author:** @brandons209 (<a href="http://orcid.org/0000-0001-8278-7158">Brandon Silva</a>)
**Repository:** <a href="https://github.com/FSEC-Photovoltaics/pvrpm-lcoe" target ="_blank">https://github.com/FSEC-Photovoltaics/pvrpm-lcoe</a>
**Version:** v1.6.0
**Editor:** @jgostick
**Reviewers:** @SarthakJariwala
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warni

[2022-01-13 23:34] whedon commented on #4063
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-13 23:34] whedon commented on #4063
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "," (COMMA) [#<BibTeX::Bibliography data=[5]>, "@", #<BibTeX::Entry >, {:title=>["Validation of PV-RPM Code in the System Advisor Model."], :author=>["Geoffrey Klise and Olga Lavrova and Janine Freeman"], :abstractnote=>["This paper describes efforts made by Sandia National Laboratories (SNL) and the Nat

[2022-01-13 23:34] whedon commented on #4063
Wordcount for `paper.md` is 728

[2022-01-13 23:34] whedon commented on #4063
[code]

[2022-01-13 23:34] whedon commented on #4063
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04063/joss.04063/10.21105.joss.04063.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04063/joss.04063/10.21105.joss.04063.pdf) :page_facing_up: :point_left:

[2022-01-13 23:39] danielskatz commented on #4063
👋 @brandons209 - I've suggested a bunch of changes in  https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/pull/26 to fix the bib errors

[2022-01-13 23:42] danielskatz commented on #4063
👋 @jgostick - are you able to edit this submission?

[2022-01-13 23:42] danielskatz commented on #4063
@whedon invite @jgostick as editor

[2022-01-13 23:42] whedon commented on #4063
@jgostick has been invited to edit this submission.

[2022-01-13 23:45] taless474 commented on #3976
Thank you. I will try to find someone fluent in Julia!

[2022-01-13 23:46] taless474 commented on #3976
@whedon assign @peanutfun as reviewer

[2022-01-13 23:46] whedon commented on #3976
OK, @peanutfun is now a reviewer

[2022-01-13 23:58] taless474 commented on #3976
@felixcremer are you interested in reviewing this work?

[2022-01-14 00:03] brandons209 commented on #4063
Thank you! The paper compiled fine so I didn't realize there were errors. I'll merge the changes.

[2022-01-14 00:04] taylormcd commented on #3997
Sorry for the delay.  Had the holidays, then a conference, and am now dealing with being sick.  I should be able to address suggestions/questions starting next week.

[2022-01-14 00:35] danielskatz commented on #4063
@whedon check references

[2022-01-14 00:35] whedon commented on #4063
[code]

[2022-01-14 00:36] danielskatz commented on #4063
While things get started, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2022-01-14 00:38] ilyamandel commented on #3838
Thank you, @christinahedges !

The version of record for JOSS is v02.27.00:
https://github.com/TeamCOMPAS/COMPAS/releases/tag/v02.27.00

By archiving, do you mean creating a Zenodo archive of the repo?  I haven't done that before, but will attempt to create one (though possibly not until after the weekend).

[2022-01-14 01:00] TeamCOMPAS commented on #3838
https://zenodo.org/record/5847518#.YeDLHvFBxp8 -- OK, done, now really going offline. :)

[2022-01-14 02:56] jgostick commented on #4063
@whedon assign @jgostick as editor

[2022-01-14 02:56] whedon commented on #4063
OK, the editor is @jgostick

[2022-01-14 04:35] brandons209 commented on #4063
@whedon check references

[2022-01-14 04:35] whedon commented on #4063
[code]

[2022-01-14 04:36] brandons209 commented on #4063
@whedon generate pdf

[2022-01-14 04:36] whedon commented on #4063
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04063/joss.04063/10.21105.joss.04063.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04063/joss.04063/10.21105.joss.04063.pdf) :page_facing_up: :point_left:

[2022-01-14 04:46] emilydolson commented on #3948
Okay, done with my initial review! Really cool project! @bramvandijk88 already added the contributing guidelines, so in my mind the only two issues currently blocking acceptance are:

- [Improved unit tests](https://github.com/bramvandijk88/cacatoo/issues/14)
- [A little more discussion of the state of the field](https://github.com/bramvandijk88/cacatoo/issues/16)

[2022-01-14 05:15] chrisamiller commented on #3722
Appreciated, all!  Just let us know what the next steps are from our side!

[2022-01-14 06:24] alexmalins commented on #3318
@whedon generate pdf from branch joss_paper

[2022-01-14 06:24] whedon commented on #3318
[code]

[2022-01-14 06:25] whedon commented on #3318
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03318/joss.03318/10.21105.joss.03318.pdf) :page_facing_up: :point_left:

[2022-01-14 06:29] alexmalins commented on #3318
Hi @kellyrowland @munkm,
This change was just another minor update to URLs in the paper: we moved the [dataset creation](https://github.com/radioactivedecay/datasets) and [code comparison](https://github.com/radioactivedecay/comparisons) notebooks into their own repos.

[2022-01-14 07:45] timtroendle commented on #2688
@aquilesC, ok, thanks for letting us know.

[2022-01-14 07:47] jbytecode commented on #3991
it seems a community guidelines part is missing, right?

@tmigot please consider the suggestions and apply the needes stuff if you are agreed with them. Please ping us when you have done. Thank you in advance

[2022-01-14 07:53] oyvinht commented on #3735
@danielskatz The last two items have now been checked off.

[2022-01-14 08:18] khinsen commented on #3735
@danielskatz Done! Nice to see this published!

[2022-01-14 09:11] uellue commented on #4052
Unfortunately it happened again after a bit more browsing of the commit history for the "Contribution and authorship" item.

[2022-01-14 09:36] cfgmr commented on #4052
@uellue should be fixed now, please try again

[2022-01-14 09:40] uellue commented on #4052
## Contribution and authorship

The following contributors who seem to have added several commits are not co-authors:

* Adam Sasin
* Daniela Rabe
* Peter Morstein

Are there any reasons to not include them?

[2022-01-14 09:42] uellue commented on #4052
Seems to be working, thx! I'll let you know if it happens again. :-)

[2022-01-14 09:58] uellue commented on #4052
## A statement of need

This will probably also change when dealing with https://github.com/openjournals/joss-reviews/issues/4052#issuecomment-1012045546? It would be good to address the need not only in general terms, but also relative to other existing tools (RPC frameworks, web application frameworks, scientific analysis tools).

[2022-01-14 10:02] uellue commented on #4052
Regarding the items Functionality and Documentation there's https://git.geomar.de/digital-earth/dasf/dasf-messaging-python/-/issues/41. The added documentation will likely help me to do meaningful tests of installation and functionality. I'll pause my review for now. Let me know when you have an update and would like some feedback! Can also be for parts to go step-by-step.

[2022-01-14 10:45] dimpase commented on #3970
I'd like to suggest to run this by a "real" quantum codes expert, e.g. @fredezerman (he might need a ping by email: https://personal.ntu.edu.sg/fredezerman/Fred_CV.pdf)

I find the package description lacking in the theoretical sense - it seems that the only detailed description of what's done there is in the code itself.

[2022-01-14 10:47] ArkajyotiSaha commented on #3780
@fabian-s I have updated the text. We have moved most of 180 - 260 in package README. Since the analysis of time series data is an important part of the package, and is not highlighted in the methodological paper, we wanted to keep it in this article. In order to further reduce the length of the article, we have alsomoved the discussion on unknown parameter estimation to README section. Please let

[2022-01-14 10:50] tiburoch commented on #3724
@diehlpk : the master has been updated with answers to your comments, including cRacklet and FFTW version number and the compiler that have been used in the Figure legend. A tag has been created in the repository for the version mentioned in the paper. (v1.0.0-alpha-1)

[2022-01-14 11:17] fabian-s commented on #3844
@perrydv thanks, this works!

[2022-01-14 11:18] fabian-s commented on #3844
@whedon recommend-accept

[2022-01-14 11:18] whedon commented on #3844
[code]

[2022-01-14 11:18] whedon commented on #3844
[code]

[2022-01-14 11:18] whedon commented on #3844
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2886

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2886, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-14 11:35] holtgrewe commented on #3941
@mikldk I'm starting now.

[2022-01-14 11:39] holtgrewe commented on #3941
The invitation link has expired. I'll continue my review anyway now. Let me know how to proceed in the "formal" process.

[2022-01-14 11:53] holtgrewe commented on #3941
I could not edit the checklist above. I took the one from the joss docs, below are the fields I filled. I need to actually test the software on Monday.

## manuscript

### summary

- actually also useful for benchmarks

### main text

- Can review guideline be addressed? "Mentions (if applicable) of any ongoing research projects using the software or recent scholarly publications enabled by it."
-

[2022-01-14 12:15] Bisaloo commented on #3948
Thank you for your very insighful comments @emilydolson and thanks @bramvandijk88 for sending a reminder (Sorry for my lack of activity, I'm still on leave without reliable internet access until next week)

[2022-01-14 12:23] oliviaguest commented on #3956
@mstimberg thank you so much!

@puolival is everything clear with what you need to do to review this? 😊

[2022-01-14 12:25] oliviaguest commented on #3270
@McGregor14 OK, when you are all back let us know! 😊

[2022-01-14 12:27] oliviaguest commented on #3701
@gcattan thanks! BTW can you think anybody who might be well-placed to review this?

[2022-01-14 12:38] mikldk commented on #3941
@whedon re-invite @holtgrewe as reviewer

[2022-01-14 12:38] whedon commented on #3941
OK, the reviewer has been re-invited.

@holtgrewe please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-14 12:39] mikldk commented on #3941
@holtgrewe Thanks. I just re-invited you. After accept you should be able to check of the boxes. Thanks for your work so far.

[2022-01-14 12:58] d-eggert commented on #4052
@cfgmr thanks again for your profound answer.

I'm not really 'unhappy', but it is indeed somewhat inconvenient. I wasn't aware of the Github authentication option offered by the HIFIS instance. My plan would be to go one as started and if the service desk option really turns out as a hurdle, then I will consider moving/mirroring the repositories to the HIFIS instance which should comply with the

[2022-01-14 13:12] jedbrown commented on #4049
We could switch from `cloc` to `tokei`. It does lots of things well, but misclassifies the Matlab source.
[code]

[2022-01-14 13:46] danielskatz commented on #3735
@whedon recommend-accept

[2022-01-14 13:46] whedon commented on #3735
[code]

[2022-01-14 13:47] whedon commented on #3735
[code]

[2022-01-14 13:47] whedon commented on #3735
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2887

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2887, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-14 13:57] danielskatz commented on #3735
@whedon accept deposit=true

[2022-01-14 13:57] whedon commented on #3735
[code]

[2022-01-14 13:58] whedon commented on #3735
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1481989155743805445) 👈 🐦🐦🐦

[2022-01-14 13:58] whedon commented on #3735
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2888
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03735](https://doi.org/10.21105/joss.03735)
2. If everything look

[2022-01-14 14:03] danielskatz commented on #3844
@whedon accept deposit=true

[2022-01-14 14:03] whedon commented on #3844
[code]

[2022-01-14 14:04] whedon commented on #3844
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1481990552371478530) 👈 🐦🐦🐦

[2022-01-14 14:04] whedon commented on #3844
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2889
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03844](https://doi.org/10.21105/joss.03844)
2. If everything look

[2022-01-14 14:04] danielskatz commented on #3735
Congratulations to @lungsi (B. Lungsi Sharma)!!

And thanks to @oyvinht and @khinsen for reviewing, and to @mjsottile for editing!
We couldn't do this without all your efforts!

[2022-01-14 14:04] #3735 closed

[2022-01-14 14:04] whedon commented on #3735
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03735/status.svg)](https://doi.org/10.21105/joss.03735)

**We need your help!**

Journal of Open Source Softwa

[2022-01-14 14:06] matthieuaussal commented on #3965
@whedon generate pdf

[2022-01-14 14:06] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2022-01-14 14:09] matthieuaussal commented on #3965
@pitsianis
I wrote matlab with $\textsc{Matlab}$, but that doesn't seem to change

@mkitti
1. The reference to numpy has been removed because we never mention numpy in the text. We only kept the references of the languages ​​that are compared in the article. Otherwise, it would also be necessary to cite all equivalent software, which cannot be exhaustive.

2. There is no community guideline as we

[2022-01-14 14:12] danielskatz commented on #3844
Congratulations to @perrydv (Perry de Valpine) and co-authors!!

And thanks to @rowlandseymour @tbrown122387 for reviewing, and to @fabian-s for editing!
We couldn't do this without your efforts!

(and thanks specifically to @perrydv and @fabian-s - it's a pleasure for me as AEiC to get a paper that's completely ready for publishing, with no additional editing needed)

[2022-01-14 14:12] #3844 closed

[2022-01-14 14:12] whedon commented on #3844
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03844/status.svg)](https://doi.org/10.21105/joss.03844)

**We need your help!**

Journal of Open Source Softwa

[2022-01-14 14:13] mkitti commented on #3965
![Screenshot_20220114-091241_GitHub.jpg](https://user-images.githubusercontent.com/8062771/149529036-55fab2e5-fd9f-47d1-9d48-3777161a2bdd.jpg)

The linsolve.hpp does not exist yet it is used in the examples.

[2022-01-14 14:15] danielskatz commented on #3970
Thanks @dimpase - I'll check with @fredezerman.

Re your other comment, can you be more specific about what you mean by "the package description"?  Note that JOSS papers are intended to be fairly short, though the repository (README, documentation, etc.) should be at an appropriate level of detail.

[2022-01-14 14:17] danielskatz commented on #3970
👋 @fredezerman - As you can see above, you were suggested to me as a potential reviewer of this JOSS submission by @dimpase...

Would one of you be willing to review it? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

I'll also be sending you an email about this shortly, in case that's a better

[2022-01-14 14:17] matthieuaussal commented on #3965
ok, thanks. I fixed it

[2022-01-14 14:18] jbytecode commented on #3965
@matthieuaussal the software repo should include community guidelines as mentioned in reviewer tasks as:

- Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support

[2022-01-14 14:18] matthieuaussal commented on #3965
@whedon generate pdf

[2022-01-14 14:18] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2022-01-14 14:24] whedon opened #4064 "[PRE REVIEW]: LoopScheduler: A customizable and extensible framework for game loop architecture"
**Submitting author:** @pragma-once (<a href="http://orcid.org/0000-0002-4951-0250">Masiha Majidzadeh</a>)
**Repository:** <a href="https://github.com/LoopScheduler/LoopScheduler" target ="_blank">https://github.com/LoopScheduler/LoopScheduler</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to

[2022-01-14 14:24] whedon commented on #4064
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-14 14:24] whedon commented on #4064
Wordcount for `paper.md` is 987

[2022-01-14 14:24] whedon commented on #4064
[code]

[2022-01-14 14:24] whedon commented on #4064
[code]

[2022-01-14 14:24] whedon opened #4065 "[PRE REVIEW]: violinplotter: R package for comparing means with violin plots"
**Submitting author:** @jeffersonfparil (<a href="http://orcid.org/0000-0002-5693-4123">Jefferson Paril</a>)
**Repository:** <a href="https://github.com/jeffersonfparil/violinplotter.git" target ="_blank">https://github.com/jeffersonfparil/violinplotter.git</a>
**Version:** v3.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :war

[2022-01-14 14:24] whedon commented on #4065
[code]

[2022-01-14 14:24] whedon commented on #4065
Failed to discover a valid open source license.

[2022-01-14 14:24] whedon commented on #4065
PDF failed to compile for issue #4065 with the following error:
[code]

[2022-01-14 14:24] danielskatz commented on #4065
@whedon check references from branch JOSS-manuscript

[2022-01-14 14:24] whedon commented on #4065
[code]

[2022-01-14 14:24] danielskatz commented on #4065
@whedon generate pdf from branch JOSS-manuscript

[2022-01-14 14:24] whedon commented on #4065
[code]

[2022-01-14 14:24] whedon commented on #4065
[code]

[2022-01-14 14:25] matthieuaussal commented on #3965
ok, I will see with my colleagues to agree on a clear and precise policy.

[2022-01-14 14:25] whedon commented on #4065
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04065/joss.04065/10.21105.joss.04065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04065/joss.04065/10.21105.joss.04065.pdf) :page_facing_up: :point_left:

[2022-01-14 14:26] danielskatz commented on #4065
👋 @jeffersonfparil - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

[2022-01-14 14:26] danielskatz commented on #4065
@whedon query scope

[2022-01-14 14:26] whedon commented on #4065
Submission flagged for editorial review.

[2022-01-14 14:30] danielskatz commented on #4064
👋 @pragma-once - thanks for your submission.  Can you say a few words about how this is [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) as defined by JOSS?  What kinds of researchers would cite this submission in their own papers?  This isn't clear to me in your statement of need.

[2022-01-14 14:30] dimpase commented on #3970
Basically, its manual says
[code]
It appears that the only description of the algorithm is in the manual/code itself. IMHO it's not what "reference implementation" is meant to be - there seems to be no other published material on it, or other implementations of it.

[2022-01-14 14:38] csoneson commented on #3990
👋🏻 @jspaezp, @MKoesters, @joewandy - happy new year! I just wanted to check in to see how things are going here. Let me know if you have any questions!

[2022-01-14 14:49] pragma-once commented on #4064
Hello, thank you. I couldn't relate the research software defined by JOSS to the game related software. There has been research on game loops, and they have solved the performance issues but they are specific about the game components. This work however focuses on a general purpose approach to game loops, because not all games or game engines are designed the same way. It could be cited by researc

[2022-01-14 14:52] danielskatz commented on #4064
Thanks @pragma-once - given your statements, I'm going to ask the JOSS editors to decide if this fits JOSS's scope for review.  You should get a decision in a week or two.

[2022-01-14 14:52] danielskatz commented on #4064
@whedon query scope

[2022-01-14 14:52] whedon commented on #4064
Submission flagged for editorial review.

[2022-01-14 15:39] katiebreivik commented on #3998
Thanks for checking on this @dbkeitel! We did decide decide to go with LISA-focused tools only.

With the recently merged [PR](https://github.com/TeamLEGWORK/LEGWORK/pull/83) on our joss branch, I think we have covered your concerns/questions/suggestions so far including updates to documentation and the paper. Please don't hesitate to point out anything we may have missed though!

[2022-01-14 15:40] lgatto commented on #3978
Apologies for the late reply, but I won't be able to review the software/paper.

[2022-01-14 15:49] lungsi commented on #3735
Thank you very much (reviewers: @oyvinht and @khinsen, and editors: @mjsottile and @danielskatz).

Comments by @oyvinht and @khinsen were very helpful, I learned some new stuffs. I really appreciated the generous comments from @khinsen, it was very encouraging. I would also like to point out that @mjsottile 's feedback greatly improved the manuscript.

Overall, my experience with JOSS has been hig

[2022-01-14 15:52] diehlpk commented on #3724
@whedon generate pdf

[2022-01-14 15:53] whedon commented on #3724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: :point_left:

[2022-01-14 15:55] diehlpk commented on #3724
@tiburoch Thanks, I can accept the paper as it is.

Please upload the current version to Zenodo or FigShare and provide me with the DOI. Note that the title and the authors on Zenodo or FigShare have to match with the paper.

[2022-01-14 15:56] diehlpk commented on #3724
@whedon set v1.0.0-alpha-1 as version

[2022-01-14 15:56] whedon commented on #3724
OK. v1.0.0-alpha-1 is the version.

[2022-01-14 15:56] KristinaRiemer commented on #3978
@lgatto thanks for getting back about this! Luckily, we were able to find reviewers. Thanks!

[2022-01-14 16:01] dbkeitel commented on #3998
Thanks @katiebreivik and @TomWagg ! I'm very busy right now, for about one more week; then I'll give both paper and package documentation another careful look, and expect to then be able to sign off quickly.

[2022-01-14 16:03] danielskatz commented on #4049
Thanks @jedbrown - ok, let's go back to the scope query, but this time for subject, not for effort

[2022-01-14 16:03] danielskatz commented on #4049
@whedon query scope

[2022-01-14 16:03] whedon commented on #4049
Submission flagged for editorial review.

[2022-01-14 16:04] whedon opened #4066 "[PRE REVIEW]: KST48: a Powerful Program for the Location of Minimum Energy Crossing Points (MECPs)"
**Submitting author:** @RimoAccelerator (<a href="http://orcid.org/0000-0002-0628-8864">Yumiao Ma</a>)
**Repository:** <a href="https://github.com/RimoAccelerator/KST48/" target ="_blank">https://github.com/RimoAccelerator/KST48/</a>
**Version:** v0.1
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-01-14 16:04] whedon commented on #4066
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-14 16:04] whedon commented on #4066
Wordcount for `paper.md` is 867

[2022-01-14 16:04] whedon commented on #4066
[code]

[2022-01-14 16:04] whedon commented on #4066
[code]

[2022-01-14 16:05] danielskatz commented on #4066
@RimoAccelerator - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests,

[2022-01-14 16:06] danielskatz commented on #4066
@whedon query scope

[2022-01-14 16:06] whedon commented on #4066
Submission flagged for editorial review.

[2022-01-14 16:11] sbenthall commented on #3496
@edonnachie Would you be able to step in as reviewer for this package?

[2022-01-14 16:27] mkitti commented on #3965
Also the Julia line `(M .- 1) .* Matrix(I, size(M,1), size(M,2))` could be shorter: `(M .- 1) .* Matrix(I, size(M))`.

[2022-01-14 16:29] prashjha commented on #4061
@erik-whiting, I will suggest opening an issue to rename the file as just LICENSE as it can get confusing.

[2022-01-14 16:33] sbocce commented on #4049
@jedbrown thanks a lot for your message. I'll reply by points

- Documentation: I thought the wiki was sufficient, since the code is pretty simple. Should I improve this further? Also, are tests a strict requirement?

- Statement of need -> thanks, I'll fix that.

- I can confirm that we never submitted to SoftwareX. Initially, I was targeting SoftwareX, and just wrote this in the README, for the

[2022-01-14 16:34] tiburoch commented on #3724
@diehlpk . Thank you for your time and for accepting the paper for publication. I have a last question for you before I can upload it to Zenodo: the version that is referenced for Fig 1 (v1.0.0-alpha.1) is the pre-release version, which corresponds to the state of the code before we submitted it to JOSS. Now that publication is accepted, the version number is moving to v1.0.0 as the code has sligh

[2022-01-14 16:35] danielskatz commented on #4049
If you think JOSE is better, then yes, withdraw here and submit there.  I can take care of the withdrawal here if you confirm this is your intent

[2022-01-14 16:43] sbocce commented on #4049
@danielskatz Thanks. I'll double check the scope and requirements of JOSE and will confirm you ASAP

[2022-01-14 16:43] diehlpk commented on #3724
@whedon set v1.0.0 as version

[2022-01-14 16:43] whedon commented on #3724
OK. v1.0.0 is the version.

[2022-01-14 16:48] tcaduser commented on #3898
@whedon generate pdf from branch joss

[2022-01-14 16:48] whedon commented on #3898
[code]

[2022-01-14 16:49] whedon commented on #3898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: :point_left:

[2022-01-14 16:57] tcaduser commented on #3898
@lucydot , thank you for your excellent suggestions.  I have incorporated your changes, with some minor additional edits.

I have also merged in the r2.0.1 branch to the joss branch.  This incorporates additional changes to README.md, CONTRIBUTING.md, INSTALL.md.

[2022-01-14 17:13] sbocce commented on #4049
@danielskatz OK, I can confirm that JOSE is better for my needs, and I will resubmit there. If you could withdraw the paper for me, that would surely help. Thank you again for your time!

[2022-01-14 17:16] danielskatz commented on #4049
Great, thanks - good luck in JOSE

[2022-01-14 17:16] danielskatz commented on #4049
@whedon withdraw

[2022-01-14 17:16] whedon commented on #4049
Paper withdrawn.

[2022-01-14 17:16] #4049 closed

[2022-01-14 17:17] mkitti commented on #3965
Try $\textsc{MATLAB}$. sc indicates small capital letters

[2022-01-14 17:25] jbytecode commented on #3991
Dear @tmigot

Since there is an item in the reviewers' item list that states

`Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support`

please add some related sections in your README.md of repo.

Thank you in advance.

[2022-01-14 18:17] LeonidPryadko commented on #3970
A few comments in relation to the comments of @dimpase.

1. I should remark that the manual indeed gives a detailed description of the algorithm; we thought it unnecessary to duplicate the information in the README file given that it is rather technical.

2. If deemed necessary, I will be happy to add the following two paragraphs describing the algorithm to the README file:

In the case of  a CSS

[2022-01-14 18:59] cc-a commented on #3824
Thanks @crvernon. All dependabot PR's have been resolved and the `joss-review` branch implementing feedback has been merged into develop.

Is it an expectation that the paper.md should be part of the mainline development branch? If not I would prefer to keep it in its own separate branch.

[2022-01-14 19:09] gcattan commented on #3701
I can recommend `toncho11`, but I have been working with him recently (on a different project though).

Looking in GH, I found these contributors who use similar technology and seem interested in the same topic:

`ShiJbey`, `brianjohannes`, `ekinney-lang`

[2022-01-14 19:49] mitmat commented on #4030
I got through the examples in the repo readme. Package works like a charm. Already the first part of managing the many files is solved nicely. I have no real issues with the functionality, but the documentation needs to be improved! (see also the issues in the repo).

Comments to the paper will come later…

**License:**

You have two license files in the repo, the one is MIT (as specified on CRAN,

[2022-01-14 19:52] kbarnhart commented on #3658
Thanks @wsavran. I'll be able to look carefully at this first thing Tuesday and will move forward then.

[2022-01-14 19:56] whedon opened #4067 "[PRE REVIEW]: pymdp: A Python library for active inference in discrete state spaces"
**Submitting author:** @conorheins (<a href="http://orcid.org/0000-0002-5884-7728">Conor Heins</a>)
**Repository:** <a href="https://github.com/infer-actively/pymdp" target ="_blank">https://github.com/infer-actively/pymdp</a>
**Version:** v0.0.4
**Editor:** @emdupre
**Reviewers:** @seankmartin, @patrickmineault
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

D

[2022-01-14 19:56] whedon commented on #4067
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-14 19:57] whedon commented on #4067
[code]

[2022-01-14 19:57] whedon commented on #4067
PDF failed to compile for issue #4067 with the following error:
[code]

[2022-01-14 19:58] fanchercm commented on #3935
The developer of X-Light (sangpham171) ***@***.******@***.***> ; ***@***.******@***.***>)
Is a good option.

On Jan 11, 2022, at 2:06 PM, Rachel Kurchin ***@***.******@***.***>> wrote:

Followed up on both emails mentioned above. @fanchercm<https://github.com/fanchercm>, if I still don't hear from them, any other reviewer suggestions?

—
Reply to this email directly, view it on GitHub<https://gith

[2022-01-14 19:58] danielskatz commented on #4067
@whedon check references from branch paper_branch

[2022-01-14 19:59] whedon commented on #4067
[code]

[2022-01-14 19:59] danielskatz commented on #4067
@whedon generate pdf from branch paper_branch

[2022-01-14 19:59] whedon commented on #4067
[code]

[2022-01-14 19:59] whedon commented on #4067
[code]

[2022-01-14 19:59] whedon commented on #4067
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04067/joss.04067/10.21105.joss.04067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04067/joss.04067/10.21105.joss.04067.pdf) :page_facing_up: :point_left:

[2022-01-14 20:00] danielskatz commented on #4067
👋 @emdupre - are you able to edit this JOSS submission?

[2022-01-14 20:00] danielskatz commented on #4067
@whedon invite @emdupre as editor

[2022-01-14 20:00] whedon commented on #4067
@emdupre has been invited to edit this submission.

[2022-01-14 20:01] lpantano commented on #3722
At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (**should match the paper title) and author list (make sure

[2022-01-14 20:25] aliaksei135 commented on #4058
Looking through some of the list, the following seem suitable:

- dionhaefner - 1 active
- helgee - 0 active
- Garethwpeters - 0 active
- nickbearman - 0 active
- kylebeggs - 0 active
- AustinTSchaffer - 1 active

Hopefully at least 2 will be available and willing.

[2022-01-14 20:39] whedon commented on #4029
:wave: @wesleyburr, please update us on how your review is going (this is an automated reminder).

[2022-01-14 20:39] whedon commented on #4029
:wave: @hechth, please update us on how your review is going (this is an automated reminder).

[2022-01-14 20:49] whedon commented on #4030
:wave: @mitmat, please update us on how your review is going (this is an automated reminder).

[2022-01-14 20:49] whedon commented on #4030
:wave: @bczernecki, please update us on how your review is going (this is an automated reminder).

[2022-01-14 21:59] villaa commented on #3993
@matthewfeickert Do you have an update?

[2022-01-14 22:02] matthewfeickert commented on #3993
No. Maybe tonight. High probability before Monday (2022-01-17).

[2022-01-14 22:39] PetrKryslUCSD commented on #3997
No worries.

[2022-01-14 22:45] whedon opened #4068 "[PRE REVIEW]: SwiftVISA: Controlling Instrumentation with a Swift-based Implementation of the VISA Communication Protocol"
**Submitting author:** @ohildreth (<a href="http://orcid.org/0000-0001-5358-9080">Owen Hildreth</a>)
**Repository:** <a href="https://github.com/SwiftVISA/SwiftVISASwift" target ="_blank">https://github.com/SwiftVISA/SwiftVISASwift</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2022-01-14 22:45] whedon commented on #4068
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-14 22:45] whedon commented on #4068
[code]

[2022-01-14 22:45] whedon commented on #4068
Failed to discover a valid open source license.

[2022-01-14 22:45] whedon commented on #4068
PDF failed to compile for issue #4068 with the following error:
[code]

[2022-01-14 22:48] danielskatz commented on #4068
@whedon check references from branch paper

[2022-01-14 22:48] whedon commented on #4068
[code]

[2022-01-14 22:48] danielskatz commented on #4068
@whedon generate pdf from branch paper

[2022-01-14 22:48] whedon commented on #4068
[code]

[2022-01-14 22:48] whedon commented on #4068
PDF failed to compile for issue #4068 with the following error:
[code]

[2022-01-14 22:52] danielskatz commented on #4068
@OHildreth - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

Also, note that your paper does not compile. Please follow the [example paper](https

[2022-01-14 22:52] danielskatz commented on #4068
@whedon query scope

[2022-01-14 22:52] whedon commented on #4068
Submission flagged for editorial review.

[2022-01-14 22:54] whedon opened #4069 "[PRE REVIEW]: Global-Chem: Collections of common small molecules and their SMILES/SMARTS to support diverse chemical communities"
**Submitting author:** @Sulstice (<a href="http://orcid.org/0000-0002-1342-9258">Suliman Sharif</a>)
**Repository:** <a href="https://github.com/Sulstice/global-chem" target ="_blank">https://github.com/Sulstice/global-chem</a>
**Version:** v1.0.2
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2022-01-14 22:54] whedon commented on #4069
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-14 22:54] whedon commented on #4069
Failed to discover a `Statement of need` section in paper

[2022-01-14 22:54] whedon commented on #4069
Wordcount for `paper.md` is 3890

[2022-01-14 22:54] whedon commented on #4069
PDF failed to compile for issue #4069 with the following error:
[code]

[2022-01-14 22:54] whedon commented on #4069
[code]

[2022-01-14 22:54] whedon commented on #4069
[code]

[2022-01-14 22:56] danielskatz commented on #4069
👋 @Sulstice - this paper is far too long.  Please see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

Also, note that your paper does not compile. Please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography). In addition, you could work on the possibly missing DOIs that whedon suggests, but note that som

[2022-01-14 23:09] Sulstice commented on #4069
@whedon generate pdf

[2022-01-14 23:15] Sulstice commented on #4069
@whedon generate pdf

[2022-01-14 23:15] whedon commented on #4069
PDF failed to compile for issue #4069 with the following error:
[code]

[2022-01-14 23:16] Sulstice commented on #4069
@whedon generate pdf

[2022-01-14 23:17] whedon commented on #4069
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04069/joss.04069/10.21105.joss.04069.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04069/joss.04069/10.21105.joss.04069.pdf) :page_facing_up: :point_left:

[2022-01-14 23:30] Sulstice commented on #4069
@danielskatz I would need to discuss this internally., but I believe since the paper is showing scientific results it can be in tandem published with another Journal.

I need to fix my figures as well for whedon.

[2022-01-14 23:41] cmbiwer commented on #3998
I've posted an issue here: https://github.com/TeamLEGWORK/LEGWORK/issues/84

Following the instructions on the installation page:
[code]
Is not getting me a working package.

[2022-01-14 23:52] cmbiwer commented on #3998
As far as the paper, I think it is well written and describes the purpose. The only comment I have on the paper is the state of the field is summarized as "So far, most studies made use of custom made codes which have not been made
47 publicly available." I wouldn't ask the authors to give examples of closed-source code. But do the authors know of publicly available codes that could be cited? The

[2022-01-15 01:49] slee5777 commented on #3944
Could you remove Sean and my personal email addresses?  We don't want them to make public.

[2022-01-15 03:30] taless474 commented on #3928
@ahurriyetoglu are you interested in reviewing this work?

[2022-01-15 03:31] taless474 commented on #4008
@shervinmin are you interested in reviewing this?

[2022-01-15 05:02] jedbrown commented on #3551
@victorsacek Thanks for your updates. I think you'll find that other software supports BCs that depend on space and time. I think this section should be specific in placing present work in the context of related work. In this case, I think it involves citing some alternatives and explaining the relative merits.

Also, in the `Makefile`, it's better not to change `MPIEXEC`, which has already been d

[2022-01-15 05:02] jedbrown commented on #3551
@whedon add @rbeucher as reviewer

[2022-01-15 05:02] whedon commented on #3551
OK, @rbeucher is now a reviewer

[2022-01-15 05:02] jedbrown commented on #3551
@whedon start review

[2022-01-15 05:02] whedon opened #4070 "[REVIEW]: Mandyoc: A finite element code to simulate thermochemical convection in parallel"
**Submitting author:** @victorsacek (<a href="http://orcid.org/0000-0001-9598-5081">Victor Sacek</a>)
**Repository:** https://github.com/ggciag/mandyoc
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.6
**Editor:** @jedbrown
**Reviewers:** @rbeucher, @psanan
**Archive:** 10.5281/zenodo.6390220

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2022-01-15 05:02] whedon commented on #3551
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4070.

[2022-01-15 05:02] #3551 closed

[2022-01-15 05:03] whedon commented on #4070
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rbeucher it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2022-01-15 05:03] whedon commented on #4070
Wordcount for `paper.md` is 871

[2022-01-15 05:03] whedon commented on #4070
[code]

[2022-01-15 05:03] whedon commented on #4070
[code]

[2022-01-15 05:06] jedbrown commented on #4070
Hi @rbeucher! :wave: Welcome to JOSS and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the Mandyoc repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria

[2022-01-15 05:07] jedbrown commented on #4070
@victorsacek Please check out those missing DOI reported above :point_up:

[2022-01-15 11:53] lostanlen commented on #3937
I have raised one issue regarding community guidelines (probably the last before approval)
https://github.com/UCD4IDS/WaveletsExt.jl/issues/42

[2022-01-15 12:53] McWhity commented on #3337
The installation via virtualenv and pip was added due to a comment by arthur-e.

The installation of a working gdal version can be tricky. If using pip, `x.y.z` of the pygdal version (`x.y.z.buildnumber)` need to be the same as the previously installed `gdal-bin x.y.z` package. Does this clarify your concerns?

Beside the installation via pip and virtualenv a second installation guide by using Ana

[2022-01-15 13:04] mkitti commented on #3965
Regarding VTK, I understand that an upgrade to 9.1 is related to the segmentation fault issues. What is the latest version of VTK that does not have the segmentation fault issues?

It seems strange to state "The version of VTK library which has been tested" and not state are known issues with that testing.

[2022-01-15 18:02] kmichael08 commented on #3934
I started with the section related to the software paper. My comments are in the issue linked above.
Just a quick check. This paper is a shorter version of an arXiv preprint from 2019, and this preprint is referenced in this work. @bmcfee is this all good with the JOSS guidelines?

[2022-01-15 18:11] nanthony21 commented on #3957
Thank you, @jgostick . I'll stay posted for if there is anything I can do once reviews begin.

[2022-01-15 18:25] bmcfee commented on #3934
@kmichael08 yes, that should be fine.  The JOSS preprint policy is listed here: https://joss.readthedocs.io/en/latest/submitting.html#preprint-policy

[2022-01-15 19:11] erik-whiting commented on #4061
@prashjha another question for you: Regarding the documentation checks, there's a checkbox item that says

Most of the core functionality is well documented and It doesn't seem like there's an API for this, but there are MATLAB and Python libraries that are supposed to work with this submission's AAZ file format. These libraries seem like they're a separate from the submission, but the Python libr

[2022-01-15 20:45] arthur-e commented on #3337
@McWhity Yes, that's great. Giving users options is always helpful. Power users will be able to install the GDAL Python bindings ahead of time and then use whatever package manager they want for the rest. Less experienced users will have to wait on Conda.

[2022-01-16 10:52] chchch commented on #4022
Hello,

I've started adding tests to the main branch. Should I be keeping the joss-paper branch synced with the main branch?

[2022-01-16 11:46] alexander-pastukhov commented on #3901
@fartist  I have posted detailed response at [alexander-pastukhov/bistablehistory#3](https://github.com/alexander-pastukhov/bistablehistory/issues/3) , should I duplicate it here as well?

[2022-01-16 12:45] Sulstice commented on #4069
@whedon generate pdf

[2022-01-16 12:46] whedon commented on #4069
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04069/joss.04069/10.21105.joss.04069.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04069/joss.04069/10.21105.joss.04069.pdf) :page_facing_up: :point_left:

[2022-01-16 12:47] lostanlen commented on #3937
Update: the issue above has been closed, thanks to @zengfung. At this stage i approve publication in JOSS.

[2022-01-16 12:59] Sulstice commented on #4069
@danielskatz I would like for this paper to be considered for JOSS review regardless of it's length.

Philosophically, chemical lists are an important subject and usually pretty tricky to obtain. I would trust the Open Source Software will remain open-source so that these lists are free for people to download especially as it grows. That is my intention when submitting the paper to this specific j

[2022-01-16 15:31] gkthiruvathukal commented on #3919
Thank you, @siara-cc, especially for waiting for me. I became department chair at my university at the new year, so I am just getting back to *normal*.

[2022-01-16 15:31] gkthiruvathukal commented on #3919
@whedon set 10.5281/zenodo.5800408 as archive

[2022-01-16 15:31] whedon commented on #3919
OK. <a href="https://doi.org/10.5281/zenodo.5800408" target="_blank">10.5281/zenodo.5800408</a> is the archive.

[2022-01-16 15:32] gkthiruvathukal commented on #3919
@whedon commands

[2022-01-16 15:32] whedon commented on #3919
Here are some things you can ask me to do:

[code]

[2022-01-16 15:32] gkthiruvathukal commented on #3919
@whedon set 1.0.2 as version

[2022-01-16 15:32] whedon commented on #3919
OK. 1.0.2 is the version.

[2022-01-16 15:33] gkthiruvathukal commented on #3919
@whedon accept

[2022-01-16 15:33] whedon commented on #3919
To recommend a paper to be accepted use `@whedon recommend-accept`

[2022-01-16 15:34] gkthiruvathukal commented on #3919
@whedon recommend-accept

[2022-01-16 15:34] whedon commented on #3919
[code]

[2022-01-16 15:34] whedon commented on #3919
[code]

[2022-01-16 15:34] whedon commented on #3919
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2890

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2890, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-16 15:38] gkthiruvathukal commented on #3829
@andrewtarzia Thanks for your feedback.
@MariaPoliti Thanks for addressing @andrewtarzia's feedback.

@alberto-battistel  Have you been able to review this submission? I don't see any input on the checklist or comments. We need input from you to complete this review.

Thanks to everyone for your patience. I was out of office until the 4th but also became department chairperson at my university. So

[2022-01-16 15:39] gkthiruvathukal commented on #3884
Hi @jingnanshi and @ricopicone, can you please let us know whether you'll be able to review this JOSS submission?

[2022-01-16 15:42] gkthiruvathukal commented on #3292
@markheckmann  Can you please provide an update on when you'll be able to make the changes?

@brunaw Have you also had a chance to review the submission? I guess with the significant changes required, it may make sense to wait until @markheckmann has made the changes proposed by @aj2duncan.

[2022-01-16 15:45] gkthiruvathukal commented on #3999
@askuric Thank you for your patience. I was out of the office until 4th January. Then I became department chair at my university and have been transitioning into this role. I'm finally able to resume work on my JOSS workload.

@sea-bass and @destogl, Are you willing to contribute a review for this JOSS submission?

[2022-01-16 15:51] askuric commented on #3999
Congratulations on your new position @gkthiruvathukal and thanks again for accepting the editor role for our paper.
I am very happy to hear that the process is starting, I am looking forward to hear your feedback on our project!

[2022-01-16 15:58] gkthiruvathukal commented on #3999
Thank you, @askuric. Hopefully, we can get review started soon!  I need two reviewers to proceed. We should be under way in a few days (based on recent submissions I am editing).

[2022-01-16 16:11] sea-bass commented on #3999
I am happy to review for this submission.

[2022-01-16 16:51] EduPH commented on #4008
@taless474 sorry to respond late. I'm very busy these days and I think it is far from my expertise. Thank you for considering me.

[2022-01-16 17:44] siara-cc commented on #3919
Thank you for taking this further and great news @gkthiruvathukal . Wish you more such accolades in future!!

[2022-01-16 17:52] fartist commented on #3901
No, thanks - I can see that on the repo - thanks for taking your time.

On Sun, Jan 16, 2022 at 3:46 AM Alexander (Sasha) Pastukhov <
***@***.***> wrote:

[2022-01-16 17:52] gkthiruvathukal commented on #3919
Thank you, too, @siara-cc!

[2022-01-16 18:49] emdupre commented on #4067
Yes, happy to take this ! Thanks @danielskatz

[2022-01-16 18:49] emdupre commented on #4067
@whedon assign @emdupre as editor

[2022-01-16 18:49] whedon commented on #4067
OK, the editor is @emdupre

[2022-01-16 18:51] emdupre commented on #4067
:wave: Hi @conorheins, and thank you for your submission to JOSS !

If you have any suggestions for potential reviewers, please let me know by listing their names or GitHub handles (without the @, so they don't receive a notification) here.

[2022-01-16 19:02] lscalfi commented on #3747
Dear @LMMorgan, sorry for the delay, I had a hard time installing the different packages.

The PopOff library is a python library for fitting force field parameters for Buckingham potentials, possibly using core-shell models. It is interfaced with the molecular dynamic code LAMMPS using the LAMMPS python interface. This adds a (complex) dependency to the PopOff library but frees the user from the

[2022-01-16 19:40] osorensen commented on #4047
@whedon generate pdf from branch paper

[2022-01-16 19:40] whedon commented on #4047
[code]

[2022-01-16 19:41] whedon commented on #4047
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04047/joss.04047/10.21105.joss.04047.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04047/joss.04047/10.21105.joss.04047.pdf) :page_facing_up: :point_left:

[2022-01-16 19:52] osorensen commented on #4047
@jonjoncardoso @gagolews; would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-16 20:25] pdebuyl commented on #3337
Hi @McWhity

- I filed a pull request for minor edits to the article. I think that the changes do not modify the intent of your text, let me know if this is the case.
- Can you archive the software on zenodo and provide here the version information of that archive and zenodo's DOI ?
- The last reference has no URL or DOI, could provide a stronger identification?

Once those items are checked, I'll

[2022-01-17 00:00] lilyminium commented on #4005
@pdebuyl I just made a new release of psiresp 0.3 -- would it be possible to change the version to that instead? It contains minor improvements:  making some dependencies optional and renaming some ambiguously-named variables.

[2022-01-17 01:41] jgostick commented on #4063
@sevberg, I tried to email you but your juelich address listed in our reviewer database is bouncing back.  I'm hoping you receive this github ping.  You expertise would seem very well suited to review this package.  Could you let me know if you are still willing and able to do this?  Thanks!

[2022-01-17 04:14] cgurrr commented on #4012
@martejulie Many thanks for your useful comments. We modified/corrected the paper and the code accordingly. We have now completed all the corrections. Please let us know if we need to make any other improvements.

[2022-01-17 04:28] YuliyaLab commented on #3944
Hello @jmschrei ,
possible to get an estimate on the turn around time on the review? One of the co-authors here. Is this not the right avenue for our software paper? Can you please consider AlphonsG's suggestion above for the reviewer to speed things up?
Many thanks!
Yuliya

[2022-01-17 05:21] Viech commented on #3915
I did not get a response by mail either. As this has now been open for over two months, could you assign another reviewer @melissawm?

[2022-01-17 06:14] jmschrei commented on #3944
Hi @YuliyaLab. Sorry for the delay in getting reviewers. I haven't had this amount of difficulty in getting reviewers in any of the other submissions I've handled -- I think part of the challenge was the holiday break. I'm going to reach out to a few more people tomorrow and see if I can find reviewers. Generally, I don't like to ask people that are recommended by the authors because I don't know

[2022-01-17 07:03] AlexanderJuestel commented on #3709
@crvernon I still have an issue with the documentation, The fixed will be delayed a little, sorry

[2022-01-17 07:31] whedon commented on #4032
:wave: @Subho07, please update us on how your review is going (this is an automated reminder).

[2022-01-17 07:31] whedon commented on #4032
:wave: @Narayana-Rao, please update us on how your review is going (this is an automated reminder).

[2022-01-17 07:32] gagolews commented on #4047
Apologies, I cannot handle a review for you this time; I have a dozen or so reviews pending ++ editorial work.
Cheers, Marek

[2022-01-17 07:34] jvkersch commented on #4048
@danielskatz Thank you for your message. I hope that the tool passes muster, even if it is at the lower end of LOC. It is a full fledged replacement for industry-standard tools after all.

Regarding the DOI, I found the paper in the [ACM digital library](https://dl.acm.org/doi/10.5555/313559.313789) with another DOI ... which is also invalid. I've contacted the ACM digital library, let's see what

[2022-01-17 07:56] oliviaguest commented on #3701
@ekinney-lang would you like to review this? ☺️

[2022-01-17 07:56] Subho07 commented on #4032
@whedon I have already submitted my comments. Please find the comments above.

[2022-01-17 07:56] whedon commented on #4032
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-17 08:47] matthewfeickert commented on #3993
@whedon generate pdf

[2022-01-17 08:47] whedon commented on #3993
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03993/joss.03993/10.21105.joss.03993.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03993/joss.03993/10.21105.joss.03993.pdf) :page_facing_up: :point_left:

[2022-01-17 09:08] martinfleis commented on #3623
Due to the lack of activity from the authors, I recommend rejecting this paper.

@hechth, @lachlangrose Thank you for the time you spent reviewing this submission. I am sorry we are unable to finish the process towards acceptance and publishing this time.

cc @openjournals/joss-eics

[2022-01-17 09:11] altavir commented on #3993
The primary critical point that should be fixed in my opinion is https://github.com/villano-lab/nrCascadeSim/issues/75. The part with comparison. Data tests would be welcome for future development, but not so critical.

[2022-01-17 09:13] fabian-s commented on #3780
@whedon generate pdf

[2022-01-17 09:13] whedon commented on #3780
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03780/joss.03780/10.21105.joss.03780.pdf) :page_facing_up: :point_left:

[2022-01-17 09:22] martinfleis commented on #4052
I'll check what can be done. I think that we are limited by the submission system at the moment and will have to make a manual edit ahead of a publication.

Reading the discussion above, I see that the platform and its limitations may be a bigger issue that anticipated, but I'll let other reviewers comment on this as well. Moving to GitHub.com/Gitlab.com would indeed resolve the friction points bu

[2022-01-17 09:27] uellue commented on #4052
That seems to be resolved now. :-)

[2022-01-17 09:39] fabian-s commented on #3780
Thanks @ArkajyotiSaha , this is much better already but we're still at ~2000 words.

I think by consistently cutting out all verbosity and rhetorical flourishes (e.g. by following some of the tips here: https://redwoodink.com/resources/10-tricks-to-reduce-your-word-count-in-academic-writing) you could easily reduce that by another 20-40% without losing any relevant conten -- could I ask you to try

[2022-01-17 09:47] puolival commented on #3956
@oliviaguest I am almost finished writing the review. I'll report back in a couple of days.

[2022-01-17 11:09] Nikoleta-v3 commented on #3738
Hey @JasonGellis 👋🏻  MichaelHoltonPrice opened three last issues.  They made it clear that they recommend the article for publication and that these issues are sufficient to hold up publication of the article.

Nevertheless, I would you like you to address issue [#167](https://github.com/alan-turing-institute/Palaeoanalytics/issues/167) and issue [#169](https://github.com/alan-turing-institute/Pal

[2022-01-17 11:41] tomazbregar commented on #3399
Hey @kyleniemeyer, thank you for finalizing the review. I merged your PR, thank you for this.

I have archived the current version of the repository - https://zenodo.org/record/5863174.

The DOI number:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.5863174.svg)](https://doi.org/10.5281/zenodo.5863174)

[2022-01-17 11:59] conorheins commented on #4067
Hi @emdupre, thanks for agreeing to review our submission!

I leave some the github handles of some suggested reviewers below (some from the list, some not):

From the list:
woolfeh
seankmartin
olgadoronina
franziskaaah
bramvandijk88
richrobe

not on the list:
ucbtns
kaiu85
semihakbayrak
ivan-bocharov
micahgallen

[2022-01-17 13:04] adi3 commented on #4003
@whedon add @AustinTSchaffer as reviewer

[2022-01-17 13:04] whedon commented on #4003
OK, @AustinTSchaffer is now a reviewer

[2022-01-17 13:05] adi3 commented on #4003
@whedon add @sneakers-the-rat as reviewer

[2022-01-17 13:05] whedon commented on #4003
OK, @sneakers-the-rat is now a reviewer

[2022-01-17 13:05] adi3 commented on #4003
@whedon start review

[2022-01-17 13:05] whedon opened #4071 "[REVIEW]: ReMove: A Configuration Tool for Robot-Assisted Experiments in Rehabilitation"
**Submitting author:** @Rehablab (<a href="http://orcid.org/0000-0001-8781-301X">Qiang Xu</a>)
**Repository:** https://github.com/Rehablab/ReMove
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @adi3
**Reviewers:** @AustinTSchaffer, @sneakers-the-rat
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pa

[2022-01-17 13:05] whedon commented on #4003
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4071.

[2022-01-17 13:05] #4003 closed

[2022-01-17 13:05] whedon commented on #4071
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @AustinTSchaffer, @sneakers-the-rat it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2022-01-17 13:06] whedon commented on #4071
Wordcount for `paper.md` is 909

[2022-01-17 13:06] whedon commented on #4071
[code]

[2022-01-17 13:06] whedon commented on #4071
[code]

[2022-01-17 13:06] whedon commented on #4071
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04071/joss.04071/10.21105.joss.04071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04071/joss.04071/10.21105.joss.04071.pdf) :page_facing_up: :point_left:

[2022-01-17 13:07] adi3 commented on #4071
👋🏼 @Rehablab this is the review thread for the paper. All of our communications will happen here from now on.

👋🏼 @AustinTSchaffer @sneakers-the-rat Both - you both have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

Here is a little more

[2022-01-17 13:33] danielskatz commented on #3623
@whedon reject

[2022-01-17 13:34] whedon commented on #3623
Paper rejected.

[2022-01-17 14:15] danielskatz commented on #4058
👋 @helgee & @Garethwpeters - Would one or both of you be willing to review this JOSS submission?

[2022-01-17 14:16] danielskatz commented on #3996
👋 @fredstro - Any comments on the review suggestions so far?

[2022-01-17 14:17] danielskatz commented on #3970
👋 @fingolfin, @ChrisJefferson, @ruthhoffmann - You were suggested to me as potential reviewers of this JOSS submission by Alexander Konovalov...

Would one of you be willing to review it? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-17 14:41] fredstro commented on #3996
@danielskatz @videlec  all good. I just got swamped with teaching/admin work... I have done everything suggested by @videlec  except the github actions which I am still working on. (and I have only uploaded it to test.pypi so far)

[2022-01-17 15:03] osorensen commented on #4047
That's ok @gagolews. Thanks for your quick response

[2022-01-17 15:10] tcaduser commented on #3898
@whedon generate pdf from branch joss

[2022-01-17 15:10] whedon commented on #3898
[code]

[2022-01-17 15:11] whedon commented on #3898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: :point_left:

[2022-01-17 15:13] tcaduser commented on #3898
@lucydot , I have corrected the typo

[2022-01-17 15:14] jonjoncardoso commented on #4047
Hi @osorensen , I'm happy to carry a review of this submission

[2022-01-17 15:47] justinshenk commented on #3992
Thanks guys for your patience! Corrections made as suggested in the latest version v0.1.49 as described in https://github.com/delve-team/delve/issues/59.
Latest Zenodo DOI for v0.1.49: https://zenodo.org/record/5865465.

[2022-01-17 15:49] justinshenk commented on #3992
@whedon set v0.1.49 as version

[2022-01-17 15:49] whedon commented on #3992
I'm sorry @justinshenk, I'm afraid I can't do that. That's something only editors are allowed to do.

[2022-01-17 15:59] ruthhoffmann commented on #3970
Sorry I will have to bow out of reviewing this. It is a little too far out of my field, and I do not have enough time to dedicate a good review to it. Thanks for considering me though!

[2022-01-17 16:08] burch-cm commented on #3928
I would be interested in reviewing this if reviews are still needed.

[2022-01-17 16:43] ArkajyotiSaha commented on #3780
@fabian-s  Thank you so much for the detailed example and the reference! I will take a second pass through the paper and reduce it significantly. Will update you once I am done. Thanks again!

[2022-01-17 17:05] McWhity commented on #3337
Hi @pdebuyl
Thank you for the remaining checks. I'm happy to check your pull request, but unfortunately don't see the pull request.

[2022-01-17 17:18] jarvist commented on #3974
Dear @tiagoseq ,
How is it coming along?

[2022-01-17 17:21] jarvist commented on #3960
Thank you @AstroBarker ! Are you finished with review & happy with any edits?

@ml-evs , are there still unresolved issues? (I see in the comments that some edits have been made, but your review checkboxes for documentation & paper are not yet checked.)

@tpurcell90 Do you still have outstanding edits?

[2022-01-17 17:23] jarvist commented on #3711
Dear @nmoran , do you have any outstanding edits / changes you want to make?

@obliviateandsurrender - great! Thank you.

[2022-01-17 17:25] jarvist commented on #3953
Still looking for reviewers! Apologies for the delay.

[2022-01-17 17:29] osorensen commented on #4047
@whedon add @jonjoncardoso as reviewer

[2022-01-17 17:29] whedon commented on #4047
OK, @jonjoncardoso is now a reviewer

[2022-01-17 17:48] pdebuyl commented on #3337
I must have missed a clic. Fortunately, the patch was still saved by GitHub's web interface, I opened the PR.

[2022-01-17 17:55] ml-evs commented on #3960
Hi @jarvist, there's a couple of open issues/PRs on the gitlab repo (I have not updated my comment above for a while) but I think we are nearly there.

[2022-01-17 18:50] tiburoch commented on #3724
@whedon generate pdf

[2022-01-17 18:51] whedon commented on #3724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: :point_left:

[2022-01-17 18:53] tiburoch commented on #3724
@diehlpk : here is the doi for the software on Zenodo : 10.5281/zenodo.5865477 ,
And here is the one for the last version (1.0.0) : 10.5281/zenodo.5865617 .

[2022-01-17 18:54] tiagoseq commented on #3974
Hello,
Sorry for the delay, unfortunately, only yesterday was possible for me to address the comments pointed out.
I'm planning to reply to it during this week.

I'll give updates soon

[2022-01-17 19:09] dionhaefner commented on #3992
Alright, looking good! That's green light 🟢 from me. (CC @rkurchin)

[2022-01-17 19:50] tpurcell90 commented on #3960
Hi @jarvist I am in the process of finishing up a sklearn interface to address some of the final comments of @ml-evs. I am right now writing a first draft of the tutorial for that so it should be done relatively soon.

[2022-01-17 22:39] rkurchin commented on #3935
Emailed the first two reviewer suggestions I got from a suggestion that Dr. Cherukara made...

[2022-01-17 22:39] rkurchin commented on #3992
@whedon set v0.1.49 as version

[2022-01-17 22:40] whedon commented on #3992
OK. v0.1.49 is the version.

[2022-01-17 22:40] rkurchin commented on #3992
@whedon set https://zenodo.org/record/5865465 as archive

[2022-01-17 22:40] whedon commented on #3992
https://zenodo.org/record/5865465 doesn't look like an archive DOI.

[2022-01-17 22:41] rkurchin commented on #3992
@whedon set 10.5281/zenodo.5865465 as archive

[2022-01-17 22:41] whedon commented on #3992
OK. <a href="https://doi.org/10.5281/zenodo.5865465" target="_blank">10.5281/zenodo.5865465</a> is the archive.

[2022-01-17 22:41] rkurchin commented on #3992
@whedon generate pdf

[2022-01-17 22:42] whedon commented on #3992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: :point_left:

[2022-01-17 22:59] rkurchin commented on #3992
A few editorial suggestions/remarks for the manuscript:
* line 44: should read "needs to be able to be used with as little computational and workflow overhead as possible" (first "as" currently missing)
* 48: "known" used twice, remove one of them
* 60: I would rephrase to "`Delve` directly hooks into..."
* 70-71: I would rephrase to "has exploded in recent years"
* 72: Pluralize "Publication"
* 7

[2022-01-17 23:59] crvernon commented on #3824
@whedon generate pdf from branch develop

[2022-01-17 23:59] whedon commented on #3824
[code]

[2022-01-17 23:59] whedon commented on #3824
PDF failed to compile for issue #3824 with the following error:
[code]

[2022-01-18 00:05] crvernon commented on #3824
@whedon generate pdf from branch joss

[2022-01-18 00:05] whedon commented on #3824
[code]

[2022-01-18 00:05] whedon commented on #3824
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03824/joss.03824/10.21105.joss.03824.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03824/joss.03824/10.21105.joss.03824.pdf) :page_facing_up: :point_left:

[2022-01-18 00:08] crvernon commented on #3824
@whedon check references from branch joss

[2022-01-18 00:08] whedon commented on #3824
[code]

[2022-01-18 00:08] whedon commented on #3824
[code]

[2022-01-18 00:14] villaa commented on #3993
@altavir thanks, we are working on using Geant4 model for our comparison. It is taking a bit of time b/c we want to get the most recent version and I haven't run the module in a while. Incidentally, [here](https://github.com/villano-lab/G4PhysicsTesting) is the code we're using for that.

[2022-01-18 00:45] crvernon commented on #3824
@cc-a - the following are some comments concerning the paper specifically:

- [ ] HPC and FAIR are used as an acronym before it has been described.  For example:  "CHAMP (CHAMP is an HPC Access and Metadata Portal)..."  This could be something like "CHAMP is a high performance computing (HPC) and metadata portal which provides an easy to use workflow for FAIR (Findability, Accessibility, Interoper

[2022-01-18 00:46] crvernon commented on #3824
Yes, it is fine to have the paper in a separate branch.

[2022-01-18 01:08] YuliyaLab commented on #3944
Hi @jmschrei, appreciate you searching for reviewers! We understand there could be issues with connections...
Suggested reviewers run Perth Machine Learning Group and had a paper in automated (AI-based) cell counting.
Thanks!

[2022-01-18 02:47] diehlpk commented on #3724
@when set 10.5281/zenodo.5865617 as archive

[2022-01-18 02:48] diehlpk commented on #3724
@whedon commands

[2022-01-18 02:48] whedon commented on #3724
Here are some things you can ask me to do:

[code]

[2022-01-18 02:48] diehlpk commented on #3724
@whedon set 10.5281/zenodo.5865617  as archive

[2022-01-18 02:48] whedon commented on #3724
OK. <a href="https://doi.org/10.5281/zenodo.5865617" target="_blank">10.5281/zenodo.5865617</a> is the archive.

[2022-01-18 02:50] diehlpk commented on #3724
@tiburoch I can now recommend your paper for acceptance.

[2022-01-18 02:50] diehlpk commented on #3724
@whedon recommend-accept

[2022-01-18 02:50] whedon commented on #3724
[code]

[2022-01-18 02:50] whedon commented on #3724
[code]

[2022-01-18 02:50] pr4deepr opened #4072 "Repository: Is the source code for this software available at the repository url?"

[2022-01-18 02:50] whedon commented on #4072
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-01-18 02:50] #4072 closed

[2022-01-18 02:50] diehlpk commented on #3724
@srmnitc, @kylebeggs thanks for your reviews. We can not run JOSS without your help.

[2022-01-18 02:51] whedon commented on #3724
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2892

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2892, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-18 02:51] pr4deepr commented on #4072
Apologies, created this by mistake.

[2022-01-18 02:52] diehlpk commented on #3724
@tiburoch can you please add this DOI to the paper? I( am not sure why I mussed that before accepting the paper.

[2022-01-18 03:11] diehlpk commented on #3959
@samuel.burbulla could you please have a look?

[2022-01-18 04:30] adithirgis commented on #4047
Thanks for reaching out! I'm afraid I won't have time in the upcoming months. Sorry. Thanks!

[2022-01-18 04:35] ilyamandel commented on #3838
Hi @christinahedges,
Please let me know if there's anything else missing.  I'm off for travel in a few days, so wanted to cross the t's and dot the i's beforehand, if possible.  But no rush -- I was the slow one for several weeks! :)

[2022-01-18 05:08] matthewfeickert commented on #3993
Thanks for your submission and software @villaa. The following is my review of it, which goes into detail (and so isn't just noted in the first post of this Issue) only to try to help make requested revisions more actionable and clear. As always, the review is following the [JOSS paper review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html). Also, please feel free to ask for c

[2022-01-18 06:59] kyleniemeyer commented on #3399
@whedon generate pdf

[2022-01-18 07:00] whedon commented on #3399
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: :point_left:

[2022-01-18 07:46] holtgrewe commented on #3941
@mikldk thanks, installed and tested this morning. Looks all good.

[2022-01-18 08:06] kyleniemeyer commented on #3399
@tomazbregar it looks like the authors associated with the Zenodo archive do not match those in the paper. Normally, these two author lists should be the same. Can you check this?

[2022-01-18 08:56] nmoran commented on #3711
@goerz thanks for reviewing our updates and the further suggestions. We have addressed the issues you raised with the documentation links.

@jarvist while we hope to continue making updates and improvements over time, there are no outstanding edits or changes at this time.

[2022-01-18 09:17] obliviateandsurrender commented on #3711
Thank you @nmoran for the timely improvements. Things look great from my end as well but just one minor comment:
1. Citation for PastaQ library in the [manuscript](https://github.com/openjournals/joss-papers/blob/joss.03711/joss.03711/10.21105.joss.03711.pdf) appears broken to me. You may want to use the following from their GitHub repo:
[code]
Other than this, I believe the package is now ready f

[2022-01-18 09:53] pr4deepr commented on #3957
@nanthony21 , Apologies for the delay. Just letting you know that I'm chipping away at the review.

[2022-01-18 10:11] tiburoch commented on #3724
@diehlpk sorry this slips in when I updated this publication from its arxiv version to the published one. It is fixed now.

[2022-01-18 10:19] fraukewiese commented on #3861
@samanmostafavi Do the answers by FWuellhorst clarify your concerns?

[2022-01-18 10:49] mitmat commented on #4030
@hongyuanjia @KristinaRiemer

I finished the review. Please find in a post above the comments to the package, and some new issues in the pkg repo.

As **addon to above**:

The function `summary_database()` provides in its summary start and end dates, but no info, whether you have complete coverage of all the years in between. Is this intended so?

For the morphing methods, or generally when workin

[2022-01-18 12:13] fnattino commented on #4032
@Subho07  and @Narayana-Rao thank you so much for your feedback, we will address your comments in an updated version of the manuscript and get back to you soon!

[2022-01-18 13:22] rafaelmds commented on #3551
@whedon check references

[2022-01-18 13:22] whedon commented on #3551
[code]

[2022-01-18 13:34] danielskatz commented on #4069
@Sulstice - this submission can be considered by JOSS, but the paper needs to be shortened. Again, see Please see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain and move other material into the documentation or elsewhere.

[2022-01-18 13:57] FWuellhorst commented on #3861
@fraukewiese @shamsiharis: I fixed the issue regarding `MaxIterationsReached`. To test this, please re-install via `pip install git+https://github.com/RWTH-EBC/AixCaliBuHA`.
Regarding the simulation error, I never received any logs or stats to reproduce it. Hence, I can't fix it.

[2022-01-18 14:00] dhhagan commented on #3820
Hey @jonsampedro can you update the archive title and author list to match the paper?

[2022-01-18 14:04] dhhagan commented on #3219
@whedon remind @darothen in 1 day

[2022-01-18 14:04] whedon commented on #3219
Reminder set for @darothen in 1 day

[2022-01-18 14:12] tomazbregar commented on #3399
Hey @kyleniemeyer, you are correct. When we started to write the paper, we only had a limited team developing the package (3 PhDs studends), and now the team expanded, but we did not change the paper. How do you commonly handle those things?

[2022-01-18 14:19] jonsampedro commented on #3820
Hello @dhhagan , I have edited the archive title and authors to match the paper. See the updated archive here: https://zenodo.org/record/5838361#.YebL0P7MKUk

Note that, for clarity, I have also edited the corresponding release in the GitHub repository (https://github.com/JGCRI/rfasst/releases/tag/rfasst-v1.2)

Hope everything is OK now, thanks!

[2022-01-18 16:39] kyleniemeyer commented on #3399
@tomazbregar totally understandable, especially since this review has taken so long.

If the new team members have contributed to work that is reflected in the work considered here, in the version of the software that was reviewed and will be published, then they should be added to the author list of the paper. Since the Zenodo archive should only contain the latest version of the software that ha

[2022-01-18 16:41] diehlpk commented on #3465
@elwinter I really need the version and DOI to proceed. It would be bad to get your paper rejected at this stage.

[2022-01-18 16:47] tmigot commented on #3991
Hi @jbcaillau @jbytecode
I tried to add some new features following your recommendations:
- PR 77 added contribution guidelines in the readme
- PR 78 added a tutorial with a discretized PDE-constrained optimization problem. I cannot really push the size of the problem, because everytime there is a commit in the package, the scripts in the docs are re-build and I believe it would be counter-product

[2022-01-18 17:24] kyleniemeyer commented on #3724
@whedon generate pdf

[2022-01-18 17:25] whedon commented on #3724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: :point_left:

[2022-01-18 17:31] christinahedges commented on #3838
@whedon set 10.5281/zenodo.5847518 as archive

[2022-01-18 17:32] christinahedges commented on #3838
@whedon set v02.27.00 as version

[2022-01-18 17:32] whedon commented on #3838
OK. v02.27.00 is the version.

[2022-01-18 17:34] christinahedges commented on #3922
Hello @florisvb and @pmli, thank you for your patience in getting this review started. Unfortunately, perhaps because of the holidays, I've struggled finding a reviewer for this submission despite quite a lot of digging. @florisvb if you have any further suggestions of unconflicted reviewers please do let me know otherwise I think we will have to be patient. I will also see if I can rope in some o

[2022-01-18 17:35] kyleniemeyer commented on #3724
Hi @tiburoch, I am the AEIC on duty this week, and just did some final checks before accepting.

I submitted a small [PR](https://gitlab.com/cracklet/cracklet/-/merge_requests/24) to fix a few small things, could you please merge this?

[2022-01-18 17:36] christinahedges commented on #3838
@whedon recommend-accept

[2022-01-18 17:36] whedon commented on #3838
[code]

[2022-01-18 17:36] jbcaillau commented on #3991
@tmigot thanks for the update!
- very neat notebook example
- on `binder`, I don’t see any `toml` file indicating the dependencies: how is this suppose to work?
- BTW, clicking the `binder` link launches the notebook but no kernel is found

[2022-01-18 17:37] whedon commented on #3838
[code]

[2022-01-18 17:37] whedon commented on #3838
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2893

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2893, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-18 17:39] christinahedges commented on #3838
Thank you so much to everyone involved in this review, the paper has now been recommended for acceptance! I believe the paper draft looks good, and the archive and version look correct. The EIC will now be able to step in. Thanks again for your hard work and patience, this one was a very long review process, but I believe there was some very helpful discussions had! Congratulations @ilyamandel!

[2022-01-18 17:45] McWhity commented on #3337
- PR is merged. Thank you for the revision
- last reference was revised (URL was added)
- changelog was updated and new tag v0.2 was created

As the Github repository is within a Github organization I need permission from the organization owner to grant zenodo access. As soon as the permission is granted, I will archive SenSARP on zenodo and provide the required information. This shouldn't take lo

[2022-01-18 17:59] pdebuyl commented on #3337
Hi @McWhity thanks for the update. I am waiting for the zenodo info then.

[2022-01-18 18:02] tiburoch commented on #3724
Hi @kyleniemeyer , thank you for the additional corrections. I accepted the merge request and it will be automatically merged when the CI is done (should take less than 1h).

[2022-01-18 18:06] jmschrei commented on #3944
I talked about this paper with the other editors and they think it's worth pursuing the names you've recommended. @zacjiang, @slee5777, @assistedevolution, would either of you be able to review this submission? Thanks, and sorry for the earlier inconvenience regarding your emails.

[2022-01-18 18:51] kyleniemeyer commented on #3724
@whedon generate pdf

[2022-01-18 18:51] whedon commented on #3724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: :point_left:

[2022-01-18 18:55] florisvb commented on #3922
Hi Christina,

What qualifications do you typically look for in JOSS reviewers? Should
they be people that hold academic positions, or are people in data science
/ software development positions also eligible? If the latter, I may be
able to come up with additional candidates.

Thanks!

- Floris

On Tue, Jan 18, 2022 at 9:34 AM Christina Hedges ***@***.***>
wrote:

--
Floris van Breugel   |   http

[2022-01-18 18:55] kyleniemeyer commented on #3724
@tiburoch bah, I missed one citation fix! Could you please change `[@geubelle_spectral_1995], [@breitenfeld_numerical_1998]` to `[@geubelle_spectral_1995; @breitenfeld_numerical_1998]` in the second sentence of the Statement of Need section?

After that, we should be ready to publish. Thanks!

[2022-01-18 19:15] kyleniemeyer commented on #3919
@whedon generate pdf

[2022-01-18 19:16] whedon commented on #3919
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03919/joss.03919/10.21105.joss.03919.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03919/joss.03919/10.21105.joss.03919.pdf) :page_facing_up: :point_left:

[2022-01-18 19:49] Sulstice commented on #4069
@whedon generate pdf

[2022-01-18 19:50] whedon commented on #4069
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04069/joss.04069/10.21105.joss.04069.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04069/joss.04069/10.21105.joss.04069.pdf) :page_facing_up: :point_left:

[2022-01-18 19:51] Sulstice commented on #4069
@danielskatz It might be a little over but I shortened it 2000 something words.

[2022-01-18 19:53] danielskatz commented on #4069
thanks! - I'm not on-duty as AEiC this week, but the current AEiC should start the process of finding an editor soon

[2022-01-18 20:05] bgyori commented on #4002
Hi @majensen, just checking in, is there any other info (further reviewer suggestions, etc.) we can provide to help?

[2022-01-18 20:36] katiebreivik commented on #3998
Thanks @cmbiwer for pointing out the install problems based on the numpy version. We've just merged in a [PR](https://github.com/TeamLEGWORK/LEGWORK/pull/85) which fixes this issue, as well as removes the annoying package downgrades which happened because of the upper bounds on numba and numpy.

With regard to the paper and citation of tools. We've updated the draft based on @dbkeitel's suggestion

[2022-01-18 20:36] katiebreivik commented on #3998
@whedon generate pdf from branch joss

[2022-01-18 20:36] whedon commented on #3998
[code]

[2022-01-18 20:37] whedon commented on #3998
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03998/joss.03998/10.21105.joss.03998.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03998/joss.03998/10.21105.joss.03998.pdf) :page_facing_up: :point_left:

[2022-01-18 21:05] kyleniemeyer commented on #3919
@whedon accept deposit=true

[2022-01-18 21:05] whedon commented on #3919
[code]

[2022-01-18 21:06] whedon commented on #3919
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1483546415481733125) 👈 🐦🐦🐦

[2022-01-18 21:06] whedon commented on #3919
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2894
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03919](https://doi.org/10.21105/joss.03919)
2. If everything look

[2022-01-18 21:08] kyleniemeyer commented on #3919
Congratulations @siara-cc on your article's publication in JOSS!

Many thanks to @gradvohl and @linuxscout for reviewing this submission, and @gkthiruvathukal for editing.

[2022-01-18 21:11] taless474 commented on #3928
@whedon add @burch-cm as reviewer

[2022-01-18 21:11] whedon commented on #3928
OK, @burch-cm is now a reviewer

[2022-01-18 21:11] #3919 closed

[2022-01-18 21:11] whedon commented on #3919
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03919/status.svg)](https://doi.org/10.21105/joss.03919)

**We need your help!**

Journal of Open Source Softwa

[2022-01-18 21:12] taless474 commented on #3928
@whedon start review

[2022-01-18 21:12] whedon opened #4073 "[REVIEW]: Elephas: Distributed Deep Learning with Keras & Spark"
**Submitting author:** @maxpumperla (<a href="http://orcid.org/0000-0002-7801-4184">Max Pumperla</a>)
**Repository:** https://github.com/danielenricocahall/elephas
**Branch with paper.md** (empty if default branch): mp_joss_paper
**Version:** 3.4.7
**Editor:** @diehlpk
**Reviewers:** @sepandhaghighi, @nmoran
**Archive:** 10.5281/zenodo.7435012

**:warning: JOSS reduced service mode :warning:**

Du

[2022-01-18 21:12] whedon commented on #3928
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4073.

[2022-01-18 21:12] #3928 closed

[2022-01-18 21:12] whedon commented on #4073
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @marksantcroos, @burch-cm it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2022-01-18 21:12] whedon commented on #4073
PDF failed to compile for issue #4073 with the following error:
[code]

[2022-01-18 21:12] whedon commented on #4073
[code]

[2022-01-18 21:15] taless474 commented on #4008
@Borda I like your suggestions. I asked @shervinmin and he hasn't responded yet. Do you like to mention anyone here?

[2022-01-18 21:20] osorensen commented on #4047
Ok, @adithirgis, thanks for responding quickly!

[2022-01-18 21:22] osorensen commented on #4047
@wiljnich; would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-18 21:31] wiljnich commented on #4047
@osorensen Yes, I am able and willing to review this submission.

[2022-01-18 22:11] vishwas1984 commented on #3766
@VivianePons : It has been about two months and we have not gotten any feedback. Could you please take a look into this?

[2022-01-18 22:13] jgostick commented on #4063
@whedon add @SarthakJariwala as reviewer

[2022-01-18 22:13] whedon commented on #4063
OK, @SarthakJariwala is now a reviewer

[2022-01-18 22:17] akaptano commented on #3994
Added Andy Goldschmidt as an author for his work on the derivative package and added couple sentences about the new differentiation methods.

@whedon generate pdf

[2022-01-18 22:21] akaptano commented on #3994
@whedon generate pdf

[2022-01-18 22:22] whedon commented on #3994
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: :point_left:

[2022-01-18 22:38] shervinmin commented on #4008
Hi,

Thanks for asking me, but I think this is out of my scope of work/research.
Perhaps you can ask people who work on similar areas,

Bests

On Tue, Jan 18, 2022 at 1:15 PM Bita Hasheminezhad ***@***.***>
wrote:

[2022-01-18 22:56] ekinney-lang commented on #3701
Hey @oliviaguest - I might be able to! Depends on time commitment, as there are a number of tight deadlines coming up.

Let me know details and I could (potentially) review. @brianjohannes and @edflorea are also colleagues of mine who could potentially support in reviewing.

[2022-01-18 23:55] kbarnhart commented on #3658
@wsavran I've looked over your recent changes and it looks to me that you've addressed issues identified by the reviewers. I made one minor comment about documentation in that issue thread.

At this point in the JOSS review process what happens is that @mbarall and @nvanderelst revisit their reviews in light of your changes. If they find that you have addressed their concerns, they close any issue

[2022-01-19 03:12] erik-whiting commented on #4061
@prashjha bumping my question above

[2022-01-19 03:17] majensen commented on #3914
Thanks @klmedeiros! @chryswoods I will do a light editorial review; there may be a minor pull request from me. Sorry I have been AWOL for a while.

[2022-01-19 03:17] prashjha commented on #4061
@erik-whiting, sorry I missed it. I am not 100% sure about this. If you think those scripts in Matlab/python are something users will need to use at some point in testing/using this library then the scripts should be well documented. I would consider the example or demo files integral to the library as these are the files any user needs to run first. If such files are too many, we of course can ex

[2022-01-19 03:18] majensen commented on #3940
@keichi - looking forward to hearing from you regarding the items above. Please let me know if we need to pause the review - it is no big deal to do so.

[2022-01-19 03:29] majensen commented on #3431
@magedhelmy1 thanks for picking this up again. You raise a fair point, and I would like to see @benjaminbolling address them with some specifics in the paper. I will then take a look, and may ask some other editors for their input.

One approach, @benjaminbolling, may actually be to talk about your specific application in your work-- maintenance of scientific megainstruments round the clock so exp

[2022-01-19 03:30] majensen commented on #3197
Ok @felipeZ , I have paused the review.

[2022-01-19 03:32] majensen commented on #4002
Hi @bgyori  - many apologies, the end of the year took over my life. I will certainly send out invitations in the next day or two. Thanks for the ping-

[2022-01-19 06:51] osorensen commented on #4047
@whedon add @wiljnich as reviewer

[2022-01-19 06:51] whedon commented on #4047
OK, @wiljnich is now a reviewer

[2022-01-19 06:52] osorensen commented on #4047
@whedon start review

[2022-01-19 06:52] whedon opened #4074 "[REVIEW]: visxhclust: An R Shiny package for visual exploration of hierarchical clustering"
**Submitting author:** @rhenkin (<a href="http://orcid.org/0000-0002-5511-5230">Rafael Henkin</a>)
**Repository:** <a href="https://github.com/rhenkin/visxhclust" target ="_blank">https://github.com/rhenkin/visxhclust</a>
**Version:** v1.0.0
**Editor:** @osorensen
**Reviewer:** @jonjoncardoso, @wiljnich
**Archive:** <a href="https://doi.org/10.5281/zenodo.5946818" target="_blank">10.5281/zenodo.59

[2022-01-19 06:52] whedon commented on #4047
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4074.

[2022-01-19 06:52] #4047 closed

[2022-01-19 06:52] whedon commented on #4074
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jonjoncardoso, @wiljnich it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2022-01-19 06:52] whedon commented on #4074
[code]

[2022-01-19 06:52] whedon commented on #4074
PDF failed to compile for issue #4074 with the following error:
[code]

[2022-01-19 06:52] osorensen commented on #4074
@whedon generate pdf from branch paper

[2022-01-19 06:52] whedon commented on #4074
[code]

[2022-01-19 06:53] whedon commented on #4074
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04074/joss.04074/10.21105.joss.04074.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04074/joss.04074/10.21105.joss.04074.pdf) :page_facing_up: :point_left:

[2022-01-19 07:49] liquidcronos commented on #3967
Hey @SeungBack
I have amended the paper with more references to TriPs features.
As promised I have also added a getting started section that explains how the library is installed.
The code examples should now also be self-contained and include all necessary imports.

Are there any other changes you would like to see apart from the figure colors (which I should be able to change until Friday)?

[2022-01-19 07:53] liquidcronos commented on #3967
@whedon generate pdf from branch paper

[2022-01-19 07:53] whedon commented on #3967
[code]

[2022-01-19 07:54] whedon commented on #3967
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03967/joss.03967/10.21105.joss.03967.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03967/joss.03967/10.21105.joss.03967.pdf) :page_facing_up: :point_left:

[2022-01-19 08:19] falexwolf commented on #4006
FYI: The footnote issue is fixed.

[2022-01-19 09:02] tomazbregar commented on #3399
Hey @kyleniemeyer, thank you for the explanation. We made quite a lot of changes to the software, since we first started to write the paper. Therefore, we also included the new members in the Joss paper. The updated version is already on master branch and I also uploaded the new archive to zenodo (doi number down bellow). Now the authors match on the repository and on the joss paper.

[![DOI](http

[2022-01-19 10:03] tiburoch commented on #3724
@kyleniemeyer : it's done, the master branch is updated.

[2022-01-19 11:31] lucydot commented on #3993
Thank-you @matthewfeickert for your extremely thorough review! It is a

@villaa it looks like it is over to you: the message above makes clear what actions are needed, https://github.com/villano-lab/nrCascadeSim/issues/75 is also a sticking point for @altavir. I can see that you and your team are currently working on this @villaa.

@altavir could I ask you to update your tick boxes at the top of t

[2022-01-19 11:34] lucydot commented on #3898
@whedon generate pdf from branch joss

[2022-01-19 11:35] whedon commented on #3898
[code]

[2022-01-19 11:35] whedon commented on #3898
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03898/joss.03898/10.21105.joss.03898.pdf) :page_facing_up: :point_left:

[2022-01-19 11:42] lucydot commented on #3898
@tcaduser it is not corrected - I have created a PR: https://github.com/devsim/devsim/pull/82

[2022-01-19 12:18] whedon commented on #4033
:wave: @lavaux, please update us on how your review is going (this is an automated reminder).

[2022-01-19 12:18] whedon commented on #4033
:wave: @changhoonhahn, please update us on how your review is going (this is an automated reminder).

[2022-01-19 12:44] mikldk commented on #3941
@k3yavi, @holtgrewe: Thank you for your review.

@mbhall88:

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@whedon generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as descr

[2022-01-19 12:49] mikldk commented on #3901
@alexander-pastukhov, @fartist What is the status of the remaining issue and check boxes? Please let me know if there is anything I can do or once the review is completed.

[2022-01-19 13:01] danielskatz commented on #4007
@whedon assign @will-rowe as editor

Sorry for the delay, @milnus. Will will take this on this weekend.

[2022-01-19 13:01] whedon commented on #4007
OK, the editor is @will-rowe

[2022-01-19 13:20] erik-whiting commented on #4061
@kasbot I'm not the editor but I think I can answer this for you. usually, once the issues are addressed, we just mark those check boxes as done. it's up to you when you want to start addressing issues but you don't have to wait for the reviews to finish.

[2022-01-19 14:04] whedon commented on #3219
:wave: @darothen, please update us on how your review is going (this is an automated reminder).

[2022-01-19 15:02] cmbiwer commented on #3998
Thanks, I took a look and this address my comment about the paper. I've checked off the last remaining checklist item for the paper. And thanks for looking at the installation. I'll go through the remainder of the package this week.

[2022-01-19 15:09] cgurrr commented on #4012
@martejulie Many thanks for your useful comments. We modified/corrected the paper and the code accordingly. We have now completed all the corrections. Please let us know if we need to make any other improvements.

[2022-01-19 15:09] danielskatz commented on #3970
👋 @fingolfin and @ChrisJefferson - You were suggested to me as potential reviewers of this JOSS submission by Alexander Konovalov...

Would one of you be willing to review it? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-19 15:27] VivianePons commented on #3766
Indeed,

please, @eviatarbach and @wkearn can you update us?

Thanks

[2022-01-19 15:29] oliviaguest commented on #3701
Ah, great. What's a sensible ETA for you @ekinney-lang?

[2022-01-19 15:43] chrisamiller commented on #3722
- Release is v1.0.1
- It has been archived in [Zenodo](https://zenodo.org/record/5879149)  I am unclear on how to make the title match the paper - we have Github/Zenodo set up to auto-archive every tagged version, and it auto-generates that title.  Would including the paper title in the description of the repository be sufficient?
- Metadata all matches up
-  Zenodo DOI: 10.5281/zenodo.5879149

Th

[2022-01-19 16:19] kyleniemeyer commented on #3724
@whedon generate pdf

[2022-01-19 16:20] whedon commented on #3724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: :point_left:

[2022-01-19 16:21] siara-cc commented on #3919
Hi @kyleniemeyer Thats great news!! Thanks a lot for publishing Unishox with JOSS.
Thank you @gradvohl  and @linuxscout for patiently reviewing my submission.
Thank you @gkthiruvathukal for your guidance all the way.

[2022-01-19 16:26] prashjha commented on #4061
@erik-whiting, thanks. That is exactly what I would suggest.

[2022-01-19 16:38] nickbearman commented on #4058
@danielskatz I can't look at the Python library (I need to remove that from my profile) so you still want me to see if I can review this paper? Thanks.

[2022-01-19 16:46] danielskatz commented on #4058
@nickbearman - please take a look and see what you think.

[2022-01-19 17:08] eviatarbach commented on #3766
Apologies, I did not see that the notebook issue had been resolved. I commend the authors on the great contribution: having a fast interpolation algorithm available will be of interest to many communities. The checklist requirements have to be fully satisfied before it can be published, though. My comments follow.

First of all, the size of the repository is quite big, at 185 MB, due to git blobs

[2022-01-19 17:13] diehlpk commented on #4023
@jiahecui would be great if you could recommend more reviewers?

[2022-01-19 17:17] abhilash12iec002 commented on #4023
@jiahecui Please find my comments below;
I have read the complete article, “SenAOReFoc: A Closed-Loop Sensorbased Adaptive Optics and Remote Focusing Control Software” with full consideration. The title is short and sufficient. The summary part is nicely written in a very concise way. In the statement of need section, there exists a scope of improvement. For example; “The functionality of the soft

[2022-01-19 17:35] diehlpk commented on #4023
@whedon start review

[2022-01-19 17:35] whedon opened #4075 "[REVIEW]: SenAOReFoc: A Closed-Loop Sensorbased Adaptive Optics and Remote Focusing Control Software"
**Submitting author:** @jiahecui (<a href="http://orcid.org/0000-0003-2122-5754">Jiahe Cui</a>)
**Repository:** https://github.com/jiahecui/SenAOReFoc
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @diehlpk
**Reviewers:** @abhilash12iec002 , @JackTyson,  @alvesjnr
**Archive:** 10.5281/zenodo.6330145

**:warning: JOSS reduced service mode :warning:**

Due to the

[2022-01-19 17:35] whedon commented on #4023
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4075.

[2022-01-19 17:35] #4023 closed

[2022-01-19 17:35] whedon commented on #4075
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @abhilash12iec002  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://bl

[2022-01-19 17:36] elwinter commented on #3465
Sorry for the delay.

Version 1.0
DOI 10.5281/zenodo.5879387

On Tue, Jan 18, 2022 at 11:41 AM Patrick Diehl ***@***.***>
wrote:

[2022-01-19 17:36] diehlpk commented on #4023
@abhilash12iec002 That was quick. I started the review in #4075, and please check the checkboxes there.

[2022-01-19 17:36] wiljnich commented on #4074
I'm pleased with this work and have no acceptance-blocking comments. The only outstanding concern I have is the lack of a reference to the documentation page (rhenkin.github.io/visxhclust/) in the README, because several of the key elements of the documentation (e.g. how to open an issue, examples analyses) are exclusively on that site. I would recommend either referring the user to that site via

[2022-01-19 17:37] whedon commented on #4075
Wordcount for `paper.md` is 1615

[2022-01-19 17:37] whedon commented on #4075
[code]

[2022-01-19 17:38] whedon commented on #4075
[code]

[2022-01-19 17:38] whedon commented on #4075
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04075/joss.04075/10.21105.joss.04075.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04075/joss.04075/10.21105.joss.04075.pdf) :page_facing_up: :point_left:

[2022-01-19 17:49] jstse commented on #4014
Thank you for reviewing the paper so quickly, I am currently working with my collaborators on implementing the suggestions provided.  Unfortunately I am out of the country until Monday and plan to implement most corrections next week when I get back

[2022-01-19 18:14] kyleniemeyer commented on #3724
@whedon accept deposit=true

[2022-01-19 18:14] whedon commented on #3724
[code]

[2022-01-19 18:16] whedon commented on #3724
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1483865850054684677) 👈 🐦🐦🐦

[2022-01-19 18:16] whedon commented on #3724
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2895
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03724](https://doi.org/10.21105/joss.03724)
2. If everything look

[2022-01-19 19:08] tuelwer commented on #3994
@akaptano thank you for addressing my remarks!

@sbenthall I see no further issues with this submission!

[2022-01-19 19:23] kyleniemeyer commented on #3724
@tiburoch congratulations on your article's publication in JOSS!

Many thanks to @srmnitc and @kylebeggs for reviewing this, and @diehlpk for editing.

[2022-01-19 19:23] #3724 closed

[2022-01-19 19:23] whedon commented on #3724
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03724/status.svg)](https://doi.org/10.21105/joss.03724)

**We need your help!**

Journal of Open Source Softwa

[2022-01-19 19:36] arfon commented on #67
@whedon generate pdf

[2022-01-19 19:36] whedon commented on #67
PDF failed to compile for issue #67 with the following error:
[code]

[2022-01-19 19:36] kyleniemeyer commented on #4006
@whedon generate pdf

[2022-01-19 19:37] whedon commented on #4006
PDF failed to compile for issue #4006 with the following error:
[code]

[2022-01-19 19:37] arfon commented on #462
@whedon generate pdf

[2022-01-19 19:37] kyleniemeyer commented on #4006
@whedon generate pdf from branch paper

[2022-01-19 19:37] whedon commented on #4006
[code]

[2022-01-19 19:37] whedon commented on #4006
It looks like this paper includes an ORCID (0000-0003-0872-7098) that is probably not correct.

[2022-01-19 19:38] whedon commented on #462
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.00462/joss.00462/10.21105.joss.00462.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.00462/joss.00462/10.21105.joss.00462.pdf) :page_facing_up: :point_left:

[2022-01-19 19:38] whedon commented on #4006
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04006/joss.04006/10.21105.joss.04006.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04006/joss.04006/10.21105.joss.04006.pdf) :page_facing_up: :point_left:

[2022-01-19 19:39] arfon commented on #462
@whedon check repository

[2022-01-19 19:39] whedon commented on #462
Wordcount for `paper.md` is 149

[2022-01-19 19:39] whedon commented on #462
[code]

[2022-01-19 19:44] arfon commented on #462
@whedon check repository

[2022-01-19 19:44] whedon commented on #462
It looks like this paper includes an ORCID (0000-0003-0872-7098) that is probably not correct.

[2022-01-19 19:44] whedon commented on #462
Wordcount for `paper.md` is 149

[2022-01-19 19:44] whedon commented on #462
[code]

[2022-01-19 19:44] arfon commented on #462
@whedin generate pdf

[2022-01-19 19:47] arfon commented on #462
@whedon generate pdf

[2022-01-19 19:47] whedon commented on #462
PDF failed to compile for issue #462 with the following error:
[code]

[2022-01-19 19:48] arfon commented on #462
@whedon generate pdf

[2022-01-19 19:49] whedon commented on #462
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.00462/joss.00462/10.21105.joss.00462.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.00462/joss.00462/10.21105.joss.00462.pdf) :page_facing_up: :point_left:

[2022-01-19 20:30] tcaduser commented on #3898
@lucydot PR accepted, thanks

[2022-01-19 21:10] akaptano commented on #3994
Thanks @tuelwer. A (hopefully last) update, made some minor changes to the paper file:
1. Added a link to the YouTube tutorials
2. Updated Figs 1 and 3 to differentiate between PDELibrary and the new WeakPDELibrary, and show the new GeneralizedLibrary class.
3. Added a reference to Urban Fasel's ensemble-SINDy paper.

[2022-01-19 21:10] akaptano commented on #3994
@whedon generate pdf

[2022-01-19 21:11] whedon commented on #3994
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: :point_left:

[2022-01-19 21:57] wincowgerDEV opened #4076 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2022-01-19 21:57] whedon commented on #4076
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-01-19 21:57] #4076 closed

[2022-01-19 21:59] kyleniemeyer commented on #3399
@tomazbregar great, thanks

[2022-01-19 21:59] kyleniemeyer commented on #3399
@whedon generate pdf

[2022-01-19 21:59] whedon commented on #3399
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: :point_left:

[2022-01-19 22:01] kyleniemeyer commented on #3399
@whedon set 10.5281/zenodo.5876734 as archive

[2022-01-19 22:01] whedon commented on #3399
OK. <a href="https://doi.org/10.5281/zenodo.5876734" target="_blank">10.5281/zenodo.5876734</a> is the archive.

[2022-01-19 22:01] kyleniemeyer commented on #3399
@whedon accept

[2022-01-19 22:01] whedon commented on #3399
To recommend a paper to be accepted use `@whedon recommend-accept`

[2022-01-19 22:02] kyleniemeyer commented on #3399
@whedon recommend-accept

[2022-01-19 22:02] whedon commented on #3399
[code]

[2022-01-19 22:03] whedon commented on #3399
[code]

[2022-01-19 22:03] whedon commented on #3399
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2896

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2896, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-19 22:04] kyleniemeyer commented on #3399
@whedon accept deposit=true

[2022-01-19 22:04] whedon commented on #3399
[code]

[2022-01-19 22:05] whedon commented on #3399
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1483923609009770503) 👈 🐦🐦🐦

[2022-01-19 22:05] whedon commented on #3399
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2897
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03399](https://doi.org/10.21105/joss.03399)
2. If everything look

[2022-01-19 22:08] kyleniemeyer commented on #3399
Congratulations @tb93 on your article's publication in JOSS, and thank you for your patience for such a long journey!

Many thanks to @ngoiz, @LolloCappo, and @Gunnstein for reviewing this submission.

[2022-01-19 22:08] #3399 closed

[2022-01-19 22:08] whedon commented on #3399
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03399/status.svg)](https://doi.org/10.21105/joss.03399)

**We need your help!**

Journal of Open Source Softwa

[2022-01-19 22:27] kylebeggs commented on #4058
@danielskatz  I'd be willing.

[2022-01-19 22:30] danielskatz commented on #4058
@kylebeggs - thanks very much - I'll assign you now, but we won't start the review until we find a second reviewer as well.

[2022-01-19 22:30] danielskatz commented on #4058
@whedon assign @kylebeggs as reviewer

[2022-01-19 22:46] wkearn commented on #3766
My apologies on the delay. Thanks for the updates to the installation instructions and notebooks. Everything seems to work properly now.

This package provides an implementation of a fast algorithm for interpolation on grids of arbitrary dimensions. There are other Julia packages that do various kinds of interpolation, which are cited in this paper, though none as far as I know that implement this

[2022-01-19 23:50] tmigot commented on #3991
Ok, I finally figured it out, the link should be working with Julia now. It is slightly tricky to get the environment, so I added a link toward the Project.toml and the Manifest.toml at the beginning of the carnet.

[2022-01-20 01:03] mbhall88 commented on #3941
@whedon generate pdf

[2022-01-20 01:03] whedon commented on #3941
PDF failed to compile for issue #3941 with the following error:
[code]

[2022-01-20 01:04] mbhall88 commented on #3941
@whedon generate pdf from branch joss_paper

[2022-01-20 01:04] whedon commented on #3941
[code]

[2022-01-20 01:04] whedon commented on #3941
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03941/joss.03941/10.21105.joss.03941.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03941/joss.03941/10.21105.joss.03941.pdf) :page_facing_up: :point_left:

[2022-01-20 01:12] mbhall88 commented on #3941
@mikldk I am happy with the final proofs.

Regarding the tagged release: I have Zenodo integrated with the repository already, so when I tag a release, a Zenodo archive will be created automatically. One question before I tag a new release: should I merge the `joss_paper` branch into the master branch and then tag? That way the paper is included with the release?

[2022-01-20 02:50] kyleniemeyer commented on #3838
Hi @ilyamandel, I am doing some final checks before accepting. There are just a few minor issues with the paper to address:

- I noticed an apparent discrepancy between author names on the paper and Zenodo archive: the paper has "Floris Kummer" while Zenodo says "Kummer, Florian". Could you please correct whichever of these is wrong? (Also, it would be great if you could add ORCIDs for the authors

[2022-01-20 03:51] elbeejay commented on #3649
Pinging folks with the requested alteration test from @PTierz, just to make sure this doesn't get lost in the shuffle. Thanks all.

[2022-01-20 04:52] matthewfeickert commented on #3993
(I just went to open up Issues and I see that @gerudo7 was speedy and beat me to it. :slightly_smiling_face: Thanks! I'll add some comments on them to try to make them more helpful.)

[2022-01-20 06:21] kyleniemeyer commented on #4006
Hi @luizirber, just a gentle ping to assign reviewers on this submission. Thanks!

[2022-01-20 06:25] altavir commented on #3993
@lucydot I've marked all but the State of the field box. I think that a comparison of the results is required for it.

[2022-01-20 08:12] martejulie commented on #4012
@whedon generate pdf

[2022-01-20 08:13] whedon commented on #4012
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04012/joss.04012/10.21105.joss.04012.pdf) :page_facing_up: :point_left:

[2022-01-20 08:19] jbcaillau commented on #3991
![F930EB92-1603-488A-B0D7-7EA92D9354A1](https://user-images.githubusercontent.com/62183989/150299845-8a5dcb97-53b9-4abf-bff0-63ca2218894e.jpeg)

[2022-01-20 08:20] jbcaillau commented on #3991
@tmigot well done! see also below to speed up the process (double repo)
https://discourse.jupyter.org/t/tip-speed-up-binder-launches-by-pulling-github-content-in-a-binder-link-with-nbgitpuller/922

[2022-01-20 09:23] jiahecui commented on #4023
@diehlpk Sure no problem, I suggest JackTyson, caldarolamartin, alvesjnr, aquilesC. Thank you very much!

[2022-01-20 09:28] jiahecui commented on #4023
@abhilash12iec002 Thank you very much for the thorough review and detailed comments. Your time is greatly appreciated! We will make the revisions as soon as possible!

[2022-01-20 09:32] abhilash12iec002 commented on #4023
@jiahecui Thanks and Good luck!

[2022-01-20 10:51] joewandy commented on #3990
Happy new year! I believe the review is still in progress? I see [one with a draft status](https://github.com/glasgowcompbio/vimms/issues/230) in our repo.

[2022-01-20 13:10] martejulie commented on #4012
Hi, @cgurrr!

Thank you! Very nice to see that you have followed all my suggestions. I have already checked off a few more marks on the review checklist.

It would be great if you could create a new pip release of the current version of the code and update the documentation. (I noticed that 1) the HeavysideCurrent function is still used in the Plotting notebook (on the web page), and 2) the API re

[2022-01-20 13:42] eloisabentivegna commented on #2555
@ianhinder, could you check that your questions/suggestions have been addressed fully?

@gouarin, could you make your final recommendation?

[2022-01-20 13:56] eloisabentivegna commented on #3908
Thanks, @alaingdl. I have sent you an email to get the contacts you found.

[2022-01-20 14:30] crvernon commented on #4039
:mega: Mid-week rally!

👋  @jhollist - It looks like @ldecicco-USGS has requested a community guidelines section be added and has made several other helpful comments.

👋 @jmp75 - Were you able to initialize your review?  Let me know if you have any questions.

Keep up the good work!

[2022-01-20 14:34] crvernon commented on #3852
@jlarsen-usgs - have you gotten the approval  and remaining issues straightened out yet?  I would like to move this review forward.

Thanks!

[2022-01-20 15:08] sbenthall commented on #3496
@czxa Would you be able to step in as a reviewer for this package?

[2022-01-20 15:09] sbenthall commented on #3496
@RomainAzais Would you be able to step in as a reviewer for this package?

[2022-01-20 15:10] sbenthall commented on #3496
@taqtiqa-mark Would you be able to step in as a reviewer for this package?

[2022-01-20 15:12] sbenthall commented on #3496
@jessie-dotson Would you be able to step in as a reviewer for this package?

[2022-01-20 15:16] sbenthall commented on #3994
Great. Looks like the reviewers both recommend acceptance. We can move on to the next stage of the process, which is finalizing the submission.

[2022-01-20 15:16] sbenthall commented on #3994
@whedon check references

[2022-01-20 15:17] whedon commented on #3994
[code]

[2022-01-20 15:18] sbenthall commented on #3994
@akaptano Can you look at the reference summary above and confirm and add any missing DOI's please?

[2022-01-20 15:46] awvwgk commented on #4040
Updated my review in the description above. In summary, the documentation is a bit brief

- guidelines for providing feedback and contributing patches would be good:
  https://gitlab.com/moerman1/fhi-cc4s/-/issues/3
- installation instruction for non-Linux platforms:
  https://gitlab.com/moerman1/fhi-cc4s/-/issues/4
- the user documentation could use tutorial and/or recipe:
  https://gitlab.com/mo

[2022-01-20 15:55] Evmoerman commented on #4040
@awvwgk Thank you very much for your comments. I have already been thinking about your 1st and the 3rd point. However, - as you also state in the issue - I'm not sure if it is possible/makes sense to offer installation on windows because, as far as I know, FHI-aims and CC4S both assume a Linux environment. However, I will have a look and try to add documentation/tutorials where possible.

Thanks a

[2022-01-20 15:58] awvwgk commented on #4040
In any case, clearly stating that the project is only officially supported on Linux (or Unix) systems will help to set the right expectations for users.

[2022-01-20 15:58] Evmoerman commented on #4040
Got it. I will certainly do that.

[2022-01-20 16:09] changhoonhahn commented on #4033
@dfm I have a question regarding the conflict of interest. I am in the same collaboration (the Dark Energy Spectroscopic Instrument collaboration) as two of the authors: Kelly A. Douglass and Segev BenZvi. Is this a COI based on:

I have not published any works with these authors yet, but will likely be co-authors in the near future. Does this count as a COI?

[2022-01-20 16:13] jessie-dotson commented on #3496
This package implements a model that I'm not familiar with, and am unlikely to use -- but it does look interesting and useful for other use cases.  If JOSS is ok with having a reviewer who is unlikely to use the package in the future then I'm happy to do a review.  (I should be able to complete in the next 2 weeks.)

[2022-01-20 16:16] meg-simula commented on #3885
@mithun218 and @peanutfun Thanks for the review and response and resolution of the issues! @carstenbauer  Could you please update us on the progress of your review?

[2022-01-20 16:17] meg-simula commented on #3842
@EtienneCmb @travisbthomp @madvn Thanks for your reviews and comments thus far. Could you please update us on the status of your review/responses?

[2022-01-20 16:18] meg-simula commented on #4012
@martejulie @cgurrr Thanks for the review, responses and resolution of issues. @blbentley Could you please update us on the status of your review?

[2022-01-20 16:27] lootie commented on #3766
@whedon generate pdf

[2022-01-20 16:28] whedon commented on #3766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03766/joss.03766/10.21105.joss.03766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03766/joss.03766/10.21105.joss.03766.pdf) :page_facing_up: :point_left:

[2022-01-20 16:29] diehlpk commented on #4023
Hi  @JackTyson, @caldarolamartin, @alvesjnr, @aquilesC would you be interested in reviewing this paper?

[2022-01-20 16:29] diehlpk commented on #3465
@whedon set 1.0 as version

[2022-01-20 16:30] whedon commented on #3465
OK. 1.0 is the version.

[2022-01-20 16:31] diehlpk commented on #3465
@whedon set 10.5281/zenodo.5879387 as archive

[2022-01-20 16:31] whedon commented on #3465
OK. <a href="https://doi.org/10.5281/zenodo.5879387" target="_blank">10.5281/zenodo.5879387</a> is the archive.

[2022-01-20 16:33] diehlpk commented on #3465
@elwinter Thanks. However,

Could you please make a tagged release?

[2022-01-20 16:36] akaptano commented on #3994
@whedon check references

[2022-01-20 16:37] whedon commented on #3994
[code]

[2022-01-20 16:37] whedon commented on #3994
[code]

[2022-01-20 16:38] akaptano commented on #3994
@sbenthall Okay looks like I fixed it!

[2022-01-20 16:57] melissawm commented on #2974
Gentle ping on this one!

[2022-01-20 17:28] christinahedges commented on #3922
If there are people in your field you feel have used the tool in their work, but are not conflicted with you, that would be ideal. Anyone in data science and software would still be totally fine, so long as it's clear they are an expert reviewer for some aspect of the tool. I will continue to ping people, thanks for your help!

[2022-01-20 17:40] Viech commented on #3915
Sure @melissawm, there are a few candidates in the list with Python as a preferred language and who seem to be particularly interested in mathematical optimization or OR. Ordered by newest list entry first:

1. `GuillaumeDerval`
2. `Viech` :wink:
3. `jdreo`
4. `g4brielvs`
5. `torressa`

I suggest to ask in this order, skipping anyone who may be actively involved in the software. At this point it w

[2022-01-20 17:47] aquilesC commented on #4023
Thanks for the invite! I am wrapping up another review here on JOSS and with zero bandwidth to take up another one.