[2021-06-25 20:42] whedon commented on #3261
OK, @dgketchum is now a reviewer

[2021-06-25 20:42] pdebuyl commented on #3261
@whedon start review

[2021-06-25 20:42] whedon opened #3418 "[REVIEW]: flux-data-qaqc: A Python Package for Energy Balance Closure and Post-Processing of Eddy Flux Data"
**Submitting author:** @JohnVolk (<a href="http://orcid.org/0000-0001-9994-1545">John Volk</a>)
**Repository:** <a href="https://github.com/Open-ET/flux-data-qaqc" target ="_blank">https://github.com/Open-ET/flux-data-qaqc</a>
**Version:** 0.1.5
**Editor:** @pdebuyl
**Reviewer:** @ashwinvis, @dgketchum
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-06-25 20:42] whedon commented on #3261
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3418.

[2021-06-25 20:42] #3261 closed

[2021-06-25 20:42] whedon commented on #3418
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ashwinvis, @dgketchum it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-06-25 20:51] pdebuyl commented on #3418
@ashwinvis @dgketchum make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here. As this is the first JOSS review for both reviewers (unless I missed something), do not hesitate to ask questions

[2021-06-25 21:25] kellyrowland commented on #3357
Great, thank you both!

[2021-06-25 21:26] kellyrowland commented on #3357
@whedon add @1313e as reviewer

[2021-06-25 21:26] whedon commented on #3357
OK, @1313e is now a reviewer

[2021-06-25 21:26] kellyrowland commented on #3357
@whedon add @csadorf as reviewer

[2021-06-25 21:26] whedon commented on #3357
OK, @csadorf is now a reviewer

[2021-06-25 21:26] kellyrowland commented on #3357
@whedon start review

[2021-06-25 21:27] whedon opened #3419 "[REVIEW]: mpi4jax: Zero-copy MPI communication of JAX arrays"
**Submitting author:** @dionhaefner (<a href="http://orcid.org/0000-0002-4465-7317">Dion Häfner</a>)
**Repository:** <a href="https://github.com/mpi4jax/mpi4jax" target ="_blank">https://github.com/mpi4jax/mpi4jax</a>
**Version:** v0.3.2
**Editor:** @kellyrowland
**Reviewers:** @1313e, @Himscipy
**Archive:** <a href="https://doi.org/10.5281/zenodo.5337529" target="_blank">10.5281/zenodo.5337529</a

[2021-06-25 21:27] whedon commented on #3357
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3419.

[2021-06-25 21:27] #3357 closed

[2021-06-25 21:27] whedon commented on #3419
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @1313e, @csadorf it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2021-06-25 21:27] whedon commented on #3419
[code]

[2021-06-25 21:27] whedon commented on #3419
PDF failed to compile for issue #3419 with the following error:
[code]

[2021-06-25 21:28] kellyrowland commented on #3419
@whedon generate pdf from branch joss-paper

[2021-06-25 21:28] whedon commented on #3419
[code]

[2021-06-25 21:28] whedon commented on #3419
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03419/joss.03419/10.21105.joss.03419.pdf) :page_facing_up: :point_left:

[2021-06-25 22:28] pikarpov-LANL commented on #3199
Hi everyone! First and foremost, thank you for your comments. I have made appropriate edits and posted my responses right in the Issues thread.

@MilesCranmer you can check them out [pikarpov-LANL/Sapsan#100](https://github.com/pikarpov-LANL/Sapsan/issues/100)

@kburns I am finishing up the response and will post it here tonight [pikarpov-LANL/Sapsan#99](https://github.com/pikarpov-LANL/Sapsan/iss

[2021-06-25 23:06] kbarnhart commented on #3407
@kyleniemeyer can do.

@ncohn it will probably be in the middle of next week when I start actively handling this.

[2021-06-25 23:07] kbarnhart commented on #3407
@whedon assign @kbarnhart as editor

[2021-06-25 23:07] whedon commented on #3407
OK, the editor is @kbarnhart

[2021-06-25 23:30] kyleniemeyer commented on #2842
@whedon accept deposit=true

[2021-06-25 23:30] whedon commented on #2842
[code]

[2021-06-25 23:31] whedon commented on #2842
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1408568545089363971) 👈 🐦🐦🐦

[2021-06-25 23:31] whedon commented on #2842
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2420
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02842](https://doi.org/10.21105/joss.02842)
2. If everything look

[2021-06-25 23:51] kyleniemeyer commented on #2842
Congratulations @scivision on your article's publication in JOSS!

Many thanks to @milancurcic and @bast for reviewing this, and @pdebuyl for editing.

[2021-06-25 23:51] #2842 closed

[2021-06-25 23:51] whedon commented on #2842
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02842/status.svg)](https://doi.org/10.21105/joss.02842)

**We need your help!**

Journal of Open Source Softwa

[2021-06-25 23:52] bstabler commented on #3172
@semiautomaticgit - thanks for updating the paper.  @joferkington, @kthyng - what do you think about the automated tests item?

[2021-06-26 01:47] ryankarlos commented on #3330
Hello @vissarion, thanks for approaching. Unfortunately I’m not going to have the time in the coming months so feel free to remove me from the list.

[2021-06-26 03:45] jrising commented on #3329
Thanks for the opportunity to review this interesting work! It took a while to wrap my head around the approach here, and I think a lot could be done to clean up the documentation and to improve the algorithm. But the goal is excellent and very worthwhile.

I have added issues on the JOSS article (https://framagit.org/GustaveCoste/off-product-environmental-impact/-/issues/10) , the repository stru

[2021-06-26 03:50] arokem commented on #3262
Hello! Overall, looks good. I have a couple of small suggestions:

1. I think that the section title "Overview of the DataLad and its ecosystem"  should be "Overview of DataLad and its ecosystem" or "Overview of the DataLad software and its ecosystem" (I would prefer the former), unless there is some intention in this wording that I am missing.

2. https://github.com/datalad/datalad/pull/5766

[2021-06-26 04:07] yarikoptic commented on #3262
Thank you @arokem!
1. took the former (removing "the")
2. included the change to bib - not sure how it came to be `@misc` ;)

[2021-06-26 04:07] yarikoptic commented on #3262
@whedon generate pdf from branch paper-joss

[2021-06-26 04:07] whedon commented on #3262
[code]

[2021-06-26 04:08] whedon commented on #3262
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03262/joss.03262/10.21105.joss.03262.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03262/joss.03262/10.21105.joss.03262.pdf) :page_facing_up: :point_left:

[2021-06-26 04:40] arokem commented on #3262
@whedon commands

[2021-06-26 04:40] whedon commented on #3262
Here are some things you can ask me to do:

[code]

[2021-06-26 04:40] arokem commented on #3262
@whedon check references

[2021-06-26 05:02] arokem commented on #3262
@whedon check references from branch paper-joss

[2021-06-26 05:02] whedon commented on #3262
[code]

[2021-06-26 05:03] whedon commented on #3262
[code]

[2021-06-26 05:07] arokem commented on #3262
OK! At this point could you:

- [ ] Make a tagged release of your software and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check that the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (mak

[2021-06-26 05:17] yarikoptic commented on #3262
Just to make sure - paper branch can remain detached (not merged into) from a release branch (maint) and tag, correct?

[2021-06-26 05:36] arokem commented on #3262
I believe that's correct, but let's bring in @openjournals/joss-eics to help resolve this.

This is a case where the paper is on a separate branch. The release version that gets tagged and archived does not have to include this branch in it, does it?

[2021-06-26 07:13] whedon opened #3420 "[PRE REVIEW]: daiR: an R package for OCR with Google Document AI"
**Submitting author:** @Hegghammer (<a href="http://orcid.org/0000-0001-6253-1518">Thomas Hegghammer</a>)
**Repository:** <a href="https://github.com/Hegghammer/daiR" target ="_blank">https://github.com/Hegghammer/daiR</a>
**Version:** v.0.9.1
**Editor:** @Nikoleta-v3
**Reviewers:** @cjbarrie , @shivam11
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-06-26 07:13] whedon commented on #3420
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-26 07:14] whedon commented on #3420
[code]

[2021-06-26 07:14] whedon commented on #3420
PDF failed to compile for issue #3420 with the following error:
[code]

[2021-06-26 07:14] whedon opened #3421 "[PRE REVIEW]: Madym: A C++ toolkit for quantitative DCE-MRI analysis"
**Submitting author:** @michaelberks (<a href="http://orcid.org/0000-0003-4727-2006">Michael Berks</a>)
**Repository:** <a href="https://gitlab.com/manchester_qbi/manchester_qbi_public/madym_cxx/" target ="_blank">https://gitlab.com/manchester_qbi/manchester_qbi_public/madym_cxx/</a>
**Version:** v4.15.0
**Editor:** @emdupre
**Reviewers:** @agahkarakuzu, @matteomancini
**Managing EiC:** Arfon Smit

[2021-06-26 07:14] whedon commented on #3420
[code]

[2021-06-26 07:14] whedon commented on #3421
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-26 07:14] arfon commented on #3421
@whedon generate pdf from branch JOSS_submission_4.15.0

[2021-06-26 07:14] whedon commented on #3421
[code]

[2021-06-26 07:14] whedon commented on #3421
[code]

[2021-06-26 07:14] whedon commented on #3421
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03421/joss.03421/10.21105.joss.03421.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03421/joss.03421/10.21105.joss.03421.pdf) :page_facing_up: :point_left:

[2021-06-26 07:14] whedon commented on #3421
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03421/joss.03421/10.21105.joss.03421.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03421/joss.03421/10.21105.joss.03421.pdf) :page_facing_up: :point_left:

[2021-06-26 07:15] whedon commented on #3421
[code]

[2021-06-26 07:15] arfon commented on #3262
Yes, that's right. We can accept the submission without the paper actually _landing_ in the merged code into the repository.

[2021-06-26 10:36] reyar commented on #3404
Hi @kyleniemeyer I hope I'm not too importunate :) But JOSS already published a Shiny application which is very similar to mine: https://github.com/PsyChiLin/EFAshiny.

[2021-06-26 13:21] yarikoptic commented on #3262
Does it require to have author list in the same **order** in this paper and on Zenodo, or just that the "set" of authors match?

[2021-06-26 16:19] arfon commented on #3420
@Hegghammer – thanks for your submission to JOSS. It looks like the YAML header of your file isn't formatted quite right, please take a look at the example and modify accordingly: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

Also, please take a look at the DOI suggestions from Whedon and update your BibTeX file if they look correct.

Finally, we're currentl

[2021-06-26 16:22] arfon commented on #3421
@michaelberks – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-06-26 16:22] whedon opened #3422 "[PRE REVIEW]: Statsomat/EDAPY: A Shiny app for automated EDA with Python"
**Submitting author:** @reyar (<a href="http://orcid.org/0000-0001-8904-1631">Denise Welsch</a>)
**Repository:** <a href="https://github.com/Statsomat/EDAPY" target ="_blank">https://github.com/Statsomat/EDAPY</a>
**Version:** v1.0-beta
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 p

[2021-06-26 16:22] whedon commented on #3422
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-26 16:22] whedon commented on #3422
[code]

[2021-06-26 16:22] whedon commented on #3422
[code]

[2021-06-26 16:23] whedon commented on #3422
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03422/joss.03422/10.21105.joss.03422.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03422/joss.03422/10.21105.joss.03422.pdf) :page_facing_up: :point_left:

[2021-06-26 16:23] whedon opened #3423 "[PRE REVIEW]: physical_validation: A Python package to assess the physical validity of molecular simulation results"
**Submitting author:** @ptmerz (<a href="http://orcid.org/0000-0002-7045-8725">Pascal T. Merz</a>)
**Repository:** <a href="https://github.com/shirtsgroup/physical_validation" target ="_blank">https://github.com/shirtsgroup/physical_validation</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-06-26 16:23] whedon commented on #3423
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-26 16:24] whedon commented on #3423
PDF failed to compile for issue #3423 with the following error:
[code]

[2021-06-26 16:24] whedon commented on #3423
[code]

[2021-06-26 16:49] arfon commented on #3296
@whedon recommend-accept

[2021-06-26 16:49] whedon commented on #3296
[code]

[2021-06-26 16:49] whedon commented on #3296
[code]

[2021-06-26 16:49] whedon commented on #3296
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2421

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2421, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-26 17:50] acolum commented on #3379
Hi @jmschrei,

Thank you for inviting me to review this paper. Unfortunately, I don't have
enough bandwidth at this time.

Best Regards,
Alyssa

On Thu, Jun 24, 2021 at 10:12 PM Jacob Schreiber ***@***.***>
wrote:

[2021-06-26 18:35] jmschrei commented on #3379
No problem, thanks for getting back to me.

Howdy, @pps121, would you be able to serve as a reviewer for this submission?

[2021-06-26 19:06] yoonjeongcha commented on #3201
@lpantano, I am now also done with my review. The visualization and interactive exploration were easy to use and helpful. The code was clean and well documented, and the vignettes had great examples. The tutorials and video was also well made. Overall I thought it was a great package for those who want to explore and visualize microbiome sequencing data in a single package.

[2021-06-26 19:33] erik-whiting commented on #3417
hi @fboehm , quick question for you. Do I just start making issues/comments on their repo as I go through review or should I make all issues at one time? Also, do I need to introduce myself to them or anything? I've never done a none-blind review before so just want to make sure I'm up-to-date on procedure and etiquette.

[2021-06-26 19:56] markheckmann commented on #3292
@aj2duncan : I fixed the issue you posted on github. There were some breaking changes in a package dep and it should work again now. Thanks!

[2021-06-26 20:39] aj2duncan commented on #3292
@markheckmann, great - thanks. I'll get back to testing the app. @brunaw, has made some queries/comments☝️, have you had a chance to look at any of them?

Thanks again for fixing the app. I'll get back to you as soon as I can.

[2021-06-26 21:13] dhhagan commented on #3224
Awesome, @khinsen - sorry for the delay here. Been a busy few weeks!

[2021-06-26 21:13] dhhagan commented on #3224
@whedon generate pdf

[2021-06-26 21:13] dhhagan commented on #3224
@whedon check references

[2021-06-26 21:14] whedon commented on #3224
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03224/joss.03224/10.21105.joss.03224.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03224/joss.03224/10.21105.joss.03224.pdf) :page_facing_up: :point_left:

[2021-06-26 21:14] whedon commented on #3224
[code]

[2021-06-26 21:16] dhhagan commented on #3224
@DrDaveShaw when you get a chance, could you create a tagged release and post the following:

- [ ] Final version number
- [ ] Archive DOI

Once I have those, I will proceed to acceptance! Sorry again for the delay!

[2021-06-26 21:17] dhhagan commented on #3219
@whedon reming @jwuttke in 1 day

[2021-06-26 21:17] whedon commented on #3219
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-26 21:18] bovee commented on #3386
Hi, sorry I don't check my Github notifications very often. I barely might have been able to do this six months ago, but I don't have any capacity for this review now. Thanks for understanding.

[2021-06-26 21:29] stsievert commented on #3310
@pibion I'll have to decline too. My apologies – I don't have enough bandwidth.

[2021-06-27 02:58] pps121 commented on #3379
Hi Jacob

Yes, I want to serve as a reviewer of this submission. Thanks!

With Heartiest Regards,
Partha Pratim

ᐧ

On Sun, Jun 27, 2021 at 12:05 AM Jacob Schreiber ***@***.***>
wrote:

[2021-06-27 05:48] jmschrei commented on #3379
@whedon add @pps121 as reviewer

[2021-06-27 05:48] whedon commented on #3379
OK, @pps121 is now a reviewer

[2021-06-27 05:49] jmschrei commented on #3379
Thanks for the time and effort!

[2021-06-27 08:22] arfon commented on #3296
@whedon accept deposit=true

[2021-06-27 08:22] whedon commented on #3296
[code]

[2021-06-27 08:23] whedon commented on #3296
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1409064842443595776) 👈 🐦🐦🐦

[2021-06-27 08:23] whedon commented on #3296
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2422
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03296](https://doi.org/10.21105/joss.03296)
2. If everything look

[2021-06-27 08:27] arfon commented on #3296
@lutzhamel, @yuhc – many thanks for your reviews here and to @mjsottile for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@isidentical – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-06-27 08:27] #3296 closed

[2021-06-27 08:27] whedon commented on #3296
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03296/status.svg)](https://doi.org/10.21105/joss.03296)

**We need your help!**

Journal of Open Source Softwa

[2021-06-27 08:30] arfon commented on #3422
@reyar – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that whedon's suggestions are not always right), you can, then use the following co

[2021-06-27 08:30] arfon commented on #3422
@whedon query scope

[2021-06-27 08:30] whedon commented on #3422
Submission flagged for editorial review.

[2021-06-27 08:32] arfon commented on #3423
@whedon generate pdf from branch joss-paper

[2021-06-27 08:32] whedon commented on #3423
[code]

[2021-06-27 08:32] whedon commented on #3423
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03423/joss.03423/10.21105.joss.03423.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03423/joss.03423/10.21105.joss.03423.pdf) :page_facing_up: :point_left:

[2021-06-27 08:33] arfon commented on #3423
@ptmerz – thanks for your submission to JOSS. Could you say a little more about the relationship between this submission and your previous paper about this software? https://doi.org/10.1371/journal.pone.0202764

JOSS does publish followup papers (2nd, 3rd etc.) for the same software package, provided that there have been substantial enhancements made to the package between submissions.

[2021-06-27 08:35] arfon commented on #3423
Also, it looks like your citations aren't rendering properly – you can read how to fix them [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html).

Finally, we're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks

[2021-06-27 08:42] arfon commented on #3404
Thanks for pointing out this other submission. I would note that the https://github.com/PsyChiLin/EFAshiny submission was published ~3 years ago in JOSS and our scope has evolved somewhat since then.

This isn't to say your submission will be deemed out of scope (the wider editorial team will make a decision on this), rather that previous submissions should not be relied upon as evidence that a si

[2021-06-27 08:43] arfon commented on #3280
@whedon assign me as editor

[2021-06-27 08:43] whedon commented on #3280
OK, the editor is @arfon

[2021-06-27 08:44] arfon commented on #3280
@AndreasPhilippi – could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-06-27 08:46] arfon commented on #3056
:wave: @rrjbca – just checking in again to see how you're getting on making your updates?

[2021-06-27 08:59] arfon commented on #3119
:wave: @alesarrett – you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

We already have one reviewer (@remram44) and are looking to find a second.

The package under review is [_SHED: Streaming Heterogeneous Event Data Tracking with Provenance

[2021-06-27 09:02] reyar commented on #3404
Thanks for the reply.

I still want to mention that my app Statsomat/CFA offers something which does not exist yet: Not only a bunch of numerical and graphical outputs but also a text-interpretation in plain English. This is the final scope of my project https://statsomat.com.

 Since I have two submissions with the same question of substantial scholarly effort and at least one more is planned for

[2021-06-27 09:08] Kevin-Mattheus-Moerman commented on #3421
@arfon I'm currently handling 7 submissions but once I've processed a few and if this still needs an editor I might be able to help. I've handled quite a few MRI papers.

[2021-06-27 11:17] arfon commented on #3316
@whedon invite @jedbrown as editor

:wave: @jedbrown – would you be able to take this submission on for us?

[2021-06-27 11:17] whedon commented on #3316
@jedbrown has been invited to edit this submission.

[2021-06-27 11:29] adi3 commented on #3211
@PacoCosta I'm almost finished with my review. I see only one item still outstanding. Could you please community guidelines for third parties wishing to
1. Contribute to the software
2. Report issues or problems with the software
3. Seek support

This can either be done by adding a CONTRIBUTING.md file and linking it in the README, or adding the content directly in the main repo README. Thanks!

[2021-06-27 12:11] Hegghammer commented on #3420
Dear Arfon Smith,
Many thanks for the quick response. I have addressed the YAML and DOI
issues, and updated versions of paper.md and paper.bib are now in the
Github repository.
No problem at all with the backlog. JOSS is already lightyears ahead of the
journals I normally deal with in terms of efficiency.
Thanks again and all the best,
Thomas Hegghammer

On Sat, 26 Jun 2021 at 18:20, Arfon Smith *

[2021-06-27 14:30] fboehm commented on #3417
hi, @erik-whiting - thank you for the questions. I suggest that you make comments and open issues as you proceed through the review checklist. There's no need to wait for everything at once. I also suggest that you link from this "review" thread to any issues that you open on the submission repository, ie, the beiwe repo. As long as you do that, I think that no introduction is needed. Thanks again

[2021-06-27 15:00] sbillinge commented on #3119
Dear Arfon,

I would be willing to help with reviewing, but this is my paper, so it is
not so appropriate for me to review it!

S

On Sun, Jun 27, 2021 at 4:59 AM Arfon Smith ***@***.***>
wrote:

--
Simon Billinge
Professor, Columbia University
Physicist, Brookhaven National Laboratory

[2021-06-27 15:06] mefuller commented on #3176
@kyleniemeyer Is there anythign actionable as yet for me as a reviewer?

[2021-06-27 15:13] milicag commented on #3203
@Eugenio2192 Thank you for creating very interesting code for an important topic. Please take a look at the issues I created that have been pending for a while now directly on your repository. After I get the responses I will be able to move on with the review. Thank you!

[2021-06-27 16:42] danielskatz commented on #3413
@whedon generate pdf from branch joss

[2021-06-27 16:42] whedon commented on #3413
[code]

[2021-06-27 16:42] danielskatz commented on #3413
@whedon check references from branch joss

[2021-06-27 16:42] whedon commented on #3413
PDF failed to compile for issue #3413 with the following error:
[code]

[2021-06-27 16:42] whedon commented on #3413
[code]

[2021-06-27 17:24] dhhagan commented on #3219
@whedon remind @jwuttke in 1 day

[2021-06-27 17:24] whedon commented on #3219
Reminder set for @jwuttke in 1 day

[2021-06-27 18:29] mrtommyb commented on #2845
Sorry this took me forever to get finished. I'm very happy with the changes made.

[2021-06-27 19:09] arfon commented on #3119
Of course! Unless I'm mistaken somehow, I was actually inviting @alesarrett to review here.

[2021-06-27 20:19] markheckmann commented on #3292
Dear @brunaw,

thanks for your comments and apologies for the late reply!  I inserted my answeres to your comments below. There is a new version of the manuscript available now in which I made the changes accordingly.

Thanks for your time and effort!

Best wishes
Mark

________

The paper is on the shiny app. It is the only software which implements the IC method. The software is necessary as the

[2021-06-27 20:20] markheckmann commented on #3292
@whedon generate pdf from branch joss

[2021-06-27 20:20] whedon commented on #3292
[code]

[2021-06-27 20:20] whedon commented on #3292
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03292/joss.03292/10.21105.joss.03292.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03292/joss.03292/10.21105.joss.03292.pdf) :page_facing_up: :point_left:

[2021-06-27 21:39] jgostick commented on #3325
@janash and @rosecers, thanks for the thorough review so far!  @ArtVoro, you have a clear list of things to work on, so I'll check back next week.

[2021-06-27 22:46] jgostick commented on #3183
@whedon add @prasantapal as reviewer

[2021-06-27 22:46] whedon commented on #3183
OK, @prasantapal is now a reviewer

[2021-06-27 22:47] jgostick commented on #3183
@prasantapal, I need to find a second reviewer then I'll start the official review process, at which point further instructions will follow.

[2021-06-27 22:56] prasantapal commented on #3183
Will wait for that. Thanks!

[2021-06-28 01:03] AbigailMcGovern commented on #3202
Hi @justinshenk and @jni,

I can confirm that my comments have been addressed and I'm happy to recommend this for acceptance.

Best,

Abigail

[2021-06-28 01:57] zbeekman commented on #3311
OK, looking at the dates on this thread, I think my comments ☝️ are still up to date, and that I'm working from the latest draft. The issue I opened isn't anything major, in general I think it's a great paper and a great project, but I'm still going through the documentation and verifying functionality. The issues I opened isn't a blocker or dealbreaker, but I'd like to hear what you have to say i

[2021-06-28 03:12] vsoch commented on #3311
Thank you @zbeekman ! Your review has been fantastic and I'm really enjoying our discussion :)

[2021-06-28 04:08] jacobmerson commented on #3389
@whedon generate pdf from branch joss

Some minor clarifying changes were made to the figures.

[2021-06-28 04:08] whedon commented on #3389
[code]

[2021-06-28 04:09] whedon commented on #3389
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03389/joss.03389/10.21105.joss.03389.pdf) :page_facing_up: :point_left:

[2021-06-28 06:47] VBlesius commented on #3409
@whedon generate pdf

[2021-06-28 06:48] whedon commented on #3409
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03409/joss.03409/10.21105.joss.03409.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03409/joss.03409/10.21105.joss.03409.pdf) :page_facing_up: :point_left:

[2021-06-28 06:57] ekaterinailin commented on #2845
Thank you @mrtommyb ! I'll look into the warnings - can you recall what numpy version you were working with when you got the warnings?

[2021-06-28 07:27] VBlesius commented on #3409
Unfortunately there don't seem to be reviewers that use R with a focus on health informatics / cardiology. The reviewers with the closest research interests could be:
    - shahmoradi
    - Path2Genome
    - carleshf
    - sachsmc
    - rrrlw
    - Suresh-lab
    - Gweissman
    - darokun
    - stensy
    - acolum
    - Rmadillo
    - Jminnier
    - pacoramon
    - peterakirk

[2021-06-28 07:29] erik-whiting commented on #3417
I opened [this issue](https://github.com/onnela-lab/beiwe-backend/issues/208) as my review to their paper

[2021-06-28 07:39] drvinceknight commented on #3360
@abhiramm7 thank you.

[2021-06-28 07:39] drvinceknight commented on #3360
@whedon add @abhiramm7 as reviewer

[2021-06-28 07:39] whedon commented on #3360
OK, @abhiramm7 is now a reviewer

[2021-06-28 07:39] drvinceknight commented on #3360
@whedon start review

[2021-06-28 07:39] whedon opened #3424 "[REVIEW]: Abmarl: Connecting Agent-Based Simulations with Multi-Agent Reinforcement Learning"
**Submitting author:** @rusu24edward (<a href="http://orcid.org/0000-0003-1033-439X">Edward Rusu</a>)
**Repository:** <a href="https://github.com/LLNL/Abmarl/" target ="_blank">https://github.com/LLNL/Abmarl/</a>
**Version:** 0.1.4
**Editor:** @drvinceknight
**Reviewer:** @seba-1511, @abhiramm7
**Archive:** <a href="https://doi.org/10.5281/zenodo.5196791" target="_blank">10.5281/zenodo.5196791</a>

[2021-06-28 07:39] whedon commented on #3360
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3424.

[2021-06-28 07:39] #3360 closed

[2021-06-28 07:39] whedon commented on #3424
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @seba-1511, @abhiramm7 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-06-28 07:40] whedon commented on #3424
[code]

[2021-06-28 07:40] whedon commented on #3424
[code]

[2021-06-28 07:40] whedon commented on #3424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: :point_left:

[2021-06-28 07:41] drvinceknight commented on #3360
The review will now take place on #3424 where there are guidelines but if there is anything I can assist with please let me know.

[2021-06-28 07:55] AndreasPhilippi commented on #3280
@arfon We have already suggested three editions that we think are good candidates. Are they not available or do we need to suggest more?

[2021-06-28 08:28] drvinceknight commented on #3424
@rusu24edward if you could take a look at the above missing DOI please.

[2021-06-28 08:33] michaelberks commented on #3421
@arfon and @Kevin-Mattheus-Moerman . Thanks both for the information, I understand the situation.

Looking at the whedon auto summary on the references, shall I add the missing the DOIs it has found (and correct the invalidly formatted DOI) now? I'll make the edit paper.bib directly on the paper submission branch (JOSS_submission_4.1.5.0).

[2021-06-28 08:41] Kevin-Mattheus-Moerman commented on #3421
@michaelberks yes you can fix those issues and update the paper draft at any time by calling `@whedon generate pdf`.

[2021-06-28 08:41] ajstewartlang commented on #3401
@whedon assign @spitschan as reviewer

[2021-06-28 08:41] whedon commented on #3401
OK, @spitschan is now a reviewer

[2021-06-28 08:46] arfon commented on #3280
:wave: @rlucas7, @g4brielvs, @kramea – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration here is [_ddop: A python package for data-driven operations management_](https://github.com/opimwue/ddop)

[2021-06-28 08:46] whedon opened #3425 "[PRE REVIEW]: SiSyPHE: A Python package for the Simulation of Systems of Particles with High Efficiency"
**Submitting author:** @antoinediez (<a href="http://orcid.org/0000-0002-4454-8452">Antoine Diez</a>)
**Repository:** <a href="https://github.com/antoinediez/Sisyphe" target ="_blank">https://github.com/antoinediez/Sisyphe</a>
**Version:** v0.1.5
**Editor:** @pdebuyl
**Reviewers:** @lorenzo-rovigatti, @junghans
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-06-28 08:46] whedon commented on #3425
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-28 08:47] whedon commented on #3425
[code]

[2021-06-28 08:47] whedon commented on #3425
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03425/joss.03425/10.21105.joss.03425.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03425/joss.03425/10.21105.joss.03425.pdf) :page_facing_up: :point_left:

[2021-06-28 08:47] whedon commented on #3425
[code]

[2021-06-28 08:48] arfon commented on #3425
:wave: @antoinediez - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

If you want to fix the DOIs (noting that whedon's suggestions are not always right), you can, then use the

[2021-06-28 08:58] wimvanderbauwhede commented on #3055
Hi @Kevin-Mattheus-Moerman, yes,  that is OK for me. I'm sorry if I did not make that clear after my last exchange.

[2021-06-28 09:02] Eugenio2192 commented on #3203
Thanks for jumping @milicag  I'm sorry for the delay on the issue solving(and test building). Last month has been very loaded and I'm currently the only active mantainer available. I will get the issues solved ASAP.

[2021-06-28 09:23] jakryd commented on #3324
Sorry for the delay, @mikldk. I'm almost over with my review.

@ulf1 -- Have you compared how your methods perform in comparison to other commonly-used packages?

[2021-06-28 09:37] GustaveCoste commented on #3329
Thank you @jrising and @simonom for the interesting comments and recommendations. I will try to address it as soon as I can, probably during July.

[2021-06-28 10:12] geoffreyp commented on #2974
Hello @melissawm @sjvrijn @chkoar,
I have completed the requested changes. Do you think that the review can be finished before August? It's just to know if I can include this work in my thesis before sending it :)

[2021-06-28 10:13] DrDaveShaw commented on #3224
@dhhagan the final version number is v1.1 and the archive can be found at 10.5281/zenodo.5036374

Thank you very much for all of your help!

[2021-06-28 10:23] chkoar commented on #2974
Hey @geoffreyp, I will open three issues so you can address them in order to move forward the review.

[2021-06-28 10:40] Shibabrat commented on #3301
Hi @kyleniemeyer @richardjgowers, can we help with moving this pre-review to the next step? We appreciate your time and consideration in finding the reviewers.

Sincerely,
Authors

[2021-06-28 10:51] antoinediez commented on #3425
@whedon generate pdf

[2021-06-28 10:52] antoinediez commented on #3425
@whedon check references

[2021-06-28 10:52] whedon commented on #3425
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03425/joss.03425/10.21105.joss.03425.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03425/joss.03425/10.21105.joss.03425.pdf) :page_facing_up: :point_left:

[2021-06-28 10:53] antoinediez commented on #3425
@whedon check references

[2021-06-28 11:09] antoinediez commented on #3425
@whedon check references

[2021-06-28 11:11] dfm commented on #2845
Thanks @mrtommyb!

@ekaterinailin: Give me a day or two to do a final pass through the paper, etc. and then I'll have a few last administrative tasks before publication. Thanks for your patience!!

[2021-06-28 11:54] ulf1 commented on #3324
To my surprise, I haven't found a package that suited our needs. There exists a commercial software vendor (Sawtooth Software) who offers Best-Worst-Scaling surveys since the 80s/90s. It looks that they are related to the research community about BWS in the 90s.
Our UI (see page 2 in https://osf.io/qkxej/) and Sawtooth's UI (see https://sawtoothsoftware.com/maxdiff) will produce the same kind of d

[2021-06-28 12:21] gaelforget commented on #3349
Hi @Kevin-Mattheus-Moerman

I will work on the review & check-list this week. Have already been reading through the package docs which look really good now I feel

[2021-06-28 12:47] gkthiruvathukal commented on #3229
@tacaswell  Just following up. It's hard to believe we are approaching end of June, so I hope this works well with your availability. Are you available to help with this review?

[2021-06-28 12:48] gkthiruvathukal commented on #3229
@yxoos Would you be willing to contribute a review for this JOSS submission? I need two reviewers, so I am hoping you and @tacaswell can help me out!

[2021-06-28 12:50] gkthiruvathukal commented on #3291
@zeroset and @cedricchevalier19, can you let me know how things are going with the review for this submission?

[2021-06-28 12:53] gkthiruvathukal commented on #2752
@vissarion and @traversaro Can you give me a sense of whether @vincentberenz latest updates are sufficient? The earlier correspondence suggests we are good to go. I'd like to move to accept this paper by end of week if there are no additional issues to address.

[2021-06-28 12:55] vincentberenz commented on #2752
@gkthiruvathukal

Thanks for pinging !
I still have this issue to address:

https://github.com/intelligent-soft-robots/o80/issues/9

[2021-06-28 12:56] gkthiruvathukal commented on #2752
Thanks, @vincentberenz. Please do follow up when complete so we can take the next steps!

[2021-06-28 12:58] timtroendle commented on #3313
Hello @ritwikagarwal, we are slowly approaching the end of the six-week review period. Can you let us know where you stand with your review?

[2021-06-28 13:07] jakryd commented on #3324
I see. As you provided `https://doi.org/10.31219/osf.io/qkxej` in the references, I think that anyone interested in this issue can find more information there.

No further questions from me. I'm happy to recommend this paper for publication.

[2021-06-28 13:18] gkthiruvathukal commented on #3052
@ayush-1506 Just following up to see whether you have been able to resolve https://github.com/openmainframeproject/ade/issues/85 so we can move toward acceptance.

[2021-06-28 13:19] danielskatz commented on #3348
👋 @mfenner - it would be great if you can get started when you get the chance

[2021-06-28 13:19] gkthiruvathukal commented on #3062
@marcozennaro Can you please provide an update?

[2021-06-28 13:19] danielskatz commented on #3348
👋 @ad48 - any update on the issues from @dhimmel?

[2021-06-28 13:21] danielskatz commented on #3351
👋 @tresoldi @platipodium - How are things going with your reviews?

[2021-06-28 13:22] danielskatz commented on #3211
👋 @PierreGuilbertF - Can you provide an update on when you will be able to get started? (or if you have started, when you will start checking off items in the review)

[2021-06-28 13:23] danielskatz commented on #3295
👋 @mviereck - How is this going? Is anything blocking your progress?

[2021-06-28 13:28] sap218 commented on #3302
@majensen sorry for the delay - do you still need me as a reviewer?

[2021-06-28 13:29] lpantano commented on #3378
@RDastgh1, would you like to review this tool for JOSS?

[2021-06-28 13:36] yarikoptic commented on #3262
While revisiting the list of the requirements for Zenodor archive entry, another concern is

- we have contributors who contributed no "fix" at all, but were significant and notable contributors to see to the success of the project.  I think this requirement/statement should be adjusted for JOSS to not suggest a demand only for major "in commit/code" contributions: projects do often need administr

[2021-06-28 13:38] lpantano commented on #3378
@tobiasrausch, would you like to review this tool for JOSS? Read more about the criteria here:  (https://joss.readthedocs.io/en/latest/review_criteria.html) Thanks!

[2021-06-28 13:52] jgostick commented on #3183
@whedon add @michaelberks as reviewer

[2021-06-28 13:53] whedon commented on #3183
OK, @michaelberks is now a reviewer

[2021-06-28 13:53] jgostick commented on #3183
@whedon list reviewers

[2021-06-28 13:53] whedon commented on #3183
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-06-28 13:54] jgostick commented on #3183
@whedon start review

[2021-06-28 13:54] whedon opened #3426 "[REVIEW]: Circular profile of a ring over a stack of images"
**Submitting author:** @jeanbilheux (<a href="http://orcid.org/0000-0003-2172-6487">Jean Bilheux</a>)
**Repository:** <a href="https://github.com/neutronimaging/circular_profiler" target ="_blank">https://github.com/neutronimaging/circular_profiler</a>
**Version:** v1.0.0
**Editor:** @jgostick
**Reviewers:** @michaelberks, @jgostick
**Archive:** Pending

**:warning: JOSS reduced service mode :warn

[2021-06-28 13:54] whedon commented on #3183
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3426.

[2021-06-28 13:54] #3183 closed

[2021-06-28 13:54] whedon commented on #3426
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @prasantapal, @michaelberks it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-06-28 13:54] whedon commented on #3426
[code]

[2021-06-28 13:54] whedon commented on #3426
[code]

[2021-06-28 13:54] whedon commented on #3426
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03426/joss.03426/10.21105.joss.03426.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03426/joss.03426/10.21105.joss.03426.pdf) :page_facing_up: :point_left:

[2021-06-28 13:58] jgostick commented on #3426
Hello @michaelberks and @prasantapal, the review is now under way.  You can find a checklist at the top of this issue thread, one for each of you.  Your task is simply to check off all those boxes.  This mostly involves installing the software according to the provided documentation, and verifying it's functionality.  If you find any boxes that you *cannot* check, then you let the author(s) of the

[2021-06-28 14:21] szymon-datalions commented on #2869
@whedon generate pdf

[2021-06-28 14:22] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2021-06-28 14:25] szymon-datalions commented on #2869
@sdesabbata Hi, I've restructured paper slightly to make it more clear and accessible. It is not a big change, rather I gave it the finishing touch.

[2021-06-28 14:32] cMadan commented on #3159
@0todd0000 and @nicholst, thank you for the  thorough reviews. I really appreciate the time and effort you have put into this!

@tramarobin, I will do some last checks and let you know next steps within the next few days.

[2021-06-28 14:37] whedon opened #3427 "[PRE REVIEW]: trackdown: An R Package for Enhancing Collaborative Writing"
**Submitting author:** @ClaudioZandonella (<a href="http://orcid.org/0000-0001-7721-6318">Claudio Zandonella Callegher</a>)
**Repository:** <a href="https://github.com/ekothe/trackdown" target ="_blank">https://github.com/ekothe/trackdown</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the ch

[2021-06-28 14:37] whedon commented on #3427
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-28 14:37] whedon commented on #3427
[code]

[2021-06-28 14:37] whedon commented on #3427
[code]

[2021-06-28 14:37] whedon commented on #3427
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03427/joss.03427/10.21105.joss.03427.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03427/joss.03427/10.21105.joss.03427.pdf) :page_facing_up: :point_left:

[2021-06-28 14:40] ajstewartlang commented on #3400
@whedon assign @sara-shiho as reviewer

[2021-06-28 14:40] whedon commented on #3400
OK, @sara-shiho is now a reviewer

[2021-06-28 14:48] KristinaRiemer commented on #3200
@BrandonEdwards and @puruckertom have you been able to start working on this review yet?

[2021-06-28 14:55] dfm commented on #2845
@ekaterinailin: I've opened a tiny pull request with an update for the references. Can you take a look at that and once you've merged, please take the following steps:

- Comment `@whedon generate pdf from branch josspaper` on this thread and read through the manuscript to make sure that you're happy with it (it's hard to make changes later!), especially check that your name and affiliation are co

[2021-06-28 14:56] sjvrijn commented on #2974
Hi @geoffreyp,
I can check 'functionality documentation' once moead-framework/framework#55 has been approved by @chkoar and merged.

For 'state of the field' I'm waiting for a resolution my question about other frameworks from May 27th: either adding a paragraph on them in your paper, or a confirmation from @melissawm that they are out-of-scope for this submission.

[2021-06-28 14:57] dfm commented on #3368
@whedon assign @CamDavidsonPilon as reviewer

Thanks Cameron for agreeing to act as a reviewer! As soon as I have a second reviewer lined up, we'll get things started in a new issue.

[2021-06-28 14:57] whedon commented on #3368
OK, @CamDavidsonPilon is now a reviewer

[2021-06-28 15:07] melissawm commented on #2974
Thanks all for the update!

I do think it would be useful to address the "State of the Field" question by @sjvrijn - can you clarify @geoffreyp ? Thanks!

[2021-06-28 15:11] yxoos commented on #3229
Sorry, I am so busy with work, cannot do it.
______________________
Amir Hassanzadeh

Ph.D. Candidate
Chester F. Carlson Center for Imaging Science
Rochester Institute of Technology, NY, 14623, USA
Email:     ***@***.***
Tel:         585-771-0680

On Mon, Jun 28, 2021 at 8:48 AM George K. Thiruvathukal <
***@***.***> wrote:

[2021-06-28 15:11] melissawm commented on #3375
Thank you @krystophny , that is helpful.

@morganericsson is this something you can give your opinion about at this point?

[2021-06-28 15:28] chkoar commented on #2974
@melissawm hey! As I [said earlier](https://github.com/openjournals/joss-reviews/issues/2974#issuecomment-869566182) I will open some issues in the software repo, so the review will move forward. However, some checks cannot be addressed from @geoffreyp. For instance the General Checks that I haven't ticked yet. Could you please see my comments and validate that they can be ticked without any conce

[2021-06-28 15:39] ClaudioZandonella commented on #3427
Potential Reviewers

considering Rmarkdown aspects
- dvanic
- aaronpeikert

considering API aspects
- josiahparry
- pachamaltese

[2021-06-28 15:55] KristinaRiemer commented on #3333
@saskiaotto @jules32 @HeatherWelch would you be able and willing to be a reviewer for this JOSS software submission?

If you're not familiar with JOSS, these reviews happen openly on GitHub and are guided by [this checklist](https://joss.readthedocs.io/en/latest/review_checklist.html). There's some more information on this process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.ht

[2021-06-28 16:33] PacoCosta commented on #3211
https://github.com/openjournals/joss-reviews/issues/3211#issuecomment-869146287: Done
Thanks.

[2021-06-28 16:40] adi3 commented on #3211
Thank you @PacoCosta.

@danielskatz I have finished my review and I happily recommend this paper for publication. Thanks for your patience!

[2021-06-28 16:57] diehlpk commented on #3309
Hey @tianxzhu @paragkulkarni11 @GalenStocking @nhejazi @dvysardana @glemaitre @Scivision @rasbt would you be interested ti review this paper?

[2021-06-28 17:13] rusu24edward commented on #3424
Reviewers, please note that the release branch is [abmarl-87-interface-release](https://github.com/LLNL/Abmarl/tree/abmarl-87-interface-release). The main branch has some additional developmental work that is not a part of the release nor this review.

[2021-06-28 17:21] rusu24edward commented on #3424
@whedon commands

[2021-06-28 17:21] whedon commented on #3424
Here are some things you can ask me to do:

[code]

[2021-06-28 17:21] rusu24edward commented on #3424
@whedon check references

[2021-06-28 17:21] jedbrown commented on #3316
@whedon assign @jedbrown as editor

[2021-06-28 17:21] whedon commented on #3316
OK, the editor is @jedbrown

[2021-06-28 17:22] whedon commented on #3316
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03316/joss.03316/10.21105.joss.03316.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03316/joss.03316/10.21105.joss.03316.pdf) :page_facing_up: :point_left:

[2021-06-28 17:24] whedon commented on #3219
:wave: @jwuttke, please update us on how your review is going (this is an automated reminder).

[2021-06-28 17:34] jedbrown commented on #3316
Not a big deal, but you've got some warnings.

gcc-11:
<details>

[code]
</details>

clang-12:

<details>

[code]
</details>

[2021-06-28 17:41] jedbrown commented on #3316
@robertodr @maxscheurer @jeffhammond @shivupa @amandadumi @sbacchio :wave: Would any of you be interested and available to review this paper for JOSS?

[2021-06-28 17:53] diehlpk commented on #2945
To avoid any confusion, I added the label "paused" since it is unclear how long it will take to finish the release.

[2021-06-28 17:57] jeffhammond commented on #3316
I can do it but I'll need until the end of July because I'm going to be working with reduced throughput for the next 2-3 weeks.

[2021-06-28 17:59] jedbrown commented on #2945
Sorry about the big delay. We fixed a release blocking bug yesterday and I made minor copy edits/bib updates so I'm ready to proceed with a v0.9 release (publishing packages for all languages) and this paper if there are no further concerns.

[2021-06-28 18:00] jedbrown commented on #2945
@whedon generate pdf from branch joss-paper

[2021-06-28 18:00] whedon commented on #2945
[code]

[2021-06-28 18:00] whedon commented on #2945
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02945/joss.02945/10.21105.joss.02945.pdf) :page_facing_up: :point_left:

[2021-06-28 18:07] jedbrown commented on #2945
@whedon set v0.9.0 as version

[2021-06-28 18:07] whedon commented on #2945
OK. v0.9.0 is the version.

[2021-06-28 18:10] jedbrown commented on #3316
Thanks, @jeffhammond. We're happy to accommodate and wish you the best in your move.

[2021-06-28 18:10] jedbrown commented on #3316
@whedon add @jeffhammond as reviewer

[2021-06-28 18:10] whedon commented on #3316
OK, @jeffhammond is now a reviewer

[2021-06-28 18:16] morganericsson commented on #3375
@melissawm Yes, I agree with @krystophny . I've reviewed the code and played around with it a bit to get a feel for how it works. It provides a way to wrap Flux models and use them using the MLJ API. There are some nice benefits to this, but these are (mainly) due to MLJ and other underlying packages; most of the code in this package is just wrapping and translating (by design).

I found the docum

[2021-06-28 18:49] kramea commented on #3280
Sure, I can review that.

On Mon, Jun 28, 2021 at 1:46 AM Arfon Smith ***@***.***>
wrote:

[2021-06-28 18:52] kyleniemeyer commented on #3184
Hello @Himscipy, would you be willing to review this submission for JOSS? If you haven't reviewed for us before, we follow a checklist-based approach in the open here on GitHub: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2021-06-28 18:52] kasasxav commented on #3394
Hi @untzag, thank you very much for your feedback. Thank you also for the nice words about the project.

We are working on addressing the issues you mentioned. As for [kasasxav/ImSwitch#44](https://github.com/kasasxav/ImSwitch/issues/44) and [kasasxav/ImSwitch#45](https://github.com/kasasxav/ImSwitch/issues/45), we have now included the required documentation.

As for the authors contributions, I

[2021-06-28 18:56] rusu24edward commented on #3424
@whedon check references

[2021-06-28 18:57] whedon commented on #3424
[code]

[2021-06-28 18:57] rusu24edward commented on #3424
@drvinceknight I believe I have fixed the DOI issue.

[2021-06-28 19:00] richardsc commented on #3243
I'm happy to review, but it's going to be at least a couple weeks before I have time as I'm taking some vacation until mid-July.

[2021-06-28 19:03] richardsc commented on #3212
Hi @kellyrowland -- thanks for asking me, but I'm already reviewing another JOSS submission, and I think this one really isn't in a field that I'd be a good reviewer for.

[2021-06-28 19:05] kellyrowland commented on #3212
Hi @richardsc - thanks for letting me know.

[2021-06-28 19:07] zeroset commented on #3291
Sorry for being late, I try to review soon.

[2021-06-28 19:09] zeroset commented on #3291
@gkthiruvathukal you know how to produce the pdf from the markdown readme?

[2021-06-28 19:12] kasasxav commented on #3394
I understand your concern @untzag, and I will try to clarify it for you. I believe that in our project, there have been two phases:
First, we designed the architecture of the software, applied the MVP into our project, and decided how we wanted to create the Python classes and connections between the different modules of ImSwitch. In this initial step, it was mainly Andreas Bodén and me who discus

[2021-06-28 19:57] a-paxton commented on #3202
My apologies for the delayed review on my end. I appreciate the extensive efforts from @justinshenk et al. to revise to the software, documentation, and manuscript in response to the previous round of reviews, and I'm happy to recommend the current version for acceptance!

PS: I noted a minor typo on line 232 ("hande-eye coordination" -> "hand-eye coordination"), but it's not important enough to h

[2021-06-28 20:19] arfon commented on #3280
@whedon add @kramea as reviewer

[2021-06-28 20:19] whedon commented on #3280
OK, @kramea is now a reviewer

[2021-06-28 20:21] Himscipy commented on #3184
Hi @kyleniemeyer,
Thanks for the review invite.
The work fit well with my background and I can surely review it.

[2021-06-28 20:22] kyleniemeyer commented on #3184
@whedon add @Himscipy as reviewer

Great, thank you!

[2021-06-28 20:22] whedon commented on #3184
OK, @Himscipy is now a reviewer

[2021-06-28 20:23] kyleniemeyer commented on #3184
@whedon start review

[2021-06-28 20:23] whedon opened #3428 "[REVIEW]: PERFORM: A Python package for developing reduced-order models for reacting fluid flows"
**Submitting author:** @cwentland0 (<a href="http://orcid.org/0000-0002-8500-569X">Christopher Wentland</a>)
**Repository:** https://github.com/cwentland0/perform
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.2.1
**Editor:** @kyleniemeyer
**Reviewers:** @Himscipy, @kyleniemeyer
**Archive:** 10.5281/zenodo.7302346

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-06-28 20:23] whedon commented on #3184
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3428.

[2021-06-28 20:23] #3184 closed

[2021-06-28 20:23] whedon commented on #3428
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @clemaitre58, @Himscipy it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-06-28 20:23] gkthiruvathukal commented on #3291
@zeroset You can use the whedon generate command. You should be able to check the boxes. I can check with the EICs if you continue to experience problems with the checklist.

[2021-06-28 20:23] williamfgc commented on #3143
@nkallima I just opened issues above requesting some enhancements based on my initial review. Overall, great job and thanks for putting together a piece of functional software out of your research. I still need to go through some of the software functionalities, but these are initial requests/comments/feedback mostly to make the software more user-friendly. Bonus: *great CI and tests*.

[2021-06-28 20:23] whedon commented on #3428
PDF failed to compile for issue #3428 with the following error:
[code]

[2021-06-28 20:24] kyleniemeyer commented on #3428
👋 Hello @cwentland0 @clemaitre58 @Himscipy we will perform the actual review in this issue. Thanks!

[2021-06-28 20:24] kyleniemeyer commented on #3428
@whedon generate pdf from branch paper

[2021-06-28 20:24] whedon commented on #3428
[code]

[2021-06-28 20:24] whedon commented on #3428
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03428/joss.03428/10.21105.joss.03428.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03428/joss.03428/10.21105.joss.03428.pdf) :page_facing_up: :point_left:

[2021-06-28 20:33] diehlpk commented on #2945
@whedon check references

[2021-06-28 20:42] diehlpk commented on #2945
@jedbrown I read the paper and my only concern is Figure 4. For reproducibility, could you add the version of the used library and libCEED itself?

[2021-06-28 20:42] diehlpk commented on #2945
@whedon commands

[2021-06-28 20:42] whedon commented on #2945
Here are some things you can ask me to do:

[code]

[2021-06-28 20:43] diehlpk commented on #2945
@whedon check references

[2021-06-28 20:47] jedbrown commented on #2945
@whedon check references from branch joss-paper

[2021-06-28 20:47] whedon commented on #2945
[code]

[2021-06-28 20:47] whedon commented on #2945
[code]

[2021-06-28 20:50] g4brielvs commented on #3280
@arfon Sorry for missing this opportunity to review. My name hadn't been tagged and I didn't receive the notification. I'd be more than happy to contribute, if appropriate.

[2021-06-28 20:52] jedbrown commented on #2945
Figure 4 would have been PETSc 3.14 release candidate and libCEED 0.7 release candidate, though it should be equivalent today. Would you prefer that I list detailed provenance (versions and configuration options of transitive dependencies and compilers) in the text or place the log files (which contain comprehensive details) as supplementary material in the software archive or a supplementary arch

[2021-06-28 20:57] nhejazi commented on #3309
Thank you for considering me, but I am unable to provide a timely review at present.

[2021-06-28 21:07] diehlpk commented on #2945
@jedbrown I think adding these two numbers to the paper would and have more details somewhere else would be sufficient.

[2021-06-28 21:59] kbarnhart commented on #2276
@KevinShook I wanted to check in again to see how you were doing with addressing the remaining comments.

[2021-06-28 22:06] KevinShook commented on #2276
Thanks for getting back.
We have responded to issues https://github.com/CentreForHydrology/WDPM/issues/70  and https://github.com/CentreForHydrology/WDPM/issues/69 and
https://github.com/CentreForHydrology/WDPM/issues/68 and

[2021-06-28 22:10] justinshenk commented on #3202
Thanks @a-paxton amd @AbigailMcGovern for the final reviews and recommendations! These fixes are added to the latest version.

[2021-06-28 22:11] justinshenk commented on #3202
@whedon generate pdf

[2021-06-28 22:11] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-06-29 00:27] KimBaldry commented on #3305
I have to disclose that I am working 0.8FTE outside of academia and completing my PhD part-time. The package is useful to my PhD work and I can test its functionality against my own code. However, I do have limited time so I can't promise to meet short deadlines. If the editor and authors are happy to proceed with this in mind, I am happy to review the code in my own time.

I look forward to seein

[2021-06-29 00:29] jni commented on #3202
@justinshenk awesome, we are go! There is one final task, which is to update the version number for the current paper. Then I can set the release version and recommend acceptance! (The JOSS EICs actually do the acceptance — usually within a few hours of recommendation — and then publication is automatic and instant!)

[2021-06-29 03:26] galessiorob commented on #3322
@hknd23

Thank you for your thorough response and instrumentation of @cmaimone's feedback and suggestions. I will review everything in the upcoming days and provide feedback too.

As for the scholarly effort, [JOSS's guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html) point out that while we do ask that the effort, measured as commit history and software age, is no less than th

[2021-06-29 03:41] gonzalobravoargentina commented on #3319
Hi @kthyng,
I'm very honoured with the invitation.
Although I am intermediate R used, I have used the Oce package rather well and think I can give some humble contributions. However if others reviewers with more programing experience are available I got not problem in leaving my place.
Thanks

[2021-06-29 04:58] zeroset commented on #3291
I still can't mark the checkboxes. Seems like my joss-review invitation is expired.

[2021-06-29 04:59] zeroset commented on #3291
@whedon generate pdf from branch paper

[2021-06-29 04:59] whedon commented on #3291
[code]

[2021-06-29 04:59] whedon commented on #3291
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03291/joss.03291/10.21105.joss.03291.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03291/joss.03291/10.21105.joss.03291.pdf) :page_facing_up: :point_left:

[2021-06-29 05:02] zeroset commented on #3291
@whedon check references

[2021-06-29 07:12] arfon commented on #3280
Definitely not to late! I'll add you now, and thanks!

[2021-06-29 07:13] arfon commented on #3280
@whedon add @g4brielvs as reviewer

[2021-06-29 07:13] whedon commented on #3280
OK, @g4brielvs is now a reviewer

[2021-06-29 07:13] arfon commented on #3280
@whedon start review

[2021-06-29 07:13] whedon opened #3429 "[REVIEW]: ddop: A python package for data-driven operationsmanagement"
**Submitting author:** @AndreasPhilippi (<a href="http://orcid.org/0000-0002-6508-9128">Andreas Philippi</a>)
**Repository:** <a href="https://github.com/opimwue/ddop" target ="_blank">https://github.com/opimwue/ddop</a>
**Version:** v0.6.5
**Editor:** @arfon
**Reviewer:** @kramea, @g4brielvs
**Archive:** <a href="https://doi.org/10.5281/zenodo.5577966" target="_blank">10.5281/zenodo.5577966</a>

[2021-06-29 07:13] whedon commented on #3280
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3429.

[2021-06-29 07:13] #3280 closed

[2021-06-29 07:13] whedon commented on #3429
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kramea, @g4brielvs it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-06-29 07:13] whedon commented on #3429
[code]

[2021-06-29 07:13] whedon commented on #3429
[code]

[2021-06-29 07:13] arfon commented on #3280
@kramea, @g4brielvs, @AndreasPhilippi – see you over in #3429 where the actual review will take place.

[2021-06-29 07:13] whedon commented on #3429
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03429/joss.03429/10.21105.joss.03429.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03429/joss.03429/10.21105.joss.03429.pdf) :page_facing_up: :point_left:

[2021-06-29 07:14] arfon commented on #3429
@kramea, @g4brielvs – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. T

[2021-06-29 07:18] arfon commented on #3262
Yes this is OK. We absolutely _must_ have an archive of the software to associate with the review, and we _prefer_ that the archive metadata (authors, title etc.) match the JOSS paper. This later requirement though is a soft one so it's OK to proceed.

[2021-06-29 07:49] whedon commented on #3395
[code]

[2021-06-29 07:51] vissarion commented on #3395
@nandaloo there are some missing DOIs @whedon found, please fix them.

@crhea93 it seems that you finished your review! Do you have any comments, issues, concerns?

[2021-06-29 08:13] ajstewartlang commented on #3401
@whedon add @takuma929 as reviewer

[2021-06-29 08:13] whedon commented on #3401
OK, @takuma929 is now a reviewer

[2021-06-29 08:23] drvinceknight commented on #3084
An update: I am still working offline to find reviewers for this.

[2021-06-29 08:29] drvinceknight commented on #3266
@sylvaticus @salleuska @mvaldes @ayushpatnaikgit I'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS (The Journal of Open Source Software).

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "JMcDM: A Julia package for multiple-criteria decision-making tools". You can find more information at the

[2021-06-29 08:58] sylvaticus commented on #3266
Hello, I could do it, but I am confident only with a small subset of the methods implemented in the package.

[2021-06-29 09:03] Kevin-Mattheus-Moerman commented on #3055
Thanks @wimvanderbauwhede !

[2021-06-29 09:05] Kevin-Mattheus-Moerman commented on #3055
@whedon generate pdf

[2021-06-29 09:05] whedon commented on #3055
PDF failed to compile for issue #3055 with the following error:
[code]

[2021-06-29 09:06] Kevin-Mattheus-Moerman commented on #3055
@whedon generate pdf from branch joss-paper

[2021-06-29 09:06] whedon commented on #3055
[code]

[2021-06-29 09:06] whedon commented on #3055
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03055/joss.03055/10.21105.joss.03055.pdf) :page_facing_up: :point_left:

[2021-06-29 09:15] Kevin-Mattheus-Moerman commented on #3055
@whedon check references

[2021-06-29 09:17] Kevin-Mattheus-Moerman commented on #3055
@tomgrylls congrats I will now continue to help get this submission ready for acceptance in JOSS. I have proofread the paper and it looks good. Please now work on the following steps:

- [ ] Since this work is about to be accepted I recommend that you also proofread the article once more.
- [ ] Can you confirm if the software version is still at `1.0.0` or if we need to update the version tag?
- [

[2021-06-29 09:17] Kevin-Mattheus-Moerman commented on #3055
@whedon check references from branch joss-paper

[2021-06-29 09:17] whedon commented on #3055
[code]

[2021-06-29 09:17] tobiasrausch commented on #3378
Hi @lpantano,
Thanks, I can help reviewing this paper.
Best, Tobias

[2021-06-29 09:17] whedon commented on #3055
[code]

[2021-06-29 09:26] platipodium commented on #3351
trying again the mentioning thingy ... here again for reference https://github.com/virgesmith/neworder/issues/65

[2021-06-29 09:31] platipodium commented on #3351
I am happy with the software and paper pending the two issues with contributing https://github.com/virgesmith/neworder/issues/65 and copyright update https://github.com/virgesmith/neworder/issues/66

[2021-06-29 09:45] faroit commented on #3354
alright, I had another quick look at the paper. Looks all good to me. We can start the review process

[2021-06-29 09:46] faroit commented on #3354
@whedon check references

[2021-06-29 09:47] ad48 commented on #3348
@danielskatz my coauthor and I have been discussing it and we've made a few changes. We resolved all but 1 of the issues. (Should I close those ones now?)

[2021-06-29 09:59] geoffreyp commented on #2974
Hello @sjvrijn, you can see my answer in the PR https://github.com/moead-framework/framework/pull/68.

Hello @chkoar, thank you, so I will wait for the new issues !

Concerning the **Contribution and authorship**, Bilel and Arnaud are my supervisors, and they contributed to the framework in its design and in the writing of the paper, even if it is true that they do not appear in the contributors o

[2021-06-29 10:35] arfon commented on #3354
@whedon check references from branch paper

[2021-06-29 10:35] whedon commented on #3354
[code]

[2021-06-29 10:49] Kevin-Mattheus-Moerman commented on #3260
@mikesmithlab :wave: can you comment on the points raised above :point_up:

[2021-06-29 12:24] ekaterinailin commented on #2845
@whedon generate pdf from branch josspaper

[2021-06-29 12:24] whedon commented on #2845
[code]

[2021-06-29 12:43] drvinceknight commented on #3266
Thank you @sylvaticus, once you have completed what you can if I feel a further review is needed I can find one.

I'll go ahead and start the review now.

[2021-06-29 12:43] drvinceknight commented on #3266
@whedon add @sylvaticus as reviewer

[2021-06-29 12:44] whedon commented on #3266
OK, @sylvaticus is now a reviewer

[2021-06-29 12:44] whedon opened #3430 "[REVIEW]: JMcDM: A Julia package for multiple-criteria decision-making tools"
**Submitting author:** @jbytecode (<a href="http://orcid.org/0000-0002-9402-1982">Mehmet Hakan Satman</a>)
**Repository:** <a href="https://github.com/jbytecode/JMcDM" target ="_blank">https://github.com/jbytecode/JMcDM</a>
**Version:** v0.2.4
**Editor:** @drvinceknight
**Reviewer:** @brunaw, @sylvaticus
**Archive:** <a href="https://doi.org/10.5281/zenodo.5534663" target="_blank">10.5281/zenodo.5

[2021-06-29 12:44] whedon commented on #3266
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3430.

[2021-06-29 12:44] #3266 closed

[2021-06-29 12:44] whedon commented on #3430
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brunaw, @sylvaticus it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-06-29 12:44] whedon commented on #3430
[code]

[2021-06-29 12:44] drvinceknight commented on #3266
The review will now be taking place on #3430, there are various things documented there but if I can answer any questions please let me know.

[2021-06-29 12:45] whedon commented on #3430
[code]

[2021-06-29 12:53] ekaterinailin commented on #2845
Thank you for updating and checking the references, @dfm ! I read through the paper - looks complete and correct to me.

The newest version of AltaiPony is now 2.0.1., and the corresponding DOI is [10.5281/zenodo.4095339](https://zenodo.org/record/5040830#.YNsVujqxUn4)

[2021-06-29 13:02] ArtVoro commented on #3325
sorry for the late response.

I did some CI with building and testing the software (took me longer than expected) and reworked the tutorials (juypter notebooks). Now ill expand the online documentation and then revisit the paper.

[2021-06-29 13:03] mfenner commented on #3348
@danielskatz will work on this by tomorrow.

[2021-06-29 13:21] marcosvital commented on #3117
Dear @bob-carpenter, would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to revie

[2021-06-29 13:23] dhimmel commented on #3348
Ah I hadn't seen https://github.com/sagepublishing/rejected_article_tracker_pkg/commit/c30b755619bf0e9517f848827911797de5e37275 with changes tot paper, will take a look at that and update the issues.

[2021-06-29 13:29] bgiacoma commented on #3336
@whedon generate pdf

[2021-06-29 13:29] whedon commented on #3336
PDF failed to compile for issue #3336 with the following error:
[code]

[2021-06-29 13:30] bgiacoma commented on #3336
@eloisabentivegna I cannot find the pdf of the paper. Sorry, I'm new to this system.

[2021-06-29 13:37] dfm commented on #2845
@whedon check references from branch josspaper

[2021-06-29 13:37] whedon commented on #2845
[code]

[2021-06-29 13:37] whedon commented on #2845
[code]

[2021-06-29 13:39] danielskatz commented on #3336
@whedon generate pdf from branch joss-paper-branch

FYI, @eloisabentivegna - when you start a review, its a good idea to check to make sure there's a paper produced, and if the source is in a branch, do this manually...

[2021-06-29 13:39] whedon commented on #3336
[code]

[2021-06-29 13:40] whedon commented on #3336
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03336/joss.03336/10.21105.joss.03336.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03336/joss.03336/10.21105.joss.03336.pdf) :page_facing_up: :point_left:

[2021-06-29 13:41] bgiacoma commented on #3336
@danielskatz thanks!

[2021-06-29 13:41] dfm commented on #2845
@whedon set 10.5281/zenodo.4095339 as archive

[2021-06-29 13:41] whedon commented on #2845
OK. <a href="https://doi.org/10.5281/zenodo.4095339" target="_blank">10.5281/zenodo.4095339</a> is the archive.

[2021-06-29 13:42] dfm commented on #2845
@whedon set v2.0.1 as version

[2021-06-29 13:42] whedon commented on #2845
OK. v2.0.1 is the version.

[2021-06-29 13:42] dfm commented on #2845
@ekaterinailin: Thanks!! I opened one last PR with a reference update - sorry about that! Once you merge that, we're good to go.

[2021-06-29 13:44] bgiacoma commented on #3336
@bprather I added an issue about the README file (issue #30) on the github repository of the code
[https://github.com/AFD-Illinois/iharm3d/issues/30#issue-932686829](https://github.com/AFD-Illinois/iharm3d/issues/30#issue-932686829)

[2021-06-29 13:59] yarikoptic commented on #3262
We have been meticulously archiving datalad on zenodo (and pypi and debian and neurodebian and their snapshots repos) through the years and https://zenodo.org/record/5034875#.YNsmFXWYXjE is the one for recent `datalad/datalad: 0.14.6`.  Would it be sufficient (given the relaxed *prefer* for the metadata)?

[2021-06-29 14:07] dfm commented on #2845
@whedon generate pdf from branch josspaper

[2021-06-29 14:07] whedon commented on #2845
[code]

[2021-06-29 14:08] whedon commented on #2845
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02845/joss.02845/10.21105.joss.02845.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02845/joss.02845/10.21105.joss.02845.pdf) :page_facing_up: :point_left:

[2021-06-29 14:09] dfm commented on #2845
@whedon recommend-accept from branch josspaper

[2021-06-29 14:09] whedon commented on #2845
[code]

[2021-06-29 14:09] whedon commented on #2845
[code]

[2021-06-29 14:11] dfm commented on #2845
🎉  @ekaterinailin: This has now been passed to the Editors-in-Chief who will do a final pass (they might have some last edits) and then press the publish button. Thanks for this submission and all of your work through this process.

@afeinstein20, @mrtommyb: Thank you for your constructive reviews. I really appreciate all the work you put in here!!

[2021-06-29 14:27] crhea93 commented on #3395
@vissarion yes that is correct -- I finished the review. I am very impressed by the software. Although the install seemed daunting at first, it went smoothly and rather quickly. The authors did a good job of putting together a comprehensive manual - I was able to get everything running in no time and was able to play around quite a bit with the software with minimal background knowledge.

[2021-06-29 14:45] jbytecode commented on #3253
Hi @kellieotto, would you be willing to assist in reviewing this submission for JOSS?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "Human-Learn". You can find more information at the top of this Github issue.

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conversations ar

[2021-06-29 14:52] hknd23 commented on #3322
Hi @galessiorob,

Thank you very much for your advice. We are happy to incorporate any comment or feedback that you have to improve the package's functionality.

[2021-06-29 14:59] ekaterinailin commented on #2845
Thank you all for getting AltaiPony through the review process, your work and your patience, @dfm @mrtommyb @afeinstein20 :raised_hands: I am very happy with the result :)

[2021-06-29 15:08] jbytecode commented on #3387
Dear @zedtaha, I am just pinging you to ask if you would be willing to assist in reviewing this submission for JOSS?

[2021-06-29 15:15] jbytecode commented on #3371
Dear @apaszke, @colesbury,  @gchanan, @soumith would one of you would be willing to assist in reviewing this submission for JOSS? I am sorry if I bothered you, I am just pinging you just because you are an expert in the research area of this submission.

[2021-06-29 15:28] jbytecode commented on #3253
Hi @aokad, would you be willing to assist in reviewing this submission for JOSS?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "Human-Learn". You can find more information at the top of this Github issue.

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conversations are enc

[2021-06-29 15:31] gkthiruvathukal commented on #3291
@openjournals/joss-eics  Can someone help to fix the problem where @zeroset cannot mark the checkboxes. Do I need to reinvite him as a reviewer?

[2021-06-29 15:49] arbennett commented on #3212
Hi @kellyrowland - I think this is a bit too far out of my area of expertise to review as well. Thanks for asking though!

[2021-06-29 15:59] danielskatz commented on #3291
@whedon re-invite @zeroset as reviewer

@gkthiruvathukal - yes ☝️

[2021-06-29 15:59] whedon commented on #3291
OK, the reviewer has been re-invited.

@zeroset please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-29 16:09] PierreGuilbertF commented on #3211
@danielskatz I started the review a week ago. I should be done by the end of the week.

[2021-06-29 16:27] justinshenk commented on #3202
@whedon set v0.2.8 as version

[2021-06-29 16:27] whedon commented on #3202
I'm sorry @justinshenk, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-06-29 17:11] kyleniemeyer commented on #3176
@mefuller you can certainly begin looking at the software, based on our [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), but I need to identify a second reviewer before I start the actual review issue

[2021-06-29 17:15] kellyrowland commented on #3212
No problem, thanks for the response @arbennett !

[2021-06-29 17:21] cmaimone commented on #3322
I reviewed the additional work on this project.  I've updated the relevant issues and the checklist above.  I still have concerns with:

- Performance claims (better, but the timing information isn't clear)
- Contributing guidelines need to be expanded
- Tests (mostly done - great work!, but one issue to check on)

A few other issues remain open that should be resolved, but they are more minor iss

[2021-06-29 17:46] jbytecode commented on #3371
Dear @scarrazza, @scarlehoff I am sorry if I bothered you, I am just pinging you just because you are an expert in the research area of this submission. Would one of you would be willing to assist in reviewing this submission for JOSS?

[2021-06-29 18:20] justinshenk commented on #3202
@jni I updated the package in Zendodo with v0.2.8. The new DOI is 10.5281/zenodo.5042781.

[2021-06-29 18:36] eloisabentivegna commented on #3336
Thanks, Dan! I usually do this in pre-review (although you beat me to it there too this time... :) ). Is it better to do it (or do it again) in the review issue?

[2021-06-29 18:53] danielskatz commented on #3336
you have to do it again in the review issue, or else the reviewers won't be able to find the paper...

[2021-06-29 18:58] arfon commented on #3320
@whedon invite @adi3 as editor

:wave: @adi – would you be willing to edit this submission for JOSS?

[2021-06-29 18:58] whedon commented on #3320
@adi3 has been invited to edit this submission.

[2021-06-29 19:00] arfon commented on #3321
@whedon invite @adi3 as editor

:wave: @adi3 - would you be willing to edit this submission for JOSS?

[2021-06-29 19:00] whedon commented on #3321
@adi3 has been invited to edit this submission.

[2021-06-29 19:04] arfon commented on #3352
@whedon invite @osorensen as editor

:wave: @osorensen – would you be willing to edit this submission for JOSS?

[2021-06-29 19:11] arfon commented on #3359
@whedon invite @fabian-s as editor

:wave: @fabian-s – I realize this is somewhat outside your field, but we don't really have an 'ideal' editor for this submission 😅 . As such, would you be willing to edit this for us?

[2021-06-29 19:11] whedon commented on #3359
@fabian-s has been invited to edit this submission.

[2021-06-29 19:14] arfon commented on #3367
@whedon invite @adi3 as editor

:wave: @adi3 – would you be willing to edit this submission for JOSS? (Last invite for now I promise!)

[2021-06-29 19:15] whedon commented on #3367
@adi3 has been invited to edit this submission.

[2021-06-29 19:16] arfon commented on #3365
@whedon invite @hugoledoux as editor

:wave: @hugoledoux – would you be willing to edit this submission for us?

[2021-06-29 19:16] whedon commented on #3365
@hugoledoux has been invited to edit this submission.

[2021-06-29 19:17] osorensen commented on #3352
@whedon assign me as editor

[2021-06-29 19:17] whedon commented on #3352
I'm sorry @osorensen, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-06-29 19:18] osorensen commented on #3352
Yes, @arfon, I'm willing. Seems like @whedon doesn't know I'm an editor yet though.

[2021-06-29 19:19] arfon commented on #3381
@whedon invite @ajstewartlang as editor

:wave: @ajstewartlang - would you be willing to take on one more submission for us? No worries if you'd rather not at this stage!

[2021-06-29 19:19] whedon commented on #3381
@ajstewartlang has been invited to edit this submission.

[2021-06-29 19:23] osorensen commented on #3352
@whedon assign @osorensen as editor

[2021-06-29 19:23] whedon commented on #3352
I'm sorry @osorensen, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-06-29 19:28] majensen commented on #3302
@sap218 yes please! (If you are available)

[2021-06-29 19:30] majensen commented on #3246
@whedon assign @magedhelmy1 as reviewer

[2021-06-29 19:30] whedon commented on #3246
OK, @magedhelmy1 is now a reviewer

[2021-06-29 19:30] majensen commented on #3246
@whedon add @ShantanuDash as reviewer

[2021-06-29 19:30] whedon commented on #3246
OK, @ShantanuDash is now a reviewer

[2021-06-29 19:31] majensen commented on #3246
@whedon start review

[2021-06-29 19:31] whedon opened #3431 "[REVIEW]: Computer-Aided Generation of N-shift RWS"
**Submitting author:** @benjaminbolling (<a href="http://orcid.org/0000-0002-6650-5365">Benjamin Edward Bolling</a>)
**Repository:** https://github.com/benjaminbolling/RSW
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.0
**Editor:** @majensen
**Reviewers:** @ShantanuDash, @magedhelmy1
**Archive:** 10.5281/zenodo.7618915

**:warning: JOSS reduced service mode :warning:**

Due

[2021-06-29 19:31] whedon commented on #3246
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3431.

[2021-06-29 19:31] #3246 closed

[2021-06-29 19:31] whedon commented on #3431
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @magedhelmy1, @ShantanuDash it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](h

[2021-06-29 19:31] whedon commented on #3431
Failed to discover a `Statement of need` section in paper

[2021-06-29 19:31] whedon commented on #3431
[code]

[2021-06-29 19:31] whedon commented on #3431
[code]

[2021-06-29 19:31] whedon commented on #3431
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03431/joss.03431/10.21105.joss.03431.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03431/joss.03431/10.21105.joss.03431.pdf) :page_facing_up: :point_left:

[2021-06-29 19:33] majensen commented on #3246
@benjaminbolling @magedhelmy1 @ShantanuDash - please join the discussion in the official review issue at #3431. Don't hesitate to ask any questions you may have about the process; really appreciate your participation.

[2021-06-29 19:34] ajstewartlang commented on #3381
@whedon assign me as editor

[2021-06-29 19:34] whedon commented on #3381
OK, the editor is @ajstewartlang

[2021-06-29 19:36] majensen commented on #3173
@tresoldi - checking in on your progress, thanks

[2021-06-29 19:40] faroit commented on #3354
@whedon check references from branch paper

[2021-06-29 19:40] whedon commented on #3354
[code]

[2021-06-29 19:44] zeroset commented on #3291
Thank you @danielskatz

[2021-06-29 20:01] nkallima commented on #3143
@williamfgc Thank you for your constructive comments and for the time devoted to review the repository. I am going to address soon the open issues and your comments directly in the repository.

[2021-06-29 20:01] jorgegil commented on #3346
Indeed, @gro5-AberUni you must use signals to add and remove the plugin from the menu and the toolbar when the plugin is loaded / unloaded. This happens in the main class.

It's rare behaviour (people do not check/uncheck a plugin multiple times) but it has a dev solution and other plugins do it correctly.

[2021-06-29 20:07] arfon commented on #3354
@whedon check references from branch paper

[2021-06-29 20:07] whedon commented on #3354
[code]

[2021-06-29 20:09] thewan05 commented on #3084
@drvinceknight Thank you for keeping us in the loop!

[2021-06-29 20:09] arfon commented on #3354
@yiitozer – please merge this PR to fix your paper: https://github.com/meinardmueller/synctoolbox/pull/1

[2021-06-29 20:15] rougier commented on #3384
Some update on my (stalled) review: I have a hard time installing vtk on OSX Catalina. Once solved, I'll be able to resume my review.

[2021-06-29 20:22] arfon commented on #3403
@whedon invite @Nikoleta-v3 as editor

:wave: @Nikoleta-v3 - would you be willing to edit this submission for JOSS?

[2021-06-29 20:22] whedon commented on #3403
@Nikoleta-v3 has been invited to edit this submission.

[2021-06-29 20:26] arfon commented on #3382
@whedon invite @Nikoleta-v3 as editor

:wave: @Nikoleta-v3 – I realise this is somewhat outside your area of specialism but would you be willing to edit this for us?

[2021-06-29 20:26] whedon commented on #3382
@Nikoleta-v3 has been invited to edit this submission.

[2021-06-29 20:44] arfon commented on #3369
@whedon invite @fabian-s as editor

:wave: @fabian-s – would you be willing to edit this submission for JOSS?

[2021-06-29 20:44] whedon commented on #3369
@fabian-s has been invited to edit this submission.

[2021-06-29 20:50] arfon commented on #3411
@whedon invite @dhhagan as editor

:wave: @dhhagan – as it looks like https://github.com/openjournals/joss-reviews/issues/3224#issuecomment-869559410 is about to wrap up 🎉, would you be willing to edit this submission for us?

[2021-06-29 20:50] whedon commented on #3411
@dhhagan has been invited to edit this submission.

[2021-06-29 20:51] whedon opened #3432 "[PRE REVIEW]: NiTransforms: A Python tool to read, represent, manipulate, and apply n-dimensional spatial transforms"
**Submitting author:** @mgxd (<a href="http://orcid.org/0000-0002-7252-7771">Mathias Goncalves</a>)
**Repository:** <a href="https://github.com/poldracklab/nitransforms" target ="_blank">https://github.com/poldracklab/nitransforms</a>
**Version:** 21.0.0
**Editor:** @osorensen
**Reviewers:** @robbisg, @PeerHerholz
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Du

[2021-06-29 20:51] whedon commented on #3432
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-29 20:52] whedon commented on #3432
Failed to discover a `Statement of need` section in paper

[2021-06-29 20:52] whedon commented on #3432
[code]

[2021-06-29 20:52] whedon commented on #3432
[code]

[2021-06-29 20:52] whedon commented on #3432
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03432/joss.03432/10.21105.joss.03432.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03432/joss.03432/10.21105.joss.03432.pdf) :page_facing_up: :point_left:

[2021-06-29 20:53] arfon commented on #3432
@mgxd – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-06-29 20:53] whedon opened #3433 "[PRE REVIEW]: Radial Interstices Enable Speedy Low-volume Imaging"
**Submitting author:** @spinicist (<a href="http://orcid.org/0000-0001-7640-5520">Tobias Wood</a>)
**Repository:** <a href="https://github.com/spinicist/riesling" target ="_blank">https://github.com/spinicist/riesling</a>
**Version:** v0.4
**Editor:** @emdupre
**Reviewers:** @uecker , @MartinK84
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-06-29 20:53] whedon commented on #3433
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-29 20:53] whedon commented on #3433
Failed to discover a `Statement of need` section in paper

[2021-06-29 20:53] whedon commented on #3433
[code]

[2021-06-29 20:53] whedon commented on #3433
PDF failed to compile for issue #3433 with the following error:
[code]

[2021-06-29 20:53] whedon commented on #3433
[code]

[2021-06-29 20:57] arfon commented on #3433
@spinicist - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

In the meantime, changing the paper header to quote the affiliations for Florian Wiesinger should fix your paper co

[2021-06-29 21:00] lpantano commented on #3201
@whedon generate pdf

[2021-06-29 21:00] whedon commented on #3201
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03201/joss.03201/10.21105.joss.03201.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03201/joss.03201/10.21105.joss.03201.pdf) :page_facing_up: :point_left:

[2021-06-29 21:01] lpantano commented on #3201
@whedon check references

[2021-06-29 21:01] whedon commented on #3201
[code]

[2021-06-29 21:09] lpantano commented on #3201
Thank you @yoonjeongcha and @marypiper for your time!

@david-barnett, At this point could you:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here. (or point to the current one if it is done already)
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g

[2021-06-29 21:10] lpantano commented on #3378
@whedon assign @tobiasrausch as reviewer

[2021-06-29 21:10] whedon commented on #3378
OK, @tobiasrausch is now a reviewer

[2021-06-29 21:11] lpantano commented on #3378
Thank you @tobiasrausch!, bear with me meanwhile I find the second reviewer.

[2021-06-29 21:21] whedon commented on #3374
:wave: @7omasz, please update us on how your review is going (this is an automated reminder).

[2021-06-29 21:21] whedon commented on #3374
:wave: @iimog, please update us on how your review is going (this is an automated reminder).

[2021-06-29 21:25] eloisabentivegna commented on #2555
Email reminder sent to reviewers.

[2021-06-29 21:32] eloisabentivegna commented on #2978
@rhaas80, @robertsawko, could you respond to @BenMql's latest changes? Do they address your requests?

[2021-06-29 21:33] eloisabentivegna commented on #3336
@cpalenzuela, do you have everything you need to start your review?

[2021-06-29 21:49] whedon commented on #3375
:wave: @morganericsson, please update us on how your review is going (this is an automated reminder).

[2021-06-29 21:49] whedon commented on #3375
:wave: @krystophny, please update us on how your review is going (this is an automated reminder).

[2021-06-29 21:50] mviereck commented on #3295
Sorry that I've been away that long. I was distracted by RL.
Most remaining points I just have to check without expecting a problem.

One major point was a missing description of the difference to the previous paper.
Now there is a long chapter on this. It seems to me that this fits in the way you've said:

Overall the paper is quite long and detailed. A bit I am missing is to bring it to a short

[2021-06-29 23:02] ayush9pandey commented on #3362
I've been having issues with making the software work on my Windows machine due to a dependency (Vienna RNA) that I haven't been able to setup correctly. I have created an issue in their repository hoping for some help: https://github.com/ViennaRNA/ViennaRNA/issues/130 (posting here for tracking the review progress).

[2021-06-29 23:19] arokem commented on #3262
Yes. I think this is fine.

[2021-06-29 23:21] arokem commented on #3262
@whedon set 10.5281/zenodo.5034875 as archive

[2021-06-29 23:21] whedon commented on #3262
OK. <a href="https://doi.org/10.5281/zenodo.5034875" target="_blank">10.5281/zenodo.5034875</a> is the archive.

[2021-06-29 23:21] arokem commented on #3262
@openjournals/joss-eics : I believe this article is ready for your review.

[2021-06-29 23:38] kbarnhart commented on #2276
@KevinShook I've looked over these and agree that you have addressed all issues except for the suggestion surrounding tests. I've provided some input on that issue. Please let me know on that issue if I can provide additional guidance. Once that issue is resolved I will ping @r-barnes to revisit his review.

[2021-06-29 23:39] kbarnhart commented on #3398
@whedon add @salterg as reviewer

[2021-06-29 23:39] whedon commented on #3398
OK, @salterg is now a reviewer

[2021-06-29 23:43] kbarnhart commented on #3398
@salterg - thanks for agreeing to review this submission to JOSS. In the prior comments there is a checklist that you can use to guide you through your review.

We have an automatic reminder set up to ask you how the review is going. At present we request that reviewers complete their reviews within 6 weeks (August 10, 2021). JOSS is trying to be mindful of changes people have experienced due to C

[2021-06-30 00:22] dhhagan commented on #3411
@arfon sure thing.

[2021-06-30 00:25] jmschrei commented on #3379
Howdy @RDastgh1, any chance you can serve as a reviewer for this submission?

[2021-06-30 00:26] dhhagan commented on #3411
@whedon assign @dhhagan as editor

[2021-06-30 00:26] whedon commented on #3411
OK, the editor is @dhhagan

[2021-06-30 00:29] jmschrei commented on #3373
Hi @pmeier and @saran-nns, would either of you be able to serve as a reviewer for this submission? Thanks!

[2021-06-30 01:02] jni commented on #3202
Sorry I wasn't clearer @justinshenk: Could you please tag a release with the latest changes (even though they are only to the paper) as v0.2.9? That way the source of the paper matches what is published in JOSS.

[2021-06-30 01:10] stensy commented on #3379
Hi Jacob-
Sorry for the delay. I’m swamped and don’t have the bandwidth to review
currently. Thanks for the offer though.
Kristian

On Fri, Jun 25, 2021 at 1:12 AM Jacob Schreiber ***@***.***>
wrote:

--
Sent via mobile, please excuse brevity and/or typos.

[2021-06-30 03:05] soumith commented on #3371
sorry, while this is interesting, I wont be able to make time for this review!

[2021-06-30 03:22] szkafander commented on #3395
@vissarion I can't seem to edit the checklist - forgot to accept the invitation. Could you please reinvite me?

[2021-06-30 04:47] phamvanvung commented on #3384
I am running macOS too (Big Sur) and tried installing the software (all three ways mentioned in the documentation: pip, conda, and development). They work well. It also downloads and installs vtk!=9.0.0,>=8.1.2 (from fury) automatically.

[2021-06-30 04:51] rougier commented on #3384
I've a hard time installing VTK on OSX Catalina, just for the record, the procedure using conda was:
[code]

I had no trouble installing Fury following the instructions but the test failed with a segmentation fault (when testing picking). The output was rather scarce so it might be difficult to debug. But I managed to run some of the tutorials (I've not tested all of them). Overall it's a nice and

[2021-06-30 06:06] yiitozer commented on #3354
Thank you @arfon, I merged your pull request.

[2021-06-30 06:18] fverdugo commented on #3349
Hi @jkrumbiegel @Kevin-Mattheus-Moerman

In this check box

the link to the repo url points to [AbstractPlotting.jl](https://github.com/JuliaPlots/AbstractPlotting.jl) but I guess (based on previous comment by @jkrumbiegel ) that the repo I should review is [Makie.jl](https://github.com/JuliaPlots/Makie.jl). Another indicator is that  [AbstractPlotting.jl](https://github.com/JuliaPlots/AbstractPlo

[2021-06-30 06:26] faroit commented on #3354
@whedon check references from branch paper

[2021-06-30 06:26] whedon commented on #3354
[code]

[2021-06-30 06:26] whedon commented on #3354
[code]

[2021-06-30 06:42] iimog commented on #3374
No update since my last comment. Only few items unchecked on my review checklist. I will have another look as soon as they are addressed by the authors.

[2021-06-30 06:55] faroit commented on #3354
@yiitozer can you please add the missing DOIs before we can proceed with the review?

[2021-06-30 06:56] vissarion commented on #3395
@whedon add @szkafander as reviewer

[2021-06-30 06:56] whedon commented on #3395
OK, @szkafander is now a reviewer

[2021-06-30 07:08] IndrajeetPatil commented on #3393
Hi @fboehm,

I am one of the authors, and I was just curious if we are certain that @jakobbossek has been assigned as a reviewer in this issue?

Asking because I don't see it here:

<img width="197" alt="Screenshot 2021-06-30 at 09 05 50" src="https://user-images.githubusercontent.com/11330453/123916961-8842ff00-d982-11eb-8fc7-2429ea1672df.png">

[2021-06-30 07:10] zeroset commented on #3291
Dear @gkthiruvathukal and @bshoshany unfortunately I have doubts that this submission meets the required substantial scholarly effort. The submitted software contains 238 lines of actual C++ code. The reminder is comments and markdown. Referring to [JOSS Guidelines](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) the submission should contain at least 300 lines

[2021-06-30 07:14] jmschrei commented on #3379
No problem, thanks for getting back to me and good luck getting through everything.

[2021-06-30 07:19] fabian-s commented on #3359
sure --
@whedon assign me as editor

[2021-06-30 07:22] hugoledoux commented on #3365
@whedon assign @hugoledoux as editor

[2021-06-30 07:22] whedon commented on #3365
OK, the editor is @hugoledoux

[2021-06-30 07:22] fabian-s commented on #3359
@whedon assign me as editor

[2021-06-30 07:22] whedon commented on #3359
OK, the editor is @fabian-s

[2021-06-30 07:22] jkrumbiegel commented on #3349
Yes all code is in the Makie.jl monorepo now, while most of it was in AbstractPlotting.jl when I submitted the paper.

[2021-06-30 07:24] Nikoleta-v3 commented on #3403
👋🏻 @arfon Yes, I am happy to be the editor for this submission.

[2021-06-30 07:25] fabian-s commented on #3369
@whedon assign me as editor

[2021-06-30 07:25] whedon commented on #3369
OK, the editor is @fabian-s

[2021-06-30 07:26] Nikoleta-v3 commented on #3382
@arfon Yes 👍🏻 😄

[2021-06-30 07:33] Nikoleta-v3 commented on #3403
@whedon assign me as editor

[2021-06-30 07:33] whedon commented on #3403
OK, the editor is @Nikoleta-v3

[2021-06-30 07:37] Nikoleta-v3 commented on #3382
@whedon assign me as editor

[2021-06-30 07:37] whedon commented on #3382
OK, the editor is @Nikoleta-v3

[2021-06-30 08:10] erik-whiting commented on #3417
I opened [this](https://github.com/onnela-lab/beiwe-backend/issues/210) issue as my review to their installation.

I cannot review the `functionality` portion of the checklist until the installation issues are fixed or someone offers a workaround. Otherwise, I'm done with my first round of reviewing.

[2021-06-30 08:41] yiitozer commented on #3354
hello @faroit, I added the missing DOIs, for some references, no DOIs are available.

[2021-06-30 08:43] whedon commented on #3376
:wave: @rchew, please update us on how your review is going (this is an automated reminder).

[2021-06-30 08:43] whedon commented on #3376
:wave: @soodoku, please update us on how your review is going (this is an automated reminder).

[2021-06-30 08:49] jorgegil commented on #3346
I've completed a review of the software and the paper and have a long list of comments for both. I'll add them here as separate comments, grouped where relevant, to allow response.

General comment on the paper for now:
- The paper is well written but in my view lacks technical detail to make the algorithm clearer and more transparent (details to follow).
- A more general use case for the tool mus

[2021-06-30 08:51] jorgegil commented on #3346
Minor tweaks to the paper:
- paragraph 1: "at a continental or global scape" should be scale
- paragraph 2: "RegionGrow generates connects pixels with a similar colour" generates should be dropped

[2021-06-30 08:52] jorgegil commented on #3346
Paper figures:
- figure 1 seems out of place. Either add descriptions to the caption (a-f) as in later figures or refer to it in the text. The steps in "Using this software" have no relation to the steps in figure 1
- in fact, you need to refer to all images in the text so we look at them in context and they support the descriptions

[2021-06-30 08:54] vissarion commented on #3364
Hi @nikunjragh, @torbenwendt, @augucarv, I think this JOSS submission is relevant to your interests. Would you like to review it?

[2021-06-30 08:57] jorgegil commented on #3346
Use case for the tool:
- the section heading "ongoing projects" is not immediately obvious what it refers to: software projects, or applications of the tool.
- Maybe it should be a section describing scope, uses cases, and limitations, to explain how it is meant to be used in practice, but also in research. What what it cannot do.
- For a tool called region grow I was expecting something like a ma

[2021-06-30 08:58] ianhinder commented on #2555
Apologies for the long delay. I will aim to get it completed before Monday.

[2021-06-30 08:59] jorgegil commented on #3346
Questions on Step 2 in the paper:
- Why does the user need to indicate a distance? Why 25 as a default?
- Text should mention "neighbourhood size (m)" which is the label in the tool. The description must be consistent with the text in the GUI.
- Why a square neighbourhood, not circle or hexagon?

[2021-06-30 09:00] jorgegil commented on #3346
Questions on Step 3 in the paper:
- What kind of 'spatial weighting' is it? linear? How is it calculated, in metres?
- Shouldn't the spatial relation be based on contiguity rather than distance?

[2021-06-30 09:02] jorgegil commented on #3346
Questions on Step 4 in the paper:
- At this stage an equation with all aspects of steps 3 and 4, even if simple, would be valuable to make the algorithm very transparent.
- Are the values used scaled prior to the sum? What is their range?
- What name do you give the 'combined value'?
- Needs an explanation for the user defined threshold. How are users supposed to know the right value? Are there re

[2021-06-30 09:04] jorgegil commented on #3346
Questions on Step 5 in the paper:
- Why give option for buffer? It should be explained why the option is there, and example of when/how to use.
- Why only geoJSON or shapefile output? Could also create a memory layer like many other plugins and let the user choose how to save it.

[2021-06-30 09:07] jorgegil commented on #3346
Testing and validation questions:
- Was there any testing and validation done to see if the tool selects what is intended? Should there be a test data set with correct regions to understand thresholds?
- Unless the results are not meant to be precise and only rough indications, which applies to a specific use case. In that sense the tool is not a general region identification tool.
- Could two rat

[2021-06-30 09:09] jorgegil commented on #3346
Tool usability:
- starting state of image type radio buttons. Having a default, should it not be drone?
- Image type could be a drop down menu, with Drone imagery on top (the intended use).
- What is "Band combinations" for? I don't see explanation in the paper, just a brief mention in the technical guide.

[2021-06-30 09:14] jorgegil commented on #3346
Tool output:
- Difference between output file and existing vector data set unclear and not explained. Having two options is confusing.
- In the layers panel, the added vector layer should have the name given in the "Output vector filename" box, currently has no name.
- Existing vector layer could give the option to choose from an existing vector data set from the layers panel?
- vector output: why

[2021-06-30 09:16] jorgegil commented on #3346
Tool usability:
- Start button should not be active if basic conditions are not met, like having an output file name, or image type.
- Ideally there should be a toolbar for the red cross circle button, the class and the undo button. Going to the dialogue box next to start and finish for those actions is not intuitive

[2021-06-30 09:32] fabian-s commented on #3369
@jonjoncardoso @vc1492a @jankatins would any of you be willing to review this submission for JOSS?

 We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Thank you for considering this!

[2021-06-30 09:33] faroit commented on #3354
@whedon start review

[2021-06-30 09:33] whedon opened #3434 "[REVIEW]: Sync Toolbox: A Python Package for Efficient, Robust, and Accurate Music Synchronization"
**Submitting author:** @yiitozer (<a href="http://orcid.org/0000-0003-2235-8655">Yigitcan Özer</a>)
**Repository:** <a href="https://github.com/meinardmueller/synctoolbox" target ="_blank">https://github.com/meinardmueller/synctoolbox</a>
**Version:** 1.0.0
**Editor:** @faroit
**Reviewer:** @lutzhamel, @magdalenafuentes
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due t

[2021-06-30 09:33] whedon commented on #3354
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3434.

[2021-06-30 09:33] #3354 closed

[2021-06-30 09:33] whedon commented on #3434
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lutzhamel, @magdalenafuentes it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-06-30 09:33] whedon commented on #3434
PDF failed to compile for issue #3434 with the following error:
[code]

[2021-06-30 09:34] whedon commented on #3434
[code]

[2021-06-30 09:35] faroit commented on #3434
@whedon generate pdf from branch paper

[2021-06-30 09:35] whedon commented on #3434
[code]

[2021-06-30 09:35] whedon commented on #3434
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03434/joss.03434/10.21105.joss.03434.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03434/joss.03434/10.21105.joss.03434.pdf) :page_facing_up: :point_left:

[2021-06-30 09:36] faroit commented on #3434
👏 @lutzhamel @magdalenafuentes - This is the review thread for the paper. All of our communications will happen here from now on.

Both of you have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is

[2021-06-30 09:36] fabian-s commented on #3359
@dlebauer @KristinaRiemer @adithirgis --

would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Thank you for considering this!

[2021-06-30 09:57] spinicist commented on #3433
@wehdon generate pdf

[2021-06-30 09:57] spinicist commented on #3433
@whedon generate pdf

[2021-06-30 09:57] whedon commented on #3433
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03433/joss.03433/10.21105.joss.03433.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03433/joss.03433/10.21105.joss.03433.pdf) :page_facing_up: :point_left:

[2021-06-30 10:07] spinicist commented on #3433
@arfon Thanks, I have fixed the PDF. Any idea of the likely wait?

[2021-06-30 10:11] osorensen commented on #3328
@whedon assign @osorensen as editor

[2021-06-30 10:11] whedon commented on #3328
OK, the editor is @osorensen

[2021-06-30 10:11] osorensen commented on #3352
@whedon assign @osorensen as editor

[2021-06-30 10:12] whedon commented on #3352
OK, the editor is @osorensen

[2021-06-30 10:30] arfon commented on #3262
@whedon recommend-accept

☝️ @arokem – we have this dedicated command now for flagging submissions as ready to hand over to the EiC team.

[2021-06-30 10:30] whedon commented on #3262
[code]

[2021-06-30 10:30] whedon commented on #3262
PDF failed to compile for issue #3262 with the following error:
[code]

[2021-06-30 10:32] arfon commented on #3433
Likely a couple of weeks. We have a new editor joining who I think should be able to take this submission on.

[2021-06-30 10:33] arfon commented on #3352
@whedon clearly woke up with an improved attitude this morning 😆

[2021-06-30 10:48] arfon commented on #2845
@whedon accept deposit=true from branch josspaper

[2021-06-30 10:48] whedon commented on #2845
[code]

[2021-06-30 10:49] whedon commented on #2845
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1410188648608415755) 👈 🐦🐦🐦

[2021-06-30 10:49] whedon commented on #2845
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2424
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02845](https://doi.org/10.21105/joss.02845)
2. If everything look

[2021-06-30 10:49] arfon commented on #3262
@whedon recommend-accept from branch paper-joss

[2021-06-30 10:49] whedon commented on #3262
[code]

[2021-06-30 10:50] whedon commented on #3262
[code]

[2021-06-30 10:50] whedon commented on #3262
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2425

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2425, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-30 10:51] arfon commented on #3402
@whedon invite @dfm as editor

:wave: @dfm – would you be willing to edit this submission for JOSS?

[2021-06-30 10:51] whedon commented on #3402
@dfm has been invited to edit this submission.

[2021-06-30 10:54] arfon commented on #2845
@afeinstein20, @mrtommyb – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ekaterinailin – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-06-30 10:54] #2845 closed

[2021-06-30 10:54] whedon commented on #2845
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02845/status.svg)](https://doi.org/10.21105/joss.02845)

**We need your help!**

Journal of Open Source Softwa

[2021-06-30 10:55] magdalenafuentes commented on #3434
@faroit gotcha, will do!

[2021-06-30 10:55] arfon commented on #3427
@ClaudioZandonella - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-06-30 11:00] lutzhamel commented on #3434
@faroit same goes for me...

[2021-06-30 11:11] ekaterinailin commented on #2845
Thanks for wrapping it up so quickly, @arfon !

[2021-06-30 11:12] adithirgis commented on #3359
Hi @fabian-s,

Thanks for inviting, I can review this submission.

[2021-06-30 11:32] fabian-s commented on #3359
@whedon add @adithirgis as reviewer

[2021-06-30 11:32] whedon commented on #3359
OK, @adithirgis is now a reviewer

[2021-06-30 11:34] Eugenio2192 commented on #3203
The raised  issues have been solved, the package should be running properly now. Regarding the testing, Is just that a lot of the core functions do geographical operations from packages like geopandas, this can be very tricky to get running in the GitLab Runner, because they are based on libraries whose binaries have to be built or adquired outside of python. Long story short, I have been hitting

[2021-06-30 11:45] osorensen commented on #3352
@pfistfl, I am now the editor for this submission. If you have any suggestions for potential reviewers, please mention them in this thread (without the @).

[2021-06-30 11:48] osorensen commented on #3328
@wsarce, I am now the editor of this submission. If you have any suggestions for reviewers, please metion them in this thread (without the @).

[2021-06-30 11:49] Eugenio2192 commented on #3203
Also, I also highly recommend using the Binder instance for running the Notebooks for functionality tests, the setup takes some time the first time but once there is a running image it works with little issues:  https://mybinder.org/v2/gl/dlr-ve%2Fautumn/HEAD?filepath=notebooks%2FDemostration.ipynb  (You might get an issue with key validations, it can be solved by simply restarting the kernel)

[2021-06-30 12:14] grburgess commented on #3257
@warrickball Ok, Thanks to @cescalara , there is now another example in the docs as well as more complete doc strings. She has also now been added as a coauthor.

[2021-06-30 12:25] ajstewartlang commented on #3381
@whedon assign @nmstreethran as reviewer

[2021-06-30 12:25] whedon commented on #3381
OK, @nmstreethran is now a reviewer

[2021-06-30 12:28] spinicist commented on #3433
Great, thanks again.

[2021-06-30 12:35] Mkoopm commented on #3412
@whedon commands

[2021-06-30 12:35] whedon commented on #3412
Here are some things you can ask me to do:

[code]

[2021-06-30 12:36] Mkoopm commented on #3412
@whedon generate pdf

[2021-06-30 12:36] whedon commented on #3412
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03412/joss.03412/10.21105.joss.03412.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03412/joss.03412/10.21105.joss.03412.pdf) :page_facing_up: :point_left:

[2021-06-30 12:40] jorge-lip commented on #3295
@danielskatz Along these weeks we have put a lot of effort to address the recommendations and requests both in terms of the software itself and also in terms of improving the paper that indeed now starts to become very close to a full paper. At this point all the material and detailed information to decide if this work is suitable for publication is available. We are happy to perform further impro

[2021-06-30 12:44] danielskatz commented on #3295
@jorge-lip - the expectation for JOSS papers is that they will be improved via collaboration between the reviewers and the authors to the point where they can be published, unless there is an issue of scope, which I don't think it the case here.

On the other hand, a typical paper is fairly short, with most of the description of the software in the documentation (README, etc.), not in the paper. I

[2021-06-30 12:45] ajstewartlang commented on #3381
@whedon add @ibarraespinosa as reviewer

[2021-06-30 12:45] whedon commented on #3381
OK, @ibarraespinosa is now a reviewer

[2021-06-30 12:45] SunilAnandatheertha commented on #3190
@littlelazy6

In PXO, simulation of grain growth is carried out by using importance sampling Monte-Carlo (MC) schemes. Equivalent VT grain structures may also be produced. But, the equivalence is defined by the grain structure statistics as contained in the grain structure, as the grain structure evolves in the state-time space. The function of the codes for this, is to allow VT computation. Two t

[2021-06-30 12:47] ajstewartlang commented on #3381
Many thanks @nmstreethran and @ibarraespinosa for your speedy responses and agreeing to review this submission - it's very much appreciated. I'll open the review issue now...

[2021-06-30 12:47] ajstewartlang commented on #3381
@whedon start review

[2021-06-30 12:47] whedon opened #3435 "[REVIEW]: pollucheck v1.0: A package to explore open-source air pollution data"
**Submitting author:** @adithirugis (<a href="http://orcid.org/0000-0002-1764-1379">Adithi Upadhya</a>)
**Repository:** <a href="https://github.com/adithirgis/pollucheck" target ="_blank">https://github.com/adithirgis/pollucheck</a>
**Version:** 1.0.0
**Editor:** @ajstewartlang
**Reviewer:** @nmstreethran, @ibarraespinosa
**Archive:** <a href="https://doi.org/10.5281/zenodo.5128607" target="_blank

[2021-06-30 12:47] whedon commented on #3381
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3435.

[2021-06-30 12:47] #3381 closed

[2021-06-30 12:47] whedon commented on #3435
Failed to discover a `Statement of need` section in paper

[2021-06-30 12:47] whedon commented on #3435
[code]

[2021-06-30 12:47] whedon commented on #3435
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03435/joss.03435/10.21105.joss.03435.pdf) :page_facing_up: :point_left:

[2021-06-30 12:48] Nikoleta-v3 commented on #3403
:wave:  @MikeLydeamore &  @EduPH & @trashbirdecology & @wrathematics, I'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS?

The submission I'd like you to review is titled: "Computer algebra in R". You can find more information at the top of this Github issue, and as a reminder the guidelines can be found at https://joss.readthedocs.io/en/latest/review_cri

[2021-06-30 12:48] Nikoleta-v3 commented on #3382
@satejsoman  thank you again for your submission with JOSS, if you have not already done so, could you take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers 😄

[2021-06-30 12:49] SunilAnandatheertha commented on #3190
@littlelazy6

Initial texture can be defined in multiple ways.
1.	From assigning the EBSD acquired mean grain orientations to each grains by random sampling.
2.	From generating orientation samples for a give texture represented in MTEX.
3.	From generating a texture model in MTEX and then extracting the orientations from it.
These are included in a different repository and the relavant paper will b

[2021-06-30 12:55] bshoshany commented on #3291
Dear @zeroset, the relation between code size and effort with respect to this submission was previously discussed in the [pre-submission enquiry](https://github.com/openjournals/joss/issues/918). There, I explained that making the code as short as possible was an explicit design choice, in order for the thread pool to have the smallest memory footprint possible. That's not a bug, it's a feature th

[2021-06-30 12:56] EduPH commented on #3403
Yes, I am available :)

[2021-06-30 13:00] Nikoleta-v3 commented on #3403
Thank you @EduPH 😄 🙏🏻

[2021-06-30 13:00] Nikoleta-v3 commented on #3403
@whedon assign @EduPH as reviewer

[2021-06-30 13:00] whedon commented on #3403
OK, @EduPH is now a reviewer

[2021-06-30 13:13] SunilAnandatheertha commented on #3190
@ksyang2013 Paper has been updated accordingly. Tutorials has been added and the test case is retained (here: https://github.com/SunilAnandatheertha/PXO/wiki/Tutorials-and-test-cases)

[2021-06-30 13:25] nandaloo commented on #3395
@vissarion I update the bibliography file. For one of the papers there is not DOI available, but I added a link to the arXiv preprint version.

@crhea93 Thanks a lot! :-)

[2021-06-30 13:32] kbarnhart commented on #3407
@ncohn Thanks for your submission to JOSS. I’ve done an initial review of the software and consulted with the rest of the editorial board. Based on this initial review my decision is to reject the submission with a recommendation to resubmit after the following issues have been considered and addressed:

1. The software lacks documentation besides the text in the GUI itself. Documentation should b

[2021-06-30 13:33] kbarnhart commented on #3407
@openjournals/joss-eics: I've recommended that this submission be rejected.

[2021-06-30 13:43] jorge-lip commented on #3295
Many thanks for the clarifications, therefore assuming that the paper is in scope and since all software and documentation issues have been addressed, just let us know in this thread if there are additional points that you feel must still be corrected in the paper.

[2021-06-30 13:44] danielskatz commented on #3407
@whedon reject

[2021-06-30 13:44] whedon commented on #3407
Paper rejected.

[2021-06-30 13:44] #3407 closed

[2021-06-30 13:54] rrjbca commented on #3056
Thank you all again for your kind and constructive comments. As a result we have now revised the manuscript and made a number of improvements to the code and documentation. We address the specific points raised in your reviews below:

@rmorgan10
- In [PR #456](https://github.com/skypyproject/skypy/pull/456) we added a [Feature List](https://skypy.readthedocs.io/en/latest/feature_list.html) to the

[2021-06-30 13:55] rrjbca commented on #3056
@whedon generate pdf from branch joss-paper

[2021-06-30 13:55] whedon commented on #3056
[code]

[2021-06-30 13:55] whedon commented on #3056
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03056/joss.03056/10.21105.joss.03056.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03056/joss.03056/10.21105.joss.03056.pdf) :page_facing_up: :point_left:

[2021-06-30 13:55] fboehm commented on #3393
@IndrajeetPatil - I believe that @jakobbossek has been sent an invitation to participate in the review (as a Github issue). Perhaps he can confirm this.

[2021-06-30 13:57] pmeier commented on #3373
@jmschrei In general, yes. I don't have any experience with `tensorflow` or the `tfrecords` data / file format though. Any review that I could provide would be limited to how the API of `datum` wraps these two. Maybe @n3011 can give some context if that would be enough.

[2021-06-30 14:00] fboehm commented on #3417
Thanks so much, @erik-whiting!

[2021-06-30 14:05] fverdugo commented on #3349
Hi @jkrumbiegel @Kevin-Mattheus-Moerman  ! find my review below 👇 There are some rather small issues marked with **TODO**. @jkrumbiegel please fix (or clarify) them and I'll update my review accordingly.

## Review

Yes, source code available at https://github.com/JuliaPlots/Makie.jl

MIT license file available at https://github.com/JuliaPlots/Makie.jl/blob/master/LICENSE.md

@SimonDanish (with +2

[2021-06-30 14:14] SimonDanisch commented on #3349
Good point... Test are supposed to mainly run in the CI, so the local setup has been bitrotting. Should be easy to fix, although a bit annoying with the current monorepo setup...

That's a good idea in general.. I hope we can find some time in the next days to add those.

[2021-06-30 14:21] vc1492a commented on #3369
@fabian-s thanks for reaching out! I am afraid my R language experience these days is pretty limited (although it used to be much better), and think another reviewer may be better positioned to do a thorough review on this one. Good luck!

[2021-06-30 14:31] jonjoncardoso commented on #3369
Hi @fabian-s, yes I'm happy to review this submission. The only thing is I will only be able to properly review it from Wednesday next week onwards if that is okay. Not sure if there is a deadline here for reviewers.

[2021-06-30 14:39] rmorgan10 commented on #3056
@arfon @rrjbca This looks great to me; all my suggestions have been implemented and I've checked all the boxes above for my portion of the review. Congratulations on the great effort that is SkyPy.

[2021-06-30 15:00] bshoshany commented on #3291
My bad, I should have mentioned it earlier!

[2021-06-30 15:08] zeroset commented on #3291
@bshoshany could you provide the code for the performance tests you mention in the readme? If you don't mind i could provide you the performance results on ARM based machine.

[2021-06-30 15:50] amandadumi commented on #3316
@jedbrown This work looks really interesting, however, I do not believe that I am familiar enough with the material to offer an effective review. If no one else can do it, I would reconsider because it is an interesting topic I'd like to learn about, but there may be a better option.

[2021-06-30 15:54] shivupa commented on #3316
Sorry for the delay. I'm in the same boat. Spin systems aren't my forte but this looks super interesting. If others can't do it, I'd also be happy to help.

[2021-06-30 16:42] elimillera commented on #3359
Hello @fabian-s ,

I am able to review. Thanks!

[2021-06-30 16:47] jmschrei commented on #3373
Personally, I think that it would be valuable to get feedback from someone outside the immediate use-case (i.e., tensorflow/tfrecords) as long as it's from someone in the general area (deep learning in Python). But yes, @n3011 do you think that @pmeier would have sufficient expertise to review this?

[2021-06-30 16:49] richardjgowers commented on #3301
@whedon add @nicoguaro as reviewer

[2021-06-30 16:49] whedon commented on #3301
OK, @nicoguaro is now a reviewer

[2021-06-30 16:59] pmeier commented on #3373
To give a little more context, I am the maintainer of [PyTorch's vision datasets](https://github.com/pytorch/vision). Thus, if no specific knowledge about `tensorflow` / `tfrecords` is required, I'm confident I can provide good feedback.

[2021-06-30 17:00] richardjgowers commented on #3301
@Shibabrat I'm trying a few more people to try and get a second reviewer for this, thanks for your patience.

[2021-06-30 17:04] phamvanvung commented on #3384
I tested the software on:
macOS (Big Sur), conda 4.10.2 environment.
All the installation instructions work well.

There is an automated test, and I tried executing the test. Many cases showed "PASSED" status, but there are still some errors shown (this might be due to the version compatibility from my environment):
E.g.:
fury/tests/test_pick.py::test_picking_manager Fatal Python error: Segmentati

[2021-06-30 17:29] danielskatz commented on #3384
Thanks @phamvanvung  - as much as possible, can you edit your comment above to make it clear where you think something needs to be fixed/changed before publication, and where things are suggested improvements that don't block you from checking off review criteria?  Given that I think you've checked off all the review criteria, I assume none of your comments are blockers, correct?

And it any items

[2021-06-30 17:36] n3011 commented on #3373
@jmschrei  This project is developed specifically for TensorFlow developers. A reviewer with experience in Tensorflow would have been nice.  It solves some teething issues related to creating and loading tfrecords files.
@pmeier Just to give some context, Tensorflow uses the tfrecord format to store dataset samples in binary protocol buffer format, which reduces read overheads when dealing with th

[2021-06-30 17:41] vyasr commented on #3098
@evetion thanks for the review! Apologies for the slow response, I'm in the middle of a few things but will get back to you ASAP. It looks like one of my coauthors already helped to start addressing your issues.

Regarding how I found you, you're on [the list of potential JOSS reviewers](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822). I know

[2021-06-30 17:48] kellieotto commented on #3253
Hi @jbytecode @koaning, I don't currently have bandwidth to review this.

[2021-06-30 18:12] gkthiruvathukal commented on #3291
Thanks, @zeroset. Yes, just to clarify, I was one of the editors who advocated for this submission to be considered. While we have guidelines, submissions are always considered based on intellectual merit and their potential to advance research software.Having worked on lightweight libraries/frameworks for concurrency and threading myself, I saw significant merit in reviewing this submission.

So

[2021-06-30 18:17] adi3 commented on #3321
@whedon assign @adi3 as editor

[2021-06-30 18:17] whedon commented on #3321
OK, the editor is @adi3

[2021-06-30 18:18] adi3 commented on #3320
@whedon assign @adi3 as editor

[2021-06-30 18:18] whedon commented on #3320
OK, the editor is @adi3

[2021-06-30 18:18] adi3 commented on #3367
@whedon assign @adi3 as editor

[2021-06-30 18:18] whedon commented on #3367
OK, the editor is @adi3

[2021-06-30 18:21] danielskatz commented on #3351
👋 @tresoldi - How are things going with your review?

[2021-06-30 18:22] matthewfeickert commented on #3174
@mbobra @kelseymh @gerudo7 @villaa Just coming back to this before my July gets consumed by conferences. Can we have an update on the status of everything?

It seems from glancing at the project that planned revisions (which look good in terms of scope) have slowed and at the moment we only have my review (no blame or shame meant here &mdash; life happens and this year is a very exhausting one for

[2021-06-30 18:25] danielskatz commented on #3295
👋 @mviereck - To try to wrap this up, can you be specific about the changes you want to see to finish checking off the items in your review list?  Perhaps as bullets or as new issues in the source repo?

Of course, this is in addition to https://github.com/indigo-dc/udocker/issues/312, where it looks like @jorge-lip still needs to respond.

[2021-06-30 18:27] adi3 commented on #3321
Hi @AP6YC, I will be the editor for this paper.

To get things going, could you please suggest 5-6 reviewers from [this](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) list that you consider appropriate to vet this paper? While selecting, you should confirm that the domain expertise of the reviewer matches the subject matter of your paper an

[2021-06-30 18:29] adi3 commented on #3320
@AP6YC - Looks like I got two papers from you! Same instructions as before :)

To get things going, could you please suggest 5-6 reviewers from [this](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) list that you consider appropriate to vet this paper? While selecting, you should confirm that the domain expertise of the reviewer matches the s

[2021-06-30 18:29] adi3 commented on #3367
Hi @heath-henninger, I will be the editor for this paper.

To get things going, could you please suggest 5-6 reviewers from [this](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) list that you consider appropriate to vet this paper? While selecting, you should confirm that the domain expertise of the reviewer matches the subject matter of you

[2021-06-30 18:31] danielskatz commented on #3413
👋 @seschaub - We're going to reject this submission for a couple of reasons:
1. There is no paper - see https://joss.readthedocs.io/en/latest/submitting.html#typical-paper-submission-flow
2. The work does not appear to meet the [JOSS Substantial scholarly effort criteria](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) - it's quite small and only has a small num

[2021-06-30 18:31] danielskatz commented on #3413
@whedon reject

[2021-06-30 18:31] whedon commented on #3413
Paper rejected.

[2021-06-30 18:31] #3413 closed

[2021-06-30 19:39] gouarin commented on #2555
@eloisabentivegna I finished checking the list.

But I didn't find a documentation of the API and the flexibility in the article is just before permissive licensing which means it's the software and not the license that is flexible. And I still not understand why gLBM is flexible.

I also regret that no lattice Boltzmann scheme was mentioned. It would enhance the article.

[2021-06-30 19:42] heath-henninger commented on #3367
Already included this a few posts prior.  I even had you as a great fit for review!  Possible reviewers for Javascript motion analysis/biomechanics/robotics applications.

Great fit of language and domains:
mosteo
adi3 (if you really want to :-)
jizecn
destogl
CameronDevine
akuederle
nnadeau

OK fit of language and domains:
dhrubajyoti98
thelinuxmaniac
dglmoore
sixpearls
ixjlyons
malmaud
Jgoldfar

[2021-06-30 19:51] mviereck commented on #3295
@danielskatz  Basically this one question brings it to the point:

As long as this cannot be answered, there is no obvious need for a new paper and I cannot check of "substantial scholary effort".

Other remaining points in the checklist I just  have to work through. If I find issues there, I'll open new tickets.

[2021-06-30 19:58] nikunjragh commented on #3364
Hi @vissarion - Just seeing JOSS for the first time and this is a brilliant effort; I am very tied up currently but Drew Allen (@drewbitllama) could be a great fit for reviewing this.

[2021-06-30 19:59] jorge-lip commented on #3295
From our point of view yes version 1.3.0 is largely different from 1.1.0. These differences and new developments are described in the paper in section "Developments since 1.1.1".

[2021-06-30 20:06] danielskatz commented on #3295
Please note that the [discussion about this in the JOSS documentation](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) says:

Along with the comment from @jorge-lip in the comment above this one.  I think the work since the previous paper meets these factors, but if you don't, let's talk about which factors you think are the problem. (And note that this is not a

[2021-06-30 20:15] adi3 commented on #3367
@heath-henninger Missed that, thank you! Let me try finding a couple of other reviewers and if we are unable to do so, I'll be happy to act as one of the reviewers as well

[2021-06-30 20:16] david-barnett commented on #3201
Great! 🙂 and thank you all so much for volunteering your time

@lpantano here is the latest tagged release and the Zenodo archive, I hope this is all in order
https://github.com/david-barnett/microViz/releases/tag/0.7.9
https://doi.org/10.5281/zenodo.5048013

[2021-06-30 20:16] adi3 commented on #3367
@mosteo @jizecn @destogl @CameronDevine @akuederle @nnadeau - Would any of you be interested in reviewing this paper? I'd greatly appreciate your help!

[2021-06-30 20:18] villaa commented on #3174
@mbobra @matthewfeickert I would prefer this review continue. It's true that we've slowed but we have a plan to submit the upgrades based on the feedback received so far and have not heard from the second reviewer at all.

On our side, we are willing to stick with this review even if it pushes into August. I would appreciate if @matthewfeickert is suggesting that their time would be restricted unt

[2021-06-30 20:32] whedon opened #3436 "[PRE REVIEW]: PyVOLCANS: A Python package to flexibly explore similarities and differences between volcanic systems"
**Submitting author:** @PTierz (<a href="http://orcid.org/0000-0001-8889-9900">Pablo Tierz Lopez</a>)
**Repository:** <a href="https://github.com/BritishGeologicalSurvey/pyvolcans" target ="_blank">https://github.com/BritishGeologicalSurvey/pyvolcans</a>
**Version:** v1.1.2
**Editor:** @elbeejay
**Reviewers:** @jifarquharson, @meghanrjones
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced se

[2021-06-30 20:33] whedon commented on #3436
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-30 20:33] whedon commented on #3436
[code]

[2021-06-30 20:33] whedon commented on #3436
PDF failed to compile for issue #3436 with the following error:
[code]

[2021-06-30 20:36] arfon commented on #3436
@whedon generate pdf from branch JOSS_paper

[2021-06-30 20:36] whedon commented on #3436
[code]

[2021-06-30 20:36] whedon commented on #3436
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03436/joss.03436/10.21105.joss.03436.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03436/joss.03436/10.21105.joss.03436.pdf) :page_facing_up: :point_left:

[2021-06-30 20:38] arfon commented on #3436
@whedon invite @elbeejay as editor

:wave: @elbeejay – would you be willing to edit this submission for us?

[2021-06-30 20:38] whedon commented on #3436
@elbeejay has been invited to edit this submission.

[2021-06-30 20:47] elbeejay commented on #3436
@whedon assign me as editor

[2021-06-30 20:47] whedon commented on #3436
OK, the editor is @elbeejay

[2021-06-30 20:53] cpalenzuela commented on #3336
@eloisabentivegna sorry, I was busy until today with some visitors. I started to download and compile the code, but I am not familiar with github so I am slowly getting there

[2021-06-30 20:56] CameronDevine commented on #3367
I am working to finish up my PhD, so I will have to pass on this one.

[2021-06-30 21:20] mbobra commented on #3174
👋 @kelseymh Please let me know how your review is going. Do you need any help?

[2021-06-30 21:35] mbobra commented on #3174
I understand both of your concerns. On one hand, @matthewfeickert has provided an inordinate amount of constructive feedback, on his own volunteer time, for a period of months. This is more time than we at JOSS want to ask of our reviewers. On the other hand, @villaa have made progress and worked to improve the code.

So I am going to pause the review. This gives the submitting authors time to imp

[2021-06-30 21:36] villaa commented on #3174
@matthewfeickert another possibility is that we can commit to having all of your comments fully addressed by the end of July and then you can finish the review out when you're back. Does that work?

[2021-06-30 22:57] HeloiseS commented on #3257
Hello!

Sorry for the delay. So much progress we're nearly there.

**Sidenote:** I am having issues with the website slowing my browser down significantly and freezing it - I think it might be the fancy 3D plots. I would recommend making the interactive plot an optional thing in a jupyter notebook somewhere else and instead having a static 3D plot maybe viewed from different angles to illustrate t

[2021-06-30 23:23] MikeLydeamore commented on #3403
I am also available.

[2021-07-01 01:57] bshoshany commented on #3291
Sure, I'd love to be able to add results for additional architectures! The code for the performance tests is in [the repository for my multithreaded matrix class template](https://github.com/bshoshany/multithreaded-matrix). I just updated it with the latest version of that template and the test code. For the tests of the thread pool I took the optional third argument of `measure_operations()` to b

[2021-07-01 02:06] gkthiruvathukal commented on #3291
@bshoshany From my point of view, I would at least like to see the beginning of unit tests in place, even if there is not 100% coverage. I think unit testing is a necessity for all code, but especially for C/C++ libraries and frameworks. I've been using GoogleTest in my advanced systems programming course, and it's really good (and surprisingly easy to use once you have things set up right). If yo

[2021-07-01 02:29] ashleychontos commented on #3331
@mbobra apologies in advance since this is all of our (the authors) first time preparing anything like this. First and foremost, what is the most appropriate way to address and comment on either/both of the reviews (similar to a resubmission with AAS)? Following are comments from the reviews that we could use some clarification on before proceeding.

1. Re: the unit test. The scope of unit tests i

[2021-07-01 02:34] benjaminpope commented on #3331
@ashleychontos thanks! So as a gold standard example, @dfm did this for the `exoplanet` review: https://github.com/openjournals/joss-reviews/issues/3285#issuecomment-859043010, in which he links to some GitHub Issues that resolve each of the reviews as a checklist. So you might like to create a checklist, in which you respond point by point to each of the reviews, or you might like to create a sep

[2021-07-01 02:39] danhey commented on #3331
Agree with @benjaminpope. I also think a good unit test for GitHub Actions would be to just simply run pySYD on a test star for which numax and dnu is well known, and assert that the output of the pipeline is `np.isclose()` to what you expect. This means that if you make some changes to the code, you will instantly see if the new output is significantly different, and the test will fail.

[2021-07-01 03:00] ashleychontos commented on #3331
Thank you both @benjaminpope and @danhey again for such quick and helpful responses! I will follow Ben's suggestion and open up a separate pull request for each review and update those accordingly.

[2021-07-01 03:42] szkafander commented on #3395
@vissarion I completed the review. The software works as intended. As far as I can tell, it indeed fills a gap in the probabilistic modeling field. Installation works. The backend often fails on Windows due to a concurrency bug, but works OK on other systems; nevertheless, this is not directly related to Lumen. The references are not rendered in the paper, but that should be easy to fix. Overall v

[2021-07-01 04:23] zeroset commented on #3291
I think at least some tests are necessary for a software publication. @gkthiruvathukal posted a good start on that one. If you don't want to use googletest you could also have a look at [Catch2](https://github.com/catchorg/Catch2).
For the Performance measurement i would like to see the benchmark script in the repository as well. Without it, the performance results are neither reproducible nor rea

[2021-07-01 04:42] arfon commented on #3056
Great, thanks for the update @rrjbca!

@cescalara – could I ask that you come and take another look at this submission to see if you're able to check off the final checkboxes here?

[2021-07-01 04:43] arfon commented on #3056
Yes please. A new release would be great.

I'm not sure sorry. Once we're a little closer to publishing, I'll download the paper locally and see if there's something I can do to fix this.

[2021-07-01 04:48] arfon commented on #3262
@whedon accept deposit=true from branch paper-joss

[2021-07-01 04:48] whedon commented on #3262
[code]

[2021-07-01 04:49] whedon commented on #3262
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1410460516196229125) 👈 🐦🐦🐦

[2021-07-01 04:49] whedon commented on #3262
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2426
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03262](https://doi.org/10.21105/joss.03262)
2. If everything look

[2021-07-01 04:55] arfon commented on #3262
@szorowi1, @jkanche – many thanks for your reviews here and to @arokem for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@yarikoptic – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-07-01 04:55] #3262 closed

[2021-07-01 04:55] whedon commented on #3262
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03262/status.svg)](https://doi.org/10.21105/joss.03262)

**We need your help!**

Journal of Open Source Softwa

[2021-07-01 05:00] arfon commented on #3317
@whedon assign me as editor

[2021-07-01 05:00] whedon commented on #3317
OK, the editor is @arfon

[2021-07-01 05:01] arfon commented on #3317
:wave: @phoebe-p – could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-07-01 05:57] matthewfeickert commented on #3174
Thanks @mbobra &mdash; this all sounds reasonable to me. :+1:

@villaa @gerudo7 Sure. I'm not going to ask you to commit to a timeline here as I know the summer is a very busy time for everyone. So whenever things are at a state that you're happy with on your side please just ping @mbobra and me here and we'll be quite happy to resume then. :+1: I'm now marking this Issue as "Done" in my GitHub no

[2021-07-01 06:48] fabian-s commented on #3359
@whedon add @elimillera as reviewer

[2021-07-01 06:48] whedon commented on #3359
OK, @elimillera is now a reviewer

[2021-07-01 06:49] fabian-s commented on #3359
@whedon start review

[2021-07-01 06:49] whedon opened #3437 "[REVIEW]: grapesAgri1-Collection of shiny applications for data analysis in Agriculture-Part 1"
**Submitting author:** @pratheesh3780 (<a href="http://orcid.org/0000-0003-3290-0436">Pratheesh P Gopinath</a>)
**Repository:** <a href="https://github.com/pratheesh3780/grapesAgri1" target ="_blank">https://github.com/pratheesh3780/grapesAgri1</a>
**Version:** v1.0.0
**Editor:** @fabian-s
**Reviewer:** @adithirgis, @elimillera
**Archive:** <a href="https://doi.org/10.5281/zenodo.5106216" target="

[2021-07-01 06:49] whedon commented on #3359
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3437.

[2021-07-01 06:49] #3359 closed

[2021-07-01 06:49] whedon commented on #3437
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @adithirgis, @elimillera it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-07-01 06:50] whedon commented on #3437
Failed to discover a `Statement of need` section in paper

[2021-07-01 06:50] whedon commented on #3437
[code]

[2021-07-01 06:50] whedon commented on #3437
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03437/joss.03437/10.21105.joss.03437.pdf) :page_facing_up: :point_left:

[2021-07-01 06:50] whedon commented on #3437
[code]

[2021-07-01 06:56] nandaloo commented on #3395
@szkafander Thank you so much for your effort, in particular trying it out on multiple systems. regarding the references: I just test-compiled the paper with https://whedon.theoj.org/ - which did work and render the references correctly.

[2021-07-01 06:56] nandaloo commented on #3395
@whedon generate pdf

[2021-07-01 06:57] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-07-01 07:00] fabian-s commented on #3369
@vc1492a sure, thanks for the quick response.

@jonjoncardoso, thanks for taking this on!
starting next week is perfectly fine, first we need to find more reviewers anyway.

[2021-07-01 07:01] fabian-s commented on #3369
@whedon add @jonjoncardoso as reviewer

[2021-07-01 07:01] whedon commented on #3369
OK, @jonjoncardoso is now a reviewer

[2021-07-01 07:09] fabian-s commented on #3369
@whedon remind @fabian-s in 2 days

[2021-07-01 07:09] whedon commented on #3369
Sorry, I can't set reminders on PRE-REVIEW issues.

[2021-07-01 07:13] cescalara commented on #3056
Hi, great to see all the updates - I need a little more time to go through them all but I'll be in touch within the next week. Thanks for your patience.

[2021-07-01 07:20] expectopatronum commented on #3326
This is a more general question about how to understand "Substantial scholarly effort". If I would follow the list [here](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort), I would have to say no because:

"positive" answers:
-     **Total lines of code (LOC). Submissions under 1000 LOC will usually be flagged, those under 300 LOC will be desk rejected.:** many :)

[2021-07-01 07:42] tomazbregar commented on #3399
Thank you @kyleniemeyer for your remark regarding the missing DOIs, we updated the references.

[2021-07-01 07:43] tomazbregar commented on #3399
@whedon generate pdf

[2021-07-01 07:43] whedon commented on #3399
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03399/joss.03399/10.21105.joss.03399.pdf) :page_facing_up: :point_left:

[2021-07-01 07:50] fabian-s commented on #3369
@briatte would you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Thank you for considering this!

[2021-07-01 08:08] Nikoleta-v3 commented on #3403
@whedon add @MikeLydeamore as reviewer

[2021-07-01 08:08] whedon commented on #3403
OK, @MikeLydeamore is now a reviewer

[2021-07-01 08:10] Nikoleta-v3 commented on #3403
@whedon start review

[2021-07-01 08:10] whedon opened #3438 "[REVIEW]: caracas: Computer algebra in R"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/r-cas/caracas" target ="_blank">https://github.com/r-cas/caracas</a>
**Version:** v1.1.1
**Editor:** @Nikoleta-v3
**Reviewer:** @EduPH, @MikeLydeamore
**Archive:** <a href="https://doi.org/10.5281/zenodo.5070324" target="_blank">10.5281/zenodo.507032

[2021-07-01 08:10] whedon commented on #3403
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3438.

[2021-07-01 08:10] #3403 closed

[2021-07-01 08:10] whedon commented on #3438
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @EduPH, @MikeLydeamore it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-07-01 08:10] whedon commented on #3438
[code]

[2021-07-01 08:10] whedon commented on #3438
[code]

[2021-07-01 08:11] whedon commented on #3438
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03438/joss.03438/10.21105.joss.03438.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03438/joss.03438/10.21105.joss.03438.pdf) :page_facing_up: :point_left:

[2021-07-01 08:14] Nikoleta-v3 commented on #3403
@EduPH and @MikeLydeamore thank you again both for agreeing to review!

The review will now be taking place on #3438, there are details there with next steps but please ping me if I can answer any questions you might have.

[2021-07-01 08:21] expectopatronum commented on #3326
I created [an issue](https://github.com/meinardmueller/libfmp/issues) for almost all the things I noticed. There are two other things that I am not sure about and might be interesting to discuss with the other reviewer or the editor:

* The "Statement of Need" in the paper is quite long. From the sentence starting at line 58 onward it feels more like a description of the actual package rather than

[2021-07-01 08:24] justinshenk commented on #3202
Thanks for the clarification @jni. I tagged v0.2.9 (https://github.com/traja-team/traja/releases/tag/v0.2.9). Please let me know if anything else is missing.

[2021-07-01 08:36] mosteo commented on #3367
I'm unfortunately fully booked for the foreseeable future, my apologies.

[2021-07-01 08:42] adithirgis commented on #3437
Started review here - https://github.com/pratheesh3780/grapesAgri1/issues/1

[2021-07-01 09:00] fzalkow commented on #3326
Many thanks for the thorough review process. I just want to clarify two of the mentioned points.

Age of software: The development of libfmp went hand in hand with developing the [FMP notebooks](https://www.audiolabs-erlangen.de/resources/MIR/FMP/C0/C0.html), which have been developed internally before releasing libfmp on GitHub. This development process preceded the first GitHub release by a few

[2021-07-01 09:10] cpalenzuela commented on #3336
@eloisabentivegna I cannot edit my review checklist . I made sure I am logged in, but in the step 2 (Be sure to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations) I got the following error message "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

[2021-07-01 09:11] expectopatronum commented on #3326
That's what I assumed! (and also doesn't have an impact on my review) The first comment was more of a question for the editor, since it is not clear to me what is expected from me for answering the "Substantial scholarly effort" question, although I am inclined to answer it with yes.

Thanks for the clarification, makes sense!

If you can take care of the minor issues I raised [here](https://githu

[2021-07-01 09:50] sap218 commented on #3302
@majensen Yep! I can review! (if you could send me a set of reviewer guidelines to follow - that would be great!)

[2021-07-01 10:19] sylvaticus commented on #3430
**Sylvaticus review**

The software follows the Julia standards for registered packages: it is easy to install, it has a clear licence, the methods are documented, and an extensive testing system covers much of the software.
I have a few minor/specific points concerning the documentation, the API and the JOSS paper in the sections that follows.

I have also two more general comments.

The first on

[2021-07-01 11:21] phoebe-p commented on #3317
Hi @arfon, my suggestions:
- @dalonsoa would be very suitable, but we have worked together on another software package related to RayFlare and he is also in the paper's acknowledgements (though he did not specifically help with the code for RayFlare), so perhaps this disqualifies him as a reviewer
- brandondube
- alvesjnr
- dsryberg
- samuelduchesne
- ivergara

[2021-07-01 11:22] tystan commented on #2694
Hi @wesleyburr. Making my way through the reviewer checklist. I have found issues with the [sample workflow](https://wesleyburr.github.io/subMaldi/articles/subMALDI_workflow.html) and the [Processing with subMALDI vignette](https://wesleyburr.github.io/subMaldi/articles/subMALDIprocessing.html) that I have mentioned under "Functionality" of the review [here](https://github.com/wesleyburr/subMaldi/

[2021-07-01 12:12] maxscheurer commented on #3316
Sorry for the late reply. I don't think I have enough expertise on this topic to review the paper...

[2021-07-01 12:39] danielskatz commented on #3336
@whedon re-invite @cpalenzuela as reviewer

the invitations expire after 14 days...

[2021-07-01 12:39] whedon commented on #3336
OK, the reviewer has been re-invited.

@cpalenzuela please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-07-01 12:53] elbeejay commented on #3436
Hello @PTierz, thanks for your submission to JOSS. I applaud you and your co-authors on porting your MATLAB code to Python in an effort to make VOLCANS fully open-access. I have a few questions during this pre-review stage of the JOSS process:

1. In the project `README.md` it is [mentioned](https://github.com/BritishGeologicalSurvey/pyvolcans#analogy-matrices) that there are plans to convert the

[2021-07-01 13:08] EleonoraVagnoni commented on #3270
Sorry, can you give me more info regarding how to go to the home directory and create a .bashrc file?

[2021-07-01 13:09] NathHorrigan commented on #3270
HI @EleonoraVagnoni,

What part of the setup is this for & What OS do you use?

[2021-07-01 13:12] EleonoraVagnoni commented on #3270
I have downloaded Android SDK, I am using a MacOs Big Sur

[2021-07-01 13:18] NathHorrigan commented on #3270
In the terminal if you run:
`touch ~/.bashrc && open ~/.bashrc`

and then paste the code from the Guide that I linked.

[2021-07-01 13:18] NathHorrigan commented on #3270
I hope this helps @EleonoraVagnoni

[2021-07-01 13:19] EleonoraVagnoni commented on #3270
it does! thank you very much

[2021-07-01 13:23] vissarion commented on #3395
@whedon remove @szkafander as reviewer

[2021-07-01 13:23] whedon commented on #3395
OK, @szkafander is no longer a reviewer

[2021-07-01 13:24] vissarion commented on #3395
@whedon add @szkafander as reviewer

[2021-07-01 13:24] whedon commented on #3395
OK, @szkafander is now a reviewer

[2021-07-01 13:24] vissarion commented on #3395
@whedon generate pdf

[2021-07-01 13:24] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-07-01 13:26] vissarion commented on #3395
@whedon remove @szkafander as reviewer

[2021-07-01 13:27] whedon commented on #3395
OK, @szkafander is no longer a reviewer

[2021-07-01 13:27] vissarion commented on #3395
@whedon generate pdf

[2021-07-01 13:27] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-07-01 13:28] vissarion commented on #3395
@whedon add @szkafander as reviewer

[2021-07-01 13:28] whedon commented on #3395
OK, @szkafander is now a reviewer

[2021-07-01 13:34] vissarion commented on #3395
There is an issue with szkafander that appear twice in the paper as reviewer. I will try to find a solution.

In the meantime @nandaloo could you please make a tagged release and report the number. Also please create an archive (e.g. in zenodo) and report the DOI and link here. The archive should have the same title and the same list of authors as the paper.

[2021-07-01 13:36] EleonoraVagnoni commented on #3270
when I copy and paste react-native init RNEdpresso in the integrated terminal of VS code I receive a message that the command is not found, what am I doing wrong?

[2021-07-01 13:37] vissarion commented on #3395
@whedon generate pdf

[2021-07-01 13:38] whedon commented on #3395
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03395/joss.03395/10.21105.joss.03395.pdf) :page_facing_up: :point_left:

[2021-07-01 13:41] salleuska commented on #3266
Hi @drvinceknight sorry for the late reply, I have been offline a few days. I think I'll have to pass on this, as I am not much confident with the methods!

[2021-07-01 13:51] scarlehoff commented on #3371
What does the "assistance to review" entails? I'm a bit busy but I think could make some time for this as it looks interesting.

[2021-07-01 14:09] seabbs commented on #3290
@whedon generate pdf

Thanks @csoneson (standing in briefly for @joseph-palmer). I think we have dealt with the outstanding issues 😄.

Version tag: `0.9.2`
Tagged release: https://github.com/epiforecasts/covidregionaldata/releases/tag/0.9.2
Archived DOI: 10.5281/zenodo.5055487
- [x] Check metadata
- [x] Fixed Zenodo reference in paper.

[2021-07-01 14:10] whedon commented on #3290
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03290/joss.03290/10.21105.joss.03290.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03290/joss.03290/10.21105.joss.03290.pdf) :page_facing_up: :point_left:

[2021-07-01 14:42] jbytecode commented on #3371
@whedon add @scarlehoff as reviewer

Dear @scarlehoff , Thank you very much! The review process of JOSS is unique. Whenever we assign the reviewers, a new issue will be created. There will be twenty checkbox items will guide you. Whole the process is interactive between editors, reviewers, and the authors. Here is the reviewing guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.

[2021-07-01 14:42] whedon commented on #3371
OK, @scarlehoff is now a reviewer

[2021-07-01 14:44] jbytecode commented on #3371
Dear @scarlehoff and @felipefr

You are the assigned reviewers of this submission. The reviewing process will start in a new issue. I will ping you in the new thread, soon!

Thank you!

[2021-07-01 14:45] jbytecode commented on #3371
@whedon start review

[2021-07-01 14:45] whedon opened #3439 "[REVIEW]: torchquad: Numerical Integration in Arbitrary Dimensions with PyTorch"
**Submitting author:** @gomezzz (<a href="http://orcid.org/0000-0002-5631-8240">Pablo Gómez</a>)
**Repository:** <a href="https://github.com/esa/torchquad/" target ="_blank">https://github.com/esa/torchquad/</a>
**Version:** v0.2.4
**Editor:** @jbytecode
**Reviewer:** @felipefr, @scarlehoff
**Archive:** <a href="https://doi.org/10.5281/zenodo.5344938" target="_blank">10.5281/zenodo.5344938</a>

**

[2021-07-01 14:45] whedon commented on #3371
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3439.

[2021-07-01 14:45] whedon commented on #3439
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @felipefr, @scarlehoff it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-07-01 14:45] #3371 closed

[2021-07-01 14:45] whedon commented on #3439
[code]

[2021-07-01 14:45] whedon commented on #3439
[code]

[2021-07-01 14:45] whedon commented on #3439
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03439/joss.03439/10.21105.joss.03439.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03439/joss.03439/10.21105.joss.03439.pdf) :page_facing_up: :point_left:

[2021-07-01 14:50] jbytecode commented on #3439
Dear @felipefr and @scarlehoff,

This is the review issue for the submission. There are 20 checkbox items for each viewer. Please check the boxes during your review and make comments here. Since the review process is continuous rather than discrete, you can comment minor changes during the process so the authors can add/delete/correct changes simultaneously. You can also open new issues in the sub

[2021-07-01 14:55] jni commented on #3202
@justinshenk hmm, looks like the new version didn't get picked up by Zenodo... Do you know why? Does it need to go out to PyPI? I always forget exactly how it works with Zenodo... Either way we need a DOI corresponding to this new version.

[2021-07-01 15:00] NathHorrigan commented on #3270
Ah sorry, You don't need to do that step.
You should be able run `npm i && npm start` in the project repo now.

[2021-07-01 15:35] justinshenk commented on #3202
I had been manually creating releases in Zenodo. Thanks to your suggestion, I found the easier way with GitHub integration. Now v0.2.9 should be picked up. But Zenodo is currently down :\. Hopefully you can see it by the time you look.

[2021-07-01 15:36] giswqs commented on #3414
@ajstewartlang I noticed TomasBeuzen is listed twice under the Reviewers section in the PDF. Is it possible to correct this?

![](https://i.imgur.com/jab7kog.png)

[2021-07-01 15:40] danielskatz commented on #3414
👋 @ajstewartlang - FYI, this is because in https://github.com/openjournals/joss-reviews/issues/3396 you both assigned him and then added him - you only need to do one of these: typically, use assign for the first reviewer, and then add for any subsequent ones.  You can probably use `@whedon remove @TomasBeuzen as reviewer` to remove one of the duplicates here, then regenerate the PDF.  Let me know

[2021-07-01 16:14] yarikoptic commented on #3262
Thank you @arfon @szorowi1, @jkanche and the last but not least @arokem for making this mundane Thursday a "once in a life time" special occasion ;)
The idea for the "DataLad paper" was painful (we exercised a number of concepts to pursue), and the goals, format and structure of JOSS publication and review process helped us tremendously to finally make it happen!

FWIW, if might come handy for som

[2021-07-01 17:08] kellyrowland commented on #3212
Hi @nick-gauthier @mikejohnson51 @potterzot - would one of you be available and willing to review this paper for JOSS?

[2021-07-01 18:03] ArtVoro commented on #3325
Update about the tasks:

- reworked the installation instructions
- added code coverage
- added CI via github actions: build gromacs -> build python package -> run tests -> update documentation
  (build and tests are performed on ubuntu & mac)
- reworked example jupyter notebooks
- added a quick guide to online documentation (https://kit-mbs.github.io/pyrexMD/quick_guide.html)

Todo:

- tasks rela

[2021-07-01 18:28] ArtVoro commented on #3325
A few notes:
- The package was private until the JOSS submission so obviously there are no citations about the software. However I am submitting a paper within the next month where I explicitly call the name of the software.
- I intend to upload the package to PyPI but will wait until the end of this review because (as far as I know) it is not possible to reuse a package version number

[2021-07-01 18:36] majensen commented on #3302
@sap218 that is great. Please have a look at https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and https://joss.readthedocs.io/en/latest/review_criteria.html. A checklist that covers the review areas will show up in the review issue (which will be created once I put the paper in review.) You can check these off as you go through at the top of the review thread.
Very much appreciated!

[2021-07-01 18:37] majensen commented on #3302
@whedon add @sap218 as reviewer

[2021-07-01 18:37] whedon commented on #3302
OK, @sap218 is now a reviewer

[2021-07-01 18:38] majensen commented on #3302
@whedon start review

[2021-07-01 18:38] whedon opened #3440 "[REVIEW]: Nominally: A Name Parser for Record Linkage"
**Submitting author:** @vaneseltine (<a href="http://orcid.org/0000-0002-9520-1360">Matthew VanEseltine</a>)
**Repository:** <a href="https://github.com/vaneseltine/nominally" target ="_blank">https://github.com/vaneseltine/nominally</a>
**Version:** v1.1.0
**Editor:** @majensen
**Reviewer:** @sara-02, @sap218
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-07-01 18:38] whedon commented on #3302
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3440.

[2021-07-01 18:38] #3302 closed

[2021-07-01 18:38] whedon commented on #3440
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sara-02, @sap218 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-07-01 18:38] whedon commented on #3440
[code]

[2021-07-01 18:38] whedon commented on #3440
[code]

[2021-07-01 18:38] whedon commented on #3440
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03440/joss.03440/10.21105.joss.03440.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03440/joss.03440/10.21105.joss.03440.pdf) :page_facing_up: :point_left:

[2021-07-01 18:39] majensen commented on #3302
@vaneseltine @sara-02 @sap218 - please join the official review discussion at the new Github issue #3440. Thanks!

[2021-07-01 18:52] bshoshany commented on #3291
Dear @gkthiruvathukal and @zeroset:

That sounds fair. But maybe I can just use existing tests I already wrote, and no third party tools, at least for now?

Like many authors publishing in this journal, I'm a scientist by training, not a professional software developer. This would be the first time I'm developing unit tests, and unfortunately I am not yet familiar with tools such as GoogleTest, Ca

[2021-07-01 19:57] whedon opened #3441 "[PRE REVIEW]: pipra: pixel-precise annotator for semantic segmentation"
**Submitting author:** @anki-xyz (<a href="http://orcid.org/0000-0003-3643-7776">Andreas M. Kist</a>)
**Repository:** <a href="https://github.com/anki-xyz/pipra" target ="_blank">https://github.com/anki-xyz/pipra</a>
**Version:** v.0.3.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19

[2021-07-01 19:57] whedon commented on #3441
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-01 19:57] whedon commented on #3441
[code]

[2021-07-01 19:57] whedon commented on #3441
PDF failed to compile for issue #3441 with the following error:
[code]

[2021-07-01 19:59] arfon commented on #3441
👋🏻 @anki-xyz – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2021-07-01 19:59] arfon commented on #3441
@whedon query scope

[2021-07-01 19:59] whedon commented on #3441
Submission flagged for editorial review.

[2021-07-01 20:00] whedon opened #3442 "[PRE REVIEW]: GeoClimate : a Geospatial processing toolbox for environmental and climate studies"
**Submitting author:** @ebocher (<a href="http://orcid.org/0000-0002-4936-7079">Erwan Bocher</a>)
**Repository:** <a href="https://github.com/orbisgis/geoclimate/" target ="_blank">https://github.com/orbisgis/geoclimate/</a>
**Version:** 1.0.0-SNAPSHOT
**Editor:** @elbeejay
**Reviewers:** @abhishekvp, @omshinde, @arbennett
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warni

[2021-07-01 20:00] whedon commented on #3442
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-01 20:01] whedon opened #3443 "[PRE REVIEW]: Reel1.0 - A visualization tool for evaluating powder diffraction refinements"
**Submitting author:** @fgjorup (<a href="http://orcid.org/0000-0003-3902-0247">Frederik Holm Gjørup</a>)
**Repository:** <a href="https://github.com/fgjorup/Reel/" target ="_blank">https://github.com/fgjorup/Reel/</a>
**Version:** v.1.1.1
**Editor:** @rkurchin
**Reviewers:** @cmbiwer, mikapfl
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges o

[2021-07-01 20:01] whedon commented on #3443
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-07-01 20:01] whedon commented on #3443
[code]

[2021-07-01 20:01] whedon commented on #3443
PDF failed to compile for issue #3443 with the following error:
[code]

[2021-07-01 20:04] arfon commented on #3443
@whedon generate pdf from branch JOSS-submission

[2021-07-01 20:04] whedon commented on #3443
[code]

[2021-07-01 20:04] whedon commented on #3443
PDF failed to compile for issue #3443 with the following error:
[code]

[2021-07-01 20:05] arfon commented on #3443
@fgjorup - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-07-01 20:06] arfon commented on #3442
@ebocher - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-07-01 20:15] danielskatz commented on #3441
@whedon generate pdf from branch joss

[2021-07-01 20:15] whedon commented on #3441
[code]

[2021-07-01 20:16] whedon commented on #3441
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03441/joss.03441/10.21105.joss.03441.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03441/joss.03441/10.21105.joss.03441.pdf) :page_facing_up: :point_left:

[2021-07-01 20:16] danielskatz commented on #3441
@whedon check references from branch joss

[2021-07-01 20:16] whedon commented on #3441
[code]

[2021-07-01 20:16] whedon commented on #3441
[code]

[2021-07-01 21:19] SunilAnandatheertha commented on #3190
@whedon commands

[2021-07-01 21:19] whedon commented on #3190
Here are some things you can ask me to do:

[code]

[2021-07-01 22:01] pibion commented on #3310
@stsievert no problem, thank you for the response!

[2021-07-01 22:03] SebastianHoerning commented on #3310
Sorry, I have to decline too. I'm swamped with proposal writing at the moment.

Dr.-Ing. Sebastian Hörning

BSc, MSc, PhD

Energi Simulation Postdoctoral Research Fellow

Centre for Natural Gas

The University of Queensland

Brisbane Qld 4072 Australia

T +61 7 3346 3384  M +61 4 5114 5367

E ***@***.******@***.***>  W natural-gas.centre.uq.edu.au<https://natural-gas.centre.uq.edu.au/>

CRICOS 000

[2021-07-01 22:09] Kevin-Mattheus-Moerman commented on #3055
@tomgrylls can you work on points I raised :point_up: ?

[2021-07-02 00:05] joglekara commented on #3298
https://github.com/lcpp-org/RustBCA/issues/136

[2021-07-02 01:19] mikejohnson51 commented on #3212
This is not my area of expertise but I am happy to help if others are not able.

[2021-07-02 01:27] kellyrowland commented on #3212
Thanks; I'll wait a bit to see if there are any other responses before taking you up on the very kind offer.

[2021-07-02 04:50] satejsoman commented on #3382
hi @Nikoleta-v3! here are some potential reviewers, based on language + expertise:
- edrictam
- dilawar
- ayush9pandey
- wxwx1993
- BrandonEdwards
- nhtran93
- krother
- Genomematt

Let me know if you need more suggestions

[2021-07-02 06:33] jni commented on #3202
@whedon generate pdf

[2021-07-02 06:33] whedon commented on #3202
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03202/joss.03202/10.21105.joss.03202.pdf) :page_facing_up: :point_left:

[2021-07-02 06:34] jni commented on #3202
@whedon set 10.5281/zenodo.5055698 as archive

[2021-07-02 06:34] whedon commented on #3202
OK. <a href="https://doi.org/10.5281/zenodo.5055698" target="_blank">10.5281/zenodo.5055698</a> is the archive.

[2021-07-02 06:34] jni commented on #3202
@whedon set v0.2.9 as version

[2021-07-02 06:34] whedon commented on #3202
OK. v0.2.9 is the version.

[2021-07-02 06:35] jni commented on #3202
@whedon recommend accept

[2021-07-02 06:35] whedon commented on #3202
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-02 06:35] jni commented on #3202
@whedon recommend-accept

[2021-07-02 06:35] whedon commented on #3202
[code]

[2021-07-02 06:36] whedon commented on #3202
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2427

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2427, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-02 06:36] whedon commented on #3202
[code]

[2021-07-02 06:48] jni commented on #3202
Gah. @justinshenk sorry that we missed the above missing + invalid DOIs — would you mind fixing + new release + new DOI?

[2021-07-02 07:09] ebocher commented on #3442
@arfon  thanks for the comment.  @hugoledoux  will be a very good candidate to review the paper.
Best regards

[2021-07-02 07:16] Nikoleta-v3 commented on #3382
Thank you for the suggestions 😃

[2021-07-02 07:17] Nikoleta-v3 commented on #3382
:wave: @edrictam & @ayush9pandey & @wxwx1993 & @BrandonEdwards, would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "Epimargin: A Toolkit for Epidemiological Estimation, Prediction, and

[2021-07-02 07:18] osorensen commented on #3352
@mwt, @dbarneche, @OwenWard, @BrandonEdwards: would any of you be interested in reviewing this JOSS paper?

[2021-07-02 07:23] osorensen commented on #3328
@anki-xyz, @jackbrookes, @shanamatthews, @professoralkmin: would any of you be interested in reviewing this article for JOSS?

[2021-07-02 07:40] fgjorup commented on #3443
My suggestions for potential reviewers from the provided list, based on the topics _materials science, diffraction, neutrons, x-ray, and python_:
benjaminbolling
cmbiwer
pgg1610
jwuttke
mikapfl
KedoKudo
cmbiwer
stuartcampbell
marcocamma
taw10
yxqd

[2021-07-02 08:44] csoneson commented on #3290
Thanks @seabbs. The Zenodo archive looks good! However, I'm not sure about the citation to Palmer et al (previously Abbott et al) - the paper is basically citing itself, but with a URL pointing to Zenodo. I would suggest removing the citation (or make it a website citation, not pointing to the JOSS publication) - the link to Zenodo is still there (note though that currently the link does not point

[2021-07-02 09:18] seabbs commented on #3290
Thanks @csoneson

I have removed the citation and link to Zenodo in the draft, deleted and recreated the release, and re-edited the zenodo release to share meta data with JOSS.

Zenodo: https://zenodo.org/record/5059988
Doi: 10.5281/zenodo.5059988

@whedon generate pdf

[2021-07-02 09:20] csoneson commented on #3290
@whedon generate pdf

(I think whedon will only recognize commands if they are the first line in the comment :))

[2021-07-02 09:21] whedon commented on #3290
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03290/joss.03290/10.21105.joss.03290.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03290/joss.03290/10.21105.joss.03290.pdf) :page_facing_up: :point_left:

[2021-07-02 09:24] csoneson commented on #3290
@whedon check references

[2021-07-02 09:25] whedon commented on #3290
[code]

[2021-07-02 09:25] csoneson commented on #3290
@whedon set 10.5281/zenodo.5059988 as archive

[2021-07-02 09:26] whedon commented on #3290
OK. <a href="https://doi.org/10.5281/zenodo.5059988" target="_blank">10.5281/zenodo.5059988</a> is the archive.

[2021-07-02 09:26] csoneson commented on #3290
@whedon set 0.9.2 as version

[2021-07-02 09:26] whedon commented on #3290
OK. 0.9.2 is the version.

[2021-07-02 09:26] csoneson commented on #3290
Looks good! I'm going to hand over now to the associate EiC on rotation for the final steps.

[2021-07-02 09:27] csoneson commented on #3290
@whedon recommend-accept

[2021-07-02 09:27] whedon commented on #3290
[code]

[2021-07-02 09:27] whedon commented on #3290
[code]

[2021-07-02 09:27] whedon commented on #3290
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2428

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2428, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-02 10:06] whedon commented on #3380
:wave: @jshipton, please update us on how your review is going (this is an automated reminder).

[2021-07-02 10:06] whedon commented on #3380
:wave: @ketch, please update us on how your review is going (this is an automated reminder).

[2021-07-02 10:21] ianhinder commented on #2555
## Ian Hinder's review v2

I thank the authors for addressing the issues I created in the project's GitLab repository.  I am now able to install and run the code from scratch with no problems on a Ubuntu 18.04 headless system.  After the changes made, I have the following remaining issues:

1. Most of the baseline results ([Issue 15](https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/issues

[2021-07-02 10:27] seabbs commented on #3290
Amazing,

Thanks for editing @csoneson  and thanks for reviewing @federicomarini and @mponce0

[2021-07-02 10:28] platipodium commented on #3351
I endorse publication.

[2021-07-02 11:13] marcosvital commented on #3117
@MikeKaller agreed to review this submission.

[2021-07-02 11:14] marcosvital commented on #3117
@whedon add @MikeKaller as reviewer

[2021-07-02 11:14] whedon commented on #3117
OK, @MikeKaller is now a reviewer

[2021-07-02 11:21] marcosvital commented on #3117
Dear @rerickson-usgs, once again, I'm sorry it took so long to move from this pre-review to a active reviewing stage. Usually, we would prefer to have three reviewers, but since it has been challenging to find additional reviewers for this particular submission, we will move on with two.

@BrandonEdwards and @MikeKaller, thank you very much for agreeing to review this submission at JOSS. We will n

[2021-07-02 11:22] marcosvital commented on #3117
@whedon start review

[2021-07-02 11:22] whedon opened #3444 "[REVIEW]: fishStan: Hierarchical Bayesian models for fisheries"
**Submitting author:** @rerickson-usgs (<a href="http://orcid.org/0000-0003-4649-482X">Richard Erickson</a>)
**Repository:** https://code.usgs.gov/umesc/quant-ecology/fishstan/
**Branch with paper.md** (empty if default branch):
**Version:** v2.0.0
**Editor:** @marcosvital
**Reviewers:** @MikeKaller, @Cole-Monnahan-NOAA
**Archive:** 10.5066/P9TT3ILO

**:warning: JOSS reduced service mode :warning:

[2021-07-02 11:22] whedon commented on #3117
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3444.

[2021-07-02 11:22] #3117 closed

[2021-07-02 11:22] whedon commented on #3444
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @BrandonEdwards , @MikeKaller it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-07-02 11:22] whedon commented on #3444
[code]

[2021-07-02 11:23] whedon commented on #3444
[code]

[2021-07-02 11:23] whedon commented on #3444
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03444/joss.03444/10.21105.joss.03444.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03444/joss.03444/10.21105.joss.03444.pdf) :page_facing_up: :point_left:

[2021-07-02 11:24] marcosvital commented on #3444
Dear @rerickson-usgs: your manuscript will be reviewed in this issue, and you can reply any comments and suggestions that the reviewers might address right here.

[2021-07-02 11:26] marcosvital commented on #3444
@BrandonEdwards and @MikeKaller: thank you again for for accepting review this submission for JOSS.

Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under Reviewer instructions & questions and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let me know if you

[2021-07-02 12:12] AJQuinn commented on #3293
Hello - I've completed my review of fitgrid, it works as described, has excellent testing coverage and clear documentation. I've highlighted a few points for improvement in issues on the main repo and would be happy to proceed once these are actioned.

[2021-07-02 12:19] danielskatz commented on #3351
Thanks @platipodium!

[2021-07-02 13:01] bl-young commented on #3392
@mfastudillo @tngTUDOR
I'm making updates/edits in response to your issues raised on the [joss_review ](https://github.com/USEPA/LCIAformatter/tree/joss_review)branch

cc @wesingwersen

[2021-07-02 13:08] professoralkmin commented on #3328
@osorensen I'm interested (and it is always an honor) to review an article for JOSS. However, I can only start this review next week. Is there a problem?

[2021-07-02 13:25] whedon commented on #3383
:wave: @fsanchez-trigueros, please update us on how your review is going (this is an automated reminder).

[2021-07-02 13:51] anki-xyz commented on #3441
@whedon generate pdf from branch joss

[2021-07-02 13:51] whedon commented on #3441
[code]

[2021-07-02 13:52] anki-xyz commented on #3441
@whedon check references from branch joss

[2021-07-02 13:52] whedon commented on #3441
[code]

[2021-07-02 13:52] whedon commented on #3441
[code]

[2021-07-02 13:52] whedon commented on #3441
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03441/joss.03441/10.21105.joss.03441.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03441/joss.03441/10.21105.joss.03441.pdf) :page_facing_up: :point_left: