[2018-11-27 06:07] danehkar commented on #898
I included [CONTRIBUTING.md](https://github.com/atomneb/AtomNeb-idl/blob/master/CONTRIBUTING.md) in the [AtomNeb-idl](https://github.com/atomneb/AtomNeb-idl) repository that contains some guidelines for contributors. Now I closed the issue [atomneb/AtomNeb-idl#1](https://github.com/atomneb/AtomNeb-idl/issues/1).

[2018-11-27 06:11] danehkar commented on #898
Thank you! I merged your PR into the repository. Now the package data are automatically located in the examples: [atomneb/AtomNeb-idl/examples](https://github.com/atomneb/AtomNeb-idl/tree/master/examples).

[2018-11-27 06:17] danehkar commented on #898
Thank you for your installation note suggestion. I added an installation note in [README.md](https://github.com/atomneb/AtomNeb-idl/blob/master/README.md):

Now I closed the issue [atomneb/AtomNeb-idl#6](https://github.com/atomneb/AtomNeb-idl/issues/6).

[2018-11-27 12:17] whedon opened #1099 "[PRE REVIEW]: AnyPyTools: A Python package for reproducible research with the AnyBody Modeling System."
**Submitting author:** @melund (<a href="http://orcid.org/0000-0001-9920-4051">Morten Enemark Lund</a>)
**Repository:** <a href="https://github.com/AnyBody-Research-Group/AnyPyTools" target ="_blank">https://github.com/AnyBody-Research-Group/AnyPyTools</a>
**Version:** 1.0.0
**Editor:** @trallard
**Reviewers:** @tonygon, @marcopus, @acolum

**Author instructions**

Thanks for submitting your paper

[2018-11-27 12:17] whedon commented on #1099
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@trallard) to find some reviewers fo

[2018-11-27 12:17] whedon commented on #1099
[code]

[2018-11-27 12:17] whedon commented on #1099
PDF failed to compile for issue #1099 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1099/docs/paper/paper.md): found unexpected document indicator while scanning a quoted scalar at line 2 column 8 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:

[2018-11-27 12:17] arfon commented on #1099
👋 @trallard - the submitting author suggested you as the handling editor.

[2018-11-27 12:19] arfon commented on #1099
@melund - I think this OR should fix your paper: https://github.com/AnyBody-Research-Group/AnyPyTools/pull/55

[2018-11-27 12:19] whedon opened #1100 "[PRE REVIEW]: sierra-local: A lightweight standalone application for drug resistance prediction"
**Submitting author:** @ArtPoon (<a href="http://orcid.org/0000-0003-3779-154X">Art Poon</a>)
**Repository:** <a href="https://github.com/PoonLab/sierra-local" target ="_blank">https://github.com/PoonLab/sierra-local</a>
**Version:** v0.1.2
**Editor:** @pjotrp
**Reviewers:** @azneto

**Author instructions**

Thanks for submitting your paper to JOSS @ArtPoon. The JOSS editor (shown at the top of th

[2018-11-27 12:19] whedon commented on #1100
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @george-githinji it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@george-githinji) to find som

[2018-11-27 12:19] whedon commented on #1100
[code]

[2018-11-27 12:19] arfon commented on #1100
:wave: @george-githinji - the submitting author suggested you as the handling editor.

[2018-11-27 12:19] whedon commented on #1100
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01100/joss.01100/10.21105.joss.01100.pdf)

[2018-11-27 12:19] whedon opened #1101 "[PRE REVIEW]: estez: Create and Query a Local Copy of GenBank in R"
**Submitting author:** @dombennett (<a href="http://orcid.org/0000-0003-2722-1359">Dominic Bennett</a>)
**Repository:** <a href="https://github.com/ropensci/restez" target ="_blank">https://github.com/ropensci/restez</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @dombennett. The JOSS editor (shown at the top of

[2018-11-27 12:20] whedon commented on #1101
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@karthik) to find some reviewers for

[2018-11-27 12:20] whedon commented on #1101
[code]

[2018-11-27 12:20] whedon commented on #1101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01101/joss.01101/10.21105.joss.01101.pdf)

[2018-11-27 12:21] arfon commented on #1101
@DomBennett - could you link to the rOpenSci onboarding thread here please?

Also, please take a look a the preview PDF - I think there needs to be a space between the `#` and your headers.

[2018-11-27 12:40] melund commented on #1099
Thanks, @arfon. I merged AnyBody-Research-Group/AnyPyTools#55

@whedon generate pdf

[2018-11-27 12:41] melund commented on #1099
@whedon generate pdf

[2018-11-27 12:41] whedon commented on #1099
[code]

[2018-11-27 12:42] whedon commented on #1099
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01099/joss.01099/10.21105.joss.01099.pdf)

[2018-11-27 12:49] DomBennett commented on #1101
Hi @arfon,

I've updated the headers and I've switched the image insertion from html to markdown (there was no figure in the pdf proof).

ROpenSci onboarding thread: https://github.com/ropensci/onboarding/issues/232

[2018-11-27 13:08] arfon commented on #1101
@whedon generate pdf

[2018-11-27 13:08] whedon commented on #1101
[code]

[2018-11-27 13:09] whedon commented on #1101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01101/joss.01101/10.21105.joss.01101.pdf)

[2018-11-27 13:13] arfon commented on #1101
@DomBennett does this look OK? ☝️

[2018-11-27 13:39] karlrupp commented on #1049
# Review of MTSS

MTSS provides GPU-enabled implementations for the analysis of multivariate time series. As such, the software primarily aims to provide a *fast implementation* of an established family of algorithms, rather than providing implementations of fundamentally novel algorithmic approaches. Thus, in the following I focus on the performance aspect.

## Comments on Checklist Items
  * *Ve

[2018-11-27 13:43] DomBennett commented on #1101
@arfon better! But I didn't realise the figure caption was generated from the image caption. I've updated the paper to reflect this. I've also changed the code snippets for R syntax highlighting.

Can I ask whedon to re-compile?

@whedon generate pdf

[2018-11-27 13:53] DomBennett commented on #1101
@whedon generate pdf

[2018-11-27 13:53] whedon commented on #1101
[code]

[2018-11-27 13:54] whedon commented on #1101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01101/joss.01101/10.21105.joss.01101.pdf)

[2018-11-27 13:58] melund commented on #1099
@whedon generate pdf

[2018-11-27 13:58] whedon commented on #1099
[code]

[2018-11-27 13:58] whedon commented on #1099
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01099/joss.01099/10.21105.joss.01099.pdf)

[2018-11-27 14:03] DomBennett commented on #1101
@whedon generate pdf

[2018-11-27 14:03] whedon commented on #1101
[code]

[2018-11-27 14:04] whedon commented on #1101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01101/joss.01101/10.21105.joss.01101.pdf)

[2018-11-27 14:09] DomBennett commented on #1101
@whedon generate pdf

[2018-11-27 14:09] whedon commented on #1101
[code]

[2018-11-27 14:10] whedon commented on #1101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01101/joss.01101/10.21105.joss.01101.pdf)

[2018-11-27 14:13] DomBennett commented on #1101
@whedon generate pdf

[2018-11-27 14:13] whedon commented on #1101
[code]

[2018-11-27 14:14] whedon commented on #1101
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01101/joss.01101/10.21105.joss.01101.pdf)

[2018-11-27 14:15] DomBennett commented on #1101
@arfon sorry, my error! Had to do a bit of wrangling of the markdown to get the figure placement correct.

I'm now happy with it. Thanks!

[2018-11-27 14:47] peendebak commented on #1097
Any updates to the package to improve based on review comments will go to the `dev` branch. On a regular basis I will merge `dev` to `master` and update the PyPi packages.

[2018-11-27 15:01] arfon commented on #1101
@whedon assign @arfon as reviewer

[2018-11-27 15:01] whedon commented on #1101
OK, the reviewer is @arfon

[2018-11-27 15:01] arfon commented on #1101
@whedon start review

[2018-11-27 15:01] #1101 closed

[2018-11-27 15:01] whedon opened #1102 "[REVIEW]: estez: Create and Query a Local Copy of GenBank in R"
**Submitting author:** @dombennett (<a href="http://orcid.org/0000-0003-2722-1359">Dominic Bennett</a>)
**Repository:** <a href="https://github.com/ropensci/restez" target ="_blank">https://github.com/ropensci/restez</a>
**Version:** v1.0.0
**Editor:** @karthik
**Reviewer:** @arfon
**Archive:** <a href="https://doi.org/10.5281/zenodo.1419755" target="_blank">10.5281/zenodo.1419755</a>

## Status

[2018-11-27 15:01] whedon commented on #1101
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1102. Feel free to close this issue now!

[2018-11-27 15:01] whedon commented on #1102
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-11-27 15:01] whedon commented on #1102
[code]

[2018-11-27 15:01] arfon commented on #1102
@whedon accept

[2018-11-27 15:01] whedon commented on #1102
No archive DOI set. Exiting...

[2018-11-27 15:02] whedon commented on #1102
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01102/joss.01102/10.21105.joss.01102.pdf)

[2018-11-27 15:02] arfon commented on #1102
@whedon set 10.5281/zenodo.1419755 as archive

[2018-11-27 15:02] whedon commented on #1102
OK. <a href="https://doi.org/10.5281/zenodo.1419755" target="_blank">10.5281/zenodo.1419755</a> is the archive.

[2018-11-27 15:02] arfon commented on #1102
@whedon accept

[2018-11-27 15:02] whedon commented on #1102
[code]

[2018-11-27 15:03] whedon commented on #1102
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/86

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/86, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-27 15:04] arfon commented on #1102
@whedon accept deposit=true

[2018-11-27 15:04] whedon commented on #1102
[code]

[2018-11-27 15:05] whedon commented on #1102
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/87
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01102](https://doi.org/10.21105/joss.01102)
2. If everything looks goo

[2018-11-27 15:24] arfon commented on #1102
@DomBennett - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-11-27 15:24] #1102 closed

[2018-11-27 15:24] whedon commented on #1102
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01102/status.svg)](https://doi.org/10.21105/joss.01102)

**We need your help!**

Journal of Open Source Softwar

[2018-11-27 20:30] melund commented on #1099
@trallard Most of the review can probably be handled by someone who knows Python/GitHub/OpenSource.

But having reviewers with knowledge on multibody musculoskeletal modeling and the [AnyBody Modeling System](https://www.anybodytech.com/software/ams/) is probably also required.

So here are a few suggestions on reviewers who have used the AnyBody Modeling System, and have some Python and GitHub/Gi

[2018-11-27 22:44] aslakbergersen commented on #1065
Hi @trallard, thank you for checking in. After comments from both reviewers, we have just changed the installation method, meeting the comments in KVSlab/morphMan#14.

@brainstorm and @rlizzo is there anything else we should address?

[2018-11-28 03:15] ChrisBarker-NOAA commented on #1085
Kristen,

Doesn't look like too heavy a lift -- I can do it.

-CHB

On Mon, Nov 26, 2018 at 3:43 PM Kristen Thyng <notifications@github.com>
wrote:

--

Christopher Barker, Ph.D.
Oceanographer

Emergency Response Division
NOAA/NOS/OR&R            (206) 526-6959   voice
7600 Sand Point Way NE   (206) 526-6329   fax
Seattle, WA  98115       (206) 526-6317   main reception

Chris.Barker@noaa.gov

[2018-11-28 04:52] mdpiper commented on #899
@danehkar Looks good! You can close https://github.com/equib/proEQUIB/issues/4. It would be best to host the documentation at another location, such as rtfd.io or your own site.

[2018-11-28 05:00] mdpiper commented on #898
@danehkar With your recent updates, I've marked as complete a few more items on the checklist.

[2018-11-28 14:01] Kevin-Mattheus-Moerman commented on #1012
@arfon this repository is currently on the release 0.20 but the version label here and on CRAN is 0.41.1. Is this okay or should we suggest that the repo release carries the same version number as the CRAN number?

[2018-11-28 14:02] Kevin-Mattheus-Moerman commented on #1012
@NikEfth have you resolved the linux arch issue you had? Are you still able to help with this review? Let me know if you cannot. Thanks.

[2018-11-28 14:03] Kevin-Mattheus-Moerman commented on #1012
@jeroen I see you have two unticked boxes remaining. The version number will be fixed once the submission is accepted. In terms of the license this has now been clarified to be an OSI approved license (LGPL-3.0). Are you able to tick the last boxes and perhaps formulate a recommendation (e.g. accept or not). Thanks!

[2018-11-28 14:04] trallard commented on #1060
Hi @ctdegroot, thanks a lot for offering, but given the fact that you have two simultaneous reviews at the moment I might proceed to review with @dlagrava.

We very much appreciate your time and contribution to JOSS and we would certainly not have you burn out 😄

[2018-11-28 14:34] trallard commented on #1099
👋 Hi @melund thanks for the submission. Since you suggested me as an editor I will be performing the editorial duties for this submission. If you have any questions over the review process please feel free to ping me.

Let's start by pinging some suitable reviewers with Python and biomechanics expertise. We can start the review once two or more of them accept the request to review.

---
Dear revie

[2018-11-28 14:41] arfon commented on #1012
I think we want to be clear about which version we've reviewed here. Is GitHub version `0.20` the same as CRAN version `0.41.1`?

[2018-11-28 14:42] marcopus commented on #1099
Hi Tania, I am willing to review this. Thanks, Marco

Il giorno mer 28 nov 2018 alle ore 15:34 Tania Allard <
notifications@github.com> ha scritto:

[2018-11-28 14:43] danielhatton commented on #974
On 26 November 2018 10:45:46 GMT, Kevin Mattheus Moerman <notifications@github.com> wrote:

OK.  I'll set myself a deadline four weeks from your message, i.e. 24th December.

________________________________
[http://www.plymouth.ac.uk/images/email_footer.gif]<http://www.plymouth.ac.uk/worldclass>

This email and any files with it are confidential and intended solely for the use of the recipient to

[2018-11-28 14:49] tonygon commented on #1099
@trallard
I'm able and interested to take the review.

[2018-11-28 14:52] trallard commented on #1099
Thanks for the quick response @tonygon. I'll wait and see if anyone else can review before jumping into the formal review

[2018-11-28 14:53] trallard commented on #1099
@whedon  assign @tonygon as reviewer

[2018-11-28 14:55] trallard commented on #1099
@whedon add @marcopus as reviewer

[2018-11-28 14:55] whedon commented on #1099
OK, @marcopus is now a reviewer

[2018-11-28 14:56] trallard commented on #1099
@whedon assign @tonygon as reviewer

[2018-11-28 14:57] whedon commented on #1099
OK, the reviewer is @tonygon

[2018-11-28 14:57] trallard commented on #1099
@whedon add @marcopus as reviewer

[2018-11-28 14:57] whedon commented on #1099
OK, @marcopus is now a reviewer

[2018-11-28 15:07] whedon opened #1103 "[PRE REVIEW]: vcftoolz: a Python package for comparing and evaluating Variant Call Format files"
**Submitting author:** @stevendavis (<a href="http://orcid.org/0000-0002-5581-1922">Steve Davis</a>)
**Repository:** <a href="https://github.com/CFSAN-Biostatistics/vcftoolz" target ="_blank">https://github.com/CFSAN-Biostatistics/vcftoolz</a>
**Version:** 1.0.0
**Editor:** @george-githinji
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @stevendavis. The J

[2018-11-28 15:07] whedon commented on #1103
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @george-githinji it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@george-githinji) to find som

[2018-11-28 15:07] whedon commented on #1103
[code]

[2018-11-28 15:07] arfon commented on #1103
👋 @george-githinji the submitting author suggested you as the handling editor.

[2018-11-28 15:07] whedon commented on #1103
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01103/joss.01103/10.21105.joss.01103.pdf)

[2018-11-28 15:07] whedon opened #1104 "[PRE REVIEW]: Xono2L: an eXtensible, LabVIEW-compatible real-time sONOgraphic data capture and processing TOOL"
**Submitting author:** @dzhoshkun (<a href="http://orcid.org/0000-0003-3009-4178">Dzhoshkun Ismail Shakir</a>)
**Repository:** <a href="https://github.com/gift-surg/Xono2L" target ="_blank">https://github.com/gift-surg/Xono2L</a>
**Version:** v0.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @dzhoshkun. The JOSS edit

[2018-11-28 15:07] whedon commented on #1104
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yochannah it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@yochannah) to find some reviewers

[2018-11-28 15:07] whedon commented on #1104
[code]

[2018-11-28 15:08] whedon commented on #1104
PDF failed to compile for issue #1104 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Dzhoshkun Shakir<sup>*</sup>, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.

[2018-11-28 15:08] arfon commented on #1104
:wave: @yochannah - the submitting author suggested you as the handling editor.

[2018-11-28 15:08] whedon opened #1105 "[PRE REVIEW]: The SuiteSparse Matrix Collection Website Interface"
**Submitting author:** @ScottKolo (<a href="http://orcid.org/0000-0001-8340-0824">Scott Kolodziej</a>)
**Repository:** <a href="https://github.com/ScottKolo/suitesparse-matrix-collection-website" target ="_blank">https://github.com/ScottKolo/suitesparse-matrix-collection-website</a>
**Version:** JOSS-1.0.0
**Editor:** @jedbrown
**Reviewers:** @dblarremore, @tkonolige

**Author instructions**

Than

[2018-11-28 15:08] whedon commented on #1105
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jedbrown it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@jedbrown) to find some reviewers fo

[2018-11-28 15:08] whedon commented on #1105
[code]

[2018-11-28 15:08] whedon opened #1106 "[PRE REVIEW]: Py-school-match: Matching algorithms to assign students to schools"
**Submitting author:** @igarizio (<a href="http://orcid.org/0000-0002-8431-516X">Iacopo Garizio</a>)
**Repository:** <a href="https://github.com/igarizio/py-school-match" target ="_blank">https://github.com/igarizio/py-school-match</a>
**Version:** 0.2.0
**Editor:** @arokem
**Reviewers:** jmhernan

**Author instructions**

Thanks for submitting your paper to JOSS @igarizio. The JOSS editor (shown

[2018-11-28 15:08] whedon commented on #1106
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arokem) to find some reviewers for yo

[2018-11-28 15:08] whedon commented on #1106
[code]

[2018-11-28 15:08] whedon commented on #1105
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01105/joss.01105/10.21105.joss.01105.pdf)

[2018-11-28 15:09] whedon commented on #1106
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01106/joss.01106/10.21105.joss.01106.pdf)

[2018-11-28 15:13] arfon commented on #1106
:wave: @igarizio, many thanks for your submission to JOSS.

This looks like a nice piece of software, but from first inspection it doesn't appear to be _research software_. In particular, quoting from our [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

Could you please explain what the research challenge being addressed by this software is?

[2018-11-28 15:20] stuartcampbell commented on #1072
Sorry for the delay.

All looks good to me - my review is completed.

One minor suggestion is to consider adding a simple `CONTRIBUTING.md`, which could just link to the sections in your `README.md` and `CODE_OF_CONDUCT.md` - so just to provide a place with a standard name for folks to look.  Not essential for this review - just a personal comment.

[2018-11-28 15:36] dahtah commented on #1012
@arfon It's my fault, I haven't consistently tagged releases on github to coincide with CRAN. If you'd like to know which version you have installed, run:
```packageVersion('imager')```
I'll try to pay more attention to tags in the future.

[2018-11-28 16:31] igarizio commented on #1106
Hi @arfon, thank you for your quick response!
I will try to explain the main problem that this software addresses:

In many countries or states where schools cannot discriminate among students (this means, no tests, no interviews, no previous grades examination, etc.), there is a problem that always appears: How to assign students fairly and efficiently.
There are many proposed solutions. One coul

[2018-11-28 16:50] rhiever commented on #1088
I'd love to, but I haven't had much extra time for reviewing lately. Maybe @mfeurer? @ledell or someone on the H2O dev team? @weixuanfu?

[2018-11-28 16:59] acolum commented on #1099
Hi Tania,
I'm also able and interested to take the review.
Thanks,
Alyssa

[2018-11-28 17:20] russellpierce commented on #1023
@arfon my son was born on Saturday, so my bandwidth is a little limited at the moment (and 10 days passed since you asked). I'll try to review late this week and see if any more feedback is needed.

[2018-11-28 17:55] sjackman commented on #1083
On macOS with Apple `clang`, `make` fails with `error: 'omp.h' file not found`, because `gfakluge` requires OpenMP, and Apple `clang` does not provide OpenMP. Please add OpenMP to the list of dependencies. Please include instructions in `README.md` for building from source on macOS.

[code]

[2018-11-28 18:00] sjackman commented on #1083
@online{GFAKluge,
  author = {Eric T. Dawson and Richard Durbin},
  title = {GFAKluge},
  year = 2018,
  url = {https://github.com/edawson/gfakluge}
}
[code]

[2018-11-28 18:01] ArtPoon commented on #1100
* The table exceeds page margins and some entries are running together.  I've added some `<br/>` tags in the table to try to improve this formatting.
* Journal titles are inconsistently abbreviated, and there was no automatic adjustment of capitalization.  I have manually edited the title entries to make this consistent throughout the reference list.

[2018-11-28 18:03] ArtPoon commented on #1100
Edits in commit https://github.com/PoonLab/sierra-local/commit/f30e5603a2e8ae310790062091cd877cbd6e31cc

[2018-11-28 18:06] sjackman commented on #1083
Please mention the homepage and license in the Summary. For example

**Homepage**: <https://github.com/edawson/gfakluge>
**License**: MIT

[2018-11-28 18:11] russellpierce commented on #1023
@masspastore I added one more grammar correction under a git blame. Otherwise I think things are looking good.  cc: @arfon

[2018-11-28 18:15] jasonclark commented on #943
@sonal-raj We could really use a reviewer on this software. Thought your experience with Graphs and Graph Databases would be super useful here. Would you be available to review the VIVO software? We would be looking for a review in the next few weeks. Thanks for considering. cc @mconlon17 @arfon

[2018-11-28 18:18] sjackman commented on #1083
Next, make sure that the library is on the proper system paths and compile line:

GFAKluge would be more easily used as a library if

1. it were a header-only library (so it does not require compilation and `-L… -l…`)
2. `make install` and the Brew package installed that header

To make `gfakluge` a header-only library, merge `gfakluge.hpp` and `gfakluge.cpp` into a single file and remove `gfaklug

[2018-11-28 18:20] sjackman commented on #1083
Please add a `make install` target to `Makefile`.

[code]

[2018-11-28 18:23] sjackman commented on #1083
Please be more specific. I suggest `and converting between GFA versions 1 and 2.`

[2018-11-28 18:31] sjackman commented on #1083
GfaPy is able to consume and produce both GFA1 and GFA2.
https://doi.org/10.1093/bioinformatics/btx398

RGFA handles only GFA1 (I believe). I suggest citing it.
https://doi.org/10.7717/peerj.2681

`abyss-todot` included with ABySS 2 produces both GFA1 and GFA2 (with the command line options `--gfa1` and `--gfa2`), and consumes both with some format limitations (it does not handle all record types)

[2018-11-28 18:35] sjackman commented on #1083
I'd suggest typesetting this as…

the `gfak convert` tool

[2018-11-28 18:35] sjackman commented on #1083
Ditto `vg msga`

[2018-11-28 18:38] sjackman commented on #1083
The need for file conversion will likely never go away. Older tools that support only GFA1 may never be updated to support GFA2. Newer tools may support producing only GFA2 and not GFA1. To make these tools interoperate, a conversion tool is needed. That need is likely not temporary.

[2018-11-28 18:42] sjackman commented on #1083
Please list in the manuscript the currently available commands.

[code]

Please give three or more real world examples of their use.

[2018-11-28 18:44] sjackman commented on #1083
Is the API documented? If not, please document the API using Doxygen or a similar tool. A one-line summary of the purpose of each public method is sufficient. Please post the rendered HTML API documentation online using GitHub Pages or similar.

[2018-11-28 18:45] weixuanfu commented on #1088
I think it is a very interesting tool and I believe @PGijsbers did very good jobs related to autoML, but I didn't have much time for reviewing neither.

[2018-11-28 18:45] sjackman commented on #1083
Please include a `make check` rule in the Makefile that runs the automated tests.

[2018-11-28 18:47] sjackman commented on #1083
I've ticked this off as complete, since I think it's self evident how to use GitHub to submit issues and pull requests. You could if you liked add `Reporting bugs` and `Contributing` to the README.md or CONTRIBUTING.md.

[2018-11-28 18:49] sjackman commented on #1083
@whedon commands

[2018-11-28 18:49] whedon commented on #1083
Here are some things you can ask me to do:

[code]

[2018-11-28 18:49] sjackman commented on #1083
My review is complete.

[2018-11-28 18:56] katyhuff commented on #1072
Thanks @stuartcampbell , @myousefi2016 ,  @mdoucet for your reviews .

@MikeHeiber thank you for a strong submission and for engaging actively in the review process!
It looks like there are just a couple of minor suggestions from @stuartcampbell you might consider as you make your 4.0.0 release. Once you have your code and paper all ready in the release, it'll be good to double check the paper, re

[2018-11-28 20:33] joethorley commented on #1082
@kyleniemeyer - for some reason the link to the archive doesn't work in the pdf although the link you specified is correct

[2018-11-28 20:35] kyleniemeyer commented on #1082
Hi @joethorley, I just noticed that the affiliation info in the paper is slightly incomplete—could you extend it for both authors, e.g. with city and country info? (The way it would appear in a traditional article.)

Regarding the software DOI, it works ok here. The article DOI in the PDF will not be generated until the paper is actually published, though.

[2018-11-28 20:37] joethorley commented on #1082
@whedon generate pdf

[2018-11-28 20:37] whedon commented on #1082
[code]

[2018-11-28 20:38] whedon commented on #1082
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01082/joss.01082/10.21105.joss.01082.pdf)

[2018-11-28 20:42] joethorley commented on #1082
@kyleniemeyer I've fixed the affiliations but note that although the Review and Repository links work the Archive link does not - can you confirm this specific link works at your end as the archive DOI is already live (unlike the paper DOI). The full address is <https://doi.org/10.5281/zenodo.1651641>

[2018-11-28 21:03] kyleniemeyer commented on #1082
@joethorley I see what you mean. Hmm.

[2018-11-28 21:03] kyleniemeyer commented on #1082
@whedon set 10.5281/zenodo.1651641 as archive

[2018-11-28 21:04] whedon commented on #1082
OK. <a href="https://doi.org/10.5281/zenodo.1651641" target="_blank">10.5281/zenodo.1651641</a> is the archive.

[2018-11-28 21:04] kyleniemeyer commented on #1082
@whedon generate pdf

[2018-11-28 21:04] whedon commented on #1082
[code]

[2018-11-28 21:05] whedon commented on #1082
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01082/joss.01082/10.21105.joss.01082.pdf)

[2018-11-28 21:09] kyleniemeyer commented on #1082
@arfon when you get a chance, could you check out the PDF generation? The archive link is not working in the PDF—seems like something is going wrong.

[2018-11-28 21:09] joethorley commented on #1082
@kyleniemeyer - still no joy!

[2018-11-28 21:38] semacu commented on #943
Thanks for letting me know, I am afraid I won't have time to review this in detail now as the few weeks leading to Christmas are always hectic.

[2018-11-28 21:50] AlexPof commented on #981
@danielskatz I was hoping to be able to cite this in a manuscript submission which is due mid-January, do you think it will possible by then ?

[2018-11-28 22:41] danielskatz commented on #981
@AlexPof - sorry for the delay on this.  I've started looking at it myself from the point of view of a reviewer, and once I'm ok with it, we'll go ahead, which hopefully will be quick.

[2018-11-28 22:42] danielskatz commented on #981
@adammichaelwood - I'm going to take you off this and do the second review.

[2018-11-28 23:19] yochannah commented on #1104
Hey! @arfon @dzhoshkun  - I'm not sure if I'm the best person to edit this. I'm not familiar with C++ or Labview, and it's not a scientific domain I'm really familiar with either.

[2018-11-29 01:18] lewismc commented on #1047
@Kevin-Mattheus-Moerman yes I would. Please give me a deadline for reviewing. I've just returned from some vacation.

[2018-11-29 05:42] sonal-raj commented on #943
@jasonclark Thanks for the request. I like the idea of this software and would love to help review it. Only constraint is my schedule is packed till 18th of Dec, but I am available post that. Depending on the urgency, if the time looks fine to you, I can definitely help review VIVO. Do let me know.

[2018-11-29 08:32] trallard commented on #1060
@whedon add @jhill1as reviewer

[2018-11-29 08:33] trallard commented on #1060
@whedon add @jhill1 as reviewer

[2018-11-29 08:33] whedon commented on #1060
OK, @jhill1 is now a reviewer

[2018-11-29 08:33] trallard commented on #1060
@dlagrava @jhill1 @akdiem  this is now ready to move to the review process so I will be closing this issue now

[2018-11-29 08:34] trallard commented on #1060
@whedon start review

[2018-11-29 08:34] whedon opened #1107 "[REVIEW]: Artery.FE: An implementation of the 1D blood flow equations in FEniCS"
**Submitting author:** @akdiem (<a href="http://orcid.org/0000-0003-1719-1942">Alexandra Diem</a>)
**Repository:** <a href="https://github.com/KVSlab/bloodflow" target ="_blank">https://github.com/KVSlab/bloodflow</a>
**Version:** v1.0
**Editor:** @trallard
**Reviewer:** @dlagrava, @jhill1
**Archive:** <a href="https://doi.org/10.5281/zenodo.2383815" target="_blank">10.5281/zenodo.2383815</a>

##

[2018-11-29 08:34] whedon commented on #1060
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1107. Feel free to close this issue now!

[2018-11-29 08:34] whedon commented on #1107
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dlagrava, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-11-29 08:34] whedon commented on #1107
[code]

[2018-11-29 08:34] #1060 closed

[2018-11-29 08:34] whedon commented on #1107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01107/joss.01107/10.21105.joss.01107.pdf)

[2018-11-29 08:35] trallard commented on #1099
@whedon add @acolum as reviewer

[2018-11-29 08:35] whedon commented on #1099
OK, @acolum is now a reviewer

[2018-11-29 08:36] trallard commented on #1099
Awesome, thanks for agreeing to review this submission @acolum

We can now move onto the review for this submission  🎊🎊

[2018-11-29 08:36] trallard commented on #1099
@whedon start review

[2018-11-29 08:36] whedon opened #1108 "[REVIEW]: AnyPyTools: A Python package for reproducible research with the AnyBody Modeling System."
**Submitting author:** @melund (<a href="http://orcid.org/0000-0001-9920-4051">Morten Enemark Lund</a>)
**Repository:** <a href="https://github.com/AnyBody-Research-Group/AnyPyTools" target ="_blank">https://github.com/AnyBody-Research-Group/AnyPyTools</a>
**Version:** 1.0.0
**Editor:** @trallard
**Reviewer:** @tonygon, @acolum
**Archive:** <a href="https://doi.org/10.5281/zenodo.2450121" target="

[2018-11-29 08:36] whedon commented on #1099
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1108. Feel free to close this issue now!

[2018-11-29 08:36] whedon commented on #1108
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tonygon, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-11-29 08:36] whedon commented on #1108
[code]

[2018-11-29 08:36] #1099 closed

[2018-11-29 08:37] Kevin-Mattheus-Moerman commented on #1047
@whedon add @lewismc as reviewer

[2018-11-29 08:37] whedon commented on #1047
OK, @lewismc is now a reviewer

[2018-11-29 08:37] whedon commented on #1108
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01108/joss.01108/10.21105.joss.01108.pdf)

[2018-11-29 08:37] Kevin-Mattheus-Moerman commented on #1047
@whedon remove @dmittman as reviewer

[2018-11-29 08:37] whedon commented on #1047
OK, @dmittman is no longer a reviewer

[2018-11-29 08:39] Kevin-Mattheus-Moerman commented on #1047
Great @lewismc thanks for agreeing to help. I've added you as a reviewer. It would be great to get this review done in about 2 weeks. Does that work?

[2018-11-29 08:40] trallard commented on #1107
Hi reviewers and @akdiem ! This is the issue we will be using to conduct the review. I know @jhill1 is away for a couple of weeks but in the meantime, @dlagrava can get started with the review and recommendations (if any).

If any of you encounters any issues / need any guidance during the review process feel free to ping me here 👩🏻‍💻

[2018-11-29 08:41] trallard commented on #1108
Hi reviewers and @melund! This is the issue we will be using to conduct the review.
@tonygon, @marcopus, @acolum each of you have a checklist to guide you through the review process.

If any of you encounters any issues / need any guidance during the review process feel free to ping me here 👩🏻‍💻

[2018-11-29 08:51] melund commented on #1108
Thanks, @trallard. I am really looking forward to the review process here :)

[2018-11-29 09:09] sundmanbo commented on #1014
@Kevin-Mattheus-Moerman Hi, I have started the review and managed to install the software with minor problems.

[2018-11-29 09:29] whedon opened #1109 "[REVIEW]: gtk-fortran: a GTK+ binding to build Graphical User Interfaces in Fortran"
**Submitting author:** @vmagnin (<a href="http://orcid.org/0000-0002-9016-9955">Vincent MAGNIN</a>)
**Repository:** <a href="https://github.com/jerryd/gtk-fortran" target ="_blank">https://github.com/jerryd/gtk-fortran</a>
**Version:** v17.10
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @johnsamuelwrites, @sundmanbo
**Archive:** <a href="https://doi.org/10.5281/zenodo.2544192" target="_blank

[2018-11-29 09:29] whedon commented on #1014
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1109. Feel free to close this issue now!

[2018-11-29 09:29] whedon commented on #1109
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @johnsamuelwrites, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pr

[2018-11-29 09:29] whedon commented on #1109
[code]

[2018-11-29 09:30] whedon commented on #1109
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01109/joss.01109/10.21105.joss.01109.pdf)

[2018-11-29 09:31] Kevin-Mattheus-Moerman commented on #1014
@vmagnin thanks for providing the additional clarifications in your paper. I will suggest further edits to the paper (saw some language/spelling issues) but have started the review process.

[2018-11-29 09:31] #1014 closed

[2018-11-29 09:32] Kevin-Mattheus-Moerman commented on #1109
@johnsamuelwrites, @devonrex, @sundmanbo this is where the review takes place. There are tick boxes at the top if this issue to guide you through the process. Please let me know if you have any questions. Thanks! :robot: :rocket:

[2018-11-29 11:35] arfon commented on #1023
@soodoku - it looks like there are a few checkboxes un-checked for your review. Is there still work to be done by the author or are you happy to accept here?

[2018-11-29 11:37] arfon commented on #1104
OK np @yochannah. @kyleniemeyer can you find someone else to edit this for us?

[2018-11-29 13:49] MarionLegrandLogrami commented on #791
@karthik Hello, thank you for your help in trying to find an additionnal reviewer. Do you have some suggestions ?
@arfon I'm sorry but I don't know who else to propose to help finish the job

[2018-11-29 13:57] zhampel commented on #1047
@Kevin-Mattheus-Moerman Sorry for the delay. Yes, I've nearly finished through the code, and will be posting my review by early next week.

[2018-11-29 14:20] soodoku commented on #1023
@arfon: need to check a couple of things. i plan to get to it over the weekend. i will be in touch soonish.

[2018-11-29 14:21] kyleniemeyer commented on #1082
@whedon accept deposit=true

[2018-11-29 14:21] whedon commented on #1082
[code]

[2018-11-29 14:21] whedon commented on #1082
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/89
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01082](https://doi.org/10.21105/joss.01082)
2. If everything looks goo

[2018-11-29 14:53] wandreopoulos commented on #693
Thank you.
I have replaced most of the classes with plain functions, except for 2
classes (Insert_Pairwise_Sims and Insert_Radius_Sim_Density) that inherit
from multiprocessing.Process. That is a simpler design.

I have added community guidelines about contributions and support in the
README.txt.

I have replaced MySQL-python with mysqlclient in the requirements.txt.
At the moment I am running the

[2018-11-29 15:09] kyleniemeyer commented on #1082
@joethorley congrats on your paper acceptance into JOSS!

@ibarraespinosa & @nanhung thank you for your reviews, and thanks to @arfon for handling this submission.

[2018-11-29 15:09] #1082 closed

[2018-11-29 15:09] whedon commented on #1082
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01082/status.svg)](https://doi.org/10.21105/joss.01082)

**We need your help!**

Journal of Open Source Softwar

[2018-11-29 15:30] whedon commented on #1095
[code]

[2018-11-29 15:31] whedon commented on #1095
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01095/joss.01095/10.21105.joss.01095.pdf)

[2018-11-29 15:55] jschnab commented on #1029
@arfon - Hi, nagoue already commented she's not available to review my submission.

[2018-11-29 16:37] kyleniemeyer commented on #1104
Hey @brainstorm @Kevin-Mattheus-Moerman would one of you be able to edit this submission?

[2018-11-29 17:06] arokem commented on #1077
Sorry for my slowness here...

@road2stat : thank you for the review!

@karlkumbier : I believe that your paper is ready to be accepted for publication in JOSS.

Could you please create an archive of the accepted version of the software (e.g., using [zenodo](https://zenodo.org)) and post the DOI here?

[2018-11-29 17:09] arokem commented on #855
@whedon render pdf

[2018-11-29 17:09] arokem commented on #855
@whedon generate pdf

[2018-11-29 17:09] whedon commented on #855
[code]

[2018-11-29 17:11] whedon commented on #855
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00855/joss.00855/10.21105.joss.00855.pdf)

[2018-11-29 17:20] arokem commented on #855
OK. Since this review has gone on for a while, one reviewer has already provided a +1, and since the author has addressed the issues raised by the remaining reviewer, I'm going to call it.

@mnarayan, @glemaitre : thanks for your reviews!

@maxrousseau : your article is ready to be accepted by JOSS.

To proceed, please create an archive of the accepted version of the software (e.g., using [zenodo]

[2018-11-29 17:22] arokem commented on #1106
@whedon assign arokem as editor

[2018-11-29 17:22] whedon commented on #1106
OK, the editor is arokem

[2018-11-29 17:31] arokem commented on #1088
Yep. Thanks for assigning me. Will take a look.

[2018-11-29 17:34] arokem commented on #1088
@fmohr : would you like to review this article for [The Journal of Open Source Software](http://joss.theoj.org/)?

[2018-11-29 18:15] igarizio commented on #1106
Thank you @arokem!
I will add those explanations as soon as possible.

[2018-11-29 18:32] dlagrava commented on #1107
@akdiem I have started this. The first comment that I have is that you actually do not have a release v1.0 on your github. Could you please create one? Thanks.

[2018-11-29 18:52] ArtPoon commented on #1100
@whedon generate pdf

[2018-11-29 18:52] whedon commented on #1100
[code]

[2018-11-29 18:52] whedon commented on #1100
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01100/joss.01100/10.21105.joss.01100.pdf)

[2018-11-29 19:08] ArtPoon commented on #1100
@whedon generate pdf

[2018-11-29 19:08] whedon commented on #1100
[code]

[2018-11-29 19:09] whedon commented on #1100
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01100/joss.01100/10.21105.joss.01100.pdf)

[2018-11-29 19:57] jmhernan commented on #1106
@arokem I'd love to review this article.

[2018-11-29 20:35] whedon opened #1110 "[PRE REVIEW]: CEGO: C++11 Evolutionary Global Optimization"
**Submitting author:** @ianhbell (<a href="http://orcid.org/0000-0003-1091-9080">Ian Bell</a>)
**Repository:** <a href="https://github.com/usnistgov/CEGO" target ="_blank">https://github.com/usnistgov/CEGO</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewers:** @sarats, @sjvrijn, @mmenickelly

**Author instructions**

Thanks for submitting your paper to JOSS @ianhbell. The JOSS editor (shown

[2018-11-29 20:35] whedon commented on #1110
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jedbrown it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@jedbrown) to find some reviewers fo

[2018-11-29 20:35] whedon commented on #1110
[code]

[2018-11-29 20:35] whedon commented on #1110
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01110/joss.01110/10.21105.joss.01110.pdf)

[2018-11-29 20:35] arfon commented on #1110
:wave: @jedbrown - the submitting author suggested you as the handling editor.

[2018-11-29 20:43] maxrousseau commented on #855
![image](https://user-images.githubusercontent.com/16603191/49250690-745f4700-f3ed-11e8-9d72-7581d401999e.png)

[2018-11-29 20:44] maxrousseau commented on #855
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1710578.svg)](https://doi.org/10.5281/zenodo.1710578)

[2018-11-29 20:58] MikeHeiber commented on #1072
@stuartcampbell Thank you for the suggestion about the contributor instructions file.  I had been meaning to add more detailed instructions for how new people could contribute, and your reminder helped give me the activation energy that I needed.  There is now both a CONTRIBUTING.md and a CODE_OF_CONDUCT.md file. In addition, I have also added a CHANGELOG.md file as part of my final improvements.

[2018-11-29 21:03] katyhuff commented on #1072
@whedon generate pdf

[2018-11-29 21:04] whedon commented on #1072
[code]

[2018-11-29 21:04] whedon commented on #1072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01072/joss.01072/10.21105.joss.01072.pdf)

[2018-11-29 21:05] katyhuff commented on #1072
@whedon set 10.5281/zenodo.1710685 as archive

[2018-11-29 21:06] whedon commented on #1072
OK. <a href="https://doi.org/10.5281/zenodo.1710685" target="_blank">10.5281/zenodo.1710685</a> is the archive.

[2018-11-29 21:06] katyhuff commented on #1072
@whedon generate pdf

[2018-11-29 21:06] whedon commented on #1072
[code]

[2018-11-29 21:06] whedon commented on #1072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01072/joss.01072/10.21105.joss.01072.pdf)

[2018-11-29 21:40] katyhuff commented on #1072
@whedon generate pdf

[2018-11-29 21:40] whedon commented on #1072
[code]

[2018-11-29 21:41] whedon commented on #1072
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01072/joss.01072/10.21105.joss.01072.pdf)

[2018-11-29 21:41] katyhuff commented on #1072
@myousefi2016 @mdoucet @stuartcampbell Thank you so much, once again, for your reviews of this work. JOSS relies on reviewers like you!

@MikeHeiber Thanks again for a strong submission, and congratulations, we're ready to accept your paper!

@arfon over to you!

[2018-11-29 22:03] AlexPof commented on #981
Thank you for your answer. I have responded to the issue you opened on the repository. Please do not hesitate to contact me if you have additional remarks.

[2018-11-29 23:25] glemaitre commented on #855
I just made a PR to correct the last glitch. Nothing important regarding the paper.

[2018-11-29 23:35] arokem commented on #1106
@whedon assign jmhernan as reviewer

[2018-11-29 23:35] whedon commented on #1106
OK, the reviewer is jmhernan

[2018-11-29 23:35] arokem commented on #1106
@whedon start review

[2018-11-29 23:35] whedon opened #1111 "[REVIEW]: Py-school-match: Matching algorithms to assign students to schools"
**Submitting author:** @igarizio (<a href="http://orcid.org/0000-0002-8431-516X">Iacopo Garizio</a>)
**Repository:** <a href="https://github.com/igarizio/py-school-match" target ="_blank">https://github.com/igarizio/py-school-match</a>
**Version:** 0.2.0
**Editor:** @arokem
**Reviewer:** @jmhernan
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/460a2eeea7e19a32c8a4f9040dc1

[2018-11-29 23:35] whedon commented on #1106
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1111. Feel free to close this issue now!

[2018-11-29 23:35] whedon commented on #1111
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jmhernan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-11-29 23:35] whedon commented on #1111
[code]

[2018-11-29 23:35] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2018-11-29 23:36] arokem commented on #1106
@jmhernan : thanks for taking this on! Head over to the auspiciously numbered #1111 for the check-list for your review. I'll close this.

[2018-11-29 23:36] #1106 closed

[2018-11-29 23:37] arokem commented on #855
@maxrousseau : would you like to include @glemaitre's additional suggestion in the version that will go along with the paper? If so, please create another archived version.

[2018-11-29 23:38] maxrousseau commented on #855
perfect just pushed the fixed docs and will accept the pull request as soon as it passes the CI

[2018-11-30 00:27] mgymrek commented on #1083
Thanks for these helpful comments @sjackman.

To summarize for @edawson:

- Please address the comments regarding installation and documentation.
- I agree no need to cite the software repository in the paper.
- There is no need to include extensive documents of the different commands in the manuscript itself. However please be sure these are well documented e.g. in the readme or manual.
- For com

[2018-11-30 01:01] arfon commented on #1029
My apologies @nagoue.

[2018-11-30 01:37] arfon commented on #1029
@martlj - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-11-30 01:38] arfon commented on #1072
@whedon accept

[2018-11-30 01:38] whedon commented on #1072
[code]

[2018-11-30 01:39] whedon commented on #1072
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/90

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/90, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-30 01:41] arfon commented on #1072
@whedon accept deposit=true

[2018-11-30 01:41] whedon commented on #1072
[code]

[2018-11-30 01:42] whedon commented on #1072
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/91
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01072](https://doi.org/10.21105/joss.01072)
2. If everything looks goo

[2018-11-30 01:45] arfon commented on #1072
@myousefi2016, @stuartcampbell, @mdoucet - many thanks for your reviews and to @katyhuff for editing this submission ✨

@MikeHeiber - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-11-30 01:45] #1072 closed

[2018-11-30 01:45] whedon commented on #1072
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01072/status.svg)](https://doi.org/10.21105/joss.01072)

**We need your help!**

Journal of Open Source Softwar

[2018-11-30 01:56] maxrousseau commented on #855
@arokem: since the PR failed the CI I would prefer to stick with the current version for publication. I will look into @glemaitre PR as per maintenance of the package independently later on.

[2018-11-30 04:38] jasonclark commented on #943
@sonal-raj That timeline still works for us. Thanks for offering your expertise. I'll set up the review process and you can pick it up after December 18. cc @mconlon17 @arfon

[2018-11-30 05:08] kyleniemeyer commented on #1100
@george-githinji can you edit this submission? Thanks!

[2018-11-30 06:13] sonal-raj commented on #943
@jasonclark Sounds Good!

[2018-11-30 06:56] akdiem commented on #1107
@dlagrava Apologies, I must have forgotten because it is not mentioned in the submission guide. I've done this now.

[2018-11-30 08:46] Kevin-Mattheus-Moerman commented on #1047
@lewismc the review focuses on [the software](https://github.com/CosmiQ/CometTS) and [the short paper](https://github.com/openjournals/joss-papers/blob/joss.01047/joss.01047/10.21105.joss.01047.pdf). The instructions and tick boxes  (see the top of this issue) will guide you through the process. Let me know if you still have questions. You can also consult our review criteria here: https://joss.re

[2018-11-30 11:44] mfeurer commented on #1088
Thanks for suggesting me @rhiever, but I don't feel comfortable reviewing a paper of a collaborator.

[2018-11-30 11:58] fmohr commented on #1088
Hey, thanks for asking. In general, I am open to review for JOSS. In this particular case, however, I'm afraid I can't help out; I'm a Java guy and not at all an expert for Python. I don't know to which degree this is a problem, but Pieter mentions this as one of two criterions, so probably speaking Python should be a criterion.

[2018-11-30 13:06] PGijsbers commented on #1088
I have to admit I'm not intimately familiar with the level of code inspection that is done in the JOSS review process. I listed Python as required since the package is written entirely in Python, I figured it would make sense to look for people who are familiar so as to save time in the review process. That said, I would probably feel the same reviewing a package written in Java.

[2018-11-30 13:52] fospald commented on #1027
@jedbrown @ctdegroot How to continue here?

[2018-11-30 13:56] ctdegroot commented on #1027
@fospald The ITK issue is solved but there is another package that needs to be installed on my system and my package manager doesn’t include it. I’ll have to install manually. I haven’t really had a chance to work on it this week (end of teaching semester) but I will get back to it as soon as I can.

[2018-11-30 14:02] fospald commented on #1027
@ctdegroot I can also just say that MacOS is not supported yet, if it is too time consuming.

[2018-11-30 15:16] ctdegroot commented on #1027
@fospald I’ll try on Linux so that I can finish my review sooner

[2018-11-30 15:34] ctdegroot commented on #1027
@fospald I can definitely help work out the issues on MacOS, since I bet this will be beneficial for your users. I'll do Linux as well so that I can at least verify everything works there first.

[2018-11-30 16:40] tobydriscoll commented on #1043
It's excellent software, well documented and with all the required elements in place. I have just minor (very picky) observations:

1. There should be some pointers to other automatic differentiation software for Julia. It's not hard to find, but links are appreciated.
1. The display of exponents is partially obscured for me in Juno. It's find at a command shell.
1. Maybe reconsider exporting the

[2018-11-30 16:43] kthyng commented on #1085
Awesome! Thanks everyone!

@edoddridge and @ChrisBarker-NOAA you're the reviewers. I'll set it all up now.

[2018-11-30 16:44] kthyng commented on #1085
@whedon assign @edoddridge as reviewer

[2018-11-30 16:44] whedon commented on #1085
OK, the reviewer is @edoddridge

[2018-11-30 16:44] kthyng commented on #1085
@whedon add @ChrisBarker-NOAA as reviewer

[2018-11-30 16:44] whedon commented on #1085
OK, @ChrisBarker-NOAA is now a reviewer

[2018-11-30 16:44] kthyng commented on #1085
@whedon start review

[2018-11-30 16:44] whedon opened #1112 "[REVIEW]: HRDS: A Python package for hierarchical raster datasets"
**Submitting author:** @jhill1 (<a href="http://orcid.org/0000-0003-1340-4373">Jon Hill</a>)
**Repository:** <a href="https://github.com/EnvModellingGroup/hdrs" target ="_blank">https://github.com/EnvModellingGroup/hdrs</a>
**Version:** 0.1.2
**Editor:** @kthyng
**Reviewer:** @edoddridge, @PythonCHB
**Archive:** <a href="https://doi.org/10.5281/zenodo.2691685" target="_blank">10.5281/zenodo.269168

[2018-11-30 16:44] whedon commented on #1085
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1112. Feel free to close this issue now!

[2018-11-30 16:44] whedon commented on #1112
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @edoddridge, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-11-30 16:44] whedon commented on #1112
[code]

[2018-11-30 16:45] whedon commented on #1112
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01112/joss.01112/10.21105.joss.01112.pdf)

[2018-11-30 16:45] #1085 closed

[2018-11-30 17:13] russellpierce commented on #1023
@soodoku thanks for giving it a thorough look. I'll admit that I've been through it enough at this point where I don't have as clear as view on the end result as I might have at the start. So, it is entirely possible I'm missing something. :) I.e. don't take my signoff as a need for less rigour.

[2018-11-30 22:54] maxrousseau commented on #855
@arokem: I have just merge @glemaitre 's PR, I will be creating a new archive soon.

[2018-11-30 23:22] glemaitre commented on #855
@maxrousseau you could also make a PyPi release at the same time.

[2018-12-01 00:16] whedon opened #1113 "[PRE REVIEW]: PsychroLib: a library of psychrometric functions to calculate thermodynamic properties of air"
**Submitting author:** @dmey (<a href="http://orcid.org/0000-0002-7071-7547">D. Meyer</a>)
**Repository:** <a href="https://github.com/psychrometrics/psychrolib" target ="_blank">https://github.com/psychrometrics/psychrolib</a>
**Version:** 2.0.0
**Editor:** @kyleniemeyer
**Reviewers:** @bryanwweber, @puncan

**Author instructions**

Thanks for submitting your paper to JOSS @dmey. The JOSS editor

[2018-12-01 00:16] whedon commented on #1113
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-01 00:16] whedon commented on #1113
[code]

[2018-12-01 00:16] whedon opened #1114 "[PRE REVIEW]: rdbsp: An Open Source Rock Dynamic Behavior Simulation Program"
**Submitting author:** @zhangning737 (<a href="http://orcid.org/0000-0003-3597-0691">Zhang Ning</a>)
**Repository:** <a href="https://github.com/zhangning737/rdbsp.git" target ="_blank">https://github.com/zhangning737/rdbsp.git</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewers:** @dvalters

**Author instructions**

Thanks for submitting your paper to JOSS @zhangning737. The JOSS editor (show

[2018-12-01 00:16] whedon commented on #1114
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-01 00:16] whedon commented on #1114
[code]

[2018-12-01 00:16] whedon commented on #1114
Failed to discover a valid open source license.

[2018-12-01 00:16] whedon commented on #1113
PDF failed to compile for issue #1113 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    295      0 --:--:-- --:--:-- --:--:--   296
[WARNING] Could n

[2018-12-01 00:16] whedon commented on #1114
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01114/joss.01114/10.21105.joss.01114.pdf)

[2018-12-01 00:36] arfon commented on #911
@whedon generate pdf

[2018-12-01 00:36] whedon commented on #911
[code]

[2018-12-01 00:36] whedon commented on #911
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00911/joss.00911/10.21105.joss.00911.pdf)

[2018-12-01 00:48] arfon commented on #911
Hi @davidnsousa, thanks for this detailed summary of your changes. Firstly, one change I need you to make to the paper to fix your references formatting: https://github.com/joaordaniel/qsort/pull/13

I think @maxheld83's suggestions in https://github.com/joaordaniel/qsort/issues/11 and https://github.com/joaordaniel/qsort/issues/7 are good ones in fact, we've recently updated our submission requir

[2018-12-01 02:32] kyleniemeyer commented on #1113
Hi @dmey, could you try submitting with a non-SVG figure? Perhaps PDF or PNG?

[2018-12-01 06:38] sundmanbo commented on #1109
Hi Kevin

I am not sure this is the right way to conatct you
but I am very unhappy about whedon/JOSS sending me a lot of emails about
the reviewing of papers I am not involved in.
How do I stop that?

Bo Sundman

Den tors 29 nov. 2018 kl 10:32 skrev Kevin Mattheus Moerman <
notifications@github.com>:

[2018-12-01 07:46] danehkar commented on #899
The documentation is now hosted at https://equib.github.io/proEQUIB/doc/

[2018-12-01 07:58] sundmanbo commented on #899
Please remove me from this and other JOSS reviewing threads, I have tried
but not managed to do that myself

Bo Sundman

Den lör 1 dec. 2018 kl 08:46 skrev Ashkbiz Danehkar <
notifications@github.com>:

[2018-12-01 08:11] danehkar commented on #899
I noticed that `triangulate` and `trigrid` in GDL have some bugs, and not work correctly in [interp2d.pro](https://github.com/equib/proEQUIB/blob/master/externals/misc/_interp2d.pro). I replaced [interp2d.pro](https://github.com/equib/proEQUIB/blob/master/externals/misc/_interp2d.pro) with [interp_2d.pro](https://github.com/equib/proEQUIB/blob/master/externals/misc/_interp_2d.pro). Now proEQUIB fu

[2018-12-01 08:34] dmey commented on #1113
@whedon generate pdf

[2018-12-01 08:34] whedon commented on #1113
[code]

[2018-12-01 08:34] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-01 08:56] dmey commented on #1113
Add padding to paper fig + fix paper refs
@whedon generate pdf

[2018-12-01 08:58] dmey commented on #1113
@whedon generate pdf

[2018-12-01 08:58] whedon commented on #1113
[code]

[2018-12-01 08:58] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-01 09:03] dmey commented on #1113
@whedon generate pdf

[2018-12-01 09:03] whedon commented on #1113
[code]

[2018-12-01 09:03] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-01 09:11] dmey commented on #1113
@whedon generate pdf

[2018-12-01 09:11] whedon commented on #1113
[code]

[2018-12-01 09:12] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-01 09:16] dmey commented on #1113
@whedon generate pdf

[2018-12-01 09:16] whedon commented on #1113
[code]

[2018-12-01 09:17] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-01 09:37] dmey commented on #1113
Hi @kyleniemeyer, thank you for pointing this out. I have changed the format to PDF but I am having issues with its placement -- see my last proof. The image ends up on page 2 even though there is enough space to position it on page 1.

Also, a couple of other things that I have noticed that may be worth addressing in the documentation (https://joss.readthedocs.io/en/latest/submitting.html):

- Ad

[2018-12-01 10:41] Kevin-Mattheus-Moerman commented on #1109
@sundmando yes that is annoying. The to of this issue contains instructions to avoid this. I.e. Set yourself as 'Not watching' https://github.com/openjournals/joss-reviews. Let me know if you need more help.

[2018-12-01 11:00] sundmanbo commented on #1109
Yes I need more help.  Where do I find a "No watching" button?

Den lör 1 dec. 2018 kl 11:41 skrev Kevin Mattheus Moerman <
notifications@github.com>:

[2018-12-01 14:05] maxheld83 commented on #911
@arfon thanks.

I've checked the remaining items off of my reviewer checklist above, though I still have reservations concerning the usability, maintainability and focus of the package, as I mentioned above. Among other things, I still think the package is too monolithic and idiosyncratic in its design, and does not follow (enough) software dev best practices, including defensive programming or re

[2018-12-01 15:53] davidnsousa commented on #911
@arfon thank you for your fix. Merged!

@arfon @maxheld83 thank you both for your comments.

[2018-12-01 16:02] terrytangyuan commented on #1087
@nproellochs Could you clarify the differences between your package and [reinforcelearn](https://cran.r-project.org/web/packages/reinforcelearn/index.html)? Also, have you done any benchmarking or used the package in certain applications yet?

[2018-12-01 17:04] mgalloy commented on #899
@sundmanbo Unwatch this repo. Go to any page on for the JOSS reviews repo (such as the page for this thread), go to the top of the page, click "Unwatch".

[2018-12-01 17:50] arfon commented on #899
@sundmanbo - yes, please do this:

![](https://cloud.githubusercontent.com/assets/4483/20250593/64d7ce48-a9de-11e6-9225-d3dfb3e48e68.png)

[2018-12-01 17:51] nproellochs commented on #1087
@terrytangyuan The key differences between our package and the reinforcelearn package are as follows:
1) Different from the reinforcelearn package, our package performs batch reinforcement learning (it allows to learn the optimal behavior of an agent based on sample sequences consisting of states, actions and rewards). Batch reinforcement learning drastically reduces the computation time in most s

[2018-12-01 17:52] arfon commented on #1109
@sundmanbo - if you might want to change your settings in your GitHub profile [here](https://github.com/settings/notifications) to stop emails being sent:

![](https://cloud.githubusercontent.com/assets/4483/20250604/79eb3144-a9de-11e6-9e51-0fe940966689.png)

[2018-12-01 19:02] usethedata commented on #1018
Review completed.

[2018-12-01 21:37] danielskatz commented on #981
@AlexPof - please add non PyPi build instructions to the README and docs as well.

[2018-12-01 21:42] mgalloy commented on #899
I have marked all items on the checklist. My review is complete, good luck @danehkar!

[2018-12-01 21:48] danielskatz commented on #981
You can also upload this version to PyPi.

After that, you should upload the repo to zenodo or similar, and let me know the DOI of the archived version.

[2018-12-02 00:42] danehkar commented on #899
@mdpiper I included  [mgunit](https://github.com/mgalloy/mgunit) in the folder  [test_mgunit](https://github.com/equib/proEQUIB/tree/master/test_mgunit) for automated tests. You need to have atomic data in ``externals/atomneb/atomic-data`` and ``externals/atomneb/atomic-data-rc`` in do this test. To have all dependencies, you can clone the whole project with dependent libraries:

    git clone --r

[2018-12-02 00:44] danehkar commented on #899
@mgalloy Thank you for your test. I much appreciate your review. I am now checking the paper if there is any typos there.

[2018-12-02 00:52] kyleniemeyer commented on #1018
@usethedata thanks for your review!

@wino6687 if you have completed making any changes, can you archive the software and report the DOI back here?

[2018-12-02 08:49] danehkar commented on #899
@arfon I uploaded the updated paper into the folder [`paper`](https://github.com/equib/proEQUIB/tree/master/paper). Previously, there were some issues in ``paper.bib`` and the paper pdf file did not show the journal names.

[2018-12-02 12:48] arfon commented on #911
@davidnsousa - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-12-02 12:53] arfon commented on #899
@whedon generate pdf

[2018-12-02 12:53] whedon commented on #899
[code]

[2018-12-02 12:53] whedon commented on #899
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00899/joss.00899/10.21105.joss.00899.pdf)

[2018-12-02 12:56] arfon commented on #899
How is this looking @danehkar ☝️

[2018-12-02 13:59] davidnsousa commented on #911
@arfon here is the updated DOI for the zenode archive [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1844717.svg)](https://doi.org/10.5281/zenodo.1844717)

[2018-12-02 15:46] arfon commented on #911
@whedon set 10.5281/zenodo.1844717 as archive

[2018-12-02 15:46] whedon commented on #911
OK. <a href="https://doi.org/10.5281/zenodo.1844717" target="_blank">10.5281/zenodo.1844717</a> is the archive.

[2018-12-02 15:46] arfon commented on #911
@whedon accept

[2018-12-02 15:46] whedon commented on #911
[code]

[2018-12-02 15:46] whedon commented on #911
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/92

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/92, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-02 15:47] arfon commented on #911
@whedon accept deposit=true

[2018-12-02 15:47] whedon commented on #911
[code]

[2018-12-02 15:48] whedon commented on #911
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/93
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00911](https://doi.org/10.21105/joss.00911)
2. If everything looks goo

[2018-12-02 15:48] arfon commented on #911
@davidnsousa - I wonder if there's a way to truncate the output of your examples so they don't overflow the margins? We'll accept now and can tweak the appearance later if you want to.

[2018-12-02 15:49] arfon commented on #911
@maxheld83 - many thanks for your review here ✨

@davidnsousa @joaordaniel - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-02 15:49] #911 closed

[2018-12-02 15:49] whedon commented on #911
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00911/status.svg)](https://doi.org/10.21105/joss.00911)

**We need your help!**

Journal of Open Source Softwar

[2018-12-02 16:08] davidnsousa commented on #911
@whedon generate pdf

[2018-12-02 16:08] whedon commented on #911
[code]

[2018-12-02 16:12] davidnsousa commented on #911
@arfon @maxheld83 thank you both!

I fixed the margins issue. I attempted to generate a new pdf... I hope it s fixed.

[2018-12-02 17:00] wino6687 commented on #1018
@whedon set 10.5281/zenodo.1849824 as archive

[2018-12-02 17:00] whedon commented on #1018
I'm sorry @wino6687, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-12-02 17:01] wino6687 commented on #1018
Looks like I can't do that! Thank you @usethedata for the review, and @kyleniemeyer, the archive is 10.5281/zenodo.1849824

Thank you!!

[2018-12-02 19:34] ybayle commented on #1094
*[First part of the review]*

 `- Version: Does the release version given match the GitHub release (v1.0.0)?`

There is no release currently (cf https://github.com/carterenyi/emviz/releases). Would it be possible to have a released version or is it preferable to wait for the end of the review process?

`- Authorship: Does the full list of paper authors seem appropriate and complete?`

There is no

[2018-12-02 20:38] arokem commented on #855
@whedon set 10.5281/zenodo.1761769 as archive

[2018-12-02 20:38] whedon commented on #855
OK. <a href="https://doi.org/10.5281/zenodo.1761769" target="_blank">10.5281/zenodo.1761769</a> is the archive.

[2018-12-02 20:38] arokem commented on #855
@arfon : I believe this article is ready to go!

[2018-12-02 20:40] arokem commented on #1088
Yes. That all makes sense. Thanks for your candor, @fmohr.

Let's keep looking for a reviewer that speaks Python...

[2018-12-02 20:42] arfon commented on #855
@whedon accept

[2018-12-02 20:42] whedon commented on #855
[code]

[2018-12-02 20:44] whedon commented on #855
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/94

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/94, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-02 20:46] arokem commented on #1088
Hey @krother, @nilesh-patil : would either or both of you be willing to review this article for JOSS?

[2018-12-02 20:47] arfon commented on #855
@whedon accept deposit=true

[2018-12-02 20:47] whedon commented on #855
[code]

[2018-12-02 20:49] whedon commented on #855
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/95
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00855](https://doi.org/10.21105/joss.00855)
2. If everything looks goo

[2018-12-02 20:56] maxrousseau commented on #855
All looks good! Thank you all!

[2018-12-02 21:13] arfon commented on #855
@glemaitre, @mnarayan - many thanks for your reviews here and to @arokem for editing this submission ✨

@maxrousseau - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-02 21:13] #855 closed

[2018-12-02 21:13] whedon commented on #855
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00855/status.svg)](https://doi.org/10.21105/joss.00855)

**We need your help!**

Journal of Open Source Softwar

[2018-12-02 21:42] AlexPof commented on #981
I have added the necessary instructions, uploaded the new version on PyPi, and also uploaded the repo to zenodo. The DOI of the zenodo archived version is 10.5281/zenodo.1857913

[2018-12-02 22:11] danehkar commented on #899
@arfon The paper looks fine, but there is an issue in the citation order and style:

- For `[see e.g. @Danehkar:2013; @Danehkar:2014; @Danehkar:2016; @Danehkar:2018]`:

  should be:

- For `[@Ercolano:2003; @Ercolano:2005]`:

  should be

- For `[@Danehkar:2016; @Danehkar:2018]`:

  should be

- For `[see e.g. @Danehkar:2013; @Danehkar:2014; @Danehkar:2014b]`:

  should be

- I do not think it is

[2018-12-02 22:39] danielskatz commented on #981
@whedon set 10.5281/zenodo.1857913 as archive

[2018-12-02 22:39] whedon commented on #981
OK. <a href="https://doi.org/10.5281/zenodo.1857913" target="_blank">10.5281/zenodo.1857913</a> is the archive.

[2018-12-02 22:40] danielskatz commented on #981
@whedon accept

[2018-12-02 22:40] whedon commented on #981
[code]

[2018-12-02 22:40] whedon commented on #981
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/96

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/96, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-02 22:43] danielskatz commented on #981
@whedon accept deposit=true

[2018-12-02 22:43] whedon commented on #981
[code]

[2018-12-02 22:43] whedon commented on #981
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/97
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00981](https://doi.org/10.21105/joss.00981)
2. If everything looks goo

[2018-12-02 22:46] danielskatz commented on #981
@AlexPof - your paper is now accepted into JOSS ⚡️🚀💥

[2018-12-02 22:47] danielskatz commented on #981
@drvinceknight - thanks for your review!

[2018-12-02 23:41] brainstorm commented on #1104
I would love to, but LabVIEW is not OSS but proprietary, closed software. Is there any other means to review this software that does not require to run LabVIEW?

[2018-12-03 00:54] amoeba commented on #1064
Hi @trallard, all review checklist items have been satisfactorily met by the authors and I now change my review to Accept.

[2018-12-03 01:06] #981 closed

[2018-12-03 01:07] whedon commented on #981
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00981/status.svg)](https://doi.org/10.21105/joss.00981)

**We need your help!**

Journal of Open Source Softwar

[2018-12-03 02:45] danehkar commented on #798
@whedon generate pdf

[2018-12-03 02:45] whedon commented on #798
[code]

[2018-12-03 02:46] whedon commented on #798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00798/joss.00798/10.21105.joss.00798.pdf)

[2018-12-03 02:51] danehkar commented on #899
@arfon I now switched to the APA citation style. I checked it here [#798](https://github.com/openjournals/joss-reviews/issues/798). You can reproduce the article proof. Thanks.

[2018-12-03 05:36] soodoku commented on #1023
hey @arfon: go for it.

[2018-12-03 11:35] martlj commented on #1029
Hi,

sorry, I can’t help this time.

Cheers,
Martin

[2018-12-03 12:49] dzhoshkun commented on #1104
Thanks @yochannah No worries. I wasn't sure about whom to suggest either, but just saw the keyword "API" in your short biography, so this is why I suggested you.

[2018-12-03 12:50] trallard commented on #1064
@whedon generate pdf

[2018-12-03 12:50] whedon commented on #1064
[code]

[2018-12-03 12:51] whedon commented on #1064
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01064/joss.01064/10.21105.joss.01064.pdf)

[2018-12-03 12:52] trallard commented on #1064
@zkuralt since @amoeba has now recommended the acceptance of the package we need you to complete the following actions:
- [  ] confirm that the version of the paper in the master branch is the final version
- [  ] make a new release of the package, upload the revised software to your DOI-granting data/software repository, and post the DOI here

[2018-12-03 12:54] trallard commented on #1107
Thanks for the note @akdiem I will revise the submission guide and make this clearer for future releases

[2018-12-03 13:05] Kevin-Mattheus-Moerman commented on #1104
I'm contacting some potential reviewers.

[2018-12-03 13:38] dzhoshkun commented on #1104
Thanks @brainstorm

The software is conceptualised as an extensible API that builds into a DLL (please note that it still needs the proprietary Sonix SDK for capturing live ultrasound data). We had to make some effort for making it LabVIEW compatible. And therefore we wanted to make it available to the community, such that for instance other research groups with similar setups could benefit from a

[2018-12-03 13:39] dzhoshkun commented on #1104
Thanks @Kevin-Mattheus-Moerman

[2018-12-03 13:45] dzhoshkun commented on #1104
Regarding the PDF compilation error (https://github.com/openjournals/joss-reviews/issues/1104#issuecomment-442479759): it seems to be related to the [fake markdown footnote](https://stackoverflow.com/a/25584585) I've introduced for indicating joint first authorship. Any recommendation how this should/could be achieved in the journal's manuscript format ?

[2018-12-03 13:49] arfon commented on #899
@whedon generate pdf

[2018-12-03 13:49] whedon commented on #899
[code]

[2018-12-03 13:50] whedon commented on #899
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00899/joss.00899/10.21105.joss.00899.pdf)

[2018-12-03 13:50] arfon commented on #1023
@masspastore - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-12-03 13:52] trinker commented on #1096
@garretrc Thanks for addressing the couple of GitHub issues. These have been addressed/resolved.

@yochannah I have also completed my review and also recommend acceptance of the current GitHub version (garretrc/ggvoronoi@c9ba48f).

[2018-12-03 13:58] slithiaote commented on #1005
@yochannah I replied to the issue/report on Nov 7th. At least part of the problem seems to be Windows, which is not a supported platform. I have asked for more input, but @tpetricek did not reply and I am hesitant to ping.

[2018-12-03 15:39] kthyng commented on #1074
Hey @chadagreene! Are you able and willing to review this submission in this next two weeks? I think you'd be a good fit. You can get more info on reviewing [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2018-12-03 16:36] terrytangyuan commented on #1087
@nproellochs By "performance", you meant the statistical performance, right? What about computational performance and benchmarks? RL is mostly popular in large scale applications but your package doesn't seem to support that.

[2018-12-03 17:12] nproellochs commented on #1087
@terrytangyuan In typical application scenarios, batch reinforcement learning also speeds up computational performance as it mitigates the ‘exploration overhead’ problem in pure online learning. In combination with experience replay, it speeds up convergence by collecting and replaying observed state transitions repeatedly to the agent as if they were new observations collected while interacting w

[2018-12-03 17:23] mdpiper commented on #899
@danehkar Thanks for addressing all the issues I raised. I've checked off the last item on my review checklist, so my review is complete!

[2018-12-03 18:06] lheagy commented on #808
Hi @viktor76525, just a quick update for you: I have been in touch with @leouieda and @hugoledoux via email. They will jump back in as soon as they can. This is a busy time of year for everyone!

[2018-12-03 18:07] dlagrava commented on #1107
@akdiem I have gone through the installation part. It is really a great idea to provide a Docker container. My only comment at this point is that the `python` command inside the container points to python 2, and you need to specifically need to execute the code with `python3`. Could you please update the readthedocs to reflect this or make the default python to be 3 on the Dockerfile. Thanks.

[2018-12-03 19:13] romunov commented on #1064
I have confirmed that the latest release corresponds to what has been put up for review and includes subsequent changes suggested by the reviewer.

Source code of v0.9 release has been deposited in Zenodo under DOI [10.5281/zenodo.1890359](https://zenodo.org/record/1890359).

[2018-12-03 19:39] danehkar commented on #899
@mdpiper @mgalloy Thank you for reviewing this software.

@arfon Thank you for handling and editing this submission. I made an archived of the reviewed software in Zenodo: doi:[10.5281/zenodo.1890337](https://doi.org/10.5281/zenodo.1890337)

[2018-12-03 19:50] danielskatz commented on #1114
@whedon set https://github.com/zhangning737/rdbsp as repository

[2018-12-03 19:53] danielskatz commented on #1114
👋  @zhangning737 - there is going to need to be quite a bit more information in the README.  For example, I was going to use that to assign an editor, which I can't do without having some idea what this software does.  Some of the content from the paper probably needs to be copied into the README.  You also might want to look at the [review criteria](https://joss.readthedocs.io/en/latest/review_cr

[2018-12-03 19:56] danielskatz commented on #1114
👋 @lheagy - I think you are the best-suited editor for this submission - can you handle it?

[2018-12-03 19:59] danielskatz commented on #1113
👋 @kyleniemeyer - I think you might be the closest editor for this topic - are you willing to handle it?

[2018-12-03 20:01] danielskatz commented on #1089
@jedbrown , since it seems that you have been doing editor work, I'm going to assign this to you.  If you feel it should be @kthyng instead, please discuss it between you and reassign it if that's what you both decide.

[2018-12-03 20:01] danielskatz commented on #1089
@whedon assign @jedbrown as editor

[2018-12-03 20:01] whedon commented on #1089
OK, the editor is @jedbrown

[2018-12-03 20:02] danielskatz commented on #1048
👋 @mgymrek - would you be able to edit this submission for JOSS? (reposting)

[2018-12-03 20:10] dlagrava commented on #1107
@akdiem I have tried to run the unit tests that you have provided. The `test_artery_network.py` does not work as the class it reffers to seems to have changed from "Artery_Network" to "ArteryNetwork". Thanks.

[2018-12-03 20:19] danielskatz commented on #1039
👋 @arokem - would you be willing to edit this submission for JOSS? (reposting)

[2018-12-03 20:38] betteridiot commented on #1080
How is this going? Should I start reviewing?

[2018-12-03 21:00] mvdh7 commented on #1074
Hey, happy to give it a go. Sorry, I haven't had any notifications when you @ me, so I've only just seen this now (thanks to Twitter).

[2018-12-03 21:05] chadagreene commented on #1074
The toolbox looks interesting and nicely documented, but I'm afraid I'm in over my head this month with deadlines, so I must decline. Feel free to ask again in the future.

[2018-12-04 00:54] arfon commented on #899
@whedon set 10.5281/zenodo.1890337 as archive

[2018-12-04 00:54] whedon commented on #899
OK. <a href="https://doi.org/10.5281/zenodo.1890337" target="_blank">10.5281/zenodo.1890337</a> is the archive.

[2018-12-04 00:54] arfon commented on #899
@whedon accept

[2018-12-04 00:54] whedon commented on #899
[code]

[2018-12-04 00:55] whedon commented on #899
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/98

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/98, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-04 00:56] arfon commented on #899
@whedon accept deposit=true

[2018-12-04 00:56] whedon commented on #899
[code]

[2018-12-04 00:57] whedon commented on #899
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/99
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00899](https://doi.org/10.21105/joss.00899)
2. If everything looks goo

[2018-12-04 00:59] arfon commented on #899
@mdpiper, @mgalloy - many thanks for your reviews here ✨

@danehkar - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-04 00:59] #899 closed

[2018-12-04 00:59] whedon commented on #899
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00899/status.svg)](https://doi.org/10.21105/joss.00899)

**We need your help!**

Journal of Open Source Softwar

[2018-12-04 01:01] arfon commented on #1080
@betteridiot - I had hoped to find a second reviewer but am struggling. Let's move forward with just yourself - I'll be along for the ride too if you need my assistance :-)

[2018-12-04 01:01] arfon commented on #1080
@whedon start review

[2018-12-04 01:01] #1080 closed

[2018-12-04 01:01] whedon opened #1115 "[REVIEW]: Hickle: A HDF5-based Python pickle replacement"
**Submitting author:** @telegraphic (<a href="http://orcid.org/0000-0003-2783-1608">Danny Price</a>)
**Repository:** <a href="https://github.com/telegraphic/hickle" target ="_blank">https://github.com/telegraphic/hickle</a>
**Version:** v3.2.2
**Editor:** @arfon
**Reviewer:** @betteridiot
**Archive:** <a href="https://doi.org/10.5281/zenodo.2345649" target="_blank">10.5281/zenodo.2345649</a>

## S

[2018-12-04 01:01] whedon commented on #1080
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1115. Feel free to close this issue now!

[2018-12-04 01:01] whedon commented on #1115
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @betteridiot it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-12-04 01:01] whedon commented on #1115
[code]

[2018-12-04 01:02] whedon commented on #1115
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01115/joss.01115/10.21105.joss.01115.pdf)

[2018-12-04 01:02] arfon commented on #1080
@betteridiot @telegraphic see you both over in #1115 where the actual JOSS review takes place.

[2018-12-04 01:55] betteridiot commented on #1115
Thank you. I see the checklist and proof. I will get back to you as soon as possible.

[2018-12-04 01:59] jedbrown commented on #1104
Try [Pandoc footnotes](https://pandoc.org/MANUAL.html#footnotes)

[2018-12-04 02:08] karlkumbier commented on #1077
Thanks @arokem. The doi is: 10.5281/zenodo.1901907

[2018-12-04 05:17] lheagy commented on #1114
Thanks @danielskatz: I don't have much experience with C / C++ , but I would be happy to be the editor on this submission

[2018-12-04 05:18] lheagy commented on #1114
@whedon assign @lheagy as editor

[2018-12-04 05:18] whedon commented on #1114
OK, the editor is @lheagy

[2018-12-04 05:31] lheagy commented on #1114
👋 Hi @zhangning737, thanks for your submission to JOSS. Before we send this out for review, please have a look at the [JOSS review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html). Specifically,
- [ ] an [OSI approved license](https://opensource.org/licenses/alphabetical) needs to be included in the repository
- [ ] documentation for the software should be provided. This shoul

[2018-12-04 09:58] dzhoshkun commented on #1104
@whedon commands

[2018-12-04 09:58] whedon commented on #1104
Here are some things you can ask me to do:

[code]

[2018-12-04 09:59] dzhoshkun commented on #1104
@whedon generate pdf

[2018-12-04 09:59] whedon commented on #1104
[code]

[2018-12-04 09:59] whedon commented on #1104
PDF failed to compile for issue #1104 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Dzhoshkun Shakir[, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:57:in `e

[2018-12-04 10:09] dzhoshkun commented on #1104
@whedon generate pdf from branch fix-joint-1-author-fn

[2018-12-04 10:09] whedon commented on #1104
[code]

[2018-12-04 10:09] whedon commented on #1104
PDF failed to compile for issue #1104 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Dzhoshkun Shakir[, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:57:in `e

[2018-12-04 10:11] dzhoshkun commented on #1104
@whedon generate pdf from branch fix-joint-1-author-fn

[2018-12-04 10:11] whedon commented on #1104
[code]

[2018-12-04 10:11] whedon commented on #1104
PDF failed to compile for issue #1104 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Dzhoshkun Shakir[, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:57:in `e

[2018-12-04 10:17] dzhoshkun commented on #1104
@whedon generate pdf from branch fix-joint-1-author-fn

[2018-12-04 10:17] whedon commented on #1104
[code]

[2018-12-04 10:17] whedon commented on #1104
PDF failed to compile for issue #1104 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Dzhoshkun Shakir[, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-c44264c87f39/lib/whedon/author.rb:57:in `e

[2018-12-04 10:20] dzhoshkun commented on #1104
Even though I [added quotes around multiple affiliation indices](https://raw.githubusercontent.com/gift-surg/Xono2L/fix-joint-1-author-fn/paper/paper.md) as [shown in the example](https://raw.githubusercontent.com/arfon/fidgit/master/paper/paper.md), the PDF generation still fails with the same error. Any ideas?

[2018-12-04 10:21] dzhoshkun commented on #1104
@jedbrown Thanks for the hint on padnoc footnotes.

[2018-12-04 11:03] masspastore commented on #1023
Thanks @arfon - Sure, just done; here is the link: https://zenodo.org/record/1920397#.XAZeVeLTU2x. Doi for Zenodo is 10.5281/zenodo.1920397

[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1920397.svg)](https://doi.org/10.5281/zenodo.1920397)

[2018-12-04 11:08] arfon commented on #1023
@whedon set 10.5281/zenodo.1920397 as archive

[2018-12-04 11:08] whedon commented on #1023
OK. <a href="https://doi.org/10.5281/zenodo.1920397" target="_blank">10.5281/zenodo.1920397</a> is the archive.

[2018-12-04 11:10] arfon commented on #1023
@whedon accept

[2018-12-04 11:10] whedon commented on #1023
[code]

[2018-12-04 11:11] whedon commented on #1023
PDF failed to compile for issue #1023 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    170      0 --:--:-- --:--:-- --:--:--   171
/app/vendor/bundl

[2018-12-04 11:20] arfon commented on #1023
@whedon accept

[2018-12-04 11:21] arfon commented on #1023
@whedon accept

[2018-12-04 11:21] whedon commented on #1023
[code]

[2018-12-04 11:22] whedon commented on #1023
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/100

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/100, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-04 12:53] dzhoshkun commented on #1104
@whedon generate pdf from branch fix-joint-1-author-fn

[2018-12-04 12:54] whedon commented on #1104
[code]

[2018-12-04 12:54] whedon commented on #1104
PDF failed to compile for issue #1104 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Dzhoshkun Shakir[, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:57:in `e

[2018-12-04 12:55] dzhoshkun commented on #1104
@whedon generate pdf from branch fix-joint-1-author-fn

[2018-12-04 12:55] whedon commented on #1104
[code]

[2018-12-04 12:55] whedon commented on #1104
PDF failed to compile for issue #1104 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Dzhoshkun Shakir[, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:57:in `e

[2018-12-04 12:57] dzhoshkun commented on #1104
@whedon generate pdf from branch this-branch-does-not-exist

[2018-12-04 12:57] whedon commented on #1104
[code]

[2018-12-04 12:57] whedon commented on #1104
PDF failed to compile for issue #1104 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Dzhoshkun Shakir[, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:57:in `e

[2018-12-04 13:05] dzhoshkun commented on #1104
@whedon generate pdf

[2018-12-04 13:05] whedon commented on #1104
[code]

[2018-12-04 13:06] whedon commented on #1104
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01104/joss.01104/10.21105.joss.01104.pdf)

[2018-12-04 13:18] dzhoshkun commented on #1104
@whedon generate pdf

[2018-12-04 13:18] whedon commented on #1104
[code]

[2018-12-04 13:18] whedon commented on #1104
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01104/joss.01104/10.21105.joss.01104.pdf)

[2018-12-04 13:30] dzhoshkun commented on #1104
@whedon generate pdf

[2018-12-04 13:30] whedon commented on #1104
[code]

[2018-12-04 13:30] whedon commented on #1104
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01104/joss.01104/10.21105.joss.01104.pdf)

[2018-12-04 13:33] dzhoshkun commented on #1104
Apologies for cluttering the thread with the PDF generation commands. I'm giving up on using/faking footnotes for indicating co-first authorship, as this yields undesired artefacts in the generated PDF. Doing it inline instead. @arfon I hope this is acceptable?

[2018-12-04 13:37] danielskatz commented on #1104
I think the way you've done it is fine.

[2018-12-04 14:21] eendebakpt commented on #1097
@whedon generate pdf from branch feat/updates_paper_alan

[2018-12-04 14:21] whedon commented on #1097
[code]

[2018-12-04 14:21] whedon commented on #1097
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01097/joss.01097/10.21105.joss.01097.pdf)

[2018-12-04 14:41] arfon commented on #1097
Just a heads up @eendebakpt - compiling from a branch doesn't seem to work very well. You might have to merge to `master` to see new changes with @whedon.

[2018-12-04 15:09] dzhoshkun commented on #1104
@whedon generate pdf

[2018-12-04 15:09] whedon commented on #1104
[code]

[2018-12-04 15:09] whedon commented on #1104
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01104/joss.01104/10.21105.joss.01104.pdf)

[2018-12-04 15:41] gjeuken commented on #1007
Hi all, sorry about the delay.
I still haven't manage to run the entire Notebook. the specific error I get is the following:
[code]

Which happens because the profile object is created in else clause that is never executed.

But just to be clear, my main question regarding this review was how much in detail should I look at the methods, and that is because I am used to reviewing papers for scienti

[2018-12-04 18:11] kyleniemeyer commented on #1018
@whedon set 10.5281/zenodo.1849824 as archive

[2018-12-04 18:11] whedon commented on #1018
OK. <a href="https://doi.org/10.5281/zenodo.1849824" target="_blank">10.5281/zenodo.1849824</a> is the archive.

[2018-12-04 20:35] yochannah commented on #1096
@whedon generate pdf

[2018-12-04 20:35] whedon commented on #1096
[code]

[2018-12-04 20:35] whedon commented on #1096
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01096/joss.01096/10.21105.joss.01096.pdf)

[2018-12-04 21:01] ailiop commented on #1076
Hi @Kevin-Mattheus-Moerman : did you run into any difficulties with the code that I could help with by any chance? I do not mean to press, just seeing if there is anything I can do.

[2018-12-04 21:44] yochannah commented on #1096
@whedon set 10.5281/zenodo.1933346 as archive

[2018-12-04 21:45] whedon commented on #1096
OK. <a href="https://doi.org/10.5281/zenodo.1933346" target="_blank">10.5281/zenodo.1933346</a> is the archive.

[2018-12-05 00:38] arfon commented on #1096
@whedon accept

[2018-12-05 00:38] whedon commented on #1096
[code]

[2018-12-05 00:38] whedon commented on #1096
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/101

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/101, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-05 00:42] arfon commented on #1096
@whedon accept deposit=true

[2018-12-05 00:42] whedon commented on #1096
[code]

[2018-12-05 00:43] whedon commented on #1096
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/102
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01096](https://doi.org/10.21105/joss.01096)
2. If everything looks go

[2018-12-05 02:12] arfon commented on #1096
@trinker, @corybrunson - many thanks for your reviews here and to @yochannah for editing this submission ✨

@garretrc - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-05 02:12] #1096 closed

[2018-12-05 02:13] whedon commented on #1096
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01096/status.svg)](https://doi.org/10.21105/joss.01096)

**We need your help!**

Journal of Open Source Softwar

[2018-12-05 02:42] kyleniemeyer commented on #1113
Yes, I can handle this one.

[2018-12-05 02:42] kyleniemeyer commented on #1113
@whedon set @kyleniemeyer as editor

[2018-12-05 02:43] kyleniemeyer commented on #1113
@whedon assign @kyleniemeyer as editor

[2018-12-05 02:43] whedon commented on #1113
OK, the editor is @kyleniemeyer

[2018-12-05 02:45] kyleniemeyer commented on #1113
@bryanwweber do you have the bandwidth to review this? Looks similar to stuff you've worked on (and teach 😄 )

[2018-12-05 05:32] arokem commented on #1077
@whdeon set 10.5281/zenodo.1901907 as archive

[2018-12-05 05:32] arokem commented on #1077
@whedon set 10.5281/zenodo.1901907 as archive

[2018-12-05 05:32] whedon commented on #1077
OK. <a href="https://doi.org/10.5281/zenodo.1901907" target="_blank">10.5281/zenodo.1901907</a> is the archive.

[2018-12-05 05:32] arokem commented on #1077
@arfon : I believe that this paper is ready to be accepted!

[2018-12-05 08:32] Kevin-Mattheus-Moerman commented on #1076
Hi @ailiop apologies for the delay. I'm starting review today. I'll let you know if there are any issues.

[2018-12-05 08:32] Kevin-Mattheus-Moerman commented on #1076
@wouterpotters would you be interested in helping with this review? Flow inversion sounds like your :tea: ?

[2018-12-05 09:04] dzhoshkun commented on #1104
@FaustinCarter Would you be able to (help) edit this submission?

[2018-12-05 10:01] masspastore commented on #1023
Hi @arfon, I updated the bib file with all avaliable DOIs

Thanks

[2018-12-05 12:52] bryanwweber commented on #1113
@kyleniemeyer Sure, would be happy to!

[2018-12-05 13:09] whedon opened #1116 "[PRE REVIEW]: swsc: A sitewise UCE partitioner"
**Submitting author:** @RHagenson (<a href="http://orcid.org/0000-0001-9750-1925">Ryan Hagenson</a>)
**Repository:** <a href="https://bitbucket.org/RHagenson/swsc/" target ="_blank">https://bitbucket.org/RHagenson/swsc/</a>
**Version:** v6.0.1
**Editor:** @pjotrp
**Reviewers:** @urbanslug

**Author instructions**

Thanks for submitting your paper to JOSS @RHagenson. The JOSS editor (shown at the t

[2018-12-05 13:09] whedon commented on #1116
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@pjotrp) to find some reviewers for yo

[2018-12-05 13:09] whedon commented on #1116
[code]

[2018-12-05 13:10] arfon commented on #1116
👋 @pjotrp - the submitting author suggested you as the handling editor.

[2018-12-05 13:10] whedon opened #1117 "[PRE REVIEW]: Cadabra2: computer algebra for field theory revisited"
**Submitting author:** @kpeeters (<a href="http://orcid.org/0000-0002-3077-8193">Kasper Peeters</a>)
**Repository:** <a href="https://github.com/kpeeters/cadabra2" target ="_blank">https://github.com/kpeeters/cadabra2</a>
**Version:** 2.2.2
**Editor:** @danielskatz
**Reviewers:** @StewMH, @henrik227

**Author instructions**

Thanks for submitting your paper to JOSS @kpeeters. The JOSS editor (show

[2018-12-05 13:10] whedon commented on #1117
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-05 13:10] whedon commented on #1117
[code]

[2018-12-05 13:10] whedon commented on #1117
PDF failed to compile for issue #1117 with the following error:

 Can't find any papers to compile :-(

[2018-12-05 13:33] danielskatz commented on #1077
👋 @road2stat - thanks for your review, and @arokem, thanks for editing

[2018-12-05 13:34] danielskatz commented on #1077
@whedon accept

[2018-12-05 13:34] whedon commented on #1077
[code]

[2018-12-05 13:34] whedon commented on #1077
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/103

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/103, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-05 13:37] danielskatz commented on #1077
@whedon accept deposit=true

[2018-12-05 13:37] whedon commented on #1077
[code]

[2018-12-05 13:38] whedon commented on #1077
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/104
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01077](https://doi.org/10.21105/joss.01077)
2. If everything looks go

[2018-12-05 13:40] danielskatz commented on #1077
👋 @karlkumbier -  your paper is now accepted into JOSS ⚡️🚀💥

[2018-12-05 13:40] #1077 closed

[2018-12-05 13:40] whedon commented on #1077
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01077/status.svg)](https://doi.org/10.21105/joss.01077)

**We need your help!**

Journal of Open Source Softwar

[2018-12-05 13:41] danielskatz commented on #1073
👋 @acolum & @rljacobson - I'm just checking in on your reviews again...

[2018-12-05 13:44] danielskatz commented on #1117
@whedon assign @danielskatz as editor

[2018-12-05 13:44] whedon commented on #1117
OK, the editor is @danielskatz

[2018-12-05 13:48] danielskatz commented on #1117
@kpeeters - you should put the paper contents (md, bib) in a paper directory, then add a new comment here with the line
```@whedon generate pdf```
to build it

[2018-12-05 13:55] dzhoshkun commented on #1104
Adding @tvercaut to this thread as well.

[2018-12-05 14:16] kpeeters commented on #1117
@whedon generate pdf

[2018-12-05 14:16] whedon commented on #1117
[code]

[2018-12-05 14:18] whedon commented on #1117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01117/joss.01117/10.21105.joss.01117.pdf)

[2018-12-05 14:21] danielskatz commented on #1117
It looks like there might be some reference issue that you can clean up, but we should also start getting reviewers.  Do you have any suggestions for potential reviewers? [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable.

[2018-12-05 14:32] kpeeters commented on #1117
@whedon generate pdf

[2018-12-05 14:32] whedon commented on #1117
[code]

[2018-12-05 14:35] whedon commented on #1117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01117/joss.01117/10.21105.joss.01117.pdf)

[2018-12-05 14:38] kpeeters commented on #1117
@whedon generate pdf

[2018-12-05 14:38] whedon commented on #1117
[code]

[2018-12-05 14:39] kpeeters commented on #1117
Am fixing the refs (is there a recommended tool to generate pdf locally?).

Will have a scan through that list, will get back to you asap.

[2018-12-05 14:39] whedon commented on #1117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01117/joss.01117/10.21105.joss.01117.pdf)

[2018-12-05 14:42] danielskatz commented on #1117
https://github.com/openjournals/joss/issues/379 might be helpful for understanding the paper generation process

👋 @arfon - maybe we need to move some of this into our docs, rather than leaving it as an issue?

[2018-12-05 14:42] kpeeters commented on #1117
@whedon generate pdf

[2018-12-05 14:42] whedon commented on #1117
[code]

[2018-12-05 14:44] whedon commented on #1117
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01117/joss.01117/10.21105.joss.01117.pdf)

[2018-12-05 14:44] kpeeters commented on #1117
@arfon @danielskatz Definitely put that in your docs please.

[2018-12-05 14:55] tpetricek commented on #1005
@slithiaote I missed the reply. Sorry. I just added a comment on the issue.

That said, I think there are other issues (see my comment above) that need to be addressed before this can be accepted as a JOSS publication - there are a few things that the JOSS checklist requires that I think are not yet satisfied by lepton.

[2018-12-05 14:59] kpeeters commented on #1117
As for reviewer suggestions: andrewfowlie, StewMH, rljacobson, moorepants, henrik227.

[2018-12-05 15:11] Chilipp commented on #1095
Dear @gidden and @danielhuppmann . I reviewed your software today and I very much appreciate your work. I find this as a very useful and nicely documented piece of software and I very much appreciated the review. There are only minor revisions that I can present

- [ ] **Installation instructions**

  The list of dependencies is missing in the [install instructions](http://software.ene.iiasa.ac.at

[2018-12-05 15:13] Fahima-Islam commented on #1007
@gjeuken No need to be sorry, I'm very grateful you found a bug in the notebook! I have just pushed the fix to master.
Again, thanks for running the notebook :smiley:

[2018-12-05 15:16] jmborr commented on #1007
@gjeuken ooops, I posted through the github page that the other collaborator had left open in my browser hahaha.

[2018-12-05 16:48] kyleniemeyer commented on #1113
@whedon add @bryanwweber as reviewer

[2018-12-05 16:48] whedon commented on #1113
OK, @bryanwweber is now a reviewer

[2018-12-05 16:49] kyleniemeyer commented on #1113
@dmey I am going to find a second reviewer; any suggestions are welcome, though I have a few colleagues I will ask.

[2018-12-05 16:49] danielskatz commented on #1117
👋 @andrewfowlie, @StewMH, @moorepants, @henrik227

Would any of you be willing to review this JOSS submission?

[2018-12-05 16:50] danielskatz commented on #1117
@kpeeters - do all the references that have DOIs lists them in the bib?

[2018-12-05 16:50] kyleniemeyer commented on #1104
@Kevin-Mattheus-Moerman it looks like you are planning to edit this submission, so I will go ahead and formalize that 😄

[2018-12-05 16:51] kyleniemeyer commented on #1104
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-12-05 16:51] whedon commented on #1104
OK, the editor is @Kevin-Mattheus-Moerman

[2018-12-05 16:52] StewMH commented on #1117
Hi @danielskatz,

I'd be happy to review this - my first time as a reviewer.

Cheers,
Stewart

[2018-12-05 17:08] jschnab commented on #1029
@arfon - Hi, could I suggest a referee who is not on the list provided?

[2018-12-05 17:09] kpeeters commented on #1117
@danielskatz Will check all entries to see if any DOIs can be added (not a very common way to cite in my field).

[2018-12-05 17:43] arfon commented on #1023
@whedon accept

[2018-12-05 17:43] whedon commented on #1023
[code]

[2018-12-05 17:44] whedon commented on #1023
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/105

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/105, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-05 17:49] arfon commented on #1023
@whedon accept deposit=true

[2018-12-05 17:49] whedon commented on #1023
[code]

[2018-12-05 17:50] whedon commented on #1023
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/106
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01023](https://doi.org/10.21105/joss.01023)
2. If everything looks go

[2018-12-05 17:51] arfon commented on #1023
@soodoku, @russellpierce - many thanks for your reviews here ✨

@masspastore - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-05 17:51] #1023 closed

[2018-12-05 17:52] whedon commented on #1023
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01023/status.svg)](https://doi.org/10.21105/joss.01023)

**We need your help!**

Journal of Open Source Softwar

[2018-12-05 17:53] arfon commented on #1029
Definitely!

[2018-12-05 18:03] RHagenson commented on #1116
I placed the `paper.md` and `paper.bib` under a directory called `paper/`, if that is a problem I can easily move it to the root of the repo. Used an accepted paper as reference for how to layout the source.

[2018-12-05 18:20] arfon commented on #1116
@whedon generate pdf

[2018-12-05 18:20] whedon commented on #1116
[code]

[2018-12-05 18:21] whedon commented on #1116
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01116/joss.01116/10.21105.joss.01116.pdf)

[2018-12-05 18:37] dmey commented on #1113
Thank you both, @kyleniemeyer and @bryanwweber.
@kyleniemeyer, looking at the list of JOSS reviewers, `andreas-h`/`katyhuff`/`wholmgren` looked like they may be appropriate but if you had other colleagues in mind or you can ask that's really good too! Thanks for asking!

[2018-12-05 18:40] dmey commented on #1113
Is everyone OK if I move the figure placement issue -- i.e. force the position of a figure so that it does not end up in between the reference section -- to https://github.com/openjournals/joss/issues?

[2018-12-05 19:51] betteridiot commented on #1115
@telegraphic, there is a DOI available for Raffel 2016: https://doi.org/10.7916/D8N58MHV

[2018-12-05 20:36] bryanwweber commented on #1113
@dmey Rather than using `H` to force the figure placement on the first page, you could consider moving the image up the page, to before the first paragraph and see what happens.

[2018-12-05 20:47] dmey commented on #1113
@whedon generate pdf from dmey/paper

[2018-12-05 20:47] whedon commented on #1113
[code]

[2018-12-05 20:47] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-05 20:53] dmey commented on #1113
@bryanwweber even when the figure is placed at the top of the page, the figure still ends up between the refs. I'll open an issue then.

[2018-12-05 22:00] wino6687 commented on #1018
Hi @kyleniemeyer and @arfon, is there anything else I should be doing right now to help with the process? Thanks!

[2018-12-05 22:13] ailiop commented on #1076
@Kevin-Mattheus-Moerman : That sounds great, thank you.

[2018-12-05 22:16] dmey commented on #1113
@whedon generate pdf from dmey/paper

[2018-12-05 22:16] whedon commented on #1113
[code]

[2018-12-05 22:16] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-05 23:09] andrewfowlie commented on #1117
Hi @danielskatz,

my partner and I have just had a baby so I'm afraid I can't help. I recommend my colleague Peter Athron -  http://inspirehep.net/author/profile/P.Athron.1, github user name pathron

best,

Andrew

[2018-12-05 23:43] FaustinCarter commented on #1104
@dzhoshkun Unfortunately I no longer have access to LabVIEW so I'd be unable to run it/test it.

[2018-12-06 00:58] arfon commented on #1018
@whedon accept

[2018-12-06 00:58] whedon commented on #1018
[code]

[2018-12-06 00:59] arfon commented on #1018
Thanks for the bump. This got lost in the handoff between editors.

[2018-12-06 00:59] whedon commented on #1018
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/107

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/107, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-06 01:00] arfon commented on #1018
@whedon accept deposit=true

[2018-12-06 01:00] whedon commented on #1018
[code]

[2018-12-06 01:01] whedon commented on #1018
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/108
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01018](https://doi.org/10.21105/joss.01018)
2. If everything looks go

[2018-12-06 05:32] leios commented on #1037
@whedon generate pdf

[2018-12-06 05:32] whedon commented on #1037
[code]

[2018-12-06 05:32] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-12-06 05:34] leios commented on #1037
I made a few more smallscale changes to the paper and I believe it is good to go. Thanks for all the help so far and let me know what else needs to be done.

[2018-12-06 09:44] cpontonn commented on #927
@modenaxe , @nicoguaro , @demotu , can we help in any way to advance the review process ?

[2018-12-06 10:39] henrik227 commented on #1117
Hi @danielskatz,

I can review this too.

Henrik

[2018-12-06 10:51] danielskatz commented on #1117
Thanks @StewMH and @henrik227 - I'll add you and start the review

[2018-12-06 10:51] danielskatz commented on #1117
@whedon assign @StewMH as reviewer

[2018-12-06 10:51] whedon commented on #1117
OK, the reviewer is @StewMH

[2018-12-06 10:51] danielskatz commented on #1117
@whedon add @henrik227 as reviewer

[2018-12-06 10:51] whedon commented on #1117
OK, @henrik227 is now a reviewer

[2018-12-06 10:51] dzhoshkun commented on #1104
@FaustinCarter No problem. Thanks for letting us know.

[2018-12-06 10:51] danielskatz commented on #1117
@whedon start review

[2018-12-06 10:51] whedon opened #1118 "[REVIEW]: Cadabra2: computer algebra for field theory revisited"
**Submitting author:** @kpeeters (<a href="http://orcid.org/0000-0002-3077-8193">Kasper Peeters</a>)
**Repository:** <a href="https://github.com/kpeeters/cadabra2" target ="_blank">https://github.com/kpeeters/cadabra2</a>
**Version:** 2.2.2
**Editor:** @danielskatz
**Reviewer:** @StewMH, @henrik227
**Archive:** <a href="https://doi.org/10.5281/zenodo.2500762" target="_blank">10.5281/zenodo.2500762

[2018-12-06 10:51] whedon commented on #1117
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1118. Feel free to close this issue now!

[2018-12-06 10:51] whedon commented on #1118
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @StewMH, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-12-06 10:52] whedon commented on #1118
[code]

[2018-12-06 10:52] #1117 closed

[2018-12-06 10:53] danielskatz commented on #1118
Hi @StewMH and @henrik227 - thanks again for agreeing.  Please read the first comment in this issue, then proceed to perform your review, checking off the boxes in that issue under your name as you do so.  If you have any questions, please let me know.

[2018-12-06 10:53] whedon commented on #1118
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01118/joss.01118/10.21105.joss.01118.pdf)

[2018-12-06 10:56] danielskatz commented on #1097
All - @tanaken-basis has informed me by email that he needs to be taken off this review because of a personal matter.  So I need to find another reviewer - @djmitche, do you have any suggestion for someone else?

[2018-12-06 11:04] danielskatz commented on #1039
👋 @arokem - ping...

[2018-12-06 11:04] danielskatz commented on #1048
👋 @mgymrek - ping...

[2018-12-06 11:48] dmey commented on #1113
@whedon generate pdf from dmey/paper

[2018-12-06 11:48] whedon commented on #1113
[code]

[2018-12-06 11:48] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-06 11:50] arfon commented on #1113
@dmey - the command to compile from a different branch doesn't seem to be working.

[2018-12-06 11:52] dmey commented on #1113
@arfon I was just getting back to you in the issue about this. I think there are two issues here then. One with the `generate from` command to use for testing and the other with the actual figure placement.

[2018-12-06 11:59] dmey commented on #1113
@arfon can you manually set the branch to `dmey/paper` so that we can use it to sort out these draft and during review? For the `generate from` command issue, I noticed that there is already openjournals/joss#471 open. Thanks.

[2018-12-06 14:33] hugoledoux commented on #808
ok @viktor76525 I tried with a clean install under macOS and Python 3.6.5.

1. I can install all Python dependencies successfully.
2. GMT installation is described with MacPort and Fink, but both are old IMO, and there is no way I install such beast in my system! Better to use [homebrew](https://brew.sh/), and it's there and it works.
3. once all is setup and I have downloaded the .zip, I get erro

[2018-12-06 14:34] gjeuken commented on #1007
@jmborr
Perfect!
On the hiAPP_clustering_with_properties notebook you need to
`from distutils.spawn import find_executable`
And both of them work perfectly.

@brainstorm
With the notebooks now running, I was able to verify the complete functionality of the software, and I believe that was the only thing still remaining. :)

To both, again, sorry if I caused any delay in the process due to my confu

[2018-12-06 14:40] danielskatz commented on #1097
@gsagnol has been added as the second reviewer - thanks!

[2018-12-06 14:41] danielskatz commented on #1097
👋 @gsagnol - thanks for agreeing to review this submission. Please see the instructions above and feel free to ask me if you have any questions. Otherwise, I will assume that you will work through the checklist items above, and will bring up any issues with the submission with the author (via very short discussion here or via new issues in the source repo), who will resolve them.

[2018-12-06 14:54] hugoledoux commented on #808
ok I realised that there's no xrange() function in Python3... I guess the port to Python3 has not been made for everything?

[2018-12-06 15:11] modenaxe commented on #927
@Kevin-Mattheus-Moerman @cpontonn I will review the updated repository on Monday.

[2018-12-06 15:44] djmitche commented on #1097
This is my first JOSS review so no, I don't have ideas :/

[2018-12-06 16:51] jmborr commented on #1007
@gjeuken oops, that was sloppy from my part, sorry :blush:
I just pushed the fix to master.

[2018-12-06 17:30] ctdegroot commented on #1027
@fospald Seems like I have fixed all of the remaining cmake dependency issues. The last one was to install boost-numeric-bindings. I am now having the following error:

[code]

Any idea where this comes from?

Also, I should note that I had to set the following in the file `CMakeLists.txt`:

``
set (CMAKE_CXX_STANDARD 11)
[code]

[2018-12-06 17:42] ctdegroot commented on #1027
@fospald I also noted that there were errors because my host name had periods in it, so I added the following to `CMakeLists.txt`:

[code]

[2018-12-06 17:48] arfon commented on #1113
Sure, I can compile locally. Here's the current output of `dmey/paper`: [10.21105.joss.01113.pdf](https://github.com/openjournals/joss-reviews/files/2654212/10.21105.joss.01113.pdf)

[2018-12-06 20:34] dmey commented on #1113
@arfon sorry but I meant if you can set `@whedon` to track `dmey/paper` as the default branch instead of `master` for now on so that we can carry out the review there and we would also not have to rely on the `generate from` command which is currently not working -- I would like to keep `master` tidy.

[2018-12-06 21:47] arfon commented on #1113
Whedon can’t do that sorry.

[2018-12-06 22:04] dmey commented on #1113
@whedon generate pdf from "dmey/paper"

[2018-12-06 22:04] whedon commented on #1113
[code]

[2018-12-06 22:05] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-06 22:22] dmey commented on #1113
@whedon generate pdf from branch dmey/paper

[2018-12-06 22:23] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-06 22:30] dmey commented on #1113
@whedon generate pdf from branch dmey/paper

[2018-12-06 22:30] whedon commented on #1113
[code]

[2018-12-06 22:31] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-06 22:32] dmey commented on #1113
@whedon generate pdf from branch dmey/paper

[2018-12-06 22:32] whedon commented on #1113
[code]

[2018-12-06 22:32] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-06 22:34] dmey commented on #1113
@whedon generate pdf from branch dmey/paper

[2018-12-06 22:34] whedon commented on #1113
[code]

[2018-12-06 22:34] whedon commented on #1113
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01113/joss.01113/10.21105.joss.01113.pdf)

[2018-12-06 22:50] dmey commented on #1113
@arfon the branch issue doesn't appear to be an issue after all -- silly me, I was using `generate pdf from <branch_name>` instead of `generate pdf from branch <branch_name>`... 😬. For reference though it may still be good to handle invalid commands in whedon.

I'd say that the latest formatting is now acceptable to review -- perhaps there may be other changes that can be addressed during the revi

[2018-12-07 00:17] brainstorm commented on #1007
Thanks again for your dedication @gjeuken and @jmborr, nothing to be sorry about, good job!

@jmborr Can you let me know when you have a release ready with all the (known) bugs fixed?

[2018-12-07 02:12] viktor76525 commented on #808
Thanks for pointing that out @hugoledoux . Last time Python 3 was meant to have been tested, Python 2 must have managed to sneak in because there is no way it would have worked.
All should be good with Python 3 now, I have tested the first and last samples with Python 3.6.5.

[2018-12-07 04:19] ejdanderson commented on #1055
@brainstorm Sorry for the delay, I'd be happy to review.

[2018-12-07 04:33] brainstorm commented on #1055
@whedon assign @ejdanderson as reviewer

[2018-12-07 04:33] whedon commented on #1055
OK, the reviewer is @ejdanderson

[2018-12-07 04:33] brainstorm commented on #1055
@whedon start review

[2018-12-07 04:33] whedon opened #1119 "[REVIEW]: QComms QKD Software Toolkit"
**Submitting author:** @richardcollins (<a href="http://orcid.org/0000-0002-6238-990X">Richard Collins</a>)
**Repository:** <a href="https://gitlab.com/QComms/cqptoolkit" target ="_blank">https://gitlab.com/QComms/cqptoolkit</a>
**Version:** 0.3
**Editor:** @brainstorm
**Reviewers:** @arturgs
**Archive:** <a href="https://doi.org/10.5281/zenodo.3247364" target="_blank">10.5281/zenodo.3247364</a>

[2018-12-07 04:33] whedon commented on #1055
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1119. Feel free to close this issue now!

[2018-12-07 04:33] whedon commented on #1119
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ejdanderson it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-12-07 04:33] whedon commented on #1119
[code]

[2018-12-07 04:34] whedon commented on #1119
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01119/joss.01119/10.21105.joss.01119.pdf)

[2018-12-07 04:34] brainstorm commented on #1055
That's fantastic @ejdanderson, let's go into it through issue #1119 then, thanks for your time! :)

[2018-12-07 04:34] #1055 closed

[2018-12-07 04:38] ejdanderson commented on #1119
@whedon commands

[2018-12-07 04:38] whedon commented on #1119
Here are some things you can ask me to do:

[code]

[2018-12-07 04:41] brainstorm commented on #1119
@ejdanderson You might want to have a look at https://joss.readthedocs.io/en/latest/review_criteria.html for some guidance on how to tick the boxes above, let me know if you have any doubts about the process. When in doubt, you can check other issues in this same issue tracker and see how different software reviews went, thanks again for your efforts!

[2018-12-07 06:33] wouterpotters commented on #1076
unfortunately my knowledge on this topic is (too) limited to facilitate a
proper review. Maybe one of the CFD experts can help you out?

Best,
Wouter

Op wo 5 dec. 2018 om 09:32 schreef Kevin Mattheus Moerman <
notifications@github.com>

[2018-12-07 10:55] fospald commented on #1027
@ctdegroot Looks like boost gill is missing an extension. Do you have libpng installend? Maybe there is some boost-gil-png-dev extension package? I will try to avoid inclusion of this header.

[2018-12-07 13:01] fospald commented on #1027
@ctdegroot Looks like since Boost 1.68, Boost.GIL is a separate module.
https://github.com/boostorg
Not sure if this solves the issue, but then you maybe have to install this module separately with your installer. I'll update the CMake file.

[2018-12-07 17:12] jmborr commented on #1007
I have uploaded the new version 0.1.7 with all the corrections to [pipy](https://pypi.org/project/idpflex/), and the [corrected documentation](https://idpflex.readthedocs.io/en/stable/)

[2018-12-07 17:46] domoritz commented on #1057
2.3 is out.

[2018-12-07 17:53] domoritz commented on #1057
@jedbrown Here is the archived version of 2.3: https://zenodo.org/record/2030098.

[2018-12-07 18:46] jedbrown commented on #1057
@whedon generate pdf

[2018-12-07 18:47] whedon commented on #1057
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01057/joss.01057/10.21105.joss.01057.pdf)

[2018-12-07 18:57] jedbrown commented on #1057
Thanks! In double-checking, I noticed one more messed up citation (comma should be a semicolon). @arfon Is it possible to possible to include this trivial patch in the paper of record without requiring a new tag/archive?

[code]

[2018-12-07 19:02] arfon commented on #1057
Yes, feel free to just update `master` with the fix.

[2018-12-07 19:07] jedbrown commented on #1057
Thanks. @domoritz Can you apply that trivial fix in the repository?

[2018-12-07 19:14] domoritz commented on #1057
@jakevdp can you apply the patch?

[2018-12-07 19:17] domoritz commented on #1057
@jakevdp Can you merge https://github.com/altair-viz/altair/pull/1258?

[2018-12-07 19:42] ctdegroot commented on #1027
@fospald Ok thanks for the updates. I do have libpng and zlib installed. I will look into installing Boost.GIL separately and hopefully that solves it.

[2018-12-07 19:54] ctdegroot commented on #1027
@fospald I've just installed the headers for boost.gil but as you can see from the repo that you linked, the png_dynamic_io.hpp and png_io.hpp headers are not present in that version.

[2018-12-07 21:30] domoritz commented on #1057
Merged.

@whedon generate pdf

[2018-12-07 21:31] domoritz commented on #1057
@whedon generate pdf

[2018-12-07 21:31] whedon commented on #1057
[code]

[2018-12-07 21:32] whedon commented on #1057
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01057/joss.01057/10.21105.joss.01057.pdf)

[2018-12-07 22:16] whedon opened #1120 "[PRE REVIEW]: scikit-posthocs: Pairwise multiple comparison tests in Python"
**Submitting author:** @maximtrp (<a href="http://orcid.org/0000-0003-2586-4633">Maksim Terpilowski</a>)
**Repository:** <a href="https://github.com/maximtrp/scikit-posthocs" target ="_blank">https://github.com/maximtrp/scikit-posthocs</a>
**Version:** 0.4.0
**Editor:** @katyhuff
**Reviewers:** mnarayan, @djmitche

**Author instructions**

Thanks for submitting your paper to JOSS @maximtrp. The JO

[2018-12-07 22:16] whedon commented on #1120
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-07 22:16] whedon commented on #1120
[code]

[2018-12-07 22:16] whedon opened #1121 "[PRE REVIEW]: UWGeodynamics: A teaching an research tool for numerical geodynamic modelling"
**Submitting author:** @rbeucher (<a href="http://orcid.org/0000-0003-3891-5444">Romain Beucher</a>)
**Repository:** <a href="https://github.com/underworldcode/UWGeodynamics" target ="_blank">https://github.com/underworldcode/UWGeodynamics</a>
**Version:** v1.0.0
**Editor:** @lheagy
**Reviewers:** @techas, @tth030

**Author instructions**

Thanks for submitting your paper to JOSS @rbeucher. The JO

[2018-12-07 22:16] whedon commented on #1121
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@lheagy) to find some reviewers for yo

[2018-12-07 22:16] whedon commented on #1121
[code]

[2018-12-07 22:17] arfon commented on #1121
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-12-07 22:17] whedon commented on #1121
PDF failed to compile for issue #1121 with the following error:

 Can't find any papers to compile :-(

[2018-12-07 22:17] whedon commented on #1120
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01120/joss.01120/10.21105.joss.01120.pdf)

[2018-12-07 22:17] whedon opened #1122 "[PRE REVIEW]: pytransform3d: 3D Transformations for Python"
**Submitting author:** @AlexanderFabisch (<a href="http://orcid.org/0000-0003-2824-7956">Alexander Fabisch</a>)
**Repository:** <a href="https://github.com/rock-learning/pytransform3d" target ="_blank">https://github.com/rock-learning/pytransform3d</a>
**Version:** 1.0
**Editor:** @brainstorm
**Reviewers:** @luizirber

**Author instructions**

Thanks for submitting your paper to JOSS @AlexanderFab

[2018-12-07 22:17] whedon commented on #1122
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-07 22:17] whedon commented on #1122
[code]

[2018-12-07 22:17] whedon commented on #1122
PDF failed to compile for issue #1122 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    511      0 --:--:-- --:--:-- --:--:--   516
Error reading bib

[2018-12-07 22:18] whedon opened #1123 "[PRE REVIEW]: A micro-service digital queue with Shibboleth authentication"
**Submitting author:** @genevievehelsel (<a href="http://orcid.org/0000-0003-2418-1566">Genevieve Helsel</a>)
**Repository:** <a href="https://github.com/illinois/queue" target ="_blank">https://github.com/illinois/queue</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @genevievehelsel. The JOSS editor (shown at the

[2018-12-07 22:18] whedon commented on #1123
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-07 22:18] whedon commented on #1123
[code]

[2018-12-07 22:18] whedon commented on #1123
PDF failed to compile for issue #1123 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443

[2018-12-07 22:18] dnszafir commented on #1057
Sorry for dropping the ball on this! Yes, this kind of thing seems quite relevant. I could imagine that coupling this kind of breakdown with a description of the statistical and analytical goals unveiled with each chart being super useful. Again, just a thought for future work given the target audience.

[2018-12-07 22:21] lheagy commented on #1121
Hi @arfon, I am happy to be an editor on this!

It looks like the paper is in a directory called `joss` - can this be communicated to whedon? or does the paper need to be in root or a `paper` directory

[2018-12-07 22:22] lheagy commented on #1121
@whedon assign @lheagy as editor

[2018-12-07 22:22] whedon commented on #1121
OK, the editor is @lheagy

[2018-12-07 23:09] rbeucher commented on #1121
Hi @lheagy, thanks for accepting to be the editor on this. Just received the list of potential reviewers. Im having a look right now.

[2018-12-07 23:29] jedbrown commented on #1057
:tada:  Many thanks to @terrytangyuan, @kellieotto, and @dnszafir for your reviews. Over to you, @arfon.

[2018-12-08 12:07] AlexanderFabisch commented on #1122
@whedon commands

[2018-12-08 12:08] whedon commented on #1122
Here are some things you can ask me to do:

[code]

[2018-12-08 12:10] AlexanderFabisch commented on #1122
@whedon generate pdf

[2018-12-08 12:10] whedon commented on #1122
[code]

[2018-12-08 12:10] whedon commented on #1122
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01122/joss.01122/10.21105.joss.01122.pdf)

[2018-12-08 12:13] AlexanderFabisch commented on #1122
@whedon generate pdf

[2018-12-08 12:13] whedon commented on #1122
[code]

[2018-12-08 12:14] whedon commented on #1122
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01122/joss.01122/10.21105.joss.01122.pdf)

[2018-12-08 12:20] AlexanderFabisch commented on #1122
@whedon generate pdf

[2018-12-08 12:20] whedon commented on #1122
[code]

[2018-12-08 20:55] genevievehelsel commented on #1123
@whedon generate pdf

[2018-12-08 20:55] whedon commented on #1123
[code]

[2018-12-08 20:55] whedon commented on #1123
PDF failed to compile for issue #1123 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0     29      0 --:--:-- --:--:-- --:--:--    29
Could not find bi

[2018-12-08 20:59] arfon commented on #1057
@whedon accept

[2018-12-08 20:59] whedon commented on #1057
[code]

[2018-12-08 21:00] whedon commented on #1057
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/109

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/109, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-08 21:04] arfon commented on #1057
@whedon accept deposit=true

[2018-12-08 21:04] whedon commented on #1057
[code]

[2018-12-08 21:05] whedon commented on #1057
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/110
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01057](https://doi.org/10.21105/joss.01057)
2. If everything looks go

[2018-12-08 21:07] arfon commented on #1057
@dnszafir, @terrytangyuan, @kellieotto - many thanks for your reviews here and to @jedbrown for editing this submission ✨

@domoritz @jakevdp - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-08 21:07] #1057 closed

[2018-12-08 21:07] whedon commented on #1057
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01057/status.svg)](https://doi.org/10.21105/joss.01057)

**We need your help!**

Journal of Open Source Softwar

[2018-12-09 01:21] acolum commented on #1108
Just completed my review!
The paper, documentation, and code were all excellent, and I was glad to check off all of the requirements above.

[2018-12-09 02:44] rljacobson commented on #1073
Doing ok, @danielskatz. Thanks for checking in.

[2018-12-09 08:02] rbeucher commented on #1121
Hi @lheagy.

Here are some reviewer suggestions:

Sergio Zlotnik from the University of Barcelona,
Jolante van Wijk from New Mexico Tech Earth and Environmental Science
Thorsten Beker from The University of Texas at Austin
Thomas Theunissen from the University of Bergen, Norway

I have found Sergio on github, his pseudo is techas

--

[2018-12-09 09:01] maximtrp commented on #1120
@whedon generate pdf

[2018-12-09 09:01] whedon commented on #1120
[code]

[2018-12-09 09:02] whedon commented on #1120
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01120/joss.01120/10.21105.joss.01120.pdf)

[2018-12-09 12:34] arfon commented on #1123
:wave: @genevievehelsel - thanks for your submission to JOSS. While this looks like a useful piece of software, I'm afraid it's out of scope for JOSS. As [per our submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

This software _may_ be appropriate for our sister journal [JOSE](http://jose.theoj.org/), and I'd encourage you to open an enquiry

[2018-12-09 12:34] #1123 closed

[2018-12-09 23:47] igarizio commented on #1111
@whedon generate pdf

[2018-12-09 23:47] whedon commented on #1111
[code]

[2018-12-09 23:47] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2018-12-09 23:57] igarizio commented on #1111
@whedon generate pdf

[2018-12-09 23:57] whedon commented on #1111
[code]

[2018-12-09 23:57] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2018-12-10 00:33] labarba commented on #1042
👋  @apsabelhaus — We're waiting for you to finish the checklist. Are you still working on your review? Or are you ready to make a recommendation?

[2018-12-10 00:34] igarizio commented on #1111
@whedon generate pdf

[2018-12-10 00:34] whedon commented on #1111
[code]

[2018-12-10 00:34] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2018-12-10 00:38] labarba commented on #1037
This remains:

* “allow for new discoveries that directly mimic what can be seen in experiments and are thus highly valuable for fundamental research”>> hyperbole. If the simulations mimic experiments, it’s not really a “new discovery,” is it. Could you tone this down? E.g., what’s the difference between “valuable” and “highly valuable”? You can say “Numerical simulations of BECs that directly mim

[2018-12-10 00:40] labarba commented on #1037
Actually, looks like several of my editorial suggestions were ignored. Can you go over the items in my comment above? https://github.com/openjournals/joss-reviews/issues/1037#issuecomment-440960650

[2018-12-10 00:41] arfon commented on #1075
:wave: @mnarayan - please try and get to this review soon.

[2018-12-10 00:42] #1018 closed

[2018-12-10 00:42] whedon commented on #1018
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01018/status.svg)](https://doi.org/10.21105/joss.01018)

**We need your help!**

Journal of Open Source Softwar

[2018-12-10 00:42] arfon commented on #1018
@usethedata - many thanks for your review ✨

@wino6687 - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-10 00:44] labarba commented on #865
Hi everyone — Given that I have not received a reply from @rasmussn on several emails requesting his update on this review, I am hereby making an executive decision to accept this submission on the basis of the thorough and helpful review by @rouson.

[2018-12-10 00:44] leios commented on #1037
Ah, my mistake. A lot of the changes seem to be in a separate branch.

[2018-12-10 00:47] labarba commented on #865
@wimvanderbauwhede Please now make a deposit of your submission in an archival-quality service (e.g., Zenodo), and report here the archive DOI. Thanks!

[2018-12-10 00:47] arfon commented on #928
I've just emailed @mwang87 to ask him to complete his review soon.

[2018-12-10 00:48] arfon commented on #791
Friendly reminder to give us some suggestions here @karthik if you have any?

[2018-12-10 00:51] arfon commented on #764
Hi @kbenoit - have you had a chance to take another look at this submission?

[2018-12-10 00:58] igarizio commented on #1111
@whedon generate pdf

[2018-12-10 00:58] whedon commented on #1111
[code]

[2018-12-10 00:58] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2018-12-10 01:18] lheagy commented on #1121
👋 @arfon: can the paper be in a folder called "joss" or does it need to be in root or "paper"

[2018-12-10 01:42] kbenoit commented on #764
I've had a chance to look at the package again, and I am pleased to report that it and the paper are much improved. @evan-l-munson has done a very good job of addressing my concerns [above](https://github.com/openjournals/joss-reviews/issues/764#issuecomment-395321533), if not as good a job of summarizing in a PR or memo what these changes were 😉 .

_Package_.  The code organization is much better

[2018-12-10 05:36] brainstorm commented on #1007
That's great, thanks @jmborr, can you deposit a release tarball on zenodo and share the DOI here?

[2018-12-10 07:11] telegraphic commented on #1115
Thanks @betteridiot -- I've added contribution guidelines and the DOI for Raffel 2016

[2018-12-10 09:43] trallard commented on #1064
@romunov @zkuralt this looks good to me so will proceed to recommend for acceptance

[2018-12-10 09:44] trallard commented on #1064
@whedon set 10.5281/zenodo.1890358 as archive

[2018-12-10 09:44] whedon commented on #1064
OK. <a href="https://doi.org/10.5281/zenodo.1890358" target="_blank">10.5281/zenodo.1890358</a> is the archive.

[2018-12-10 09:46] trallard commented on #1064
@arfon: this submission is accepted and ready to be published 🎉👾

@amoeba thank you very much for your time and valuable contribution to JOSS as a reviewer for this submission 🙌🏻

[2018-12-10 09:50] trallard commented on #1065
I can see that both reviewers left the following point of the checklist unchecked:

@brainstorm @rlizzo can you advise on this? I saw there is a read the docs website but I am unsure if you both deemed that more work would need to be done at an API level

[2018-12-10 09:53] trallard commented on #1108
Great, thanks for that speedy review @acolum. I will just wait for  @tonygon and @marcopus 's reviews

[2018-12-10 11:18] arfon commented on #1121
@whedon generate pdf

[2018-12-10 11:18] whedon commented on #1121
[code]

[2018-12-10 11:19] whedon commented on #1121
PDF failed to compile for issue #1121 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1121/joss/paper.md): could not find expected ':' while scanning a simple key at line 19 column 4 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2018-12-10 11:21] arfon commented on #1121
@lheagy the location is fine. The only issue I can see is L19: `orcid:0000-0003-3891-5444` <- this needs a space between `orcid:` and the value.

[2018-12-10 11:22] arfon commented on #764
Thanks @kbenoit. @evan-l-munson - please make these final changes to your package and we can move forward accepting this submission.

[2018-12-10 11:23] arfon commented on #1064
@whedon accept

[2018-12-10 11:23] whedon commented on #1064
[code]

[2018-12-10 11:23] whedon commented on #1064
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/111

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/111, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-10 11:23] fospald commented on #1027
@ctdegroot In boost 1.68 they changed the GIL headers completely. I tried to fix this now.
If there is still an error let me know. It is probably line 7054 of fibergen.cpp. You can temporarily disable this line in this case until I have a fix.

[2018-12-10 11:24] arfon commented on #1064
@whedon accept deposit=true

[2018-12-10 11:57] Kevin-Mattheus-Moerman commented on #1076
This is a well written and well documented submission. Below are my questions/comments and links to issues so far.

__Questions__
- [ ] Can you explain why simple interpolation is not sufficient? (see issue https://github.com/ailiop/idvf/issues/2)

__General comments__
- [ ] Please add community guidelines (see issue: https://github.com/ailiop/idvf/issues/1)
- [ ] Can you please add a more complex

[2018-12-10 12:44] labarba commented on #1037
Typo: “No generalized software packages are vailable…” >> available

[2018-12-10 12:47] labarba commented on #1037
"features a numerical solver with a greater performance than other available suites" >> This reads like an unsubstantiated performance claim. Is there justification somewhere for this? (in the tests, in the docs…)

[2018-12-10 14:02] danielskatz commented on #1118
👋 @StewMH @henrik227 - I hope you can get started soon, at least by checking the CoI and CoC boxes...

[2018-12-10 14:21] jmborr commented on #1007
@brainstorm never uploaded to *zenodo*, I am confused. Here's a screenshot for uploading the tarball. I assume the *Upload type* is **software** but I'm confused regarding the DOI. Should I click the *Reserve DOI* button?
![zenodo](https://user-images.githubusercontent.com/1136006/49738234-df661480-fc5c-11e8-940f-bef063010285.PNG)

[2018-12-10 15:12] johnsamuelwrites commented on #1109
@Kevin-Mattheus-Moerman @vmagnin v17.10 is the specified version for the journal. gtk-fortran follows a different versioning scheme, making use of the gtk version as well. For example: https://github.com/jerryd/gtk-fortran/releases shows v17.10.gtk3.22.25 and v17.10.gtk2.24.31. Is it possible to specify these two versions?

[2018-12-10 16:19] plooney commented on #1063
@cMadan

Thanks for the comments @thewtex. I have tried to address all the points, I struggled to get the two of the issues resolved fully; ITK Module and CI.

[2018-12-10 17:55] kthyng commented on #1074
Ok thanks everyone for their responses, let's go ahead with @mvdh7 as reviewer. I'll set things up to move forward!

[2018-12-10 17:56] kthyng commented on #1074
@whedon assign @mvdh7 as reviewer

[2018-12-10 17:56] whedon commented on #1074
OK, the reviewer is @mvdh7

[2018-12-10 17:56] kthyng commented on #1074
@whedon start review

[2018-12-10 17:56] whedon opened #1124 "[REVIEW]: A MATLAB toolbox to detect and analyze marine heatwaves"
**Submitting author:** @ZijieZhaoMMHW (<a href="http://orcid.org/0000-0003-3403-878X">Zijie Zhao</a>)
**Repository:** <a href="https://github.com/ZijieZhaoMMHW/m_mhw1.0" target ="_blank">https://github.com/ZijieZhaoMMHW/m_mhw1.0</a>
**Version:** v1.0
**Editor:** @kthyng
**Reviewer:** @mvdh7
**Archive:** <a href="https://doi.org/10.5281/zenodo.2545437" target="_blank">10.5281/zenodo.2545437</a>

##

[2018-12-10 17:56] whedon commented on #1074
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1124. Feel free to close this issue now!

[2018-12-10 17:56] whedon commented on #1124
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mvdh7 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-12-10 17:56] whedon commented on #1124
[code]

[2018-12-10 17:57] #1074 closed

[2018-12-10 17:57] whedon commented on #1124
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01124/joss.01124/10.21105.joss.01124.pdf)

[2018-12-10 19:32] peendebak commented on #1097
@whedon list reviewers

[2018-12-10 19:32] whedon commented on #1097
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-12-10 20:09] leios commented on #1037
There is a citation for performance tests after the latter claim (https://peterwittek.com/gpe-comparison.html). I suppose I could put the actual numbers in there and say that we are 206x faster than GPELab, 5.5x faster than TS-MPI CPU (the fastest known CPU implementation), and 1.19 faster than TS-MPI GPU in real-time and 147x faster than GPELab, 3.48x faster than TS-MPI CPU, and 1.21x faster than

[2018-12-10 21:45] leios commented on #1037
It did. The previous paper said the following: `The above features enable highly configurable physical system parameters, and allow for the simulation of state-of-the-art system dynamics. GPUE additionally features a highly performant numerical solver implementation, with performance greater than other available suites.` By your request, this was modified to simply `GPUE additionally features a nu

[2018-12-10 21:59] labarba commented on #1037
My editorial suggestion above, in https://github.com/openjournals/joss-reviews/issues/1037#issuecomment-440960650

* “GPUE additionally features a highly performant numerical solver implementation” >> GPUE’s high-performance numerical solver improves over other suites (Refs.)

This mild claim didn't raise alarm bells. But your version:

… raised a question in my head: Is this a performance claim?

[2018-12-10 22:13] leios commented on #1037
Alright, great! The link is there already, so I'll fix the typo and regenerate the paper?

[2018-12-10 22:44] leios commented on #1037
@whedon generate pdf

is now

and

is now

[2018-12-10 22:44] whedon commented on #1037
[code]

[2018-12-10 22:45] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-12-10 22:51] labarba commented on #1037
Please now make a deposit of your submission in an archival-quality service (e.g., Zenodo), and report here the archive DOI. Thanks!

[2018-12-10 23:03] brainstorm commented on #1007
Yes, have a look at the other closed review issues in this repo, i.e: https://github.com/openjournals/joss-reviews/issues/1102#issuecomment-442090116, reserving a zenodo DOI is part of the process.

[2018-12-10 23:18] brainstorm commented on #1065
@aslakbergersen I advised the authors to publish their package under [conda-forge](https://conda-forge.org/) for easy installation/access instead of creating their own channel on Anaconda.

@aslakbergersen Do you reckon you can put it there?

Also, the tests seem to be passing on appveyor, but I cannot make them pass locally after doing the equivalent of:

[code]

On my system under morphman conda

[2018-12-10 23:32] jmborr commented on #1007
@brainstorm very good.
[10.5281/zenodo.2179293](https://zenodo.org/record/2179293#.XA73UctKjBs)

[2018-12-10 23:36] brainstorm commented on #1007
@whedon generate pdf

[2018-12-10 23:36] whedon commented on #1007
[code]

[2018-12-10 23:37] whedon commented on #1007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01007/joss.01007/10.21105.joss.01007.pdf)

[2018-12-10 23:38] brainstorm commented on #1007
@whedon set 10.5281/zenodo.2179293 as archive

[2018-12-10 23:38] whedon commented on #1007
OK. <a href="https://doi.org/10.5281/zenodo.2179293" target="_blank">10.5281/zenodo.2179293</a> is the archive.

[2018-12-10 23:42] brainstorm commented on #1007
@whedon accept

[2018-12-10 23:42] whedon commented on #1007
[code]

[2018-12-10 23:43] whedon commented on #1007
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/113

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/113, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-10 23:46] brainstorm commented on #1007
@jmborr After reviewing the paper a bit more closely, it seems that there's a fair bit of repetition between the abstract and the actual paper.md, is that intentional?

[2018-12-10 23:47] jmborr commented on #1007
@brainstorm nope, I just pushed to master the removal of the duplicated paragraph

[2018-12-10 23:48] brainstorm commented on #1007
@whedon generate pdf

[2018-12-10 23:48] whedon commented on #1007
[code]

[2018-12-10 23:48] jmborr commented on #1007
@whedon generate pdf

[2018-12-10 23:48] whedon commented on #1007
[code]

[2018-12-10 23:49] jmborr commented on #1007
@brainstorm we submitted the command at the same time :smile:

[2018-12-10 23:49] whedon commented on #1007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01007/joss.01007/10.21105.joss.01007.pdf)

[2018-12-10 23:50] whedon commented on #1007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01007/joss.01007/10.21105.joss.01007.pdf)

[2018-12-10 23:52] jmborr commented on #1007
@brainstorm got to fix the references

[2018-12-11 00:00] jmborr commented on #1007
@whedon generate pdf

[2018-12-11 00:00] whedon commented on #1007
[code]

[2018-12-11 00:00] whedon commented on #1007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01007/joss.01007/10.21105.joss.01007.pdf)

[2018-12-11 00:14] jmborr commented on #1007
@whedon generate pdf

[2018-12-11 00:15] whedon commented on #1007
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01007/joss.01007/10.21105.joss.01007.pdf)

[2018-12-11 00:20] jmborr commented on #1007
@brainstorm OK, now the proof looks very much correct. Are following steps:
- issue `@whedon accept`
- Check the final proof
- issue `@whedon accept deposit=true`
??

[2018-12-11 01:42] leios commented on #1037
Thanks for the help with the editorial process!

This should be the appropriate DOI: https://doi.org/10.5281/zenodo.2182729

Here's the badge, in case you need it: [![DOI](https://zenodo.org/badge/79505596.svg)](https://zenodo.org/badge/latestdoi/79505596)

[2018-12-11 02:12] labarba commented on #1037
@whedon set 10.5281/zenodo.2182729 as archive

[2018-12-11 02:12] whedon commented on #1037
OK. <a href="https://doi.org/10.5281/zenodo.2182729" target="_blank">10.5281/zenodo.2182729</a> is the archive.

[2018-12-11 02:13] labarba commented on #1037
@whedon accept

[2018-12-11 02:13] whedon commented on #1037
[code]

[2018-12-11 02:13] whedon commented on #1037
PDF failed to compile for issue #1037 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    254      0 --:--:-- --:--:-- --:--:--   258
sh: 65: Syntax er

[2018-12-11 02:19] labarba commented on #1037
@arfon S.O.S. ❗️

[2018-12-11 09:35] Kevin-Mattheus-Moerman commented on #1104
@dzhoshkun I've contacted quite a few people but so far all work on different hardware/software so did not feel they were able to review this work. I'll continue my search but in the mean time, are you able to suggest reviewers?

[2018-12-11 09:39] jschnab commented on #1029
@arfon - Hi, @johnlees agreed to review my submission.

[2018-12-11 12:31] arfon commented on #1037
@whedon accept

[2018-12-11 12:31] whedon commented on #1037
[code]

[2018-12-11 12:32] whedon commented on #1037
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/115

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/115, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-11 12:32] arfon commented on #1037
Fixed a small bug @labarba. This should be good to go now.

[2018-12-11 12:38] arfon commented on #1007
@whedon accept deposit=true

[2018-12-11 12:38] whedon commented on #1007
[code]

[2018-12-11 12:39] whedon commented on #1007
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/116
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01007](https://doi.org/10.21105/joss.01007)
2. If everything looks go

[2018-12-11 12:49] arfon commented on #1037
Actually, I've broken this in a more complex way attempting a fix. Will process manually on my end until I can put a proper fix in place.

[2018-12-11 12:52] arfon commented on #1007
@gjeuken - many thanks for your review here and to @brainstorm for editing this submission ✨

@jmborr - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-11 12:52] #1007 closed

[2018-12-11 12:52] whedon commented on #1007
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01007/status.svg)](https://doi.org/10.21105/joss.01007)

**We need your help!**

Journal of Open Source Softwar

[2018-12-11 12:54] arfon commented on #1037
@mgalloy, @markbasham - many thanks for your reviews here and to @labarba for editing this submission ✨

@leios - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.01037 :zap::rocket::boom:

[2018-12-11 12:54] #1037 closed

[2018-12-11 12:54] whedon commented on #1037
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01037/status.svg)](https://doi.org/10.21105/joss.01037)

**We need your help!**

Journal of Open Source Softwar

[2018-12-11 13:17] arfon commented on #1029
@whedon add @johnlees as reviewer

[2018-12-11 13:17] whedon commented on #1029
OK, @johnlees is now a reviewer

[2018-12-11 13:17] arfon commented on #1029
@whedon start review

[2018-12-11 13:17] whedon opened #1125 "[REVIEW]: PyMS: Python for Mycorrhizal Symbiosis data analysis"
**Submitting author:** @jschnab (<a href="http://orcid.org/0000-0002-9515-332X">Jonathan Schnabel</a>)
**Repository:** <a href="https://github.com/jschnab/pyms-plot" target ="_blank">https://github.com/jschnab/pyms-plot</a>
**Version:** 0.9.0
**Editor:** @arfon
**Reviewer:** @aokad, @johnlees
**Archive:** <a href="https://doi.org/10.5281/zenodo.2567459" target="_blank">10.5281/zenodo.2567459</a>

[2018-12-11 13:17] whedon commented on #1029
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1125. Feel free to close this issue now!

[2018-12-11 13:17] whedon commented on #1125
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aokad, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-12-11 13:17] whedon commented on #1125
[code]

[2018-12-11 13:18] whedon commented on #1125
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01125/joss.01125/10.21105.joss.01125.pdf)

[2018-12-11 13:18] arfon commented on #1029
@aokad, @johnlees - many thanks for agreeing to review this submission. Please head over to #1125 where the actual review will take place.

[2018-12-11 13:18] #1029 closed

[2018-12-11 13:18] arfon commented on #1125
@aokad, @johnlees - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2018-12-11 13:55] jmborr commented on #1007
@arfon @brainstorm @gjeuken Thanks a million for giving me a chance to publish in JOSS and for the effort to carry out this review!  💃

[2018-12-11 13:59] gjeuken commented on #1007
Great to be a part of this, and congrats @jmborr for the excellent work! :)
And again, sorry for any delays due to confusion on my part.

[2018-12-11 14:07] melund commented on #1108
@trallard. I just browsed the [JOSS conflict of interest policy](https://github.com/openjournals/joss/blob/master/COI.md) and I think one of the reviewers I suggested could cause a problem. I knew one of my supervisors (Michael Skipper Andersen @msna) had worked with @marcopus in the past but didn't realize that the also recently (2017) co-authored a paper.

I am sorry about that. But I think that

[2018-12-11 14:31] trallard commented on #1108
hey @melund  thanks for double checking. I am going to then remove @marcopus  (apologies). Is @tonygon still a suitable reviewer?

[2018-12-11 14:47] FaustinCarter commented on #1104
You might try asking @petebarry1988. Don't know if he'll have time or be willing, but he's got the background.

[2018-12-11 18:19] dmey commented on #1113
Hi @kyleniemeyer, just wondering if you've heard anything back from any of the reviewers you had in mind. Thanks.

[2018-12-11 18:56] RHagenson commented on #1116
@whedon commands

[2018-12-11 18:57] whedon commented on #1116
Here are some things you can ask me to do:

[code]

[2018-12-11 19:02] RHagenson commented on #1116
May I request updating the version under review to v6.1.0? A collaborator of mine found that in large datasets the PartitionFinder2 output can have overlapping flanks between UCEs. This error is fixed in v6.1.0.

[2018-12-11 20:29] aslakbergersen commented on #1065
@brainstorm We would prefer to have morphman on conda-forge, however, since we rely on VMTK, which is not on conda-forge (yet), we instead created your own channel, for now, cf. [conda-forge dependencies](https://conda-forge.org/docs/recipe.html#avoid-dependencies-outside-of-conda-forge).

@rlizzo You mentioned that vmtk eventually will be moved over to conda-forge, how is that work going, and is

[2018-12-11 20:40] vmagnin commented on #1109
Each version of gtk-fortran is numbered using the Ubuntu version used to build it, for example 17.10: but each release comprises a GTK+ 2 version and a GTK+3 version. And 3.22.25 and 2.24.31 are the precise GTK+ versions used to build gtk-fortran.

[2018-12-11 22:58] carterenyi commented on #1094
Response to @ybayle <https://github.com/ybayle>:

First of all, thank you!

Version:
I will work on that, if @Kevin-Mattheus-Moerman
<https://github.com/Kevin-Mattheus-Moerman> has any insight on the standard
for JOSS, it would be appreciated
Authorship:
I am the sole author of the MATLAB code. Mr. Dula and Mr. Ali were
undergrad students hired to translate the existing MATLAB code into Python.
Mr

[2018-12-12 00:43] igarizio commented on #1111
@whedon generate pdf

[2018-12-12 00:43] whedon commented on #1111
[code]

[2018-12-12 00:43] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2018-12-12 01:50] rljacobson commented on #1073
@danielskatz I have completed my review.

The only open issue relating to the reviewers' checklist is a [recommendation](https://github.com/RuleBasedIntegration/JOSS-Publication/issues/9) to clarify the first steps for new contributors. However, if you read the details of the issue, you will see that the submission has in many ways substantially met that guideline. It is my opinion that this issue

[2018-12-12 01:54] danielskatz commented on #1073
Thanks very much @rljacobson !

[2018-12-12 03:08] brainstorm commented on #1065
Great, thanks @aslakbergersen, all good from my side 👍

[2018-12-12 04:57] acolum commented on #1073
@danielskatz I've also completed my review and am happy to recommend this for publication.

[2018-12-12 09:58] wimvanderbauwhede commented on #865
Thanks a lot! I've released the latest tagged version (V1.1.1) and archived it on Zenodo. The DOI is

10.5281/zenodo.2222337

[2018-12-12 10:45] Kevin-Mattheus-Moerman commented on #1094
@gwynethbradbury thanks again for helping with this review. When can we expect your review contribution?

[2018-12-12 10:50] Kevin-Mattheus-Moerman commented on #1094
@carterenyi about the version issue. Yes you can create a release and let us know about the version number after the review process is complete.
Rebranding this as a Windows only release sounds like a good plan for now. Perhaps make changes to the readme/documentation to reflect this. Are you able to continue the review process on a Windows system? Thanks.
@ybayle thanks for your review efforts so

[2018-12-12 12:05] danielskatz commented on #1073
Thanks too @acolum !!

[2018-12-12 12:08] danielskatz commented on #1073
@halirutan - you might want to respond to some of @rljacobson's recommendations before we publish, perhaps at least the [contributor guidelines](https://github.com/RuleBasedIntegration/JOSS-Publication/issues/9) one.  Please do so, and when you are ready to publish, make an up to date repository in figshare or zenodo or similar, and post the DOI here in a comment.

[2018-12-12 12:32] labarba commented on #1037
One thing I forgot to say,  @leios — the author list on the Zenodo archive doesn't match the author list of the paper. Zenodo grabs authors from commit history: you have to edit manually to match!

[2018-12-12 12:50] labarba commented on #865
You will need to manually fix the author list in the Zenodo archive.

[2018-12-12 12:50] labarba commented on #865
@whedon set 10.5281/zenodo.2222337 as archive

[2018-12-12 12:50] whedon commented on #865
OK. <a href="https://doi.org/10.5281/zenodo.2222337" target="_blank">10.5281/zenodo.2222337</a> is the archive.

[2018-12-12 12:53] labarba commented on #865
In addition to the authors, the title might need manual editing, too. Zenodo just grabs its metadata from the repo.

[2018-12-12 13:05] wimvanderbauwhede commented on #865
Thanks, I didn't realise that. Title and author is now as in the JOSS paper.

[2018-12-12 13:06] labarba commented on #865
@whedon accept

[2018-12-12 13:06] whedon commented on #865
[code]

[2018-12-12 13:06] whedon commented on #865
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/117

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/117, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-12 13:08] labarba commented on #865
@whedon accept deposit=true

[2018-12-12 13:08] whedon commented on #865
[code]

[2018-12-12 13:09] whedon commented on #865
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/118
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00865](https://doi.org/10.21105/joss.00865)
2. If everything looks go

[2018-12-12 13:25] wimvanderbauwhede commented on #865
OK, I did 0., 1. and 2.
DOI resolves, have downloaded and checked the PDF. On to 3. !
Thank you very much for your patience and assistance!

[2018-12-12 13:46] #865 closed

[2018-12-12 13:46] whedon commented on #865
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00865/status.svg)](https://doi.org/10.21105/joss.00865)

**We need your help!**

Journal of Open Source Softwar

[2018-12-12 14:04] akdiem commented on #1107
@whedon generate pdf

[2018-12-12 14:04] whedon commented on #1107
[code]

[2018-12-12 14:05] whedon commented on #1107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01107/joss.01107/10.21105.joss.01107.pdf)

[2018-12-12 14:07] akdiem commented on #1107
@whedon generate pdf

[2018-12-12 14:07] whedon commented on #1107
[code]

[2018-12-12 14:08] whedon commented on #1107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01107/joss.01107/10.21105.joss.01107.pdf)

[2018-12-12 14:44] jhill1 commented on #1107
Hi @akdiem. I found the package very interesting and nice use of Fenics. The module is very well documented with inline comments, and the documentation has examples, tests. The paper is well structured with a clear aim for the software and the equation laid out are easy to find in the corresponding code. The tests worked out of the box for me and installation was straightforward using the Docker o

[2018-12-12 17:11] offray commented on #720
In my University, they have asked about a formal letter that says that this article is under review.

While review is finished, how can I get this formal letter from the JOSS?

[2018-12-12 17:18] arfon commented on #720
Feel free to email me directly about this @offray (arfon.smith@gmail.com)

[2018-12-12 18:06] pwollstadt commented on #1081
@whedon generate pdf

[2018-12-12 18:06] whedon commented on #1081
[code]

[2018-12-12 18:07] whedon commented on #1081
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01081/joss.01081/10.21105.joss.01081.pdf)

[2018-12-12 18:14] pwollstadt commented on #1081
Hi all, thanks to @danielemarinazzo and @Autoplectic for the review and the suggestions, we have addressed the remaining issues:

@danielemarinazzo, we have added the original reference for the example network used in the MuTE paper. Also, theoretical and some practical results for runtimes have been added as a [wiki page](https://github.com/pwollstadt/IDTxl/wiki/Runtimes-and-Benchmarking). I also

[2018-12-12 19:16] Autoplectic commented on #1081
@pwollstadt what exactly do you mean by multivariate mutual information? There are several quantities which have been called that, and so adding a definition or utilizing a more specific name would be very helpful.

[2018-12-12 21:43] arfon commented on #943
@jasonclark - are we good to set up the main review at this stage or are you looking for a second reviewer?

[2018-12-12 22:14] betteridiot commented on #1115
Both https://github.com/telegraphic/hickle/issues/79 and https://github.com/telegraphic/hickle/issues/80 appear to be addressed by the author. These issues can be closed now.

I opened Issues https://github.com/telegraphic/hickle/issues/82 and https://github.com/telegraphic/hickle/issues/83 to address some specific items. I request your input @arfon on https://github.com/telegraphic/hickle/issues/

[2018-12-13 00:42] arfon commented on #1037
Sorry, this can't be easily changed.

[2018-12-13 00:43] leios commented on #1037
Alright, no problem. Thanks!

[2018-12-13 01:41] halirutan commented on #1073
Let me thank both reviewers for taking their time to look over Rubi.

To give a short summary of @rljacobson suggestions:

1. I made clear in the README and the wiki how new contributors should start. Basically, it's "please talk to us on Gitter first", but to give some further guidance ...
2. I have created issues for improvements that range from trivial to hard and tagged them as [help wanted](h

[2018-12-13 02:01] evan-l-munson commented on #764
Gentlemen, I missed your email by accident.  I appreciate these comments and will try to get them corrected/accounted for this weekend or sometime during the holidays.  Thank you!

[2018-12-13 05:56] telegraphic commented on #1115
Thanks @betteridiot, I very much appreciate your time on this! I've tried to address all the issues and improved the documentation in the README.md. Working on the conda recipe now

[2018-12-13 12:00] whedon opened #1126 "[PRE REVIEW]: arcesetc: ARC Echelle Spectroscopic Exposure Time Calculator"
**Submitting author:** @bmorris3 (<a href="http://orcid.org/0000-0003-2528-3409">Brett Morris</a>)
**Repository:** <a href="https://github.com/bmorris3/arcesetc" target ="_blank">https://github.com/bmorris3/arcesetc</a>
**Version:** 0.1
**Editor:** @arfon
**Reviewers:** @wtgee

**Author instructions**

Thanks for submitting your paper to JOSS @bmorris3. The JOSS editor (shown at the top of this is

[2018-12-13 12:00] whedon commented on #1126
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2018-12-13 12:00] whedon commented on #1126
[code]

[2018-12-13 12:00] whedon commented on #1126
PDF failed to compile for issue #1126 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2018-12-13 12:01] whedon opened #1127 "[PRE REVIEW]: A News Verification Browser for the Detection of Clickbait, Satire, and Falsified News"
**Submitting author:** @VictoriaRubin (<a href="http://orcid.org/0000-0003-3610-9967">Victoria Rubin</a>)
**Repository:** <a href="https://github.com/litrl/litrl_code" target ="_blank">https://github.com/litrl/litrl_code</a>
**Version:** v0.12.0.0
**Editor:** @danielskatz
**Reviewers:** @lrasmus, @CBenghi

**Author instructions**

Thanks for submitting your paper to JOSS @VictoriaRubin. The JOSS e

[2018-12-13 12:01] whedon commented on #1127
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-13 12:01] whedon commented on #1127
[code]

[2018-12-13 12:01] whedon commented on #1127
PDF failed to compile for issue #1127 with the following error:

 Can't find any papers to compile :-(

[2018-12-13 12:01] whedon opened #1128 "[PRE REVIEW]: Assembling a Historical National Drug Code Directory from the Internet Archive"
**Submitting author:** @mhowison (<a href="http://orcid.org/0000-0002-0764-4090">Mark Howison</a>)
**Repository:** <a href="https://github.com/ripl-org/historical-ndc" target ="_blank">https://github.com/ripl-org/historical-ndc</a>
**Version:** 20181212
**Editor:** @trallard
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @mhowison. The JOSS editor (shown a

[2018-12-13 12:02] whedon commented on #1128
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-13 12:02] whedon commented on #1128
[code]

[2018-12-13 12:02] whedon commented on #1128
PDF failed to compile for issue #1128 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    239      0 --:--:-- --:--:-- --:--:--   242
sh: 0: getcwd() f

[2018-12-13 13:21] henrik227 commented on #1118
The only thing I can find regarding guidelines for contributors is [this](https://cadabra.science/developers.html). @danielskatz Is that considered sufficient?

[2018-12-13 15:39] jsgalan commented on #1088
Hi all,

Yes, i will have time to review it. Please assign it to me :)

Best

[2018-12-13 15:43] edoddridge commented on #1112
I'm happy to say that I've finished my review of `HRDS` and can recommend it for publication. 👍

It is a well-written piece of code that solves a clearly stated problem. 'HRDS' provides a clean interface to mesh together multiple files with different resolutions and create manageable input files for variable resolution geophysical modelling.

While I've opened a number of issues in the code reposi

[2018-12-13 18:35] dlagrava commented on #1107
Hello @akdiem I have finished my review as well. I performed some blood simulations for stent optimisation on 3D and it was very time consuming, probably a 1D approach should be more efficient, while retaining most of the average behavior. I quite enjoyed the presentation of the theory of the 1D bloodflow equations on your readthedocs, which is a nice touch for the interested reader.

Your impleme

[2018-12-13 19:05] modenaxe commented on #927
@anmuller thank you for replying to my comments. I have tested the updated toolbox.
Few points:
1) you still don't have a version for your current toolbox. I would just tag the current version using git.
2) the toolbox seems to work also with MATLABR2017b, is there a reason why the 'Installation.m' file requires R2018a?
3) the toolbox works, but when I run the analyses from the GUI, MATLAB does no

[2018-12-13 19:44] rbeucher commented on #1121
@whedon generate pdf

[2018-12-13 19:44] whedon commented on #1121
[code]

[2018-12-13 19:45] whedon commented on #1121
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01121/joss.01121/10.21105.joss.01121.pdf)

[2018-12-13 22:30] johnlees commented on #1125
@jschnab I've given this a go and confirmed it works with the test data. I've opened a few specific issues that will need to be addressed to meet the requirements for JOSS. My suggestion of making this into a package would definitely help with the stated goal of making this analysis easier for people who don't use the command line (typing `pip install pyms` is ok, but needing to explicitly do the

[2018-12-14 04:36] aokad commented on #1125
@jschnab I think that the following content is missing.

 1. Supporting Python versions (pyms will not work in python 2.7)
 2. "tkinter" in the dependency packages.
 3. Required version of pandas.
 I get the following error on "Analyze csv file" choose "test_colonization.csv". The isna alias for isnull was only added in version 0.21 (0.23 is the latest release)

[code]

[2018-12-14 04:37] aokad commented on #1125
@jschnab I get the following error on "Save as" choose the file type.

[code]

[2018-12-14 05:34] telegraphic commented on #1115
conda recipe is working! https://github.com/conda-forge/staged-recipes/pull/7268

[2018-12-14 08:32] yochannah commented on #1044
Quick status check - is there anything I can do to help progress this? 👍

[2018-12-14 08:34] davekinkead commented on #1044
Thanks Yo - I’ve just got back from conference season and am working on an issue raised by the reviewer.

Dave

[2018-12-14 08:34] yochannah commented on #1044
fantastic - feel free to ask any questions on this issue if needed!

[2018-12-14 08:35] yochannah commented on #1005
@tpetricek Sorry, I missed the edit note. I can look for another reviewer - it took me a while to find people interested in literate programming - you don't have any suggestions of possible interested colleagues or communities to approach?

[2018-12-14 08:38] yochannah commented on #1052
Sorry, still on the hunt for suitable reviewers. @vsoch, @xirdneh - is this a paper you'd be interested in reviewing?

[2018-12-14 10:55] akdiem commented on #1107
@whedon generate pdf

[2018-12-14 10:55] whedon commented on #1107
[code]

[2018-12-14 10:56] whedon commented on #1107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01107/joss.01107/10.21105.joss.01107.pdf)

[2018-12-14 11:00] akdiem commented on #1107
@whedon generate pdf

[2018-12-14 11:00] whedon commented on #1107
[code]

[2018-12-14 11:00] whedon commented on #1107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01107/joss.01107/10.21105.joss.01107.pdf)

[2018-12-14 11:08] arfon commented on #1127
@whedon generate pdf

[2018-12-14 11:09] whedon commented on #1127
[code]

[2018-12-14 11:09] whedon commented on #1127
PDF failed to compile for issue #1127 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1127/paper.md): mapping values are not allowed in this context at line 11 column 44 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/

[2018-12-14 11:10] arfon commented on #1128
@whedon generate pdf

[2018-12-14 11:10] whedon commented on #1128
[code]

[2018-12-14 11:11] whedon commented on #1128
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01128/joss.01128/10.21105.joss.01128.pdf)

[2018-12-14 11:39] akdiem commented on #1107
@jhill1 Thank you for your review and your comments! I agree that CI use would be ideal. It has been quite tricky so far to set up the specific version of Fenics on Travis as I would need to install it via docker. I will look into this again though.