[2021-08-08 17:30] whedon commented on #3511
OK, the editor is @arfon

[2021-08-08 17:30] arfon commented on #3511
:wave: @finagle29 – could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-08-08 18:07] dfm commented on #3406
@mikegrudic: I wanted to drop a line here to let you know that I'm still working on recruiting reviewers. It's going a little slower than usual (probably because it's August!) but I'll keep you posted. Thanks for your patience!

[2021-08-08 18:34] mviereck commented on #3295
Finally, about 4 weeks later, I got a short response by @jorge-lip  about the list of authors.
The list might be appropriate or not, I don't know. It contains beta testers and others, too.

It is very hard to get any response since the very begin of the review.
I don't want to ask any questions anymore and than to wait and beg for answers. There are more reminders then responses.
I've lost my good

[2021-08-08 20:04] vahid-sb commented on #3582
Hi @rob-luke. My pleasure to go through your code and make any suggestions to improve the code and documentation, if I can. but please note that as I told @bmcfee, for work-related reasons, it might be a bit slow, but hopefully not too slow.

[2021-08-08 20:11] mikegrudic commented on #3406
OK thanks np!

[2021-08-08 23:39] fboehm commented on #3417
@jponnela - Do you have a sense of when your team will implement the suggested fixes? Thanks!

[2021-08-09 02:39] whedon commented on #3537
:wave: @joselado, please update us on how your review is going (this is an automated reminder).

[2021-08-09 02:39] whedon commented on #3537
:wave: @jeffhammond, please update us on how your review is going (this is an automated reminder).

[2021-08-09 03:26] rob-luke commented on #3582
We are all volunteering our time for these open-source endeavours, I appreciate your effort, there is no rush from me.

[2021-08-09 04:26] conradsnicta commented on #3051
@arfon We're working on the revision, aiming to address the changes proposed by @mjsottile.  I'm currently stuck in quarantine with kids, due to a Covid outbreak at their school.  In addition to my usual Day Job responsibilities (while working from home), this makes progress on the article annoyingly slow.

[2021-08-09 04:39] mjsottile commented on #3558
@Kevin-Mattheus-Moerman I'm not available now, but if this paper still needs an editor when one of the other submissions I'm handling is complete I can do it.  I'm familiar with Clojure and relatives.

[2021-08-09 05:43] volpatto commented on #3314
Hi, @jedbrown. Yes, I have begun my review and I will make some comments below.

[2021-08-09 06:09] volpatto commented on #3314
Firstly, I would like to say that MOOSE's geochemistry module is quite interesting and provides an easy way to simulate coupled phenomena with geochemical reactions. For the authors, my congratulations.

Following the JOSS Reviewer's guideline, I will draw some comments below:

## General checks

Not clear to me if it should be the MOOSE's URL, despite it makes sense since the piece of software in

[2021-08-09 06:18] timtroendle commented on #3576
@whedon assign me as editor

[2021-08-09 06:18] whedon commented on #3576
OK, the editor is @timtroendle

[2021-08-09 06:21] timtroendle commented on #3576
Hi @nick-gorman, I will start looking for reviewers. Thank you for you suggestions! You will be notified once we start the review.

[2021-08-09 06:22] timtroendle commented on #3576
:wave: @noah80, @mewilhel & @robinroche, would any of you be willing to review this submission for JOSS?

[2021-08-09 06:22] derrynknife commented on #3484
@whedon generate pdf

[2021-08-09 06:23] whedon commented on #3484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: :point_left:

[2021-08-09 06:28] derrynknife commented on #3484
@CamDavidsonPilon. Thanks for the thorough review, I've made requested changes as per the raised issues. Although happy to add more if you think the approach is incorrect.

But the tests directory now include tests against the datasets of lifelines and compares results. I also do a comparison to @MatthewReid854's `reliability` package with other distributions not implemented in `lifelines`. `surpy

[2021-08-09 06:36] derrynknife commented on #3484
Also, worth saying that some more real life data application examples can be seen [here](https://surpyval.readthedocs.io/en/latest/applications.html)

[2021-08-09 07:44] nickbearman commented on #3548
Hi @taless474 no, sorry I can't review this as I can't review Python at the moment. Can you update my details to reflect this (i.e. remove Python) or let me know how to do that? Thanks.

[2021-08-09 07:51] jeffhammond commented on #3537
My verdict in https://github.com/openjournals/joss-reviews/issues/3537#issuecomment-886594757 still stands ("I recommend that it be accepted").

[2021-08-09 07:59] strengejacke commented on #3393
Thank you all for the valuable feedback and the smooth process!

[2021-08-09 08:03] michaelberks commented on #3426
@jgostick apologies for not starting the review earlier. I am doing this today.

[2021-08-09 08:08] whedon commented on #3538
:wave: @shivam11, please update us on how your review is going (this is an automated reminder).

[2021-08-09 08:08] whedon commented on #3538
:wave: @cjbarrie , please update us on how your review is going (this is an automated reminder).

[2021-08-09 08:10] sigvaldm opened #3589 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2021-08-09 08:10] whedon commented on #3589
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-09 08:12] #3589 closed

[2021-08-09 08:24] sigvaldm commented on #3556
Not yet done with the review, but my first impression is good. There are clear instructions on how to 1) contribute and 2) report issues, but not 3) seek support. One could perhaps append a statement in the "Using Symfem" section that in addition to the documentation, further support may be reached through e-mail, or the issue tracker, or whatever your preference is.

[2021-08-09 08:24] NMontanaBrown commented on #2606
I am waiting on the updates regarding unit tests to assert the functionality of the package, raised in this [ticket](https://github.com/torchgan/torchgan/issues/138) before finishing the review.

[2021-08-09 08:27] fabian-s commented on #3524
@rcannood @HerrMo, please comment on the state of your reviews.

If you have identified major problems that are blocking acceptance of this submission, please open issues at https://github.com/lutzhamel/popsom and link them here.

[2021-08-09 08:40] arfon commented on #3051
:+1: got it. No problem at all. Wishing you and the family well and please prioritize life over JOSS :-)

[2021-08-09 08:40] whedon commented on #3539
:wave: @SteRoe, please update us on how your review is going (this is an automated reminder).

[2021-08-09 08:40] whedon commented on #3539
:wave: @seabbs, please update us on how your review is going (this is an automated reminder).

[2021-08-09 08:40] whedon commented on #3539
:wave: @strengejacke, please update us on how your review is going (this is an automated reminder).

[2021-08-09 08:41] arfon commented on #2606
Got it. Thanks for the update! @avik-pal – are you planning on making these changes sometime in the not-too-distant future?

[2021-08-09 08:43] whedon opened #3590 "[PRE REVIEW]: beamshapes: a Python package to generate directivity patterns for various sound source models"
**Submitting author:** @thejasvibr (<a href="http://orcid.org/0000-0001-5360-4383">Beleyur Thejasvi</a>)
**Repository:** <a href="https://github.com/thejasvibr/bat_beamshapes.git" target ="_blank">https://github.com/thejasvibr/bat_beamshapes.git</a>
**Version:** v0.2.0
**Editor:** @faroit
**Reviewers:** @nils-werner, @hagenw
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :war

[2021-08-09 08:43] whedon commented on #3590
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-09 08:44] whedon commented on #3590
Wordcount for `paper.md` is 1075

[2021-08-09 08:44] whedon commented on #3590
[code]

[2021-08-09 08:44] whedon commented on #3590
[code]

[2021-08-09 08:44] whedon commented on #3590
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03590/joss.03590/10.21105.joss.03590.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03590/joss.03590/10.21105.joss.03590.pdf) :page_facing_up: :point_left:

[2021-08-09 08:46] avik-pal commented on #2606
Yes, I am planning to do it by the end of this month. Apologies for the delay. I was in the middle of graduation and shifting and hence haven't been able to work on the tests.

[2021-08-09 08:48] arfon commented on #3590
@thejasvibr - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

If you want to fix the DOIs while you're waiting (noting that Whedon's suggestions are not always right), you can,

[2021-08-09 08:49] arfon commented on #3588
@grant-m-s – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-08-09 09:03] strengejacke opened #3591 "License: Does the repository contain a plain-text LICENSE file with the contents of an OSI approved software license?"

[2021-08-09 09:04] #3591 closed

[2021-08-09 09:04] whedon commented on #3591
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-09 09:13] cjbarrie commented on #3538
Apologies for the delay--I am currently on leave and will return to complete this review in a week's time

[2021-08-09 09:16] meg-simula commented on #3343
@felixchenier Thank you for the submission! I have been out of office due to summer holidays, hence the delayed handling (not at all standard handling time). Will have a look shortly.

[2021-08-09 09:30] noah80 commented on #3576
Yeah, I can review this.

[2021-08-09 09:31] whedon opened #3592 "[PRE REVIEW]: Feature-engine: A Python package for feature engineering for machine learning"
**Submitting author:** @solegalli (<a href="http://orcid.org/0000-0003-3734-8628">Soledad</a>)
**Repository:** <a href="https://github.com/feature-engine/feature_engine" target ="_blank">https://github.com/feature-engine/feature_engine</a>
**Version:** v1.1.1
**Editor:** @osorensen
**Reviewers:** @Jose-Augusto-C-M, @papachristoumarios, @bobturneruk
**Managing EiC:** Arfon Smith

**:warning: JOSS r

[2021-08-09 09:31] whedon commented on #3592
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-09 09:32] whedon commented on #3592
PDF failed to compile for issue #3592 with the following error:
[code]

[2021-08-09 09:32] arfon commented on #3592
@whedon generate pdf from branch paper

[2021-08-09 09:32] whedon commented on #3592
[code]

[2021-08-09 09:32] whedon commented on #3592
[code]

[2021-08-09 09:32] whedon commented on #3592
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03592/joss.03592/10.21105.joss.03592.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03592/joss.03592/10.21105.joss.03592.pdf) :page_facing_up: :point_left:

[2021-08-09 09:39] arfon commented on #3592
:wave: @solegalli  – thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

In the interim though, please updated your reference keys so they match between your Markdown doc and refer

[2021-08-09 09:41] felipefr commented on #3439
I think _torchquad_ is already a very mature library, with equally reasonably complete documentation. I definitively agree that it matches the levels of software innovation and design required by JOSS. My only suggestion is that the reported _issues_ are still too limited, https://github.com/esa/torchquad/issues reporting more of them would attract more contributors.

[2021-08-09 09:45] jbytecode commented on #3439
@whedon check references

[2021-08-09 09:45] whedon commented on #3439
[code]

[2021-08-09 09:45] jbytecode commented on #3439
@whedon generate pdf

[2021-08-09 09:45] whedon commented on #3439
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03439/joss.03439/10.21105.joss.03439.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03439/joss.03439/10.21105.joss.03439.pdf) :page_facing_up: :point_left:

[2021-08-09 09:47] Nikoleta-v3 commented on #3538
Thank you for letting me know @cjbarrie 😃 enjoy your leave!

[2021-08-09 09:55] jbytecode commented on #3439
Dear @gomezzz

- [ ] In paper, some function and package names are written in different font (using texttt) but some of them are written in regular font (pip and Python in paper, torchquad in summary, and many...). Please adopt a single rule for function, package, and software names. It is convenient to use `texttt` for all of them.

- [ ] Please re-check the whole paper by means of both language

[2021-08-09 10:13] drcandacemakedamoore commented on #3560
I hope this can be an OK place in the thread to mention potential reviewers. I believe that from the list provided those with user names "fernandoandreotti" and "anki-xyz" may be good leads for potential reviewers.

[2021-08-09 10:37] solegalli commented on #3592
Hi @arfon thanks a lot for starting the process.

The reference keys were updated as requested.

At the moment, I am the founder, main developer and maintainer of the project. More details about the governance can be found [here](https://feature-engine.readthedocs.io/en/latest/governance.html).

The community is growing and we have growing support from users, fortunately, which is quite encouragin

[2021-08-09 11:06] michaelberks commented on #3426
@JeanBilheux my initial review comments *in italics*:

## Functionality

###  Installation:
Does installation proceed as outlined in the documentation?
*I have tried installing the software but received an error running the condo environment setup script. I have logged a new issue in the source code repo. I am unable to proceed with reviewing functionality.*

## Documentation

###  Example usage:

[2021-08-09 11:15] callumrollo commented on #3575
Comments on software paper:

- There is no discussion of similar software, is the first of it's kind? Are there any software packages with functionality that overlaps with marinvaders?
- Line 7 "Alien species are considered the most difficult to reverse pressure" I'm not sure what this means? Maybe "Ecosystem pressures from alien species are considered the most difficult to reverse?"
- Line 11~~an

[2021-08-09 11:38] iimog commented on #3374
Thanks @gaurav for the update. I just read the updated manuscript. I have no remaining concerns and checked off all the items of my review checklist.

[2021-08-09 11:52] pratikvn commented on #3389
@diehlpk, the software library and the paper look good to me and all my concerns were addressed by @jacobmerson. Please consider the paper approved from my side.

[2021-08-09 11:56] CamDavidsonPilon commented on #3484
Alright, I've finished my review & the checklist is complete. lgtm.

[2021-08-09 12:38] mh-skjelvareid commented on #3579
@arfon - thanks for your feedback! I've changed the paragraph to:

I hope this is more consistent with the rest of the paper.

[2021-08-09 12:38] mh-skjelvareid commented on #3579
@whedon generate pdf from branch paper

[2021-08-09 12:38] whedon commented on #3579
[code]

[2021-08-09 12:39] whedon commented on #3579
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03579/joss.03579/10.21105.joss.03579.pdf) :page_facing_up: :point_left:

[2021-08-09 12:52] mh-skjelvareid commented on #3579
I've looked through the list of reviewers and found a few with a suitable background (matlab, ultrasound, signal processing) - I'm listing them here without tagging them:

- lucaferranti
- benjaminbolling
- AnantHariharan1996
- astanziola
- Scivision

[2021-08-09 13:27] rkurchin commented on #3564
@whedon assign me as editor

Haha, sure, as long as we have some editors closer to this area than I am, it should be okay!

[2021-08-09 13:27] whedon commented on #3564
OK, the editor is @rkurchin

[2021-08-09 13:29] rkurchin commented on #3564
👋  Hi @KAClough, I'll be editing this submission! As noted above in the first comment, please do let us know if you have any potential reviewers in mind (don't tag them with @, just post the GitHub username in plaintext).

[2021-08-09 13:29] whedon opened #3593 "[PRE REVIEW]: Vulwebaju: platform that automates setting up your pen-testing lab."
**Submitting author:** @aju100 (<a href="http://orcid.org/0000-0002-8019-6394">Aju Tamang</a>)
**Repository:** <a href="https://github.com/Aju100/VulWebaju" target ="_blank">https://github.com/Aju100/VulWebaju</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pand

[2021-08-09 13:29] whedon commented on #3593
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-09 13:30] whedon commented on #3593
[code]

[2021-08-09 13:30] whedon commented on #3593
PDF failed to compile for issue #3593 with the following error:
[code]

[2021-08-09 13:30] rkurchin commented on #3412
👋  @ljakoster, just checking in again, whenever you're back from holiday and ready to get this going again, do let us know!

[2021-08-09 13:31] ha0ye commented on #3496
Sorry, I've been caught up with arranging things at my uni. Will try to squeeze this in over the next 2 weeks.

[2021-08-09 13:31] arfon commented on #3593
:wave: @Aju100 – many thanks for this submission to JOSS. Unfortunately at ~200 LOC (Bash) this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archi

[2021-08-09 13:32] arfon commented on #3593
@whedon reject

[2021-08-09 13:32] whedon commented on #3593
Paper rejected.

[2021-08-09 13:32] #3593 closed

[2021-08-09 13:53] fraukewiese commented on #3549
@fwitte : Did you find the chance to have a look whether you could be a reviewer for this submission?

[2021-08-09 14:05] jgostick commented on #3325
Hi All, there is a lot going on in this review...I would appreciate it if the reviewers (@rosecers and @janash) could use the checklist at the very top of this thread to track which issues have been addressed.  This way I can have a single source of truth for the status of the reviews.

[2021-08-09 14:10] JeanBilheux commented on #3426
Thanks for the feedback. I will work on all those comments once I'm back from vacation, in 2 weeks. Thank you

[2021-08-09 14:12] diehlpk commented on #3274
Hey @vijaysm how is your review going?

[2021-08-09 14:13] diehlpk commented on #3465
Hey @elwinter how is your revision going?

[2021-08-09 14:15] diehlpk commented on #3390
Hey @Kevin-Mattheus-Moerman how is your review going?

[2021-08-09 14:17] kasbohm commented on #3562
Late to the party, but let me know if still needed.

[2021-08-09 14:26] whedon commented on #3540
:wave: @brunaw, please update us on how your review is going (this is an automated reminder).

[2021-08-09 14:26] whedon commented on #3540
:wave: @rrrlw, please update us on how your review is going (this is an automated reminder).

[2021-08-09 14:34] dfm commented on #3484
@whedon check references

[2021-08-09 14:35] whedon commented on #3484
[code]

[2021-08-09 14:50] joselado commented on #3537
# Summary #
This software presents a high-performance implementation of spin operators in a quantum many-body context. High-performance solvers for quantum many-body Hamiltonians are a tool of critical importance in quantum physics and condensed matter physics, and as a result, the current implementation is of very high value for the computational quantum community. The code is well documented and

[2021-08-09 14:56] osorensen commented on #3562
@kasbohm , thanks, I have another submission which I'll ask you to review :-)

[2021-08-09 14:57] osorensen commented on #3503
@kasbohm, would you be interested in reviewing this submission to the Journal of Open Source Software?

[2021-08-09 15:15] mscroggs commented on #3556
Good idea, I've added a link to opening a support issue in the Using Symfem section

[2021-08-09 15:21] Nikoleta-v3 commented on #3556
Commit: https://github.com/mscroggs/symfem/commit/a8099038bfb8c49de0fcb17e4d8314e6dabcbef4

[2021-08-09 15:24] danielskatz commented on #3143
@thanks @jarrah42 - it would be great to get this to a publishable state soon - it's been a fairly slow process compared to many others.

[2021-08-09 15:26] whedon commented on #3390
:wave: @likask , please update us on how your review is going (this is an automated reminder).

[2021-08-09 15:28] kthyng commented on #3319
Ok sounds great @diodon! I'll add you and start the review and just go ahead with it as soon as you can. Thank you!

[2021-08-09 15:28] jedbrown commented on #3314
Thanks, @volpatto. The repository URL is meant to be clonable, which a sub-tree is not. We understand that some projects take a monorepo approach while others use separate repositories, and JOSS is okay working with both so long as the scope of the module meant for review is clear.

And regarding references, those are automatically picked up by Whedon, as you saw in the proof.

[2021-08-09 15:28] kthyng commented on #3319
@whedon add @diodon as reviewer

[2021-08-09 15:28] whedon commented on #3319
OK, @diodon is now a reviewer

[2021-08-09 15:29] kthyng commented on #3319
@whedon start review

[2021-08-09 15:29] whedon opened #3594 "[REVIEW]: oce: an R package for Oceanographic Analysis"
**Submitting author:** @dankelley (<a href="http://orcid.org/0000-0001-7808-5911">Dan E. Kelley</a>)
**Repository:** https://github.com/dankelley/oce
**Branch with paper.md** (empty if default branch):
**Version:** 1.6-1
**Editor:** @kthyng
**Reviewers:** @gonzalobravoargentina, @patrickcgray
**Archive:** 10.5281/zenodo.6325185

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-08-09 15:29] danielskatz commented on #3211
Ok, I apologize for the delays, but I'm going to remove @PierreGuilbertF as a reviewer once I can find another.  I hope this isn't too much work, since we already have one positive review from @adi3, meaning we've worked through at least some potential issues. If anyone here has any suggestions for another review, please let me know, and I'm also working on this outside of this issue

[2021-08-09 15:29] whedon commented on #3319
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3594.

[2021-08-09 15:29] #3319 closed

[2021-08-09 15:29] whedon commented on #3594
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gonzalobravoargentina, @diodon it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2021-08-09 15:29] kthyng commented on #3594
@gonzalobravoargentina, @diodon here is where the review actually takes place, along with issues in the software repo as needed. Thanks!

[2021-08-09 15:29] whedon commented on #3594
Wordcount for `paper.md` is 1379

[2021-08-09 15:30] whedon commented on #3594
[code]

[2021-08-09 15:30] whedon commented on #3594
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03594/joss.03594/10.21105.joss.03594.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03594/joss.03594/10.21105.joss.03594.pdf) :page_facing_up: :point_left:

[2021-08-09 15:30] whedon commented on #3594
[code]

[2021-08-09 15:36] kthyng commented on #3332
Ok I will bring in another review who uses Windows in order to proceed with this review.

@AtrCheema are you interested in reviewing this JOSS software? The review is already underway but we need another reviewer who has access to Windows to complete the process. Would you be able to fill this role? Thanks.

[2021-08-09 15:39] danielskatz commented on #3295
@mviereck - I think at this point the best thing to do is to remove you and for me to find another reviewer. I agree that this has been a slow process, but waiting for each concern to be addressed before moving to the next one has contributed to this being slow.

So thank you for your contributions to the review process, and don't worry it any further - we'll carry on without you from here.

[2021-08-09 15:39] danielskatz commented on #3295
@whedon remove @mviereck as reviewer

[2021-08-09 15:39] whedon commented on #3295
OK, @mviereck is no longer a reviewer

[2021-08-09 15:41] danielskatz commented on #3295
@vsoch - do you by any change have any suggestions for someone who could in and review this?  Given that you and the author have worked through a number of issues, I hope there won't be any/too many more to resolve.

[2021-08-09 15:44] LMMorgan commented on #3451
Hi @dpsanders thank you for getting back to me. I understand you are all quite busy after the hiatus and things are likely to be fairly slow.

In regards to your comments. I shall start addressing your points this week. I am not sure where the docs link has disappeared to.

A quick query, when you say "a small working example of the package in the paper, with example output", do you mean you would

[2021-08-09 15:45] danielskatz commented on #3470
👋 @kbarnhart - Can I get your help/suggestions on reviewers for this, as you mentioned earlier?

[2021-08-09 15:45] danielskatz commented on #3550
👋 @MrMallIronmaker, @wiljnichepa, @11michalis11 - Would one or two of you be willing to review this JOSS submission?

[2021-08-09 15:46] danielskatz commented on #3550
👋 @rusu24edward, @nickbearman, @papachristoumarios - Would one or two of you be willing to review this JOSS submission?

[2021-08-09 15:52] vsoch commented on #3295
Possibly @reidpr or someone from his team that works on CharlieCloud - there aren’t that many folks out there with deep container expertise.

[2021-08-09 16:00] nickbearman commented on #3550
Sorry @danielskatz I can't currently do Python. How can I update my profile to reflect this? very happy to do R papers!
Thanks.

[2021-08-09 16:05] whedon opened #3595 "[PRE REVIEW]: spant: An R package for magnetic resonance spectroscopy analysis"
**Submitting author:** @martin3141 (<a href="http://orcid.org/0000-0002-2089-3956">Martin Wilson</a>)
**Repository:** <a href="https://github.com/martin3141/spant" target ="_blank">https://github.com/martin3141/spant</a>
**Version:** v1.14.0
**Editor:** @chartgerink
**Reviewers:** @a3sha2, @joaomcteixeira
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-08-09 16:05] whedon commented on #3595
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-09 16:06] reidpr commented on #3295
Given that I lead Charliecloud which is or at least could be perceived to be a competing product, I probably have a conflict of interest.

Unrelated, authors might find our pre-print interesting. It covers the workings unprivileged containers in some detail and offers a new classification scheme for container privilege models. It will be published at SC21 this fall. https://arxiv.org/abs/2104.0750

[2021-08-09 16:06] whedon commented on #3595
Wordcount for `paper.md` is 542

[2021-08-09 16:06] whedon commented on #3595
[code]

[2021-08-09 16:06] whedon commented on #3595
Failed to discover a valid open source license.

[2021-08-09 16:06] whedon commented on #3595
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03595/joss.03595/10.21105.joss.03595.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03595/joss.03595/10.21105.joss.03595.pdf) :page_facing_up: :point_left:

[2021-08-09 16:12] Aju100 commented on #3593
Thank you @arfon for the feedbacks. I appreciated it.

[2021-08-09 16:13] danielskatz commented on #3295
@reidpr - Working on another product in this space isn't a conflict, if you think you could review this fairly. Expertise is a good thing to bring to a review

[2021-08-09 16:14] vsoch commented on #3295
@danielskatz both reviewers have expressed concerns about publishing this paper - and it seems like they aren't being heard -  @mviereck put a lot of time/energy into the review and wasn't satisfied at the end, and instead of hearing his concerns (which are somewhat overlapping with mine) he's simply removed from the process. What is the point of having reviewers if you aren't listening to them? :

[2021-08-09 16:15] danielskatz commented on #3550
@arfon - can you help with this update request?

[2021-08-09 16:15] rusu24edward commented on #3550
@danielskatz I can review it.

[2021-08-09 16:18] arfon commented on #3550
Done.

[2021-08-09 16:20] danielskatz commented on #3295
@vsoch - Did you feel that your concerns weren't addressed?  I know you had some, but I thought from your agreeing that this could be published after discussions with me and the author, you were ok with this, given your comments in https://github.com/openjournals/joss-reviews/issues/3295#issuecomment-863345897 in particular.

The issue with @mviereck and the author is something different to me, wh

[2021-08-09 16:20] KevinShook commented on #2276
The archived code is now on Zenodo.
DOI: 10.5281/zenodo.5165172

Thanks very much for all the help

[2021-08-09 16:21] danielskatz commented on #3550
thanks @rusu24edward - I'll add you as a reviewer, but we won't start until I find one more reviewer as well

[2021-08-09 16:21] danielskatz commented on #3550
@whedon assign @rusu24edward as reviewer

[2021-08-09 16:21] whedon commented on #3550
OK, @rusu24edward is now a reviewer

[2021-08-09 16:25] vsoch commented on #3295
That was my response after I expressed concerns to you privately and you emailed me back that you "don't have any issue with accepting this" and I shrugged my shoulders and decided that the other reviewer would be the deciding factor. But now that the other reviewer has come to the same conclusions as me (and a few more) I'm thinking that my views weren't so unfair or far off. To reiterate my conc

[2021-08-09 16:26] vsoch commented on #3295
I think I would also like to be removed as a reviewer, thank you.

[2021-08-09 16:28] dfm commented on #3484
@derrynknife: I've opened a pull request with some edits to the paper. Can you take a look at that and once you've merged, please take the following steps:

1. Comment `@whedon generate pdf` on this thread and read through the manuscript to make sure that you're happy with it (it's hard to make changes later!), especially your name and affiliation.
2. Increment the version number of the software a

[2021-08-09 16:31] danielskatz commented on #3295
I'm now asking other JOSS AEiCs for advice on how to handle this - perhaps my judgement that this was in scope was incorrect, and we should have had all the JOSS editors vote.

[2021-08-09 16:31] jedbrown commented on #3537
Thanks for your reviews, @jeffhammond and @joselado.

@jeffhammond Could you please tick the "performance" box in your review checklist if you feel it has reasonably been addressed. (I see your review adds some nuance that you didn't compare with every alternative, and that's entirely fine.)

@twesterhout Could you please revise based on reviewer suggestions and let me know when ready?

[2021-08-09 16:50] phoebe-p commented on #3460
@kanderso-nrel I have just had a look at the 'How to Apply These Terms to Your New Programs' section of Daniel's link, and as far as I can tell the text I have in LICENSE.txt is the same as what is given there, though it is missing contact information as suggested and I do not currently have the license or a pointer to it in every individual file or terminal output, as is suggested by this section

[2021-08-09 16:52] PacoCosta commented on #3211
Ok, thank you very much @danielskatz. I don't have any other suggestions for another reviewer. As far as I know, there is a list of available reviewers. Maybe, if you can send it to me I can suggest a new suitable one.

[2021-08-09 16:53] danielskatz commented on #3211
See https://bit.ly/joss-reviewers

[2021-08-09 16:54] danielskatz commented on #3211
And if you suggest people, please do it without tagging them (don't use the `@` in their usernames)

[2021-08-09 17:01] magdalenafuentes commented on #3434
@faroit my review is complete: I recommend the package/paper for publication!

[2021-08-09 17:04] jedbrown commented on #3581
Have you considered submitting to [JOSE: the Journal of Open Source Education](https://jose.theoj.org/)? It's very similar to JOSS, but for _educational_ materials/software rather than JOSS's focus on *research* software.

[2021-08-09 17:07] PacoCosta commented on #3211
At a glance, I can see some people with knowledge of lidar and wind energy, which is what the topic is about. Also, python skills. These two seems suitable choices to me :
- Scivision (python, lidar, remote sensing, data science)
- antviro (python, wind power)

[2021-08-09 17:11] danielskatz commented on #3211
👋 @antviro & @Scivision - Would either of you be able to step in and review this submission for JOSS - I hope this isn't too much work, since we already have one positive review from @adi3, meaning we've worked through at least some potential issues. If you cannot review, and have suggestions for colleagues who might be suitable, that would also be great.

[2021-08-09 17:11] kanderso-nrel commented on #3460
Oh interesting @phoebe-p.  I had the impression that the LICENSE.txt is supposed to contain the full license text (several hundred lines long in the case of GPL) rather than that abbreviated notice.  My interpretation is that the abbreviated notice is intended for the top of source files, and when it says "You should have received a copy of the GNU General Public License along with this program",

[2021-08-09 17:12] karink520 commented on #3397
@drvinceknight, is there anything I should do at this point? Thank you!

[2021-08-09 17:18] savage13 commented on #3470
Going through the list or people, I might suggest jkmacc-LANL, krischer, or anowacki.
- jkmacc-LANL has domain specific knowledge but lacks C expertise
- krischer knows C and understands the domain
- anowacki has domain knowledge but does not know C

Let me know if you need additional possible reviewers.

[2021-08-09 17:26] phoebe-p commented on #3460
From some more research on the GNU website, it seems that it is indeed recommended you distribute a copy of the full license text with the software, so I will add this, since I see no reason not to. Either way, the 'How to apply this' section is clear that I am supposed to put a copyright notice at the start of every file, so I will also add that.

[2021-08-09 17:29] fabian-s commented on #3456
@gvegayon
could you give a brief update on your progress with the issues pointed out by the reviewers?

[2021-08-09 17:31] kellyrowland commented on #3374
Thank you @iimog !

[2021-08-09 17:32] taless474 commented on #3548
@nickbearman, of course :+1
Thank you

[2021-08-09 17:45] danielskatz commented on #3470
👋 @krischer - You appear to be uniquely qualified to review this submission (of the list of JOSS potential reviewers).  Are you able to help us and take on this review?

[2021-08-09 17:46] danielskatz commented on #3470
👋 @jkmacc-LANL & @anowacki - though you didn't list C expertise, do you think you have enough C skill to review this submission?

[2021-08-09 17:46] michaeltouati commented on #3581
Dear Jed,

I think I’ve made a mistake by chosing such a title. This is just because
I’ve developped and used this code to teach Plasma Physics to graduate
students.

It can clearly be used for Plasma Physics Research investigations as it is
already the case by two teams who cloned it from GitHub (and myself).

If needed, I can submit it to JOSE but I think it will be better to change
the title an

[2021-08-09 17:52] kadglass commented on #2920
@arfon - Thank you for checking in!  We are wrapping up the requests made, and should have things ready by the end of this week.  I will update here when we are ready to move forward.

[2021-08-09 18:27] faroit commented on #3434
@magdalenafuentes Thanks a lot Magdalena! Your help was spot on and really helpful to improve the quality of this submission. See you soon.

[2021-08-09 18:44] HerrMo commented on #3524
@fabian-s @whedon I have finished my review and I suggest a revision as follows

Summary:
The package `popsom` provides an implementation of self-organizing maps. The software is well documented, easy to use and provides visualizations and quality metrics which make the assessment of a trained map very intuitive. The software paper is well written and gives an accurate and for the most part suffic

[2021-08-09 18:49] kellyrowland commented on #3318
@whedon re-invite @munkm as reviewer

[2021-08-09 18:49] whedon commented on #3318
OK, the reviewer has been re-invited.

@munkm please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-09 19:22] ahurriyetoglu commented on #3448
@whedon generate pdf

[2021-08-09 19:22] whedon commented on #3448
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03448/joss.03448/10.21105.joss.03448.pdf) :page_facing_up: :point_left:

[2021-08-09 19:27] kbarnhart commented on #2276
@whedon set v2.0b as version

[2021-08-09 19:27] whedon commented on #2276
OK. v2.0b is the version.

[2021-08-09 19:27] kbarnhart commented on #2276
@whedon set 10.5281/zenodo.5165172 as archive

[2021-08-09 19:27] whedon commented on #2276
OK. <a href="https://doi.org/10.5281/zenodo.5165172" target="_blank">10.5281/zenodo.5165172</a> is the archive.

[2021-08-09 19:28] kbarnhart commented on #2276
@whedon recommend accept

[2021-08-09 19:28] whedon commented on #2276
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-09 19:29] kbarnhart commented on #2276
@whedon recommend-accept

[2021-08-09 19:29] whedon commented on #2276
[code]

[2021-08-09 19:29] whedon commented on #2276
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2505

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2505, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-09 19:29] whedon commented on #2276
[code]

[2021-08-09 19:30] kbarnhart commented on #2276
@KevinShook I've now recommended that this submission be accepted. One of the @openjournals/joss-eics will handle the final steps of this process. Congratulations on a valuable contribution. Many thanks to reviewers @r-barnes @awickert @KCallaghan for you thoughtful and constructive reviews.

[2021-08-09 19:32] KevinShook commented on #2276
Wonderful. Thanks so much again for shepherding us through the process, and thanks as well to the reviewers for making the paper and the program much better.

[2021-08-09 19:41] whedon commented on #3541
:wave: @abhishekvp, please update us on how your review is going (this is an automated reminder).

[2021-08-09 19:41] whedon commented on #3541
:wave: @arbennett, please update us on how your review is going (this is an automated reminder).

[2021-08-09 19:41] whedon commented on #3541
:wave: @omshinde, please update us on how your review is going (this is an automated reminder).

[2021-08-09 19:58] robinroche commented on #3576
Yes, I can review the submission but I will need a few weeks.

[2021-08-09 20:05] meg-simula commented on #3237
@whedon generate pdf

[2021-08-09 20:05] meg-simula commented on #3237
@whedon check references

[2021-08-09 20:05] whedon commented on #3237
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03237/joss.03237/10.21105.joss.03237.pdf) :page_facing_up: :point_left:

[2021-08-09 20:05] whedon commented on #3237
[code]

[2021-08-09 20:07] meg-simula commented on #3237
@whedon set 10.5281/zenodo.5081124 as archive

[2021-08-09 20:07] whedon commented on #3237
OK. <a href="https://doi.org/10.5281/zenodo.5081124" target="_blank">10.5281/zenodo.5081124</a> is the archive.

[2021-08-09 20:07] mgxd commented on #3459
Hi all,

Thank you @PeerHerholz and @robbisg for the reviews! We have spent the past few weeks addressing concerns, and feel that we're at a good place - when you can, please give nitransforms another look.

Cheers,
Mathias

[2021-08-09 20:07] meg-simula commented on #3237
@whedon set joss as version

[2021-08-09 20:07] whedon commented on #3237
OK. joss is the version.

[2021-08-09 20:08] meg-simula commented on #3237
@whedon recommend-accept

[2021-08-09 20:08] whedon commented on #3237
[code]

[2021-08-09 20:08] whedon commented on #3237
PDF failed to compile for issue #3237 with the following error:
[code]

[2021-08-09 20:08] whedon commented on #3237
[code]

[2021-08-09 20:10] meg-simula commented on #3237
@schruste Thanks again for the submission and the revisions! The paper will now undergo a quick check by the JOSS Editors-in-Chief before final acceptance. No need to do anything at your end at this point.

[2021-08-09 20:20] meg-simula commented on #3343
@felixchenier Thanks again for your submission of Kinetics toolkit; it looks well within the JOSS scope.

If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition,[ this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at t

[2021-08-09 20:23] felixchenier commented on #3343
Hi @meg-simula

Here is the list you asked for. I wrote it for on a previous submission for Kinetics Toolkit, I'm not **that** fast :-)

alcantarar
ixjlyons
melund

then

CELavecchia
anmuller
BabakNSafa
cpontonn

then

trallard
moorepants

[2021-08-09 20:31] meg-simula commented on #3343
:wave: @moorepants, would you be available to review this submission for JOSS? Feel free to revisit the reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

[2021-08-09 20:33] meg-simula commented on #3343
:wave: @alcantarar, would you be available to review this submission for JOSS? Feel free to revisit the reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .

[2021-08-09 20:38] adi3 commented on #3320
@degleris1 @aaronpeikert - Checking in again whether either of you would be willing to review this paper? We would really appreciate your help!

[2021-08-09 20:39] adi3 commented on #3320
@AP6YC - Can you please search for a few more reviewers in the [reviewers list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/) so we could move this along? Thanks!

[2021-08-09 20:43] 1tylermitchell commented on #3548
@taless474 I cannot do a review at the moment. I should also be tutored through the experience for the first time I think :)

[2021-08-09 20:43] mariojmdavid commented on #3295
dear reviewers and editor,
it is unfortunate that things have come to this point of rupture.
the first question is/was of course if this new version was appropriate to be published in the JOSS, this has been questioned in the very beginning of the process, and it seemed the answer was yes, and thus the effort from absolutely everybody to improve, the paper itself, but as well the SW and the docume

[2021-08-09 21:10] vsoch commented on #3295
Thank you @mariojmdavid. Just to be transparent, my concerns were there from the beginning, and I emailed the editor here and was sort of pushed in the direction of "I think this is okay" (subtext you should too) and I proceeded with the review. I didn't feel that I had the power or right to be assertive about my opinion, so I stopped there. I think if I were truly in charge I would have concluded

[2021-08-09 21:12] derrynknife commented on #3484
@whedon generate pdf

[2021-08-09 21:13] whedon commented on #3484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03484/joss.03484/10.21105.joss.03484.pdf) :page_facing_up: :point_left:

[2021-08-09 21:14] jcoliver commented on #3374
Great! I suggested [two minor fixes](https://github.com/phyloref/jphyloref/issues/99) to the manuscript article, but everything else on the checklist looks good to me.

[2021-08-09 21:17] mariojmdavid commented on #3295
@vsoch thanks for your directness and I totally understand, of course I as one of the authors and contributors would like to see this published, but of course it's up to the editors and reviewers to evaluate that, and I will accept whatever decision is made, and I say sincerely on my part that even if it is not accepted for publication, it was a productive exercise on improvements,
I would like to

[2021-08-09 21:24] danielskatz commented on #3295
@vsoch - I don't want to make this a major point, but I've generally tried to keep all conversations as public in the issue, so that there are no questions about who said what. I wish we had done this in this case, rather than our discussion happening in another channel.

While I accept that you are saying what you believe happened, this was not my perception or intent at the time, which was much

[2021-08-09 21:25] danielskatz commented on #3295
The JOSS AEiCs have now looked at this review thread and the software, and I'm going to let @arfon as the overall JOSS AEiC take over to state the decision as a person not directly involved in the process.

[2021-08-09 21:41] derrynknife commented on #3484
@dfm I've incremented the version number to 0.10.0 and uploaded to zenodo.

https://doi.org/10.5281/zenodo.5173006

[2021-08-09 21:48] reidpr commented on #3295
As someone (possibly) invited to review, I'm not familiar with this journal nor its review process.

But, seeing R1 (@mviereck) removed from the paper immediately after their reject recommendation, and R2 (@vsoch) feeling her concerns aren't being heard, makes it clear to me I do not want to be involved. Thanks for thinking of me and good luck.

[2021-08-09 21:57] danielskatz commented on #3295
@reidpr - this has been a very unusual review, so please don't take this as typical of the journal or most submissions or reviews - see https://github.com/openjournals/joss-reviews/issues/3457 as one that was much more straightforward and typical, with a happy author, and https://github.com/openjournals/joss-reviews/issues/3311 as another, from @vsoch.  Unfortunately, sometimes (and I think rarely

[2021-08-09 22:11] alcantarar commented on #3343
@meg-simula Sure, I can review this submission.

[2021-08-09 22:45] arunpersaud commented on #2688
@arfon Hi, I know it's been quite a while, but we just started re-writing some of the code and hopefully we have something to submit back here in about 1 month, could take a bit longer though

[2021-08-09 23:36] degleris1 commented on #3320
@adi3 Apologies, I am unavailable at the moment.

[2021-08-09 23:50] vijaysm commented on #3274
@diehlpk @clavigne I apologize about the delay. My primary machine got fried due to some coffee spillage recently, and so my productivity has been shot. I should be able to read the paper containing the new changes soon, and will finish the full review by next week.

[2021-08-10 00:19] kellyrowland commented on #3374
Thank you @jcoliver !

@gaurav please let me know about the minor fixes, and once you have gotten through them, please:

- issue a new tagged release of the software (if it has changed in the review process),
- archive the release on Zenodo, figshare, or another site, and
- post the version number and archive DOI here in this review issue

Feel free to ping me with any questions!

[2021-08-10 01:37] donaldRwilliams commented on #3308
@arfon Apologies on the delay (just started a job outside of academia). I will do them over this next week and finish by Sunday.

[2021-08-10 05:56] arfon commented on #3237
@mscroggs, @mikaem – many thanks for your reviews here and to @meg-simula for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@schruste – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-10 05:56] #3237 closed

[2021-08-10 05:56] whedon commented on #3237
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03237/status.svg)](https://doi.org/10.21105/joss.03237)

**We need your help!**

Journal of Open Source Softwa

[2021-08-10 06:02] timtroendle commented on #3576
That's great, thanks @noah80 and @robinroche . We are still in reduced service mode in which we ask reviewers to complete their review within six weeks.

[2021-08-10 06:02] timtroendle commented on #3576
@whedon add @noah80 as reviewer

[2021-08-10 06:02] whedon commented on #3576
OK, @noah80 is now a reviewer

[2021-08-10 06:02] timtroendle commented on #3576
@whedon add @robinroche as reviewer

[2021-08-10 06:02] whedon commented on #3576
OK, @robinroche is now a reviewer

[2021-08-10 06:03] timtroendle commented on #3576
@whedon start review

[2021-08-10 06:03] whedon opened #3596 "[REVIEW]: Nempy: A Python package for modelling the Australian National Electricity Market dispatch procedure"
**Submitting author:** @nick-gorman (<a href="http://orcid.org/0000-0002-6505-761X">Nicholas Gorman</a>)
**Repository:** <a href="https://github.com/UNSW-CEEM/nempy" target ="_blank">https://github.com/UNSW-CEEM/nempy</a>
**Version:** v1.1.2
**Editor:** @timtroendle
**Reviewer:** @noah80, @robinroche
**Archive:** <a href="https://doi.org/10.5281/zenodo.5989170" target="_blank">10.5281/zenodo.59891

[2021-08-10 06:03] whedon commented on #3576
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3596.

[2021-08-10 06:03] #3576 closed

[2021-08-10 06:03] whedon commented on #3596
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @noah80, @robinroche it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-08-10 06:03] whedon commented on #3596
PDF failed to compile for issue #3596 with the following error:
[code]

[2021-08-10 06:03] whedon commented on #3596
[code]

[2021-08-10 06:04] timtroendle commented on #3596
@whedon generate pdf from branch joss-paper

[2021-08-10 06:04] whedon commented on #3596
[code]

[2021-08-10 06:04] whedon commented on #3596
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03596/joss.03596/10.21105.joss.03596.pdf) :page_facing_up: :point_left:

[2021-08-10 06:06] timtroendle commented on #3596
@noah80, @robinroche, I'll add a reminder for both of you to notify you when half of the six weeks has elapsed.

[2021-08-10 06:06] timtroendle commented on #3596
@whedon remind @noah80 in three weeks

[2021-08-10 06:06] whedon commented on #3596
Reminder set for @noah80 in three weeks

[2021-08-10 06:06] timtroendle commented on #3596
@whedon remind @robinroche in three weeks

[2021-08-10 06:06] whedon commented on #3596
Reminder set for @robinroche in three weeks

[2021-08-10 06:17] WilkAndy commented on #3314
Many thanks for your positive review, @volpatto  :-)

[2021-08-10 06:46] satejsoman commented on #3464
Hi @dilawar and @Nikoleta-v3 - thanks again.

Here are the changes that have been implemented:
- the `studies` folder has been moved to [its own repository](https://github.com/COVID-IWG/epimargin-studies)  (see: https://github.com/COVID-IWG/epimargin/pull/133)
- `docs/toy_example.py` has been updated to refer to the latest classes/package names and runs out of the box (see: https://github.com/COVI

[2021-08-10 06:48] meg-simula commented on #3343
Great, thanks @alcantarar !

[2021-08-10 06:49] meg-simula commented on #3343
@whedon assign @alcantarar as reviewer

[2021-08-10 06:49] whedon commented on #3343
OK, @alcantarar is now a reviewer

[2021-08-10 07:30] fwitte commented on #3549
Hi @fraukewiese,
I have some experience in this field, but am much more focused on the engineering thermodynamics and economics of individual power plants. Therefore, I feel, that I would not be an adequate reviewer for this publication. I suggest you reach out to e.g. `@simnh` as potential reviewer instead, as he did somewhat related research in the German/European power system. He might be inter

[2021-08-10 07:47] aaronpeikert commented on #3320
I am currently on vacation. But could review this paper in the week from the 16th August.

A note, though, I am unfamiliar with the review process of JOSS and I am an early career researcher so my experience with reviewing is meagre.
Anyhow, I am quite willing to invest some time to learn how it’s done.

[2021-08-10 07:50] kasbohm commented on #3503
Sure @osorensen!

[2021-08-10 07:58] osorensen commented on #3503
@whedon add @kasbohm as reviewer

[2021-08-10 07:58] whedon commented on #3503
OK, @kasbohm is now a reviewer

[2021-08-10 07:59] osorensen commented on #3503
Thanks @kasbohm, we'll wait for another potential reviewer to respond, and then you'll get instructions how to proceed.

[2021-08-10 08:09] martin3141 commented on #3595
suggested reviewers : Øystein Sørensen (osorensen), Elizabeth DuPre (emdupre), Christopher R. Madan (cMadan)

[2021-08-10 08:22] KAClough commented on #3564
Hi @rkurchin, thanks for being our editor! I will have a think about reviewers and let you know some suggestions shortly.

[2021-08-10 08:24] martin3141 commented on #3595
Please note, for some reason my automatic spellchecker wasn't working at submission and I've since fixed a couple of mistakes. Not sure how to regenerate the proof.

[2021-08-10 08:47] gvegayon commented on #3456
Hi! I think I have addressed all the comments. I am now working on the website, but installing the current version of the repo should work.

[2021-08-10 09:10] ljakoster commented on #3412
hi @rkurchin <https://github.com/rkurchin>,

sorry for the slow reply, just got back to the office.
May I suggest:
-dawbaron
-eteq
-danehkar
-shahmoradi

best wishes,
Jan-Anton

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://

[2021-08-10 09:32] sigvaldm commented on #3556
General comment: Although there is no lack of software which implements various finite elements, Symfem implements a rather vast set of element types, and does so using symbolic representations (using SymPy, at increased computational cost). This allows further symbolic manipulation (differentiation and so on) by the user. The software is well designed, using the general Ciarlet definition (`Ciarl

[2021-08-10 09:46] sigvaldm commented on #3556
While trying out the software I was a little confused by `create_reference()` at first, because it allowed specifying the coordinates of the vertices. What would distinguish a reference element from any other element then? The stiffness matrix example also used `create_reference()` to create all elements in the mesh, specifying the coordinates through the second argument. One might also expect `cr

[2021-08-10 09:49] markushs commented on #3503
Sorry @osorensen, busy August

[2021-08-10 09:49] Nikoleta-v3 commented on #3464
👋🏻 thank you for your work @satejsoman

Fantastic! 🎉  Note that Github Actions haven't  run yet (https://github.com/COVID-IWG/epimargin/actions).

I believe it's because there hasn't been a "push" to the project since you setup the CI, and CI is only going to run after a "push". This is because of [line](https://github.com/COVID-IWG/epimargin/blob/c6dcefa6568091a74ce78da675a0311e19a82258/.github/w

[2021-08-10 09:53] jpata commented on #3405
@lucydot I can review this paper, I will look at it this week.

[2021-08-10 10:05] sigvaldm commented on #3556
There's a curious oversight in the paper: There's no reference on the finite element method when the finite element method and the weak form is introduced.

[2021-08-10 10:11] sigvaldm commented on #3556
@Nikoleta-v3: There are two statement-of-need items in the checklist. How is the one under "Documentation" different from the one under "Software paper"? Is it just that it should be clear from the readme/readthedocs as well what the software does?

[2021-08-10 10:19] sigvaldm commented on #3556
Concerning the automated tests, on a clean conda environment the tests against Basix were skipped because Basix were not installed. This is reasonable, and I see that they pass on the continuous integration system. There were also five skipped tests in `test_legendre.py` (see below). This is probably fine, but I'm curious why they are skipped?
[code]

[2021-08-10 10:34] drvinceknight commented on #3424
Thank you @abhiramm7 and @seba-1511 :+1:

I will proof read the paper and potentially make some final requests (about to do that now). *but* we're nearly there now :) :+1:

[2021-08-10 10:34] drvinceknight commented on #3424
@whedon generate pdf

[2021-08-10 10:35] whedon commented on #3424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: :point_left:

[2021-08-10 10:35] drvinceknight commented on #3424
@whedon check references

[2021-08-10 10:35] whedon commented on #3424
[code]

[2021-08-10 10:37] Nikoleta-v3 commented on #3556
:wave @sigvaldm

Yup! The `statement-of-need` should be clear in both the paper and in the package's documentation.

[2021-08-10 10:38] osorensen commented on #3503
No problem @markushs. Thanks for responding!

[2021-08-10 10:43] drvinceknight commented on #3424
@whedon generate pdf from abmarl-87-interface-release

[2021-08-10 10:43] whedon commented on #3424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: :point_left:

[2021-08-10 10:44] drvinceknight commented on #3424
@whedon check references from abmarl-87-interface-release

[2021-08-10 10:44] whedon commented on #3424
[code]

[2021-08-10 10:45] drvinceknight commented on #3424
@rusu24edward can I just confirm which branch is the correct one? Is it still `abmarl-87-interface-release`?

[2021-08-10 10:46] ethanknights commented on #3503
Sure @osorensen

[2021-08-10 10:46] drvinceknight commented on #3397
I just have a few last things to check including a last proof read and then I'll ask you to do a new release but we're almost there @karink520 :)

[2021-08-10 10:47] drvinceknight commented on #3397
@whedon generate pdf

[2021-08-10 10:47] whedon commented on #3397
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03397/joss.03397/10.21105.joss.03397.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03397/joss.03397/10.21105.joss.03397.pdf) :page_facing_up: :point_left:

[2021-08-10 10:48] osorensen commented on #3503
@whedon add @ethanknights as reviewer

[2021-08-10 10:48] whedon commented on #3503
OK, @ethanknights is now a reviewer

[2021-08-10 10:48] drvinceknight commented on #3397
@whedon check references

[2021-08-10 10:48] osorensen commented on #3503
@whedon start review

[2021-08-10 10:48] whedon opened #3597 "[REVIEW]: mednoise: a python package for medical image processing"
**Submitting author:** @ravibandaru-lab (<a href="http://orcid.org/0000-0001-7109-9894">Ravi Bandaru</a>)
**Repository:** <a href="https://github.com/mednoise/mednoise" target ="_blank">https://github.com/mednoise/mednoise</a>
**Version:** v.1.2.4
**Editor:** @osorensen
**Reviewer:** @kasbohm, @ethanknights
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2021-08-10 10:48] whedon commented on #3503
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3597.

[2021-08-10 10:48] #3503 closed

[2021-08-10 10:48] whedon commented on #3597
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kasbohm, @ethanknights it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-08-10 10:48] whedon commented on #3597
[code]

[2021-08-10 10:48] whedon commented on #3597
Wordcount for `paper.md` is 737

[2021-08-10 10:48] whedon commented on #3597
[code]

[2021-08-10 10:48] whedon commented on #3397
[code]

[2021-08-10 10:49] whedon commented on #3597
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03597/joss.03597/10.21105.joss.03597.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03597/joss.03597/10.21105.joss.03597.pdf) :page_facing_up: :point_left:

[2021-08-10 10:50] osorensen commented on #3597
@ethanknights and @kasbohm thanks for agreeing to review this submission! The guidelines and checklist above should get you started, but please ask me in this thread if I can be of further help in the process.

[2021-08-10 11:03] drvinceknight commented on #3397
@karink520 could you take a look at the missing DOIs? Whedon has suggested one of them but there are others that are missing:

- [ ] Gelman, A., Carlin, J. B., Stern, H. S., Dunson, D. B., Vehtari, A., & Rubin, D. B. (2013). Bayesian data analysis. CRC press.
- [ ] Hoffman, M. D., & Gelman, A. (2014). The No-U-Turn sampler: Adaptively setting path lengths in Hamiltonian Monte Carlo. J. Mach. Learn

[2021-08-10 11:26] VBlesius commented on #3540
@rrrlw Andreas Dominik is my PhD supervisor. Commits are only made by me because I implemented the package and wrote the paper, but essential implementation ideas, advice and feedback comes from Andreas Dominik. As I read in the [Author Guides](https://joss.readthedocs.io/en/latest/submitting.html#authorship) this is sufficient for co-authorship and therefore I included him as author.

[2021-08-10 11:48] anowacki commented on #3470
@danielskatz To be honest, I don't think I do, sorry.  Apologies not to be able to help on this occasion.

[2021-08-10 12:06] mscroggs commented on #3556
@sigvaldm Thanks for reviewing this. I'll work though your comments & questions and post replies here over the next couple of days

[2021-08-10 12:34] VBlesius commented on #3540
Thanks for the hints, fixed both :+1:

[2021-08-10 12:51] fraukewiese commented on #3549
Thanks @fwitte

[2021-08-10 12:53] fraukewiese commented on #3549
@willu47 : Did you find the chance to have a look whether you could be a reviewer for this submission to JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is cerf: A Python package to evaluate the feasibility and costs of power plant siting for alternat

[2021-08-10 12:54] fraukewiese commented on #3528
@milicag , @ckaldemeyer – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is elmada: Dynamic electricity carbon emission factors and prices for Europe

[2021-08-10 13:42] ethanwhite commented on #3575
Overall this software paper looks great and appropriate for JOSS. Nice work @rlonka!

In addition to @callumrollo's comments, all of which I agree with, I have the following additions:

## Installation

* I think there is a missing dependency for the conda installation. When I installed into a fresh conda environment and then tried to load the package I received the following error. `ImportError:

[2021-08-10 13:45] osorensen commented on #3575
Thanks to @ethanwhite and @callumrollo for responding so quickly! @rlonka, please address the issues raised by the reviewers and report on the progress in this thread.

[2021-08-10 14:16] adi3 commented on #3320
@aaronpeikert Thank you for the offer! I don't have an issue with waiting till you're back from your vacation. Our review process is pretty well documented and you will be provided with a specific checklist + instructions on how to conduct the review, but in any case, I will be around to guide you through it or have any questions :)

I'll go ahead and assign you as a reviewer on this paper. The ac

[2021-08-10 14:16] adi3 commented on #3320
@whedon assign @aaronpeikert as reviewer

[2021-08-10 14:16] whedon commented on #3320
OK, @aaronpeikert is now a reviewer

[2021-08-10 14:16] sigvaldm commented on #3556
Sounds good, @mscroggs. All in all a very nice piece of software. Perhaps the main area of improvement in my opinion would be the documentation.

Each method and class is well documented with to-the-point docstrings, so this is good. The introductory part of the documentation is very brief, though, and doesn't even expose many of the categories of functionality present in the API. From the API I s

[2021-08-10 14:18] faroit commented on #3434
@whedon generate pdf from branch paper

[2021-08-10 14:18] whedon commented on #3434
[code]

[2021-08-10 14:19] whedon commented on #3434
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03434/joss.03434/10.21105.joss.03434.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03434/joss.03434/10.21105.joss.03434.pdf) :page_facing_up: :point_left:

[2021-08-10 14:20] whedon commented on #3434
[code]

[2021-08-10 14:21] jorgegil commented on #3346
@gro5-AberUni Thank you for the very comprehensive response to my comments and revision of the paper and plugin.

I'm happy with the changes and recommend the paper to be accepted pending some minor edits.

Under Statement of Need section:
- "Within the open source software domain, there are very region growing tools available." instead of "very" maybe "other" or nothing
- "which are able to selec

[2021-08-10 14:25] yiitozer commented on #3434
@faroit, sure done!

[2021-08-10 14:31] faroit commented on #3434
@yiitozer great!  At this point, could you please make a new release of the main repo that includes all of the changes that have resulted from the review? I would also suggest to issue a new pypi release at the same time, using the same tag.

Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive. For the archive version, pl

[2021-08-10 14:35] faroit commented on #3434
@yiitozer for convenience, I would also suggest to merge the paper branch into the master to match the tag of the paper with the pypi release tag

[2021-08-10 15:14] Shibabrat commented on #3482
@richardjgowers @nicoguaro, just wondering if we are required to make any additional changes at this stage to help with the review? Thank you.

[2021-08-10 16:35] arfon commented on #3295
This has been a challenging review for many reasons and I would like to thank @vsoch and @mviereck for their efforts and time invested here and the authors for their work to improve their submission based on the feedback of the reviewers.

@jorge-lip @vsoch @mviereck – as @danielskatz mentioned, the broader EiC team at JOSS has reviewed the status of this submission and arrived at a decision about

[2021-08-10 16:35] arfon commented on #3295
@whedon reject

[2021-08-10 16:35] #3295 closed

[2021-08-10 16:42] whedon commented on #3295
Paper rejected.

[2021-08-10 16:59] rusu24edward commented on #3424
@drvinceknight Yes, this is the correct branch still.

[2021-08-10 17:22] lucydot commented on #3586
Hello @arfon it's outside of my physics area but yes I can give it a whirl if there is not a better matched editor who is available - feel free to assign to me.

[2021-08-10 17:28] lucydot commented on #3405
Hi @dfujim thanks for adding some useful context to the discussion. @jpata and @nicksisco1932 thanks for accepting the invitation to review 🎈

@whedon assign @jpata as reviewer
@whedon assign @nicksisco1932 as reviewer

@whedon start review

[2021-08-10 17:30] whedon commented on #3405
OK, @jpata is now a reviewer

[2021-08-10 17:30] lucydot commented on #3405
@whedon assign @nicksisco1932 as reviewer

[2021-08-10 17:30] whedon commented on #3405
OK, @nicksisco1932 is now a reviewer

[2021-08-10 17:30] lucydot commented on #3405
@whedon start review

[2021-08-10 17:30] whedon opened #3598 "[REVIEW]: bfit: A Python Application For Beta-Detected NMR"
**Submitting author:** @dfujim (<a href="http://orcid.org/0000-0003-2847-2053">Derek Fujimoto</a>)
**Repository:** <a href="https://github.com/dfujim/bfit" target ="_blank">https://github.com/dfujim/bfit</a>
**Version:** 4.14.1
**Editor:** @lucydot
**Reviewers:** @nicksisco1932, @jpata
**Archive:** <a href="https://doi.org/10.5281/zenodo.5519795" target="_blank">10.5281/zenodo.5519795</a>

**:warn

[2021-08-10 17:30] whedon commented on #3405
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3598.

[2021-08-10 17:30] #3405 closed

[2021-08-10 17:30] whedon commented on #3598
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nicksisco1932 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.j

[2021-08-10 17:31] whedon commented on #3598
Wordcount for `paper.md` is 876

[2021-08-10 17:31] whedon commented on #3598
[code]

[2021-08-10 17:31] whedon commented on #3598
[code]

[2021-08-10 17:31] whedon commented on #3598
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03598/joss.03598/10.21105.joss.03598.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03598/joss.03598/10.21105.joss.03598.pdf) :page_facing_up: :point_left:

[2021-08-10 17:32] dfm commented on #3484
@derrynknife: looks good, but could you clean up the Zenodo archive a little? It has all sorts of temporary files and the git archive which we don't want. One option would be to download a zip file of a snapshot from GitHub itself and upload that directly to Zenodo. Thanks!

[2021-08-10 17:35] whedon commented on #3598
OK, @jpata is now a reviewer

[2021-08-10 17:38] lucydot commented on #3598
👋 @jpata @nicksisco1932 Thanks again for agreeing to review. Reviewer checklists have been generated for you above, feel free to get started whenever is convenient for you in the nearest few weeks. I'll check back in regularly, and do not hesitate to ask if you have questions.

[2021-08-10 17:40] nicoguaro commented on #3482
@Shibabrat, I have moved forward in the review. This is reflected in the boxes checked above. Currently, I am reading the companion book showed in the documentation.

[2021-08-10 17:48] rkurchin commented on #3412
👋  Hi there @shahmoradi and @danehkar, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

Please feel free to let me know if you have any questions about the process.

[2021-08-10 17:51] rkurchin commented on #3546
Thanks for checking in! I think you're all set, we're just waiting for @mikapfl and @cmbiwer to continue their reviews, so do be on the lookout for any further comments/questions from them either here or as issues/PR's in your repo.

[2021-08-10 18:04] taless474 commented on #3548
@kbevers, @alesarrett will you be able to review this?

[2021-08-10 18:37] kbarnhart commented on #3507
@wsavran I wanted to give you a quick update. Specifically, I'm still actively looking for reviewers for this submission.

[2021-08-10 18:39] wsavran commented on #3507
@kbarnhart thanks for the update!

[2021-08-10 18:52] sbenthall commented on #3497
@whedon generate pdf from branch joss_paper

[2021-08-10 18:52] whedon commented on #3497
[code]

[2021-08-10 18:52] whedon commented on #3497
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03497/joss.03497/10.21105.joss.03497.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03497/joss.03497/10.21105.joss.03497.pdf) :page_facing_up: :point_left:

[2021-08-10 18:56] sbenthall commented on #3497
@whedon check references

[2021-08-10 18:57] kbarnhart commented on #3507
👋 @calum-chamberlain, @megies, @barsch, @mhearne-usgs would you be interested and able to provide a review of a manuscript at the Journal of Open Source Software (JOSS). The submission I'd like you to review is titled: " pyCSEP: A Python Package For Earthquake Forecast Developers" by William H. Savran, Maximilian J. Werner, Danijel Schorlemmer, and Philip J. Maechling and the submission repository

[2021-08-10 18:58] faroit commented on #3590
@arfon I think is relatively close to my areas of expertise so I can edit this submission

[2021-08-10 19:00] faroit commented on #3434
I guess this is fine then. @arfon ?

[2021-08-10 19:02] faroit commented on #3391
@keunwoochoi Thanks for your great feedback you gave to the authors. It looks like many of your issues that you raised about to be addressed now. In the meantime can you please proceed with the checklist so that we can continue with the review process?

[2021-08-10 19:04] sbenthall commented on #3497
@jamesrhester Could you please (a) make a tagged release, (b) archive it, and report the version number and archive DOI in the review thread.

[2021-08-10 19:20] kbarnhart commented on #3470
Some other recommendations @danielskatz.
- [Robert Herrmann @ SLU]( https://www.slu.edu/arts-and-sciences/earth-atmospheric-sciences/faculty/herrmann-robert.php)
- [Charles Amon @ Penn State]( http://eqseis.geosc.psu.edu/cammon/)
- [Chad Trabant at IRIS](https://www.iris.edu/hq/staff/employee/trabant) chad-iris
- jkmacc-LANL (listed above already) and mbegnaud (contributors to [pySAC](https://gith

[2021-08-10 19:25] danielskatz commented on #3470
👋 @chad-iris and @mbegnaud - Would one or both of you be able to review this submission to JOSS?

[2021-08-10 19:29] kbevers commented on #3548
@taless474 Sorry, this seems to be out of my area of expertise.

[2021-08-10 19:32] mscroggs commented on #3556
`create_reference` creates a reference cell which contains functions to create the map to/from the default reference, geometry computation, etc. `create_element` creates a finite element on a reference cell.

Being able to define the vertices of a reference cell is a little confusing: originally I was planning to allow the user to create finite elements on a cell with any vertices, but later decid

[2021-08-10 19:39] mscroggs commented on #3556
I've added a reference in https://github.com/mscroggs/symfem/commit/1398dfde9ea156d02856682de5edf33b93274c88

[2021-08-10 19:41] mscroggs commented on #3556
I'm yet to implement Legendre polynomials on pyramid, so these are skipped for now (although perhaps xfail would be a better thing to do).

[2021-08-10 19:42] mscroggs commented on #3556
All except one (direct serendipity) so far are defined using the Ciarlet definition

[2021-08-10 19:46] nicksisco1932 opened #3599 "Quality of writing: Is the paper well written (i.e., it does not require editing for structure, language, or writing quality)?"

[2021-08-10 19:46] whedon commented on #3599
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-10 19:46] #3599 closed

[2021-08-10 19:48] nicksisco1932 commented on #3599
It's not really a paper issue but in the Wiki. I think you meant to say de facto and not "de-factor" when describing Tkinter.

[2021-08-10 19:53] nicksisco1932 opened #3600 "Example usage: Do the authors include examples of how to use the software (ideally to solve real-world analysis problems)."

[2021-08-10 19:53] whedon commented on #3600
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-10 19:53] #3600 closed

[2021-08-10 19:59] shahmoradi commented on #3412
Thanks for the invitation. My knowledge of Pascal is rusty and aged. But I am happy to help if I am the last resort on this matter.

[2021-08-10 20:01] smolins commented on #3314
I started with the software paper. There are minor and major issues noted below (I refer to the lines in the pdf) :

line 13: flow --> transport

line 17: it is not clear just by the abstract how chemistry deforms the subsurface. It is a confusing sentence overall

line 35: complicated --> complex?

Section Existing software:
This list is missing probably the most active open-source RT code around

[2021-08-10 20:02] rkurchin commented on #3412
Thanks. Our list of volunteers is a bit thin on folks who list themselves as knowing any Pascal and also as doing physics, so if you feel like you can tackle the subject matter, I think you'd be a perfectly fine fit. Let me know what you think!

[2021-08-10 20:04] shahmoradi commented on #3412
sounds good. Is there a deadline to submit the review?

[2021-08-10 20:13] smolins commented on #3314
Could you please help me to find the instructions to build the code to run the examples in the geochemical module included in the paper? What MOOSE component do I need? One is a batch calculation and the other is a reactive transport run, so I am assuming different modules from MOOSE are needed but I can't find the description anywhere.

[2021-08-10 20:17] rkurchin commented on #3412
Once we have at least two reviewers, we'll start the review issue (this is the pre-review issue). The review process should be quite interactive, with reviewers filing issues (or even PR's) to address any areas that are lacking, either in the code itself or its documentation. So the duration of that can vary a fair bit depending on how quick that back-and-forth is. But once the review starts, you

[2021-08-10 21:22] derrynknife commented on #3484
@dfm. I didn't even think of that **facepalm**

I've re-uploaded it as per your recommendation, the new DOI is:

https://doi.org/10.5281/zenodo.5177222

[2021-08-10 21:30] KimBaldry commented on #3305
Hi @kthyng, I will get started this weekend! I only need to compile a PDF with the review criteria and using the review checklist, correct? Where do I post this PDF once complete?

Other potential reviewers who may be interested are Marin Cornec or Raphaelle Sauzede. Both use Argo and R.

[2021-08-10 21:34] mscroggs commented on #3556
I've added an extra demo, added more information to the README, and adjusted what Read the Docs says in mscroggs/symfem#118. (although the changes won't appear on Read the Docs until I next release a version)

[2021-08-10 21:45] kthyng commented on #3305
Hi @KimBaldry! No need to make a PDF. The outline of the review should be in the github review issue that I can open when we have our second reviewer. As issues come up during review, please open issues in the software repo itself and link back to the review issue (keeps down the clutter but keeps everything connected). There is a reviewer guide available as well as a look at the reviewer checklis

[2021-08-10 21:49] cmaimone commented on #3522
I'm not assigned to this issue currently (not sure why), so I can't edit the checklist

[2021-08-10 21:54] jedbrown commented on #3314
Thanks, @smolins.

@WilkAndy Please advise on the question about running and revise/respond to the other review points. In case the project documentation is unclear about how new users (who may not be experienced MOOSE users) can start running demos, it would be appropriate to revise that documentation so that it benefits other users, not just @smolins here. Thanks.

[2021-08-10 22:01] danielskatz commented on #3522
@whedon re-invite @cmaimone as reviewer

[2021-08-10 22:01] whedon commented on #3522
The reviewer already has a pending invite.

@cmaimone please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-10 22:28] cmaimone commented on #3522
@whedon re-invite @cmaimone as reviewer

[2021-08-10 22:28] whedon commented on #3522
I'm sorry @cmaimone, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-08-10 22:28] cmaimone commented on #3522
I need a new invite - the linked one expired or was revoked (I got both errors)

[2021-08-10 22:36] phoebe-p commented on #3460
@whedon generate pdf

[2021-08-10 22:37] whedon commented on #3460
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03460/joss.03460/10.21105.joss.03460.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03460/joss.03460/10.21105.joss.03460.pdf) :page_facing_up: :point_left:

[2021-08-10 22:38] WilkAndy commented on #3314
Thanks @smolins .   I need to check that the following instructions actually work before including them in the paper, but here's something to get you started

To build `geochemistry` and run the examples:

1. Download and install the entire MOOSE package.  Instructions are at https://mooseframework.inl.gov/getting_started/installation/index.html .  Even if you're interested only in geochemistry (w

[2021-08-10 23:05] mdsumner commented on #3305
Thanks for consideration, and I'll think about it - but I do feel a *bit close* to this ... I don't have heaps of actual Argo experience, and I know the author and @KimBaldry quite well. this might be a case where seeking another reviewer is advisable? I'll put some thought into it.

[2021-08-10 23:24] danielskatz commented on #3522
@whedon re-invite @cmaimone as reviewer

[2021-08-10 23:24] whedon commented on #3522
OK, the reviewer has been re-invited.

@cmaimone please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-10 23:26] danielskatz commented on #3522
👋 @arfon - I suspect a there's bug in whedon/etc here, as this has happened to me too many times, where I try to re-invite someone, whedon says they have a pending invitation, they try it and it doesn't work, and then the whedon command used again does give them a new invitation they can accept

[2021-08-10 23:40] satejsoman commented on #3464
No worries @Nikoleta-v3, my fault for moving too quickly 😅

I've set up the Github Actions (and the [successful runs are showing up](https://github.com/COVID-IWG/epimargin/actions/workflows/tutorial-ci.yaml)) and have added the documentation to the README.

I elected to not add the toy_example to the CI since the more important workflows are captured in the tutorial.

[2021-08-11 00:10] elwinter commented on #3465
Hi Patrick. Revisions are proceeding. I have closed all but 3 issues opened by the reviewers now, and I hope to have the rest closed by the end of this week.

Take care

Eric

From: Patrick Diehl ***@***.***>
Sent: Monday, August 9, 2021 10:14 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: nnde: A

[2021-08-11 02:30] finagle29 commented on #3511
:wave: @arfon, I think crhea93, arjunsavel, and olebole would be good candidates to review this submission

[2021-08-11 03:10] calum-chamberlain commented on #2565
This package provides a useful, simple to use and attractive real-time interface to RaspberryShake data, and I look forward to using it as an educational and outreach tool within my University and in broader communities. Firstly I would like to thank the developers for this tool. I do own a raspberry shake with a single-component sensor and have tested this with my own shake. Setup was simple and

[2021-08-11 03:40] jamesrhester commented on #3497
I have done so, the DOI for version 0.5.1 is 10.5281/zenodo.5178771

[2021-08-11 04:00] jedbrown commented on #2565
Thanks for your review, @calum-chamberlain. Could you clarify if/how you consider this useful for _research_, not strictly outreach and  education? Are there parts of functionality or documentation that should be improved to better meet the needs of researchers?

[2021-08-11 04:04] 1313e commented on #3419
@kellyrowland I am done with my review and happy for this paper+software to be accepted.
I think it is a great addition to the open-source community. :)

[2021-08-11 05:09] gaurav commented on #3374
@kellyrowland All done!
* The latest released version of JPhyloRef is [v1.1.1](https://github.com/phyloref/jphyloref/releases/tag/v1.1.1).
* This has been archived to Zenodo at [doi:10.5281/zenodo.5178723](https://doi.org/10.5281/zenodo.5178723).
* I've updated the manuscript so that it cites the archived version of the software in Zenodo.

Thank you everybody!

[2021-08-11 05:44] calum-chamberlain commented on #2565
Hi @jedbrown - the research need of this software is not particularly clear to me given that data can be accessed from via seedlink and accessible via other tools, and hence through ObsPy as is commonly used by "power users". The ability to archive miniseed data locally is helpful, but as these continuous data are available to researchers via FDSN, alongside other data that would likely be useful

[2021-08-11 06:33] arfon commented on #3561
@GohUnTsuan - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/

[2021-08-11 06:33] arfon commented on #3561
@whedon reject

[2021-08-11 06:33] whedon commented on #3561
Paper rejected.

[2021-08-11 06:33] #3561 closed

[2021-08-11 06:43] alesarrett commented on #3548
I'm sorry but I don't feel able to review it.

[2021-08-11 06:43] arfon commented on #3580
@Rojetto – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) o

[2021-08-11 06:43] arfon commented on #3580
@whedon reject

[2021-08-11 06:43] whedon commented on #3580
Paper rejected.

[2021-08-11 06:43] #3580 closed

[2021-08-11 06:47] arfon commented on #3581
@michaeltouati – this submission does currently feel more appropriate for JOSE rather than JOSS, both because of the title of the submission but also because of the focus of the paper.

Could I ask that you resubmit with an update title and research focus in the paper?

[2021-08-11 06:47] arfon commented on #3581
@whedon reject

[2021-08-11 06:47] whedon commented on #3581
Paper rejected.

[2021-08-11 06:47] #3581 closed

[2021-08-11 06:47] arfon commented on #3581
(But we're expecting a re-submission)

[2021-08-11 06:59] sigvaldm commented on #3556
@whedon generate pdf

[2021-08-11 06:59] sigvaldm commented on #3556
@whedon check references

[2021-08-11 06:59] whedon commented on #3556
[code]

[2021-08-11 06:59] whedon commented on #3556
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: :point_left:

[2021-08-11 07:10] Nikoleta-v3 commented on #3522
Thank you @danielskatz for taking care of the invites 🙏🏻

[2021-08-11 07:10] whedon commented on #3556
[code]

[2021-08-11 07:10] whedon commented on #3556
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03556/joss.03556/10.21105.joss.03556.pdf) :page_facing_up: :point_left:

[2021-08-11 07:17] sigvaldm commented on #3556
@whedon check references from branch update-docs

[2021-08-11 07:17] whedon commented on #3556
[code]

[2021-08-11 07:17] whedon commented on #3556
[code]

[2021-08-11 07:17] dionhaefner commented on #3419
Thanks for the review @1313e!

[2021-08-11 07:48] lucydot commented on #3598
@jpata @nicksisco1932 a quick pointer on the JOSS review process. It is best to raise any issues during the review process in the software repository (https://github.com/dfujim/bfit) and link to those issues (especially acceptance-blockers) by leaving comments in the review thread below.

[2021-08-11 08:06] willu47 commented on #3549
@fraukewiese 👍🏻 - yes, I am able to perform this review and I am a suitable reviewer - researching spatial electrification pathways, energy-water nexus and multi-scale modelling.

If you need other reviewers, I would recommend any of the following: czor847, ElcoK, tomalrussell (untagged)

[2021-08-11 08:48] sigvaldm commented on #3556
I think the new demos on the Lagrange and Nedelec elements are perfect examples of what this software can do, that other software can't. I got an `AssertionError` when running the `lagrange.py`, though, but I think I could understand the intention, and was able to make it pass. See if you're happy with the PR, or if not, make sure `lagrange.py` doesn't fail. There was also another error, but I did

[2021-08-11 08:48] chartgerink commented on #3595
@whedon generate pdf

[2021-08-11 08:49] whedon commented on #3595
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03595/joss.03595/10.21105.joss.03595.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03595/joss.03595/10.21105.joss.03595.pdf) :page_facing_up: :point_left:

[2021-08-11 08:52] drvinceknight commented on #3424
Thanks, the paper itself looks good but there are a number of missing DOIs that would be great if you could fix please.

For example `OpenGym` has the following as their citation instruction: https://github.com/openai/gym#citation

[code]

Although `arXiv:1606.01540` is not technically a DOI it should still appear in the rendered pdf please.

There are a number of other references where the url to

[2021-08-11 09:11] sigvaldm commented on #3556
Looks good. Once it's merged into the main branch I'd be happy to tick off the "References" and "Quality of writing" checkboxes.

[2021-08-11 09:18] arfon commented on #3486
@whedon invite @martinfleis as editor

:wave: @martinfleis – would you be willing to edit this submission for JOSS?

[2021-08-11 09:18] whedon commented on #3486
@martinfleis has been invited to edit this submission.

[2021-08-11 09:25] sigvaldm commented on #3556
Now that I know the reason I think it's fine (you don't claim it to be implemented anywhere), and I don't have a strong opinion on whether to use `skip` or `xfail`. Using e.g. `reason="not yet implemented"` would make it obvious why it is skipped, though.

[2021-08-11 09:28] arfon commented on #3533
@whedon invite @martinfleis as editor

:wave: @martinfleis – I realize this might be a little out of your comfort zone regarding programming languages etc. but I wonder if you'd be willing to take this submission on for us?

[2021-08-11 09:28] oliviaguest commented on #3169
@whedon generate pdf

[2021-08-11 09:29] whedon commented on #3169
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03169/joss.03169/10.21105.joss.03169.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03169/joss.03169/10.21105.joss.03169.pdf) :page_facing_up: :point_left:

[2021-08-11 09:33] oliviaguest commented on #3103
@arfon I'll try them! Thanks!

[2021-08-11 09:37] jbytecode commented on #3448
Hi @koaning,

The reviewers think the software is valuable, but the article is a little bit far from being an academic article as in its current form. Please consider the suggestions below and do some more work on the article.

- In summary, Line 6, "This package contains..." maybe refactored as

"Human-Learn is a Python package that ..." so the first sentence describes what is the package.

- In

[2021-08-11 09:37] martin3141 commented on #3595
@whedon commands

[2021-08-11 09:37] whedon commented on #3595
Here are some things you can ask me to do:

[code]

[2021-08-11 09:40] martin3141 commented on #3595
@whedon list reviewers

[2021-08-11 09:40] whedon commented on #3595
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-08-11 09:56] oliviaguest commented on #3103
Ah, @arfon... spoke too soon!

`jsheunis`` unfortunately cannot review this because they are an author on the paper. Made the same mistake months ago when I asked them, ha! In the case of ``szorowi1``, they don't reply to my emails... 😅

[2021-08-11 10:05] fraukewiese commented on #3549
@whedon add @lisazeyen  as reviewer

[2021-08-11 10:05] whedon commented on #3549
OK, @lisazeyen  is now a reviewer

[2021-08-11 10:05] fraukewiese commented on #3549
@whedon add @willu47  as reviewer

[2021-08-11 10:06] whedon commented on #3549
OK, @willu47  is now a reviewer

[2021-08-11 10:13] fraukewiese commented on #3549
@willu47 Thank you very much for your suggestions. You are two reviewer, so that is fine for now. So I might come back to your suggestions in case we need more reviewers, but start the review with the two of you now.

[2021-08-11 10:14] whedon opened #3601 "[REVIEW]: cerf: A Python package to evaluate the feasibility and costs of power plant siting for alternate futures"
**Submitting author:** @crvernon (<a href="http://orcid.org/0000-0002-3406-6214">Chris Vernon</a>)
**Repository:** <a href="https://github.com/IMMM-SFA/cerf" target ="_blank">https://github.com/IMMM-SFA/cerf</a>
**Version:** v2.0.9
**Editor:** @fraukewiese
**Reviewer:** @lisazeyen , @willu47
**Archive:** <a href="https://doi.org/10.5281/zenodo.5527334" target="_blank">10.5281/zenodo.5527334</a>

*

[2021-08-11 10:14] whedon commented on #3549
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3601.

[2021-08-11 10:14] #3549 closed

[2021-08-11 10:14] whedon commented on #3601
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lisazeyen , @willu47  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-08-11 10:15] fraukewiese commented on #3549
@lisazeyen , @willu47  – thanks a lot for agreeing to review here! See you over in #3601 where the actual review will take place.

[2021-08-11 10:17] oliviaguest commented on #3169
Hi @PeerHerholz, does this look good to go for you? :)

[2021-08-11 10:19] fraukewiese commented on #3601
@lisazeyen , @willu47 – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied.

[2021-08-11 10:34] antviro commented on #3211
Hi @danielskatz, I am at the moment on holidays, and I have a few workdays during august which are quite full of tasks. I could do it during the first week of September, although perhaps it is too late. What do you think?

[2021-08-11 11:07] gro5-AberUni commented on #3346
@jorgegil Thank you for your further comments regarding the paper and the plugin GUI, i have updated the paper and made corrections where appropriate.

Regarding the GUI i have adjusted the radio buttons so that the RGB drone button is selected by default when the image file is selected and adjusted the layout of the radio buttons and label so they are consistent with the rest of the items in the

[2021-08-11 11:30] dfm commented on #3484
@whedon set 10.5281/zenodo.5177222 as archive

[2021-08-11 11:30] whedon commented on #3484
OK. <a href="https://doi.org/10.5281/zenodo.5177222" target="_blank">10.5281/zenodo.5177222</a> is the archive.

[2021-08-11 11:30] dfm commented on #3484
@whedon set 0.10.0 as version

[2021-08-11 11:30] whedon commented on #3484
OK. 0.10.0 is the version.

[2021-08-11 11:31] dfm commented on #3484
@whedon recommend-accept

[2021-08-11 11:31] whedon commented on #3484
[code]

[2021-08-11 11:31] whedon commented on #3484
[code]

[2021-08-11 11:32] whedon commented on #3484
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2506

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2506, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-11 11:34] dfm commented on #3484
@CamDavidsonPilon, @MatthewReid854 — Thanks for your reviews of this submission! I really appreciate the time that you volunteered.

@derrynknife — I have now passed this off to the Editors-in-Charge who may have some final edits before processing the acceptance step. But, from me, thanks for your submission and your work responding to the reviews!

[2021-08-11 11:50] mscroggs commented on #3556
It's merged. I've also bumped the version number so that the Read the Docs documentation is now up to date

[2021-08-11 12:14] sigvaldm commented on #3556
The documentation has been enhanced in several places. Especially the two extra demos are enlightening, as they demonstrate the capabilities unique to this software. I recommend that this submission be accepted (@Nikoleta-v3).

[2021-08-11 12:21] danielskatz commented on #3211
Thanks @antviro - Given the delays up to this point, I'm in favor of a little more delay followed by a good review by a willing person than seeking someone else, I'm going assign you for now, and if someone else appears who can do this more quickly, I'll switch to that person.

I'll go ahead and invite you now, and if you can accept the invitation at https://github.com/openjournals/joss-reviews/in

[2021-08-11 12:21] danielskatz commented on #3211
@whedon add @antviro as reviewer

[2021-08-11 12:22] whedon commented on #3211
OK, @antviro is now a reviewer

[2021-08-11 12:22] danielskatz commented on #3211
@whedon remove @PierreGuilbertF as reviewer

[2021-08-11 12:22] whedon commented on #3211
OK, @PierreGuilbertF is no longer a reviewer

[2021-08-11 12:23] martinfleis commented on #3486
@whedon assign me as editor

[2021-08-11 12:23] whedon commented on #3486
OK, the editor is @martinfleis

[2021-08-11 12:28] fraukewiese commented on #3601
@whedon check repository

[2021-08-11 12:28] whedon commented on #3601
Wordcount for `paper.md` is 1163

[2021-08-11 12:28] whedon commented on #3601
[code]

[2021-08-11 12:33] fraukewiese commented on #3601
@whedon check references

[2021-08-11 12:33] whedon commented on #3601
[code]

[2021-08-11 12:37] martinfleis commented on #3486
👋 Hi @xp-song, I'll be editing your paper.

While I try to get in touch with potential reviewers, can you expand the paper to follow the guidelines?

- The Summary section of your paper should summarise the package. In its current form, it serves as an introduction and a problem statement more than a summary. It should contain a clear description of the high-level functionality and purpose of the

[2021-08-11 12:37] fraukewiese commented on #3601
@whedon generate pdf

[2021-08-11 12:37] whedon commented on #3601
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03601/joss.03601/10.21105.joss.03601.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03601/joss.03601/10.21105.joss.03601.pdf) :page_facing_up: :point_left:

[2021-08-11 12:46] danielskatz commented on #3550
@bmoradi93, @arunmano121, @mponce0 - Would one or two of you be willing to review this JOSS submission?

[2021-08-11 12:47] crvernon commented on #3601
@fraukewiese @lisazeyen @willu47  The following is a preemptive explanation of author contributions to this paper:

- Chris R. Vernon.  Lead author and developer.
- Jennie S. Rice.  Original product conception, algorithm development, and documentation.
- Nino Zuljevic.  Algorithm, supporting data, and code development.
- Kendall Mongird.  Algorithm, supporting data, and documentation development.

[2021-08-11 13:05] martinfleis commented on #3486
@whedon assign @aelissa as reviewer

[2021-08-11 13:05] whedon commented on #3486
OK, @aelissa is now a reviewer

[2021-08-11 13:09] martinfleis commented on #3486
@whedon generate pdf

[2021-08-11 13:09] whedon commented on #3486
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03486/joss.03486/10.21105.joss.03486.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03486/joss.03486/10.21105.joss.03486.pdf) :page_facing_up: :point_left:

[2021-08-11 13:19] martinfleis commented on #3533
@whedon assign me as editor

@arfon It is on the very edge of the comfort zone :).

[2021-08-11 13:19] whedon commented on #3533
OK, the editor is @martinfleis

[2021-08-11 13:24] whedon opened #3602 "[PRE REVIEW]: latentcor: An R Package for estimating latent correlations from mixed data types"
**Submitting author:** @muellsen (<a href="http://orcid.org/0000-0002-3821-7083">Christian Lorenz Müller</a>)
**Repository:** <a href="https://github.com/mingzehuang/latentcor" target ="_blank">https://github.com/mingzehuang/latentcor</a>
**Version:** v1.0.0
**Editor:** @crvernon
**Reviewers:** @corybrunson, @rmflight
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2021-08-11 13:24] whedon commented on #3602
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-11 13:24] whedon commented on #3602
Wordcount for `paper.md` is 1567

[2021-08-11 13:24] whedon commented on #3602
[code]

[2021-08-11 13:24] whedon commented on #3602
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03602/joss.03602/10.21105.joss.03602.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03602/joss.03602/10.21105.joss.03602.pdf) :page_facing_up: :point_left:

[2021-08-11 13:25] arfon commented on #3602
@muellsen – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use the following

[2021-08-11 13:25] whedon commented on #3602
Submission flagged for editorial review.

[2021-08-11 13:42] whedon opened #3603 "[PRE REVIEW]: PIVC: A C/C++ Program for Particle Image Velocimetry Vector Computation"
**Submitting author:** @fibreglass2 (<a href="http://orcid.org/0000-0002-8099-6893">Kadeem</a>)
**Repository:** <a href="https://gitlab.com/fibreglass/pivc" target ="_blank">https://gitlab.com/fibreglass/pivc</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @timdewhirst, @clarka34, @quynhneo
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2021-08-11 13:42] whedon commented on #3603
Wordcount for `paper.md` is 946

[2021-08-11 13:42] whedon commented on #3603
[code]

[2021-08-11 13:42] whedon commented on #3603
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03603/joss.03603/10.21105.joss.03603.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03603/joss.03603/10.21105.joss.03603.pdf) :page_facing_up: :point_left:

[2021-08-11 13:43] whedon commented on #3603
[code]

[2021-08-11 13:45] arfon commented on #3603
Pausing as we don't have a GitHub handle for the author (I've emailed them about this).

Also, querying scope due to size.

[2021-08-11 13:45] arfon commented on #3603
@whedon query scope

[2021-08-11 13:45] whedon commented on #3603
Submission flagged for editorial review.

[2021-08-11 13:45] whedon opened #3604 "[PRE REVIEW]: ESVM : An Electrostatic Vlasov-Maxwell Open-source Code"
**Submitting author:** @michaeltouati (<a href="http://orcid.org/0000-0001-7590-0941">Michael Touati</a>)
**Repository:** <a href="https://github.com/michaeltouati/ESVM" target ="_blank">https://github.com/michaeltouati/ESVM</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @tclune, @TomGoffrey
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to t

[2021-08-11 13:46] whedon commented on #3604
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-11 13:46] whedon commented on #3604
[code]

[2021-08-11 13:46] whedon commented on #3604
Wordcount for `paper.md` is 1039

[2021-08-11 13:46] whedon commented on #3604
[code]

[2021-08-11 13:47] matteomancini commented on #3523
I have started working on my revision and I should be done by the 27th of August.

[2021-08-11 13:47] danielskatz commented on #3550
👋 @tomalrussell - you've been recommended to me as a potential second reviewer for this submission by a new JOSS editor, @martinfleis.  We carry out our checklist-driven reviews of open source software and short papers here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html  Would you be willing to review this submission?

[2021-08-11 13:48] arfon commented on #3484
@whedon accept deposit=true

[2021-08-11 13:48] whedon commented on #3484
[code]

[2021-08-11 13:52] arfon commented on #3484
@CamDavidsonPilon, @MatthewReid854 – many thanks for your reviews here and to @dfm for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@derrynknife – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-11 13:52] #3484 closed

[2021-08-11 13:52] whedon commented on #3484
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03484/status.svg)](https://doi.org/10.21105/joss.03484)

**We need your help!**

Journal of Open Source Softwa

[2021-08-11 13:53] arfon commented on #3517
@whedon invite @dfm as editor

:wave: @dfm – would you be willing to take this submission on?

[2021-08-11 13:53] whedon commented on #3517
@dfm has been invited to edit this submission.

[2021-08-11 13:59] xp-song commented on #3486
Thanks for pointing these out, I've updated the paper and added some links to documentation.

[2021-08-11 13:59] xp-song commented on #3486
@whedon generate pdf

[2021-08-11 14:00] whedon commented on #3486
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03486/joss.03486/10.21105.joss.03486.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03486/joss.03486/10.21105.joss.03486.pdf) :page_facing_up: :point_left:

[2021-08-11 14:12] darothen commented on #3219
Thanks @dhhagan, I'll wait until the final revision.

[2021-08-11 14:26] irinagain commented on #3602
@whedon generate pdf

[2021-08-11 14:26] irinagain commented on #3602
@whedon check references

[2021-08-11 14:27] whedon commented on #3602
[code]

[2021-08-11 14:27] ajstewartlang commented on #3553
@whedon add @justinchuntingho as reviewer

[2021-08-11 14:28] whedon opened #3605 "[REVIEW]: R-Opitools – An Opinion Analytical Tool for Big Digital Text Document (DTD)"
**Submitting author:** @MAnalytics (<a href="http://orcid.org/0000-0002-9006-4934">Monsuru Adepeju</a>)
**Repository:** <a href="https://github.com/MAnalytics/opitools" target ="_blank">https://github.com/MAnalytics/opitools</a>
**Version:** v2.0.0
**Editor:** @ajstewartlang
**Reviewers:** @cjbarrie, @justinchuntingho, @jaeyk
**Archive:** <a href="https://doi.org/10.5281/zenodo.5346595" target="_b

[2021-08-11 14:28] #3553 closed

[2021-08-11 14:28] whedon commented on #3605
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cjbarrie, @justinchuntingho it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-08-11 14:29] whedon commented on #3605
Wordcount for `paper.md` is 586

[2021-08-11 14:29] whedon commented on #3605
[code]

[2021-08-11 14:29] whedon commented on #3605
[code]

[2021-08-11 14:29] whedon commented on #3605
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03605/joss.03605/10.21105.joss.03605.pdf) :page_facing_up: :point_left:

[2021-08-11 14:30] ajstewartlang commented on #3605
Thanks very much for agreeing to review this submission @cjbarrie @justinchuntingho

[2021-08-11 14:34] wxwx1993 commented on #3464
Yes, that would be great!

[2021-08-11 14:45] wxwx1993 commented on #3464
### Software paper

- [x] **Summary:** Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?
- [x] **A statement of need:** Does the paper have a section titled 'Statement of Need' that clearly states what problems the software is designed to solve and who the target audience is?
- [] **State of the field:** Do the

[2021-08-11 15:29] fibreglass2 commented on #3603
This is my Github account.

[2021-08-11 15:42] fabian-s commented on #3456
@whedon generate pdf

[2021-08-11 15:43] whedon commented on #3456
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03456/joss.03456/10.21105.joss.03456.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03456/joss.03456/10.21105.joss.03456.pdf) :page_facing_up: :point_left:

[2021-08-11 15:43] cmaimone commented on #3522
@remram44 - do you have documentation of the code anywhere?  I see and appreciate the user guides and documentation.  I'm looking for documentation other developers/contributors might use.

@Nikoleta-v3 - any guidance on whether documentation of the code is expected for GUI applications?  Taguette has good user guides, but it may not have much in the way of documentation of the code -- such docume

[2021-08-11 15:43] fabian-s commented on #3456
@whedon check references

[2021-08-11 15:43] whedon commented on #3456
[code]

[2021-08-11 15:47] fabian-s commented on #3456
@gvegayon congrats, looks like this is good to go -- to wrap it up please:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should m

[2021-08-11 15:49] Morsey187 commented on #3270
Hi @KirstensGitHub,

It looks like the authentication ("must_accept_terms" decorator) is set to compare against a field ("researcher_terms_updated_at") that doesn't have a value set by default, I presume this was to prevent people from signing up on the production site before any terms and conditions were set, however this should be handled automatically for local development or mentioned in the s

[2021-08-11 15:53] kbarnhart commented on #3507
@calum-chamberlain thanks for the prompt response and the recommendation!

[2021-08-11 16:02] justinchuntingho opened #3606 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2021-08-11 16:02] whedon commented on #3606
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-11 16:02] #3606 closed

[2021-08-11 16:10] tomalrussell commented on #3550
Hi @danielskatz I'd be happy to take a look at this.

[2021-08-11 16:12] danielskatz commented on #3550
Thanks very much @tomalrussell  - I'll add you, and then will start a review issue where the actual review will take place.

[2021-08-11 16:12] danielskatz commented on #3550
@whedon add @tomalrussell as reviewer

[2021-08-11 16:12] whedon commented on #3550
OK, @tomalrussell is now a reviewer

[2021-08-11 16:13] danielskatz commented on #3550
@whedon start review

[2021-08-11 16:13] whedon opened #3607 "[REVIEW]: TraViA: a Traffic data Visualization and Annotation tool in Python"
**Submitting author:** @OlgerSiebinga (<a href="http://orcid.org/0000-0002-5614-1262">Olger Siebinga</a>)
**Repository:** <a href="https://github.com/tud-hri/travia" target ="_blank">https://github.com/tud-hri/travia</a>
**Version:** v1.1
**Editor:** @danielskatz
**Reviewer:** @rusu24edward, @tomalrussell
**Archive:** <a href="https://doi.org/10.4121/16645651" target="_blank">10.4121/16645651</a>

[2021-08-11 16:13] whedon commented on #3550
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3607.

[2021-08-11 16:13] #3550 closed

[2021-08-11 16:13] whedon commented on #3607
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rusu24edward, @tomalrussell it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-08-11 16:13] whedon commented on #3607
Wordcount for `paper.md` is 976

[2021-08-11 16:13] whedon commented on #3607
[code]

[2021-08-11 16:13] whedon commented on #3607
[code]

[2021-08-11 16:13] whedon commented on #3607
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03607/joss.03607/10.21105.joss.03607.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03607/joss.03607/10.21105.joss.03607.pdf) :page_facing_up: :point_left:

[2021-08-11 16:14] danielskatz commented on #3607
@rusu24edward and @tomalrussell - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guide

[2021-08-11 16:15] danielskatz commented on #3607
👋 @OlgerSiebinga - please note the DOI whedon suggests - if this is correct, please update your bib file then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-08-11 16:16] arunmano121 commented on #3550
@danielskatz - I can review this if you are still looking for reviewers.

[2021-08-11 16:19] remram44 commented on #3522
Thanks @cmaimone, we have contributing instructions in [CONTRIBUTING.md](https://gitlab.com/remram44/taguette/-/blob/master/CONTRIBUTING.md) and an overview of the code in [ARCHITECTURE.md](https://gitlab.com/remram44/taguette/-/blob/master/ARCHITECTURE.md). We also have instructions to set up the repository for development in the [README](https://gitlab.com/remram44/taguette/-/blob/master/README.

[2021-08-11 16:23] karink520 commented on #3397
@drvinceknight Thanks! All the references we could find DOIs for are now updated. (The one that Whedon suggested has not been updated, since the suggestion is the DOI for an associated dataset, but I don't believe there is a DOI for the book itself).

[2021-08-11 16:27] danielskatz commented on #3550
Thanks for volunteering @arunmano121, but I think 2 reviewers are enough at this point.

[2021-08-11 16:57] neuromusic commented on #3169
Changes look great!

[2021-08-11 17:08] cmaimone commented on #3522
@remram44 the database schema in ARCHITECTURE.md is particularly helpful for those who export their data.  I'd consider referencing it in the user guide when you tell people they could export the database and work with it directly.  I wouldn't have necessarily found that file on my own.

[2021-08-11 17:11] phoebe-p commented on #3460
License issue has been fixed/updated; I've changed setup.py, added a full copy of the license in addition to the shorter statement, and added a copyright statement to each file.

[2021-08-11 17:13] martinmodrak commented on #3076
@whedon generate pdf

[2021-08-11 17:13] whedon commented on #3076
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03076/joss.03076/10.21105.joss.03076.pdf) :page_facing_up: :point_left:

[2021-08-11 17:25] martinmodrak commented on #3076
Sorry for the delay.  I greatly appreciate all the effort, the package has been noticeably improved. I think the current wording for the comparison to other tools in the paper is fair and reasonable. I like the new additions to documentation.

Unfortunately, I feel like the main claims of the package have still not been demonstrated. In particular, some of the MCMC examples do not converge or have

[2021-08-11 17:40] emdupre commented on #3103
For additional reviewers, I might also suggest :

robbisg
htwangtw
richford
Remi-Gau
matteomancini
dr-xenia
mih
snastase

[2021-08-11 17:47] kbarnhart commented on #3507
👋 @cjhopp would you be interested and able to provide a review of a manuscript at the Journal of Open Source Software (JOSS). The submission I'd like you to review is titled: " pyCSEP: A Python Package For Earthquake Forecast Developers" by William H. Savran, Maximilian J. Werner, Danijel Schorlemmer, and Philip J. Maechling and the submission repository is at: https://github.com/SCECcode/pycsep.

[2021-08-11 17:47] dfm commented on #3559
@whedon assign me as editor

Sorry about the delay! I'm happy to edit, but as @Kevin-Mattheus-Moerman mentioned, things are a little backed up at the moment so it'll be a week or two before I can get the process started. Thanks for your patience!

In the meantime, @soffner I'm a little confused about the relationship between paper authorship and commit history. I assume that the bulk of the code w

[2021-08-11 17:47] whedon commented on #3559
OK, the editor is @dfm

[2021-08-11 17:50] dfm commented on #3517
@whedon assign me as editor

Sure - I'm happy to edit! I'll be offline next week and have several reviews in progress, but I'll aim to get the process started the following week. Thanks for your patience!

[2021-08-11 17:54] remram44 commented on #3522
@whedon generate pdf from branch 2021-joss-paper

[2021-08-11 17:54] whedon commented on #3522
[code]

[2021-08-11 17:55] whedon commented on #3522
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03522/joss.03522/10.21105.joss.03522.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03522/joss.03522/10.21105.joss.03522.pdf) :page_facing_up: :point_left:

[2021-08-11 18:24] cmbiwer commented on #3546
I will be take a deeper look this Friday.

[2021-08-11 18:48] ulf1 commented on #3324
@whedon generate pdf

@mikldk The Zenodo DOI URL is https://doi.org/10.5281/zenodo.5182093

Thank you @ejhigson and @jakryd for taking the time to review the software.

[2021-08-11 18:48] whedon commented on #3324
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03324/joss.03324/10.21105.joss.03324.pdf) :page_facing_up: :point_left:

[2021-08-11 19:13] soffner commented on #3559
Hi @dfm. Thanks for agreeing to edit!

Regarding the version and commit history -- ORION2 was developed in a
private repository, developed and maintained by a relatively small
collaboration. It was private because of functionality (the radiative
transfer module) that was developed through collaboration with researchers
at LLNL, which has fairly strict release restrictions. In order to make
ORION2

[2021-08-11 19:48] rusu24edward commented on #3424
Hi @drvinceknight, I updated the references so that each of them has a URL, only using an arxiv url when I was not able to find a different one. I was not able to find DOI's for any other papers. I used google's search and [cross ref](https://www.crossref.org/guestquery/), and only the arcade learning environment shows a DOI. Many of the references are conference proceedings, which I'm not sure if

[2021-08-11 20:30] lutzhamel commented on #3524
@HerrMo Thank you for your insightful and detailed review. Addressing the issues you raised certainly made the package a better package.  I have addressed all the issues you raised above (see the repo for detailed comments).  In the process I had to create a new version of popsom : v 6.0.  This version is now available in the repository.  I have not pushed it out to CRAN yet just in case there are

[2021-08-11 20:31] lutzhamel commented on #3524
Sorry @fabian-s , I should have mentioned you in my response above...

[2021-08-11 20:59] diehlpk commented on #3274
@vijaysm Sorry to hear that your primary machine got fried.

[2021-08-11 21:05] diehlpk commented on #3450
Hey @CELavecchia @martinmodrak @nnadeau @fernandoandreotti @expectopatronum @betteridiot @Rgcjk would you be interested in reviewing this paper?

[2021-08-11 21:07] diehlpk commented on #3450
@wtraylor I contacted more JOSS reviewers, we have many for the topic, however, not so many with C++ experience. Can you recommend more reviewers? Unfortunately, none of the above responded.

[2021-08-11 21:08] adi3 commented on #3320
@juliohm @mskwark @brunaw @hayesall @ahwillia - Are you available to review this paper? We'd greatly appreciate your help!

[2021-08-11 21:19] juliohm commented on #3320
I would love to review the package but I am incredibly busy in the next months. Thank you for pinging.

[2021-08-11 21:26] gvegayon commented on #3456
- [x] Tag: [v0.16.2](https://github.com/gvegayon/rgexf/tree/v0.16.2)
- [x] Zenodo archive: [here](https://zenodo.org/record/5182709)
- [x] Title matches paper (and right list of authors)
- [x] DOI: [10.5281/zenodo.5182709](https://doi.org/10.5281/zenodo.5182709)

[2021-08-11 21:41] ahwillia commented on #3320
I am also unavailable unfortunately.

[2021-08-11 21:46] derrynknife commented on #3484
Wow!

Thanks @arfon! Very exciting.

Thanks @CamDavidsonPilon, @MatthewReid854, and @dfm

[2021-08-11 22:18] lutzhamel commented on #3524
@whedon generate pdf

[2021-08-11 22:19] whedon commented on #3524
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: :point_left:

[2021-08-11 22:21] lutzhamel commented on #3524
@fabian-s @HerrMo @rcannood I have generated a new pdf due to the fact that the paper had some major rewrites...

[2021-08-11 22:28] mengqi-z commented on #3212
Hello @kellyrowland,

I would like to check the reviewing progress of this paper. I fully understand there are difficulties in finding available reviewers and I would like to thank you for your effort during this process. However, it has been 4 months since the submission and I would appreciate any help to move this forward within the next couple of weeks.

Thank you in advance!

Mengqi

[2021-08-11 22:33] lutzhamel commented on #3524
@HerrMo @fabian-s  I noticed that the only bullet point that has not been not checked off in @HerrMo  review is the `automated tests` point.  You can find information on how to execute automated tests for popsom [here](https://github.com/lutzhamel/popsom/blob/master/BUILD_RELEASE.md).

[2021-08-11 22:44] satejsoman commented on #3464
Hi @wxwx1993 - no worries! epimargin 0.6.0 is on PyPI, reflecting all the review comments addressed so far.

The CDC ensemble forecast is a different modeling approach that re-weights underlying models to provide a predictive forecast. The models we provide here (and those available in EpiEstim and EpiNow, the comparison packages mentioned in our paper) can be embedded in such an ensemble. Moreove

[2021-08-11 22:44] nnadeau commented on #3450
Unfortunately I don't have time at the moment.

[2021-08-11 23:01] iannesbitt commented on #2565
Hi @calum-chamberlain, thank you very much for the feedback. I have added nearly all of the suggestions you detail above, with the exception of ObsPy stream access which will have to wait for a future release. Hopefully the text I added to the Statement of Need is sufficient to detail rsudp's niche a little better. See raspishake/rsudp#22.

rsudp's research usefulness I believe is in the fact that

[2021-08-11 23:04] iannesbitt commented on #2565
@whedon generate pdf

[2021-08-11 23:07] iannesbitt commented on #2565
@whedon generate pdf

[2021-08-11 23:08] whedon commented on #2565
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02565/joss.02565/10.21105.joss.02565.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02565/joss.02565/10.21105.joss.02565.pdf) :page_facing_up: :point_left:

[2021-08-12 00:06] iannesbitt commented on #2565
Also @calum-chamberlain, I mentioned this in the linked issue but Scrutinizer CI runs the unit tests on each commit. You can see the results of this quickly by looking at the build status indicator on the main github page, or in detail by going to the [build output page](https://scrutinizer-ci.com/g/raspishake/rsudp/inspections/38728aba-a159-4082-9a19-919e9de76c30/log), clicking on "Node: tests" (

[2021-08-12 00:28] calum-chamberlain commented on #2565
Sorry I missed those tests @iannesbitt - can you point me towards where the unit tests themselves reside? I haven't found them yet. Thanks!

[2021-08-12 05:05] arfon commented on #3604
@whedon assign @danielskatz as editor

[2021-08-12 05:05] whedon commented on #3604
OK, the editor is @danielskatz

[2021-08-12 05:06] arfon commented on #3604
Thanks @danielskatz!

[2021-08-12 05:07] arfon commented on #3590
@whedon assign @faroit as editor

[2021-08-12 05:07] whedon commented on #3590
OK, the editor is @faroit

[2021-08-12 05:07] arfon commented on #3590
Thanks @faroit!

[2021-08-12 05:09] arfon commented on #3586
Thanks @lucydot for being willing to take this one on 🎉👍😁

[2021-08-12 05:09] arfon commented on #3586
@whedon assign @lucydot as editor

[2021-08-12 05:09] whedon commented on #3586
OK, the editor is @lucydot

[2021-08-12 05:29] arfon commented on #3595
:wave: @chartgerink – is this a submission you think you'd be able to take on for us?

[2021-08-12 06:00] mattdahl commented on #3566
Hi @danielskatz, here are a couple of people from that spreadsheet that I think might be suitable based of their listed areas of expertise:

- step21 (`law, computable law,  language design, logic, knowledge management, document management, general data gathering and analysis`)
- cmaimone (Python, `Social science, text analysis, general data manipulation, data visualization`)
- pmyteh (Python, `Co

[2021-08-12 07:20] Nikoleta-v3 commented on #3556
Fantastic. Thank you @sigvaldm for your review 😄 👍🏻

[2021-08-12 07:29] OlgerSiebinga commented on #3607
@whedon check references

[2021-08-12 07:30] whedon commented on #3607
[code]

[2021-08-12 07:30] OlgerSiebinga commented on #3607
@whedon generate pdf

[2021-08-12 08:10] danielskatz commented on #3604
@michaeltouati - I'll be editing your submission. The first step is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the botto

[2021-08-12 08:14] danielskatz commented on #3604
👋 @rouson & @tclune - Would one of you be able to review this submission for JOSS? I'm particularly looking for one reviewer with expertise in Fortran good/best practices around packaging, testing, distribution, etc. Or do you have suggestions for someone else in this area?

[2021-08-12 08:37] mikldk commented on #3324
@whedon set  10.5281/zenodo.51820931 as archive

[2021-08-12 08:37] whedon commented on #3324
OK. <a href="https://doi.org/10.5281/zenodo.51820931" target="_blank">10.5281/zenodo.51820931</a> is the archive.

[2021-08-12 08:38] danielskatz commented on #3566
@step21 - Would you be willing to review this JOSS submission?

[2021-08-12 08:40] danielskatz commented on #3566
@cmaimone - I know you are currently reviewing another JOSS submission, but would you also be willing to review this one?

[2021-08-12 08:41] mikldk commented on #3324
@whedon set 10.5281/zenodo.5182093 as archive

[2021-08-12 08:41] whedon commented on #3324
OK. <a href="https://doi.org/10.5281/zenodo.5182093" target="_blank">10.5281/zenodo.5182093</a> is the archive.

[2021-08-12 08:42] mikldk commented on #3324
@ulf1 I see that you follow semantic versioning, but have both a `0.6.7` and a `0.6.7-joss`. I can see that only the `README.md` was changed (together with the paper). Please bump the version to e.g. `0.6.7.1` or `0.6.8` -- or else it would be inconsistent if we here point to `0.6.7`, but in reality if should be `0.6.7-joss`. Sorry for being pedantic.

Also, please make the names at Zenodo and the

[2021-08-12 09:04] fabian-s commented on #3456
@whedon set 10.5281/zenodo.5182709 as archive

[2021-08-12 09:04] whedon commented on #3456
OK. <a href="https://doi.org/10.5281/zenodo.5182709" target="_blank">10.5281/zenodo.5182709</a> is the archive.

[2021-08-12 09:04] fabian-s commented on #3456
@whedon set v0.16.2 as version

[2021-08-12 09:04] whedon commented on #3456
OK. v0.16.2 is the version.

[2021-08-12 09:05] fabian-s commented on #3456
@whedon recommend-accept

[2021-08-12 09:05] whedon commented on #3456
[code]

[2021-08-12 09:05] whedon commented on #3456
[code]

[2021-08-12 09:05] whedon commented on #3456
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2508

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2508, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-12 09:10] martinfleis commented on #3486
@whedon add @nickbearman as reviewer

[2021-08-12 09:10] whedon commented on #3486
OK, @nickbearman is now a reviewer

[2021-08-12 09:28] jbytecode commented on #3555
👋👋👋 @szhorvat  👋👋👋

Would you be willing to assist in reviewing this submission for JOSS (Journal of Open Source Software)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "CellPyLib: A Python Library for working with Cellular Automata". You can find more information at the top of this Github issue (https://github.com/openjournals/joss

[2021-08-12 09:30] fabian-s commented on #3524
thanks @lutzhamel, we're still waiting for @rcannood to chime in.
in the meantime, could you reduce the sizes of figures 1 and 2 so they fit on one page?

[2021-08-12 09:43] whedon commented on #3555
OK, @szhorvat is now a reviewer

[2021-08-12 09:43] jbytecode commented on #3555
@whedon start review

[2021-08-12 09:44] whedon opened #3608 "[REVIEW]: CellPyLib: A Python Library for working with Cellular Automata"
**Submitting author:** @lantunes (<a href="http://orcid.org/0000-0002-4867-5635">Luis Antunes</a>)
**Repository:** <a href="https://github.com/lantunes/cellpylib" target ="_blank">https://github.com/lantunes/cellpylib</a>
**Version:** v2.0.0
**Editor:** @jbytecode
**Reviewers:** @blsqr, @szhorvat
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.16977619" target="_blank">10.6084/m9.figshar

[2021-08-12 09:44] whedon commented on #3555
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3608.

[2021-08-12 09:44] #3555 closed

[2021-08-12 09:44] whedon commented on #3608
Wordcount for `paper.md` is 892

[2021-08-12 09:44] whedon commented on #3608
[code]

[2021-08-12 09:44] whedon commented on #3608
[code]

[2021-08-12 09:45] martibosch commented on #3555
Hello!

I see that there are already 2 reviewers assigned, but I'd also be happy to review this if you are up for taking 3 reviewers - this looks very interesting and it might actually be useful for my future research. I should note that I am quite familiar with land use/land cover CA but not so much about other applications - although I have read a few articles about their historical origins and

[2021-08-12 09:46] jbytecode commented on #3608
Dear reviewers @blsqr and @szhorvat

Thank you for accepting our invitation.

This is the reviewing page for the current submission. In this page, there are 20 checkboxes for each reviewer. These boxes indicate the corresponding reviewing tasks. Please fill them whenever you complete the corresponding task.

Please have a look at the [Reviewing Guidelines](https://joss.readthedocs.io/en/latest/rev

[2021-08-12 09:48] jbytecode commented on #3608
@whedon add @martibosch as reviewer

[2021-08-12 09:49] whedon commented on #3608
OK, @martibosch is now a reviewer

[2021-08-12 09:51] jbytecode commented on #3608
@martibosch I also assigned you as the third reviewer. Thank you for accepting our invitation.

[2021-08-12 09:53] jbytecode commented on #3608
@whedon generate pdf

[2021-08-12 09:56] jbytecode commented on #3555
@martibosch you are now the third reviewer. Please keep track of the reviewing issue.

@szhorvat Thank you! Your deadline is still reasonable for us.

Here is the reviewing issue: https://github.com/openjournals/joss-reviews/issues/3608

[2021-08-12 10:01] martinfleis commented on #3486
@whedon start review

[2021-08-12 10:02] whedon opened #3609 "[REVIEW]: home2park: An R package to assess the spatial provision of urban parks"
**Submitting author:** @xp-song (<a href="http://orcid.org/0000-0002-8825-195X">Xiao Ping Song</a>)
**Repository:** <a href="https://github.com/ecological-cities/home2park" target ="_blank">https://github.com/ecological-cities/home2park</a>
**Version:** v0.1.1
**Editor:** @martinfleis
**Reviewer:** @aelissa, @nickbearman
**Archive:** <a href="https://doi.org/10.5281/zenodo.5516698" target="_blank"

[2021-08-12 10:02] whedon commented on #3486
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3609.

[2021-08-12 10:02] #3486 closed

[2021-08-12 10:02] whedon commented on #3609
Wordcount for `paper.md` is 678

[2021-08-12 10:02] whedon commented on #3609
[code]

[2021-08-12 10:02] whedon commented on #3609
[code]

[2021-08-12 10:02] whedon commented on #3609
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03609/joss.03609/10.21105.joss.03609.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03609/joss.03609/10.21105.joss.03609.pdf) :page_facing_up: :point_left:

[2021-08-12 10:04] martinfleis commented on #3609
👋  @xp-song @aelissa @nickbearman this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2021-08-12 10:05] Geogoeroe commented on #3346
Hi all,
I really hate to say and do this, but... I give up.

Today, refreshed from my holiday, I gave it another shot. Everything looks good about this plugin: simple, clean, manual is clear. But I just can't get it to work. Today I downloaded a fresh version of QGIS (latest), fresh install of the newly downloaded plugin, with the extra menu items in the toolbar and all. Python error. Started with

[2021-08-12 10:35] gro5-AberUni commented on #3346
@Geogoeroe
Hi Erik, I'm sorry to hear that you have been struggling with the plugin, would it be possible to get a screenshot of the python errors that you have received so I can attempt to debug the issues?

Are you receiving an error message saying: 'Not Enough Spectral Difference Found. Increase the Threshold'? If so this error message is no longer present in the most recent version of the plug

[2021-08-12 10:39] CELavecchia commented on #3450
Hi,

Sorry but I can’t do it.

On Wed, 11 Aug 2021 at 23:45, Nicholas Nadeau, Ph.D., P.Eng. <
***@***.***> wrote:

--
Carolina

[2021-08-12 10:55] thejasvibr commented on #3590
@whedon commands

[2021-08-12 10:55] whedon commented on #3590
Here are some things you can ask me to do:

[code]

[2021-08-12 11:05] thejasvibr commented on #3590
@whedon suggested reviewers are DrMarc, pharshalp, astanziola

[2021-08-12 11:05] whedon commented on #3590
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-12 11:08] thejasvibr commented on #3590
Thanks for agreeing to edit @faroit. Suggested reviewers from my side are DrMarc, pharshalp, astanziola

[2021-08-12 12:28] nagelt commented on #3327
@leouieda Leonardo, any chance we can move this forward? Can we help in any way?

[2021-08-12 12:43] whedon commented on #3537
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03537/joss.03537/10.21105.joss.03537.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03537/joss.03537/10.21105.joss.03537.pdf) :page_facing_up: :point_left:

[2021-08-12 12:47] twesterhout commented on #3537
Thank you @jeffhammond and @joselado for your reviews! I have modified the manuscript according to your suggestions. Please, see twesterhout/lattice-symmetries@06838f62b2b9ece183dadb8dc007f6b71b903d0c and twesterhout/lattice-symmetries@ff35f4f8c54917678e536ec169522ec797cf426a commits.

Please, let me know if anything else needs to be corrected/improved.

[2021-08-12 13:13] joselado commented on #3537
Thank you @twesterhout for the updated manuscript. The current version looks perfect, I recommend publishing the work as it is in JOSS.

[2021-08-12 13:35] lutzhamel commented on #3524
Hello @fabian-s. I reduced the size and will generate a new pdf.

[2021-08-12 13:35] lutzhamel commented on #3524
@whedon generate pdf

[2021-08-12 13:35] whedon commented on #3524
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03524/joss.03524/10.21105.joss.03524.pdf) :page_facing_up: :point_left:

[2021-08-12 13:55] hayesall commented on #3320
@adi3 I can review.

[2021-08-12 14:15] VBlesius commented on #3540
Thank you very much for the thorough analysis of the package @brunaw!

I added another licence file as suggested.

Showing how to use external data is the point of this example, because this is the main field of application of the package. The example above uses only data included in the package and is therefore reproducible only from the given code as you suggested. The idea was to provide access

[2021-08-12 14:36] whedon commented on #3545
:wave: @janfb, please update us on how your review is going (this is an automated reminder).

[2021-08-12 14:36] whedon commented on #3545
:wave: @janfreyberg, please update us on how your review is going (this is an automated reminder).

[2021-08-12 14:42] keunwoochoi commented on #3391
@faroit sure. can you please invite me as a reviewer so that i can edit the checkboxes?

[2021-08-12 14:51] diehlpk commented on #3020
@chennachaos I checked the ls of the build folder you provided

[code]
I can not find a `gmsh `folder there, so could it be that you did not compile gmsh using

`./build-all.sh Release without-gcc gmsh`

or installed the `gmsh-devel `package?

[2021-08-12 14:55] Geogoeroe commented on #3346
Hi Greg,
I'll check the error messages tomorrow and will put some here (there were different ones on different occasions, couldn't get a fix on the actual problem, was really weird). For the other error message about the spectral difference: I didn't get that far today, last one was from last month I'd say. Sorry, wrote a little frustrated I think ;-).

Erik.

[2021-08-12 15:02] crhea93 commented on #3518
@danielskatz Thank you very much for your consideration. I would like to resubmit after completing the requirements. I would just like to be certain that I am addressing the correct issue. The problem with the submission is that the software is not properly packaged, is that correct? Are the installation instructions included on the Github repo not sufficient? I've had several users successfully i

[2021-08-12 15:12] danielskatz commented on #3518
The primary issue that came up in the editor discussion was packaging, with the site provided (https://packaging.python.org) suggested as a reference for how packaging can be done for python. Having software on github with installation instructions is not the same as having packaged software.

[2021-08-12 15:19] faroit commented on #3391
@whedon re-invite @keunwoochoi as reviewer

[2021-08-12 15:19] whedon commented on #3391
OK, the reviewer has been re-invited.

@keunwoochoi please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-08-12 15:43] arfon commented on #3456
@whedon accept deposit=true

[2021-08-12 15:44] whedon commented on #3456
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1425845602022268931) 👈 🐦🐦🐦

[2021-08-12 15:44] whedon commented on #3456
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2509
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03456](https://doi.org/10.21105/joss.03456)
2. If everything look

[2021-08-12 16:00] chartgerink commented on #3595
I was browsing around a bit, discovering everything 😊

It's a bit outside of my area but I'd be happy to get out of my comfort zone as you mentioned would be good!

[2021-08-12 17:05] betteridiot commented on #3450
Unfortunately, I am in dissertation mode right now and don't have the bandwidth for this. I appreciate the invitation though.

[2021-08-12 17:12] arfon commented on #3434
The paper doesn't need to be merged into `master`. It's completely up to you.

[2021-08-12 17:12] mikapfl commented on #3546
@fgjorup Could you provide a set of example files which I could use to run the program? I unfortunately don't have a set of XRD data files which would lend itself to an analysis with Reel.

[2021-08-12 17:34] arfon commented on #3456
@jonjoncardoso, @corneliusfritz – many thanks for your reviews here and to @fabian-s for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@gvegayon – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-12 17:34] #3456 closed

[2021-08-12 17:34] whedon commented on #3456
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03456/status.svg)](https://doi.org/10.21105/joss.03456)

**We need your help!**

Journal of Open Source Softwa

[2021-08-12 18:42] arfon commented on #3579
@mh-skjelvareid – apologies for not communicating this earlier but we're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2021-08-12 19:04] danielskatz commented on #3518
You will to resubmit - just as you did initially.  And please mention this issue in the resubmission.

[2021-08-12 19:05] crhea93 commented on #3518
Great! Thank you very much!

[2021-08-12 20:11] iannesbitt commented on #2565
Tests originate [from the client](https://github.com/raspishake/rsudp/blob/master/rsudp/client.py#L489) and are defined in [test.py](https://github.com/raspishake/rsudp/blob/master/rsudp/test.py).

[2021-08-12 20:45] amoodie commented on #3398
@whedon generate pdf

[2021-08-12 20:52] amoodie commented on #3398
Hi @kbarnhart :wave:

We got great feedback from three reviewers, which mostly revolved around points of clarification within the documentation. We have responded to all of the reviewers' comments and questions in repository issues:

* Zoltán review: https://github.com/DeltaRCM/pyDeltaRCM/issues/219#issuecomment-894295438
* Jaap review: https://github.com/DeltaRCM/pyDeltaRCM/issues/215
* Gerard re

[2021-08-12 21:23] calum-chamberlain commented on #2565
Thanks for that Ian - I had found that test file, but didn't think those to be unit tests - this may be a lack of understanding on my part, but the way I usually understand unit tests is a series of focused tests that test specific parts of the code base (similar to that outlined by the "agile alliance" [here](https://www.agilealliance.org/glossary/unit-test/#q=~(infinite~false~filters~(postType~(

[2021-08-12 22:34] gvegayon commented on #1493
Hey @arfon! I realized that my [last name has not been fixed for the citation](https://github.com/openjournals/joss-reviews/issues/1493#issuecomment-509410314). No rush, but I would appreciate if you could take a look :D!

[2021-08-13 00:12] SeascapeScience commented on #3319
Hi Kristen,

For some reason this didn’t come through in my github notifications, and I’m just seeing it now in my email.

I’m guessing I’m too late, but please consider me as a potential reviewer in the future.

Cheers,
Nick

[2021-08-13 06:15] faroit commented on #3434
@yiitozer alright. Please go ahead and proceed with the archiving as indicated [above](https://github.com/openjournals/joss-reviews/issues/3434#issuecomment-896080645)

[2021-08-13 06:17] faroit commented on #3434
@whedon set 1.0.2 as version

[2021-08-13 06:17] whedon commented on #3434
OK. 1.0.2 is the version.

[2021-08-13 06:47] arfon commented on #3595
@whedon assign @chartgerink as editor

 Thanks @chartgerink – I'll take you up on your kind offer :-)

[2021-08-13 06:47] whedon commented on #3595
OK, the editor is @chartgerink

[2021-08-13 06:49] fraukewiese commented on #3528
For information: I am contacting milicag and ckaldemeyer now per Mail to find out whether they could review, if not I will ask other reviewer.

[2021-08-13 06:53] arfon commented on #2276
@whedon accept deposit=true

[2021-08-13 06:53] whedon commented on #2276
[code]

[2021-08-13 06:53] whedon commented on #2276
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1426074501054357509) 👈 🐦🐦🐦

[2021-08-13 06:53] whedon commented on #2276
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2510
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02276](https://doi.org/10.21105/joss.02276)
2. If everything look

[2021-08-13 06:58] arfon commented on #2276
@r-barnes, @awickert, @KCallaghan – many thanks for your reviews here and to @kbarnhart for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@KevinShook – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-13 06:58] #2276 closed

[2021-08-13 06:58] whedon commented on #2276
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02276/status.svg)](https://doi.org/10.21105/joss.02276)

**We need your help!**

Journal of Open Source Softwa

[2021-08-13 07:06] yiitozer commented on #3434
Thank you @faroit and @arfon.

For the archive of the software, we need to wait for @meinardmueller to be back from vacation since he is the only owner of the repository. I hope, this is also OK.

[2021-08-13 07:18] wtraylor commented on #3450
nnadeau wrote:

I am tapping my network and will post some suggestions next week.

[2021-08-13 08:29] gomezzz commented on #3439
@whedon generate pdf

[2021-08-13 08:29] whedon commented on #3439
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03439/joss.03439/10.21105.joss.03439.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03439/joss.03439/10.21105.joss.03439.pdf) :page_facing_up: :point_left:

[2021-08-13 08:35] gomezzz commented on #3439
Thank you for your review! We are very happy to receive your positive feedback! :)

You are right about the _issues_. To alleviate, we will soon transition tickets from our JIRA to GitHub _issues_ and try to mark some issues as good first issues for interested contributors.

Thanks!

[2021-08-13 08:36] gomezzz commented on #3439
@whedon check references

[2021-08-13 08:36] whedon commented on #3439
[code]

[2021-08-13 10:30] gomezzz commented on #3439
Dear @jbytecode ,

we have applied the requested formatting ([here](https://github.com/esa/torchquad/pull/114)) , rechecked the paper and uploaded the repository (torchquad 0.2.1) to Zenodo.

On Zenodo, it can be found [here](https://zenodo.org/record/5195695#.YRZHhYgzYuU). The DOI is 10.5281/zenodo.5195695 . 

Thanks!

[2021-08-13 10:34] jbytecode commented on #3439
@gomezzz could you please tag a release in format of `vx.y.z` (for example `v0.2.1`) ?

[2021-08-13 10:35] jbytecode commented on #3439
@gomezzz and the archive entry should be belong to the tagged version.

[2021-08-13 10:49] drvinceknight commented on #3424
Thanks!

[2021-08-13 10:49] drvinceknight commented on #3424
@whedon generate pdf from abmarl-87-interface-release

[2021-08-13 10:49] drvinceknight commented on #3397
That's great, thank you.

[2021-08-13 10:49] whedon commented on #3424
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03424/joss.03424/10.21105.joss.03424.pdf) :page_facing_up: :point_left:

[2021-08-13 10:49] drvinceknight commented on #3397
@whedon generate pdf

[2021-08-13 10:50] drvinceknight commented on #3424
@whedon check references from abmarl-87-interface-release

[2021-08-13 10:50] whedon commented on #3397
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03397/joss.03397/10.21105.joss.03397.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03397/joss.03397/10.21105.joss.03397.pdf) :page_facing_up: :point_left:

[2021-08-13 10:50] whedon commented on #3424
[code]

[2021-08-13 10:52] drvinceknight commented on #3397
@whedon check references

[2021-08-13 10:53] whedon commented on #3397
[code]

[2021-08-13 10:58] drvinceknight commented on #3397
Could you double check if this is the DOI for the book itself (it's unclear to me if it's for the book or the chapter or just completely incorrect all together): https://doi.org/10.1515/9781400849208.343

[2021-08-13 11:02] drvinceknight commented on #3424
Thank you @rusu24edward, everything looks good to me.

Could you  make a tagged release and archive, and report the version number and archive DOI here?

Please make sure the archive deposit has same title and author list as the paper.

[2021-08-13 11:08] fneum opened #3610 "Summary: Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?"

[2021-08-13 11:08] whedon commented on #3610
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-13 11:08] #3610 closed

[2021-08-13 11:14] fneum commented on #3313
Hi @amandadsmith, I have just finished my review of your `diyepw` package. I very much like and support the idea to build a tool that automates the pipeline from historical weather data to uses in building energy modelling. In this case, from NOAA data to EPW files. Thanks for the extra effort you go through in making this open-source and accessible to others! I also appreciate the functionality t

[2021-08-13 11:21] Geogoeroe commented on #3346
![2021-08-13 12_46_50-_Untitled Project — QGIS  straight from the box!](https://user-images.githubusercontent.com/9982061/129347393-2f40149f-0617-46de-b5cd-ae88d3944beb.png)

This one was the one I could replicate now. Just to be sure, I've really cleaned out my QGIS residual stuff from my computer).

After starting QGIS with a new profile and trying exactly the same, I got this:
![2021-08-13 13_0

[2021-08-13 12:11] arfon commented on #3511
:wave: @olebole, @arjunsavel, @crhea93 – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under consideration here is [_DBSP_DRP: A Python package for automated spectroscopic data reduction of DBSP data_](https://

[2021-08-13 12:32] ulf1 commented on #3324
@mikldk I bumped the version to 0.6.8
- https://github.com/satzbeleg/bwsample/releases/tag/0.6.8
- https://pypi.org/project/bwsample/0.6.8/
- https://doi.org/10.5281/zenodo.5196171

Be careful, it's Friday the 13th 👻

[2021-08-13 12:48] Kevin-Mattheus-Moerman commented on #3394
I have spoken to @MakerTobey and he is no longer able to review this. I will remove him as a reviewer and proceed to process this submission for acceptance.

[2021-08-13 12:48] Kevin-Mattheus-Moerman commented on #3394
@whedon remove @MakerTobey as reviewer

[2021-08-13 12:48] whedon commented on #3394
OK, @MakerTobey is no longer a reviewer

[2021-08-13 12:50] Kevin-Mattheus-Moerman commented on #3394
@whedon generate pdf

[2021-08-13 12:50] whedon commented on #3394
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03394/joss.03394/10.21105.joss.03394.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03394/joss.03394/10.21105.joss.03394.pdf) :page_facing_up: :point_left:

[2021-08-13 13:01] crhea93 commented on #3511
@arfon it would be my pleasure.

[2021-08-13 13:03] konstantinstadler commented on #3575
@ethanwhite : many thanks for the update on the non-native vs alien terminology.
We discussed the issue among all authors and would prefer to keep the alien terminology
as this is the term used both in WoRMS (e.g. https://www.marinespecies.org/aphia.php?p=taxdetails&id=145721#distributions), WRiMS (http://www.marinespecies.org/introduced/terminology.php) and Molnar which all build the backbone of

[2021-08-13 13:10] xuanxu commented on #3494
@lucaferranti, @breezykermo would you be willing to review this paper? I think your knowledge of computational methods and Python makes both of you a good fit for this submission.

[2021-08-13 13:23] hugoledoux commented on #3346
thanks @Geogoeroe for your extra efforts, I hope you still like JOSS 😀

What I propose is this: if @gro5-AberUni can figure out what is wrong then we can continue, if not then as the editor I have to go double-check that users using Windows can install and use it. So I'll try to find someone who uses Windows and is knowledgeable in this area.

[2021-08-13 13:31] Kevin-Mattheus-Moerman commented on #3394
@whedon check references

[2021-08-13 13:32] whedon commented on #3394
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "," (COMMA) [#<BibTeX::Bibliography data=[13]>, "@", #<BibTeX::Entry >, {:title=>["EPICS architecture"], :author=>["Dalesio, L R and Kozubal, A J and Kraimer, M R"], :doi=>[""], :url=>["https://www.osti.gov/biblio/6110347"], :journal=>[""]}, ",", "number", "="]

[2021-08-13 13:32] Kevin-Mattheus-Moerman commented on #3394
@openjournals/dev can you see what is going on here? Paper compiles fine but the reference checking fails.

[2021-08-13 13:36] danielskatz commented on #3566
👋 @pmyteh & @cjbarrie - would either or both of you be available to review this JOSS submission?

[2021-08-13 13:36] danielskatz commented on #3143
👋 @jarrah42 - just a ping...

[2021-08-13 13:39] pmyteh commented on #3566
I'm sorry - I'm overloaded ATM so must decline.

[2021-08-13 13:39] danielskatz commented on #3470
👋 @cja12 - would you (or perhaps a member of your group) be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-08-13 13:49] Kevin-Mattheus-Moerman commented on #3394
@kasasxav I proofread the paper and it looks good. The references should be checked (see my attempt above :point_up_2:) but other than that I think it looks in good shape. At this point can you work on the steps below:

- [ ] Can you confirm what the version tag for this publication should be? Is the software still at `v1.0.0` or has it moved on?
- [ ] Can you archive a copy of the software on ZEN

[2021-08-13 13:50] Kevin-Mattheus-Moerman commented on #3349
@whedon generate pdf

[2021-08-13 13:50] Kevin-Mattheus-Moerman commented on #3349
@whedon set v.0.15.0 as version

[2021-08-13 13:50] whedon commented on #3349
OK. v.0.15.0 is the version.

[2021-08-13 13:50] whedon commented on #3349
PDF failed to compile for issue #3349 with the following error:
[code]

[2021-08-13 13:51] Kevin-Mattheus-Moerman commented on #3349
@whedon generate pdf from branch joss-paper

[2021-08-13 13:51] whedon commented on #3349
[code]

[2021-08-13 13:51] whedon commented on #3349
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03349/joss.03349/10.21105.joss.03349.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03349/joss.03349/10.21105.joss.03349.pdf) :page_facing_up: :point_left:

[2021-08-13 13:53] Kevin-Mattheus-Moerman commented on #3579
@whedon assign me as editor

[2021-08-13 13:53] whedon commented on #3579
OK, the editor is @Kevin-Mattheus-Moerman

[2021-08-13 13:53] Kevin-Mattheus-Moerman commented on #3579
@arfon I can take this one

[2021-08-13 13:53] Kevin-Mattheus-Moerman commented on #3349
@gaelforget would you like to check those last changes? Thanks

[2021-08-13 13:55] danielskatz commented on #3566
no worries @pmyteh - thanks for getting back to me

[2021-08-13 13:59] Kevin-Mattheus-Moerman commented on #3260
@whedon assign @alexlib as reviewer

[2021-08-13 13:59] whedon commented on #3260
OK, @alexlib is now a reviewer

[2021-08-13 13:59] Kevin-Mattheus-Moerman commented on #3260
@whedon add @nkeim as reviewer

[2021-08-13 13:59] whedon commented on #3260
OK, @nkeim is now a reviewer

[2021-08-13 14:00] Kevin-Mattheus-Moerman commented on #3260
@whedon add @tacaswell as reviewer

[2021-08-13 14:00] whedon commented on #3260
OK, @tacaswell is now a reviewer

[2021-08-13 14:01] Kevin-Mattheus-Moerman commented on #3260
@tacaswell I took the liberty of adding you as a reviewer since you responded you may be able to help late August / early September. Since that timing would work I added you just now but let me know and I can remove you if you are no longer able to help. Thanks.

[2021-08-13 14:01] Kevin-Mattheus-Moerman commented on #3260
@whedon start review

[2021-08-13 14:01] whedon opened #3611 "[REVIEW]: ParticleTracker: a gui based particle tracking software"
**Submitting author:** @mikesmithlab (<a href="http://orcid.org/0000-0002-8210-1264">Michael Smith</a>)
**Repository:** <a href="https://github.com/MikeSmithLabTeam/particletracker" target ="_blank">https://github.com/MikeSmithLabTeam/particletracker</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @alexlib, @nkeim, @tacaswell
**Archive:** Pending

**:warning: JOSS reduced

[2021-08-13 14:01] whedon commented on #3260
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3611.

[2021-08-13 14:01] #3260 closed

[2021-08-13 14:01] whedon commented on #3611
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @alexlib, @nkeim, @tacaswell it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-08-13 14:02] Kevin-Mattheus-Moerman commented on #3255
@bhajay it would be great to finalize this review process shortly. Can you provide an update please? Thanks.

[2021-08-13 14:37] kasasxav commented on #3394
@whedon check references

[2021-08-13 14:37] whedon commented on #3394
[code]

[2021-08-13 14:59] Geogoeroe commented on #3346
Tomorrow I'll meet with a few other QGIS friends, I plan to let them check as well, to see it's not just my setup :-)

[2021-08-13 15:29] arjunsavel commented on #3511
@arfon happy to do so!

[2021-08-13 15:43] kasasxav commented on #3394
Thank you @Kevin-Mattheus-Moerman for the instructions and for your time. We would also like to thank the reviewers @untzag, @beniroquai, @uellue for your time and suggestions, it's truly exciting how the software has improved through this process!

The software version is now v1.2.0 and the Zenodo DOI 10.5281/zenodo.5196462 (https://zenodo.org/record/5196462#.YRaSXC0RoUs).

[2021-08-13 15:44] arfon commented on #3511
Wonderful, thanks both!

[2021-08-13 15:44] arfon commented on #3511
@whedon add @crhea93 as reviewer

[2021-08-13 15:44] whedon commented on #3511
OK, @crhea93 is now a reviewer

[2021-08-13 15:45] arfon commented on #3511
@whedon add @arjunsavel as reviewer

[2021-08-13 15:45] whedon commented on #3511
OK, @arjunsavel is now a reviewer

[2021-08-13 15:45] arfon commented on #3511
@whedon start review

[2021-08-13 15:45] whedon opened #3612 "[REVIEW]: DBSP_DRP: A Python package for automated spectroscopic data reduction of DBSP data"
**Submitting author:** @finagle29 (<a href="http://orcid.org/0000-0003-1118-3132">Milan Roberson</a>)
**Repository:** https://github.com/finagle29/DBSP_DRP/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @crhea93, @arjunsavel
**Archive:** 10.5281/zenodo.6241526

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2021-08-13 15:45] whedon commented on #3511
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3612.

[2021-08-13 15:45] #3511 closed

[2021-08-13 15:45] whedon commented on #3612
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @crhea93, @arjunsavel it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-08-13 15:45] whedon commented on #3612
Wordcount for `paper.md` is 1158

[2021-08-13 15:45] whedon commented on #3612
[code]

[2021-08-13 15:45] whedon commented on #3612
[code]

[2021-08-13 15:46] arfon commented on #3511
@crhea93, @arjunsavel – see you both over in #3612 where the actual review will take place.

[2021-08-13 15:46] whedon commented on #3612
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03612/joss.03612/10.21105.joss.03612.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03612/joss.03612/10.21105.joss.03612.pdf) :page_facing_up: :point_left:

[2021-08-13 15:46] arfon commented on #3612
@crhea93, @arjunsavel – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied.

[2021-08-13 15:50] arfon commented on #1493
@gvegayon – OK, this should be updated now.

[2021-08-13 15:57] danielskatz commented on #3470
@chad-iris - That's great.  I'll add you as a reviewer, and once we get another reviewer, we'll start the review - you can certainly wait to start

[2021-08-13 15:57] Kevin-Mattheus-Moerman commented on #3394
@whedon set version as v1.2.0

[2021-08-13 15:57] whedon commented on #3394
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-08-13 15:57] danielskatz commented on #3470
@whedon assign @chad-iris as reviewer

[2021-08-13 15:57] whedon commented on #3470
OK, @chad-iris is now a reviewer

[2021-08-13 15:59] Kevin-Mattheus-Moerman commented on #3394
@whedon set v1.2.0 as version

[2021-08-13 15:59] whedon commented on #3394
OK. v1.2.0 is the version.

[2021-08-13 15:59] Kevin-Mattheus-Moerman commented on #3394
@whedon set 10.5281/zenodo.5196462 as archive

[2021-08-13 15:59] whedon commented on #3394
OK. <a href="https://doi.org/10.5281/zenodo.5196462" target="_blank">10.5281/zenodo.5196462</a> is the archive.

[2021-08-13 16:59] Kevin-Mattheus-Moerman commented on #3394
@whedon recommend-accept

[2021-08-13 16:59] whedon commented on #3394
[code]

[2021-08-13 16:59] whedon commented on #3394
[code]

[2021-08-13 16:59] whedon commented on #3394
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2511

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2511, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-13 17:27] kellyrowland commented on #3212
Hi @mengqi-z totally understood, and thank you for your patience.

@mikejohnson51 do you have an estimate of when you might be able to complete your review?

[2021-08-13 17:28] kellyrowland commented on #3419
Hi @Himscipy just checking in - please let me know about the status of your review or if you need to step away from it.

[2021-08-13 17:29] kellyrowland commented on #3374
@whedon recommend-accept

[2021-08-13 17:29] whedon commented on #3374
No archive DOI set. Exiting...

[2021-08-13 17:30] kellyrowland commented on #3374
@whedon set doi:10.5281/zenodo.5178723 as archive

[2021-08-13 17:30] whedon commented on #3374
OK. <a href="https://doi.org/10.5281/zenodo.5178723" target="_blank">10.5281/zenodo.5178723</a> is the archive.

[2021-08-13 17:30] kellyrowland commented on #3374
@whedon set v1.1.1 as version

[2021-08-13 17:30] whedon commented on #3374
OK. v1.1.1 is the version.

[2021-08-13 17:31] kellyrowland commented on #3374
@whedon recommend-accept

[2021-08-13 17:31] whedon commented on #3374
[code]

[2021-08-13 17:31] whedon commented on #3374
[code]

[2021-08-13 17:31] whedon commented on #3374
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2512

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2512, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-08-13 17:41] mikejohnson51 commented on #3212
I am hoping end of day Monday. Would that work @kellyrowland ?

[2021-08-13 17:43] jorgedch commented on #3124
Dear reviewers,

After some updates, currently fresh installs on Mac and Ubuntu are running the installation process and the tests as indicated in the README file. There are some things to improve on our side, but are not blockers. For example, the installation order in pip seems to produce an error as a pip package is required to build the wheel of another one in the requirements, and the install

[2021-08-13 17:44] Himscipy commented on #3419
Hi @kellyrowland , Thanks for checking.
I plan to finish it over the weekend, if that okay.

[2021-08-13 17:45] dfm commented on #3518
@crhea93: I would say that there are several remaining issues with the repo. There are several copies of the source (at `LUCI` and `src/LUCI`), many temp files that should not be checked into version control (e.g. `.ipynb_checkpoints`, `dist`, `__pycache__`, and many others), and some issues with the packaging (what are the relationships between `ML`, `Notebooks`, `Examples`, `Data` directories an

[2021-08-13 17:51] kellyrowland commented on #3419
@Himscipy that sounds great, thank you!

[2021-08-13 17:52] kellyrowland commented on #3212
@mikejohnson51 that would be great. Thank you!

[2021-08-13 18:42] ethanwhite commented on #3575
Sounds good. Like I said I'm definitely not an expert here so just wanted to draw your attention to the discussion so you could consider it.

[2021-08-13 18:53] PeerHerholz commented on #3169
Hi folks,

sorry, I was OOO. LGTM, thanks so much!

[2021-08-13 18:55] rusu24edward commented on #3424
@drvinceknight I have released version 0.1.4, and here is the DOI: 10.5281/zenodo.5196791

[2021-08-13 19:30] mparno commented on #3076
Thanks for the feedback @martinmodrak .   I had a call with Andy and Linus this morning and we're working on some additions to MUQ to address your remaining concerns.  I really appreciate the time you've taken to look at MUQ.    It's been very beneficial for us.

[2021-08-13 19:52] cmaimone commented on #3566
I can review it - I think my other review is close to done

[2021-08-13 19:54] danielskatz commented on #3566
Thanks very much @cmaimone - I'll add you, and once we get another reviewer, we'll get started on the review

[2021-08-13 19:54] danielskatz commented on #3566
@whedon assign @cmaimone as reviewer

[2021-08-13 19:54] whedon commented on #3566
OK, @cmaimone is now a reviewer

[2021-08-13 20:02] bmcfee commented on #3582
Just chiming in here to say that I'm still working on finding another reviewer, but hope to have a positive response soon.

[2021-08-13 20:39] thewan05 commented on #3084
Hello, just wanted to provide an update and say that we might have found an interested reviewer. Thanks.

[2021-08-13 20:41] rob-luke commented on #3582
Thanks @bmcfee

[2021-08-13 21:18] bmcfee commented on #3582
@whedon add @jongwook as reviewer

[2021-08-13 21:18] whedon commented on #3582
OK, @jongwook is now a reviewer

[2021-08-13 21:18] bmcfee commented on #3582
@whedon start review

[2021-08-13 21:18] whedon opened #3613 "[REVIEW]: AuditoryStimuli.jl: A Julia package for generating real-time auditory stimuli"
**Submitting author:** @rob-luke (<a href="http://orcid.org/0000-0002-4930-8351">Robert Luke</a>)
**Repository:** <a href="https://github.com/rob-luke/AuditoryStimuli.jl" target ="_blank">https://github.com/rob-luke/AuditoryStimuli.jl</a>
**Version:** v0.0.11
**Editor:** @bmcfee
**Reviewer:** @vahid-sb, @jongwook
**Archive:** <a href="https://doi.org/10.5281/zenodo.5525443" target="_blank">10.5281

[2021-08-13 21:18] whedon commented on #3582
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3613.

[2021-08-13 21:18] #3582 closed

[2021-08-13 21:18] whedon commented on #3613
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vahid-sb, @jongwook it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-08-13 21:19] whedon commented on #3613
[code]

[2021-08-13 21:19] whedon commented on #3613
PDF failed to compile for issue #3613 with the following error:
[code]

[2021-08-13 21:22] rob-luke commented on #3613
@whedon generate pdf from branch manuscript

[2021-08-13 21:22] whedon commented on #3613
[code]

[2021-08-13 21:23] whedon commented on #3613
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03613/joss.03613/10.21105.joss.03613.pdf) :page_facing_up: :point_left:

[2021-08-14 05:06] jacobmerson commented on #3389
@daniellivingston are there any issues so far that you need me to address?

[2021-08-14 06:32] arfon commented on #3374
@whedon accept deposit=true

[2021-08-14 06:32] whedon commented on #3374
[code]

[2021-08-14 06:32] whedon commented on #3374
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1426431639551455233) 👈 🐦🐦🐦

[2021-08-14 06:33] whedon commented on #3374
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2513
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03374](https://doi.org/10.21105/joss.03374)
2. If everything look

[2021-08-14 06:34] arfon commented on #3394
@whedon accept deposit=true

[2021-08-14 06:34] whedon commented on #3394
[code]

[2021-08-14 06:34] whedon commented on #3394
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1426432113797128193) 👈 🐦🐦🐦

[2021-08-14 06:34] whedon commented on #3394
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2514
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03394](https://doi.org/10.21105/joss.03394)
2. If everything look

[2021-08-14 06:35] arfon commented on #3374
@iimog, @jcoliver – many thanks for your reviews here and to @kellyrowland for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@gaurav  – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-14 06:35] #3374 closed

[2021-08-14 06:35] whedon commented on #3374
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03374/status.svg)](https://doi.org/10.21105/joss.03374)

**We need your help!**

Journal of Open Source Softwa

[2021-08-14 06:36] arfon commented on #3394
@uellue, @beniroquai, @untzag – many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@kasasxav – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-08-14 06:36] #3394 closed

[2021-08-14 06:36] whedon commented on #3394
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03394/status.svg)](https://doi.org/10.21105/joss.03394)

**We need your help!**

Journal of Open Source Softwa

[2021-08-14 06:41] lucaferranti commented on #3494
Hi @xuanxu , I am willing to review this paper. I have read the JOSS Conflict of Interest policy and I confirm that I have no COIs with this review. 😄

[2021-08-14 06:44] whedon opened #3614 "[PRE REVIEW]: stochvolTMB: An R-package for likelihood estimation of stochastic volatility models"
**Submitting author:** @JensWahl (<a href="http://orcid.org/0000-0002-3812-5111">Jens Christian Wahl</a>)
**Repository:** <a href="https://github.com/JensWahl/stochvolTMB.git" target ="_blank">https://github.com/JensWahl/stochvolTMB.git</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-08-14 06:44] whedon commented on #3614
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-14 06:44] whedon commented on #3614
Wordcount for `paper.md` is 873

[2021-08-14 06:44] whedon commented on #3614
[code]

[2021-08-14 06:44] whedon commented on #3614
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03614/joss.03614/10.21105.joss.03614.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03614/joss.03614/10.21105.joss.03614.pdf) :page_facing_up: :point_left:

[2021-08-14 06:45] whedon commented on #3614
[code]

[2021-08-14 06:45] arfon commented on #3614
@JensWahl – due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week. If you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, then use th

[2021-08-14 06:45] arfon commented on #3614
@whedon query scope

[2021-08-14 06:45] whedon commented on #3614
Submission flagged for editorial review.

[2021-08-14 09:09] xuanxu commented on #3494
@whedon assign @lucaferranti as reviewer

[2021-08-14 09:09] whedon commented on #3494
OK, @lucaferranti is now a reviewer

[2021-08-14 09:10] xuanxu commented on #3494
@lucaferranti great, thanks! I'll start the review issue once we have the second reviewer. Stay tuned!

[2021-08-14 13:09] JensWahl commented on #3614
@whedon generate pdf

[2021-08-14 13:09] whedon commented on #3614
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03614/joss.03614/10.21105.joss.03614.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03614/joss.03614/10.21105.joss.03614.pdf) :page_facing_up: :point_left:

[2021-08-14 13:10] JensWahl commented on #3614
@whedon check references

[2021-08-14 13:10] whedon commented on #3614
[code]

[2021-08-14 13:53] bhajay commented on #3255
There are no more comments from my side. Thanks!

[2021-08-14 16:27] wsavran commented on #3507
@kbarnhart, I've copied the github handles of a few other reviewers that should reviewers of this paper. Cheers!

baagaard-usgs
willic3
brendanjmeade
MatteoTaroniINGV

[2021-08-14 19:17] Nikoleta-v3 commented on #3522
Hey :wave: @cmaimone.  Apologies for taking some time to reply.

I agree that there should be documentation regarding contributing to the project.

The project does have a CONTRIBUTING.md file which alongside ARCHITECTURE.md they give enough information for more experienced developers to contribute. However, a “Running Tests” section is missing from the CONTRIBUTING.md @remram44.

I do feel like l

[2021-08-14 20:46] larkz commented on #3587
@arfon thank you for attention to this matter. Originally we selected @mjsottile to be our editor. However, if any other reviewer has expertise in Machine Learning, Software Implementation, JVM Languages, and/or Decision Sciences, feel free to invite them to be a reviewer.

[2021-08-14 21:20] remram44 commented on #3522
Good point, I added instructions for running the tests: https://gitlab.com/remram44/taguette/-/blob/master/CONTRIBUTING.md#running-tests

[2021-08-14 23:00] henrykironde commented on #3560
Happy to be part of the reviewers under software but not the domain-specific part of the submission

[2021-08-15 03:19] gaurav commented on #3374
Thank you so much, everybody!

[2021-08-15 04:24] bshoshany commented on #3291
Dear @gkthiruvathukal and @zeroset: I just uploaded a new release, v2.0.0. I had a bit of free time, so I started working on some tests and eventually decided to try to automate them. It was so much fun that I ended up spending 2 full days on it, and I'm very happy with the result!

The file `thread_pool_test.cpp` will perform automated tests of all aspects of the package, and benchmark some multi

[2021-08-15 07:01] gkthiruvathukal commented on #3291
@bshoshany I'm on vacation through next week but this seems like a great effort to address concerns raised by @zeroset during review. Please proceed!

[2021-08-15 13:06] bshoshany commented on #3291
@gkthiruvathukal Thanks, have a nice vacation! :)

[2021-08-15 15:09] jeffreybarrick commented on #3362
Thank you @standage and @ayush9pandey for the helpful feedback! And thanks @csoneson for organizing the review process.

Here's a run-down of the updates we made to improve OSTIR in response to each of your comments. Let us know if we missed anything or if you have additional comments/suggestions.

As part of this effort, we re-organized the online documentation, which had been a single `README.md

[2021-08-15 15:40] janfreyberg commented on #3545
As an update: I've opened an issue with some requests for documentation changes, as well as some suggestions for some functionality changes.

[2021-08-15 16:02] roshansamuel commented on #2095
Hi @kyleniemeyer, can something be done to finish the review? We have installed and run SARAS on various workstations and clusters without encountering hiccups.

Blitz++ and yaml-cpp are the only dependencies that actually require manual installation to run SARAS. The other libraries (CMake, MPICH, and HDF5) are very commonly available in most software repositories and don't usually require manual

[2021-08-15 16:40] whedon opened #3615 "[PRE REVIEW]: Bam-readcount - rapid generation of basepair-resolution sequence metrics"
**Submitting author:** @chrisamiller (<a href="http://orcid.org/0000-0003-4266-6700">Christopher A. Miller</a>)
**Repository:** <a href="https://github.com/genome/bam-readcount" target ="_blank">https://github.com/genome/bam-readcount</a>
**Version:** 1.0
**Editor:** @lpantano
**Reviewers:** @friedue
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-08-15 16:40] whedon commented on #3615
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-15 16:40] whedon commented on #3615
PDF failed to compile for issue #3615 with the following error:
[code]

[2021-08-15 16:40] whedon commented on #3615
[code]

[2021-08-15 16:40] arfon commented on #3615
@whedon generate pdf from branch joss-paper

[2021-08-15 16:40] whedon commented on #3615
[code]

[2021-08-15 16:41] whedon commented on #3615
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03615/joss.03615/10.21105.joss.03615.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03615/joss.03615/10.21105.joss.03615.pdf) :page_facing_up: :point_left:

[2021-08-15 16:42] arfon commented on #3615
@whedon check references from branch joss-paper

[2021-08-15 16:42] whedon commented on #3615
[code]

[2021-08-15 16:42] whedon commented on #3615
[code]

[2021-08-15 17:34] alexlib opened #3616 "Performance: If there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.)"

[2021-08-15 17:34] whedon commented on #3616
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-08-15 17:34] #3616 closed

[2021-08-15 19:06] jarrah42 commented on #3143
@nkallima perhaps I missed it. The documentation only mentions x86_64 but does not mention that it also depends on Linux. I tried building on Darwin but it doesn't compile, so you should list the O/S dependency also.

[2021-08-15 19:35] arfon commented on #3615
@chrisamiller - thanks for your submission to JOSS. We're currently managing a large backlog of submissions and the editor most appropriate for your area is already rather busy.  For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

While you wait, if you want to fix the DOIs (noting that Whedon's suggestions are not always right), you can, th

[2021-08-15 19:42] arfon commented on #3534
@whedon assign me as editor

[2021-08-15 19:42] whedon commented on #3534
OK, the editor is @arfon

[2021-08-15 19:44] arfon commented on #3534
:wave: @zonca – many thanks for your submission to JOSS! Could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-08-15 20:04] step21 commented on #3566
In case you need more reviewers, I can review from 18th onward.

[2021-08-15 21:00] nkallima commented on #3143
@jarrah42 please check the Requirements section of the README file in v2.5.0-dev branch (https://github.com/nkallima/sim-universal-construction/tree/v2.5.0-dev#requirements).

[2021-08-16 01:24] taless474 commented on #3548
@SamDuffield Could you please suggest some reviewers to us?
Also, I believe a simple informal abstract might help here. I read the paper and, my understanding differs from what I get from the Bayesian Map-matching title.

[2021-08-16 03:40] Himscipy commented on #3419
Hi  @dionhaefner,  Following are some comments regarding the submission :
1. The software tools wraps mpi4py library with jax, is a very interesting idea and tool such as this will be really beneficial for scientific community. With that said, I find that the paper doesn't describe findings the finding from the second example listed in the introduction section of the paper(NetKet).
2.  The paper d

[2021-08-16 03:48] kyleniemeyer commented on #2095
@roshansamuel yes, I think we can move forward with this—thanks for your patience! I'm going to take a final look at your paper.

In the meantime, can you please archive the software repo (e.g., on Zenodo or Figshare) and provide the DOI here?

[2021-08-16 05:33] roshansamuel commented on #2095
@kyleniemeyer thank you very much.

A tagged release of SARAS has been archived on Zenodo and its DOI is [https://doi.org/10.5281/zenodo.5205320](https://doi.org/10.5281/zenodo.5205320)

[2021-08-16 06:24] zonca commented on #3534
thanks @arfon!

first choice would be cosmology + python, specific CMB knowledge first: Pqrs6, sibirrer, smsharma, benjaminrose, danehkar, yymao, aureliocarnero, changhoonhahn, Christovis, rmorgan10, villaa

[2021-08-16 07:00] arfon commented on #3565
@tpoisot – Thanks for your submission to JOSS. After consulting with the JOSS editorial team, we've determined that this work is out of scope for JOSS as it falls into our [minor utility category](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how

[2021-08-16 07:00] arfon commented on #3565
@whedon reject

[2021-08-16 07:00] whedon commented on #3565
Paper rejected.

[2021-08-16 07:00] #3565 closed

[2021-08-16 07:01] whedon commented on #3565
Paper rejected.

[2021-08-16 07:03] VBlesius commented on #3540
Following, our changes made to the second part of @brunaw 's review regarding the paper:

We tried to adapt the [instructions provided by JOSS](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) and restricted the paper to the sections summary, statement of need and example. Therefore general information and details are included in the summary. However, because it