[2018-10-23 15:04] bjonkman commented on #1014
Sorry, but I don't have time to review this.

[2018-10-23 15:13] rmsare commented on #1031
@whedon generate pdf

[2018-10-23 15:13] whedon commented on #1031
[code]

[2018-10-23 15:14] whedon commented on #1031
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01031/joss.01031/10.21105.joss.01031.pdf)

[2018-10-23 15:49] cMadan commented on #1046
For a reviewer, I'd like to suggest @JonathanReardon.

[2018-10-23 15:52] lheagy commented on #940
Excellent, many thanks @IgorBaratta and @boehmc for your review!

@uvilla, could you please archive the software on [zenodo](https://zenodo.org/) or similar and post the doi here? Thanks!

[2018-10-23 16:15] uvilla commented on #940
@lheagy ,

The Zenodo DOI for the lastest hippylib release `2.1.1` (which includes Igor's and Christian's comments) is [10.5281/zenodo.1469675](https://doi.org/10.5281/zenodo.1469675).

The *all-versions* DOI is [10.5281/zenodo.596931](https://doi.org/10.5281/zenodo.596931).

Thank you again to you, @IgorBaratta, @boehmc  for reviewing my code. I truly believe that your reviewed improved the code

[2018-10-23 16:51] wino6687 commented on #1018
Hi @arfon, I updated the current git release over the last couple weeks to v1.1.7. Is there a way to update the JOSS review to v1.1.7?

[2018-10-23 16:58] terrytangyuan commented on #1036
@whedon generate pdf

[2018-10-23 16:58] whedon commented on #1036
[code]

[2018-10-23 16:58] whedon commented on #1036
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01036/joss.01036/10.21105.joss.01036.pdf)

[2018-10-23 17:00] terrytangyuan commented on #1036
@arfon Sure, I just updated the bibtex file!

[2018-10-23 17:08] kyleniemeyer commented on #1016
Hi @gouarin, do you have any suggested reviewers for this submission? I will try to identify at least one from the JOSS reviewer pool, but I would also like at least one reviewer who is an expert on the topic.

[2018-10-23 17:14] arfon commented on #1018
Done.

[2018-10-23 17:14] arfon commented on #1036
@whedon accept

[2018-10-23 17:14] whedon commented on #1036
[code]

[2018-10-23 17:15] danielskatz commented on #1016
And just as a general comment, it would be good to say something about why one would want to run LB simulations in the readme and the docs - for example, in what science/engineering disciplines and for what problems is the LB method a good choice?

[2018-10-23 17:15] whedon commented on #1036
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/29

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/29, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-23 17:53] terrytangyuan commented on #1036
@arfon Thanks! Just addressed it.

[2018-10-23 18:16] arfon commented on #1036
@whedon accept

[2018-10-23 18:16] whedon commented on #1036
[code]

[2018-10-23 18:16] whedon commented on #1036
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/30

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/30, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-23 18:40] lheagy commented on #940
@whedon set 10.5281/zenodo.596931 as archive

[2018-10-23 18:40] whedon commented on #940
OK. <a href="https://doi.org/10.5281/zenodo.596931" target="_blank">10.5281/zenodo.596931</a> is the archive.

[2018-10-23 18:43] lheagy commented on #940
@arfon: this submission is ready for publication.
Congratulations @uvilla!! :tada:

[2018-10-23 18:50] arfon commented on #940
@whedon accept

[2018-10-23 18:50] whedon commented on #940
[code]

[2018-10-23 18:50] whedon commented on #940
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/31

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/31, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-23 18:51] arfon commented on #1036
@whedon accept deposit=true

[2018-10-23 18:51] whedon commented on #1036
[code]

[2018-10-23 18:51] whedon commented on #1036
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/32
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01036](https://doi.org/10.21105/joss.01036)
2. If everything looks goo

[2018-10-23 19:00] whedon commented on #940
[code]

[2018-10-23 19:00] whedon commented on #940
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/33
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00940](https://doi.org/10.21105/joss.00940)
2. If everything looks goo

[2018-10-23 19:04] carterenyi commented on #1030
Done, thank you.

On Tue, Oct 23, 2018 at 11:03 AM Arfon Smith <notifications@github.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-10-23 19:05] gouarin commented on #1016
@kyleniemeyer I will try to give you a name soon.

@danielskatz it's difficult to answer to that question. It's like to answer what science/engineering disciplines and for what problems is the finite element, finite difference or finite volume methods a good choice. LB method can be used in computational fluid dynamics and for a lot of problems.

cc @bgraille

[2018-10-23 19:07] kyleniemeyer commented on #1016
@gouarin @danielskatz I do think including some example problems is important for the paper. Also, I notice that right now about half the paper is decided to *future* extensions/features; I don't really think that is appropriate, as most of the paper should be motivating and describing the *current* software. I'd encourage you to check out some of the recent published articles, and work on revisin

[2018-10-23 19:10] uvilla commented on #940
@lheagy and @arfon,

I checked the final PDF and everything looks good.
Again, thank you very much for handling my submission.

[2018-10-23 19:14] danielskatz commented on #1016
As @kyleniemeyer said, I don't think there needs to be an exhaustive list of problems for which this is used, but some examples would really help.

[2018-10-23 19:14] arfon commented on #1036
@joethorley - many thanks for your review here ✨

@terrytangyuan - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.01036 :zap: :rocket: :boom:

[2018-10-23 19:14] #1036 closed

[2018-10-23 19:14] whedon commented on #1036
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01036/status.svg)](https://doi.org/10.21105/joss.01036)

**We need your help!**

Journal of Open Source Softwar

[2018-10-23 19:16] arfon commented on #940
@IgorBaratta, @boehmc - many thanks for your reviews here and to @lheagy for editing this submission ✨

@uvilla - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00940 :zap: :rocket: :boom:

[2018-10-23 19:16] #940 closed

[2018-10-23 19:16] whedon commented on #940
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00940/status.svg)](https://doi.org/10.21105/joss.00940)

**We need your help!**

Journal of Open Source Softwar

[2018-10-23 19:17] arfon commented on #1030
@whedon generate pdf

[2018-10-23 19:18] whedon commented on #1030
PDF failed to compile for issue #1030 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     73      0 --:--:-- --:--:-- --:--:--    73
Error reading bib

[2018-10-23 19:18] gouarin commented on #1016
@kyleniemeyer , @danielskatz thanks for your comments. We will modify the article and give various examples. We didn't do it to have a short article. With examples, the article will give more information about what we can do with pylbm and probably more interesting.

[2018-10-23 19:21] arfon commented on #1030
Looks like you're missing a comma (`,`) on this line: https://github.com/carterenyi/emviz/blob/master/paper.bib#L7

@carterenyi - please make this change and then ask Whedon to compile the paper with `@whedon generate pdf`

[2018-10-23 19:22] danielskatz commented on #1016
The examples can be really brief (under a paragraph overall), and probably should be in the readme and docs, not just the article.  Once the review starts, it's likely the reviewers will ask for this too ...

[2018-10-23 19:31] danielskatz commented on #1016
I'm not sure those graphics really explain what's going on - at least labeling the axes/colors would help

[2018-10-23 19:51] carterenyi commented on #1030
@whedon generate pdf

On Tue, Oct 23, 2018 at 3:21 PM Arfon Smith <notifications@github.com>
wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-10-23 19:51] whedon commented on #1030
[code]

[2018-10-23 19:51] whedon commented on #1030
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01030/joss.01030/10.21105.joss.01030.pdf)

[2018-10-23 19:55] carterenyi commented on #1030
@whedon generate pdf

On Tue, Oct 23, 2018 at 3:51 PM whedon <notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-10-23 19:55] whedon commented on #1030
[code]

[2018-10-23 19:56] whedon commented on #1030
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01030/joss.01030/10.21105.joss.01030.pdf)

[2018-10-23 20:48] rrrlw commented on #1008
Thank you to the reviewers for their clear feedback.

In response to the points brought up by @nagoue:
1. The units (>= 0.6) dependency has been added to the Imports field in the DESCRIPTION file.
2. The typo in line 40 of paper.md has been fixed.
3. The redirection to Sandve et al. is not working for me either. However, the DOI in paper.md matches the DOI on the PLoS CB website (https://journals.

[2018-10-23 21:44] Benjamin-Lee commented on #1006
All checks have passed!

[2018-10-23 21:53] karthik commented on #1041
/ooo till Monday

[2018-10-23 21:55] karthik commented on #1041
/ooo today until Monday

[2018-10-23 22:10] labarba commented on #1042
I manually added the header comment to add @apsabelhaus as reviewer — thank you, all.

[2018-10-23 22:12] tomsing1 commented on #1008
Looks good to me - accept!

[2018-10-23 22:13] labarba commented on #1042
@Kevin-Mattheus-Moerman : I forgot how to give @apsabelhaus the permissions to edit the reviewer checklist or send him the appropriate invitation. Do you remember? I went to the Teams section of the `open journals` org, and couldn't immediately identify a team to add him. Help…

[2018-10-24 01:00] rouson commented on #865
I've also added [issue 8] that probably needs to be addressed before acceptance.  For new users, I think the documentation should contain a working version of an extremely simple example similar to one of the "Hello, world!" examples in [issue 8].

 [issue 8]: https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/8

[2018-10-24 08:17] Kevin-Mattheus-Moerman commented on #1042
The first step is this:
'@whedon add @apsabelhaus as reviewer'

[2018-10-24 08:19] Kevin-Mattheus-Moerman commented on #1042
Then this invitation should be accepted: https://github.com/openjournals/joss-reviews/invitations

[2018-10-24 08:35] vmagnin commented on #1014
@Kevin-Mattheus-Moerman
If it's OK for you I can try to contact some forkers or followers of the project on GitHub.

[2018-10-24 08:53] Kevin-Mattheus-Moerman commented on #1014
@vmagnin yes please do. Feel free to ping them in this issue.

[2018-10-24 09:02] Kevin-Mattheus-Moerman commented on #866
@zhampel @jgrss @slandersson @mmann1123 @avanetten would you be interested in reviewing this submission for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/review_criteria.html) (which takes place on GitHub) focuses largely on [the software](https://github.com/CosmiQ/CometTS) and a [short paper](https://github.com/ope

[2018-10-24 10:13] Kevin-Mattheus-Moerman commented on #1014
@chirayubatra @jlokimlin would you be interested in reviewing this work for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/)? The [review process](http://joss.theoj.org/about#reviewer_guidelines) focuses on [the software](https://github.com/jerryd/gtk-fortran) and [a short paper](https://github.com/openjournals/joss-papers/blob/joss.01014/joss.01014/10.21105.joss.01014.pdf).
Le

[2018-10-24 10:51] ChrisJefferson commented on #950
My only issue is that there have been some commits, as part of the review, which should be part of a new release.

[2018-10-24 11:47] labarba commented on #1042
The `@whedon add` commands sets things up _only_ if used in the Pre-Review issue, _before_ starting the review. Once we're here, adding a reviewer is a manual process.

[2018-10-24 13:38] zhampel commented on #866
@Kevin-Mattheus-Moerman Yes, I'd be happy to review the CometTS submission.

[2018-10-24 13:41] Kevin-Mattheus-Moerman commented on #866
@whedon add @zhampel as reviewer

[2018-10-24 13:42] whedon commented on #866
OK, @zhampel is now a reviewer

[2018-10-24 13:43] Kevin-Mattheus-Moerman commented on #866
To avoid further delay in processing this submission I'll now start review. I do welcome additional reviewers if any are found, I'll add them on the review issue itself. Thanks all. Let's get started.

[2018-10-24 13:43] Kevin-Mattheus-Moerman commented on #866
@whedon start review magic-word=bananas

[2018-10-24 13:43] whedon opened #1047 "[REVIEW]: Comet Time Series (CometTS) Visualizer"
**Submitting author:** @jshermeyer (<a href="http://orcid.org/0000-0002-8143-2790">Jacob Shermeyer</a>)
**Repository:** <a href="https://github.com/CosmiQ/CometTS" target ="_blank">https://github.com/CosmiQ/CometTS</a>
**Version:** <v1.2.0>
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @zhampel, @rmsare, @jjmcnelis
**Archive:** <a href="https://doi.org/10.5281/zenodo.3418091" target="_blank">

[2018-10-24 13:43] whedon commented on #866
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1047. Feel free to close this issue now!

[2018-10-24 13:43] whedon commented on #1047
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rhiever, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-10-24 13:43] whedon commented on #1047
[code]

[2018-10-24 13:44] whedon commented on #1047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01047/joss.01047/10.21105.joss.01047.pdf)

[2018-10-24 13:55] Kevin-Mattheus-Moerman commented on #1047
@rhiever, @zhampel this is where the review process takes place. There is information and check boxes at the top of this issue to guide you through the review process. Let me know if you have any questions.

[2018-10-24 13:58] Kevin-Mattheus-Moerman commented on #974
@danielhatton @devinberg can you provide an update on the review process so far?

[2018-10-24 14:04] zhampel commented on #1047
@Kevin-Mattheus-Moerman I must disclose an affiliation I have with the author @jshermeyer of this submission. We are employees of the same parent organization 'IQT', though we have affiliations with separate independent laboratories within IQT. I leave it to you to decide whether I proceed as a reviewer.

[2018-10-24 14:29] zhampel commented on #1047
@Kevin-Mattheus-Moerman Sure thing: https://www.iqt.org

[2018-10-24 14:56] devinberg commented on #974
@Kevin-Mattheus-Moerman still in progress. A few issues have been cleared up and a few are still pending here: https://github.com/danielhatton/eights/issues

[2018-10-24 15:13] whedon opened #1048 "[PRE REVIEW]: TextWiller: collection of text mining utilities, specially devoted to the Italian language"
**Submitting author:** @scan2001 (<a href="http://orcid.org/0000-0001-5621-5463">andrea sciandra</a>)
**Repository:** <a href="https://github.com/livioivil/TextWiller" target ="_blank">https://github.com/livioivil/TextWiller</a>
**Version:** 2.0
**Editor:** @mgymrek
**Reviewers:** @timClicks

**Author instructions**

Thanks for submitting your paper to JOSS @scan2001. The JOSS editor (shown at the

[2018-10-24 15:13] whedon commented on #1048
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-24 15:13] whedon commented on #1048
[code]

[2018-10-24 15:14] whedon commented on #1048
Failed to discover a valid open source license.

[2018-10-24 15:14] whedon commented on #1048
PDF failed to compile for issue #1048 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684

[2018-10-24 16:33] adammichaelwood commented on #1005
Sorry - I've been a bit swamped in all areas.
I can make no promises, but I will try to carve out time for this (and my other review I volunteered for)
as soon as I can.

[2018-10-24 17:13] scan2001 commented on #1048
@whedon generate pdf

[2018-10-24 17:13] whedon commented on #1048
[code]

[2018-10-24 17:13] whedon commented on #1048
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01048/joss.01048/10.21105.joss.01048.pdf)

[2018-10-24 18:33] AlexPof commented on #981
This is ok, I've corrected it in the repository, and closed the issue.

[2018-10-24 18:53] rouson commented on #865
I have closed [issue 6].  I expect to recommend acceptance after [issue 8] has been addressed.

[issue 6]:
https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/6

[issue 8]:
https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/8

[2018-10-24 19:07] cicirello commented on #950
@ChrisJefferson @yochannah I just created a new release to include all commits made during the review process.

[2018-10-24 19:42] carterenyi commented on #1030
Article proof checked, do I need to do anything else for it to move on to review?

[2018-10-24 20:04] yochannah commented on #950
@cicirello This looks good! Once @ChrisJefferson has completed his check boxes I'll give everything a once-over and then we can hopefully publish!

[2018-10-24 20:09] yochannah commented on #1008
@nagoue and @tomsing1 - thanks for your great work reviewing! 👍 There's still once checkbox each that needs to be checked. Are we happy to check these and move ahead?

[2018-10-24 20:12] tomsing1 commented on #1008
Thanks for reminder - we are good to go!

[2018-10-24 22:29] rouson commented on #865
[Pull request 10] has been submitted with severals suggested documentation improvements.   As soon as the parser fix has been pushed, I'll work on a second pull request to resolve [issue 8], which is the last issue related to this review.  The second pull request will include the GETTING_STARTED.md.

[Pull request 10]: https://github.com/wimvanderbauwhede/RefactorF4Acc/pull/10
[issue 8]:
https://g

[2018-10-24 23:10] flor14 commented on #785
I have completed the review.
I change a little bit the README.md, it is different than the paper.md for publication.

Thank you

[2018-10-25 00:57] arfon commented on #1030
Next we need to find a handling editor for this submission.

@Kevin-Mattheus-Moerman @cMadan - would you be willing to edit this submission for JOSS?

[2018-10-25 01:37] llllllllll commented on #845
That looks great, thank you!

[2018-10-25 04:55] jedbrown commented on #959
@whedon add @karlrupp as reviewer

[2018-10-25 04:55] whedon commented on #959
OK, @karlrupp is now a reviewer

[2018-10-25 04:55] jedbrown commented on #959
@whedon start review

[2018-10-25 04:55] whedon opened #1049 "[REVIEW]: MTSS: A CUDA software for the analysis of Multivariate Time Series"
**Submitting author:** @DavideNardone (<a href="http://orcid.org/0000-0003-0486-1791">Davide Nardone</a>)
**Repository:** <a href="https://github.com/DavideNardone/MTSS-Multivariate-Time-Series-Sofwtare" target ="_blank">https://github.com/DavideNardone/MTSS-Multivariate-Time-Series-Sofwtare</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewer:** @krischer, @karlrupp
**Archive:** Pending

## S

[2018-10-25 04:55] whedon commented on #959
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1049. Feel free to close this issue now!

[2018-10-25 04:55] whedon commented on #1049
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @krischer, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-10-25 04:55] whedon commented on #1049
[code]

[2018-10-25 04:55] #959 closed

[2018-10-25 04:56] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2018-10-25 05:00] jedbrown commented on #1049
@krischer @karlrupp :wave: Welcome! The comments from whedon above outline the review process. I'll be watching this thread if you have any questions. Thanks!

@DavideNardone It looks like there are some capitalization issues in your bibliography and perhaps you can cite a more recent CUDA since your package requires 5.0 or later.

[2018-10-25 07:59] Kevin-Mattheus-Moerman commented on #1030
I can if needed but I am handling 10 papers at the moment so I'm hoping @cMadan can take this one.

[2018-10-25 08:56] DavideNardone commented on #1049
@whedon commands

[2018-10-25 08:57] whedon commented on #1049
Here are some things you can ask me to do:

[code]

[2018-10-25 09:20] DavideNardone commented on #1049
@whedon generate pdf

[2018-10-25 09:20] whedon commented on #1049
[code]

[2018-10-25 09:20] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2018-10-25 09:36] DavideNardone commented on #1049
@jedbrown I updated the CUDA reference in the bibliography but regarding the capitalization issue in the bibliography I generated it by using [Google Scholar Button](https://chrome.google.com/webstore/detail/google-scholar-button/ldipcbpaocekfooobnbcddclnhejkcpn?hl=en) so i dont know what to fix. Can you please be more specific ?

[2018-10-25 10:54] Kevin-Mattheus-Moerman commented on #966
Reviewer @mwacaan has ticked all the boxes above and has e-mail myself and @davidnsousa the following (his first comment is about this issue: https://github.com/davidnsousa/mcsd/issues/16):

Thanks @mwacaan for your review.

[2018-10-25 10:54] Kevin-Mattheus-Moerman commented on #966
@whedon generate pdf

[2018-10-25 10:54] whedon commented on #966
[code]

[2018-10-25 10:54] whedon commented on #966
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00966/joss.00966/10.21105.joss.00966.pdf)

[2018-10-25 11:02] Kevin-Mattheus-Moerman commented on #966
@davidnsousa below are some minor issue with the paper. Please work on these and regenerate the paper here by calling `@whedon generate pdf`.

- [ ] Typo in: `....and any measures the user may want to defined, as well as....`, here `defined` should be `define`.
- [ ] Please add DOI's or hyperlinks where possible for all references.

[2018-10-25 12:46] masspastore commented on #1023
@whedon commands

[2018-10-25 12:46] whedon commented on #1023
Here are some things you can ask me to do:

[code]

[2018-10-25 12:46] masspastore commented on #1023
@whedon generate pdf

[2018-10-25 12:46] whedon commented on #1023
[code]

[2018-10-25 12:46] whedon commented on #1023
PDF failed to compile for issue #1023 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1023/paper/paper.md): control characters are not allowed at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/ruby-2.4

[2018-10-25 12:50] masspastore commented on #1023
@whedon generate pdf

[2018-10-25 12:50] whedon commented on #1023
[code]

[2018-10-25 12:50] whedon commented on #1023
PDF failed to compile for issue #1023 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon/author.rb:23:in `strip_footnotes': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon/author.rb:13:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e852

[2018-10-25 12:56] davidnsousa opened #1050 "@davidnsousa below are some minor issues with the paper. Please work on these and regenerate the paper here by calling `@whedon generate pdf`."
- [x] Typo in: `....and any measures the user may want to defined, as well as....`, here `defined` should be `define`.
- [x] Please add DOI's or hyperlinks where possible for all references.

_Originally posted by @Kevin-Mattheus-Moerman in https://github.com/openjournals/joss-reviews/issues/966#issuecomment-433008208_

[2018-10-25 12:56] whedon commented on #1050
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-25 12:56] whedon commented on #1050
[code]

[2018-10-25 12:56] whedon commented on #1050
PDF failed to compile for issue #1050 with the following error:

 Can't find any papers to compile :-(

[2018-10-25 12:57] #1050 closed

[2018-10-25 12:59] davidnsousa commented on #966
I was trying to tick the check boxes. The issues are fixed! Thank you!

[2018-10-25 12:59] davidnsousa commented on #966
@whedon generate pdf

[2018-10-25 12:59] whedon commented on #966
[code]

[2018-10-25 12:59] whedon commented on #966
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00966/joss.00966/10.21105.joss.00966.pdf)

[2018-10-25 13:09] danielhatton commented on #974
On Wed, 24 Oct 2018, Kevin Mattheus Moerman wrote:

@devinberg has proposed several improvements to the software and
(especially) its documentation.  All of @devinberg's propsals are
excellent ideas; so far I have acted on about a third of them.

--

Kind regards,

Dan Hatton

 Dr. Daniel C. Hatton
 Lecturer

 Mechanical and Marine Engineering Subject Group
 Autonomous Marine Systems Research Grou

[2018-10-25 15:20] kthyng commented on #1031
Hi @jkmacc-LANL — any interest in reviewing this submission to JOSS?

[2018-10-25 16:19] arfon commented on #1023
@masspastore - please update your paper YAML header to _exactly_ match the format of this example: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

Please note that YAML is whitespace sensitive.

[2018-10-25 16:20] jedbrown commented on #1049
@DavideNardone It is necessary to add a brace around words that should be capitalized, such as `{IEEE}`. I'll see if we can change the style file because it's a common issue and I'm not sure the lack of capitalization here is intentional.

Note that you have misspelled "Software" as "Sofwtare" in your repository name.

[2018-10-25 16:43] rrrlw commented on #1008
Thank you, @tomsing1! I have made a couple of changes to the JOSS paper text so will recompile here to get an updated PDF, my apologies for any resulting notification spam.

[2018-10-25 16:44] rrrlw commented on #1008
@whedon generate pdf

[2018-10-25 16:44] whedon commented on #1008
[code]

[2018-10-25 16:45] whedon commented on #1008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01008/joss.01008/10.21105.joss.01008.pdf)

[2018-10-26 00:04] whedon opened #1051 "[PRE REVIEW]: morphMan: Automated manipulation of vascular geometries"
**Submitting author:** @aslakbergersen (<a href="http://orcid.org/0000-0001-5063-3680">Aslak Bergersen</a>)
**Repository:** <a href="https://github.com/KVSlab/morphMan" target ="_blank">https://github.com/KVSlab/morphMan</a>
**Version:** v0.1
**Editor:** @trallard
**Reviewers:** @brainstorm, @rlizzo

**Author instructions**

Thanks for submitting your paper to JOSS @aslakbergersen. The JOSS editor

[2018-10-26 00:04] whedon commented on #1051
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-26 00:04] whedon commented on #1051
[code]

[2018-10-26 00:04] whedon commented on #1051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01051/joss.01051/10.21105.joss.01051.pdf)

[2018-10-26 00:04] arfon commented on #1051
:wave: @trallard - the submitting author suggested you as the handling editor.

[2018-10-26 00:34] leios commented on #1037
@whedon generate pdf

[2018-10-26 00:34] whedon commented on #1037
[code]

[2018-10-26 00:34] whedon commented on #1037
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01037/joss.01037/10.21105.joss.01037.pdf)

[2018-10-26 00:43] hkjeldsberg commented on #1051
@whedon generate pdf

[2018-10-26 00:43] whedon commented on #1051
[code]

[2018-10-26 00:44] whedon commented on #1051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01051/joss.01051/10.21105.joss.01051.pdf)

[2018-10-26 00:55] hkjeldsberg commented on #1051
@whedon generate pdf

[2018-10-26 00:55] whedon commented on #1051
[code]

[2018-10-26 00:56] whedon commented on #1051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01051/joss.01051/10.21105.joss.01051.pdf)

[2018-10-26 00:57] hkjeldsberg commented on #1051
@whedon generate pdf

[2018-10-26 00:57] whedon commented on #1051
[code]

[2018-10-26 00:58] whedon commented on #1051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01051/joss.01051/10.21105.joss.01051.pdf)

[2018-10-26 01:01] hkjeldsberg commented on #1051
@whedon generate pdf

[2018-10-26 01:01] whedon commented on #1051
[code]

[2018-10-26 01:02] whedon commented on #1051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01051/joss.01051/10.21105.joss.01051.pdf)

[2018-10-26 01:05] hkjeldsberg commented on #1051
@whedon generate pdf

[2018-10-26 01:05] whedon commented on #1051
[code]

[2018-10-26 01:06] whedon commented on #1051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01051/joss.01051/10.21105.joss.01051.pdf)

[2018-10-26 01:11] hkjeldsberg commented on #1051
@whedon generate pdf

[2018-10-26 01:11] whedon commented on #1051
[code]

[2018-10-26 01:13] whedon commented on #1051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01051/joss.01051/10.21105.joss.01051.pdf)

[2018-10-26 01:15] hkjeldsberg commented on #1051
@whedon generate pdf

[2018-10-26 01:15] whedon commented on #1051
[code]

[2018-10-26 01:15] peterjwatkins commented on #947
Just to advise that I've been away for a little while, and I'm working with the comments from @alexpghayes

[2018-10-26 01:16] whedon commented on #1051
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01051/joss.01051/10.21105.joss.01051.pdf)

[2018-10-26 04:41] aslakbergersen commented on #1051
@rlizzo if you have the time, I think you would be a very good reviewer for this paper since this is a VTK/VMTK application.

[2018-10-26 07:06] pjotrp commented on #1006
The review process is now complete. To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI (if one exists).

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-archiving service. To do so:

 1. Create [a GitHub r

[2018-10-26 07:07] pjotrp commented on #840
ping!

[2018-10-26 07:39] Kevin-Mattheus-Moerman commented on #966
Thanks @davidnsousa can you provide the DOI link for the updated archived version on Zenodo? Has the version/release number been changed or is it still v0.1.0?

[2018-10-26 07:40] Kevin-Mattheus-Moerman commented on #966
@arfon once the author presents the updated version number and DOI or the archived version I recommend we accept this work in JOSS. Thanks @mwacaan and @nnadeau for your review efforts!

[2018-10-26 09:20] masspastore commented on #1023
Thanks @arfon

I unfortunately added a new reference in the bib file without checking it.
I updated the bib and the paper files, now I think it is correct.

[2018-10-26 09:52] masspastore commented on #1023
@whedon generate pdf

[2018-10-26 09:52] whedon commented on #1023
[code]

[2018-10-26 09:52] whedon commented on #1023
PDF failed to compile for issue #1023 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon/author.rb:23:in `strip_footnotes': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon/author.rb:13:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e852

[2018-10-26 10:16] arfon commented on #966
@whedon set 10.5281/zenodo.1471546 as archive

[2018-10-26 10:16] whedon commented on #966
OK. <a href="https://doi.org/10.5281/zenodo.1471546" target="_blank">10.5281/zenodo.1471546</a> is the archive.

[2018-10-26 10:20] arfon commented on #966
@whedon accept

[2018-10-26 10:21] whedon commented on #966
[code]

[2018-10-26 10:21] whedon commented on #966
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/34

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/34, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-26 10:28] arfon commented on #966
@nnadeau, @mwacaan - many thanks for your reviews here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@davidnsousa - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00966 :zap: :rocket: :boom:

[2018-10-26 10:28] #966 closed

[2018-10-26 10:28] whedon commented on #966
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00966/status.svg)](https://doi.org/10.21105/joss.00966)

**We need your help!**

Journal of Open Source Softwar

[2018-10-26 10:45] nlgranger commented on #1006
Hi, thank you all for the review.
The bibliography items do not have a DOI (one is a white-paper, the other a workshop paper).
The doi is: https://doi.org/10.5281/zenodo.1472094

[2018-10-26 10:48] davidnsousa commented on #966
@Kevin-Mattheus-Moerman @nnadeau @mwacaan Thank you! :)

best,

[2018-10-26 11:04] Kevin-Mattheus-Moerman commented on #845
@whedon generate pdf

[2018-10-26 11:05] whedon commented on #845
[code]

[2018-10-26 11:05] whedon commented on #845
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00845/joss.00845/10.21105.joss.00845.pdf)

[2018-10-26 11:12] whedon opened #1052 "[PRE REVIEW]: CITapp - a free reaction time-based Concealed Information Test application"
**Submitting author:** @gasparl (<a href="http://orcid.org/0000-0001-9401-4830">Gáspár Lukács</a>)
**Repository:** <a href="https://github.com/gasparl/citapp_pc" target ="_blank">https://github.com/gasparl/citapp_pc</a>
**Version:** v1.0.0
**Editor:** @yochannah
**Reviewers:** @vsoch, @andytwoods

**Author instructions**

Thanks for submitting your paper to JOSS @gasparl. The JOSS editor (shown at

[2018-10-26 11:12] whedon commented on #1052
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-10-26 11:12] whedon commented on #1052
[code]

[2018-10-26 11:12] whedon commented on #1052
PDF failed to compile for issue #1052 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1052/paper/paper.md): invalid trailing UTF-8 octet at line 1 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/ruby-2.4.4/lib

[2018-10-26 11:15] Kevin-Mattheus-Moerman commented on #845
This is looking good now. Thanks @yzhao062, @llllllllll for your review efforts! :rocket:

@vc1492a at this point could you please:
1) Inform us if the version number (v0.2.0) assigned here is still accurate or if you've since created a new release?
2) Deposit an archived version of the reviewed software in a service like [Zenodo](https://zenodo.org/) (see also: https://guides.github.com/activitie

[2018-10-26 11:29] arfon commented on #1052
@gasparl - @whedon can't compile this paper as the `paper.md` and `paper.bib` don't seem to be valid UTF-8 . Could you try saving them as UTF-8 encoded and updating your repository?

[2018-10-26 11:30] scan2001 commented on #1048
I'd like to suggest @lmullen as a potential reviewer

[2018-10-26 11:41] gasparl commented on #1052
Sure - I converted to UTF-8 and updated. Hope it's fine now.

[2018-10-26 12:18] rlizzo commented on #1051
Thanks for the note @aslakbergersen. Count me in. From a quick look this seems like an interesting project/paper.

[2018-10-26 13:05] arfon commented on #1052
@whedon compile pdf

[2018-10-26 13:06] arfon commented on #1052
@whedon generate pdf

[2018-10-26 13:06] whedon commented on #1052
[code]

[2018-10-26 13:06] dleehr commented on #840
Thanks for the reminder, @pjotrp. I haven't had the chance to revisit this yet, perhaps in the next week or so.

[2018-10-26 13:06] whedon commented on #1052
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01052/joss.01052/10.21105.joss.01052.pdf)

[2018-10-26 13:17] lmullen commented on #1048
Sorry, I'm not available to review at this time.

[2018-10-26 13:35] arfon commented on #667
It's a lie. I'm here :-)

Great, thanks @RuthAngus!

@gomesdasilva - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-10-26 13:37] gasparl commented on #1052
There were some small syntax mistakes in the paper.bib; I now corrected.

[2018-10-26 14:03] gasparl commented on #1052
@whedon generate pdf

[2018-10-26 14:03] whedon commented on #1052
[code]

[2018-10-26 14:04] whedon commented on #1052
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01052/joss.01052/10.21105.joss.01052.pdf)

[2018-10-26 14:10] nnadeau commented on #966
Congrats :+1:

[2018-10-26 16:00] ifellows commented on #988
@whedon generate pdf

[2018-10-26 16:00] whedon commented on #988
[code]

[2018-10-26 16:01] whedon commented on #988
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00988/joss.00988/10.21105.joss.00988.pdf)

[2018-10-26 16:03] ifellows commented on #988
@mschubert , @JohnCoene: I believe that comments have been addressed. Does everything look good to you both in terms of moving the paper forward?

[2018-10-26 16:13] davidnsousa commented on #911
@leeper @maxheld83 thank you. All the issues have been answered,

best,

[2018-10-26 16:36] joaordaniel commented on #911
We would like to thank @maxheld83 for his extensive review of the package. We have made some edits to the package to accommodate reviewer's concerns, but chose to maintain some of the code as it was. We present our motives to do so in the replies to specific issues.

We agree with the reviewer that this is a very specific package. It is mostly directed to researchers coming from developmental psyc

[2018-10-26 17:36] pjotrp commented on #1006
@whedon set  10.5281/zenodo.1472094 as active

[2018-10-26 17:38] pjotrp commented on #1006
@whedon set  10.5281/zenodo.1472094 as archive

[2018-10-26 17:38] whedon commented on #1006
OK. <a href="https://doi.org/10.5281/zenodo.1472094" target="_blank">10.5281/zenodo.1472094</a> is the archive.

[2018-10-26 17:39] pjotrp commented on #1006
@arfon we are ready to R&R

[2018-10-26 19:04] zablab commented on #984
I am one of the co-authors. Trying to streamline correspondence, so letting @jeffmacinnes take the lead--just FYI he's been out of the country for the past week.

[2018-10-26 19:58] arfon commented on #1006
This is not actually true. I'm here!

[2018-10-26 20:00] arfon commented on #1006
@whedon accept

[2018-10-26 20:00] whedon commented on #1006
[code]

[2018-10-26 20:01] whedon commented on #1006
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/36

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/36, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-26 20:03] arfon commented on #1006
@whedon accept deposit=true

[2018-10-26 20:03] whedon commented on #1006
[code]

[2018-10-26 20:04] whedon commented on #1006
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/37
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01006](https://doi.org/10.21105/joss.01006)
2. If everything looks goo

[2018-10-26 20:07] arfon commented on #1006
@Benjamin-Lee - many thanks for your review here and to @pjotrp for editing this submission ✨

@nlgranger - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.01006 :zap: :rocket: :boom:

[2018-10-26 20:07] #1006 closed

[2018-10-26 20:07] whedon commented on #1006
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01006/status.svg)](https://doi.org/10.21105/joss.01006)

**We need your help!**

Journal of Open Source Softwar

[2018-10-26 20:09] nlgranger commented on #1006
@Benjamin-Lee @pjotrp @arfon Thank you very much!

[2018-10-26 21:06] karthik commented on #785
Thank you @flor14
@kylehamilton Could you take a look when you get a chance?

🙏

[2018-10-26 21:30] cMadan commented on #1030
@Kevin-Mattheus-Moerman @arfon, unfortunately, I don't currently have time to take on any more submissions.

[2018-10-26 21:36] rlizzo commented on #1051
As a matter of disclosure to the editor @trallard. I am one of the lead developers of [VMTK](www.github.com/vmtk/vmtk), which this project uses extensively; in addition I was an author of VMTK's [accepted JOSS paper](http://joss.theoj.org/papers/10.21105/joss.00745#), which was for the version of the VMTK library this project requires.

However, as I do not have any prior relationship (professiona

[2018-10-26 21:41] tpetricek commented on #1005
_[Better late than never! Below is my review. I was not able to tick all the boxes above, so the review explains what problems I had and what I think needs to be corrected. I opened one issue for Lepton tracking the most important question, i.e. [how to actually compile it](https://github.com/slithiaote/lepton/issues/2)]_

The project is a literate programming package that allows users to write co

[2018-10-26 23:18] dirmeier commented on #961
Hey @AleksandraDabrowska - could you rebuild the pdf once you are finished with the reviews? Then I can close the respective issues in your repository.

[2018-10-27 01:38] mschubert commented on #988
All my points have been addressed and I'm happy to move this forward @yochannah

Good work @ifellows!

[2018-10-27 02:10] vc1492a commented on #845
@Kevin-Mattheus-Moerman Thanks for the update. The current version number is v0.2.4 - there's been a few releases since the start of the review process. I've deposited an archived version of the software, it's DOI is `10.5281/zenodo.1472519`. Besides the version number, the article proof looks good to me as well. Thanks @yzhao062 and @llllllllll for the review!

[2018-10-27 06:46] Kevin-Mattheus-Moerman commented on #845
@arfon I recommend we accept this work in JOSS. Above is the archive DOI. Please also note the version number change. Thanks.

[2018-10-27 06:53] Kevin-Mattheus-Moerman commented on #1030
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-10-27 06:53] whedon commented on #1030
OK, the editor is @Kevin-Mattheus-Moerman

[2018-10-27 06:55] Kevin-Mattheus-Moerman commented on #1030
@carterenyi I'll now start looking for reviewers. If you have any reviewers in mind please point them out to me. Thanks.

[2018-10-27 08:28] masspastore commented on #1023
@whedon  generate pdf

[2018-10-27 08:32] masspastore commented on #1023
Thanks @arfon

I updated the YAML header as of your suggestion.
I checked it in my computer and it works, I hope now it's fine.

[2018-10-27 11:03] arfon commented on #845
@whedon set 10.5281/zenodo.1472519 as archive

[2018-10-27 11:03] whedon commented on #845
OK. <a href="https://doi.org/10.5281/zenodo.1472519" target="_blank">10.5281/zenodo.1472519</a> is the archive.

[2018-10-27 11:03] arfon commented on #845
@whedon accept

[2018-10-27 11:03] whedon commented on #845
[code]

[2018-10-27 11:04] whedon commented on #845
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/38

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/38, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-27 11:05] arfon commented on #845
@whedon accept deposit=true

[2018-10-27 11:05] whedon commented on #845
[code]

[2018-10-27 11:05] whedon commented on #845
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/39
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00845](https://doi.org/10.21105/joss.00845)
2. If everything looks goo

[2018-10-27 11:06] arfon commented on #1030
Thanks for taking this on @Kevin-Mattheus-Moerman ❤️

[2018-10-27 11:08] arfon commented on #845
@llllllllll - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this submission ✨

@vc1492a - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00845 :zap: :rocket: :boom:

[2018-10-27 11:08] #845 closed

[2018-10-27 11:08] whedon commented on #845
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00845/status.svg)](https://doi.org/10.21105/joss.00845)

**We need your help!**

Journal of Open Source Softwar

[2018-10-27 11:11] arfon commented on #1023
@masspastore - please merge this PR too: https://github.com/masspastore/overlapping/pull/9

[2018-10-27 13:11] AlexPof commented on #981
@whedon generate pdf

[2018-10-27 13:11] whedon commented on #981
[code]

[2018-10-27 13:12] whedon commented on #981
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00981/joss.00981/10.21105.joss.00981.pdf)

[2018-10-27 16:35] jsgalan commented on #980
Hi all,

I am sorry for my belated  response.  Here are my initial review comments:

-Please make sure to explain the acronyms, are TGXnet and Nofima Companies?
-In the reference from Martens and Naes, please check the title "Principal component regression in NIR analysis: Viewpoints, background details and selection of components", and add the DOI accordingly, check [site](https://onlinelibrary.w

[2018-10-27 16:43] nproellochs commented on #1045
@whedon generate pdf

[2018-10-27 16:43] whedon commented on #1045
[code]

[2018-10-27 16:43] whedon commented on #1045
PDF failed to compile for issue #1045 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     50      0 --:--:-- --:--:-- --:--:--    51
Error producing P

[2018-10-27 16:47] nproellochs commented on #1045
@whedon generate pdf

[2018-10-27 16:47] whedon commented on #1045
[code]

[2018-10-27 16:47] whedon commented on #1045
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01045/joss.01045/10.21105.joss.01045.pdf)

[2018-10-27 21:16] jeffmacinnes commented on #984
@nnadeau This package is the culmination of a project that my co-authors and I developed and tested over the course of a year. However, it was only recently that we made the decision to modify the tools so that we may release publicly via github and JOSS. The repository only reflects those recent changes.

[2018-10-28 16:33] rrrlw commented on #1008
Hi @nagoue, thank you for reviewing helixvis! Is there anything else you would like me to modify to satisfy the last checkbox?

[2018-10-28 16:34] danielskatz commented on #981
I've pinged @adammichaelwood here and in email (5 days ago) will no answer back...

👋  @arfon what do you suggest?

[2018-10-28 16:52] adammichaelwood commented on #981
Sorry I've been unresponsive. I will try to work on this today, and leave a note about whether I have gotten through it or what my status is.

[2018-10-29 02:09] arokem commented on #1003
Sorry for the slowness here.

@malmaud: thank you for the review! 👏

The paper is ready to be accepted, but ust one more thing, @mattgolub : could you please add DOIs for all the references in your bibliography? Once that's done, could you please create an archive for the software as it is after making all these changes (e.g., by tagging a release and uploading to zenodo.org). Once we have that, w

[2018-10-29 02:11] arokem commented on #1002
@jekbradbury : thank you for the review! 👏

@malmaud : the paper is ready to be accepted! To go ahead with the archiving of the paper, please create a DOI for the software (e.g., by tagging a release and uploading it to zenodo.org). Once you have a DOI, we can go ahead with the rest of the process.

[2018-10-29 02:12] arokem commented on #855
@glemaitre, @mnarayan: any word about this review?

[2018-10-29 06:18] peterjwatkins commented on #947
Thanks @alexpghayes for the review/feedback in relation to the package.

Some preliminary comments in reply to the review/feedback.

In relation to the documentation, I have made the changes in relation to the documentation; I've added most of the vignette material to the README which, as a result, now has the plots embedded. It does look a lot more compelling. The comment in relation to single le

[2018-10-29 11:16] arfon commented on #1023
@whedon generate pdf

[2018-10-29 11:16] whedon commented on #1023
[code]

[2018-10-29 11:17] whedon commented on #1023
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01023/joss.01023/10.21105.joss.01023.pdf)

[2018-10-29 14:30] mgckind commented on #1022
Hi @ngoldbaum, thanks again for reviewing this, let me know if you'd need anything from our side including maybe a special access to DES account.

[2018-10-29 14:55] ngoldbaum commented on #1022
Hi sorry for being slow to get to this, I've been on vacation this week.

[2018-10-29 15:36] ChrisJefferson commented on #950
I am now happy with everything.

[2018-10-29 16:36] sastoudt commented on #1028
@arives @karthik I'm done with my review, and I recommend acceptance. The issues I opened up along the way have been addressed and closed.

[2018-10-29 17:10] kthyng commented on #1031
Hey @leouieda — are you available for reviewing this JOSS submission?

[2018-10-29 17:21] kthyng commented on #1031
@kbarnhart I'm trying to avoid asking you to do another review so soon after you doing one recently. However, this package does sound complementary to your and your group's work. Can you suggest someone else to review this who is involved with LandLab? Thanks for any help.

[2018-10-29 18:15] karthik commented on #1033
👋  @nuest and @wrathematics, will either of you be able to review this submission?

[2018-10-29 18:18] karthik commented on #1028
@whedon generate pdf

[2018-10-29 18:18] whedon commented on #1028
[code]

[2018-10-29 18:44] arfon commented on #1028
@whedon generate pdf

[2018-10-29 18:44] whedon commented on #1028
[code]

[2018-10-29 18:48] whedon commented on #1028
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01028/joss.01028/10.21105.joss.01028.pdf)

[2018-10-29 18:53] karthik commented on #1028
@daijiang @arives Can you please archive the software on Zenodo and post a DOI please?

[2018-10-29 18:54] whedon commented on #1028
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01028/joss.01028/10.21105.joss.01028.pdf)

[2018-10-29 20:49] mgckind commented on #1022
Thanks!,  no problem

[2018-10-30 00:40] kbarnhart commented on #1031
@SiccarPoint or @gregtucker would be good Landlab people to ask.

[2018-10-30 04:02] peterjwatkins commented on #947
@arfon I have responded to the comments made by @alexpghayes

[2018-10-30 06:01] dmittman commented on #866
Fascinating.

@whedon add @dmittman as a  reviewer

[2018-10-30 06:03] dmittman commented on #866
@whedon add @dmittman as reviewer

[2018-10-30 06:03] whedon commented on #866
I'm sorry @dmittman, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-10-30 06:04] dmittman commented on #866
Fascinating. We need a @whedon at JPL.

[2018-10-30 06:34] danielskatz commented on #866
Hi @dmittman - fancy meeting you here...

In any event, this was the pre-review issue to find reviewers, @Kevin-Mattheus-Moerman is the editor, and he should add you to the actual review issue: #1047

[2018-10-30 09:58] AleksandraDabrowska commented on #961
@whedon generate pdf

[2018-10-30 09:58] whedon commented on #961
[code]

[2018-10-30 09:58] whedon commented on #961
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00961/joss.00961/10.21105.joss.00961.pdf)

[2018-10-30 10:46] gjeuken commented on #1007
@brainstorm
Everything seems in good order, but I did not check the functionality box as I do not yet know the scope of the functionality review.

[2018-10-30 10:47] olivertomic commented on #980
@jsgalan thank you very much your first comments and for taking on the reviewer job.

1. I have updated the reference. Thank you for bringing my attention to this. I also inserted DOI's and ISBN where those were missing.
2. TGXnet is a (coding) company in Norway and Nofima is a food research institute in Norway. Where and how would you like me to insert this information? In paper.md in the affilia

[2018-10-30 10:48] olivertomic commented on #980
@whedon generate pdf

[2018-10-30 10:48] whedon commented on #980
[code]

[2018-10-30 10:48] whedon commented on #980
PDF failed to compile for issue #980 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    14    0     0    192      0 --:--:-- --:--:-- --:--:--   194
Error reading bibl

[2018-10-30 10:53] olivertomic commented on #980
@whedon generate pdf

[2018-10-30 10:53] whedon commented on #980
[code]

[2018-10-30 10:53] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2018-10-30 10:56] olivertomic commented on #980
@whedon generate pdf

[2018-10-30 10:56] whedon commented on #980
[code]

[2018-10-30 10:56] whedon commented on #980
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00980/joss.00980/10.21105.joss.00980.pdf)

[2018-10-30 11:07] Kevin-Mattheus-Moerman commented on #1047
@whedon add @dmittman as reviewer

[2018-10-30 11:07] whedon commented on #1047
OK, @dmittman is now a reviewer

[2018-10-30 11:15] Kevin-Mattheus-Moerman commented on #1047
@zhampel thanks for mentioning your shared affiliation. I do not feel this is serious enough to exclude you from the review process. I'm confident that, now that we have three reviewers, and since review takes place in the open, we'll have a balanced review process. Thanks.

[2018-10-30 11:15] trallard commented on #1009
@whedon assign @amoeba as reviewer

[2018-10-30 11:15] whedon commented on #1009
OK, the reviewer is @amoeba

[2018-10-30 11:17] Kevin-Mattheus-Moerman commented on #1047
@rhiever, @zhampel, @dmittman thanks again for acting as reviewers. You all have a set of tick boxes at the top of this issue which will guide you through the review process (which you can tick if you've accepted [this invitation](https://github.com/openjournals/joss-reviews/invitations)). Please let me know if you have any questions. :rocket: :robot:

[2018-10-30 11:33] Kevin-Mattheus-Moerman commented on #1030
@carterenyi Before we proceed can you please work on the following points:

- [ ] Can you please expand your README.md. It is the landing page for your project and should inform potential users/contributors about what the project is, how to get started, how to contribute, what the license is etc. Here is a basic template: https://gist.github.com/PurpleBooth/109311bb0361f32d87a2
Here is an example

[2018-10-30 11:42] Kevin-Mattheus-Moerman commented on #1046
@JonathanReardon would you be able to review this submission for [JOSS](http://joss.theoj.org/)? The [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes place on GitHub and focuses on [the software](https://github.com/cMadan/ElGateau) and a [short paper](https://github.com/openjournals/joss-papers/blob/joss.01046/joss.01046/10.21105.joss.01046.pdf). Let me know i

[2018-10-30 11:47] Kevin-Mattheus-Moerman commented on #1046
@cMadan thanks for this submission. Since this submission features a software to interact with a specific type of hardware device, can you say a couple of words about:

1. What aspects of this work can be evaluated/reviewed without the device?
2. Is the device needed to properly review this work?
3. If so, are you able to lend the device to a reviewer (we have made such arrangements for other work

[2018-10-30 12:09] Kevin-Mattheus-Moerman commented on #1013
@aviks thanks again for being a reviewer for this submission. How are you getting on? Let me know if you have questions.

[2018-10-30 12:12] Kevin-Mattheus-Moerman commented on #1030
@ssfrr is this your :tea: (i.e. your cup of tea)? Would you be able to review this work?

[2018-10-30 12:58] DavidBrainard commented on #1046
I'm sorry but I am swamped and won't be able to help with this review.

[2018-10-30 13:28] Kevin-Mattheus-Moerman commented on #1046
@DavidBrainard thanks for you quick reply. Do you have any colleagues that you think could help here? Thanks.

[2018-10-30 13:29] whedon commented on #1046
OK, the reviewer is @JonathanReardon

[2018-10-30 13:52] brainstorm commented on #1007
@gjeuken According to https://joss.readthedocs.io/en/latest/review_criteria.html#functionality, you should check the core functionality, in other words whether the software generates the expected outputs given some inputs... with your proteomics knowledge, can you verify that the outputs match what the software claims to achieve?

[2018-10-30 14:16] arfon commented on #947
@alexpghayes - could you come and take another look when you get a chance?

[2018-10-30 14:55] AleksandraDabrowska commented on #961
@whedon generate pdf

[2018-10-30 14:55] whedon commented on #961
[code]

[2018-10-30 14:56] whedon commented on #961
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00961/joss.00961/10.21105.joss.00961.pdf)

[2018-10-30 15:24] jmborr commented on #1007
@gjeuken I suggest:
1. running the unit tests in your machine. After all, automatic testing with Travis only covers a few configurations.
2. running the two jupyter notebooks. These cover almost all of the software functionality. Currently, some of the input is generated by third party software ([CRYSOL](https://www.embl-hamburg.de/biosaxs/crysol.html), [DSSP](http://www.cmbi.ru.nl/xssp/)). I can

[2018-10-30 15:44] kthyng commented on #1031
Hi @SiccarPoint! Are you willing and able to review this submission? We ask that reviews are in within about 2 weeks, and you can more information about the process [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2018-10-30 15:46] kthyng commented on #1031
And thanks @kbarnhart!

[2018-10-30 16:05] ifellows commented on #988
@JohnCoene: Does everything look good in terms of moving the paper forward?

[2018-10-30 16:06] gjeuken commented on #1007
@brainstorm
Sorry for being confusing, but my question is whether or not I should evaluate the "correctness" of the output in some way, or how much I should go down that path. That would require me to evaluate the methods themselves and for such, I would need a better description of them and it would resemble a more traditional article review.
An alternative is just to check if the input and outpu

[2018-10-30 16:33] jmborr commented on #1007
@gjeuken I will solve the issue regarding DSSP much in the same way as I did with CRYSOL. Notebook `hiAPP_clustering.ipynb` is a system test in itself because the task is to find the combination of clusters that provide the best fit to the experimental X-Ray profile. In the notebook, the experimental X-Ray profile is actually composed of three particular clusters, so the mail goal of the notebook

[2018-10-30 16:43] cMadan commented on #1046
Thanks for getting things started, @Kevin-Mattheus-Moerman!

The toolbox includes a developer mode that simulates the device i/o, that functions within Jupyter Notebook.

The device isn't needed, since there is the developer mode. I also could demonstrate the device remotely (e.g., over Skype), doing a live demo of the device interaction on the device itself.

Yes, there is a simulation mode built

[2018-10-30 18:21] arfon commented on #866
Closing this as the review is moving forward in #1047

[2018-10-30 18:21] #866 closed

[2018-10-30 18:42] JohnCoene commented on #988
@ifellows sorry for the late reply @yochannah, all good on my side too. A great package!

[2018-10-30 20:40] jmborr commented on #1007
This [PR](https://github.com/jmborr/idpflex/pull/79) dealt with checking for DSSP. If not found, the notebook fetches the output files from the data repository.

[2018-10-30 20:45] steffilazerte commented on #791
@MarionLegrandLogrami and coauthors,

I'm happy to say that with the updates to the `stacomiR` package I've been able to run through the examples based on the built-in example data sets!

The vignette is a wealth of information and a valuable addition. By running through the example data, the plot/report documentation and checking back with the vignette's section on Data structure, I was able to g

[2018-10-30 20:47] arives commented on #1028
I just archived on Zenodo:

.. image:: https://zenodo.org/badge/98235954.svg
   :target: https://zenodo.org/badge/latestdoi/98235954

[2018-10-30 20:57] rrrlw commented on #1008
Great, thank you! @yochannah, is the primary review process complete?

[2018-10-31 08:42] schalkdaniel commented on #967
Hi @arfon, is it possible to make a small change to the paper? I (stupidly) used a wrong latex symbol and didn't recognize it during the review process. Instead of `\geq` it should be `\gg`.

It would be really great if I could update the paper with the correct symbol.

Thanks for your efforts!

[2018-10-31 10:50] arfon commented on #967
Sure thing. Please go ahead and push the fix to the `master` branch of your repository and we can recompile the paper.

[2018-10-31 11:05] wimvanderbauwhede commented on #865
I think I have now closed all remaining issues. Thank you very much for all your comments and inputs.

[2018-10-31 11:49] labarba commented on #865
@rouson -- Do recommend acceptance, at this point?

I have contacted @rasmussn by email to ask about his review, as he's been rather quiet here. Stay tuned.

[2018-10-31 11:49] labarba commented on #865
@whedon generated pdf

[2018-10-31 11:53] labarba commented on #865
@whedon generate pdf

[2018-10-31 11:53] whedon commented on #865
[code]

[2018-10-31 11:53] whedon commented on #865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00865/joss.00865/10.21105.joss.00865.pdf)

[2018-10-31 12:56] schalkdaniel commented on #967
Thanks! @arfon I have pushed the fix to the master. :-)

[2018-10-31 17:03] arfon commented on #938
@whedon assign @crawfordsm as reviewer

[2018-10-31 17:03] whedon commented on #938
OK, the reviewer is @crawfordsm

[2018-10-31 17:03] arfon commented on #938
@whedon start review

[2018-10-31 17:03] #938 closed

[2018-10-31 17:03] whedon opened #1053 "[REVIEW]: Eniric: Extended NIR Information Content"
**Submitting author:** @jason-neal (<a href="http://orcid.org/0000-0003-0390-9896">Neal, Jason J.</a>)
**Repository:** <a href="https://github.com/jason-neal/eniric" target ="_blank">https://github.com/jason-neal/eniric</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @crawfordsm
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/384bfc031df47ecef2d88328f63e5479/statu

[2018-10-31 17:03] whedon commented on #938
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1053. Feel free to close this issue now!

[2018-10-31 17:04] whedon commented on #1053
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @crawfordsm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-10-31 17:04] whedon commented on #1053
[code]

[2018-10-31 17:04] arfon commented on #938
@jason-neal - apologies for taking so long to get this moving. @crawfordsm has kindly volunteered to review this submission for us.

[2018-10-31 17:04] whedon commented on #1053
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01053/joss.01053/10.21105.joss.01053.pdf)

[2018-10-31 17:05] arfon commented on #1053
:wave: @crawfordsm - thanks again for agreeing to review this submission.

Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2018-10-31 17:08] malmaud commented on #1002
OK, I have a DOI: 10.5281/zenodo.1476107. Thanks @jekbradbury and @arokem for handling the review.

[2018-10-31 17:15] arfon commented on #967
OK, I've updated the paper. This sometimes take a few hours to update on the live site because of caching.

[2018-10-31 17:50] wimvanderbauwhede commented on #865
I'm sorry, I don't understand what you mean by "not resolving properly". I assume this is about the DOI in [paper.bib](https://github.com/wimvanderbauwhede/RefactorF4Acc/blob/master/paper.bib)?

The DOI is [https://doi.org/10.1016/j.compfluid.2018.06.005](https://doi.org/10.1016/j.compfluid.2018.06.005) and it resolves to [https://www.sciencedirect.com/science/article/pii/S0045793018302950?via%3Di

[2018-10-31 18:07] labarba commented on #865
The *link is broken* in the PDF.

[2018-10-31 18:29] rouson commented on #865
@labarba I just finished checking all boxes on my reviewer checklist.  All issues that I submitted as part of this review have been resolved and closed.  I enthusiastically recommend acceptance.  Thanks for the invitation to review.

@wimvanderbauwhede Thanks for the great contribution.  There's a reasonable chance this software will positively impact one of my current projects and I'll definitely

[2018-10-31 18:34] jshermeyer commented on #1047
@Kevin-Mattheus-Moerman
Added a CONTRIBUTION.MD.  Code of conduct seems overkill, if I need to post a code of conduct calling for basic civility in my little codebase I think the world is doomed.

@zhampel
Thanks for the notes.  Will make some edits when another review comes in.

_I think it would be better to intro something like ‘user defined polygon identifying a region of interest (ROI)’ and u

[2018-10-31 18:37] karthik commented on #1028
@whedon set 10.5281/zenodo.1475416 as archive

[2018-10-31 18:37] whedon commented on #1028
OK. <a href="https://doi.org/10.5281/zenodo.1475416" target="_blank">10.5281/zenodo.1475416</a> is the archive.

[2018-10-31 18:38] karthik commented on #1028
@whedon generate pdf

[2018-10-31 18:38] whedon commented on #1028
[code]

[2018-10-31 18:38] whedon commented on #1028
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01028/joss.01028/10.21105.joss.01028.pdf)

[2018-10-31 18:39] karthik commented on #1028
@whedon accept

[2018-10-31 18:39] whedon commented on #1028
[code]

[2018-10-31 18:40] whedon commented on #1028
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/40

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/40, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-10-31 18:41] wimvanderbauwhede commented on #865
OK, I changed the DOI in paper.bib, I hope it works now.

[2018-10-31 18:42] karthik commented on #1028
@whedon accept deposit=true

[2018-10-31 18:42] whedon commented on #1028
I'm sorry @karthik, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2018-10-31 18:47] karthik commented on #1028
/ooo

[2018-10-31 18:59] arfon commented on #1028
@whedon accept deposit=true

[2018-10-31 18:59] whedon commented on #1028
[code]

[2018-10-31 19:00] whedon commented on #1028
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/41
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01028](https://doi.org/10.21105/joss.01028)
2. If everything looks goo

[2018-10-31 19:00] labarba commented on #865
@whedon generate pdf

[2018-10-31 19:01] whedon commented on #865
[code]

[2018-10-31 19:01] whedon commented on #865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00865/joss.00865/10.21105.joss.00865.pdf)

[2018-10-31 19:04] labarba commented on #865
The DOI link works now!

I've pinged @rasmussn by email again. I hope we can get this finished in the next few days.

[2018-10-31 19:06] arfon commented on #1028
@sastoudt - many thanks for your review here and to @karthik for editing this submission ✨

@arives - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.01028 :zap: :rocket: :boom:

[2018-10-31 19:06] #1028 closed

[2018-10-31 19:06] whedon commented on #1028
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01028/status.svg)](https://doi.org/10.21105/joss.01028)

**We need your help!**

Journal of Open Source Softwar

[2018-10-31 19:07] whedon opened #1054 "[PRE REVIEW]: Rule-based Integration -- An extensive system of symbolic integration rules"
**Submitting author:** @halirutan (<a href="http://orcid.org/0000-0003-0361-9063">Patrick Scheibe</a>)
**Repository:** <a href="https://github.com/RuleBasedIntegration/JOSS-Publication" target ="_blank">https://github.com/RuleBasedIntegration/JOSS-Publication</a>
**Version:** 4.16.0.4
**Editor:** @danielskatz
**Reviewers:** @acolum, @rljacobson

**Author instructions**

Thanks for submitting your

[2018-10-31 19:08] whedon commented on #1054
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-31 19:08] whedon commented on #1054
[code]

[2018-10-31 19:08] whedon commented on #1054
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01054/joss.01054/10.21105.joss.01054.pdf)

[2018-10-31 19:08] arfon commented on #1054
:wave: @danielskatz - the submitting author suggested you as the handling editor.

[2018-10-31 19:08] whedon commented on #1054
Failed to discover a valid open source license.

[2018-10-31 19:11] whedon opened #1055 "[PRE REVIEW]: QComms QKD Software Toolkit"
**Submitting author:** @richardcollins (<a href="http://orcid.org/0000-0002-6238-990X">Richard Collins</a>)
**Repository:** <a href="https://gitlab.com/QComms/cqptoolkit" target ="_blank">https://gitlab.com/QComms/cqptoolkit</a>
**Version:** 0.3
**Editor:** @brainstorm
**Reviewers:** @ejdanderson

**Author instructions**

Thanks for submitting your paper to JOSS @richardcollins. The JOSS editor (s

[2018-10-31 19:11] whedon commented on #1055
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brainstorm it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-10-31 19:11] whedon commented on #1055
[code]

[2018-10-31 19:11] whedon commented on #1055
PDF failed to compile for issue #1055 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    115      0 --:--:-- --:--:-- --:--:--   115
[WARNING] Could n

[2018-10-31 19:11] arfon commented on #1055
:wave: @brainstorm - the submitting author suggested you as the handling editor.

[2018-10-31 19:30] arfon commented on #1055
@whedon generate pdf

[2018-10-31 19:30] whedon commented on #1055
[code]

[2018-10-31 19:30] whedon commented on #1055
PDF failed to compile for issue #1055 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    190      0 --:--:-- --:--:-- --:--:--   192
[WARNING] Could n

[2018-10-31 19:39] mattgolub commented on #1003
@arokem As requested, I've added DOIs to the bibliography and created a Zenodo release (10.5281/zenodo.1476209). Thanks again for all of your efforts here.

@malmaud Thanks again for the review.

[2018-10-31 19:43] arives commented on #1028
Thanks from me too, @sastoudt @karthik @arfon!

[2018-10-31 19:55] richardcollins commented on #1055
I've changed the image to eps instead of svg - does that fix the error?

On Wed, 2018-10-31 at 12:24 -0700, whedon wrote:

Attempting PDF compilation. Reticulating splines etc...

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/openjournals/joss-reviews/issues/1055#issuecomment-434812008>, or mute the thread<https://github.com

[2018-10-31 20:33] alexpghayes commented on #947
I've made some additional comments in peterjwatkins/diwanalr#1, where I did a bit of code cleanup for R CMD Check.

[2018-10-31 20:34] cybanical commented on #1000
@Kevin-Mattheus-Moerman <https://github.com/Kevin-Mattheus-Moerman> This
looks super interesting, but it looks like I'm too slammed right now. I've
got two other papers to review right now for ICRA.
*_____________________________________*
*MATTHEW CARNEY | Research Assistant and PhD Candidate **| *Mechatronics
Design Engineer
MIT Media Lab | Biomechatronics
75 Amherst St. | E14-274G | Cambridge, M

[2018-10-31 21:08] halirutan commented on #1054
@whedon commands

[2018-10-31 21:08] whedon commented on #1054
Here are some things you can ask me to do:

[code]

[2018-10-31 21:09] halirutan commented on #1054
@whedon generate pdf

[2018-10-31 21:09] whedon commented on #1054
[code]

[2018-10-31 21:10] whedon commented on #1054
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01054/joss.01054/10.21105.joss.01054.pdf)

[2018-10-31 21:16] halirutan commented on #1054
@whedon generate pdf

[2018-10-31 21:16] whedon commented on #1054
[code]

[2018-10-31 21:17] whedon commented on #1054
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01054/joss.01054/10.21105.joss.01054.pdf)

[2018-10-31 21:20] wrathematics commented on #1033
Sorry for the delay. I keep messing up my email filters for JOSS, so I haven't been seeing the pings...

I believe I can review this package.

[2018-10-31 21:22] arfon commented on #1055
Let's find out...

[2018-10-31 21:22] arfon commented on #1055
@whedon generate pdf

[2018-10-31 21:22] whedon commented on #1055
[code]

[2018-10-31 21:23] whedon commented on #1055
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01055/joss.01055/10.21105.joss.01055.pdf)

[2018-11-01 00:33] karthik commented on #1033
@whedon assign @wrathematics as reviewer

[2018-11-01 00:33] whedon commented on #1033
OK, the reviewer is @wrathematics

[2018-11-01 00:33] karthik commented on #1033
@whedon start review

[2018-11-01 00:33] whedon opened #1056 "[REVIEW]: polyCub: An R package for Integration over Polygons"
**Submitting author:** @bastistician (<a href="http://orcid.org/0000-0002-1791-9449">Sebastian Meyer</a>)
**Repository:** <a href="https://github.com/bastistician/polyCub" target ="_blank">https://github.com/bastistician/polyCub</a>
**Version:** 0.7.0
**Editor:** @karthik
**Reviewer:** @wrathematics
**Archive:** <a href="https://doi.org/10.5281/zenodo.2559486" target="_blank">10.5281/zenodo.255948

[2018-11-01 00:33] whedon commented on #1033
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1056. Feel free to close this issue now!

[2018-11-01 00:33] whedon commented on #1056
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wrathematics it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2018-11-01 00:33] whedon commented on #1056
[code]

[2018-11-01 00:34] karthik commented on #1033
Thanks Drew! 🙏
Please carry out the review in the new thread and ping with any questions.

[2018-11-01 00:34] #1033 closed

[2018-11-01 00:34] whedon commented on #1056
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01056/joss.01056/10.21105.joss.01056.pdf)

[2018-11-01 03:35] jedbrown commented on #1024
@whedon add @dnszafir as reviewer

[2018-11-01 03:35] whedon commented on #1024
OK, @dnszafir is now a reviewer

[2018-11-01 03:35] jedbrown commented on #1024
@whedon add @terrytangyan as reviewer

[2018-11-01 03:35] whedon commented on #1024
OK, @terrytangyan is now a reviewer

[2018-11-01 03:36] jedbrown commented on #1024
@whedon add @kellieotto as reviewer

[2018-11-01 03:36] whedon commented on #1024
OK, @kellieotto is now a reviewer

[2018-11-01 03:36] jedbrown commented on #1024
@whedon start review

[2018-11-01 03:36] whedon opened #1057 "[REVIEW]: Altair: Interactive Statistical Visualizations for Python"
**Submitting author:** @domoritz (<a href="http://orcid.org/0000-0002-3110-1053">ROBYN DOMINIK MORITZ</a>)
**Repository:** <a href="https://github.com/altair-viz/altair" target ="_blank">https://github.com/altair-viz/altair</a>
**Version:** v2.3.0
**Editor:** @jedbrown
**Reviewer:** @dnszafir, @terrytangyuan, @kellieotto
**Archive:** <a href="https://doi.org/10.5281/zenodo.2030098" target="_blank"

[2018-11-01 03:36] whedon commented on #1024
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1057. Feel free to close this issue now!

[2018-11-01 03:36] whedon commented on #1057
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jedbrown, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-11-01 03:36] whedon commented on #1057
[code]

[2018-11-01 03:36] #1024 closed

[2018-11-01 03:37] whedon commented on #1057
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01057/joss.01057/10.21105.joss.01057.pdf)

[2018-11-01 03:39] #968 closed

[2018-11-01 03:39] jedbrown commented on #1057
@dnszafir @terrytangyuan @kellieotto :wave: Welcome! The comments from whedon above outline the review process. I'll be watching this thread if you have any questions. Thanks!

[2018-11-01 08:03] adavidzh commented on #1024
So I don’t get to help out this time? 🥺

[2018-11-01 09:48] deniederhut commented on #1040
@trallard the most excellent @SimonGreenhill has addressed the issues I've filed, and I believe this library is ready for inclusion in JOSS

[2018-11-01 10:34] arvestad commented on #955
Hey @yochannah , no stress, pinging in case you missed that Karin gave her go-ahead.
Cheers,
L

[2018-11-01 12:17] whedon opened #1058 "[PRE REVIEW]: Cahn Hilliard CUDA (Phase-Field Simulation of Spinodal Decomposition)"
**Submitting author:** @myousefi2016 (<a href="http://orcid.org/0000-0002-6497-7166">Mehrdad Yousefi</a>)
**Repository:** <a href="https://github.com/myousefi2016/Cahn-Hilliard-CUDA" target ="_blank">https://github.com/myousefi2016/Cahn-Hilliard-CUDA</a>
**Version:** 1.0
**Editor:** @kyleniemeyer
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @myousefi2016

[2018-11-01 12:17] whedon commented on #1058
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-11-01 12:17] whedon commented on #1058
[code]

[2018-11-01 12:17] whedon opened #1059 "[PRE REVIEW]: Allen Cahn CUDA (Phase-Field Simulation of Dendritic Solidification)"
**Submitting author:** @myousefi2016 (<a href="http://orcid.org/0000-0002-6497-7166">Mehrdad Yousefi</a>)
**Repository:** <a href="https://github.com/myousefi2016/Allen-Cahn-CUDA" target ="_blank">https://github.com/myousefi2016/Allen-Cahn-CUDA</a>
**Version:** 1.0
**Editor:** @kyleniemeyer
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @myousefi2016. The

[2018-11-01 12:17] whedon commented on #1059
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-11-01 12:17] whedon commented on #1059
[code]

[2018-11-01 12:17] whedon commented on #1058
PDF failed to compile for issue #1058 with the following error:

 Can't find any papers to compile :-(

[2018-11-01 12:17] arfon commented on #1059
:wave: @kyleniemeyer - the submitting author suggested you as the handling editor.

[2018-11-01 12:17] whedon commented on #1059
PDF failed to compile for issue #1059 with the following error:

 Can't find any papers to compile :-(

[2018-11-01 12:19] arfon commented on #1059
Hi @myousefi2016 - there doesn't seem to be a `paper.md` and `paper.bib` in this repository. Please review our [submission requirements}(https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) to understand what is required of authors submitting to JOSS.

[2018-11-01 12:19] arfon commented on #1058
Hi @myousefi2016 - there doesn't seem to be a `paper.md` and `paper.bib` in this repository. Please review our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) to understand what is required of authors submitting to JOSS.

[2018-11-01 12:33] jason-neal commented on #1053
Hi @crawfordsm.
I am currently trying to finish and submit my PhD thesis this month (November).  So I will not be readily available to address any issues immediately this month.
Just letting you know so you are aware and can plan/schedule your review accordingly.

[2018-11-01 12:39] arokem commented on #1002
@whedon set 10.5281/zenodo.1476107 as archive

[2018-11-01 12:39] whedon commented on #1002
OK. <a href="https://doi.org/10.5281/zenodo.1476107" target="_blank">10.5281/zenodo.1476107</a> is the archive.

[2018-11-01 12:39] arokem commented on #1002
@arfon : I believe this article is ready to go!

[2018-11-01 12:40] arokem commented on #1003
@whedon set 10.5281/zenodo.1476209 as archive

[2018-11-01 12:40] whedon commented on #1003
OK. <a href="https://doi.org/10.5281/zenodo.1476209" target="_blank">10.5281/zenodo.1476209</a> is the archive.

[2018-11-01 12:40] arokem commented on #1003
@arfon : I believe this article is ready to go!

[2018-11-01 12:52] arfon commented on #1002
@whedon accept

[2018-11-01 12:52] whedon commented on #1002
[code]

[2018-11-01 12:54] whedon commented on #1002
PDF failed to compile for issue #1002 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    17    0    17    0     0    251      0 --:--:-- --:--:-- --:--:--   253
Looks like we fai

[2018-11-01 12:55] arfon commented on #1002
@whedon accept

[2018-11-01 12:55] whedon commented on #1002
[code]

[2018-11-01 12:55] whedon commented on #1002
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/42

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/42, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-01 12:57] arfon commented on #1002
@whedon accept deposit=true

[2018-11-01 12:57] whedon commented on #1002
[code]

[2018-11-01 12:57] whedon commented on #1002
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/43
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01002](https://doi.org/10.21105/joss.01002)
2. If everything looks goo

[2018-11-01 12:59] arfon commented on #1002
@jekbradbury - many thanks for your review here and to @arokem for editing this submission ✨

@malmaud - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.01002 :zap: :rocket: :boom:

[2018-11-01 12:59] #1002 closed

[2018-11-01 12:59] whedon commented on #1002
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01002/status.svg)](https://doi.org/10.21105/joss.01002)

**We need your help!**

Journal of Open Source Softwar

[2018-11-01 12:59] whedon commented on #1003
[code]

[2018-11-01 13:00] whedon commented on #1003
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/44

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/44, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-01 13:03] arfon commented on #1003
@whedon accept deposit=true

[2018-11-01 13:03] whedon commented on #1003
[code]

[2018-11-01 13:04] whedon commented on #1003
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/45
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01003](https://doi.org/10.21105/joss.01003)
2. If everything looks goo

[2018-11-01 13:05] arfon commented on #1003
@malmaud - many thanks for your review here and to @arokem for editing this submission ✨

@mattgolub - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.01003 :zap: :rocket: :boom:

[2018-11-01 13:05] #1003 closed

[2018-11-01 13:06] whedon commented on #1003
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01003/status.svg)](https://doi.org/10.21105/joss.01003)

**We need your help!**

Journal of Open Source Softwar

[2018-11-01 13:29] jedbrown commented on #1024
@adavidzh If you put it that way, I'm happy to include you. I figured we had sufficient diversity of reviewers and this way we wouldn't feel bad about pinging you in the event of a subsequent submission relevant to your interests in the next coming months.

[2018-11-01 14:31] sgrieve commented on #1031
Hi @kthyng unfortunately I am swamped at the moment and wouldn't be able to turn the review around until the start of next month. However, I have spoken to @fclubb and she is willing to review.

[2018-11-01 14:45] SimonGreenhill commented on #1040
@whedon generate pdf

[2018-11-01 14:45] whedon commented on #1040
[code]

[2018-11-01 14:58] fclubb commented on #1031
Yep, I can review

[2018-11-01 15:01] lheagy commented on #808
👋 Hi @leouieda and @hugoledoux, thanks for your first round of reviews. Would you have time to take a look through @viktor76525's changes?  Thanks!

[2018-11-01 15:16] oxinabox commented on #1002
Cool, nice.
I am only finding put about thus now, as I guess the JOSS script doesn't tag coauthors.

[2018-11-01 15:42] kthyng commented on #1031
Thanks @fclubb, for being willing to review and @SiccarPoint and @sgrieve for letting me know.

@gregtucker Are you willing and able to review this submission? We ask that reviews are in within about 2 weeks, and you can more information about the process [here](https://joss.readthedocs.io/en/latest/review_criteria.html).

[2018-11-01 15:50] trallard commented on #1040
Thanks @deniederhut for your time as a reviewer!

I see there are still some unchecked items from @RichardLitt 's list. I will wait until I hear from him to proceed to do some editorial checks on the submission 😄

[2018-11-01 15:53] trallard commented on #1051
@whedon add @rlizzo as reviewer

[2018-11-01 15:53] whedon commented on #1051
OK, @rlizzo is now a reviewer

[2018-11-01 16:08] RichardLitt commented on #1040
@trallard Well, @SimonGreenhill just finished doing a fantastically fast and thorough job resolving my niggling complaints. I think this is good to publish as it is now. Thanks, Simon! Cool package.

[2018-11-01 16:12] myousefi2016 commented on #1058
The paper.md and paper.bib files are added to the repository.

Best,

**********************************************************************

Mehrdad Yousefi
PhD Student, Graduate Research Assistant
Department of Materials Science and Engineering
Clemson Cyber Infrastructure Technology Visualization
Clemson University
266 Sirrine Hall
2004 Barre Hall
Clemson, SC 29634-0971

Phone: 1-864-624-2839
e

[2018-11-01 16:12] SimonGreenhill commented on #1040
No worries, and thanks for the helpful suggestions @RichardLitt!

[2018-11-01 18:17] kbarnhart commented on #1031
I spoke with @gregtucker yesterday and learned that he won't be able to do this on the necessary timeline. I'm in a similar boat (can't take on a review until December).

Other Landlab folks to consider are:
@nicgaspar @margauxmouchene and @nathanlyons

[2018-11-01 18:58] kthyng commented on #1031
Hi @nicgaspar @margauxmouchene and @nathanlyons! Any chance one of you can review this submission in the next two weeks?

Thanks again @kbarnhart.

[2018-11-01 19:08] nathanlyons commented on #1031
Hi @kthyng. I am committed elsewhere the remainder of the calendar year. Please feel free to contact me in the future for other reviews.

[2018-11-01 19:12] SimonGreenhill commented on #1040
@whedon generate pdf

[2018-11-01 19:12] whedon commented on #1040
[code]

[2018-11-01 19:43] adavidzh commented on #1024
@jedbrown I'm happy to stay fresh for something else. It's just that the follow-up was not clear to me and I was perhaps over-eager for my first time. Thanks!

[2018-11-01 19:58] vaishnavtv commented on #1042
You can find the pre-print of the cited reference [here](https://www.researchgate.net/publication/328676032_A_Lagrangian_Formulation_for_Constrained_Multibody_Dynamics_in_Tensegrity_Systems).

I hope the review is going smoothly. Please let us know if anything else is required.

[2018-11-01 20:03] whedon opened #1060 "[PRE REVIEW]: Artery.FE: An implementation of the 1D blood flow equations in FEniCS"
**Submitting author:** @akdiem (<a href="http://orcid.org/0000-0003-1719-1942">Alexandra Diem</a>)
**Repository:** <a href="https://github.com/KVSlab/bloodflow" target ="_blank">https://github.com/KVSlab/bloodflow</a>
**Version:** v1.0
**Editor:** @trallard
**Reviewers:** @dlagrava, @jhill1

**Author instructions**

Thanks for submitting your paper to JOSS @akdiem. The JOSS editor (shown at the to

[2018-11-01 20:03] whedon commented on #1060
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @trallard it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-11-01 20:03] whedon commented on #1060
PDF failed to compile for issue #1060 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8

[2018-11-01 20:03] arfon commented on #1060
:wave: @trallard - the submitting author suggested you as the handling editor.

[2018-11-01 20:04] whedon opened #1061 "[PRE REVIEW]: ssdtools: An R package to fit Species Sensitivity Distributions (SSDs)"
**Submitting author:** @joethorley (<a href="http://orcid.org/0000-0002-7683-4592">Joseph Thorley</a>)
**Repository:** <a href="https://github.com/bcgov/ssdtools" target ="_blank">https://github.com/bcgov/ssdtools</a>
**Version:** v0.0.3
**Editor:** @arfon
**Reviewers:** @ibarraespinosa, @nanhung

**Author instructions**

Thanks for submitting your paper to JOSS @joethorley. The JOSS editor (shown

[2018-11-01 20:04] whedon commented on #1061
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-11-01 20:04] whedon commented on #1061
[code]

[2018-11-01 20:05] whedon commented on #1061
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01061/joss.01061/10.21105.joss.01061.pdf)

[2018-11-01 20:30] nanhung commented on #1061
Looks great! I can review this paper.

[2018-11-01 20:59] jedbrown commented on #1024
@adavidzh Thanks and sorry about my miscommunication.

[2018-11-01 23:13] markbasham commented on #1037
Hi @labarba and @mgalloy Finally back from my conference and over jetlag, and I'm taking a look at this review.  I have had a look through the documentation, and Im happy with what I need to do, but how do i tick the checkboxes at the start of this ticket?

[2018-11-01 23:16] mgalloy commented on #1037
@markbasham Just make sure you are logged into GitHub and you should be able to check the boxes.

[2018-11-01 23:34] markbasham commented on #1037
@mgalloy thanks, all sorted now, should have read the instructions more clearly.

[2018-11-02 00:56] arfon commented on #229
I'm going through old reviews and this one still appears to be well below the standard we would expect to pass a JOSS review. At this point I'm going to close this review. @bunhoel - please feel free to re-submit in the future if you manage to extend/improve this submission to meet the expectations [set in our review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html)

[2018-11-02 00:56] #229 closed

[2018-11-02 00:59] arfon commented on #30
After numerous attempts to contact the reviewer, I'm assuming @karantibrewal is no longer interested in pursuing this submission in JOSS.

@joshuaulrich - thank you very much for your time, and I'm sorry this didn't make it through review.

[2018-11-02 00:59] #30 closed

[2018-11-02 01:01] arfon commented on #143
Closing due to inactivity.

[2018-11-02 01:01] #143 closed

[2018-11-02 01:01] arfon commented on #233
How are you getting along here @aknutas?

[2018-11-02 01:04] arfon commented on #549
Hi @jorgeboucas - are you still interested in pursuing this publication in JOSS?

[2018-11-02 01:05] hiendn commented on #961
I am now entirely happy with the with article.

[2018-11-02 01:05] arfon commented on #728
:wave: @mhucka - any chance you can pick this up again sometime soon?

[2018-11-02 01:07] arfon commented on #780
I just contacted @xirdneh by email.

[2018-11-02 01:08] arfon commented on #600
:wave: @cMadan - how are we doing here?

[2018-11-02 01:09] arfon commented on #647
I'm going to close this submission at it's been over 6 months since there was any activity. Feel free to resubmit again in the future @IndrajeetPatil.

[2018-11-02 01:09] #647 closed

[2018-11-02 01:10] arfon commented on #667
Friendly reminder to make an archive of the software sometime soon @gomesdasilva. You can read how to do that here: https://guides.github.com/activities/citable-code/

[2018-11-02 01:11] arfon commented on #722
@mrecos - did you manage to make your revisions?

[2018-11-02 01:12] arfon commented on #764
Hi @evan-l-munson - please try and get to these updates when you get a chance.

[2018-11-02 01:13] arfon commented on #693
Hi @wandreopoulos - how are you getting along making these changes?

[2018-11-02 01:14] whedon opened #1062 "[PRE REVIEW]: idvf: Iterative Inversion of Deformation Vector Field with Adaptive Bi-residual Feedback Control"
**Submitting author:** @ailiop (<a href="http://orcid.org/0000-0002-1959-9792">Alexandros-Stavros Iliopoulos</a>)
**Repository:** <a href="https://github.com/ailiop/idvf" target ="_blank">https://github.com/ailiop/idvf</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewers:** @Kevin-Mattheus-Moerman

**Author instructions**

Thanks for submitting your paper to JOSS @ailiop. The JOSS editor (shown

[2018-11-02 01:14] whedon commented on #1062
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-11-02 01:14] whedon commented on #1062
[code]

[2018-11-02 01:15] arfon commented on #1062
👋 @arokem - the submitting author suggested you as the handling editor.

[2018-11-02 01:15] whedon commented on #1062
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01062/joss.01062/10.21105.joss.01062.pdf)

[2018-11-02 01:38] arfon commented on #1018
How are you getting along with your review @usethedata ?

[2018-11-02 02:36] ailiop commented on #1062
@whedon commands

[2018-11-02 02:36] whedon commented on #1062
Here are some things you can ask me to do:

[code]

[2018-11-02 02:49] ailiop commented on #1062
@whedon generate pdf

[2018-11-02 02:49] whedon commented on #1062
[code]

[2018-11-02 02:50] whedon commented on #1062
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01062/joss.01062/10.21105.joss.01062.pdf)

[2018-11-02 03:01] ailiop commented on #1062
@whedon generate pdf

[2018-11-02 03:01] whedon commented on #1062
[code]

[2018-11-02 03:02] whedon commented on #1062
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01062/joss.01062/10.21105.joss.01062.pdf)

[2018-11-02 09:04] Kevin-Mattheus-Moerman commented on #1014
@vmagnin I'll still looking for reviewers. Let me know if you have any in mind.

[2018-11-02 09:16] Kevin-Mattheus-Moerman commented on #1014
@vmagnin I am unable to access your website URL shown at the top of your project http://gtk+fortran, is it broken?

[2018-11-02 09:37] Kevin-Mattheus-Moerman commented on #1014
@chirayubatra @jlokimlin @molines @szaghi @komatits @mitotic would you be interested in reviewing [this work](https://github.com/jerryd/gtk-fortran/wiki) for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/)?

This submission, gtk-fortran, offers _"scientists programming in Fortran a cross-platform library to build Graphical User Interfaces"_.

The JOSS [review process](http://j

[2018-11-02 09:48] cMadan commented on #600
@thewtex, that would be great! I'll start the actual review process now since there is enough to go ahead, but, @plooney, please do seriously consider the feedback provided already and see how you can make changes based on the issues already pointed out.

[2018-11-02 09:48] cMadan commented on #600
@whedon start review

[2018-11-02 09:48] whedon opened #1063 "[REVIEW]: 3D ultrasound file reading and coordinate transformations"
**Submitting author:** @plooney (<a href="http://orcid.org/0000-0002-0764-5413">Padraig Looney</a>)
**Repository:** <a href="https://github.com/plooney/kretz" target ="_blank">https://github.com/plooney/kretz</a>
**Version:** v1.1
**Editor:** @cMadan
**Reviewer:** @thewtex
**Archive:** <a href="https://doi.org/10.5281/zenodo.2537876" target="_blank">10.5281/zenodo.2537876</a>

## Status

[![status

[2018-11-02 09:48] whedon commented on #600
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1063. Feel free to close this issue now!

[2018-11-02 09:49] whedon commented on #1063
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @thewtex it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-11-02 09:49] whedon commented on #1063
[code]

[2018-11-02 09:49] #600 closed

[2018-11-02 09:49] whedon commented on #1063
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01063/joss.01063/10.21105.joss.01063.pdf)

[2018-11-02 10:36] Kevin-Mattheus-Moerman commented on #1014
@whedon assign @johnsamuelwrites as reviewer

[2018-11-02 10:36] whedon commented on #1014
OK, the reviewer is @johnsamuelwrites

[2018-11-02 10:38] Kevin-Mattheus-Moerman commented on #1014
@johnsamuelwrites (https://orcid.org/0000-0001-8721-7007) thanks for joining as a reviewer! This is a pre-review issue where we gather reviewers. The review process will be initiated later and takes place on a dedicated review issue. In the meantime you can familiarize yourself with the [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#). Let me know if you have qu

[2018-11-02 10:46] johnsamuelwrites commented on #1014
Thank you @Kevin-Mattheus-Moerman for the invitation. I will finish the review in the upcoming days.

[2018-11-02 13:05] #1000 closed

[2018-11-02 13:40] trallard commented on #1060
Hi @akdiem I will be the editor for your submission 👋
It seems there are some problems with the paper, you might want to check the `yaml` header and try and regenerate the paper.

Also, have you got any potential reviewers in mind? If not you can check our list [of registered reviewers](https://bit.ly/joss-reviewers)

[2018-11-02 13:42] joshuaulrich commented on #30
No need to apologise. Let me know if there are other finance or time series
reviews I can help with.

[2018-11-02 15:14] nicgaspar commented on #1031
Hi @kthyng. I’m sorry but I am traveling the next two weeks and I have two reviews already that I need to finish. You could also try @mcflugen. Please ask me again in the future.

[2018-11-02 17:08] vmagnin commented on #1014
Dear @Kevin-Mattheus-Moerman ,
I have found two persons who agree to be reviewers: @devonrex and @sundmanbo

[2018-11-02 17:11] thewtex commented on #1063
https://github.com/plooney/kretz/issues/1 created to clarify / standardize the license file.

[2018-11-02 17:17] thewtex commented on #1063
https://github.com/plooney/kretz/issues/2 created to create a GitHub release. It may be desirable to address other review items before creating this release.

[2018-11-02 17:22] vmagnin commented on #1014
@Kevin-Mattheus-Moerman
The URL http://gtk+fortran is probably an error in the settings of the project, dating back to the origin of the project... There is no other site than https://github.com/jerryd/gtk-fortran (or its wiki page https://github.com/jerryd/gtk-fortran/wiki).
I will ask @jerryd, who originally created that repository, to delete that URL.

https://github.com/jerryd/gtk-fortran

[2018-11-02 17:46] margauxmouchene commented on #1031
Hi @kthyng. I tried installing everything before saying yes to reviewing it. Turns out I'm having major issues with the dependencies (pyfftw and GDAL - on OSX). As I understand you are on a tight schedule, I have to decline this review request. Please contact me again for other reviews.

[2018-11-02 18:12] thewtex commented on #1063
Generally, yes, but a few minor issues identified:

- https://github.com/plooney/kretz/issues/4
- https://github.com/plooney/kretz/issues/5

[2018-11-02 18:39] thewtex commented on #1063
https://github.com/plooney/kretz/issues/8 created to enable use as a library.

[2018-11-02 18:45] thewtex commented on #1063
There is Doxygen documentation and the naming of classes and methods are information.

A few items to improve with the command line programs:

- https://github.com/plooney/kretz/issues/6
- https://github.com/plooney/kretz/issues/7

[2018-11-02 18:50] kthyng commented on #1031
It's definitely a tough time of year! Everybody is booked!

@mcflugen — any chance you can review this submission in the next two weeks? Thanks for your consideration.

[2018-11-02 18:59] thewtex commented on #1063
- Minor correction required: https://github.com/plooney/kretz/issues/10

[2018-11-02 19:01] thewtex commented on #1063
@cMadan @plooney review complete.

I apologize again for the tardiness of the review.

@plooney the code looks outstanding, and this is a valuable contribution for ultrasound research. Thank you for sharing this work.

[2018-11-02 19:05] rmsare commented on #1031
@margauxmouchene Thank you for bringing this up. If you have a minute, would you mind pasting your install issues into a github issue or email (robertmsare@gmail.com)? Something as simple as the brew/pip errors and your system specs (OS X version) would be useful, no need for a full report. It would be helpful for me to document as I am not an OS X user.

And @kthyng and everyone - in hindsight, I

[2018-11-02 19:09] scivision commented on #990
@lheagy FYI I am quite tied up on other projects till approx. Nov 15th. If this is an issue someone else can review in the meantime. Sorry about that, this is an interesting project.

[2018-11-02 19:32] kthyng commented on #1031
@nathanlyons, @nicgaspar, and @margauxmouchene — The way we track potential reviewers is through a list, which you can sign up for: http://joss.theoj.org/reviewer-signup.html

[2018-11-02 19:51] dirmeier commented on #961
Likewise. A a very nice package, too! :)

[2018-11-02 21:09] cMadan commented on #1063
@thewtex, thank you for the thorough review!

@plooney, please let us know after you have have revised the project based on the reviewer feedback.

[2018-11-02 21:49] NikEfth commented on #1012
@jeroen @dahtah I would need a bit of support to get this started. I am using arch linux and I cannot find the dependency ibfftw3-dev. Any help?

[2018-11-02 22:00] ibarraespinosa commented on #1061
Hi, thanks for suggesting me. Interesting work. If your paper passes to the review stage, I would review it.

[2018-11-02 22:02] aslakbergersen commented on #1051
Hey @trallard, @brainstorm is a potential reviewer with a perfect background for giving a good review on this project. He reviewed the vmtk paper in JOSS.

[2018-11-02 22:19] lheagy commented on #990
Hi @scivision: thanks for the heads-up! I don't think this should be a problem.
@laempy: please keep us updated on your progress and let us know when to do another pass. Thanks!

[2018-11-03 00:00] markbasham commented on #1037
@mgalloy I'm having trouble building it, but my system is a bit custom, have you managed?

[2018-11-03 00:03] leios commented on #1037
@markbasham What errors are you getting? This is obviously something we should look into, but I think the build instructions in the documentation should work for most linux systems.

[2018-11-03 00:09] mgalloy commented on #1037
I am also having problems on my Mac (unfortunately, the only system with an NVIDIA GPU right now). I can send a more detailed report this weekend.

[2018-11-03 03:02] AleksandraDabrowska commented on #961
@hiendn @dirmeier  Thank you very much for reviewing and for your kind words! :)
Should we now issue a DOI for our archive, as it is written in "The review process" section (https://joss.readthedocs.io/en/latest/submitting.html?fbclid=IwAR04SV6oxRM9B3mPL8NXhMhzToU_c3PwwcuiATwttKWaty2rEm8X8aZ19TM)?

[2018-11-03 10:15] trallard commented on #1051
Hi @brainstorm 👋  would you be able to review this submission?

[2018-11-03 10:28] DavideNardone commented on #1049
@whedon generate pdf

[2018-11-03 10:28] whedon commented on #1049
[code]

[2018-11-03 10:28] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2018-11-03 16:07] arfon commented on #445
@pjotrp or @mgymrek - would either of you be able to take over as the editor here?

[2018-11-03 20:54] mcflugen commented on #1031
@kthyng I could have a look at it this week but, if I'm not able to finish it by Friday, I probably wouldn't be able to get back to it until December, which is also pretty booked.

@margauxmouchene, @rmsare I also wasn't able to install things with *pip* but I was able to *conda*-install everything without problem (and run the tests - which, of course, all passed :tada:).

[2018-11-04 07:56] brainstorm commented on #1051
@whedon assign @brainstorm as reviewer

[2018-11-04 07:56] whedon commented on #1051
OK, the reviewer is @brainstorm

[2018-11-04 07:59] brainstorm commented on #1051
Sure @trallard, happy to review along... didn't want to substitute @rlizzo, I thought whedon added on co-reviewers by default, sorry about that :-S

[2018-11-04 10:16] oxinabox commented on #1002
@arokem  I  was sharing a link around to the released paper,
and some errors were pointed out to me.

 - the citation for the MLandPL paper broke and so it didn't end up in the reference list.
 - the cited article for the Julia language is the 2014 preprint, rather than the final 2017 article
 - and a couple of typos slipped through.

What should we do?
Does the JOSS process allow us to submit an

[2018-11-04 12:35] arfon commented on #1051
@whedon add @rlizzo as reviewer

[2018-11-04 12:35] whedon commented on #1051
OK, @rlizzo is now a reviewer

[2018-11-04 12:36] arfon commented on #1051
@brainstorm `assign` clobbers all existing assignments. Sorry the commands aren't a little clearer...

[2018-11-04 12:37] arfon commented on #1002
@oxinabox - feel free to update your paper in `master` on https://github.com/malmaud/TensorFlow.jl and check that it's fixed by typing `@whedon generate pdf` here.

Once you're happy with the changes, I can update the final accepted version.

[2018-11-04 12:52] trallard commented on #1051
@wehdon start review

[2018-11-04 12:53] trallard commented on #1051
@whedon  start review

[2018-11-04 12:57] trallard commented on #1009
I am going to open the review issue for this submission for now since we have @amoeba  confirmed for mid-November

I will try and find a second reviewer in the meantime 🤞

[2018-11-04 12:57] trallard commented on #1009
@whedon start review

[2018-11-04 12:57] whedon opened #1064 "[REVIEW]: wolfexplorer: a tool for visualization and exploration of complex multi-year multi-specimen datasets"
**Submitting author:** @zkuralt (<a href="http://orcid.org/0000-0001-7201-4282">Žan Kuralt</a>)
**Repository:** <a href="https://github.com/romunov/wolfexplorer" target ="_blank">https://github.com/romunov/wolfexplorer</a>
**Version:** v0.9
**Editor:** @trallard
**Reviewer:** @amoeba
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/1250a1c97f53a38efece1c973b499104/status.sv

[2018-11-04 12:57] whedon commented on #1009
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1064. Feel free to close this issue now!

[2018-11-04 12:57] whedon commented on #1064
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amoeba it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-11-04 12:57] whedon commented on #1064
[code]

[2018-11-04 12:57] whedon commented on #1064
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01064/joss.01064/10.21105.joss.01064.pdf)

[2018-11-04 12:59] oxinabox commented on #1002
Excellent.

[2018-11-04 13:01] trallard commented on #1051
@whedon start review

[2018-11-04 13:01] whedon opened #1065 "[REVIEW]: morphMan: Automated manipulation of vascular geometries"
**Submitting author:** @aslakbergersen (<a href="http://orcid.org/0000-0001-5063-3680">Aslak Bergersen</a>)
**Repository:** <a href="https://github.com/KVSlab/morphMan" target ="_blank">https://github.com/KVSlab/morphMan</a>
**Version:** v0.2
**Editor:** @trallard
**Reviewer:** @brainstorm, @rlizzo
**Archive:** <a href="https://doi.org/10.5281/zenodo.2591725" target="_blank">10.5281/zenodo.2591725

[2018-11-04 13:01] whedon commented on #1051
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1065. Feel free to close this issue now!

[2018-11-04 13:01] whedon commented on #1065
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brainstorm, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-11-04 13:01] whedon commented on #1065
[code]

[2018-11-04 13:02] trallard commented on #1051
We can now migrate to the [review issue](https://github.com/openjournals/joss-reviews/issues/1065) !!!

[2018-11-04 13:02] #1051 closed

[2018-11-04 13:03] whedon commented on #1065
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01065/joss.01065/10.21105.joss.01065.pdf)

[2018-11-04 13:11] trallard commented on #1040
@SimonGreenhill  I just checked the [DOI](https://zenodo.org/record/55660#.W97vMmj7RPY) you created for your repository and this resolves correctly

I will regenerate the pdf to do some basic checks as this seems to not have worked properly (?)

[2018-11-04 13:11] trallard commented on #1040
@whedon generate pdf

[2018-11-04 13:11] whedon commented on #1040
[code]

[2018-11-04 13:35] arfon commented on #791
Thanks for your excellent review @steffilazerte and your suggestion here. I think we should seek an additional reviewer to help verify these aspects of the package.

@MarionLegrandLogrami - do you know of anyone who might be able to help with this? @karthik - do you know of any Windows/R users that might be able to help?

[2018-11-04 14:47] yochannah commented on #950
@whedon generate pdf

[2018-11-04 14:47] whedon commented on #950
[code]

[2018-11-04 14:48] whedon commented on #950
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00950/joss.00950/10.21105.joss.00950.pdf)

[2018-11-04 16:00] yochannah commented on #988
@ifellows - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive?

[2018-11-04 16:17] yochannah commented on #961
@AleksandraDabrowska Looking good! Before generating the archive, though, there is one issue with the manuscript I'd like to fix. Figures 3 and 4 are interspersed with the references in the most recent proof, but I'm reasonably sure they should be up in the main paper text. Can you fix this? Once this is fixed, please do generate an archive and share the URL in this thread!! 🎉

[2018-11-04 16:20] yochannah commented on #1008
@whedon generate pdf

[2018-11-04 16:20] whedon commented on #1008
[code]

[2018-11-04 16:20] whedon commented on #1008
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01008/joss.01008/10.21105.joss.01008.pdf)

[2018-11-04 18:01] yochannah commented on #1008
I think we're good to go - @rrrlw, I'm assuming http://doi.org/10.5281/zenodo.1470939 the correct DOI to associate with this paper?

[2018-11-04 18:02] pjotrp commented on #445
I am pinging @nelkibs and @george-githinji

[2018-11-04 18:46] arfon commented on #747
Just sent a reminder to @zfrenchee via email.

[2018-11-04 18:47] arfon commented on #820
:wave: @kyleniemeyer - friendly reminder to complete this review when you get a chance please :-)

[2018-11-04 18:48] arfon commented on #898
@danehkar - I think this review is waiting on you at this point?

[2018-11-04 18:48] arfon commented on #899
Friendly reminder to get to this review sometime soon please @mgalloy

[2018-11-04 18:49] arfon commented on #921
Thanks @ninjin. @oxinabox - could you please do a final check of the spelling in your paper?

[2018-11-04 18:50] arfon commented on #928
@biswapriyamisra, @mwang87 - please complete your reviews of this package when you get a chance. Do you think you might be able to complete them in the next two weeks?

[2018-11-04 18:51] arfon commented on #947
@peterjwatkins - I think this might be ready for you to take another look.

[2018-11-04 18:52] arfon commented on #980
:wave: @jsgalan - do you think you might be able to complete your review in the next two weeks?

[2018-11-04 19:48] rrrlw commented on #1008
Great, thank you @yochannah! Yes, that is the correct DOI.

[2018-11-04 19:53] biswapriyamisra commented on #928
Hello,

This is all going bit out of hand. The situation is funny and precarious
(with so many Emails, and so many invitees from  the List of Reviewers
declining for what ever reasons!), and then am being asked for the comments
again and again. I sympathize with the author- for this is all sounding
painful for a small software with 1-2 pages of content for the manuscript.
I hope in the future you

[2018-11-04 19:54] mgalloy commented on #899
As mentioned above, I have reviewed everything on the Review Checklist I can right now. The issues opened by @mdpiper need to be addressed by @danehkar to continue.

[2018-11-04 20:14] arokem commented on #1062
@whedon assign @arokem as editor

[2018-11-04 20:14] whedon commented on #1062
OK, the editor is @arokem

[2018-11-04 20:16] arokem commented on #1062
@ailiop : any ideas for potential reviewers?

[2018-11-04 20:29] yochannah commented on #1008
@whedon set http://doi.org/10.5281/zenodo.1470939 as archive

[2018-11-04 20:29] whedon commented on #1008
OK. <a href="https://doi.org/10.5281/zenodo.1470939" target="_blank">10.5281/zenodo.1470939</a> is the archive.

[2018-11-04 20:35] yochannah commented on #1008
@arfon We're ready to accept this! 🎉

[2018-11-04 20:37] yochannah commented on #955
Whoops, thanks for the ping!

[2018-11-04 20:37] yochannah commented on #955
@whedon generate pdf

[2018-11-04 20:37] whedon commented on #955
[code]

[2018-11-04 20:38] whedon commented on #955
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00955/joss.00955/10.21105.joss.00955.pdf)

[2018-11-04 20:40] arfon commented on #1008
@whedon accept

[2018-11-04 20:40] whedon commented on #1008
[code]

[2018-11-04 20:41] whedon commented on #1008
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/46

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/46, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-04 20:42] arfon commented on #1008
@whedon accept deposit=true

[2018-11-04 20:42] whedon commented on #1008
[code]

[2018-11-04 20:43] whedon commented on #1008
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/47
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01008](https://doi.org/10.21105/joss.01008)
2. If everything looks goo

[2018-11-04 20:46] rrrlw commented on #1008
Thank you so much @nagoue and @tomsing1 for reviewing, @yochannah for editing, and @arfon for setting up a great experience with JOSS!

[2018-11-04 20:46] #1008 closed

[2018-11-04 20:46] whedon commented on #1008
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01008/status.svg)](https://doi.org/10.21105/joss.01008)

**We need your help!**

Journal of Open Source Softwar

[2018-11-04 20:46] arfon commented on #1008
@nagoue, @tomsing1 - many thanks for your reviews here and to @yochannah  for editing this submission ✨

@rrrlw - your paper is now accepted into JOSS ⚡️🚀💥

[2018-11-04 20:46] karthik commented on #791
/ooo away until tomorrow

[2018-11-04 20:47] karthik commented on #791
@arfon Sure, let me come up with some ideas

(apologies about ooo. Trying to figure out how to unset the test date).

[2018-11-04 20:57] yochannah commented on #955
Okay, all looks good! 💯

@arvestad - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive?

[2018-11-04 21:06] arfon commented on #928
Hi @biswapriyamisra - sorry for causing frustration here but it's not clear from your comments on this PDF that you have actually carried out a review of this software. JOSS reviews are primarily *not* of the paper, rather the software instead.

As you can see at the top of this issue, there is a checklist for you to work through which _is the JOSS review_. The comments you have left in your annot

[2018-11-04 21:08] arfon commented on #899
Sorry, tagged the wrong person. Please let us know when you've had a chance to incorporate the feedback here @danehkar

[2018-11-04 21:43] ailiop commented on #1062
Hi @arokem. I have one in mind but do not know his GitHub handle. I have asked him via e-mail and will report here once I hear back.
I do not suppose it is an issue to suggest a reviewer not on the JOSS list, right?

[2018-11-04 22:16] brainstorm commented on #1065
@aslakbergersen No references in `paper.md`?

[2018-11-04 22:19] yochannah commented on #1038
@DiegoKoz @pachamaltese I note there are a couple of issues in the gravity repo suggested by @DiegoKoz - do you feel like these need to be addressed before we accept?

[2018-11-04 22:29] yochannah commented on #1005
@slithiaote let me know if/when you've addressed the relevant issues and are ready to move forward with this

[2018-11-04 23:37] aslakbergersen commented on #1065
@brainstorm thank you for agreeing to review morphMan. I'm not sure I understand what you are asking. There are 13 references in the paper.md, but the bibliography (paper.bib) is located [here.](https://github.com/KVSlab/morphMan/blob/master/paper/paper.bib) I hope that answered your question.

[2018-11-04 23:47] markbasham commented on #1037
@leios the code all works for me, as do the example processes etc.  One thing i need to look at is the performance of the code, now it uses 84% of my GPU when running, so its pretty well making use of the system, but i don't have much else to base this on.  I have had a look at the documentation of GPELab but i cant see any runtimes.  do you know what the runtime for a process comparable to your d

[2018-11-04 23:59] leios commented on #1037
Thanks for submitting the building issue. I'll be working on that today.

For the benchmarks, I think running a simple test, [like this one](https://web.archive.org/web/20171120181431/https://peterwittek.com/gpe-comparison.html), would be a good start for simple split-op performance testing. That link was from an older build of GPUE, but we have not lost any functionality since then (I don't even

[2018-11-05 00:09] markbasham commented on #1037
@leios thanks, thats perfect

[2018-11-05 00:11] markbasham commented on #1037
@leios final thing, is there no DOI for the final thesis in the paper? I couldent find anything obvious, but there are often university repos now for thesis, a link would do.

[2018-11-05 00:18] brainstorm commented on #1065
My bad, I was reading the [rendered version](https://github.com/KVSlab/morphMan/blob/master/paper/paper.md) and I saw that section empty, but they are indeed in the .bib as they should, ticking off that box ;)

[2018-11-05 00:42] pachamaltese commented on #1038
Hi. Yes, please!
Let me tweak one of the functions a bit, if I am sleepless maybe I optimize
it a lot.

On Sun, Nov 4, 2018, 7:19 PM Yo Yehudi <notifications@github.com wrote:

[2018-11-05 00:58] leios commented on #1037
I cannot seem to find a DOI, but there is a permanent link: http://hdl.handle.net/11250/2467021.

This can be added to the reference section, if desired.

[2018-11-05 07:55] dahtah commented on #1012
@NikEfth I don't know much about arch linux, but I guess [this](https://www.archlinux.org/packages/extra/x86_64/fftw/) should be the right package, assuming the include files are in there. Could you please confirm?

[2018-11-05 08:43] arvestad commented on #955
Thanks a lot @yochannah . I have now put it on Zenodo and the DOI is 10.5281/zenodo.1477804.

Just to avoid confusion: I made a first erroneous Zenodo submission based on a development branch, so the DOI you see here is the second attempt. :-)

[2018-11-05 09:12] AleksandraDabrowska commented on #961
@whedon generate pdf

[2018-11-05 09:12] whedon commented on #961
[code]

[2018-11-05 09:13] whedon commented on #961
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00961/joss.00961/10.21105.joss.00961.pdf)

[2018-11-05 09:49] oxinabox commented on #921
@arfon  I fixed up those spelling issues (though, I'll give it a 3rd check),
I was just waiting to fix up an issue @ninjin identified with one of our data providers,
https://github.com/oxinabox/DataDepsGenerators.jl/issues/67
Something in the DataONE API, or in the SSL client we use to access it changed in a breaking way in the last few months.
I am talking with the devs on both sides there.

@whe

[2018-11-05 10:35] Kevin-Mattheus-Moerman commented on #1014
@vmagnin currently your paper contains this sentence: `A Graphical User Interface (GUI) can be useful in a research software to visualize results in real time during a computation, to plot results or to interact with the user, especially if the software is used by other people or distributed outside the laboratory.`
Can you please expand your paper a in terms of describing the application of this

[2018-11-05 11:33] ninjin commented on #921
Fix “lavages” – [fun fact](https://en.wiktionary.org/wiki/lavage#English). Other than that is looks solid.

[2018-11-05 11:47] AleksandraDabrowska commented on #961
@yochannah here is archive https://zenodo.org/record/1477857#.W-AtQiDdg2w

[2018-11-05 12:15] oxinabox commented on #921
@whedon generate pdf

(sorry didn't do the 3rd check yet)

[2018-11-05 12:15] whedon commented on #921
[code]

[2018-11-05 12:15] whedon commented on #921
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00921/joss.00921/10.21105.joss.00921.pdf)

[2018-11-05 12:28] pachamaltese commented on #1038
@DiegoKoz @yochannah I can always go back to 0.8.2
I just followed http://r-pkgs.had.co.nz/release.html#release-version

[2018-11-05 12:56] DiegoKoz commented on #1038
yes, it's fine, but I don't understand if @yochannah should update de info of the review, or I just accept that item.

Besides de issue you are working on, the rest is fine for me and I think we could accept the review

[2018-11-05 12:59] rmsare commented on #1031
@mcflugen Thanks for letting me know! I'll look into what's up with pip.

[2018-11-05 13:02] myousefi2016 commented on #1058
@whedon commands

[2018-11-05 13:02] whedon commented on #1058
Here are some things you can ask me to do:

[code]

[2018-11-05 13:03] myousefi2016 commented on #1058
@whedon generate pdf

[2018-11-05 13:03] whedon commented on #1058
[code]

[2018-11-05 13:06] whedon commented on #1058
PDF failed to compile for issue #1058 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8528b72684/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-8e8

[2018-11-05 13:19] myousefi2016 commented on #1058
@whedon generate pdf

[2018-11-05 13:19] whedon commented on #1058
[code]

[2018-11-05 13:21] whedon commented on #1058
PDF failed to compile for issue #1058 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    182      0 --:--:-- --:--:-- --:--:--   182
100    15    0

[2018-11-05 14:41] ninjin commented on #921
Looks good to me, @arfon do I sign off on the final version by closing this issue?

[2018-11-05 15:13] arfon commented on #921
@oxinabox - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-11-05 15:13] arfon commented on #921
Thanks @ninjin - I'll take it from here.

[2018-11-05 15:53] russellpierce commented on #1023
Oh darn, @soodoku I might have checked items off your list when I meant to be checking off mine.  My apologies!

[2018-11-05 15:54] soodoku commented on #1023
No worries.

On Mon, Nov 5, 2018 at 7:53 AM Russell S. Pierce <notifications@github.com>
wrote:

[2018-11-05 15:56] wandreopoulos commented on #693
I made the changes to follow the community guidelines. I am sorry for the
delay. It has been challenging to find time lately.
The project is a database-backed tool for locality-sensitive hashing of
large categorical datasets. It can be used for search or clustering of
categorical datasets of any size.

Looking forward to hearing back from you.
Thanks,
Bill

On Thu, Nov 1, 2018 at 6:13 PM Arfon Smi

[2018-11-05 16:08] ngoldbaum commented on #1022
I'm starting my review today, many apologies again for being slow to get to this.

[2018-11-05 16:28] ngoldbaum commented on #1022
Comments on the paper text:

The JOSS reviewer guidelines note:

So I think Figure 3 and the "architecture" section probably belong in the docs rather than in the paper.

I also think "installation" probably also belongs in the docs. I think it would be sufficient to say "API documentation and installation instructions are available on the online documentation, which you can link to in the text.

[2018-11-05 16:56] raphaelvallat commented on #1026
Hi @cMadan and @snastase!

I was hoping to release the version 0.2.0 of Pingouin by early next week and ideally I would really love to include the JOSS paper in it. Do you think that it would be possible to do the review by then? If not, no worries, I'll just include it in a future release.

Thank you and have a great day!
Raphael

[2018-11-05 17:07] ngoldbaum commented on #1022
I'm not a lawyer and haven't done much more than cursory googling on the subject, but I'm a little concerned about the direct binary dependency on the oracle client library, which is licensed under then OTN license. Among the terms are the following text:

I read this to say that you're only allowed to write code that depends on OTN-licensed software for testing and development purposes, but must

[2018-11-05 17:09] malmaud commented on #1002
@whedon generate pdf

[2018-11-05 17:09] whedon commented on #1002
[code]

[2018-11-05 17:10] malmaud commented on #1002
Done

[2018-11-05 17:28] kthyng commented on #1031
Ok awesome everyone! I'd like to go ahead with our two reviewers @fclubb and @mcflugen. @mcflugen please do as much as you can before Friday and we'll figure it out from there if needed.

[2018-11-05 17:28] arfon commented on #1002
Paper compilation is failing for some reason right now. I've compiled locally:
[10.21105.joss.01002.pdf](https://github.com/openjournals/joss-reviews/files/2549836/10.21105.joss.01002.pdf)

[2018-11-05 17:32] kthyng commented on #1031
@whedon assign @fclubb as reviewer

[2018-11-05 17:32] whedon commented on #1031
OK, the reviewer is @fclubb

[2018-11-05 17:32] kthyng commented on #1031
@whedon add @mcflugen as reviewer

[2018-11-05 17:32] whedon commented on #1031
OK, @mcflugen is now a reviewer

[2018-11-05 17:32] kthyng commented on #1031
@whedon start review

[2018-11-05 17:32] whedon opened #1066 "[REVIEW]: scarplet: A Python package for topographic template matching and diffusion dating"
**Submitting author:** @rmsare (<a href="http://orcid.org/0000-0003-3711-6771">Robert Sare</a>)
**Repository:** <a href="https://github.com/rmsare/scarplet" target ="_blank">https://github.com/rmsare/scarplet</a>
**Version:** 0.1.0
**Editor:** @kthyng
**Reviewer:** @fclubb, @mcflugen
**Archive:** <a href="https://doi.org/10.5281/zenodo.1492786" target="_blank">10.5281/zenodo.1492786</a>

## Status

[2018-11-05 17:32] whedon commented on #1031
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1066. Feel free to close this issue now!

[2018-11-05 17:32] whedon commented on #1066
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fclubb, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-11-05 17:33] whedon commented on #1066
[code]

[2018-11-05 17:33] #1031 closed

[2018-11-05 17:33] whedon commented on #1066
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01066/joss.01066/10.21105.joss.01066.pdf)

[2018-11-05 17:39] ngoldbaum commented on #1022
Regarding the previous comment, I think this means that people can only use `easyaccess` for production work on a system where someone has paid for an oracle license (e.g. on an NCSA system), but if someone installs `easyaccess` on another system or e.g. their laptop, then they *must not* use `easyaccess` for production work without risking litigation from oracle.

I'm not sure if there's a licens

[2018-11-05 17:44] kyleniemeyer commented on #935
Hi @mpurg, just wanted to check on the status of your revisions—hope your PhD defense went well!

[2018-11-05 17:58] vaishnavtv commented on #1042
Any issues with the review? It has been almost two weeks since the last update. Kindly let us know if there are problems with the software.

[2018-11-05 18:00] ctdegroot commented on #1042
@vaishnavtv Please have patience. As you know peer review takes time and reviewers cannot drop everything immediately to tend to a review. I will review within the next two weeks.

[2018-11-05 18:01] labarba commented on #1042
@vaishnavtv I kindly ask you that you be patient, and allow the review to proceed at a pace that reflects the fact that everyone here is a volunteer.

[2018-11-05 18:12] arfon commented on #1022
Yeah, I'm really not sure here. On the one hand, I guess this statement may just reflect the licensing terms of Oracle, i.e. you can't use an Oracle DB server in production without a license. That said, these terms do seem to run somewhat counter-culture to the 'Free' in FLOSS.

@Kevin-Mattheus-Moerman - perhaps we can get some help from the OSI on this topic? Would you be able to seek their assis

[2018-11-05 18:42] ifellows commented on #988
10.5281/zenodo.1478139

fyi: revised package on it's way to CRAN

[2018-11-05 18:52] mgckind commented on #1022
Thanks, `easyaccess`  as `cx_Oracle` and others are just clients talking with the Oracle DB installed, licensed and running at NCSA, you'd only need the instant client library from Oracle, which you can obtain from their page.
we talked about this in the past and was suggested (it's been a while) that given the nature of the closed collaboration that we had on issues, for the public facing part we

[2018-11-05 18:58] ngoldbaum commented on #1022
Right, the issue is that the client itself is distributed under the OTN license. Since `easyaccess` depends on it, if I have `easyaccess` installed on a system where there isn't an oracle license available and I use it for production work, then I'm breaking the Oracle client license. The relevant part of the license is this bit (emphasis mine):

Here "the Programs" is the oracle client library and

[2018-11-05 19:21] ccurtis7 commented on #989
@stsievert, I wanted to find out how the review is coming along, and if there is anything you need from me. Thanks!

[2018-11-05 19:52] rmsare commented on #1066
@kthyng and reviewers - thanks for this! I am tagging co-author @gehilley in case he would like to follow the review.

[2018-11-05 21:47] cicirello commented on #950
@yochannah Here's the Zenodo DOI:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1478193.svg)](https://doi.org/10.5281/zenodo.1478193)

[2018-11-05 22:35] yochannah commented on #955
@arvestad thanks! One small thing: in the Zenodo archive, there are two authors listed, but in the paper only one. You might need to edit the Zenodo metadata to remove any automatically added authors (I'm told this is a thing; I've never tried it myself so let me know how you get on!)

[2018-11-05 22:38] yochannah commented on #961
The figures look better! Thanks @AleksandraDabrowska

[2018-11-05 22:40] yochannah commented on #961
@whedon set http://doi.org/10.5281/zenodo.1477857 as archive

[2018-11-05 22:42] yochannah commented on #961
@arfon I think we're ready to accept this one!

[2018-11-05 22:45] yochannah commented on #1038
we can update the version in the issue above, don't worry :)

[2018-11-05 22:46] yochannah commented on #1038
... done. I think versions end up bumped a lot during our review process, since there are usually lot of suggestions and improvements made

[2018-11-05 22:49] yochannah commented on #988
@whedon set 10.5281/zenodo.1478139 as archive

[2018-11-05 22:49] whedon commented on #988
OK. <a href="https://doi.org/10.5281/zenodo.1478139" target="_blank">10.5281/zenodo.1478139</a> is the archive.

[2018-11-05 22:54] yochannah commented on #988
@arfon Ready to accept! 💯

[2018-11-05 22:57] yochannah commented on #950
@whedon set https://doi.org/10.5281/zenodo.1478192 as archive

[2018-11-05 22:57] whedon commented on #950
OK. <a href="https://doi.org/10.5281/zenodo.1478192" target="_blank">10.5281/zenodo.1478192</a> is the archive.

[2018-11-05 22:58] yochannah commented on #950
@arfon ready to accept! 💯

[2018-11-05 23:00] ifellows commented on #988
A hearty thank you to @JohnCoene and @mschubert for reviewing and to @yochannah for shepherding the process. The package has benefited significantly from all of your attention.

[2018-11-06 00:14] mpurg commented on #935
It went well, thanks.
I'll go over the revisions in the following days, I should be done in a
week or so.

On Mon, Nov 5, 2018, 12:44 Kyle Niemeyer <notifications@github.com wrote:

[2018-11-06 06:35] arfon commented on #961
@whedon accept

[2018-11-06 06:35] whedon commented on #961
[code]

[2018-11-06 06:36] whedon commented on #961
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/48

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/48, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-06 06:37] arfon commented on #961
@whedon accept deposit=true

[2018-11-06 06:37] whedon commented on #961
[code]

[2018-11-06 06:37] arfon commented on #950
@whedon accept

[2018-11-06 06:37] whedon commented on #950
[code]

[2018-11-06 06:38] whedon commented on #961
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/49
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00961](https://doi.org/10.21105/joss.00961)
2. If everything looks goo

[2018-11-06 06:38] whedon commented on #950
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/50

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/50, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-06 06:38] arfon commented on #950
@whedon accept deposit=true

[2018-11-06 06:38] whedon commented on #950
[code]

[2018-11-06 06:39] arfon commented on #988
@whedon accept

[2018-11-06 06:39] whedon commented on #988
[code]

[2018-11-06 06:39] whedon commented on #950
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/51
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00950](https://doi.org/10.21105/joss.00950)
2. If everything looks goo

[2018-11-06 06:40] whedon commented on #988
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/52

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/52, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-06 06:40] arfon commented on #988
@whedon accept deposit=true

[2018-11-06 06:40] whedon commented on #988
[code]

[2018-11-06 06:41] whedon commented on #988
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/53
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00988](https://doi.org/10.21105/joss.00988)
2. If everything looks goo

[2018-11-06 06:59] arfon commented on #988
@mschubert , @JohnCoene - many thanks for your reviews here and to @yochannah for editing this submission ✨

@ifellows - your paper is now accepted into JOSS :zap: :rocket: :boom:

[2018-11-06 06:59] #988 closed

[2018-11-06 06:59] whedon commented on #988
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00988/status.svg)](https://doi.org/10.21105/joss.00988)

**We need your help!**

Journal of Open Source Softwar

[2018-11-06 07:00] arfon commented on #950
@ChrisJefferson, @motib - many thanks for your reviews here and to @yochannah for editing this submission ✨

@cicirello - your paper is now accepted into JOSS :zap: :rocket: :boom:

[2018-11-06 07:00] #950 closed

[2018-11-06 07:00] whedon commented on #950
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00950/status.svg)](https://doi.org/10.21105/joss.00950)

**We need your help!**

Journal of Open Source Softwar

[2018-11-06 07:06] arfon commented on #961
@hiendn, @dirmeier - many thanks for your reviews here, and to @yochannah for editing this submission ✨

@AleksandraDabrowska - your paper is now accepted into JOSS :zap: :rocket: :boom:

[2018-11-06 07:06] #961 closed

[2018-11-06 07:06] whedon commented on #961
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00961/status.svg)](https://doi.org/10.21105/joss.00961)

**We need your help!**

Journal of Open Source Softwar

[2018-11-06 07:07] whedon opened #1067 "[PRE REVIEW]: hotsub - Command line tool to run batch jobs with ETL framework concurrently on cloud services"
**Submitting author:** @otiai10 (<a href="http://orcid.org/0000-0001-6636-856X">Hiromu Ochiai</a>)
**Repository:** <a href="https://github.com/otiai10/hotsub" target ="_blank">https://github.com/otiai10/hotsub</a>
**Version:** v0.10.0
**Editor:** @brainstorm
**Reviewers:** @reisingerf

**Author instructions**

Thanks for submitting your paper to JOSS @otiai10. The JOSS editor (shown at the top of

[2018-11-06 07:07] whedon commented on #1067
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brainstorm it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-11-06 07:07] whedon commented on #1067
[code]

[2018-11-06 07:08] whedon commented on #1067
PDF failed to compile for issue #1067 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    247      0 --:--:-- --:--:-- --:--:--   250
Error reading bib

[2018-11-06 07:08] arfon commented on #1067
👋 @brainstorm - the submitting author suggested you as the handling editor.

[2018-11-06 07:17] brainstorm commented on #1067
Fantastic! 👍

May I suggest a suitable reviewer? @reisingerf, would you like to review this tool for JOSS?

[2018-11-06 09:15] akdiem commented on #1060
Hi @trallard Thank you for being the editor for my submission and apologies for the delayed response (I was away). I have fixed the issue according to the error message and pushed the changes to my repository. How do I regenerate the paper?

I have checked the list of reviewers and could suggest @abhishekbajpayee and @dlagrava

[2018-11-06 09:39] akdiem commented on #1060
@whedon generate pdf

[2018-11-06 09:39] whedon commented on #1060
[code]

[2018-11-06 09:39] whedon commented on #1060
PDF failed to compile for issue #1060 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    102      0 --:--:-- --:--:-- --:--:--   103
Error reading bib

[2018-11-06 09:42] akdiem commented on #1060
@whedon generate pdf

[2018-11-06 09:42] whedon commented on #1060
[code]

[2018-11-06 09:43] whedon commented on #1060
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01060/joss.01060/10.21105.joss.01060.pdf)

[2018-11-06 10:36] trallard commented on #1060
Hello 👋  @abhishekbajpayee and @dlagrava would you be interested in reviewing this submission?

[2018-11-06 10:38] trallard commented on #1040
@whedon generate pdf

[2018-11-06 10:38] whedon commented on #1040
[code]

[2018-11-06 11:04] whedon commented on #1040
[code]

[2018-11-06 11:04] whedon commented on #1040
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01040/joss.01040/10.21105.joss.01040.pdf)

[2018-11-06 11:06] whedon commented on #1040
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01040/joss.01040/10.21105.joss.01040.pdf)

[2018-11-06 13:13] gomesdasilva commented on #667
Hi Arfon,

I uploaded the software to Zenodo, DOI: 10.5281/zenodo.1478610.

Regards,
João

[2018-11-06 13:17] arfon commented on #667
@whedon set 10.5281/zenodo.1478610 as archive

[2018-11-06 13:17] whedon commented on #667
OK. <a href="https://doi.org/10.5281/zenodo.1478610" target="_blank">10.5281/zenodo.1478610</a> is the archive.

[2018-11-06 13:17] arfon commented on #667
@whedon accept

[2018-11-06 13:17] whedon commented on #667
[code]

[2018-11-06 13:18] whedon commented on #667
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/54

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/54, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-06 13:28] arfon commented on #667
@whedon accept

[2018-11-06 13:28] whedon commented on #667
[code]

[2018-11-06 13:29] whedon commented on #667
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/55

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/55, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-06 13:30] arfon commented on #667
@whedon accept deposit=true

[2018-11-06 13:30] whedon commented on #667
[code]

[2018-11-06 13:30] whedon commented on #667
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/56
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00667](https://doi.org/10.21105/joss.00667)
2. If everything looks goo

[2018-11-06 13:32] arfon commented on #667
@RuthAngus - many thanks for your review here ✨

@gomesdasilva - your paper is now accepted into JOSS :zap: :rocket: :boom:

[2018-11-06 13:32] #667 closed

[2018-11-06 13:32] whedon commented on #667
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00667/status.svg)](https://doi.org/10.21105/joss.00667)

**We need your help!**

Journal of Open Source Softwar

[2018-11-06 13:35] gomesdasilva commented on #667
Thank you Arfon and Ruth!

Just one last thing, is it possible to change the name from “Da Silva et al.” to "Gomes da Silva et al.”?
The last one is the one I use in my publications.

Cheers,
João

[2018-11-06 14:04] arfon commented on #667
The last one is the one I use in my publications.

Sure thing. I've updated this now. The online PDF might take a few hours to update.

[2018-11-06 14:07] gomesdasilva commented on #667
Thank you very much

Cheers,
João

[2018-11-06 14:48] oxinabox commented on #921
Done.

 DOI: 10.5281/zenodo.1478705

[2018-11-06 14:56] arfon commented on #921
@whedon set 10.5281/zenodo.1478705 as archive

[2018-11-06 14:56] whedon commented on #921
OK. <a href="https://doi.org/10.5281/zenodo.1478705" target="_blank">10.5281/zenodo.1478705</a> is the archive.

[2018-11-06 14:57] arfon commented on #921
@whedon accept

[2018-11-06 14:57] whedon commented on #921
[code]

[2018-11-06 14:57] whedon commented on #921
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/57

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/57, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-06 15:14] arfon commented on #921
@whedon accept deposit=true

[2018-11-06 15:14] whedon commented on #921
[code]

[2018-11-06 15:15] whedon commented on #921
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/58
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00921](https://doi.org/10.21105/joss.00921)
2. If everything looks goo

[2018-11-06 15:37] whedon commented on #1040
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01040/joss.01040/10.21105.joss.01040.pdf)

[2018-11-06 15:53] whedon commented on #1040
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01040/joss.01040/10.21105.joss.01040.pdf)

[2018-11-06 16:11] ailiop commented on #1062
@arokem : I have not heard back from the person I had in mind yet. I went over the list of reviewers and I think @ThomasA or @Kevin-Mattheus-Moerman would be suitable reviewers.

[2018-11-06 16:38] arfon commented on #921
@ninjin - many thanks for your review here ✨

@oxinabox - your paper is now accepted into JOSS :zap: :rocket: :boom:

[2018-11-06 16:38] #921 closed

[2018-11-06 16:38] whedon commented on #921
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00921/status.svg)](https://doi.org/10.21105/joss.00921)

**We need your help!**

Journal of Open Source Softwar

[2018-11-06 16:41] #942 closed

[2018-11-06 16:42] arfon commented on #952
Closing this due to lack of responses from the submitting author.

[2018-11-06 16:42] #952 closed

[2018-11-06 16:43] oxinabox commented on #921
@SebastinSanty  woot we did the thing.

@ninjin thanks again

[2018-11-06 16:44] #1009 closed

[2018-11-06 17:13] Kevin-Mattheus-Moerman commented on #1062
Yep I think can help review this. Sounds interesting.

[2018-11-06 17:22] kyleniemeyer commented on #820
Some comments (will add more as I go)

## Installation info
The installation info is pretty specific to Linux machines. Also, perhaps installation would be made easier by creating a conda package for the software?  Right now installation is all manual, including dependencies, and something like this would make it a lot easier.

I did run into a problem when building the software, which I submitted

[2018-11-06 17:38] ctdegroot commented on #820
Thanks for the comments so far. I would like to be able to create a conda package, but I have not yet figured out a way to do so, given that it also relies on compiled C++ libraries. I will continue to look into this because I agree that the installation procedure could be improved, if that is possible.

[2018-11-06 17:42] kyleniemeyer commented on #820
@ctdegroot conda is not limited to Python packages—you can definitely include C++ libraries. For example, the Cantera package also uses scons to build from source, and requires boost (plus a few other libraries): https://github.com/Cantera/conda-recipes/tree/master/cantera

[2018-11-06 17:45] ctdegroot commented on #820
@kyleniemeyer Thanks for the link; it looks helpful. I'll need to spend some time to implement that for my code.

[2018-11-06 17:52] kyleniemeyer commented on #820
@ctdegroot just a suggestion, but it would definitely help.

[2018-11-06 17:53] ctdegroot commented on #820
@kyleniemeyer I agree with the suggestion. I've been looking to do something like this anyways.

[2018-11-06 19:02] mcflugen commented on #1066
@rmsare Nice work 👍I think this is great.

I submitted a couple issues to your repository that address most of the items on our checklist. There are only a couple of other things.

Things to do:
* [ ] Fix installation issues (rmsare/scarplet#59)
* [ ] Fix examples (rmsare/scarplet#60)
* [ ] Add Statement of Need to the documentation
* [ ] Add DOIs to the references in `paper.md`

I think that's it

[2018-11-06 19:08] danielskatz commented on #1054
Sorry for the delay - I missed this earlier.

@halirutan - what is the specific software you are submitting (which repository/repositories)?

Also, if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission.

[2018-11-06 19:09] danielskatz commented on #981
@adammichaelwood - What's happened in the last 9 days?

[2018-11-06 19:36] kyleniemeyer commented on #820
For the paper, I've submitted a few minor fixes myself (https://bitbucket.org/cdegroot/wediff/pull-requests/1/), and have some additional comments:

- (putting on my JOSS editor hat for a minute) Could you add more-complete affiliation info (e.g., location)?
- At the beginning of summary, it would be useful to have some more precise/specific examples for the need, rather than just "development of

[2018-11-06 19:40] ctdegroot commented on #820
Thanks; I've accepted your changes in the pull request. I'll look into these additional items as soon as I can. I'm making some progress on the conda pacakge as well, but have no idea what is going on with the swig error at this point in time (we have the same platform and versions of everything and mine works fine).

[2018-11-06 19:45] kyleniemeyer commented on #820
@ctdegroot After playing around with it a bit more, and installing swig using homebrew rather than miniconda, I was able to get it to build!

[2018-11-06 19:46] ctdegroot commented on #820
@kyleniemeyer Great! Sorry it wasn't very convenient to build. Hopefully the conda package will be a lot easier!

[2018-11-06 19:53] kyleniemeyer commented on #820
So while the scons build went fine, I'm trying to follow your instructions about running the Python unit tests (`pytest build`). I have not done `scons install`, because (1) that comes after this step in the README and (2) I'd prefer not to install something before running the tests. However, I get this error from pytest:
[code]
and so on from the other test files.

Is it required to install the p

[2018-11-06 19:59] kyleniemeyer commented on #820
Update: `scons install`, followed by `export PYTHONPATH=/usr/local/lib/WEdiff/` (conda/Anaconda doesn't use `PYTHONPATH`, but you can add things there that aren't installed with conda), allowed me to run the Python tests.

[2018-11-06 20:02] ctdegroot commented on #820
As it is currently set up it should be installed before running the tests. It would be possible to run from the build directory actually if you added that to the PYTHONPATH instead of the one listed above.

[2018-11-06 20:08] kyleniemeyer commented on #820
Question about the example: the README makes it sound like there are multiple examples, but I only see the one example. Are there supposed to be more? (I'm not saying there need to be, in part because you give multiple examples in the ipython notebook, just a clarification).

[2018-11-06 20:14] kyleniemeyer commented on #820
OK, aside from the open issues above, everything else looks good.

If you are currently working on a conda package, I'll hold off on the installation checkbox above, because I do think that would really simplify installation and handle the dependencies.

[2018-11-06 20:16] ctdegroot commented on #820
@kyleniemeyer There is only one example in the README; the rest are in the notebook. I can clarify this. I am working on the conda package. Give me a day or two and I'll report back on that.

[2018-11-06 20:18] kyleniemeyer commented on #820
@ctdegroot sounds good, thanks!

[2018-11-06 21:50] markbasham commented on #1037
@leios sorry for the delay, sounds good to me.

[2018-11-06 22:01] edawson commented on #975
These proofs look good. Is there more I need to do to bump this towards review?

We'd like to suggest @ctb , @luizirber , @afrubin , @betteridiot  as possible reviewers based on the list of people who have volunteered previously.  @sjackman and @richarddurbin might also have good ideas about possible reviewers (maybe @jts ?). Thanks!

[2018-11-06 22:35] sjackman commented on #975
Giorgio Gonnella @ggonnella, author of https://github.com/ggonnella/gfapy and https://github.com/ggonnella/rgfa, is a possible reviewer.

[2018-11-06 23:09] halirutan commented on #1054
@danielskatz Thanks for your response. The specific OSS we want to submit for publishing is the Mathematica implementation for the Rubi integrator which lives here

https://github.com/RuleBasedIntegration/Rubi

However, since this is a larger endeavor we have created a GitHub organization where all repositories live under [github.com/RuleBasedIntegration](https://github.com/RuleBasedIntegration).

[2018-11-07 07:10] mgckind commented on #1022
Thanks again,
I went and look again and I think by being more clear in the requisites and instructions for installation we can solve this. `easyaccess` requires `cx_Oracle` which is a python wrapper for the Oracle client which is also a requirement. In the `cx_Oracle` [page](https://cx-oracle.readthedocs.io/en/latest/installation.html#installing-cx-oracle-on-linux) they describe the installation o

[2018-11-07 08:34] SimonGreenhill commented on #1040
Thanks for the enthusiasm, whedon. I've checked the proof and made a few minor tweaks.

[2018-11-07 08:34] SimonGreenhill commented on #1040
@whedon generate pdf

[2018-11-07 08:34] whedon commented on #1040
[code]

[2018-11-07 08:34] whedon commented on #1040
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01040/joss.01040/10.21105.joss.01040.pdf)

[2018-11-07 08:36] SimonGreenhill commented on #1040
Look good to me, thanks!

[2018-11-07 12:06] danielskatz commented on #1054
@rljacobson, @wspr, @acolum - Would you be willing to review this submission?

[2018-11-07 14:12] rmsare commented on #1066
@mcflugen Thank you for the thorough review and your work on the conda recipe! I will dig into this and hope to address your comments and implement changes by Monday.

[2018-11-07 14:15] whedon opened #1068 "[PRE REVIEW]: Shenfun: High Performance Computing Platform for the Spectral Galerkin method"
**Submitting author:** @mikaem (<a href="http://orcid.org/0000-0002-3293-7573">Mikael Mortensen</a>)
**Repository:** <a href="https://github.com/spectralDNS/shenfun" target ="_blank">https://github.com/spectralDNS/shenfun</a>
**Version:** 1.2.0
**Editor:** @katyhuff
**Reviewers:** @lucydot, @lindsayad

**Author instructions**

Thanks for submitting your paper to JOSS @mikaem. The JOSS editor (show

[2018-11-07 14:16] whedon commented on #1068
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-11-07 14:16] whedon commented on #1068
[code]

[2018-11-07 14:16] arfon commented on #1068
@katyhuff - would you be willing to edit this submission for JOSS?

[2018-11-07 14:16] whedon commented on #1068
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01068/joss.01068/10.21105.joss.01068.pdf)

[2018-11-07 14:29] mikaem commented on #1068
Great:-) I see a lot of people on the list of reviewers with topic areas high performance computing, Python and MPI. Shouldn't be too hard to find reviewers. Want me to pick from the top of the list? I have no one in particular in mind.

[2018-11-07 14:36] katyhuff commented on #1068
@mikaem, your suggestions would be great.

Meanwhile -- perhaps @lucydot or @lindsayad would be interested. @lucydot, @lindsayad, would either of you be willing to be reviewers for this JOSS submission?

[2018-11-07 14:56] yochannah commented on #955
@whedon set 10.0.20.161/zenodo.1477804 as archive

[2018-11-07 14:56] whedon commented on #955
10.0.20.161/zenodo.1477804 doesn't look like an archive DOI.

[2018-11-07 14:57] yochannah commented on #955
@whedon set 10.5281/zenodo.1477794 as archive

[2018-11-07 14:57] whedon commented on #955
OK. <a href="https://doi.org/10.5281/zenodo.1477794" target="_blank">10.5281/zenodo.1477794</a> is the archive.

[2018-11-07 14:59] yochannah commented on #955
@arfon I think we're ready to accept!! 💯

[2018-11-07 15:06] arfon commented on #955
@whedon accept

[2018-11-07 15:06] whedon commented on #955
[code]

[2018-11-07 15:06] whedon commented on #955
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/59

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/59, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-07 15:07] arfon commented on #955
@whedon accept deposit=true

[2018-11-07 15:07] whedon commented on #955
[code]

[2018-11-07 15:08] whedon commented on #955
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/60
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00955](https://doi.org/10.21105/joss.00955)
2. If everything looks goo

[2018-11-07 15:16] arfon commented on #955
@karinlag, @juanvillada - many thanks for your reviews here and to @yochannah for editing this submission ✨

@arvestad - your paper is now accepted into JOSS :zap: :rocket: :boom:

[2018-11-07 15:16] #955 closed

[2018-11-07 15:16] whedon commented on #955
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/.00955/status.svg)](https://doi.org/10.21105/.00955)

**We need your help!**

Journal of Open Source Software is a c

[2018-11-07 15:44] MikeHeiber commented on #1011
@arfon @labarba It's now been 4 weeks since submission.  I understand that sometime things are busy, but   it should not take so long to start assigning reviewers.  Is there possibly another editor available that has time to handle this submission?

[2018-11-07 16:37] acolum commented on #1054
Yes, I'd be willing to review this submission. This would be my first time reviewing for JOSS, so I'd appreciate some guidance.

[2018-11-07 17:06] whedon commented on #1023
[code]

[2018-11-07 17:29] arvestad commented on #955
@arfon Hi, just a small note: the Markdown badge does not contain the right DOI. Should I file this as an issue somewhere? I edited it by hand, of course, so no big deal, but some users may not notice the error.

[2018-11-07 22:19] arfon commented on #955
@arvestad - this was a bug earlier. This _should_ be fixed now.

[2018-11-07 22:20] arfon commented on #1011
:wave: @katyhuff - would you be willing to edit this for JOSS?

[2018-11-07 22:43] brainstorm commented on #1067
@whedon assign @reisingerf as reviewer

[2018-11-07 22:43] whedon commented on #1067
OK, the reviewer is @reisingerf

[2018-11-07 22:45] MikeHeiber commented on #1011
@arfon Thank you for trying to move this along.  With the traditional publishers that I submit to, most of the time is spent waiting for the reviewers to assess the technical aspects of the work and not on waiting for the editors to make initial editorial decisions and sending the manuscript out for review.  I am happy to put in some more work to comb over the reviewer list again and suggest revie

[2018-11-07 22:45] brainstorm commented on #1067
@whedon start review magic-word=bananas

[2018-11-07 22:45] whedon opened #1069 "[REVIEW]: hotsub - Command line tool to run batch jobs with ETL framework concurrently on cloud services"
**Submitting author:** @otiai10 (<a href="http://orcid.org/0000-0001-6636-856X">Hiromu Ochiai</a>)
**Repository:** <a href="https://github.com/otiai10/hotsub" target ="_blank">https://github.com/otiai10/hotsub</a>
**Version:** v0.10.0
**Editor:** @brainstorm
**Reviewer:** @reisingerf
**Archive:** <a href="https://doi.org/10.5281/zenodo.1482983" target="_blank">10.5281/zenodo.1482983</a>

## Status

[2018-11-07 22:45] whedon commented on #1067
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1069. Feel free to close this issue now!

[2018-11-07 22:45] whedon commented on #1069
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @reisingerf it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-11-07 22:45] whedon commented on #1069
[code]

[2018-11-07 22:46] whedon commented on #1069
PDF failed to compile for issue #1069 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0

[2018-11-07 22:46] #1067 closed

[2018-11-07 22:53] brainstorm commented on #1069
@otiai10, could you please correct your `paper.bib`? See error above. Also, in the statement of need, I think that https://github.com/base2genomics/batchit should be pointed out perhaps?

[2018-11-07 22:54] cMadan commented on #1046
@Kevin-Mattheus-Moerman, are we good to start the review issue, or is there anything else to get sorted first?

[2018-11-08 01:59] dlagrava commented on #1060
Hello @trallard, sorry for the late response. I could try to do the review, but lately I have been busier than normal, so it may take longer. If that is OK with you then I will start.

[2018-11-08 03:40] otiai10 commented on #1069
@brainstorm
Thank you. I will

- [ ] Fix `bib` format
- [ ] Update `README.md` and `paper.md` to specify the statement of need more clearly
- [ ] Write available functionalities on `README.md` more clearly
- [ ] Add `CONTRIBUTING.md`

[2018-11-08 08:14] lucydot commented on #1068
@katyhuff @mikaem I’d be very happy to review.

[2018-11-08 08:44] Kevin-Mattheus-Moerman commented on #1046
I was hoping to find another reviewer but no luck as of yet. I'll start the review process so we can get going.

[2018-11-08 08:44] Kevin-Mattheus-Moerman commented on #1046
@whedon start review magic-word=bananas

[2018-11-08 08:44] whedon opened #1070 "[REVIEW]: ElGateau: A Library for Using the Elgato Stream Deck for Experimental Psychology Research"
**Submitting author:** @cMadan (<a href="http://orcid.org/0000-0003-3228-6501">Christopher R Madan</a>)
**Repository:** <a href="https://github.com/cMadan/ElGateau" target ="_blank">https://github.com/cMadan/ElGateau</a>
**Version:** v1.0.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @JonathanReardon
**Archive:** <a href="https://doi.org/10.5281/zenodo.1525298" target="_blank">10.5281/zenodo

[2018-11-08 08:44] whedon commented on #1046
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1070. Feel free to close this issue now!

[2018-11-08 08:44] whedon commented on #1070
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JonathanReardon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2018-11-08 08:44] whedon commented on #1070
[code]

[2018-11-08 08:44] #1046 closed

[2018-11-08 08:45] whedon commented on #1070
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01070/joss.01070/10.21105.joss.01070.pdf)

[2018-11-08 09:01] trallard commented on #1060
Hi @dlagrava no worries that would be perfect, we ideally want reviews to be conducted within a couple of weeks but taking longer than that should not be an issue, we can always accommodate and work around reviewer's availability. Does this sound reasonable?

[2018-11-08 09:28] cMadan commented on #1046
Fyi., @Kevin-Mattheus-Moerman, the magic-word isn't needed anymore. `@whedon start review` is sufficient.

[2018-11-08 09:31] fclubb commented on #1066
Hi @rmsare, thanks for submitting this, the package looks really useful. Here are some notes/comments, which I think are mostly similar those that @mcflugen mentioned.

### Installation and functionality
- Installation worked for me with `pip` but I couldn't get the code to run due to issues with gdal (rmsare/scarplet#62).  I think it would be better to have an environment file so that the gdal in

[2018-11-08 09:57] trallard commented on #1040
@SimonGreenhill gentle ping. I think this is there for acceptance but I would like to check about the DOI version. Would you be interested in uploading/sync to `1.0.3` so that the version here and the DIO versions match?
I also noticed that in Zendo the package name is _Treemaker v1_ you might want to edit it to remove the v1

[2018-11-08 09:58] SimonGreenhill commented on #1040
That makes sense, thanks! I'll get onto that shortly.

[2018-11-08 10:11] SimonGreenhill commented on #1040
Ok, I realised there were mismatching version numbers (1.1 and 1.03) so I've released a new version 1.2, and the [Zenodo version](https://zenodo.org/record/1480504) has been updated.

I think this fixes the "Treemaker v1" issue too -- I can't see it. Could you please double-check for me?

[2018-11-08 10:37] lindsayad commented on #1068
I can review if another reviewer is still needed

[2018-11-08 11:31] trallard commented on #1040
It all looks good to me now @SimonGreenhill

[2018-11-08 11:31] trallard commented on #1040
@whedon set 10.5281/zenodo.1480504 as archive

[2018-11-08 11:31] whedon commented on #1040
OK. <a href="https://doi.org/10.5281/zenodo.1480504" target="_blank">10.5281/zenodo.1480504</a> is the archive.

[2018-11-08 11:33] trallard commented on #1040
@arfon : This submission is accepted and ready to be published 🎉

@RichardLitt @deniederhut thank you very much for your time and valuable contribution to JOSS as reviewers for this submission

[2018-11-08 11:34] katyhuff commented on #1068
Two will be perfect! Thanks @lucydot @lindsayad !

[2018-11-08 11:35] katyhuff commented on #1068
@whedon assign @lucydot as reviewer

[2018-11-08 11:35] whedon commented on #1068
OK, the reviewer is @lucydot

[2018-11-08 11:35] katyhuff commented on #1068
@whedon add @lindsayad as reviewer

[2018-11-08 11:35] whedon commented on #1068
OK, @lindsayad is now a reviewer

[2018-11-08 11:36] katyhuff commented on #1068
@whedon start review

[2018-11-08 11:36] whedon opened #1071 "[REVIEW]: Shenfun: High Performance Computing Platform for the Spectral Galerkin method"
**Submitting author:** @mikaem (<a href="http://orcid.org/0000-0002-3293-7573">Mikael Mortensen</a>)
**Repository:** <a href="https://github.com/spectralDNS/shenfun" target ="_blank">https://github.com/spectralDNS/shenfun</a>
**Version:** 1.2.1
**Editor:** @katyhuff
**Reviewer:** @lucydot, @lindsayad
**Archive:** <a href="https://doi.org/10.5281/zenodo.1491713" target="_blank">10.5281/zenodo.14917

[2018-11-08 11:36] whedon commented on #1068
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1071. Feel free to close this issue now!

[2018-11-08 11:36] whedon commented on #1071
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lucydot, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-11-08 11:37] whedon commented on #1071
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01071/joss.01071/10.21105.joss.01071.pdf)

[2018-11-08 11:37] katyhuff commented on #1068
Ok! @mikaem , @lucydot , @lindsayad : We'll close this issue and continue the review over in #1071.

[2018-11-08 11:37] #1068 closed

[2018-11-08 11:48] SimonGreenhill commented on #1040
Wonderful, thanks for all the input and help everyone!

[2018-11-08 11:49] fospald commented on #1027
Hi, what to do next?

[2018-11-08 12:03] katyhuff commented on #1011
@MikeHeiber This level of materials science is slightly beyond my wheelhouse, so I spent a few hours on the plane looking over your submission to understand the purpose. At this point, I think I grok it, and I'm certainly happy to help out in finding reviewers unless @labarba has an objection ( @labarba I know you're on travel and juggling more papers than most, but if you object to changing edito

[2018-11-08 12:03] katyhuff commented on #1011
@whedon assign @katyhuff as editor

[2018-11-08 12:03] whedon commented on #1011
OK, the editor is @katyhuff

[2018-11-08 12:05] RichardLitt commented on #1040
Thanks for the opportunity to learn more about trees. 🌲

[2018-11-08 12:12] katyhuff commented on #1011
Now, @MikeHeiber ,  let's ping a few fitting reviewers, with materials science, physics, and c or c++ expertise. We can start the review once two or three of them accept the request to review.

----

Dear reviewers,

- @stuartcampbell as suggested: Stuart, are you able to and interested in taking on this review?
- @mdoucet  Mathieu, are you able to and interested in taking on this review?
- @jochy

[2018-11-08 12:22] myousefi2016 commented on #1011
Hi, I’m interested to review this software.

[2018-11-08 12:31] katyhuff commented on #1011
@myousefi2016 Excellent! Thank you for the prompt response. We'll get started as soon as a couple of folks volunteer.

[2018-11-08 12:49] stuartcampbell commented on #1011
@katyhuff yes I'm happy to help

[2018-11-08 13:00] katyhuff commented on #1011
Fabulous, thanks @stuartcampbell ! I'll give the other reviewers another few hours to volunteer if they're interested before we start the review. Three is always slightly better than two if folks are interested!

[2018-11-08 13:01] katyhuff commented on #1011
@whedon assign @myousefi2016 as reviewer

[2018-11-08 13:01] whedon commented on #1011
OK, the reviewer is @myousefi2016

[2018-11-08 13:01] katyhuff commented on #1011
@whedon add @stuartcampbell as reviewer

[2018-11-08 13:01] whedon commented on #1011
OK, @stuartcampbell is now a reviewer

[2018-11-08 13:02] katyhuff commented on #1011
@whedon list reviewers

[2018-11-08 13:02] whedon commented on #1011
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-11-08 14:33] mdoucet commented on #1011
@katyhuff I’m happy to help

[2018-11-08 14:50] arfon commented on #1040
@whedon accept

[2018-11-08 14:50] whedon commented on #1040
[code]

[2018-11-08 14:51] whedon commented on #1040
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/61

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/61, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-11-08 14:52] sydnerecord commented on #1041
In the man files for hill_func.Rd, there is an argument {div_by_sp}{as FD calculated in this way will be highly correlated with taxonomic diversity, one simple way to correct this is to divide the results by the number of species. Default is FALSE.}
I'm not sure it it is really ok to simply correct by dividing the results by the number of species? Perhaps this issues requires a bit more context fo

[2018-11-08 14:52] arfon commented on #1040
@whedon accept deposit=true

[2018-11-08 14:52] whedon commented on #1040
[code]

[2018-11-08 14:53] whedon commented on #1040
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/62
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01040](https://doi.org/10.21105/joss.01040)
2. If everything looks goo

[2018-11-08 14:59] arfon commented on #1040
@RichardLitt, @deniederhut - many thanks for your reviews here and to @trallard for editing this submission ✨

@SimonGreenhill - your paper is now accepted into JOSS ⚡️🚀💥

[2018-11-08 14:59] #1040 closed

[2018-11-08 14:59] whedon commented on #1040
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01040/status.svg)](https://doi.org/10.21105/joss.01040)

**We need your help!**

Journal of Open Source Softwar

[2018-11-08 15:02] arfon commented on #1041
Please leave this issue open. An editor will close the issue once the paper has completed review

[2018-11-08 15:16] deniederhut commented on #1040
Congrats @SimonGreenhill !!

[2018-11-08 15:24] daijiang commented on #1041
The reason for this is because of CRAN's license policy...

[2018-11-08 15:36] anmuller commented on #927
Thanks for your comments. This is also our first time here and we are sorry if we are not that efficient in answering to everything quickly. Please find the answers of your comments/recommandations. Also a new version of CusToM was committed.

Reviewer 1 : @Kevin-Mattheus-Moerman

Can you please work on adding community guidelines? I recommend adding a CONTRIBUTING.md and a CODE_OF_CONDUCT.md file

[2018-11-08 15:38] SimonGreenhill commented on #1040
Awesome, thanks everyone, the review process really made this package better!

[2018-11-08 16:29] ailiop commented on #1062
@arokem : I have pushed a new release (v1.0.1) to fix a couple of bugs I just found. Is it possible to update the review issue to target v1.0.1 instead of v1.0.0?

[2018-11-08 16:48] karthik commented on #1041
@sydnerecord MIT is an approved OSI license (https://opensource.org/licenses/alphabetical) so that is perfectly ok here. For specific issues with the software, (in future) please open issues on the submitted repo and add `openjournals/joss-reviews#1041`  to crosslink here.

[2018-11-08 18:42] jedbrown commented on #1027
@ctdegroot How is your review going?

[2018-11-08 22:39] katyhuff commented on #1011
Thank you @mdoucet !

[2018-11-08 22:39] katyhuff commented on #1011
@whedon add @mdoucet as reviewer

[2018-11-08 22:39] whedon commented on #1011
OK, @mdoucet is now a reviewer

[2018-11-08 22:39] katyhuff commented on #1011
@whedon start review

[2018-11-08 22:39] whedon opened #1072 "[REVIEW]: Ising_OPV v4.0: Experimental Tomography Data Import, Interpretation, and Analysis"
**Submitting author:** @MikeHeiber (<a href="http://orcid.org/0000-0002-1567-5663">Michael Heiber</a>)
**Repository:** <a href="https://github.com/MikeHeiber/Ising_OPV" target ="_blank">https://github.com/MikeHeiber/Ising_OPV</a>
**Version:** v4.0.0
**Editor:** @katyhuff
**Reviewer:** @myousefi2016, @stuartcampbell, @mdoucet
**Archive:** <a href="https://doi.org/10.5281/zenodo.1710685" target="_bl

[2018-11-08 22:39] whedon commented on #1011
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1072. Feel free to close this issue now!

[2018-11-08 22:39] whedon commented on #1072
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @myousefi2016, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2018-11-08 22:39] whedon commented on #1072
[code]

[2018-11-08 22:40] whedon commented on #1072
PDF failed to compile for issue #1072 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    329      0 --:--:-- --:--:-- --:--:--   333
pandoc-citeproc:

[2018-11-08 22:41] katyhuff commented on #1011
Hi Folks, We'll conduct the review over in #1072 !

[2018-11-08 22:41] #1011 closed

[2018-11-09 01:53] rljacobson commented on #1054
I am happy to review this submission. Like @acolum, this would be my first time reviewing for JOSS, but I fully support its mission and look forward to participating!

For the record, I am [Robert Jacobson, Assistant Professor of Mathematics at Roger Williams University](https://www.rwu.edu/academics/schools-and-colleges/fssns/faculty/robert-jacobson). I hold a PhD in mathematics and have a signif

[2018-11-09 02:08] halirutan commented on #1054
@danielskatz It seems we have found two reviewers. How do we go from here? Do they need your final Go?

@whedon generate pdf

[2018-11-09 02:48] reisingerf commented on #1069
@otiai10 could you please also put the output of `hotsub run --help` in the `README.md`?
It shows a lot of options and default values that are mentioned nowhere in the documentation.

[2018-11-09 02:56] brainstorm commented on #1055
Reaching out to other reviewers, hard to find former colleagues and acquaintances with **quantum** expertise within my circles :-S

[2018-11-09 04:43] arokem commented on #1062
@whedon assign @Kevin-Mattheus-Moerman as reviewer

[2018-11-09 04:43] whedon commented on #1062
OK, the reviewer is @Kevin-Mattheus-Moerman

[2018-11-09 04:44] arokem commented on #1062
Thanks @Kevin-Mattheus-Moerman! 👏

@ailiop: I wouldn't worry about the version number. The reviewer will look at the most recent version of the software, and we'll probably want you to make another release at the end of the review to incorporate any changes due to the review anyway.

[2018-11-09 04:57] kapsakcj commented on #1021
Hi everyone, I apologize for the delay in reviewing, but I've finally found a chance to give TipToft a proper review. I'm very impressed with TipToft and will likely eventually incorporate it into the software pipelines at where I work (public health lab). Thank you for developing it! I'm your target audience! We'll be doing nanopore sequencing soon and TipToft will be perfect.

It's not so often

[2018-11-09 05:12] ailiop commented on #1062
@arokem : Great, that makes sense. Thank you.

[2018-11-09 09:01] Kevin-Mattheus-Moerman commented on #927
@demotu are you able to join the review process at this stage? Thanks!

[2018-11-09 09:04] Kevin-Mattheus-Moerman commented on #1021
Thanks @kapsakcj for your review contribution! :tada:

[2018-11-09 09:04] Kevin-Mattheus-Moerman commented on #1021
@ctb, @azneto, can you give an update as to when you are able to review this work? Thanks! :robot:

[2018-11-09 11:04] danielskatz commented on #1054
Thanks @acolum and @rljacobson  - I'll start the review now in a new issue

[2018-11-09 11:05] danielskatz commented on #1054
@whedon assign @acolum as reviewer

[2018-11-09 11:05] whedon commented on #1054
OK, the reviewer is @acolum

[2018-11-09 11:05] danielskatz commented on #1054
@whedon add @rljacobson as reviewer

[2018-11-09 11:05] whedon commented on #1054
OK, @rljacobson is now a reviewer

[2018-11-09 11:05] danielskatz commented on #1054
@whedon start review

[2018-11-09 11:05] whedon opened #1073 "[REVIEW]: Rule-based Integration -- An extensive system of symbolic integration rules"
**Submitting author:** @halirutan (<a href="http://orcid.org/0000-0003-0361-9063">Patrick Scheibe</a>)
**Repository:** <a href="https://github.com/RuleBasedIntegration/JOSS-Publication" target ="_blank">https://github.com/RuleBasedIntegration/JOSS-Publication</a>
**Version:** 4.16.0.4
**Editor:** @danielskatz
**Reviewer:** @acolum, @rljacobson
**Archive:** <a href="https://doi.org/10.5281/zenodo.2

[2018-11-09 11:05] whedon commented on #1054
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1073. Feel free to close this issue now!

[2018-11-09 11:05] whedon commented on #1073
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @acolum, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-11-09 11:05] whedon commented on #1073
[code]

[2018-11-09 11:06] whedon commented on #1073
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01073/joss.01073/10.21105.joss.01073.pdf)

[2018-11-09 11:11] danielskatz commented on #1073
:wave: @acolum and @rljacobson - please go ahead and get started.  Read the opening comment in this issue carefully, and also take a look at the [JOSS reviewer guidance](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).  In brief, you perform your review and check the boxes above when you are satisfied with an item, and open issues in the [paper repository].  (https://github.com/Rul

[2018-11-09 11:11] #1054 closed

[2018-11-09 14:53] MikeHeiber commented on #1072
@whedon generate pdf from branch joss-edits

[2018-11-09 14:53] whedon commented on #1072
[code]

[2018-11-09 14:53] whedon commented on #1072
PDF failed to compile for issue #1072 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    320      0 --:--:-- --:--:-- --:--:--   326
Error producing P

[2018-11-09 14:55] MikeHeiber commented on #1072
@arfon Could you compile the again locally for me from the joss-edits branch?  Still not sure why the compilation is failing.

[2018-11-09 16:01] arfon commented on #1072
Sure thing: [10.21105.joss.01072.pdf](https://github.com/openjournals/joss-reviews/files/2566544/10.21105.joss.01072.pdf)

[2018-11-09 16:53] whedon opened #1074 "[PRE REVIEW]: A MATLAB toolbox to detect and analyze marine heatwaves"
**Submitting author:** @ZijieZhaoMMHW (<a href="http://orcid.org/0000-0003-3403-878X">Zijie Zhao</a>)
**Repository:** <a href="https://github.com/ZijieZhaoMMHW/m_mhw1.0" target ="_blank">https://github.com/ZijieZhaoMMHW/m_mhw1.0</a>
**Version:** v1.0
**Editor:** @kthyng
**Reviewers:** @mvdh7

**Author instructions**

Thanks for submitting your paper to JOSS @ZijieZhaoMMHW. The JOSS editor (shown a

[2018-11-09 16:53] whedon commented on #1074
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-11-09 16:53] whedon commented on #1074
[code]

[2018-11-09 16:53] whedon commented on #1074
Failed to discover a valid open source license.

[2018-11-09 16:54] whedon commented on #1074
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01074/joss.01074/10.21105.joss.01074.pdf)