[2022-11-03 15:46] tkoskela commented on #4906
@editorialbot generate my checklist

[2022-11-03 15:52] kingyin3613 commented on #4841
@Kevin-Mattheus-Moerman How many reviewers should I invite at least? Do they have to be active recently on GitHub?

[2022-11-03 15:59] dataplayer12 commented on #4532
Hi, sorry for taking longer than anticipated.
* Having read through the paper, the code and other reviewer's comments, **I recommend accepting this manuscript**.

* As @yhtang pointed out in particular, the CUDA code isn't the highest quality and does leave performance on the table. However, I believe it would be unfair to compare the author's implementation against some theoretically optimal solu

[2022-11-03 16:09] Kevin-Mattheus-Moerman commented on #4841
@kingyin3613 please do not invite any reviewers. Only myself as an editor will invite them. I am only saying that if you'd like to suggest reviewers the you may do so, and, once again, please do so by mentioning their GitHub handles here in a comment **without** using the `@` symbols. I will then check these reviewers and will invite them if I find them suitable. Since the review takes place on Gi

[2022-11-03 16:24] kingyin3613 commented on #4841
@Kevin-Mattheus-Moerman Thanks for clarifying, my wording "invite" was misleading, I am actually talking about suggesting reviewers. I am still waiting for responses from my candidates, I will let you know if I can not find any or mention them here asap.

[2022-11-03 16:46] pibion commented on #4818
@zhanghe9704 I'm having trouble compiling the libraries and binaries.  I've tried with CodeBlocks, but it seems to be having trouble recognizing that the default compiler is gcc.  I've tried opening and building `cbp/tpsa_dll.cbp` and `cbp/tpsa_lib.cbp`.  In both cases I get the following error:

[code]

I suspect the issue here is that I don't actually have a gcc compiler installed that codeblock

[2022-11-03 16:56] jranalli commented on #4757
@editorialbot generate pdf

[2022-11-03 17:01] jranalli commented on #4757
This one appears to resolve correctly in the paper, and the [link](https://doi.org/10.18260/1-2--32083) works. It seems like the `--` is parsing incorrectly in editorialbot's tests?
![image](https://user-images.githubusercontent.com/7864460/199768402-1c4af763-8703-407d-b224-894f6374d916.png)

That will likely be a similar issue with the (now fixed) peer.asee.org paper, as it has the same string in

[2022-11-03 17:02] jranalli commented on #4757
@editorialbot generate pdf

[2022-11-03 17:03] graciellehigino commented on #4812
@editorialbot add @chrisborges as reviewer

[2022-11-03 17:10] vchuravy commented on #116
:warning: [An error happened when generating the pdf](https://github.com/JuliaCon/proceedings-papers/actions/runs/3387758458?check_suite_focus=true).

[2022-11-03 17:14] vchuravy commented on #101
:warning: [An error happened when generating the pdf](https://github.com/JuliaCon/proceedings-papers/actions/runs/3387796496?check_suite_focus=true).

[2022-11-03 17:16] pibion commented on #4818
@zhanghe9704 I was able to compile the libraries and tests in WSL by installing g++ :D.  However, when I try to run the `tests` executable, I get a segmentation fault in addition to the tests passing:

[code]

Have you encountered this before?

Still working on Codeblocks, if you have any suggestions I'd be grateful!

[2022-11-03 17:23] meg-simula commented on #3842
@editorialbot check references

[2022-11-03 17:23] meg-simula commented on #3842
@editorialbot generate pdf

[2022-11-03 17:29] meg-simula commented on #3842
@EtienneCmb I've read through the revised manuscript and find it very accessible, readable and interesting. Thank you for all of your work with the revisions, and @travisbthomp @madvn for the reviews.

[2022-11-03 17:29] meg-simula commented on #3842
@EtienneCmb Could you comment on the references missing DOIs above? Are these expected or addressable?

[2022-11-03 18:35] csoneson commented on #4887
@editorialbot assign @csoneson as editor

[2022-11-03 18:35] csoneson commented on #4889
@editorialbot assign @csoneson as editor

[2022-11-03 18:36] csoneson commented on #4889
👋🏻 @milnus - I will handle your submission, and start by finding two suitable reviewers (thanks for the suggestions above!)

[2022-11-03 18:38] EtienneCmb commented on #3842
Thank you @meg-simula, indeed, the comments of the reviewers helped a lot in clarifying the manuscript.

I checked all 5 doi are correct. Please find below the hyperlinks to the papers if you want to double check:

1. [xarray: ND labeled arrays and datasets in Python](https://openresearchsoftware.metajnl.com/articles/10.5334/jors.148/?utm_source=TrendMD&utm_medium=cpc&utm_campaign=Journal_of_Open_

[2022-11-03 18:39] csoneson commented on #4889
👋🏻 @karinlag, @asafpr, @giraola - would (two of) you be interested in reviewing this submission for JOSS?

[2022-11-03 18:40] csoneson commented on #4887
👋🏻 @ajkswamy - I will handle your submission and start by finding two suitable reviewers. If you have suggestions (e.g. from the list in the first post above), feel free to let me know!

[2022-11-03 18:43] giraola commented on #4889
I am out-of-office right now, but I think @iferres can be interested in
having a look at it.

El jue, 3 nov 2022 a las 15:39, Charlotte Soneson ***@***.***>)
escribió:

--
-------------------------------------------------
*Gregorio Iraola, Ph.D.                         *

Group Leader
Microbial Genomics Lab <http://iraola-lab.com>
Institut Pasteur Montevideo
Mataojo 2020, Montevideo, Uruguay

Inte

[2022-11-03 18:49] csoneson commented on #4889
@iferres - would you be interested in reviewing this submission for JOSS (see [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for more information about our reviewing model)?

[2022-11-03 18:52] leotrs commented on #4899
This makes perfect sense, thank you! I would suggest that you add a note regarding these matters to your package's README. Specifically, I'd suggest mentioning that your package does not work in the Wolfram Cloud, and that the Wolfram Engine works but is not recommended.

[2022-11-03 18:56] editorialbot opened #4907 "[PRE REVIEW]: EISPAC - The EIS Python Analysis Code"
**Submitting author:** @MJWeberg (<a href="http://orcid.org/0000-0002-4433-4841">Micah J. Weberg</a>)
**Repository:** https://github.com/USNavalResearchLaboratory/eispac
**Branch with paper.md** (empty if default branch):
**Version:** v0.93.3
**Editor:** @mbobra
**Reviewers:** @nabobalis, @PaulJWright
**Managing EiC:** Dan Foreman-Mackey

## Status

[![status](https://joss.theoj.org/papers/d41bb77

[2022-11-03 18:58] alekseyzimin commented on #4832
@editorialbot generate pdf

[2022-11-03 18:59] meg-simula commented on #3842
@editorialbot check references

[2022-11-03 18:59] meg-simula commented on #3842
@editorialbot generate pdf

[2022-11-03 19:02] meg-simula commented on #3842
@EtienneCmb Thanks for checking - could you please also add the DOis to the paper references? (So that they are not missing DOIs anymore.)

[2022-11-03 19:06] dfm commented on #4907
@MJWeberg — Thanks for your submission! I'm the managing editor for this JOSS track and I'm working on getting a topic editor assigned to this review. I'll update here with more information soon.

[As you'll see above](https://github.com/openjournals/joss-reviews/issues/4907#issuecomment-1302540865) the PDF for the manuscript is failing to compile because of an invalid ORCID error:

[code]

In the

[2022-11-03 19:06] EtienneCmb commented on #3842
@meg-simula ah yes, exact, doi are missing in the bibtex file. I update right now

[2022-11-03 19:10] hjwilli commented on #4833
Hi JOSS team, my team came up with some [potential reviewers](https://docs.google.com/spreadsheets/d/1zMc-QG1l2hoDVCrbjqn4ezAAIlGgOihVGwU704qhX70/edit?usp=sharing) for this paper. Please let us know if there is anything you need from us to move things forward! Thank you!

mgiardino
chaoran-chen
KonradHoeffner
ThomasThelen
reality
kinow
wetneb
UTH-Tuan

[2022-11-03 19:13] EtienneCmb commented on #3842
@editorialbot check references

[2022-11-03 19:14] EtienneCmb commented on #3842
@editorialbot generate pdf

[2022-11-03 19:15] EtienneCmb commented on #3842
@meg-simula I think it's good now

[2022-11-03 19:19] meg-simula commented on #3842
Very nice, thank you @EtienneCmb.

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper t

[2022-11-03 19:33] MaximLippeveld commented on #4832
I'm willing to review :slightly_smiling_face:

[2022-11-03 19:58] EtienneCmb commented on #3842
- [x] Version tag [v0.4.3](https://github.com/brainets/frites/tree/v0.4.3)
- [x] doi of the archived : 10.5281/zenodo.7278278

[2022-11-03 20:06] cgrudz commented on #4129
@diehlpk, I have removed most of the deprecated example scripts from the file, now bringing the coverage to above 70%, I hope this is satisfactory.

[2022-11-03 20:11] diehlpk commented on #4129
Thanks. I think that looks much better.

[2022-11-03 20:12] diehlpk commented on #4129
@tmigot Do you agree with 70%?

[2022-11-03 20:15] cgrudz commented on #4129
@diehlpk, thanks for the suggestions, I have implemented the [further headings](https://cgrudz.github.io/DataAssimilationBenchmarks.jl/dev/home/Getting%20Started/#Installation), and I think I should clarify the scope of the package.  The use case for the software is developing the dev package for research purposes, where the standalone methods have very little functionality by themselves.  New exp

[2022-11-03 20:17] taylorbell57 commented on #4503
@dfm

1. Done!
2. Done - the version number is: v0.6
3. Done - the DOI is: 10.5281/zenodo.7278300

[2022-11-03 20:18] cgrudz commented on #4129
@diehlpk, I have [copied source code into the documentation](https://cgrudz.github.io/DataAssimilationBenchmarks.jl/dev/submodules/experiments/ParallelExperimentDriver/) directly from the `ParallelExperimentDriver.jl` as discussed above to illustrate how an experiment is run.  The expectation again is that a user needs to define the parameters of interest for themself and to create a similar const

[2022-11-03 20:19] tmigot commented on #4129
It is better to have the available code tested. This is good now, thanks!

[2022-11-03 20:20] MJWeberg commented on #4907
@dfm , thanks for the notice! Sorry about the placeholder number, that was a silly mistake on my part. That coauthor does not have an ORCID and I have updated the manuscript accordingly.

[2022-11-03 20:37] alekseyzimin commented on #4832
@editorialbot add @MaximLippeveld as reviewer

[2022-11-03 20:53] meg-simula commented on #3842
@editorialbot set 10.5281/zenodo.7278278 as archive

[2022-11-03 20:54] meg-simula commented on #3842
@editorialbot set v0.4.3 as version

[2022-11-03 20:55] meg-simula commented on #3842
@editorialbot recommend-accept

[2022-11-03 21:10] EtienneCmb commented on #3842
@meg-simula I checked the final proof, everything seems correct :)

[2022-11-03 21:18] meg-simula commented on #3842
Great! Now, we are just waiting for one of editors-in-chief to take a look at it - no need to take further action from your side.

[2022-11-03 21:33] OHildreth commented on #4752
@dhhagan
Thanks, it took me some time to fix everything in the manuscript, have some students in my group members review the manuscript for clarity and typos, and get the paper to compile cleanly.

I've responded to all of the comments and closed the simplest ones.  **Should I close the rest of the issues or leave them open** until the Reviewers and Editors have verified that I've sufficiently add

[2022-11-03 21:49] gtonkinhill commented on #4832
It looks like there might be enough reviewers already but I am happy to review if needed.

[2022-11-03 22:01] Kevin-Mattheus-Moerman commented on #4841
No need to contact them. You can just list the names here and I can contact them if needed.

[2022-11-03 22:05] Kevin-Mattheus-Moerman commented on #4742
@LTLA :wave: :point_up:

[2022-11-03 22:06] Kevin-Mattheus-Moerman commented on #4333
@jonathanHuwP :wave: :point_up:

[2022-11-03 22:48] jarrah42 commented on #4752
@editorialbot generate my checklist

[2022-11-03 22:50] rtmills commented on #4531
Hi @kyleniemeyer. We have made the changes to the references that you have asked for and I have pushed this to our Gitlab repo.

[2022-11-03 23:13] dfm commented on #4907
@editorialbot generate pdf

[2022-11-03 23:22] dfm commented on #4503
@editorialbot set v0.6 as version

[2022-11-03 23:22] dfm commented on #4503
@editorialbot set 10.5281/zenodo.7278300 as archive

[2022-11-03 23:23] dfm commented on #4503
@editorialbot recommend-accept

[2022-11-03 23:29] dfm commented on #4503
@editorialbot accept

[2022-11-03 23:32] dfm commented on #4503
@catrionamurray, @christinahedges — Many thanks for your constructive reviews! JOSS is a volunteer effort and we couldn't do it without people like you.

@taylorbell57 — Your paper has now been published in JOSS! Thanks for your submission, and your responses to all the reviewer comments.

[2022-11-03 23:32] #4503 closed

[2022-11-03 23:45] diehlpk commented on #4129
I think that improved the concerns. @tmigot  please have a look?

[2022-11-03 23:48] diehlpk commented on #4129
Please make sure to emphasize this in the paper and documentation.

[2022-11-04 00:25] jgostick commented on #4757
@editorialbot check references

[2022-11-04 00:37] jgostick commented on #4757
Yes, there does seem to be a bug in joss's doi parser. I can confirm that the '--' are missing from the editorialbot output and if I put them back in, the doi resolves just fine.  I'll figure how to report this to the team.

[2022-11-04 00:43] jgostick commented on #4757
I opened an issue [here](https://github.com/openjournals/joss/issues/1156).  I think for now we can proceed with the process.

[2022-11-04 00:49] danielskatz commented on #4757
@xuanxu - any thoughts here?

[2022-11-04 01:25] tijeco commented on #4775
@mikldk  and @kavir1698 I've finished my review! This is a really awesome library, and I'm excited to see the many fun studies that come out that use this library!

I definitely recommend publication.

[2022-11-04 01:27] nicoguaro commented on #4901
@editorialbot generate my checklist

[2022-11-04 01:47] lpantano commented on #4832
thank you everybody!

[2022-11-04 01:47] lpantano commented on #4832
@editorialbot start review

[2022-11-04 01:47] editorialbot opened #4908 "[REVIEW]: Metagenomic classification with KrakenUniq on low-memory computers"
**Submitting author:** @salzberg (<a href="http://orcid.org/0000-0002-8859-7432">Steven Salzberg</a>)
**Repository:** https://github.com/fbreitwieser/krakenuniq
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.3
**Editor:** @lpantano
**Reviewers:** @Jessime, @MaximLippeveld
**Archive:** 10.5281/zenodo.7459217

## Status

[![status](https://joss.theoj.org/papers/0558bc421e6167f

[2022-11-04 01:47] #4832 closed

[2022-11-04 02:45] tonyewong commented on #4805
@mabesa Could a bit more be said in the Summary section of the paper about how this package might be useful in some broader applications, beyond specifically for students? I can appreciate that much of this was developed for a course, but I can also see how this sort of software will be useful for practitioners and researchers, in addition to students.

Then in Statement of Need/Related packages,

[2022-11-04 03:13] vlad0x00 commented on #4720
The v1.4.9 version is the latest release and reflects the functionality described in the paper, and has the performance characteristics tested by the reviewers, so I think it's a sensible version to use for JOSS. I can make a new release, but it'd basically be identical to v1.4.9.

I've updated the Zenodo archive (https://zenodo.org/record/7275416) version to be named "v1.4.9". It reflects the Git

[2022-11-04 05:05] psanan commented on #4531
@editorialbot generate pdf

[2022-11-04 06:04] MarieRoald commented on #4754
Great! Thanks @faroit! We have created a [new release (v0.1.6)](https://github.com/tensorly/viz/releases/tag/v0.1.6) and DOI: [10.5281/zenodo.7274925](https://doi.org/10.5281/zenodo.7274925)

[2022-11-04 06:22] LTLA commented on #4742
Thanks @Kevin-Mattheus-Moerman, changed as suggested.

[2022-11-04 06:22] LTLA commented on #4742
@editorialbot generate pdf

[2022-11-04 06:33] vlad0x00 commented on #4720
The v1.4.9 version is the currently latest release and reflects the functionality described in the paper, and has the performance characteristics tested by the reviewers, so I think it's a sensible version to use for JOSS. `joss-release` and `joss-release2` were functionally identical to v1.4.9 but were on the `paper` branch instead, which contains the manuscript.

I've updated the Zenodo archive

[2022-11-04 06:33] karinlag commented on #4889
I have to decline, but may I suggest @evezeyl?

[2022-11-04 06:33] vlad0x00 commented on #4720
@editorialbot generate pdf

[2022-11-04 06:55] hugoledoux commented on #4664
@editorialbot generate pdf

[2022-11-04 06:59] hugoledoux commented on #4664
The archive doesn't have the correct metadata: only one author is there.

The list of authors should be exactly the same as that of the paper.

[2022-11-04 07:03] hugoledoux commented on #4521
@Solonets I realise that we left this discussion a bit unclear. Are you currently working on at least documenting the performances, or in improving it?

If you need more time, I can also put the submission on hold before you fix this.

[2022-11-04 07:04] hugoledoux commented on #4681
@gattia any updates, it's been a "little while".

If you need more time, maybe I can also put the submission on hold?

[2022-11-04 07:15] Nikoleta-v3 commented on #4711
@raybecker sorry to ping you again, but do you think you will be able to review this submission after all? 😄

[2022-11-04 07:19] MaximLippeveld commented on #4908
@editorialbot generate my checklist

[2022-11-04 07:48] Rocsg commented on #4856
Hello @britta-wstnr!
Thank you very much for this information and for your follow-up.
I am available for any request.

[2022-11-04 08:33] csoneson commented on #4889
@evezeyl - would you be interested in reviewing this submission for JOSS (see [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) for more information about our reviewing model)?

[2022-11-04 09:20] mikldk commented on #4775
@slwu89, @tijeco: Thanks for the reviews! And for the recommendation of publication.

@kavir1698 :

* Please have a final read though of the paper, checking language etc.
* Have a final check of the proofs with `@editorialbot generate pdf`
* In general, be sure that all versions are correct and that the repo is in the state that should be published.
* Please make a tagged release and archive (e.g.

[2022-11-04 09:24] juanmc2005 commented on #4810
Hi @arfon, any news about this? Thanks!

[2022-11-04 09:25] mikldk commented on #4819
@mauricioaniche, @ev-br, @jstvssr: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-11-04 09:29] ev-br commented on #4819
@mikldk thanks for the ping. Sadly, I won't be able to review it at this time.

[2022-11-04 09:38] xuanxu commented on #4757
Two hyphens is a LaTeX command for a en-dash, so the parser creates an invalid DOI.
I've opened [a PR](https://github.com/chmarti1/PYroMat/pull/74) that should fix it.

[2022-11-04 09:47] faroit commented on #4738
@editorialbot check references

[2022-11-04 09:47] faroit commented on #4738
@editorialbot set 10.5281/zenodo.7272236 as archive

[2022-11-04 09:47] faroit commented on #4738
@editorialbot set v.1.0.2 as version

[2022-11-04 09:48] faroit commented on #4738
@editorialbot recommend-accept

[2022-11-04 11:45] kyleniemeyer commented on #4531
@psanan looks good! At this point please archive your software repo (e.g., using Zenodo) and let me know the DOI

[2022-11-04 11:49] idoby commented on #4905
@editorialbot generate my checklist

[2022-11-04 12:13] wiljnich commented on #4655
I am now satisfied with this paper and its package, and happily recommend acceptance. Congratulations on your hard work!

[2022-11-04 12:42] osorensen commented on #4655
Thank you very much for your reviews @simonpcouch and @wiljnich!

[2022-11-04 12:43] osorensen commented on #4655
@adriancorrendo, I will now read through the paper once more, and let you know if I have any suggested changes.

In the meantime could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zen

[2022-11-04 13:05] tmigot commented on #4129
It looks great now, thanks.
Final comments:
- I open a PR to fix the link to the stable doc.
- I assume there is another typo here https://github.com/cgrudz/DataAssimilationBenchmarks.jl/blob/eb357ecaade4d10f6ed23e62f777788af1970757/docs/src/home/Getting%20Started.md?plain=1#L34 where it should be `pkg> add DataAssimilationBenchmarks`?

 I can recommend DataAssimilationBenchmarks.jl for publicatio

[2022-11-04 13:08] jranalli commented on #4757
@editorialbot generate pdf

[2022-11-04 13:14] jranalli commented on #4757
@xuanxu I committed that change, but it messes up the printout in the paper, so I need to revert it:
![image](https://user-images.githubusercontent.com/7864460/199980541-cb1063af-8cab-4d3d-8305-f56308fbb608.png)

I think the problem is just with the bot's parsing when it does the tests for valid DOIs, rather than the document rendering. The document rendered fine before, the only issue was the out

[2022-11-04 13:15] jranalli commented on #4757
@editorialbot generate pdf

[2022-11-04 13:23] csoneson commented on #4889
@iferres Thank you! Once we have secured one more reviewer I will open the review issue here on GitHub, where you will find more information and be able to generate your review checklist.

[2022-11-04 13:31] elbeejay commented on #4852
Please disregard the bot reminders, @jdiasn is working to revise the software in response to all of your constructive comments.

[2022-11-04 13:45] mabesa commented on #4805
I can't get the .github/workflows/draft-pdf.yml workflow to compile the current version of the paper branch. I can only re-run the last compilation which was sometime in October. paper.md is updated but I'm not sure the paper pdf is beeing updated for joss as it should be.

[2022-11-04 13:46] tonyewong commented on #4805
I'm curious if us mortals are allowed to do this, and if so, if it helps at all with getting the pdf updated...

@editorialbot generate pdf

[2022-11-04 13:47] osorensen commented on #4655
@editorialbot generate pdf

[2022-11-04 13:47] osorensen commented on #4655
@editorialbot check references

[2022-11-04 13:54] mabesa commented on #4805
Oh, thanks!! Now I need to find a fix for the image which is not being rendered

[2022-11-04 13:57] mabesa commented on #4805
@editorialbot generate pdf

[2022-11-04 14:04] mabesa commented on #4805
@tonyewong thanks for the hint with the editorialbot command. The figure now shows.
So: I did a (admittedly very minimalistic) update of the paper text by adding a very rough description of the hydrological modelling workflow where the package is used. Please let me know if this makes the package purpose more understandable or if it adds to the confusion. I could free up some time next week to res

[2022-11-04 14:38] kthyng commented on #4562
Hi @ThomasThelen! Just need a few items from you to wrap up.

[2022-11-04 14:43] tonyewong commented on #4805
Looks good! The one point that I think might still be a bit unclear is the relationship to the RSMinverveR package:

[2022-11-04 14:43] faroit commented on #4754
@editorialbot set v0.1.6 as version

[2022-11-04 14:44] faroit commented on #4754
@editorialbot set 10.5281/zenodo.7274925 as archive

[2022-11-04 14:44] faroit commented on #4754
@editorialbot recommend-accept

[2022-11-04 14:45] kthyng commented on #4569
All right! Everything looks great! Ready to go.

[2022-11-04 14:45] kthyng commented on #4569
@editorialbot accept

[2022-11-04 14:46] mparno commented on #4843
Thanks @f-t-s !   We fixed the bug you mentioned in [Issue #40](https://github.com/MeasureTransport/MParT-examples/issues/40) in MParT release v1.2 and the fix is currently making its way through conda and the julia package manager.

[2022-11-04 14:48] faroit commented on #4739
@SuperKogito can you update us on the submission status? Let us know if you need more time or if we should pause the review

[2022-11-04 14:50] kingyin3613 commented on #4841
@Kevin-Mattheus-Moerman I see, so my suggestions are: 1. w-luo-academic , 2. RuYangNU , 3. JanElias3141 . Let me know if more reviewers are needed. Thanks!

[2022-11-04 14:53] kthyng commented on #4820
Hi @dimejimudele and @vaasuDevans! Are you interested in reviewing this submission to JOSS? JOSS reviews are conducted in a github issue on this repo, and use a checklist. We ask you to open issues on the software repository to bring up specific comments/questions and stay organized. We like reviews to be done within 4–6 weeks but because this is an iterative process usually between the authors an

[2022-11-04 14:54] kthyng commented on #4569
Congrats on your new publication @asitha-sena! Many thanks to editor @jedbrown and reviewers @PaulDebus, @banesullivan, and @snakesonabrain for your time, hard work, and expertise!!

[2022-11-04 14:54] #4569 closed

[2022-11-04 14:59] bastorer commented on #4277
Hi @kthyng I've submitted a couple commits and text responses to the GitHub issues that @NoraLoose posted on the FlowSieve page (https://github.com/husseinaluie/FlowSieve/issues).

[2022-11-04 15:17] elfunesto commented on #4804
Dear @fabian-s ,
here are a few other possible reviewers
Sarah Gaichas = [sgaichas](https://github.com/sgaichas)
Sean Lucey= [slucey](https://github.com/slucey)
Andy Beet = [andybeet](https://github.com/andybeet)

[2022-11-04 15:20] gattia commented on #4681
Thanks for the note. And sorry for the delay. I was mostly waiting for R1 to come in before doing everything at once, but I think I now see that they just completed the checklist and have no comments?

There isn't much in there, I'll get the response done in the next week.

Anthony

[2022-11-04 15:59] adriancorrendo commented on #4655
Dear @osorensen ,

Thank you very much for your copy edits.
within the latest [commit to the JOSS branch](https://github.com/adriancorrendo/metrica/commit/3e63e81b41f7f8077642491fdc515b75413c90a2), I have made the modifications requested issues 29 to 31

[New release tag v2.0.1.999](https://github.com/adriancorrendo/metrica/releases/tag/v2.0.1.999)
- Question: Please, note the release was made on

[2022-11-04 16:09] Kevin-Mattheus-Moerman commented on #4903
@editorialbot invite @richardjgowers as editor

[2022-11-04 16:10] Kevin-Mattheus-Moerman commented on #4903
@richardjgowers apologies I invited you here by mistake. This submission is being reviewed for scope at the moment.

[2022-11-04 16:22] osorensen commented on #4655
Thanks @adriancorrendo, and to your question, the answer is yes, what you've done is correct.

[2022-11-04 16:22] osorensen commented on #4655
@editorialbot generate pdf

[2022-11-04 16:29] Natsiopoulos commented on #3496
@arfon - At this point, is there something I need to do for the publication to be completed?

[2022-11-04 17:40] lluisjofre commented on #4637
Dear @diehlpk,

We have completed answering the comments/questions raised by the 2 reviewers.
Responses are available in the PDF files attached to this message.
The git repository has been correspondingly updated.

Thanks for your time and attention.

Best,
Lluis

[response_ctdegroot.pdf](https://github.com/openjournals/joss-reviews/files/9940831/response_ctdegroot.pdf)
[response_thomasgillis.pdf]

[2022-11-04 18:20] galessiorob commented on #4898
@editorialbot add @welch16 as reviewer

[2022-11-04 18:21] galessiorob commented on #4898
@welch16 thank you so much for volunteering to review this paper! Please comment `@editorialbot generate my checklist` to review your checklist and let me know if you have any questions on how to proceed.

[2022-11-04 18:26] chmarti1 commented on #4757
Sorry about the issues with Zenodo.  It looks like I had some confusion about the work flow with Zenodo.  I think I've got it sorted now - my fault.

[2022-11-04 18:43] galessiorob commented on #4898
@editorialbot add @epic19mz as reviewer

[2022-11-04 18:44] galessiorob commented on #4898
@Epic19mz thank you so much for volunteering to review this paper! Please comment `@editorialbot generate my checklist` to review your checklist and let me know if you have any questions on how to proceed.

[2022-11-04 18:56] ideasrule commented on #4873
@editorialbot generate my checklist

[2022-11-04 19:10] ideasrule commented on #4873
@editorialbot commands

[2022-11-04 19:25] cgrudz commented on #4129
@tmigot, thanks so much for the PR's for the issue fixes, we appreciate the attention to detail with this.  I've merged the PR but I've had a busy morning and I'll push the fixes to the stable General Registries version of the repository shortly.  Likewise, thanks for your approval of the software, this was an excellent learning experience for myself and my collaborators that vastly improved our s

[2022-11-04 19:26] cgrudz commented on #4129
@editorialbot generate pdf

[2022-11-04 19:28] paulromano commented on #4735
Alright, the final PR has been merged and I've made corresponding updates in the `joss-paper` branch of watts. To respond specifically to a few of the comments made here:

@sskutnik This is a really good point. I've expanded the description of the `Plugin` classes in the paper to describe in more detail how they fit in to the overall system. I've also added a new [section](https://watts.readthedoc

[2022-11-04 19:29] cgrudz commented on #4129
@diehlpk, please note we also added you to the acknowledgement section, thank you for your suggestions and for handling the manuscript in this phase of the review.

[2022-11-04 19:29] dimejimudele commented on #4820
@kthyng I am sure interested and will be taking this opportunity. Since @JessicaS11  mentioned that they will be issuing a new release next week, I could wait to start evaluating by then.

Also, the timeline you have given is definitely workable.

[2022-11-04 19:33] hugoledoux commented on #4681
@rickie95 I see you clicked some of the checkboxes above, but nothing posted here as feedback. Could you please let us what you thought of the software (good and less good), and why some checkboxes were not clicked?

[2022-11-04 19:35] yadudoc commented on #4735
@danielskatz The paper and the repo are in good order, and the issues I raised have been addressed by @paulromano. I recommend this work for publication.

[2022-11-04 19:38] danielskatz commented on #4735
@editorialbot check references

[2022-11-04 19:38] danielskatz commented on #4735
@editorialbot generate pdf

[2022-11-04 19:39] danielskatz commented on #4735
@sskutnik - all your items are checked. Can you confirm you are ok with this being accepted and published now?

[2022-11-04 19:49] ashleychontos commented on #3331
Thank you @benjaminpope and @danhey for the help and recommendations, all which have significantly improved the software! This was the first time I've implemented any testing, etc. so it took a bit more time than I expected so I do appreciate everyone's (including @mbobra) patience.

That said, I am happy to report that I have added a number of tests and set them up as a GitHub Action that will tr

[2022-11-04 19:51] kthyng commented on #4820
Hi @dimejimudele and awesome! We need to get two reviewers in place to start the review issue itself, where the review will occur, but yes also might as well start your review with the newest release version, at that time.

[2022-11-04 19:51] kthyng commented on #4820
@editorialbot assign @dimejimudele as reviewer

[2022-11-04 19:51] kthyng commented on #4820
@editorialbot add @dimejimudele as reviewer

[2022-11-04 20:03] danhey commented on #3331
Great work! I can confirm that the tests work on my end from a fresh conda environment. I'm very happy to recommend acceptance now.

[2022-11-04 20:19] osorensen commented on #4655
@editorialbot set v2.0.1.999 as version

[2022-11-04 20:19] osorensen commented on #4655
@editorialbot set 10.5281/zenodo.7291776 as archive

[2022-11-04 20:20] osorensen commented on #4655
@editorialbot recommend-accept

[2022-11-04 21:05] diehlpk commented on #4637
@ctdegroot can you please have a look?

[2022-11-04 21:05] diehlpk commented on #4637
@thomasgillis can you please have a look?

[2022-11-04 21:19] Kevin-Mattheus-Moerman commented on #4742
@editorialbot accept

[2022-11-04 21:21] blind-contours commented on #4181
I’ve made some big updates to the package. Currently passes everything with no notes, warnings or errors but it appears something is failed the check with GitHub Linux which I’m trying to figure out. I think it’s just the parallel processing in the vignette on Linux. I think I’ve responded to everything else. Let me know if I can do anything else.

[2022-11-04 21:25] Kevin-Mattheus-Moerman commented on #4720
@editorialbot accept

[2022-11-04 21:45] mbobra commented on #3331
@danhey Thank you sincerely for your review and for hanging on for so long! I really appreciate it.

@benjaminpope Are there any further issues with the documentation or software paper that need to be addressed?

[2022-11-04 21:45] mbobra commented on #4170
@transientlunatic How are things going? Just wanted to check in.

[2022-11-04 21:56] mbobra commented on #4907
@editorialbot assign me as editor

[2022-11-04 21:58] mbobra commented on #4907
👋 @MJWeberg Thanks for your submission! If you have any suggestions for reviewers ([here is a spreadsheet](https://bit.ly/joss-reviewers) of JOSS reviewers), please let me know here (you can give me the Github handle without @ mentioning them, e.g. mbobra instead of @mbobra).

[2022-11-04 22:12] Himscipy commented on #4748
Hi @georgiastuart,
I accidentally edited your review checklist, my apologies for that.
However, I have brought it back to the state where it was, but I would like you to cross-check it again. Thank you.

[2022-11-04 22:25] Himscipy commented on #4748
Hi @linusseelinger

Here few comments related to the software paper and repository;

- Could you mention how the UM-Bridge compares with the existing state of the field tools for UQ in the paper? This will be useful in addressing one of the requirements (State of the field: Do the authors describe..) in the paper.

- The repository needs unit tests /automated tests for code checking. I would recom

[2022-11-04 22:59] thomasgillis commented on #4637
thanks for the update (and the time spent on it!).
I still have one comment on the scalability claim, the rest looks good to me.

As previously explained I disagree on the assertion "the solver presents similar speedups in terms of strong scalability when running on CPUs and CPUs+GPUs".
Scalability is independent from the speed as it's a ratio of time-to-solution. instead scalability comes from th

[2022-11-04 23:10] Kevin-Mattheus-Moerman commented on #4742
Congratulations on this publication @LTLA :tada:

Thanks @Nikoleta-v3 for editing!

And special thanks to @jsun and @gtonkinhill for your review efforts!

[2022-11-04 23:10] #4742 closed

[2022-11-04 23:10] MartianColonist commented on #4873
Hi @LorenzoMugnai,

I've updated the paper to address your feedback. There is now a new paragraph at the end of the 'statement of need' section comparing POSEIDON to other codes for the 1D case.

Thanks for the suggestion!

[2022-11-04 23:10] MartianColonist commented on #4873
@editorialbot generate pdf

[2022-11-04 23:11] Kevin-Mattheus-Moerman commented on #4720
Congratulations on this publication @vlad0x00 :tada:

Thank you @fboehm for editing this submission!

And thanks @pjb7687 and @MaximLippeveld for reviewing this work!

[2022-11-04 23:11] #4720 closed

[2022-11-04 23:45] jmmshn commented on #4903
update, in case this affects the scope query, the paper is out on SciData:
https://www.nature.com/articles/s41597-022-01746-z

[2022-11-04 23:49] diehlpk commented on #4129
@cgrudz Thank you. I am traveling this weekend and will finish the editorial tasks by Tuesday. I think we can publish the paper at the end of next week.

[2022-11-04 23:58] robchallen commented on #4707
Sorry for delays responding to comments. I've fixed everything I can now and thanks to your pointers think the newest version is a big improvement.

All the changes are currently in the main branch under the version 0.2.4.9001. I'll leave the version as is until you've had a chance to look, and if/when you are happy with it I will bump it to 0.2.5 and release it to r-universe and submit update to

[2022-11-05 02:34] jgostick commented on #4757
Nice!

[2022-11-05 02:34] jgostick commented on #4757
@editorialbot recommend-accept

[2022-11-05 02:35] ThomasThelen commented on #4562
Hey @kthyng sorry for the delay! Thanks for the catch with those citations-they should be fixed now. I moved the parenthetical ones inline with the first column so that they're no longer detached. I'll take a look at the Zenodo archive now.

[2022-11-05 02:35] ThomasThelen commented on #4562
@editorialbot generate pdf

[2022-11-05 06:48] gattia commented on #4681
@zexinyang thank you very much for spending the time to thoroughly review the paper, code, tests, and other parts of the library. Your suggestions have all been great and I think improved the paper as well as the software as a whole. I have completed changes based on your recommendations on the `joss_review` branch that can be found here https://github.com/siavashk/pycpd/tree/joss_review.

Thanks

[2022-11-05 07:59] osorensen commented on #4655
FYI @openjournals/dsais-eics, we lost contact with the two originally assigned reviewers, and hence got two new ones.

[2022-11-05 07:59] osorensen commented on #4655
@editorialbot help

[2022-11-05 08:00] osorensen commented on #4655
@editorialbot remove @neerajdhanraj from reviewers

[2022-11-05 08:00] osorensen commented on #4655
@editorialbot remove @kauedesousa from reviewers

[2022-11-05 08:01] osorensen commented on #4655
I forgot to remove the two reviewers before recommending accept, hence recompiling the paper now, with their names removed.

[2022-11-05 08:01] osorensen commented on #4655
@editorialbot generate pdf

[2022-11-05 08:04] osorensen commented on #4655
Strange, there are still four reviewers in the pdf.

[2022-11-05 08:20] lluisjofre commented on #4637
Dear @thomasgillis and @diehlpk,

We agree with your comment @thomasgillis.
We have subsequently modified the manuscript as:
"Second, as shown in Figure 1, on BSC for a fixed-problem size and noting that on CPUs+GPUs the solver is roughly faster, the solver presents strong scalability speedups above 80% and 60%, respectively, when running on CPUs and CPUs+GPUs up to 32 nodes (640 cores and 128 GPU

[2022-11-05 08:34] osorensen commented on #4181
Thanks for responding @blind-contours, and sorry @GaryBAYLOR that I wrongly tagged you.

[2022-11-05 08:35] osorensen commented on #4181
@blind-contours, if you think most of the issues raised by the reviewers have been resolved, please tag them with `@username` in the respective issues in the source repository.

[2022-11-05 08:40] SuperKogito commented on #4739
Hello @faroit,
I implemented the changes requested in most of the issues and currently waiting for @hadware, who is aware of the changes and mentioned that he will review them asap. There is only one last issue ( no comparison with librosa); that I will deal with this weekend.
Thank you for your patience and efforts.

[2022-11-05 09:06] faroit commented on #4739
@SuperKogito Thanks for the update! 👍

[2022-11-05 11:34] perdelt commented on #4628
Many thanks again to everyone for the good support in the process!

[2022-11-05 11:58] simonrp84 commented on #4768
Hi, I've been tagged in this but am not sure why. Happy to review for Joss but this article is outside my expertise...

[2022-11-05 12:24] jbytecode commented on #4768
@mgm8 - do you have more suggestions for potential reviewers?

[2022-11-05 19:32] jgostick commented on #4808
There is a LOT going on here, and I cannot seem to distill it down to determine if @vyrjana has answered all of @Aslan-Kosakian's questions.  Can either of you give me an update?

[2022-11-05 22:32] igarizio commented on #4881
@editorialbot generate my checklist

[2022-11-06 00:59] jgostick commented on #4757
Hi @openjournals/pe-eics, note that the two INVALID DOIs in the reference check are false alarms.  The dois in the paper have 2 dashes, and this is breaking editorialbot when it attempts to check them.

[2022-11-06 01:06] suyashkumar commented on #4767
Thanks @bmskinner! Looks good from my end 👍🏽 !

[2022-11-06 01:09] vlad0x00 commented on #4720
Thank you @Kevin-Mattheus-Moerman, @fboehm, @pjb7687, and @MaximLippeveld!

Cheers!

[2022-11-06 01:10] mgm8 commented on #4768
gorlapraveen

[2022-11-06 01:13] kokitsuyuzaki commented on #4850
Hi @dhhagan, any progress finding reviewers?

[2022-11-06 01:14] kokitsuyuzaki commented on #4850
Hi @prashjha , any progress finding reviewers?

[2022-11-06 07:36] asafpr commented on #4889
Sorry, I was away. I'll be happy to review it @csoneson

[2022-11-06 09:18] jbytecode commented on #4768
@mgm8 - we will need at least two reviewers, is it possible to enrich your list?

[2022-11-06 09:18] jbytecode commented on #4768
👋👋👋 Dear @gorlapraveen    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**PyNGHam: A Python library of the NGHam protocol**". You can find more information at the top of this Github issue (https://github.com/openjourn

[2022-11-06 12:01] szhorvat commented on #4899
I added a note in the readme about the Wolfram Cloud.

As for the Free Wolfram Engine, my comment above referred specifically to reviewing. Using the Free Wolfram Engine necessitates using the command line interface instead of the notebook interface. This makes for a frustrating experience, and does not represent how the vast majority of people use Mathematica. Therefore, it should not be the _sol

[2022-11-06 12:02] szhorvat commented on #4899
For the purpose of organizing the reviews better, you are welcome to [open issues in the issue tracker](https://github.com/szhorvat/IGraphM/issues/new/choose) even if they are not about a bug or feature request. The advantage compared to the forum (which we normally recommend) is that you can put a backlink to this issue.

[2022-11-06 12:09] benjaminpope commented on #3331
Fantastic. Great work Ashley. I hereby sign off.

[2022-11-06 13:57] kyleniemeyer commented on #4757
Thanks for the heads-up @jgostick—however, I did notice that some information was missing from those entries (notably the proceedings/book title).

@jranalli I made a few typo fixes and bibliography updates in https://github.com/chmarti1/PYroMat/pull/76, could you merge that?

[2022-11-06 14:52] jranalli commented on #4757
Done

[2022-11-06 15:03] kyleniemeyer commented on #4757
@editorialbot generate pdf

[2022-11-06 15:12] kyleniemeyer commented on #4757
@editorialbot accept

[2022-11-06 15:16] Epic19mz commented on #4898
@editorialbot generate my checklist

[2022-11-06 15:26] kyleniemeyer commented on #4757
@jranalli @chmarti1 congratulations on your article's publication in JOSS!

Many thanks to @espottesmith and @fwitte for reviewing this, and @jgostick for editing.

[2022-11-06 15:26] #4757 closed

[2022-11-06 16:25] cariyurek commented on #4865
Dear @curtcorum and @kerkelae,

Thank you for your valuable comments and feedback. Currently, I am busy with the ISMRM deadline. I will go over all of your comments just after the ISMRM deadline. I am very sorry for the delay.

[2022-11-06 16:32] jmschrei commented on #4767
Great, thanks for the reviews!

[2022-11-06 16:32] jmschrei commented on #4767
@editorialbot check references

[2022-11-06 16:33] jmschrei commented on #4767
@editorialbot generate pdf

[2022-11-06 16:36] jmschrei commented on #4767
@bmskinner looks like the paper isn't in the right place. Have you moved it to a different branch?

[2022-11-06 16:40] rickie95 commented on #4681
Sorry for the delay, I expected a faster pace for the dialogue with the authors, then I had to focus on other things, my bad.

About the work: I agree with the suggestions made by @zexinyang, now that they're solved I guess we can proceed with the next stage. From an overall perspective both the software and the paper are in a great shape, for the former I can also speak from an user's view.

[2022-11-06 17:48] gattia commented on #4681
@rickie95 thank you so much for the positive review/comments, and for the Issue pulled on the repository. The addition of guidelines for contributing was a big missing piece. I think that those guidelines will reduce the barrier to others contributing to the community.

[2022-11-06 17:55] editorialbot opened #4909 "[PRE REVIEW]: Quantum-Classical Hybrid Neural Networks For Image Classification using a PyTorch-Qiskit based pipeline"
**Submitting author:** @DRA-chaos (<a href="http://orcid.org/0000-0002-3484-5074">Rita Abani</a>)
**Repository:** https://github.com/DRA-chaos/Quantum-Classical-Hyrid-Neural-Network-for-binary-image-classification-using-PyTorch-Qiskit-pipeline
**Branch with paper.md** (empty if default branch):
**Version:** 1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Daniel S. Katz

## Status

[

[2022-11-06 17:57] danielskatz commented on #4909
@DRA-chaos - We need a paper.md and paper.bib file in the repo. We also need source code that others can build on.  I see a paper.zip file here, and a set of notebooks.  I'm going to reject this at this point, but feel free to resubmit, following the guidance in https://joss.readthedocs.io/en/latest/submitting.html . Specifically note

[2022-11-06 17:58] danielskatz commented on #4909
@editorialbot reject

[2022-11-06 18:25] HaoZeke commented on #4736
I've started (and mostly finished) my review. Many apologies for the delay. It is however unclear to me why a helper wrapper library to the already published Gridap be considered at this stage. I have requested clarifications.

[2022-11-06 19:02] Aslan-Kosakian commented on #4808
@jgostick I believe @vyrjana is in the process of replying to my comments. I will review the work again once the rest of the comments are addressed.

[2022-11-06 20:18] diehlpk commented on #4129
@whedon commands

[2022-11-06 20:19] diehlpk commented on #4129
@editorialbot commands

[2022-11-06 20:20] diehlpk commented on #4129
@peanutfun and @tmigot thank you so much for your effort, we could not run JOSS without you.

[2022-11-06 20:21] diehlpk commented on #4129
@editorialbot generate pdf

[2022-11-06 20:22] diehlpk commented on #4637
@thomasgillis does this satisfy you?

[2022-11-06 20:25] diehlpk commented on #4129
@cgrudz

- [ ] Please add the country to all affiliations.

After that

- [ ] Generate a new release including all the changes, you made during the review and post the version here
- [ ] Upload this version to Zenodo and post the DOI here. Note that the title and the authors on Zenodo need to match with the paper.

[2022-11-06 20:26] diehlpk commented on #4493
@sara-02 Could you please have a look?

[2022-11-06 20:28] diehlpk commented on #4843
Hi  @ansgarwenzel please let us know how your review is going?

[2022-11-06 20:31] emdupre commented on #4892
Thanks for the invitation, @Kevin-Mattheus-Moerman ! I am already managing two submissions, but I think this is well-aligned with my expertise so I'm happy to take this on. I'll try to get it started quickly.

[2022-11-06 20:50] Kevin-Mattheus-Moerman commented on #4892
@editorialbot assign @emdupre as editor

[2022-11-07 02:21] emdupre commented on #4892
👋 Hi @a9p, and thank you for your submission to JOSS !

If you have any suggestions for potential reviewers, please let me know by listing their names or GitHub handles (without the @ character, so they don't receive a notification) here.

[2022-11-07 02:23] emdupre commented on #4840
👋 Hi @AJQuinn, I wanted to make sure you weren't facing issues in getting started on your review ?
Please let me know if there's anything I can do to help, and thank you again for agreeing to review Spectral Connectivity !

[2022-11-07 02:39] vyrjana commented on #4808
That is correct. Unfortunately, something rather time sensitive came up and I had to focus on that last week. I will try to post my responses to the remaining comments by @Aslan-Kosakian as soon as I can.

[2022-11-07 06:10] dotsdl commented on #4861
@editorialbot generate my checklist

[2022-11-07 06:25] evezeyl commented on #4889
Sorry for the late answer. Thank you so much for considering me, but I would have had to decline, i do not currently have the capacity.
All the best.
Eve

[2022-11-07 07:30] csoneson commented on #4889
Thanks @asafpr! I'll assign you and start the review issue.
@evezeyl - no problem at all, thanks a lot for letting us know 🙂

[2022-11-07 07:31] csoneson commented on #4889
@editorialbot add @iferres as reviewer

[2022-11-07 07:31] csoneson commented on #4889
@editorialbot add @asafpr as reviewer

[2022-11-07 07:31] csoneson commented on #4889
@editorialbot start review

[2022-11-07 07:31] editorialbot opened #4910 "[REVIEW]: Corekaburra: pan-genome post-processing using core gene synteny"
**Submitting author:** @milnus (<a href="http://orcid.org/0000-0001-9751-9877">Magnus Jespersen</a>)
**Repository:** https://github.com/milnus/Corekaburra
**Branch with paper.md** (empty if default branch): main
**Version:** v0.0.5
**Editor:** @csoneson
**Reviewers:** @iferres, @asafpr
**Archive:** 10.5281/zenodo.7344004

## Status

[![status](https://joss.theoj.org/papers/8978b317b8643a12efc6a812

[2022-11-07 07:31] #4889 closed

[2022-11-07 07:33] csoneson commented on #4910
👋🏼 @milnus, @iferres, @asafpr - this is the review thread for the submission. All of our communications will happen here from now on.

Please check the post at the top of the issue for instructions on how to generate your own review checklist. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS rev

[2022-11-07 07:59] asafpr commented on #4910
@editorialbot generate my checklist

[2022-11-07 08:09] asafpr commented on #4910
@milnus the workflow wiki page has a broken link to gff files dir, should be https://github.com/asafpr/Corekaburra/tree/main/Example_workflow/Input_Gff_files

[2022-11-07 08:12] luyuhao0326 commented on #4664
@hugoledoux I have communicated with ETH Research Collection team and this issue should be ressovled by now. The record can be accessed [here](https://www.research-collection.ethz.ch/handle/20.500.11850/578490).

[2022-11-07 08:44] bmskinner commented on #4767
@editorialbot generate pdf

[2022-11-07 08:49] arfon commented on #4678
@editorialbot accept

[2022-11-07 08:50] arfon commented on #3496
There is not. We're just wanting for the EiC for this area to pick up the paper and publish. Thanks for your patience!

[2022-11-07 08:53] arfon commented on #4674
@editorialbot accept

[2022-11-07 08:54] bmskinner commented on #4767
@editorialbot generate pdf

[2022-11-07 08:55] arfon commented on #4846
@editorialbot accept

[2022-11-07 08:56] arfon commented on #4678
Apologies it took a little while to get this one wrapped up.

@ethanwhite, @svburke – many thanks for your reviews here and to @majensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@mzabrams – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-07 08:56] #4678 closed

[2022-11-07 08:57] arfon commented on #4674
@ViniciusBRodrigues, @diazrenata – many thanks for your reviews here and to @fboehm  for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@DominiqueMaucieri – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-07 08:57] #4674 closed

[2022-11-07 08:59] arfon commented on #4846
@EduPH, @leotrs, @ismailguzel – many thanks for your reviews here and to @osorensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@matteocao – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-07 08:59] #4846 closed

[2022-11-07 09:02] bmskinner commented on #4767
@jmschrei Sorry, I blatted the paper files when merging the changes back into the paper branch. All back now.

[2022-11-07 09:06] matteocao commented on #4846
**Thank you All!**

I really love this approach to peer reviews: fully transparent, useful, serious and friendly at the same time. I think JOSS is really bringing a breath of fresh air into the world of publications and imho many publishers should follow this virtuous example!

Congrats for the great journal!

Cheers! 🥂

[2022-11-07 09:18] LorenzoMugnai commented on #4873
Hi @MartianColonist,
I have read the new version of the manuscript and it seems more complete to me now.
Thanks.
I have updated my list accordingly.

[2022-11-07 09:47] fabian-s commented on #4804
hi @sgaichas @slucey  @andybeet

Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-07 10:09] asafpr commented on #4910
@milnus after `panaroo-generate-gffs` why should the file names be changed? Is there another use for that script with the original output file names? why not producing the correct file names in this script?

[2022-11-07 10:12] mabesa commented on #4805
@editorialbot generate pdf

[2022-11-07 10:16] mabesa commented on #4805
@tonyewong done!

[2022-11-07 10:22] jonathanHuwP commented on #4333
@Kevin-Mattheus-Moerman @JoannaLeng

Hello,

Sorry to take so long, I was ill.

The recomended changes have been made and are on the joss-submission and main branches, which are now synced.

Please let us know if there is anything else we need to do.

[2022-11-07 10:26] asafpr commented on #4910
@milnus the file coreless_contig_accessory_gene_content.tsv is missing from output dir. Also the file core_gene_graph.gml has a typo in the wiki page (core_gene_grapgh.gml) and the last paragraph has some mixed singular/plural. In addition some of the output files are tsv while others are csv, I think they should all be the same. I didn't understand the definition of sub-segments, maybe you can ex

[2022-11-07 10:40] adi3 commented on #4667
Thank you, all. We'll reach out for the next one!

@brunaw @billchenxi @andreysmelter @kvnamipara @nilesh-patil @a-slide @fabianomenegidio - Can you help us review this ML paper? Thanks!

@AKuederle - Meanwhile, please try to find a few more potential reviewers from the list.

[2022-11-07 10:42] adi3 commented on #4671
@JDRomano2 @sea-bass @BasTesterink @cknoll @Kraks @ChristopherHaydenTodd @ankur-gupta - Would any of you be interested in reviewing this paper for JOSS?

[2022-11-07 10:45] adi3 commented on #3527
@rMassimiliano - thank you for your patience and thoroughness with this review!

@AP6YC - we're almost there, congrats! As with your other submission, please make a tagged release of the project and archive it. Then report the version number and archive DOI here. Once I have that, I will send this for publication.

[2022-11-07 10:45] adi3 commented on #3527
@editorialbot check references

[2022-11-07 10:50] adi3 commented on #3527
@AP6YC also please look into and fix that invalid DOI shown above in your references

[2022-11-07 10:57] raybecker commented on #4711
I've been considering it, because I'm flying to the US right now and will have a lot on my plate until the end of the year. I think I will be too busy and take far too long to review this. Sorry, but I can't do it this time.

[2022-11-07 11:05] hasantahir commented on #4576
I have had some success with the in-app Feedback (Help -> Feedback) suggestions in the past. They open up a support ticket through that and then you will directly be in touch with their engineers.

[2022-11-07 11:19] asafpr commented on #4910
@milnus in the paper line 24 "dispite" -> "despite"

[2022-11-07 11:31] tonyewong commented on #4805
Thanks for making those edits! I think it's still a bit unclear what sets riversCentralAsia apart from RSMinerveR - what is the distinction, or what additional functionality/ease of use/etc. does riversCentralAsia provide that RSMinerveR does not?

[2022-11-07 11:34] ppxasjsm commented on #4861
no worries @dotsdl thanks for getting started with this!

[2022-11-07 11:43] ppxasjsm commented on #4719
@editorialbot check references

[2022-11-07 11:48] ppxasjsm commented on #4719
Congratulations this looks great and I am happy to accept this paper. We can now move forwards with the publication step.

@thohamm can you please generate a new tagged release version of the software if required and archive it on Zenodo or figshare and post the version number and DOI here?

[2022-11-07 11:49] Nikoleta-v3 commented on #4683
Hey 👋🏼 @georgiastuart and @salrm8 😄 any update on your reviews?

[2022-11-07 11:50] dfm commented on #4634
@kazewong — Any updates from your end? Let us know if there are any remaining issues!

(Aside: @marylou-gabrie it looks like your authorship checkbox got unchecked - was that on purpose?)

[2022-11-07 11:55] georgiastuart commented on #4683
@Nikoleta-v3 working on it! Sorry for the delay!

[2022-11-07 12:31] jodemaey commented on #4839
Continuing this review, I noticed that there is no mention of other similar packages in the paper. According to the review guidelines:

My question for the authors is thus the following:
Is QPrism rather unique or are there other packages providing the same kind of functionalities?

[2022-11-07 12:53] jodemaey commented on #4839
About the installation, I successfully installed the software, but I do not understand its complexity. Why not simply propose to the user to do a
[code]
?

[2022-11-07 12:57] kazewong commented on #4634
All green from me

[2022-11-07 13:01] sskutnik commented on #4735
@danielskatz Yes, I’m good with it as-is

[2022-11-07 13:02] dfm commented on #4634
@kazewong — Great! In that case can you update [your checklist above](https://github.com/openjournals/joss-reviews/issues/4634#issuecomment-1201257586)? I'm still seeing some boxes unchecked. Thanks!

[2022-11-07 13:04] kazewong commented on #4634
@dfm all checked.

[2022-11-07 13:07] iferres commented on #4910
@editorialbot generate my checklist

[2022-11-07 13:08] dfm commented on #4634
@kazewong, @marylou-gabrie — Thanks both for your reviews and all of your suggestions for pocoMC!! I really appreciate the time that you took for this process.

@minaskar — I have a few last checks that I need to do (although I probably can't get to them today), then I'll have some final things that I need from you before acceptance. I'll have an update for you in the next day or two. Thanks for y

[2022-11-07 13:13] richardjgowers commented on #4884
Hi @kyleniemeyer sorry this is a bit too far from what I know for me to be able to do this confidently.

[2022-11-07 13:20] kyleniemeyer commented on #4884
@editorialbot invite @lucydot as editor

Hi @lucydot, do you have the bandwidth to edit this one?

[2022-11-07 13:25] editorialbot opened #4911 "[PRE REVIEW]: LyceanEM: A python package for virtual prototyping of antenna arrays, time and frequency domain channel modelling"
**Submitting author:** @LyceanEM (<a href="http://orcid.org/0000-0002-8085-1264">Timothy Pelham</a>)
**Repository:** https://github.com/LyceanEM/LyceanEM-Python
**Branch with paper.md** (empty if default branch):
**Version:** 0.04
**Editor:** @arfon
**Reviewers:** @sasha-seneca
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/618868c0e8d7e1f7ae6b9f0b4e1e5a2a/sta

[2022-11-07 13:25] danielskatz commented on #4735
👋 @paulromano - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author li

[2022-11-07 13:28] kyleniemeyer commented on #4911
@editorialbot invite @pibion as editor

Hi @pibion, can you edit this?

[2022-11-07 13:38] ashleychontos commented on #3331
Awesome, thank you @danhey @benjaminpope @mbobra all so much again!

[2022-11-07 13:44] Nikoleta-v3 commented on #4711
Not a problem! Thank you for taking the time to think over it 🙏🏻 😄

[2022-11-07 13:49] SYalouz commented on #4759
They are going very well and we are almost done ! ;-)

[2022-11-07 14:02] kyleniemeyer commented on #4885
@editorialbot invite @AoifeHughes as editor

[2022-11-07 14:06] eloisabentivegna commented on #4800
@ttricco, how the review coming along? Any blocker so far?

[2022-11-07 14:09] eloisabentivegna commented on #4642
@ddhendriks, could you let us know whether there's any progress on the repository migration?

[2022-11-07 14:38] ppxasjsm commented on #4888
@editorialbot assign @ppxasjsm as editor

[2022-11-07 14:42] ppxasjsm commented on #4888
@x94carbone, I'll take this paper on as an editor. I do have some other work on my plate right now, but I'll do my best to process this speedily!

If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitab

[2022-11-07 14:42] AoifeHughes commented on #4885
Hi, thanks for the invite to edit! Happy to be involved!

@kyfrankie, have we gotten the DOI issues resolved?
I'm just waiting for some potential reviewers to get back to me, if they don't I'll start pinging more of your suggestions.

[2022-11-07 14:55] rkurchin commented on #4862
Hi again reviewers (@aliusdragonfly @ziatdinovmax), reminder to get reviews started! As you work on your checklist, feel free to file issues in the project repository; if you do so, please link back to this review issue for easy tracking.

[2022-11-07 14:56] rkurchin commented on #4817
Checking in again with reviewers, @mkhorton and @obaica!

[2022-11-07 14:58] x94carbone commented on #4888
@ppxasjsm fantastic, thank you! No worries about any delays and whatnot, we're all in the same boat in terms of being busy, I'd think.

Regarding reviewers, sure I'll take a look at that list as soon as I can and will get back to you 👍

[2022-11-07 15:17] Kevin-Mattheus-Moerman commented on #4888
@editorialbot assign @ppxasjsm as editor

[2022-11-07 15:18] Kevin-Mattheus-Moerman commented on #4888
Sorry @ppxasjsm I missed that you already assigned yourself. Thanks

[2022-11-07 15:25] kthyng commented on #4562
@ThomasThelen Ok great, your paper looks good now. let me know when you've been able to work on the Zenodo metadata.

[2022-11-07 15:33] dfm commented on #4634
@editorialbot generate pdf

[2022-11-07 15:47] adonath commented on #4803
@editorialbot assign me as editor

Thanks @drannawatts for the submission. I'll be the editor for this submission. I'll start looking for suitable reviewers now, but please also  let me know if you have any suggestions. Please just add their names in a comment (without explicitly mentioning them using `@`).

[2022-11-07 15:54] jmschrei commented on #4767
Great. Do you have a DOI and a software version to tag this submission with?

[2022-11-07 15:57] Nikoleta-v3 commented on #4711
👋🏻 @manmeetkaurbaxi & @gabett would either of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "APGG - A Modular C++ Framework for Asymmetric Public Goods Games". You can find more information at

[2022-11-07 16:13] VaasuDevanS commented on #4820
@kthyng Thanks very much for the opportunity. I am interested in reviewing this submission.

[2022-11-07 16:17] florian-huber commented on #4877
@editorialbot generate my checklist

[2022-11-07 16:24] galessiorob commented on #4898
@arfon ran into the same issue with editorialbot, not sure what's causing the glitch.

[2022-11-07 16:24] galessiorob commented on #4898
@editorialbot add @Epic19mz as reviewer

[2022-11-07 16:24] galessiorob commented on #4898
@Epic19mz mind trying again, please?

[2022-11-07 16:45] kthyng commented on #4820
@editorialbot add @VaasuDevanS as reviewer

[2022-11-07 16:45] kthyng commented on #4820
@editorialbot start review

[2022-11-07 16:45] editorialbot opened #4912 "[REVIEW]: icepyx: querying, obtaining, analyzing, and manipulating ICESat-2 datasets"
**Submitting author:** @JessicaS11 (<a href="http://orcid.org/0000-0002-3421-4459">Jessica Scheick</a>)
**Repository:** https://github.com/icesat2py/icepyx
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.6.3
**Editor:** @kthyng
**Reviewers:** @dimejimudele, @VaasuDevanS
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/a355344b24ffa5fda7a04a5067e8be

[2022-11-07 16:45] #4820 closed

[2022-11-07 16:47] VaasuDevanS commented on #4912
@editorialbot generate my checklist

[2022-11-07 16:48] kthyng commented on #4912
👋🏼 @JessicaS11 @dimejimudele, @VaasuDevanS this is the review thread for the paper. All of our communications will happen here from now on.

As a reviewer, the first step is to create a checklist for your review by entering

```@editorialbot generate my checklist```

as the top of a new comment in this thread.

These checklists contain the JOSS requirements. As you go over the submission, please c

[2022-11-07 16:49] Epic19mz commented on #4898
@editorialbot generate my checklist

[2022-11-07 16:49] Epic19mz commented on #4898
@galessiorob Thanks for your help! It works now!

[2022-11-07 16:49] schalkdaniel commented on #4545
@csoneson I looked into @patRyserWelch8 s comment and tried to fix everything as desired. I will try to address all points from [here](https://github.com/openjournals/joss-reviews/issues/4545#issuecomment-1274382535):

__Functionality:__

- _Installation:_  I have added details about the compliancy in the README (see [this PR](https://github.com/difuture-lmu/dsBinVal/pull/11)).
- _Functionality:_

[2022-11-07 16:50] mikldk commented on #4819
@editorialbot add @jstvssr as reviewer

[2022-11-07 16:50] kthyng commented on #4912
@JessicaS11 Have you put out your new release yet?

Also, please address the bib issue above.

[2022-11-07 16:51] RupeshJey commented on #4575
@pdebuyl The copyright has been [updated](https://github.com/RemoteSensingTools/vSmartMOM.jl#copyright-notice)!

[2022-11-07 16:52] mikldk commented on #4819
@jstvssr has kindly agreed. (Due to a busy schedule, the review is not expected to be completed before the end of January 2023.)

[2022-11-07 16:52] mikldk commented on #4819
@editorialbot start review

[2022-11-07 16:52] editorialbot opened #4913 "[REVIEW]: Metrics As Scores: A Tool- and Analysis Suite and Interactive Application for Exploring Context-Dependent Distributions"
**Submitting author:** @mrshoenel (<a href="http://orcid.org/0000-0001-7937-1645">Sebastian Hönel</a>)
**Repository:** https://github.com/MrShoenel/metrics-as-scores
**Branch with paper.md** (empty if default branch): paper
**Version:** v2.8.0
**Editor:** @mikldk
**Reviewers:** @mdhaber, @kostiantyn-kucher
**Archive:** 10.5281/zenodo.8202326

## Status

[![status](https://joss.theoj.org/papers/eb5

[2022-11-07 16:52] #4819 closed

[2022-11-07 16:53] mikldk commented on #4913
@mdhaber, @jstvssr: Thanks for agreeing to review. Please carry out your review in this issue by first creating a checklist (`@editorialbot generate my checklist`) and then updating it as the review proceeds. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If possible create issues (and cross-reference) in the submission's repository to

[2022-11-07 17:25] dimejimudele commented on #4912
@editorialbot generate my checklist

[2022-11-07 17:57] jagnobli commented on #4600
@oliviaguest, I was on vacation for 2 weeks...as I am not able to see any activity at our gitlab I wonder if you had trouble in using the guest user over there? Do you need any help?

[2022-11-07 18:24] minaskar commented on #4634
@marylou-gabrie @kazewong, thanks a lot for the reviews, and of course, @dfm for taking care of everything.

Regarding the DOIs, I can verify that those four suggestions are correct. Should I add them to the reference list?

[2022-11-07 18:44] weiji14 commented on #4912
Just a quick note: new icepyx version 0.6.4 has been released on 31 Oct 2022, see https://github.com/icesat2py/icepyx/releases/tag/v0.6.4

[2022-11-07 18:49] dfm commented on #4634
@minaskar  don't worry about the DOIs: I'll have some larger edits to the bibliography that will include them!

[2022-11-07 18:54] graciellehigino commented on #4812
Hi @molgor ! We'd have about 3 weeks for review once the review issue is open. If you agree, we can open it right away. I'll try to get a third reviewer in the meantime.

[2022-11-07 18:59] kthyng commented on #4912
@editorialbot generate pdf

[2022-11-07 19:03] ziatdinovmax commented on #4862
@rkurchin I apologize for the delay. I will try to review it before the end of the week.

[2022-11-07 19:20] slucey commented on #4804
Unfortunately I won't be able to review this.  I'm currently at sea until Nov 18th and will be un-burying when I get back.

Sorry.

[2022-11-07 19:22] thomasgillis commented on #4637
yes, thank you

[2022-11-07 19:30] mbobra commented on #3331
Thank you both so very much for your thorough reviews, @danhey and @benjaminpope! Your volunteer time keeps JOSS running and the JOSS team appreciates it very much ☀️

[2022-11-07 19:31] mbobra commented on #3331
Congratulations @ashleychontos -- we're almost ready to publish the paper! Could you please cut a new release of pySD, [deposit it in Zenodo](https://guides.github.com/activities/citable-code/), and put the link to the Zenodo deposit in this thread? Please make sure that the author list and title on the Zenodo deposit matches the author list and title on the JOSS paper. Then I can move forward wit

[2022-11-07 19:51] mbobra commented on #3331
@editorialbot add @nabobalis as reviewer

[2022-11-07 19:54] mbobra commented on #3331
Thank you very much for agreeing to review, @nabobalis! I really appreciate it.

You can find reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), together with all the [review criteria](
https://joss.readthedocs.io/en/latest/review_criteria.html). This is what will happen:
* I already assigned you to the pre-review thread (above).
* Once I find a second revi

[2022-11-07 19:57] mbobra commented on #3331
@editorialbot remove @nabobalis as reviewer

[2022-11-07 19:57] mbobra commented on #3331
Sorry I messed up and added a reviewer to the wrong thread! I deleted a few messages above.

[2022-11-07 19:58] mbobra commented on #4907
@editorialbot add @nabobalis as reviewer

[2022-11-07 19:58] ashleychontos commented on #3331
I think (hope?) I did this correctly but please let me know if [this](https://doi.org/10.5281/zenodo.7301604) isn't what you were referring to.

(and phew, I was worried about the new reviewers)

[2022-11-07 19:59] mbobra commented on #4907
Thank you very much for agreeing to review, @nabobalis! I really appreciate it.

You can find reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), together with all the [review criteria](
https://joss.readthedocs.io/en/latest/review_criteria.html). This is what will happen:
* I already assigned you to the pre-review thread (above).
* Once I find a second revi

[2022-11-07 20:00] mbobra commented on #3331
@ashleychontos My sincere apologies about the reviewer! I messed up there.

[2022-11-07 20:02] mbobra commented on #3331
@editorialbot generate pdf

[2022-11-07 20:03] mbobra commented on #3331
@editorialbot check references

[2022-11-07 20:08] mbobra commented on #3331
@ashleychontos It looks like the editorialbot identified some missing DOIs. I took a look and they seem correct to me. Do you agree? If so, do you mind updating paper.bib?

[2022-11-07 20:15] mbobra commented on #3331
@editorialbot set 10.5281/zenodo.7301604 as archive

[2022-11-07 20:15] mbobra commented on #3331
@editorialbot set v6.10.0 as version

[2022-11-07 20:15] ashleychontos commented on #3331
I agree re: DOIs and have updated the .bib file :)

[2022-11-07 20:16] mbobra commented on #3331
@editorialbot check references

[2022-11-07 20:21] mbobra commented on #3331
Congratulations, @ashleychontos 🥳 It was a long ride but I hope you feel the JOSS review process improved the software. I think the final result turned out awesome. The EiC team @openjournals/joss-eics will take it from here!

[2022-11-07 20:26] ashleychontos commented on #3331
Oh absolutely - I learned more about software and development throughout this process than I ever knew pre-JOSS times combined. Thank you again SO much for everything, especially for riding this out with me!

[2022-11-07 20:26] crvernon commented on #4472
Hi @fraukewiese is there anything else we can do to help get this submission to the next stage of review?  Thanks so much!

[2022-11-07 20:39] dfm commented on #3331
@ashleychontos — I've opened a PR with a few formatting edits to the bibliography, but we should be good to go after that: https://github.com/ashleychontos/pySYD/pull/42

[2022-11-07 20:47] ashleychontos commented on #3331
great @dfm I think it should be all set now!

[2022-11-07 20:48] dfm commented on #3331
@editorialbot recommend-accept

[2022-11-07 20:52] dfm commented on #3331
@editorialbot accept

[2022-11-07 20:54] dfm commented on #3331
@danhey, @benjaminpope — many thanks for your reviews here and to @mbobra for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ashleychontos — your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-07 20:54] #3331 closed

[2022-11-07 20:59] graciellehigino commented on #4812
@editorialbot add @gabrieldansereau as reviewer

[2022-11-07 21:29] drannawatts commented on #4803
Possible referees (with whom we don't have conflicts of interest due to co-authorship!) - Anne Archibald, Will Farr, Johannes Buchner?

[2022-11-07 21:32] MartianColonist commented on #4873
Hi @LorenzoMugnai,

Regarding "Community guidelines", all there is at present is the brief 'support' section at the end of the GitHub README. I will add a dedicated section on community contribution guidelines to the documentation to improve this. I'll let you know once it's up.

For tests, it isn't obvious how to concoct future-proof automated tests for a radiative transfer and retrieval package

[2022-11-07 21:33] JannisHoch commented on #4897
@editorialbot generate my checklist

[2022-11-07 21:35] ConnorDonegan commented on #4716
@editorialbot generate pdf

[2022-11-07 21:41] mbobra commented on #4907
@editorialbot add @PaulJWright as reviewer

[2022-11-07 21:41] mbobra commented on #4907
@editorialbot start review

[2022-11-07 21:41] editorialbot opened #4914 "[REVIEW]: EISPAC - The EIS Python Analysis Code"
**Submitting author:** @MJWeberg (<a href="http://orcid.org/0000-0002-4433-4841">Micah J. Weberg</a>)
**Repository:** https://github.com/USNavalResearchLaboratory/eispac
**Branch with paper.md** (empty if default branch):
**Version:** v0.94.6
**Editor:** @mbobra
**Reviewers:** @nabobalis, @PaulJWright
**Archive:** 10.5281/zenodo.7949516

## Status

[![status](https://joss.theoj.org/papers/d41bb776

[2022-11-07 21:41] #4907 closed

[2022-11-07 21:43] mbobra commented on #4907
👋 @MJWeberg @nabobalis @PaulJWright See you over in #4914 where the actual review will take place!

[2022-11-07 21:46] mbobra commented on #4914
:wave: @nabobalis @PaulJWright Thank you so much for agreeing to review! You can find the article in the comment boxes above ⬆️ , the software repository linked in the first comment box on this issue. To generate your checklist, use the following command:

[code]

You can find reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), together with all the [review

[2022-11-07 21:47] ConnorDonegan commented on #4716
Thanks again @wcjochem for your review. I think you've already seen a notification for my responses to your comments over on the issues tab for the project github page.

I'll also leave a note of the changes here for everyone.

### Performance claims

I've added a reference to the OSF pre-print "Building spatial conditional auto-regressive models in the Stan programming language" (https://osf.io/3

[2022-11-07 21:48] ConnorDonegan commented on #4716
@editorialbot generate pdf

[2022-11-07 21:48] PaulJWright commented on #4914
@editorialbot generate my checklist

[2022-11-07 22:16] nabobalis commented on #4914
@editorialbot generate my checklist

[2022-11-07 23:46] ideasrule commented on #4873
Unit testing really is tricky for retrieval codes!  It's not mandated by JOSS, but I do recommend having some rudimentary unit tests, if only to catch obvious bugs and set up the framework for adding more tests later on.  It'll give you some peace of mind when you make major revisions to the code.

Here are some suggestions for unit tests:

1. Your code supports 1D, 2D, and 3D atmospheres.  Comput

[2022-11-07 23:49] dshean commented on #4700
Hi @danielskatz, any update on reviewers for this paper?  This was submitted August 22, 2022.  We can recommend additional reviewers if needed.

I note that @JessicaS11 now has a JOSS paper under review for an October 3, 2022 submission, describing another ICESat-2 software package: https://github.com/openjournals/joss-reviews/issues/4912

If the scope of our submission is too large, we can limit

[2022-11-07 23:52] MartianColonist commented on #4873
These are good suggestions, thanks @ideasrule!

I'll look into some unit tests along the lines above.

[2022-11-08 00:16] kyfrankie commented on #4885
@editorialbot generate pdf

[2022-11-08 00:18] kyfrankie commented on #4885
Hi, thank you for editing this paper. I have updated the paper to fix the DOI issues. Thanks!

[2022-11-08 00:28] jbytecode commented on #4768
👋👋👋 Dear @0xCoto and @pritchardn  👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**PyNGHam: A Python library of the NGHam protocol**". You can find more information at the top of this Github issue (https://github.com/o

[2022-11-08 00:34] PaulJWright commented on #4914
@mbobra @nabobalis, please let me know your opinions on this, but this open MR seems significant (https://github.com/USNavalResearchLaboratory/eispac/pull/50). I would personally prefer this is merged and tested/documented before any approval

[2022-11-08 01:41] welch16 commented on #4898
@editorialbot generate my checklist

[2022-11-08 01:55] jbytecode commented on #4768
@editorialbot add @pritchardn as reviewer

@pritchardn - Thank you for accepting our invitation. I will ping you when the review starts.

[2022-11-08 02:36] diehlpk commented on #4637
@thomasgillis Can you please have a look at your check list. There are some unchecked boxes.

[2022-11-08 02:37] diehlpk commented on #4617
@JeWaVe Could you please respond to the above question? If I do mot hear back by November 21th, we will need to reject your submission.

[2022-11-08 02:46] diehlpk commented on #4073
@danielenricocahall Could you please recommend some reviewers?

[2022-11-08 02:54] x94carbone commented on #4888
@ppxasjsm ok some possible reviewers:

- maurov lists x-ray spectroscopy as a specialty along with Python, which is basically a perfect fit for our work
- marwanalam2 actually lists VASP as one of their programming languages (not sure I'd agree it's a language but hey why not?). VASP is one of the codes that we hook into in Lightshow
- domna, larsenkg, enricgrau and tillsten are all pretty far dow

[2022-11-08 02:59] cwentland0 commented on #3428
Just updated the `pyproject.toml` and made a tagged release. Actually updated to 0.2.1, as I labelled the last release as 0.2, I just wasn't careful to update it in the setup.py then!

[2022-11-08 03:12] kyleniemeyer commented on #3428
@cwentland0 great! at this point please archive the repository (e.g., on Zenodo) and provide the DOI here.

FYI, moving forward, you might consider encoding the version number in a file (e.g., `_version.py`) and then have `pyproject.toml` read that in dynamically.

[2022-11-08 03:15] cwentland0 commented on #3428
The Zenodo DOI is:
10.5281/zenodo.7302346

[2022-11-08 03:23] kyleniemeyer commented on #3428
@editorialbot set 10.5281/zenodo.7302346 as archive

[2022-11-08 03:23] kyleniemeyer commented on #3428
@editorialbot set v0.2.1 as version

[2022-11-08 03:23] kyleniemeyer commented on #3428
@editorialbot recommend-accept

[2022-11-08 03:31] kyleniemeyer commented on #3428
@cwentland0 just a few last changes for the paper: could you add the arXiv DOIs for the two arXiv citations? 10.48550/arXiv.2003.07798 and 10.48550/arXiv.2209.06957

No need to update the Zenodo archive

[2022-11-08 03:38] 0xCoto commented on #4768
@jbytecode I took a quick look at the paper and the repository, and (while I'm not specifically familiar with the NGHam protocol itself) I would also be happy to contribute to the review of the work. 🙂

[2022-11-08 03:51] cgrudz commented on #4129
@diehlpk that sounds good, I'm also on travel currently through Wednesday, but I should be able to handle these items on Thursday this week.  No worries with the holiday if we can't finish by Friday, I'll try to get back to this as soon as I can.

Cheers,
Colin

[2022-11-08 03:54] cwentland0 commented on #3428
arXiv citations have been updated on the paper branch

[2022-11-08 03:56] kyleniemeyer commented on #3428
@editorialbot generate pdf

[2022-11-08 03:59] kyleniemeyer commented on #3428
@editorialbot accept

[2022-11-08 04:04] kyleniemeyer commented on #3428
Congratulations @cwentland0 on your article's publication in JOSS! And thanks for your patience during this process.

Many thanks to @Himscipy for reviewing.

[2022-11-08 04:05] #3428 closed

[2022-11-08 04:08] cwentland0 commented on #3428
Thank you so much @Himscipy and @kyleniemeyer for all your time and patience!

[2022-11-08 05:52] jbytecode commented on #4768
@editorialbot add @0xCoto as reviewer

@0xCoto - thank you for accepting our invitation

[2022-11-08 05:53] jbytecode commented on #4768
@editorialbot start review

[2022-11-08 05:53] editorialbot opened #4915 "[REVIEW]: PyNGHam: A Python library of the NGHam protocol"
**Submitting author:** @mgm8 (<a href="http://orcid.org/0000-0003-4889-6021">Gabriel Marcelino</a>)
**Repository:** https://github.com/mgm8/pyngham
**Branch with paper.md** (empty if default branch): main
**Version:** v1.1.1
**Editor:** @jbytecode
**Reviewers:** @pritchardn, @0xCoto
**Archive:** 10.5281/zenodo.7555428

## Status

[![status](https://joss.theoj.org/papers/cf5b9150f924d3fbb6adee6cd25

[2022-11-08 05:53] #4768 closed

[2022-11-08 05:59] jbytecode commented on #4915
Dear  @pritchardn, @0xCoto

Thank you again, for accepting our invitation to review.

This is the review thread. Please, firstly type

[code]

to generate your own checklist. In that checklist, there are ~20 check items. Whenever you complete the corresponding task, you can check off them.

Please write your comments as separate posts and do not modify your checklist descriptions.

The review proc

[2022-11-08 06:01] 0xCoto commented on #4915
@editorialbot generate my checklist

[2022-11-08 06:06] pritchardn commented on #4915
@editorialbot generate my checklist

[2022-11-08 06:09] jbytecode commented on #4716
@ConnorDonegan - the item

`Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support`

belongs to the documentation rather than the software paper, I think the most suitable place to host them is the repository - not the paper. @wcjochem makes the final decision, of course.

[2022-11-08 07:12] danielskatz commented on #4700
👋 @dshean - we've gone to a track-based model of editing, and the editor for this track is @openjournals/ese-eics who I am pinging here

[2022-11-08 07:25] karlines commented on #4804
Hi, this is not my expertise, so I will decline.

From: Fabian Scheipl ***@***.***>
Sent: Monday, November 7, 2022 10:48 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Karline Soetaert ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: RCaNmodel: a R package for Chance and Necessity modelling (Issue #4804)

hi @sgaichas<https://eur01.safelinks.protection.o

[2022-11-08 08:05] AoifeHughes commented on #4885
@editorialbot check references

[2022-11-08 08:19] pyhernvann commented on #4804
Dear Fabian,
Sorry for the late answer - Unfortunately I am currently reviewing several
studies and have to decline unless it can wait until mid-December.
Best regards,
PYH

Le mer. 2 nov. 2022 à 07:18, Fabian Scheipl ***@***.***> a
écrit :

[2022-11-08 08:26] Shreyas911 commented on #4679
Hi @svchb,

The first issue has been rectified, can you try with this script and let me know if it works for you?
[get_input_files.txt](https://github.com/openjournals/joss-reviews/files/9959095/get_input_files.txt)

We really prefer not doing this since the first two tutorials are about teaching new users about AD, and not directly SICOPOLIS related (although they are still definitely loosely rel

[2022-11-08 09:13] oliviaguest commented on #4738
@editorialbot check references

[2022-11-08 09:14] oliviaguest commented on #4738
@editorialbot recommend-accept

[2022-11-08 09:21] oliviaguest commented on #4738
@editorialbot check references

[2022-11-08 09:22] bmskinner commented on #4767
@jmschrei The repo is now on Zenodo:
Version: 2.0.0
DOI: https://doi.org/10.5281/zenodo.7303497

[2022-11-08 09:23] oliviaguest commented on #4738
@faroit @xinyiguan sorry for this, I just need to make sure why it threw that error. Hopefully back very soon to publish this. 😊

[2022-11-08 09:27] oliviaguest commented on #3842
@editorialbot recommend-accept

[2022-11-08 09:28] fabian-s commented on #4804
@editorialbot generate pdf

[2022-11-08 09:31] fabian-s commented on #4804
Hi @amoeba,
hi @pboesu,
hi @jhollist :wave:

Would you be willing to review [this submission](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04804/joss.04804/10.21105.joss.04804.pdf) for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-08 09:33] oliviaguest commented on #3496
@Natsiopoulos @sbenthall the DOI archive needs to have the same title and author list as the journal article. 😊

[2022-11-08 09:35] oliviaguest commented on #3496
@sbenthall just FYI see the bullet points here to refresh your memory about DOI archives: https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2022-11-08 09:38] oliviaguest commented on #4600
@jagnobli I am on sick leave officially, but will check it out now and try to propose some meodifications. 😊

[2022-11-08 09:46] oliviaguest commented on #4600
@jagnobli I seem to be unable to propose edits.

[code]

[2022-11-08 09:48] kavir1698 commented on #4775
@editorialbot generate pdf

[2022-11-08 10:25] faroit commented on #4746
@neillu23 please update us on the reviewer proposals. I would like to proceed with the reviewer invitations.

[2022-11-08 10:26] kavir1698 commented on #4775
Thank you all for your time.

@mikldk The version of the package to the published is v0.17.0 (https://zenodo.org/record/7303672). The DOI is 10.5281/zenodo.7303672.

[2022-11-08 10:48] AoifeHughes commented on #4885
@editorialbot add @gmingas reviewer

[2022-11-08 10:49] kavir1698 commented on #4775
Can I update the version mentioned in the paper from 0.16.0 to 0.17.0?

[2022-11-08 10:51] AoifeHughes commented on #4885
@editorialbot add @gmingas as reviewer

[2022-11-08 10:55] AoifeHughes commented on #4885
Hello @xoolive, @torressa, and @rafalkucharskipk - we're looking for one more reviewer for this project. Would any of you have the time and like to be involved - you can see the article proof [here](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04885/joss.04885/10.21105.joss.04885.pdf) and the repository is located here: https://github.com/HKUST-OCTAD-LAB/AirTrafficSim

Details a

[2022-11-08 10:57] AKuederle commented on #4667
Thank you all for considering the review! @adi3 Thanks for pushing this forward!

Hier are some more suggestions:

kellieotto nilesh-patil jsgalan gabrielspadon paxtonfitzpatrick ketozhang amirhessam88 xtruan

[2022-11-08 11:04] xuanxu commented on #4838
@editorialbot check references

[2022-11-08 11:06] xuanxu commented on #4838
@editorialbot generate pdf

[2022-11-08 11:21] oliviaguest commented on #3842
@editorialbot recommend-accept

[2022-11-08 11:22] oliviaguest commented on #4738
@editorialbot check references

[2022-11-08 11:27] sepandhaghighi commented on #4073
@diehlpk @maxpumperla @danielenricocahall

**Result:**

A well-known and interesting tool from a prolific team 💯
But there are some concerns about **documentation** and **community guidelines**:

1. Documentation
    - I didn't find any API level documentation ([https://danielenricocahall.github.io/elephas/](https://danielenricocahall.github.io/elephas/) is available but it only contains some exam

[2022-11-08 11:30] tibordome commented on #4626
@adonath [Francisco Villaescusa-Navarro](https://www.simonsfoundation.org/people/francisco-villaescusa-navarro/) would also be a very apt reviewer though again we're unsure about his availability

[2022-11-08 11:34] xoolive commented on #4885
Hello @AoifeHughes I would be happy to do the review next week.

[2022-11-08 11:39] xuanxu commented on #4738
@editorialbot check references

[2022-11-08 11:44] lucydot commented on #4672
@editorialbot generate pdf

[2022-11-08 11:46] lucydot commented on #4333
@editorialbot generate pdf

[2022-11-08 11:52] lucydot commented on #4672
@StanczakDominik I think mid-November is fine, especially given that we are struggling to find alternative reviewers - thank you for the update. Although all checkboxes on the reviewer list are important, particular emphasis should be given to `Functionality` as @Rupali-Sahu has not been able to verify this.

@Rupali-Sahu I can see there are some items still ticked off on your list that do not req

[2022-11-08 11:52] oliviaguest commented on #4738
@editorialbot check references

[2022-11-08 12:02] lucydot commented on #4333
@jonathanHuwP @Kevin-Mattheus-Moerman the affiliations don't look quite correct to me as they currently include job titles, and a city name was missing. I've updated and created a PR request here: https://github.com/jonathanHuwP/CrystalGrowthTracker/pull/28 .

I can confirm the other [suggested changes](https://github.com/openjournals/joss-reviews/issues/4333#issuecomment-1299807121) have been mad

[2022-11-08 12:26] jagnobli commented on #4600
Maybe it would be best to add your comments directly here:

https://git.mpib-berlin.mpg.de/castellum/castellum/-/merge_requests/2333/diffs#diff-content-08d657848c777f97741500a6af9b7614af7f897a

[2022-11-08 12:27] mabesa commented on #4805
I'm finally starting to see your point. RSMinerveR is not a real software package. It includes some of the functions most of which I copied to riversCentralAsia later so they are in fact redundant. The essential part in RSMinerveR are the examples/vignettes that demonstrate how to use the CLR interface to run RS MINERVE from R without using the GUI of RS MINERVE. I'll rephrase the sections to clar

[2022-11-08 12:44] mabesa commented on #4805
@editorialbot generate pdf

[2022-11-08 12:56] lucydot commented on #4884
@kyleniemeyer  - I'd like to stick to my upper limit of three submissions if possible (I work part-time, so have reduced my edit load correspondingly). If @jarvist is available then I think he would be a suitable person - very deep in the theoretical condensed matter realm as @x94carbone puts it...

[2022-11-08 13:00] kyleniemeyer commented on #4884
@lucydot no problem, we can wait until one of you becomes available

[2022-11-08 13:01] oliviaguest commented on #4738
@editorialbot recommend-accept

[2022-11-08 13:37] Natsiopoulos commented on #3496
@oliviaguest @sbenthall I have corrected the title and author details.

[2022-11-08 13:50] mabesa commented on #4805
both riversCentralAsia and RSMinerveR are update. RSMinerveR is still organised as a package but it now only contains the examples as vignettes, no redundant R functions. The examples use the functions from riversCentralAsia.

[2022-11-08 14:23] AoifeHughes commented on #4885
Fabulous! Will be able to start the review process shortly then 😄

[2022-11-08 14:23] AoifeHughes commented on #4885
@editorialbot add @xoolive as reviewer

[2022-11-08 14:24] AoifeHughes commented on #4885
@editorialbot start review

[2022-11-08 14:24] editorialbot opened #4916 "[REVIEW]: AirTrafficSim: An open-source web-based air traffic simulation platform."
**Submitting author:** @kyfrankie (<a href="http://orcid.org/0000-0002-4905-5411">Ka Yiu Hui</a>)
**Repository:** https://github.com/HKUST-OCTAD-LAB/AirTrafficSim
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.1.0
**Editor:** @AoifeHughes
**Reviewers:** @gmingas, @xoolive
**Archive:** 10.5281/zenodo.8070119

## Status

[![status](https://joss.theoj.org/papers/7d4a9fdfae0c

[2022-11-08 14:24] #4885 closed

[2022-11-08 14:25] neillu23 commented on #4746
@faroit sorry we missed your previous message. We are discussing potential reviewers and we will get back to you soon!

[2022-11-08 14:25] AoifeHughes commented on #4916
@editorialbot set main as branch

[2022-11-08 14:26] AoifeHughes commented on #4916
@editorialbot check repository

[2022-11-08 14:27] AoifeHughes commented on #4916
@editorialbot set paper as branch

[2022-11-08 14:35] rkurchin commented on #4884
This is a _bit_ outside my wheelhouse, but I could take it if need be.

[2022-11-08 14:43] kyleniemeyer commented on #4884
Hi @x94carbone, as you can probably tell, we don't have any editors free to handle your submission at this moment, but we'll get this moving once either @jarvist or @rkurchin become available.

[2022-11-08 14:57] jarvist commented on #4884
Firmly in my area of expertise, and I have the capacity to take it on. I'm more than happy to edit.

[2022-11-08 15:06] MJWeberg commented on #4914
Hello @PaulJWright and @nabobalis, thanks for all the comments and feedback so far! I will work on addressing the issues raised, but I might not have the opportunity to get through all of them today. Please feel free to continue opening issues and/or add follow-up questions, I will answer them as soon as I can.

[2022-11-08 15:22] jonathanHuwP commented on #4333
@lucydot @Kevin-Mattheus-Moerman @JoannaLeng

I have made and pushed the suggested changes.

Sorry I'm not sure what a PR request is. If you let me know I'll do what is needed.

[2022-11-08 15:45] adonath commented on #4803
@editorialbot add @JohannesBuchner as reviewer

[2022-11-08 15:46] editorialbot opened #4917 "[PRE REVIEW]: EFcalculatoR: an easy-to-use R function to compute roadway-specific vehicular emission factors from the EMEP/EEA air pollutant emission inventory guidebook"
**Submitting author:** @AlexCaseiro1979 (<a href="http://orcid.org/0000-0003-3188-3371">Alexandre Caseiro</a>)
**Repository:** https://github.com/AlexCaseiro1979/EFcalculatoR
**Branch with paper.md** (empty if default branch):
**Version:** v1.01
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/5c9affbd693aca2f401aedfd3e

[2022-11-08 15:47] editorialbot opened #4918 "[PRE REVIEW]: Water Systems Integrated Modelling framework, WSIMOD: A Python package for integrated modelling of water quality and quantity across the water cycle"
**Submitting author:** @barneydobson (<a href="http://orcid.org/0000-0002-0149-4124">Barnaby Dobson</a>)
**Repository:** https://github.com/barneydobson/wsi
**Branch with paper.md** (empty if default branch):
**Version:** 0.2_joss_submission
**Editor:** @crvernon
**Reviewers:** @cheginit, @jlarsen-usgs
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/9df09dbd843

[2022-11-08 15:49] dfm commented on #4634
@minaskar — I've opened a PR with some minor edits to the paper. After merging or responding to that, here are the final steps that I'll need from you:

1. Take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially the author names and affiliations. I've taken a pass and it looks good to me!
2. Increment the version number of t

[2022-11-08 15:53] dfm commented on #4831
@editorialbot assign me as editor

@asogaard — Thanks for your patience! Looks like I'll be editing your submission. I'll start recruiting reviewers right away and add them here.

[2022-11-08 15:55] dfm commented on #4831
👋  @JostMigenda, @apizzuto — Would either or both of you be willing to review this submission to JOSS? @asogaard has suggested that you would be appropriate reviewers and I definitely agree!

I know that you've both been through this process before, but let me know if you have any questions or recommendations for alternative reviewers. Thanks!

[2022-11-08 15:56] dfm commented on #4853
@editorialbot assign me as editor

@grburgess — Thanks for you patience! Looks like I'll be editing your submission. I'll start recruiting reviewers right away and add them here.

[2022-11-08 16:03] PaulJWright commented on #4914
Take your time, while it may look like a lot, the majority of changes I have requested should be low-effort.

[2022-11-08 16:07] dfm commented on #4483
👋 @lwang-astro, @rieder, @webbjj — Hi folks, I wanted to check in here because we're recently switched to a "tracks" model here at JOSS and I'm now the managing editor of the track where this submission has been assigned. It looks like there hasn't been much activity on this review in a while - can you update me on what the status is and if there are any blockers in place that I can help with? Tha

[2022-11-08 16:50] askuric commented on #4762
Hi everyone,

Sorry for keeping you waiting.
The paper looks good to me and the changes address all of my comments, so from my side it is ready for publishing.
Great work @lucask07 and @Ajstros.

[2022-11-08 16:55] fraukewiese commented on #4472
Sorry for not reacting earlier.

[2022-11-08 16:56] fraukewiese commented on #4472
@editorialbot recommend-accept

[2022-11-08 16:57] georgiastuart commented on #4683
@JakobBD can you describe the role of the other four authors on the paper? It seems like, from the repository, you're the only committer.

[2022-11-08 17:18] oliviaguest commented on #3842
@editorialbot recommend-accept

[2022-11-08 17:27] oliviaguest commented on #3496
Fantastic! Can you make any last edits to the manuscript and compile and check the proofs, please? 😊

[2022-11-08 17:42] villaa commented on #4694
@rkurchin sorry, I fell behind, I'm going to check it now

[2022-11-08 17:43] barneydobson commented on #4918
Thanks!

Potential reviewers selected from the provided list, based on 'hydrology'
keyword search and a quick skim of relevant papers:
jlarsen-usgs: ***@***.***
alessandroamaranto: ***@***.***
cheginit: ***@***.***
dvalters: (no email)

Additional relevant reviewers who have a strong background in research
software:
Jon Herman - Jon Herman | Center for Watershed Sciences (ucdavis.edu)
<https://wat

[2022-11-08 18:03] dshean commented on #4700
Thanks @danielskatz!

I get a 404 when clicking on that link, and I don't see the teams.  Is that expected?

[2022-11-08 18:17] JostMigenda commented on #4831
Sure, sign me up! I’ll just note right up front that I have little experience with GNNs; so it might be good if the second reviewer is more experienced in that area.

[2022-11-08 18:48] lucask07 commented on #4896
Installation for a MAC with Intel chip was checked and proceeded as outlined in the [documentation](https://openmsistream.readthedocs.io/en/latest/installation/mac_intel.html).

[2022-11-08 19:08] SYalouz commented on #4759
@editorialbot generate pdf

[2022-11-08 19:10] SYalouz commented on #4759
@editorialbot check references

[2022-11-08 19:14] SYalouz commented on #4759
Dear @erikkjellgren, see below my answers to all your comments !

Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution. There is working installation instruction on the main GitHub page of the package. The instructions instruct to install Psi4 separately from QuantNbody, instead of having it as a di

[2022-11-08 19:26] SYalouz commented on #4759
Dear @erikkjellgren and @wcwitt ( and  @jarvist),

Thank you again for all your comments which helped us to improve our project on many points. We have finished all the corrections and new implementations. I just answered all your comments point by point. I hope you will be satisfied with all our efforts!

[2022-11-08 19:30] mbobra commented on #4914
@PaulJWright This is absolutely in scope 👍

[2022-11-08 19:50] jmschrei commented on #4767
@editorialbot set 10.5281/zenodo.7303498 as archive

[2022-11-08 19:50] jmschrei commented on #4767
@editorialbot set 2.0.0 as version

[2022-11-08 19:51] jmschrei commented on #4767
@editorialbot recommend-accept

[2022-11-08 19:53] lucask07 commented on #4896
@eminizer
Could you point me to the simplest example to try this package on my own system(s)?

[2022-11-08 20:12] eminizer commented on #4896
Hi @lucask07,

Yes! Certainly the simplest program would be "[UploadDataFile](https://openmsistream.readthedocs.io/en/latest/user_info/main_programs/upload_data_file.html)", which will break a given file into chunks and Produce those chunks as messages to a Kafka topic.

To run that program (or any others), though, you will need access to a Kafka cluster as enumerated in the "[external requirement

[2022-11-08 22:11] kthyng commented on #4700
Hi @dshean and thanks for your patience. I'll be taking over as editor. I'll do my best to get this rolling, I'm sorry for the delay!

[2022-11-08 22:12] kthyng commented on #4700
@editorialbot assign me as editor

[2022-11-08 22:12] kthyng commented on #4700
@JessicaS11 I think that is too close, but thank you for the info and willingness to review.

[2022-11-08 22:13] ConnorDonegan commented on #4716
I would not object to that, @jbytecode. I've also added this to the README for the github repo and to the main website.

The website/readme now has this:

### Support
All functions and methods are documented (with examples) on the website [reference](https://connordonegan.github.io/geostan/reference/index.html) page. See the package [vignettes](https://connordonegan.github.io/geostan/articles/inde

[2022-11-08 22:21] kthyng commented on #4700
Hi @jhkennedy and @jreadey! Would any of you be willing to review this submission for JOSS? The submission under consideration is SlideRule, a toolset for researchers leveraging the NASA ICESat-2 mission.

The review process at JOSS is unique: it takes place in a GitHub issue, is open, and author-reviewer-editor conversations are encouraged. You can learn more about the process in these guidelines

[2022-11-08 22:23] kthyng commented on #4917
Hi @AlexCaseiro1979 and thanks for your submission. Because of the relatively small size of the code base, I will ping the editorial board to check if it is in scope for JOSS. This process should take 1-2 weeks. Thanks for your patience.

[2022-11-08 22:23] kthyng commented on #4917
@editorialbot query scope

[2022-11-08 22:28] kthyng commented on #4918
Hi @barneydobson and thanks for your submission!  Our relevant editors are currently full so I will need to put you on our waitlist. Thank you for your patience.

[2022-11-08 22:29] kthyng commented on #4918
In the meantime you could address those missing DOIs in your paper — they aren't always correct but please check them out.

[2022-11-08 22:29] 0xCoto commented on #4915
@mgm8 - Could you please comment on how this library compares against conventional DSP tools (such as GNU Radio, whose versatility may permit similar processing pipelines)? Considering GNU Radio's increasing popularity in the field of satellite communications, I think it would be useful for readers to understand the cases where PyNGHam could replace/complement the functionality of GNU Radio-based

[2022-11-08 22:30] editorialbot opened #4919 "[PRE REVIEW]: pycoxmunk: A python package for computing sea surface reflectance"
**Submitting author:** @simonrp84 (<a href="http://orcid.org/0000-0003-3880-6774">Simon Proud</a>)
**Repository:** https://github.com/simonrp84/PyCoxMunk
**Branch with paper.md** (empty if default branch): paper
**Version:** v1.0.0
**Editor:** @pdebuyl
**Reviewers:** @arthur-e, @molinav
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/02aba00387c883d05a5caf7e06d

[2022-11-08 22:34] kthyng commented on #4919
Hi @simonrp84 and thanks for your submission! Our relevant editors are full right now so I am placing this on a waitlist. Thank you for your patience.

[2022-11-08 22:37] omalled commented on #4560
I'm working on it.

[2022-11-08 23:01] sbenthall commented on #3496
@editorialbot recommend-accept

[2022-11-08 23:39] jhkennedy commented on #4700
Hi @kthyng I'd be happy to review! Since this review has been pending for a while, what timeline for review are you expecting? I likely cannot get to it this week, might be able to next week, but for sure can get to it before Thanksgiving (by Nov 23).

[2022-11-09 00:56] x94carbone commented on #4884
@jarvist Fantastic, thank you! Please let me know if there's anything I can do.

Looks like we found one! 😁

[2022-11-09 02:46] lucask07 commented on #4896
Thanks @eminizer I would like to try an actual test. This would help my understanding of the overall architecture. If there is an _easy_ way for you to allow me to access your cluster I would try passing data through there. However, if this becomes a project in itself let's not bother.
My email is koerner   dot  lucas @ stthomas dot edu.

Thank you, Lucas

[2022-11-09 02:49] lucask07 commented on #4896
A paper comment. An example of a real dataset would be helpful. What are typical file types and sizes? Is there a typical rate at which the data is generated/consumed?

And a related side question: is there a guideline for maximum filesize when using Apache Kafka?

[2022-11-09 05:18] mdmurbach commented on #4808
Hi @vyrjana,

Overall a cool UI for doing EIS analysis and seems like a potentially great contribution to the open source impedance analysis space. Aslan-Kosakian's has made some great suggestions for overall improvements, so I don't have too much to add. In fact, my initial comments were similar to theirs in that I struggled a bit to figure out how to use it (despite regularly doing EIS analysis

[2022-11-09 07:45] zexinyang commented on #4681
@gattia I appreciate your detailed response and taking the time to address all my concerns. @hugoledoux I believe the work meets all the criteria, so I would recommend accepting it.

[2022-11-09 07:53] csoneson commented on #4545
Thanks @schalkdaniel!

@patRyserWelch8 - could you take a look at the revised submission when you have a chance, and let us know what you think. In particular, please let us know if there are any points in the checklist that you still do not feel are satisfied.

[2022-11-09 08:55] barneydobson commented on #4918
Thanks for the info Kristen.

There were a couple of preprints that the bot picked up instead of the
proper dois:
10.1088/1748-9326/abb050 should be for "Protecting rivers by integrating
supply-wastewater infrastructure planning and coordinating operational
decisions"
10.1029/2021WR030778 should be for "A reduced complexity model with graph
partitioning for rapid hydraulic assessment of sewer netw

[2022-11-09 11:43] dfm commented on #4634
@minaskar — Great! Can you make an updated archive using a clean checkout or directly from this zip file: https://github.com/minaskar/pocomc/archive/refs/tags/0.2.3.zip ? The version at 10.5281/zenodo.7306240 contains a lot of temporary files and build products. Thanks!

[2022-11-09 11:52] leotrs commented on #4899
I was able to install and use it with ease. I have a soft spot for Mathematica AND graph theory, so I love this one. Thanks @szhorvat. I believe the paper can be accepted as is.

[2022-11-09 12:36] kyleniemeyer commented on #4884
@editorialbot assign @jarvist as editor

Thanks @jarvist!

[2022-11-09 13:06] pausz commented on #4815
@danielskatz I've completed my checklist-based review. Sorry again for the delay. I can elaborate more on the items that are not checked if needed.

[2022-11-09 13:21] lucask07 commented on #4762
Thank you @askuric for your time!

If you feel ok with it can you check off the last box in your checklist of "Summary: Has a clear description of the high-level functionality and purpose of the software for a diverse, non-specialist audience been provided?"

[2022-11-09 14:40] mikldk commented on #4775
@editorialbot set v0.17.0 as version

[2022-11-09 14:41] mikldk commented on #4775
@editorialbot recommend-accept

[2022-11-09 14:42] lucask07 commented on #4762
@danielskatz
Adding a notification for you since all of the reviewer checkboxes have been completed. Thanks for your work on this submission.

[2022-11-09 14:47] danielskatz commented on #4762
👋 @Ajstros - At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list

[2022-11-09 15:22] gattia commented on #4681
@zexinyang thanks so much for your efforts and contribution.

Anthony.

[2022-11-09 15:28] pboesu commented on #4804
@fabian-s Unfortunately I am not available at the moment.

[2022-11-09 16:05] minaskar commented on #4634
@dfm Done, the new DOI is ``10.5281/zenodo.7308366``

[2022-11-09 16:15] Kevin-Mattheus-Moerman commented on #4814
@ellieb can you answer the questions above :point_up:

[2022-11-09 16:18] wcjochem commented on #4716
Thanks @ConnorDonegan for these revisions. I agree with @jbytecode the contributing guidelines are most appropriate in the README/website. I think you have addressed all my issues, so I'm happy to complete my review now. Thanks!

[2022-11-09 16:32] kthyng commented on #4700
@jhkennedy awesome! Yes before Thanksgiving would be great! I'll add you to the reviewer list, and then I'll start the review once we have a second reviewer in place.

[2022-11-09 16:53] britta-wstnr commented on #4856
Hi @kasasxav @MaximLippeveld @kerkelae :wave:

Would you be willing to review the submission:
**FijiRelax: Fast and noise-corrected estimation of MRI relaxation maps in 3D + t**
for [The Journal of Open Source Software (JOSS)](https://joss.theoj.org/)?

The review concerns the software [FijiRelax](https://github.com/Rocsg/FijiRelax) and a [short paper](https://github.com/openjournals/joss-papers/b

[2022-11-09 17:24] minaskar commented on #4634
@dfm DOI is ``10.5281/zenodo.7308533`` and version number is ``0.2.4``

[2022-11-09 17:33] untzag commented on #4762
Congrats @Ajstros @lucask07 this is great work

[2022-11-09 17:39] dfm commented on #4634
@editorialbot set 10.5281/zenodo.7308533 as archive

[2022-11-09 17:40] dfm commented on #4634
@editorialbot check references

[2022-11-09 17:40] dfm commented on #4634
@editorialbot generate pdf

[2022-11-09 17:44] dfm commented on #4634
@editorialbot recommend-accept

[2022-11-09 17:47] dfm commented on #4634
@editorialbot accept

[2022-11-09 17:50] dfm commented on #4634
@kazewong, @marylou-gabrie — many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@minaskar — your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-11-09 17:51] #4634 closed

[2022-11-09 17:52] jbytecode commented on #4716
Since our reviewers have completed their reviews I can start my editorial tasks.

[2022-11-09 17:52] jbytecode commented on #4716
@editorialbot check references

[2022-11-09 17:53] minaskar commented on #4634
Thank you so much @dfm @marylou-gabrie @kazewong

[2022-11-09 17:58] jbytecode commented on #4716
@editorialbot generate pdf

[2022-11-09 18:07] Ajstros commented on #4762
@editorialbot set v0.0.3 as version

[2022-11-09 18:30] Ajstros commented on #4762
@danielskatz the new release is v0.0.3. I have uploaded to Zenodo and checked the metadata. The DOI is 10.5281/zenodo.7308636

[2022-11-09 18:52] ConnorDonegan commented on #4716
@jbytecode I've now updated the paper.md and pdf file to no longer include the section on user support.

@editorialbot generate pdf

[2022-11-09 22:13] editorialbot opened #4920 "[PRE REVIEW]: DeBIR: A Python Package for Dense Bi-Encoder Information Retrieval"
**Submitting author:** @ayuei (<a href="http://orcid.org/0000-0003-1787-8090">Vincent Nguyen</a>)
**Repository:** https://github.com/Ayuei/DeBEIR
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.0.1
**Editor:** @arfon
**Reviewers:** @KonradHoeffner
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/6454b671e9fc79029e5087f05b296e07/status.svg

[2022-11-09 22:14] editorialbot opened #4921 "[PRE REVIEW]: Speakerbox: Few-Shot Learning for Speaker Identification with Transformers"
**Submitting author:** @evamaxfield (<a href="http://orcid.org/0000-0003-2564-0373">Jackson Brown</a>)
**Repository:** https://github.com/CouncilDataProject/speakerbox
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @faroit
**Reviewers:** @desilinguist, @FabianHofmann
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/49cfcef1769c

[2022-11-09 22:14] editorialbot opened #4922 "[PRE REVIEW]: SigCorr: A Python package for studies of trials factors"
**Submitting author:** @vindex10 (<a href="http://orcid.org/0000-0003-3649-7621">Viktor Ananiev</a>)
**Repository:** https://gitlab.cern.ch/sigcorr/sigcorr
**Branch with paper.md** (empty if default branch): joss22
**Version:** 4.0.0
**Editor:** @osorensen
**Reviewers:** @BSGalvan, @jdalzatec, @amorenobr
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/ba9741aeb58

[2022-11-09 22:19] eminizer commented on #4896
Thank you, @lucask07, and again sorry for the trouble. Some responses in line:

Of course! We would definitely want you to try running the code yourself, that's why we're here : )

I wasn't sure how the review would proceed, but using our cluster would definitely be fastest and easiest. I've just emailed you the information for how to connect to it.

There are a number of topics there for the CI t

[2022-11-10 01:19] emdupre commented on #4892
👋  Hi @cellistigs, @dghoshal-lbl, @mattgolub, @lyprince,

Would you be willing to review _High-performance neural population dynamics modeling enabled by scalable computational infrastructure_ for [JOSS (the Journal of Open Source Software)](https://joss.theoj.org/)?

You can learn more about reviewing for JOSS -- including our conflict of interest policy -- [here](https://joss.readthedocs.io/en/l

[2022-11-10 01:26] ThomasThelen commented on #4562
Okay @kthyng I believe it should be follow the standard now; [here](https://zenodo.org/record/6972383#.Y2xRGL7MJkh) is the latest version.

[2022-11-10 02:14] pritchardn commented on #4915
I'll be adding my comments as I go, I plan to have my review completed in the next two weeks :smile:

Documentation - Statement of Need: There is a space in the overview page for explaining the point of the protocol however the last sentence, where the statement of need actually is seems unfinished - ending with `, and so far.`

Consider elaborating a little more about why an easy-to-use Python-ba

[2022-11-10 02:57] paulromano commented on #4735
@danielskatz I've tagged a new release, [v0.4.0](https://github.com/watts-dev/watts/releases/tag/v0.4.0), and it's been archived at:
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.7309095.svg)](https://doi.org/10.5281/zenodo.7309095)

[2022-11-10 04:09] gattia commented on #4681
@editorialbot generate pdf

[2022-11-10 07:37] jbytecode commented on #4716
@editorialbot check references

[2022-11-10 07:54] oliviaguest commented on #4738
@editorialbot recommend-accept

[2022-11-10 07:54] oliviaguest commented on #3842
@editorialbot recommend-accept

[2022-11-10 07:54] oliviaguest commented on #3496
@editorialbot recommend-accept

[2022-11-10 07:56] jbytecode commented on #4716
@editorialbot generate pdf

[2022-11-10 08:07] MaximLippeveld commented on #4908
Hi @lpantano

The submitter only has 5 commits on the repository. I assume this is not enough to meet the "Contribution and authorship" check.

I am also not sure about the scholarly effort. The paper describes only one added feature to an existing software. While I am convinced that the added feature is useful, I'm not sure if one feature is substantial enough to warrant a paper.

Could you weigh

[2022-11-10 08:08] MaximLippeveld commented on #4856
Happy to review this!

[2022-11-10 08:20] jbytecode commented on #4716
@ConnorDonegan - I have just sent a pull request that includes some corrections/additions to the manuscript and bibtex. Please review the changes and apply them if you are agreed with them. Thank you in advance.

[2022-11-10 08:31] danielskatz commented on #4762
@editorialbot recommend-accept

I will next proofread the result of this

[2022-11-10 08:31] danielskatz commented on #4735
@editorialbot set v0.4.0 as version

[2022-11-10 08:31] danielskatz commented on #4735
@editorialbot set 10.5281/zenodo.7309095 as archive

[2022-11-10 08:50] jbytecode commented on #4869
@odunbar - Could you please update your status and inform us about the progress? Thank you in advance.

[2022-11-10 08:52] jbytecode commented on #4736
@tmigot - could you please update your status?

[2022-11-10 09:09] danielskatz commented on #4762
@editorialbot accept

the draft looks good to me as-is

[2022-11-10 09:11] fuadlabgit commented on #4845
@sbenthall Welcome and thank you for editing this submission!

[2022-11-10 09:18] #4762 closed

[2022-11-10 09:22] danielskatz commented on #4735
@editorialbot accept

[2022-11-10 09:29] xoolive commented on #4916
@editorialbot generate my checklist

[2022-11-10 09:31] danielskatz commented on #4735
Thanks to @paulromano (Paul Romano) and co-authors!

And thanks to @sskutnik, @munkm and @yadudoc for reviewing!
We couldn't do this without you

[2022-11-10 09:31] #4735 closed

[2022-11-10 09:34] danielskatz commented on #4502
@yhtang - Is there any new update now, a month later?

[2022-11-10 09:35] danielskatz commented on #3680
@editorialbot withdraw

[2022-11-10 09:35] #3680 closed

[2022-11-10 09:37] danielskatz commented on #4607
👋 @drvinceknight - can you help this submission move along?  It looks almost done, all review criteria are checked except one (reproducibility) from @CFGrote

[2022-11-10 09:38] danielskatz commented on #2954
@michakraus - what has happened in the 17 days since the last update?

[2022-11-10 09:39] danielskatz commented on #4822
👋 @govarguz - it's now been ~5 weeks. Please do get started when you can by generating your checklist. To do this, use the command @editorialbot generate my checklist to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

If you have any issues or concerns about the process, please let me know.

[2022-11-10 09:41] danielskatz commented on #4875
👋 @crvernon - Any news on finding a second reviewer?

[2022-11-10 10:04] govarguz commented on #4822
@danielskatz, I plan to send my comments in this week. thanks for the reminder!

[2022-11-10 10:08] fraukewiese commented on #4794
@RafalKucharskiPK , @danieledipompeo – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [FAME-Core: An open Framework for distributed Agent-based Modelling of Energy systems](https://gitlab.co

[2022-11-10 10:09] fraukewiese commented on #4795
@KriNiTi Do you have any additional suggestions for reviewers?

[2022-11-10 10:10] fraukewiese commented on #4796
@BasTesterink , @jordanperr – would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review here is [AMIRIS: Agent-based Market model for the Investigation of Renewable and Integrated energy Systems](https://gitla

[2022-11-10 10:10] fraukewiese commented on #4796
@dlr-cjs : Just in case: Do you have any additional suggestions for reviewer?

[2022-11-10 10:12] gcattan commented on #4114
@ekinney-lang did you have a chance to look at the last modification? :)

[2022-11-10 10:30] corentin-dev commented on #4365
Thank you all for your careful reviews.

We merged the branch feature/joss to master so now the README and the rest is up to date.

We recompiled the paper, so you may take a look. Only minor changes were made, based on your remarks.

We updated the software so that all functions are rename accordingly to standard `R`.

More help is now directly available in the `README`, and additional link to th

[2022-11-10 10:37] britta-wstnr commented on #4856
Awesome, @MaximLippeveld - thanks a lot! 🙏  I'll ping you again once we get started.

[2022-11-10 12:12] corentin-dev commented on #4365
Ping @Florian-Lecocq

[2022-11-10 13:10] salzberg commented on #4908
I am one of the authors. The new feature required substantial re-engineering of the code, and it provides a really, really useful new capability. This software uses a custom database that is huge, typically around 400 GB, and the database must be in RAM for the original version to work. That limits users to finding a server with more than 400 GB of RAM, and for many users they simply can't do it.

[2022-11-10 13:30] ziyiyin97 commented on #4869
Sorry I was a bit swamped these days. I've been running some example scripts from the package and I'll finish my review by the end of this weekend.

[2022-11-10 13:52] testerink commented on #4796
Hi, I registered many years ago as a reviewer when I was a PhD student. But with my current work I find it hard to fit in these reviews. So I think it's best if I'm removed from the list.

[2022-11-10 14:06] tmigot commented on #4736
@jbytecode @HaoZeke I replied in the issue directly https://github.com/JuliaSmoothOptimizers/PDENLPModels.jl/issues/87

[2022-11-10 14:11] KonradHoeffner commented on #4755
@kellyrowland: We are finished with the review, please proceed.

[2022-11-10 14:13] MaximLippeveld commented on #4908
Hi Steven,

Thanks for your clarifications. I definitely agree we need to publish good software engineering work; I'm reviewing for JOSS after all :slightly_smiling_face:

I do feel that the complexity of the proposed solution as you describe it now, is not reflected in the paper. Maybe the first paragraph of the section "Database chunking" can be elaborated on? For example, is there anything spec

[2022-11-10 14:24] kthyng commented on #4562
@editorialbot accept

[2022-11-10 14:32] kthyng commented on #4562
Congrats on your new publication @ThomasThelen! Many thanks to editor @marcosvital and reviewers @chrisaberson, @brunomontezano, and @thodson-usgs for your time, hard work, and expertise!

[2022-11-10 14:32] #4562 closed

[2022-11-10 14:35] editorialbot opened #4923 "[PRE REVIEW]: REAR: a Regional ElAstic Rebound calculator"
**Submitting author:** @danielemelini (<a href="http://orcid.org/0000-0002-5383-2375">Daniele Melini</a>)
**Repository:** https://github.com/danielemelini/rear
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v1.5
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/1331eb5ccf822843ccd55e2df1c6969

[2022-11-10 15:06] taw10 commented on #4859
I'm on it ☺ Just had a very busy couple of weeks

[2022-11-10 15:07] osorensen commented on #4847
👋 @stefanocoretta, could you please update us on how its going with your review?

[2022-11-10 15:09] osorensen commented on #4848
👋 @EugeneHao, could you please update us on how it's going with your review?

[2022-11-10 15:14] ThomasThelen commented on #4375
Thanks for all of the time put in to this review-we appreciate all of the fantastic feedback and effort put in!

[2022-11-10 15:16] jbytecode commented on #4736
I think our reviewer has requested clarifications and @tmigot explained why their package is not a thin wrapper and satisfies the JOSS requirements.

@HaoZeke - are those explanations are okay?

[2022-11-10 15:25] JulianKarlBauer commented on #4900
@editorialbot generate my checklist

[2022-11-10 15:28] kyleniemeyer commented on #4472
Hi @mcgrathc, I made some edits for the paper's bibliography (author names need to be separated by `and` rather than a comma), could you merge my PR? https://github.com/IMMM-SFA/tell/pull/44

[2022-11-10 16:06] taw10 commented on #4859
Apart from the already-resolved co-authorship question, here are some minor writing issues I picked up while reviewing the text part of the paper:
* Extraneous line break at PDF line 33 (source line 48) - I think due to some trailing whitespace in the Markdown
* Extraneous line break at PDF line 98 (source line 79)
* Spelling error at PDF line 44 (source 52) "consequentely"
* Possible error at PDF

[2022-11-10 16:26] sbenthall commented on #4845
@martibosch Would you be able to review this submission?

[2022-11-10 16:27] sbenthall commented on #4845
@jamesdamillington Would you be able to review this submission?

[2022-11-10 16:56] kellyrowland commented on #4755
@editorialbot generate pdf

[2022-11-10 17:01] arfon commented on #4738
@editorialbot recommend-accept

[2022-11-10 17:03] kellyrowland commented on #4755
Thanks all for the work here; apologies for the delay on my end.

@ggonnella @KonradHoeffner I've looked at the differences between the two branches of `paper.md` and I agree that the parallelization discussion really adds to the paper, so I would recommend including that (it's okay that it's a bit over the recommended word count).

If you could please ping me again here when the the changes are m

[2022-11-10 17:05] kellyrowland commented on #4468
I'll ping @jonjoncardoso again here to ask for another update.

If we haven't heard anything back in a few days, I'll reach out to find another reviewer to complete the review and move this forward.

[2022-11-10 17:07] kellyrowland commented on #4249
Hi @jessdtate -checking in here to ask if you think the paper is ready for another look by the reviewers? I see some recent commits in the `joss_feedback` branch and just wanted to touch base.

[2022-11-10 17:10] ConnorDonegan commented on #4716
Yeah---I'm going to drop that DOI. The journal article has been listed on site called SSRN, and it has a DOI. However, the journal article itself has no DOI associated with the 'real' publication. So this one will be missing a doi

[2022-11-10 17:12] jbytecode commented on #4716
@ConnorDonegan - I have performed a DOI search using [this site](https://www.doi.org/) and it redirects to the [page](https://papers.ssrn.com/sol3/papers.cfm?abstract_id=2420725). So, it is okay, imo.

[2022-11-10 17:14] ConnorDonegan commented on #4716
@editorialbot generate pdf

[2022-11-10 17:28] jbytecode commented on #4716
Dear @ConnorDonegan

- [ ] I've just sent a PR for a small typo issue in the bibtex, please apply it.
- [ ] Please read the paper pdf carefully, one more time, correct any issue if exists. Please perform a full grammar check.
- [ ] Create a tagged release in the software repository. Report the version here. The version should be in form of `vx.y.z`, e.g. `v1.2.3`.
- [ ] Create a Zenodo archive of

[2022-11-10 17:31] ConnorDonegan commented on #4716
@editorialbot generate pdf

[2022-11-10 17:53] ConnorDonegan commented on #4716
@editorialbot generate pdf

[2022-11-10 17:59] jbytecode commented on #4716
@ConnorDonegan - The manuscript now looks fine.

[2022-11-10 18:05] ConnorDonegan commented on #4716
I tagged a new release in the **geostan** repository: `v0.4.1`

[2022-11-10 18:08] jbytecode commented on #4716
@editorialbot set v0.4.1 as version

[2022-11-10 18:14] diehlpk commented on #4073
@maxpumperla @danielenricocahall Please have a look at these comments. All of them are important to finish the review.

[2022-11-10 18:15] diehlpk commented on #4073
Hi @urbanophile do you have time to review hat paper?

[2022-11-10 18:54] ConnorDonegan commented on #4716
zenodo url: <https://zenodo.org/record/7311716>

zenodo doi: 10.5281/zenodo.7311716.svg

[2022-11-10 18:55] jbytecode commented on #4716
@editorialbot set 10.5281/zenodo.7311716 as archive

[2022-11-10 18:58] jbytecode commented on #4716
@ConnorDonegan - Thank you. I am now recommending an acceptance. The final decision will be made by one of our editor-in-chiefs. Congratulations!

[2022-11-10 18:58] jbytecode commented on #4716
@editorialbot recommend-accept

[2022-11-10 18:59] ConnorDonegan commented on #4716
Thanks @jbytecode, @wcjochem and @jbytecode  for a smooth and productive editorial experience.

[2022-11-10 19:12] jbytecode commented on #4716
@openjournals/dev - I need your help, thank you in advance!

[2022-11-10 19:38] chartgerink commented on #4662
Hi @FlukeAndFeather - any updates on this submission? I would be happy to chug this along as it seems to have been open for a bit.

[2022-11-10 19:42] ggonnella commented on #4755
@editorialbot generate pdf

[2022-11-10 19:43] ggonnella commented on #4755
@kellyrowland done, thank you

[2022-11-10 19:53] cgrudz commented on #4129
@editorialbot generate pdf

[2022-11-10 20:08] mcgrathc commented on #4472
Hi @kyleniemeyer, thanks for making those edits! Your PR has been merged into main

[2022-11-10 20:14] cgrudz commented on #4129
@diehlpk, the paper version above includes countries in the affiliations.  Please find below the new release and the associated Zenodo release

https://github.com/cgrudz/DataAssimilationBenchmarks.jl/releases/tag/v0.3.4

10.5281/zenodo.7311847

Let me know if you need any further actions and thanks for your assistance!

[2022-11-10 20:32] kellyrowland commented on #4755
@editorialbot check references

[2022-11-10 20:36] kellyrowland commented on #4755
@ggonnella I'm ready to recommend this for acceptance. Please create an archive of the tagged release you wish to have the paper associated with and archive it (on Zenodo, figshare, or elsewhere) and post the DOI here.

[2022-11-10 21:34] kyleniemeyer commented on #4472
@editorialbot generate pdf

[2022-11-10 22:21] kyleniemeyer commented on #4472
@mcgrathc sorry, looks like I accidentally added some duplicate "and"s before final author names. Fixed in https://github.com/IMMM-SFA/tell/pull/45 and then we should be good to go

[2022-11-10 22:58] mcgrathc commented on #4472
@kyleniemeyer no problem, just merged that fix.

[2022-11-10 22:59] kyleniemeyer commented on #4472
@editorialbot generate pdf

[2022-11-10 23:03] kyleniemeyer commented on #4472
@mcgrathc 🤦‍♂️ sorry again, I noticed one final issue: in the `wrf` reference, could you add a comma in the final name of the author list? `Huang X.-Y.` -> `Huang, X.-Y.`

*then* we are good to accept!

[2022-11-10 23:04] evamaxfield commented on #4921
Hey @arfon! I will push a fix for those DOIs.

I also have two potential recommendations for editor:
* https://github.com/pdwaggoner
* https://github.com/cosimameyer

Lastly, can I ask how my deadname was picked in ORCID?

Thanks for all you do!

[2022-11-10 23:13] diehlpk commented on #4129
@editorialbot set v0.3.4 as version

[2022-11-10 23:13] diehlpk commented on #4129
@editorialbot set 10.5281/zenodo.7311847 as archive

[2022-11-10 23:15] diehlpk commented on #4129
@cgrudz The title of the Zenodo archive reads as `cgrudz/DataAssimilationBenchmarks.jl: JOSS Paper Version`, but it should read as `DataAssimilationBenchmarks.jl: a data assimilation research framework` to match the paper. Please edit the title. There is no need for a new verison.

[2022-11-10 23:15] diehlpk commented on #4129
@editorialbot check references

[2022-11-10 23:16] diehlpk commented on #4129
@editorialbot generate pdf

[2022-11-10 23:18] diehlpk commented on #4129
@cgrudz After that change, I can recommend the paper for acceptance.

[2022-11-10 23:20] diehlpk commented on #4250
Hi @jackbrookes do you have time to review this paper?

[2022-11-10 23:21] diehlpk commented on #4250
Hi @ionlights do you have time to review that paper?

[2022-11-10 23:22] diehlpk commented on #4611
@estefaniatalavera and @mcasl could you please have a look at the changes @dunnkers made?

[2022-11-10 23:22] diehlpk commented on #4637
@thomasgillis Can you please have a look at your check list. There are some unchecked boxes.

[2022-11-10 23:22] salzberg commented on #4908
I'll let Christopher know and see if we can add some more details about the temporary data structure and how we merge them.

[2022-11-10 23:25] cgrudz commented on #4129
Great! I think I just got this fixed, let me know if there is anything else to do.

[2022-11-10 23:33] ggonnella commented on #4755
@kellyrowland
I uploaded the current version of the software to Zenodo. The DOI is:
https://doi.org/10.5281/zenodo.7312100

[2022-11-10 23:50] mcgrathc commented on #4472
@kyleniemeyer no worries, I didn't catch that either! Should be reflected now.

[2022-11-10 23:56] kellyrowland commented on #4755
@editorialbot set doi.org/10.5281/zenodo.7312100 as archive

[2022-11-10 23:57] kellyrowland commented on #4755
@editorialbot set 10.5281/zenodo.7312100 as archive

[2022-11-10 23:58] kellyrowland commented on #4755
@editorialbot set 2.1 as version

[2022-11-10 23:58] kellyrowland commented on #4755
@editorialbot recommend-accept

[2022-11-11 00:07] amoeba commented on #4804
Hello @fabian-s, I can review this.

[2022-11-11 00:25] alexrockhill commented on #4647
It looks like maybe their GitHub is inactivated @prashjha

[2022-11-11 00:43] aaron-bray commented on #4647
We use our own gitlab instance here:

*Repository:* https://gitlab.kitware.com/physiology/engine
*Branch with paper.md* (empty if default branch): publication/JOSS

On Thu, Nov 10, 2022 at 7:25 PM Alex Rockhill ***@***.***>
wrote:

[2022-11-11 00:57] alexrockhill commented on #4647
I meant the other reviewer, kostadus, that was meant to be tagged, sorry for any confusion @aaron-bray

[2022-11-11 00:58] aaron-bray commented on #4647
Oh!
Ha!

No problem!

[2022-11-11 02:24] crvernon commented on #4875
@danielskatz working on it in my network of folks.  I think I may have found someone.  I'll hear back for sure tomorrow one way or the other.

[2022-11-11 02:27] crvernon commented on #4805
:wave: @mabesa , @tonyewong , and @mengqi-z - Looks like this review is moving along well.  Please let me know if you need assistance in any way.  Keep up the good work!

[2022-11-11 02:27] kyleniemeyer commented on #4472
@editorialbot accept

[2022-11-11 02:28] crvernon commented on #4807
Thank you for your review @balima78 !

[2022-11-11 02:30] crvernon commented on #4807
@aj2duncan looks like the review is making good progress.  Let me know when you have finished your review checklist.  Thnaks!

[2022-11-11 02:35] crvernon commented on #4679
@kris-rowe - I don't see your review checklist present in the thread.  Can you plan on doing the review in the coming week?  Please let me know.  Thanks!

[2022-11-11 02:37] crvernon commented on #4679
@svchb it looks like we are getting close to wrapping up the review on your side.  Are there any other outstanding issues?

[2022-11-11 02:44] kyleniemeyer commented on #4472
Congratulations @mcgrathc on your article's publication in JOSS!

Many thanks to @euronion and @chrklemm for reviewing, and @fraukewiese for editing.

[2022-11-11 02:44] #4472 closed

[2022-11-11 03:12] Ayuei commented on #4920
@editorialbot generate pdf

[2022-11-11 07:35] FWuellhorst commented on #4876
@editorialbot generate my checklist

[2022-11-11 07:40] FWuellhorst commented on #4876
Hi @crvernon :
The list of authors seems appropriate to me, as I guess the last two authors are department heads which provide review and are listed on all publications? Currently, only the first two authors have contributed to the repository.

[2022-11-11 07:53] lc09c commented on #4859
Hello,

Thanks for the comments and the work you are doing.

@taw10 I think I fixed the issues you found and I changed the name according to your suggestion. All should be in the last commit I did, where the paper.md file is updated.

Let me know if there is any issue.

Thanks and have a nice day/evening

[2022-11-11 08:17] estefaniatalavera commented on #4611
@editorialbot generate pdf

[2022-11-11 08:23] estefaniatalavera commented on #4611
@diehlpk I am satisfied with the current status of the project. How can I proceed to suggest acceptance of this work?

[2022-11-11 08:42] tarleb commented on #4716
This looks like a pandoc bug. As a workaround, the `\label` should be moved directly below the `\caption` of the table.

[2022-11-11 08:46] jbytecode commented on #4716
@ConnorDonegan - could you please help changing the markdown as suggested?

[2022-11-11 08:53] jarvist commented on #4826
@editorialbot add @Roger-luo as reviewer

Thank you Roger for agreeing to review! 🎉

[2022-11-11 08:53] ggonnella commented on #4755
@kellyrowland thank you. The final article proof is on our side OK.

[2022-11-11 08:56] jarvist commented on #4826
@editorialbot start review

Thanks Editorialbot! Let's get this party started. 🎈

[2022-11-11 08:56] editorialbot opened #4924 "[REVIEW]: BellDiagonalQudits: A package for entanglement analyses of mixed maximally entangled qudits"
**Submitting author:** @kungfugo (<a href="http://orcid.org/0000-0002-2352-3731">Christopher Popp</a>)
**Repository:** https://github.com/kungfugo/BellDiagonalQudits.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.5
**Editor:** @jarvist
**Reviewers:** @meandmytram, @Roger-luo
**Archive:** 10.5281/zenodo.7575767

## Status

[![status](https://joss.theoj.org/papers/f3f0b9688

[2022-11-11 08:56] #4826 closed

[2022-11-11 08:58] jarvist commented on #4924
^-- Those Biblio errors definitely need fixing @kungfufo

[2022-11-11 09:02] jarvist commented on #4884
OK, @x94carbone , do you have any suggestions for Reviewers?
I've invited @Neutrino155, a PhD student I supervise, to review, as your package + paper strongly overlaps with their expertise, and I suspect it might be difficult to find two fully external Polaron reviewers.

[2022-11-11 09:02] jarvist commented on #4884
@editorialbot assign @Neutrino155 as reviewer

[2022-11-11 09:03] jarvist commented on #4884
@editorialbot add @Neutrino155 as reviewer

Sorry sorry, assign editors yet add reviewers, I forget Editorialbot :^)

[2022-11-11 09:09] KonradHoeffner commented on #4755
Thank you @kellyrowland!
The final article proof looks great, I only found a few minor issues:

* 32 Gb RAM -> should probably be 32 GB (PC memory is usually stated in Gigabytes, not Gigabits)
* "The authors would like to thank Serena Lam (Department of Bioinformatics, University of
Göttingen) for language style suggestions and grammar corrections" -> add missing full stop to the end
* "Dash pytho

[2022-11-11 09:17] ggonnella commented on #4755
Thank you for spotting those. I fixed them.

[2022-11-11 09:17] ggonnella commented on #4755
@editorialbot generate pdf

[2022-11-11 09:32] taw10 commented on #4859
@editorialbot generate pdf

[2022-11-11 10:00] stefanocoretta commented on #4847
Hi @osorensen, Sorry for the delay. It's peak teaching term here in Edinburgh and I am overwhelmed with work. I should be able to do my review by Nov 20th rather than Nov 17th, would that work anyway?

[2022-11-11 10:13] jamesdamillington commented on #4845
@sbenthall Sorry I think this is a little outside my expertise. If you can't find anyone else I'd be happy to have a look, but I think there will be others better suited.

[2022-11-11 10:35] martibosch commented on #4845
Hello @sbenthall, thank you for inviting me to review this submission, which falls within my interests and expertise. However, I would rather decline your kind invitation because I have many other tasks at the moment. If you do not manage to find another reviewer, ping me again and I will do my best to find a moment to review this submission.

Best,
Martí

[2022-11-11 10:40] osorensen commented on #4847
Thanks @stefanocoretta, that would work very well

[2022-11-11 10:41] gmingas commented on #4916
@editorialbot generate my checklist

[2022-11-11 11:21] oliviaguest commented on #3842
@editorialbot recommend-accept

[2022-11-11 11:23] oliviaguest commented on #3842
@editorialbot accept

[2022-11-11 11:23] oliviaguest commented on #4738
@editorialbot accept

[2022-11-11 11:24] oliviaguest commented on #3496
@editorialbot recommend-accept

[2022-11-11 11:44] editorialbot opened #4925 "[PRE REVIEW]: py-sc-fermi: self-consistent Fermi energies and defect concentrations from electronic structure calculations"
**Submitting author:** @alexsquires (<a href="http://orcid.org/0000-0001-6967-3690">Alexander G. Squires</a>)
**Repository:** https://github.com/bjmorgan/py-sc-fermi
**Branch with paper.md** (empty if default branch):
**Version:** 0.3.1
**Editor:** @rkurchin
**Reviewers:** @hongzhouye, @agoyal06
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/2fa8b3d80281c36

[2022-11-11 11:45] Kevin-Mattheus-Moerman commented on #4333
@editorialbot generate pdf

[2022-11-11 11:47] Kevin-Mattheus-Moerman commented on #4333
@jonathanHuwP when @lucydot said "PR request", she meant a GitHub pull request. She has basically created some proposed changes. By accepting the pull request you effectively merge the changes she made into your project. Here is the link again:
https://github.com/jonathanHuwP/CrystalGrowthTracker/pull/28 can you have a look? Let me know if you need more help.

[2022-11-11 11:47] Kevin-Mattheus-Moerman commented on #4333
@jonathanHuwP when @lucydot said "PR request", she meant a GitHub pull request. She has basically created some proposed changes. By accepting the pull request you effectively merge the changes she made into your project. Here is the link again:
https://github.com/jonathanHuwP/CrystalGrowthTracker/pull/28 can you have a look? Let me know if you need more help.

[2022-11-11 11:52] Kevin-Mattheus-Moerman commented on #4333
@jonathanHuwP perhaps merging the pull request is no longer needed if you made the same changes yourself too. A couple of points remain open, see above :point_up: , e.g. on the version tag for the ZENODO archive. Can you work on that?
Also, can you check if your affiliations are now as per our guidelines. Pardon my ignorance but is `Oxfordshire` a county/province designation or is town/city name?

[2022-11-11 11:55] adi3 commented on #4667
@kellieotto @nilesh-patil @jsgalan @gabrielspadon @paxtonfitzpatrick @ketozhang @amirhessam88 @xtruan - Can you help review this ML paper for the journal? Thanks!

[2022-11-11 12:03] diehlpk commented on #4611
By checking all items in your checklist and letting me know in the comments.

[2022-11-11 12:47] thohamm commented on #4719
Thank you very much, we are glad that the paper is accepted. The latest version in the git repo is now released with tag v1.0.0 and uploaded to zenodo. DOI: 10.5281/zenodo.7313602

[2022-11-11 13:24] taw10 commented on #4859
All done!  By following the instructions, I was able to install and play around with the software on the example data sets.  There are too many plugins to thoroughly test everything, but I can confirm that the basic functionality worked for me.

One minor documentation "bug" is that the docs often write `from bmip_tools.<something>` when they should say `from bmiptools.stack`.  This is easy to spo

[2022-11-11 13:43] crvernon commented on #4876
Thanks for the note @FWuellhorst.

@lymereJ will you provide a list of author contributions here in this thread?  Thanks!

[2022-11-11 13:57] JulianKarlBauer commented on #4900
@Kevin-Mattheus-Moerman during the first steps of the review process, I created a merge-request with some small changes instead of raising an issue describing what to change. As this merge-request now has been merged, I am listed as contributor to pykronecker. Formally, does this induce a COI? This question might be a bit pedantic, as such a situation is probably common during the review process.

[2022-11-11 14:12] x94carbone commented on #4884
@jarvist so I searched the spreadsheet before and found 13 people with "condensed matter" in their expertise. Would you like me to try and select a few of those who it seems overlaps with _theoretical_ condensed matter and suggest them here?

[2022-11-11 14:57] govarguz commented on #4822
@editorialbot generate my checklist

[2022-11-11 15:07] villaa commented on #4694
I now recommend this paper for publication, after the authors work to improve the documentation and example running.

[2022-11-11 15:12] NoraLoose commented on #4277
@editorialbot generate pdf

[2022-11-11 15:39] jbytecode commented on #4716
@editorialbot recommend-accept

[2022-11-11 15:58] JulianKarlBauer commented on #4900
# Review

### General checks
General checks are passed.

### Functionality
Kronecker product of two random matrices of homogeneous dimension have been calculated by `pykronecker.KroneckerProduct([np.random.rand(n, n), np.random.rand(n, n)])` with values of `n` up to 150 in this [script](https://github.com/JulianKarlBauer/pykronecker/blob/review/review/performance_example_01.py).
Equality check wit

[2022-11-11 16:00] HaoZeke commented on #4736
Not yet unfortunately, I have pointed to more concrete arguments about the codebase. I am also happy to hear inputs from you, @jbytecode about the applicability and @jmejia8 at this point.

[2022-11-11 16:08] jbytecode commented on #4736
I prefer hearing our reviewers' (@HaoZeke  and @jmejia8) opinions and suggestions first.

[2022-11-11 16:10] amirhessam88 commented on #4667
I take a look this weekend @adi3 @AKuederle 🙏

[2022-11-11 16:49] Kevin-Mattheus-Moerman commented on #4900
@JulianKarlBauer this would not be seen as a COI. If however the contribution is large enough to warrant co-authorship then it would be.

[2022-11-11 16:52] JulianKarlBauer commented on #4900
Thank you for your assessment. The contributions are minimal, so no COI.

[2022-11-11 16:54] rkurchin commented on #4694
Thanks @villaa, and of course also to @mdavezac for his review work too! @SotaYoshida, I'll do an editorial pass over the manuscript and send any comments shortly. In the meantime, the next steps for you are:

1. Merge any and all changes from this review into your main branch and **issue a new version tag**. _(If you want to merge in the paper, you may, but it is not required that the actual manu

[2022-11-11 16:55] xtruan commented on #4667
Yes! I should be able to carve out some time to review over the next few weeks.

[2022-11-11 16:56] rkurchin commented on #4925
@openjournals/bcm-eics, this is very much in my wheelhouse and I have another manuscript about to finish, so I'd be happy to edit this one!

[2022-11-11 17:10] Bisaloo commented on #4724
Thanks a lot @kellijohnson-NOAA & @quang-huynh for your reviews!

@VLucet, do you have a timeline of when you could be able to address these comments?

[2022-11-11 17:17] paxtonfitzpatrick commented on #4667
I'd be happy to help review this 🙂

[2022-11-11 17:57] lymereJ commented on #4876
@FWuellhorst @crvernon - While the two last co-authors have not contributed to the code, they have been providing active project directions.

[2022-11-11 18:15] diehlpk commented on #4129
@editorialbot recommend-accept

[2022-11-11 18:16] diehlpk commented on #4129
@cgrudz Thanks, I can now recommend the paper for acceptance.

[2022-11-11 18:51] crvernon commented on #4876
That's fine @lymereJ .  Intellectual contributions qualify.

[2022-11-11 18:53] rkurchin commented on #4694
@editorialbot check references

[2022-11-11 18:54] rkurchin commented on #4694
@SotaYoshida please also fix those couple formatting issues with the DOI's

[2022-11-11 18:54] rkurchin commented on #4694
@editorialbot generate pdf

[2022-11-11 19:07] rkurchin commented on #4694
Some minor editorial comments:
* line 31: what is meant by "FORTRAN/Fortran" here? I believe [standard practice](https://fortranwiki.org/fortran/show/FAQ) is now to spell it as "Fortran" so I would suggest changing to that
* 34-35: rephrase to "This is achieved thanks to the high readability and portability of the Julia programming language" and add space before citation
* 36: add period at the en

[2022-11-11 21:11] xinyiguan commented on #4738
Thank you @faroit for serving as our editor, and both reviewers @hayesall @AoifeHughes for your valuable comments and suggestions to make this package better! 🤘

[2022-11-11 22:05] kthyng commented on #4129
Everything looks good!

[2022-11-11 22:05] kthyng commented on #4129
@editorialbot accept

[2022-11-11 22:07] editorialbot opened #4926 "[PRE REVIEW]: Fieldactivity: A shiny app to collect field management events"
**Submitting author:** @HenriKajasilta (<a href="http://orcid.org/0000-0002-8001-2161">Henri Kajasilta</a>)
**Repository:** https://github.com/PecanProject/fieldactivity
**Branch with paper.md** (empty if default branch): josspaper
**Version:** v0.2.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kristen Thyng

## Status

[![status](https://joss.theoj.org/papers/bf1d84e4120e289211d5

[2022-11-11 22:09] kthyng commented on #4926
@editorialbot set josspaper as branch

[2022-11-11 22:09] kthyng commented on #4926
@editorialbot generate pdf

[2022-11-11 22:30] kthyng commented on #4926
Hi @HenriKajasilta and thanks for your submission! It looks like the issue with your paper is the all-zeros orcid for Otto Kuusela. Could you fill that in?

[2022-11-11 22:33] galessiorob commented on #4816
@ianfhunter haven't had luck in getting additional reviewers but sending more invites today - thanks for the patience!

[2022-11-11 22:36] galessiorob commented on #4839
@editorialbot generate pdf

[2022-11-11 22:38] kthyng commented on #4129
Congratulations on your new publication @cgrudz!! Many thanks to editor @diehlpk and reviewers @peanutfun and @tmigot for your time, hard work, and expertise!!

[2022-11-11 22:38] #4129 closed

[2022-11-11 23:20] ianfhunter commented on #4816
Thanks for keeping me updated 👍

[2022-11-12 01:08] ideasrule commented on #4873
So far, I've successfully installed POSEIDON (a very painless process) and ran transmission_basic.ipynb and transmission_2D.ipynb without problem.  However, transmission_terrestrial.ipynb runs into errors, possibly related to the open issue you have on Github:  [
![Screenshot from 2022-11-11 19-03-55](https://user-images.githubusercontent.com/1724065/201449172-9870f576-b713-4681-8058-efbad4746743.

[2022-11-12 01:38] YohannDudouit commented on #4172
Hi @jeremiah-corrado ,

If this is what you mean, then this is what you should write. I would also suggest briefly describing what is a "hard" problem, and introducing hp-adaptivity as a solution to that problem. However, correct me if I'm wrong, but how to apply hp-adaptivity to recover exponential rate of convergence while minimizing dofs is an open problem, and we only know how to do it for spe

[2022-11-12 02:24] SotaYoshida commented on #4694
I would like to thank you @villaa @mdavezac very much for your tremendous effort to review the paper and the code.

@rkurchin Thank you for your guidance and comments on the paper.
I am now checking through the code before creating DOI. Please wait for a while.

[2022-11-12 04:59] SotaYoshida commented on #4694
@editorialbot check references

[2022-11-12 06:02] SotaYoshida commented on #4694
@editorialbot generate pdf

[2022-11-12 06:21] SotaYoshida commented on #4694
@rkurchin
I have fixed DOIs and papers, and then released the new version, [v.0.2.5](https://github.com/SotaYoshida/NuclearToolkit.jl/releases/tag/v0.2.5)
The DOI of the Zenodo archive is [10.5281/zenodo.7314918](https://doi.org/10.5281/zenodo.7314918).

Please let me know if i missed anything. Thanks.

[2022-11-12 06:42] ketozhang commented on #4667
@adi3 Yes, I can take a look at this over the next 2 weeks.

[2022-11-12 10:00] oliviaguest commented on #3842
@EtienneCmb yay! congratulations! 🎉

Big thanks to @meg-simula for editing and the reviewers: @madvn, @travisbthomp! ❤️

[2022-11-12 10:00] #3842 closed

[2022-11-12 10:03] oliviaguest commented on #4738
@xinyiguan congratulations! 🥳  And yes, big thanks for reviewing and editing to @faroit and @hayesall and @AoifeHughes! ❤️

[2022-11-12 10:03] #4738 closed

[2022-11-12 10:24] govarguz commented on #4822
Dear @apachalieva,
there is a new #PR with the general review of GLUE, and a couple of issues I raised also at GLUE's repo.
Best,
Horacio.
cc: @danielskatz

[2022-11-12 10:24] psanan commented on #4531
Hi @kyleniemeyer - great! The version of PETSc used for this review has been [uploaded to Zenodo](https://zenodo.org/record/7315282). The DOI is

    10.5281/zenodo.7315282

[2022-11-12 11:26] faroit commented on #4738
@xinyiguan congratulations to the accepted paper 🥳. I am very happy how this review process turned out. Both in terms of timing, quality of the reviews and the reactions/changes being made.

Thanks to @AoifeHughes @hayesall!

[2022-11-12 11:44] HenriKajasilta commented on #4926
Hi,

Thanks for noticing. Orcid is fixed now.

Br,
Henri Kajasilta

On Sat, 12 Nov 2022 at 00:30, Kristen Thyng ***@***.***>
wrote:

[2022-11-12 14:17] pdebuyl commented on #4575
Going through the final steps.
1. Testing the examples myself, I have a trouble with the undefined `model` variable in the absorption tutorial and with the `model_*` placeholder that should be replaced by an actual variable.
2. There are citation syntax issues (ExoMOL and HITEMP). Please check all reference for syntax.
3. The license issue is resolved, thanks.
4. Using with julia 1.8 works fine. I

[2022-11-12 14:36] Kevin-Mattheus-Moerman commented on #4925
@rkurchin fantastic. Yes I'll assign you now.

[2022-11-12 14:36] Kevin-Mattheus-Moerman commented on #4925
@editorialbot assign @rkurchin as editor

[2022-11-12 14:37] editorialbot opened #4927 "[PRE REVIEW]: strprofiler: A Python package and CLI tool for short tandem repeat profile comparisons"
**Submitting author:** @j-andrews7 (<a href="http://orcid.org/0000-0002-0780-6248">Jared Andrews</a>)
**Repository:** https://github.com/j-andrews7/strprofiler
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/2c09dd94eb5ce369d3f6ed0c0a53a2e7/stat

[2022-11-12 14:56] nickelnine37 commented on #4900
Thanks @JulianKarlBauer for your time reviewing this. I have now added contributing guidelines here https://github.com/nickelnine37/pykronecker/pull/7

[2022-11-12 15:24] nickelnine37 commented on #4900
I have also now added testing instructions in a `tests/README` file. https://github.com/nickelnine37/pykronecker/pull/8

[2022-11-12 16:16] lc09c commented on #4859
Hi,

@taw10 Yes, the library change its name from "bmip_tools" to "bmiptools" since Pypi does not like the underscores. Therefore the old part of the documentation may contain this typo. I corrected the typos I was able to find and I updated he documentation in read the docs.

Have a nice day/evening.

[2022-11-12 16:25] JulianKarlBauer commented on #4900
@nickelnine37 Thanks again for adding the contributing guidelines.
@Kevin-Mattheus-Moerman All boxes of my review-checklist are ticked.

[2022-11-12 19:55] j-andrews7 commented on #4927
Potential reviewers could include:

mtomasini
dimejimudele
bernhardclemm
cinnetcrash

[2022-11-12 19:58] sara-02 commented on #4493
@cwmeijer @diehlpk I have checked the functionality column and was able to able to run the MNIST tutorial given here in the [doc](https://dianna.readthedocs.io/en/latest/tutorials/kernel_mnist.html)

[2022-11-12 19:59] sara-02 commented on #4493
All the work is looks good from my side, we are good to publish.

[2022-11-12 20:59] diehlpk commented on #4493
@editorialbot check refernces

[2022-11-12 20:59] diehlpk commented on #4493
@editorialbot generate pdf

[2022-11-12 21:00] diehlpk commented on #4493
@editorialbot check references

[2022-11-12 21:04] diehlpk commented on #4493
@editorialbot commands

[2022-11-12 21:05] diehlpk commented on #4493
@elboyran please fix the broken DOI and the missing ones, so we can proceed to publish the paper.

[2022-11-12 21:08] Jessime commented on #4908
@editorialbot generate my checklist

[2022-11-12 22:26] gattia commented on #4681
@editorialbot generate pdf

[2022-11-13 00:53] Jessime commented on #4908
Hi, everyone!

First, I want to quickly caveat that this is my first review, Github based or otherwise. I'm looking forward to getting into it, and hope you'll bear with me as I figure out all of the specifics.

I'm holding out hope that I'll be able to get up and running with a `docker pull`, but in the meantime, here's a list of questions/concerns/suggestions based on a read through of the paper

[2022-11-13 07:23] jbytecode commented on #4736
@jmejia8 - We need your opinions and thoughts about the issue above. What you think? Could you please discuss this issue with @HaoZeke? Thank you in advance and appreciated for your effort.

[2022-11-13 07:33] jbytecode commented on #4915
@mgm8 - Our reviewers have suggested some corrections, could you please update your status? Thank you in advance.

[2022-11-13 08:06] Kevin-Mattheus-Moerman commented on #4755
@ggonnella I am the AEiC for this track and here to help process the final steps towards acceptance in JOSS. I have just proofread your paper, and reviewed the ZENODO archive. Please work on the below minor issues (Feel free to implement different wordings from what I suggest, also feel free to disagree with or skip the recommendations):

- [ ] Please edit the ZENODO archive manually so that the t

[2022-11-13 08:32] csoneson commented on #4887
👋🏻 @paxtonfitzpatrick, @XinhuiLi, @hvgazula - would two of you be interested in reviewing this submission for JOSS?

[2022-11-13 08:36] Kevin-Mattheus-Moerman commented on #4900
@JulianKarlBauer great, thanks for your help!

[2022-11-13 12:45] hkaspersen commented on #4677
@csoneson how strict is JOSS on the structure of the paper? I'm having some issues with the sections and the max word limit - and also tryint to avoid repeating myself too much. As far as I have understood, the Summary section is not equivalent to an Abstract. In my manuscript though it sort of is intertwined with the statement of need. Is it possible to merge these two into one summary? Or is it

[2022-11-13 13:32] jonjoncardoso commented on #4468
Hi Kelly,

I'm truly sorry for the repeated delay in responding. I'm overwhelmed at
work so I believe I can't complete a review unfortunately.

On Thu, 10 Nov 2022 at 17:05, Kelly L. Rowland ***@***.***>
wrote:

--

*Jonathan Cardoso-Silva, PhD*

Data Science Institute

*L*ondon *S*chool of *E*conomics and Political Science

London, UK
<https://github.com/jonjoncardoso>

[2022-11-13 13:32] ggonnella commented on #4755
Dear @Kevin-Mattheus-Moerman

I processed all the points in the list

* [X] Please edit the ZENODO archive manually so that the title and the author matches those of the paper.
* [X]  It looks like `..the extraction of distribution of ...` needs an `s` to make distributions plural i.e.  `..the extraction of distributions of ...`
   * I changed it from `...the extraction of distribution of values..

[2022-11-13 15:29] jmejia8 commented on #4736
@tmigot - Please help me by answering the following questions related to @HaoZeke's important comments about the codebase.

1. Which package is handling the main aspects of the modeling? NLPModels, Gridap or yours?
2. Would you say that your package is based on NLPModels or extending NLPModels?
3. When a `GridapPDENLPModel` is created and an optimizer has to solve the modeled problem. Will the opt

[2022-11-13 15:36] Kevin-Mattheus-Moerman commented on #4755
@editorialbot generate pdf

[2022-11-13 15:44] Kevin-Mattheus-Moerman commented on #4755
@ggonnella great, thanks for making those changes. I just reviewed them and it all looks good to go.

[2022-11-13 15:44] Kevin-Mattheus-Moerman commented on #4755
@editorialbot accept

[2022-11-13 15:50] Kevin-Mattheus-Moerman commented on #4927
@j-andrews7 thanks for this submission. I have just flagged it for scope review by our editorial board. This is typical for submissions of this size. The scope review will take up to about 2 weeks to complete.

[2022-11-13 15:55] j-andrews7 commented on #4927
Sure, no problem. I'd like to think this tool has worthy research utility
to warrant publication, but I understand the codebase is fairly minimal.

On Sun, Nov 13, 2022, 9:50 AM Kevin Mattheus Moerman <
***@***.***> wrote:

[2022-11-13 16:00] ggonnella commented on #4755
🎉 🎉 🎉

 Thank you to the editors and reviewers for the helpful work, which greatly improved the software and the paper.

[2022-11-13 19:30] kellyrowland commented on #4755
Thanks everyone! 🎉

[2022-11-13 21:16] MartianColonist commented on #4873
Hi @ideasrule,

The typo in 'transmission_terrestrial.ipynb' has been fixed on the main branch. Can you verify it works for you now?

Regarding the line lists, I'm part of a collaboration working on a NASA-supported opacity database (https://ui.adsabs.harvard.edu/abs/2022BAAS...54e.371B/abstract). Once this database is publicly released, I will comprehensively update all POSEIDON's cross sections

[2022-11-13 21:18] aj2duncan commented on #4807
@balima78, thanks for sorting that and apologies for the delay getting back to you.

@crvernon, that's me all done. Happy with all the items on the checklist.

[2022-11-13 21:49] XinhuiLi commented on #4887
Hi @csoneson, I am afraid that I am not the best person to review this paper because I don't have any experience in calcium imaging. My friend Yannan Chen (@Yannan-Chen) has expertise in software development and calcium imaging data analysis, and he is willing to review this article. What is the deadline to submit the review?

[2022-11-13 23:36] jmschrei commented on #4881
Hi @arianesasso, just checking to make sure this is still on your radar.

[2022-11-13 23:37] jmschrei commented on #4851
Hi @rjorton, how are your attempts to download and use the tool? Are the authors responding to the issues you pointed out above?

[2022-11-13 23:38] jmschrei commented on #4767
@Kevin-Mattheus-Moerman just pinging you about this.

[2022-11-14 01:12] evamaxfield commented on #4921
DOIs should now be fixed!

[2022-11-14 06:40] danasolav commented on #4893
@gianthk if you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-11-14 06:42] danasolav commented on #4747
@raolivei13, @vboomi , how is the review process going?

[2022-11-14 08:40] gabett commented on #4711
Hi @Nikoleta-v3! Unfortunately, this is not my field of expertise. Sorry for that!

[2022-11-14 08:53] gdede-hua commented on #4403
Dear @fabian-s may I kindly ask you to inform me if there is any update on the comments that we have addressed?
Many thanks!

[2022-11-14 08:56] fabian-s commented on #4804
@editorialbot add @amoeba as reviewer

[2022-11-14 09:00] fabian-s commented on #4804
hi @jhollist @trashbirdecology @SteveViss wave

Would you be willing to review [this submission](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04804/joss.04804/10.21105.joss.04804.pdf) for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-14 09:28] fabian-s commented on #4403
See issue tracker comments.

[2022-11-14 09:28] fabian-s commented on #4403
@editorialbot generate pdf

[2022-11-14 09:39] Nikoleta-v3 commented on #4711
Hey @gabett 👋🏻  thank you very much for your reply!

I realise that this is not your field of expertise. I believe the submission will benefit from a reviewer that has a good knowledge of C++ and software development more than someone familiar with its game theoretic aspects.

Given this, do you think that it could be something you can review? 😄

"No, I rather prefer not to" is a perfectly fine an

[2022-11-14 09:40] gianthk commented on #4893
@danasolav yes sure.
Maybe this people from the JOSS list?
@jacobmerson
@iammix
@PolymerGuy
@CWillberg
@dankusanovic
@abhishektha
@melund

On Mon, 14 Nov 2022 at 08:40, Dana Solav ***@***.***> wrote:

[2022-11-14 09:47] iammix commented on #4893
Hello, I will be able to review this paper.

[2022-11-14 10:02] EtienneCmb commented on #3842
Great, thank you @oliviaguest and @meg-simula . Many thanks to the reviewers @madvn and @travisbthomp :)

[2022-11-14 11:41] dankusanovic commented on #4893
Dear all,

I am available to review some papers. I would like to know the process on
how to carry this out,

Thanks for the consideration,

Danilo

On Mon, Nov 14, 2022 at 1:41 AM Gianluca Iori ***@***.***>
wrote:

--
Danilo S. Kusanovic.
***@***.*** ***@***.***>*

Civil Engineer USM, Chile
MSc. in Science of Civil Engineering USM, Chile.
MSc. in Analysis and Design of Earthquakes Resistance Struc

[2022-11-14 12:06] mooniean commented on #4859
I agree - it is ready to be accepted from my part too! Most of the comments I had, @taw10 already mentioned and were addressed.

Best of luck!

[2022-11-14 12:19] maxpumperla commented on #4073
@diehlpk happy to address the above comments, but given that we've submitted this ~10 months ago and not much happened in the meantime, I'd prefer to get a preliminary "go" from you first and only then put in more work.

[2022-11-14 12:29] svchb commented on #4679
@crvernon @Shreyas911  I am done with my review. I am fine with the publication.

[2022-11-14 12:56] diehlpk commented on #4073
I think you should address the comments. The software and paper is good and I think it deserves to be published. However, making the software user-friendly will take some effort.

[2022-11-14 12:57] melund commented on #4893
Sorry. I will not have time right now to do a paper review.

[2022-11-14 13:04] maxpumperla commented on #4073
@diehlpk sure, like I said, we definitely intend to! After maintaining this for around 6 years now, I just lean towards being a little conservative when it comes to requests.

@danielenricocahall how does your November look like? Maybe we can discuss in private how to tackle these comments? I think this all very reasonable and should help the project a lot.

[2022-11-14 13:19] x94carbone commented on #4884
@jarvist perhaps we could start with (in order, people at the top of this list are at the bottom of the Google Sheets doc):
- merrygoat
- santoshkumarradha
- Evan1415
- vyasr

This group has some combination of expertise in condensed matter, HPC and Python

[2022-11-14 13:31] adonath commented on #4626
Thanks @tibordome! I had still no luck with the 2nd reviewer, so far only rejections. However I'm still trying...If I still don't get any positive answer soon, I think the JOSS rules might allow to assign myself as 2nd reviewer. I'll double check and keep you up to date.

[2022-11-14 13:35] madvn commented on #3842
@EtienneCmb , quick note, (maybe you've already planned this) you could put the pdf from here on arxiv for more visibility if you want.

[2022-11-14 14:11] arianesasso commented on #4881
Hi @jmschrei, sorry, I will add my checklist before the end of this week.

[2022-11-14 14:52] crvernon commented on #4875
:wave: @ifthompson - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-14 14:55] ifthompson commented on #4875
Sure thing 👍

[2022-11-14 14:55] crvernon commented on #4875
@editorialbot add @ifthompson as reviewer

[2022-11-14 14:57] crvernon commented on #4875
:wave: - Alright @alogg, @pralitp, @ifthompson I am going to close this Pre-Review and kick off the full review which you should receive a notification for. Thanks!

[2022-11-14 14:57] editorialbot opened #4928 "[REVIEW]: DTCC Builder: A mesh generator for automatic, efficient, and robust mesh generation for large-scale city modeling and simulation"
**Submitting author:** @alogg (<a href="http://orcid.org/0000-0002-1547-4773">Anders Logg</a>)
**Repository:** https://github.com/dtcc-platform/dtcc-builder
**Branch with paper.md** (empty if default branch): joss-2022
**Version:** v0.9
**Editor:** @crvernon
**Reviewers:** @ifthompson, @ipadjen
**Archive:** 10.5281/zenodo.7988751

## Status

[![status](https://joss.theoj.org/papers/ea3e547804d0e1b

[2022-11-14 14:57] #4875 closed

[2022-11-14 14:59] crvernon commented on #4928
👋 @alogg, @pralitp, @ifthompson - This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been

[2022-11-14 15:03] prashjha commented on #4647
@alexrockhill, yeah...probably it was active when I invited.

[2022-11-14 15:04] prashjha commented on #4647
Hi @vaniisgh, would you be interested in reviewing this submission for JOSS? I think it is in your area of interest. Please let me know!!

[2022-11-14 15:06] prashjha commented on #4647
Hello @VeroniqueLegrand, any chance you could review this submission for JOSS? It is in your area of interest. I can help with further details if you are interested. Please let me know!!

[2022-11-14 15:07] prashjha commented on #4850
@editorialbot generate pdf

[2022-11-14 15:12] prashjha commented on #4850
Hi @oneilsh, any chance you could review this submission? I believe it is in your area of work. I can help with further details if you are interested. Please let me know. Thanks.

[2022-11-14 15:15] prashjha commented on #4850
Hello, @jamiehadd; I am wondering if this JOSS submission is in your area of interest and if you could review this submission. Please let me know if you are interested in reviewing it. Thank you.

[2022-11-14 15:58] kthyng commented on #4700
Just sent an email to @jreadey as a follow up.

[2022-11-14 16:18] jacobmerson commented on #4893
@danasolav @gianthk happy to review. This is very relevant to my work.

[2022-11-14 16:25] ddhendriks commented on #4642
Dear @trappitsch @eloisabentivegna ,

First of all my apologies for the delay in this matter. End-of-PhD period together with delayed replies from university IT made this take longer than it should. After several back and forths with our university IT we came to the conclusion that no good solution will be found in the near future regarding allowing outside user (accounts) access to university rep

[2022-11-14 16:35] britta-wstnr commented on #4856
ping @kasasxav and @kerkelae
Reminder for this reviewing request (for details see comment above) 🙏

[2022-11-14 16:43] kasasxav commented on #4856
Thank you for the reminder! I'm happy to review this as well

[2022-11-14 16:50] vaniisgh commented on #4647
i could help :)

[2022-11-14 17:06] prashjha commented on #4647
@editorialbot add @vaniisgh as reviewer

[2022-11-14 17:08] prashjha commented on #4647
Hi, @hofmannu and @VeroniqueLegrand; please ignore my invitation to review this submission. We now have two required reviewers.

[2022-11-14 17:08] editorialbot opened #4929 "[REVIEW]: Pulse Physiology Engine: A Computational Physiology Engine for Whole-Body Simulation"
**Submitting author:** @aaron-bray (<a href="http://orcid.org/0000-0002-2188-7646">Aaron Bray</a>)
**Repository:** https://gitlab.kitware.com/physiology/engine
**Branch with paper.md** (empty if default branch): publication/JOSS
**Version:** v4.1.0
**Editor:** @prashjha
**Reviewers:** @alexrockhill, @prashjha
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/f28e96343ebb407

[2022-11-14 17:27] kerkelae commented on #4856
@britta-wstnr, unfortunately, I don't have time to review this right now.

[2022-11-14 18:22] paxtonfitzpatrick commented on #4887
@csoneson I'll also gracefully decline this one. Calcium imaging is a bit outside my wheelhouse, and I won't have the bandwidth over the next few weeks to offer a quality review.

[2022-11-14 18:29] hvgazula commented on #4887
Hello @csoneson, Thanks for the invite. But calcium imaging is not my domain of expertise, so I won't be able to give my best. I apologize for the inconvenience.

[2022-11-14 18:34] csoneson commented on #4887
@XinhuiLi, @paxtonfitzpatrick, @hvgazula - no problem, thanks for letting us know!

@Yannan-Chen, thanks for volunteering to review! You can find more information about the JOSS review process [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). We typically ask reviewers to provide an initial assessment within ~two weeks (from the start of review, which will happen as soon as w

[2022-11-14 18:59] csoneson commented on #4887
👋🏻 @TomDonoghue, @adamltyson - would you be interested in reviewing this submission for JOSS?

[2022-11-14 19:28] JakobBD commented on #4683
@georgiastuart thank you for reviewing this paper!

As you already stated, the early stage coding of PoUnce was a joint effort between Thomas, Fabian and myself, as can also be seen from their commits. Andrea Beck and Claus-Dieter Munz contributed along the whole code development process with advice on required code functionality, numerous major and minor code design choices, and reviewing/testing

[2022-11-14 20:33] cariyurek commented on #4865
@editorialbot generate pdf

[2022-11-14 21:24] graciellehigino commented on #4812
Thank you very much for agreeing to review, @chrisborges and @gabrieldansereau! I really appreciate it. @molgor I'd very much like to add you to the review team, let me know if you are interested as soon as possible 😃

You can find reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html), together with all the [review criteria](https://joss.readthedocs.io/en/lates

[2022-11-14 21:37] graciellehigino commented on #4812
@editorialbot start review

[2022-11-14 21:37] editorialbot opened #4930 "[REVIEW]: elapid: Species distribution modeling tools for Python"
**Submitting author:** @earth-chris (<a href="http://orcid.org/0000-0001-7392-4368">Christopher Anderson</a>)
**Repository:** https://github.com/earth-chris/elapid
**Branch with paper.md** (empty if default branch): joss-submission
**Version:** v1.0.1
**Editor:** @graciellehigino
**Reviewers:** @chrisborges, @gabrieldansereau
**Archive:** 10.5281/zenodo.7813017

## Status

[![status](https://joss.

[2022-11-14 21:37] #4812 closed

[2022-11-14 21:59] editorialbot opened #4931 "[PRE REVIEW]: mp-time-split: A Python package for creating time-based splits of Materials Project crystal structures for generative modeling benchmarking"
**Submitting author:** @sgbaird (<a href="http://orcid.org/0000-0002-4491-6876">Sterling Baird</a>)
**Repository:** https://github.com/sparks-baird/mp-time-split
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/3acad0218d6bcdb455cdc81cfc013f10/st

[2022-11-14 22:01] Kevin-Mattheus-Moerman commented on #4755
Congratulations @ggonnella

Thanks a lot @kellyrowland for editing!!!

Also thank you @vinisalazar, @KonradHoeffner for reviewing this work!!

[2022-11-14 22:01] #4755 closed

[2022-11-14 22:01] Kevin-Mattheus-Moerman commented on #4333
@jonathanHuwP 👋

[2022-11-14 22:04] rkurchin commented on #4694
@editorialbot set 0.2.5 as version

[2022-11-14 22:06] rkurchin commented on #4694
Two more tiny fixes on paper:
* line 26: should begin "In the nuclear physics community..."
* you're still missing a space before the citation on line 35

After that we should be good to go!

[2022-11-14 22:12] rkurchin commented on #4925
👋 @xwang862 and @JackTyson, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-14 22:15] Kevin-Mattheus-Moerman commented on #4767
@bmskinner I am the AEiC for this track and here to help process acceptance of this work in JOSS. I have just read your paper and inspected the archive and have the below remaining issues to address:

- [ ] Please manually edit the ZENODO archive such that the title matches that of the paper. (@jmschrei in the future the handling editor can check this too).
- [ ] I recommend that you also edit the

[2022-11-14 22:31] Kevin-Mattheus-Moerman commented on #4775
@kavir1698 I am the AEiC for this track and here to help process this work for acceptance in JOSS. I have check the ZENODO archive and all seems in order there. I have read your paper too and have the below remaining points that need your attention, feel free to disagree with some of these recommendations:

- [ ] You may remove `Baltzerstrasse 6, CH-3012` (street postcode info) from the affiliatio

[2022-11-14 23:49] SotaYoshida commented on #4694
@rkurchin Thanks!
I have fixed the two points. (I made a josspaper branch and then merged to the main branch)

[2022-11-14 23:55] rkurchin commented on #4694
@editorialbot generate pdf

[2022-11-14 23:56] adriancorrendo commented on #4655
Good evening, Dr. @osorensen

May I ask if any action is required from my side? I see the paper has been stuck for the last 10 days after the decision

Thank you for your time!

Best regards,

ADRIAN

[2022-11-14 23:56] rkurchin commented on #4694
@editorialbot recommend-accept

[2022-11-15 01:35] kyleniemeyer commented on #4531
@editorialbot set 10.5281/zenodo.7315282 as archive

[2022-11-15 01:39] kyleniemeyer commented on #4531
@editorialbot recommend-accept

[2022-11-15 02:09] welch16 commented on #4898
I experienced a minor issue installing the package using `devtools::install_github`. I added the following issue:

https://github.com/sjbeckett/localcovid19now/issues/58

[2022-11-15 02:34] kyleniemeyer commented on #4531
@editorialbot remove @kris-rowe as reviewer

[2022-11-15 02:35] kyleniemeyer commented on #4531
@editorialbot reaccept

[2022-11-15 02:49] kyleniemeyer commented on #4531
Congratulations @psanan on your article's publication in JOSS!

Many thanks to @elauksap and @mbarzegary for reviewing this submission.

[2022-11-15 02:49] #4531 closed

[2022-11-15 03:27] ryEllison commented on #4877
@editorialbot generate my checklist

[2022-11-15 03:32] milnus commented on #4910
@asafpr - Response to comments:
_____

Thanks! Very thorough reading and checking of links. The dead link has now been fixed.
____

The `panaroo-generate-gffs` script is not part of Corekaburra, but [Panaroo](https://github.com/gtonkinhill/panaroo). The file names are changed so that Corekaburra can connect the Gff file name to a column in the gene_presence_absence.csv file. The Gff files produced

[2022-11-15 03:41] pritchardn commented on #4915
Documentation - Community Guidlines
I can see the CONTRIBUTING.md file, I would suggest:
* Mentioning its existence in the main README.md and main documentation (users just installing through pip may never look at the source).
* Mentioning how to reach out for support, not just bug reporting and code-contributions

Just makes things super clear and easily accessible :smile:

[2022-11-15 04:09] WilliamJamieson commented on #4905
@editorialbot generate my checklist

[2022-11-15 04:46] xwang862 commented on #4925
Thanks for inviting. Unfortunately I won't have time to review it at this moment. I would recommend my colleague @hongzhouye, who is an expert in electronic structure theory and materials modeling.

[2022-11-15 06:33] osorensen commented on #4655
@adriancorrendo we're waiting for  the editor jn chief @openjournals/dsais-eics to read through and make the final decision.

[2022-11-15 07:30] CFGrote commented on #4607
Sorry, my bad. I checked the last box. All good from my side.

[2022-11-15 08:13] erikkjellgren commented on #4759
Hi,
I will have finished a review by the end of this week.
Just to let you know @SYalouz

[2022-11-15 08:14] SYalouz commented on #4759
Hi !
Thanks a lot for your reply @erikkjellgren !

[2022-11-15 08:18] hkaspersen commented on #4677
Just to update the other reviewers:
I have changed the structure of the paper to reflect the suggestions from @rcannood, and also made the pipeline test run automatically on push to the dev branch.

[2022-11-15 08:23] salrm8 commented on #4683
I am really sorry for such a long delay.

I think `PoUnce` will be useful for running non-intrusive uncertainty propagation problems (e.g. CFD) on HPC platforms. The paper is written clearly and the documentation could be easily compiled and was found to be informative.

I have a few comments/questions:

1. After installing the requirements, I could run the tests in `ini/internal_local`. It could

[2022-11-15 08:26] rcannood commented on #4677
@hkaspersen Are you able to generate the pdf or is this something only @csoneson can do?

[2022-11-15 08:55] bmskinner commented on #4767
@editorialbot generate pdf

[2022-11-15 08:58] martinfleis commented on #3761
@marina-haliem Can you respond to comments raised by @jGaboardi above? Please keep in mind that the review process of JOSS is different than in a standard journal and assumes direct communication rather than fixed rounds of review-response cycle. Thank you!

[2022-11-15 09:02] VeroniqueLegrand commented on #4647
Hello,

Thank you for your interest. I am pretty busy these days. I will not have the time to do the review.
Best regards,

Véronique

--
Véronique Legrand
Software & IT engineer – HPC/HTC
https://research.pasteur.fr/en/member/veronique-legrand/
HPC platform
Institut Pasteur Paris
Tel : 01 44 38 95 03
        07 88 15 34 68

De : "Prashant K. Jha" ***@***.***>
Répondre à : openjournals/joss-review

[2022-11-15 09:04] bmskinner commented on #4767
@Kevin-Mattheus-Moerman I've made the following changes as requested:

The Zenodo title has been updated to match the paper title

The Zenodo license has been updated to GPL3

United Kingdom is now given in the affiliation

The sentence has been revised to _Decomposing nuclear outlines into elliptic fourier descriptors is simpler and allows high-throughput analysis_

Apologies, the missing figure

[2022-11-15 09:49] cwmeijer commented on #4493
@editorialbot check references

[2022-11-15 10:02] elboyran commented on #4493
@diehlpk , they are fixed now.

[2022-11-15 10:16] molgor commented on #4812
Hi Gracielle,Sorry for my late response.I cannot do it at the momentBest wishes,JuanEl 14 nov 2022, a las 21:37, The Open Journals editorial robot ***@***.***> escribió:﻿
OK, I've started the review over in #4930.

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-15 10:26] aaronpeikert commented on #4848
@annajenul I'd like to review the software's functionality more in-depth (by, e.g. simulating some data), but this requires more time than I have this week. Do you prefer that I take an in-depth look, which might lengthen the review by 2-3 weeks or a more cursory look (fitting some models to data where I do not know the true answers)?

[2022-11-15 10:40] aaronpeikert commented on #4848
Thank you, @osorensen. I want to be mindful that @annajenul might have higher pressure to face as an ECR regarding the timeliness of reviews. In any case, I take the responsibility of reviewing the software seriously—just a question of going the extra mile.

[2022-11-15 11:09] amitkumarj441 commented on #4886
@editorialbot generate my checklist

[2022-11-15 11:18] csoneson commented on #4677
@hkaspersen - I'd say that the most important is that both of these sections, with different purposes, are covered in the paper (from the docs):
- A _summary_ describing the high-level functionality and purpose of the software for a diverse, non-specialist audience.
- A _Statement of need_ section that clearly illustrates the research purpose of the software and places it in the context of related

[2022-11-15 11:24] csoneson commented on #4887
@adamltyson - brilliant, thank you!

Before we start the review, I just want to confirm directly with @Yannan-Chen that you are indeed happy to act as a reviewer for this submission?

[2022-11-15 12:12] Kevin-Mattheus-Moerman commented on #4841
@editorialbot add @yg42 as reviewer

[2022-11-15 12:24] rcannood commented on #4677
@csoneson I just checked the last checkbox in my review issue and would like to recommend this paper for publication.

The speed and yet also rigorousness with which @hkaspersen managed to revise the manuscript and source code after receiving an extensive list of comments and suggestions from myself and the other reviews is quite exemplary. In particular, I really liked the way that he split up my

[2022-11-15 12:42] sgaichas commented on #4804
Fabian,
I'm unable to review. This month is too busy and I'm unavailable next month. Apologies for the delayed response due to travel.
--Sarah

[2022-11-15 12:57] fabian-s commented on #4804
@Kevin-Mattheus-Moerman as you can see I'm having a *very* hard time finding 2 reviewers for this. how about I do the  2nd review myself to keep this moving?

[2022-11-15 13:14] szhorvat commented on #4899
Thank you for the kind words @leotrs. Feel free to submit any feedback regarding the package anytime, even independently of the review.

[2022-11-15 13:16] Kevin-Mattheus-Moerman commented on #4767
@editorialbot accept

[2022-11-15 13:22] Kevin-Mattheus-Moerman commented on #4931
@sgbaird thanks for this submission. I am the AEiC on this track. I have just assigned the `query-scope` label. This is to trigger a review by the editorial board to check if this work is in scope for JOSS. This is normal for submissions that are on the small side, e.g. here ~750 lines of core functional Python code. We will be checking if the scholarly effort and functionality contained in this w

[2022-11-15 13:29] hugoledoux commented on #4664
@editorialbot recommend-accept

[2022-11-15 13:32] hugoledoux commented on #4681
@editorialbot generate pdf

[2022-11-15 13:33] Kevin-Mattheus-Moerman commented on #4767
@bmskinner congratulations on this publication in JOSS!!

Thanks for editing @jmschrei! And special thanks to @petebankhead and @suyashkumar for your review efforts!!!!!!!!!!

[2022-11-15 13:33] #4767 closed

[2022-11-15 13:41] Kevin-Mattheus-Moerman commented on #4804
As a last resort I would say that is okay. We can also perhaps stress to reviewers that we can be flexible regarding time needed. Some responses you got :point_up: seem to say "I do not have time now/this month", perhaps we can say, how about next month? I know it delays things but it is better than no reviewers. But again, if you can be the second reviewer then that would be permitted as a last r

[2022-11-15 13:51] csoneson commented on #4910
Thanks @iferres!

[2022-11-15 14:01] annajenul commented on #4848
Thank you, @aaronpeikert
We would appreciate thorough feedback!

[2022-11-15 14:05] hugoledoux commented on #4681
https://github.com/siavashk/pycpd/pull/76

+ one sentence I don't understand why it,s there (or what it means):
"Examples of the PyCPD algorithm are included (Figure 1)."

[2022-11-15 14:06] dhhagan commented on #4752
@OHildreth Thanks for doing all of that!

@MatthieuDartiailh and @jarrah42 - please let me know if you have any questions about the review process, otherwise, I will check in a week from now to see how things are proceeding.

[2022-11-15 14:17] dhhagan commented on #4698
Just to note, I have reached out to these reviewers over email to see if I can get past GitHub notification loss.

[2022-11-15 14:18] dhhagan commented on #4412
@claresinger I have reached out to several more via email and hope to hear back within the next 48 hours.

[2022-11-15 14:40] sbenthall commented on #4536
@editorialbot add seananderson as reviewer

[2022-11-15 14:41] sbenthall commented on #4536
@editorialbot add @seananderson as reviewer

[2022-11-15 14:41] sbenthall commented on #4536
Thanks @seananderson for agreeing to be a reviewer!

[2022-11-15 14:46] sbenthall commented on #4845
@fdroessler Would you be able to review this submission?

[2022-11-15 14:57] bethbiller commented on #4774
@editorialbot generate my checklist

[2022-11-15 15:01] jryon commented on #4904
@editorialbot generate my checklist

[2022-11-15 15:13] trashbirdecology commented on #4804
@gabspalomo -- consider becoming a JOSS reviewer?

*______________________________________________________*

Jessica L. Burnett (she/her)

Github <http://github.com/trashbirdecology>

ORCID: 0000-0002-0896-5099
<https://orcid.org/0000-0002-0896-5099>
*______________________________________________________*

Join the Community for Data Integration <https://www.usgs.gov/centers/cdi>! All
welcome. It

[2022-11-15 15:18] kthyng commented on #4917
Hi and thanks for your submission. Unfortunately the editorial board has determined that it is out of scope for JOSS. We look for software packages that are well put together and that others will be able to contribute to over time, as well as a sizable scholarly effort. You can see more information here: https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

We have so

[2022-11-15 15:18] k-doering-NOAA commented on #4536
Thank you @seananderson!

[2022-11-15 15:18] kthyng commented on #4917
@editorialbot reject

[2022-11-15 15:18] #4917 closed

[2022-11-15 15:29] jbytecode commented on #4915
@mgm8 - could you please update your status?

[2022-11-15 15:29] kthyng commented on #4923
Hi @danielemelini and thank you for your submission. I am going to ping the editorial board to make sure it is in scope before proceeding. This process will take 1-2 weeks. Thanks for your patience!

[2022-11-15 15:29] kthyng commented on #4923
@editorialbot query scope

[2022-11-15 15:30] jbytecode commented on #4736
@tmigot - could you please update your status?

[2022-11-15 15:32] kthyng commented on #4277
@kris-rowe Hi! I think now is a good time to assess your review and decide if you'll be able to complete it before Thanksgiving. I know it's a busy time for everyone, and if you won't be able to finish I would prefer you let me know so I can recruit a replacement reviewer and get this all finalized. Thanks for your effort.

[2022-11-15 15:37] danielskatz commented on #4894
👋 @zoometh - any update on your review?  It would be helpful if you can at least create your checklist via using the command `@editorialbot generate my checklist`. @editorialbot commands need to be the first thing in a new comment.

[2022-11-15 15:42] richteague commented on #4863
Hi everyone, I'm really sorry but I must have turned off notification from GitHub as I haven't seen any of these before today after I specifically went looking for them. I'll get working on this ASAP and apologize for my tardiness.

[2022-11-15 15:44] Natsiopoulos commented on #3496
@oliviaguest @sbenthall Is there any problem with the acceptance procedure? I see that there are many recommendations for acceptance. Is there something that causes a problem at this step?

[2022-11-15 15:50] sbenthall commented on #3496
Please accept my apologies. There appears to be something wrong with the @editorialbot.
@oliviaguest is on sick leave at the moment but once we get the robot working, acceptance should proceed normally.
Thanks so much for your patience!

[2022-11-15 15:57] gattia commented on #4681
@hugoledoux - thanks for the edits. I've also updated the wording of that sentence to be:

"Examples of how to use the PyCPD algorithm are included in the package, **Figure 1** displays the visualization corresponding with a 3D rigid registration example"

Let me know if you are OK with this edit or if you have others and I will merge the branch with master (where the paper being reviewed currentl

[2022-11-15 16:06] kungfugo commented on #4924
@jarvist Thanks for pointing out. .bib now contains the correct DOIs.

[2022-11-15 16:09] jonathanHuwP commented on #4333
@Kevin-Mattheus-Moerman @lucydot @JoannaLeng

Something went wrong trying to merge Lucy's PR, so I have manually included the changes, manually. We have included 'United Kingdom' on all addresses as well.

I have changed the zenodo archive to read version 1.5.

Please let us know if you need anything else.

[2022-11-15 16:13] jedbrown commented on #4172
Thanks for the discussion here. I just want to note that "novelty" per se is not a requirement for JOSS. You have a package written in Rust that implements an hp-adaptive FE method. It doesn't need to have unique algorithmic capability. It does need to compare to related software, and that comparison needs to accurately depict those other packages. If there are kinds of tasks that are simpler or s

[2022-11-15 16:22] michakraus commented on #2954
We added examples for all problem types, extended and fixed docstrings for problem types, extended and revised the tutorial. The latter made clear for which data structures `Base.show` methods are still missing. Adding more such methods was requested by one of the referees, but it was not quite clear, which core data structures are still lacking `Base.show` methods. Now it is, namely `GeometricPro

[2022-11-15 16:23] editorialbot opened #4932 "[PRE REVIEW]: rgpt3: Making requests from R to the GPT-3 API"
**Submitting author:** @ben-aaron188 (<a href="http://orcid.org/0000-0003-1658-9086">Bennett Kleinberg</a>)
**Repository:** https://github.com/ben-aaron188/rgpt3
**Branch with paper.md** (empty if default branch): main
**Version:** v.0.2.1
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/6b9ecb9c502241c43624d2c2b11c7b71/s

[2022-11-15 16:23] editorialbot opened #4933 "[PRE REVIEW]: GeoHexViz: A Python package for visualizing hexagonally binned geospatial data"
**Submitting author:** @mrempel (<a href="http://orcid.org/0000-0002-6248-1722">Mark Rempel</a>)
**Repository:** https://github.com/mrempel/geohexviz
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @martinfleis
**Reviewers:** @gassmoeller, @kaustavbhattacharjee
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/c051df96dac973486cc

[2022-11-15 16:23] editorialbot opened #4934 "[PRE REVIEW]: signnet: An R package for analyzing signed networks"
**Submitting author:** @schochastics (<a href="http://orcid.org/0000-0003-2952-4812">David Schoch</a>)
**Repository:** https://github.com/schochastics/signnet
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @sbenthall
**Reviewers:** @cosimameyer, @zpneal
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/9c54412321d25bfcd4fbde8ea3

[2022-11-15 16:25] editorialbot opened #4935 "[PRE REVIEW]: MODE.behave: A Python Package for Discrete Choice Modeling"
**Submitting author:** @julianreul (<a href="http://orcid.org/0000-0002-2786-0233">Julian Reul</a>)
**Repository:** https://github.com/julianreul/mode_behave
**Branch with paper.md** (empty if default branch):
**Version:** v1.0
**Editor:** @sbenthall
**Reviewers:** @l-kotzur, @abhiramm7
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/baa234887efca533771d9d78ccf83

[2022-11-15 16:49] hugoledoux commented on #4664
@openjournals/sbcs-eics I went too quickly, sorry. All the DOIs are wrong, the authors will fix those and then I'll contact you again. Sorry.

@winstonyym fix the DOIs as suggested above (https://github.com/openjournals/joss-reviews/issues/4664#issuecomment-1315329310), then we can continue with accepting the paper formally.

[2022-11-15 16:51] jedbrown commented on #4923
:wave: Thanks for this submission. Could you be more specific about who is the target audience for this software? Ice sheet models like [PISM](https://pism.io) have fast viscoelastic response calculation (see [this paper](https://doi.org/10.3189/172756407782871567)) and models that don't yet have such a module would strongly prefer a library interface to executables. Part of the audience identific

[2022-11-15 16:53] diehlpk commented on #4493
@editorialbot generate pdf

[2022-11-15 16:55] diehlpk commented on #4637
@editorialbot generate pdf

[2022-11-15 16:55] diehlpk commented on #4637
@editorialbot check references

[2022-11-15 16:58] diehlpk commented on #4493
@elboyran Thank you. The paper looks good now.

- [ ] Please generate a new release containing all the changes you made during the review and post the version number here.
- [ ] Please upload the release to Zenodo or FigShare and post the DPI here. Note the title and the authors of the archive have to match the paper.