[2018-12-14 11:43] akdiem commented on #1107
@dlagrava Thank you for your review and your comments! I have added a "Support" section to the README, stating the info you requested. If you would like to explore running your simulations using artery.FE, I'd be more than happy to assist. Feel free to contact me about this.

[2018-12-14 12:15] dzhoshkun commented on #1104
@Kevin-Mattheus-Moerman I've asked a number of people with a relevant background to review this paper. Will update you if and when I hear back from them.

[2018-12-14 13:03] betteridiot commented on #1115
@arfon Looks good on my end.

[2018-12-14 14:45] bmorris3 commented on #1126
May I recommend @nespinoza or @wtgee as reviewers? Thanks to each for considering.

[2018-12-14 15:20] anmuller commented on #927
@modenaxe Thank you for your review and for the different comments.

Please find the answers of the points you mentionned:
1. We tagged the current version of the toolbox.
2. Indeed, the toolbox seems to work with Matlab2017b but as the development was done with the 2018a version, we can not guarantee that the code could be run on previous versions. Also, the graphical use interfaces could only be

[2018-12-14 15:22] modenaxe commented on #927
@anmuller Thank you, for me the paper can be accepted. Well done!

[2018-12-14 15:30] Kevin-Mattheus-Moerman commented on #927
@nicoguaro @demotu are you able to resume and finalize the review at this point?

[2018-12-14 15:32] demotu commented on #927
I will do it in a few hours.

Marcos

On Fri, Dec 14, 2018 at 1:30 PM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2018-12-14 15:46] arfon commented on #1115
Great, thanks @betteridiot.

I think where we've got to here is good with me.

[2018-12-14 15:47] arfon commented on #1115
@telegraphic - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-12-14 17:22] arfon commented on #1126
@whedon generate pdf

[2018-12-14 17:22] whedon commented on #1126
[code]

[2018-12-14 17:23] whedon commented on #1126
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01126/joss.01126/10.21105.joss.01126.pdf)

[2018-12-14 17:40] arfon commented on #1126
Great suggestions. @nespinoza or @wtgee - would you be interested in reviewing this submission for JOSS?

Also, @bmorris3 - can you updated your citation to the published version of the Astropy 2.0 paper? http://adsabs.harvard.edu/cgi-bin/nph-bib_query?bibcode=2018arXiv180102634T&data_type=BIBTEX&db_key=PRE&nocookieset=1

[2018-12-14 18:00] lassoan commented on #1104
@dzhoshkun contacted me to review this submission - here are my comments:

It is nice that you took the effort to share this software. Unfortunately, the potential number of users of the software is very small, because very few people would consider using LabView for ultrasound imaging (especially in the open-source community) and the software only supports Ultrasonix machines, which are discontin

[2018-12-14 18:07] bmorris3 commented on #1126
Got it, thanks for the tip @arfon.

[2018-12-14 18:42] zhampel commented on #1047
@jshermeyer here are my comments regarding the structure of CometTS's code. I found your instructions easy to follow with the tools you have built. Your code does work as advertised, though I do think there are a changes that should be made to the formatting of the code, including commenting and other coding standards that should be upheld. Furthermore, I think your work could be made much stronge

[2018-12-14 19:09] whedon opened #1129 "[PRE REVIEW]: strandCheckR: An R package for quantifying and removing double strand sequences for strand-specific RNA-seq"
**Submitting author:** @tothuhien (<a href="http://orcid.org/0000-0003-2902-3655">Thu-Hien To</a>)
**Repository:** <a href="https://github.com/UofABioinformaticsHub/strandCheckR" target ="_blank">https://github.com/UofABioinformaticsHub/strandCheckR</a>
**Version:** 1.0.0
**Editor:** @mgymrek
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @tothuhien. The J

[2018-12-14 19:09] whedon commented on #1129
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@mgymrek) to find some reviewers for

[2018-12-14 19:09] whedon commented on #1129
[code]

[2018-12-14 19:09] whedon commented on #1129
Failed to discover a valid open source license.

[2018-12-14 19:10] whedon commented on #1129
PDF failed to compile for issue #1129 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: tags, authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/

[2018-12-14 19:10] arfon commented on #1129
:wave: @mgymrek - the submitting author suggested you as the handling editor.

[2018-12-14 19:42] bmorris3 commented on #1126
@wtgee That's perfect thank you! Also, we should totally meet up while you're in Seattle, I'd love to meet you in person 😄

[2018-12-14 19:49] wtgee commented on #1126
Sounds good! @arfon go ahead and put me down. (I was thinking there was an `@whedon accept` but it looks like not)

[2018-12-14 19:50] arfon commented on #1126
@whedon add @wtgee as reviewer

[2018-12-14 19:50] whedon commented on #1126
OK, @wtgee is now a reviewer

[2018-12-14 19:51] arfon commented on #1126
There is, but that comes later in the process :-)

Thanks for agreeing to review this submission @wtgee - I'll go ahead and set up the review now.

[2018-12-14 19:51] arfon commented on #1126
@whedon start review

[2018-12-14 19:51] whedon opened #1130 "[REVIEW]: arcesetc: ARC Echelle Spectroscopic Exposure Time Calculator"
**Submitting author:** @bmorris3 (<a href="http://orcid.org/0000-0003-2528-3409">Brett Morris</a>)
**Repository:** <a href="https://github.com/bmorris3/arcesetc" target ="_blank">https://github.com/bmorris3/arcesetc</a>
**Version:** 0.1
**Editor:** @arfon
**Reviewer:** @wtgee
**Archive:** <a href="https://doi.org/10.5281/zenodo.2565136" target="_blank">10.5281/zenodo.2565136</a>

## Status

[![sta

[2018-12-14 19:51] whedon commented on #1126
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1130. Feel free to close this issue now!

[2018-12-14 19:51] whedon commented on #1130
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wtgee it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curre

[2018-12-14 19:51] whedon commented on #1130
[code]

[2018-12-14 19:52] #1126 closed

[2018-12-14 19:52] whedon commented on #1130
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01130/joss.01130/10.21105.joss.01130.pdf)

[2018-12-14 19:54] arfon commented on #1130
Hi @wtgee, thanks again for agreeing to review this submission for JOSS. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know. Also, I realize the holidays and AAS are coming fast so could you

[2018-12-14 19:56] wtgee commented on #1130
Shouldn't be a problem and I'll most likely get it done before then, just needed to make sure I had wiggle room if necessary.  Thanks!

[2018-12-14 20:18] tothuhien commented on #1129
Thanks Arfon! I've just changed the YAML header following the example. Hope
it works now.
Hien

On Fri, Dec 14, 2018 at 8:28 PM Arfon Smith <notifications@github.com>
wrote:

[2018-12-14 20:23] arfon commented on #1129
@whedon generate pdf

[2018-12-14 20:23] whedon commented on #1129
[code]

[2018-12-14 20:23] whedon commented on #1129
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01129/joss.01129/10.21105.joss.01129.pdf)

[2018-12-14 20:54] tothuhien commented on #1129
Thanks for building it. I've checked the article proof and it's all good!
Hien

On Fri, Dec 14, 2018 at 9:23 PM whedon <notifications@github.com> wrote:

[2018-12-14 21:17] nespinoza commented on #1126
Got late to the party but glad to see @wtgee will review this! Good luck with the submission @bmorris3!

[2018-12-14 21:57] demotu commented on #927
I tested CusToM using matlab 2018b in a windows machine. With the help of the documentation and the tutorials on youtube, i was able to run the three examples that come with the software.
This software is for a very specialized public but it works as described.
I think after all the improvements the authors have made this paper is ready to be accepted.

[2018-12-15 10:53] arfon commented on #1120
:wave: @katyhuff - would you be willing to edit this submission for JOSS?

[2018-12-15 10:55] arfon commented on #1122
:wave: @brainstorm - would you be willing to edit this submission for JOSS?

[2018-12-15 23:39] thewtex commented on #1063
@plooney looking good.

Please review and fix up this PR as required:

  https://github.com/plooney/kretz/pulls

which should how to format as an ITK Module to use as a library and adds CI configuration.

One other item is to tag the repository.

[2018-12-16 21:14] brainstorm commented on #1119
:wave: @ejdanderson Let me know if you have any doubts on how to proceed :)

[2018-12-16 22:31] danielskatz commented on #1073
👋 @arfon - it looks like something didn't work here - the pdf in the PR looks good, but it doesn't seem to be in http://joss.theoj.org/papers/10.21105/joss.01073 correctly.  https://www.theoj.org/joss-papers/joss.01073/10.21105.joss.01073.pdf gives a 404 error.

[2018-12-16 22:34] danielskatz commented on #1097
👋 @gsagnol - how are things going?  When will you be able to start on the review (at least the first 2 checkboxes regarding COIs and the JOSS CoC?)

[2018-12-16 22:37] danielskatz commented on #1118
@henrik227 - it's not ideal, but it almost meets the minimum required for JOSS.  The one thing that I think is needed is to have this in the README as well.  If you have more suggestions, please make them as an issue in the source repository, but they will be treated as suggestions, not a requirement for JOSS acceptance.

[2018-12-16 22:37] danielskatz commented on #1118
👋 @StewMH - when do you think you will be able to get started on this review?

[2018-12-16 22:39] whedon opened #1131 "[PRE REVIEW]: WrightTools: a Python package for multidimensional spectroscopy"
**Submitting author:** @untzag (<a href="http://orcid.org/0000-0002-3845-824X">Blaise Thompson</a>)
**Repository:** <a href="https://github.com/wright-group/WrightTools" target ="_blank">https://github.com/wright-group/WrightTools</a>
**Version:** 3.2.0
**Editor:** @yochannah
**Reviewers:** @daissi, @ivergara

**Author instructions**

Thanks for submitting your paper to JOSS @untzag. The JOSS edit

[2018-12-16 22:39] whedon commented on #1131
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yochannah it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@yochannah) to find some reviewers

[2018-12-16 22:39] whedon commented on #1131
[code]

[2018-12-16 22:39] whedon commented on #1131
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01131/joss.01131/10.21105.joss.01131.pdf)

[2018-12-16 22:39] danielskatz commented on #1131
👋 @yochannah - you've been suggested as the editor for this one.

[2018-12-16 22:48] tpetricek commented on #1005
@yochannah I'm happy to stay involved if the author is interested in supporting Windows, at least through the Ubuntu Bash shell - I don't see why that should be impossible and I think it would be a good thing for the project in general.

No matter what the supported platforms are, I think the project should use some form of pre-generated OCaml source code for bootstrapping rather than a checked-in

[2018-12-17 00:31] arfon commented on #1073
@danielskatz - those links seem to work for me now. Perhaps GitHub was being a little slow?

[2018-12-17 01:09] ZijieZhaoMMHW commented on #1124
@whedon  commands

[2018-12-17 01:12] ZijieZhaoMMHW commented on #1124
@whedon generate pdf

[2018-12-17 01:12] whedon commented on #1124
[code]

[2018-12-17 01:13] whedon commented on #1124
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01124/joss.01124/10.21105.joss.01124.pdf)

[2018-12-17 01:35] danielskatz commented on #1073
maybe - thanks

[2018-12-17 01:35] danielskatz commented on #1073
@halirutan - your paper is now accepted into JOSS ⚡️🚀💥

[2018-12-17 01:35] #1073 closed

[2018-12-17 01:35] whedon commented on #1073
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01073/status.svg)](https://doi.org/10.21105/joss.01073)

**We need your help!**

Journal of Open Source Softwar

[2018-12-17 01:40] dlagrava commented on #1107
@trallard sorry, that was an oversight. It is fixed now. I did finish the review. Thanks a lot!

[2018-12-17 03:31] arokem commented on #1088
@whedon assign @jsgalan as reviewer

[2018-12-17 03:31] whedon commented on #1088
OK, the reviewer is @jsgalan

[2018-12-17 03:31] arokem commented on #1088
@whedon start review

[2018-12-17 03:31] whedon opened #1132 "[REVIEW]: GAMA: Genetic Automated Machine learning Assistant"
**Submitting author:** @PGijsbers (<a href="http://orcid.org/0000-0001-7346-8075">Pieter Gijsbers</a>)
**Repository:** <a href="https://github.com/PGijsbers/GAMA" target ="_blank">https://github.com/PGijsbers/GAMA</a>
**Version:** v0.1.0
**Editor:** @arokem
**Reviewer:** @jsgalan
**Archive:** <a href="https://doi.org/10.5281/zenodo.2545472" target="_blank">10.5281/zenodo.2545472</a>

## Status

[!

[2018-12-17 03:31] whedon commented on #1088
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1132. Feel free to close this issue now!

[2018-12-17 03:31] whedon commented on #1132
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jsgalan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-12-17 03:31] whedon commented on #1132
[code]

[2018-12-17 03:32] whedon commented on #1132
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01132/joss.01132/10.21105.joss.01132.pdf)

[2018-12-17 03:32] arokem commented on #1088
Thanks for taking this on @jsgalan ! Please head over to #1132 for the review checklist. I am closing this one.

[2018-12-17 03:32] #1088 closed

[2018-12-17 03:35] arokem commented on #1076
@Kevin-Mattheus-Moerman : I just saw the exchange above. Do you want me to find one more reviewer for this? Looks like you have this under control 😄

[2018-12-17 06:56] telegraphic commented on #1115
Hi @arfon -- record is https://zenodo.org/record/2345649, and DOI is 10.5281/zenodo.2345649.

@betteridiot -- after some fiddling I've gotten a conda-forge recipe too, waiting on checks (https://github.com/conda-forge/staged-recipes/pull/7268)

[2018-12-17 08:46] dzhoshkun commented on #1104
@lassoan Thank you very much for your comments and the insight.

[2018-12-17 09:52] trallard commented on #1107
Hey no worries @dlagrava thanks again for your time

As soon as @jhill1 confirms that the community guidelines point has been satisfactorily added I will conduct the last editorial tasks on the submission

[2018-12-17 10:15] jhill1 commented on #1107
Done!

[2018-12-17 10:46] kpeeters commented on #1118
Am of course happy to expand this text and add to the README; this is trivial compared to writing the software and getting the documentation/tutorials/packages organised...

[2018-12-17 10:50] trallard commented on #1107
@akdiem now that the reviews are completed and the paper has been recommended for acceptance, we need you to complete the following actions:

- [ ]   make a new release of the package (unless the latest release is up to date with the recent modifications)

- [ ]  upload the revised software to your DOI-granting data/software repository, and post the DOI here

[2018-12-17 11:54] arfon commented on #1115
@whedon set 10.5281/zenodo.2345649 as archive

[2018-12-17 11:54] whedon commented on #1115
OK. <a href="https://doi.org/10.5281/zenodo.2345649" target="_blank">10.5281/zenodo.2345649</a> is the archive.

[2018-12-17 11:54] arfon commented on #1115
@whedon accept

[2018-12-17 11:54] whedon commented on #1115
[code]

[2018-12-17 11:55] whedon commented on #1115
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/121

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/121, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-17 11:56] arfon commented on #1115
@whedon accept deposit=true

[2018-12-17 11:56] whedon commented on #1115
[code]

[2018-12-17 11:57] whedon commented on #1115
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/122
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01115](https://doi.org/10.21105/joss.01115)
2. If everything looks go

[2018-12-17 11:59] arfon commented on #1115
@betteridiot - many thanks for your review here ✨

@telegraphic - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-17 11:59] #1115 closed

[2018-12-17 11:59] whedon commented on #1115
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01115/status.svg)](https://doi.org/10.21105/joss.01115)

**We need your help!**

Journal of Open Source Softwar

[2018-12-17 12:06] gsagnol commented on #1097
Hi @danielskatz , I wanted to start with the review this week.

I tried to check some of the boxes, but this will not work, although I'm logged in to github. Is google-chrome under linux not supported ? I tried under firefox, but this did not work neither.

[2018-12-17 12:11] slithiaote commented on #1005
@tpetricek Lepton compiles on Windows, but is mostly unusable because it requires the Unix library and Unix tools. Your comment made me realize that Windows Subsystem for Linux can provide those, although I will not be able to test it myself. I have been working on a source-based distribution for the past few days. I should be able to update this week.

@yochannah Have you tried the "reproducible

[2018-12-17 12:37] gsagnol commented on #1097
That's it... I probably did not accept the invitation, but I guess the invitation link expired:
"Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."

[2018-12-17 12:38] danielskatz commented on #1097
👋 @arfon - can you help with this?  Or tell me what I can do?

[2018-12-17 13:15] telegraphic commented on #1115
Fantastic! Thanks @arfon and @betteridiot! 🎈 🎈

[2018-12-17 14:30] arfon commented on #1097
@gsagnol - I've re-made the invitation here: https://github.com/openjournals/joss-reviews/invitations

[2018-12-17 14:40] StewMH commented on #1118
@danielskatz I went through the review process today - everything looks good except for a minor issue in the unit tests:
https://github.com/kpeeters/cadabra2/issues/122

Cheers,

Stewart

[2018-12-17 15:08] jschnab commented on #1125
@aokad @johnlees  thank you for your comments, I'm working on it.

[2018-12-17 15:48] hugoledoux commented on #808
sorry for delay again, the python3 error is gone but no visualisation:
[code]

[2018-12-17 15:56] ailiop commented on #1076
@Kevin-Mattheus-Moerman : Thank you very much for your detailed comments! I am sorry for not replying earlier; I will work on addressing all of your comments this week.

[2018-12-17 20:12] lheagy commented on #990
👋 Hi @scivision: Would you be willing to take a look through the software? If so, when do you think you will have time to do the review? Thank you!

[2018-12-17 21:04] viktor76525 commented on #808
Hi @hugoledoux, that is normal as of ~5.4.4 and I think it doesn't classify as an error in 5.4.3.

That particular command (first example) only produces a static image (png). You should have a file `fault_perspective.png` where you run the command from. If it has not created the image, were there any other messages?

[2018-12-18 00:02] apsabelhaus commented on #1042
Hi all, thanks again for your patience, the semester just finished up here, so I'm going to work on this now.

[2018-12-18 00:58] arfon commented on #1075
_bump_ please review this submission soon.

[2018-12-18 01:50] untzag commented on #1131
@yochannah I suggest @ivergara and @jwuttke as potential reviewers because they both mention "spectroscopy"

I also suggest @ygrange and @Dybian for their interest in "workflow development"

all of these reviewers have indicated familiarity with Python

unfortunately, I'm not aware of anyone who has interest in both OSS and multidimensional spectroscopy---so I don't have any recommendations with e

[2018-12-18 08:03] ygrange commented on #1131
Short note to say I won’t have time. Good luck!

--
Y. Grange

<notifications@github.com> het volgende geschreven:

because they both mention "spectroscopy"

development"

and multidimensional spectroscopy---so I don't have any recommendations
with exact domain knowledge

[2018-12-18 09:09] akdiem commented on #1107
@whedon generate pdf

[2018-12-18 09:09] whedon commented on #1107
[code]

[2018-12-18 09:09] whedon commented on #1107
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01107/joss.01107/10.21105.joss.01107.pdf)

[2018-12-18 09:10] akdiem commented on #1107
@trallard I had forgotten to add the acknowledgements to the paper - I hope it is ok to still add them. I have rebuilt the paper and will perform the other final steps now.

[2018-12-18 09:11] gsagnol commented on #1097
I installed the latest release from github, and `oapackage.__version__` returns 2.5.2, while the check list above asks for 2.5.1. Should the checklist be updated, or should I review a former version ?

[2018-12-18 09:34] hugoledoux commented on #808
oh okay it did work then. Perhaps writing this in the doc for newbies like me if a good idea though? I saw the ERROR and thought things weren't working...

I'll finish the review soon then.

[2018-12-18 09:46] peendebak commented on #1097
@gsagnol I don't know about JOSS policy on this matter. I submitted version 2.5.1 to JOSS, but since that moment (also based on reviewers comments) I updated the code and the paper and made a new release. I will continue to push updates based on the review to `dev` and once in a while merge `dev` to `master` (with an increase in version number)

[2018-12-18 10:17] hugoledoux commented on #808
Some things that need to be fixed/modified:

# installation

- GMT: I'd add for mac that homebrew can be used, as I wrote above.
- git is not necessary to download the software, don't put it as a dependency

# running software

maybe a bit more clarity about what the output is and that there'll be error

#

[2018-12-18 10:51] gsagnol commented on #1097
@peendebak : I posted an issue on the OApackage repository about confusing location for the documentation (readthedocs.io vs. http://pietereendebak.nl)

[2018-12-18 12:32] peendebak commented on #1097
The minimal version of numpy is specified in the `setup.py` (1.13, although perhaps earlier versions of numpy work as well). Can you provide me with some more details of your system (e.g. platform, version of numpy installed, how did you install (pip or compile from source), send output of installation process, version of swig installed)

Can you also send me the output of the following commands?

[2018-12-18 13:20] danielskatz commented on #1097
@peendebak and @gsagnol - please review the "latest" and be sure that all the docs are consistent, then we will accept that version into the repository and the journal once everything is approved.

[2018-12-18 15:53] trallard commented on #1107
@whedon set 10.5281/zenodo.2383815 as archive

[2018-12-18 15:53] whedon commented on #1107
OK. <a href="https://doi.org/10.5281/zenodo.2383815" target="_blank">10.5281/zenodo.2383815</a> is the archive.

[2018-12-18 15:53] trallard commented on #1107
@arfon: this submission is accepted and ready to be published 🎉👾

@jhill1  and @dlagrava  thank you very much for your time and valuable contribution to JOSS as a reviewer for this submission 🙌🏻🌟

[2018-12-18 16:15] davidbradway commented on #1104
I echo the comments of @lassoan . Though I have access to LabView and an ultrasound research lab, I use Verasonics hardware rather than Ultrasonix. And though I applaud @dzhoshkun sharing your work in a Github repository, I don't think this is the appropriate Journal since it relies on closed-source hardware and software tools.

[2018-12-18 16:19] arfon commented on #1107
@whedon accept

[2018-12-18 16:20] whedon commented on #1107
[code]

[2018-12-18 16:20] whedon commented on #1107
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/123

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/123, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-18 16:22] arfon commented on #1107
@whedon accept deposit=true

[2018-12-18 16:22] whedon commented on #1107
[code]

[2018-12-18 16:22] whedon commented on #1107
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/124
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01107](https://doi.org/10.21105/joss.01107)
2. If everything looks go

[2018-12-18 16:25] arfon commented on #1107
@dlagrava, @jhill1 - many thanks for your reviews here and to @trallard for editing this submission ✨

@akdiem - your paper is now accepted into JOSS :zap::rocket::boom:

[2018-12-18 16:25] #1107 closed

[2018-12-18 16:25] whedon commented on #1107
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01107/status.svg)](https://doi.org/10.21105/joss.01107)

**We need your help!**

Journal of Open Source Softwar

[2018-12-18 16:51] FaustinCarter commented on #1104
From a closer look at their code, I don't think anyone actually needs LabVIEW to test it. Their API is accessible from LabVIEW, but it appears that it could be tested with any language that can call methods exposed in a DLL. That loosens the requirements for review slightly to someone who has access to the Sonix SDK, C++ compiler, and knows how to build a library and call functions from a DLL.

Fr

[2018-12-18 17:48] lheagy commented on #1114
👋 Hi @zhangning737, just checking in. Do you intend to make the changes suggested above? If so, I will leave this issue open. If not, I will close this and you can always re-open the issue and re-start the submission when these items are addressed

[2018-12-18 17:57] lheagy commented on #990
👋 Hi @kbevers, would you have time in the next week or so to jump back in and take a look at the unchecked functionality boxes?

[2018-12-18 17:59] lheagy commented on #1095
:wave: hi @gidden, please keep us posted on your progress and post here when you are done with your revisions.

[2018-12-18 18:01] lheagy commented on #1121
👋 Hi @rbeucher, just a quick update for you, I have heard back from Sergio and he is willing to review. I am just looking for one more reviewer and then we can get the review process started.

[2018-12-18 19:44] tonygon commented on #1108
@trallard My apologies for the delay. As I mentioned to Morten before agreeing, I'm able to do the review, I work with AnyPython tools and AnyBody, I used both regularly for a project.
But, I'm in the transition between jobs, so time is a bit limited ;)
Since we have holidays by the end of the week I will finish the review then.
I already know/did most of all AnyPython tools part, I just need to s

[2018-12-18 20:26] whedon opened #1133 "[PRE REVIEW]: RSeqAn: Headers and wrappers for the SeqAn library in R"
**Submitting author:** @aguang (<a href="http://orcid.org/0000-0003-4974-1873">August Guang</a>)
**Repository:** <a href="https://github.com/compbiocore/RSeqAn" target ="_blank">https://github.com/compbiocore/RSeqAn</a>
**Version:** v1.0
**Editor:** @brainstorm
**Reviewers:** @pdiakumis

**Author instructions**

Thanks for submitting your paper to JOSS @aguang. The JOSS editor (shown at the top of

[2018-12-18 20:26] whedon opened #1134 "[PRE REVIEW]: PyWavelets: A Python package for wavelet analysis"
**Submitting author:** @grlee77 (<a href="http://orcid.org/0000-0001-8895-2740">Gregory Lee</a>)
**Repository:** <a href="https://github.com/PyWavelets/pywt" target ="_blank">https://github.com/PyWavelets/pywt</a>
**Version:** v1.0.1
**Editor:** @jedbrown
**Reviewers:** @rafat, @souopgui

**Author instructions**

Thanks for submitting your paper to JOSS @grlee77. The JOSS editor (shown at the top

[2018-12-18 20:27] whedon opened #1135 "[PRE REVIEW]: pycontour: A Python package for contour representation and functionality"
**Submitting author:** @PingjunChen (<a href="http://orcid.org/0000-0003-0528-1713">Pingjun Chen</a>)
**Repository:** <a href="https://github.com/PingjunChen/pycontour" target ="_blank">https://github.com/PingjunChen/pycontour</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @PingjunChen. The JOSS editor (shown at

[2018-12-18 21:01] rbeucher commented on #1121
Great! Thanks @lheagy

[2018-12-18 22:33] lheagy commented on #1121
@whedon assign @techas as reviewer

[2018-12-18 22:33] whedon commented on #1121
OK, the reviewer is @techas

[2018-12-18 22:42] tth030 commented on #1121
Hei @lheagy!
I accept to review this submission. Now you know my github account by the way.
Thomas Th.

[2018-12-18 22:44] lheagy commented on #1121
@whedon add @tth030 as reviewer

[2018-12-18 22:44] whedon commented on #1121
OK, @tth030 is now a reviewer

[2018-12-18 22:45] lheagy commented on #1121
@whedon start review

[2018-12-18 22:45] whedon opened #1136 "[REVIEW]: UWGeodynamics: A teaching an research tool for numerical geodynamic modelling"
**Submitting author:** @rbeucher (<a href="http://orcid.org/0000-0003-3891-5444">Romain Beucher</a>)
**Repository:** <a href="https://github.com/underworldcode/UWGeodynamics" target ="_blank">https://github.com/underworldcode/UWGeodynamics</a>
**Version:** 2.7.7
**Editor:** @lheagy
**Reviewers:** @flohorovicic
**Archive:** <a href="https://doi.org/10.5281/zenodo.2636105" target="_blank">10.5281/ze

[2018-12-18 22:45] whedon commented on #1121
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1136. Feel free to close this issue now!

[2018-12-18 22:45] whedon commented on #1136
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @techas, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-12-18 22:45] whedon commented on #1136
[code]

[2018-12-18 22:45] #1121 closed

[2018-12-18 22:46] whedon commented on #1136
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01136/joss.01136/10.21105.joss.01136.pdf)

[2018-12-18 22:49] lheagy commented on #1136
Many thanks @techas, @tth030 for being willing to review! 🎉

First of all, if you have not signed up to be a reviewer with JOSS before, please add yourself here: http://joss.theoj.org/reviewer-signup.html/. This will allow you to check-off the boxes above.

There is a checklist for each of you to help guide the review. If there are items that you see are missing or could be improved, please either

[2018-12-19 02:37] PingjunChen commented on #1135
@whedon generate pdf

[2018-12-19 02:37] whedon commented on #1135
[code]

[2018-12-19 02:38] whedon commented on #1135
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01135/joss.01135/10.21105.joss.01135.pdf)

[2018-12-19 02:49] PingjunChen commented on #1135
I would like to suggest @grlee77, @thomakra, @rlizzo, and @hooman650 to serve as the reviewers, considering their expertise in Python and image analysis.

[2018-12-19 03:39] viktor76525 commented on #808
I've made all the changes.
- message about only a single png created in first example readme: "The most simplest output is a single frame (image) facing the fault plane. ..." not sure if this is clear enough.
- git no longer listed as it is part of the GMT build process (optional).
- homebrew listed as Mac option

[2018-12-19 10:13] gsagnol commented on #1097
@peendebak I created an issue on the oapackage repo for the tests.
* On the PC of my institute, I am not able to run the tests. Here, I used a local information (pip install --user)
* On my laptop, the testing suite seems to work, but some tests fail. On my laptop I used a standard global installation without the --user flag.

[2018-12-19 10:30] Kevin-Mattheus-Moerman commented on #1094
@ybayle thanks for these comments.

In relation to DOI's I've opened an issue on this (https://github.com/carterenyi/emviz/issues/4) whenever DOI's are available they need to be added. @carterenyi can you work on adding those?

[2018-12-19 12:11] danielskatz commented on #1118
@kpeeters - please let us know when you think the community guidelines section is complete, so @henrik227 can re-review this and check off his final item.

The other needed item is to resolve https://github.com/kpeeters/cadabra2/issues/122

[2018-12-19 12:14] danielskatz commented on #1133
👋 @mgymrek - are you able to edit this submission?

[2018-12-19 12:16] danielskatz commented on #1120
👋 @katyhuff - ping...

[2018-12-19 12:40] gidden commented on #1095
Hello all. First of all, thank you very much to @Chilipp and @jtmiclat for their very useful reviews. We have striven to implement all suggestions both of you made.

Notably these include:

- adding contributor/community guidance ([pr](https://github.com/IAMconsortium/pyam/pull/161), [site](https://software.ene.iiasa.ac.at/pyam/index.html#interested-in-contributing-welcome-to-the-team))
- adding c

[2018-12-19 13:15] Chilipp commented on #1095
I am okay with accepting his software for publication @lheagy. Thank you very much @gidden and @danielhuppmann for your work on this! 🎉 🎉

[2018-12-19 13:54] carterenyi commented on #1094
@Kevin-Mattheus-Moerman Yes, I will work on adding the DOIs

On Wed, Dec 19, 2018 at 5:30 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2018-12-19 14:30] kpeeters commented on #1118
@danielskatz - please also let me know if you want me to tag the current state of the repo with a new version.

[2018-12-19 14:32] danielskatz commented on #1118
Thanks @kpeeters

@henrik227 - please see what you think.
@StewMH - do you think the unit test issue is something that should block acceptance?

[2018-12-19 14:37] danielskatz commented on #1118
Once we are done with the reviews, you can either update the current version or tag it as a new one.

[2018-12-19 16:04] henrik227 commented on #1118
I'm fine with those guidelines.

[2018-12-19 16:07] StewMH commented on #1118
Hi @danielskatz, @kpeeters,

I can reproduce the bug in a clean Docker-based setup: I will post the details to the main ticket. I don't think it's a blocker for acceptance but it seems to suggest a CI system should be set up.

Cheers,

Stewart

[2018-12-19 16:07] yochannah commented on #1005
Okay - this is good - it sounds like we may be able to keep @tpetricek onboard if we can get this on Windows! 👍

I do think I generally agree about @tpetricek's comment re pre-generated OCaml source code.

[2018-12-19 16:15] kpeeters commented on #1118
Volunteers for CI integration welcome ;-)  I had things running on Travis at some point but it started eating too much into my time when they kept changing the system under my feet. I now just have a bunch of VMs that I use to build binary packages from time to time. The Python ecosystem is a pain to adapt to...

[2018-12-19 16:31] yochannah commented on #1131
Sure, I can edit this.

Thanks @ygrange for letting us know you won't have time.

Looks like @dybian may have changed their github username. @daissi was that you? (and might you be interested to review?)

[2018-12-19 16:58] bmorris3 commented on #1130
@wtgee – Looking over the review criteria, I realize that the "statement of need" might not be obvious in my write-up without some context. It should be noted that ARCES does not currently have any exposure time calculator, so a tool like `arcestec` is very much needed.

[2018-12-19 17:38] george-githinji commented on #1103
@arfon please do you mind to re-assign this review to a different editor and reviewers?

[2018-12-19 17:53] katyhuff commented on #1120
I'm afraid I'm not able to contribute until January 1.

[2018-12-19 18:22] george-githinji commented on #1100
Thank you @azneto @betteridiot.
 @pjotrp would you mind taking this on as an editor?

[2018-12-19 18:43] arfon commented on #1103
Sure thing @george-githinji

[2018-12-19 18:57] pjotrp commented on #840
Ping!

[2018-12-19 18:57] ejdanderson commented on #1119
Great thanks! I'll have time this weekend to review.

[2018-12-19 19:13] pjotrp commented on #1116
Sure thing. I am still trying to find a reviewer.

[2018-12-19 19:32] jhill1 commented on #1112
@whedon generate pdf

[2018-12-19 19:32] whedon commented on #1112
[code]

[2018-12-19 19:33] whedon commented on #1112
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01112/joss.01112/10.21105.joss.01112.pdf)

[2018-12-19 19:55] Chilipp commented on #1095
Yes, my apologies

[2018-12-19 22:22] lheagy commented on #1095
Many thanks @Chilipp and @jtmiclat for taking the time to review! 🎉

Congratulations @gidden on your submission! To finalize the acceptance, please archive your software on [zenodo](http://zenodo.org) or similar and post the doi here.

[2018-12-19 22:34] pwollstadt commented on #1081
@Autoplectic, we have added a description of our multivariate mutual information implementation to the [Wiki](https://github.com/pwollstadt/IDTxl/wiki/Theoretical-Introduction#further-network-inference-algorithms-implemented-in-idtxl). Thank you for your suggestion, we hope this clears up any misunderstanding about what is meant here.

[2018-12-19 23:09] RHagenson commented on #1116
Thank you. Happy holidays!

[2018-12-20 00:43] apsabelhaus commented on #1042
All boxes checked from me. I recommend publication.

[2018-12-20 06:32] brogly commented on #1127
@whedon generate pdf

[2018-12-20 06:32] whedon commented on #1127
[code]

[2018-12-20 06:32] whedon commented on #1127
PDF failed to compile for issue #1127 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    289      0 --:--:-- --:--:-- --:--:--   290
Error reading bib

[2018-12-20 06:35] brogly commented on #1127
@whedon generate pdf

[2018-12-20 06:35] whedon commented on #1127
[code]

[2018-12-20 06:36] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-20 07:00] brogly commented on #1127
@whedon generate pdf

[2018-12-20 07:00] whedon commented on #1127
[code]

[2018-12-20 07:01] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-20 09:41] slithiaote commented on #1005
I just committed to Github and tagged v1.1

[2018-12-20 09:52] danielemarinazzo commented on #1081
That's very good for me, I have no further comments.
Congratulations on a useful paper and piece of software.

[2018-12-20 10:47] daissi commented on #1131
@yochannah indeed, I have changed my github username. Could you update it in the reviewers list?

Spectroscopy is not my field but I accept to review WrightTools for the workflow part.

[2018-12-20 11:00] gsagnol commented on #1097
@whedon generate pdf

[2018-12-20 11:00] whedon commented on #1097
[code]

[2018-12-20 11:01] whedon commented on #1097
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01097/joss.01097/10.21105.joss.01097.pdf)

[2018-12-20 11:06] gsagnol commented on #1097
@peendebak : Concerning the last "check-box", it seems that some doi's are missing in the software paper. For example,
The book "Orthogonal Arrays: Theory and Applications" of Hedayat et al. should have doi `https://doi.org/10.1007/978-1-4612-1478-6`

Moreover, this reference appears in two separate bib entries (once as a book, once as a website).

[2018-12-20 11:06] yochannah commented on #1131
Thanks @daissi ! We need to find a second reviewer, then we can kick the official review issue off.

[2018-12-20 16:37] gsagnol commented on #1097
@peendebak : I created a number of issues in the source repository. This can be considered as my list of requests for a *minor revision*.

[2018-12-20 16:49] kyleniemeyer commented on #1113
@whedon add @puncan as reviewer

[2018-12-20 16:49] whedon commented on #1113
OK, @puncan is now a reviewer

[2018-12-20 16:50] kyleniemeyer commented on #1113
@whedon start review magic-word=bananas

[2018-12-20 16:50] whedon opened #1137 "[REVIEW]: PsychroLib: a library of psychrometric functions to calculate thermodynamic properties of air"
**Submitting author:** @dmey (<a href="http://orcid.org/0000-0002-7071-7547">D. Meyer</a>)
**Repository:** <a href="https://github.com/psychrometrics/psychrolib" target ="_blank">https://github.com/psychrometrics/psychrolib</a>
**Version:** 2.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @bryanwweber, @puncan
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/cc72219ce76f5569cb

[2018-12-20 16:50] whedon commented on #1113
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1137. Feel free to close this issue now!

[2018-12-20 16:50] whedon commented on #1137
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bryanwweber, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2018-12-20 16:50] whedon commented on #1137
[code]

[2018-12-20 16:51] kyleniemeyer commented on #1113
ok @dmey @bryanwweber @puncan we are done with this pre-review issue, and we'll move over to #1137 for the actual review.

[2018-12-20 16:51] #1113 closed

[2018-12-20 16:51] whedon commented on #1137
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01137/joss.01137/10.21105.joss.01137.pdf)

[2018-12-20 16:52] kyleniemeyer commented on #1137
👋  @dmey @bryanwweber @puncan

@bryanwweber @puncan please note your separate review checklists above; you can submit any other general comments as comments here, or as issues filed in the software repo (just make sure to either mention this issue in those, or comment with any issues you file here)

[2018-12-20 16:54] dmey commented on #1137
@whedon generate pdf from branch dmey/paper

[2018-12-20 16:54] whedon commented on #1137
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01137/joss.01137/10.21105.joss.01137.pdf)

[2018-12-20 17:12] dmey commented on #1137
Thank you @kyleniemeyer @bryanwweber @puncan.

Just to let you all know that we have had a few issues with the positioning of the image therefore I am currently using the [dmey/paper](https://github.com/psychrometrics/psychrolib/tree/dmey/paper) branch for this submission to avoid polluting master with multiple commits -- i.e. for generating the summary document or addressing any of the comments y

[2018-12-20 20:08] karthik commented on #791
I'd recommend @boshek if he's got time.

[2018-12-20 20:15] arfon commented on #791
:wave: @boshek - do you think you might be able to help us here? We're very close to finishing this review but unfortunately @steffilazerte wasn't able to verify some of the functionality of the software.

[2018-12-21 01:06] aslakbergersen commented on #1065
@rlizzo I know we all have a lot on our todo-lists now before Christmas holiday break, but I'm wondering if you have any additional comments, or if it would be possible to wrap this up before the Holidays?

[2018-12-21 02:52] lheagy commented on #990
Many thanks @kbevers!

[2018-12-21 11:18] DavideNardone commented on #1049
Hello everybody, I finally made most of the changes you've requested. Some of them remain still unsolved but the explanation is contained in its section. I've also updated the paper contents. There may be still something issues to solve it. Please let's clarify them together so that i can provide a better solution.

Thanks.

Cheers,

DN

[2018-12-21 11:19] DavideNardone commented on #1049
@whedon generate pdf

[2018-12-21 11:19] whedon commented on #1049
[code]

[2018-12-21 11:19] whedon commented on #1049
PDF failed to compile for issue #1049 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1049/paper/paper.md): could not find expected ':' while scanning a simple key at line 3 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2018-12-21 11:50] arfon commented on #1049
@DavideNardone - the paper won't compile as it's entirely missing the YAML header at the top of the `paper.md`. See [this example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) for what's missing.

[2018-12-21 11:51] whedon opened #1138 "[PRE REVIEW]: tissueloc: Whole slide pathology image tissue localization"
**Submitting author:** @PingjunChen (<a href="http://orcid.org/0000-0003-0528-1713">Pingjun Chen</a>)
**Repository:** <a href="https://github.com/PingjunChen/tissueloc" target ="_blank">https://github.com/PingjunChen/tissueloc</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewers:** @Arafatk

**Author instructions**

Thanks for submitting your paper to JOSS @PingjunChen. The JOSS editor (shown a

[2018-12-21 11:51] whedon commented on #1138
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@pjotrp) to find some reviewers for yo

[2018-12-21 11:51] whedon commented on #1138
[code]

[2018-12-21 11:51] arfon commented on #1138
:wave: @pjotrp - the submitting author suggested you as the handling editor.

[2018-12-21 11:51] whedon opened #1139 "[PRE REVIEW]: open_iA: A tool for processing and visual analysis of industrial computed tomography datasets"
**Submitting author:** @codeling (<a href="http://orcid.org/0000-0003-1271-0838">Bernhard Fröhler</a>)
**Repository:** <a href="https://github.com/3dct/open_iA" target ="_blank">https://github.com/3dct/open_iA</a>
**Version:** 2018.12
**Editor:** @katyhuff
**Reviewers:** @trallard, @behollister

**Author instructions**

Thanks for submitting your paper to JOSS @codeling. The JOSS editor (shown at

[2018-12-21 11:51] whedon commented on #1139
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@katyhuff) to find some reviewers fo

[2018-12-21 11:51] whedon commented on #1139
[code]

[2018-12-21 11:51] arfon commented on #1139
:wave: @katyhuff - the submitting author suggested you as the handling editor.

[2018-12-21 11:52] whedon commented on #1139
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01139/joss.01139/10.21105.joss.01139.pdf)

[2018-12-21 11:52] arfon commented on #1122
@whedon assign @brainstorm as editor

[2018-12-21 11:52] whedon commented on #1122
OK, the editor is @brainstorm

[2018-12-21 11:54] arfon commented on #1127
@jasonclark - would you be willing to edit this submission for JOSS?

[2018-12-21 11:55] arfon commented on #1128
:wave: @trallard - would you be willing to edit this submission for JOSS?

[2018-12-21 12:02] DavideNardone commented on #1049
Sorry my bad!

[2018-12-21 12:02] DavideNardone commented on #1049
@whedon generate pdf

[2018-12-21 12:02] whedon commented on #1049
[code]

[2018-12-21 12:03] whedon commented on #1049
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01049/joss.01049/10.21105.joss.01049.pdf)

[2018-12-21 13:01] labarba commented on #1042
@whedon accept

[2018-12-21 13:01] whedon commented on #1042
No archive DOI set. Exiting...

[2018-12-21 13:09] labarba commented on #1042
Oops. Forgot one thing ... @vaishnavtv: Could you now make a deposit in an archive, such as Zenodo, and give us the DOI here?

[2018-12-21 16:58] brogly commented on #1127
@whedon generate pdf

[2018-12-21 16:58] whedon commented on #1127
[code]

[2018-12-21 16:58] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-21 17:10] brogly commented on #1127
@whedon generate pdf

[2018-12-21 17:10] whedon commented on #1127
[code]

[2018-12-21 17:11] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-21 17:33] brogly commented on #1127
@whedon generate pdf

[2018-12-21 17:33] whedon commented on #1127
[code]

[2018-12-21 17:34] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-21 17:41] danielskatz commented on #1118
I think this is ready to accept

@kpeeters - can you archive the current version (and change the version number if needed, in the paper source as well) and let me know the DOI?

[2018-12-21 17:58] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-21 17:58] whedon commented on #1138
[code]

[2018-12-21 18:00] brogly commented on #1127
@whedon generate pdf

[2018-12-21 18:00] whedon commented on #1127
[code]

[2018-12-21 18:01] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-21 18:06] brogly commented on #1127
@whedon generate pdf

[2018-12-21 18:06] whedon commented on #1127
[code]

[2018-12-21 18:07] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-21 18:12] brogly commented on #1127
@whedon generate pdf

[2018-12-21 18:12] whedon commented on #1127
[code]

[2018-12-21 18:13] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-21 21:11] brogly commented on #1127
@whedon generate pdf

[2018-12-21 21:11] whedon commented on #1127
[code]

[2018-12-21 21:12] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-21 21:38] brogly commented on #1127
@whedon generate pdf

[2018-12-21 21:38] whedon commented on #1127
[code]

[2018-12-21 21:39] whedon commented on #1127
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01127/joss.01127/10.21105.joss.01127.pdf)

[2018-12-22 03:17] ivergara commented on #1131
@yochannah hi! Sorry for the late reply. I'm currently on vacation thus at the time unable to do the reviewing. From the quick check I did on the documentation I think I could do a review. Unfortunately, I could start working on it in any serious capacity only from the 3rd of January. If that's acceptable, or no alternative can be found until then, I'd gladly do the review.

[2018-12-22 04:51] PingjunChen commented on #1138
PDF cannot be generated. I have checked reference and image insertion, which should be conformed to format. I wonder if I can ask help on the pdf generation. @pjotrp @arfon

[2018-12-22 11:34] kpeeters commented on #1118
@danielskatz - I have archived the current version as 2.2.4, which has DOI 10.5281/zenodo.2500762.

[2018-12-22 17:02] danielskatz commented on #1118
@whedon set 10.5281/zenodo.2500762 as archive

[2018-12-22 17:02] whedon commented on #1118
OK. <a href="https://doi.org/10.5281/zenodo.2500762" target="_blank">10.5281/zenodo.2500762</a> is the archive.

[2018-12-22 17:02] danielskatz commented on #1118
@whedon accept

[2018-12-22 17:02] whedon commented on #1118
[code]

[2018-12-22 17:03] whedon commented on #1118
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/417

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/417, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2018-12-22 17:04] danielskatz commented on #1118
@whedon accept deposit=true

[2018-12-22 17:04] whedon commented on #1118
[code]

[2018-12-22 17:05] danielskatz commented on #1118
@StewMH, @henrik227 - thanks very much for your reviews!

[2018-12-22 17:05] whedon commented on #1118
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/418
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01118](https://doi.org/10.21105/joss.01118)
2. If everything looks go

[2018-12-22 17:32] danielskatz commented on #1118
@kpeeters - your paper is now accepted into JOSS ⚡️🚀💥

[2018-12-22 17:32] #1118 closed

[2018-12-22 17:32] whedon commented on #1118
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01118/status.svg)](https://doi.org/10.21105/joss.01118)

**We need your help!**

Journal of Open Source Softwar

[2018-12-22 17:33] whedon opened #1140 "[PRE REVIEW]: dlmmc: Dynamical linear model regression for atmospheric time-series analysis"
**Submitting author:** @justinalsing (<a href="http://orcid.org/0000-0003-4618-3546">Justin Alsing</a>)
**Repository:** <a href="https://github.com/justinalsing/dlmmc" target ="_blank">https://github.com/justinalsing/dlmmc</a>
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @Chilipp, @taqtiqa-mark

**Author instructions**

Thanks for submitting your paper to JOSS @justinalsing. The JOS

[2018-12-22 17:33] whedon commented on #1140
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-22 17:33] whedon commented on #1140
[code]

[2018-12-22 17:33] whedon commented on #1140
PDF failed to compile for issue #1140 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:58:in `block in build_affiliation_string': Problem with affiliations for Justin Alsing, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:57:in `each'

[2018-12-22 17:46] PingjunChen commented on #1138
Thanks @arfon ! Glad you generate pdf for me! I tried using "whedon generate pdf", only "Attempting PDF compilation..." shown above, no pdf link generated. I thought it could be format issue, but could not find any, thus asking for help.

[2018-12-22 17:55] yochannah commented on #1131
@ivergara I suspect most other reviewers won't be expecting to review over the holiday period, so starting 3rd Jan seems totally reasonable. Thanks! I'll kick off the review process, and don't worry about not getting to in until the new year. Have a great holiday period all! 🎄 🕎

[2018-12-22 17:57] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-22 17:57] whedon commented on #1138
[code]

[2018-12-22 17:59] yochannah commented on #1131
@whedon assign @daissi as reviewer

[2018-12-22 17:59] whedon commented on #1131
OK, the reviewer is @daissi

[2018-12-22 17:59] yochannah commented on #1131
@whedon add @ivergara as reviewer

[2018-12-22 17:59] whedon commented on #1131
OK, @ivergara is now a reviewer

[2018-12-22 17:59] yochannah commented on #1131
@whedon start review

[2018-12-22 17:59] whedon opened #1141 "[REVIEW]: WrightTools: a Python package for multidimensional spectroscopy"
**Submitting author:** @untzag (<a href="http://orcid.org/0000-0002-3845-824X">Blaise Thompson</a>)
**Repository:** <a href="https://github.com/wright-group/WrightTools" target ="_blank">https://github.com/wright-group/WrightTools</a>
**Version:** 3.2.0
**Editor:** @yochannah
**Reviewer:** @daissi, @ivergara
**Archive:** <a href="https://doi.org/10.5281/zenodo.2541776" target="_blank">10.5281/zeno

[2018-12-22 17:59] whedon commented on #1131
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1141. Feel free to close this issue now!

[2018-12-22 17:59] whedon commented on #1141
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @daissi, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-12-22 17:59] whedon commented on #1141
[code]

[2018-12-22 18:00] whedon commented on #1141
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01141/joss.01141/10.21105.joss.01141.pdf)

[2018-12-22 18:01] yochannah commented on #1131
Okay all - let's hop over to #1141 to get reviewing. Please remember to be a little more patient over the holiday period as things may take a little longer than normal, while people are eating too much turkey and the like 🎁

[2018-12-22 18:01] #1131 closed

[2018-12-22 20:08] kpeeters commented on #1118
@danielskatz - many thanks, happy holidays!

[2018-12-23 05:08] ejdanderson commented on #1119
@brainstorm  There appears to be plenty of documentation, tests, and example programs to draw from for the software. Unfortunately, I imagine most people will be installing this via docker, which I was unable to do following the instructions (see Installation below).

### Authorship:

- Djeylan Aktas  - It is unclear of Atkas’ contribution to the software. Are they an academic advisor?

### Instal

[2018-12-23 19:15] danielhatton commented on #974
@whedon commands

[2018-12-23 19:15] whedon commented on #974
Here are some things you can ask me to do:

[code]

[2018-12-24 10:36] PGijsbers commented on #1132
Just making sure I did not miss anything, but there is not something _I_ should be doing right now, correct?

[2018-12-24 14:09] arfon commented on #1132
Correct, we're waiting on @jsgalan to complete their review (by updating the checklist above).

[2018-12-24 14:10] whedon opened #1142 "[PRE REVIEW]: ArviZ a unified library for exploratory analysis of Bayesian models in Python"
**Submitting author:** @canyon289 (<a href="http://orcid.org/0000-0003-0501-6098">Ravin Kumar</a>)
**Repository:** <a href="https://github.com/arviz-devs/arviz" target ="_blank">https://github.com/arviz-devs/arviz</a>
**Version:** v.31
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @canyon289. The JOSS editor (shown at the top of this i

[2018-12-24 14:10] whedon commented on #1142
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2018-12-24 14:10] whedon commented on #1142
[code]

[2018-12-24 14:10] whedon commented on #1142
PDF failed to compile for issue #1142 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1142 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedo

[2018-12-24 14:11] arfon commented on #1142
@whedon generate pdf

[2018-12-24 14:11] whedon commented on #1142
[code]

[2018-12-24 14:11] whedon commented on #1142
PDF failed to compile for issue #1142 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:23:in `strip_footnotes': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon/author.rb:13:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-44382

[2018-12-24 14:14] arfon commented on #1142
@canyon289 - this PR should fix the paper metadata: https://github.com/arviz-devs/arviz/pull/460

[2018-12-24 15:39] canyon289 commented on #1142
@arfon Thank you for the help

[2018-12-24 15:39] canyon289 commented on #1142
@whedon generate pdf

[2018-12-24 15:39] whedon commented on #1142
[code]

[2018-12-24 15:40] whedon commented on #1142
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01142/joss.01142/10.21105.joss.01142.pdf)

[2018-12-24 16:02] canyon289 commented on #1142
@mattpitkin @lindemann09 @malmaud

Whedon recommended I find reviewers in this Google doc
https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822

Found rows listed both Bayesian Statistics and Python and was wondering if you'd like to review

[2018-12-24 19:37] canyon289 commented on #1142
@mattpitkin  We don't _need_ a faster review, but certainly would take one of anyone else is up for it!

I appreciate the quick response

[2018-12-25 03:12] malmaud commented on #1142
I'd be happy to review this in the next few days.

[2018-12-25 06:31] canyon289 commented on #1142
@malmaud Thank you

[2018-12-26 12:30] Kevin-Mattheus-Moerman commented on #974
@danielhatton can I help? You can use `@whedon generate pdf` if you like

[2018-12-26 12:30] Kevin-Mattheus-Moerman commented on #974
@whedon generate pdf

[2018-12-26 12:30] whedon commented on #974
[code]

[2018-12-26 12:31] whedon commented on #974
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00974/joss.00974/10.21105.joss.00974.pdf)

[2018-12-26 14:11] akhmerov commented on #714
@labarba thanks for the invitation, but unfortunately this is too far
outside of my domain that I don't feel knowledgeable enough to review even
the basic domain-specific aspects.

On Wed, Dec 26, 2018, 14:22 Lorena A. Barba <notifications@github.com wrote:

[2018-12-26 16:01] devinberg commented on #974
@Kevin-Mattheus-Moerman @danielhatton With the most recent edits and latest release, I feel that the Review Checklist is now satisfied.

[2018-12-26 19:11] nicoguaro commented on #927
I tried to run the example described in section 4.1 of the documentation in the following Linux system:

    CentOS Linux release 7.4.1708

and obtained the following error:

    MathWorks::System::IUserException [Error using matlab.internal.webwindow (line 312)
    The MATLABWindow application failed to launch because of missing libraries. Install the packages which contain the following librarie

[2018-12-26 22:30] addyhsu commented on #1000
@labarba The software has been archived on Zenodo. DOI: 10.5281/zenodo.2527084

[2018-12-26 22:51] labarba commented on #1000
@whedon set 10.5281/zenodo.2527084 as archive

[2018-12-26 22:51] whedon commented on #1000
OK. <a href="https://doi.org/10.5281/zenodo.2527084" target="_blank">10.5281/zenodo.2527084</a> is the archive.

[2018-12-26 22:55] labarba commented on #1000
Wrong issue. We should be at https://github.com/openjournals/joss-reviews/issues/1042

[2018-12-26 22:55] labarba commented on #1042
@whedon set 10.5281/zenodo.2527084 as archive

[2018-12-26 22:55] whedon commented on #1042
OK. <a href="https://doi.org/10.5281/zenodo.2527084" target="_blank">10.5281/zenodo.2527084</a> is the archive.

[2018-12-26 22:58] labarba commented on #1042
👋 @vaishnavtv — Could you edit the metadata over at Zenodo, so that the title and list of authors match this submission?

[2018-12-26 23:04] labarba commented on #714
Thanks, Anton! I believe I read "homology" and thought "topology" 😬

[2018-12-26 23:14] labarba commented on #714
👋 @ansgarwenzel Since you already published a **Software Metapaper** in JORS, would this submission (if accepted) amount to a duplicate publication of the same work?
https://openresearchsoftware.metajnl.com/articles/10.5334/jors.53/

[2018-12-27 01:13] Pakillo commented on #1098
Hi there,

Thanks for inviting me to review `portalr`. I have been playing with the package and it works nicely! The work you are doing to manage and facilitate reuse and sharing of data from the Portal Project is really impressive. Leading by example.

I only had a few minor comments or suggested changes.

I have opened a few issues in the original repo (https://github.com/weecology/portalr/issue

[2018-12-27 07:15] boshek commented on #791
Rather than test on Windows which so far I have unable to accomplish I'd suggest two steps that would make this package more usable:
- Move the workflow of steps from a click based approach to R. For example, something like this:

could likely be turned into a function using some combination of `download.file` and `unzip`.  Another example of this is the sql used to create the database. I believe

[2018-12-27 09:03] danielhuppmann commented on #1095
thanks @lheagy, @Chilipp and @jtmiclat for the useful feedback and positive reviews.

@gidden is on an extended Christmas break and I'd rather wait for his return with making a new release and generating the doi. We'll get back to you mid-January at the latest.

[2018-12-27 13:20] arfon commented on #1142
@whedon assign @arfon as editor

[2018-12-27 13:20] arfon commented on #1142
@whedon assign @canyon289 as reviewer

[2018-12-27 13:20] whedon commented on #1142
OK, the reviewer is @canyon289

[2018-12-27 13:20] arfon commented on #1142
@whedon add @mattpitkin as reviewer

[2018-12-27 13:21] whedon commented on #1142
OK, @mattpitkin is now a reviewer

[2018-12-27 13:21] arfon commented on #1142
@whedon start review

[2018-12-27 13:21] whedon opened #1143 "[REVIEW]: ArviZ a unified library for exploratory analysis of Bayesian models in Python"
**Submitting author:** @canyon289 (<a href="http://orcid.org/0000-0003-0501-6098">Ravin Kumar</a>)
**Repository:** <a href="https://github.com/arviz-devs/arviz" target ="_blank">https://github.com/arviz-devs/arviz</a>
**Version:** v.31
**Editor:** @arfon
**Reviewer:** @canyon289, @mattpitkin
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/83e0e4048aa30a256a89f3b35b90f065/s

[2018-12-27 13:21] whedon commented on #1142
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1143. Feel free to close this issue now!

[2018-12-27 13:21] whedon commented on #1143
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @canyon289, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2018-12-27 13:21] whedon commented on #1143
[code]

[2018-12-27 13:21] whedon commented on #1143
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01143/joss.01143/10.21105.joss.01143.pdf)

[2018-12-27 13:21] arfon commented on #1142
Oops, I set up the review with @canyon289 as a reviewer of their own package. I'll fix this now...

[2018-12-27 15:33] ScottKolo commented on #1105
@whedon commands

[2018-12-27 15:33] whedon commented on #1105
Here are some things you can ask me to do:

[code]

[2018-12-27 15:41] ScottKolo commented on #1105
@whedon generate pdf

[2018-12-27 15:41] whedon commented on #1105
[code]

[2018-12-27 15:42] whedon commented on #1105
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01105/joss.01105/10.21105.joss.01105.pdf)

[2018-12-27 15:52] ScottKolo commented on #1105
Hello, I just made a few tweaks to the paper bibliography to fix some formatting issues and had the PDF regenerated to reflect the changes.

Can I ask about the status of our submission? Do you need anything further on our end? I know the holidays kind of slow things down, I just wanted to see if we are still in pre-review.

Thank you!

[2018-12-27 21:18] jedbrown commented on #1110
@sarats @sjvrijn :wave:  Would you be available to review this submission?

[2018-12-27 22:18] mgymrek commented on #1129
@rmflight @cbrueffer @nhejazi interested in reviewing this submission?

[2018-12-27 22:59] sarats commented on #1110
@jedbrown Sure, would be happy to.

[2018-12-28 00:20] rmflight commented on #1129
I am interested in reviewing. Cannot review until after Jan 2, however.

[2018-12-28 00:31] brainstorm commented on #1133
Happy to either review or edit this submission, your call @danielskatz and @mgymrek 👍

[2018-12-28 01:01] danielskatz commented on #1133
I would suggest you edit if you don't mind

[2018-12-28 01:03] danielskatz commented on #1103
@whedon assign @mgymrek as editor

[2018-12-28 01:03] whedon commented on #1103
OK, the editor is @mgymrek

[2018-12-28 01:04] brainstorm commented on #1133
@whedon assign brainstorm as editor

[2018-12-28 01:04] whedon commented on #1133
OK, the editor is brainstorm

[2018-12-28 01:13] zfrenchee commented on #747
I created a set of minimal examples which demonstrate how to get up and running with this project:

https://github.com/zfrenchee/NN-SVG/wiki/Tests---Minimal-Examples

With those examples, you should be able to draw an NN, and configure it with any of the display parameters listed in the API docs:

https://github.com/zfrenchee/NN-SVG/wiki/NN-SVG-API#iii-style-the-network

I think a reasonable test

[2018-12-28 04:25] whedon opened #1144 "[REVIEW]: vcftoolz: a Python package for comparing and evaluating Variant Call Format files"
**Submitting author:** @stevendavis (<a href="http://orcid.org/0000-0002-5581-1922">Steve Davis</a>)
**Repository:** <a href="https://github.com/CFSAN-Biostatistics/vcftoolz" target ="_blank">https://github.com/CFSAN-Biostatistics/vcftoolz</a>
**Version:** v1.1.0
**Editor:** @mgymrek
**Reviewer:** @richyanicky
**Archive:** <a href="https://doi.org/10.5281/zenodo.2583998" target="_blank">10.5281/ze

[2018-12-28 04:28] whedon opened #1145 "[REVIEW]: strandCheckR: An R package for quantifying and removing double strand sequences for strand-specific RNA-seq"
**Submitting author:** @tothuhien (<a href="http://orcid.org/0000-0003-2902-3655">Thu-Hien To</a>)
**Repository:** <a href="https://github.com/UofABioinformaticsHub/strandCheckR" target ="_blank">https://github.com/UofABioinformaticsHub/strandCheckR</a>
**Version:** v1.1.2
**Editor:** @mgymrek
**Reviewer:** @rmflight
**Archive:** <a href="https://doi.org/10.5281/zenodo.2555032" target="_blank">10.

[2018-12-28 06:01] jedbrown commented on #1110
@whedon add @sarats as reviewer

[2018-12-28 06:01] whedon commented on #1110
OK, @sarats is now a reviewer

[2018-12-28 06:01] jedbrown commented on #1110
Thanks, @sarats. I'll wait to hear back from another potential reviewer before starting the review issue.

[2018-12-28 06:31] jedbrown commented on #1105
I'm waiting to hear back from potential reviewers. This submission is a bit unusual for JOSS in that the code is not itself research (though it represents significant effort and is important for facilitating research), but I think it's still fair to review according to the usual criteria. Feel free to make suggestions for potential reviewers.

[2018-12-28 11:09] pjotrp commented on #445
@whedon assign @pjotrp as editor

[2018-12-28 11:10] pjotrp commented on #445
@whedon generate pdf

[2018-12-28 11:10] whedon commented on #445
[code]

[2018-12-28 11:10] whedon commented on #445
PDF failed to compile for issue #445 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: tags (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563

[2018-12-28 11:14] pjotrp commented on #445
@athrom - sorry for the lengthy process. I am here to help now. Your publication is almost ready. Can you fix the PDF (regenerate with above command). Also to finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI (if one exists).

Second, we need you to deposit a copy of your software repository (inclu

[2018-12-28 11:15] pjotrp commented on #1100
@whedon assign @pjotrp as editor

[2018-12-28 11:15] whedon commented on #1100
OK, the editor is @pjotrp

[2018-12-28 11:20] pjotrp commented on #1100
Thanks @ArtPoon, this is an interesing submission. @azneto do you mind being the primary reviewer? No rush.

[2018-12-28 13:46] oxinabox commented on #1002
@malmaud @arfon  was the new version pushed out to the public?

[2018-12-28 14:50] pjotrp commented on #1138
@whedon assign @pjotrp as editor

[2018-12-28 14:50] whedon commented on #1138
OK, the editor is @pjotrp

[2018-12-28 14:55] pjotrp commented on #1138
@PingjunChen do you mind regenerating the paper without the image? I have included an image in other papers, take a look http://joss.theoj.org/papers/10.21105/joss.00025.

Also there are some English grammar problems - do you mind having a native speaker check (I am not one!) before we start review. Finally, it took me some time to figure out what the paper actually is about. Can you make the intr

[2018-12-28 15:02] arfon commented on #1002
@oxinabox does it look correct here? https://doi.org/10.21105/joss.01002

[2018-12-28 15:37] pjotrp commented on #840
@dleehr it should not be too hard. Just make clear who uses the project today and what scientific context it has. Alternatively pull the submission. It has to be worth the effort, right? Also for the reader (take pity on the reader!)

[2018-12-28 16:43] pjotrp commented on #1116
@whedon assign @urbanslug as reviewer

[2018-12-28 16:43] whedon commented on #1116
OK, the reviewer is @urbanslug

[2018-12-28 16:44] pjotrp commented on #1116
@whedon start review magic-word=bananas

[2018-12-28 16:44] whedon opened #1146 "[REVIEW]: swsc: A sitewise UCE partitioner"
**Submitting author:** @RHagenson (<a href="http://orcid.org/0000-0001-9750-1925">Ryan Hagenson</a>)
**Repository:** <a href="https://bitbucket.org/RHagenson/swsc/" target ="_blank">https://bitbucket.org/RHagenson/swsc/</a>
**Version:** v6.0.1
**Editor:** @pjotrp
**Reviewer:** @urbanslug
**Archive:** <a href="https://doi.org/10.5281/zenodo.2542907" target="_blank">10.5281/zenodo.2542907</a>

## St

[2018-12-28 16:44] whedon commented on #1116
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1146. Feel free to close this issue now!

[2018-12-28 16:44] whedon commented on #1146
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @urbanslug it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-12-28 16:44] whedon commented on #1146
[code]

[2018-12-28 16:44] #1116 closed

[2018-12-28 16:45] whedon commented on #1146
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01146/joss.01146/10.21105.joss.01146.pdf)

[2018-12-28 16:46] pjotrp commented on #1146
@RHagenson we are starting review in this issue tracker. To expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2018-12-28 16:46] danielskatz commented on #1140
@whedon generate pdf

[2018-12-28 16:46] whedon commented on #1140
[code]

[2018-12-28 16:47] whedon commented on #1140
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01140/joss.01140/10.21105.joss.01140.pdf)

[2018-12-28 16:50] danielskatz commented on #1140
@whedon assign @danielskatz as editor

[2018-12-28 16:50] whedon commented on #1140
OK, the editor is @danielskatz

[2018-12-28 16:51] danielskatz commented on #1140
👋 @justinalsing - I note that you don't have DOIs in the references for papers - you can add them to the bib file, then rebuild the PDF by adding a comment here that just says
[code]

Also, do you have suggestions for reviewers?  In particular, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission, though if you have sug

[2018-12-28 16:52] danielskatz commented on #1140
Also, as we get this started, please be aware of the [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html) that will be used, and make any other changes needed to make the review easier.

[2018-12-28 16:58] danielskatz commented on #1120
@katyhuff - that's fine - I'll go ahead and assign this to you, and assume that you'll start it in the new year.

[2018-12-28 16:59] danielskatz commented on #1120
@whedon assign @katyhuff as editor

[2018-12-28 16:59] whedon commented on #1120
OK, the editor is @katyhuff

[2018-12-28 17:01] danielskatz commented on #1127
👋 @jasonclark - ping... (re: editing request, see https://github.com/openjournals/joss-reviews/issues/1127#issuecomment-449369691)

[2018-12-28 17:02] danielskatz commented on #1128
👋 @trallard - ping...

[2018-12-28 17:14] sjvrijn commented on #1110
@jedbrown Yep, I'm available

[2018-12-28 18:00] RHagenson commented on #1146
@whedon generate pdf

[2018-12-28 18:00] whedon commented on #1146
[code]

[2018-12-28 18:01] whedon commented on #1146
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01146/joss.01146/10.21105.joss.01146.pdf)

[2018-12-28 18:07] RHagenson commented on #1146
@pjotrp and @urbanslug, I have reviewed the checklist above, made corrections to the PDF, and deleted the tags containing a major bug previously discussed in #1116 The version under review should be v6.1.0, which contains the bug fix that caused overlapping UCE partitions.

[2018-12-28 20:50] arokem commented on #1039
So sorry for missing this! I will take this on.

[2018-12-28 20:51] arokem commented on #1039
@whedon assign @arokem as editor

[2018-12-28 20:51] whedon commented on #1039
OK, the editor is @arokem

[2018-12-28 20:53] arokem commented on #1039
@TheChymera : so sorry for the delay here.

I was thinking of asking folks in the PsychoPy developer community to review this. Do you have any other ideas for anyone who might be interested in reviewing this?

[2018-12-28 22:05] jedbrown commented on #693
Thanks for the updates and sorry about my slow reply in this thread. Please take a look at [Packaging Python Projects](https://packaging.python.org/tutorials/packaging-projects/) and consider following the recommendations strictly unless you have a compelling reason not to (current directory structure is unusual). The paper should also include some discussion of related software. Under what circum

[2018-12-28 23:17] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-28 23:37] TheChymera commented on #1039
I agree that there might be some overlap in the focus of these projects. Psychopy is more specifically targeted to high-level human applications and complex stimulus generation, whereas COSplay is mainly targeted at animal applications and easy integration with animal imaging workflows.

As this community is smaller and more tightly knit, I am afraid I could only recommend reviewers who actually w

[2018-12-28 23:41] chrisfilo commented on #1039
Sorry - snowed under.

[2018-12-29 00:16] oesteban commented on #1039
My apologies, I'm up to the neck too.

On Fri, Dec 28, 2018, 15:37 Horea Christian <notifications@github.com wrote:

[2018-12-29 02:33] brainstorm commented on #1133
@vladsaveliev, would you like to help JOSS review this software? Shouldn't take long to evaluate, I'll help you out as editor ;)

[2018-12-29 02:49] jedbrown commented on #1110
@whedon add @sjvrijn as reviewer

[2018-12-29 02:49] whedon commented on #1110
OK, @sjvrijn is now a reviewer

[2018-12-29 02:50] jedbrown commented on #1110
@whedon add @mmenickelly as reviewer

[2018-12-29 02:50] whedon commented on #1110
OK, @mmenickelly is now a reviewer

[2018-12-29 02:50] jedbrown commented on #1110
@whedon start review

[2018-12-29 02:50] whedon opened #1147 "[REVIEW]: CEGO: C++11 Evolutionary Globbal Optimization"
**Submitting author:** @ianhbell (<a href="http://orcid.org/0000-0003-1091-9080">Ian Bell</a>)
**Repository:** <a href="https://github.com/usnistgov/CEGO" target ="_blank">https://github.com/usnistgov/CEGO</a>
**Version:** v1.0.0
**Editor:** @jedbrown
**Reviewer:** @sarats, @sjvrijn, @mmenickelly
**Archive:** <a href="https://doi.org/10.5281/zenodo.2649254" target="_blank">10.5281/zenodo.2649254</

[2018-12-29 02:50] whedon commented on #1110
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1147. Feel free to close this issue now!

[2018-12-29 02:50] whedon commented on #1147
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sarats, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-12-29 02:50] whedon commented on #1147
[code]

[2018-12-29 02:51] whedon commented on #1147
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01147/joss.01147/10.21105.joss.01147.pdf)

[2018-12-29 02:55] jedbrown commented on #1147
@sarats @sjvrijn @mmenickelly :wave: Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [CEGO repository](https://github.com/usnistgov/CEGO)). I'll be watching this thread if you have any questions.

[2018-12-29 02:56] #1110 closed

[2018-12-29 03:13] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-29 03:13] whedon commented on #1138
[code]

[2018-12-29 05:51] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-29 05:52] whedon commented on #1138
[code]

[2018-12-29 05:59] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-29 05:59] whedon commented on #1138
[code]

[2018-12-29 06:01] whedon commented on #1138
PDF failed to compile for issue #1138 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    213      0 --:--:-- --:--:-- --:--:--   216
pandoc: paper.md:

[2018-12-29 06:06] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-29 07:34] pjotrp commented on #1146
Thank you @RHagenson. Before we start review, can you explain the license? It looks like MIT/expat. If so, I think you should make it explicit.

[2018-12-29 10:45] whedon commented on #1138
PDF failed to compile for issue #1138 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1138 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-443822f01563/lib/whedo

[2018-12-29 13:41] arfon commented on #1138
@whedon generate pdf

[2018-12-29 13:41] whedon commented on #1138
[code]

[2018-12-29 13:42] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-29 13:43] arfon commented on #1138
@whedon had managed to get into a weird state. I've fixed this now.

[2018-12-29 14:36] pjotrp commented on #1138
Thank you @arfon! @PingjunChen do you want to reintroduce the figure again?

[2018-12-29 14:53] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-29 16:10] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-29 16:10] whedon commented on #1138
[code]

[2018-12-29 16:10] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-29 16:16] PingjunChen commented on #1138
Hi @pjotrp, I have added the schematic diagram to paper.md and the pdf generation works now! Thanks. One small issue is that the figure caption is overlapped with the footnote. Any suggestions to fix that?

[2018-12-29 16:42] PingjunChen commented on #1138
@whedon generate pdf

[2018-12-29 16:42] whedon commented on #1138
[code]

[2018-12-29 16:43] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-29 17:30] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-29 18:01] jedbrown commented on #1027
Testing on Linux with boost-1.68 and python-3.7, I need the following (i.e., suggest eliminating the switch unless it's needed for some reason).
[code]

My build still fails (gcc-8.2.1).
[code]
(several screens of template-related errors follow). Commenting that line allows the build to complete.

[2018-12-29 18:32] oxinabox commented on #1002
It seems it does not quiet have the last fixes in
https://github.com/malmaud/TensorFlow.jl/pull/469/

[2018-12-29 20:15] ctdegroot commented on #1027
@fospald Sorry for the delay since your latest update. The code does compile with line 7054 commented out.

[2018-12-29 20:34] ctdegroot commented on #1027
@fospald When I run `fibergen-gui`, I get the following error:

[code]
The contents of `lib` includes the shared object file `fibergen_Christopher_DeGroots_Macbook_Pro_local.so`. Seems to be a naming issue here.

[2018-12-29 21:36] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-30 03:47] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-30 06:52] pjotrp commented on #1138
The figure caption outside the page is probably a LaTeX problem. Making the figure smaller will fix it. Or have the caption as text so it goes on the next page... @arfon, we probably don't have a way to constrain the figure in a vertical box?

[2018-12-30 07:48] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-30 12:29] whedon opened #1148 "[REVIEW]: tissueloc: Whole slide pathology image tissue localization"
**Submitting author:** @PingjunChen (<a href="http://orcid.org/0000-0003-0528-1713">Pingjun Chen</a>)
**Repository:** <a href="https://github.com/PingjunChen/tissueloc" target ="_blank">https://github.com/PingjunChen/tissueloc</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @Arafatk
**Archive:** <a href="https://doi.org/10.5281/zenodo.2529982" target="_blank">10.5281/zenodo.2529982</a>

[2018-12-30 12:30] whedon commented on #1148
[code]

[2018-12-30 12:30] #1138 closed

[2018-12-30 12:30] whedon commented on #1148
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01148/joss.01148/10.21105.joss.01148.pdf)

[2018-12-30 12:31] pjotrp commented on #1148
@PingjunChen we are starting review in this issue tracker. To expedite the review process do you mind going through above list of check boxes and make sure they can be ticked (you can't tick them). Also check the PDF output carefully. Ping us here when you are done.

[2018-12-30 15:35] tonygon commented on #1108
@trallard
Just finished checking the JOSS requirements)
Thanks for the patience!
And continue the great work @melund!!

Cheers!

[2018-12-30 16:41] justinalsing commented on #1140
@whedon generate pdf

[2018-12-30 16:41] whedon commented on #1140
[code]

[2018-12-30 16:42] whedon commented on #1140
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01140/joss.01140/10.21105.joss.01140.pdf)

[2018-12-30 18:48] PingjunChen commented on #1148
Hi @pjotrp and @Arafatk, all listed boxes can be ticked except "Automated tests". Because of the gigabyte size of whole slide image (WSI), we think uploading testing WSIs to github repo is not good practice. But tests are conducted extensively in local repo.

[2018-12-30 19:46] labarba commented on #1042
Hi there, @vaishnavtv — As soon as you correct the metadata of the Zenodo entry, I can get you paper published here in JOSS. Let me know!

[2018-12-31 03:49] whedon commented on #1138
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01138/joss.01138/10.21105.joss.01138.pdf)

[2018-12-31 05:20] PingjunChen commented on #1135
Hi @arokem, I don't want to push you. But I do hope this to be reviewed asap.

Thanks for your time and effort!

[2018-12-31 07:38] pjotrp commented on #1148
@PingjunChen I agree that storing the data in github is not a good idea. What I do is provide data that is readily available for download in some way. A web server or figshare or something would do. But, to be honest, since this is a tool using standard libraries - so I am OK to skip it. If you decide to develop it further I would certainly recommend adding tests. You could also consider including

[2018-12-31 07:39] pjotrp commented on #1148
@Arafatk you can start review. Please read the reviewer guidelines above.

[2018-12-31 09:08] PingjunChen commented on #1148
Thanks for your suggestions! @pjotrp I have add a few low level slide images, which is much smaller, for testing tissue localization. They are located in "$project_dir/test/data". With these testing images, now automated test using travis is added and passed.

[2018-12-31 14:17] kbevers commented on #990
I have now succesfully installed the software, ran the test-suite and confirmed that the package indeed does what it says on the tin. A minor issue in the test suite was found and reporting in https://github.com/laempy/pyoints/issues/7. This is not a blocker for publication but would be nice see fixed in a future release.

As I am working no an unsupported platform (OS X) I did have some trouble i

[2018-12-31 14:43] trallard commented on #1128
sorry @arfon @danielskatz I have been off the radar over the holidays but now I can take up on this submission

[2018-12-31 15:19] danielskatz commented on #1128
@whedon assign @trallard as editor

[2018-12-31 15:19] whedon commented on #1128
OK, the editor is @trallard

[2018-12-31 15:57] Arafatk commented on #1148
@pjotrp I am on it.

[2018-12-31 19:57] malmaud commented on #1143
OK, I've played with all the functionality of the software on my own device - everything works well, the utility is clear, and the documentation is comprehensive (albeit with a few minor typos). I think this is an easy accept after just a few tiny fixes:

* Fix https://github.com/arviz-devs/arviz/issues/481
* In the paper, Rabin's affiliation is listed as 'None'. Is that really true, or is there a

[2018-12-31 20:37] arfon commented on #1002
OK, I've just regenerated (and updated) the live paper.

[2018-12-31 21:31] Arafatk commented on #1148
@PingjunChen
1.  The installation worked fine but I had to install python-tk separately to run the software.  For a sanity check for installation generally I go to Codeanywhere.io and spawn small virtual machines to try out my installation and see if it works on a fresh instances.
2. I see this on the generated PDF
![image](https://user-images.githubusercontent.com/11155207/50567851-d2c27100-0d6f-

[2018-12-31 21:42] arfon commented on #780
Over the past 8 weeks I've contacted @IbrahimTanyalcin multiple times over email. Unfortunately both our reviewer and author are unreachable.

Given the major challenges we had finding a reviewer for this submission, I'm going to withdraw this submission on behalf of the submitting author.

[2018-12-31 21:42] #780 closed

[2018-12-31 22:00] oxinabox commented on #1002
Awesome, thanks.

[2019-01-01 04:55] PingjunChen commented on #1148
@whedon generate pdf

[2019-01-01 04:55] whedon commented on #1148
[code]

[2019-01-01 04:55] whedon commented on #1148
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01148/joss.01148/10.21105.joss.01148.pdf)

[2019-01-01 05:12] PingjunChen commented on #1148
@whedon generate pdf

[2019-01-01 05:12] whedon commented on #1148
[code]

[2019-01-01 05:12] whedon commented on #1148
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01148/joss.01148/10.21105.joss.01148.pdf)

[2019-01-01 05:39] PingjunChen commented on #1148
@Arafatk @pjotrp  By the way, I now upgrade the ``tissueloc`` version to 1.4.0.

[2019-01-01 07:06] vaishnavtv commented on #1042
Happy new year!
@labarba, it’s done.
Is there anything else we need to add?

[2019-01-01 07:52] canyon289 commented on #1143
@malmaud

Thanks for the feedback. A PR is open, just waiting for feedback internally before we submit it again for review to you.

https://github.com/arviz-devs/arviz/pull/483

[2019-01-01 08:53] pjotrp commented on #1148
Thank you @Arafatk! @PingjunChen can you also discuss the boxes that have not been checked on the check list? Mostly these are minor additions to the README file. They are important for people who want to try the software. Almost there!

[2019-01-01 09:44] PingjunChen commented on #1148
1. For the installation, I have updated the instructions in README.md and remove "import matplotlib" in the repo. I have tried the installation on both my Ubuntu and Mac machine.
2. I use the "travis" and "pytest" for automated test. The status is "passing".
3. I have updated the "Contributing" part. I would like to refer the reference point @Arafatk suggested. Sadly, the link cannot be opened.

T

[2019-01-01 11:07] Arafatk commented on #1148
@PingjunChen Thanks for the work. All the suggestions that I made have been taken care off.

By the way, this is the link that I had suggested ->  https://github.com/SciRuby/sciruby/blob/master/CONTRIBUTING.md

Also, this is a very trivial issues but perhaps Contribution part could be phrased a bit differently just for clarity. So

![image](https://user-images.githubusercontent.com/11155207/505723

[2019-01-01 12:35] labarba commented on #1042
@whedon accept

[2019-01-01 12:35] whedon commented on #1042
[code]

[2019-01-01 12:36] whedon commented on #1042
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/419

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/419, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-01 12:54] labarba commented on #1042
@whedon accept deposit=true

[2019-01-01 12:54] whedon commented on #1042
[code]

[2019-01-01 12:55] whedon commented on #1042
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/420
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01042](https://doi.org/10.21105/joss.01042)
2. If everything looks go

[2019-01-01 13:31] labarba commented on #1042
https://twitter.com/JOSS_TheOJ/status/1080093912616837120

[2019-01-01 16:11] PingjunChen commented on #1148
@Arafatk Thanks for your feedback. I revised the last paragraph in "Contributing" as you suggested. Also Thanks for the link you provide.

[2019-01-01 16:11] PingjunChen commented on #1148
@whedon generate pdf

[2019-01-01 16:11] whedon commented on #1148
[code]

[2019-01-01 16:11] whedon commented on #1148
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01148/joss.01148/10.21105.joss.01148.pdf)

[2019-01-01 21:57] PingjunChen commented on #1135
@whedon generate pdf

[2019-01-01 21:57] whedon commented on #1135
[code]

[2019-01-01 21:57] whedon commented on #1135
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01135/joss.01135/10.21105.joss.01135.pdf)

[2019-01-02 03:32] canyon289 commented on #1143
@whedon generate pdf

[2019-01-02 03:32] whedon commented on #1143
[code]

[2019-01-02 03:33] whedon commented on #1143
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01143/joss.01143/10.21105.joss.01143.pdf)

[2019-01-02 03:46] canyon289 commented on #1143
@malmaud The content is ready to review but the figure gallery seems to have rendered oddly. Is there a way I can see what command whedon is running to compile the pdf so I can test locally?

[2019-01-02 07:10] pjotrp commented on #1148
Thank you @Arafatk and @PingjunChen. Great job.

The review process is now complete. To finalize your submission and accept your paper in JOSS, we need two things. First, can you confirm that all references in your bibliography have a DOI (if one exists).

Second, we need you to deposit a copy of your software repository (including any revisions made during the JOSS review process) with a data-arc

[2019-01-02 09:02] PingjunChen commented on #1148
@whedon generate pdf

[2019-01-02 09:02] whedon commented on #1148
[code]

[2019-01-02 09:03] whedon commented on #1148
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01148/joss.01148/10.21105.joss.01148.pdf)

[2019-01-02 09:19] PingjunChen commented on #1148
0. I just reviewed the repo and tagged the repo v1.5.0 as the final version for JOSS.
1. After checking, now I confirm all references in the bibliography have DOI.
2. DOI for the release is 10.5281/zenodo.2529982, with badge shown as
[![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.2529982.svg)](https://doi.org/10.5281/zenodo.2529982)

Thanks! @pjotrp and @Arafatk !

[2019-01-02 09:55] mattpitkin commented on #1143
@canyon289 you can see a Makefile with an example of how you can locally generate a LaTeX file and pdf from the markdown doc [here](https://github.com/mattpitkin/psrqpy/blob/master/paper/Makefile).

[2019-01-02 11:46] pjotrp commented on #1148
You need to add the doi for each reference as in https://github.com/genenetwork/genenetwork2/blob/testing/doc/joss/2016/paper.bib so it shows in the paper.

[2019-01-02 12:19] daissi commented on #1141
@untzag everything is fine, except some minor comments:

1. README.md and homepage (http://wright.tools/) don't provide a description of the purpose of WrightTools. It would be nice to have a small introduction in both of them like in the paper (e.g. extend the sentence "Tools for loading, processing, and plotting multidimensional spectroscopy data.").

2. There is no commit from the last author J

[2019-01-02 13:19] #1042 closed

[2019-01-02 13:19] whedon commented on #1042
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01042/status.svg)](https://doi.org/10.21105/joss.01042)

**We need your help!**

Journal of Open Source Softwar

[2019-01-02 13:52] trallard commented on #1108
@tonygon thanks for your review and hope you had a nice holiday season

---
@melund now that the reviews are completed and the paper has been recommended for acceptance, we need you to complete the following actions:

- [ ]  make a new release of the package (unless the latest release is up to date with the recent modifications)

- [ ]  upload the revised software to your DOI-granting data/softwar

[2019-01-02 13:53] trallard commented on #1065
@rlizzo ping, I hope you had a nice holiday season I was wondering if there are still outstanding actions to proceed with the review?

[2019-01-02 15:21] melund commented on #1108
Thanks a lot @trallard. I have finished the remaining tasks.

The library is achived with Zenodo and the DOI for version 1.0.1 is:

**10.5281/zenodo.2450121**

[2019-01-02 16:48] evan-l-munson commented on #764
Gentlemen, good morning.  I have corrected rcpp_hello_world() function.  I was running through everything to make sure it was working properly before I gave you the final word.  Everything was looking good until I tried to view the vignette.  For some reason, the vignette is not found when using utils::vignette("saotd"). I will troubleshoot that and hopefully get that working.  Thanks!

[2019-01-02 16:51] PingjunChen commented on #1148
@whedon generate pdf

[2019-01-02 16:51] whedon commented on #1148
[code]

[2019-01-02 16:54] RHagenson commented on #1146
@pjotrp and @urbanslug I updated the README to clarify the license as Modified BSD License.

[2019-01-02 16:57] PingjunChen commented on #1148
@pjotrp
I misunderstood what you mean. Now DOIs are added to each referenced paper.
By the way, shall I release a new version to Zenodo again because of this update?

[2019-01-02 17:13] arfon commented on #764
Thanks for the update @evan-l-munson

[2019-01-02 17:40] pjotrp commented on #1148
No worries. It is fine like this. @arfon I believe we are good to go!

[2019-01-02 17:41] pjotrp commented on #1148
@whedon set 10.5281/zenodo.2529982 as archive

[2019-01-02 17:41] whedon commented on #1148
OK. <a href="https://doi.org/10.5281/zenodo.2529982" target="_blank">10.5281/zenodo.2529982</a> is the archive.

[2019-01-02 17:43] pjotrp commented on #1148
@PingjunChen and @Arafatk thank you. We'll publish soon - and great turn around times!

[2019-01-02 17:44] pjotrp commented on #1146
Excellent. @urbanslug you can start review!

[2019-01-02 17:55] arfon commented on #1148
@whedon accept

[2019-01-02 17:55] whedon commented on #1148
[code]

[2019-01-02 17:56] whedon commented on #1148
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/421

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/421, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-02 17:57] arfon commented on #1148
@whedon accept deposit=true

[2019-01-02 17:57] whedon commented on #1148
[code]

[2019-01-02 17:58] whedon commented on #1148
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/422
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01148](https://doi.org/10.21105/joss.01148)
2. If everything looks go

[2019-01-02 18:00] arfon commented on #1148
@Arafatk - many thanks for your review here and to @pjotrp for editing this submission ✨

@PingjunChen - your paper is now accepted into JOSS :zap: :rocket: :boom:

[2019-01-02 18:00] #1148 closed

[2019-01-02 18:00] whedon commented on #1148
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01148/status.svg)](https://doi.org/10.21105/joss.01148)

**We need your help!**

Journal of Open Source Softwar

[2019-01-02 22:05] whedon opened #1149 "[PRE REVIEW]: MIDI.jl: Intuitive handling of MIDI data made for musicians"
**Submitting author:** @Datseris (<a href="http://orcid.org/0000-0002-6427-2385">George Datserus</a>)
**Repository:** <a href="https://github.com/JuliaMusic/MIDI.jl" target ="_blank">https://github.com/JuliaMusic/MIDI.jl</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @Datseris. The JOSS editor (shown at the top o

[2019-01-02 22:05] whedon commented on #1149
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-02 22:05] whedon commented on #1149
[code]

[2019-01-02 22:05] whedon commented on #1149
PDF failed to compile for issue #1149 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    173      0 --:--:-- --:--:-- --:--:--   173
Error reading bib

[2019-01-02 22:05] whedon opened #1150 "[PRE REVIEW]: locBLAST: An enhanced PHP web interface to standalone NCBI BLAST+ program"
**Submitting author:** @AshokHub (<a href="http://orcid.org/0000-0003-2862-028X">Dr. T. Ashok Kumar</a>)
**Repository:** <a href="https://github.com/AshokHub/locBLAST" target ="_blank">https://github.com/AshokHub/locBLAST</a>
**Version:** v2.0
**Editor:** @pjotrp
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @AshokHub. The JOSS editor (shown at the top of

[2019-01-02 22:05] whedon commented on #1150
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-02 22:05] whedon commented on #1150
[code]

[2019-01-02 22:05] whedon opened #1151 "[PRE REVIEW]: dolfin-adjoint 2018.1: automated adjoints for FEniCS and Firedrake"
**Submitting author:** @sebastkm (<a href="http://orcid.org/0000-0002-8888-6568">Sebastian Mitusch</a>)
**Repository:** <a href="https://bitbucket.org/dolfin-adjoint/pyadjoint" target ="_blank">https://bitbucket.org/dolfin-adjoint/pyadjoint</a>
**Version:** 2018.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @chrisrichardson

**Author instructions**

Thanks for submitting your paper to JOSS

[2019-01-02 22:06] whedon commented on #1150
PDF failed to compile for issue #1150 with the following error:

 Can't find any papers to compile :-(

[2019-01-02 22:06] whedon commented on #1151
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-02 22:06] whedon commented on #1151
[code]

[2019-01-02 22:06] whedon opened #1152 "[PRE REVIEW]: NodeLab: A MATLAB package for meshfree node-generation and adaptive refinement"
**Submitting author:** @pankajkmishra (<a href="http://orcid.org/0000-0003-4907-4724">Pankaj K Mishra</a>)
**Repository:** <a href="https://github.com/pankajkmishra/NodeLab" target ="_blank">https://github.com/pankajkmishra/NodeLab</a>
**Version:** v1.0
**Editor:** @kyleniemeyer
**Reviewers:** @Kevin-Mattheus-Moerman, @vijaysm

**Author instructions**

Thanks for submitting your paper to JOSS @pan

[2019-01-02 22:06] whedon commented on #1151
PDF failed to compile for issue #1151 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon/orcid_validator.rb:12:in `initialize': undefined method `strip' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:91:in `new'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a

[2019-01-02 22:06] whedon commented on #1152
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@kyleniemeyer) to find some revi

[2019-01-02 22:06] whedon commented on #1152
[code]

[2019-01-02 22:06] whedon commented on #1152
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01152/joss.01152/10.21105.joss.01152.pdf)

[2019-01-02 22:06] arfon commented on #1152
:wave: @kyleniemeyer - the submitting author suggested you as the handling editor.

[2019-01-02 22:33] yochannah commented on #1052
I've reached out to some more possible reviewers - hopefully it'll be easier to find someone now that the holidays are over!

[2019-01-02 23:13] canyon289 commented on #1143
Tried getting the PDF to render correctly I think we might have figured it out

PR for reference
https://github.com/arviz-devs/arviz/pull/484

Here it goes

@whedon generate pdf

[2019-01-02 23:14] canyon289 commented on #1143
@whedon generate pdf

[2019-01-02 23:14] whedon commented on #1143
[code]

[2019-01-02 23:14] whedon commented on #1143
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01143/joss.01143/10.21105.joss.01143.pdf)

[2019-01-02 23:17] canyon289 commented on #1143
Well this failed. Will try something else. Sorry for all the spam guys

[2019-01-02 23:35] canyon289 commented on #1143
@whedon generate pdf

[2019-01-02 23:35] whedon commented on #1143
[code]

[2019-01-02 23:36] whedon commented on #1143
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01143/joss.01143/10.21105.joss.01143.pdf)

[2019-01-02 23:37] canyon289 commented on #1143
Still not correct. I will revisit the way I'm rendering these to see if I can test more effectively in my local environment.

[2019-01-03 00:54] brogly commented on #1127
Hi, maybe ejolly, shivam11, or arokem could review if Jason is busy? Although I'm guessing he is just on vacation or AFK given the holidays. Thanks!

[2019-01-03 01:06] canyon289 commented on #1143
@malmaud and @mattpitkin

All feedback has been addressed, except example gallery which I'm struggling with tremendously.

I'm having issues generating a PDF with the make file, my tex output displays errors.

I can get a PDF to render with the command
[code]
But while the output of this command may look good, the whedon generated pdf does not.

Lastly I tried looking for other JOSS papers with tw

[2019-01-03 01:10] arfon commented on #1143
@canyon289 - could you share the PDF you've compiled locally here? I'd like to bette understand what you're trying to accomplish.

[2019-01-03 01:22] canyon289 commented on #1143
We're trying to add a local gallery per the [review feedback](https://github.com/openjournals/joss-reviews/issues/1143#issuecomment-450685429
) In other words we'd like to meet the intent of the review, but struggling to get nice formatting while doing so.

Here's the two approaches we tired.

**2+ Figures**
Here's a local render with multiple figures. Unfortunately this render required a "hack" t

[2019-01-03 04:07] pankajkmishra commented on #1152
Hi @kyleniemeyer - I think @Kevin-Mattheus-Moerman ( already in the JOSS list) could be a potential reviewer.

[2019-01-03 05:46] arokem commented on #1135
Dear @PingjunChen. After review of your submission, the editorial board has determined that your submission does not meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, while the software seems very useful, and the package seems well-documented and well-executed, this submission falls under the 'Minor utility package' category, and so it is our d

[2019-01-03 05:46] #1135 closed

[2019-01-03 06:39] PingjunChen commented on #1135
@arokem Thanks for your feedback. I agree the 'minor utility package' decision. I submit because I believe this package would be useful for python developers. I will add more functionalities to this repo to make it feature extensive.

Would it be fine to submit this repo in the future?

[2019-01-03 06:57] AshokHub commented on #1150
Paper (.md) and Bibliography (.bib) has been uploaded to GitHub in 'papers' directory.

[2019-01-03 08:31] justinalsing commented on #1140
Other possible suitable reviewers (expertise in python and climate science)

jtmiclat
Chilipp
sarats

[2019-01-03 09:08] Kevin-Mattheus-Moerman commented on #1152
I can review this, looks interesting.

[2019-01-03 10:30] whedon commented on #1150
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01150/joss.01150/10.21105.joss.01150.pdf)

[2019-01-03 10:30] sebastkm commented on #1151
@whedon generate pdf

[2019-01-03 10:30] whedon commented on #1151
[code]

[2019-01-03 10:31] whedon commented on #1151
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01151/joss.01151/10.21105.joss.01151.pdf)

[2019-01-03 10:32] vaishnavtv commented on #1042
Thank you @labarba and to all the reviewers, for your helpful inputs in the review process!

[2019-01-03 10:55] AshokHub commented on #1150
@whedon generate pdf

[2019-01-03 10:55] whedon commented on #1150
[code]

[2019-01-03 10:56] whedon commented on #1150
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01150/joss.01150/10.21105.joss.01150.pdf)

[2019-01-03 11:07] AshokHub commented on #1150
@whedon generate pdf

[2019-01-03 11:07] whedon commented on #1150
[code]

[2019-01-03 11:08] whedon commented on #1150
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01150/joss.01150/10.21105.joss.01150.pdf)

[2019-01-03 12:11] justinalsing commented on #1140
I was also recommended mathause (not on the list of JOSS reviewers) by a colleague as probably well placed to review this code

[2019-01-03 12:37] arfon commented on #1143
Ah OK. The problem here is that Pandoc + Markdown offers very little in terms of document flow/layout control.

Based on version https://github.com/arviz-devs/arviz/commit/4d5d6319c8b80872292ab2589606ca6d4a9b183a, I've generated the PDF locally by moving the `# Example plots` section _below_ the `# Acknowledgments` section and slightly tweaking the width of the figures i.e.:

[code]

This gives th

[2019-01-03 14:17] danielhatton commented on #974
On Wed, 26 Dec 2018, Kevin Mattheus Moerman wrote:

I was trying to find out what sequence of shell commands @whedon uses
to process Markdown documents containing JoSS-style \@bibtexlabel
citations, because I was considering using the same method for
citations in a Markdown document within the `eights` project tree.  In
the end, though, I decided I needed a method that would work in
GitHub-flavour

[2019-01-03 14:35] Kevin-Mattheus-Moerman commented on #974
Thanks @devinberg for your review work!

[2019-01-03 14:42] Kevin-Mattheus-Moerman commented on #974
@danielhatton congrats I will now recommend that this work is accepted in JOSS for publication. To proceed please do the following:

1. Archive a release of reviewed software using a service like Zenodo (or FigShare or similar, see also https://guides.github.com/activities/citable-code/)
Once you have a DOI of the archived version please list it here.
2. Please inform us of the version tag for the

[2019-01-03 15:51] danielskatz commented on #1140
👋 @ejolly & @ghammad - would one or both of you be willing to review this JOSS submission?  I'm looking for a total of 2 reviewers

[2019-01-03 15:52] danielskatz commented on #1140
👋 @taqtiqa-mark & @lindemann09 - would one or both of you be willing to review this JOSS submission? I'm looking for a total of 2 reviewers

[2019-01-03 15:52] danielskatz commented on #1140
👋 @jtmiclat & @Chilipp - would one or both of you be willing to review this JOSS submission? I'm looking for a total of 2 reviewers

[2019-01-03 15:53] danielskatz commented on #1140
👋 @sarats & @mathause - would one or both of you be willing to review this JOSS submission? I'm looking for a total of 2 reviewers

[2019-01-03 21:19] Chilipp commented on #1140
looks interesting @danielskatz. I would be willing to review it but I won't be available before January 16th.

[2019-01-03 21:35] whedon opened #1153 "[PRE REVIEW]: Scyland3D: Processing 3D landmarks"
**Submitting author:** @ybayle (<a href="http://orcid.org/0000-0002-5143-2335">Yann Bayle</a>)
**Repository:** <a href="https://github.com/ybayle/Scyland3D" target ="_blank">https://github.com/ybayle/Scyland3D</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @r-barnes

**Author instructions**

Thanks for submitting your paper to JOSS @ybayle. The JOSS editor (shown at the

[2019-01-03 21:35] whedon commented on #1153
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@Kevin-Mattheus-Moerma

[2019-01-03 21:35] whedon commented on #1153
[code]

[2019-01-03 21:35] arfon commented on #1153
:wave: @Kevin-Mattheus-Moerman - the submitting author suggested you as the handling editor.

[2019-01-03 21:35] whedon commented on #1153
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01153/joss.01153/10.21105.joss.01153.pdf)

[2019-01-04 01:39] puncan commented on #1137
Other than the issue I just opened, I need the following checked off the list:

1. A statement of need in the general documentation, maybe paraphrase or pull from what is in the paper?
2. Authors and references in the paper.md file

I do see the bib file for the references but it should be used in the paper.md file.

[2019-01-04 01:44] taqtiqa-mark commented on #1140
@danielskatz, sure I'm able to review this.

[2019-01-04 01:55] danielskatz commented on #1140
Thanks @taqtiqa-mark.  I would like to find two reviewers, and as you can see, a couple of other people are willing to review but not for a couple of weeks.  If I can find one more person willing to review soon, we'll start; otherwise, we'll start in a day or two with the expectation that the second review will be a bit later than yours.  So hold on for a day or two...

[2019-01-04 03:51] canyon289 commented on #1143
Looks good. We made the changes in our paper. Hopefully this works

[2019-01-04 03:51] canyon289 commented on #1143
@whedon generate pdf

[2019-01-04 03:51] whedon commented on #1143
[code]

[2019-01-04 03:52] whedon commented on #1143
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01143/joss.01143/10.21105.joss.01143.pdf)

[2019-01-04 04:02] canyon289 commented on #1143
This looks ready for rereview. Thank you all for the help

[2019-01-04 09:16] Kevin-Mattheus-Moerman commented on #1153
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-01-04 09:16] whedon commented on #1153
OK, the editor is @Kevin-Mattheus-Moerman

[2019-01-04 09:19] Kevin-Mattheus-Moerman commented on #927
@nicoguaro thanks for these comments. @anmuller can you work on these points?

[2019-01-04 09:19] andrewjpage commented on #1021
@Kevin-Mattheus-Moerman Just a gentle reminder that this is still pending. Hope everyone had a nice holiday

[2019-01-04 09:20] Kevin-Mattheus-Moerman commented on #927
The version number can be set/fixed properly at a later stage (e.g. we assign the correct one if the paper is accepted).

[2019-01-04 09:21] Kevin-Mattheus-Moerman commented on #1013
@aviks we'd like to move on with this submission. If you are still able to review this work please do so at your earliest convenience. If you are no longer able to do so please let us know. Thanks.

[2019-01-04 09:34] dmey commented on #1137
@puncan thanks for the comments. Just to let you know we are working on the [dmey/paper branch](https://github.com/psychrometrics/psychrolib/tree/dmey/paper) to avoid polluting master for now.

I have addressed the issue you opened (https://github.com/psychrometrics/psychrolib/issues/8) -- I have also just added a general readme for developing and testing purpose to mention how to run local testin

[2019-01-04 09:48] Kevin-Mattheus-Moerman commented on #1021
Thanks for the reminder and apologies for the delay with your submission.

[2019-01-04 09:48] Kevin-Mattheus-Moerman commented on #1021
@ctb are you able to review this work at this point? Please let us know if you are no longer able to. Thanks.

[2019-01-04 10:16] oxinabox commented on #1013
I'm honestly happy to wait. I am in no hurry for this one. @aviks  is a pretty ideal reviewer.

[2019-01-04 10:16] AshokHub commented on #1150
@whedon list editors

[2019-01-04 10:16] whedon commented on #1150
Current editors:

[code]

[2019-01-04 10:17] AshokHub commented on #1150
@whedon list reviewers

[2019-01-04 10:17] whedon commented on #1150
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2019-01-04 10:30] Kevin-Mattheus-Moerman commented on #1012
@NikEfth any luck resuming the review process? Let me know if you are still able to review this work or not. Thanks.

[2019-01-04 10:31] Kevin-Mattheus-Moerman commented on #1109
Happy New Year to all!

[2019-01-04 10:31] Kevin-Mattheus-Moerman commented on #1109
@johnsamuelwrites, @devonrex, @sundmanbo can you provide an update on the review process? Let me know if I can help with anything. Thanks.

[2019-01-04 10:33] Kevin-Mattheus-Moerman commented on #1047
Best wishes for 2019 everybody.

[2019-01-04 10:34] Kevin-Mattheus-Moerman commented on #1047
@jshermeyer can you reply to @zhampel 's comments?

[2019-01-04 10:35] Kevin-Mattheus-Moerman commented on #1047
@rhiever, @lewismc can you provide an update on the review process? Let me know if you need help. Also please let us know in case you are no longer able to assist in this review. Thanks.

[2019-01-04 10:36] Kevin-Mattheus-Moerman commented on #1094
@whedon generate pdf

[2019-01-04 10:36] whedon commented on #1094
[code]

[2019-01-04 10:37] whedon commented on #1094
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01094/joss.01094/10.21105.joss.01094.pdf)

[2019-01-04 10:39] Kevin-Mattheus-Moerman commented on #1094
Happy 2019 everybody.

@carterenyi how are you getting on? Did you manage to check those DOI's in the paper?

@ybayle, @gwynethbradbury can you provide an update on the review process? What are the major issues @carterenyi should work on? Thanks.

[2019-01-04 10:53] Kevin-Mattheus-Moerman commented on #1013
@oxinabox thanks for letting us know. We can of course be flexible regarding timing.

[2019-01-04 11:08] ybayle commented on #1153
From the JOSS suggested list of reviewers, we suggest to the editor, these people:
- @ryancoleman for the geometry keyword
- @ngoldbaum for the 3D keyword
- @r-barnes for the evolutionary biology keywords

[2019-01-04 11:16] sundmanbo commented on #1109
Hi Kevin

I have finished my review and accept the software.  But I had big problems
receiving a lot of messages from reviews of other papers and had to turn
off some obscure feedback buttons inside GITHUB not be be overloaded by
emails.  So maybe I did not finish the review properly.

Best wishes

Bo Sundman

Den fre 4 jan. 2019 kl 11:31 skrev Kevin Mattheus Moerman <
notifications@github.com>:

[2019-01-04 11:22] mathause commented on #1140
I could also only start to review mid/ end of January. So I suppose others are able to do it earlier than me.

[2019-01-04 11:34] ybayle commented on #1153
@whedon generate pdf

[2019-01-04 11:34] whedon commented on #1153
[code]

[2019-01-04 11:35] whedon commented on #1153
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01153/joss.01153/10.21105.joss.01153.pdf)

[2019-01-04 11:41] danielhatton commented on #974
@Kevin-Mattheus-Moerman

Brilliant, thank you very much.

Will do.

The release of which @devinberg said 'the Review Checklist is now satisfied' was 0.1; but there is now a release 0.2, in which there's been a further clarification to one sentence in the "installation" section of `README.md`.  I think I'll archive and get the DOI for release 0.2.

[2019-01-04 11:55] mattpitkin commented on #1143
Hi @canyon289, everything looks good, but I just have a few comments:

* the API documentation appears complete for the methods, but doesn't have any class documentation. In particular, I think it would be useful to have the documentation for the `InferenceData` class, with that containing some examples or descriptions of what the class can store.
* for the _Pyro: Deep Universal Probabilistic Prog

[2019-01-04 12:17] laempy commented on #990
Thanks a lot @kbevers. I have fixed issue laempy/pyoints#7. Since this was just a minor issue, I will push a new version after the review of @scivision.

[2019-01-04 12:49] ybayle commented on #1094
Thank you and best wishes to you too.

There are still comments to be processed by the author from here: https://github.com/openjournals/joss-reviews/issues/1094#issuecomment-448377467

The GUI does not display properly on Windows and the Github cloned version only works once.

[2019-01-04 12:54] devinberg commented on #974
v0.2 is fine with me

[2019-01-04 13:12] danielhatton commented on #974
Excellent.  Release 0.2 of `eights` now has DOI `10.5281/zenodo.2531603`.

[2019-01-04 15:35] jshermeyer commented on #1047
@Kevin-Mattheus-Moerman Thanks for staying on this.  I'll do a full reply to all comments once all parties are done reviewing.

[2019-01-04 15:56] untzag commented on #1141
@daissi thanks so much for your comments! I'll try to respond to them here, if that's appropriate.

I agree. My coauthor @darienmorrow was kind enough to make a PR to adding such a description: https://github.com/wright-group/WrightTools/pull/852. It has been merged.

The developers of WrightTools are mostly graduate students in John's research group. When submitting this paper, we read the [JOSS

[2019-01-04 20:47] rmflight commented on #1145
I think I've completed my initial review.

[2019-01-04 21:31] arokem commented on #1039
@satra: are you possibly available to review this paper for JOSS?

[2019-01-05 11:30] carterenyi commented on #1094
Hello All,

Thanks for checking in. I am in Nigeria without a strong internet
connection so it is not easy for me to work on the article right now. I
hope to complete the DOIs, GUI display and cloning issues by the end of the
month.

Aaron

On Fri, Jan 4, 2019 at 1:49 PM Yann Bayle <notifications@github.com> wrote:

--
Aaron Carter-Ényì, PhD, CAGO

[2019-01-05 12:00] NikEfth commented on #1012
Hi @Kevin-Mattheus-Moerman this slipped under my radar. Sorry.
I will give it a try the coming week and let you know soon.
Cheers,

[2019-01-05 13:46] daissi commented on #1141
:thumbsup:

In this case, it is fine to have John Wright as last author of the paper. :thumbsup:

:thumbsup:

You can keep the name "alternatives" for this page, but maybe you can add this description in the top of the page so that readers can have a direct preview of what they can expect from the other software.

:thumbsup:

[2019-01-05 14:14] ivergara commented on #1141
@untzag I'd say that everything looks in order, just a few comments/questions beyond what the previous reviewer said

1. The tag `hdf5` seems to me not relevant. `hdf5` is more like a detail of implementation on how to store data for future use by the same tool than something relevant for a future user. For sure it's important and relevant in the context of implementation and future accessibility

[2019-01-05 15:31] whedon opened #1154 "[PRE REVIEW]: QMRTools: a mathematica toolbox for quantitative MRI analysis"
**Submitting author:** @mfroeling (<a href="http://orcid.org/0000-0003-3841-0497">Martijn Froeling</a>)
**Repository:** <a href="https://github.com/mfroeling/QMRITools" target ="_blank">https://github.com/mfroeling/QMRITools</a>
**Version:** v2.0
**Editor:** @cMadan
**Reviewers:** @grlee77, @JoshKarpel

**Author instructions**

Thanks for submitting your paper to JOSS @mfroeling. The JOSS editor (

[2019-01-05 15:31] whedon commented on #1154
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-05 15:31] whedon commented on #1154
[code]

[2019-01-05 15:31] whedon opened #1155 "[PRE REVIEW]: LightTwinSVM: A Simple and Fast Implementation of Standard Twin Support Vector Machine Classifier"
**Submitting author:** @mir-am (<a href="http://orcid.org/0000-0002-9818-7752">A. Mir</a>)
**Repository:** <a href="https://github.com/mir-am/LightTwinSVM" target ="_blank">https://github.com/mir-am/LightTwinSVM</a>
**Version:** v0.5.0
**Editor:** @cMadan
**Reviewers:** @stefanv

**Author instructions**

Thanks for submitting your paper to JOSS @mir-am. The JOSS editor (shown at the top of this is

[2019-01-05 15:31] whedon commented on #1155
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-01-05 15:31] whedon commented on #1155
[code]

[2019-01-05 15:31] whedon commented on #1154
PDF failed to compile for issue #1154 with the following error:

 Can't find any papers to compile :-(

[2019-01-05 15:32] whedon commented on #1155
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01155/joss.01155/10.21105.joss.01155.pdf)

[2019-01-05 17:01] xiangfstats commented on #634
Dear @pjotrp ,
I can confirm that all references have a DOI except two without DOIs. I created a Github release and deposit that release with Zenodo. The DOI is  DOI: 10.5281/zenodo.2532305. Many thanks
Best
Fei

[2019-01-05 17:30] pjotrp commented on #634
Oh, it did work. Needed to think about it, I guess ;)

[2019-01-05 17:33] pjotrp commented on #634
@whedon accept

[2019-01-05 17:33] whedon commented on #634
[code]

[2019-01-05 17:34] whedon commented on #634
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/423

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/423, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-05 17:35] pjotrp commented on #634
@arfon I guess I should leave this step to you!

[2019-01-05 18:08] arfon commented on #634
@whedon accept deposit=true

[2019-01-05 18:08] whedon commented on #634
[code]

[2019-01-05 18:09] whedon commented on #634
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/424
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.00634](https://doi.org/10.21105/joss.00634)
2. If everything looks go

[2019-01-05 18:13] arfon commented on #634
@pboesu - many thanks for your review and to @pjotrp and @george-githinji for editing this submission ✨

@xiangfstats - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-05 18:13] #634 closed

[2019-01-05 18:13] whedon commented on #634
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00634/status.svg)](https://doi.org/10.21105/joss.00634)

**We need your help!**

Journal of Open Source Softwar

[2019-01-05 18:58] mir-am commented on #1155
Hello
First, we are very grateful for the consideration of our paper.
Before starting the review process, we need to make some minor revisions to our paper to solve problems like an undefined reference.
However, we need an editor to be assigned. (We have suggested @arfon, Mr. Smith)

Regards,
Mir

[2019-01-05 20:40] mmenickelly commented on #1147
Hi, first time reviewing for JOSS. To clarify this process: any comments I have that prevent me from checking off something in the checklist should be raised as an issue in the CEGO repository and not here, right?

And if I have multiple comments, is there a preference for separating them into multiple issues, or combining all comments into one large issue?

[2019-01-05 22:41] lheagy commented on #1114
:wave: Hi again @zhangning737, just checking in after the holidays. Do you plan to make the suggested changes as listed above? Thank you!

[2019-01-05 22:44] arfon commented on #1155
:wave: @mir-am - thanks for your submission to JOSS. Please go ahead and make the changes you need to for your paper and ask @whedon to recompile your paper here with the command `whedon generate pdf`.

I probably won't edit this submission - it may take another few days for an editor to be assigned.

[2019-01-06 00:20] kyleniemeyer commented on #1137
@puncan regarding the paper contents, you can just review the generated PDF for the references and such.

[2019-01-06 07:53] mir-am commented on #1155
@arfon - Thanks for replying.
We carefully revised our paper and would like to assign an editor for consideration of the paper

[2019-01-06 07:54] mir-am commented on #1155
@whedon generate pdf

[2019-01-06 07:54] whedon commented on #1155
[code]

[2019-01-06 07:55] whedon commented on #1155
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01155/joss.01155/10.21105.joss.01155.pdf)

[2019-01-06 08:06] cMadan commented on #1155
@whedon assign @cmadan as editor

[2019-01-06 08:08] cMadan commented on #1155
@mir-am, thank you for your submission. Do you have any suggestions for reviewers? (See first comment in this issue for more information.)

[2019-01-06 08:10] cMadan commented on #1155
@arfon, it seems that whedon updated the first comment with me as editor, but didn't 'acknowledge' the command or assign me to the issue in Github. Has anything changed with how it's supposed to do that...?

[2019-01-06 08:37] mir-am commented on #1155
We thank you for the consideration of our paper.
@cMadan - @arfon - How can we add a caption to a table in our paper?

[2019-01-06 08:39] mir-am commented on #1155
We suggest @glemaitre for reviewing our research work.

[2019-01-06 12:15] cMadan commented on #1155
@mir-am, this should do it:
https://pandoc.org/MANUAL.html#tables

[2019-01-06 13:51] whedon opened #1156 "[PRE REVIEW]: instrbuilder: a Python package for control of electrical instruments"
**Submitting author:** @lucask07 (<a href="http://orcid.org/0000-0002-7236-7202">Lucas J. Koerner</a>)
**Repository:** <a href="https://github.com/lucask07/instrbuilder" target ="_blank">https://github.com/lucask07/instrbuilder</a>
**Version:** 0.1.0
**Editor:** @arokem
**Reviewers:** @brainstorm

**Author instructions**

Thanks for submitting your paper to JOSS @lucask07. The JOSS editor (shown a

[2019-01-06 13:51] whedon commented on #1156
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arokem) to find some reviewers for yo

[2019-01-06 13:51] whedon commented on #1156
[code]

[2019-01-06 13:52] whedon commented on #1156
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01156/joss.01156/10.21105.joss.01156.pdf)

[2019-01-06 13:52] arfon commented on #1156
:wave: @arokem, the submitting author suggested you as the handling editor.

[2019-01-06 16:58] danielskatz commented on #1140
I'm going to wait one more day to see if anyone I've mentioned can start a review immediately, and if not, we'll start anyhow with the expectation that one reviewer won't start until mid January.

[2019-01-06 18:51] mir-am commented on #1155
Thanks.
We revised our paper.
We would like to start the review process.

[2019-01-06 18:51] mir-am commented on #1155
@whedon generate pdf

[2019-01-06 18:51] whedon commented on #1155
[code]

[2019-01-06 18:52] whedon commented on #1155
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01155/joss.01155/10.21105.joss.01155.pdf)

[2019-01-06 19:19] kthyng commented on #1124
Hi @mvdh7! How are things going on your end with this review? Pinged you on twitter too in case you still aren't getting notifications here.

[2019-01-06 19:59] ejolly commented on #1140
Sorry for the delayed response @danielskatz I've been traveling with limited access to email. Unfortunately, I too won't be able to start a review until the end of this month. Happy to do it then if that timeline works/makes sense.

[2019-01-07 00:19] canyon289 commented on #1143
@whedon generate pdf

[2019-01-07 00:19] whedon commented on #1143
[code]

[2019-01-07 03:18] arokem commented on #1156
@whedon assign arokem as editor

[2019-01-07 03:18] whedon commented on #1156
OK, the editor is arokem

[2019-01-07 03:21] arokem commented on #1156
@lucask07 : do you have any suggestions for reviewers of this submission? Potentially someone from NSLS-II, if that is not a conflict.

[2019-01-07 04:11] jmhernan commented on #1111
@arokem I'm having trouble assessing this bullet:

The dependency for this software is `graph-tool` which is C++ library wrapped in python. The installation was not straight forward on my end (I could not get things to work on my conda python environment.  I was able to get it to work with homebrew after some stackoveflowing) Should more information be included or is a link to the `graph-tool` fol

[2019-01-07 04:11] jmhernan commented on #1111
@igarizio Great work on this.  Here are some of my comments so far:

[2019-01-07 07:48] danielhuppmann commented on #1095
@lheagy, the stable doi for the project on zenodo is
[10.5281/zenodo.1470400](https://doi.org/10.5281/zenodo.1470400), the doi for the latest release is [10.5281/zenodo.1491662](https://doi.org/10.5281/zenodo.1491662).

There are a few minor updates since release 0.1.2 (also thanks to issues raised and comments by @Chilipp), but nothing critical, so we'll probably hold off on the next release unti

[2019-01-07 08:50] trallard commented on #1108
@whedon commands

[2019-01-07 08:51] trallard commented on #1108
@whedon generate pdf

[2019-01-07 08:51] whedon commented on #1108
[code]

[2019-01-07 08:51] whedon commented on #1108
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01108/joss.01108/10.21105.joss.01108.pdf)

[2019-01-07 08:52] Kevin-Mattheus-Moerman commented on #1109
@vmagnin can you work on / formulate a reply to @johnsamuelwrites 's comments? Thanks

[2019-01-07 08:53] Kevin-Mattheus-Moerman commented on #1109
@devonrex are you able to review this software soon? Thanks

[2019-01-07 08:54] trallard commented on #1108
@whedon set 10.5281/zenodo.2450121 as archive

[2019-01-07 08:54] whedon commented on #1108
OK. <a href="https://doi.org/10.5281/zenodo.2450121" target="_blank">10.5281/zenodo.2450121</a> is the archive.

[2019-01-07 09:09] melund commented on #1108
@trallard PDF looks good :)

[2019-01-07 09:13] richardcollins commented on #1119
Hello Roman, sorry for the delay, I've been on holiday. I will take a look at the comments asap.

Thankyou @ejdanderson for reviewing the project.

________________________________
From: Roman Valls Guimera <notifications@github.com>
Sent: 24 December 2018 06:25:59
To: openjournals/joss-reviews
Cc: Richard Collins; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: QComms QKD Software Tool

[2019-01-07 09:33] mattpitkin commented on #1143
@canyon289 thanks for the changes. Would it be possible to include the `InferenceData` class in the API documentation, or is there a specific reason for not doing this? I think it would be good to have it included even if the docstring mainly just adds a link to the page https://arviz-devs.github.io/arviz/notebooks/XarrayforArviZ.html. Also, could that notebook also contain the plot from Figure 1

[2019-01-07 09:55] mfroeling commented on #1154
@whedon commands

[2019-01-07 09:55] whedon commented on #1154
Here are some things you can ask me to do:

[code]

[2019-01-07 09:56] mfroeling commented on #1154
@whedon generate pdf

[2019-01-07 09:56] whedon commented on #1154
[code]

[2019-01-07 09:56] whedon commented on #1154
PDF failed to compile for issue #1154 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72

[2019-01-07 09:58] mfroeling commented on #1154
@whedon generate pdf

[2019-01-07 09:59] whedon commented on #1154
PDF failed to compile for issue #1154 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    145      0 --:--:-- --:--:-- --:--:--   147
[WARNING] Could n

[2019-01-07 10:04] mfroeling commented on #1154
@whedon generate pdf

[2019-01-07 10:04] whedon commented on #1154
[code]

[2019-01-07 10:04] whedon commented on #1154
PDF failed to compile for issue #1154 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72

[2019-01-07 10:05] mfroeling commented on #1154
@whedon generate pdf

[2019-01-07 10:05] whedon commented on #1154
[code]

[2019-01-07 10:06] whedon commented on #1154
PDF failed to compile for issue #1154 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72a/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-50d5912cf72

[2019-01-07 10:07] mfroeling commented on #1154
@whedon generate pdf

[2019-01-07 10:07] whedon commented on #1154
[code]

[2019-01-07 10:08] trallard commented on #1108
@melund all looks good to me so I will proceed with the acceptance recommendation

@arfon: this submission is accepted and ready to be published 🎉👾

@tonygon @acolum  thank you very much for your time and valuable contribution to JOSS as reviewers for this submission 🙌🏻

[2019-01-07 10:09] whedon commented on #1154
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01154/joss.01154/10.21105.joss.01154.pdf)

[2019-01-07 10:31] mfroeling commented on #1154
@whedon generate pdf

[2019-01-07 10:31] whedon commented on #1154
[code]

[2019-01-07 10:33] whedon commented on #1154
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01154/joss.01154/10.21105.joss.01154.pdf)

[2019-01-07 11:55] mvdh7 commented on #1124
Sorry for delay. Do I just post comments here?

[2019-01-07 12:16] fospald commented on #1027
@ctdegroot @jedbrown I think I fixed the build and naming issues mentioned above. Can you please retry?

[2019-01-07 14:42] satra commented on #1039
@arokem - sorry not in the next one month.

[2019-01-07 15:17] arfon commented on #1108
@whedon accept

[2019-01-07 15:17] whedon commented on #1108
[code]

[2019-01-07 15:18] whedon commented on #1108
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/425

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/425, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-07 15:20] arfon commented on #1108
@whedon accept deposit=true

[2019-01-07 15:20] whedon commented on #1108
[code]

[2019-01-07 15:21] whedon commented on #1108
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/426
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01108](https://doi.org/10.21105/joss.01108)
2. If everything looks go

[2019-01-07 15:45] kthyng commented on #1124
@mvdh7 Please use the checklist and information in the first comment on this issue up above. The checklist will help guide you through, checking off as things are found to be ok. We ask that you open new github issues for anything more than a comment, and link them to this review. Putting an overview comment in here is helpful to summarize and say if you are satisfied or what the current state is.

[2019-01-07 15:55] ccurtis7 commented on #989
I forgot to mention that I went and updated the 'papers.bib' file as requested.

[2019-01-07 15:56] ccurtis7 commented on #989
@stsievert I hope you had a good winter break! I noticed that you have checked everything except installation and performance. I believe I have addressed all the issues you brought up.

Let me know if I can do anything else to finish up!

[2019-01-07 15:59] melund commented on #1108
Woohoo... Awesome, it is online. Thanks a lot everyone...

[2019-01-07 16:01] lheagy commented on #1095
@whedon set 10.5281/zenodo.1491662 as archive

[2019-01-07 16:01] whedon commented on #1095
OK. <a href="https://doi.org/10.5281/zenodo.1491662" target="_blank">10.5281/zenodo.1491662</a> is the archive.

[2019-01-07 16:02] lheagy commented on #1095
Many thanks @Chilipp and @jtmiclat for your review! and congratulations @danielhuppmann on your submission 🎉

@arfon: this is ready to be published :tada:

[2019-01-07 16:04] canyon289 commented on #1143
@mattpitkin
My (subjective) reasoning for not including `az.InferenceData` in the api docs was because all the methods in the api docs are intended to be callable by the user. For InferenceData the users don't directly instantiate an `az.InferenceData`. This is why I after some debate I opted not to include it in api docs, however this reasoning is largely subjective but would love to get your tho

[2019-01-07 16:04] arfon commented on #1108
@tonygon, @acolum - many thanks for your reviews and to @trallard for editing this submission ✨

@melund - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-07 16:04] #1108 closed

[2019-01-07 16:04] whedon commented on #1108
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01108/status.svg)](https://doi.org/10.21105/joss.01108)

**We need your help!**

Journal of Open Source Softwar

[2019-01-07 16:05] arfon commented on #1095
@whedon accept

[2019-01-07 16:05] whedon commented on #1095
[code]

[2019-01-07 16:06] whedon commented on #1095
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/427

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/427, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-07 16:08] arfon commented on #1095
@whedon accept deposit=true

[2019-01-07 16:08] whedon commented on #1095
[code]

[2019-01-07 16:09] whedon commented on #1095
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/428
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01095](https://doi.org/10.21105/joss.01095)
2. If everything looks go

[2019-01-07 16:10] Kevin-Mattheus-Moerman commented on #1149
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-01-07 16:10] whedon commented on #1149
OK, the editor is @Kevin-Mattheus-Moerman

[2019-01-07 16:11] Kevin-Mattheus-Moerman commented on #1149
@ssfrr would you be interested in reviewing this work?

[2019-01-07 16:12] Kevin-Mattheus-Moerman commented on #1149
@Datseris thanks for this submission. I'll start looking for reviewers, and will look to see if your submission passes all the preliminary checks. Please let me know if you know of any suitable reviewers. Thanks.

[2019-01-07 16:15] ssfrr commented on #1149
Yes, I'm happy to review.

[2019-01-07 16:31] danielskatz commented on #1140
Ok, let's go ahead with @taqtiqa-mark and @Chilipp, recognizing that  @Chilipp won't be able to start for another week.

[2019-01-07 16:31] danielskatz commented on #1140
@whedon assign @taqtiqa-mark as reviewer

[2019-01-07 16:31] danielskatz commented on #1140
@whedon add @Chilipp as reviewer

[2019-01-07 16:31] whedon commented on #1140
OK, @Chilipp is now a reviewer

[2019-01-07 16:32] danielskatz commented on #1140
@whedon add @taqtiqa-mark as reviewer

[2019-01-07 16:32] Kevin-Mattheus-Moerman commented on #1149
@Datseris Please consult the [author guidelines](https://joss.readthedocs.io/en/latest/submitting.html) carefully to make sure your submission conforms to our standards. You can also check out the [reviewer guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html) to get an idea off what the reviewers will look for.

Can you work on the following:
- [ ] Please expand your readme
Temp

[2019-01-07 16:32] whedon commented on #1140
OK, @taqtiqa-mark is now a reviewer

[2019-01-07 16:33] danielskatz commented on #1140
@whedon start review

[2019-01-07 16:33] whedon opened #1157 "[REVIEW]: dlmmc: Dynamical linear model regression for atmospheric time-series analysis"
**Submitting author:** @justinalsing (<a href="http://orcid.org/0000-0003-4618-3546">Justin Alsing</a>)
**Repository:** <a href="https://github.com/justinalsing/dlmmc" target ="_blank">https://github.com/justinalsing/dlmmc</a>
**Version:** 1.1
**Editor:** @danielskatz
**Reviewer:** @Chilipp, @taqtiqa-mark
**Archive:** <a href="https://doi.org/10.5281/zenodo.2660704" target="_blank">10.5281/zenodo.

[2019-01-07 16:33] whedon commented on #1140
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1157. Feel free to close this issue now!

[2019-01-07 16:33] whedon commented on #1157
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Chilipp, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2019-01-07 16:33] whedon commented on #1157
[code]

[2019-01-07 16:33] Kevin-Mattheus-Moerman commented on #1149
@ssfrr this is a pre-review issue. Once we have sufficient reviewers I'll open up the former review issue to start the actual review process. Thanks again for your willingness to review this work.

[2019-01-07 16:34] whedon commented on #1157
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01157/joss.01157/10.21105.joss.01157.pdf)

[2019-01-07 16:34] danielskatz commented on #1157
@Chilipp, @taqtiqa-mark - thanks for agreeing to review.  (Note that @Chilipp will not be able to start for a week.)

If you have any questions, please ask.  Otherwise, I'll expect that you will work through the checklists above and raise issues as you find items you cannot check off.

[2019-01-07 16:48] arfon commented on #1095
@jtmiclat, @Chilipp - many thanks for your reviews here and to @lheagy for editing this submission ✨

@gidden - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-01-07 16:48] #1095 closed

[2019-01-07 16:48] whedon commented on #1095
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01095/status.svg)](https://doi.org/10.21105/joss.01095)

**We need your help!**

Journal of Open Source Softwar

[2019-01-07 16:53] gidden commented on #1095
Thank you all!!

On Mon, Jan 7, 2019, 7:48 PM Arfon Smith <notifications@github.com wrote:

[2019-01-07 16:56] danielskatz commented on #1097
Hi @eendebakpt - just checking on the post-holiday status of this...

[2019-01-07 16:56] whedon opened #1158 "[PRE REVIEW]: Multiblock PLS: Block dependent prediction modeling for Python"
**Submitting author:** @lvermue (<a href="http://orcid.org/0000-0002-3403-7624">Laurent Vermue</a>)
**Repository:** <a href="https://github.com/DTUComputeStatisticsAndDataAnalysis/MBPLS" target ="_blank">https://github.com/DTUComputeStatisticsAndDataAnalysis/MBPLS</a>
**Version:** v1.0.0
**Editor:** @brainstorm
**Reviewers:** arokem

**Author instructions**

Thanks for submitting your paper to JOS

[2019-01-07 16:56] whedon commented on #1158
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @brainstorm it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@brainstorm) to find some reviewer

[2019-01-07 16:56] whedon commented on #1158
[code]

[2019-01-07 16:57] whedon commented on #1158
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01158/joss.01158/10.21105.joss.01158.pdf)

[2019-01-07 16:59] danielskatz commented on #1158
👋 @brainstorm - note that the authors requested you as the editor

[2019-01-07 17:00] vmagnin commented on #1109
@Kevin-Mattheus-Moerman

Thank you @johnsamuelwrites for that review. Concerning your three final comments:

1. I clicked on the link 'How to use GTK-Fortran with Code::Blocks IDE' on two different PCs today and it works fine. Perhaps there was a server problem the day you try it ?

2. A quick start tutorial is a good idea and I can work on it during the next months.

3. Fully automating the test

[2019-01-07 17:02] danielskatz commented on #1154
👋 @cMadan - are you willing to edit this submission?

[2019-01-07 17:30] richardcollins commented on #1119
@ejdanderson I've changed the heading in the paper to Summary.
@brainstorm  wrt the contributions, Djeylan and others have provided details on the algorithms and the technical aspects of QKD but havn't written code in this project - do I need to cite them in a different way?

[2019-01-07 18:23] lucask07 commented on #1156
@arokem I suggest @casteer (Christopher Steer) who lists software for instrumentation as an interest. It would be best if the reviewer has access to a function generator, oscilloscope or similar to exercise the package.

[2019-01-07 18:59] lheagy commented on #808
Thanks @hugoledoux!

@viktor76525: testing is a mandatory component for acceptance. Ideally, these are automated tests, but is also acceptable to have documentation outlining steps that the user can take to test and verify that the software is functioning as expected. @leouieda provided some suggestions in ucgmsim/GMSimViz#10 for setting up automated tests. Many of the functions in [geo.py](https:

[2019-01-07 19:00] lheagy commented on #990
@laempy: I have not heard anything from @scivision, so I will jump in and complete his review later this week

[2019-01-07 19:03] lheagy commented on #1136
👋 Hi @techas, @tth030, I hope you had a wonderful time over the holidays! Now that the new year is starting to get going, I wanted to follow up and ask when you think you will have time to complete the review? Ideally, we would appreciate if you could do so in the next 2 weeks. Please let me know if you have any questions!

[2019-01-07 19:03] puncan commented on #1137
Okay, I see the PDF now, it looks great. Sorry about that! The readme also looks good, thank you for the update.

[2019-01-07 19:13] xiangfstats commented on #634
Thanks very much to everyone, @arfon, @pboesu, @pjotrp and @george-githinji. Great to know our paper is accepted in JOSS.

[2019-01-07 19:36] arokem commented on #1156
Yes. I noticed that too. We'll have chances to do more proof-reading towards the end of the process as well.

[2019-01-07 19:37] arokem commented on #1156
@casteer: would you be willing to review this paper for JOSS?

[2019-01-07 19:38] casteer commented on #1156
Hi, sure looks interesting, we don't have the precise make of oscilloscope mention in the docs but they should be SCPI or VISA, so am happy to accept. The JOSS reviewer's guidelines mentions a checklist of essential features and details, if there is one, please could you post a link? (no worries, if there isn't one, I'm happy to review without it too) Kind regards, Chris.

[2019-01-07 19:42] arokem commented on #1111
I think that a link to this page: https://git.skewed.de/count0/graph-tool/wikis/installation-instructions would be helpful, considering installation can be a bit arcane.

[2019-01-07 19:43] Datseris commented on #1149
@Kevin-Mattheus-Moerman thank you for accepting to be the assigned editor. I have made all the changes that you requested, please tick them if you agree with the current `master` branch.

---

@ssfrr thank you very much for accepting to be a reviewer.

[2019-01-07 19:44] arokem commented on #1039
@effigies : are you available to review this paper for JOSS?

[2019-01-07 20:10] luizirber commented on #1122
sure, count me in

[2019-01-07 20:36] TheChymera commented on #1039
@damaggu could help out. He also has access to a Bruker scanner similar to ours. I think he has already crossed paths with one of the copies of the device floating around campus, but he is not a contributor.

[2019-01-07 21:03] viktor76525 commented on #808
Hi @lheagy.
I was hoping to go for the "OK" section at https://joss.readthedocs.io/en/latest/review_criteria.html

I believe the [GMSimViz](https://github.com/ucgmsim/GMSimViz) page does contain 3 such manual steps (sample commands) under the Sample Data section along with expected outputs.

[2019-01-07 21:11] Kevin-Mattheus-Moerman commented on #1149
Thanks @Datseris I've updated the comment above.

[2019-01-07 21:50] Kevin-Mattheus-Moerman commented on #1149
@Datseris can you work on your paper style and content. Please refer to the JOSS [author guidelines](https://joss.readthedocs.io/en/latest/submitting.html).

- [ ] One of the requirements for JOSS is that the paper should have a clear research application. Can you please expand on this in the paper? What scientific/research work does this software target? Currently the paper boasts "made for music

[2019-01-07 22:04] lheagy commented on #808
Okay, I will bring this to the editorial team for input.

[2019-01-07 22:33] brainstorm commented on #1122
@whedon assign @luizirber as reviewer

[2019-01-07 22:33] whedon commented on #1122
OK, the reviewer is @luizirber

[2019-01-07 22:34] brainstorm commented on #1122
@whedon start review

[2019-01-07 22:34] whedon opened #1159 "[REVIEW]: pytransform3d: 3D Transformations for Python"
**Submitting author:** @AlexanderFabisch (<a href="http://orcid.org/0000-0003-2824-7956">Alexander Fabisch</a>)
**Repository:** <a href="https://github.com/rock-learning/pytransform3d" target ="_blank">https://github.com/rock-learning/pytransform3d</a>
**Version:** 1.1
**Editor:** @brainstorm
**Reviewer:** @luizirber
**Archive:** <a href="https://doi.org/10.5281/zenodo.2553451" target="_blank">10.

[2019-01-07 22:34] whedon commented on #1122
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1159. Feel free to close this issue now!

[2019-01-07 22:34] whedon commented on #1159
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @luizirber it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-01-07 22:34] whedon commented on #1159
[code]

[2019-01-07 22:34] #1122 closed

[2019-01-07 22:35] whedon commented on #1159
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01159/joss.01159/10.21105.joss.01159.pdf)

[2019-01-07 22:42] brainstorm commented on #1119
@richardcollins According to the [JOSS reviewer guidelines](https://joss.readthedocs.io/en/latest/review_criteria.html#authorship) you, as the author, take the responsibility for authorship claims, so thanks for stating it here, that should suffice AFAICT.

@ejdanderson Feel free to carry on with the remaining items whenever you can.

Cheers!

[2019-01-08 00:08] brainstorm commented on #1133
@whedon assign @pdiakumis as reviewer

[2019-01-08 00:08] whedon commented on #1133
OK, the reviewer is @pdiakumis

[2019-01-08 00:09] brainstorm commented on #1133
@whedon start review

[2019-01-08 00:09] whedon opened #1160 "[REVIEW]: RSeqAn: Headers and wrappers for the SeqAn library in R"
**Submitting author:** @aguang (<a href="http://orcid.org/0000-0003-4974-1873">August Guang</a>)
**Repository:** <a href="https://github.com/compbiocore/RSeqAn" target ="_blank">https://github.com/compbiocore/RSeqAn</a>
**Version:** v1.3.1
**Editor:** @brainstorm
**Reviewer:** @pdiakumis
**Archive:** <a href="https://doi.org/10.5281/zenodo.2558617" target="_blank">10.5281/zenodo.2558617</a>

## St

[2019-01-08 00:09] whedon commented on #1133
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1160. Feel free to close this issue now!

[2019-01-08 00:09] whedon commented on #1160
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pdiakumis it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-01-08 00:09] whedon commented on #1160
[code]

[2019-01-08 00:09] #1133 closed

[2019-01-08 00:09] whedon commented on #1160
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01160/joss.01160/10.21105.joss.01160.pdf)

[2019-01-08 00:48] brainstorm commented on #1158
Thanks for the heads up @danielskatz! @khinsen, would you like to review this submission?

[2019-01-08 01:21] bryanwweber commented on #1137
Hi @dmey! I have a few comments. Please let me know if you want me to open issues for any of these:

1. Along with @puncan's comment, the documentation website doesn't provide a statement of need, and it would help if it did
2. For that matter, the documentation website is not linked from anywhere on the repository page that I could see
3. For me, the contributing instructions are not sufficient.

[2019-01-08 05:40] cMadan commented on #1154
@danielskatz - sure, would be happy to

[2019-01-08 05:40] cMadan commented on #1154
@whedon assign @cMadan as editor

[2019-01-08 05:40] whedon commented on #1154
OK, the editor is @cMadan

[2019-01-08 05:40] cMadan commented on #1155
@whedon assign @cMadan as editor

[2019-01-08 05:40] whedon commented on #1155
OK, the editor is @cMadan

[2019-01-08 05:41] cMadan commented on #1155
@arfon, not sure what happened earlier, but didn't seem like `@whedon` acted properly earlier. This time it worked though.

[2019-01-08 06:43] brainstorm commented on #1156
@arokem Count me in if you need a co-reviewer, I've recently acquired a SCPI/LXI compatible oscilloscope, so perfect timing ;)

[2019-01-08 09:07] mvdh7 commented on #1124
Thanks @kthyng. @ZijieZhaoMMHW & co have done a great job in making this analysis available on MATLAB, and I'm sure this will be a very useful tool in the future. But there are a few issues that I think need to be resolved before publication in JOSS. I have ticked all the review boxes that I think I can at this point, & added all the corresponding issues.

[2019-01-08 09:08] sebastkm commented on #1151
We suggest @Kevin-Mattheus-Moerman as editor for this submission.

[2019-01-08 09:11] Kevin-Mattheus-Moerman commented on #1151
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-01-08 09:11] whedon commented on #1151
OK, the editor is @Kevin-Mattheus-Moerman

[2019-01-08 09:16] johnsamuelwrites commented on #1109
@Kevin-Mattheus-Moerman @vmagnin Thanks for the response. I verified the link (review comment 1) and it's working now. Regarding review comment 3 on full automation, I am aware that it may be little difficult and may not be the immediate focus of gtk-fortran. As I mentioned in the review, the manual tests are fine, especially considering that this is a GUI building tool and some users may wish to

[2019-01-08 09:35] Kevin-Mattheus-Moerman commented on #1109
@devonrex thanks for letting us know. I'll remove you as reviewer. For future reference the review entails downloading (e.g. the zip file for the repository if you like without using GIT) and testing the software. Then boxes are ticked at the top of this review issue. Editors are also here to help with the process. Thanks for your time.

[2019-01-08 09:36] Kevin-Mattheus-Moerman commented on #1109
@whedon remove @devonrex as reviewer

[2019-01-08 09:36] whedon commented on #1109
OK, @devonrex is no longer a reviewer

[2019-01-08 09:37] Kevin-Mattheus-Moerman commented on #1109
@whedon generate pdf

[2019-01-08 09:37] whedon commented on #1109
[code]

[2019-01-08 09:38] whedon commented on #1109
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01109/joss.01109/10.21105.joss.01109.pdf)

[2019-01-08 09:43] Kevin-Mattheus-Moerman commented on #1109
@vmagnin since both reviewers are happy with your submission I will recommend that this work is accepted in JOSS.

At this point can you do the following:

- [ ] Create a new release of the reviewed software and archive a version of it e.g. in a service like Zenodo (some find it convenient to use these steps: https://guides.github.com/activities/citable-code/). Once archived please list the DOI of

[2019-01-08 10:32] mfroeling commented on #1154
@cMadan other prefered mathematica language reviewers are taqtiqa-mark, rljacobson, acolum, chlalanne, JoshKarpel, wspr

[2019-01-08 12:19] Datseris commented on #1149
Thank you for your comments @Kevin-Mattheus-Moerman . I have done everything you suggested besides your first point on research applications.

I want to quickly state that this "boasting" that you mention did not come from myself. Rather, users of MIDI.jl contacted me to tell how much easier this has made their work and how it is so much easier to use than other MIDI packages. I now realize that s

[2019-01-08 13:59] Kevin-Mattheus-Moerman commented on #1149
@whedon generate pdf

[2019-01-08 13:59] whedon commented on #1149
[code]

[2019-01-08 14:00] whedon commented on #1149
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01149/joss.01149/10.21105.joss.01149.pdf)

[2019-01-08 14:04] Kevin-Mattheus-Moerman commented on #1149
@Datseris Great. Looking forward to seeing the section on applications to research. In the mean time, please do let me know if you have any other reviewers in mind. Thanks.

[2019-01-08 14:12] Kevin-Mattheus-Moerman commented on #1149
@jfsantos would you be interested in reviewing this submission for the [Journal of Open Source Software (JOSS)](http://joss.theoj.org/). The review process is focused on evaluating [the software](https://github.com/JuliaMusic/MIDI.jl) and [a short paper](https://github.com/openjournals/joss-papers/blob/joss.01149/joss.01149/10.21105.joss.01149.pdf) ([here is an example review process](https://gith

[2019-01-08 14:19] Kevin-Mattheus-Moerman commented on #1154
@cmadan these also seem suitable reviewers (people I contacted for https://github.com/openjournals/joss-reviews/issues/889) nnadeau, davidnsousa, markus-nilsson, JianCheng

[2019-01-08 14:30] igarizio commented on #1111
@jmhernan Thank you for your comments! I will work on them as soon as posible.

[2019-01-08 16:01] Datseris commented on #1149
@Kevin-Mattheus-Moerman I have reworked my manuscript and I believe that it satisfies the author guidelines of JOSS and provides a clear scientific application and further use.

[2019-01-08 16:15] untzag commented on #1141
@ivergara thanks for the review

I don't have strong feelings about the tags, so I've made a [PR](https://github.com/wright-group/WrightTools/pull/856) to remove the hdf5 tag.

Great question. I think your critique that we currently have a relatively small number of input formats is valid. When talking about "universality", what comes to my mind is the different kinds of multidimensional experimen

[2019-01-08 17:16] Kevin-Mattheus-Moerman commented on #1149
@whedon generate pdf

[2019-01-08 17:16] whedon commented on #1149
[code]

[2019-01-08 17:16] whedon commented on #1149
PDF failed to compile for issue #1149 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    203      0 --:--:-- --:--:-- --:--:--   205
Error producing P

[2019-01-08 17:32] Datseris commented on #1149
Hm, all the references are okay, the only problem is the figure: seems misaligned.

[2019-01-08 17:50] ctdegroot commented on #1027
@fospald I get the following:

[code]

I should mention that Mac doesn't have `ldd` so I replaced with `otool -L` which should be equivalent.

[2019-01-08 18:22] arfon commented on #1155
Weird. Not sure. Seems like a minor hiccup...

[2019-01-08 18:23] whedon opened #1161 "[PRE REVIEW]: KMC_Lattice v2.0: An Object-Oriented C++ Library for Custom Kinetic Monte Carlo Simulations"
**Submitting author:** @MikeHeiber (<a href="http://orcid.org/0000-0002-1567-5663">Michael Heiber</a>)
**Repository:** <a href="https://github.com/MikeHeiber/KMC_Lattice" target ="_blank">https://github.com/MikeHeiber/KMC_Lattice</a>
**Version:** v2.0.0-rc.2
**Editor:** @katyhuff
**Reviewers:** @myousefi2016, @mdoucet

**Author instructions**

Thanks for submitting your paper to JOSS @MikeHeiber.

[2019-01-08 18:23] whedon commented on #1161
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @katyhuff it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@katyhuff) to find some reviewers fo

[2019-01-08 18:23] whedon commented on #1161
[code]

[2019-01-08 18:23] whedon commented on #1161
PDF failed to compile for issue #1161 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    115      0 --:--:-- --:--:-- --:--:--   116
Error reading bib

[2019-01-08 18:23] arfon commented on #1161
:wave: @katyhuff - the submitting author suggested you as the handling editor.

[2019-01-08 18:36] MikeHeiber commented on #1161
@whedon commands

[2019-01-08 18:36] whedon commented on #1161
Here are some things you can ask me to do:

[code]

[2019-01-08 18:38] dmey commented on #1137
@whedon generate pdf from branch dmey/paper

[2019-01-08 18:38] whedon commented on #1137
[code]

[2019-01-08 18:39] whedon commented on #1137
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01137/joss.01137/10.21105.joss.01137.pdf)

[2019-01-08 18:40] MikeHeiber commented on #1161
@whedon generate pdf from branch joss-edits

[2019-01-08 18:41] whedon commented on #1161
[code]

[2019-01-08 18:41] whedon commented on #1161
PDF failed to compile for issue #1161 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0    261      0 --:--:-- --:--:-- --:--:--   263
Error reading bib

[2019-01-08 18:42] arfon commented on #67
@whedon commands

[2019-01-08 18:42] whedon commented on #67
Here are some things you can ask me to do:

[code]

[2019-01-08 18:42] arfon commented on #67
@whedon set v1.0.1 as version

[2019-01-08 18:42] whedon commented on #67
OK. v1.0.1 is the version.

[2019-01-08 18:43] MikeHeiber commented on #1161
@whedon generate pdf from branch joss-edits

[2019-01-08 18:43] whedon commented on #1161
[code]

[2019-01-08 18:43] whedon commented on #1161
PDF failed to compile for issue #1161 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    15    0    15    0     0     95      0 --:--:-- --:--:-- --:--:--    96
Error reading bib

[2019-01-08 18:45] MikeHeiber commented on #1161
@whedon generate pdf from branch joss-edits

[2019-01-08 18:45] whedon commented on #1161
[code]

[2019-01-08 18:45] whedon commented on #1161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01161/joss.01161/10.21105.joss.01161.pdf)

[2019-01-08 18:54] kthyng commented on #1124
Great, thanks so much @mvdh7.

@ZijieZhaoMMHW please start addressing these issues as soon as you can. Thanks.

[2019-01-08 19:01] MikeHeiber commented on #1161
@whedon generate pdf from branch joss-edits

[2019-01-08 19:01] whedon commented on #1161
[code]

[2019-01-08 19:02] whedon commented on #1161
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01161/joss.01161/10.21105.joss.01161.pdf)

[2019-01-08 19:30] dmey commented on #1137
Hi @bryanwweber, many thanks for your time in reviewing PsychroLib and the useful comments. For clarity, I will include my responses ordered below.

*Assumption: you have checked-out the [dmey/paper](https://github.com/psychrometrics/psychrolib/tree/dmey/paper) branch.*

## Main comments

1. I think that this was addressed [here](https://github.com/psychrometrics/psychrolib/commit/f64f6bc6dfe8cd76

[2019-01-08 19:58] bryanwweber commented on #1137
Hi @dmey! Thanks for the updates. Some responses:

1. and 2. I was thinking to update the documentation page here: https://psychrometrics.github.io/psychrolib/index.html with the "Statement of Need" and also linking directly to that page somewhere on the repo page (recognizing the content is nearly the same as the README). I also think you should be consistent about linking to the rendered HTML pa

[2019-01-08 20:02] MikeHeiber commented on #1161
I have made some minor corrections to the paper, but everything is now compiled correctly and ready for review.  The joss-edits branch contains the latest version of repository.
@katyhuff Here are some suggested reviewers that I found from the list:
@arghdos
@myousefi2016
@jeffhammond
@jwuttke

[2019-01-08 21:56] ejdanderson commented on #1119
Thanks, I'll take a look this week.

[2019-01-08 23:16] katyhuff commented on #1161
Thanks for suggesting reviewers @MikeHeiber.

Now, @MikeHeiber , let's ping a few fitting reviewers, with computational physics, materials science, and c++ expertise. We can start the review once two or three of them accept the request to review.

Dear reviewers,

@myousefi2016 as suggested: Thank you for volunteering, Mehrdad!
@jeffhammond as suggested: Thanks for your quick response. I appreciat

[2019-01-08 23:18] katyhuff commented on #1161
@whedon assign @myousefi2016 as reviewer

[2019-01-08 23:18] whedon commented on #1161
OK, the reviewer is @myousefi2016

[2019-01-09 00:21] mdoucet commented on #1161
@katyhuff I'd be available to review this submission.

[2019-01-09 01:35] ZijieZhaoMMHW commented on #1124
Sorry for late reply, I was on flight yesterday and just back to work today. @mvdh7  Thanks for your careful review and pointed issues, I would try to address all issues this week and get back to you. @kthyng

[2019-01-09 04:10] stsievert commented on #989
Thanks for the ping @ccurtis7, and my apologies for the excessive delay.

I think this paper is coming to an acceptable state. Past the issues/PRs I've filed, I think the only blocker is verification of the CloudKnot parallelization claims. I'll try to do that this weekend.

[2019-01-09 05:53] r-barnes commented on #1153
@ybayle : I haven't reviewed for JOSS before, but I'm generally game to give it a go. From a quick glance at your repository I don't see the evolutionary biology tie-in; however, I do a fair amount of computational science, so this likely wouldn't prevent me from reviewing it.

[2019-01-09 09:01] vmagnin commented on #1109
Thank you @Kevin-Mattheus-Moerman

- [X] I have created a new release (v17.10.gtk3.22.25_1).
- [ ] Concerning the DOI, I need some time to contact my coauthor @jerryd  who is the owner of the repository. It seems he is the only one who can give Zenodo the access to the repository.

[2019-01-09 09:22] mfroeling commented on #1154
@whedon generate pdf

[2019-01-09 09:22] whedon commented on #1154
[code]

[2019-01-09 09:23] whedon commented on #1154
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01154/joss.01154/10.21105.joss.01154.pdf)

[2019-01-09 10:03] Padlina commented on #941
@Kevin-Mattheus-Moerman I finished my review and ticked all the boxes. I also gave Michael some last small suggestions. Should I do something else to finish the review process?

[2019-01-09 12:31] cMadan commented on #1155
@glemaitre, would you be interested and available to review this submission? Thank you for your consideration!

[2019-01-09 12:34] cMadan commented on #1154
@nnadeau @markus-nilsson @acolum @JoshKarpel, would you be interested and available to review this submission? Thank you for your consideration!

@Kevin-Mattheus-Moerman, thanks for the additional suggestions!

[2019-01-09 14:03] fospald commented on #1027
@ctdegroot
Can you run:
`fibergen demo/elasticity/hashin/project.xml`
`python3 -c "import fibergen; fg = fibergen.FG(); fg.run()"`
?

[2019-01-09 14:04] Ipuch commented on #927
Thank you @nicoguaro.

Unfortunately, the library have been developped only on Windows 10. We added the information in the documentation and in the README.md.

The MATLABWindow application failed to launch because of missing libraries. Install the packages which contain the following libraries: libXss.so.1`

I found two hypotheses to your issue :

- https://fr.mathworks.com/matlabcentral/answers/3

[2019-01-09 14:09] dmey commented on #1137
Hi @bryanwweber, thanks. My responses:

## Main comments
1\. and 2\. Apologies but forgot to mention that the pages were generated automatically at commits but restricted to deploy only on `master` -- this is probably why you could not see the changes but @puncan could as he was probably looking directly at the `README.md`. In any case, I have simplified the process now and only generate the html

[2019-01-09 14:56] JoshKarpel commented on #1154
@cMadan Would be happy to, although I don't know anything about MRI/QMR so I won't be able to address any related technical concerns.

[2019-01-09 15:16] kyleniemeyer commented on #1152
Thanks @Kevin-Mattheus-Moerman!

[2019-01-09 15:17] kyleniemeyer commented on #1152
@whedon add @Kevin-Mattheus-Moerman as reviewer

[2019-01-09 15:17] whedon commented on #1152
OK, @Kevin-Mattheus-Moerman is now a reviewer

[2019-01-09 15:32] kyleniemeyer commented on #1152
@IgorBaratta @CELavecchia @vijaysm would any of you be interested/available to review this as well?

[2019-01-09 16:20] arfon commented on #1161
@MikeHeiber - this @whedon feature has been a little buggy in the past - did this work for you (compiling from a named branch)?

[2019-01-09 16:23] nnadeau commented on #1154
@cMadan, unfortunately I am not available at this time.

[2019-01-09 16:31] MikeHeiber commented on #1161
@arfon Also, for my last submission a few months ago, you had to compile the paper locally to get it to work, but this time everything worked as expected on my end.

[2019-01-09 16:56] lheagy commented on #808
Hi @viktor76525, I brought this up with the editorial board and the consensus is that at a minimum, we require that there be an **objective** way to test the code. Running an example and eye-ball comparing the output to a video is a subjective test.

The reason that we require at least some objective testing is so that if you or a contributor makes a change to the code, how do you know it didn't b

[2019-01-09 17:10] lbenet commented on #1043
@tobydriscoll We have just merged https://github.com/JuliaDiff/TaylorSeries.jl/pull/188, which addresses your comments.

The concrete changes are the following:
- We added links to other Julia packages related to automatic differentiation in the documentation.
- We are not exporting any more `gradient`, `jacobian`, `hessian`, `jacobian!` and `hessian!` as suggested. A new version will be released

[2019-01-09 17:24] bryanwweber commented on #1137
@dmey Thank you, all of it looks good to me.

@kyleniemeyer I'm :+1: to accept this.

[2019-01-09 17:39] kyleniemeyer commented on #1137
Thanks @bryanwweber!

@puncan do you have any remaining issues?

[2019-01-09 17:44] dmey commented on #1137
@bryanwweber thanks again for your time and useful comments.

@kyleniemeyer when the changes are finalised, please can you let me know if I should merge the `dmey/paper` branch to `master` and create releases for the new version. Thanks

[2019-01-09 18:47] ybayle commented on #1153
Thanks!
@Kevin-Mattheus-Moerman, do you agree to add @r-barnes as the first reviewer?

[2019-01-09 19:14] puncan commented on #1137
@kyleniemeyer I do not. I think it is good to go.

[2019-01-09 19:18] thewtex commented on #1063
@cMadan I believe all review items are now complete!

[2019-01-09 19:19] lheagy commented on #990
Hi @laempy: overall, this is looking good! I just have a few comments with respect to the installation and including easy pointers to an example (preferably with a plot) in the README and / or documentation. I have outlined these in issues 8, 9, and 10. Please ping when you have addressed these and I can take another look.

[2019-01-09 20:04] jedbrown commented on #1089
@xirdneh @jaynanavati :wave: Would either of you be available to review this submission from the angle of web development and extensibility for new research purposes? Your review would be in addition to a domain expert who is familiar with web development, but has limited resources to evaluate those aspects of this software. I anticipate some conversation in the review thread to help focus your ef

[2019-01-09 20:13] kyleniemeyer commented on #1137
@dmey alright, looks good to me. Please merge the paper branch, create a new release, deposit in Zenodo for a DOI, and report the DOI here.

[2019-01-09 20:47] jasonclark commented on #943
Was hoping to keep @sonal-raj on this review after the holidays. I'm going to set up review now. @sonal-raj if you have questions or limited availability. Please let me know.

[2019-01-09 21:55] acolum commented on #1154
@cMadan Thank you for tagging me, but I'm also not available at this time.

[2019-01-09 22:32] sjvrijn commented on #1147
A few small comments so far @ianhbell:
 - The version in setup.py is still listed as 0.0.0 rather than 1.0.0
 - Installation worked fine through both methods, but I initially tried to install the listed dependencies separately before later realizing that they are automatically installed already. Might be worth mentioning in the Readme?
 - the doi for the 2006 paper is missing in the .bib file: 10.

[2019-01-10 02:59] ZijieZhaoMMHW commented on #1124
@whedon generate pdf

[2019-01-10 02:59] whedon commented on #1124
[code]

[2019-01-10 02:59] whedon commented on #1124
PDF failed to compile for issue #1124 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    266      0 --:--:-- --:--:-- --:--:--   271
Error reading bib

[2019-01-10 03:00] ZijieZhaoMMHW commented on #1124
@whedon generate pdf

[2019-01-10 03:00] whedon commented on #1124
[code]

[2019-01-10 03:01] whedon commented on #1124
PDF failed to compile for issue #1124 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    16    0    16    0     0    173      0 --:--:-- --:--:-- --:--:--   173
Error reading bib

[2019-01-10 03:12] ZijieZhaoMMHW commented on #1124
@whedon generate pdf

[2019-01-10 03:12] whedon commented on #1124
[code]

[2019-01-10 03:12] whedon commented on #1124
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01124/joss.01124/10.21105.joss.01124.pdf)

[2019-01-10 03:39] ZijieZhaoMMHW commented on #1124
@whedon generate pdf

[2019-01-10 03:39] whedon commented on #1124
[code]

[2019-01-10 03:40] whedon commented on #1124
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01124/joss.01124/10.21105.joss.01124.pdf)

[2019-01-10 05:44] ZijieZhaoMMHW commented on #1124
Hi @mvdh7  I have responded all issues. Please see if you are ok with it.

[2019-01-10 09:46] cMadan commented on #1154
@JoshKarpel, thanks for letting me know! I might still include you as a reviewer, depending who else we get (e.g., someone who knows MRI well but not Mathematica).

@nnadeau @acolum, no problem, thank you for considering!

[2019-01-10 09:49] laempy commented on #990
@lheagy thank you very much for these suggestions. I will take a look at the details as soon as possible. Regarding the installation issue: In the README is a typo. `conda install -c laempy pyoints` should work.

[2019-01-10 09:49] cMadan commented on #1063
@thewtex, great, thank you for all your work in reviewing this!

@plooney, I will do a final proof to make sure everything looks good and comment again shortly.

[2019-01-10 11:48] Kevin-Mattheus-Moerman commented on #1153
@whedon add @r-barnes as reviewer

[2019-01-10 11:48] whedon commented on #1153
OK, @r-barnes is now a reviewer

[2019-01-10 15:37] Kevin-Mattheus-Moerman commented on #1151
@whedon add @chrisrichardson as reviewer

[2019-01-10 15:37] whedon commented on #1151
OK, @chrisrichardson is now a reviewer

[2019-01-10 15:38] Kevin-Mattheus-Moerman commented on #1151
Thanks @chrisrichardson for agreeing to review this work. This is a pre-review issue. Once I find more reviewers I'll open the formal review issue where the review will take place.

[2019-01-10 15:39] Kevin-Mattheus-Moerman commented on #1151
@garth-wells is this something you could review for the Journal of Open Source Software? Thanks.

[2019-01-10 17:30] ctdegroot commented on #1027
@fospald First command results in:

[code]

Second command results in:

[code]

Let me know if you want to keep trying on Mac. I can finish the review on Linux if you want.

[2019-01-10 22:18] damaggu commented on #1039
@effigies @TheChymera Yeah, I'd be happy to help.

[2019-01-11 03:35] igarizio commented on #1111
@whedon generate pdf

[2019-01-11 03:35] whedon commented on #1111
[code]

[2019-01-11 03:35] whedon commented on #1111
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01111/joss.01111/10.21105.joss.01111.pdf)

[2019-01-11 11:36] fospald commented on #1027
@ctdegroot This seems to be an installation/search path issue for libpython3.
https://github.com/pre-commit/pre-commit/issues/618
You can finish the review on Linux if you want.

[2019-01-11 11:48] plooney commented on #1063
@cMadan I have deposited it on Zenodo. The DOI is

DOI: 10.5281/zenodo.2537876

[2019-01-11 11:49] plooney commented on #1063
I changed the tag to v1.1 to include the latest commit with all the responses to the review.

[2019-01-11 11:53] cMadan commented on #1063
@whedon set v1.1 as version

[2019-01-11 11:53] whedon commented on #1063
OK. v1.1 is the version.

[2019-01-11 11:54] cMadan commented on #1063
@whedon set 10.5281/zenodo.2537876 as archive

[2019-01-11 11:54] whedon commented on #1063
OK. <a href="https://doi.org/10.5281/zenodo.2537876" target="_blank">10.5281/zenodo.2537876</a> is the archive.

[2019-01-11 11:56] cMadan commented on #1063
@whedon accept

[2019-01-11 11:56] whedon commented on #1063
[code]

[2019-01-11 11:56] whedon commented on #1063
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/429

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/429, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-01-11 11:58] cMadan commented on #1063
@whedon accept deposit=true

[2019-01-11 11:58] whedon commented on #1063
I'm sorry @cMadan, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.