[2017-12-07 20:59] whedon commented on #489
[code]

[2017-12-07 21:01] arfon commented on #448
@wkearn - many thanks for your review here and to @kyleniemeyer for editing this submission ✨

@mlep - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00448 ⚡️ 🚀 💥

[2017-12-07 21:01] #448 closed

[2017-12-07 21:01] whedon commented on #448
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00448/status.svg)](https://doi.org/10.21105/joss.00448)

**We need your help!**

Journal of Open Source Software

[2017-12-07 21:19] arfon commented on #485
@whedon assign @arfon as editor

[2017-12-07 21:19] whedon commented on #485
OK, the editor is @arfon

[2017-12-07 21:20] arfon commented on #485
@whedon assign @arghdos as reviewer

[2017-12-07 21:20] whedon commented on #485
OK, the reviewer is @arghdos

[2017-12-07 21:20] arfon commented on #485
@whedon start review magic-word=bananas

[2017-12-07 21:20] #485 closed

[2017-12-07 21:20] whedon opened #490 "[REVIEW]: pyodesys: Straightforward numerical integration of ODE systems from Python"
**Submitting author:** @bjodah (<a href="http://orcid.org/0000-0003-0596-0222">Björn Dahlgren</a>)
**Repository:** <a href="https://github.com/bjodah/pyodesys" target ="_blank">https://github.com/bjodah/pyodesys</a>
**Version:** v0.11.5
**Editor:** @arfon
**Reviewer:** @arghdos
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1134944" target="_blank">10.5281/zenodo.1134944</a>

## Status

[!

[2017-12-07 21:20] whedon commented on #485
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/490. Feel free to close this issue now!

[2017-12-07 21:20] whedon commented on #490
[code]

[2017-12-07 21:20] arfon commented on #485
@arghdos - please head over to #490 to carry out the actual review.

[2017-12-07 21:21] whedon commented on #490
[code]

[2017-12-07 21:26] whedon commented on #489
[code]

[2017-12-07 22:30] bjodah commented on #490
@whedon generate pdf

[2017-12-07 22:30] whedon commented on #490
[code]

[2017-12-07 22:30] whedon commented on #490
[code]

[2017-12-08 00:57] whedon opened #491 "[PRE REVIEW]: Vizualizing DNA sequence co-linearity with xmatchview"
**Submitting author:** @warrenlr (<a href="http://orcid.org/0000-0002-9890-2293">Rene L. Warren</a>)
**Repository:** <a href="https://github.com/warrenlr/xmatchview" target ="_blank">https://github.com/warrenlr/xmatchview</a>
**Version:** v0.3
**Editor:** @mgymrek
**Reviewer:** @nmmsv

**Author instructions**

Thanks for submitting your paper to JOSS @warrenlr. The JOSS editor (shown at the top of

[2017-12-08 00:57] whedon commented on #491
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-08 00:57] whedon commented on #491
[code]

[2017-12-08 00:57] whedon commented on #491
[code]

[2017-12-08 00:59] arfon commented on #491
@warrenlr - looks like there's a minor issue with your `paper.md` file, I've fixed it up here: https://github.com/warrenlr/xmatchview/pull/1

[2017-12-08 04:56] rraadd88 commented on #362
@afrubin - thank you very much for the careful review and nice suggestions.
@tracykteal - thank you for editing the submission and
@arfon (@whedon) - thanks for the streamlined publishing.

[2017-12-08 08:59] mlep commented on #448
@kyleniemeyer @arfon @wkearn: Thank you for managing JOSS editorial process.

[2017-12-08 09:49] aokad commented on #457
@arfon, thank you, I'll contact you as soon as I finish reviewing.

[2017-12-08 14:45] cMadan commented on #217
@whedon generate pdf

[2017-12-08 14:45] whedon commented on #217
[code]

[2017-12-08 14:45] whedon commented on #217
[code]

[2017-12-08 14:54] Kevin-Mattheus-Moerman commented on #217
@cMadan I've just ticked that last box and recommend that we accept this submission.

@daviddoria Do you have any remaining comments?

[2017-12-08 15:12] warrenlr commented on #491
thank you @arfon, I merged your fixed version

[2017-12-08 15:16] warrenlr commented on #491
@whedon commands

[2017-12-08 15:16] whedon commented on #491
Here are some things you can ask me to do:

[code]

[2017-12-08 15:17] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 15:17] whedon commented on #491
[code]

[2017-12-08 15:17] whedon commented on #491
[code]

[2017-12-08 15:20] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 15:20] whedon commented on #491
[code]

[2017-12-08 15:20] whedon commented on #491
[code]

[2017-12-08 15:25] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 15:25] whedon commented on #491
[code]

[2017-12-08 15:25] whedon commented on #491
[code]

[2017-12-08 15:31] arfon commented on #491
@warrenlr - there were a couple more issues with your paper and bibtex. I've got the paper to compile cleanly with these changes: https://github.com/warrenlr/xmatchview/pull/2

[2017-12-08 15:32] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 15:32] whedon commented on #491
[code]

[2017-12-08 15:32] whedon commented on #491
[code]

[2017-12-08 15:33] warrenlr commented on #491
oh, great, just saw your message.. will merge this back

[2017-12-08 15:46] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 15:46] whedon commented on #491
[code]

[2017-12-08 15:46] whedon commented on #491
[code]

[2017-12-08 15:51] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 15:51] whedon commented on #491
[code]

[2017-12-08 16:01] warrenlr commented on #491
hello @arfon, I want to recompile the pdf. It seems stuck.

[2017-12-08 16:02] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 16:02] whedon commented on #491
[code]

[2017-12-08 16:04] arfon commented on #491
@warrenlr - it looks like this is failing as the PDF is large and we can't use the GitHub API in the way I'm currently doing with the Whedon bot.

Here is the compiled PDF:

[10.21105.joss.00491.pdf](https://github.com/openjournals/joss-reviews/files/1543159/10.21105.joss.00491.pdf)

[2017-12-08 16:06] whedon commented on #491
[code]

[2017-12-08 16:09] warrenlr commented on #491
great.. looks good except for possible issue with the Coombe et al citation and reference.  I have re-committed a version with minor edits.

[2017-12-08 16:12] Kevin-Mattheus-Moerman commented on #299
@kippkitts can you give an indication as to when you will start the review process here? Alternatively can you recommend another reviewer?

[2017-12-08 16:12] warrenlr commented on #491
otherwise, it's good to go for review.

[2017-12-08 16:15] warrenlr commented on #491
I will attempt to rebuild one last time  @arfon.

@whedon generate pdf

[2017-12-08 16:16] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 16:16] whedon commented on #491
[code]

[2017-12-08 16:19] arfon commented on #491
@warrenlr - I've compiled this again locally [10.21105.joss.00491.pdf](https://github.com/openjournals/joss-reviews/files/1543202/10.21105.joss.00491.pdf)

[2017-12-08 16:19] whedon commented on #491
[code]

[2017-12-08 16:21] warrenlr commented on #491
thank you @arfon. Still not sure why the Coomb reference is messed up.  The BibTex look ok to me

[2017-12-08 16:22] arfon commented on #491
@warrenlr - What's wrong with the way this is formatted?

[2017-12-08 16:29] warrenlr commented on #491
it shows:
Coombe, Rene L. AND Jackman, Lauren AND Warren. 2016. “Assembly of the Com- plete Sitka Spruce Chloroplast Genome Using 10x Genomics Gemcode Sequencing Data.” PLOS ONE 11 (9). Public Library of Science: 1–13. doi:10.1371/journal.pone.0163059.

but should be:

Coombe, Lauren AND Warren Rene L. AND Jackman, Shaun AND Yang, Chen AND Vandervalk, Benjamin P. AND Moore, Richard A. AND Pleasanc

[2017-12-08 16:34] arfon commented on #491
Does this look better? [10.21105.joss.00491.pdf](https://github.com/openjournals/joss-reviews/files/1543250/10.21105.joss.00491.pdf)

[2017-12-08 16:37] warrenlr commented on #491
yes, that works @arfon. ready to proceed to next steps.

[2017-12-08 16:40] Kevin-Mattheus-Moerman commented on #299
@whedon generate pdf

[2017-12-08 16:40] whedon commented on #299
[code]

[2017-12-08 16:40] whedon commented on #299
[code]

[2017-12-08 16:42] Kevin-Mattheus-Moerman commented on #299
@arfon, do the authors need to change the repo to this link: https://github.com/lab-measurement/Lab-Measurement and put the paper.md and paper.bib in a paper folder?

[2017-12-08 16:45] arfon commented on #491
@warrenlr - this is the fix I made: https://github.com/warrenlr/xmatchview/pull/3

[2017-12-08 16:47] Kevin-Mattheus-Moerman commented on #299
​:hand: @geggo @hgrecco @MatthieuDartiailh @mikef5410 are you interested in this software and are you able to assist with review this submission for [JOSS](http://joss.theoj.org/about) (an academic journal for open source software).
The review process (see the [review quidelines](http://joss.theoj.org/about#reviewer_guidelines)) largely focuses on the software, but also on [a short paper](https://

[2017-12-08 17:01] Kevin-Mattheus-Moerman commented on #472
@CristianaCorsi how are you getting on? Let me know if I can help with anything.

[2017-12-08 17:03] Kevin-Mattheus-Moerman commented on #478
Hey Lucas @lgeiger, is this your cup of tea? Are you able to review this submission for JOSS?

[2017-12-08 17:04] CristianaCorsi commented on #472
Hi. I downloaded all the material. I hope I will be able to provide the review in ten days. If I need help I will let you know. Thank you!

[2017-12-08 17:05] Kevin-Mattheus-Moerman commented on #478
@dwhitena our system has not detected your paper.md and paper.bib files. Can you please add these to your repository [as per our guidelines](http://joss.theoj.org/about#author_guidelines). Thanks

[2017-12-08 17:11] daviddoria commented on #217
@Kevin-Mattheus-Moerman  Nope - all good on my end!

[2017-12-08 17:15] Kevin-Mattheus-Moerman commented on #472
@CristianaCorsi thanks for the update! Our review guidelines are [here](http://joss.theoj.org/about#reviewer_guidelines) and you can find the tick-boxes at the top of this issue. Thanks for your help reviewing!

[2017-12-08 17:15] dwhitena commented on #478
@Kevin-Mattheus-Moerman Oh yeah, thanks for the quick feedback. I will get this resolved asap. Sorry for the delay.

[2017-12-08 17:17] geggo commented on #299
Sorry, I have zero experience with Perl, but forwarded your message to a colleague with expertise in Perl / instrument control.

Gregor

[2017-12-08 17:26] MatthieuDartiailh commented on #299
@Kevin-Mattheus-Moerman, I am sorry but I must decline. I am in principle interested in software assisted measurement, but I have no experience in PERL and I have no time to run the tests involved in the review process. I will let you know should I find time to perform part of the review (documentation) but I can make no promise.

[2017-12-08 18:03] PabloGGaray commented on #488
I made the change, I suppose you have to compile the `paper.md` again for the review, thanks.

[2017-12-08 18:47] Kevin-Mattheus-Moerman commented on #299
Thanks @geggo that is really helpful. Let me know if they have questions.

[2017-12-08 18:48] Kevin-Mattheus-Moerman commented on #299
Thanks for your response @MatthieuDartiailh I understand. It seems there are very few people that do PERL with instrumentation/measurement.

[2017-12-08 19:20] cMadan commented on #217
@arfon, I think we're all set to accept!

@Kevin-Mattheus-Moerman and @daviddoria, thank you both for your thorough reviews of this submission!

[2017-12-08 20:34] arfon commented on #217
@schmeisser - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2017-12-08 20:49] Kevin-Mattheus-Moerman commented on #217
Looks like its here: [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1095608.svg)](https://doi.org/10.5281/zenodo.1095608) from December 7th when they minted v1.0.0

[2017-12-08 21:11] arfon commented on #217
@whedon set 10.5281/zenodo.1095608 as archive

[2017-12-08 21:11] whedon commented on #217
OK. <a href="http://dx.doi.org/10.5281/zenodo.1095608" target="_blank">10.5281/zenodo.1095608</a> is the archive.

[2017-12-08 21:58] arfon commented on #217
@Kevin-Mattheus-Moerman @schmeisser - thanks for your review here and thanks to @cMadan for editing this submission ✨

@schmeisser - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00217 ⚡️ 🚀 💥

[2017-12-08 21:58] #217 closed

[2017-12-08 21:58] whedon commented on #217
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00217/status.svg)](https://doi.org/10.21105/joss.00217)

**We need your help!**

Journal of Open Source Software

[2017-12-08 23:29] warrenlr commented on #491
@arfon, I have made minor edits to the figures.  Could we please rebuild?  Thanks!

[2017-12-08 23:29] warrenlr commented on #491
@whedon generate pdf

[2017-12-08 23:29] whedon commented on #491
[code]

[2017-12-09 03:15] arfon commented on #491
@whedon generate pdf

[2017-12-09 03:15] whedon commented on #491
[code]

[2017-12-09 03:16] whedon commented on #491
[code]

[2017-12-09 03:23] whedon commented on #491
[code]

[2017-12-09 04:08] whedon commented on #491
[code]

[2017-12-09 09:05] tupui commented on #476
Hi @arfon, wanted to check on the status of our paper. Still no editor but one reviewer I proposed seems OK to review. So can the review start in the meantime an editor gets assigned?

[2017-12-09 11:45] arfon commented on #476
👋 @jakevdp and @karthik - would one of you be willing to edit this submission for JOSS?

[2017-12-09 11:47] whedon opened #492 "[PRE REVIEW]: nlsLoop - An R package Providing Methods for Finding the Best Estimated Fits for Non-Least Squares Regression over the Level of a Factor"
**Submitting author:** @padpadpadpad (<a href="http://orcid.org/0000-0001-6799-9670">Daniel Padfield</a>)
**Repository:** <a href="https://github.com/padpadpadpad/nlsLoop" target ="_blank">https://github.com/padpadpadpad/nlsLoop</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @padpadpadpad. The JOSS editor (shown

[2017-12-09 11:47] whedon commented on #492
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-09 11:47] whedon commented on #492
[code]

[2017-12-09 11:47] whedon commented on #492
[code]

[2017-12-09 11:48] arfon commented on #491
@pjotrp @mgymrek @biorelated - would one of you be willing to edit this submission for JOSS?

[2017-12-09 11:49] arfon commented on #488
@whedon generate pdf

[2017-12-09 11:49] whedon commented on #488
[code]

[2017-12-09 11:49] whedon commented on #488
[code]

[2017-12-09 11:52] arfon commented on #492
@whedon generate pdf

[2017-12-09 11:52] whedon commented on #492
[code]

[2017-12-09 11:52] whedon commented on #492
[code]

[2017-12-09 11:52] arfon commented on #492
@padpadpadpad  - Could you move the references you currently have in the `paper.md` file into a `paper.bib` file and cite them directly please? (You can read how to do that [here](http://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html))

[2017-12-09 11:55] arfon commented on #113
@chenjqp - are you still interested in pursing this publication?

[2017-12-09 11:59] arfon commented on #346
OK great. I'm going to close this issue now. Please keep an eye on http://jose.theoj.org for when they might be open for submissions.

[2017-12-09 11:59] #346 closed

[2017-12-09 12:00] arfon commented on #378
@biorelated - how are you getting along finding a reviewer for this submission?

[2017-12-09 12:16] arfon commented on #398
@bmorris3 - did you decide what you want to do here?

[2017-12-09 12:37] tupui commented on #476
@arfon - OK, will want then.Tthank you for asking other editors.

[2017-12-09 16:44] bmorris3 commented on #398
@arfon After some discussion with the co-authors we've decided to submit elsewhere. But my next JOSS submission shouldn't be too far behind. Thanks again!

[2017-12-09 17:36] padpadpadpad commented on #492
@whedon commands

[2017-12-09 17:36] whedon commented on #492
Here are some things you can ask me to do:

[code]

[2017-12-09 17:38] padpadpadpad commented on #492
Hello @arfon. I am super sorry about this. I had a somewhat eureka moment the night after submitting this package that I could do it a completely different way. This is after doing it the same way for the last 2 years and tidying up the GitHub repository for a submission to JOSS. Could I please withdraw the submission and come back to you in the near future.

Sorry for wasting your time.
Many than

[2017-12-09 18:36] arfon commented on #492
@padpadpadpad - sure thing. No problem. I'll withdraw this submission on your behalf :-)

[2017-12-09 18:36] #492 closed

[2017-12-09 18:37] arfon commented on #398
No problem :-)

[2017-12-09 18:37] #398 closed

[2017-12-09 18:38] arfon commented on #416
@whedon commands

[2017-12-09 18:38] whedon commented on #416
Here are some things you can ask me to do:

[code]

[2017-12-09 18:38] arfon commented on #416
@whedon list reviewers

[2017-12-09 18:38] whedon commented on #416
Here's the current list of reviewers: http://joss.theoj.org/reviewer-signup.html

[2017-12-09 18:39] arfon commented on #416
@leeper - did you look through the people in https://bit.ly/joss-reviewers ?

[2017-12-09 18:43] arfon commented on #444
@lheagy - would you be willing to edit this submission for JOSS?

[2017-12-09 18:44] arfon commented on #468
@whedon assign @arfon as editor

[2017-12-09 18:44] whedon commented on #468
OK, the editor is @arfon

[2017-12-09 18:45] arfon commented on #468
@joezuntz - would you be willing to review this submission for JOSS? You can read more about what's involved here: http://joss.theoj.org/about#reviewer_guidelines

[2017-12-09 18:46] arfon commented on #476
@katyhuff - would you be willing to edit this submission for JOSS?

[2017-12-09 18:49] arfon commented on #484
@brainstorm @biorelated @mgymrek @pjotrp - would one of your be willing to edit this submission for JOSS?

[2017-12-09 18:50] katyhuff commented on #476
@whedon assign @katyhuff as editor

[2017-12-09 18:50] whedon commented on #476
OK, the editor is @katyhuff

[2017-12-09 18:53] padpadpadpad commented on #492
Thank you very much.

[2017-12-09 19:03] katyhuff commented on #476
@mikeckennedy Are you interested in and able to review this publication? (and can you confirm that you have no conflicts of interest in doing so?)

[2017-12-09 19:16] pragyansmita commented on #416
I can review this.

[2017-12-09 21:14] mikeckennedy commented on #476
Hi @katyhuff. Sounds interesting and I'd like to help. What are the responsibilities of a reviewer?

I have no conflicts of interest as far as I know.

Best,
Michael

[2017-12-10 01:28] labarba commented on #465
Hi @SylvainCorlay — ping! Gentle reminder here about the review for JOSS. You can start on it, and report any issues you encounter right here (or post issues on the repo of the submitted software). Cheers!

[2017-12-10 01:31] labarba commented on #394
hi @weymouth — checking in for the status of this review: are you working on improvements? or do you have responses here to the reviewers comments regarding mods you're not doing?

[2017-12-10 11:18] dseuss commented on #465
After the submission, we noted a compatibility bug in the `setup.py` that prevents v1.0.0 to be installed with Python2. Could we bump the refereed version to v1.0.1.

[2017-12-10 14:31] katyhuff commented on #476
Great @mikeckennedy ! This guide is helpful to understand the reviewer process: http://joss.theoj.org/about#reviewer_guidelines  Basically, you're expected to download the code, review it's documentation, try to run the examples, try to evaluate whether it does what it says it does, and a few simple other things on our checklist. Ideally, this should only take a few hours, and should be done quick

[2017-12-10 14:35] scollis commented on #476
Hey team.. I saw my mention here.. I am new :) So this basically means I am on a list of *potential* reviewers? ie I don't need to do anything :)

[2017-12-10 14:52] labarba commented on #465
I don't see a problem with that, @dseuss—thanks for the update.

[2017-12-10 16:18] katyhuff commented on #476
@scollis If you're interested in reviewing also, that would be great. Two reviewers is better than one. As I mentioned to @mikeckennedy , this guide is helpful to understand the reviewer process: http://joss.theoj.org/about#reviewer_guidelines Basically, you're expected to download the code, review it's documentation, try to run the examples, try to evaluate whether it does what it says it does, a

[2017-12-10 16:47] SylvainCorlay commented on #465
Same here.

[2017-12-10 18:46] scollis commented on #476
I had a look at the review guide. Nicely put together. You make it very clear what is expected of reviewers. Typically what is the turn around time?

[2017-12-10 18:58] mikeckennedy commented on #476
Thanks @katyhuff  I think I'm probably in. How quickly do you need the review?

[2017-12-10 21:42] marksantcroos commented on #437
I updated iljah/hdintegrator#10 and iljah/hdintegrator#12, and added a new iljah/hdintegrator#13.

[2017-12-10 22:33] weymouth commented on #394
Sorry for dropping off the radar for a while. I tried (and failed) twice to incorporate the suggested organizational changes to the project. Both attempts significantly hampered the development workflow for anything other than the "main trunk" of the project, and I ended up having to revert back to the current organization and redo the development.

I gave this a solid try since I can completely s

[2017-12-10 23:25] arfon commented on #478
@arokem - would you be willing to edit this submission for JOSS?

[2017-12-10 23:49] arfon commented on #445
:wave: @nelkibs are you still able to review this submission for us?

[2017-12-11 02:28] chenjqp commented on #113
@arfon my sincerest apologies. yes, i am. i have made some changes to include a demo site on Heroku, details are on the 'Overview' page. However, I'm still working on a proper start script.

Sorry for the delay. Can i reopen this at a later time?

[2017-12-11 03:31] katyhuff commented on #476
Hi both (@scollis and @mikeckennedy ), thanks for being willing. Ideally, the turn around time should be a week or two. In practice, there is a long tail to the distribution. I recognize we are coming upon the holiday season, but if you could aim to have it done in the next few weeks, that would be great. I'm going to start the review process.

[2017-12-11 03:31] katyhuff commented on #476
@whedon assign @mikeckennedy as reviewer.

[2017-12-11 03:31] whedon commented on #476
OK, the reviewer is @mikeckennedy

[2017-12-11 03:32] katyhuff commented on #476
@whedon assign @scollis as reviewer

[2017-12-11 03:32] whedon commented on #476
OK, the reviewer is @scollis

[2017-12-11 03:32] katyhuff commented on #476
@whedon assign @mikeckennedy as reviewer

[2017-12-11 03:32] whedon commented on #476
OK, the reviewer is @mikeckennedy

[2017-12-11 03:32] katyhuff commented on #476
@whedon start review

[2017-12-11 03:32] whedon commented on #476
You didn't say the magic word! Try this:

[code]

[2017-12-11 03:34] katyhuff commented on #476
@whedon start review magic-word=bananas

[2017-12-11 03:34] whedon commented on #476
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/493. Feel free to close this issue now!

[2017-12-11 03:34] whedon opened #493 "[REVIEW]: BATMAN: Statistical analysis for expensive computer codes made easy"
**Submitting author:** @tupui (<a href="http://orcid.org/0000-0001-9816-1416">Pamphile ROY</a>)
**Repository:** <a href="https://gitlab.com/cerfacs/batman" target ="_blank">https://gitlab.com/cerfacs/batman</a>
**Version:** v1.7
**Editor:** @katyhuff
**Reviewer:** @mikeckennedy
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1163545" target="_blank">10.5281/zenodo.1163545</a>

## Status

[!

[2017-12-11 03:34] whedon commented on #493
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @mikeckennedy it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2017-12-11 03:34] whedon commented on #493
[code]

[2017-12-11 03:34] whedon commented on #493
[code]

[2017-12-11 03:35] katyhuff commented on #476
@tupui , the review will happen over in separate issue, #493. @scollis and @mikeckennedy will both review.

[2017-12-11 03:39] katyhuff commented on #493
@scollis please note that Joss isn't great at handling multiple reviewers at the moment. I still would love to have your review on this paper. The checklist above is for the other reviewer. Please use this one, below, for your review.

@scollis, please carry out your review in this issue by updating the checklist below. If you cannot edit the checklist please:
1. Make sure you're logged in to your

[2017-12-11 04:23] biorelated commented on #378
@arfon @boydgreenfield @bovee  My sincere apologies for this delay. I have not had a reviewer for this. I am happy for another editor to take it. Meanwhile I will contact a couple more reviewers. Thanks.

[2017-12-11 04:25] warrenlr commented on #491
just noticed duplicated text. I have removed it and I'm now rebuilding.

[2017-12-11 04:25] warrenlr commented on #491
@whedon generate pdf

[2017-12-11 04:25] whedon commented on #491
[code]

[2017-12-11 04:26] whedon commented on #491
[code]

[2017-12-11 04:33] warrenlr commented on #491
@whedon generate pdf

[2017-12-11 04:33] whedon commented on #491
[code]

[2017-12-11 04:34] whedon commented on #491
[code]

[2017-12-11 07:39] biorelated commented on #378
@whedon list reviewers

[2017-12-11 07:39] whedon commented on #378
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2017-12-11 07:44] biorelated commented on #378
@HadrienG @JaroslavHron Would you mind reviewing this publication us?
Thank you.

[2017-12-11 07:47] tupui commented on #476
Thank you @katyhuff, @mikeckennedy and @scollis for accepting to handle our paper. If you have any question, I will be happy to help! We are actively developing the package. So as suggested by JOSS, do not hesitate to create issues in our bug tracker.

[2017-12-11 09:03] dseuss commented on #465
Does that mean 1.0.1 doesn't work for you either?

[2017-12-11 09:07] SylvainCorlay commented on #465
Absolutely! Pardon my brevity.

[2017-12-11 09:50] SylvainCorlay commented on #465
Note: I checked the box regarding the matched version. I don't know if it matters that the generated issue specifies 1.0.0

[2017-12-11 09:52] iljah commented on #437
Thanks, fixed 10 and 12 but I need more info for 13 because the command that failed for you worked for me.

[2017-12-11 10:15] SylvainCorlay commented on #465
As I am going through the checklist:

I found that there is a DOI for the reference **Enabling High-Dimensional Hierarchical Uncertainty Quantification by ANOVA and Tensor-Train Decomposition*.

[2017-12-11 11:25] dseuss commented on #465
@SylvainCorlay Thanks for the feedback.

Added DOI and updated arXiv references for another paper  in `a3aaaf5`

Done.

Right, I recalled that we had to manually install test dependencies on travis for that reason. I have added a note to the README as well as to the [documentation](http://mpnum.readthedocs.io/en/latest/devel.html). (The latter should appear once readthedocs renders the new version

[2017-12-11 12:18] joezuntz commented on #468
@arfon Sure, I'd be happy to referee this.  What timescale do you usually ask for?  I probably couldn't complete this before the holidays.

[2017-12-11 13:29] dvalters commented on #298
I am nearly finished with the 2nd review - apologies for delay, will complete today - don't foresee any problems though, agree with @scopatz's review.

[2017-12-11 14:33] arfon commented on #468
👍 thanks. Sometime early in the new year would be completely fine.

[2017-12-11 14:33] arfon commented on #468
@whedon assign @joezuntz as reviewer

[2017-12-11 14:33] whedon commented on #468
OK, the reviewer is @joezuntz

[2017-12-11 14:35] SylvainCorlay commented on #465
I could install, run the tests, and the example notebook. The whole process was straightforward. The need for the package is properly justified and prior work appropriately cited. Documentation includes both high-level narrative documentation introducing the package and an API reference generated from the doc strings (although a few items are left as todo).

1) Quick note about the example noteboo

[2017-12-11 14:37] arfon commented on #468
@whedon start review magic-word=bananas

[2017-12-11 14:37] whedon commented on #468
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/494. Feel free to close this issue now!

[2017-12-11 14:37] whedon opened #494 "[REVIEW]: PyTransport: A Python package for the calculation of inﬂationary correlation functions"
**Submitting author:** @jronayne (<a href="http://orcid.org/0000-0001-6464-6466">John Ronayne</a>)
**Repository:** <a href="https://github.com/jronayne/PyTransport" target ="_blank">https://github.com/jronayne/PyTransport</a>
**Version:** v2.0.0
**Editor:** @arfon
**Reviewer:** @joezuntz
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1209239" target="_blank">10.5281/zenodo.1209239</a>

##

[2017-12-11 14:37] whedon commented on #494
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @joezuntz it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2017-12-11 14:37] whedon commented on #494
[code]

[2017-12-11 14:38] whedon commented on #494
[code]

[2017-12-11 14:39] arfon commented on #468
@joezuntz - please head over to #494 when you get a chance.

[2017-12-11 14:39] #468 closed

[2017-12-11 14:52] arfon commented on #113
Sure, we can withdraw this submission for now if you like and you can re-submit in the future sometime when you're ready?

[2017-12-11 16:18] joezuntz commented on #494
@whedon commands

[2017-12-11 16:18] whedon commented on #494
Here are some things you can ask me to do:

[code]

[2017-12-11 16:45] lheagy commented on #440
thanks @bjmorgan.

👋 @jochym, @tacaswell: have you had a chance to look at the examples?

[2017-12-11 16:46] arokem commented on #478
Yeah - I will edit this!

[2017-12-11 16:47] arokem commented on #478
@whedon assign @arokem as editor

[2017-12-11 16:47] whedon commented on #478
OK, the editor is @arokem

[2017-12-11 16:48] arokem commented on #478
@dwhitena : do you have any suggestions for reviewers?

[2017-12-11 16:48] lheagy commented on #444
@arfon, @jarvist: this is outside of my background, but I am happy to help.

[2017-12-11 17:03] arfon commented on #444
@lheagy - many thanks. Perhaps we could try and find two reviewers here?

[2017-12-11 17:04] arfon commented on #444
@whedon assign @lheagy as editor

[2017-12-11 17:04] whedon commented on #444
OK, the editor is @lheagy

[2017-12-11 17:09] warrenlr commented on #491
last version before review.  I made change to fig3 to best show the utility of the tool

[2017-12-11 17:09] warrenlr commented on #491
@whedon generate pdf

[2017-12-11 17:09] whedon commented on #491
[code]

[2017-12-11 17:10] whedon commented on #491
[code]

[2017-12-11 17:16] warrenlr commented on #491
this is a big file (fig 3 is now several Mb)

[2017-12-11 17:16] warrenlr commented on #491
@whedon generate pdf

[2017-12-11 17:16] whedon commented on #491
[code]

[2017-12-11 17:16] lheagy commented on #444
@jarvist: I have looked through the paper and briefly through your software. I have a couple suggestions before we send it out for review.

## Paper
- [ ] the paper is quite technical, do you have a couple examples or applications you could discuss briefly in order to reach a wider audience?
- [ ] you can remove the "Spiel from original website below"
- [ ] citations should be in square brackets (

[2017-12-11 17:17] whedon commented on #491
[code]

[2017-12-11 17:29] dwhitena commented on #478
@arokem I would suggest Sebastien Binet (`sbinet`) and/or Brendan Tracey (`btracey`). I'm traveling again today, but hoping to resolve the issue with the included paper today or tomorrow morning at the latest. Thanks again!

[2017-12-11 17:40] ethanwhite commented on #451
@arfon - it looks like maybe the regeneration didn't take care of something somewhere because I just noticed that the citation on the website is for the old (incorrect) name.

![screenshot from 2017-12-11 12-40-18](https://user-images.githubusercontent.com/744427/33845154-79688204-de70-11e7-9f56-25f7cb36547f.png)

[2017-12-11 17:53] arfon commented on #451
@ethanwhite - good catch. That's fixed now.

[2017-12-11 18:01] ethanwhite commented on #451
Thanks @arfon!

[2017-12-11 18:02] arfon commented on #491
I think you've broken @whedon again :-). If the PDF takes longer to generate than 30 seconds the processing job will be killed by Heroku (where we host our servers). I've generated the PDF locally:
[10.21105.joss.00491.pdf](https://github.com/openjournals/joss-reviews/files/1548851/10.21105.joss.00491.pdf)

[2017-12-11 18:03] warrenlr commented on #491
I'm so sorry!  I won't re-generate, this looks good to me.

[2017-12-11 22:43] mgymrek commented on #491
@whedon assign @mgymrek as editor

[2017-12-11 22:44] whedon commented on #491
OK, the editor is @mgymrek

[2017-12-11 22:47] mgymrek commented on #491
Hi @warrenlr, thanks for the submission. I wanted to ask if you have any reviewers in mind you'd like to suggest?

[2017-12-11 22:53] warrenlr commented on #491
I am afraid that I don't have any reviewers in mind. I was looking at the list (https://github.com/openjournals/joss/blob/master/docs/reviewers.csv). Python/bioinformatics + genome experts will do (eg. ctb, Genomematt, rmflight, luizirber). Thank you fo handling the submission, @mgymrek.
Rene

[2017-12-11 23:22] mgymrek commented on #491
No worries, thanks for letting me know. I'll get on finding one.

[2017-12-12 00:58] chenjqp commented on #113
Yes please, i will resubmit when ready. Thank you so much!

[2017-12-12 01:11] #113 closed

[2017-12-12 02:18] aokad commented on #457
@arfon I'm sorry to bother you again, but as a result of the reconsideration, I changed the arrangement of sentences.
I'm happy if I can update the paper. The DOI of the modified version is 10.5281/zenodo.1098885.

[2017-12-12 02:19] arfon commented on #457
@whedon generate pdf

[2017-12-12 02:20] whedon commented on #457
[code]

[2017-12-12 02:20] whedon commented on #457
[code]

[2017-12-12 02:24] arfon commented on #457
@aokad - please review the [linked PDF above](https://github.com/openjournals/joss-papers/blob/joss.00457/joss.00457/10.21105.joss.00457.pdf) carefully. I would _really_ like to make this the last round of edits 🙏 😁

[2017-12-12 03:03] whedon opened #495 "[PRE REVIEW]: QPFA: A program for Estimating the Critical Moment and Associated Uncertainty in a Petroleum System"
**Submitting author:** @AdeBytes (<a href="http://orcid.org/0000-0002-9824-4358">Adewale Amosu</a>)
**Repository:** <a href="https://github.com/AdeBytes/QPFA_Package.git" target ="_blank">https://github.com/AdeBytes/QPFA_Package.git</a>
**Version:** v1.0
**Editor:** @lheagy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @AdeBytes. The JOSS editor (shown at

[2017-12-12 03:03] whedon commented on #495
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-12 03:03] whedon commented on #495
[code]

[2017-12-12 03:03] whedon opened #496 "[PRE REVIEW]: PyLogFinder: A Python Program for Graphical Geophysical Log Selection"
**Submitting author:** @AdeBytes (<a href="http://orcid.org/0000-0002-9824-4358">Adewale Amosu</a>)
**Repository:** <a href="https://github.com/AdeBytes/PyLogFinder_Package.git" target ="_blank">https://github.com/AdeBytes/PyLogFinder_Package.git</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @AdeBytes. The JOSS ed

[2017-12-12 03:03] whedon commented on #495
[code]

[2017-12-12 04:30] mgymrek commented on #491
@whedon assign @nmmsv as reviewer

[2017-12-12 04:30] whedon commented on #491
OK, the reviewer is @nmmsv

[2017-12-12 04:31] mgymrek commented on #491
@whedon start review magic-word=bananas

[2017-12-12 04:31] whedon opened #497 "[REVIEW]: Vizualizing DNA sequence co-linearity with xmatchview"
**Submitting author:** @warrenlr (<a href="http://orcid.org/0000-0002-9890-2293">Rene L. Warren</a>)
**Repository:** <a href="https://github.com/warrenlr/xmatchview" target ="_blank">https://github.com/warrenlr/xmatchview</a>
**Version:** v0.3
**Editor:** @mgymrek
**Reviewer:** @nmmsv
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/002324a31f8d2fc5101f09ef52fc2777/status.

[2017-12-12 04:31] whedon commented on #491
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/497. Feel free to close this issue now!

[2017-12-12 04:31] whedon commented on #497
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @nmmsv it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2017-12-12 04:31] whedon commented on #497
[code]

[2017-12-12 04:31] whedon commented on #497
[code]

[2017-12-12 04:31] #491 closed

[2017-12-12 04:35] mgymrek commented on #497
Thanks @nmmsv for agreeing to review!
@warrenlr @arfon it looks like there are some issues compiling the PDF. It sounds like this issue was discussed in the pre-review thread. Was this resolved?

[2017-12-12 05:43] jslee02 commented on #460
@Kevin-Mattheus-Moerman I'm not trying to involve in the reviewer matching process, but I just wonder if you saw @betatim's [comment](https://github.com/openjournals/joss-reviews/issues/460#issuecomment-345426150) above that he's interested in looking at this submission.

[2017-12-12 06:00] aokad commented on #457
@arfon, thank you very much.  This is okay.

[2017-12-12 07:31] HadrienG commented on #378
@biorelated I'd be happy to review this.

[2017-12-12 08:13] bmagyar commented on #460
Hi guys,

Yes,  I'd be pretty interested in reviewing this one actually! The only
downside is that I can only start it over the holidays.

On Dec 12, 2017 5:43 AM, "Jeongseok Lee" <notifications@github.com> wrote:

[2017-12-12 13:43] jarvist commented on #444
Thanks for the feedback! I'll try and get those edits done today or tomorrow, before it's sent out.

[2017-12-12 14:07] whedon opened #498 "[PRE REVIEW]: Aronnax: An idealised isopycnal ocean model"
**Submitting author:** @edoddridge (<a href="http://orcid.org/0000-0002-6097-5729">Edward Doddridge</a>)
**Repository:** <a href="https://github.com/edoddridge/aronnax" target ="_blank">https://github.com/edoddridge/aronnax</a>
**Version:** 0.1.0
**Editor:** @kyleniemeyer
**Reviewer:** @dvalters

**Author instructions**

Thanks for submitting your paper to JOSS @edoddridge. The JOSS editor (shown

[2017-12-12 14:07] whedon commented on #498
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-12 14:07] whedon commented on #498
[code]

[2017-12-12 14:07] whedon commented on #498
[code]

[2017-12-12 14:07] whedon opened #499 "[PRE REVIEW]: ivporbit:An R package to estimate the instrumental variables probit model"
**Submitting author:** @zedtaha (<a href="http://orcid.org/0000-0002-4488-5774">zaghdoudi Taha</a>)
**Repository:** <a href="https://github.com/cran/ivprobit" target ="_blank">https://github.com/cran/ivprobit</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @zedtaha. The JOSS editor (shown at the top of this issue)

[2017-12-12 14:07] whedon commented on #499
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-12 14:07] whedon commented on #499
[code]

[2017-12-12 14:07] whedon commented on #499
[code]

[2017-12-12 14:33] whedon commented on #496
[code]

[2017-12-12 15:46] labarba commented on #465
@SylvainCorlay : I see that all boxes are checked. Can you confirm that you recommend acceptance now?

[2017-12-12 15:49] dseuss commented on #465
Thanks a lot @SylvainCorlay for the helpful comments. We already implemented remark 1 on the master branch in the repo. We will address the other remarks shortly after fixing some slight mistakes in some images.

@labarba I would move the `v1.0.1` tag to a different commit in the repo once we incorporate all the fixes. Since all the fixes are in the documentation, this does not affect the version

[2017-12-12 16:23] mgymrek commented on #484
@whedon assign @mgymrek as editor

[2017-12-12 16:23] whedon commented on #484
OK, the editor is @mgymrek

[2017-12-12 16:38] labarba commented on #465
Yay! @dseuss —We'll now need you to deposit the final release on an archival host like figshare or Zenodo, and report here the DOI. Then @arfon will press the buttons to publish!

[2017-12-12 17:40] warrenlr commented on #497
not to my knowledge.  I believe it has to be compiled manually on a local machine (Fig. 3 is rather large).  The latest and current build is here:

https://github.com/openjournals/joss-reviews/files/1548851/10.21105.joss.00491.pdf

thanks!
Rene

[2017-12-12 17:50] Kevin-Mattheus-Moerman commented on #460
Great @bmagyar ! Starting over the holidays is fine.

[2017-12-12 17:51] Kevin-Mattheus-Moerman commented on #460
@jslee02  thanks for your inquiry. I was hoping to recruit more than 1 reviewer and also include a robotics specialist. It seems we have exactly that now so we are good to start. Both @bmagyar and @betatim will be reviewers.

[2017-12-12 17:54] Kevin-Mattheus-Moerman commented on #460
@whedon assign @bmagyar as reviewer

[2017-12-12 17:54] whedon commented on #460
OK, the reviewer is @bmagyar

[2017-12-12 17:54] Kevin-Mattheus-Moerman commented on #460
@whedon start review magic-word=bananas

[2017-12-12 17:54] whedon opened #500 "[REVIEW]: DART: Dynamic Animation and Robotics Toolkit"
**Submitting author:** @jslee02 (<a href="http://orcid.org/0000-0002-2146-7502">Jeongseok Lee</a>)
**Repository:** <a href="https://github.com/dartsim/dart" target ="_blank">https://github.com/dartsim/dart</a>
**Version:** 6.3.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @costashatz
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1166142" target="_blank">10.5281/zenodo.1166142</a>

#

[2017-12-12 17:54] whedon commented on #460
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/500. Feel free to close this issue now!

[2017-12-12 17:54] whedon commented on #500
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @bmagyar it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2017-12-12 17:54] whedon commented on #500
[code]

[2017-12-12 17:54] #460 closed

[2017-12-12 17:57] Kevin-Mattheus-Moerman commented on #500
@jslee02 @bmagyar @betatim let the reviewing begin!

[2017-12-12 17:58] Kevin-Mattheus-Moerman commented on #500
@betatim I am working to get you added as second reviewer with your own check list. You can start already but I'll let you know when it is all set-up for you too. For the moment only @bmagyar has a checkbox list.

[2017-12-12 18:02] arfon commented on #497
It was not. The PDF is too big for our current approach so I had to manually produce it as @warrenlr said. The URL he shared above is the latest one.

[2017-12-12 18:12] jakevdp commented on #486
@desilinguist – would you be willing to review this submission?

[2017-12-12 18:49] arfon commented on #500
@whedon generate pdf

[2017-12-12 18:49] whedon commented on #500
[code]

[2017-12-12 18:52] desilinguist commented on #486
@jakevdp I'd be happy to review this but I am about to go on Christmas break so I can probably start when I'm back in early January?

[2017-12-12 19:00] arfon commented on #500
@whedon generate pdf

[2017-12-12 19:00] whedon commented on #500
[code]

[2017-12-12 19:03] jakevdp commented on #486
@desilinguist – that should be fine. Thanks for being willing to review!

[2017-12-12 19:04] jakevdp commented on #486
@whedon assign @desilinguist as reviewer

[2017-12-12 19:05] jakevdp commented on #486
@whedon start review magic-word=bananas

[2017-12-12 19:05] whedon opened #501 "[REVIEW]: Category Encoders: a scikit-learn-contrib package of transformers for encoding categorical data"
**Submitting author:** @wdm0006 (<a href="http://orcid.org/0000-0001-5188-3577">William McGinnis</a>)
**Repository:** <a href="https://github.com/scikit-learn-contrib/categorical-encoding" target ="_blank">https://github.com/scikit-learn-contrib/categorical-encoding</a>
**Version:** v1.2.5
**Editor:** @jakevdp
**Reviewer:** @desilinguist
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.11571

[2017-12-12 19:05] #486 closed

[2017-12-12 19:05] whedon commented on #501
[code]

[2017-12-12 19:06] jakevdp commented on #486
@desilinguist – the review will take place over at #501. Thanks!

[2017-12-12 20:30] amjaeger17 commented on #489
@danielskatz for  documentation is there an expectation that there is a static/pregenerated api documentation? Or is a Doxygen config file acceptable? - Unclear from JOSS guidlines although most repos seem to have a link to docs.

[2017-12-12 20:35] danielskatz commented on #489
Just to take one checkbox as an example:

I would expect that if you check this box, there is either hand-written or auto-generated text in the repo or after the software is built that includes such examples.

Does that answer your question?

[2017-12-12 20:42] alignedleft commented on #394
Sounds like a great compromise. My main goal in my comments was to help increase accessibility of the examples to beginner users. Since Processing is organized around individual sketches, it makes sense to do as much as you can within that limitation. Making a tutorial video and also just using consistent formatting within each tab will help, too. For example, use some sort of unique comment lines

[2017-12-13 06:50] agrignard commented on #434
I am bit lost in this first attempt to do a review... What should I do do we agree that no news has been provide by the author?

[2017-12-13 06:59] Kevin-Mattheus-Moerman commented on #434
@arfon @agrignard I've email the authors a second time. Apologies for the delay in this review process. We greatly appreciate your patience.

[2017-12-13 07:24] marksantcroos commented on #437
While we are working on iljah/hdintegrator#13, I created iljah/hdintegrator#14.

[2017-12-13 11:11] whedon opened #502 "[PRE REVIEW]: Pymagicc: A Python wrapper for the simple climate model MAGICC"
**Submitting author:** @rgieseke (<a href="http://orcid.org/0000-0002-1236-5109">Robert Gieseke</a>)
**Repository:** <a href="https://github.com/openclimatedata/pymagicc" target ="_blank">https://github.com/openclimatedata/pymagicc</a>
**Version:** v1.0.1
**Editor:** @arfon
**Reviewer:** @sgrieve

**Author instructions**

Thanks for submitting your paper to JOSS @rgieseke. The JOSS editor (shown a

[2017-12-13 11:11] whedon commented on #502
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-12-13 11:11] whedon commented on #502
[code]

[2017-12-13 11:11] whedon opened #503 "[PRE REVIEW]: ivporbit:An R package to estimate the instrumental variables probit model"
**Submitting author:** @zedtaha (<a href="http://orcid.org/0000-0002-4488-5774">zaghdoudi Taha</a>)
**Repository:** <a href="https://github.com/zedtaha/ivprobit-1.0" target ="_blank">https://github.com/zedtaha/ivprobit-1.0</a>
**Version:** v1.0
**Editor:** @leeper
**Reviewer:** @justinesarey

**Author instructions**

Thanks for submitting your paper to JOSS @zedtaha. The JOSS editor (shown at the

[2017-12-13 11:12] whedon commented on #503
[code]

[2017-12-13 11:12] whedon commented on #502
[code]

[2017-12-13 11:12] whedon opened #504 "[PRE REVIEW]: humanleague: a C++ microsynthesis package with R and python interfaces"
**Submitting author:** @virgesmith (<a href="http://orcid.org/0000-0002-9951-6642">Andrew Smith</a>)
**Repository:** <a href="https://github.com/virgesmith/humanleague" target ="_blank">https://github.com/virgesmith/humanleague</a>
**Version:** 2.0.2
**Editor:** @leeper
**Reviewer:** @rdrr1990

**Author instructions**

Thanks for submitting your paper to JOSS @virgesmith. The JOSS editor (shown at

[2017-12-13 11:12] whedon commented on #504
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @leeper it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-12-13 11:12] whedon commented on #504
[code]

[2017-12-13 11:13] arfon commented on #504
👋 @leeper - would you be willing to edit this submission for JOSS?

[2017-12-13 11:14] arfon commented on #503
👋 @zedtaha, thanks for your submission to JOSS. Please take a look at the author guidelines and make sure your paper is structured properly please http://joss.theoj.org/about#paper_structure

[2017-12-13 11:36] rgieseke commented on #502
Thanks for opening this pre-review issue!

As reviewers maybe @sgrieve (who reviewed the similar Pyhector submission) or @scollis (having "Climate Science" listed as a domain) would be interested?

From outside the JOSS reviewer pool, maybe @DamienIrving (as a Python and Notebook using climate scientist)?

[2017-12-13 11:39] arfon commented on #502
Thanks @rgieseke. As this is somewhat outside of my domain expertise, I'd like to find two reviewers for this submission.

@sgrieve @scollis @DamienIrving - would any of you be willing to review this submission for JOSS? You can read more about the process here http://joss.theoj.org/about#reviewer_guidelines

[2017-12-13 11:39] CPernet commented on #436
@Kevin-Mattheus-Moerman @cMadan we are planning for January to release some evaluations/comparisons of metrics against other software - is there anything else we should do for the repo/article? thx

[2017-12-13 11:49] biorelated commented on #378
@whedon assign @HadrienG  as reviewer

[2017-12-13 11:49] whedon commented on #378
OK, the reviewer is @HadrienG

[2017-12-13 11:51] biorelated commented on #378
@whedon start review magic-word=banana

[2017-12-13 11:51] whedon commented on #378
You didn't say the magic word! Try this:

[code]

[2017-12-13 11:51] biorelated commented on #378
@whedon start review magic-word=bananas

[2017-12-13 11:51] whedon commented on #378
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/505. Feel free to close this issue now!

[2017-12-13 11:51] whedon opened #505 "[REVIEW]: Finch: MinHashing for Sequencing Data with Abundance Calculation and Adaptive Filtering"
**Submitting author:** @bovee (<a href="http://orcid.org/0000-0002-8819-9549">Roderick Boveee</a>)
**Repository:** <a href="https://github.com/onecodex/finch-rs" target ="_blank">https://github.com/onecodex/finch-rs</a>
**Version:** v0.1.4
**Editor:** @biorelated
**Reviewer:** @HadrienG
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1164259" target="_blank">10.5281/zenodo.1164259</a>

## S

[2017-12-13 11:51] whedon commented on #505
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @HadrienG it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2017-12-13 11:51] whedon commented on #505
[code]

[2017-12-13 11:52] whedon commented on #505
[code]

[2017-12-13 11:53] biorelated commented on #378
Thank you @HadrienG for agreeing to take time to review this work. Please let me know if there any issues or concerns. The review is on #505.

[2017-12-13 11:53] #378 closed

[2017-12-13 11:56] rgieseke commented on #502
@arfon Some minor technical editorial questions:

The Meinshausen2011 reference should have MAGICC6 uppercased. In my local setup (Linux, TeX Live 2016) it looks correct. In the version rendered above it is "Magicc6", even though it is "{MAGICC6}" in the BibTex file. (On my Mac at home I had the same issue, but would need to check what's running there.)

Where can I find the setup that's used for

[2017-12-13 12:00] arfon commented on #502
@rgieseke - this is the Pandoc command we're running: https://github.com/openjournals/whedon/blob/master/lib/whedon/processor.rb#L101-L122

If you are up for a (small?) challenge, you could install the Whedon gem from GitHub and compile the paper using the gem.

Alternatively (and I'm completely OK with this if you are), feel free to make edits and ask @whedon to recompile the paper here with the

[2017-12-13 12:46] HadrienG commented on #505
@whedon commands

[2017-12-13 12:46] whedon commented on #505
Here are some things you can ask me to do:

[code]

[2017-12-13 14:37] scollis commented on #502
Hey @arfon This is super interesting but the one issue is I am not a windows user and do not have access to a windows system. I also do not use Brew on MacOS. I could probably help in a pinch but I would rather leave it to @sgrieve or @DamienIrving

[2017-12-13 14:53] rgieseke commented on #502
@scollis Thanks for the quick reply!

I don't think it's required for reviewers to test all platforms.
The idea of Pymagicc is to make the (Windows-only) MAGICC binary available on Linux, macOS and Linux. It should also work with "port" installed Wine or with manually installing Wine on macOS.

[2017-12-13 15:49] dseuss commented on #465
I have uploaded the final version v1.0.2 with the DOI [10.5281/zenodo.1115574](https://doi.org/10.5281/zenodo.1115574). We have updated the refereed version according to the suggestions of the referee:

- Added some images to the notebook
- Embedded the notebook on readthedocs

We also migrated all the figures from Inkscape to LaTeX/TikZ and fixed some notation errors.

[2017-12-13 18:04] arfon commented on #503
Also, @zedtaha, please make sure you address these points in your paper:

- A summary describing the high-level functionality and purpose of the software for a diverse, non-specialist audience
- A clear statement of need that illustrates the purpose of the software
- A list of key references including a link to the software archive
- Mentions (if applicable) of any ongoing research projects using

[2017-12-13 19:08] kyleniemeyer commented on #298
@dvalters no worries, thanks! Just let me know when you are finished.

[2017-12-13 20:17] siboles commented on #479
Hello,
Sorry if this is the wrong place to post, but has the review been started for this. If I recall, a new issue would be opened for the review.
Best,
Scott

[2017-12-13 20:51] arfon commented on #479
@siboles - it doesn't look like @cMadan has started the main review yet.

[2017-12-13 21:41] arfon commented on #502
@whedon generate pdf

[2017-12-13 21:41] whedon commented on #502
[code]

[2017-12-13 21:41] whedon commented on #502
[code]

[2017-12-13 21:45] arfon commented on #502
@whedon generate pdf

[2017-12-13 21:45] whedon commented on #502
[code]

[2017-12-13 21:48] arfon commented on #502
@whedon generate pdf

[2017-12-13 21:48] whedon commented on #502
[code]

[2017-12-13 22:06] dwhitena commented on #478
@arokem The issues with the paper and metadata files should be resolved. Let me know if they still aren't detected. Thanks!

[2017-12-13 22:20] labarba commented on #465
@whedon set 10.5281/zenodo.1115574 as archive

[2017-12-13 22:20] whedon commented on #465
OK. <a href="http://dx.doi.org/10.5281/zenodo.1115574" target="_blank">10.5281/zenodo.1115574</a> is the archive.

[2017-12-13 22:23] labarba commented on #465
@whedon generate pdf

[2017-12-13 22:23] whedon commented on #465
[code]

[2017-12-13 22:24] whedon commented on #465
[code]

[2017-12-13 22:25] labarba commented on #465
@arfon On to you to push the accept button!

[2017-12-13 22:36] richardjgowers commented on #488
@arfon I've raised some issues on their repo, overall the paper + software looks good - I'd consider this minor revisions.

I also need to double check the maths of what's happening (functional claims of software, ie are the interpolations all behaving as they claim), but I can do this while they address the issues I've raised.

[2017-12-13 23:27] cMadan commented on #479
@siboles, I wasn't sure if someone would be more available to review, but I suppose it has been two weeks now. I'm happy to assign you as the reviewer and get things started.

@wspr, if you're available to contribute to the review, please feel free to also evaluate the submission and make comments!

[2017-12-13 23:27] cMadan commented on #479
@whedon assign @siboles as reviewer

[2017-12-13 23:27] whedon commented on #479
OK, the reviewer is @siboles

[2017-12-13 23:28] cMadan commented on #479
@whedon start review

[2017-12-13 23:28] whedon commented on #479
You didn't say the magic word! Try this:

[code]

[2017-12-13 23:28] cMadan commented on #479
@whedon start review magic-word=bananas

[2017-12-13 23:28] whedon opened #506 "[REVIEW]: GIBBON: The Geometry and Image-Based Bioengineering add-ON"
**Submitting author:** @Kevin-Mattheus-Moerman (<a href="http://orcid.org/0000-0003-3768-4269">Kevin Moerman</a>)
**Repository:** <a href="https://github.com/gibbonCode/GIBBON" target ="_blank">https://github.com/gibbonCode/GIBBON</a>
**Version:** v3.0.0
**Editor:** @cMadan
**Reviewer:** @siboles
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1175348" target="_blank">10.5281/zenodo.1175348

[2017-12-13 23:28] whedon commented on #479
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/506. Feel free to close this issue now!

[2017-12-13 23:28] whedon commented on #506
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @siboles it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2017-12-13 23:28] whedon commented on #506
[code]

[2017-12-13 23:28] #479 closed

[2017-12-13 23:29] whedon commented on #506
[code]

[2017-12-13 23:32] cMadan commented on #436
Right now we're just waiting on @Kevin-Mattheus-Moerman to finish the review/give more feedback. Nothing else needed from your side at this time.

[2017-12-14 02:02] siboles opened #507 "Indicate Matlab Version and OS tested"
@Kevin-Mattheus-Moerman #506
I've installed in R2015a Matlab on Arch Linux. It seems your Linux testing is on an Ubuntu machine, which is probably the best choice for the widest audience. Most things went smoothly, although the help did not integrate for me. I'm not sure if it is my Matlab version, how I installed on Arch, or something else. My Matlab skills are not the greatest.

I would however,

[2017-12-14 02:02] whedon commented on #507
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-14 02:02] whedon commented on #507
[code]

[2017-12-14 02:02] whedon commented on #507
[code]

[2017-12-14 02:55] #499 closed

[2017-12-14 04:33] arokem commented on #478
Let's see what happens if I do this:

@whedon generate pdf

[2017-12-14 04:34] arokem commented on #478
@whedon generate pdf

[2017-12-14 04:34] whedon commented on #478
[code]

[2017-12-14 04:34] whedon commented on #478
[code]

[2017-12-14 04:35] arokem commented on #478
Well, that's progress.

In other news, I have contacted a potential reviewer, and will know tomorrow whether they're a go (I had to!). Otherwise, I will use your suggestions.

[2017-12-14 05:12] wspr commented on #507
I'm not 100% sure about this (I haven't reviewed for JOSS before) but I think these comments are intended to go in the [GIBBON issue tracker](https://github.com/gibbonCode/GIBBON/issues).

[2017-12-14 09:32] cMadan commented on #507
Yes, @wspr is correct, these comments should go in the project's issue tracker, not the 'general' JOSS review one.

[2017-12-14 09:32] #507 closed

[2017-12-14 10:55] sgrieve commented on #502
Hi @arfon, I'm happy to review this, it looks interesting! I'm swamped with teaching at the moment, so I wouldn't be able to look at this for at least a week. Will that be ok?

[2017-12-14 11:41] dseuss commented on #465
Could we wait for another hour? I just noticed that the bibliography in the PDF is everything but consistent. I'll try to fix this now.

[2017-12-14 11:53] dseuss commented on #465
@whedon generate pdf

[2017-12-14 11:53] whedon commented on #465
[code]

[2017-12-14 11:53] whedon commented on #465
[code]

[2017-12-14 11:56] dseuss commented on #465
OK, now I am happy with it as well. Just cleaned up the names in the references, removed unnecessary fields from the bib file, and fixed citations of the Oseledets paper, which gave ??? in the old version.

[2017-12-14 20:12] Kevin-Mattheus-Moerman commented on #506
@cMadan will you add an additional checklist for @wspr? I did this [here](https://github.com/openjournals/joss-reviews/issues/500#issuecomment-351155247) by simply manually editing the tick box comment and coping in an additional tick box list. You also need to invite the second reviewer (ping @arfon for that) so they can be assigned to the issue and tick boxes.

[2017-12-14 22:01] jameshiebert commented on #360
Thanks for the detailed review and excellent comments. I have clarified a few things inline below, and have noted where we need to make changes to address your concerns.

Fixed [in branch](https://github.com/pacificclimate/ClimDown/tree/joss-review).

You must have missed it, because we have been running Travis builds for a bit over a year. You can see the config [here](https://github.com/pacificc

[2017-12-14 23:48] jochym commented on #440
@lheagy: Thanks for not giving up on me with this review. Here is my opinion on this submission (based on the checklist above):

## Conflict of interest
As the reviewer I confirm that I have read the JOSS conflict of interest policy and that there are no conflicts of interest for me to review this work.

## Code of Conduct
 I confirm that I read and will adhere to the JOSS code of conduct.

## Gen

[2017-12-14 23:51] jochym commented on #440
@bjmorgan Unfortunately I am theoretician myself - thus I cannot check the inputs but the outputs seem at least reasonable (i.e. when I could get them out - see my report).

[2017-12-15 01:00] arokem commented on #478
@whedon assign @vsivsi as reviewer

[2017-12-15 01:00] whedon commented on #478
OK, the reviewer is @vsivsi

[2017-12-15 01:02] arokem commented on #478
@whedon start review magic-word=bananas

[2017-12-15 01:02] whedon opened #508 "[REVIEW]: Gophernotes: the Go kernel for Jupyter and nteract"
**Submitting author:** @dwhitena (<a href="http://orcid.org/0000-0003-1155-8889">Daniel Whitenack</a>)
**Repository:** <a href="https://github.com/gopherdata/gophernotes" target ="_blank">https://github.com/gopherdata/gophernotes</a>
**Version:** v1.0.0-RC
**Editor:** @arokem
**Reviewer:** @vsivsi
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/b0034f120957e93c9f645cd04a8

[2017-12-15 01:02] whedon commented on #478
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/508. Feel free to close this issue now!

[2017-12-15 01:02] whedon commented on #508
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @vsivsi it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2017-12-15 01:02] whedon commented on #508
[code]

[2017-12-15 01:02] whedon commented on #508
[code]

[2017-12-15 01:02] #478 closed

[2017-12-15 02:16] arfon commented on #508
@dwhitena - this should fix the errors compiling your paper: https://github.com/gopherdata/gophernotes/pull/92

[2017-12-15 02:20] arfon commented on #502
@whedon generate pdf

[2017-12-15 02:20] whedon commented on #502
[code]

[2017-12-15 02:21] whedon commented on #502
[code]

[2017-12-15 02:22] whedon commented on #502
[code]

[2017-12-15 02:22] whedon commented on #502
[code]

[2017-12-15 02:30] arfon commented on #502
@sgrieve - yeah, that would be great.

@scollis - what do you think about @rgieseke's [comment](https://github.com/openjournals/joss-reviews/issues/502#issuecomment-351413826)?

[2017-12-15 02:34] arfon commented on #488
Great, thanks for the update @richardjgowers.

👍 let me know when you're done and satisfied with the submission.

[2017-12-15 07:04] kortschak commented on #312
@pjotrp *ping*

I have a [PR adding a more fleshed out example usage](https://github.com/kortschak/arrgh/pull/8).

[2017-12-15 09:58] whedon commented on #502
[code]

[2017-12-15 09:59] whedon commented on #502
[code]

[2017-12-15 10:37] HadrienG commented on #505
The version in this review doesn't correspond to the latest version of the software. Unsure how to fix that here @biorelated. Can I simply edit the Whedon comment?

I will carry the review with the latest version 0.1.4 in the meantime

[2017-12-15 11:11] iljah commented on #437
All issues have been closed again, @marksantcroos have you found any additional issues?

[2017-12-15 11:40] arfon commented on #505
I've updated the comment at the top of the issue.

[2017-12-15 11:40] marksantcroos commented on #437
@iljah  I just went over everything again and I've checked off all boxes. Looking back at when we started you've made quite some progress with the project!

@danielskatz What now?

[2017-12-15 11:44] iljah commented on #437
Glad to hear! I'll create a tag in the repository and update the pypi version.

[2017-12-15 11:51] whedon opened #509 "[PRE REVIEW]: tidyhydat: Extract and Tidy Canadian Hydrometric Data"
**Submitting author:** @boshek (<a href="http://orcid.org/0000-0002-9270-7884">Samuel Albers</a>)
**Repository:** <a href="https://github.com/ropensci/tidyhydat" target ="_blank">https://github.com/ropensci/tidyhydat</a>
**Version:** 0.3.0
**Editor:** @arfon
**Reviewer:** @arfon

**Author instructions**

Thanks for submitting your paper to JOSS @boshek. The JOSS editor (shown at the top of this is

[2017-12-15 11:51] whedon commented on #509
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-15 11:51] whedon commented on #509
[code]

[2017-12-15 11:51] whedon commented on #509
[code]

[2017-12-15 11:52] arfon commented on #509
@openjournals/ropensci - has this package already on-boarded? If so, could you share the thread please?

[2017-12-15 11:52] arfon commented on #509
Scrub that. I found it myself :-) https://github.com/ropensci/onboarding/issues/152

[2017-12-15 11:55] arfon commented on #509
@boshek - please merge this PR so we can proceed https://github.com/ropensci/tidyhydat/pull/69

[2017-12-15 11:55] whedon opened #510 "[PRE REVIEW]: MixEst: An Estimation Toolbox for Mixture Models"
**Submitting author:** @reshadh (<a href="http://orcid.org/0000-0002-3669-760X">Reshad Hosseini</a>)
**Repository:** <a href="https://github.com/utvisionlab/mixest" target ="_blank">https://github.com/utvisionlab/mixest</a>
**Version:** v1.2.0
**Editor:** @arokem
**Reviewer:** @josephhardinee

**Author instructions**

Thanks for submitting your paper to JOSS @reshadh. The JOSS editor (shown at the

[2017-12-15 11:55] whedon commented on #510
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-12-15 11:55] whedon commented on #510
[code]

[2017-12-15 11:56] whedon commented on #510
[code]

[2017-12-15 11:56] arfon commented on #510
👋 @arokem - the submitting author suggested you as a potential editor.

[2017-12-15 11:58] arfon commented on #510
Looks like @whedon doesn't quite know how to compile this paper. I've manually done it here [10.21105.joss.00510.pdf](https://github.com/openjournals/joss-reviews/files/1562585/10.21105.joss.00510.pdf)

[2017-12-15 12:05] danielskatz commented on #437
@iljah - next we need the DOI to an archived version of the current software

And @marksantcroos - thanks! you've made a good contribution to the software, the paper, and the journal.

[2017-12-15 12:55] iljah commented on #437
I've created a DOI for the archive at Zenodo: 10.5281/zenodo.1116815

[2017-12-15 13:34] danielskatz commented on #437
@whedon set 10.5281/zenodo.1116815 as archive

[2017-12-15 13:34] whedon commented on #437
OK. <a href="http://dx.doi.org/10.5281/zenodo.1116815" target="_blank">10.5281/zenodo.1116815</a> is the archive.

[2017-12-15 13:35] danielskatz commented on #437
@whedon generate pdf

[2017-12-15 13:35] whedon commented on #437
[code]

[2017-12-15 13:36] whedon commented on #437
[code]

[2017-12-15 13:37] danielskatz commented on #437
@arfon - I think this is ready for you to accept

[2017-12-15 13:53] arfon commented on #510
@whedon generate pdf

[2017-12-15 13:53] whedon commented on #510
[code]

[2017-12-15 13:53] whedon commented on #510
[code]

[2017-12-15 14:12] wrathematics commented on #302
Hey, I'm really sorry I never responded. I never got an email for the mention for some reason. I can review this next week if you're still looking for reviewers.

[2017-12-15 14:27] arfon commented on #510
@whedon generate pdf

[2017-12-15 14:27] whedon commented on #510
[code]

[2017-12-15 14:27] whedon commented on #510
[code]

[2017-12-15 14:30] arfon commented on #302
No problem at all. If you're available that would be great! @karthik - are you OK to handle this if @wrathematics takes on the review?

[2017-12-15 14:30] arfon commented on #302
@whedon assign @wrathematics as reviewer

[2017-12-15 14:30] whedon commented on #302
OK, the reviewer is @wrathematics

[2017-12-15 14:39] sgrieve commented on #502
Great! I look forward to working on this next week! 🚀

[2017-12-15 14:41] arfon commented on #508
@whedon generate pdf

[2017-12-15 14:41] whedon commented on #508
[code]

[2017-12-15 14:41] whedon commented on #508
[code]

[2017-12-15 15:21] zedtaha commented on #503
@arfon thanks for your help. I uptated my paper please take a look at. Best

[2017-12-15 15:43] warrenlr commented on #497
thank you for agreeing to review, @nmmsv!  Were you able to access the pdf of the submitted manuscript?  Thanks, Rene

[2017-12-15 15:52] milan-hl commented on #465
@whedon generate pdf

[2017-12-15 15:52] whedon commented on #465
[code]

[2017-12-15 15:52] whedon commented on #465
[code]

[2017-12-15 15:55] milan-hl commented on #465
@whedon generate pdf

[2017-12-15 15:55] whedon commented on #465
[code]

[2017-12-15 15:55] whedon commented on #465
[code]

[2017-12-15 15:58] milan-hl commented on #465
I slightly adapted the spelling of one of the references. I'm looking forward to the paper being published. Thanks everyone!

[2017-12-15 17:42] boshek commented on #509
@arfon Merged. Thanks!

[2017-12-15 18:15] arfon commented on #509
@whedon generate pdf

[2017-12-15 18:15] whedon commented on #509
[code]

[2017-12-15 18:16] whedon commented on #509
[code]

[2017-12-15 18:25] nhejazi commented on #302
@wrathematics - thanks in advance for the review!

[2017-12-15 18:43] whedon commented on #509
OK, the editor is @arfon

[2017-12-15 18:43] whedon commented on #509
OK, the reviewer is @arfon

[2017-12-15 18:44] arfon commented on #509
@whedon start review magic-word=bananas

[2017-12-15 18:44] #509 closed

[2017-12-15 18:44] whedon commented on #509
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/511. Feel free to close this issue now!

[2017-12-15 18:44] whedon opened #511 "[REVIEW]: tidyhydat: Extract and Tidy Canadian Hydrometric Data"
**Submitting author:** @boshek (<a href="http://orcid.org/0000-0002-9270-7884">Samuel Albers</a>)
**Repository:** <a href="https://github.com/ropensci/tidyhydat" target ="_blank">https://github.com/ropensci/tidyhydat</a>
**Version:** 0.3.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1116459" target="_blank">10.5281/zenodo.1116459</a>

## Status

[

[2017-12-15 18:44] whedon commented on #511
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2017-12-15 18:44] whedon commented on #511
[code]

[2017-12-15 18:44] whedon commented on #511
[code]

[2017-12-15 18:45] arfon commented on #511
Accepting because of rOpenSci acceptance in https://github.com/ropensci/tidyhydat/pull/69

[2017-12-15 18:59] arfon commented on #511
@boshek - one more set of small changes https://github.com/ropensci/tidyhydat/pull/70

[2017-12-15 19:03] boshek commented on #511
@arfon Merged

[2017-12-15 19:04] arfon commented on #511
@boshek your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00511 ⚡️ 🚀 💥

[2017-12-15 19:06] #511 closed

[2017-12-15 19:06] whedon commented on #511
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00511/status.svg)](https://doi.org/10.21105/joss.00511)

**We need your help!**

Journal of Open Source Software

[2017-12-15 19:28] lheagy commented on #440
Thanks for your comments @jochym.

@yxqd: could you please take a look at @jochym's comments above? These items are resolvable, and I have started issues where they can be tracked (@jochym: please add to or comment on these as you see fit).

- sns-chops/multiphonon#82
- sns-chops/multiphonon#83
- sns-chops/multiphonon#84
- sns-chops/multiphonon#85

Once these are addressed, we can continue the rev

[2017-12-15 19:38] yxqd commented on #440
Thank you, @jochym and @lheagy !  I will take actions on these tickets. Some are relatively quick to answer, but some probably won't all be resolved immediately. Your patience is much appreciated!

[2017-12-15 20:08] arfon commented on #437
@marksantcroos - many thanks for your review here and to @danielskatz for editing this submission ✨

@iljah - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00437 ⚡️ 🚀 💥

[2017-12-15 20:08] #437 closed

[2017-12-15 20:08] whedon commented on #437
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00437/status.svg)](https://doi.org/10.21105/joss.00437)

**We need your help!**

Journal of Open Source Software

[2017-12-15 20:17] arfon commented on #465
@SylvainCorlay - many thanks for your review here and to @labarba for editing this submission ✨

@dseuss - your submission is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00465 ⚡️ 🚀 💥

[2017-12-15 20:17] #465 closed

[2017-12-15 20:17] whedon commented on #465
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00465/status.svg)](https://doi.org/10.21105/joss.00465)

**We need your help!**

Journal of Open Source Software

[2017-12-15 20:34] iljah commented on #437
Thanks all!

[2017-12-15 23:44] cMadan commented on #506
Thanks for also agreeing to review, @wspr! Below is the reviewer checklist for you to fill out.

### Conflict of interest

- [] As the reviewer I confirm that I have read the [JOSS conflict of interest policy](https://github.com/openjournals/joss/blob/master/COI.md) and that there are no conflicts of interest for me to review this work.

### Code of Conduct

- [] I confirm that I read and will adh

[2017-12-16 21:18] pjotrp commented on #312
Thanks. I'll start asking around for a reviewer.

[2017-12-16 23:18] sinanshi commented on #174
Could we restart the process the JOSS application as we received the approval from ropensci. We have the updated the DOI, see the readme file. https://github.com/ropensci/cleanEHR

[2017-12-16 23:24] mgymrek commented on #484
@krother @Genomematt @luizirber @konrad @cbrueffer Would anyone like to review this submission?

[2017-12-16 23:33] jasonclark commented on #480
@alexhanna Let me know if you have questions about this review. I'm around all next week.

[2017-12-17 01:44] luizirber commented on #484
I can review it

[2017-12-17 09:16] alexhanna commented on #480
Thanks, Jason. Will get to this this week.

On Sun, Dec 17, 2017 at 12:33 AM, Jason A. Clark <notifications@github.com>
wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2017-12-17 12:05] arfon commented on #302
@whedon start review magic-word=bananas

[2017-12-17 12:05] whedon opened #512 "[REVIEW]: origami - Cross-validation Framework"
**Submitting author:** @jeremyrcoyle (<a href="http://orcid.org/0000-0002-9874-6649">Jeremy Coyle</a>)
**Repository:** <a href="https://github.com/jeremyrcoyle/origami" target ="_blank">https://github.com/jeremyrcoyle/origami</a>
**Version:** v0.8
**Editor:** @karthik
**Reviewer:** @wrathematics
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1155901" target="_blank">10.5281/zenodo.1155901<

[2017-12-17 12:06] whedon commented on #302
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/512. Feel free to close this issue now!

[2017-12-17 12:06] whedon commented on #512
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @wrathematics it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2017-12-17 12:06] whedon commented on #512
[code]

[2017-12-17 12:06] whedon commented on #512
[code]

[2017-12-17 12:06] arfon commented on #302
@wrathematics - when you're ready, please head over to #512 for the actual review.

[2017-12-17 12:06] #302 closed

[2017-12-17 12:07] arfon commented on #174
@whedon assign @arfon as editor

[2017-12-17 12:07] whedon commented on #174
OK, the editor is @arfon

[2017-12-17 12:07] arfon commented on #174
@whedon assign @arfon as reviewer

[2017-12-17 12:08] whedon commented on #174
OK, the reviewer is @arfon

[2017-12-17 12:08] arfon commented on #174
@whedon start review magic-word=bananas

[2017-12-17 12:08] #174 closed

[2017-12-17 12:08] whedon opened #513 "[REVIEW]: cleanEHR: The critical care EHR analysis tools"
**Submitting author:** @sinanshi (<a href="http://orcid.org/0000-0001-6935-0429">Sinan Shi</a>)
**Repository:** <a href="https://github.com/ropensci/cleanEHR" target ="_blank">https://github.com/ropensci/cleanEHR</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1117244" target="_blank">10.5281/zenodo.1117244</a>

## Status

[![sta

[2017-12-17 12:08] whedon commented on #174
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/513. Feel free to close this issue now!

[2017-12-17 12:08] whedon commented on #513
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2017-12-17 12:08] whedon commented on #513
[code]

[2017-12-17 12:08] whedon commented on #513
[code]

[2017-12-17 12:09] arfon commented on #513
@whedon set 10.5281/zenodo.1117244 as archive

[2017-12-17 12:09] whedon commented on #513
OK. <a href="http://dx.doi.org/10.5281/zenodo.1117244" target="_blank">10.5281/zenodo.1117244</a> is the archive.

[2017-12-17 12:12] arfon commented on #513
Accepting because of submission to rOpenSci: https://github.com/ropensci/onboarding/issues/102

[2017-12-17 12:24] arfon commented on #513
@sinanshi - I've fixed up some issues with your `paper.md` here https://github.com/ropensci/cleanEHR/pull/151 .

Also, since you submitted originally, our [submission guidelines](http://joss.theoj.org/about#paper_structure) have been updated a fair bit. Please take a look at the section 'What should my paper contain?' here http://joss.theoj.org/about#paper_structure

Finally, it looks like you're

[2017-12-17 14:56] mgymrek commented on #484
@whedon assign @luizirber as reviewer

[2017-12-17 14:56] whedon commented on #484
OK, the reviewer is @luizirber

[2017-12-17 14:57] mgymrek commented on #484
@whedon start review magic-word=bananas

[2017-12-17 14:57] whedon opened #514 "[REVIEW]: phyphy: A Python package for facilitating the execution and parsing of HyPhy standard analyses"
**Submitting author:** @sjspielman (<a href="http://orcid.org/0000-0002-9090-4788">Stephanie Spielman</a>)
**Repository:** <a href="https://github.com/sjspielman/phyphy" target ="_blank">https://github.com/sjspielman/phyphy</a>
**Version:** v0.4.1
**Editor:** @mgymrek
**Reviewer:** @luizirber
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1154244" target="_blank">10.5281/zenodo.1154244</a>

[2017-12-17 14:57] whedon commented on #484
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/514. Feel free to close this issue now!

[2017-12-17 14:57] whedon commented on #514
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @luizirber it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2017-12-17 14:57] whedon commented on #514
[code]

[2017-12-17 14:57] #484 closed

[2017-12-17 14:57] whedon commented on #514
[code]

[2017-12-17 14:58] mgymrek commented on #514
Thanks @luizirber for agreeing to review! Please let me know if you have any questions about the review process.

[2017-12-17 19:03] sinanshi commented on #513
Thanks @arfon, could you have a look if it is all OK now.

[2017-12-18 00:20] arokem commented on #510
@whedon assign @arokem as editor

[2017-12-18 00:20] whedon commented on #510
OK, the editor is @arokem

[2017-12-18 00:20] arokem commented on #510
Sure - I can edit this! @reshadh - do you have ideas for potential reviewers?

[2017-12-18 00:53] aknutas commented on #233
Dear editor @karthik and reviewer @janschulz ,
   thank you for your feedback and the patience for first time package builders. We have now improved the package accordingly.

1. Packrat has now been moved to development branch and the main branch is cleaned and "ready for public". The [DESCRIPTION file](https://github.com/aknutas/nails-package/blob/master/DESCRIPTION) has now the required version

[2017-12-18 08:16] zedtaha commented on #503
@whedon i choosed @leeper as a reviewer for this paper if you agree. Thx

[2017-12-18 08:43] leeper commented on #474
Hi @nirum would you be interested in reviewing this for JOSS?

[2017-12-18 08:44] leeper commented on #470
Hi @SachaEpskamp, just a quick reminder about this review!

[2017-12-18 08:45] leeper commented on #463
@nsheff Just checking in - how are revisions progressing?

[2017-12-18 08:45] leeper commented on #416
@pragyansmita Thank you so much! It's yours!!

[2017-12-18 08:46] leeper commented on #416
@whedon assign @pragyansmita as reviewer

[2017-12-18 08:46] whedon commented on #416
OK, the reviewer is @pragyansmita

[2017-12-18 08:47] leeper commented on #416
@whedon start review magic-word=bananas

[2017-12-18 08:47] whedon opened #515 "[REVIEW]: scanstatistics: The R Package"
**Submitting author:** @benjak (<a href="http://orcid.org/0000-0002-0927-7183">Benjamin Allévius</a>)
**Repository:** <a href="https://github.com/BenjaK/scanstatistics" target ="_blank">https://github.com/BenjaK/scanstatistics</a>
**Version:** v1.0.0
**Editor:** @leeper
**Reviewer:** @tgerke
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1242982" target="_blank">10.5281/zenodo.1242982</a>

[2017-12-18 08:47] whedon commented on #416
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/515. Feel free to close this issue now!

[2017-12-18 08:47] whedon commented on #515
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @pragyansmita it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2017-12-18 08:47] whedon commented on #515
[code]

[2017-12-18 08:47] #416 closed

[2017-12-18 08:47] whedon commented on #515
[code]

[2017-12-18 08:54] leeper commented on #504
@jordigh would you be interested in reviewing this (or at least the C++ and Python components) for JOSS?

[2017-12-18 08:56] leeper commented on #503
@whedon assign @leeper as editor

[2017-12-18 08:56] whedon commented on #503
OK, the editor is @leeper

[2017-12-18 09:16] leeper commented on #503
I am currently recruiting a reviewer for this. I will update when that is determined.

[2017-12-18 13:45] danielskatz commented on #489
@amjaeger17 - How is your review coming along?  Any sticking points where I can help?

@bmagyar - It doesn't look like you've started your review. When do you expect to?

[2017-12-18 13:57] bmagyar commented on #489
I remember ticking some boxes, perhaps they didn't get saved or I was a bit of a noob and ticked the boxes belonging to @amjaeger17 . I've actually opened a [bunch of issues](https://github.com/CoreRobotics/CoreRobotics/issues) already

[2017-12-18 14:00] danielskatz commented on #489
Thanks - as you open issues, please put a note in this issue saying that you have done so, and ideally linking to those issues as appropriate, so a future reader (or the current editor) can look at this issue and understand the process of the overall review.

[2017-12-18 14:02] bmagyar commented on #489
Good point. Here they come:

* https://github.com/CoreRobotics/CoreRobotics/issues/1
* https://github.com/CoreRobotics/CoreRobotics/issues/2
* https://github.com/CoreRobotics/CoreRobotics/issues/3
* https://github.com/CoreRobotics/CoreRobotics/issues/4
* https://github.com/CoreRobotics/CoreRobotics/issues/5
* https://github.com/CoreRobotics/CoreRobotics/issues/6
* https://github.com/CoreRobotics/C

[2017-12-18 14:04] dvalters commented on #298
@kyleniemeyer Sorry - all done now! I am happy it meets all the requirements and agree with @scopatz's review. A well put together piece of software 🙂

[2017-12-18 14:43] arfon commented on #185
@daattali - friendly reminder to take another look at this when you get a chance.

[2017-12-18 14:54] arfon commented on #513
Thanks @sinanshi  - I still think this paper could do with a little more detail. From the text of your paper it's still not very clear to me what this software does! Please consider adding just a little more prose, perhaps with an example use case to address this:

Also, if there are any research projects using this software then please describe them too:

[2017-12-18 16:24] nsheff commented on #463
Hi @leeper; almost done, we'll have a new release for you shortly.

[2017-12-18 16:24] zedtaha commented on #503
Ok @leeper. Best

[2017-12-18 16:59] lheagy commented on #495
👋 @arfon, I can take this one

[2017-12-18 17:17] arfon commented on #495
@whedon assign @lheagy as editor

[2017-12-18 17:17] whedon commented on #495
OK, the editor is @lheagy

[2017-12-18 17:19] daattali commented on #185
Hi, yes it's on my calendar and will be done after December :)

On Dec 18, 2017 9:43 AM, "Arfon Smith" <notifications@github.com> wrote:

[2017-12-18 17:24] arfon commented on #490
@arghdos - how are you getting along here?

[2017-12-18 17:25] arfon commented on #487
Friendly reminder to take a look at this when you get a chance @barentsen 😁

[2017-12-18 17:27] arfon commented on #469
@nicoguaro - how are you getting along here?

[2017-12-18 18:09] arfon commented on #502
@whedon assign @sgrieve as reviewer

[2017-12-18 18:09] whedon commented on #502
OK, the reviewer is @sgrieve

[2017-12-18 18:10] arfon commented on #502
@whedon start review magic-word=bananas

[2017-12-18 18:10] #502 closed

[2017-12-18 18:10] whedon opened #516 "[REVIEW]: Pymagicc: A Python wrapper for the simple climate model MAGICC"
**Submitting author:** @rgieseke (<a href="http://orcid.org/0000-0002-1236-5109">Robert Gieseke</a>)
**Repository:** <a href="https://github.com/openclimatedata/pymagicc" target ="_blank">https://github.com/openclimatedata/pymagicc</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @sgrieve
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1165153" target="_blank">10.5281/zenodo.1165153

[2017-12-18 18:10] whedon commented on #502
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/516. Feel free to close this issue now!

[2017-12-18 18:10] whedon commented on #516
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @sgrieve it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2017-12-18 18:10] whedon commented on #516
[code]

[2017-12-18 18:10] arfon commented on #502
@sgrieve - please head over the #516 to carry out the actual review.

[2017-12-18 18:10] whedon commented on #516
[code]

[2017-12-18 18:12] arfon commented on #516
@scollis - based on @rgieseke's comment (https://github.com/openjournals/joss-reviews/issues/502#issuecomment-351413826) is this something you'd still be interested in being a second reviewer for?

[2017-12-18 18:29] arghdos commented on #490
@arfon I've been working with @bjodah to clean up the installation instructions in the documentation (I ran into some issues while installing / testing).  Once we have that finalized I expect I'll be finished shortly thereafter

[2017-12-18 19:20] nicoguaro commented on #469
I have not worked much on this. Nevertheless, I failed to install it.

Building the dependencies I get

    Failed building wheel for python-ldap

[2017-12-18 21:51] kyleniemeyer commented on #298
thanks @dvalters!

[2017-12-18 21:51] kyleniemeyer commented on #298
@whedon generate pdf

[2017-12-18 21:51] whedon commented on #298
[code]

[2017-12-18 22:02] kyleniemeyer commented on #298
Hi @lindsayad @katyhuff, my only remaining comment is that the article is a bit short, and is missing some of the aspects we normally look for (http://joss.theoj.org/about#author_guidelines)

It's only about 100 words right now (we expect more like 250–1000), and the only citations are to the software itself (which isn't really necessary/appropriate, since the article and software are already asso

[2017-12-18 23:27] greatfireball commented on #464
Hey @pjotrp and @jdeligt sorry for the delay. Think we could close those issues above by https://github.com/chloroExtractorTeam/chloroExtractor/issues/83 and https://github.com/chloroExtractorTeam/chloroExtractor/issues/81. @jdeligt mentioned another issue, but we need some more information to reproduce his finding. Nevertheless, the his major concerns should be solved. Please let us know, how we

[2017-12-19 06:05] pjotrp commented on #464
@whedon commands

[2017-12-19 06:05] whedon commented on #464
Here are some things you can ask me to do:

[code]

[2017-12-19 06:05] pjotrp commented on #464
@whedon generate pdf

[2017-12-19 06:05] whedon commented on #464
[code]

[2017-12-19 06:05] whedon commented on #464
[code]

[2017-12-19 06:07] pjotrp commented on #464
@greatfireball while @jdeligt wraps up the review you can generate and check the PDF using above command. It should come out clean.

[2017-12-19 11:14] sinanshi commented on #513
Thank you @arfon for your suggestions. I have updated the paper, adding the high-level functionality description. Regarding other related research project, there is no published research result so far using this package, despite many at the early stage of their research.

[2017-12-19 11:23] pjotrp commented on #312
@brentp would you mind reviewing this submission? Or suggest someone who would be interested in using R from Go?

[2017-12-19 11:43] arfon commented on #464
@whedon generate pdf

[2017-12-19 11:43] whedon commented on #464
[code]

[2017-12-19 11:44] whedon commented on #464
[code]

[2017-12-19 11:48] greatfireball commented on #464
Thanks for generating the PDF @arfon

[2017-12-19 11:58] arfon commented on #464
No problem. You raised an interesting bug in our processing system with your paper :-)

[2017-12-19 12:04] greatfireball commented on #464
Always a pleasure :)

[2017-12-19 13:58] mdoucet commented on #469
I suggest following the test installation instructions here:

[https://github.com/neutrons/web_reflectivity/blob/master/test/README.md](https://github.com/neutrons/web_reflectivity/blob/master/test/README.md)

I've added information to those instructions, so start from the top and let me know which item fails, and which OS you are running on.

[2017-12-19 14:10] scollis commented on #493
Hey @katyhuff I'll be doing this over the Xmas break.. Hands full finishing a few things off.. Sorry for the delay.

[2017-12-19 17:27] brentp commented on #312
yes, I can review.

[2017-12-19 18:24] pjotrp commented on #312
@whedon assign @brentp as reviewer

[2017-12-19 18:24] whedon commented on #312
OK, the reviewer is @brentp

[2017-12-19 18:25] pjotrp commented on #312
@whedon start review magic-word=bananas

[2017-12-19 18:25] whedon commented on #312
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/517. Feel free to close this issue now!

[2017-12-19 18:25] whedon opened #517 "[REVIEW]: arrgh: a Go interface to the OpenCPU R server system"
**Submitting author:** @kortschak (<a href="http://orcid.org/0000-0001-8295-2301">Robert Daniel Kortschak</a>)
**Repository:** <a href="https://github.com/kortschak/arrgh" target ="_blank">https://github.com/kortschak/arrgh</a>
**Version:** v1.0.0
**Editor:** @pjotrp
**Reviewer:** @brentp
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1148825" target="_blank">10.5281/zenodo.1148825</a>

##

[2017-12-19 18:25] whedon commented on #517
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @brentp it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2017-12-19 18:25] whedon commented on #517
[code]

[2017-12-19 18:25] #312 closed

[2017-12-19 18:25] whedon commented on #517
[code]

[2017-12-19 18:26] pjotrp commented on #517
@brentp we review here. @kortschak would you be so kind to validate we can tick the boxes above? Thanks!

[2017-12-19 19:18] lheagy commented on #440
@yxqd: I have added the `pending` label. Please ping when you have addressed the issues and we can pick up from there

[2017-12-19 19:20] lheagy commented on #444
Hi @jarvist: just checking in. Please ping when you are happy with your edits

[2017-12-19 20:00] nmmsv commented on #497
Hi @warrenlr , absolutely! I was able to access the pdf file.
I had some issues trying to install the software. I list them here:

1. It is required to use python 2.3 or 2.4. These releases are quite outdated (latest release from 2008) and some operating systems may not support them. I managed to find a compatible version for our linux system.

2. It is required to use windows font ttf files, whic

[2017-12-19 21:02] warrenlr commented on #497
Thank you for your comments, @nmmsv.
What do you advise I do going forward?

In the mean time, I clarified the dependencies in the README.md:

    You will need to do the following before you can proceed:
      1) Download python2.3 or 2.4 from: http://www.python.org/  (The code may work with newer versions of python (not tested))
      2) Download the Python Imaging Library (PIL) from: http://www

[2017-12-20 07:43] kortschak commented on #517
I believe so.

[2017-12-20 09:52] pjotrp commented on #517
Super. All yours @brentp.

[2017-12-20 14:15] Datseris opened #518 "[Question] : Are examples that show code snippets allowed/acceptable?"
Unfortunately I could not find a definite yes or no answer in the [author guidelines](http://joss.theoj.org/about#author_guidelines).

I am going to submit a paper soon and I was wondering if I could include
a simple code snippet example of 100 lines of code.

[2017-12-20 14:15] whedon commented on #518
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-20 14:15] whedon commented on #518
[code]

[2017-12-20 14:15] whedon commented on #518
[code]

[2017-12-20 15:34] brentp commented on #517
@pjotrp now that I read the COI doc, it appears that, by the letter, I would be in conflict. It says:
[code]
I am on the [biogo/hts](http://joss.theoj.org/papers/10.21105/joss.00168) paper with @kortschak

[2017-12-20 16:51] jarvist commented on #444
Thanks for the timely reminder :^)

Had to have a read about before getting CI working.

I hope I've made the text a little bit more approachable.

[2017-12-20 18:13] arfon commented on #518
Yes this is fine. Please note this repository is just for reviews, if you have any follow-up questions please post them over in https://github.com/openjournals/joss

[2017-12-20 18:13] #518 closed

[2017-12-20 18:26] lheagy commented on #495
Hi @AdeBytes, thanks for your submission. After review the editorial board has determined that your submission does not meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). In particular, this submission falls under the 'Minor utility package' category.

Please don't hesitate to reach out for further clarification on the submission requirements. You can also sub

[2017-12-20 18:27] #495 closed

[2017-12-20 18:28] lheagy commented on #496
Hi again @AdeBytes, thanks also for this submission. Similar to #495, the editorial board has determined that your submission does not meet our [submission requirements](http://joss.theoj.org/about#submission_requirements). This submission falls under the 'Minor utility package' category.

Please don't hesitate to reach out for further clarification on the submission requirements. You can also sub

[2017-12-20 18:28] #496 closed

[2017-12-20 18:59] AdeBytes commented on #495
Hi,
I believe there might be an error.
There are two separate submissions. This submission is a Matlab package for
calculating the critical moment in a petroleum system. The second one is a
python package that may fall under "minor utility clause".

The Matlab package QPFA however is a new software package that calculates
the critical moment in a petroleum system. Although the definition of the
cr

[2017-12-20 19:16] arokem commented on #510
👋 @josephhardinee: are you available to review this submission for JOSS?

[2017-12-20 19:45] kortschak commented on #517
Sorry, I did not read that part - I focused on the areas relating to the paper/submission.

[2017-12-20 19:49] kortschak commented on #517
May I suggest Jeroen Ooms. He is the author of OpenCPU which is either a good thing or a bad thing; he is the expert on the base system, but whether that constitutes a conflict here, I don't know. I have not worked with him.

[2017-12-20 19:55] nsheff commented on #463
Hi @leeper and @sckott,

Thanks for the feedback. We've now released [version 0.4](https://github.com/databio/simpleCache/releases), which we think addresses all your comments. Thanks for the review!

To respond to one point here:

We recommend users use the functions to set the options, because these are easier to maintain and change. In a sense, the functions (which are documented) provide a con

[2017-12-20 20:14] sckott commented on #463
explanation of options makes sense

[2017-12-20 20:17] wdm0006 commented on #501
Hello,

I had a general question about the nature of these papers. How should I handle extra authors? I was the original author and am sole maintainer so I put myself there, should I solicit other contributors to add themselves? Should contributors going forward add themselves? Etc.

Thank you, -Will

[2017-12-20 20:24] pjotrp commented on #517
@brentp I don't think being a co-author on an earlier paper is a conflict. @arfon can you advise?

[2017-12-20 21:27] danielskatz commented on #517
The CoI policy is defined here: https://github.com/openjournals/joss/blob/master/COI.md and since the paper in question was earlier this year, this is a conflict.

Based on the following text:

I think there are 2 questions:

@brentp,  do you feel you can make an impartial assessment of the work?

If so, then

@pjotrp, you should decide if you agree, and if so, declare the conflict recorded (here)

[2017-12-20 21:44] barentsen commented on #487
I expect to carry out this review on Dec 23-24.  Apologies for the delay!

[2017-12-20 23:13] yxqd commented on #440
Thanks @lheagy. We worked on all these tickets. I closed the DOI ticket since it is straightforward. We (@Fahima-Islam and myself) also worked on the installation and the API documentation. @jochym could you please take a look? First we would like to make sure the installation works for your system. Please give it a try and let us know if there are any problems. Thanks!

[2017-12-20 23:38] lheagy commented on #495
Hi @AdeBytes,

Thanks for your message. We did intentionally close both submissions. The editorial board has reviewed this submission and determined that it does not meets the [submission requirements](http://joss.theoj.org/about#submission_requirements).

The GUI and QPFA function appears to be more of a product for a utility function. It is not clear that it satisfies:
- Should be a significant

[2017-12-21 00:50] AdeBytes commented on #495
Hi @lheagy

The QPFA program answers the following research question: How can the
critical moment in a petroleum system be calculated? In addition, it
answers another question: how much uncertainty is associated with the
critical moment.
These are valid research questions that many petroleum geophysicists and
geologists attempt to answer everyday. The critical moment is an important
concept that h

[2017-12-21 00:50] AdeBytes commented on #495
Hi @lheagy

The QPFA program answers the following research question: How can the
critical moment in a petroleum system be calculated? In addition, it
answers another question: how much uncertainty is associated with the
critical moment.
These are valid research questions that many petroleum geophysicists and
geologists attempt to answer everyday. The critical moment is an important
concept that h

[2017-12-21 02:55] brentp commented on #517
yes

[2017-12-21 05:17] mgymrek commented on #497
Thanks for the clarifications.

echoing @nmmsv: Just scrolling through the source code and based on comments of @nmmsv, regarding fonts I see many of the paths are hard coded in the main .py file and need to be changed before running. It would be better to make these have reasonable defaults and allow paths to be changed via a command line argument. Also more info on how to download the required f

[2017-12-21 11:36] leeper commented on #463
It looks to me like all issues have been addressed. Is that right, @sckott?

@nsheff Can you produce an archive of the repository using, e.g., Zenodo, and let me know the DOI for it?

[2017-12-21 12:11] sgrieve commented on #516
I would like to thank the authors for this contribution, it has been a very enjoyable experience to explore this software and I am pleased to recommend publication, pending the minor issues highlighted below being resolved.

# Installation

I tested the install from pip in both Python 3.6 and Python 2.7, both running on MacOS 10.12.6. I did not have `wine` installed, but the suggested homebrew ins

[2017-12-21 14:12] j-faria commented on #487
Thank you, @barentsen!

[2017-12-21 16:06] arghdos commented on #490
@bjodah looks great! The only remaining issue is a missing contribution guidelines -- in particular, the sympy integration allowing change of variables / reformulation, and automatic analytical Jacobian determination is _very_ cool, great work

[2017-12-21 16:12] lheagy commented on #495
Hi @WalBytes,

Have you considered submitting to the [Leading Edge Tutorials](https://library.seg.org/journal/leedff) (their github repo is: https://github.com/seg/tutorials)? This is another avenue for publishing software along with a short write-up in the geosciences and it might be a better fit for publishing QPFA.

The editorial board at JOSS has reviewed the software, and the scope of QPFA is

[2017-12-21 16:49] AdeBytes commented on #495
Thank you for your suggestion. Again, the three reasons which you have
given have not been successfully justified.
My previous posting clearly shows that the program does not fall in the
category of minor utility package.
The product of the program is an events chart that contains the critical
moment. This is a publishable vital research product that is required in
the description of any petroleum

[2017-12-21 17:08] arfon commented on #495
Hi @AdeBytes, the editorial board has made its final decision here. Please seek other venues for publishing this work.

[2017-12-21 18:22] arfon commented on #513
@sinanshi - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00513 ⚡️ 🚀 💥

[2017-12-21 18:22] #513 closed

[2017-12-21 18:22] whedon commented on #513
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00513/status.svg)](https://doi.org/10.21105/joss.00513)

**We need your help!**

Journal of Open Source Software

[2017-12-21 19:10] lindsayad commented on #298
Hi Kyle, I should be able to get to this next week. Thanks!

On Mon, Dec 18, 2017 at 3:02 PM, Kyle Niemeyer <notifications@github.com>
wrote:

[2017-12-21 19:30] sckott commented on #463
had another quick look. Yes, looks good.

[2017-12-21 20:43] warrenlr commented on #497
thank you @mgymrek and @nmmsv for the helpful comments and diligence.

I have streamlined the code and added the suggested option to provide a path to the font directory. I added some information to the README.md regarding font usage.

850e689959597cbadbada4e4ef96b05af0b2aeb2
b902c85b96afba2eab55e0786c7830c5e7d1c686

fyi - I have added a test folder with FASTA and cross_match output files for one

[2017-12-22 00:07] Kevin-Mattheus-Moerman commented on #506
@wspr let me know if I can help with anything. See `testGibbon` to run all tests.

[2017-12-22 01:20] whedon opened #519 "[PRE REVIEW]: reper - Genome-wide identification, classification and quantification of repetitive elements without an assembled genome"
**Submitting author:** @nterhoeven (<a href="http://orcid.org/0000-0002-8669-0000">Niklas Terhoeven</a>)
**Repository:** <a href="https://github.com/nterhoeven/reper" target ="_blank">https://github.com/nterhoeven/reper</a>
**Version:** v1.0.0
**Editor:** @mgymrek
**Reviewer:** @jsgalan

**Author instructions**

Thanks for submitting your paper to JOSS @nterhoeven. The JOSS editor (shown at the to

[2017-12-22 01:20] whedon commented on #519
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @mgymrek it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-12-22 01:20] whedon commented on #519
[code]

[2017-12-22 01:20] whedon commented on #519
[code]

[2017-12-22 01:21] arfon commented on #519
👋 @mgymrek - the submitting author suggested you as the editor.

[2017-12-22 01:29] arfon commented on #519
@nterhoeven - could you please merge this PR which fixes up some issues with your paper: https://github.com/nterhoeven/reper/pull/4

[2017-12-22 04:40] stsievert commented on #481
Sorry for the delay on this, but I've finally got around to starting this review. I've written some comments about, but here I've fleshed some of them out:

* Documentation needs improvement
    * At the very least, I should understand what your software does. Typically I can understand what each function does in a piece of software.
    * I'd have some high-level overview of the software that des

[2017-12-22 07:35] nterhoeven commented on #519
@arfon thanks for the pull request. I jsut merged it

[2017-12-22 09:55] nirum commented on #474
Hi all, looks interesting, but I don't have the bandwidth right now to give this a proper review :(

[2017-12-22 12:01] leeper commented on #474
Hi @oesteban would you be interested in reviewing this for JOSS?

[2017-12-22 12:08] arfon commented on #519
@whedon generate pdf

[2017-12-22 12:08] whedon commented on #519
[code]

[2017-12-22 12:09] whedon commented on #519
[code]

[2017-12-22 13:23] whedon opened #520 "[PRE REVIEW]: grapherator: A Modular Multi-Step Graph Generator"
**Submitting author:** @jakobbossek (<a href="http://orcid.org/0000-0002-4121-4668">Jakob Bossek</a>)
**Repository:** <a href="https://github.com/jakobbossek/grapherator" target ="_blank">https://github.com/jakobbossek/grapherator</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @gvegayon

**Author instructions**

Thanks for submitting your paper to JOSS @jakobbossek. The

[2017-12-22 13:23] whedon commented on #520
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2017-12-22 13:23] whedon commented on #520
[code]

[2017-12-22 13:23] whedon commented on #520
[code]

[2017-12-22 15:11] rgieseke commented on #516
Thanks @sgrieve for the detailed and thorough review, this is much appreciated!

Find comments addressing your questions below:

Thanks for the kind words!

[...]

Good point. Added in https://github.com/openclimatedata/pymagicc/commit/7c03d3180f9ab61dd8af97941f829c5df413f242

Added in https://github.com/openclimatedata/pymagicc/commit/a2062ba6e30daadc14c156e14e6257835c418c0c - this should it make

[2017-12-22 17:05] oesteban commented on #474
Hi, sorry for the silence. Yes, I can take this. :+1:

[2017-12-22 17:19] vsoch commented on #474
woohoo, thanks @oesteban !

[2017-12-22 17:59] leeper commented on #474
@whedon assign @oesteban as reviewer

[2017-12-22 17:59] whedon commented on #474
OK, the reviewer is @oesteban

[2017-12-22 17:59] leeper commented on #474
@whedon start review magic-word=bananas

[2017-12-22 17:59] whedon commented on #474
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/521. Feel free to close this issue now!

[2017-12-22 17:59] whedon opened #521 "[REVIEW]: The Experiment Factory: Reproducible Experiment Containers"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://www.github.com/expfactory/expfactory" target ="_blank">https://www.github.com/expfactory/expfactory</a>
**Version:** v3.0.0
**Editor:** @leeper
**Reviewer:** @oesteban
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1117203" target="_blank">10.5281/zenodo.111720

[2017-12-22 17:59] whedon commented on #521
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @oesteban it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2017-12-22 17:59] whedon commented on #521
[code]

[2017-12-22 18:00] whedon commented on #521
[code]

[2017-12-22 18:00] leeper commented on #474
@oesteban That's great! Thank you! I've fired up a review ticket here: https://github.com/openjournals/joss-reviews/issues/521, which provides all instructions. Let me know if you have questions.

[2017-12-22 18:00] #474 closed

[2017-12-22 18:05] cMadan commented on #506
@siboles, is it safe to assume that you are now satisfied with the submission and endorse it's acceptance in the current form?

@Kevin-Mattheus-Moerman, I'll still wait for @wspr, but thought I'd get that confirmation from @siboles, rather than checking later on.

[2017-12-22 18:07] cMadan commented on #436
@Kevin-Mattheus-Moerman, nudge?

[2017-12-22 20:39] Kevin-Mattheus-Moerman commented on #436
@whedon generate pdf

[2017-12-22 20:39] whedon commented on #436
[code]

[2017-12-22 20:39] whedon commented on #436
[code]

[2017-12-22 21:39] Kevin-Mattheus-Moerman commented on #436
@cMadan @CPernet @smikhael
I've completed the review and could verify that your software does _what it says on the can_. I have some minor comments below.

# About the wiki
The Wiki home link starts with

There may be different definitions of what an ROI is, e.g. ROI may be masks or are sometimes defined as closed polygon sets. I think in your case they are binary pixels sets that are continuous l

[2017-12-22 21:45] Kevin-Mattheus-Moerman commented on #436
@CPernet @smikhael apologies for the delay in processing this review. I've left one lasts check mark open for when you reply to my comments above.

**Happy holidays** :christmas_tree: :sun_with_face:

[2017-12-23 02:14] smikhael commented on #436
@Kevin-Mattheus-Moerman , thank you for you that helpful feedback, and no worries regarding the delay. I'll address all points in the next few days and update you once done. Happy holidays to all!

[2017-12-23 10:54] wspr commented on #506
Hi all — the end of the year hit me rather suddenly so I haven’t had a chance to fully investigate. If you could wait a little longer (say, before the end of the year) I’d be very happy to put in my 2c as well, but if you’d rather knock it on the head immediately I am happy to give it a miss. Sorry for the hold up.

[2017-12-23 11:25] pjotrp commented on #517
waived.

[2017-12-23 11:29] pjotrp commented on #517
Thanks @danielskatz for stepping in. I feel confident in waiving this COI. @brentp please continue review.

[2017-12-23 14:36] cMadan commented on #506
@wspr, I have no problem waiting a bit longer. Also feel free to take some time into January too (I'd hate to have reviewing take away from holiday plans).

That said, can you check if that second checklist works for you? If not, I'll have to see about permissions...

[2017-12-23 14:40] cMadan commented on #436
Thank you for the detailed review, @Kevin-Mattheus-Moerman!

Along with the suggestions above, I'd suggest maybe having a flag to enable/disable the figure generation.

After you make these last few edits, I'll give the a code a quick try and see if I have any additional usability suggestions. I think I'm well within the target audience (and do plan to use this for a current project), so hopefully

[2017-12-23 21:03] wspr commented on #506
@cMadan Checklist doesn’t work I’m afraid — if it’s a hassle I can just paste in my own :-)

[2017-12-24 02:10] arfon commented on #506
@wspr - if you accept the invite link here: https://github.com/openjournals/joss-reviews/invitations you should be able to edit the checklist.

[2017-12-24 05:46] mikeckennedy commented on #493
Hi @katyhuff Ditto. It's been really hectic with end of year stuff for my business too. I'll try to get to it shortly.

[2017-12-24 19:25] barentsen commented on #487
I am opening a few issues on the repository now because I happen to have a bit of spare time, but, needless to say: I do *not* expect a quick reply! @j-faria please enjoy your holidays and don't let my activity trigger you to work over the xmas-nye period, we all need time off to preserve mental health! =)

[2017-12-24 23:29] smikhael commented on #436
@whedon generate pdf

[2017-12-24 23:29] whedon commented on #436
[code]

[2017-12-24 23:29] whedon commented on #436
[code]

[2017-12-25 00:28] smikhael commented on #436
@Kevin-Mattheus-Moerman  @cMadan   thank you all for your helpful feedback once again. I have now attempted to address all the points you identified as follows:

* flag to enable/disable figures: there was a flag (last variable <code>draw</code> when calling masks2metrics), but I've now made it much clearer using warnings in both the code and the Wiki. Apologies for all those figures jumping at yo

[2017-12-25 02:19] cMadan commented on #436
Just a quick thought re: the PDF compiling, I think the issue is that there are spaces in "paper for JOSS". Can you try renaming the folder to just "paper" or replacing the spaces with underscores?

I will look over the rest of your responses (and try the toolbox) in the next few days.

[2017-12-25 09:52] smikhael commented on #436
@whedon generate pdf

[2017-12-25 09:52] whedon commented on #436
[code]

[2017-12-25 09:53] whedon commented on #436
[code]

[2017-12-25 10:19] smikhael commented on #436
@whedon generate pdf

[2017-12-25 10:19] whedon commented on #436
[code]

[2017-12-25 10:20] whedon commented on #436
[code]

[2017-12-25 10:22] smikhael commented on #436
Pdf success! Thank you for the tip @cMadan

[2017-12-25 12:48] Kevin-Mattheus-Moerman commented on #436
It looks like your references heading does not render well. Perhaps a space is needed

# References

[2017-12-25 19:16] barentsen commented on #487
I installed and ran `kima` and identified four key issues which I would like to see addressed before continuing my review:
- [ ] The examples do not compile (https://github.com/j-faria/kima/issues/18 & https://github.com/j-faria/kima/issues/19).
- [ ] There are no tests (be it manual or automated) which can be used to verify the core functionality (https://github.com/j-faria/kima/issues/21).
- [ ]

[2017-12-25 22:28] tupui commented on #493
Hi @katyhuff, how does it works for the version of the software? master was 1.7, now it’s 1.7.1 but we are updating regularly. So does it means that review I happening on 1.7 and that it is from this version that the article will be about?

[2017-12-26 07:04] siboles commented on #506
Very sorry folks for the slow reply. Yes I am satisfied with GIBBON and
vote to accept it for publication.

On Dec 23, 2017 19:10, "Arfon Smith" <notifications@github.com> wrote:

[2017-12-26 11:33] smikhael commented on #436
Thank you @Kevin-Mattheus-Moerman . I've now added the space, and fixed 2 other referencing issues that I discovered (1. needed '_' between Kochunov and 2012, and 2. added the Mills_2016 in the .bib file.). Apologies for the oversight.  Please let me know if you'd like me to regenerate the pdf.

[2017-12-26 14:06] Kevin-Mattheus-Moerman commented on #436
@whedon generate pdf

[2017-12-26 14:06] whedon commented on #436
[code]

[2017-12-26 14:07] whedon commented on #436
[code]

[2017-12-26 14:10] Kevin-Mattheus-Moerman commented on #436
The paper looks good

[2017-12-27 00:11] smikhael commented on #436
@whedon generate pdf

[2017-12-27 00:11] whedon commented on #436
[code]

[2017-12-27 00:12] whedon commented on #436
[code]

[2017-12-27 00:17] smikhael commented on #436
Apologies, but I've just regenerated pdf as I uncovered a mistake in one reference (the GitHub reference to our code). The way I had written it made it appear as though the reference only had one author (me) rather than 2. The pdf should now be typo-free. Thank you.

[2017-12-27 06:40] cMadan commented on #506
No worries, @siboles! Thanks again for the review and enjoy the holidays :)

[2017-12-28 16:47] j-faria commented on #487
Hi @barentsen, thank you for your thorough and very helpful review of `kima`!
I agree these four points you identified are necessary and useful for the package so I'll make the changes and add the features in the next few days.

I sincerely appreciate your message about work during the holiday period. For a PhD student like me, such a balance is an important and often forgotten skill that needs ma

[2017-12-29 16:37] lheagy commented on #440
@jochym, would you mind giving a 👍 or further comments regarding @yxqd's comments above when you have a chance? Thanks!

[2017-12-29 16:43] lheagy commented on #444
Thanks @jarvist: I had a look and the paper and it doesn't look like the most recent changes have made it to your master branch (the last update was October). Is it on a branch somewhere? Thanks!

![image](https://user-images.githubusercontent.com/6361812/34442023-9cf1336e-ec7c-11e7-865e-0c9066e02f96.png)

[2017-12-31 05:37] mikeckennedy commented on #493
Hi @katyhuff and @tupui, just wanted to let you know I'm making my way through this now. Got my year-end blockers out of the way. I probably won't finish it tonight but am getting close.

@tupui I do seem to be stuck trying to run the tests. Is there a good way for us to discuss? Should I just create an issue on Gitlab?

[2017-12-31 05:44] mikeckennedy commented on #493
@tupui @katyhuff I made it a private issue here, feel free to make it public if you want.

https://gitlab.com/cerfacs/batman/issues/95

[2017-12-31 10:10] jochym commented on #440
I'll be able to do it on jan/3. Sorry, on holidays right now...

[2017-12-31 10:37] tupui commented on #493
@mikeckennedy Thank you for taking the time to do this. I guess the issue tracker is a good place for this. I will make it public for transparency 😃

[2017-12-31 16:56] lheagy commented on #440
Sounds good, thanks for the update @jochym. Enjoy the rest of your holidays!

[2017-12-31 17:56] katyhuff commented on #493
@tupui The version part is a bit tricky. Since many of the review-related fixes will be in minor versions post 1.7, we'll change the review version to a later one and have you create a zenodo or figshare item at that final version number that reflects the reviewed-and-accepted version of the software. So, the order of operations is: continue to update the software until the reviewers are satisfied

[2017-12-31 20:29] whedon opened #522 "[PRE REVIEW]: A self-referential HOWTO on release engineering"
**Submitting author:** @markgalassi (<a href="http://orcid.org/0000-0002-3279-2693">Mark Galassi</a>)
**Repository:** <a href="https://bitbucket.org/markgalassi/toy-releng" target ="_blank">https://bitbucket.org/markgalassi/toy-releng</a>
**Version:** v1.1.0
**Editor:** @danielskatz
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @markgalassi. The JOSS edit

[2017-12-31 20:29] whedon commented on #522
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @danielskatz it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2017-12-31 20:29] whedon commented on #522
[code]

[2017-12-31 20:29] whedon commented on #522
[code]

[2017-12-31 20:30] arfon commented on #522
👋 @danielskatz - the submitting author suggested you as the handling editor.

[2017-12-31 20:37] arfon commented on #522
@markgalassi - there are a couple of issues with your paper:

- Please change line 12 of your `paper.md` file to `affiliation: 1`
- It looks like you're referencing `figshare_article.png` but there's no file of that name

In addition, the paper is currently far too short. Please address the author guidelines for ['what should my paper contain'](http://joss.theoj.org/about#paper_structure):

- A cl

[2018-01-01 01:27] danielskatz commented on #522
Happy New Year to you too, @arfon

Yes, I can possibly edit this, though at this point, I'm uncertain if it meets JOSS requirements: specifically, that it is about research software that is likely to be cited in other research.

I'll wait on changes and comments from @markgalassi to your and my comments.

[2018-01-01 01:31] danielskatz commented on #522
I just found and skimmed toy-releng/howto-paper/toy-releng-howto.tex which appears to be a full-length paper about software in general, rather than a brief paper describing specific software.  If the intent of this submission to JOSS is to publish this long paper, JOSS is not the right venue.  Something like [JORS](https://openresearchsoftware.metajnl.com) might be more appropriate:

[2018-01-01 11:29] tupui commented on #493
@katyhuff That makes sense to me. Thank you for the clarification.

[2018-01-01 17:42] #476 closed

[2018-01-01 20:41] danielskatz commented on #489
@amjaeger17 - If the checkboxes in your list weren't checked by you, they were accidentally checked by @bmagyar; feel free to uncheck them.

@CoreRobotics - Any news on the issues opened by @bmagyar ?

[2018-01-02 15:17] arghdos commented on #490
@arfon everything looks good on my end

[2018-01-02 16:23] jochym commented on #440
@lheagy see my comments in the review issues.

[2018-01-02 18:59] markgalassi commented on #522
Daniel, thank you for looking at it.  JORS seems like a good place to go and I will submit there.

Should I withdraw the paper?

[2018-01-02 19:07] arfon commented on #522
I can do this for you @markgalassi.

[2018-01-02 19:07] #522 closed

[2018-01-02 23:40] josephhardinee commented on #510
I am. Sorry I was out for holidays. This will be the first one I've reviewed so I'll probably require a little bit of hand holding.

[2018-01-03 02:43] mgymrek commented on #519
@jsgalan @afrubin @hdashnow Would any of you be interested in reviewing this submission?

[2018-01-03 03:33] jsgalan commented on #519
Hi all, yes, i am interested in reviewing this article.

Let me know the guidelines.

Best

[2018-01-03 07:32] nterhoeven commented on #519
@mgymrek @jsgalan Thanks for agreeing to review. Let me know if I can assist you in any way.

[2018-01-03 09:06] leeper commented on #503
@whedon assign @justinesarey as reviewer

[2018-01-03 09:06] whedon commented on #503
OK, the reviewer is @justinesarey

[2018-01-03 09:06] leeper commented on #503
@whedon start review magic-word=bananas

[2018-01-03 09:06] whedon opened #523 "[REVIEW]: ivporbit:An R package to estimate the instrumental variables probit model"
**Submitting author:** @zedtaha (<a href="http://orcid.org/0000-0002-4488-5774">zaghdoudi Taha</a>)
**Repository:** <a href="https://github.com/zedtaha/ivprobit-1.0" target ="_blank">https://github.com/zedtaha/ivprobit-1.0</a>
**Version:** v1.0
**Editor:** @leeper
**Reviewer:** @justinesarey
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1183253" target="_blank">10.5281/zenodo.1183253</a>

[2018-01-03 09:06] whedon commented on #503
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/523. Feel free to close this issue now!

[2018-01-03 09:06] whedon commented on #523
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @justinesarey it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-01-03 09:06] whedon commented on #523
[code]

[2018-01-03 09:07] whedon commented on #523
[code]

[2018-01-03 09:08] #503 closed

[2018-01-03 12:18] bmagyar commented on #500
Almost all green from me, excellent submission :+1:

[2018-01-03 13:27] leeper commented on #515
Hi @pragyansmita, just a quick reminder about this review! Thanks!

[2018-01-03 14:46] arfon commented on #490
Excellent!

@bjodah - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-03 15:09] lindsayad commented on #298
@kyleniemeyer I've fleshed out our article a bit more, so hoping it's ready to go!

[2018-01-03 21:19] paulgovan commented on #425
@katyhuff, just circling back to this. Any update?

[2018-01-03 21:51] bjodah commented on #490
@arfon Thanks,

I've tagged a new patch version (v0.11.6) including the changes suggested by arghdos.
The DOI for the archive of this version is: [10.5281/zenodo.1134944](http://dx.doi.org/10.5281/zenodo.1134944)

[2018-01-03 21:52] bjodah commented on #490
...and I just updated the paper meta-data accordingly:
https://github.com/bjodah/pyodesys/commit/92575ddf77ad795247a0f890319be0e94beacc45

[2018-01-03 22:09] kyleniemeyer commented on #298
@whedon generate pdf

[2018-01-03 22:09] whedon commented on #298
[code]

[2018-01-03 22:09] whedon commented on #298
[code]

[2018-01-03 22:14] kyleniemeyer commented on #298
Hi @lindsayad, it looks like the `kophazi_development_2009` reference is missing the DOI, and the `moltres` reference also seems incomplete. (If the latter is accepted, perhaps update the year to 2018?)

[2018-01-04 01:32] arfon commented on #490
@whedon set 10.5281/zenodo.1134944 as archive

[2018-01-04 01:32] whedon commented on #490
OK. <a href="http://dx.doi.org/10.5281/zenodo.1134944" target="_blank">10.5281/zenodo.1134944</a> is the archive.

[2018-01-04 01:37] arfon commented on #490
@arghdos - many thanks for your review here ✨

@bjodah - your paper is now accepted into JOSS and your paper DOI is https://doi.org/10.21105/joss.00490 ⚡️ 🚀 💥

[2018-01-04 01:37] #490 closed

[2018-01-04 01:37] whedon commented on #490
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00490/status.svg)](https://doi.org/10.21105/joss.00490)

**We need your help!**

Journal of Open Source Software

[2018-01-04 05:10] hdashnow commented on #519
@mgymrek I'm sorry, I can't review this one. I'm on maternity leave at the moment. Let me know if you would like suggestions for another reviewer.

[2018-01-04 11:55] sgrieve commented on #516
I'm happy with all these changes, delighted to accept @arfon 🚀

[2018-01-04 12:18] arfon commented on #516
Friendly reminder to take a look at this when you get a chance @scollis

[2018-01-04 13:33] leeper commented on #504
@hausen Would you be interested in reviewing this for JOSS?

[2018-01-04 15:05] katyhuff commented on #425
@whedon generate pdf

[2018-01-04 15:05] whedon commented on #425
[code]

[2018-01-04 15:06] whedon commented on #425
[code]

[2018-01-04 15:09] katyhuff commented on #425
@paulgovan This looks good to me! I believe it can be accepted! At this point could you make an updated archive of the reviewed version of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-04 15:41] scollis commented on #516
Thanks! will do today

[2018-01-04 16:09] paulgovan commented on #425
Thanks @katyhuff! Here is the new DOI: [![DOI](https://zenodo.org/badge/42831223.svg)](https://zenodo.org/badge/latestdoi/42831223)

[2018-01-04 16:10] katyhuff commented on #425
@whedon set 10.5281/zenodo.596010 as archive

[2018-01-04 16:10] whedon commented on #425
OK. <a href="http://dx.doi.org/10.5281/zenodo.596010" target="_blank">10.5281/zenodo.596010</a> is the archive.

[2018-01-04 16:14] katyhuff commented on #425
@whedon generate pdf

[2018-01-04 16:14] whedon commented on #425
[code]

[2018-01-04 16:14] whedon commented on #425
[code]

[2018-01-04 16:15] katyhuff commented on #425
@arfon we're ready to accept this!

[2018-01-04 21:11] nmmsv commented on #497
Hello,
I did receive the license for cross_match. But I'll be trying to run the test script for now. There are some modifications that help the user in running the code, and also an error log that I've listed below.

1. Please make test script customizable, ask for inputs instead of setting manual paths (Also create usage and --help input to explain the requirements). For example, in runXMV.sh the

[2018-01-04 21:33] CoreRobotics commented on #477
generate pdf

[2018-01-04 21:35] danielskatz commented on #477
@CoreRobotics - this issue is closed - the review is going on in #489

[2018-01-04 21:41] CoreRobotics commented on #477
Ok thanks - I didn't realize I could update the pdf in the new thread.

[2018-01-04 21:46] arfon commented on #425
@rgiordan - many thanks for your review here and to @katyhuff for editing this submission ✨

@paulgovan - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00425 ⚡️ 🚀 💥

[2018-01-04 21:46] #425 closed

[2018-01-04 21:46] whedon commented on #425
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00425/status.svg)](https://doi.org/10.21105/joss.00425)

**We need your help!**

Journal of Open Source Software

[2018-01-04 21:46] CoreRobotics commented on #489
@danielskatz We are currently working to address some of the issues @bmagyar opened.  I do have a question... a couple of the issues seem to be preferential, e.g.: #7.  It is difficult at this stage for us to rename all the classes since this would require significant rework of existing projects using the library.  Is this a necessary fix?  Thanks for the clarity.

[2018-01-04 21:46] CoreRobotics commented on #489
generate pdf

[2018-01-04 21:46] scollis commented on #516
Still having install issues.. I do not use Brew.. I can not use it on this mac (work mac)... I have installed the macos app
[code]
@rgieseke is it out of scope this should work?

[2018-01-04 21:49] danielskatz commented on #489
@whedon generate pdf

[2018-01-04 21:49] whedon commented on #489
[code]

[2018-01-04 21:49] whedon commented on #489
[code]

[2018-01-04 21:50] danielskatz commented on #489
your response to #7 seems ok to me - let's see what @bmagyar says

[2018-01-05 03:57] hausen commented on #504
@leeper I'm sorry, but this submission is completely outside the scope of my knowledge.

[2018-01-05 05:07] jslee02 commented on #500
@whedon generate pdf

[2018-01-05 05:07] whedon commented on #500
[code]

[2018-01-05 05:07] whedon commented on #500
[code]

[2018-01-05 08:09] rgieseke commented on #516
@scollis It should work, and I just tested on my machine with a package installed from https://dl.winehq.org/wine-builds/macosx/download.html

I've created an issue in the Pymagicc repo
https://github.com/openclimatedata/pymagicc/issues/16

[2018-01-05 08:21] leeper commented on #504
@wrathematics Would you be interested in reviewing this for JOSS?

[2018-01-05 09:47] bmagyar commented on #489
:+1: for bringing it up here as well, the reviewer guidelines are not specific about this.

While #7 is a pedantic issue, the rest I believe directly affect how others can use your library. Since the point of JOSS is to advocate re-using research code I think it is necessary that the code is brought in line with common design principles.

Of course with open source projects everything is up for di

[2018-01-05 18:46] jarvist commented on #444
My apologies! I had managed to confuse myself + ended up tidying the README instead of the JOOS paper.
I've applied edits as suggested & tried to write a more lay-person introduction.

https://github.com/jarvist/PolaronMobility.jl/commit/215cc55d63ad233e79f7c8cba79835ff0fad754d

[2018-01-05 19:00] lindsayad commented on #298
What do you mean by incomplete? I can't provide a volume or issue number since it hasn't been published yet. I've updated the year (since it will be published in 2018 -> good catch!). Should I just not have that reference?

[2018-01-05 19:02] lindsayad commented on #298
Kophazi reference has been updated with DOI

[2018-01-05 22:44] kyleniemeyer commented on #298
@whedon generate pdf

[2018-01-05 22:44] whedon commented on #298
[code]

[2018-01-05 22:44] whedon commented on #298
[code]

[2018-01-05 22:47] kyleniemeyer commented on #298
Hi @lindsayad, ok, got it, I didn't realize at first that the `moltres` reference was something submitted.

If it hasn't yet been accepted in the journal, it's probably not appropriate to include the journal name. Instead, perhaps replace the journal name with "in review"? Also, is there a preprint link you could share? If so, it might be good to change the reference type to `misc` and add that li

[2018-01-06 20:19] lindsayad commented on #298
It has been accepted. I just finished reviewing the proofs. But not published yet. Hmm good thought on the preprint. We didn't submit to arxiv but probably should anyways. Would you prefer that to the accepted but not yet published reference?

[2018-01-06 21:23] kyleniemeyer commented on #298
@lindsayad Ah, ok. Since it's been accepted, then it's fine to include the journal name. It's up to you if you want to submit to arXiv, but if you do, then you could add the link (once it's available).

I'm fine to accept this now, but it's up to you (and @katyhuff) if you want to add an arXiv link, or even wait for the DOI to become available.

[2018-01-06 21:45] greatfireball commented on #464
Happy new year to both of you @pjotrp and @jdeligt, hope you had a wonderful holiday season. We updated our paper.md and added some more citations. We are still waiting for the more detailed description of the issue @jdeligt found. Please let us know if we can help you finishing the review process.

[2018-01-06 22:11] lindsayad commented on #298
I'm ready to be done but I'll let @katyhuff sign off first

[2018-01-06 22:31] katyhuff commented on #298
![bitmoji](https://render.bitstrips.com/v2/cpanel/eb1a2ea1-7c1f-4a92-abdb-e89cdc52edfd-aef391d1-ee2a-4ffc-b1c7-1c24444a7cae-v1.png?transparent=1&palette=1&width=246)

[2018-01-07 19:31] lheagy commented on #444
@whedon generate pdf

[2018-01-07 19:31] whedon commented on #444
[code]

[2018-01-07 19:31] whedon commented on #444
[code]

[2018-01-07 19:45] lheagy commented on #444
Thanks @jarvist, the text looks good. There is an issue with the bibliography when trying to generate the pdf - do you need the citation on line 9 at the moment? It doesn't look like you reference it, so we could potentially remove it for now?

How are things going with getting the testing up and running?

[2018-01-07 19:47] lheagy commented on #440
Thanks @jochym for all of your feedback! @yxqd, please keep us posted on the progress of the issues, as it looks like
- sns-chops/multiphonon#82
- sns-chops/multiphonon#83
- sns-chops/multiphonon#84
are still in progress

[2018-01-07 20:02] j-faria commented on #487
Hi @barentsen,
I think I have now addressed all the issues you raised in your first review.

 - The C++ code, together with the examples, is now compiled in Travis automatically (and the related issues were fixed)
 - I created the `pykima` package as suggested, which now makes available a `kima-showresults` script and can also be imported from a Python interpreter. I'm not sure if it makes sense t

[2018-01-07 20:04] j-faria commented on #487
@whedon generate pdf

[2018-01-07 20:04] whedon commented on #487
[code]

[2018-01-07 20:04] whedon commented on #487
[code]

[2018-01-07 20:07] arokem commented on #510
@josephhardinee : thanks for getting back to me on this. No problem with this being your first review. I can help along!

I will start by assigning you as an editor and starting the review process. Once that's done, it will create a new issue for the review, with a check list of items that we'd like you to take a look at. The best way to help authors make it through the review is to post issues to

[2018-01-07 20:07] arokem commented on #510
@whedon assign @josephhardinee as reviewer

[2018-01-07 20:07] whedon commented on #510
OK, the reviewer is @josephhardinee

[2018-01-07 20:08] arokem commented on #510
@whedon start review magic-word=bananas

[2018-01-07 20:08] whedon commented on #510
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/524. Feel free to close this issue now!

[2018-01-07 20:08] whedon opened #524 "[REVIEW]: MixEst: An Estimation Toolbox for Mixture Models"
**Submitting author:** @reshadh (<a href="http://orcid.org/0000-0002-3669-760X">Reshad Hosseini</a>)
**Repository:** <a href="https://github.com/utvisionlab/mixest" target ="_blank">https://github.com/utvisionlab/mixest</a>
**Version:** v1.2.0
**Editor:** @arokem
**Reviewer:** @josephhardinee
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/bac8c079865ef33491d7ded0bfef0933/

[2018-01-07 20:08] whedon commented on #524
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @josephhardinee it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-01-07 20:08] whedon commented on #524
[code]

[2018-01-07 20:08] #510 closed

[2018-01-07 20:08] whedon commented on #524
[code]

[2018-01-07 20:09] arokem commented on #510
@josephhardinee : head on over to #524 for the review. And please ping me whenever you have a question. I might take a few days to answer (as I check in on this only periodically).

[2018-01-07 21:04] jsgalan commented on #519
Hi @nterhoeven and all, i reviewed the article and have minor comments.

However, when i wanted to install the software through Docker, had some problems. I am working in osx and the installer it seems is made for ubuntu, attached is the error log for the build. Any of you guys know how to get around this?

Let me know if I am doing something wrong.

Best

[reper docker build.txt](https://github.c

[2018-01-07 23:41] barentsen commented on #487
I hope to continue the review soon, but unfortunately I'll be tied up with the AAS meeting during all of next week.

[2018-01-08 01:35] yxqd commented on #440
Thanks @lheagy. We tried to address them in sns-chops/multiphonon#101 and sns-chops/multiphonon#100. @Fahima-Islam is giving it a final check and then we will ask @jochym for another review.

[2018-01-08 02:53] arfon commented on #298
@lindsayad - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-08 02:56] arfon commented on #501
We generally try not to police authorship here but in the past, package owners/maintainers have opened an issue on the repository (https://github.com/scikit-learn-contrib/categorical-encoding) to ask if other contributors would like to be authors on the paper.

@desilinguist - friendly reminder to get to this review when you get a chance 😄

[2018-01-08 03:02] arfon commented on #445
@biorelated - I think we might need to find a new reviewer...

[2018-01-08 03:04] desilinguist commented on #501
I’ll get it done this week, just back from vacation :)
On Sun, Jan 7, 2018 at 9:56 PM Arfon Smith <notifications@github.com> wrote:

[2018-01-08 03:22] wdm0006 commented on #501
Ok, cool, I'll open an issue then, that's a good idea.

[2018-01-08 08:43] nterhoeven commented on #519
Hi @jsgalan thanks for reviewing. Would you mind to [open an issue](https://github.com/nterhoeven/reper/issues/new) for your comments. I will then take a look at this.

The Docker error is strange - Docker should be platform independent. Looking at the log, I see the following error:

[code]
This seems to be a network issue on your system. maybe related to the DNS server you are using. take a look

[2018-01-08 14:10] lindsayad commented on #298
Yes, the DOI should be 10.5281/zenodo.887941

On Sun, Jan 7, 2018 at 7:53 PM, Arfon Smith <notifications@github.com>
wrote:

[2018-01-08 14:15] lindsayad commented on #298
Ok, our article was actually published this morning, so if it's not too
late, I've updated our bibliography with its DOI and publication
information.

On Mon, Jan 8, 2018 at 7:10 AM, Alexander Lindsay <alexlindsay239@gmail.com>
wrote:

[2018-01-08 14:16] katyhuff commented on #298
@lindsay , you'll need to update the zenodo.

[2018-01-08 14:25] desilinguist commented on #501
This is a very useful and well thought out piece of software, speaking as someone who has had to deal with categorical features a lot for various datasets. It's extremely helpful to have a single package that not only contains a large variety of methods to convert such categorical features into numerical ones but is also compatible with the leading Python machine learning package that is most wide

[2018-01-08 14:37] wdm0006 commented on #501
Thanks for the feedback @desilinguist, I'll work on improving the readme and the statement of need.

[2018-01-08 14:44] lindsayad commented on #298
Updated DOI for the moltres repo: 10.5281/zenodo.1137726

[2018-01-08 15:05] jakevdp commented on #501
Thanks for the prompt review, @desilinguist! @wdm0006 – let us know when the comments are addressed.

[2018-01-08 15:20] arfon commented on #298
@whedon set 10.5281/zenodo.1137726 as archive

[2018-01-08 15:21] whedon commented on #298
OK. <a href="http://dx.doi.org/10.5281/zenodo.1137726" target="_blank">10.5281/zenodo.1137726</a> is the archive.

[2018-01-08 15:31] arfon commented on #298
@scopatz - many thanks for your review here and to @kyleniemeyer for editing this one ✨

@lindsayad - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00298 ⚡️ 🚀 💥

[2018-01-08 15:31] #298 closed

[2018-01-08 15:31] whedon commented on #298
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00298/status.svg)](https://doi.org/10.21105/joss.00298)

**We need your help!**

Journal of Open Source Software

[2018-01-08 15:33] arfon commented on #494
👋 @joezuntz - how are you getting along here?

[2018-01-08 15:34] arfon commented on #481
@liandrea4 - please take a look at @stsievert's feedback and let us know when you've had a chance to make the improvements to your submission.

[2018-01-08 15:37] arfon commented on #22
@vpnagraj - have you had a chance to take a look at making improvements to this submission? Also, if you're not interested in pursuing this submission to JOSS any longer we can withdraw your submission,.

[2018-01-08 15:39] whedon opened #525 "[PRE REVIEW]: G³M-f a global gradient-based groundwater modelling framwork"
**Submitting author:** @rreinecke (<a href="http://orcid.org/0000-0001-5699-8584">Robert Reinecke</a>)
**Repository:** <a href="https://github.com/rreinecke/global-gradient-based-groundwater-model" target ="_blank">rreinecke/global-gradient-based-groundwater-model</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @wkearn

**Author instructions**

Thanks for submitting your

[2018-01-08 15:39] whedon commented on #525
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-08 15:39] whedon commented on #525
[code]

[2018-01-08 15:39] whedon commented on #525
[code]

[2018-01-08 15:43] arfon commented on #525
@rreinecke - thanks for your submission to JOSS.

There are a few issues with your submission as it currently stands:

- The source code doesn't seem to be hosted on a platform such as GitHub/Bitbucket/Sourceforge which is going to make it very difficult for your reviewers to open flag issues that arise during review with your project.
- I don't seem to be able to find a `paper.md` file associated

[2018-01-08 15:43] whedon opened #526 "[PRE REVIEW]: PyDMD: Python Dynamic Mode Decomposition"
**Submitting author:** @mtezzele (<a href="http://orcid.org/0000-0001-9747-6328">Marco Tezzele</a>)
**Repository:** <a href="https://github.com/mathLab/PyDMD" target ="_blank">https://github.com/mathLab/PyDMD</a>
**Version:** v0.1.0
**Editor:** @jakevdp
**Reviewer:** @jkmacc-LANL

**Author instructions**

Thanks for submitting your paper to JOSS @mtezzele. The JOSS editor (shown at the top of this

[2018-01-08 15:43] whedon commented on #526
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jakevdp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-01-08 15:43] whedon commented on #526
[code]

[2018-01-08 15:43] whedon commented on #526
[code]

[2018-01-08 15:44] arfon commented on #526
👋 @jakevdp - the submitting author suggested you as the handling editor for this submission.

[2018-01-08 15:46] arfon commented on #526
@mtezzele - I made some small edits to your `paper.md` to (hopefully) fix things up: https://github.com/mathLab/PyDMD/pull/55

[2018-01-08 16:01] oliviergimenez commented on #216
Dear @bbolker and @karthik,
First, apologies for taking so long to get back to you. The second semester of 2017 has been hectic. At last we had the chance to go through @bbolker's review over the Christmas break. @bbolker, our answers to your comments are attached. We have also submitted a new version of the package.
Thanks a lot for your time in reviewing our work.
Olivier & Gilbert

[bolker_revi

[2018-01-08 16:05] mtezzele commented on #526
@arfon thank you!

[2018-01-08 16:08] arfon commented on #526
@whedon generate pdf

[2018-01-08 16:08] whedon commented on #526
[code]

[2018-01-08 16:08] whedon commented on #526
[code]

[2018-01-08 16:13] Kevin-Mattheus-Moerman commented on #500
@bmagyar thanks for reviewing! All your boxes are ticked it seems. Is it safe to assume you are happy with this submission and recommend that we accept it?

@betatim how are you getting on?

[2018-01-08 16:14] mtezzele commented on #526
Sorry, I forgot a bibitem. I fix it in a minute.

[2018-01-08 16:20] Kevin-Mattheus-Moerman commented on #500
@jslee02 I have some minor comments on your paper.

1. Could you rephrase the heading "Research Publications Utilized DART"? Perhaps "Research publications utilizing DART" or "Research publications which utilized DART" sounds better.

2. Check the sentence: "In addition, DART gives provides flexibility...", Looks like removal of the word "gives" would fix this.

[2018-01-08 16:22] Kevin-Mattheus-Moerman commented on #472
@bzenger @CristianaCorsi Happy New Year! 🎉
@CristianaCorsi how are you getting on? Are you able to finalize the review process soon? Let me know if I can help with anything.

[2018-01-08 16:25] mtezzele commented on #526
@whedon generate pdf

[2018-01-08 16:25] whedon commented on #526
[code]

[2018-01-08 16:25] whedon commented on #526
[code]

[2018-01-08 16:28] Kevin-Mattheus-Moerman commented on #434
@zmimlitz this is a final reminder to please address the reviewers comments.

@arfon can you e-mail the authors a final reminder? If this review issue remains stale I suggest we retract this submission.

[2018-01-08 16:31] Kevin-Mattheus-Moerman commented on #300
@moorepants any updates to present? It would be good to keep going here.

[2018-01-08 16:33] Kevin-Mattheus-Moerman commented on #300
@stavness Are you able to start ticking some of the boxes at the top of this review issue?

[2018-01-08 16:34] Kevin-Mattheus-Moerman commented on #299
@geggo any news from your colleague? We would really appreciate help to review this work.

[2018-01-08 16:36] stavness commented on #300
I'm waiting for the revised version, and then I'll look at that time.

On Mon, Jan 8, 2018 at 10:33 AM, Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2018-01-08 16:37] arfon commented on #434
Done (and agreed).

[2018-01-08 16:43] Kevin-Mattheus-Moerman commented on #238
@whedon generate pdf

[2018-01-08 16:43] whedon commented on #238
[code]

[2018-01-08 16:43] whedon commented on #238
[code]

[2018-01-08 16:46] jslee02 commented on #500
@Kevin-Mattheus-Moerman Resolved. Thanks for the corrections.

[2018-01-08 16:46] jslee02 commented on #500
@whedon generate pdf

[2018-01-08 16:46] whedon commented on #500
[code]

[2018-01-08 16:46] whedon commented on #500
[code]

[2018-01-08 16:47] arfon commented on #238
@Kevin-Mattheus-Moerman - Whedon doesn't know how to handle this submission because of where the source is hosted.

[2018-01-08 16:48] Kevin-Mattheus-Moerman commented on #498
@arfon do you know what is wrong here?

[2018-01-08 16:48] Kevin-Mattheus-Moerman commented on #498
@wkearn do you know if you or one of your colleagues would be interested in reviewing this submission?

[2018-01-08 16:51] warrenlr commented on #497
thank you.
1. done.
2. created symbolic links
3. I tracked this problem (I am not seeing this on my system) and fixed according to instructions here: https://stackoverflow.com/questions/17451711/typeerror-when-resizing-an-image-with-pil-in-python
Let me know if this fixes it. If not, may have to change all calls to PIL modules (eg. from PIL import XX)
thanks
Rene

[2018-01-08 16:53] Kevin-Mattheus-Moerman commented on #520
@gvegayon you reviewed related [work by this author](https://github.com/openjournals/joss-reviews/issues/374) in the past. Would you be able and willing to assist with review here too?

[2018-01-08 16:58] Kevin-Mattheus-Moerman commented on #520
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-01-08 16:58] whedon commented on #520
OK, the editor is @Kevin-Mattheus-Moerman

[2018-01-08 17:02] Kevin-Mattheus-Moerman commented on #520
@gpeyre Is this submission of interest to you or your colleagues? It is an R-package on multi-criteria optimization problems on graphs, see also the summary in the [paper 📜 ](https://github.com/openjournals/joss-papers/blob/joss.00520/joss.00520/10.21105.joss.00520.pdf).

[2018-01-08 17:32] vpnagraj commented on #22
@arfon i appreciate the follow up ... i don't have a timeline for the proposed edits, so i think it's best to withdraw the submission

thank you again for the comments and review on this project

[2018-01-08 17:35] mgymrek commented on #519
Hi @jsgalan thanks for agreeing to review! Sorry for not seeing this earlier. I will now start a review thread where you can paste additional comments and should go through the reviewer checklist.

[2018-01-08 17:36] mgymrek commented on #519
@whedon assign @jsgalan as reviewer

[2018-01-08 17:36] whedon commented on #519
OK, the reviewer is @jsgalan

[2018-01-08 17:36] mgymrek commented on #519
@whedon start review magic-word=bananas

[2018-01-08 17:36] whedon commented on #519
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/527. Feel free to close this issue now!

[2018-01-08 17:36] whedon opened #527 "[REVIEW]: reper - Genome-wide identification, classification and quantification of repetitive elements without an assembled genome"
**Submitting author:** @nterhoeven (<a href="http://orcid.org/0000-0002-8669-0000">Niklas Terhoeven</a>)
**Repository:** <a href="https://github.com/nterhoeven/reper" target ="_blank">https://github.com/nterhoeven/reper</a>
**Version:** v1.0.0
**Editor:** @mgymrek
**Reviewer:** @jsgalan
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1167969" target="_blank">10.5281/zenodo.1167969</a>

## S

[2018-01-08 17:36] whedon commented on #527
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jsgalan it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currentl

[2018-01-08 17:36] whedon commented on #527
[code]

[2018-01-08 17:37] mgymrek commented on #519
@jsgalan please see review thread linked above where we can continue discussion. I am closing this issue for now.

[2018-01-08 17:37] #519 closed

[2018-01-08 17:37] whedon commented on #527
[code]

[2018-01-08 17:37] mgymrek commented on #514
Hi @luizirber I just wanted to check in on this. Please let me know if you have any questions.

[2018-01-08 17:39] arfon commented on #22
👍 ok thanks @vpnagraj - I'll go ahead and withdraw the submission on your behalf. Thanks for you interest in JOSS :-)

[2018-01-08 17:39] #22 closed

[2018-01-08 17:43] arfon commented on #498
@whedon generate pdf

[2018-01-08 17:43] whedon commented on #498
[code]

[2018-01-08 17:43] whedon commented on #498
[code]

[2018-01-08 18:10] moorepants commented on #300
I apologize, my revision stalled due to other priorities. This is near the top of my task list, so I except to finalize this month.

[2018-01-08 18:24] Kevin-Mattheus-Moerman commented on #300
@moorepants great. Thanks for the update.

[2018-01-08 18:26] offray commented on #238
The [previous accepted paper][grafoscopio-paper] was hosted also in a Fossil repository and was processed properly, so this is possible. Let me know what can I make to help on this.

[grafoscopio-paper]: http://joss.theoj.org/papers/c92ed13fa746bc681081f9b31678841b

[2018-01-08 18:29] bbolker commented on #216
These responses seem fine to me. I will go through and close the issues.

[2018-01-08 18:45] arfon commented on #238
Yep, we can process them, I just have to do it manually.

[2018-01-08 18:49] gvegayon commented on #520
Sure @Kevin-Mattheus-Moerman

[2018-01-08 18:57] Kevin-Mattheus-Moerman commented on #520
@whedon assign @gvegayon as reviewer

[2018-01-08 18:57] whedon commented on #520
OK, the reviewer is @gvegayon

[2018-01-08 18:57] Kevin-Mattheus-Moerman commented on #520
@whedon start review magic-word=bananas

[2018-01-08 18:57] whedon commented on #520
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/528. Feel free to close this issue now!

[2018-01-08 18:57] whedon opened #528 "[REVIEW]: grapherator: A Modular Multi-Step Graph Generator"
**Submitting author:** @jakobbossek (<a href="http://orcid.org/0000-0002-4121-4668">Jakob Bossek</a>)
**Repository:** <a href="https://github.com/jakobbossek/grapherator" target ="_blank">https://github.com/jakobbossek/grapherator</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewer:** @gvegayon
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1175943" target="_blank">10.52

[2018-01-08 18:57] whedon commented on #528
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @gvegayon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably current

[2018-01-08 18:57] whedon commented on #528
[code]

[2018-01-08 18:57] #520 closed

[2018-01-08 18:57] whedon commented on #528
[code]

[2018-01-08 18:59] Kevin-Mattheus-Moerman commented on #528
@jakobbossek @gvegayon review has started here. Let me know if I can help.

[2018-01-08 19:24] kyleniemeyer commented on #298
hey @lindsayad @arfon looks like the DOI in that new reference got messed up—it looks like "https://doi.org/https://doi.org/10.1016/j.anucene.2017.12.025"

[2018-01-08 19:53] bbolker commented on #216
I've left a couple of specific comments on the issues list. Everything else was fine.

[2018-01-08 19:59] arfon commented on #298
@kyleniemeyer @lindsayad - this PR fixes the issue. The paper template expects 'bare' DOIs, i.e. without the full URL: https://github.com/arfc/moltres/pull/61

[2018-01-08 20:02] arfon commented on #298
I've updated the paper based on https://github.com/arfc/moltres/pull/61. It might take a while before it looks fixed on the JOSS site as the papers are served from a content distribution network (CDN).

[2018-01-08 20:03] rreinecke commented on #525
Hi Arfon,

The code is hosted on github:
https://github.com/rreinecke/global-gradient-based-groundwater-model
and should contain all the required files and is liked on the submited
homepage which is also hosted on github.
I'm sorry but the submission form was unclear on that topic and I've
submitted the official url. Maybe you can add a hint that it is
automatically processed and that one should u

[2018-01-08 20:03] arfon commented on #238
@offray - could you provide links to the `paper.md` and `paper.bib` files please?

[2018-01-08 20:15] nmmsv commented on #497
Hello,

I now realize that my previous log was truncated for some reason and didn't contain the actual error message. I tried again with the new version of the code, and I still get the following error:

`2629 out of 2635
2630 out of 2635
2631 out of 2635
2632 out of 2635
2633 out of 2635
2634 out of 2635
done.
Drawing repeats...
Traceback (most recent call last):
  File "xmatchview.py", line 800,

[2018-01-08 20:56] warrenlr commented on #497
Hi Nima,

I have preceded each PIL module import statement by "from PIL"
hopefully this fixes it.
Thanks,
Rene

[2018-01-08 21:16] yxqd commented on #440
@lheagy @jochym Please see updates at sns-chops/multiphonon#82

[2018-01-08 22:06] offray commented on #238
Here they are:
- paper.bib: http://mutabit.com/repos.fossil/grafoscopio/doc/tip/Packages/Dataviz/JOSS/paper.bib
- paper.md: http://mutabit.com/repos.fossil/grafoscopio/raw/Packages/Dataviz/JOSS/paper.md?name=c9dfe60db76b62a44e997f5d2a6a4ee8fd758ad4

[2018-01-09 10:00] bmagyar commented on #500
@Kevin-Mattheus-Moerman yes, green light all the way from me! :+1:

[2018-01-09 11:38] wkearn commented on #498
I could review this submission, but it's not exactly my specialty. I'll try to think of someone more well-versed in these kinds of models and let you know.

[2018-01-09 11:57] joezuntz commented on #494
I've hit an installation issue that I've listed here: https://github.com/jronayne/PyTransport/issues/3
so I can't yet comment on the functionality.  I'll look at those parts of the docs that I can at this point.

[2018-01-09 12:02] joezuntz commented on #494
The code is also missing automated tests: https://github.com/jronayne/PyTransport/issues/4

[2018-01-09 12:09] joezuntz commented on #494
I've asked for a contributions statement: https://github.com/jronayne/PyTransport/issues/5

[2018-01-09 12:11] joezuntz commented on #494
@arfon Can you clarify about the DOIs requirement - the bibtex file lists them, but do you want them somewhere more obvious than that?  e.g. in the paper PDF itself?

[2018-01-09 14:16] nsheff commented on #463
DOI: 10.5281/zenodo.1140853

See: https://zenodo.org/record/1140853#.WlTOVvZG15w

[2018-01-09 15:25] jarvist commented on #444
Ok, I've removed the blank reference.

Travis CI is setup, but the builds sometimes fail due to reasons outside my control - often that Travis fails to get a fresh copy of Julia!

I'll see if I can restrict the architectures it tries on;
https://travis-ci.org/jarvist/PolaronMobility.jl/jobs/325561158

[2018-01-09 16:11] kyleniemeyer commented on #433
Hi @ljvmiranda921, sorry for the delay on this.

It looks like your software is good to go, but I do have some feedback on the article before accepting.

Right now, the article is a bit short; we don't want a full-length paper, but per the [author guidelines](http://joss.theoj.org/about#author_guidelines) we do expect between 250-1000 words. Perhaps you could describe the implementation a bit more

[2018-01-09 16:42] arfon commented on #494
Basically we just want it present in the bibtex if there is a DOI available. That way we can generate better Crossref metadata when we publish the JOSS paper.

[2018-01-09 17:02] leeper commented on #463
@whedon set archive as 10.5281/zenodo.1140853

[2018-01-09 17:03] leeper commented on #463
@whedon set 10.5281/zenodo.1140853 as archive

[2018-01-09 17:03] whedon commented on #463
OK. <a href="http://dx.doi.org/10.5281/zenodo.1140853" target="_blank">10.5281/zenodo.1140853</a> is the archive.

[2018-01-09 17:04] leeper commented on #463
@nsheff This looks great. You're all set! Congratulations!

[2018-01-09 17:05] leeper commented on #463
@arfon This one's for you.

[2018-01-09 17:30] bunhoel commented on #229
Dear Karthik

We following the request on how to implement the R packages using the
Hadley Wickham's book (http://r-pkgs.had.co.nz/)
 - git was used to upload the package to github through a SSH connection.
- the qGaussian repository was created and git files uploaded through the
the "git remote add origin" and "git push -u origin master" commands as suggested by the book´s author.
- and the DESCR

[2018-01-09 19:09] whedon opened #529 "[PRE REVIEW]: pyneqsys: Solve symbolically defined systems of non-linear equations numerically"
**Submitting author:** @bjodah (<a href="http://orcid.org/0000-0003-0596-0222">Björn Dahlgren</a>)
**Repository:** <a href="https://github.com/bjodah/pyneqsys" target ="_blank">https://github.com/bjodah/pyneqsys</a>
**Version:** v0.5.1
**Editor:** @arfon
**Reviewer:** @andim

**Author instructions**

Thanks for submitting your paper to JOSS @bjodah. The JOSS editor (shown at the top of this issue)

[2018-01-09 19:09] whedon commented on #529
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-09 19:09] whedon commented on #529
[code]

[2018-01-09 19:10] whedon commented on #529
[code]

[2018-01-09 21:14] jakevdp commented on #526
@whedon commands

[2018-01-09 21:14] whedon commented on #526
Here are some things you can ask me to do:

[code]

[2018-01-09 21:15] jakevdp commented on #526
@whedon list reviewers

[2018-01-09 21:15] whedon commented on #526
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-01-09 21:21] bjodah commented on #529
perhaps @arghdos would be willing to review this paper? `pyneqsys` is similar in structure to the earlier submitted pyodesys package.

[2018-01-10 04:55] daattali commented on #185
After revisions, the package LGTM

I left a few more small comments for the author to fix, but they are not blocking issues, I would accept the package now

[2018-01-10 05:31] karthik commented on #216
Thanks @bbolker. Let me know when you are ok with signing off. 🙏

[2018-01-10 08:30] mtezzele commented on #526
Reading the list I would suggest nicoguaro or lheagy. Is that something I need to choose or is it up to the editor? Sorry but I am new to this process...

[2018-01-10 10:39] jdeligt commented on #464
Thanks for the reminder and updating the documentation and contribution sections. The latest & greatest binary is running now, if it produces errors I will raise a well documented issue, if not I will tick the last box and the review will be concluded.

[2018-01-10 11:28] jdeligt commented on #464
Apart from a minor issue with relative paths https://github.com/chloroExtractorTeam/chloroExtractor/issues/88 no further problems were encountered and this issue can be worked around by the average user. Seen how the previous issues were handled I am confident that this will be resolved and should not impede publication.

As such I'm closing this review and would recommend publication.

[2018-01-10 11:30] jdeligt commented on #464
@whedon commands

[2018-01-10 11:30] whedon commented on #464
Here are some things you can ask me to do:

[code]

[2018-01-10 11:31] jdeligt commented on #464
@pjotrp Whedon seems disinclined/unable to close the review process, can you work your editorial powers and move the paper along?

[2018-01-10 13:40] ljvmiranda921 commented on #433
Hi @kyleniemeyer , thanks a lot! I have updated the paper and the changes can be seen in  ljvmiranda921/pyswarms#71 . If everything looks good, I can already merge the branch to master. :smile:

[2018-01-10 14:07] arfon commented on #526
This is something that the editor will help with.

[2018-01-10 14:13] arfon commented on #185
@lebebr01 - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-10 14:29] arfon commented on #506
@Kevin-Mattheus-Moerman - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-10 14:29] arfon commented on #506
@Kevin-Mattheus-Moerman - ignore that. We're waiting for a second review here right?

[2018-01-10 15:17] Kevin-Mattheus-Moerman commented on #506
@arfon Yes indeed. @wspr let me know if you need any help, looking forward to your comments.

[2018-01-10 16:12] sjspielman commented on #514
Hello @mgymrek and @luizirber,

I have a inquiry regarding this review process. An updated version of one my citations has just been published and I would like to update my `paper.md` with this new citation. Is it possible to update at this stage or should I keep waiting until the review actually begins? It has now been about 4 weeks since the review was assigned so the time frame has not been cle

[2018-01-10 16:23] luizirber commented on #514
Hi Stephanie,

You can update it. I will review it today.

On January 10, 2018 4:12:07 PM UTC, Stephanie <notifications@github.com> wrote:

--
Sent from my Android device with K-9 Mail. Please excuse my brevity.

[2018-01-10 16:27] sjspielman commented on #514
Thanks very much! I just updated it. I realize, though, that it's still in press so the full citation with volume/issue/pages is still forthcoming. Either way it's better than before. Thanks again!

[2018-01-10 17:12] kyleniemeyer commented on #433
@ljvmiranda921 looks good! Please merge that, and I'll try generating the article PDF.

[2018-01-10 17:20] ljvmiranda921 commented on #433
@kyleniemeyer , merged! :+1:

[2018-01-10 17:24] kyleniemeyer commented on #433
@whedon generate pdf

[2018-01-10 17:24] whedon commented on #433
[code]

[2018-01-10 17:24] whedon commented on #433
[code]

[2018-01-10 17:27] kyleniemeyer commented on #433
@ljvmiranda921 alright, looks good. Can you now archive the entire software repository (e.g., using Zenodo) and report the DOI back here? That'll be the last thing needed.

[2018-01-10 17:31] ljvmiranda921 commented on #433
Thanks! Hmmm, I currently have a Zenodo DOI of the latest version v.0.1.7 ([link](https://zenodo.org/record/996029), DOI: 10.5281/zenodo.996029). Do I still need to make a new one?

[2018-01-10 17:34] kyleniemeyer commented on #433
It should reflect the latest version including the changes you made to address the reviewer comments here—if that version was archived in September, then I don't think it would have the newer changes you made.

[2018-01-10 17:41] ljvmiranda921 commented on #433
Hi @kyleniemeyer , sorry for my confusion and I just want to be careful: if I am to archive via Zenodo, then that means I will create a new release, thus bumping the version number of my submission (just following the instructions from this [link](https://guides.github.com/activities/citable-code/)). This will then be v0.1.8 and is now "different" to v0.1.7, is it okay to proceed? Thanks a lot! :+

[2018-01-10 17:42] kyleniemeyer commented on #433
@ljvmiranda921 yeah that's no problem, we typically expect the version number to change after the code goes through review.

[2018-01-10 17:48] ljvmiranda921 commented on #433
Here is the DOI: **10.5281/zenodo.1145432**  ([link](https://zenodo.org/record/1145432))

[2018-01-10 17:55] whedon commented on #433
OK. <a href="http://dx.doi.org/10.5281/zenodo.1145432" target="_blank">10.5281/zenodo.1145432</a> is the archive.

[2018-01-10 17:55] kyleniemeyer commented on #433
@arfon this is now accepted and ready to publish

[2018-01-10 18:01] ljvmiranda921 commented on #433
Thank you @kyleniemeyer for helping me improve my paper, and to @stsievert for reviewing my submission! :smiley:

[2018-01-10 18:49] moorepants commented on #300
We have made all of the changes requested by the reviewers. You can see an issue for each reviewer comment here:

https://github.com/csu-hmc/opty/issues?q=is%3Aissue+is%3Aclosed+label%3Ajoss

And pull requests that close all of these issues here:

https://github.com/csu-hmc/opty/pulls?q=is%3Apr+is%3Aclosed+label%3Ajoss

I have not made a new release of opty yet, so testing from the master branch i

[2018-01-10 19:00] moorepants commented on #300
@whedon generate pdf

[2018-01-10 19:00] whedon commented on #300
[code]

[2018-01-10 19:05] moorepants commented on #300
@whedon generate pdf

[2018-01-10 19:05] whedon commented on #300
[code]

[2018-01-10 19:05] whedon commented on #300
[code]

[2018-01-10 19:07] moorepants commented on #300
Editors, I switched to an HTML table in the markdown file since HTML can be put into markdown files but the PDF does not render the table correctly. Any suggestions on getting a table in the paper?

[2018-01-10 19:27] Kevin-Mattheus-Moerman commented on #300
@arfon any suggestions for @moorepants?

[2018-01-10 20:31] SachaEpskamp commented on #470
Hi, sorry for the delay! This looks like a very nice small package that could be useful in several ways. The installation and examples all perform as expected. Below are some observations I had in no particular order.

Best, Sacha

1. Just entering an object in the console does not print it:
data("bfi")
cres <- correlation(bfi[,1:25])
cres # does nothing
print(cres) # prints results

2. It is not

[2018-01-10 20:31] wrathematics commented on #504
I'm catching up from the holidays + a nasty cold, so I have some other things to attend to right now. If you don't find anyone else, I believe I can review it in a week or two.

[2018-01-10 20:38] leeper commented on #470
Thank you, @SachaEpskamp! Great review!

@DominiqueMakowski Can you please give this review a read, make changes as appropriate, and respond to Sacha's points on this thread?

[2018-01-10 20:46] DominiqueMakowski commented on #470
Wow, thanks @SachaEpskamp for these very useful comments! (altough some of which will require from me some more learning on programming and statistics 😄).

I'll open an issue for each one of them to track progress and try to work out as many as I can.

@leeper, I'll come back here once I've given my best to let you know of the advances.

Thanks again ☺️

[2018-01-10 21:04] warrenlr commented on #497
Hello @nmmsv, has the fix worked on your system?

[2018-01-10 23:23] bjodah commented on #529
Or in the interest of spreading the work on reviewers, maybe @oesteban is interested in reviewing?

[2018-01-11 01:36] arfon commented on #463
@sckott - many thanks for your review here and to @leeper for editing this submission ✨

@vpnagraj @nsheff - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00463 ⚡️ 🚀 💥

[2018-01-11 01:36] #463 closed

[2018-01-11 01:36] whedon commented on #463
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00463/status.svg)](https://doi.org/10.21105/joss.00463)

**We need your help!**

Journal of Open Source Software

[2018-01-11 01:50] arfon commented on #433
@stsievert - many thanks for your review and to @kyleniemeyer for editing this submission ✨. @ljvmiranda921 - your submission is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00433 ⚡️ 🚀 💥

[2018-01-11 01:50] #433 closed

[2018-01-11 01:50] whedon commented on #433
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00433/status.svg)](https://doi.org/10.21105/joss.00433)

**We need your help!**

Journal of Open Source Software

[2018-01-11 03:19] nmmsv commented on #497
Hello @warrenlr ,
Sorry I was busy yesterday. believe now things are running as they should. I've attached the resulting figure.

![xmv-ftl1_ss fa_vs_ftl1_pa fa rep_m10_b10_r1_c1](https://user-images.githubusercontent.com/15001608/34807018-2cf1dc12-f63b-11e7-8c7b-b2eee720c281.png)

I'll go ahead and read the documentation and let you know if I had questions.
Best,
Nima

[2018-01-11 09:52] pjotrp commented on #464
@arfon we are ready to R&R

[2018-01-11 13:19] jsgalan commented on #527
I still have major problems with the docker installation.

I am blaming mostly the osx High Sierra docker for Mac for the inconvenience.

Any other reviewer using osx High Sierra and Docker could help?

Best

[2018-01-11 13:49] nterhoeven commented on #527
Hi @jsgalan that's a pity.

As it seems, there are other poeple who have problems with Docker after upgrading to High Sierra. For some [reinstalling docker seems to work](https://github.com/docker/for-mac/issues/2091). I am not a Mac expert, but maybe it is worth a try.

If docker is not working for you, you can take a look at [singularity](http://singularity.lbl.gov). This is a similar tool. Take

[2018-01-11 14:40] brentp commented on #517
@pjotrp I believe I have completed the review and the software meets the requirements as described with the inclusion of kortschack/arrgh#9

[2018-01-11 14:57] arghdos commented on #529
@bjodah I'm going to be a bit crazy for the next few weeks trying to wrap up a paper, so it might go faster if someone else reviews.  I can do it if you don't find another reviewer though

-- arghdos

[2018-01-11 15:13] bjodah commented on #529
@arghdos perfectly understandable‒good luck with the paper! (and thanks for the offer still)

Judging by what I see on Andreas Mayer's profile (@andim) I think it could be possible that he'd be willing to review?

[2018-01-11 15:50] scollis commented on #493
Hey @katyhuff @tupui and @mikeckennedy Sorry for my obscene delay.. Ametsoc annual meeting is just winding down and I installed Batman today... Will work through the examples etc..

[2018-01-11 15:52] scollis commented on #516
Thanks! The main issue I think I am having is with Conda environments.. I'll build a sandboxed environment.. I am on the road at the moment and I think this will be best checked on my Linux laptop back home (key word: "Mine").. Will be done soon, sorry for the hold up

[2018-01-11 16:16] tupui commented on #493
@scollis No worries. I you have any question. Also you can open an issue on the bug tracker, as with mikeckennedy I can add you as Guest on the project.

[2018-01-11 16:22] andim commented on #529
I can give it a go! It looks like an interesting package. :+1:

[2018-01-11 16:51] DominiqueMakowski commented on #470
@leeper I've tackled as many points as I could, and left three open (waiting for opinion or help). @SachaEpskamp Again, thanks a lot for your great suggestions 😌

[2018-01-11 17:06] scollis commented on #493
Review (to date):
-Repository is located as indicated by the link
-Licence is a CERFACS specific licence and is OSI approved.
-Version is 1.7.1 matching the version 1.7 as indicated in the submisison
-Authorship includes all contributors with greater that 10 commits. This seems reasonable.

[2018-01-11 17:22] jakevdp commented on #526
I've reached out to a potential reviewer.

[2018-01-11 17:44] lebebr01 commented on #185
Great, thanks @arfon. I created an archive of the reviewed software in Zenodo: https://doi.org/10.5281/zenodo.1146049.

Thank you for your assistance and let me know if you need anything further from me.

[2018-01-11 17:50] lheagy commented on #444
As this submission is outside my domain, I would like to find 2 reviewers.

@tacaswell, @khinsen, @betatim, @jochym - would any of you be willing to review this submission for JOSS? You can read more about the process here http://joss.theoj.org/about#reviewer_guidelines, and feel free to ping with questions!

[2018-01-11 18:10] labarba commented on #394
@weymouth Do let us know when you'd like the reviewer to have a final look at your improvements, to get the recommendation to accept.

[2018-01-11 18:30] jakevdp commented on #526
@whedon assign @jkmacc-LANL as reviewer

[2018-01-11 18:30] whedon commented on #526
OK, the reviewer is @jkmacc-LANL

[2018-01-11 18:31] jakevdp commented on #526
@whedon start review

[2018-01-11 18:31] whedon commented on #526
You didn't say the magic word! Try this:

[code]

[2018-01-11 18:31] jakevdp commented on #526
@whedon start review magic-word=bananas

[2018-01-11 18:31] whedon opened #530 "[REVIEW]: PyDMD: Python Dynamic Mode Decomposition"
**Submitting author:** @mtezzele (<a href="http://orcid.org/0000-0001-9747-6328">Marco Tezzele</a>)
**Repository:** <a href="https://github.com/mathLab/PyDMD" target ="_blank">https://github.com/mathLab/PyDMD</a>
**Version:** v0.1.0
**Editor:** @jakevdp
**Reviewer:** @jkmacc-LANL
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1171787" target="_blank">10.5281/zenodo.1171787</a>

## Status

[2018-01-11 18:31] whedon commented on #526
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/530. Feel free to close this issue now!

[2018-01-11 18:31] whedon commented on #530
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @jkmacc-LANL it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2018-01-11 18:31] whedon commented on #530
[code]

[2018-01-11 18:31] #526 closed

[2018-01-11 18:32] whedon commented on #530
[code]

[2018-01-11 18:32] jakevdp commented on #530
Hi @jkmacc-LANL – the review will take place in this issue. Please see the instructions and checklist above, and feel free to let me know if you have any questions!

[2018-01-11 19:47] arfon commented on #185
@whedon set 10.5281/zenodo.1146049 as archive.

[2018-01-11 19:47] whedon commented on #185
OK. <a href="http://dx.doi.org/10.5281/zenodo.1146049" target="_blank">10.5281/zenodo.1146049</a> is the archive.

[2018-01-11 23:57] wdm0006 commented on #501
@desilinguist I've updated the README and added a little bit to the paper, please let me know if the changes are sufficient.

[2018-01-12 10:04] mdsumner commented on #360
Excellent, thanks for all this.

Just a few notes.

The devtools installation can use this syntax now, which you might prefer:

[code]

I did miss the .travis.yml, and now realize why - I'm used to seeing "badges" in github readmes, which you might consider adding - but I'll remember not to assume travis will always include these ...

I think you've addressed all my comments very well. Thanks!

I'

[2018-01-12 13:58] arfon commented on #185
@daattali - many thanks for your review here and to @acabunoc for editing this submission ✨

@lebebr01 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00185 ⚡️ 🚀 💥

[2018-01-12 13:58] #185 closed

[2018-01-12 13:58] whedon commented on #185
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippet:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00185/status.svg)](https://doi.org/10.21105/joss.00185)

**We need your help!**

Journal of Open Source Software

[2018-01-12 15:04] nterhoeven commented on #527
Hi @jsgalan,

[2018-01-12 15:10] jsgalan commented on #527
Hi @nterhoeven i have been trying with Singularity, i got a few than with Docker, still somehow the VM crashed and wasnt able to restart it, I will try it today again.

[2018-01-12 15:14] nterhoeven commented on #527
good. Feel free to open issues if you have any problems

[2018-01-12 16:07] oliviergimenez commented on #216
Dear @bbolker, cc @karthik,
Thanks for closing all issues, your help has been very valuable.
Olivier & Gilbert

[2018-01-12 18:23] karthik commented on #360
Thanks @mdsumner!

[2018-01-12 18:25] karthik commented on #360
@@jameshiebert Please let me know where you have archived the software so we can proceed with finalizing this submission. I will need a Zenodo or figshare DOI.

[2018-01-12 21:56] luizirber commented on #514
Hello @sjspielman! Very nice software, just a couple of comments:

## Blockers
- [ ] DOI missing for datamonkey and HyPhy refs
  - [ ] HyPhy: https://doi.org/10.1093/bioinformatics/bti079
  - [ ] Datamonkey 2: https://doi.org/10.1093/molbev/msx335

## Recommendations

- LICENSE.txt doesn't appear to be recognized by github
  - It seems to be some oddness with detection the FreeBSD-style license, t

[2018-01-12 23:07] nmmsv commented on #497
Hi @warrenlr ,

I've read your paper, and I have a few comments based on the reviewer guidelines:
1. Please remove API explanation from paper, and add them to the documentation.
2. Test: Please create a means for the user to test proper installation and correct functionality. Ideally, we want to make sure the user can test every option and make sure they all work. Currently, there are example scri

[2018-01-13 09:33] tupui commented on #493
@scollis Some info about the licence. CECILL licence are not a CERFACS thing but it was created by CEA, CNRS and Inria. The purpose is to have an OSI licence compatible with french law in case of lawsuit.

[2018-01-13 09:43] pjotrp commented on #517
Excellent. @arfon I believe we are ready.

[2018-01-13 21:06] sjspielman commented on #514
HI @luizirber,

I have gone ahead and pushed the updated refs with the doi. For your other questions:

1) I have no good reason for using FreeBSD over the 2- or 3- clause, and if it helps github to recognize I will happily switch out.
2) The reason the tests are 2.7 compatible only has to do with changes to the unittest module in python, where certain functions that I need to use in testing were d

[2018-01-14 20:35] warrenlr commented on #497
thank you @nmmsv

1. Could you confirm that the sentence you wish to remove from the paper and included in the readme is:
"Demo shell scripts that pipeline cross_match and xmatchview/xmatchview-conifer are included with the distribution and provided for guidance (runCompareTwoGenomesColinear.sh and runSpruceView.sh, respectively)" ?

2. I am not sure I understand what you require here, that is not

[2018-01-15 06:30] rreinecke commented on #525
@arfon Should I rather resubmit?

[2018-01-15 16:33] warrenlr commented on #497
I made the requested changes.  Please see commit:

https://github.com/warrenlr/xmatchview/commit/3e1f5eb4db02a9ffc90763a252a168e15dc0ba4c

[2018-01-16 00:52] arfon commented on #525
No, that's OK. I've updated the URLs here manually.

[2018-01-16 01:04] arfon commented on #238
@offray @Kevin-Mattheus-Moerman - here is the compiled PDF: [10.21105.joss.00238.pdf](https://github.com/openjournals/joss-reviews/files/1633321/10.21105.joss.00238.pdf)

Also, @offray - please could you reformat your `paper.md` file to be exactly like this one please: https://gist.github.com/arfon/a880bdb988d5bdf9df05561122598a6c

[2018-01-16 01:05] arfon commented on #517
@kortschak - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-16 01:06] arfon commented on #464
@greatfireball - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-01-16 01:07] arfon commented on #529
Yep. I'll go ahead and do that now.

[2018-01-16 01:07] arfon commented on #529
@whedon assign @arfon as editor

[2018-01-16 01:07] whedon commented on #529
OK, the editor is @arfon

[2018-01-16 01:07] arfon commented on #529
@whedon assign @andim as reviewer

[2018-01-16 01:07] whedon commented on #529
OK, the reviewer is @andim

[2018-01-16 01:08] arfon commented on #529
@whedon start review magic-word=bananas

[2018-01-16 01:08] #529 closed

[2018-01-16 01:08] whedon commented on #529
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/531. Feel free to close this issue now!

[2018-01-16 01:08] whedon opened #531 "[REVIEW]: pyneqsys: Solve symbolically defined systems of non-linear equations numerically"
**Submitting author:** @bjodah (<a href="http://orcid.org/0000-0003-0596-0222">Björn Dahlgren</a>)
**Repository:** <a href="https://github.com/bjodah/pyneqsys" target ="_blank">https://github.com/bjodah/pyneqsys</a>
**Version:** v0.5.1
**Editor:** @arfon
**Reviewer:** @andim
**Archive:** <a href="http://dx.doi.org/10.5281/zenodo.1156898" target="_blank">10.5281/zenodo.1156898</a>

## Status

[![st

[2018-01-16 01:08] whedon commented on #531
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @andim it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2018-01-16 01:08] whedon commented on #531
[code]

[2018-01-16 01:08] whedon commented on #531
[code]

[2018-01-16 01:08] arfon commented on #529
@andim @bjodah - please head over to #531 for the actual review.

[2018-01-16 01:09] whedon opened #532 "[PRE REVIEW]: IDESolver: a general purpose integro-differential equation solver"
**Submitting author:** @JoshKarpel (<a href="http://orcid.org/0000-0001-5968-9373">Josh Karpel</a>)
**Repository:** <a href="https://github.com/JoshKarpel/idesolver" target ="_blank">https://github.com/JoshKarpel/idesolver</a>
**Version:** v1.0.1
**Editor:** @kyleniemeyer
**Reviewer:** @iljah

**Author instructions**

Thanks for submitting your paper to JOSS @JoshKarpel. The JOSS editor (shown at

[2018-01-16 01:09] whedon commented on #532
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-01-16 01:09] whedon commented on #532
[code]

[2018-01-16 01:09] arfon commented on #532
👋 @kyleniemeyer - the submitting author suggested you as the editor.

[2018-01-16 01:09] whedon commented on #532
[code]

[2018-01-16 01:10] whedon opened #533 "[PRE REVIEW]: Entrez - Call the NCBI E-utilities from Python"
**Submitting author:** @jordibc (<a href="http://orcid.org/0000-0002-9198-5380">Jordi Burguet-Castell</a>)
**Repository:** <a href="https://github.com/jordibc/entrez" target ="_blank">https://github.com/jordibc/entrez</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @jordibc. The JOSS editor (shown at the top of th

[2018-01-16 01:10] whedon commented on #533
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-16 01:10] whedon commented on #533
[code]

[2018-01-16 01:10] whedon commented on #533
[code]

[2018-01-16 01:19] whedon opened #534 "[PRE REVIEW]: bit: a git-based tool for the management of code and data"
**Submitting author:** @jorgeboucas (<a href="http://orcid.org/0000-0002-9412-7592">Jorge Boucas</a>)
**Repository:** <a href="https://github.com/mpg-age-bioinformatics/bit" target ="_blank">https://github.com/mpg-age-bioinformatics/bit</a>
**Version:** 0.1.1
**Editor:** @acabunoc
**Reviewer:** @dvalters

**Author instructions**

Thanks for submitting your paper to JOSS @jorgeboucas. The JOSS edit

[2018-01-16 01:19] whedon commented on #534
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-16 01:19] whedon commented on #534
[code]

[2018-01-16 01:19] whedon commented on #534
[code]

[2018-01-16 01:19] arfon commented on #534
@acabunoc - would you be willing to edit this submission for JOSS?

[2018-01-16 01:20] whedon opened #535 "[PRE REVIEW]: GraphNotes: a novel approach to scientific note taking"
**Submitting author:** @kavir1698 (<a href="http://orcid.org/0000-0003-0895-1495">Ali Rezaee Vahdati</a>)
**Repository:** <a href="https://bitbucket.org/kavir1698/graphnotes" target ="_blank">https://bitbucket.org/kavir1698/graphnotes</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @kavir1698. The JOSS editor (shown

[2018-01-16 01:20] whedon commented on #535
Hello human, I'm @whedon. I'm here to help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-01-16 01:20] whedon commented on #535
[code]

[2018-01-16 01:22] whedon commented on #535
[code]

[2018-01-16 01:28] arfon commented on #467
👋 @labarba - could you take a look at the changes @boisgera has made here?

[2018-01-16 01:28] kortschak commented on #517
[![10.5281/zenodo.1148825](https://zenodo.org/badge/DOI/10.5281/zenodo.1148825.svg)](https://zenodo.org/record/1148825)

10.5281/zenodo.1148825

Thank you.

[2018-01-16 01:32] arfon commented on #505
@HadrienG - how are you getting along here?

[2018-01-16 01:34] arfon commented on #517
@whedon set 10.5281/zenodo.1148825 as archive

[2018-01-16 01:34] whedon commented on #517
OK. <a href="http://dx.doi.org/10.5281/zenodo.1148825" target="_blank">10.5281/zenodo.1148825</a> is the archive.

[2018-01-16 01:43] arfon commented on #300
Not really sorry. @karthik - your Markdown-fu exceeds that of most - any ideas here?

[2018-01-16 05:13] JoshKarpel commented on #532
Fixed some errors in `paper.bib` that were causing formatting problems in the PDF (commit is on master branch).

[2018-01-16 07:19] greatfireball commented on #464
Of course I can :) I did a copy of the current status and pushed it to Zenodo. Its DOI is [![DOI](https://zenodo.org/badge/DOI/10.5281/zenodo.1147434.svg)](https://doi.org/10.5281/zenodo.1147434) and the current version number was bumped to v1.0.1

@jdeligt, @pjotrp, and @arfon thanks for your efforts!

[2018-01-16 07:37] greatfireball commented on #464
I would like to add the guy who did solve the Mac-issues with our container to the acknowledge section of the paper. Would be nice, if that would be possible. I will then create another version for zenodo. So sry @arfon for the delay. Just give me an hour.

[2018-01-16 09:14] kavir1698 commented on #535
@whedon commands

[2018-01-16 09:14] whedon commented on #535
Here are some things you can ask me to do:

[code]

[2018-01-16 09:23] kavir1698 commented on #535
Hello, I would like to suggest the following reviewers: @krother @jsta @ygrange

[2018-01-16 09:43] jordibc commented on #533
@whedon commands

[2018-01-16 09:43] whedon commented on #533
Here are some things you can ask me to do:

[code]

[2018-01-16 09:44] jordibc commented on #533
@whedon generate pdf

[2018-01-16 09:44] whedon commented on #533
[code]

[2018-01-16 09:44] whedon commented on #533
[code]

[2018-01-16 09:46] jordibc commented on #533
@whedon generate pdf

[2018-01-16 09:46] whedon commented on #533
[code]

[2018-01-16 09:46] whedon commented on #533
[code]

[2018-01-16 09:49] jordibc commented on #533
@whedon generate pdf

[2018-01-16 09:49] whedon commented on #533
[code]

[2018-01-16 09:49] whedon commented on #533
[code]

[2018-01-16 09:53] jordibc commented on #533
Good, I'm fine with the current status. Please let me know if there is anything I need to do from my side.