[2021-01-15 20:14] whedon commented on #2896
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2965.

[2021-01-15 20:14] #2896 closed

[2021-01-15 20:14] whedon commented on #2965
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @laijingtao, @cheginit, @amanaster2 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog

[2021-01-15 20:14] whedon commented on #2964
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: :point_left:

[2021-01-15 20:14] whedon commented on #2965
[code]

[2021-01-15 20:15] whedon commented on #2965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02965/joss.02965/10.21105.joss.02965.pdf) :page_facing_up: :point_left:

[2021-01-15 20:15] mbobra commented on #2931
@bauer-alex @munkm @qpmnguyen See you over in #2964 where we'll do the review.

[2021-01-15 20:15] kbarnhart commented on #2965
It looks like I accidentally unassigned the reviewers so I'm going to re-add them with whedon.

[2021-01-15 20:16] kbarnhart commented on #2965
@whedon add @laijingtao as reviewer

[2021-01-15 20:16] whedon commented on #2965
OK, @laijingtao is now a reviewer

[2021-01-15 20:18] kbarnhart commented on #2965
@whedon add @cheginit as reviewer

[2021-01-15 20:18] whedon commented on #2965
OK, @cheginit is now a reviewer

[2021-01-15 20:18] kbarnhart commented on #2965
@whedon add @amanaster2 as reviewer

[2021-01-15 20:18] whedon commented on #2965
OK, @amanaster2 is now a reviewer

[2021-01-15 20:21] mbobra commented on #2964
👋  @munkm @qpmnguyen Thank you so much for agreeing to review this submission!

Here's what you need:
* Here is the software repository: https://github.com/julia-wrobel/registr
* The paper describing the software is linked in Whedon's comment above ⬆️
* Here is a detailed description of the review criteria: https://joss.readthedocs.io/en/latest/review_criteria.html#review-items

Please check off t

[2021-01-15 21:12] dpsanders commented on #2942
The sub repositories are an integral part of the Julia package and should definitely be reviewed.

[2021-01-15 23:48] mjsottile commented on #2844
@whedon generate pdf

[2021-01-15 23:48] mjsottile commented on #2844
@whedon check references

[2021-01-15 23:49] whedon commented on #2844
[code]

[2021-01-15 23:49] whedon commented on #2844
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: :point_left:

[2021-01-16 06:38] mjsottile commented on #2844
Hi @muellsen @Leo-Simpson - I am making my final editorial pass over the text.  A couple questions about the text:

- I noticed a number of places where the word "constrained" is spelled "contrained".  I am assuming this is a typo that you can search and replace to fix.
- In the toy example, it would be useful to reformat slightly so that the closing paren for the random_data() call isn't on its o

[2021-01-16 06:55] ssinad commented on #2868
@NMontanaBrown  Can you verify the version of Python used on each of these operating systems?

[2021-01-16 08:02] kyleniemeyer commented on #2095
@whedon add @olgadoronina as reviewer

[2021-01-16 08:02] whedon commented on #2095
OK, @olgadoronina is now a reviewer

[2021-01-16 08:02] kyleniemeyer commented on #2095
@whedon add @nickwimer as reviewer

[2021-01-16 08:02] whedon commented on #2095
OK, @nickwimer is now a reviewer

[2021-01-16 08:05] kyleniemeyer commented on #2095
@whedon remove @harpolea as reviewer

[2021-01-16 08:05] whedon commented on #2095
OK, @harpolea is no longer a reviewer

[2021-01-16 08:17] kyleniemeyer commented on #2095
@olgadoronina @nickwimer I have added you as reviewers—thank you for agreeing! I hope you can submit your reviews within the next two weeks. You should be able to edit the checklists above, and our review criteria are described in more detail at https://joss.readthedocs.io/en/latest/review_criteria.html

Hi @roshansamuel, just to update you: I have found two new reviewers, and I hope we can have t

[2021-01-16 08:27] arfon commented on #2553
:wave: @perdigao1 - I'm afraid we're not going to be able to review this submission in JOSS due to the complete lack of available reviewers.

If you're still working on this submission and are looking to grow the user base and potentially find new contributors, I would encourage you to move to a more modern, supported programming language.

[2021-01-16 08:27] arfon commented on #2553
@whedon reject

[2021-01-16 08:27] whedon commented on #2553
Paper rejected.

[2021-01-16 08:27] #2553 closed

[2021-01-16 08:29] arfon commented on #2562
@whedon generate pdf

[2021-01-16 08:29] whedon commented on #2562
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02562/joss.02562/10.21105.joss.02562.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02562/joss.02562/10.21105.joss.02562.pdf) :page_facing_up: :point_left:

[2021-01-16 08:37] arfon commented on #2107
:wave: @celliern @dvanic @schnorr, would any of you be willing to provide a second review for this submission to JOSS?

The title of the submission is _"SampleDB: A sample and measurement metadata database"_, which describes a [Python package](https://github.com/sciapp/sampledb) for managing experiments. Quoting from the SampleDB website:

Our request here would be that you review the [software](h

[2021-01-16 08:40] arfon commented on #2107
Thanks for your review here @dvanic. Could I ask you to check of any remaining items in your checklist at the top of the issue (assuming these criteria have now been met)?

[2021-01-16 08:43] arfon commented on #2562
@pariterre - could you take a look at the `@eigenweb` citation in your paper - I'm not sure it resolves to anything in your BibTeX file?

[2021-01-16 08:46] arfon commented on #2562
Also, can I just check the authorship list here? In your paper you say "A huge thanks to Ariane Dang for her patience and contribution to writing the tests for biorbd!". This author looks to be the `#2` [contributor to this package](https://github.com/pyomeca/biorbd/graphs/contributors) but doesn't look to be an author here.

Could you say a little more about this please?

[2021-01-16 10:34] NMontanaBrown commented on #2868
@ssinad

I used conda for installation. So, on all OS, do:

`conda create --name ivadomed python=3.x`
`pip install ivadomed`

so ivadomed latest: 2.6.1

- MacOS: 3.7.1, 3.6, 3.8. 3.9:  downloads all the wheels for ivadomed all down to 1.1, and installs the 1.1 package.
- Ubuntu 18.04.3: 3.6, 3.7.9, 3.8.5, 3.9: downloads the wheels as with macOS - installs ivadomed 1.1.
- Windows OS: None, from 3.6

[2021-01-16 11:53] bauer-alex commented on #2964
I made a minor update of the paper, so I'm updating the pdf.

[2021-01-16 11:53] bauer-alex commented on #2964
@whedon generate pdf

[2021-01-16 11:54] whedon commented on #2964
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02964/joss.02964/10.21105.joss.02964.pdf) :page_facing_up: :point_left:

[2021-01-16 14:51] arfon commented on #2185
@whedon accept deposit=true

[2021-01-16 14:51] whedon commented on #2185
[code]

[2021-01-16 14:53] whedon commented on #2185
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1350456018392776708) 👈 🐦🐦🐦

[2021-01-16 14:53] whedon commented on #2185
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2026
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02185](https://doi.org/10.21105/joss.02185)
2. If everything looks g

[2021-01-16 14:55] arfon commented on #2765
@whedon accept from branch joss

[2021-01-16 14:55] whedon commented on #2765
[code]

[2021-01-16 14:55] whedon commented on #2765
[code]

[2021-01-16 14:56] whedon commented on #2765
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2027

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2027, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-16 14:56] arfon commented on #2185
@cpgr, @iljah - many thanks for your reviews here and to @jedbrown for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves - we simply couldn't do it without you! ✨

@ShubhadeepSadhukhan1993 - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-16 14:56] #2185 closed

[2021-01-16 14:56] whedon commented on #2185
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02185/status.svg)](https://doi.org/10.21105/joss.02185)

**We need your help!**

Journal of Open Source Softwa

[2021-01-16 14:57] arfon commented on #2765
@sjpfenninger - just checking that you're ready to hand off this paper for final checks by the EiC team?

@GustaveCoste - please change the DOI string for the DOI that Whedon has flagged to `10.1016/j.jclepro.2020.124099`

[2021-01-16 15:00] arfon commented on #2641
:wave: @zemogle - happy new year. I just sent a final reminder to @bsipocz. If I don't hear back from them this coming week then I'll go ahead and look for a new reviewer.

[2021-01-16 15:02] arfon commented on #2783
:wave: @mosteo, @carlosjoserg - happy new year. Just checking in on your reviews here? It looks like @SteveMacenski responded to the questions you asked in https://github.com/SteveMacenski/slam_toolbox/issues/318 and https://github.com/SteveMacenski/slam_toolbox/issues/320 ?

[2021-01-16 15:03] arfon commented on #2807
:wave: @rtfisher - happy near year! Do you think you might be able to complete your review soon?

[2021-01-16 15:04] arfon commented on #2287
:wave: @mmartin-lagarde - have you managed to address the comments/feedback from @kevin218's most recent feedback?

[2021-01-16 15:07] arfon commented on #2784
@williamjameshandley, @kexinrong - thanks for your excellent reviews here and to @lzkelley for the responsive feedback. I think we're ready to move forward to accepting this submission.

@lzkelley - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service

[2021-01-16 15:07] arfon commented on #2784
@whedon generate pdf

[2021-01-16 15:08] whedon commented on #2784
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02784/joss.02784/10.21105.joss.02784.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02784/joss.02784/10.21105.joss.02784.pdf) :page_facing_up: :point_left:

[2021-01-16 15:15] arfon commented on #2784
@lzkelley - I made a collection of small fixes to the paper in https://github.com/lzkelley/kalepy/pull/1

[2021-01-16 15:33] chennachaos commented on #2831
Hi @oalii. Thank you for the updates!

@Kevin-Mattheus-Moerman, I have gone through the updates made by the authors.
The present library does not make any substantial contribution to computing the solution of PDEs that can not already be solved by FEniCS. The example on Hyperelasticity seems superfluous. This example considers only surfaces in 3D. The only positive aspect of this library is the cu

[2021-01-16 18:14] ssinad commented on #2868
@NMontanaBrown
Can you try this one instead?
[code]

[2021-01-16 18:37] NMontanaBrown commented on #2868
With which OS?

[2021-01-16 18:40] ssinad commented on #2868
@NMontanaBrown
Preferably Windows, but feel free to test it with others too.

[2021-01-16 18:44] richardjgowers commented on #2768
@usethedata yep my comments have been addressed now.  I think this is ready to be accepted.

[2021-01-16 18:46] richardjgowers commented on #2824
Hi @lscalfi when you've got a moment can you see if your comments have been addressed or if further changes are required, thanks!

[2021-01-16 19:08] Leo-Simpson commented on #2844
Dear @mjsottile,

Thank you very much.

I finished those edits, except for the problem in the references, which I think can not be fixed on the paper, because the references are generated automatically with pandoc with a certain citation rendering, and I assume that it restricts the rendering of the title, because there is a capital letter in the `paper.bib`file.

I submitted the software to figsh

[2021-01-16 19:58] mjsottile commented on #2844
@Leo-Simpson I believe you can use the usual BiBTeX method to preserve case by wrapping the titles (or individual words) in an additional layer of {} braces.  Pandoc is just using LaTeX to render the markdown into PDF, so that should fix the cases.  It looks like some of your bib file entries already have extra braces like this (eg, see the title entry for bien:2020).

[2021-01-16 20:17] Leo-Simpson commented on #2844
@mjsottile Thank you for the indication, I did not know how to do this. I have just edited it.

[2021-01-16 21:14] whedon opened #2966 "[PRE REVIEW]: Agentpy: A package for agent-based modeling in Python"
**Submitting author:** @JoelForamitti (<a href="http://orcid.org/0000-0002-4828-7288">Joël Foramitti</a>)
**Repository:** <a href="https://github.com/JoelForamitti/agentpy" target ="_blank">https://github.com/JoelForamitti/agentpy</a>
**Version:** v0.0.6
**Editor:** @sbenthall
**Reviewers:** @jamesdamillington, @martibosch
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warni

[2021-01-16 21:14] whedon commented on #2966
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-16 21:14] whedon commented on #2966
Failed to discover a `Statement of need` section in paper

[2021-01-16 21:14] whedon commented on #2966
[code]

[2021-01-16 21:14] whedon commented on #2966
[code]

[2021-01-16 21:14] whedon commented on #2966
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02966/joss.02966/10.21105.joss.02966.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02966/joss.02966/10.21105.joss.02966.pdf) :page_facing_up: :point_left:

[2021-01-16 21:17] sadielbartholomew commented on #2766
I'll have this completed and report back in the next few days, thanks all for your patience.

[2021-01-16 23:01] FreddieWitherden commented on #2945
Would it be possible to get a re-invite so I can accept the invitation?  (The previous one has expired.)

[2021-01-17 00:59] mjsottile commented on #2844
@whedon generate pdf

[2021-01-17 00:59] whedon commented on #2844
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: :point_left:

[2021-01-17 01:01] mjsottile commented on #2844
@whedon set https://doi.org/10.6084/m9.figshare.13589585.v1 as archive

[2021-01-17 01:01] whedon commented on #2844
OK. <a href="https://doi.org/10.6084/m9.figshare.13589585.v1" target="_blank">10.6084/m9.figshare.13589585.v1</a> is the archive.

[2021-01-17 01:02] mjsottile commented on #2844
@whedon set v1.0 as version

[2021-01-17 01:02] whedon commented on #2844
OK. v1.0 is the version.

[2021-01-17 01:04] mjsottile commented on #2844
Everything looks good to me @Leo-Simpson - I will hand the paper to the EICs for final processing.

Thank you very much @glemaitre and @jbytecode for your time and thoughtful reviews.

[2021-01-17 01:04] mjsottile commented on #2844
@whedon accept

[2021-01-17 01:04] whedon commented on #2844
[code]

[2021-01-17 01:04] whedon commented on #2844
[code]

[2021-01-17 01:05] whedon commented on #2844
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2028

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2028, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-17 04:40] sgkang commented on #2690
Dear @sebhaan,

My comments are addressed, and the paper is looking good to me. Look forward to this paper is out the door!

Below are my suggests that I thought while I was reviewing your paper and code base.

1. If you can add few other open-source geophysical inversion packages that would be nice

2. Generalization of the code (?). Had a brief look at `Inversion` class, and it is tied to magnet

[2021-01-17 09:10] arfon commented on #2844
@whedon accept deposit=true

[2021-01-17 09:10] whedon commented on #2844
[code]

[2021-01-17 09:12] whedon commented on #2844
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1350732626500456448) 👈 🐦🐦🐦

[2021-01-17 09:12] whedon commented on #2844
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2029
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02844](https://doi.org/10.21105/joss.02844)
2. If everything looks g

[2021-01-17 09:16] arfon commented on #2844
@jbytecode, @glemaitre - many thanks for your reviews here and to @mjsottile for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you! ✨

@Leo-Simpson - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-17 09:16] #2844 closed

[2021-01-17 09:16] whedon commented on #2844
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02844/status.svg)](https://doi.org/10.21105/joss.02844)

**We need your help!**

Journal of Open Source Softwa

[2021-01-17 09:26] arfon commented on #1917
:wave: @AustinNar - as part of a review I've been doing this week as EiC of JOSS of the outstanding submissions I've spent some time reviewing this submission. Unfortunately I believe this submission should have been identified as out of scope during the [pre-review](https://github.com/openjournals/joss-reviews/issues/1680) stage of the process. In particular, this submission is out of scope due t

[2021-01-17 09:26] arfon commented on #1917
@whedon reject

[2021-01-17 09:26] whedon commented on #1917
Paper rejected.

[2021-01-17 09:26] #1917 closed

[2021-01-17 11:36] tomgrylls commented on #2950
@Kevin-Mattheus-Moerman<https://github.com/Kevin-Mattheus-Moerman> thanks for your email. If more editor suggestions would be helpful, I have been through the list and would suggest the following:

kyleniemeyer
wkearn
abhishekbajpayee
wkearn
mzamoraz

In terms of the statement of need, we have integrated this requirement into the main body of the text (from the end of the first paragraph) as we fe

[2021-01-17 12:22] tomgrylls commented on #2950
To clarify, I meant reviewer suggestions not editors, sorry about that. If more suggestions would be helpful I have added more options to the list in my previous email:

jayten
corentin-dev
kyleniemeyer
wkearn
abhishekbajpayee
wkearn
mzamoraz
zbeekman
chennachaos
ashwinvis
adam-m-jcbs
rabernat
kegiljarhus
p-costa
ashwinvis

Thanks for your help and apologies for any confusion on the below,

Tom
__

[2021-01-17 14:49] galessiorob commented on #2805
Thanks, @fduchatea !

[2021-01-17 15:14] usethedata commented on #2768
@whedon generate pdf

[2021-01-17 15:15] usethedata commented on #2768
@whedon set 0.10.2 as version

[2021-01-17 15:15] whedon commented on #2768
OK. 0.10.2 is the version.

[2021-01-17 15:15] whedon commented on #2768
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: :point_left:

[2021-01-17 15:25] usethedata commented on #2768
@whedon generate pdf from branch JOSS

[2021-01-17 15:25] whedon commented on #2768
[code]

[2021-01-17 15:25] whedon commented on #2768
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: :point_left:

[2021-01-17 15:30] usethedata commented on #2768
I have verified that all of the DOIs resolve correctly.

@ryokbys -- We're just about there.  One nit I suggest fixing. In line 188 of paper.bib `s/van der Waals Corrections/van der {W}aals Corrections/`. It's a minor issue to get a name capitalization right.  You got all of the other forced upper cases escaped through.

When you've got that, make an archive at Zenodo and post the DOI for the arch

[2021-01-17 16:27] GISerDaiShaoqing commented on #2409
@whedon generate pdf

[2021-01-17 16:28] whedon commented on #2409
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02409/joss.02409/10.21105.joss.02409.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02409/joss.02409/10.21105.joss.02409.pdf) :page_facing_up: :point_left:

[2021-01-17 19:09] jgostick commented on #2904
I'm still searching for reviewers. Sorry for the delay.

[2021-01-17 19:33] jgostick commented on #2904
@whedon assign @awvwgk as reviewer

[2021-01-17 19:33] whedon commented on #2904
OK, @awvwgk is now a reviewer

[2021-01-17 21:28] whedon opened #2967 "[PRE REVIEW]: Recan: R-based tool for detection of recombination in viral genomes"
**Submitting author:**  @vasily-pavelko (<a href="http://orcid.org/0000-0001-8142-1621">Vasily Pavelko</a>)
**Repository:** <a href="https://github.com/vasily-pavelko/recan" target ="_blank">https://github.com/vasily-pavelko/recan</a>
**Version:** 1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-01-17 21:28] whedon commented on #2967
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-17 21:28] whedon commented on #2967
[code]

[2021-01-17 21:28] whedon commented on #2967
[code]

[2021-01-17 21:28] whedon commented on #2967
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02967/joss.02967/10.21105.joss.02967.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02967/joss.02967/10.21105.joss.02967.pdf) :page_facing_up: :point_left:

[2021-01-17 21:33] arfon commented on #2967
:wave: @vasily-pavelko - thanks for your submission to JOSS. Can you confirm that this folder contains the primary source code for this submission? https://github.com/vasily-pavelko/recan/tree/master/R

I ask as last July we introduced a scope check for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) which this submission looks to

[2021-01-17 21:52] Kevin-Mattheus-Moerman commented on #2966
@sbenthall @KristinaRiemer could one of you edit this submission?

[2021-01-17 22:04] Kevin-Mattheus-Moerman commented on #2934
@Borchardt this submission has passed scope review and I will now assign an editor to handle this submission

[2021-01-17 22:04] Kevin-Mattheus-Moerman commented on #2934
@whedon assign @majensen as editor

[2021-01-17 22:04] whedon commented on #2934
OK, the editor is @majensen

[2021-01-17 22:06] Kevin-Mattheus-Moerman commented on #2920
@whedon invite @pibion as editor

[2021-01-17 22:06] whedon commented on #2920
@pibion has been invited to edit this submission.

[2021-01-17 22:21] Kevin-Mattheus-Moerman commented on #2911
@whedon add @modenaxe as reviewer

[2021-01-17 22:21] whedon commented on #2911
OK, @modenaxe is now a reviewer

[2021-01-17 22:52] Kevin-Mattheus-Moerman commented on #2950
@leifdenby @jakubfabian @wimvanderbauwhede @crshapiro @tonyinme @claireverhulst @JuhaTonttila @fjansson would you be interested in reviewing this work for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/): uDALES: large-eddy-simulation software for urban flow, dispersion, and microclimate modelling?

The JOSS [review process](https://joss.readthedocs.io/en/latest/reviewer_guide

[2021-01-17 23:50] GISerDaiShaoqing commented on #2409
Dear @lydialucchesi

Sorry to reply you late. Thanks for your revision. The authors have have done a thorough job revising the manuscript accordingly. I am satisfied with the changes made. @bstabler

Congrats on such a solid package and article.

[2021-01-18 01:22] diehlpk commented on #2945
@whedon commands

[2021-01-18 01:22] whedon commented on #2945
Here are some things you can ask me to do:

[code]

[2021-01-18 01:23] diehlpk commented on #2945
@whedon re-invite @FreddieWitherden  as reviewer

[2021-01-18 01:23] whedon commented on #2945
OK, the reviewer has been re-invited.

@freddiewitherden  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-18 01:23] diehlpk commented on #2945
@FreddieWitherden Sure, the link expires after two weeks.

[2021-01-18 03:49] ryokbys commented on #2768
I fixed the capitalization issue in paper.bib and the JOSS branch was merged to the master branch.
I have a Zenode DOI for nap and it seems automatically updated to point the newest version of it, which is now 10.5281/zenodo.4429382. But I don't know how to reflect the updated DOI to generated PDF. (I tried and made a newer release v0.10.3 after merging JOSS branch..., it did not work.) Please let

[2021-01-18 04:36] sebhaan commented on #2690
Hi @sgkang,

thanks so much for your suggestions,  on the list now for the next version. The suggested inversion packages are very interesting as well and could potentially be included if they can provide predictive model uncertainties for the BO function.

Thanks again for the review,
Seb

[2021-01-18 06:44] csoneson commented on #2440
@neuromusic - please give us an update on where things are and what the plan to address the remaining few issues.

[2021-01-18 06:59] sjpfenninger commented on #2765
@arfon yes should be good to go!

[2021-01-18 07:02] sjpfenninger commented on #2171
@SabineHaas thanks, all taken care of now.

[2021-01-18 07:07] sjpfenninger commented on #2171
@jordanperr Let me know if there are any issues with addressing the review comments. You can treat @brynpickering's comments under `Code` as optional for your later consideration, or address (some of) them now. The installation related comments would be good to have addressed now. Rest of comments on the paper look minor so I think we're almost - finally - there!

[2021-01-18 07:09] sjpfenninger commented on #2677
@whedon generate pdf

[2021-01-18 07:09] whedon commented on #2677
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02677/joss.02677/10.21105.joss.02677.pdf) :page_facing_up: :point_left:

[2021-01-18 07:16] sjpfenninger commented on #2677
@fneum @willu47 Could you have a look to see whether you are happy with how your comments have been addressed?

@TheoChristiaanse Great, thanks for the revisions!

The first paragraph in the paper has a dangling incomplete sentence, can you fix this?

Right off the bat I still see broken links. For example at the very bottom of the README you point to https://gitlab.com/energyincities/besos/-/blob

[2021-01-18 07:58] BKillen05 commented on #2911
@Kevin-Mattheus-Moerman I am reading the text now - we are preparing for examination period here so even more hectic than usual. Best wishs for 2021 to you also

[2021-01-18 08:10] lscalfi commented on #2824
Hi @symmy596, thank you for addressing our concerns. I just have a few remarks left:
- for the MSD, you say "Two new functions have been added to the read.trajectory class to remove timesteps from the start and end of the trajectory. The trajectory, once clipped can be analysed with the MSD function as before.". I am not sure to understand. The 'problem' is not in the equilibration time of the tra

[2021-01-18 08:33] roshansamuel commented on #2095
Hi @kyleniemeyer, thank you very much for assigning new reviewers. We look forward to the reviews.

[2021-01-18 08:57] arfon commented on #2765
@whedon check references

[2021-01-18 09:00] arfon commented on #2765
@GustaveCoste - just to confirm, please change [this line](https://framagit.org/GustaveCoste/eldam/-/blob/joss/paper.bib#L26) to: `doi = "10.1016/j.jclepro.2020.124099",`

[2021-01-18 09:17] hugoledoux commented on #2690
@whedon generate pdf

[2021-01-18 09:18] whedon commented on #2690
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: :point_left:

[2021-01-18 09:18] hugoledoux commented on #2690
@whedon commands

[2021-01-18 09:18] whedon commented on #2690
Here are some things you can ask me to do:

[code]

[2021-01-18 09:19] hugoledoux commented on #2690
@whedon check references

[2021-01-18 09:22] whedon commented on #2690
[code]

[2021-01-18 09:53] hugoledoux commented on #2690
ok @sebhaan it seems that the reviewers are now happy with the changes you made, and we can move towards the final acceptance.

I checked you PDF and above you can see that many DOI are missing, could you please add them and run again here `@whedon check references` please?

Also, the way you added references was sometimes wrong, so I fixed them (plus 2-3 minor cosmetic things) in that PR: https:/

[2021-01-18 10:14] Kevin-Mattheus-Moerman commented on #2966
@whedon invite @KristinaRiemer as editor

[2021-01-18 10:14] whedon commented on #2966
@KristinaRiemer has been invited to edit this submission.

[2021-01-18 10:51] pdebuyl commented on #2888
@whedon assign @fcooper8472 as reviewer

[2021-01-18 10:51] whedon commented on #2888
OK, @fcooper8472 is now a reviewer

[2021-01-18 10:57] Kevin-Mattheus-Moerman commented on #2920
@jni would you be able to help edit this submission?

[2021-01-18 11:41] mikldk commented on #2878
Thanks, @r-barnes . Can you give any indication of the expected time frame for your review?

[2021-01-18 11:57] oliviaguest commented on #2891
@markusrobertjonsson absolutely, yes!

[2021-01-18 13:10] pdebuyl commented on #2828
@jordanperr gentle reminder.

[2021-01-18 13:11] pdebuyl commented on #2842
@scivision gentle reminder

[2021-01-18 13:14] meg-simula commented on #2687
@whedon generate pdf

[2021-01-18 13:14] meg-simula commented on #2687
@whedon check references

[2021-01-18 13:15] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2021-01-18 13:21] meg-simula commented on #2687
@krober10nd Happy New Year! Thanks for your patience and nudging here.

In the paper, could you please address the following minor comment:

- [ ] Core functionality - item 2. This sentence is unclear (something about the "in either" bit), please improve.

[2021-01-18 13:25] meg-simula commented on #2879
@mscroggs Could you please give an update on the status of the review process?

[2021-01-18 13:26] meg-simula commented on #2699
@whedon generate pdf

[2021-01-18 13:26] meg-simula commented on #2699
@whedon check references

[2021-01-18 13:29] whedon commented on #2699
[code]

[2021-01-18 13:29] whedon commented on #2699
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02699/joss.02699/10.21105.joss.02699.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02699/joss.02699/10.21105.joss.02699.pdf) :page_facing_up: :point_left:

[2021-01-18 13:30] mscroggs commented on #2879
@meg-simula We're waiting for me to finish making changes, they should be done shortly

[2021-01-18 13:33] meg-simula commented on #2699
@flofaucher Thanks for your patience here - this looks great!

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the tit

[2021-01-18 13:43] jennahamlin commented on #2956
@Kevin-Mattheus-Moerman Thank you for letting me know. My goal is to update and include the 'Statement of Need' both here and in the manuscript by Wednesday of this week.

[2021-01-18 13:47] Kevin-Mattheus-Moerman commented on #2942
@vavrines can you clarify what the entire codebase is that should be considered/reviewed here? The package Kinetic.jl appears too minor on its own. If the core functionality provided requires KitBase, KitML and KitFort (and perhaps kineticpy), all of which you wrote to accompany Kinetic (if I understand this correctly), then these should perhaps all be reviewed altogether and seen as a single subm

[2021-01-18 13:50] krober10nd commented on #2687
Hey @meg-simula ...Okay, I edited the text in the paper in the Core functionality- item 2 (it was a typo).

I then made a tagged release V3.3.1 https://github.com/krober10nd/SeismicMesh/releases/tag/V3.3.1 and archived it in Zenodo and edited the metadata on Zenodo to reflect and match the paper. https://zenodo.org/record/4447042#.YAWQvS1h1pQ

The doi is 10.5281/zenodo.4447042

[2021-01-18 14:01] meg-simula commented on #2687
@whedon set  10.5281/zenodo.4447042 as archive

[2021-01-18 14:02] whedon commented on #2687
OK. <a href="https://doi.org/10.5281/zenodo.4447042" target="_blank">10.5281/zenodo.4447042</a> is the archive.

[2021-01-18 14:02] meg-simula commented on #2687
@whedon set v3.3.1 as version

[2021-01-18 14:02] whedon commented on #2687
OK. v3.3.1 is the version.

[2021-01-18 14:02] meg-simula commented on #2687
@whedon accept

[2021-01-18 14:02] whedon commented on #2687
[code]

[2021-01-18 14:03] whedon commented on #2687
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2030

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2030, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-18 14:03] whedon commented on #2687
[code]

[2021-01-18 14:05] flofaucher commented on #2699
@meg-simula  Thank you, I am going to prepare the tagged version but I have a quick question before:
Can it use the current version, or should it still be the one from last months
(the current version does not have any added or removed functionality, only a few corrections to speedup operations).

[2021-01-18 14:05] vavrines commented on #2942
Hi Keven, thanks for the reply.
Yes I can herby confirm the core functionality is provided together with KitBase, KitML and KitFort, and they serve as a single submission.

Best, Tianbai

[2021-01-18 14:09] meg-simula commented on #2699
Use the current version.

[2021-01-18 14:28] usethedata commented on #2768
@whedon set 0.10.3 as version

[2021-01-18 14:28] whedon commented on #2768
OK. 0.10.3 is the version.

[2021-01-18 14:28] usethedata commented on #2768
@whedon set 10.5281/zenodo.4429382 as archive

[2021-01-18 14:28] whedon commented on #2768
OK. <a href="https://doi.org/10.5281/zenodo.4429382" target="_blank">10.5281/zenodo.4429382</a> is the archive.

[2021-01-18 14:28] usethedata commented on #2768
@whedon generate pdf

[2021-01-18 14:29] whedon commented on #2768
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: :point_left:

[2021-01-18 14:32] usethedata commented on #2768
@whedon set @whedon set 10.5281/zenodo.4446322 as archive

Pointing to the archive for 0.10.3

[2021-01-18 14:32] whedon commented on #2768
OK. <a href="https://doi.org/10.5281/zenodo.4446322" target="_blank">10.5281/zenodo.4446322</a> is the archive.

[2021-01-18 14:33] usethedata commented on #2768
@whedon generate pdf

[2021-01-18 14:34] whedon commented on #2768
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: :point_left:

[2021-01-18 14:35] usethedata commented on #2768
@whedon accept

[2021-01-18 14:35] whedon commented on #2768
[code]

[2021-01-18 14:35] whedon commented on #2768
[code]

[2021-01-18 14:36] whedon commented on #2768
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2031

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2031, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-18 15:03] fboehm commented on #2743
@dwinter - I just wanted to check in to see how the review is going. Please let me know if I can assist with anything. Thanks again!

[2021-01-18 15:16] whedon commented on #2939
:wave: @corentin-dev, please update us on how your review is going.

[2021-01-18 15:16] whedon commented on #2939
:wave: @iammix, please update us on how your review is going.

[2021-01-18 15:30] pariterre commented on #2562
Dear @arfon

That is right, I don't know why though.. It is now fixed!

Ariane was a colleague of mine at the lab where I study (she now works elsewhere). She is an amazing person and I really like her very much. That said, she was mainly applying recipes that I was preparing for her (for instance, I was preparing a test, and she was copying it for all the relevant classes). I honestly have no pro

[2021-01-18 15:37] krober10nd commented on #2687
Thanks! Does the chief editor have to approve this now or is good to go?

[2021-01-18 16:08] chkoar commented on #2895
Hey @melissawm, I'd be happy to help.

[2021-01-18 16:11] meg-simula commented on #2687
This is now with the Editor(s) in Chief, yes.

--
Marie

On Mon, 18 Jan 2021, 16:37 Keith Roberts, <notifications@github.com> wrote:

[2021-01-18 17:04] chrisbrunsdon commented on #2869
Apologies for the delays here - I'm currently involved in working on covid data analysis for the Irish govt - and things have recently got busy.  Will start responding soon...   Just to report that I have successfully downloaded and run the module without any major problems,  and that suggestions mainly relate to examples given...

[2021-01-18 17:14] gkthiruvathukal commented on #2935
@farshidtz  Thank you for your patience as I work to get review started. Can you please take a look at the list of people under author instructions and suggest (without using the @ symbol) 3-4 reviewers?

[2021-01-18 17:20] gkthiruvathukal commented on #2362
@srmnitc I believe all of your issues have been addressed. Assuming there are no objections, I am going to move forward with acceptance of this submission by end of week. We've kept @AlexMikes waiting a bit longer than I had hoped but with the holidays, I hope it is understandable.

[2021-01-18 17:23] gkthiruvathukal commented on #2752
@traversaro and @vissarion, happy new year! Can. you let me know where you are with respect to the review for this JOSS submission?

[2021-01-18 17:24] traversaro commented on #2752
Hi @gkthiruvathukal ! Thanks for the ping. I plan to resume the review this week.

[2021-01-18 17:24] gkthiruvathukal commented on #2791
Thanks for the nudge on this @tobias-dv-lnu.

@xirdneh Can you let us know your timeframe for completing your review? It looks like @kinow has done a fairly thorough review. I would like to move forward with acceptance as soon as we have your input. Thanks!

[2021-01-18 17:29] gkthiruvathukal commented on #2752
@traversaro Much appreciated!!

[2021-01-18 17:36] xirdneh commented on #2791
Hi, sorry about this.

I will finish the review by tomorrow afternoon.

I already have everything written down just needed the invitation.

[2021-01-18 17:47] chenkianwee commented on #2866
sorry for the delay, I have just checked the list. The authors have responded to all of my comments and make the necessary changes.

[2021-01-18 18:31] jedbrown commented on #2942
If the capability has rough parity with Clawpack, then there's no question about it being within scope. I can't tell if that's the case -- the examples are surely much less developed and documented. From briefly browsing the docs, I don't see where to look for boundary conditions, the extent of its multi-dimensional capability, time integrators, etc. What is supported? How fast is it compared to m

[2021-01-18 18:40] jedbrown commented on #2963
I'm conflicted. I'd mention that Elemental (written by JOSS editor @poulson) has support for pseudospectra.

[2021-01-18 18:56] vissarion commented on #2752
@gkthiruvathukal happy new year! I paused my review waiting for a feedback in https://github.com/intelligent-soft-robots/o80/issues/3 since it seems there are some works in progress on the package.

[2021-01-18 19:37] dfm commented on #2899
Thanks all for your patience! @katiebreivik has agreed to be our second reviewer. Thanks Katie!

I'll start the review shortly in a new thread and we'll continue there. As we go, please feel free to ask me any questions - I'm here to help this go smoothly!

[2021-01-18 19:37] dfm commented on #2899
@whedon add @katiebreivik as reviewer

[2021-01-18 19:37] whedon commented on #2899
OK, @katiebreivik is now a reviewer

[2021-01-18 19:37] dfm commented on #2899
@whedon start review

[2021-01-18 19:37] whedon opened #2968 "[REVIEW]: Riroriro: Simulating gravitational waves and calculating SNRs in Python"
**Submitting author:** @wvanzeist (<a href="http://orcid.org/0000-0002-4231-656X">Wouter van Zeist</a>)
**Repository:** <a href="https://github.com/wvanzeist/riroriro" target ="_blank">https://github.com/wvanzeist/riroriro</a>
**Version:** v1.0.0
**Editor:** @dfm
**Reviewer:** @GregoryAshton, @katiebreivik
**Archive:** <a href="https://doi.org/10.5281/zenodo.4588070" target="_blank">10.5281/zenodo

[2021-01-18 19:37] whedon commented on #2899
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2968.

[2021-01-18 19:37] #2899 closed

[2021-01-18 19:37] whedon commented on #2968
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GregoryAshton, @katiebreivik it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2021-01-18 19:38] whedon commented on #2968
[code]

[2021-01-18 19:38] dfm commented on #2899
We can head over to #2968 now for the main review.

[2021-01-18 19:38] whedon commented on #2968
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02968/joss.02968/10.21105.joss.02968.pdf) :page_facing_up: :point_left:

[2021-01-18 19:39] arfon commented on #2866
@hugoledoux - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the au

[2021-01-18 19:42] vavrines commented on #2942
I huess the editors may be discussing this article. To avoid possible misunderstandings, I'll write a brief reply here and sorry for any interruptions.

I agree Clawpack is a much more matured software. The main difference are listed here:

- Clawpack is coded in Fortran and Python, while Kinetic.jl is using Julia and avoids two-language problem
- It pays considerable attention to the Boltzmann eq

[2021-01-18 19:44] VNNikolaidis commented on #2876
Dear Editor, @kakiac , and Reviewers @schnorr , @MohmedSoudy, I wish you a Happy 2021.

As the status of my submission is not very clear, some changes were  performed in accordance to your suggestions and comments.

In particular:

(a) a revised version of the paper was uploaded to the repository, which hopefully addresses some of your comments (s.a. the need to specify what differentiates this pa

[2021-01-18 19:46] bommert commented on #2900
Thank you for being the editor of our submission!

The manuscript looks good.

From the list of people that have agreed to review for JOSS, the following persons seem to have expertise in the field of our contribution:
road2stat, martinju, prdm0, nhejazi, kdpeterson51, mcavs, osorensen, robohyun66, clauswilke.

[2021-01-18 19:58] dfm commented on #2550
@whedon remove @eteq as reviewer

[2021-01-18 19:58] whedon commented on #2550
OK, @eteq is no longer a reviewer

[2021-01-18 20:24] tkchafin commented on #2960
@whedon generate pdf

[2021-01-18 20:24] tkchafin commented on #2960
@whedon check references

[2021-01-18 20:28] wesleyburr commented on #2694
@pibion - can you point me to JOSS policy on authorship changes? Specifically, we'd like to add an author, as we begin the work on the revisions. The maintainer status of this package is changing over to a new software author, and we'd like her to assist with the revisions as she will be the one maintaining the changes and adding to them into the future.

Also, sincere apologies for the delay in b

[2021-01-18 21:00] sebdalgarno commented on #2848
thanks @marcosvital . The manuscript looks good - check complete. Here is the DOI: 10.5281/zenodo.4448253

[2021-01-18 22:29] sbenthall commented on #2855
I am being held up by some local Python environment issues. (The `rasterio` dependency is not installing properly.) I'm pretty sure this is just a problem on my end! I'll try to repair my environment setup and get back to you.

[2021-01-18 23:03] oliviaguest commented on #2923
@whedon invite @vigji as reviewer

[2021-01-18 23:03] whedon commented on #2923
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-18 23:03] oliviaguest commented on #2923
@whedon add @vigji as reviewer

[2021-01-18 23:03] whedon commented on #2923
OK, @vigji is now a reviewer

[2021-01-19 00:56] charleygros commented on #2868
We should move and fix this issue internally @ssinad! Thanks again for your valuable help @NMontanaBrown :-)

[2021-01-19 01:44] ryokbys commented on #2768
I found some typos and corrected them on master branch.
And the DOI of this paper in the PDF seems wrong, but I am not sure it is really wrong or not (I could think the link works after it is published...).

[2021-01-19 05:21] sebhaan commented on #2690
@whedon check references

[2021-01-19 05:50] vasily-pavelko commented on #2967
Yes, that is true. This folder is the main sourse of code in my package.

I checked these rules before  the submision
1.  My software was writen from the 8th of September till the 15th of January for 3 months and has 30 commits.
2.  There are more than 300 LOC (321 LOC according to GitHubGloc).
3.  Alex Sprygin https://orcid.org/0000-0001-5982-3675 will highly likely use my package in his future r

[2021-01-19 06:25] suchitakulkarni commented on #2823
Hi,

Thanks for this incredibly useful and fast package. I have a few questions/comments.

1) In the example as given at the repository, should there be a plt.show() or plt.savefig() command in the end? The plot didn't show up at least for me otherwise. It may also be very nice to provide that example as a python file such that user can run it and get 'instant satisfaction' of seeing an output :)

[2021-01-19 07:03] hugoledoux commented on #2690
@whedon generate pdf

[2021-01-19 07:03] hugoledoux commented on #2866
@whedon generate pdf

[2021-01-19 07:05] JannisHoch commented on #2855
@sbenthall, first of all, good to hear you're back!

Could you maybe attach a screenshot or so for me to look into it?

And I assume you were using the yml file to create the environment?

[2021-01-19 07:08] hugoledoux commented on #2866
@arfon seems the service to build pdf (and check DOIs) is down, tried elsewhere too nothing works

[2021-01-19 07:44] NMontanaBrown commented on #2868
Apologies, this slipped my mind.

I have tried this with Windows, it seems to fix the problem, install proceeds correctly on Windows! 🍾 😄

I have not tried it with Linux or MacOS as these install fine as is.

[2021-01-19 08:01] vigji commented on #2923
Hi @fmatuschke! I have an important deadline in 10 days time and I will be able to look carefully at the code only after that has been met.
Moreover I have to warn you in advance that looking very broadly at the package I got the impression it has been developed with Linux in mind (just following the installation instructions gave my macOS compiler some trouble). I can still test it on a Windows,

[2021-01-19 08:03] flofaucher commented on #2699
@meg-simula, I just created the tagged version and archived the version onto the repository phaidra (of Vienna University). It is available here: https://phaidra.univie.ac.at/o:1144094 and the handle doi is 11353/10.1144094
I am not sure if I have to indicate this information somewhere in an updated version of the paper now?
Thanks!

[2021-01-19 08:47] fmatuschke commented on #2923
Hi @vigji. Thanks for pointing out your deadline. That is absolutely not a problem. After all, I know the daily work of a scientist all too well.
The current version is indeed for Linux only. I have added a note in the README. For your information, there are plans to support macOS as well. However, due to the current situation, I don't have access to a macOS system to test everything. On Windows,

[2021-01-19 08:57] GustaveCoste commented on #2765
@arfon Sorry for the delay, I just changed the line.

[2021-01-19 09:21] arfon commented on #2550
@Jammy2211 @dfm - not sure what was going on here but there was something in the BibTeX entries causing compilation issues. I swapped them out here and the paper now seems to compile for me locally: https://github.com/rhayes777/PyAutoFit/pull/149

[2021-01-19 09:22] vigji commented on #2923
Ok, if you regularly work within WSL I can give that a try! And keep testing things on macOS, if that can help. Will come back to this after the 29th.

[2021-01-19 09:28] arfon commented on #2765
@whedon accept from branch joss

[2021-01-19 09:28] whedon commented on #2765
[code]

[2021-01-19 09:31] oalii commented on #2831
@whedon generate pdf from branch joss-review

[2021-01-19 09:31] whedon commented on #2831
[code]

[2021-01-19 09:37] whedon commented on #2940
:wave: @jlopata21, please update us on how your review is going.

[2021-01-19 09:37] whedon commented on #2940
:wave: @shimpalee, please update us on how your review is going.

[2021-01-19 09:38] arfon commented on #2765
@whedon accept from branch joss

[2021-01-19 09:38] whedon commented on #2765
[code]

[2021-01-19 09:38] whedon commented on #2960
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02960/joss.02960/10.21105.joss.02960.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02960/joss.02960/10.21105.joss.02960.pdf) :page_facing_up: :point_left:

[2021-01-19 09:39] whedon commented on #2690
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02690/joss.02690/10.21105.joss.02690.pdf) :page_facing_up: :point_left:

[2021-01-19 09:39] whedon commented on #2866
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02866/joss.02866/10.21105.joss.02866.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02866/joss.02866/10.21105.joss.02866.pdf) :page_facing_up: :point_left:

[2021-01-19 09:40] whedon commented on #2690
[code]

[2021-01-19 09:40] whedon commented on #2765
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2032

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2032, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-19 09:40] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2021-01-19 09:41] whedon commented on #2765
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2033

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2033, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-19 09:56] timtroendle commented on #2769
@sahilseth, @jgoldfar, please can you give us an update about how much time you will need to finish the review?

[2021-01-19 09:59] timtroendle commented on #2914
@whedon assign @sabinomaggi  @Chilipp as reviewer

[2021-01-19 09:59] whedon commented on #2914
OK, @sabinomaggi  @Chilipp is now a reviewer

[2021-01-19 10:00] timtroendle commented on #2914
@whedon start review

[2021-01-19 10:00] whedon opened #2969 "[REVIEW]: Visualization of Multi-Dimensional Data - The data-slicer Package"
**Submitting author:** @kuadrat (<a href="http://orcid.org/0000-0001-5523-6924">Kevin Kramer</a>)
**Repository:** <a href="https://github.com/kuadrat/data_slicer" target ="_blank">https://github.com/kuadrat/data_slicer</a>
**Version:** 0.0.9
**Editor:** @timtroendle
**Reviewer:** @sabinomaggi, @Chilipp
**Archive:** <a href="https://doi.org/10.5281/zenodo.4692467" target="_blank">10.5281/zenodo.469

[2021-01-19 10:00] whedon commented on #2914
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2969.

[2021-01-19 10:00] #2914 closed

[2021-01-19 10:00] whedon commented on #2969
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sabinomaggi  @Chilipp it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-01-19 10:01] whedon commented on #2969
PDF failed to compile for issue #2969 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773

[2021-01-19 10:04] whedon commented on #2969
[code]

[2021-01-19 10:32] hugoledoux commented on #2690
Great.

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (make

[2021-01-19 10:38] arfon commented on #2765
@whedon accept deposit=true from branch joss

[2021-01-19 10:38] whedon commented on #2765
[code]

[2021-01-19 10:41] whedon commented on #2765
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1351479902915223553) 👈 🐦🐦🐦

[2021-01-19 10:41] whedon commented on #2765
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2034
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02765](https://doi.org/10.21105/joss.02765)
2. If everything looks g

[2021-01-19 10:41] hugoledoux commented on #2933
@whedon add @liberostelios as reviewer

[2021-01-19 10:42] whedon commented on #2933
OK, @liberostelios is now a reviewer

[2021-01-19 11:03] arfon commented on #2765
@konstantinstadler, @romainsacchi - many thanks for your reviews here and to @sjpfenninger for editing this submission. JOSS relies upon the volunteer efforts of folks like yourselves, and we simply wouldn't be able to do it without you! ✨

@GustaveCoste - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-19 11:03] #2765 closed

[2021-01-19 11:03] whedon commented on #2765
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02765/status.svg)](https://doi.org/10.21105/joss.02765)

**We need your help!**

Journal of Open Source Softwa

[2021-01-19 11:04] arfon commented on #2866
Whedon was being a little sloooooow this morning. Should be fine now.

[2021-01-19 11:04] arfon commented on #2866
@whedon check references

[2021-01-19 11:05] whedon commented on #2866
[code]

[2021-01-19 11:15] arfon commented on #2550
@whedon generate pdf

[2021-01-19 11:15] whedon commented on #2550
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02550/joss.02550/10.21105.joss.02550.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02550/joss.02550/10.21105.joss.02550.pdf) :page_facing_up: :point_left:

[2021-01-19 11:17] arfon commented on #2562
Since you offer, for completeness I think we should do this. Thanks.

[2021-01-19 11:20] meg-simula commented on #2699
@whedon set 11353/10.1144094 as archive

[2021-01-19 11:20] whedon commented on #2699
11353/10.1144094 doesn't look like an archive DOI.

[2021-01-19 11:22] meg-simula commented on #2699
@flofaucher Great, thanks! Could you confirm that the version is v1?

[2021-01-19 11:24] meg-simula commented on #2699
@openjournals/jose-eics This paper is ready for your attention.

Could you also advise on how to set the archive doi using whedon (cf. the above)? Aside from the archive and version setting, should be ready for whedon accept.

[2021-01-19 11:29] vincentberenz commented on #2752
@gkthiruvathukal thanks for pinging this !
@vissarion @traversaro  : indeed, I am working on the packaging. For the build system, we are moving from catkin (used by ROS) to colcon/ament (used by ROS2). In parallel, I am creating a ppa to make installation of the compiled software trivial. All this is taking much more time and effort than expected. And also not as smooth as it should, you may notic

[2021-01-19 12:20] torressa commented on #2812
Hi @jbuisine!
Thanks for the detailed response and the efforts on the package.
I am much happier now with the work you've done so I'm ticking off some of the requirements.
Also, really good work on the documentation and diagrams, it looks really nice.

I'll take some time over the week end to come back with my feedback.

[2021-01-19 12:31] whedon commented on #2891
:wave: @jkbye, please update us on how your review is going.

[2021-01-19 13:02] hugoledoux commented on #2933
@whedon add @HenrikJanPersson as reviewer

[2021-01-19 13:02] whedon commented on #2933
OK, @HenrikJanPersson is now a reviewer

[2021-01-19 13:03] hugoledoux commented on #2933
@whedon start review

[2021-01-19 13:03] whedon opened #2970 "[REVIEW]: SAR tools: A QGIS plugin for generating SAR descriptors"
**Submitting author:** @Narayana-Rao (<a href="http://orcid.org/0000-0002-6496-7283">NR Bhogapurapu</a>)
**Repository:** <a href="https://github.com/Narayana-Rao/SAR-tools" target ="_blank">https://github.com/Narayana-Rao/SAR-tools</a>
**Version:** v0.7
**Editor:** @hugoledoux
**Reviewer:** @liberostelios, @HenrikJanPersson
**Archive:** <a href="https://doi.org/10.5281/zenodo.4621292" target="_bla

[2021-01-19 13:03] whedon commented on #2933
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2970.

[2021-01-19 13:03] #2933 closed

[2021-01-19 13:03] whedon commented on #2970
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @liberostelios it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.j

[2021-01-19 13:04] whedon commented on #2970
Downloading of the repository (to check the bibtex) failed for issue #2970 failed with the following error:

 /app/vendor/bundle/ruby/2.6.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/openjournals/joss-reviews/issues/2970: 404 - Not Found // See: https://docs.github.com/rest/reference/issues#get-an-issue (Octokit::NotFound)
	from /ap

[2021-01-19 13:04] whedon commented on #2970
PDF failed to compile for issue #2970 with the following error:

 /app/vendor/bundle/ruby/2.6.0/gems/octokit-4.8.0/lib/octokit/response/raise_error.rb:16:in `on_complete': GET https://api.github.com/repos/openjournals/joss-reviews/issues/2970: 404 - Not Found // See: https://docs.github.com/rest/reference/issues#get-an-issue (Octokit::NotFound)
	from /app/vendor/bundle/ruby/2.6.0/gems/faraday-0.15

[2021-01-19 13:36] prdm0 commented on #2769
@Pratikvn sent me suggestions. Is another reviewer missing to send the corrections?

[2021-01-19 13:55] flofaucher commented on #2699
@meg-simula Yes the version is 1.0.0.
I can ask phaidra for support regarding the doi too if you need to.

[2021-01-19 13:59] meg-simula commented on #2699
@whedon set 1.0.0 as version

[2021-01-19 14:04] farshidtz commented on #2935
No worries. Thanks for starting the review.
Based on the domains and expertise, we suggest the following: natpt, manojrege, FreddieV4, bzz

[2021-01-19 14:04] Narayana-Rao commented on #2970
@whedon generate pdf

[2021-01-19 14:05] whedon commented on #2970
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02970/joss.02970/10.21105.joss.02970.pdf) :page_facing_up: :point_left:

[2021-01-19 14:24] pariterre commented on #2562
@Dangzilla
I hope you are doing fine! We miss you at the lab :D

The reviewers for the paper on biorbd would like to confirm that you feel good about the fact that you are in the `acknowledgement` section instead of in the authors list. As you will see in earlier post, I told them that we basically worked together, and that most of the tests were written from a prepared recipe.

Please fell free t

[2021-01-19 14:31] Dangzilla commented on #2562
@pariterre I miss you guys as well!

Yes, no problem for the acknowledgement section. No need to be part of the author list :)

[2021-01-19 14:50] timtroendle commented on #2769
Yes, we are waiting for a second review to be finished.

[2021-01-19 15:00] arfon commented on #2562
@pariterre - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the aut

[2021-01-19 15:01] arfon commented on #2562
@whedon generate pdf

[2021-01-19 15:01] whedon commented on #2562
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02562/joss.02562/10.21105.joss.02562.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02562/joss.02562/10.21105.joss.02562.pdf) :page_facing_up: :point_left:

[2021-01-19 15:32] pariterre commented on #2562
Hi @arfon
I uploaded the 1.4.1 version (created after your last comment) of biorbd on Zenodo. The DOI is 10.5281/zenodo.4450303. I am not sure how I update this thread with the DOI though..
I made sure that the names and the paper title fit :)
Thanks!

[2021-01-19 15:42] matthewfeickert commented on #2823
Thanks for the additional comments and information @bradkav, as well as your patience in us getting back to you after the holidays. We've gone ahead and followed your suggestion and split out the output into a separate block in the `README`.

[2021-01-19 15:48] bradkav commented on #2823
Thanks @matthewfeickert! I'm happy with all the changes.

So @eloisabentivegna I'm now happy to recommend this for publication in JOSS :fireworks:

[2021-01-19 16:06] matthewfeickert commented on #2823
Thanks for the review @suchitakulkarni! We've updated the `README` to reflect your feedback.

It is uncommon to give explicit figure save instructions in most libraries that build ontop of existing visualization tools, however, given your suggestions we've adopted `matplotlib`'s approach in their documentation of including an explicit `fig.show()` in the two visualization examples in the `README`.

[2021-01-19 16:08] oalii commented on #2831
Hi  @Kevin-Mattheus-Moerman and all reviewers,

@chennachaos: thanks for your latest comment.

We acknowledge that, given his scientific expertise, @chennachaos seeks novelty in algorithms and do not consider **BVPy** as bringing any useful new features to expert users. We would like to reply in two points:
* The question of the audience is central here. In quantitative Biology,  there is a growin

[2021-01-19 16:09] oalii commented on #2831
@whedon generate pdf from branch joss-review

[2021-01-19 16:09] whedon commented on #2831
[code]

[2021-01-19 16:09] whedon commented on #2831
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02831/joss.02831/10.21105.joss.02831.pdf) :page_facing_up: :point_left:

[2021-01-19 16:18] kthyng commented on #2813
Thanks @visr.

@milankl How are things coming along in your review? Thanks!

[2021-01-19 16:24] kthyng commented on #2768
Hi @ryokbys! I'll be taking over to get your paper through the rest of the process.

Can you update the metadata for your Zenodo archive so that the title and author list match your JOSS paper exactly?

[2021-01-19 16:25] kthyng commented on #2768
@whedon generate pdf

[2021-01-19 16:26] whedon commented on #2768
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: :point_left:

[2021-01-19 16:27] kthyng commented on #2768
Ok

The DOI in the pdf is what will be assigned when it is submitted at the end of this process.

[2021-01-19 16:30] arfon commented on #2562
@whedon set 10.5281/zenodo.4450303 as archive

[2021-01-19 16:30] whedon commented on #2562
OK. <a href="https://doi.org/10.5281/zenodo.4450303" target="_blank">10.5281/zenodo.4450303</a> is the archive.

[2021-01-19 16:30] arfon commented on #2562
@whedon accept

[2021-01-19 16:30] whedon commented on #2562
[code]

[2021-01-19 16:31] whedon commented on #2562
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2035

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2035, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-19 16:32] kthyng commented on #2768
Paper comment:
Can you update your institution information with the typical items you would be required to include for a publication, e.g., city, country, etc?

[2021-01-19 16:33] whedon commented on #2562
[code]

[2021-01-19 16:36] kthyng commented on #2699
@meg-simula @openjournals/dev I see that the DOI "11353/10.1144094" does link appropriately to what looks like a DOI with "doi.org/11353/10.1144094" so looks fine. How can we convince whedon of this, or skip over whedon to get it in the system appropriately?

[2021-01-19 16:37] kthyng commented on #2699
@whedon accept

[2021-01-19 16:37] whedon commented on #2699
No archive DOI set. Exiting...

[2021-01-19 16:37] kthyng commented on #2699
@whedon generate pdf

[2021-01-19 16:38] whedon commented on #2699
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02699/joss.02699/10.21105.joss.02699.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02699/joss.02699/10.21105.joss.02699.pdf) :page_facing_up: :point_left:

[2021-01-19 16:44] kthyng commented on #2699
@whedon check references

[2021-01-19 16:48] whedon commented on #2699
[code]

[2021-01-19 16:51] arfon commented on #2562
@pariterre - I made a small number of formatting fixes in https://github.com/pyomeca/biorbd/pull/193

[2021-01-19 17:00] kthyng commented on #2699
@flofaucher Ok your paper looks good! Let's wait to hear back about the DOI issue above. And it looks like your software version has been set.

[2021-01-19 17:11] kthyng commented on #2687
@krober10nd Hi! I'll be taking over from here. I see your Zenodo archive is set up, and the version of your software is set.

Paper comments:
* Your #1 under Core Functionality — the last reference should not have ().
* your #3 — I'm outside this field but in ocean meshes, 2d meshes can have bad quality shape (e.g. really narrow triangles). Could you state briefly why 2d meshes don't have degenera

[2021-01-19 17:18] kthyng commented on #2921
@tliu68 I'm sorry it's taken me awhile to get back to you on this. Ok, so do you mean that graspologic is a larger package and your JOSS submission is about a subset of the larger package? If so, it is important to be extra clear in all of your materials what exactly reviewers would be reviewing as part of this submission.

[2021-01-19 17:22] kthyng commented on #2921
@tliu68 Can you help summarize the part of the repository that is in this submission? As you can see from the summary above coming out of `cloc` to count the lines of code, it is showing the full repo instead of the subset you are wanting to be reviewed. What is the subset of the code base that should count as in this submission?

[2021-01-19 17:24] krober10nd commented on #2687
@kthyng Thanks! I fixed up the two citations to be in-text rather than parenthetical. In regard to your comment about degenerate element quality, indeed I meant so-called sliver elements which occur only in 3D meshes. I edited the text minimally to be more specific what I meant by degenerate elements in this case.

[2021-01-19 17:28] kthyng commented on #2913
@will-rowe Sorry for my delay in responding. Of course things are super difficult right now! I'll try to find another editor to keep this off your plate.

@majensen Would you be able to edit this submission?

[2021-01-19 17:28] kthyng commented on #2913
@whedon invite @majensen as editor

[2021-01-19 17:28] whedon commented on #2913
@majensen has been invited to edit this submission.

[2021-01-19 17:32] kthyng commented on #2908
@MamadouSDiallo I am sorry for my delay in getting back to you. I'll take a look at your submission now.

[2021-01-19 17:32] kthyng commented on #2908
@whedon generate pdf

[2021-01-19 17:32] whedon commented on #2908
PDF failed to compile for issue #2908 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (03cd3641d28f9100f4933901/joss/paper.md): found character that cannot start any token while scanning for the next token at line 4 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/rub

[2021-01-19 17:33] kbarnhart commented on #2903
@molgor thanks so much for your willingness to review (and apologies for the delay in my response). Of course you can ask me any questions about the process.

I will now add you as a reviewer. I'll start the official review issue once I find one to two more reviewers.

[2021-01-19 17:33] kbarnhart commented on #2903
@whedon add @molgor as reviewer

[2021-01-19 17:33] whedon commented on #2903
OK, @molgor is now a reviewer

[2021-01-19 17:35] kthyng commented on #2908
@MamadouSDiallo I think the problem in your paper is your tabs under "tags", "authors", and "affiliations" instead of spaces.

[2021-01-19 17:35] kbarnhart commented on #2903
:wave: @kmarkert, @ethanwhite @ecodiv would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission is "ForestAtRisk: A Python package for modelling and forecasting deforestation in the tropics".

This is a pre-review issue which is used

[2021-01-19 17:36] kthyng commented on #2908
@lorenanicole are you up for editing this submission?

[2021-01-19 17:37] kthyng commented on #2908
@whedon invite @lorenanicole as editor

[2021-01-19 17:37] whedon commented on #2908
@lorenanicole has been invited to edit this submission.

[2021-01-19 17:41] kthyng commented on #2687
@whedon generate pdf

[2021-01-19 17:42] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2021-01-19 17:43] kthyng commented on #2687
@whedon accept deposit=true

[2021-01-19 17:43] whedon commented on #2687
[code]

[2021-01-19 17:43] majensen commented on #2913
@whedon assign me as editor

[2021-01-19 17:43] whedon commented on #2687
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1351586210758725633) 👈 🐦🐦🐦

[2021-01-19 17:43] whedon commented on #2687
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2036
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02687](https://doi.org/10.21105/joss.02687)
2. If everything looks g

[2021-01-19 17:44] whedon commented on #2913
OK, the editor is @majensen

[2021-01-19 17:44] majensen commented on #2913
happy to do that @kthyng

[2021-01-19 17:51] sbenthall commented on #2855
This is the stack trace. https://gist.github.com/sbenthall/5edad4e128fea79a99c2486ab6333bfe
Googling for it makes it look like a local python issue. I'll keep kicking at it.

[2021-01-19 17:51] kthyng commented on #2687
Congratulations on your new publication @krober10nd! Thanks to editor @meg-simula and reviewers @nschloe and @jorgensd for your time and expertise!!

[2021-01-19 17:51] #2687 closed

[2021-01-19 17:51] whedon commented on #2687
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02687/status.svg)](https://doi.org/10.21105/joss.02687)

**We need your help!**

Journal of Open Source Softwa

[2021-01-19 17:57] kdorheim commented on #2878
@mikldk, @sebkopf has done an excellent job addressing all of the issues I opened related to this package. 👍

[2021-01-19 18:09] kthyng commented on #2961
Hi @joshj55 and thanks for your submission. Unfortunately, the editorial board has determined that while your software looks useful, it also seems to be more in a beta version rather than ready for publication. Additionally, it is too small in its current form to pass our bar for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort).

[2021-01-19 18:09] kthyng commented on #2961
@whedon reject

[2021-01-19 18:09] whedon commented on #2961
Paper rejected.

[2021-01-19 18:09] #2961 closed

[2021-01-19 18:13] kthyng commented on #2962
@yarongvili1 The editorial board has determined this submission can move forward in the review process. However, it was noted that there seems to be a lack of documentation. We are looking for clear, easy to use docs for a new user to be able to use for installation as well as use of the package. Something like readthedocs is commonly used for this.

[2021-01-19 18:14] kthyng commented on #2962
@danielskatz you were suggested as a possible editor — would you like to edit this submission?

[2021-01-19 18:14] kthyng commented on #2962
@whedon invite @danielskatz as editor

[2021-01-19 18:14] whedon commented on #2962
@danielskatz has been invited to edit this submission.

[2021-01-19 18:21] kthyng commented on #2943
Hi @edwardoughton and thanks for your submission. The editorial board did end up deciding that this submission is too small to pass our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) bar. We do encourage your resubmission after some substantial additional functionality to the software in which case we would reevaluate the package

[2021-01-19 18:21] kthyng commented on #2943
@whedon reject

[2021-01-19 18:21] whedon commented on #2943
Paper rejected.

[2021-01-19 18:21] #2943 closed

[2021-01-19 18:29] sbenthall commented on #2855
Hmm.
So what's strange here is that `conda install rasterio==1.1.0` works fine, but then I get an error when it installs again via `pip install -e .`.

I wonder if the conda version is conflicting with the pip version somehow (the pip version is invoked in the `setup.py` file.)

[2021-01-19 18:30] sbenthall commented on #2855
Commenting out the `rasterio` dependency in `setup.py` and rerunning the `pip` installation gets me this error:

https://gist.github.com/sbenthall/6a7f135970232dad08eb65ecebfd97cf

[2021-01-19 18:33] kthyng commented on #2955
Hi @labouz and @RaymondBalise and thanks for your submission. Unfortunately the editorial board did decide that this submission does not meet our bar for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). In this case, it wasn't the time frame in your commit history but the ultimate size of the functionality. As an alternative to JOS

[2021-01-19 18:33] kthyng commented on #2955
@whedon reject

[2021-01-19 18:33] sbenthall commented on #2855
I do notice that `rasterio` installation instructions look like they require a number of other GDAL related packages, which in the `rasterio` installation instructions are listed as separate steps.

https://rasterio.readthedocs.io/en/latest/

I wonder if you could confirm that your instructions for CoPro, as written, work on a fresh system that does not have these GDAL packages installed. It is qu

[2021-01-19 18:33] whedon commented on #2955
Paper rejected.

[2021-01-19 18:33] #2955 closed

[2021-01-19 18:34] pariterre commented on #2562
@arfon
It is now merged! Did I go too fast with the version on Zenodo?

[2021-01-19 18:36] kthyng commented on #2951
Hi @markheckmann — the editorial board has determined that this submission is in scope, so we can proceed.

Please follow up on @Kevin-Mattheus-Moerman's comment above to add a Statement of Need section.

Also, add a sentence or two to the start of your paper so that a non-expert in your field can be oriented to where your software fits.

[2021-01-19 18:38] MamadouSDiallo commented on #2908
Thank you @kthyng I have removed the tabs.

[2021-01-19 18:41] arfon commented on #2562
No, it's fine. We don't need these last fixes to the paper in the Zenodo archive.

[2021-01-19 18:41] arfon commented on #2562
@whedon accept

[2021-01-19 18:41] whedon commented on #2562
[code]

[2021-01-19 18:42] kthyng commented on #2951
@markheckmann As someone who isn't in your field (and referring to my previous comment about your paper needing to help orient nonexperts to your topic area), I can't tell who is an appropriate editor for this submission, given that cMadan isn't able to take an another submission right now. Can you look through the editor list and suggest another editor or two?

[2021-01-19 18:42] whedon commented on #2562
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2037

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2037, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-19 18:43] kthyng commented on #2908
@MamadouSDiallo you can always test your paper compilation by running the command yourself.

[2021-01-19 18:43] kthyng commented on #2908
@whedon generate pdf

[2021-01-19 18:44] whedon commented on #2908
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02908/joss.02908/10.21105.joss.02908.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02908/joss.02908/10.21105.joss.02908.pdf) :page_facing_up: :point_left:

[2021-01-19 18:45] arfon commented on #2562
@whedon accept deposit=true

[2021-01-19 18:45] whedon commented on #2562
[code]

[2021-01-19 18:46] whedon commented on #2562
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1351601925393887232) 👈 🐦🐦🐦

[2021-01-19 18:46] whedon commented on #2562
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2038
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02562](https://doi.org/10.21105/joss.02562)
2. If everything looks g

[2021-01-19 18:49] arfon commented on #2562
@trallard, @abhishektha - many thanks for your reviews here and to @trallard for editing this submission too! JOSS relies upon the volunteer efforts of folks like yourselves and we simply wouldn't be able to do this without you ✨

@pariterre your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-19 18:49] #2562 closed

[2021-01-19 18:49] whedon commented on #2562
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02562/status.svg)](https://doi.org/10.21105/joss.02562)

**We need your help!**

Journal of Open Source Softwa

[2021-01-19 18:50] pariterre commented on #2562
Thanks everyone! :D

[2021-01-19 18:54] danielskatz commented on #2962
@wheden assign me as editor

[2021-01-19 18:55] danielskatz commented on #2962
@whedon assign me as editor

[2021-01-19 18:55] whedon commented on #2962
OK, the editor is @danielskatz

[2021-01-19 18:56] danielskatz commented on #2962
Hi @yarongvili1 - As mentioned by @kthyng, it would be great if you could start improving the documentation before we start the actual review.

[2021-01-19 18:56] danielskatz commented on #2962
Also, please make suggestions for potential reviewers by mentioning them here in this thread (without tagging them with an @) or by name if they are not on github. [This list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2021-01-19 19:44] tpoisot commented on #2829
That's an **accept** for me.

[2021-01-19 20:01] kthyng commented on #2942
@vavrines Can I verify that this submission covers Kinetic.jl and KitBase, KitML and KitFort? Also, have these other packages been published on or are in the process of being published on?

We seem to be narrowing in on what exactly is in this submission and that the packages together are in scope. However, there is still concern about the maturity of the project at this point. The paper is incomp

[2021-01-19 20:03] whedon opened #2971 "[PRE REVIEW]: DataCleaningTool: An open-source MATLAB app for cooperative data cleaning"
**Submitting author:** @devosmitachatterjee2018 (<a href="http://orcid.org/0000-0001-8041-8391">DEVOSMITA CHATTERJEE</a>)
**Repository:** <a href="https://github.com/devosmitachatterjee2018/DataCleaningTool" target ="_blank">https://github.com/devosmitachatterjee2018/DataCleaningTool</a>
**Version:** v1.0
**Editor:** @arfon
**Reviewers:** @hakanfriden
**Managing EiC:** Kristen Thyng

**:warning: J

[2021-01-19 20:03] whedon commented on #2971
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-19 20:03] whedon opened #2972 "[PRE REVIEW]: Unsupervised learning approach towards anomaly detection in compat logs with ADE"
**Submitting author:** @ayush-1506 (<a href="http://orcid.org/0000-0003-3550-691X">Ayush Shridhar</a>)
**Repository:** <a href="https://github.com/openmainframeproject/ade.git" target ="_blank">https://github.com/openmainframeproject/ade.git</a>
**Version:** v1.0.5
**Editor:** @gkthiruvathukal
**Reviewers:** @arcuri82, @mdpiper
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode

[2021-01-19 20:03] whedon commented on #2972
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-19 20:04] whedon commented on #2971
[code]

[2021-01-19 20:05] whedon commented on #2971
[code]

[2021-01-19 20:05] whedon commented on #2971
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02971/joss.02971/10.21105.joss.02971.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02971/joss.02971/10.21105.joss.02971.pdf) :page_facing_up: :point_left:

[2021-01-19 20:06] whedon commented on #2972
PDF failed to compile for issue #2972 with the following error:

 Can't find any papers to compile :-(

[2021-01-19 20:06] whedon commented on #2972
[code]

[2021-01-19 20:12] eloisabentivegna commented on #2947
@whedon add @robertsawko as reviewer

[2021-01-19 20:12] whedon commented on #2947
OK, @robertsawko is now a reviewer

[2021-01-19 20:19] kthyng commented on #2971
@whedon query scope

[2021-01-19 20:20] whedon commented on #2971
Submission flagged for editorial review.

[2021-01-19 20:20] kthyng commented on #2971
Hi @devosmitachatterjee2018 and thanks for your submission. I've flagged this for a scope query to make sure that the software fits JOSS scope guidelines. I'm not super familiar with MATLAB app details so I will be looking for information from my fellow JOSS editors. This process should take 1-2 weeks. Thanks.

[2021-01-19 20:24] vavrines commented on #2942
Dear @kthyng
Thank you very much for the reply. I can confirm this submission covers Kinetic.jl, KitBase.jl, KitML.jl and KitFort.jl. All these packages have neber been published on or are in process of being published on any other journal.

And thanks for the comments on the paper. I don't agree with part of the arguments. The statement of need is obviously provided in the summary of paper. The f

[2021-01-19 20:25] kthyng commented on #2972
Hi @ayush-1506  — is there a paper associated with your submission?

[2021-01-19 20:38] xirdneh commented on #2791
@whedon re-invite @xirdneh as reviewer

[2021-01-19 20:38] whedon commented on #2791
I'm sorry @xirdneh, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-01-19 20:39] xirdneh commented on #2791
@gkthiruvathukal Sorry, could you send the invitation again?
Seems like I didn't click it last time, I thought i did.

[2021-01-19 20:41] gkthiruvathukal commented on #2791
@whedon re-invite @xirdneh as reviewer

[2021-01-19 20:41] whedon commented on #2791
OK, the reviewer has been re-invited.

@xirdneh please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-19 20:41] gkthiruvathukal commented on #2791
@xirdneh I hope that works!

[2021-01-19 20:45] kthyng commented on #2942
We require a section entitled "Statement of Need." @jedbrown gave suggestions for additions above.

The paper seems to imply the presence of a figure but I do not see one. Am I missing something? I see it now in the github representation of the paper but not in the whedon compiled version. Yes you can and should include a caption. The information you need to implement these items should be [here](

[2021-01-19 20:46] kthyng commented on #2942
Ah, I forgot to include above that the paper needs proof reading too. There are a number of grammatical errors at present.

[2021-01-19 20:47] devosmitachatterjee2018 commented on #2971
I have corrected the MISSING DOI issue in paper.bib file.

[2021-01-19 20:48] devosmitachatterjee2018 commented on #2971
@whedon generate pdf

[2021-01-19 20:49] devosmitachatterjee2018 commented on #2971
@whedon generate pdf

[2021-01-19 20:49] whedon commented on #2971
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02971/joss.02971/10.21105.joss.02971.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02971/joss.02971/10.21105.joss.02971.pdf) :page_facing_up: :point_left:

[2021-01-19 20:51] whedon commented on #2971
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02971/joss.02971/10.21105.joss.02971.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02971/joss.02971/10.21105.joss.02971.pdf) :page_facing_up: :point_left:

[2021-01-19 20:53] devosmitachatterjee2018 commented on #2971
@whedon generate pdf

[2021-01-19 20:55] whedon commented on #2971
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02971/joss.02971/10.21105.joss.02971.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02971/joss.02971/10.21105.joss.02971.pdf) :page_facing_up: :point_left:

[2021-01-19 20:57] devosmitachatterjee2018 commented on #2971
I have corrected the MISSING DOI issue in paper.bib file and checked the generated pdf.

[2021-01-19 21:00] vavrines commented on #2942
@kthyng
Thanks again for the kind explanation.

I figured out that JOSS seems not accepting html syntax so that all the figures in (https://github.com/vavrines/Kinetic.jl/blob/master/paper/paper.md) are missing. Is there a recommended way to adjust the attributes of a picture in JOSS?

I'll work on improving the paper. When it's ready, how should I contact the editor and restart the review process

[2021-01-19 21:03] crsl4 commented on #2894
I know that this issue is closed and I fully accept the rejection decision, but I submitted the manuscript to Journal of Open Source Education (http://jose.theoj.org) a month ago as you suggested and the review process has not even been started. I have emailed the editor without response either. So, I wonder if you know of other similar journals were I could submit this work. Any help is appreciat

[2021-01-19 21:09] kthyng commented on #2942
@vavrines can you use the example given in the docs that is like this: `![Caption for example figure.](figure.png){ width=20% }`

In addition to the paper, please work on the docs and tests.

When you are ready, you can ping @openjournals/joss-eics  to start your submission back up.

[2021-01-19 21:18] devosmitachatterjee2018 commented on #2971
@kthyng Thank you for the update. Please let me know if you need further information about the software.

[2021-01-19 21:20] benjaminrose commented on #2446
I regret to inform @lockepatton and others that it appears Space Telescope Science Institute has also created a sonification package, [Astronify](https://astronify.readthedocs.io/en/latest/). This makes the need for `sonipy` even more difficult to explain.

[2021-01-19 21:26] BenMql commented on #2947
@eloisabentivegna Thank you for accepting to handle the submission as an editor.

As suggested, I include below a few suggestions for referees (selected in the list of JOSS referees):
- mikaem
- harpolea
- p-costa
In addition to existing referees, the following scientists would be suitable for reviewing:
- Dr. Adrian Barker (U. Leeds), https://eps.leeds.ac.uk/maths/staff/4006/dr-adrian-j-barker
-

[2021-01-19 21:40] pdebuyl commented on #2888
@whedon add @SergeDmi as reviewer

[2021-01-19 21:41] pdebuyl commented on #2888
@whedon start review

[2021-01-19 21:41] whedon opened #2973 "[REVIEW]: Tyssue, en Epithelium simulation library"
**Submitting author:** @glyg (<a href="http://orcid.org/0000-0002-5444-5246">Guillaume Gay</a>)
**Repository:** <a href="https://github.com/damcb/tyssue" target ="_blank">https://github.com/damcb/tyssue</a>
**Version:** 0.9.0
**Editor:** @pdebuyl
**Reviewer:** @fcooper8472, @SergeDmi
**Archive:** <a href="https://doi.org/10.5281/zenodo.4817609" target="_blank">10.5281/zenodo.4817609</a>

**:warnin

[2021-01-19 21:41] whedon commented on #2888
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2973.

[2021-01-19 21:41] #2888 closed

[2021-01-19 21:41] whedon commented on #2973
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fcooper8472, @SergeDmi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2021-01-19 21:42] whedon commented on #2973
[code]

[2021-01-19 21:42] pdebuyl commented on #2973
@fcooper8472 @SergeDmi make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2021-01-19 21:42] whedon commented on #2973
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02973/joss.02973/10.21105.joss.02973.pdf) :page_facing_up: :point_left:

[2021-01-19 22:23] yarongvili1 commented on #2962
Hi @kthyng and @danielskatz,

@kthyng, I'd be happy to produce more elaborate documentation for new users. While I'm at it, note that there is existing [quick-start documentation](https://github.com/gvilitechltd/LibSWIFFT/tree/v1.0.0#using-libswifft) as well as [instructions for generating API documentation using doxygen](https://github.com/gvilitechltd/LibSWIFFT/blob/v1.0.0/RELEASE-CHECKLIST.md#r

[2021-01-19 22:31] milankl commented on #2813
Hey @kthyng, I'm basically in the same situation as Martijn, if issue [JuliaClimate/IndividualDisplacements.jl#38](https://github.com/JuliaClimate/IndividualDisplacements.jl/issues/38) gets resolved then I'm happy to tick all the boxes.

[2021-01-19 23:15] iannesbitt commented on #2565
I have implemented the changes requested by @fwalter in raspishake/rsudp#13.

[2021-01-20 00:02] jedbrown commented on #2565
Great!

@eileenrmartin Could you let us know when you might be able to get to this? Is there anything other than time that we can assist you with?

[2021-01-20 00:27] sebhaan commented on #2690
Hi @hugoledoux,

thanks for the editorial work. I've finished the suggested points, see below inline.

Re: Release tag: v1.0.0

Re: Done in Zenodo

Re: Checked, see linke here https://zenodo.org/record/4451474

Re: Zenodo DOI:  10.5281/zenodo.4451474

[2021-01-20 00:39] charleygros commented on #2868
Many thanks again @NMontanaBrown :-)

[2021-01-20 03:59] ayush-1506 commented on #2972
@kthyng Yes, the code and paper live inside a different branch of the repository.
Link : https://github.com/openmainframeproject/ade/tree/logs

Can we get whedon to use this branch instead of master? Else I'll discuss with my collaborators to merge this into master as soon as possible.

[2021-01-20 04:30] markheckmann commented on #2951
@whedon generate pdf from branch joss

[2021-01-20 04:30] whedon commented on #2951
[code]

[2021-01-20 04:31] whedon commented on #2951
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02951/joss.02951/10.21105.joss.02951.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02951/joss.02951/10.21105.joss.02951.pdf) :page_facing_up: :point_left:

[2021-01-20 04:36] markheckmann commented on #2951
@kthyng We added a 'Statement of need' section and modified the introduction to make it more accessible for non-experts.
We suggest one of the following editors who have a background in social science: alexhanna, kakiac, leeper, lorenanicole
Thanks!

[2021-01-20 07:33] ryokbys commented on #2768
I edited the title of zenode record of 10.5281/zenodo.4446322 so that it matches the title in the paper.
I also updated my institution information in paper on master branch.

[2021-01-20 08:24] JannisHoch commented on #2855
Hmmm, this all sounds pretty odd to me.

I have never seen any of the error messages before when installing copro - neither the one when running `pip install -e .` (as it seems that rasterio is correctly installed from cache and the error occurs bit later somehow), nor the one with altered `setup.py` file (which is a permission error after all if I get it right?).

Also, I was able to install copr

[2021-01-20 08:31] JannisHoch commented on #2855
Or, as another possible fix, specify a more recent rasterio version? current one is 1.1.8. maybe there are some flaws in version 1.1.0 for some specific circumstances.

[2021-01-20 09:00] arfon commented on #2894
☝️ @openjournals/jose-eics .

[2021-01-20 11:38] GregoryAshton commented on #2968
@dfm I'm unable to tick the boxes above (I am logged in, and I accepted the request a few days back - now the link gives a "Sorry, we couldn't find that repository invitation")

[2021-01-20 12:10] melissawm commented on #2895
@whedon add @chkoar as reviewer

[2021-01-20 12:10] whedon commented on #2895
OK, @chkoar is now a reviewer

[2021-01-20 12:14] melissawm commented on #2895
Thank you both, and@geoffreyp! Now that we have two reviewers, we can open the REVIEW issue - this PRE-REVIEW issue will be closed automatically, and we'll continue the work there.

[2021-01-20 12:14] melissawm commented on #2895
@whedon start review

[2021-01-20 12:14] whedon opened #2974 "[REVIEW]: Moead-framework : a modular MOEA/D python framework"
**Submitting author:** @geoffreyp (<a href="http://orcid.org/0000-0002-5049-5991">Geoffrey Pruvost</a>)
**Repository:** https://github.com/moead-framework/framework
**Branch with paper.md** (empty if default branch):
**Version:** 1.0
**Editor:** @melissawm
**Reviewers:** @sjvrijn, @chkoar
**Archive:** 10.5281/zenodo.7152178

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-01-20 12:14] whedon commented on #2895
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2974.

[2021-01-20 12:14] #2895 closed

[2021-01-20 12:14] whedon commented on #2974
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sjvrijn, @chkoar it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-01-20 12:15] whedon commented on #2974
[code]

[2021-01-20 12:15] whedon commented on #2974
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02974/joss.02974/10.21105.joss.02974.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02974/joss.02974/10.21105.joss.02974.pdf) :page_facing_up: :point_left:

[2021-01-20 12:16] melissawm commented on #2974
👋🏼 @geoffreyp @sjvrijn @chkoar this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most oth

[2021-01-20 12:40] melissawm commented on #2829
Thank you both @tpoisot and @juliohm for you thorough and thoughtful reviews!

If I understand the question correctly, yes you can update the version number with whedon and choose the correct version to tag as the Zenodo/archive corresponding to the JOSS paper. Please see if [the JOSS/whedon documentation](https://joss.readthedocs.io/en/latest/whedon.html#changing-the-software-version) answers you

[2021-01-20 12:52] jspaezp commented on #2694
@wesleyburr I dont't think there is a clear guideline on it ... I feel like it is OK to change them during the review process as long as the paper is modified and the final version contains information regarding what additions to the software/paper made that contribution authorship-worthy.

Especially since the reviewers (us...) have to check the following checkpoint before the paper is actually a

[2021-01-20 12:57] dfm commented on #2968
@GregoryAshton: Sorry about that - I'll send you a new invitation!

[2021-01-20 12:57] dfm commented on #2968
@whedon re-invite @GregoryAshton as reviewer

[2021-01-20 12:57] whedon commented on #2968
OK, the reviewer has been re-invited.

@gregoryashton please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-20 13:05] MilesMcBain commented on #2927
I've finished my first pass review.

This is a really great package, potentially best in class.

The `dbplyr` backend for the `WFS` API is a genuinely novel development for these types of packages, and I hope it is copied by other similar packages.

I also appreciate from an end user's perspective the attention to detail in the print methods, messages, errors, and warnings. It's quite chatty in a

[2021-01-20 13:18] melissawm commented on #2744
Hello, @kfhiga! Here's what I could gather. It would be best for you to have a single license file, and if other filenames are required either by packaging or legal concerns from your employer, these should be links to the unique license file. This way, we avoid redundancy and possible problems with different texts in different versions of these files. Do you think this would be a possible solutio

[2021-01-20 13:53] wimvanderbauwhede commented on #2950
I am willing to review this work, but my current load at work is very high. How quickly does this need to be done?

[2021-01-20 14:17] majensen commented on #2934
Hi @balhoff - could I persuade you to review [this database work](#2934) for JOSS? Appreciate your consideration!

[2021-01-20 14:22] lskatz commented on #2334
@lpantano, @lfaller, @erinyoung

Thanks all for participating in the review of our manuscript. The reviewer comments are insightful and have helped strengthen our software significantly. Over time, we addressed many documentation issues which made the software much better; we have also addressed the multiple dependency issues by creating a container; and after the container became unwieldy, we spe

[2021-01-20 14:26] lpantano commented on #2334
I think that is the way to go, please @erinyoung can you coordinate with them? thank you

[2021-01-20 14:30] majensen commented on #2934
Thanks @Junjun-Zhang for agreeing to review!

[2021-01-20 14:30] majensen commented on #2934
@whedon assign @junjun-zhang as reviewer

[2021-01-20 14:30] whedon commented on #2934
OK, @junjun-zhang is now a reviewer

[2021-01-20 15:13] kthyng commented on #2813
@milankl ah ok, got it.

@gaelforget What is your time frame for working out the remaining review issues? I can pause this issue if you'd like more than a couple of weeks (assuming the reviewers agree).

[2021-01-20 15:19] AJQuinn commented on #2881
Hello, I've taken another look through the list of potential reviewers in case it is useful. The following people looks like they have relevant experience:
neurofractal
EtienneCmb
saran-nns

I hope this is helpful - please let me know if I should do anything else with this or in the manuscript itself. Thanks for your time with our paper!

Cheers

[2021-01-20 15:53] kthyng commented on #2972
@whedon generate pdf from branch logs

[2021-01-20 15:53] whedon commented on #2972
[code]

[2021-01-20 15:54] whedon commented on #2972
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02972/joss.02972/10.21105.joss.02972.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02972/joss.02972/10.21105.joss.02972.pdf) :page_facing_up: :point_left:

[2021-01-20 15:55] molgor commented on #2903
Hi Katy,

It’s no problem.

Best,

Juan

[2021-01-20 15:57] kthyng commented on #2972
@ayush-1506 Yes it is fine to have the paper in another branch. Please look through the [paper requirements](https://joss.readthedocs.io/en/latest/submitting.html#) to be sure you've covered them all. For one thing, we require a section entitled "Statement of Need".

[2021-01-20 15:59] kthyng commented on #2865
@bmcfee Are you available to work on this submission?

[2021-01-20 16:05] kthyng commented on #2972
@ayush-1506 This looks like interesting work, but can you make a compelling argument for why it is research software in particular? You can read more about that [requirement here](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software). I'm going to label this with a scope query to get the editorial board's input on this, which should take 1-2 weeks.

[2021-01-20 16:06] kthyng commented on #2972
@whedon scope query

[2021-01-20 16:06] whedon commented on #2972
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-20 16:06] kthyng commented on #2972
@whedon query scope

[2021-01-20 16:06] whedon commented on #2972
Submission flagged for editorial review.

[2021-01-20 16:08] kthyng commented on #2802
@bmcfee Are you able to work on this submission? Thanks!

[2021-01-20 16:09] kthyng commented on #2395
@W4ngatang, @thomwolf — how are reviews coming along? Do you have any questions?

[2021-01-20 16:10] kthyng commented on #2768
@whedon generate pdf

[2021-01-20 16:11] whedon commented on #2768
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02768/joss.02768/10.21105.joss.02768.pdf) :page_facing_up: :point_left:

[2021-01-20 16:14] kthyng commented on #2768
@whedon set 10.5281/zenodo.4451790 as archive

[2021-01-20 16:14] whedon commented on #2768
OK. <a href="https://doi.org/10.5281/zenodo.4451790" target="_blank">10.5281/zenodo.4451790</a> is the archive.

[2021-01-20 16:15] ayush-1506 commented on #2972
@kthyng Thanks for the input. I'll add a _Statement of Need_ section (which will support the fact that this software and approach solves a problem). Do I need to add the argument behind this being a research software in the paper or a comment here will suffice?

[2021-01-20 16:16] kthyng commented on #2768
@whedon accept deposit=true

[2021-01-20 16:16] whedon commented on #2768
[code]

[2021-01-20 16:17] thomwolf commented on #2395
This totally dropped out of my mind, sorry, I'll try to do it very soon!

[2021-01-20 16:18] whedon commented on #2768
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1351926970716717057) 👈 🐦🐦🐦

[2021-01-20 16:18] whedon commented on #2768
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2039
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02768](https://doi.org/10.21105/joss.02768)
2. If everything looks g

[2021-01-20 16:20] kthyng commented on #2768
Congrats on your new publication @ryokbys! Thanks to editor @usethedata and reviewers @richardjgowers and @foeroyingur for your time and expertise!!!

[2021-01-20 16:20] #2768 closed

[2021-01-20 16:20] whedon commented on #2768
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02768/status.svg)](https://doi.org/10.21105/joss.02768)

**We need your help!**

Journal of Open Source Softwa

[2021-01-20 16:22] kthyng commented on #2972
Here is the specific seciton on what your paper should contain: https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain

Your statement of need should describe the research purpose of the software, but summarizing that or expanding on it here would also be helpful as the editors look through your submission to learn about it.

[2021-01-20 16:22] ayush-1506 commented on #2972
@kthyng Just realised that the _Motivation_ section should probably be renamed to _Statement of Need_.

[2021-01-20 16:26] kthyng commented on #2951
@kakiac are you available to edit this submission?

[2021-01-20 16:26] kthyng commented on #2951
@whedon invite @kakiac as editor

[2021-01-20 16:26] whedon commented on #2951
@kakiac has been invited to edit this submission.

[2021-01-20 16:31] kthyng commented on #2924
Hi @wuruchi! The editorial board has decided that this submission is in scope, so we can proceed. Next step is to find a handling editor for your submission.

[2021-01-20 16:32] kthyng commented on #2924
@lorenanicole I know I pinged you on another submission to edit recently, but also wondering if you can take this one on.

[2021-01-20 16:32] kthyng commented on #2924
@whedon invite @lorenanicole  as editor

[2021-01-20 16:32] whedon commented on #2924
@lorenanicole has been invited to edit this submission.

[2021-01-20 16:44] kthyng commented on #2944
Hi @LangeJens! We are wrapping up our scope query for your submission. One suggestion that came up a couple of times is whether this software could be integrated into a larger R package? Is there one that would be a logical choice for this? The idea is that smaller software would be used much more often potentially in a larger package that can cover more functions.

[2021-01-20 16:47] ethanwhite commented on #2903
@kbarnhart - Yes, I'd be happy to review this. Thanks for having the longer 6 week timeline right now. Makes it easier to say yes in the midst of everything.

[2021-01-20 17:03] LangeJens commented on #2944
Hi @kthyng! Thank you very much for getting in touch. I am very thankful that you take the time to carefully consider my submission. Regarding your question: I did not yet program another R package of a broader scope into which CliquePercolation could be intergrated. Moreover, I am not collarborating with someone who developed a package into which CliquePercolation could be merged. Even though I w

[2021-01-20 17:08] kthyng commented on #2944
@LangeJens Ok, thanks for your thorough response. Let us proceed with the review then. We see that the package is on the small side for JOSS, but we have also seen that it appears to fill a software need.

[2021-01-20 17:10] kthyng commented on #2944
@LangeJens Could you go through the editor list and suggest a handful more potential editors?

Also, please follow up on @arfon's comment about DOI's above.

[2021-01-20 17:33] ayush-1506 commented on #2972
Sure, I'll make required edits to the paper and expand the same here.

[2021-01-20 18:12] labarba commented on #2894
Noted. Thanks. Submissions arriving in December (end of semester, holidays, volunteer labor) are handled as best we can.

[2021-01-20 19:08] lockepatton commented on #2446
Thanks for bringing up astronify: this STScI code is, in fact, actually based on our package. We’ve been in touch with the creators (Clara and Scott) over email and video since March of 2020 (when they reached out to us following our presentation of this work at last year’s American Astronomical Society meeting) and have been advising them on the basics of sonification and audio perception since t

[2021-01-20 19:15] kfhiga commented on #2744
Hello @melissawm <https://github.com/melissawm>! Yes, I think that could
work. I'm a little unsure about how soft links created on a Linux system
will carry over to other systems once they're put into a repository, so
I'll try to run some tests on other systems and will get back to you soon.
Best regards,
Kenny

On Wed, Jan 20, 2021 at 5:18 AM Melissa Weber Mendonça <
notifications@github.com> wro

[2021-01-20 19:17] crsl4 commented on #2894
Thank you Lorena! I completely understand the delay in the review process. I was mostly worried that the page stated that review had not even started, so I was worried there was another reason for the delay. I appreciate your help!

[2021-01-20 19:18] dpsanders commented on #2881
Thanks @AJQuinn and apologies for the delay.

[2021-01-20 19:19] dpsanders commented on #2881
👋 @neurofractal and @EtienneCmb: Would you be able to review this submission for JOSS? Thanks!

[2021-01-20 19:42] EtienneCmb commented on #2881
Hi @dpsanders, yes I'm able to review this submission. It's going to be my first review for JOSS. I already know this package and I'm considering using it on my data so I would be happy to help

[2021-01-20 19:53] mikldk commented on #2878
Thanks, @kdorheim and @sebkopf .

@r-barnes, would you mind giving a brief status of your progress?

[2021-01-20 20:11] kthyng commented on #2953
@sdparsons Ok we can proceed with this review.

[2021-01-20 20:13] kthyng commented on #2953
@oliviaguest would you be up for editing this submission?

[2021-01-20 20:13] kthyng commented on #2953
@whedon invite @oliviaguest as editor

[2021-01-20 20:13] whedon commented on #2953
@oliviaguest has been invited to edit this submission.

[2021-01-20 20:19] neurofractal commented on #2881
Hey @dpsanders. Happy to review this - looks interesting. Are there any guidelines for how to review for JOSS?

[2021-01-20 20:26] vlandau commented on #2829
@whedon set v0.4.4 as version

[2021-01-20 20:26] whedon commented on #2829
I'm sorry @vlandau, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-01-20 20:31] vlandau commented on #2829
@melissawm looks like I don't have the permissions to update. But v0.4.4 is tagged and docs for it are [here](https://docs.circuitscape.org/Omniscape.jl/v0.4.4), so it's all set.

[2021-01-20 20:46] melissawm commented on #2829
@whedon set v0.4.4 as version

[2021-01-20 20:46] whedon commented on #2829
OK. v0.4.4 is the version.

[2021-01-20 20:48] melissawm commented on #2829
@whedon generate pdf

[2021-01-20 20:49] whedon commented on #2829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: :point_left:

[2021-01-20 20:49] melissawm commented on #2829
@whedon check references

[2021-01-20 20:50] whedon commented on #2829
[code]

[2021-01-20 20:58] pdebuyl commented on #2854
@whedon generate pdf

[2021-01-20 20:59] whedon commented on #2854
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02854/joss.02854/10.21105.joss.02854.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02854/joss.02854/10.21105.joss.02854.pdf) :page_facing_up: :point_left:

[2021-01-20 21:04] csoneson commented on #2864
ping @xie186

[2021-01-20 21:10] boshek commented on #2927
Thank you @MilesMcBain! Your kind words are very much appreciated and your extensive feedback even more so. You've done us and the package such a service. Looking forward to digging into your feedback.

[2021-01-20 21:13] pdebuyl commented on #2854
Including such content in the paper goes against the guidelines, we consider it as documentation and recommend its inclusion in the proper documentation of the package.

[2021-01-20 21:19] melissawm commented on #2829
@vlandau, A few final comments:
- In the reference Anantharaman et al, 2020, the publication venue listed in the paper is "Proceedings of the JuliaCon Conferences", which is different from the DOI (JuliaCon Proceedings). Can you check which is the correct one?
- For the reference Bunn et al, 2000, can you confirm that [this is the right DOI](https://doi.org/10.1006/jema.2000.0373)? In that case, c

[2021-01-20 21:28] rmorgan10 commented on #2854
Thanks @pdebuyl . Code snippets and yaml file excerpts are available in the provided example notebooks, which are referenced in the paper, so hopefully this comment is already addressed within the JOSS guidelines.

https://deepskies.github.io/deeplenstronomy/Notebooks/

[2021-01-20 21:39] kbarnhart commented on #2903
@ethanwhite thanks for being willing to review! I'll add you as a reviewer and then start the official review issue.

[2021-01-20 21:39] kbarnhart commented on #2903
@whedon add @ethanwhite as reviewer

[2021-01-20 21:39] whedon commented on #2903
OK, @ethanwhite is now a reviewer

[2021-01-20 21:40] kbarnhart commented on #2903
@whedon start review

[2021-01-20 21:40] whedon opened #2975 "[REVIEW]: ForestAtRisk: A Python package for modelling and forecasting deforestation in the tropics"
**Submitting author:** @ghislainv (<a href="http://orcid.org/0000-0002-1685-4997">Ghislain Vieilledent</a>)
**Repository:** <a href="https://github.com/ghislainv/forestatrisk" target ="_blank">https://github.com/ghislainv/forestatrisk</a>
**Version:** v1.0
**Editor:** @kbarnhart
**Reviewer:** @molgor, @ethanwhite
**Archive:** <a href="https://doi.org/10.5281/zenodo.4570632" target="_blank">10.5281

[2021-01-20 21:40] whedon commented on #2903
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2975.

[2021-01-20 21:40] #2903 closed

[2021-01-20 21:40] whedon commented on #2975
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @molgor, @ethanwhite it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2021-01-20 21:41] whedon commented on #2975
[code]

[2021-01-20 21:41] whedon commented on #2975
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02975/joss.02975/10.21105.joss.02975.pdf) :page_facing_up: :point_left:

[2021-01-20 21:42] kthyng commented on #2944
Oops, sorry everyone for the ping. @karthik are you interested in editing this submission?

Let's wait for now and it can be addressed at the end of the review process, in case it has an official DOI at that time and this can all be ignored for now.

[2021-01-20 21:42] kthyng commented on #2944
@whedon invite @karthik as editor

[2021-01-20 21:43] whedon commented on #2944
@karthik has been invited to edit this submission.

[2021-01-20 21:52] kthyng commented on #2963
Hi @jsoishi and thanks for your submission. The overwhelming comment from the editorial board discussing whether this was in scope or not was "why isn't this part of Dedalus?"

[2021-01-20 21:56] kthyng commented on #2960
Hi @tkchafin and thanks for your submission. Unfortunately, the editorial board determined that it is too small to pass our bar for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). If you continue development, you could submit this work again in the future for consideration. Alternatively, there are other pathways to get a DOI for

[2021-01-20 21:56] kthyng commented on #2960
@whedon reject

[2021-01-20 21:56] whedon commented on #2960
Paper rejected.

[2021-01-20 21:56] #2960 closed

[2021-01-20 21:56] awvwgk commented on #2904
I already briefly checked the project and reported issues while checking for the robustness of the user interface (see https://github.com/Isurwars/Correlation/issues/1 and https://github.com/Isurwars/Correlation/issues/2).

[2021-01-20 22:33] jgostick commented on #2904
I guess I will start the review, then I'll just add the second reviewer if/when I find someone

[2021-01-20 22:33] jgostick commented on #2904
@whedon start review

[2021-01-20 22:33] whedon opened #2976 "[REVIEW]: Correlation: An Analyzing Tool for Liquids and for Amorphous Solids"
**Submitting author:** @Isurwars (<a href="http://orcid.org/0000-0002-4359-2742">Isaías Rodríguez</a>)
**Repository:** <a href="https://github.com/Isurwars/Correlation/" target ="_blank">https://github.com/Isurwars/Correlation/</a>
**Version:** v1.0.2
**Editor:** @jgostick
**Reviewers:** @awvwgk, @CFGrote
**Archive:** <a href="https://doi.org/10.5281/zenodo.5514113" target="_blank">10.5281/zenodo.

[2021-01-20 22:33] whedon commented on #2904
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2976.

[2021-01-20 22:33] #2904 closed

[2021-01-20 22:34] whedon commented on #2976
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @awvwgk it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.the

[2021-01-20 22:35] whedon commented on #2976
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02976/joss.02976/10.21105.joss.02976.pdf) :page_facing_up: :point_left:

[2021-01-20 22:35] whedon commented on #2976
[code]

[2021-01-20 23:12] vlandau commented on #2829
@melissawm I've added those DOIs, thanks! I have reviewed the paper and all looks good to me!

For Anantharaman et al, I am checking with the folks from Julia. It looks like the citation shown on that page has "JuliaCon Proceedings" but the bibtex snippet that they provide on the same page uses "Proceedings of the JuliaCon Conferences." I will post back here once I find out which to use.

[2021-01-20 23:14] jsoishi commented on #2963
Hi @kthyng,

Thanks for considering the paper. We feel that this question is best answered by considering the scope of the two packages. Dedalus is dedicated to the spectral discretization and solution of PDEs. It provides basic solvers but intentionally does not implement high-level workflows that are not inherently tied to the spectral discretization. For example, it does not do any degree of sp

[2021-01-20 23:26] Isurwars commented on #2976
An initial correction to invalid arguments as well as invalid position of atoms in the input file has been submited to the testing branch (https://github.com/Isurwars/Correlation/tree/Testing).

[code]
[code]

How should i proceed?

Thanks for the feedback PhD. Sebastian Ehlert  (@awvwgk).

[2021-01-21 00:42] majensen commented on #2880
@vahid-sb checking in - how are thing going?

[2021-01-21 01:32] ryokbys commented on #2768
Thanks to all who are involved to the reviewing and publishing process of this paper under such a difficult situation, I really appreciate it.

[2021-01-21 01:34] whedon commented on #2945
:wave: @FreddieWitherden, please update us on how your review is going.

[2021-01-21 01:34] whedon commented on #2945
:wave: @thelfer, please update us on how your review is going.

[2021-01-21 01:34] whedon commented on #2945
:wave: @pbauman, please update us on how your review is going.

[2021-01-21 05:37] dpsanders commented on #2881
@whedon add @JanCBrammer as reviewer

[2021-01-21 05:37] whedon commented on #2881
OK, @JanCBrammer is now a reviewer

[2021-01-21 05:37] dpsanders commented on #2881
@whedon add @EtienneCmb as reviewer

[2021-01-21 05:38] whedon commented on #2881
OK, @EtienneCmb is now a reviewer

[2021-01-21 05:38] dpsanders commented on #2881
@whedon add @neurofractal as reviewer

[2021-01-21 05:38] whedon commented on #2881
OK, @neurofractal is now a reviewer

[2021-01-21 05:38] dpsanders commented on #2881
@whedon start review

[2021-01-21 05:38] whedon opened #2977 "[REVIEW]: EMD: Empirical Mode Decomposition and Hilbert-Huang Spectral Analyses in Python"
**Submitting author:** @ajquinn (<a href="http://orcid.org/0000-0003-2267-9897">Andrew Quinn</a>)
**Repository:** <a href="https://gitlab.com/emd-dev/emd" target ="_blank">https://gitlab.com/emd-dev/emd</a>
**Version:** 0.4.0
**Editor:** @dpsanders
**Reviewer:** @JanCBrammer, @EtienneCmb, @neurofractal
**Archive:** <a href="https://doi.org/10.5281/zenodo.4647949" target="_blank">10.5281/zenodo.464

[2021-01-21 05:38] whedon commented on #2881
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2977.

[2021-01-21 05:38] #2881 closed

[2021-01-21 05:38] whedon commented on #2977
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JanCBrammer, @EtienneCmb, @neurofractal it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our

[2021-01-21 05:38] whedon commented on #2977
PDF failed to compile for issue #2977 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:72:in `block in build_affiliation_string': Problem with affiliations for Anna Nobre, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon/author.rb:71:in `each'
	f

[2021-01-21 05:38] whedon commented on #2977
[code]

[2021-01-21 05:40] dpsanders commented on #2881
👋 @JanCBrammer, @EtienneCmb and @neurofractal: Thank you very much for agreeing to review this submission.

Please follow your personalised checklist in the review issue that has just been opened.

The JOSS submission guidelines are [here](https://joss.readthedocs.io/en/latest/submitting.html), and the reviewer guidelines are [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2021-01-21 05:42] dpsanders commented on #2809
:wave @robfalck: Just checking in to see what the status of your manuscript is. Have the comments of the reviewers been incorporated? Thanks!

[2021-01-21 05:57] tliu68 commented on #2921
@whedon commands

[2021-01-21 05:57] whedon commented on #2921
Here are some things you can ask me to do:

[code]

[2021-01-21 06:36] tliu68 commented on #2921
@whedon generate pdf

[2021-01-21 06:36] tliu68 commented on #2921
@whedon check references

[2021-01-21 06:37] whedon commented on #2921
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02921/joss.02921/10.21105.joss.02921.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02921/joss.02921/10.21105.joss.02921.pdf) :page_facing_up: :point_left:

[2021-01-21 06:38] whedon commented on #2921
[code]

[2021-01-21 06:47] tliu68 commented on #2921
@whedon generate pdf

[2021-01-21 06:47] tliu68 commented on #2921
@whedon check references

[2021-01-21 06:48] whedon commented on #2921
[code]

[2021-01-21 06:48] whedon commented on #2921
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02921/joss.02921/10.21105.joss.02921.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02921/joss.02921/10.21105.joss.02921.pdf) :page_facing_up: :point_left:

[2021-01-21 06:52] tliu68 commented on #2921
@whedon check references

[2021-01-21 06:52] whedon commented on #2921
[code]

[2021-01-21 07:00] tliu68 commented on #2921
@kthyng Hello! Our main code is in

[code]

I ran `cloc` for those files and got

[2021-01-21 07:04] ayush-1506 commented on #2972
Made changes to the paper, summarizing the same here:

### Objective:
The aim of the project is to solve the problem of efficiently detecting anomalous logs slices from large set of logs (This can include sparse logs such as Linux Syslogs RFC3164/RFC5424 format or very dense logs such as those generated from Spark jobs). We introduce a novel approach towards solving this problem. Expanding on the

[2021-01-21 07:26] ClaudioZandonella commented on #2810
Dear @cMadan I just want to be sure that everything is fine with the review or if there is something I can do to help

[2021-01-21 09:07] fduchatea commented on #2805
We have merged into the master branch.
We are still correcting a few bugs, but it is possible to load and predict for another dataset.
The README has been updated to reflect these changes.

[2021-01-21 09:13] Kevin-Mattheus-Moerman commented on #2950
Thanks @wimvanderbauwhede that's great. We are hearing this from a lot of editors and reviewers at the moment so this is totally understandable. We usually aim for a 2 week review time but we can and have been very flexible especially in these challenging times. I'd say we will start the review within a week and the review will likely be ongoing for about 1-2 months (given peoples current time con

[2021-01-21 09:14] Kevin-Mattheus-Moerman commented on #2950
@leifdenby @jakubfabian @crshapiro @tonyinme @claireverhulst @JuhaTonttila @fjansson would you be interested in reviewing this work for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/): uDALES: large-eddy-simulation software for urban flow, dispersion, and microclimate modelling?

The JOSS [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) takes p

[2021-01-21 11:00] AJQuinn commented on #2977
Hello - thanks all for your time!

I have the latest version of the paper in a branch for the moment, I think this is causing the whedon error above...

@whedon generate pdf from branch 33-joss-revisions

[2021-01-21 11:02] AJQuinn commented on #2977
@whedon generate pdf from branch 33-joss-revisions

[2021-01-21 11:02] whedon commented on #2977
[code]

[2021-01-21 11:02] whedon commented on #2977
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02977/joss.02977/10.21105.joss.02977.pdf) :page_facing_up: :point_left:

[2021-01-21 13:00] wuruchi commented on #2924
Hello @kthyng

Hello @kthyng. That is great news!

[2021-01-21 13:05] jennahamlin commented on #2956
@Kevin-Mattheus-Moerman - We are still crafting the statement of need. Apologies for not having it available by yesterday but know that we are working on this. Once available, I will post it here.

[2021-01-21 13:39] crshapiro commented on #2950
Thank you for inviting me to review software for this innovative journal. Unfortunately, I don't have the time to commit to being a reviewer for something like this.

[2021-01-21 14:11] jgoldfar commented on #2769
I will complete my review (and the checklist above - unable to update on mobile) by Friday. Thanks for the reminder!

[2021-01-21 14:22] cMadan commented on #2810
@ClaudioZandonella, apologies for the delay. It's been a busy time for me with exam marking/other responsibilities, but I'll try and get this wrapped up over the next few days.

[2021-01-21 14:46] KristinaRiemer commented on #2966
@Kevin-Mattheus-Moerman I'm not going to be able to edit this submission, sorry.

[2021-01-21 15:02] ClaudioZandonella commented on #2810
@cMadan perfect thanks! I was just worried there might be some problems. Absolutely no rush, I know that unfortunately, these are difficult and busy times and indeed, thanks for the time you have already dedicated to our work.

[2021-01-21 15:19] dfm commented on #2845
:wave: @afeinstein20 and @mrtommyb: I wanted to check in with you both to see how your reviews are going. Let me know if you have any questions or issues. Thanks for your work on this so far!!

[2021-01-21 16:19] mscroggs commented on #2879
@whedon generate pdf

[2021-01-21 16:20] whedon commented on #2879
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02879/joss.02879/10.21105.joss.02879.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02879/joss.02879/10.21105.joss.02879.pdf) :page_facing_up: :point_left:

[2021-01-21 16:22] mscroggs commented on #2879
I've updated the paper following the reviewer comments. Notes on changes made can be found in this issue: https://github.com/bempp/bempp-cl/issues/94

[2021-01-21 16:44] jgostick commented on #2976
@whedon add @CFGrote as reviewer

[2021-01-21 16:44] whedon commented on #2976
OK, @CFGrote is now a reviewer

[2021-01-21 16:53] xie186 commented on #2864
I confirmed that my comments were addressed adequately. I also ticked the last boxes in the checklist above.

[2021-01-21 18:36] vlandau commented on #2829
@melissawm Okay, they said to go with JuliaCon Proceedings. Thanks for flagging that! I just fixed the reference in the paper.bib file.

[2021-01-21 18:37] vlandau commented on #2829
@whedon generate pdf

[2021-01-21 18:39] whedon commented on #2829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: :point_left:

[2021-01-21 18:45] lpantano commented on #2957
@whedon add @rspirgel as reviewer

[2021-01-21 18:45] whedon commented on #2957
OK, @rspirgel is now a reviewer

[2021-01-21 18:54] eloisabentivegna commented on #2947
@whedon add @rhaas80 as reviewer

[2021-01-21 18:54] balhoff commented on #2934
@majensen apologies, I'm not able to do it right now. Keep me in consideration for future submissions though.

[2021-01-21 18:54] whedon commented on #2947
OK, @rhaas80 is now a reviewer

[2021-01-21 18:57] eloisabentivegna commented on #2947
@whedon start review

[2021-01-21 18:57] whedon opened #2978 "[REVIEW]: Coral: a parallel spectral solver for fluid dynamics and partial differential equations"
**Submitting author:** @benmql (<a href="http://orcid.org/0000-0001-6283-0382">BENJAMIN MIQUEL</a>)
**Repository:** <a href="https://github.com/BenMql/coral" target ="_blank">https://github.com/BenMql/coral</a>
**Version:** v1.1.12
**Editor:** @eloisabentivegna
**Reviewer:** @robertsawko, @rhaas80
**Archive:** <a href="https://doi.org/10.5281/zenodo.5458888" target="_blank">10.5281/zenodo.5458888<

[2021-01-21 18:57] whedon commented on #2947
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2978.

[2021-01-21 18:57] #2947 closed

[2021-01-21 18:57] whedon commented on #2978
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @robertsawko, @rhaas80 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2021-01-21 18:58] whedon commented on #2978
[code]

[2021-01-21 18:58] whedon commented on #2978
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02978/joss.02978/10.21105.joss.02978.pdf) :page_facing_up: :point_left:

[2021-01-21 19:17] majensen commented on #2934
Thanks @balhoff will do

[2021-01-21 23:34] karthik commented on #2944
@whedon assign @karthik as editor

[2021-01-21 23:34] whedon commented on #2944
OK, the editor is @karthik

[2021-01-22 00:13] majensen commented on #2913
Hello @nnadeau -- would you have some time to review [this work](#2913) for [JOSS](https://joss.theoj.org)? It would be great to have your MATLAB expertise. Please let me know in this thread or via maj -dot- fortinbras -at- gmail -dot- com. Thanks for your consideration! -- @majensen

[2021-01-22 00:20] majensen commented on #2913
Hola @jsgalan - would you be willing to review [this work](#2913) for [JOSS](https://joss.theoj.org)? Hope to tap into your MATLAB expertise. Please let me know in this thread or at maj -dot- fortinbras -at- gmail -dot- com. I appreciate your consideration! --@majensen

[2021-01-22 01:16] Mmj94 commented on #2578
Hi @emilljungberg,

This is an update just to let you know that I'm working on implementing the changes you proposed to the paper's simulations.
Specifically:

1. **Single-shot spiral and EPI** trajectories for off-resonance ranges of &pm;100, 150, and 200 Hz.
2. Try including some results from correction of **stack-of-spirals or 3D multi-slice spiral** sequences. Note that the results I mentioned

[2021-01-22 02:16] lzkelley commented on #2784
Thanks for the corrections @arfon, I've created the release v1.0.0 and associated [zenodo DOI: 10.5281/zenodo.4456130
](https://zenodo.org/record/4456130).  I fixed another typo, and couple of grammatical issues in the draft.

[2021-01-22 05:26] laijingtao commented on #2965
Hi Katy @kbarnhart, it seems that I can't click the checkbox and my names is not listed as one of the assignees. Also, I clicked the link for accepting invitation but it said that it could find the invitation. This is my first time reviewing for joss. Could you help me figure out what could be wrong?

[2021-01-22 06:17] r-barnes commented on #2878
For whatever reason, I'm unable to see the `LICENSE` file. However, CRAN can be a bear to work with and I see the license info in the `DESCRIPTION` file that CRAN uses, so I feel myself satisfied.

[2021-01-22 06:25] oliviaguest commented on #2953
@whedon assign @oliviaguest as editor

[2021-01-22 06:25] whedon commented on #2953
OK, the editor is @oliviaguest

[2021-01-22 06:26] oliviaguest commented on #2953
@kthyng sure, no problem.

@sdparsons can you drop some names of potential reviewers, please?

[2021-01-22 06:37] r-barnes commented on #2878
Sorry I'm so behind on this!

I've just finished looking through the repo. In general, things look pretty good. I've opened a few issues, as above. I reiterate the main points below:

1. Installation did not complete for me. It looks like some dependencies are not on CRAN and I didn't immediately see instructions for overcoming this.
2. This isn't my field, so I don't have appropriate input data a

[2021-01-22 07:12] r-barnes commented on #2575
I've finished my review, per the above.

I think the biggest issue is that I'm left confused about whether Dyco is a tool I use kind of from the command-line or a library I use from within Python.

It looks as though Dyco produces a number of output directories and files, even if it's run from within Python. I think that's weird. Running commands from within a programming language should (mostly)

[2021-01-22 07:14] r-barnes commented on #2896
@kbarnhart : I appreciate your choice of the alternate reviewer here. I should be more free to look at things again in a month or so. I hope your 2021 is off to a good start!

[2021-01-22 08:24] whedon commented on #2946
:wave: @gcdeshpande, please update us on how your review is going.

[2021-01-22 08:30] arfon commented on #2784
@whedon set 10.5281/zenodo.4456130 as archive

[2021-01-22 08:30] whedon commented on #2784
OK. <a href="https://doi.org/10.5281/zenodo.4456130" target="_blank">10.5281/zenodo.4456130</a> is the archive.

[2021-01-22 08:31] arfon commented on #2784
@whedon accept

[2021-01-22 08:31] whedon commented on #2784
[code]

[2021-01-22 08:33] whedon commented on #2784
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2040

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2040, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-22 08:33] whedon commented on #2784
[code]

[2021-01-22 08:34] arfon commented on #2784
@whedon accept deposit=true

[2021-01-22 08:34] whedon commented on #2784
[code]

[2021-01-22 08:36] whedon commented on #2784
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1352535545654738946) 👈 🐦🐦🐦

[2021-01-22 08:36] whedon commented on #2784
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2041
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02784](https://doi.org/10.21105/joss.02784)
2. If everything looks g

[2021-01-22 08:39] ranocha commented on #2954
Thanks for creating this nice package, @michakraus. The brief summary looks very interesting to me. If the package satisfies the expectations generated there, it will be a nice contribution to the community. Please find below some first comments after looking at the README and the  manuscript. I'm looking forward to reading the documentation and trying out your package.

- Based on the commit hist

[2021-01-22 08:50] csoneson commented on #2864
Thanks @xie186!
@damienmarsic - I will take a quick look at the submission as well, and get back to you shortly with the next steps forward.

[2021-01-22 08:51] csoneson commented on #2864
@whedon generate pdf

[2021-01-22 08:51] whedon commented on #2864
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02864/joss.02864/10.21105.joss.02864.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02864/joss.02864/10.21105.joss.02864.pdf) :page_facing_up: :point_left:

[2021-01-22 08:52] csoneson commented on #2864
@whedon check references

[2021-01-22 08:52] whedon commented on #2864
[code]

[2021-01-22 09:01] arfon commented on #2784
@williamjameshandley, @kexinrong - many thanks for your reviews here. JOSS relies upon the volunteer efforts of people like you - we simply wouldn't be able to do this without you! ✨

@lzkelley - your paper is now accepted and published in JOSS :zap::rocket::boom:

[2021-01-22 09:01] #2784 closed

[2021-01-22 09:01] whedon commented on #2784
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02784/status.svg)](https://doi.org/10.21105/joss.02784)

**We need your help!**

Journal of Open Source Softwa

[2021-01-22 10:37] michakraus commented on #2954
Thanks for the nice words and the great suggestions! Except for the test of the README example I have implemented all of them. The SPARK reference should have hit the arXiv by now, but there were some delays. Should be online within the next one or two weeks, though. I will add the missing details to the reference asap.

Tom Tyranowski has implemented the first version of stochastic integrators. W

[2021-01-22 10:37] sdparsons commented on #2953
@oliviaguest happy to. Is it ok to post them here as well as email addresses, or better to message separately?

[2021-01-22 11:16] mikldk commented on #2878
Thanks for the progress, @r-barnes . @sebkopf , please update us here when you have addressed the comments/issues put forward by @r-barnes .

[2021-01-22 12:45] nnadeau commented on #2913
@majensen I no longer have access to a MATLAB instance, but if @somefunAgba can confirm it's compatible with Octave, then I can give it a proper review

[2021-01-22 13:10] markusrobertjonsson commented on #2891
@CatarauCorina Thanks for reviewing! Below are my comments to the issues you raised.
- Regarding the Plot/Export Progress: We have noticed a few window-related problems on Mac. This seems to be yet another one. The Progress dialog box just displays the progress bar and does not affect the functionality. I have now disabled it on Mac, and made an issue to look into this. To help with the debugging:

[2021-01-22 13:26] prdm0 commented on #2769
I received @pratikvn reviews on the PROBLEM of the ropenblas project <https://github.com/prdm0/ropenblas/issues/21>. @jgoldfar will also send in the same way or will something here also be sent?

[2021-01-22 13:40] danielskatz commented on #2962
Hi @yarongvili1 - sorry for the delay...

Thanks on the documentation - let's see what the reviewers think.

[2021-01-22 13:45] danielskatz commented on #2962
👋 @gcdeshpande, @trp07, @ceb8, @brnikat, @olade014 - would two of you be willing to review this submission for JOSS?

[2021-01-22 13:46] danielskatz commented on #2282
@jcolomb - since it's been two weeks without an update, I'm checking in

[2021-01-22 13:50] csoneson commented on #2864
@damienmarsic - this looks all good. The next steps are as follows:

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the software in Zenodo or a similar service
- [ ] Check that the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author list (should match that

[2021-01-22 14:04] csoneson commented on #2440
@neuromusic - please let us know how this is progressing. It looks like we are pretty close to the finishing line, but at this point I would like to ask for a timeline of when you expect to be able to address the remaining comments, or whether there are issues that need to be discussed.

[2021-01-22 14:20] majensen commented on #2913
Thank you @nnadeau  -- @somefunAgba is your code Octave-compatible?

[2021-01-22 14:24] majensen commented on #2934
@bensonml - since the other review seems indefinitely paused, would you be willing to take [this database work](#2934) on as a reviewer? Thanks for considering!

[2021-01-22 14:46] tpoisot commented on #2872
Hi @KristinaRiemer @gabrieldansereau - is there something we can do to help with the next step?

[2021-01-22 14:47] tpoisot commented on #2721
Hi @KristinaRiemer @kellykochanski  - is there something we can do to help with the next steps?

[2021-01-22 14:53] KristinaRiemer commented on #2872
Thanks for checking in @tpoisot. It looks like @gabrieldansereau has addressed all of the reviewer comments, so we just need final confirmation from @marcjwilliams1 and @dglmoore that they are satisfied with this submission.

[2021-01-22 14:57] bensonml commented on #2934
@majensen sure!

[2021-01-22 15:00] majensen commented on #2934
@whedon add @bensonml as reviewer

[2021-01-22 15:00] whedon commented on #2934
OK, @bensonml is now a reviewer

[2021-01-22 15:01] majensen commented on #2934
@whedon start review

[2021-01-22 15:01] whedon opened #2979 "[REVIEW]: minimo: a linked data and metadata storage system for small labs"
**Submitting author:** @borchardt (<a href="http://orcid.org/0000-0001-9033-6365">Jackson Borchardt</a>)
**Repository:** <a href="https://github.com/focolab/minimo.git" target ="_blank">https://github.com/focolab/minimo.git</a>
**Version:** 44b306957691505bc4f95cdb0721c7e1b03a9e7d
**Editor:** @majensen
**Reviewers:** @junjun-zhang, @bensonml, @junjun-zhang
**Archive:** <a href="https://doi.org/10.

[2021-01-22 15:01] whedon commented on #2934
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2979.

[2021-01-22 15:01] #2934 closed

[2021-01-22 15:01] whedon commented on #2979
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @junjun-zhang, @bensonml it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2021-01-22 15:02] KristinaRiemer commented on #2721
Thanks for following up @tpoisot. I pinged @kellykochanski via email to check in on the status of their review.

[2021-01-22 15:02] whedon commented on #2979
PDF failed to compile for issue #2979 with the following error:

 Can't find any papers to compile :-(

[2021-01-22 15:06] ranocha commented on #2954
This is good work, @michakraus, and a nice contribution to the open source ecosystem. Here are some additional comments.

- [ ] As stated in the manuscript, the package "is designed to minimize overhead and maximize performance". However, there seem to be some caveats. For example, only LU decomposition seems to be implemented as linear solver, limiting the size of problems that can be solved. Hen

[2021-01-22 15:08] KristinaRiemer commented on #2575
Thank you @mccabete and @r-barnes for adding specific comments as issues to the software's repo, hopefully @holukas will have a chance to address all of them soon.

[2021-01-22 15:08] hugoledoux commented on #2690
@whedon set  10.5281/zenodo.4451474 as archive

[2021-01-22 15:08] whedon commented on #2690
OK. <a href="https://doi.org/10.5281/zenodo.4451474" target="_blank">10.5281/zenodo.4451474</a> is the archive.

[2021-01-22 15:08] hugoledoux commented on #2690
@whedon set v1.0.0 as version

[2021-01-22 15:09] whedon commented on #2690
OK. v1.0.0 is the version.

[2021-01-22 15:09] hugoledoux commented on #2690
@whedon accept

[2021-01-22 15:09] whedon commented on #2690
[code]

[2021-01-22 15:10] whedon commented on #2690
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2042

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2042, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-22 15:15] jcolomb commented on #2282
thanks, I nearly finished offline, still need to do a couple of  last checks and then next push should do it !

[2021-01-22 15:28] kbarnhart commented on #2965
@whedon re-invite @laijingtao as reviewer

[2021-01-22 15:28] whedon commented on #2965
OK, the reviewer has been re-invited.

@laijingtao please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-22 15:29] kbarnhart commented on #2965
@laijingtao it should work after you click the above link. If it doesn't let me know.

[2021-01-22 15:30] kbarnhart commented on #2896
Thanks @r-barnes, same to you!

[2021-01-22 15:50] robfalck commented on #2809
@dpsanders Yes I think my commits from 15 days ago take into account their comments.

[2021-01-22 15:54] lzkelley commented on #2784
@williamjameshandley @kexinrong @arfon thank you all for all of your time and extremely useful help in getting this together!

[2021-01-22 15:54] kthyng commented on #2920
@dfm would you be able to edit this submission?

[2021-01-22 15:54] kthyng commented on #2920
@whedon invite @dfm as editor

[2021-01-22 15:54] whedon commented on #2920
@dfm has been invited to edit this submission.

[2021-01-22 15:56] dfm commented on #2920
Sure - I'm happy to edit!

[2021-01-22 15:57] dfm commented on #2920
@whedon assign @dfm as editor

[2021-01-22 15:57] whedon commented on #2920
OK, the editor is @dfm

[2021-01-22 15:57] kthyng commented on #2966
@whedon invite @sbenthall as editor

[2021-01-22 15:57] whedon commented on #2966
@sbenthall has been invited to edit this submission.

[2021-01-22 15:59] kthyng commented on #2921
@tliu68 Thank you that is really helpful. Now that it is clear what is exactly under consideration, I am going to send this for a scope check with the editorial board since the lines of code being about 1000 is borderline for size. We'll get back to you within a week or two about the outcome. Thanks!

[2021-01-22 15:59] kthyng commented on #2921
@whedon query scope

[2021-01-22 16:00] whedon commented on #2921
Submission flagged for editorial review.

[2021-01-22 16:08] kthyng commented on #2967
Hi @vasily-pavelko and thanks for your submission. Unfortunately it has been determined by the editorial board to be too small in scope to pass our bar for [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort). Please note that there are [other pathways](https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and

[2021-01-22 16:09] kthyng commented on #2967
@whedon reject

[2021-01-22 16:09] whedon commented on #2967
Paper rejected.

[2021-01-22 16:09] #2967 closed

[2021-01-22 16:22] kthyng commented on #2963
Hi @jsoishi, thanks for your response. The editorial board recommends moving forward to review on this submission. One additional note to leave you with was that the software could be more useful if it supported models defined outside of Dedalus (similar to how scipy.integrate is general-purpose).

[2021-01-22 16:23] somefunAgba commented on #2913
@nnadeau @majensen
I have not tested it with Octave. It was all implemented in MATLAB2020a. However, I doubt Octave supports Matlab's problem-based optimization workflow which I heavily used in the current version of my code.

[2021-01-22 16:24] kthyng commented on #2963
@dpsanders could you edit this submission?

[2021-01-22 16:24] kthyng commented on #2963
@whedon invite @dpsanders as editor

[2021-01-22 16:25] whedon commented on #2963
@dpsanders has been invited to edit this submission.

[2021-01-22 16:25] whedon opened #2980 "[PRE REVIEW]: KALMUS: tools for color analysis of films"
**Submitting author:** @yc015 (<a href="http://orcid.org/0000-0002-4018-6095">Yida Chen</a>)
**Repository:** <a href="https://github.com/KALMUS-Color-Toolkit/KALMUS" target ="_blank">https://github.com/KALMUS-Color-Toolkit/KALMUS</a>
**Version:** v.1.3.5
**Editor:** @gkthiruvathukal
**Reviewers:** @thomakra, @elektrobohemian
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :w

[2021-01-22 16:25] whedon commented on #2980
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-22 16:26] whedon opened #2981 "[PRE REVIEW]: CLAIRE: Constrained Large Deformation Diffeomorphic Image Registration on Parallel Computing Architectures"
**Submitting author:** @andreasmang (<a href="http://orcid.org/0000-0003-4605-3290">Andreas Mang</a>)
**Repository:** <a href="https://github.com/andreasmang/claire" target ="_blank">https://github.com/andreasmang/claire</a>
**Version:** v0.07
**Editor:** @mjsottile
**Reviewers:** @tjasaki, @NMontanaBrown
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to th

[2021-01-22 16:26] whedon commented on #2981
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-22 16:26] whedon opened #2982 "[PRE REVIEW]: contagion: A Python package for node immunization and stochastic epidemic simulation on networks"
**Submitting author:** @lucasmccabe (<a href="http://orcid.org/0000-0001-7822-028X">Lucas McCabe</a>)
**Repository:** <a href="https://github.com/lucasmccabe/contagion.git" target ="_blank">https://github.com/lucasmccabe/contagion.git</a>
**Version:** v1.3.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the chal

[2021-01-22 16:26] whedon commented on #2982
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-22 16:26] whedon opened #2983 "[PRE REVIEW]: UltraNest - a robust, general purpose Bayesian inference engine"
**Submitting author:** @JohannesBuchner (<a href="http://orcid.org/0000-0003-0426-6634">Johannes Buchner</a>)
**Repository:** <a href="https://github.com/JohannesBuchner/UltraNest/" target ="_blank">https://github.com/JohannesBuchner/UltraNest/</a>
**Version:** 3.2.0
**Editor:** @fboehm
**Reviewers:** @mattpitkin, @ziatdinovmax
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode

[2021-01-22 16:26] whedon commented on #2983
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-22 16:27] whedon commented on #2980
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02980/joss.02980/10.21105.joss.02980.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02980/joss.02980/10.21105.joss.02980.pdf) :page_facing_up: :point_left:

[2021-01-22 16:28] whedon commented on #2980
[code]

[2021-01-22 16:28] whedon commented on #2981
[code]

[2021-01-22 16:29] whedon commented on #2982
[code]

[2021-01-22 16:29] whedon commented on #2981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02981/joss.02981/10.21105.joss.02981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02981/joss.02981/10.21105.joss.02981.pdf) :page_facing_up: :point_left:

[2021-01-22 16:30] whedon commented on #2982
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02982/joss.02982/10.21105.joss.02982.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02982/joss.02982/10.21105.joss.02982.pdf) :page_facing_up: :point_left:

[2021-01-22 16:30] whedon commented on #2982
[code]

[2021-01-22 16:31] kthyng commented on #2920
thanks @dfm!!

[2021-01-22 16:32] whedon commented on #2983
[code]

[2021-01-22 16:32] whedon commented on #2983
PDF failed to compile for issue #2983 with the following error:

 Can't find any papers to compile :-(

[2021-01-22 16:34] michakraus commented on #2954
Thanks a lot @ranocha for the thorough review. Working through your comments will improve the package and especially the documentation quite a bit. I will try to fix everything within next week, including the split of stochastic integrators. Let me comment on a few points right away, the rest I will just fix:

Nightly builds are already allowed to fail without showing that CI failed. The Badge iss

[2021-01-22 16:43] kthyng commented on #2981
@poulson would you be able to edit this submission?

[2021-01-22 16:44] kthyng commented on #2981
@whedon invite @poulson as editor

[2021-01-22 16:44] whedon commented on #2981
@poulson has been invited to edit this submission.

[2021-01-22 16:45] kthyng commented on #2981
@andreasmang please look through your paper as it is shown above and correct the references. Many have parentheses when they should not.

[2021-01-22 16:45] kthyng commented on #2982
@whedon query scope

[2021-01-22 16:45] whedon commented on #2982
Submission flagged for editorial review.

[2021-01-22 16:46] kthyng commented on #2982
Hi @lucasmccabe! I have triggered an editorial board check on your submission because the size is borderline for being in scope. This should take a week or two. Thanks.

[2021-01-22 16:47] kthyng commented on #2983
@whedon generate pdf from joss-paper

[2021-01-22 16:47] kthyng commented on #2983
@whedon generate pdf from branch joss-paper

[2021-01-22 16:47] whedon commented on #2983
[code]

[2021-01-22 16:47] whedon commented on #2983
PDF failed to compile for issue #2983 with the following error:

 Can't find any papers to compile :-(

[2021-01-22 16:48] whedon commented on #2983
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02983/joss.02983/10.21105.joss.02983.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02983/joss.02983/10.21105.joss.02983.pdf) :page_facing_up: :point_left:

[2021-01-22 16:49] kthyng commented on #2953
@oliviaguest Thank you!!

[2021-01-22 16:56] kthyng commented on #2983
@fboehm would this fall under your statistical background?

[2021-01-22 16:57] kthyng commented on #2983
@whedon invite @fboehm as editor

[2021-01-22 16:57] whedon commented on #2983
@fboehm has been invited to edit this submission.

[2021-01-22 17:00] marcjwilliams1 commented on #2872
All good with me, can confirm I'm satisfied with this submission.

[2021-01-22 17:01] lskatz commented on #2334
@erinyoung is that okay if we initiate this with you?  We have your contact information and can work with you outside of this thread.

[2021-01-22 17:07] erinyoung commented on #2334
I don't know when I'll be able to schedule a time. I'll try the
non-container installation to see if that helps.

On Fri, Jan 22, 2021 at 10:01 AM Lee Katz <notifications@github.com> wrote:

--
Always,

Erin
erin.olde@gmail.com

[2021-01-22 17:26] gaelforget commented on #2813
Hi @kthyng

Am working on it now and hope to be done early next week.

As you saw, I had closed the other, also very helpful, issues raised by @milankl and @visr in Dec. Sorry for the long break afterwards. I resumed with a bit of cleanup on the code and docs (https://github.com/JuliaClimate/IndividualDisplacements.jl/pull/52) which should help close https://github.com/JuliaClimate/IndividualDispl

[2021-01-22 17:27] lpantano commented on #2334
Thanks @erinyoung, I totally understand. Is that the last comment? because if it is, i will try to find help to see if anybody else has this issue and if it is like that, work to fix it so it doesn't need to go through you. let me know.thanks!

[2021-01-22 17:29] kthyng commented on #2980
@whedon assign @gkthiruvathukal as editor

[2021-01-22 17:30] whedon commented on #2980
OK, the editor is @gkthiruvathukal

[2021-01-22 17:30] kthyng commented on #2980
(@gkthiruvathukal having already agreed elsewhere!)

[2021-01-22 17:35] kthyng commented on #2813
@gaelforget Sounds perfect! Thanks for the update.

[2021-01-22 17:40] kthyng commented on #2983
@JohannesBuchner Your paper is too long. Please check out our [paper requirements](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain) and trim yours down where possible.

[2021-01-22 17:52] jordanperr commented on #2171
@whedon generate pdf from branch joss-review

[2021-01-22 17:52] whedon commented on #2171
[code]

[2021-01-22 17:53] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2021-01-22 17:59] kthyng commented on #2690
Hi @sebhaan I edited your paper. See if you agree with the changes in the [PR](https://github.com/sebhaan/geobo/pull/2) and merge if so.

Also, it looks like at least some words that should be capitalized in your references are not capitalized. For example, Bayesian in Brochu et al and Gaussian in Melkumyan et al. Please go through all references in detail to fix these. You can add {} around words

[2021-01-22 18:05] jordanperr commented on #2171
@whedon generate pdf from branch joss-review

[2021-01-22 18:05] whedon commented on #2171
[code]

[2021-01-22 18:07] whedon commented on #2171
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02171/joss.02171/10.21105.joss.02171.pdf) :page_facing_up: :point_left:

[2021-01-22 18:13] jordanperr commented on #2171
@brynpickering,

Thank you for the in depth review. We have performed many of the requests you have made. Please review the latest version of the PDF preview from whedon. In particular:

Code:
-	Requirements files were split into examples/requirements.txt and requirements.txt and updated to include all packages required to run the examples.
-	Maximum python version is now 3.8 while we wait for Sha

[2021-01-22 18:19] lpantano commented on #2334
I can help with debugging as well. can you try this @erinyoung :

I am assuming you can write in the folder you are running the command, I tried this one in my home directory, and I have a folder `fastq` in the same place you are running the command. Notice the path in the command in docker starts with `/data/`, that would be the same folder as where you are running the command because of this: `$

[2021-01-22 18:31] dglmoore commented on #2872
I am satisfied with the submission.

[2021-01-22 18:34] galessiorob commented on #2805
Thank you @fduchatea

@jdalzatec, @omshinde, @nuest, @martinfleis please resume your reviews at your earliest convenience 🙏
Let me know if there's anything I can help with.

[2021-01-22 18:40] kthyng commented on #2972
@ayush-1506 Thank you! someone from the editorial board will get back to you after a week or two.

[2021-01-22 18:50] sbenthall commented on #2855
Good news. I've got the install working. Sorry about that.

Now I'm trying to test the library.
Tiny snag: downloading the demo data and putting it in the right place so that the .cfg files can find it requires a little trial and error for me at the moment.

Certainly not a dealbreaker but some scripting around that would be nice.

I'll continue my review over the weekend -- it should be done by M

[2021-01-22 19:38] JannisHoch commented on #2855
great to hear - i am curious, what exactly was the problem?

so the 'download_example_data.sh' does not what it's supposed to do? guess i'll here that from you soon.
but to not slow down the review process, i could also send you the example data via mail?

looking forward to the remaining review!

[2021-01-22 20:10] whedon commented on #2948
:wave: @mikerspencer, please update us on how your review is going.

[2021-01-22 20:10] whedon commented on #2948
:wave: @adamhsparks, please update us on how your review is going.

[2021-01-22 20:18] kbarnhart commented on #2948
@mikerspencer and @adamhsparks, we have an automatic reminder two weeks into the review. Feel free to provide an update if you have one. And if you have any issues as you work on your reviews, please let me know. Sometimes reviewers have permissions issues with being able to check the checkboxes, if that comes up for you, just let me know and I should be able to fix it.

[2021-01-22 20:46] sbenthall commented on #2855
oh! I didn't see this. It is not mentioned in the README --- it just says the data is on Zenodo. So I fetched it by hand...

[2021-01-22 21:11] dpsanders commented on #2963
@kthyng Sure, happy to.

[2021-01-22 21:11] dpsanders commented on #2963
@whedon add @dpsanders as editor

[2021-01-22 21:11] whedon commented on #2963
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-22 21:14] dpsanders commented on #2963
@whedon commands

[2021-01-22 21:14] whedon commented on #2963
Here are some things you can ask me to do:

[code]

[2021-01-22 21:14] dpsanders commented on #2963
@whedon assign @dpsanders as editor

[2021-01-22 21:14] whedon commented on #2963
OK, the editor is @dpsanders

[2021-01-22 21:24] dpsanders commented on #2809
@whedon generate pdf

[2021-01-22 21:25] whedon commented on #2809
PDF failed to compile for issue #2809 with the following error:

 Error producing PDF.
! LaTeX Error: File `setspace.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.328 ^^M

Looks like we failed to compile the PDF

[2021-01-22 21:25] dpsanders commented on #2809
@robfalck: There's a problem with the PDF compilation^

[2021-01-22 21:26] dpsanders commented on #2809
(Note that you can check this using https://whedon.theoj.org/)

[2021-01-22 21:27] robfalck commented on #2809
Hmm I'll check that, thanks.

[2021-01-22 21:32] dpsanders commented on #2963
👋 @jsoishi: Thanks for submitting your work to JOSS!

My first initial observations:
- I don't see any narrative documentation at all that explains how to use the package.
- As far as I can tell from the README, `eigentools` requires `dedalus` to be installed. In that case, `pip install eigentools` should automatically install `dedalus`.
- Could you please address @kthyng's comment that the packag

[2021-01-22 21:46] jennahamlin commented on #2956
Below I provide the statement of need and update the manuscript to also include the statement.

**Statement of Need**

Public health genomic surveillance is a young and rapidly evolving field that exists at the intersection of genomics and epidemiology. Phylogenetic trees showing ​bacterial isolates' relatedness with annotated epidemiologic data are critical for identifying potential outbreaks. Ne

[2021-01-22 21:53] robfalck commented on #2809
It's very odd, we've been using the github action to compile the paper and it's been fine (including rebuilding it a few times today).  Are there ever issues with whedon?

[2021-01-22 21:57] jennahamlin commented on #2956
@whedon generate pdf from branch manuscript

[2021-01-22 21:57] whedon commented on #2956
[code]

[2021-01-22 21:57] whedon commented on #2956
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02956/joss.02956/10.21105.joss.02956.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02956/joss.02956/10.21105.joss.02956.pdf) :page_facing_up: :point_left:

[2021-01-22 22:03] dpsanders commented on #2809
There are definitely sometimes issues with Whedon, yes. Maybe we can try again in a while, and otherwise I'll draw somebody's attention to it. Thanks!

[2021-01-22 22:03] dpsanders commented on #2809
@whedon generate pdf

[2021-01-22 22:03] whedon commented on #2809
PDF failed to compile for issue #2809 with the following error:

 Error producing PDF.
! LaTeX Error: File `setspace.sty' not found.

Type X to quit or <RETURN> to proceed,
or enter new name. (Default extension: sty)

Enter file name:
! Emergency stop.
<read *>

l.328 ^^M

Looks like we failed to compile the PDF

[2021-01-23 00:30] lockepatton commented on #2446
Our edits to the paper itself are now complete! The requested changes to the code documentation will also be finished shortly, and we expect to submit those by Monday.

[2021-01-23 00:30] adamhsparks commented on #2948
I have to admit, I'm a bit slow off the mark here and can't remember what I've actually done. If I check this invitation, https://github.com/openjournals/joss-reviews/invitations GitHub says it's expired. Did I manage to accept before that happened?

[2021-01-23 00:30] lockepatton commented on #2446
@whedon generate pdf

[2021-01-23 00:31] whedon commented on #2446
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02446/joss.02446/10.21105.joss.02446.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02446/joss.02446/10.21105.joss.02446.pdf) :page_facing_up: :point_left:

[2021-01-23 00:39] kbarnhart commented on #2948
@whedon re-invite @adamhsparks  as reviewer

[2021-01-23 00:39] whedon commented on #2948
OK, the reviewer has been re-invited.

@adamhsparks  please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-23 00:39] kbarnhart commented on #2948
This should be a fresh invite link.  Let me know if you have issues with check-boxes after using it.

[2021-01-23 00:41] adamhsparks commented on #2948
Ok, that's great. Now the tick boxes work for me. 🙏

[2021-01-23 00:44] majensen commented on #2979
@whedon generate pdf from branch joss

[2021-01-23 00:44] whedon commented on #2979
[code]

[2021-01-23 00:45] whedon commented on #2979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02979/joss.02979/10.21105.joss.02979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02979/joss.02979/10.21105.joss.02979.pdf) :page_facing_up: :point_left:

[2021-01-23 01:13] sebdalgarno commented on #2848
hi @marcosvital just giving this a little bump. I know we're all busy these days. How much more to do to wrap this up?

[2021-01-23 02:20] majensen commented on #2913
@somefunAgba thanks. It looks as if the problem-based optimization is key to your implementation, and that MATLAB package seems very sophisticated and proprietary -- unlikely that there is an open source implementation as yet (quick search of Octave packages and Github doesn't yield anything promising). @nnadeau - let us know what you think - if you could recommend a reviewer that would also be ve

[2021-01-23 02:21] majensen commented on #2913
@somefunAgba - if you have reviewer recommendations as well, I would be much obliged.

[2021-01-23 07:06] damienmarsic commented on #2864
Here is the Zenodo link:
https://zenodo.org/record/4459006#.YAvKedlFaV4
Version: 1.1.2
DOI: 10.5281/zenodo.4459006

[2021-01-23 07:35] gcdeshpande commented on #2962
@danielskatz I can do it.

[2021-01-23 07:46] gcdeshpande commented on #2946
@whedon I am setting up the system. I was facing the issue with my system. Will try to complete by first week of February.

[2021-01-23 07:46] whedon commented on #2946
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-23 07:55] arfon commented on #2107
👋 @DanNixon @stuartcampbell @cmbiwer, would any of you be willing to provide a second review for this submission to JOSS?

The title of the submission is _"SampleDB: A sample and measurement metadata database"_, which describes a [Python package](https://github.com/sciapp/sampledb) for managing experiments. Quoting from the SampleDB website:

Our request here would be that you review the [software

[2021-01-23 10:48] whedon commented on #2949
:wave: @adi3, please update us on how your review is going.

[2021-01-23 10:48] whedon commented on #2949
:wave: @sara-02, please update us on how your review is going.

[2021-01-23 13:01] alemermartinez commented on #2929
Dear Mikkel,

It seems we cannot replicate the conflict, probably because we had deleted the repeated files in the joss branch by that moment. For this reason, we have updated all flagged files and deleted all conflict markers.
Command "git status" doesn't show any warning or conflict message, not in the master or the joss branch.

If there is still any conflict, I think that the next step will pr

[2021-01-23 13:03] Jammy2211 commented on #2550
Hopefully this is ok - I've added a third author to the paper who made a lot of contributions to the software in the past few months.

[2021-01-23 15:05] fboehm commented on #2983
Yes, @kthyng, this looks like a good fit for me. I'm excited to edit it!

[2021-01-23 15:06] fboehm commented on #2983
@whedon assign @fboehm as editor

[2021-01-23 15:06] whedon commented on #2983
OK, the editor is @fboehm

[2021-01-23 15:08] fboehm commented on #2983
@whedon list reviewers

[2021-01-23 15:08] whedon commented on #2983
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2021-01-23 15:19] yarongvili1 commented on #2962
Here is the [issue for the documentation pages](https://github.com/gvilitechltd/LibSWIFFT/issues/1).

[2021-01-23 16:12] mattpitkin commented on #2983
@fboehm I'm happy to review this.

[2021-01-23 16:15] fboehm commented on #2983
Thank you, @mattpitkin !

[2021-01-23 16:16] fboehm commented on #2983
@whedon assign @mattpitkin as reviewer

[2021-01-23 16:16] whedon commented on #2983
OK, @mattpitkin is now a reviewer

[2021-01-23 16:17] fboehm commented on #2983
@mattpitkin - I'm still finding a second reviewer. Once I do that, we can officially start the review. Thanks again!

[2021-01-23 16:58] stuartcampbell commented on #2107
Yes I'd be happy to help.

[2021-01-23 19:04] arfon commented on #2107
@whedon re-invite @stuartcampbell as reviewer

[2021-01-23 19:04] whedon commented on #2107
OK, the reviewer has been re-invited.

@stuartcampbell please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-01-23 19:05] arfon commented on #2107
Great! Many thanks! Please accept the invite in the post above to start. I've added a review checklist for you above too.

[2021-01-23 19:16] danielskatz commented on #2962
Thanks @gcdeshpande  - I'll assign you, but we won't start the review until we get another reviewer too

[2021-01-23 19:17] danielskatz commented on #2962
@whedon assign @gcdeshpande as reviewer

[2021-01-23 19:17] whedon commented on #2962
OK, @gcdeshpande is now a reviewer

[2021-01-23 21:45] csoneson commented on #2864
@whedon set 10.5281/zenodo.4459006 as archive

[2021-01-23 21:45] whedon commented on #2864
OK. <a href="https://doi.org/10.5281/zenodo.4459006" target="_blank">10.5281/zenodo.4459006</a> is the archive.

[2021-01-23 21:45] csoneson commented on #2864
@whedon set 1.1.2 as version

[2021-01-23 21:45] whedon commented on #2864
OK. 1.1.2 is the version.

[2021-01-23 21:47] csoneson commented on #2864
Great, thanks! I'll hand over to the associate editor-in-chief on rotation for the last steps.

[2021-01-23 21:47] csoneson commented on #2864
@whedon accept

[2021-01-23 21:47] whedon commented on #2864
[code]

[2021-01-23 21:47] whedon commented on #2864
[code]

[2021-01-23 21:47] whedon commented on #2864
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2043

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2043, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-23 21:59] jsgalan commented on #2913
Hi all, I am not available to review at the moment.

Thanks for the invite.

[2021-01-23 22:17] danielskatz commented on #2864
This looks good - it's great to get a paper that doesn't need any copy-editing changes

[2021-01-23 22:17] danielskatz commented on #2864
@whedon accept deposit=true

[2021-01-23 22:17] whedon commented on #2864
[code]

[2021-01-23 22:18] whedon commented on #2864
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1353104798178971648) 👈 🐦🐦🐦

[2021-01-23 22:18] whedon commented on #2864
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2044
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02864](https://doi.org/10.21105/joss.02864)
2. If everything looks g

[2021-01-23 22:22] danielskatz commented on #2699
👋 @openjournals/dev - please note that there's a DOI issue here to be solved by you...

The DOI for the archived software is https://doi.org/11353/10.1144094
but ```@whedon set 11353/10.1144094 as archive``` is not processed by whedon.

[2021-01-23 22:23] danielskatz commented on #2864
Congratulations to @damienmarsic (Damien Marsic)!!

And thanks to @xie186 and @j-andrews7 for reviewing, and @csoneson for editing!

[2021-01-23 22:23] #2864 closed

[2021-01-23 22:23] whedon commented on #2864
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02864/status.svg)](https://doi.org/10.21105/joss.02864)

**We need your help!**

Journal of Open Source Softwa

[2021-01-23 23:36] JohannesBuchner commented on #2983
Thanks @kthyng. The updated text should be now 994 words.

@whedon generate pdf

[2021-01-23 23:54] holukas commented on #2575
Thanks @mccabete and @r-barnes for the helpful comments! I will address the issues over the next days.

[2021-01-24 00:07] usethedata commented on #2826
@jGaboardi I've had a couple more declines on reviewers.  As it turns out, however, I'm stepping away from being a JOSS Topic editor and returning to just being a reviewer.  Ping me here when you've addressed, as you feel appropriate, the items @martibosch has listed, and I'll do the second review.

[2021-01-24 00:08] usethedata commented on #2826
@whedon add @usethedata as reviewer

[2021-01-24 00:08] whedon commented on #2826
OK, @usethedata is now a reviewer

[2021-01-24 01:29] somefunAgba commented on #2913
@majensen. Probably  the following could be invited: @dsurujon, @ManuelaS, @kakearney, @castelao from similar reviewers of MATLAB code for JOSS

[2021-01-24 01:59] damienmarsic commented on #2864
Thanks everyone !

[2021-01-24 02:05] fboehm commented on #2983
@jordigh - would you be willing to review this submission for the Journal of Open Source Software?

[2021-01-24 08:16] erinyoung commented on #2334
Thanks for the suggestion [@lpantano](https://github.com/lpantano)

What would help me most at the moment is someone else's example of running
it on their data.

On Fri, Jan 22, 2021, 11:19 AM Lorena Pantano <notifications@github.com>
wrote:

[2021-01-24 14:38] dfm commented on #2550
@Jammy2211 - Absolutely fine. Thanks for the update!

[2021-01-24 14:57] danielskatz commented on #2972
@ayush-1506  - can you explain what code you are submitting to JOSS in this branch vs the overall repo?  The paper seems to describe ADE, which is what the repo contains, but you also have suggested that https://github.com/openmainframeproject/ade/tree/logs is the contribution being submitted here, and I can't tell if the paper describes that specific contribution.

[2021-01-24 14:58] dfm commented on #2550
@Jammy2211: I've made a few more edits to the manuscript and opened a PR. Once you've taken a look at those and merged, here are the steps that we need to do before final processing:

1. Comment `@whedon generate pdf` on this issue to get the proofs of the manuscript. Read these over and double check that you're happy with it (especially things like author names and affiliations). It is difficult

[2021-01-24 15:10] danielskatz commented on #2956
@jennahamlin  - thanks for your submission. Your changes make it clear that there is a research software component, but unfortunately, the editors have decided that the research software aspect of it is too small for us to review. A large portion of the code is in-app documentation and layout specification.

Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewin

[2021-01-24 15:10] danielskatz commented on #2956
@whedon reject

[2021-01-24 15:10] whedon commented on #2956
Paper rejected.

[2021-01-24 15:10] #2956 closed

[2021-01-24 15:10] vahid-sb commented on #2880
@majensen, haven't managed to find time to do all the changes I plan to do. It is on my mind, only a matter of finding enough time. I will come back to you and reviewers as soon as my responses are ready and changes done. Thanks for your patience.

[2021-01-24 15:11] whedon opened #2984 "[PRE REVIEW]: Bayesian X-ray Analysis (BXA) v4.0"
**Submitting author:** @JohannesBuchner (<a href="http://orcid.org/0000-0003-0426-6634">Johannes Buchner</a>)
**Repository:** <a href="https://github.com/JohannesBuchner/BXA" target ="_blank">https://github.com/JohannesBuchner/BXA</a>
**Version:** v4.0.2
**Editor:** @jgostick
**Reviewers:** @cescalara, @grburgessas, @cescalara
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode

[2021-01-24 15:11] whedon commented on #2984
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-24 15:11] whedon opened #2985 "[PRE REVIEW]: Nanoq: fast quality control for nanopore reads"
**Submitting author:** @esteinig (<a href="http://orcid.org/0000-0001-5399-5353">Eike J. Steinig</a>)
**Repository:** <a href="https://github.com/esteinig/nanoq" target ="_blank">https://github.com/esteinig/nanoq</a>
**Version:** v0.2.1
**Editor:** @luizirber
**Reviewers:** @natir, @bovee
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2021-01-24 15:11] whedon commented on #2985
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-01-24 15:11] whedon commented on #2984
PDF failed to compile for issue #2984 with the following error:

 Can't find any papers to compile :-(

[2021-01-24 15:11] whedon commented on #2985
[code]

[2021-01-24 15:11] whedon commented on #2984
[code]

[2021-01-24 15:11] whedon commented on #2985
[code]

[2021-01-24 15:12] danielskatz commented on #2984
@whedon generate pdf from branch joss-paper

[2021-01-24 15:12] whedon commented on #2984
[code]

[2021-01-24 15:12] whedon commented on #2985
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02985/joss.02985/10.21105.joss.02985.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02985/joss.02985/10.21105.joss.02985.pdf) :page_facing_up: :point_left:

[2021-01-24 15:13] whedon commented on #2984
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02984/joss.02984/10.21105.joss.02984.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02984/joss.02984/10.21105.joss.02984.pdf) :page_facing_up: :point_left:

[2021-01-24 15:16] danielskatz commented on #2985
@esteinig - given the relatively small size of this submission, the editors will now discuss if it meet the JOSS [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review. You should hear back about the next steps in 1-2 weeks.

[2021-01-24 15:17] danielskatz commented on #2985
@whedon query scope

[2021-01-24 15:17] whedon commented on #2985
Submission flagged for editorial review.

[2021-01-24 15:17] danielskatz commented on #2984
@whedon check references from branch joss-paper

[2021-01-24 15:17] whedon commented on #2984
[code]

[2021-01-24 15:17] whedon commented on #2984
[code]

[2021-01-24 15:22] danielskatz commented on #2984
👋 @jgostick - would you be able to edit this JOSS submission?

[2021-01-24 15:23] danielskatz commented on #2984
@whedon invite @jgostick as editor

[2021-01-24 15:23] whedon commented on #2984
@jgostick has been invited to edit this submission.

[2021-01-24 16:13] majensen commented on #2880
@vahid-sb thanks for checking in - no problem

[2021-01-24 16:15] adi3 commented on #2949
I'll make further progress on my checklist this week.

[2021-01-24 16:21] torressa commented on #2812
Hi again,
Here's my resp

### Code

Thanks taking the comments on board and standardising the inheritance structure. The imports look nicer now.
I like that you've included placeholders for future implementation for the continuous case.

Only one more thing:

Is it possible to have a more complex example where you have used macop? I like the knapsack example in the docs, but it would be good to ha

[2021-01-24 16:22] arfon commented on #2699
@whedon accept

[2021-01-24 16:22] whedon commented on #2699
[code]

[2021-01-24 16:23] whedon commented on #2699
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2045

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2045, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-24 16:23] whedon commented on #2699
[code]

[2021-01-24 16:39] symmy596 commented on #2824
Q. Would you be able to add a discussion of the sweeps parameter to the theory section of the documentation? The MSD is technically an ensemble average over the number of sweeps and the number of particles. This should be reflected in a brief comment in the theory section.
A. Further description has been added to the documentation and tutorials.
"MSD calculations require a large number of statisti

[2021-01-24 17:05] danielskatz commented on #2699
@whedon accept deposit=true

[2021-01-24 17:05] whedon commented on #2699
[code]

[2021-01-24 17:06] whedon commented on #2699
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1353388783824236546) 👈 🐦🐦🐦

[2021-01-24 17:06] whedon commented on #2699
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2046
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02699](https://doi.org/10.21105/joss.02699)
2. If everything looks g

[2021-01-24 17:15] danielskatz commented on #2699
Congratulations to @flofaucher (Florian Faucher)!!

And thanks to @chennachaos and @yangbai90 for reviewing, and @meg-simula for editing!

[2021-01-24 17:15] #2699 closed