[2018-08-16 19:12] whedon commented on #872
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/897. Feel free to close this issue now!

[2018-08-16 19:12] whedon commented on #897
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @miykael it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-08-16 19:12] whedon commented on #897
[code]

[2018-08-16 19:13] arokem commented on #872
Thanks @miykael! Please head over to #897 for your reviewer checklist. I am closing this now.

[2018-08-16 19:13] #872 closed

[2018-08-16 19:13] whedon commented on #897
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00897/joss.00897/10.21105.joss.00897.pdf)

[2018-08-16 19:28] jmborr commented on #895
@whedon generate pdf

[2018-08-16 19:28] whedon commented on #895
[code]

[2018-08-16 19:28] whedon commented on #895
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00895/joss.00895/10.21105.joss.00895.pdf)

[2018-08-16 19:36] jmborr commented on #895
@arfon I have proof-read the paper and I have two issues I don't know how to resolve.
1. Affiliations (there are two) show up together in the same line. Is this the intended behavior?
2. Hyperlinks in the PDF are not functional but I assume this is the intended behavior.

[2018-08-16 22:32] moorepants commented on #818
@Kevin-Mattheus-Moerman What is the status now? Will there be more reviewers? Or is this ready for an editorial decision?

[2018-08-17 02:43] mgalloy commented on #799
I can review both of the packages.

[2018-08-17 02:49] mdpiper commented on #799
Hi Arfon,

I’m happy to help; just let me know!

mp

On Aug 16, 2018, at 4:13 AM, Arfon Smith <notifications@github.com<mailto:notifications@github.com>> wrote:

Hi @mgalloy<https://github.com/mgalloy> & @wlandsman<https://github.com/wlandsman>, firstly, many thanks for your help/interest in these packages thus far.

We've recently had two submissions from @danehkar<https://github.com/danehkar>: t

[2018-08-17 03:14] FaustinCarter commented on #849
Round 4
======

Ok, I made a fresh environment with just: `python, matplotlib, scipy, numpy, pytest`. I then did `pip install fgivenx` and got version 2.1.11. I then ran the tests as: `pytest fgivenx`. I immediately get an `@imagecomparison` decorator error. As far as I can tell this is because `matplotlib` tests require at a minimum the `nose` package. I then installed `nose` and reran the tests.

[2018-08-17 10:37] pdebuyl commented on #877
Hi all,

While waiting for the end of the review, and after improving the documentation, I thought of providing an example notebook that one can launch on mybinder.

See https://github.com/pdebuyl-lab/tidynamics/tree/binder_notebook

It is in a separate branch for now, but as it is a coming addition to the software I wanted to notify the review page.

Also, for a first release "0.1.2" is not a nic

[2018-08-17 10:42] arfon commented on #799
@whedon add @mgalloy as reviewer

[2018-08-17 10:42] whedon commented on #799
OK, @mgalloy is now a reviewer

[2018-08-17 10:42] arfon commented on #799
@whedon add @mdpiper as reviewer

[2018-08-17 10:42] whedon commented on #799
OK, @mdpiper is now a reviewer

[2018-08-17 10:43] arfon commented on #799
@whedon start review

[2018-08-17 10:43] whedon commented on #799
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/898. Feel free to close this issue now!

[2018-08-17 10:43] whedon opened #898 "[REVIEW]: AtomNeb: IDL Library for Atomic Data of Ionized Nebulae"
**Submitting author:** @danehkar (<a href="http://orcid.org/0000-0003-4552-5997">Ashkbiz Danehkar</a>)
**Repository:** <a href="https://github.com/atomneb/AtomNeb-idl" target ="_blank">https://github.com/atomneb/AtomNeb-idl</a>
**Version:** v0.0.2
**Editor:** @arfon
**Reviewer:** @mgalloy, @mdpiper
**Archive:** <a href="https://doi.org/10.5281/zenodo.2584420" target="_blank">10.5281/zenodo.2584420

[2018-08-17 10:43] whedon commented on #898
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mgalloy, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-08-17 10:43] whedon commented on #898
[code]

[2018-08-17 10:43] whedon commented on #898
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00898/joss.00898/10.21105.joss.00898.pdf)

[2018-08-17 10:44] arfon commented on #799
@mgalloy, @mdpiper - thanks so much for agreeing to review these packages! I've gone ahead and started the review for this submission and will do the same for #798.

@danehkar - given you have the same reviewers for both of these packages - do you have a preference for which package @mgalloy & @mdpiper review first?

[2018-08-17 10:44] #799 closed

[2018-08-17 10:45] arfon commented on #798
@whedon add @mdpiper as reviewer

[2018-08-17 10:45] whedon commented on #798
OK, @mdpiper is now a reviewer

[2018-08-17 10:45] arfon commented on #798
@whedon add @mgalloy as reviewer

[2018-08-17 10:45] whedon commented on #798
OK, @mgalloy is now a reviewer

[2018-08-17 10:45] arfon commented on #798
@whedon start review

[2018-08-17 10:45] whedon opened #899 "[REVIEW]: proEQUIB - IDL Library for Plasma Diagnostics and Abundance Analysis"
**Submitting author:** @danehkar (<a href="http://orcid.org/0000-0003-4552-5997">Ashkbiz Danehkar</a>)
**Repository:** <a href="https://github.com/equib/proEQUIB" target ="_blank">https://github.com/equib/proEQUIB</a>
**Version:** v0.0.6
**Editor:** @arfon
**Reviewer:** @mdpiper, @mgalloy
**Archive:** <a href="https://doi.org/10.5281/zenodo.1890337" target="_blank">10.5281/zenodo.1890337</a>

## S

[2018-08-17 10:45] whedon commented on #798
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/899. Feel free to close this issue now!

[2018-08-17 10:45] whedon commented on #899
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mdpiper, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-08-17 10:45] whedon commented on #899
[code]

[2018-08-17 10:45] arfon commented on #798
@mdpiper, @mgalloy - see you over in #899 for the actual review. Thanks again!

[2018-08-17 10:45] #798 closed

[2018-08-17 10:46] whedon commented on #899
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00899/joss.00899/10.21105.joss.00899.pdf)

[2018-08-17 11:08] jcmgray commented on #819
@whedon generate pdf

[2018-08-17 11:08] whedon commented on #819
[code]

[2018-08-17 11:09] whedon commented on #819
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00819/joss.00819/10.21105.joss.00819.pdf)

[2018-08-17 11:11] jcmgray commented on #819
I've now added a DOI for as many of the references as I can (https://github.com/jcmgray/quimb/commit/0597ecadf5730f8f87fcbba07f0c0827db722a89).

[2018-08-17 12:36] Kevin-Mattheus-Moerman commented on #671
@hooman650 can you provide an update as to how you are getting on? Are you able to formulate a reply to my summary of the reviewers comments?

[2018-08-17 12:41] Kevin-Mattheus-Moerman commented on #806
@CELavecchia are you able to take on the review at this point? :rabbit: :rocket: :robot:

[2018-08-17 12:41] Kevin-Mattheus-Moerman commented on #806
@mnawrot are you able to review this submission?

[2018-08-17 12:42] Kevin-Mattheus-Moerman commented on #806
@trallard are you interested in reviewing this work?

[2018-08-17 12:45] trallard commented on #806
hey @Kevin-Mattheus-Moerman I am not sure if I still have access to MATLAB, but I can check later today/early tomorrow and take up on it if so

[2018-08-17 12:47] trallard commented on #853
hi @labarba  I can jump in as a second reviewer if you are still looking for someone to do it

[2018-08-17 12:55] Kevin-Mattheus-Moerman commented on #818
Great, thanks @trallard for your review work! :rocket:

For the record the issues you raised which were addressed are here:
https://gitlab.com/moorepants/skijumpdesign/issues/58
https://gitlab.com/moorepants/skijumpdesign/issues/57
https://gitlab.com/moorepants/skijumpdesign/issues/56

[2018-08-17 12:56] Kevin-Mattheus-Moerman commented on #818
@whedon generate pdf

[2018-08-17 12:56] whedon commented on #818
[code]

[2018-08-17 12:57] whedon commented on #818
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00818/joss.00818/10.21105.joss.00818.pdf)

[2018-08-17 13:02] Kevin-Mattheus-Moerman commented on #818
@moorepants I'm willing to recommend that this paper is accepted. I've a minor comment on the paper, for the _Swedberg et al._ reference, would you be able to add a link to the article, perhaps it is this one: http://www.dtic.mil/docs/citations/ADA524748.
Once you have done that please can you regenerate the paper here, package the software in a repository and post the DOI here? Thanks :skier:

[2018-08-17 13:04] Kevin-Mattheus-Moerman commented on #845
@vc1492a how are you getting on? Are you able to respond to the issues raised by @yzhao062 ? Thanks

[2018-08-17 13:05] Kevin-Mattheus-Moerman commented on #866
@whedon generate pdf

[2018-08-17 13:05] whedon commented on #866
[code]

[2018-08-17 13:05] whedon commented on #866
PDF failed to compile for issue #866 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    12    0    12    0     0    217      0 --:--:-- --:--:-- --:--:--   218
pandoc-citeproc: r

[2018-08-17 13:08] Kevin-Mattheus-Moerman commented on #866
@jshermeyer before we proceed, can you help address the issue with you paper. It seems it cannot find the references to `Holden:2015`. Can you check this?

[2018-08-17 13:22] whedon opened #900 "[REVIEW]: GB_code: A grain boundary generation code"
**Submitting author:** @https://github.com/oekosheri (<a href="http://orcid.org/0000-0002-9616-4602">raheleh Hadian</a>)
**Repository:** <a href="https://github.com/oekosheri/GB_code" target ="_blank">https://github.com/oekosheri/GB_code</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** @vyasr, @trallard
**Archive:** <a href="https://doi.org/10.5281/zenodo.1433530" target="_blank">10.5281

[2018-08-17 13:22] #853 closed, assigned to vyasr, labarba, trallard

[2018-08-17 14:31] moorepants commented on #818
Will do.

[2018-08-17 14:31] moorepants commented on #818
@whedon generate pdf

[2018-08-17 14:31] whedon commented on #818
[code]

[2018-08-17 14:32] whedon commented on #818
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00818/joss.00818/10.21105.joss.00818.pdf)

[2018-08-17 15:55] raamana commented on #897
Hi @miykael, the docs website for you to get a sense of what it is. I am finalizing the implementation for one another class Carpet, but what it is now should give you a very good sense of what's happening.

[2018-08-17 19:14] vc1492a commented on #845
@Kevin-Mattheus-Moerman Thanks for the message. I was under the impression that the work would be reviewed by a second reviewer prior to moving to the revision process. As such, I have not yet started on the recommendations @yzhao062 provided above but please let me know whether I should move forward with the revision process. I can get started in the next few days, and should be able to provide s

[2018-08-17 22:02] moorepants commented on #818
I've archived the source tar ball here: https://doi.org/10.6084/m9.figshare.6981647.v1

[2018-08-18 13:39] williamjameshandley commented on #849
OK. I think I've sorted this out now (and updated the documentation)

The following pip commands in a fresh virtual environment work for me:
[code]

I can't unfortunately update the zenodo link in the paper since there is a 'major incident' currently occurring.

[2018-08-18 15:36] whedon opened #901 "[PRE REVIEW]: Ripser.py: A Lean Persistent Homology Library for Python"
**Submitting author:** @sauln (<a href="http://orcid.org/0000-0002-8549-9810">Nathaniel Saul</a>)
**Repository:** <a href="https://github.com/scikit-tda/ripser.py" target ="_blank">https://github.com/scikit-tda/ripser.py</a>
**Version:** 0.2.4
**Editor:** @arokem
**Reviewers:** lmcinnes

**Author instructions**

Thanks for submitting your paper to JOSS @sauln. The JOSS editor (shown at the top of

[2018-08-18 15:36] whedon commented on #901
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-08-18 15:36] whedon commented on #901
[code]

[2018-08-18 15:36] whedon opened #902 "[PRE REVIEW]: Plot Flow Charts According to the PRISMA Statement"
**Submitting author:** @jackwasey (<a href="http://orcid.org/0000-0003-3738-4637">Jack Wasey</a>)
**Repository:** <a href="https://github.com/jackwasey/PRISMAstatement" target ="_blank">https://github.com/jackwasey/PRISMAstatement</a>
**Version:** 1.0.4
**Editor:** @pjotrp
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @jackwasey. The JOSS editor (shown at

[2018-08-18 15:36] whedon commented on #902
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @pjotrp it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-08-18 15:36] whedon commented on #902
[code]

[2018-08-18 15:36] whedon opened #903 "[PRE REVIEW]: Parareal Algorithm Implementation and Simulation in Julia"
**Submitting author:** @sperugin (<a href="http://orcid.org/0000-0002-1736-4009">Saverio Perugini</a>)
**Repository:** <a href="https://github.com/sperugin/Parareal-Implementation-and-Simulation-in-Julia" target ="_blank">https://github.com/sperugin/Parareal-Implementation-and-Simulation-in-Julia</a>
**Version:** v1.0.0
**Editor:** @labarba
**Reviewer:** Pending

**Author instructions**

Thanks fo

[2018-08-18 15:36] whedon commented on #901
PDF failed to compile for issue #901 with the following error:

 Can't find any papers to compile :-(

[2018-08-18 15:36] whedon commented on #902
Failed to discover a valid open source license.

[2018-08-18 15:36] whedon commented on #903
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @labarba it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-08-18 15:36] whedon commented on #903
[code]

[2018-08-18 15:36] whedon commented on #903
Failed to discover a valid open source license.

[2018-08-18 15:37] arfon commented on #901
@sauln - please review the [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html) for JOSS. Your project doesn't seem to have a paper.

[2018-08-18 15:38] whedon commented on #902
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00902/joss.00902/10.21105.joss.00902.pdf)

[2018-08-18 15:38] whedon commented on #903
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00903/joss.00903/10.21105.joss.00903.pdf)

[2018-08-18 15:52] arfon commented on #902
:wave: @pjotrp - the submitting author suggested you as the handling editor.

[2018-08-18 16:55] tomfaulkenberry commented on #862
Overall, I found the paper to be concise, well-written, and perfectly describes to the reader why and how to use the software. Further, I found the repo documentation to be equally well-written.  I did not run into any issues with the software. There is ONE typo in the example code in the paper: on the line that begins

model = Lmer('DV'=

there is a missing parenthesis at the end of the line (it

[2018-08-18 17:37] Fil commented on #761
I'm in @labarba

[2018-08-18 18:04] labarba commented on #761
@whedon assign @Fil as reviewer

[2018-08-18 18:04] whedon commented on #761
OK, the reviewer is @Fil

[2018-08-18 18:04] labarba commented on #761
Thanks, @Fil — I'm waiting for a reply from a possible second reviewer, then I'll start the review!

[2018-08-18 18:26] FaustinCarter commented on #849
OK, this is great! As far as I'm concerned this review is finished; I am satisfied that you are ready for publication.

[2018-08-18 19:39] sauln commented on #901
Hi @arfon, sorry the paper was hiding in the Joss branch. I’ve merged it into master now.

[2018-08-18 19:59] sauln commented on #901
@whedon commands

[2018-08-18 19:59] whedon commented on #901
Here are some things you can ask me to do:

[code]

[2018-08-18 20:02] sauln commented on #901
@whedon generate pdf

[2018-08-18 20:02] whedon commented on #901
[code]

[2018-08-18 20:02] whedon commented on #901
PDF failed to compile for issue #901 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse': (tmp/901/paper.md): did not find expected '-' indicator while parsing a block collection at line 8 column 2 (Psych::SyntaxError)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:379:in `parse_stream'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/psych.rb:327:in `parse'

[2018-08-18 20:47] arfon commented on #849
:wave: @zhampel - when do you think you might be able to complete your review by?

[2018-08-18 20:49] arfon commented on #901
@sauln - this PR should fix the paper build error: https://github.com/scikit-tda/ripser.py/pull/45

[2018-08-18 21:14] sauln commented on #901
Thank you!

@whedon generate pdf

[2018-08-18 21:15] sauln commented on #901
@whedon generate pdf

[2018-08-18 21:15] whedon commented on #901
[code]

[2018-08-18 21:16] whedon commented on #901
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00901/joss.00901/10.21105.joss.00901.pdf)

[2018-08-18 23:26] labarba commented on #761
Hmm ... @arfon, our loyal bot `@whedon` is not obeying my command to start the review. What's going on?

[2018-08-18 23:27] leeper commented on #844
Hi @masspastore, can you clarify: is this a method you have developed in addition to the software implementation thereof? If so, how is it related to (or distinct from) [equivalence testing](https://en.wikipedia.org/wiki/Equivalence_test)? Further, if it is a new method, you may want to expand the paper to state this explicitly as well as define some of the properties of your method in greater dep

[2018-08-19 00:50] arfon commented on #761
@whedon commands

[2018-08-19 00:50] whedon commented on #761
Here are some things you can ask me to do:

[code]

[2018-08-19 00:50] arfon commented on #761
@whedon start review

[2018-08-19 00:53] arfon commented on #761
@whedon start review

[2018-08-19 00:54] whedon commented on #761
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/904. Feel free to close this issue now!

[2018-08-19 00:54] whedon opened #904 "[REVIEW]: Nashpy: A Python library for the computation of Nash equilibria"
**Submitting author:** @drvinceknight (<a href="http://orcid.org/0000-0002-4245-0638">Vincent Knight</a>)
**Repository:** <a href="https://github.com/drvinceknight/Nashpy" target ="_blank">https://github.com/drvinceknight/Nashpy</a>
**Version:** v0.0.18
**Editor:** @labarba
**Reviewer:** @Fil, @alex-konovalov
**Archive:** <a href="https://doi.org/10.5281/zenodo.1453761" target="_blank">10.5281/zen

[2018-08-19 00:54] whedon commented on #904
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Fil, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2018-08-19 00:54] whedon commented on #904
[code]

[2018-08-19 00:54] arfon commented on #761
@labarba - I found a weird bug with this paper. I've fixed it now.

[2018-08-19 00:54] #761 closed

[2018-08-19 00:54] whedon commented on #904
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00904/joss.00904/10.21105.joss.00904.pdf)

[2018-08-19 01:25] sauln commented on #901
That is an impressive list of volunteers!

I think @Sealhuang, @sssomani, @abuccts, @thomasA, and @arokem all have interests and skills that would be relevant

[2018-08-19 03:43] sunqm commented on #819
@jcmgray Sorry for the long delay for reviewing. Thanks for updating the reference doi. I noticed that the function documents were generated in the _autosummary folder. Although not required by the review checklist, if possible, I think it may be better to have an entry in the main page or in the developer's notes that points to the _autosummary page.

@jedbrown This is a well written program. I h

[2018-08-19 04:08] jedbrown commented on #819
Great! Thanks, @sunqm and @jcmgray.

@dalcinl Can you weigh in on the remainder of your checklist from your perspective as slepc4py and mpi4py developer?

[2018-08-19 08:49] ejhigson commented on #874
No problem @ziotom78 - I hope you have a nice holiday!

@arfon how many reviewers do you need? I can suggest some alternatives who may be able too look at this sooner

[2018-08-19 11:37] arfon commented on #874
Ideally two.

[2018-08-19 12:11] arfon commented on #903
Hi @sperugin, thanks for your submission to JOSS. Unfortunately this software is not suitable for JOSS as it falls into our 'minor' category: https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements

[2018-08-19 12:11] #903 closed

[2018-08-19 12:12] labarba commented on #904
👋 @Fil, @alex-konovalov — This is where the action happens. Feel free to ask any questions.

[2018-08-19 12:50] ejhigson commented on #874
Ok cool - perhaps @nespinoza or @benjaminrose would also be suitable reviewers? Thanks very much

[2018-08-19 14:12] aknutas commented on #233
Great news. Thank you, @karthik and other editors! I am currently revising the source code to meet the quality standards and my aim is to complete the revisions by the end of September.

[2018-08-19 17:32] arfon commented on #769
@Benjamin-Lee - please take a look at this list of potential reviewers and suggest some people who would be good potential reviewers: https://bit.ly/joss-reviewers

[2018-08-19 17:33] arfon commented on #549
@jorgeboucas - how are we getting along here?

[2018-08-19 17:33] arfon commented on #720
@whedon generate pdf

[2018-08-19 17:33] whedon commented on #720
[code]

[2018-08-19 17:33] whedon commented on #720
PDF failed to compile for issue #720 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/processor.

[2018-08-19 17:34] arfon commented on #720
@whedon can't automatically compile this PDF so here is a manually generated one: [10.21105.joss.00238.pdf](https://github.com/openjournals/joss-reviews/files/1633321/10.21105.joss.00238.pdf)

[2018-08-19 17:35] arfon commented on #720
@seandenigris - how are you getting along with your review?

[2018-08-19 17:37] arfon commented on #864
@bbengfort - could you take a look at this list of potential reviewers and identify a few suitable people? https://bit.ly/joss-reviewers

[2018-08-19 17:53] arfon commented on #865
@rouson, @rasmussn - please remember to get to these reviews sometime soon. Many thanks!

[2018-08-19 17:54] arfon commented on #884
@ecotillasanchez - please remember to get to this review sometime soon. Thanks!

[2018-08-19 17:55] arfon commented on #728
How are you getting along here @mhucka?

[2018-08-19 17:57] arfon commented on #820
@highlando, @kyleniemeyer - please try and carry out your reviews soon please 🙏

[2018-08-19 17:59] arfon commented on #747
@nilesh-patil - do you think you might be able to carry out your review sometime soonish? 🙏

[2018-08-19 17:59] arfon commented on #667
@gomesdasilva - any chance we can try and wrap this up in the next couple of weeks?

[2018-08-19 18:00] arfon commented on #268
:wave: @scls19fr - friendly reminder to revisit this sometime soon please.

[2018-08-19 18:00] arfon commented on #30
Ping @karantibrewal - please revisit this soon.

[2018-08-19 19:02] bbengfort commented on #864
@arfon after a quick Python script that scored reviewers based on topics, here's what I've come up with:

1. tacaswell
2. mlgill
3. jkahn
4. jochym
5. jankatins
6. arokem
7. desilinguist

[2018-08-19 19:33] nespinoza commented on #874
Hi @ejhigson; would love to but this week I'm in a conference, and next on vacation. I'll be available from September 3rd and on --- if this works for you, I could make my report for that week.

Best,

Néstor

[2018-08-19 19:50] Benjamin-Lee commented on #769
Sure. @krother, @genomematt, @ctb, and @a-slide are all good peotential reviewers.

[2018-08-19 21:14] ecotillasanchez commented on #884
Excellent work in this contribution, a pleasure to review and test. One can easily see the comprehensive functionality and the seamless support for a variety of external sources of data. This is very valuable for benchmarking. Besides the comments raised above, I will only add one other suggestion. In the documentation, the main functionality could be structured around a tutorial or use cases, so

[2018-08-19 22:36] wholmgren commented on #884
Thanks @sjpfenninger and @ecotillasanchez for your reviews!

Good idea. Done.

We expanded the [Compatibility](https://pvlib-python.readthedocs.io/en/latest/installation.html#compatibility) section to address this. It looks likely that we'll add a requirements.txt file to the package in the near future, so I'd like to defer a larger Installation docs reorganization until then. https://github.com/p

[2018-08-20 00:06] steven-murray commented on #850
This is fixed by https://github.com/steven-murray/powerbox/commit/59980d84365099fab31e56238dfeb4ec7d3c2cfc

[2018-08-20 00:14] steven-murray commented on #850
Fixed in https://github.com/steven-murray/powerbox/commit/50efcded235e8d046c4ef28447e41019b017b307

[2018-08-20 00:27] steven-murray commented on #850
Fixed in https://github.com/steven-murray/powerbox/commit/4e7cdcb7bb36b9be4149adf9bcd4bda0a1ea4751

[2018-08-20 00:50] steven-murray commented on #850
Added some of these in https://github.com/steven-murray/powerbox/commit/e49a26037b69c9c29f4d1006be68fe06d8a36c3f. Please let me know if they are not adequate.

[2018-08-20 01:10] hooman650 commented on #671
@Kevin-Mattheus-Moerman , I have update the paper.bib file and explained the differences between the BioSigKit toolbox and other toolboxes such as ecg-kit.  The respository is updated as detailed below:
1. CheatSheet.pdf added that details all subroutines of the toolbox
2. Demo.m that runs a demo and example of all subroutines
3. paper.bib is updated with the details of the toolkit.
4. A Codemap i

[2018-08-20 01:41] vyasr commented on #900
@labarba I'm not quite sure how to review aspects of this repository. It's written in Python, but it's not really a Python package, it's a collection of scripts for a particular purpose. There is no Python API, the intent is just to run these scripts on the command line. That being the case, the normal aspects of a Python package (a setup.py for installation, a Python API, etc) don't really apply.

[2018-08-20 02:09] steven-murray commented on #850
I've had a go of this in https://github.com/steven-murray/powerbox/commit/04e6a6de0f0c969e933affe1402b9a9ec45a833c.

The discussion is in the quickstart tutorial introduction. Please let me know if this is not quite what you were thinking and can be improved.

[2018-08-20 02:32] steven-murray commented on #850
I have added DOIs to Coles 1991 and Peacock 1999 (cf https://github.com/steven-murray/powerbox/commit/086cb71443cdcfbb0ce6f08a6ac08df72898c49a). The book "Statistical Fluid Mechanics" by Monin and Yaglom does not seem to have a DOI. The article by Wolz2018 does not yet have a DOI as it is not yet accepted.

[2018-08-20 02:34] dredamonsta1 commented on #892
everything is in tact as ive seen

[2018-08-20 02:34] ctb commented on #769
I can review!

[2018-08-20 03:30] steven-murray commented on #850
In https://github.com/steven-murray/powerbox/commit/6078a428012ac6e8e496d8c77dae5baf680464f9 I have added a new example notebook discussing the algorithm in a little more depth. I am not quite sure how to relate this method to Gaussian Processes, so I have left this out for now. I have commented that no information on the power is available for scales less than L/N, and given a rule-of-thumb for c

[2018-08-20 07:01] Kevin-Mattheus-Moerman commented on #889
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-08-20 07:01] whedon commented on #889
OK, the editor is @Kevin-Mattheus-Moerman

[2018-08-20 07:02] Kevin-Mattheus-Moerman commented on #889
@davidnsousa I'll act as editor for this submission. I'll start looking for reviewers. In the mean time it would also be useful if you could suggest reviewers. Thanks.

[2018-08-20 07:04] Kevin-Mattheus-Moerman commented on #845
@vc1492a I am searching for a second reviewer but please do start working on the revision process already.

[2018-08-20 07:05] Kevin-Mattheus-Moerman commented on #818
Great. @arfon I recommend we accept this submission :rocket: :robot: :tada:

[2018-08-20 07:05] zhampel commented on #849
@arfon I should have my review ready by Wednesday

[2018-08-20 07:06] Kevin-Mattheus-Moerman commented on #806
@anmuller can you comment on whether your submission is compatible with Octave?

[2018-08-20 07:12] trallard commented on #806
hi, I am afraid I no longer have a working license for MATLAB so will have to miss this

[2018-08-20 07:27] hamedmx commented on #892
@dredamonsta1 Thank you. @arfon Is this issue completed by our reviewer's response ? What is the next step ?

[2018-08-20 07:30] Kevin-Mattheus-Moerman commented on #806
@trallard okay. No worries

[2018-08-20 07:32] Kevin-Mattheus-Moerman commented on #671
@fernandoandreotti @marianux could you please weigh in on @hooman650 's revisions? Thanks.

[2018-08-20 08:08] lkosmid commented on #711
Hi @danielskatz and @federeghe , I was out of the office last week.
@federeghe thank you for the example you added, it definitely simplifies a lot  my review.
I will be able to provide an update this week.

[2018-08-20 08:34] jackwasey commented on #902
@whedon commands

[2018-08-20 08:34] whedon commented on #902
Here are some things you can ask me to do:

[code]

[2018-08-20 08:37] jackwasey commented on #902
@whedon generate pdf

[2018-08-20 08:37] whedon commented on #902
[code]

[2018-08-20 08:37] whedon commented on #902
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00902/joss.00902/10.21105.joss.00902.pdf)

[2018-08-20 09:22] whedon opened #905 "[REVIEW]: Python Implementation of Codon Adaptation Index"
**Submitting author:** @benjamin-lee (<a href="http://orcid.org/0000-0002-7133-8397">Benjamin Lee</a>)
**Repository:** <a href="https://github.com/Benjamin-Lee/CodonAdaptationIndex" target ="_blank">https://github.com/Benjamin-Lee/CodonAdaptationIndex</a>
**Version:** v1.0.0
**Editor:** @george-githinji
**Reviewer:** @ctb
**Archive:** <a href="https://doi.org/10.5281/zenodo.1439494" target="_blank

[2018-08-20 10:04] arfon commented on #849
Great!

[2018-08-20 10:05] Fil commented on #904
Apart from the version issue, it's all good for me. Thank you @drvinceknight for submitting to JOSS.

[2018-08-20 10:06] arfon commented on #818
@whedon set 10.6084/m9.figshare.6981647.v1 as archive

[2018-08-20 10:06] whedon commented on #818
OK. <a href="https://doi.org/10.6084/m9.figshare.6981647.v1" target="_blank">10.6084/m9.figshare.6981647.v1</a> is the archive.

[2018-08-20 10:11] arfon commented on #818
@trallard - many thanks for your review here and to @Kevin-Mattheus-Moerman for editing this paper ✨

@moorepants - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00818 :zap: :rocket: :boom:

[2018-08-20 10:14] #818 closed

[2018-08-20 10:14] whedon commented on #818
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00818/status.svg)](https://doi.org/10.21105/joss.00818)

**We need your help!**

Journal of Open Source Softwar

[2018-08-20 10:26] arfon commented on #895
Yes, this is expected.

Are they not functional when rendering on GitHub, or not functional when downloading the PDF? If the former, this is simply GitHub's security policy.

[2018-08-20 10:55] schalkdaniel commented on #894
@whedon commands

[2018-08-20 10:55] whedon commented on #894
Here are some things you can ask me to do:

[code]

[2018-08-20 10:56] schalkdaniel commented on #894
@whedon generate pdf

[2018-08-20 10:56] whedon commented on #894
[code]

[2018-08-20 10:56] whedon commented on #894
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00894/joss.00894/10.21105.joss.00894.pdf)

[2018-08-20 11:13] whedon opened #906 "[PRE REVIEW]: qsort R package: A New Tool for Scoring Q-sort Data"
**Submitting author:** @davidnsousa (<a href="http://orcid.org/0000-0001-7277-6447">David Sousa</a>)
**Repository:** <a href="https://github.com/joaordaniel/qsort" target ="_blank">https://github.com/joaordaniel/qsort</a>
**Version:** v0.2.0
**Editor:** @leeper
**Reviewers:** @maxheld83

**Author instructions**

Thanks for submitting your paper to JOSS @davidnsousa. The JOSS editor (shown at the t

[2018-08-20 11:13] whedon commented on #906
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-08-20 11:13] whedon commented on #906
[code]

[2018-08-20 11:13] whedon commented on #906
Failed to discover a valid open source license.

[2018-08-20 11:13] whedon commented on #906
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00906/joss.00906/10.21105.joss.00906.pdf)

[2018-08-20 11:27] labarba commented on #904
I've updated the version number in the review issue.

[2018-08-20 11:37] jmborr commented on #895
@arfon I was viewing the PDF in Github. I downloaded it and the links work and the links are fine 😄

[2018-08-20 12:27] danielskatz commented on #830
👋 @ian-taylor - any update on your status on this review?

[2018-08-20 12:39] leeper commented on #890
Great. Thanks, @anwarnunez. @vsoch, please take a look when you can.

[2018-08-20 13:32] oekosheri commented on #900
True, I have not provided a setup.py but this is definitely a python package.
Both main scripts are modules (collection of functions and classes) as well as command line scripts because of the main functions in the end that parses input arguments. Why I have chosen this structure: historical reasons + the underlying physics + preference by the scientists who use it.
If you think I should use a set

[2018-08-20 13:55] vyasr commented on #900
You understood my comment correctly. The underlying code is cleanly divided into functions and classes, and you are correct that in the strict sense the repository is a Python package since it is importable thanks to the __init__.py file. I was mostly alluding to the fact that it is not immediately installable, and that the intended API appears to be entirely command line based. You've put togethe

[2018-08-20 14:02] vsoch commented on #890
Yes thank you, already noted!

[2018-08-20 14:07] scls19fr commented on #268
@whedon generate pdf

[2018-08-20 14:07] whedon commented on #268
[code]

[2018-08-20 14:07] whedon commented on #268
PDF failed to compile for issue #268 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    11    0    11    0     0     59      0 --:--:-- --:--:-- --:--:--    60
Error reading bibl

[2018-08-20 14:14] scls19fr commented on #268
@whedon generate pdf

[2018-08-20 14:14] whedon commented on #268
[code]

[2018-08-20 14:14] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-20 14:19] scls19fr commented on #268
Shortening title

[2018-08-20 14:19] scls19fr commented on #268
@whedon generate pdf

[2018-08-20 14:19] whedon commented on #268
[code]

[2018-08-20 14:19] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-20 14:25] dfm commented on #850
Good stuff! I'm happy with these changes and everything looks good to me now.
@arfon: I'm happy to recommend this for acceptance.
@steven-murray: congrats on the excellent software and documentation!

[2018-08-20 15:07] davidnsousa commented on #906
@whedon commands

[2018-08-20 15:07] whedon commented on #906
Here are some things you can ask me to do:

[code]

[2018-08-20 15:08] masspastore commented on #844
@whedon generate pdf

[2018-08-20 15:08] whedon commented on #844
[code]

[2018-08-20 15:09] whedon commented on #844
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00844/joss.00844/10.21105.joss.00844.pdf)

[2018-08-20 15:10] arfon commented on #850
:zap: thanks @dfm.

@steven-murray - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-08-20 15:11] masspastore commented on #844
Hi @leeper, thanks for your questions.

Actually the overlapping package presented in this paper is not a new method, but a package for easily computing an index already used in behavioral research, i.e. the overlapping index.

For making this more evident, I added a brief description and some references in the summary of the paper. In my opinion the overlapping index is not directly related to eq

[2018-08-20 15:15] davidnsousa commented on #906
@whedon generate pdf

[2018-08-20 15:15] whedon commented on #906
[code]

[2018-08-20 15:15] whedon commented on #906
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00906/joss.00906/10.21105.joss.00906.pdf)

[2018-08-20 15:50] leeper commented on #844
Thanks, that's very helpful. I've sent you a quick PR to cleanup some of the paper metadata: https://github.com/masspastore/overlapping/pull/1

I'll regenerate the PDF once that's accepted.

[2018-08-20 15:50] leeper commented on #844
@whedon assign @leeper as editor

[2018-08-20 15:50] whedon commented on #844
OK, the editor is @leeper

[2018-08-20 15:55] nnadeau commented on #889
@Kevin-Mattheus-Moerman I'd be happy to review :)

[2018-08-20 16:35] vc1492a commented on #845
@Kevin-Mattheus-Moerman Thanks for reply. Will get started on the revision process and will get back in touch once I have pushed the suggested changes.

[2018-08-20 17:11] cicirello commented on #887
@whedon commands

[2018-08-20 17:11] whedon commented on #887
Here are some things you can ask me to do:

[code]

[2018-08-20 17:12] cicirello commented on #887
@whedon generate pdf

[2018-08-20 17:12] whedon commented on #887
[code]

[2018-08-20 17:12] whedon commented on #887
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00887/joss.00887/10.21105.joss.00887.pdf)

[2018-08-20 17:18] cicirello commented on #887
@whedon generate pdf

[2018-08-20 17:18] whedon commented on #887
[code]

[2018-08-20 17:18] whedon commented on #887
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00887/joss.00887/10.21105.joss.00887.pdf)

[2018-08-20 17:30] cicirello commented on #887
@whedon list editors

[2018-08-20 17:30] whedon commented on #887
Current editors:

[code]

[2018-08-20 17:30] vsoch commented on #890
Great job @anwarnunez and thank you @leeper and @whedon. My further comments are here:

https://github.com/gallantlab/cottoncandy/issues/63#issuecomment-414398356

Happy Monday!

[2018-08-20 17:53] mdpiper commented on #898
Info for contributors (last item in the **Documentation** section) is requested in https://github.com/atomneb/AtomNeb-idl/issues/1.

[2018-08-20 18:00] jcmgray commented on #819
Not at all, thanks very much for the review! Yes the ``_autosummary`` is used to generate the sections [here (index/module index)](https://quimb.readthedocs.io/en/latest/#indices-and-tables) as well as cross references within the docs. I think you are right that it might be nice to explicitly point this out on the main page / dev pages, so might add that soon.

[2018-08-20 18:28] scls19fr commented on #268
@whedon generate pdf

[2018-08-20 18:28] whedon commented on #268
[code]

[2018-08-20 18:29] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-20 18:32] scls19fr commented on #268
@whedon generate pdf

[2018-08-20 18:32] whedon commented on #268
[code]

[2018-08-20 18:33] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-20 18:49] scls19fr commented on #268
@whedon generate pdf

[2018-08-20 18:49] whedon commented on #268
[code]

[2018-08-20 18:50] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-20 18:53] scls19fr commented on #268
@whedon generate pdf

[2018-08-20 18:53] whedon commented on #268
[code]

[2018-08-20 18:54] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-20 19:05] richardjgowers commented on #877
@kyleniemeyer ok I'm happy to accept this.  @pdebuyl if you're happy that the API won't change you can just call it 1.0.0 according to [semantic versioning](https://semver.org)

[2018-08-20 19:18] davidnsousa commented on #839
@karthik should I suggest reviewers? Thank you!

[2018-08-20 19:37] karthik commented on #839
@davidnsousa I'm waiting on a couple of people to respond but yes more names would be welcome.

[2018-08-20 19:41] sauln commented on #901
I think perspectives from outside the field of TDA would be beneficial. We hope that the library will be accessible to anyone with just an interest in TDA, so understanding how someone without previous background approaches the library would be helpful for us. That being said, a JOSS review might not be the best forum for that.

[2018-08-20 19:58] pdebuyl commented on #877
@whedon generate pdf

[2018-08-20 19:58] whedon commented on #877
[code]

[2018-08-20 19:59] whedon commented on #877
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00877/joss.00877/10.21105.joss.00877.pdf)

[2018-08-20 20:02] pdebuyl commented on #877
@kyleniemeyer I believe I addressed all reviewers' feedback.

[2018-08-20 20:32] ejolly commented on #862
@cMadan I believe I have addressed all the issues brought up so far, but there's one in particular (https://github.com/ejolly/pymer4/issues/28) opened by @janfreyberg, and related to the installation issues @RMHogervorst was running into, that I would really appreciate some advice on. In summary, I'm not sure whether to favor support for both Python 2 and 3, or drop Python 2 support but make overa

[2018-08-20 20:37] moorepants commented on #818
Thank you all! We are very happy to have this published.

[2018-08-20 21:50] karthik commented on #839
@whedon add @ViniciusBRodrigues as reviewer

[2018-08-20 21:50] whedon commented on #839
OK, @ViniciusBRodrigues is now a reviewer

[2018-08-20 23:34] steven-murray commented on #850
@dfm : Thanks for the smooth and thorough review process!
@arfon : Thanks, the DOI is 10.5281/zenodo.1400822 .

I will definitely be publishing with JOSS again!

[2018-08-21 01:02] malramsay64 commented on #877
I am also happy to accept this. @pdebuyl I also agree with @richardjgowers on version 1.0.0.

[2018-08-21 01:11] ian-taylor commented on #830
ok, here is what I did to start from scratch using python 2.7 and pip version.x 18:

git clone https://github.com/dghoshal-lbl/madats.git
cd madats
virtualenv madats
source madats/bin/activate
pip install --upgrade pip
(and pip -V
pip 18.0 from /Users/ian/Sites/madats/madats/madats/lib/python2.7/site-packages/pip (python 2.7)
)
pip install -r requirements.txt
python setup.py install
source MADATS_

[2018-08-21 01:26] arfon commented on #850
@dfm - many thanks for your review here ✨

@steven-murray - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00850 :zap: :rocket: :boom:

[2018-08-21 01:26] #850 closed

[2018-08-21 01:26] whedon commented on #850
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00850/status.svg)](https://doi.org/10.21105/joss.00850)

**We need your help!**

Journal of Open Source Softwar

[2018-08-21 01:30] danielskatz commented on #830
thanks for getting started @ian-taylor  - also, please check off items on your part of the checklist at the top...

[2018-08-21 01:38] ian-taylor commented on #830
yes, I got that ....

[2018-08-21 01:41] danielskatz commented on #830
I was hoping you would check the COI and code of conduct ones before you started on other things :)

[2018-08-21 01:50] ian-taylor commented on #830
Ok... on to more important things

[2018-08-21 02:51] dghoshal-lbl commented on #830
@ian-taylor Not sure how I missed that. I will add scandir to requirements.txt

[2018-08-21 10:41] pdebuyl commented on #877
Ok, I'll release as 1.0.0 on zenodo.

@arfon may I include the DOI badge and the corresponding citation already in 1.0.0 (so that the released version is "self-contained")? I plan to add a `CITATION` file and the corresponding information in the README, `doc/index.rst` and `tidynamics/__init__.py` file.

From my understanding the doi is reserved already and visible in the pdf builds from whedon, i

[2018-08-21 11:15] arfon commented on #877
@pdebuyl yet that's fine.  The DOI for the paper will be https://doi.org/10.21105/joss.00877

[2018-08-21 11:17] oekosheri commented on #900
Thank you for your help.
To answer your question:
Currently, the more classic scientists use it via the Linux terminal and the younger scientists use the Jupyter notebooks. They can import different modules for the functionality they need and there are also additional functions in the notebooks.  As far as the further development goes, I see only myself as the only developer of this code.

1- you

[2018-08-21 11:20] pjotrp commented on #902
Dear @jackwasey

We discussed this submission among the editorial board and decided that it is of 'minor utility' as per our
[submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

I am sorry to say that we can not accept it for review.

Please to not feel discouraged to try again - and, next time, feel freeto check with me in advance.

[2018-08-21 11:26] #902 closed

[2018-08-21 11:27] whedon opened #907 "[PRE REVIEW]: `datastructures`: An R package for organisation and storage of data"
**Submitting author:** @dirmeier (<a href="http://orcid.org/0000-0001-9795-3550">Simon Dirmeier</a>)
**Repository:** <a href="https://github.com/dirmeier/datastructures" target ="_blank">https://github.com/dirmeier/datastructures</a>
**Version:** v0.2.7
**Editor:** @karthik
**Reviewers:** @fabian-s

**Author instructions**

Thanks for submitting your paper to JOSS @dirmeier. The JOSS editor (shown

[2018-08-21 11:27] whedon commented on #907
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @karthik it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-08-21 11:27] whedon commented on #907
[code]

[2018-08-21 11:27] whedon opened #908 "[PRE REVIEW]: eights: BS 8888:2011 first angle projection drawings from FreeCAD 3D model"
**Submitting author:** @danielhatton (<a href="http://orcid.org/0000-0002-4585-3336">Daniel Hatton</a>)
**Repository:** <a href="https://github.com/danielhatton/eights/" target ="_blank">https://github.com/danielhatton/eights/</a>
**Version:** 0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @devinberg

**Author instructions**

Thanks for submitting your paper to JOSS @danielhatton. The JOSS

[2018-08-21 11:27] whedon commented on #908
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-08-21 11:27] whedon commented on #908
[code]

[2018-08-21 11:27] arfon commented on #907
:wave: @karthik - the submitting author suggested you as the handling editor.

[2018-08-21 11:28] arfon commented on #908
:wave: @Kevin-Mattheus-Moerman - the submitting author suggested you as the handling editor.

[2018-08-21 11:28] whedon commented on #907
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00907/joss.00907/10.21105.joss.00907.pdf)

[2018-08-21 11:28] whedon commented on #908
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00908/joss.00908/10.21105.joss.00908.pdf)

[2018-08-21 12:26] pdebuyl commented on #877
tidynamics 1.0.0 is archived on zenodo as

https://doi.org/10.5281/zenodo.1401185

[2018-08-21 13:00] dirmeier commented on #907
Hey, I believe @fabian-s could be a good reviewer for this if he is interested.

[2018-08-21 14:11] RuthAngus commented on #667
Sorry -- I've been traveling solidly for the last month. Getting to it now!

[2018-08-21 14:29] leeper commented on #844
@whedon generate pdf

[2018-08-21 14:29] whedon commented on #844
[code]

[2018-08-21 14:29] lmcinnes commented on #861
Hi @terrytangyuan , this is a friendly ping for any status updates on this -- thanks.

[2018-08-21 14:30] whedon commented on #844
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00844/joss.00844/10.21105.joss.00844.pdf)

[2018-08-21 14:33] leeper commented on #844
@rmhogervorst Would you be interested in reviewing this for JOSS?

[2018-08-21 14:53] ViniciusBRodrigues commented on #839
Hi,
I made an initial review and the submission looks great. It's everything good with the review criteria. One think that they need to do is complete the **Community guidelines:**

The minor suggestion is break the follow line in the paper:
 `## specify the set of behaviors recorded and that will be used in bset argument`

[2018-08-21 15:16] nhejazi commented on #161
Hello @gavinsimpson, just another quick follow-up about the review of this R package. We're hoping to complete the review / finalize publication of this software paper in JOSS by the end of the month --- does it appear that your schedule will allow for your review to be completed within this time frame? Thank you in advance for your re-review.

[2018-08-21 16:17] dleehr commented on #840
Hey @pjotrp, would you be able to review or suggest someone that could?

[2018-08-21 16:19] dghoshal-lbl commented on #830
@ian-taylor I have fixed requirements.txt. Let me know if you run into any other problem.

[2018-08-21 16:20] karthik commented on #907
@whedon assign @karthik as editor

[2018-08-21 16:20] whedon commented on #907
OK, the editor is @karthik

[2018-08-21 16:33] dirmeier commented on #907
@karthik Hello, there are no conflicts of interest. I've found him through the JOSS reviewer list and thought his experience with R/C++ suits this project well.

[2018-08-21 16:44] karthik commented on #907
@fabian-s Would you be able to review this submission for us?

[2018-08-21 17:37] pjotrp commented on #840
@whedon assign @pjotrp as editor

[2018-08-21 17:37] whedon commented on #840
OK, the editor is @pjotrp

[2018-08-21 17:44] pjotrp commented on #840
Hi @dleehr, even better I can be the editor ;). Before I look for reviewers I would like you to work a little on the paper. It is too short now. If you check other JOSS papers you can see we like short, but it would be good to add more context, prior art, and future work. Look at one of mine, for example, http://joss.theoj.org/papers/10.21105/joss.00025.

The idea is to put your project in the bes

[2018-08-21 19:03] kyleniemeyer commented on #877
Hi @pdebuyl @arfon, I just need to copy-edit the paper first, then we will be ready to accept.

[2018-08-21 19:09] vyasr commented on #900
As you pointed out, your code already is a package. The standard structure for Python packages, however, is to have all the code in a subdirectory of the repository:
README.rst
LICENSE
setup.py
requirements.txt
sample/__init__.py
sample/core.py
sample/helpers.py
docs/conf.py
docs/index.rst
tests/test_basic.py
tests/test_advanced.py

[2018-08-21 19:34] terrytangyuan commented on #861
Hi @lmcinnes, thanks for your ping! It is a well-written package and has already earned 1.5k stars.

Two things that are missing:

* References: Do all archival references that should have a DOI list one (e.g., papers, datasets, software)? You need at list one reference with DOI.
* Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report

[2018-08-21 21:00] sckott commented on #847
thanks, will have a look

[2018-08-21 21:23] marcoalopez commented on #863
Hi @jsta, thank you for this initial review. Regarding the **community guidelines**, I mention in the FAQ section https://github.com/marcoalopez/GrainSizeTools/blob/master/DOCS/FAQ.md the following:

Sure. If you have issues using the script, found a bug or see an error in the documentation please just let me know by dropping me an email or open an issue [here](https://github.com/marcoalopez/Grain

[2018-08-21 22:58] palash1992 commented on #876
@rougier : while we wait for @jsgalan 's reply, can you tell me what error you are getting? I asked some of my friends to install it on different machines and they were able to do it. So I am not sure exactly what the problem could be. Perhaps it's a specific Mac issue. Any feedback would be helpful in making the package more robust to platforms.

[2018-08-22 00:38] lmcinnes commented on #861
Hi @terrytangyuan ! Thanks for the feedback. I have added a CONTRIBUTING.md to provide some guidelines of contributions which goes into more detail than the small "Contributing" section in the README.rst. The project already has a CODE_OF_CONDUCT.md that should cover community behaviour when contributing.

The references issue is more difficult. Currently UMAP is still a pre-print, and arXiv does

[2018-08-22 02:35] terrytangyuan commented on #861
@arokem Any suggestions regarding DOI reference?

@lmcinnes Thanks for your quick action. I don't think you have to do it for this review but I am glad that you are keeping track of them through issues.

[2018-08-22 05:11] rougier commented on #876
Here is what I get from `test_karate.py`:

[code]

[2018-08-22 07:11] fabian-s commented on #907
Will do.

[2018-08-22 08:00] hugoledoux commented on #808
Right now I can't install the software so difficult for me to review it...

So yes if you could check what is necessary (the URL of the pacakge used) then I can give it another go.

[2018-08-22 08:57] oekosheri commented on #900
Yes, that's right. thanks.
 So I'm trying re-structuring and I have a question. I put the two scripts/modules in gb_code directory. My setup.py file looks like this:

[code]
It copies the executable scripts in python bin, so very good but it does not copy them in site-packages.
if instead of _setuptools_ I use _distutils.core_ the modules will be installed in site-packages but the entry points are

[2018-08-22 11:53] rougier commented on #876
Ok. You'll need to add SNAP in the list of dependencies (and it might be good to add links for each of the dependency)

[2018-08-22 13:54] oekosheri commented on #900
A follow up on my previous post:
I tried``` pip install . ``` and that did the task. i.e. package was copied to my python site-packages and executables to python bin. I wonder if this is the best practice though. If you know of a better way, let me know.

[2018-08-22 13:54] davidnsousa commented on #839
@ViniciusBRodrigues should I do this changes now? Where do I complete the community guidelines? In the README file in github or in the paper itself? Thank you

[2018-08-22 15:44] zhampel commented on #849
@williamjameshandley Nice work with fgivenx. I have a few comments which I'll put in a couple of posts for you. I'll put up the comments regarding the paper and documentation now, and I'll have a couple more regarding the code itself either later today or early tomorrow.

[2018-08-22 15:52] jackwasey commented on #902
Thanks for considering.

[2018-08-22 16:00] emptyport commented on #869
@whedon generate pdf

[2018-08-22 16:00] whedon commented on #869
[code]

[2018-08-22 16:00] whedon commented on #869
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00869/joss.00869/10.21105.joss.00869.pdf)

[2018-08-22 16:03] zhampel commented on #849
Paper
===
I think the paper could use a little cleanup. I found a few minor mistakes and would like to add some additional comments regarding the text as well. Take them as suggestions, but I feel like they'd make the paper smoother.

- Title after 'fgivenx:' should be capitalized

Paragraph 1
------------
- I find 'scientific models' not particularly specific or descriptive. Numerical maybe? Or c

[2018-08-22 16:07] emptyport commented on #869
@bovee @arfon is there anything else pending on my end?

[2018-08-22 16:15] zhampel commented on #849
Documentation
===========
I appreciate the completeness that you put into the docstrings. I have a few comments.

Introduction
------------
In the 2nd paragraph of the Description
- These packages -> This package?

API
---
- no quotes necessary around iso-probability posterior mass
- Is logZ relative evidences w.r.t. models? I.e. is it the ratio P/Q? Or is it some other type of function prior?
Is

[2018-08-22 16:26] karthik commented on #839
@whedon start review

[2018-08-22 16:26] whedon opened #909 "[REVIEW]: bor: An R Package for Transforming Behavioral Observation Records into Data Matrices"
**Submitting author:** @davidnsousa (<a href="http://orcid.org/0000-0001-7277-6447">David Sousa</a>)
**Repository:** <a href="https://github.com/davidnsousa/bor" target ="_blank">https://github.com/davidnsousa/bor</a>
**Version:** v0.1.0
**Editor:** @karthik
**Reviewer:** @ViniciusBRodrigues
**Archive:** <a href="https://doi.org/10.5281/zenodo.1405098" target="_blank">10.5281/zenodo.1405098</a>

#

[2018-08-22 16:26] whedon commented on #839
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/909. Feel free to close this issue now!

[2018-08-22 16:26] whedon commented on #909
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ViniciusBRodrigues it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2018-08-22 16:26] whedon commented on #909
[code]

[2018-08-22 16:27] karthik commented on #839
@ViniciusBRodrigues Please proceed with your full review in #909. I will close this review assignment issue. 🙏

[2018-08-22 16:27] #839 closed

[2018-08-22 16:27] whedon commented on #909
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00909/joss.00909/10.21105.joss.00909.pdf)

[2018-08-22 16:28] zhampel commented on #849
At the moment I have only one comment in my notes regarding the code:
-I really like the kwargs.pop functionality you put it. So smooth :)

For now, it's really just ensuring the docstrings are uber clear, and I'll finish up my code review.

[2018-08-22 16:33] karthik commented on #907
@whedon assign @fabian-s as reviewer

[2018-08-22 16:33] whedon commented on #907
OK, the reviewer is @fabian-s

[2018-08-22 16:33] karthik commented on #907
@whedon start review

[2018-08-22 16:33] whedon opened #910 "[REVIEW]: `datastructures`: An R package for organisation and storage of data"
**Submitting author:** @dirmeier (<a href="http://orcid.org/0000-0001-9795-3550">Simon Dirmeier</a>)
**Repository:** <a href="https://github.com/dirmeier/datastructures" target ="_blank">https://github.com/dirmeier/datastructures</a>
**Version:** v0.2.7
**Editor:** @karthik
**Reviewer:** @fabian-s
**Archive:** <a href="https://doi.org/10.5281/zenodo.1404281" target="_blank">10.5281/zenodo.1404281<

[2018-08-22 16:34] whedon commented on #907
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/910. Feel free to close this issue now!

[2018-08-22 16:34] whedon commented on #910
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fabian-s it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-08-22 16:34] whedon commented on #910
[code]

[2018-08-22 16:34] whedon commented on #910
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00910/joss.00910/10.21105.joss.00910.pdf)

[2018-08-22 16:34] karthik commented on #907
@fabian-s Thank you! Please continue the review in #910 I'll close this issue. If you have any questions about the review process, feel free to reach out to me anytime. 🙏

[2018-08-22 16:34] #907 closed

[2018-08-22 16:58] hamedmx commented on #892
@arfon Thank you for reopening this review issue. As a concern, Is this issue in the actual review process by @dredamonsta1 for JOSS now or it is stopped ?

[2018-08-22 17:07] ViniciusBRodrigues commented on #839
@davidnsousa we [will proceed here](https://github.com/openjournals/joss-reviews/issues/909)

[2018-08-22 17:45] vyasr commented on #900
I don't know exactly what caused the issue that you were having, but in general setup.py is known to have some buggy behavior in odd cases like that, so I don't think that you're doing anything wrong. You could try on a different python version if you have conda/virtualenv handy and see how that behaves, but I wouldn't be too worried.

[2018-08-22 18:17] arfon commented on #869
@emptyport - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-08-22 18:28] palash1992 commented on #876
@rougier: My idea for not adding node2vec to dependencies was based on the premise that some users may not need to run node2vec and thus should not be restricted by having library dependency. Adding the fallback is a good alternative. At this point I can make one of the below three modifications:

1. Add an argument in test.py specifying the method to be tested. Thus, the program would be run as p

[2018-08-22 18:32] emptyport commented on #869
@arfon all done. [Here is a link to the software in Zenodo](https://zenodo.org/badge/latestdoi/131650407
) and the DOI is 10.5281/zenodo.1402193

[2018-08-22 19:15] williamjameshandley commented on #849
@zhampel Many thanks for your detailed comments.
* Paper: I think I've addressed all your issues.
* Documentation: I've tried to make the docstrings as descriptive as possible, without being too verbose. I agree the evidence was unclear. Hopefully now it's relatively obvious what these functions are expecting as an optional argument.
* Installation. Updated the readme accordingly. Does installing

[2018-08-22 19:45] arfon commented on #869
@whedon set 10.5281/zenodo.1402193 as archive

[2018-08-22 19:45] whedon commented on #869
OK. <a href="https://doi.org/10.5281/zenodo.1402193" target="_blank">10.5281/zenodo.1402193</a> is the archive.

[2018-08-22 19:48] arfon commented on #869
@bovee - many thanks for your review here ✨

@emptyport - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00869 :zap: :rocket: :boom:

[2018-08-22 19:48] #869 closed

[2018-08-22 19:48] whedon commented on #869
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00869/status.svg)](https://doi.org/10.21105/joss.00869)

**We need your help!**

Journal of Open Source Softwar

[2018-08-22 20:09] leeper commented on #906
@whedon assign @leeper as editor

[2018-08-22 20:09] whedon commented on #906
OK, the editor is @leeper

[2018-08-22 20:37] Benjamin-Lee commented on #905
@whedon generate pdf

[2018-08-22 20:37] whedon commented on #905
[code]

[2018-08-22 20:37] whedon commented on #905
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00905/joss.00905/10.21105.joss.00905.pdf)

[2018-08-23 04:50] rougier commented on #876
This is where I get lost and I think the culprit is the lack of documentation ;) Is node2vec necessary only to run the tests or is it necessary to run the software? If this is only for the test, then it's fine for me. I can run the karate test and  probably @jsgalan can run the other one. However, it would be good in the documentation to explain (for example) the karate example (what is the expect

[2018-08-23 08:48] oekosheri commented on #900
Ok, Thanks, So I updated the repository now.

[2018-08-23 08:51] marcoalopez commented on #863
Hi @jsta I've already added the community guidelines to the README and the website as suggested.

[2018-08-23 10:54] marcoalopez commented on #863
Hi @lheagy, how can I redirect the ``repository URL`` to https://github.com/marcoalopez/GrainSizeTools and meet the required criteria by @jsta?

[2018-08-23 11:00] zhampel commented on #849
@williamjameshandley

- For the paper edit, you are missing periods in the last sentence of the last paragraph, as well as one at the end of the caption of Figure 1.
- From your reply to the the documentation comments, it seemed like you were going to make edits to the docstrings. I didn't see any commits to that end. Were you planning on doing so or just agreeing that there was some ambiguity the

[2018-08-23 11:15] scls19fr commented on #268
@whedon generate pdf

[2018-08-23 11:15] whedon commented on #268
[code]

[2018-08-23 11:16] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-23 11:19] scls19fr commented on #268
@whedon generate pdf

[2018-08-23 11:19] whedon commented on #268
[code]

[2018-08-23 11:31] Kevin-Mattheus-Moerman commented on #889
@whedon assign @nnadeau as reviewer

[2018-08-23 11:31] whedon commented on #889
OK, the reviewer is @nnadeau

[2018-08-23 11:33] Kevin-Mattheus-Moerman commented on #889
Thanks @nnadeau, I've added you here. I'll leave this pre-review issue open a bit longer to attract additional reviewers before we kick off the official review. You are welcome to start reviewing already if you are familiar with the process. Let me know if you have questions.

[2018-08-23 14:43] lheagy commented on #863
Hi @marcoalopez: I have updated the link in the main issue thread above, so all of the links should now point to https://github.com/marcoalopez/GrainSizeTools/

[2018-08-23 14:44] lheagy commented on #863
:wave: Hi @khaors, just checking in. When do you think you will have time to get started on this review? Thanks!

[2018-08-23 14:56] flor14 commented on #785
Hello! I was thinking about this today. Is there something can I start improving? Thank you so much

[2018-08-23 19:11] jcmgray commented on #819
Just to note that I have added a brief sentence highlighting those sections.

[2018-08-23 21:11] whedon commented on #890
[code]

[2018-08-23 21:11] whedon commented on #890
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00890/joss.00890/10.21105.joss.00890.pdf)

[2018-08-23 21:14] vsoch commented on #890
@leeper my review is complete, I think we are good to go! @anwarnunez and @leeper we will need the release to be 0.1.0 to coincide with the rc versions, and the (updated) one in this issue board. Great work everyone!

[2018-08-23 22:04] ViniciusBRodrigues commented on #909
Hi @davidsousa, almost done!

There are few small stuffs to add in your repository to complete:
  * Automated test
  * Community guidelines (how people can contribute and report issues)

In pratical words: you need to create a folder with a R script for tests, like [here](https://github.com/williamsbenjamin/blendR). Also you can see how do it better [here](https://www.r-bloggers.com/unit-testing-w

[2018-08-23 22:09] anwarnunez commented on #890
Great!
All done from my end, too.
I merged, tagged and uploaded to pip:
https://pypi.org/project/cottoncandy/
https://github.com/gallantlab/cottoncandy/releases/tag/0.1.0

[2018-08-23 22:10] anwarnunez commented on #890
@whedon generate pdf

[2018-08-23 22:10] whedon commented on #890
[code]

[2018-08-23 22:10] whedon commented on #890
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00890/joss.00890/10.21105.joss.00890.pdf)

[2018-08-24 00:12] gonsie commented on #825
I am unable the test the functionality of this due to issues with my work firewall (I am unable to install conda / dependencies). I may be able to review this on personal time (maybe another week or so), or I'm happy to defer to the other reviewers.

[2018-08-24 00:36] leeper commented on #890
@whedon set 10.5281/zenodo.1402799 as archive

[2018-08-24 00:36] whedon commented on #890
OK. <a href="https://doi.org/10.5281/zenodo.1402799" target="_blank">10.5281/zenodo.1402799</a> is the archive.

[2018-08-24 00:37] leeper commented on #890
@anwarnunez Please merge this PR: https://github.com/gallantlab/cottoncandy/pull/68

[2018-08-24 00:51] anwarnunez commented on #890
merged!

[2018-08-24 01:08] leeper commented on #890
@whedon generate pdf

[2018-08-24 01:08] whedon commented on #890
[code]

[2018-08-24 01:08] whedon commented on #890
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00890/joss.00890/10.21105.joss.00890.pdf)

[2018-08-24 01:09] leeper commented on #890
@arfon over to you

[2018-08-24 02:54] palash1992 commented on #876
@whedon generate pdf

[2018-08-24 02:54] whedon commented on #876
[code]

[2018-08-24 02:54] whedon commented on #876
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00876/joss.00876/10.21105.joss.00876.pdf)

[2018-08-24 02:56] palash1992 commented on #876
@rougier: Yes, node2vec is only required for tests. I have now made the changes you specified and also added an additional argument named node2vec to use if you need to run node2vec. I have clarified this in readme.

Hope it is fine now.

[2018-08-24 10:48] arfon commented on #890
@vsoch - many thanks for your review here and to @leeper for editing this submission ✨

@anwarnunez - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00890 :zap: :rocket: :boom:

[2018-08-24 10:48] #890 closed

[2018-08-24 10:48] whedon commented on #890
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00890/status.svg)](https://doi.org/10.21105/joss.00890)

**We need your help!**

Journal of Open Source Softwar

[2018-08-24 11:12] anwarnunez commented on #890
Great, thanks @arfon!
Thanks @vsoch for the great comments and @leeper for editing!

[2018-08-24 11:58] zhampel commented on #849
@williamjameshandley
- I must not have refreshed my page properly or something, so I finally saw the docstring edits you made.
- After installing pillow now, I get some ignored QueueManagerThread warning, but no error.

Good job cleaning this up!

[2018-08-24 12:46] zhampel commented on #849
@williamjameshandley

Code
====
A few comments about the code. They are minor and nit-picky. Everything else looks well-written and functionally appropriate.

- _check_args in _utils.py: There are a few extra indents on some `raise ValueError` statements
- _normalize_weights in _utils.py: Could use a little more space for readability. It's a little tight compared to the rest of your code.

Maybe r

[2018-08-24 12:48] zhampel commented on #849
@arfon I've checked off all my boxes and consider my review finished. I have made a few last minor comments to @williamjameshandley, though they are stylistic and do not require my approval for publication.

[2018-08-24 13:03] leeper commented on #906
@whedon add @maxheld83 as reviewer

[2018-08-24 13:03] whedon commented on #906
OK, @maxheld83 is now a reviewer

[2018-08-24 13:04] leeper commented on #906
@whedon start review

[2018-08-24 13:04] whedon opened #911 "[REVIEW]: qsort R package: A New Tool for Scoring Q-sort Data"
**Submitting author:** @davidnsousa (<a href="http://orcid.org/0000-0001-7277-6447">David Sousa</a>)
**Repository:** <a href="https://github.com/joaordaniel/qsort" target ="_blank">https://github.com/joaordaniel/qsort</a>
**Version:** v0.2.0
**Editor:** @leeper
**Reviewer:** @maxheld83
**Archive:** <a href="https://doi.org/10.5281/zenodo.1844717" target="_blank">10.5281/zenodo.1844717</a>

## Stat

[2018-08-24 13:04] whedon commented on #906
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/911. Feel free to close this issue now!

[2018-08-24 13:04] whedon commented on #911
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @maxheld83 it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-08-24 13:04] whedon commented on #911
[code]

[2018-08-24 13:04] #906 closed

[2018-08-24 13:04] whedon commented on #911
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00911/joss.00911/10.21105.joss.00911.pdf)

[2018-08-24 13:06] leeper commented on #911
@maxheld83 Here's the review issue. Above you will find a checklist of issues we would like you to complete related to the submitted software and article. If there's anything missing or if there are changes to the software you would like to see, please open Github issues on the source repository.

Let me know if you have any questions about the process. Thanks, again, for volunteering to review!

[2018-08-24 13:18] arfon commented on #849
:zap: thanks @zhampel.

@williamjameshandley - please let me know when you've had a chance to respond to @zhampel and @@FaustinCarter's feedback.

[2018-08-24 13:18] whedon opened #912 "[PRE REVIEW]: Cafebr: Citation Amender/Formatter for Biological Research"
**Submitting author:** @Stu-DT (<a href="http://orcid.org/0000-0002-4946-678X">Daisuke Tsugama</a>)
**Repository:** <a href="https://github.com/Stu-DT/Cafebr" target ="_blank">https://github.com/Stu-DT/Cafebr</a>
**Version:** v1
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @Stu-DT. The JOSS editor (shown at the top of this issue) will

[2018-08-24 13:18] whedon commented on #912
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-08-24 13:18] whedon commented on #912
[code]

[2018-08-24 13:18] whedon opened #913 "[PRE REVIEW]: PTVResearch: Robust particle tracking for all types of research applications"
**Submitting author:** @jonnyhigham (<a href="http://orcid.org/0000-0001-7577-0913">Jonathan Higham</a>)
**Repository:** <a href="https://github.com/jonnyhigham/PTVResearch" target ="_blank">https://github.com/jonnyhigham/PTVResearch</a>
**Version:** v.1.0.1
**Editor:** @lheagy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @jonnyhigham. The JOSS editor (s

[2018-08-24 13:18] whedon commented on #913
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lheagy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-08-24 13:18] whedon commented on #913
[code]

[2018-08-24 13:19] whedon commented on #912
PDF failed to compile for issue #912 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:83:in `check_fields': Paper YAML header is missing expected fields: authors, affiliations, bibliography (RuntimeError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:69:in `initialize'
	from /app/vendor/bundle/ruby/2.3.0/b

[2018-08-24 13:19] whedon commented on #913
Failed to discover a valid open source license.

[2018-08-24 13:19] arfon commented on #913
:wave: @lheagy - the submitting author suggested you as the handling editor.

[2018-08-24 13:47] zhampel commented on #849
@arfon Also, I can't find an email link on your personal websites. Can you please send me a quick email from the link provided on my own homepage [here](https://zhampel.github.io/)? Thanks.

[2018-08-24 13:52] zhampel commented on #849
@arfon sorry that github email isn't working for some reason. My academic email zhampel@icecube.wisc.edu is fine please.

[2018-08-24 13:59] jonnyhigham commented on #913
Many apologies. The license is now added.
Jonny

On Fri, Aug 24, 2018 at 9:18 AM whedon <notifications@github.com> wrote:

[2018-08-24 14:48] Stu-DT commented on #912
@whedon commands

[2018-08-24 14:48] whedon commented on #912
Here are some things you can ask me to do:

[code]

[2018-08-24 14:49] Stu-DT commented on #912
@whedon generate pdf

[2018-08-24 14:49] whedon commented on #912
[code]

[2018-08-24 14:51] whedon commented on #912
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00912/joss.00912/10.21105.joss.00912.pdf)

[2018-08-24 15:06] Stu-DT commented on #912
@whedon generate pdf

[2018-08-24 15:06] whedon commented on #912
[code]

[2018-08-24 15:08] whedon commented on #912
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00912/joss.00912/10.21105.joss.00912.pdf)

[2018-08-24 15:12] Stu-DT commented on #912
@whedon generate pdf

[2018-08-24 15:14] whedon commented on #912
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00912/joss.00912/10.21105.joss.00912.pdf)

[2018-08-24 15:44] jmborr commented on #895
@arfon Everything seems in order. Do I have to take any other step or simply wait until I'm assigned a reviewer?

[2018-08-24 15:47] whedon opened #914 "[PRE REVIEW]: DataDepsGenerators.jl: making reusing data easy by automatically generating DataDeps.jl registration code"
**Submitting author:** @oxinabox (<a href="http://orcid.org/0000-0003-1386-1646">Lyndon White</a>)
**Repository:** <a href="https://github.com/oxinabox/DataDepsGenerators.jl/" target ="_blank">https://github.com/oxinabox/DataDepsGenerators.jl/</a>
**Version:** v0.4.0
**Editor:** @arfon
**Reviewers:** @ninjin

**Author instructions**

Thanks for submitting your paper to JOSS @oxinabox. The JOSS edi

[2018-08-24 15:47] whedon commented on #914
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-08-24 15:47] whedon commented on #914
[code]

[2018-08-24 15:48] whedon commented on #914
PDF failed to compile for issue #914 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/processor.

[2018-08-24 15:55] arfon commented on #895
Yes, sorry for the delay. We're a little backed up with submissions currently and are still waiting for an editor to pick up this submission. In the meantime, if you have any suggestions for potential reviewers from [this list](https://bit.ly/joss-reviewers) feel free to mention them here.

[2018-08-24 16:04] oxinabox commented on #914
@whedon commands

What can't you find, robo-buddy?

[2018-08-24 16:04] whedon commented on #914
Here are some things you can ask me to do:

[code]

[2018-08-24 16:08] jmborr commented on #895
I would think of reviewers with python as their primary language a background in soft-matter and/or computational biology, with a hint of physics expertise. Some  suggestion:
- tacaswell
- krother
- khinsen
- andim
- afrubin
- a-slide
- conradstack
- semacu

[2018-08-24 17:16] lkosmid commented on #711
I think that the documentation is in a very good state. I only have a minor suggestion for improving the documentation ([#16](https://github.com/federeghe/chronovise/issues/16)) and one small feature to be implemented ([#15](https://github.com/federeghe/chronovise/issues/15)).

[2018-08-24 20:32] rougier commented on #876
No, I did not tried actually.

[2018-08-24 20:36] mdpiper commented on #898
The package isn't stamped with a release, so I created https://github.com/atomneb/AtomNeb-idl/issues/3 to request one. This addresses the third item in the **General checks** checklist.

[2018-08-24 21:29] mdpiper commented on #898
The package doesn't include API documentation (the fourth item in the **Documentation** checklist). I've requested this in https://github.com/atomneb/AtomNeb-idl/issues/4.

[2018-08-25 00:13] wholmgren commented on #884
@sjpfenninger @ecotillasanchez I believe we've addressed all of your helpful comments. Let us know if we're missing anything. Thanks!

[2018-08-25 03:57] raamana commented on #897
It should be ready now, I believe.

[2018-08-25 11:43] whedon opened #915 "[PRE REVIEW]: graynet: single-subject morphometric networks for neuroscience connectivity applications"
**Submitting author:** @raamana (<a href="http://orcid.org/0000-0003-4662-0558">Pradeep Reddy Raamana</a>)
**Repository:** <a href="https://github.com/raamana/graynet" target ="_blank">https://github.com/raamana/graynet</a>
**Version:** v0.3.9
**Editor:** @arokem
**Reviewers:** rougier

**Author instructions**

Thanks for submitting your paper to JOSS @raamana. The JOSS editor (shown at the top of

[2018-08-25 11:43] whedon commented on #915
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arokem it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-08-25 11:43] whedon commented on #915
[code]

[2018-08-25 11:43] whedon commented on #915
PDF failed to compile for issue #915 with the following error:

 Can't find any papers to compile :-(

[2018-08-25 11:43] arfon commented on #915
:wave: @arokem - the submitting author suggested you as the handling editor

[2018-08-25 11:44] arfon commented on #915
@whedon generate pdf

[2018-08-25 11:44] whedon commented on #915
[code]

[2018-08-25 11:44] whedon commented on #915
PDF failed to compile for issue #915 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    14    0    14    0     0    166      0 --:--:-- --:--:-- --:--:--   168
pandoc-citeproc: r

[2018-08-25 11:49] arfon commented on #912
Hi @Stu-DT, many thanks for your submission to JOSS. Unfortunately, this submission is considered out of scope for JOSS, quoting from our [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements):

[2018-08-25 11:49] #912 closed

[2018-08-25 13:31] raamana commented on #915
@whedon generate pdf

[2018-08-25 13:32] whedon commented on #915
[code]

[2018-08-25 13:32] whedon commented on #915
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00915/joss.00915/10.21105.joss.00915.pdf)

[2018-08-25 14:30] raamana commented on #915
@whedon generate pdf

[2018-08-25 14:30] whedon commented on #915
[code]

[2018-08-25 14:31] whedon commented on #915
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00915/joss.00915/10.21105.joss.00915.pdf)

[2018-08-25 15:46] ian-taylor commented on #830
Its quite hard to get going on this without creating your own workflow from scratch.  None of the examples in the examples directory work as is.  To get any of these to work, as stated in each example you need to "Update config/storage.yaml with the appropriate storage tiers and specify the datadir to make this example work"

Now, the madats_workflow.yaml is generic and consists of two tasks.  The

[2018-08-25 22:36] jsgalan commented on #876
@rougier after the pip install networkx==1.11 some parts of the tests where smooth. you might want to try.

[2018-08-26 20:26] kyleniemeyer commented on #877
A few comments on the paper:

- The second sentence is a little confusing due to the comma use: "The autocorrelation, the correlation between two time-series, the mean-square displacement, and the cross-displacement (for off-diagonal realisations of Brownian motion), allow...". Perhaps something like this would be more clear? "The autocorrelation (the correlation between two time-series), the mean

[2018-08-26 20:33] miykael commented on #897
Perfect! I have a conference and workshop coming up in the next 10 days but will start reviewing in the time between and finalize the review shortly after.

[2018-08-26 23:05] leeper commented on #764
@evan-l-munson Just another nudge on this.

[2018-08-27 00:58] cMadan commented on #862
While supporting both Python 2 and 3 is admirable, at some point you will have to drop Python 2 support since that's inevitable and happing fast (e.g., see https://python3statement.org). If there are issues currently in trying to remain cross-compatible, my inclination is to stick with just Python 3 already--and then streamline the install experience for that procedure. Ultimately the decision is

[2018-08-27 01:00] cMadan commented on #600
@plooney, can you let me know how/if you want to proceed with the review here?

[2018-08-27 01:02] cMadan commented on #813
@dbrookswr, do you have any other suggestions for reviewers, or plans on using the packaging guide (or leaving it as-is) ?

[2018-08-27 01:25] dbrookswr commented on #813
We are happy with it.  Dan

On Sun, Aug 26, 2018 at 6:02 PM Christopher Madan <notifications@github.com>
wrote:

[2018-08-27 06:18] serine commented on #583
@pjotrp sorry about the wait, was away for a week and was playing catch up. I just made another release that is hooked to zenodo. https://zenodo.org/account/settings/github/repository/MonashBioinformaticsPlatform/RNAsik-pipe

I didn't realise before that I could have "annotated" any of my previous releases and that would have showed up in zenodo. I thought that after setting up a webhook zenodo wa

[2018-08-27 07:14] Kevin-Mattheus-Moerman commented on #913
@jonnyhigham your submission currently only contains various "matlab project" and matlab app and app installation files. These are not deemed source code. If these files are one of the ways for users to install this work that is fine but for your work to be considered in JOSS you need to also provide the full source code for this submission. For instance add a folder containing all source .m files

[2018-08-27 07:35] Kevin-Mattheus-Moerman commented on #908
@danielhatton thanks for your submission.
One of the JOSS [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) is:

It is clear to me that this work offers a useful means to automate the creation of 2D drawings for FreeCAD 3D models (which are BS 8888:2011 compliant). However can you elaborate on the use of the software in research, and how it ma

[2018-08-27 07:38] oxinabox commented on #914
@whedon generate pdf

Try again buddy

[2018-08-27 07:38] whedon commented on #914
[code]

[2018-08-27 07:38] whedon commented on #914
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00914/joss.00914/10.21105.joss.00914.pdf)

[2018-08-27 07:41] scls19fr commented on #268
@whedon generate pdf

[2018-08-27 07:41] whedon commented on #268
[code]

[2018-08-27 07:42] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-27 07:42] oxinabox commented on #914
@whedon generate pdf

[2018-08-27 07:42] whedon commented on #914
[code]

[2018-08-27 07:43] whedon commented on #914
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00914/joss.00914/10.21105.joss.00914.pdf)

[2018-08-27 08:32] goldingn commented on #847
@boyanangelov sorry for being so slow with the code review. I've been away for a few weeks, but have tomorrow afternoon blocked out to get my comments to you!

[2018-08-27 09:31] pjotrp commented on #583
@arfon I believe we are good to accept this submission!

[2018-08-27 09:33] pjotrp commented on #583
@whedon set 10.5281/zenodo.1403976 as archive

[2018-08-27 09:33] whedon commented on #583
OK. <a href="https://doi.org/10.5281/zenodo.1403976" target="_blank">10.5281/zenodo.1403976</a> is the archive.

[2018-08-27 09:34] fabian-s commented on #910
@dirmeier "generate pdf" might be an author command --
can you try to get whedon to re-generate your updated paper so I can check the missing checkmarks ;)

[2018-08-27 09:34] dirmeier commented on #910
@whedon generade pdf

[2018-08-27 09:35] dirmeier commented on #910
@whedon generate pdf

[2018-08-27 09:35] whedon commented on #910
[code]

[2018-08-27 09:35] whedon commented on #910
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00910/joss.00910/10.21105.joss.00910.pdf)

[2018-08-27 09:40] fabian-s commented on #910
well damn! that worked!

@karthik: this is done (and very well done, too, @dirmeier!) except the fact that the version is off by one (says 0.2.7 in my checklist above, is now at 0.2.8) -- does that matter? can you correct from your side?

[2018-08-27 10:58] serine commented on #583
Awesome !!! thanks heaps everyone !

[2018-08-27 11:01] boyanangelov commented on #847
@goldingn no worries. Take your time :)

[2018-08-27 12:37] arfon commented on #583
@andrewyatz @mr-c - many thanks for your reviews here and to @pjotrp for editing this submission ✨

@serine - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00583 :zap: :rocket: :boom:

[2018-08-27 12:37] #583 closed

[2018-08-27 12:37] whedon commented on #583
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00583/status.svg)](https://doi.org/10.21105/joss.00583)

**We need your help!**

Journal of Open Source Softwar

[2018-08-27 13:31] jasonclark commented on #892
Hi, @cmccom, would you have the chance to look at this software and do second review in the next couple of weeks?

[2018-08-27 13:47] marianux commented on #671
Hi all, my suggestion was to collaborate with another open-source project
that already did the same. IMHO the work was important, but not enough
different from others already published.

Best,
M.

El lun., 27 de ago. de 2018 a la(s) 04:23, Kevin Mattheus Moerman (
notifications@github.com) escribió:

[2018-08-27 14:47] federeghe commented on #711
@lkosmid Thank you for the suggestions and the detailed comments, issues federeghe/chronovise#15 and federeghe/chronovise#16 have been fixed.

[2018-08-27 14:54] jonnyhigham commented on #913
@Kevin-Mattheus-Moerman <http://biomech.media.mit.edu/kevin-m-moerman/> I
have now uploaded a .m file. However, the app itself is written in Matlab's
new AppDesigner (a drastic update to GUIDE). All of the code is actually in
the .mlapp file, this can be edited by typing  " appdesigner
PTVResearch.mlapp "  into Matlab. I decided to go this route as it seems
MathWorks are supporting more the develo

[2018-08-27 14:57] dghoshal-lbl commented on #830
@ian-taylor The example section in Readme lists the steps to create a workflow of your own. But I think you are asking for a script or a sample workflow that you can tweak to build your own workflow. Is that correct?

[2018-08-27 15:25] lkosmid commented on #711
@federeghe Thank you for applying the suggestions! I only have a very minor comment for [#16](https://github.com/federeghe/chronovise/issues/16)

[2018-08-27 16:34] katyhuff commented on #884
Thanks for quickly handling all of the reviewer comments @wholmgren ! It looks to me like the comments from @sjpfenninger and @ecotillasanchez have been handled. @sjpfenninger and @ecotillasanchez can you confirm that you approve these changes? Once you confrim, we'll be ready to move forward with acceptance.

[2018-08-27 16:34] mdpiper commented on #899
I created https://github.com/equib/proEQUIB/pull/1 to add a short note on installing the proEQUIB library. This addresses item 2 in the Documentation checklist.

[2018-08-27 16:38] ecotillasanchez commented on #884
Confirmed. Thanks!

[2018-08-27 17:18] scls19fr commented on #268
@whedon generate pdf

[2018-08-27 17:18] whedon commented on #268
[code]

[2018-08-27 18:00] karthik commented on #910
@fabian-s The Whedon commands are only for the editors. Thanks for checking in regarding the version issue. That is not a problem and generally to be expected. Authors will submit a version, but in the process of revisions end up bumping to something higher. That is typically what we expect.

[2018-08-27 18:02] karthik commented on #910
@dirmeier The next step is for you to archive this software on [Zenodo](https://zenodo.org/). Please follow instructions there (making sure to input all metadata) and then update this thread with your DOI. Once I have that, I can proceed with acceptance.

And thanks so much @fabian-s for a timely review! We really appreciate it. 🙏

[2018-08-27 18:04] arfon commented on #913
@whedon list editors

[2018-08-27 18:04] whedon commented on #913
Current editors:

[code]

[2018-08-27 18:28] scls19fr commented on #268
@whedon generate pdf

[2018-08-27 18:28] whedon commented on #268
[code]

[2018-08-27 18:29] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-27 18:43] pdebuyl commented on #877
@whedon generate pdf

[2018-08-27 18:43] whedon commented on #877
[code]

[2018-08-27 18:43] whedon commented on #877
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00877/joss.00877/10.21105.joss.00877.pdf)

[2018-08-27 18:48] kyleniemeyer commented on #877
@pdebuyl looks good, thanks! Please now archive this latest version with the updated paper (1.0.1, maybe?) and provide the DOI, and we'll be done.

[2018-08-27 18:56] dirmeier commented on #910
Hello @karthik , the DOI is 10.5281/zenodo.1404281. Thanks for everything.

[2018-08-27 19:05] karthik commented on #910
@whedon set 10.5281/zenodo.1404281 as archive

[2018-08-27 19:05] whedon commented on #910
OK. <a href="https://doi.org/10.5281/zenodo.1404281" target="_blank">10.5281/zenodo.1404281</a> is the archive.

[2018-08-27 19:06] karthik commented on #910
@whedon generate pdf

[2018-08-27 19:06] whedon commented on #910
[code]

[2018-08-27 19:07] hooman650 commented on #671
Thank you, just felt like to leave a short note in regards to the research importance of BioSigKit. Please see below 35 "peer-reviewed" citations in regards to only "three" subroutines of BioSigKit:
![citations](https://user-images.githubusercontent.com/22506603/44679407-e304c100-aa08-11e8-8fd2-43367ea54670.PNG)

I have created BioSigKit based on numerous requests from fellow researchers that were

[2018-08-27 19:07] whedon commented on #910
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00910/joss.00910/10.21105.joss.00910.pdf)

[2018-08-27 19:10] karthik commented on #910
@dirmeier Congrats, your paper has been accepted! @fabian-s Thanks so much for the prompt review, we really appreciate it.

@arfon this is ready to process.

[2018-08-27 19:32] dirmeier commented on #910
Cool, that's great. Thanks @karthik and thanks for the review again @fabian-s

[2018-08-27 19:34] jedbrown commented on #825
I notice the requirement `ruamel.yaml<=0.15` which would allow 0.15.0, but not 0.15.1. Is that really intentional? I also notice that ruamel.yaml 0.15.0 is not compatible with Python-3.7 and that Calliope is not compatible with current ruamel.yaml (at least because it now returns a type that implements the dict interface, but is not an instance of `dict`).

I think the reviews above are sufficient

[2018-08-27 19:37] ejhigson commented on #874
Hi @arfon - maybe mattpitkin and one of ziotom78 and nespinoza would be a good pair of reviewers? I'm happy to wait until the latter gets back from vacation. Thanks very much!

[2018-08-27 19:40] pdebuyl commented on #877
Hi @kyleniemeyer , thanks for the editing. The doi for 1.0.1 is https://doi.org/10.5281/zenodo.1404296

[2018-08-27 20:11] benjaminrose commented on #874
Sorry for the delayed response. But I am in the middle of relocating for a new job so I just don't have the time. I hope you can get this review done as quickly and smoothly as possible.

[2018-08-27 20:31] kyleniemeyer commented on #877
@whedon set 10.5281/zenodo.1404296 as archive

[2018-08-27 20:31] whedon commented on #877
OK. <a href="https://doi.org/10.5281/zenodo.1404296" target="_blank">10.5281/zenodo.1404296</a> is the archive.

[2018-08-27 20:53] pdebuyl commented on #877
Thanks @kyleniemeyer @malramsay64 @richardjgowers @arfon for editing and reviewing!

[2018-08-27 21:56] lkosmid commented on #711
@federeghe Thank you for addressing all the comments. I don't have anything else, the review is complete. I have checked the last remaining item in the above checklist.
@danielskatz What are the next steps?

[2018-08-27 22:44] danielskatz commented on #711
Thanks very much @lkosmid

@federeghe , please archive the current version of the repository in zenodo or similar, and let me know the DOI.

[2018-08-27 23:05] arfon commented on #910
@fabian-s many thanks for your review here and to @karthik for editing this submission ✨

@dirmeier - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00910 :zap: :rocket: :boom:

[2018-08-27 23:05] #910 closed

[2018-08-27 23:05] whedon commented on #910
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00910/status.svg)](https://doi.org/10.21105/joss.00910)

**We need your help!**

Journal of Open Source Softwar

[2018-08-27 23:07] arfon commented on #877
@richardjgowers, @malramsay64 - many thanks for your reviews here and to @kyleniemeyer for editing this submission ✨

@pdebuyl - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00877 :zap: :rocket: :boom:

[2018-08-27 23:07] #877 closed

[2018-08-27 23:07] whedon commented on #877
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00877/status.svg)](https://doi.org/10.21105/joss.00877)

**We need your help!**

Journal of Open Source Softwar

[2018-08-28 00:43] arfon commented on #874
:wave: @ziotom78 & @mattpitkin - thanks for agreeing to review this submission! @nespinoza - thanks for volunteering too but I think we have sufficient help with this review now ✨

[2018-08-28 00:43] arfon commented on #874
@whedon assign @arfon as editor

[2018-08-28 00:43] whedon commented on #874
OK, the editor is @arfon

[2018-08-28 00:43] arfon commented on #874
@whedon add @ziotom78 as reviewer

[2018-08-28 00:43] whedon commented on #874
OK, @ziotom78 is now a reviewer

[2018-08-28 00:43] arfon commented on #874
@whedon add @mattpitkin as review

[2018-08-28 00:44] arfon commented on #874
@whedon add @mattpitkin as reviewer

[2018-08-28 00:44] whedon commented on #874
OK, @mattpitkin is now a reviewer

[2018-08-28 00:44] arfon commented on #874
@whedon start review

[2018-08-28 00:44] whedon opened #916 "[REVIEW]: nestcheck: error analysis, diagnostic tests and plots for nested sampling calculations"
**Submitting author:** @ejhigson (<a href="http://orcid.org/0000-0001-8383-4614">Edward Higson</a>)
**Repository:** <a href="https://github.com/ejhigson/nestcheck" target ="_blank">https://github.com/ejhigson/nestcheck</a>
**Version:** v0.1.5
**Editor:** @arfon
**Reviewer:** @ziotom78, @mattpitkin
**Archive:** <a href="https://doi.org/10.5281/zenodo.1418657" target="_blank">10.5281/zenodo.1418657<

[2018-08-28 00:44] whedon commented on #874
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/916. Feel free to close this issue now!

[2018-08-28 00:44] whedon commented on #916
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ziotom78, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-08-28 00:44] whedon commented on #916
[code]

[2018-08-28 00:45] arfon commented on #874
@ziotom78, @mattpitkin - thanks again for agreeing to review this submission. See you over in #916 for the actual review.

[2018-08-28 00:45] #874 closed

[2018-08-28 00:45] whedon commented on #916
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00916/joss.00916/10.21105.joss.00916.pdf)

[2018-08-28 03:18] juliohm commented on #914
I'd be happy to review @oxinabox after my PhD defense tomorrow :)

Thanks for pinging.

Cheers,

[2018-08-28 03:42] viktor76525 commented on #808
Thanks for the suggestions @hugoledoux
GMSimViz now works with Python 3 (3.6 tested with the sample dataset)
The installation has been streamlined (no more manual editing of the text file)
I will quickly add the URLs for the Python packages listed but note that they require the backends too, these should be installed automatically if using a package manager.

[2018-08-28 06:54] williamjameshandley commented on #849
@whedon generate pdf

[2018-08-28 06:54] whedon commented on #849
[code]

[2018-08-28 06:54] whedon commented on #849
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00849/joss.00849/10.21105.joss.00849.pdf)

[2018-08-28 07:03] goldingn commented on #847
@whedon commands

[2018-08-28 07:03] whedon commented on #847
Here are some things you can ask me to do:

[code]

[2018-08-28 07:03] goldingn commented on #847
@whedon generate pdf

[2018-08-28 07:03] whedon commented on #847
[code]

[2018-08-28 07:04] whedon commented on #847
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00847/joss.00847/10.21105.joss.00847.pdf)

[2018-08-28 07:05] goldingn commented on #847
Wow, thanks @whedon! I for one welcome ... etc.

[2018-08-28 07:26] williamjameshandley commented on #849
@zhampel

I find one often needs to force refresh the cache in order to see updates

Done

I've added some more tests to this, so that each separate test actually runs `image_comparison` tests. Tests and figures also uploaded to PyPi.

Added a note to the README.rst

@arfon I believe that I have now addressed all the issues raised

[2018-08-28 07:26] williamjameshandley commented on #849
@whedon generate pdf

[2018-08-28 07:26] whedon commented on #849
[code]

[2018-08-28 07:27] whedon commented on #849
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00849/joss.00849/10.21105.joss.00849.pdf)

[2018-08-28 07:30] george-githinji commented on #905
Hello @ctb, Kindly let me know how you are getting along with the review process and if you need any assistance.

[2018-08-28 07:45] sjpfenninger commented on #884
I also confirm!

[2018-08-28 07:57] scls19fr commented on #268
@whedon generate pdf

[2018-08-28 07:57] whedon commented on #268
[code]

[2018-08-28 07:57] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-28 08:14] sjpfenninger commented on #825
Thanks @jedbrown for raising the `ruamel.yaml` requirement issue. The version pinning is based on the [ruamel.yaml README](https://pypi.org/project/ruamel.yaml/):

Not providing Python 3.7 compatibility is certainly issue. We will investigate this. I don't think there's a quick fix, as we'll have to make some changes to our internals.

[2018-08-28 09:14] federeghe commented on #711
Zenodo DOI: 10.5281/zenodo.1404670

Thank you

[2018-08-28 09:46] scls19fr commented on #268
@whedon generate pdf

[2018-08-28 09:46] whedon commented on #268
[code]

[2018-08-28 09:47] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-28 09:51] scls19fr commented on #268
@whedon generate pdf

[2018-08-28 09:51] whedon commented on #268
[code]

[2018-08-28 09:52] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-28 11:35] arfon commented on #849
@williamjameshandley - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-08-28 11:41] whedon opened #917 "[PRE REVIEW]: hIPPYlib: An Extensible Software Framework for Large-Scale Inverse Problems"
**Submitting author:** @uvilla (<a href="http://orcid.org/0000-0002-5142-2559">Umberto Villa</a>)
**Repository:** <a href="https://github.com/hippylib/hippylib" target ="_blank">https://github.com/hippylib/hippylib</a>
**Version:** 2.1.0
**Editor:** @lheagy
**Reviewers:** @IgorBaratta, @boehmc

**Author instructions**

Thanks for submitting your paper to JOSS @uvilla. The JOSS editor (shown at the

[2018-08-28 11:41] whedon commented on #917
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-08-28 11:41] whedon commented on #917
[code]

[2018-08-28 11:41] whedon opened #918 "[PRE REVIEW]: nb: Naive Bayes Model in R"
**Submitting author:** @renatorrsilva (<a href="http://orcid.org/0000-0002-1934-8141">Renato</a>)
**Repository:** <a href="https://github.com/renatorrsilva/nb" target ="_blank">https://github.com/renatorrsilva/nb</a>
**Version:** v0.1.0
**Editor:** @pjotrp
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @renatorrsilva. The JOSS editor (shown at the top of t

[2018-08-28 11:41] whedon commented on #918
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-08-28 11:41] whedon commented on #918
[code]

[2018-08-28 11:41] whedon opened #919 "[PRE REVIEW]: imager: an R package for image processing"
**Submitting author:** @dahtah (<a href="http://orcid.org/0000-0003-0174-5058">Simon BARTHELME</a>)
**Repository:** <a href="https://github.com/dahtah/imager" target ="_blank">https://github.com/dahtah/imager</a>
**Version:** 0.41.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @jeroen, @NikEfth

**Author instructions**

Thanks for submitting your paper to JOSS @dahtah. The JOSS editor (shown

[2018-08-28 11:41] whedon commented on #919
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Kevin-Mattheus-Moerman it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-08-28 11:41] whedon commented on #919
[code]

[2018-08-28 11:41] whedon commented on #918
PDF failed to compile for issue #918 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:90:in `block in check_orcids': undefined method `has_key?' for ["name", "Renato Rodrigues Silva"]:Array (NoMethodError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.3.0/bundle

[2018-08-28 11:41] whedon commented on #917
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00917/joss.00917/10.21105.joss.00917.pdf)

[2018-08-28 11:41] arfon commented on #919
:wave: @Kevin-Mattheus-Moerman - the submitting author suggested you as the handling editor.

[2018-08-28 11:42] whedon commented on #919
PDF failed to compile for issue #919 with the following error:

 /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `block in find': No such file or directory (Errno::ENOENT)
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.3.4/lib/ruby/2.3.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon/processor.

[2018-08-28 11:43] whedon commented on #919
Failed to discover a valid open source license.

[2018-08-28 11:45] arfon commented on #919
@whedon generate pdf

[2018-08-28 11:45] whedon commented on #919
[code]

[2018-08-28 11:46] whedon commented on #919
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00919/joss.00919/10.21105.joss.00919.pdf)

[2018-08-28 11:52] ViniciusBRodrigues commented on #909
Hi @karthik,

It's everything fine right now. Review is complete. Many thanks!

[2018-08-28 11:57] williamjameshandley commented on #849
@arfon [Zenodo Link](https://zenodo.org/record/1404584#.W4U4fnUzq00)

[2018-08-28 12:53] danielskatz commented on #711
@whedon set 10.5281/zenodo.1404670 as archive

[2018-08-28 12:53] whedon commented on #711
OK. <a href="https://doi.org/10.5281/zenodo.1404670" target="_blank">10.5281/zenodo.1404670</a> is the archive.

[2018-08-28 12:54] danielskatz commented on #910
just a note that one of the items in the review is not checked, though this has been accepted.

[2018-08-28 12:54] danielskatz commented on #711
@whedon generate pdf

[2018-08-28 12:54] whedon commented on #711
[code]

[2018-08-28 12:55] whedon commented on #711
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00711/joss.00711/10.21105.joss.00711.pdf)

[2018-08-28 12:56] danielskatz commented on #711
👋  @arfon, over to you to finish the acceptance

[2018-08-28 13:27] arfon commented on #849
@whedon set 10.5281/zenodo.1404584 as archive

[2018-08-28 13:27] whedon commented on #849
OK. <a href="https://doi.org/10.5281/zenodo.1404584" target="_blank">10.5281/zenodo.1404584</a> is the archive.

[2018-08-28 14:51] lebebr01 commented on #813
I apologize for the delayed response, I was on vacation during the original ping. I would be happy to review, however, in my quick 3 minute look at the repo there is no indication about how to install the software. In addition, as Ben noted, the package does not follow common or required R package guidelines.

Therefore, in it's current form I would decline to review and also second Ben's comment

[2018-08-28 15:00] uvilla commented on #917
@whedon commands

[2018-08-28 15:01] uvilla commented on #917
@whedon generate pdf

[2018-08-28 15:01] whedon commented on #917
[code]

[2018-08-28 15:01] whedon commented on #917
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00917/joss.00917/10.21105.joss.00917.pdf)

[2018-08-28 16:15] uvilla commented on #917
Suggested reviewers

- @IgorBaratta: `hIPPYlib` relies on `FEniCS` for the discretization of the PDE, and for generating weak forms for the adjoint and incrementals problem. Since @IgorBaratta is a `FEniCS` developer he might be interested in reviewing `hIPPYlib`.

- @lheagy: She is working on inverse problem with geophysical applications

[2018-08-28 16:40] arfon commented on #849
@FaustinCarter, @zhampel - many thanks for your reviews here ✨

@williamjameshandley - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00849 :zap: :rocket: :boom:

[2018-08-28 16:40] #849 closed

[2018-08-28 16:40] whedon commented on #849
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00849/status.svg)](https://doi.org/10.21105/joss.00849)

**We need your help!**

Journal of Open Source Softwar

[2018-08-28 16:52] karthik commented on #909
Thanks @ViniciusBRodrigues!

[2018-08-28 16:59] karthik commented on #909
@davidnsousa Can you please archive your software on [Zenodo](https://zenodo.org/) with the appropriate metadata and post the DOI here? 🙏

[2018-08-28 17:02] davidnsousa commented on #909
hello @karthik! The software is already archived in zenodo. Here is the DOI ![image](https://user-images.githubusercontent.com/5941390/44738244-3734a180-aaec-11e8-9adf-40e2de6e5b6d.png)

Thank you

[2018-08-28 17:17] karthik commented on #909
@davidnsousa did you archive before or after the review?

[2018-08-28 17:27] davidnsousa commented on #909
@karthik before the review

[2018-08-28 17:34] karthik commented on #909
@davidnsousa In that case you'll need to create a new Zenodo release and post that DOI here.

[2018-08-28 17:45] davidnsousa commented on #909
@karthik here it is
![image](https://user-images.githubusercontent.com/5941390/44740510-8f6ea200-aaf2-11e8-8756-228d4586ef54.png)

[2018-08-28 17:51] karthik commented on #909
@whedon set 10.5281/zenodo.1405098 as archive

[2018-08-28 17:51] whedon commented on #909
OK. <a href="https://doi.org/10.5281/zenodo.1405098" target="_blank">10.5281/zenodo.1405098</a> is the archive.

[2018-08-28 17:52] karthik commented on #909
@whedon generate pdf

[2018-08-28 17:52] whedon commented on #909
[code]

[2018-08-28 17:53] whedon commented on #909
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00909/joss.00909/10.21105.joss.00909.pdf)

[2018-08-28 17:57] karthik commented on #909
Congrats @davidnsousa, your paper has been accepted. And thank you @ViniciusBRodrigues for the fast and timely review!  🎉

@arfon over to you for final processing.

[2018-08-28 17:58] davidnsousa commented on #909
Thank you guys!! :D

[2018-08-28 19:17] karthik commented on #785
@kylehamilton Gentle ping to see if you are able to wrap your review soon?

[2018-08-28 19:18] karthik commented on #727
Hi @economistgame Another gentle ping to get this wrapped up. If you are unable to continue this review please also let us know.

[2018-08-28 22:18] palash1992 commented on #876
@rougier : Let me know if the issue still persists

[2018-08-29 00:32] arfon commented on #711
@lkosmid - many thanks for your review here and to @danielskatz for editing this submission ✨

@federeghe - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00711 :zap: :rocket: :boom:

[2018-08-29 00:32] #711 closed

[2018-08-29 00:32] whedon commented on #711
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00711/status.svg)](https://doi.org/10.21105/joss.00711)

**We need your help!**

Journal of Open Source Softwar

[2018-08-29 01:52] arfon commented on #909
@ViniciusBRodrigues - many thanks for your review here and to @karthik for editing this submission ✨

@davidnsousa - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00909 :zap: :rocket: :boom:

[2018-08-29 01:52] #909 closed

[2018-08-29 01:52] whedon commented on #909
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00909/status.svg)](https://doi.org/10.21105/joss.00909)

**We need your help!**

Journal of Open Source Softwar

[2018-08-29 05:41] davidnsousa commented on #909
@arfon thank you! There are just two things that I have just notice. 1) the first reference in the text (Sousa & Daniel, 2018) should point to the DOI of the package in References but the DOI does not appear. Can I still remove this reference maybe it is not necessary. 2) The group of references in the first paragraph 1974, 1998 and 1993 does not appear to be in the right format in the text. Sorry

[2018-08-29 08:18] danielhatton commented on #908
On 27 August 2018 08:35:52 BST, Kevin Mattheus Moerman <notifications@github.com> wrote:

Good idea.  I'll dig out some relevant supporting literature and add an appropriate paragraph to the paper.  It might take me a couple of weeks, due to near-term undergraduate teaching commitments.

________________________________
[http://www.plymouth.ac.uk/images/email_footer.gif]<http://www.plymouth.ac.uk/

[2018-08-29 08:27] schalkdaniel commented on #894
Hi, the editor assignment is now pending for 2 weeks. Is there anything I can do to speed up the process?

[2018-08-29 10:55] arfon commented on #909
@whedon generate pdf

[2018-08-29 10:55] whedon commented on #909
[code]

[2018-08-29 10:55] whedon commented on #909
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00909/joss.00909/10.21105.joss.00909.pdf)

[2018-08-29 10:58] arfon commented on #909
@davidnsousa - I suspect this is just the APA style for `@manual` etc. based on your entries in the bibtex: https://github.com/davidnsousa/bor/blob/master/paper.bib

Feel free to experiment with modifications to your bibtex here (in `master` on your repository) and use @whedon to rebuild the paper with `@whedon generate pdf`

[2018-08-29 10:59] arfon commented on #894
Apologies. We're very busy right now. I'll see if I can encourage some of our editors to get this moving.

[2018-08-29 11:02] whedon opened #920 "[PRE REVIEW]: bem: Modeling for Neutron Bragg-Edge Imaging"
**Submitting author:** @Yxqd (<a href="http://orcid.org/0000-0001-9233-0100">Jiao Lin</a>)
**Repository:** <a href="https://github.com/ornlneutronimaging/braggedgemodeling" target ="_blank">https://github.com/ornlneutronimaging/braggedgemodeling</a>
**Version:** v0.1.1
**Editor:** @katyhuff
**Reviewers:** @stuartcampbell, @mikapfl, @katyhuff

**Author instructions**

Thanks for submitting your pap

[2018-08-29 11:02] whedon commented on #920
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-08-29 11:02] whedon commented on #920
[code]

[2018-08-29 11:03] whedon commented on #920
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00920/joss.00920/10.21105.joss.00920.pdf)

[2018-08-29 11:07] arfon commented on #920
:wave: @lheagy - would you be able to edit this submission for JOSS?

[2018-08-29 11:10] arfon commented on #917
:wave: @lheagy - would you be willing to edit this submission for JOSS?

[2018-08-29 11:11] arfon commented on #895
:wave: @mgymrek - would you be willing to edit this submission for JOSS?

[2018-08-29 11:14] arfon commented on #788
Hi @cenonn, please respond to @katyhuff's feedback when you get a chance.

[2018-08-29 11:15] davidnsousa commented on #909
@whedon generate pdf

[2018-08-29 11:15] whedon commented on #909
[code]

[2018-08-29 11:15] whedon commented on #909
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00909/joss.00909/10.21105.joss.00909.pdf)

[2018-08-29 11:31] davidnsousa commented on #909
@arfon thank you! These issues are now corrected!

[2018-08-29 11:59] schalkdaniel commented on #894
Thanks, sorry for rushing you. :)

[2018-08-29 13:29] Kevin-Mattheus-Moerman commented on #810
@stenskjaer thanks for your submission. From reading your paper it seems your work is a useful package to automate the disambiguation of identical words e.g. when writing critical notes. It is unclear to me however how this work is relevant to research (I am not an expert in this field). The [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) st

[2018-08-29 13:31] whedon commented on #802
OK, the editor is @Kevin-Mattheus-Moerman

[2018-08-29 13:48] Kevin-Mattheus-Moerman commented on #802
@mlgill @MikeInnes @rcurtin @rasbt @ysimillides @thomasabeel @tovbinm would you be able to review this submission for the [ _Journal of Open Source Software_ (JOSS)](http://joss.theoj.org/).
Review is focused on the [software :floppy_disk:](http://joss.theoj.org/) on a [short paper :page_facing_up: ](https://github.com/openjournals/joss-papers/blob/joss.00802/joss.00802/10.21105.joss.00802.pdf).

[2018-08-29 13:59] rcurtin commented on #802
@Kevin-Mattheus-Moerman I'd be happy to help JOSS but I don't speak Scala (and don't have the time right now to bring myself up to speed enough in it).  Perhaps I can be more helpful for a C++ submission in the future?

[2018-08-29 14:54] chasemc commented on #804
I think mass spec is especially well covered.  I went through the google doc again and think the following people (in no specific order) would also be qualified for review.
@juanvillada
@road2stat
@skummerf
@mschubert
@semacu

[2018-08-29 16:35] renatorrsilva commented on #918
Dear,

The line command

@whedon commands

Does not work.

2018-08-28 8:41 GMT-03:00 whedon <notifications@github.com>:

[2018-08-29 16:45] renatorrsilva commented on #918
Recently, I 've submitted a paper to the journal called the journal open
source software and I received
an instruction from @whedom.

However ,

the line commands

@whedon commands

does not work and I received a error message by email.

I am completely lost. Can I help me with this?

Thank you.

2018-08-28 8:41 GMT-03:00 whedon <notifications@github.com>:

[2018-08-29 17:04] rasbt commented on #802
@Kevin-Mattheus-Moerman Unfortunately, I have to pass, too. My Scala skills are practically non-existent.

[2018-08-29 18:38] arokem commented on #918
@whedon commands

[2018-08-29 18:38] whedon commented on #918
Here are some things you can ask me to do:

[code]

[2018-08-29 18:39] arokem commented on #918
@renatorrsilva : the way to use the whedon bot is to go to the GitHub web interface and enter exactly just one line into the comment box, containing `@whedon` followed by the command you want executed. For example:

[2018-08-29 18:39] arokem commented on #918
@whedon generate pdf

[2018-08-29 18:40] whedon commented on #918
[code]

[2018-08-29 18:40] whedon commented on #918
PDF failed to compile for issue #918 with the following error:

 /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:90:in `block in check_orcids': undefined method `has_key?' for ["name", "Renato Rodrigues Silva"]:Array (NoMethodError)
	from /app/vendor/bundle/ruby/2.3.0/bundler/gems/whedon-e0f72c5e8125/lib/whedon.rb:89:in `each'
	from /app/vendor/bundle/ruby/2.3.0/bundle

[2018-08-29 19:46] dghoshal-lbl commented on #830
@ian-taylor I think I have a few examples in the source tree. I will check those and see if I can add a few lines in the readme/user-guide on how to use those and build your own workflows using the examples as a reference. Hopefully that will help.

[2018-08-29 19:46] arokem commented on #915
@whedon assign arokem as editor

[2018-08-29 19:46] whedon commented on #915
OK, the editor is arokem

[2018-08-29 19:46] arokem commented on #915
@raamana : do you have any suggestions for reviewers?

[2018-08-29 20:50] Kevin-Mattheus-Moerman commented on #802
@mandar2812 if you have any suggestions for reviewers please let me know.

[2018-08-29 21:01] uvilla commented on #917
@whedon list reviewers

[2018-08-29 21:01] whedon commented on #917
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-08-29 22:03] mandar2812 commented on #802
@Kevin-Mattheus-Moerman : Amongst the reviewers you proposed @tovbinm works with Scala (from his GitHub profile).

As a start, I propose @eaplatanios @sbrunk @lucataglia @aishfenton @maxpumperla @mbhushan
I can look for more members in the Scala ML community, if needed.

[2018-08-29 22:18] raamana commented on #915
Thanks Ariel for agreeing to handle this. Let me think about potential reviewers and get back to you!

[2018-08-29 22:47] raamana commented on #915
How about https://github.com/rougier or https://github.com/nirum?

[2018-08-30 01:15] tovbinm commented on #802
I would be glad to help, not sure how though ;) Which aspect of the project should be reviewed? What are the criteria?

[2018-08-30 02:47] evan-l-munson commented on #764
Thank you for the reminder.  I have not forgotten.

Sent from my iPhone

[2018-08-30 04:09] vc1492a commented on #845
@Kevin-Mattheus-Moerman I have addressed the issues raised by @yzhao062. Additional documentation for parameter has been added to the readme, and a series of automated tests are available in the `tests` directory (using `pytest`). Additionally, examples have been added to the `examples` directory. Please let me know if there's any additional items I should address.

[2018-08-30 04:36] lheagy commented on #917
Hi @arfon, I am happy to edit this submission!

[2018-08-30 04:40] lheagy commented on #920
Hi @arfon, this is a ways outside of my background, I can help if need be, but this might be closer to @katyhuff's background??

[2018-08-30 05:47] rougier commented on #876
@palash1992 Just did and it works (with some warnings though)

[2018-08-30 07:55] Kevin-Mattheus-Moerman commented on #806
@stavness would you be interested in reviewing this work?

[2018-08-30 08:02] Kevin-Mattheus-Moerman commented on #806
@chrisdembia @sohapouya @modenaxe @demotu would you be interested in reviewing this for the [Journal of Open Source Software](http://joss.theoj.org/)? [The review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#the-joss-review-process) focuses on [the software :floppy_disk:](https://github.com/anmuller/CusToM) as well as a very [short paper :page_facing_up:](https://github.

[2018-08-30 08:06] thomasabeel commented on #802
I can review. This is my first experience with a review process through git, so some instructions would be welcome.

[2018-08-30 08:09] Kevin-Mattheus-Moerman commented on #889
@markus-nilsson @mfroeling @JianCheng would you be interested in reviewing this submission for the [Journal of Open Source Software](http://joss.theoj.org/)? [The review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#the-joss-review-process) focuses on [the software :floppy_disk:](https://github.com/davidnsousa/mcsd) as well as a very [short paper :page_facing_up:](https:/

[2018-08-30 08:14] Kevin-Mattheus-Moerman commented on #845
@llllllllll is this something you'd be interested in reviewing?

[2018-08-30 08:29] Kevin-Mattheus-Moerman commented on #802
@whedon assign @thomasabeel as reviewer

[2018-08-30 08:29] whedon commented on #802
OK, the reviewer is @thomasabeel

[2018-08-30 08:36] Kevin-Mattheus-Moerman commented on #802
Thanks for your reply @tovbinm @thomasabeel. This is a pre-review issue. Once I gather enough reviewers I will initiate a review issue where the actual review will take place. At the top of a review issue each reviewer will have a simple list of checkboxes which will guide you through the review process.

* Here is an example of a completed review process: https://github.com/openjournals/joss-revi

[2018-08-30 08:38] Kevin-Mattheus-Moerman commented on #802
@tovbinm the review focuses on these items: https://joss.readthedocs.io/en/latest/review_criteria.html#review-items which form the basis of the checkboxes as well. Let me know if you can help. Thanks.

[2018-08-30 09:06] scls19fr commented on #268
LGTM but let's wait @amoeba opinion.

[2018-08-30 09:45] maxheld83 commented on #911
re: **conflict of interest**, just to keep this on the record:
As I mentioned previously to @leeper I've been a (minor) contributor to the [qmethod](https://github.com/aiorazabala/qmethod) package, and am the author of the yet-in-dev [pensieve](https://github.com/maxheld83/pensieve/) package.
Both are R packages for analysing Q methodological data, and might thus be conceived as "competitors" to t

[2018-08-30 10:55] arfon commented on #804
:wave: @jotsetung - would you be able to commit to reviewing this package by mid-September?

[2018-08-30 10:59] arfon commented on #918
@renatorrsilva - please reformat your paper header to match the syntax shown here: https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography

Specifically, your header:

[code]

needs changing to:

[code]

[2018-08-30 11:00] arfon commented on #917
Great, thanks @lheagy!

[2018-08-30 11:01] arfon commented on #920
OK, no worries. @katyhuff - is this something you could take on?

[2018-08-30 11:18] leeper commented on #911
Thanks for the disclosure, @maxheld83. In my judgment this does not a conflict of interest as defined in [our policy](https://github.com/openjournals/joss/blob/master/COI.md).

[2018-08-30 13:00] katyhuff commented on #920
Yes, this is definitely something I can be the editor for.

[2018-08-30 13:00] katyhuff commented on #920
@whedon assign @katyhuff as editor

[2018-08-30 13:00] whedon commented on #920
OK, the editor is @katyhuff

[2018-08-30 13:05] katyhuff commented on #920
This looks like a very interesting submission @yxqd . I'm now beginning the process of selecting reviewers. If you have recommendations for reviewers, I'm open to hearing them. That said, they'll need to be free of any conflict of interest with the work. Thanks!

[2018-08-30 13:16] katyhuff commented on #920
@jwuttke @mdoucet @stuartcampbell @mikapfl @marcocamma : All of you seem to be eminently qualified to review this JOSS submission ["bem: Modeling for Neutron Bragg-Edge Imaging"](https://github.com/openjournals/joss-papers/blob/joss.00920/joss.00920/10.21105.joss.00920.pdf).

Would any of you be interested in reviewing it and available to do so soon?

[2018-08-30 13:41] raamana commented on #915
Michael would be good too, but he is already helping us with mrivis. So another candidate  https://github.com/kristianeschenburg ?

[2018-08-30 15:02] stavness commented on #806
Hi Kevin,

Thanks for the invitation, but I'm on sabbatical until next July, so I am
trying to limit my admin work.

Ian

On Thu, Aug 30, 2018 at 2:02 AM Kevin Mattheus Moerman <
notifications@github.com> wrote:

[2018-08-30 15:09] lheagy commented on #917
:wave: Hi @IgorBaratta, would you be willing to review this submission for JOSS?

[2018-08-30 15:14] lheagy commented on #917
@whedon assign @lheagy as editor

[2018-08-30 15:14] whedon commented on #917
OK, the editor is @lheagy

[2018-08-30 15:16] lheagy commented on #863
Thanks @jsta for your review!

:wave: Hi @khaors, would you be able to get started on the review soon? Thanks!

[2018-08-30 15:32] stuartcampbell commented on #920
@katyhuff I would probably have time to do it next week if that's ok.

[2018-08-30 15:39] katyhuff commented on #920
@whedon assign @stuartcampbell as reviewer

[2018-08-30 15:39] whedon commented on #920
OK, the reviewer is @stuartcampbell

[2018-08-30 15:40] katyhuff commented on #920
Thanks @stuartcampbell for your prompt response! Hopefully one or two of the others will also be available in the next few weeks to look this over. ( @jwuttke @mdoucet @mikapfl @marcocamma )

[2018-08-30 15:49] mdoucet commented on #920
@katyhuff I'd normally be happy to help, but I work with the author so I should pass on this one.

[2018-08-30 15:50] slithiaote commented on #836
Following your comments, I have modified the "Compilation" section into broader and more detailed instructions for "Obtaining the software".
I have re-read and I hope that this should satisfy the review criteria. If not, could you be more specific as to what you feel needs improvements ?

[2018-08-30 15:53] katyhuff commented on #920
Thanks for letting me know @mdoucet !

[2018-08-30 15:57] stuartcampbell commented on #920
@katyhuff Just for complete transparency, I was in the same group as @yxqd until January 2017.  But I wasn't involved in this work.

[2018-08-30 16:11] maxheld83 commented on #911
re: **authorship**

it appears that most of the substantive commits are made by @joaordaniel, with @davidnsousa doing the paper and JOSS stuff.
Both are listed as paper authors, so that makes sense.

[2018-08-30 16:14] maxheld83 commented on #911
re: **automated tests**

as far as I can see, there are currently no unit or otherwise automated tests, no cross-validation against published results or input validation.

[2018-08-30 16:27] amoeba commented on #268
Content looks good, thanks @scls19fr. I'm not sure if this was happening before but the PDF version of the paper doesn't show the figures in-line so the examples section is confusing. Could you either find a solution to that or change the bulleted list to a paragraph of text with parenthetical figure references? I'm about to be out of range through Monday in the USA so apologies in advance if my r

[2018-08-30 16:32] maxheld83 commented on #911
I've raised a bunch of separate issues in the source repo, and am done with my review for now.

Here's a bit of overall feedback cc @leeper @joaordaniel @davidnsousa:

My suggestion would be to do **major revisions** before accepting the package (with an important caveat, see below).

These kinds of specialized packages can do a great service to a community of researchers, by making their every da

[2018-08-30 17:16] leeper commented on #911
Thanks, @maxheld83, for the very thorough review.

What I would suggest at this point is @joaordaniel and @davidnsousa take a look through the issues you've opened and the main points raised in your review here and see what they think they can respond to and address at this point. Please try to address as much of this as you can and ping me on this thread when you have an update ready to for furth

[2018-08-30 17:27] scls19fr commented on #268
This change have been done by a contributor in https://github.com/python-windrose/windrose/pull/100
Will revert it. But it adds `-`.

[2018-08-30 17:28] scls19fr commented on #268
@whedon generate pdf

[2018-08-30 17:28] whedon commented on #268
[code]

[2018-08-30 17:29] whedon commented on #268
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00268/joss.00268/10.21105.joss.00268.pdf)

[2018-08-30 17:31] scls19fr commented on #268
Not sure if we can include figure at a specific position without seeing this `-`.

[2018-08-30 17:33] amoeba commented on #268
LGTM, thanks!

@arfon: Review is complete and I approve the submission assuming the version discrepancy (1.6 vs latest) be resolved at the time of archive.

Thanks for listening to my feedback and making changes in a timely manner @scls19fr!

[2018-08-30 17:34] amoeba commented on #268
Oh wow, I didn't even notice that and thought it was just part of the images. I'm not super worried about it at this point.

[2018-08-30 17:58] arfon commented on #268
@scls19fr - At this point could you make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission.

[2018-08-30 18:10] katyhuff commented on #920
@stuartcampbell Sorry I missed that -- Consider where you think you land in the COI policy. I think this might be a borderline case, but the assessment of COI is up to you https://github.com/openjournals/joss/blob/master/COI.md

[2018-08-30 18:31] palash1992 commented on #876
@rougier : Perfect! I also made a release. Let me know if there is anything else needed from my side.

[2018-08-30 18:40] danielskatz commented on #876
@rougier - I see there are still quite a few checkboxes left empty.  Please go through them when you have a chance.

[2018-08-30 18:49] IgorBaratta commented on #917
Hi @lheagy , I'd be glad to review this submission.

[2018-08-30 18:52] lheagy commented on #917
Excellent, thanks @IgorBaratta! I have sent out a few messages to other potential reviewers (hopefully we get 2).

[2018-08-30 18:53] lheagy commented on #917
@whedon assign @IgorBaratta as reviewer

[2018-08-30 18:53] whedon commented on #917
OK, the reviewer is @IgorBaratta

[2018-08-30 19:02] cmccomb commented on #892
@jasonclark I have a lot of upcoming travel. I could spend some time on this after 9/24, but I won't be able to turn around a good review before then. Please advise!

[2018-08-30 19:30] jasonclark commented on #892
@cmccomb I can look for another reviewer. If I don't find one before 9/24, can I reach back out? Thanks for getting back to me.

[2018-08-30 19:32] cmccomb commented on #892
@jasonclark Yes please do!

[2018-08-30 20:29] mdpiper commented on #898
I offered a PR (https://github.com/atomneb/AtomNeb-idl/pull/5) to automatically locate the package data from the examples.

[2018-08-30 20:40] yochannah commented on #891
@whedon assign @yochannah as editor

[2018-08-30 20:40] whedon commented on #891
OK, the editor is @yochannah

[2018-08-30 20:41] scls19fr commented on #268
v1.6.5 published

See:
- https://zenodo.org/account/settings/github/repository/python-windrose/windrose#
- https://pypi.org/project/windrose/
- https://github.com/python-windrose/windrose

However I can't edit first thread from

    Version: 1.6

to

    Version: 1.6.5

[2018-08-30 20:45] yxqd commented on #920
Thanks, guys. I have not yet collaborated with either @stuartcampbell or @mdoucet on any published works. But yes @mdoucet and I are in the same group, and @stuartcampbell and I overlapped for a bit more than a year at ORNL.

[2018-08-30 21:15] uvilla commented on #917
Thank you to @lheagy for serving as editor and @IgorBaratta for serving as reviewer!

[2018-08-30 21:52] mdpiper commented on #898
Created an issue (https://github.com/atomneb/AtomNeb-idl/issues/6) to address package installation (the first item in the **Functionality** checklist).

[2018-08-30 22:18] arokem commented on #901
@whedon assign arokem as editor

[2018-08-30 22:18] whedon commented on #901
OK, the editor is arokem

[2018-08-30 22:27] arokem commented on #861
Sorry for slowness here.

I think that the arXiv reference is sufficient.

Looks like that was the last item here? Is anything else required before this paper can be accepted?

[2018-08-30 22:29] arokem commented on #901
👋 @lmcinnes: would you be willing to review this paper for JOSS?

[2018-08-30 22:30] arokem commented on #901
👋 @maxrousseau: would you be willing to review this paper for JOSS?

[2018-08-30 22:34] arokem commented on #508
What is the status of this paper?

It would be great if these new contributors can push this along, but we'd like to know whether you intend to withdraw your paper. Otherwise, you can also consider adding some of these contributors as authors, if you believe that their contributions are crucial to completing the work required to meet the requirements for publication.

[2018-08-30 22:35] terrytangyuan commented on #861
Yep just checked all the boxes. We can move forward with this paper.

[2018-08-30 22:45] jedbrown commented on #781
@whedon generate pdf

[2018-08-30 22:45] whedon commented on #781
[code]

[2018-08-30 22:46] whedon commented on #781
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00781/joss.00781/10.21105.joss.00781.pdf)

[2018-08-30 23:09] jedbrown commented on #781
@dflemin3 Hmm, ca8bce1be2a075ef4aec7915cb4213a0f4fd6c4c changed the citation key, thus breaking those citations. Fixing that still doesn't display the eprint -- seems to be a citation style issue that `eprint` is swallowed. I can have a look at what whedon does internally and see if I can resolve.

[2018-08-31 03:57] llllllllll commented on #845
I am interested in this, but I am moving tomorrow and will need a few days to unpack. I can look at this in a week or so.

[2018-08-31 04:09] rougier commented on #876
Just did. The **Functionality documentation** and **Community guidelines** could be improved a bit but it does not prevent publication. Thanks @palash1992 for taking all my comments into account.

[2018-08-31 04:12] rougier commented on #915
@arokem Sure.

[2018-08-31 04:54] rougier commented on #915
By the way, @GaelVaroquaux can be also a potential reviewer.

[2018-08-31 06:34] juliohm commented on #914
@oxinabox I passed my defense! \o/ Everything is super busy around here though as I am relocating, moving out from California, and submitting the final draft of the dissertation to the university. I thought I would have time to review your paper, but I am super busy wrapping up. Will join a vacation trip in the next weeks, which will literally put me offline for some time.

I appreciate if other J

[2018-08-31 07:12] Kevin-Mattheus-Moerman commented on #845
@llllllllll great thanks. I'll add you as reviewer and look forward to seeing your comments. All the best with the move :house_with_garden:

[2018-08-31 07:12] Kevin-Mattheus-Moerman commented on #845
@whedon assign @llllllllll as reviewer

[2018-08-31 07:12] whedon commented on #845
OK, the reviewer is @llllllllll

[2018-08-31 07:17] Kevin-Mattheus-Moerman commented on #845
@yzhao062 could you respond to how @vc1492a has dealt with your feedback? Thanks

[2018-08-31 09:28] ninjin commented on #914
Yes, I would be happy to review this.

[2018-08-31 09:55] oekosheri commented on #900
Sorry to bother but I was wondering whether the review process is progressing. Do I need to do make any other changes at this point?
 I have a deadline for introducing my work and want to know whether the review process will be done before that.

[2018-08-31 11:34] danielskatz commented on #876
great, thanks @rougier !

@palash1992  - please make an archive of the current state of the repo in Zenodo or similar, and let me know the DOI of the archive, so that can move forward in publishing this submission.

[2018-08-31 11:43] oxinabox commented on #914
Thanks @ninjin

@juliohm enjoy your break :-D.

@whedon generate pdf

[2018-08-31 11:55] arfon commented on #914
@whedon generate pdf

[2018-08-31 11:55] whedon commented on #914
[code]

[2018-08-31 11:56] whedon commented on #914
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00914/joss.00914/10.21105.joss.00914.pdf)

[2018-08-31 11:57] arfon commented on #914
@whedon assign @arfon as editor

[2018-08-31 11:57] whedon commented on #914
OK, the editor is @arfon

[2018-08-31 11:58] arfon commented on #914
@whedon assign @ninjin as reviewer

[2018-08-31 11:58] whedon commented on #914
OK, the reviewer is @ninjin

[2018-08-31 11:58] arfon commented on #914
Thanks for agreeing to review this submission @ninjin. I'll go ahead and set up the main review issue now...

[2018-08-31 11:58] arfon commented on #914
@whedon start review

[2018-08-31 11:59] whedon opened #921 "[REVIEW]: DataDepsGenerators.jl: making reusing data easy by automatically generating DataDeps.jl registration code"
**Submitting author:** @oxinabox (<a href="http://orcid.org/0000-0003-1386-1646">Lyndon White</a>)
**Repository:** <a href="https://github.com/oxinabox/DataDepsGenerators.jl/" target ="_blank">https://github.com/oxinabox/DataDepsGenerators.jl/</a>
**Version:** v0.4.0
**Editor:** @arfon
**Reviewer:** @ninjin
**Archive:** <a href="https://doi.org/10.5281/zenodo.1478705" target="_blank">10.5281/zenod

[2018-08-31 11:59] whedon commented on #914
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/921. Feel free to close this issue now!

[2018-08-31 11:59] whedon commented on #921
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00921/joss.00921/10.21105.joss.00921.pdf)

[2018-08-31 11:59] arfon commented on #914
@oxinabox @ninjin - please head over to #921 where the actual review will take place.

[2018-08-31 11:59] #914 closed

[2018-08-31 12:10] labarba commented on #900
👋 @vyasr, @trallard — could you give us an update on your timeline for review?

[2018-08-31 12:55] trallard commented on #900
sorry, I have blocked some time on Monday-Tuesday to do so so should be able to update then

[2018-08-31 14:52] hclent commented on #802
@Kevin-Mattheus-Moerman I am happy to help review! I do have a background with Scala as well as machine learning, so its a good fit :)

[2018-08-31 15:17] Kevin-Mattheus-Moerman commented on #802
@whedon assign @hclent as reviewer

[2018-08-31 15:17] whedon commented on #802
OK, the reviewer is @hclent

[2018-08-31 15:17] Kevin-Mattheus-Moerman commented on #802
@tovbinm did you see my comments? Let me know if you can help. Thanks.

[2018-08-31 17:43] yzhao062 commented on #845
@Kevin-Mattheus-Moerman will do a review in 3 days for sure:)

[2018-08-31 18:13] palash1992 commented on #876
@danielskatz : I used Zenodo to create the archive. Here is the DOI: 10.5281/zenodo.1407178

[2018-08-31 18:41] arokem commented on #915
@whedon assign rougier as reviewer

[2018-08-31 18:41] whedon commented on #915
OK, the reviewer is rougier

[2018-08-31 18:41] arokem commented on #915
Thanks @rougier! I'll start the review after we resolve the existence and identity of a second reviewer.

[2018-08-31 18:42] arokem commented on #915
👋 @GaelVaroquaux: would you be available to review this JOSS paper?

[2018-08-31 18:46] arokem commented on #861
Wonderful! Congratulations @lmcinnes! 🎉

@lmcinnes : could you please create an archive for the accepted version (e.g., using https://zenodo.org/)? Once you have that send over the DOI as a comment on this issue, we will move ahead with the acceptance and paper.

[2018-08-31 18:46] arokem commented on #861
@terrytangyuan : thank you for the review! 👏

[2018-08-31 19:50] jedbrown commented on #781
@arfon I found the issue: pandoc-citeproc requires the field `eprinttype` in order to produce a URL or any info about the `eprint`. My understanding is that `archivePrefix` is more common in the wild (e.g., https://arxiv.org/hypertex/bibstyles/), but pandoc-citeproc ignores it unconditionally.

See https://github.com/jgm/pandoc-citeproc/issues/348

[2018-08-31 19:51] danielskatz commented on #876
@whedon set 10.5281/zenodo.1407178 as archive

[2018-08-31 19:51] whedon commented on #876
OK. <a href="https://doi.org/10.5281/zenodo.1407178" target="_blank">10.5281/zenodo.1407178</a> is the archive.

[2018-08-31 19:51] danielskatz commented on #876
@whedon generate pdf

[2018-08-31 19:51] whedon commented on #876
[code]

[2018-08-31 19:51] whedon commented on #876
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00876/joss.00876/10.21105.joss.00876.pdf)

[2018-08-31 19:51] danielskatz commented on #876
thanks very much, @jsgalan and @rougier !

[2018-08-31 19:52] danielskatz commented on #876
👋 @arfon, this is ready for publication

[2018-08-31 20:44] yochannah commented on #891
@nbokulich I think this is ready to be reviewed - do you have any suggestions for reviewers?

[2018-08-31 21:10] dflemin3 commented on #781
@jedbrown Ah perfect, thank you!  I merged the PR.

[2018-08-31 21:54] GaelVaroquaux commented on #915
Sorry, I am way behind everything (including reviews). I've been
traveling for a month straight. It's exhausting!

[2018-08-31 22:14] gregcaporaso commented on #891
Sebastian Raschka, Dan Knights (though @nbokulich and I have published with Dan, so that might be a conflict of interest) and Holly Bik could be good reviewers for this manuscript.

[2018-08-31 22:16] jedbrown commented on #781
@whedon generate pdf

[2018-08-31 22:16] whedon commented on #781
[code]

[2018-08-31 22:17] whedon commented on #781
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00781/joss.00781/10.21105.joss.00781.pdf)

[2018-08-31 22:18] tovbinm commented on #802
I can help. NP. (Actually I will consider submitting my own freshly open sourced project https://transmogrif.ai/)

[2018-08-31 22:40] jedbrown commented on #781
Excellent! @dflemin3 Please archive your repository on Zenodo, figshare, or the like and record the DOI here.

[2018-09-01 00:14] lmcinnes commented on #901
@arokem , I would be willing to review this, but may need a little assistance, having never reviewed for JOSS before.

[2018-09-01 00:30] lmcinnes commented on #861
Thanks @terrytangyuan for the review, and thanks @arokem for all the help.

The DOI is: 10.5281/zenodo.1407268

It's been great working with both of you.

[2018-09-01 05:27] cMadan commented on #813
Thanks for taking a quick look, @lebebr01, I appreciate your input on this!

[2018-09-01 12:34] arfon commented on #876
@jsgalan, @rougier - many thanks for your reviews here and to @danielskatz for editing this submission ✨

@palash1992 - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00876 :zap: :rocket: :boom:

[2018-09-01 12:34] #876 closed

[2018-09-01 12:34] whedon commented on #876
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00876/status.svg)](https://doi.org/10.21105/joss.00876)

**We need your help!**

Journal of Open Source Softwar

[2018-09-01 12:35] arfon commented on #781
Good to know. Thanks @jedbrown!

[2018-09-01 12:39] Kevin-Mattheus-Moerman commented on #802
@whedon assign @tovbinm as reviewer

[2018-09-01 12:39] whedon commented on #802
OK, the reviewer is @tovbinm

[2018-09-01 12:40] Kevin-Mattheus-Moerman commented on #802
Thanks @tovbinm. Looking forward to it.

[2018-09-01 12:41] arfon commented on #804
@juanvillada, @road2stat, @skummerf, @mschubert, @semacu - would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2018-09-01 12:41] Kevin-Mattheus-Moerman commented on #802
@whedon start review magic-word=bananas

[2018-09-01 12:41] whedon opened #922 "[REVIEW]: DynaML: Scala Library/REPL for Machine Learning Research"
**Submitting author:** @mandar2812 (<a href="http://orcid.org/0000-0001-6025-7113">Mandar Chandorkar</a>)
**Repository:** <a href="https://github.com/transcendent-ai-labs/DynaML" target ="_blank">https://github.com/transcendent-ai-labs/DynaML</a>
**Version:** v1.5.3-beta.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @tovbinm, @hclent, @thomasabeel
**Archive:** Pending

## Status

[![status]

[2018-09-01 12:41] whedon commented on #802
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/922. Feel free to close this issue now!

[2018-09-01 12:41] whedon commented on #922
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tovbinm it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-09-01 12:41] whedon commented on #922
[code]

[2018-09-01 12:42] #802 closed

[2018-09-01 12:42] whedon commented on #922
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00922/joss.00922/10.21105.joss.00922.pdf)

[2018-09-01 12:48] Kevin-Mattheus-Moerman commented on #922
@whedon add @hclent as reviewer

[2018-09-01 12:48] whedon commented on #922
OK, @hclent is now a reviewer

[2018-09-01 12:51] mschubert commented on #804
I don't have a Windows box. - Judging from the comments, this seems to be a requirement.

[2018-09-01 12:53] Kevin-Mattheus-Moerman commented on #922
@whedon add @thomasabeel as reviewer

[2018-09-01 12:53] whedon commented on #922
OK, @thomasabeel is now a reviewer

[2018-09-01 12:56] Kevin-Mattheus-Moerman commented on #922
@tovbinm, @hclent, @thomasabeel this is where the review takes place. There are sets of check boxes at the top of this issue for each of you. Let me know if you have questions.

[2018-09-01 12:57] Kevin-Mattheus-Moerman commented on #922
@tovbinm, @hclent, @thomasabeel sorry for adding you in the preview issue and again here. I accidentally replaced rather than add the review twice. Anyway we should be all set now. :rocket: :robot:

[2018-09-01 13:15] #913 closed

[2018-09-01 13:29] yochannah commented on #891
@gregcaporaso I'll contact them - thanks for the tips!

[2018-09-01 13:37] whedon opened #923 "[PRE REVIEW]: Embeddings.jl: easy access to pretrained word embeddings from julia"
**Submitting author:** @oxinabox (<a href="http://orcid.org/0000-0003-1386-1646">Lyndon White</a>)
**Repository:** <a href="https://github.com/JuliaText/Embeddings.jl/" target ="_blank">https://github.com/JuliaText/Embeddings.jl/</a>
**Version:** v0.3.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @aviks

**Author instructions**

Thanks for submitting your paper to JOSS @oxinabox. The JOSS e

[2018-09-01 13:37] whedon commented on #923
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-01 13:37] whedon commented on #923
[code]

[2018-09-01 13:38] whedon commented on #923
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00923/joss.00923/10.21105.joss.00923.pdf)

[2018-09-01 15:01] yochannah commented on #887
@whedon assign @yochannah as editor

[2018-09-01 15:01] whedon commented on #887
OK, the editor is @yochannah

[2018-09-01 15:28] yochannah commented on #887
@cicirello thanks for submitting your paper! Let me know if you have any suggestions for possible reviewers.

[2018-09-01 15:41] yochannah commented on #887
I've also contacted @Nikoleta-v3 to see if she's interested in reviewing.

[2018-09-01 16:47] cicirello commented on #887
@whedon generate pdf

[2018-09-01 16:47] whedon commented on #887
[code]

[2018-09-01 16:48] whedon commented on #887
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00887/joss.00887/10.21105.joss.00887.pdf)

[2018-09-01 16:54] cicirello commented on #887
@yochannah  Thanks.  I'll take a look at the list of reviewers. Also, since submitting I actually added a package of distance metrics on sequences to the library, and just added a short paragraph toward the end of the paper to indicate such.  Anyway, the version number when I submitted JOSS paper was 1.0, but current version number is now 1.1 (in case that matters for the review).

[2018-09-01 16:55] cicirello commented on #887
@whedon list reviewers

[2018-09-01 16:55] whedon commented on #887
Here's the current list of reviewers: https://bit.ly/joss-reviewers

[2018-09-02 03:02] tovbinm commented on #922
The [List of Contributors](https://transcendent-ai-labs.github.io/DynaML/about/#contributors) is missing the `sisirkoppaka` and `gitter-badger`.

[2018-09-02 05:00] tovbinm commented on #922
**RE: Example usage**: Most examples of usage do not contain the actual data points, but rather only specify the type `val data: Stream[(DenseVector[Double], Double)] = _`. It could be useful to introduce a convenient object to allow retrieving some sample data from, e.g
[code]

[2018-09-02 05:11] tovbinm commented on #922
**RE: Automated Tests:** - I looked into TravisCI builds and I could not find any tests being executed there, since the command is `sbt clean stage`, which clearly only runs the build without tests. I also noticed that nothing is reported into Codecov (https://codecov.io/gh/transcendent-ai-labs/DynaML), which I think should be fixed.

[2018-09-02 05:16] tovbinm commented on #922
Minor: Contributing and Code of Conduct are not linked from https://transcendent-ai-labs.github.io/DynaML, but only from the README.

[2018-09-02 05:27] tovbinm commented on #922
@Kevin-Mattheus-Moerman I am done with my review. Please let me know if any more actions are required.

[2018-09-02 08:50] dalcinl commented on #819
@jcmgray Sorry for the long delay. I'm quite happy you are taking advantage of the `mpi4py.futures` framework!. There is just one minor issue with the references in the paper. The citation for `slepc4py` is wrong. There is no published paper about `slepc4py`, the suggested citation would be just the Bitbucket repo https://bitbucket.org/slepc/slepc4py, or maybe this paper https://doi.org/10.1016/j.

[2018-09-02 12:09] Kevin-Mattheus-Moerman commented on #922
Thanks @tovbinm for that speedy review! :rocket: I'll ping you once @mandar2812 has worked on the issues you've raised.

[2018-09-02 19:06] arokem commented on #915
OK. Let's go with one reviewer for this. Thanks!

[2018-09-02 19:06] arokem commented on #915
@whedon start review

[2018-09-02 19:07] whedon commented on #915
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/924. Feel free to close this issue now!

[2018-09-02 19:07] whedon opened #924 "[REVIEW]: graynet: single-subject morphometric networks for neuroscience connectivity applications"
**Submitting author:** @raamana (<a href="http://orcid.org/0000-0003-4662-0558">Pradeep Reddy Raamana</a>)
**Repository:** <a href="https://github.com/raamana/graynet" target ="_blank">https://github.com/raamana/graynet</a>
**Version:** v0.3.9
**Editor:** @arokem
**Reviewer:** @rougier
**Archive:** <a href="https://doi.org/10.5281/zenodo.1442846" target="_blank">10.5281/zenodo.1442846</a>

## Stat

[2018-09-02 19:07] whedon commented on #924
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rougier it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2018-09-02 19:07] whedon commented on #924
[code]

[2018-09-02 19:07] whedon commented on #924
PDF failed to compile for issue #924 with the following error:

 Can't find any papers to compile :-(

[2018-09-02 19:07] arokem commented on #915
@rougier : please head over to #924 for the reviewer check-list. I'm closing this one.

[2018-09-02 19:07] #915 closed

[2018-09-02 19:09] arokem commented on #901
Thanks @lmcinnes! There is documentation that explains the principles and process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. Let me know if you have questions. Don't be alarmed if it takes me a few days to get to your questions, though. For the time being, I will start the review, which will start another issue with a check-list for you to check the software against.

[2018-09-02 19:10] arokem commented on #901
@whedon assign lmcinnes as reviewer

[2018-09-02 19:10] whedon commented on #901
OK, the reviewer is lmcinnes

[2018-09-02 19:10] arokem commented on #901
@whedon start review

[2018-09-02 19:10] whedon opened #925 "[REVIEW]: Ripser.py: A Lean Persistent Homology Library for Python"
**Submitting author:** @sauln (<a href="http://orcid.org/0000-0002-8549-9810">Nathaniel Saul</a>)
**Repository:** <a href="https://github.com/scikit-tda/ripser.py" target ="_blank">https://github.com/scikit-tda/ripser.py</a>
**Version:** 0.2.4
**Editor:** @arokem
**Reviewer:** @lmcinnes
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/a8774cc066969ab17e9a0e9c39c6a81c/status

[2018-09-02 19:10] whedon commented on #901
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/925. Feel free to close this issue now!

[2018-09-02 19:10] whedon commented on #925
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @lmcinnes it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cu

[2018-09-02 19:10] whedon commented on #925
[code]

[2018-09-02 19:10] whedon commented on #925
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00925/joss.00925/10.21105.joss.00925.pdf)

[2018-09-02 19:10] arokem commented on #901
@lmcinnes : the check list and more guidance should now be available for you on #925. I'm closing this one.

[2018-09-02 19:10] #901 closed

[2018-09-02 19:13] arokem commented on #861
@whedon set 10.5281/zenodo.1407268 as archive

[2018-09-02 19:13] whedon commented on #861
OK. <a href="https://doi.org/10.5281/zenodo.1407268" target="_blank">10.5281/zenodo.1407268</a> is the archive.

[2018-09-02 19:14] arokem commented on #861
@arfon : I believe this paper is ready to be published.

Nice work everyone! 🚀

[2018-09-02 19:16] arokem commented on #855
@glemaitre : have you been able to resolve the installation issue mentioned in https://github.com/maxrousseau/pfla/issues/4?

@mnarayan : have you had a chance to take a look at this?

[2018-09-02 19:44] glemaitre commented on #855
I did not have time last week. I should be able to finish up the review this week.

Sent from my phone - sorry to be brief and potential misspell.

[2018-09-02 20:07] danielskatz commented on #830
@ian-taylor  - how are things looking to you?

[2018-09-02 20:38] raamana commented on #924
@whedon generate pdf

[2018-09-02 20:38] whedon commented on #924
[code]

[2018-09-02 20:39] whedon commented on #924
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00924/joss.00924/10.21105.joss.00924.pdf)

[2018-09-02 20:55] arfon commented on #861
@terrytangyuan - many thanks for your review here and to @arokem for editing this submission ✨

@lmcinnes - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00861 :zap: :rocket: :boom:

[2018-09-02 20:55] #861 closed

[2018-09-02 20:55] whedon commented on #861
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00861/status.svg)](https://doi.org/10.21105/joss.00861)

**We need your help!**

Journal of Open Source Softwar

[2018-09-02 21:03] arfon commented on #893
@tgerke @jenniferthompson - how are you getting along with your reviews here?

[2018-09-02 21:30] jenniferthompson commented on #893
I'm partway through, but ran into a stumbling block that I filed as an [issue in the main repo](https://github.com/stulacy/multistateutils/issues/5). (Sorry, probably should have noted that here as well!) Unfortunately this laptop is the only machine I'll have access to for the next week, but I'll see if there's more I can add.

[2018-09-03 10:46] jcmgray commented on #819
@dalcinl thanks very much for getting round to it - ``mpi4py.futures`` has been very useful! Yes wasn't sure about the ``slepc4py`` reference but have now [updated it](https://github.com/jcmgray/quimb/commit/35535551400a62e5c3c8cb8bda969259ee872e51) with those papers you suggest.

[2018-09-03 10:46] jcmgray commented on #819
@whedon generate pdf

[2018-09-03 10:46] whedon commented on #819
[code]

[2018-09-03 10:46] whedon commented on #819
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00819/joss.00819/10.21105.joss.00819.pdf)

[2018-09-03 13:58] stulacy commented on #893
Sorry I've been on holiday for the last few weeks. I'll have a look at that issue and the other suggestions above

[2018-09-03 14:58] dalcinl commented on #819
@jedbrown The couple issues I found are fixed. Everything looks good to me now.

[2018-09-03 15:51] labarba commented on #904
👋 @alex-konovalov — will you be able to submit your review soon? Let me know!

[2018-09-03 18:14] dflemin3 commented on #781
I archived the v0.1.post1 release on Zenodo [here](https://zenodo.org/record/1408178) and here's the DOI: 10.5281/zenodo.1408178.  Thanks for all your help and work during the review process!

[2018-09-03 21:06] semacu commented on #804
I am unable to grade the submission as I am not an expert on this area and I do not have access to a Windows machine to try / test mzEasy in detail. Here are some points though:
- It would be useful if the paper could mention any ongoing research projects ot recent publications using mzEasy specifically
- Contains MIT LICENSE file
- Statement of need: it would be useful if the author could spell o

[2018-09-03 21:45] yzhao062 commented on #845
@Kevin-Mattheus-Moerman I have successfully run the newly added tests. I am confident it is a sound and useful package! Great work @vc1492a ! I think it is good to go:)

[2018-09-03 22:29] chasemc commented on #804
Thank you for your time @semacu.  I've informally outlined some responses below.

- It would be useful if the paper could mention any ongoing research projects ot recent publications using mzEasy specifically
  - I don't personally have any current projects using it, but certainly will within the next 6 months and it would have been useful for past work.  It has been downloaded > 70 times in 10 co

[2018-09-03 23:16] alex-konovalov commented on #904
@labarba sorry for delay - should be there by Monday!

[2018-09-03 23:38] dghoshal-lbl commented on #830
@danielskatz @ian-taylor There are a few examples in the examples/ directory in the source tree. I am adding more information about these examples in the user guide so that users can use these as reference.

[2018-09-04 00:43] whedon opened #926 "[PRE REVIEW]: Gravity: Estimation Methods for Gravity Models in R"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/pachamaltese/gravity" target ="_blank">https://github.com/pachamaltese/gravity</a>
**Version:** v0.8.2
**Editor:** @yochannah
**Reviewers:** @DiegoKoz

**Author instructions**

Thanks for submitting your paper to JOSS @pachamaltese. The JOSS editor (

[2018-09-04 00:43] whedon commented on #926
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-04 00:43] whedon commented on #926
[code]

[2018-09-04 00:43] whedon commented on #926
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00926/joss.00926/10.21105.joss.00926.pdf)

[2018-09-04 01:54] ian-taylor commented on #830
Can you let me know when the documentation is complete so I can try and verify ?

[2018-09-04 03:40] jedbrown commented on #819
@dalcinl Thanks!

@jcmgray I notice one minor grammatical issue in the first paragraph: "requires much care is taken" could be "requires that much care is taken" or "requires great care to be taken". Can you adjust that wording and archive your repository on Zenodo or similar?

[2018-09-04 05:39] juanvillada commented on #804
Thanks for the invitation @arfon. I am sorry, I could have access to a Windows machine on the weekend, but I am not experienced enough to judge a submission in this area.

[2018-09-04 07:09] demotu commented on #806
I am on vacation; i would be able to review by October.

[2018-09-04 09:00] Kevin-Mattheus-Moerman commented on #806
Great @modenaxe, thanks! I'll add you as reviewer shortly. This is a pre-review issue. The actual review will take place in a new review issue which I'll open once there are enough reviewers.

[2018-09-04 09:00] Kevin-Mattheus-Moerman commented on #806
@whedon assign @modenaxe as reviewer

[2018-09-04 09:00] whedon commented on #806
OK, the reviewer is @modenaxe

[2018-09-04 09:01] marcoalopez commented on #863
Hi @lheagy, I have a question. I would like to launch a code update. It would be minor changes that add some new features (from v2.0 to v2.0.1). Could I do this now or should I wait for the review to finish? I'm not sure if the code should be "frozen" during the review process or it can be modified. Thanks!

[2018-09-04 09:02] Kevin-Mattheus-Moerman commented on #806
@whedon add @demotu as reviewer

[2018-09-04 09:02] whedon commented on #806
OK, @demotu is now a reviewer

[2018-09-04 09:07] Kevin-Mattheus-Moerman commented on #806
@whedon start review magic-word=bananas

[2018-09-04 09:07] whedon opened #927 "[REVIEW]: CusToM: a Matlab toolbox for musculoskeletal simulation"
**Submitting author:** @anmuller (<a href="http://orcid.org/0000-0003-2606-1429">Antoine Muller</a>)
**Repository:** <a href="https://github.com/anmuller/CusToM.git" target ="_blank">https://github.com/anmuller/CusToM.git</a>
**Version:** v1.1.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @modenaxe, @demotu, @nicoguaro
**Archive:** <a href="https://doi.org/10.5281/zenodo.2543645" target="_b

[2018-09-04 09:07] whedon commented on #806
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/927. Feel free to close this issue now!

[2018-09-04 09:07] whedon commented on #927
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @modenaxe, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2018-09-04 09:07] whedon commented on #927
[code]

[2018-09-04 09:07] whedon commented on #927
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00927/joss.00927/10.21105.joss.00927.pdf)

[2018-09-04 09:08] #806 closed

[2018-09-04 09:11] Kevin-Mattheus-Moerman commented on #927
@modenaxe, @demotu this is where the review will take place. You each have a set of check boxes at the top of this issue to guide you through the review process. Please let me know if you have any questions or check the [review guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#the-joss-review-process). Thanks! :rocket: :robot:

[2018-09-04 09:12] Kevin-Mattheus-Moerman commented on #927
@demotu We will get started here already but it is fine if you join the review process in October. Thanks.

[2018-09-04 09:17] Kevin-Mattheus-Moerman commented on #927
@anmuller this is where the review process takes place so please keep an eye out for notifications from this issue. Here are some initial comments/questions I have:

1. Is this submission compatible with Octave?
2. Can you please work on adding community guidelines? I recommend adding a CONTRIBUTING.md and a CODE_OF_CONDUCT.md file.
https://help.github.com/articles/setting-guidelines-for-repositor

[2018-09-04 09:36] plooney commented on #600
What are the next steps that are required?

On 27/08/18 02:00, Christopher Madan wrote:

[2018-09-04 09:43] Kevin-Mattheus-Moerman commented on #923
@whedon assign @Kevin-Mattheus-Moerman as editor

[2018-09-04 09:43] whedon commented on #923
OK, the editor is @Kevin-Mattheus-Moerman

[2018-09-04 09:44] Kevin-Mattheus-Moerman commented on #923
@weijianzhang is this submission of interest to you? Would you be able to help review it for [JOSS](http://joss.theoj.org/)? Thanks.

[2018-09-04 10:25] arfon commented on #804
@whedon add @mwang87 as reviewer

[2018-09-04 10:25] whedon commented on #804
OK, @mwang87 is now a reviewer

[2018-09-04 10:27] arfon commented on #804
Reading back up this thread, I'd forgotten that @biswapriyamisra had kindly carried out a pre-review of this submission already. I'm hoping he's willing to help us with the main review too 😄

[2018-09-04 10:27] arfon commented on #804
@whedon start review

[2018-09-04 10:27] whedon commented on #804
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/928. Feel free to close this issue now!

[2018-09-04 10:27] whedon opened #928 "[REVIEW]: mzEasy"
**Submitting author:** @chasemc (<a href="http://orcid.org/0000-0001-6439-9397">Chase M Clark</a>)
**Repository:** <a href="https://github.com/chasemc/mzEasy" target ="_blank">https://github.com/chasemc/mzEasy</a>
**Version:** 0.1.0
**Editor:** @arfon
**Reviewer:** @biswapriyamisra, @mwang87
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/fcf70d0d1f8efc7f2d76617d4000eb6f/s

[2018-09-04 10:27] whedon commented on #928
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @biswapriyamisra, it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2018-09-04 10:27] whedon commented on #928
[code]

[2018-09-04 10:27] whedon commented on #928
[--> Check article proof :page_facing_up: <--](https://github.com/openjournals/joss-papers/blob/joss.00928/joss.00928/10.21105.joss.00928.pdf)

[2018-09-04 10:28] arfon commented on #804
@biswapriyamisra, @mwang87 - I've gone ahead and set up the main review issue over in #928. Any questions/comments/feedback should be in that issue please.

[2018-09-04 10:28] #804 closed

[2018-09-04 10:33] arfon commented on #837
Hi @blokhin. I'm sorry it's taken so long to get to this submission - we've got a major backlog of submissions right now.

Unfortunately this submission isn't allowable under our [submission requirements](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) as it falls into the 'thin API client' category.

Thanks for your interest in publishing in JOSS.

[2018-09-04 10:33] #837 closed

[2018-09-04 10:35] arfon commented on #894
:wave: @jakevdp - would you be able to edit this submission for JOSS?

[2018-09-04 10:36] arfon commented on #918
@renatorrsilva - this PR should fix the paper compilation issues: https://github.com/renatorrsilva/nb/pull/1

[2018-09-04 10:38] arfon commented on #836
:wave: @yochannah - would you be willing to edit this submission for JOSS?

[2018-09-04 11:16] jcmgray commented on #819
@jedbrown thanks for picking that up - I've adjusted that wording [here](https://github.com/jcmgray/quimb/commit/bae8312a1320da0721a63aa537f50aa5f4652e70). And I've uploaded the package to zenodo [here](https://zenodo.org/record/1408690).

[2018-09-04 13:16] renatorrsilva commented on #918
I am sorry i did not understand what you are saying

Em ter, 4 de set de 2018 às 07:36, Arfon Smith <notifications@github.com>
escreveu:

[2018-09-04 14:02] arfon commented on #918
@renatorrsilva - if you merge this pull request https://github.com/renatorrsilva/nb/pull/1 then the issues @whedon is having building the PDF (e.g. https://github.com/openjournals/joss-reviews/issues/918#issuecomment-417318265) should be fixed.

[2018-09-04 14:38] rasbt commented on #891
I could review the pkg

[2018-09-04 14:58] jedbrown commented on #819
@whedon generate pdf

[2018-09-04 14:58] whedon commented on #819
[code]

[2018-09-04 14:59] whedon commented on #819
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00819/joss.00819/10.21105.joss.00819.pdf)

[2018-09-04 15:00] jedbrown commented on #819
@whedon set 10.5281/zenodo.1408690 as archive

[2018-09-04 15:00] whedon commented on #819
OK. <a href="https://doi.org/10.5281/zenodo.1408690" target="_blank">10.5281/zenodo.1408690</a> is the archive.

[2018-09-04 15:00] jedbrown commented on #819
@arfon Over to you.

[2018-09-04 15:43] arfon commented on #819
@dalcinl, @sunqm - many thanks for your reviews here and to @jedbrown for edit this submission ✨

@jcmgray - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00819 :zap: 🚀:boom:

[2018-09-04 15:43] #819 closed

[2018-09-04 15:43] whedon commented on #819
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00819/status.svg)](https://doi.org/10.21105/joss.00819)

**We need your help!**

Journal of Open Source Softwar

[2018-09-04 15:53] nirum commented on #792
@grg2rsr has addressed all of my comments!

[2018-09-04 16:02] jcmgray commented on #819
Fantastic, thanks very much again @jedbrown, @sunqm and @dalcinl!

[2018-09-04 16:37] lheagy commented on #863
Hi @marcoalopez, not a problem, you can launch the update. Please just let me know when you have and I will update the version number on the review.

[2018-09-04 18:44] vyasr commented on #900
Hi sorry I had a couple of things come up after my flurry of activity two weeks ago. I will get to this tomorrow.

[2018-09-04 19:09] arfon commented on #268
Done.

[2018-09-04 19:12] arfon commented on #268
@whedon set 10.5281/zenodo.1406384 as archive

[2018-09-04 19:12] whedon commented on #268
OK. <a href="https://doi.org/10.5281/zenodo.1406384" target="_blank">10.5281/zenodo.1406384</a> is the archive.

[2018-09-04 19:20] yochannah commented on #891
@rasbt fantastic! I'm still looking for a second reviewer so I won't kick the review process off quite yet.

[2018-09-04 19:29] scls19fr commented on #268
Works fine now... sorry for noise

[2018-09-04 19:30] arfon commented on #268
@amoeba @tacaswell - many thanks for your reviews here ✨

@scls19fr - your paper is now accepted into JOSS and your DOI is https://doi.org/10.21105/joss.00268 :zap: :rocket: :boom:

[2018-09-04 19:30] #268 closed

[2018-09-04 19:30] whedon commented on #268
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.00268/status.svg)](https://doi.org/10.21105/joss.00268)

**We need your help!**

Journal of Open Source Softwar

[2018-09-04 19:33] scls19fr commented on #268
Thanks @amoeba @tacaswell @arfon ... and @whedon

[2018-09-04 21:06] leouieda commented on #808
Hi @lheagy and @viktor76525, sorry for the long delay. I'll post my comments here and also open issues in the repository.

[2018-09-04 21:50] leouieda commented on #808
@whedon commands

[2018-09-04 21:50] whedon commented on #808
Here are some things you can ask me to do:

[code]

[2018-09-04 21:51] leouieda commented on #808
@whedon generate pdf

[2018-09-04 21:51] whedon commented on #808
[code]

[2018-09-04 21:52] whedon commented on #808
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00808/joss.00808/10.21105.joss.00808.pdf)

[2018-09-04 22:07] leouieda commented on #808
@lheagy and @viktor76525, I've gone through the review checklist and some things are missing or need improvement. This is a summary of my comments. See the related issues for more details.

- [ ] Version: There is no released version of this software on Github or PyPI. See ucgmsim/GMSimViz#4 and ucgmsim/GMSimViz#5
- [ ] The install instructions don't mention installing GMSimViz, only the dependenc

[2018-09-05 00:59] dghoshal-lbl commented on #830
@ian-taylor I have added Chapter-3 in UserGuide.pdf to explain some examples of using MaDaTS. Let me know if it addresses what you asked for.

[2018-09-05 07:31] yochannah commented on #836
@whedon assign @yochannah as editor

[2018-09-05 07:31] whedon commented on #836
OK, the editor is @yochannah

[2018-09-05 07:58] yochannah commented on #887
@alex-konovalov do you know anyone who might be able to review a java package?

[2018-09-05 08:09] yochannah commented on #836
I know of one possible reviewer who uses OCaml - just checking with them now. @slithiaote do you have any suggestions for reviewers?

[2018-09-05 14:20] whedon opened #929 "[PRE REVIEW]: survxai: an R package for model agnostic explanations of survival models"
**Submitting author:** @AleksandraDabrowska (<a href="http://orcid.org/0000-0002-5963-6260">Aleksandra Grudziąż</a>)
**Repository:** <a href="https://github.com/MI2DataLab/survxai" target ="_blank">https://github.com/MI2DataLab/survxai</a>
**Version:** 0.2.0
**Editor:** @yochannah
**Reviewers:** @hiendn, @dirmeier

**Author instructions**

Thanks for submitting your paper to JOSS @AleksandraDabrow

[2018-09-05 14:32] marcoalopez commented on #863
Hi @lheagy, it's done. Thank you.

[2018-09-05 14:37] lmcinnes commented on #925
First off, this is clearly a mature library with significant documentation available. It looks great!

I'm still working through the checklist, but some initial comments, all minor:

* the versions don't match, but I presume there were further patch releases after the initial submission?
* In the paper the reference for the original Ripser library isn't resolving; I think this is a capitalisation

[2018-09-05 14:56] lheagy commented on #863
Thanks @marcoalopez. A quick update, I have email @khaors yesterday and am waiting to hear back. We will give him a couple days to respond, and if not, figure out the next steps for proceeding with the submission

[2018-09-05 16:27] renatorrsilva commented on #918
Hi I did

2018-09-04 11:02 GMT-03:00 Arfon Smith <notifications@github.com>:

[2018-09-05 16:59] cenonn commented on #788
Apologies for the extremely late response. Would it be possible to withdraw this submission?

[2018-09-05 17:44] stuartcampbell commented on #920
@katyhuff I think I am ok, I recently reviewed something with a similar COI and @arfon agreed I wasn't conflicted!

[2018-09-06 16:18] whedon opened #930 "[PRE REVIEW]: qtools: A Python toolset for the Q molecular simulation package."
**Submitting author:** @mpurg (<a href="http://orcid.org/0000-0003-4647-6103">Miha Purg</a>)
**Repository:** <a href="https://github.com/mpurg/qtools" target ="_blank">https://github.com/mpurg/qtools</a>
**Version:** v0.6.1
**Editor:** @kyleniemeyer
**Reviewers:** @malramsay64, @esguerra, @fdroessler

**Author instructions**

Thanks for submitting your paper to JOSS @mpurg. The JOSS editor (shown

[2018-09-06 16:18] whedon commented on #930
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kyleniemeyer it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-06 16:18] whedon commented on #930
[code]

[2018-09-06 16:19] whedon commented on #930
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00930/joss.00930/10.21105.joss.00930.pdf)

[2018-09-06 17:14] wholmgren commented on #884
@katyhuff is there anything I need to do to move this forward?

[2018-09-06 17:14] ctdegroot commented on #820
Thanks @highlando for your review!

I've added a few guidelines to the repo regarding contributions/support now. I've also added DOIs to the references that have them. Let me know if I should add the statement of need also to the documentation or if it is ok in the JOSS paper.

[2018-09-06 17:15] ctdegroot commented on #820
@whedon commands

[2018-09-06 17:15] whedon commented on #820
Here are some things you can ask me to do:

[code]

[2018-09-06 17:15] ctdegroot commented on #820
@whedon generate pdf

[2018-09-06 17:15] whedon commented on #820
[code]

[2018-09-06 17:15] whedon commented on #820
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00820/joss.00820/10.21105.joss.00820.pdf)

[2018-09-06 18:13] katyhuff commented on #884
Ah -- I'm so sorry wholmgren  -- I missed the last notification.

Indeed, it's time for the next step!

Could you please make an archive of the reviewed software in Zenodo/figshare/other service and update this thread with the DOI of the archive? I can then move forward with accepting the submission! (You may want to be sure to double check the paper, all minor details, etc. before creating the ar

[2018-09-06 18:13] katyhuff commented on #884
@whedon generate pdf

[2018-09-06 18:14] whedon commented on #884
[code]

[2018-09-06 18:14] whedon commented on #884
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00884/joss.00884/10.21105.joss.00884.pdf)

[2018-09-06 18:15] mdpiper commented on #898
My review of **AtomNeb** is complete. The library and its associated paper are appropriate for publication in JOSS, pending  @danehkar's responses to the minor issues I've opened in the repository.

(@arfon I'll complete the open items in the review checklist once these issues have been addressed.)

[2018-09-06 19:16] mpurg commented on #930
Hi @kyleniemeyer,

Based on declared topics of research, I can suggest the following users
from the list of joss reviewers:
@richardjgowers
@fdroessler
@malramsay64

Additionally, I can suggest an expert in the topic specific to the
manuscript:
@esguerra

Best regards,
Miha

V V čet., 6. sep. 2018 ob 18:19 je oseba Arfon Smith <
notifications@github.com> napisala:

[2018-09-06 20:48] wholmgren commented on #884
Thanks. Looks like we have some issues with reference formatting. I'll try to fix those. Is it possible to run the pdf compilation locally without too much trouble?

We are very close to a new release so maybe best to wait a few days for that DOI.

[2018-09-06 23:32] vyasr commented on #900
Thanks for those changes! Sorry for the delay. Here is my next set of comments.

- Python functions should add some function/class level documentation of the APIs. The functions all have docstrings, which is helpful, but they should also have some description of what the arguments are and what the object types are (floats, lists, some internal class, etc).
- Since you have a setup.py already and y

[2018-09-07 00:54] offray opened #931 "Author last name is wrong"
Hi,
I was linking this paper and I noticed that the last name appearing [here][joss] is still Cárdenas, but it should be Luna.

[joss]: http://joss.theoj.org/papers/c92ed13fa746bc681081f9b31678841b

[2018-09-07 00:54] whedon commented on #931
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-07 00:54] whedon commented on #931
[code]

[2018-09-07 00:54] whedon commented on #931
PDF failed to compile for issue #931 with the following error:

 Can't find any papers to compile :-(

[2018-09-07 06:48] rouson commented on #865
[issue #2](https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/2)

[2018-09-07 06:55] rouson commented on #865
[issue3 ](https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/3)

[2018-09-07 06:59] rouson commented on #865
[issue #4](https://github.com/wimvanderbauwhede/RefactorF4Acc/issues/4)

[2018-09-07 07:16] stenskjaer commented on #810
@Kevin-Mattheus-Moerman thank you for your response.

I think it is important to stress that the creation of critical text editions and textual criticism is the most foundational research you can find when it comes to any text interpretative discipline. The purpose of the activity is to provide texts that will be the basis for any subsequent work, be it analysis by a researcher, translation for fu

[2018-09-07 11:35] arfon commented on #898
Thanks @mdpiper!

@mgalloy - how are you getting along here?

[2018-09-07 11:37] arfon commented on #931
This is now fixed.

[2018-09-07 11:37] #931 closed

[2018-09-07 11:42] whedon opened #932 "[PRE REVIEW]: alv: a console-based viewer for molecular sequence alignments"
**Submitting author:** @arvestad (<a href="http://orcid.org/0000-0001-5341-1733">Lars Arvestad</a>)
**Repository:** <a href="https://github.com/arvestad/alv" target ="_blank">https://github.com/arvestad/alv</a>
**Version:** v1.2.0
**Editor:** @yochannah
**Reviewers:** @karinlag, @juanvillada

**Author instructions**

Thanks for submitting your paper to JOSS @arvestad. The JOSS editor (shown at the

[2018-09-07 11:42] whedon commented on #932
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

[2018-09-07 11:42] whedon commented on #932
[code]

[2018-09-07 11:42] whedon opened #933 "[PRE REVIEW]: ipc: An R Package for Inter-process Communication"
**Submitting author:** @ifellows (<a href="http://orcid.org/0000-0003-1261-0925">Ian Fellows</a>)
**Repository:** <a href="https://github.com/fellstat/ipc" target ="_blank">https://github.com/fellstat/ipc</a>
**Version:** 0.1.0
**Editor:** @yochannah
**Reviewers:** @mschubert , @JohnCoene

**Author instructions**

Thanks for submitting your paper to JOSS @ifellows. The JOSS editor (shown at the to

[2018-09-07 11:42] whedon commented on #932
PDF failed to compile for issue #932 with the following error:

 Can't find any papers to compile :-(

[2018-09-07 11:42] whedon commented on #933
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @yochannah it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

[2018-09-07 11:42] whedon commented on #933
[code]

[2018-09-07 11:42] whedon commented on #933
Failed to discover a valid open source license.

[2018-09-07 11:42] arfon commented on #933
:wave: @yochannah - the submitting author suggested you as the handling editor.

[2018-09-07 11:43] whedon commented on #933
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00933/joss.00933/10.21105.joss.00933.pdf)

[2018-09-07 11:54] arfon commented on #932
Hi @arvestad - please review the [submission guidelines](https://joss.readthedocs.io/en/latest/submitting.html) and prepare a paper. The review cannot proceed until you have done this.

[2018-09-07 11:56] arvestad commented on #932
I am on it. I had forgotten to commit/push the prepared paper to the repo. :-(

	Thanks,
	L

[2018-09-07 11:58] arvestad commented on #932
@whedon generate pdf

[2018-09-07 11:58] whedon commented on #932
[code]

[2018-09-07 11:58] whedon commented on #932
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00932/joss.00932/10.21105.joss.00932.pdf)

[2018-09-07 12:02] highlando commented on #820
@ctdegroot @arfon I'm perfectly fine with everything!!!

[2018-09-07 12:06] AleksandraDabrowska commented on #929
@whedon commands

[2018-09-07 12:06] whedon commented on #929
Here are some things you can ask me to do:

[code]

[2018-09-07 12:09] arvestad commented on #932
@whedon generate pdf

[2018-09-07 12:09] whedon commented on #932
[code]

[2018-09-07 12:10] whedon commented on #932
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00932/joss.00932/10.21105.joss.00932.pdf)

[2018-09-07 12:13] arvestad commented on #932
@whedon generate pdf

[2018-09-07 12:13] whedon commented on #932
[code]

[2018-09-07 12:13] AleksandraDabrowska commented on #929
@whedon  generate pdf

[2018-09-07 12:13] whedon commented on #932
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.00932/joss.00932/10.21105.joss.00932.pdf)

[2018-09-07 12:27] arvestad commented on #932
@whedon add @karinlag as reviewer

[2018-09-07 12:27] whedon commented on #932
I'm sorry @arvestad, I'm afraid I can't do that. That's something only editors are allowed to do.

[2018-09-07 12:28] katyhuff commented on #884
Hi @wholmgren the references look ok to me. Perhaps I'm not sufficiently discerning. Can you give an example of what the problem is in the reference formatting?

Regarding the DOI, technically we'd like the DOI to be representative of the reviewed version of the code. However, if it's really just a few days to release, I think waiting for the updated doi is fine as long as new changes in your upco

[2018-09-07 12:32] arvestad commented on #932
My suggestions for reviewers:

* Karin Lagesen, @karinlag. Involved in Software Carpentry and advocate for quality in Bioinformatics software.

I picked three names with an interest in evolution from the list of potential referees:

* @giraola
* @shaunpwilkinson
* @juanvillada

Bioinformatics is a broad subject these days, but people working in evolution are more likely to be interested in using t

[2018-09-07 14:13] ifellows commented on #933
note: license specified in package as per https://cran.r-project.org/doc/manuals/r-release/R-exts.html#Licensing

[2018-09-07 14:26] AleksandraDabrowska commented on #929
@whedon generate pdf

[2018-09-07 14:26] whedon commented on #929
[code]

[2018-09-07 15:07] wholmgren commented on #884
Thanks @katyhuff. I believe that the reviewers ultimately approved commit [845a75](https://github.com/pvlib/pvlib-python/tree/845a75ac736c00901c5077f2e57902d505e18d71). I could describe this as v0.6.0-alpha and follow the normal GitHub Release --> Zenodo archive process. Alternatively, I could download the repo at that commit and upload it as a separate Zenodo archive. Is one approach preferable t

[2018-09-07 15:39] mnarayan commented on #855
I have looked at the repository and it still needs some work. Will finish submitting all the issues around documentation this weekend

[2018-09-07 17:02] ifellows commented on #933
Quickly looking over potential reviewers it looks like JohnCoene and wrathematics might be good fits.

[2018-09-07 17:33] katyhuff commented on #884
- Both DOI generation approaches are equivalent, from the perspective of JOSS.
- Regarding the references -- I see. Indeed, I think that's happening at the level of the bibstyle, so it's right according to JOSS.

Thanks!

[2018-09-07 17:55] karinlag commented on #932
I accept being a reviewer for this paper.