[2020-11-14 06:37] jbytecode commented on #2811
Dear editor @mjsottile ,  I gladly accept reviewing this paper, thank you.

[2020-11-14 10:12] pdebuyl commented on #2834
@kakirastern I pick reviewers from this list first and try to balance the reviewers' backgrounds. The best way forward, in any case, is to volunteer to review for JOSS here: https://joss.theoj.org/reviewer-signup.html Then you can be picked for a future submission.

[2020-11-14 10:20] kakirastern commented on #2834
Sure @pdebuyl, let me volunteer for JOSS now. Thanks for the heads up!

[2020-11-14 13:05] eloisabentivegna commented on #2495
I have not received a response from @iliantiliev, so I won't be able to add him back to the review issue. @afialkov, @Stefan-Heimersheim, and myself will remain as the official reviewers for this submission. All reports are now complete.

@EGaraldi, please let us know if the comments make sense, and keep us up to date with your progress implementing the corresponding changes.

[2020-11-14 13:14] jorgensd commented on #2687
I think we are getting quite close to a finalized version. I've added some more notes to the various issues in SeismicMesh (and some of them you have already addressed). When we iron out the last few things, I am happy with the state of the software. The final thing would be to have a last read-through of the paper. Nico has given you some good input, and I believe that I will have very few correc

[2020-11-14 13:31] JamieJQuinn commented on #2744
I'm happy to accept this with a few changes, mostly to the documentation:

**Documentation:**
- I found the SPHINX annotations distracting; I imagine they would be very confusing to a new python user. Can these be removed from the examples in the documentation? I think they're fine in the actual example code.
- I don't think the full source code for each example is required in the documentation. I

[2020-11-14 13:51] kthyng commented on #2840
@whedon query scope

[2020-11-14 13:51] whedon commented on #2840
Submission flagged for editorial review.

[2020-11-14 13:52] kthyng commented on #2840
@ad48 - thanks for your submission! I've flagged this submission to be looked at by the editorial board at large due to its relatively small size to see if it is in scope. Someone will get back to you within a week or two.

[2020-11-14 19:08] kthyng commented on #2839
@tramarobin Can you address the DOI note above?

[2020-11-14 19:08] kthyng commented on #2839
@csoneson Can you edit this submission?

[2020-11-14 19:09] kthyng commented on #2839
@whedon invite @csoneson as editor

[2020-11-14 19:09] whedon commented on #2839
@csoneson has been invited to edit this submission.

[2020-11-14 20:37] artgoldberg commented on #2685
@whedon commands

[2020-11-14 20:37] whedon commented on #2685
Here are some things you can ask me to do:

[code]

[2020-11-14 21:14] UTH-Tuan commented on #2153
I would move toward acceptance. no concerns

[2020-11-14 21:19] d-tear commented on #2689
Hi @jni
<https://urldefense.com/v3/__https://github.com/jni__;!!LIr3w8kk_Xxm!_U7Nbabchvz-kBYleZmBizKicTUJQCQ1SmDnNak-HLRVjh5Jo0_mf2_mQLM5Fw$>
 , @haesleinhuepf
<https://urldefense.com/v3/__https://github.com/haesleinhuepf__;!!LIr3w8kk_Xxm!_U7Nbabchvz-kBYleZmBizKicTUJQCQ1SmDnNak-HLRVjh5Jo0_mf2_OP2FJRA$>,
and @bogovicj
<https://urldefense.com/v3/__https://github.com/bogovicj__;!!LIr3w8kk_Xxm!8_Sx2_U

[2020-11-14 22:27] wtbarnes commented on #2801
Thanks for your review @hayesla! Just to respond to your questions:

* That's correct. The problem is that these aren't stored anywhere (e.g. JSOC, VSO, etc.). `aiapy.psf.deconvolve` has the `psf` kwarg which allows a user to pass in a precomputed PSF rather than doing it on the fly each time. The suggested workflow would be to calculate the PSF for each channel once with `aiapy.psf.psf` and then

[2020-11-14 23:02] gkthiruvathukal commented on #2153
@UTH-Tuan Thanks, this will help me to move toward the next steps. I'll be following up shortly.

[2020-11-14 23:15] hayesla commented on #2801
Thanks for clarification @wtbarnes!

No these aren't blocking issues for publication in my opinion - just suggestions from my review.

[2020-11-15 00:21] mossr commented on #2749
Thank you @jarvist and @sambitdash. I'm applying to PhD programs at the end of this month, so if there's anything I can do to help expedite this review please let me know and I'd be happy to address them.

[2020-11-15 00:28] prdm0 commented on #2769
Prezado @timtroendle , Is there a maximum time limit for improvements to be implemented? When the suggestions are implemented, should I generate a new PDF using `@whedon generate pdf`?

Kind regards.

[2020-11-15 02:25] sebhaan commented on #2690
Hi @npetra ,

thanks for your helpful review. I've updated the code and documentation accordingly. Please see below inline for the detailed reply

Re: It is now registered on PyPi (https://pypi.org/project/geobo/0.1.0/) and can be installed with pip.

Re: Yes, as long as the forward model is a linear or quasi-linear system (i.e. the relationship problem between a physical system phi and the observ

[2020-11-15 02:43] charleygros commented on #2836
Many thanks @cMadan for accepting to be the editor for this submission!

Sorry for the delayed reply.

Suggestions for reviewers from the provided list:
- rlizzo
- NMontanaBrown
- Bsingstad
- justusschock
- lbugnon
- esadr
- fernandoandreotti

Sure, I'm happy do this ASAP and will keep you posted.

[2020-11-15 03:07] sebhaan commented on #2690
Dear @sgkang

thank you for taking your to review this package and your helpful comments. I've updated the code, paper, and documentation accordingly, but still have to add some more automated testing. Please see below inline for the detailed reply.

Re:  It is now registered on PyPi (https://pypi.org/project/geobo/0.1.0/) and can be installed with pip.

Re: Will add some more automated test (like

[2020-11-15 03:44] charleygros commented on #2836
@whedon generate pdf

[2020-11-15 03:44] whedon commented on #2836
PDF failed to compile for issue #2836 with the following error:

 Error reading bibliography file paper.bib:
(line 107, column 10):
unexpected ","
expecting white space
Looks like we failed to compile the PDF

[2020-11-15 03:58] charleygros commented on #2836
@whedon generate pdf

[2020-11-15 03:59] whedon commented on #2836
PDF failed to compile for issue #2836 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.-02aca882a10b72c1/78fb38f212fa49029aff24c669a39648d9b4e68b.vs': Cannot load file
  Jpeg Invalid marker used
  PNG Invalid PNG file, signature broken
  Bitmap Invalid Bitmap magic identifier
  GIF Invalid Gif signature : 404: N
  HDR Invalid radiance file signature
  Tiff Invalid endian

[2020-11-15 04:35] charleygros commented on #2836
@whedon generate pdf

[2020-11-15 04:36] whedon commented on #2836
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02836/joss.02836/10.21105.joss.02836.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02836/joss.02836/10.21105.joss.02836.pdf) :page_facing_up: :point_left:

[2020-11-15 05:42] kfhiga commented on #2744
Thank you for the detailed advice! I will get to work on these and let you
know when I've made the changes.
Kenny

On Sat, Nov 14, 2020 at 5:32 AM Jamie J Quinn <notifications@github.com>
wrote:

[2020-11-15 08:17] tramarobin commented on #2839
The DOI issue was corrected. Trama RobinPhD student De : Kristen ThyngEnvoyé le :samedi 14 novembre 2020 20:08À : openjournals/joss-reviewsCc : tramarobin; MentionObjet :Re: [openjournals/joss-reviews] [PRE REVIEW]: fctSPM: Factorial ANOVA and post-hoc tests for Statistical Parametric Mapping in MATLAB (#2839) @tramarobin Can you address the DOI note above?—You are receiving this because you were

[2020-11-15 08:39] arfon commented on #2801
:wave: @samaloney - can I just check that you're happy with this submission _as-is_ and recommend publication in JOSS?

[2020-11-15 08:40] csoneson commented on #2440
Thanks @neuromusic. I have removed the `paused` label. Once the changes are merged you can ask whedon to re-render the manuscript: `@whedon generate pdf`, and @giovp, @shazanfar, @vals can have a look at the revisions.

[2020-11-15 10:00] samaloney commented on #2801
Sorry @arfon I was just checking a few things, I'm more than happy to recommend for publication.

@wtbarnes Great work on a very useful and well documented package.

[2020-11-15 10:26] nmstreethran commented on #2695
Hi @sjpfenninger, sorry for the late response.

Based on my checklist, I only have one item remaining, which is a statement of need in the documentation. I think just a summary of the target audience would suffice as the usage of the software has already been described in the documentation [here](https://lbnl-eta.github.io/MSWH/source/models.html). I have checked off all other items as I believe P

[2020-11-15 11:57] dhhagan commented on #2781
Hey @darothen how is everything going with the review? Any questions?

[2020-11-15 12:08] dhhagan commented on #2755
👋  Hey there @pboesu @cbrueffer @nhejazi @ethanwhite are any of you available to review this manuscript?

[2020-11-15 12:09] pboesu commented on #2755
I'm afraid I do not have capacity for this at the moment.

[2020-11-15 12:37] cbrueffer commented on #2755
Same here, too many other obligations at the moment, sorry.

[2020-11-15 14:21] MiroK commented on #2645
@ajbaird I apologize for late response. From my point of view all looks/works nicely; I was able to install and run the code without issues on my Ubuntu 18.04. The only comments I have are regarding the article proof:

- In the sentence on page 2. "compliance elements(Otto, 1899; Westerhof et al., 2009)" I guess there should be a space
- " The software architecture of BioGears is implemented in th

[2020-11-15 14:51] arfon commented on #2801
@whedon check references

[2020-11-15 14:51] arfon commented on #2801
@whedon check references from branch joss-paper

[2020-11-15 14:52] whedon commented on #2801
[code]

[2020-11-15 14:52] arfon commented on #2801
@whedon generate pdf from branch joss-paper

[2020-11-15 14:52] whedon commented on #2801
[code]

[2020-11-15 14:52] whedon commented on #2801
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02801/joss.02801/10.21105.joss.02801.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02801/joss.02801/10.21105.joss.02801.pdf) :page_facing_up: :point_left:

[2020-11-15 14:56] arfon commented on #2801
@wtbarnes - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the auth

[2020-11-15 17:49] lootie commented on #2463
@VivianePons I've made the archive here: http://doi.org/10.5281/zenodo.4274772 and tagged the release as v1.1.0. Thanks.

[2020-11-15 18:18] nhejazi commented on #2811
Thanks, @mjsottile -- unfortunately, I am already committed to several other ongoing reviews and do not have the bandwidth to accept another at the moment.

[2020-11-15 18:19] nhejazi commented on #2755
I am currently committed to several other ongoing reviews and cannot take on another at the moment.

[2020-11-15 18:29] kthyng commented on #2424
This isn't super important since they are minor changes.

[2020-11-15 18:29] kthyng commented on #2424
@whedon accept deposit=true

[2020-11-15 18:30] whedon commented on #2424
[code]

[2020-11-15 18:30] whedon commented on #2424
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328042804241690625) 👈 🐦🐦🐦

[2020-11-15 18:30] whedon commented on #2424
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1911
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02424](https://doi.org/10.21105/joss.02424)
2. If everything looks g

[2020-11-15 18:33] kthyng commented on #2424
Congrats on your new publication @kullrich! Thanks to editor @KristinaRiemer and reviewers @clauswilke and @a-r-j for your time and expertise!! 🎉

(I'll close this issue once the DOI resolves)

[2020-11-15 18:37] kthyng commented on #2750
@whedon accept deposit=true

[2020-11-15 18:37] whedon commented on #2750
[code]

[2020-11-15 18:37] #2424 closed

[2020-11-15 18:37] whedon commented on #2424
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02424/status.svg)](https://doi.org/10.21105/joss.02424)

**We need your help!**

Journal of Open Source Softwa

[2020-11-15 18:37] whedon commented on #2750
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328044580009369600) 👈 🐦🐦🐦

[2020-11-15 18:37] whedon commented on #2750
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1912
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02750](https://doi.org/10.21105/joss.02750)
2. If everything looks g

[2020-11-15 18:46] kthyng commented on #2750
Congrats on your new publication @KshitijAggarwal! Many thanks to editor @dfm and reviewers @pravirkr and @paulray for your time and expertise!! 🎉

[2020-11-15 18:46] #2750 closed

[2020-11-15 18:46] whedon commented on #2750
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02750/status.svg)](https://doi.org/10.21105/joss.02750)

**We need your help!**

Journal of Open Source Softwa

[2020-11-15 18:47] KshitijAggarwal commented on #2750
Thanks a lot, everyone!!! :) :)

[2020-11-15 18:50] kthyng commented on #1584
@whedon accept deposit=true

[2020-11-15 18:50] whedon commented on #1584
[code]

[2020-11-15 18:51] whedon commented on #1584
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328047952473059334) 👈 🐦🐦🐦

[2020-11-15 18:51] whedon commented on #1584
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1913
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01584](https://doi.org/10.21105/joss.01584)
2. If everything looks g

[2020-11-15 18:55] kthyng commented on #1584
Congrats on your new publication @mikkonie! Thanks to editor @lpantano and reviewers @rbatorsky and @olgabot for your time and expertise!! 🎉 🎉

[2020-11-15 18:55] #1584 closed

[2020-11-15 18:55] whedon commented on #1584
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01584/status.svg)](https://doi.org/10.21105/joss.01584)

**We need your help!**

Journal of Open Source Softwa

[2020-11-15 19:00] kthyng commented on #2841
Hi @KristinaRiemer! Can you edit this submission?

[2020-11-15 19:00] kthyng commented on #2841
@whedon invite @KristinaRiemer as editor

[2020-11-15 19:00] whedon commented on #2841
@KristinaRiemer has been invited to edit this submission.

[2020-11-15 19:13] cMadan commented on #2506
@kthyng, I figured it's better to not 'enforce' US norms on titles, so had left that as-is. As for the performance checkbox, I was fine with it unchecked as no performance claims were made, though functionality was obviously assessed. @gcdeshpande signed off in comment https://github.com/openjournals/joss-reviews/issues/2506#issuecomment-720124281. (Part of why I'm responding like this is that @gc

[2020-11-15 19:55] arfon commented on #2798
:wave: @danehkar - just checking in here. Any progress reworking your paper?

[2020-11-15 19:56] arfon commented on #2797
:wave: @danehkar - just checking in here. Any progress reworking your paper?

[2020-11-15 20:02] csoneson commented on #2839
@kthyng - this is a bit outside of my expertise, I'm afraid. I wonder if one of the more MATLAB/neuroimaging-oriented editors would be more suitable (if available).

[2020-11-15 20:37] artgoldberg commented on #2685
Hi @danielskatz

The paper you compiled with Whedon looks fine. Jonathan and I made a couple of dozen small changes to fix typos, improve wording, and clarify a couple of points.

I've created a tagged release of de-sim, with [tag 1.0.4](https://github.com/KarrLab/de_sim/releases/tag/1.0.5).
This release is archived at [Zenodo](https://zenodo.org/record/4274852) with DOI 10.5281/zenodo.4274852.

T

[2020-11-15 20:54] danielskatz commented on #2685
@whedon generate pdf

I'll do most of the rest of the processing tomorrow...

[2020-11-15 20:54] danielskatz commented on #2685
@whedon set 1.0.5 as version

[2020-11-15 20:54] whedon commented on #2685
OK. 1.0.5 is the version.

[2020-11-15 20:55] danielskatz commented on #2685
@whedon set 10.5281/zenodo.4274852 as archive

[2020-11-15 20:55] whedon commented on #2685
OK. <a href="https://doi.org/10.5281/zenodo.4274852" target="_blank">10.5281/zenodo.4274852</a> is the archive.

[2020-11-15 20:55] whedon commented on #2685
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02685/joss.02685/10.21105.joss.02685.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02685/joss.02685/10.21105.joss.02685.pdf) :page_facing_up: :point_left:

[2020-11-15 21:08] danehkar commented on #2772
@whedon generate pdf

[2020-11-15 21:08] whedon commented on #2772
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: :point_left:

[2020-11-15 21:11] danehkar commented on #2772
@whedon generate pdf

[2020-11-15 21:12] whedon commented on #2772
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: :point_left:

[2020-11-15 21:12] danehkar commented on #2773
@whedon generate pdf

[2020-11-15 21:12] whedon commented on #2773
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02773/joss.02773/10.21105.joss.02773.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02773/joss.02773/10.21105.joss.02773.pdf) :page_facing_up: :point_left:

[2020-11-15 21:13] danehkar commented on #2772
@whedon generate pdf

[2020-11-15 21:14] whedon commented on #2772
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02772/joss.02772/10.21105.joss.02772.pdf) :page_facing_up: :point_left:

[2020-11-15 21:16] danehkar commented on #2797
@whedon generate pdf

[2020-11-15 21:16] danehkar commented on #2798
@whedon generate pdf

[2020-11-15 21:16] whedon commented on #2797
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02797/joss.02797/10.21105.joss.02797.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02797/joss.02797/10.21105.joss.02797.pdf) :page_facing_up: :point_left:

[2020-11-15 21:17] whedon commented on #2798
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02798/joss.02798/10.21105.joss.02798.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02798/joss.02798/10.21105.joss.02798.pdf) :page_facing_up: :point_left:

[2020-11-15 21:19] wtbarnes commented on #2801
@arfon I've just created a v0.3.1 release for the package: https://gitlab.com/LMSAL_HUB/aia_hub/aiapy/-/releases/v0.3.1 as well as an associated Zenodo record for this release: https://zenodo.org/record/4274931. This release includes several fixes suggest by @hayesla as part of her review.

The Zenodo DOI is: 10.5281/zenodo.4274931

@hayesla @samaloney Thanks very much for reviewing the package an

[2020-11-15 21:21] danehkar commented on #2798
@arfon I updated the paper accordingly.

[2020-11-15 21:21] danehkar commented on #2797
@arfon I updated the paper accordingly.

[2020-11-15 22:12] dwinter commented on #2743
Hi @greggj2016 That sounds like a plan. Feel free to sketch out your proposed solution before you pour lots of time into coding it up.

[2020-11-15 22:58] goerz commented on #2809
I noticed that two people, @hwangjt and @kmarsteller seem to have [contributed significantly](https://github.com/OpenMDAO/dymos/graphs/contributors) to the software repo, but do not appear as authors on the paper. I don't have a fundamental problem with this, but @robfalck may want to comment on what these two people contributed to the project and why their contribution is not relevant for authors

[2020-11-15 23:06] remram44 commented on #2796
@katyhuff I can do a review

[2020-11-15 23:26] goerz commented on #2809
@robfalck  The [documentation of dymos](https://openmdao.github.io/dymos/index.html#citation) points to https://arc.aiaa.org/doi/abs/10.2514/6.2019-0976, and that paper clearly already introduces the dymos package. That makes me somewhat inclined to reject the submission to JOSS as "not original". Can you comment on why you think the submission to JOSS is justified?

@dpsanders What are your guide

[2020-11-15 23:48] milicag commented on #2695
@sjpfenninger At @brynpickering's suggestion we are having a native speaker taking a final look at the `paper.md` on Monday and with that the current pull request will provide all edits the reviewers identified as needed.

I have put together [this finalization issue](https://github.com/LBNL-ETA/MSWH/issues/16) that I intend to address as the last step, given your approval.

[2020-11-16 00:23] stsievert commented on #2812
@whedon generate pdf

[2020-11-16 00:24] whedon commented on #2812
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02812/joss.02812/10.21105.joss.02812.pdf) :page_facing_up: :point_left:

[2020-11-16 01:11] stsievert commented on #2812
@whedon commands

[2020-11-16 01:11] whedon commented on #2812
Here are some things you can ask me to do:

[code]

[2020-11-16 01:13] stsievert commented on #2812
@melissawm I have a review waiting. It looks like I didn't accept the invitation to collaborate on this repo in time, so I can't edit https://github.com/openjournals/joss-reviews/issues/2812#issue-734575770. Could you resend that invitation?

[2020-11-16 02:35] majensen commented on #2790
@oeco28 -- what do you think, do you have time to review?

[2020-11-16 02:37] majensen commented on #2558
@egonw - checking in. How are things going?

[2020-11-16 02:41] majensen commented on #1942
@benjaminbolling @Chilipp @pythonpanda2  - as we're coming up on the one year anniversary of the submission, I thought I would see if we're still on track. I think @benjaminbolling  is making some progress. @Chilipp I think you are still with us. @pythonpanda2 can you ping back on this thread as to whether you are still following this review and able to pick it up again?
thanks all

[2020-11-16 04:37] teuben commented on #2629
I've been adding some issues, author is working on those. I'm about halfway through the examples, a bit more work than I thought, will take a night sleep on it. more tomorrow.

[2020-11-16 04:40] amanchokshi commented on #2629
@teuben Thanks a lot Peter!

[2020-11-16 05:52] ketch commented on #2515
@VivianePons Thanks to you and the reviewers for all your hard work!  I've made a release on Zenodo and I think everything is in order.

[2020-11-16 06:15] benjaminbolling commented on #1942
Good morning all, and thanks again. Can you confirm what is left to be done? I think I am ready to push the changes in terms of the last part of the API documentation, [Issue #8](https://github.com/benjaminbolling/DynaGUI/issues/8).

Let me know what else is left to do. Thanks again all, and sorry for taking so much time.

[2020-11-16 07:12] arfon commented on #2801
@whedon set 10.5281/zenodo.4274931 as archive

[2020-11-16 07:12] whedon commented on #2801
OK. <a href="https://doi.org/10.5281/zenodo.4274931" target="_blank">10.5281/zenodo.4274931</a> is the archive.

[2020-11-16 07:12] arfon commented on #2801
@whedon accept from branch joss-paper

[2020-11-16 07:12] whedon commented on #2801
[code]

[2020-11-16 07:13] whedon commented on #2801
PDF failed to compile for issue #2801 with the following error:

 /app/vendor/bundle/ruby/2.6.0/gems/bibtex-ruby-5.1.5/lib/bibtex/bibliography.rb:50:in `read': No such file or directory @ rb_sysopen - 9511e0a11d5128c0be0847f5/joss/["paper.bib"] (Errno::ENOENT)
	from /app/vendor/bundle/ruby/2.6.0/gems/bibtex-ruby-5.1.5/lib/bibtex/bibliography.rb:50:in `open'
	from /app/vendor/bundle/ruby/2.6.0/gems

[2020-11-16 07:14] arfon commented on #2801
@wtbarnes - please update the line referencing your figure:

[code]

[2020-11-16 07:16] hugoledoux commented on #2537
Cheers.

OK new DOI is 10.5281/zenodo.4272105

[2020-11-16 07:17] wtbarnes commented on #2801
Sorry about that. Just updated.

[2020-11-16 07:17] hugoledoux commented on #2537
@whedon set 10.5281/zenodo.4272105 as archive

[2020-11-16 07:17] whedon commented on #2537
OK. <a href="https://doi.org/10.5281/zenodo.4272105" target="_blank">10.5281/zenodo.4272105</a> is the archive.

[2020-11-16 07:17] hugoledoux commented on #2537
@whedon set 2.1.1. as version

[2020-11-16 07:17] whedon commented on #2537
OK. 2.1.1. is the version.

[2020-11-16 07:17] hugoledoux commented on #2537
@whedon accept

[2020-11-16 07:17] whedon commented on #2537
[code]

[2020-11-16 07:18] whedon commented on #2537
[code]

[2020-11-16 07:18] whedon commented on #2537
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1914

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1914, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-16 08:07] mjsottile commented on #2811
@whedon add @jbytecode as reviewer

[2020-11-16 08:07] whedon commented on #2811
OK, @jbytecode is now a reviewer

[2020-11-16 08:11] mjsottile commented on #2811
:wave: @oesteban, @tupi, @glemaitre : Would you be interested in providing a review for this submission to JOSS? I have identified you based on your areas of knowledge as listed in our potential reviewer spreadsheet. Please let me know if you are interested and available. Thank you!

[2020-11-16 09:22] lrnv commented on #2653
@pdebuyl , I am at a stage were everything that needed to be fixed EXCEPT the paper is fixed. Since the paper is not part of the CRAN submission, assuming that the reviewers have nothing more to say about the code itself, I'll update the version number and push to cran.

We can then discuss the paper while CRAN do it's job, and finish the publication to zenodo / Joss when CRAN has accepted.

Would

[2020-11-16 09:25] glemaitre commented on #2811
@mjsottile I can help with the review.

[2020-11-16 09:26] lrnv commented on #2653
@whedon generate pdf

[2020-11-16 09:27] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-11-16 09:29] Kevin-Mattheus-Moerman commented on #2548
@CBenghi can you please finalize your review, thanks!

[2020-11-16 09:29] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila :point_up:

[2020-11-16 09:30] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch @moorepants, are you able to pick this up? Thanks

[2020-11-16 09:31] Kevin-Mattheus-Moerman commented on #2727
@MaierOli2010 let us know when you've made changes to review. FYI you can also call `@whedon generate pdf` here to update the paper.

[2020-11-16 09:43] mjsottile commented on #2811
@whedon add @glemaitre as reviewer

[2020-11-16 09:43] whedon commented on #2811
OK, @glemaitre is now a reviewer

[2020-11-16 09:50] MaierOli2010 commented on #2727
@Kevin-Mattheus-Moerman I've updated the paper based on the suggestions of the reviewers.

[2020-11-16 09:50] MaierOli2010 commented on #2727
@whedon generate pdf

[2020-11-16 09:51] AnaWaldila commented on #2548
@asmusskar . Please, 2 cases to change:
"This model is engaged to calculate the response (i.e, stress and deformations). Please, change "deformations" to "strain".

"The point of response evaluation Aj is indicated in The Figure;". Aj is present in both Figures. Please, specify.

@Kevin-Mattheus-Moerman , thanks! After this two cases, I going to read The paper and I will accept. Do I need to check

[2020-11-16 09:51] whedon commented on #2727
PDF failed to compile for issue #2727 with the following error:

 Can't find any papers to compile :-(

[2020-11-16 09:52] MaierOli2010 commented on #2727
@whedon generate pdf from branch JOSS_pub

[2020-11-16 09:52] whedon commented on #2727
[code]

[2020-11-16 09:53] whedon commented on #2727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: :point_left:

[2020-11-16 10:13] lrnv commented on #2653
@coatless , @agisga
I wanted to thank again both of you for the time you took reviewing this package. I made modifications regarding all your remarks and suggestions, improving in my opinion the quality of the final code and documentation.

I'm now ready to submit an update to CRAN. If you want to see what has changed, feel free to open the corresponding issues. If you have more remarks regarding

[2020-11-16 10:16] pdebuyl commented on #2820
@whedon assign me as editor

[2020-11-16 10:16] whedon commented on #2820
OK, the editor is @pdebuyl

[2020-11-16 11:23] yangbai90 commented on #2699
@whedon check references

[2020-11-16 11:23] whedon commented on #2699
[code]

[2020-11-16 11:25] yangbai90 commented on #2699
@flofaucher : Hi Florian, it seems some DOIs are still missing, if these references are completed, on my side, it's ready for publication.
BR
Yang

[2020-11-16 11:30] arfon commented on #2801
@whedon accept from branch joss-paper

[2020-11-16 11:30] whedon commented on #2801
[code]

[2020-11-16 11:30] whedon commented on #2801
[code]

[2020-11-16 11:31] whedon commented on #2801
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1915

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1915, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-16 11:33] arfon commented on #2801
@whedon accept deposit=true from branch joss-paper

[2020-11-16 11:33] whedon commented on #2801
[code]

[2020-11-16 11:34] whedon commented on #2801
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328300431232086016) 👈 🐦🐦🐦

[2020-11-16 11:34] whedon commented on #2801
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1916
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02801](https://doi.org/10.21105/joss.02801)
2. If everything looks g

[2020-11-16 11:35] fduchatea commented on #2805
@galessiorob

Thanks for the hints. We have created a repository with a public tracker:
https://gitlab.com/fduchate/review-repo-predihood

The first sections of the paper have been reformulated to broaden the description.

[2020-11-16 11:36] fduchatea commented on #2805
@whedon generate pdf

[2020-11-16 11:36] arfon commented on #2801
@hayesla, @samaloney - many thanks for your reviews here, JOSS simply wouldn't work without the efforts of volunteers like yourselves ✨

@wtbarnes - your paper is now accepted into JOSS :zap::rocket::boom:

[2020-11-16 11:36] #2801 closed

[2020-11-16 11:36] whedon commented on #2801
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02801/status.svg)](https://doi.org/10.21105/joss.02801)

**We need your help!**

Journal of Open Source Softwa

[2020-11-16 11:37] whedon commented on #2805
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02805/joss.02805/10.21105.joss.02805.pdf) :page_facing_up: :point_left:

[2020-11-16 12:07] flofaucher commented on #2699
@whedon check references

[2020-11-16 12:08] flofaucher commented on #2699
@whedon check references

[2020-11-16 12:08] whedon commented on #2699
[code]

[2020-11-16 12:08] whedon commented on #2699
[code]

[2020-11-16 12:23] flofaucher commented on #2699
@whedon check references

[2020-11-16 12:25] flofaucher commented on #2699
@meg-simula  @yangbai90  Thank you, I have just updated the bibliography. There are two preprints that have been accepted that I listed as "to appear", I can update with the appropriate doi as soon as I got them.

[2020-11-16 12:25] whedon commented on #2699
[code]

[2020-11-16 12:33] MAnalytics commented on #2379
Dear @njtierney (and @karthik),

We greatly appreciate you taking the time to review our paper.

We have addressed all the issues raised by @njtierney, and we hope that the paper will now be accepted for publication. Please, find our response to each of the issues below.

Kind Regards,

Monsuru (@MAnalytics)

***#-----------------------------------***

***## ---------------------------------------

[2020-11-16 12:36] dfm commented on #2308
Quick update here: Since I haven't heard back from @astrom-tom yet, I'm in the process of looking for a replacement reviewer. Thanks for your patience, all!

[2020-11-16 12:38] PatrickRWright commented on #2816
@whedon generate pdf

[2020-11-16 12:39] whedon commented on #2816
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: :point_left:

[2020-11-16 12:39] profxj commented on #2308
Hmm..  His review was quite good and we made quite a number
of changes to improve things (e.g. major overhaul of the docs).

Can you explain why we need yet a 3rd reviewer now?

[2020-11-16 12:43] VivianePons commented on #2463
Can you update the title so that it has the same title as the paper?

[2020-11-16 12:44] VivianePons commented on #2515
Can you give me the doi?

[2020-11-16 13:01] dglaeser commented on #2291
@whedon check repository

[2020-11-16 13:02] whedon commented on #2291
[code]

[2020-11-16 13:08] dfm commented on #2308
@profxj: I understand your frustration and I will certainly do everything I can to make everything go smoothly going forward, but we require two completed reviews for publication and if I can't get @astrom-tom to respond and finish the checklist then we're going to have to find another reviewer. Thanks for your understanding and patience!

[2020-11-16 13:16] profxj commented on #2308
Ok.  Kindly give the new reviewer a sense of the history, etc.
if you can.   Thanks.

[2020-11-16 13:28] dfm commented on #2308
Absolutely! Thanks again.

[2020-11-16 13:42] KathrynJones1 commented on #2382
Apologies for the delay, we have now submitted our AJ paper - do you need a DOI or are you happy with just a submission ID?

[2020-11-16 13:42] danielskatz commented on #2282
Thanks - then we will wait for @jcolomb to respond, hopefully soon

[2020-11-16 13:42] danielskatz commented on #2646
👋 @jpsety - Can I get your response to the comments from @prw99r & @skadio?

[2020-11-16 13:44] danielskatz commented on #2779
@whedon check repository

[2020-11-16 13:44] whedon commented on #2779
[code]

[2020-11-16 13:45] danielskatz commented on #2779
@openjournals/dev - any comments on this question from the author:

[2020-11-16 13:46] mfherbst commented on #2838
@dpsanders I am now also done with my review and would recommend major revisions. I opened up various issues with respect to my points of critique or added some comments to the earlier ones of @mturiansky.

Similar to @mturiansky I wonder a little about the Software paper section. I found the summary and statement of need addressed
to a satisfactory point, albeit not in particularly labelled secti

[2020-11-16 13:47] danielskatz commented on #2779
👋 @oliviaguest - would you be willing to edit this for JOSS?

[2020-11-16 13:48] danielskatz commented on #2779
@whedon invite @oliviaguest as editor

[2020-11-16 13:48] whedon commented on #2779
@oliviaguest has been invited to edit this submission.

[2020-11-16 13:49] danielskatz commented on #2685
@whedon accept

[2020-11-16 13:49] whedon commented on #2685
[code]

[2020-11-16 13:49] whedon commented on #2685
[code]

[2020-11-16 13:51] whedon commented on #2685
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1917

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1917, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-16 13:52] yangbai90 commented on #2699
@flofaucher : Great, now everything is ready. It can be published soon!

[2020-11-16 13:54] danielskatz commented on #2685
@openjournals/dev - note that in the xml to be submitted to Crossref, the ```~``` in the Matloff unstructured citation has been turned into a space.  There's probably a bug in parsing somewhere...  Can we (you) manually fix this in this case?  If so, now or after I do the actual accept?

[2020-11-16 13:57] KathrynJones1 commented on #2382
I've also just edited my affiliation in the paper as it has changed recently, I hope that's okay

[2020-11-16 13:58] danielskatz commented on #2685
@whedon accept deposit=true

[2020-11-16 13:58] whedon commented on #2685
[code]

[2020-11-16 14:00] MaierOli2010 commented on #2727
@agahkarakuzu  I've finally managed to get a working integration with Jenkins through webhooks. There is just one downside to this, as soon as I have to restart the web forwarding the hook changes and the README needs to be updated with the new links. Other than that it is possible to view the Jenkins build and all the reports now by clicking on the banner. One small thing that is currently not li

[2020-11-16 14:00] whedon commented on #2685
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328337216603557889) 👈 🐦🐦🐦

[2020-11-16 14:00] whedon commented on #2685
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1918
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02685](https://doi.org/10.21105/joss.02685)
2. If everything looks g

[2020-11-16 14:09] lzkelley commented on #2784
Thanks for the comments @kexinrong, these are all really helpful suggestions.  Could you clarify on your first point: "compile the package documentation" --- do you mean something in the 'readthedocs' style?

[2020-11-16 14:10] danielskatz commented on #2537
👋 @geekysquirrel - In final prooreading (I'm the AEiC on duty this week) I've suggested two sets of changes to the paper and references in https://gitlab.com/geekysquirrel/bigx/-/merge_requests/9 and https://gitlab.com/geekysquirrel/bigx/-/merge_requests/8  Can you merge these or let me know what you disagree with in them?

[2020-11-16 14:11] danielskatz commented on #2685
Congratulations to @artgoldberg (Arthur Goldberg) and co-author!!

and thanks to @gonsie & @yadudoc for reviewing!

[2020-11-16 14:11] #2685 closed

[2020-11-16 14:11] whedon commented on #2685
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02685/status.svg)](https://doi.org/10.21105/joss.02685)

**We need your help!**

Journal of Open Source Softwa

[2020-11-16 14:13] njtierney commented on #2379
Thanks for your reponse, @MAnalytics !

I will reply shortly.

[2020-11-16 14:14] danielskatz commented on #2185
👋 @ShubhadeepSadhukhan1993 & @jedbrown - Can I check in on the status of this?

[2020-11-16 14:15] oliviaguest commented on #2779
I am really inundated with work at the moment, so on the proviso I can start (looking for reviewers, etc.) next week, sure. ☺️

[2020-11-16 14:15] danielskatz commented on #2506
👋 @gcdeshpande - If there are no performance claims, the box should then be checked, as it says "If there are any performance claims of the software, have they been confirmed? (If there are no claims, please check off this item.)"

[2020-11-16 14:16] lpantano commented on #2638
@whedon generate pdf

[2020-11-16 14:17] danielskatz commented on #2779
Sure, that's fine!

[2020-11-16 14:17] danielskatz commented on #2779
@whedon assign @oliviaguest as editor

[2020-11-16 14:17] whedon commented on #2779
OK, the editor is @oliviaguest

[2020-11-16 14:17] whedon commented on #2638
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02638/joss.02638/10.21105.joss.02638.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02638/joss.02638/10.21105.joss.02638.pdf) :page_facing_up: :point_left:

[2020-11-16 14:25] lpantano commented on #2638
@marcrr. @chorscroft, I am checking with the editorial board about the amount of information when comparing with other packages. @marcrr, if you know other packages that are not there, feel free to mention it here. Even if we decides we don't need a lot, it would be good to have the best list possible and maybe we just ask for a little more information for each package. Thanks

[2020-11-16 14:29] arfon commented on #2685
@danielskatz - Crossref deposit XML is fixed up now and I've opened an issue (https://github.com/openjournals/whedon-api/issues/122) to track this bug.

[2020-11-16 14:33] gcdeshpande commented on #2506
@danielskatz @kthyng @cMadan,
I just checked performance checkbox... I am satisfied with this JOSS submission.

[2020-11-16 14:35] ajbaird commented on #2645
Hi @MiroK ! Thanks for the feedback, glad you were able to get it up and running! I'll address these two items today and build a new pdf.

[2020-11-16 14:42] pdebuyl commented on #2820
@milancurcic @bast can you review the article "h5fortran: object-oriented polymorphic Fortran interface for HDF5 file IO" for JOSS?

[2020-11-16 14:44] KristinaRiemer commented on #2424
Congrats @kullrich and thanks to @a-r-j & @clauswilke for your work!

[2020-11-16 14:45] kthyng commented on #2839
@csoneson no problem!

@cMadan Are you interested in editing this one?

[2020-11-16 14:45] kthyng commented on #2839
@whedon invite @cMadan as editor

[2020-11-16 14:45] whedon commented on #2839
@cMadan has been invited to edit this submission.

[2020-11-16 14:50] KristinaRiemer commented on #2841
@kthyng yes, I can be editor for this, thanks!

[2020-11-16 14:50] KristinaRiemer commented on #2841
@whedon assign me as editor

[2020-11-16 14:50] whedon commented on #2841
OK, the editor is @KristinaRiemer

[2020-11-16 14:51] pdebuyl commented on #2653
@lrnv the plan to get validation of the code first is ok for me.

@coatless @agisga can you proceed first to the code checks so that @lrnv can submit the package to CRAN?

[2020-11-16 14:53] augustfly commented on #2382
I see the manuscript, and I am marking it as a JOSS-related submission. We would not have an article DOI until the end of the peer review process (as Arfon knows I think).

[2020-11-16 14:57] timtroendle commented on #2769
Dear @prdm0, there is no hard time limit for you to implement changes. However, if this should take you a longer time it would be great if you could let us know. At the moment we are waiting for review comments from @sahilseth.

[2020-11-16 14:58] kullrich commented on #2424
@KristinaRiemer & @a-r-j & @clauswilke thank you for handling this and for all the input made.
I am happy that the R package is now published and hope that it will be frequently used in future.

[2020-11-16 15:02] agahkarakuzu commented on #2727
@MaierOli2010 it looks great! Thank you so much for addressing this issue, I think `master` only serves its purpose well.

[2020-11-16 15:04] lootie commented on #2463
Done. Thanks!

On Mon, Nov 16, 2020, 6:43 AM Viviane Pons <notifications@github.com> wrote:

[2020-11-16 15:12] robfalck commented on #2809
Originally @hwangt helped with the transition from the original "alpha" stage of dymos (we called it pointer back then) into it's current form.  At that point there were a few of us in the room coding together and he happened to be the one pushing the commits.  In addition, he's not been on the project for several years and, and we opted to not list him as a co author.

@kmarstellar is recently re

[2020-11-16 15:17] a-r-j commented on #2424
Congrats @kullrich ! Nice work :)

[2020-11-16 15:33] neuromusic commented on #2440
@whedon generate pdf

[2020-11-16 15:34] whedon commented on #2440
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02440/joss.02440/10.21105.joss.02440.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02440/joss.02440/10.21105.joss.02440.pdf) :page_facing_up: :point_left:

[2020-11-16 15:48] cMadan commented on #2506
@gcdeshpande, great, thanks for following up with this last step!

[2020-11-16 16:00] milancurcic commented on #2820
I'm in.

[2020-11-16 16:04] arfon commented on #2382
:+1: thanks. Yes, we just need the DOI from AAS publishing once the paper has been through review there.

[2020-11-16 16:04] arfon commented on #2382
Actually, thinking this through, I think we should probably go ahead and publish this now and then update the JOSS metadata when the AAS paper is ready. What do you all think?

[2020-11-16 16:05] bast commented on #2820
Yes I would love to. Thanks!

[2020-11-16 16:07] augustfly commented on #2382
I'm find doing this in metadata.  This way @KathrynJones1 can update their manuscript at a later point to reference the JOSS article directly.

[2020-11-16 16:14] astrom-tom commented on #2308
Dear all,

I am terribly sorry for the time it took me with this review. I think I can finish it in the next couple of days. Let me know if that is still fine and I will put it as my priority to finish the review.

Best,

[2020-11-16 16:20] profxj commented on #2308
Works for me.  Your input thus far
has been very helpful.

[2020-11-16 16:21] profxj commented on #2308
ps.  note that the `joss-paper-branch` has evolved considerably
since you last touched it..

[2020-11-16 16:23] profxj commented on #2308
also, I just turned on that branch on `readthedocs`

should show up here soon:  https://pypeit.readthedocs.io/en/joss-paper-branch/

in case you want to see the bleeding edge.

[2020-11-16 16:24] dfm commented on #2308
@astrom-tom: Welcome back! This sounds great and thanks for your work so far.

[2020-11-16 16:24] dfm commented on #2308
@whedon generate pdf from branch joss-paper-branch

[2020-11-16 16:24] whedon commented on #2308
[code]

[2020-11-16 16:25] whedon commented on #2308
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: :point_left:

[2020-11-16 17:01] kexinrong commented on #2784
@lzkelley Yes that's what I meant. I personally find that it is helpful to have readthedoc style API documentation, compared to inline documentation.

[2020-11-16 17:11] xuanxu commented on #2816
A quick fix would be to use the shorter-form url for the same article:
https://www.spiegel.de/wissenschaft/a-13bd06d7-22a1-4b3d-af23-ff43e5e8abd6

[2020-11-16 17:25] pdebuyl commented on #2820
That was fast :-) Thank you both.

[2020-11-16 17:25] pdebuyl commented on #2820
@whedon assign @milancurcic as reviewer

[2020-11-16 17:25] whedon commented on #2820
OK, @milancurcic is now a reviewer

[2020-11-16 17:25] pdebuyl commented on #2820
@whedon add @bast as reviewer

[2020-11-16 17:25] whedon commented on #2820
OK, @bast is now a reviewer

[2020-11-16 17:27] pdebuyl commented on #2820
@whedon start review

[2020-11-16 17:27] whedon opened #2842 "[REVIEW]: h5fortran: object-oriented polymorphic Fortran interface for HDF5 file IO"
**Submitting author:** @scivision (<a href="http://orcid.org/0000-0002-1637-6526">Michael Hirsch</a>)
**Repository:** <a href="https://github.com/geospace-code/h5fortran" target ="_blank">https://github.com/geospace-code/h5fortran</a>
**Version:** v4.0.0
**Editor:** @pdebuyl
**Reviewer:** @milancurcic, @bast
**Archive:** <a href="https://doi.org/10.5281/zenodo.4946859" target="_blank">10.5281/zeno

[2020-11-16 17:27] whedon commented on #2820
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2842.

[2020-11-16 17:27] #2820 closed

[2020-11-16 17:27] whedon commented on #2842
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @milancurcic, @bast it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2020-11-16 17:28] whedon commented on #2842
[code]

[2020-11-16 17:28] whedon commented on #2842
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02842/joss.02842/10.21105.joss.02842.pdf) :page_facing_up: :point_left:

[2020-11-16 17:31] jpsety commented on #2646
@skadio, Thanks for the feedback, I've addressed most of your comments, but have some further questions/comments.

I removed the unused imports/some variables I found. Ran the code through the Black linter as specified in  our contribution policy. Fixed typos.

Removed these from the requirements.txt, but this has broken our CI testing. Will find a fix.

Added

We have guidelines on the readme of

[2020-11-16 17:32] pdebuyl commented on #2842
@milancurcic @bast make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2020-11-16 17:33] grlee77 commented on #2727
Thanks @MaierOli2010, , the new text gives a good overview of related tools. I have checked off the remaining items under my review above, but the new text does need some additional proofreading/typo fixes:

specific typos:
- apllcation -> application
- "PyQMRIis the only available"  (missing space after PyQMRI)
- qunatification -> quantification

reference formatting issues:
- The reference entri

[2020-11-16 17:38] d-chambers commented on #2696
Hi @leouieda,

No worries, I understand the circumstances.

[2020-11-16 17:48] artgoldberg commented on #2685
@danielskatz Greatly appreciate your patience, effort, persistence and care reviewing our paper. Great catch of the `s/~/ /` bug in, it appears, the LaTeX converter.

I see that you enjoy sailing. Me too. If you come to New York during warm weather, let me know and I'll gladly take you sailing at the [City Island Yacht Club](http://www.cityislandyc.org/).

[2020-11-16 17:54] jpsety commented on #2646
@prw99r, I appreciate your feedback. You bring up good points in what can be added. I don't currently have the bandwidth to further edit this paper. As I understand it, the idea of the paper is to give a concise summary of the purpose of the library and show examples of the functionality. I have done that using other accepted projects as examples.
I am confident that the targeted users of this lib

[2020-11-16 17:56] pibion commented on #2693
@whedon generate pdf

[2020-11-16 17:57] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-11-16 17:57] pibion commented on #2764
@frigaut, just pinging to ask if you're still expecting to have time to work on this review.

[2020-11-16 18:00] pibion commented on #2693
@hemanthpruthvi great, that's very clear.  Could you update the paper to clarify?  When you refer to "the calibration routines" it makes me wonder if you're referring to something that exists in this package.

Maybe something like, "Data pipelines can include this packages alongside e.g. polarimetric calibration routines."

[2020-11-16 18:04] MaierOli2010 commented on #2727
@grlee77  Please excuse the typos. I do not know how they managed to slip through again..
The manuscript should be updated. I've also done some rephrasing in the new section to avoid too many repetitions of "tool"

[2020-11-16 18:05] MaierOli2010 commented on #2727
@whedon generate pdf from branch JOSS_pub

[2020-11-16 18:05] whedon commented on #2727
[code]

[2020-11-16 18:06] whedon commented on #2727
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02727/joss.02727/10.21105.joss.02727.pdf) :page_facing_up: :point_left:

[2020-11-16 18:17] shashwat-bhattacharya commented on #2185
Hello @danielskatz , we are working on the suggestions of @jedbrown . We will get back once they are implemented.

[2020-11-16 18:43] iannesbitt commented on #2565
note to reviewers, here is a potentially relevant recent citation that uses RS that might be good to include among the first few references cited:

https://science.sciencemag.org/content/369/6509/1338.abstract

[2020-11-16 19:03] ajbaird commented on #2645
@whedon generate pdf from branch f/abard-JOSSPaper

[2020-11-16 19:03] whedon commented on #2645
[code]

[2020-11-16 19:05] whedon commented on #2645
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02645/joss.02645/10.21105.joss.02645.pdf) :page_facing_up: :point_left:

[2020-11-16 19:06] ajbaird commented on #2645
Hi @MiroK got those edits in, feel free to download the proof above!

Thanks for the edits!

[2020-11-16 19:08] MiroK commented on #2645
Thanks @ajbaird! @meg-simula I am done with the review

[2020-11-16 19:16] neuromusic commented on #2440
Heads up @csoneson we're going to need to make a couple of tweaks to the Acknowledgements before this is published. We should have them by the end of the week.

[2020-11-16 19:21] astrom-tom commented on #2308
Dear @profxj , @dfm

I created a last issue [https://github.com/pypeit/PypeIt/issues/1082](url) with a couple of minor points. All the rest is fine for me.

[2020-11-16 19:41] asmusskar commented on #2548
@whedon generate pdf

[2020-11-16 19:42] whedon commented on #2548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: :point_left:

[2020-11-16 20:10] asmusskar commented on #2548
@AnaWaldila, thank you very much for your efforts. Please find the revised manuscript (with proposed changes included) above ☝️

[2020-11-16 20:22] AnaWaldila commented on #2548
@Kevin-Mattheus-Moerman I saw the paper. It is Ok for me.

[2020-11-16 20:24] csoneson commented on #2440
Sure, no problem. The next step now is for the reviewers to have another look at the submission and the changes that you have made, and update their checklists above accordingly if they're happy with the current state.

@giovp, @shazanfar, @vals - this should be ready for another look from you now. Don't hesitate to let me know if there are any questions. Thanks!

[2020-11-16 20:57] greggj2016 commented on #2743
Just want to say so far so good. I'm gonna first make the user manually install miniconda and a specific version of numpy. Then my current setup.py and _init_.py files are configured so that, when I type "python setup.py  install", it automatically installs regens in a way that allows one to run it from any directory. The recombination map files have to be in your working directory, and if they're

[2020-11-16 21:09] decaluwe commented on #2814
FYI:

1. @yoelcortes I get two test failures:
==================================== FAILURES================================
_____________________________________________ test_wheatstraw ______________________________________________

    @pytest.mark.slow
    def test_wheatstraw():

E       ImportError: cannot import name 'wheatstraw' from 'biorefineries' (/Users/decaluwe/.local/lib/python3.7/site

[2020-11-16 21:34] greggj2016 commented on #2743
Question: To ensure that pypi is connected to this particular repository given its 60MB size limit, I intend to move the majority of non-python file content to figshare.com. There will be new functions in regens.py that automatically download the relevant content to your working directory on first use. Does that sound reasonable?

[2020-11-16 21:58] kyleniemeyer commented on #2814
@decaluwe if you find that the tests are not passing on your system, then that would be something @yoelcortes should address, so you can leave it unchecked for now until the issue is addressed satisfactorily

[2020-11-16 22:37] MAnalytics commented on #2379
@njtierney Ok, Thanks

[2020-11-16 22:48] geekysquirrel commented on #2537
Thanks for your changes Daniel, you spotted a few things nobody else did.
I will pull in your Oxford commas and most of your grammar changes (except for data - [it's been much debated](https://www.theguardian.com/news/datablog/2010/jul/16/data-plural-singular) but I think it should be singular).

I'd also prefer to leave the punctuation in the bullet points because they are full sentences (includi

[2020-11-16 23:10] decaluwe commented on #2814
@yoelcortes Notes on the software paper:

1. Depending on one's definition of "a diverse, non-specialist audience," the intro could probably be written a little bit broader. For example, phrases like "unit operations" and even "chemical process" might be opaque for somebody in materials science or astronomy.  I'd suggest something like (i) end the first sentence right before the parenthetical, (ii

[2020-11-16 23:23] erinyoung commented on #2334
I still cannot get the test to work. I was hoping that our MiSeqs would be hooked up so I could test it as directly as suggested by the documentation.

The last thing that I tried (today)

I pulled a new docker image and ran the following:
[code]
And the following was printed to my screen:
[code]

[2020-11-16 23:23] dfm commented on #2835
@giordano has agreed to act as our first reviewer - thanks Mosè!

@giordano has disclosed that he and @mileslucas co-mentored a Google Summer of Code project, but he feels that he can provide an impartial review despite this potential conflict of interest. I agree that this potential conflict is minor and believe that the benefit of having Mosè as a reviewer outweighs the apparent conflict of inte

[2020-11-16 23:44] trstewart212 commented on #2733
A video chat would be very helpful in getting me going.
Thanks,
Trevor

Trevor Stewart

On Nov 11, 2020, at 04:42, Vince Knight <notifications@github.com> wrote:

Just to echo what @kthyng <https://github.com/kthyng> said: I'd be delighted to assist @trstewart212 <https://github.com/trstewart212>. Please let me know what I can do (if you'd like to arrange a short video chat we can do that).

—
You

[2020-11-17 00:18] yoelcortes commented on #2814
@decaluwe, I made some minor changes in the repository that prevents the pytest failures (thanks for reporting). Also, your comments on the software paper are good points. I'll wait until Francesco can submit his comments too before I submit my edits.

Glad you liked the documentation. I was quite inspired by (and grateful of) other open source projects with excellent documentation. Thanks!

[2020-11-17 01:02] mileslucas commented on #2835
Thanks Dan (and Mosè)- I have no issues with Mosè reviewing, either, so I'm happy to waive the conflict.

@dfm unrelated to this, a concern about the manuscript is that I currently have a markdown table in it; I'm not sure if that's allowed or not. In its current state the table definitely needs edited to be shown better and I understand pandoc has options for rendering it. However, I understand i

[2020-11-17 01:06] dfm commented on #2835
@mileslucas: Sounds good - thanks! For the table, there should be no problem including one, but I agree that it's worth tweaking the formatting. You can use the preview service here to test the compiled version of the manuscript: http://whedon.theoj.org

[2020-11-17 01:07] dfm commented on #2835
@whedon add @giordano as reviewer

[2020-11-17 01:07] whedon commented on #2835
OK, @giordano is now a reviewer

[2020-11-17 01:09] mileslucas commented on #2835
@dfm if I understand correctly, to tweak the table formatting I would need to change some of the options that pandoc uses when it compiles the pdf. Do I have access to those options in my markdown/bib/meta files?

[2020-11-17 01:11] dfm commented on #2835
Ah! No, I meant that the best approach would be to change the table to fit. I bet that renaming the "pre-processing" column would get you most of the way there. For simplicity, the pandoc options are set in stone!

[2020-11-17 01:13] dfm commented on #2835
@semaphoreP has agreed to act as our second reviewer - thanks Jason! We'll get the review started momentarily.

@giordano, @semaphoreP, and @mileslucas: Let me know if you have any questions as we go!

[2020-11-17 01:14] dfm commented on #2835
@whedon add @semaphoreP as reviewer

[2020-11-17 01:14] whedon commented on #2835
OK, @semaphoreP is now a reviewer

[2020-11-17 01:14] dfm commented on #2835
@whedon start review

[2020-11-17 01:14] whedon opened #2843 "[REVIEW]: ADI.jl: A Julia Package for High-Contrast Imaging"
**Submitting author:** @mileslucas (<a href="http://orcid.org/0000-0001-6341-310X">Miles Lucas</a>)
**Repository:** <a href="https://github.com/JuliaHCI/ADI.jl" target ="_blank">https://github.com/JuliaHCI/ADI.jl</a>
**Version:** v0.5.3
**Editor:** @dfm
**Reviewer:** @giordano, @semaphoreP
**Archive:** <a href="https://doi.org/10.5281/zenodo.4323554" target="_blank">10.5281/zenodo.4323554</a>

**:

[2020-11-17 01:14] whedon commented on #2835
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2843.

[2020-11-17 01:14] #2835 closed

[2020-11-17 01:15] whedon commented on #2843
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @giordano, @semaphoreP it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-11-17 01:15] whedon commented on #2843
[code]

[2020-11-17 01:16] whedon commented on #2843
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02843/joss.02843/10.21105.joss.02843.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02843/joss.02843/10.21105.joss.02843.pdf) :page_facing_up: :point_left:

[2020-11-17 02:36] teuben commented on #2629
As I'm running through the examples, you mentioned there is a quick test, presumably via pytest.ini and the tests/ directory. I don't see the example command line in the README or somewhere how to run this, so "beginners" will be baffled. Can you add that somewhere (and remind me here as well, as I don't remember)

[2020-11-17 02:58] raivivek commented on #2743
@greggj2016 Looks like good progress. On your question regarding data/recombination files, I think the figshare way sounds reasonable. However, there are other options as well in case you are interested. First option is that you can host the data on GitHub itself and download tarballs/zip from there. Second option is that you can request package size limit on PyPI to be increased so that you can b

[2020-11-17 03:20] teuben commented on #2629
@amanchokshi  apart from some minor things I know you are looking into, my last hurdle on the checkmark list is performance.

There are no good comments on performance that I could find (in fact, in the Example there should be some warnings in more places, but you are working on the aggressive CPU usage already). I have not looked at the code, but let me try to explain how I would lke to try and w

[2020-11-17 04:28] hemanthpruthvi commented on #2693
@pibion  Thank you. I have updated the paper with the clarification.

[2020-11-17 04:51] soodoku commented on #2730
so @kthyng, need some help. there used to be a checklist that i got to tick off. i can't see it here. have the procedures changed?

[2020-11-17 04:58] amanchokshi commented on #2629
I've added instructions to run the automated tests at the bottom of the examples page - [Testing EMBERS](https://embers.readthedocs.io/en/latest/embersbyexample.html#testing-embers). It should take no more than 2 minutes to run the tests. To run the test you need to clone the directory and install a few additional dependancies:

[code]

[2020-11-17 05:04] ketch commented on #2515
Sorry!  Here it is:

10.5281/zenodo.4275158

[2020-11-17 06:19] milicag commented on #2695
@brynpickering and @nmstreethran I just merged into the main branch the two PRs in response to the latest reviewer comment.

[This PR](https://github.com/LBNL-ETA/MSWH/pull/35) brought in the contribution guidelines and added a short statement of need to the README file. After Robert, one of the co-authors provided a review I introduced his suggested edits and merged into main through this [PR](ht

[2020-11-17 07:01] amanchokshi commented on #2629
@teuben I've been playing around with `align_batch` and the `--max_cores` option to try and get a handle of the parallel performance. On my laptop, I've tried running all the sample data with between 1 and 4 cpu cores. I used the GNU `time` tool to gauge the performance.

The system cpu usage vs number of cpu cores is as expected:
![system_cpu](https://user-images.githubusercontent.com/40157844/99

[2020-11-17 07:30] PatrickRWright commented on #2816
@whedon generate pdf

[2020-11-17 07:31] whedon commented on #2816
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: :point_left:

[2020-11-17 08:47] arfon commented on #2798
Thanks @danehkar - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That t

[2020-11-17 08:49] arfon commented on #2797
Thanks @danehkar. At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That th

[2020-11-17 09:02] RMHogervorst commented on #2800
Just an update: I feel @henrykironde and others are doing great work. I really look forward to the finished version!

[2020-11-17 09:16] WilkAndy commented on #2176
Just wondering if i have to do anything else?

[2020-11-17 09:25] flokno commented on #2671
Thank you very much Adam, we'll discuss the changes and come back to you soon.

[2020-11-17 09:31] vincentberenz commented on #2752
@gkthiruvathukal  no pb, here a list: jcarpent , davidbeckingsale , sarats , marcoapintoo, gcdeshpande , vissarion , vijaysm

[2020-11-17 10:22] CBenghi commented on #2548
Hi All,

apologies for the sluggish responses on this review.
Everything seems to require my full attention lately.

I'll go ahead provide my review tonight.

Best,
Claudio

[2020-11-17 10:22] moorepants commented on #2498
I have given the repo and paper a second pass. There has been significant improvements. All of my comments have been addressed and the package is looking really nice now. Congrats on the great work!

I am trouble getting the Colab notebooks to run and give output:

https://colab.research.google.com/github/upb-lea/gym-electric-motor/blob/master/examples/environment_features/GEM_cookbook.ipynb#scrol

[2020-11-17 10:28] cMadan commented on #2839
@whedon assign @cMadan as editor

[2020-11-17 10:28] whedon commented on #2839
OK, the editor is @cMadan

[2020-11-17 10:29] johanneswerner commented on #2817
Very interesting software package for the analysis of eukaroytes in metagenomes and metatranscriptomes. I like the focus of this tool and the well-written article and documentation, especially the very comprehensive documentation including all explanations and citations.

I have a few comments that might still be addressed.

- installation
  - [ ] I don't know if this can be improved, but the inst

[2020-11-17 10:44] will-rowe commented on #2817
Great - thanks @johanneswerner!

Can you please respond to these comments when you get the chance @akrinos.

@jcmcnch - can you let us know how your are getting on please?

[2020-11-17 10:46] CBenghi commented on #2548
@Kevin-Mattheus-Moerman,

I thought I could tick the check-list above but it appears disabled, even if I'm logged in; is there something I need to to before that?

![image](https://user-images.githubusercontent.com/5476273/99380559-6c468d80-28ca-11eb-96a9-fee76589bfeb.png)

Thanks.

[2020-11-17 10:53] Kevin-Mattheus-Moerman commented on #2548
@whedon reinvite @CBenghi as reviewer

[2020-11-17 10:53] whedon commented on #2548
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-17 10:54] Kevin-Mattheus-Moerman commented on #2548
@whedon invite @CBenghi as reviewer

[2020-11-17 10:54] whedon commented on #2548
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-17 10:57] fwitte commented on #2814
Hi @yoelcortes,
here are my general comments to the paper and your software (documentation).

## Paper

- The paper highlights the most important features of the software, but (as already written in the docs issue) I do miss the capability, that generic chemical reactions can be computed with your software. I think this is a very important feature of your software.
- A statement regarding the main

[2020-11-17 10:59] Kevin-Mattheus-Moerman commented on #2548
@whedon re-invite @CBenghi as reviewer

[2020-11-17 10:59] whedon commented on #2548
The reviewer already has a pending invite.

@cbenghi please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-17 11:00] Kevin-Mattheus-Moerman commented on #2548
@CBenghi the invitation must have expired. :point_up: here it is once more. Can you accept it and try again? Thanks!

[2020-11-17 11:34] CBenghi commented on #2548
I get the following message:
"Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account."
I'm on the right account. But something was different when I first opened the page. I got an expiration message from github.

maybe inviting/re-inviting would work this time, could you try again?

[2020-11-17 11:44] sachsmc commented on #2816
I've completed my review. Thanks @PatrickRWright for addressing my comments

[2020-11-17 12:07] pacoramon commented on #2816
I've also finished mine. Thanks, @PatrickRWright for the work done, and @csoneson for inviting me to review.
I feel I have not contributed much, but this review process has been swift, and all just worked out right away or was already done accordingly to guidelines, so congrats!

[2020-11-17 12:54] VivianePons commented on #2463
@whedon set 1.1.0 as version

[2020-11-17 12:55] whedon commented on #2463
OK. 1.1.0 is the version.

[2020-11-17 12:55] VivianePons commented on #2463
@whedon set 10.5281/zenodo.4274772 as archive

[2020-11-17 12:55] whedon commented on #2463
OK. <a href="https://doi.org/10.5281/zenodo.4274772" target="_blank">10.5281/zenodo.4274772</a> is the archive.

[2020-11-17 12:57] VivianePons commented on #2463
@whedon generate pdf

[2020-11-17 12:58] whedon commented on #2463
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02463/joss.02463/10.21105.joss.02463.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02463/joss.02463/10.21105.joss.02463.pdf) :page_facing_up: :point_left:

[2020-11-17 13:01] VivianePons commented on #2463
Congratulation @lootie I am officially moving your paper for final acceptance! Thank you for your patience through the review and for writing this software and improving it based on the comments. Thank you very much to @anowacki and @agricolab who took on the reviews and did such a great job!

[2020-11-17 13:01] VivianePons commented on #2463
@whedon accept

[2020-11-17 13:01] whedon commented on #2463
[code]

[2020-11-17 13:01] whedon commented on #2463
[code]

[2020-11-17 13:02] whedon commented on #2463
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1919

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1919, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-17 13:07] VivianePons commented on #2515
@whedon generate pdf

[2020-11-17 13:07] whedon commented on #2515
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02515/joss.02515/10.21105.joss.02515.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02515/joss.02515/10.21105.joss.02515.pdf) :page_facing_up: :point_left:

[2020-11-17 13:07] VivianePons commented on #2515
@whedon set 10.5281/zenodo.4275158 as archive

[2020-11-17 13:08] whedon commented on #2515
OK. <a href="https://doi.org/10.5281/zenodo.4275158" target="_blank">10.5281/zenodo.4275158</a> is the archive.

[2020-11-17 13:08] VivianePons commented on #2515
@whedon set 1.0.1 as version

[2020-11-17 13:08] whedon commented on #2515
OK. 1.0.1 is the version.

[2020-11-17 13:08] VivianePons commented on #2515
@whedon generate pdf

[2020-11-17 13:09] whedon commented on #2515
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02515/joss.02515/10.21105.joss.02515.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02515/joss.02515/10.21105.joss.02515.pdf) :page_facing_up: :point_left:

[2020-11-17 13:12] VivianePons commented on #2515
Congratulations @ketch ! I am moving your paper to acceptance, thank you for the work you provided by writing this software. Thank you to both reviewers @fruzsinaagocs and @highlando for your thorough comments and help with improving the software.

[2020-11-17 13:12] VivianePons commented on #2515
@whedon accept

[2020-11-17 13:12] whedon commented on #2515
[code]

[2020-11-17 13:13] whedon commented on #2515
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1920

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1920, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-17 13:13] whedon commented on #2515
[code]

[2020-11-17 13:20] ketch commented on #2515
Thank you @VivianePons, @fruzsinaagocs, @highlando!

[2020-11-17 13:30] danielskatz commented on #2463
Thanks - I'll start the final proofreading and processing later today.

[2020-11-17 13:30] danielskatz commented on #2515
Thanks - I'll start the final proofreading and processing later today.

[2020-11-17 14:15] teuben commented on #2629
This is a very useful analysis to see how it scales with the processor! Nicely done. Theoretically for ideal parallel behavior the user and system time should not depend on  max_cores (NP), and cpu (elapsed) goes as 1/NP. So, although we do see that the %  (user+system)/elapsed) scales quite nicely, you can see the user time goes from 879" to 1143", a 30% "loss". You can see the system time went f

[2020-11-17 14:23] KathrynJones1 commented on #2382
that is fine with me 👍

[2020-11-17 14:33] teuben commented on #2629
this ran fine for me.   I had two failures (and a few deprecation warnings):

      tests/test_mwa_utils/test_mwa_pointings.py::test_clean_meta_json_start FAILED
      tests/test_tile_maps/test_ref_fee_healpix.py::test_create_model_last FAILED

[2020-11-17 15:32] danielskatz commented on #2463
@whedon accept deposit=true

[2020-11-17 15:32] whedon commented on #2463
[code]

[2020-11-17 15:34] whedon commented on #2463
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328723185383202822) 👈 🐦🐦🐦

[2020-11-17 15:34] whedon commented on #2463
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1921
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02463](https://doi.org/10.21105/joss.02463)
2. If everything looks g

[2020-11-17 15:38] Kevin-Mattheus-Moerman commented on #2548
@whedon re-invite @CBenghi as reviewer

[2020-11-17 15:38] whedon commented on #2548
OK, the reviewer has been re-invited.

@cbenghi please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-17 15:39] danielskatz commented on #2837
👋 @pachamaltese - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-

[2020-11-17 15:39] danielskatz commented on #2837
@whedon reject

[2020-11-17 15:39] whedon commented on #2837
Paper rejected.

[2020-11-17 15:39] #2837 closed

[2020-11-17 15:39] Kevin-Mattheus-Moerman commented on #2498
Thanks @moorepants !!

@wkirgsn can you look at/address these issues :point_up:

[2020-11-17 15:39] danielskatz commented on #2840
👋 @ad48 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages

[2020-11-17 15:40] danielskatz commented on #2840
@whedon reject

[2020-11-17 15:40] whedon commented on #2840
Paper rejected.

[2020-11-17 15:40] #2840 closed

[2020-11-17 15:41] danielskatz commented on #2463
Congratulations to @lootie (Charlotte Haley) and co-author!!

Thanks to @anowacki & @agricolab for reviewing, and @VivianePons for editing!

[2020-11-17 15:41] #2463 closed

[2020-11-17 15:41] whedon commented on #2463
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02463/status.svg)](https://doi.org/10.21105/joss.02463)

**We need your help!**

Journal of Open Source Softwa

[2020-11-17 15:47] danielskatz commented on #2515
@whedon accept deposit=true

[2020-11-17 15:48] whedon commented on #2515
[code]

[2020-11-17 15:49] whedon commented on #2515
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328726863569678342) 👈 🐦🐦🐦

[2020-11-17 15:49] whedon commented on #2515
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1922
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02515](https://doi.org/10.21105/joss.02515)
2. If everything looks g

[2020-11-17 15:53] danielskatz commented on #2515
Congratulations to @ketch (David Ketcheson) and co-authors!!

And thanks to @fruzsinaagocs & @highlando for reviewing, and @VivianePons for editing!

[2020-11-17 15:53] #2515 closed

[2020-11-17 15:53] whedon commented on #2515
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02515/status.svg)](https://doi.org/10.21105/joss.02515)

**We need your help!**

Journal of Open Source Softwa

[2020-11-17 15:57] hugoledoux commented on #2537
In latex the em-dash is 3, 2 is for a dash between 2 numbers. I believe 3 is right here.

[2020-11-17 16:02] kthyng commented on #2730
@soodoku No you’re correct about the checklist. However this is still the pre review not the review issue. @sbenthall will start the actual review issue probably once two reviewers have been secured.

[2020-11-17 16:09] AnaWaldila commented on #2548
@Kevin-Mattheus-Moerman Do I need to check anything else?

[2020-11-17 16:22] soodoku commented on #2730
Thanks! Anything for me to do for now?

On Tue, Nov 17, 2020, 8:02 AM Kristen Thyng <notifications@github.com>
wrote:

[2020-11-17 16:27] pachamaltese commented on #2837
Dear @danielskatz

I have to disagree. I have created R packages that only matter to 10 individuals or so and are considered scholarly important, while this is, by far, the most significant contribution I have written in a long time.

Comparing my previous JOSS articles gravity and economiccomplexity, those won't have the same number of users or won't be used by as many sociologists and economists

[2020-11-17 16:33] kthyng commented on #2730
@soodoku Probably best to just wait for the review issue to start. Thanks!

[2020-11-17 16:49] arfon commented on #2382
@whedon accept

[2020-11-17 16:49] whedon commented on #2382
[code]

[2020-11-17 16:49] whedon commented on #2382
[code]

[2020-11-17 16:50] whedon commented on #2382
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1923

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1923, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-17 16:53] arfon commented on #2382
@whedon accept deposit=true

[2020-11-17 16:53] whedon commented on #2382
[code]

[2020-11-17 16:54] whedon commented on #2382
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328743310354231300) 👈 🐦🐦🐦

[2020-11-17 16:54] whedon commented on #2382
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1924
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02382](https://doi.org/10.21105/joss.02382)
2. If everything looks g

[2020-11-17 17:31] kthyng commented on #2506
Ok looks good to go!

[2020-11-17 17:31] kthyng commented on #2506
I agree either way is fine now that I know that was following some convention anyway. I'll assume the author doesn't care too much either way and finish this up now!

[2020-11-17 17:32] kthyng commented on #2506
@whedon accept deposit=true

[2020-11-17 17:32] whedon commented on #2506
[code]

[2020-11-17 17:33] whedon commented on #2506
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1328753175772459011) 👈 🐦🐦🐦

[2020-11-17 17:33] whedon commented on #2506
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1925
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02506](https://doi.org/10.21105/joss.02506)
2. If everything looks g

[2020-11-17 17:36] kthyng commented on #2506
Congrats on your new publication @pmkruyen! Thanks to editor @cMadan and reviewers @gcdeshpande and @kinow for your time and expertise!! 🎉 🎉

[2020-11-17 17:36] #2506 closed

[2020-11-17 17:36] whedon commented on #2506
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02506/status.svg)](https://doi.org/10.21105/joss.02506)

**We need your help!**

Journal of Open Source Softwa

[2020-11-17 17:58] arfon commented on #2382
@jessie-dotson, @barentsen - many thanks for your reviews here and to @xuanxu for editing this submission ✨. JOSS simply wouldn't work without the volunteer efforts of people like you.

@KathrynJones1 - your paper is now accepted into JOSS :zap::rocket::boom:

Also, please let me know when the AAS paper has been accepted and you have a DOI, at that point we will associate this paper with the AAS o

[2020-11-17 17:58] #2382 closed

[2020-11-17 17:58] whedon commented on #2382
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02382/status.svg)](https://doi.org/10.21105/joss.02382)

**We need your help!**

Journal of Open Source Softwa

[2020-11-17 18:44] wkirgsn commented on #2498
Thank you @moorepants for your second review!
You raised very good points of which we weren't aware of.
After analyzing the problems we found the root cause of them all to be rather peripheral.

* Colab notebooks not showing plots:
  * This seems to be a [known issue in colab](https://github.com/matplotlib/matplotlib/issues/15161), and is connected to the fact that we have consecutively updating p

[2020-11-17 19:26] marcrr commented on #2638
From my point of view, it's less a question of specific other packages, than of discussing the relative advantages of the new package in a bit more detail.

[2020-11-17 19:35] pmkruyen commented on #2506
Thanks @cMadan, @kinow, @gcdeshpande, and @kthyng for your time, help and feedback. This review process was a super transparent and nice experience, I learned a lot too (though I missed some nights of sleep solving @kinow's issues 😂👍) . Hope now that other researchers will start using DearScholar in their own projects 😁. All the best! Peter

[2020-11-17 20:01] KathrynJones1 commented on #2382
@arfon @jessie-dotson @barentsen @xuanxu  🎉🎉 Fantastic! Thank you very much for all of your constructive reviews and help through the process!
@arfon yes I will let you know 👍

[2020-11-17 20:24] moorepants commented on #2498
Ok, I installed the package successfully with Python 3.8 and tested an example.

The colab explanation is satifactory.

I approve!

[2020-11-17 20:25] csoneson commented on #2816
@sachsmc, @pacoramon - thanks a lot for your reviews!

@PatrickRWright - I will give a quick look at the submission too and come back to you with the next steps shortly.

[2020-11-17 21:22] kyleniemeyer commented on #2814
Thanks @fwitte and @decaluwe!

@yoelcortes I think you are already working to address these issues, so please just report back here when you are done. Thanks!

[2020-11-17 21:47] lskatz commented on #2334
Hi @erinyoung, we were able to replicate the error.  Could you try the same thing but with these options?

[code]

We were able to avoid the error with our command like so inside of Docker
[code]

It turns out that some of the functionality is difficult to get into the container and so we acknowledge that some of the plugins do not work as intended on the container interface.

[2020-11-17 22:03] njtierney commented on #2379
# review response

Thank you for your response! I'm looking forward to using this in my own work.

I greatly appreciate your effort in addressing my points, for readability, I will address the relevant points freshly below:

## Function arguments should have consistent names

- This package uses camelCase for it's functions names, (akClustr, alphaLabel, etc)
- Some of the function arguments use mi

[2020-11-17 23:40] Chilipp commented on #1942
Thanks for your work on this @benjaminbolling! @majensen I will go through it again by the end of this week. My apologies for the delay as my workload is pretty high at the moment and it takes some time for me to get into this again.

[2020-11-17 23:40] bill-baumgartner commented on #2726
Here are my initial comments on the paper:

- `PMAP` is used in the first sentence but is not defined until later in the document.
- Although NER and document classification are mentioned in the paper, the types of annotation supported by PINE are not explicitly enumerated. A sentence or two in the introduction listing the supported types of annotation would be helpful to the reader.
- Inter-annot

[2020-11-17 23:50] vlandau commented on #2829
@melissawm I slightly adjusted the title immediately after submitting a while back -- will that be reflected if/when the submission is accepted and published? Just wanted to double check. Thanks!

[2020-11-18 00:56] akrinos commented on #2817
@johanneswerner Thank you so much for the very helpful review!

I will respond to what I have responses for thus far!

- Installation: The `conda` installation indeed is quite slow - I am hoping to go through the process of adding it to the `bioconda` channel after publishing the paper, and am hopeful that that will provide a speedup over my user channel.
- Documentation: Thank you for your helpfu

[2020-11-18 01:13] jedbrown commented on #2565
@whedon add fwalter as reviewer

[2020-11-18 01:13] whedon commented on #2565
OK, fwalter is now a reviewer

[2020-11-18 01:14] jedbrown commented on #2565
@whedon add @fwalter as reviewer

[2020-11-18 01:15] whedon commented on #2565
OK, @fwalter is now a reviewer

[2020-11-18 01:17] jedbrown commented on #2565
@fwalter (Fabian Walter) :wave: Welcome to JOSS and thanks for agreeing to review!

The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [rsudp repository](https://github.com/raspishake/rsudp/)). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to wo

[2020-11-18 01:34] melissawm commented on #2812
Sure, no problem!

[2020-11-18 01:34] melissawm commented on #2812
@whedon re-invite @stsievert as reviewer

[2020-11-18 01:34] whedon commented on #2812
OK, the reviewer has been re-invited.

@stsievert please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-18 01:43] melissawm commented on #2829
Yes, the paper should be published under the new title, but I might need to check this upon acceptance. Can you please remind me to do that, just in case? :) Thanks!

[2020-11-18 02:22] amanchokshi commented on #2629
The depreciation warnings come from a package which I use - mwa-pb, and has required me to freeze some of the dependancies in the requirement.txt. I'm not sure why those two tests are failing. I cloned a fresh copy of EMBERS and tried the tests again and all of them seem to pass. Could it be a python version thing? I'm stumped

![Screen Shot 2020-11-18 at 1 13 39 pm](https://user-images.githubuser

[2020-11-18 02:27] greggj2016 commented on #2743
For right now, the larger files have been uploaded and annotated in figshare. It's actually better for me because, when regens is called as a package from the installation directory, the code I wrote still references many of the relevant files from the working directory.  It might be a little bit nicer if all files are downloaded to and accessible from the installation directory, but I also feel l

[2020-11-18 02:39] milicag commented on #2695
I believe this is well addressed in the revised paper, however, do let me know if you find that it needs additional explanation in the paper.

[2020-11-18 02:50] greggj2016 commented on #2743
This means I still gotta correct the syntax of my examples in the readme and some other minor things

[2020-11-18 03:11] pythonpanda2 commented on #1942
I think closed the last issued i had opened. But i will go through the checklist once more by early next week.

[2020-11-18 03:19] briandesilva commented on #2828
Okay I've fixed the binder issue and the missing image. @tuelwer, with regards to your comment

there are different objective functions that are approximately optimized by PySensors classes depending on the problem type. We had hesitated to include them in our JOSS submission based on our understanding that the paper is meant to be aimed at a general audience. What do you think about the idea of a

[2020-11-18 03:31] mjsottile commented on #2811
Thanks @glemaitre and @jbytecode for agreeing to help - it looks like we're good to start the review.  Please let me know if you have any questions over in the review thread.

[2020-11-18 03:31] mjsottile commented on #2811
@whedon start review

[2020-11-18 03:31] whedon opened #2844 "[REVIEW]: c-lasso: a Python package for constrained sparse regression and classification"
**Submitting author:** @Leo-Simpson (<a href="http://orcid.org/0000-0003-0717-5244">Leo Simpson</a>)
**Repository:** <a href="https://github.com/Leo-Simpson/c-lasso" target ="_blank">https://github.com/Leo-Simpson/c-lasso</a>
**Version:** v1.0
**Editor:** @mjsottile
**Reviewer:** @jbytecode, @glemaitre
**Archive:** <a href="https://doi.org/10.6084/m9.figshare.13589585.v1" target="_blank">10.6084/m

[2020-11-18 03:31] whedon commented on #2811
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2844.

[2020-11-18 03:31] #2811 closed

[2020-11-18 03:31] whedon commented on #2844
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jbytecode, @glemaitre it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2020-11-18 03:31] whedon commented on #2844
[code]

[2020-11-18 03:31] whedon commented on #2844
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: :point_left:

[2020-11-18 03:32] vlandau commented on #2829
Yes, will do. Thanks! :slightly_smiling_face:

[2020-11-18 03:38] ablaom commented on #2512
@sylvaticus @terrytangyuan

Here is my review:

## What the package provides

The package under review provides pure-julia implementations of two
tree-based models, three clustering models, a perceptron model (with 3
variations) and a basic neural network model. In passing, it should be
noted that all or almost all of these algorithms have existing julia
implementations (e.g., DecisionTree.jl, Clu

[2020-11-18 04:53] amanchokshi commented on #2629
Regarding the performance, I've re-run `align_batch` using only a single core, with a varying number of files. The probes your question of how the problem scales with N. The results seem to indicate a linear relationship between number of files and processing time.

![files_time](https://user-images.githubusercontent.com/40157844/99484385-65944500-29b4-11eb-8c82-0fb29f18ccb9.png)

I'm quite out of

[2020-11-18 07:37] csoneson commented on #2706
@MelvinSMunsaka - hope things are well. Could you update us on the status of your review? Thanks!

[2020-11-18 07:40] MAnalytics commented on #2379
@njtierney, Thank you very much for your efforts. I will address these issues asap.

[2020-11-18 07:41] csoneson commented on #2816
@whedon check references

[2020-11-18 07:41] whedon commented on #2816
[code]

[2020-11-18 07:42] csoneson commented on #2816
@whedon generate pdf

[2020-11-18 07:43] whedon commented on #2816
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: :point_left:

[2020-11-18 08:07] PatrickRWright commented on #2816
@whedon check references

[2020-11-18 08:08] whedon commented on #2816
[code]

[2020-11-18 08:08] PatrickRWright commented on #2816
@csoneson the dois should be fixed.

[2020-11-18 08:10] csoneson commented on #2816
@whedon generate pdf

[2020-11-18 08:11] whedon commented on #2816
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02816/joss.02816/10.21105.joss.02816.pdf) :page_facing_up: :point_left:

[2020-11-18 08:15] csoneson commented on #2816
Thanks @PatrickRWright, looks good. I had a look through the submission, and I just noted one other thing: I think there is at least one place where `secuTrialdata` should be in fixed-width font, could you double-check this?

The next steps are as follows:
- [ ] Make a tagged release of the current state of your software, and list the version tag of the archived version here.
- [ ] Archive the rev

[2020-11-18 08:43] PatrickRWright commented on #2816
Thank you @csoneson
Ther version tag would be: 1.0.6
Zenodo link: https://zenodo.org/record/4278979#.X7TdUq4o-EL
DOI: seems to be the one I entered for this publication. i.e. 10.21105/joss.02816

[2020-11-18 08:54] csoneson commented on #2816
Ah, I see. The Zenodo archive should have its own DOI, something like `10.5281/zenodo.XXXXXX` (i.e., not the one of the JOSS paper).

[2020-11-18 09:14] PatrickRWright commented on #2816
Hm... I'm a bit confused now. since the DOI tooltip for zenodo said:
[code]
For me this indicated to use a preexisting DOI (i.e. JOSS) if available. I tried to remove the JOSS DOI now, but saving on zenodo doesn't actually remove it. Any suggestions?

[2020-11-18 09:19] arfon commented on #2837
Hi @pachamaltese - thanks for the followup comment here. I wanted to give a little more context about our decision here...

Back in July this year, we adopted a [new standard for JOSS](https://blog.joss.theoj.org/2020/07/minimum-publishable-unit) submissions. The big change with this new policy was that future submissions would need to meet a minimum level of effort to be published in JOSS. If you

[2020-11-18 09:24] CBenghi commented on #2548
@asmusskar,

The paper ticks the large majority of the requirements except a few minor glitches.

1) **Automated tests**: I've posted an issue on the repository to notify about an error thrown in Octave by the label API that prevents me from running the validation script(s); and you have a claim it should work on Octave (I'm running 5.2.0, which is the latest).
2) **Community guidelines**: I can't

[2020-11-18 09:45] amanchokshi commented on #2629
I've been looking into the performance as a function of the number of lines in the files. I did this by modifying `embers.rf_tools.align_data.savgol_interp`, to take a `fraction` and only read the first fraction of lines in the files. The `align_batch` function is built around the `savgol_interp` function by paralelizing it and writing the outputs to disk.

I repeated the test for each `fraction`

[2020-11-18 10:04] drvinceknight commented on #2733
I'll email you to arrange a time :)

[2020-11-18 10:06] Kevin-Mattheus-Moerman commented on #2548
@AnaWaldila if you are happy to recommend that we accept this work then you are all done. Thanks a lot for your help!!!!!

[2020-11-18 10:07] Kevin-Mattheus-Moerman commented on #2548
Thanks for raising those points @CBenghi

@asmusskar can you work on those :point_up: ?

[2020-11-18 10:08] Kevin-Mattheus-Moerman commented on #2498
@moorepants by `"I approve"`, do you mean that you recommend this work is accepted? Thanks again for your help!

[2020-11-18 10:10] Kevin-Mattheus-Moerman commented on #2498
@dineshresearch it looks like you have one box unticked: `State of the field` :point_up: , can you clarify what is needed to fix that last remaining point? If you have happy to tick the box and recommend that we accept this work please let us know. Thanks!

[2020-11-18 10:14] moorepants commented on #2498
Yes, I recommend accepting the paper. The only thing would for them to push the latest release to PyPi so that the notebooks work, as mentioned. I assume that would be done in the finalization and zenodo archive, etc.

[2020-11-18 10:39] marcosvital commented on #2124
Hi, @rhagenson! Thank you for the update, I'm glad to know that you are fine.
Since you are not abandoning the project, we will keep this submission as paused, and wait for you.

@djmitche and @rabdill, thank you so much for all the time you dedicated into reviewing this submission. This is probably going to be the last notification for a while, until @rhagenson get to work on this again. When tha

[2020-11-18 10:43] marcosvital commented on #2319
Thank you so much, @elimillera and @meenakshi-kushwaha. I will try to find a third reviewer, so we can move on to reviwieng.

[2020-11-18 10:44] juliohm commented on #2829
@vlandau can you please provide an example in the documentation that can be run easily? The example provided depends on  a file that is not available. Also, can you plot the output of this example in the documentation? Ideally this example should come as one of the first things in your docs before you even start explaining the algorithm.

Also, can you please add a statement of need explaining why

[2020-11-18 10:51] marcosvital commented on #2319
Dear @nanhung would you be willing to review this submission for JOSS?

We carry out an open checklist-driven reviews here in GitHub issues, and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

This is still a pre-review issue, and once there are enough reviewers we will move on to a new issue where the review will take place. If you are not able to review, plea

[2020-11-18 11:22] krober10nd commented on #2687
@whedon generate pdf

[2020-11-18 11:23] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-11-18 12:40] jbytecode commented on #2844
@whedon check repository

[2020-11-18 12:40] whedon commented on #2844
[code]

[2020-11-18 12:40] whedon commented on #2844
Failed to discover a valid open source license.

[2020-11-18 12:52] krober10nd commented on #2687
I fixed the CGAL reference above. Now there's a typsetting issue remaining.

  I made the benchmark figure quite long to deal with the fact that the JOSS article format has large margins but now the caption of that figure is all jumbled up.

I guess the solution is to make the figure wider now.

[2020-11-18 13:12] danielskatz commented on #2816
Zenodo will issue its own DOI for the deposit (which you will see once it is published "Cite as" on the lower right).  In addition, you can put other DOIs into the page where you submit to zenodo, such as references and links. These DOIs are stored in the metadata of the published article under the published DOI.

When you manually upload to Zenodo, there's a place for a DOI, which says "Optional.

[2020-11-18 13:17] astrom-tom commented on #2308
Dear @dfm
All the comments have been implemented, so for me the paper is good to go!
(sorry again for the delay).

[2020-11-18 14:32] dfm commented on #2819
And we have a second reviewer: @mrtommyb. Thanks Tom!

I'll add @mrtommyb as a reviewer then get the main review thread started.

All: please let me know if you have any questions as the review progresses - I'm here to help!

[2020-11-18 14:33] dfm commented on #2819
@whedon add @mrtommyb as reviewer

[2020-11-18 14:33] whedon commented on #2819
OK, @mrtommyb is now a reviewer

[2020-11-18 14:33] dfm commented on #2819
@whedon start review

[2020-11-18 14:33] whedon opened #2845 "[REVIEW]: AltaiPony - Flare science in Kepler, K2 and TESS light curves"
**Submitting author:** @ekaterinailin (<a href="http://orcid.org/0000-0002-6299-7542">Ekaterina Ilin</a>)
**Repository:** <a href="https://github.com/ekaterinailin/AltaiPony" target ="_blank">https://github.com/ekaterinailin/AltaiPony</a>
**Version:** v2.0.1
**Editor:** @dfm
**Reviewer:** @afeinstein20, @mrtommyb
**Archive:** <a href="https://doi.org/10.5281/zenodo.4095339" target="_blank">10.5281

[2020-11-18 14:33] whedon commented on #2819
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2845.

[2020-11-18 14:33] #2819 closed

[2020-11-18 14:33] whedon commented on #2845
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @afeinstein20, @mrtommyb it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2020-11-18 14:33] whedon commented on #2845
PDF failed to compile for issue #2845 with the following error:

 Can't find any papers to compile :-(

[2020-11-18 14:34] dfm commented on #2845
@whedon generate pdf from branch josspaper

[2020-11-18 14:34] whedon commented on #2845
[code]

[2020-11-18 14:35] whedon commented on #2845
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02845/joss.02845/10.21105.joss.02845.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02845/joss.02845/10.21105.joss.02845.pdf) :page_facing_up: :point_left:

[2020-11-18 14:54] KristinaRiemer commented on #2721
Hi @arbennett. With regards to the authorship question, one of the authors had previously been the only contributor to the code base, while the submitting author and the third additional author had not. Based on the comments in [#166](https://github.com/EcoJulia/EcologicalNetworks.jl/issues/166) from the authors, all of their contributions seem more than sufficient for authorship as we require at

[2020-11-18 14:58] MAnalytics commented on #2379
Dear @njtierney (and @karthik)

We thank you once again for your efforts. Please, find below our responses.

@MAnalytics
#--------------------------------------------------------------------------------
#--------------------------------------------------------------------------------

#----------------------------------------------------------------------
## 1. Reviewer's comment:
#---------------

[2020-11-18 15:05] lpantano commented on #2638
thanks @marcrr, I got update from the BoE, and it seems enough to mention the tools so the reader has an idea where to go to learn more about the field. Since there is a description of the method already, we agreed this is almost enough.
@chorscroft, do you think you could add a little more about the other packages, if they target a different context, or they have some limitations your package doe

[2020-11-18 15:16] asmusskar commented on #2548
@Kevin-Mattheus-Moerman, yes

@CBenghi,
1. I have resolved the latest issue. I hope you can accept the "quick-fix" until I come up with a more beatified solution.
2. I have included a short "How to contribute" section in the Readme.. I'm relatively new in this forum, so any additional inputs are very welcome
3. I'm not sure what is meant by " sub-sections in its content".. you want me to add sub-s

[2020-11-18 15:56] tpoisot commented on #2829
I concur with @juliohm  - it would be good to have a fully runnable example, and the results shown in the paper.

[2020-11-18 15:57] tpoisot commented on #2829
@melissawm I can't edit the comment at the top (probably because I am not assigned)

[2020-11-18 16:06] mrtommyb commented on #2845
Hi @ekaterinailin I'm starting my review and working my way down the checklist. I'm at the item on Contribution and authorship. I have a question here.
I notice that the software Appaloosa is described as this software’s predecessor and it looks like some of the code in this package is lifted from Appaloosa. I was wondering if you could explain a little about your authorship choices for this paper

[2020-11-18 16:09] dfm commented on #2308
First, @Gabriel-p, @astrom-tom: thanks a lot for your constructive reviews!!

Next, @profxj: Things are looking good here! Here are the steps I need you to do before we head to final processing:

1. Are you planning on merging the `joss-paper-branch` into `master`? That's not required, but it might be a bit confusing if there is an out of date copy of the manuscript on `master`. Let me know how yo

[2020-11-18 16:23] arfon commented on #2740
:wave: @luizirber - how are you getting on finding reviewers here?

[2020-11-18 16:39] vlandau commented on #2829
@juliohm yes definitely! I tried to get at the importance of the functionality of the package in the second paragraph in the motivation section -- I explain the value of the Omniscape algorithm, how it differs from the similar package "Circuitscape.jl", and that until now there was not a software package implementing it. Should I just shift that to its own "Statement of Need" section?

[2020-11-18 16:39] nanhung commented on #2319
@marcosvital I am willing to review. I have no COI. Thanks!

[2020-11-18 16:44] juliohm commented on #2829
I think I'm missing the context here. Someone coming for the first time in
the subject will wonder why ominiscape ? What problems it addresses? You
need to show the potential users what it is about and how the features are
used in practical applications.

On Wed, Nov 18, 2020, 13:39 Vincent Landau <notifications@github.com> wrote:

[2020-11-18 16:47] vlandau commented on #2829
@juliohm okay thanks, I'll elaborate on that a bit.

[2020-11-18 16:55] aureliocarnero commented on #2825
Dear @Jammy2211 , I have some comments about the paper:
1) This phrase in not completely accurate:
"Strong gravitational lensing, where a background source galaxy appears multiple times due to its light rays being bent by the mass of one or more foreground lens galaxies"
Sometimes we do not get multiple images, but just a deformed image of the background source.
2) "When two galaxies are aligned d

[2020-11-18 17:13] vlandau commented on #2829
@juliohm I gave it a shot in the latest commit, thanks!

[2020-11-18 17:14] vlandau commented on #2829
@whedon generate pdf

[2020-11-18 17:14] whedon commented on #2829
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02829/joss.02829/10.21105.joss.02829.pdf) :page_facing_up: :point_left:

[2020-11-18 17:15] vlandau commented on #2829
Working on adding a workable example next.

[2020-11-18 17:26] whedon opened #2846 "[PRE REVIEW]: Parent-map: analysis of parental contributions to evolved or engineered protein or DNA sequences"
**Submitting author:** @damienmarsic (<a href="http://orcid.org/0000-0003-0847-8095">Damien Marsic</a>)
**Repository:** <a href="https://github.com/damienmarsic/Parent-map" target ="_blank">https://github.com/damienmarsic/Parent-map</a>
**Version:** 1.1.0
**Editor:** @csoneson
**Reviewers:** @xie186, @j-andrews7
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

D

[2020-11-18 17:26] whedon commented on #2846
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-18 17:27] whedon commented on #2846
[code]

[2020-11-18 17:27] whedon commented on #2846
[code]

[2020-11-18 17:27] whedon commented on #2846
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02846/joss.02846/10.21105.joss.02846.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02846/joss.02846/10.21105.joss.02846.pdf) :page_facing_up: :point_left:

[2020-11-18 17:33] brynpickering commented on #2695
@whedon generate pdf

[2020-11-18 17:34] whedon commented on #2695
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02695/joss.02695/10.21105.joss.02695.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02695/joss.02695/10.21105.joss.02695.pdf) :page_facing_up: :point_left:

[2020-11-18 17:34] danielskatz commented on #2846
👋 @luizirber - would you be willing to edit this submission?

[2020-11-18 17:34] danielskatz commented on #2846
@whedon invite @luizirber as editor

[2020-11-18 17:34] whedon commented on #2846
@luizirber has been invited to edit this submission.

[2020-11-18 17:35] ekaterinailin commented on #2845
Hi @mrtommyb ! First of all, thank you for volunteering as a reviewer.

My reasoning on authorship was: I made what I thought was a default choice based on the Github history of the project. From Appaloosa, I ended up using and adapting three functions (the aflare model, and the flare search functions in the residual light curve). AltaiPony was written from scratch, and did not grow out of Appaloo

[2020-11-18 17:36] milicag commented on #2695
@brynpickering @nmstreethran I will wait for your prompt to start addressing [the remaining issue](https://github.com/LBNL-ETA/MSWH/issues/16), as I'd like to tag a code release that goes with the JOSS paper, to avoid a need to re-tag.

[2020-11-18 17:36] danielskatz commented on #2833
👋 @drvinceknight - note that you have been requested to edit this submission...

[2020-11-18 17:36] danielskatz commented on #2833
@whedon invite @drvinceknight as editor

[2020-11-18 17:36] whedon commented on #2833
@drvinceknight has been invited to edit this submission.

[2020-11-18 17:39] danielskatz commented on #2537
I think an endash is more correct here, but I'm not confident enough to argue about  it

[2020-11-18 17:39] danielskatz commented on #2537
@whedon accept

[2020-11-18 17:39] whedon commented on #2537
[code]

[2020-11-18 17:40] whedon commented on #2537
[code]

[2020-11-18 17:40] whedon commented on #2537
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1926

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1926, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-18 17:43] csoneson commented on #2816
Thanks @danielskatz for the more extensive explanation.

@PatrickRWright - I think you may need to email Zenodo to resolve this and replace the JOSS DOI with a Zenodo-assigned one.

[2020-11-18 17:43] danielskatz commented on #2537
@whedon accept deposit=true

[2020-11-18 17:43] whedon commented on #2537
[code]

[2020-11-18 17:44] whedon commented on #2537
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1329118322089193478) 👈 🐦🐦🐦

[2020-11-18 17:44] whedon commented on #2537
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1927
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02537](https://doi.org/10.21105/joss.02537)
2. If everything looks g

[2020-11-18 17:46] danielskatz commented on #2537
Congratulations to @geekysquirrel (Stefanie Wiegand)!!

Thanks to @liberostelios & @jvdkwast for reviewing, and @hugoledoux for editing!

[2020-11-18 17:46] #2537 closed

[2020-11-18 17:46] whedon commented on #2537
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02537/status.svg)](https://doi.org/10.21105/joss.02537)

**We need your help!**

Journal of Open Source Softwa

[2020-11-18 17:47] whedon opened #2847 "[PRE REVIEW]: Chromanomer: A Javascript Library enabling Universally Accessible Color Selection through Intutive Naming Conventions"
**Submitting author:** @arvindcheenu (<a href="http://orcid.org/0000-0002-3409-6077">Arvind Srinivasan</a>)
**Repository:** <a href="https://github.com/arvindcheenu/Chromanomer" target ="_blank">https://github.com/arvindcheenu/Chromanomer</a>
**Version:** 1.0.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-11-18 17:47] whedon commented on #2847
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-18 17:48] whedon commented on #2847
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "url" (NAME) [#<BibTeX::Bibliography data=[4]>, "@", #<BibTeX::Entry >, {:title=>["ntc js (Name that Color JavaScript) - Chirag Mehta : chir.ag"]}]

[2020-11-18 17:48] whedon commented on #2847
PDF failed to compile for issue #2847 with the following error:

 Error reading bibliography file paper.bib:
(line 29, column 3):
unexpected "u"
expecting space, ",", white space or "}"
Looks like we failed to compile the PDF

[2020-11-18 17:48] whedon commented on #2847
[code]

[2020-11-18 17:52] danielskatz commented on #2847
Hi @arvindcheenu
You need a comma at the end of line 28 of your .bib file.  Feel free to try to generate the PDF and check the references again with the following comments, which each need to be on the first line of a new comment:
* ```@whedon generate pdf```
* ```@whedon check references```

Additionally, the next step in our process will be a discussion of the editors about scope and contributio

[2020-11-18 17:53] danielskatz commented on #2847
@whedon query scope

[2020-11-18 17:53] whedon commented on #2847
Submission flagged for editorial review.

[2020-11-18 17:55] danielskatz commented on #2847
Also, can you explain how this is research software? What fields/areas of research need to use this software?

[2020-11-18 18:24] profxj commented on #2308
Hi @dfm

1.  Yes.  I foresee that happening in ~2-3 weeks when we release v1.3
2.  I presume then I should wait until we release v1.3 for this.  Right?

[2020-11-18 18:25] profxj commented on #2308
@whedon generate pdf from joss-paper-branch

[2020-11-18 18:26] whedon commented on #2308
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02308/joss.02308/10.21105.joss.02308.pdf) :page_facing_up: :point_left:

[2020-11-18 18:26] dfm commented on #2308
@profxj: Sorry - I forgot the word "branch" in the whedon command. It should be:

`@whedon generate pdf from branch joss-paper-branch`

[2020-11-18 18:28] profxj commented on #2308
3.  The PDF looks great!

[2020-11-18 18:29] dfm commented on #2308
@profxj: Yes - the release should include all the changes associated with the review so getting those merged and included first would be good. So just ping me when you have that 1.3 release archived and I'll take it from there. Thanks!

[2020-11-18 18:53] milicag commented on #2695
Please don't hesitate to ask for edits if you find something is still needed in the paper, I am happy to address it.

[2020-11-18 19:17] drvinceknight commented on #2833
Sorry for missing the first notification!

[2020-11-18 19:18] drvinceknight commented on #2833
@whedon assign @drvinceknight as editor

[2020-11-18 19:18] whedon commented on #2833
OK, the editor is @drvinceknight

[2020-11-18 21:14] agisga commented on #2653
@lrnv Generally the code changes look good. Here are a few comments based on my previous feedback and the new changes:

- Vignette 4 still has syntactically wrong and redundant two lines of code here: https://github.com/lrnv/cort/blob/dd6d5abeabd10ed3cab1fbdbceaac0725081d912/vignettes/vignette04_bootstrap_varying_m.Rmd#L55
- In issue https://github.com/lrnv/cort/issues/11 you say that "the CamelCa

[2020-11-18 22:22] whedon commented on #2838
:wave: @mturiansky, please update us on how your review is going.

[2020-11-18 22:22] whedon commented on #2838
:wave: @mfherbst, please update us on how your review is going.

[2020-11-18 22:30] dpsanders commented on #2838
👋 Hi @mturiansky and @mfherbst: Many thanks for your comments and sorry for the delay in getting to them (and for the automated reminders!). I hope to get to look through them carefully today or tomorrow.

[2020-11-18 22:41] lockepatton commented on #2446
Hi @arfon!
[Here](https://github.com/lockepatton/sonipy/issues/3) is the outstanding issue I was referencing.

**Re the clarification on the relationship with other community efforts:**

This sonipy code is specifically designed to create an open-access scientifically useful method to listen to data, with accuracy and use on par with reading plots visually. While many sonification tools exist, thi

[2020-11-19 00:57] teuben commented on #2629
I'm stumped too, i'm going to ignore this for the review, as the examples seem to run (ok , i do have one failure still, the ephem_chrono task).

[2020-11-19 01:01] amanchokshi commented on #2629
Hi Peter, I'll try and summarise what I've found in my performance tests:

- O(N) - Performance scales linearly with the number of files, on a single core
- O(M) - Performance scales linearly with the number of lines of data, with a significant overhead reading in the data. By my estimate, more than half the time processing a single file of ~17k lines can be attributed to reading in the file. This

[2020-11-19 01:11] lrnv commented on #2653
@agisga Thanks a lot ! I will address all this, of course.

It's funny that you get errors from furrr, as none of the testing plateforms I used tells that -- maybe my tests are not covering what you did, so If you remember what you were doing we could add it as a test ? Also, do you remember your version of R and furrr before updating ? I will try to understand when the change to furrr happend and

[2020-11-19 01:30] majensen commented on #1942
Thanks a lot everybody- we are closing in!

[2020-11-19 01:35] damienmarsic commented on #2846
Hi,

Suggested reviewers

AngryMaciek
xie186
BjornFJohansson
j-andrews7
aponsero
j-andrews7
sigven
AhmedArslan
Datakid
Tijeco

Best regards,

Damien

From: whedon
Sent: Thursday, November 19, 2020 01:26
To: openjournals/joss-reviews
Cc: Damien Marsic; Mention
Subject: [openjournals/joss-reviews] [PRE REVIEW]: Parent-map: analysis ofparental contributions to evolved or engineered protein or DNA seq

[2020-11-19 01:47] arvindcheenu commented on #2847
@whedon generate pdf

[2020-11-19 01:47] whedon commented on #2847
PDF failed to compile for issue #2847 with the following error:

 Error reading bibliography file paper.bib:
(line 20, column 1):
unexpected "y"
expecting space, ",", white space or "}"
Looks like we failed to compile the PDF

[2020-11-19 01:48] arvindcheenu commented on #2847
@whedon check references

[2020-11-19 01:49] whedon commented on #2847
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "year" (NAME) [#<BibTeX::Bibliography data=[2]>, "@", #<BibTeX::Entry >, {:title=>["Color Name & Hue – Colblindor"], :url=>["https://www.color-blindness.com/color-name-hue/"], :author=>["Flueck, Daniel"]}]

[2020-11-19 02:09] arvindcheenu commented on #2847
@whedon check references

[2020-11-19 02:09] whedon commented on #2847
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "abstractNote" (NAME) [#<BibTeX::Bibliography data=[14]>, "@", #<BibTeX::Entry >, {:url=>["https://www.hsluv.org/"], :title=>["HSLuv"]}]

[2020-11-19 02:17] arvindcheenu commented on #2847
@whedon check references

[2020-11-19 02:17] whedon commented on #2847
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "abstractNote" (NAME) [#<BibTeX::Bibliography data=[14]>, "@", #<BibTeX::Entry >, {:url=>["https://www.hsluv.org/"], :title=>["HSLuv"]}]

[2020-11-19 02:18] arvindcheenu commented on #2847
@whedon check references

[2020-11-19 02:20] whedon commented on #2847
[code]

[2020-11-19 02:26] arvindcheenu commented on #2847
@whedon check references

[2020-11-19 02:27] arvindcheenu commented on #2847
@whedon check references
@whedon generate pdf

[2020-11-19 02:28] teuben commented on #2629
thanks Aman, this is indeed very useful stuff to understand.  50% in the
I/O is quite a lot.  These are 2kb files, that should read in 0.02ms on
a typical 100MB/s disk. So a significant time it does something else.
Maybe the decoding?  Even the readlines() routine isn't able to perform
at formal speed. I measured indeed about 250ms for reading one file.
When not processing any line, so returning n

[2020-11-19 02:28] whedon commented on #2847
[code]

[2020-11-19 02:29] arvindcheenu commented on #2847
@whedon  commands

[2020-11-19 02:29] whedon commented on #2847
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-19 02:30] arvindcheenu commented on #2847
@whedon commands

[2020-11-19 02:30] whedon commented on #2847
Here are some things you can ask me to do:

[code]

[2020-11-19 02:30] whedon commented on #2847
[code]

[2020-11-19 02:30] arvindcheenu commented on #2847
@whedon generate pdf

[2020-11-19 02:32] whedon commented on #2847
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02847/joss.02847/10.21105.joss.02847.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02847/joss.02847/10.21105.joss.02847.pdf) :page_facing_up: :point_left:

[2020-11-19 02:37] teuben commented on #2629
oops, i messed up my units.  The files are 2MB, so that should be around 10ms, which corresponds to my just processing the lines, no decoding.   So that decoding is expensive, more like 200 ms, 20 times as expensive as reading the line.

[2020-11-19 02:41] arvindcheenu commented on #2847
@whedon generate pdf

Added dates for a couple bibliography. Rectified labelling of referenced figure.

[2020-11-19 02:42] whedon commented on #2847
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02847/joss.02847/10.21105.joss.02847.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02847/joss.02847/10.21105.joss.02847.pdf) :page_facing_up: :point_left:

[2020-11-19 02:48] vlandau commented on #2829
@juliohm @tpoisot please see the new [Examples section](https://docs.circuitscape.org/Omniscape.jl/latest/examples/#Examples) in the docs. Following the example set by other Julia packages' documentation, I created a dedicated section for examples and linked to it in both the table of contents and the User Guide.

[2020-11-19 02:57] arvindcheenu commented on #2847
@danielskatz Thanks a lot for your valuable inputs. I have successfully generated the PDF after making the necessary changes based on it.

Regarding the scope of this software, please see below:

## Brief Summary on Scope and Need
### Who might use this software for research purposes?
* Data Visualisation Specialists
* UX Research Specialists
### You might need this software if...
* You are **visu

[2020-11-19 03:32] sebdalgarno commented on #2319
Thanks @marcosvital ! I've made the requested revisions (statement of need and some added context at beginning). I've also added reference to a recently published article on recent advances in SSD methods and added a section to the contributions section comparing shinyssdtools to the US EPA ssd Toolbox

[2020-11-19 03:33] sebdalgarno commented on #2319
@whedon generate pdf

[2020-11-19 03:34] whedon commented on #2319
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02319/joss.02319/10.21105.joss.02319.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02319/joss.02319/10.21105.joss.02319.pdf) :page_facing_up: :point_left:

[2020-11-19 03:35] teuben commented on #2629
To close up the review, and assuming you can add a few words on the performance, the only puzzle remaining is why I could not get ephem_chrono to work. It seems a few other tools after that also fail for me, possibly because of this? I also had a case where leaving out the --max_cores=4 would cause it to fail with the error "ValueError: max_workers must be greater than 0"

[2020-11-19 04:04] amanchokshi commented on #2629
I think I know where the error in --max_cores comes from. I'll test it out and ping you. The ephem_chrono problem is a puzzle, but I'll try it again once I've finished the max_core issue

[2020-11-19 04:17] amanchokshi commented on #2629
The batch scripts should now work after you update EMBERS to the latest version - 0.8.2. I had added a bad default value to the max_cores argparse option.

[2020-11-19 04:31] amanchokshi commented on #2629
I ran `ephem_chrono` again and things worked. Do you have a folder called `TLE` in the `sat_utils` directory? This should have been copied over when you cloned the sample data and moved the sample data to the correct dir.

Before running `ephem_batch`:

[code]

After running `ephem_batch`:

[code]
The above data is required for `ephem_chrono` to work. Finally, after `ephem_chrono` runs successfull

[2020-11-19 05:13] arbennett commented on #2721
@KristinaRiemer perfect, thanks! With that, I am happy to accept this paper!

[2020-11-19 05:16] arbennett commented on #2483
I tried out the updated tutorial, and things ran through, though it took a bit of time. Still, that was my only remaining stumbling block, so I would be happy to accept this submission!

[2020-11-19 05:28] amanchokshi commented on #2629
I've created a new [Performance](https://embers.readthedocs.io/en/latest/performance.html) page in the documentation. This outlines our investigation into parallel and single core performance and  states the I/O limitations. I've also added a link to the performance page in the examples.

[2020-11-19 07:32] PatrickRWright commented on #2816
@csoneson I have gotten in touch with Zenodo and hope they can resolve this.

Thank you for the guidance.

[2020-11-19 10:27] sylvaticus commented on #2512
I would like to thank @ablaom for his deep review of the software whose shortcomings I fully acknowledge.

I would like to give the reviewer a more detailed reply, but how does it works? Should I just continue on this thread ?

[2020-11-19 10:31] marcosvital commented on #2319
Thanks for the revisions, @sebdalgarno. The proof seems ready for revision.

@nanhung, thank you. We will start the revision process right away.

[2020-11-19 10:32] marcosvital commented on #2319
@whedon assign @elimillera as reviewer

[2020-11-19 10:32] whedon commented on #2319
OK, @elimillera is now a reviewer

[2020-11-19 10:33] marcosvital commented on #2319
@whedon add @meenakshi-kushwaha  as reviewer

[2020-11-19 10:34] whedon commented on #2319
OK, @meenakshi-kushwaha  is now a reviewer

[2020-11-19 10:34] marcosvital commented on #2319
@whedon add @nanhung as reviewer

[2020-11-19 10:34] whedon commented on #2319
OK, @nanhung is now a reviewer

[2020-11-19 10:35] marcosvital commented on #2319
OK, we will now move on to a new issue for the reviewing process.

[2020-11-19 10:35] marcosvital commented on #2319
@whedon start review

[2020-11-19 10:46] tuelwer commented on #2828
@briandesilva, thanks! Except for the sea surface temperature example (FTP connection problem) all notebooks now run smoothly on Binder!

Regarding the summary: I agree that the paper should be aimed at a general audience (as it is also required by the JOSS submission guidelines) and I agree that stating the loss functions in the paper is probably too much. However, maybe you could consider to ela

[2020-11-19 10:58] amritagos commented on #2512
I'm really sorry for replying late. I'm really swamped and won't be able to review. So sorry.

[2020-11-19 11:01] CBenghi commented on #2548
@whedon generate pdf

[2020-11-19 11:01] whedon commented on #2548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: :point_left:

[2020-11-19 11:23] Leo-Simpson commented on #2811
@whedon generate pdf

[2020-11-19 11:23] whedon commented on #2811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: :point_left:

[2020-11-19 11:26] Leo-Simpson commented on #2811
@whedon generate pdf

[2020-11-19 11:27] whedon commented on #2811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: :point_left:

[2020-11-19 11:29] Leo-Simpson commented on #2811
@whedon generate pdf

[2020-11-19 11:29] whedon commented on #2811
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02811/joss.02811/10.21105.joss.02811.pdf) :page_facing_up: :point_left:

[2020-11-19 11:54] PatrickRWright commented on #2816
@csoneson Zenodo suggested to reupload the package leaving the DOI field empty. They will then delete the old submission.

I have done this: https://zenodo.org/record/4280767#.X7Zbqa4o_MU
DOI: http://doi.org/10.5281/zenodo.4280767
Version: 1.0.6

[2020-11-19 12:21] usethedata commented on #2483
@arbennett excellent.  If you'd be so kind as to mark your items as complete in the review checklist, that would be great.

[2020-11-19 12:21] arfon commented on #2319
@whedon start review

[2020-11-19 12:21] usethedata commented on #2483
@whedon generate pdf

[2020-11-19 12:21] usethedata commented on #2483
@whedon check references

[2020-11-19 12:22] whedon commented on #2483
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02483/joss.02483/10.21105.joss.02483.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02483/joss.02483/10.21105.joss.02483.pdf) :page_facing_up: :point_left:

[2020-11-19 12:24] arfon commented on #2319
@whedon start review

[2020-11-19 12:24] whedon opened #2848 "[REVIEW]: shinyssdtools: A web application for fitting Species Sensitivity Distributions (SSDs)"
**Submitting author:** @sebdalgarno (<a href="http://orcid.org/0000-0002-3658-4517">Sebastian Dalgarno</a>)
**Repository:** <a href="https://github.com/bcgov/shinyssdtools" target ="_blank">https://github.com/bcgov/shinyssdtools</a>
**Version:** v0.0.3
**Editor:** @marcosvital
**Reviewer:** @elimillera, @meenakshi-kushwaha, @nanhung
**Archive:** <a href="https://doi.org/10.5281/zenodo.4448253" tar

[2020-11-19 12:24] whedon commented on #2319
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2848.

[2020-11-19 12:24] #2319 closed

[2020-11-19 12:24] whedon commented on #2848
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @elimillera, @meenakshi-kushwaha, @nanhung it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [o

[2020-11-19 12:24] arfon commented on #2319
@marcosvital - apologies for the small hiccup with Whedon there.

[2020-11-19 12:25] whedon commented on #2848
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02848/joss.02848/10.21105.joss.02848.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02848/joss.02848/10.21105.joss.02848.pdf) :page_facing_up: :point_left:

[2020-11-19 12:25] usethedata commented on #2483
@whedon check references

[2020-11-19 12:25] whedon commented on #2848
[code]

[2020-11-19 12:27] whedon commented on #2483
[code]

[2020-11-19 12:31] usethedata commented on #2483
@samvanstroud (and team):
1) Looking at the repository, I'm seeing version 1.0 as the current release, with a date of March 2020.  I don't know if you want to tag at 1.0.1 or something similar to note the changes made since this review started.  Please confirm what you want for the version number for the paper and either let me know you're going with 1.0 or set up the new release/tag and let me kn

[2020-11-19 12:32] usethedata commented on #2483
I confirm I have no further editorial changes to make to the paper itself.

[2020-11-19 13:04] teuben commented on #2629
I've removed all directories (except TLE) in embers_out/sat_utils, the TLE directory has the following 73 files:

21576.txt  25113.txt  25117.txt  25159.txt  25415.txt  25419.txt  25477.txt  25481.txt  25982.txt  25986.txt  33062.txt  40069.txt  40089.txt  41180.txt  41184.txt  41188.txt  44020.txt  44025.txt  44387.txt
23545.txt  25114.txt  25118.txt  25338.txt  25416.txt  25420.txt  25478.txt  2

[2020-11-19 13:43] amanchokshi commented on #2629
This is bizarre. Let try a couple of long shots. Can you check whether the files in the TLE directory contain anything? Perhaps they've been corrupted somehow?

You should see something like this:

[code]

Have you been running all the other examples in the same way? With EMBERS installed using `pip install -e .` in the source tree?

I've attempted to replicate the way you're running things. I hav

[2020-11-19 13:53] amanchokshi commented on #2629
So many `matplotlib` figures should not be opened by `ephem_batch`, instead figures should be saved to `embers_out/sat_utils/ephem_plots`. Does `ephem_batch` create this directory and `.png` figures for you?

Can you update EMBERS to V0.8.3, or `git pull` and build from source again? I've explicitly closed the figures after the plot is saved. This shouldn't be necessary, but may help.

Also have r

[2020-11-19 13:54] melissawm commented on #2829
@whedon re-invite @tpoisot as reviewer

[2020-11-19 13:54] whedon commented on #2829
The reviewer already has a pending invite.

@tpoisot please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-19 13:54] melissawm commented on #2829
@tpoisot please accept the invitation and let me know if that solves the issue. Thanks!

[2020-11-19 13:55] teuben commented on #2629
Indeed my embers_out/sat_utils/TLE/21576.txt looks like yours. I've been able to run all steps before this fatal one just fine, all the figure are like yours.

You have also done what I did , with the pip installing it with source in place.   I use a pretty standard anaconda3 as the base for my python, not the system python. I've actually reinstalled that one.

I will retrace the steps, but a ques

[2020-11-19 14:01] teuben commented on #2629
I noted that 3 files in TLE have 3 length:44019.txt  44020.txt  44025.txt - the rest have anywhere from 20 to 78 lines. There are 73 files in here.

I do see 70 plots in the ephem_plots directory. (not 73, since 3 of my TLE's were 0 length)

I've updated code again. Ran ephem_chrone, but still no json files.

[2020-11-19 14:04] krober10nd commented on #2687
@whedon generate pdf

[2020-11-19 14:05] whedon commented on #2687
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02687/joss.02687/10.21105.joss.02687.pdf) :page_facing_up: :point_left:

[2020-11-19 14:06] agisga commented on #2653
@lrnv I don't think this is a serious issue, since everything works with the current version of furrr from CRAN. I think the error was related to `furrr::furrr_options`. According to [this post](https://www.tidyverse.org/blog/2020/10/furrr-0-2-0/), the name `furrr_options` was introduced in furrr v0.2.0 just a month ago (current version on CRAN is 0.2.1). I must have had an older version of furrr

[2020-11-19 14:10] amanchokshi commented on #2629
You don't need to run `align_batch` again. The only thing that any of the `ephem` scripts should need are the TLE files. It's also okay that 3 of the TLE files are empty, they have very sparse satellite coverage and on that data had np passes visible from the site.

I've been using `pyenv` to install python versions on my system. Currently I've used `pyenv` to set by default version to `3.8.3`. I

[2020-11-19 14:19] amanchokshi commented on #2629
Just a thought, is the directory with `tiles_data` and `embers_out/sat_utils/TLE` on your external `VFAT` formatted drive? The names of the json files created have a colon `:` in them. Could that be tripping things up?

[2020-11-19 14:27] teuben commented on #2629
python 3.8.5
the whole tree with embers_out and tiles_data is on a regular ext4 formatted drive.
The json files look fine in their name, e.g.
       -rw-rw-r-- 1 teuben teuben 2 Nov 19 09:00 embers_out/sat_utils/ephem_chrono/2019-10-10-00:00.json

[2020-11-19 14:35] amanchokshi commented on #2629
Lets rule out problems in `ephem_batch` so that we can focus on `ephem_chrono`. Can you try and see if the log seems similar?

[code]

Also that the first plot `embers_out/sat_utils/ephem_plots/21576.png` looks like this:

![21576](https://user-images.githubusercontent.com/40157844/99679853-881b8080-2ad0-11eb-889c-1b4341201360.png)

And finally that the size of the `ephem_data` directory matches m

[2020-11-19 14:48] KristinaRiemer commented on #2841
@dglmoore @marcjwilliams1 @eviatarbach would you be able and willing to review this JOSS submission?

[2020-11-19 14:49] teuben commented on #2629
log file looks ok, but has a different order of the files downloaded. 
File has 143 lines (73 for files, 70 for successfull ones)

the plot looks similar, though mine has 41 passes, yours has 5.

my du -sh embers_out/sat_utils/ephem_data
17M     embers_out/sat_utils/ephem_data

e.g. the one you plotted, where I had 41 passes:

-rw-rw-r-- 1 teuben teuben 146855 Nov 19 08:26 21576.npz

It has 70 fil

[2020-11-19 15:07] amanchokshi commented on #2629
It's really strange that you have 41 satellite passes. Can you try this

[code]
The `.npz` data file should be only `21K` in size. If the plot has more than 5 satellites, it means that something is wrong with the TLE files. This would explain why `ephem_chrono` is making empty files

[2020-11-19 15:11] amanchokshi commented on #2629
It's a long shot, but can you check if the contents of the TLE file is the same as mine:

[code]

[2020-11-19 15:20] teuben commented on #2629
ls -l tmp/ephem_*/*
-rw-rw-r-- 1 teuben teuben 146855 Nov 19 10:18 tmp/ephem_data/21576.npz
-rw-rw-r-- 1 teuben teuben 171585 Nov 19 10:18 tmp/ephem_plots/21576.png

so much bigger.   The png shows 41 passes.

On 11/19/20 10:07 AM, Aman Chokshi wrote:

[2020-11-19 15:22] teuben commented on #2629
mine is clearly longer

more embers_out/sat_utils/TLE/21576.txt
1 21576U 91050C   19274.12296826  .00000022  00000-0  20647-4 0  9992
2 21576  98.6215 322.8165 0003370 355.9403   4.1757 14.41571172481698
1 21576U 91050C   19274.74764681 +.00000022 +00000-0 +20705-4 0  9994
2 21576 098.6214 323.4469 0003330 354.0023 006.1125 14.41571283481565
1 21576U 91050C   19275.64996028  .00000018  00000-0 196

[2020-11-19 15:29] amanchokshi commented on #2629
The data you have doesn't match what's on github currently. I initially had too much data on the sample data repo and had to reduce it to make the examples run in a reasonable time.

Can you pull down the sample data repo again, or just do download the TLE dir from the [sample data repo](https://github.com/amanchokshi/EMBERS-Sample-Data)?

The new TLE files should be sufficient to get `ephem_chron

[2020-11-19 16:49] brynpickering commented on #2695
@milicag thanks for your work on this, I'm happy with the result and have completed my review checklist.

A minor point (which I think you brought up in a now-closed issue/PR) is that the section of your summary relating to the components of the model could be placed in a sub-section (e.g. 'model components'), to break up the summary slightly. Similarly, a sub-section for 'future applications'/'us

[2020-11-19 17:17] bradkav commented on #2823
Hi @eloisabentivegna, it looks like the invitation at this URL - https://github.com/openjournals/joss-reviews/invitations - has expired (sorry I was a bit slow getting around to it). Could the invitation be sent again? Thanks.

[2020-11-19 17:44] sebdalgarno commented on #2848
I've updated DOI for Species Sensitivity Distributions in Ecotoxicology

[2020-11-19 17:44] sebdalgarno commented on #2848
@whedon generate pdf

[2020-11-19 17:44] whedon commented on #2848
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02848/joss.02848/10.21105.joss.02848.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02848/joss.02848/10.21105.joss.02848.pdf) :page_facing_up: :point_left:

[2020-11-19 17:47] milicag commented on #2695
@brynpickering Thank you! This is good news for me and the team. The paper is pretty short, only four pages of text, so I don't see a real reason to break it into the subsections, though I also see how that would help if someone is to read the paper really quickly. I leave it to @sjpfenninger.

[2020-11-19 18:06] CBenghi commented on #2548
Hello @asmusskar,
Ok on 1 and 2.
I've also added a PR to the paper with minor grammar changes.

On number 3: yes that's what I meant. I think readability would benefit from that, but I would accept as is if you think differently. Just let me know.

[2020-11-19 18:31] crangelsmith commented on #2483
Hi @usethedata,

Yes, we decided to move to version v1.1.0, this is now tagged and updated on the [repo](https://github.com/alan-turing-institute/monitoring-ecosystem-resilience/releases/tag/v1.1.0).

Done, this is the DOI they provide: [10.5281/zenodo.4281273](https://doi.org/10.5281/zenodo.4281273)

Thank you and @arbennett for all your work reviewing this paper!!!

[2020-11-19 18:37] ablaom commented on #2512
Suggestions for further reviewers: @ppalmes, @cstjean. These are authors of AutoMLPipelines.jl and ScikitLearn.jl respectively, the "competing" toolboxes to MLJ, with which I am associated. So independent for sure.

[2020-11-19 18:49] terrytangyuan commented on #2512
Let's wait for another reviewer to join and chime in. Thanks @ablaom for the feedback and suggesting additional reviewers!

👋🏻  @ppalmes and @cstjean would you be interested in reviewing for this submission?

[2020-11-19 19:00] lrnv commented on #2653
@whedon generate pdf

[2020-11-19 19:00] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-11-19 19:02] lrnv commented on #2653
@whedon  generate pdf

[2020-11-19 19:02] whedon commented on #2653
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-11-19 19:02] lrnv commented on #2653
@whedon generate pdf

[2020-11-19 19:03] whedon commented on #2653
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02653/joss.02653/10.21105.joss.02653.pdf) :page_facing_up: :point_left:

[2020-11-19 19:24] jbytecode commented on #2844
@whedon generate pdf

[2020-11-19 19:25] whedon commented on #2844
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02844/joss.02844/10.21105.joss.02844.pdf) :page_facing_up: :point_left:

[2020-11-19 19:44] milicag commented on #2695
@brynpickering, @nmstreethran - Thank you for your thorough review, it has improved many aspects of the software, especially the accessibility to users and contributors! I appreciate all your help, suggestions, and all our discussions. This was a really unique experience in these pandemic times.

[2020-11-19 20:19] marcosvital commented on #2848
@elimillera, @meenakshi-kushwaha and @nanhung: thank you again for for accepting review this submission for JOSS.

Even if you are not starting the review right now, please accept the invite, as it has an expiration date (there is a link under Reviewer instructions & questions and you should also get an email notification). Furthermore, please check the instructions and checklists above, and let m

[2020-11-19 20:20] eloisabentivegna commented on #2555
Followed up via email.

[2020-11-19 20:29] eloisabentivegna commented on #2822
@jdmoorman, would you be available to review this submission?

[2020-11-19 20:44] eloisabentivegna commented on #2823
@whedon re-invite @bradkav as reviewer

[2020-11-19 20:44] whedon commented on #2823
OK, the reviewer has been re-invited.

@bradkav please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2020-11-19 20:47] eloisabentivegna commented on #2555
@gouarin, @ianhinder, have you finished posting your comments on this submission? If so, could you explicitly state your recommendation?

[2020-11-19 21:00] ppalmes commented on #2512
hi all,

thanks @ablaom for suggesting my name. yes, i'm interested to help in the review.

[2020-11-19 21:06] terrytangyuan commented on #2512
@whedon add @ppalmes as reviewer

[2020-11-19 21:06] whedon commented on #2512
OK, @ppalmes is now a reviewer

[2020-11-19 21:07] terrytangyuan commented on #2512
@whedon start review

[2020-11-19 21:07] whedon opened #2849 "[REVIEW]: BetaML: The Beta Machine Learning Toolkit, a self-contained repository of Machine Learning algorithms in Julia"
**Submitting author:** @sylvaticus (<a href="http://orcid.org/0000-0002-1534-8697">Antonello Lobianco</a>)
**Repository:** <a href="https://github.com/sylvaticus/BetaML.jl" target ="_blank">https://github.com/sylvaticus/BetaML.jl</a>
**Version:** v0.2.2
**Editor:** @terrytangyuan
**Reviewer:** @ablaom, @ppalmes
**Archive:** <a href="https://doi.org/10.5281/zenodo.4730205" target="_blank">10.5281/z

[2020-11-19 21:07] whedon commented on #2512
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2849.

[2020-11-19 21:07] #2512 closed

[2020-11-19 21:07] whedon commented on #2849
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ablaom, @ppalmes it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2020-11-19 21:07] terrytangyuan commented on #2512
Thanks. @ablaom, @ppalmes let's continue the discussion in #2849.

[2020-11-19 21:08] whedon commented on #2849
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02849/joss.02849/10.21105.joss.02849.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02849/joss.02849/10.21105.joss.02849.pdf) :page_facing_up: :point_left:

[2020-11-19 21:09] whedon commented on #2849
[code]

[2020-11-19 22:35] stsievert commented on #2812
My initial review: I do not believe this software project meets the [JOSS review requirements]. I welcome questions and comments from @jbuisine so provide clarification or be corrected on points below.

The most significant comments/questions are below. I have also edited https://github.com/openjournals/joss-reviews/issues/2812#issue-734575770 to check various boxes* and add some notes on specific

[2020-11-19 22:40] diehlpk commented on #2291
@ctdegroot Can you estimate when you intend to finish the review?

[2020-11-19 23:09] ablaom commented on #2849
Okay, here's an **update** of my review from the [pre-review thread](https://github.com/openjournals/joss-reviews/issues/2512)

## What the package provides

The package under review provides pure-julia implementations of two
tree-based models, three clustering models, a perceptron model (with 3
variations) and a basic neural network model. In passing, it should be
noted that all or almost all of

[2020-11-20 00:24] pibion commented on #2693
@whedon generate pdf

[2020-11-20 00:25] whedon commented on #2693
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02693/joss.02693/10.21105.joss.02693.pdf) :page_facing_up: :point_left:

[2020-11-20 00:28] pibion commented on #2693
@hemanthpruthvi fantastic!  The last thing we need to submit is for you to create an archive (on Zenodo, figshare, or other) and post the archive DOI here.  Then I can submit the paper for acceptance.

[2020-11-20 01:20] teuben commented on #2629
I redid the data repo instructions. I now have a short embers_out/sat_utils/TLE/21576.txt file, with 4 lines.
The tiles_data are all (1440 I see) from 2019-10-10

I'm afraid, even with a new  align_batch and ephem_batch  I still get a blank ephem_chrono.

I think I'm going to redo the whole workflow.

[2020-11-20 01:32] amanchokshi commented on #2629
Maybe you could make a bash script with just the important stuff and let it run?

[code]

[2020-11-20 02:12] bensonml commented on #2726
## Comments on Paper:
I concur with the above comments about the paper.

Here are my own comments:

1. **Grammar**: add "the"
   1. We have developed an extensible framework to support annotation of plain text
   2. We have developed an extensible framework to support ***the*** annotation of plain text

2. **References: Citation Syntax**: maybe use a reference or inline url instead of a footnote f

[2020-11-20 06:39] apalarcon commented on #2479
Hi! @dhhagan, do you have any news about the review process?

[2020-11-20 07:49] csoneson commented on #2816
@whedon set 10.5281/zenodo.4280767 as archive

[2020-11-20 07:49] whedon commented on #2816
OK. <a href="https://doi.org/10.5281/zenodo.4280767" target="_blank">10.5281/zenodo.4280767</a> is the archive.

[2020-11-20 07:51] csoneson commented on #2816
@whedon set 1.0.6 as version

[2020-11-20 07:51] whedon commented on #2816
OK. 1.0.6 is the version.

[2020-11-20 07:52] csoneson commented on #2816
@whedon accept

[2020-11-20 07:52] whedon commented on #2816
[code]

[2020-11-20 07:52] csoneson commented on #2816
Thanks @PatrickRWright - the associate editor in chief on rotation will take over from here.

[2020-11-20 07:52] whedon commented on #2816
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1928

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1928, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-20 07:54] whedon commented on #2816
[code]

[2020-11-20 07:57] berenger-eu commented on #2444
Dear @pitsianis please let me know if I missed a message somewhere, and if I should do something. Thanks.

[2020-11-20 08:26] PatrickRWright commented on #2816
Thank you a lot @csoneson this has been such a great process.

@aghaynes @markomi looks like its accepted. Thanks to both of you too for all your efforts in the project :rocket:

[2020-11-20 08:59] sigven commented on #2694
@pibion Truly sorry for my delay with providing my review; I have been swamped with other obligations. Currently, I am struggling to see how I can provide my comments along with the review checklist, in the same manner as @jspaezp did? I have realized that I should creat an issue in [wesleyburr/subMadi](https://github.com/wesleyburr/subMaldi), but how do I technically refer to the checklist so tha

[2020-11-20 11:20] prdm0 commented on #2769
Dear @timtroendle, I intend to quickly make the changes suggested by the first reviewer. When they are implemented, should I update the PDF or should I wait for suggestions from the second reviewer?

[2020-11-20 12:06] asmusskar commented on #2548
@CBenghi, thanks for those changes. I have updated the paper, dividing into sections as proposed 👇

[2020-11-20 12:06] asmusskar commented on #2548
@whedon generate pdf

[2020-11-20 12:07] whedon commented on #2548
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02548/joss.02548/10.21105.joss.02548.pdf) :page_facing_up: :point_left:

[2020-11-20 12:29] PatrickRWright commented on #2816
Should I run this `@whedon accept deposit=true` or is the something the associate editor needs to do?

Also I saw that the XML omits the middle names. i.e. `Alan Haynes` should be `Alan G. Haynes` and `Patrick Wright` should be `Patrick R. Wright`. Is that possible?

[2020-11-20 12:34] MaierOli2010 commented on #2727
Due to security concerns I've temporarily disabled the link to the Jenkins server. Working with our IT Security to get an official solution but it might take some time.

[2020-11-20 12:42] danielskatz commented on #2816
I'll take over from here, with a final proofreading and then the acceptance.  I'll also look at the name issue in the XML - thanks for catching it as a potential issue.

[2020-11-20 13:09] danielskatz commented on #2816
Please merge the changes in https://github.com/SwissClinicalTrialOrganisation/secuTrialR/pull/229 or let me know what you don't agree with.

[2020-11-20 13:11] pdebuyl commented on #2834
@jiwoncpark can you review the article "deeplenstronomy: A dataset simulation package for strong gravitational lensing" for JOSS?

[2020-11-20 13:15] danielskatz commented on #2646
👋 @prw99r & @skadio - what are your thoughts on @jpsety's responses?

[2020-11-20 13:15] whedon opened #2850 "[PRE REVIEW]: hIPPYlib-MUQ: Scalable Markov Chain Monte Carlo Sampling Methods for Large-scale Bayesian Inverse Problems Governed by PDEs"
**Submitting author:** @ktkimcode (<a href="http://orcid.org/0000-0002-5929-4061">Ki-Tae Kim</a>)
**Repository:** <a href="https://github.com/hippylib/hippylib2muq.git" target ="_blank">https://github.com/hippylib/hippylib2muq.git</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challen

[2020-11-20 13:15] whedon commented on #2850
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-20 13:16] whedon opened #2851 "[PRE REVIEW]: circleclust: A spatiotemporal clustering algorithm for personal location data"
**Submitting author:** @wolfeclw (<a href="http://orcid.org/0000-0002-5882-1149">Christopher Wolfe</a>)
**Repository:** <a href="https://github.com/wolfeclw/circleclust" target ="_blank">https://github.com/wolfeclw/circleclust</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of

[2020-11-20 13:16] whedon commented on #2851
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-20 13:16] whedon opened #2852 "[PRE REVIEW]: SpeedDate.jl"
**Submitting author:** @BenJWard (<a href="http://orcid.org/0000-0001-6337-5238">Ben J. Ward</a>)
**Repository:** <a href="https://github.com/vanOosterhoutLab/SpeedDate.jl" target ="_blank">https://github.com/vanOosterhoutLab/SpeedDate.jl</a>
**Version:** v0.3.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2020-11-20 13:16] whedon commented on #2850
Failed to discover a `Statement of need` section in paper

[2020-11-20 13:16] whedon commented on #2852
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-20 13:16] whedon commented on #2850
[code]

[2020-11-20 13:16] whedon opened #2853 "[PRE REVIEW]: 3dfier: automatic reconstruction of 3D city models"
**Submitting author:** @hugoledoux (<a href="http://orcid.org/0000-0002-1251-8654">Hugo Ledoux</a>)
**Repository:** <a href="https://github.com/tudelft3d/3dfier" target ="_blank">https://github.com/tudelft3d/3dfier</a>
**Version:** v1.3.0
**Editor:** @arfon
**Reviewers:** @GANys, @chenkianwee
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2020-11-20 13:16] whedon commented on #2853
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-20 13:16] whedon commented on #2851
[code]

[2020-11-20 13:16] whedon commented on #2850
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02850/joss.02850/10.21105.joss.02850.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02850/joss.02850/10.21105.joss.02850.pdf) :page_facing_up: :point_left:

[2020-11-20 13:17] whedon commented on #2851
[code]

[2020-11-20 13:17] whedon commented on #2852
[code]

[2020-11-20 13:17] whedon commented on #2851
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02851/joss.02851/10.21105.joss.02851.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02851/joss.02851/10.21105.joss.02851.pdf) :page_facing_up: :point_left:

[2020-11-20 13:18] whedon commented on #2852
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02852/joss.02852/10.21105.joss.02852.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02852/joss.02852/10.21105.joss.02852.pdf) :page_facing_up: :point_left:

[2020-11-20 13:18] whedon commented on #2850
[code]

[2020-11-20 13:18] whedon commented on #2853
[code]

[2020-11-20 13:18] whedon commented on #2852
[code]

[2020-11-20 13:19] whedon commented on #2853
[code]

[2020-11-20 13:19] whedon commented on #2853
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02853/joss.02853/10.21105.joss.02853.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02853/joss.02853/10.21105.joss.02853.pdf) :page_facing_up: :point_left:

[2020-11-20 13:21] danielskatz commented on #2850
@ktkimcode - due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  We should get back to you sometime next week.  If you want to fix the DOIs (noting that whedon's suggestions are not always right), you can, then use the follow

[2020-11-20 13:21] danielskatz commented on #2850
@whedon query scope

[2020-11-20 13:21] whedon commented on #2850
Submission flagged for editorial review.

[2020-11-20 13:23] danielskatz commented on #2851
@wolfeclw - due to the relatively small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  We should get back to you sometime next week.  Also, I notice your journal titles in the references are in ALLCAPS, which isn't JOSS's style. If you w

[2020-11-20 13:23] danielskatz commented on #2851
@whedon query scope

[2020-11-20 13:24] whedon commented on #2851
Submission flagged for editorial review.

[2020-11-20 13:25] danielskatz commented on #2852
@BenJWard - due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  We should get back to you sometime next week.  If you want to fix the DOIs (noting that whedon's suggestions are not always right), you can, then use the followi

[2020-11-20 13:25] danielskatz commented on #2852
@whedon query scope

[2020-11-20 13:25] whedon commented on #2852
Submission flagged for editorial review.

[2020-11-20 13:26] danielskatz commented on #2853
👋 @bstabler - you've been requested as the editor for this submission - can you take it on?

[2020-11-20 13:27] danielskatz commented on #2853
@whedon invite @bstabler as editor

[2020-11-20 13:27] whedon commented on #2853
@bstabler has been invited to edit this submission.

[2020-11-20 14:14] flokno commented on #2671
Hi @ajjackson , thank you very much again for going through the tutorials in this great detail, this was very helpful.

We're addressing your remaining comments in this merge request: https://gitlab.com/vibes-developers/vibes/-/merge_requests/25

In particular, we add the statement

to the README to clarify the prerequisites for running the tutorials.

In the paper, we added a dedicated subsection

[2020-11-20 14:15] flokno commented on #2671
Hi @keipertk , also many thanks to your for reviewing the code.

We added community guidelines as discussed in this merge request: https://gitlab.com/vibes-developers/vibes/-/merge_requests/23

Is there anything else left to do from your side?

[2020-11-20 14:23] PatrickRWright commented on #2816
It is merged.

[2020-11-20 14:38] danielskatz commented on #2816
@whedon accept

[2020-11-20 14:38] whedon commented on #2816
[code]

[2020-11-20 14:39] whedon commented on #2816
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1929

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1929, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-20 14:39] CBenghi commented on #2548
Thanks @asmusskar, all checks passed for me.

@Kevin-Mattheus-Moerman, I think both @AnaWaldila and I are happy with the paper, would you like to take the helm?

[2020-11-20 14:41] AnaWaldila commented on #2548
@Kevin-Mattheus-Moerman and @CBenghi . For me, the paper is OK.

[2020-11-20 14:41] whedon commented on #2816
[code]

[2020-11-20 14:51] bensonml commented on #2726
PINE is clearly an Impressive piece of work, and it is obvious they put a lot of effort into this project.

[2020-11-20 15:05] wolfeclw commented on #2851
@whedon generate pdf

[2020-11-20 15:06] whedon commented on #2851
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02851/joss.02851/10.21105.joss.02851.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02851/joss.02851/10.21105.joss.02851.pdf) :page_facing_up: :point_left:

[2020-11-20 15:08] usethedata commented on #2483
@whedon set 1.1.0 as version

[2020-11-20 15:08] whedon commented on #2483
OK. 1.1.0 is the version.

[2020-11-20 15:09] usethedata commented on #2483
@whedon set 10.5281/zenodo.4281273 as archive

[2020-11-20 15:09] whedon commented on #2483
OK. <a href="https://doi.org/10.5281/zenodo.4281273" target="_blank">10.5281/zenodo.4281273</a> is the archive.

[2020-11-20 15:09] usethedata commented on #2483
@whedon generate pdf

[2020-11-20 15:11] whedon commented on #2483
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02483/joss.02483/10.21105.joss.02483.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02483/joss.02483/10.21105.joss.02483.pdf) :page_facing_up: :point_left:

[2020-11-20 15:18] ianhinder commented on #2555
Contribution and authorship:
- The contributing author has made a substantial contribution, but I cannot evaluate the appropriateness of the authorship of the authors Sorin Mitran, PhD and Andinet Enquobahrie, PhD.  Please could this be clarified?

[2020-11-20 15:18] flokno commented on #2671
@whedon generate pdf from branch joss_paper_review

[2020-11-20 15:18] whedon commented on #2671
[code]

[2020-11-20 15:19] whedon commented on #2671
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02671/joss.02671/10.21105.joss.02671.pdf) :page_facing_up: :point_left:

[2020-11-20 15:20] ianhinder commented on #2555
Installation:
- I have posted 16 issues to the gitlab issue tracker of the code; it was quite complicated to install and understand the instructions.  I think it would be best if this was substantially improved before acceptance.
- I understand that writing instructions for installing scientific software like this is very hard; you have my sympathies!  People will want to install it on many differ

[2020-11-20 15:32] ianhinder commented on #2555
Functionality:
- The software claims to implement the Lattice Boltzmann Method for solving hydrodynamical systems.
- When I ran the provided verification tests, they mostly reported "Baseline data not found" (see https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/issues/15) and were not able to report a pass or fail.  So I cannot tell whether it passes its own tests.
- Ideally, I would like

[2020-11-20 15:36] ianhinder commented on #2555
Performance:
- The main selling point of this code is probably that it runs on GPUs, implying that performance is an explicit goal.  This is implied by the statement

and integrated verification and validation make this library unique when compared to other available libraries of the LBM [@palabos][@openLB][@sailfish].

  found in the paper.
- However, there are no performance measurements anywher

[2020-11-20 15:37] ianhinder commented on #2555
Installation instructions:
- See my comment above about my experiences with installation.  I believe the installation instructions need to be significantly improved.  Dependencies are listed satisfactorily.

[2020-11-20 15:39] ianhinder commented on #2555
Example usage:
- I cannot find in the README (or elsewhere) examples of how to use the software to solve real-world (or any) problems, beyond a single commented [configuration file](https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/blob/master/data/itk/example.cfg) referred to in passing at the end of the README.
- It is not even clear what the main code is, or how to run it.  There is a "

[2020-11-20 15:40] ianhinder commented on #2555
Functionality documentation:
- Beyond a single commented configuration file, there is no real documentation for how the code works, or how to use it.

[2020-11-20 15:41] ianhinder commented on #2555
Automated tests:
- There are impressive-looking automated verification tests
- However, these do not work for me, as they [cannot find "baseline data"](https://gitlab.kitware.com/LBM/lattice-boltzmann-solver/-/issues/15).

[2020-11-20 15:42] ianhinder commented on #2555
Community guidelines:
- There is a well-written contribution document
- There is no explicit guide for how to report issues or ask for help; one would assume that creating an issue in the gitlab repo is the way to go, but this is not stated.

[2020-11-20 15:42] ianhinder commented on #2555
State of the field:
- There is no in-depth comparison of how the software compares to other packages in the field

[2020-11-20 15:42] ianhinder commented on #2555
Quality of writing:
- The paper is quite well written; it would benefit from a spell-checker here and there.

[2020-11-20 15:49] ianhinder commented on #2555
General comments:
- The [review criteria](https://joss.readthedocs.io/en/latest/review_criteria.html#the-joss-paper) state that the paper should only contain the sections listed in bullet points at the top of the page.  The paper contains sections not listed (Numerical Benchmarking, Automated Verification and Validation, Future Directions).  I find those sections to be useful and informative, and

[2020-11-20 15:54] ianhinder commented on #2555
That's all!  I've put each separate issue into a separate comment to make it easier to reply.

Current grade: (3) Requires major revisions

[2020-11-20 16:12] danielskatz commented on #2816
@PatrickRWright - It turns out that Crossref only wants the given name (e.g. Alan). We omit the middle initial deliberately. But since we add the ORCID, the authors should still be uniquely identified.

[2020-11-20 16:12] danielskatz commented on #2816
@whedon accept deposit=true

[2020-11-20 16:12] whedon commented on #2816
[code]

[2020-11-20 16:13] whedon commented on #2816
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1329820163005411331) 👈 🐦🐦🐦

[2020-11-20 16:13] whedon commented on #2816
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1930
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02816](https://doi.org/10.21105/joss.02816)
2. If everything looks g

[2020-11-20 16:19] danielskatz commented on #2816
Congratulations to @PatrickRWright (Patrick R. Wright) and co-authors!!

And thanks to @pacoramon & @sachsmc for reviewing and @csoneson for editing!

[2020-11-20 16:19] #2816 closed

[2020-11-20 16:19] whedon commented on #2816
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02816/status.svg)](https://doi.org/10.21105/joss.02816)

**We need your help!**

Journal of Open Source Softwa

[2020-11-20 16:22] jiwoncpark commented on #2834
@pdebuyl Sure, happy to.

[2020-11-20 16:39] timtroendle commented on #2769
That should be fine as long as it doesn't disturb the second reviewer. @sahilseth, please let us know in case you prefer to see the original paper.

[2020-11-20 17:29] usethedata commented on #2483
@whedon accept

[2020-11-20 17:29] whedon commented on #2483
[code]

[2020-11-20 17:30] whedon commented on #2483
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1931

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1931, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-11-20 17:31] whedon commented on #2483
[code]

[2020-11-20 17:40] danielskatz commented on #2483
@whedon accept deposit=true

[2020-11-20 17:40] whedon commented on #2483
[code]

[2020-11-20 17:42] pdebuyl commented on #2834
Thank you @jiwoncpark !

[2020-11-20 17:42] pdebuyl commented on #2834
@whedon assign @shreyasbapat as reviewer

[2020-11-20 17:42] whedon commented on #2834
OK, @shreyasbapat is now a reviewer

[2020-11-20 17:42] whedon commented on #2483
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1329842605744664580) 👈 🐦🐦🐦

[2020-11-20 17:42] whedon commented on #2483
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1932
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.02483](https://doi.org/10.21105/joss.02483)
2. If everything looks g

[2020-11-20 17:42] pdebuyl commented on #2834
@whedon add @jiwoncpark as reviewer

[2020-11-20 17:42] whedon commented on #2834
OK, @jiwoncpark is now a reviewer

[2020-11-20 17:42] pdebuyl commented on #2834
@whedon start review

[2020-11-20 17:42] whedon opened #2854 "[REVIEW]: deeplenstronomy: A dataset simulation package for strong gravitational lensing"
**Submitting author:** @rmorgan10 (<a href="http://orcid.org/0000-0002-7016-5471">Robert Morgan</a>)
**Repository:** <a href="https://github.com/deepskies/deeplenstronomy" target ="_blank">https://github.com/deepskies/deeplenstronomy</a>
**Version:** v0.0.1.2
**Editor:** @pdebuyl
**Reviewer:** @shreyasbapat, @jiwoncpark
**Archive:** <a href="https://doi.org/10.5281/zenodo.4479712" target="_blank">

[2020-11-20 17:42] whedon commented on #2834
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2854.

[2020-11-20 17:43] #2834 closed

[2020-11-20 17:43] whedon commented on #2854
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @shreyasbapat, @jiwoncpark it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-11-20 17:44] pdebuyl commented on #2854
@shreyasbapat @jiwoncpark make sure to accept the invitation to the reviewers group and to have a look at the reviewer guidelines linked to at the top of this review page.

The review process will happen in this issue page, so questions to the author or to me can be added as comments here.

[2020-11-20 17:44] whedon commented on #2854
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02854/joss.02854/10.21105.joss.02854.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02854/joss.02854/10.21105.joss.02854.pdf) :page_facing_up: :point_left:

[2020-11-20 17:45] whedon commented on #2854
[code]

[2020-11-20 17:52] danielskatz commented on #2483
Congratulations to @samvanstroud (Samuel Van Stroud) and co-authors!!

And thanks to @arbennett for reviewing, and @usethedata for reviewing/editing!

[2020-11-20 17:52] #2483 closed

[2020-11-20 17:52] whedon commented on #2483
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02483/status.svg)](https://doi.org/10.21105/joss.02483)

**We need your help!**

Journal of Open Source Softwa

[2020-11-20 18:08] greggj2016 commented on #2743
Okay, I think it's almost ready.

1) I would like to know if you think that the new installation instructions and description of the recombination rate files in the README are satisfactory.
2) I will write a detailed document about all of the tests and a shell script that runs the other testing shell scripts later tonight. In the future, I will probably centralize this with github's continuous int

[2020-11-20 18:22] teuben commented on #2629
Although I had done exactly those steps, now it's producing non-zero json files. I see 48 json files, of which the first 16 have a good size. Until 2019-10-10-07:30   The ones from 2019-10-10-08:00.json to 2019-10-10-23:30.json are blanked.

[2020-11-20 21:28] greggj2016 commented on #2743
I also have another more specific question: Can I leave the efficiency testing of Triadsim out of the master unit testing script? The problem is that I don't want to assume anything about the number of cores that the user has, and Triadsim takes a really long time to run and a huge amount of RAM. Triadsim also has to be installed separately, so I would rather leave that particular component to the

[2020-11-20 21:31] raivivek commented on #2743
@greggj2016 Would be nice to know what are the time and RAM estimates for running that task. I think it's fine to skip that test by default and tell the user that you've skipped it because of so-and-so reasons. Then can force run it with a flag (ideally) if they want to.

[2020-11-20 21:45] greggj2016 commented on #2743
I'll mention that, though it is in the paper too.

[2020-11-20 22:17] mbobra commented on #2629
/ooo November 23 until November 30

[2020-11-20 22:26] teuben commented on #2629
If we can fix this last item, we're done with the review!

[2020-11-20 22:41] juliohm commented on #2829
@vlandau the example section you linked could be improved. Imagine that you are explaining this subject to someone that never heard of connectivity maps before. You need to plot the input images, display the entries of the resistance table, and how they can be interpreted, and finally display the result of the `run_omniscape` function, ideally without using a file, but instead the method with argu

[2020-11-20 23:18] vlandau commented on #2829
@juliohm thanks for the feedback -- I can add those details, and good idea to use the alternative method instead of the INI file -- then the only thing that needs to be downloaded is the land cover data. I'll post back here when I have made a second pass.

[2020-11-20 23:45] amanchokshi commented on #2629
Hi Peter, the last files which are empty are the result of our small sample data set. I'm appending a screenshot of all `ephem_chrono` json files produced when I use the full data set.

![Screen Shot 2020-11-21 at 10 44 21 am](https://user-images.githubusercontent.com/40157844/99860212-8643e100-2be6-11eb-831c-dd092918e0b0.png)

[2020-11-21 01:31] jgostick commented on #2767
Hi @Kokookster it's been about 3 weeks since you checked in here...how are the revisions coming along?

[2020-11-21 02:11] teuben commented on #2629
Ah, then this is the good news I was waiting for. Basically the examples
work, which was the last checkmark for acceptance.

On Fri, Nov 20, 2020, 18:45 Aman Chokshi <notifications@github.com> wrote:

[2020-11-21 02:30] sbenthall commented on #2730
@whedon add @sbenthall as reviewer

[2020-11-21 02:30] whedon commented on #2730
OK, @sbenthall is now a reviewer

[2020-11-21 02:30] sbenthall commented on #2730
@whedon start review

[2020-11-21 02:30] whedon opened #2855 "[REVIEW]: CoPro: a data-driven model for conflict risk projections"
**Submitting author:** @JannisHoch (<a href="http://orcid.org/0000-0003-3570-6436">Jannis Hoch</a>)
**Repository:** <a href="https://github.com/JannisHoch/copro" target ="_blank">https://github.com/JannisHoch/copro</a>
**Version:** v0.0.5
**Editor:** @sbenthall
**Reviewer:** @soodoku, @sbenthall
**Archive:** <a href="https://doi.org/10.5281/zenodo.4548904" target="_blank">10.5281/zenodo.4548904</a

[2020-11-21 02:30] whedon commented on #2730
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/2855.

[2020-11-21 02:30] #2730 closed

[2020-11-21 02:30] whedon commented on #2855
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @soodoku, @sbenthall it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2020-11-21 02:31] sbenthall commented on #2855
@soodoku Sorry for the delay on starting the review. Now the review has started, and you can see the checklist on this issue.

[2020-11-21 02:32] whedon commented on #2855
[code]

[2020-11-21 02:32] whedon commented on #2855
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02855/joss.02855/10.21105.joss.02855.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02855/joss.02855/10.21105.joss.02855.pdf) :page_facing_up: :point_left:

[2020-11-21 03:06] greggj2016 commented on #2743
Just another note: There was one line in my code:

model = LogisticRegression(C = 1E100, tol = 1E-100, max_iter = 1000000).fit(features, simulated_phenotypes)

failing to include solver = 'lbfgs' (even though that is the default value) caused this line to print a statement that, somehow, causes it to freeze when simulating phenotypes. Specifying that solver = 'lbfgs' in the function fixes this, bu

[2020-11-21 09:19] nmstreethran commented on #2695
Thanks @milicag, everything looks good to me. I have completed my checklist as well. Well done to you and your team!

[2020-11-21 13:26] henrykironde commented on #2800
Thanks folks. We have covered all the issues, I am happy to get more recommendations to consider.

[2020-11-21 14:28] shreyasbapat commented on #2854
There are a few DOIs missing !

[2020-11-21 14:31] mengaldo commented on #2822
Dear Eloisa, I have no particular suggestions for reviewers. Please, let me know if you need any additional information to proceed with the review. Best, Gianmarco

[2020-11-21 14:43] jsgalan commented on #2800
Hi all, is there any confirmation I might be missing?

I am unable to check the ticks for the revision (Just checked in two browser to discard that issue).

Thanks

[2020-11-21 15:45] jsgalan commented on #2800
Hi all,

No problem in the Conda installation

![Screen Shot 2020-11-21 at 10 37 20 AM](https://user-images.githubusercontent.com/971958/99881243-98be1a80-2be6-11eb-9136-1749a2031549.png)

But a problem was found in the R installation.

![Screen Shot 2020-11-21 at 10 43 18 AM](https://user-images.githubusercontent.com/971958/99881246-9b207480-2be6-11eb-88d6-31cb672c44df.png)

Did not found any des

[2020-11-21 16:16] jsgalan commented on #2800
Hi all, It seems I was not in a top level repository.

![Screen Shot 2020-11-21 at 11 12 33 AM](https://user-images.githubusercontent.com/971958/99881944-ed639480-2bea-11eb-9d84-f141cb731b9b.png)

All datasets are visible from Python

![Screen Shot 2020-11-21 at 11 13 19 AM](https://user-images.githubusercontent.com/971958/99881954-f81e2980-2bea-11eb-965b-6521681d2e06.png)

[2020-11-21 17:11] eviatarbach commented on #2841
Sorry, I am not able to review this submission.

[2020-11-21 18:21] jsgalan commented on #2800
Hi all,

I had problems installing the  spatial datasets

![Screen Shot 2020-11-21 at 1 19 29 PM](https://user-images.githubusercontent.com/971958/99884442-4ab41180-2bfc-11eb-908d-bb8b8df31ccb.png)

Even though I have everything set up in Postgres

![Screen Shot 2020-11-21 at 1 16 41 PM](https://user-images.githubusercontent.com/971958/99884450-56073d00-2bfc-11eb-84d5-6e213bc073cc.png)

Any ideas?

[2020-11-21 18:24] sara-02 commented on #2780
Hey, @onurvarol  any updated on the process w.r.t issues we posted?

[2020-11-21 18:28] milicag commented on #2695
Thank you @nmstreethran.

[2020-11-21 18:30] henrykironde commented on #2800
Thanks @jsgalan for testing this. Make sure you are creating the extensions in the same database that you want to install the data. The default is postgres. In case you, are using a different database, please  try to provide the database name in the function call.
Let me know if that works

[2020-11-21 18:55] rmorgan10 commented on #2854
The `pandas` DOI has been added, and the `lenstronomy` citation has been updated to the journal article (including the DOI) instead of ArXiv.

[2020-11-21 20:06] pitsianis commented on #2444
You will have my final (minor) comments here in the next 24 hours.

[2020-11-21 20:26] briandesilva commented on #2828
@kmanohar, do you want to take a stab at adding a brief description of the problem setting to [the paper](https://github.com/dynamicslab/pysensors/blob/master/docs/JOSS/paper.md)?

[2020-11-21 21:00] whedon opened #2856 "[PRE REVIEW]: Isoreader: An R package to read stable isotope data files for reproducible research"
**Submitting author:** @sebkopf (<a href="http://orcid.org/0000-0002-2044-0201">Sebastian Kopf</a>)
**Repository:** <a href="https://github.com/isoverse/isoreader" target ="_blank">https://github.com/isoverse/isoreader</a>
**Version:** v1.2.7
**Editor:** @mikldk
**Reviewers:** @kdorheim
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of th

[2020-11-21 21:01] whedon commented on #2856
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-11-21 21:01] whedon commented on #2856
[code]

[2020-11-21 21:01] whedon commented on #2856
[code]

[2020-11-21 21:01] whedon commented on #2856
Failed to discover a valid open source license.

[2020-11-21 21:02] whedon commented on #2856
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02856/joss.02856/10.21105.joss.02856.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02856/joss.02856/10.21105.joss.02856.pdf) :page_facing_up: :point_left: