[2021-06-14 12:43] whedon commented on #3370
PDF failed to compile for issue #3370 with the following error:
[code]

[2021-06-14 12:43] danielskatz commented on #3369
In addition, you could work on the possibly missing DOI that whedon suggests, but note that this may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references` to check again, and the command `@whedon generate pdf` when the references are right to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-06-14 12:46] ml-evs commented on #3370
@whedon generate pdf from branch joss

[2021-06-14 12:46] whedon commented on #3370
[code]

[2021-06-14 12:46] danielskatz commented on #3183
@JeanBilheux  - have you updated the paper?  When you have done so, please use the command `@whedon generate pdf` to make a new PDF. Whedon commands need to be the first entry in a new comment.

[2021-06-14 12:46] whedon commented on #3370
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03370/joss.03370/10.21105.joss.03370.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03370/joss.03370/10.21105.joss.03370.pdf) :page_facing_up: :point_left:

[2021-06-14 12:49] danielskatz commented on #3369
👋 @will-rowe - would you be able to edit this submission?

[2021-06-14 12:49] bidochon commented on #3183
So sorry Daniel. I was waiting on some feedback on your side and thanks to you, I just realized the ball was in my side. I'm gonna work on this first thing today. thanks

[2021-06-14 12:49] danielskatz commented on #3369
@whedon invite @will-rowe as editor

[2021-06-14 12:49] whedon commented on #3369
@will-rowe has been invited to edit this submission.

[2021-06-14 12:50] platipodium commented on #3351
And another one on warnings in default installation https://github.com/virgesmith/neworder/issues/62.  I guess I should learn how to link to the upstream repository....

[2021-06-14 12:51] danielskatz commented on #3368
@derrynknife - thanks for your submission.

Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon chec

[2021-06-14 12:51] faroit commented on #3354
👋  @magdalenafuentes @expectopatronum @lutzhamel - would any of you be willing to review this submission for JOSS? The JOSS review process takes place on GitHub and focuses on the software and a short paper. We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The software under review is [Sync

[2021-06-14 12:54] faroit commented on #3218
@whedon check references

[2021-06-14 12:54] faroit commented on #3218
@whedon check repository

[2021-06-14 12:55] whedon commented on #3218
[code]

[2021-06-14 12:55] danielskatz commented on #3368
👋  @dfm - is this a submission that you could edit?

[2021-06-14 12:55] danielskatz commented on #3368
@whedon invite @dfm as editor

[2021-06-14 12:55] whedon commented on #3368
@dfm has been invited to edit this submission.

[2021-06-14 12:55] whedon commented on #3218
[code]

[2021-06-14 12:56] jarvist commented on #3060
OK! All looking good.
Two minor issues:-
 * the 'community guidelines' are OK, but a little unclear. How should people get in touch? via a Github issue? Personal email? etc.
 * the aforementioned dependency on Plots.jl; this would be better refactored to use Plots Recipes

But I don't think either of these things should block publication.

[2021-06-14 12:57] danielskatz commented on #3351
@platipodium - see the answer in https://github.com/openjournals/joss-reviews/issues/3351#issuecomment-858564082

[2021-06-14 12:57] ayush-1506 commented on #3208
Adding a few more here: @{morganericsson , mirca, eviatarbach, dpsanders}. Kindly let me know if you'd like more suggestions.

[2021-06-14 12:57] faroit commented on #3218
@Kevin-Mattheus-Moerman Is there anything left in the comments you made in https://github.com/openjournals/joss-reviews/issues/3218#issuecomment-828230199 that should be addressed by @BreezeWhite before we proceed with the review process?

[2021-06-14 12:59] danielskatz commented on #3367
@whedon check references from branch joos

[2021-06-14 12:59] whedon commented on #3367
[code]

[2021-06-14 12:59] whedon commented on #3367
[code]

[2021-06-14 12:59] danielskatz commented on #3367
@whedon generate pdf from branch joos

[2021-06-14 12:59] whedon commented on #3367
[code]

[2021-06-14 12:59] Kevin-Mattheus-Moerman commented on #3218
@whedon generate pdf

[2021-06-14 12:59] melissawm commented on #3208
Hello, @morganericsson, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-14 12:59] whedon commented on #3367
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03367/joss.03367/10.21105.joss.03367.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03367/joss.03367/10.21105.joss.03367.pdf) :page_facing_up: :point_left:

[2021-06-14 12:59] whedon commented on #3218
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03218/joss.03218/10.21105.joss.03218.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03218/joss.03218/10.21105.joss.03218.pdf) :page_facing_up: :point_left:

[2021-06-14 13:00] platipodium commented on #3351
And another one on failed import in n-body example: https://github.com/virgesmith/neworder/issues/63

[2021-06-14 13:01] ml-evs commented on #3370
Hello! Here are some potential reviewers with relevant backgrounds (~materials/crystallography/APIs) that I can see in the list:

- bocklund
- hungpham2017
- mturiansky
- marshallmcdonnell
- janash
- rosecers
- jamesrhester

[2021-06-14 13:01] danielskatz commented on #3367
👋 @heath-henninger - thanks for your submission.

Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-14 13:01] platipodium commented on #3351
I guess my attempt to mention failed :=( See  https://github.com/virgesmith/neworder/issues/63#issuecomment-860665099

[2021-06-14 13:02] danielskatz commented on #3366
@whedon check references from branch paper

[2021-06-14 13:02] whedon commented on #3366
[code]

[2021-06-14 13:02] whedon commented on #3366
[code]

[2021-06-14 13:05] danielskatz commented on #3366
👋 @VivianePons - would you be able to edit this submission?

[2021-06-14 13:05] danielskatz commented on #3366
@whedon invite @VivianePons as editor

[2021-06-14 13:05] whedon commented on #3366
@VivianePons has been invited to edit this submission.

[2021-06-14 13:07] danielskatz commented on #3365
@whedon check references from branch paper

[2021-06-14 13:07] whedon commented on #3365
[code]

[2021-06-14 13:07] whedon commented on #3365
[code]

[2021-06-14 13:07] whedon commented on #3365
[code]

[2021-06-14 13:08] whedon commented on #3365
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03365/joss.03365/10.21105.joss.03365.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03365/joss.03365/10.21105.joss.03365.pdf) :page_facing_up: :point_left:

[2021-06-14 13:08] McGregor14 commented on #3270
@oliviaguest just checking, would you like this added to the readme or the paper.md document?

[2021-06-14 13:09] danielskatz commented on #3365
@tgoelles - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

In addition, you could work on the possibly missing DOI that whedon suggests, but note that it may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check refer

[2021-06-14 13:12] danielskatz commented on #3364
@whedon check references from branch Paper

[2021-06-14 13:12] whedon commented on #3364
[code]

[2021-06-14 13:12] whedon commented on #3364
[code]

[2021-06-14 13:12] danielskatz commented on #3364
@whedon generate pdf from branch Paper

[2021-06-14 13:12] whedon commented on #3364
[code]

[2021-06-14 13:13] bshoshany commented on #3366
I went over the list of people who have already agreed to review for JOSS. The following potential reviewers listed Mathematica as one of their programming languages and wrote astronomy as one of their domains (so they should have knowledge of general relativity):
1. danehkar
2. kostunin
3. bradkav
4. eschnett (note: I have worked with him in the past, so that may be a conflict of interest)

[2021-06-14 13:13] vavrines commented on #3060
Thanks for the input! I'm gonna make the point clearer.
The RecipesBase idea sounds interesting. I'm not sure whether it's the best fit here, since the `plot_line` and `plot_contour` functions need to use a plot function anyway. I'll look into it.

[2021-06-14 13:13] whedon commented on #3364
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03364/joss.03364/10.21105.joss.03364.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03364/joss.03364/10.21105.joss.03364.pdf) :page_facing_up: :point_left:

[2021-06-14 13:14] Kevin-Mattheus-Moerman commented on #3218
@faroit thanks for letting me check this before moving on. Yes I ticked those boxes.

I have one more minor comment/recommendation below.

I recommend that the following sentence is rephrased:
`We believe the release of Omnizart can accelerate the advance of AMT research and contribute to the MIR community.`.

I have 2 issues with this sentence.

1. I would avoid statements like "We" or "I" in the

[2021-06-14 13:16] danielskatz commented on #3364
👋 @vissarion - I wonder if you would be able to edit this submission

[2021-06-14 13:16] danielskatz commented on #3364
@whedon invite @vissarion as editor

[2021-06-14 13:16] whedon commented on #3364
@vissarion has been invited to edit this submission.

[2021-06-14 13:17] danielskatz commented on #3370
@whedon check references from branch joss

[2021-06-14 13:17] whedon commented on #3370
[code]

[2021-06-14 13:17] whedon commented on #3370
[code]

[2021-06-14 13:18] danielskatz commented on #3370
👋 @jgostick - would you be willing to edit this submission

[2021-06-14 13:18] danielskatz commented on #3370
@whedon invite @jgostick as editor

[2021-06-14 13:18] whedon commented on #3370
@jgostick has been invited to edit this submission.

[2021-06-14 13:21] arfon commented on #3354
Got it. Thanks for the explanation @meinardmueller.

[2021-06-14 13:22] vissarion commented on #3364
@whedon assign me as editor

[2021-06-14 13:22] whedon commented on #3364
OK, the editor is @vissarion

[2021-06-14 13:27] danielskatz commented on #3275
@whedon invite @drvinceknight as editor

resending, as it doesn't appear that whedon succeeded in this email

[2021-06-14 13:27] whedon commented on #3275
@drvinceknight has been invited to edit this submission.

[2021-06-14 13:32] morganericsson commented on #3208
@melissawm Sure, I can do that. I think I might need two weekends (so before July, but not by much) to dig into it, just so you know.

[2021-06-14 14:00] shyamd commented on #3318
@alexmalins took care of my only concern promptly in https://github.com/alexmalins/radioactivedecay/issues/31 and I think my review is finished.

[2021-06-14 14:06] melissawm commented on #3208
If @ayush-1506 agrees that sounds fine!

[2021-06-14 14:09] JeanBilheux commented on #3183
@whedon generate pdf

[2021-06-14 14:10] whedon commented on #3183
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03183/joss.03183/10.21105.joss.03183.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03183/joss.03183/10.21105.joss.03183.pdf) :page_facing_up: :point_left:

[2021-06-14 14:11] pdebuyl commented on #3261
@ashwinvis @rabernat would you review the article "flux-data-qaqc: A Python Package for Energy Balance Closure and Post-Processing of Eddy Flux Data" for the Journal of Open Source Software ?

[2021-06-14 14:21] jorge-lip commented on #3295
Thanks for the feedback we are improving the description of the developments performed since the last publication, we hope provide a more elaborated description tomorrow.

[2021-06-14 14:32] WesIngwersen commented on #3304
@whedon check references

[2021-06-14 14:32] whedon commented on #3304
[code]

[2021-06-14 14:34] WesIngwersen commented on #3304
@danielskatz  All DOIs are now active so reference issues are resolved.  FYI co-author @bl-young

[2021-06-14 14:35] heath-henninger commented on #3367
@whedon commands

From: whedon ***@***.***>
Sent: Monday, June 14, 2021 6:27 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Heath Byron Henninger ***@***.***>; Mention ***@***.***>
Subject: [openjournals/joss-reviews] [PRE REVIEW]: Kinematics-vis: A Visualization Tool for the Mathematics of Human Motion (#3367)

Submitting author: @heath-henninger<https://github.com/heath-henninger> (Heath Henn

[2021-06-14 14:35] whedon commented on #3367
Here are some things you can ask me to do:

[code]

[2021-06-14 14:37] heath-henninger commented on #3367
Possible reviewers for Javascript motion analysis/biomechanics/robotics applications.

Great fit of language and domains:
mosteo
adi3
jizecn
destogl
CameronDevine
akuederle
nnadeau

OK fit of language and domains:
dhrubajyoti98
thelinuxmaniac
dglmoore
sixpearls
ixjlyons
malmaud
Jgoldfar

From: whedon ***@***.***>
Sent: Monday, June 14, 2021 6:27 AM
To: openjournals/joss-reviews ***@***.***>
Cc: He

[2021-06-14 14:38] zbeekman commented on #3311
good, got a chance to read through the paper this weekend, verifying functional claims, etc. now

[2021-06-14 14:54] kthyng commented on #3243
@pboesu Thanks for letting me know!

[2021-06-14 14:54] kthyng commented on #3243
Hi @ibarraespinosa!  Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typically i

[2021-06-14 15:04] kthyng commented on #3221
@cheginit Thanks for your review! Rather than assuming, can I verify the meaning of crossing out the performance checkbox above? What does that mean in your review?

[2021-06-14 15:04] kthyng commented on #3221
@JannisHoch What is your expected timeline for working on your review again?

[2021-06-14 15:07] cheginit commented on #3221
@kthyng I meant that there was no claim to be checked. In the parenthesis, it says to check it off, I thought that's what it meant. If you prefer, I can just check the item.

[2021-06-14 15:12] JannisHoch commented on #3221
@kthyng I hope to finish it tonight

[2021-06-14 15:14] JoelForamitti commented on #3065
@sbenthall thank you for your kind words!
here is the new release:

Version: v0.1.1
DOI: 10.5281/zenodo.4946508
Link: https://doi.org/10.5281/zenodo.4946508

[2021-06-14 15:17] HeshamAlsaadi commented on #2946
Definitely yes

[2021-06-14 15:22] ibarraespinosa commented on #3243
Hello @kthyng and thanks for the invitation. Unfortunately, I will only have time in August.

[2021-06-14 15:32] kthyng commented on #3221
Ok that is what I figured, but yes please just check it off instead if you please. Thanks.

[2021-06-14 15:33] kthyng commented on #3243
Thanks @ibarraespinosa!

[2021-06-14 15:33] kthyng commented on #3243
Hi @yongzesong —  Are you interested in reviewing this submission for JOSS, the Journal of Open Source Software? This is an open review which takes place on github with issues. You can learn more about the process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html. I would hope you could start the review in the next few weeks with the intention of being through the typically iter

[2021-06-14 15:47] leouieda commented on #2766
@znicholls alright, I'm very happy with the state of the paper and the reviewers are satisfied as well 🎉

There just a few of things that you'll need to dd:

1. Double check authors and affiliations (including ORCIDs)
2. Make a release of the software with the latest changes from the review. This is the version that will be used in the JOSS paper.  **Post the version number here** once it's availa

[2021-06-14 15:48] whedon commented on #3322
:wave: @cmaimone, please update us on how your review is going (this is an automated reminder).

[2021-06-14 15:48] whedon commented on #3322
:wave: @jungtaekkim, please update us on how your review is going (this is an automated reminder).

[2021-06-14 15:58] heath-henninger commented on #3367
Possible reviewers for Javascript motion analysis/biomechanics/robotics applications.

Great fit of language and domains:
mosteo
adi3
jizecn
destogl
CameronDevine
akuederle
nnadeau

OK fit of language and domains:
dhrubajyoti98
thelinuxmaniac
dglmoore
sixpearls
ixjlyons
malmaud
Jgoldfar

[2021-06-14 16:02] oliviaguest commented on #3270
I think the readme makes more sense, however... I would suggest you discuss this with @EleonoraVagnoni.

[2021-06-14 16:10] McGregor14 commented on #3270
Hi @EleonoraVagnoni, Nathan is going to add some instructions to the readme tomorrow. Let us know if there is anything specific you would like him to include or expand upon. I seem to remember the JOSS paper is supposed to stay around a couple of pages at most, so we will keep the instructions to the readme for now but we are happy to move them across if you think it is appropriate.

[2021-06-14 16:14] EleonoraVagnoni commented on #3270
Hi @McGregor14 there isn't anything specific I would like you to include, just some very basic instructions. Sorry about all the trouble. I have tried to install it few times and I was unable to.

[2021-06-14 16:25] ziotom78 commented on #3245
Hi @sbenthall, I would love to do it!

[2021-06-14 17:53] Kevin-Mattheus-Moerman commented on #3350
@whedon check references

[2021-06-14 17:54] whedon commented on #3350
[code]

[2021-06-14 18:05] diehlpk commented on #3020
`3.) I understand that the equations are provided in the paper but the online documentation should contain some basic equations, if not all, so that the reader can easily relate to what is being solved without needing to refer to the papers all the time.`

@chennachaos I added the basic equations showed in the JOSS paper to the documentation and referenced them in the Readme.md and the index.html

[2021-06-14 18:12] diehlpk commented on #3020
We can not easily reuse the images from the papers, since the copyright was transferred to the publisher. So we would need to be careful here. In addition, the documentation is generated using doxygen and the support of equations is limited there.

We have two examples where we showed that we recover properties from linear elasticity:

* https://nonlocalmodels.github.io/examples/qs-1d-properties.h

[2021-06-14 18:20] joseph-palmer commented on #3290
Apologies for the delay in getting back to you all, it has been a hectic couple of weeks! I have written individual responses to the points you all raised separately below.  Once again I am very greatful for your thoughtful comments and advice with getting this package up to standard.

[2021-06-14 18:21] joseph-palmer commented on #3290
@federicomarini

We have updated the reference in the manuscript.

We have changed this in the manuscript

What we mean by this is if a function used from another package (e.g. dplyr, a package on which this package depends on) changes then the function may not work the same way. As far we are aware this is standard terminology.

Certainly, I have updated the manuscript to include this.

This is c

[2021-06-14 18:21] joseph-palmer commented on #3290
@mponce0

I understand your concerns, however, versioning for most purposes just needs to be a way of marking a difference between releases. For our project, as new datasets get added we then issue a new release with these datasets (usually as a batch) to CRAN, so there must be some version difference. Having versioning take account of the data included suits our approach.

At the moment we do not

[2021-06-14 18:21] joseph-palmer commented on #3290
@csoneson

Certainly, we have updated these to ensure it meets the guidance.

Sure, individual members of the working group made very specific contributions hence their inclusion in the description and git commit histories. The package was discussed in the working group meetings at great length and whilst no code was actually written in these meetings and by some members, we wanted to acknowledge

[2021-06-14 19:16] amoeba commented on #3246
Hi @majensen, I'm sorry but I can't review this at the moment.

[2021-06-14 19:22] schruste commented on #3237
Hi @meg-simula . I'd like to kindly ask for an update. Is there anything that we should do?

[2021-06-14 20:10] isidentical commented on #3296
Hello @lutzhamel!

Yes, that was intentional. Even though this is very trivial to do so, and possible (any package hosted on some sort remote git repo can be used, through https://github.com/reizio/reiz.io/blob/cff3cc6eaad532ac1a956c1f7c7a58d97ea00e4b/reiz/sampling/data.py#L8-L19, which corresponds to the `dataset.json` file entries) I'd avoided this since i wanted to keep Reiz as a general purpos

[2021-06-14 20:11] diehlpk commented on #3060
@whedon check references

[2021-06-14 20:12] whedon commented on #3060
[code]

[2021-06-14 20:13] daniellivingston commented on #3307
Hi @diehlpk and @jacobmerson , this looks applicable to work that I currently do. I'd be happy to review.

[2021-06-14 20:14] diehlpk commented on #3060
@vavrines Please fix the invalid DOI reported above.

[2021-06-14 20:14] diehlpk commented on #3060
@whedon generate paper

[2021-06-14 20:14] whedon commented on #3060
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-14 20:15] diehlpk commented on #3060
@whedon generate pdf

[2021-06-14 20:15] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-06-14 20:16] diehlpk commented on #3060
@rdeits and @jarvist thanks for reviewing for JOSS!

[2021-06-14 20:21] thelfer commented on #3307
Hi @diehlpk,
I had a quick look a the paper. I must admit that the subject is  out of my depth and I would do a poor reviewer for this.
Best,
Thomas

[2021-06-14 20:24] diehlpk commented on #3060
@vavrines Please address my editorial issues below and we are good to prepare the final paper.

1. Karlsruhe Institute of Technology -> Please add the city and country to the affiliation
2.  `For example, it is cumbersome to implement the phase-23field evolution from the Boltzmann equation (Xiao et al., 2017,2020) in OpenFOAM or24integrate it with scientific machine learning (SciML) package` Pleas

[2021-06-14 20:26] diehlpk commented on #3307
@whedon assign  @daniellivingston as reviewer

[2021-06-14 20:26] whedon commented on #3307
OK,  @daniellivingston is now a reviewer

[2021-06-14 20:53] sbenthall commented on #3245
@whedon assign @ziotom78 as reviewer

[2021-06-14 20:53] whedon commented on #3245
OK, @ziotom78 is now a reviewer

[2021-06-14 20:53] sbenthall commented on #3245
Thank you @ziotom78 !

[2021-06-14 21:18] gvegayon commented on #3369
👋🏼 I think anyone of the following would be good reviewers: jonjoncardoso, vc1492a, akbaritabar, and justinchuntingho

[2021-06-14 21:22] jedbrown commented on #2936
Sorry about the big lag on my end. I should be able to be responsive going forward.

@ketch Would you be available to review this submission?

@rouson I'd love if you'd be up for reviewing as well; you've already done a bit of work here. I've sent other invites, so please don't feel obligated.

[2021-06-14 22:05] yuhc commented on #3296
Hi @isidentical, I think @lutzhamel made a really good point. When you advertise your software, you need to document its features and probably also limitations well. Any undocumented feature is assumed not to exist, while anything implied from the context but undocumented in the limitations is supposed to be supported.

From the article proof and repo, we expect to see the instructions and example

[2021-06-14 22:38] gvegayon commented on #3369
@danielskatz Just pushed a new version with the statement of need and the fixed DOI. Thanks!

[2021-06-14 22:43] hknd23 commented on #3322
Dear @jungtaekkim,

Thank you very much for your feedback on our paper, package, and GitHub repository.  We have now addressed all the points that you raised, and you can find below a detailed response to each of your comments/suggestions.

1.  I think .gitignore file should contain the rules that exclude Python-related files such as __pycache__ directory and *.pyc. Please refer to the .gitignore

[2021-06-14 22:53] pibion commented on #2484
@whedon set 10.5281/zenodo.4926769 as archive

[2021-06-14 22:53] whedon commented on #2484
OK. <a href="https://doi.org/10.5281/zenodo.4926769" target="_blank">10.5281/zenodo.4926769</a> is the archive.

[2021-06-14 23:01] danielskatz commented on #3369
Thanks - I'll run the commands I mentioned now, though you could also do this if any further changes are needed

[2021-06-14 23:01] danielskatz commented on #3369
@whedon check references

[2021-06-14 23:02] whedon commented on #3369
[code]

[2021-06-14 23:02] danielskatz commented on #3369
@whedon generate pdf

[2021-06-14 23:02] whedon commented on #3369
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03369/joss.03369/10.21105.joss.03369.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03369/joss.03369/10.21105.joss.03369.pdf) :page_facing_up: :point_left:

[2021-06-14 23:06] pibion commented on #2484
@whedon set v0.1.1 as version

[2021-06-14 23:06] whedon commented on #2484
OK. v0.1.1 is the version.

[2021-06-14 23:08] pibion commented on #2484
@whedon recommend-accept

[2021-06-14 23:08] whedon commented on #2484
[code]

[2021-06-14 23:09] whedon commented on #2484
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2388

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2388, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-14 23:09] whedon commented on #2484
[code]

[2021-06-14 23:16] pibion commented on #2484
@whedon check references

[2021-06-14 23:17] whedon commented on #2484
[code]

[2021-06-14 23:30] pibion commented on #2484
@dghoshal-lbl I'm not sure why the DOIs are showing up as missing, apologies, I thought I'd already checked the references.

[2021-06-14 23:30] gvegayon commented on #3369
@whedon generate pdf

[2021-06-14 23:30] whedon commented on #3369
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03369/joss.03369/10.21105.joss.03369.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03369/joss.03369/10.21105.joss.03369.pdf) :page_facing_up: :point_left:

[2021-06-14 23:39] danielskatz commented on #2484
@pibion - please let me (@openjournals/joss-eics) know when this is really ready to publish - I'll then do a final check

[2021-06-14 23:39] pibion commented on #2484
@dghoshal-lbl okay I see now - you don't have any DOIs in your bib file.  Could you check if any of the DOIs listed are valid for the papers and add them if so?  You'll need to update Zenodo after that.

Apologies for not catching this before!

[2021-06-14 23:39] pibion commented on #2484
@danielskatz thanks, will do!

[2021-06-15 00:44] dhimmel commented on #3348
# Daniel Himmelstein Review

Draft: will keep updating this comment.

Here's a list of issues related to my review:

- https://github.com/sagepublishing/rejected_article_tracker_pkg/issues/4

[2021-06-15 00:55] goldmanm commented on #3224
I made a pull request improving issues with document generation, allowing the test case to run on my computer, and more intuitive messaging when finishing a run. https://github.com/DrDaveShaw/INCHEM-Py/pull/8

I will test the data processing in the next week (feel free to bug me if it isn't done).

[2021-06-15 01:30] fhorrobin commented on #3307
Hi @diehlpk,
I had a look through the paper and code and the subject area is not well aligned with my typical work. I do not believe I would be a good reviewer for this.
Best,
Fergus

[2021-06-15 01:42] sneakers-the-rat commented on #3284
whup whup @DrMarc and @OleBialas this is a big pass from me!

I left some last (optional) comments in the final issues that might be helpful:
- https://github.com/DrMarc/slab/issues/41
- https://github.com/DrMarc/slab/issues/42
- https://github.com/DrMarc/slab/issues/43
- https://github.com/DrMarc/slab/issues/44
- https://github.com/DrMarc/slab/issues/45

really excellent work! love this package,

[2021-06-15 01:44] mjsottile commented on #3296
Hi all - I’ve been a bit buried in day job activities so I’ve been watching the discussion from the sidelines.  Thank you for the detailed discussion.

Regarding the review itself:

- Remember that the criteria for a JOSS paper are slightly different than would be applied to a full journal or conference paper.  JOSS papers are typically quite short and do not have space for extensive evaluations o

[2021-06-15 01:48] znicholls commented on #2766
All done :)

- [x] Double check authors and affiliations (including ORCIDs) (https://github.com/openscm/openscm-twolayermodel/pull/36)
- [x] Make a release of the software with the latest changes from the review. 'v0.2.3'
- [x] Archive the release on Zenodo/figshare/etc and post the DOI here. https://doi.org/10.5281/zenodo.4950772
- [x] Make sure that the title and author list (including ORCIDs) i

[2021-06-15 01:48] znicholls commented on #2766
@whedon generate pdf

[2021-06-15 01:50] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2021-06-15 02:21] dghoshal-lbl commented on #2484
@pibion I have added all the DOIs that are available for the referenced articles. Let me know if the compilation is successful. I will update the Zenodo archive if everything looks okay. Thanks!

[2021-06-15 05:31] gaurav commented on #3206
That's fine by us! So sorry for the delay in replying -- I've been out on vacation. I'm back now, so I should be able to reply sooner in the future. Thanks so much, everybody!

[2021-06-15 05:43] JannisHoch commented on #3221
@kthyng review is successfully wrapped up.

[2021-06-15 06:51] yuhc commented on #3296
It's fine to me to accept Reiz with some minor changes, mainly in its article proof and documentations:

* Rewrite the documentation with what Reiz is able to do **now**, something like: Reiz is an AST-based code search engine which runs ReizQL to search AST patterns in the prebuilt database of Python codes. Feel free to decorate the sentence.
* State the use cases of Reiz as @mjsottile suggested.

[2021-06-15 06:55] DrMarc commented on #3284
Hi @sneakers-the-rat,
Many thanks for the details comments and bug-hunting! This is very valuable. We will correct and expand the docs, as you suggested, and take care of the other issues. Some of these issues are intuitive to us, but may not be to others. The multi-channel filter is an example (#43). We work with multi-channel sound (48-channel speaker array in the lab), and our typical use case

[2021-06-15 07:48] AndreasPhilippi commented on #3280
@kthyng @danielskatz - The goal of ddop is to allow previously developed data-driven approaches (from the field of operations management) to be efficiently applied on different datasets.
Let me give you an example: In recent years, many algorithms have been proposed to solve the newsvendor problem based on historical data (including past demand observations as well as additional features such as w

[2021-06-15 07:49] tgoelles commented on #3365
@whedon check references

[2021-06-15 07:50] drvinceknight commented on #3266
Not quite turned off but overflowing 😆 Apologies for my delay on this, I'll happily take it on.

[2021-06-15 07:51] drvinceknight commented on #3266
@whedon assign me as editor

[2021-06-15 07:51] whedon commented on #3266
OK, the editor is @drvinceknight

[2021-06-15 07:51] drvinceknight commented on #3275
Apologies for my delay on this and thank you @danielskatz for the nudge.

[2021-06-15 07:51] drvinceknight commented on #3275
@whedon assign me as editor

[2021-06-15 07:51] whedon commented on #3275
OK, the editor is @drvinceknight

[2021-06-15 07:54] drvinceknight commented on #2733
@trstewart212  @fgeertman we seem to not be making progress here. Is there anything that can be done to help with reviewing?

If not @koenderks we might need to think about finding more reviewers.

[2021-06-15 07:55] VivianePons commented on #3366
@whedon assign @VivianePons as editor

[2021-06-15 07:55] whedon commented on #3366
OK, the editor is @VivianePons

[2021-06-15 07:57] timtroendle commented on #3203
@igarizio, @Eugenio2192, thanks for pointing out the potential copyright issue with one of the data sets. From a JOSS perspective, it's our task to make sure that you are providing your tool with an open license. Checking whether you are legally allowed to do so is beyond our scope. As @igarizio already pointed out, we cannot give any legal advise.

To keep you up to date with the status of the re

[2021-06-15 07:59] VivianePons commented on #2946
@whedon generate pdf from branch joss

[2021-06-15 07:59] whedon commented on #2946
[code]

[2021-06-15 07:59] whedon commented on #2946
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02946/joss.02946/10.21105.joss.02946.pdf) :page_facing_up: :point_left:

[2021-06-15 08:02] VivianePons commented on #2946
@whedon check references from branch joss

[2021-06-15 08:02] whedon commented on #2946
[code]

[2021-06-15 08:02] whedon commented on #2946
[code]

[2021-06-15 08:05] VivianePons commented on #2946
@whedon remove @gcdeshpande as reviewer

[2021-06-15 08:05] whedon commented on #2946
OK, @gcdeshpande is no longer a reviewer

[2021-06-15 08:07] whedon commented on #3323
:wave: @maximtrp, please update us on how your review is going (this is an automated reminder).

[2021-06-15 08:07] whedon commented on #3323
:wave: @arunmano121, please update us on how your review is going (this is an automated reminder).

[2021-06-15 08:08] drvinceknight commented on #3266
@jbytecode thanks again for the submission and my apologies for the delay, if you have not already done so, could you  take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers.

[2021-06-15 08:09] drvinceknight commented on #3275
@karink520 thanks again for the submission and my apologies for the delay, if you have not already done so, could you  take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers.

[2021-06-15 08:10] leonardovida commented on #3338
@whedon check references

[2021-06-15 08:10] whedon commented on #3338
[code]

[2021-06-15 08:13] VivianePons commented on #2946
Hi @dansarie thank you for your patience, we can move toward acceptance!

Can you make a new tagged release of the software (if needed) an archive it (on Zenodo, figshare, or other)? Please be careful to use the same metadata than the paper (title and authors). Send me the doi when you are done!

[2021-06-15 08:35] leonardovida commented on #3338
@whedon check references

[2021-06-15 08:35] whedon commented on #3338
[code]

[2021-06-15 08:57] dansarie commented on #2946
@VivianePons done!

The tagged release (v2.0.0) is available at [https://github.com/dansarie/sboxgates/releases/tag/v2.0.0](https://github.com/dansarie/sboxgates/releases/tag/v2.0.0).
Version 2.0.0 has been archived at Zenodo with [doi:10.5281/zenodo.4954685](https://doi.org/10.5281/zenodo.4954685). (The latest version is always available through [doi:10.5281/zenodo.891020](https://doi.org/10.5281

[2021-06-15 09:09] Eugenio2192 commented on #3203
@timtroendle @igarizio
It was decided to prune the CEPCI file from the repo, an instruction for an user to get their own CEPCI values was included. This is to avoid any potential property issues.

[2021-06-15 09:39] ad48 commented on #3348
Thank you for your comments. My co-author and I will discuss these and make amendments.

[2021-06-15 09:44] leouieda commented on #2766
@whedon set 10.5281/zenodo.4950772 as archive

[2021-06-15 09:44] whedon commented on #2766
OK. <a href="https://doi.org/10.5281/zenodo.4950772" target="_blank">10.5281/zenodo.4950772</a> is the archive.

[2021-06-15 09:44] leouieda commented on #2766
@whedon set v0.2.3 as version

[2021-06-15 09:44] whedon commented on #2766
OK. v0.2.3 is the version.

[2021-06-15 09:45] leouieda commented on #2766
@whedon check references

[2021-06-15 09:45] whedon commented on #2766
[code]

[2021-06-15 09:45] leouieda commented on #2766
@whedon generate pdf

[2021-06-15 09:45] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2021-06-15 09:48] leouieda commented on #2766
@whedon recommend-accept

[2021-06-15 09:48] whedon commented on #2766
[code]

[2021-06-15 09:48] whedon commented on #2766
[code]

[2021-06-15 09:48] whedon commented on #2766
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2389

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2389, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-15 09:51] leouieda commented on #2766
@znicholls I'm happy to recommend acceptance of this paper for publication in JOSS!  🎉 🎊

Thank you to our reviewers @sadielbartholomew and @ashiklom for your thorough and helpful comments! I'm particularly grateful for all of your patience and understanding with the big delay in this review.

[2021-06-15 10:08] znicholls commented on #2766
Awesome thanks @leouieda @sadielbartholomew and @ashiklom ! Much appreciated

[2021-06-15 10:30] whedon commented on #3324
:wave: @ejhigson, please update us on how your review is going (this is an automated reminder).

[2021-06-15 10:30] whedon commented on #3324
:wave: @jakryd, please update us on how your review is going (this is an automated reminder).

[2021-06-15 10:50] leonardovida commented on #3338
@whedon check references

[2021-06-15 10:50] whedon commented on #3338
[code]

[2021-06-15 10:51] leonardovida commented on #3338
@whedon generate pdf

[2021-06-15 10:52] whedon commented on #3338
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03338/joss.03338/10.21105.joss.03338.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03338/joss.03338/10.21105.joss.03338.pdf) :page_facing_up: :point_left:

[2021-06-15 11:25] ayush-1506 commented on #3208
@morganericsson Sure, no worries. Would be great if we could complete the review process by the end of June. Let me know if you'd like any inputs from my side.
Thanks for agreeing to review this.

[2021-06-15 11:36] nkallima commented on #3143
@danielskatz

A list of potential reviewers:
- rigtorp
- pramalhe
- orcaman

[2021-06-15 12:18] danielskatz commented on #3280
Thanks - adding some of these specific examples will be helpful

[2021-06-15 12:19] hertzsprung commented on #3307
@diehlpk thank you for the invitation but I'm unfamiliar with the subject matter in this paper, and I can't think of other potential reviewers.

[2021-06-15 12:19] danielskatz commented on #3143
👋 @rigtorp, @pramalhe, @orcaman - Would one of you be willing to review this submission for JOSS?

As you can see, one of our assigned reviewers was unable to review as he didn't have access to a Linux platform for this, so we now again need to find a second reviewer.

[2021-06-15 12:23] corentin-dev commented on #3307
Dear @diehlpk,
Sorry, but I won’t be able to review this paper.
Best regards

[2021-06-15 12:35] danielskatz commented on #2766
Thanks @znicholls - this basically looks good to me to finalize, though I've suggested some small changes in the paper in https://github.com/openscm/openscm-twolayermodel/pull/37  Please merge this, or let me know what you disagree with, then we can proceed to publishing.

[2021-06-15 12:37] danielskatz commented on #3305
👋 @leouieda - Would you be able to edit this submission?

[2021-06-15 12:37] danielskatz commented on #3305
@whedon invite @leouieda as editor

[2021-06-15 12:37] whedon commented on #3305
@leouieda has been invited to edit this submission.

[2021-06-15 12:38] danielskatz commented on #3327
👋 @leouieda - would you be able to edit this submission?

[2021-06-15 12:38] znicholls commented on #2766
Changes look good, all merged

[2021-06-15 12:38] danielskatz commented on #3327
@whedon invite @leouieda as editor

[2021-06-15 12:38] whedon commented on #3327
@leouieda has been invited to edit this submission.

[2021-06-15 12:39] danielskatz commented on #3305
@leouieda - maybe this isn't the best fit, so feel free to say no.  The other I also asked you about is probably a better fit if you can just take on one (given the one you have been editing that is basically done now.)

[2021-06-15 12:40] danielskatz commented on #2766
@whedon generate pdf

[2021-06-15 12:41] whedon commented on #2766
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02766/joss.02766/10.21105.joss.02766.pdf) :page_facing_up: :point_left:

[2021-06-15 12:41] danielskatz commented on #2766
@whedon accept deposit=true

[2021-06-15 12:41] whedon commented on #2766
[code]

[2021-06-15 12:41] whedon commented on #2766
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1404781225550745605) 👈 🐦🐦🐦

[2021-06-15 12:41] whedon commented on #2766
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2390
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02766](https://doi.org/10.21105/joss.02766)
2. If everything look

[2021-06-15 12:47] danielskatz commented on #2766
Congratulations to @znicholls (Zebedee Nicholls) and co-author!!

And thanks to @sadielbartholomew and @ashiklom for reviewing, and @leouieda for editing!

[2021-06-15 12:47] #2766 closed

[2021-06-15 12:47] whedon commented on #2766
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02766/status.svg)](https://doi.org/10.21105/joss.02766)

**We need your help!**

Journal of Open Source Softwa

[2021-06-15 13:17] Republicof1 commented on #3356
Thanks for the feedback I'll look into the issues and I apologise for oversights that were in this submission.

On point 1, does the license need to be within the same branch as the paper? There is a license in the main branch.

I will attempt to submit again after through review

[2021-06-15 13:20] jarrah42 commented on #3143
You could also try @williamfgc

[2021-06-15 13:29] lutzhamel commented on #3296
To add to @yuhc comments.  I am not opposed to publishing this paper as long as the following is fulfilled,
1.  It is made clear that this is the evaluation of an *engine*, that means all the metrics etc that come with evaluating an engine should be included.  See @yuhc comments on this.
2. It is made clear that the query language is not an end user product but it is a prototype AST-based query la

[2021-06-15 13:32] lutzhamel commented on #3354
Hi,  I'd be happy to act as a reviewer if you still need one for this
project.

On Mon, Jun 14, 2021 at 8:51 AM Fabian-Robert Stöter <
***@***.***> wrote:

[2021-06-15 13:38] danielskatz commented on #3143
👋 @williamfgc - Would you be willing to review this submission for JOSS?

As you can see, one of our assigned reviewers was unable to review as he didn't have access to a Linux platform for this, so we now again need to find a second reviewer.

[2021-06-15 13:39] danielskatz commented on #3356
The LICENSE should be fine where it is - I'm not sure why whedon didn't see it.

[2021-06-15 13:44] pdebuyl commented on #3337
@arthur-e @braunfuss do you need any assistance for starting the review ?

[2021-06-15 14:02] williamfgc commented on #3143
@danielskatz Happy to do it. Thank you and @jarrah42

[2021-06-15 14:03] whedon commented on #3354
OK, @lutzhamel is now a reviewer

[2021-06-15 14:03] vavrines commented on #3060
@whedon generate pdf

[2021-06-15 14:03] whedon commented on #3060
PDF failed to compile for issue #3060 with the following error:
[code]

[2021-06-15 14:06] vavrines commented on #3060
@whedon generate pdf

[2021-06-15 14:06] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-06-15 14:09] danielskatz commented on #3143
Thanks!!  I'll update the issue at the top for you, and add you now

[2021-06-15 14:09] danielskatz commented on #3143
@whedon add williamfgc as reviewer

[2021-06-15 14:09] whedon commented on #3143
OK, williamfgc is now a reviewer

[2021-06-15 14:10] danielskatz commented on #3143
@whedon re-invite @williamfgc as reviewer

[2021-06-15 14:10] whedon commented on #3143
The reviewer already has a pending invite.

@williamfgc please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-15 14:11] arthur-e commented on #3337
@pdebuyl I think I have everything I need, thanks!

[2021-06-15 14:12] danielskatz commented on #3143
@williamfgc and @jarrah42 - Thanks for agreeing to review this submission.

This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines

[2021-06-15 14:17] vavrines commented on #3060
@whedon generate pdf

[2021-06-15 14:17] vavrines commented on #3060
@whedon check references

[2021-06-15 14:17] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-06-15 14:17] whedon commented on #3060
[code]

[2021-06-15 14:26] vavrines commented on #3060
Hi @diehlpk

Thank you very much for the suggestions.
I revised the paper with the incorporation of the editorial issues.
The major changes include:

- The city and country were added to the affiliation.
- The two points were reorganized and elaborated to avoid misunderstanding.
- A Julia paper was already cited in the first version, and I added the original paper in 2012 in the bibliography.

Ple

[2021-06-15 15:05] diehlpk commented on #3060
@vavrines Thanks, that looks good.

[2021-06-15 15:11] AJQuinn commented on #3293
Hi all - sorry I'm a bit late, I was unexpectedlly off work for family reasons. I am working through the review now and will complete before the end of this week. Cheers

[2021-06-15 15:12] whedon commented on #3325
:wave: @janash, please update us on how your review is going (this is an automated reminder).

[2021-06-15 15:12] whedon commented on #3325
:wave: @rosecers, please update us on how your review is going (this is an automated reminder).

[2021-06-15 15:14] diehlpk commented on #3060
@vavrines I found some typos in the latest version of the paper

* cubersome -> cumbersome
* optmizing - > optimizing
* vectorizaion -> vectorization

Please fix them before we can go forward.

[2021-06-15 15:18] vavrines commented on #3060
@diehlpk Thanks! fixed

[2021-06-15 15:18] vavrines commented on #3060
@whedon generate pdf

[2021-06-15 15:18] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-06-15 15:19] Marie-PerrotDockes commented on #3273
Hello,

I'm so sorry I will start the review right now!!

Just to be sure : I am reviewing the code but no the paper ? (I just check
the paper to get the idea of the methods but that is all ? )

Sorry for the delay,
Marie

Le dim. 6 juin 2021 à 21:12, Frederick Boehm ***@***.***> a
écrit :

[2021-06-15 15:20] diehlpk commented on #3060
@vavrines

- [ ] Generate a new release with all fixed in the paper and the code made during the review. Please post the release number here.
- [ ] Upload the release to Zendo or Figshare and post the DOI here.

[2021-06-15 15:21] janash commented on #3325
Hi @whedon - I've gone over the COI and general checks and installed the dependencies. Planning to closely review the software later this week and this weekend!

[2021-06-15 15:33] vavrines commented on #3060
@diehlpk

- The new release number is v0.7.5 (https://github.com/vavrines/Kinetic.jl/releases/tag/v0.7.5), with the title same as paper.
- The Zenodo record is here (https://zenodo.org/record/4958132#.YMjH9C0RppR)

[2021-06-15 15:37] cheginit commented on #3175
@kthyng Over the last two months (since the submission date), I have added enough new features and bug fixes to these libraries that prompt new releases. Would it be alright if I change the version from 0.10 to 0.11 in the first comment?

[2021-06-15 15:39] jbytecode commented on #3266
Dear editor @drvinceknight

I am listing some potential reviewers (from bottom of the list) with their research areas. Julia is in their preferred or other language list.

bonh: numerical mathematics
AvianaGlobal: statistics and economics
degleris1: optimization and statistics
brunaw: statistics
sylvaticus: social sciences
salleuska: statistics and optimization
mvaldes: optimization and numerical

[2021-06-15 15:39] meg-simula commented on #3237
Hi @schruste, thanks for the reminder -  this is just waiting for me to get a chance to look though it. No need to do anything from your side at the moment, and I will get to it shortly.

[2021-06-15 15:41] diehlpk commented on #3060
@when commands

[2021-06-15 15:42] diehlpk commented on #3060
@whedon commands

[2021-06-15 15:42] whedon commented on #3060
Here are some things you can ask me to do:

[code]

[2021-06-15 15:43] diehlpk commented on #3060
@whedon set v0.7.5 as version

[2021-06-15 15:43] whedon commented on #3060
OK. v0.7.5 is the version.

[2021-06-15 15:44] diehlpk commented on #3060
@vavrines

`vavrines/Kinetic.jl: Kinetic.jl: A portable finite volume toolbox for scientific and neural computing`

The Zendo title does not match the title of the paper. Please update the title there as well. I recommend to add your DOI asl well.

[2021-06-15 15:46] diehlpk commented on #3060
@whedon set  10.5281/zenodo.4958132 as archive

[2021-06-15 15:46] whedon commented on #3060
OK. <a href="https://doi.org/10.5281/zenodo.4958132" target="_blank">10.5281/zenodo.4958132</a> is the archive.

[2021-06-15 16:06] diehlpk commented on #3060
@vavrines Perfect, I can not recommend your paper for acceptance.

[2021-06-15 16:06] diehlpk commented on #3060
@whedon recommend-accept

[2021-06-15 16:06] whedon commented on #3060
[code]

[2021-06-15 16:06] whedon commented on #3060
[code]

[2021-06-15 16:07] whedon commented on #3060
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2391

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2391, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-15 16:32] fboehm commented on #3216
@jponnela - Do you have any suggestions for reviewers? Once we find two reviewers, the review can begin.

Thanks again!

[2021-06-15 16:35] fboehm commented on #3273
@Marie-PerrotDockes - Thanks for your reply! Don't worry about the delay - it's not a problem.

Regarding what to review, please follow the check boxes in your checklist above in this thread. It looks like you've checked many of the boxes. For any boxes that you didn't check yet, please leave comments or open issues (like you've done) to communicate to the authors what needs to be done to improve

[2021-06-15 16:36] fboehm commented on #3273
@yunanwu123 - have you had a chance to begin the review? Is there anything that I can do to help you?

[2021-06-15 16:44] Marie-PerrotDockes commented on #3273
@fboehm  ok thanks everything is clear :)

[2021-06-15 16:45] Marie-PerrotDockes commented on #3273
I just have 2 uncheck box but I add issues about it on the package.

[2021-06-15 17:26] amandadsmith commented on #3313
Hi @samuelduchesne, we greatly appreciate your thoughtful review! These suggestions are valuable and we plan to implement. Thanks for pointing out the Click package.

[2021-06-15 17:28] whedon commented on #3326
:wave: @brunaw, please update us on how your review is going (this is an automated reminder).

[2021-06-15 17:28] whedon commented on #3326
:wave: @expectopatronum, please update us on how your review is going (this is an automated reminder).

[2021-06-15 17:52] danielskatz commented on #3060
@vavrines - While proofreading this paper before publishing it, I found a number of things that I suggested fixes for in https://github.com/vavrines/Kinetic.jl/pull/15  Please merge this or let me know what you disagree with, then we can proceed with the final publication.

[2021-06-15 17:55] brunaw commented on #3326
@whedon I will start the review next week

[2021-06-15 17:55] whedon commented on #3326
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-15 17:59] vavrines commented on #3060
Hi @danielskatz

Thank you very much for the careful check and revision.
The patch has been merged into master branch.
Do I need to make another release on Zenodo for the latest change?

[2021-06-15 17:59] danielskatz commented on #3060
no, you don't need to make a new release for changes in the paper/bib

[2021-06-15 18:00] danielskatz commented on #3060
@whedon generate pdf

[2021-06-15 18:00] whedon commented on #3060
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03060/joss.03060/10.21105.joss.03060.pdf) :page_facing_up: :point_left:

[2021-06-15 18:01] danielskatz commented on #3060
@whedon accept deposit=true

[2021-06-15 18:01] whedon commented on #3060
[code]

[2021-06-15 18:02] whedon commented on #3060
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1404861823275483142) 👈 🐦🐦🐦

[2021-06-15 18:02] whedon commented on #3060
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2392
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03060](https://doi.org/10.21105/joss.03060)
2. If everything look

[2021-06-15 18:13] danielskatz commented on #3060
Congratulations to @vavrines (Tianbai Xiao)!!

And thanks to @rdeits and @jarvist for reviewing and @diehlpk editing!

[2021-06-15 18:13] #3060 closed

[2021-06-15 18:13] whedon commented on #3060
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03060/status.svg)](https://doi.org/10.21105/joss.03060)

**We need your help!**

Journal of Open Source Softwa

[2021-06-15 18:16] danielskatz commented on #3309
👋 @diehlpk - would you be able to edit this submission?

[2021-06-15 18:16] danielskatz commented on #3309
@whedon invite @diehlpk as editor

[2021-06-15 18:16] whedon commented on #3309
@diehlpk has been invited to edit this submission.

[2021-06-15 18:18] danielskatz commented on #3183
👋 @jgostick - Would you be able to edit this submission?

[2021-06-15 18:18] danielskatz commented on #3183
@whedon invite @jgostick as editor

[2021-06-15 18:18] whedon commented on #3183
@jgostick has been invited to edit this submission.

[2021-06-15 18:20] whedon opened #3371 "[PRE REVIEW]: torchquad: Numerical Integration in Arbitrary Dimensions with PyTorch"
**Submitting author:** @gomezzz (<a href="http://orcid.org/0000-0002-5631-8240">Pablo Gómez</a>)
**Repository:** <a href="https://github.com/esa/torchquad/" target ="_blank">https://github.com/esa/torchquad/</a>
**Version:** v0.2.1
**Editor:** @jbytecode
**Reviewers:** @felipefr, @scarlehoff
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-06-15 18:20] whedon commented on #3371
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-15 18:20] whedon opened #3372 "[PRE REVIEW]: see: An R Package for Visualizing Statistical Models"
**Submitting author:** @strengejacke (<a href="http://orcid.org/0000-0002-8895-3206">Daniel Lüdecke</a>)
**Repository:** <a href="https://github.com/easystats/see/" target ="_blank">https://github.com/easystats/see/</a>
**Version:** 0.6.5
**Editor:** @fboehm
**Reviewers:** @MatthewSmith430, @jakobbossek
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-06-15 18:20] whedon commented on #3371
[code]

[2021-06-15 18:20] whedon commented on #3372
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-15 18:20] whedon opened #3373 "[PRE REVIEW]: Datum: Creating and loading TFRecord datasets"
**Submitting author:** @n3011 (<a href="http://orcid.org/0000-0002-0059-2822">Mrinal Haloi</a>)
**Repository:** <a href="https://github.com/openAGI/datum" target ="_blank">https://github.com/openAGI/datum</a>
**Version:** 1.1.0
**Editor:** @jmschrei
**Reviewers:** @pmeier, @younglululu
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2021-06-15 18:20] whedon commented on #3373
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-15 18:20] whedon commented on #3371
[code]

[2021-06-15 18:20] whedon commented on #3371
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03371/joss.03371/10.21105.joss.03371.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03371/joss.03371/10.21105.joss.03371.pdf) :page_facing_up: :point_left:

[2021-06-15 18:21] whedon commented on #3372
[code]

[2021-06-15 18:22] whedon commented on #3372
PDF failed to compile for issue #3372 with the following error:
[code]

[2021-06-15 18:22] whedon commented on #3373
[code]

[2021-06-15 18:22] whedon commented on #3373
PDF failed to compile for issue #3373 with the following error:
[code]

[2021-06-15 18:26] IndrajeetPatil commented on #3372
@whedon generate pdf

[2021-06-15 18:27] whedon commented on #3372
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03372/joss.03372/10.21105.joss.03372.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03372/joss.03372/10.21105.joss.03372.pdf) :page_facing_up: :point_left:

[2021-06-15 18:27] diehlpk commented on #3309
@danielskatz Sure, I can take the submission.

[2021-06-15 18:27] diehlpk commented on #3309
@whedon assign @diehlpk as editor

[2021-06-15 18:27] whedon commented on #3309
OK, the editor is @diehlpk

[2021-06-15 18:29] diehlpk commented on #3309
@elwinter Can you please recommend some reviewers?

[2021-06-15 18:35] drvinceknight commented on #3266
That's very helpful, thank you.

[2021-06-15 18:40] danielskatz commented on #3373
@whedon check references from branch joss

[2021-06-15 18:40] whedon commented on #3373
[code]

[2021-06-15 18:40] danielskatz commented on #3373
@whedon generate pdf from branch joss

[2021-06-15 18:40] whedon commented on #3373
[code]

[2021-06-15 18:40] whedon commented on #3373
[code]

[2021-06-15 18:41] whedon commented on #3373
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03373/joss.03373/10.21105.joss.03373.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03373/joss.03373/10.21105.joss.03373.pdf) :page_facing_up: :point_left:

[2021-06-15 18:46] cmaimone commented on #3322
Update:

I've added a number of issues and a PR for small formatting issues.

Notable issues, related to the checklist:

Performance: https://github.com/hknd23/idcempy/issues/13

Documentation: there are multiple issues opened for specific concerns.  Overall, the documentation could use work around:
1) API documentation is not very useful in its current format because the parameter descriptions ar

[2021-06-15 18:47] danielskatz commented on #3372
@strengejacke - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-15 18:48] danielskatz commented on #3371
@gomezzz - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-15 18:50] danielskatz commented on #3357
@dionhaefner - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-15 18:50] danielskatz commented on #3373
@n3011 - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-15 18:51] danielskatz commented on #3350
@Muhao-Chen - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-15 18:57] Muhao-Chen commented on #3350
@danielskatz Sure, take your time! Thank you so much for helping!

[2021-06-15 19:03] rchew commented on #2908
Hi @lorenanicole, just checking in again on the protocol for next steps.  Let me know if there's anything I can help from my end.

[2021-06-15 19:12] fboehm commented on #3273
Thanks, @Marie-PerrotDockes !

[2021-06-15 19:26] KristinaRiemer commented on #3259
@whedon assign @jsta as reviewer

[2021-06-15 19:27] csoneson commented on #3290
Thanks for this @joseph-palmer! This sounds sensible to me.

@mponce0, @federicomarini - could you take a look when you have a chance to see whether the responses above address your concerns? Thanks!

[2021-06-15 21:14] diehlpk commented on #3020
@chennachaos All the common attributes which are essential to get started with the code are added. Meaning, all tested and user-friendly attributes are documented. However, experimental and under current development are not yet there, but will later be added once the features are stable.

https://github.com/nonlocalmodels/NLMech/pull/145

[2021-06-15 21:19] kellyrowland commented on #3206
Thanks! Glad to hear that you weren't replying on your vacation. 🙂

[2021-06-15 21:20] kellyrowland commented on #3206
@whedon add @7omasz as reviewer

[2021-06-15 21:20] whedon commented on #3206
OK, @7omasz is now a reviewer

[2021-06-15 21:20] kellyrowland commented on #3206
@whedon start review

[2021-06-15 21:20] whedon opened #3374 "[REVIEW]: JPhyloRef: a tool for testing and resolving phyloreferences"
**Submitting author:** @gaurav (<a href="http://orcid.org/0000-0003-0587-0454">Gaurav Vaidya</a>)
**Repository:** <a href="https://github.com/phyloref/jphyloref" target ="_blank">https://github.com/phyloref/jphyloref</a>
**Version:** v1.1.1
**Editor:** @kellyrowland
**Reviewers:** @iimog, @jcoliver
**Archive:** <a href="https://doi.org/10.5281/zenodo.5178723" target="_blank">10.5281/zenodo.5178723

[2021-06-15 21:20] whedon commented on #3206
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3374.

[2021-06-15 21:20] #3206 closed

[2021-06-15 21:20] whedon commented on #3374
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @iimog, @7omasz it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-06-15 21:20] whedon commented on #3374
Failed to discover a `Statement of need` section in paper

[2021-06-15 21:20] whedon commented on #3374
[code]

[2021-06-15 21:21] whedon commented on #3374
[code]

[2021-06-15 21:21] whedon commented on #3374
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03374/joss.03374/10.21105.joss.03374.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03374/joss.03374/10.21105.joss.03374.pdf) :page_facing_up: :point_left:

[2021-06-15 21:32] diehlpk commented on #3020
@chennachaos

Here, all data structures and algorithms are implemented to do 3D simulations. However, the geometrical functions, like applying boundary conditions not on a line or rectangle, are missing for 3D. We intend to add these features once we start the parallel implementation and add the load balancing as described in

https://arxiv.org/abs/2102.03819

From my experience, 3D simulations ne

[2021-06-15 21:37] jgostick commented on #3183
@whedon assign @jgostick as editor

[2021-06-15 21:37] whedon commented on #3183
OK, the editor is @jgostick

[2021-06-15 21:43] danielskatz commented on #3071
👋 @rodluger - just a ping to see if there's any news from AAS at this point...

[2021-06-15 21:44] danielskatz commented on #2945
👋 @jedbrown - It looks like everything is checked off from the reviewers - can you help me understand what this submission is waiting for at this point?

[2021-06-15 21:44] danielskatz commented on #2863
👋 @dmey - any news on this?

[2021-06-15 21:45] danielskatz commented on #3079
👋 @dpsanders - It looks like everything is checked off from the reviewers - can you help me understand what this submission is waiting for at this point?

[2021-06-15 21:45] danielskatz commented on #2842
👋 @scivision - Any update?  Is this ready to move to being accepted and published?

[2021-06-15 21:46] danielskatz commented on #2838
👋 @dpsanders - It looks like everything is checked off from the reviewers - can you help me understand what this submission is waiting for at this point?

[2021-06-15 21:47] danielskatz commented on #3297
@ChWick - Any update on the above?

[2021-06-15 21:47] danielskatz commented on #3055
👋 @wimvanderbauwhede - just a ping on the above request...

[2021-06-15 21:48] danielskatz commented on #2575
👋 @holukas - note that this is basically ready to accept and publish, and is waiting on you to do the 2 items above

[2021-06-15 21:49] melissawm commented on #3208
Thank you, both @morganericsson and @krystophny! I will then set up the review process and this pre-review issue will be automatically closed. You will receive a notification shortly.

[2021-06-15 21:49] melissawm commented on #3208
@whedon add @morganericsson as reviewer

[2021-06-15 21:49] whedon commented on #3208
OK, @morganericsson is now a reviewer

[2021-06-15 21:49] melissawm commented on #3208
@whedon start review

[2021-06-15 21:49] whedon opened #3375 "[REVIEW]: MLJFlux: Deep learning interface to the MLJ toolbox"
**Submitting author:** @ayush-1506 (<a href="http://orcid.org/0000-0003-3550-691X">Ayush Shridhar</a>)
**Repository:** <a href="https://github.com/FluxML/MLJFlux.jl" target ="_blank">https://github.com/FluxML/MLJFlux.jl</a>
**Version:** v0.1.10
**Editor:** @melissawm
**Reviewer:** @krystophny, @morganericsson
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the chall

[2021-06-15 21:49] whedon commented on #3208
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3375.

[2021-06-15 21:49] #3208 closed

[2021-06-15 21:49] whedon commented on #3375
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @krystophny, @morganericsson it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2021-06-15 21:49] whedon commented on #3375
[code]

[2021-06-15 21:49] whedon commented on #3375
[code]

[2021-06-15 21:50] whedon commented on #3375
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03375/joss.03375/10.21105.joss.03375.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03375/joss.03375/10.21105.joss.03375.pdf) :page_facing_up: :point_left:

[2021-06-15 21:51] melissawm commented on #3375
👋🏼 @ayush-1506 @morganericsson @krystophny this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different f

[2021-06-15 22:28] elwinter commented on #3309
Hmm, i thought I had picked one from the list.  I'll check tonight and send the name to you.

Thanks
Eric

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Patrick Diehl ***@***.***>
Sent: Tuesday, June 15, 2021 2:29:15 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE

[2021-06-15 23:30] jgostick commented on #2976
Soooo, someone from this group just reached out to me via email.  I have sent them to this link and told them to address the reviewer comments....some of which were actually posted to their repo directly instead of using this forum/checklist.

[2021-06-15 23:43] diehlpk commented on #2945
@danielskatz There are some open issues here https://github.com/CEED/libCEED/issues/756 reported by @thelfer.

The last thing, I heard around 18 days ago was

I contacted @jedbrown today and as far as I understood they're working this week on the open issues.

[2021-06-15 23:48] diehlpk commented on #3307
@jacobmerson Do you think a deep experience in FEM necessary?

[2021-06-15 23:49] diehlpk commented on #3307
@jacobmerson Please add the two missing DOIs to the paper.

[2021-06-15 23:52] diehlpk commented on #3309
Hey @taless474  would you be interested to review this paper?

[2021-06-16 00:08] danielskatz commented on #2976
Ok - I hope we will see some activity soon, or we will go ahead and reject this, but it sounds like maybe that won't be necessary.

[2021-06-16 00:09] danielskatz commented on #2945
Thanks - and sorry for my confusion about who was editing this.

[2021-06-16 00:44] taless474 commented on #3309
Sure, I will do that.

[2021-06-16 02:08] dpsanders commented on #3079
Apologies for the delay. I will be doing a final look tomorrow.

[2021-06-16 02:09] dpsanders commented on #2838
Apologies for the delay. I will be doing a final look tomorrow.

[2021-06-16 02:34] ketch commented on #2936
I'm interested in this and would normally be happy to review it.  However, right now I have some other commitments that will keep me from doing so until probably the first or second week of August.  If that timeline is okay, then you can assign me.

[2021-06-16 03:15] jacobmerson commented on #3307
@diehlpk A knowledge of FEM is not necessary. `model-traits` addresses simulation model setup and the association between a geometric model and the traits or attributes that define the simulation. The code is applicable to setting up any boundary value problem where the simulation setup should take place on geometric entities e.g., boundary conditions. There is no FEM specific code included in `mo

[2021-06-16 03:26] jacobmerson commented on #3307
@diehlpk I added the missing DOIs

[2021-06-16 05:36] pdebuyl commented on #2842
Hi @danielskatz I also notified @scivision by email. The reviewers recommended publication but there are a few pending remarks from my side for which I would like a response.

[2021-06-16 07:14] ChWick commented on #3297
@danielskatz I was on vacation. I will deal with this hopefully this, at most next week. Thanks @afron for the additional, valuable remarks!

[2021-06-16 07:25] drvinceknight commented on #3266
@bonh @AvianaGlobal @degleris1 @brunaw I'm pinging you to ask if you would be able to assist with reviewing this submissions to JOSS (The Journal of Open Source Software).

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "JMcDM: A Julia package for multiple-criteria decision-making tools". You can find more information at the top of thi

[2021-06-16 07:53] drvinceknight commented on #3084
I have spoken to @uagla by email and they have kindly accepted to review.

[2021-06-16 07:54] drvinceknight commented on #3084
@whedon assign @uagla as reviewer

[2021-06-16 07:54] whedon commented on #3084
OK, @uagla is now a reviewer

[2021-06-16 07:55] drvinceknight commented on #3084
Once another reviewer has been assigned (I am working on this) I will start the review.

[2021-06-16 07:57] jkrumbiegel commented on #3349
@Kevin-Mattheus-Moerman I just wanted to let you know that we have recently consolidated our codebase into the https://github.com/JuliaPlots/Makie.jl/ repository, whereas before, most code lived in `AbstractPlotting.jl`. The paper lies in the AbstractPlotting repository, still, and I'm not sure if it's worth the trouble of moving and relinking it. But if you think that would be better long term, l

[2021-06-16 08:00] holukas commented on #2575
@KristinaRiemer
1) I have created a new release on GitHub, the version number is v1.1.2: https://github.com/holukas/dyco/releases/tag/v1.1.2
2) I have archived the this version 1.1.2 on Zenodo, DOI: 10.5281/zenodo.4964068
https://zenodo.org/record/4964068

[2021-06-16 08:16] holukas commented on #2575
With the submission coming to a close, I wanted to thank @mccabete @r-barnes for reviewing the code. I highly appreciate your helpful comments and suggestions!

[2021-06-16 08:43] arfon commented on #2908
I'm going to help @lorenanicole out here but adding @soodoku as a reviewer and moving this forward to review.

[2021-06-16 08:43] arfon commented on #2908
@whedon add @soodoku as reviewer

[2021-06-16 08:43] arfon commented on #2908
@whedon start review

[2021-06-16 08:43] whedon opened #3376 "[REVIEW]: samplics: a Python Package for selecting, weighting and analyzing data from complex sampling designs."
**Submitting author:** @MamadouSDiallo (<a href="http://orcid.org/0000-0002-0376-3631">Mamadou Diallo</a>)
**Repository:** <a href="https://github.com/survey-methods/samplics/" target ="_blank">https://github.com/survey-methods/samplics/</a>
**Version:** 0.2.6
**Editor:** @arfon
**Reviewer:** @rchew, @soodoku
**Archive:** <a href="https://doi.org/10.5281/zenodo.5750761" target="_blank">10.5281/zen

[2021-06-16 08:43] whedon commented on #2908
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3376.

[2021-06-16 08:43] #2908 closed

[2021-06-16 08:43] whedon commented on #3376
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rchew, @soodoku it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2021-06-16 08:43] arfon commented on #2908
Thanks for your patience folks. See you over in #3376 where the actual review will take place.

[2021-06-16 08:44] whedon commented on #3376
[code]

[2021-06-16 08:44] whedon commented on #3376
[code]

[2021-06-16 08:44] whedon commented on #3376
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03376/joss.03376/10.21105.joss.03376.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03376/joss.03376/10.21105.joss.03376.pdf) :page_facing_up: :point_left:

[2021-06-16 08:44] arfon commented on #3376
@rchew, @soodoku – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. Ther

[2021-06-16 09:49] whedon commented on #3329
:wave: @jrising, please update us on how your review is going (this is an automated reminder).

[2021-06-16 09:49] whedon commented on #3329
:wave: @marvinjonathcn, please update us on how your review is going (this is an automated reminder).

[2021-06-16 10:34] jorge-lip commented on #3295
@whedon generate pdf

[2021-06-16 10:35] whedon commented on #3295
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03295/joss.03295/10.21105.joss.03295.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03295/joss.03295/10.21105.joss.03295.pdf) :page_facing_up: :point_left:

[2021-06-16 10:40] jorge-lip commented on #3295
A more extensive section on the developments since the last publication is now available.
The repositories and licenses for the tools have been added to the installation manual on section 6 as requested.
https://indigo-dc.github.io/udocker/installation_manual.html

[2021-06-16 10:57] vissarion commented on #3364
:wave: @astanziola, @krystophny, @pharshalp would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2021-06-16 10:58] uagla commented on #3084
Thank you! I have received the invitation

[2021-06-16 11:34] danielskatz commented on #3295
Thanks @jorge-lip - let's see what @vsoch and @mviereck think now

[2021-06-16 11:45] arokem commented on #3262
👋 @szorowi1 : have you had a chance to take a look?

[2021-06-16 11:48] VivianePons commented on #2946
Can you update the title on Zenodo so that it is the same as the paper?

[2021-06-16 12:00] bonh commented on #3266
Hi @drvinceknight! I would very much like to review this submission. However, I feel obligated to bring to your attention, that in April I reviewed another JOSS submission during which I asked for an editorial scope check. Afterwards the editor and I decided to remove myself from the review process due to insufficient knowledge in the specific field of that submission. Unfortunately, the submissio

[2021-06-16 12:16] dansarie commented on #2946
@VivianePons Ok! It should be fixed now.

[2021-06-16 12:21] VivianePons commented on #2946
@whedon set 10.5281/zenodo.4954685 as archive

[2021-06-16 12:21] whedon commented on #2946
OK. <a href="https://doi.org/10.5281/zenodo.4954685" target="_blank">10.5281/zenodo.4954685</a> is the archive.

[2021-06-16 12:22] VivianePons commented on #2946
@whedon set v2.0.0 as version

[2021-06-16 12:23] VivianePons commented on #2946
Thank you! We ow have everything to accept the paper into JOSS. Thanks a lot to @dansarie for the contribution and thank you @gradvohl and @HeshamAlsaadi for the reviews :)

[2021-06-16 12:24] VivianePons commented on #2946
@whedon recommend-accept

[2021-06-16 12:24] whedon commented on #2946
[code]

[2021-06-16 12:24] whedon commented on #2946
PDF failed to compile for issue #2946 with the following error:
[code]

[2021-06-16 12:24] VivianePons commented on #2946
@whedon recommend-accept from branch paper

[2021-06-16 12:24] whedon commented on #2946
[code]

[2021-06-16 12:24] whedon commented on #2946
PDF failed to compile for issue #2946 with the following error:
[code]

[2021-06-16 12:24] VivianePons commented on #2946
@whedon recommend-accept from branch joss

[2021-06-16 12:25] whedon commented on #2946
[code]

[2021-06-16 12:25] whedon commented on #2946
[code]

[2021-06-16 12:25] whedon commented on #2946
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2393

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2393, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-16 12:44] danielskatz commented on #3335
@martindevora - I'm sorry to say that the discussion of the editors has led to a decision that this is not in scope for JOSS - comments include the size of the codebase as seeming too small, the code seeming to brittle and not reusuable, the statement of need not demonstrating a real use case (it emphasizes injection and recovery, but it seems more to be a transit search pipeline), and the packagi

[2021-06-16 12:45] danielskatz commented on #3335
@whedon reject

[2021-06-16 12:45] #3335 closed

[2021-06-16 12:49] danielskatz commented on #3361
I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission is not in scope for review by JOSS. This does not mean that it is not software that is useful in research, but just that JOSS does not consider it in scope for review as research software. Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-so

[2021-06-16 12:49] danielskatz commented on #3361
@whedon reject

[2021-06-16 12:49] whedon commented on #3361
Paper rejected.

[2021-06-16 12:49] #3361 closed

[2021-06-16 12:58] whedon commented on #3313
:wave: @ritwikagarwal, please update us on how your review is going (this is an automated reminder).

[2021-06-16 13:00] danielskatz commented on #2946
@whedon accept deposit=true from branch joss

[2021-06-16 13:00] whedon commented on #2946
[code]

[2021-06-16 13:01] whedon commented on #2946
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1405148536346398723) 👈 🐦🐦🐦

[2021-06-16 13:01] whedon commented on #2946
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2394
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02946](https://doi.org/10.21105/joss.02946)
2. If everything look

[2021-06-16 13:10] danielskatz commented on #2946
Congratulations to @dansarie (Marcus Dansarie)!!

And thanks to @gradvohl and @HeshamAlsaadi for reviewing, and @VivianePons for editing!

[2021-06-16 13:10] #2946 closed

[2021-06-16 13:11] whedon commented on #2946
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02946/status.svg)](https://doi.org/10.21105/joss.02946)

**We need your help!**

Journal of Open Source Softwa

[2021-06-16 13:17] brunaw commented on #3266
@drvinceknight  happy to review if I'm allowed to start in about 7-10 days

[2021-06-16 13:18] danielskatz commented on #3315
no, we just need to wait for other papers to be published, and more editors to be brought on, both of which are happening currently

[2021-06-16 13:18] danielskatz commented on #3315
👋 @VivianePons - Would you be able to edit this submission?

[2021-06-16 13:19] danielskatz commented on #3315
@whedon invite @VivianePons as editor

[2021-06-16 13:19] whedon commented on #3315
@VivianePons has been invited to edit this submission.

[2021-06-16 13:20] danielskatz commented on #3304
@whedon generate pdf

[2021-06-16 13:21] danielskatz commented on #3304
👋 @csoneson - Would you be able to edit this submission?

[2021-06-16 13:21] whedon commented on #3304
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03304/joss.03304/10.21105.joss.03304.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03304/joss.03304/10.21105.joss.03304.pdf) :page_facing_up: :point_left:

[2021-06-16 13:21] danielskatz commented on #3304
@whedon invite @csoneson as editor

[2021-06-16 13:21] whedon commented on #3304
@csoneson has been invited to edit this submission.

[2021-06-16 13:21] VivianePons commented on #3315
@whedon assign @VivianePons as editor

[2021-06-16 13:21] whedon commented on #3315
OK, the editor is @VivianePons

[2021-06-16 13:26] whedon opened #3377 "[PRE REVIEW]: individual: An R package for individual based epidemiological models"
**Submitting author:** @giovannic (<a href="http://orcid.org/0000-0002-7024-1200">Giovanni Charles</a>)
**Repository:** <a href="https://github.com/mrc-ide/individual" target ="_blank">https://github.com/mrc-ide/individual</a>
**Version:** v0.1.1
**Editor:** @mikldk
**Reviewers:** @seabbs, @strengejacke, @SteRoe
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

D

[2021-06-16 13:26] whedon commented on #3377
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-16 13:26] whedon opened #3378 "[PRE REVIEW]: Cutepeaks: A modern viewer for Sanger trace file"
**Submitting author:** @dridk (<a href="http://orcid.org/0000-0002-4563-7537">sacha schutz</a>)
**Repository:** <a href="https://github.com/labsquare/CutePeaks" target ="_blank">https://github.com/labsquare/CutePeaks</a>
**Version:** 0.2.3
**Editor:** @lpantano
**Reviewers:** @tobiasrausch, @wdecoster
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2021-06-16 13:26] whedon commented on #3377
[code]

[2021-06-16 13:26] whedon commented on #3378
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-16 13:26] whedon commented on #3378
Failed to discover a `Statement of need` section in paper

[2021-06-16 13:26] whedon commented on #3378
[code]

[2021-06-16 13:26] whedon commented on #3378
[code]

[2021-06-16 13:26] whedon commented on #3377
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03377/joss.03377/10.21105.joss.03377.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03377/joss.03377/10.21105.joss.03377.pdf) :page_facing_up: :point_left:

[2021-06-16 13:27] whedon commented on #3378
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03378/joss.03378/10.21105.joss.03378.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03378/joss.03378/10.21105.joss.03378.pdf) :page_facing_up: :point_left:

[2021-06-16 13:27] whedon commented on #3377
[code]

[2021-06-16 13:32] danielskatz commented on #3377
@giovannic - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-16 13:33] diehlpk commented on #3307
@atismer Would you be interested to review the paper with knowing the message above?

[2021-06-16 13:33] danielskatz commented on #3378
@dridk - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-16 15:01] kthyng commented on #3175
@whedon set v0.11 as version

[2021-06-16 15:01] whedon commented on #3175
OK. v0.11 is the version.

[2021-06-16 15:01] kthyng commented on #3175
@cheginit I have updated your version, and we'll also update it at the end of the review process.

[2021-06-16 15:01] giovannic commented on #3377
Potential reviewers (in no particular order):

masalmon
Tgerke
acolum
noamross
borishejblum
petermacp

[2021-06-16 15:03] kthyng commented on #3175
@raoulcollenteur will you be able to work on your review soon? Just pinged @evanleeturner by email too.

[2021-06-16 15:04] cheginit commented on #3175
@kthyng Thanks, appreciate it.

[2021-06-16 15:05] giovannic commented on #3377
Potential reviewers (from bottom to top):

SteRoe
nistara
seabbs
strengejacke

[2021-06-16 15:10] atismer commented on #3307
@diehlpk No. I think my work is not well aligned with the paper. Sorry.

[2021-06-16 15:24] pibion commented on #2484
@whedon check references

[2021-06-16 15:24] whedon commented on #2484
[code]

[2021-06-16 15:29] pibion commented on #2484
@whedon generate pdf

[2021-06-16 15:29] whedon commented on #2484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02484/joss.02484/10.21105.joss.02484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02484/joss.02484/10.21105.joss.02484.pdf) :page_facing_up: :point_left:

[2021-06-16 15:30] whedon commented on #3330
:wave: @samuel-rosa , please update us on how your review is going (this is an automated reminder).

[2021-06-16 15:30] whedon commented on #3330
:wave: @ArikaLZ, please update us on how your review is going (this is an automated reminder).

[2021-06-16 15:54] dpsanders commented on #2838
@Swetanshu: I have sent a PR for the JOSS paper with minor edits.

I have also requested that the worked example be extended to show how to run Gaussian, get the output and pass it to your tools to make a complete worked example.

[2021-06-16 15:57] whedon opened #3379 "[PRE REVIEW]: COVID-19 Lung Segmentation"
**Submitting author:** @RiccardoBiondi (<a href="http://orcid.org/0000-0002-8682-3782">Riccardo Biondi</a>)
**Repository:** <a href="https://github.com/RiccardoBiondi/segmentation" target ="_blank">https://github.com/RiccardoBiondi/segmentation</a>
**Version:** 2.0.0
**Editor:** @jmschrei
**Reviewers:** @pps121, @amtseng
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warn

[2021-06-16 15:57] whedon commented on #3379
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-16 15:57] whedon commented on #3379
[code]

[2021-06-16 15:57] whedon commented on #3379
[code]

[2021-06-16 15:57] whedon commented on #3379
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03379/joss.03379/10.21105.joss.03379.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03379/joss.03379/10.21105.joss.03379.pdf) :page_facing_up: :point_left:

[2021-06-16 15:58] whedon commented on #3309
OK, @taless474 is now a reviewer

[2021-06-16 16:00] danielskatz commented on #3379
👋 @RiccardoBiondi - thanks for your submission. Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.  I'll also note it's surprising to me that it's not packaged for installation v

[2021-06-16 16:00] whedon commented on #3379
Submission flagged for editorial review.

[2021-06-16 16:01] diehlpk commented on #3309
Hey @rougier @betatim @pragyansmita @stsievert @road2stat @nilesh-patil would you be interested in reviewing this paper?

[2021-06-16 16:06] pibion commented on #2484
@dghoshal-lbl thank you, this looks good!  Go ahead and update the Zenodo archive!

[2021-06-16 16:07] dpsanders commented on #3079
Everything looks great to me!

[2021-06-16 16:07] dpsanders commented on #3079
@whedon recommend-accept

[2021-06-16 16:07] whedon commented on #3079
No archive DOI set. Exiting...

[2021-06-16 16:08] dpsanders commented on #3079
👋 @jsoishi: Could you please archive the package, e.g. at Zenodo, and report back here the corresponding version of the software and archive link. Please make sure that the title and author data for the archive correspond exactly to those of the paper. Thanks!

[2021-06-16 16:20] dridk commented on #3378
Potential reviewer:

##  in genetic :
- Adrianzo
- afrubin
- martinmodrak
- tomsing1
- wdecoster
- standage

## Graphics user interface with Qt
- RDastgh1
- otre99
- 1313e

[2021-06-16 16:42] KristinaRiemer commented on #2575
@whedon set v1.1.2 as version

[2021-06-16 16:42] whedon commented on #2575
OK. v1.1.2 is the version.

[2021-06-16 16:45] KristinaRiemer commented on #2575
@holukas thanks for getting these together!

For the Zenodo archive, could you change the name of the archive to the name of the paper ("DYCO: A Python package to dynamically detect and1compensate for time lags in ecosystem time series")? Additionally, could you make the author name your name as in the paper?

[2021-06-16 16:46] KristinaRiemer commented on #3200
Hi @puruckertom, do you have a timeline for when you'll be able to work on the review of this submission?

[2021-06-16 17:04] sandrinecharles commented on #3200
Dear colleagues, thank you to take care of our submission. for your information, we would really need your feedback especially my young colleague V. Baudrot who would need to this improvement in his publication list in order to apply for a new position soon. Best regards. S. Charles

[2021-06-16 17:09] samuel-rosa commented on #3330
@whedon unfortunately I will not be able to conclude the review in due time. I have just been hit by a truckload of demands at my university. I hope that you find a suitable reviewer.

[2021-06-16 17:09] whedon commented on #3330
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-16 17:14] stsievert commented on #3309
Sorry, I don't have the bandwidth right now. After a brief glance, I would encourage the author to look carefully at [the JOSS review criteria][1], especially [the documentation section][2].

[1]:https://joss.readthedocs.io/en/latest/review_criteria.html
[2]:https://joss.readthedocs.io/en/latest/review_criteria.html#documentation

[2021-06-16 18:07] timtroendle commented on #3203
:wave: @potterzot, as I haven't heard back from you in a while, I will remove you from the list of reviewers.

[2021-06-16 18:07] timtroendle commented on #3203
@whedon remove @potterzot as reviewer

[2021-06-16 18:07] whedon commented on #3203
OK, @potterzot is no longer a reviewer

[2021-06-16 18:08] timtroendle commented on #3203
@wehdon add @milicag as reviewer

[2021-06-16 18:08] timtroendle commented on #3203
@whedon add @milicag as reviewer

[2021-06-16 18:08] whedon commented on #3203
OK, @milicag is now a reviewer

[2021-06-16 18:09] timtroendle commented on #3203
Thanks a lot for accepting to jump in as a second reviewer, @milicag. Please let me know if you need any help in the process.

[2021-06-16 18:30] dghoshal-lbl commented on #2484
@pibion I have updated the Zenodo archive. Here's the new DOI: 10.5281/zenodo.4968576

[2021-06-16 18:52] jsoishi commented on #3079
@dpsanders Here you go:

https://zenodo.org/record/4968601#.YMpIOJpKirQ

thanks! Let me know if there's anything else that needs to be done.

[2021-06-16 18:57] tsalo commented on #3103
We just want to check in on this and see if there's anything needed from us to move this forward.

[2021-06-16 19:10] holukas commented on #2575
@KristinaRiemer I have updated the Zenodo record accordingly: https://zenodo.org/record/4964068

[2021-06-16 19:17] federicomarini commented on #3290
Hi @joseph-palmer !

Good! 👍

Thanks for clarifying this. Makes more sense the way you say it.
Probably I was confused by the compactness of the sentence 😉

👍

Very good! Your choice if you think it is a feature worth mentioning - I would probably appreciate it quite a lot, given the issue we encounter in the bioinformatics world re: sources that are not so stable/well documented.

Yep, this is qu

[2021-06-16 19:31] KristinaRiemer commented on #2575
@whedon set 10.5281/zenodo.4964068 as archive

[2021-06-16 19:31] whedon commented on #2575
OK. <a href="https://doi.org/10.5281/zenodo.4964068" target="_blank">10.5281/zenodo.4964068</a> is the archive.

[2021-06-16 19:32] KristinaRiemer commented on #2575
Excellent! That looks perfect.

I'm now turning this over to the EiCs for final acceptance and publication.

[2021-06-16 19:32] KristinaRiemer commented on #2575
@whedon recommend-accept

[2021-06-16 19:32] whedon commented on #2575
[code]

[2021-06-16 19:33] whedon commented on #2575
[code]

[2021-06-16 19:33] whedon commented on #2575
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2395

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2395, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-16 19:51] magdalenafuentes commented on #3354
Hi @faroit, sorry for the late reply, I'm currently on vacation until next week and just saw the invite. I'd be happy to review this submission

[2021-06-16 20:09] danielskatz commented on #2575
@holukas - As part of a final proofread, I have suggested some changes in https://github.com/holukas/dyco/pull/19 - please merge these or let me know what you disagree with, then we can proceed with the publishing.

[2021-06-16 20:13] danielskatz commented on #3305
@whedon invite @KristinaRiemer as editor

[2021-06-16 20:13] whedon commented on #3305
@KristinaRiemer has been invited to edit this submission.

[2021-06-16 20:22] kthyng commented on #3305
I can take this on, I can work on reviewers next week if not earlier.

[2021-06-16 20:22] kthyng commented on #3305
@whedon assign me as editor

[2021-06-16 20:22] whedon commented on #3305
OK, the editor is @kthyng

[2021-06-16 20:24] danielskatz commented on #3319
@kthyng - given the other just took, would you want to take this one too?  No is a fine answer :)

[2021-06-16 20:26] danielskatz commented on #3333
👋 @KristinaRiemer - Would you be willing to edit this submission?

[2021-06-16 20:26] danielskatz commented on #3333
@whedon invite @KristinaRiemer as editor

[2021-06-16 20:26] whedon commented on #3333
@KristinaRiemer has been invited to edit this submission.

[2021-06-16 20:27] holukas commented on #2575
@danielskatz There is only one small thing that needs to be changed, I commented directly in https://github.com/holukas/dyco/pull/19

[2021-06-16 20:30] danielskatz commented on #2575
Sorry, I don't see any comment in https://github.com/holukas/dyco/pull/19

[2021-06-16 20:33] holukas commented on #2575
@danielskatz Should be visible now (I forgot to hit the button it seems...).

[2021-06-16 20:37] danielskatz commented on #2575
@whedon generate pdf

[2021-06-16 20:38] whedon commented on #2575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02575/joss.02575/10.21105.joss.02575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02575/joss.02575/10.21105.joss.02575.pdf) :page_facing_up: :point_left:

[2021-06-16 20:38] danielskatz commented on #2575
@holukas - please confirm this looks good now, and I'll go ahead and publish it

[2021-06-16 20:47] danielskatz commented on #3338
👋 @leonardovida - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-

[2021-06-16 20:47] danielskatz commented on #3338
@whedon reject

[2021-06-16 20:47] whedon commented on #3338
Paper rejected.

[2021-06-16 20:47] #3338 closed

[2021-06-16 20:48] danielskatz commented on #3339
👋 @ialxn - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-package

[2021-06-16 20:48] danielskatz commented on #3339
@whedon reject

[2021-06-16 20:48] whedon commented on #3339
Paper rejected.

[2021-06-16 20:48] #3339 closed

[2021-06-16 20:49] danielskatz commented on #3352
👋 @pfistfl - the editors have decided this is in scope, so we will accept it for review. However, due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

[2021-06-16 20:55] holukas commented on #2575
@danielskatz There is only one small typo that I found. In the PDF L131 please change "compensated" to "compensates", rest looks good.

[2021-06-16 20:58] danielskatz commented on #2575
You can and should do that, since it's in your repo :)  When you do it, run ```@whedon generate pdf``` again and then let me know that it's ready to publish

[2021-06-16 21:06] holukas commented on #2575
Yes you are right :)

[2021-06-16 21:06] holukas commented on #2575
@whedon generate pdf

[2021-06-16 21:07] whedon commented on #2575
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02575/joss.02575/10.21105.joss.02575.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02575/joss.02575/10.21105.joss.02575.pdf) :page_facing_up: :point_left:

[2021-06-16 21:09] holukas commented on #2575
Looks good and is ready to publish!

[2021-06-16 21:10] danielskatz commented on #2575
@whedon accept deposit=true

[2021-06-16 21:11] whedon commented on #2575
[code]

[2021-06-16 21:11] whedon commented on #2575
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1405271915002929154) 👈 🐦🐦🐦

[2021-06-16 21:11] whedon commented on #2575
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2396
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02575](https://doi.org/10.21105/joss.02575)
2. If everything look

[2021-06-16 21:16] danielskatz commented on #2575
Congratulations to @holukas (Lukas Hörtnagl)!!

And thanks to @mccabete and @r-barnes for reviewing, and @KristinaRiemer for editing!

[2021-06-16 21:16] #2575 closed

[2021-06-16 21:16] whedon commented on #2575
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02575/status.svg)](https://doi.org/10.21105/joss.02575)

**We need your help!**

Journal of Open Source Softwa

[2021-06-16 21:24] diehlpk commented on #3020
@chennachaos

- We made clear that the two examples with the code do not have any background. They were just there to make the code's logo.
- Most of these examples were used in publications, and we just presented this examples here. We added the corresponding publications and linked the YAML files, so users can experience the full file and adapt it for theirusage.

[2021-06-16 21:25] holukas commented on #2575
Thanks a lot for your support @KristinaRiemer @mccabete @r-barnes @danielskatz (and whedon)!

[2021-06-16 21:27] diehlpk commented on #3020
@chennachaos I addressed all your open remarks, please have a look.

[2021-06-16 23:06] elwinter commented on #3309
Ok, I'll review it again, thanks.
Eric

Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Scott Sievert ***@***.***>
Sent: Wednesday, June 16, 2021 1:14:18 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Eric Winter ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [PRE REVIEW]: nnde: A Python package for solving differential equatio

[2021-06-16 23:46] dpsanders commented on #3079
Thanks. Is the version 2.2106?

[2021-06-17 01:15] thewan05 commented on #3084
@uagla Thank you for agreeing to provide a review! @drvinceknight Thank you for the update!

[2021-06-17 01:35] soodoku commented on #3376
For stats packages, I am going to sign off on 'functionality' without checking for correctness as that will take a sig. investment. I have proposed a way to match outputs to other implementations like Lumley's R version. But I am assuming the bar for acceptance is lower.

[2021-06-17 02:21] jsoishi commented on #3079
Yes!

On Wed, Jun 16, 2021, 19:46 David P. Sanders ***@***.***>
wrote:

[2021-06-17 03:14] abhishekbajpayee commented on #3124
@arokem I am unable to edit the checkboxes above even after accepting the invite and being logged in. Can you advise on what I should do?

Until then, some early feedback to @jorgedch:
- Using `pip install` to directly install from pypi takes way too much time. Is there any way to make the install size smaller?
- Provided instructions don't work as-is. The url in the git clone command should ideal

[2021-06-17 03:23] arokem commented on #3124
@openjournals/joss-eics : sorry to bother, but it seems that @abhishekbajpayee, one of the reviewers on this article, is unable to tick the boxes in the comment at the top of this page. Could you please help with that? Thanks!

[2021-06-17 06:54] faroit commented on #3354
@magdalenafuentes great news. Thanks  a lot. Enjoy your vacation

[2021-06-17 06:54] faroit commented on #3354
@whedon add @magdalenafuentes as reviewer

[2021-06-17 06:54] whedon commented on #3354
OK, @magdalenafuentes is now a reviewer

[2021-06-17 07:09] tgoelles commented on #3365
@whedon check references

[2021-06-17 07:43] BreezeWhite commented on #3218
Hi @Kevin-Mattheus-Moerman, thank you for the advises. I have rephrased the sentences as you have pointed out. Please see if there are still needs to modify the content.

[2021-06-17 07:51] mjsottile commented on #3296
At this point I believe I have what I need to know from the reviewers @yuhc and @lutzhamel.  I need to think a bit since over the span of a few days the recommendation swung from not acceptable to acceptable.  Two comments though that I believe must be addressed:

This is not supported by activity in the literature. I would refrain from dismissing an area of research as part of a review - it is of

[2021-06-17 07:55] oliviaguest commented on #3270
@EleonoraVagnoni please do not be sorry, this is all normal, and I am sure very useful. 🌸

[2021-06-17 07:58] oliviaguest commented on #3103
@tsalo thank you for checking, short answer: no. Longer answer: I am swamped with work, other duties as editor, etc., but will reach out to reviewers starting (hopefully) next week, Monday. Thus removing the waitlist tag. But I promise you I have neither forgotten, nor absconded my duties more generally here. ☺️

[2021-06-17 08:20] yuhc commented on #3296
Thank you @mjsottile for the comments. Yes I brought those up to give some suggestions for the directions of the improvement, but I didn't mean to dismiss the work or the field. I totally agree with what you said and I think we're talking about different scope of "academic values".

AST-based code search was actively explored in the academia so many years ago and I saw quite some amazing papers wh

[2021-06-17 08:37] vissarion commented on #3330
Hi @samuel-rosa that was an automated reminder from Joss robot (@whedon).

Just to be clear, if still interested in reviewing and you need more time to review this is totally understandable and we are very flexible especially during the codiv-19 era. On the other hand, if you decided that you cannot or do not want to review this is also understandable. Please let me know.

[2021-06-17 08:48] seabbs commented on #3290
Thanks for the great review and detailed feedback @federicomarini - very much appreciated. For interest, this is the source we were basing the statement about Rmd -> md vignettes on: https://ropensci.org/blog/2019/12/08/precompute-vignettes/

[2021-06-17 08:54] derrynknife commented on #3368
@whedon check references

[2021-06-17 08:54] whedon commented on #3368
[code]

[2021-06-17 08:55] derrynknife commented on #3368
@whedon check references

[2021-06-17 08:56] whedon commented on #3368
[code]

[2021-06-17 08:56] derrynknife commented on #3368
@whedon generate pdf

[2021-06-17 08:57] whedon commented on #3368
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03368/joss.03368/10.21105.joss.03368.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03368/joss.03368/10.21105.joss.03368.pdf) :page_facing_up: :point_left:

[2021-06-17 08:59] derrynknife commented on #3368
Thanks @danielskatz, I've updated the references and pdf as Whedon suggested.

Totally understand that editing will be harder given the state of affairs in the world!

@dfm looking forward to your comments as well.

Thanks team!

[2021-06-17 09:57] astanziola commented on #3364
Hello! Happy to review :)

[2021-06-17 10:05] vissarion commented on #3364
@whedon add @astanziola as reviewer

[2021-06-17 10:05] whedon commented on #3364
OK, @astanziola is now a reviewer

[2021-06-17 11:01] lutzhamel commented on #3296
@mjsottile, yes, my review went from unacceptable to a possible accept once I understood what I was looking at.  In my view the paper/software would not have held up as a "end user" product but as an engine it is acceptable provided that the paper addresses the points I made in an earlier comment.

[2021-06-17 11:20] DrDaveShaw commented on #3224
I've just merged the pull request, all good changes and very happy with how the code has improved during this process! @goldmanm Thank you very much for taking the time to suggest these changes and for your kind support of the model.

@dhhagan please let me know if there is anything else you need me to do. Obviously the paper refers to version 1.1 which I am ready to release with all of the review

[2021-06-17 12:17] danielskatz commented on #3124
Hi @arokem - what I'm going to do next is something any editor can do ...

[2021-06-17 12:17] danielskatz commented on #3124
@whedon re-invite @abhishekbajpayee as reviewer

[2021-06-17 12:17] whedon commented on #3124
OK, the reviewer has been re-invited.

@abhishekbajpayee please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-17 13:32] khinsen commented on #3224
Just chiming in to say that for me this is ready for printing. Virtually of course ;-)

[2021-06-17 13:39] Geogoeroe commented on #3346
Hi @gro5-AberUni,
I got stuck before actually really trying the plugin.... I used the description on downloading, but... The plugin manager says it doesn’t install:
![image](https://user-images.githubusercontent.com/9982061/122407315-d408a800-cf81-11eb-819d-505ba93e12ce.png)

However, it does… with that __MACOSX as an invalid extra plugin.

So I gave it a go anyway. The plugin loads data (both fro

[2021-06-17 13:53] csoneson commented on #3290
Thanks @federicomarini! Would you also update the checklist above for completeness?

[2021-06-17 14:03] csoneson commented on #3304
@whedon assign @csoneson as editor

[2021-06-17 14:03] whedon commented on #3304
OK, the editor is @csoneson

[2021-06-17 14:12] pibion commented on #2484
@whedon set 10.5281/zenodo.4968576 as archive

[2021-06-17 14:12] whedon commented on #2484
OK. <a href="https://doi.org/10.5281/zenodo.4968576" target="_blank">10.5281/zenodo.4968576</a> is the archive.

[2021-06-17 14:13] pibion commented on #2484
@openjournals/jose-eics this submission is now ready for final review!

[2021-06-17 14:17] fboehm commented on #3372
@danielskatz - I'd be happy to serve as editor for this submission.

[2021-06-17 14:17] pibion commented on #2694
@wesleyburr I've reached out to @tystan through email just in case they're not getting notifications.

[2021-06-17 14:42] danielskatz commented on #2484
Thanks @pibion - the final steps for you are usually to run ```@whedon accept``` and then to tell @openjournals/joss-eics (not jose...) that the output looks good - can you do this?

[2021-06-17 14:44] danielskatz commented on #3372
Thanks @fboehm - can you go ahead and take it then, via the command ```@whedon assign me as editor```, and then remove the waitlisted tag?  (You can always do this with any paper that's not undergoing scope review (with the `query-scope` tag)

[2021-06-17 14:46] lpantano commented on #3378
@whedon assign @lpantano as editor

[2021-06-17 14:46] whedon commented on #3378
OK, the editor is @lpantano

[2021-06-17 14:47] lpantano commented on #3201
@yoonjeongcha, do you think you could wrap up this in the next week or give a timeline? thanks!

[2021-06-17 14:47] danielskatz commented on #3378
Thanks @lpantano - just FYI, for submissions with a `waitlisted` tag, you should also remove that tag when you take on a submission.

[2021-06-17 14:48] fboehm commented on #3372
@whedon assign me as editor

[2021-06-17 14:49] whedon commented on #3372
OK, the editor is @fboehm

[2021-06-17 14:50] lpantano commented on #3378
@otre99, would you like to review this tool? thanks!

[2021-06-17 14:52] lpantano commented on #3378
@dridk, could you add or point in the readme to the docs for a quick start steps by step. I see that you have examples in the repository, and I found that reviewer is faster if you add documentation to show how to load an exmaple, and the few features that you can do with your tool. Thanks!

[2021-06-17 15:02] kthyng commented on #3319
Sure, I'll just be a bit slow with all the other papers I'm handling too.

[2021-06-17 15:02] whedon commented on #3319
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-17 15:02] kthyng commented on #3319
@whedon assign me as editor

[2021-06-17 15:02] whedon commented on #3319
OK, the editor is @kthyng

[2021-06-17 15:03] yoonjeongcha commented on #3201
Yes, I can definitely do that! I have to admit this is my first time reviewing a package so I'm not sure I'll catch any additional issues, but I will try my best!

[2021-06-17 15:04] kthyng commented on #3221
@JannisHoch Can you check off the box about "Functionality" in your review checklist if it has been satisfied, or otherwise open an issue/post a comment about what you have a concern about?

[2021-06-17 15:06] JannisHoch commented on #3221
Done @

[2021-06-17 15:07] pibion commented on #2484
@whedon accept

[2021-06-17 15:07] whedon commented on #2484
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-06-17 15:07] pibion commented on #2484
@whedon recommend-accept

[2021-06-17 15:07] whedon commented on #2484
[code]

[2021-06-17 15:07] whedon commented on #2484
[code]

[2021-06-17 15:08] danielskatz commented on #2484
Sorry - I forgot that had changed...

[2021-06-17 15:08] whedon commented on #2484
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2397

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2397, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-17 15:08] pibion commented on #2484
@openjournals/joss-eics this paper is ready for its final review!

[2021-06-17 15:10] kthyng commented on #3221
Excellent! Thanks everyone! We'll move to the next steps now.

[2021-06-17 15:10] kthyng commented on #3221
@thurber what version would you like to associate with your JOSS submission?

[2021-06-17 15:11] kthyng commented on #3221
@thurber  please make an archive of your software at a place like Zenodo, and make sure that the title and author list exactly match your JOSS paper.

[2021-06-17 15:11] kthyng commented on #3221
@whedon generate pdf

[2021-06-17 15:12] kthyng commented on #3221
@whedon check references

[2021-06-17 15:12] whedon commented on #3221
[code]

[2021-06-17 15:12] whedon commented on #3221
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03221/joss.03221/10.21105.joss.03221.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03221/joss.03221/10.21105.joss.03221.pdf) :page_facing_up: :point_left:

[2021-06-17 15:15] tsalo commented on #3103
Thank you @oliviaguest! We're happy to wait. We're just glad to have a better understanding of the timeline.

[2021-06-17 15:19] kthyng commented on #3221
@thurber Please check out that invalid DOI listing above. Other paper comments:
* Your first reference (for Github) seems to need an author. Can you find something reasonable to put there?
* Yoon et al title has a spacing issue
* Should "Earth" be capitalized in several of the references? You can preserve capitalization with {} around characters, words, or full bibtex lines.

[2021-06-17 15:20] wesleyburr commented on #2694
Great, thanks. I realized yesterday that we're coming up on the one-year anniversary! And it feels sad that after @jspaezp did such a great job, that we've been stuck for so long. Not blaming you at all - pandemics are hard!

[2021-06-17 15:31] danielskatz commented on #2484
@dghoshal-lbl - Do you want to update the title metadata in the Zenodo archive to match the paper title?  It's not required, but it's usual for JOSS submissions and archives

[2021-06-17 15:38] vsoch commented on #3295
I'm good! My concerns with respect to the checklist were:

 - no information about automated tests
 - missing a proper discussion about other container technologies / comparisons
 - installation instructions

And the authors have resolved these issues so my checklist is complete.

[2021-06-17 15:38] dridk commented on #3378
@lpantano Done ! https://github.com/labsquare/CutePeaks/commit/f09e4fd464dce80883e200ecda6847e267f3fca4.
By the way, you have a binary available for each platform. It should be easy to run it :https://labsquare.github.io/CutePeaks/

[2021-06-17 15:39] dghoshal-lbl commented on #2484
@danielskatz This time I intentionally kept the title metadata in Zenodo as the name of the software since the archive is for the software :). But I think it would be good to match it with the JOSS paper title. I will change that.

[2021-06-17 15:40] dghoshal-lbl commented on #2484
Done!

[2021-06-17 15:40] danielskatz commented on #2484
@dghoshal-lbl - I've also found a few things in the paper while proofreading it - see https://bitbucket.org/sciencecapsule/sciencecapsule/pull-requests/54

[2021-06-17 15:41] danielskatz commented on #3295
Thanks @vsoch!

[2021-06-17 15:56] jedbrown commented on #3314
@whedon add @volpatto as reviewer

[2021-06-17 15:56] whedon commented on #3314
OK, @volpatto is now a reviewer

[2021-06-17 15:58] jedbrown commented on #3314
@volpatto :wave: Welcome to JOSS and thanks for agreeing to review!

The comments from @whedon up top :point_up: outline the review process, which takes place in this thread (possibly with issues filed in the rsudp repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our c

[2021-06-17 15:59] jedbrown commented on #2936
Thanks @ketch. I'm fine with your August timeline. Please let us know if anything comes up that would cause further delays.

[2021-06-17 15:59] jedbrown commented on #2936
@whedon add @ketch as reviewer

[2021-06-17 15:59] whedon commented on #2936
OK, @ketch is now a reviewer

[2021-06-17 16:03] jedbrown commented on #2936
@whedon add @jshipton as reviewer

[2021-06-17 16:03] whedon commented on #2936
OK, @jshipton is now a reviewer

[2021-06-17 16:03] jedbrown commented on #2936
@whedon start review

[2021-06-17 16:09] jedbrown commented on #2936
@whedon start review

[2021-06-17 16:11] jGaboardi commented on #3330
@whedon generate pdf

[2021-06-17 16:11] whedon commented on #3330
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03330/joss.03330/10.21105.joss.03330.pdf) :page_facing_up: :point_left:

[2021-06-17 16:14] jGaboardi commented on #3330
We have fixed the issue with missing DOIs.

[2021-06-17 16:20] arfon commented on #2936
@whedon start review

[2021-06-17 16:24] arfon commented on #2936
@jedbrown Whedon is failing here as it looks like the author may have withdrawn the submission on the JOSS site.

@jcorbino - can you confirm you're still interested in pursuing this publication in JOSS?

[2021-06-17 16:36] krystophny commented on #3364
Sorry, I'm too busy right now to do another review.

[2021-06-17 16:39] danielskatz commented on #2936
I see from the author

and then

[2021-06-17 16:40] danielskatz commented on #2936
So it seems like this should go forward, but that perhaps there is (was) an issue with how whedon handled the author's request to withdraw, which it should have ignored, or maybe something else went wrong along the way

[2021-06-17 16:48] jcorbino commented on #2936
Hi @arfon ,

Yes, I'm still interested in pursing this publication in JOSS. And as @danielskatz pointed out, at some point in time I tried to withdraw the article but it kind of ended up in limbo. If there's anything I can do to fix this, please let me know.

[2021-06-17 16:48] danielskatz commented on #2484
Let me know if this doesn't look right - I'm not really used to bitbucket PRs, so it's possible I've done something wrong

[2021-06-17 17:07] dghoshal-lbl commented on #2484
@danielskatz Thanks for the proofread and the fixes! I have merged your changes and also fixed a missing citation. Let me know if everything looks good and I will update the Zenodo archive.

[2021-06-17 17:08] danielskatz commented on #2484
@whedon check references

[2021-06-17 17:08] danielskatz commented on #2484
@whedon generate pdf

[2021-06-17 17:08] whedon commented on #2484
[code]

[2021-06-17 17:09] whedon commented on #2484
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02484/joss.02484/10.21105.joss.02484.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02484/joss.02484/10.21105.joss.02484.pdf) :page_facing_up: :point_left:

[2021-06-17 17:10] danielskatz commented on #2484
This looks good to me - if you want to update the archive, that's fine, though it's not required. Let me know either way, and I'll optionally update the archive address, and then finish the publishing of the paper

[2021-06-17 17:14] dghoshal-lbl commented on #2484
If it's not required then it should be good to go. Thanks!

[2021-06-17 17:15] danielskatz commented on #2484
@whedon accept deposit=true

[2021-06-17 17:15] whedon commented on #2484
[code]

[2021-06-17 17:15] whedon commented on #2484
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1405574920365645825) 👈 🐦🐦🐦

[2021-06-17 17:15] whedon commented on #2484
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2398
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02484](https://doi.org/10.21105/joss.02484)
2. If everything look

[2021-06-17 17:18] danielskatz commented on #3310
@pibion - would you be willing to edit this submission?

[2021-06-17 17:18] danielskatz commented on #3310
@whedon invite @pibion as editor

[2021-06-17 17:18] whedon commented on #3310
@pibion has been invited to edit this submission.

[2021-06-17 17:22] danielskatz commented on #2484
Congratulations to @dghoshal-lbl (Devarshi Ghoshal) and co-authors!!

And thanks to @colbrydi, @gflofst, and @atrisovic for reviewing, and @pibion for editing!

[2021-06-17 17:22] #2484 closed

[2021-06-17 17:22] whedon commented on #2484
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02484/status.svg)](https://doi.org/10.21105/joss.02484)

**We need your help!**

Journal of Open Source Softwa

[2021-06-17 17:27] jedbrown commented on #2936
Thanks. Whedon reported that the request was invalid (needs editor or AEiC) so I'd hope its internal state was not impacted. @arfon Is there a prod that can be done so Whedon can proceed or do we need to start over in some form?

[2021-06-17 17:44] pibion commented on #2694
@wesleyburr I know, right??  It was much easier to get things done at the beginning of the pandemic.  Now people are well and truly exhausted.  I'll start reaching out to additional potential reviewers next week depending on the response.

And thanks so much for your patience, this has been an incredibly long wait.

[2021-06-17 17:48] pibion commented on #3310
@whedon assign me as editor

[2021-06-17 17:48] whedon commented on #3310
OK, the editor is @pibion

[2021-06-17 17:49] pibion commented on #3310
@arfon happy to take this one.

[2021-06-17 17:50] danielskatz commented on #2936
I'm fairly sure this can't be fixed via a whedon command, and my guess is that @openjournals/dev can fix it rather than us having to start it over

[2021-06-17 17:51] pibion commented on #3310
@fjprichard I'll be your editor for this submission, nice to meet you!

Just as a heads up, my experience has been that people are pretty tired right now and so it sometimes takes a while to find reviewers.  We have learned a lot of good methods through the course of the pandemic, though, so I'm optimistic we'll manage this in a reasonable time!

Do you have any reviewers to recommend for this sub

[2021-06-17 18:38] will-rowe commented on #3369
Sorry for the slow reply @danielskatz - I'm moving house and am due to go on annual leave for 2 weeks. Could we find another editor for this one?

[2021-06-17 18:52] danielskatz commented on #3369
We can try - worst case it will still be looking for an editor in 2 weeks, so keep it in mind when you are free again :)

[2021-06-17 18:52] danielskatz commented on #3369
I'll put it on the waiting list for now, since we are short of editors currently (but are working to resolve this issue)

[2021-06-17 18:57] danielskatz commented on #3158
I'm continuing to look for a second reviewer, now via https://twitter.com/danielskatz/status/1405600484442923014?s=20

[2021-06-17 20:04] dfm commented on #3368
@whedon assign me as editor

I'm on holiday with limited internet so I'll be back online with more feedback/searching for reviewers next week. Thanks for your patience!

[2021-06-17 20:04] whedon commented on #3368
OK, the editor is @dfm

[2021-06-17 20:06] Kevin-Mattheus-Moerman commented on #3255
@bhajay can you please update us on review progress? It would be great if you could pick this up again and let us know what the remaining issues are. Thanks again for your help!

[2021-06-17 20:10] Kevin-Mattheus-Moerman commented on #3190
@yangbai90 @littlelazy6 @ksyang2013 the author has implemented changes that need your attention. Are you able to review them? Thanks.

[2021-06-17 20:11] Kevin-Mattheus-Moerman commented on #3190
@ksyang2013 can you please update me on review progress? Are you able to tick the boxes at the top of this issue? Thanks.

[2021-06-17 20:36] strengejacke commented on #3372
May I suggest some reviewers (no specific order):

- JohnCoene
- trinker
- garretrc
- MatthewSmith430
- cdcrabtree
- jakobbossek
- tweed1e

[2021-06-17 21:30] diehlpk commented on #3350
@danielskatz I can take this paper.

[2021-06-17 21:31] diehlpk commented on #3350
@whedon assign @diehlpk as editor

[2021-06-17 21:31] whedon commented on #3350
OK, the editor is @diehlpk

[2021-06-17 23:59] diehlpk commented on #3350
Hi @IgorBaratta @HaoZeke @mikaem @gassmoeller @chennachaos @yangbai90 @thelfer @capitalaslash would you be interested in reviewing this paper?

[2021-06-18 00:03] diehlpk commented on #3309
Hey, @AvianaGlobal @a-r-j @chekoduadarsh @diegoonna @coljac @davismcc would you be interested in reviewing this paper?

[2021-06-18 00:07] diehlpk commented on #3231
@vijaysm Can you still review the paper? One reviewer disappeared and I could need some help here.

[2021-06-18 00:08] HaoZeke commented on #3350
I'd be happy to take this, but I just moved and might need some more time than usual. Am also a little backed up with other things.

[2021-06-18 01:06] diehlpk commented on #3350
No worries if you need a little bit longer.

[2021-06-18 01:07] diehlpk commented on #3350
@whedon assign @HaoZeke as reviewer

[2021-06-18 01:07] whedon commented on #3350
OK, @HaoZeke is now a reviewer

[2021-06-18 04:22] jacobmerson commented on #3307
@diehlpk there are still a few more potential reviewers that I found that haven't been pinged yet, but I'm wondering if there is a flaw in my methodology for choosing potential reviewers. Do you have suggestions on what I should be looking for?

[2021-06-18 05:57] rougier commented on #3158
I can probably review starting next week.

[2021-06-18 06:15] mikldk commented on #3377
@danielskatz I can edit this if you want?

[2021-06-18 07:57] euronion commented on #3294
Hi @kanderso-nrel ,
Thanks for your comments and issues you brought up!

Some additional information on the license which might be relevant:
We're using [REUSE](https://reuse.software/) with our software and repository. That's why there is a `LICENSES` folder. We checked and restored REUSE compliance in a recent update this week and added the appropriate badge (see https://github.com/PyPSA/atlite/

[2021-06-18 08:22] gro5-AberUni commented on #3346
Hi Erik, Thanks for getting in touch.

The first error you received: "No named '__MACOSX/regiongrow'" shouldn't cause any issues, the ZIP directory that QGIS uses to install the plugin was created on a MACOS system which automatically includes a directory '__MACOSX' containing data and resource forks for the zip directory which QGIS was attempting to install as a plugin. I've adjusted the Zip dire

[2021-06-18 08:31] ChWick commented on #3297
@whedon generate pdf

[2021-06-18 08:31] whedon commented on #3297
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: :point_left:

[2021-06-18 08:36] ChWick commented on #3297
@arfon Thank you very much for this comment! We agree that this section required some modification which I guess is also in the interest of the other two reviewers!
We completely rewrote the section in order to clarify but also highlight the "Need" of _tfaip_. Please let us know if you have additional remarks.

Please also see Planet-AI-GmbH/tfaip#4.

[2021-06-18 09:00] ashwinvis commented on #3261
@pdebuyl I am willing to review this, but since I am on vacation, realistically the earliest I can complete review would be the end of August.

[2021-06-18 09:07] mviereck commented on #3295
The installtion instructions and dependency declaration has been rewritten and clearly state the third party tools now including their source, license and origin. This is done well and no longer an acceptance blocker.

Now I continue to work on the checklist.

[2021-06-18 09:13] martindevora commented on #3335
@danielskatz I would like you to provide precise hints to better understand your statements. We took some effort to adapt our project to comply with the JOSS requirements, though it seems that we didn't do well. It is fair to me that you reject the paper, but the way you have provided the preliminary feedback which led to reject the paper is not giving any useful information that could help us to

[2021-06-18 09:24] timtroendle commented on #3294
Hi @kanderso-nrel and @euronion, thanks for pointing this out. I needed to do some research myself first to understand whether the licensing would be of any problem for JOSS. The points mentioned in your comments (1) and (3) are fine, @kanderso-nrel. The Creative Commons licenses are fine as long as they are used for documentation and data only. The placeholder line in the BSD-2 file is unusual, b

[2021-06-18 09:25] tystan commented on #2694
Hi all. Apologies for the radio silence. I will be starting this in earnest next week and feel free to pester me as much as you want until I finish it!

[2021-06-18 09:50] arfon commented on #3298
:wave: @HaoZeke, @joglekara – just checking in here. I don't see much activity here yet on the review – anything I can do to help move this along?

[2021-06-18 09:57] xuanxu commented on #3257
@grburgess did you have the oportunity to address the reviewers' comments?

[2021-06-18 10:05] arfon commented on #2936
@whedon start review

[2021-06-18 10:06] arfon commented on #2936
@whedon start review

[2021-06-18 10:06] whedon opened #3380 "[REVIEW]: MOLE: Mimetic Operators Library Enhanced"
**Submitting author:** @jcorbino (<a href="http://orcid.org/0000-0002-2638-9216">Johnny Corbino</a>)
**Repository:** https://github.com/jcorbino/mole
**Branch with paper.md** (empty if default branch):
**Version:** v3.0.0
**Editor:** @jedbrown
**Reviewers:** @ketch, @jshipton
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JO

[2021-06-18 10:06] whedon commented on #2936
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3380.

[2021-06-18 10:06] #2936 closed

[2021-06-18 10:06] whedon commented on #3380
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ketch, @jshipton it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-06-18 10:06] whedon commented on #3380
[code]

[2021-06-18 10:06] whedon commented on #3380
Failed to discover a `Statement of need` section in paper

[2021-06-18 10:06] whedon commented on #3380
[code]

[2021-06-18 10:06] arfon commented on #2936
OK, looks like we're moving again :-)

[2021-06-18 10:06] whedon commented on #3380
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03380/joss.03380/10.21105.joss.03380.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03380/joss.03380/10.21105.joss.03380.pdf) :page_facing_up: :point_left:

[2021-06-18 10:08] arfon commented on #3349
@jkrumbiegel – please move your paper into the new repository (https://github.com/JuliaPlots/Makie.jl)

[2021-06-18 11:46] dmey commented on #2863
Sorry, this seems to be dragging on forever! If it's not too much of an issue, can we wait another couple of weeks and if I don't hear back by the first week of July we go ahead with this as is?

[2021-06-18 11:50] danielskatz commented on #3377
Thanks @mikldk - Anytime you see something that's not under scope review and that you would like to edit, just take it via ```@whedon assign @mikldk as editor``` and removing the `waitlisted` tag if needed

[2021-06-18 11:50] danielskatz commented on #3377
@whedon assign @mikldk as editor

[2021-06-18 11:50] whedon commented on #3377
OK, the editor is @mikldk

[2021-06-18 11:51] whedon opened #3381 "[PRE REVIEW]: pollucheck v1.0: A package to explore open-source air pollution data"
**Submitting author:** @adithirgis (<a href="http://orcid.org/0000-0002-1764-1379">Adithi Upadhya</a>)
**Repository:** <a href="https://github.com/adithirgis/pollucheck" target ="_blank">https://github.com/adithirgis/pollucheck</a>
**Version:** 1.0.0
**Editor:** @ajstewartlang
**Reviewers:** @nmstreethran, @ibarraespinosa
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :war

[2021-06-18 11:51] whedon commented on #3381
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-18 11:51] whedon commented on #3381
Failed to discover a `Statement of need` section in paper

[2021-06-18 11:51] whedon opened #3382 "[PRE REVIEW]: Epimargin: A Toolkit for Epidemiological Estimation, Prediction, and Policy Evaluation"
**Submitting author:** @satejsoman (<a href="http://orcid.org/0000-0001-8450-7025">Satej Soman</a>)
**Repository:** <a href="https://github.com/COVID-IWG/epimargin" target ="_blank">https://github.com/COVID-IWG/epimargin</a>
**Version:** v0.5.2
**Editor:** @Nikoleta-v3
**Reviewers:** @wxwx1993, @dilawar
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2021-06-18 11:51] whedon commented on #3381
[code]

[2021-06-18 11:51] whedon commented on #3381
[code]

[2021-06-18 11:51] whedon commented on #3382
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-18 11:52] whedon commented on #3382
[code]

[2021-06-18 11:52] whedon commented on #3381
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03381/joss.03381/10.21105.joss.03381.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03381/joss.03381/10.21105.joss.03381.pdf) :page_facing_up: :point_left:

[2021-06-18 11:52] whedon commented on #3382
[code]

[2021-06-18 11:52] whedon commented on #3382
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03382/joss.03382/10.21105.joss.03382.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03382/joss.03382/10.21105.joss.03382.pdf) :page_facing_up: :point_left:

[2021-06-18 12:03] danielskatz commented on #3335
@martindevora - thanks for your kindly-written concern. These decisions are never easy to explain, unfortunately, as they come from the editorial board, made of human beings who each have their own opinions and styles.  The comment I provided summarizes individual comments from editors. I'll ask that if any of our astronomy-focused members of the editorial board (@arfon @dfm @xuanxu) want to provi

[2021-06-18 12:08] mikldk commented on #3377
@giovannic:

- [ ] Can you please fix the missing DOI?
- [ ] Currently, the paper is too long (see the [docs](https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain)) -- there are lots of good material. Have you considered moving some of the material to vignettes?

[2021-06-18 12:13] majensen commented on #3302
@whedon assign me as editor

[2021-06-18 12:13] whedon commented on #3302
OK, the editor is @majensen

[2021-06-18 12:13] fgeertman commented on #2733
Hi, I started now, but cannot edit/ select stuff in the review checklist. any ideas?

[2021-06-18 12:16] majensen commented on #3302
@sara-02 are you still interested in reviewing [this work](#3302) for JOSS? Thx

[2021-06-18 12:27] danielskatz commented on #3302
@majensen - thanks!  When you take something from the waiting list, can you also remove the tag, just to keep things clean?

[2021-06-18 12:28] danielskatz commented on #3382
@satejsoman - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

In the meantime, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon ch

[2021-06-18 12:31] danielskatz commented on #3381
@adithirugis - thanks for your submission.
Due to a current shortage of editors (that we are working to resolve), I'm going to put it on our waiting list until an appropriate editor is available.

In addition, you could work on the possibly missing DOIs that whedon suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check

[2021-06-18 12:39] danielskatz commented on #2733
@whedon re-invite @fgeertman as reviewer

[2021-06-18 12:39] whedon commented on #2733
OK, the reviewer has been re-invited.

@fgeertman please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-18 12:39] danielskatz commented on #2733
@fgeertman - ☝️ should solve the problem.

[2021-06-18 12:40] fgeertman commented on #2733
Thanks Daniel, it does.

[2021-06-18 13:00] joglekara commented on #3298
Thanks for the reminder @arfon , I'm up and running

[2021-06-18 13:18] marcosvital commented on #2692
Thank you for you update, @Manolomon!

@SteveViss and @62442katieb, I know this review is taking a long time, so please let me know if you are still available to carry on with this, ok?

[2021-06-18 13:24] KristinaRiemer commented on #3259
@whedon add @fsanchez-trigueros as reviewer

[2021-06-18 13:24] whedon commented on #3259
OK, @fsanchez-trigueros is now a reviewer

[2021-06-18 13:25] KristinaRiemer commented on #3259
@whedon start review

[2021-06-18 13:25] whedon opened #3383 "[REVIEW]: gamut: A Geospatial Analysis of Multisector Urban Teleconnections"
**Submitting author:** @KristianNelson (<a href="http://orcid.org/0000-0002-6745-167X">Kristian Nelson</a>)
**Repository:** <a href="https://github.com/IMMM-SFA/gamut" target ="_blank">https://github.com/IMMM-SFA/gamut</a>
**Version:** v0.1.0
**Editor:** @KristinaRiemer
**Reviewer:** @fsanchez-trigueros
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2021-06-18 13:25] whedon commented on #3259
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3383.

[2021-06-18 13:25] #3259 closed

[2021-06-18 13:25] whedon commented on #3383
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @fsanchez-trigueros it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-06-18 13:26] whedon commented on #3383
[code]

[2021-06-18 13:26] whedon commented on #3383
[code]

[2021-06-18 13:26] whedon commented on #3383
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03383/joss.03383/10.21105.joss.03383.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03383/joss.03383/10.21105.joss.03383.pdf) :page_facing_up: :point_left:

[2021-06-18 13:27] KristinaRiemer commented on #3259
Hi @jsta and @fsanchez-trigueros, thank you again for agreeing to review this JOSS submission! The review will happen in the GitHub issue linked to in the above comment, so go over there and check out the guidelines for reviewing and the checklist. Feel free to create issues for the submission author @KristianNelson in the software repo and comment in the review issue. And let me know if you have

[2021-06-18 13:35] KristinaRiemer commented on #2575
Congrats @holukas, and thanks for reviewing @mccabete and @r-barnes!

[2021-06-18 13:35] AndreasPhilippi commented on #3280
@whedon check references

[2021-06-18 13:35] whedon commented on #3280
[code]

[2021-06-18 13:37] AndreasPhilippi commented on #3280
@whedon generate pdf

[2021-06-18 13:37] whedon commented on #3280
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03280/joss.03280/10.21105.joss.03280.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03280/joss.03280/10.21105.joss.03280.pdf) :page_facing_up: :point_left:

[2021-06-18 13:37] jkrumbiegel commented on #3349
@arfon All right, I have moved the paper to https://github.com/JuliaPlots/Makie.jl/tree/joss-paper

[2021-06-18 13:43] rosecers commented on #3325
I'm not convinced of the scholarly effort. My largest concern comes from the citability and need within the community -- there are no publications that mention "pyrexMD", and the publications of the two authors using REMD (3 as of 2020) have not yet been cited*. To this end, the authors need to comment on two things: the breadth of scope of this software (it appears quite narrow), and whether simi

[2021-06-18 13:43] AndreasPhilippi commented on #3280
@kthyng We have updated the paper and hope that the statement of needs is clear. Let me now if there are still uncertainties.

[2021-06-18 13:45] fgeertman commented on #2733
Review Question:  •	Installation: Does installation proceed as outlined in the documentation?

JASP for Audit is part of JASP. JASP is to download from https://jasp-stats.org/ . No issues noted at installation. It is however recommended to refer to JASP, and where it can be downloaded and how the Audit module can be made (in)visible

[2021-06-18 13:52] diehlpk commented on #3307
@jacobmerson I think you are doing nothing wrong. During the pandemic, it is not easy to find reviewers. In addition, your paper has some specific use case and not a really broad one.

Please post the reviewers and I will ping them.

[2021-06-18 14:22] phamvanvung commented on #3158
I can also review starting Friday next week onward.

[2021-06-18 14:27] danielskatz commented on #3158
Great, thanks to both of you - I'm going to add you both, and start the review, but you don't need to start immediately

[2021-06-18 14:28] danielskatz commented on #3158
@whedon add @rougier as reviewer

[2021-06-18 14:28] whedon commented on #3158
OK, @rougier is now a reviewer

[2021-06-18 14:28] danielskatz commented on #3158
@whedon add @phamvanvung as reviewer

[2021-06-18 14:28] whedon commented on #3158
OK, @phamvanvung is now a reviewer

[2021-06-18 14:28] danielskatz commented on #3158
@whedon start review

[2021-06-18 14:28] whedon opened #3384 "[REVIEW]: FURY: advanced scientific visualization"
**Submitting author:** @garyfallidis (<a href="http://orcid.org/0000-0002-3991-2774">Eleftherios Garyfallidis</a>)
**Repository:** <a href="https://github.com/fury-gl/fury" target ="_blank">https://github.com/fury-gl/fury</a>
**Version:** v0.7.1
**Editor:** @danielskatz
**Reviewer:** @chrishavlin, @rougier, @phamvanvung
**Archive:** <a href="https://doi.org/10.5281/zenodo.5160945" target="_blank">

[2021-06-18 14:28] whedon commented on #3158
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3384.

[2021-06-18 14:28] #3158 closed

[2021-06-18 14:28] whedon commented on #3384
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @chrishavlin, @rougier, @phamvanvung it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blo

[2021-06-18 14:28] whedon commented on #3384
[code]

[2021-06-18 14:29] whedon commented on #3384
[code]

[2021-06-18 14:29] whedon commented on #3384
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03384/joss.03384/10.21105.joss.03384.pdf) :page_facing_up: :point_left:

[2021-06-18 14:29] kbarnhart commented on #3345
@amoodie a quick update. I'm presently reaching out to reviewers over email. @zsylvester has kindly agreed to provide a review.

I'll work to find one or two more reviewers (two or three total) and then start the review issue.

[2021-06-18 14:30] kbarnhart commented on #3345
@whedon add @zsylvester as reviewer

[2021-06-18 14:30] whedon commented on #3345
OK, @zsylvester is now a reviewer

[2021-06-18 14:30] danielskatz commented on #3384
@chrishavlin, @rougier, and @phamvanvung - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS revie

[2021-06-18 14:33] KristinaRiemer commented on #3259
@kthyn I'm not sure what happened here, but it doesn't look like @jsta was included as a reviewer in the review issue? I think I assigned the reviewers correctly?

[2021-06-18 14:36] danielskatz commented on #3259
For some reason, @whedon didn't respond to that request. We can fix it in the review issue, which I'll go ahead and do

[2021-06-18 14:36] danielskatz commented on #3383
@whedon add @jsta as reviewer

[2021-06-18 14:36] whedon commented on #3383
OK, @jsta is now a reviewer

[2021-06-18 14:39] slwu89 commented on #3377
Hi @mikldk

I hope you don't mind me replying here; @giovannic has brilliantly led the software development but I was responsible for much of the paper text. I'll update those missing DOIs shortly.

I can shorten the paper by getting rid of all text beginning with the "Overview" on Page 4 and continuing to the end (although retaining Figure 1, which I think is quite important). I suspect though th

[2021-06-18 14:39] danielskatz commented on #3259
ok, it's now fixed - let @openjournals/joss-eics know (in the review issue) if there is any further issue

[2021-06-18 14:42] VivianePons commented on #3315
@whedon set @dawbarton as reviewer

[2021-06-18 14:42] whedon commented on #3315
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-18 14:43] VivianePons commented on #3315
@whedon assign @dawbarton as reviewer

[2021-06-18 14:43] whedon commented on #3315
OK, @dawbarton is now a reviewer

[2021-06-18 14:48] benjaminbolling commented on #3246
@majensen thank you for looking for a reviewer, and thanks anyways @amoeba. I will sit down this evening as well to look for a possible reviewer for the package.

[2021-06-18 14:57] 62442katieb commented on #2692
Hi @marcosvital and @Manolomon ! I'm happy to continue reviewing, but have a conference and my defense in the next two weeks, so I probably won't get to it until the first week of July. Looking forward to sifting through the updated documentation!

[2021-06-18 15:26] vijaysm commented on #3231
@diehlpk I'm swamped until end of next week with a conference. But can review this after. Let me know if that timeline would work.

[2021-06-18 15:29] drvinceknight commented on #2733
I believe I have now modified this correctly.

[2021-06-18 15:30] drvinceknight commented on #3266
Thank you. Starting then is no problem at all.

[2021-06-18 15:31] drvinceknight commented on #3266
@whedon assign @brunaw as reviewer

[2021-06-18 15:31] whedon commented on #3266
OK, @brunaw is now a reviewer

[2021-06-18 15:33] drvinceknight commented on #3266
Thank you @bonh for responding. No problem if you cannot review this submission.

If you can let me know what the other review is I'll chase up to try and make sure it's not a problem for you.

[2021-06-18 15:54] otre99 commented on #3378
I'd love to help you, but I can't at the moment. I'm sorry about that

El jue, 17 jun 2021 a las 10:38, sacha schutz ***@***.***>)
escribió:

[2021-06-18 15:57] diehlpk commented on #3231
Sure, that will work.

[2021-06-18 15:57] diehlpk commented on #3231
@whedon add @vijaysm as reviewer

[2021-06-18 15:57] whedon commented on #3231
OK, @vijaysm is now a reviewer

[2021-06-18 16:00] arfon commented on #3360
@whedon assign @drvinceknight as editor

[2021-06-18 16:00] whedon commented on #3360
OK, the editor is @drvinceknight

[2021-06-18 16:02] arfon commented on #3360
Thanks to @drvinceknight for agreeing to take this submission on 🙇

[2021-06-18 16:09] whedon opened #3385 "[PRE REVIEW]: eeg-preprocessing: A framework for semiautomatic preprocessing of EEG/MEG data"
**Submitting author:** @weiglszonja (<a href="http://orcid.org/0000-0001-6615-1360">Anna Szonja Weigl</a>)
**Repository:** <a href="https://github.com/weiglszonja/eeg-preprocessing" target ="_blank">https://github.com/weiglszonja/eeg-preprocessing</a>
**Version:** v0.2.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

D

[2021-06-18 16:09] whedon commented on #3385
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-18 16:09] whedon commented on #3385
[code]

[2021-06-18 16:09] whedon commented on #3385
[code]

[2021-06-18 16:10] whedon commented on #3385
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03385/joss.03385/10.21105.joss.03385.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03385/joss.03385/10.21105.joss.03385.pdf) :page_facing_up: :point_left:

[2021-06-18 16:16] danielskatz commented on #3385
👋 @weiglszonja - I'm sorry, but this submission has far too little code to meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might recei

[2021-06-18 16:16] danielskatz commented on #3385
@whedon reject

[2021-06-18 16:16] whedon commented on #3385
Paper rejected.

[2021-06-18 16:16] #3385 closed

[2021-06-18 17:12] ArtVoro commented on #3325
thank you for the feedback. i will try to solve most of the things mentioned over this weekend.

[2021-06-18 17:19] whedon commented on #3331
:wave: @danhey, please update us on how your review is going (this is an automated reminder).

[2021-06-18 17:19] whedon commented on #3331
:wave: @benjaminpope, please update us on how your review is going (this is an automated reminder).

[2021-06-18 17:57] jacobmerson commented on #3307
@diehlpk here they are. Thanks!

1. pratikvn
2. capitalaslash
3. bonh
4. chennachaos
5. mscroggs

[2021-06-18 18:11] jedbrown commented on #3380
@ketch @jshipton :wave: Welcome to JOSS and thanks for agreeing to review!

The comments from @whedon up top :point_up: outline the review process, which takes place in this thread (possibly with issues filed in the MOLE repository). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet

[2021-06-18 18:27] diehlpk commented on #3307
Hey @pratikvn @capitalaslash @bonh @chennachaos @mscroggs would you be interested to review this paper?

[2021-06-18 18:39] majensen commented on #3302
@danielskatz sure - sorry about that!

[2021-06-18 18:47] szorowi1 commented on #3262
Very sorry for the delay! I've worked through my review.

It's a very impressive piece of software. I've read through much of the documentation and several of the helpful tutorial videos. I haven't been able to test every aspect of its functionality, but I've successfully been able to install Datalad and work through the tutorials. I especially like the conversational style of the docs -- makes it

[2021-06-18 18:58] danielskatz commented on #3302
no worries, just trying to distribute work as we go forward in these overloaded times

[2021-06-18 19:52] arfon commented on #3297
@whedon generate pdf

[2021-06-18 19:53] whedon commented on #3297
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: :point_left:

[2021-06-18 19:57] arfon commented on #3297
@whedon generate pdf

[2021-06-18 19:58] whedon commented on #3297
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03297/joss.03297/10.21105.joss.03297.pdf) :page_facing_up: :point_left:

[2021-06-18 19:59] arfon commented on #3349
@whedon generate pdf from branch joss-paper

[2021-06-18 19:59] whedon commented on #3349
[code]

[2021-06-18 19:59] whedon commented on #3349
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03349/joss.03349/10.21105.joss.03349.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03349/joss.03349/10.21105.joss.03349.pdf) :page_facing_up: :point_left:

[2021-06-18 21:48] whedon commented on #3332
:wave: @jmp75, please update us on how your review is going (this is an automated reminder).

[2021-06-18 21:48] whedon commented on #3332
:wave: @mdbartos, please update us on how your review is going (this is an automated reminder).

[2021-06-19 05:22] adithirgis commented on #3381
@whedon check references

[2021-06-19 05:22] whedon commented on #3381
[code]

[2021-06-19 05:24] adithirgis commented on #3381
@whedon check references

[2021-06-19 05:25] whedon commented on #3381
[code]

[2021-06-19 05:27] adithirgis commented on #3381
Hi @danielskatz,

Thank you, we will wait for the review to start.
 Just to confirm, I added missing doi's in the paper.bib file I still get missing doi's when I try this command `@whedon check references`. Anything I am missing?

[2021-06-19 05:32] adithirgis commented on #3381
@whedon check references

[2021-06-19 05:32] whedon commented on #3381
[code]

[2021-06-19 05:33] adithirgis commented on #3381
@whedon generate pdf

[2021-06-19 05:33] whedon commented on #3381
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03381/joss.03381/10.21105.joss.03381.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03381/joss.03381/10.21105.joss.03381.pdf) :page_facing_up: :point_left:

[2021-06-19 05:41] adithirgis commented on #3381
@whedon check references

[2021-06-19 05:41] whedon commented on #3381
[code]

[2021-06-19 05:42] adithirgis commented on #3381
@whedon generate pdf

[2021-06-19 05:42] whedon commented on #3381
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03381/joss.03381/10.21105.joss.03381.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03381/joss.03381/10.21105.joss.03381.pdf) :page_facing_up: :point_left:

[2021-06-19 06:34] jorgegil commented on #3346
@gro5-AberUni  Would it be possible to share the different image files that you use in the paper and documentation?

That would allow reproducing exactly what is presented. It can be cropped images just of the sections shown in the paper. And these could be included in the repository.

Thanks
Jorge

[2021-06-19 07:37] arfon commented on #3297
@ChWick – I made a final few changes here: https://github.com/Planet-AI-GmbH/tfaip/pull/6

[2021-06-19 07:40] arfon commented on #2780
:wave: just checking in here. How are you getting on with your updates and revisions @onurvarol?

[2021-06-19 07:42] arfon commented on #2731
:wave: @essepuntato – just checking in here. Do you think you might be able to provide your review in the next couple of weeks?

[2021-06-19 07:53] arfon commented on #2588
:wave: @domengorjup @jankoslavic @klemengit – would any of you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

The submission under review is [_pyFBS: A Python package for Frequency Based Substructuring_](https://gitlab.com/pyFBS/pyFBS) and our

[2021-06-19 07:54] arfon commented on #3176
@cartemic – to help get this moving could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-06-19 07:55] arfon commented on #3184
@cwentland0 – could you take a look a [this list of potential reviewers](https://bit.ly/joss-reviewers) and identify a few people who would be good candidates to review this submission?

[2021-06-19 07:59] arfon commented on #2919
I'm going to step in here and help @richardjgowers move this submission forward.

Thanks @pvermees and @bovee for agreeing to review. If you're able to provide your initial review in 4-6 weeks that would be very acceptable. I'll go ahead now and set you up as reviewers and open the main review issue where you'll be given detailed instructions on how to proceed.

[2021-06-19 07:59] arfon commented on #2919
@whedon add @bovee as reviewer

[2021-06-19 07:59] whedon commented on #2919
OK, @bovee is now a reviewer

[2021-06-19 07:59] arfon commented on #2919
@whedon add @pvermees as reviewer

[2021-06-19 07:59] whedon commented on #2919
OK, @pvermees is now a reviewer

[2021-06-19 07:59] arfon commented on #2919
@whedon start review

[2021-06-19 07:59] whedon opened #3386 "[REVIEW]: Pychron: Automated Data Collection and Reduction for Noble Gas and Ar/Ar Geochronology"
**Submitting author:** @jirhiker (<a href="http://orcid.org/0000-0003-4727-7472">Jake Ross</a>)
**Repository:** https://github.com/NMGRL/pychron
**Branch with paper.md** (empty if default branch):
**Version:** v20.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @pvermees, @JennaEverard
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2021-06-19 07:59] whedon commented on #2919
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/3386.

[2021-06-19 07:59] #2919 closed

[2021-06-19 07:59] whedon commented on #3386
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bovee, @pvermees it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blo

[2021-06-19 08:00] arfon commented on #2919
@bovee, @pvermees – see you over in #3386 where the actual review will take place.

[2021-06-19 08:00] whedon commented on #3386
PDF failed to compile for issue #3386 with the following error:
[code]

[2021-06-19 08:00] arfon commented on #3386
@bovee, @pvermees – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. The

[2021-06-19 08:01] arfon commented on #3386
@whedon generate pdf from branch manuscript

[2021-06-19 08:01] whedon commented on #3386
[code]

[2021-06-19 08:02] whedon commented on #3386
[code]

[2021-06-19 08:02] whedon commented on #3386
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03386/joss.03386/10.21105.joss.03386.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03386/joss.03386/10.21105.joss.03386.pdf) :page_facing_up: :point_left:

[2021-06-19 08:08] arfon commented on #2184
:wave: @alvations and @desilinguist – just checking in here. Do you think you could take another look at this submission soon and the updates @flammie has made to improve the installation process?

[2021-06-19 10:06] koenderks commented on #2733
@whedon generate pdf from branch JOSS

[2021-06-19 10:06] whedon commented on #2733
[code]

[2021-06-19 10:06] whedon commented on #2733
PDF failed to compile for issue #2733 with the following error:
[code]

[2021-06-19 10:07] koenderks commented on #2733
@whedon generate pdf

[2021-06-19 10:08] whedon commented on #2733
PDF failed to compile for issue #2733 with the following error:
[code]

[2021-06-19 10:12] koenderks commented on #2733
Hi @drvinceknight,

It seems like whedon currently cannot find any papers to compile in the submission repository. Do you have any tips on how to resolve this issue? Many thanks in advance.

@fgeertman I will extend the manual so that it contains information on how/where to download JASP and how to make the audit module (in)visible.

[2021-06-19 12:06] danielskatz commented on #2733
@whedon generate pdf from branch JOSS

[2021-06-19 12:06] whedon commented on #2733
[code]

[2021-06-19 12:06] whedon commented on #2733
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02733/joss.02733/10.21105.joss.02733.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02733/joss.02733/10.21105.joss.02733.pdf) :page_facing_up: :point_left:

[2021-06-19 12:08] danielskatz commented on #2733
@koenderks - when this paper was submitted, the repository field was incorrectly filled in with the branch - I've fixed it to actually point to the repository, so that whedon can find the repository, then can be instructed which branch in it to use for the paper, as done above.

[2021-06-19 12:54] drvinceknight commented on #2733
I wonder if that error was caused by me when I modified things. Apologies and thanks @danielskatz for sorting it out.

[2021-06-19 13:39] whedon opened #3387 "[PRE REVIEW]: bmgarch: An R-Package for Bayesian Multivariate GARCH models"
**Submitting author:** @ph-rast (<a href="http://orcid.org/0000-0003-3630-6629">Philippe Rast</a>)
**Repository:** <a href="https://github.com/ph-rast/bmgarch" target ="_blank">https://github.com/ph-rast/bmgarch</a>
**Version:** v1.0.1
**Editor:** @jbytecode
**Reviewers:** @ChristopherLucas, @mwt
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challe

[2021-06-19 13:39] whedon commented on #3387
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-19 13:39] whedon opened #3388 "[PRE REVIEW]: Inteq: Solve Volterra and Fredholm integral equations in Python"
**Submitting author:** @mwt (<a href="http://orcid.org/0000-0003-0319-3891">Matthew Wildrick Thomas</a>)
**Repository:** <a href="https://github.com/mwt/inteq" target ="_blank">https://github.com/mwt/inteq</a>
**Version:** v0.2.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pande

[2021-06-19 13:39] whedon commented on #3388
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-06-19 13:39] whedon commented on #3387
[code]

[2021-06-19 13:39] whedon commented on #3387
Failed to discover a valid open source license.

[2021-06-19 13:39] whedon commented on #3387
[code]

[2021-06-19 13:40] whedon commented on #3388
[code]

[2021-06-19 13:40] whedon commented on #3388
[code]

[2021-06-19 13:40] whedon commented on #3387
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03387/joss.03387/10.21105.joss.03387.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03387/joss.03387/10.21105.joss.03387.pdf) :page_facing_up: :point_left:

[2021-06-19 13:40] whedon commented on #3388
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03388/joss.03388/10.21105.joss.03388.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03388/joss.03388/10.21105.joss.03388.pdf) :page_facing_up: :point_left:

[2021-06-19 13:42] danielskatz commented on #3388
👋 @mwt - I'm sorry to say that this submission does not meet the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  Please see https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-reviewing-and-publishing-software-packages for other suggestions for how you might receive credit for your

[2021-06-19 13:42] danielskatz commented on #3388
@whedon reject

[2021-06-19 13:42] whedon commented on #3388
Paper rejected.

[2021-06-19 13:42] #3388 closed

[2021-06-19 13:43] danielskatz commented on #3387
👋 @ph-rast - I (and whedon) don't see a license for this code. JOSS requires software to have an OSI-approved license for it to be reviewed

[2021-06-19 13:51] sara-02 commented on #3302
Hey @majensen Yes, I am interested in helping with this. However, I am available to review post 27th June onwards.

[2021-06-19 15:18] mwt commented on #3388
@danielskatz Was this because of the age and number of commits? The code dates back to a 2019 working paper on lobbying. It was eventually wrapped up into the `allpy` package for solving all-pay auctions/contests. It was then split off so that people outside of auction/contest theory can use it. So, the number of commits and initial date are misleading. The first commit is a working package and mo

[2021-06-19 15:32] danielskatz commented on #3388
See

in https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort

[2021-06-19 15:52] joglekara commented on #3298
@HaoZeke I've opened up an issue in the repo. I was thinking we can use the same tag to track remaining items. Also creating the breadcrumb here.

https://github.com/lcpp-org/RustBCA/issues/134

[2021-06-19 16:01] whedon commented on #3336
:wave: @cpalenzuela, please update us on how your review is going (this is an automated reminder).

[2021-06-19 16:01] whedon commented on #3336
:wave: @bgiacoma, please update us on how your review is going (this is an automated reminder).

[2021-06-19 17:22] fboehm commented on #3273
@Marie-PerrotDockes - would you please add hyperlinks from this thread to the issues that you opened? That way, we can track their completion in this thread.

Thanks again!

[2021-06-19 17:29] fboehm commented on #3372
:wave: @trinker & @JohnCoene & @garretrc & @MatthewSmith430, would any of you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html
Thank you for considering this!

[2021-06-19 17:29] fboehm commented on #3372
Thank you, @strengejacke, for the reviewer suggestions! Once we find two reviewers, the official review can begin.

[2021-06-19 18:20] MatthewSmith430 commented on #3372
@fboehm Happy to review this. What would be the timeline for completing the review?

[2021-06-19 20:13] PhilBoileau commented on #3273
Thank you for your comments, @Marie-PerrotDockes! I'll address them over the next few days.

[2021-06-19 22:36] PhilBoileau commented on #3273
Here are the links to the issues, @fboehm: PhilBoileau/cvCovEst#49, PhilBoileau/cvCovEst#49. @Marie-PerrotDockes, if you're satisfied with my responses and updates, feel free to close the issues!

[2021-06-20 00:08] karink520 commented on #3275
@drvinceknight Thank you! Apologies for being slow to reply this week - I have been out of office. Some possible reviewers from the list would be: eigenfoo, ejhigson, pmyteh, SuperKam91, matt-graham

[2021-06-20 12:09] bonh commented on #3096
Hi @melissawm,
the submission is still flagged for editorial review - so it is not done yet and I feel uncomfortable to start another review while that one still lingers around (even if I'm not a part of it anymore). My point is, that I might not have the heart to ask for another scope check (or some other editorial stuff) during the review of another submission even if I feel it might be needed -

[2021-06-20 12:20] danielskatz commented on #3096
@melissawm - to flag the AiEC, please mention @openjournals/joss-eics Doing a query scope command is generally intended for pre-review and doesn't get tracked well when done by an editor during a review.

[2021-06-20 12:29] mikldk commented on #3377
@slwu89 Maybe it is worth considering converting it to a preprint on e.g. [arXiv](https://arxiv.org/)? And refer to that from this JOSS paper for details?

[2021-06-20 13:58] fboehm commented on #3372
Thank you, @MatthewSmith430 ! We'd like to complete the review in the next month or so. Once I find a second reviewer, we can begin the review.

[2021-06-20 13:59] fboehm commented on #3372
@whedon assign @MatthewSmith430 as reviewer

[2021-06-20 13:59] whedon commented on #3372
OK, @MatthewSmith430 is now a reviewer

[2021-06-20 14:00] fboehm commented on #3273
Thank you, @PhilBoileau !

[2021-06-20 16:03] ejhigson commented on #3324
Hi @mikldk - I'm trying to update my checklist but I can't edit it. When I click on https://github.com/openjournals/joss-reviews/invitations I get a message saying "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account." Do you know what has gone wrong here? Please could you perhaps resend my invitatio

[2021-06-20 16:17] bstabler commented on #3172
Hi @semiautomaticgit.  Thank you for developing this powerful and extensive QGIS Semi-Automatic (Remote Sensing) Classification Plugin (SCP).  I was able to install the plugin and work my through [Tutorial 1](https://semiautomaticclassificationmanual-v5.readthedocs.io/en/latest/tutorial_1.html) and [Random Forest Classification](https://fromgistors.blogspot.com/2021/02/random-forest-classification

[2021-06-20 16:25] csoneson commented on #3304
👋🏻 @cmutel, @pjamesjoyce, @konstantinstadler - would (two of) you be willing to review this submission for JOSS?

[2021-06-20 17:06] cartemic commented on #3176
@arfon I filtered the list down by python and combustion, which (aside from kyleniemeyer, who is already editing) leaves arghdos, and mefuller. Expanding the filter to include thermodynamics, it looks like bocklund, arosen93, yes, fwitte, and mwerwee may also be good fits. All of them show 0 active reviews at the moment. Please let me know if there is anything more I can do to help!

[2021-06-20 17:17] semiautomaticgit commented on #3172
Hi @bstabler , thank you very much for reviewing my work!
I'm really glad that almost all the boxes were checked.
About your comments:

Unfortunately I don't think I can use QGIS unit testing framework with my plugin.
At the moment there is a test unit for checking the correct installation of dependencies and basic functionalities (such as numpy, GDAL subprocess, internet connection), which can be

[2021-06-20 17:38] isidentical commented on #3296
Thanks @yuhc @mjsottile @lutzhamel for your comments! I'm not sure if you still want to proceed or not, though by looking at the last comments I was able to collect a list of stuff to change in the documentation/paper itself and went with them ( https://github.com/reizio/reiz.io/commit/64ecc9b754d3698a328d984fc0f08bf5db21a5f9).

(I don't know how to change the title of this issue, though I dropped

[2021-06-20 17:38] isidentical commented on #3296
@whedon generate pdf

[2021-06-20 17:38] whedon commented on #3296
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03296/joss.03296/10.21105.joss.03296.pdf) :page_facing_up: :point_left:

[2021-06-20 18:44] mikldk commented on #3324
@whedon re-invite @ejhigson as reviewer

[2021-06-20 18:44] whedon commented on #3324
OK, the reviewer has been re-invited.

@ejhigson please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2021-06-20 18:58] konstantinstadler commented on #3304
@csoneson : I am on my last days before my vacation so I can not commit to this now. However, it is a very interesting piece of software. If you struggle to find reviewers you can ping me again on the 26th July and I would be happy to do a review then.

[2021-06-20 19:04] ejhigson commented on #3324
This has worked, thank you @mikldk!

[2021-06-20 19:52] dpsanders commented on #3079
@whedon set archive as 2.2106

[2021-06-20 19:52] whedon commented on #3079
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-06-20 19:52] dpsanders commented on #3079
@whedon commands

[2021-06-20 19:52] whedon commented on #3079
Here are some things you can ask me to do:

[code]

[2021-06-20 19:53] dpsanders commented on #3079
@whedon set 2.2106 as version

[2021-06-20 19:53] whedon commented on #3079
OK. 2.2106 is the version.

[2021-06-20 19:53] dpsanders commented on #3079
@whedon set https://zenodo.org/record/4968601#.YMpIOJpKirQ as archive

[2021-06-20 19:54] whedon commented on #3079
https://zenodo.org/record/4968601#.YMpIOJpKirQ doesn't look like an archive DOI.

[2021-06-20 19:54] dpsanders commented on #3079
@whedon set https://doi.org/10.5281/zenodo.4968601 as archive

[2021-06-20 19:54] whedon commented on #3079
OK. <a href="https://doi.org/10.5281/zenodo.4968601" target="_blank">10.5281/zenodo.4968601</a> is the archive.

[2021-06-20 19:54] dpsanders commented on #3079
@whedon recommend-accept

[2021-06-20 19:54] whedon commented on #3079
[code]

[2021-06-20 19:54] whedon commented on #3079
PDF failed to compile for issue #3079 with the following error:
[code]

[2021-06-20 19:56] dpsanders commented on #3079
@whedon generate pdf from branch joss_paper

[2021-06-20 19:56] whedon commented on #3079
[code]

[2021-06-20 19:57] whedon commented on #3079
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03079/joss.03079/10.21105.joss.03079.pdf) :page_facing_up: :point_left:

[2021-06-20 20:03] dpsanders commented on #3079
@whedon recommend-accept

[2021-06-20 20:03] whedon commented on #3079
[code]

[2021-06-20 20:03] whedon commented on #3079
PDF failed to compile for issue #3079 with the following error:
[code]

[2021-06-20 20:21] cwentland0 commented on #3184
Hi @arfon, here are a few names:
clemaitre58
szkafander
tupi
Himscipy
highlando
bonh

These reviewers indicated Python as a preferred programming language, and made some reference to computational fluid dynamics and machine learning/data-driven methods in their preferred domains/topics. If figure that combo might fit best.

[2021-06-20 20:24] lutzhamel commented on #3296
OK. That looks pretty good to me.  One major sticking point, and a point that originally got me confused about what I am looking at, remains: The section "Sampling Source Code".  It is written as if the engine can be only used in this context.  This should be rewritten in order to make explicit that this is the experiment in order to validate the engine.  The user is free to index any source code

[2021-06-20 20:51] csoneson commented on #3304
@konstantinstadler - thank you! Enjoy your holidays and thanks for the offer - I'll keep you posted!

[2021-06-20 21:33] MakerTobey commented on #3241
This looks like a very exciting tool. I'm neither a classical microscopy person nor a great Python programmer, but this software looks very professional to me. It does not only (at least at brief view) look like it has all the main features of a professional Nikon etc. platform, but it also has very exciting and advances hardware control interfaces to control lasers, fast photon detector modules,

[2021-06-20 21:42] Kevin-Mattheus-Moerman commented on #3241
@whedon assign @Kevin-Mattheus-Moerman as editor

[2021-06-20 21:42] whedon commented on #3241
OK, the editor is @Kevin-Mattheus-Moerman

[2021-06-20 21:46] Kevin-Mattheus-Moerman commented on #3241
@whedon add @MakerTobey as reviewer

[2021-06-20 21:46] whedon commented on #3241
OK, @MakerTobey is now a reviewer

[2021-06-20 22:06] Kevin-Mattheus-Moerman commented on #3349
@fverdugo, @gaelforget I hope you are well. I'm just checking in to see if you've found your way here and are able to start the review process and that you are able to tick the boxes at the top of this issues. Let me know if you have any questions.

[2021-06-20 22:07] janash commented on #3325
This software mainly seems to be a wrapper around three libraries - gromacs, nglview, and mdanalysis. The software has not yet been cited in academic papers. In its current state, the paper does not appear to meet the definition of substantial scholarly effort.

I had difficulty installing the software due to a missing dependency with mpi4py on my mac. I used `brew install mpich` which then allowe

[2021-06-20 22:15] Kevin-Mattheus-Moerman commented on #3241
@beniroquai @nicost @henrypinkard @untzag @nanthony21 @uellue would you be interested in reviewing this work for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/about): _ImSwitch: Generalizing microscope control in Python_

The [review process](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html) focuses on [the software](https://github.com/kasasxav/ImSwitch) and a [

[2021-06-20 23:35] dpsanders commented on #3079
@whedon recommend-accept from branch joss_paper

[2021-06-20 23:35] whedon commented on #3079
[code]

[2021-06-20 23:35] whedon commented on #3079
[code]

[2021-06-20 23:35] whedon commented on #3079
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2399

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2399, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-06-20 23:45] dpsanders commented on #3079
@jsoishi: Could you please check the issues with the DOIs signalled above. Thanks!

[2021-06-21 01:14] whedon commented on #3274
:wave: @camillescott, please update us on how your review is going (this is an automated reminder).

[2021-06-21 01:54] majensen commented on #3302
That sounds good @sara-02

[2021-06-21 01:54] majensen commented on #3302
whedon assign @sara-02 as reviewer

[2021-06-21 02:01] majensen commented on #2558
@egonw - for the archive, can you rename your latest to the paper title, viz. "Bacting: a next generation, command line version of Bioclipse" ? Then I can use that with the version "paper-V3", or you might call it 0.18.1, or what have you.

[2021-06-21 02:05] majensen commented on #3246
@sap218 would you be willing to review [this work](#3246) for JOSS? I would appreciate your expertise here.
Thanks for the consideration! --@majensen

[2021-06-21 02:06] majensen commented on #3302
@sap218 would you be able to review [this work](#3302) for JOSS? I could use your expertise here.
Thanks for the consideration --@majensen

[2021-06-21 02:07] majensen commented on #3302
@whedon assign @sara-02 as reviewer

[2021-06-21 02:07] whedon commented on #3302
OK, @sara-02 is now a reviewer

[2021-06-21 02:46] arokem commented on #3262
Thanks @szorowi1!

@jkanche : I see that there are only two remaining check boxes in your list. Do you have any comments regarding the description of the state of the art or references included (or not included) in the article?

[2021-06-21 04:46] egonw commented on #2558
@majensen, I am confused. That's exactly what the title is in paper-v2 and the latest proof posted here by whedon...

[2021-06-21 05:00] jankoslavic commented on #2588
Dear @arfon! Thank you for the invitation. pyFBS is a great package as far as I know it. Due to prior commitment, I am currently not able to commit to this additional task.  I ask you for understanding.

[2021-06-21 05:38] fverdugo commented on #3349
Hi @Kevin-Mattheus-Moerman! Yes, I can tick the boxes above. I'll try to start the review this week.

[2021-06-21 07:00] NathHorrigan commented on #3270
@EleonoraVagnoni  @olgadoronina  - I have updated the readme with some pointers on how to setup the repo, Let me know if there is anything else I can help with :)

[2021-06-21 07:24] gro5-AberUni commented on #3346
Hi @jorgegil, I have uploaded some example UAV imagery that was used in the documentation and the figures in the paper to the location: gro5-AberUni/RegionGrow/Example_UAV_Data/ so you should be able to reproduce the results we present.

Thanks
Greg

[2021-06-21 07:31] tomazbregar commented on #2588
Dear Arfon, thank you for continuing the review of our package and paper. @domengorjup, @jankoslavic and @klemengit are our collegues at the University of Ljubljana; therefore, we would propose two new reviewers: @LolloCappo and @Gunnstein. If off course, they would be willing to review the paper.

[2021-06-21 07:57] Geogoeroe commented on #3346
Ah, thanks for the test data. However, on de-installing and re-installing the new version of the plugin, I got this:
![image](https://user-images.githubusercontent.com/9982061/122726939-cc454e00-d276-11eb-8d1d-47da991b77c2.png)

Another thing is, that if I deactivate the plugin, it doesn't clear the menu-item on the plugin menu. So after activiating the plugin again (three times), I get this:
![im

[2021-06-21 08:33] Kevin-Mattheus-Moerman commented on #3055
@wimvanderbauwhede it looks like all your boxes are ticked, and all issues appear resolved. Can you confirm you are happy to recommend this work is published in JOSS?

To avoid further delay, and given the overall positive review by the reviewers, I will process this paper for acceptance this week, unless I hear objections from @wimvanderbauwhede.

[2021-06-21 08:34] Kevin-Mattheus-Moerman commented on #3020
@chennachaos looks like @diehlpk implemented more requested changes. Are you able to review these? Thanks.

[2021-06-21 08:35] cmutel commented on #3304
@csoneson I have a conflict of interest, so don't feel comfortable being a reviewer here.

Here are some possible alternatives:
@mfastudillo @tngTUDOR @aleksandra-kim

[2021-06-21 08:40] giovannic commented on #3377
The most popular and relevant examples seem to be:

 * General
   * Repast
   * Mesa
   * NetLogo
   * R-based
     * RNetLogo
     * SpaDES
 * Epi-based
   * SimInf
   * EpiModel

For the others, we can either remove completely or cite. I can make a PR to cut this down

[2021-06-21 09:22] oliviaguest commented on #3103
@whedon add @martinagvilas as reviewer

[2021-06-21 09:22] whedon commented on #3103
OK, @martinagvilas is now a reviewer

[2021-06-21 09:25] gro5-AberUni commented on #3346
Hi @Geogoeroe It seems as though when I uploaded the UAV data to Github it didn't load the image coordinate system metadata correctly, I've re-uploaded that data to the same location so it should now have the correct metadata attached to the image and that should solve the first issue you highlighted.

The second issue you highlight occurs as a result of QGIS not updating the plugins menu until yo

[2021-06-21 09:32] rosecers commented on #3325
I'd like to echo @janash's difficulty with installation, as I also had issue with mpi4py on my mac; I concur that the authors should test installation on supported operating systems. Ultimately, I needed to run:

[code]

[2021-06-21 09:40] Geogoeroe commented on #3346
Ah, indeed, that was the issue with the data... I didn't interpret the python error as something data-related, but that took care of it. However, I still have to check the manual properly (I might be doing something wrong here), as the default settings still come up with the treshold warning:
2021-06-21T11:36:03     WARNING    Region Grower Plugin : Not Enough Spectral Difference Found. Increase t

[2021-06-21 09:43] Geogoeroe commented on #3346
For the updating of the plugins: Yes, I noticed that the menu cleans after restarting QGIS, it is not a permanent thing. However, other plugins don't show this specific behaviour... So it might be a simple trick somewhere.

[2021-06-21 10:24] iimog commented on #3374
I just finished my initial review:
`jphyloref` is a very useful tool that nicely extends the [family of phyloreferencing tools](https://www.phyloref.org/products/). The software can be easily installed and works as intended. Multiple issues I raised have already been resolved by the authors (https://github.com/phyloref/jphyloref/issues/81, https://github.com/phyloref/jphyloref/issues/82, https://g

[2021-06-21 11:49] grburgess commented on #3257
@xuanxu hi, yes, I've been finishing changes to the code. It's basically ready except that RTD is hanging at the moment.

[2021-06-21 12:08] jbytecode commented on #3253
@whedon assign me as editor

[2021-06-21 12:08] whedon commented on #3253
I'm sorry @jbytecode, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-06-21 12:10] jbytecode commented on #3253
@whedon assign me as editor

[2021-06-21 12:10] whedon commented on #3253
OK, the editor is @jbytecode

[2021-06-21 12:12] jbytecode commented on #3387
@whedon assign me as editor

[2021-06-21 12:12] whedon commented on #3387
OK, the editor is @jbytecode

[2021-06-21 12:14] hugoledoux commented on #3061
@pjanck can you update us on when you think you have time to improve the code so that the review can continue?

If you don't think it's possible in coming weeks, then I could put the review on pause, also a possibility.

[2021-06-21 12:18] jbytecode commented on #3253
Hi @koaning,

Thank you for the submission. Now it is time to assign some reviewers for the submission. Could you please take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers?