[2022-02-21 14:37] whedon commented on #4136
:wave: @leonweber, please update us on how your review is going (this is an automated reminder).

[2022-02-21 14:44] fanchercm commented on #4104
Hello,

I am still waiting on reviews from @sangpham171<https://github.com/sangpham171>. I am waiting on responses from @andyfaff<https://github.com/andyfaff>,

On Feb 17, 2022, at 6:39 PM, Rachel Kurchin ***@***.******@***.***>> wrote:

@fanchercm<https://github.com/fanchercm>, just checking on regarding progress addressing these issues.

—
Reply to this email directly, view it on GitHub<https://

[2022-02-21 15:03] AustinTSchaffer commented on #4061
@kasbot @prashjha Everything looks good on my end. I have completed the review checklist.

[2022-02-21 15:16] wincowgerDEV commented on #4038
Thanks for the ping. I didn't realize that the software was only fully
fleshed out for Mac and Linux devices when I started because it wasn't
listed in the documentation materials. I don't have a Mac or Linux device
so I'm not sure if I should build a virtual machine to do the task or I
should request better documentation for Windows which the maintainer says
should be possible, though it is not f

[2022-02-21 15:19] aaronpeikert commented on #4038
Hi, thanks for the reminder. I am a Linux user, but nevertheless had troubles with the setup that kinda dragged me down and made me forget that I still have to review. So I just needed a reminder to get back to it.

[2022-02-21 15:29] wincowgerDEV commented on #4038
Aaron, that's good to know. It sounds to me like the documentation isn't
quite ready for prime time use yet and we should create an issue in the
repo to outline some of the things that are still left undone from a user
perspective because I don't think users would do the level of debugging
that we are doing right now to get it to work. There needs to be a
hold-your-hand level tutorial that gets ev

[2022-02-21 15:42] aaronpeikert commented on #4038
Hi Win,
it is surely a good idea to improve Windows support. My issues were related to some dependency and not the project itself. My Linux setup is also not too common (only a few ten thousand users I think). I will test the project under some normal Linux and possibly under Mac OS and report back. My fear is that `docker-compose` is not as portable as advertised (I had the weirdest issues gettin

[2022-02-21 15:53] danielskatz commented on #4051
@whedon recommend-accept

[2022-02-21 15:53] whedon commented on #4051
[code]

[2022-02-21 15:54] whedon commented on #4051
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2978

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2978, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-21 15:56] danielskatz commented on #4051
@whedon accept deposit=true

[2022-02-21 15:56] whedon commented on #4051
[code]

[2022-02-21 15:57] whedon commented on #4051
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1495789697540542468) 👈 🐦🐦🐦

[2022-02-21 15:57] whedon commented on #4051
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2979
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.04051](https://doi.org/10.21105/joss.04051)
2. If everything look

[2022-02-21 16:08] danielskatz commented on #4051
Congratulations to @TomTranter and co-authors!!

And thanks to @EricaEgg, @mefuller, and @yangbai90 for reviewing, and @timtroendle for editing!
We couldn't do this without you!

[2022-02-21 16:08] #4051 closed

[2022-02-21 16:09] whedon commented on #4051
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.04051/status.svg)](https://doi.org/10.21105/joss.04051)

**We need your help!**

Journal of Open Source Softwa

[2022-02-21 16:24] danielskatz commented on #4062
👋 @ddeehere - I think we're just waiting for you to address https://github.com/PopMedNet-Team/popmednet/issues/39 at this point, and I see there that you are working on it. Please let us know when there's something for the reviewers to check.

[2022-02-21 16:25] danielskatz commented on #4120
👋 @oscarhiggott, @pan-pavel - I just wanted to check with you both again and see how your reviews are coming, and if there's anything blocking you that either I or @LeonidPryadko can help with

[2022-02-21 16:26] danielskatz commented on #4079
👋 @kylebeggs and @AustinTSchaffer - I'm just checking in once again to see how your reviews are coming along

[2022-02-21 16:36] danielskatz commented on #3996
👋 @videlec - Did you see the comment above?  And in the meantime, are there other items in your checklist that you can check off, or raise issues about if you can't check them off?

Is there anything else I or @fredstro can do to help your progress?

[2022-02-21 16:38] danielskatz commented on #3967
👋 @bmagyar - How is your review going?  Is there anything either I or @liquidcronos can do to help you at this point?

[2022-02-21 16:46] SimonMolinsky commented on #2869
Hi @hugoledoux

Here are:

- [x] Version tag: [0.2.5.post1](https://github.com/DataverseLabs/pyinterpolate/releases/tag/v0.2.5.post1)
- [x] Zenodo Archive: [10.5281/zenodo.6206145](https://zenodo.org/record/6206145#.YhOxci-pn5k)

I don't understand why did I send package to Zenodo? Should I update it later with the new versions?

Thank you.

[2022-02-21 17:22] taless474 commented on #4162
@danielskatz I can edit this if possible

[2022-02-21 17:25] danielskatz commented on #4162
Thanks @taless474

[2022-02-21 17:26] danielskatz commented on #4162
@whedon assign @taless474 as editor

[2022-02-21 17:26] whedon commented on #4162
OK, the editor is @taless474

[2022-02-21 17:27] lucaferranti commented on #4099
@whedon generate pdf

[2022-02-21 17:27] whedon commented on #4099
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04099/joss.04099/10.21105.joss.04099.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04099/joss.04099/10.21105.joss.04099.pdf) :page_facing_up: :point_left:

[2022-02-21 17:48] taoliu032 commented on #4182
@rvhonorato Thank you so much for raising the concern! We are not very experienced in choosing a license for open source software -- I was in fact planning to consult JOSS reviewers on the choice of license :) But certainly we do not want to have any licensing conflict.

@brianjimenez Thank you for helping out! We got the scripts from https://github.com/lightdock/lightdock/tree/0.9.2/bin and we di

[2022-02-21 18:11] pibion commented on #3821
@vitorsr thank you!

[2022-02-21 18:12] lucaferranti commented on #4099
and here the second part of my review for the paper
- [ ] **Authorship**: could you clarify the contribution of Awad Mukbil and Jörg Müller to the package development? Based on the list of commits, they don't seem to be contributors

- [ ] **State of the field**: The paper at the moment compares the presented method to other methods, since this is a software paper, I think the focus should be on c

[2022-02-21 18:40] elwinter commented on #3465
Ahh, I thought that might be the case. No worries.

Take care
Eric

On Sun, Feb 20, 2022 at 11:31 PM Jan Mandel ***@***.***>
wrote:

[2022-02-21 18:59] jmschrei commented on #4038
Knowing that it's difficult to use the software is important. I agree that they should improve the documentation to make it clear what platforms are fully supported. I don't think it's necessary that they make it work on all platforms if that's particularly difficult. If one of you does not have access to the supported platforms I think it's okay for your review to be higher level, e.g., at the do

[2022-02-21 19:12] kylebeggs commented on #4079
Not great. Working through installation woes. It seems both Austin and I are on Linux and the package was more Windows focused.

[2022-02-21 19:14] tiagoseq commented on #3974
Hello,
A pull request with a new version with the following features has been made:
- Status bar when executing function `solveNFE`
- New independent repository, [NFEdocs.jl](https://tiagoseq.github.io/NFEdocs.jl/dev/) to host the documentation of the package
- Documented structures and the auxiliary functions module
- Cleaned git commit history by creating an orphan branch with the latest commit

[2022-02-21 19:24] oriolcg commented on #4106
HI @Kevin-Mattheus-Moerman , I'll be happy to review it, but I'll need some guidance on the process.

[2022-02-21 19:34] galessiorob commented on #4166
👋 @aozorahime, @1mikegrn, @pythonpanda2

Thanks again for volunteering to review this paper. Could you please update us in your ETA? Also, let me know if you have any questions ion the criteria or the process. 🙇‍♀️

[2022-02-21 19:36] galessiorob commented on #4022
@whedon generate pdf from branch joss-paper

[2022-02-21 19:36] whedon commented on #4022
[code]

[2022-02-21 19:37] whedon commented on #4022
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04022/joss.04022/10.21105.joss.04022.pdf) :page_facing_up: :point_left:

[2022-02-21 19:41] galessiorob commented on #4022
@kinow I believe we're ready to accept the paper and publish it, would you mind checking the last two items from your list if you think they've been satisfied? 🙏

@xiaohk thanks again for your thorough review! 🎉

@chchch I think we're ready to publish! The next thing we need from you is to deposit your software in Zenodo and post the DOI here and the most recent version. After that, we can set the

[2022-02-21 19:43] transientlunatic commented on #4170
Hi @danehkar I think most of these things are already in-place for the package.
Do you require that unit tests are run via appveyor and travis? We already run these tests through gitlab CI.
We also maintain documentation for the master branch here: https://asimov.docs.ligo.org/asimov/
(I'm pushing a merge request through our internal review process to allow these to be built-out for all versions o

[2022-02-21 19:45] Bisaloo commented on #4124
@arendsee, do you have any suggestions for a 2nd reviewer? If so, please mention them here in this thread (without tagging them with an @). [This list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-02-21 19:51] danehkar commented on #4170
@transientlunatic It is OK. Please include its link in Readme file.

Please also include the installation instruction for conda forge.

It is good to see that the package also runs with appveyor and travis without any issues.

[2022-02-21 20:03] arendsee commented on #4124
@Bisaloo maybe lskatz or kapsakcj

[2022-02-21 20:05] danielskatz commented on #4079
Do you think you will be able to proceed through the review?

[2022-02-21 20:06] kinow commented on #4022
Hi @galessiorob !

Sure!

Just had a brief look at the paper, and it looks OK! Nothing to comment here, good job!

The paper talks about `helayo` and also about the `matrix-editor`, the web UI.

This requirement for automated tests is still missing in `matrix-editor`. The `helayo` program has the dependencies managed via a package manager, and unit tests. But `matrix-editor` doesn't have either (h

[2022-02-21 20:42] patrickcgray commented on #3594
Hi @kthyng yes I can go over this package next week if that works. Looks like an interesting submission!

[2022-02-21 20:43] brianjimenez commented on #4182
Hi @taoliu032 , glad to help! To find LightDock scripts, I assume you use `virtualenv` command (conda should behave in a similar way):

[code]

After installation ends, you should find LightDock scripts on `venv/bin` folder. Try also `which ant_thony.py` to locate scripts. When the virtual environment (or conda) is activated, all LightDock scripts are available at any path.

Hope it helps!

[2022-02-21 20:47] matthewfeickert commented on #4170
I would recommend not spending your time with Travis unless you want have a dedicated amount of money that you're willing to pay into the future. Travis CI now (2020 onwards) [offers a open source projects a one time non-renewable 10,000 build credit](https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing). This is not a sustainable model for open source projects unless there you have a dedic

[2022-02-21 20:52] tpeulen commented on #4080
@AlphonsG I am really sorry for the delay.

**Software:**
I already tried your software before accepting the review and had no issues. You could check all the boxed required for a publication in JOSS. I really liked your software. I only recommend you to additionally provide a conda environment yaml file (to facilitate the installation). Mixing conda and pip did not work very well for me.

**Manus

[2022-02-21 20:59] galessiorob commented on #4022
@kinow that's actually a very good point...

@chchch Do you think you could address the above points about the `matrix-editor` so that the program is more robust?

[2022-02-21 21:07] chchch commented on #4022
Hi @kinow, I actually moved to a yarn/snowpack build system like you suggested. I also did a big code cleanup and started adding tests for the matrix-editor; there's a GitHub action that runs them. There could definitely be more tests, but at least there's a simple, solid test harness now.

@galessiorob, thanks for the clarification, I'll update the paper with your suggestions and also try to add

[2022-02-21 21:22] kthyng commented on #3594
Wonderful @patrickcgray!!! I will alter this review issue so you'll be set when you start. You'll need to accept an invite to review in your email to be able to edit this issue.

[2022-02-21 21:22] kthyng commented on #3594
@whedon remove @SeascapeScience as reviewer

[2022-02-21 21:22] whedon commented on #3594
OK, @SeascapeScience is no longer a reviewer

[2022-02-21 21:22] kthyng commented on #3594
@whedon add @patrickcgray as reviewer

[2022-02-21 21:23] whedon commented on #3594
OK, @patrickcgray is now a reviewer

[2022-02-21 21:29] kthyng commented on #4152
Hi @mancellin and @jamiejquinn! I am looking for two reviewers for this JOSS submission. I would hope for reviews in 4–6 weeks, though typically starting earlier than that window because the review process tends to be iterative between the author(s) and reviewers. You can read more about the review process here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
Any interest?

[2022-02-21 21:34] kylebeggs commented on #4079
Depends if the authors will be able to help my issues in a timely manner. Perhaps for the sake of time we should seek another reviewer.

[2022-02-21 21:36] danielskatz commented on #4079
👋 @aliaksei135 - What do you think?

Note that if we do need to find one or two new reviewers, this will basically be like starting the review process over once we do find them, which itself can take a little time for reviewers with Windows systems.  But perhaps this is best?

[2022-02-21 21:43] danehkar commented on #4170
@matthewfeickert @transientlunatic

Travis is free for open source projects hosted on GitHub. If the package does not have any issues, it will take less 20 minutes to setup its test account on Travis. I hosted test units for several Python packages on Travis without spending any money. Each time, I update a code in a package, it automatically runs a test on my package and shows the passing status

[2022-02-21 21:53] matthewfeickert commented on #4170
Unfortunately this is no longer the case (though is was for many years). Please read what I shared. Though it is easy enough to see this for yourself.

If you visit travis-ci.org you'll be greeted with

and [travis-ci.com's pricing](https://travis-ci.com/pricing/) clearly shows that there is no free plan, but only a free trial with the 10,000 credits I mentioned in my above post.

The reality is t

[2022-02-21 21:55] Narayana-Rao commented on #4032
Thank you for the updates and for constructive feedback on my comments. Several things have been clarified and I think the changes have improved the overall impression greatly. I have no other comments on the package and the manuscript.

[2022-02-21 21:55] aliaksei135 commented on #4079
I really appreciate the work put into the review thus far and I am keen to get this working on Linux as well, so I would rather not discard work already done on this review.

I've partitioned out and installed Ubuntu on my laptop and will be focusing on sorting out the dependencies again in a fresh environment.

[2022-02-21 21:55] emanuelhuber commented on #3579
Hello @Kevin-Mattheus-Moerman
Thank you for the precision. OK, I can do the review (install octave, test the code, review the paper, code, documentation and deinstall octave. Is two weeks for the review OK?

[2022-02-21 21:57] kinow commented on #4022
@chchch ah, apologies. I remember you saying you were working on that, but I saw the GH issue still open and didn't find the `package.json` in the `matrix-editor` [directory](https://github.com/chchch/sanskrit-alignment/tree/master/matrix-editor).

But just had another look and found if in the `src` directory, and also found the tests :slightly_smiling_face:

@galessiorob my review is complete, I'

[2022-02-21 22:13] mbobra commented on #4170
The JOSS [review criteria for automated tests](https://joss.readthedocs.io/en/latest/review_criteria.html#tests) only requires that authors "include an automated test suite covering the core functionality of their software." It does not require authors to run automated tests with any specific CI/CD platform.

[2022-02-21 22:13] danehkar commented on #4170
@matthewfeickert @transientlunatic

OK, they changed it to limited 10,000 free credits. [ci.appveyor.com](https://ci.appveyor.com/) is still free for open source packages.

[2022-02-21 22:37] henryiii commented on #4170
Travis also now requires a credit card for new accounts. This caused a mess for a class I was auditing that had a CI lesson based on travis and everyone needed new accounts. (I got to teach the class impromptu over GHA instead, so that was fun :) )

If you email travis, you can sometimes get an open source monthly allowance. We do that for pypa projects. You need a very good reason to not use anot

[2022-02-21 22:41] matthewfeickert commented on #4170
(We should probably move any further discussion on CI and testing to a dedicated GitHub Issue :slightly_smiling_face:).

[2022-02-21 22:52] danehkar commented on #4170
@henryiii
Yes, Appveyor is very slow based on my experience.

@transientlunatic
You can test your code on a CI system of your choice (e.g. GitLab CI, GitHub Actions, Azure Pipelines, AppVeyor, and CircleCI).

[2022-02-21 23:26] 1mikegrn commented on #4166
Hi everyone 👋🏻 @galessiorob I'm hoping to get my initial review at least started today, hopefully finished as well.

[2022-02-22 00:02] oscarhiggott commented on #4120
Hi @danielskatz I hope to complete the review soon, nothing blocking me at the moment thanks

[2022-02-22 00:37] 1mikegrn commented on #4166
Overall I feel like this is a very well put together package - most of my critiques are minor things like unused imports and whatnot. I don't have any major concerns for which I would expect any sort of revision. 👍🏻 I also noticed that there's some CI/CD built in from gitlab, I don't use gitlab so I didn't verify any of that, but I was able to easily install the package and run the test suite in a

[2022-02-22 00:43] wincowgerDEV commented on #4038
Thanks for the input Jacob. I'll see if the author has an interest in
broadening the support for Windows and if not will see if Aaron's able to
get it working on the options they have.

On Mon, Feb 21, 2022, 10:59 AM Jacob Schreiber ***@***.***>
wrote:

[2022-02-22 02:37] aozorahime commented on #4166
Hi, i am doing this right now. hopefully can finish it tonight or tomorrow @galessiorob

[2022-02-22 03:39] prashjha commented on #4177
@whedon assign me as reviewer

[2022-02-22 03:39] whedon commented on #4177
You need to assign an editor first.

[2022-02-22 03:40] prashjha commented on #4177
@whedon assign me as editor

[2022-02-22 03:40] whedon commented on #4177
OK, the editor is @prashjha

[2022-02-22 03:41] prashjha commented on #4177
@danielskatz thanks for the invite. @ccaprani, I will be editing your submission. Thanks for providing a list of reviewers.

[2022-02-22 03:43] prashjha commented on #4026
Hi @aliaksei135, would you be interested in reviewing this submission for JOSS?

[2022-02-22 03:45] prashjha commented on #4026
Howdy @athulpg007, any chance you could review this JOSS submission?

[2022-02-22 03:49] prashjha commented on #4061
@AustinTSchaffer thanks for taking the time to complete the review.

[2022-02-22 03:50] prashjha commented on #4061
@erik-whiting thank you for the update and sounds good. Take your time.

[2022-02-22 04:24] athulpg007 commented on #4026
I am happy to review this submission.

[2022-02-22 04:29] erik-whiting commented on #4061
@prashjha hey Prashant, thanks for the comment but I just finished my review. I've completed the checklist and I think this is ready for approval. The authors did some really cool stuff with this project, I'm glad I got to be part of it.

Thanks @kasbot

[2022-02-22 04:31] taoliu032 commented on #4182
@brianjimenez - I removed the commands of copying individual lightdock scripts and our code can still run successfully. Thank you for the suggestion!

@rvhonorato - After removing the script-copying command, I have tested the code both on my local macOS machine and our Linux-based computer cluster (the job waited in the queue for a while). Both tests ran successfully and I have also pushed the upd

[2022-02-22 05:58] PeterKraus commented on #4166
We've moved the package from our internal gitlab server back to github fairly recently. The gitlab repo is now archived and only the main repo on here is used. I forgot to remove the gitlab CI files after the migration. The github actions now replicate the CI functionality (with testing of every PR on Windows and Linux), including a docs deployment after every commit to master. If you have any sug

[2022-02-22 08:09] videlec commented on #3996
Sorry for the delay. I opened a new issue about the setup configuration (https://github.com/fredstro/hilbertmodgroup/issues/5) which prevented me from installing hilbertmodgroup in my compiled version of sage. I started looking at the code and opened 3 issues (https://github.com/fredstro/hilbertmodgroup/issues/6, https://github.com/fredstro/hilbertmodgroup/issues/7 and https://github.com/fredstro/

[2022-02-22 08:10] mscroggs commented on #4135
I've been busier than I expect the last two weeks. My review will be done next week

[2022-02-22 08:41] mancellin commented on #4152
Yes, I'm in!

[2022-02-22 08:53] Kevin-Mattheus-Moerman commented on #4106
@whedon assign @oriolcg as reviewer

[2022-02-22 08:53] whedon commented on #4106
OK, @oriolcg is now a reviewer

[2022-02-22 08:57] Kevin-Mattheus-Moerman commented on #4106
@oriolcg this is a prereview issue where we assign reviewers. Once we have at least two reviewers I'll trigger a review issue. In the review issue you'll have a checklist to go through which will guide you through the review process. Here is an example of a finished review issue:
https://github.com/openjournals/joss-reviews/issues/3053

The process should be fairly smooth and self-explanatory, but

[2022-02-22 09:19] hugoledoux commented on #2869
@whedon generate pdf

[2022-02-22 09:20] whedon commented on #2869
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.02869/joss.02869/10.21105.joss.02869.pdf) :page_facing_up: :point_left:

[2022-02-22 09:24] hugoledoux commented on #2869
@whedon check references

[2022-02-22 09:25] whedon commented on #2869
[code]

[2022-02-22 09:28] hugoledoux commented on #2869
You got a DOI because your paper is accepted and we're finalising everything!

One small typo to fix: in the zenodo the capital "i" of "Interpolation" is still there, and it shouldn't... we need to have the exact same title. Please fix this, then I can process with the formal acceptance (you might be asked to fix things I missed, the editor-in-chief does that part)

[2022-02-22 09:34] hugoledoux commented on #4015
@maczokni could you check the updates from the authors (https://github.com/openjournals/joss-reviews/issues/4015#issuecomment-1019419000)? And tell us if you're satisfied?

[2022-02-22 09:39] hugoledoux commented on #4099
@Shiming94 if there are many typos then the authors should go over the text and indeed fix them. If you spot a few, the best would be to fork the paper, fix them, and make a pull request.

[2022-02-22 09:42] Shiming94 commented on #4099
Thanks a lot, I will do that.

[2022-02-22 09:42] hugoledoux commented on #4099
@engyasin I share the opinion of @lucaferranti here, ideally your main test dataset should be small, small enough to be committed to a standard git repo at least. Most users just want to `pip install X` (so I think you should consider this too, although not a strict requirement for JOSS) and then test if the code works

[2022-02-22 09:45] hugoledoux commented on #4099
@engyasin please read this: https://joss.readthedocs.io/en/latest/submitting.html?highlight=contributors#authorship JOSS is slightly different from mainstream academic publishers and has rules for authorship. Of course it's not black-and-white, so you can just explain us here what was done by those who didn't contribute to the code (in the git commits)

[2022-02-22 09:54] magedhelmy1 commented on #4087
hey @danielskatz, I hope all is well. Any news?

[2022-02-22 09:57] hugoledoux commented on #4032
wait, could you confirm whether the changes (https://github.com/phenology/cgc/issues/76) have fixed the issue you had with a large dataset?

[2022-02-22 09:59] hugoledoux commented on #4032
@Subho07 when you have time, could you let us know if your are satisfied with the updates made? https://github.com/openjournals/joss-reviews/issues/4032#issuecomment-1040468081

[2022-02-22 10:41] aliaksei135 commented on #4026
Likewise happy to review.

[2022-02-22 10:53] megies commented on #3507
@kbarnhart sorry about not having replied when pinged in this ticket :grimacing:

[2022-02-22 11:17] JamieJQuinn commented on #4152
Yep, happy to review!

[2022-02-22 11:38] SimonMolinsky commented on #2869
I've [fixed this typo](https://zenodo.org/record/6206145#.YhTLBi-pm_w), we can move forward :) Thanks!

[2022-02-22 12:10] whedon commented on #4140
:wave: @xrotwang, please update us on how your review is going (this is an automated reminder).

[2022-02-22 13:12] Kevin-Mattheus-Moerman commented on #3579
@whedon add @emanuelhuber as reviewer

[2022-02-22 13:12] whedon commented on #3579
OK, @emanuelhuber is now a reviewer

[2022-02-22 13:13] whedon opened #4185 "[REVIEW]: Synaptus: A Matlab/Octave toolbox for synthetic aperture ultrasound imaging"
**Submitting author:** @mh-skjelvareid (<a href="http://orcid.org/0000-0003-2103-865X">Martin H. Skjelvareid</a>)
**Repository:** https://github.com/mh-skjelvareid/synaptus
**Branch with paper.md** (empty if default branch):
**Version:** v1.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @emanuelhuber, @Kevin-Mattheus-Moerman
**Archive:** 10.5281/zenodo.6974195

**:warning: JOSS reduced servi

[2022-02-22 13:14] whedon commented on #3579
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4185.

[2022-02-22 13:14] whedon commented on #4185
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Samuel-Wagner, @emanuelhuber it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post]

[2022-02-22 13:14] whedon commented on #4185
Wordcount for `paper.md` is 1526

[2022-02-22 13:14] whedon commented on #4185
[code]

[2022-02-22 13:14] whedon commented on #4185
[code]

[2022-02-22 13:14] Kevin-Mattheus-Moerman commented on #3579
If anybody is here because of a reviewer invitation, and feels they can contribute to the review process, please let us know to join the review over at: https://github.com/openjournals/joss-reviews/issues/4185

[2022-02-22 13:15] whedon commented on #4185
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04185/joss.04185/10.21105.joss.04185.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04185/joss.04185/10.21105.joss.04185.pdf) :page_facing_up: :point_left:

[2022-02-22 13:16] Kevin-Mattheus-Moerman commented on #4185
@Samuel-Wagner, @emanuelhuber this is where the review takes place. You can now start and you can post comments to the author here or open dedicated issues on their software repository and link to them here.

Please let me know if you have any questions. Thanks again for your help!!!!

[2022-02-22 13:18] Kevin-Mattheus-Moerman commented on #4106
@chennachaos I feel like I'm close to "over inviting" you to review for JOSS, but do let me know if this work is your cup of tea, and would, despite the reliance on MATLAB, be interesting to review.

[2022-02-22 13:45] vissarion commented on #3330
Hello, @pnsinha, @rafael-a-monteiro-math, @AghaMehrdad, @liuyan23, @renancarioca, @Ferreira-B would any of you be willing to help reviewing this submission for JOSS?

[2022-02-22 13:49] Kevin-Mattheus-Moerman commented on #4106
@Nicola-Fonzi @dciliberti @Philipp-Conen @JaroslavHron @albansouche would you be interested in reviewing this submission for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/). The work is entitled: _A matlab framework for data-driven reduced-order modeling of flexible wings_.

Note this submission is not Octave compatible so reviewing it does require a MATLAB installation.

JOS

[2022-02-22 13:51] danielskatz commented on #2869
@hugoledoux - just a small correction:

"JOSS archives your paper, but not your software; we need you to do this yourself, but then we link to it, and this is one of the last steps before your paper is recommended for acceptance"

[2022-02-22 13:54] lucydot commented on #4014
That's excellent - thank-you @dandavies99 @awvwgk for your reviews!

[2022-02-22 13:55] lucydot commented on #4014
@whedon generate pdf

[2022-02-22 13:56] vissarion commented on #3329
Hi @GustaveCoste we kindly need your update here.

[2022-02-22 13:56] whedon commented on #4014
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04014/joss.04014/10.21105.joss.04014.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04014/joss.04014/10.21105.joss.04014.pdf) :page_facing_up: :point_left:

[2022-02-22 13:57] vissarion commented on #3732
:wave: @drewbitllama, @astanziola  please update us on how your review is going.

[2022-02-22 13:58] danielskatz commented on #4087
👋 @magedhelmy1 - I'm sorry to say that after discussion amongst the JOSS editors, we have decided that this submission has issues in both the JOSS [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) and [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criteria.

This does not

[2022-02-22 13:58] danielskatz commented on #4087
@whedon reject

[2022-02-22 13:58] whedon commented on #4087
Paper rejected.

[2022-02-22 13:58] #4087 closed

[2022-02-22 14:01] lucydot commented on #3993
@villaa congratulations 🎈 we are onto the very final steps now :)

I'd like to give a huge thanks to @matthewfeickert and @altavir for their reviews. This software has been on a long and productive JOSS journey, steered forwards by your thoughtful reviews.

I'll do some checks now before passing this up to our editor-in-chief team for the final look over.

[2022-02-22 14:02] lucydot commented on #3993
@whedon set v1.4.0 as version

[2022-02-22 14:02] whedon commented on #3993
OK. v1.4.0 is the version.

[2022-02-22 14:08] lucydot commented on #4014
@whedon check references

[2022-02-22 14:08] lucydot commented on #4014
@whedon check references

[2022-02-22 14:08] whedon commented on #4014
[code]

[2022-02-22 14:08] whedon commented on #4014
[code]

[2022-02-22 14:41] jstse commented on #4014
Hi @lucydot both of those issues should now be fixed.

[2022-02-22 14:42] fanchercm commented on #4104
I’ve added comments for the remaining issues.

On Feb 21, 2022, at 10:21 AM, Rachel Kurchin ***@***.******@***.***>> wrote:

I see comments regarding how the new branch addresses neutrons/PyRS#778<https://github.com/neutrons/PyRS/issues/778> . If it also addresses the other issues (neutrons/PyRS#779<https://github.com/neutrons/PyRS/issues/779>, neutrons/PyRS#780<https://github.com/neutrons/PyRS/is

[2022-02-22 14:49] vissarion commented on #3330
The time frame is fine, thanks. Looking forward to your review!

[2022-02-22 14:57] lucydot commented on #3993
@whedon check references

[2022-02-22 15:02] lucydot commented on #3993
Excellent @villaa the paper looks good to me.

Please can you do the following:

- Make a tagged release of your software
- Archive this release on Zenodo (or similar)
        - The archive should have exactly the same title and author list as your JOSS paper
- Report the archive DOI and version number in this thread 👇

[2022-02-22 15:08] hugoledoux commented on #2869
@whedon set 10.5281/zenodo.6206145 as archive

[2022-02-22 15:09] whedon commented on #2869
OK. <a href="https://doi.org/10.5281/zenodo.6206145" target="_blank">10.5281/zenodo.6206145</a> is the archive.

[2022-02-22 15:09] hugoledoux commented on #2869
@whedon set v0.2.5.post1 as version

[2022-02-22 15:09] whedon commented on #2869
OK. v0.2.5.post1 is the version.

[2022-02-22 15:09] hugoledoux commented on #2869
@whedon recommend-accept

[2022-02-22 15:09] whedon commented on #2869
[code]

[2022-02-22 15:10] whedon commented on #2869
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2980

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2980, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-02-22 15:12] villaa commented on #3993
@lucydot Ok, we've done those things:

- tagged release: v1.4.0
- Zenodo DOI: 10.5281/zenodo.6056681
-

[2022-02-22 15:15] lucydot commented on #4108
@whedon generate pdf from branch joss-submission

[2022-02-22 15:17] lucydot commented on #4108
@jonathanHuwP it looks like there are still problems with the formatting of your submission. Please could you have a go at fixing as suggested in the quote block above?

[2022-02-22 15:19] lucydot commented on #3993
Excellent!

[2022-02-22 15:20] lucydot commented on #3993
@whedon set 10.5281/zenodo.6056681 as archive

[2022-02-22 15:21] whedon commented on #3993
[code]

[2022-02-22 15:21] whedon commented on #3993
[code]

[2022-02-22 15:22] whedon commented on #4014
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04014/joss.04014/10.21105.joss.04014.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04014/joss.04014/10.21105.joss.04014.pdf) :page_facing_up: :point_left:

[2022-02-22 15:23] whedon commented on #4014
[code]

[2022-02-22 15:23] lucydot commented on #4014
Excellent @jstse the paper looks good to me.

Please can you do the following:

- Make a tagged release of your software
- Archive this release on Zenodo (or similar)
        - The archive should have exactly the same title and author list as your JOSS paper
- Report the archive DOI and version number in this thread 👇

[2022-02-22 15:40] villaa commented on #3993
@lucydot I don't know if the above is something I'm supposed to do or you. Also, that link seems to be the PR and I don't see where the final proof is in it. I did look at the proof from one of the previous commands and it looked good.

[2022-02-22 15:43] sbillinge commented on #3119
Sorry about this Arfon.  My student CJ left the group with things in this
state.  I will check with him how we wants to proceed but he will have to
commit to spending some time on it for it to work out.

S

On Fri, Feb 18, 2022 at 3:34 PM Arfon Smith ***@***.***>
wrote:

--
Simon Billinge
Professor, Columbia University
Physicist, Brookhaven National Laboratory

[2022-02-22 15:50] matthewfeickert commented on #3993
Nope you're good. One of the [journal editor-in-chiefs](https://joss.theoj.org/about#editorial_board) that is on duty this week will perform a final review of the draft generated on the joss-papers repo (linked above).

Its there. It is just [a PDF artifact](https://github.com/openjournals/joss-papers/blob/ede3b57d6c84b6f942747b196a87bfa8c1129ea3/joss.03993/10.21105.joss.03993.pdf).

[2022-02-22 15:51] raerickson commented on #3444
@marcosvital Thank you for working with me through this long process. I have approval from my agency to publish. I have addressed both reviewers' comments as branches' on the software's page: https://code.usgs.gov/umesc/quant-ecology/fishstan Please let me know what are the next steps.

[2022-02-22 16:07] Nicola-Fonzi commented on #4106
Hi @Kevin-Mattheus-Moerman and thank you for being the reviewer of the paper! I am one of the authors so I guess I have to decline your invitation to review, but feel free to contact me in the future for other works

[2022-02-22 16:37] Kevin-Mattheus-Moerman commented on #4106
@Nicola-Fonzi my sincere apologies. I see you are on the paper, sorry I did not see your name as a contributor for the software (https://github.com/urban-fasel/FlexWingROM/graphs/contributors) so accidentally invited you.

[2022-02-22 16:39] ekinney-lang commented on #4114
Hey @gcattan - sounds good, I'll add in my doc here and happy to talk through some of my comments for suggestions/thoughts to you as you go through it. I have tried to review it as I would a member of my team and objectively from the point of view of a new and naive user. I think it is an exciting tool and hope to see it grow.

-----------------------------
Important: Please do not use the Convert

[2022-02-22 16:50] nasserma commented on #3742
@lucydot @WilkAndy @bonh I have pushed a revised manuscript with changes meant to address all of the issues and comments from the open issues (#8, 22, 23). I am having trouble with the layout of images, but I want to get an otherwise complete revision out while I sort out using the JOSS docker image to compile locally.

Please let me know what you all think!

[2022-02-22 16:50] nasserma commented on #3742
@whedon generate pdf from branch publications

[2022-02-22 16:50] whedon commented on #3742
[code]

[2022-02-22 16:51] whedon commented on #3742
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03742/joss.03742/10.21105.joss.03742.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03742/joss.03742/10.21105.joss.03742.pdf) :page_facing_up: :point_left:

[2022-02-22 17:10] Nicola-Fonzi commented on #4106
No worries, and thank you again for being the editor

[2022-02-22 17:19] jlarsen-usgs commented on #3852
@crvernon
We've gotten the final approval from USGS to go ahead and publish, so we can finally start wrapping this up.

[2022-02-22 18:18] ddeehere commented on #4062
@danielskatz @lrasmus I added a section "Comparison with i2b2 and SHRINE" for "State of the Field" in paper.md.

[2022-02-22 18:38] ArikaLZ commented on #3330
Great! Can you make sure that I have access to the paper and code? I recall I was removed from the reviewers list,
Arika
________________________________
From: Vissarion Fisikopoulos ***@***.***>
Sent: Tuesday, February 22, 2022 9:50 AM
To: openjournals/joss-reviews ***@***.***>
Cc: Ligmann-Zielinska, Arika ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: spopt

[2022-02-22 18:40] lrasmus commented on #4062
Thank you @ddeehere!

@danielskatz - I've signed off on all checklist items, I think this is in good shape and set to go.

[2022-02-22 18:45] danielskatz commented on #4062
👋 @jhancock4d - can you confirm that you are ready for this to be published?

[2022-02-22 18:46] danielskatz commented on #4062
@whedon check references

[2022-02-22 18:46] danielskatz commented on #4062
@whedon generate pdf

[2022-02-22 18:46] jhancock4d commented on #4062
@danielskatz Confirmed!

[2022-02-22 18:47] whedon commented on #4062
PDF failed to compile for issue #4062 with the following error:
[code]

[2022-02-22 18:47] emdupre commented on #4024
Thank you, @po60nani, for your in-depth responses to the reviewers's feedback !

@ziatdinovmax, I noticed that you have already completed your reviewer checklist. Can you confirm that you are happy with the submission as-is ?

@aquilesC, there are still a few items that are not yet checked on your checklist, as these were raised as concerns in the initial round of review. Could you confirm if the

[2022-02-22 18:50] danielskatz commented on #4062
@ddeehere - I think https://github.com/PopMedNet-Team/popmednet/pull/40 will fix the building issue, along with some formatting

[2022-02-22 19:02] galessiorob commented on #4022
... my bad too for not looking in the `src` directory. Thank you for adding the tests, and nice use of GH Actions 🚀

As for the length, yes, don't feel restricted to add a bit more and of course, up to your discretion. Let me know when you've done all the changes you want to make and we can give it a final pass before recommending it for publishing.

Thanks for all your work so far!

[2022-02-22 19:34] MariaPoliti commented on #3829
@gkthiruvathukal @andrewtarzia : Is there any update for this publication? When can we expect the review to be completed?

Thank you again all for your work and your feedback on this software!

[2022-02-22 19:36] andrewtarzia commented on #3829
I'll do it in the next few days. I wasn't sure it was ready yet, sorry!

[2022-02-22 21:42] ptmerz commented on #4100
I thoroughly enjoyed reviewing the package and the paper. Congratulations on a great job @lilyminium!

I am convinced the package will be useful to the community. It addresses a very common problem in molecular simulations. It is feature-rich, very well documented, intuitive to use, and follows Python research software best practices.

The paper is well written and clearly outlines both the need f

[2022-02-22 21:55] jessicatytam commented on #3776
Hi @Bisaloo apologies for the holdup! I've been working on multiple projects and getting organised as I'm starting my PhD. We hope to finishing addressing the comments by the end of March. Here's a list of tasks we will be working on:

- [ ] Adding API tests
- [ ] Reduce code duplication
- [ ] Use `facet_wrap` in plots
- [ ] Add more error messages
- [ ] Implement a secure way to provide credentia

[2022-02-22 21:58] whedon commented on #4142
:wave: @mayrmt, please update us on how your review is going (this is an automated reminder).

[2022-02-22 22:16] gkthiruvathukal commented on #3829
@MariaPoliti I think we're almost ready to go.

Can you scroll up to the checklist of items remaining to be addressed by @andrewtarzia? It looks like you addressed all of these comments, but I did not see any follow up from @andrewtarzia. It may not be needed but I would like you to confirm that you addressed all of the points there.

Once I have said confirmation, I can proceed with final checks

[2022-02-22 22:29] diehlpk commented on #4075
@whedon generate pdf

[2022-02-22 22:30] whedon commented on #4075
PDF failed to compile for issue #4075 with the following error:
[code]

[2022-02-22 22:43] atmyers commented on #4115
Overall, this is a well-written paper about a well-designed and well-tested open source library and I certainly think it should be published in JOSS. I have a few comments that the authors may wish to address:

## Documentation

Both the doxygen API documentation and the wiki are helpful, though I second @XzzX's remarks that the particle-mesh subcomponents in Cajita seem under-covered relative to

[2022-02-22 23:08] kthyng commented on #4152
Excellent @mancellin and @JamieJQuinn!! Let's get the review started.

[2022-02-22 23:08] kthyng commented on #4152
@whedon assign @mancellin as reviewer

[2022-02-22 23:08] whedon commented on #4152
OK, @mancellin is now a reviewer

[2022-02-22 23:09] kthyng commented on #4152
@whedon assign @JamieJQuinn as reviewer

[2022-02-22 23:09] whedon commented on #4152
OK, @JamieJQuinn is now a reviewer

[2022-02-22 23:09] kthyng commented on #4152
@whedon add @mancellin as reviewer

[2022-02-22 23:09] whedon commented on #4152
OK, @mancellin is now a reviewer

[2022-02-22 23:09] kthyng commented on #4152
@whedon start review

[2022-02-22 23:09] whedon opened #4186 "[REVIEW]: dNami: a framework for solving systems of balance laws using explicit numerical schemes on structured meshes"
**Submitting author:** @etouber (<a href="http://orcid.org/0000-0002-7553-0351">Emile Touber</a>)
**Repository:** https://github.com/dNamiLab/dNami
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @kthyng
**Reviewers:** @JamieJQuinn, @mancellin
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2022-02-22 23:09] whedon commented on #4152
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4186.

[2022-02-22 23:09] #4152 closed

[2022-02-22 23:09] whedon commented on #4186
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @JamieJQuinn, @mancellin it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](http

[2022-02-22 23:10] whedon commented on #4186
Failed to discover a `Statement of need` section in paper

[2022-02-22 23:10] whedon commented on #4186
[code]

[2022-02-22 23:10] whedon commented on #4186
Wordcount for `paper.md` is 1584

[2022-02-22 23:10] whedon commented on #4186
[code]

[2022-02-22 23:10] whedon commented on #4186
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04186/joss.04186/10.21105.joss.04186.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04186/joss.04186/10.21105.joss.04186.pdf) :page_facing_up: :point_left:

[2022-02-22 23:15] kthyng commented on #4186
Hi everyone! @JamieJQuinn, @mancellin, here is where the review will take place. As specific comments/issues come up, please open issues in the [software repo](https://github.com/dNamiLab/dNami) itself and link back to this review issue so we can track related issues/comments. You can track your overall review here with the checklist and ping the author(s) and me as needed, and otherwise let us kn

[2022-02-22 23:15] kthyng commented on #4186
@etouber Forgot in the pre-review issue: please make sure to add a section to your paper called "Statement of Need" — we like to be very upfront about the purpose of the software in the paper.

[2022-02-22 23:19] lpantano commented on #4167
Hi, I can handle this in 1/2 weeks if that works. sorry, a lot of things going on right now.

[2022-02-22 23:31] danielskatz commented on #4167
That's great, thanks!

[2022-02-22 23:32] danielskatz commented on #4167
@whedon assign @lpantano as editor

[2022-02-22 23:32] whedon commented on #4167
OK, the editor is @lpantano

[2022-02-23 00:02] kellyrowland commented on #4089
Hi @dominiquesydow @betteridiot 👋 would either of you be interested in and available to review this JOSS submission?

[2022-02-23 00:09] kellyrowland commented on #4094
Hi @shahmoradi @tleonardi 👋 would you be interested in and available to review this JOSS submission?

[2022-02-23 01:22] SarthakJariwala commented on #4093
@brandons209 I will use this comment as a checklist for all the issues I have filled in your repository.

- [ ] https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/49
- [ ] https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/50
- [ ] https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/51
- [ ] https://github.com/FSEC-Photovoltaics/pvrpm-lcoe/issues/52

[2022-02-23 01:49] fernandomayer commented on #4056
Hi @bauer-alex, I will do my best to submit my review up to this Thursday.

[2022-02-23 02:28] andyfaff commented on #4104
@fanchercm, you've been making headway on the review issues I raised. Are the changes solely being made to the [JOSS_ISSUES branch](https://github.com/neutrons/PyRS/commits/JOSS_ISSUE), or are they spread over different branches?

@rkurchin, I have a question for JOSS in general. Do the changes being made to a project have to have been a) committed to the 'main' branch, or in a release (tag), for

[2022-02-23 04:18] taless474 commented on #4162
@OlgerSiebinga do you have any suggestions for who could be a reviewer from this [list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822) or in general?

[2022-02-23 04:19] taless474 commented on #4162
@CameronDevine are you interested in reviewing this?

[2022-02-23 05:56] CameronDevine commented on #4162
@taless474 Unfortunately, I'm not able to at the moment. I am currently busy with other projects and this is an area where I don't really have any expertise. I'm also worried that my computer would be able to handle the simulator.

[2022-02-23 06:51] NMontanaBrown commented on #4094
Hi, thanks for the invite. This is slightly out of my scope so my review likely be the most useful. Apologies for the slow reply!

[2022-02-23 07:06] vissarion commented on #3330
@whedon add @ArikaLZ as reviewer

[2022-02-23 07:07] whedon commented on #3330
OK, @ArikaLZ is now a reviewer

[2022-02-23 07:47] dominiquesydow commented on #4089
Yes, I'd be happy to review!

[2022-02-23 08:10] rickhelmus commented on #4029
@whedon generate pdf from branch paper20

[2022-02-23 08:10] whedon commented on #4029
[code]

[2022-02-23 09:07] niekbeckers commented on #4162
Hi @taless474, perhaps jackbrookes or humanfactors from the list could be reviewers.

[2022-02-23 09:44] tpurcell90 commented on #3960
@jarvist do we need to do anything else for this review?

[2022-02-23 09:46] andrewtarzia commented on #3829
Sorry about the delay. Having looked through the docs, examples and manuscript again, I am happy with it and recommend publication.

[2022-02-23 10:11] editorialbot opened #4187 "[PRE REVIEW]: PySteel : A Python Library for Steel Structure Designing"
**Submitting author:** @yajnab (<a href="http://orcid.org/0000-0001-8379-5491">Yajnavalkya Bandyopadhyay</a>)
**Repository:** https://github.com/yajnab/pySteel/
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** Pending
**Reviewers:**
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JO

[2022-02-23 10:17] arfon commented on #4187
@editorialbot query scope

@yajnab – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-02-23 10:17] arfon commented on #4187
@editorialbot query scope

[2022-02-23 10:29] finagle29 commented on #3612
Hi @arfon, I've created a new release including the changes from this review and archived it in Zenodo. The URL that points to this specific version (version 1.0.0) is https://doi.org/10.5281/zenodo.6241526, and https://doi.org/10.5281/zenodo.6241525 points to the latest version, I'm unsure which is better to use here.

[2022-02-23 10:33] editorialbot opened #4188 "[PRE REVIEW]: MitoHEAR: an R package for the estimation and downstream statistical analysis of the mitochondrial DNA heteroplasmy calculated from single-cell datasets"
**Submitting author:** @gabrielelubatti (<a href="http://orcid.org/0000-0001-8495-8096">Gabriele Lubatti</a>)
**Repository:** https://github.com/ScialdoneLab/MitoHEAR
**Branch with paper.md** (empty if default branch): master
**Version:** v1.0.0
**Editor:** @csoneson
**Reviewers:** @BatoolMM, @sahilseth, @juanvillada
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

[2022-02-23 10:34] arfon commented on #4188
@editorialbot set master as branch

[2022-02-23 10:34] arfon commented on #4188
@editorialbot check repository

[2022-02-23 10:35] arfon commented on #4188
@editorialbot generate pdf

[2022-02-23 10:35] xuanxu commented on #4188
@editorialbot commands

[2022-02-23 10:38] arfonsmith commented on #4188
@editorialbot commands

[2022-02-23 10:38] tpurcell90 commented on #3960
@whedon generate pdf from master

[2022-02-23 10:38] xuanxu commented on #4188
@editorialbot list reviewers

[2022-02-23 10:39] xuanxu commented on #4188
@editorialbot list editors

[2022-02-23 10:41] editorialbot opened #4189 "[PRE REVIEW]: TEST SUBMISSION"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** https://github.com/arfon/fidgit
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @arfon
**Reviewers:** @xuanxu
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is curre

[2022-02-23 10:41] arfon commented on #4189
@whedon commands

[2022-02-23 10:41] arfon commented on #4189
@editorialbot add @xuanxu as reviewer

[2022-02-23 10:41] arfon commented on #4189
@editorialbot assign me as editor

[2022-02-23 10:42] arfon commented on #4189
@editorialbot start review

[2022-02-23 10:42] editorialbot opened #4190 "[REVIEW]: TEST SUBMISSION"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** https://github.com/arfon/fidgit
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.1
**Editor:** @arfon
**Reviewers:** @xuanxu, @arfon
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is curren

[2022-02-23 10:42] #4189 closed

[2022-02-23 10:44] arfon commented on #4190
@editorialbot add @arfon as reviewer

[2022-02-23 10:44] xuanxu commented on #4190
@editorialbot generate my checklist

[2022-02-23 10:44] arfon commented on #4190
@editorialbot generate my checklist

[2022-02-23 10:45] xuanxu commented on #4190
@editorialbot commabnds

[2022-02-23 10:45] arfon commented on #4190
@editorialbot recommend-accept

[2022-02-23 10:58] tpurcell90 commented on #3960
@editorialbot generate pdf from master

[2022-02-23 11:02] arfon commented on #4190
@editorialbot recommend-accept

[2022-02-23 11:07] tpurcell90 commented on #3960
@editorialbot  commands

[2022-02-23 11:14] arfon commented on #2869
@editorialbot recommend-accept

[2022-02-23 11:16] xuanxu commented on #4190
@editorialbot commabnds

[2022-02-23 11:18] xuanxu commented on #4190
@editorialbot whatever blah blah

[2022-02-23 11:19] arfon commented on #2869
@editorialbot accept

[2022-02-23 11:52] arfon commented on #2869
@editorialbot set 10.5281/zenodo.6206145 as archive

[2022-02-23 11:52] arfon commented on #2869
@editorialbot recommend-accept

[2022-02-23 11:56] arfon commented on #2869
@editorialbot accept

[2022-02-23 12:08] arfon commented on #2869
@chrisbrunsdon, @kenohori , @sdesabbata – many thanks for your reviews here and to @hugoledoux for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@SimonMolinsky – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-02-23 12:09] arfon commented on #3993
@editorialbot recommend-accept

[2022-02-23 12:30] peanutfun commented on #4129
@cgrudz, I finished my review. Let me summarize:

DataAssimilationBenchmarks.jl is a well-working framework for researching data assimilation techniques. Installation is easy and I experienced no issues when executing functions of this package. The automated tests are working well and help understanding the inner workings of the module, although code coverage is still a bit low. The `README.md` gi

[2022-02-23 12:32] arfon commented on #3993
@editorialbot recommend-accept

[2022-02-23 12:35] arfon commented on #3993
@editorialbot accept

[2022-02-23 12:42] arfon commented on #3993
@matthewfeickert, @altavir – many thanks for your reviews here and to @lucydot for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@villaa – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-02-23 12:42] #3993 closed

[2022-02-23 12:45] arfon commented on #4190
@editorialbot recommend-accept

[2022-02-23 12:47] fanchercm commented on #4104
Right now all of the changes are contained in the JOSS_ISSUE branch for convince. I can commit the changes to the main branch if needed.

________________________________
From: Andrew Nelson ***@***.***>
Sent: Tuesday, February 22, 2022 9:28 PM
To: openjournals/joss-reviews
Cc: Fancher, Christopher; Mention
Subject: [EXTERNAL] Re: [openjournals/joss-reviews] [REVIEW]: pyRS: A Python package for th

[2022-02-23 12:54] SimonMolinsky commented on #2869
The great news for today!

Thank you @hugoledoux for all your help and supervision along the way, and your work for the Open Source community,

Thank you @kenohori and @sdesabbata for your time, patience, and invaluable comments, you've helped me a lot! Without your insights the package will be unreliable.

Thank you @arfon for acceptance and publication.

I'm sure that my journey with JOSS just s

[2022-02-23 13:05] arfon commented on #4190
@editorialbot generate pdf

[2022-02-23 13:07] xuanxu commented on #4190
@editorialbot whatever blah blah blah

[2022-02-23 13:16] editorialbot opened #4191 "[PRE REVIEW]: VIEWpoly: a visualization tool to integrate and explore results of polyploid genetic analysis"
**Submitting author:** @cristianetaniguti (<a href="http://orcid.org/0000-0002-2021-6883">Taniguti, C. H.</a>)
**Repository:** https://github.com/mmollina/viewpoly
**Branch with paper.md** (empty if default branch):
**Version:** v0.1.1
**Editor:** Pending
**Reviewers:**
**Managing EiC:** Arfon Smith

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic,

[2022-02-23 13:16] danielskatz commented on #3960
@tpurcell90 - sorry, we're in the midst of a change of bot - if you can wait a few hours, please do

[2022-02-23 13:21] danielskatz commented on #4157
👋 @Leticia-maria - @whedon is a bot, now in the processing of being replaced by @editorialbot.  Your editor is @Kevin-Mattheus-Moerman, and he will be able to help you submit review comments,

[2022-02-23 13:34] kenohori commented on #2869
Thanks for the submission, @SimonMolinsky, and congrats on the acceptance! 😄

[2022-02-23 13:36] xuanxu commented on #4190
@editorialbot yay!

[2022-02-23 13:40] xuanxu commented on #4190
@editorialbot sdkjfhaklsdjf

[2022-02-23 13:40] arfon commented on #3960
@editorialbot commands

[2022-02-23 13:54] danielskatz commented on #4062
@ddeehere - we're quite close to done; I hope you can accept this ☝️ PR soon, then I can proofread and move this to acceptance.

[2022-02-23 13:55] jarvist commented on #3960
Looking great! Was everything merged & all off-line discussions with the reviewers completed to satisfaction?

[2022-02-23 13:56] editorialbot opened #4192 "[PRE REVIEW]: knarrow: versaile knee/elbow point locator"
**Submitting author:** @InCogNiTo124 (<a href="http://orcid.org/0000-0001-9457-6761">Marijan Smetko</a>)
**Repository:** https://github.com/InCogNiTo124/knarrow
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 0.5.1
**Editor:** Pending
**Reviewers:**
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/1619b572ed3a9bcf05ac341acb887ca8/status

[2022-02-23 13:56] jarvist commented on #3960
@editorialbot check references

[2022-02-23 13:57] jarvist commented on #3960
@editorialbot check repository

[2022-02-23 13:58] jarvist commented on #3960
@tpurcell90 - have you tagged and archived a version of the software? I see your v1.1 tag, but could not find a DOI for it.
In GitHub, this is typically provided via Zenodo.

[2022-02-23 13:58] arfon commented on #4192
@editorialbot set joss-paper as branch

[2022-02-23 13:59] arfon commented on #4192
@editorialbot check repository

[2022-02-23 13:59] arfon commented on #4192
@editorialbot generate pdf

[2022-02-23 14:01] arfon commented on #4192
@InCogNiTo124 – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-02-23 14:02] ddeehere commented on #4062
@danielskatz Just merged the PR. Sorry failed to realize I have to do something. Thanks for reminder.

[2022-02-23 14:12] matthewfeickert commented on #3993
Congratulations and well done @villaa and @gerudo7! :tada:

[2022-02-23 14:12] danielskatz commented on #4062
@editorialbot check references

[2022-02-23 14:14] danielskatz commented on #4062
@editorialbot generate pdf

[2022-02-23 14:17] danielskatz commented on #4062
@ddeehere - can you also merge https://github.com/PopMedNet-Team/popmednet/pull/41 - this might have been my error; if so, sorry

[2022-02-23 14:21] danielskatz commented on #4062
@editorialbot generate pdf

[2022-02-23 14:25] danielskatz commented on #4062
@ddeehere - sorry, one more error - please merge https://github.com/PopMedNet-Team/popmednet/pull/42

[2022-02-23 14:29] ddeehere commented on #4062
@danielskatz Merged

[2022-02-23 14:29] danielskatz commented on #4062
@editorialbot generate pdf

[2022-02-23 14:34] tpurcell90 commented on #3960
@jarvist I just added a Zenodo badge to the gitlab repo

[2022-02-23 14:35] tpurcell90 commented on #3960
10.5281/zenodo.6245396

[2022-02-23 14:52] ddeehere commented on #4062
@danielskatz Thanks for catching that. Merged.

[2022-02-23 14:53] danielskatz commented on #4062
@editorialbot generate pdf

[2022-02-23 14:55] danielskatz commented on #4062
@ddeehere - please add the DOI mentioned above to your bib file

[2022-02-23 15:04] marekborowiec commented on #4124
@Bisaloo happy to do it but currently slammed. I can take a look next week!

[2022-02-23 15:19] Bisaloo commented on #4124
Yes, that would be perfect, there is no huge rush and we are usually pretty flexible with deadlines.

I'll go ahead and add you as reviewer then. I'll open the actual review issue shortly after and you'll be able to read more detailed instructions about the review process at JOSS there. Thanks!

[2022-02-23 15:19] Bisaloo commented on #4124
@editorialbot add @marekborowiec as reviewer

[2022-02-23 15:19] gerudo7 commented on #3993
Thank you! This is so exciting!

[2022-02-23 15:20] Bisaloo commented on #4124
@editorialbot start review

[2022-02-23 15:20] editorialbot opened #4193 "[REVIEW]: smot: a python package and CLI tool for contextual phylogenetic subsampling"
**Submitting author:** @arendsee (<a href="http://orcid.org/0000-0002-5833-798X">Zebulun Arendsee</a>)
**Repository:** https://github.com/flu-crew/smot
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @Bisaloo
**Reviewers:** @Chjulian, @marekborowiec
**Archive:** 10.5281/zenodo.7458325

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2022-02-23 15:24] Bisaloo commented on #4193
:wave: :wave: :wave: @arendsee @Chjulian @marekborowiec this is the review thread for the paper. All of our communications will happen here from now on.

The JOSS review is different from most other journals. Our goal is to work with the authors to help them meet our criteria instead of merely passing judgment on the submission. As such, the reviewers are encouraged to submit issues and pull reque

[2022-02-23 15:48] editorialbot opened #4194 "[PRE REVIEW]: Connectome Mapper 3: A Flexible and Open-Source Pipeline Software for Multiscale Multimodal Human Connectome Mapping"
**Submitting author:** @sebastientourbier (<a href="http://orcid.org/0000-0002-4441-899X">Sebastien Tourbier</a>)
**Repository:** https://github.com/connectomicslab/connectomemapper3
**Branch with paper.md** (empty if default branch):
**Version:** v3.0.3
**Editor:** @osorensen
**Reviewers:** @adbartni, @jsheunis
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/fa1

[2022-02-23 15:59] arfon commented on #4194
@sebastientourbier, for authors with multiple affiliations, please quote them. e.g.:

[code]

[2022-02-23 16:08] Chjulian commented on #4193
@editorialbot generate my checklist

[2022-02-23 16:13] danielskatz commented on #4062
@editorialbot check references

[2022-02-23 16:17] jbytecode commented on #3965
@editorialbot generate pdf

@pitsianis hi!, could you please update your status? Thank you in advance.

[2022-02-23 16:18] jbytecode commented on #3965
@editorialbot commands

[2022-02-23 16:18] jbytecode commented on #3965
@editorialbot generate pdf

[2022-02-23 16:27] arfon commented on #3965
@jbytecode – looks like the paper is failing to compile due to some issues with the new document production pipeline. Investigating...

[2022-02-23 16:33] danielskatz commented on #4062
@ddeehere - proofreading the paper PDF, I found a couple of things that I suggest changing, as shown in https://github.com/PopMedNet-Team/popmednet/pull/44  Please merge this if you agree with these changes.

[2022-02-23 16:34] rkurchin commented on #4104
This is a pretty common workflow, where changes from the review are done in a branch that is merged later. There will eventually need to be a release associated with the finalized version to accept the submission.

[2022-02-23 16:43] villaa commented on #3993
thanks @matthewfeickert we really appreciate your careful reviews and guidance. It was a bit long but the code is _much_ better for it!!

[2022-02-23 17:10] arfon commented on #3965
@editorialbot generate pdf

[2022-02-23 17:57] dciliberti commented on #4106
Good evening,sorry I am not available. Best regards,Danilo Ciliberti Da: Kevin Mattheus MoermanInviato: martedì 22 febbraio 2022 14:49A: openjournals/joss-reviewsCc: Danilo Ciliberti; MentionOggetto: Re: [openjournals/joss-reviews] [PRE REVIEW]: FlexWing-ROM: A matlab framework for data-driven reduced-order modeling of flexible wings (Issue ***@***.*** @dciliberti @Philipp-Conen @JaroslavHron @alb

[2022-02-23 18:11] JaroslavHron commented on #4106
Hi  @Kevin-Mattheus-Moerman - I am sorry but right now I am busy with other review duties.

[2022-02-23 19:13] jbytecode commented on #3965
@arfon - thank you, now it works like a charm!

[2022-02-23 19:45] editorialbot opened #4195 "[PRE REVIEW]: inaFaceAnalyzer: a Python toolbox for large-scale face-based description of gender representation in media with limited gender, racial and age biases"
**Submitting author:** @DavidDoukhan (<a href="http://orcid.org/0000-0002-1645-7334">David Doukhan</a>)
**Repository:** https://github.com/ina-foss/inaFaceAnalyzer
**Branch with paper.md** (empty if default branch):
**Version:** v0.5.6
**Editor:** @arfon
**Reviewers:** @lukassnoek, @vimalthilak
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/47086151f746f32165c72

[2022-02-23 19:49] editorialbot opened #4196 "[PRE REVIEW]: MERO: Monte Carlo Expectation Maximization Random Forest Imputation for Biological Data"
**Submitting author:** @MohmedSoudy (<a href="http://orcid.org/0000-0003-2735-0038">Mohmed Soudy</a>)
**Repository:** https://github.com/MohmedSoudy/MERO
**Branch with paper.md** (empty if default branch):
**Version:** v.0.1.0
**Editor:** Pending
**Reviewers:**
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/de0c5d745b98553d4392f7178b88f1ce/status.svg)](https://j

[2022-02-23 19:49] editorialbot opened #4197 "[PRE REVIEW]: EMB: A Curated Corpus of Web/Enterprise Applications for Scientific Research in Software Engineering"
**Submitting author:** @arcuri82 (<a href="http://orcid.org/0000-0003-0799-2930">Andrea Arcuri</a>)
**Repository:** https://github.com/EMResearch/EMB
**Branch with paper.md** (empty if default branch):
**Version:** v1.4.0
**Editor:** Pending
**Reviewers:**
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/9765e1839703cdb71c2ef0860d2c8b9e/status.svg)](https://joss.t

[2022-02-23 19:49] editorialbot opened #4198 "[PRE REVIEW]: FunFact: Build Your Own Tensor Decomposition Model in a Breeze"
**Submitting author:** @yhtang (<a href="http://orcid.org/0000-0001-7424-5439">Yu-Hang Tang</a>)
**Repository:** https://github.com/yhtang/FunFact
**Branch with paper.md** (empty if default branch): workspace/joss-submission
**Version:** 1.0.0
**Editor:** @melissawm
**Reviewers:** @Hanrui-Wang, @fabian-sp
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/51fa1d8137

[2022-02-23 19:50] editorialbot opened #4199 "[PRE REVIEW]: Climate variability indices for ecological and crop models in R: the climatrends package"
**Submitting author:** @kauedesousa (<a href="http://orcid.org/0000-0002-7571-7845">Kauê de Sousa</a>)
**Repository:** https://github.com/AgrDataSci/climatrends
**Branch with paper.md** (empty if default branch):
**Version:** v0.2
**Editor:** @KristinaRiemer
**Reviewers:** @dlebauer, @istfer
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/03d54683d5c1d77595190704

[2022-02-23 20:22] andr1976 commented on #4131
@fraukewiese, sorry for the late reply, let me see if I can squeeze it into my schedule, give me a few days and I will revert with a  answer,

[2022-02-23 20:47] yhtang commented on #4198
@editorialbot commands

[2022-02-23 20:48] yhtang commented on #4198
@editorialbot check repository from workspace/joss-submission

[2022-02-23 20:48] yhtang commented on #4198
@editorialbot check repository from "workspace/joss-submission"

[2022-02-23 20:49] yhtang commented on #4198
@editorialbot check repository

[2022-02-23 20:50] yhtang commented on #4198
@editorialbot generate pdf

[2022-02-23 20:51] yhtang commented on #4198
@editorialbot check references

[2022-02-23 20:52] yhtang commented on #4198
@editorialbot list reviewers

[2022-02-23 21:11] kellyrowland commented on #4089
Great, thank you!

[2022-02-23 21:12] kellyrowland commented on #4089
@editorialbot add @dominiquesydow as reviewer

[2022-02-23 21:13] kellyrowland commented on #4089
@editorialbot start review

[2022-02-23 21:13] editorialbot opened #4200 "[REVIEW]: GEMMI: A library for structural biology"
**Submitting author:** @wojdyr (<a href="http://orcid.org/0000-0003-3980-4092">Marcin Wojdyr</a>)
**Repository:** https://github.com/project-gemmi/gemmi/
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.5.1
**Editor:** @kellyrowland
**Reviewers:** @jamesrhester, @dominiquesydow
**Archive:** 10.6084/m9.figshare.19678776

**:warning: JOSS reduced service mode :warning:**

Du

[2022-02-23 21:13] #4089 closed

[2022-02-23 21:15] kellyrowland commented on #4200
@editorialbot generate pdf from branch paper

[2022-02-23 21:18] danielskatz commented on #4200
@editorialbot set custom-branch-with-paper as paper

[2022-02-23 21:19] danielskatz commented on #4200
👋 @openjournals/dev - Looks like something isn't working right

[2022-02-23 21:21] kellyrowland commented on #4094
No worries, thanks!

[2022-02-23 21:23] elbeejay commented on #4050
Hello all :wave:

I wanted to thank our reviewers for testing and evaluating this software. To hopefully help @kratzert and co-authors make changes, I wanted to ask @jhamman to provide some clarification on the unchecked boxes in the documentation and software paper sections. Please either open issues in the repositories or make a small comment here if these are concerns about missing documentatio

[2022-02-23 21:29] symmy596 commented on #4014
Hi all

I have created a tagged release on github and the release is associated with a zenodo record - 10.5281/zenodo.6250513 (https://zenodo.org/record/6250513#.YhamgpbLdD8)

Thanks to the reviewers and to everyone who participated in the process.

[2022-02-23 22:56] xuanxu commented on #4200
@editorialbot set paper as branch

[2022-02-23 22:57] xuanxu commented on #4200
@editorialbot generate pdf

[2022-02-23 22:58] danielskatz commented on #4200
I don't think this is what the JOSS documentation says to do...  It might need to be updated

[2022-02-23 23:00] kellyrowland commented on #4200
This needs to be updated: https://joss.readthedocs.io/en/latest/editorial_bot.html#compiling-papers-from-a-specific-branch

[2022-02-24 02:01] ArkajyotiSaha commented on #3780
@fabian-s I have corrected the typo, given the paper multiple through reads and corrected some minor grammatical issues.

1. The version tag of the tagged release in GitHub is v0.1.4.JOSS  .
2. The archived software in Zenodo has the DOI 10.5281/zenodo.6252368 .

Please let me know if any additional information is needed.

[2022-02-24 02:22] diehlpk commented on #4075
@editorialbot generate pdf

[2022-02-24 02:31] diehlpk commented on #4075
@editorialbot check references

[2022-02-24 02:53] diehlpk commented on #4075
Hi @jiahecui,

I started to look al the paper from the editorial perspective and have the following comments
`
* It seems the citations are not working

* Do you have any tool, like pydoc, to generate the documentation for your code?

* Dou you have any code coverage test?

[2022-02-24 02:57] diehlpk commented on #3390
@HaoZeke Just checking again.

[2022-02-24 02:58] diehlpk commented on #3390
@Kevin-Mattheus-Moerman Any news?

[2022-02-24 04:01] DavidDoukhan commented on #4195
@editorialbot generate pdf

[2022-02-24 04:01] DavidDoukhan commented on #4195
@editorialbot commands

[2022-02-24 04:03] DavidDoukhan commented on #4195
@editorialbot check references

[2022-02-24 05:11] cheginit commented on #3344
@mcflugen Thanks for addressing the issues that I've opened. However, you still haven't made any changes to the paper based on my suggestions. Once you address the issues, I will be happy to check the boxes and finish the review.

[2022-02-24 05:23] mcflugen commented on #3344
@cheginit We added two new sections, "*The Common Component Architecture*" and "*Grpc4BMI*" that discuss similar efforts to solve the language interoperability problem that the *babelizer* tries to address. We think this addresses your second suggestion.

I've also removed the extra commas on line 28. I just did this now, sorry I missed it earlier.

Were there other suggestions you had?

[2022-02-24 05:28] cheginit commented on #3344
@mcflugen I think you need to rebuild the PDF so I can see the changes. Since I didn't any rebuild command I assumed that you haven't made any changes. Let me try rebuilding it with whedon.

@whedon generate pdf

[2022-02-24 05:38] cheginit commented on #3344
@whedon generate pdf from branch joss

[2022-02-24 05:39] cheginit commented on #3344
@editorialbot generate pdf from branch joss

[2022-02-24 07:24] yhtang commented on #4171
I think we need some clarification regarding what suffices as 'automated tests' following up on the discussion [here](https://github.com/elizabethnewman/hessQuik/issues/2#issuecomment-1049563899). Specifically, are continuous integration setups required in addition to having unit tests written?

[2022-02-24 07:39] jbytecode commented on #4171
Formally we always check the software if it has unit tests with an acceptable level of coverage in JOSS.

Despite it is not a rigid requirement, I suggest adding GitHub Actions and some other continuous integration tools. In our case, yes, it would be better to have CI on GitHub so we can track if the latest changes don't break the code.

[2022-02-24 08:56] DavidDoukhan commented on #4195
Dear editor, please find below a suggestion of three potential reviewers:

thelinuxmaniac
lukassnoek
vimalthilak

Please let me know il you need any additional informatoin,

[2022-02-24 09:12] kauedesousa commented on #4199
Potential reviewers listed in the JOSS list are `Nasrinattar26`, `mikemahoney218`, `alessandroamaranto`, and `mhesselbarth`

[2022-02-24 09:39] jeremiecoullon commented on #4113
@whedon generate pdf

[2022-02-24 09:39] jeremiecoullon commented on #4113
@editorialbot generate pdf

[2022-02-24 09:41] jeremiecoullon commented on #4113
@editorialbot commands

[2022-02-24 09:41] jeremiecoullon commented on #4113
@editorialbot generate pdf

[2022-02-24 10:13] fraukewiese commented on #4131
Thanks @andr1976 for the reply. Hope you can make it, just let us know.

[2022-02-24 10:14] fraukewiese commented on #4131
@sevberg, @brynpickering
– would one of you be willing to review this submission for JOSS?

[2022-02-24 10:23] jiahecui commented on #4075
Hi @diehlp, thank you very much for the message!

* I use whedon https://whedon.theoj.org/ to generate the pdf, the citations did not cause a problem previously and I think they are ok now also? The pdf has been generated fine I think?

* No unfortunately we have never used pydoc. Is this required? We have prepared a very detailed README.md file in the root repo that explains the functionalities o

[2022-02-24 10:54] sebastientourbier commented on #4194
@editorialbot generate pdf

[2022-02-24 10:59] editorialbot opened #4201 "[PRE REVIEW]: RIAssigner: A package for gas chromatographic retention index calculation"
**Submitting author:** @hechth (<a href="http://orcid.org/0000-0001-6744-996X">Helge Hecht</a>)
**Repository:** https://github.com/RECETOX/RIAssigner
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.3.2
**Editor:** @dhhagan
**Reviewers:** @yguitton, @cthoyt, @davidegraff
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/f9528627fd5ba35257ce

[2022-02-24 11:01] arfon commented on #4194
@sebastientourbier – also while I'm looking for an editor for your submission, could you please update your BibTeX file? Specifically:

- Please limit your BibTex file to only the entries that you're actually citing in your paper.
- Where @editorialbot has suggestions, please check if the DOIs are correct and add them to your BibTeX file.

[2022-02-24 11:03] hechth commented on #4201
@editorialbot generate pdf

[2022-02-24 11:04] arfon commented on #4195
@DavidDoukhan – while I look for an editor, could you please take a look at the DOI suggestions that @editorialbot has made here and if they look correct update your BibTeX file accordingly?

[2022-02-24 11:04] brynpickering commented on #4131
Sorry @fraukewiese, I have no time to dedicate to this submission at the moment.

[2022-02-24 11:05] arfon commented on #4196
@MohmedSoudy - thanks for your submission to JOSS. Unfortunately this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on how to create a permanent archive and DOI for your softwa

[2022-02-24 11:05] arfon commented on #4196
@editorialbot reject

[2022-02-24 11:05] #4196 closed

[2022-02-24 11:08] arfon commented on #4197
@editorialbot query scope

@arcuri82 – thanks for your submission. I'm querying the scope here as this seems like a rather unusual submission for us, given that it seems to be a collection of web applications built by others.

Do you have any thoughts here on what exactly you'd be expecting the JOSS reviewers to actually be reviewing? Presumably not the software associated with each web applicatio

[2022-02-24 11:08] arfon commented on #4197
@editorialbot query scope

[2022-02-24 11:12] sebastientourbier commented on #4194
OK. I am going to take care of this very soon.
I will let you know when this is done.

[2022-02-24 11:15] arcuri82 commented on #4197
Hi,
  yes, indeed this is an unusual submission.
As wrote in the notes:

The code to review would be the scripts under the folder `scripts`, and all the drivers in the different folders named `em`. The software of the different web/enterprise applications should indeed not be reviewed.

Thanks. Of course we do understand if this might not be fully in scope of JOSS (but we thought it would had been

[2022-02-24 11:39] seankmartin commented on #4098
Ok I'm finished a first pass now.
Sincere apologies for the delay in particular to @patrickmineault since you were waiting for me.

I am very happy with the functionality of the package. The tests all pass and are useful, and I have manually verified some outputs in places which also were correct.
I have also run all of the demos/tutorials. I think the cue chaining (Epistemic Chaining) demo is par

[2022-02-24 11:55] xuanxu commented on #4198
@editorialbot check repository from branch workspace/joss-submission

[2022-02-24 11:58] zhanghe9704 commented on #3665
Good morning,
Just want to ask if there is any update in this review. Thanks.

He Zhang

On Tue, Jan 4, 2022 at 4:30 PM pibion ***@***.***> wrote:

[2022-02-24 12:08] arfon commented on #4174
@davidechicco - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-cod

[2022-02-24 12:08] arfon commented on #4174
@editorialbot reject

[2022-02-24 12:08] #4174 closed

[2022-02-24 12:24] lpantano commented on #4048
Hi @brentp, would you be interested on reviewing this tool? or know somebody who could help with this? Thanks!

[2022-02-24 12:26] lpantano commented on #4167
@cagret, could you fix the missing DOI please? Thanks!

[2022-02-24 12:27] lpantano commented on #4167
Hi @druvus, would you like to review this tool or know somebody who would be interested in? Thanks!

[2022-02-24 12:30] brentp commented on #4048
It's a bit outside my area. Maybe @rob-p or @BenLangmead would have a better idea?

[2022-02-24 12:32] hechth commented on #4201
As reviewers I'd like to suggest yguitton, bovee or jspaezp - they are on the list of registered reviewers for JOSS.

Other editor suggestions would be Mark Jensen, Kristina Riemer or Charlotte Soneson.

[2022-02-24 12:32] hechth commented on #4201
@editorialbot commands

[2022-02-24 12:33] danielskatz commented on #3344
@editorialbot generate pdf

[2022-02-24 12:35] danielskatz commented on #4171
See https://joss.readthedocs.io/en/latest/review_criteria.html#tests for more guidance

[2022-02-24 12:37] cagret commented on #4167
@whedon check references

[2022-02-24 12:38] cagret commented on #4167
@editorialbot  check references

[2022-02-24 12:42] fabian-s commented on #3780
@editorialbot  generate pdf

[2022-02-24 12:42] fabian-s commented on #3780
@editorialbot commands

[2022-02-24 12:43] fabian-s commented on #3780
@editorialbot check references

[2022-02-24 12:43] fabian-s commented on #3780
@editorialbot generate pdf

[2022-02-24 12:48] cagret commented on #4167
It's fixed, thank you

[2022-02-24 12:53] fabian-s commented on #3780
@ArkajyotiSaha

1. your Zenodo deposit is wrong again:

![image](https://user-images.githubusercontent.com/998541/155527112-62b23e5e-ff9a-487b-b9f6-ff0f7955c886.png)

looks like the meta data got messed up again....

please DO make sure your Zenodo deposit has

-  the same title as the JOSS paper
-  the same authors  as the JOSS paper

2.
just ignore the bot's complaint about the invalid DOI, the

[2022-02-24 13:04] ArkajyotiSaha commented on #3780
@fabian-s I corrected the metadata for the Zenodo in my last publish, but something seems to have gone wrong. I have updated the Zenodo, with the new DOI 10.5281/zenodo.6257157. Please let me know if this works!

[2022-02-24 13:46] fabian-s commented on #3780
@editorialbot check references

[2022-02-24 13:46] fabian-s commented on #3780
@editorialbot generate pdf

[2022-02-24 13:49] fabian-s commented on #3780
@editorialbot set v0.1.4.JOSS as version

[2022-02-24 13:50] fabian-s commented on #3780
@editorialbot set 10.21105/zenodo.6257157 as archive

[2022-02-24 13:52] fabian-s commented on #3780
@editorialbot recommend-accept

Attention, EiC --
the bot's complaint about the invalid DOI is a false poitive: the supplied reference:

works, but the bot seems to ignore the colon after A and that breaks the DOI.

[2022-02-24 13:52] fabian-s commented on #3780
@editorialbot recommend-accept

[2022-02-24 13:53] fabian-s commented on #3780
Attention, EiC --
the bot's complaint about the invalid DOI is a false poitive: the supplied reference:

    Breiman, L. (2001). Random forests.Machine Learning,45(1), 5–32. https://doi.org/10.1251023/A:1010933404324

works, but the bot seems to ignore the colon after A and that breaks the DOI.

[2022-02-24 13:55] sebastientourbier commented on #4194
@editorialbot commands

[2022-02-24 13:55] sebastientourbier commented on #4194
@editorialbot check references

[2022-02-24 13:56] sebastientourbier commented on #4194
@editorialbot check references

[2022-02-24 13:58] sebastientourbier commented on #4194
@editorialbot generate pdf

[2022-02-24 14:04] arfon commented on #3780
@fabian-s - looks like @editorialbot is failing to compile the paper due to some issues with the maths in the doc. / cc @tarleb  for visibility here.

[2022-02-24 14:34] sebastientourbier commented on #4194
@editorialbot check references

[2022-02-24 14:36] sebastientourbier commented on #4194
@editorialbot check references

[2022-02-24 14:37] sebastientourbier commented on #4194
@editorialbot generate pdf

[2022-02-24 14:38] arfon commented on #3780
@editorialbot recommend-accept

[2022-02-24 14:43] arfon commented on #3780
@xuanxu looks like the DOI `10.7717/peerj.5518` is causing the XML validation to fail here (although it's clearly a valid DOI). Perhaps we shouldn't fail the workflow here?

@fabian-s @ArkajyotiSaha, apologies for the noise here. We switched over to the new bot infrastructure yesterday and you're helping us find a few bugs 😅

[2022-02-24 14:47] fabian-s commented on #3780
no worries - anything I can do to help?

[2022-02-24 14:51] arfon commented on #3780
Nope, I think we're good for now.

[2022-02-24 14:53] sebastientourbier commented on #4194
@editorialbot generate pdf

[2022-02-24 14:56] tarleb commented on #3780
The problem was that the DOI has a leading space in the bib file. Our pipeline should be able to auto-fix minor issues like that. I've pushed a change that should allow validation to succeed now.

[2022-02-24 14:59] sebastientourbier commented on #4194
@arfon I reviewed my BibTex file and only kept the entries that are used in the paper. I also took care of adding a few missing DOI and correcting a few problematic ones. Now it seems everything is fine with `check references` and by checking the generated PDF.

[2022-02-24 15:37] fabian-s commented on #3780
congratulations, @ArkajyotiSaha!

[2022-02-24 15:45] cheginit commented on #3344
@mcflugen @kthyng I am happy to confirm that the authors addressed all my concerns. I just checked all the remaining boxes.

[2022-02-24 15:46] ArkajyotiSaha commented on #3780
@fabian-s Thanks so much! Please let me know if there is anything on my end to be taken care of!

[2022-02-24 15:50] rkurchin commented on #4164
Hi again @alejandrogallo and @arepstein, just a reminder to get your reviews started!

[2022-02-24 16:25] editorialbot opened #4202 "[PRE REVIEW]: MERO: Monte Carlo Expectation Maximization Random Forest Imputation for Biological Data"
**Submitting author:** @MohmedSoudy (<a href="http://orcid.org/0000-0003-2735-0038">Mohmed Soudy</a>)
**Repository:** https://github.com/MohmedSoudy/MERO
**Branch with paper.md** (empty if default branch):
**Version:** v.0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/36e90a6221aba3e415b9dc863481f48f/status.svg)](h

[2022-02-24 16:31] arfon commented on #4169
@editorialbot reject

[2022-02-24 16:32] #4169 closed

[2022-02-24 17:00] arfon commented on #4139
@clementpoiret – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-co

[2022-02-24 17:00] arfon commented on #4139
@editorialbot reject

[2022-02-24 17:00] #4139 closed

[2022-02-24 17:06] danielskatz commented on #3967
FYI - @bmagyar touched base via email and is on this.

[2022-02-24 17:07] arfon commented on #4187
@yajnab – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/) on

[2022-02-24 17:07] arfon commented on #4187
@editorialbot reject

[2022-02-24 17:07] #4187 closed

[2022-02-24 17:15] liquidcronos commented on #3967
Thanks for the update!

[2022-02-24 17:27] cagret commented on #4167
@editorialbot commands

[2022-02-24 17:28] cagret commented on #4167
@editorialbot check references

[2022-02-24 17:37] mbobra commented on #3331
👋 @ashleychontos We'll be hitting the two-week mark tomorrow -- will the code be ready to review at that time?

[2022-02-24 17:47] kapsakcj commented on #4124
Sorry for the late follow up - I appreciate the invite to review. Looks like other reviewers have already been selected, which is great.

I'm quite busy in the coming weeks and would not have been able to review for at least 2 weeks.

Best of luck on the review y'all!

[2022-02-24 18:37] alejandrogallo commented on #4164
Hi @rkurchin, is it ok for reviewers to issue pull-requests for things like typos or should we open issues for these?

[2022-02-24 19:24] diehlpk commented on #4075
@jiahecui I was talking about the Readme.md of the GitHub repo. Sorry for the confusion.

[2022-02-24 19:25] rkurchin commented on #4164
You are welcome to do either/both! Just make sure to follow any contribution guidelines issues by package authors. ;)

[2022-02-24 19:26] diehlpk commented on #4075
In that case, it is fine.

[2022-02-24 19:27] arcaldwell49 commented on #4126
All, I just want to give a small update. A user of the package noticed an error under certain conditions for agree_nest and agree_reps. I have put in a small patch (v0.0,3) to fix the issue. I am merging a branch with the main branch now and will submit to CRAN soon.

[2022-02-24 19:32] diehlpk commented on #4075
I was more thinking about like that

{Coverage.py](https://coverage.readthedocs.io/en/6.3.2/#coverage-py)

Coverage.py is a tool for measuring code coverage of Python programs. It monitors your program, noting which parts of the code have been executed, then analyzes the source to identify code that could have been executed but was not.

If the tests are executed, how many lines of code were reach

[2022-02-24 19:33] kthyng commented on #3344
@cheginit Thank you for your review!!

It looks like we have a few remaining unticked boxes from way back when this review process started from @lheagy — could you take a look at your previous concerns and see where they stand now? Thank you!!

[2022-02-24 19:56] matthewfeickert commented on #4170
@whedon commands

[2022-02-24 19:56] matthewfeickert commented on #4170
@editorialbot commands

[2022-02-24 20:10] Subho07 commented on #4032
Thanks for updating the manuscript and for making clear all the clarifications. I think the manuscript is ready for publication.

[2022-02-24 20:11] Cristianetaniguti commented on #4191
A suggested reviewer from the list: dsurujon

[2022-02-24 20:24] lheagy commented on #3344
Good to go on my end 🚀

[2022-02-24 20:45] whedon commented on #4151
:wave: @Kraks, please update us on how your review is going (this is an automated reminder).

[2022-02-24 20:53] DavidDoukhan commented on #4195
@editorialbot check references

[2022-02-24 21:30] fboehm commented on #4148
@itismeghasyam and @slwu89 - how are your reviews going? Is there anything that I can assist with? Do you have any questions? Thanks again!

[2022-02-24 21:48] Narayana-Rao commented on #4032
@hugoledoux Thanks for mentioning this. The tests are successful in Mac and Ubuntu OS. However, the issue ([phenology/cgc#76](https://github.com/phenology/cgc/issues/76)) still persists in Windows OS.

[2022-02-24 22:52] nulberry commented on #4038
Hello everyone,
Thank you for pointing out the issues with the documentation for Windows. I apologize for not having this documentation clear and accurate at the beginning of this review, and for any delay or frustration this may have caused. The latest commit has the improved documentation.

@aaronpeikert , I'm understanding from this comment that you are experiencing new issues that I am unaware

[2022-02-25 07:04] yhtang commented on #4198
Suggested reviewers:

- jamiehadd
- g4brielvs
- rougier
- uellue
- jdmoorman
- leotrs

[2022-02-25 07:59] xuanxu commented on #4190
@editorialbot commands

[2022-02-25 09:12] arfon commented on #2446
As outlined last week, I'm going ahead and rejecting this submission due to inactivity on the part of the author. @faroit & @benjaminrose – many thanks for your efforts here.

@lockepatton – I'm sorry this didn't work out.

[2022-02-25 09:12] arfon commented on #2446
@editorialbot reject

[2022-02-25 09:12] #2446 closed

[2022-02-25 09:48] benjaminbolling commented on #3431
Hi, quick update - I had a baby recently and was hence very busy outside work. I have in the meanwhile done some fixes here and there, and expect to have things ready by the end of the WE

[2022-02-25 09:49] DavidDoukhan commented on #4195
@editorialbot check references

@editorialbot generate pdf

[2022-02-25 09:50] DavidDoukhan commented on #4195
@editorialbot check references

[2022-02-25 09:51] DavidDoukhan commented on #4195
@editorialbot generate pdf

[2022-02-25 09:55] DavidDoukhan commented on #4195
@arfon , I updated the bibtex and it seems better now,

Kind regards,

[2022-02-25 10:18] pdebuyl commented on #4086
@bkmi I am still looking out for a second reviewer, which is necessary to start the review. I contact reviewers by email most of the time, as many people do not read GitHub's notifications. I'll update you here of course when there is progress!

[2022-02-25 10:32] pdebuyl commented on #4100
Thank you @ptmerz for the review!

[2022-02-25 10:35] pdebuyl commented on #4100
@whedon generate pdf

[2022-02-25 10:38] pdebuyl commented on #4100
@editorialbot generate pdf

[2022-02-25 10:39] editorialbot opened #4203 "[PRE REVIEW]: BetterReg: An R package for Useful Regression Statistics"
**Submitting author:** @chrisaberson (<a href="http://orcid.org/0000-0003-3481-7177">Christopher Aberson</a>)
**Repository:** https://github.com/chrisaberson/BetterReg
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/b5f6a281e1a514d6dd243dfdbb231b56/st

[2022-02-25 10:39] editorialbot opened #4204 "[PRE REVIEW]: HiddenMarkovModelReaders: A Julia implementation of a Hidden Markov Model and unsupervised hypothesis generation for signal processing"
**Submitting author:** @DanielRivasMD (<a href="http://orcid.org/0000-0002-0143-2687">Daniel Rivas</a>)
**Repository:** https://github.com/DanielRivasMD/HiddenMarkovModelReaders
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/a9453207b3432dcfd846c758

[2022-02-25 10:41] arfon commented on #4190
@editorialbot commands

[2022-02-25 10:45] pdebuyl commented on #4100
@hannahbrucemacdonald there has been feedback from @lilyminium in reply to your issue and in PR https://github.com/lilyminium/psiresp/pull/70

[2022-02-25 10:45] pdebuyl commented on #4077
Hi @JamieBamber any update on your side?

[2022-02-25 10:52] aaronpeikert commented on #4038
No, on my personal machine, everything is fine. Nevertheless, I wanted to test your software on another Linux machine, on Mac, and on Windows (if you plan on supporting Windows). Just to verify that people can follow the documentation and do not run into any issues.

[2022-02-25 10:55] arfon commented on #4204
@DanielRivasMD – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-02-25 10:55] arfon commented on #4204
@editorialbot query scope

[2022-02-25 10:56] arfon commented on #4190
@editorialbot reject

[2022-02-25 10:56] #4190 closed

[2022-02-25 10:57] arfon commented on #4203
@editorialbot query scope

[2022-02-25 10:59] arfon commented on #4188
@editorialbot query scope

[2022-02-25 11:00] arfon commented on #4188
@gabrielelubatti – given this is the third time this package has been submitted to JOSS, I'm going to put it through a scope review again to make sure the editorial team is happy with the state of the submission now.

[2022-02-25 12:41] pdebuyl commented on #4086
@editorialbot add @olgadoronina as reviewer

[2022-02-25 12:43] pdebuyl commented on #4086
@editorialbot start review

[2022-02-25 12:43] editorialbot opened #4205 "[REVIEW]: swyft: Truncated Marginal Neural Ratio Estimation in Python"
**Submitting author:** @bkmi (<a href="http://orcid.org/0000-0003-0387-8727">Benjamin Miller</a>)
**Repository:** https://github.com/undark-lab/swyft
**Branch with paper.md** (empty if default branch): joss-submission-do-not-delete
**Version:** v0.3.2
**Editor:** @pdebuyl
**Reviewers:** @mattpitkin, @olgadoronina
**Archive:** 10.5281/zenodo.6412465

## Status

[![status](https://joss.theoj.org/pap

[2022-02-25 12:43] #4086 closed

[2022-02-25 12:44] pdebuyl commented on #4205
@editorialbot set joss-submission-do-not-delete as branch

[2022-02-25 12:44] pdebuyl commented on #4205
@editorialbot generate pdf

[2022-02-25 12:51] pdebuyl commented on #4205
Hi @mattpitkin @olgadoronina please read full the instructions at https://github.com/openjournals/joss-reviews/issues/4205#issue-1150402557 , they contain all the necessary information. I remain available in any case.

[2022-02-25 13:23] ajstewartlang commented on #4155
@whedon add @Volkerschmid as reviewer

[2022-02-25 13:25] ajstewartlang commented on #4155
@editorialbot add @volkerschmid as reviewer

[2022-02-25 13:25] ajstewartlang commented on #4155
@editorialbot start review

[2022-02-25 13:25] editorialbot opened #4206 "[REVIEW]: BCEA: An R Package for Cost-Effectiveness Analysis"
**Submitting author:** @n8thangreen (<a href="http://orcid.org/0000-0003-2745-1736">Nathan Green</a>)
**Repository:** https://github.com/n8thangreen/BCEA/
**Branch with paper.md** (empty if default branch): JOSS-paper
**Version:** v2.4.2
**Editor:** @ajstewartlang
**Reviewers:** @rowlandseymour, @MikeLydeamore
**Archive:** 10.5281/zenodo.7040450

## Status

[![status](https://joss.theoj.org/papers

[2022-02-25 13:25] #4155 closed

[2022-02-25 13:26] ajstewartlang commented on #4206
@whedon generate pdf from branch JOSS-paper

[2022-02-25 13:26] ajstewartlang commented on #4206
@editorialbot generate pdf from branch JOSS-paper

[2022-02-25 13:27] ajstewartlang commented on #4206
@editorialbot commands

[2022-02-25 13:28] ajstewartlang commented on #4206
@editorialbot set joss-paper as branch

[2022-02-25 13:28] ajstewartlang commented on #4206
@editorialbot generate pdf

[2022-02-25 13:31] ajstewartlang commented on #4206
@editorialbot set branch to JOSS-paper

[2022-02-25 13:32] ajstewartlang commented on #4206
@editorialbot set JOSS-paper as branch

[2022-02-25 13:32] ajstewartlang commented on #4206
@editorialbot generate pdf

[2022-02-25 13:42] wincowgerDEV commented on #4038
@aaronpeikert I am running through the Windows set up so no need to do that
on your part.

On Fri, Feb 25, 2022 at 2:52 AM Aaron Peikert ***@***.***>
wrote:

--

´¯`·.¸¸.·´¯`·.´¯`·.¸¸.·´¯`ツ ------------------------------
---------------------

*Win Cowger, PhD *
Pronouns: he/him
Research Scientist
Moore Institute for Plastic Pollution Research

*Contact Info*

515-298-3869  | ***@***.*** | @Win_Op

[2022-02-25 13:54] mattpitkin commented on #4205
@editorialbot generate my checklist

[2022-02-25 14:07] elbeejay commented on #4176
@editorialbot start review

[2022-02-25 14:07] editorialbot opened #4207 "[REVIEW]: PlanktonIndividuals.jl: A GPU supported individual-based phytoplankton life cycle model."
**Submitting author:** @zhenwu0728 (<a href="http://orcid.org/0000-0001-8474-4274">Zhen Wu</a>)
**Repository:** https://github.com/JuliaOcean/PlanktonIndividuals.jl
**Branch with paper.md** (empty if default branch):
**Version:** v0.5.1
**Editor:** @elbeejay
**Reviewers:** @Datseris, @BrodiePearson
**Archive:** 10.5281/zenodo.6507001

## Status

[![status](https://joss.theoj.org/papers/015da73a23a

[2022-02-25 14:07] #4176 closed

[2022-02-25 14:12] elbeejay commented on #4207
@navidcy and @Datseris thanks again for agreeing to review this submission to JOSS. We've just switched over from whedon to the new editorialbot, and the review process has changed subtly. Instead of your checklist being at the top of this issue, you can generate your own checklist with the command `@editorialbot generate my checklist`. Otherwise the review process is functionally the same as it h

[2022-02-25 14:24] Kevin-Mattheus-Moerman commented on #3980
@nicoguaro can you also review the latest changes? Let us know if there are still major points that need work. Thanks again for your continued help!

[2022-02-25 14:26] Datseris commented on #4207
@editorialbot generate my checklist

[2022-02-25 14:26] Kevin-Mattheus-Moerman commented on #3736
@quynhneo I am not sure. I've asked over at that issue you cited.

[2022-02-25 14:27] Kevin-Mattheus-Moerman commented on #3736
Thanks @timdewhirst, let me know if you have any questions.

[2022-02-25 14:32] Kevin-Mattheus-Moerman commented on #3920
@lassoan I hope you are well. Can you provide an update on the review? Thanks.

[2022-02-25 14:33] Kevin-Mattheus-Moerman commented on #4118
@chennachaos, @JaroslavHron, can you given an update on review progress? Thanks.

[2022-02-25 14:34] Kevin-Mattheus-Moerman commented on #4118
@CZHU20 can you respond to the issues raised above by Axel Loewe? :point_up:

[2022-02-25 14:58] fnattino commented on #4032
@Narayana-Rao thanks a lot for the feedback, the issue has been now solved by [phenology/cgc#82](https://github.com/phenology/cgc/pull/82)!

@hugoledoux I think all the reviewers' points have now been addressed.

[2022-02-25 15:22] Kevin-Mattheus-Moerman commented on #4106
@chennachaos :+1: no worries. Yeah you already deserve a medal for your other review efforts. Thanks for getting back to me.

[2022-02-25 15:25] mattpitkin commented on #4205
@bkmi I've just installed version 0.2.1 of swyft from PyPI. I'm trying to run the [Quickstart guide](https://swyft.readthedocs.io/en/latest/notebooks/Quickstart.html), but on line:

[code]

it gives the error:

[code]

I assume this is because v0.2.1 isn't up-to-date. Could you push the latest release to PyPI?

[2022-02-25 15:37] cgurrr commented on #4012
Hi @meg-simula, did you get any update from blbentley? Thanks!

[2022-02-25 15:37] mattpitkin commented on #4205
The paper is very nice. I only have a minor suggestion, which is due to my gravitational-wave bias. Seeing as rapid inference for gravitational waves is mentioned, it might be worth citing some of the related work in, e.g., [Gabbard _et al_](https://arxiv.org/abs/1909.06296), [Dax _et al_](https://ui.adsabs.harvard.edu/abs/2021PhRvL.127x1103D/abstract), [Chua & Vallisneri](https://ui.adsabs.harvar

[2022-02-25 15:48] quickbeam123 commented on #3849
"In contrast, for interactive theorem provers, some projects like
HOList (Bansal, Loos, Rabe, Szegedy, & Wilcox, 2019)
separate the concepts of environment and agent.
Such modular architecture proved to help create multiple successful agents by
different groups of researchers (see, e.g. Paliwal et al. (2020) or Bansal, Loos, Rabe, &
Szegedy (2019))."

- While I agree in principle, the example is m

[2022-02-25 16:25] melissawm commented on #4198
@editorialbot assign @melissawm as editor

[2022-02-25 16:26] melissawm commented on #4198
Thanks @yhtang - I will review the paper and code and get back to you soon.

[2022-02-25 16:27] melissawm commented on #2974
Hello folks - is there anything we can do to move this to the finish line? Thanks!

[2022-02-25 16:29] geoffreyp commented on #2974
Hello @melissawm, we only have one more issue to close : https://github.com/moead-framework/framework/issues/71
@chkoar

[2022-02-25 17:50] slwu89 commented on #4126
Hi @fboehm thank you for the update, and @arcaldwell49 for that information.

[2022-02-25 17:52] ArnaudHelias commented on #3329
Hi @vissarion , @GustaveCoste is heavily involved in other missions today, I'll take over the article. I'll try to do it quickly.

Thanks a lot.
Arnaud

[2022-02-25 17:54] slwu89 commented on #4148
@whedon generate pdf

[2022-02-25 17:59] slwu89 commented on #4148
Hi @fboehm, how do I regenerate the PDF? It looks like the old whedon command doesn't work. Thanks!

[2022-02-25 18:00] slwu89 commented on #4148
@editorialbot generate pdf

[2022-02-25 18:44] slwu89 commented on #4148
I am linking issues created in the review repo to this review here:

- community guidelines https://github.com/arcaldwell49/SimplyAgree/issues/10
- finding documentation https://github.com/arcaldwell49/SimplyAgree/issues/9

[2022-02-25 18:47] slwu89 commented on #4148
@fboehm I have a question, in the documentation section of the review checking it indicates:

Does this mean that the README file needs to have a section titled "Statement of need" or is it all right if this information is available but not labeled as such?

[2022-02-25 21:12] arfon commented on #3780
@editorialbot accept

[2022-02-25 21:18] arfon commented on #3780
@mnwright, @pdwaggoner – many thanks for your reviews here and to @fabian-s for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@ArkajyotiSaha – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-02-25 21:18] #3780 closed

[2022-02-25 22:16] Evmoerman commented on #4040
Hey guys, @rkurchin , @awvwgk , @wcwitt , I have now adapted the interface to work with the **now public** version of CC4S, which can be found [here](https://gitlab.cc4s.org/cc4s/cc4s).
The tests and pipelines work and use the newest version of CC4S.
If nothing breaks in the meantime, I hope that I can start to take care of the issues opened so far.

[2022-02-25 22:27] wcwitt commented on #4040
Sounds great. Once there is an example, I'll work through it and finish with any other comments.

[2022-02-26 01:51] ocramz commented on #4184
I congratulate the authors on a very interesting contribution. In my opinion the paper, in its current form, could elaborate a bit more on the statement of need/"applications" part; it connects two areas that are rich in theory, and I would guess there's plenty of applications that could benefit from this connection.

@Nikoleta-v3 I suggest to relax the review timeline; Kyiv is currently being inv

[2022-02-26 05:57] gcattan commented on #4114
Hello @ekinney-lang ,

Thank you very much for your time reviewing this software. Your comments are much appreciated, and I will open a couple of issues to address the lack of documentation/explanation and improve some aspects in testing as suggested. I hope I can bother you from time to time :)

[2022-02-26 10:21] inpefess commented on #3849
@whedon generate pdf from branch joss-paper

[2022-02-26 10:22] inpefess commented on #3849
@whedon check references

[2022-02-26 10:23] inpefess commented on #3849
Nice to meet you @editorialbot

[2022-02-26 10:24] inpefess commented on #3849
@editorialbot check references from branch joss-paper

[2022-02-26 10:38] inpefess commented on #3849
@editorialbot check references from branch joss-paper

[2022-02-26 10:41] inpefess commented on #3849
@editorialbot check references

[2022-02-26 10:41] inpefess commented on #3849
@editorialbot generate pdf

[2022-02-26 16:44] IvanIsCoding commented on #3968
@editorialbot  generate pdf from branch joss-paper

[2022-02-26 16:45] IvanIsCoding commented on #3968
@editorialbot set joss-paper as branch

[2022-02-26 16:45] IvanIsCoding commented on #3968
@editorialbot generate pdf

[2022-02-26 16:50] pythonpanda2 commented on #4166
I will start taking a look at this latest on monday.

[2022-02-26 16:51] IvanIsCoding commented on #3968
@drvinceknight  We have revised the software paper and want to generate a new version, however we are struggling with the bot. Can you help setting the branch to [joss-paper](https://github.com/qiskit/retworkx/tree/joss-paper)?

[2022-02-26 16:58] pythonpanda2 commented on #4166
@galessiorob I don't think I am able to work on the checklist. Please let me know if I have been removed from the review service or if my service is no longer required ?

[2022-02-26 17:16] njuaplusplus commented on #4151
Hi  @Theomat,

I have some problems completing the installation as instructed in your repo, could you take a look at this issue nathanael-fijalkow/DeepSynth#2 ? Thank you.

Best,
Shengwei

[2022-02-26 18:22] smchartrand commented on #4091
Hi @kbarnhart. Just wanted to give you an update. Sarah and I are still working on your suggestions and hope to have things ready soon. Hope you are well and thanks for your patience.

[2022-02-26 18:24] CZHU20 commented on #4118
Hi @Kevin-Mattheus-Moerman, I will discuss the issues raised by Axel with my coauthors and post the formal response as soon as possible. Thank you.

[2022-02-27 00:45] jvkersch commented on #4048
@lpantano Thanks for the continued effort in dealing with the paper, I really appreciate it. Please let me know if there's anything I can do to facilitate the reviewing process.

Regarding the incorrect DOI that was pointed out above: I actually contacted both ACM and SIAM and while both were really responsive, there's not much they can do at the moment. Apparently it's not clear who has the respo

[2022-02-27 07:47] whedon commented on #4157
:wave: @Leticia-maria, please update us on how your review is going (this is an automated reminder).

[2022-02-27 10:04] jiahecui commented on #4075
Dear Patrick,

Hello, and many thanks for the messages. I don’t know why but I have not been able to access any GitHub websites since Friday, including this review thread, I can only reply by email for now. Chrome gives me the following error code NET::ERR_CERT_COMMON_NAME_INVALID. It seems to come from an imposed security update from our Dept. I will need to contact our IT to find out.

It the me

[2022-02-27 11:17] bonh commented on #3742
I read through the paper again and added some new discussion points in https://github.com/uw-comphys/opencmp/issues/22. And there are some old points which have not been addressed yet.

[2022-02-27 15:49] jgostick commented on #4093
I have pinged both reviewers by email to see how things are progressing.

[2022-02-27 15:50] jgostick commented on #3957
I have pinged both reviewers by email to see how things are progressing.  Sorry fro the delays.

[2022-02-27 16:44] amritagos commented on #3764
@ajstewartlang sorry for being so late with this review...I can't seem to edit the checklist...

[2022-02-27 16:45] arfon commented on #3968
@editorialbot set joss-paper as branch

[2022-02-27 16:45] arfon commented on #3968
@editorialbot generate pdf

[2022-02-27 16:47] ajstewartlang commented on #3764
@amritagos thanks for letting me know - I may need to re-invite you - I'll do that now...

[2022-02-27 16:48] ajstewartlang commented on #3764
@editorialbot re-invite @amritagos as reviewer

[2022-02-27 16:48] ajstewartlang commented on #3764
@editorialbot commands

[2022-02-27 16:49] ajstewartlang commented on #3764
@editorialbot add @amritagos as reviewer

[2022-02-27 16:53] ajstewartlang commented on #3764
@amritagos can you try running the command below please? If it works, it will re-generate your checklist for you and you should then be able to edit the checklist.

`@editorialbot generate my checklist`

[2022-02-27 16:55] engyasin commented on #4099
Hello,
In the following, the responses to previously raised issues regarding the submission are listed

The package is now on pypi.

Documentation with full API is in https://engyasin.github.io/Offline_MOT

CI workflow with github actions is added.
For local testing pytest is needed to be run on the tests folder.

Noted, the suggestion is adopted (although short but good for now). Regarding the st

[2022-02-27 17:02] engyasin commented on #4099
@whedon generate pdf

[2022-02-27 17:03] mancellin commented on #4186
@kthyng I have a small issue:
I cannot check the item of the checklist, and I cannot find the invitation from whedon (error message from Github: `Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account.`)

[2022-02-27 17:05] amritagos commented on #3764
@editorialbot generate my checklist

[2022-02-27 17:06] amritagos commented on #3764
@ajstewartlang  thank you so much! I'm working on it.

[2022-02-27 17:16] editorialbot opened #4208 "[PRE REVIEW]: scRNAClust: A Clustering Pipeline For mammalian brain single-cell RNA-sequencing data"
**Submitting author:** @emilianopp (<a href="http://orcid.org/0000-0003-3785-6796">Emiliano Penaloza</a>)
**Repository:** https://github.com/desouzalab/scRNAClust
**Branch with paper.md** (empty if default branch):
**Version:** v.0.0.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/324ac255bc1e2abe7e8cd7f2062172ec/statu

[2022-02-27 17:16] editorialbot opened #4209 "[PRE REVIEW]: Pyrodigal: Python bindings and interface to Prodigal, an efficient method for gene prediction in prokaryotes."
**Submitting author:** @althonos (<a href="http://orcid.org/0000-0002-3947-4444">Martin Larralde</a>)
**Repository:** https://github.com/althonos/pyrodigal/
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.6.4
**Editor:** @mikldk
**Reviewers:** @Gab0, @standage
**Managing EiC:** Arfon Smith

## Status

[![status](https://joss.theoj.org/papers/b86b61e7d2f4ac0140ae284cfe910a

[2022-02-27 17:17] arfon commented on #4204
@DanielRivasMD - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-co

[2022-02-27 17:17] arfon commented on #4204
@editorialbot reject

[2022-02-27 17:18] #4204 closed

[2022-02-27 17:20] arfon commented on #4203
@chrisaberson - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-cod

[2022-02-27 17:20] arfon commented on #4203
@editorialbot reject

[2022-02-27 17:20] #4203 closed

[2022-02-27 17:21] arfon commented on #4208
@Emilianopp – due to the small size of this code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next week.

[2022-02-27 17:21] arfon commented on #4208
@editorialbot query scope

[2022-02-27 17:22] arfon commented on #4209
@editorialbot set paper as branch

[2022-02-27 17:22] arfon commented on #4209
@editorialbot generate pdf

[2022-02-27 17:26] arfon commented on #4209
@althonos – this PR should fix your paper compilation: https://github.com/althonos/pyrodigal/pull/9

[2022-02-27 17:28] chrisaberson commented on #4203
This policy completely ignore the actual contribution. Providing a source for extraordinarily useful statistical values that are not presently available for researchers working in the social sciences. Filling a such a gap goes well beyond the outlet's focus on lines of code. These approaches represent best practices for reporting yet they are largely not reported because there are no tools readily

[2022-02-27 17:31] arfon commented on #4159
@editorialbot invite @mikldk as editor

[2022-02-27 17:32] arfon commented on #4159
:wave: @mikldk – would you be willing to edit this submission for JOSS?

[2022-02-27 17:39] arfon commented on #4175
@editorialbot invite @timtroendle as editor

[2022-02-27 17:39] arfon commented on #4175
👋 @timtroendle – would you be willing to edit this submission for JOSS?

[2022-02-27 17:40] althonos commented on #4209
Thank you!

Given their experience with Python+C and their knowledge of genomics, any I suppose the following reviewers would be a good fit:
- @\chaypaterson
- @\Gab0
- @\standage
- @\will-rowe

[2022-02-27 17:41] arfon commented on #4178
@editorialbot invite @kbarnhart as editor

[2022-02-27 17:42] arfon commented on #4178
@kbarnhart – would you be willing to edit this submission for JOSS (providing you think this submission meets our scope)?

[2022-02-27 17:42] engyasin commented on #4099
@editorialbot generate pdf

[2022-02-27 17:48] arfon commented on #3690
Thanks for flagging this @dhhagan. I think this submission is good to move forward to review.

[2022-02-27 17:53] arfon commented on #4179
@mattpitkin – could you explain a little more about the lineage/heritage of this code? I see a fair chunk of C code in the `src` folder which seems to be from a number of authors, and then the Python bindings/wrapper code?

Wrappers of other code generally aren't in scope for JOSS (especially if the code being wrapped isn't written by the author) but I'm not sure if I'm reading this correctly here

[2022-02-27 17:55] awvwgk commented on #4040
Just tried to compile CC4S again and failed with a more recent version of GCC. The overall experience of building CC4S is a bit unsettling, having a makefile invoke CMake and autotools to build dependencies seems rather fragile to me, also I have a version of yaml-cpp around which I prefer to use rather than compile yet another one. This is not really on CC-aims but more on CC4S.

I really appreci

[2022-02-27 18:00] arfon commented on #4191
@editorialbot query scope

[2022-02-27 18:01] arfon commented on #4191
@Cristianetaniguti – as this package seems to focus heavily on visualisation I'm going to ask the JOSS editorial team to review whether this submission is in scope for us. A decision here will likely take a couple of weeks.

[2022-02-27 18:03] arfon commented on #4188
@editorialbot assign @csoneson as editor

[2022-02-27 18:04] Evmoerman commented on #4040
@awvwgk Thanks for your assessment. I, of course, cannot guarantee that the current installation infrastructure will change in the near future but I will forward your comment to the CC4S development team. If possible, it would probably also be a good idea to open an issue on the public cc4s repo.
Is it okay if I include your e-mail address, so that someone can contact you for that issue?

[2022-02-27 18:14] arfon commented on #4194
Thanks @sebastientourbier. We're currently managing a large backlog of submissions and the editors most appropriate for your area are already rather busy.

For now, we will need to waitlist this paper and process it as the queue reduces. Thanks for your patience!

[2022-02-27 18:17] timtroendle commented on #4175
@arfon, @openjournals/joss-eics I don't feel comfortable editing this submission as its topic is not within my area of expertise.

[2022-02-27 18:18] awvwgk commented on #4040
I can't open issues at the CC4S GitLab, so feel free to go ahead and open an issue on my behalf.

Another thing I would appreciate would be a released version of CC4S (maybe also CTF). A C++/MPI program should be easy enough to package on conda-forge, which in turn would simplify the CC-aims installation because dependencies could be installed from a package manager (for HPC usage it is of course

[2022-02-27 18:20] arfon commented on #4006
@luizirber – looks like we're still looking for a second reviewer here?

[2022-02-27 18:21] arfon commented on #3790
:wave: @hiraksarkar, @ctb – looks like we're waiting on your reviews here. Do you think you could complete your initial reviews in the next couple of weeks?

[2022-02-27 18:23] arfon commented on #4195
@editorialbot assign me as editor

[2022-02-27 18:23] arfon commented on #4195
:wave: @thelinuxmaniac @lukassnoek @vimalthilak, would you be willing to review this submission for JOSS?

[2022-02-27 18:23] timtroendle commented on #2688
@garrettj403, @untzag, I assume you are busy with other obligations which I understand completely. But please give us a brief indication by when you'd expect to be done with your respective reviews.

[2022-02-27 18:24] lukassnoek commented on #4195
Sure, sounds interesting!

[2022-02-27 18:25] arfon commented on #4195
@editorialbot assign @arfon as editor

[2022-02-27 18:25] arfon commented on #4195
@editorialbot assign @arfon as editor

[2022-02-27 18:26] Evmoerman commented on #4040
I see. I assume that Issues have not been enabled yet for everyone so early after the code release. I have forwarded your bug report+installation recommendations to the devs. I will also inform them about your advice to package CC4S.

[2022-02-27 18:28] arfon commented on #4195
:zap: thanks! I'll go ahead and add you as a reviewer shortly. I'll also wait until we have a second reviewer before opening up the main review issue so sit tight for now.

[2022-02-27 18:34] arfon commented on #4195
@editorialbot assign me as editor

[2022-02-27 18:35] arfon commented on #4188
@editorialbot assign @csoneson as editor

[2022-02-27 18:35] arfon commented on #4195
@editorialbot add @lukassnoek as reviewer

[2022-02-27 18:37] arfon commented on #4198
@editorialbot assign @melissawm as editor

[2022-02-27 18:41] arfon commented on #4199
@editorialbot invite @Bisaloo as editor

[2022-02-27 18:41] arfon commented on #4199
:wave: @Bisaloo – would you be able to edit this submission for JOSS?

[2022-02-27 18:43] arfon commented on #4201
@editorialbot query scope

[2022-02-27 18:44] arfon commented on #4201
@hechth – as this is on the smaller side of what we allow in JOSS, I'm going to ask the wider editorial team to discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS. We should get back to you sometime next couple of weeks.

[2022-02-27 18:48] arfon commented on #4202
@MohmedSoudy – as I noted in https://github.com/openjournals/joss-reviews/issues/4196#issuecomment-1049743772, this submission is not in scope for JOSS as it doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

[2022-02-27 18:48] arfon commented on #4202
@editorialbot reject

[2022-02-27 18:48] #4202 closed

[2022-02-27 18:49] arfon commented on #4209
@editorialbot generate pdf

[2022-02-27 20:12] amritagos commented on #3764
The package is nicely documented, and is suitable for running repeated computer experiments without resorting to overly complex workflows. The manuscript is well-written and clearly demonstrates the need for `epyc`. I've opened one minor issue, but I'm happy to recommend this for publication.

[2022-02-27 21:59] ixjlyons commented on #3999
Sure, I can review. Sorry for the delay.

[2022-02-27 22:04] vimalthilak commented on #4195
Happy to review if another reviewer is needed for this submission

[2022-02-27 22:57] lilyminium commented on #4100
@editorialbot generate pdf

[2022-02-28 01:26] taless474 commented on #4073
@marksantcroos, how is the review going?

[2022-02-28 01:26] taless474 commented on #4073
@burch-cm, how is the review going?

[2022-02-28 01:27] taless474 commented on #4162
@jackbrookes are you interested in reviewing this?

[2022-02-28 01:28] taless474 commented on #4162
@humanfactors are you interested in reviewing this?

[2022-02-28 04:39] DanielRivasMD commented on #4204
Hi, could you elaborate on the feedback? It would be highly appreciated. Thanks

[2022-02-28 07:16] bkmi commented on #4205
Ah yes. The newest version, the one intended for review, is just a release candidate. I will update it asap on pypi and on github. Then the documentation will also correspond to the easily downloadable version.

[2022-02-28 08:01] eloisabentivegna commented on #4173
@ziotom78. @abhimaniyar, thanks for the progress made so far! Please let me know if you need any assistance.

[2022-02-28 09:14] Evmoerman commented on #4040
@awvwgk, I just got word back:
1. Following your bug report of the issue opened on the CC-aims project, the compilation error lies in the CTF library, not in CC4S. This will be investigated probably this week.
2. Automation of the installation/building environment: A cmake-solution is also desired by the developers, and this may be adapted in the following versions of CC4S. For now, however, this

[2022-02-28 09:21] awvwgk commented on #4040
Thanks a lot.

I was surprised to get a full build of `yaml-cpp` when starting the makefile, while I have an installation of `yaml-cpp` already on my system. I could probably hack this myself into the makefile (not a big fan of this solution), but I would expect a build system to prefer installed versions over vendored ones by default.

[2022-02-28 09:44] leonweber commented on #4136
# Leon Weber's Review

PyBioPAX is a python library to parse and interact with BioPAX files from python. This package closes an important gap in the python bioinformatics ecosystem, as BioPAX is a widespread standard for distributing pathway models and before PyBioPAX parsing such files in python was cumbersome.

I have used the package [in the past](https://github.com/leonweber/extend), there a d

[2022-02-28 09:49] arfon commented on #3896
:wave: @Chiil and @wdeconinck – would either of you be willing to review this submission for JOSS? The submission under consideration is [_PyMPDATA v1: Numba-accelerated Pythonic implementation of MPDATA with examples in Python, Julia and Matlab_](https://github.com/atmos-cloud-sim-uj/PyMPDATA).

[2022-02-28 09:52] Chiil commented on #3896
Sure, I can review it.

[2022-02-28 09:57] maczokni commented on #4015
My apologies for the delay. At this moment, I'm afraid that I'm still not clear what the instructions then are for joining data. My understanding is that the USP of this package is that it provides an easy way to map things for someone who is not super familiar with GIS. This would require some work on the part of the package to have a set of values on which it could join geometries and do some se

[2022-02-28 09:57] arfon commented on #4175
@timtroendle no problem at all. Thanks for letting us know!

[2022-02-28 10:01] arfon commented on #3896
Amazing, thank you! You can generate a review checklist by typing the following which will make you a checklist to work through:

[code]

Our reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html.

[2022-02-28 10:01] arfon commented on #3896
@editorialbot add @Chiil as reviewer

[2022-02-28 10:02] arfon commented on #4195
Amazing, thank you so much @vimalthilak! I'll go ahead and open the review now.

[2022-02-28 10:02] arfon commented on #4195
@editorialbot add @vimalthilak as reviewer

[2022-02-28 10:02] arfon commented on #4195
@editorialbot start review

[2022-02-28 10:02] editorialbot opened #4210 "[REVIEW]: inaFaceAnalyzer: a Python toolbox for large-scale face-based description of gender representation in media with limited gender, racial and age biases"
**Submitting author:** @DavidDoukhan (<a href="http://orcid.org/0000-0002-1645-7334">David Doukhan</a>)
**Repository:** https://github.com/ina-foss/inaFaceAnalyzer
**Branch with paper.md** (empty if default branch):
**Version:** v0.5.6
**Editor:** @arfon
**Reviewers:** @lukassnoek, @vimalthilak
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/47086151f746f32165c72870978c13

[2022-02-28 10:02] #4195 closed

[2022-02-28 10:03] arfon commented on #4195
@lukassnoek, @vimalthilak, @DavidDoukhan – see you all over in #4210 where the actual review will take place.

[2022-02-28 10:03] arfon commented on #4210
@lukassnoek, @vimalthilak – This is the review thread for the paper. All of our communications will happen here from now on.

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisf

[2022-02-28 10:08] jeremiecoullon commented on #4113
@editorialbot generate pdf

[2022-02-28 10:20] ajstewartlang commented on #3764
@simoninirelland could you perhaps merge [this PR](https://github.com/simoninireland/epyc/pull/13) and add the references mentioned by @amritagos [here](https://github.com/simoninireland/epyc/issues/14) please? Then I'm happy to click the `accept` button. Thanks for your patience with this and many many thanks to @lorenzo-rovigatti and @amritagos for their time reviewing this great submission!

[2022-02-28 10:23] Kevin-Mattheus-Moerman commented on #4157
@arfon it looks like whedon still does the reminders. :point_up:

[2022-02-28 10:35] Kevin-Mattheus-Moerman commented on #4106
@frederickgosselin thanks for your comment [on Twitter](https://twitter.com/FrdrckGssln/status/1497182840705929218?s=20&t=BZpuicZiW56P7QIdE4hMvw) it would be great to assign yourself or your student as reviewer. Let me know how to proceed.

[2022-02-28 11:17] arfon commented on #4157
Yeah, that will stop being the case over the next ~2 weeks. Apologies for any confusion caused.

[2022-02-28 11:20] arfon commented on #3612
@editorialbot set v1.0.0 as version

[2022-02-28 11:20] arfon commented on #3612
@editorialbot set 10.5281/zenodo.6241526 as archive

[2022-02-28 11:23] jiahecui commented on #4075
Hi @diehlp, thank you very much for the messages again!

No worries at all. I have updated this in README.md and it directly gives links to the references now.

Thanks for recommending this function.  I have installed coverage.py, and ran the test coverage of the main app.py script. The results are attached as a screenshot. This only represents the coverage for executing the dummy test steps speci

[2022-02-28 11:29] arfon commented on #3612
@editorialbot accept

[2022-02-28 11:45] wdeconinck commented on #3896
I am happy to review as well.

[2022-02-28 11:51] arfon commented on #3612
@crhea93, @arjunsavel – many thanks for your reviews here! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@finagle29 – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-02-28 11:51] #3612 closed

[2022-02-28 11:52] arfon commented on #3896
Thank you very much @wdeconinck! You can generate a review checklist by typing the following which will make you a checklist to work through:

[code]

Our reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html.

[2022-02-28 11:52] arfon commented on #3896
@editorialbot add @wdeconinck as reviewer

[2022-02-28 11:53] mattpitkin commented on #4179
@arfon Sure. For a bit of background, a while back (for the work I was doing for [this paper](https://ui.adsabs.harvard.edu/abs/2018PhRvD..98f3001P/abstract)) I was wanting to numerically integrate a likelihood for which it only made sense numerically to work in log-space. I couldn't find any existing routines that would do this, but I did still want to make as much use as I could of existing nume

[2022-02-28 12:35] meg-simula commented on #4012
Thanks for the ping, I have not and will follow-up off-line.

[2022-02-28 12:45] cescalara commented on #4077
Hi @lucass-carneiro,

I have been through your response and changes to the code, thanks a lot for taking my comments on board. I confirm that I was able to run your benchmark example and produce equivalent plots to those shown in the paper, so I haved checked off the box regarding performance claims. I also think the added documentation is very helpful. I add a few more minor comments/replies belo

[2022-02-28 12:48] Nikoleta-v3 commented on #4184
Thank you for noting @ocramz!

Absolutely! No issue regarding time or anything else. @MaxVortman I can't even imagine what you and your loved ones are going through. I hope you are okay and safe.

[2022-02-28 13:05] ajstewartlang commented on #4154
@editorialbot assign @konstantinstadler as reviewer

[2022-02-28 13:07] ajstewartlang commented on #4154
@editorialbot commands

[2022-02-28 13:07] ajstewartlang commented on #4154
@editorialbot add @konstantinstadler as reviewer

[2022-02-28 13:12] meg-simula commented on #3885
@editorialbot generate pdf

[2022-02-28 13:12] meg-simula commented on #3885
@editorialbot check references

[2022-02-28 13:14] meg-simula commented on #3885
@editorialbot generate pdf

[2022-02-28 13:25] meg-simula commented on #3885
@mithun218 Thank you for your submission and for successfully handling all reviewer comments.

I have read through the paper, and find a number of relatively minor grammatical errors. Could you please proof-read the manuscript carefully for grammar before I proceed with this submission?

Some specific points to address are
[ ] Replace "various researches" with "various research"
[ ] Replace "scien

[2022-02-28 13:28] meg-simula commented on #3842
@EtienneCmb We seem to be awaiting your revisions before proceeding with the submission. Could you please give us an update?

[2022-02-28 13:35] Zitzeronion commented on #3728
Happy Monday,

Is there any news you can share with us @dpsanders ?
Did one of the above person replied yet, or should we try to come up with more possible reviewers?

[2022-02-28 13:35] omtazi commented on #4106
Hello @Kevin-Mattheus-Moerman, I am a student of @frederickgosselin and I would be happy to review this work.

[2022-02-28 13:39] frederickgosselin commented on #4106
Hi @Kevin-Mattheus-Moerman, Omar Tazi-Labzour @omtazi is a graduate student working with me at Polytechnique Montreal. I'll give him a hand with the review.

[2022-02-28 14:05] bgyori commented on #4136
@whedon generate pdf

[2022-02-28 14:07] bgyori commented on #4136
@editorialbot generate pdf

[2022-02-28 14:10] Kevin-Mattheus-Moerman commented on #4106
@editorialbot add @omtazi as reviewer

[2022-02-28 14:10] Kevin-Mattheus-Moerman commented on #4106
@editorialbot start review

[2022-02-28 14:10] editorialbot opened #4211 "[REVIEW]: FlexWing-ROM: A matlab framework for data-driven reduced-order modeling of flexible wings"
**Submitting author:** @urban-fasel (<a href="http://orcid.org/0000-0002-3716-686X">Urban Fasel</a>)
**Repository:** https://github.com/urban-fasel/FlexWingROM
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @omtazi, @Kevin-Mattheus-Moerman
**Archive:** 10.5281/zenodo.7419465

## Status

[![status](https://joss.theoj.org/pa

[2022-02-28 14:11] #4106 closed

[2022-02-28 14:11] bgyori commented on #4136
Thank you @leonweber, we created a new dedicated subsection called State of the field under the Statement of need section where we discuss other commonly used packages for BioPAX. Let us know if anything further is needed. Thank you!

[2022-02-28 14:27] samaloney commented on #4053
Sorry for the long delay will have this done in the next day or two.

[2022-02-28 14:32] samaloney commented on #4053
Hum for some reason I can't edit the issue template perhaps the invitation expired?

[2022-02-28 14:48] garrettj403 commented on #2688
@timtroendle I started working on it last week and hope to finish it by the end of this week.

[2022-02-28 14:49] mlxd commented on #3743
Hi @EgorOrachyov apologies for the delay. I'll get to this before the end-of-week.

[2022-02-28 14:50] leonweber commented on #4136
Thanks for the quick response @bgyori. For me, there are no further open issues. All boxes are checked in my checklist above.

[2022-02-28 14:52] pjanck commented on #3061
Hi @hugoledoux - is there anything required from our side to complete this review? We're happy to resolve any last concerns.

[2022-02-28 15:21] humanfactors commented on #4162
Happy to review this. I'm currently on sick leave, so I wouldn't be able to _start_ this until at least next week. As it appears a more intensive workload in terms of setting up, I can't give a determinate date I can complete the review at this stage (though I obviously would get to it as soon as possible).

I also don't have VR, not sure if that is required for tests?

[2022-02-28 15:28] ajstewartlang commented on #4154
Many thanks @konstantinstadler and @potterzot for agreeing to review this submission - it's very much appreciated. I'll open the review issue now. Any questions, just ping me.

[2022-02-28 15:28] ajstewartlang commented on #4154
@editorialbot start review

[2022-02-28 15:28] editorialbot opened #4212 "[REVIEW]: ausdex: A Python package for using Australian economic indexing data"
**Submitting author:** @rbturnbull (<a href="http://orcid.org/0000-0003-1274-6750">Robert Turnbull</a>)
**Repository:** https://github.com/rbturnbull/ausdex
**Branch with paper.md** (empty if default branch):
**Version:** v0.2.2
**Editor:** @ajstewartlang
**Reviewers:** @konstantinstadler, @potterzot
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/817baa72d2b17b535af8f421

[2022-02-28 15:28] #4154 closed

[2022-02-28 15:49] Kevin-Mattheus-Moerman commented on #4175
@likask, @tjhei, @chrisrichardson, @vijaysm, @diehlpk would you be interested in reviewing this work for JOSS?

[2022-02-28 15:56] kbarnhart commented on #4091
@smchartrand thanks for the update and no problem at all. If you have any questions for me as you work on the suggestions, please let me know.

[2022-02-28 16:06] taless474 commented on #4162
@humanfactors thank you. You can start in two weeks.
@OlgerSiebinga I think the required hardware is only a good GPU setup not a VR. Is it right?

[2022-02-28 16:08] ctb commented on #3790
yep, will get on it.

[2022-02-28 16:09] crvernon commented on #3852
@whedon generate pdf

[2022-02-28 16:11] crvernon commented on #3852
@editorialbot check references

[2022-02-28 16:16] OlgerSiebinga commented on #4162
That's right! Our work does support experiments in VR, but everything can be used and tested without VR.

[2022-02-28 16:25] arfon commented on #4053
@editorialbot re-invite @samaloney as reviewer

[2022-02-28 16:42] dfm commented on #4053
@samaloney — sorry about that! We're in the process of transitioning to a new workflow over here. Instead of using the checklist above (I'll actually remove it), can you write a comment that starts with `@editorialbot generate my checklist`? Then the bot will overwrite that comment with a checklist that you _can_ edit, and then we'll use that one. Thanks!

[2022-02-28 16:44] samaloney commented on #4053
No worries will do that now, thanks.

[2022-02-28 16:44] samaloney commented on #4053
@editorialbot generate my checklist

[2022-02-28 16:50] hannahbrucemacdonald commented on #4100
Hey, sorry for being slow, but I've ticked everything on the list. Really nice work and a nice paper! Well done @lilyminium

[2022-02-28 16:59] taless474 commented on #4162
@editorialbot assign @humanfactors as reviewer

[2022-02-28 16:59] taless474 commented on #4162
@editorialbot commands

[2022-02-28 17:00] taless474 commented on #4162
@editorialbot add @humanfactors as reviewer

[2022-02-28 17:29] hiraksarkar commented on #3790
I will work on it this week.

On Sun, Feb 27, 2022 at 1:22 PM Arfon Smith ***@***.***>
wrote:

--
Hirak
www.hiraksarkar.com

[2022-02-28 17:37] slayoo commented on #3896
Thank you, @arfon, @Chiil, @wdeconinck

[2022-02-28 17:37] bkmi commented on #4205
the `pip install swyft` should now be addressed and the user would be able to access the documentation and examples in notebooks.

I still need to make the changes w.r.t. the citations!

[2022-02-28 18:16] diehlpk commented on #4075
@jiahecui Could you add some documentation how to run the tests this way?

[2022-02-28 18:18] rougier commented on #3974
Any progress?

[2022-02-28 19:09] Evmoerman commented on #4040
I'm afraid for now there is only the "hacky" way to force CC4S to use custom dependencies.
Furthermore, if I was informed correctly, you can now register on the public CC4S repo, which allows you to open issues.

[2022-02-28 19:34] zarrarkhan commented on #4015
@maczokni

Thank you for your response. Here is a working example with your dataset after removing out-of-date FIPS as we discussed above. I tried your counter-examples and ran into some issues for which I have shared more details below.

**Working Example with your data**
[code]
**Missing FIPS in ncovr data**
You are using a specific dataset "ncovr" which has FIPS for counties that do not exist a

[2022-02-28 19:50] patrickcgray commented on #3594
Beginning my review now. Seems like the article PDF proof isn't available any longer so regenerating.

@whedon generate pdf

[2022-02-28 19:51] danielskatz commented on #3594
Commands need to start a comment, and the bot name has changed...

[2022-02-28 19:51] danielskatz commented on #3594
@editorialbot generate pdf

[2022-02-28 19:58] vijaysm commented on #4175
Sure, I have some time available for review in March. @Kevin-Mattheus-Moerman

[2022-02-28 20:07] yhtang commented on #4171
@jbytecode @danielskatz Thank you both for the information!

[2022-02-28 20:11] ddeehere commented on #4062
@danielskatz It processed for a long time and failed today. We are still investigating.

[2022-02-28 20:14] mbobra commented on #3331
@danielskatz This submission has been in review for 10 months -- since June 4, 2021. The submitting authors don't appear to be quite ready yet -- in October 2021, they asked for two more months; this month, they asked for a couple more weeks (which have since passed). However, the reviewers and I are happy to continue reviewing and editing this submission. Can you advise on how we should proceed h

[2022-02-28 20:14] ddeehere commented on #4062
Zenodo appears to still be processing the last release.

[2022-02-28 20:24] crvernon commented on #3852
@jlarsen-usgs The following should be addressed in the paper:

- [ ] Line 8.  Capitalize Python.
- [ ] Line 12.  Need citations backing the claims made in the first and second sentences.
- [ ] Line 19.  "Among these IHMs is GSFLOW..." should be "Among these IHMs is the GSFLOW..."
- [ ] Line 23.  "...larger datasets, from" should be "...larger datasets from"
- [ ] Line 32. "GSFLOW model development

[2022-02-28 20:29] danielskatz commented on #4062
You might want to contact their support - this should be very fast when it works, which it always has in my experience

[2022-02-28 20:31] crvernon commented on #3709
@AlexanderJuestel please let me know the status of your changes.  We should try to wrap this up ASAP.  Thanks!

[2022-02-28 20:40] crvernon commented on #4039
@editorialbot generate pdf

[2022-02-28 20:42] finagle29 commented on #3612
I just noticed a small issue: in the published version of the paper, there isn't a footnote after my name noting my present address/affiliation. When I use whedon to preview the paper on the `main` branch of the repo, the footnote is present.

[2022-02-28 20:45] crvernon commented on #4039
@editorialbot check references

[2022-02-28 21:05] pdebuyl commented on #4100
Thank you @hannahbrucemacdonald for the review!

@lilyminium I'll finalize the review by next week, I am off this week.

[2022-02-28 21:26] DavidDoukhan commented on #4210
Dear @arfon , @lukassnoek and @vilmalthilak,

Thanks for your time and agreeing to review this submission.
Hopping you'll enjoy it !

[2022-02-28 21:28] jiahecui commented on #4075
Hi @diehlp, this is a very helpful suggestion. I have now included this information (including how to run the coverage test in the command prompt + result screenshot) in the `Software functionality tests` section of README.md immediately after standard testing instructions. Thanks again.

[2022-02-28 21:32] raerickson commented on #3444
@marcosvital  What' the next steps? I've addressed the reviewers' comments and gotten USGS approval.

[2022-02-28 21:34] gonsie commented on #3905
Hi all (@xuanxu @FredDeCeuster), I'm sorry for my delayed response.

I've updated my checkmarks. Due to the complexity of building this, I am unable to verify the functionality (I do not have easy access to the gcc compiler with a proper python/conda environment). While the paper does not reference performance numbers, they are present in the documentation and (again) I am unable to confirm them.

[2022-02-28 21:39] crvernon commented on #4039
@jhollist Please see the following concerning the paper submission:

- [ ] Please fix invalid DOI `10.1641/0006-35682002052[0129BSIPGO]2.0.CO2 URL is INVALID` in the references
- [ ] Line 11.  Missing parenthesis

❗ Please remove your old license (https://github.com/USEPA/nsink/blob/main/LICENSE) as is not valid for JOSS submissions.

Additional:
- [ ] I think you could simply reference your CONTR

[2022-02-28 21:41] kratzert commented on #4050
Hi @elbeejay

sorry for my delayed reply. I was on a business trip and hadn't had much time to look into it in the last days. I just checked all remaining review comments in our repository and I think they are pretty clear.

- I think I could solve the installation issues of @chuckaustin but I am waiting for his confirmation (see https://github.com/neuralhydrology/neuralhydrology/issues/76#issueco

[2022-02-28 21:58] diehlpk commented on #4075
@jiahecui Thanks that looks good. I will read the paper tomorrow and let you know my final comments.

[2022-02-28 21:59] diehlpk commented on #4075
@jiahecui please let me know once you have done this as well.

[2022-02-28 22:02] tkonolige commented on #3125
@adi3 done

[2022-02-28 22:40] crvernon commented on #3852
@jlarsen-usgs ... BTW, here is the USGS guidance on licensing that may help you:  https://www.usgs.gov/software-management/distribution-usgs-code

This indicates that you should be able to use an alternative option.  Feel free to reach out if you have questions.  Thanks!

[2022-02-28 23:18] ekinney-lang commented on #4114
Hi @gcattan - Of course! I'm happy to answer and provide feedback where I can. I guess I am not sure the exact lines for feedback from a reviewer in this case, but beyond the scope here this is a pertinent, interesting piece of OSS that could be very beneficial for our group at BCI4Kids and others we know. Looking forward to it!

[2022-02-28 23:19] jlarsen-usgs commented on #3852
@crvernon

I looked over that guidence earlier today and it looks like "The Unlicense" is the acceptable option that's included in the OSI approved licenses that you sent. I sent out an email earlier today to check with our policy folks to make sure there isn't any guidence that superceedes this. I'll be updating the paper based on your review comments sometime today.

Thank you for help and your

[2022-02-28 23:52] dhimmel commented on #4136
Approved on my end as well.

[2022-02-28 23:55] slwu89 commented on #4148
@editorialbot generate pdf

[2022-03-01 00:06] slwu89 commented on #4148
@fboehm I've completed my review, I recommend accepting for JOSS. Thanks.

[2022-03-01 00:22] kbarnhart commented on #4178
@arfon I think this might be too far out of my expertise.

[2022-03-01 00:34] nicoguaro commented on #3980
@Kevin-Mattheus-Moerman, @PolymerGuy,  I agree with @corentin-dev. Particularly, I think that the general description is much clearer now.

I apologize for the time it takes me for this submission!

[2022-03-01 01:31] blthayer commented on #4093
@brandons209 - FYI, I wasn't able to find time to work on my review this past weekend (Feb 26 and 27). I'll make another pass this upcoming weekend (Mar 05 and 06). My apologies for the delay.

[2022-03-01 01:38] jhollist commented on #4039
@crvernon Will get this finished up this week.

One quick question.  The DOI for that reference is: 10.1641/0006-3568(2002)052[0129:BSIPGO]2.0.CO;2  and it resolves correctly at https://doi.org/10.1641/0006-3568(2002)052[0129:BSIPGO]2.0.CO;2.  It appears that some of the special characters are getting lost.  In the article proof, the square bracket are lost, but the URL resolves.  As the DOI is co

[2022-03-01 02:17] SarthakJariwala opened #4213 "Community guidelines: Are there clear guidelines for third parties wishing to 1) Contribute to the software 2) Report issues or problems with the software 3) Seek support"

[2022-03-01 02:18] SarthakJariwala commented on #4213
Accidentally created it! Closing it.

[2022-03-01 02:18] #4213 closed

[2022-03-01 02:25] olgadoronina commented on #4205
@editorialbot generate my checklist

[2022-03-01 03:04] elbeejay commented on #4050
Sounds good @kratzert, it looks like the installation and example checkboxes from @chuckaustin's review are all that remain. It seems like the path to resolving the two outstanding issues is relatively clear which is good to hear. You are correct that there is nothing else for you and your co-authors to do at this time.

Once the outstanding issues are resolved, I'll do a final check of the submit

[2022-03-01 03:47] canyon289 commented on #4113
Rereviewed after many great changes, thanks @jeremiecoullon

The only two questions I have are regarding these two JOSS requirements, API documentation and a channel for support

https://github.com/jeremiecoullon/SGMCMCJax/issues/38
https://github.com/jeremiecoullon/SGMCMCJax/issues/29

[2022-03-01 04:04] patrickcgray commented on #3594
Thanks @danielskatz!

Okay I've basically finished up my run through. I have to admit I'm not super familiar with the oceanography tool landscape in R as a python user primarily but this package seems to cleanly solve many needs in oceanographic analysis, has a robust open-source community surrounding it, and the documentation seems to be up to date and comprehensive. I'm quite impressed by the ab

[2022-03-01 05:00] lilyminium commented on #4100
Thank you @ptmerz and @hannahbrucemacdonald for the reviews and especially your helpful suggestions that made the library much better -- and thank you @pdebuyl for looking after this :-)

[2022-03-01 06:53] maczokni commented on #4015
Hiya I'll give this a go later thanks but it's still just one example of the counties and it still requires the user to do data cleaning, so still not sure about the target audience being non GIS users.

However in the meantime I wanted to share two concerns with the code:

1 -  the package functions producing character vectors are  created using `print()` rather than messages using `message()`? I

[2022-03-01 07:04] itismeghasyam opened #4214 "Installation instructions: Is there a clearly-stated list of dependencies? Ideally these should be handled with an automated package management solution."

[2022-03-01 07:06] itismeghasyam commented on #4214
I tried installing in my R version 3.6.3; but was unable to install the cccrm package[https://github.com/arcaldwell49/SimplyAgree/blob/master/DESCRIPTION]. Had to upgrade to R version 4.0, because of the cccrm R version dependency [https://cran.r-project.org/web/packages/cccrm/index.html]. Would suggest updating package requirements in DESCRIPTION

[2022-03-01 07:35] itismeghasyam commented on #4148
Well written paper and well documented package. I have only one issue with Installation instructions: dependencies. I'm linking it here [https://github.com/openjournals/joss-reviews/issues/4214](https://github.com/openjournals/joss-reviews/issues/4214)

[2022-03-01 09:02] jeremiecoullon commented on #4113
@canyon289 Thanks!
- channel for support: I forgot to add this; I'll do it this week
- API documentation: I'm still battling with readthedocs :) I'll try to fix it this week

[2022-03-01 09:13] jiahecui commented on #4075
@diehlp That's great, thank you so much!

@diehlp The second comment of the reviewer has now been addressed in the paper. Lines 73-77 now provide explanations to lines 71-73. I am waiting for a concluding remark from my colleague for the first comment on different platforms. I will update you about this as soon as possible. Many thanks again!

[2022-03-01 09:14] jiahecui commented on #4075
@diehlp That's great, thank you so much!

@diehlp The second comment of the reviewer has now been addressed in the paper. Lines 73-77 now provide explanations to lines 71-73. I am waiting for a concluding remark from my colleague for the first comment on different platforms. I will update you about this as soon as possible. Many thanks again!

[2022-03-01 09:15] sebastien-plutniak commented on #4178
what about @leouieda ?

[2022-03-01 10:14] Kevin-Mattheus-Moerman commented on #4175
@editorialbot assign @vijaysm as reviewer

[2022-03-01 10:15] Kevin-Mattheus-Moerman commented on #4175
@editorialbot set @vijaysm as reviewer

[2022-03-01 10:15] Kevin-Mattheus-Moerman commented on #4175
@editorialbot commands

[2022-03-01 10:15] Kevin-Mattheus-Moerman commented on #4175
@editorialbot add @vijaysm as reviewer

[2022-03-01 10:40] xuanxu commented on #4190
@editorialbot help

Comments here should be allowed now

[2022-03-01 10:42] xuanxu commented on #4190
@editorialbot set 12345/67890 as archive
@editorialbot assign me as editor
Only the first command (setting the archive) should run
@editorialbot help

[2022-03-01 10:49] xuanxu commented on #4190
Thank you @editorialbot, you're awesome!

[2022-03-01 10:53] arfon commented on #3612
I wonder if we're stripping this? As [per the docs](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography), the preferred way would be to write this as such:

[code]

[2022-03-01 11:18] dankelley commented on #3594
@patrickcgray - thanks for the detailed and very quickly-done review.  I'll look into spots (likely in the main README) where I can mention other tools.  Most R users won't even see this website, actually, since the normal case is just to type `install.packages("oce")`, to get the version on CRAN, the Comprehensive R Archive Network.  That's fast, taking perhaps 20 seconds or so, but of CRAN polic

[2022-03-01 11:28] gonsie commented on #3905
I am satisfied with my review and accept this paper.

[2022-03-01 11:32] xuanxu commented on #3905
@gonsie thanks!

[2022-03-01 11:34] xuanxu commented on #3905
@editorialbot generate pdf

[2022-03-01 11:34] xuanxu commented on #3905
@editorialbot check references

[2022-03-01 11:36] xuanxu commented on #3905
@editorialbot set joss_paper_1.0 as branch

[2022-03-01 11:36] xuanxu commented on #3905
@editorialbot check references

[2022-03-01 11:39] xuanxu commented on #3905
@editorialbot generate pdf

[2022-03-01 11:43] xuanxu commented on #3905
@editorialbot check references

[2022-03-01 11:48] xuanxu commented on #3905
@FredDeCeuster the editorial bot suggests [10.1146/annurev-astro-090120-033712](https://doi.org/10.1146/annurev-astro-090120-033712) as the DOI for `Decin, L. (2020)` reference. Can you check if it is the right one and if so update the paper with it?

[2022-03-01 12:07] bkmi commented on #4205
I added some citations!

p.s. due to some release issues the version that should be reviewed is actually `v0.3.1.post0`.

@editorialbot generate pdf

[2022-03-01 12:08] arfon commented on #4214
@itismeghasyam - please don't open issues on this repository for your review. Please open them on https://github.com/arcaldwell49/SimplyAgree

[2022-03-01 12:08] #4214 closed

[2022-03-01 12:09] FredDeCeuster commented on #3905
I've checked and added the doi for Decin (2020).
https://github.com/Magritte-code/Magritte/commit/30b5d08536350c997bb30526b094c2612442c277

[2022-03-01 12:10] xuanxu commented on #3905
@editorialbot generate pdf

[2022-03-01 12:13] xuanxu commented on #3905
@editorialbot check references

[2022-03-01 12:19] xuanxu commented on #3905
OK @FredDeCeuster, everything looks good, here are the next steps:

- Please release a new tagged version from the current stable branch so it includes all the changes made during the review process
- Then archive that latest release in Zenodo or a similar service
- Check the Zenodo deposit has the correct metadata: title and authors names should match the paper; you may also add authors' ORCIDs.

[2022-03-01 13:10] martinfleis commented on #4052
Hi @sk1p,
do you have an estimation when you could do your review? If you have no time for that now, that is fine as well. I can remove you from the paper as we already have 2 reviewers who left their comments.

[2022-03-01 13:12] martinfleis commented on #4021
Hi @anitagraser,

I think that the once you are happy we can close this review. Let me know if you have any further comments, I see that you still have some points above unchecked.

[2022-03-01 13:53] dhhagan commented on #3219
Hey @slayoo I should have an update for you soon.

[2022-03-01 13:58] dhhagan commented on #3219
@slayoo Can you please do the following:

  - [ ] Make a tagged release and archive
  - [ ] Report the version number and archive DOI in this thread

[2022-03-01 14:02] dhhagan commented on #3690
Hi @dkauf42 - I will now move to find some reviewers for this paper. Thanks for being patient.

[2022-03-01 14:03] dhhagan commented on #3690
👋  @havalapye @jessebash @karolinapntzt Would you have time and interest in reviewing this manuscript for JOSS?

[2022-03-01 14:05] mattpitkin commented on #4205
@editorialbot generate pdf

[2022-03-01 14:40] arfon commented on #4175
@xuanxu - is @editorialbot responding to deleted comments here? @Kevin-Mattheus-Moerman has been having some weird behaviour issues.

[2022-03-01 14:55] quickbeam123 commented on #3849
Thank you, @inpefess . Good job!

[2022-03-01 15:03] rickhelmus commented on #4029
Hi @KristinaRiemer,

By now it seems that @hechth finished his reviews. So far I didn't see any feedback from @wesleyburr. I just wanted to note that I will have some personal leave in about a week for the rest of the month. Hopefully it will be possible to continue and finalize the process soon after that.

Thanks,
Rick

[2022-03-01 15:05] patrickcgray commented on #3594
@dankelley that sounds good! If you'll just tag me when you've added to the readme/paper and I'll give it another quick review and can finalize or add more feedback based on that.

[2022-03-01 15:08] xuanxu commented on #4175
Maybe, the bot receives the comments immediately after they are posted, so even if the comment is deleted later @editorialbot will respond.

[2022-03-01 15:14] Kevin-Mattheus-Moerman commented on #4175
@xuanxu here the error message was first posted in response to my mistake. Then I deleted everything and then it repeated the error message. I'll try it again now to see if it is repeatable.

[2022-03-01 15:14] Kevin-Mattheus-Moerman commented on #4175
@editorialbot assign bla as bla

[2022-03-01 15:16] Kevin-Mattheus-Moerman commented on #4175
@xuanxu yes it is repeatable see :point_up: i.e. the error comes up again when one deletes the comments causing it and the error message itself (not sure which is responsible).

[2022-03-01 15:18] galessiorob commented on #4022
@whedon generate pdf from branch joss-paper

[2022-03-01 15:21] xuanxu commented on #4190
@editorialbot testing weird behaviour

[2022-03-01 15:22] EgorOrachyov commented on #3743
@mlxd Hello, thank you. We will be waiting for a response from you.

[2022-03-01 15:32] arcaldwell49 commented on #4148
@itismeghasyam  `cccrm` and `sjstats` have been removed as required dependencies for v0.0.3 now on the main branch.

`cccrm` is only suggested for the purposes of the vignettes.

[2022-03-01 15:35] xuanxu commented on #4190
@editorialbot bug should be fixed

[2022-03-01 15:35] xuanxu commented on #4190
Yay!

[2022-03-01 15:37] xuanxu commented on #4175
@Kevin-Mattheus-Moerman Bug found and fixed!

[2022-03-01 15:49] bgyori commented on #4136
@majensen looks like both reviewers have finished their review. What are the next steps? Thanks!

[2022-03-01 16:16] Narayana-Rao commented on #4032
Thanks, @fnattino for the fix. I do not have any further comments.

[2022-03-01 16:20] rkurchin commented on #4164
Looks like some review-related changes have been merged in – reminder to reviewers @alejandrogallo and @arepstein to take a look again if you haven't started already!

(Also, it's not required but helpful that if you open issues/PR's in the repo under review that you mention this issue for tracking purposes – helps me as the editor easily see that there's activity and not accidentally pester peopl

[2022-03-01 16:20] Kevin-Mattheus-Moerman commented on #4175
@xuanxu @arfon great thanks. Now I can finally delete all this clutter :smile:

[2022-03-01 16:42] fverdugo commented on #4175
Hi @Kevin-Mattheus-Moerman thanks for the invitation, but I am unable to engage as reviewer this time.

[2022-03-01 16:44] majensen commented on #4136
Thanks @bgyori - and @dhimmel, @leonweber for your reviews. I will make a editorial pass over the paper which may result in some minor comments for author consideration. Once that is done and pulled in, I'll ask for a Zenodo (or similar) archive of the repo. Stand by for those details until we have the final version. Appreciated!

[2022-03-01 16:55] lucydot commented on #4014
Hi @symmy596 can you adjust the author list on the Zenodo release so that it matches that on the JOSS paper?

[2022-03-01 17:06] Kevin-Mattheus-Moerman commented on #3390
@diehlpk @Muhao-Chen Yes I responded over at https://github.com/Muhao-Chen/Tensegrity_Finite_Element_Method_TsgFEM/issues/3

[2022-03-01 17:13] martinfleis commented on #4021
@editorialbot generate pdf

[2022-03-01 17:16] martinfleis commented on #4021
@editorialbot check references

[2022-03-01 17:21] martinfleis commented on #4021
Thank you @anitagraser and @jGaboardi!

@ni1o1 The submission is now almost ready to be published.

The next steps you need to do now:

- [ ] Fix the DOI of the PySAL paper (see the post above)
- [ ] Make a new tagged release (or let me know if the latest one contains all the changes) of the software, and list the version tag of the archived version here.
- [ ]  Archive the reviewed software in Ze

[2022-03-01 17:50] galessiorob commented on #4166
@editorialbot list reviewers

[2022-03-01 17:51] galessiorob commented on #4166
@editorialbot commands

[2022-03-01 17:52] galessiorob commented on #4166
@editorialbot add @pythonpanda2  as reviewer

[2022-03-01 17:53] galessiorob commented on #4166
@whedon add @pythonpanda2 as reviewer

[2022-03-01 17:55] galessiorob commented on #4166
@arfon running into some issues trying to re-add `pythonpanda2` as a reviewer so they can work on their checklist

[2022-03-01 17:56] galessiorob commented on #4022
@editorialbot generate pdf from branch joss-paper

[2022-03-01 17:57] galessiorob commented on #4022
@editorialbot commands

[2022-03-01 17:57] galessiorob commented on #4022
@editorialbot generate pdf

[2022-03-01 18:08] jlarsen-usgs commented on #3852
@crvernon

I've updated both the license and the paper based on your review comments. I've also updated the first paragraph of the introduction for better clarity based on your review comment about "Line 12".

[2022-03-01 18:12] crvernon commented on #3852
@editorialbot generate pdf

[2022-03-01 19:08] dankelley commented on #3594
@editorialbot generate pdf

[2022-03-01 19:10] dankelley commented on #3594
@editorialbot generate pdf

[2022-03-01 19:12] dankelley commented on #3594
@patrickcgray We've updated the manuscript, and also fixed that bug about plot(ctd,which=12) that you so astutely found.  More notes are below.

PS. please look at the second article proof.  In the first one, we had forgotten to thank you, the other reviewer, and the editor.  The bot seems to take just a few minutes to create the article proof so likely there will be a note to that effect, by the

[2022-03-01 19:15] dankelley commented on #3594
@patrickcgray -- the bot supposed built up the PDF of the manuscript, but the links it provided do not work for me.  They might work for you, though.  I don't know how to help with this bot work, unfortunately.

[2022-03-01 19:22] mikemhenry commented on #3950
I'm ready to sign off on this! LGTM :tada:

[2022-03-01 19:42] thelfer commented on #4135
@Nikoleta-v3 Would you remind me what I need to do to be able to check my checklist ? Sorry if I missed something ?

[2022-03-01 19:53] tarleb commented on #3612
The note should now be rendered in the PDF in the same way it did before. I'm now checking how the note can be included in JATS output.

[2022-03-01 20:17] AdamSymington commented on #4014
@lucydot Apologies I completely missed that.
zenodo release with matching authors is now live - https://zenodo.org/record/6250513#.Yh5_BJbLdD8
doi - 10.5281/zenodo.6250513

[2022-03-01 20:42] galessiorob commented on #4022
@editorialbot set joss-paper as branch

[2022-03-01 20:43] galessiorob commented on #4022
@editorialbot generate pdf

[2022-03-01 20:47] bmagyar commented on #3967
Great work guys!

I really only have minor things related to docs and the examples:
https://github.com/TriPed-Robot/trip_kinematics/issues/72 <-- this has been pending for 12 days or so
https://github.com/TriPed-Robot/trip_kinematics/issues/74 <-- this one being the main one
https://github.com/TriPed-Robot/trip_kinematics/pull/73 <-- miniscule fix submitted by me ;)

[2022-03-01 20:47] galessiorob commented on #4166
@editorialbot add @pythonpanda2 to reviewers

[2022-03-01 20:48] galessiorob commented on #4166
@pythonpanda2 could you try again and let me know if the issue persists, please? We'd really appreciate to have your review 🙏

[2022-03-01 20:51] tiagoseq commented on #3974
Hello,
Yes, the new version of the package has been released. To update, please, go to julia terminal and type `] update`. One can see the new documentation and the status bar, while executing the function `solveNFE`.

However, the package is still too big. Even after moving the documentation to an independent repository, and after the creation of a new orphan branch and deleting the old master br

[2022-03-01 20:52] danielskatz commented on #3967
thanks @bmagyar

[2022-03-01 20:54] danielskatz commented on #4079
👋 aliaksei135 - just a quick check in - I assume you are now working on this?

[2022-03-01 20:56] danielskatz commented on #4120
@oscarhiggott - it looks like @LeonidPryadko has addressed 2 of your open issues, though not  https://github.com/QEC-pages/QDistRnd/issues/16 for some reason (or maybe this was addressed too, just not commented upon in the issue?)

[2022-03-01 20:57] danielskatz commented on #4120
👋 @pan-pavel - How is your review coming?

[2022-03-01 20:58] danielskatz commented on #3996
👋 @fredstro - it looks like there are some issues for you to work on from @videlec - any news on these?

[2022-03-01 21:17] aliaksei135 commented on #4079
@danielskatz we've made a lot of progress updating docs and packaging for Linux. To my knowledge both reviewers can now run all commands in the CLI. I assume the review is now progressing

[2022-03-01 21:19] kthyng commented on #3594
@dankelley What happens when you click on one of the links in the comment above yours? They are working for me.

[2022-03-01 21:23] dankelley commented on #3594
@kthyng Actually, it started working a short time after I posted that.  I think there was just a time-delay, of which I had been unaware.  Thanks. Dan.

[2022-03-01 21:24] kthyng commented on #3594
@dankelley ok great!

@patrickcgray I think we just need you to check on responses to your review and see if you're ready to finalize your review (and check the last box).

[2022-03-01 21:28] cgrudz commented on #4129
@peanutfun thank you for your excellent suggestions and detailed review, I really appreciate the effort you took to go through the code as you did.  I just wanted to write a quick message to let you know that I am intending to start on revisions and reading through the posted issues in about a month or two -- I am waiting in part to see if I can fund an undergraduate research assistant to help res

[2022-03-01 21:30] danielskatz commented on #4079
👋 @kylebeggs and @AustinTSchaffer, do you agree, and are you now making (or able to make) progress?

[2022-03-01 21:52] kthyng commented on #4186
@mancellin I see your issue and I have a question out to the editorial board about this because we migrated to some new technology under the review system the day after I started this review issue, and I'd like to see if this is related or not. I'll get back to you soon.

[2022-03-01 22:00] kthyng commented on #3344
@mcflugen I'm happy to say that this is ready to move forward toward publishing! I'm very sorry that the JOSS process is taken so long for this submission. It's not common but clearly does happen sometimes.

Your paper looks good. Next steps are:
1. Confirm what version you'd like associated with this JOSS paper and maybe make a new release to that effect.
2. Upload an archive of your software to

[2022-03-01 22:01] slayoo commented on #3219
We have moved ahead of the "v1" branch some time ago for this project,
so here are DOIs for Zenodo-archived last release from the v1 branch described in this paper:
- PySDM v1.27: https://doi.org/10.5281/zenodo.6321270
- PySDM-examples v1.27: https://doi.org/10.5281/zenodo.6321279

Thank you

[2022-03-01 23:48] pr4deepr commented on #3957
The software satisfies most of the criteria.
* I am using the test data to verify the functionality using examples in the docs. I have been communicating with @nanthony21 on the [PWSpy repo](https://github.com/BackmanLab/PWSpy/issues). I am not as familiar with Partial Wave Spectroscopic microscopy, but as far as I can tell, most functionality claims are validated. Just waiting on testing a few mo

[2022-03-02 01:34] YuliyaLab commented on #4080
Hello @jmschrei,
It seems that we have 2 approvals above.
Do you require anything form us?
Thank you,
Yuliya

[2022-03-02 02:00] ni1o1 commented on #4021
@editorialbot check references

[2022-03-02 02:14] ni1o1 commented on #4021
Thank you @martinfleis. The DOI of PySAL is added. The latest release version `v0.3.7` is available and the Zenodo DOI is `10.5281/zenodo.6236507`

[2022-03-02 02:50] patrickcgray commented on #3594
Nice work on the quick turnaround, this all looks good to me and addresses all issues raised. @kthyng and @dankelley I've finished my review and checked all remaining boxes. Good work on this project. I'll look forward to seeing it continue to grow.

[2022-03-02 03:26] fboehm commented on #4148
@itismeghasyam - are you satisfied with the correction to fix the one small issue above? If so, then we can proceed towards publication. Thanks again!

[2022-03-02 03:45] itismeghasyam commented on #4148
@fboehm Yes, looks good to me!

[2022-03-02 05:10] GaryBAYLOR commented on #4181
@osorensen I reviewed the paper and have the following comments. I will take another look after these issues are resolved. Thanks!

Why two licenses https://github.com/blind-contours/CVtreeMLE/issues/2
The package cannot be found in CRAN https://github.com/blind-contours/CVtreeMLE/issues/3
Improve function documentation https://github.com/blind-contours/CVtreeMLE/issues/4
Lightweight editing of th

[2022-03-02 07:07] liquidcronos commented on #3967
Thanks for your review @bmagyar !
I seem to have set my notification settings wrong, because I wasn't informed of your Issues by Mail.
This should be rectified now.

I will fix the type you found in  https://github.com/TriPed-Robot/trip_kinematics/issues/72 right away.
Thanks also for spotting the typo in the install instructions, I have approved your pull request and even found another typo in th

[2022-03-02 07:30] fredstro commented on #3996
I’m working on them.
Unfortunately one of the issues is a bit complex. I’m suggested to switch off pip’s build isolation and it seems to be a bit tricky without asking users to add the no-build-isolation flag manually to ‘pip install’ but I’m still looking into it

[2022-03-02 08:16] fraukewiese commented on #4131
@andr1976 @sevberg - would one of you be willing to review this submission for JOSS?

[2022-03-02 08:23] fraukewiese commented on #3574
@editorialbot generate pdf

[2022-03-02 08:44] rougier commented on #3974
Thanks for the update. For the size of the repository, I think it's ok. The .git folder probably carry the whole history and this might explain the size. For future code, make sure to not add all the files blindly or the problem will reappear. I've checked the new PDF and it now looks good to me. @jarvist @gdetor Looks good to me.

[2022-03-02 08:51] tiagoseq commented on #3974
Yes, learned my lesson. However, I still want to overcome this issue, to future downloads not to be so heavy.
Thank you for your advice to add a progress bar @rougier.
If i have any update about the commit history I'll let you know.

[2022-03-02 09:04] martinfleis commented on #4021
@editorialbot set 10.5281/zenodo.6236507 as archive

[2022-03-02 09:05] martinfleis commented on #4021
@editorialbot generate pdf

[2022-03-02 09:09] martinfleis commented on #4021
Thank you @ni1o1! I'm going to hand this over now to the associate EiC on rotation for the final steps.

[2022-03-02 09:23] Kevin-Mattheus-Moerman commented on #3980
@nicoguaro thanks for your help here! Do not worry we've seen all submissions slow down significantly and we've been flexible because we appreciate the efforts especially during these challenging times.

@nicoguaro I see all your boxes are ticked, can you confirm that you are happy to recommend acceptance of this submission?

[2022-03-02 09:31] thelfer commented on #4135
@editorialbot generate my checklist

[2022-03-02 09:32] rvhonorato commented on #3950
LGTM also 🤓

[2022-03-02 09:48] mattpitkin commented on #4205
@bkmi I see that the version generation is now via setuptools_scm, which is great. I can get the version number by doing:

[code]

However, it would be great if the version number could be obtained just by using:

[code]

You can achieve this by adding the following to the `swyft/__init__.py` file:

[code]

[2022-03-02 10:09] xuanxu opened #4215 "Testing auto close"
STOP STOP STOP STOP STOP
STOP STOP STOP STOP STOP
👇 ================================== 👇

Issues in this repository are automatically generated by the journal submission system. DO NOT FILE ISSUES HERE.

If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

☝ ================================== ☝

THANKS FOR NOT OPENING AN ISS

[2022-03-02 10:12] xuanxu commented on #4215
Template was missing

[2022-03-02 10:12] #4215 closed

[2022-03-02 10:12] xuanxu opened #4216 "Testing auto close"
STOP STOP STOP STOP STOP
STOP STOP STOP STOP STOP
👇 ================================== 👇

Issues in this repository are automatically generated by the journal submission system. DO NOT FILE ISSUES HERE.

If you have a question about JOSS then please open an issue on the main JOSS repository: https://github.com/openjournals/joss

☝ ================================== ☝

THANKS FOR NOT OPENING AN ISS

[2022-03-02 10:12] #4216 closed, assigned to nobody

[2022-03-02 10:13] Chjulian commented on #4193
smot (Simple Manipulation Of Trees) helps colour, annotate, and subset a tree (or extract a subtree rather than sampling a tree). Still, it is unclear what the authors mean by summarising, in phylogenetics, often means to map multiple trees into a single one.

I think that smot could be helpful to reduce the complexity of a tree to help unveil and communicate evolutionary features.

Documentation

[2022-03-02 10:49] martinfleis commented on #4021
@editorialbot generate pdf

[2022-03-02 10:49] arfon commented on #4021
Looks like this is failing because of the following warning:

@tarleb - could you take a look at what might be going on here?

[2022-03-02 10:50] martinfleis commented on #4021
@arfon It should be fixed by https://github.com/ni1o1/transbigdata/pull/31 by @xuanxu

[2022-03-02 10:51] fraukewiese commented on #3574
@editorialbot set 10.5281/zenodo.6304843 as archive

[2022-03-02 10:52] martinfleis commented on #4021
@editorialbot recommend-accept

[2022-03-02 10:55] fraukewiese commented on #3861
@samanmostafavi : Could you give us an update on your review? That would be great, thanks a lot.

[2022-03-02 10:59] xuanxu commented on #4021
The value here for `doi` is invalid: https://github.com/ni1o1/transbigdata/blob/main/paper.bib#L165
`doi.org/10.1111/2041-210X.13374` should be `10.1111/2041-210X.13374`

[2022-03-02 11:00] martinfleis commented on #4021
@ni1o1 Can you fix that please?

[2022-03-02 11:02] ni1o1 commented on #4021
OK, it is fixed. Please try again, thanks.

[2022-03-02 11:04] martinfleis commented on #4021
@xuanxu I guess that `check references` should catch this.

@ni1o1 Thanks!

[2022-03-02 11:04] martinfleis commented on #4021
@editorialbot recommend-accept

[2022-03-02 11:06] dstansby commented on #4053
👋 all. I've completed my review, and opened several issues that I think need to be resolved - these are linked in the original issue above that I've edited.

[2022-03-02 11:40] mishioo commented on #4164
That's right, I've addressed (sufficiently, I hope) all issues pointed out so far by @alejandrogallo, and I was just wondering if I should mention this here. Thanks for having your finger on the pulse, @rkurchin!

[2022-03-02 12:04] fboehm commented on #4148
Thanks, @itismeghasyam !

[2022-03-02 12:04] fboehm commented on #4148
@editorialbot generate pdf

[2022-03-02 12:06] fboehm commented on #4148
@arcaldwell49 - the reviewers have recommended your submission for publication. I'll proofread the pdf in the next couple of days. Once that is completed, a few minor fixes may be needed. Eventually, I'll ask you to release a new version of the package and to make an archive, but please wait on those tasks until I instruct you to do them. Thanks again!

[2022-03-02 12:18] lucydot commented on #4014
@whedon set 10.5281/zenodo.6250513 as doi

[2022-03-02 12:18] lucydot commented on #4014
@editorialbot set 10.5281/zenodo.6250513 as doi

[2022-03-02 12:18] lucydot commented on #4014
@editorialbot commands

[2022-03-02 12:19] lucydot commented on #4014
@editorialbot set 10.5281/zenodo.6250513 as archive

[2022-03-02 12:19] lucaferranti commented on #4099
thank you very much for the updates! I will go through them this weekend or early next week

[2022-03-02 12:19] lucydot commented on #4014
@editorialbot set v2.0.2 as version

[2022-03-02 12:20] lucydot commented on #4014
@editorialbot recommend-accept

[2022-03-02 12:26] symmy596 commented on #4014
The error is due to me not having an affiliation. The work was completed while I was at the University of Bath so I have altered the paper to include that as my affiliation.

[2022-03-02 12:28] lucydot commented on #4014
@editorialbot recommend-accept

[2022-03-02 13:24] bkmi commented on #4205
Nice tip! I didn't know about that and I will use it in all my future projects!

I have made the change (along with fixing a `from swyft import *` bug which I found) in [this commit](https://github.com/undark-lab/swyft/commit/4d662577f8b75bcd7f8e614e0fad4def9815d15e). Would you like me to make an new release for it or should I wait until I incorporate other changes from this review process?

[2022-03-02 13:36] nicoguaro commented on #3980
@Kevin-Mattheus-Moerman, yes. I recommend the publication.

[2022-03-02 13:55] nasserma commented on #3742
I reopened them.

[2022-03-02 13:58] nasserma commented on #3742
I responded to all of your new comments, however, you indicated that a previous comment was not responded to but I could not determine which one you were referring to.

[2022-03-02 14:22] arendsee commented on #4193
Thanks @Chjulian for the review, I'll go through it more carefully this weekend.

[2022-03-02 14:23] nasserma commented on #3742
@whedon generate pdf from branch publications

[2022-03-02 14:23] nasserma commented on #3742
@editorialbot generate pdf from branch publications

[2022-03-02 14:26] ashleychontos commented on #3331
Hi @mbobra - thank you very much for staying on top of this. We are running a bit behind on the resubmission but the other main developer and I are meeting on Friday and we are planning to set a more definitive, realistic schedule for getting this completed. Of course I understand if you need to do whatever in the meantime but I wanted to keep you updated to let you know that we do plan to finish

[2022-03-02 14:27] Kevin-Mattheus-Moerman commented on #3980
@PolymerGuy since the reviewers have recommended acceptance we will now proceed to process this submission for acceptance.

I have proofread your paper and it looks fine. However I do have one recommendation below:
- [ ] I recommend you rephrase `Still, it is of utmost importance to provide structural engineers with a detailed knowledge of loads, understand the  underlying physics and predict how

[2022-03-02 14:32] danielskatz commented on #3742
@xuanxu - Can you please look at this error

[2022-03-02 15:23] quantumsteve commented on #3953
May we suggest two more reviewers? Casey Icenhour (cticenhour), John Drobny (drobnyjt)

[2022-03-02 15:45] ajstewartlang commented on #4045
Many thanks for your helpful reviews @peircej and @ixjlyons - can I check that following the changes from @nastaran62 that you're happy with those and that no more are outstanding? If so, might you be able to check off the remaining items in your checklists please?

[2022-03-02 15:51] kthyng commented on #4186
@mancellin Ok sounds like we should try the new approach. Can you run this command at the top of a comment?

`@editorialbot generate my checklist`

This should generate your own checklist in line here in the comments that you will have access to. Assuming that works, I will then delete the list at the top of this issue, and then @JamieJQuinn would probably need to do the same thing. This is how th

[2022-03-02 15:54] diehlpk commented on #4075
Sounds good.

[2022-03-02 15:56] diehlpk commented on #4075
@jiahecui My only remark left is for the documentation. For example, you documented the classes like here

https://github.com/jiahecui/SenAOReFoc/blob/1898cdd048b4149b73440969b0f976805774d99a/sensorbasedAO/AO_slopes.py#L18

which is good. However, some class members are not documented like here

https://github.com/jiahecui/SenAOReFoc/blob/1898cdd048b4149b73440969b0f976805774d99a/sensorbasedAO/AO_s

[2022-03-02 15:58] diehlpk commented on #4075
@jiahecui

These are the last two items before I can recommend the paper for acceptance

- [ ]  Documentation of class members
- [ ] Reviwer's 1 comment

[2022-03-02 17:30] csoneson commented on #4188
👋🏻 @gabrielelubatti - I will handle your submission and start by finding two reviewers.

[2022-03-02 18:09] jmschrei commented on #4080
@tpeulen we recently switched the backend of our editorial bot (after the start of this review) so I can't re-add you to this review, but I've been told that you can write `@editorialbot generate my checklist`. Will that work for you?

[2022-03-02 18:36] jiahecui commented on #4075
@diehlp Thank you very much for reading through the code and for suggesting the last two items before acceptance.

This suggestion is very helpful thanks. I have now added documentation for Signal classes in all scripts, in the following way for example in AO_slopes.py.

[code]

Please let me know if this looks good or if more information should be provided. Thank you very much again. The last ite

[2022-03-02 19:06] xuanxu commented on #3742
Error found (ambiguity between branch name and folder name) and hopefully fixed, let's try again.

[2022-03-02 19:06] xuanxu commented on #3742
@editorialbot generate pdf

[2022-03-02 19:10] xuanxu commented on #3742
@editorialbot check references

[2022-03-02 19:14] diehlpk commented on #4075
@jiahecui That looks good. Let me know once you hear back from your colleague.

[2022-03-02 19:14] diehlpk commented on #4075
@editorialbot commands

[2022-03-02 19:52] ddeehere commented on #4062
@danielskatz Just want to let you know that we are still looking into this. We have sent a support request to Zenodo.

[2022-03-02 19:58] danielskatz commented on #4062
👋 @lnielsen - can you help us debug/solve this?

[2022-03-02 19:58] VivianePons commented on #3849
Great! @inpefess can you please make a tagged release and archive (on [Zenodo](https://zenodo.org/), [figshare](https://figshare.com/), or other). Please make sure that the title match the paper title and same for authors.
Once done, please send me the link / doi so that I can update the info and move to paper acceptance

[2022-03-02 20:37] csoneson commented on #4188
👋🏻 @dpolychr, @TomKellyGenetics - would you be interested in reviewing this submission for JOSS?

[2022-03-02 21:12] mayrmt commented on #4142
Haven't forgotten about it. I'm sort of half way through.

[2022-03-02 22:21] inpefess commented on #3849
@VivianePons here is the release: https://github.com/inpefess/gym-saturation/releases/tag/v0.2.9
and here is the DOI from Zenodo: https://doi.org/10.5281/zenodo.6324282

[2022-03-02 22:36] mbobra commented on #3331
No worries @ashleychontos. We can continue here. Yes I think it is a good idea to come up with a realistic schedule out of respect for the reviewers, who do this on their volunteer time and have been hanging around here for 10 months!

[2022-03-02 23:17] kthyng commented on #3594
@dankelley We're ready to wrap up! I read through your paper and didn't see any changes to make. After a couple more steps, I plan to accept this as finished.

1. please confirm the version of the software that you would like associated with your JOSS paper — feel free to make a new release if you want to.
2. Archive the current snapshot of your software at a place like Zenodo, then report back he

[2022-03-02 23:18] meghanrjones commented on #3858
Hi @leouieda, thanks for the invitation. I won't be able to review this submission, but I would like to recommend `hfmark` instead as a reviewer. Hannah is an expert in seismology, teaching, and related software tools.

[2022-03-03 00:29] hemmelig commented on #3858
Hi @leouieda - sounds good, I'm happy to take on this review. Is there any additional information beyond that available on the JOSS review criteria page of which I should be aware, as a first time reviewer? For example, is there an official review template? I have read the review checklist page of the JOSS documentation and was planning to just base my review around that. Thanks.

[2022-03-03 06:27] TomKellyGenetics commented on #4188
Sorry I cannot commit time to this at the moment. Best of luck for your submission.

[2022-03-03 07:33] PolymerGuy commented on #3980
@editorialbot generate pdf from branch JOSS-review

[2022-03-03 07:35] leouieda commented on #3858
👋🏽  @hfmark would you be interested in reviewing this submission for JOSS? Please see [my comment above](https://github.com/openjournals/joss-reviews/issues/3858#issuecomment-995500979) for a summary of the paper and instructions on how JOSS reviews work. Your expertise in seismology and experience with Python software would be appreciated!

[2022-03-03 07:35] PolymerGuy commented on #3980
@whedon  generate pdf from branch JOSS-review

[2022-03-03 07:36] PolymerGuy commented on #3980
@editorialbot generate pdf from branch JOSS-review

[2022-03-03 07:38] csoneson commented on #4188
@TomKellyGenetics - no worries, thanks for the quick reply!

[2022-03-03 07:40] leouieda commented on #3858
@meghanrjones thank you for considering and for the recommendation!

@hemmelig thank you agreeing to review! The JOSS review is a bit different from traditional reviews. There will be a checklist with criteria for you to fill out (that comes after reviewers are assigned and we actually start the review process). Reviewers are also encouraged to open issues and pull requests in the source repositor

[2022-03-03 07:40] leouieda commented on #3858
@editorialbot add @hemmelig as reviewer

[2022-03-03 08:10] PolymerGuy commented on #3980
@Kevin-Mattheus-Moerman The paper has not been compiled after the review comments have been implemented and approved by the reviewers. All changes made during this review has now been merged to -master.

- I have now proofread the paper and confirmed the list of authors and acknowledgements.
- I tried to compile the paper using editorialbot, but the accepted commands seems to be changed.
- I have

[2022-03-03 09:50] konstantinstadler commented on #4212
@editorialbot generate my checklist

[2022-03-03 10:32] Anaphory commented on #4140
@whedon generate pdf from branch joss-paper

We have addressed the issues raised in review concerning the paper text, and about half of the issues concerning implementation and documentation.

[2022-03-03 10:33] Anaphory commented on #4140
@editorialbot commands

[2022-03-03 10:34] Anaphory commented on #4140
@editorialbot set joss-paper as branch

[2022-03-03 10:34] Anaphory commented on #4140
@editorialbot generate pdf

[2022-03-03 10:48] matthieuaussal commented on #3965
What are the next steps please?

[2022-03-03 10:55] dankelley commented on #3594
@kthyng Thanks.  In response to your comment:
1. The version is 1.6-1, that is, the most recent CRAN version as of this date.  We do not refer to the version in the text.  Did you want me to do that?
2. I have archived version 1.6-1 on zenodo (the link is https://zenodo.org/record/6325185#.YiCc1N9E3tc) i.e. the DOI is 10.5281/zenodo.6325185. I did not understand your instruction to 'update the met

[2022-03-03 11:41] JamieJQuinn commented on #4186
@editorialbot generate my checklist

[2022-03-03 11:53] mikldk commented on #4159
@editorialbot assign me as editor

[2022-03-03 11:54] mikldk commented on #4183
@timClicks, @TahiriNadia, can you please give a brief status of your review? This is not to rush you, merely to give me an impression of the progress and time-frame.

[2022-03-03 11:57] mikldk commented on #4159
@mdhaber - thank you for the submission.

A few minor requests:

- [ ] Can you please add country to your affiliation?
- [ ] Please write footnotes with capital first letter

Do you have any suggestions for reviewers ([here](https://bit.ly/joss-reviewers) is a list of potential reviewers) - please do not tag (`@`) anyone yet?

[2022-03-03 12:03] mattpitkin commented on #4205
I have successfully installed and run several of the examples and confirmed that I achieve consistent results. I'm happy to sign-off swyft as reviewed.

I have a couple of questions unrelated to the review, one's a stylistic one and the other's more scientific:

* would it be possible in the violin plots to pass in the parameter names as labels? From looking at the `hist1d` code this looks possibl

[2022-03-03 12:41] Ferreira-B commented on #3330
Hello. Sorry for the late response. Thank you for the opportunity but I cannot review this paper due to time constraints.
Best regards,
Bruno

[2022-03-03 13:04] danielskatz commented on #4163
@KonradHoeffner - JOSS AEiCs rotate, so I'll ask the currently on-duty @openjournals/joss-eics to update you

[2022-03-03 13:20] elbeejay commented on #4050
Hi @kratzert, it looks like those last few issues have been resolved. I wanted to follow up on some of the discussion that happened in [issue 77](https://github.com/neuralhydrology/neuralhydrology/issues/77) - it sounded like you and @chuckaustin agreed that it would be useful to expand the documentation in response to some of the questions raised in that issue. Do you plan on making those changes

[2022-03-03 13:21] elbeejay commented on #4050
@editorialbot check references

[2022-03-03 13:22] elbeejay commented on #4050
@editorialbot set paper as branch

[2022-03-03 13:22] elbeejay commented on #4050
@editorialbot check references

[2022-03-03 13:23] elbeejay commented on #4050
@editorialbot generate pdf

[2022-03-03 13:43] mdhaber commented on #4159
Thanks for editing @mikldk, and sure thing.

The footnotes were "co-first author" and "corresponding author", right? If so, perhaps the example [here](https://joss.readthedocs.io/en/latest/submitting.html) could be updated with those suggestions, too? LMK if you'd like me to submit a PR!

These reviewers seem appropriate due to their interest in statistics and statistical/scientific computing with

[2022-03-03 13:45] elbeejay commented on #4050
@kratzert one minor suggestion for the paper text:
- Line 19: Switch the colon to a period, or remove the capital "P" in "Pre-built" on the following line

Besides this, I think things look good. I am optimistic that this package will help accelerate deep learning acceptance/adoption in the hydrology community. After making the minor revision noted above, I need you to do a few things at this time

[2022-03-03 14:00] nataliacp commented on #4140
@editorialbot set joss-bib as branch

[2022-03-03 14:00] nataliacp commented on #4140
@editorialbot generate pdf

[2022-03-03 14:53] VivianePons commented on #3849
@editorialbot set 0.2.9 as version

[2022-03-03 14:54] VivianePons commented on #3849
@editorialbot set 10.5281/zenodo.6324282 as archive

[2022-03-03 14:54] VivianePons commented on #3849
@editorialbot recommend-accept

[2022-03-03 14:54] kthyng commented on #3594
@dankelley Sorry I was confusing in my statements! I'll try to clarify on these steps which are always at the end of the review.

1. At the top of this issue you can see there is a version associated with your software — often this changes as part of the JOSS review as changes are made in the software though in this case it maybe have just progressed since so much time has passed since the review

[2022-03-03 14:55] kthyng commented on #3594
@editorialbot set 1.6-1 as version

[2022-03-03 14:56] kthyng commented on #3594
@editorialbot set 10.5281/zenodo.6325185 as archive

[2022-03-03 14:57] VivianePons commented on #3849
Congratulations! I have just recommended acceptance. Now this will be handled by the editors in chief.

Thank you very much to @lutzhamel and @quickbeam123 for the nice review work and to @inpefess for the the quick responses and the improvements made on the paper.

[2022-03-03 15:14] ddeehere commented on #4062
@danielskatz

DOI: 10.5281/zenodo.6325732](https://doi.org/10.5281/zenodo.6325732)

[2022-03-03 15:16] danielskatz commented on #4062
hmmm   that DOI does not resolve for me right now.  Does it for you?

[2022-03-03 15:23] kthyng commented on #3594
@editorialbot recommend-accept

[2022-03-03 15:27] ddeehere commented on #4062
@danielskatz It was just generated. Looks like it's resolving now.

[2022-03-03 15:28] pitsianis commented on #3965
@editorialbot generate pdf

[2022-03-03 15:29] kthyng commented on #3594
@dankelley There have been some changes in the tech at JOSS just recently and I see some evidence of that here! Can you look through the error messages and see if you can determine the problem? If it still won't work, I will try and/or get help from someone who knows more about it.

[2022-03-03 15:36] dankelley commented on #3594
It's unhappy about the formats of my issn fields in my .bib file.  I'll look at the error log and my .bib file and make corrections.  Is there any way I can make the system do further tests, without bothering you?  (This might take a few tries.)

[2022-03-03 15:38] kthyng commented on #3594
You can compile separately from this issue (see docs [here](https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles)) but also feel free to just do it here — I'll ignore the messages for a bit :)

[2022-03-03 15:38] arfon commented on #3594
It looks like the Crossref validation is failing on this ISSN: https://github.com/openjournals/joss-papers/pull/3010/commits/b08033650d5451dce4a64f8b2db92fd61b66117e#diff-0cf1feada8e37b446552b475411a1595fb35c56e42863f627b956f39902c338bR118

[2022-03-03 15:39] dankelley commented on #3594
I think I see two problems in my .bib file
*   The value 1939-5108, 1939-0068 is not accepted by the pattern d{4}-?d{3}[dX].
*  The value 2503636306 is not accepted by the pattern d{4}-?d{3}[dX].

and will fix them once I do some searching of the sources.  (If I cannot find proper values, I'll delete the fields.)

[2022-03-03 15:59] dankelley commented on #3594
@editorialbot recommend-accept