[2019-09-20 10:14] mbobra commented on #1745
/ooo September 23 until September 27

[2019-09-20 11:57] finsberg commented on #1730
@fcooper8472 , can you open the issue tracker in the Chaste repository, i.e Settings->Options->Features and make sure that "Issue" is ticked off.

[2019-09-20 13:27] fcooper8472 commented on #1730
Hi @finsberg, issues are currently turned off on the Chaste repo because we use a separate trac instance.

Do you need issues on for the review?

[2019-09-20 13:27] kahaaga commented on #1666
Thanks for the nice feedback and suggestions, @ahwillia!

## How `cor(x,y) and related functions work`

For the `cov(x, y)` and `cor(x, y)` functions, the approach is to always call `resample` independently on `x` and `y`, because they might follow different distributions (hence, not necessarily normal distributions). The general approach (also for `cor(x, y)`) is thus as follows.

Assume I have t

[2019-09-20 13:34] finsberg commented on #1730
It would be good to at least have a place where we can post issues and suggestions for enhancements related to this submission, but maybe @meg-simula can clarify.

[2019-09-20 13:36] oliviaguest commented on #1666
@kahaaga nice — thanks! So does what @labarba said above not apply here regarding a new version: https://github.com/openjournals/joss-reviews/issues/1666#issuecomment-529135663?

[2019-09-20 13:47] kahaaga commented on #1666
@oliviaguest, you are absolutely right, it does apply here! My bad :)

I guess it would be nice that the release that is tagged in the paper also contains the latest version of the paper. The process for registering a new version of a package consists of the following steps:
 - I merge a new PR and trigger the JuliaRegistrator bot. This tests the package against the remaining Julia ecosystem.
- If

[2019-09-20 13:49] oliviaguest commented on #1666
Great! 😊
So regrading what needs to be done: I believe so, yes. Post back here when you think it's all ready.👍

[2019-09-20 13:53] kahaaga commented on #1666
Perfect, and thanks for the swift replies! This review process is new to me, so I just needed to be sure that I understand the process properly.

I'll post back once @ahwillia has responded to my comments and I've incorporated any final changes.

[2019-09-20 14:01] fcooper8472 commented on #1730
@finsberg no problem - I have opened the issues on the Chaste repo.

Probably best as it will save you having to register on our trac.

[2019-09-20 14:01] henrikmidtiby commented on #1654
@kthyng I got stuck in the workaround and was distracted due to real life events afterwards. My hope to get it to work is quite small at the moment, as the error messages that I battle with does not help me identify what is wrong with my virtual machine.

[2019-09-20 14:19] meg-simula commented on #1730
A review issue will appear @finsberg. Just waiting for reviewer 2 before
opening. Stay tuned!

On Fri, Sep 20, 2019, 15:34 Henrik Finsberg <notifications@github.com>
wrote:

[2019-09-20 14:27] mozhgan-kch commented on #1611
Adding to the above, I would like to make below suggestions:

- [ ] It would be good to know if you have done any benchmarking to compare this with other frameworks such as Netlogo or Repast, since you mentioned these in your paper.
- [ ] It would be beneficial to read about the limitations of this tool/framework in the paper. If there is any.
- [ ] The last reference does not have a DOI.
- [ ] As

[2019-09-20 14:27] kthyng commented on #1675
Great, thanks!

[2019-09-20 14:27] kthyng commented on #1675
@whedon accept deposit=true

[2019-09-20 14:27] whedon commented on #1675
[code]

[2019-09-20 14:28] whedon commented on #1675
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1175054044286586892) 👈 🐦🐦🐦

[2019-09-20 14:28] whedon commented on #1675
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/973
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01675](https://doi.org/10.21105/joss.01675)
2. If everything looks go

[2019-09-20 14:31] kthyng commented on #1675
Congrats on your publication @pySRURGS!!! Thanks so much to our reviewers, @henrik227 and @SirSharpest.

[2019-09-20 14:31] #1675 closed

[2019-09-20 14:31] whedon commented on #1675
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01675/status.svg)](https://doi.org/10.21105/joss.01675)

**We need your help!**

Journal of Open Source Softwa

[2019-09-20 14:52] kthyng commented on #1550
@ethanwhite totally understand that! Thanks for agreeing to review. I need to find another reviewer before we can proceed.

[2019-09-20 15:04] TrashBirdEcology commented on #1550
@kthyng I have posted on rstats twitter to see if we can't find someone (who isn't yet a JOSS reviewer)!

[2019-09-20 15:06] kthyng commented on #1550
ooo nice idea. I'm reaching out outside github too. Sign those people up as reviewers!! :)

[2019-09-20 15:08] TrashBirdEcology commented on #1550
Indeed..

[2019-09-20 15:30] svmiller commented on #1722
I'll caution here that I am kind of clumsy on Github, and this is the first review of its kind I've done, but I believe I've completed my review for this paper. I obviously recommend publication (which is the language I'm used to using for social science papers) and I should've checked all boxes in my review toward that end.

[2019-09-20 15:58] hsezhiyan commented on #1524
@mbobra thanks for the update. It's been done.

[2019-09-20 16:29] mathieuboudreau commented on #1725
@whedon generate pdf

[2019-09-20 16:29] whedon commented on #1725
[code]

[2019-09-20 16:29] whedon commented on #1725
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01725/joss.01725/10.21105.joss.01725.pdf)

[2019-09-20 16:35] mathieuboudreau commented on #1725
@imr-framework could you clarify what contribution(s) John Thomas Vaughan Jr. made to this project; I checked out the contributors to the source code  [here](https://github.com/imr-framework/pypulseq/graphs/contributors), and he doesn't appear on the list (whereas @tonggehua has made some commits and doesn't appear on the paper).

[2019-09-20 16:51] shah314 commented on #1733
@whedon generate pdf

[2019-09-20 16:51] whedon commented on #1733
[code]

[2019-09-20 16:52] whedon commented on #1733
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01733/joss.01733/10.21105.joss.01733.pdf)

[2019-09-20 17:16] ahwillia commented on #1666
Thanks for the detailed response! No need to change anything with regard to Bayesian methods. I just wanted to mention it as a different perspective (it is not clear to me one is better than the other). Also -- I apologize, my recommended papers were not chosen very well. I would start with [Murphy's textbook](https://www.cs.ubc.ca/~murphyk/MLbook/) particularly the section on Bayesian model selec

[2019-09-20 17:51] gkthiruvathukal commented on #1735
Thanks, @nnadeau and @nthomasCUBE. I'll get this going!

[2019-09-20 17:51] gkthiruvathukal commented on #1735
@whedon assign @nnadeau as reviewer

[2019-09-20 17:51] whedon commented on #1735
OK, the reviewer is @nnadeau

[2019-09-20 17:51] gkthiruvathukal commented on #1735
@whedon add @nthomasCUBE as reviewer

[2019-09-20 17:51] whedon commented on #1735
OK, @nthomasCUBE is now a reviewer

[2019-09-20 17:52] gkthiruvathukal commented on #1735
@whedon commands

[2019-09-20 17:52] mathieuboudreau commented on #1725
@imr-framework does there exist some kind of validator tool to evaluate if a generated *.seq file is (1) properly formatted, and (2) doesn't exceed vendor-imposed hardware limits. I don't expect that this exists within your software, since *.seq files have been developed previously, I'm wondering if there's an external tool that already does this?

[2019-09-20 17:52] whedon commented on #1735
Here are some things you can ask me to do:

[code]

[2019-09-20 17:53] gkthiruvathukal commented on #1735
@whedon start review

[2019-09-20 17:53] whedon opened #1752 "[REVIEW]: Shop-Solver: A framework for solving and benchmarking shop scheduling problems"
**Submitting author:** @KingZee (<a href="http://orcid.org/0000-0002-6478-3628">Abdelhakim Zakkari</a>)
**Repository:** <a href="https://github.com/KingZee/shop-solver" target ="_blank">https://github.com/KingZee/shop-solver</a>
**Version:** v1.2.0
**Editor:** @gkthiruvathukal
**Reviewer:** @nnadeau, @nthomasCUBE
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/f3a3559d715

[2019-09-20 17:53] whedon commented on #1735
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1752. Feel free to close this issue now!

[2019-09-20 17:53] whedon commented on #1752
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @nnadeau, @nthomasCUBE it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-20 17:53] whedon commented on #1752
[code]

[2019-09-20 17:53] whedon commented on #1752
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01752/joss.01752/10.21105.joss.01752.pdf)

[2019-09-20 17:54] #1735 closed

[2019-09-20 18:59] knaidoo29 commented on #1721
@whedon generate pdf

[2019-09-20 18:59] whedon commented on #1721
[code]

[2019-09-20 19:00] whedon commented on #1721
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01721/joss.01721/10.21105.joss.01721.pdf)

[2019-09-20 19:07] sravan953 commented on #1725
@mathieuboudreau
Regarding contributions-
John Thomas Vaughan Jr. has been principally involved in the design and review of this project, like for [Virtual Scanner](https://github.com/imr-framework/virtual-scanner/issues/22#issuecomment-520032559). We have been using PyPulseq internally, and the one commit from @tonggehua was regarding [documentation](https://github.com/imr-framework/pypulseq/comm

[2019-09-20 19:13] mathieuboudreau commented on #1725
Ok great, thanks for all that additional information!

[2019-09-20 20:56] mgymrek commented on #1643
@whedon set v1.0.3 as version

[2019-09-20 20:56] whedon commented on #1643
OK. v1.0.3 is the version.

[2019-09-20 20:57] mgymrek commented on #1643
@whedon set 10.5281/zenodo.3441677 as archive

[2019-09-20 20:57] whedon commented on #1643
OK. <a href="https://doi.org/10.5281/zenodo.3441677" target="_blank">10.5281/zenodo.3441677</a> is the archive.

[2019-09-20 20:57] mgymrek commented on #1643
@openjournals/joss-eics We are ready to accept this submission!

[2019-09-20 20:59] mgymrek commented on #1719
@jsgalan @road2stat @nilesh-patil @juanvillada @chlalanne would either of you be able to review?

[2019-09-20 21:05] shah314 commented on #1733
@whedon generate pdf

[2019-09-20 21:05] whedon commented on #1733
[code]

[2019-09-20 21:06] whedon commented on #1733
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01733/joss.01733/10.21105.joss.01733.pdf)

[2019-09-20 21:07] shah314 commented on #1733
@whedon generate pdf

[2019-09-20 21:08] whedon commented on #1733
[code]

[2019-09-20 21:08] whedon commented on #1733
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01733/joss.01733/10.21105.joss.01733.pdf)

[2019-09-20 21:11] shah314 commented on #1733
I have fixed the invalid certificate error for the CMU link.

[2019-09-20 21:20] mgymrek commented on #1500
Hello,
I am testing out these changes. Using the version from pip and the example:

[code]

I get an error:
[code]

The main example (`BCAWT.BCAW(['Ecoli.fasta'],'save_path',genetic_code_=11,Auto=True)`) worked smoothly.

[2019-09-20 22:14] shah314 commented on #1733
@whedon @hausen and @gabrielspadon could be reviewers.

[2019-09-20 23:09] kthyng commented on #1643
@whedon accept

[2019-09-20 23:09] whedon commented on #1643
[code]

[2019-09-20 23:10] whedon commented on #1643
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/974

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/974, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-20 23:13] kthyng commented on #1643
@whedon accept deposit=true

[2019-09-20 23:13] whedon commented on #1643
[code]

[2019-09-20 23:14] whedon commented on #1643
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1175186394127503362) 👈 🐦🐦🐦

[2019-09-20 23:14] whedon commented on #1643
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/975
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01643](https://doi.org/10.21105/joss.01643)
2. If everything looks go

[2019-09-20 23:15] kthyng commented on #1643
Woohoo!! Congrats @ashleefv on your publication and thank you to reviewers @SirSharpest and @marouenbg!!

[2019-09-20 23:15] #1643 closed

[2019-09-20 23:15] whedon commented on #1643
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01643/status.svg)](https://doi.org/10.21105/joss.01643)

**We need your help!**

Journal of Open Source Softwa

[2019-09-20 23:18] kthyng commented on #1441
@likask  Sounds good. What is the next step then? Should the reviewers @tjhei, @chrisrichardson, @Kevin-Mattheus-Moerman, @vijaysm, @chennachaos wait for your new release?

[2019-09-20 23:20] kthyng commented on #1654
Hi @abhishekbajpayee have you been able to make any progress on your review? It'd be great to see how your installation proceeds.

[2019-09-20 23:31] AliYoussef96 commented on #1500
Hello @mgymrek,

The error you got from biopython translate function when it tries to translate unknown codons.  Any invalid codon (e.g. "TA?" or "T-A") will throw a TranslationError.
link to the error description : https://biopython.org/DIST/docs/api/Bio.Seq-module.html#translate

According to the error, a codon "**<DI**" is in one of DNA sequences in the fasta file being tested, I'm sure the [te

[2019-09-21 00:01] shah314 commented on #1728
@whedon @stulacy could also be a reviewer

[2019-09-21 00:30] brainstorm commented on #1626
Looks all good to ship @arfon.

[2019-09-21 00:31] brainstorm commented on #1708
@GullyAPCBurns @gbader, if you have doubts about how to proceed, please ask!

[2019-09-21 01:15] katyhuff commented on #1650
@whedon check references

[2019-09-21 01:15] whedon commented on #1650
[code]

[2019-09-21 01:15] whedon commented on #1650
[code]

[2019-09-21 01:21] katyhuff commented on #1650
@ezsolti I have reviewed the code and the paper. I have some comments on the paper which can be found in the attached pdf:
[joss-feign.pdf](https://github.com/openjournals/joss-reviews/files/3638206/joss-feign.pdf)

Primarily:
- [ ]  In your references, the DOI https://doi.org/10.1016/j.nima.2016.07.032 is INVALID because of 'https://doi.org/' prefix
- [ ] The statement of need and the description

[2019-09-21 02:22] arokem commented on #1637
I would be fine with a change just to the docs, if you can't address all of these issues.

[2019-09-21 02:22] arokem commented on #1749
Yes. I can take this one.

[2019-09-21 02:22] arokem commented on #1749
@whedon assign @arokem as editor

[2019-09-21 02:22] whedon commented on #1749
OK, the editor is @arokem

[2019-09-21 02:23] arokem commented on #1749
👋 @hiendn : would you be willing to review this paper for JOSS?

[2019-09-21 02:25] arokem commented on #1749
👋 @dirmeier : would you be willing to review this paper for JOSS?

[2019-09-21 02:26] arokem commented on #1749
👋 @nsaunier : would you be willing to review this paper for JOSS?

[2019-09-21 06:37] likask commented on #1441
It looks that @tjhei finished his work a long time ago.

I do think that is a need to wait for a new release. In the case of @chrisrichardson, @Kevin-Mattheus-Moerman, @vijaysm, @chennachaos probably time is the main problem. I can make quickly container with a particular update only if needed. From my side, I can promise to be swift as possible in answering questions and solve the problems.

[2019-09-21 09:52] arfon commented on #1728
:wave: @stulacy - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-09-21 09:53] arfon commented on #1626
@heilerich - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the aut

[2019-09-21 13:16] whedon opened #1753 "[PRE REVIEW]: PyLUR: A land use regression wizard for ArcGIS Pro"
**Submitting author:** @anmolter (<a href="http://orcid.org/0000-0002-0824-4478">Anna Mölter</a>)
**Repository:** <a href="https://github.com/anmolter/PyLUR" target ="_blank">https://github.com/anmolter/PyLUR</a>
**Version:** v2.2.4 or higher
**Editor:** @hugoledoux
**Reviewers:** @Athelena, @fortinma

**Author instructions**

Thanks for submitting your paper to JOSS @anmolter. **Currently, there

[2019-09-21 13:16] whedon commented on #1753
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-21 13:16] whedon commented on #1753
[code]

[2019-09-21 13:16] whedon commented on #1753
PDF failed to compile for issue #1753 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-ef

[2019-09-21 13:21] kthyng commented on #1753
Hi @anmolter, I have some concerns about your submission that need to be addressed before we can move forward on your submission. As it stands, it is failing on the [submission requirement](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements) of

since to look at the files, one needs to download a big zip file and unzip. Therefore, the packaging of your submission needs i

[2019-09-21 13:26] whedon opened #1754 "[PRE REVIEW]: tabula: An R Package for Analysis, Seriation and Visualization of Archaeological Count Data"
**Submitting author:** @nfrerebeau (<a href="http://orcid.org/0000-0001-5759-4944">Nicolas Frerebeau</a>)
**Repository:** <a href="https://github.com/nfrerebeau/tabula" target ="_blank">https://github.com/nfrerebeau/tabula</a>
**Version:** v1.3.0
**Editor:** @oliviaguest
**Reviewers:** @izaromanowska, @soodoku

**Author instructions**

Thanks for submitting your paper to JOSS @nfrerebeau. **Curren

[2019-09-21 13:26] whedon commented on #1754
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-21 13:26] whedon commented on #1754
[code]

[2019-09-21 13:26] kthyng commented on #1754
Hi @oliviaguest! Could you edit this submission?

[2019-09-21 13:26] whedon commented on #1754
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01754/joss.01754/10.21105.joss.01754.pdf)

[2019-09-21 13:44] oliviaguest commented on #1754
@kthyng I am very far from having expertise in this area and am currently editing 3 others — does it matter? If not, then, sure. 😊

[2019-09-21 13:50] oliviaguest commented on #1739
👋 Hey @mdsumner — would you be interested in reviewing this submission for JOSS? 😸

[2019-09-21 14:38] kthyng commented on #1754
@oliviaguest generally you don't need too much specific expertise, and you're on the lower end of editor load, but I know I've asked you to take on submissions this week!  I can try another editor first though.

@karthik this submission looks to be more in your area of expertise. Would you edit this submission?

[2019-09-21 20:22] zingale commented on #1707
Another suggestion of someone who works on astro hydro codes with C++,

Philipp Grete: @pgrete

[2019-09-21 23:31] mdsumner commented on #1739
No, sorry can't do this one

[2019-09-22 01:20] jedbrown commented on #1700
Thanks for your patience.
* Would it make sense to name the authors of Bob-rheology? https://sourceforge.net/p/bob-rheology/wiki/Home/  There are three authors listed in the copyright statements inside the repository, with version 2.5 release in 2012. Perhaps we can name the three authors and use `year = 2012`. I've suggested that in my PR https://github.com/JuliaRheology/RHEOS.jl/pull/49
* Where

[2019-09-22 10:21] moustachio-belvedere commented on #1700
@whedon generate pdf

[2019-09-22 10:21] whedon commented on #1700
[code]

[2019-09-22 10:21] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-22 10:42] moustachio-belvedere commented on #1700
@jedbrown Many thanks for your feedback. On your first point I agree completely, thanks a lot for the pull request.

On the third point I also agree completely, I hadn't noticed the referencing style and have updated the wording in line with your suggestion, commit https://github.com/JuliaRheology/RHEOS.jl/commit/2186c1d9efabf3f69e009780cb051c061ca65681

Regarding the book reference, it does indee

[2019-09-22 10:53] arfon commented on #1707
@pgrete - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-09-22 10:56] moustachio-belvedere commented on #1700
@whedon generate pdf

[2019-09-22 10:56] whedon commented on #1700
[code]

[2019-09-22 10:57] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-22 11:23] moustachio-belvedere commented on #1700
Another update, for now  I tried to add an `origdate` field with `1976` embedded but it does not seem to be recognised by the compiler backend pipeline, perhaps there is another field which could be used. The addition was based on this discussion:

https://tex.stackexchange.com/questions/139805/how-to-differentiate-between-translated-and-reprinted-work-with-apa-style

Many thanks

[2019-09-22 11:28] moustachio-belvedere commented on #1700
@whedon generate pdf

[2019-09-22 11:28] whedon commented on #1700
[code]

[2019-09-22 11:30] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-22 12:57] mstrimas commented on #1550
Apologies for the slow response, I'm already hugely overcommitted this fall, so I definitely don't have time for a full code review. Looking at the review checklist, it doesn't seem like a code review is required though, mostly just some quick checks to make sure everything is working. Am I missing something here, do these usually go fairly quickly?

[2019-09-22 13:26] moustachio-belvedere commented on #1700
@whedon generate pdf

[2019-09-22 13:26] whedon commented on #1700
[code]

[2019-09-22 13:27] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-22 14:07] jedbrown commented on #1700
I tried following [this example](https://github.com/jgm/pandoc-citeproc/blob/master/tests/biblatex-examples.bib#L809-L836) from `pandoc-citeproc` (the software pipeline we use), but those fields apparently are not supported, so I'm fine with this as is.

Please tag a release ([annotated tag](https://git-scm.com/book/en/v2/Git-Basics-Tagging#_annotated_tags) preferred) and archive your software on

[2019-09-22 14:24] hiendn commented on #1749
My apologies, @arokem, I am away on vacation at the moment and can not handle this review (no laptop!). Hope that it goes smoothly!

[2019-09-22 15:15] benmaier commented on #1425
@leouieda just quickly checking in asking for an update :)

[2019-09-22 17:37] mgymrek commented on #1500
Ok, I got it to work for now. The usage on the site is misleading. I assumed "Test_folder" is a folder containing the fasta files to check. (The functionality seemed to change since I tried a couple days ago using the pip version, since earlier I gave a directory and it didn't complain that it couldn't find the Ecoli.fasta file)
The README mentions any fasta file can be downloaded under "Auto test

[2019-09-22 17:37] mgymrek commented on #1742
Friendly reminder to @nhejazi , @mikmaksi to post comments and go through the checklist on this review thread. Thanks!

[2019-09-22 18:07] mwcraig commented on #1743
@arfon my review of this submission is complete for the moment.

I have not reviewed the paper itself in detail because of what is, I believe, a major issue with the code, described at https://github.com/shreyasbapat/python-oifits/issues/2

Because of that issue, my recommendation is that this submission needs major revision before it can be accepted.

The other issues I've opened in the code repo

[2019-09-22 18:20] leouieda commented on #1425
@whedon set 0.1.4 as version

[2019-09-22 18:20] whedon commented on #1425
OK. 0.1.4 is the version.

[2019-09-22 18:20] poulson commented on #1705
I am back from overseas travel and am now working on the review. I was able to run the python tests without a hitch, but I filed issue https://github.com/XanaduAI/thewalrus/issues/56 to suggest fixing the hardcoded eigen3 path in `tests/Makefile`.

[2019-09-22 18:22] leouieda commented on #1425
@whedon set 10.5281/zenodo.3402870 as archive

[2019-09-22 18:22] whedon commented on #1425
OK. <a href="https://doi.org/10.5281/zenodo.3402870" target="_blank">10.5281/zenodo.3402870</a> is the archive.

[2019-09-22 18:22] leouieda commented on #1425
@whedon generate pdf

[2019-09-22 18:22] whedon commented on #1425
[code]

[2019-09-22 18:23] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-09-22 18:24] leouieda commented on #1425
@whedon check references

[2019-09-22 18:24] whedon commented on #1425
[code]

[2019-09-22 18:24] whedon commented on #1425
[code]

[2019-09-22 18:26] poulson commented on #1705
Submitted https://github.com/XanaduAI/thewalrus/issues/57 regarding the default `Makefile` rule in `examples/` leading to an error.

[2019-09-22 18:46] karthik commented on #1754
@kthyng Sorry I dont have bandwidth to handle.

[2019-09-22 18:56] leouieda commented on #1425
:wave: Hi @benmaier, please change the Graphviz citation to https://link.springer.com/chapter/10.1007/3-540-45848-4_57 (same authors so I'm guessing this is a paper made from the proceedings). I was just going through the paper once more and noticed the citation for the StackOverflow survey :) I couldn't find a proper way of citing it and the current citation isn't rendering correctly with our tem

[2019-09-22 19:08] poulson commented on #1705
I am very impressed by the library of algorithms for computing halfnians, but I am worried there is insufficient justification for the claim that your library is the "fastest" given the lack of benchmarks relative to pre-existing libraries.

For example, on the subject of computing permanents, you have the wonderful documentation here:
https://the-walrus.readthedocs.io/en/latest/permanent_tutorial

[2019-09-22 19:19] shreyasbapat commented on #1743
Working on it. Sorry for the inconvenience. I will need some time on this.

[2019-09-22 19:58] AliYoussef96 commented on #1500
1- I updated your comments on the paper.

2- I changed the test function to accept any fasta file and I made it clear in the README.

[code]
3- The pip version now it 1.0.3.

[2019-09-22 20:02] shreyasbapat commented on #1743
I am sorry for the mess @mwcraig . Thankyou for pointing this out. I had no idea of my mistake there.
Sorry @arfon , I will revise the submission. It will take me some time (around 2-3 days) due to my ongoing exams. It was a wrong push, so I have the code ready which was **supposed** to go here. It will need some polishing and hence I will need some time. I request you to please halt this review f

[2019-09-22 20:03] nsaunier commented on #1749
Sorry, @arokem, I am not enough of an expert in that field and have several reviews late.

[2019-09-22 20:26] poulson commented on #1655
@whedon remove @oesteban as reviewer

[2019-09-22 20:26] whedon commented on #1655
OK, @oesteban is no longer a reviewer

[2019-09-22 20:28] poulson commented on #1735
Thank you for taking this over, @kthyng. I just got back from some overseas travel and forgot to put my OOO up.

[2019-09-22 20:32] nquesada commented on #1705
Thanks @poulson ! We are working on  fixing the Makefile and also on improving the permanent code. Regarding being "the fastest", I guess we really like the idea of the a Walrus being the fastest, at something ;) . More to the point, we never claimed anything about permanents, they are in the library to for historical reasons, but they are not mentioned in the scope of the library and appear only

[2019-09-22 20:48] shreyasbapat commented on #1743
@arfon I actually did a wrong push which led to this. I wish to stop the review process as I am feeling pathetic about it. I will restructure everything and make sure nothing of this sort happens at all again and will resubmit. I will remove this repository, and create a new one without the history of old faulty pushes.
Can you stop the review at this point so that I can correct my mistakes?

[2019-09-22 21:03] danielskatz commented on #1674
👋 @TomDonoghue - to finish up now, I need you to

deposit the repository in an archive (e.g. zenodo) and to report the DOI here
tell me the latest version number here
confirm that the paper text and references are final

[2019-09-22 21:04] danielskatz commented on #1636
👋 @bwoshea - to finish up now, I need you to

deposit the repository in an archive (e.g. zenodo) and report the DOI here
tell me the latest version number here
confirm that the paper text and references are final

[2019-09-22 21:35] nnadeau commented on #1752
@gkthiruvathukal @KingZee my initial impressions:

## Authorship

The second and third authors have made [no contributions to the repository](https://github.com/KingZee/shop-solver/graphs/contributors):

- Charif Mabrouki
- Alami Semma

## Significance

- Makespan optimization is a well-studied research topic.
- The presented software claims to be "feature" complete, but is not much more than a GU

[2019-09-22 21:46] poulson commented on #1705
Thank you for the fast response, @nquesada! I see what you mean about the claim being specific to hafnians, but you also point out that haf([0, W; W^T, 0]) = perm(W), so it is possible to at least make a qualitative connection between hafnian runtimes and best-in-class permanent runtimes.

But you are right that the codegolf timings at https://codegolf.stackexchange.com/questions/157049/calculate-

[2019-09-22 21:47] gkthiruvathukal commented on #1752
@nnadeau Thanks for giving the excellent, constructive feedback. We are going to need more than a GUI wrapper to proceed with this submission. When I decided to put this forward for review, I was under the impression there was more of an API here and not just a GUI wrapper.

@KingZee Please take this feedback into account and let us know when you have been able to address the above. You should pro

[2019-09-22 22:04] stsievert commented on #1655
@torressa I've updated https://github.com/openjournals/joss-reviews/issues/1655#issuecomment-523107985 to include a note of the API documentation.

[2019-09-22 22:14] poulson commented on #1705
It has been another 21 minutes and thewalrus is still running. I also read a bit more and Miles's code is an implementation of Algorithm 2 of https://arxiv.org/pdf/1107.4466.pdf, which you cite as the "Recursive Algorithm" from [5] in https://the-walrus.readthedocs.io/en/latest/algorithms.html.

However, I see that this algorithm is only defined for non-loop hafnians, and I am comparing it against

[2019-09-22 22:17] nquesada commented on #1705
Hi @poulson . The code from @eklotek (aka "miles") is correct. The algorithm he implemented, which comes from a paper by A. Bjorklund, scales like O(n^5 2^{n/2})  where n is the size of the matrix. The code from https://arxiv.org/pdf/1805.12498.pdf scales like O(n^3 2^{n/2}) which is asymptotically faster, but in real life (not n \to \infty) the algorithm implemented by miles and derived by A. Bjo

[2019-09-22 22:19] nquesada commented on #1705
Just saw your latest message. The problem with loop hafnians is that as far as I know, and I asked A. Bjorklund about this, there is no generalization of the "recursive" algorithm to loop hafnians.

[2019-09-22 23:22] arfon commented on #1743
Thanks for flagging these issues @mwcraig. As @shreyasbapat has requested, at this point I think it's best to have them withdraw this submission and potentially resubmit at some point in the future when these issues have been addressed.

Certainly. I'll close this issue now.

Thanks for your efforts on this @mwcraig! @shreyasbapat - if you're able to resolve these issues to the satisfaction of @pb

[2019-09-22 23:22] #1743 closed

[2019-09-22 23:33] poulson commented on #1705
I looked through the linked source code and you seem to mean `long double` when you say "quad precision", but, according to the wikipedia entry on `long double`: "With gcc on Linux, 80-bit extended precision is the default". This has been my experience in practice, and it seems to only be older chips that supported hardware 128-bit arithmetic which had compilers mapping `long double` to 128-bit IE

[2019-09-22 23:35] poulson commented on #1705
I think it would be fair to say that it is the responsibility of the unqualified interfaces (i.e., `hafnian` and `loop_hafnian`) to route to the best algorithms based upon the matrix dimensions. There is such a large difference in runtime that such a simple fix seems worthwhile.

[2019-09-22 23:37] whedon opened #1755 "[PRE REVIEW]: Hasasia: A Python package for Pulsar Timing Array Sensitivity Curves"
**Submitting author:** @Hazboun6 (<a href="http://orcid.org/0000-0003-2742-3321">Jeffrey Hazboun</a>)
**Repository:** <a href="https://github.com/Hazboun6/hasasia" target ="_blank">https://github.com/Hazboun6/hasasia</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @cmbiwer, @matteobachetti

**Author instructions**

Thanks for submitting your paper to JOSS @Hazboun6. The JOSS editor @arfo

[2019-09-22 23:37] whedon commented on #1755
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `

[2019-09-22 23:37] whedon commented on #1755
[code]

[2019-09-22 23:38] arfon commented on #1755
:wave: @Hazboun6 - is this submission accompanying a AAS paper by any chance?

[2019-09-22 23:38] whedon commented on #1755
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01755/joss.01755/10.21105.joss.01755.pdf)

[2019-09-23 01:05] KingZee commented on #1752
@gkthiruvathukal @nnadeau, thanks a lot for your efforts.

I have to say I am a bit confused, but really willing to discuss and improve on anything that needs work here. What do you mean by a "GUI wrapper"? A wrapper to what? My own code for solving schedules?

What I built here is a documented structure that allows any future development to be extended from the same abstract class. You should kno

[2019-09-23 01:15] KingZee commented on #1752
I even explained in my paper every step on how I modeled and made the conception of the exact algorithms in my software, which is why I am really confused on what am I missing here to make this clearer.

[2019-09-23 01:35] poulson commented on #1705
I believe the rest of the time difference -- from @eklotek's 80 seconds up to the "const reference" version of `hafnian_recursive` -- will largely be explained by you reordering the loops in the main computational kernel, which were originally:

[code]

so that the majority of array accesses are no longer unit stride, leading to large performance degradations due to decreased cache reuse. Said cod

[2019-09-23 04:15] Hazboun6 commented on #1755
Hi @arfon, This is not associated with a AAS paper. There was a PRD
manuscript submitted (https://arxiv.org/abs/1907.04341) about the physics
that this code is based on. This was included as the citation which doesn't
seem to be working in the repo.

On Sun, Sep 22, 2019 at 4:38 PM Arfon Smith <notifications@github.com>
wrote:

--
Jeffrey S Hazboun, PhD
(he/him/his)
Post Doctoral Fellow
NANOGrav P

[2019-09-23 04:38] juanvillada commented on #1719
Count me in! 👍🏼

[2019-09-23 05:48] krother commented on #1517
Looks good, ready to go.

[2019-09-23 05:55] csoneson commented on #1635
Just checking in again - @marekborowiec, could you give us an update on the progress with the revision?

[2019-09-23 05:56] csoneson commented on #1665
Hi @mlindsk - just checking in here. Could you give us an update on the progress of the revision?

[2019-09-23 05:56] csoneson commented on #1740
@whedon check references

[2019-09-23 05:56] whedon commented on #1740
[code]

[2019-09-23 05:56] whedon commented on #1740
[code]

[2019-09-23 05:57] csoneson commented on #1740
@whedon generate pdf

[2019-09-23 05:57] whedon commented on #1740
[code]

[2019-09-23 05:57] whedon commented on #1740
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01740/joss.01740/10.21105.joss.01740.pdf)

[2019-09-23 05:59] mlindsk commented on #1665
Hi @csoneson - The new API is now finished. I need to make a new vignette and some changes to the paper. I'm a little swamped regarding teaching, but hopefully it wont be long until I'm done now. I have merged the new code to the master branch.

[2019-09-23 06:09] csoneson commented on #1750
I can take this one.

[2019-09-23 06:09] csoneson commented on #1750
@whedon assign @csoneson as editor

[2019-09-23 06:09] whedon commented on #1750
OK, the editor is @csoneson

[2019-09-23 06:11] drvinceknight commented on #1607
Yup :) @kthyng :+1:

[2019-09-23 06:11] drvinceknight commented on #1607
@whedon assign @drvinceknight as editor

[2019-09-23 06:11] whedon commented on #1607
OK, the editor is @drvinceknight

[2019-09-23 06:12] csoneson commented on #1750
@whedon assign @luizirber as reviewer

[2019-09-23 06:12] whedon commented on #1750
OK, the reviewer is @luizirber

[2019-09-23 06:12] csoneson commented on #1750
@retimme, @ondovb, @aphillippy, @rvosa, @tseemann, @iimog - would one of you be interested in reviewing this submission for JOSS?

[2019-09-23 07:34] stulacy commented on #1728
Happy to review!

On Sat, 21 Sep 2019 at 10:52, Arfon Smith <notifications@github.com> wrote:

[2019-09-23 07:56] dirmeier commented on #1749
Hey @arokem, I can certainly give it a try. But I think it would be good to have a second reviewer (and third) on this one. Also I don't have a windows PC and the tool doesn't seem to have a description for installing on Unix systems ([here](https://github.com/BIPL-HORIE/LIBSDNN/blob/master/doc/Command%20line%20tools%20usage.pdf))

[2019-09-23 08:32] pgrete commented on #1707
Yes, I'm happy to conduct the review.

[2019-09-23 09:53] adi3 commented on #1738
@nnadeau Great work in the repo! I'm yet to test it out on my machine but I did a quick overview and I'm already a fan. Regarding the review, I'd like you to add a few things in the `Development` section of the readme.

Step 3 of your development process should have the contributor run tests to make sure the changes have not broken anything. Please list out specific commands and outputs the contri

[2019-09-23 10:14] inakleinbottle commented on #1747
I have completed my review, and opened an [issue](https://github.com/GeoStat-Framework/pentapy/issues/1#issue-497003090) on the submission repository detailing some issues that need to be addressed.

(Do I need to open a Review issue using Whedon?)

[2019-09-23 10:50] nnadeau commented on #1738
@adi3 thanks for the review. The following changes have been made:

- Added issue templates: https://github.com/nnadeau/pybotics/commit/7d53e8f31756c316a0c84662a094a644bb376e3a
- As a [`CONTRIBUTING.md`](https://github.com/nnadeau/pybotics/blob/master/.github/CONTRIBUTING.md) already existed, I updated `README.md` with additional community info, direct links to the relevant docs/issues, and extend

[2019-09-23 10:59] alvarolopez commented on #1517
@krother, @rougier many thanks.

@trallard , what are the next steps to be done?

[2019-09-23 11:05] taldcroft commented on #1743
A bit late to the show, but I reviewed the discussion agree with the action to withdraw.

[2019-09-23 11:35] arfon commented on #1755
OK thanks.

The citation isn't being picked up because the citation keys don't match (you need to remove the `a` from the end of this key https://github.com/Hazboun6/hasasia/blob/master/paper/paper.bib#L25).

Could you please suggest a few potential reviewers for this submission? These can be people you know of in the community or from [this list](https://bit.ly/joss-reviewers).

[2019-09-23 11:44] nnadeau commented on #1752
@KingZee please see my comments below:

- In the `Solution space` section of the paper, I am assuming that you are describing your `QuickSolver` approach, but this is not explicit. Only the solution space is described, not the heuristic algorithm approach beyond for the exclusion of zero-time operations.
- There is no comparison of this heuristic approach to other state-of-the-art algorithms. A qu

[2019-09-23 12:02] KingZee commented on #1752
Thanks for the comments.

The solution space is for the exact, not the quick solver algorithm. I didn't mention anything about the quicksolver in the algorithm because it is a heuristic I am still trying to improve and maybe write a future paper on. This includes your second comment, I believe that part is not something to be included in the JOSS scope, in here I am including only my software, and

[2019-09-23 12:04] anmolter commented on #1753
I have removed the zip files and replaced them with browsable folders in the repository. I have changed the README.md, so it now recommends to clone or download the repository and it shows that the documentation and tutorial is in the manual.
I have also fixed the typo in paper.md, so it is now 'affiliations' instead of 'affiliation'.

[2019-09-23 12:05] anmolter commented on #1753
@whedon generate pdf

[2019-09-23 12:05] whedon commented on #1753
[code]

[2019-09-23 12:06] whedon commented on #1753
PDF failed to compile for issue #1753 with the following error:

 Could not find bibliography file: PyLUR_paper.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-23 12:07] anmolter commented on #1753
@whedon generate pdf

[2019-09-23 12:07] whedon commented on #1753
[code]

[2019-09-23 12:08] whedon commented on #1753
PDF failed to compile for issue #1753 with the following error:

 Error reading bibliography ./paper.bib (line 14, column 13):
unexpected "H"
expecting space or ","
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-23 12:09] arfon commented on #1728
@whedon add @stulacy as reviewer

[2019-09-23 12:09] whedon commented on #1728
OK, @stulacy is now a reviewer

[2019-09-23 12:10] arfon commented on #1728
@whedon start review

[2019-09-23 12:10] whedon opened #1756 "[REVIEW]: GKNAP: A Java and C++ package for solving the multidimensional knapsack problem"
**Submitting author:** @shah314 (<a href="http://orcid.org/0000-0002-3770-1391">Shalin S Shah</a>)
**Repository:** <a href="https://github.com/shah314/gamultiknapsack" target ="_blank">https://github.com/shah314/gamultiknapsack</a>
**Version:** v1.6
**Editor:** @arfon
**Reviewer:** @sjvrijn, @stulacy
**Archive:** <a href="https://doi.org/10.5281/zenodo.3507931" target="_blank">10.5281/zenodo.35079

[2019-09-23 12:10] whedon commented on #1728
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1756. Feel free to close this issue now!

[2019-09-23 12:10] whedon commented on #1756
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sjvrijn, @stulacy it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-09-23 12:10] whedon commented on #1756
[code]

[2019-09-23 12:10] arfon commented on #1728
@sjvrijn, @stulacy, @shah314 - see you over in #1756 for the main review.

[2019-09-23 12:10] #1728 closed

[2019-09-23 12:10] whedon commented on #1756
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01756/joss.01756/10.21105.joss.01756.pdf)

[2019-09-23 12:10] arfon commented on #1756
@sjvrijn, @stulacy - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-09-23 12:10] anmolter commented on #1753
@whedon generate pdf

[2019-09-23 12:10] whedon commented on #1753
[code]

[2019-09-23 12:11] arfon commented on #1707
@whedon add @pgrete as reviewer

[2019-09-23 12:11] whedon commented on #1707
OK, @pgrete is now a reviewer

[2019-09-23 12:11] whedon commented on #1753
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01753/joss.01753/10.21105.joss.01753.pdf)

[2019-09-23 12:11] arfon commented on #1707
@whedon start review

[2019-09-23 12:11] whedon opened #1757 "[REVIEW]: MAESTROeX: A Massively Parallel Low Mach Number Astrophysical Solver"
**Submitting author:** @doreenfan (<a href="http://orcid.org/0000-0002-3246-4315">Duoming Fan</a>)
**Repository:** <a href="https://github.com/AMReX-Astro/MAESTROeX" target ="_blank">https://github.com/AMReX-Astro/MAESTROeX</a>
**Version:** 19.09
**Editor:** @arfon
**Reviewer:** @tukss, @pgrete
**Archive:** <a href="https://doi.org/10.5281/zenodo.3549070" target="_blank">10.5281/zenodo.3549070</a>

[2019-09-23 12:11] whedon commented on #1707
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1757. Feel free to close this issue now!

[2019-09-23 12:11] whedon commented on #1757
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tukss, @pgrete it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curren

[2019-09-23 12:11] whedon commented on #1757
[code]

[2019-09-23 12:12] arfon commented on #1707
@tukss, @pgrete, @doreenfan - see you all over in #1757 for the actual review.

[2019-09-23 12:12] #1707 closed

[2019-09-23 12:12] arfon commented on #1757
@tukss, @pgrete - thanks again for agreeing to review this submission. Please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-09-23 12:12] whedon commented on #1757
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01757/joss.01757/10.21105.joss.01757.pdf)

[2019-09-23 12:14] whedon opened #1758 "[PRE REVIEW]: Distant Viewing Toolkit: A Python Package for the Analysis of Visual Culture"
**Submitting author:** @statsmaths (<a href="http://orcid.org/0000-0003-0576-0669">Taylor Arnold</a>)
**Repository:** <a href="https://github.com/distant-viewing/dvt" target ="_blank">https://github.com/distant-viewing/dvt</a>
**Version:** v0.3.0
**Editor:** @arfon
**Reviewers:** @jgonggrijp, @elektrobohemian

**Author instructions**

Thanks for submitting your paper to JOSS @statsmaths. The JOSS

[2019-09-23 12:14] whedon commented on #1758
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `

[2019-09-23 12:14] whedon commented on #1758
[code]

[2019-09-23 12:15] whedon commented on #1758
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01758/joss.01758/10.21105.joss.01758.pdf)

[2019-09-23 12:16] chand-lab commented on #1631
Hi @cMadan and @conradsnicta -- Any chance we can wrap this up soon :)! Happy to be as responsive as needed if there are issues that need fixing.

[2019-09-23 13:00] drvinceknight commented on #1747
That's fantastic @inakleinbottle, thank you.

Regarding the way forward, once I've gotten a positive response from a second reviewer (I'm just waiting a few days) I'll open a review issue in which you'll be able to proceed but what you've done already is fantastic and should make the further steps straightforward. Thank you again! :+1:

[2019-09-23 13:32] lpantano commented on #1748
@KayleighRutherford, would yo like to review this tool?

[2019-09-23 14:01] benmaier commented on #1425
oh, thanks for the hint. "Overflow, S. (2019)" should've caught our attention sooner, haha. @ulfaslak can you take care of that?

[2019-09-23 14:06] lpantano commented on #1748
@a-slide, would you like to review this tool?

[2019-09-23 14:33] a-slide commented on #1748
Hi @lpantano.
I had a quick look at the tool and although it looks great I don't feel competent enough to review it.

[2019-09-23 14:33] jsgalan commented on #1719
Hi guys, I am currently out of office on a conference, I will be back by the end of the week, and can starting editing by next week.

Count me in!

Thanks

[2019-09-23 14:35] adi3 commented on #1738
@nnadeau Thanks for updating that.

With reference to this quote from your paper:

I see the how the library helps with kinematics and calibration easily; both your examples and the source code show it clearly. I'm less certain about the `dynamics` and `trajectory generations` part of it. Of course, the kinematics and calibration features are important for calculating solutions of  dynamics and tr

[2019-09-23 15:07] lheagy commented on #1663
Thanks for your disclosure @ikarosilva. You are welcome to contribute to the review, but please leave the check-box for the conflict of interest unckecked. I will try to find one more reviewer to contribute to the review.

[2019-09-23 15:07] lheagy commented on #1663
:wave: @eskofier, when do you anticipate that you will have time to take a look at this review? Thanks!

[2019-09-23 15:25] eklotek commented on #1705
I'm glad to see that code is still of some interest. I'll try to address a few of the concerns. This is all from memory so some parts may be a bit fudged.

The segfault you experienced is most likely due to how I used stack space to store the submatrices that were visited recursively. Switching to malloc there shouldn't encounter that problem, but will be a bit slower with the 2^n times you will b

[2019-09-23 15:27] eskofier commented on #1663
I am on it!

Best regards,
Bjoern

-sent from mobile office-

[2019-09-23 16:05] mikmaksi commented on #1742
Here is my review. Checklist above is also marked. Everything looks good except I could not find a License file. I have one minor suggestion for the installation instructions and to expand on the usage example. Thank you!

### General checks
1. Repository: Is the source code for this software available at the repository url?
   - Yes.
2. License: Does the repository contain a plain-text LICENSE fi

[2019-09-23 16:13] grlee77 commented on #1725
Thanks, I have checked off the items related above that were addressed.

Regarding functionality, I had not checked the box because I did not verify on an actual scanner, but given that the Pulseq files look correctly formatted and the author has performed an offline comparison vs. the same demos in the Matlab package, I would trust that they work equivalently on actual hardware.

Re Automated tes

[2019-09-23 16:24] MLHale commented on #1620
Hi @cMadan - Is there anything else I need to do to move the review forward? Thanks!

[2019-09-23 16:38] lheagy commented on #1663
:wave: @nhejazi, would you be willing to join this review?

[2019-09-23 16:49] akabla commented on #1700
@whedon generate pdf

[2019-09-23 16:49] whedon commented on #1700
[code]

[2019-09-23 16:49] whedon commented on #1700
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01700/joss.01700/10.21105.joss.01700.pdf)

[2019-09-23 17:01] kthyng commented on #1754
@oliviaguest Could you take this on then after all? I'd appreciate it if possible!

[2019-09-23 17:03] kthyng commented on #1550
@mstrimas We would prefer a code review actually. Maybe you can review for JOSS another time. Thanks!

[2019-09-23 17:04] kthyng commented on #1550
Hi @jsta! Are you interested and available to do a review on this JOSS submission? We ask for reviews within about 3 weeks, and you can get more information here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html .
We need one more reviewer to move forward!

[2019-09-23 17:09] jshermeyer commented on #1047
@whedon generate pdf

[2019-09-23 17:09] whedon commented on #1047
[code]

[2019-09-23 17:10] whedon commented on #1047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01047/joss.01047/10.21105.joss.01047.pdf)

[2019-09-23 17:11] oliviaguest commented on #1754
Yes, @kthyng. I am starting a new job and moving house this week and next week. Is it OK to have a bit of a delay?

[2019-09-23 17:14] drvinceknight commented on #1607
@arfon, sorry for the ping but this paper does not appear in my dashboard: have I done something incorrectly?

[2019-09-23 17:15] jshermeyer commented on #1047
@whedon generate pdf

[2019-09-23 17:15] Hazboun6 commented on #1755
Thanks, I've just fixed the typo. Just out of curiosity, is there a way to
check typesetting of the paper before submission?

From the list of reviewers here is a list of suggestions in roughly
prioritized order by the subject matter of the code's application.
@cmbiwer, @duncanmmacleod, @nespinoza, @FaustinCarter, @shreyasbapat

On Mon, Sep 23, 2019 at 4:35 AM Arfon Smith <notifications@github.com

[2019-09-23 17:15] whedon commented on #1047
[code]

[2019-09-23 17:16] whedon commented on #1047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01047/joss.01047/10.21105.joss.01047.pdf)

[2019-09-23 17:17] drvinceknight commented on #1607
@whedon generate pdf

[2019-09-23 17:17] whedon commented on #1607
[code]

[2019-09-23 17:18] whedon commented on #1607
PDF failed to compile for issue #1607 with the following error:

 Can't find any papers to compile :-(

[2019-09-23 17:18] akabla commented on #1700
Dear Jed @jedbrown,

here is the submission doi:
10.5281/zenodo.3458310

Many thanks for your help editing this paper!

[2019-09-23 17:19] jshermeyer commented on #1047
@kthyng I think I have fixed all of the issues you flagged (among a few others).  Let me know if there's anything else you notice.  Thanks!

[2019-09-23 17:19] drvinceknight commented on #1607
@mikldk the pdf fails to compile (see error above), looking at your repo it does not look like there's a `paper.md` file present.

[2019-09-23 17:23] ulfaslak commented on #1425
@benmaier on it!

[2019-09-23 17:24] mikldk commented on #1607
@whedon generate pdf

[2019-09-23 17:24] whedon commented on #1607
[code]

[2019-09-23 17:24] whedon commented on #1607
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01607/joss.01607/10.21105.joss.01607.pdf)

[2019-09-23 17:30] mikldk commented on #1607
@whedon generate pdf

[2019-09-23 17:31] whedon commented on #1607
[code]

[2019-09-23 17:31] whedon commented on #1607
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01607/joss.01607/10.21105.joss.01607.pdf)

[2019-09-23 17:32] mikldk commented on #1607
@drvinceknight sorry about that. Now it's there.

[2019-09-23 17:41] leouieda commented on #1425
@whedon generate pdf

[2019-09-23 17:41] whedon commented on #1425
[code]

[2019-09-23 17:42] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-09-23 17:44] arfon commented on #1607
@whedon assign @drvinceknight as editor

[2019-09-23 17:44] whedon commented on #1607
OK, the editor is @drvinceknight

[2019-09-23 17:44] arfon commented on #1607
Should be showing up now. We just found an edge-case (bug) in the system :-)

[2019-09-23 18:11] nhejazi commented on #1663
Sure, would be happy to provide a review!

[2019-09-23 18:14] lheagy commented on #1663
@whedon add @nhejazi as reviewer

[2019-09-23 18:14] whedon commented on #1663
OK, @nhejazi is now a reviewer

[2019-09-23 18:16] lheagy commented on #1663
Many thanks @nhejazi! I have added a checklist to the main issue thread above to help guide your review. Please let me know if you have any questions!

[2019-09-23 18:58] virgesmith commented on #1747
hi, sorry I just assumed one reviewer (that has been my experience of JOSS) and @inakleinbottle  beat me to it. Happy to review, but very unlikely I could submit my report before the end of the month, if this is OK

[2019-09-23 19:15] hsezhiyan commented on #1524
@mbobra do you have any update on this? Thanks a lot for your patience:)

[2019-09-23 20:48] danielskatz commented on #1754
Yes, let's go ahead and do that - I'll assign it you but with the recognition that there will be a ~2-week delay.

Dan (newly on-duty as JOSS AEiC this week)

[2019-09-23 20:49] danielskatz commented on #1754
@whedon assign @oliviaguest as editor

[2019-09-23 20:49] whedon commented on #1754
OK, the editor is @oliviaguest

[2019-09-23 20:55] danielskatz commented on #1753
I think we can start the process of editing and review, but I expect there will be a fairly large number of issues brought up by the reviewers, as this code doesn't appear to be as modular as I would expect, and there are machine dependencies, including the fact that the instructions to read the manual likely won't work on a non-PC.

[2019-09-23 20:58] danielskatz commented on #1753
👋 @leouieda - I know you have a fair number of papers now, but would you also be willing to take on this one?

[2019-09-23 23:15] jedbrown commented on #1700
@akabla Please edit the author info on Zenodo to match the paper. (Kyle and myself should not be authors.) Looks good otherwise and we're ready to accept.

[2019-09-23 23:16] jedbrown commented on #1700
@whedon set v0.9.1 as version

[2019-09-23 23:16] whedon commented on #1700
OK. v0.9.1 is the version.

[2019-09-24 03:45] arokem commented on #1749
OK @dirmeier : I will assign you and continue looking for more reviewers.

@hiendn : any chance you could take this on?

[2019-09-24 03:45] arokem commented on #1749
@whedon assign @dirmeier as reviewer

[2019-09-24 03:45] whedon commented on #1749
OK, the reviewer is @dirmeier

[2019-09-24 03:46] arokem commented on #1727
@giodegas or @soroushj: would either of you be able to review this article for JOSS?

[2019-09-24 03:48] arokem commented on #1706
@mkearney : I see that there are still some check-boxes that you did not check. Do the authors need to address any of these before you can check these off? Or were these issues addressed in the previous round of reviews?

[2019-09-24 05:57] conradsnicta commented on #1631
@chand-lab - I'm still going through this, with the aim of getting the review done by friday or saturday. Unfortunately I currently have a work project which takes precedence, and it's taking up all of my time.

[2019-09-24 06:06] akabla commented on #1700
Thanks @jedbrown for spotting this. It should be fixed now.
[https://doi.org/10.5281/zenodo.3458310](https://doi.org/10.5281/zenodo.3458310)

[2019-09-24 07:19] oliviaguest commented on #1754
@danielskatz thank you!

[2019-09-24 08:08] MaciejDanko commented on #1508
@mkearney,
I noticed emoji under my reply, but you haven't ticked "performance" on the functionality checklist off.
Please let me known if you have any questions. I would be happy to help

[2019-09-24 08:43] drvinceknight commented on #1747
That's ok @virgesmith, thank you for agreeing. I'll open a review issue now!

[2019-09-24 08:43] drvinceknight commented on #1747
@whedon add @virgesmith as reviewer

[2019-09-24 08:43] whedon commented on #1747
OK, @virgesmith is now a reviewer

[2019-09-24 08:44] drvinceknight commented on #1747
@whedon start review

[2019-09-24 08:44] whedon opened #1759 "[REVIEW]: pentapy: A Python toolbox for pentadiagonal linear systems"
**Submitting author:** @MuellerSeb (<a href="http://orcid.org/0000-0001-9060-4008">Sebastian Müller</a>)
**Repository:** <a href="https://github.com/GeoStat-Framework/pentapy" target ="_blank">https://github.com/GeoStat-Framework/pentapy</a>
**Version:** v1.0.2
**Editor:** @drvinceknight
**Reviewer:** @inakleinbottle, @virgesmith
**Archive:** <a href="https://doi.org/10.5281/zenodo.3474843" target

[2019-09-24 08:44] whedon commented on #1747
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1759. Feel free to close this issue now!

[2019-09-24 08:44] whedon commented on #1759
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @inakleinbottle, @virgesmith it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pr

[2019-09-24 08:45] whedon commented on #1759
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01759/joss.01759/10.21105.joss.01759.pdf)

[2019-09-24 08:45] drvinceknight commented on #1747
@virgesmith @inakleinbottle I'm going to close this issue, please complete the review on #1759

[2019-09-24 08:45] #1747 closed

[2019-09-24 08:50] drvinceknight commented on #1607
Thanks @mikldk, I will proceed to identify reviewers.

Thanks @arfon, all working for me now. :+1:

[2019-09-24 08:59] mikldk commented on #1607
@drvinceknight : Thanks. Suggestions include: @wrathematics @ajank @drvinceknight @acolum

[2019-09-24 09:04] drvinceknight commented on #1607
I've heard of him, he sounds great! (Joking: that's me :+1: :))

[2019-09-24 09:05] drvinceknight commented on #1607
Hi @matloff, @wrathematics, @ajank and @acolum would you be interested in reviewing this paper for JOSS? It is presenting a piece of software that interfaces to the `yacas` computer algebra system.

If you have not reviewed for JOSS before here is some documentation describing the process: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html and I'd be very happy to answer any questions

[2019-09-24 09:49] MuellerSeb commented on #1759
Thanks everybody for the level-up!
Thanks @inakleinbottle for your detailed review. I will try to elaborate all your points.
Thanks @virgesmith for volunteering as reviewer.

[2019-09-24 10:03] spinicist commented on #1725
Hello,

I've gone through the review checklist.

The example in README.md does not appear to work. There is a typo - `slew_unit='mT/m/s'` should be `slew_unit='T/m/s'`, but after fixing that there is a division by zero error in `make_sinc_pulse`. The example EPI sequence works fine, as does the GRE sequence but it is very slow to plot.

Similarly to the other authors I did not go as far as testing

[2019-09-24 12:09] jsta commented on #1550
Hi @kthyng I am interested and can review. :+1:

[2019-09-24 13:18] jedbrown commented on #1700
@whedon set 10.5281/zenodo.3458310 as archive

[2019-09-24 13:18] jedbrown commented on #1700
@whedon accept

[2019-09-24 13:18] whedon commented on #1700
[code]

[2019-09-24 13:19] whedon commented on #1700
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/976

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/976, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-24 13:37] jedbrown commented on #1700
@openjournals/joss-eics This paper is now accepted; over to you.

[2019-09-24 13:42] danielskatz commented on #1700
Thanks @jedbrown - will process shortly

(and a minor point on the terminology - it's not accepted yet, but will be once the final processing is done)

[2019-09-24 13:59] benmaier commented on #1425
@ulfaslak the Stack overflow reference still looks weird

[2019-09-24 14:03] benmaier commented on #1425
nvm

[2019-09-24 14:03] benmaier commented on #1425
@whedon generate pdf

[2019-09-24 14:03] whedon commented on #1425
[code]

[2019-09-24 14:04] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-09-24 14:09] benmaier commented on #1425
@whedon generate pdf

[2019-09-24 14:09] whedon commented on #1425
[code]

[2019-09-24 14:10] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-09-24 14:12] danielskatz commented on #1700
Thanks to @adambeall & @gbruer15 & @HaoZekefor reviewing and to @jedbrown for editing!

[2019-09-24 14:12] danielskatz commented on #1700
@whedon accept deposit=true

[2019-09-24 14:12] whedon commented on #1700
[code]

[2019-09-24 14:12] KingZee commented on #1752
I would love to hear the thoughts of @gkthiruvathukal and @nthomasCUBE as well about all of this, to be able to reach a consensus from diverse points of view.

[2019-09-24 14:13] whedon commented on #1700
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1176499941612675072) 👈 🐦🐦🐦

[2019-09-24 14:13] whedon commented on #1700
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/977
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01700](https://doi.org/10.21105/joss.01700)
2. If everything looks go

[2019-09-24 14:14] benmaier commented on #1425
@whedon generate pdf

[2019-09-24 14:14] whedon commented on #1425
[code]

[2019-09-24 14:14] whedon commented on #1425
PDF failed to compile for issue #1425 with the following error:

 Error reading bibliography ./paper.bib (line 80, column 5):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-24 14:16] benmaier commented on #1425
@whedon generate pdf

[2019-09-24 14:16] whedon commented on #1425
[code]

[2019-09-24 14:16] whedon commented on #1425
PDF failed to compile for issue #1425 with the following error:

 Error reading bibliography ./paper.bib (line 80, column 5):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-24 14:17] benmaier commented on #1425
@whedon generate pdf

[2019-09-24 14:17] whedon commented on #1425
[code]

[2019-09-24 14:18] whedon commented on #1425
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01425/joss.01425/10.21105.joss.01425.pdf)

[2019-09-24 14:19] benmaier commented on #1425
@whedon check references

[2019-09-24 14:19] whedon commented on #1425
[code]

[2019-09-24 14:19] whedon commented on #1425
[code]

[2019-09-24 14:20] #1700 closed

[2019-09-24 14:20] whedon commented on #1700
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01700/status.svg)](https://doi.org/10.21105/joss.01700)

**We need your help!**

Journal of Open Source Softwa

[2019-09-24 14:20] benmaier commented on #1425
Sorry for the spam folks! @leouieda, this looks fine to me now.

[2019-09-24 14:21] moustachio-belvedere commented on #1700
Thanks very much for editing @jedbrown .

And thankyou @danielskatz for finalizing the process.

The entire review process has been very valuable to us.

[2019-09-24 14:42] lskatz commented on #1750
One more suggestion for a reviewer!  @peterwc

[2019-09-24 14:43] lpantano commented on #1748
@munkm , do you have suggested reviewers?

[2019-09-24 15:00] kahaaga commented on #1666
## Bayesian stuff

Thanks for the reference to Murphy's textbook. Although model fitting is not the main focus of this package, bayesian model selection would be an interesting feature to have when the user wants to model their empirical distributions (beyond what is already possible in the package). I'll check the book and the papers you cited in more detail .

## About `cor` and `cov`

Actually,

[2019-09-24 15:13] gus0k commented on #1591
@whedon generate pdf

[2019-09-24 15:13] whedon commented on #1591
[code]

[2019-09-24 15:14] whedon commented on #1591
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01591/joss.01591/10.21105.joss.01591.pdf)

[2019-09-24 15:16] gus0k commented on #1591
@whedon generate pdf

[2019-09-24 15:17] whedon commented on #1591
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01591/joss.01591/10.21105.joss.01591.pdf)

[2019-09-24 15:38] danielskatz commented on #1591
👋 @alexhanna, it looks like reviewers still need to continue their reviews?

[2019-09-24 15:56] MuellerSeb commented on #1759
My response to @inakleinbottle can be found here: https://github.com/GeoStat-Framework/pentapy/issues/1#issuecomment-534624645

[2019-09-24 16:01] arfon commented on #1661
@whedon generate pdf

[2019-09-24 16:01] whedon commented on #1661
[code]

[2019-09-24 16:02] whedon commented on #1661
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01661/joss.01661/10.21105.joss.01661.pdf)

[2019-09-24 16:03] trallard commented on #1680
Excellent!

Dear potential reviewers (@alexanderfurnas and @mbod ),
Based on your expertise in R, Python and text analysis, I would like to ask if you can help us out with a submission to JOSS (The Journal of Open Source Software), where I’m an editor.
Title: tabulog: A Language-Agnostic Template System for Parsing Log Files

Summary: Tabulog is a flexible, powerful framework for parsing log files

[2019-09-24 16:04] trallard commented on #1539
@whedon check DOI

[2019-09-24 16:04] trallard commented on #1539
@whedon generate pdf

[2019-09-24 16:04] whedon commented on #1539
[code]

[2019-09-24 16:04] trallard commented on #1539
@whedon check references

[2019-09-24 16:04] whedon commented on #1539
[code]

[2019-09-24 16:04] whedon commented on #1539
[code]

[2019-09-24 16:05] whedon commented on #1539
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01539/joss.01539/10.21105.joss.01539.pdf)

[2019-09-24 16:06] trallard commented on #1539
@whedon set 10.5281/zenodo.3376811 as archive

[2019-09-24 16:06] whedon commented on #1539
OK. <a href="https://doi.org/10.5281/zenodo.3376811" target="_blank">10.5281/zenodo.3376811</a> is the archive.

[2019-09-24 16:06] trallard commented on #1539
@whedon set 2019.0 as version

[2019-09-24 16:06] whedon commented on #1539
OK. 2019.0 is the version.

[2019-09-24 16:08] trallard commented on #1539
@finsberg  I have completed my editorial checks and I am willing to recommend this for publication 🎉

@melund thanks for your contribution as a reviewer 🙌🏼

@openjournals/jose-eics  I am passing this submission to you for acceptance

[2019-09-24 16:12] trallard commented on #1517
It seems like @dangunter has gone MIA but since we have the reviews from @krother  and @rougier if they are happy for me to proceed / recommend acceptance I am happy to move this forward

---

In the meantime @alvarolopez  can you perform the following actions:

1. Create a new release if needed and update us on the final version of the software
2. Check again the paper for typos, missing DOIs and

[2019-09-24 16:12] trallard commented on #1517
@whedon generate pdf

[2019-09-24 16:12] whedon commented on #1517
[code]

[2019-09-24 16:13] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-09-24 16:14] sebpardo commented on #1550
Hi @kthyng , unfortunately I have a very busy month ahead of me and won't be able to take on this review. Hopefully I can be of help with future reviews down the line.

[2019-09-24 16:26] danielskatz commented on #1539
@whedon accept

[2019-09-24 16:26] whedon commented on #1539
[code]

[2019-09-24 16:27] danielskatz commented on #1539
👋 @trallard - fwiw, the accepted label will be automatically attached during the final processing

[2019-09-24 16:29] trallard commented on #1539
Thanks for the heads up. I have been following the instructions at https://joss.readthedocs.io/en/latest/editing.html#after-acceptance where it says the editor should add the `accepted` label

[2019-09-24 16:36] danielskatz commented on #1539
👋 @finsberg - please merge in the changes in https://github.com/finsberg/pulse/pull/8 and https://github.com/finsberg/pulse/pull/9 or let me know what you disagree with

[2019-09-24 16:37] finsberg commented on #1539
@danielskatz Done

[2019-09-24 16:39] danielskatz commented on #1539
@whedon generate pdf

[2019-09-24 16:39] whedon commented on #1539
[code]

[2019-09-24 16:40] whedon commented on #1539
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01539/joss.01539/10.21105.joss.01539.pdf)

[2019-09-24 16:40] danielskatz commented on #1539
@whedon accept

[2019-09-24 16:40] whedon commented on #1539
[code]

[2019-09-24 16:41] whedon commented on #1539
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/979

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/979, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-24 16:42] danielskatz commented on #1539
@whedon accept deposit=true

[2019-09-24 16:42] whedon commented on #1539
[code]

[2019-09-24 16:43] whedon commented on #1539
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1176537599143481352) 👈 🐦🐦🐦

[2019-09-24 16:43] whedon commented on #1539
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/980
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01539](https://doi.org/10.21105/joss.01539)
2. If everything looks go

[2019-09-24 16:45] danielskatz commented on #1539
Thanks to @melund for reviewing and @trallard for both reviewing and editing.
And congratulations to @finsberg

[2019-09-24 16:45] #1539 closed

[2019-09-24 16:45] whedon commented on #1539
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01539/status.svg)](https://doi.org/10.21105/joss.01539)

**We need your help!**

Journal of Open Source Softwa

[2019-09-24 16:58] alexhanna commented on #1591
Hi @taqtiqa-mark, are you able to continue reviewing this?

👋 @igarizio, it looks like the last thing you need to check on the review is the functionality?

[2019-09-24 17:04] matloff commented on #1607
Sorry, way too busy.

Norm

On Tue, Sep 24, 2019 at 02:05:13AM -0700, Vince Knight wrote:

[2019-09-24 17:06] whedon opened #1760 "[PRE REVIEW]: pymccrgb: Color- and curvature-based classification of multispectral point clouds in Python"
**Submitting author:** @rmsare (<a href="http://orcid.org/0000-0003-3711-6771">Robert Sare</a>)
**Repository:** <a href="http://github.com/rmsare/pymccrgb" target ="_blank">http://github.com/rmsare/pymccrgb</a>
**Version:** v0.1.0
**Editor:** @kthyng
**Reviewers:** @martibosch, @daniellivingston

**Author instructions**

Thanks for submitting your paper to JOSS @rmsare. **Currently, there isn't an

[2019-09-24 17:06] whedon commented on #1760
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-24 17:06] whedon commented on #1760
[code]

[2019-09-24 17:06] whedon commented on #1760
PDF failed to compile for issue #1760 with the following error:

 Can't find any papers to compile :-(

[2019-09-24 17:08] danielskatz commented on #1760
@rmsare  - it looks like the repo you entered doesn't exist - but it's just that the http:// was missing - I've added it now
@arfon - does this need to be changed in an internal database as well?

[2019-09-24 17:08] danielskatz commented on #1760
@whedon generate pdf

[2019-09-24 17:08] whedon commented on #1760
[code]

[2019-09-24 17:09] whedon commented on #1760
PDF failed to compile for issue #1760 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1760 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedo

[2019-09-24 17:13] danielskatz commented on #1760
@rmsare - can you accept https://github.com/rmsare/pymccrgb/pull/14 and then enter a new comment in this issue ```@whedon generate pdf``` to see if that fixes the problem

[2019-09-24 17:16] ajank commented on #1607
Sorry, I have too many other obligations at the moment for a timely review.

[2019-09-24 17:28] rmsare commented on #1760
@whedon generate pdf

[2019-09-24 17:28] whedon commented on #1760
[code]

[2019-09-24 17:29] whedon commented on #1760
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01760/joss.01760/10.21105.joss.01760.pdf)

[2019-09-24 17:30] kellykochanski commented on #1699
@rgmyr We've updated the build system and installation instructions to fix these issues. Zlib is now a dependency and is not explicitly linked within Rescal-snow.

[2019-09-24 17:31] kellykochanski commented on #1699
@zbeekman We're looking forward to your comments. Have you had any trouble with the repository?

[2019-09-24 17:38] rmsare commented on #1760
Ack, thank you @danielskatz for fixing these issues.

I'd like to note that one of the references -- Pedregosa et al, 2011 -- does not have a DOI. The [original JMLR article](http://www.jmlr.org/papers/volume12/pedregosa11a/pedregosa11a.pdf) and [arxiv version](https://ui.adsabs.harvard.edu/abs/2012arXiv1201.0490P/abstract) do not have DOIs and the article isn't available in CrossRef as far as I c

[2019-09-24 17:39] rmsare commented on #1760
@whedon check references

[2019-09-24 17:39] whedon commented on #1760
[code]

[2019-09-24 17:39] danielskatz commented on #1760
that's fine - you may want to mention this on the review thread once we get an editor and reviewers and we start the review

[2019-09-24 17:44] danielskatz commented on #1760
👋 @kthyng - would you be willing to edit this submission?

[2019-09-24 17:48] peterwc commented on #1750
I would like to volunteer to review this paper. @lskatz @whedon

[2019-09-24 18:06] kyleniemeyer commented on #1715
@toph-allen can you suggest any other potential reviewers? I will start looking myself, but other suggestions would be very helpful.

[2019-09-24 18:10] kyleniemeyer commented on #1715
Hi @corybrunson @vc1492a @camillescott @szhorvat, are any of you be interested and available to review this submission for JOSS?

[2019-09-24 18:12] kyleniemeyer commented on #1682
Hi @mabraham @jiajiexiao, just wanted to check on the status of your reviews.

@zhuyouliang please let us know when you've been able to resolve the issue @ChayaSt brought up.

Thanks!

[2019-09-24 18:28] duetosymmetry commented on #1683
@whedon generate pdf

[2019-09-24 18:28] whedon commented on #1683
[code]

[2019-09-24 18:29] whedon commented on #1683
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01683/joss.01683/10.21105.joss.01683.pdf)

[2019-09-24 18:30] duetosymmetry commented on #1683
Release [v0.4.0](https://github.com/duetosymmetry/qnm/releases/tag/v0.4.0):
- Rootfinding tolerance and continued fraction tolerances are now independent
- Cache directory location determined by a more standard procedure and can be controlled by env var, see docs of `qnm.cached.get_cachedir()`
- Using pathlib (or pathlib2) for cross-platform path access
- Add options `interp_only` and `resolve_if_

[2019-09-24 18:36] ahwillia commented on #1666
Interesting -- thanks for putting so much effort into this. I like the goal of breaking it down into 4 steps for the user.

^ This was all I was after. I think if you don't make some sort of assumption like this, it can be a hard problem.

For example, you could think of drawing `n` observations from a multivariate Gaussian distribution. Say this results in a data matrix with shape `n x m`.

Then,

[2019-09-24 18:42] drvinceknight commented on #1607
No problem, thanks for the response both :+1:

[2019-09-24 19:03] corybrunson commented on #1715
@kyleniemeyer sure, i have some background both in graph theory and in R, and i'll be interested to see how the algorithm compares. I should be able to do a first full pass within 5 days.

[2019-09-24 19:09] kyleniemeyer commented on #1715
Thanks @corybrunson!

[2019-09-24 19:09] kyleniemeyer commented on #1715
@whedon add @corybrunson as reviewer

[2019-09-24 19:09] whedon commented on #1715
OK, @corybrunson is now a reviewer

[2019-09-24 19:13] sravan953 commented on #1725
@spinicist Thanks for your comments, have made changes to the README based on your inputs.

Regarding conflicts with local safety and ethics policies-
We will soon incorporate SAR safety features into PyPulseq. @sairamgeethanath has a MATLAB version available at - https://github.com/imr-framework/sar4seq, which will soon get integrated into PyPulseq. We advocate leveraging PyPulseq as an open-sour

[2019-09-24 19:25] arfon commented on #1661
@tretherington - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the

[2019-09-24 19:31] arfon commented on #1758
:wave: @statsmaths thanks for your submission to JOSS.

Could you suggest a few potential reviewers for your submission? This can be people you know of in the community, elsewhere on GitHub, or from [this list of potential reviewers](https://bit.ly/joss-reviewers).

[2019-09-24 19:57] mgymrek commented on #1500
@whedon generate pdf

[2019-09-24 19:57] whedon commented on #1500
[code]

[2019-09-24 19:57] whedon commented on #1500
PDF failed to compile for issue #1500 with the following error:

 [WARNING] Could not convert image '/tmp/tex2pdf.974/0872d19f51538b8f623dfc4af45d7772d82b17cf.shtml': Cannot load file
  Jpeg Invalid marker used
  PNG Invalid PNG file, signature broken
  Bitmap Invalid Bitmap magic identifier
  GIF Invalid Gif signature :

  HDR Invalid radiance file signature
  Tiff Invalid endian tag value
  TGA

[2019-09-24 19:57] mgymrek commented on #1719
@whedon assign @juanvillada as reviewer

[2019-09-24 19:57] whedon commented on #1719
OK, the reviewer is @juanvillada

[2019-09-24 19:58] mgymrek commented on #1719
@whedon add @jsgalan as reviewer

[2019-09-24 19:58] whedon commented on #1719
OK, @jsgalan is now a reviewer

[2019-09-24 19:58] mgymrek commented on #1719
Thanks @juanvillada and @jsgalan! I will now start a review thread, where you can complete the reviews. Please let me know if you have any questions on the process.

[2019-09-24 19:58] mgymrek commented on #1719
@whedon start review

[2019-09-24 19:58] igarizio commented on #1591
👋 @alexhanna Yes, I am almost done.

[2019-09-24 19:58] whedon opened #1761 "[REVIEW]: xrnet: Hierarchical Regularized Regression to Incorporate External Data"
**Submitting author:** @gmweaver (<a href="http://orcid.org/0000-0002-9918-8386">Garrett Weaver</a>)
**Repository:** <a href="https://github.com/USCbiostats/xrnet" target ="_blank">https://github.com/USCbiostats/xrnet</a>
**Version:** v0.1.3
**Editor:** @mgymrek
**Reviewer:** @juanvillada, @jsgalan
**Archive:** <a href="https://doi.org/10.5281/zenodo.3564788" target="_blank">10.5281/zenodo.3564788

[2019-09-24 19:58] whedon commented on #1719
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1761. Feel free to close this issue now!

[2019-09-24 19:58] whedon commented on #1761
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @juanvillada, @jsgalan it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-24 19:58] whedon commented on #1761
[code]

[2019-09-24 19:59] whedon commented on #1761
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01761/joss.01761/10.21105.joss.01761.pdf)

[2019-09-24 20:23] mattpitkin commented on #1683
Hi @duetosymmetry, this is looking great. @xuanxu I'm happy to sign this off as reviewed.

[2019-09-24 20:55] mgymrek commented on #1500
@labarba do you have any insights into why this proof is failing to generate?

[2019-09-24 20:59] danielskatz commented on #1500
You might try changing the path to the image in the .md file to

`https://github.com/AliYoussef96/BCAW-Tool/raw/master/Plots/All%20plots.jpg`

the current link is to https://github.com/AliYoussef96/BCAW-Tool/blob/master/Plots/All%20plots.jpg which is the github page containing the image, not the raw image itself

[2019-09-24 20:59] arfon commented on #1755
I'm afraid there isn't currently although we're working on some additional tooling to make it easier for submitting authors.

@cmbiwer, @duncanmmacleod - would you both be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-09-24 21:34] acolum commented on #1607
Sorry, I have too many other commitments going on at the moment.

[2019-09-24 21:55] acolum commented on #1731
Just finished my review - everything looks great!

[2019-09-24 22:04] sairamgeethanath commented on #1725
@sravan953 @spinicist The [AMRI phantom](https://www.youtube.com/watch?v=ZToRLwXQW1A) video illustrates the point better about using different acquisition parameters to generate different *.seq* files using pyPulseq and using them to scan phantoms, for example.

[2019-09-24 22:23] AliYoussef96 commented on #1500
@whedon generate pdf

[2019-09-24 22:23] whedon commented on #1500
[code]

[2019-09-24 22:24] whedon commented on #1500
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01500/joss.01500/10.21105.joss.01500.pdf)

[2019-09-24 22:25] alexanderfurnas commented on #1680
I'm happy to be a reviewer. What is the expected turnaround times for the reviews? Thanks for the reviewer guidelines as well, everything is really well documented (which is not a surprised given the journal), but is a treat.

[2019-09-24 22:30] AliYoussef96 commented on #1500
@mgymrek I changed the path to the image in the .md, and it worked.

[2019-09-25 00:30] corybrunson commented on #1715
@kyleniemeyer i'm sorry if i'm just confused, but i'm wondering why i was given access to `openjournals/joss-reviews`. I reflexively accepted it, thinking it was the review repo, and then started getting updates on reviews and pre-reviews from all of JOSS. I've unwatched the repo but i want to check whether i was supposed to have been granted access. Thanks!

P.S. I'm still down to review this sub

[2019-09-25 02:54] alexhanna commented on #1508
👋 hi @mkearney can you check the performance button?

[2019-09-25 02:55] alexhanna commented on #1600
Hi @sctyner are you able to review this?

[2019-09-25 02:58] alexhanna commented on #1600
Hi -- @rmhogervorst, @tomfaulkenberry, @andytwoods -- can any of you serve as a second reviewer for this article?

[2019-09-25 02:59] kyleniemeyer commented on #1715
@corybrunson yes, you are given temporary access so that you can check off items in the review issue, when it is started—which will happen when I have a second reviewer assigned. Unwatching the repo is definitely what we recommend.

[2019-09-25 03:00] alexhanna commented on #1453
Hi @malmaud, it's been several weeks. Can you have another look at this?

[2019-09-25 03:05] hiendn commented on #1749
Apologies @arokem, I am on vacation until mid-October without a proper laptop. I am going to have to pass on this occasion.

[2019-09-25 03:20] nnadeau commented on #1738
@adi3 good catch! I've added additional examples (https://github.com/nnadeau/pybotics/pull/728). Specifically:

- https://github.com/nnadeau/pybotics/blob/master/examples/trajectory_generation.ipynb
- https://github.com/nnadeau/pybotics/blob/master/examples/machine_learning.ipynb
- https://github.com/nnadeau/pybotics/blob/master/examples/dynamics.ipynb

Example:

![image](https://user-images.githu

[2019-09-25 04:12] arokem commented on #1727
👋 @zfurnas : would you be willing to review this article for JOSS?

[2019-09-25 04:13] arokem commented on #1749
@BIPL-HORIE : do you have ideas for appropriate reviewers for this submission?

[2019-09-25 05:03] nthomasCUBE commented on #1752
Hi guys,

so far i still struggle with compiling and running,
managed to use jre11 but now have to manage to make it run,..
then I will provide the comments probably in the next week or so hopefully

[2019-09-25 05:31] zhuyouliang commented on #1682
Sorry for my delayed response.
Answer to @jiajiexiao:
Thanks for your comments.
1. The "reaction" means polymerization. I will revised the readme and instruction files.
2. I will add more examples including TIP3P and DNA, etc.
3. I am writing a Python module to help our package read force fields of all-atom and coarse-grained MATINI models from files in a format that is similar to the ITP files of

[2019-09-25 05:45] mikldk commented on #1607
A few suggestions more from the reviewer list: @mdavezac , @EduPH , @MikeLydeamore .

[2019-09-25 06:14] csoneson commented on #1750
Ok, so it seems that we have our two reviewers - thanks @luizirber and @peterwc. I'll start the review issue.

[2019-09-25 06:14] csoneson commented on #1750
@whedon add @peterwc as reviewer

[2019-09-25 06:14] whedon commented on #1750
OK, @peterwc is now a reviewer

[2019-09-25 06:17] MikeLydeamore commented on #1607
I can take on this one.

[2019-09-25 06:17] csoneson commented on #1750
@whedon start review

[2019-09-25 06:17] whedon opened #1762 "[REVIEW]: Mashtree: a rapid comparison of whole genome sequence files"
**Submitting author:** @lskatz (<a href="http://orcid.org/0000-0002-2533-9161">Lee Katz</a>)
**Repository:** <a href="https://github.com/lskatz/mashtree" target ="_blank">https://github.com/lskatz/mashtree</a>
**Version:** v1.0
**Editor:** @csoneson
**Reviewers:** @luizirber, @standage
**Archive:** <a href="https://doi.org/10.5281/zenodo.3568386" target="_blank">10.5281/zenodo.3568386</a>

## Stat

[2019-09-25 06:17] whedon commented on #1750
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1762. Feel free to close this issue now!

[2019-09-25 06:17] whedon commented on #1762
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @luizirber, @peterwc it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-09-25 06:17] whedon commented on #1762
[code]

[2019-09-25 06:17] #1750 closed

[2019-09-25 06:18] csoneson commented on #1762
@luizirber, @peterwc - this is where the review happens. Instructions are available above, don't hesitate to ping me if you have questions!

[2019-09-25 06:18] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-09-25 06:23] csoneson commented on #1762
@lskatz - please have a look at the checklists above and make sure that your submission has all required components. Otherwise, please add them already now to simplify the review.

A couple of comments about your paper that would be good if you could address:
- it's a bit on the long side for JOSS standards (papers are typically between 250 and 1,000 words).
- your figures should have informative

[2019-09-25 06:25] drvinceknight commented on #1607
Thank you @MikeLydeamore!

[2019-09-25 06:25] drvinceknight commented on #1607
@whedon assign @MikeLydeamore as reviewer

[2019-09-25 06:25] whedon commented on #1607
OK, the reviewer is @MikeLydeamore

[2019-09-25 06:26] juanvillada commented on #1761
Hi all!

This is a very useful piece of software accompanied by a very well written paper.

Some comments:

⚠️ When I tried to install the Master branch of `xrnet` on macOS (Mojave 10.14.6) I ran into the error:

[code]

✅ No problem with Master branch installation of `xrnet`  in Linux (Ubuntu 19.04)

✅ I am attaching the markdown file from the tests I did on the software. https://www.dropbox.com/

[2019-09-25 06:34] EduPH commented on #1607
I can review if needed.

[2019-09-25 06:36] zhuyouliang commented on #1682
I have updated the "configure" file. @ChayaSt please try again.

zhuyouliang12345@163.com

From: Kyle Niemeyer
Date: 2019-09-25 02:12
To: openjournals/joss-reviews
CC: zhuyouliang; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: GPU-Accelerated LArge-scale MOlecular Simulation Toolkit (#1682)
Hi @mabraham @jiajiexiao, just wanted to check on the status of your reviews.
@zhuyouliang plea

[2019-09-25 07:32] drvinceknight commented on #1607
Fantastic, thank you @EduPH. I will now open a review issue.

[2019-09-25 07:32] drvinceknight commented on #1607
@when add @EduPH as reviewer

[2019-09-25 07:32] drvinceknight commented on #1607
@whedon add @EduPH as reviewer

[2019-09-25 07:32] whedon commented on #1607
OK, @EduPH is now a reviewer

[2019-09-25 07:33] drvinceknight commented on #1607
@whedon start review

[2019-09-25 07:33] whedon opened #1763 "[REVIEW]: Ryacas: A computer algebra system in R"
**Submitting author:** @mikldk (<a href="http://orcid.org/0000-0002-0234-0266">Mikkel Meyer Andersen</a>)
**Repository:** <a href="https://github.com/mikldk/ryacas" target ="_blank">https://github.com/mikldk/ryacas</a>
**Version:** v1.1.0
**Editor:** @drvinceknight
**Reviewer:** @MikeLydeamore, @EduPH
**Archive:** <a href="https://doi.org/10.5281/zenodo.3476220" target="_blank">10.5281/zenodo.3476

[2019-09-25 07:33] whedon commented on #1607
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1763. Feel free to close this issue now!

[2019-09-25 07:33] whedon commented on #1763
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MikeLydeamore, @EduPH it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-09-25 07:33] whedon commented on #1763
[code]

[2019-09-25 07:33] #1607 closed

[2019-09-25 07:34] whedon commented on #1763
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01763/joss.01763/10.21105.joss.01763.pdf)

[2019-09-25 08:06] nschloe commented on #1747
Sorry for coming to the party late. I'm a bit swamped these days, so I'd be glad if the review could be done by someone else this time. Will be happy to review @MuellerSeb's (typically great) work in the future though!

[2019-09-25 08:37] alvarolopez commented on #1517
@trallard ok, what I would do is:

1. Merge the branch `paper` into the `master` branch so that the paper is built correctly.
2. Prepare a new release
3. Upload the new version into https://digital.csic.es/handle/10261/173108, that is our institutional repository. I need to check if a new version can be added there or if I need a new entry.

I will keep you posted on this.

[2019-09-25 08:43] xuanxu commented on #1683
@mattpitkin: Great, thanks!

[2019-09-25 08:49] xuanxu commented on #1683
@duncanmmacleod: I see both issues you opened in the target repo have been addressed, but there's an unchecked item in the review checklist. Can you update us on your review status?

[2019-09-25 09:09] alvarolopez commented on #1517
@whedon generate pdf

[2019-09-25 09:09] whedon commented on #1517
[code]

[2019-09-25 09:09] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-09-25 09:30] adi3 commented on #1738
@nnadeau Stellar work! I'm impressed by the utility of your library. I'll likely use it my work at some point.

I'm having some trouble running your tests. This is the error I get: `No such file or directory: 'black': 'black' `. I'm not conversant with `poetry` so some pointers here would be useful.

[2019-09-25 09:37] adi3 commented on #1738
My bad. Running `poetry install` got all this fixed. Your tests run fine and at this point, I am satisfied with your submission. Pending a references check, I will be happy to recommend your paper for publication.

[2019-09-25 09:37] adi3 commented on #1738
@whedon commands

[2019-09-25 09:37] whedon commented on #1738
Here are some things you can ask me to do:

[code]

[2019-09-25 09:37] adi3 commented on #1738
@whedon check references

[2019-09-25 09:37] whedon commented on #1738
[code]

[2019-09-25 09:38] whedon commented on #1738
[code]

[2019-09-25 09:39] adi3 commented on #1738
@nnadeau can you please update your .bib file to include the missing DOIs? See `whedon` output above.

[2019-09-25 10:43] danielskatz commented on #1738
Please be aware that ```whedon``` is not perfect at this, and sometimes gives wrong suggestions.

[2019-09-25 11:05] nnadeau commented on #1738
@adi3 @danielskatz DOIs updated: https://github.com/nnadeau/pybotics/pull/729

Missing DOIs:

- `Craig2005` (popular robotics textbook)
- `jones2001scipy` (recommended citation for library: https://www.scipy.org/citing.html#scipy-the-library)
- `pedregosa2011scikit` (recommended citation for library: https://scikit-learn.org/stable/about.html#citing-scikit-learn)

[2019-09-25 11:05] nnadeau commented on #1738
@whedon generate pdf

[2019-09-25 11:05] whedon commented on #1738
[code]

[2019-09-25 11:06] whedon commented on #1738
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01738/joss.01738/10.21105.joss.01738.pdf)

[2019-09-25 11:10] nnadeau commented on #1738
@whedon check references

[2019-09-25 11:10] whedon commented on #1738
[code]

[2019-09-25 11:10] whedon commented on #1738
[code]

[2019-09-25 11:40] gkthiruvathukal commented on #1752
Hi, I plan to comment after both reviewers chime in.

Just a reminder that the purpose of review is to identify issues leading to improvements by the authors. So please focus on concrete issues and use the issue tracker. Many reviewers open up specific issues using the issue tracker. Once these are addressed (possibly with back and forth with author) we can move forward.

The goal is to ensure qua

[2019-09-25 11:48] adi3 commented on #1738
@kyleniemeyer I am finished with my review and I recommend this paper for publication. Thank you for facilitating the process.

[2019-09-25 12:10] drvinceknight commented on #1747
No problem @nschloe, thanks for responding, we're all set on this occasion but perhaps next time :+1:

[2019-09-25 12:10] ezsolti commented on #1650
@whedon generate pdf

[2019-09-25 12:11] whedon commented on #1650
[code]

[2019-09-25 12:11] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-09-25 12:20] ezsolti commented on #1650
@whedon generate pdf

[2019-09-25 12:20] whedon commented on #1650
[code]

[2019-09-25 12:21] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-09-25 12:41] ezsolti commented on #1650
@whedon generate pdf

[2019-09-25 12:41] whedon commented on #1650
[code]

[2019-09-25 12:42] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-09-25 13:08] ezsolti commented on #1650
@whedon generate pdf

[2019-09-25 13:08] whedon commented on #1650
[code]

[2019-09-25 13:09] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-09-25 13:12] ezsolti commented on #1650
@whedon generate pdf

[2019-09-25 13:12] whedon commented on #1650
[code]

[2019-09-25 13:13] whedon commented on #1650
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01650/joss.01650/10.21105.joss.01650.pdf)

[2019-09-25 13:14] ezsolti commented on #1650
@katyhuff Thank you for your comments, I've managed to address most of them:

- I have removed the prefix
- I have clearly included the intended usership in the 2nd section.
- I modified the grammar mistakes. There was one mark in the review on the 2nd page ("if the background is removed"), what I was not sure about whether it was deliberate.
- I have tried before with the matching legend maxima,

[2019-09-25 14:38] alexhanna commented on #1600
@whedon add @tomfaulkenberry as reviewer

[2019-09-25 14:38] whedon commented on #1600
OK, @tomfaulkenberry is now a reviewer

[2019-09-25 14:38] alexhanna commented on #1600
@whedon start review

[2019-09-25 14:38] whedon opened #1764 "[REVIEW]: DscoreApp: An user-friendly web application for computing the Implicit Association Test D-score"
**Submitting author:** @OttaviaE (<a href="http://orcid.org/0000-0001-8552-568X">Ottavia M. Epifania</a>)
**Repository:** <a href="https://github.com/OttaviaE/DscoreApp" target ="_blank">https://github.com/OttaviaE/DscoreApp</a>
**Version:** v0.1
**Editor:** @alexhanna
**Reviewer:** @benmarwick, @tomfaulkenberry
**Archive:** <a href="https://doi.org/10.5281/zenodo.3523063" target="_blank">10.5281/

[2019-09-25 14:38] whedon commented on #1764
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @benmarwick, @tomfaulkenberry it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're p

[2019-09-25 14:38] whedon commented on #1764
[code]

[2019-09-25 14:38] #1600 closed

[2019-09-25 14:38] whedon commented on #1764
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01764/joss.01764/10.21105.joss.01764.pdf)

[2019-09-25 14:40] alexhanna commented on #1764
👋@benmarwick -- feel free to copy your review over from the last issue into this issue, which contains the review proper.
@tomfaulkenberry -- it'd be wonderful if you could work on (and finish!) the review today.

[2019-09-25 14:55] lskatz commented on #1762
Thank you @luizirber and @peterwc for reviewing!

Thank you @csoneson!  I edited the figure legends so that they have titles.  I also took the text that I thought was in the figure legend and placed them into the actual legend.  I will ask the bot to regenerate the pdf to make sure the formatting works.  I can also remove some text from the introduction in a future edit.

[2019-09-25 14:55] cmbiwer commented on #1755
@arfon I am willing to be a reviewer on this submission.

[2019-09-25 14:59] lskatz commented on #1762
@whedon generate pdf

[2019-09-25 14:59] whedon commented on #1762
[code]

[2019-09-25 14:59] whedon commented on #1762
PDF failed to compile for issue #1762 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:135:in `check_fields': Paper YAML header is missing expected fields: tags, authors, affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon.rb:87:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler

[2019-09-25 15:00] lskatz commented on #1762
@whedon generate pdf

[2019-09-25 15:00] whedon commented on #1762
[code]

[2019-09-25 15:01] whedon commented on #1762
PDF failed to compile for issue #1762 with the following error:

 Error producing PDF.
! Argument of \caption@ydblarg has an extra }.
<inserted text>
                \par
l.543 }

Looks like we failed to compile the PDF

[2019-09-25 15:12] poulson commented on #1609
:wave: Alexander (@ajgates42)
:wave: Ryan (@Autoplectic)

It has been about two months since the review started and we haven't heard back from you yet. Please let us know if we should find replacement reviewers. Switching out one reviewer occasionally happens, but two out of two would be problematic and embarrassing. Would you mind letting us know if you still plan to review the submission in the

[2019-09-25 15:17] tomfaulkenberry commented on #1764
I have completed my review of DscoreApp and the associated software paper.  DscoreApp is a very nice, fully-featured Shiny app for computing D-scores from Implicit Association Test data.  I was able to follow the instructions provided by the authors for the example data.

My main comments are related to the software paper itself, not the code.  Thus, instead of opening an issue on the Github repo

[2019-09-25 15:18] Ji-Zhang commented on #1608
Hi @jjmcnelis I apologize for the delay to answer your questions.

The following are my answers:

1. Getting started in fresh Python 3 environments:
- rpy2 is related to the data type discovery functionality, which is based on the [Bayesian model](https://github.com/Ji-Zhang/datacleanbot/tree/master/datacleanbot/bayesian). Without rpy2, the Bayesian model can not run successfully.
- Only openml is

[2019-09-25 15:21] stulacy commented on #1756
Can you please add more documentation on how to use the program?

For example, be explicit in that you need to be in the `java/classes` directory to run the `java GeneticAlgorithm` command in the first place (imo executables should be in a high-level folder clearly marked, it took me a minute to find these).
Mention how to format your data into the .dat format required.
How to interpret the output

[2019-09-25 15:24] lskatz commented on #1762
@whedon generate pdf

[2019-09-25 15:25] whedon commented on #1762
[code]

[2019-09-25 15:25] whedon commented on #1762
PDF failed to compile for issue #1762 with the following error:

 Error producing PDF.
! Argument of \caption@ydblarg has an extra }.
<inserted text>
                \par
l.538 for the random seed in the Mash program.}

Looks like we failed to compile the PDF

[2019-09-25 15:29] lskatz commented on #1762
@whedon generate pdf

[2019-09-25 15:29] whedon commented on #1762
[code]

[2019-09-25 15:29] whedon commented on #1762
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01762/joss.01762/10.21105.joss.01762.pdf)

[2019-09-25 15:50] dgursoy commented on #1704
@PolymerGuy great package! Thanks for working on this. I have few (most are optional) minor points:

- I had the same Runtime error that is mentioned above when installing from PyPI and running tests. I think this is because the changes are in the brach and the PyPI version hasn't been updated.
-  I had a hard time in finding the example config and data files. Also their names are different in doc

[2019-09-25 15:52] lskatz commented on #1762
I will leave it there for now and will attempt to shorten the introduction after receiving reviewer feedback.

[2019-09-25 15:54] whedon opened #1765 "[PRE REVIEW]: memochange: An R package for estimation procedures and tests for persistent time series"
**Submitting author:** @KaiWenger (<a href="http://orcid.org/0000-0002-6566-0427">Kai Wenger</a>)
**Repository:** <a href="https://github.com/KaiWenger/memochange" target ="_blank">https://github.com/KaiWenger/memochange</a>
**Version:** v1.0.1
**Editor:** @mbobra
**Reviewers:** @JonasMoss, @steffilazerte

**Author instructions**

Thanks for submitting your paper to JOSS @KaiWenger. **Currently, t

[2019-09-25 15:54] whedon commented on #1765
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-25 15:54] whedon commented on #1765
[code]

[2019-09-25 15:54] whedon commented on #1765
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01765/joss.01765/10.21105.joss.01765.pdf)

[2019-09-25 15:56] danielskatz commented on #1765
👋 @mbobra - Would you be willing to edit this JOSS submission?

[2019-09-25 15:57] arfon commented on #1755
Great, thanks @cmbiwer. I'll add you as a reviewer but I'll wait until we've got a second reviewer lined up before starting the main review issue, so for now, please sit tight!

[2019-09-25 15:57] arfon commented on #1755
@whedon add @cmbiwer as reviewer

[2019-09-25 15:57] whedon commented on #1755
OK, @cmbiwer is now a reviewer

[2019-09-25 15:58] danielskatz commented on #1713
👋 @meg-simula - would you be willing to edit this submission?

[2019-09-25 16:32] OttaviaE commented on #1764
@tomfaulkenberry Thanks for your comments!

Done.

Done.

I changed the sentence to “This difference is divided by the standard deviation computed on the pooled trials of both blocks.”. I hope it’s clearer that the trials of the blocks are first pooled together, and then standard deviation is computed

I think it is a glitch, and last time @kyleniemeyer managed to fix it.

I already addressed the

[2019-09-25 16:43] tomfaulkenberry commented on #1764
Thanks @OttaviaE...as soon as I see the revised manuscript, I'll endorse publication

[2019-09-25 16:51] kyleniemeyer commented on #1764
@OttaviaE it looks like your figures are currently included using HTML commands, but the paper needs to use the Markdown commands instead.

So, for example, replace
[code]

with

[code]

(but for both figures)

[2019-09-25 16:58] ThomasPak commented on #1716
Hi @gonsie,

You have summarised it very well! The only things I would add is that the stdin of simulators is also used to pass on parameters, and that the sweep functionality is not an ABC method, it simply performs a parameter sweep.

I agree that documentation on the pakman options would be helpful. I will add a wiki page listing the pakman options similarly to the `--help` text. I am also thin

[2019-09-25 17:12] OttaviaE commented on #1764
@kyleniemeyer thank you, I made the changes you suggested and it's working (allegendly)!

@tomfaulkenberry Thanks!

[2019-09-25 18:09] gmweaver commented on #1761
Hi @juanvillada,

Thanks for the review!

With regard to installation on macOS, I believe this is specific to recent R versions that require a more recent version of GNU Fortran to compile packages from source. See https://cloud.r-project.org/bin/macosx/tools/ for a more detailed description and a binary to install the latest GNU Fortran, which should fix the installation issue. I can also update

[2019-09-25 19:11] vc1492a commented on #1715
@kyleniemeyer thanks for reaching out about this work and the possibility to provide a review. Unfortunately I will need to pass on this one due to some recent time constraints.

[2019-09-25 19:12] rgmyr commented on #1699
My installation issues were fixed by the build update and additional dependency instructions.

My only other change request was regarding documentation and style consistency of the included Python utilities, which @kellykochanski promptly improved:
- [JOSS Review (@rgmyr): Python utilities documentation and style](https://github.com/kellykochanski/rescal-snow/issues/28)

I should note that I wasn'

[2019-09-25 21:03] nnadeau commented on #1738
@CameronDevine, https://github.com/nnadeau/pybotics/issues/730 is fixed. Thanks for the idea.

[2019-09-25 21:33] tomfaulkenberry commented on #1764
I'll attempt to regenerate the PDF here...

@whedon generate pdf

[2019-09-25 21:39] tomfaulkenberry commented on #1764
@whedon commands

[2019-09-25 21:39] whedon commented on #1764
Here are some things you can ask me to do:

[code]

[2019-09-25 21:40] tomfaulkenberry commented on #1764
@whedon generate pdf

[2019-09-25 21:40] whedon commented on #1764
[code]

[2019-09-25 21:40] whedon commented on #1764
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01764/joss.01764/10.21105.joss.01764.pdf)

[2019-09-25 21:42] tomfaulkenberry commented on #1764
New pdf looks great.  My review is complete...please consider this my final endorsement.  @OttaviaE, nice work indeed :)

[2019-09-25 22:05] CameronDevine commented on #1738
Once nnadeau/pybotics#731 is closed I will be ready to recommend this paper for publication.

[2019-09-25 22:09] tretherington commented on #1661
@arfon I've created a new release v1.0.1 and I have archived the software in my institution's data store here: [https://datastore.landcareresearch.co.nz/dataset/virtualnicher](https://datastore.landcareresearch.co.nz/dataset/virtualnicher) which the DOI of [10.7931/cae9-bt94](https://doi.org/10.7931/cae9-bt94)

Do let me know if you need anything else! 😃

[2019-09-25 22:12] arfon commented on #1661
@whedon set 10.7931/cae9-bt94 as archive

[2019-09-25 22:12] whedon commented on #1661
OK. <a href="https://doi.org/10.7931/cae9-bt94" target="_blank">10.7931/cae9-bt94</a> is the archive.

[2019-09-25 22:12] arfon commented on #1661
@whedon accept

[2019-09-25 22:12] whedon commented on #1661
[code]

[2019-09-25 22:13] whedon commented on #1661
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/981

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/981, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-25 22:15] arfon commented on #1661
@whedon accept deposit=true

[2019-09-25 22:25] arfon commented on #1661
@whedon accept deposit=true

[2019-09-25 22:25] whedon commented on #1661
[code]

[2019-09-25 22:26] whedon commented on #1661
PDF failed to compile for issue #1661 with the following error:

[2019-09-25 22:28] arfon commented on #1661
@whedon accept deposit=true

[2019-09-25 22:28] whedon commented on #1661
[code]

[2019-09-25 22:29] arfon commented on #1661
Looks like Whedon's having a bad day... Apologies for all the noise on this thread.

[2019-09-25 22:29] whedon commented on #1661
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1176987029537722368) 👈 🐦🐦🐦

[2019-09-25 22:29] whedon commented on #1661
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/982
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01661](https://doi.org/10.21105/joss.01661)
2. If everything looks go

[2019-09-25 23:03] arfon commented on #1661
@ViniciusBRodrigues, @lsw5077 - many thanks for your reviews here ✨

@tretherington - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-09-25 23:03] #1661 closed

[2019-09-25 23:04] whedon commented on #1661
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01661/status.svg)](https://doi.org/10.21105/joss.01661)

**We need your help!**

Journal of Open Source Softwa

[2019-09-25 23:51] tretherington commented on #1661
Thanks @arfon @ViniciusBRodrigues @lsw5077 for an excellent and useful review process.

And I've just signed up as a reviewer in the hope this journal has a long life! 😄 🍾

[2019-09-26 01:38] nnadeau commented on #1738
@CameronDevine good to go! https://github.com/nnadeau/pybotics/issues/731 closed with https://github.com/nnadeau/pybotics/pull/732

[2019-09-26 02:30] vitorsr commented on #1676
@Kevin-Mattheus-Moerman, may I suggest @Atif-Anwer as a potential reviewer? He is a Ph.D. student at UT Petronas and is already familiar with the project. I have contacted him regarding reviewing for JOSS and he has agreed to do so.

[2019-09-26 03:30] katyhuff commented on #1650
@ezsolti Thank you for working toward addressing my comments.

Please let me know when you are able to:

- [ ] Reduce the jargon in the 2nd paragraph (indeed, throughout the paper, which is already unusually long for a JOSS paper). The F5 tally mention is not the only item that I find problematic from a jargon perspective. Please aim to make clear the high-level functionality and purpose of the so

[2019-09-26 03:38] toph-allen commented on #1715
@kyleniemeyer I don’t have any suggestions that come to mind off the top of my head. I’ll think on it and let you know if someone comes to mind.

[2019-09-26 03:56] juanvillada commented on #1761
Hi @gmweaver,

Everything works fine after installing the latest GNU Fortran.

✅ No problem with Master branch installation of `xrnet` on macOS (Mojave 10.14.6).

Best wishes and thanks for this tool!

[2019-09-26 04:19] CameronDevine commented on #1738
@kyleniemeyer, I recommend this paper for publication.

[2019-09-26 07:36] szhorvat commented on #1715
I can take a look but not right now. I would need about two weeks.

[2019-09-26 09:10] OttaviaE commented on #1764
@tomfaulkenberry thanks again!

[2019-09-26 09:13] mlindsk commented on #1665
@whedon generate pdf

[2019-09-26 09:13] whedon commented on #1665
[code]

[2019-09-26 09:13] whedon commented on #1665
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01665/joss.01665/10.21105.joss.01665.pdf)

[2019-09-26 09:17] mlindsk commented on #1665
@jkanche I will provide the preprocessing code of 1000GP soon
@jdeligt I hope I have accomodated your suggestion about generality/forensics/pop gen. According to DOIs; I don't see any DOI for "Efficient stepwise selection in decomposable models" which is why I still haven't included it (did I miss something?).

[2019-09-26 11:37] TomDonoghue commented on #1674
@whedon generate pdf

[2019-09-26 11:37] whedon commented on #1674
[code]

[2019-09-26 11:38] whedon commented on #1674
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01674/joss.01674/10.21105.joss.01674.pdf)

[2019-09-26 11:38] TomDonoghue commented on #1674
@whedon check references

[2019-09-26 11:38] whedon commented on #1674
[code]

[2019-09-26 11:38] whedon commented on #1674
[code]

[2019-09-26 11:52] labarba commented on #1466
@whedon generate pdf

[2019-09-26 11:52] whedon commented on #1466
[code]

[2019-09-26 11:52] whedon commented on #1466
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01466/joss.01466/10.21105.joss.01466.pdf)

[2019-09-26 12:00] TomDonoghue commented on #1674
@danielskatz - sorry for the delay, this time it's me away/travelling!

I have done a last check of the paper, and for the references, and other than a couple typos, the only thing I changed is the link to Meta (to be the tool link, not the page on Chan-Zuckerberg, which I think makes more sense). I also released a small version update of the tool, and tagged & released on GitHub / PYPI and made a

[2019-09-26 12:37] labarba commented on #1466
Please see my copy editing of the paper on the linked PR.

[2019-09-26 12:37] labarba commented on #1466
@whedon check references

[2019-09-26 12:37] whedon commented on #1466
[code]

[2019-09-26 12:37] whedon commented on #1466
[code]

[2019-09-26 13:32] PolymerGuy commented on #1704
@dgursoy Thank you for the feedback! I will implement all the improvements suggested above and i will update the PyPi package as soon as possible. I hope to have all changes done within the next couple of days.

[2019-09-26 14:43] benmarwick commented on #1764
My review is here on the pre-review issue: https://github.com/openjournals/joss-reviews/issues/1600#issuecomment-528479908

I see responses by @OttaviaE here: https://github.com/OttaviaE/DscoreApp/tree/master/tests, thanks!

However, I don't see the high-level description anywhere on the repo or the app, can you point me to it more specifically? I'm not familiar with how the json files in the test

[2019-09-26 15:12] kyleniemeyer commented on #1715
@szhorvat thanks, that timeframe is perfectly fine—we generally ask reviewers to complete their reviews in 2-3 weeks (ideally) anyways! I will add you as the second reviewer and get the review issue started.

[2019-09-26 15:12] kyleniemeyer commented on #1715
@whedon add @szhorvat as reviewer

[2019-09-26 15:12] whedon commented on #1715
OK, @szhorvat is now a reviewer

[2019-09-26 15:13] kyleniemeyer commented on #1715
@whedon start review

[2019-09-26 15:13] whedon opened #1766 "[REVIEW]: yenpathy: An R Package to Quickly Find K Shortest Paths Through a Weighted Graph"
**Submitting author:** @toph-allen (<a href="http://orcid.org/0000-0003-4580-091X">Toph Allen</a>)
**Repository:** <a href="https://github.com/ecohealthalliance/yenpathy" target ="_blank">https://github.com/ecohealthalliance/yenpathy</a>
**Version:** 1.0.0
**Editor:** @kyleniemeyer
**Reviewer:** @corybrunson, @szhorvat
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/papers/998c2

[2019-09-26 15:13] whedon commented on #1715
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1766. Feel free to close this issue now!

[2019-09-26 15:13] whedon commented on #1766
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @corybrunson, @szhorvat it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-09-26 15:13] whedon commented on #1766
[code]

[2019-09-26 15:14] #1715 closed

[2019-09-26 15:14] whedon commented on #1766
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01766/joss.01766/10.21105.joss.01766.pdf)

[2019-09-26 15:14] kyleniemeyer commented on #1766
👋 @toph-allen @corybrunson @szhorvat the actual review will take place in this issue

[2019-09-26 15:15] melissawm commented on #1721
Hello @knaidoo29 , I still haven't been able to install mistree, can you take a look at the two issues I just opened? Thanks!

[2019-09-26 15:27] OttaviaE commented on #1764
@benmarwick thank for your reply.

By "high-level description" you mean like the DESCRIPTION file in the R packages? If so, I don’t whether a file like that would be useful/feasible for the app.

I added a "Contributing" section to the README.md of the app, in which I give instructions of how to contribute to the app and how to contact me in case of need or for signaling bugs.

Since a Shiny App i

[2019-09-26 15:59] shah314 commented on #1756
@stulacy I think I have addressed all of your suggestions. The code has much more documentation in the README.md.

I am now passing in the file name and the format for both Java and C++ versions.

The java/classes directory is only for convenience, but the user should really compile the code on their own machine. C++ should also compile now (I tested it on g++ version 8). There were some headers m

[2019-09-26 16:01] shah314 commented on #1733
Any further thoughts, @jedbrown ?

I have made some changes to the code and added tests. I am now passing in the file name to the code, so there is no need for the data.col to exist in the current directory.

Please do a git pull and review and verify the changes.

[2019-09-26 16:06] whedon opened #1767 "[PRE REVIEW]: AliasFinder: A Python script to search for the true planetary frequency within radial velocity data"
**Submitting author:** @StephanStock (<a href="http://orcid.org/0000-0002-1166-9338">Stephan Stock</a>)
**Repository:** <a href="https://github.com/JonasKemmer/AliasFinder" target ="_blank">https://github.com/JonasKemmer/AliasFinder</a>
**Version:** v1.0.0
**Editor:** @xuanxu
**Reviewers:** @Juanlu001, @wtgee

**Author instructions**

Thanks for submitting your paper to JOSS @StephanStock. **Curre

[2019-09-26 16:06] whedon commented on #1767
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-26 16:06] whedon commented on #1767
[code]

[2019-09-26 16:07] whedon commented on #1767
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01767/joss.01767/10.21105.joss.01767.pdf)

[2019-09-26 16:07] arfon commented on #1767
@StephanStock - this looks to be a duplicate of https://github.com/openjournals/joss-reviews/issues/1724 which was rejected as being out of scope. Could you clarify why there has been a resubmission?

/ cc @danielskatz

[2019-09-26 16:13] StephanStock commented on #1767
Hello,
as requested in #1724 we implemented the pip install for our software which was the reason why it was rejected. It is now  'designed for maintainable extension'.

/cc @JonasKemmer @xuanxu

[2019-09-26 16:23] cMadan commented on #1662
@russellpierce, any update? Thanks!

[2019-09-26 16:24] labarba commented on #1466
@abhishekbajpayee Can you now check if the DOIs flagged by `whedon` need fixing?

[2019-09-26 16:25] cMadan commented on #1620
@RingoHHuang, thanks for reviewing this submission!

@MLHale, I need to do some final checks, but we're almost done! (So the review is with me now.)

[2019-09-26 16:34] danielskatz commented on #1674
@whedon set v0.1.1 as version

[2019-09-26 16:34] whedon commented on #1674
OK. v0.1.1 is the version.

[2019-09-26 16:34] danielskatz commented on #1674
@whedon set 10.5281/zenodo.3462035 as archive

[2019-09-26 16:34] whedon commented on #1674
OK. <a href="https://doi.org/10.5281/zenodo.3462035" target="_blank">10.5281/zenodo.3462035</a> is the archive.

[2019-09-26 16:34] danielskatz commented on #1674
@whedon accept

[2019-09-26 16:34] whedon commented on #1674
[code]

[2019-09-26 16:35] whedon commented on #1674
[code]

[2019-09-26 16:35] whedon commented on #1674
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/983

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/983, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-26 16:40] danielskatz commented on #1674
@TomDonoghue - please see https://github.com/lisc-tools/lisc/pull/25

[2019-09-26 16:45] kthyng commented on #1047
@jshermeyer This doesn't appear to have changed yet.

[2019-09-26 16:48] kthyng commented on #1550
Thanks for the note @sebpardo!

[2019-09-26 16:48] abhishektha commented on #1466
@whedon check references

[2019-09-26 16:48] kthyng commented on #1550
Woohoo! We have two reviewers!! @ethanwhite  and @jsta!!

[2019-09-26 16:48] whedon commented on #1466
[code]

[2019-09-26 16:49] kthyng commented on #1550
@whedon assign @ethanwhite  as reviewer

[2019-09-26 16:49] whedon commented on #1550
OK, the reviewer is @ethanwhite

[2019-09-26 16:49] kthyng commented on #1550
@whedon add @jsta  as reviewer

[2019-09-26 16:49] whedon commented on #1550
OK, @jsta  is now a reviewer

[2019-09-26 16:50] kthyng commented on #1550
@whedon start review

[2019-09-26 16:50] whedon opened #1768 "[REVIEW]: bbsAssistant: An R package for downloading and handling data and information from the North American Breeding Bird Survey."
**Submitting author:** @trashbirdecology (<a href="http://orcid.org/0000-0002-0896-5099">Jessica Burnett</a>)
**Repository:** <a href="https://github.com/TrashBirdEcology/bbsAssistant/" target ="_blank">https://github.com/TrashBirdEcology/bbsAssistant/</a>
**Version:** v1.0
**Editor:** @kthyng
**Reviewer:** @ethanwhite , @jsta
**Archive:** <a href="https://doi.org/10.5066/P93W0EAW" target="_blank"

[2019-09-26 16:50] whedon commented on #1550
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1768. Feel free to close this issue now!

[2019-09-26 16:50] whedon commented on #1768
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ethanwhite , @jsta  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-09-26 16:50] whedon commented on #1768
[code]

[2019-09-26 16:50] whedon commented on #1768
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01768/joss.01768/10.21105.joss.01768.pdf)

[2019-09-26 16:50] kthyng commented on #1550
Thanks all! We'll head on over to #1768 for the review itself.

[2019-09-26 16:50] #1550 closed

[2019-09-26 16:52] jshermeyer commented on #1047
Please send me the appropriate format exactly, I added an “and” between the second to last and final author. I’m not sure what you’re looking for.

[2019-09-26 16:52] kthyng commented on #1760
@danielskatz for sure!

[2019-09-26 16:52] kthyng commented on #1760
@whedon assign @kthyng  as editor

[2019-09-26 16:52] whedon commented on #1760
OK, the editor is @kthyng

[2019-09-26 16:53] kthyng commented on #1760
Hi @rmsare! Can you suggest around 5 possible reviewers from this list of volunteers: https://bit.ly/joss-reviewers?

[2019-09-26 16:59] kthyng commented on #1047
[Here](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) under "example paper.bib", the first example paper shows how multiple authors (each author) should be separated by "and" instead of a semi-colon. You can check to make sure it worked properly and there aren't other errors by how it looks when cited (shouldn't take up a whole line in the paper) and how it l

[2019-09-26 17:18] jshermeyer commented on #1047
@whedon generate pdf

[2019-09-26 17:18] whedon commented on #1047
[code]

[2019-09-26 17:18] TiagoVentura commented on #1722
I checked all the boxes as well. The paper and the package are great, strongly recommend the publication. I just found on issue, that I append to this code. The function 'mcmcRocPrc' does not work as suggested in the Readme. I am providing an example here:
`rm(list=ls(all=TRUE))
library("remotes")
install_github("ShanaScogin/BayesPostEst")

df <- carData::Cowles

df$female <- (as.numeric(df$sex) -

[2019-09-26 17:19] whedon commented on #1047
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01047/joss.01047/10.21105.joss.01047.pdf)

[2019-09-26 17:22] jshermeyer commented on #1047
@kthyng thanks, looks like that worked

[2019-09-26 17:22] terrytangyuan commented on #1722
@jkarreth Could you take a look at the above issue pointed out?

[2019-09-26 17:22] TomDonoghue commented on #1674
@danielskatz - thanks for wording updates / fixes! I have merged the PR.

[2019-09-26 17:42] jkarreth commented on #1722
@TiagoVentura Thank you for pointing this out! The function is ahead of the Readme and vignette here, so I need to adjust the code in these documents. I'll update both documents and will post here again when that is done.

[2019-09-26 17:43] TiagoVentura commented on #1722
Yes! That was my intuition of what was happening @jkarreth . Thanks!

[2019-09-26 17:54] rmsare commented on #1760
Thanks, I think Katherine Barnhart (kbarnhart), Margaux Mochene (margauxmouchene), Marti Bosch (martibosch), Joseph Stachelek (jsta), Declan Valters (dvalters) could be potential reviewers.

[2019-09-26 17:55] gbader commented on #1708
Hello. I completed the review. The paper and software look good.  My graduate student @JohnGiorgi helped review the software. We were able to get it to work and it successfully disambiguated “ER” (endoplasmic reticulum) in some test text.

[2019-09-26 18:04] danielskatz commented on #1674
@whedon generate pdf

[2019-09-26 18:04] whedon commented on #1674
[code]

[2019-09-26 18:04] whedon commented on #1674
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01674/joss.01674/10.21105.joss.01674.pdf)

[2019-09-26 18:07] danielskatz commented on #1674
@whedon accept

[2019-09-26 18:07] whedon commented on #1674
[code]

[2019-09-26 18:07] whedon commented on #1674
[code]

[2019-09-26 18:07] whedon commented on #1674
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/984

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/984, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-26 18:09] danielskatz commented on #1674
@whedon accept deposit=true

[2019-09-26 18:09] whedon commented on #1674
[code]

[2019-09-26 18:10] whedon commented on #1674
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1177284302360535040) 👈 🐦🐦🐦

[2019-09-26 18:10] whedon commented on #1674
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/985
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01674](https://doi.org/10.21105/joss.01674)
2. If everything looks go

[2019-09-26 18:15] danielskatz commented on #1674
@TomDonoghue - this seems to be taking a bit longer than normal to have the DOI work - It should work eventually...

[2019-09-26 18:15] danielskatz commented on #1674
@timClicks & @linuxscout - thanks for reviewing!

[2019-09-26 18:20] danielskatz commented on #1674
👋 @arfon - any insight on the DOI delay here?

[2019-09-26 18:23] danielskatz commented on #1674
never mind - now working...

[2019-09-26 18:23] arfon commented on #1674
Looks like it's resolving now.

[2019-09-26 18:23] #1674 closed

[2019-09-26 18:23] whedon commented on #1674
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01674/status.svg)](https://doi.org/10.21105/joss.01674)

**We need your help!**

Journal of Open Source Softwa

[2019-09-26 19:08] kthyng commented on #1760
Thanks!

Hi @margauxmouchene and @martibosch! Are you interested and able to review this JOSS submission in about the next three weeks? You can find more details [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html).

[2019-09-26 20:10] zbeekman commented on #1699
@kellykochanski I just wanted to update you on my progress. (I know you're busy responding to issues & coding so no need to respond.) So far I have:

- Built & tested on macOS w/ native & Homebrew tooling
  - Opened https://github.com/kellykochanski/rescal-snow/pull/42 to resolve building with brewed gccs
- Thoroughly reviewed documentation and submitted some PRs for broken links etc.
  - Very nic

[2019-09-26 20:15] whedon opened #1769 "[PRE REVIEW]: LinkSmart Border Gateway: A single entry point into an Internet of Things autonomous system"
**Submitting author:** @janniswarnat (<a href="http://orcid.org/0000-0002-8233-309X">Jannis Warnat</a>)
**Repository:** <a href="https://github.com/linksmart/border-gateway" target ="_blank">https://github.com/linksmart/border-gateway</a>
**Version:** v1.5.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @janniswarnat. **Currently, ther

[2019-09-26 20:15] whedon commented on #1769
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-26 20:15] whedon commented on #1769
[code]

[2019-09-26 20:15] whedon commented on #1769
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01769/joss.01769/10.21105.joss.01769.pdf)

[2019-09-26 20:18] danielskatz commented on #1769
👋 @janniswarnat - While this looks like nice software and is well-described, I don't see how it is research software that would be suitable for JOSS. See https://joss.readthedocs.io/en/latest/submitting.html, specifically "The software should have an **obvious** research application."  If you disagree, please explain how this is research software.

[2019-09-26 20:19] whedon opened #1770 "[PRE REVIEW]: Checking for the overlap of two ellipsoids with `pw85`"
**Submitting author:** @sbrisard (<a href="http://orcid.org/0000-0002-1976-6263">Sébastien Brisard</a>)
**Repository:** <a href="https://github.com/sbrisard/pw85" target ="_blank">https://github.com/sbrisard/pw85</a>
**Version:** v1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @sbrisard. **Currently, there isn't an JOSS editor assig

[2019-09-26 20:19] whedon commented on #1770
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-26 20:19] whedon commented on #1770
[code]

[2019-09-26 20:19] whedon commented on #1770
PDF failed to compile for issue #1770 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1770/joss/paper.md): found a tab character that violate intendation while scanning a plain scalar at line 8 column 12 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb

[2019-09-26 20:26] danielskatz commented on #1767
👋 @xuanxu - can I ask you to take the lead on making sure this is now suitable, and if so, editing it?

[2019-09-26 21:10] TomDonoghue commented on #1674
Thank you @danielskatz for managing this submission!

[2019-09-26 21:16] ellessenne commented on #1740
Hi @brittanyblouin (cc @csoneson),

First of all - well done with the package! I think you clearly describe the issue you aim to solve and the high-level functionality of ANCRTAdjust. The range of functions provided for end-users seems comprehensive (although I don't really work in the area, so hopefully I haven't missed anything obvious).
I have a few comments, some of which are quite specific an

[2019-09-26 21:55] labarba commented on #1466
@whedon generate pdf

[2019-09-26 21:55] whedon commented on #1466
[code]

[2019-09-26 21:56] whedon commented on #1466
PDF failed to compile for issue #1466 with the following error:

 Error reading bibliography ./paper.bib (line 30, column 1):
unexpected "u"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-26 21:59] marekborowiec commented on #1635
Thanks for checking in @csoneson. Still working on it. I'm almost done with the long laundry list of problems in Issue #5. My schedule becomes better at the end of this week and I hope I'll be able to address all the remaining issues next week.

[2019-09-26 22:06] abhishektha commented on #1466
@whedon check references

[2019-09-26 22:06] whedon commented on #1466
[code]

[2019-09-26 22:09] abhishektha commented on #1466
@whedon generate pdf

[2019-09-26 22:09] whedon commented on #1466
[code]

[2019-09-26 22:09] whedon commented on #1466
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01466/joss.01466/10.21105.joss.01466.pdf)

[2019-09-26 22:11] whedon commented on #1466
[code]

[2019-09-26 22:12] abhishektha commented on #1466
@whedon generate pdf

[2019-09-26 22:12] whedon commented on #1466
[code]

[2019-09-26 22:12] whedon commented on #1466
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01466/joss.01466/10.21105.joss.01466.pdf)

[2019-09-26 22:13] abhishektha commented on #1466
@whedon check references

[2019-09-26 22:13] whedon commented on #1466
[code]

[2019-09-26 22:14] whedon commented on #1466
[code]

[2019-09-26 22:14] abhishektha commented on #1466
@labarba  I think the DOIs are okay now. I did fix a missing reference for the OpenCV library, which was not provided with a DOI.

[2019-09-26 22:58] sbrugman commented on #1746
Hi @lgeiger,

We can see great progress at larq. Keep it up.

This round of feedback complements the earlier comments.

### Software paper

- *Authors*: We need to discuss what we think of "PlumerAI team" as an author, as anonymous authorship is unconventional. @terrytangyuan, do you know of any precedent of this at the JOSS?
I would propose to make a distinction between authors and auxiliaries. A

[2019-09-26 23:29] jdeligt commented on #1665
@mlindsk thanks for the update and considering our suggestions. I'm happy with how you've now framed the example and the statement of need. DOI's are indeed in order, sorry for confusion. I'm happy to sign off on it.

[2019-09-27 00:10] whedon commented on #1466
[code]

[2019-09-27 02:44] brainstorm commented on #1708
Great, thanks @gbader!

I've noticed that you left out "State of the field" in your review, @johnbachman, could you please address that in the manuscript?

@GullyAPCBurns, let us know if you have any difficulties with the review process, I'm here to assist!

[2019-09-27 07:05] mlindsk commented on #1665
@jkanche Preprocessing script is now included along with the original 1000GP data

[2019-09-27 07:26] martibosch commented on #1760
Hello @kthyng , I'd be happy to review this submission :v:

[2019-09-27 07:46] szhorvat commented on #1766
@kyleniemeyer  Since it appears that this package was born partly because R/igraph could not satisfy a need, I should disclose that I am an active contributor to the C core of igraph (not the R interface).

[2019-09-27 07:51] szhorvat commented on #1766
I would have liked to see this functionality be contributed directly into the igraph C core (this is not meant as a criticism though!), and we _might_ add similar functionality to igraph after getting inspired by `yenpathy`, so that it could be used by igraph interfaces in other languages as well.

[2019-09-27 08:18] szhorvat commented on #1766
@toph-allen

Minor language comments on the paper:

In "Summary", "Langauge" -> "Language"

"Csardi" -> "Csárdi"

In the Performance section, you use quotation marks on "simple" in _"simple" paths_. This is in fact standard graph theory terminology.

[2019-09-27 08:35] szhorvat commented on #1766
Added comments on the types of graphs that the function handles: https://github.com/ecohealthalliance/yenpathy/issues/5

[2019-09-27 08:53] xuanxu commented on #1767
@danielskatz yes, I'll edit it.

[2019-09-27 08:53] xuanxu commented on #1767
I think in its current form it qualifies as a maintainable research software, so I'm moving this forward

[2019-09-27 08:55] xuanxu commented on #1767
:wave: @Juanlu001:  Are you still willing to review this paper? It is an improved resubmission of #1724

[2019-09-27 09:00] xuanxu commented on #1767
@whedon assign @xuanxu as editor

[2019-09-27 09:00] whedon commented on #1767
OK, the editor is @xuanxu

[2019-09-27 09:12] Juanlu001 commented on #1767
Excellent! @xuanxu I will gladly review

[2019-09-27 09:34] xuanxu commented on #1767
@Juanlu001 great!, I'll start the review issue once I find the second reviewer, stay tuned!

[2019-09-27 09:43] xuanxu commented on #1767
:wave: @ygrange - would you be willing to review this submission for JOSS? I think your knowledge of Python and Astronomy makes you a good fit for this submission.

[2019-09-27 09:50] xuanxu commented on #1501
@prabhuramachandran: friendly ping :) Looks like we are just waiting for your archive.

[2019-09-27 09:50] janniswarnat commented on #1769
@danielskatz My institute is part of the German Fraunhofer Society that focuses specifically on "applied research", in the case of my department on innovative applications of IoT technology funded by the European Union´s Horizon 2020 programme. E.g. currently there is a project running in which we deploy different sensors during large open-air events and process the data live in a cloud environmen

[2019-09-27 11:17] StephanStock commented on #1767
As a potential reviewer we also suggest @nespinoza who also works with Exoplanets

[2019-09-27 11:48] ygrange commented on #1767
Well, I am pretty busy the coming two weeks at least, so maybe it would be wise to have another reviewer.
If there is no second reviewer and you are willing to wait a few weeks, I can do it though.

[2019-09-27 12:11] xuanxu commented on #1767
@ygrange: ok, thanks!, let's see if I can find another reviewer

[2019-09-27 12:12] xuanxu commented on #1767
:wave: @wtgee - would you be willing to review this submission for JOSS? I think your knowledge of Python and Exoplanets makes you a great fit for this submission.

[2019-09-27 13:07] prabhuramachandran commented on #1501
Yes indeed, I am sorry, I will do this over the coming weekend -- this month has been a very tight.

[2019-09-27 13:44] johnbachman commented on #1708
@brainstorm Will do!

[2019-09-27 15:23] toph-allen commented on #1766
@szhorvat Thanks for the text edits and the detailed comments on the issue! I'll take a look in greater depth in the next day or so.

[2019-09-27 15:41] kyleniemeyer commented on #1738
Thanks @CameronDevine @adi3 ! I'll do my checks now.

[2019-09-27 15:41] kyleniemeyer commented on #1738
@whedon generate pdf

[2019-09-27 15:41] whedon commented on #1738
[code]

[2019-09-27 15:41] whedon commented on #1738
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01738/joss.01738/10.21105.joss.01738.pdf)

[2019-09-27 15:45] duncanmmacleod commented on #1683
@duetosymmetry, thanks for addressing my comments, @xuanxu I'm happy to sign this off as reviewed.

[2019-09-27 15:54] kellykochanski commented on #1699
@whedon generate pdf

[2019-09-27 15:54] whedon commented on #1699
[code]

[2019-09-27 15:55] whedon commented on #1699
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01699/joss.01699/10.21105.joss.01699.pdf)

[2019-09-27 16:04] vchuravy commented on #1709
I have time to review this in about a week.

[2019-09-27 17:04] AliYoussef96 commented on #1500
@mgymrek Can I ask what is next? are we ready to go further?

[2019-09-27 18:40] munkm commented on #1748
I think @harpolea would be a good fit to review this paper.

[2019-09-27 18:41] munkm commented on #1748
@lpantano How many suggestions would be helpful?

[2019-09-27 19:47] harpolea commented on #1748
Hi @munkm @lpantano, I'd be happy to review this!

[2019-09-27 20:05] jkarreth commented on #1722
@TiagoVentura Thank you again for finding this issue! I updated the Readme to reflect the new arguments to `mcmcRocPrc`. The vignette should already be correct. Would you mind taking a quick look at the new code and see if you can reproduce it? The relevant part is:

[code]

[2019-09-27 20:10] rljacobson commented on #1005
My sincere apologies for my absence. I had a change of employment followed immediately by health issues, and I completely forgot about this review. I will complete my review ASAP.

[2019-09-27 20:14] TiagoVentura commented on #1722
All good here. No more issues with the code. Thank you for the opportunity to review the paper, Looking forward to using the package!

[2019-09-27 20:17] jkarreth commented on #1722
Wonderful! Thank you very much @TiagoVentura and @svmiller for your time and efforts.

@terrytangyuan, I just made a small update to the paper.md (added explicit description of author contributions and changed an author affiliation). Is there anything else I should be doing now?

[2019-09-27 20:36] terrytangyuan commented on #1722
@whedon generate pdf

[2019-09-27 20:36] whedon commented on #1722
[code]

[2019-09-27 20:37] nquesada commented on #1705
Hey @poulson : I looked into the problem of having "overflows" in `examples/example.cpp` when you  use all one matrices of size ~ 30. It turns out it is not an overflow, it is a problem with diagonalizing the very special matrices you get when you pass an all ones matrix; in this case the matrices that pow_trace hast to diagonalize are also all ones matrices and for some reason eigen does not get

[2019-09-27 20:37] whedon commented on #1722
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01722/joss.01722/10.21105.joss.01722.pdf)

[2019-09-27 21:56] labarba commented on #1466
@whedon accept

[2019-09-27 21:56] whedon commented on #1466
No archive DOI set. Exiting...

[2019-09-27 22:00] labarba commented on #1466
@abhishekbajpayee — We need the following pre-publication steps:

- [ ] Make a tagged release, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes the title (should match the paper title) and author list (make sure the list is correct and people who only made a small fix are not

[2019-09-27 23:34] danielskatz commented on #1770
👋 @sbrisard - We view this submission as not suitable for JOSS publication in its current state.  Specifically, I refer to https://joss.readthedocs.io/en/latest/submitting.html where we state "Minor ‘utility’ packages, including ‘thin’ API clients, are not acceptable."

In more detail: This software does seem useful and citable, e.g., for simulations of particulate flows, but not appropriate for J

[2019-09-27 23:34] #1770 closed

[2019-09-28 00:12] jkarreth commented on #1722
I just fixed a formatting issue in the paper and am recompiling - hope that's OK!

[2019-09-28 00:12] jkarreth commented on #1722
@whedon generate pdf

[2019-09-28 00:12] whedon commented on #1722
[code]

[2019-09-28 00:13] whedon commented on #1722
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01722/joss.01722/10.21105.joss.01722.pdf)

[2019-09-28 01:25] poulson commented on #1705
@nquesada I would be very surprised if the same bug appeared in LAPACK's Aggressive Early Deflation Hessenberg QR as in Eigen's adaptation of EISPACK via JAMA.

It is worth noting that -- somewhat ironically -- Eigen's generic eigensolver is grossly suboptimal for even moderate sized matrices. But maybe this is irrelevant for you given the small matrices.

But, at this point, my main concern is th

[2019-09-28 02:26] terrytangyuan commented on #1722
Thanks everyone!

@jkarreth At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

The title of the archive is the same as the JOSS paper title
T

[2019-09-28 02:28] terrytangyuan commented on #1566
@gvegayon @TrashBirdEcology It looks like some items in the review list are not checked yet. Could you take a look? If everything looks good, we can move forward with this submission soon. Thanks.

[2019-09-28 02:30] terrytangyuan commented on #1746
Regarding the authorship, I think we would need explicit author names. If this is not possible to obtain, I’d be curious to see why it’s so.

[2019-09-28 02:33] terrytangyuan commented on #1509
@arfon Should we close this issue now that the paper has been deposited?

[2019-09-28 02:46] wtgee commented on #1767
@xuanxu yes, I have some time to do this. And I like the potential pun on 'fit'. :)

[2019-09-28 03:29] danielskatz commented on #1509
Yes

[2019-09-28 03:29] #1509 closed

[2019-09-28 03:29] whedon commented on #1509
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01509/status.svg)](https://doi.org/10.21105/joss.01509)

**We need your help!**

Journal of Open Source Softwa

[2019-09-28 07:52] oliviaguest commented on #1739
Hey @zedtaha and @feddelegrand7 — would you be up for reviewing this submission? 😄

[2019-09-28 08:56] PolymerGuy commented on #1704
@dgursoy once again, thank you for the recommended changes. I have now implemented all of them and have in addition done a slight change to the Config class.

I also found a bug which made trouble when the projections did not have square dimensions.

The Config class now contains a smaller set of settings and also has a .with_param() method which returns a copy of the object with the new settings.

[2019-09-28 10:12] xuanxu commented on #1767
@wtgee great, thanks!

[2019-09-28 10:12] xuanxu commented on #1767
@whedon add @Juanlu001 as reviewer

[2019-09-28 10:12] whedon commented on #1767
OK, @Juanlu001 is now a reviewer

[2019-09-28 10:13] xuanxu commented on #1767
@whedon add @wtgee as reviewer

[2019-09-28 10:13] whedon commented on #1767
OK, @wtgee is now a reviewer

[2019-09-28 10:14] xuanxu commented on #1767
@whedon start review

[2019-09-28 10:14] whedon opened #1771 "[REVIEW]: AliasFinder: A Python script to search for the true planetary frequency within radial velocity data"
**Submitting author:** @StephanStock (<a href="http://orcid.org/0000-0002-1166-9338">Stephan Stock</a>)
**Repository:** <a href="https://github.com/JonasKemmer/AliasFinder" target ="_blank">https://github.com/JonasKemmer/AliasFinder</a>
**Version:** v1.0.0
**Editor:** @xuanxu
**Reviewer:** @Juanlu001, @wtgee
**Archive:** <a href="https://doi.org/10.5281/zenodo.3608898" target="_blank">10.5281/zeno

[2019-09-28 10:14] whedon commented on #1767
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1771. Feel free to close this issue now!

[2019-09-28 10:14] whedon commented on #1771
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Juanlu001, @wtgee it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably cur

[2019-09-28 10:14] whedon commented on #1771
[code]

[2019-09-28 10:14] xuanxu commented on #1767
@Juanlu001, @wtgee - please head over to #1771 where the review will take place.

[2019-09-28 10:14] whedon commented on #1771
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01771/joss.01771/10.21105.joss.01771.pdf)

[2019-09-28 10:14] #1767 closed

[2019-09-28 13:49] katyhuff commented on #1705
@PhilipVinc have you been able to start your review process?

[2019-09-28 15:43] ShanaScogin commented on #1722
@terrytangyuan Here is the Zenodo doi associated with this release: http://doi.org/10.5281/zenodo.3464071

How's that look? Do you need anything else from me? Everything should be up to date with was was linked here. (Also, thank you again everyone for the time and feedback!!!)

[2019-09-28 18:17] kbarnhart commented on #1736
@meg-simula anything else you need from me to get another reviewer for this? Thanks for handling it!

[2019-09-28 18:53] kyleniemeyer commented on #1005
@rljacobson no worries, thanks for the update! Hope you're doing better.

[2019-09-28 19:36] kyleniemeyer commented on #1738
@whedon check references

[2019-09-28 19:36] whedon commented on #1738
[code]

[2019-09-28 19:36] whedon commented on #1738
[code]

[2019-09-28 19:40] kyleniemeyer commented on #1738
Hi @nnadeau, just a few minor edits needed for the paper, in the references:

- the title in the Corke reference doesn't look completely correct, please check.
- The SciPy reference should be
[code]
- in the Nadeau 2018 reference, please put `{ }` around words that should be capitalized, like IEEE, RSJ, and IROS (or just the whole conference name)

We can ignore the warning about the missing DOI f

[2019-09-28 20:39] stulacy commented on #1756
Thank you @shah314 , I feel the changes help make the software more user friendly.
My only remaining comment is that I cannot see anywhere where the difference between Orlib and Weing data encoding is explicitly stated. Would it be useful to have this information displayed somewhere?

[2019-09-28 20:39] nnadeau commented on #1738
@whedon generate pdf

[2019-09-28 20:39] whedon commented on #1738
[code]

[2019-09-28 20:40] whedon commented on #1738
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01738/joss.01738/10.21105.joss.01738.pdf)

[2019-09-28 20:45] nnadeau commented on #1738
@whedon generate pdf

[2019-09-28 20:45] whedon commented on #1738
[code]

[2019-09-28 20:46] whedon commented on #1738
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01738/joss.01738/10.21105.joss.01738.pdf)

[2019-09-28 20:57] nnadeau commented on #1738
@whedon generate pdf

[2019-09-28 20:57] whedon commented on #1738
[code]

[2019-09-28 20:57] whedon commented on #1738
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01738/joss.01738/10.21105.joss.01738.pdf)

[2019-09-28 21:01] nnadeau commented on #1738
@kyleniemeyer

- updated Corke citation title to match recommended title on [the toolbox's website](http://petercorke.com/wordpress/toolboxes/robotics-toolbox) (https://github.com/nnadeau/pybotics/commit/fe145a340f4d178c46a6abae523618756f4eda85)
- escaped ampersand in Corke title (https://github.com/nnadeau/pybotics/commit/58a4533baf4bbb4b9c59c78b000a3dc385245744)
- fixed scipy citation (https://g

[2019-09-28 21:01] nnadeau commented on #1738
@whedon generate pdf

[2019-09-28 21:01] whedon commented on #1738
[code]

[2019-09-28 21:01] whedon commented on #1738
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01738/joss.01738/10.21105.joss.01738.pdf)

[2019-09-28 21:01] nnadeau commented on #1738
@whedon check references

[2019-09-28 21:01] whedon commented on #1738
[code]

[2019-09-28 21:02] whedon commented on #1738
[code]

[2019-09-28 21:06] wtgee commented on #1771
Hi @xuanxu  I don't see any code contributions from the submitting author (@StephanStock) despite them also being listed as first author. Can you advise? Thanks!

[2019-09-28 21:45] shah314 commented on #1756
Thank you. I have added links to the page where all files are described. The bottom of the page also contains a link to all files: http://people.brunel.ac.uk/~mastjjb/jeb/orlib/mknapinfo.html

[2019-09-28 23:01] tristan-salles commented on #1736
Hi @meg-simula & @kbarnhart do you still need an additional reviewer? I'm happy to make the review if needed.

[2019-09-28 23:54] kyleniemeyer commented on #1738
@nnadeau thanks! The SciPy citation is still not quite right, since our template doesn't play well with the recommended year format. Perhaps just change it to "2001" ?

[2019-09-29 00:25] nnadeau commented on #1738
@whedon generate pdf

[2019-09-29 00:25] whedon commented on #1738
[code]

[2019-09-29 00:26] whedon commented on #1738
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01738/joss.01738/10.21105.joss.01738.pdf)

[2019-09-29 00:28] nnadeau commented on #1738
@kyleniemeyer done

[2019-09-29 04:05] nhejazi commented on #1742
@dphansti et al., excellent work on this package, looks quite useful! After going through the review checklist, there's just a few items that require your attention before the few outstanding review items can be checked off. Please address the following when convenient:

* The package requires information about an open-source license, see https://github.com/PhanstielLab/bedtoolsr/issues/2
* The pa

[2019-09-29 04:20] nhejazi commented on #1663
@elyiorgos, the `sleeppy` package looks interesting, thanks for submitting the paper to JOSS! After going through the reviewer checklist, there are a few outstanding items that I'd like to bring your attention:

* The package requires a statement about contribution guidelines. A simple approach for doing this includes adding a section "Contributing" to the `README` that links to a more complete do

[2019-09-29 07:48] telegraphic commented on #1554
@whedon generate pdf

[2019-09-29 07:48] whedon commented on #1554
[code]

[2019-09-29 07:48] whedon commented on #1554
PDF failed to compile for issue #1554 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1554/paper.md): mapping values are not allowed in this context at line 17 column 17 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from /app/vendor/

[2019-09-29 07:51] telegraphic commented on #1554
Hmm, whedon is not happy. I just removed a single space in the metadata of `paper.md`, let's see if that fixes it

[2019-09-29 07:51] telegraphic commented on #1554
@whedon generate pdf

[2019-09-29 07:51] whedon commented on #1554
[code]

[2019-09-29 07:51] whedon commented on #1554
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01554/joss.01554/10.21105.joss.01554.pdf)

[2019-09-29 08:11] telegraphic commented on #1554
LGTM Whedon!

@xuanxu, @garrettj403  and @zhampel, thanks for your patience. We have made quite a few changes thanks to your suggestions:

1) Firstly, we have updated the paper.md with references and an expanded author list. The README is also updated, and I've added a link to our [data format paper](https://ui.adsabs.harvard.edu/abs/2019arXiv190607391L/abstract), that is now accepted to PASP (Pub

[2019-09-29 10:30] xuanxu commented on #1771
@wtgee Yeah, this is the response from @JonasKemmer to that same question:

[2019-09-29 11:43] prabhuramachandran commented on #1501
@xuanxu -- Thanks for the reminder.  I have uploaded version 1.0rc3 on pypi and also on zenodo here: http://doi.org/10.5281/zenodo.3464327 .  This is my first zenodo upload so I hope I did not mess anything up.  I will now make the binaries for people to use and upload them on the vixen github releases.

[2019-09-29 13:42] danielskatz commented on #1636
👋 @bwoshea - to finish up now, I need you to

1. deposit the repository in an archive (e.g. zenodo) and report the DOI here
1. tell me the latest version number here
1. confirm that the paper text and references are final

[2019-09-29 13:43] danielskatz commented on #1487
👋 @tesch1 - any response?

[2019-09-29 13:44] danielskatz commented on #1765
👋 @mbobra - Would you be willing to edit this JOSS submission?

[2019-09-29 13:44] danielskatz commented on #1713
👋 @meg-simula - would you be willing to edit this submission? (just checking again...)

[2019-09-29 13:45] danielskatz commented on #1753
👋 @leouieda - I know you have a fair number of papers now, but would you also be willing to take on this one?

[2019-09-29 13:47] whedon opened #1772 "[PRE REVIEW]: simode: R Package for Statistical Inference of Ordinary Differential Equations using Separable Integral-Matching"
**Submitting author:** @ramiyaari (<a href="http://orcid.org/0000-0002-8808-8937">Rami Yaari</a>)
**Repository:** <a href="https://github.com/ramiyaari/simode/" target ="_blank">https://github.com/ramiyaari/simode/</a>
**Version:** v1.1.6
**Editor:** @mjsottile
**Reviewers:** @cscherrer, @jgoldfar, @osorensen

**Author instructions**

Thanks for submitting your paper to JOSS @ramiyaari. **Currentl

[2019-09-29 13:47] whedon commented on #1772
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-09-29 13:47] whedon commented on #1772
[code]

[2019-09-29 13:47] whedon commented on #1772
Failed to discover a valid open source license.

[2019-09-29 13:47] whedon commented on #1772
PDF failed to compile for issue #1772 with the following error:

 Could not find bibliography file: simode.bib
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-09-29 13:51] stulacy commented on #1756
Thanks for the clarification. I am happy that all the requirements have been met 🙂

[2019-09-29 13:53] danielskatz commented on #1772
@ramiyaari - I see some high-level issues here:

* no readme
* no license

Please see https://joss.readthedocs.io/en/latest/submitting.html#typical-paper-submission-flow

Also, in your paper, you say the bib is "bibliography: simode.bib" but it's actually "paper.bib" - please fix this, then enter ```@whedon generate pdf``` as a new comment in this issue to recompile.

[2019-09-29 16:31] LRydin commented on #1693
@whedon generate pdf

[2019-09-29 16:31] whedon commented on #1693
[code]

[2019-09-29 16:32] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-09-29 16:36] LRydin commented on #1693
@whedon generate pdf

[2019-09-29 16:36] whedon commented on #1693
[code]

[2019-09-29 16:36] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-09-29 16:38] ajgates42 commented on #1609
Hi @madvn et al.,
Overall great package, I just have a few suggestions to improve the usability and functionality.

~ the design of the pipeline seems to focus only on continuous data.  This makes its application to discrete data unnecessarily bulky (e.g. I shouldn't need to define a binning for discrete variables).  Similarity when I already know the probability distribution, it would be nice to

[2019-09-29 16:46] LRydin commented on #1693
@whedon generate pdf

[2019-09-29 16:46] whedon commented on #1693
[code]

[2019-09-29 16:47] whedon commented on #1693
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01693/joss.01693/10.21105.joss.01693.pdf)

[2019-09-29 16:53] shah314 commented on #1756
Thank you for the review @stulacy :)

[2019-09-29 17:21] vaishnavtv commented on #1613
@ramaniitrgoyal92, sorry for the delay in response, but I think the reviewers would appreciate it if you could comment/respond to the questions in the corresponding issues in the repository itself.

[2019-09-29 17:43] abhishektha commented on #1466
@labarba  All done:
tagged release: https://github.com/anderson-cu-bioastronautics/dynamo_realsense-capture/commit/b02cdf19bc0ffed766fe023ef05fe34dc5e29aba

zenodo DOI:
10.5281/zenodo.3464497

zenodo link: https://zenodo.org/record/3464497

Thanks!

[2019-09-29 18:17] ramaniitrgoyal92 commented on #1613
We have responded to the comments in the corresponding issues of the repository.
Thanks!

[2019-09-29 18:17] ramaniitrgoyal92 commented on #1613
The complete list of updates can be found in the attached word document.

[2019-09-29 19:16] labarba commented on #1466
@whedon set v1.1 as version

[2019-09-29 19:16] whedon commented on #1466
OK. v1.1 is the version.

[2019-09-29 19:17] labarba commented on #1466
@whedon set 10.5281/zenodo.3464497 as archive

[2019-09-29 19:17] whedon commented on #1466
OK. <a href="https://doi.org/10.5281/zenodo.3464497" target="_blank">10.5281/zenodo.3464497</a> is the archive.

[2019-09-29 19:17] elyiorgos commented on #1663
Hello Nima!

Thank you for your comments!

In the current sleeppy github repo there should be an existing
CONTRIBUTING.md file that outlines the ways in which any interested party
can contribute if they would like to. If that file needs more fleshing out
I'm happy to update it. I'm also happy to add a link to the README.md file
to make it easier to find if that is a suitable and helpful addition.

[2019-09-29 19:19] labarba commented on #1466
@whedon accept

[2019-09-29 19:19] whedon commented on #1466
[code]

[2019-09-29 19:19] whedon commented on #1466
[code]

[2019-09-29 19:20] whedon commented on #1466
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/986

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/986, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-29 19:22] labarba commented on #1466
@whedon accept deposit=true

[2019-09-29 19:22] whedon commented on #1466
[code]

[2019-09-29 19:23] whedon commented on #1466
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1178389878545043457) 👈 🐦🐦🐦

[2019-09-29 19:23] whedon commented on #1466
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/987
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01466](https://doi.org/10.21105/joss.01466)
2. If everything looks go

[2019-09-29 19:31] labarba commented on #1466
Congratulations, @abhishekbajpayee, your JOSS paper is published! 🚀

Thank you and hats off to our reviewers: @melund, @ixjlyons, @alcantarar — JOSS depends on you! 🙏

[2019-09-29 19:31] #1466 closed

[2019-09-29 19:32] whedon commented on #1466
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01466/status.svg)](https://doi.org/10.21105/joss.01466)

**We need your help!**

Journal of Open Source Softwa

[2019-09-29 19:41] alcantarar commented on #1466
@labarba I think you mean "Congrats @abhishektha!"

[2019-09-29 19:45] abhishektha commented on #1466
Thank you so much everyone!

[2019-09-29 19:59] labarba commented on #1466
Yikes. Auto-complete fail.

[2019-09-29 22:29] kyleniemeyer commented on #1738
@whedon accept

[2019-09-29 22:29] whedon commented on #1738
No archive DOI set. Exiting...

[2019-09-29 22:29] kyleniemeyer commented on #1738
ah, whoops! @nnadeau, please archive your repo using a service such as Zenodo, and let me know what the associated DOI is.

[2019-09-29 22:50] klmedeiros commented on #1685
i'm close to done on this, but i have a few issues blocking acceptance, posted here: https://github.com/fblavoie/doenova/issues/2

also, is it an issue that some of what is listed in the review lives on the accompanying website, not in the repo?

[2019-09-29 23:28] wtgee commented on #1771
Hi @xuanxu. Regarding the **Functionality documentation**, I can see that most of the methods have appropriate docstrings but there is nothing like a link out to readthedocs. Is the requirement just regarding docstrings?

[2019-09-29 23:41] labarba commented on #1555
👋  @rouson — Do you think you can complete this review within the next week or two?

[2019-09-30 00:34] seanpue commented on #1717
I'm close to finishing these corrections. It will probably take at least another week.

I have added  bundled transliterators requiring tests that cover all nodes an edges of graphs, as well as OnMatchRules, if applicable. I will have to update the essay, as well.

I will also be cleaning up the documentation and other points following the excellent recommendations of @rlskoeser.

This review proc

[2019-09-30 02:11] gkthiruvathukal commented on #1717
@seanpue: Thanks for your follow up and willingness to address all review feedback.

@vc1492a and @rlskoeser: Thanks for your thorough reviews. This feels like a model of how reviews should be done. Even though the work is clearly well-done and polished, there were minor issues raised to ensure the submission leads to a great outcome.

I feel optimistic this is heading toward acceptance and look f

[2019-09-30 02:20] nnadeau commented on #1738
@kyleniemeyer

- Bumped release to [`0.7.2`](https://github.com/nnadeau/pybotics/releases/tag/0.7.2) (includes all changes from this review process)
- Fixed the the Zenodo integration (https://zenodo.org/record/3464672)
- Added DOI badge (https://github.com/nnadeau/pybotics/commit/43caa8de6bdb76e7aecc23e7d46e35e26f8f0834)
- DOI = `10.5281/zenodo.3464672 `

[2019-09-30 03:27] katyhuff commented on #1704
@whedon generate pdf

[2019-09-30 03:27] whedon commented on #1704
[code]

[2019-09-30 03:27] whedon commented on #1704
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01704/joss.01704/10.21105.joss.01704.pdf)

[2019-09-30 03:29] katyhuff commented on #1704
@whedon check references

[2019-09-30 03:29] whedon commented on #1704
[code]

[2019-09-30 03:29] whedon commented on #1704
[code]

[2019-09-30 03:31] katyhuff commented on #1704
@PolymerGuy One DOI (10.1016/j.ultramic.2015.05.002) will need to be fixed in your bibliography. Please remove the 'https://doi.org/' prefix from the DOI itself.

[2019-09-30 03:52] arokem commented on #1749
@BIPL-HORIE : it's been hard to find a second reviewer for this. Do you have ideas for appropriate reviewers for this submission?

[2019-09-30 03:54] arokem commented on #1727
👋 @ahurriyetoglu : would you be willing to review this article for JOSS?

[2019-09-30 04:09] jedbrown commented on #1733
@shah314 Thanks for your diligence in comparing with ColPack. I just remembered that NetworkX also has coloring algorithms, though I don't think they are any better than those in ColPack.

In your README, it just says "compile the code". I think it would be helpful to list the command to run to do that. From the tests, you evidently use the following, which gives some warnings with OpenJDK-12.

[c

[2019-09-30 06:01] ramiyaari commented on #1772
@whedon generate pdf

[2019-09-30 06:01] whedon commented on #1772
[code]

[2019-09-30 06:01] whedon commented on #1772
PDF failed to compile for issue #1772 with the following error:

 Error producing PDF.
! LaTeX Error: Bad math environment delimiter.

See the LaTeX manual or LaTeX Companion for explanation.
Type  H <return>  for immediate help.
 ...

l.466 \begin{equation}

Looks like we failed to compile the PDF

[2019-09-30 06:08] ramiyaari commented on #1772
@whedon generate pdf

[2019-09-30 06:08] whedon commented on #1772
[code]

[2019-09-30 06:08] whedon commented on #1772
PDF failed to compile for issue #1772 with the following error:

 Error producing PDF.
! Missing \endgroup inserted.
<inserted text>
                \endgroup
l.482 \begin{eqnarray}

Looks like we failed to compile the PDF

[2019-09-30 06:13] ramiyaari commented on #1772
@whedon generate pdf

[2019-09-30 06:13] whedon commented on #1772
[code]

[2019-09-30 06:13] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-09-30 06:26] ramiyaari commented on #1772
@whedon generate pdf

[2019-09-30 06:26] whedon commented on #1772
[code]

[2019-09-30 06:27] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-09-30 06:39] ramiyaari commented on #1772
@whedon generate pdf

[2019-09-30 06:39] whedon commented on #1772
[code]

[2019-09-30 06:39] whedon commented on #1772
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01772/joss.01772/10.21105.joss.01772.pdf)

[2019-09-30 07:09] PolymerGuy commented on #1704
@katyhuff I have now removed the prefix from the DOI and pushed the changes to master.

[2019-09-30 07:19] alvarolopez commented on #1517
@whedon generate pdf

[2019-09-30 07:19] whedon commented on #1517
[code]

[2019-09-30 07:20] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-09-30 07:38] jayten commented on #1555
@hariradh

### API Documentation
The [FEST-3D website](https://fest3d.github.io/index.html) provides detailed [documentation](https://fest3d.github.io/page/index.html) of different [source files](https://fest3d.github.io/lists/files.html), [modules](https://fest3d.github.io/lists/modules.html), [procedures](https://fest3d.github.io/lists/procedures.html), and [main program](https://fest3d.github.i

[2019-09-30 07:40] ramiyaari commented on #1772
@danielskatz thanks for your comments
I believe I fixed all these issues

[2019-09-30 08:10] leouieda commented on #1425
@benmaier thank you for being on top of this!

[2019-09-30 08:11] leouieda commented on #1425
@openjournals/joss-eics this submission is ready of acceptance :confetti_ball:

[2019-09-30 08:26] conradsnicta commented on #1631
@chand-lab - The updated citation to Bradsky & Kaehler has several issues:

- The given URL (https://www.academia.edu/download/32167394/OReilly_Learning_OpenCV.pdf) ends up with Error 404.
- The publisher's name has unnecessary quotes around it.
- OpenCV is printed as lowercase opencv, twice.  In `paper.bib`, use curly braces around the word to force Bibtex to respect the upper case letters: {Open

[2019-09-30 08:28] MikeLydeamore commented on #1763
Hi @drvinceknight, I have completed my review and have recommend minor revisions. I've created an issue in the source repository that lists these: https://github.com/mikldk/ryacas/issues/32

[2019-09-30 08:32] xuanxu commented on #1771
@wtgee There should be sufficient documentation to understand the functionality of the software, including a high-level overview in the readme file (see https://joss.readthedocs.io/en/latest/review_criteria.html#documentation). If you feel the included documentation is not enough you can always suggest improvements to the author, I think a link to readthedocs or similar is always convenient.

[2019-09-30 08:33] conradsnicta commented on #1631
@chand-lab - Problems with the references:

- The updated citation to Bradsky & Kaehler has several issues:
  - The given URL (https://www.academia.edu/download/32167394/OReilly_Learning_OpenCV.pdf) ends up with Error 404.
  - The publisher's name has unnecessary quotes around it.
  - OpenCV is printed as lowercase opencv, twice.  In `paper.bib`, use curly braces around the word to force Bibtex to

[2019-09-30 08:35] xuanxu commented on #1501
@whedon set 1.0rc3 as version

[2019-09-30 08:35] whedon commented on #1501
OK. 1.0rc3 is the version.

[2019-09-30 08:37] xuanxu commented on #1501
@whedon set 10.5281/zenodo.3464327 as archive

[2019-09-30 08:38] whedon commented on #1501
OK. <a href="https://doi.org/10.5281/zenodo.3464327" target="_blank">10.5281/zenodo.3464327</a> is the archive.

[2019-09-30 08:38] xuanxu commented on #1501
All ready for publication.
Pinging @openjournals/joss-eics for final acceptance.

[2019-09-30 08:40] xuanxu commented on #1683
@duncanmmacleod thanks!

[2019-09-30 08:41] xuanxu commented on #1683
@whedon generate pdf

[2019-09-30 08:41] whedon commented on #1683
[code]

[2019-09-30 08:42] xuanxu commented on #1683
@whedon check references

[2019-09-30 08:42] whedon commented on #1683
[code]

[2019-09-30 08:43] whedon commented on #1683
[code]

[2019-09-30 08:50] conradsnicta commented on #1631
@chand-lab - Grammar suggestions in the Algorithm section:
- It's not clear what is meant by "processed" in the sentence "as frames transition between the captured, processed and display processes". What do "captured process" and "processed process" mean ?  Perhaps the sentence would be clearer like so: "as frames transition between capture, processing and display stages". The "processing stage" s

[2019-09-30 08:56] conradsnicta commented on #1631
@chand-lab
- In the Statement of Need section, there is a superfluous (or effectively circular) citation to Casas & Chandrasekaran (2019). This paper is about the very software being cited, so the citation is not necessary or needed.  You already have a link to GitHub page in the paragraph right after the list of limitations.
- Grammar suggestions in the Limitations section.  In the numbered list,

[2019-09-30 09:04] drvinceknight commented on #1763
Thank you @MikeLydeamore :+1:

[2019-09-30 09:20] inakleinbottle commented on #1759
I have a query for the editor: copied from my review
* You might need to include references (at the end of the paper) to the packages mentioned in your paper: numpy, scipy, Cython, perfplot. This needs to be clarified by the JOSS editors.

What is the policy regarding citation of software packages in references? I should comment that these are clearly acknowledged in the paper, but are not include

[2019-09-30 09:31] drvinceknight commented on #1759
Hi @inakleinbottle, good question, I note that `scipy` has been referenced however I feel that on this occasion references for `cython` and `perfplot` would be helpful for the reader (for example reading the paper myself I was not familiar with `perfplot`).

I do not feel strongly about including a reference for `numpy` in the context of the text of the paper but I would suggest that it could be n

[2019-09-30 09:34] mikldk commented on #1763
Thanks, @MikeLydeamore , for your review and for helping making the package better by catching these shortages. I hope that commit mikldk/ryacas@777cf33459d9b8349b1863149182c38652b4b23b have addressed your points.

[2019-09-30 09:38] xuanxu commented on #1683
@whedon set 0.4.0 as version

[2019-09-30 09:38] whedon commented on #1683
OK. 0.4.0 is the version.

[2019-09-30 09:40] MuellerSeb commented on #1759
@drvinceknight : Thank you for working out a way to go. I will include a reference to the github repositories of numpy and perfplot (numpy has no "real" code-publication and perfplot is a rather small package without any publications). In case of Cython, a dedicated publication exists.

[2019-09-30 09:42] xuanxu commented on #1683
Ok, everything looks good @duetosymmetry, here are the next steps:

  - Please archive the latest release in Zenodo
  - Check the Zenodo deposit has the correct metadata: title and author name should match the paper; you may also add your ORCID.

Once you do that please report here the Zenodo DOI.

[2019-09-30 10:10] ramiyaari commented on #1772
@whedon commands

[2019-09-30 10:10] whedon commented on #1772
Here are some things you can ask me to do:

[code]

[2019-09-30 10:27] ramiyaari commented on #1772
Please update the software version to 1.1.6
Suggested Reviewers: Jgoldfar, trashbirdecology, MikeLydeamore, MaaniBeigy, llauriciu, matloff, ellessenne, osorensen, RomainAzais

[2019-09-30 11:08] seabbs commented on #1740
Hi @brittanyblouin (cc @csoneson) ,

Well done @brittanyblouin this is a nice package - we definitely need to see more of these kinds of tools for standardising data handling.

Before I can recommend this package though I think there needs to be some more work tightening up - and expanding - the documentation. The rigour of the coding (i.e testing, function names, environment variable handling etc

[2019-09-30 11:49] duetosymmetry commented on #1683
@xuanxu done! Here is the Zenodo DOI: [10.5281/zenodo.3459790](https://doi.org/10.5281/zenodo.3459790).

[2019-09-30 11:55] lpantano commented on #1748
@whedon assign @munkm as reviewer

[2019-09-30 11:55] whedon commented on #1748
OK, the reviewer is @munkm

[2019-09-30 11:55] lpantano commented on #1748
@whedon assign @harpolea  as reviewer

[2019-09-30 11:55] whedon commented on #1748
OK, the reviewer is @harpolea

[2019-09-30 11:56] lpantano commented on #1748
@whedon add @KayleighRutherford as reviewer

[2019-09-30 11:56] whedon commented on #1748
OK, @KayleighRutherford is now a reviewer

[2019-09-30 12:28] mailchand commented on #1631
@conradsnicta - Thank you for a thorough read. I will attempt the address these issues and improve the manuscript ASAP. I think these are all excellent suggestions and will make the manuscript significantly better.

[2019-09-30 12:32] Datseris commented on #1611
The main author was not tagged in any of the above posts. Maybe @kavir1698 was not notified of this progress?

[2019-09-30 12:34] kavir1698 commented on #1611
@Datseris Thank you for your notification. I will start the revision process soon.

[2019-09-30 13:05] katyhuff commented on #1704
@whedon generate pdf

[2019-09-30 13:05] whedon commented on #1704
[code]

[2019-09-30 13:06] whedon commented on #1704
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01704/joss.01704/10.21105.joss.01704.pdf)

[2019-09-30 13:08] katyhuff commented on #1704
@whedon check references

[2019-09-30 13:08] whedon commented on #1704
[code]

[2019-09-30 13:09] whedon commented on #1704
[code]

[2019-09-30 13:11] katyhuff commented on #1704
Thank you @PingjunChen and @dgursoy for your reviews -- we couldn't do this without you. Your comments seem to have been particularly valuable to the software package itself. That's wonderful, as it's very much the purpose of JOSS.

Thank you @PolymerGuy for a strong submission and for engaging actively in the review process! I have looked over the paper, double-checked all the DOI links, and have

[2019-09-30 13:26] xuanxu commented on #1683
@whedon set 10.5281/zenodo.3459790 as archive

[2019-09-30 13:26] whedon commented on #1683
OK. <a href="https://doi.org/10.5281/zenodo.3459790" target="_blank">10.5281/zenodo.3459790</a> is the archive.

[2019-09-30 13:35] tonigi commented on #1702
Perhaps @carlocamilloni could be so kind to give it an eye?

[2019-09-30 13:35] carlocamilloni commented on #1702
Yes this is a good time to me

[2019-09-30 13:35] xuanxu commented on #1683
All ready for publication :tada:
Pinging @openjournals/joss-eics for final acceptance.

[2019-09-30 13:36] kavir1698 commented on #1611
Dear @mozhgan-kch,

Thank you for your comments and review. Below are my responses to your comments.

1. I have provided a comparison of speed between Agents.jl and Mesa, since they are the most similar to each other. The advantage of Agents.jl over Repast and NetLogo is that Agents.jl is implemented in Julia, which is an easy-to-learn language that is more geared toward data analysis and scientif

[2019-09-30 13:43] tonigi commented on #1702
To summarize:
* Fork of Plumed 2.5 with the `pycv` module: https://github.com/giorginolab/plumed2-pycv/
* Web page: https://giorginolab.github.io/plumed2-pycv/
* Paper (auto-generated by the editorial bot) https://github.com/openjournals/joss-papers/blob/joss.01702/joss.01702/10.21105.joss.01702.pdf
* Info on the review process: https://joss.readthedocs.io/en/latest/review_criteria.html  (will tak

[2019-09-30 13:48] arfon commented on #1702
@whedon add @carlocamilloni as reviewer

[2019-09-30 13:48] arfon commented on #1702
@whedon start review

[2019-09-30 13:48] whedon opened #1773 "[REVIEW]: PYCV: a PLUMED 2 Module Enabling the Rapid Prototyping of Collective Variables in Python"
**Submitting author:** @tonigi (<a href="http://orcid.org/0000-0001-6449-0596">Toni Giorgino</a>)
**Repository:** <a href="https://github.com/giorginolab/plumed2-pycv/" target ="_blank">https://github.com/giorginolab/plumed2-pycv/</a>
**Version:** v1.1
**Editor:** @arfon
**Reviewer:** @amritagos, @carlocamilloni
**Archive:** <a href="https://doi.org/10.5281/zenodo.3480171" target="_blank">10.5281/

[2019-09-30 13:48] whedon commented on #1702
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1773. Feel free to close this issue now!

[2019-09-30 13:48] whedon commented on #1773
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @amritagos, @carlocamilloni it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're pro

[2019-09-30 13:48] whedon commented on #1773
[code]

[2019-09-30 13:49] arfon commented on #1702
@amritagos, @carlocamilloni, @tonigi - see you over in #1773 for the actual review.

[2019-09-30 13:49] #1702 closed

[2019-09-30 13:49] whedon commented on #1773
PDF failed to compile for issue #1773 with the following error:

 Can't find any papers to compile :-(

[2019-09-30 13:49] arfon commented on #1773
@amritagos, @carlocamilloni - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-09-30 13:50] arfon commented on #1773
@whedon generate pdf from branch joss-paper

[2019-09-30 13:50] whedon commented on #1773
[code]

[2019-09-30 13:50] whedon commented on #1773
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01773/joss.01773/10.21105.joss.01773.pdf)

[2019-09-30 14:18] munkm commented on #1748
@lpantano am I supposed to be a reviewer on my own paper?

[2019-09-30 14:30] KingZee commented on #1752
Hi @nthomasCUBE, thanks a lot for the comments. I have made a new joss branch, so as to get everything working there before merging with master.

It's true that they are not contributors to the development of the project, but both of them have proof-read and partially co-authored the paper. I could ask them to make github accounts and make symbolic contributions if absolutely necessary. Maybe @gkt

[2019-09-30 14:37] EduPH commented on #1763
@mikldk, I can see that there are more authors cited at the README of the repository. Should they be added?

I see a lot of examples of the use of Ryacas in the documentation. However, I think they could be described a little bit more. Some of them have no description at all (http://mikldk.github.io/ryacas/articles/low-level.html#sums)

The same as the previous point. I understand that is based on