[2019-07-15 19:16] MKLau commented on #1312
Hi @danielskatz @labarba @benmarwick, the package review should be good to start. I made an inquiry over in pre-submission thread https://github.com/ropensci/software-review/issues/300 to see what the best way would be to proceed. One of you might have a thought as well. Should I just re-open the closed pre-submission thread and re-label it? Or, should I start a new issue?

Thanks!

@MKLau

[2019-07-15 19:20] labarba commented on #1312
I don't know how you submit to rOpenSci, but that's what you need to do next. Once your software is reviewed there, it will be fast-tracked in JOSS.

[2019-07-15 19:33] cboettig commented on #1312
@labarba @MKLau To submit to rOpenSci, simply open an issue in https://github.com/ropensci/software-review/ as described in the README there.

[2019-07-15 19:50] arokem commented on #1478
Sorry for the slowness here. One more comment: the figure caption contains the words "Figure 1". Please remove these, so that you don't get a duplication of these words in the PDF.

Also, the reference to the Paszke paper seems partial. Is there more information?

[2019-07-15 20:08] akelbert commented on #1463
Hi @prisae I apologize for dragging this review out like I did. I have now been able to run several, although not all, of the Jupyter notebook examples successfully. The greatest challenge so far has been in ensuring that all of the dependencies are installed, and there are many.

Let me provide context. To run even the simplest 0a_Minimum_working_example, discretize package was needed. With the c

[2019-07-15 20:18] kyleniemeyer commented on #1543
Hi @jcsutherland, thanks so much for all your feedback! We will start to address these items, but quickly, pyMARS does actually already have an automated testing suite, based on pytest.

If you have pytest installed, navigating to the repo and running `pytest` should automatically find and run all the tests, contained in the `pymars/tests` directory.

However, I do see that this isn't described in

[2019-07-15 20:25] jedbrown commented on #1463
Thanks for your time and evaluation, @akelbert. As a formality to complete your review, could you tick the relevant boxes in your review checklist at the top of this page?

[2019-07-15 21:37] danielskatz commented on #1562
@whedon generate pdf

[2019-07-15 21:37] whedon commented on #1562
[code]

[2019-07-15 21:38] whedon opened #1571 "[PRE REVIEW]: cspy: A Python package with a collection of algorithms for the (Resource) Constrained Shortest Path problem"
**Submitting author:** @torressa (<a href="http://orcid.org/0000-0002-2894-9432">David Torres Sanchez</a>)
**Repository:** <a href="https://github.com/torressa/cspy" target ="_blank">https://github.com/torressa/cspy</a>
**Version:** v0.0.8
**Editor:** @poulson
**Reviewers:** @hausen, @oesteban, @stsievert

**Author instructions**

Thanks for submitting your paper to JOSS @torressa. **Currently, th

[2019-07-15 21:38] whedon commented on #1571
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-15 21:38] whedon commented on #1571
[code]

[2019-07-15 21:38] whedon commented on #1562
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01562/joss.01562/10.21105.joss.01562.pdf)

[2019-07-15 21:38] whedon commented on #1571
PDF failed to compile for issue #1571 with the following error:

 Error reading bibliography ./paper.bib (line 13, column 3):
unexpected "a"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-15 21:39] arfon commented on #1182
@whedon generate pdf

[2019-07-15 21:39] whedon commented on #1182
[code]

[2019-07-15 21:40] whedon commented on #1182
PDF failed to compile for issue #1182 with the following error:

 Error reading bibliography ./paper.bib (line 33, column 9):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-15 21:40] jgoldfar commented on #1562
@danielskatz I would be happy to review; this would be my first time doing so but I've long been interested in JOSS.

[2019-07-15 21:41] danielskatz commented on #1571
👋 @poulson - you've been requested as the editor - are you willing to serve as such?

[2019-07-15 21:43] danielskatz commented on #1571
👋 @torressa - I think https://github.com/torressa/cspy/pull/12 will fix the build error.  Please merge it and then in a new comment here, enter ```@whedon generate pdf``` Please iterate until the paper builds :)

[2019-07-15 21:47] arfon commented on #1182
@mconlon17 - this PR should allow your paper to compile: https://github.com/vivo-project/VIVO/pull/134

[2019-07-15 21:47] danielskatz commented on #1562
Thanks @jgoldfar  - I'll put you in the system, but we won't start the review until I get one more reviewer as well.

[2019-07-15 21:47] danielskatz commented on #1562
@whedon assign @jgoldfar as reviewer

[2019-07-15 21:47] whedon commented on #1562
OK, the reviewer is @jgoldfar

[2019-07-15 23:46] mbobra commented on #1524
👋 @alexanderimanicowenrivers Can you please address the comments by @paragkulkarni11 and @desilinguist? Please let me know if you want any help with this.

[2019-07-15 23:51] mbobra commented on #1504
👋 @seanlaw

Github is showing that there [aren't any releases in the repository](https://github.com/TDAmeritrade/stumpy/releases). Could you please go ahead and [create a release](https://help.github.com/en/articles/creating-releases)?

Could you also include your responses to points 3 and 4 above in the text of the paper along with the appropriate references?

[2019-07-16 00:41] sctyner commented on #1567
Looks like you don't need me, but just in case, I'm happy to review.

[2019-07-16 01:47] ahwillia commented on #1562
I'm traveling for the next few weeks. I can do it in a pinch in ~3 weeks
time. Perhaps wait and see if there's a quicker response from someone
else...

On Mon, Jul 15, 2019, 5:47 PM whedon <notifications@github.com> wrote:

[2019-07-16 02:08] seanlaw commented on #1504
@mbobra Thank you for pointing me to the helpful resources. I've gone back and tagged the commit that coincides with the first upload to PyPI (May 3rd) as [v1.0.0](https://github.com/TDAmeritrade/stumpy/releases). Let me know if that is sufficient.

Regarding points 3 and 4, both references (Matrix Profile I and Matrix Profile II) were already included in the original article proof (note that the

[2019-07-16 02:16] brainstorm commented on #1552
@rougier Would you like to assist reviewing this paper?

[2019-07-16 02:16] terrytangyuan commented on #1567
Looks like @sctyner is the only one who didn't mention any availability so I guess she should be able to review this quicker than anyone else. @corybrunson reviewed for my `autoplotly` JOSS paper before so he should be familiar with some of the related content in this paper. But I'll leave this to our editor @arfon to decide on the reviewers. 👋

[2019-07-16 02:17] brainstorm commented on #1526
@Gweismann, would you like to assist JOSS with this review?

[2019-07-16 03:16] pitsianis commented on #1569
Thank you @labarba for the quick feedback. We have rewritten the summary accordingly. Your comments are greatly appreciated.

[2019-07-16 03:16] pitsianis commented on #1569
@whedon generate pdf

[2019-07-16 03:16] whedon commented on #1569
[code]

[2019-07-16 03:16] whedon commented on #1569
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01569/joss.01569/10.21105.joss.01569.pdf)

[2019-07-16 03:19] pitsianis commented on #1569
@whedon generate pdf

[2019-07-16 03:19] whedon commented on #1569
[code]

[2019-07-16 03:19] whedon commented on #1569
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01569/joss.01569/10.21105.joss.01569.pdf)

[2019-07-16 03:29] vijaysm commented on #1441
@likask Several comments below regarding build/installation workflows.

- I've had multiple failed attempts going via the Docker route. The container builds do not complete the MoFEM compilation on my OSX machine. I tried multiple times but it just times out. I am unsure if it is just my machine here.

- I was able to build the Docker image on my Ubuntu workstation. There were several "unused vari

[2019-07-16 03:38] kyleniemeyer commented on #1532
Hi @usethedata @FaustinCarter and @cfneese, just wanted to check in on your reviews.

[2019-07-16 04:19] rabdill commented on #1533
Hi, my apologies for the delay. I'm able to check off most of the review items confidently, but there are a few points still to address. I'm not sure if I should put them here or create issues in the repo itself. In order of importance:

**Automated tests: Are there automated tests or manual steps described so that the function of the software can be verified?**
This requirement appears to be enti

[2019-07-16 04:28] arokem commented on #1171
@whedon generate pdf

[2019-07-16 04:28] whedon commented on #1171
[code]

[2019-07-16 04:28] arokem commented on #1171
@whedon check references

[2019-07-16 04:28] whedon commented on #1171
[code]

[2019-07-16 04:28] whedon commented on #1171
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01171/joss.01171/10.21105.joss.01171.pdf)

[2019-07-16 04:28] whedon commented on #1171
[code]

[2019-07-16 04:31] arokem commented on #1171
@tanselbaran : just to confirm -- are your comments all addressed?

[2019-07-16 04:57] prisae commented on #1463
Thanks @akelbert for your review! It is interesting and insightful to have feedback from someone who is not familiar with the Python ecosystem.

`emg3d` itself has very few hard dependencies, only `numpy`, `scipy`, and `numba`. The former two are the core of the scientific Python stack, leaving the last one as only 'hurdle'. (As soon as you want to plot something you naturally also need `matplotli

[2019-07-16 05:03] prisae commented on #1463
I will add to the `0a_Minimum_working_example` some more text with the following example which indeed just requires emg3d (with its hard dependencies `numpy`, `scipy`, and `numba`):

[code]
Example output:
[code]

I hope this example will make it even easier to get started.

[2019-07-16 05:24] rougier commented on #1552
I'm already late with another JOSS review but I can try do to this one by end of July if it is ok.

[2019-07-16 05:25] rougier commented on #1517
Thanks for the reminder. I will try to finish by the end of the week.

[2019-07-16 05:28] rougier commented on #1517
@trallard Can we have a link to the paper at the top of the thread ? (I cannot find it)

[2019-07-16 06:40] tanselbaran commented on #1171
Yes, everything looks good to me.

[2019-07-16 06:41] apuignav commented on #1570
@whedon generate pdf

[2019-07-16 06:41] whedon commented on #1570
[code]

[2019-07-16 06:41] whedon commented on #1570
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01570/joss.01570/10.21105.joss.01570.pdf)

[2019-07-16 06:42] apuignav commented on #1570
Fixed a couple of typography issues, now it's good to go!

[2019-07-16 07:43] hugoledoux commented on #1530
I can do this this week.

[2019-07-16 08:20] arfon commented on #1567
@whedon add @sctyner as reviewer

[2019-07-16 08:20] whedon commented on #1567
OK, @sctyner is now a reviewer

[2019-07-16 08:20] arfon commented on #1567
@whedon add @strengejacke as reviewer

[2019-07-16 08:20] whedon commented on #1567
OK, @strengejacke is now a reviewer

[2019-07-16 08:21] arfon commented on #1567
@whedon start review

[2019-07-16 08:21] whedon opened #1572 "[REVIEW]: lfda: Local Fisher Discriminant Analysis in R"
**Submitting author:** @terrytangyuan (<a href="http://orcid.org/0000-0001-5243-233X">Yuan Tang</a>)
**Repository:** <a href="https://github.com/terrytangyuan/lfda/" target ="_blank">https://github.com/terrytangyuan/lfda/</a>
**Version:** v1.1.2
**Editor:** @arfon
**Reviewer:** @sctyner, @strengejacke
**Archive:** <a href="https://doi.org/10.5281/zenodo.3352038" target="_blank">10.5281/zenodo.3352

[2019-07-16 08:21] whedon commented on #1567
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1572. Feel free to close this issue now!

[2019-07-16 08:21] whedon commented on #1572
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @sctyner, @strengejacke it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-07-16 08:21] whedon commented on #1572
[code]

[2019-07-16 08:21] whedon commented on #1572
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01572/joss.01572/10.21105.joss.01572.pdf)

[2019-07-16 08:21] arfon commented on #1567
Thanks for all of the quick responses. @sctyner & @strengejacke, see you over in #1572 for the actual review.

[2019-07-16 08:21] #1567 closed

[2019-07-16 08:22] prisae commented on #1463
Hi @jedbrown . If we could bring this to an end today or tomorrow (CET office hours) that would be really awesome! After that I will be off on holidays, and it'll have to wait till after.

[2019-07-16 08:22] arfon commented on #1572
Note for myself here that @strengejacke won't be able to start this review until early August.

[2019-07-16 08:33] labarba commented on #1569
@whedon assign @labarba as editor

[2019-07-16 08:33] whedon commented on #1569
OK, the editor is @labarba

[2019-07-16 09:23] torressa commented on #1571
Thanks @danielskatz :)

[2019-07-16 09:23] whedon commented on #1571
[code]

[2019-07-16 09:24] whedon commented on #1571
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01571/joss.01571/10.21105.joss.01571.pdf)

[2019-07-16 09:34] ts-adi commented on #1531
@arfon @gkthiruvathukal Currently in the process of archiving the submission on Zenodo. Should I index the software release from the `master` branch? Or should this be from the custom `joss_paper` branch that contains the contents of `master` + the JOSS paper?

[2019-07-16 09:57] csoneson commented on #1533
Thanks for your comments @rabdill!

Yes, a supervisory role is certainly fine. We currently don't require a formal author contribution statement, and authors are ultimately responsible for deciding which contributions are sufficient for co-authorship (see also https://joss.readthedocs.io/en/latest/review_criteria.html#authorship). In cases where contributions are not clear from the commit history,

[2019-07-16 11:11] nicholascar commented on #1513
OK, that's got it all working. I assumed installing the module would install dependencies but I guess not since Jinja2 is optional and there are many templating modules that can be used.

Could you add something to the setup.py that auto-installs Jinja@ since, even though it's optional, it's the only templating system you support now thus it's not really optional?

[2019-07-16 11:42] danielskatz commented on #1562
Thanks @ahwillia - let's see if @ChrisRackauckas (who I didn't tag correctly above - sorry) is willing to review this.

[2019-07-16 11:42] nicholascar commented on #1513
I can confirm that all the points I needed to check off I've been able to do so. The author has indeed address the points raised by the first reviewer so I suppose this is a thumbs up from me - good to proceed with JOSS publication!

[2019-07-16 11:42] danielskatz commented on #1562
👋 @ChrisRackauckas  - Would you be willing to review this submission for JOSS?

[2019-07-16 11:44] arokem commented on #1171
Great. I think that we ready to proceed with this.

@TheChymera : could you please create an archive of the software, as it is currently, or of a new release (e.g., on https://zenodo.org) and post the DOI here?

[2019-07-16 11:56] jedbrown commented on #1463
@whedon check references

[2019-07-16 11:56] whedon commented on #1463
[code]

[2019-07-16 11:56] whedon commented on #1463
[code]

[2019-07-16 11:57] ChrisRackauckas commented on #1562
Not right now. If it gets to September and it still needs a review then give me a ping.

[2019-07-16 12:01] jedbrown commented on #1463
@whedon generate pdf

[2019-07-16 12:01] whedon commented on #1463
[code]

[2019-07-16 12:02] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-07-16 12:06] danielskatz commented on #1562
👋 @ahwillia - Given that you've said you can do this in a pinch, I will ask you to do so, recognizing that it won't happen quickly.

[2019-07-16 12:06] danielskatz commented on #1562
@whedon add @ahwillia as reviewer

[2019-07-16 12:06] whedon commented on #1562
OK, @ahwillia is now a reviewer

[2019-07-16 12:06] danielskatz commented on #1562
@whedon start review

[2019-07-16 12:07] whedon opened #1573 "[REVIEW]: TimeSeriesClustering: An extensible framework in Julia"
**Submitting author:** @holgerteichgraeber (<a href="http://orcid.org/0000-0002-4061-2226">Holger Teichgraeber</a>)
**Repository:** <a href="https://github.com/holgerteichgraeber/TimeSeriesClustering.jl" target ="_blank">https://github.com/holgerteichgraeber/TimeSeriesClustering.jl</a>
**Version:** v0.5.2
**Editor:** @danielskatz
**Reviewer:** @jgoldfar, @ahwillia
**Archive:** <a href="https://doi

[2019-07-16 12:07] whedon commented on #1562
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1573. Feel free to close this issue now!

[2019-07-16 12:07] whedon commented on #1573
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jgoldfar, @ahwillia it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-07-16 12:07] whedon commented on #1573
[code]

[2019-07-16 12:07] #1562 closed

[2019-07-16 12:07] whedon commented on #1573
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01573/joss.01573/10.21105.joss.01573.pdf)

[2019-07-16 12:08] danielskatz commented on #1573
Note: @ahwillia is traveling for the next few weeks. It will be about 3 weeks until he can work on this review.

[2019-07-16 12:09] danielskatz commented on #1573
👋 @jgoldfar, @ahwillia - We'll do the review here - please read the comments above, and get started when you can.  If you have any questions, please ask.

[2019-07-16 12:19] akelbert commented on #1463
@prisae Your level of documentation goes as far as open source software documentation could reasonably be expected to go without putting an undue burden on the contributors of the software. I would only add a page that details which packages are "Recommended" (rather than "Required") to obtain the full functionality of emg3d, and the "Related" packages that you would want to also consider, e.g., f

[2019-07-16 12:27] whedon opened #1574 "[PRE REVIEW]: Pannellum: a lightweight web-based panorama viewer"
**Submitting author:** @mpetroff (<a href="http://orcid.org/0000-0002-4436-4215">Matthew Petroff</a>)
**Repository:** <a href="https://github.com/mpetroff/pannellum" target ="_blank">https://github.com/mpetroff/pannellum</a>
**Version:** v2.5.2
**Editor:** @leouieda
**Reviewers:** @vsoch, @Fil

**Author instructions**

Thanks for submitting your paper to JOSS @mpetroff. **Currently, there isn't an

[2019-07-16 12:27] whedon commented on #1574
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-16 12:27] whedon commented on #1574
[code]

[2019-07-16 12:27] whedon commented on #1574
PDF failed to compile for issue #1574 with the following error:

 Can't find any papers to compile :-(

[2019-07-16 12:28] danielskatz commented on #1574
@whedon generate pdf

[2019-07-16 12:28] whedon commented on #1574
[code]

[2019-07-16 12:28] whedon commented on #1574
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01574/joss.01574/10.21105.joss.01574.pdf)

[2019-07-16 12:29] danielskatz commented on #1574
👋 @leouieda - Would you be willing to edit this submission?

[2019-07-16 12:30] whedon opened #1575 "[PRE REVIEW]: PyMarket"
**Submitting author:** @gus0k (<a href="http://orcid.org/0000-0001-8041-9685">Diego</a>)
**Repository:** <a href="https://github.com/gus0k/pymarket" target ="_blank">https://github.com/gus0k/pymarket</a>
**Version:** v0.7.4
**Editor:** @alexhanna
**Reviewers:** @igarizio, @taqtiqa-mark

**Author instructions**

Thanks for submitting your paper to JOSS @gus0k. **Currently, there isn't an JOSS edito

[2019-07-16 12:30] whedon commented on #1575
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-16 12:30] whedon commented on #1575
[code]

[2019-07-16 12:31] whedon commented on #1575
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01575/joss.01575/10.21105.joss.01575.pdf)

[2019-07-16 12:32] danielskatz commented on #1575
👋 @alexhanna - Would you be willing to edit this submission?

[2019-07-16 13:03] gkthiruvathukal commented on #1531
@ts-adi, If the plan is to continue development and tagging releases from master, I would use master. You don't need to keep the JOSS paper in your archive. Thanks!

[2019-07-16 13:04] prisae commented on #1463
@whedon set v0.7.0 as version

[2019-07-16 13:04] whedon commented on #1463
I'm sorry @prisae, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-07-16 13:04] prisae commented on #1463
@whedon generate pdf

[2019-07-16 13:04] whedon commented on #1463
[code]

[2019-07-16 13:04] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-07-16 13:06] prisae commented on #1463
I revised the manuscript and corrected some typos @jedbrown ; from my point of view it is good to go.

One question though: I realized I did not introduce the variables of the provided equation. Should I add this, or is it out of scope for JOSS?

I will add a section to the docs now as suggested by @akelbert

[2019-07-16 13:50] prisae commented on #1463
I added a short section **Related Ecosystem** in the **Getting Started**-guide just below the **Example** section, https://emg3d.readthedocs.io/en/latest/usage.html#related-ecosystem

It is not very extensive at the moment, but it might expand with time.

Also, I don't want to dig into dependencies of these related packages. One would have to consult these packages to see their dependencies.

[2019-07-16 13:52] ts-adi commented on #1531
@gkthiruvathukal The submission is now archived: https://zenodo.org/record/3336380#.XS3VwvyxVhE

[2019-07-16 13:57] danielskatz commented on #1531
JOSS requires the DOI, not the URL...

[2019-07-16 13:58] ts-adi commented on #1531
Ok, here you go: 10.5281/zenodo.3336380

[2019-07-16 14:11] terrytangyuan commented on #1563
Pulling another set of potential reviewers. Would any of you be interested in reviewing this paper? @paragkulkarni11 @Danbo3004 @sepandhaghighi @EduPH @DanielLenz

[2019-07-16 14:15] sepandhaghighi commented on #1563
@terrytangyuan

Hi

I'm available.

[2019-07-16 14:16] EduPH commented on #1563
Hi,
It depends on how fast you want an answer. I think I could send it back along first week of August.

[2019-07-16 14:20] terrytangyuan commented on #1563
Thanks! @EduPH I'll keep you in mind for future reviews. 😄

[2019-07-16 14:20] terrytangyuan commented on #1563
@whedon add @sepandhaghighi as reviewer

[2019-07-16 14:20] whedon commented on #1563
OK, @sepandhaghighi is now a reviewer

[2019-07-16 14:20] terrytangyuan commented on #1563
@whedon start review

[2019-07-16 14:20] whedon opened #1576 "[REVIEW]: MemCNN: a Framework for Developing Memory Efficient Invertible Neural Networks"
**Submitting author:** @silvandeleemput (<a href="http://orcid.org/0000-0001-6047-3051">Sil C. van de Leemput</a>)
**Repository:** <a href="https://github.com/silvandeleemput/memcnn" target ="_blank">https://github.com/silvandeleemput/memcnn</a>
**Version:** 0.3.3
**Editor:** @terrytangyuan
**Reviewer:** @GregaVrbancic, @sepandhaghighi
**Archive:** <a href="https://doi.org/10.5281/zenodo.3353604"

[2019-07-16 14:20] whedon commented on #1563
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1576. Feel free to close this issue now!

[2019-07-16 14:20] whedon commented on #1576
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @GregaVrbancic, @sepandhaghighi it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-07-16 14:20] whedon commented on #1576
[code]

[2019-07-16 14:21] whedon commented on #1576
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01576/joss.01576/10.21105.joss.01576.pdf)

[2019-07-16 14:21] terrytangyuan commented on #1563
👋 @sepandhaghighi and @GregaVrbancic, please head over to #1576 to start the review!

[2019-07-16 14:21] #1563 closed

[2019-07-16 15:11] jedbrown commented on #1463
Yes, I think the paper should be self-contained in the sense of defining the variables used in the equation. Some editorial suggestions:

* You have a stray `)` after the Werthmuller reference.
* I think the semicolon list should use commas.
* FEniCS and Pardiso may warrant a citation.
* Grammar: "several millions of cells" -> "several million cells"
* `Mulder [@Mulder:2006]` should be `@Mulder:20

[2019-07-16 15:20] whedon commented on #1501
:wave: @deniederhut, please update us on how your review is going.

[2019-07-16 15:25] deniederhut commented on #1501
👋 @whedon it's on my to-do list for tomorrow

On Tue, Jul 16, 2019, 10:20 whedon <notifications@github.com> wrote:

[2019-07-16 15:28] abhishektha commented on #1466
Thanks for the reply @labarba! I can definitely deploy API documentation through Sphinx, and will let you and the reviewers know when that is done.

Would it be okay if we had someone independently review functionality of the code using our own camera setup in our lab? We have a few colleagues in the field who have not worked with us on this project but may be able to provide a check of functional

[2019-07-16 16:00] mgymrek commented on #1500
thanks @AliYoussef96 for the updates. The changes look good.

One comment on install: I wonder whether it is critical to require Python >=3.7? Many systems will still have earlier versions making it difficult to install and test with pip.

Also, comments on the paper:

Summary
* "Futher, Using" -> "Further, using the"
* "The tool also includes statistical analysis as" -> "The tool also includes st

[2019-07-16 16:07] mgymrek commented on #1256
Thanks for the updates. Comments:

* Please add to the README how to run the tests. This wasn't clear.

For the paper:

* The paper should mention in the first sentence the focus on Italian language.
* The paper should have a clear statement of need: are there any other existing packages that do something similar? How does your tool compare to those?
* The text could be slighltly expanded so non-e

[2019-07-16 16:41] TheChymera commented on #1171
@arokem thank you!

10.5281/zenodo.3338391
https://zenodo.org/record/3338391#.XS3-FqSxWw4

[2019-07-16 16:50] arokem commented on #1171
@whedon set 10.5281/zenodo.3338391 as archive

[2019-07-16 16:50] whedon commented on #1171
OK. <a href="https://doi.org/10.5281/zenodo.3338391" target="_blank">10.5281/zenodo.3338391</a> is the archive.

[2019-07-16 16:50] andremrsantos commented on #1548
Hi @poulson,
although I would love to contribute. My knowledge of information theory is limited and I wouldn't feel confident on review submission on the subject.
I hope you find your reviewers soon.

[2019-07-16 16:51] arokem commented on #1171
@openjournals/joss-eics : I believe this paper is ready for your final review.

[2019-07-16 16:58] danielskatz commented on #1171
@whedon accept

[2019-07-16 16:58] whedon commented on #1171
[code]

[2019-07-16 16:59] whedon commented on #1171
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/836

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/836, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-16 17:13] danielskatz commented on #1171
@TheChymera  - can you accept https://github.com/IBT-FMI/COSplay/pull/39 please to fix an incorrect ; and slightly make the sentence that contains it more clear?

[2019-07-16 17:17] TheChymera commented on #1171
@danielskatz merged. Do I need to update the archive now on zenodo?

[2019-07-16 17:17] TheChymera commented on #1171
@danielskatz merged. Do I need to update the archive now on zenodo?

[2019-07-16 17:22] danielskatz commented on #1171
no, we're concerned with the software and not the paper source in the archive

[2019-07-16 17:22] danielskatz commented on #1171
@whedon generate pdf

[2019-07-16 17:22] whedon commented on #1171
[code]

[2019-07-16 17:23] whedon commented on #1171
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01171/joss.01171/10.21105.joss.01171.pdf)

[2019-07-16 17:23] danielskatz commented on #1171
@whedon accept

[2019-07-16 17:23] whedon commented on #1171
[code]

[2019-07-16 17:23] whedon commented on #1171
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/837

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/837, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-16 17:24] danielskatz commented on #1171
@whedon accept deposit=true

[2019-07-16 17:24] whedon commented on #1171
[code]

[2019-07-16 17:25] whedon commented on #1171
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1151180986987765760) 👈 🐦🐦🐦

[2019-07-16 17:25] whedon commented on #1171
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/838
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01171](https://doi.org/10.21105/joss.01171)
2. If everything looks go

[2019-07-16 17:27] danielskatz commented on #1171
Thanks to @effigies & @tanselbaran for reviewing and @arokem for editing!!

[2019-07-16 17:27] #1171 closed

[2019-07-16 17:27] whedon commented on #1171
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01171/status.svg)](https://doi.org/10.21105/joss.01171)

**We need your help!**

Journal of Open Source Softwar

[2019-07-16 18:18] smk508 commented on #1478
@whedon generate pdf

[2019-07-16 18:18] whedon commented on #1478
[code]

[2019-07-16 18:19] whedon commented on #1478
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01478/joss.01478/10.21105.joss.01478.pdf)

[2019-07-16 18:21] smk508 commented on #1478
Ok I've updated the figure caption. The Paszke reference was meant to be a reference to the Pytorch library itself and its built-in data processing modules when I was comparing them to Fireworks.

[2019-07-16 18:23] arokem commented on #1478
Gotcha. Looks like it's missing a couple of words, though.

See: https://github.com/pytorch/pytorch/blob/master/CITATION

[2019-07-16 18:33] katrinekirkeby commented on #1480
Sorry for the late answer, somehow the emails ended up in my spam box. I'm not quite sure how to make an archive of the software in Zenodo/figshare/other service, but I have baked a new release of the software and made a new release on GitHub where this number is under the tags version: e472a7a

[2019-07-16 18:47] darribas commented on #1511
HEllo! Sorry for the delay, getting on the review now, should be able to turn it around rather quickly!

[2019-07-16 19:18] smk508 commented on #1478
@whedon generate pdf

[2019-07-16 19:18] whedon commented on #1478
[code]

[2019-07-16 19:18] whedon commented on #1478
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01478/joss.01478/10.21105.joss.01478.pdf)

[2019-07-16 19:18] smk508 commented on #1478
Oh sorry. I misunderstood what you were saying before! I fixed the typo in the citations now.

[2019-07-16 20:47] weikang9009 commented on #1511
Hi @leouieda, the package was updated and [a new version (V0.7.1) was released on github and pypi 7 days ago by @martibosch](https://github.com/martibosch/swisslandstats-geopy/releases/tag/v0.7.1). Since this most recent version does not match the one given in the review points (shown below), I am not sure how to deal with this?

[2019-07-16 21:18] trallard commented on #1539
Hi @melund just checking how you are doing? I am planning to move this forward this week - early the next

[2019-07-16 21:19] trallard commented on #1317
Can you please paste the DOI here so I can set it as the archive? As well as the latest version of the package and I can finalise the acceptance

[2019-07-16 21:21] trallard commented on #1390
🎉Thanks, for the review @rpetit3  and @lowandrew

@pierrepo  Can you please do the following before moving to publication?
- Create a new release of the package and report the version here
- Generate a new DOI in Zenodo and paste it here
- Do a last check on the paper for missing references, typos and the such?

Once completed we can move this forward

[2019-07-16 21:22] trallard commented on #1390
@whedon generate pdf

[2019-07-16 21:22] whedon commented on #1390
[code]

[2019-07-16 21:22] whedon commented on #1390
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01390/joss.01390/10.21105.joss.01390.pdf)

[2019-07-16 21:22] trallard commented on #1517
@whedon generate pdf

[2019-07-16 21:22] whedon commented on #1517
[code]

[2019-07-16 21:23] whedon commented on #1517
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01517/joss.01517/10.21105.joss.01517.pdf)

[2019-07-16 21:24] trallard commented on #1517
@rougier here is the article 👆🏼

[2019-07-16 21:25] AliYoussef96 commented on #1500
Thanks, @mgymrek for your comments.

**1. Comment on install to require Python >=3.7**.
[(README)](https://github.com/AliYoussef96/BCAW-Tool/blob/master/README.md).

**2. Updates to the paper**

**Summary**

- The summary section is updated.

**Implementation**

- The Implementation section is updated. For "BCAWtool" I converted it to "BCAW tool" everywhere in the paper and also in the readme.

**

[2019-07-16 21:55] likask commented on #1441
@vijaysm I apologise for the late response, I am on annual break at the moment.

- If you let me know what is a problem on Mac OS X, I can fix it. I running docker with MoFME on Mac OS X.

- To run example pleas see link below.  Can you make an issue on the bitbucket, my colleagues will pick this and try to guide you through examples.

@vijaysm Look here [link](https://github.com/openjournals/joss

[2019-07-16 23:02] arokem commented on #1478
@whedon check references

[2019-07-16 23:02] whedon commented on #1478
[code]

[2019-07-16 23:03] whedon commented on #1478
[code]

[2019-07-16 23:05] arokem commented on #1478
I think that Whedon is checking all the references in your bib file. I believe everything is in order here.

[2019-07-16 23:07] arokem commented on #1478
@smk508 : could you please create an archive of the software (e.g., using https://zenodo.org) and post the link + DOI here?

I apologize in advance for the additional delay, but I am heading out on vacation and will be back heree next week to move this ahead.

[2019-07-17 02:25] arokem commented on #1295
Hey @snastase : have you had a chance to take another look?

[2019-07-17 02:29] arokem commented on #1551
👋 @Rmadillo : would be willing to review this paper for JOSS? Your expertise in health informatics and R would be helpful here.

👋 @klmedeiros : would you be willing to review this paper for JOSS? Your expertise in public health, epi and R would be helpful here.

👋 @acolum : would be willing to review this paper for JOSS? Your expertise in public health, epidemiology and R would be helpful here.

[2019-07-17 02:38] vijaysm commented on #1441
Thanks @likask. I will create an issue on the Bitbucket page to raise my problems. FWIW, I built the Docker image on Ubuntu, but the instructions in your link did not help with running examples. You can see the error message above (folder does not exist). Perhaps there is a step missing and that is why I was enquiring about a better guide to running the examples.

[2019-07-17 02:47] usethedata commented on #1513
Thanks @jimmccusker and @nicholascar  I will do a pass through things tomorrow for my editorial checks.

[2019-07-17 03:32] leouieda commented on #1511
@darribas thanks for the update :+1:

@weikang9009 that happens when there is a release while the review is ongoing. As long as the version is close and matches the Github release/tag, then it should be OK. We'll update the version information prior to publication.

[2019-07-17 03:40] leouieda commented on #1574
@danielskatz sure, no problem

[2019-07-17 03:52] leouieda commented on #1574
:wave: Hi @ethan-nelson @vsoch would you be interested in reviewing this submission for JOSS?

[2019-07-17 06:02] ejolly commented on #1504
Hi @mbobra sorry for the delay on my review!

First of all, I'd like to note that Stumpy is a great addition to the time-series analyst's toolkit and is very well-documented, explained, and referenced. I also rather enjoyed the talk. Really nice @seanlaw!

My testing was done using Python 3.6 on Mac OS 10.14.2 and everything installed without issues. I updated my installation given the most recent

[2019-07-17 07:03] rougier commented on #1517
@alvarolopez I'm trying to test your software but I have problems because of the gevent package that cannot compile v1.4.0 on my machine (OSX). Last version seems to compile ok but not the 1.4.0. Do you know through which package this dependency comes from ?

[2019-07-17 07:36] Rmadillo commented on #1551
Hi, I am on vacation until July 29, so I would be happy to do so after that date if you still need it.

On Jul 17, 2019, at 4:29 AM, Ariel Rokem <notifications@github.com<mailto:notifications@github.com>> wrote:

👋 @Rmadillo<https://github.com/Rmadillo> : would be willing to review this paper for JOSS? Your expertise in health informatics and R would be helpful here.

👋 @klmedeiros<https://github.

[2019-07-17 07:51] labarba commented on #1569
@whedon assign @tingyu66 as reviewer

[2019-07-17 07:51] whedon commented on #1569
OK, the reviewer is @tingyu66

[2019-07-17 07:52] labarba commented on #1569
👋 @tingyu66 — Thank you for agreeing to review this submission for JOSS. You can start the review, but please wait for me to find another reviewer and start the review issue before posting your comments. Stay tuned!

[2019-07-17 08:07] prisae commented on #1463
@whedon generate pdf from branch joss

[2019-07-17 08:07] whedon commented on #1463
[code]

[2019-07-17 08:08] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-07-17 08:08] seanlaw commented on #1504
@ejolly Thank you for your constructive and useful feedback. Please see my responses below:

Regarding 1:

This is an excellent suggestion and we've filed/fixed/closed the this [issue](https://github.com/TDAmeritrade/stumpy/issues/51) as per your recommendation. For completeness, we have also provided interactive [Binder notebooks](https://mybinder.org/v2/gh/TDAmeritrade/stumpy/master?filepath=not

[2019-07-17 08:12] labarba commented on #1569
@whedon add @rioyokota as reviewer

[2019-07-17 08:12] whedon commented on #1569
OK, @rioyokota is now a reviewer

[2019-07-17 08:12] labarba commented on #1569
@whedon start review

[2019-07-17 08:12] whedon opened #1577 "[REVIEW]: SG-t-SNE-Π: Swift Neighbor Embedding of Sparse Stochastic Graphs"
**Submitting author:** @pitsianis (<a href="http://orcid.org/0000-0002-7353-3524">Nikos Pitsianis</a>)
**Repository:** <a href="https://github.com/fcdimitr/sgtsnepi" target ="_blank">https://github.com/fcdimitr/sgtsnepi</a>
**Version:** v1.0.1
**Editor:** @labarba
**Reviewer:** @tingyu66, @rioyokota
**Archive:** <a href="https://doi.org/10.5281/zenodo.3355679" target="_blank">10.5281/zenodo.335567

[2019-07-17 08:12] whedon commented on #1569
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1577. Feel free to close this issue now!

[2019-07-17 08:12] whedon commented on #1577
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tingyu66, @rioyokota it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-07-17 08:12] whedon commented on #1577
[code]

[2019-07-17 08:12] whedon commented on #1577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-17 08:13] #1569 closed

[2019-07-17 08:15] labarba commented on #1577
👋  @tingyu66, @rioyokota — Thank you for agreeing to review this JOSS submission! This is where the action happens. You both have a review checklist to work your way through. Feel free to ask any questions here. You can post your reviewer comments on this thread and open issues in the software repository as needed (add a cross-link to those here). Godspeed!

[2019-07-17 08:19] gus0k commented on #1575
@taqtiqa-mark and @igarizio both are in the past reviewers list and their domain fits the project.

[2019-07-17 08:27] mikldk commented on #1480
@katrinekirkeby See e.g. <https://genr.eu/wp/cite/> (or some other guide) on how to do that. It is only a few steps.

[2019-07-17 08:38] alvarolopez commented on #1517
@rougier this is a dependency on DEEPaaS itself, but we are depending on version 1.2.0 (actually I now realise that this can be bumped to 1.3.0).

What error are you obtaining?

[2019-07-17 09:03] prisae commented on #1463
@whedon generate pdf from branch joss

[2019-07-17 09:03] whedon commented on #1463
[code]

[2019-07-17 09:03] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-07-17 09:19] prisae commented on #1463
@whedon generate pdf from branch joss

[2019-07-17 09:19] whedon commented on #1463
[code]

[2019-07-17 09:19] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-07-17 09:28] prisae commented on #1463
Thanks for your comments @jedbrown
- I was wondering about how to better include the references, but couldn't find any info on the JOSS instructions; thanks for the link!
- Good point about references for SciPy/NumPy/Numba/FEniCS/PARDISO.

In order to talk about the runtime and memory of other solvers I would have to make more tests with other solvers. So I prefer to show a figure of the runtime a

[2019-07-17 09:28] prisae commented on #1463
I added CPU info to figure.

@whedon generate pdf from branch joss

[2019-07-17 09:30] prisae commented on #1463
@whedon generate pdf from branch joss

[2019-07-17 09:31] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-07-17 10:44] danielskatz commented on #1574
@whedon assign @leouieda as editor

[2019-07-17 10:44] whedon commented on #1574
OK, the editor is @leouieda

[2019-07-17 10:45] danielskatz commented on #1574
@leouieda note that you can do this too, you don’t need to wait for an AEiC to do it

[2019-07-17 11:27] deniederhut commented on #1501
Hey @xuanxu ! I have a COI question. In the last year, Prabhu and I worked for the same company (Enthought). We were not working on the same project, and at no time was one of us a report of the other. Can I still review this submission?

[2019-07-17 11:58] pierrepo commented on #1390
Hi @trallard Thanks!

Release 1.5.1 has been created and is available [here](https://github.com/pierrepo/autoclasswrapper/tree/v1.5.1)

The specific DOI for this release is 10.5281/zenodo.3339286
Please note there is also a *generic* DOI (for all releases) : 10.5281/zenodo.2527058

Sounds good to me :smile:

[2019-07-17 12:35] melund commented on #1539
@trallard I am traveling in Asia and I only have my phone. I am back in a week and then I will try to get look at this.

[2019-07-17 12:43] klmedeiros commented on #1551
@arokem I would be happy to do so. Is there a template or place where the review particularly needs to be submitted?

[2019-07-17 13:02] jedbrown commented on #1463
@prisae Thanks for your revisions. Do you think it would be appropriate to mention Hypre and ML/MueLu's Maxwell solvers? They use different MG formulations, but are open source, (distributed memory) parallel, and have fewer grid restrictions (good or bad depending on an application's needs). A sentence on why one would choose emg3d (e.g., improved robustness, Python, easier install?) would be help

[2019-07-17 13:13] prisae commented on #1463
Thanks @jedbrown, very interesting, I never heard of either of them. I will have a quick look and add them with a reference. Without going into details I will probably simply mention that there exist other MG packages which solve Maxwell's equations in other programming languages.

[2019-07-17 13:40] prisae commented on #1463
If it is OK with you @jedbrown  I will not mention Hypre nor ML/MueLu. All the packages I mention (DIPOLE1D, empymod, MARE2DEM, PETGEM, SimPEG, custEM) are within the same realm, modelling geophysical controlled-source electromagnetic data (in the wider sense, not just CSEM, but also AEM, MT, etc.). However, I do not see how Hypre or ML/MueLu fit in, and from glancing at it and its examples it is

[2019-07-17 13:45] lpantano commented on #1545
@whedon  set 10.5281/zenodo.3323833 as archive

[2019-07-17 13:48] xuanxu commented on #1501
@deniederhut Thanks for noting it! If you are not currently affiliated with the same institution/company and you didn’t work on the same project then by the current [policy](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy) I see at most a minor COI, that can be waived if you think you are able to make an impartial assessment of this submission.

[2019-07-17 13:50] lpantano commented on #1545
@whedon set 10.5281/zenodo.3323833 as archive

[2019-07-17 13:50] whedon commented on #1545
OK. <a href="https://doi.org/10.5281/zenodo.3323833" target="_blank">10.5281/zenodo.3323833</a> is the archive.

[2019-07-17 13:51] lpantano commented on #1545
Hi @openjournals/joss-eics, this is accepted. The only thing is that reference that doesn't have a DOI because it is too old. I don't know if there is a specific way to deal with that. Thanks!

[2019-07-17 13:53] darribas commented on #1511
On the authorship, @martibosch has clearly contributed to the package. In fact, he's the only contributor). The second author has not. Usually, this would point to lack of substantive contribution but I could see how this is also reasonable if the second author has provided guidance, technical support, etc. Happy to check that one off if @martibosch agrees.

[2019-07-17 14:04] prisae commented on #1463
@whedon generate pdf from branch joss

[2019-07-17 14:04] whedon commented on #1463
[code]

[2019-07-17 14:04] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-07-17 14:08] prisae commented on #1463
@whedon check references

[2019-07-17 14:09] whedon commented on #1463
[code]

[2019-07-17 14:09] whedon commented on #1463
[code]

[2019-07-17 14:36] prisae commented on #1463
Here is the DOI: 10.5281/zenodo.3339421

`v0.7.1` will be on pypi and conda shortly.

[2019-07-17 14:53] prisae commented on #1463
All done from my part. `v0.7.1` is released, it is on `pypi` and `conda`, and on Zenodo.

Thanks @jedbrown, @emersodb, @lukeolson, and @akelbert for your review and feedback!

[2019-07-17 14:55] darribas commented on #1511
OK that's my review for now @martibosch. Such a cool little package!!!

[2019-07-17 15:33] smk508 commented on #1478
Ok that sounds good. I've made an archive on zenodo by following thir instructions and added a badge to the README.
DOI: 10.5281/zenodo.3339548
URL: https://zenodo.org/badge/latestdoi/135873580

[2019-07-17 16:10] danielskatz commented on #1545
Thanks - I'll do the processing tonight or tomorrow

Don't worry about the DOI, whedon provides guidance but is not always right, and everything doesn't have to have a DOI; we just want to make sure that for things that do have a DOI, the DOI is part of the reference.

[2019-07-17 17:06] whedon commented on #1256
:wave: @scan2001, please update us on how things are progressing here.

[2019-07-17 17:20] alexhanna commented on #1575
Yes, I can edit this.

[2019-07-17 17:21] alexhanna commented on #1575
@whedon assign @alexhanna as editor

[2019-07-17 17:21] whedon commented on #1575
OK, the editor is @alexhanna

[2019-07-17 18:49] FaustinCarter commented on #1532
I've had a chance to look over the new documentation and it is really great! I have some further comments regarding installation and package organization:

The existence of the `KES_complete.ipf` file is confusing and provides a strong vector for unintended future version conflicts resulting from a developer updating a function in one of the sub-files and then forgetting to copy it to the right se

[2019-07-17 18:50] FaustinCarter commented on #1532
@kyleniemeyer I'd like to check off some boxes on the checklist for this review, but for some reason they are all grayed out. Is there a permissions issue or something? Thanks!

[2019-07-17 18:56] FaustinCarter commented on #1532
Regarding documentation: This is totally unnecessary in the sense that I'm not going to hold the review up over it, but it is good practice: I'd suggest putting all your documentation in a Docs folder in the repo (i.e. the .md files that aren't readme, and the Figures folder). This helps keep the repo clean and organized.

[2019-07-17 19:09] jedbrown commented on #1463
@whedon set v0.7.1 as version

[2019-07-17 19:09] whedon commented on #1463
OK. v0.7.1 is the version.

[2019-07-17 19:22] ejolly commented on #1504
@seanlaw the binder addition is a great one and I think will be great for new users.

Regarding my point 2:

I apologize as I should have been more clear. I completely agree with your response that publication in JOSS should be _not_ contingent on you adding a more comprehensive tutorial 2 and my comment was more of a suggestion for something that would improve the tutorials, i.e. would be "nice t

[2019-07-17 19:23] jedbrown commented on #1463
The doi.org link hasn't sync'd yet. Can you fix the authors on Zenodo? They should match the paper.

[2019-07-17 19:35] seanlaw commented on #1504
@ejolly No need to apologize as I assumed no ill intent. Thank you (@hooman650 and @mbobra) for taking the time to review! I really appreciate the valuable feedback.

[2019-07-17 19:49] kyleniemeyer commented on #1532
@FaustinCarter sorry about that, I just added you as a collaborator on the joss-reviews repo, and if you accept you should be able to check the boxes. Not sure why those permissions didn't come when I added you as a reviewer.

[2019-07-17 19:54] leouieda commented on #1574
Thanks, @danielskatz. I wasn't sure I could do that :)

[2019-07-17 19:57] prisae commented on #1463
https://doi.org/10.5281/zenodo.3339421 now resolves, at least for me.

I adjusted the authors on Zenodo @jedbrown

![Selection_001](https://user-images.githubusercontent.com/8020943/61407380-e5e8f880-a8dd-11e9-9f99-67ea445eac65.png)

[2019-07-17 20:06] jedbrown commented on #1463
@whedon set 10.5281/zenodo.3339421 as archive

[2019-07-17 20:06] whedon commented on #1463
OK. <a href="https://doi.org/10.5281/zenodo.3339421" target="_blank">10.5281/zenodo.3339421</a> is the archive.

[2019-07-17 20:07] jedbrown commented on #1463
@whedon accept

[2019-07-17 20:07] whedon commented on #1463
[code]

[2019-07-17 20:07] whedon commented on #1463
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/839

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/839, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-17 20:12] jedbrown commented on #1463
@openjournals/joss-eics This paper is accepted; over to you.

[2019-07-17 20:13] prisae commented on #1463
Thanks @jedbrown , was a pleasure to work with you!

[2019-07-17 20:18] jedbrown commented on #1463
Likewise! Thanks for your patient and careful work, and thanks to our reviewers.

[2019-07-17 21:00] mbobra commented on #1504
@hooman650 and @ejolly Thank you so much for reviewing! We really appreciate your time and effort ☀️

@seanlaw We're almost there! Can you please [archive your release on Zenodo](https://guides.github.com/activities/citable-code/) to obtain a DOI and then put that in your README.rst file? After that I think we're done 🎉

[2019-07-17 21:05] danielskatz commented on #1545
@whedon generate pdf

[2019-07-17 21:05] whedon commented on #1545
[code]

[2019-07-17 21:07] whedon commented on #1545
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01545/joss.01545/10.21105.joss.01545.pdf)

[2019-07-17 21:08] danielskatz commented on #1545
@whedon accept

[2019-07-17 21:08] whedon commented on #1545
[code]

[2019-07-17 21:10] whedon commented on #1545
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/840

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/840, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-17 21:12] danielskatz commented on #1463
@prisae  - please change "A diffusive problem remains, which resulting system of equations is given in the frequency domain by" to "A diffusive problem remains, which has the resulting system of equations given in the frequency domain by"

"It currently uses mostly" should be "It currently mostly uses" or "It currently primarily uses"

"the multigrid CSEM codes of these publications" should be "th

[2019-07-17 21:20] danielskatz commented on #1545
@xin-huang - please merge https://github.com/xin-huang/SeleDiff/pull/6 to make a couple of small changes in wording.

[2019-07-17 21:50] AliYoussef96 commented on #1500
Hi @Benjamin-Lee

Can we close the opened issues now?

[2019-07-17 22:38] seanlaw commented on #1504
@mbobra I've added the DOI as a badge a the top of the README.rst. Is that what you mean?

[2019-07-17 23:24] mbobra commented on #1504
@whedon set 10.5281/zenodo.3340125 as archive

[2019-07-17 23:24] whedon commented on #1504
OK. <a href="https://doi.org/10.5281/zenodo.3340125" target="_blank">10.5281/zenodo.3340125</a> is the archive.

[2019-07-17 23:24] mbobra commented on #1504
@whedon set 1.0.0 as version

[2019-07-17 23:25] whedon commented on #1504
OK. 1.0.0 is the version.

[2019-07-17 23:26] mbobra commented on #1504
@whedon check references

[2019-07-17 23:26] whedon commented on #1504
[code]

[2019-07-17 23:26] whedon commented on #1504
[code]

[2019-07-17 23:26] mbobra commented on #1504
@whedon generate pdf

[2019-07-17 23:26] whedon commented on #1504
[code]

[2019-07-17 23:27] whedon commented on #1504
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01504/joss.01504/10.21105.joss.01504.pdf)

[2019-07-17 23:28] mbobra commented on #1504
@openjournals/joss-eics This paper is ready for acceptance! Nice work @seanlaw 🎉

[2019-07-18 00:04] seanlaw commented on #1504
Thanks @mbobra, @hooman650, and @ejolly! This was a wonderful and pleasant submission experience. Hopefully, I will run into you at a conference one day!

[2019-07-18 01:02] xin-huang commented on #1545
Hi @danielskatz

I have merged it into the main branch. Thank you very much.

[2019-07-18 01:10] danielskatz commented on #1545
@whedon generate pdf

[2019-07-18 01:10] whedon commented on #1545
[code]

[2019-07-18 01:13] whedon commented on #1545
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01545/joss.01545/10.21105.joss.01545.pdf)

[2019-07-18 01:15] danielskatz commented on #1545
@whedon accept

[2019-07-18 01:15] whedon commented on #1545
[code]

[2019-07-18 01:18] danielskatz commented on #1504
@whedon accept

[2019-07-18 01:18] whedon commented on #1504
[code]

[2019-07-18 01:18] whedon commented on #1545
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/841

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/841, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-18 01:18] whedon commented on #1504
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/842

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/842, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-18 03:41] FaustinCarter commented on #1532
So I clicked on the invitation and got the following: "Sorry, we couldn't find that repository invitation. It is possible that the invitation was revoked or that you are not logged into the invited account." Strange. I had the privs at one point (I remember accepting the original invitation).

[2019-07-18 04:12] bii-absd commented on #1533
@rabdill - Thanks for your comments!

About automated/manual tests:
Currently, we provide the OMICS datasets for manually testing TIMS software based on the instructions from the quick start guide and user manual.

About authorship:
absd@bii.a-star.edu.sg is a mailing list that comprises of all the authors in the TIMS paper.  Mainly, Weihong Tay (S/W engineer) wrote the TIMS software; Erwin tantos

[2019-07-18 04:14] rabdill commented on #1533
@bii-absd this is very helpful, thank you.

[2019-07-18 05:32] prisae commented on #1463
@danielskatz , does that imply that I'll have to make a new release and mint another Zenodo DOI with it? I am off on vacation right now, I'll do it when I am back on Monday.

[2019-07-18 06:07] katrinekirkeby commented on #1480
The DOI of the zenodo archive is: 10.5281/zenodo.3340382

[2019-07-18 10:05] rougier commented on #1517
Lots of warnings and errors which make it difficult to track the actual error. Among them:

[code]

[2019-07-18 10:13] corybrunson commented on #1434
Hi, i apologize for being absent for several days—i had an unreliable connection over the weekend but i should have mentioned that here and affirmed that i'd be back soon. I'm returning to the outstanding issues now.

[2019-07-18 10:41] sepandhaghighi commented on #1576
@whedon check references

[2019-07-18 10:41] whedon commented on #1576
[code]

[2019-07-18 10:42] whedon commented on #1576
[code]

[2019-07-18 11:33] torressa commented on #1571
@whedon generate pdf

[2019-07-18 11:33] whedon commented on #1571
[code]

[2019-07-18 11:33] whedon commented on #1571
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01571/joss.01571/10.21105.joss.01571.pdf)

[2019-07-18 11:46] deniederhut commented on #1501
Okay cool. I like Prabhu a lot, but I think I can still be sufficiently impartial.

I see that I am supposed to leave comments about the codebase on its own issue tracker - where do I put comments about the paper?

[2019-07-18 11:49] seanlaw commented on #1504
@danielskatz The final proof looks good. Is there anything else that I need to do or is whedon’s command for you to handle? I just want to make sure I am not holding up the process.

<sub>Sent with <a href="http://githawk.com">GitHawk</a></sub>

[2019-07-18 11:50] sepandhaghighi commented on #1576
review in progress, would say "accept with minor revisions".
added 4 issues, after those are closed, this should be ready to accept
silvandeleemput/memcnn/issues/22
silvandeleemput/memcnn/issues/21
silvandeleemput/memcnn/issues/20
silvandeleemput/memcnn/issues/19

[2019-07-18 12:18] danielskatz commented on #1463
no, the paper source doesn't need to be in the repo or if it, it doesn't need to be up to date - we care about the software repo and the pdf of the paper in terms of archiving

[2019-07-18 12:21] danielskatz commented on #1504
It's fine - between being on a plane where I couldn't see the final PDF to check it, and then driving and sleeping, I've just gotten back to it :)

[2019-07-18 12:23] danielskatz commented on #1504
Thanks to @ejolly & @hooman650 for reviewing and to @mbobra for editing

[2019-07-18 12:23] danielskatz commented on #1504
@whedon accept deposit=true

[2019-07-18 12:23] whedon commented on #1504
[code]

[2019-07-18 12:24] whedon commented on #1504
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1151830048950882304) 👈 🐦🐦🐦

[2019-07-18 12:24] whedon commented on #1504
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/843
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01504](https://doi.org/10.21105/joss.01504)
2. If everything looks go

[2019-07-18 12:28] #1504 closed

[2019-07-18 12:28] whedon commented on #1504
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01504/status.svg)](https://doi.org/10.21105/joss.01504)

**We need your help!**

Journal of Open Source Softwar

[2019-07-18 12:29] danielskatz commented on #1545
@whedon accept deposit=true

[2019-07-18 12:29] whedon commented on #1545
[code]

[2019-07-18 12:31] whedon commented on #1545
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1151831781672402945) 👈 🐦🐦🐦

[2019-07-18 12:31] whedon commented on #1545
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/844
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01545](https://doi.org/10.21105/joss.01545)
2. If everything looks go

[2019-07-18 12:33] xuanxu commented on #1501
@deniederhut This is the main issue where the review takes place. You can add comments about the paper here. If you also create issues or pull requests in the submitted software’s issue tracker, please mention/link them here.

[2019-07-18 12:41] danielskatz commented on #1545
Thanks to @stulacy and @suresh-lab for reviewing and to @lpantano for editing!

[2019-07-18 12:41] #1545 closed

[2019-07-18 12:41] whedon commented on #1545
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01545/status.svg)](https://doi.org/10.21105/joss.01545)

**We need your help!**

Journal of Open Source Softwar

[2019-07-18 12:59] whedon commented on #1480
OK. <a href="https://doi.org/10.5281/zenodo.3340382" target="_blank">10.5281/zenodo.3340382</a> is the archive.

[2019-07-18 12:59] arfon commented on #1480
@whedon accept

[2019-07-18 12:59] whedon commented on #1480
[code]

[2019-07-18 13:00] whedon commented on #1480
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/845

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/845, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-18 13:01] arfon commented on #1480
@whedon accept deposit=true

[2019-07-18 13:01] whedon commented on #1480
[code]

[2019-07-18 13:01] whedon commented on #1480
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1151839432309399552) 👈 🐦🐦🐦

[2019-07-18 13:01] whedon commented on #1480
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/846
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01480](https://doi.org/10.21105/joss.01480)
2. If everything looks go

[2019-07-18 13:16] arfon commented on #1480
@kellieotto, @dhhagan - many thanks for your reviews here and to @jasonclark for editing this submission.

@katrinekirkeby - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-07-18 13:16] #1480 closed

[2019-07-18 13:16] whedon commented on #1480
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01480/status.svg)](https://doi.org/10.21105/joss.01480)

**We need your help!**

Journal of Open Source Softwar

[2019-07-18 13:26] ethanwhite commented on #1550
I'd be happy to review this. Not sure I can guarantee 3 weeks as I have some travel coming up, but 4 should be doable.

[2019-07-18 13:40] dvberkel commented on #1531
I am giving the all green from my side :+1:

[2019-07-18 13:44] gkthiruvathukal commented on #1522
@daissi I'm going to go ahead and add you for now so I can get started. Given that this is summer and many people are busy, I'm noticing that many reviews are taking longer. You'l be the second reviewer with @cole-brokamp, who is also on some travel.

[2019-07-18 13:44] gkthiruvathukal commented on #1522
@whedon assign @cole-brokamp as reviewer

[2019-07-18 13:45] whedon commented on #1522
OK, the reviewer is @cole-brokamp

[2019-07-18 13:45] vsoch commented on #1574
hey @leouieda ! Yes I'd be happy to review this. If I don't have time soon I definitely will in the coming week!

[2019-07-18 13:45] gkthiruvathukal commented on #1522
@whedon assign @daissi as reviewer

[2019-07-18 13:45] whedon commented on #1522
OK, the reviewer is @daissi

[2019-07-18 13:45] gkthiruvathukal commented on #1522
@whedon start review

[2019-07-18 13:45] whedon opened #1578 "[REVIEW]: Singularity Compose: Orchestration for Singularity Instances"
**Submitting author:** @vsoch (<a href="http://orcid.org/0000-0002-4387-3819">Vanessa Sochat</a>)
**Repository:** <a href="https://github.com/singularityhub/singularity-compose" target ="_blank">https://github.com/singularityhub/singularity-compose</a>
**Version:** 0.0.15
**Editor:** @gkthiruvathukal
**Reviewer:** @daissi
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/1fc

[2019-07-18 13:45] whedon commented on #1522
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1578. Feel free to close this issue now!

[2019-07-18 13:45] whedon commented on #1578
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @daissi it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watc

[2019-07-18 13:45] whedon commented on #1578
[code]

[2019-07-18 13:45] #1522 closed

[2019-07-18 13:45] whedon commented on #1578
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01578/joss.01578/10.21105.joss.01578.pdf)

[2019-07-18 13:48] gkthiruvathukal commented on #1337
@JedS6391 I find your efforts satisfactory as there is now a basis for doing further testing in future work. If our reviewer, @homonecloco, agrees, I would like to move toward accepting your submission. Once we hear from @homonecloco, you will need to create a Zenodo archive.

[2019-07-18 13:49] gkthiruvathukal commented on #1531
@whedon commands

[2019-07-18 13:49] whedon commented on #1531
Here are some things you can ask me to do:

[code]

[2019-07-18 13:50] gkthiruvathukal commented on #1531
@whedon set 10.5281/zenodo.3336380 as archive

[2019-07-18 13:50] whedon commented on #1531
OK. <a href="https://doi.org/10.5281/zenodo.3336380" target="_blank">10.5281/zenodo.3336380</a> is the archive.

[2019-07-18 13:50] vsoch commented on #1578
Thanks whedon! The content of the paper looks good, but there are "nd-(a-c)" that likely I can fix by adding a date.

[2019-07-18 13:52] gkthiruvathukal commented on #1494
@omoliavko I think that is all we need to move toward acceptance. Please let all of us (me and the reviewers) know when the test sequence/scenarios and documentation are ready.

[2019-07-18 13:54] gkthiruvathukal commented on #1326
@Amudtogal Just checking whether you had a chance to address the error code propagation comment from @CameronDevine.

[2019-07-18 13:55] vsoch commented on #1578
@whedon generate pdf

[2019-07-18 13:55] whedon commented on #1578
[code]

[2019-07-18 13:56] whedon commented on #1578
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01578/joss.01578/10.21105.joss.01578.pdf)

[2019-07-18 14:00] cole-brokamp commented on #1578
@gkthiruvathukal -- should I be using this issue to review in also?  i think @whedon forgot to add me? 🤷‍♂

[2019-07-18 14:07] Amudtogal commented on #1326
@gkthiruvathukal Sorry, I didn't propagate the information over here. I did fix the error propagation based on the [Pull Request from CameronDevine](https://github.com/Amudtogal/phobos/pull/1). Next up will be fixing the errors within the test scripts. After that, I will apply some polishing to the messy git history on my fork and push it to the Phobos master.
The current build (finally failing wh

[2019-07-18 14:18] hugoledoux commented on #1530
I clicked above what is working, and left some blanks, these are linked to the comments below.

## version
the github page doesn't have an official release (nor tags!).

## installation
the first install returned an error because I didn't have numpy installed, I needed to install it myself. You should install it as a dependencies (other packages were installed automatically). I see now it's in the

[2019-07-18 14:59] arfon commented on #1532
Hi @FaustinCarter, apologies for causing you trouble here. It turns out there was a bug in our invite codes which didn't account for GitHub usernames with mixed cases (like yours). I've just fixed this an re-invited you to this repository (https://github.com/openjournals/joss-reviews/invitations).

My apologies again for any time wasted here but I believe this should now be fixed :-)

[2019-07-18 15:43] dap-biospec commented on #1532
@FaustinCarter  Thanks for recommendations. The purpose of two versions is to keep work space clean for those who do not need development, but the point is taken. I will look in to moving internal code into an independent module, as we have done for G3F (https://github.com/dap-biospec/G3F). There, we have a single main code file while and all support  code is loaded via includes and  is hidden unl

[2019-07-18 15:49] CamDavidsonPilon commented on #1317
Missing DOI entry: https://github.com/CamDavidsonPilon/lifelines/blob/master/paper/paper.bib#L144-L153

Latest version is [0.21.1](https://github.com/CamDavidsonPilon/lifelines/blob/155e9bb9e913e19858a91885a36ac844931c1eee/lifelines/version.py#L4)

[2019-07-18 16:46] martibosch commented on #1511
Regarding the comment on authorship: this library has been created in the context of my PhD thesis, which is why I included my thesis supervisor as second author. Nevertheless, since this paper is not central to my thesis it is not necessary that he appears here as I am indeed the sole contributor to the library. I have therefore changed the paper accordingly in [1c8f888](https://github.com/martib

[2019-07-18 16:52] leouieda commented on #1511
@martibosch we don't require all authors to be package contributors since there are non-code contributions that merit authorship but aren't registered in the git log. I'll leave the final decision up to you.

[2019-07-18 17:48] kyleniemeyer commented on #1568
@arfon yep, I'll take this one

[2019-07-18 17:48] kyleniemeyer commented on #1568
@whedon assign @kyleniemeyer as editor

[2019-07-18 17:48] whedon commented on #1568
OK, the editor is @kyleniemeyer

[2019-07-18 17:49] kyleniemeyer commented on #1568
@dap-biospec could you merge @arfon's PR for your paper fix, so that we can compile it here?

[2019-07-18 18:41] dap-biospec commented on #1568
@whedon generate pdf

[2019-07-18 18:41] whedon commented on #1568
[code]

[2019-07-18 18:41] whedon commented on #1568
PDF failed to compile for issue #1568 with the following error:

 Error reading bibliography ./paper.bib (line 25, column 9):
unexpected "a"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-18 18:46] dap-biospec commented on #1568
@whedon generate pdf

[2019-07-18 18:46] whedon commented on #1568
[code]

[2019-07-18 18:46] whedon commented on #1568
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01568/joss.01568/10.21105.joss.01568.pdf)

[2019-07-18 18:49] whedon opened #1579 "[PRE REVIEW]: Simple-Web-Server: a fast and flexible HTTP/1.1 C++ client and server library"
**Submitting author:** @eidheim (<a href="http://orcid.org/0000-0001-5355-6326">Ole Christian Eidheim</a>)
**Repository:** <a href="https://gitlab.com/eidheim/Simple-Web-Server" target ="_blank">https://gitlab.com/eidheim/Simple-Web-Server</a>
**Version:** v3.0
**Editor:** @gkthiruvathukal
**Reviewers:** @ts-adi

**Author instructions**

Thanks for submitting your paper to JOSS @eidheim. **Current

[2019-07-18 18:49] whedon commented on #1579
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-18 18:49] whedon commented on #1579
[code]

[2019-07-18 18:50] whedon commented on #1579
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01579/joss.01579/10.21105.joss.01579.pdf)

[2019-07-18 18:50] danielskatz commented on #1579
@gkthiruvathukal - would you be willing to edit this submission?

[2019-07-18 18:51] whedon opened #1580 "[PRE REVIEW]: DOENOVA: Simple DOE and ANOVA package for Python 3"
**Submitting author:** @fblavoie (<a href="http://orcid.org/0000-0003-4574-1315">Francis B Lavoie</a>)
**Repository:** <a href="https://github.com/fblavoie/doenova" target ="_blank">https://github.com/fblavoie/doenova</a>
**Version:** 0.1.3
**Editor:** @usethedata
**Reviewers:** @klmedeiros

**Author instructions**

Thanks for submitting your paper to JOSS @fblavoie. **Currently, there isn't an JO

[2019-07-18 18:51] whedon commented on #1580
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-18 18:51] whedon commented on #1580
[code]

[2019-07-18 18:51] whedon commented on #1580
PDF failed to compile for issue #1580 with the following error:

 Can't find any papers to compile :-(

[2019-07-18 18:52] dap-biospec commented on #1568
@whedon generate pdf

[2019-07-18 18:52] whedon commented on #1568
[code]

[2019-07-18 18:52] whedon commented on #1568
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01568/joss.01568/10.21105.joss.01568.pdf)

[2019-07-18 18:53] danielskatz commented on #1580
@fblavoie - please change manuscript.md to paper.md to whedon can find it

[2019-07-18 18:54] danielskatz commented on #1580
@mgymrek - would you be willing to edit this submission?

[2019-07-18 18:54] whedon opened #1581 "[PRE REVIEW]: datacleanbot: an automated data cleaning tool"
**Submitting author:** @Ji-Zhang (<a href="http://orcid.org/0000-0002-4913-518X">Ji Zhang</a>)
**Repository:** <a href="https://github.com/Ji-Zhang/datacleanbot" target ="_blank">https://github.com/Ji-Zhang/datacleanbot</a>
**Version:** v0.4
**Editor:** @usethedata
**Reviewers:** @kellieotto

**Author instructions**

Thanks for submitting your paper to JOSS @Ji-Zhang. **Currently, there isn't an J

[2019-07-18 18:54] whedon commented on #1581
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-18 18:54] whedon commented on #1581
[code]

[2019-07-18 18:55] whedon commented on #1581
PDF failed to compile for issue #1581 with the following error:

 sh: 0: getcwd() failed: No such file or directory
pandoc: 10.21105.joss.01581.pdf: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2019-07-18 18:55] dap-biospec commented on #1568
@whedon generate pdf

[2019-07-18 18:55] whedon commented on #1568
[code]

[2019-07-18 18:56] danielskatz commented on #1581
@whedon generate pdf

[2019-07-18 18:56] whedon commented on #1581
[code]

[2019-07-18 18:56] whedon commented on #1568
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01568/joss.01568/10.21105.joss.01568.pdf)

[2019-07-18 18:57] whedon commented on #1581
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01581/joss.01581/10.21105.joss.01581.pdf)

[2019-07-18 18:57] danielskatz commented on #1581
@usethedata - would you be willing to edit this submission?

[2019-07-18 18:57] dap-biospec commented on #1568
@kyleniemeyer patch and compilation are done.

[2019-07-18 18:57] whedon opened #1582 "[PRE REVIEW]: rtdpy: A python package for residence time distributions"
**Submitting author:** @MatthewFlamm (<a href="http://orcid.org/0000-0002-2040-5481">Matthew Flamm</a>)
**Repository:** <a href="https://github.com/Merck/rtdpy" target ="_blank">https://github.com/Merck/rtdpy</a>
**Version:** v0.5
**Editor:** @xuanxu
**Reviewers:** @ctdegroot, @dandavies99

**Author instructions**

Thanks for submitting your paper to JOSS @MatthewFlamm. **Currently, there isn't an

[2019-07-18 18:58] whedon commented on #1582
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-18 18:58] whedon commented on #1582
[code]

[2019-07-18 18:58] whedon commented on #1582
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01582/joss.01582/10.21105.joss.01582.pdf)

[2019-07-18 18:59] danielskatz commented on #1582
👋 @xuanxu - would you be willing to edit this submission?

[2019-07-18 19:04] xuanxu commented on #1582
@danielskatz I’m going to be ooo for a couple of weeks, so I think it’d be better to have another person editing this (but feel free to assign it to me if you can’t find anyone else).

[2019-07-18 19:05] gkthiruvathukal commented on #1579
@danielskatz Yes, I will edit this one.

[2019-07-18 19:07] danielskatz commented on #1579
@whedon assign @gkthiruvathukal as editor

[2019-07-18 19:07] whedon commented on #1579
OK, the editor is @gkthiruvathukal

[2019-07-18 19:08] danielskatz commented on #1579
@gkthiruvathukal - in case you didn't know, you can do this (assign yourself as editor) too...

[2019-07-18 19:10] whedon opened #1583 "[PRE REVIEW]: ivis: dimensionality reduction in very large datasets using Siamese Networks"
**Submitting author:** @beringresearch (<a href="http://orcid.org/0000-0001-6727-4688">Ignat Drozdov</a>)
**Repository:** <a href="https://github.com/beringresearch/ivis" target ="_blank">https://github.com/beringresearch/ivis</a>
**Version:** v1.2.3
**Editor:** @lpantano
**Reviewers:** @SaskiaFreytag, @kevinrue

**Author instructions**

Thanks for submitting your paper to JOSS @beringresearch. **

[2019-07-18 19:10] whedon commented on #1583
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-18 19:10] whedon commented on #1583
[code]

[2019-07-18 19:10] whedon commented on #1583
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01583/joss.01583/10.21105.joss.01583.pdf)

[2019-07-18 19:10] danielskatz commented on #1583
👋 @lpantano - you've been suggested as the editor - are you willing to do so?

[2019-07-18 19:33] Ji-Zhang commented on #1581
@whedon generate pdf

[2019-07-18 19:33] whedon commented on #1581
[code]

[2019-07-18 19:34] whedon commented on #1581
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01581/joss.01581/10.21105.joss.01581.pdf)

[2019-07-18 19:36] danielskatz commented on #1182
👋 @hauschke - please note the comment above...

[2019-07-18 19:38] danielskatz commented on #1582
@xuanxu - if it's just 2 weeks, I think given the balance of submissions and editors, I would prefer for you to handle this one.

[2019-07-18 19:41] sepandhaghighi commented on #1576
@whedon check references

[2019-07-18 19:41] whedon commented on #1576
[code]

[2019-07-18 19:42] whedon commented on #1576
[code]

[2019-07-18 19:58] leouieda commented on #1574
@whedon assign @vsoch as reviewer

[2019-07-18 19:58] whedon commented on #1574
OK, the reviewer is @vsoch

[2019-07-18 19:58] gkthiruvathukal commented on #1579
Thanks for letting me know! I will do that next time, @danielskatz.

[2019-07-18 19:58] leouieda commented on #1574
@vsoch thank you! :tada:

[2019-07-18 20:08] ts-adi commented on #1531
Appreciate all your help with this @dvberkel !

@gkthiruvathukal thanks for setting the archive. What happens next?

[2019-07-18 20:32] maxibor commented on #1540
@whedon commands

[2019-07-18 20:32] whedon commented on #1540
Here are some things you can ask me to do:

[code]

[2019-07-18 20:32] maxibor commented on #1540
@whedon generate pdf

[2019-07-18 20:32] whedon commented on #1540
[code]

[2019-07-18 20:33] whedon commented on #1540
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01540/joss.01540/10.21105.joss.01540.pdf)

[2019-07-18 20:52] FaustinCarter commented on #1532
@dap-biospec Sounds good. I'm generally open to anything that doesn't require moving files around after the repository is cloned/downloaded.

[2019-07-18 23:00] gkthiruvathukal commented on #1531
@ts-adi I will follow up shortly. We have a few final checks, which I will post when I get back to work tomorrow. We should have this wrapped up soon.

[2019-07-18 23:10] gkthiruvathukal commented on #1531
Ok, so here is the final checklist. Can you please do the following? (This is something I am doing for all submissions now, so you can just check the ones you already did above.)

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check the Zenodo deposit has the correct metadata, this includes th

[2019-07-19 00:16] DominiqueMakowski commented on #1541
Dear @paul-buerkner, thanks a lot for your comments! We addressed them in [this PR](https://github.com/easystats/bayestestR/pull/197#issue-297553261):

Please note that there are still some references for which we did not find a DOI: we continue our search in the meantime. We hope you will find the revised version satisfying ☺️

[2019-07-19 00:40] tristan-salles commented on #1530
Thanks for the review @hugoledoux !!!

## version

I was waiting for the end of the JOSS review process before creating the **bioLEC** version. This is now done and its tagged as [ **v1.0.0**](https://github.com/Geodels/bioLEC/releases/tag/v1.0.0) to match the Python package version.

## installation

Hum.. this is weird, I did try a clean install and it worked fine but I have seen a few posts on

[2019-07-19 00:50] lpantano commented on #1583
Sure.

[2019-07-19 02:09] usethedata commented on #1513
@whedon generate pdf

[2019-07-19 02:10] whedon commented on #1513
[code]

[2019-07-19 02:10] whedon commented on #1513
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01513/joss.01513/10.21105.joss.01513.pdf)

[2019-07-19 02:10] usethedata commented on #1513
@whedon check references

[2019-07-19 02:10] whedon commented on #1513
[code]

[2019-07-19 02:11] whedon commented on #1513
[code]

[2019-07-19 02:12] usethedata commented on #1581
@whedon assign @usethedata as editor

[2019-07-19 02:12] whedon commented on #1581
OK, the editor is @usethedata

[2019-07-19 02:20] usethedata commented on #1513
@fiveop Please go ahead and create the Zenodo archive and report the DOI back into this thread.

[2019-07-19 02:28] usethedata commented on #1581
@Ji-Zhang Thanks for your submission.  In reading through it, one thing I notice is that there's no contributor information.  Part of the expectation is under the heading of community guidelines:

    There should be clear guidelines for third-parties wishing to:

    * Contribute to the software
    * Report issues or problems with the software
    * Seek support

I'm not seeing information about

[2019-07-19 02:34] MatthewFlamm commented on #1582
I've looked through the reviewer list.  Only as suggestions: both @ctdegroot and @arosen93 have chemical engineering, which would be the main applicable area for this package, listed under Domains/Topics and Python listed under Preferred Programming Language.

Look forward to the process.

[2019-07-19 02:42] ctdegroot commented on #1582
Yep, this is in my area. I’d be happy to review it.

[2019-07-19 02:53] arosen93 commented on #1582
Unfortunately a fair bit out of my comfort zone, so I will have to decline, but thanks for the suggestion. Best of luck with the submission.

[2019-07-19 05:53] paul-buerkner commented on #1541
Looks good to me.

[2019-07-19 08:23] ts-adi commented on #1531
@whedon set v1.2.1 as version

[2019-07-19 08:23] whedon commented on #1531
I'm sorry @ts-adi, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-07-19 08:27] ts-adi commented on #1531
@gkthiruvathukal Here's the checklist. The only remaining step as I see it is setting the version here to 1.2.1 to match the zenodo archive. Looks like only you can instruct @whedon to do so.

 * [x] Make a tagged release of your software, and list the version tag of the archived version here.

 * [x] Archive the reviewed software in Zenodo

 * [x] Check the Zenodo deposit has the correct metadata

[2019-07-19 10:20] danielskatz commented on #1582
@whedon assign @xuanxu as editor

[2019-07-19 10:20] whedon commented on #1582
OK, the editor is @xuanxu

[2019-07-19 10:21] danielskatz commented on #1582
@ctdegroot - sorry for delay, but we will wait until @xuanxu is available (a couple of weeks before starting the review)

[2019-07-19 10:46] Ji-Zhang commented on #1581
@usethedata Thank you for reminding that. I just added the contributing.md file.

Regarding the reviewers, I am wondering if @rgmyr or @kellieotto is willing to be the reviewer. The tool is written in Python,  any reviewer familiar with machine learning, data science or data visualization is welcomed.

[2019-07-19 12:18] arfon commented on #1387
:wave: @lpueyo - please come and take a look at these changes when you get a chance and let us know if these meet your concerns/feedback on this submission.

[2019-07-19 12:43] danielskatz commented on #1583
@whedon assign @lpantano as editor

[2019-07-19 12:43] whedon commented on #1583
OK, the editor is @lpantano

[2019-07-19 12:45] danielskatz commented on #1571
👋 @poulson - you've been requested as the editor - are you willing to serve as such?

[2019-07-19 12:46] danielskatz commented on #1561
👋 @j-braun - note that we are waiting for your reply here...

[2019-07-19 12:47] danielskatz commented on #1487
👋 @tesch1, please update us on how things are progressing here.

[2019-07-19 12:57] santisoler commented on #1544
@lheagy I have checked off all my boxes, so I consider `pycurious` to be ready for publication.

Thanks for letting me review it, and thanks to the authors @brmather and @rdelhaye for the quick response to every issue I opened. I enjoy the open review system because it offers a great opportunity to learn from each other and help improving ourselves.

[2019-07-19 13:03] omoliavko commented on #1494
@gkthiruvathukal @federeghe @gradvohl We have added a document describing test suite for mTower - it can be found at docs/mtower_test_suite_description.md in project repository. Tests cover the client API functions and some of internal API functions. Some of the functions are difficult to test because they are supposed to be critical, that is, their failures are unrecoverable, and if they fail, sy

[2019-07-19 13:04] arfon commented on #1564
Hi @crvernon - thanks for the response. Even though this looks like very useful (and well written) software, unfortunately this submission is out of scope for JOSS.

We'd welcome future submissions that meet our [submission criteria](https://joss.readthedocs.io/en/latest/submitting.html#submission-requirements).

[2019-07-19 13:04] #1564 closed

[2019-07-19 13:04] trallard commented on #1317
@whedon set version as 0.21.1

[2019-07-19 13:04] trallard commented on #1317
@whedon generate pdf

[2019-07-19 13:04] whedon commented on #1317
[code]

[2019-07-19 13:05] whedon commented on #1317
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01317/joss.01317/10.21105.joss.01317.pdf)

[2019-07-19 13:05] trallard commented on #1317
@whedon check references

[2019-07-19 13:05] whedon commented on #1317
[code]

[2019-07-19 13:05] trallard commented on #1317
@whedon set 0.21.1 as version

[2019-07-19 13:05] whedon commented on #1317
OK. 0.21.1 is the version.

[2019-07-19 13:06] whedon commented on #1317
[code]

[2019-07-19 13:06] trallard commented on #1317
@whedon set 10.5281/zenodo.805993 as archive

[2019-07-19 13:06] whedon commented on #1317
OK. <a href="https://doi.org/10.5281/zenodo.805993" target="_blank">10.5281/zenodo.805993</a> is the archive.

[2019-07-19 13:07] trallard commented on #1317
@whedon accept

[2019-07-19 13:07] whedon commented on #1317
[code]

[2019-07-19 13:07] whedon commented on #1317
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/847

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/847, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-19 13:09] trallard commented on #1317
@CamDavidsonPilon Lifelines has been accepted to JOSS 🎉🎉

@becarioprecario and @sunhwan thanks for the time and effort put in this review. Your contribution to JOSS is deeply appreciated. 🙏🏼🙌🏼🙂

@openjournals/joss-eics this paper is ready for acceptance 👾

[2019-07-19 13:10] trallard commented on #1317
@whedon accept deposit=true

[2019-07-19 13:10] whedon commented on #1317
I'm sorry @trallard, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-07-19 13:12] trallard commented on #1539
@whedon remind @melund in 2 weeks

[2019-07-19 13:12] whedon commented on #1539
Reminder set for @melund in 2 weeks

[2019-07-19 13:12] trallard commented on #1390
@whedon check references

[2019-07-19 13:12] whedon commented on #1390
[code]

[2019-07-19 13:12] trallard commented on #1390
@whedon generate pdf

[2019-07-19 13:12] whedon commented on #1390
[code]

[2019-07-19 13:13] whedon commented on #1390
[code]

[2019-07-19 13:13] whedon commented on #1390
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01390/joss.01390/10.21105.joss.01390.pdf)

[2019-07-19 13:13] trallard commented on #1390
@whedon set 1.5.1 as version

[2019-07-19 13:13] whedon commented on #1390
OK. 1.5.1 is the version.

[2019-07-19 13:16] trallard commented on #1390
@whedon set 10.5281/zenodo.2527058 as archive

[2019-07-19 13:16] whedon commented on #1390
OK. <a href="https://doi.org/10.5281/zenodo.2527058" target="_blank">10.5281/zenodo.2527058</a> is the archive.

[2019-07-19 13:16] trallard commented on #1390
@whedon accept

[2019-07-19 13:16] whedon commented on #1390
[code]

[2019-07-19 13:17] whedon commented on #1390
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/848

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/848, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-19 13:21] danielskatz commented on #1317
@trallard - you've jumped the gun slightly.  Let's say that you believe Lifelines is ready to be accepted to JOSS - now @openjournals/joss-eics need to do some final checks.

[2019-07-19 13:22] trallard commented on #1317
ooops wrong wording you are correct!!! sorry!

[2019-07-19 13:23] rbatorsky commented on #1547
@whedon start review

[2019-07-19 13:24] whedon commented on #1547
I'm sorry @rbatorsky, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-07-19 13:24] rbatorsky commented on #1547
ok, I thought that might happen! @lpantano please start the review when you can.

[2019-07-19 13:27] trallard commented on #1390
@pierrepo  I have made a PR for a missing DOI, can you please merge for me to make some final checks before sending over to the editor in chief?

[2019-07-19 13:32] pierrepo commented on #1390
@trallard thanks for fixing this ref. It's very kind!
PR merged.

[2019-07-19 13:41] danielskatz commented on #1317
@CamDavidsonPilon - please accept the changes in https://github.com/CamDavidsonPilon/lifelines/pull/781, or disagree with the ones that are not adding needed spaces :)

[2019-07-19 13:46] crvernon commented on #1564
@arfon thanks for the consideration.  Do I need to do anything to withdraw my submission?  Or do you simply close the issue?  Thanks!

[2019-07-19 14:01] kellyrowland commented on #1486
Hi @katyhuff - it looks like we're all set on the review here. What are the next steps?

[2019-07-19 14:42] arfon commented on #1564
No, I can do this for you.

[2019-07-19 14:45] darribas commented on #1511
Yes, my question wasn't a demand but much more in line with @leouieda's view. It was just raising bringing it up...

[2019-07-19 14:46] lpantano commented on #1547
@whedon as @olgabot as reviewer

[2019-07-19 14:46] lpantano commented on #1547
@whedon add @olgabot as reviewer

[2019-07-19 14:46] whedon commented on #1547
OK, @olgabot is now a reviewer

[2019-07-19 14:46] lpantano commented on #1547
@whedon start review

[2019-07-19 14:46] whedon opened #1584 "[REVIEW]: SODAR Core"
**Submitting author:** @mikkonie (<a href="http://orcid.org/0000-0002-4180-8810">Mikko Nieminen</a>)
**Repository:** <a href="https://github.com/bihealth/sodar_core" target ="_blank">https://github.com/bihealth/sodar_core</a>
**Version:** v0.8.4
**Editor:** @lpantano
**Reviewer:** @rbatorsky, @olgabot
**Archive:** <a href="https://doi.org/10.5281/zenodo.4269347" target="_blank">10.5281/zenodo.4269

[2019-07-19 14:46] whedon commented on #1547
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1584. Feel free to close this issue now!

[2019-07-19 14:46] whedon commented on #1584
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rbatorsky, @olgabot it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-07-19 14:46] whedon commented on #1584
[code]

[2019-07-19 14:47] whedon commented on #1584
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01584/joss.01584/10.21105.joss.01584.pdf)

[2019-07-19 14:47] #1547 closed

[2019-07-19 15:02] gavinmdouglas commented on #1540
Hey @lpantano - There a small number of minor changes to the documentation that I think should be made, but all of my major comments have been addressed. Note that DOIs are not available for two of the references apparently.

[2019-07-19 15:07] katyhuff commented on #1486
Thanks for your patience, I've been on travel. I'll do a few final checks.

[2019-07-19 15:07] katyhuff commented on #1486
@whedon check references

[2019-07-19 15:08] whedon commented on #1486
[code]

[2019-07-19 15:08] whedon commented on #1486
[code]

[2019-07-19 15:19] katyhuff commented on #1461
I'm sorry @haptork . I am sorry to say that our reviewers seem to be quite paused and I'm looking for new ones. Summer travel schedules seem to be keeping many people from committing.

@arose I know you have begun your review. If you intend to complete it, please respond today.

[2019-07-19 15:54] katyhuff commented on #1486
@ryanstwrt thanks for your submission. I'm going through some final checks and a few things popped up.

- [ ] Are there any individuals who have made substantive contributions to this work who are not included in the author list? Some roles in a project warrant co-authorship, and some do not. Really, only the community around the project can decide this. I often consider people who satisfy the rol

[2019-07-19 15:57] ajgates42 commented on #1548
Thanks for the invite @poulson.  Looks like a fun project, I would be happy to review it.

[2019-07-19 16:09] madvn commented on #1548
@ajgates42 Thanks! Looking forward to hearing your feedback on the project.

@poulson We are continuing to use this project in our research and we have discovered that with some minor changes the multivariate analyses methods in this package can be extended from bi-variate to tri-variate analyses. This would significantly increase the value of the package because, to our knowledge, there are no pu

[2019-07-19 16:29] lpantano commented on #1540
Thank you, @gavinmdouglas, for all the work. @maxibor, are you willing to make the changes to the documentation as the reviewer suggest?

[2019-07-19 18:34] lheagy commented on #1328
Thanks @zhangning737! And sorry for my delay, I just returned from a conference.  The archive looks good!

[2019-07-19 18:34] lheagy commented on #1328
@whedon set 10.5281/zenodo.3335406 as archive

[2019-07-19 18:34] whedon commented on #1328
OK. <a href="https://doi.org/10.5281/zenodo.3335406" target="_blank">10.5281/zenodo.3335406</a> is the archive.

[2019-07-19 18:41] lheagy commented on #1328
:wave: @openjournals/jose-eics, this submission is ready to be published! One reviewer did not fully complete the review, so please let me know if you need me to jump in and explicitly check off those items as a third reviewer. Thanks!

[2019-07-19 18:47] tesch1 commented on #1487
@whedon generate pdf from branch paper-3

@StewMH - did you ever get it to compile?  Some Eigen constructs can be quite demanding on compiler memory, especially in newer (> 3.3.7) versions.

I've updated https://gitlab.com/tesch1/cppduals/issues/4 and merged changes into the master branch (which is currently building).

Regarding licensing, have changed everything to MPL-2 for simplicity's sake.

[2019-07-19 18:47] whedon commented on #1487
[code]

[2019-07-19 18:48] whedon commented on #1487
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01487/joss.01487/10.21105.joss.01487.pdf)

[2019-07-19 18:51] tesch1 commented on #1487
@danielskatz  It would appear that whedon does not correctly use custom branches from gitlab when generating pdfs (or I did the syntax wrong above?)

[2019-07-19 18:51] lpantano commented on #1540
@whedone remove @giraola as reviewer

[2019-07-19 18:51] lpantano commented on #1540
@whedon remove @giraola as reviewer

[2019-07-19 18:51] whedon commented on #1540
OK, @giraola is no longer a reviewer

[2019-07-19 18:51] lpantano commented on #1540
@whedon add @giraola as reviewer

[2019-07-19 18:51] whedon commented on #1540
OK, @giraola is now a reviewer

[2019-07-19 19:06] danielskatz commented on #1487
What didn't work?  It looks like whedon generated a PDF.  Is it not from the right branch?

[2019-07-19 19:07] lheagy commented on #1544
Excellent, many thanks @santisoler and @jessepisel for taking time to review!! 🎉

@brmather, I have started a pull request with a few small corrections to the paper. I would also request that in the first paragraph, you give make a few more connections as to why the Curie depth is of interest when interpreting magnetic data. For example in or after the second sentence: would you mind adding some d

[2019-07-19 19:08] tesch1 commented on #1487
It is not from the right branch.

[2019-07-19 19:09] danielskatz commented on #1487
👋 @arfon - can you help on this

[2019-07-19 20:14] gus0k commented on #1575
Is there anything I should be doing?

[2019-07-19 21:48] arfon commented on #1487
What branch were you expecting changes from?

[2019-07-19 21:48] arfon commented on #1487
@whedon generate pdf from branch paper-3

[2019-07-19 21:48] whedon commented on #1487
[code]

[2019-07-19 21:49] whedon commented on #1487
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01487/joss.01487/10.21105.joss.01487.pdf)

[2019-07-19 22:30] tesch1 commented on #1487
so... it works when you do it, or it was queued up somewhere and didn't complete / wasn't available until sometime after whedon posted 'Check article proof'  I'm quite certain that the link above (after I sent the whedon command) had the wrong version.

[2019-07-19 22:34] danielskatz commented on #1487
every once in a while, my safari seems to get confused and delivers a cached version...

[2019-07-19 22:39] danielskatz commented on #1487
but glad it's ok now.

Can you let us know where you think things are in terms of addressing comments from the reviewers?

[2019-07-20 00:06] ryanstwrt commented on #1486
@katyhuff Thanks for the comments. I've updated both the YAML and Gen IV citation to be more specific and provide a better reference for those who are interested. Along with this, I have added a few sentence presenting some work that has already been with MCNP and differentiating FRIDGe from these resources. I did take a look at CRediT and while Dr. Palmer has been instrumental in helping as a gra

[2019-07-20 00:11] ryanstwrt commented on #1486
@whedon generate pdf

[2019-07-20 00:11] whedon commented on #1486
[code]

[2019-07-20 00:11] whedon commented on #1486
PDF failed to compile for issue #1486 with the following error:

 Error reading bibliography ./paper.bib (line 49, column 1):
unexpected "@"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-20 00:14] ryanstwrt commented on #1486
@whedon generate pdf

[2019-07-20 00:14] whedon commented on #1486
[code]

[2019-07-20 00:15] whedon commented on #1486
PDF failed to compile for issue #1486 with the following error:

 Error reading bibliography ./paper.bib (line 49, column 12):
unexpected "("
expecting letter, white space or "{"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-20 00:17] ryanstwrt commented on #1486
@whedon generate pdf

[2019-07-20 00:17] whedon commented on #1486
[code]

[2019-07-20 00:18] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-07-20 00:20] ryanstwrt commented on #1486
@whedon generate pdf

[2019-07-20 00:20] whedon commented on #1486
[code]

[2019-07-20 00:20] whedon commented on #1486
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01486/joss.01486/10.21105.joss.01486.pdf)

[2019-07-20 02:30] alexanderimanicowenrivers commented on #1524
Thanks for the reviews @desilinguist and @paragkulkarni11

@desilinguist - We have resolved and closed both issues, providing clearer documentation with working examples, as well as an improved initialisation script. We are indeed targetting the RL researcher, rather than a novice. The idea is for this codebase to be used specifically for RL research, rather than for industrial systems (although i

[2019-07-20 02:47] arokem commented on #1478
@whedon set 10.5281/zenodo.3339548 as archive

[2019-07-20 02:48] whedon commented on #1478
OK. <a href="https://doi.org/10.5281/zenodo.3339548" target="_blank">10.5281/zenodo.3339548</a> is the archive.

[2019-07-20 07:00] brmather commented on #1544
Many thanks to @santisoler and @jessepisel for their extremely helpful reviews of `pycurious`. I have found JOSS' interactive review process very useful in improving software so that it is useful to as many people as possible. I have learnt a lot and will apply these practises to the other projects I'm actively working on. I thank the reviewers for the time they have spent on providing advice and

[2019-07-20 07:05] brmather commented on #1544
@whedon generate pdf from branch lheagy-patch-1

[2019-07-20 07:05] whedon commented on #1544
[code]

[2019-07-20 07:06] whedon commented on #1544
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01544/joss.01544/10.21105.joss.01544.pdf)

[2019-07-20 15:27] whedon opened #1585 "[PRE REVIEW]: ORIS: An interactive software tool for prediction of replication origin in prokaryotic genomes"
**Submitting author:** @urmi-21 (<a href="http://orcid.org/0000-0003-3703-0820">Urminder Singh</a>)
**Repository:** <a href="https://github.com/urmi-21/ORIS" target ="_blank">https://github.com/urmi-21/ORIS</a>
**Version:** v1.0
**Editor:** @csoneson
**Reviewers:** @jdeligt, @holtgrewe

**Author instructions**

Thanks for submitting your paper to JOSS @urmi-21. **Currently, there isn't an JOSS edi

[2019-07-20 15:27] whedon commented on #1585
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-20 15:27] whedon commented on #1585
[code]

[2019-07-20 15:27] whedon commented on #1585
PDF failed to compile for issue #1585 with the following error:

 Can't find any papers to compile :-(

[2019-07-20 15:28] danielskatz commented on #1585
@whedon generate pdf

[2019-07-20 15:28] whedon commented on #1585
[code]

[2019-07-20 15:28] whedon commented on #1585
PDF failed to compile for issue #1585 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1585/paper/paper.md): did not find expected key while parsing a block mapping at line 2 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2019-07-20 15:28] danielskatz commented on #1585
👋 @csoneson - you've been requested as the editor - are you willing to edit this submission?

[2019-07-20 15:33] danielskatz commented on #1585
👋 @urmi-21 - A fix for the paper compilation issues might be in https://github.com/urmi-21/ORIS/pull/2  Please merge this and see if it fixes the problem, by adding a comment here that says ```@whedon generate pdf``` - feel free to iterate

[2019-07-20 15:34] whedon opened #1586 "[PRE REVIEW]: Spruceup: fast and flexible identification, visualization, and removal of outliers from large multiple sequence alignments"
**Submitting author:** @marekborowiec (<a href="http://orcid.org/0000-0001-7510-4064">Marek Borowiec</a>)
**Repository:** <a href="https://github.com/marekborowiec/spruceup-ms" target ="_blank">https://github.com/marekborowiec/spruceup-ms</a>
**Version:** v2019.1.1
**Editor:** @csoneson
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @marekborowiec. The JOS

[2019-07-20 15:34] whedon commented on #1586
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @csoneson it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-07-20 15:34] whedon commented on #1586
[code]

[2019-07-20 15:34] whedon commented on #1586
Failed to discover a valid open source license.

[2019-07-20 15:34] whedon commented on #1586
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01586/joss.01586/10.21105.joss.01586.pdf)

[2019-07-20 15:35] danielskatz commented on #1586
👋 @csoneson - you were requested to edit this, and I failed to unset you when I started this metareview - sorry - I hope you can take on this one too - Please let me know if not.

[2019-07-20 15:38] danielskatz commented on #1586
👋 @marekborowiec - your submission doesn't actually have any software to be reviewed.  A normal JOSS submission is a repository that contains software and a paper.  Please look at some of the other accepted and under review submissions.  I've marked this as paused for the time being until there's content to review.  If you would prefer to withdraw this and submit again with a different repository,

[2019-07-20 16:26] urmi-21 commented on #1585
@whedon generate pdf

[2019-07-20 16:26] whedon commented on #1585
[code]

[2019-07-20 16:27] whedon commented on #1585
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01585/joss.01585/10.21105.joss.01585.pdf)

[2019-07-20 16:32] urmi-21 commented on #1585
@danielskatz Thanks for the suggesting the fix in paper.md. The compiled pdf looks good to me.

[2019-07-20 20:47] whedon commented on #1315
:wave: @sauln, please update us on how things are progressing here.

[2019-07-20 21:05] arokem commented on #1478
@openjournals/joss-eics : I believe this paper is ready for your final review

[2019-07-20 21:20] danielskatz commented on #1478
Is version 0.3.0 correct? It seems like perhaps this should be 0.3.2?

[2019-07-20 21:28] danielskatz commented on #1478
Also, I don't think Kubeflow is a journal, so in paper.bib:
@misc{kubeflow_2019, title={Kubeflow}, howpublished={https://www.kubeflow.org/}, journal={Kubeflow}, year={2019}, month={Jan}
}
should probably be:
@misc{kubeflow_2019, title={Kubeflow}, howpublished={https://www.kubeflow.org/}, year={2019}, month={Jan}
}

[2019-07-20 21:34] danielskatz commented on #1585
While we are in the process of assigning an editor, you might suggestion some possible reviewers, either from [this list](https://bit.ly/joss-reviewers) (please start at the bottom of the list) or elsewhere, who might be able to review your submission. Also, feel free to suggest individuals who are not on this list by mentioning their GitHub handles here.

[2019-07-20 22:56] DanielLenz commented on #1557
I've added a few points that should be completed before we can proceed with the submission.

The project is in great shape and I'm sure the authors could address these points quickly. However, I'm not sure if the scope of the project is sufficient: It's mostly tailored towards a very specific set of tasks, and is essentially a shallow wrapper around keras. @mbobra , could you comment and provide J

[2019-07-20 22:57] urmi-21 commented on #1585
I would like to suggest the following reviewers: @holtgrewe @jdeligt
I hope my submission is appropriate for them to review.

[2019-07-20 23:37] smk508 commented on #1478
@whedon generate pdf

[2019-07-20 23:38] whedon commented on #1478
[code]

[2019-07-20 23:38] whedon commented on #1478
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01478/joss.01478/10.21105.joss.01478.pdf)

[2019-07-20 23:40] smk508 commented on #1478
Ok I've updated the kubeflow citation in paper.bib. The current version is 0.3.2, yes. I don't know how to change the top post in this thread to say 0.3.2.

[2019-07-21 01:14] brmather commented on #1544
@whedon generate pdf from branch lheagy-patch-1

[2019-07-21 01:14] whedon commented on #1544
[code]

[2019-07-21 01:15] whedon commented on #1544
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01544/joss.01544/10.21105.joss.01544.pdf)

[2019-07-21 01:24] brmather commented on #1544
@whedon generate pdf from branch lheagy-patch-1

[2019-07-21 01:24] whedon commented on #1544
[code]

[2019-07-21 01:25] whedon commented on #1544
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01544/joss.01544/10.21105.joss.01544.pdf)

[2019-07-21 07:23] csoneson commented on #1585
Yes, I can take on this one.

[2019-07-21 07:24] csoneson commented on #1585
@holtgrewe, @jdeligt - would you be interested in reviewing this submission for JOSS?

[2019-07-21 07:25] csoneson commented on #1585
@whedon assign @csoneson as editor

[2019-07-21 07:25] whedon commented on #1585
OK, the editor is @csoneson

[2019-07-21 07:27] csoneson commented on #1586
That's ok, I can take it

[2019-07-21 11:56] jdeligt commented on #1585
Count me in.

On Sun, 21 Jul 2019, 7:24 pm Charlotte Soneson, <notifications@github.com>
wrote:

[2019-07-21 13:24] danielskatz commented on #1478
@whedon set 0.3.2 as version

[2019-07-21 13:24] whedon commented on #1478
OK. 0.3.2 is the version.

[2019-07-21 13:26] danielskatz commented on #1478
@whedon accept

[2019-07-21 13:26] whedon commented on #1478
[code]

[2019-07-21 13:27] whedon commented on #1478
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/849

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/849, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-21 13:31] maxibor commented on #1540
Changes were and are being made @lpantano

[2019-07-21 13:36] danielskatz commented on #1478
sorry, I see a few more small things in the bib - can we try with https://github.com/kellylab/Fireworks/pull/76 ?

[2019-07-21 14:28] smk508 commented on #1478
@whedon generate pdf

[2019-07-21 14:28] whedon commented on #1478
[code]

[2019-07-21 14:28] smk508 commented on #1478
Ok I merged the PR

[2019-07-21 14:28] whedon commented on #1478
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01478/joss.01478/10.21105.joss.01478.pdf)

[2019-07-21 14:32] danielskatz commented on #1478
@whedon accept

[2019-07-21 14:32] whedon commented on #1478
[code]

[2019-07-21 14:33] whedon commented on #1478
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/850

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/850, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-21 14:34] danielskatz commented on #1478
@whedon accept deposit=true

[2019-07-21 14:34] whedon commented on #1478
[code]

[2019-07-21 14:34] arfon commented on #1321
@diyadas & @karthik, many thanks for your efforts thus far. As I have outlined in my email to @arsilva87, this submission still falls well below what is expected of a JOSS submission. As such I am rejecting this submission and invite the author to resubmit if they are able to bring the submission up to standard.

[2019-07-21 14:34] #1321 closed

[2019-07-21 14:35] whedon commented on #1478
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1152950113117134849) 👈 🐦🐦🐦

[2019-07-21 14:35] whedon commented on #1478
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/851
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01478](https://doi.org/10.21105/joss.01478)
2. If everything looks go

[2019-07-21 14:36] smk508 commented on #1478
Thanks!

[2019-07-21 14:39] danielskatz commented on #1478
Thanks to @dirmeier for reviewing and @arokem for editing!

[2019-07-21 14:39] #1478 closed

[2019-07-21 14:39] whedon commented on #1478
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01478/status.svg)](https://doi.org/10.21105/joss.01478)

**We need your help!**

Journal of Open Source Softwar

[2019-07-21 14:54] swapsha96 commented on #1557
This software is written using specific examples but can be used to apply Deep Learning techniques in various other problems depending upon the use cases. For example, we experimented astronomical image reconstruction on just 38 images of some Messier's objects but it can be extended to images of galaxies from NASA's SDSS catalog and images captured by future James Webb Telescope. In tutorials, we

[2019-07-21 16:34] cMadan commented on #1541
@tjmahr, are you still able to review this submission?

@paul-buerkner, thanks again!!

[2019-07-21 16:46] rreinecke commented on #1556
@whedon check references

[2019-07-21 16:46] whedon commented on #1556
[code]

[2019-07-21 17:33] rreinecke commented on #1556
@mbobra I'm done. I think the submission substantially improved throughout the review and is ready to be accepted after @dhhagan concerns have been addressed.

@mmhs013 I would suggest to you to go through the README and code files with a spellchecker there are still a couple typos and grammar mistakes. ;)

Cheers
Robert

[2019-07-21 17:43] mmhs013 commented on #1556
Thanks a lot, @rreinecke . My English is poor. :( I will update my README and other with a professional writer.

[2019-07-21 18:08] marekborowiec commented on #1586
I see. Sorry for the confusion. I was under the impression that code and paper should exist in separate repositories. The md file contains link to the software repo. Would uploading a zipped version of the software repo into this repository work? This would be the easiest solution for me because I’m traveling and without access to a laptop and/or internet at times for the week. Otherwise I won’t b

[2019-07-21 19:22] LarsHernandez commented on #1560
@whedon generate pdf

[2019-07-21 19:22] whedon commented on #1560
[code]

[2019-07-21 19:22] whedon commented on #1560
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01560/joss.01560/10.21105.joss.01560.pdf)

[2019-07-21 19:43] sauln commented on #1315
woah! sorry for stringing you along all this time, but it's done @leouieda! The mutable default arguments are now removed and we have a basic gallery set up to showcase examples.

[2019-07-21 19:44] LarsHernandez commented on #1560
@csoneson Thanks for the corrections, I think it generated correctly now. I don't really have any other suggestions for reviewers, we checked the list and you seemed the most apt.

[2019-07-21 19:49] csoneson commented on #1560
Thanks @LarsHernandez, yes, now it renders correctly. For the reviewers - I think you checked the list of JOSS editors. In the first post in this issue there is a link to a list of people who have signed up as potential reviewers. Could you have a look at that one? I will do the same, and we'll find some good reviewers for your submission!

[2019-07-21 19:53] csoneson commented on #1585
Great @jdeligt - thank you!

[2019-07-21 20:35] arokem commented on #1551
@whedon assign @klmedeiros as reviewer

[2019-07-21 20:35] whedon commented on #1551
OK, the reviewer is @klmedeiros

[2019-07-21 20:36] arokem commented on #1551
@klmedeiros : thanks for taking this on (@Rmadillo : thanks! We'll call on you some other time -- enjoy your vacation!)

[2019-07-21 20:37] arokem commented on #1551
@whedon start review

[2019-07-21 20:37] whedon opened #1587 "[REVIEW]: studentlife: Tidy Handling and Navigation of a Valuable Mobile-Health Dataset"
**Submitting author:** @frycast (<a href="http://orcid.org/0000-0001-6032-0522">Daniel Fryer</a>)
**Repository:** <a href="https://github.com/frycast/studentlife" target ="_blank">https://github.com/frycast/studentlife</a>
**Version:** v1.0.0
**Editor:** @arokem
**Reviewers:** @klmedeiros, @jminnier
**Archive:** <a href="https://doi.org/10.5281/zenodo.3371922" target="_blank">10.5281/zenodo.337192

[2019-07-21 20:37] whedon commented on #1551
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1587. Feel free to close this issue now!

[2019-07-21 20:37] whedon commented on #1587
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @klmedeiros it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2019-07-21 20:37] whedon commented on #1587
[code]

[2019-07-21 20:37] whedon commented on #1587
PDF failed to compile for issue #1587 with the following error:

 Can't find any papers to compile :-(

[2019-07-21 20:38] arokem commented on #1551
@jminnier, @klmedeiros : the review will take place in #1587. Please head over there for a checklist of the items that we would like you to review and to post your comments. See also https://joss.readthedocs.io/en/latest/reviewer_guidelines.html for guidelines.

[2019-07-21 20:39] arokem commented on #1587
@whedon add @jminnier as reviewer

[2019-07-21 20:39] whedon commented on #1587
OK, @jminnier is now a reviewer

[2019-07-21 20:49] csoneson commented on #1585
@whedon check references

[2019-07-21 20:49] whedon commented on #1585
[code]

[2019-07-21 20:49] whedon commented on #1585
[code]

[2019-07-21 20:50] csoneson commented on #1585
@urmi-21 - while we are recruiting a second reviewer, could you please add DOIs to the references in your paper?

[2019-07-21 20:52] kyleniemeyer commented on #1005
@whedon remind @rljacobson in one week

[2019-07-21 20:53] whedon commented on #1005
Reminder set for @rljacobson in one week

[2019-07-21 20:53] kyleniemeyer commented on #1173
Hi @pankajkmishra, just checking in. Have you been able to make progress on this?

[2019-07-21 20:54] csoneson commented on #1533
ping @andreysmelter

[2019-07-21 20:56] kyleniemeyer commented on #1532
Hi @usethedata and @cfneese, could you submit your reviews within the next few days, or by the end of this week? Thanks!

[2019-07-21 21:01] kyleniemeyer commented on #1553
@zhuyouliang thank you for clarifying. I think the focus of the original article is sufficiently different to proceed.

Can you suggest a few domain-specific reviewers for us to contact?

[2019-07-21 21:50] dap-biospec commented on #1532
Hi @usethedata and  @cfneese,  We are finishing reorganization suggested by  @FaustinCarter and will be uploading documentation and the restructured code on Monday am. This does not change functionality.

CC: kyleniemeyer

[2019-07-21 21:51] dap-biospec commented on #1532
@kyleniemeyer - I missed @ in the CC to the comment above.

[2019-07-21 22:01] danielskatz commented on #1586
The best thing is probably to withdraw this version, and when you are back and ready in August, add the paper to the software repo and then resubmit - I'm going to go ahead and mark this as withdrawn, but please do resubmit when you are able to.

[2019-07-21 22:02] #1586 closed

[2019-07-21 22:02] whedon opened #1588 "[PRE REVIEW]: IRXCT: Iterative Reconstruction and visualization application for X-ray Computed Tomography"
**Submitting author:** @dntrinca (<a href="http://orcid.org/0000-0002-0464-9443">D Narcis Trinca</a>)
**Repository:** <a href="https://github.com/dntrinca/IRXCT" target ="_blank">https://github.com/dntrinca/IRXCT</a>
**Version:** 1.0
**Editor:** @usethedata
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @dntrinca. **Currently, there isn't an JOSS editor as

[2019-07-21 22:03] whedon commented on #1588
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-21 22:03] whedon commented on #1588
[code]

[2019-07-21 22:03] whedon commented on #1588
PDF failed to compile for issue #1588 with the following error:

 Can't find any papers to compile :-(

[2019-07-21 22:05] danielskatz commented on #1588
@dntrinca - this submission has some problems - the source code being in a zip file is one.  We expect to see the software in a version control repository (eg github) but in a way that the software can be updated via pull requests and changes - a zip file doesn't really work for that.

[2019-07-21 22:06] danielskatz commented on #1588
@whedon generate pdf

[2019-07-21 22:06] whedon commented on #1588
[code]

[2019-07-21 22:06] whedon commented on #1588
PDF failed to compile for issue #1588 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: affiliations (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a

[2019-07-21 22:08] danielskatz commented on #1588
Also, please follow the [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) to use affiliations correctly - they need to be marked as integer indexes in the authors section, then these indexes need to be used in the affiliations section.

Once you have made changes, please feel free to enter ```@whedon generate pdf``` her as a new comment in this i

[2019-07-21 22:35] urmi-21 commented on #1585
@whedon check references

[2019-07-21 22:35] whedon commented on #1585
[code]

[2019-07-21 22:36] whedon commented on #1585
[code]

[2019-07-21 22:37] urmi-21 commented on #1585
@whedon generate pdf

[2019-07-21 22:37] whedon commented on #1585
[code]

[2019-07-21 22:38] whedon commented on #1585
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01585/joss.01585/10.21105.joss.01585.pdf)

[2019-07-21 22:38] urmi-21 commented on #1585
@whedon check references

[2019-07-21 22:38] whedon commented on #1585
[code]

[2019-07-21 22:38] whedon commented on #1585
[code]

[2019-07-21 22:41] urmi-21 commented on #1585
@csoneson Hi, I've added the DOIs to the references. Thanks.

[2019-07-22 00:11] brainstorm commented on #1552
Thanks @rougier! It's fine for me unless @heilerich is in a rush to get this review done?

[2019-07-22 00:13] brainstorm commented on #1526
:wave: @adammichaelwood, would you like to assist JOSS with this review?

[2019-07-22 02:27] zhuyouliang commented on #1553
Here are some candidates who are developing GPU MD softwares or leading the projects. Many thanks for your kind help!

Prof. Ross C. Walker, San Diego Supercomputer Center, University of California San Diego, 9500 Gilman Drive MC0505, La Jolla, California 92093, United States, E-mail: ross@rosswalker.co.uk, the author of AMBER
Prof. W. Michael Brown, National Center for Computational Sciences, Oak

[2019-07-22 02:59] adammichaelwood commented on #1526
Thanks for asking.
I don't have time for this at the moment.

On Sun, Jul 21, 2019, 5:13 PM Roman Valls Guimera <notifications@github.com>
wrote:

[2019-07-22 05:19] likask commented on #1441
@vijaysm  It took me some time to push the docker container, poor internet where I am at the moment. You will find all details on [docker installation](http://mofem.eng.gla.ac.uk/mofem/html/install_docker.html).

MoFEM has a structure that core functionality is separated from the particular implementation of finite element cases. That separation has many advantages; we can make implementation modu

[2019-07-22 06:14] holtgrewe commented on #1585
@csoneson sure can do ;)

[2019-07-22 06:57] prisae commented on #1463
@whedon generate pdf

[2019-07-22 06:57] whedon commented on #1463
[code]

[2019-07-22 06:57] prisae commented on #1463
I made the corrections @danielskatz

[2019-07-22 06:57] whedon commented on #1463
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01463/joss.01463/10.21105.joss.01463.pdf)

[2019-07-22 07:14] MarionLegrandLogrami commented on #791
@kyleniemeyer - Dear Editor, we are very grateful for the time spent by our reviewers on the submission of our package to JOSS and for their comments. Thanks to them we made lot of progress ! I was planning to use this paper as part of my Phd Thesis for which time is running out as we are waiting to see our package accepted by JOSS. This is a package that has passed all R CRAN checks and is alread

[2019-07-22 07:52] heilerich commented on #1552
Fine for me! Take your time.

[2019-07-22 09:11] slithiaote commented on #1005
I uploaded an improved version of the Fibonacci example. It is now feature-complete and is ready for review.

[2019-07-22 09:20] dntrinca commented on #1588
Dear Daniel Skatz,

  I just made the necessary corrections you have mentioned.

  Best,
  D Narcis

[2019-07-22 09:20] dntrinca commented on #1588
@whedon generate pdf

[2019-07-22 09:20] whedon commented on #1588
[code]

[2019-07-22 09:20] whedon commented on #1588
PDF failed to compile for issue #1588 with the following error:

 Error reading bibliography ./paper.bib (line 24, column 3):
unexpected "j"
expecting space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-22 09:21] dntrinca commented on #1588
@whedon generate pdf

[2019-07-22 09:21] whedon commented on #1588
[code]

[2019-07-22 09:21] whedon commented on #1588
PDF failed to compile for issue #1588 with the following error:

 Error reading bibliography ./paper.bib (line 29, column 1):
unexpected "@"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-22 09:23] dntrinca commented on #1588
@whedon generate pdf

[2019-07-22 09:23] whedon commented on #1588
[code]

[2019-07-22 09:24] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-22 09:49] dntrinca commented on #1588
Dear Daniel S Katz,

  Sorry for mispelling your name in a previous reply.

  Best,
  D Narcis

[2019-07-22 10:02] danielskatz commented on #1463
@whedon accept

[2019-07-22 10:02] whedon commented on #1463
[code]

[2019-07-22 10:02] whedon commented on #1463
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/852

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/852, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-22 10:04] danielskatz commented on #1463
@whedon accept deposit=true

[2019-07-22 10:04] whedon commented on #1463
[code]

[2019-07-22 10:04] whedon commented on #1463
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1153244513625935872) 👈 🐦🐦🐦

[2019-07-22 10:04] whedon commented on #1463
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/853
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01463](https://doi.org/10.21105/joss.01463)
2. If everything looks go

[2019-07-22 10:06] danielskatz commented on #1463
Thanks to @akelbert & @emersodb & @lukeolson for reviewing and @jedbrown for editing!

[2019-07-22 10:06] #1463 closed

[2019-07-22 10:06] whedon commented on #1463
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01463/status.svg)](https://doi.org/10.21105/joss.01463)

**We need your help!**

Journal of Open Source Softwar

[2019-07-22 10:09] danielskatz commented on #1588
Please carefully proofread your submission, and add DOIs to the bib entries for papers that have DOIs, again following the example in the JOSS documentation.

[2019-07-22 10:11] danielskatz commented on #1588
👋 @usethedata - would you be willing to edit this submission?

[2019-07-22 10:32] dntrinca commented on #1588
@whedon generate pdf

[2019-07-22 10:32] whedon commented on #1588
[code]

[2019-07-22 10:33] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-22 10:42] dntrinca commented on #1588
@whedon generate pdf

[2019-07-22 10:42] whedon commented on #1588
[code]

[2019-07-22 10:42] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-22 10:50] dntrinca commented on #1588
@whedon generate pdf

[2019-07-22 10:50] whedon commented on #1588
[code]

[2019-07-22 10:50] whedon commented on #1588
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01588/joss.01588/10.21105.joss.01588.pdf)

[2019-07-22 11:47] hiendn commented on #1587
@arokem @frycast --- The URL at the top of the page leads to a 404 error when clicked. Is this a potential reason why the paper is not compiling by `@weldon generate pdf`?

[2019-07-22 13:36] usethedata commented on #1588
@whedon assign @usethedata as editor

[2019-07-22 13:36] whedon commented on #1588
OK, the editor is @usethedata

[2019-07-22 13:37] terrytangyuan commented on #1566
👋 @gvegayon You mentioned that you would be able to start the review on 22nd. Feel free to start the review while @TrashBirdEcology is still traveling.

[2019-07-22 13:40] csoneson commented on #1585
@holtgrewe great, thanks! I'm going to open the review issue, and then we'll head over there for the actual review

[2019-07-22 13:41] csoneson commented on #1585
@whedon assign @jdeligt as reviewer

[2019-07-22 13:41] whedon commented on #1585
OK, the reviewer is @jdeligt

[2019-07-22 13:41] csoneson commented on #1585
@whedon add @holtgrewe as reviewer

[2019-07-22 13:41] whedon commented on #1585
OK, @holtgrewe is now a reviewer

[2019-07-22 13:41] csoneson commented on #1585
@whedon start review

[2019-07-22 13:41] whedon opened #1589 "[REVIEW]: ORIS: An interactive software tool for prediction of replication origin in prokaryotic genomes"
**Submitting author:** @urmi-21 (<a href="http://orcid.org/0000-0003-3703-0820">Urminder Singh</a>)
**Repository:** <a href="https://github.com/urmi-21/ORIS" target ="_blank">https://github.com/urmi-21/ORIS</a>
**Version:** v1.0
**Editor:** @csoneson
**Reviewer:** @jdeligt, @holtgrewe
**Archive:** <a href="https://doi.org/10.5281/zenodo.3357162" target="_blank">10.5281/zenodo.3357162</a>

## Statu

[2019-07-22 13:41] whedon commented on #1585
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1589. Feel free to close this issue now!

[2019-07-22 13:41] whedon commented on #1589
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jdeligt, @holtgrewe it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably c

[2019-07-22 13:41] whedon commented on #1589
[code]

[2019-07-22 13:42] #1585 closed

[2019-07-22 13:42] whedon commented on #1589
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01589/joss.01589/10.21105.joss.01589.pdf)

[2019-07-22 13:42] csoneson commented on #1589
@jdeligt, @holtgrewe - please perform your review in this issue (see further instructions in the post above). Don't hesitate to ping me if you have any questions.

[2019-07-22 13:43] usethedata commented on #1588
@dntrinca This is interesting work and thanks for your submission.  However, we need to get a few more things take care of before this is ready to be reviewed.  The biggest is that the readme should be more extensive.  This is the key thing.  There should also be guidelines for people wanting to contribute to the effort and for those who are looking for support.  Please see the review criteria (ht

[2019-07-22 13:46] csoneson commented on #1589
@urmi-21 - to simplify the review process, please have a look at the reviewer checklists above and make sure all the required parts are available in your submissions - otherwise, you can fix that already now.

[2019-07-22 13:53] tjmahr commented on #1541
I'm in the middle of moving. I would like to review it but won't be able to look at it until next week.

[2019-07-22 13:58] lpantano commented on #1583
@SaskiaFreytag, will you be interested in reviewing this tool?

[2019-07-22 14:25] Randrian45 commented on #1499
Hi @lheagy thank you for considering my paper.
But, I am a bit puzzled that the paper is considered out of scope here.
- minor utility: sure it is based on matplotlib but it offers a whole new way to address the problem of finding the best visualization. Also as more and more focus is laid on reproducibility, it is a crucial point that the researcher can provide a code that can exactly reproduce a

[2019-07-22 14:38] danielskatz commented on #1584
Please see the first comment in this issue - you need to accept the invitation...

[2019-07-22 15:15] poulson commented on #1548
@whedon add ajgates42 as reviewer

[2019-07-22 15:15] whedon commented on #1548
OK, ajgates42 is now a reviewer

[2019-07-22 15:16] poulson commented on #1548
Hi @madvn, the purpose of the review is to improve the quality of the software and documentation, so I think waiting for the update would be okay, given that the review hasn't yet started.

I will reach out to a few more potential reviewers in parallel with those changes if that makes sense to you.

[2019-07-22 15:18] poulson commented on #1548
:wave: Fabian (@fsteeg) -- You have listed expertise in information retrieval, though your languages were given as Java and Scala. Would you feel confident as a reviewer of a C++/Python package on information theory? If so, would you have the time to review?

@ajgates42 Do you happen to have any further reviewers you would suggest? Our list of information theory experts is modest and it seems you

[2019-07-22 15:19] poulson commented on #1571
Hi @danielskatz -- I am able to serve as an editor and apologize for the delay.

[2019-07-22 15:19] poulson commented on #1571
@whedon assign @poulson as editor

[2019-07-22 15:19] whedon commented on #1571
OK, the editor is @poulson

[2019-07-22 15:29] poulson commented on #1571
Hi Camille (@camillescott) -- Given your expertise in C++ and Cython, as well as graphs, complex networks, and workflows, I think you would be an ideal reviewer for this submission. Would you have the time and interest in doing so?

Hi Rodrigo (@hausen) -- Given your expertise in C++, combinatorics, and graph theory, I believe you would be of great help in reviewing the C++ and graph analysis side

[2019-07-22 15:32] dntrinca commented on #1588
Dear Bruce Wilson, I will prepare this and reply to you soon. Best, D Narcis

[2019-07-22 15:36] ajgates42 commented on #1548
I think Ryan James (rgjames@ucdavis.edu, @Autoplectic) would be a great
person to have assess the contributions of this package.

Another good fit would be Georg Martius (georg.martius@web.de
, @georgmartius)

On Mon, Jul 22, 2019 at 11:18 AM Jack Poulson <notifications@github.com>
wrote:

--
Alexander Gates
Postdoctoral Research Scholar
Center for Complex Network Research
Northeastern University

[2019-07-22 15:47] poulson commented on #1548
Hi Ryan (@autoplectic) -- You have been recommended as an expert in information theory; are you comfortable enough in C++ and/or python to confidently review this submission? And do you have the time an interest to do so?

Hi Georg (@georgmartius) -- You have also been recommended as an information theory expert. Same question as for Ryan: do you feel confident enough to review the submission, and

[2019-07-22 16:12] georgmartius commented on #1548
Hi Jack,
an even better qualified person would be Joseph Lizier http://lizier.me/joseph/. He wrote JIDT, a quite comprehensive java package.
I am afraid, I cannot invest the appropriate amount of time into it at the moment.

[2019-07-22 16:29] pankajkmishra commented on #1173
Hi @kyleniemeyer : I'll finish it this week. I have finally settled in my new job in the US after Hong Kong, which is the reason for the delay from my side.

[2019-07-22 16:58] kyleniemeyer commented on #1568
@whedon add @tcausgrove as reviewer

[2019-07-22 16:58] whedon commented on #1568
OK, @tcausgrove is now a reviewer

[2019-07-22 17:03] alexhanna commented on #1575
We need reviewers. @taqtiqa-mark <https://github.com/taqtiqa-mark> and
@igarizio <https://github.com/igarizio>, can you review this submission?

On Fri, Jul 19, 2019 at 1:14 PM gus0k <notifications@github.com> wrote:

--
Alex Hanna
alex-hanna.com
@alexhanna

[2019-07-22 17:20] igarizio commented on #1575
👋 Yes, I would love to review this submission.

[2019-07-22 17:35] seandenigris commented on #720
I did another pass and opened [a new ticket](https://mutabit.com/repos.fossil/dataviz/tktview/6aebe8d0850e45be980e6d7a333f148156990c89):

I don't think any of them are necessarily blocking. I'm just not sure how to judge e.g. "functionality" and performance. What's the metric? Is it a judgement call? There is extensive documentation in various sources, so it seems impractical to verify everything

[2019-07-22 17:38] urmi-21 commented on #1589
@csoneson I think all the checklist points are sufficiently addressed in the submission. I'd be happy to make changes if the reviewers disagree. Thanks.

[2019-07-22 17:47] kavir1698 commented on #1527
Thank you, @jedbrown, for your suggestions. I have now addressed your comments. How should I resubmit?

[2019-07-22 17:52] andreysmelter commented on #1533
Hi @csoneson, @bii-absd, @rabdill, I appologize for the delay, here are my review comments:

# General checks
## Version: Does the release version given match the GitHub release (v1.0)?
I was able to install the TIMS on Ubuntu 16.04.6 and the version appers to be 2.05. I did not find release version within the GitHub repo. Although `TIMS-Manual-release-1.0.pdf` says that this is Release 1.0.

## A

[2019-07-22 18:00] jedbrown commented on #1527
@whedon generate pdf

[2019-07-22 18:01] whedon commented on #1527
[code]

[2019-07-22 18:01] whedon commented on #1527
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01527/joss.01527/10.21105.joss.01527.pdf)

[2019-07-22 18:34] dap-biospec commented on #1532
@usethedata, @FaustinCarter, @cfneese - all corrections suggested by @FaustinCarter have been made and merged. Code has been reorganized as described in the updated API document. Simulation algorithms remain unchanged (apart from operating now as an independent module).

Documentation and Demo files are collected in corresponding folders. We did not include two of the in the main KinESim.ipf (as s

[2019-07-22 19:06] poulson commented on #1548
Hi Joseph (@jlizier) -- your colleague, Georg Martius, recommended you as an expert in information theory software packages. He mentioned that you worked primarily in Java -- would you feel confident reviewing a submission in C++ and Python? And, more importantly, do you have the time and interest to do so?

[2019-07-22 21:40] sepandhaghighi commented on #1485
@gkthiruvathukal
Hi
Just a friendly reminder.
I think you forgot this paper, its ready to be accepted by you.

Best Regards
Sepand Haghighi

[2019-07-22 21:44] zhampel commented on #1554
@xuanxu, @telegraphic, there are a couple of GitHub users (beyond the listed authors) who have contributed to the repo. Specifically FX196 & marksbrt.

@xuanxu are there clear guidelines on defining contributing authors. I just want to check prior to checking some boxes.

[2019-07-22 22:03] sepandhaghighi commented on #1576
another suggestion ;-)
silvandeleemput/memcnn/issues/23

[2019-07-22 22:22] xuanxu commented on #1554
@zhampel authorship is a complex topic, here are some guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html#authorship

*the authors themselves are responsible for deciding which contributions are sufficient for co-authorship. Your job as a reviewer is to check that the list of authors appears reasonable, and if it’s not obviously complete/correct, to raise this as a question duri

[2019-07-22 22:47] SaskiaFreytag commented on #1583
Sure. How do I go about reviewing it?

[2019-07-22 23:43] zhampel commented on #1554
Yeah, it's that last phrase why I ask. I'll check off the box for now, unless the authors want to comment otherwise.

[2019-07-23 00:11] FaustinCarter commented on #1532
@dap-biospec This looks great! So onto testing:

Ideally there would be some sort of test suite that runs some pre-configured simulations and checks to make sure that the output matches some pre-verified output. In the absence of that, running the demo and verifying that it works will probably be the best compromise (I'm not going to ask you to write a million unit tests).

I've tried loading up t

[2019-07-23 00:21] offray commented on #720
Thanks @seandenigris for your detailed ticket. For organizational purposes, I will split it into smaller ones trying to separate Dataviz related ones from Grafoscopio GUI and other non-package issues. Despite of not being blocking concerns, I would like to review them and to tell you when they have been addressed to have the best package I can have after this process. I'll do it soon, to keep the

[2019-07-23 00:39] jlizier commented on #1548
Hi @poulson - main challenge for me atm is time as I'm already loaded up with reviews over the next month. I could commit to early Sept, but I'm guessing that's a bit too long for you? If not, whilst my c++ is a bit rusty I think it would be ok for this

[2019-07-23 00:54] seandenigris commented on #720
Okay, pending an answer to my previous question, I'm going to conditionally check off Functionality and Performance, as well as Documentation, statement of need, and Installation instructions.

For "Example usage", while there is plenty of information available in the docs, I'd like to see at least one easily findable and runnable example in the image. Maybe fixing point 3 or 5 in my ticket would

[2019-07-23 01:22] taqtiqa-mark commented on #1575
Happy to help.

[2019-07-23 02:01] holgerteichgraeber commented on #1573
👋Thank you all for offering to review, I look forward to your comments.
Tagging along co-authors @YoungFaithful and @arbrandt for reference.

[2019-07-23 03:23] gkthiruvathukal commented on #1531
@whedon set v1.2.1 as version

[2019-07-23 03:24] whedon commented on #1531
OK. v1.2.1 is the version.

[2019-07-23 03:24] gkthiruvathukal commented on #1531
@whedon generate pdf

[2019-07-23 03:24] whedon commented on #1531
[code]

[2019-07-23 03:24] whedon commented on #1531
PDF failed to compile for issue #1531 with the following error:

 Can't find any papers to compile :-(

[2019-07-23 03:25] gkthiruvathukal commented on #1531
@whedon generate pdf from branch joss_paper

[2019-07-23 03:25] whedon commented on #1531
[code]

[2019-07-23 03:25] whedon commented on #1531
PDF failed to compile for issue #1531 with the following error:

 error: pathspec 'joss_paper
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2019-07-23 03:29] gkthiruvathukal commented on #1531
@ts-adi Are you able to generate the paper PDF? I cannot seem to do so now. I'm going to see if the @openjournals/joss-eics can help us figure this out.

[2019-07-23 03:31] jcsutherland commented on #1543
I'm good with acceptance at this point.

[2019-07-23 03:32] gkthiruvathukal commented on #1485
@sepandhaghighi Thanks for the reminder.

So here is the final checklist for @azazel7 to fill in. Can you please do the following? (This is something I am doing for all submissions now, so you can just check the ones you already did above.)

- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo
- [ ] Check

[2019-07-23 03:35] gkthiruvathukal commented on #1578
@cole-brokamp Hmm, I thought I assigned you as a reviewer but you are not showing up on the list of reviewers (and therefore don't have a checklist). I am not sure why you're not showing up.  I am going to see if someone from @openjournals/joss-eics can add you.

In the meantime, you can go ahead and list any issues here as I definitely want you involved in this review.

[2019-07-23 03:40] gkthiruvathukal commented on #1494
@federeghe @gradvohl Can you let me know if you have any more issues? I'm going to assume you are ok, given that @omoliavko has addressed our last point of feedback.

So here is the final checklist for @omoliavko to fill in. Can you please do the following? (This is something I am doing for all submissions now, so you can just check the ones you already did above.)

- [ ] Make a tagged release of

[2019-07-23 03:41] gkthiruvathukal commented on #1579
@danielskatz Any idea why this submission did not move to review state after you assigned me? On my dashboard, it shows as review_pending.

[2019-07-23 03:42] gkthiruvathukal commented on #1579
@whedon commands

[2019-07-23 03:42] whedon commented on #1579
Here are some things you can ask me to do:

[code]

[2019-07-23 03:43] gkthiruvathukal commented on #1579
@eidheim if you have any suggestions for potential reviewers then please mention them here in this thread. In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission. Thanks!

[2019-07-23 03:46] gkthiruvathukal commented on #1326
@Amudtogal Thanks for the update. Let me know when you've gotten it sorted out. Then we can proceed.

[2019-07-23 03:46] katyhuff commented on #1543
Thanks @jcsutherland ! I appreciate your thorough review.

@fcontino: Thank you again for volunteering to review. I know you initially expressed some scheduling challenges. Will you be able to address this review sometime soon?  I hope you'll let us know what deadline will work for you.

[2019-07-23 03:48] gkthiruvathukal commented on #1337
@homonecloco When you get a chance, can you let us know if your issues are all addressed so I can proceed with the next steps (acceptance).

[2019-07-23 03:49] homonecloco commented on #1337
Hi, I haven't got a chance, I'd been travelling the last week. I'll aim to review before the end of this week.

[2019-07-23 03:50] gkthiruvathukal commented on #1337
@homonecloco No problem! Thanks for your quick response. End of week is fine.

[2019-07-23 03:52] kyleniemeyer commented on #1543
Thanks @jcsutherland!

FYI @fcontino, we released v1.1.0a0 based on the changes made in response to @jcsutherland's comments, if you grabbed an earlier version.

[2019-07-23 05:56] ts-adi commented on #1531
@whedon generate pdf from branch joss_paper

[2019-07-23 05:56] whedon commented on #1531
[code]

[2019-07-23 05:57] whedon commented on #1531
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01531/joss.01531/10.21105.joss.01531.pdf)

[2019-07-23 06:58] gus0k commented on #1575
@whedon commands

[2019-07-23 06:58] whedon commented on #1575
Here are some things you can ask me to do:

[code]

[2019-07-23 07:00] gus0k commented on #1575
I updated the package to version 0.7.5, after a small error in how the submodules were being loaded. How should I change that?

[2019-07-23 07:07] hugoledoux commented on #1530
All is good, I've clicked them all above 👍🏽

Two small caveats:
1. I wouldn't use "ArcGIS formats", mostly because that's a for-profit company and this is not accurate (unless you support only ArcGIS...). Your third jupyter book speaks of "GeoTIFF", which I much prefer personally!
2. The main link to the mybinder.org only has links to only 2 notebooks, but one can see it in the `notebooks`.

[2019-07-23 07:35] tristan-salles commented on #1530
Thanks, I have updated the binder notebook links

[2019-07-23 07:37] ts-adi commented on #1531
@gkthiruvathukal looks like there was an extraneous /n character in the command you issued. I've generated the pdf above. Feel free to give it a shot yourself too.

[2019-07-23 07:41] kyleniemeyer commented on #1578
Hi @cole-brokamp, I added you as a reviewer manually, including your reviewer checklist.

cc @gkthiruvathukal

[2019-07-23 09:17] whedon opened #1590 "[PRE REVIEW]: Virtual Scanner: MRI on a Browser"
**Submitting author:** @imr-framework (<a href="http://orcid.org/0000-0002-3776-4114">Sairam Geethanath</a>)
**Repository:** <a href="https://github.com/imr-framework/virtual-scanner" target ="_blank">https://github.com/imr-framework/virtual-scanner</a>
**Version:** 1.0.0
**Editor:** @arokem
**Reviewers:** @nstikov, @vsoch

**Author instructions**

Thanks for submitting your paper to JOSS @imr-fra

[2019-07-23 09:17] whedon commented on #1590
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-23 09:17] whedon commented on #1590
[code]

[2019-07-23 09:17] whedon commented on #1590
PDF failed to compile for issue #1590 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1590 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedo

[2019-07-23 11:49] swapsha96 commented on #1557
@mbobra @wtgee @DanielLenz The issues are now closed. What else do I need to look into?

[2019-07-23 12:12] alvarolopez commented on #1517
@rouger I have fixed this issue, related with an old pinned dependency version and Python3. Version 0.5.0 should work.

[2019-07-23 12:16] gradvohl commented on #1494
@whedon generate pdf

[2019-07-23 12:16] whedon commented on #1494
[code]

[2019-07-23 12:17] whedon commented on #1494
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01494/joss.01494/10.21105.joss.01494.pdf)

[2019-07-23 12:24] gradvohl commented on #1494
Good Morning,

The authors addressed most of the issues I pointed. However, I still find some copyrighted code, such as ``tee_client/public/teec_trace.h`` and ``mTower/tee_client/libteec/src/tee_client_api.c``. Is it a problem for JOSS?
Regarding the other issues, I consider that the authors addressed them.
Best regards.

[2019-07-23 12:26] dhhagan commented on #1556
@mbobra Just finished up the review - It looks like after the paper is regenerated and the DOI's appear, it is good to go! I agree with @rreinecke that the english could be improved a bit - @mmhs013 Let me know if you would like any help with this and I could probably run through the ReadMe real quick, though I don't want to step on any toes.

[2019-07-23 13:12] mbobra commented on #1556
@rreinecke and @dhhagan Thank you so much for reviewing! We really appreciate your time and effort ☀️

@mmhs013 We're almost there! I have a couple comments:
* Do you have access to someone who can read over the docs and give some feedback on improving the English? If not, let me know and we can help you.
* Can you please [archive your release on Zenodo](https://guides.github.com/activities/citabl

[2019-07-23 13:50] lpantano commented on #1583
Thank you, @SaskiaFreytag, I will add you as a reviewer, then I need to find another one (if you know somebody would like to do it, let me know). At that moment, I will start another issue where the review happens (mainly a list of items to check, like https://github.com/openjournals/joss-reviews/issues/1584.

[2019-07-23 13:50] lpantano commented on #1583
@whedon add @SaskiaFreytag as reviewer

[2019-07-23 13:50] whedon commented on #1583
OK, @SaskiaFreytag is now a reviewer

[2019-07-23 13:55] rioyokota commented on #1577
The submitting author has not made any contribution to the repo.

[2019-07-23 13:58] rioyokota commented on #1577
The installation instructions require sudo access.

[2019-07-23 14:22] sairamgeethanath commented on #1590
@whedon commands

[2019-07-23 14:22] whedon commented on #1590
Here are some things you can ask me to do:

[code]

[2019-07-23 14:22] sairamgeethanath commented on #1590
@whedon generate pdf

[2019-07-23 14:22] whedon commented on #1590
[code]

[2019-07-23 14:23] whedon commented on #1590
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01590/joss.01590/10.21105.joss.01590.pdf)

[2019-07-23 14:32] labarba commented on #1577
👋 @pitsianis — Our reviewers are asked to check the following item:

We realize that commits are not necessarily a full representation of contributions to a software project, but they do provide a visible signal for them. Therefore, if absent, we request that authors confirm that they are aware of the JOSS [authorship](https://joss.readthedocs.io/en/latest/submitting.html#authorship) policy, and c

[2019-07-23 14:37] kthyng commented on #1550
@ethanwhite Thanks! I'll get the review underway as soon as I find a second reviewer.

@TrashBirdEcology can you find anyone else on the reviewer list to try? I couldn't get ahold of r-barnes. If needed I will ask jhollist but would prefer to try another person first.

[2019-07-23 14:40] kthyng commented on #1530
Awesome looks like everything is wrapped up! I have a few steps to do on my end now.

[2019-07-23 14:40] kthyng commented on #1530
@whedon generate pdf

[2019-07-23 14:40] whedon commented on #1530
[code]

[2019-07-23 14:40] whedon commented on #1530
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01530/joss.01530/10.21105.joss.01530.pdf)

[2019-07-23 14:41] kthyng commented on #1530
@whedon check references

[2019-07-23 14:41] whedon commented on #1530
[code]

[2019-07-23 14:41] whedon commented on #1530
[code]

[2019-07-23 14:43] kthyng commented on #1530
Ok @tristan-salles now's the time to make a Zenodo archive, and report the DOI in the review thread.

[2019-07-23 14:56] alexhanna commented on #1575
@whedon assign @igarizio as reviewer

[2019-07-23 14:56] whedon commented on #1575
OK, the reviewer is @igarizio

[2019-07-23 14:56] alexhanna commented on #1575
@whedon add @taqtiqa-mark as reviewer

[2019-07-23 14:56] whedon commented on #1575
OK, @taqtiqa-mark is now a reviewer

[2019-07-23 14:56] alexhanna commented on #1575
@whedon start review

[2019-07-23 14:56] whedon opened #1591 "[REVIEW]: PyMarket"
**Submitting author:** @gus0k (<a href="http://orcid.org/0000-0001-8041-9685">Diego</a>)
**Repository:** <a href="https://github.com/gus0k/pymarket" target ="_blank">https://github.com/gus0k/pymarket</a>
**Version:** v0.7.8
**Editor:** @alexhanna
**Reviewer:** @igarizio, @taqtiqa-mark
**Archive:** <a href="https://doi.org/10.5281/zenodo.3665175" target="_blank">10.5281/zenodo.3665175</a>

## Statu

[2019-07-23 14:56] whedon commented on #1575
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1591. Feel free to close this issue now!

[2019-07-23 14:56] whedon commented on #1591
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @igarizio, @taqtiqa-mark it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probab

[2019-07-23 14:56] whedon commented on #1591
[code]

[2019-07-23 14:56] #1575 closed

[2019-07-23 14:57] whedon commented on #1591
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01591/joss.01591/10.21105.joss.01591.pdf)

[2019-07-23 15:16] TrashBirdEcology commented on #1550
@kthyng, perhaps @dombennett, @jabobsoj or @ha0ye

[2019-07-23 15:32] hariradh commented on #1555
I have trouble compiling the code based on the instructions. The `cmake` step hangs.
[code]

I am testing the code using:
- Cmake 3.15
- gcc 9.1.0
- MPICH2 3.3.1
- OSX 10.14.5

`Cmake`, `gcc`,  and `MPICH2` were installed using `homebrew`.

[2019-07-23 15:42] jedbrown commented on #1527
@fdroessler @Nick-gauthier @Adrianzo @Datseris :wave: This submission looks like it may be relevant to your interests; would you be available to review?

[2019-07-23 15:54] gkthiruvathukal commented on #1578
Thanks, @kyleniemeyer!

[2019-07-23 15:56] gkthiruvathukal commented on #1494
@gradvohl This would be a problem for JOSS, especially if the code does not belong to the authors. Even if it does, the licensing needs to be clear.

@omoliavko Can you please clarify the status of the tee_client code?

[2019-07-23 15:56] gkthiruvathukal commented on #1531
@whedon generate pdf from branch joss_paper

[2019-07-23 15:56] whedon commented on #1531
[code]

[2019-07-23 15:57] whedon commented on #1531
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01531/joss.01531/10.21105.joss.01531.pdf)

[2019-07-23 16:03] gkthiruvathukal commented on #1531
@ts-adi No idea how that extraneous newline got in there. All appears to be in working order now. I've checked the proof and everything appears to be fine from my checklist.

@openjournals/joss-eics  I recommend this submission for acceptance.

[2019-07-23 16:09] gkthiruvathukal commented on #1579
@eidhelm Can you also comment on two things:
- Why is Simple-Web-Server research software and/or how does it aid in developing research software?
- Does this provide support for HTTPS?

The first question is important from a JOSS standpoint.
The second is important in general and is not mentioned anywhere in the paper. If HTTPS is not supported, this can present a great deal of frustration to user

[2019-07-23 16:14] Datseris commented on #1527
Hi, yes I'd be happy to review @jedbrown . This seems very interesting for me, and I didn't know if its existence before now.

[2019-07-23 16:56] sctyner commented on #1572
The repository does not pass the License and Version general checks. Issue [here](https://github.com/terrytangyuan/lfda/issues/22).

[2019-07-23 17:09] eidheim commented on #1579
@gkthiruvathukal First of all, thank you for accepting to be editor for this submission.

I see there are several potential reviewers with C++ as one of their preferred programming languages. The ones that stood out to me as having relevant background was: gradvohl, aaronyd, hainesr, jaynanavati, nmullins, HaoZeke, Danbo3004, gcdeshpande and adi3.

Simple-Web-Server can be helpful for any research

[2019-07-23 17:12] sctyner commented on #1572
@arfon I have a question about authorship. The DESCRIPTION file of the R package list the Authors as, "Yuan Tang. Contributions from Wenxuan Li, Nan Xiao and Zachary Deane-Mayer." However, only Yuan Tang and Wenxuan Li are listed as authors in the [paper.md](https://github.com/terrytangyuan/lfda/blob/master/paper/paper.md) file. Does one or both of these need to change in order to be acceptable? B

[2019-07-23 17:15] lheagy commented on #1328
👋 @openjournals/joss-eics, this submission is ready to be published! One reviewer did not fully complete the review, so please let me know if you need me to jump in and explicitly check off those items as a third reviewer. Thanks!

[2019-07-23 17:17] lheagy commented on #1544
:wave: @brmather, if you are happy with the edits to the paper, please merge in the changes and generate a new release of the software. From there, please create an archive on [zenodo](https://zenodo.org/) or similar with the title and author list being the same as the paper and then post the version number and doi here. Thanks!

[2019-07-23 17:24] kyleniemeyer commented on #1590
Hi @sairamgeethanath, thanks for your submission to JOSS! I'm about to assign an editor to handle your submission, but first:

JOSS only considers software with a clear research application. Your submission looks interesting, but the paper and documentation seem to focus more on educational/training applications. We think your tool does in fact have research applications, but they aren't currently

[2019-07-23 17:24] terrytangyuan commented on #1572
@sctyner I've fixed the issue with the license. Regarding the other issue with the version, I was hoping to release v1.1.3 on Github and on CRAN after the paper got accepted so I could include the full version of the paper as part of the release. @arfon Could you double check to see if this is the right process?

Regarding the author names, I asked Nan before and he preferred not to be included si

[2019-07-23 17:24] kyleniemeyer commented on #1590
@whedon assign @arokem as editor

[2019-07-23 17:24] whedon commented on #1590
OK, the editor is @arokem

[2019-07-23 17:35] kyleniemeyer commented on #1328
Hi @zhangning737, it looks like you deleted the JOSS paper file in your latest commit (https://github.com/zhangning737/rdbsp/commit/52742007231dba84846a82a38bf398f9dafa75f7). Can you add that back?

[2019-07-23 17:52] kyleniemeyer commented on #1531
Hi @adi3 @ts-adi I just submitted a minor PR that made some edits to the bib file, could you merge that? https://gitlab.com/toposens/public/ros-packages/merge_requests/83

[2019-07-23 17:56] sctyner commented on #1572
There are six empty tests. Issue [here](https://github.com/terrytangyuan/lfda/issues/23)

[2019-07-23 17:58] terrytangyuan commented on #1572
@sctyner Could you elaborate on what you meant by “empty tests”? Those are testing the exposed core functions from the package, e.g. lfda(), klfda(), etc.

[2019-07-23 18:15] ts-adi commented on #1531
@kyleniemeyer done!

@whedon generate pdf from branch joss_paper

[2019-07-23 18:16] ts-adi commented on #1531
@whedon generate pdf from branch joss_paper

[2019-07-23 18:16] whedon commented on #1531
[code]

[2019-07-23 18:17] whedon commented on #1531
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01531/joss.01531/10.21105.joss.01531.pdf)

[2019-07-23 18:30] mmhs013 commented on #1556
@rreinecke, @dhhagan and @mbobra thanks a lot for reviewing my project.

@mbobra, I already checked the README.md file and others with my friend. I think it's been better than before. I also archive my package on Zenodo and add Zenodo DOI in my README.md file.

[2019-07-23 18:33] mbobra commented on #1556
@whedon set 10.5281/zenodo.3347253 as archive

[2019-07-23 18:33] whedon commented on #1556
OK. <a href="https://doi.org/10.5281/zenodo.3347253" target="_blank">10.5281/zenodo.3347253</a> is the archive.

[2019-07-23 18:34] mbobra commented on #1556
@whedon set 1.1 as version

[2019-07-23 18:34] whedon commented on #1556
OK. 1.1 is the version.

[2019-07-23 18:34] mbobra commented on #1556
@whedon check references

[2019-07-23 18:34] whedon commented on #1556
[code]

[2019-07-23 18:39] poulson commented on #1548
Thank you for the fast and candid response, Joseph (@jlizier)! I will try to move forward with finding other reviewers and -- if that turns out to run into substantial delays -- circle back with you in early September.

[2019-07-23 18:41] poulson commented on #1548
Hi Ryan (@autoplectic) -- Do you think you would be able to provide input on this submission?

[2019-07-23 18:42] poulson commented on #1548
:wave: Fabian (@fsteeg) -- Would you have the time and interest to provide feedback on this submission?

[2019-07-23 19:47] pitsianis commented on #1577
Yes, I confirm that all authors in the JOSS paper submission have contributed to the design, analysis and the implementation of the associated software release in substantial ways. All co-authors agree to be listed as such, agree to be accountable for all aspects of the work, and to notify JOSS if any retraction or correction of mistakes is needed after publication.

Do you need such a declaration

[2019-07-23 19:56] kyleniemeyer commented on #1531
@ts-adi ah sorry, one more little fix in https://gitlab.com/toposens/public/ros-packages/merge_requests/84

[2019-07-23 20:02] ts-adi commented on #1531
@kyleniemeyer Also merged now. Appreciate your due diligence with this.

[2019-07-23 20:02] kyleniemeyer commented on #1531
@whedon generate pdf

[2019-07-23 20:02] whedon commented on #1531
[code]

[2019-07-23 20:02] whedon commented on #1531
PDF failed to compile for issue #1531 with the following error:

 Can't find any papers to compile :-(

[2019-07-23 20:02] kyleniemeyer commented on #1531
@whedon generate pdf from branch joss_paper

[2019-07-23 20:02] ts-adi commented on #1531
@whedon generate pdf from branch joss_paper

[2019-07-23 20:02] whedon commented on #1531
[code]

[2019-07-23 20:02] whedon commented on #1531
[code]

[2019-07-23 20:03] terrytangyuan commented on #1572
@sctyner Thanks. Just saw your reply on the issue. BTW, I changed the version back to v1.1.2 in DESCRIPTION so this should no longer be an issue.

[2019-07-23 20:03] whedon commented on #1531
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01531/joss.01531/10.21105.joss.01531.pdf)

[2019-07-23 20:04] kyleniemeyer commented on #1531
OK, all looks good, so I'll proceed with accepting.

[2019-07-23 20:04] kyleniemeyer commented on #1531
@whedon accept

[2019-07-23 20:04] whedon commented on #1531
[code]

[2019-07-23 20:05] whedon commented on #1531
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01531/joss.01531/10.21105.joss.01531.pdf)

[2019-07-23 20:05] whedon commented on #1531
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/854

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/854, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-23 20:11] kyleniemeyer commented on #1531
@whedon accept deposit=true

[2019-07-23 20:11] whedon commented on #1531
[code]

[2019-07-23 20:12] whedon commented on #1531
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1153759883298312194) 👈 🐦🐦🐦

[2019-07-23 20:12] whedon commented on #1531
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/855
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01531](https://doi.org/10.21105/joss.01531)
2. If everything looks go

[2019-07-23 20:28] hausen commented on #1571
@poulson , I'll be glad to help!

[2019-07-23 20:37] sctyner commented on #1572
Ok, I am pretty much done. The automated tests and hearing from @arfon about the versioning are the only unresolved things.

[2019-07-23 20:54] terrytangyuan commented on #1572
@sctyner Just fixed the issue with tests. Regarding the versioning, I fixed the version number in `DESCRIPTION` file so I think it should be fine now. Please let me know if there's anything else I should resolve. Thank you!

[2019-07-23 21:14] rioyokota commented on #1577
paper.md does not contain list of authors.

[2019-07-23 21:16] rioyokota commented on #1577
paper.md does not have references. README.md does but with no DOI for any of the references.

[2019-07-23 21:18] danielskatz commented on #1577
Hi @rioyokota - re your last two comments, please see the pdf generated from the md and bib files, a few comments up (https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-23 21:29] rioyokota commented on #1577
Yes, the authors, references, and DOI are available in the generated pdf.

[2019-07-23 21:30] rioyokota commented on #1577
My checklist is completed.

[2019-07-23 21:31] kyleniemeyer commented on #1531
@arfon is there an issue with whedon right now? The PDF built fine for the accept PR, but it isn't appearing at https://doi.org/10.21105/joss.01531

[2019-07-23 21:34] ts-adi commented on #1531
@kyleniemeyer seems to appear for me fine on that link.

[2019-07-23 22:03] kyleniemeyer commented on #1531
Weird! I still can't see it in Safari, but I can in Firefox. But the issue seems to be limited to me, so I'll say it's fine.

[2019-07-23 22:05] kyleniemeyer commented on #1531
@ts-adi congrats on your article's publication in JOSS! Thanks to @dvberkel for reviewing and @gkthiruvathukal for editing!

[2019-07-23 22:05] #1531 closed

[2019-07-23 22:05] whedon commented on #1531
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](http://joss.theoj.org/papers/10.21105/joss.01531/status.svg)](https://doi.org/10.21105/joss.01531)

**We need your help!**

Journal of Open Source Softwar

[2019-07-23 22:09] ts-adi commented on #1531
Awesome! Thanks for all your help with this @dvberkel @gkthiruvathukal @kyleniemeyer

[2019-07-23 22:20] gkthiruvathukal commented on #1531
A pleasure, @kyleniemeyer and @ts-adi. Big thanks to our reviewer, @dvberkel!

[2019-07-23 22:48] pitsianis commented on #1577
Thank you all for the effort, you are inspiring me to volunteer as a reviewer as well.

We have discovered an embarrassing typo and a couple of minor ones on the file paper.md. Shall we push an update or better wait for the review process to be completed?

[2019-07-23 23:09] tristan-salles commented on #1530
Here it comes!

[![DOI](https://zenodo.org/badge/185154268.svg)](https://zenodo.org/badge/latestdoi/185154268)

Thanks...

[2019-07-24 01:33] poulson commented on #1571
@whedon add @hausen as reviewer

[2019-07-24 01:33] whedon commented on #1571
OK, @hausen is now a reviewer

[2019-07-24 01:34] poulson commented on #1571
Sorry for the spam. Editing from my phone is dangerous!

[2019-07-24 01:36] vc1492a commented on #1571
@poulson thanks for the consideration! Unfortunately I don't really have the bandwidth to perform any reviews at this time. Best of luck, I took a peek at the package and it looks like it would have made for an interesting review.

[2019-07-24 02:19] urmi-21 commented on #1589
@whedon generate pdf

[2019-07-24 02:19] whedon commented on #1589
[code]

[2019-07-24 02:19] whedon commented on #1589
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01589/joss.01589/10.21105.joss.01589.pdf)

[2019-07-24 05:44] urmi-21 commented on #1589
@whedon generate pdf

[2019-07-24 05:44] whedon commented on #1589
[code]

[2019-07-24 05:45] whedon commented on #1589
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01589/joss.01589/10.21105.joss.01589.pdf)

[2019-07-24 06:03] labarba commented on #1577
Please go ahead with the fix, push the change and then run `@whedon generate pdf` in a comment here to get a new proof.

[2019-07-24 06:04] labarba commented on #1577
@rioyokota — does this comment require action, in your view?

[2019-07-24 06:12] zhangning737 commented on #1328
@kyleniemeyer my fault, mis remove it when due with some conflict... added it back now...

[2019-07-24 06:22] rioyokota commented on #1577
What has been the stance of JOSS in the past? Many people working on shared systems (supercomputers) will not be able to install this software because they cannot simply ask the admin to install the dependencies. If there were instructions on how to install these dependencies locally, that would cover a much broader audience.

[2019-07-24 06:40] brmather commented on #1544
Thanks @lheagy

I have released version 1.0.2. Some unknown error foiled the 1.0 release on Zenodo, so I had to bump the version to 1.0.2. The Docker image is on Docker Hub, the release is on PyPI, and the Zenodo doi is 10.5281/zenodo.3349511.

[2019-07-24 06:51] labarba commented on #1577
JOSS has no express stance on this. I see a recently published [paper](https://doi.org/10.21105/joss.01531) that also uses a `sudo` installation, but the use context there is different. It perhaps depends on how the software will likely be used. If this software will most likely be used in shared HPC scenarios, it could make sense to suggest a different installation process. Or the authors could s

[2019-07-24 08:31] rougier commented on #1517
I confirm it fixed my problem.

[2019-07-24 08:39] rougier commented on #1517
@alvarolopez I think you're missing some DOI in the references of your paper. Also, I did not find any way to test the package. Would you that be possible to have a step by step description of a minimal test to run?

[2019-07-24 09:12] sepandhaghighi commented on #1576
@silvandeleemput Thanks for your efforts!
@terrytangyuan Looks good to me

[2019-07-24 11:06] csoneson commented on #1560
👋@BarryDeCicco, @joethorley - would you be interested in reviewing this submission for JOSS?

[2019-07-24 11:29] BarryDeCicco commented on #1560
Yes - this will be my first review.

    On Wednesday, July 24, 2019, 7:06:13 AM EDT, Charlotte Soneson <notifications@github.com> wrote:

👋@BarryDeCicco, @joethorley - would you be interested in reviewing this submission for JOSS?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2019-07-24 11:47] terrytangyuan commented on #1576
Thanks @sepandhaghighi. @GregaVrbancic Any update on the remaining items in the review checklist?

[2019-07-24 12:50] pitsianis commented on #1577
We do state that our primary target is the personal computer and laptop.

This issue is really with the packages we depend upon and their support for user space builds (and their dependencies).

The container solution is a clean way to deal with this issue, especially if we can provide a script to put together the image.

[2019-07-24 13:29] j-braun commented on #1561
@arfon @danielskatz - I am sorry for the delayed answer. I was busy the past days and did not have the possibility to track the issue all the time. So here is the answer to your question in regard to research applictions:
Our software was designed to be used by (post-quantum) cryptography researchers and IT security practitioners. It’s goal is to enable researchers to extensively test their newly

[2019-07-24 13:37] j-braun commented on #1561
@whedon - potential reviewers could be:
- gcdeshpande
- trp07

[2019-07-24 13:50] mbobra commented on #1556
@whedon check references

[2019-07-24 13:50] whedon commented on #1556
[code]

[2019-07-24 13:58] j-braun commented on #1561
@whedon commands

[2019-07-24 13:58] whedon commented on #1561
Here are some things you can ask me to do:

[code]

[2019-07-24 13:59] mbobra commented on #1556
@whedon generate pdf

[2019-07-24 13:59] whedon commented on #1556
[code]

[2019-07-24 14:00] whedon commented on #1556
PDF failed to compile for issue #1556 with the following error:

 Error reading bibliography ./paper.bib (line 15, column 3):
unexpected "d"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-07-24 14:00] j-braun commented on #1561
@whedon generate pdf

[2019-07-24 14:00] whedon commented on #1561
[code]

[2019-07-24 14:00] whedon commented on #1561
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01561/joss.01561/10.21105.joss.01561.pdf)

[2019-07-24 14:02] mbobra commented on #1556
@mmhs013 It looks like there is a small error in paper.bib. Could you add a comma at the end of line 14?

[2019-07-24 14:11] mmhs013 commented on #1556
@mbobra, I already fix this error. Please check it again.

[2019-07-24 14:11] mbobra commented on #1524
@desilinguist @paragkulkarni11 Do you recommend this paper for publication after @alexanderimanicowenrivers' improvements or are there still some outstanding issues? I see that the checklists are not complete and I would like some guidance on how you would like to proceed from here.

[2019-07-24 14:14] desilinguist commented on #1524
Thanks @alexanderimanicowenrivers for the modifications! Unfortunately, I am traveling to a conference outside the country today and won't be back until August 5th. I will be happy to re-review once I am back.

[2019-07-24 14:16] mbobra commented on #1556
@whedon generate pdf

[2019-07-24 14:16] whedon commented on #1556
[code]

[2019-07-24 14:17] whedon commented on #1556
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01556/joss.01556/10.21105.joss.01556.pdf)

[2019-07-24 14:18] mbobra commented on #1556
@openjournals/joss-eics This paper is ready for acceptance! (I could not get Whedon to check the references but it looks fine in the pdf). Nice work @mmhs013 🎉

[2019-07-24 14:24] mmhs013 commented on #1556
@mbobra, all references are not visible in pdf!

[2019-07-24 14:26] danielskatz commented on #1561
@j-braun - we have rotating associate editors-in-chief, which is why two of us have asked about this, and this week, we'll let a third (@kyleniemeyer) reply and follow-up...

[2019-07-24 14:38] whedon commented on #1556
[code]

[2019-07-24 14:47] mmhs013 commented on #1556
@mbobra, when I update my paper for improving English, I accidentally remove some of my reference from paper. So those are not shown in pdf. I am sorry for that. I already fix it. Can you regenerate pdf?

[2019-07-24 14:48] ionlights commented on #1558
hey, @ikuyamda, @usethedata

sorry i've been silent. i'm nearly done. i've done all of the checklist save for the functionality (validating performance, etc.)

all the other, un-marked sections have comments which i've been preparing. i'm hoping to have this done this weekend, though i'm not sure about the performance validation.

@usethedata are you looking for me to reproduce their results, in t

[2019-07-24 14:58] mbobra commented on #1556
@whedon generate pdf

[2019-07-24 14:58] whedon commented on #1556
[code]

[2019-07-24 14:59] whedon commented on #1556
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01556/joss.01556/10.21105.joss.01556.pdf)

[2019-07-24 15:02] mmhs013 commented on #1556
Now, it looks good. Thanks a lot @mbobra for accept my paper. :D

[2019-07-24 15:03] omoliavko commented on #1494
@gkthiruvathukal We've rechecked licensing terms and all of the components used in mTower were originally published under BSD or Apache licenses that permit reuse or modification of code with attribution. Third-party components are used in mTower because they are essentially reference implementations of Open TEE standard, and we aimed to maintain maximal compatibility with existing Trusted Applica

[2019-07-24 15:05] gkthiruvathukal commented on #1494
@omoliavko Thank you for the update. My last question is whether this is clearly documented somewhere in your code. Are the licenses for these codes included in the folder containing them?

[2019-07-24 15:07] omoliavko commented on #1494
@gkthiruvathukal Each source code file contains its own licensing info. Also, there is a COPYING file in mTower project root folder that already contains this info for entire project.

[2019-07-24 15:16] gkthiruvathukal commented on #1494
@omoliavko So can you go to my earlier checklist and check off all of the items? I believe we are at a point where you can prepare the Zenodo archive and tag the current release.

[2019-07-24 15:22] gkthiruvathukal commented on #1579
@eidheim Thanks for your responses. This is all I needed to proceed with assigning reviewers. I would like see a clear mention of how this helps research software (the language you provided being just about all we need) and to split HTTP and HTTPS. I even failed to notice the regex-like syntax at first.

[2019-07-24 15:24] gkthiruvathukal commented on #1579
@gradvohl, @aaronyd, @hainesr, @jaynanavati, @nmullins, @HaoZeke, @Danbo3004, @gcdeshpande and @adi3: Would you be willing to contribute a review for this JOSS submission? I need two reviewers. I plan to assign on an FCFS basis. I know a couple of you have helped me on recent submissions but would be grateful to have your help again.

[2019-07-24 15:28] joethorley commented on #1560
I'm happy to review.

[2019-07-24 15:30] sctyner commented on #1572
My review is complete.

[2019-07-24 15:46] HaoZeke commented on #1579
@gkthiruvathukal I would be willing but there need to be significant rewrites. As far as I can tell there are no indications as to how this benefits researchers. It seems like a nice project though..

[2019-07-24 15:52] HaoZeke commented on #1579
@whedon check references

[2019-07-24 15:52] whedon commented on #1579
[code]

[2019-07-24 15:52] whedon commented on #1579
[code]

[2019-07-24 15:58] gkthiruvathukal commented on #1579
@HaoZeke If you take a look, I asked @eidheim about how it's research software and will be helpful to it.  I believe he gave a satisfactory response and we can iterate with him on this during review. I'm going to assign you as you already have provided some good feedback.

[2019-07-24 15:58] gkthiruvathukal commented on #1579
@whedon assign @HaoZeke as reviewer

[2019-07-24 15:58] whedon commented on #1579
OK, the reviewer is @HaoZeke

[2019-07-24 16:00] gkthiruvathukal commented on #1579
Awaiting one more reviewer!

[2019-07-24 16:04] HaoZeke commented on #1579
@gkthiruvathukal, sure, thanks. I am certain that working with @eidheim will definitely make this a valued contribution. Will continue once the review starts.

[2019-07-24 16:11] lheagy commented on #1499
Hi @Randrian45, thanks for your response and I will try to answer your questions here.

First, to clarify on the review process - the review for this submission was never started, and there are no comments from reviewers at this point. We would have opened a new issue where reviewers could comment, and you would have seen comments there - JOSS reviews are open and in the public.

Second, with resp

[2019-07-24 16:12] ts-adi commented on #1579
@gkthiruvathukal I can take this on. The library is probably useful and I think @eidheim will just need to elucidate his response more specifically

By the way, the code itself should have comments and documentation beyond a readme. This is especially important for a library where a doxygen-built API would help users. Not sure if that is part of the review process though.

[2019-07-24 16:12] lheagy commented on #1544
@whedon set 1.0.2 as version

[2019-07-24 16:12] whedon commented on #1544
OK. 1.0.2 is the version.

[2019-07-24 16:13] lheagy commented on #1544
@whedon set 10.5281/zenodo.3349511 as archive

[2019-07-24 16:13] whedon commented on #1544
OK. <a href="https://doi.org/10.5281/zenodo.3349511" target="_blank">10.5281/zenodo.3349511</a> is the archive.

[2019-07-24 16:14] HaoZeke commented on #1579
@ts-adi it will be.

[2019-07-24 16:16] lheagy commented on #1544
@whedon generate pdf

[2019-07-24 16:16] whedon commented on #1544
[code]

[2019-07-24 16:17] whedon commented on #1544
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01544/joss.01544/10.21105.joss.01544.pdf)

[2019-07-24 16:17] lheagy commented on #1544
Thanks @brmather! Would you mind updating the title on the zenodo record to match the paper? e.g. "PyCurious: A Python module for computing the Curie depth from the magnetic anomaly" . Please also take a look at the proof above and give a :+1: if you are happy with it. From there, we can proceed with publishing 🎉

[2019-07-24 16:21] gkthiruvathukal commented on #1579
@ts-adi I'm grateful that you are willing to be a reviewer. Let me assign you and get the ball rolling. All of these comments will be helpful for the actual review.

[2019-07-24 16:21] gkthiruvathukal commented on #1579
@whedon assign @ts-adi as reviewer

[2019-07-24 16:21] whedon commented on #1579
OK, the reviewer is @ts-adi

[2019-07-24 16:21] gkthiruvathukal commented on #1579
@whedon start review

[2019-07-24 16:21] whedon opened #1592 "[REVIEW]: Simple-Web-Server: a fast and flexible HTTP/1.1 C++ client and server library"
**Submitting author:** @eidheim (<a href="http://orcid.org/0000-0001-5355-6326">Ole Christian Eidheim</a>)
**Repository:** <a href="https://gitlab.com/eidheim/Simple-Web-Server" target ="_blank">https://gitlab.com/eidheim/Simple-Web-Server</a>
**Version:** v3.0
**Editor:** @gkthiruvathukal
**Reviewer:** @ts-adi
**Archive:** Pending

## Status

[![status](http://joss.theoj.org/papers/093a37e7d698d3

[2019-07-24 16:21] whedon commented on #1579
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1592. Feel free to close this issue now!

[2019-07-24 16:21] whedon commented on #1592
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ts-adi it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently watc

[2019-07-24 16:21] whedon commented on #1592
[code]

[2019-07-24 16:21] #1579 closed

[2019-07-24 16:22] whedon commented on #1592
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01592/joss.01592/10.21105.joss.01592.pdf)

[2019-07-24 16:23] pitsianis commented on #1577
@whedon generate pdf

[2019-07-24 16:23] whedon commented on #1577
[code]

[2019-07-24 16:23] whedon commented on #1577
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01577/joss.01577/10.21105.joss.01577.pdf)

[2019-07-24 16:25] strengejacke commented on #1572
I have opened several issues (https://github.com/terrytangyuan/lfda/issues) that need to be addressed, some of them are required to complete my review.

I think the submission is well prepared, so I would consider the issues as minor changes.

[2019-07-24 16:26] gcdeshpande commented on #1579
Happy to take up.. if still available

Thanks and Regards
Gajendra C. Deshpande
Assistant Professor, CSE@KLS.GIT
Belgaum - 590008
Karnataka, INDIA

Blog: http://gajendramoksha.wordpress.com
Website: http://sites.google.com/a/git.edu/gcd
Facebook: https://www.facebook.com/gcdeshpande

[http://csta.acm.org/Membership/sub/badge.jpg]

________________________________
From: George K. Thiruvathukal <not