[2022-10-25 10:22] cagret commented on #4363
@editorialbot generate pdf

[2022-10-25 10:26] cagret commented on #4363
A. _Thaliana_  should be in italics i'll fix this

[2022-10-25 10:41] jbytecode commented on #4718
@max-little - it seems you have still unchecked items in your tasklist. Would you like me to check them on for you?

[2022-10-25 10:43] max-little commented on #4718
Yes please, thank you!

On Tue, 25 Oct 2022 at 11:41, Mehmet Hakan Satman ***@***.***>
wrote:

--
Max Little (www.maxlittle.net)
Associate Professor, University of Birmingham
Turing Fellow, Alan Turing Institute
TED Fellow (fellows.ted.com/profiles/max-little)
Visiting Associate Professor, MIT
Author: Machine Learning for Signal Processing, Oxford University Press
global.oup.com/academic/product/m

[2022-10-25 11:07] schalkdaniel commented on #4545
@csoneson Thanks for all your effort! I will work on the comment this week and can (hopefully) address all the issues. :-)

[2022-10-25 11:55] danielskatz commented on #4875
@editorialbot check references

[2022-10-25 11:57] danielskatz commented on #4875
👋 @alogg - While I look for an editor, you could work on the possibly missing DOIs that editorialbot suggests, but note that some may be incorrect. Please feel free to make changes to your .bib file, then use the command `@editorialbot check references` to check again, and the command `@editorialbot generate pdf` when the references are right to make a new PDF. editorialbot commands need to be the

[2022-10-25 11:57] danielskatz commented on #4875
Also, should the first reference have some URL associated?

[2022-10-25 12:02] danielskatz commented on #4377
@jfowkes - I'm the track editor who will accept and publish this paper.  I have a few minor changes that I've suggested in https://github.com/jfowkes/pycutest/pull/35 - please merge this or let me know what you disagree with, then we can complete the process.

[2022-10-25 12:03] danielskatz commented on #4875
👋 @crvernon - Do you think you could edit this submission? It might be a little outside your area, but I'm hopeful :)

[2022-10-25 12:07] jfowkes commented on #4377
@danielskatz thank you very much, I have merged your minor changes.

[2022-10-25 12:15] crvernon commented on #4875
@danielskatz happy to help! I'll kick things off after I handle a few things this morning.

[2022-10-25 12:17] danielskatz commented on #4875
great, thanks!  I'll assign it to you, just to officially move it from my list to yours

[2022-10-25 12:18] slayoo commented on #4633
@pjb7687 Apparently, we have already automation in place at Zenodo for archival of every release, so this is automatically done. The question is which version to reference in the paper? This can be "1.0.0", the last one, or perhaps a fresh one? Making a fresh one has the advantage that beforehand we can create the `.zenodo.json` file (like here: https://github.com/nipy/nipype/blob/master/.zenodo.j

[2022-10-25 12:21] danielskatz commented on #4722
@DanNixon - you have some items in your checklist that are unchecked.  Can you check them off, or let us know what you would need done in order to do so?

[2022-10-25 12:23] danielskatz commented on #4722
@vitorsr - you have a few items left in your checklist unchecked. Can you check them off, or let us know what you would need in order to do so (which could include more time on your part, or actions from the author)?

[2022-10-25 12:23] danielskatz commented on #4762
@editorialbot remind @danielskatz in 4 days

[2022-10-25 12:25] danielskatz commented on #4377
@editorialbot recommend-accept

[2022-10-25 12:30] danielskatz commented on #4377
@editorialbot accept

[2022-10-25 12:40] danielskatz commented on #4377
Congratulations to @jfowkes (Jaroslav Fowkes) and co-authors!!

And thanks to @stsievert and @jonjoncardoso for reviewing, to @diehlpk for editing!

We couldn't do this without you

[2022-10-25 12:40] #4377 closed

[2022-10-25 12:58] chennachaos commented on #4871
@editorialbot generate my checklist

[2022-10-25 13:09] marcosvital commented on #4562
Hi, @ThomasThelen, sorry about the late reply. I'll check everything and will let you know if there are any other actions that you might have to take.

[2022-10-25 13:12] marcosvital commented on #4562
@editorialbot check references

[2022-10-25 13:12] vitorsr commented on #4722
All done. My only concern is that the JAX dependency seems a bit fragile - is there any plan to "future-proof" this requirement?

[2022-10-25 13:15] marcosvital commented on #4562
@editorialbot set 1.2.1 as version

[2022-10-25 13:16] marcosvital commented on #4562
@editorialbot set 10.5281/zenodo.6972383 as archive

[2022-10-25 13:21] thohamm commented on #4719
@editorialbot generate pdf

[2022-10-25 13:23] bwohlberg commented on #4722
We have experienced some issues with changes in `jaxlib` and `jax` breaking parts of our code, but a recent re-write of the `BlockArray` implementation has made that much less frequent. The project `requirements.txt` file includes both minimum and maximum `jaxlib` / `jax` version numbers to ensure that the user installs versions of these dependencies that are known to function correctly with `scic

[2022-10-25 13:26] marcosvital commented on #4366
Hi, @krober10nd! Have you had the chance to check @NRaillard responses?

I think that it would be specially important to see if you feel that the use-cases presented on the website might be enough and if the installation issues are solved.

[2022-10-25 13:33] marcosvital commented on #4366
@NRaillard, I wonder if some of the use-cases could also be presented on the documentation. Would that make sense?

[2022-10-25 13:35] danielskatz commented on #4722
👋 @vitorsr, @DanNixon, @lucaferranti - you've all now checked off all your review items, which I presume means that you think this can be accepted.  Please confirm this is the case.

[2022-10-25 13:37] marcosvital commented on #4365
Hi, @corentin-dev! Have you had the chance to look into @dsurujon comments? Also, let us know if you already addressed  @ellessenne comments as well (I see that you generated a new manuscript version, but I'm not sure if it's related to those comments).

[2022-10-25 13:45] gcattan commented on #4114
@oliviaguest I confirm that @ekinney-lang did not reported back on the edits.

[2022-10-25 13:52] kthyng commented on #4831
Hi @asogaard! We have switched to a track-based editorial managing system so I'll ping your track editor in a moment. But, no, your track area is particularly swamped.

[2022-10-25 13:52] danielskatz commented on #3968
👋 @drvinceknight - this seems like it's waiting for you...

[2022-10-25 13:52] kthyng commented on #4831
@editorialbot ping track-eic

[2022-10-25 13:52] NRaillard commented on #4366
Some of the use-cases can be quite long to generate as it gets data from the remote server but I think that some examples can be extracted from the notebook to integrate them into the documentation.
I have to look more precisely about the way I can automate it with sphinx...

[2022-10-25 13:53] kthyng commented on #4831
Oh but yes the reviewer suggestions will be helpful whenever an editor does get to this. Just list your suggestion github handles without "@" pinging them.

[2022-10-25 13:53] danielskatz commented on #3968
@IvanIsCoding - please update the metadata in your zenodo deposit to change the title to match the title of the software paper

[2022-10-25 14:03] kthyng commented on #4574
Hi @rCarto! Things are looking ready to go except — please go through your references and fix up the capitalization. For example, "r" is not capitalized several places, but please go through each carefully to be sure they all look perfect.

[2022-10-25 14:03] kthyng commented on #4574
oh and you can preserve capitalization in your .bib file with {} around characters/strings.

[2022-10-25 14:06] kthyng commented on #4562
Hi @ThomasThelen! Please update the metadata on your zenodo archive so that the title and author list exactly match your JOSS paper.

[2022-10-25 14:10] kthyng commented on #4562
Edits for your paper @ThomasThelen:
* The citation for McIntire on the first page isn't placed properly — please fix up the syntax for parenthetical citing.
* the citations in your "Dependencies" section should be inline instead of parenthetical
You can see an example [here](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography)

[2022-10-25 14:12] jbytecode commented on #4718
@editorialbot check references

[2022-10-25 14:13] kthyng commented on #4594
Everything looks great!

[2022-10-25 14:13] kthyng commented on #4594
@editorialbot accept

[2022-10-25 14:14] cjbarrie commented on #4781
Happy to do this if you're still looking for someone

[2022-10-25 14:14] jbytecode commented on #4718
@editorialbot generate pdf

[2022-10-25 14:20] kthyng commented on #4594
Congrats on your new publication @jeffreyhanson! Many thanks to editor @martinfleis and reviewers @Jo-Schie and @DrMattG for your time, hard work, and expertise!!

[2022-10-25 14:20] #4594 closed

[2022-10-25 14:25] kthyng commented on #4809
Hi @elbeejay! I know you're currently full up but also have a submission that's almost done. Would you be willing to edit this submission?

[2022-10-25 14:26] kthyng commented on #4809
@editorialbot invite @elbeejay as editor

[2022-10-25 14:42] kthyng commented on #4820
Hi @JessicaS11 and thanks for your submission! I'll take this on as editor.

Could you please look through our list of [volunteer reviewers](https://bit.ly/joss-reviewers) and suggest people by github handle (without the "@") that look relevant? Also please feel free to suggest from outside this list.

[2022-10-25 14:42] kthyng commented on #4820
@editorialbot assign me as editor

[2022-10-25 14:47] vyrjana commented on #4808
@jgostick No issues have been opened in the project repository so far by the reviewers. Probably just a case of busy schedules and unfortunate timing.

I did try to make sure that all of the points in the reviewer checklists were addressed prior to submitting the manuscript. However, I'm not in a terrible hurry to get this published before, e.g., the end of this week or month. I do also appreciate

[2022-10-25 14:48] jbytecode commented on #4718
Dear @klb2

Please check out the pull request that I've just sent. If you are agreed with them, please merge.

Thank you in advance.

[2022-10-25 14:51] vitorsr commented on #4722
Yes. The submission has no acceptance blockers and meets all acceptance
criteria.

On Tue, Oct 25, 2022 at 10:35 AM Daniel S. Katz ***@***.***>
wrote:

[2022-10-25 14:55] vijaysm commented on #4808
@jgostick I am not a reviewer for this submission. Any reason I got tagged?

[2022-10-25 15:04] jgostick commented on #4808
Hi @vijaysm, I am sorry, I must've selected the wrong name from githubs autocomplete list, since your handle is close the authors (@vyrjana).  You can unsubscribe!

[2022-10-25 15:09] jbytecode commented on #4718
@editorialbot check references

[2022-10-25 15:09] klb2 commented on #4718
I have merged your PR and also updated the joss-paper branch.
What are the next steps I need to do?

[2022-10-25 15:11] jmejia8 commented on #4723
@vissarion, the archive was automatically generated after tagging the release. The listed co-authors have been contributors who have made minor changes to the package. The metadata in the Zenodo archive has been updated to match the paper data.

[2022-10-25 15:50] klb2 commented on #4718
I have read the paper, created a tagged release, and the Zenodo archive.

- The version is `v1.2.0`.
- The Zenodo DOI is 10.5281/zenodo.7249626
- The Zenodo archive URL is https://zenodo.org/record/7249626

[2022-10-25 15:51] jbytecode commented on #4718
@editorialbot set v1.2.0 as version

[2022-10-25 15:52] jbytecode commented on #4718
@editorialbot set 10.5281/zenodo.7249626 as archive

[2022-10-25 16:02] mzabrams commented on #4678
@majensen I'll get the archive renamed with the underscore'd name this afternoon (may take a bit, as it will require a rename on PyPi as well, which is for the best as the conda and pip package names apparently differ -- I seem to have made a mistake there somewhere as pip is `fars-cleaner` and conda is `fars_cleaner`). Re: author metadata, currently Dr. Bass is an author on the paper (he is my Ph

[2022-10-25 16:07] majensen commented on #4678
Thanks @mzabrams - yeah, I've seen several pip packages where the dash is used in the name, but the package comes in with an underscore in code. Not sure that's a big problem, might be automatically translated even.
If you're ok putting your supervisor's name in the archive, then let's go ahead - might save a little editor-in-chief overhead.

[2022-10-25 16:10] mzabrams commented on #4678
Sounds good -- I'll go ahead and do that! You're right it's not the biggest deal, just personally I think I'd like the pip/conda packages to have the same name to avoid future confusion with installation (although I'll look into whether that gets automatically translated).

Just need to add the name to `pyproject.toml`? Or any other locations?

[2022-10-25 16:12] ethanwhite commented on #4678
@mzabrams - in cases like this we have included them as authors in the Zenodo archive (via a `.zenodo.json` file; which is what JOSS wants) but not listed them in setup.py, pypi, etc. I think this both allows the software paper and repo to match the author line while not implying direct code contributions (or ability to serve as a maintainer).

[2022-10-25 16:13] mzabrams commented on #4678
For the record, it appears pip automatically gets the same package whether I run `pip install fars_cleaner` or `pip install fars-cleaner`

[2022-10-25 16:31] crvernon commented on #4875
:wave: @alogg - The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing) have already agreed to review for JOSS and may be

[2022-10-25 16:32] pibion commented on #4837
Hello, I'd be happy to edit this submission!

[2022-10-25 16:35] dfm commented on #4831
@asogaard — I'm taking over as managing editor here - thanks all for the ping! Like @kthyng says unfortunately the appropriate editors are all still at full capacity, but I'll keep you updated and get someone assigned ASAP. Thanks for your patience!

[2022-10-25 16:36] danielskatz commented on #4837
Thanks @pibion - I'll assign you, but you also should feel free to assign yourself in the future 🙂

[2022-10-25 16:36] danielskatz commented on #4837
@editorialbot assign @pibion as editor

[2022-10-25 16:37] dfm commented on #4870
@editorialbot reject

@Imax2001 - thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/acti

[2022-10-25 16:37] #4870 closed

[2022-10-25 16:46] eminizer commented on #4837
Thank you @pibion !

[2022-10-25 16:47] NoraLoose commented on #4277
@editorialbot generate pdf

[2022-10-25 17:04] pibion commented on #4837
@eminizer my pleasure, I love to see data acquisition represented!  Do you have anyone you would recommend as a reviewer?

[2022-10-25 17:30] villrv commented on #4870
Hi there - is there a way to dispute this decision? This software is being actively used in SN publications, proposals, etc. It represents months of effort funded by LSST Corporation to build open-source tools for the upcoming Legacy Survey and Space and Time (the "LSST" of LSST Corp.).  Thanks!

[2022-10-25 17:48] mzabrams commented on #4678
Should be solved now -- the Zenodo DOI for the most recent version is [10.5281/zenodo.7249980](https://doi.org/10.5281/zenodo.7249980)

The DOI for all versions is [10.5281/zenodo.3735486](https://doi.org/10.5281/zenodo.3735486)

[2022-10-25 18:00] dfm commented on #4870
@villrv — We're definitely not disputing the utility of the tool, but in its current form it's not suitable for JOSS. I believe that a future version (especially with more established documentation, testing, API design/extensibility, etc.) could certainly be a good fit and we would welcome re-submission when it's ready, but in the meantime I'd recommend minting a Zenodo DOI to use for tracking cit

[2022-10-25 18:25] alogg commented on #4875
@crvernon The following list of people match the criteria `C++ and *mesh*`:

[code]

[2022-10-25 18:42] MrShoenel commented on #4819
I think some of my suggestions are not on GitHub or I cannot find the associated user names.
However, I found the following people on GitHub that should be qualified to conduct a review: Maurício Aniche (`mauricioaniche`), Joost Visser (`jstvssr`), Matt Haberland (`mdhaber`), Ralf Gommers (`rgommers`), and Evgeni Burovski (`ev-br`).

[2022-10-25 18:45] pibion commented on #4576
@micheder I'm continuing to reach out to find reviewers.  I've gotten some responses back but unfortunately so far they're all unable to review.  I'll continue reaching out, but in the meantime if you have any other suggestions they're most welcome!

[2022-10-25 18:51] asitha-sena commented on #4569
@editorialbot commands

[2022-10-25 18:54] asitha-sena commented on #4569
@editorialbot ping track-eic

[2022-10-25 19:03] lucaferranti commented on #4722
confirm the submission is ready for pubblication

[2022-10-25 19:04] danielskatz commented on #4722
great, thanks all.

[2022-10-25 19:05] martinfleis commented on #4781
@sdmccabe @cjbarrie Thank you both! I'll start the review in a second.

[2022-10-25 19:05] martinfleis commented on #4781
@editorialbot add @sdmccabe as reviewer

[2022-10-25 19:05] danielskatz commented on #4722
👋 @bwohlberg - at this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metadata. This includes the title (should match the paper title) and author lis

[2022-10-25 19:06] martinfleis commented on #4781
@editorialbot start review

[2022-10-25 19:06] editorialbot opened #4880 "[REVIEW]: abcvoting: A Python package for approval-based multi-winner voting rules"
**Submitting author:** @martinlackner (<a href="http://orcid.org/0000-0003-2170-0770">Martin Lackner</a>)
**Repository:** https://github.com/martinlackner/abcvoting
**Branch with paper.md** (empty if default branch):
**Version:** v2.6.0
**Editor:** @martinfleis
**Reviewers:** @sdmccabe, @cjbarrie
**Archive:** 10.5281/zenodo.7520815

## Status

[![status](https://joss.theoj.org/papers/222ca400e0f17

[2022-10-25 19:06] #4781 closed

[2022-10-25 19:08] martinfleis commented on #4880
👋🏼 @martinlackner, @sdmccabe, @cjbarrie this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers should create checklists with the JOSS requirements using the command `@editorialbot generate my checklist`. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelin

[2022-10-25 19:25] banesullivan commented on #4569
Apologies for the ping but @kthyng since you are on the editorial board for geosciences, would you please help us get the right attention here?

@asitha-sena and their team have worked diligently to get this submission ready for approval, and I believe all reviewers have given the rubber stamp. Could we gain some assistance in moving this forward?

[2022-10-25 19:25] YohannDudouit commented on #4172
Hi @jedbrown, @danielskatz, and @jeremiah-corrado ,
I apologize for the slow answer. My remaining main issue is with the "Statement of need", I think the use of "efficient"/"efficiently" is confusing and misleading, and I am also not comfortable with the claim of "distinct advantage over Deal.II". If I understand correctly the statement of need, the use of "efficient" means "ease of implementation

[2022-10-25 19:32] rMassimiliano commented on #3527
@AP6YC good job! I think the updated documentation and examples will be beneficial for new users.

@adi3 my checklist is now complete. I find Release 0.6.0 satisfactory.

[2022-10-25 19:33] corentin-dev commented on #4365
Hi @marcosvital,
Yes, we are preparing a response. We changed some part of the software to take into account all the remarks and I plan to release a new paper / version of the software in about 2 weeks!

[2022-10-25 20:09] Aslan-Kosakian commented on #4808
Hi all. Sorry for the late reply @jgostick and @vyrjana. Here are my comments, questions, and suggestions. Those for which I opened tickets in the DearEIS issue tracker are linked here.

My main concern is that I couldn't find a tutorial on how to actually use the DearEIS GUI. There are good API toturials for DearEIS and pyimpspec, but it would be nice to have a guide for the GUI users too. This w

[2022-10-25 20:18] elbeejay commented on #4809
@editorialbot assign me as editor

[2022-10-25 20:37] elbeejay commented on #4809
:wave: @giswqs, @jonschwenk, @JannisHoch, @jvdkwast, @amoodie, @jeffskwang, @kratzert, @mcflugen, I am reaching out to y'all as potential reviewers for this submission to JOSS titled: "_HydroMT: Automated and reproducible model building and analysis_". While you all are experts at this intersection of Python (specifically modular, reproducible, and user-friendly packaging) and hydrology, I also ap

[2022-10-25 20:48] keipertk commented on #4822
Review is complete on my end. Great work by the LANL team!

[2022-10-25 21:11] markheckmann commented on #3292
FYI: Just pushed the latest package version `v0.6.1` to CRAN: https://cran.rstudio.com/web/packages/OpenRepGrid.ic/index.html. Please, let me know in case you need anything else to proceed.
Thanks!

[2022-10-25 21:24] diehlpk commented on #4493
@Athene-ai Can you please check the reviewer list? Not all boxes are checked.

[2022-10-25 22:02] crvernon commented on #4875
:wave: @KParas - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-25 22:03] crvernon commented on #4875
:wave: @krober10nd - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-25 22:06] rkurchin commented on #4862
@aliusdragonfly, @ziatdinovmax, let me know if you have any questions about how to get started on your reviews!

[2022-10-25 22:08] rkurchin commented on #4817
Thanks for getting started, @mkhorton, and a reminder to @obaica to do the same! Also, you should feel free to open issues in the software repo if you come across anything while reviewing – try to remember to link to this issue for easy tracking.

[2022-10-25 22:09] rkurchin commented on #4694
Hi @villaa, just checking in on this again!

[2022-10-25 22:36] jmschrei commented on #4787
@igarizio or @praveenkumarpgiindia are either of you available to review this submission?

[2022-10-25 22:36] jmschrei commented on #4767
@suyashkumar how is the review coming?

[2022-10-25 22:40] villaa commented on #4694
sorry I missed this @rkurchin I will verify the solutions to the issues I opened tomorrow.

[2022-10-25 22:43] aliusdragonfly commented on #4862
Haha.  No questions on how, just trying to line up a slot for when...

Should be able to get to it Friday, at least to make a start.

________________________________
From: Rachel Kurchin ***@***.***>
Sent: Tuesday, October 25, 2022 6:07 PM
To: openjournals/joss-reviews ***@***.***>
Cc: Akey, Austin ***@***.***>; Mention ***@***.***>
Subject: Re: [openjournals/joss-reviews] [REVIEW]: APAV: Python

[2022-10-25 22:50] bwohlberg commented on #4722
Thank you @vitorsr, @DanNixon, and @lucaferranti for your reviews.

@danielskatz: We released version 0.0.3 about a month ago (well after the review had started) and have only made minor changes since then. Would it be OK to use that tagged release for the process outlined above? Also, any objections to some minor changes (e.g. correcting a reference, updating a description of the repo) being made

[2022-10-25 22:56] slwu89 commented on #4775
@mikldk yes, all of my comments have been addressed in a satisfactory manner and I recommend publication.

[2022-10-25 23:05] igarizio commented on #4787
Hi @jmschrei,
I'm available. I have previously worked on a topic related to kidney transplants (but for wait lists) and also matching algorithms (but for a different topic, assigning students to schools). This sounds super interesting.

[2022-10-25 23:15] jmschrei commented on #4787
Great!

[2022-10-25 23:16] jmschrei commented on #4787
@editorialbot add @igarizio as reviewer

[2022-10-25 23:16] jmschrei commented on #4787
@editorialbot start review

[2022-10-25 23:16] editorialbot opened #4881 "[REVIEW]: kep_solver: A Python package for kidney exchange programme exploration"
**Submitting author:** @WPettersson (<a href="http://orcid.org/0000-0003-0040-2088">William Pettersson</a>)
**Repository:** https://gitlab.com/wpettersson/kep_solver
**Branch with paper.md** (empty if default branch):
**Version:** 2.1.1
**Editor:** @jmschrei
**Reviewers:** @arianesasso, @igarizio
**Archive:** 10.5281/zenodo.7369472

## Status

[![status](https://joss.theoj.org/papers/46198c037f6e2

[2022-10-25 23:16] #4787 closed

[2022-10-25 23:22] jmschrei commented on #4881
Howdy @arianesasso and @igarizio!

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above. Please run the command shown above to have @editorialbot generate your checklist, which will give a step-by-step process for conducting your review. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues i

[2022-10-25 23:46] WilkAndy commented on #4560
Hey everyone (viz @omalled ) - this seems to have gone off the boil.  I'm quite keen for this article to be published, but have people lost interest?

[2022-10-25 23:47] vlad0x00 commented on #4720
Thank you, @fboehm !

I've added the doi: https://github.com/bcgsc/btllib/commit/7be06f88097099afd426494f8c8ed241281f2a97

[2022-10-25 23:47] vlad0x00 commented on #4720
@editorialbot generate pdf

[2022-10-26 00:08] sepandhaghighi commented on #4073
@diehlpk Thanks 💯
Before I start reviewing, please address these questions.

1. Where is my checklist?
2. It seems recently this project moved to another repo, is it okay? @maxpumperla

SH

[2022-10-26 00:15] diehlpk commented on #4073
@editorialbot commands

[2022-10-26 00:16] diehlpk commented on #4073
Please run

# Adds a checklist for the reviewer using this command
@editorialbot generate my checklist

to generate your list.

[2022-10-26 00:40] sepandhaghighi commented on #4073
@editorialbot generate my checklist

[2022-10-26 00:47] danielskatz commented on #4722
Both of those are fine.

[2022-10-26 01:20] majensen commented on #4678
@editorialbot set 10.5281/zenodo.7249980 as archive

[2022-10-26 01:20] majensen commented on #4678
@editorialbot set v1.3.5 as version

[2022-10-26 01:21] majensen commented on #4678
@editorialbot recommend-accept

[2022-10-26 01:39] Qingfengmufeng commented on #4815
## Review checklist for @Qingfengmufeng

### Conflict of interest

- [ ] I confirm that I have read the [JOSS conflict of interest (COI) policy](https://github.com/openjournals/joss/blob/master/COI.md) and that: I have no COIs with reviewing this work or that any perceived COIs have been waived by JOSS for the purpose of this review.

### Code of Conduct

- [ ] I confirm that I read and will adher

[2022-10-26 01:41] SimonGreenhill commented on #4879
@editorialbot generate my checklist

[2022-10-26 01:41] Qingfengmufeng commented on #4815
OK

***@***.***

From: Daniel S. Katz
Date: 2022-10-25 20:20
To: openjournals/joss-reviews
CC: Qingfengmufeng; Mention
Subject: Re: [openjournals/joss-reviews] [REVIEW]: OPSDN: an enhanced SDN simulation framework for OPNET Modeler (Issue #4815)
@editorialbot generate my checklist
@Qingfengmufeng - can you try that again? enter @editorialbot generate my checklist as a new comment here
—
Reply to t

[2022-10-26 03:39] ekinney-lang commented on #4114
Hey @oliviaguest and @gcattan - Sorry for the late reply. I have not gotten a chance to review the most recent updates. I was happy with the edits made previously. I will try to take a look again soon, but am under some tight deadlines at the moment.

[2022-10-26 05:45] maxpumperla commented on #4073
@sepandhaghighi moving forward this project will be maintained by Daniel Cahill. He decided to create this own fork. The important bit is that a) the info on the repo is still valid b) the project is considered feature-complete with the 3.0 release and c) the software will always be available as `elephas` package. Thanks for this question, though!

[2022-10-26 07:12] Athene-ai commented on #4493
@editorialbot generate checklist

[2022-10-26 07:14] Athene-ai commented on #4493
@diehlpk just filled

[2022-10-26 07:27] asogaard commented on #4831
Thanks, @kthyng and @dfm! In that case, I would suggest the following

Potential reviewers within neutrino physics (most relevant to scope of the present paper):
* **JostMigenda**
* **apizzuto** (NB: Alex is also part of the IceCube Collaboration, like the authors of this paper. However, IceCube comprises approx. 300 researchers, and Alex has no direct connection to, or conflicts of interests rega

[2022-10-26 07:54] sara-02 commented on #4493
@Athene-ai I was able to pip install and successfully import in python 3.8 Suggestion for improving 1st time trying folks, to train the MNIST model, https://github.com/dianna-ai/dianna-exploration/tree/main/example_data/model_generation/MNIST can the dataset be loaded from skelearn dataset itself instead of from a path?

[2022-10-26 07:54] KParas commented on #4875
@crvernon Thanks for reaching out. The topic is really interesting for me, but I could only take this up after January due to my current time schedule.

[2022-10-26 07:57] sara-02 commented on #4493
In line with the above ipynb and the documentations readthedocs, (maybe I missing it) but can there be one example that runs end-to-end like the same notebook has model training as well as explanation part instead of training in one and assuming loading in the read the docs. This can help give the newcomers a sense of how the workflow is end2end.

[2022-10-26 08:06] gdmiron commented on #4624
@lucydot some potential reviewers I found by searching the list of reviewers usernames: vidalgp, sgrieve, bobmyhill, yes, (espottesmith) - has an active review. [reviewers list](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit#gid=856801822).

[2022-10-26 08:07] Athene-ai commented on #4493
Loaded from skelearn

[2022-10-26 08:07] Athene-ai commented on #4493
perfect

[2022-10-26 08:15] sara-02 commented on #4493
@elboyran I was able to follow the testing setup https://dianna.readthedocs.io/en/latest/developer_info.html mentioned here. My tests with tox (conda python3.8 env) worked as given in the screenshot.
However running the pytest -v command from the same test folder gives an error

![image](https://user-images.githubusercontent.com/7047079/197971958-dffc9646-2a3b-4c8c-b4d7-6c018649daf9.png)

[2022-10-26 08:24] vissarion commented on #4723
@editorialbot recommend-accept

[2022-10-26 08:28] faroit commented on #4754
@sara-02 can you update us on the status on your review?

[2022-10-26 08:36] klb2 commented on #4718
Great thank you @jbytecode
The final proof looks good.

[2022-10-26 09:02] gcattan commented on #4114
@ekinney-lang thank you for your feedback :) For ease of use, the link below outlines the most recent update:
https://gitlab.com/programgreg/tagginglatencyestimator/-/compare/v1-JOSS...master?from_project_id=29286425&straight=false
They concern mainly:
- the addition of a PowerPoint presentation
- the shipping of the software in zip archives after the changes your required previously
- the modific

[2022-10-26 09:15] sara-02 commented on #4754
Sure will update it by tomorrow, sorry for the delay

[2022-10-26 11:42] krober10nd commented on #4875
@crvernon Same here as KParas. Very busy and won't have time to review until Jan-Feb.

[2022-10-26 12:09] melissawm commented on #4291
Ok - I will add you both as reviewers, this issue will be automatically closed and we will start the review in a new issue. Thanks for sticking around - you'll get the appropriate notifications, please let me know if you have further questions.

[2022-10-26 12:10] melissawm commented on #4291
@editorialbot add @jajhall as reviewer

[2022-10-26 12:11] rCarto commented on #4574
@editorialbot generate pdf

[2022-10-26 12:11] melissawm commented on #4291
@editorialbot start review

[2022-10-26 12:11] editorialbot opened #4882 "[REVIEW]: GALAHAD 4.0: an open source library of Fortran packages with C and Matlab interfaces for continuous optimization"
**Submitting author:** @nimgould (<a href="http://orcid.org/0000-0002-1031-1588">Nicholas Gould</a>)
**Repository:** https://github.com/ralna/GALAHAD
**Branch with paper.md** (empty if default branch):
**Version:** v4.0.0
**Editor:** @melissawm
**Reviewers:** @frankecurtis, @jajhall
**Archive:** 10.5281/zenodo.8075232

## Status

[![status](https://joss.theoj.org/papers/321c4b0b52956f8fb71666f3c64

[2022-10-26 12:11] #4291 closed

[2022-10-26 12:12] melissawm commented on #4882
:wave: @nimgould @frankecurtis @jajhall this is the issue where the review will take place. If you have questions, please let me know. Cheers!

[2022-10-26 12:33] elbeejay commented on #4809
@editorialbot add @JannisHoch as reviewer

[2022-10-26 12:34] editorialbot opened #4883 "[PRE REVIEW]: ticktack: A Python package for carbon box modelling"
**Submitting author:** @benjaminpope (<a href="http://orcid.org/0000-0003-2595-9114">Benjamin Pope</a>)
**Repository:** https://github.com/SharmaLlama/ticktack
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @dfm
**Reviewers:** @joshuakt
**Managing EiC:** Dan Foreman-Mackey

## Status

[![status](https://joss.theoj.org/papers/457392fb96baf638d8a7cc74324c3bf5/sta

[2022-10-26 12:39] dfm commented on #4883
@benjaminpope — Thanks for your submission! I'm the managing editor for this submissions JOSS "track", so I'm responsible for assigning an editor to handle your submission. Unfortunately, all of the suitable editors are working at capacity so I'm going to need to waitlist this submission for now, and I'll aim to assign an editor ASAP. Thanks for your patience!

[2022-10-26 12:41] dfm commented on #4634
@kazewong, @marylou-gabrie — Can you both take a look at @minaskar's responses to your feedback and let us know if there are any remaining issues? Thanks!!

[2022-10-26 12:52] benjaminpope commented on #4883
Hi @dfm,

No trouble at all - end of semester here is very busy too!

I think joshuakt would be a good reviewer, who has done carbon box modelling in an astrobiology-geophysical context; in the archaeological context a lot more of the work is closed-source, but andrewcparnell and nevrome have respectively written stable isotope and radiocarbon analysis codes and could also be good reviewers.

All

[2022-10-26 12:59] gdede-hua commented on #4403
@fabian-s we have already addressed some comments but since I am on business trip I would like to kindly ask you to give us some more days and complete all the changes that have to be performed by the middle of next week. Thank you!

[2022-10-26 12:59] danielskatz commented on #4723
I've suggested minor changes in https://github.com/jmejia8/Metaheuristics.jl/pull/49 and https://github.com/jmejia8/Metaheuristics.jl/pull/50. Please merge these or let me know what you disagree with, then we can continue the process

[2022-10-26 13:00] danielskatz commented on #4867
👋 @vissarion - given that you have another submission almost done, I wonder if you might find this submission one that you could edit?

[2022-10-26 13:01] danielskatz commented on #4867
@editorialbot invite @vissarion as editor

[2022-10-26 13:02] danielskatz commented on #4822
thanks @keipertk - you found just the one issue that has been addressed, and are happy for this to be published?

[2022-10-26 13:03] danielskatz commented on #4822
👋 @govarguz - just checking in again after ~3 weeks. Please do get started when you can by generating your checklist. To do this, use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

If you have any issues or concerns about the process, please let me know.

[2022-10-26 13:04] fabian-s commented on #4403
@gdede-hua sure, no problem.

[2022-10-26 13:04] fabian-s commented on #4403
@editorialbot remind @gdede-hua in 7 days

[2022-10-26 13:04] danielskatz commented on #4815
👋 @pausz - How are things are going? When you do think you will be able to start on your review items?

[2022-10-26 13:26] danielskatz commented on #4867
@editorialbot assign @vissarion as editor

not sure why the first one didn't work - trying again ...

[2022-10-26 13:35] vissarion commented on #4867
Hi @darioizzo, @StefanKohekUMFERI, @zfergus, @chtld, @mbarzegary would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-26 13:37] jmejia8 commented on #4723
@danielskatz - thanks for the suggested changes. I just merged the PRs.

[2022-10-26 13:43] dlr-cjs commented on #4794
Dear all,

I am now back from holidays, and, as corresponding author, I will now take my responsibilities and serve as primary point of contact for DLR. Thank you @KriNiTi for your efforts. Kind regards, Christoph Schimeczek

[2022-10-26 13:44] vissarion commented on #3732
Hi @augucarv,  @torbenwendt, @GLizaso, @jmrplens you are experts in acoustics and MATLAB, would you like to help us reviewing this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-26 13:46] ttarkowski commented on #4867
@danielskatz @vissarion - thank you.

[2022-10-26 14:08] danielskatz commented on #4723
@editorialbot recommend-accept

[2022-10-26 14:14] danielskatz commented on #4723
@jmejia8 - sorry, one more thing I thought I fixed but seem to have missed: https://github.com/jmejia8/Metaheuristics.jl/pull/51

[2022-10-26 14:28] danielskatz commented on #4723
@editorialbot recommend-accept

[2022-10-26 14:35] danielskatz commented on #4723
@editorialbot accept

[2022-10-26 14:43] danielskatz commented on #4723
Congratulations to @jmejia8 (Jesus-Adolfo Mejia-de-Dios) and co-author!!

And thanks to @idoby and @PaulDebus for reviewing, and to @vissarion for editing!
We couldn't do this without you

[2022-10-26 14:43] #4723 closed

[2022-10-26 14:49] crvernon commented on #4875
Thanks @krober10nd and @KParas I'll keep you in mind for future reviews!

[2022-10-26 14:50] crvernon commented on #4875
:wave: @Puumanamana - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-26 14:56] diehlpk commented on #4073
@editorialbot generate pdf

[2022-10-26 14:57] diehlpk commented on #4073
@maxpumperla I think it would be better if the repo url points to the new repo, since new updated will be pushed there. What do you think?

[2022-10-26 14:59] diehlpk commented on #4073
@editorialbot set mp_joss_paper as branch

[2022-10-26 14:59] diehlpk commented on #4073
@editorialbot generate pdf

[2022-10-26 15:07] ritamraha commented on #4671
@adi3, I hereby mention some more reviewers' names whose expertise seems to be aligned with the paper. We hope that one of the following reviewers agrees to review our software:

- JDRomano2
- sea-bass
- BasTesterink
- cknoll
- Kraks
- ChristopherHaydenTodd
- ankur-gupta

[2022-10-26 15:29] IvanIsCoding commented on #3968
We have updated the title, it matches the paper’s title now

[2022-10-26 15:30] keipertk commented on #4822
@danielskatz Yes I'm happy for this to be published.

[2022-10-26 15:35] danielskatz commented on #3968
Thanks - @drvinceknight should now do a check on this and recommend it be accepted, then I will take over for the last steps.

[2022-10-26 15:45] PaulDebus commented on #4723
Thanks everyone for the good work, it was a pleasant project and an interesting paper! Congrats on the publication @jmejia8 !

[2022-10-26 15:52] kyleniemeyer commented on #4855
Hello @ceds92, thank you for our patience. After review by the JOSS editorial board, unfortunately your submission does not meet our scope requirement for [research software](https://joss.readthedocs.io/en/latest/submitting.html#what-we-mean-by-research-software) to proceed to review.

Please consider some [other options](https://joss.readthedocs.io/en/latest/submitting.html#other-venues-for-revie

[2022-10-26 15:52] kyleniemeyer commented on #4855
@editorialbot reject

[2022-10-26 15:53] #4855 closed

[2022-10-26 16:13] editorialbot opened #4884 "[PRE REVIEW]: The Generalized Green's function Cluster Expansion: A Python package for simulating polarons"
**Submitting author:** @matthewcarbone (<a href="http://orcid.org/0000-0002-5181-9513">Matthew Carbone</a>)
**Repository:** https://github.com/matthewcarbone/GGCE
**Branch with paper.md** (empty if default branch): joss-manuscript
**Version:** v0.1.1
**Editor:** @jarvist
**Reviewers:** @Neutrino155, @st3r4g
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/688705

[2022-10-26 16:14] kyleniemeyer commented on #4884
@editorialbot set paper.md as branch

[2022-10-26 16:15] kyleniemeyer commented on #4884
@editorialbot generate pdf

[2022-10-26 16:18] kyleniemeyer commented on #4884
@openjournals/dev can someone help figure out why the paper isn't generating? I can see the `paper.md` file on the `paper.md` branch, which I've now set. I can't parse the error message that is being given.

[2022-10-26 16:19] editorialbot opened #4885 "[PRE REVIEW]: AirTrafficSim: An open-source web-based air traffic simulation platform."
**Submitting author:** @kyfrankie (<a href="http://orcid.org/0000-0002-4905-5411">Ka Yiu Hui</a>)
**Repository:** https://github.com/HKUST-OCTAD-LAB/AirTrafficSim
**Branch with paper.md** (empty if default branch): paper
**Version:** v0.0.0
**Editor:** @AoifeHughes
**Reviewers:** @gmingas, @xoolive
**Managing EiC:** Kyle Niemeyer

## Status

[![status](https://joss.theoj.org/papers/7d4a9fdfae0c862

[2022-10-26 16:20] kyleniemeyer commented on #4885
@editorialbot set main as branch

[2022-10-26 16:21] kyleniemeyer commented on #4885
@editorialbot check repository

[2022-10-26 16:22] kyleniemeyer commented on #4885
@editorialbot set paper as branch

[2022-10-26 16:22] kyleniemeyer commented on #4885
@editorialbot invite @timtroendle as editor

Hi @timtroendle, this is a bit outside your area, but could you edit this submission?

[2022-10-26 16:30] itismeghasyam commented on #4667
Thank you for considering, unfortunately I cannot review this paper at this time because of other commitments.

[2022-10-26 16:36] x94carbone commented on #4884
Bad bot!

Thanks for the help, @kyleniemeyer.

Has been compiling fine on the repo- weird.

[2022-10-26 17:14] mikldk commented on #4819
@mdhaber, @rgommers: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-10-26 17:27] rdguha1995 commented on #4874
@editorialbot generate my checklist

[2022-10-26 18:02] mdhaber commented on #4819
Yes, I can review it.

[2022-10-26 18:36] elimillera commented on #4741
Hey @pydemull, I've reviewed the package, repository, and paper. I've ran all the tests I generally run to determine package quality and they are all coming back green, they repository is well formed and has good CI and contributor information, and the paper is well written.

Looks good to me!

[2022-10-26 18:46] augucarv commented on #3732
Hi @vissarion, I'm really short on time and won't be able to review it. Best of luck.

[2022-10-26 19:37] tijeco commented on #4775
@mikldk hoping to finish the review this weekend!

[2022-10-26 19:39] jranalli commented on #4757
Thanks again to reviewers for you time! As of now, pull requests have been implemented regarding all the major and minor issues that had been raised by reviewers. Not sure how the process continues, but if anything else is needed from us, please just speak up!

[2022-10-26 20:04] Ebedthan commented on #4851
**Summary and overall critics**
We thank the authors for the proposed article which is a valuable study proposing a useful tool for bioinformaticians and computational biologists. I have particularly loved the idea and implementation that take into account the possibility to run it on servers. I have also appreciated the software website. However, this article and the associated code repository su

[2022-10-26 21:03] fboehm commented on #4720
Thanks, @vlad0x00 ! For the next steps, would you please make a new release of the repository and make an archive, for example, with zenodo, of the repository? Once you've done so, please reply in this thread with the version number for the release and the doi for the archive.

[2022-10-26 21:07] jgostick commented on #4757
Great stuff everyone...the above review thread shows a very comprehensive review and revision process indeed.   I have confirmed that via the discussion and various merged PRs that all of the reviewers comments and concerns have been addressed.  So I will move forward with accepting it.  There few housekeeping items to get to first though.  I will paste a checklist below.

[2022-10-26 21:11] jgostick commented on #4757
# Post-Review Checklist for Editor and Authors
## Additional Author Tasks After Review is Complete
- [ ] Double check authors and affiliations (including ORCIDs)
- [ ] Make a release of the software with the latest changes from the review and post the version number here. This is the version that will be used in the JOSS paper.
- [ ] Archive the release on Zenodo/figshare/etc and post the DOI here

[2022-10-26 21:12] vlad0x00 commented on #4720
A release of the latest main branch, I presume?

[2022-10-26 21:32] Fei-Tao commented on #4864
Hi @ady00, @shagunsodhani, @Annielytix, Thanks again for reviewing this submission. Would you please generate your checklist at your convenience? Please feel free to let me know if you need any help.

[2022-10-27 00:12] ady00 commented on #4864
@editorialbot generate my checklist

[2022-10-27 00:29] bwohlberg commented on #4722
The Zenodo doi is [10.5281/zenodo.7255839](https://dx.doi.org/10.5281/zenodo.7255839).

[2022-10-27 06:59] pydemull commented on #4741
Thanks @elimillera for your time and work. Glad to know that all seem ok for you. @samhforbes, @angerhang, for information I have merged the dev branch with the master branch in relation to the modifications made following the @angerhang's comments. I have then taken the liberty to close the issues opened by @angerhang. Best

[2022-10-27 07:08] LorenzoMugnai commented on #4873
@editorialbot generate my checklist

[2022-10-27 07:58] mikldk commented on #4819
@editorialbot add @mdhaber as reviewer

[2022-10-27 08:03] LorenzoMugnai commented on #4873
Hello @MartianColonist. I have a couple of comments on the paper.
The writing is clear and simple, but I feel more can be said about comparing to other software or, as it is called in the checklist, the "Field Status". You say something in the Statement of Need section, but it doesn't seem complete to me. Perhaps you can add a few words along the line of the conclusion of Barstow et al. 2022 (http

[2022-10-27 08:15] rgommers commented on #4819
Thanks for asking @mikldk. I'm going to have to decline - I'm too swamped with other open source topics.

[2022-10-27 08:19] AoifeHughes commented on #4753
Hi @finsberg, please let me know when you feel you've addressed everything you want to do, then I'll begin reviewing everything and seeing if we're nearing completion 😄  - No rush.

[2022-10-27 08:37] AoifeHughes commented on #4859
Great to see reviews are progressing nicely 😄

@taw10, @mooniean, do let me know if you run into any issues or have any questions about the review process.

[2022-10-27 08:45] zoltanmaric commented on #4796
Hi @fraukewiese, sorry for the late reply. I'm not sure how I got nominated, as I don't really remember volunteering as a reviewer or any interaction with the JOSS. I apologise for the confusion, and I'm afraid I'll have to decline the review.

[2022-10-27 08:49] finsberg commented on #4753
Hi @AoifeHughes, we have a few more issues to address, and would probably need a couple of weeks to do so.

[2022-10-27 08:50] AoifeHughes commented on #4753
No worries! Take your time.

[2022-10-27 09:13] mikldk commented on #4819
@mauricioaniche, @ev-br: Would you be interested in reviewing this submission to [The Journal of Open Source Software](https://joss.theoj.org/)? Reviews are open and based on a checklist. The reviewer guidelines are available here: <https://joss.readthedocs.io/en/latest/reviewer_guidelines.html>. If you have any questions or concerns please let me know.

[2022-10-27 09:37] ajstewartlang commented on #4758
@editorialbot start review

[2022-10-27 09:37] editorialbot opened #4886 "[REVIEW]: PyArabic: A Python package for Arabic text"
**Submitting author:** @linuxscout (<a href="http://orcid.org/0000-0001-9960-5533">Taha Zerrouki</a>)
**Repository:** https://github.com/linuxscout/pyarabic
**Branch with paper.md** (empty if default branch): paper
**Version:** 0.6.16
**Editor:** @ajstewartlang
**Reviewers:** @amitkumarj441, @kikarimullah
**Archive:** 10.5281/zenodo.7833909

## Status

[![status](https://joss.theoj.org/papers/8825

[2022-10-27 09:37] #4758 closed

[2022-10-27 09:42] maxpumperla commented on #4073
yes, thanks @diehlpk. In fact, I've invited @danielenricocahall a couple of times already to add his name to honour his contributions!

@danielenricocahall now would be a good time 👍

[2022-10-27 10:31] lavrovaliz commented on #4668
Dear @cMadan, thank you very much for working on our manuscript and code! I understand that it is very hard to find the reviewers, but I just wanted to add that it's not necessary to invite users exclusively from the list I sent (I just picked the reviewers from the Journal's list based on the field of expertise) - please feel free to invite any person if you think they have expertise/interest in

[2022-10-27 11:15] timtroendle commented on #4885
Hello @kyleniemeyer, I am sorry but I do not have the capacity to edit this submission at the moment.

[2022-10-27 11:19] dfm commented on #4853
@grburgess — I wanted to provide a quick update here since I've now taken over as managing editor of this JOSS "track". Thanks again for your submission! All of the suitable editors are still working at capacity, but I'm working to get someone assigned ASAP and I'll keep you posted. Thanks for your patience!

[2022-10-27 11:19] dfm commented on #4803
@drannawatts — I wanted to provide a quick update here since I've now taken over as managing editor of this JOSS "track". Thanks again for your submission! All of the suitable editors are still working at capacity, but I'm working to get someone assigned ASAP and I'll keep you posted. Thanks for your patience!

[2022-10-27 11:22] grburgess commented on #4853
no worries!

[2022-10-27 11:28] mbarzegary commented on #4867
hi
glad to help reviewing this submission. generally, I appreciate header-only libraries :)

[2022-10-27 11:37] ttarkowski commented on #4867
@mbarzegary - thank you.

[2022-10-27 11:44] xuanxu commented on #4884
The problem is caused by the branch being named `paper.md`. The bot looks for a `paper.md` file in the repository to compile it, and the first one is finding now is the internal git file referencing that branch. Renaming the branch should fix the problem.

[2022-10-27 11:49] ggonnella commented on #4755
@kellyrowland  As author I can't tell exactly, but from the comments of the two reviewers, see above, I imagine that all the boxes are now checked? How will this go on now? ... (It remains open the question about the additional paragraph, about parallelisation wrote after request from the reviewers, which could be gladly added, please see discussion above.)

[2022-10-27 11:50] x94carbone commented on #4884
@editorialbot set joss-manuscript as branch

[2022-10-27 11:50] x94carbone commented on #4884
@editorialbot generate pdf

[2022-10-27 11:54] x94carbone commented on #4884
Excellent. Works now. @kyleniemeyer @xuanxu thanks for the help!

[2022-10-27 11:57] kyleniemeyer commented on #4884
@editorialbot invite @richardjgowers as editor

Hi @richardjgowers, could you edit this?

[2022-10-27 13:29] kyleniemeyer commented on #4826
Hi @jarvist, just another ping—can you edit this?

[2022-10-27 13:36] kyleniemeyer commented on #4531
@editorialbot generate pdf

[2022-10-27 14:21] crvernon commented on #4875
👋 @pralitp - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-10-27 14:26] jarvist commented on #4826
Thanks for the re-ping! Yes, I can edit this, but must warn that I'm quite busy with teaching through to Christmas now, so might not be super responsive.

[2022-10-27 14:27] jarvist commented on #4826
@editorialbot assign @jarvist as editor

[2022-10-27 14:28] jarvist commented on #4826
@editorialbot add @meandmytram as reviewer

Glad to have you on board!
The Reviewer Guidelines are a good starting place: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
(And generally, the JOSS readthedocs site is where I go for authoritative answers!)

[2022-10-27 14:30] jarvist commented on #4826
@meandmytram , you seem to be an expert in the methods used, but your self-developed packages are in Python? If so, it would probably make sense to try and get a more experienced Julia programmer who also has some familiarity with quantum computing to co-review.

[2022-10-27 14:31] pralitp commented on #4875
Sure, @crvernon I would be glad to review this

[2022-10-27 14:31] jarvist commented on #4759
Thanks all!
@SYalouz how are you getting on with dealing with Erik's review & the issues @wcwitt opened above?

[2022-10-27 14:33] crvernon commented on #4875
Great, @pralitp I'll find another reviewer and kick things off into full review ASAP.

[2022-10-27 14:34] crvernon commented on #4875
@editorialbot add @pralitp as reviewer

[2022-10-27 14:58] danielskatz commented on #4768
Hi - We've just moved this into the Computer Science, Information Science, and Mathematics Track where I'm the track editor, and I'm now pushing the scope review. It's been slow because this submission is on a topic where we have a great deal of overlap with our editors' experience.

[2022-10-27 14:59] danielskatz commented on #4711
👋 @Nikoleta-v3 - What's going on with this submission?  Can you get it started soon?

[2022-10-27 15:01] danielskatz commented on #4683
Hi @georgiastuart & @salrm8 - this review started about 2 months ago, and the normal JOSS goal for reviews is 4-6 weeks, but this doesn't seem to be making progress. Can we do anything to help you?

[2022-10-27 15:03] danielskatz commented on #4468
👋 Hi all - as the track editor here, I just wanted to check in on on the progress of this review after a couple of weeks with no changes

[2022-10-27 15:04] danielskatz commented on #3736
👋 @fibreglass2 - Can you update us on this? As the track editor here, I just wanted to check in on on the progress of this review after a couple of weeks with no changes

[2022-10-27 15:04] danielskatz commented on #4748
👋 Hi all - as the track editor here, I just wanted to check in on on the progress of this review after a couple of weeks with no changes

[2022-10-27 15:05] kyleniemeyer commented on #4531
@editorialbot generate pdf

[2022-10-27 15:08] dirmeier commented on #4668
Hello, sorry for the late reply. I currently don't have much resources for reviewing. Sorry!

[2022-10-27 15:09] georgiastuart commented on #4748
Thanks for the nudge @danielskatz , I'll get back to this ASAP.

[2022-10-27 15:12] Nikoleta-v3 commented on #4711
@editorialbot check references

[2022-10-27 15:15] Nikoleta-v3 commented on #4711
Hey @jhstaudacher 👋🏻 Thank you again for your submission.

Could you please fix the missing DOI for the following references https://github.com/openjournals/joss-reviews/issues/4711#issuecomment-1293686938?

[2022-10-27 15:16] Nikoleta-v3 commented on #4711
And my apologises for the delay. I've been having some health issues but I am back to work now 😄 💪🏻

[2022-10-27 15:17] Nikoleta-v3 commented on #4711
👋🏻 @ieyjzhou @dglmoore @junliu2050 would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "APGG - A Modular C++ Framework for Asymmetric Public Goods Games". You can find more information

[2022-10-27 15:35] ieyjzhou commented on #4711
Dear @Nikoleta-v3

Thank you for inviting me to review this paper. I am willing to review this paper.

Best regards,

Yanjie Zhou

[2022-10-27 15:36] kthyng commented on #4574
Ok looks good!

[2022-10-27 15:45] Nikoleta-v3 commented on #4711
@editorialbot add @ieyjzhou as reviewer

[2022-10-27 15:45] kthyng commented on #4574
Congratulations on your new publication @rCarto! Many thanks to editor @elbeejay and reviewers @JosiahParry, @mikemahoney218, and @wcjochem for your time, hard work, and expertise!!

[2022-10-27 15:45] #4574 closed

[2022-10-27 15:48] Himscipy commented on #4748
@editorialbot generate my checklist

[2022-10-27 15:51] georgiastuart commented on #4748
@linusseelinger, you can disregard the above, I found Matt's contributions in the benchmarks repo.

A few questions / comments...

1. I'm curious whether it would be simple to implement a straightforward, password-based authentication to the server?
2. You have several good examples, but it took a lot of clicking around to find the source code for the examples. Please link from the documentation t

[2022-10-27 15:52] georgiastuart commented on #4748
Also, please add community guidelines in a `CONTRIBUTION.md` file or similar to the repository.

[2022-10-27 15:59] mikemahoney218 commented on #4574
Congrats @rCarto !

[2022-10-27 17:12] MartianColonist commented on #4873
Hi @LorenzoMugnai,

Thanks for your comments, I'll let you know once the paper has been revised.

A couple quick answers / questions:

1. There is a 1D model benchmark for POSEIDON in Appendix D of MacDonald & Lewis (2022) (https://ui.adsabs.harvard.edu/abs/2022ApJ...929...20M/abstract). The 1D model benchmark was 70 ms, which is a factor of a few faster than other transmission spectra codes I've

[2022-10-27 17:23] LorenzoMugnai commented on #4873
That would be perfect, in my opinion.

Exactly. My point is that you can cite that paper to show that POSEIDON results match the other codes for 1D atmosphere. This, I think, will contribute to comparing your software to others in the field and convince the reader about its robustness.

You are right about ARCiS: I got confused by their web page.

[2022-10-27 17:41] salrm8 commented on #4683
Hi @danielskatz ,
My apologies for the delay. I speed up the process.

[2022-10-27 17:45] meandmytram commented on #4826
@jarvist Thanks for the message. Indeed, I work primarily in Python. However, I have a bit of experience in Julia. Also, Julia is quite pythonic! All in all, I think I could do that myself, but of course having a co-reviewer never hurts.

[2022-10-27 17:49] vyrjana commented on #4808
Thanks for the comments, @Aslan-Kosakian! I will provide detailed responses to your comments as soon as I can and I will respond to some of the comments in the corresponding issues that you've opened at the DearEIS repository. However, I would first like to clear up a couple of practical things with you, @jgostick, and @mdmurbach.

Is it okay if the manuscript exceeds the 1000 word limit, if that

[2022-10-27 17:57] diehlpk commented on #4637
@lluisjofre can you please have a look?

[2022-10-27 18:18] jgostick commented on #4808
Hi @vyrjana
1. Yes, you can exceed the limit.  It's just a guideline.
2. Yes, you can create a new branch. In fact, you don't even need to merge the paper into the repo...it can remain as an unmerged branch. You do have to merge the code-related changes though.

[2022-10-27 18:25] junliu2050 commented on #4711
Sorry, not in my expertise.

Sent from my iPhone

[2022-10-27 18:59] lucask07 commented on #4762
This has been rewritten to "yet the Python developments are generally useful to organize communication with peripheral chips."

This has been rewritten to "The Opal Kelly XEM7310 FPGA that we use for communication controllers to demonstrate *pyripherals* is common in research environments such that our *pyripherals* software may accelerate developments of FPGA to electronic chip interfaces in othe

[2022-10-27 19:00] lucask07 commented on #4762
@editorialbot generate pdf

[2022-10-27 19:13] lucask07 commented on #4762
Hi @danielskatz
We have completed our code fixes and paper/documentation upgrades in response to the feedback from the reviewers. The brief summary is:

1. The "no_fpga" tests are working and should allow the reviewers to run a subset of tests without an FPGA. (GitHub Issue: [JOSS Review: tests no_fpga failing](https://github.com/Ajstros/pyripherals/issues/22) )
2. Continuous integration (CI) was

[2022-10-27 19:14] lucask07 commented on #4762
Great idea, CI for tests upon on push to GitHub have been setup.

[2022-10-27 19:15] lucask07 commented on #4762
Good point. This has been rewritten to "but the host software is either not publicly available or not generalizable."

[2022-10-27 19:24] Nikoleta-v3 commented on #4711
Thank you for your reply! 🙏🏻

[2022-10-27 20:09] georgiastuart commented on #4748
Another question, is UM-Bridge capable of using mpi-parallelized models?

[2022-10-27 20:24] cMadan commented on #4668
@lavrovaliz, our hope is that you might have a better idea of who would have the expertise to review your submission than the editor would. It would be great if you could see if you have any additional suggestion (particularly those that seem to have been active on GitHub somewhat recently). I'll also try and think of some potential reviewers.

[2022-10-27 20:32] kthyng commented on #4569
Hi! Thanks for the note. Just an update that @jedbrown plans to get right back to this to finish up from the editor side. Thank you for your patience! Everyone has been swamped lately.

[2022-10-27 20:46] arfon commented on #4283
@agdturner – I'm going to mark this as paused for now and let's revisit in a couple of months?

Yes, of course. No problem at all. I can take this one on from here. Thank you @VivianePons!

[2022-10-27 20:46] arfon commented on #4283
@editorialbot assign me as editor

[2022-10-27 20:50] kthyng commented on #4842
Hi @djlampert and sorry for the delay. We have some specific guidelines we use for what counts as "substantial scholarly effort" including measures of maturity (over 3 months of development) and size (over 1000 lines of code) but they are guidelines. What we are looking for are packages that will be reasonably be used by other people because they address a possibly "big enough" problem or a smalle

[2022-10-27 20:58] kthyng commented on #4277
Hi @kris-rowe and @NoraLoose! Any updates on your reviews?

[2022-10-27 21:02] NoraLoose commented on #4277
Hi @kthyng! I continued my review, and opened 5 new issues 2 days ago (see above). I think these have to be addressed before I can check off the remaining boxes in the review checklist. Thanks!

[2022-10-27 22:00] agdturner commented on #4283
Hi @arfon
Thanks for taking over the editing role for this. Let me see what I can get around to in the next couple of months. I have improved my 3D rendering code and am working on some science use case scenarios.

[2022-10-27 22:31] danielenricocahall commented on #4073
Hello @maxpumperla , sorry for the delay! Just added now :) Did I add myself correctly? https://github.com/maxpumperla/elephas/blob/mp_joss_paper/paper.md

[2022-10-27 22:33] danielenricocahall commented on #4073
@editorialbot generate pdf

[2022-10-27 22:41] fibreglass2 commented on #3736
I have addressed all other feedback except one regarding [a technical issue](https://gitlab.com/fibreglass/pivc/-/issues/24) with a script on windows.

[2022-10-27 22:44] pibion commented on #4576
@jordigh, @nicoguaro, @moorepants, @IgorBaratta, @mzamoraz, @shibabrat, @dawbarton, @EduPH, @inakleinbottle, @joglekara, @pratikvn, @hasantahir, @joshia5, @rogeriojorge, @akaptano, @yhtang, @dl11g11, @hasantahir -

would any of you be interested in reviewing this submission for JOSS? Reviewing will mean going though a checklist to make sure the code meets JOSS publication standards (for example, t

[2022-10-27 22:45] danielenricocahall commented on #4073
@editorialbot generate pdf

[2022-10-27 22:55] pibion commented on #4818
@zhanghe9704 would you be willing to add the makefile for the test compilation to the code repository?  I don't think it attached (or perhaps I'm not seeing it) in this issue thread.  And having it in the repository itself would be helpful.

[2022-10-27 23:18] asitha-sena commented on #4569
Thanks @banesullivan and @kthyng for the assistance and the update.

[2022-10-27 23:25] bwohlberg commented on #4722
@editorialbot generate pdf

[2022-10-28 00:55] mariadelmarq commented on #4851
@Ebedthan thank you for your helpful suggestions. We have incorporated them all into the paper. Would you please be able to check the shortened statement of need to make sure it's clear?

[2022-10-28 01:06] rbturnbull commented on #4851
@Ebedthan We've also addressed the other issues you've raised

[2022-10-28 01:06] rbturnbull commented on #4851
@editorialbot generate pdf

[2022-10-28 02:03] jjmccollum commented on #4879
@SimonGreenhill Thanks for your thorough and insightful comments! I'll open a branch or two for revisions to the paper and additions to the code. I don't think it should be too hard to add support for phy and fasta, and it would definitely be within the scope of the project to do so.

[2022-10-28 02:32] rbturnbull commented on #4879
Thanks for all your feedback @SimonGreenhill - that's all really helpful

[2022-10-28 03:12] majensen commented on #4678
@mzabrams - fyi, we're waiting for the @openjournals/sbcs-eics (the editors-in-chief for this JOSS track, whom I just there cleverly pinged again) to do their final review.

[2022-10-28 03:47] vlad0x00 commented on #4720
Done. I've archived the `paper` branch which has the version of btllib at the time of the writing of the manuscript.

https://doi.org/10.5281/zenodo.7259920

[2022-10-28 05:34] pjb7687 commented on #4633
@slayoo I think it makes more sense to me to deposit the version when we submitted the paper to JOSS, as this is the version of GDL that is actually described in the manuscript. We submitted it to JOSS on Jun 22, and I believe this one (https://github.com/gnudatalanguage/gdl/actions/runs/2613108929) is the closest working build. I would like to ask if you agree with it, if so I would deposit to Ze

[2022-10-28 06:43] slayoo commented on #4633
@pjb7687 this commit is already published on Zenodo as a weekly release - we can just change its metadata: https://zenodo.org/record/6796032

[2022-10-28 07:20] pratikvn commented on #4576
@pibion, thank you for the invitation, but unfortunately I currently do not have time to review this submission.

[2022-10-28 07:48] richelbilderbeek commented on #4791
@editorialbot commands

[2022-10-28 08:02] pdebuyl commented on #4575
@RupeshJey there is also an issue with the copyright text in the README. The "all rights reserved" and the provisions for commercial use are not aligned with the Apache license. Please only keep the mention of apache licensing. You may keep the acknowledgement of course.

[2022-10-28 08:47] rCarto commented on #4574
Thank you very much to editors and reviewers. This was a very pleasant process.

[2022-10-28 09:12] SYalouz commented on #4759
Hi @jarvist,

To answer to your question @jarvist: Yes, I have seen all the comments from both @erikkjellgren and @wcwitt !

I would like to thank both of them for their work and their very relevant suggestions.

I have started to correct the mentioned parts. Some additional work requires more time for me and my colleague (e.g. writing good documentation). Normally, within two weeks, I will be com

[2022-10-28 09:49] richelbilderbeek commented on #4791
# Abstract

First and foremost, I think the authors did an excellent job in collecting all
information about COVID prevalance! I think the package is useful and relevant.

However, when only running the examples both `README.md`
and the code examples, there are plenty of needless warnings.
Similar to having spelling errors in an academic manuscript,
this comes accross as needlessly sloppy.
Also, n

[2022-10-28 09:52] richelbilderbeek commented on #4791
@galessiorob I am done reviewing :-)

[2022-10-28 10:07] hasantahir commented on #4576
Happy to help.

[2022-10-28 10:08] editorialbot opened #4887 "[PRE REVIEW]: PyView: A general purpose tool for analyzing calcium imaging data"
**Submitting author:** @ajkswamy (<a href="http://orcid.org/0000-0001-7928-877X">Ajayrama Kumaraswamy</a>)
**Repository:** https://github.com/galizia-lab/pyview
**Branch with paper.md** (empty if default branch): joss
**Version:** 1.1
**Editor:** @csoneson
**Reviewers:** @adamltyson, @Yannan-Chen
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/9f066476240ca7

[2022-10-28 10:13] editorialbot opened #4888 "[PRE REVIEW]: Lightshow: a Python package for generating computational x-ray absorption spectroscopy input files"
**Submitting author:** @x94carbone (<a href="http://orcid.org/0000-0002-5181-9513">Matthew Carbone</a>)
**Repository:** https://github.com/AI-multimodal/Lightshow
**Branch with paper.md** (empty if default branch):
**Version:** v0.0.14
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/a9cabcd7f4b85a926a797997c6622b43/

[2022-10-28 10:24] dawbarton commented on #4576
@pibion unfortunately I've got too many other reviews (non-JOSS) on at the moment

[2022-10-28 10:38] hsang commented on #4825
@editorialbot generate my checklist

[2022-10-28 11:19] rogeriojorge commented on #4576
Happy to help as well!

[2022-10-28 12:27] x94carbone commented on #4888
@editorialbot set joss-manuscript as branch

[2022-10-28 12:27] x94carbone commented on #4888
@editorialbot generate pdf

[2022-10-28 12:35] danielskatz commented on #3968
@IvanIsCoding - @drvinceknight is quite busy now, so I will handle the rest of the process

[2022-10-28 12:35] danielskatz commented on #3968
@editorialbot set 10.5281/zenodo.7158473 as archive

[2022-10-28 12:36] danielskatz commented on #3968
@editorialbot recommend-accept

[2022-10-28 12:47] danielskatz commented on #3968
@IvanIsCoding in your paper.md file, you have 2 figures that use the same label (`\label{fig:dagexample}`) - please change one of them to something different

[2022-10-28 13:16] nicoguaro commented on #4576
I have other reviews pending (JOSS and non JOSS) and will have to define this time.

[2022-10-28 14:19] Kevin-Mattheus-Moerman commented on #4783
@nicoguaro is this something you could help review?

[2022-10-28 14:27] themasterlink commented on #4783
@Kevin-Mattheus-Moerman Sorry, how should I suggest a reviewer? I am the person who wrote the paper. I can not select the person who reviews it. That would make the whole review process worthless.

If we ignore that, I would pick @natevm, I don't know him personally, and he is part of the team behind NVISII, which is similar to BlenderProc, so he should be able to review the paper.

But, still, it

[2022-10-28 14:37] jhstaudacher commented on #4711
@editorialbot generate pdf

[2022-10-28 14:38] cgrudz commented on #4129
@editorialbot generate pdf

[2022-10-28 14:39] yiitozer commented on #4754
@faroit I am done with my review: I recommend the toolbox / paper for publication!

[2022-10-28 14:40] Nikoleta-v3 commented on #4711
@editorialbot check references

[2022-10-28 14:44] cgrudz commented on #4129
@peanutfun, thanks for the fixes to the DOIs, these are now included in the new PDF.

[2022-10-28 14:49] Kevin-Mattheus-Moerman commented on #4252
@yangbai90 I understand, but it is very unfortunate. We do expect authors to be committed to improving and maintaining the software, especially during the review process. I understand you decision but would ask you to not submit works to JOSS in the future unless the authors have the bandwidth to maintain the software and respond to review comments.

[2022-10-28 14:50] Kevin-Mattheus-Moerman commented on #4252
@vijaysm @mscroggs @schruste unfortunately the author wishes to withdraw this submission. Despite this outcome I wish to thank you for your review efforts to date!

[2022-10-28 14:50] peanutfun commented on #4129
@diehlpk @cgrudz I concluded my review and recommend DataAssimilationBenchmarks.jl for publication. I am happy to see so many improvements since the start of this review. The new documentation page in particular is a great addition. Thank you for the fun and constructive review process!

[2022-10-28 14:50] Kevin-Mattheus-Moerman commented on #4252
@editorialbot withdraw

[2022-10-28 14:51] #4252 closed

[2022-10-28 14:54] Kevin-Mattheus-Moerman commented on #4783
@themasterlink apologies for the confusion. It is not that you "get to pick/assign" reviewers, that remains up to the editor, i.e. me, however it is common for journals to accept reviewer suggestions from the authors. I hope that clarifies it. I also asked not to use the `@` symbol to avoid tagging them, so if you have any other suggestions please just list their github name and I can explore whet

[2022-10-28 14:55] Kevin-Mattheus-Moerman commented on #4783
@BradyAJohnston @xqms @SelvamArul @aadi-mishra @tduboudi @xheon @natevm would you be interested in reviewing this submission for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/)? The work in question is titled: **"BlenderProc2: A Procedural Pipeline for Photorealistic Rendering"**, and has applications to deep learning methods.

JOSS reviews happen on GitHub and focus on revie

[2022-10-28 14:57] jhstaudacher commented on #4711
@editorialbot generate pdf

[2022-10-28 14:57] themasterlink commented on #4783
Thanks for the explanation!

[2022-10-28 15:01] Nikoleta-v3 commented on #4711
@editorialbot check references

[2022-10-28 15:01] Nikoleta-v3 commented on #4711
Thank you @jhstaudacher

[2022-10-28 15:02] jhstaudacher commented on #4711
@Nikoleta-v3 Thank you very much for editing our paper. We added DOIs for all our references in the meantime. All DOIs are now correct.

[2022-10-28 15:03] jhstaudacher commented on #4711
@ieyjzhou Thank you very much for your readiness to review our paper.

[2022-10-28 15:05] rjorton commented on #4851
It's a nicely written paper, below are some comments on the paper, I'm going to download and try the tool next. Minor points on the paper mostly centring around the "output" of the tool which isn't really described in much detail anywhere either in the paper or on the GitHub repo. I think some minor expansion on the main taxonomic output files of the tool would be useful. Specific points:

13 - "o

[2022-10-28 15:20] joglekara commented on #4378
Hey @danielskatz , see https://github.com/openjournals/joss-reviews/issues/4378#issuecomment-1250159180 .

In general, the repo needs some more documentation and examples. To be specific, there are a couple of issues I wrote that will help me keep going through the checklist.

[2022-10-28 15:20] marylou-gabrie commented on #4634
Thanks Minas, that's all good for me.

[2022-10-28 15:22] danielskatz commented on #4378
👋 @quantumsteve - How are you doing on the issues mentioned by @joglekara?

[2022-10-28 15:23] danielskatz commented on #4722
@editorialbot set 10.5281/zenodo.7255839 as archive

[2022-10-28 15:23] danielskatz commented on #4722
@editorialbot set v0.0.3 as version

[2022-10-28 15:23] danielskatz commented on #4722
@editorialbot recommend-accept

[2022-10-28 15:30] danielskatz commented on #4722
@bwohlberg - I just have one small change from my proofreading: https://github.com/lanl/scico/pull/361   can you please merge this? Then we can continue the process.

[2022-10-28 15:35] danielskatz commented on #4821
@lucasmccabe - We still don't have any of exactly the right editors with availability, so I'm going to edit this

[2022-10-28 15:35] danielskatz commented on #4821
@editorialbot assign me as editor

[2022-10-28 15:45] danielskatz commented on #4821
👋 @jonjoncardoso, @zoometh, @vc1492a - would two of you be willing to review this submission for JOSS?

[2022-10-28 15:53] bwohlberg commented on #4722
Thanks @danielskatz. Your PR has been merged.

[2022-10-28 15:55] danielskatz commented on #4722
@editorialbot recommend-accept

[2022-10-28 15:57] danielskatz commented on #4722
@editorialbot accept

[2022-10-28 16:00] cgrudz commented on #4129
@peanutfun thanks so much again for the thorough and extremely useful review, the suggestions (and even providing a PR) were very helpful.

[2022-10-28 16:03] vlad0x00 commented on #4720
Here's the updated URLs:

Release: https://github.com/bcgsc/btllib/releases/tag/joss-release2
DOI: https://doi.org/10.5281/zenodo.7259920

[2022-10-28 16:05] danielskatz commented on #4720
Hi - I just happened to see this thread - For JOSS, the paper source does not *need* to be in the archived software repo; the archive can just be of the main branch. The final paper itself is archived separately in any case.

[2022-10-28 16:10] editorialbot opened #4889 "[PRE REVIEW]: Corekaburra: pan-genome post-processing using core gene synteny"
**Submitting author:** @milnus (<a href="http://orcid.org/0000-0001-9751-9877">Magnus Jespersen</a>)
**Repository:** https://github.com/milnus/Corekaburra
**Branch with paper.md** (empty if default branch): main
**Version:** v0.0.4
**Editor:** @csoneson
**Reviewers:** @iferres, @asafpr
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/8978b317b8643a12efc6a812d

[2022-10-28 16:15] sebastian-zieba commented on #4838
Hi @astrobel,

thanks again for your comments!
I’m still working on the JOSS paper, but I’ve already incorporated all of the other code or documentation-related comments. Here are my replies to your individual comments:

The `[test]` argument will additionally install the testing requirements (e.g., pytest). If you just do `pip install -e .` it will install the necessary PACMAN requirements (like

[2022-10-28 16:17] BradyAJohnston commented on #4783
Hi @Kevin-Mattheus-Moerman I'd be interested but wouldn't be able to for a couple of weeks as I'm traveling, best someone else took it on in that time likely.

[2022-10-28 16:20] diehlpk commented on #4129
@tmigot Can you please have a look at the the changes too?

[2022-10-28 16:27] bwohlberg commented on #4722
Thank you @danielskatz,  @vitorsr, @DanNixon, and @lucaferranti!

[2022-10-28 16:31] IvanIsCoding commented on #3968
I have updated the label, it should work now

[2022-10-28 16:33] IvanIsCoding commented on #3968
@editorialbot generate pdf

[2022-10-28 16:37] danielskatz commented on #3968
@editorialbot recommend-accept

[2022-10-28 16:42] danielskatz commented on #3968
Sorry all, I now realize I may have jumped the gun slightly, as I'm not sure that the reviewers are fully satisfied with publication, based on the checklists and my review of the full issue here, so I will ask next before we proceed.

[2022-10-28 16:43] danielskatz commented on #3968
👋 @szhorvat, @inakleinbottle - can you confirm that you are ready for this submission to be accepted and published?

[2022-10-28 17:11] warrenlr commented on #4720
Hello everyone, thank you for all your hard work on this.
Just curious, do we have an ETA date for the release of the DOI for the btllib manuscript?  I am asking because we'd like to include a citation in a research proposal and publication submission to Nat. met. due Monday Oct. 31st.
Thank you,
René

[2022-10-28 17:19] diehlpk commented on #4843
@ansgarwenzel, @f-t-s how is your review going?

[2022-10-28 17:33] JessicaS11 commented on #4820
Thanks @kthyng! We're in the process of issuing a new release (v0.6.4), so it would be super if we could have that be the version that's evaluated. I anticipate it will be available early next week.

I chose some potential reviewers from the list based on their listed expertise: amirhessam88; dimejimudele; idoby; JacksonMaxfield; judafe; mnbhk; vaasuDevans; xtruan.

[2022-10-28 17:49] yiqunchen commented on #4847
@osorensen, @stefanocoretta, @tomsing1: thank you so much for agreeing to review our manuscript!! Just wanna check in to see if there's anything I could assist with your review process :)

[2022-10-28 18:55] fboehm commented on #4720
I apologize for my confusion. Thanks, @danielskatz !

[2022-10-28 18:58] vlad0x00 commented on #4720
@fboehm Do you want me to make a release without the manuscript in it?

[2022-10-28 18:59] fboehm commented on #4720
@vlad0x00 - Thanks for making the changes. The last change needed, I think, is to fix the title of the archive so that it matches exactly that of the paper.pdf. Sorry for the trouble.

[2022-10-28 18:59] fboehm commented on #4720
I can confirm that the pdf authors match exactly those specified in the archive.

[2022-10-28 19:01] pibion commented on #4576
@pratikvn , @dawbarton , @nicoguaro , @joshia5 thanks for your responses!

@rogeriojorge and @hasantahir fantastic to to have you as reviewers, and thank you!  I'm going to go ahead and get the review started!

[2022-10-28 19:01] pibion commented on #4576
@editorialbot add @rogeriojorge as reviewer

[2022-10-28 19:01] fboehm commented on #4720
Hi, @warrenlr - once the changes to the archive title are made, I will signal to the editors in chief that the manuscript is ready for publication. Once they have a chance to approve it, the doi will be issued. I can't say when exactly that will occur; it depends on their schedules.

[2022-10-28 19:02] pibion commented on #4576
@editorialbot  add @hasantahir as reviewer

[2022-10-28 19:02] pibion commented on #4576
@editorialbot add @hasantahir as reviewer

[2022-10-28 19:02] pibion commented on #4576
@editorialbot commands

[2022-10-28 19:03] pibion commented on #4576
@editorialbot start review

[2022-10-28 19:03] editorialbot opened #4890 "[REVIEW]: GORILLA: Guiding-center ORbit Integration with Local Linearization Approach"
**Submitting author:** @micheder (<a href="http://orcid.org/0000-0002-1392-1664">Michael Eder</a>)
**Repository:** https://github.com/itpplasma/GORILLA
**Branch with paper.md** (empty if default branch):
**Version:** v1.1.2
**Editor:** @pibion
**Reviewers:** @rogeriojorge, @hasantahir, @shibabrat, @Shibabrat
**Archive:** 10.5281/zenodo.8059175

## Status

[![status](https://joss.theoj.org/papers/8

[2022-10-28 19:03] #4576 closed

[2022-10-28 19:04] pibion commented on #4890
@hasantahir, @rogeriojorge, could you post a test comment just to make sure you have access to this thread?

[2022-10-28 19:08] Nikoleta-v3 commented on #4711
👋🏻 @raybecker @sylvaticus would either of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "APGG - A Modular C++ Framework for Asymmetric Public Goods Games". You can find more information at the

[2022-10-28 19:16] xinyiguan commented on #4738
👋🏼 Hi, also updating in here. I have clarified and resolved all of the issues and points now :)

[2022-10-28 19:18] pibion commented on #4837
@lucask07
@briatte
@ixjlyons
@sptennak
@SarthakJariwala

👋 would you be interested in reviewing this submission for JOSS?  The goal of review is to make sure that the software and paper meet a minimum standard of best practice.  Reviewers go through the checklist at https://joss.readthedocs.io/en/latest/review_checklist.html and work with the author to improve anything that doesn't already meet th

[2022-10-28 19:29] vlad0x00 commented on #4720
Hi @fboehm , I've updated the title of the archive.

[2022-10-28 19:40] fboehm commented on #4720
Thanks so much, @vlad0x00 !

[2022-10-28 19:40] fboehm commented on #4720
@editorialbot set joss-release2 as version

[2022-10-28 19:41] fboehm commented on #4720
@editorialbot set 10.5281/zenodo.7259920 as archive

[2022-10-28 19:42] fboehm commented on #4720
@editorialbot recommend-accept

[2022-10-28 19:52] lorenzo-rovigatti commented on #4693
I really appreciate the effort you put into the review @ptmerz , thank you very much!

[2022-10-28 19:59] sylvaticus commented on #4711
I'm in...

[2022-10-28 20:43] jranalli commented on #4757
Ok so I don't know how to mark the checkboxes, but I have double checked that everybody's ORCID and affiliation appears correctly on the paper, the version release number is 2.2.4 and it is uploaded to Zenodo with a DOI of https://doi.org/10.5281/zenodo.7262173

[2022-10-28 21:04] hasantahir commented on #4890
@editorialbot generate my checklist

[2022-10-29 03:29] lucask07 commented on #4837
Hi @pibion, sure I would be happy to review this submission.
For full disclosure, I've collaborated with and published papers with a co-author on this submission (Todd Hufnagel). The most recent paper was in 2011 so this fits in the allowed time frame (of at least 4 years ago in the conflict of interest policy). I'm confident I can provide a fair review.

[2022-10-29 05:45] raybecker commented on #4711
Thanks @sylvaticus. @Nikoleta-v3, you don't need both of us, correct?

[2022-10-29 07:30] sylvaticus commented on #4711
Just to be clear, I'm an economist but experimental and behavioural economics are not my fields, so feel free to drop me out of the list...

[2022-10-29 08:02] Kevin-Mattheus-Moerman commented on #4783
@BradyAJohnston if you do not mind I would like to assign you as reviewer anyway. It takes time to find the reviewers and to get started and to complete the full process so you will likely not delay things much. Would it be okay if I assigned you? Enjoy your travels.

[2022-10-29 08:03] editorialbot opened #4891 "[PRE REVIEW]: PhaseTypeR: an R package for phase-type distributions in population genetics"
**Submitting author:** @rivasiker (<a href="http://orcid.org/0000-0002-0515-0628">Iker Rivas-González</a>)
**Repository:** https://github.com/rivasiker/PhaseTypeR
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v1.0.4
**Editor:** @majensen
**Reviewers:** @tkchafin, @nhejazi
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/6be8cd15e

[2022-10-29 08:11] Kevin-Mattheus-Moerman commented on #4836
@editorialbot invite @britta-wstnr as editor

[2022-10-29 08:13] editorialbot opened #4892 "[PRE REVIEW]: High-performance neural population dynamics modeling enabled by scalable computational infrastructure"
**Submitting author:** @a9p (<a href="http://orcid.org/0000-0002-7187-9169">Aashish Patel</a>)
**Repository:** https://github.com/TNEL-UCSD/autolfads-deploy
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @emdupre
**Reviewers:** @richford, @tachukao
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/d2a1ec960ccd6200efd60f5b13

[2022-10-29 08:15] editorialbot opened #4893 "[PRE REVIEW]: Ciclope: micro Computed Tomography to Finite Elements"
**Submitting author:** @gianthk (<a href="http://orcid.org/0000-0001-8611-3281">gianluca iori</a>)
**Repository:** https://github.com/gianthk/ciclope
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.0
**Editor:** @danasolav
**Reviewers:** @dankusanovic, @jacobmerson
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://joss.theoj.org/papers/8f9176ffe46a0ef54f93ad86

[2022-10-29 08:21] Kevin-Mattheus-Moerman commented on #4893
@editorialbot assign me as editor

[2022-10-29 08:52] ppxasjsm commented on #4693
Thank you @ptmerz for your update!

[2022-10-29 09:33] Kevin-Mattheus-Moerman commented on #4893
@danasolav I assigned myself just now, but was wondering, do you think you could handle this one instead? I can if needed but I have a lot on my plate.

[2022-10-29 09:36] Kevin-Mattheus-Moerman commented on #4887
@ajkswamy thanks for this submission. All editors in this domain are currently handling many other submissions so I have waitlisted this submission for now. We will assign a handling editor as soon as one becomes available.

[2022-10-29 11:16] pjb7687 commented on #4633
@slayoo I would prefer to create another one as I hesitate to change the author list of the existing one.

[2022-10-29 12:59] jedbrown commented on #4569
@editorialbot generate pdf

[2022-10-29 13:36] jedbrown commented on #4569
Apologies for my extreme delays getting to this. I made an [MR with light copy edits](https://gitlab.com/ags-data-format-wg/ags-python-library/-/merge_requests/46). There are four references titled `Electronic Transfer of
Geotechnical and Geoenvironmental Data` that don't have any links or further information about how one would find them. The [first result](https://www.ags.org.uk/content/uploads/

[2022-10-29 13:37] jedbrown commented on #4569
@editorialbot set v0.4.1 as version

[2022-10-29 15:42] ebezzam commented on #4878
@editorialbot generate my checklist

[2022-10-29 17:54] Nikoleta-v3 commented on #4711
We aim for reviews to be completed within about 2-4 weeks.

That is correct 😃  we already have one reviewer.

APGG is a tool for numerical simulations of the public goods game. I believe the submission will benefit from a reviewer that has a good knowledge of C++ and software development more than someone familiar with its game theoretic aspects.  Let me know if that sounds good to you :)

And tha

[2022-10-29 17:58] balima78 commented on #4807
@editorialbot generate pdf

[2022-10-29 19:10] sara-02 commented on #4754
@faroit I have updated my review, and the work is good. I have one minor comment about documentation and have created an issue for the same.
Apart from that, we have stumbled upon a peculiar failing test case, which is also under discussion.

[2022-10-29 19:14] sara-02 commented on #4754
@faroit @MarieRoald
My minor comment on the paper
1. lines 49-54 in the Example section have inconsistent first-word capitalization in the lists. The end of lists can be converted to a full stop and then the start of the list can be capitalized.

[2022-10-29 19:15] balima78 commented on #4807
@turgeonmaxime and @aj2duncan, we review our paper to address your comments and questions.

thank you for your help.

[2022-10-29 19:15] sara-02 commented on #4821
@danielskatz If possible, from mid-Nov, I can take this review. I have been working with the epidemic modeling library NDlib for some of my work, so I am familiar with the terminologies of this project.

[2022-10-29 19:31] danielskatz commented on #4821
👋 @sara-02 - thanks, that sounds reasonable.  If I forget and prompt you sooner than that, please remind my of your schedule

[2022-10-29 19:31] danielskatz commented on #4821
@editorialbot add @sara-02 as reviewer

Note: we won't start the review process until we find at least one more reviewer

[2022-10-29 19:34] danielskatz commented on #4762
👋 @askuric - can you take a look at this again?

And thanks for your updates & responses @lucask07.

[2022-10-30 02:21] asitha-sena commented on #4569
@jedbrown Thanks for the edits.

I merged the pull request and created a DOI. The version is 0.4.1 and the DOI is [10.5281/zenodo.7264282 ](https://doi.org/10.5281/zenodo.7264282)

[2022-10-30 08:15] linusseelinger commented on #4748
@georgiastuart Thanks a lot for your comments!

1. Authentication has not been our focus so far, we are largely working in fully trusted environments. However, I have been using authentication for running UM-Bridge model containers in a cloud environment. Here, the load balancer I'm using can check for a password/access token in HTTP headers before passing requests through to the models themselves

[2022-10-30 09:12] Shibabrat commented on #4576
@pibion sorry for the delayed reply, I'll be happy to be a reviewer if it isn't too late.

[2022-10-30 09:26] lavrovaliz commented on #4668
@editorialbot withdraw

[2022-10-30 09:32] lavrovaliz commented on #4668
Dear EICs, please withdraw this submission.

[2022-10-30 09:45] slayoo commented on #4633
@pjb7687 it's up to you, of course, but I wonder if having two Zenodo archives for the very same commit hash with differing "author lists" is not even more misleading?

[2022-10-30 10:45] reckart commented on #4825
The website structure of https://hexatomic.github.io is confusing. In the left sidebar, it says that is has documentation but then is only about sustainability and tooling, no actual tool documentation. There is a link to the actual documentation on the bottom of the page, but it is not easy to find - the user may have to scroll down to be able to see it. It would be better if the documentation wa

[2022-10-30 10:49] reckart commented on #4825
When I press "new salt project", nothing happens.

[2022-10-30 10:59] reckart commented on #4825
After importing a folder with text documents, clicking on a document does nothing. Double-clicking starts renaming of the document. I would expect that either single-click or double-click would open the document for editing.

Instead, one has to right-click on the document to choose some editor.

[2022-10-30 11:01] reckart commented on #4825
There seems to be no way to edit the graph in the graph editor. I have opened a document and the only thing I seem to be able to do with the mouse is to drag tokens around.

[2022-10-30 11:24] wcjochem commented on #4716
@ConnorDonegan and @jbytecode, thanks for the opportunity to review this work. This package is an impressive accomplishment and clearly you've put a lot of thought and work into it. I have been able to build (and test) and run through the code and models and review the manuscript. Overall it seems well done. I have a raised a few questions in https://github.com/ConnorDonegan/geostan/issues (and li

[2022-10-30 11:26] reckart commented on #4825
The [documentation](https://hexatomic.github.io/hexatomic/user/v1.0/index.html) has a short description of what it aims to do. However, IMHO Hexatomic has a very specific type of user interaction via commands and a quite specific way of treating documents and annotations that likely has a very specific target audience which may like Hexatomic better than the other many annotation tools out there.

[2022-10-30 11:28] reckart commented on #4825
There are no readily usable examples either coming with the application or being easily downloadable and importable from the website.

The authors state:

Having a few importable examples in the different supported formats and highlighting different aspects of how the tool can be used would be more helpful

[2022-10-30 11:29] reckart commented on #4825
The installation works as described in the documentation, but at least on OS X, it does not work as users (or at least I) would normally expect. https://github.com/hexatomic/hexatomic/issues/409

[2022-10-30 11:30] reckart commented on #4825
I have been unable to build the software: https://github.com/hexatomic/hexatomic/issues/417

[2022-10-30 11:31] reckart commented on #4825
I did not notice any performance claims.

[2022-10-30 11:38] reckart commented on #4825
* The documentation of the grid editors says that merging (and splitting) cells would be possible, but I could not confirm this: https://github.com/hexatomic/hexatomic/issues/423
* The paper states that support for Git is integrated, but I did not find any documentation about this. It appears the authors's claim extends only to being able to manage the data folders using an external git which has

[2022-10-30 11:43] reckart commented on #4825
The software paper's introduction describes linguists as the target group and highlights a few particular types of annotations which the tool is intended for. This section could be transferred to the documentation which does currently not explain well who should be using this tool and why.

[2022-10-30 11:52] reckart commented on #4825
The section starts by highlighting flexible conversion capabilities and the ability to integrate data from different sources. It appears to me though that this is a feature of earlier work (Salt'n'Pepper) rather than of Hexatomic itself. Of course Hexatomic uses this earlier work as a software library.

The section continues saying that comparable tools are often run on centralized servers which w

[2022-10-30 11:53] reckart commented on #4825
There is no such section in the paper. There is a paragraph about comparable packages embedded into the "statement of need" section, but it is rather superficial (see https://github.com/openjournals/joss-reviews/issues/4825#issuecomment-1296233690).

[2022-10-30 11:55] reckart commented on #4825
There is no dedicated "State of the field" section. Also, a "future work" section has been embedded into the "statement of need" section.

In terms of language and readability, the paper looks good.

[2022-10-30 11:56] reckart commented on #4825
LGTM.

[2022-10-30 12:03] reckart commented on #4825
These items remain unchecked on my list:

**General checks**

- [ ]  Reproducibility: If the paper contains original results, results are entirely reproducible by reviewers. If the paper contains no original results, please check this item. -- I cannot build the repository. https://github.com/hexatomic/hexatomic/issues/417

**Functionality**
- [ ] Functionality: Have the functional claims of the s

[2022-10-30 12:10] shagunsodhani commented on #4864
@editorialbot generate my checklist

[2022-10-30 14:00] jeremiah-corrado commented on #4172
Hi @YohannDudouit, thanks for the additional feedback. It sounds like we are mostly on the same page w.r.t what kinds of claims the paper should be making; however, some of my wording and explanation probably need to be improved.

TL;DR version of the following: I think the way you were interpreting the paper conflated some background info about per-dof-efficiency with the claims I was making abou

[2022-10-30 14:23] suyashkumar commented on #4767
Hi @jmschrei thanks for following up--I expect to complete the review in the next 2 days. Apologies for the delay!

[2022-10-30 14:36] danielskatz commented on #4668
@editorialbot withdraw

[2022-10-30 14:36] #4668 closed

[2022-10-30 15:18] ashleychontos commented on #3331
Hi all! I'm pleased to say that there is a handy new test feature available, which tests the full suite of methods (i.e. beginning to end of sampling) on 3 example stars and asserts that all answers for our main asteroseismic observables, numax and dnu, are exactly equal to their known values. This can easily be done by:

[code]

Additionally, I've updated the relevant parts of the documentation t

[2022-10-30 16:13] MarieRoald commented on #4754
@sara-02: Thank you so much for your comments! For the paper, I have updated the text to have capitalization and a full stop for each list element.

[2022-10-30 17:34] jbytecode commented on #4716
@wcjochem - thank you for your comments

@ConnorDonegan - could you please apply the suggested changes

thank you in advance

[2022-10-30 18:13] x94carbone commented on #4888
@editorialbot set v0.0.15 as version

[2022-10-30 18:14] x94carbone commented on #4888
Editors, I hot fixed the install to version-lock the Pymatgen dependency, since somehow a more recent version of Pymatgen breaks only some of the materials in our CI pipeline. New version is `v0.0.15`.

[2022-10-30 19:00] pietki8q commented on #4719
@editorialbot generate pdf

[2022-10-30 19:04] pietki8q commented on #4719
@editorialbot generate pdf

[2022-10-30 19:07] acocac commented on #4852
In this paper authors present a new Python package, `lidarSuit`, whose main goal is to retrieve wind profiles from Doppler lidar systems. The paper is well-written with a good introduction and a clear statement of need. Authors claim the key difference to other commonly-used software is the support of 6-beam observations using the Fast Fourier Wind Vector Algorithm plus other functionalities i.e.

[2022-10-30 19:29] fibreglass2 commented on #3736
This issue has been resolved, hence all recent feedback has been addressed.

[2022-10-30 20:53] shagunsodhani commented on #4864
Hey @Fei-Tao, I could use some advice from you. The submitted package, [FreqAI](https://github.com/freqtrade/freqtrade/tree/develop/freqtrade/freqai) is a part of a larger project, [FreqTrade](https://github.com/freqtrade/freqtrade). It is a little tricky to ascertain the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html?highlight=substantial#substantial-scholarl

[2022-10-30 21:16] cwentland0 commented on #3428
I've merged the changes for the latter three points into the main branch (including replacing `setup.py` with `pyproject.toml`). For now I'm going to keep using `unittest` but will consider using `pytest` moving forward. Please let me know if there's anything else you'd like me to address!

[2022-10-30 21:23] f-t-s commented on #4843
@editorialbot generate my checklist

[2022-10-30 21:28] suyashkumar commented on #4767
Overall this looks good to me! I was able to run the prebuilt Linux software according to the installation instructions, run a test analysis, and run the full test suite successfully. I had only one very minor rubric-based recommendation, and a couple optional ones that are non-blocking suggestions.

Minor Rubric-based recommendations
- A minor point: I think documentation around “reporting issues

[2022-10-30 21:48] jmschrei commented on #4767
Thanks for the review @suyashkumar! @bmskinner, let me know if there are any challenges addressing these points.

[2022-10-30 22:32] tomsing1 commented on #4847
@editorialbot generate my checklist

[2022-10-30 22:40] f-t-s commented on #4843
I worked my way through the checklist. I think this is a cool piece of software that will definitely be useful to my group's research. Do you need anything else from me for the review?

[2022-10-30 23:23] tomsing1 commented on #4847
Great R package, @yiqunchen et al - and congratulations to getting it released on CRAN!
@osorensen : looks great to me, I didn't spot any issues. My review is complete.

[2022-10-31 00:05] milnus commented on #4889
Reviewer suggestions from current reviewer list
karinlag
asafpr
giraola

Reviewer suggestions not currently reviewing for JOSS:
nzmacalasdair
oschwengers
harry-thorpe
ggautreau

[2022-10-31 00:21] diehlpk commented on #4843
No thanks. That was quick. Good luck with your new collaboration.

[2022-10-31 03:11] benjaminpope commented on #3331
Hi Ashley,

Thanks for getting to this! Glad that you have a test suite going.

I strongly recommend that you use a GitHub Action or similar for applying these tests rather than requiring the user to do so.

There are [good instructions](https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python) from GitHub for doing this, or you can look at existing open source pa

[2022-10-31 03:47] pausz commented on #4815
@danielskatz Apologies. My workstation cooling system failed and had a down time of a couple of weeks, which delayed me in getting this done. Will finish within this week.

[2022-10-31 03:59] arjunsavel commented on #4575
Thanks for your patience, all! The issues that I raised earlier have been sufficiently addressed, and I recommend this project for publication. Nicely done!

[2022-10-31 05:32] sara-02 commented on #4754
Since the PRs related to my issue have already been raised by the team, I think @faroit this is ready for publication. Good to go from my side.

[2022-10-31 05:49] jbytecode commented on #4718
@editorialbot ping track-eic

[2022-10-31 06:03] luyuhao0326 commented on #4664
Hi @hugoledoux I have addressed the points from above. I am still learning GitHub so please let me know if I missed anything. Thanks again for your support!

- PR: accpepted & merged
- new release: v0.9.96 has been created and published
- software is archived under the ETH research collection reserved DOI (*pending approval): 10.3929/ethz-b-000578490
- ORCID for Yuhao Lu: 0000-0001-8574-1999

[2022-10-31 06:51] Shreyas911 commented on #4679
Hi @crvernon @svchb ,

These have been modified/added.

This is completed.

gfortran-9 is not available easily, with any standard packages, I have struggled to get it installed on our machines even with IT support. Even though it is installed, I cannot get a compatible version of NetCDF-Fortran installed.

Instead, I have tested inside a docker with gfortran-8.5.0. So that is the latest tested ver

[2022-10-31 07:10] osorensen commented on #4847
Thanks for your review @tomsing1!

[2022-10-31 07:25] jjmccollum commented on #4879
@editorialbot check references

[2022-10-31 07:31] jjmccollum commented on #4879
@editorialbot generate pdf

[2022-10-31 07:34] jjmccollum commented on #4879
@editorialbot check references

[2022-10-31 07:41] AoifeHughes commented on #4859
@mooniean great question - I can see from here https://gitlab.mpikg.mpg.de/curcuraci/bmiptools/-/commits/master that @lcmpikg is the primary contributor. @lcmpikg Could you confirm the other two author's contributions to this work?

[2022-10-31 08:40] jjmccollum commented on #4879
@SimonGreenhill We've made your suggested revisions to the paper and the code, and both should now be accessible in the GitHub repo. I've also had editorialbot regenerate the paper PDF here for easy access. If you have any further comments, they are appreciated!

[2022-10-31 08:43] zoometh commented on #4821
It is fine for me. I'll start the review in a week or so.

[2022-10-31 08:45] sylvaticus commented on #4711
ok, I leave the task to @raybecker then.. my C++ is a bit rusty..  it's a while I don't use it, as I moved almost everything to Julia nowadays...

Just a few comments/suggestions to the author package @jhstaudacher  if I can:
- add a couple of sentences after the logo on what your program does;
- create a proper documentation (there is no link to the "our wiki" page referred in the README);
- link

[2022-10-31 08:58] fabian-s commented on #4804
hi @elfunesto, sorry for the delays.
Seems I'm unable to recruit a second JOSS reviewer for this submission. Could you provide the Github handles of some of the people below that you suggested as reviewers, please?

[2022-10-31 09:05] jhstaudacher commented on #4711
@sylvaticus Thank you very much for your efforts and your precious comments and suggestions.

[2022-10-31 09:06] fabian-s commented on #4773
@editorialbot generate pdf

[2022-10-31 09:15] fabian-s commented on #4773
as far as I can determine given the lack of communication by [fatmasevinck](https://github.com/fatmasevinck), the only outstanding issue here now is

/fatmasevinck/enetLTS/issues/16 : adding a contributing.md or similar as community guidelines.

@mcavs @marastadler is this assessment correct?

[2022-10-31 09:18] cwmeijer commented on #4493
Dear @sara-02,

I'm one of the co-authors of the paper. Thank you both for the suggestions you made above. I created issues to address them (soon) and improve our repository.

I see one unticked box left "Functionality: Have the functional claims of the software been confirmed?" and I'm not clear how to interpret this. Did you read about specific functionality that you couldn't find in our softwar

[2022-10-31 09:27] mcavs commented on #4773
@fabian-s The issues that I commented on [https://github.com/fatmasevinck/enetLTS/issues/15](https://github.com/fatmasevinck/enetLTS/issues/15) are solved by @fatmasevinck. It is ok for me.

[2022-10-31 09:28] Nikoleta-v3 commented on #4711
This https://github.com/openjournals/joss-reviews/issues/4711#issuecomment-1296774716 is very helpful! Thank you for your suggestions and for taking the time to look over the submission 😄

[2022-10-31 09:31] fnattino commented on #4624
Hi @lucydot, apologies for not having answered earlier. I could review the manuscript in a time frame of ~2 weeks  - would that work?

[2022-10-31 10:13] vissarion commented on #4867
@editorialbot add @mbarzegary as reviewer

[2022-10-31 10:17] marastadler commented on #4773
@fabian-s some of my comments have not been addressed yet. I have specified what is still missing in https://github.com/fatmasevinck/enetLTS/issues/14

[2022-10-31 10:59] m-samland commented on #4774
@editorialbot generate my checklist

[2022-10-31 11:25] Natsiopoulos commented on #3496
Hi @sbenthall
Is there anything else I need to do before the acceptance of the submission?

[2022-10-31 12:05] kyleniemeyer commented on #4531
Hi @psanan, there are just a few things with the references in the paper that need to be corrected:
 - Balay et al.: remove redundant URL field
 - Mills et al.: remove the "https://doi.org/" from the DOI field
 - Pusok et al.: add the DOI
 - Virieux 1986: add DOI (if available_

[2022-10-31 12:17] gkthiruvathukal commented on #4718
Thanks for the ping, @jbytecode. The submission appears to be in great shape and final acceptance will occur shortly. Thanks to everyone for your patience!

[2022-10-31 12:18] danielskatz commented on #3496
👋 @sbenthall & @Natsiopoulos - I'm glad to see this is close to done, with just a few actions left from @sbenthall and then @openjournals/sbcs-eics

[2022-10-31 12:19] danielskatz commented on #3496
Just to be clear, @sbenthall should update the version and archive using editorialbot, then do the recommended accept again to make sure it fully works, and if the draft and everything else looks good, then notify @openjournals/sbcs-eics to complete the processing and acceptance

[2022-10-31 12:21] danielskatz commented on #3496
@ha0ye and @jessie-dotson - I notice you have not checked off all the items in your review checklists, though you have commented that this is ready to accept.  Can you go back and check off the items you didn't before, just to confirm that they are all ok?

[2022-10-31 12:31] ha0ye commented on #3496
Ah sorry, I missed the break and ended up checking @jessie-dotson's boxes too. Hopefully not an issue, since we both signed off already!

[2022-10-31 12:59] estefaniatalavera commented on #4611
@dunnkers you mentioned that you were waiting by your peer-submitters, to review the updated version of the paper. Could you confirm if this has already happened?

[2022-10-31 13:08] danielskatz commented on #4821
Thanks @zoometh - I'll add you and start the review issue now, though I recognize that neither reviewer will start immediately.

[2022-10-31 13:08] danielskatz commented on #4821
@editorialbot add @zoometh as reviewer

[2022-10-31 13:08] danielskatz commented on #4821
@editorialbot start review

[2022-10-31 13:08] editorialbot opened #4894 "[REVIEW]: cosasi: Graph Diffusion Source Inference in Python"
**Submitting author:** @lucasmccabe (<a href="http://orcid.org/0000-0002-7383-2823">Lucas McCabe</a>)
**Repository:** https://github.com/lmiconsulting/cosasi/
**Branch with paper.md** (empty if default branch): joss
**Version:** v0.0.4-joss
**Editor:** @danielskatz
**Reviewers:** @sara-02, @zoometh
**Archive:** 10.5281/zenodo.7430558

## Status

[![status](https://joss.theoj.org/papers/2d7b627bb3d

[2022-10-31 13:20] fatmasevinck commented on #4773
Dear @fabian-s

I am trying to do my best now.

Many thanks for your effort.

Sevinç

[2022-10-31 13:24] editorialbot opened #4895 "[PRE REVIEW]: FieldCompare: A Python package for regression testing simulation results"
**Submitting author:** @dglaeser (<a href="http://orcid.org/0000-0001-9646-881X">Dennis Gläser</a>)
**Repository:** https://gitlab.com/dglaeser/fieldcompare
**Branch with paper.md** (empty if default branch): feature/paper
**Version:** v1.0.0
**Editor:** @danielskatz
**Reviewers:** @idoby, @WilliamJamieson
**Managing EiC:** Daniel S. Katz

## Status

[![status](https://joss.theoj.org/papers/aed211

[2022-10-31 13:35] danielskatz commented on #4895
@dglaeser - In your paper, the orcid `https://orcid.org/0000-0001-9646-881X` might have some endashes instead of hyphens?  I'm not sure what else could lead to `Problem with ORCID (https://orcid.org/0000-0001-9646-881X) for Dennis Gläser. ORCID looks to be the wrong length (Theoj::Error)`  Can you check this?

In addition, you could work on the possibly missing/incorrect DOIs that editorialbot sug

[2022-10-31 14:34] dfm commented on #4863
@richteague — This is a little reminder to keep this on your radar. Please try to get started ASAP!

[2022-10-31 14:36] dfm commented on #4503
@taylorbell57 — Just checking in to see if you're having any issues with these last steps. Let me know if there's any way I can help!

[2022-10-31 14:37] dfm commented on #4321
@smkia — Can you take a look at your remaining checklist items? It looks like we're just about there!

[2022-10-31 14:39] dfm commented on #4692
@josephwkania — Just a reminder to take a look at @liamconnor's suggestions and questions above ☝️

@abatten — Please try to get back to your checklist ASAP. Thanks!

[2022-10-31 14:40] dfm commented on #4872
@imalsky — A reminder to keep this on your radar. Please generate your checklist and start taking a look as soon as you can. Thanks!!

[2022-10-31 14:52] lucasmccabe commented on #4894
Hello @danielskatz: I noticed that the version is listed as 0.0.1. Would it be possible to set this to 0.0.3? A few updates were made since the initial submission; these changes are minor, but are listed for transparency in our [release log](https://cosasi.readthedocs.io/en/latest/developer_pages/releaselog.html).

Also @sara-02 and @zoometh, if it helps at all regarding the code coverage statemen

[2022-10-31 15:08] elbeejay commented on #4852
Thanks @tgoelles, @bgailleton, and @acocac for taking the time to review this submission and open up relevant review issues in the `lidarSuit` repository. From what I can tell, it does not appear that any of the review comments are going to be barriers to future publication; most appear to be related to improving the clarity of the code and documentation. @jdiasn, it appears that you have seen som

[2022-10-31 15:13] dglaeser commented on #4895
@editorialbot generate pdf

[2022-10-31 15:17] dglaeser commented on #4895
@danielskatz, thanks a lot for your comment! I remove the `https://orcid.org/` prefix and then it seemed to work. I also fixed the DOIs, thanks!

[2022-10-31 15:24] emdupre commented on #4865
Hi @curtcorum 👋, I wanted to make sure you weren't facing issues in getting started since you haven't yet created your review checklist.
Please let me know if there's anything I can do to help, and thank you again for agreeing to review PyGRASP !

[2022-10-31 15:25] Natsiopoulos commented on #3496
@sbenthall
Please consider this information for the tag, release, and DOI.

After a more detailed investigation, I made a minor correction in the paper, deleting half a sentence in order to be as fair as possible in comparison with the other packages.

The new tag and release are v0.2.1 (I deleted the previous one and made a new one with the same name).
The new DOI is 10.5281/zenodo.7267996

[2022-10-31 16:28] sjbeckett commented on #4791
Hi [@galessiorob](https://github.com/galessiorob),

Many thanks for moving this forward! Sorry for my delay here. In terms of other reviewers, here are a few potential suggestions – perhaps yidan-yang, epiben, or stmcg might be interested in reviewing here?

[2022-10-31 17:04] mcgrathc commented on #4472
Hi @fraukewiese, I think we have all the items in your list addressed and are ready to move forward with the review. Is there anything else that we need to complete from your perspective? Thanks so much!

[2022-10-31 17:24] jonjoncardoso commented on #4821
Unfortunately, I won't have time this time

[2022-10-31 17:55] taylorbell57 commented on #4503
Hi Dan, thanks for checking in - it's just taking me a while to find the time to get to your requested steps as I prepare to depart for a conference this week. I'll let you know here once I've gotten around to taking care of those last few steps :)

[2022-10-31 18:20] elbeejay commented on #4809
:wave: @LejoFlores, @devincowan, and @rcabell I wanted to reach out and ask if you have any interest in reviewing this submission to JOSS titled: _"HydroMT: Automated and reproducible model building and analysis"_. You all have expertise at the intersection of hydrology and modeling, with an emphasis on modular code designs (as I understand it) via your involvement in the WRF-Hydro and HydroShare

[2022-10-31 18:33] danielskatz commented on #3968
👋 @inakleinbottle - can you confirm that you are ready for this submission to be accepted and published?

[2022-10-31 18:39] danielskatz commented on #4895
Thanks @dglaeser.

As we have a shortage of editors with availability, I'll edit this submission.  Can you suggest potential reviewers by mentioning them here in this thread (without tagging them with an @). You can use (but shouldn't limit yourself to) [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start

[2022-10-31 18:39] danielskatz commented on #4895
@editorialbot assign me as editor

[2022-10-31 18:40] danielskatz commented on #4895
@gvwilson - would you be willing to review this JOSS submission?

[2022-10-31 18:41] dunnkers commented on #4611
Hi @estefaniatalavera. Yes this has happened (mentioned in [this comment](https://github.com/openjournals/joss-reviews/issues/4611#issuecomment-1276349953) ✅). Cheers! 🌞

[2022-10-31 18:42] danielskatz commented on #4895
@fmichonneau - would you be willing to review this JOSS submission?

[2022-10-31 18:45] cwitkowitz commented on #4878
@editorialbot generate my checklist

[2022-10-31 18:59] nicoguaro commented on #4783
I think so, but we are starting finals... so it would take some time.

[2022-10-31 19:03] a9p commented on #4892
@editorialbot generate pdf

[2022-10-31 19:10] pibion commented on #4837
@arfon could you comment on the possible COI above?

[2022-10-31 19:11] pibion commented on #4576
@Shibabrat it is not too late, we'd be delighted to have you as a reviewer.  I'll add you in the review thread.  Thank you!

[2022-10-31 19:12] pibion commented on #4890
@editorialbot add @shibabrat as reviewer

[2022-10-31 19:13] danielskatz commented on #4837
@pibion - these questions should first go to the track editor (which is me in this case, but is @openjournals/csism-eics more generally for this track).  In this case, there is no COI since the collaboration was outside of the COI time period

[2022-10-31 19:13] pibion commented on #4890
@shibabrat could you try generating your review checklist?  I'd like to make sure you have access to the thread :)

[2022-10-31 19:14] pibion commented on #4837
@danielskatz great, thank you!  I'll post to the track editor in the future!

[2022-10-31 19:14] lucydot commented on #4624
@fnattino , yes it would  - that would be perfect 👍 - I'll add you as a reviewer now.

@gdmiron thanks for the suggestions.

@hgandhi2411 a friendly reminder prompt for your review

[2022-10-31 19:15] pibion commented on #4837
@lucask07 we're good to go!  I'm going to go ahead and start the review.

[2022-10-31 19:15] pibion commented on #4837
@editorialbot add @lucask07 as reviewer

[2022-10-31 19:15] editorialbot opened #4896 "[REVIEW]: OpenMSIStream: A Python package for facilitating integration of streaming data in diverse laboratory environments"
**Submitting author:** @eminizer (<a href="http://orcid.org/0000-0003-4591-2225">Margaret Eminizer</a>)
**Repository:** https://github.com/openmsi/openmsistream
**Branch with paper.md** (empty if default branch):
**Version:** v1.3.1
**Editor:** @pibion
**Reviewers:** @lucask07, @SergeyYakubov
**Archive:** 10.5281/zenodo.7713196

## Status

[![status](https://joss.theoj.org/papers/eebecf9b018affe51

[2022-10-31 19:15] #4837 closed

[2022-10-31 19:15] lucydot commented on #4624
@editorialbot add @fnattino as reviewer

[2022-10-31 19:16] lucydot commented on #4624
@fnattino please generate your review checklist using the command `@editorialbot generate my checklist` in this discussion thread. Any questions, don't hesitate to ask.

[2022-10-31 19:19] lucydot commented on #4333
@jonathanHuwP this should be ok as it looks like the editors in chief have not yet accepted the submission. I'll recompile the paper now.

[2022-10-31 19:19] lucydot commented on #4333
@editorialbot generate pdf

[2022-10-31 19:19] lucydot commented on #4333
@editorialbot check references

[2022-10-31 19:23] lucydot commented on #4333
@openjournals/bcm-eics please note that have been changes made to the manuscript after the `recommend-accept` label was added. The latest version has been compiled in the message just above.

I don't think we need to re-archive the repo as only small changes have been made to the manuscript, but please let me know if this is wrong @openjournals/bcm-eics .

[2022-10-31 19:25] lucydot commented on #4672
This review seems to have taken a bit of a stall.

@archermarx we are waiting on your revisions in response to the changes suggested by @Rupali-Sahu

@StanczakDominik can you give an estimate for when (if at all?) you can do the review?

I will start reaching out to additional reviewers - we need someone who can install and run the code to verify functionality.

[2022-10-31 19:27] mzabrams commented on #4678
@majensen Thanks for that update -- let me know if theres anything else you all need from me at this point!

[2022-10-31 19:30] lucydot commented on #4672
@Datseris @jameshclrk @matbesancon - I'm aware that I have already asked you to review this submission (and I received your earlier responses), however that was a few months back - so I'm re-asking in case you have any more give in your schedule and are now able to review. No problems if not!

[2022-10-31 19:46] trappitsch commented on #4642
any updates on this?

[2022-10-31 21:27] mcflugen commented on #4809
@elbeejay Sorry for the delay, I can help out with this one.

[2022-10-31 21:33] LejoFlores commented on #4809
Hey @elbeejay... I can also help out too! Thanks for the invite.

[2022-10-31 21:56] gkthiruvathukal commented on #4718
@editorialbot generate pdf

[2022-10-31 22:00] gkthiruvathukal commented on #4718
@klb2  I've just done a read through of the paper. It appears to be in great shape overall. One of the references seems to be lacking a DOI:

[code]

Is there any chance you could fix this? Oddly, it doesn't show up as a missing DOI in the report above.

[2022-10-31 22:08] elbeejay commented on #4809
Fantastic, thanks @mcflugen and @LejoFlores - will add you as reviewers and start the proper "review" issue now.

[2022-10-31 22:09] elbeejay commented on #4809
@editorialbot add @mcflugen as reviewer

[2022-10-31 22:09] elbeejay commented on #4809
@editorialbot add @LejoFlores as reviewer

[2022-10-31 22:09] elbeejay commented on #4809
@editorialbot start review

[2022-10-31 22:09] editorialbot opened #4897 "[REVIEW]: HydroMT: Automated and reproducible model building and analysis"
**Submitting author:** @dirkeilander (<a href="http://orcid.org/0000-0002-0951-8418">Dirk Eilander</a>)
**Repository:** https://github.com/Deltares/hydromt
**Branch with paper.md** (empty if default branch): joss_paper
**Version:** v0.7.0
**Editor:** @elbeejay
**Reviewers:** @JannisHoch, @mcflugen, <s>@LejoFlores</s>
**Archive:** 10.5281/zenodo.7663065

## Status

[![status](https://joss.theoj.org

[2022-10-31 22:09] #4809 closed

[2022-10-31 22:11] elbeejay commented on #4897
Thanks again @JannisHoch, @mcflugen and @LejoFlores for agreeing to review `HydroMT`. Instructions about how to generate your reviewer checklist as well as how to conduct a JOSS review are provided in the above comments, but please feel free to reach out to me if you have any questions. I'll be asking the bot to send out reminders about the review in 3 weeks time; note that we are currently asking

[2022-10-31 22:12] elbeejay commented on #4897
@editorialbot remind @JannisHoch in three weeks

[2022-10-31 22:12] elbeejay commented on #4897
@editorialbot remind @mcflugen in three weeks

[2022-10-31 22:12] elbeejay commented on #4897
@editorialbot remind @LejoFlores in three weeks

[2022-10-31 22:15] LejoFlores commented on #4897
@editorialbot generate my checklist

[2022-10-31 22:24] jimmielin commented on #4575
Thank you for addressing my comments. I recommend this project for publication and thank you for your contribution to the open source community!

[2022-10-31 22:26] SimonGreenhill commented on #4879
Wonderful, looks all good to me, @jjmccollum. Nice work!

[2022-10-31 22:30] turgeonmaxime commented on #4807
@balima78 Thanks for adding more details about the state of available software.

I did notice a few typos:

- Line 7: Should be "as equitable as possible", instead of "equitably".
- Line 36: "a vignette is available", instead of "it is available a vignette".
- Line 41: "makes available", instead of "make available".
- Subsection on _Portugese Model_: The numbered list didn't render properly. I thi

[2022-10-31 23:55] balima78 commented on #4807
@editorialbot generate pdf

[2022-10-31 23:59] balima78 commented on #4807
thank you @turgeonmaxime, typos corrected.

[2022-11-01 00:25] imalsky commented on #4872
@editorialbot generate my checklist

Thanks for inviting me to review!

[2022-11-01 00:30] galessiorob commented on #4839
Hi @RamziHalabi , please feel free to comment directly here and interact with the reviewers.

I've reached out to @arfon about the concerns @sidihamady @lucask07  and @jodemaey raised on the level of effort and substantial contribution, and reviewed the comments and package myself. I'll come back with some feedback soon after I reach out to the Editors in Chief.

[2022-11-01 00:37] galessiorob commented on #4816
@Smattr thank you so much for the thorough review 🚀

Based on @ianfhunter 's changes and the latest results you got are you done with your review?

[2022-11-01 00:38] imalsky commented on #4872
Thanks! I opened a review. My apologies if I get any of the process wrong,
this is my first JOSS review.

On Mon, Oct 31, 2022 at 7:40 AM Dan Foreman-Mackey ***@***.***>
wrote:

[2022-11-01 00:38] galessiorob commented on #4816
@ziotom78, could you please generate your checklist and let us know when you think you'll be able to get to it? Thanks in advance.

[2022-11-01 00:43] lpantano commented on #4832
@editorialbot assign @Jessime as reviewer

[2022-11-01 00:44] lpantano commented on #4832
@editorialbot add @Jessime as reviewer

[2022-11-01 00:52] imalsky commented on #4872
@dfm, is it recommended that I also make any suggestion for improvements/questions in the paper or code, or simply check the above guideline checklist?

[2022-11-01 00:55] curtcorum commented on #4865
@editorialbot generate my checklist

[2022-11-01 01:26] curtcorum commented on #4865
I would recommend that the article be re-catagorized to: https://github.com/openjournals/joss-reviews/issues?q=is%3Aopen+label%3A%22Track%3A+2+%28BCM%29%22

instead of: https://github.com/openjournals/joss-reviews/labels/Track%3A%204%20%28SBCS%29

[2022-11-01 01:50] curtcorum commented on #4865
The TorchKbNufft reference is incomplete: and ideally both the abstract and the github link.

Muckley, M. J., Stern, R., Murrell, T., & Knoll, F. (2020). TorchKbNufft: a high-level, hardware-agnostic non-uniform fast Fourier transform. In ISMRM Workshop on Data Sampling & Image Reconstruction.

https://github.com/mmuckley/torchkbnufft

https://mmuckley.github.io/assets/publications/2020muckleytorc

[2022-11-01 01:52] curtcorum commented on #4865
https://cds.ismrm.org/protected/14MProceedings/PDFfiles/4407.pdf

[2022-11-01 01:59] curtcorum commented on #4865
The text of the paper does not seem to be broken down in to reasonable sized paragraphs. Instead there is one long paragraph per section.

[2022-11-01 02:01] Fei-Tao commented on #4864
Hi @shagunsodhani, thank you for your reviews. JOSS allows the co-publication of science, methods, and software. As long as the [FreqAI](https://github.com/freqtrade/freqtrade/tree/develop/freqtrade/freqai) itself reflects the substantial scholarly effort, we can accept it.

[2022-11-01 02:07] asitha-sena commented on #4569
@editorialbot generate pdf

[2022-11-01 02:11] asitha-sena commented on #4569
Updated reference section in paper to include links to AGS4 guidelines.

[2022-11-01 02:31] curtcorum commented on #4865
SigPy reference or discussion?

https://github.com/mikgroup/sigpy
https://github.com/mikgroup/extreme_mri

[2022-11-01 02:51] Smattr commented on #4816
Yes, submission looks good to me! Really cool work from Ian and I learned a lot while reviewing this submission too.

[2022-11-01 03:02] curtcorum commented on #4865
Functionality - Installation
Documentation - Installation instructions

https://github.com/quin-med-harvard-edu/pyGRASP/issues/1#issue-1423865969

[2022-11-01 03:04] galessiorob commented on #4816
Thank you so much for your review @Smattr! Really appreciate the time and attention you lent to this review.

@ianfhunter I'll reach out to some additional potential reviewers for good measure.

[2022-11-01 03:07] graciellehigino commented on #4812
@molgor - would you be willing to review this submission? 😄

[2022-11-01 03:08] graciellehigino commented on #4812
@chrisborges - would you be willing to review this submission? 😄

[2022-11-01 03:16] curtcorum commented on #4865
General checks - Data sharing
General checks - Reproducibility

Is the data needed for Figure 2 results (two datasets?) available?

https://github.com/quin-med-harvard-edu/pyGRASP/issues/2

[2022-11-01 03:18] OwenWard commented on #4771
Just wanted to follow up also with a bit more detail on my comments. I don't think there is any large enough for an issue which @mhesselbarth hasn't already covered but I'll list my comments again. These include the current updates in the `joss_submission` branch.

- Can you provide a reference for the external data? It might be easier to just include it in the package directly? then it would get

[2022-11-01 03:23] galessiorob commented on #4791
Whoa, thank you so much for your review @richelbilderbeek  - I'll go ahead and open the review issue and transfer your review over there. We can continue the review in that issue.

@sjbeckett I'll reach out to the candidates you shared and some additional ones.

[2022-11-01 03:23] galessiorob commented on #4791
@editorialbot start review

[2022-11-01 03:23] editorialbot opened #4898 "[REVIEW]: localcovid19now: processing and mapping COVID-19 case data at subnational scales"
**Submitting author:** @sjbeckett (<a href="http://orcid.org/0000-0002-4410-2960">Stephen Beckett</a>)
**Repository:** https://github.com/sjbeckett/localcovid19now
**Branch with paper.md** (empty if default branch):
**Version:** v0.1
**Editor:** @galessiorob
**Reviewers:** @richelbilderbeek, @mbkumar, @welch16, @Epic19mz
**Archive:** 10.5281/zenodo.7542478

## Status

[![status](https://joss.theoj

[2022-11-01 03:24] #4791 closed

[2022-11-01 03:28] galessiorob commented on #4898
@richelbilderbeek unfortunately GitHub doesn't have a feature to transfer comments to existing issues so I'll just copy-paste the original one here so that we can continue the review.

__________________________________________________________
**FROM @richelbilderbeek**

Here is my review! See [https://github.com/richelbilderbeek/review_localcovid19now](https://github.com/richelbilderbeek/review_l

[2022-11-01 03:30] galessiorob commented on #4898
@sjbeckett please go over @@richelbilderbeek review comments at your earliest convenience. I'll add new reviewers once they accept the invite to review the paper.

[2022-11-01 03:41] galessiorob commented on #4898
@editorialbot add @mbkumar as reviewer

[2022-11-01 03:42] galessiorob commented on #4898
@mbkumar thank you so much for volunteering to review this paper! Please comment `@editorialbot generate my checklist` to review your checklist and let me know if you have any questions on how to proceed.

[2022-11-01 04:04] jedbrown commented on #4569
Thanks. I think the refs in the paper should include the text like `4th Edition Addendum 4`, assuming each reference is needed (as in, you can't just cite the latest standard).

[2022-11-01 07:09] klb2 commented on #4718
Thank you for taking care of the final steps @gkthiruvathukal

The conference was in September and the proceedings are not yet published. Therefore, the DOI is not yet available.

It will probably take another 2-4 weeks before it is made available on IEEExplore.

[2022-11-01 07:09] aaronpeikert commented on #4848
@editorialbot generate my checklist

[2022-11-01 07:19] Kevin-Mattheus-Moerman commented on #4836
@britta-wstnr do you think you can edit this submission? Thanks

[2022-11-01 07:23] Kevin-Mattheus-Moerman commented on #4888
@editorialbot set v0.0.15 as version

[2022-11-01 07:33] inakleinbottle commented on #3968
@danielskatz Sorry for the delay. Yes, all of my concerns have been addressed. I still cannot tick the boxes in the review post which is why they are not filled in.

[2022-11-01 07:33] Kevin-Mattheus-Moerman commented on #4888
@x94carbone thanks for this submission. I have just added the query scope label here. This means our editorial board will review if this work is in scope for JOSS. Although extensive enough in terms of lines of code (we set a rough bar at around 1000 lines of code) this submission is on the small side. Furthermore, as can be seen in our [submission requirements](https://joss.readthedocs.io/en/late

[2022-11-01 07:33] Kevin-Mattheus-Moerman commented on #4888
@editorialbot check references

[2022-11-01 07:41] ianfhunter commented on #4816
Thank you from me also!

[2022-11-01 07:45] jbytecode commented on #4718
@gkthiruvathukal - As far as I know, the editorialbot does not perform a DOI check for `inproceedings` type bibtex entries. That's why we didn't see a missing DOI warning.

[2022-11-01 08:03] Kevin-Mattheus-Moerman commented on #4783
@nicoguaro that is okay. I'll assign you for now if that is okay.

[2022-11-01 08:03] Kevin-Mattheus-Moerman commented on #4783
@editorialbot add @nicoguaro as reviewer

[2022-11-01 08:03] Kevin-Mattheus-Moerman commented on #4783
@xqms @SelvamArul @aadi-mishra @tduboudi @xheon @natevm would you be interested in reviewing this submission for [the Journal of Open Source Software (JOSS)](https://joss.theoj.org/)? The work in question is titled: **"BlenderProc2: A Procedural Pipeline for Photorealistic Rendering"**, and has applications to deep learning methods.

JOSS reviews happen on GitHub and focus on reviewing the [softwa

[2022-11-01 08:04] Kevin-Mattheus-Moerman commented on #4783
@BradyAJohnston do you mind if I assign you as reviewer?

[2022-11-01 08:06] BradyAJohnston commented on #4783
Yep you can assign me.

[2022-11-01 08:07] vyrjana commented on #4808
I will add my responses to @Aslan-Kosakian's feedback in chunks. Otherwise it might take me a while to respond to everything at once due to my current schedule.

I've started working on a quickstart guide (or set of tutorials) [here in the `joss-paper-tutorials` branch](https://github.com/vyrjana/DearEIS/tree/joss-paper-tutorials/gh-pages).

It is correct as it is. DearEIS has a GUI and an API whi

[2022-11-01 08:18] dglaeser commented on #4895
Hi @danielskatz, I looked at the list of reviewers and searched for numerical simulation as domain/topic while filtering for Python as language. From the bottom up, I found the following people: gianthk, ziyiyin97, idoby, mbarzegary, elauksap

[2022-11-01 08:51] Datseris commented on #4672
Hello @lucydot , thanks for the (re-)invite. Unfortunately once again I must decline :( I'm in a worst state than previously, finishing my job soon before leaving for a month long leave. Unlikely I would have the capacity to deliver something here. Sorry! Wish best of luck to the authors!

[2022-11-01 09:06] aaronpeikert commented on #4848
I have only gotten around to take a quick look at the installation, dependencies, and automated testing:

- [ ] https://github.com/annajenul/UBayFS/issues/8
- [ ] https://github.com/annajenul/UBayFS/issues/9
- [ ] https://github.com/annajenul/UBayFS/issues/11
- [ ] https://github.com/annajenul/UBayFS/issues/13
- [ ] https://github.com/annajenul/UBayFS/issues/14

I'll check back in two weeks to do

[2022-11-01 09:07] SelvamArul commented on #4783
@Kevin-Mattheus-Moerman Sure, I am interested in reviewing this submission.

[2022-11-01 09:11] fabian-s commented on #4773
@editorialbot generate pdf

[2022-11-01 09:12] fabian-s commented on #4773
@editorialbot check references

[2022-11-01 09:23] svchb commented on #4679
@Shreyas911

Yes, NetCDF packages are a huge bummer on HPC clusters. You usually have to compile them from source.
Anyway gfortran-8 is at least still available on the previous ubuntu LTS release. (I pin the library/software versions for software that I work on to Ubuntu LTS releases).

Will check your changes now.

[2022-11-01 09:24] svchb commented on #4679
@editorialbot generate pdf

[2022-11-01 09:56] svchb commented on #4679
@Shreyas911
- [ ]  the ./get_input_files.sh script still fails when run from a path with a space in one of the folder names
- [ ] add the code to run the examples and tutorials to an example directory and setup so that these can be easily run (adjust documentation accordingly)

[2022-11-01 10:43] hechth commented on #4494
@csoneson are there any news from the EIC regarding the paper acceptance?

[2022-11-01 10:52] fmichonneau commented on #4895
@danielskatz I need to decline as I'm about to go on parental leave for a few months.

[2022-11-01 11:13] x94carbone commented on #4888
@Kevin-Mattheus-Moerman sure no problem. Yep I read the submission guidelines before submitting and I noticed that we are slightly below the 1000 line standard requirement (CodeCov at least says 912) and thought we should take our chances since we're well above the 300 line desk-reject limit. I am happy to provide additional justification of why this belongs in JOSS.

While it is true that Lightsh

[2022-11-01 11:32] molgor commented on #4812
Hi Gracielle,I might have some time off but I’m not sure. What would be the expected timeframe at the moment?Cheers,JuanEl 1 nov 2022, a las 3:07, Gracielle Higino ***@***.***> escribió:﻿
@molgor - would you be willing to review this submission? 😄

—Reply to this email directly, view it on GitHub, or unsubscribe.You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-11-01 12:15] danielskatz commented on #3968
👋 @IvanIsCoding - I've now proofread the paper, and have made suggestions for small changes in https://github.com/Qiskit/rustworkx/pull/720 - please merge this, or let me know what you disagree with, then we can finish the process

[2022-11-01 12:17] danielskatz commented on #4895
@gianthk, @ziyiyin97, @idoby - would one or two of you be willing to review this JOSS submission?

[2022-11-01 12:21] idoby commented on #4895
Sure, this seems like a useful tool.
However, it will probably take me over a week to get around to reviewing this. Is that acceptable?

[2022-11-01 12:32] danielskatz commented on #4895
Yes @idoby - our normal timeline is 2-4 weeks from when the review starts, which doesn't happen until we find at least 2 willing reviewers.  I'll add you in the system, but as I said ,we won't start until we find at least 1 more reviewer.

[2022-11-01 12:32] danielskatz commented on #4895
@editorialbot add @idoby as reviewer

[2022-11-01 12:34] danielskatz commented on #3968
@editorialbot recommend-accept

final check before publishing...

[2022-11-01 12:41] danielskatz commented on #3968
@editorialbot accept

[2022-11-01 12:50] danielskatz commented on #3968
Congratulations to @mtreinish and @IvanIsCoding (Ivan Carvalho) and co-authors!!

And thanks to @szhorvat and @inakleinbottle for reviewing, and to @drvinceknight for editing!
We couldn't do this without you

[2022-11-01 12:50] #3968 closed

[2022-11-01 12:50] hkaspersen commented on #4677
Dear @csoneson @rcannood @mberacochea @hseabolt.

Thank you so much for your valuable feedback on ALPPACA!

I have now worked on the changes mentioned by you all, and created a new release of ALPPACA (v.2.0.0). The changes are reflected in the issues mentioned above, and in the release description. @rcannood I will keep your issue open until the review is completed.

The main changes include the f

[2022-11-01 13:10] dhhagan commented on #4698
@editorialbot add @ml-evs as reviewer

[2022-11-01 13:14] dhhagan commented on #4698
👋  @hiendn, @mamrehn, @jmadera would you be willing/able to review this manuscript?

[2022-11-01 13:15] dhhagan commented on #4752
HI @jarrah42 - did you have issues creating your checklist? Happy to help if needed. Feel free to ping me here or email at david.hagan@quant-aq.com

[2022-11-01 13:19] dhhagan commented on #4412
Hi @slayoo and @edejong-caltech - do you have any other suggestions for reviewers? I have emailed everyone in my network that is applicable and have tried reaching out to the broader community, but so far have fallen short. I am still working on locating reviewers, and hoping that as folks finish their existing reviews, time opens up. Any suggestions would be appreciated, otherwise I will keep you

[2022-11-01 13:46] prashjha commented on #4727
Hello @pitsianis, I am looking for a second reviewer for this submission. Would you be interested in reviewing this by any chance? Please let me know!

[2022-11-01 13:53] rivasiker commented on #4891
@editorialbot commands

[2022-11-01 13:54] rivasiker commented on #4891
@editorialbot check references

[2022-11-01 13:56] rivasiker commented on #4891
@editorialbot check repository

[2022-11-01 13:56] rivasiker commented on #4891
@editorialbot generate pdf

[2022-11-01 14:08] rivasiker commented on #4891
List of potential reviewers based on their preferred topics:
- ethanbass
- dwinter
- mtomasini
- rachelss
- esteinig
- bvreede
- xin-huang

[2022-11-01 14:49] sbenthall commented on #3496
Back from vacation!

[2022-11-01 14:50] sbenthall commented on #3496
@editorialbot set 10.5281/zenodo.7267996 as archive

[2022-11-01 14:51] sbenthall commented on #3496
@editorialbot recommend-accept

[2022-11-01 15:24] ConnorDonegan commented on #4716
Many thanks for your review @wcjochem. I think the suggestion to break the `geostan_fit` methods documentation into a number of pages is a good idea. I'll do that and respond to your other comments, I think I can have that done by the middle of next week.

On the missing citation to support the performance claim (that the CAR models can work with all US county data interactively), I'll add a direc

[2022-11-01 15:41] natevm commented on #4783
I’d be interested !-NateOn Nov 1, 2022, at 2:03 AM, Kevin Mattheus Moerman ***@***.***> wrote:﻿
@xqms @SelvamArul @aadi-mishra @tduboudi @xheon @natevm would you be interested in reviewing this submission for the Journal of Open Source Software (JOSS)? The work in question is titled: "BlenderProc2: A Procedural Pipeline for Photorealistic Rendering", and has applications to deep learning methods.

[2022-11-01 16:01] danielskatz commented on #4617
@diehlpk - As track chair, I suggest sending an email to @JeWaVe as well as saying here that we will reject this submission if we don't here back by some date (3 weeks from now?)

[2022-11-01 16:02] mbkumar commented on #4898
@editorialbot generate my checklist

[2022-11-01 16:02] danielskatz commented on #4628
@gkthiruvathukal - this seems to be waiting for you to move it forward.  I can do it for you as track chair if you want, or you can do it, which I would prefer 🙂

[2022-11-01 16:04] danielskatz commented on #4622
👋 @Athene-ai  - can you take another look at the responses from the author and later discussion, and see if you can check off more of your review criteria, then restate your concerns that prevent you from checking off any of the others?

[2022-11-01 16:05] xuanxu commented on #4838
@grburgess Please update us on how your review is going. You can create your checklist with the following command: `@editorialbot generate my checklist`

[2022-11-01 16:05] danielskatz commented on #4834
👋 @Kevin-Mattheus-Moerman - I see you have 2 reviewers signed up. Do you think you need another, or is this ready to start the review process?

[2022-11-01 16:06] danielskatz commented on #4532
👋 @vissarion - it looks like you have 4 reviewers signed up (which is a lot) but you haven't started the review. What's the next step?

[2022-11-01 16:08] Athene-ai commented on #4622
@editorialbot generate my checklist

[2022-11-01 16:11] Athene-ai commented on #4622
@danielskatz I have just updated my checklist

[2022-11-01 16:21] danielskatz commented on #4622
@Athene-ai - thanks!

[2022-11-01 16:23] danielskatz commented on #4622
@AldoGl - it looks like this is ready to proceed, which I'll help @drvinceknight with.

At this point could you:
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposit (e.g., in Zenodo) has the correct metada

[2022-11-01 16:56] lc09c commented on #4859
Hello, Yes I can confirm that the other two authors contributed to work of the article. Let me know if more information is needed.

[2022-11-01 16:56] faroit commented on #4754
@sara-02 @yiitozer thanks a lot for your excellent reviews.

[2022-11-01 16:57] faroit commented on #4754
@editorialbot generate pdf

[2022-11-01 17:15] faroit commented on #4754
The submission looks good now and we can move forward 👏 I just did check the paper again for grammar and spellings and created a minor pull request that you can merge in if you like.

@MarieRoald when the paper is ready, please then please make a new release of the main repo that includes all of the changes that have resulted from the review. Please report the version number here.

Then, please ma

[2022-11-01 17:45] claresinger commented on #4412
@dhhagan Have you contacted the following? Thanks!
https://github.com/zzheng93 (was unavailable in August, but maybe has time now?)
https://github.com/emmasimp (already suggested, but unclear if they were asked)
https://github.com/smturbev (^^)
https://github.com/tangshuaiqi
https://github.com/paul-barrett
https://github.com/msolal

[2022-11-01 17:50] RupeshJey commented on #4575
@arjunsavel @jimmielin Thank you both for your time and effort in reviewing this article, and for your service to the open-source community as well!

@pdebuyl I am investigating the DelimitedFiles issue. Separately, our compatibility requirements specify that vSmartMOM is only available for Julia 1.6+. I wonder why it allows you to try to install it in the first place, since you are on Julia 1.5..

[2022-11-01 18:04] gkthiruvathukal commented on #4628
@danielskatz Thanks but I will do it. You already do so much! I have just been dealing with a minor crisis and trying to catch up. I should be able to act on this shortly.

[2022-11-01 18:12] gkthiruvathukal commented on #4628
@editorialbot generate pdf

[2022-11-01 18:20] gkthiruvathukal commented on #4628
@editorialbot accept

[2022-11-01 18:21] gkthiruvathukal commented on #4628
@editorialbot accept

[2022-11-01 18:25] danielskatz commented on #4628
@gkthiruvathukal - you might want to do a recommend-accept before the accept, to give yourself a change to check everything that will be submitted to various archives and services before it is submitted

[2022-11-01 18:26] danielskatz commented on #4628
In this case, the errors seem to be a figure label that is reused (in the .md file), and two reference labels that are reused (in the .bib file) - the author will need to address these

[2022-11-01 18:27] gkthiruvathukal commented on #4628
@editorialbot recommend-accept

[2022-11-01 18:55] jbytecode commented on #4736
@HaoZeke - we are a little bit out of the normal review time intervals. could you please update your status and finalize your review? Thank you in advance.

[2022-11-01 18:55] behollister commented on #4283
@agdturner, @arfon: Glad to hear of progress. Let me know when I should continue my review.

[2022-11-01 19:12] a9p commented on #4892
@editorialbot generate pdf

[2022-11-01 19:12] vissarion commented on #4532
This is actually the review thread. One of the two initial reviewers does not respond so I asked for more. Now waiting for the two new reviewers to start their review.

[2022-11-01 19:16] faroit commented on #4738
The submission looks good now and we can move forward 👏 I just did check the paper again for grammar and spellings and created a tiny pull request that you can merge in if you like.

@xinyiguan when the paper is ready, please then please make a new release of the main repo that includes all of the changes that have resulted from the review. Please report the version number here.

Then, please make

[2022-11-01 19:16] danielskatz commented on #4532
Sorry, my mistake. It's hard to understand everything in this somewhat long review thread.

Have the reviewers that you've added been instructed how to create their review checklist? And that they should do so and get started?

[2022-11-01 19:20] faroit commented on #4746
@neillu23 please update us on the potential reviewer list and add your own suggestions if you have some.

[2022-11-01 19:34] jdiasn commented on #4852
Thank you, @elbeejay, @acocac, @tgoelles  and @bgailleton, for taking the time to review my submission.
I will be working to address all comments as soon as possible.  I think it will take some time for me to go over all suggestions, but I will do it.

[2022-11-01 20:42] xinyiguan commented on #4738
Hi @faroit 👋🏼,

Thanks for the updates and the grammar check! I just merge the PR and made the new release.

The new release version is v.1.0.2.
The DOI of the Zenodo archive of the new release version is 10.5281/zenodo.7272236

[2022-11-01 20:50] vissarion commented on #4532
@dataplayer12 and @zhampel I am copying / gathering here some information from the thread above just to be sure we are all on the some page.

Each of you will have a separate checklist that you should update when carrying out your review.

First of all you need to run this command in a separate comment to create the checklist:

[code]

We aim for reviews to be completed within about 2-4 weeks. Ple

[2022-11-01 21:07] cgrudz commented on #4129
@editorialbot generate pdf

[2022-11-01 21:21] cgrudz commented on #4129
@editorialbot generate pdf

[2022-11-01 21:36] tmigot commented on #4129
@cgrudz @diehlpk I finished my review. The package looks very nice now, congrats. I still have a couple of comments.

- [ ] As asked above, https://github.com/openjournals/joss-reviews/issues/4129#issuecomment-1287949731 , I don't think it is a good idea to only focus on the master simply because there is a reason we use versioning. The user needs to rely on versions that are stable and working es

[2022-11-01 21:54] perdelt commented on #4628
@editorialbot generate pdf

[2022-11-01 22:01] perdelt commented on #4628
Hi @gkthiruvathukal , Hi @danielskatz thanks for pointing out these issues!
I have corrected both files in the master branch (do I need a new tag?).

[2022-11-01 22:11] chrisborges commented on #4812
Hi Openjournals/Joss-Reviews,

I am available to review Dr. Higino's submission.

On Tue, Nov 1, 2022 at 8:33 AM Juan Escamilla Molgora <
***@***.***> wrote:

[2022-11-01 22:31] gkthiruvathukal commented on #4628
Let me try recommend-accept again @perdelt and see if the XML metadata issues go away!

@editorialbot recommend-accept

[2022-11-01 22:32] gkthiruvathukal commented on #4628
I don't think a new tag is needed when the issue is limited to the paper itself. Let's see.

[2022-11-01 22:35] gkthiruvathukal commented on #4628
@editorialbot recommend-accept

[2022-11-01 22:52] danielskatz commented on #4628
Correct. Neither a new archive or tag, though both are allowed if desired. Since once the paper is published, the pdf is archived and the source no longer is important.

[2022-11-01 22:56] danielskatz commented on #4628
Thanks @gkthiruvathukal - I'll do a final proofread now.

[2022-11-01 23:38] danielskatz commented on #4628
@perdelt - as the track editor here, I'm doing the final checks before publishing.  I've found a number of issues with the final paper, as suggested in https://github.com/Beuth-Erdelt/DBMS-Benchmarker/pull/109.  Please merge this, or let me know what you disagree with, then we can proceed

[2022-11-02 01:49] gkthiruvathukal commented on #4718
@klb2 Yes, even I found that a bit strange (the DOI check issue). I think I'm going to proceed with the final steps.

[2022-11-02 01:51] gkthiruvathukal commented on #4718
@editorialbot accept

[2022-11-02 02:02] gkthiruvathukal commented on #4718
Congratulations @klb2!
Thank you for your work as editor, @jbytecode.
Thanks to our reviewers, @ulf1, @max-little.

Thanks to everyone for your patience with the new Track EIC (me, @gkthiruvathukal)!

[2022-11-02 02:19] cgrudz commented on #4129
@tmigot, thanks for your suggestions.  I have resolved the issues that were raised in the main repository and I feel like the other items are now resolved as well.  @diehlpk, I would like to ask for your decision of the work in its current state.

@tmigot regarding your requests:

"Show how to install the stable version of the package"

This is performed by installing the latest stable official re

[2022-11-02 02:46] majensen commented on #4678
:wave: @openjournals/sbcs-eics and maybe @arfon ...

[2022-11-02 04:05] abatten commented on #4692
I also commend the author. This is quite a sophisticated simulation package. I'm not personally as familiar with the needs and requirements for injection pipelines, so I'll leave those recommendations to @liamconnor.

But the software seems to work with the examples provided. And the main three functions are documented. Although I would add a note somewhere stating which parameters are required an

[2022-11-02 04:21] asitha-sena commented on #4569
@editorialbot generate pdf

[2022-11-02 04:25] asitha-sena commented on #4569
Added edition and addendum info as shown as suggested.

[2022-11-02 04:46] jedbrown commented on #4569
@editorialbot set 10.5281/zenodo.7264282  as archive

[2022-11-02 04:47] jedbrown commented on #4569
@editorialbot recommend-accept

[2022-11-02 04:59] osorensen commented on #4655
@adriancorrendo, could you please give us an update on how long you expect it will take to address the issues raised by the reviewers? It's absolutely fine if things take time, but it would be nice to have an estimate.

[2022-11-02 05:00] osorensen commented on #4181
@GaryBAYLOR, could you please update us on how it's going addressing the issues raised by the reviewers?

[2022-11-02 05:01] osorensen commented on #4848
Thanks @aaronpeikert!

FYI @annajenul, you're welcome to start addressing these issues right away, as the review process in JOSS is supposed to be iterative.

[2022-11-02 06:12] pitsianis commented on #4727
I will be happy to help. I have used iGraph through Leiden and a Leiden wrapper to access it from Julia.

@arfon what is the JOSS policy, if any, regarding software wrappers that make a binary library accessible from a different language?

[2022-11-02 06:22] prashjha commented on #4727
Hi @pitsianis, great. Adding you as a reviewer...thanks!

[2022-11-02 06:22] prashjha commented on #4727
@editorialbot add @pitsianis  as reviewer

[2022-11-02 06:24] prashjha commented on #4727
@editorialbot add @pitsianis as reviewer

[2022-11-02 06:25] prashjha commented on #4727
Hi @szhorvat, we now have two reviewers, so I will begin the review. Thank you, @leotrs and @pitsianis, for agreeing to review this submission.

[2022-11-02 06:25] prashjha commented on #4727
@editorialbot start review

[2022-11-02 06:25] editorialbot opened #4899 "[REVIEW]: IGraph/M: graph theory and network analysis for Mathematica"
**Submitting author:** @szhorvat (<a href="http://orcid.org/0000-0002-3100-523X">Szabolcs Horvát</a>)
**Repository:** https://github.com/szhorvat/IGraphM
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** 0.6.5
**Editor:** @prashjha
**Reviewers:** @leotrs, @pitsianis
**Archive:** 10.5281/zenodo.7469228

## Status

[![status](https://joss.theoj.org/papers/09bbc9ab112fb0a932

[2022-11-02 06:25] #4727 closed

[2022-11-02 06:27] prashjha commented on #4899
Dear, @leotrs and @pitsianis, please read the first couple of comments in this thread and create your review checklist. You can read the reviewer guidelines [here](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html). Also, you can browse the [closed "REVIEW" issues](https://github.com/openjournals/joss-reviews/issues?q=label%3Areview+is%3Aclosed) on the "joss-reviews" repository to get

[2022-11-02 06:29] prashjha commented on #4727
Hi @prasantapal, please ignore my messages for reviewing this submission. We now have the required reviewers.

[2022-11-02 06:37] pitsianis commented on #4899
@editorialbot generate my checklist

[2022-11-02 06:38] leotrs commented on #4899
@editorialbot generate my checklist

[2022-11-02 07:52] bgailleton commented on #4852
@elbeejay I confirm that from my side, I consider [my issue](https://github.com/jdiasn/lidarSuit/issues/46) pretty minor and I recommend publication as soon as the documentation and examples improve. The contribution presents a `python` package gathering and combining multiple methods to retrieve wind profiles from LiDAR datasets. It bringa to the community methods that were not as easily accessib

[2022-11-02 07:58] Kevin-Mattheus-Moerman commented on #4834
@editorialbot start review

[2022-11-02 07:58] editorialbot opened #4900 "[REVIEW]: PyKronecker: A Python Library for the Efficient Manipulation of Kronecker Products and Related Structures"
**Submitting author:** @nickelnine37 (<a href="http://orcid.org/0000-0002-5553-8145">Edward Antonian</a>)
**Repository:** https://github.com/nickelnine37/pykronecker
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.2
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @JulianKarlBauer, @nicoguaro
**Archive:** 10.5281/zenodo.7566803

## Status

[![status](https://joss.theoj.org/p

[2022-11-02 07:58] #4834 closed

[2022-11-02 07:59] Kevin-Mattheus-Moerman commented on #4783
@editorialbot add @BradyAJohnston as reviewer

[2022-11-02 07:59] Kevin-Mattheus-Moerman commented on #4783
@editorialbot add @natevm as reviewer

[2022-11-02 08:03] Kevin-Mattheus-Moerman commented on #4783
@editorialbot add @SelvamArul as reviewer

[2022-11-02 08:06] Kevin-Mattheus-Moerman commented on #4783
@aadi-mishra thanks for getting back to me and for being interested in reviewing this work for JOSS. We now have 4 reviewers assigned, which is sufficient, so it looks like we do not need your help on this occasion. If one of the reviewers can no longer help I might get back to you. Thanks again, Kevin

[2022-11-02 08:06] Kevin-Mattheus-Moerman commented on #4783
@editorialbot start review

[2022-11-02 08:06] editorialbot opened #4901 "[REVIEW]: BlenderProc2"
**Submitting author:** @themasterlink (<a href="http://orcid.org/0000-0002-1557-2234">Maximilian Denninger</a>)
**Repository:** https://github.com/DLR-RM/BlenderProc
**Branch with paper.md** (empty if default branch):
**Version:** v2.4.1
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @nicoguaro, @natevm, @SelvamArul
**Archive:** 10.5281/zenodo.7654630

## Status

[![status](https://joss.theoj.

[2022-11-02 08:06] #4783 closed

[2022-11-02 08:08] Kevin-Mattheus-Moerman commented on #3736
@clarka34, @quynhneo looks like changes/updates were made and some of your concerns/issues may be addressed. Can you have another look?

[2022-11-02 08:09] Kevin-Mattheus-Moerman commented on #4211
@editorialbot add me as reviewer

[2022-11-02 08:09] Kevin-Mattheus-Moerman commented on #4211
@editorialbot generate my checklist

[2022-11-02 08:28] Kevin-Mattheus-Moerman commented on #4333
@jonathanHuwP  I have just read your paper and checked the archive on ZENODO and all seems in order. I have a few very minor points which you can consider below:

- [ ] You may remove the zip/postal-codes from your affiliations. You can also remove county/province names and just use the city name, e.g. the following is sufficient: `Institute name, city/town name, country`. Also we tend to recommen

[2022-11-02 08:29] Kevin-Mattheus-Moerman commented on #4494
@hechth working on this now. Apologies for the delay.

[2022-11-02 08:35] SelvamArul commented on #4901
@editorialbot generate my checklist

[2022-11-02 08:39] Kevin-Mattheus-Moerman commented on #4494
@hechth I have read the paper and reviewed the ZENODO archive and all seems in order. I only have one minor comment:

- [ ] Your ZENODO archive lists a Creative Commons license. However the software carries an MIT license. We can proceed here with acceptance but please do manually edit the ZENODO archive so the license entry to matches your software's license.

[2022-11-02 08:39] Kevin-Mattheus-Moerman commented on #4494
@editorialbot accept

[2022-11-02 08:45] egonw commented on #4494
I just saw the tweet, but please notice that the PDF does not show up on the page behind the DOI. I guess this is temporary?

[2022-11-02 08:52] Kevin-Mattheus-Moerman commented on #4720
@vlad0x00 I have read your paper and reviewed the ZENODO archive. Most seems in order, I just have the following minor comments:

- [ ] Please manually edit the ZENODO archive so that the version tag matches that of the paper and software i.e. `joss-release2`, I believe it currently says version 2.
- [ ] Please also manually edit the ZENODO archive license. It currently lists a Creative Commons li

[2022-11-02 08:52] fraukewiese commented on #4472
@editorialbot set v1.0.0 as version

[2022-11-02 08:53] fraukewiese commented on #4472
@editorialbot set 10.5281/zenodo.7246116 as archive

[2022-11-02 08:57] fraukewiese commented on #4472
@mcgrathc : Thanks. Just one more thing:
Please check that the archive deposit has exactly the same metadata (title and author list), as the paper.

[2022-11-02 09:00] Kevin-Mattheus-Moerman commented on #4742
@LTLA I have read your paper and studied the ZENODO archive. All seems in order as I have only a minor comment.

- [ ] Perhaps consider if a comma is needed after after `...This is burdensome, error-prone...`

Comment: This is fantastic :smile: `The name “basilisk” is based on the mythological snake monster (Rowling, 1998). The original purpose of the basilisk package was to freeze Python package

[2022-11-02 09:00] vissarion commented on #4867
Hi @diegomcarvalho @mrshu @michaelberks @zeroset @ashwinvis @andrewryh @jarrah42 @acrlakshman would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-02 09:03] elfunesto commented on #4804
hi @fabian-s ,
Sorry for the delay. I had difficulty to find the github handles. I put the ones I found plus other potential reviewers
 K Soetaert =  [karlines](https://github.com/cran/limSolve/commits?author=karlines)
Pierre-Yves Hernvan (developer of R package ecoDiet) [pyhernvann](https://github.com/pyhernvann)
Matthew K Lau (developer of R package enaR)= [MKLau](https://github.com/SEELab/enaR/

[2022-11-02 09:17] acrlakshman commented on #4867
Sure.

[2022-11-02 09:22] vissarion commented on #4867
@editorialbot add @acrlakshman  as reviewer

[2022-11-02 09:23] vissarion commented on #4867
@editorialbot add @acrlakshman as reviewer

[2022-11-02 09:28] hechth commented on #4494
@Kevin-Mattheus-Moerman I changed the license on Zenodo - I never tried actually typing a license in there since the dropdown only lists the creative commons licenses - now I changed it to MIT :).

[2022-11-02 09:29] EtienneCmb commented on #3842
Dear @kthyng and @meg-simula. Sorry to insist again, but could we have an update on the review please? It's been 20 days since the last messages.

Best,

[2022-11-02 09:34] mrshu commented on #4867
I am also very happy to help if a secondary review would also be helpful :slightly_smiling_face:

[2022-11-02 09:36] vissarion commented on #4867
@mrshu thanks, I was targeting for 3 reviewers so I am adding you!

@editorialbot add @mrshu as reviewer

[2022-11-02 09:37] vissarion commented on #4867
@editorialbot add @mrshu as reviewer

[2022-11-02 09:39] vissarion commented on #4867
@editorialbot start review

[2022-11-02 09:39] editorialbot opened #4902 "[REVIEW]: Quilë: C++ genetic algorithms scientific library"
**Submitting author:** @ttarkowski (<a href="http://orcid.org/0000-0002-6071-9389">Tomasz Tarkowski</a>)
**Repository:** https://github.com/ttarkowski/quile
**Branch with paper.md** (empty if default branch):
**Version:** v1.0.0
**Editor:** @vissarion
**Reviewers:** @mbarzegary, @acrlakshman
**Archive:** 10.5281/zenodo.7603951

## Status

[![status](https://joss.theoj.org/papers/5b5b4dd88199c67723

[2022-11-02 09:39] #4867 closed

[2022-11-02 09:52] Kevin-Mattheus-Moerman commented on #4494
Congratulations @hechth on getting this work published in JOSS! :tada:

Thanks for editing this work @csoneson.

Also special thanks to @marshallmcdonnell and @chryswoods for reviewing!!!! :rocket:

[2022-11-02 09:52] #4494 closed

[2022-11-02 10:23] AldoGl commented on #4622
Dear professor @danielskatz,

Thank you for your message, and thank you, @drvinceknight, @aseyq and @Athene-ai for the your editorial/review work.

I made a tagged release of v0.1.2 of the software, you can find it here https://github.com/bancaditalia/black-it/tree/v0.1.2.

I archived the same release on Zenodo with the DOI 10.5281/zenodo.7273564, this is the corresponding link https://doi.org/10.

[2022-11-02 10:25] grburgess commented on #4838
@xuanxu I am a bit behind on ref reports, but will get to it this week. Apologies

[2022-11-02 10:33] madvn commented on #3842
Apologies for the delay. I'll look at it today.

On Wed, Nov 2, 2022 at 5:29 AM Etienne Combrisson ***@***.***>
wrote:

[2022-11-02 10:40] Kevin-Mattheus-Moerman commented on #4888
@x94carbone we have reviewed your work and your comments and feel it may be in scope for JOSS. I have just removed the query-scope label. However I may need to add the `waitlisted` label now since the editors in this domain are currently handling many other submissions. We will assign an editor once one becomes available.

[2022-11-02 10:43] Kevin-Mattheus-Moerman commented on #4887
@editorialbot invite @csoneson as editor

[2022-11-02 10:44] Kevin-Mattheus-Moerman commented on #4889
@milnus can you check the above invalid DOI :point_up: ? You can call `@editorialbot check references` to check these again, and you can call `@editorialbot generate pdf` to update the paper.

[2022-11-02 10:47] x94carbone commented on #4888
@Kevin-Mattheus-Moerman ahh fantastic, thank you, very happy to hear we're still under consideration! No worries about the waitlist, if nothing else I understand being busy 😁

[2022-11-02 10:50] Kevin-Mattheus-Moerman commented on #4856
@editorialbot assign @britta-wstnr as editor

[2022-11-02 10:50] Kevin-Mattheus-Moerman commented on #4856
@editorialbot set v4.0.3 as version

[2022-11-02 10:53] editorialbot opened #4903 "[PRE REVIEW]: mp-PyRho: Regridding periodic charge densities for machine-learning applications"
**Submitting author:** @jmmshn (<a href="http://orcid.org/0000-0002-2743-7531">Jimmy-Xuan Shen</a>)
**Repository:** https://github.com/materialsproject/pyrho
**Branch with paper.md** (empty if default branch): https://github.com/materialsproject/pyrho/tree/main/paper
**Version:** v0.3.0
**Editor:** Pending
**Reviewers:** Pending
**Managing EiC:** Kevin M. Moerman

## Status

[![status](https://jos

[2022-11-02 10:54] Kevin-Mattheus-Moerman commented on #4903
@editorialbot set main as branch

[2022-11-02 10:55] Kevin-Mattheus-Moerman commented on #4903
@editorialbot check repository

[2022-11-02 11:50] sebastian-zieba commented on #4838
Hi @astrobel ,

I just pushed the last changes related to the paper. I have therefore now addressed all your comments and incorporated your suggested changes to the code, documentation and paper.

Here are my changes to the paper:

I updated this part and clearly state now that the plots I am showing in the paper only use three Hubble-visits of the planet GJ 1214 b. I reference the paper Kreidberg

[2022-11-02 12:16] ttarkowski commented on #4902
@vissarion @mbarzegary @acrlakshman @mrshu - thank you very much for your help. Please let me know if there is anything I could do to help you during the review process.
Unfortunately, the DOI number suggested by @editorialbot for "Intelligent Machinery" is not correct and I couldn't find the proper one, therefore I plan to leave that reference without the DOI number.

[2022-11-02 12:20] xuanxu commented on #4838
@editorialbot generate pdf

[2022-11-02 12:44] danielskatz commented on #4622
@editorialbot set v0.1.2 as version

[2022-11-02 12:44] danielskatz commented on #4622
@editorialbot set 10.5281/zenodo.7273564 as archive

[2022-11-02 12:44] danielskatz commented on #4622
@editorialbot recommend-accept

[2022-11-02 12:51] danielskatz commented on #4622
👋 @xuanxu - can you check on the error above for me?  I wonder if this is an issue with having multiple minipages within a figure, each with a label?  Otherwise, I don't see a problem in how the labels are created and used, but maybe I'm missing something?

[2022-11-02 12:53] Kevin-Mattheus-Moerman commented on #4891
@rivasiker thanks for this submission. I will be looking for a handling editor. Unfortunately all editors in this domain are currently busy handling many other submissions. Hence I have waitlisted this submission at the moment. We will assign an editor once one becomes available. Thanks for your patience.

[2022-11-02 12:54] Kevin-Mattheus-Moerman commented on #4892
@a9p thanks for this submission. I will be looking for a handling editor. Unfortunately all editors in this domain are currently busy handling other submissions. Hence I have waitlisted this submission at the moment. We will assign an editor once one becomes available. Thanks for your patience.

[2022-11-02 12:58] Kevin-Mattheus-Moerman commented on #4893
@danasolav :wave:

[2022-11-02 12:59] jgostick commented on #4757
@editorialbot set 2.2.4 as version

[2022-11-02 12:59] danasolav commented on #4893
@Kevin-Mattheus-Moerman I can handle this one.

[2022-11-02 13:00] jgostick commented on #4757
@editorialbot set 10.5281/zenodo.7262173 as archive

[2022-11-02 13:00] jgostick commented on #4757
@editorialbot generate pdf

[2022-11-02 13:01] Kevin-Mattheus-Moerman commented on #4893
@editorialbot assign @danasolav as editor

[2022-11-02 13:12] gdede-hua commented on #4403
We have addressed the majority of the issues and we are waiting for a clarification regarding issue #4.

[2022-11-02 13:17] danielskatz commented on #4628
@editorialbot recommend-accept

[2022-11-02 13:24] danielskatz commented on #4628
@perdelt - I think this looks ok, but since there were a large number of changes, you can also verify that the proof looks ok to you, before we proceed to publishing?

[2022-11-02 13:26] danielskatz commented on #4768
@mgm8 - this has passed the initial scope review, and we'll proceed to find an editor and start the process

[2022-11-02 13:27] danielskatz commented on #4768
👋 @jbytecode - would you be able and willing to edit this submission?

[2022-11-02 13:27] danielskatz commented on #4768
@editorialbot invite @jbytecode as editor

[2022-11-02 13:33] jranalli commented on #4757
Authorship and affiliations all match with expectations. The title on the proof is correct. ORCIDs are all correct as well.

[2022-11-02 13:37] gianthk commented on #4895
it would be nice but I will have zero time for the next 4 weeks until
December 3rd. sorry for that

On Tue, 1 Nov 2022 at 14:17, Daniel S. Katz ***@***.***>
wrote:

[2022-11-02 13:51] Kevin-Mattheus-Moerman commented on #4841
@kingyin3613 I am currently looking for reviewers for this submission. If at this point you'd like to suggest reviewers please do. If you do please mention their GitHub handles here but do not include the @ symbol, so they are not tagged. Thanks.

[2022-11-02 13:53] adriancorrendo commented on #4655
Good morning, Dr. Sorensen!

How are you?

Thank you for reaching out. My apologies for the delay.
Actually, I am planning to submit the response today by COB. It just took me longer than expected to work on the changes to paper, updating the code and documentation (latest commit to the [JOSS-branch here](https://github.com/adriancorrendo/metrica/tree/JOSS)), and putting things in common with the

[2022-11-02 13:59] tclune commented on #4895
@danielskatz I've been lurking in the hopes that you would get critical mass without me.  No specific deadlines, but I'm really just buried in work do to overcommitting myself.   Realistically, if this lags deep into December, I should be able to do my bit, as Thanksgiving should give some respite.  (Hey, that's what holidays are for, right?)

[2022-11-02 14:01] kungfugo commented on #4826
@jarvist , @meandmytram  thank you for your effort!
Please note that my package is related to  _classical computing_ for _quantum systems_, not _quantum computing_ (as in executed on a quantum computer). In principal, Julia knowledge and some physical background should be sufficient to understand and review the package.
Of course, I am always available to answer any questions.

[2022-11-02 14:07] danielskatz commented on #4895
@tclue - thanks.  Do you have suggestions for others in the HPC community would might be interested and able to review?

[2022-11-02 14:18] fabian-s commented on #4804
Hi @karlines @MKLau @pyhernvann
Would you be willing to review this submission for JOSS?
We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-02 14:46] TomKellyGenetics commented on #4727
@prashjha If a 3rd is preferable I'll be available in a few weeks. I'll be taking a planned holiday next week so sorry for slow responses.

[2022-11-02 15:01] osorensen commented on #4655
@adriancorrendo, please respond in the issue in the source repository https://github.com/adriancorrendo/metrica/issues/28

The additional comment by @simonpcouch can be answered in this thread.

[2022-11-02 15:05] fraukewiese commented on #4795
@editorialbot add @imcatta as reviewer

[2022-11-02 15:07] fraukewiese commented on #4795
Thank you @martibosch . We will wait for other replies and in case we do not find any other reviewer, I will take your very friendly offer to see if you can squeeze it into your tight schedule :)

[2022-11-02 15:10] fraukewiese commented on #4796
Thanks for the reply @zoltanmaric . You are actually listed here: https://bit.ly/joss-reviewers . So I guess you would like to be deleted from that list?

[2022-11-02 15:13] ziyiyin97 commented on #4895
Sorry but my recent schedule is full. Hope you find some other experienced reviewers.

[2022-11-02 15:36] adonath commented on #4639
@editorialbot add @rjavila as reviewer

[2022-11-02 15:40] editorialbot opened #4904 "[REVIEW]: PyAutoCTI: Open-Source Charge Transfer Inefficiency Calibration"
**Submitting author:** @Jammy2211 (<a href="http://orcid.org/0000-0002-8987-7401">James Nightingale</a>)
**Repository:** https://github.com/Jammy2211/PyAutoCTI
**Branch with paper.md** (empty if default branch):
**Version:** 2024.5.16.0
**Editor:** @adonath
**Reviewers:** @jryon, @mwcraig
**Archive:** 10.5281/zenodo.11367432

## Status

[![status](https://joss.theoj.org/papers/1ecb39b2e036537db2db

[2022-11-02 15:40] #4639 closed

[2022-11-02 15:41] adonath commented on #4639
Thanks @jryon and @rjavila for garnering to review this submission. We will start the review in #4904.

[2022-11-02 15:41] tclune commented on #4895
Perhaps @williamjamieson or @mathomp4 ?

[2022-11-02 15:45] danielskatz commented on #4895
👋 @WilliamJamieson or @mathomp4 - Would either of you be willing to review this JOSS submission?

We carry out our open checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-11-02 15:48] WilliamJamieson commented on #4895
Possibly, though I won't have time this week or next week (I could find time the week of 14 Nov).

[2022-11-02 15:56] jbytecode commented on #4768
@editorialbot assign me as editor

@danielskatz of course.

[2022-11-02 16:00] jbytecode commented on #4768
@editorialbot generate pdf

[2022-11-02 16:13] jbytecode commented on #4768
Dear @mgm8,

I am the handling editor of your submission. Please consider the items below:

- Are you aware that there are some entries in the bibtex file that are not cited/referenced in the manuscript? Please use them if you forgot to cite.
- Do you have any suggestions for the potential reviewers? You can take a look at the [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1

[2022-11-02 16:32] perdelt commented on #4628
@danielskatz thanks for suggesting a proofread. I have found and corrected a missing space. Everything looks fine now and we are ready to go.

[2022-11-02 16:32] madvn commented on #3842
Thank you for the responses and changes with regards to my comments, @EtienneCmb. All items I have noted have been resolved [here](https://github.com/openjournals/joss-reviews/issues/3842#issuecomment-1181985736).

I have been able to run some of the examples on my Ubuntu machine with python 3.6. The examples and documentation look great!

Looks like some tests are failing on the master branch. Th

[2022-11-02 16:37] zhampel commented on #4532
@editorialbot generate my checklist

[2022-11-02 16:40] jgostick commented on #4757
@jranalli is there any reason why Jacob Moore is on the paper but not on the repo or listed in the zenodo archive?  Also, we like to have orcids on the zenodo archive as well...can you see about linking these?

[2022-11-02 16:43] danielskatz commented on #4628
@editorialbot recommend-accept

[2022-11-02 16:46] danielskatz commented on #4628
@editorialbot accept

[2022-11-02 16:54] danielskatz commented on #4628
Congratulations to @perdelt (Patrick Erdelt) and co-author!!

And thanks to @simon-lewis and @erik-whiting for reviewing, and to @gkthiruvathukal for editing!
We couldn't do this without you

[2022-11-02 16:54] #4628 closed

[2022-11-02 16:56] danielskatz commented on #4895
@WilliamJamieson - thanks, let's do that.  I'll try to remember your timing, and please remind me if I prompt you before then

[2022-11-02 16:56] danielskatz commented on #4895
@editorialbot add @WilliamJamieson as reviewer

[2022-11-02 16:56] danielskatz commented on #4895
@editorialbot start review

[2022-11-02 16:56] editorialbot opened #4905 "[REVIEW]: FieldCompare: A Python package for regression testing simulation results"
**Submitting author:** @dglaeser (<a href="http://orcid.org/0000-0001-9646-881X">Dennis Gläser</a>)
**Repository:** https://gitlab.com/dglaeser/fieldcompare
**Branch with paper.md** (empty if default branch): feature/paper
**Version:** 0.1.3
**Editor:** @danielskatz
**Reviewers:** @idoby, @WilliamJamieson
**Archive:** 10.5281/zenodo.7588449

## Status

[![status](https://joss.theoj.org/papers/aed2

[2022-11-02 16:57] #4895 closed

[2022-11-02 16:59] danielskatz commented on #4905
@idoby and @WilliamJamieson - Thanks for agreeing to review this submission.
This is the review thread for the paper. All of our communications will happen here from now on.

As you can see above, you each should use the command `@editorialbot generate my checklist` to create your review checklist. @editorialbot commands need to be the first thing in a new comment.

As you go over the submission,

[2022-11-02 17:18] archermarx commented on #4672
@editorialbot generate pdf

[2022-11-02 17:21] jranalli commented on #4757
He has been a contributor to the overall project for years but hasn't made code contributions and so doesn't show on Github. We looked at manually adding an author to the Zenodo archive, but it didn't look like there was an easy way to do so. We can take a look at whether there's a different method to do so, unless you have some suggestion that we didn't think of?

[2022-11-02 17:21] EtienneCmb commented on #3842
Hi @madvn,

Thank you for your response,

Yes, we made some changes to connectivity metrics. I solved the testing issue related to this.

Thank you,

[2022-11-02 17:25] danielskatz commented on #4757
It's very easy to add an author to Zenodo. See the section labeled "How can I edit the metadata of a published record?" in https://help.zenodo.org for how to do this.

[2022-11-02 17:27] archermarx commented on #4672
@editorialbot  generate pdf

[2022-11-02 17:27] fwitte commented on #4757
@jranalli: Usually, you can go to zenodo, click on edit publication (only the person who uploaded that publication) and then enter the names of the researches. Looks like so:

![grafik](https://user-images.githubusercontent.com/20252362/199559559-5760f1d8-3ab9-480c-be32-171688be192a.png)

[2022-11-02 17:30] jranalli commented on #4757
@chmarti1 created the archive, so I'll ask him to take a look.

[2022-11-02 17:44] aj2duncan commented on #4807
Hi @balima78,

Thanks very much for those changes. I think you just need to make a couple of additions to your documentation/github and everything is complete. At the moment the paper has both a Statement of Need and details on Bug Reports and How to Contribute, I would suggest you add these to Github and/or [your documentation](https://txopen.github.io/histoc/) as you see fit - just in case someo

[2022-11-02 17:51] prashjha commented on #4727
Hi @TomKellyGenetics, thank you. We are good for now. I will bug you again if I have another submission similar to this in the future. :)

[2022-11-02 18:13] adriancorrendo commented on #4655
Dear @simonpcouch and @wiljnich
First of all, thank you very much for your compelling revision of the package!
It certainly served to improve important aspects of this project.

I will proceed to answer the most of the revisions on the corresponding [issue#28](https://github.com/adriancorrendo/metrica/issues/28) opened by @simonpcouch on the source repository.

Please, you may read below the answe

[2022-11-02 18:27] lucask07 commented on #4896
@editorialbot generate my checklist

[2022-11-02 18:40] StanczakDominik commented on #4672
I can probably get back to this in mid November, but not likely earlier. Apologies :(

[2022-11-02 18:47] mcgrathc commented on #4472
@fraukewiese Thank you, the archive and paper now reflect the exact same metadata.

[2022-11-02 18:56] kyleniemeyer commented on #3428
@cwentland0 looks good! My only last comment is that *technically* those changes should probably warrant a small version change, like to 0.1.1

[2022-11-02 19:05] madvn commented on #3842
Perfect, checks all boxes. LGTM @meg-simula

[2022-11-02 19:10] meg-simula commented on #3842
Great! I'll revisit by the end of the week.

--
Marie

On Wed, 2 Nov 2022, 12:06 Madhavun, ***@***.***> wrote:

[2022-11-02 20:48] astrobel commented on #4838
Hi @sebastian-zieba, thanks so much for all your work!! I've gone through the changes and I'm now satisfied that you've addressed my concerns, and I'm happy to confirm (cc @xuanxu!) that I've completed the checklist and I believe the work is publication standard.

[2022-11-02 20:52] a9p commented on #4892
Sounds good, thank you for the update!

[2022-11-02 21:07] klb2 commented on #4718
Thank you very much @gkthiruvathukal for finalizing the paper.

Thank you @jbytecode @ulf1 @max-little for handling and reviewing the paper/software.

It was a really interesting and fun way to organize the review process.

[2022-11-02 21:22] milnus commented on #4889
@editorialbot check references

[2022-11-02 21:22] milnus commented on #4889
@editorialbot generate pdf

[2022-11-02 21:24] kyfrankie commented on #4885
Hello, thank you for handling my submission. I have a few suggestions for potential reviewers: xoolive, torressa, and rafalkucharskipk. Please feel free to let me know if you have any questions. Thanks!

[2022-11-02 23:25] adriancorrendo commented on #4655
Dear Dr. @osorensen ,

I have just submitted the point-by-point response to revisions at the corresponding issue [https://github.com/adriancorrendo/metrica/issues/28](https://github.com/adriancorrendo/metrica/issues/28).

Please, let me know if any further step is required from my side.

Thank you for your time and patience!

Best regards,

ADRIAN

[2022-11-03 00:21] luyuhao0326 commented on #4664
@hugoledoux DOI of the archived software is now active via ETH Research Collection service:  [10.3929/ethz-b-000578490](https://doi.org/10.3929/ethz-b-000578490)

[2022-11-03 02:37] diehlpk commented on #4129
@cgrudz I do not know Julia well enough, but could you just exclude the one file from the analysis?

[2022-11-03 02:40] diehlpk commented on #4129
@cgrudz I think the information is good, but I would make it more prominent. Maybe with a own header? I think many people, who want to use the package and not add features might prefer the stable version. I think making it easier to find how to do that would benefit your users.

[2022-11-03 02:41] diehlpk commented on #4129
I think it is ok what you have in the documentation. However, a code example would be nice. So your users can adapt these examples do their needs.

[2022-11-03 02:42] diehlpk commented on #4073
@danielenricocahall and @maxpumperla any comments?

[2022-11-03 02:44] diehlpk commented on #4073
@sepandhaghighi I think you can proceed with the review.

[2022-11-03 02:45] diehlpk commented on #4637
@lluisjofre can you please have a look?

[2022-11-03 03:20] jgostick commented on #4757
@editorialbot check references

[2022-11-03 03:43] mgm8 commented on #4768
@jbytecode I fixed the reference issue, now all entries of the bibtex file are cited/referenced along the manuscript.

About a potential reviewer, I have a suggestion: Yuri-M-Dias

[2022-11-03 04:08] vlad0x00 commented on #4720
Hi @Kevin-Mattheus-Moerman ,

I've removed the zip codes and updated the sentence you mentioned, as can be seen in this commit: https://github.com/bcgsc/btllib/commit/a17c760feb9524c908155ae3740f186f85fccab9

Since the paper has been updated, and the previous Zenodo archive contains the outdated paper, I've instead released a new archive with just the master branch v1.4.9 release:
Release: https:/

[2022-11-03 04:09] vlad0x00 commented on #4720
@editorialbot generate pdf

[2022-11-03 04:10] vlad0x00 commented on #4720
@editorialbot set v1.4.9 as version

[2022-11-03 04:59] pjb7687 commented on #4633
Hi all,

1. I made a tagged release 'v1.0.0-JOSS', based on commit 9416a4b998 (which is the last commit relevant to the JOSS manuscript). Here you can find the tag: https://github.com/gnudatalanguage/gdl/tree/v1.0.0-JOSS
2. The archive is published at Zenodo.
  - Link: https://zenodo.org/record/7275468#.Y2NJfnbP07c
3. I believe I have entered the metadata correctly but it would be nice if @slayoo

[2022-11-03 06:14] dataplayer12 commented on #4532
@editorialbot generate my checklist

[2022-11-03 06:50] Kevin-Mattheus-Moerman commented on #4720
@editorialbot set v1.4.9 as version

[2022-11-03 06:52] Kevin-Mattheus-Moerman commented on #4720
@editorialbot set 10.5281/zenodo.7275416 as archive

[2022-11-03 07:12] Kevin-Mattheus-Moerman commented on #4720
@editorialbot set v1.4.9 as version

[2022-11-03 07:13] osorensen commented on #4655
Thanks @adriancorrendo, no further steps needed at this point

[2022-11-03 07:26] thohamm commented on #4719
@editorialbot generate pdf

[2022-11-03 07:30] thohamm commented on #4719
@ppxasjsm We checked the manuscript and fixed some marginal wording issues. We are now fine with the current state.

[2022-11-03 07:38] leotrs commented on #4899
Hello @szhorvat just noting here that I tried to run your software on the [Wolfram Cloud](https://www.wolframcloud.com/) and it won't run. The installer prints a nice error message in this case, which is great! So thanks for that. The reason seems to be that a necessary dependency called `LibraryLink` is not supported on Wolfram Cloud.

Is `LibraryLink` 100% needed? If your software was able to ru

[2022-11-03 07:58] szhorvat commented on #4899
The bulk of the library is written in C and C++, which allows it to have good performance, and which is necessary for interfacing with several dependencies. Wolfram Cloud disables not just LibraryLink, but _all_ means of running arbitrary C code (I assume for security reasons), so unfortunately there is no way to make the package compatible with the Wolfram Cloud. I am hoping that Wolfram will cha

[2022-11-03 08:28] slayoo commented on #4633
Thank you, @pjb7687!
I've checked the metadata against the `paper.md` (https://github.com/gnudatalanguage/gdl/blob/master/paper/paper.md) and clicked on all ORCID links - all seems to match.

@gkthiruvathukal, please do proceed, thanks!

[2022-11-03 09:30] Kevin-Mattheus-Moerman commented on #4720
@vlad0x00 the reviewed the changes to the paper and all is good. However the archive and version tag still need your attention.

The normal process is for the JOSS publication to be associated with a particular version of your software. Then this version should also appear on github as a tagged version. Next this is also the version listed on ZENODO. Currently your most recent version tag which se

[2022-11-03 09:33] Kevin-Mattheus-Moerman commented on #4720
@vlad0x00 the reviewed the changes to the paper and all is good. However the archive and version tag still need your attention.

The normal process is for the JOSS publication to be associated with a particular version of your software. Then this version should also appear on github as a tagged version. Next this is also the version listed on ZENODO. Currently your most recent version tag which se

[2022-11-03 09:44] danielenricocahall commented on #4073
I agree.

[2022-11-03 10:37] xuanxu commented on #4622
The origin of the error is that pandoc (the tool we use to produce pdf and metadata JATS files) can't handle subfigures like the fig1 and 2 in the paper.md. There's two options to solve this: One solution would be to combine both panels into a single image. Another solution is to include the jats code into the paper.md file so pandoc can use it.
I've [opened a pull request](https://github.com/banc

[2022-11-03 11:04] AldoGl commented on #4622
Thank you very much @xuanxu! I have merged your pull request.

[2022-11-03 11:05] lpantano commented on #4832
Hi @salzberg, do you have a recommendation for a reviewer? Thanks

[2022-11-03 11:08] lpantano commented on #4363
Thank you @cagret, @samhorsfield96. @swatimanekar could you update us with the current status of you review please.

[2022-11-03 11:18] lpantano commented on #4832
@editorialbot generate pdf

[2022-11-03 11:19] balima78 commented on #4807
thank you @aj2duncan, I added the 'Bug report' to the package's [README](https://github.com/txopen/histoc) and website, as suggested.

[2022-11-03 11:22] lpantano commented on #4832
@salzberg, could you add `Statement of need` section to the paper please (probably part is already in the introduction section) ? Thanks!

[2022-11-03 11:31] danielskatz commented on #4622
@editorialbot recommend-accept

[2022-11-03 11:35] Shibabrat commented on #4890
@editorialbot generate my checklist

[2022-11-03 11:37] Shibabrat commented on #4576
@pibion a bit confused that I couldn't generate the review checklist even though the editorial bot says added to the reviewers' list.

[2022-11-03 11:55] danielskatz commented on #4576
@Shibabrat the error is misleading here - the problem is actually that you are doing this in the pre-review issue, not the review issue - try the command again in https://github.com/openjournals/joss-reviews/issues/4890 please

[2022-11-03 11:56] danielskatz commented on #4576
Sorry, my mistake - I see you have tried there too - there might be an issue on our side

[2022-11-03 11:57] danielskatz commented on #4890
@editorialbot remove @Shibabrat as reviewer

[2022-11-03 11:57] danielskatz commented on #4890
@editorialbot add @Shibabrat as reviewer

[2022-11-03 11:57] danielskatz commented on #4890
@Shibabrat - can you try one more time here?

[2022-11-03 12:04] Shibabrat commented on #4890
@editorialbot generate my checklist

[2022-11-03 12:05] Shibabrat commented on #4576
No problem, thank you for sorting it out.

[2022-11-03 12:21] pdebuyl commented on #4649
@editorialbot add @tkoskela as reviewer

[2022-11-03 12:21] pdebuyl commented on #4649
@editorialbot start review

[2022-11-03 12:21] editorialbot opened #4906 "[REVIEW]: Vlasiator.jl: A Julia package for processing Vlasiator data"
**Submitting author:** @henry2004y (<a href="http://orcid.org/0000-0003-4571-4501">Hongyang Zhou</a>)
**Repository:** https://github.com/henry2004y/Vlasiator.jl
**Branch with paper.md** (empty if default branch): joss-paper
**Version:** v0.10.1
**Editor:** @pdebuyl
**Reviewers:** @ranocha, @tkoskela
**Archive:** 10.5281/zenodo.7769707

## Status

[![status](https://joss.theoj.org/papers/5ebdc267e4

[2022-11-03 12:21] #4649 closed

[2022-11-03 12:22] pdebuyl commented on #4575
Thank you @arjunsavel for completing the review!

[2022-11-03 12:37] pdebuyl commented on #4575
Thank you @jimmielin for completing the review!

[2022-11-03 12:38] pdebuyl commented on #4575
@editorialbot generate pdf

[2022-11-03 12:41] pdebuyl commented on #4906
@ranocha @tkoskela Thank you for accepting to review the article. Please read the instructions above (and issue the `@editorialbot generate my checklist` command by creating a comment that contains only the instruction).

[2022-11-03 12:44] jgostick commented on #4757
Hi @jranalli, the references in the pdf need some work. In addition to the issues pointed out above, there are many references missing their doi.  3 of the last 4 in the list have dois at the bottom of the page: https://doi.org/10.1023/A:1022362231796.  Not sure about the NASA one, but can you take a look?

[2022-11-03 12:47] csoneson commented on #4677
Thank you @hkaspersen!
@mberacochea, @hseabolt, @rcannood - could you have a look at the revised submission when you have a chance, and let us know what you think - please update your checklists accordingly and provide any additional comments as before.
Thanks everyone!

[2022-11-03 12:48] csoneson commented on #4677
@editorialbot generate pdf

[2022-11-03 12:52] jgostick commented on #4757
Also, for the nist paper, what about: https://doi.org/10.1021/acs.iecr.2c01427 instead of just linking to the nist website

[2022-11-03 13:41] britta-wstnr commented on #4836
As briefly discussed with @Kevin-Mattheus-Moerman, I unfortunately am not available right now for this editing of this submission. Sorry!

[2022-11-03 13:45] danielskatz commented on #4622
👋 @AldoGl - I have some suggested small changes in https://github.com/bancaditalia/black-it/pull/22 - please merge this, or let me know what you disagree with, then we can proceed to acceptance

[2022-11-03 13:50] britta-wstnr commented on #4856
Hello @Rocsg! 👋
Thank you for your submission to JOSS!
I see you've already suggested potential reviewers in thread - thanks for that. I will look through your suggestions and send out invitations soon.

[2022-11-03 13:57] AldoGl commented on #4622
Thank you @danielskatz for your work, I just merged the PR.

[2022-11-03 14:00] danielskatz commented on #4622
@editorialbot recommend-accept

[2022-11-03 14:07] alekseyzimin commented on #4832
@lpantano Added statement of need.

[2022-11-03 14:11] alekseyzimin commented on #4832
@lplantano we suggest the following reviewers @gtonkinhill @cmorris2945 @pjb7687 @MaximLippeveld @VeroniqueLegrand @anilbey @ciropom

[2022-11-03 14:12] danielskatz commented on #4622
@editorialbot accept

[2022-11-03 14:22] danielskatz commented on #4622
Congratulations to @AldoGl (Aldo Glielmo) and co-authors!!

And thanks to @Athene-ai and @aseyq for reviewing, and to @drvinceknight for editing!
We couldn't do this without you

[2022-11-03 14:22] #4622 closed

[2022-11-03 14:45] simonpcouch commented on #4655
I've checked off the remaining unchecked boxes for my review, and recommend acceptance of the paper! Thanks for the invitation to review—I really enjoyed spending time with this package.

[2022-11-03 15:34] jbytecode commented on #4768
👋👋👋 Dear @Yuri-M-Dias, @simonrp84    👋👋👋

Would you be willing to assist in reviewing this submission for **JOSS** (**Journal of Open Source Software**)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "**PyNGHam: A Python library of the NGHam protocol**". You can find more information at the top of this Github issue (https://github.co

[2022-11-03 15:38] jbytecode commented on #4736
@HaoZeke - we need your help, if you are not able to complete your review, please let me know. If possible, please set a deadline for us and complete your review. Thank you in advance.

[2022-11-03 15:39] danielskatz commented on #4735
👋 @paulromano - Is there any update on this?

[2022-11-03 15:44] paulromano commented on #4735
Hi @danielskatz There is indeed. I've had a few PRs to the watts repo addressing the reviewer feedback. Most of these have already been merged and I'm just waiting on one more (watts-dev/watts#71). I've also made some local updates to the text of the paper based on these updates and will push that once the review of the aforementioned PR is complete. I'll add another comment here once I believe al