[2019-10-28 22:01] paudetseis commented on #1818
Thanks to @seisman and @andreww for their comments. Most of them have been addressed in new commits and comments in the corresponding issues. Issues #19 and #21 have been left open if there are other useful and specific suggestions for the documentation.

[2019-10-29 01:30] gmweaver commented on #1761
@jsgalan thanks for the review and suggestions!

I have made the following changes based on your feedback:

- Added citations for the SCAD and MCP penalties to the paper
- Added more detail to the installation instructions regarding GNUFortran for Mac
- Added a second example that demonstrates how to use a big.matrix in the package by loading data from a text file. Let me know if this is enough of

[2019-10-29 01:51] bocklund commented on #1824
With the latest changes, I'm recommending this submission for acceptance. Nice work, @srmnitc! @melissawm

[2019-10-29 02:48] kbarnhart commented on #1776
@whedon generate pdf

[2019-10-29 02:48] whedon commented on #1776
[code]

[2019-10-29 03:19] arokem commented on #1637
@imr-framework : have you had a chance to address this issue?

[2019-10-29 03:54] kbarnhart commented on #1776
@meg-simula
- [x] I spell checked the document, fixed the typo you noticed, and found one other.
- [x] Incremented the version number.
- [x] Made a Zenodo archive with the same title and author order as the JOSS manuscript (rather than the auto-created Zenodo archive that comes from linking Zenodo with Github).

The new version is: v1.0.1
The new Zenodo archive is: https://doi.org/10.5281/zenodo.3

[2019-10-29 05:58] benmarwick commented on #1764
Thanks, sorry for the delay, on reflection I see I've been reviewing using the rOpenSci package review guidelines, which are not necessary here because the author is not submitting for onboarding with rOpenSci (unlike the last pkg I reviewed for JOSS). So, I'm ok with it, nothing further from me. 👍

[2019-10-29 08:39] srmnitc commented on #1824
@bocklund thanks for the review and suggestions!

[2019-10-29 09:07] oliviaguest commented on #1666
@whedon set v0.8.2 as version

[2019-10-29 09:07] whedon commented on #1666
OK. v0.8.2 is the version.

[2019-10-29 09:08] oliviaguest commented on #1666
@whedon generate pdf

[2019-10-29 09:08] whedon commented on #1666
[code]

[2019-10-29 09:09] whedon commented on #1666
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01666/joss.01666/10.21105.joss.01666.pdf)

[2019-10-29 09:10] whedon opened #1840 "[PRE REVIEW]: emcee v3: A Python ensemble sampling toolkit for affine-invariant MCMC"
**Submitting author:** @dfm (<a href="http://orcid.org/0000-0002-9328-5652">Daniel Foreman-Mackey</a>)
**Repository:** <a href="https://github.com/dfm/emcee" target ="_blank">https://github.com/dfm/emcee</a>
**Version:** v3.0.1
**Editor:** @xuanxu
**Reviewers:** @benjaminrose, @mattpitkin

**Author instructions**

Thanks for submitting your paper to JOSS @dfm. The JOSS editor @xuanxu, will work wi

[2019-10-29 09:10] whedon commented on #1840
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @xuanxu it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a

[2019-10-29 09:10] whedon commented on #1840
[code]

[2019-10-29 09:11] whedon commented on #1840
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01840/joss.01840/10.21105.joss.01840.pdf)

[2019-10-29 09:12] danielskatz commented on #1840
👋 @xuanxu - you were suggested as the editor for this submission, and I accidentally left you assigned when I started the process, rather than asking you first. Are you willing to do this?

[2019-10-29 09:16] danielskatz commented on #1312
👋 @MKLau - is there any news here?  After 4 months, if not, I suggest we mark this as withdrawn and let you resubmit later when you are ready - I will do this in a few days if I don't hear back from you.

[2019-10-29 09:17] xuanxu commented on #1840
@danielskatz no problem, I take it 👍

[2019-10-29 09:18] danielskatz commented on #1752
I'm going to mark this as paused for now - @gkthiruvathukal, you can remove this mark when there is progress.

[2019-10-29 09:18] oliviaguest commented on #1666
hey @kahaaga — can you please create an archive (on Zenodo, figshare, etc.) and post the archive DOI here so we can get this published? :smile:

[2019-10-29 09:20] danielskatz commented on #1371
👋 @jordigh - any update on the status of your review?
@poulson - if @jordigh doesn't reply soon, would you be comfortable proceeding with the other 2 reviews that are complete?

[2019-10-29 09:21] danielskatz commented on #1555
👋 @rouson - checking with you on your review again...

[2019-10-29 09:23] danielskatz commented on #1570
👋 @apuignav - sorry for the delay - I think you hit a shift change of Associated-Editor-in-Chiefs.

[2019-10-29 09:26] OttaviaE commented on #1764
Thanks @benmarwick!

So, @alexhanna what should I do now?

[2019-10-29 09:28] oliviaguest commented on #1739
@whedon add @rickecon as reviewer

[2019-10-29 09:28] whedon commented on #1739
OK, @rickecon is now a reviewer

[2019-10-29 09:32] danielskatz commented on #1570
Can you merge some minor changes in the paper: https://github.com/zfit/phasespace/pull/32 ?

[2019-10-29 09:37] danielskatz commented on #1807
@drvinceknight - is there any news on these reviews? It seems like they haven't started yet?

[2019-10-29 09:37] maelle commented on #1312
The package is under review at rOpenSci https://github.com/ropensci/software-review/issues/327 cc handling editor @annakrystalli

[2019-10-29 09:42] apuignav commented on #1570
Done! Thanks for the fixes!

[2019-10-29 09:45] danielskatz commented on #1312
Ok, thanks - it makes sense to keep it here then - please update this thread when it is accepted

[2019-10-29 09:47] danielskatz commented on #1570
@whedon accept

[2019-10-29 09:47] whedon commented on #1570
[code]

[2019-10-29 09:47] whedon commented on #1570
[code]

[2019-10-29 09:47] whedon commented on #1570
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1059

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1059, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-29 09:49] danielskatz commented on #1570
👋 @arfon - note that we have a problem with the title in the xml, due to the greek character, I assume. Your thoughts?

[2019-10-29 10:12] Atif-Anwer commented on #1822
@Kevin-Mattheus-Moerman Apologies for a slightly delayed review. I've reviewed the repository, the paper and gone though the checklist. Overall the paper and repository are well maintained and well written. I've added an [issue ](https://github.com/vitorsr/SIHR/issues/11#issue-513811018) in the repo with minor suggestions and QoL changes.

I successfully reproduced the claimed results in Matlab (2

[2019-10-29 10:18] drvinceknight commented on #1807
No news but both @geraintpalmer and @martibosch had indicated it might take them a while. @geraintpalmer @martibosch, very appreciative of your time: just pinging in case this slipped of your horizon.

[2019-10-29 10:26] martibosch commented on #1807
Hello! sorry for my delay. I threw an eye on the library yesterday, but I have to get some other things done before friday. I will be getting to it momepy in more detail weekend, I hope this does not delay the reviewing process too much.

[2019-10-29 10:35] meg-simula commented on #1776
@kbarnhart Awesome! Looking good to go now.

[2019-10-29 10:35] meg-simula commented on #1776
@whedon set 10.21105/joss.01776 as archive

[2019-10-29 10:36] meg-simula commented on #1776
@whedon set v1.0.1 as version

[2019-10-29 10:36] whedon commented on #1776
OK. v1.0.1 is the version.

[2019-10-29 10:37] meg-simula commented on #1776
@openjournals/joss-eics This paper is ready to go.

[2019-10-29 10:40] meg-simula commented on #1730
@dirmeier @Rgcjk @andremrsantos @sirsharpest @mskwark @MikeLydeamore would any of you review this submission for JOSS? Feel free to take a look at our reviewer guidelines here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-10-29 11:13] jsgalan commented on #1761
Hi @gmweaver,

- Please recompile the article via Whedon (whedon generate pdf) to see the changes.
- I checked the updated installation information, its way better.
- On the second example using big.matrix, is "x_linear.txt" a real file? could you provide an example of such file, even if its just 100,000 x 100,000 of random numbers?

Best,

[2019-10-29 11:36] arfon commented on #1570
Hrm, looks like Whedon is stripping this out. Feel free to accept here and I'll update the Crossref metadata manually after you accept.

[2019-10-29 11:44] danielskatz commented on #1570
@whedon accept deposit=true

[2019-10-29 11:44] whedon commented on #1570
[code]

[2019-10-29 11:45] whedon commented on #1570
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1189146263603818497) 👈 🐦🐦🐦

[2019-10-29 11:45] whedon commented on #1570
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1060
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01570](https://doi.org/10.21105/joss.01570)
2. If everything looks g

[2019-10-29 11:46] danielskatz commented on #1570
@arfon - please do your crossref-latex magic :)  And then please close this when everything seems to be right

[2019-10-29 11:46] batpigandme commented on #1686
Hi @karthik,
We have team work week this week, but it's high on our priority list, and we're aiming to finish up next week.

Do you happen to have a particularly good example of what responding to feedback should look like? Do we need to resolve all the checkboxes.

Thanks for your help, and your patience!

[2019-10-29 11:47] HaoZeke commented on #1733
Hi @shah314 and @jedbrown, I'd be willing to look this over, as I have some time now, if it would be helpful.

[2019-10-29 11:47] danielskatz commented on #1570
Thanks to @mdoucet, @stuartcampbell, @vyasr for reviewing!
And to @poulson for editing!

[2019-10-29 11:48] danielskatz commented on #1776
@whedon accept

[2019-10-29 11:48] whedon commented on #1776
No archive DOI set. Exiting...

[2019-10-29 11:52] danielskatz commented on #1776
@whedon set 10.21105/joss.01776 as archive

[2019-10-29 11:52] whedon commented on #1776
OK. <a href="https://doi.org/10.21105/joss.01776" target="_blank">10.21105/joss.01776</a> is the archive.

[2019-10-29 11:52] labarba commented on #1776
@whedon set 10.5281/zenodo.3521085 as archive

[2019-10-29 11:52] whedon commented on #1776
OK. <a href="https://doi.org/10.5281/zenodo.3521085" target="_blank">10.5281/zenodo.3521085</a> is the archive.

[2019-10-29 11:52] danielskatz commented on #1776
thanks @labarba

[2019-10-29 11:53] dfm commented on #1840
@danielskatz @xuanxu: thanks!

A potential reviewer is: @mattpitkin

I'll take a closer look through the list when I'm not trying to do it on my phone later 😊

[2019-10-29 11:53] danielskatz commented on #1776
@whedon accept

[2019-10-29 11:53] whedon commented on #1776
[code]

[2019-10-29 11:53] arfon commented on #1570
OK, fixed up the metadata and opened https://github.com/openjournals/whedon/issues/59 to track this.

[2019-10-29 11:53] #1570 closed

[2019-10-29 11:53] whedon commented on #1570
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01570/status.svg)](https://doi.org/10.21105/joss.01570)

**We need your help!**

Journal of Open Source Softwa

[2019-10-29 11:53] whedon commented on #1776
[code]

[2019-10-29 11:54] whedon commented on #1776
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1061

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1061, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-29 12:02] danielskatz commented on #1776
👋 @kbarnhart - please merge the few minor changes in https://github.com/TerrainBento/umami/pull/19

[2019-10-29 12:21] cMadan commented on #1830
@whedon generate pdf

[2019-10-29 12:21] whedon commented on #1830
[code]

[2019-10-29 12:24] cMadan commented on #1648
@SwathiSheshadri, since you've tagged them in the pre-review issue here, they are automatically notified via Github.

@thomakra @cpontonn @sreschechtko @brittonsauerbrei, would you be available and interested in reviewing this submission?

[2019-10-29 12:32] sreschechtko commented on #1648
I am available and able to review this submission.

On Tue, Oct 29, 2019 at 8:24 AM Christopher Madan <notifications@github.com>
wrote:

[2019-10-29 12:48] danielskatz commented on #1807
sounds awful - sorry

[2019-10-29 12:50] whedon opened #1841 "[PRE REVIEW]: MyQueue: Task and workflow scheduling system"
**Submitting author:** @jjmortensen (<a href="http://orcid.org/0000-0001-5090-6706">Jens Jørgen Mortensen</a>)
**Repository:** <a href="https://gitlab.com/myqueue/myqueue" target ="_blank">https://gitlab.com/myqueue/myqueue</a>
**Version:** 19.10.1
**Editor:** @danielskatz
**Reviewers:** @gonsie, @marksantcroos

**Author instructions**

Thanks for submitting your paper to JOSS @jjmortensen. **Curr

[2019-10-29 12:50] whedon commented on #1841
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-29 12:50] whedon commented on #1841
[code]

[2019-10-29 12:50] whedon opened #1842 "[PRE REVIEW]: Miet: an R package for region of interest analysis from magnetic reasonance images"
**Submitting author:** @benoit-combes (<a href="http://orcid.org/0000-0003-4161-7093">Benoit Combès</a>)
**Repository:** <a href="https://gitlab.inria.fr/miet/miet" target ="_blank">https://gitlab.inria.fr/miet/miet</a>
**Version:** 0.1.0
**Editor:** @arokem
**Reviewers:** @janfreyberg, @neuroimaginador

**Author instructions**

Thanks for submitting your paper to JOSS @benoit-combes. **Currently,

[2019-10-29 12:50] whedon commented on #1842
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-29 12:50] whedon commented on #1842
[code]

[2019-10-29 12:51] whedon commented on #1842
PDF failed to compile for issue #1842 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1842 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedo

[2019-10-29 12:51] whedon commented on #1841
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01841/joss.01841/10.21105.joss.01841.pdf)

[2019-10-29 12:55] danielskatz commented on #1842
@whedon generate pdf

[2019-10-29 12:55] whedon commented on #1842
[code]

[2019-10-29 12:57] danielskatz commented on #1842
👋 @arfon - I'm a bit confused about what the error is here - is this related to the figure?  Perhaps you can help?  (and maybe open a whedon issue related to better error message?)

[2019-10-29 12:58] danielskatz commented on #1841
@whedon assign @danielskatz as editor

[2019-10-29 12:58] whedon commented on #1841
OK, the editor is @danielskatz

[2019-10-29 12:59] danielskatz commented on #1841
👋 @jjmortensen - I have some ideas for reviewers, but do you also have some you want to recommend?  Potentially from [this list of potential reviewers](https://bit.ly/joss-reviewers)

[2019-10-29 13:00] danielskatz commented on #1841
👋 @dthain - Would you or one of the members of your group be interested in reviewing this submission for JOSS?

[2019-10-29 13:03] arfon commented on #1842
@danielskatz - I think this is because the URL at the top can't be cloned by Git. It needs changing to `https://gitlab.inria.fr/miet/miet`

[2019-10-29 13:09] danielskatz commented on #1842
👋 @benoit-combes - Please change the paper.md as @arfon suggests, then enter a new comment here with ```@whedon generate pdf``` to try recompiling

[2019-10-29 13:10] arfon commented on #1842
@whedon generate pdf

[2019-10-29 13:10] danielskatz commented on #1776
@whedon accept

[2019-10-29 13:10] whedon commented on #1842
[code]

[2019-10-29 13:10] whedon commented on #1776
[code]

[2019-10-29 13:11] whedon commented on #1776
[code]

[2019-10-29 13:11] arfon commented on #1842
@danielskatz - just to clarify, the URL for the repo needed editing at the top of the issue (I've done this).

[2019-10-29 13:11] whedon commented on #1842
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01842/joss.01842/10.21105.joss.01842.pdf)

[2019-10-29 13:11] whedon commented on #1776
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1062

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1062, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-29 13:13] danielskatz commented on #1842
ah, sorry, I thought you meant in the paper.md - How did this wrong URL get in? User error in the submission form?

[2019-10-29 13:13] danielskatz commented on #1776
@whedon accept deposit=true

[2019-10-29 13:14] whedon commented on #1776
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1189168633009840128) 👈 🐦🐦🐦

[2019-10-29 13:14] whedon commented on #1776
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1063
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01776](https://doi.org/10.21105/joss.01776)
2. If everything looks g

[2019-10-29 13:15] arfon commented on #1842
Yeah, it was an error in the submission form. I've opened an issue to track this (https://github.com/openjournals/whedon/issues/60)

[2019-10-29 13:20] danielskatz commented on #1776
Thanks to @sgrieve, @tristan-salles for reviewing and to @meg-simula for editing!

[2019-10-29 13:20] #1776 closed

[2019-10-29 13:20] whedon commented on #1776
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01776/status.svg)](https://doi.org/10.21105/joss.01776)

**We need your help!**

Journal of Open Source Softwa

[2019-10-29 13:24] gkthiruvathukal commented on #1752
I agree with you, @danielskatz. There are a significant number of issues that likely require significant time to be resolved.

[2019-10-29 13:38] martibosch commented on #1807
I am sorry about that. I have updated the comment, and I hope that the language used now is more appropriate. Thank you

[2019-10-29 13:50] danielskatz commented on #1807
Thanks - I was just a bit uncertain how to read the original version - thanks again for working on this review.

[2019-10-29 13:54] dthain commented on #1841
Maybe -- What are the expected standards for papers published in JOSS re length, novelty, literature review, etc.?

[2019-10-29 13:57] seisman commented on #1818
I've finished my review and the authors has addressed my issues. The submission now looks good to me.

[2019-10-29 14:05] danielskatz commented on #1841
Overall, see our [reviewer guidelines](https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#guiding-principles) and our [review criteria](https://joss.readthedocs.io/en/latest/review_checklist.html). Specifically:

- Re length: JOSS papers are typically 250-1000 words, but the review is of both the paper and the software.  See https://joss.readthedocs.io/en/latest/submitting.html#what-sh

[2019-10-29 14:13] dthain commented on #1841
So, it seems like the view criteria mostly address the "maturity" of the software in terms of documentation, installation, examples, etc, and the paper submission is more of a "cover letter".  Am I getting that correctly?

[2019-10-29 14:13] dthain commented on #1841
the "review criteria"

[2019-10-29 14:16] danielskatz commented on #1841
Yes, a main purpose again is to create a placeholder that fits the paper citation system to help developers get credit for their work in the academic system. A second purpose is to improve the software and software practices through the open, collaborative, and iterative review process.

[2019-10-29 14:20] SirSharpest commented on #1730
Yes, I can review

[2019-10-29 14:21] kthyng commented on #1777
@rmsare Ok makes sense. We can move forward then.

Please edit the metadata in your zenodo archive so that the title and author list match your paper exactly.

Also can I verify that v0.1.6 is the version that should be archived here?

[2019-10-29 14:24] jjmortensen commented on #1841
@danielskatz That's a long list of "potential reviewers"!  From a very quick scan of the list, maybe these are a good fit: pragyansmita, Funnelfiasco, marksantcroos, gonsie, zbeekman?

[2019-10-29 14:39] apuignav commented on #1570
Thank you very much to everybody for the review!

[2019-10-29 14:55] rmsare commented on #1777
Great, thank you! I updated the title and author list on Zenodo.

Yes, 0.1.6 is the version that should be archived with the paper.

[2019-10-29 15:00] poulson commented on #1371
Hi @danielskatz -- yes, I suggest we move on without @jordigh's review. I am in a similar deadlock on another paper with them.

[2019-10-29 15:02] poulson commented on #1371
Hi @alex-konovalov -- I was curious if you could clarify what your current concerns are with respect to the functionality of the library.

[2019-10-29 15:11] benoit-combes commented on #1842
@whedon commands

[2019-10-29 15:11] whedon commented on #1842
Here are some things you can ask me to do:

[code]

[2019-10-29 15:35] whedon commented on #1830
[code]

[2019-10-29 15:40] danielskatz commented on #1841
Thanks @gonsie - I'll add you to the system, but will wait until we have one or two more reviews before we start the review process.

[2019-10-29 15:40] danielskatz commented on #1841
@whedon assign @gonsie as reviewer

[2019-10-29 15:40] whedon commented on #1841
OK, the reviewer is @gonsie

[2019-10-29 16:01] kthyng commented on #1777
@whedon generate pdf

[2019-10-29 16:02] kthyng commented on #1777
@whedon check references

[2019-10-29 16:02] whedon commented on #1777
[code]

[2019-10-29 16:08] kthyng commented on #1777
@rmsare Can you fix the capitalization in your bibtex entries? To preserve capitalization from the .bib file to the resulting pdf, you can use {} around what you want to preserve.

[2019-10-29 16:43] alexhanna commented on #1764
@OttaviaE the README looks better. @benmarwick, can you go through the checkboxes in the review and ensure that the software meets these criteria?

[2019-10-29 16:57] kahaaga commented on #1666
@oliviaguest I've archived the software at Zenodo and added the DOI ([10.5281/zenodo.3522252](https://doi.org/10.5281/zenodo.3522252)) to the README . Should be good to go now!

[2019-10-29 17:58] melissawm commented on #1824
Thank you @lucydot and @bocklund for your review!

@srmnitc now you should create an archive (on Zenodo, figshare, or other) and post the archive DOI here in the REVIEW issue so we can generate the paper.  Thank you!

[2019-10-29 18:02] jedbrown commented on #1733
Thanks, @HaoZeke! I'll start the review now and add a second reviewer (responses to my offline inquiries have been going slowly).

[2019-10-29 18:02] jedbrown commented on #1733
@whedon add HaoZeke as reviewer

[2019-10-29 18:02] whedon commented on #1733
OK, HaoZeke is now a reviewer

[2019-10-29 18:03] jedbrown commented on #1733
@whedon start review

[2019-10-29 18:03] whedon opened #1843 "[REVIEW]: JCOL: A Java package for solving the graph coloring problem"
**Submitting author:** @shah314 (<a href="http://orcid.org/0000-0002-3770-1391">Shalin S Shah</a>)
**Repository:** <a href="https://github.com/shah314/graphcoloring" target ="_blank">https://github.com/shah314/graphcoloring</a>
**Version:** v1.1
**Editor:** @jedbrown
**Reviewers:** @HaoZeke, @ProbShin
**Archive:** <a href="https://doi.org/10.5281/zenodo.3709625" target="_blank">10.5281/zenodo.3709

[2019-10-29 18:03] whedon commented on #1843
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @HaoZeke it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently wat

[2019-10-29 18:03] whedon commented on #1843
[code]

[2019-10-29 18:03] #1733 closed

[2019-10-29 18:03] whedon commented on #1843
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01843/joss.01843/10.21105.joss.01843.pdf)

[2019-10-29 18:04] melissawm commented on #1823
@sgrieve would you be willing to review this for JOSS? Thanks!

[2019-10-29 18:08] jedbrown commented on #1843
👋🏼 @HaoZeke Welcome and thanks for agreeing to review! The comments from @whedon above outline the review process, which takes place in this thread (possibly with issues filed in the [GraphColoring repository](https://github.com/shah314/graphcoloring)). I'll be watching this thread if you have any questions.

The JOSS review is different from most other journals. Our goal is to work with the autho

[2019-10-29 18:17] gmweaver commented on #1761
@whedon generate pdf

[2019-10-29 18:17] whedon commented on #1761
[code]

[2019-10-29 18:17] melissawm commented on #1823
@wholmgren would you be available to review this software paper for JOSS? Thank you!

[2019-10-29 18:17] whedon commented on #1761
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01761/joss.01761/10.21105.joss.01761.pdf)

[2019-10-29 18:18] karthik commented on #1686
@jeffreyhanson I'm answering a few more questions here.

No need to interpret this super literally. As long as individual packages contain source code for each package, we are good to check this off.

Don't all R packages require a LICENSE file? http://r-pkgs.had.co.nz/description.html#license even when the license itself is mentioned in the README. Can you point me to ones that don't?

That's fin

[2019-10-29 18:19] karthik commented on #1686
@batpigandme  Here are a couple of good examples of responses:

https://github.com/openjournals/joss-reviews/issues/964
https://github.com/openjournals/joss-reviews/issues/741

Yes. or provide a reasonable explanation for ones that cannot be resolved so that the reviews can respond.

[2019-10-29 18:22] OttaviaE commented on #1764
@alexhanna Okay, thank you. I'll wait for eventual comments by @benmarwick then.

[2019-10-29 18:49] wholmgren commented on #1823
@melissawm yes I can

[2019-10-29 19:01] poulson commented on #1609
Hi Artemy (@artemyk) :wave:.

Would you be willing to review this information theory software project, https://github.com/madvn/infotheory, and its associated publication? You were recommended by @ajgates42 (Alexander Gates).

[2019-10-29 19:01] gmweaver commented on #1761
@jsgalan "x_linear.txt" is a real file stored under inst/extdata in the repository (I followed the best practices suggested in the R Packages book by Hadley Wickham for including raw data files). I have updated the readme to explain where this file is located and and how to access within R after installing the package. Let me know if this will work or if you had something else in mind for a file e

[2019-10-29 19:04] poulson commented on #1705
@katyhuff FWIW, I don't think any quantum computing knowledge is required to review this software; I believe anyone on the mathematical side of numerical linear algebra would be a suitable reviewer; especially anyone with experience computing permanents or with a bit of group theory knowledge (to understand the generalization from determinants to immanents using characters of the symmetric group).

[2019-10-29 19:04] sgrieve commented on #1823
@melissawm I'm afraid this is a little outside my area of expertise, so I wouldn't be able to review this one.

[2019-10-29 19:08] zbeekman commented on #1841
I'm a bit swamped right now. If you're in a bind and can't find another reviewer I'll do it, but in the interest of a timely review let's see if anyone else bites.

[2019-10-29 19:44] marksantcroos commented on #1841
Hi @danielskatz, @jjmortensen, I can take it.

[2019-10-29 19:47] danielskatz commented on #1841
Thanks @marksantcroos - hope you are doing well :)
I'll add you as a reviewer.

[2019-10-29 19:48] danielskatz commented on #1841
@dthain - we'll go ahead without you, but feel free to follow-along in the review thread that will be created shortly, perhaps to familiarize yourself with the process for a future review opportunity.

[2019-10-29 19:48] danielskatz commented on #1841
@whedon add @marksantcroos as reviewer

[2019-10-29 19:48] whedon commented on #1841
OK, @marksantcroos is now a reviewer

[2019-10-29 19:49] steffilazerte commented on #1820
Hi @KaiWenger, Hi @Janis410!

I have completed my first round of reviews and have some comments/suggestions for you. To make things clear, I've included a check box where I need feedback or action from you. This R package is solid and and well documented. I found the review straightforward and the examples easy to follow. Thanks!

**Authorship**
- [ ] Could you supply me with a brief statement of

[2019-10-29 19:50] danielskatz commented on #1841
@whedon start review

[2019-10-29 19:50] whedon opened #1844 "[REVIEW]: MyQueue: Task and workflow scheduling system"
**Submitting author:** @jjmortensen (<a href="http://orcid.org/0000-0001-5090-6706">Jens Jørgen Mortensen</a>)
**Repository:** <a href="https://gitlab.com/myqueue/myqueue" target ="_blank">https://gitlab.com/myqueue/myqueue</a>
**Version:** version-20.1.1
**Editor:** @danielskatz
**Reviewer:** @gonsie, @marksantcroos
**Archive:** <a href="https://doi.org/10.5281/zenodo.3607221" target="_blank">10.

[2019-10-29 19:50] whedon commented on #1841
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1844. Feel free to close this issue now!

[2019-10-29 19:50] whedon commented on #1844
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @gonsie, @marksantcroos it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-10-29 19:50] whedon commented on #1844
[code]

[2019-10-29 19:51] whedon commented on #1844
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01844/joss.01844/10.21105.joss.01844.pdf)

[2019-10-29 19:56] danielskatz commented on #1844
👋 @gonsie, @marksantcroos - as I think you know, we'll do the review here.  Your job is to work through the review checklists, checking off items or creating new issues in the target repository and link to those issues (especially acceptance-blockers) by leaving comments in the review thread below. (For completists: if the target issue tracker is also on GitHub, linking the review thread in the is

[2019-10-29 19:56] #1841 closed

[2019-10-29 20:21] thomakra commented on #1648
I'm sorry, I'm not able to review it at this time.

-Thomas-

On Tue, 29 Oct 2019 at 13:24, Christopher Madan <notifications@github.com>
wrote:

[2019-10-29 20:29] madvn commented on #1609
Hello, all. Sorry about the delay in responding.

Thanks, @ajgates42 for your reviews. I am preparing our response and will submit them in the coming days.

With regards to the second reviewer, Dr. Artemy Kolchinsky, would be great! Dr. Nicholas Timme (http://www.nicholastimme.com/ ; nmtimme on gitHub) is another option.

[2019-10-29 20:56] srmnitc commented on #1824
@melissawm I have created the archive. The DOI is 10.5281/zenodo.3522376

[2019-10-29 21:21] JonasMoss commented on #1820
Hi @KaiWenger, @Janis410, and @steffilazerte!

First of all congratulations on a well-designed package! There are a few issues but all in all, this looks like a very solid piece of software.

*Note:* I'm finished looking at the code but haven't read through the paper proper yet. I'll do that tomorrow and probably post a new issue on your Github then.

I second all of @steffilazerte's suggestions.

[2019-10-29 22:55] steven-murray commented on #1834
Apart from the code issues, which I have opened in the repository itself, I have the following comments about the paper:

1. While there is a statement of what the software's purpose is, there is no additional context in the opening sentences (i.e. is this an important task for the field? What motivates the construction of this code?)
2. While there is a passing reference to the code being able to

[2019-10-29 23:12] tonggehua commented on #1637
@arokem Sorry for the late reply. My research group is focusing on a conference abstract deadline (Nov. 6) and we plan to address the automated testing issue immediately after it. Most back-end tests are done, but setting up proper front-end testing (with Selenium) will take more time.

[2019-10-29 23:18] artemyk commented on #1609
@poulson I could review it, but not for a couple of weeks. Please let me know what the process involves, as it would be my first time reviewing a software package.

[2019-10-30 01:15] rmsare commented on #1777
@whedon generate pdf

[2019-10-30 01:15] whedon commented on #1777
[code]

[2019-10-30 01:16] whedon commented on #1777
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01777/joss.01777/10.21105.joss.01777.pdf)

[2019-10-30 01:19] rmsare commented on #1777
@whedon generate pdf

[2019-10-30 01:19] whedon commented on #1777
[code]

[2019-10-30 01:19] whedon commented on #1777
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01777/joss.01777/10.21105.joss.01777.pdf)

[2019-10-30 01:21] rmsare commented on #1777
@whedon generate pdf

[2019-10-30 01:21] whedon commented on #1777
[code]

[2019-10-30 01:21] whedon commented on #1777
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01777/joss.01777/10.21105.joss.01777.pdf)

[2019-10-30 01:23] rmsare commented on #1777
@kthyng The title and journal capitalization should be fixed now

[2019-10-30 01:33] lucydot commented on #1824
@srmnitc good work, it was a pleasure to review and happy to recommend for acceptance

[2019-10-30 02:12] mjsottile commented on #1772
Thanks @jgoldfar.  That timeline should be fine in November.

[2019-10-30 02:13] mjsottile commented on #1772
@whedon add @jgoldfar as reviewer

[2019-10-30 02:13] whedon commented on #1772
OK, @jgoldfar is now a reviewer

[2019-10-30 02:16] mjsottile commented on #1772
Hi, @trashbirdecology, @MikeLydeamore, @MaaniBeigy, @llauriciu, @matloff, @ellessenne, @osorensen, @RomainAzais - you were suggested as potential reviewers for this JOSS submission.  Let me know if you're interested in reviewing this submission.  I am looking for at least one reviewer to add before I start the review process.

[2019-10-30 03:38] jedbrown commented on #1843
@whedon add ProbShin as reviewer

[2019-10-30 03:38] whedon commented on #1843
OK, ProbShin is now a reviewer

[2019-10-30 03:41] jedbrown commented on #1843
:wave: @ProbShin Welcome, and thanks for agreeing to review! Please have a look at the instructions above and let me know if you have questions.

[2019-10-30 04:03] osorensen commented on #1772
Yes, I am interested.

[2019-10-30 04:59] benmarwick commented on #1764
Done!

[2019-10-30 05:11] jsgalan commented on #1761
hey @gmweaver that sounds great, thanks for the explanation. Also, the article checks great.

I am happy with the review.

[2019-10-30 06:38] danielskatz commented on #1784
👋 @ctsilva - thanks for agreeing by email to review

[2019-10-30 06:38] danielskatz commented on #1784
@whedon add @ctsilva as reviewer

[2019-10-30 06:38] whedon commented on #1784
OK, @ctsilva is now a reviewer

[2019-10-30 06:39] danielskatz commented on #1784
@whedon start review

[2019-10-30 06:39] whedon opened #1845 "[REVIEW]: pyHoops: A Python package for advanced basketball data analytics"
**Submitting author:** @alessandroBombelli (<a href="http://orcid.org/0000-0001-7889-9552">Alessandro Bombelli</a>)
**Repository:** <a href="https://github.com/alessandroBombelli/pyHoops" target ="_blank">https://github.com/alessandroBombelli/pyHoops</a>
**Version:** v1.5
**Editor:** @danielskatz
**Reviewer:** @mado89, @ctsilva
**Archive:** Pending

## Status

[![status](https://joss.theoj.org/pap

[2019-10-30 06:39] whedon commented on #1784
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1845. Feel free to close this issue now!

[2019-10-30 06:39] whedon commented on #1845
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mado89, @ctsilva it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably curr

[2019-10-30 06:39] whedon commented on #1845
[code]

[2019-10-30 06:39] whedon commented on #1845
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01845/joss.01845/10.21105.joss.01845.pdf)

[2019-10-30 06:41] danielskatz commented on #1845
👋 @mado89 & @ctsilva, Thanks for agreeing to review this submission.

As stated above (please read the comments above), please carry out your review in this issue by updating your checklist.

If you see things that block you from checking an item and they can be described briefly, feel free to do so here, but if they need more words, or even preferentially, please create a new issue in the target

[2019-10-30 08:43] csoneson commented on #1744
Hi @RafalUrniaz - I just wanted to make sure that you have seen the comments above from the reviewers, and check whether you would have an estimate of when you might be able to have a new version for them to consider. Please let us know if you have questions.

[2019-10-30 08:58] whedon opened #1846 "[PRE REVIEW]: HRV: a Pythonic package for Heart Rate Variability Analysis"
**Submitting author:** @rhenanbartels (<a href="http://orcid.org/0000-0002-6088-2186">Rhenan Bartels</a>)
**Repository:** <a href="https://github.com/rhenanbartels/hrv" target ="_blank">https://github.com/rhenanbartels/hrv</a>
**Version:** 0.2.4
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @hooman650, @PGomes92, @paulvangentcom

**Author instructions**

Thanks for submitting your paper to JO

[2019-10-30 08:59] whedon commented on #1846
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-30 08:59] whedon commented on #1846
[code]

[2019-10-30 08:59] whedon opened #1847 "[PRE REVIEW]: COINSTAC: Collaborative Informatics and Neuroimaging Suite Toolkit for Anonymous Computation"
**Submitting author:** @hvgazula (<a href="http://orcid.org/0000-0001-9318-8871">Harshvardhan Gazula</a>)
**Repository:** <a href="https://github.com/MRN-Code/coinstac" target ="_blank">https://github.com/MRN-Code/coinstac</a>
**Version:** v4.4.1-Alpha
**Editor:** @cMadan
**Reviewers:** @gkiar, @yarikoptic

**Author instructions**

Thanks for submitting your paper to JOSS @hvgazula. **Currently, t

[2019-10-30 08:59] whedon commented on #1847
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-30 08:59] whedon commented on #1847
[code]

[2019-10-30 08:59] whedon commented on #1847
PDF failed to compile for issue #1847 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/1847 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedo

[2019-10-30 08:59] whedon commented on #1846
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01846/joss.01846/10.21105.joss.01846.pdf)

[2019-10-30 09:03] MaaniBeigy commented on #1772
Yes, I am interested.

[2019-10-30 09:04] MaaniBeigy commented on #1772
Yes, I am interested

On Wed, 30 Oct 2019, 07:33 Øystein Sørensen, <notifications@github.com>
wrote:

[2019-10-30 09:08] danielskatz commented on #1846
👋 @gkthiruvathukal - would you be willing to edit this submission?

[2019-10-30 09:11] danielskatz commented on #1847
👋 @arfon - I assume this is a problem with the branch being submitted rather than a base repo - Is this correct?  How do we fix it?

[2019-10-30 09:14] oliviaguest commented on #1666
@whedon set 10.5281/zenodo.3522252 as archive

[2019-10-30 09:14] whedon commented on #1666
OK. <a href="https://doi.org/10.5281/zenodo.3522252" target="_blank">10.5281/zenodo.3522252</a> is the archive.

[2019-10-30 09:14] oliviaguest commented on #1666
@whedon accept

[2019-10-30 09:14] whedon commented on #1666
[code]

[2019-10-30 09:15] whedon commented on #1666
[code]

[2019-10-30 09:15] whedon commented on #1666
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1064

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1064, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-30 09:17] oliviaguest commented on #1666
@kahaaga can you check out that missing DOI thing and generally check it all looks fine still, please?

[2019-10-30 09:20] OttaviaE commented on #1764
@benmarwick  thank you! @alexhanna let me know if you further comments!

[2019-10-30 09:42] meg-simula commented on #1730
@SirSharpest Fantastic, thanks! I'll get the review issue started then. Thanks for your patience on this matter @fcooper8472 @finsberg.

[2019-10-30 09:44] meg-simula commented on #1730
@whedon add @SirSharpest as reviewer

[2019-10-30 09:44] whedon commented on #1730
OK, @SirSharpest is now a reviewer

[2019-10-30 09:44] meg-simula commented on #1730
@whedon start review

[2019-10-30 09:44] whedon opened #1848 "[REVIEW]: Chaste: Cancer, Heart and Soft Tissue Environment"
**Submitting author:** @fcooper8472 (<a href="http://orcid.org/0000-0002-6221-4288">Fergus Cooper</a>)
**Repository:** <a href="https://github.com/Chaste/Chaste" target ="_blank">https://github.com/Chaste/Chaste</a>
**Version:** release_2019.1
**Editor:** @meg-simula
**Reviewers:** @finsberg, @IgorBaratta
**Archive:** <a href="https://doi.org/10.5281/zenodo.3708497" target="_blank">10.5281/zenodo.

[2019-10-30 09:44] whedon commented on #1730
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1848. Feel free to close this issue now!

[2019-10-30 09:44] whedon commented on #1848
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @finsberg, @SirSharpest it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probabl

[2019-10-30 09:44] whedon commented on #1848
[code]

[2019-10-30 09:45] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2019-10-30 09:46] meg-simula commented on #1848
@finsberg @SirSharpest Thanks again for agreeing to review. Reviewer checklists have been generated for each you above - take a look and dig in at will.

[2019-10-30 09:49] meg-simula commented on #1701
@gbertoldo Just checking in - how are matters going? Have you had a chance to address the issues raised by @dham @haozeke?

[2019-10-30 10:54] arfon commented on #1847
Whedon can't clone from `https://github.com/MRN-Code/coinstac/tree/paper-branch` which is currently listed at the top of the issue as the repository address. Instead the URL for the repo needs to be `https://github.com/MRN-Code/coinstac` and then we can ask Whedon to compile the paper from the `paper-branch` branch.

I'll do that now.

[2019-10-30 10:55] arfon commented on #1847
@whedon generate pdf from branch paper-branch

[2019-10-30 10:55] whedon commented on #1847
[code]

[2019-10-30 10:55] whedon commented on #1847
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01847/joss.01847/10.21105.joss.01847.pdf)

[2019-10-30 10:59] danielskatz commented on #1847
Does this imply something that we should change in our docs, submission form, or Whedon's error messages?

[2019-10-30 11:02] danielskatz commented on #1847
👋 @cMadan - would you be willing to edit this submission?

[2019-10-30 11:03] arfon commented on #1847
I think this is a Whedon issue. I opened an issue to track this yesterday: https://github.com/openjournals/whedon/issues/60

[2019-10-30 11:10] danielskatz commented on #1720
👋 @sam-greenwood - I'm just checking in on this as the associate-editor-in-chief on duty this week ...

[2019-10-30 11:11] kahaaga commented on #1666
@oliviaguest I've added the missing DOI now.

Also, in the final proof, one of the references in the first wasn't formatted correctly. I've tried to fix this by changing the citation from `[@author1, @author2]` to `[@author1; @author2]`, as per the documentation. Can we generate the proof again and check before depositing?

[2019-10-30 11:11] danielskatz commented on #1655
👋 I'm just checking in on this as the associate-editor-in-chief on duty this week ... What's the status here?

[2019-10-30 11:12] danielskatz commented on #1326
👋 @Amudtogal - I'm just checking in on this as the associate-editor-in-chief on duty this week ... Is there any progress on the license change you can report?

[2019-10-30 11:14] danielskatz commented on #1741
@RHagenson  - I'm going to mark this as paused while you work through the major issues, as the associate-editor-in-chief on duty this week.  Please let us know when you are ready for the review to resume.

[2019-10-30 11:16] danielskatz commented on #1654
👋 @abhishekbajpayee - has there been any progress on this?

[2019-10-30 11:41] whedon commented on #1847
Failed to discover a valid open source license.

[2019-10-30 11:44] danielskatz commented on #1847
@hvgazula - note that you need to add an OSI-approved license to your repo before we can start any review.

[2019-10-30 11:50] hvgazula commented on #1847
Added License file. Thanks for pointing out. Apologies for the inconvenience.

[2019-10-30 11:51] cMadan commented on #1847
@danielskatz, sure, I can edit this one.

[2019-10-30 11:52] cMadan commented on #1847
@whedon assign @cMadan as editor

[2019-10-30 11:52] whedon commented on #1847
OK, the editor is @cMadan

[2019-10-30 11:53] cMadan commented on #1648
@sreschechtko, great! I'll add you as a reviewer and start the review process.

@thomakra, no problem, thanks for letting me know.

[2019-10-30 11:53] cMadan commented on #1648
@whedon add @sreschechtko as reviewer

[2019-10-30 11:53] whedon commented on #1648
OK, @sreschechtko is now a reviewer

[2019-10-30 11:53] cMadan commented on #1648
@whedon start review

[2019-10-30 11:53] whedon opened #1849 "[REVIEW]: 3D reconstruction toolbox for behavior tracked with multiple cameras"
**Submitting author:** @SwathiSheshadri (<a href="http://orcid.org/0000-0003-2850-107X">Swathi Sheshadri</a>)
**Repository:** <a href="https://github.com/SwathiSheshadri/pose3d" target ="_blank">https://github.com/SwathiSheshadri/pose3d</a>
**Version:** v2.2.1
**Editor:** @cMadan
**Reviewer:** @danasolav, @sreschechtko
**Archive:** <a href="https://doi.org/10.5281/zenodo.3589990" target="_blank">1

[2019-10-30 11:53] whedon commented on #1648
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1849. Feel free to close this issue now!

[2019-10-30 11:53] whedon commented on #1849
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danasolav, @sreschechtko it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're proba

[2019-10-30 11:53] whedon commented on #1849
[code]

[2019-10-30 11:53] #1648 closed

[2019-10-30 11:54] whedon commented on #1849
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01849/joss.01849/10.21105.joss.01849.pdf)

[2019-10-30 12:03] leouieda commented on #1838
Hi @danielskatz, sure thing :+1:

[2019-10-30 12:03] leouieda commented on #1838
@whedon assign @leouieda as editor

[2019-10-30 12:03] whedon commented on #1838
OK, the editor is @leouieda

[2019-10-30 12:05] leouieda commented on #1808
:wave: Hi @seisman @ThomasLecocq just checking in on the review progress. Are there any updates?

[2019-10-30 12:11] leouieda commented on #1797
Hi @gassmoeller that is probably a new item on the checklist. I hadn't seen it before. I'll bring this up with the JOSS editors and see what we can do about it. I agree that we should be very explicit about what we want from that statement. I imagine the idea was to provide a general comparison statement, not a thorough performance/accuracy/features comparison. Thanks for pointing this out!

[2019-10-30 12:12] leouieda commented on #1797
On that note, @gassmoeller @gabersyd what is the status of the review? Any updates?

[2019-10-30 12:33] hadley commented on #1686
@karthik (just responding quickly to license question): From R-exts:

We work around this in (e.g.) `use_gpl_license()` by including a `.Rbuildignore`d `LICENSE.md` which R CMD check don't see locally and isn't included in the package bundle (and still allows you to use `LICENSE` for the (e.g.) template fields needed for to make the MIT license compatible with CRAN's requirements.)

We include lic

[2019-10-30 12:36] alessandroBombelli commented on #1784
Dear @danielskatz sorry for the late reply. Thanks for the efforts in finding suitable reviewers. I really appreciated

[2019-10-30 12:41] leouieda commented on #1838
Hi @slumnitz thank you for the reviewer suggestions! I just opened a PR to fix a citation formatting issue on the paper. Once that is merged, we can ask @whedon to rebuild the PDF.

[2019-10-30 12:45] leouieda commented on #1838
:wave: Hi @jorisvandenbossche @gboeing would you like to review this submission for JOSS? "splot: visual analytics for spatial statistics" by @slumnitz (Stefanie Lumnitz) *et al*. Here are links to the [submitted paper](https://github.com/openjournals/joss-papers/blob/joss.01838/joss.01838/10.21105.joss.01838.pdf) and [software repository](https://github.com/pysal/splot). Please see [our documenta

[2019-10-30 13:00] gbertoldo commented on #1701
Hi @meg-simula, we are working to address the issues. We hope they will be solved soon.

[2019-10-30 13:30] xuanxu commented on #1840
:wave: @mattpitkin: would you be willing to review this paper? the author of the submission has suggested you as a good candidate.

[2019-10-30 13:32] xuanxu commented on #1840
:wave: @dhuppenkothen: would you be willing to review this paper? I think your knowledge of astronomy, statistics and Python makes you a great fit for this submission.

[2019-10-30 13:42] seisman commented on #1808
@leouieda I should be able to finish the review before this weekend.

[2019-10-30 13:58] kthyng commented on #1777
@whedon set v0.1.6 as version

[2019-10-30 13:58] whedon commented on #1777
OK. v0.1.6 is the version.

[2019-10-30 13:59] kthyng commented on #1777
@whedon accept

[2019-10-30 13:59] whedon commented on #1777
[code]

[2019-10-30 14:04] kthyng commented on #1777
@rmsare Looks like it is borking on the scikit learn bib entry. You have an empty doi followed by a comma. The last line in a bib entry shouldn't have a comma, and perhaps you can leave out the doi line altogether since there isn't one? Then remove the comma from the line above it.

Also just know that I am ready to accept your submission once this goes through, so be sure it looks perfect to you.

[2019-10-30 14:08] arfon commented on #1777
Yep, this PR should fix this: https://github.com/rmsare/pymccrgb/pull/21

[2019-10-30 14:25] RHagenson commented on #1741
@danielskatz Pausing it is reasonable. I will continuing making the major changes then resume review once they are implemented. Thank you for your understanding.

[2019-10-30 14:28] alexhanna commented on #1508
👋 👋 @MaciejDanko - let's publish this thing!

[2019-10-30 14:29] alexhanna commented on #1453
@whedon remove @jameshclrk as reviewer

[2019-10-30 14:46] OttaviaE commented on #1764
@alexhanna here's the DOI from Zenodo:

[![DOI](https://zenodo.org/badge/195023250.svg)](https://zenodo.org/badge/latestdoi/195023250)

[2019-10-30 15:13] alexhanna commented on #1764
@whedon set 10.5281/zenodo.3523063 as archive

[2019-10-30 16:18] danielskatz commented on #1764
Please update the zenodo metadata so that the title matches the paper title and so that the authors match the paper authors.

[2019-10-30 16:30] OttaviaE commented on #1764
@danielskatz I updated the zenodo metadata according to your instructions. Concerning the version, it should be the v0.1.

[2019-10-30 18:18] ThibaultMarzullo commented on #1833
Hi @samuelduchesne, I'm going through the paper and the software now. It's an interesting idea and work.

**Paper:**
It would benefit from the addition of some context as well as a couple of clarifications, see [this issue](https://github.com/samuelduchesne/archetypal/issues/41) for more details.

**Documentation:**
Generally speaking it seems incomplete, the user is left to finding out on their o

[2019-10-30 18:39] sam-greenwood commented on #1720
Good thanks. I asked a question about CI testing to which I did get a prompt answer but didn't get a notification for it, so was waiting around the last 2 weeks for a response I'd already had, my bad. Just seen it now so will work on that this weekend.

[2019-10-30 18:45] gassmoeller commented on #1797
I am satisfied with the current state of the software and paper, and think this is an important contribution. The authors have responded productively and fixed the small comments and objections I had. I am only waiting for underworldcode/underworld2#428 to be fixed (one of the authors is currently not on the paper, because he has no ORCID so far), and afterwards this is ready from my side. I parti

[2019-10-30 19:14] jarvist commented on #1453
Certainly!

[2019-10-30 19:35] amitkumarj441 commented on #1705
Dear @katyhuff,

Thanks for the invitation to review.

I got buried in preparing reports and reviews since last week.
I have a sneak look at the paper and hoping to send my reviews early next week.

Apologies for the delay in response.

Best Regards,
Amit Kumar Jaiswal

[2019-10-30 19:44] danielskatz commented on #1764
Ok, please go ahead and fix anything that you think should be fixed, and then we'll do the accept processing.

[2019-10-30 20:10] OttaviaE commented on #1764
@danielskatz Done!

[2019-10-30 20:15] danielskatz commented on #1764
@whedon accept

[2019-10-30 20:15] whedon commented on #1764
[code]

[2019-10-30 20:15] whedon commented on #1764
[code]

[2019-10-30 20:15] whedon commented on #1764
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1065

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1065, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-30 20:18] danielskatz commented on #1764
@whedon accept deposit=true

[2019-10-30 20:18] whedon commented on #1764
[code]

[2019-10-30 20:19] whedon commented on #1764
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1189637971424755714) 👈 🐦🐦🐦

[2019-10-30 20:19] whedon commented on #1764
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1066
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01764](https://doi.org/10.21105/joss.01764)
2. If everything looks g

[2019-10-30 20:26] danielskatz commented on #1764
Thanks to @benmarwick and @tomfaulkenberry for reviewing and @alexhanna for editing!

[2019-10-30 20:26] danielskatz commented on #1764
Once the DOI resolves, I will close this issue, but it isn't yet working for me

[2019-10-30 20:32] OttaviaE commented on #1764
Thanks to you all @benmarwick, @tomfaulkenberry, @alexhanna!

[2019-10-30 20:34] OttaviaE commented on #1764
@danielskatz the DOI is working for me!

[2019-10-30 20:36] alexhanna commented on #1764
Congrats to you, @OttaviaE! Thanks so much @tomfaulkenberry, @benmarwick, and @danielskatz!

[2019-10-30 20:38] #1764 closed

[2019-10-30 20:39] whedon commented on #1764
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01764/status.svg)](https://doi.org/10.21105/joss.01764)

**We need your help!**

Journal of Open Source Softwa

[2019-10-30 20:48] stulacy commented on #1837
Hi!

Could you please clean up some of the typos in the paper, such as: 'inlcuding', the odd symbol in the first sentence of Methods, and capitalising 'JavaScript'.
Also, the first two sentences in Methods are somewhat duplicated.

[2019-10-30 20:53] jorisvandenbossche commented on #1838
@leouieda I am happy to review this submission.

To disclose a potential conflict of interest: I acted as co-mentor during Stefanie's GSOC in 2018 while she worked on `splot` (as geopandas maintainer, to give feedback on the usage of geopandas in splot). However, I would describe my role as very limited (I was not involved in the direction or design of the package, but just gave some code feedback

[2019-10-30 21:07] poulson commented on #1609
Hi Artemy (@artemyk): thank you for being willing to spend time on this. I will reach out to Nicholas Timme as well and see if they can possibly start a bit sooner than that, but, otherwise, a couple of weeks from now would be a good backup plan.

The JOSS editors have put together a very detailed reviewer guide here:
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html
Please let me kno

[2019-10-30 21:10] poulson commented on #1609
Hi Nicholas Timme (@nmtimme) :wave:. Madhavun Candadai recommended you as a reviewer for this submission on an information theory software package. Please let me know if you would be willing and able to use your expertise to improve and review this submission.

A detailed reviewer guide can be found at: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

[2019-10-30 21:19] nmtimme commented on #1609
Hello

Thanks for contacting me, but unfortunately I won't be able to help right
now. I would suggest Joe Lizier in Sydney or Ryan James at UC Irvine. Have
a good day!

~Nick

On Wed, Oct 30, 2019 at 5:10 PM Jack Poulson <notifications@github.com>
wrote:

[2019-10-30 21:28] mjsottile commented on #1772
Thanks @osorensen - I'll add you.  @MaaniBeigy , I will hold off adding you unless we need an additional reviewer during the process.

[2019-10-30 21:28] mjsottile commented on #1772
@whedon add @osorensen as reviewer

[2019-10-30 21:28] whedon commented on #1772
OK, @osorensen is now a reviewer

[2019-10-30 21:29] mjsottile commented on #1772
@whedon start review

[2019-10-30 21:29] whedon opened #1850 "[REVIEW]: simode: R Package for Statistical Inference of Ordinary Differential Equations using Separable Integral-Matching"
**Submitting author:** @ramiyaari (<a href="http://orcid.org/0000-0002-8808-8937">Rami Yaari</a>)
**Repository:** <a href="https://github.com/ramiyaari/simode/" target ="_blank">https://github.com/ramiyaari/simode/</a>
**Version:** v1.1.8
**Editor:** @mjsottile
**Reviewer:** @cscherrer, @jgoldfar, @osorensen
**Archive:** <a href="https://doi.org/10.5281/zenodo.3576265" target="_blank">10.5281/zeno

[2019-10-30 21:29] whedon commented on #1772
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1850. Feel free to close this issue now!

[2019-10-30 21:29] whedon commented on #1850
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cscherrer, @jgoldfar, @osorensen it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you'

[2019-10-30 21:29] whedon commented on #1850
[code]

[2019-10-30 21:29] #1772 closed

[2019-10-30 21:29] whedon commented on #1850
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01850/joss.01850/10.21105.joss.01850.pdf)

[2019-10-30 21:34] poulson commented on #1609
Thank you @nmtimme -- I had reached out to both of them previously and they were unavailable. I think the best option at the moment is to wait a couple of weeks for Artemy (@artemyk) to be available. Thank you for the suggestions!

[2019-10-30 21:57] SwathiSheshadri commented on #1849
@danasolav, @sreschechtko thank you for taking time to review our submission.
@cMadan, please assign the latest release version v1.1.0 for review.

[2019-10-30 22:01] alexhanna commented on #1453
@whedon add @jarvist as reviewer

[2019-10-30 22:02] whedon commented on #1453
OK, @jarvist is now a reviewer

[2019-10-30 22:25] katyhuff commented on #1705
@amitkumarj441 Excellent news. Thank you for agreeing to review. A JOSS review primarily involves checking submissions against a checklist of essential software features and details in the submitted paper and code. Please see the checklist at the top of this issue for your to-do list regarding the review.  More information about the review process can be found in our [reviewer documentation](https

[2019-10-30 22:32] JonasMoss commented on #1820
Hi again @KaiWenger, @Janis410!

Here is my paper review.

## Paper Review
I think the paper is both clear and informative. It gives an understandable and short overview of the field of research and makes it easy to comprehend what the package does. It *is* written for a specialist audience though; it reads like a literature review at the beginning of a statistics article. (I would not able to rev

[2019-10-30 22:42] amitkumarj441 commented on #1705
Thanks for your prompt response.
I have submitted the reviewer form though. But for the checklist, I need [review invitation](https://github.com/openjournals/joss-reviews/invitations) to move forward.

Best Regards,
Amit Kumar Jaiswal

[2019-10-30 22:44] cMadan commented on #1849
@whedon set v1.1.0 as version

[2019-10-30 22:44] whedon commented on #1849
OK. v1.1.0 is the version.

[2019-10-30 22:57] katyhuff commented on #1705
@amitkumarj441 Your review invitation will be approved very soon by one of the @openjournals/joss-eics  . The approval of new reviewers is one of the few parts of the process which is not yet automated.

[2019-10-31 03:27] rmsare commented on #1777
@whedon generate pdf

[2019-10-31 03:27] whedon commented on #1777
[code]

[2019-10-31 03:28] whedon commented on #1777
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01777/joss.01777/10.21105.joss.01777.pdf)

[2019-10-31 03:35] rmsare commented on #1777
@whedon generate pdf

[2019-10-31 03:35] whedon commented on #1777
[code]

[2019-10-31 03:36] whedon commented on #1777
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01777/joss.01777/10.21105.joss.01777.pdf)

[2019-10-31 03:36] gabersyd commented on #1797
@leouieda, I need one more week to give a complete feedback.

Gabriele Morra
<http://scholar.google.com/citations?sortby=pubdate&hl=en&user=DDuTppAAAAAJ&view_op=list_works>
, Department of Physics <http://physics.louisiana.edu>, School of
Geosciences <http://geos.louisiana.edu>, University of Louisiana at
Lafayette <http://www.louisiana.edu>

On Wed, Oct 30, 2019 at 1:45 PM Rene Gassmoeller <notif

[2019-10-31 03:39] rmsare commented on #1777
Thank you for troubleshooting my Bibtex, and sorry for my delay - was travelling without web access.

I've accepted the empty doi PR and fixed two reference issues. The proof looks good to me.

[2019-10-31 03:39] jmansour commented on #1797
Thanks @gassmoeller & @gabersyd

[2019-10-31 04:16] whedon commented on #1777
[code]

[2019-10-31 05:30] danielskatz commented on #1705
👋 @arfon - see previous comments...

[2019-10-31 05:32] danielskatz commented on #1838
@leouieda - If you can find an alternate reviewer for @jorisvandenbossche given this conflict, please do.  If not, we can waive this conflict given the relationship, but it would be cleaned not to have to.

[2019-10-31 07:20] whedon commented on #1777
[code]

[2019-10-31 10:18] arfon commented on #1777
@whedon accept

[2019-10-31 10:18] whedon commented on #1777
[code]

[2019-10-31 10:19] whedon commented on #1777
[code]

[2019-10-31 10:19] whedon commented on #1777
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1067

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1067, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-31 10:21] arfon commented on #1777
@whedon accept deposit=true

[2019-10-31 10:21] whedon commented on #1777
[code]

[2019-10-31 10:22] arfon commented on #1705
@whedon add @amitkumarj441 as reviewer

[2019-10-31 10:22] whedon commented on #1705
OK, @amitkumarj441 is now a reviewer

[2019-10-31 10:22] whedon commented on #1777
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1189850112622768128) 👈 🐦🐦🐦

[2019-10-31 10:22] whedon commented on #1777
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1068
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01777](https://doi.org/10.21105/joss.01777)
2. If everything looks g

[2019-10-31 10:23] arfon commented on #1705
@amitkumarj441 - you should have an invite to accept at https://github.com/openjournals/joss-reviews/invitations now.

[2019-10-31 10:24] arfon commented on #1666
@whedon generate pdf

[2019-10-31 10:24] whedon commented on #1666
[code]

[2019-10-31 10:24] whedon commented on #1666
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01666/joss.01666/10.21105.joss.01666.pdf)

[2019-10-31 10:25] arfon commented on #1666
☝️ @kahaaga - you can do this yourself with `@whedon generate pdf`

[2019-10-31 10:27] oliviaguest commented on #1666
@kahaaga looking better now?

[2019-10-31 10:29] arfon commented on #1777
@martibosch, @daniellivingston - many thanks for your reviews here and to @kthyng for editing this submission ✨

@rmsare - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-10-31 10:29] #1777 closed

[2019-10-31 10:29] whedon commented on #1777
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01777/status.svg)](https://doi.org/10.21105/joss.01777)

**We need your help!**

Journal of Open Source Softwa

[2019-10-31 10:33] izaromanowska commented on #1821
Hi @oliviaguest, I've done the review following the checklist. All works well as far as I can tell and is impressively well described. Do you need a written review as well?
One tiny suggestion is to mention in the readme that khroma needs to be installed and loaded. Probably unnecessary for most users but it's the only dependency that kicked off when checking examples on a freshly installed RStudi

[2019-10-31 11:00] dphansti commented on #1837
@stulacy Thanks for finding these issues. We have corrected those typos and made several other tiny edits to improve clarity and accuracy.

[2019-10-31 11:47] jmansour commented on #1797
Hi @leouieda

Are the ORCID identifiers strictly necessary for submission?  One of our authors is somewhat privacy concerned and would rather not sign up for an ORCID.

[2019-10-31 12:13] leouieda commented on #1797
@jmansour ORCIDs are encouraged but not strictly required if an author feels strongly about not providing one (our own [example paper](https://joss.readthedocs.io/en/latest/submitting.html#example-paper-and-bibliography) has an authors without an ORCID).

[2019-10-31 12:20] leouieda commented on #1797
@gassmoeller thank you for your review! :clap:

@gabersyd no worries, take your time :+1:

[2019-10-31 13:39] rmsare commented on #1777
Thank you for the editorial help and to @daniellivingston and @martibosch for their reviews.

I'll update/close the install issue once the conda package is accepted.

[2019-10-31 13:42] benoit-combes commented on #1842
@whedon list editors

[2019-10-31 13:42] whedon commented on #1842
Current editors:

[code]

[2019-10-31 13:52] benoit-combes commented on #1842
May I suggest @arokem as editor ?
In addition to @neuroimaginador that appears to gather expertise in R, data analysis and neuroimaging (that are relevant for the paper) for reviewer ?

[2019-10-31 14:13] zingale commented on #1757
@pgrete I think we've addressed most of the issues.  Can you take a look?

[2019-10-31 14:16] arokem commented on #1842
Yes. I can edit this.

[2019-10-31 14:16] arokem commented on #1842
@whedon assign arokem as editor

[2019-10-31 14:16] whedon commented on #1842
OK, the editor is arokem

[2019-10-31 14:17] arokem commented on #1842
👋 @neuroimaginador : would you be willing to review this paper for JOSS?

[2019-10-31 14:44] terrytangyuan commented on #1799
Hi @puolival & @yzhao062, just a reminder that this will be the place to conduct the official review on. Please go ahead and review when you get a chance and ping the submitting author @pssachdeva or me if you have any questions!

[2019-10-31 14:47] arfon commented on #1842
@arokem @brechmos (who's here at STScI) might be a good additional reviewer.

[2019-10-31 15:03] arokem commented on #1842
@brechmos : would you be willing to review this paper for JOSS?

On Thu, Oct 31, 2019 at 7:47 AM Arfon Smith <notifications@github.com>
wrote:

[2019-10-31 16:11] kahaaga commented on #1666
@arfon Thanks for the info, I'll remember that for my next paper!

@oliviaguest The paper is looking great now. It's good to go 👍

[2019-10-31 16:48] whedon opened #1851 "[PRE REVIEW]: workloopR: Analysis of work loops and other data from muscle physiology experiments in R"
**Submitting author:** @vbaliga (<a href="http://orcid.org/0000-0002-9367-8974">Vikram B. Baliga</a>)
**Repository:** <a href="https://github.com/ropensci/workloopR/" target ="_blank">https://github.com/ropensci/workloopR/</a>
**Version:** v1.1.1
**Editor:** @danielskatz
**Reviewers:** @danielskatz

**Author instructions**

Thanks for submitting your paper to JOSS @vbaliga. **Currently, there isn'

[2019-10-31 16:48] whedon commented on #1851
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-10-31 16:48] whedon commented on #1851
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01851/joss.01851/10.21105.joss.01851.pdf)

[2019-10-31 16:49] Kevin-Mattheus-Moerman commented on #1851
Note: this package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/326

[2019-10-31 16:54] gkthiruvathukal commented on #1846
@Kevin-Mattheus-Moerman Would be great if you can take this one. I'll be happy to take new ones starting next week.  Going through a bit of a rough stretch with the continued teachers' strike in Chicago and trying to keep middle/high school kids entertained while staying on top of my own work. So I should be in the clear by next week (I hope).

[2019-10-31 17:07] standage commented on #1762
[code]

The authors describe Mashtree, a utility for constructing trees from sequence reads or assemblies using Min-hash sketch distances. Mashtree leverages Mash to compute distances rapidly and efficiently, and QuickTree to build a neighbor-joining tree from the resulting distance matrix. Mashtree supports two modes of operation: a "fast" mode based on a fixed minimum *k*-mer abundance filter, a

[2019-10-31 17:11] standage commented on #1762
@csoneson, this completes my review of Mashtree.

@lskatz, if you have any comments or questions, feel free to keep the conversation going here or on the Mashtree issue tracker—just @ me! 😎

[2019-10-31 17:18] whedon commented on #1818
:wave: @andreww, please update us on how your review is going.

[2019-10-31 17:19] whedon commented on #1818
:wave: @brmather, please update us on how your review is going.

[2019-10-31 17:26] vbaliga commented on #1851
Hi @Kevin-Mattheus-Moerman - thank you for your help. I can confirm that this package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/326, @lmullen was the editor

I have just taken a look a the proof that whedon provided in https://github.com/openjournals/joss-reviews/issues/1851#issuecomment-548467135 . I am generally happy with how things look, but there is one

[2019-10-31 17:28] kbarnhart commented on #1818
Thanks @andreww and @seisman for completing your reviews.

@andreww it looks like there are a couple of check-boxes remaining unchecked. Please post here if anything remains for @paudetseis to do for you to check them.

@brmather, please let me know if you have any questions as you undertake your review.

[2019-10-31 17:56] arokem commented on #1842
👋 @janfreyberg : would you be willing to review this paper for JOSS? You are one of the only people among our reviewer pool who are neuro-savvy and also R-literate, so it would be a great help.

[2019-10-31 19:17] csoneson commented on #1762
@standage - thanks for this!

[2019-10-31 20:38] janfreyberg commented on #1842
@arokem yes, of course!

[2019-10-31 20:40] arokem commented on #1842
Wonderful. Thank you! I will assign you first, and then stand by until I find another reviewer and kick off the review for this.

[2019-10-31 20:40] arokem commented on #1842
@whedon assign @janfreyberg as reviewer

[2019-10-31 20:40] whedon commented on #1842
OK, the reviewer is @janfreyberg

[2019-10-31 21:20] Kevin-Mattheus-Moerman commented on #1846
@whedon assign @Kevin-Mattheus-Moerman as editor

[2019-10-31 21:20] whedon commented on #1846
OK, the editor is @Kevin-Mattheus-Moerman

[2019-10-31 21:23] Kevin-Mattheus-Moerman commented on #1846
@hooman650 would you be interested in reviewing this work for JOSS?

[2019-10-31 21:25] hooman650 commented on #1846
@Kevin-Mattheus-Moerman heals, I would be happy to.

[2019-10-31 21:25] Kevin-Mattheus-Moerman commented on #1846
@rhenanbartels I'll be looking for reviewers for your submission. Let me know if you can recommend any reviewers. Thanks

[2019-10-31 21:26] Kevin-Mattheus-Moerman commented on #1846
@whedon assign @hooman650 as reviewer

[2019-10-31 21:26] whedon commented on #1846
OK, the reviewer is @hooman650

[2019-10-31 23:25] danielskatz commented on #1851
Please go ahead and make the paper fix in the .md file.  If you want to change the version, that's fine - If you want to make a new archive of the software, that's fine too.

[2019-11-01 01:43] vbaliga commented on #1851
Hi @danielskatz - thank you for your advice. I went ahead and made the fix to the paper and [bumped the version](https://github.com/ropensci/workloopR/releases/tag/v1.1.1) to 1.1.1 . Our Zenodo archive ([https://doi.org/10.5281/zenodo.3523384](https://doi.org/10.5281/zenodo.3523384)) has also been updated, following the new version.

I think our JOSS submission is now ready. Please let me know if

[2019-11-01 01:44] vbaliga commented on #1851
@whedon generate pdf

[2019-11-01 01:44] whedon commented on #1851
[code]

[2019-11-01 01:44] whedon commented on #1851
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01851/joss.01851/10.21105.joss.01851.pdf)

[2019-11-01 01:49] vbaliga commented on #1851
The proof generated here looks good to me

[2019-11-01 02:58] jmansour commented on #1797
Thanks @leouieda

A further question if I may.  One author has since moved onto other employment and is no longer directly involved in the project.  I assume that their affiliation should represent their place of employment at the time of their contribution, but possibly their current employment should be also  included as means of contact.  Does JOSS have any particular preference in this situati

[2019-11-01 04:54] brmather commented on #1818
Thanks @kbarnhart - I've had a lot of deadlines in the last couple of weeks, but I'll submit my review soon. Hope that's OK. Cheers!

[2019-11-01 07:09] snowformatics commented on #1411
Hi,

I created a new binary:

https://sourceforge.net/projects/blasterqt/files/BlasterQtv1.3.exe/download

Best regards
Stefanie

[2019-11-01 08:40] andreww commented on #1818
Yes - I'm happy that the changes address my concerns. I've added comments to one closed issue (https://github.com/paudetseis/Telewavesim/issues/15) but I don't think this needs to be addressed to allow publication here.

[2019-11-01 11:05] whedon opened #1852 "[PRE REVIEW]: hammurabi X: a C++ package for simulating Galactic emissions"
**Submitting author:** @gioacchinowang (<a href="http://orcid.org/0000-0002-7384-7152">Jiaxin Wang</a>)
**Repository:** <a href="https://bitbucket.org/hammurabicode/hamx" target ="_blank">https://bitbucket.org/hammurabicode/hamx</a>
**Version:** v.2.3.0
**Editor:** @dfm
**Reviewers:** @zonca, @pqrs6

**Author instructions**

Thanks for submitting your paper to JOSS @gioacchinowang. **Currently, th

[2019-11-01 11:05] whedon commented on #1852
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-01 11:05] whedon commented on #1852
[code]

[2019-11-01 11:05] whedon commented on #1852
PDF failed to compile for issue #1852 with the following error:

 Can't find any papers to compile :-(

[2019-11-01 11:07] Kevin-Mattheus-Moerman commented on #1852
@openjournals/dev does the paper need to be moved to a `paper` folder?

[2019-11-01 11:09] Kevin-Mattheus-Moerman commented on #1852
@xuanxu @dfm @mbobra can one of you edit this submission?

The paper does not render yet but is here:
https://bitbucket.org/hammurabicode/hamx/src/master/joss/paper.md

[2019-11-01 11:09] whedon opened #1853 "[PRE REVIEW]: ytree: A Python package for analyzing merger trees"
**Submitting author:** @brittonsmith (<a href="http://orcid.org/0000-0002-6804-630X">Britton Smith</a>)
**Repository:** <a href="https://github.com/ytree-project/ytree" target ="_blank">https://github.com/ytree-project/ytree</a>
**Version:** v2.2
**Editor:** @xuanxu
**Reviewers:** @mgckind, @aureliocarnero

**Author instructions**

Thanks for submitting your paper to JOSS @brittonsmith. **Currentl

[2019-11-01 11:09] whedon commented on #1853
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-01 11:09] whedon commented on #1853
[code]

[2019-11-01 11:09] whedon commented on #1853
PDF failed to compile for issue #1853 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1853/paper/paper.md): could not find expected ':' while scanning a simple key at line 27 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	fro

[2019-11-01 11:13] Kevin-Mattheus-Moerman commented on #1853
@brittonsmith Your paper has compilation issues. Please study our guidelines and see if you can trouble shoot these issues.
https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles

You can use this link to test the compilation of your paper: https://whedon.theoj.org/

[2019-11-01 11:13] whedon opened #1854 "[PRE REVIEW]: lightr: import spectral data and metadata in R"
**Submitting author:** @bisaloo (<a href="http://orcid.org/0000-0002-4094-1476">Hugo Gruson</a>)
**Repository:** <a href="https://www.github.com/ropensci/lightr" target ="_blank">https://www.github.com/ropensci/lightr</a>
**Version:** v0.1
**Editor:** @danielskatz
**Reviewers:** @danielskatz

**Author instructions**

Thanks for submitting your paper to JOSS @bisaloo. **Currently, there isn't an JO

[2019-11-01 11:13] whedon commented on #1854
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-01 11:13] whedon commented on #1854
[code]

[2019-11-01 11:14] whedon commented on #1854
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01854/joss.01854/10.21105.joss.01854.pdf)

[2019-11-01 11:15] Kevin-Mattheus-Moerman commented on #1854
Note: This package has been peer-reviewed by rOpenSci (v. 0.1): https://github.com/ropensci/software-review/issues/267

[2019-11-01 11:16] whedon opened #1855 "[PRE REVIEW]: DynaGUI package"
**Submitting author:** @benjaminbolling (<a href="http://orcid.org/0000-0002-6650-5365">Benjamin Edward Bolling</a>)
**Repository:** <a href="https://github.com/benjaminbolling/DynaGUI" target ="_blank">https://github.com/benjaminbolling/DynaGUI</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JOSS @benjaminbolling. **C

[2019-11-01 11:16] whedon commented on #1855
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-01 11:16] whedon commented on #1855
[code]

[2019-11-01 11:16] whedon commented on #1855
PDF failed to compile for issue #1855 with the following error:

 Error reading bibliography ./paper.bib (line 7, column 16):
unexpected "("
expecting letter, digit, white space, "#", "," or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-11-01 11:23] geraintpalmer commented on #1807
Apologies, getting to this today.

[2019-11-01 11:23] Kevin-Mattheus-Moerman commented on #1855
@benjaminbolling please fix your paper compilation issues (https://joss.readthedocs.io/en/latest/submitting.html#checking-that-your-paper-compiles).

Also, after briefly reviewing this submission it, despite being a useful package, may run the risk of falling under the "Minor ‘utility’ packages" category which JOSS does not accept. See our requirements here:
https://joss.readthedocs.io/en/latest/s

[2019-11-01 11:32] Kevin-Mattheus-Moerman commented on #1822
@vitorsr can you comment on/deal with @Atif-Anwer 's feedback/issues?

[2019-11-01 11:32] Kevin-Mattheus-Moerman commented on #1822
@thomakra can you review the updates implemented by @vitorsr ?

[2019-11-01 11:32] benjaminbolling commented on #1855
Dear Kevin,

the software is used at MAX IV Laboratory by multiple groups, including the accelerator division for diagnostics purposes, the Operations Group during beam commissioning and operations, and also by non-scientific technical groups.

Purposes include the possibility of monitoring and analyzing any type of data as the advance tool, the 'DynaGUI NV’, has the possibility of separating wave

[2019-11-01 11:36] arfon commented on #1840
@xuanxu - I recently asked `@dhuppenkothen` to review something and she declined due to current work commitments.

[2019-11-01 11:39] arfon commented on #1778
@finsberg, @abhishektha - it looks like you've both made good progress on your reviews. Could I ask whether you're close to making a recommendation to accept here?

[2019-11-01 11:39] Kevin-Mattheus-Moerman commented on #1825
@wingtorres can you work on adding community guidelines?

Here is some more information on this:
https://help.github.com/en/github/site-policy/github-community-guidelines

Also here is a link to one of my projects. There I link to contributing guidelines in a `CONTRIBUTING.md` file in the `README.md`, which is an approach I recommend.
https://github.com/gibbonCode/GIBBON

If you imagine your contr

[2019-11-01 11:39] danielskatz commented on #1851
@whedon set v1.1.1 as version

[2019-11-01 11:39] whedon commented on #1851
OK. v1.1.1 is the version.

[2019-11-01 11:40] danielskatz commented on #1851
@whedon set 10.5281/zenodo.3523384 as archive

[2019-11-01 11:40] whedon commented on #1851
OK. <a href="https://doi.org/10.5281/zenodo.3523384" target="_blank">10.5281/zenodo.3523384</a> is the archive.

[2019-11-01 11:40] danielskatz commented on #1851
@whedon assign @danielskatz as editor

[2019-11-01 11:40] whedon commented on #1851
OK, the editor is @danielskatz

[2019-11-01 11:40] danielskatz commented on #1851
@whedon assign @danielskatz as reviewer

[2019-11-01 11:40] Kevin-Mattheus-Moerman commented on #1825
@wingtorres can you work on the issues raised by the reviewers? https://github.com/wingtorres/morphometrix/issues

[2019-11-01 11:40] whedon commented on #1851
OK, the reviewer is @danielskatz

[2019-11-01 11:40] danielskatz commented on #1851
@whedon start review

[2019-11-01 11:40] whedon opened #1856 "[REVIEW]: workloopR: Analysis of work loops and other data from muscle physiology experiments in R"
**Submitting author:** @vbaliga (<a href="http://orcid.org/0000-0002-9367-8974">Vikram B. Baliga</a>)
**Repository:** <a href="https://github.com/ropensci/workloopR/" target ="_blank">https://github.com/ropensci/workloopR/</a>
**Version:** v1.1.1
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3523384" target="_blank">10.5281/zenodo.3523384<

[2019-11-01 11:40] whedon commented on #1851
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1856. Feel free to close this issue now!

[2019-11-01 11:40] whedon commented on #1856
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2019-11-01 11:40] whedon commented on #1856
[code]

[2019-11-01 11:40] #1851 closed

[2019-11-01 11:41] whedon commented on #1856
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01856/joss.01856/10.21105.joss.01856.pdf)

[2019-11-01 11:41] danielskatz commented on #1856
Note: this package has been reviewed by rOpenSci: https://github.com/ropensci/software-review/issues/326

[2019-11-01 11:43] danielskatz commented on #1856
@whedon accept

[2019-11-01 11:43] whedon commented on #1856
No archive DOI set. Exiting...

[2019-11-01 11:43] danielskatz commented on #1856
@whedon set 10.5281/zenodo.3523384 as archive

[2019-11-01 11:43] whedon commented on #1856
OK. <a href="https://doi.org/10.5281/zenodo.3523384" target="_blank">10.5281/zenodo.3523384</a> is the archive.

[2019-11-01 11:43] danielskatz commented on #1856
@whedon accept

[2019-11-01 11:43] whedon commented on #1856
[code]

[2019-11-01 11:44] whedon commented on #1856
[code]

[2019-11-01 11:44] whedon commented on #1856
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1069

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1069, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 11:46] danielskatz commented on #1856
@whedon set v1.1.1 as version

[2019-11-01 11:46] whedon commented on #1856
OK. v1.1.1 is the version.

[2019-11-01 11:47] danielskatz commented on #1856
@whedon accept

[2019-11-01 11:47] whedon commented on #1856
[code]

[2019-11-01 11:47] whedon commented on #1856
[code]

[2019-11-01 11:47] whedon commented on #1856
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1070

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1070, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 11:54] danielskatz commented on #1856
👋 @vbaliga - in the paper, can you please add commas after "e.g."s  so that they look like, e.g., this.)
Also, please fix the cases in the first reference - the first word doesn't need to all CAPS...

[2019-11-01 11:59] danielskatz commented on #1855
@benjaminbolling - it is clear that this software is useful and is being used. The question for JOSS is whether it is being used in research. One additional question here is who you expect would cite this package/submission?

[2019-11-01 12:03] danielskatz commented on #1855
Also, I think https://github.com/benjaminbolling/DynaGUI/pull/1 should fix the problem compiling.  Please merge this and then add ```@whedon generate pdf``` as a new comment in this issue to retry.  Feel free to iterate if there are additional problems

[2019-11-01 12:04] danielskatz commented on #1854
@whedon assign @danielskatz as editor

[2019-11-01 12:04] whedon commented on #1854
OK, the editor is @danielskatz

[2019-11-01 12:04] danielskatz commented on #1854
@whedon assign @danielskatz as reviewer

[2019-11-01 12:04] whedon commented on #1854
OK, the reviewer is @danielskatz

[2019-11-01 12:04] danielskatz commented on #1854
@whedon start review

[2019-11-01 12:04] whedon opened #1857 "[REVIEW]: lightr: import spectral data and metadata in R"
**Submitting author:** @bisaloo (<a href="http://orcid.org/0000-0002-4094-1476">Hugo Gruson</a>)
**Repository:** <a href="https://www.github.com/ropensci/lightr" target ="_blank">https://www.github.com/ropensci/lightr</a>
**Version:** v0.1
**Editor:** @danielskatz
**Reviewer:** @danielskatz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3525016" target="_blank">10.5281/zenodo.3525016</a>

##

[2019-11-01 12:04] whedon commented on #1854
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1857. Feel free to close this issue now!

[2019-11-01 12:04] whedon commented on #1857
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @danielskatz it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably currently

[2019-11-01 12:04] whedon commented on #1857
[code]

[2019-11-01 12:04] danielskatz commented on #1857
Note: This package has been peer-reviewed by rOpenSci (v. 0.1): https://github.com/ropensci/software-review/issues/267

[2019-11-01 12:04] #1854 closed

[2019-11-01 12:05] whedon commented on #1857
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01857/joss.01857/10.21105.joss.01857.pdf)

[2019-11-01 12:05] brittonsmith commented on #1853
@Kevin-Mattheus-Moerman, thanks for the note. I think the problem is that the paper is in a subdirectory of the repo linked above. The paper can be found [here](https://github.com/ytree-project/ytree/tree/master/paper). I thought that was the url I gave in the submission form. In any case, if I use that url in the compilation tester, it tells me that paper compilation is complete, although I get a

[2019-11-01 12:13] Kevin-Mattheus-Moerman commented on #1853
@openjournals/dev do you know what is going on here?

[2019-11-01 12:15] danielskatz commented on #1857
@Bisaloo - Can you please merge https://github.com/ropensci/lightr/pull/8

Also, the text in the paper that says

was not possible for me to fully parse so that I could suggest a change.  What is the subject of this sentence? Can you suggest a rephrasing of this sentence?

[2019-11-01 12:21] Bisaloo commented on #1857
file import step (future versions of `pavo` for example will include `lightr` as a dependency). Most packages can indeed currently only read a limited variety of file formats.
Here is an example of a workflow where `lightr` is used to import the spectral data, which is then analysed with `pavo`:

Does that make more sense?

[2019-11-01 12:25] danielskatz commented on #1857
yes.

Can you change

to

[2019-11-01 12:32] Bisaloo commented on #1857
done in https://github.com/ropensci/lightr/commit/1a1abcc6326b35b3da531f4454d7e13ef19faee9

[2019-11-01 12:32] danielskatz commented on #1857
@whedon accept

[2019-11-01 12:32] whedon commented on #1857
No archive DOI set. Exiting...

[2019-11-01 12:34] danielskatz commented on #1857
@Bisaloo - can you please archive the software in a repository, e.g., Zenodo, figshare, and let me know the DOI of the deposit?

[2019-11-01 13:05] oliviaguest commented on #1821
@izaromanowska thank you!

It's up to you how much further feedback or ideas you want to share with the authors.

[2019-11-01 13:06] Bisaloo commented on #1857
Sorry for the delay. For some reason, I couldn't use GitHub integration feature on the rOpenSci repo so I mirrored it on my own account.

The DOI is 10.5281/zenodo.3525016

[2019-11-01 13:29] finsberg commented on #1778
@arfon I am still not able to install this software using pip (see https://github.com/matt002/GaitPy/issues/9). When this issue is fixed I will recommend acceptance.

[2019-11-01 13:32] oliviaguest commented on #1666
@whedon accept deposit=true

[2019-11-01 13:32] whedon commented on #1666
I'm sorry @oliviaguest, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-11-01 13:32] oliviaguest commented on #1666
@arfon :rofl: — need your help!

[2019-11-01 13:49] danielskatz commented on #1666
@oliviaguest - please notify @openjournals/joss-eics when a submission is ready for acceptance (since we have a rotation of AEiCs).  Is that the case with this one?

[2019-11-01 13:50] danielskatz commented on #1857
@whedon set 10.5281/zenodo.3525016 as archive

[2019-11-01 13:50] whedon commented on #1857
OK. <a href="https://doi.org/10.5281/zenodo.3525016" target="_blank">10.5281/zenodo.3525016</a> is the archive.

[2019-11-01 13:50] danielskatz commented on #1857
@whedon accept

[2019-11-01 13:50] whedon commented on #1857
[code]

[2019-11-01 13:50] whedon commented on #1857
[code]

[2019-11-01 13:51] whedon commented on #1857
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1071

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1071, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 13:52] dfm commented on #1852
@Kevin-Mattheus-Moerman: sure! I'm happy to take this.

@gioacchinowang: please take a look at [this list of potential reviewers](https://bit.ly/joss-reviewers) and let me know if there's anyone who you think would be an especially good fit.

[2019-11-01 13:52] danielskatz commented on #1857
@whedon accept deposit=true

[2019-11-01 13:52] whedon commented on #1857
[code]

[2019-11-01 13:52] dfm commented on #1852
@whedon assign @dfm as editor

[2019-11-01 13:52] whedon commented on #1852
OK, the editor is @dfm

[2019-11-01 13:53] whedon commented on #1857
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1190265519468941312) 👈 🐦🐦🐦

[2019-11-01 13:53] whedon commented on #1857
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1072
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01857](https://doi.org/10.21105/joss.01857)
2. If everything looks g

[2019-11-01 13:53] danielskatz commented on #1855
@whedon generate pdf

[2019-11-01 13:53] whedon commented on #1855
[code]

[2019-11-01 13:53] whedon commented on #1855
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01855/joss.01855/10.21105.joss.01855.pdf)

[2019-11-01 13:55] danielskatz commented on #1855
It looks like the references are not cited in the .md file, so while the paper compiles, there are no references found to be needed to be included in the paper

[2019-11-01 13:56] danielskatz commented on #1857
Thanks @Bisaloo for submitting this to JOSS as well - it's all done now!

[2019-11-01 13:56] whedon commented on #1857
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01857/status.svg)](https://doi.org/10.21105/joss.01857)

**We need your help!**

Journal of Open Source Softwa

[2019-11-01 13:57] Bisaloo commented on #1857
@danielskatz, sorry, I just realized (a couple of seconds too late) that the ORCID for Thomas White is wrong. Is there a way to update it?

The correct ORCID is 0000-0002-3976-1734

[2019-11-01 13:59] danielskatz commented on #1857
@bisaloo - please change the .md file to fix this, then let us know it is done
@arfon - can you then regenerate the PDF and metadata

[2019-11-01 14:00] Bisaloo commented on #1857
I already did it in https://github.com/ropensci/lightr/commit/e0e25a657357e64ce045afc45cc541e2ae3893ab.

Thanks!

[2019-11-01 14:02] danielskatz commented on #1857
@arfon, can you regenerate the PDF and metadata and replace the old versions in the various places?

[2019-11-01 14:02] dfm commented on #1840
Another potential reviewer: @benjaminrose

[2019-11-01 14:05] dfm commented on #1836
@1mikegrn: it's taking a while to get a second reviewer, but we'll get there. Thanks for your patience!

In the meantime, a quick suggestion: can you make sure that you're not committing autogenerated files to the repo (e.g. the `.c` and `.pyd` files and `build` directory in `libRL`).

[2019-11-01 14:05] oliviaguest commented on #1666
@danielskatz yup, ta!

[2019-11-01 14:07] danielskatz commented on #1666
@whedon accept

[2019-11-01 14:07] whedon commented on #1666
[code]

[2019-11-01 14:07] whedon commented on #1666
[code]

[2019-11-01 14:07] whedon commented on #1666
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1073

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1073, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 14:11] arfon commented on #1857
That sounds be updated now.

[2019-11-01 14:13] danielskatz commented on #1857
thanks!

[2019-11-01 14:13] #1857 closed

[2019-11-01 14:13] whedon commented on #1857
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01857/status.svg)](https://doi.org/10.21105/joss.01857)

**We need your help!**

Journal of Open Source Softwa

[2019-11-01 14:18] danielskatz commented on #1666
@whedon accept deposit=true

[2019-11-01 14:18] whedon commented on #1666
[code]

[2019-11-01 14:18] whedon commented on #1666
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1190271985705783296) 👈 🐦🐦🐦

[2019-11-01 14:18] whedon commented on #1666
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1074
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01666](https://doi.org/10.21105/joss.01666)
2. If everything looks g

[2019-11-01 14:18] danielskatz commented on #1666
Thanks to @dmbates and @ahwillia for reviewing, and @oliviaguest for editing!

[2019-11-01 14:19] Bisaloo commented on #1857
Thanks a bunch for reviewing @danielskatz and to you both for fixing my mistakes!

[2019-11-01 14:20] danielskatz commented on #1666
Congratulations @kahaaga!

[2019-11-01 14:20] #1666 closed

[2019-11-01 14:20] whedon commented on #1666
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01666/status.svg)](https://doi.org/10.21105/joss.01666)

**We need your help!**

Journal of Open Source Softwa

[2019-11-01 14:22] whedon opened #1858 "[PRE REVIEW]: The DynaGUI package"
**Submitting author:** @benjaminbolling (<a href="http://orcid.org/0000-0002-6650-5365">Benjamin Edward Bolling</a>)
**Repository:** <a href="https://github.com/benjaminbolling/DynaGUI" target ="_blank">https://github.com/benjaminbolling/DynaGUI</a>
**Version:** v1.0.0
**Editor:** @majensen
**Reviewers:** @Chilipp, @pythonpanda2

**Author instructions**

Thanks for submitting your paper to JOSS @b

[2019-11-01 14:22] whedon commented on #1858
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-01 14:22] whedon commented on #1858
[code]

[2019-11-01 14:22] whedon opened #1859 "[PRE REVIEW]: NeuroDiffEq: A Python package for solving differential equations with neural networks"
**Submitting author:** @feiyu-chen96 (<a href="http://orcid.org/0000-0002-0476-9998">Feiyu Chen</a>)
**Repository:** <a href="https://github.com/odegym/neurodiffeq" target ="_blank">https://github.com/odegym/neurodiffeq</a>
**Version:** 1.0.0
**Editor:** @drvinceknight
**Reviewers:** @dawbarton, @marcharper

**Author instructions**

Thanks for submitting your paper to JOSS @feiyu-chen96. **Current

[2019-11-01 14:22] whedon commented on #1859
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-01 14:23] whedon commented on #1859
[code]

[2019-11-01 14:23] whedon commented on #1859
PDF failed to compile for issue #1859 with the following error:

 Can't find any papers to compile :-(

[2019-11-01 14:23] whedon commented on #1858
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01858/joss.01858/10.21105.joss.01858.pdf)

[2019-11-01 14:23] danielskatz commented on #1853
@whedon generate pdf

[2019-11-01 14:23] whedon commented on #1853
[code]

[2019-11-01 14:24] whedon commented on #1853
PDF failed to compile for issue #1853 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (tmp/1853/paper/paper.md): could not find expected ':' while scanning a simple key at line 27 column 1 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	fro

[2019-11-01 14:25] jarvist commented on #1453
I've just been reviewing this software + paper, but I can't seem to edit the checkboxes (also, they are still allocated to James Clark. @alexhanna - is this something you can fix?

Generally I'm happy with the package... it installs and tests run. I think the latest draft of the paper looks good.

However, I still think the package README.md could be edited down to make it more clear, and make it

[2019-11-01 14:26] danielskatz commented on #1853
👋 @brittonsmith - It looks the the line after the metadata containing ```---``` is missing - please add this line to the paper.md and issue ```@whedon generate pdf``` as a new comment here to try again

[2019-11-01 14:26] danielskatz commented on #1859
@whedon generate pdf

[2019-11-01 14:26] whedon commented on #1859
[code]

[2019-11-01 14:27] whedon commented on #1859
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01859/joss.01859/10.21105.joss.01859.pdf)

[2019-11-01 14:28] danielskatz commented on #1858
👋 @benjaminbolling - You also submitted https://github.com/openjournals/joss-reviews/issues/1855 - can you explain why there are 2 submissions?

[2019-11-01 14:31] kahaaga commented on #1666
Thanks to you all: @dmbates, @ahwillia for the reviews, to @danielskatz for help with the initial submission, and to @oliviaguest for managing everything and making the publication process so smooth 😃

[2019-11-01 14:32] danielskatz commented on #1859
👋 @feiyu-chen96 - this paper may be a bit too long - see https://joss.readthedocs.io/en/latest/submitting.html#what-should-my-paper-contain
Please consider shortening it by moving some of the content to the software documentation.

[2019-11-01 14:32] vbaliga commented on #1856
Hi @danielskatz - thanks for catching these. I pushed a new commit (https://github.com/ropensci/workloopR/commit/0fc4be098671cfd0fb2d3ab7f72480309cbc767e) that takes care of both the comma issue and the CAPS issue. I did not create a new release, so the one I made yesterday ([v1.1.1](https://github.com/ropensci/workloopR/releases/tag/v1.1.1)) is still the latest one in our Zenodo archive (https://

[2019-11-01 14:32] benjaminbolling commented on #1858
Hi,

About the 2 versions - I uploaded one and got errors due to not having properly filled out affiliations. So I withdrew the first version (I thought), fixed the issue and re-uploaded.

/Benjamin

[2019-11-01 14:32] danielskatz commented on #1859
Also, I note that some of the citations to references are missing spaces before them.  And most of the references are missing DOIs

[2019-11-01 14:34] danielskatz commented on #1859
👋 @drvinceknight - would you be willing to edit this submission?

[2019-11-01 14:35] kbarnhart commented on #1818
@brmather Thanks for the update. I appreciate your being willing to do a review 👍 🎉 .

[2019-11-01 14:35] #1855 closed

[2019-11-01 14:35] danielskatz commented on #1858
ok, the other issue is still open but I will close it, and we can proceed here.

[2019-11-01 14:36] danielskatz commented on #1858
It looks like the references are not cited in the .md file, so while the paper compiles, there are no references found to be needed to be included in the paper.

[2019-11-01 14:36] danielskatz commented on #1858
It is clear that this software is useful and is being used. The question for JOSS is whether it is being used in research. One additional question here is who you expect would cite this package/submission?

[2019-11-01 14:37] danielskatz commented on #1856
@whedon accept

[2019-11-01 14:37] whedon commented on #1856
[code]

[2019-11-01 14:37] whedon commented on #1856
[code]

[2019-11-01 14:37] whedon commented on #1856
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1075

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1075, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 14:40] danielskatz commented on #1856
@vbaliga - one more small change is needed - the first reference title should have a "-" in the middle: "How muscles function - the work loop technique"

[2019-11-01 14:53] vbaliga commented on #1856
@danielskatz - OK no problem. I just pushed a commit (https://github.com/ropensci/workloopR/commit/632352453351bc86991242aa9cf79195341c2ba1) that replaced the dash. I think that should take care of the issue.

[2019-11-01 14:54] danielskatz commented on #1856
@whedon accept

[2019-11-01 14:54] whedon commented on #1856
[code]

[2019-11-01 14:54] whedon commented on #1856
[code]

[2019-11-01 14:54] whedon commented on #1856
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1076

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1076, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 14:55] danielskatz commented on #1856
@whedon generate pdf

[2019-11-01 14:55] whedon commented on #1856
[code]

[2019-11-01 14:55] whedon commented on #1856
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01856/joss.01856/10.21105.joss.01856.pdf)

[2019-11-01 14:56] danielskatz commented on #1856
@whedon accept

[2019-11-01 14:56] whedon commented on #1856
[code]

[2019-11-01 14:56] whedon commented on #1856
[code]

[2019-11-01 14:56] whedon commented on #1856
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1077

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1077, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 14:57] danielskatz commented on #1856
@whedon accept deposit=true

[2019-11-01 14:57] whedon commented on #1856
[code]

[2019-11-01 14:57] danielskatz commented on #1856
👋 @vbaliga - thanks for doing the extra work to get this in JOSS!

[2019-11-01 14:57] whedon commented on #1856
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1190281821319258112) 👈 🐦🐦🐦

[2019-11-01 14:57] whedon commented on #1856
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1078
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01856](https://doi.org/10.21105/joss.01856)
2. If everything looks g

[2019-11-01 15:00] vitorsr commented on #1822
@Kevin-Mattheus-Moerman, I have noted @Atif-Anwer's concerns and am currently working on pushing changes that incorporate his feedback to the repository. Whenever I do so, I will ping you and the reviewers in this thread.

In the meantime, if @thomakra has additional comments on the updates, I'll be happy to incorporate them as well.

[2019-11-01 15:00] #1856 closed

[2019-11-01 15:00] whedon commented on #1856
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01856/status.svg)](https://doi.org/10.21105/joss.01856)

**We need your help!**

Journal of Open Source Softwa

[2019-11-01 16:01] alexhanna commented on #1453
Hrm, try now @jarvist? I changed the name on the issue, but I'm not sure if that does anything.

[2019-11-01 16:03] jarvist commented on #1453
Still no 'edit' option in the '...' drop down menu.

[2019-11-01 16:04] geraintpalmer commented on #1807
Submitted issue https://github.com/martinfleis/momepy/issues/103 to the original repository.

[2019-11-01 16:04] alexhanna commented on #1453
You shouldn't need to edit it. You can click the checkboxes without editing. Does that work for you?

[2019-11-01 16:21] Kevin-Mattheus-Moerman commented on #1846
@paulvangentcom @J535D165 @DominiqueMakowski @ismorphism @PGomes92 would you be interested in reviewing this submission for [JOSS](https://joss.theoj.org/)? It concerns a Python package for Heart Rate Variability Analysis.

This is a pre-review issue which we use to recruit reviewers. Once we have sufficient reviewers we open a dedicated review issue. The [review process](https://joss.readthedocs.

[2019-11-01 16:23] brittonsmith commented on #1853
Oh, thanks for catching that, @danielskatz!

[2019-11-01 16:23] brittonsmith commented on #1853
@whedon generate pdf

[2019-11-01 16:23] whedon commented on #1853
[code]

[2019-11-01 16:24] whedon commented on #1853
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01853/joss.01853/10.21105.joss.01853.pdf)

[2019-11-01 16:25] brittonsmith commented on #1853
Ok, I think we're back on track. Thanks everyone for their help.

[2019-11-01 16:27] vbaliga commented on #1856
Hi @danielskatz,
Thank you sincerely for all your help! @shreeramsenthi and I both appreciate your patience in getting us through the extra steps and we are very happy to now be published in JOSS.
Best regards,
Vikram Baliga

[2019-11-01 16:33] jarvist commented on #1453
No joy there either. (I think the GUI checkbox clicking is predicated by edit permissions.)

[2019-11-01 17:13] danielskatz commented on #1853
👋 @dfm or @xuanxu, would one of you be willing to edit this submission?

[2019-11-01 17:13] benjaminrose commented on #1840
I can review this project.

[2019-11-01 17:13] sambitdash commented on #1453
Hi @jarvist,

Thanks a lot for taking time to review the software and the paper. Also reporting the bug on the product.

All methods starting with `pd` documented under: https://sambitdash.github.io/PDFIO.jl/dev/#PD-1 are high level functions.

`pd` does not stand for `PDFIO` but `PDF Document` or simply called `PD Layer` in most PDF format architectures. This is to differentiate from low level fu

[2019-11-01 17:22] melissawm commented on #1824
@whedon generate pdf

[2019-11-01 17:22] whedon commented on #1824
[code]

[2019-11-01 17:22] whedon commented on #1824
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01824/joss.01824/10.21105.joss.01824.pdf)

[2019-11-01 17:25] abhishektha commented on #1778
@arfon I just have a few more things to check off, will have it done this weekend!

[2019-11-01 17:30] srmnitc commented on #1824
@melissawm PDF looks to be correct. Thanks!

[2019-11-01 17:40] leouieda commented on #1797
@jmansour not that I'm aware of. You could always add the new affiliation and list the author as having both.

[2019-11-01 17:45] alexhanna commented on #1453
👋 @openjournals/joss-eics can you look into the checkbox issue for new reviewers?

[2019-11-01 17:55] dfm commented on #1853
@danielskatz: I'd like to finish my first two before taking on another. Let me know if you can't get it sorted.

[2019-11-01 18:10] melissawm commented on #1824
@srmnitc A few points on the citations:
- In the citation of *Auer, S. & Frenkel, D. (2005)*, the correct citation from (https://link.springer.com/chapter/10.1007%2Fb99429#citeas)[Springer] reads: "Cite this chapter as: Auer S., Frenkel D. Numerical Simulation of Crystal Nucleation in Colloids. In: Dr. Holm C., Prof. Dr. Kremer K. (eds) Advanced Computer Simulation. Advances in Polymer Science, vo

[2019-11-01 18:22] gmweaver commented on #1761
@jsgalan awesome, thanks for all the feedback!

@mgymrek I believe I have addressed both reviewers comments, let me know if there is anything else I can provide for the review

[2019-11-01 18:23] melissawm commented on #1823
@dalonsoa would you be willing/available to review this software paper for JOSS? Thank you.

[2019-11-01 18:24] melissawm commented on #1823
@whedon assign @wholmgren as reviewer

[2019-11-01 18:24] whedon commented on #1823
OK, the reviewer is @wholmgren

[2019-11-01 18:24] srmnitc commented on #1824
@melissawm I have not included the number for any of the citations. Should I include the number too?

[2019-11-01 18:25] melissawm commented on #1824
@srmnitc If it's consistent I believe it's not necessary.

[2019-11-01 18:26] srmnitc commented on #1824
@melissawm  thanks. I am checking the other corrections you pointed out.

[2019-11-01 18:45] srmnitc commented on #1824
@melissawm  I have corrected most of the issues. I have not included number/issue in any of the citations. For pybind11, I have used the proposed way of citation by the developers. Also for page numbers, I have only used the first page number. Once again, thanks for the suggestions!

[2019-11-01 18:51] melissawm commented on #1824
@whedon set 10.5281/zenodo.3522376 as archive

[2019-11-01 18:51] whedon commented on #1824
OK. <a href="https://doi.org/10.5281/zenodo.3522376" target="_blank">10.5281/zenodo.3522376</a> is the archive.

[2019-11-01 18:52] melissawm commented on #1824
@openjournals/joss-eics I believe this is ready for final acceptance.

Thanks, @srmnitc !

[2019-11-01 19:13] lskatz commented on #1762
Thank you @standage for that wonderful review!  To address one concern, I think that the issue might have been that I did not have a complete `cpanm` command, when I should have had `-l ~` in there.  So now one of the lines in INSTALL.md now reads as

    cpanm -l ~ --notest BioPerl Bio::Sketch::Mash DBD::SQLite DBI Graph::Dijkstra

Fixed in 71f7470

[2019-11-01 19:30] srmnitc commented on #1824
Thanks @melissawm !

[2019-11-01 19:48] finsberg commented on #1778
@arfon I am done with my review, and recommend GaitPy for publication in JOSS.

[2019-11-01 19:55] kthyng commented on #1693
Hi @Shibabrat will you be able to complete your review soon?

[2019-11-01 19:56] kthyng commented on #1768
@ethanwhite Just a friendly ping here.

[2019-11-01 20:00] toph-allen commented on #1766
Sorry for my going awol on this thread — I had a few deadlines come up which have made working on this tough. I’m going to try to begin addressing some of the issues in the next week.

[2019-11-01 20:00] mkhorton commented on #1836
Sorry, I don't think I'd be a suitable reviewer for this one!

[2019-11-01 20:06] xuanxu commented on #1853
@danielskatz yes, I can take this

[2019-11-01 20:06] xuanxu commented on #1853
@whedon set @xuanxu as editor

[2019-11-01 20:09] xuanxu commented on #1853
@whedon assign @xuanxu as editor

[2019-11-01 20:09] whedon commented on #1853
OK, the editor is @xuanxu

[2019-11-01 20:13] tobydriscoll commented on #1811
@whedon generate pdf

[2019-11-01 20:13] whedon commented on #1811
[code]

[2019-11-01 20:13] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-01 20:15] danielskatz commented on #1453
@arfon - can you help with the reviewer invitation here?

[2019-11-01 20:18] danielskatz commented on #1824
@srmnitc - is the version still v2.0.0?

[2019-11-01 20:19] ethanwhite commented on #1768
Thanks @kthyng and apologies again. Hoping to get this done very soon.

[2019-11-01 20:19] danielskatz commented on #1824
@whedon generate pdf

[2019-11-01 20:19] whedon commented on #1824
[code]

[2019-11-01 20:19] whedon commented on #1824
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01824/joss.01824/10.21105.joss.01824.pdf)

[2019-11-01 20:23] srmnitc commented on #1824
@danielskatz its 2.0.1 now. Thanks!

[2019-11-01 20:23] danielskatz commented on #1824
@whedon set v2.0.1 as version

[2019-11-01 20:23] whedon commented on #1824
OK. v2.0.1 is the version.

[2019-11-01 20:23] danielskatz commented on #1824
@whedon accept

[2019-11-01 20:23] whedon commented on #1824
[code]

[2019-11-01 20:24] whedon commented on #1824
[code]

[2019-11-01 20:24] whedon commented on #1824
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1079

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1079, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 20:26] danielskatz commented on #1824
@srmnitc - can you remove the space before the colon in the paper.md and the zenodo repository title?  This should be "pyscal: A ..."

[2019-11-01 20:30] srmnitc commented on #1824
@danielskatz made the changes. thanks!

[2019-11-01 20:31] danielskatz commented on #1824
Can you also merge https://github.com/srmnitc/pyscal/pull/38 ?

[2019-11-01 20:33] srmnitc commented on #1824
@danielskatz merged

[2019-11-01 20:35] danielskatz commented on #1824
@whedon generate pdf

[2019-11-01 20:35] whedon commented on #1824
[code]

[2019-11-01 20:35] whedon commented on #1824
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01824/joss.01824/10.21105.joss.01824.pdf)

[2019-11-01 20:36] danielskatz commented on #1824
@whedon accept

[2019-11-01 20:36] whedon commented on #1824
[code]

[2019-11-01 20:36] whedon commented on #1824
[code]

[2019-11-01 20:36] whedon commented on #1824
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1080

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1080, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 20:36] dpsanders commented on #1811
There seems to be a problem with unicode characters in the Julia source code. @drvinceknight what can be done about that?

[2019-11-01 20:38] danielskatz commented on #1824
sorry, I didn't check the bib entries at the same time - can you also merge https://github.com/srmnitc/pyscal/pull/39 ?

[2019-11-01 20:39] srmnitc commented on #1824
@danielskatz merged. thanks!

[2019-11-01 20:39] danielskatz commented on #1824
@whedon generate pdf

[2019-11-01 20:39] whedon commented on #1824
[code]

[2019-11-01 20:40] whedon commented on #1824
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01824/joss.01824/10.21105.joss.01824.pdf)

[2019-11-01 20:40] danielskatz commented on #1824
@whedon accept

[2019-11-01 20:40] whedon commented on #1824
[code]

[2019-11-01 20:40] whedon commented on #1824
[code]

[2019-11-01 20:40] whedon commented on #1824
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1081

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1081, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-01 20:41] danielskatz commented on #1824
@whedon accept deposit=true

[2019-11-01 20:41] whedon commented on #1824
[code]

[2019-11-01 20:42] whedon commented on #1824
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1190368521433296896) 👈 🐦🐦🐦

[2019-11-01 20:42] whedon commented on #1824
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1082
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01824](https://doi.org/10.21105/joss.01824)
2. If everything looks g

[2019-11-01 20:42] danielskatz commented on #1824
Thanks to @lucydot & @bocklund for reviewing and @melissawm for editing!
And to @srmnitc for putting up with up with a bunch of little last minute changes!

[2019-11-01 20:43] #1824 closed

[2019-11-01 20:43] whedon commented on #1824
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01824/status.svg)](https://doi.org/10.21105/joss.01824)

**We need your help!**

Journal of Open Source Softwa

[2019-11-01 20:44] srmnitc commented on #1824
@danielskatz thanks a lot !

[2019-11-01 20:44] whedon opened #1860 "[PRE REVIEW]: cdcam: Cambridge Digital Communications Assessment Model"
**Submitting author:** @tomalrussell (<a href="http://orcid.org/0000-0002-0081-400X">Tom Russell</a>)
**Repository:** <a href="https://github.com/nismod/cdcam" target ="_blank">https://github.com/nismod/cdcam</a>
**Version:** v1.0.0
**Editor:** @melissawm
**Reviewers:** @nmstreethran, @potterzot

**Author instructions**

Thanks for submitting your paper to JOSS @tomalrussell. **Currently, there is

[2019-11-01 20:44] whedon commented on #1860
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-01 20:44] whedon commented on #1860
[code]

[2019-11-01 20:45] whedon commented on #1860
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01860/joss.01860/10.21105.joss.01860.pdf)

[2019-11-01 20:48] danielskatz commented on #1860
@melissawm - would you be willing to edit this submission?

[2019-11-01 21:02] tobydriscoll commented on #1811
I'm not married to using unicode for this submission. I've pushed a change that avoids it.

[2019-11-01 21:13] melissawm commented on #1860
Sure, I can do it.

[2019-11-01 21:14] tobydriscoll commented on #1811
@drvinceknight I think I have addressed the reviewers' comments. Both were quite helpful.

[2019-11-01 21:14] danielskatz commented on #1860
Thanks - the next step is for me to assign you, but note that you could also do this yourself :)

[2019-11-01 21:14] danielskatz commented on #1860
@whedon assign @melissawm as editor

[2019-11-01 21:14] whedon commented on #1860
OK, the editor is @melissawm

[2019-11-01 21:14] melissawm commented on #1860
@whedon assign @melissawm as editor

[2019-11-01 21:14] whedon commented on #1860
OK, the editor is @melissawm

[2019-11-01 21:15] whedon opened #1861 "[PRE REVIEW]: univariateML: An R package for maximum likelihood estimation of univariate densities"
**Submitting author:** @JonasMoss (<a href="http://orcid.org/0000-0002-6876-6964">Jonas Moss</a>)
**Repository:** <a href="https://github.com/JonasMoss/univariateML" target ="_blank">https://github.com/JonasMoss/univariateML</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @MaaniBeigy, @vbaliga

**Author instructions**

Thanks for submitting your paper to JOSS @JonasMoss. **Currently, the

[2019-11-01 21:15] whedon commented on #1861
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-11-01 21:15] whedon commented on #1861
[code]

[2019-11-01 21:15] whedon commented on #1861
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01861/joss.01861/10.21105.joss.01861.pdf)

[2019-11-01 21:19] danielskatz commented on #1861
:wave: @karthik - would you be willing to edit this submission?

[2019-11-01 21:47] arfon commented on #1778
👍 many thanks @finsberg!

[2019-11-01 21:49] arfon commented on #1453
@jarvist - you've been invited by GitHub as a collaborator on this repository - you just need to accept the invite at this URL: https://github.com/openjournals/joss-reviews/invitations

[2019-11-01 22:03] karthik commented on #1861
Sorry, I don't have bandwidth to handle new submissions at this time. 😢

[2019-11-02 08:35] gioacchinowang commented on #1852
@dfm Thanks for being my editor!

I checked the potential reviewer list,
in my opinion,
reviewers with "C++/Python" as preferred and "astrophysics" fit my submission,
so for example:

adam-m-jcbs,
ziotom78,
williamjameshandley,
andrewfowlie,
harpolea,
danehkar

Many thanks!

[2019-11-02 10:57] arfon commented on #1861
:wave: @danielskatz - I can take this.

[2019-11-02 10:57] arfon commented on #1861
@whedon assign @arfon as editor

[2019-11-02 10:57] whedon commented on #1861
OK, the editor is @arfon

[2019-11-02 10:58] arfon commented on #1861
:wave: @JonasMoss - thanks for your submission to JOSS. Could you take a look at [this list of people](https://bit.ly/joss-reviewers) who have volunteered to review for JOSS and see if there are any good candidates?

[2019-11-02 11:57] dfm commented on #1852
:wave: @zonca: Any chance you're available to review this submission?

[2019-11-02 11:58] dfm commented on #1852
:wave: @manodeep: Any chance you're available to review this submission?

[2019-11-02 13:22] JonasMoss commented on #1861
Hi @arfon! I would like to nominate @vbaliga and @MaaniBeigy!

[2019-11-02 13:55] danielskatz commented on #1815
👋 @Akash-Nag - can you update us on this review and your progress in addressing the issues discussed above?

[2019-11-02 13:57] danielskatz commented on #1685
👋 @usethedata - how is this going?

[2019-11-02 13:59] danielskatz commented on #1814
👋 @VivianePons - What's the status of this submission?

[2019-11-02 14:00] danielskatz commented on #1620
👋 @MLHale - did this happen?

[2019-11-02 14:01] danielskatz commented on #1642
👋 @jnoynaert & @oliviaguest - what's the status of this now?

[2019-11-02 14:03] danielskatz commented on #1708
👋 @GullyAPCBurns, @gbader - How are your reviews coming?

[2019-11-02 14:33] PGomes92 commented on #1846
Hi @Kevin-Mattheus-Moerman,

thanks for asking me!

I would be glad to provide some help in the review and to provide some feedback on this work. I will have a closer look at the review process during the next days and let you know as soon as I have some questions.

[2019-11-02 14:33] arfon commented on #1861
@vbaliga and @MaaniBeigy - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2019-11-02 14:43] MaaniBeigy commented on #1861
Yes, I am interested.

[2019-11-02 15:07] neuroimaginador commented on #1842
Hello, I'd like to review this work!!

El jue., 31 oct. 2019 15:17, Ariel Rokem <notifications@github.com>
escribió:

[2019-11-02 15:14] MLHale commented on #1620
@danielskatz @cMadan - Yes, just now - my apologies. Thanks for the reminder. I apparently had an un-pushed commit.

Changes are pushed now on commit:
https://github.com/MLHale/eyestream/commit/7a95b7423f7ad2a4f3d1053025b890baa189f42d

[2019-11-02 15:15] MLHale commented on #1620
@whedon generate pdf

[2019-11-02 15:15] whedon commented on #1620
[code]

[2019-11-02 15:15] whedon commented on #1620
PDF failed to compile for issue #1620 with the following error:

 Error reading bibliography ./paper.bib (line 20, column 3):
unexpected "y"
expecting space, ",", white space or "}"
Error running filter pandoc-citeproc:
Filter returned error status 1
Looks like we failed to compile the PDF

[2019-11-02 15:16] MLHale commented on #1620
@whedon generate pdf

[2019-11-02 15:16] whedon commented on #1620
[code]

[2019-11-02 15:17] whedon commented on #1620
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01620/joss.01620/10.21105.joss.01620.pdf)

[2019-11-02 15:27] arfon commented on #1861
@whedon add @MaaniBeigy as reviewer

[2019-11-02 15:27] whedon commented on #1861
OK, @MaaniBeigy is now a reviewer

[2019-11-02 15:28] arfon commented on #1861
Excellent, thanks @MaaniBeigy - I won't start the review until I've found a second review so for now, please just sit tight.

[2019-11-02 15:29] Kevin-Mattheus-Moerman commented on #1846
@whedon add @PGomes92 as reviewer

[2019-11-02 15:30] whedon commented on #1846
OK, @PGomes92 is now a reviewer

[2019-11-02 16:08] finsberg commented on #1848
@whedon generate pdf

[2019-11-02 16:08] whedon commented on #1848
[code]

[2019-11-02 16:09] whedon commented on #1848
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01848/joss.01848/10.21105.joss.01848.pdf)

[2019-11-02 16:14] fcooper8472 commented on #1848
@finsberg looks as though the markdown list I put in with the new instructions hasn't rendered nicely.  It's just a standard list in the source - any ideas?

[2019-11-02 16:52] finsberg commented on #1848
I am not sure, but one thing you could try is to add a new line between each item. You can just execute the command `@whedon generate pdf` as a comment here to check the pdf afterwards.

[2019-11-02 17:11] arokem commented on #1842
Thanks @neuroimaginador ! You are on!

[2019-11-02 17:11] arokem commented on #1842
@whedon add @neuroimaginador as reviewer

[2019-11-02 17:12] whedon commented on #1842
OK, @neuroimaginador is now a reviewer

[2019-11-02 17:12] arokem commented on #1842
@whedon start review

[2019-11-02 17:12] whedon opened #1862 "[REVIEW]: Miet: an R package for region of interest analysis from magnetic reasonance images"
**Submitting author:** @benoit-combes (<a href="http://orcid.org/0000-0003-4161-7093">Benoit Combès</a>)
**Repository:** <a href="https://gitlab.inria.fr/miet/miet" target ="_blank">https://gitlab.inria.fr/miet/miet</a>
**Version:** v0.2
**Editor:** @arokem
**Reviewer:** @janfreyberg, @neuroimaginador
**Archive:** <a href="https://doi.org/10.5281/zenodo.3626693" target="_blank">10.5281/zenodo.3626

[2019-11-02 17:13] whedon commented on #1842
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1862. Feel free to close this issue now!

[2019-11-02 17:13] whedon commented on #1862
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @janfreyberg, @neuroimaginador it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're

[2019-11-02 17:13] whedon commented on #1862
[code]

[2019-11-02 17:13] whedon commented on #1862
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01862/joss.01862/10.21105.joss.01862.pdf)

[2019-11-02 17:14] arokem commented on #1842
Alright, @janfreyberg and @neuroimaginador, please head over to #1862 for your reviewer check-lists. Feel free to tag me into issues, if you have any questions, as you work through this. I'll close this now. Thanks again!

[2019-11-02 17:14] #1842 closed

[2019-11-02 17:35] danielskatz commented on #1487
👋 @tesch1 - any news? I would like to get this published :)

[2019-11-02 17:52] gbader commented on #1708
The new paragraph looks great.  In my view, this paper should be accepted.

Sorry for the delay. I like the idea of this journal, but one issue with running peer review on github is that the emails all come from github, which I happen to have filtered due to the large number of automated emails I get from github.

[2019-11-02 18:30] vbaliga commented on #1861
Hi @arfon and @JonasMoss - I am willing but I should mention that the next week or so is looking pretty busy. I don't see info in the JOSS guidelines about how long a window reviewers are given to return feedback. Would completing my review closer to mid- or end-November be OK? If you'd like to process this in a more timely manner, I won't be offended if you'd rather ask someone else.

[2019-11-02 20:00] arfon commented on #1861
@vbaliga mid-end of November would be great. I'll add you as a review now...

[2019-11-02 20:00] arfon commented on #1861
@whedon add @vbaliga as reviewer

[2019-11-02 20:00] whedon commented on #1861
OK, @vbaliga is now a reviewer

[2019-11-02 20:00] arfon commented on #1861
@whedon start review

[2019-11-02 20:00] whedon commented on #1861
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1863. Feel free to close this issue now!

[2019-11-02 20:00] whedon opened #1863 "[REVIEW]: univariateML: An R package for maximum likelihood estimation of univariate densities"
**Submitting author:** @JonasMoss (<a href="http://orcid.org/0000-0002-6876-6964">Jonas Moss</a>)
**Repository:** <a href="https://github.com/JonasMoss/univariateML" target ="_blank">https://github.com/JonasMoss/univariateML</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @MaaniBeigy, @vbaliga
**Archive:** <a href="https://doi.org/10.5281/zenodo.3562385" target="_blank">10.5281/zenodo.356

[2019-11-02 20:00] whedon commented on #1863
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MaaniBeigy, @vbaliga it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-02 20:00] whedon commented on #1863
[code]

[2019-11-02 20:01] whedon commented on #1863
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01863/joss.01863/10.21105.joss.01863.pdf)

[2019-11-02 20:01] arfon commented on #1861
@MaaniBeigy, @vbaliga, @JonasMoss - see you over in #1863 for the actual review.

[2019-11-02 20:01] #1861 closed

[2019-11-02 20:01] arfon commented on #1863
@MaaniBeigy, @vbaliga - please carry out your review in this issue by updating the checklist above and giving feedback in this issue. The reviewer guidelines are available here: https://joss.readthedocs.io/en/latest/reviewer_guidelines.html

Any questions/concerns please let me know.

[2019-11-02 20:01] arfon commented on #1863
Adding a note here for myself that @vbaliga won't be able to complete their review until mid-late November.

[2019-11-02 21:00] mattpitkin commented on #1840
Sorry for the delayed response. I'm happy to review this

[2019-11-02 21:08] vbaliga commented on #1863
👌 Got it - will do my best to not leave you hanging!

[2019-11-02 21:27] xuanxu commented on #1840
@benjaminrose, @mattpitkin thanks! I’ll start the review issue right away.

[2019-11-02 21:28] xuanxu commented on #1840
@whedon add @benjaminrose as reviewer

[2019-11-02 21:28] whedon commented on #1840
OK, @benjaminrose is now a reviewer

[2019-11-02 21:29] xuanxu commented on #1840
@whedon add @mattpitkin as reviewer

[2019-11-02 21:29] whedon commented on #1840
OK, @mattpitkin is now a reviewer

[2019-11-02 21:29] xuanxu commented on #1840
@whedon start review

[2019-11-02 21:29] whedon opened #1864 "[REVIEW]: emcee v3: A Python ensemble sampling toolkit for affine-invariant MCMC"
**Submitting author:** @dfm (<a href="http://orcid.org/0000-0002-9328-5652">Daniel Foreman-Mackey</a>)
**Repository:** <a href="https://github.com/dfm/emcee" target ="_blank">https://github.com/dfm/emcee</a>
**Version:** v3.0.2
**Editor:** @xuanxu
**Reviewer:** @benjaminrose, @mattpitkin
**Archive:** <a href="https://doi.org/10.5281/zenodo.3543502" target="_blank">10.5281/zenodo.3543502</a>

## St

[2019-11-02 21:29] whedon commented on #1840
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1864. Feel free to close this issue now!

[2019-11-02 21:29] whedon commented on #1864
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @benjaminrose, @mattpitkin it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're prob

[2019-11-02 21:29] whedon commented on #1864
[code]

[2019-11-02 21:30] whedon commented on #1864
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01864/joss.01864/10.21105.joss.01864.pdf)

[2019-11-02 21:31] xuanxu commented on #1840
@benjaminrose, @mattpitkin: please head over to #1864 where the review will take place.

[2019-11-02 21:31] #1840 closed

[2019-11-02 21:39] jarvist commented on #1453
Strangely I was listed as a collaborator already (from a previous review?); but could not edit. All sorted now, thank you!

[2019-11-02 21:45] jarvist commented on #1453
I don't think this is a gating requirement.

However, I do think the README.md should be edited to make it more clear.

- Some kind of interactive example would really help: I had to read and process your function given in the illustration, to slowly understand enough to be able to play with it on the REPL.

- Merging the `illustration` and `Sample Code` sections might make sense. Most on the non-

[2019-11-03 00:24] stsievert commented on #1655
:+1: Thanks for checking in @danielskatz! I've been waiting until some points in https://github.com/openjournals/joss-reviews/issues/1655#issuecomment-523107985 and issues I've filed to be resolved.

I have filed some issues on the source repository (https://github.com/torressa/cspy/issues/14, https://github.com/torressa/cspy/issues/15, https://github.com/torressa/cspy/issues/16). I'm don't think

[2019-11-03 00:55] abhishektha commented on #1778
@arfon I am done with my review as well and can recommend GaitPy for publication. Its a very cool package, I was able to run some of my own IMU data through it and it did a great job predicting initial and final contact times.

I did notice that one of the references was missing its DOI in the paper, I put a pull request in the repository to hopefully fit it: https://github.com/matt002/GaitPy/pull

[2019-11-03 01:39] Akash-Nag commented on #1815
All the issues raised by the reviewers have been resolved, except for the
Tests. Incorporating JUnit tests is difficult for a project of this type
since this is not a library that can be invoked. Instead, it is a tool
whose output is an image file. Obviously, checking whether the generated
maze-image conforms to the input specifications requires visual inspection
or outlandish AI-driven image reco

[2019-11-03 02:37] 1mikegrn commented on #1836
No worries @dfm, I understand review process takes time. Looked into your comment a bit, glad you pointed that out because I was previously oblivious to OS dependencies for compiled cython files - implemented a patch which should clear everything up and mitigate OS dependencies from cython.

[2019-11-03 10:17] pgrete commented on #1757
Looks good so far. Just testing the testing and GPU instructions.

@arfon what's your take on " State of the field: Do the authors describe how this software compares to other commonly-used packages?" with respect o referring to the MAESTROeX paper instead, see https://github.com/AMReX-Astro/MAESTROeX/issues/107 ?

[2019-11-03 11:45] arfon commented on #1778
@whedon generate pdf

[2019-11-03 11:45] whedon commented on #1778
[code]

[2019-11-03 11:45] arfon commented on #1778
@whedon check references

[2019-11-03 11:45] whedon commented on #1778
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01778/joss.01778/10.21105.joss.01778.pdf)

[2019-11-03 11:45] whedon commented on #1778
[code]

[2019-11-03 11:46] whedon commented on #1778
[code]

[2019-11-03 11:51] arfon commented on #1778
@mdc007 - I've also fixed a DOI in your paper here: https://github.com/matt002/GaitPy/pull/19

[2019-11-03 11:59] sambitdash commented on #1453
@jarvist updated as suggested.

[2019-11-03 12:17] arfon commented on #1778
@finsberg, @abhishektha - many thanks for your reviews here!

@mdc007 - please let us know when you've had a chance to incorporate the updates from myself and @abhishektha.

[2019-11-03 14:34] usethedata commented on #1685
@whedon generate pdf

[2019-11-03 14:34] whedon commented on #1685
[code]

[2019-11-03 14:35] whedon commented on #1685
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01685/joss.01685/10.21105.joss.01685.pdf)

[2019-11-03 14:35] usethedata commented on #1685
@whedon check references

[2019-11-03 14:35] whedon commented on #1685
[code]

[2019-11-03 14:36] whedon commented on #1685
[code]

[2019-11-03 14:40] usethedata commented on #1685
My review is complete.  Nice work, and well-written.  This is a tool I expect to make use of from time to time.

[2019-11-03 15:00] usethedata commented on #1685
@fblavoie I gave you incomplete/inaccurate information on fixing the DOI in the bibliography.  I've submitted a pull request to your repo that should fix the issue.  I also suggest closing the issue you have open from klmedeiros review. Once those are done, then I believe the paper is ready for me to request acceptance.

My apologies for the delays on this end.  I've had some family needs that hav

[2019-11-03 15:03] usethedata commented on #1608
I've pinged @jjmcnelis out of band.

[2019-11-03 16:24] arfon commented on #1778
@whedon check references

[2019-11-03 16:24] whedon commented on #1778
[code]

[2019-11-03 16:24] whedon commented on #1778
[code]

[2019-11-03 16:50] vbarrera commented on #1411
Hi,
Thank you very much for creating the new binary.

I've been testing the new version and I've found the following issues:
- Added a comment to the DB database management:
https://github.com/snowformatics/BlasterQt/issues/10#issuecomment-549142471
- Comment on Documentation:
https://github.com/snowformatics/BlasterQt/issues/11#issuecomment-549154709
- https://github.com/snowformatics/BlasterQt/i

[2019-11-03 17:49] patrikhuber commented on #1262
Just also mentioning https://github.com/ybayle/Scyland3D/issues/13 here as it is/was part of this review.

I would now consider all my issues closed and my review done.

Note that one thing I haven't done is to verify that the output of the processing is actually correct, i.e. that the reversed landmarks are actually correctly reversed or the re-odered ones correctly re-ordered. This would require

[2019-11-03 18:12] torressa commented on #1655
Sorry, was on holiday then swamped with new job. Will get going over the next weekends.
Thanks @stsievert  for your feedback!

[2019-11-03 18:13] torressa commented on #1655
@whedon generate pdf

[2019-11-03 18:13] whedon commented on #1655
[code]

[2019-11-03 18:13] whedon commented on #1655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01655/joss.01655/10.21105.joss.01655.pdf)

[2019-11-03 18:16] torressa commented on #1655
@whedon generate pdf

[2019-11-03 18:16] whedon commented on #1655
[code]

[2019-11-03 18:16] whedon commented on #1655
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01655/joss.01655/10.21105.joss.01655.pdf)

[2019-11-03 20:04] ybayle commented on #1262
Thank you @patrikhuber for all your helpful comments about the code and the documentation that helped improve a lot our submission.
@Kevin-Mattheus-Moerman: I'm waiting for the validation of @r-barnes for my fixes on the last two issues he raised.

[2019-11-03 20:16] ybayle commented on #1262
@whedon generate pdf

[2019-11-03 20:16] whedon commented on #1262
[code]

[2019-11-03 20:17] whedon commented on #1262
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01262/joss.01262/10.21105.joss.01262.pdf)

[2019-11-03 20:18] ybayle commented on #1262
@Kevin-Mattheus-Moerman I have pushed v1.0.19 on pypi that fix the issues from @patrikhuber. Could you update the version accordingly?

[2019-11-03 20:32] matt002 commented on #1778
@arfon @finsberg @abhishektha I have incorporated the above mentioned updates. Thank you all very much for your review and edits. The paper and package are much improved following the review process.

[2019-11-03 20:32] banesullivan commented on #1720
I finally got around to reviewing the paper! Overall I think it is well written and in line with most JOSS submissions, being a brief and high-level description of the software. I had the same concerns as @malmans2 in the [comment above](https://github.com/openjournals/joss-reviews/issues/1720#issuecomment-536698452) as well as a few other points:

- [ ] Figure 1 isn't mentioned (per @malmans2's c

[2019-11-03 20:37] xoolive commented on #1812
Sorry for the delay in coming back to this. I upgraded opam and tried again.

It seems the installation work but not the examples nor the tests due to some linking issues.

I would advocate for more detailed installation instructions and better dependency management. You will find below all I tried before giving up.

Sorry, I am not willing to dig more alone, by myself, into these linking issues.

[2019-11-03 20:47] falque commented on #1835
Hello there :)

I have started to review the submission, and since I am new to this whole reviewing process I am very very sorry if I miss some obvious elements, ask stupid questions, or such things...

The check list I have to fill has a section called Software paper, I assume it to be this: https://github.com/openjournals/joss-papers/blob/joss.01835/joss.01835/10.21105.joss.01835.pdf.
And I also

[2019-11-03 20:59] RobinHankin commented on #1819
Arfon, I've redrafted `paper.md` in the repo, and I was just about to click the 'withdraw paper' button at

https://joss.theoj.org/papers/1d90c3a705d7106477e7071c350f8025

but I hesitated because it is not a withdrawal, it is more of a redraft (although I have done a little bit of work on the software as well).  Can you advise?

[2019-11-03 21:36] arfon commented on #1778
@matt002 - At this point could you make a new release of this software that includes the changes that have resulted from this review. Then, please make an archive of the software in Zenodo/figshare/other service and update this thread with the DOI of the archive? For the Zenodo/figshare archive, please make sure that:

- The title of the archive is the same as the JOSS paper title
- That the autho

[2019-11-03 21:37] arfon commented on #1819
There's no need to withdraw. We can keep working with this submission here.

[2019-11-03 21:49] jjmcnelis commented on #1608
@kthyng @Ji-Zhang I'm sorry for holding you up. Thanks for the thoughtful responses to my questions. I'm satisfied with points 1 and 2. Point 3 needs addressing.

1. I raised the point about `rpy2` in the interest of usability. I don't use R often enough to justify having it installed on my workstation. I'd look into implementing the functionality provided by `rpy2` in Python in a future release s

[2019-11-03 22:49] RobinHankin commented on #1819
OK thanks Arfon.  Can I check that there are no actions on me?

[2019-11-03 23:16] alex-konovalov commented on #1835
@falque

Yes, one could now to this in PackageInfo.g in GAP, to give credit to those contributors who are neither authors nor maintainers.

[2019-11-03 23:50] gradvohl commented on #1815
Regarding the docs, I think the author solved this issue. However, when I tried to run, I still get the following error:
[code]
Should I run it with a specific java version? If so, this should be highlighted in the `README.md`. as well as in the docs.

[2019-11-04 03:33] Akash-Nag commented on #1815
The specific version of Java with which to run this tool has already been
highlighted in the readme under the "Dependencies and Build Instructions"
section, namely: Oracle Java 10.0.2

On Mon, 4 Nov 2019, 05:20 André Leon S. Gradvohl, <notifications@github.com>
wrote:

[2019-11-04 03:33] jordigh commented on #1371
In case you still want my review, I have some lingering concerns,

https://github.com/artivis/manif/issues/107

https://github.com/artivis/manif/issues/106

Everything else seems fine. No DOIs for the citations in the paper, but I think everything cited is just other libraries that don't have DOIs or preprints that haven't been published yet.

[2019-11-04 07:14] rreinecke commented on #1815
@drvinceknight @danielskatz I cannot confirm the statement given by @Akash-Nag . Yes all other concerns except the community guidelines and tests have been addressed. However, I do not agree with the assessment that unit tests are impossible and I find it bewildering that our suggestions as reviewers are fully ignored. I understand that JOSS has a very constructive review process, thus I opened an

[2019-11-04 08:45] VivianePons commented on #1814
@whedon assign @sptennak as reviewer

[2019-11-04 08:45] whedon commented on #1814
OK, the reviewer is @sptennak

[2019-11-04 08:45] VivianePons commented on #1814
I am still looking for a second reviewer, @mbdemoraes any suggestion?

[2019-11-04 09:16] xuanxu commented on #1864
@dfm @mattpitkin, @benjaminrose : this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2019-11-04 09:39] daissi commented on #1837
@whedon generate pdf

[2019-11-04 09:39] whedon commented on #1837
[code]

[2019-11-04 09:40] whedon commented on #1837
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01837/joss.01837/10.21105.joss.01837.pdf)

[2019-11-04 10:06] oliviaguest commented on #1642
@whedon generate pdf

[2019-11-04 10:06] whedon commented on #1642
[code]

[2019-11-04 10:06] whedon commented on #1642
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01642/joss.01642/10.21105.joss.01642.pdf)

[2019-11-04 10:10] oliviaguest commented on #1642
@jnoynaert is it looking good?

[2019-11-04 10:15] oliviaguest commented on #1821
@soodoku any chance you can get this within the next week?

[2019-11-04 10:25] dirmeier commented on #1785
Dear @BIPL-HORIE, the built manuscript is missing some Figures. Could you please check again?

[2019-11-04 11:09] mrgprasad commented on #1732
@Kevin-Mattheus-Moerman
Since the review process is complete, could you please give an update of the status of this submission?

[2019-11-04 11:15] Kevin-Mattheus-Moerman commented on #1732
@mrgprasad thanks for the reminder. I'll review your paper now and will get back with comments.

[2019-11-04 11:15] Kevin-Mattheus-Moerman commented on #1732
@whedon check references

[2019-11-04 11:15] whedon commented on #1732
[code]

[2019-11-04 11:15] whedon commented on #1732
[code]

[2019-11-04 11:25] Kevin-Mattheus-Moerman commented on #1732
- [ ] Your paper is about to be processed for acceptance. Please double check your paper and ensure you are happy with the author list and acknowledgements as well.
- [ ] Can you work on those missing DOI's?
- [ ] Can you check this citation: `(Groeber & Jackson, 2014, p. @Vajragupta2014)`? The `p.` seems you indicate your citing a page but the number is missing?
- [ ] Check citation syntax for: `

[2019-11-04 11:43] hbaniecki commented on #1798
Hi @terrytangyuan !
I am sorry, that it took so long but I had to wait for the finalized new version.
It will be v0.1.9 and here is the link: https://zenodo.org/record/3527770.

[2019-11-04 11:43] hbaniecki commented on #1798
@whedon set v0.1.9 as version

[2019-11-04 11:43] whedon commented on #1798
I'm sorry @hbaniecki, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-11-04 11:44] hbaniecki commented on #1798
well, it will be `v0.1.9` and `10.5281/zenodo.3527770`

[2019-11-04 12:00] leouieda commented on #1838
@jorisvandenbossche thank you for the disclosure, it's much appreciated! I'll follow Dan's suggestion and try to find someone else for the time being so we can avoid the conflict. If I can't find anyone suitable, I'll contact you again to see if you're still available/willing.

[2019-11-04 12:02] leouieda commented on #1838
:wave: Hi @ResidentMario would you like to review this submission for JOSS? "splot: visual analytics for spatial statistics" by @slumnitz (Stefanie Lumnitz) et al. Please see the comments above for more details.

[2019-11-04 12:32] mseri commented on #1812
Dear @xoolive thanks for the update. The linking issue is a problem of owl and how (usually `ubuntu` derivatives) package `openblas`. I have added a more explicit troubleshooting section on `owl` readme and will make a PR for `owl`'s documentation website about it in the next few days. I have also updated the README of `owl_ode`'s repository to [link to it and be more explicit about the dependenci

[2019-11-04 12:55] mbdemoraes commented on #1814
Sure! From the joss reviewers list, I suggest:

   - jmadera
   - soroushj
   - xirdneh
   - dvysardana
   - nkratzke

Em seg., 4 de nov. de 2019 às 05:45, Viviane Pons <notifications@github.com>
escreveu:

[2019-11-04 13:11] Kevin-Mattheus-Moerman commented on #1262
@whedon set v1.0.19 as version

[2019-11-04 13:11] whedon commented on #1262
OK. v1.0.19 is the version.

[2019-11-04 13:45] jarvist commented on #1453
That's great! I think it's much improved, and am happy to sign off the full review.

[2019-11-04 13:46] terrytangyuan commented on #1798
@whedon set v0.1.9 as version

[2019-11-04 13:46] whedon commented on #1798
OK. v0.1.9 is the version.

[2019-11-04 13:46] terrytangyuan commented on #1798
@whedon set 10.5281/zenodo.3527770 as archive

[2019-11-04 13:46] whedon commented on #1798
OK. <a href="https://doi.org/10.5281/zenodo.3527770" target="_blank">10.5281/zenodo.3527770</a> is the archive.

[2019-11-04 13:47] terrytangyuan commented on #1798
@whedon accept

[2019-11-04 13:47] whedon commented on #1798
[code]

[2019-11-04 13:47] whedon commented on #1798
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1083

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1083, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-04 13:47] whedon commented on #1798
[code]

[2019-11-04 13:47] jarvist commented on #1453
@alexhanna , I think we're good to go here, when you have time.

[2019-11-04 13:49] mrgprasad commented on #1732
@whedon generate pdf

[2019-11-04 13:49] whedon commented on #1732
[code]

[2019-11-04 13:50] whedon commented on #1732
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01732/joss.01732/10.21105.joss.01732.pdf)

[2019-11-04 13:51] terrytangyuan commented on #1798
@hbaniecki Could you fix the missing DOIs listed above?

[2019-11-04 13:52] mrgprasad commented on #1732
@whedon check references

[2019-11-04 13:52] whedon commented on #1732
[code]

[2019-11-04 13:52] whedon commented on #1732
[code]

[2019-11-04 13:54] mrgprasad commented on #1732
@Kevin-Mattheus-Moerman
With the latest push to the repo, I have made the necessary changes for the paper. DOI's don't exist for scipy, numpy, pybind11 and eigen libraries. Please let me know if additional changes are required.

[2019-11-04 14:17] dalonsoa commented on #1823
Just to be sure, I don't need to review anything, right?

[2019-11-04 14:45] csoneson commented on #1744
Ping @RafalUrniaz. Could you please let us know whether you are working on a revision of your submission? If you expect that it will take a long time to get back to this, also please let us know, and we can pause this issue. Thanks.

[2019-11-04 15:02] matt002 commented on #1778
@arfon I made a new release (1.6.0) and archived the software in Zenodo with DOI: 10.5281/zenodo.3528115.

[2019-11-04 15:28] hbaniecki commented on #1798
@whedon generate pdf

[2019-11-04 15:28] whedon commented on #1798
[code]

[2019-11-04 15:29] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-11-04 15:29] wkearn commented on #1642
@oliviaguest Sorry for the delay on this, but @jnoynaert's updates look really good, and I can fully recommend publication.

[2019-11-04 15:30] hbaniecki commented on #1798
@terrytangyuan I have added missing DOIs to the .bib file.

[2019-11-04 15:32] terrytangyuan commented on #1798
@whedon check references

[2019-11-04 15:32] whedon commented on #1798
[code]

[2019-11-04 15:33] whedon commented on #1798
[code]

[2019-11-04 15:33] terrytangyuan commented on #1798
@whedon accept

[2019-11-04 15:33] whedon commented on #1798
[code]

[2019-11-04 15:34] whedon commented on #1798
[code]

[2019-11-04 15:34] whedon commented on #1798
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1084

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1084, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-04 15:37] terrytangyuan commented on #1798
This paper looks good to me now! Handing over to @openjournals/joss-eics!

[2019-11-04 16:39] soodoku commented on #1821
@oliviaguest --- plausibly. will work on the weekend on this, getting started sooner.

[2019-11-04 16:46] zonca commented on #1852
@dfm yes, please, the project is really interesting and links directly to my work on foregrounds simulations for CMB.

[2019-11-04 17:11] benjaminrose commented on #1864
@dfm, it looks via `conda-forge` `emcee` is only at version 2.2.1. Do you have a plan to update `conda-forge` to version 3?

[2019-11-04 17:19] ThomasPak commented on #1716
Hi @gonsie

As per your suggestion, I have added a Wiki page documenting the command-line interface of Pakman here: https://github.com/ThomasPak/pakman/wiki/Command-line-interface

I have performed a benchmark on my University's HPC cluster. The cluster uses Slurm for job scheduling and I performed the test on 16 nodes with 16 CPU cores each. The CPUs were all Intel Xeon E5-2650 processors. Briefl

[2019-11-04 17:37] dfm commented on #1864
@benjaminrose: really? It looks like 3.0.0 to me: https://anaconda.org/conda-forge/emcee and that's what I get with:

[code]

Is that not what you get?

[2019-11-04 17:38] drvinceknight commented on #1859
Yup, sounds like an interesting piece of software.

[2019-11-04 17:39] drvinceknight commented on #1859
@whedon assign @drvinceknight as editor

[2019-11-04 17:39] whedon commented on #1859
OK, the editor is @drvinceknight

[2019-11-04 17:40] dfm commented on #1852
@zonca Excellent - thanks!

[2019-11-04 17:40] dfm commented on #1852
@whedon assign @zonca as reviewer

[2019-11-04 17:40] whedon commented on #1852
OK, the reviewer is @zonca

[2019-11-04 17:41] dfm commented on #1852
We still need a second reviewer, so @manodeep, let me know if you can. If not, I'll ask around some more!

[2019-11-04 17:42] drvinceknight commented on #1815
@Akash-Nag I fully agree with @rreinecke and do not feel that tests are impossible. Is this something you will be able to address?

[2019-11-04 17:42] drvinceknight commented on #1811
@whedon generate pdf

[2019-11-04 17:42] whedon commented on #1811
[code]

[2019-11-04 17:43] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-04 17:44] drvinceknight commented on #1811
@dpsanders and @dlfivefifty could you confirm you're happy with the requested modifications? (Thanks again for your time :+1:)

[2019-11-04 17:50] dpsanders commented on #1811
Good for me, thanks.

[2019-11-04 17:51] dpsanders commented on #1811
The `References` heading in the PDF didn't come out right.

[2019-11-04 18:00] gboeing commented on #1838
I would normally be happy to assist with this, but I don't think I have the capacity to take it on right now. Best of luck -- I saw splot recently and it looks like a cool project!

[2019-11-04 18:21] benjaminrose commented on #1864
@dfm After further testing, it appears to be some conflict with Python 3.8 and `conda`. When I switched to an environment running Python 3.7.3 (or install via `pip`) everything works as expected. This is odd, but appears to not be an issue with `emcee`.

[2019-11-04 18:31] arfon commented on #1778
@whedon set 10.5281/zenodo.3528115 as archive

[2019-11-04 18:31] whedon commented on #1778
OK. <a href="https://doi.org/10.5281/zenodo.3528115" target="_blank">10.5281/zenodo.3528115</a> is the archive.

[2019-11-04 18:31] arfon commented on #1778
@whedon accept

[2019-11-04 18:31] whedon commented on #1778
[code]

[2019-11-04 18:31] whedon commented on #1778
[code]

[2019-11-04 18:32] whedon commented on #1778
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1085

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1085, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-04 18:33] arfon commented on #1778
@whedon accept deposit=true

[2019-11-04 18:33] whedon commented on #1778
[code]

[2019-11-04 18:34] whedon commented on #1778
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1191423366332403719) 👈 🐦🐦🐦

[2019-11-04 18:34] whedon commented on #1778
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1086
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01778](https://doi.org/10.21105/joss.01778)
2. If everything looks g

[2019-11-04 18:49] dfm commented on #1864
Ah yes - I think that conda-forge is just getting up to speed on 3.8. Should be there soon! Thanks!

[2019-11-04 18:49] arfon commented on #1778
@finsberg, @abhishektha - many thanks for your reviews here ✨

@matt002 - your paper is now accepted into JOSS :zap::rocket::boom:

[2019-11-04 18:49] #1778 closed

[2019-11-04 18:49] whedon commented on #1778
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01778/status.svg)](https://doi.org/10.21105/joss.01778)

**We need your help!**

Journal of Open Source Softwa

[2019-11-04 19:19] tesch1 commented on #1487
👋 @danielskatz - me too :)

10.5281/zenodo.3528307

v0.1.2

Confirmed.

[2019-11-04 19:34] danielskatz commented on #1487
@whedon set 10.5281/zenodo.3528307 as archive

[2019-11-04 19:34] whedon commented on #1487
OK. <a href="https://doi.org/10.5281/zenodo.3528307" target="_blank">10.5281/zenodo.3528307</a> is the archive.

[2019-11-04 19:35] danielskatz commented on #1487
@whedon set v0.1.2 as version

[2019-11-04 19:35] whedon commented on #1487
OK. v0.1.2 is the version.

[2019-11-04 19:36] danielskatz commented on #1487
👋 @tesch1 - please update the zenodo metadata so that the title of repo matches the title of the paper here

[2019-11-04 19:56] jnoynaert commented on #1642
@oliviaguest I just looked at the last article proof and it looks good to me. Thanks for your patience on this one!

[2019-11-04 20:51] tobydriscoll commented on #1811
@whedon generate pdf

[2019-11-04 20:51] whedon commented on #1811
[code]

[2019-11-04 20:52] whedon commented on #1811
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01811/joss.01811/10.21105.joss.01811.pdf)

[2019-11-04 20:53] tobydriscoll commented on #1811
@dpsanders I needed to put in a blank line. References header is ok now.

[2019-11-04 22:38] ResidentMario commented on #1838
Sure, I can review it. I'm a bit busy this week, but should have the time to take a look next week.

[2019-11-05 03:55] kyleniemeyer commented on #1798
Hi @hbaniecki, I made a few edits to the paper and references, if you could merge these:
https://github.com/ModelOriented/modelStudio/pull/31 and https://github.com/ModelOriented/modelStudio/pull/32

[2019-11-05 05:13] Akash-Nag commented on #1815
I apologize for any misunderstanding that may have occurred. I never
intended to say that tests would be impossible, but only very difficult
given the type of the project.

Furthermore, I was not sure which aspects of the project could be actually
tested as I was sure that neither the maze image generation nor the path
markers could be feasibly tested to ensure they conform to the
specifications.

[2019-11-05 06:54] oliviaguest commented on #1642
Great! 😄

@jnoynaert can you create an archive for the code (on Zenodo, figshare, or other) and post the archive DOI here, please?

[2019-11-05 07:45] cMadan commented on #1847
@hvgazula, can you suggest some potential reviewers?

[2019-11-05 07:49] cMadan commented on #1620
@whedon check references

[2019-11-05 07:49] whedon commented on #1620
[code]

[2019-11-05 07:49] whedon commented on #1620
[code]

[2019-11-05 07:51] cMadan commented on #1620
@MLHale, can you fix the author name for the pyOpenGaze reference so it's the person's actual name (Edwin Dalmaijer)? Also add the DOI as suggested above, as it does seem correct (http://hipore.com/stsc/contents.html#v5.n1.2017).

After that we can move on to the last stages before acceptance.

[2019-11-05 08:21] hbaniecki commented on #1798
Hi @kyleniemeyer, I merged your PR.

[2019-11-05 08:51] rreinecke commented on #1815
@Akash-Nag  please see https://github.com/Akash-Nag/MDL-Suite/issues/5 for reply and further discussion.

[2019-11-05 09:35] tomalrussell commented on #1860
Hi all - thanks for the speedy first steps.

Mentioning @edwardoughton to pull them into this issue for reference.

Out of curiosity -

@whedon commands

[2019-11-05 09:37] danielskatz commented on #1860
You have to do that (```@whedon commands```) in a new comment, by itself in the comment

[2019-11-05 11:40] mrgprasad commented on #1732
@whedon generate pdf

[2019-11-05 11:40] whedon commented on #1732
[code]

[2019-11-05 11:43] whedon commented on #1732
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01732/joss.01732/10.21105.joss.01732.pdf)

[2019-11-05 11:54] mrgprasad commented on #1732
@whedon generate pdf

[2019-11-05 11:54] whedon commented on #1732
[code]

[2019-11-05 11:54] whedon commented on #1732
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01732/joss.01732/10.21105.joss.01732.pdf)

[2019-11-05 11:59] mrgprasad commented on #1732
@whedon check references

[2019-11-05 11:59] whedon commented on #1732
[code]

[2019-11-05 11:59] whedon commented on #1732
[code]

[2019-11-05 12:03] mrgprasad commented on #1732
@Kevin-Mattheus-Moerman
We are happy with the authors list and the paper.
All the citation errors are fixed now and the DOIs are added.

Thanks!

[2019-11-05 12:03] tesch1 commented on #1487
@danielskatz - done.  When there's a joss link/doi I could/would add that too.  Is there a preferred model to follow?

[2019-11-05 12:04] xuanxu commented on #1853
:wave: @mgckind: Any chance you're available to review this submission?

[2019-11-05 12:10] danielskatz commented on #1487
Thanks - once the submission is accepted (hopefully in another 10 min or so), the DOI for the JOSS article will be shown here. You can certainly add this to the zenodo metadata.

[2019-11-05 12:10] danielskatz commented on #1487
@whedon generate pdf

[2019-11-05 12:10] whedon commented on #1487
[code]

[2019-11-05 12:11] whedon commented on #1487
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01487/joss.01487/10.21105.joss.01487.pdf)

[2019-11-05 12:21] danielskatz commented on #1487
There seem to be some issue in a couple of bib entries - can you merge https://gitlab.com/tesch1/cppduals/merge_requests/18 which I think should fix them?

[2019-11-05 12:24] tesch1 commented on #1487
Merged

[2019-11-05 12:24] Kevin-Mattheus-Moerman commented on #1732
@mrgprasad thanks for implementing most changes. I left the box in relation to the citation issue unchecked.

Can you check the citation information presented here:
https://rmarkdown.rstudio.com/authoring_bibliographies_and_citations.html#citation_syntax

In your paper you mention `....developed by Wang et al. (Wang, Wang, & Kim, 2001).`. This needs to be altered. I suggest that instead of `...dev

[2019-11-05 12:25] danielskatz commented on #1487
@whedon generate pdf

[2019-11-05 12:25] whedon commented on #1487
[code]

[2019-11-05 12:25] whedon commented on #1487
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01487/joss.01487/10.21105.joss.01487.pdf)

[2019-11-05 12:26] danielskatz commented on #1487
@whedon accept

[2019-11-05 12:26] whedon commented on #1487
[code]

[2019-11-05 12:26] whedon commented on #1487
[code]

[2019-11-05 12:27] whedon commented on #1487
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1087

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1087, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-05 12:29] danielskatz commented on #1487
@whedon accept deposit=true

[2019-11-05 12:29] whedon commented on #1487
[code]

[2019-11-05 12:30] whedon commented on #1487
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1191694301551616000) 👈 🐦🐦🐦

[2019-11-05 12:30] whedon commented on #1487
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1088
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01487](https://doi.org/10.21105/joss.01487)
2. If everything looks g

[2019-11-05 12:30] xuanxu commented on #1853
:wave: @ceb8: would you be willing to review this paper? I think your knowledge of astronomy and Python makes you a great fit for this submission.

[2019-11-05 12:31] danielskatz commented on #1487
Thanks to @StewMH and @mdavezac for reviewing!

[2019-11-05 12:31] xuanxu commented on #1853
@whedon check references

[2019-11-05 12:31] whedon commented on #1853
[code]

[2019-11-05 12:31] whedon commented on #1853
[code]

[2019-11-05 12:33] danielskatz commented on #1487
@tesch1 - you can see the DOI above (https://doi.org/10.21105/joss.01487).  It's not quite working for me yet, which could be a backlog in registering new DOIs, or it could be due to a server in my location - Once it works, I will close this issue and we will be done.

[2019-11-05 12:34] danielskatz commented on #1487
Ah, now the DOI resolves, but I don't yet see https://www.theoj.org/joss-papers/joss.01487/10.21105.joss.01487.pdf working.

[2019-11-05 12:34] tesch1 commented on #1487
I second that, Thanks gentlemen!!  Also thank you, @danielskatz !

[2019-11-05 12:42] danielskatz commented on #1487
@tesch - does https://www.theoj.org/joss-papers/joss.01487/10.21105.joss.01487.pdf work for you?

[2019-11-05 12:46] tesch1 commented on #1487
@danielskatz nope, 404

[2019-11-05 12:52] mrgprasad commented on #1732
@whedon generate pdf

[2019-11-05 12:52] whedon commented on #1732
[code]

[2019-11-05 12:53] whedon commented on #1732
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01732/joss.01732/10.21105.joss.01732.pdf)

[2019-11-05 12:56] mrgprasad commented on #1732
@Kevin-Mattheus-Moerman
Thanks for the pointer. I have changed this in the paper.

[2019-11-05 13:06] danielskatz commented on #1487
@arfon, any thoughts on this?

[2019-11-05 13:40] melissawm commented on #1823
Hi @dalonsoa , JOSS usually requires (at least) two reviewers, and currently we only have one associated with this review. If you are available, we would welcome your review! If that's the case, just let me know and I'll assign you as reviewer and open the REVIEW issue. Thank you!

[2019-11-05 13:48] mgckind commented on #1853
Hi, I'm traveling this week but I might be able to review it next week if that's okay?

[2019-11-05 13:49] xuanxu commented on #1853
@mgckind it is totally OK, thanks!
I'll assign you now and wait to have the second reviewer ready before starting the review issue.

[2019-11-05 13:50] xuanxu commented on #1853
@whedon add @mgckind as reviewer

[2019-11-05 13:50] whedon commented on #1853
OK, @mgckind is now a reviewer

[2019-11-05 13:55] mdavezac commented on #1487
Congrats, @tesch1! 🍾

[2019-11-05 13:58] Kevin-Mattheus-Moerman commented on #1732
@mrgprasad great. Thanks looks good to me now. Can you now do the following:
- [ ] Archive a copy of the reviewed software on Zenodo and list the DOI of the archived version here. Make sure that as you do this that the meta data (e.g. the title and author list) will match that of the paper.
- [ ] Can you please confirm the version of the reviewed and archived software? Is it still `v0.0.1` or have

[2019-11-05 14:02] dalonsoa commented on #1823
I'm available and happy to help, so count me in!

[2019-11-05 14:22] arfon commented on #1487
Looks like there's an issue with GitHub Pages right now: https://www.githubstatus.com/incidents/42hkbtl63nmn

[2019-11-05 14:22] melissawm commented on #1860
@aaronyd, would you be willing to review this software paper for JOSS? Thank you!

[2019-11-05 14:23] melissawm commented on #1860
@rickecon, would you be willing to review this software paper for JOSS? Thank you!

[2019-11-05 14:37] hvgazula commented on #1847
@arokem

[2019-11-05 15:17] xuanxu commented on #1853
:wave: @cmbiwer would you be willing to review this paper? I think your knowledge of astronomy and Python makes you a great fit for this submission.

[2019-11-05 15:30] arokem commented on #1847
Hello! Thanks for suggesting me. Unfortunately, my current editing workload is rather full, so I would rather not take this one on. But let me know if you can't find other reviewers.

[2019-11-05 15:49] brynpickering commented on #1833
Hey @samuelduchesne, just had a chance to go through this. A tool to help collate building archetypes and work on collections of models seems incredibly useful, but I've come across a few issues that would need addressing to make sure it is a sufficiently robust piece of software for general use. It looks like neither myself or @ThibaultMarzullo will be able to test the TRNSYS functionality, so so

[2019-11-05 15:56] rickecon commented on #1739
OK. Starting this review.

[2019-11-05 16:02] martibosch commented on #1807
Submitted issue [martinfleis/momepy#106](https://github.com/martinfleis/momepy/issues/106) to the original repository.

[2019-11-05 16:17] melissawm commented on #1823
Thanks, @dalonsoa !

[2019-11-05 16:18] melissawm commented on #1823
@whedon add @dalonsoa as reviewer

[2019-11-05 16:24] whedon commented on #1823
OK, @dalonsoa is now a reviewer

[2019-11-05 16:25] melissawm commented on #1823
@whedon start review

[2019-11-05 16:32] whedon opened #1865 "[REVIEW]: bifacial_radiance: a python package for modeling bifacial solar photovoltaic systems"
**Submitting author:** @shirubana (<a href="http://orcid.org/0000-0003-0180-728X">Silvana Ayala Pelaez</a>)
**Repository:** <a href="https://github.com/NREL/bifacial_radiance/" target ="_blank">https://github.com/NREL/bifacial_radiance/</a>
**Version:** v0.3.3.1
**Editor:** @melissawm
**Reviewers:** @wholmgren, @dalonsoa, @usethedata
**Archive:** <a href="https://doi.org/10.5281/zenodo.3860350" ta

[2019-11-05 16:39] whedon commented on #1865
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @wholmgren, @dalonsoa it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-05 16:39] whedon commented on #1865
[code]

[2019-11-05 16:40] whedon commented on #1865
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01865/joss.01865/10.21105.joss.01865.pdf)

[2019-11-05 16:48] kyleniemeyer commented on #1798
@whedon generate pdf

[2019-11-05 16:48] lheagy commented on #1663
:wave: Hi @eskofier, just checking in. Have you had a chance to check out the binder link posted above? This should give you an environment where you can run the examples and play with the code-base.

[2019-11-05 16:49] martinfleis commented on #1807
@whedon  generate pdf

[2019-11-05 16:52] ethanwhite commented on #1768
I've completed my checklist level review. Below are sections related to fixes for boxes that I haven't checked yet:

## Automated tests

* Two tests are currently failing in my local build for `test-get_regions.R`, but they seem to be passing on Travis so maybe I have a missing dependency or something. Ubuntu 18.04, R 3.6.1.

## Community Guidelines

* Contributing and CoC links were broken. Fixed

[2019-11-05 16:52] whedon commented on #1798
[code]

[2019-11-05 16:53] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-11-05 16:54] mrgprasad commented on #1732
@Kevin-Mattheus-Moerman
I have created the archive on Zenodo, here's the DOI: 10.5281/zenodo.3529591
Both the reviewed and the archived software are v1.0.0

[2019-11-05 17:08] kyleniemeyer commented on #1798
@hbaniecki sorry, one last fix I noticed when reviewing: https://github.com/ModelOriented/modelStudio/pull/33

[2019-11-05 17:16] jnoynaert commented on #1642
@oliviaguest https://zenodo.org/record/3529593

[2019-11-05 17:34] hbaniecki commented on #1798
@kyleniemeyer np. I merged.

[2019-11-05 17:35] oliviaguest commented on #1642
@whedon set 10.5281/zenodo.3529593 as archive

[2019-11-05 17:35] whedon commented on #1642
OK. <a href="https://doi.org/10.5281/zenodo.3529593" target="_blank">10.5281/zenodo.3529593</a> is the archive.

[2019-11-05 17:35] oliviaguest commented on #1642
@whedon generate pdf

[2019-11-05 17:36] whedon commented on #1642
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01642/joss.01642/10.21105.joss.01642.pdf)

[2019-11-05 17:37] oliviaguest commented on #1642
@whedon accept

[2019-11-05 17:37] whedon commented on #1642
[code]

[2019-11-05 17:37] whedon commented on #1642
[code]

[2019-11-05 17:39] oliviaguest commented on #1642
@jnoynaert does this all look good?

[2019-11-05 17:42] oliviaguest commented on #1739
@rickecon sadly, even though I have emailed a lot of people (about 10 up to now) we still need to wait till I find a 2nd reviewer before you can properly start.

@pachamaltese I don't know if my emails to all these people are going to their spam folder or if they are too busy to reply, etc., but I will keep trying.

[2019-11-05 17:44] oliviaguest commented on #1739
👋 @MatthewSmith430, @paulgovan, @JohnCoene, @Nick-gauthier are any of you up for reviewing this? Sorry if I have also emailed you already, but please feel free to reply here instead of email if easier. Thanks! 😄

[2019-11-05 17:48] JohnCoene commented on #1739
@oliviaguest @pachamaltese I apologise for the belated reply, the notifications and emails totally escaped me. I'll be more than happy to review the package, it looks very interesting!

[2019-11-05 17:55] rickecon commented on #1739
@oliviaguest, I saw that @JohnCoene responded. In the future, try inviting the following two individuals to review JOSS economics manuscripts. Both are open source modelers and both would likely be interested in contributing to this community and to JOSS.

@jdebacker, Jason DeBacker, Associate Professor, Department of Economics, University of South Carolina ([https://www.jasondebacker.com/](https:

[2019-11-05 17:55] kyleniemeyer commented on #1798
@whedon generate pdf

[2019-11-05 17:55] whedon commented on #1798
[code]

[2019-11-05 17:56] whedon commented on #1798
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01798/joss.01798/10.21105.joss.01798.pdf)

[2019-11-05 18:10] martibosch commented on #1807
A comment (part of my review), here (I believe raising a dedicated issue is not so appropriate).

I wonder whether (I say "wonder" because I am sure that the author @martinfleis has given it much more thought than I have) the object-oriented approach to the computation of characters (especially the `dimension` module, but also the `shape`, `intensity` and `diversity` modules).
Most of the classes

[2019-11-05 18:19] oliviaguest commented on #1739
@whedon add @JohnCoene as reviewer

[2019-11-05 18:19] whedon commented on #1739
OK, @JohnCoene is now a reviewer

[2019-11-05 18:19] oliviaguest commented on #1739
@rickecon perfect — thank you!

[2019-11-05 18:20] oliviaguest commented on #1739
@whedon start review

[2019-11-05 18:20] whedon opened #1866 "[REVIEW]: Economiccomplexity: Methods Used in the Economic Complexity Literature"
**Submitting author:** @pachamaltese (<a href="http://orcid.org/0000-0003-1017-7574">Mauricio Vargas</a>)
**Repository:** <a href="https://github.com/pachamaltese/economiccomplexity" target ="_blank">https://github.com/pachamaltese/economiccomplexity</a>
**Version:** 0.2.1
**Editor:** @oliviaguest
**Reviewers:** @JohnCoene, @mpadge
**Archive:** <a href="https://doi.org/10.5281/zenodo.3671843" targ

[2019-11-05 18:20] whedon commented on #1739
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/1866. Feel free to close this issue now!

[2019-11-05 18:20] whedon commented on #1866
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @rickecon, @JohnCoene it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/openjournals/joss-reviews) repository. As a reviewer, you're probably

[2019-11-05 18:20] whedon commented on #1866
[code]

[2019-11-05 18:20] kyleniemeyer commented on #1798
@whedon accept

[2019-11-05 18:20] whedon commented on #1798
[code]

[2019-11-05 18:21] whedon commented on #1866
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/openjournals/joss-papers/blob/joss.01866/joss.01866/10.21105.joss.01866.pdf)

[2019-11-05 18:21] oliviaguest commented on #1739
@rickecon, @JohnCoene, @pachamaltese thank you all, please go to #1866 and/or open issues in the code repo itself, as appropriate!

[2019-11-05 18:21] whedon commented on #1798
[code]

[2019-11-05 18:21] whedon commented on #1798
Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/1090

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/1090, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-11-05 18:21] #1739 closed

[2019-11-05 18:22] oliviaguest commented on #1866
👋 @rickecon, @JohnCoene this is where the reviewing itself happens. Also feel free if you have specific code-related issues to open them in the code repo itself. Thank you again! 😊

[2019-11-05 18:23] kyleniemeyer commented on #1798
@whedon accept deposit=true

[2019-11-05 18:23] whedon commented on #1798
[code]

[2019-11-05 18:24] whedon commented on #1798
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1191783422257172480) 👈 🐦🐦🐦

[2019-11-05 18:24] whedon commented on #1798
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/1091
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/joss.01798](https://doi.org/10.21105/joss.01798)
2. If everything looks g

[2019-11-05 18:27] ulfaslak commented on #1783
Sorry for the slow response @labarba. I also cannot make time to review right now.

[2019-11-05 18:30] kyleniemeyer commented on #1798
Congrats @hbaniecki on your article's publication in JOSS! Many thanks to @acolum and  @expectopatronum for reviewing this, and @terrytangyuan for editing.

[2019-11-05 18:30] #1798 closed

[2019-11-05 18:30] whedon commented on #1798
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01798/status.svg)](https://doi.org/10.21105/joss.01798)

**We need your help!**

Journal of Open Source Softwa

[2019-11-05 18:39] dfm commented on #1852
:wave: @adam-m-jcbs: Any chance you're available to review this submission? I know that it is outside of your research area, but your input on the computational aspects would be much appreciated!

[2019-11-05 18:42] dfm commented on #1836
:wave: @garrettj403: Any chance you'd be available to review this submission?

[2019-11-05 18:43] martinfleis commented on #1807
@martibosch Thank you for this comment. It is very valid and there has been a lot of discussion on this topic as it was originally designed as you propose - it simply returned pandas Series. However, this has been changed to object-oriented for several reasons.

First is the consistency within the package as some classes returns more than one series (like `StreetProfile`). Good point is the possib

[2019-11-05 18:46] hbaniecki commented on #1798
wow even after so many reviews i can see a typo. @kyleniemeyer is it possible to fix the paper after the publication?

[2019-11-05 18:47] dsurujon commented on #1830
Thank you for this opportunity to review MatSurv. I have gone through the manuscript, documentation and example usage cases. I believe this is a very useful piece of code, and works well, with plenty of options for customization of the output figures. The authors have supplied a number of reproducible examples that are very helpful as well. However, I believe the authors can better highlight the u

[2019-11-05 18:51] m-maheu-giroux commented on #1740
Hi @ellessenne and @seabbs,

I will do my best to address your suggestions shortly. However, my co-author is on maternity leave and I am traveling extensively over the next month. I anticipate some delays in incorporating your suggestions.

Thank you for your understanding,
Mathieu MG

[2019-11-05 19:01] kyleniemeyer commented on #1798
Oh no! Um, I think so. Can you fix the source file and let us know? (@arfon?)

[2019-11-05 19:06] hbaniecki commented on #1798
I feel ashamed but hope that it can be updated. Fixed `paper.md`.

[2019-11-05 19:07] martibosch commented on #1807
@martinfleis thank you for the explanations, which have been very convincing. Again, you indeed know momepy way better than I do, so after your explanations, I fully trust your criteria. As a reviewer, I just wanted to make sure that such matters had been properly consider - which I know by now, so as far as I am concerner, I believe we can move on with the review.
I have a couple more issues that

[2019-11-05 19:15] ellessenne commented on #1740
No worries @m-maheu-giroux, take your time - from my point of view, we're here to help so no need to worry about it!

[2019-11-05 19:17] arfon commented on #1487
OK, looks like the PDF URL is resolving now.

[2019-11-05 19:21] arfon commented on #1798
No problem. Paper updated based on the latest `paper.md` in `master`. FWIW, the new PDF might not show up for a few hours as there's caching in place for the PDFs on the JOSS site.

[2019-11-05 19:32] #1487 closed

[2019-11-05 19:32] whedon commented on #1487
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.01487/status.svg)](https://doi.org/10.21105/joss.01487)

**We need your help!**

Journal of Open Source Softwa