[2022-01-04 13:15] TomWagg commented on #3998
Thanks for the comments @dbkeitel! First to address the metadata comments:

I have editted the LICENSE.rst to include all authors who contributed code and added the dependencies explicitly to the README from your comments (see [PR #62](https://github.com/TeamLEGWORK/LEGWORK/pull/62)).

As you say, Selma has not contributed any code directly. She has however helped with the development of LEGWORK i

[2022-01-04 13:46] dfm commented on #3676
@whedon generate pdf

[2022-01-04 13:47] whedon commented on #3676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: :point_left:

[2022-01-04 13:51] dfm commented on #3676
@JLBLine: welcome back! Thanks for your updates on the manuscript. Here are the last steps that I'll need from you:

1. Take one last read through the manuscript to make sure that you're happy with it (it's harder to make changes later!), especially your name and affiliation.
2. Confirm that the version number including all the changes as part of this review is `v1.1.0`.
3. Create an archived rele

[2022-01-04 13:54] TomWagg commented on #3998
Now the manuscript comments:

I wasn't sure exactly how to phrase this but I wrote "This paper is jointly submitted to ApJ, see Wagg+2021.", please let me know if there is a different way I should write this.

**References**: I'll wait for @arfon's thoughts on the length of references before touching this

**Waveform packages**: I'm honestly very unfamiliar with waveform things and so don't know a

[2022-01-04 13:56] maczokni commented on #4015
Hello! I've hit a bit of a stumbling block when trying to follow along with some data that isn't the one in the examples (I understand the idea to be that users can upload their own .csv files and this package will allow them to easily map this?)

First note: if the column is not called "subRegion" then the error `Error in rmap::map_find_df(mydata) : data must have subRegion columns` is immediatel

[2022-01-04 14:20] zhanghe9704 commented on #3665
Hello,

Thanks for all your replies. I understand everyone is very busy especially
at the end of the year. I'm not in a hurry but I'm glad to see it starts to
move forward again.

I think a technical review will be very helpful. Actually, the current
version of the lib includes only the mathematical implementation of TPSA
and does not have any specific application in accelerator physics.

Best reg

[2022-01-04 14:38] d-eggert commented on #4009
Hi @martinfleis ,

I wrote @cfgmr an additional eMail to see when he returns to office. I got an out-of-office reply, but with an old date :man_shrugging:
So, I don't expect to hear from him before next week.

I know there is the possibility in Gitlab to create issues via a repository-specific email address. It's not as convenient as a registered user, but would `Permit individuals to create issue

[2022-01-04 14:49] faroit commented on #3740
@whedon generate pdf

[2022-01-04 14:50] whedon commented on #3740
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: :point_left:

[2022-01-04 14:58] faroit commented on #3740
This submission looks good now and we can finally move forward 👏 I just did check the paper again for grammar and spellings and created a pull request that you can merge in https://github.com/thejasvibr/bat_beamshapes/pull/24 if you like.

@thejasvibr when the paper is ready, please make a new (tagged) release of the main repo that includes all of the changes that have resulted from the review. Pl

[2022-01-04 15:16] whedon commented on #4021
:wave: @jGaboardi, please update us on how your review is going (this is an automated reminder).

[2022-01-04 15:16] whedon commented on #4021
:wave: @anitagraser, please update us on how your review is going (this is an automated reminder).

[2022-01-04 15:35] diehlpk commented on #3465
@elwinter It would be nice if you could post the DOI and version of the paper. We have some other papers in the pipeline and yours is blocking others to get handled.

[2022-01-04 15:43] JasonGellis commented on #3738
Happy New Year @Nikoleta-v3 I have addressed the above issues and merged into main. Can I request a new editor as @MichaelHoltonPrice has not been in contact since October.

[2022-01-04 16:14] martinfleis commented on #4009
I am not sure about that as it doesn't allow discussion in the issue, right? I can use the email to file a ticket but not to respond to your reply. When this happened before (see #2831 for example), people usually created a mirror of the repository on some open platform.

[2022-01-04 16:35] dbkeitel commented on #3998
Thanks for the changes @TomWagg - I'll get back to the rest of the review sometime soon.

Regarding reference formatting, I think you can just use plain `@` syntax without the square brackets and format the list by hand as you wish - e.g. in my only JOSS paper so far, I had a block
[code]
which came out formatted like this:
![image](https://user-images.githubusercontent.com/28396587/148092192-9908

[2022-01-04 18:20] jbytecode commented on #3991
@jbcaillau could you please update your status and inform us on how is your review going?

Thank you in advance.

[2022-01-04 18:22] jbytecode commented on #3895
@csinva - could you please update your status? thank you in advance.

[2022-01-04 18:38] fboehm commented on #4031
@soodoku and @welch16 - Thanks so much for your work on the reviews! Yes, @welch16 - please do comment on the vignettes and other features of the package as needed. Please feel free to post comments in this thread and to open issues in the package repository as you work through the package. Please don't hesitate to ask me any questions that arise. Thanks again!

[2022-01-04 18:47] whedon commented on #4024
:wave: @aquilesC, please update us on how your review is going (this is an automated reminder).

[2022-01-04 18:47] whedon commented on #4024
:wave: @ziatdinovmax, please update us on how your review is going (this is an automated reminder).

[2022-01-04 18:48] fboehm commented on #4031
@welch16 - for any issues that you open in the package repository, please post a comment here in this thread with a link to the issue. Thanks again!

[2022-01-04 19:05] TomWagg commented on #3998
Ah gotcha, thanks @dbkeitel, I hadn't considered that I could just put them in parentheses manually! I've done this, though now there are nested parentheses if that is okay? I could also just remove the "e.g." but that doesn't seem reasonable as these are just examples of papers that address those topics.

[2022-01-04 19:07] alexrockhill commented on #3897
Just checking in on the status of the review to make sure it doesn't go stale, not to be a bother hopefully though 😅

[2022-01-04 19:07] TomWagg commented on #3998
I've actually just realised why the "e.g." appears at a weird location. I think JOSS uses pandoc cite-proc which sorts the references by author and then by date. So the "e.g". always goes with whichever citation I put first in the paper.md file...but they then get sorted and so the "e.g." moves with the citation if it doesn't come first alphabetically. I thought this would mean that I can fix the

[2022-01-04 19:09] nhejazi commented on #3979
just checking in, anything more needed from me at this point?

[2022-01-04 19:11] mikldk commented on #3979
@nhejazi Not at this point, thanks. An (associate) Editor-in-Chief will check in at some point and have a look and accept the publication if everything looks fine.

[2022-01-04 19:41] kinow commented on #4022
:+1: :point_up:

[2022-01-04 19:49] dfm commented on #2920
@whedon add @changhoonhahn as reviewer

Thanks Chang for agreeing to review!

@kadglass: Thanks for your patience! As soon as I have a second reviewer lined up we'll get the main review going.

[2022-01-04 19:49] whedon commented on #2920
OK, @changhoonhahn is now a reviewer

[2022-01-04 19:49] kylebeggs commented on #3724
@diehlpk Review is complete, but there are a couple minor updates I'd like to see before fully accepting.

Overall the software is great. There is a well-defined purpose for the software and it has been demonstrated to be useful in marching science forward through multiple publications. There is an easy to use API and clean code style. Accessibility through Python is great and will encourage more

[2022-01-04 20:38] zarrarkhan commented on #4015
Hi @maczokni.
Thanks for your review and comments. Responses below:

- Column names (subRegion and Value). Have highlighted how users can identify their own column names in rmap using the `subRegCol` and `valueCol` arguments.

[2022-01-04 21:30] pibion commented on #3665
@zhanghe9704 thanks for this input!  @ax3l it sounds like you'd be valuable as a reviewer if you're available.  Please let me know if you think this is something you would like to take on.

[2022-01-04 21:39] arfon commented on #3739
@whedon recommend-accept from branch joss-submission

[2022-01-04 21:39] whedon commented on #3739
[code]

[2022-01-04 21:39] whedon commented on #3739
[code]

[2022-01-04 21:39] whedon commented on #3739
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2860

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2860, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-04 21:45] arfon commented on #3739
@ajstewartlang – I believe @kthyng is the EiC on rotation this week. She should be picking this up :soon:

[2022-01-04 21:58] arfon commented on #4013
:wave: – many thanks again for your submission to JOSS @francescoa97outlook.

After a review by our editorial team, this submission has been deemed out of scope for JOSS. A number of concerns were raised by our editors but the primary one is that the majority of the functionality of this software is focused on plotting/visualisation and visualisation tools are not allowed in JOSS.

Some additional

[2022-01-04 21:58] arfon commented on #4013
@whedon reject

[2022-01-04 21:58] whedon commented on #4013
Paper rejected.

[2022-01-04 21:58] #4013 closed

[2022-01-04 21:59] arfon commented on #4027
@liusnaoc – thanks for your submission to JOSS. Unfortunately, after review by the JOSS editorial team we've determined that this submission doesn't meet our [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion.

One possible alternative to JOSS is to follow [GitHub's guide](https://guides.github.com/activities/citable-code/)

[2022-01-04 21:59] arfon commented on #4027
@whedon reject

[2022-01-04 21:59] whedon commented on #4027
Paper rejected.

[2022-01-04 21:59] #4027 closed

[2022-01-04 23:09] csinva commented on #3895
Thanks for the ping! We are working through the new comments after coming back from the New Year and plan to have them all addressed by next week!

[2022-01-04 23:35] zarrarkhan commented on #4015
Hi @maczokni.

Thanks for your review and comments. Please see our responses below:

[code]

1. Required Column names (subRegion and Value). We have highlighted how users can identify their own column names in rmap using the subRegCol and valueCol arguments. (see end of this section: https://jgcri.github.io/rmap/articles/vignette_map.html#inputs)
2. Example data. Thanks for trying rmap with your e

[2022-01-04 23:37] MichaelHoltonPrice commented on #3738
Apologies, the notifications are not always informative (e.g., I don't
think you realized I was waiting for updates from your team on such
things as the test script for some time). Nikoleta let me know that the
manuscript was ready for me again Dec 19th but I have been on vacation
since then (and still am). I can complete my review by the end of next week.

On Tue, Jan 4, 2022 at 8:43 AM Jason Gel

[2022-01-04 23:56] nick-gorman commented on #3596
Thanks @timtroendle, @noah80 and @robinroche

I'm away from my work computer, which has the chart files that need correcting. @timtroendle I'll do the final tasks in a couple of weeks when I'm back at work.

[2022-01-05 02:00] jGaboardi commented on #4021
This is still very much on my radar, but several personal issues have cropped in the last week. I am going to try to get back to it within the next 2 weeks or so.

[2022-01-05 02:53] mjsottile commented on #3735
@lungsi I just wanted to check in on my last message - I assume it may have been missed or forgotten with the holidays.  Once you'd addressed those final points we can move on to the next step of the process.  Let me know if you have any questions.

[2022-01-05 03:27] JLBLine commented on #3676
Ok @dfm I believe I've made a Zenodo release correctly, it's been given the DOI `10.5281/zenodo.5819254`. Link to the Zenodo if you need it: https://zenodo.org/record/5819254#.YdUPWntBzJk

[2022-01-05 04:23] Narayana-Rao commented on #4032
@whedon generate pdf

[2022-01-05 04:23] whedon commented on #4032
PDF failed to compile for issue #4032 with the following error:
[code]

[2022-01-05 05:50] welch16 commented on #4031
I create an issue here: https://github.com/GaryBAYLOR/mixR/issues/32. But except that, I think everything looks good

[2022-01-05 08:38] chryswoods commented on #3914
No problem - I know everyone is really busy, especially around Christmas. Thanks for taking the time to look at my submission :-)

[2022-01-05 08:48] Nikoleta-v3 commented on #3738
Thank you for the update @MichaelHoltonPrice and enjoy the rest of your holiday.

[2022-01-05 08:52] Viech commented on #3915
Dear @sfuxy, could you try to complete your review this month? There is currently at least one person looking to cite PICOS in a paper.

[2022-01-05 09:02] thejasvibr commented on #3740
Great!
* The paper + repo is ready with a tagged release (v0.2.2) on the Github repo.

* The same release archive has been uploaded as .zip and .tar.gz on Zenodo - with the following DOI: 10.5281/zenodo.5819771 ([link to Zenodo deposition](https://doi.org/10.5281/zenodo.5819771))

[2022-01-05 10:17] faroit commented on #3740
@whedon set v0.2.2 as version

[2022-01-05 10:17] whedon commented on #3740
OK. v0.2.2 is the version.

[2022-01-05 10:17] faroit commented on #3740
@whedon set 10.5281/zenodo.5819771 as archive

[2022-01-05 10:17] whedon commented on #3740
OK. <a href="https://doi.org/10.5281/zenodo.5819771" target="_blank">10.5281/zenodo.5819771</a> is the archive.

[2022-01-05 10:17] faroit commented on #3740
@whedon recommend-accept

[2022-01-05 10:17] whedon commented on #3740
[code]

[2022-01-05 10:18] whedon commented on #3740
[code]

[2022-01-05 10:18] whedon commented on #3740
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2861

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2861, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-05 11:40] anitagraser commented on #4021
Same here. Will get back to it soon.

[2022-01-05 12:07] dfm commented on #3676
@whedon set 10.5281/zenodo.5819254 as archive

[2022-01-05 12:07] whedon commented on #3676
OK. <a href="https://doi.org/10.5281/zenodo.5819254" target="_blank">10.5281/zenodo.5819254</a> is the archive.

[2022-01-05 12:07] dfm commented on #3676
@whedon set v1.1.0 as version

[2022-01-05 12:08] whedon commented on #3676
OK. v1.1.0 is the version.

[2022-01-05 12:08] dfm commented on #3676
@whedon check references

[2022-01-05 12:08] whedon commented on #3676
[code]

[2022-01-05 12:08] dfm commented on #3676
@whedon generate pdf

[2022-01-05 12:09] whedon commented on #3676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: :point_left:

[2022-01-05 12:11] dfm commented on #3676
@whedon recommend-accept

[2022-01-05 12:11] whedon commented on #3676
[code]

[2022-01-05 12:11] whedon commented on #3676
[code]

[2022-01-05 12:11] whedon commented on #3676
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2862

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2862, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-05 12:13] dfm commented on #3676
@JLBLine: I've handed this off to the EiC team and they may have some final edits before publication, but we should be close to set. Thanks for your submission and for all your work iterating through this review!

@plaplant, @mkolopanis: Thanks again for reviewing this submission and for all your constructive suggestions! We wouldn't be able to do this without you and I really appreciate the time

[2022-01-05 12:17] dfm commented on #2920
@whedon add @lavaux as reviewer

Thanks Guilhem for agreeing to review!

I'm going to start up the main review in a new thread. I know that both @changhoonhahn and @lavaux are not available to start the review right away, but I'll keep checking in to make sure that we get when they are ready. Thanks all for agreeing to participate!

[2022-01-05 12:17] whedon commented on #2920
OK, @lavaux is now a reviewer

[2022-01-05 12:18] dfm commented on #2920
@whedon start review

[2022-01-05 12:18] whedon opened #4033 "[REVIEW]: VAST: The Void Analysis Software Toolkit"
**Submitting author:** @kadglass (<a href="http://orcid.org/0000-0002-9540-546X">Kelly Douglass</a>)
**Repository:** https://github.com/DESI-UR/VAST
**Branch with paper.md** (empty if default branch):
**Version:** 1.2.0
**Editor:** @dfm
**Reviewers:** @changhoonhahn, @lavaux
**Archive:** 10.5281/zenodo.7086886

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-1

[2022-01-05 12:18] whedon commented on #2920
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4033.

[2022-01-05 12:18] #2920 closed

[2022-01-05 12:18] whedon commented on #4033
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @changhoonhahn, @lavaux it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https

[2022-01-05 12:18] whedon commented on #4033
Wordcount for `paper.md` is 1150

[2022-01-05 12:18] whedon commented on #4033
[code]

[2022-01-05 12:18] whedon commented on #4033
[code]

[2022-01-05 12:18] whedon commented on #4033
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04033/joss.04033/10.21105.joss.04033.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04033/joss.04033/10.21105.joss.04033.pdf) :page_facing_up: :point_left:

[2022-01-05 12:19] fnattino commented on #4032
@whedon generate pdf from branch joss_paper

[2022-01-05 12:19] whedon commented on #4032
[code]

[2022-01-05 12:19] whedon commented on #4032
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04032/joss.04032/10.21105.joss.04032.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04032/joss.04032/10.21105.joss.04032.pdf) :page_facing_up: :point_left:

[2022-01-05 12:20] dfm commented on #4033
@kadglass, @changhoonhahn, @lavaux – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, pl

[2022-01-05 12:27] falexwolf commented on #4006
A very Happy New Year! Apologies for the late response, I was on extended holidays.

Understood, @arfon! I'll update accordingly!

[2022-01-05 12:34] thejasvibr commented on #3740
* The PDF proof looks good 😎
* The XML file however didn't seem to parse correctly when uploaded at the Crossref testing page ([link](https://data.crossref.org/reports/parser.html)). The error output is below:

![image](https://user-images.githubusercontent.com/12443569/148217897-c7cc5196-c2c9-496d-9395-c5e04506f13e.png)

@faroit, I have no knowledge of how Crossref XMLs should look like, not sure

[2022-01-05 13:01] CFGrote commented on #3905
@whedon generate pdf from branch joss_paper_1.0

[2022-01-05 13:01] whedon commented on #3905
[code]

[2022-01-05 13:01] CFGrote commented on #3905
@FredDeCeuster , can you address the pdf compile error?

@FredDeCeuster, can you address this?

[2022-01-05 13:19] xuanxu commented on #3905
@whedon generate pdf from branch joss_paper_1.0

[2022-01-05 13:19] whedon commented on #3905
[code]

[2022-01-05 13:20] xuanxu commented on #3905
Looks like Whedon successfully compiled the paper in the [preview site](http://whedon.theoj.org/), let's try again

[2022-01-05 13:21] whedon commented on #3905
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03905/joss.03905/10.21105.joss.03905.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03905/joss.03905/10.21105.joss.03905.pdf) :page_facing_up: :point_left:

[2022-01-05 14:40] LegrandNico commented on #3832
I have added the missing citations for Numpy, SciPy and Pandas where they are mentioned in the summary. For Pandas I used the template provided on the website but I think the author list (`The pandas development team`) is not rendered correctly in the compiled paper.

[2022-01-05 14:45] KristinaRiemer commented on #4010
Hi @sandrinecharles, any thoughts on whether y'all would like to move forward with this submission?

[2022-01-05 14:48] KristinaRiemer commented on #4030
Hi @hongyuanjia, you might want to review the "What should my paper contain?" section of the [JOSS author guide](https://joss.readthedocs.io/en/latest/submitting.html) to ensure your paper has the required sections in it.

[2022-01-05 16:27] matthieuaussal commented on #3965
@whedon generate pdf

[2022-01-05 16:28] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2022-01-05 16:46] arfon commented on #3832
@whedon recommend-accept

[2022-01-05 16:46] whedon commented on #3832
[code]

[2022-01-05 16:47] whedon commented on #3832
[code]

[2022-01-05 16:47] whedon commented on #3832
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2863

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2863, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-05 16:56] arfon commented on #3832
@whedon accept deposit=true

[2022-01-05 16:56] whedon commented on #3832
[code]

[2022-01-05 16:57] whedon commented on #3832
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2864
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03832](https://doi.org/10.21105/joss.03832)
2. If everything look

[2022-01-05 17:06] arfon commented on #3832
@LegrandNico – I made a slight tweak to your paper citation formatting in https://github.com/embodied-computation-group/systole/pull/36 .

[2022-01-05 17:07] arfon commented on #3832
@axel-loewe, @janfreyberg – many thanks for your reviews here and to @osorensen for editing this submission! JOSS relies upon the volunteer effort of people like you and we simply wouldn't be able to do this without you ✨

@LegrandNico – your paper is now accepted and published in JOSS :zap::rocket::boom:

[2022-01-05 17:07] #3832 closed

[2022-01-05 17:07] whedon commented on #3832
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03832/status.svg)](https://doi.org/10.21105/joss.03832)

**We need your help!**

Journal of Open Source Softwa

[2022-01-05 17:18] jmschrei commented on #3916
I think he means that he has opened issues in the GitHub repo for you to address, e.g. https://github.com/Spartanzhao/Annoroad-Browser/issues/1

[2022-01-05 17:38] GaryBAYLOR commented on #4031
Hi @fboehm,
Here are links to all issues raised by @soodoku.
Contributor Guidelines: https://github.com/GaryBAYLOR/mixR/issues/17
statement of need within readme: https://github.com/GaryBAYLOR/mixR/issues/18
model object: https://github.com/GaryBAYLOR/mixR/issues/20
has bic been consistently implemented? https://github.com/GaryBAYLOR/mixR/issues/21
documenting 'ev': https://github.com/GaryBAYLOR/m

[2022-01-05 18:20] jmschrei commented on #3975
Hi @wincowgerDEV, would you b able to serve as a reviewer for this submission?

[2022-01-05 18:21] jmschrei commented on #3944
Hi @Narayana-Rao, would you be able to review this submission?

[2022-01-05 18:35] welch16 commented on #4031
@fboehm: all clear from my end too

[2022-01-05 19:10] kthyng commented on #3981
Zenodo archive and version check are good!

Paper:
* citation in first paragraph shouldn't be parenthetical — remove the [] around citation. Some later citations have this problem too.

[2022-01-05 19:15] kthyng commented on #3979
Archive and version look good.

Paper comments:
* Coyle and Hejazi 2018 has a lowercase instead of uppercase "R"
* please check other capitalization in references.

[2022-01-05 19:22] kthyng commented on #3739
@sfsinger19103 -

* version looks updated ✅
* Please update Zenodo metadata so that title and author list exactly match JOSS paper
* Paper comments:
- first bullet, page 2: need punctuation before "See for example"
- first paragraph under "statement of need": "Academic sources ..." should have the parenthetical references together in one set of parentheses
- references aren't properly capitalized,

[2022-01-05 19:30] MLRichter commented on #3992
Hi,
just giving you a brief update.
Currently, work is almost finished on these three PRs:
https://github.com/delve-team/delve/pull/61 addressing Issue: https://github.com/delve-team/delve/issues/54
https://github.com/delve-team/delve/pull/63 addressing Issues: https://github.com/delve-team/delve/issues/57 and https://github.com/delve-team/delve/issues/58
https://github.com/delve-team/delve/pull/6

[2022-01-05 20:01] kthyng commented on #3676
@JLBLine -

* Version and Zenodo look good ✅
* paper:
- "python" isn't capitalized in Lanman et al 2019; please look through all references to see if other corrections should also be made.

[2022-01-05 20:02] nhejazi commented on #3979
thanks for going through the paper and recommending this extra pass @kthyng. I've fixed the typo you spotted as well as several others in https://github.com/nhejazi/medoutcon/commit/f1a419af7a31f1db29e0a8c672c4aa18b4630a78

[2022-01-05 20:03] nhejazi commented on #3979
@whedon generate pdf

[2022-01-05 20:03] whedon commented on #3979
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03979/joss.03979/10.21105.joss.03979.pdf) :page_facing_up: :point_left:

[2022-01-05 20:06] kthyng commented on #3979
@nhejazi Ok ready to go now!

[2022-01-05 20:07] kthyng commented on #3979
@whedon accept deposit=true

[2022-01-05 20:07] whedon commented on #3979
[code]

[2022-01-05 20:07] whedon commented on #3979
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1478820581688725511) 👈 🐦🐦🐦

[2022-01-05 20:07] whedon commented on #3979
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2865
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03979](https://doi.org/10.21105/joss.03979)
2. If everything look

[2022-01-05 20:11] kthyng commented on #3200
@sandrinecharles In case you haven't already done so, please just go ahead and submit your new JOSS paper and you can select @KristinaRiemer as the suggested editor. Please include your reviewer suggestion.

[2022-01-05 20:12] kthyng commented on #3979
Congrats on your new publication @nhejazi! Many thanks to editor @mikldk and reviewers @erikcs and @rrrlw for your time, hard work, and expertise!!

[2022-01-05 20:12] #3979 closed

[2022-01-05 20:12] whedon commented on #3979
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03979/status.svg)](https://doi.org/10.21105/joss.03979)

**We need your help!**

Journal of Open Source Softwa

[2022-01-05 20:18] kthyng commented on #3740
@thejasvibr I'll do some final checks before publishing. Actually the XML does look weird.

@openjournals/dev The XML doesn't have very many lines  — is there an issue?

[2022-01-05 20:28] kthyng commented on #3740
@thejasvibr -

* version and archive look good ✅
* paper:
- You don't mention the package name in the Summary but you should.
- Under "Software..." section, please list the reference for each package immediately after each package, and format package name with ``.
- The "Package repository" section is a bit redundant with the left hand side of the paper listing the repo location.
- References: Sho

[2022-01-05 20:39] nhejazi commented on #3979
Thanks all for your work on reviewing and editing this paper!

[2022-01-05 20:46] eloisabentivegna commented on #3908
Welcome to 2022! @sgeorge91, @changhoonhahn, @alaingdl, could you let us know if you're available to review this submission?

[2022-01-05 21:48] whedon opened #4034 "[PRE REVIEW]: APCtools: Descriptive and Model-based Age-Period-Cohort Analysis"
**Submitting author:** @bauer-alex (<a href="http://orcid.org/0000-0003-3495-5131">Alexander Bauer</a>)
**Repository:** <a href="https://github.com/bauer-alex/APCtools" target ="_blank">https://github.com/bauer-alex/APCtools</a>
**Version:** 1.0.0
**Editor:** @Nikoleta-v3
**Reviewers:** @strengejacke , @fernandomayer
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:*

[2022-01-05 21:48] whedon commented on #4034
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-05 21:48] whedon commented on #4034
Failed to discover a `Statement of need` section in paper

[2022-01-05 21:48] whedon commented on #4034
Wordcount for `paper.md` is 989

[2022-01-05 21:48] whedon commented on #4034
[code]

[2022-01-05 21:49] whedon commented on #4034
[code]

[2022-01-05 21:49] whedon opened #4035 "[PRE REVIEW]: svFSI: A Multiphysics Package for Integrated Cardiac Modeling"
**Submitting author:** @CZHU20 (<a href="http://orcid.org/0000-0002-1099-8893">Chi Zhu</a>)
**Repository:** <a href="https://github.com/SimVascular/svFSI" target ="_blank">https://github.com/SimVascular/svFSI</a>
**Version:** v1.0.0
**Editor:** @Kevin-Mattheus-Moerman
**Reviewers:** @chennachaos, @JaroslavHron,  @axel-loewe
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :wa

[2022-01-05 21:49] whedon commented on #4034
Failed to discover a valid open source license.

[2022-01-05 21:49] whedon commented on #4035
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-05 21:49] whedon commented on #4035
[code]

[2022-01-05 21:49] whedon commented on #4035
Wordcount for `paper.md` is 1210

[2022-01-05 21:49] whedon commented on #4035
[code]

[2022-01-05 21:49] whedon commented on #4034
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04034/joss.04034/10.21105.joss.04034.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04034/joss.04034/10.21105.joss.04034.pdf) :page_facing_up: :point_left:

[2022-01-05 21:50] whedon commented on #4035
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04035/joss.04035/10.21105.joss.04035.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04035/joss.04035/10.21105.joss.04035.pdf) :page_facing_up: :point_left:

[2022-01-05 21:50] kthyng commented on #4034
@whedon generate pdf

[2022-01-05 21:51] whedon commented on #4034
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04034/joss.04034/10.21105.joss.04034.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04034/joss.04034/10.21105.joss.04034.pdf) :page_facing_up: :point_left:

[2022-01-05 21:58] kthyng commented on #4034
Hi @Bisaloo! Are you interested in editing this submission?

[2022-01-05 21:58] kthyng commented on #4034
@whedon invite @Bisaloo as editor

[2022-01-05 21:58] whedon commented on #4034
@Bisaloo has been invited to edit this submission.

[2022-01-05 21:59] sfsinger19103 commented on #3739
Done! @kthyng

[2022-01-05 22:01] kthyng commented on #4034
@bauer-alex: please add an open source license and make sure one section in your paper is entitled "Statement of Need".

[2022-01-05 22:03] kthyng commented on #4035
Hi @Kevin-Mattheus-Moerman would you like to edit this submission?

[2022-01-05 22:03] kthyng commented on #4035
@whedon invite @Kevin-Mattheus-Moerman as editor

[2022-01-05 22:03] whedon commented on #4035
@Kevin-Mattheus-Moerman has been invited to edit this submission.

[2022-01-05 22:04] arunpersaud commented on #2688
Hi and happy New Year!

@danielskatz @aquilesC @untzag just wanted to check in if the above is OK or if I should just officially resubmit. We tagged version 2.0.0 which is a rewrite that took in many of the excellent comments that we got earlier and hopefully addresses all the issues that were mentioned.

[2022-01-05 22:05] kthyng commented on #3739
@whedon generate pdf from branch joss-submission

[2022-01-05 22:05] whedon commented on #3739
[code]

[2022-01-05 22:05] whedon commented on #3739
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03739/joss.03739/10.21105.joss.03739.pdf) :page_facing_up: :point_left:

[2022-01-05 22:18] danielskatz commented on #2688
👋 @timtroendle - this is really for you as the editor

[2022-01-05 22:18] kthyng commented on #3739
ok looks ready to go!

[2022-01-05 22:18] kthyng commented on #3739
@whedon accept deposit=true from branch joss-submission

[2022-01-05 22:18] whedon commented on #3739
[code]

[2022-01-05 22:20] whedon commented on #3739
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1478853827441094656) 👈 🐦🐦🐦

[2022-01-05 22:20] whedon commented on #3739
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2866
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03739](https://doi.org/10.21105/joss.03739)
2. If everything look

[2022-01-05 22:33] kthyng commented on #3739
Congrats on your new publication @sfsinger19103! Many thanks to editor @ajstewartlang and reviewers @vaneseltine and @andrewheiss for your time, hard work, and expertise!!

[2022-01-05 22:33] #3739 closed

[2022-01-05 22:33] whedon commented on #3739
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03739/status.svg)](https://doi.org/10.21105/joss.03739)

**We need your help!**

Journal of Open Source Softwa

[2022-01-05 22:45] Kevin-Mattheus-Moerman commented on #4035
@whedon assign me as editor

[2022-01-05 22:45] whedon commented on #4035
OK, the editor is @Kevin-Mattheus-Moerman

[2022-01-05 22:48] BunnyVon commented on #3690
@richardjgowers Happy New Year! I'm one of the co-authors of this manuscript. I wonder if you have any updates on the review process.
There doesn't appear to have been any update for 3 months. So we also wonder if there is any additional information we can provide to you — to help advance our manuscript to the reviewing stage. Thanks :)

[2022-01-05 22:53] kthyng commented on #3814
@briochemc Sorry for my delay, I had the past few weeks off! Everything is looking ready to go now!

[2022-01-05 22:53] kthyng commented on #3814
@whedon set v0.11.2 as version

[2022-01-05 22:53] whedon commented on #3814
OK. v0.11.2 is the version.

[2022-01-05 22:54] kthyng commented on #3814
@whedon accept deposit=true

[2022-01-05 22:54] whedon commented on #3814
No archive DOI set. Exiting...

[2022-01-05 22:54] kthyng commented on #3814
@whedon set 10.5281/zenodo.5787531 as doi

[2022-01-05 22:55] whedon commented on #3814
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2022-01-05 22:55] kthyng commented on #3814
@whedon set 10.5281/zenodo.5787531 as archive

[2022-01-05 22:55] whedon commented on #3814
OK. <a href="https://doi.org/10.5281/zenodo.5787531" target="_blank">10.5281/zenodo.5787531</a> is the archive.

[2022-01-05 22:55] kthyng commented on #3814
@whedon accept deposit=true

[2022-01-05 22:55] whedon commented on #3814
[code]

[2022-01-05 22:56] kthyng commented on #3344
@mcflugen Please give an update when you can, thanks!

[2022-01-05 22:56] whedon commented on #3814
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1478863043186638848) 👈 🐦🐦🐦

[2022-01-05 22:56] whedon commented on #3814
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2867
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03814](https://doi.org/10.21105/joss.03814)
2. If everything look

[2022-01-05 22:57] kthyng commented on #3594
@SeascapeScience Happy New Year! I'd appreciate an update on timing when you can give an estimate, thanks!

[2022-01-05 23:01] kthyng commented on #3814
Congrats on your new publication @briochemc! Many thanks to reviewers @dankelley and @zhenwu0728 for your time, hard work, and expertise!!

[2022-01-05 23:01] #3814 closed

[2022-01-05 23:01] whedon commented on #3814
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03814/status.svg)](https://doi.org/10.21105/joss.03814)

**We need your help!**

Journal of Open Source Softwa

[2022-01-05 23:03] sixpearls commented on #4026
@whedon generate pdf

[2022-01-05 23:04] whedon commented on #4026
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04026/joss.04026/10.21105.joss.04026.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04026/joss.04026/10.21105.joss.04026.pdf) :page_facing_up: :point_left:

[2022-01-05 23:05] sixpearls commented on #4026
@whedon check references

[2022-01-05 23:05] whedon commented on #4026
[code]

[2022-01-05 23:06] sixpearls commented on #4026
@whedon generate pdf

[2022-01-05 23:07] whedon commented on #4026
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04026/joss.04026/10.21105.joss.04026.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04026/joss.04026/10.21105.joss.04026.pdf) :page_facing_up: :point_left:

[2022-01-05 23:08] sixpearls commented on #4026
@whedon check references

[2022-01-05 23:08] whedon commented on #4026
[code]

[2022-01-05 23:12] alaingdl commented on #3908
I am very sorry but it is really too far from my limited range of competence or expertise.

Do you have consider one of the authors in the citation list as a referee ?

[2022-01-05 23:24] shamsiharis commented on #3861
@FWuellhorst
I am almost done with the review. I was able to follow the tutorial along with the examples. I had two questions though.
1. For the multiple class calibration in the tutorial, running the example in jupyter notebook returns a Simulation Failed Error. The multiple class calibrator runs successfully for the examples via the terminal although returns a maximum iterations reached error.
2

[2022-01-06 00:24] untzag commented on #2688
Oops I missed it. Happy to review here again for what it's worth.

[2022-01-06 00:49] LeonidPryadko commented on #3970
Here are the email addresses of the suggested reviewers:
 Cristophe Vuillot <
christophe.vuillot@inria.fr > and Nikolas Breuckmann < nikobreu@gmail.com >

I extended the README.md file for the package distribution at github; hope it contains enough information now.  Please let me know if any additional information needed is still missing.

[2022-01-06 01:20] JLBLine commented on #3676
Hi @kthyng, I've got rid of the capital on `python` and pushed the change to the master branch. I don't think any other corrections need to be made.

[2022-01-06 01:54] dfm commented on #3676
@JLBLine: That's not what @kthyng meant! She was suggesting that the title of that paper should have a capital `P` (I note that the published version does, in fact, have a lowercase `p`: https://joss.theoj.org/papers/10.21105/joss.01234) but you can update the bib file to:

[code]

I also think you should revert your previous change: Python should, in general, be capitalized.

[2022-01-06 02:15] JLBLine commented on #3676
Thanks @dfm, my mistake. I've made the bib change for Lanman et al 2019 as suggested, and reverted python back to Python in the text. To the best of my knowledge all is now as it should be @kthyng.

[2022-01-06 02:22] dfm commented on #3676
@whedon generate pdf

[2022-01-06 02:22] whedon commented on #3676
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03676/joss.03676/10.21105.joss.03676.pdf) :page_facing_up: :point_left:

[2022-01-06 04:25] Narayana-Rao commented on #3944
Hi @jmschrei,
Thanks for considering me, but I am sorry, I am not an expert in this field.

[2022-01-06 07:48] FWuellhorst commented on #3861
@shamsiharis :
Thanks a lot that you take the time to review our code!

Regarding your questions:
1. I will split my answer:
**Simulation error:** Can you raise an issue with the simulation error in AixCaliBuHA? My colleagues and I don't get this error. Please state the error log.
**Maximum iterations reached error:** This was a design choice. Most optimization algorithms determine when to stop. H

[2022-01-06 07:56] timtroendle commented on #2688
Sorry for the late response @arunpersaud. Not sure why I haven't seen any notification.

I'm happy to continue in here. @aquilesC, @garrettj403 would you be able to review this again?

[2022-01-06 09:31] samanmostafavi commented on #3861
@whedon generate pdf

[2022-01-06 09:32] whedon commented on #3861
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03861/joss.03861/10.21105.joss.03861.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03861/joss.03861/10.21105.joss.03861.pdf) :page_facing_up: :point_left:

[2022-01-06 09:41] samanmostafavi commented on #3861
@FWuellhorst
I've gone through the basics so far. This includes reviewing the paper, initial installation and testing. Here's where I stand at this point:

## Comments on the paper:

**Summary:** Nicely written. I would recommend adding further references to other building energy modeling libraries (e.g., [Modelica Buildings Library](https://github.com/lbl-srg/modelica-buildings) to further emphas

[2022-01-06 09:57] thejasvibr commented on #3740
Thanks @kthyng - will do the reformatting. How to proceed now, should I make another tagged release, or just make the manuscript changes into a normal commit?

[2022-01-06 10:02] sandrinecharles commented on #4010
@KristinaRiemer @kthyng Thanks for your message. I inform you that we decided to not submit to JOSS finally because this would have implied too much reduction of the content regarding the current one. Best regards, Sandrine

[2022-01-06 10:05] FWuellhorst commented on #3861
@samanmostafavi: Thanks a lot for the time invested in your initial review and your comments.

Please find my answers/comments below:

**Summary:** I agree. As the `AixLib` is part of project one, referring to all other libraries (IDEAS, Buildings, etc.) instead of only the `AixLib` is more fitting.

**Statement of Need**: The statement of need is the automated calibration. While developing the li

[2022-01-06 10:16] samanmostafavi commented on #3861
@FWuellhorst Thank you for the prompt response. I will try the fix you suggested and let you know soon. Per our discussion, I will focus the rest of review on the functionality and corresponding documentation of `AixLib` and how it does the  "heavy lifting of defining data classes, plotting, logging, and performing the automated calibration". I also suggest to appropriately edit the **Statement of

[2022-01-06 10:20] eloisabentivegna commented on #3908
@alaingdl, thanks for the update and the suggestion.

[2022-01-06 12:48] sgeorge91 commented on #3908
Hi!
Sorry about the late reply. I had a look at the article draft and realized
I'm super out of my depth here too. I can ask around a bit and see if I can
suggest someone more competent in case you don't find a second reviewer.
Warm regards,
Sandip

On Thu, Jan 6, 2022, 3:50 PM Eloisa Bentivegna ***@***.***>
wrote:

[2022-01-06 12:50] MLRichter commented on #3992
Update: All PRs have been merged.

[2022-01-06 12:54] dionhaefner commented on #3992
@whedon generate pdf

[2022-01-06 12:55] whedon commented on #3992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: :point_left:

[2022-01-06 13:17] justinshenk commented on #3992
@whedon generate pdf

[2022-01-06 13:17] justinshenk commented on #3992
Merged, thank you for the helpful revisions!

[2022-01-06 13:17] whedon commented on #3992
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03992/joss.03992/10.21105.joss.03992.pdf) :page_facing_up: :point_left:

[2022-01-06 13:47] lucydot commented on #3898
@dalonsoa thank you for your timely and thoughtful review.

We are waiting on a second review from @jgoldfar  - could you give us an update on how this is going? I will also contact through email as I know sometimes the github notifications are missed (I am guilty of this anyhow).

[2022-01-06 15:34] slayoo commented on #3219
For the record, from now on (https://github.com/atmos-cloud-sim-uj/PySDM/pull/717) the code snippets included in the JOSS paper will be executed as a part of PySDM CI build to ensure the example code works well with future updates to PySDM.

[2022-01-06 15:36] slayoo commented on #3219
@whedon generate pdf from branch master

[2022-01-06 15:36] whedon commented on #3219
[code]

[2022-01-06 15:36] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2022-01-06 15:39] crvernon commented on #3852
:mega: Mid-week rally!

It would be good to get this one wrapped up soon @jlarsen-usgs so we can free up our reviewers.  How are things looking on your side of things for finishing up the remaining issues?  It looks like @mdbartos has two boxes left to check off and @thurber has approved all.

Thanks!

[2022-01-06 15:41] crvernon commented on #3709
:mega: Mid-week rally!

It would be good to get this one wrapped up soon @AlexanderJuestel so we can free up our reviewers.  How are things looking on your side of things for finishing up the remaining issues?  It looks like both @kanishkan91 and @omshinde are waiting on responses to proceed.

Thanks!

[2022-01-06 15:43] crvernon commented on #3824
:mega: Mid-week rally!

It would be good to get this one wrapped up soon @cc-a so we can free up our reviewers.  How are things looking on your side of things for finishing up the remaining issues?  It looks like @acrlakshman has several more items to check off and @thurber has approved all.

@acrlakshman could you also provide an update to where things stand on your side of things?

Thanks!

[2022-01-06 15:43] kthyng commented on #3676
@JLBLine and @dfm Thanks for fixing and clarifying! We are ready to wrap it up then!

[2022-01-06 15:44] kthyng commented on #3676
@whedon accept deposit=true

[2022-01-06 15:44] whedon commented on #3676
[code]

[2022-01-06 15:44] whedon commented on #3676
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1479116770610798596) 👈 🐦🐦🐦

[2022-01-06 15:44] whedon commented on #3676
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2868
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03676](https://doi.org/10.21105/joss.03676)
2. If everything look

[2022-01-06 15:45] acrlakshman commented on #3824
@crvernon, my comments were addressed. I shall submit my final review before this weekend.

[2022-01-06 15:46] kthyng commented on #3676
Congrats on your new publication @JLBLine! Many thanks to editor @dfm and reviewers @plaplant and @mkolopanis for your time, hard work, and expertise!!

[2022-01-06 15:46] #3676 closed

[2022-01-06 15:46] whedon commented on #3676
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03676/status.svg)](https://doi.org/10.21105/joss.03676)

**We need your help!**

Journal of Open Source Softwa

[2022-01-06 15:47] crvernon commented on #3824
Thank you @acrlakshman !

[2022-01-06 15:48] crvernon commented on #3824
Also @acrlakshman please don't forget to check off any remaining boxes that have been addressed in your reviewer checklist.  Thanks!

[2022-01-06 15:50] acrlakshman commented on #3824
@crvernon , sure I will clear all pending items.

[2022-01-06 15:55] danielskatz commented on #4010
@whedon withdraw

thanks for the update @sandrinecharles

[2022-01-06 15:55] whedon commented on #4010
Paper withdrawn.

[2022-01-06 15:55] #4010 closed

[2022-01-06 15:57] kthyng commented on #4000
Hi @TomTranter — sorry but while I can't quite remember the rule of thumb for how long a conflict between postdoc advisor/postdoc is, it is at least 5 years and this is not a gray area. I see at least 4 other editors that may be appropriate for this submission but they are all currently full. Hopefully it won't be too long to get some availability! Thanks for your patience.

[2022-01-06 16:02] kthyng commented on #4001
@ajstewartlang Are you interested in editing this submission?

[2022-01-06 16:02] kthyng commented on #4001
@whedon invite @ajstewartlang as editor

[2022-01-06 16:02] whedon commented on #4001
@ajstewartlang has been invited to edit this submission.

[2022-01-06 16:03] slayoo commented on #3219
@whedon generate pdf from branch master

[2022-01-06 16:03] whedon commented on #3219
[code]

[2022-01-06 16:03] whedon commented on #3219
PDF failed to compile for issue #3219 with the following error:
[code]

[2022-01-06 16:04] kthyng commented on #4005
@pdebuyl Adding a ping here now that it is the new year — would you like to edit this submission? Thanks!

[2022-01-06 16:04] ajstewartlang commented on #4001
@whedon assign me as editor

[2022-01-06 16:04] whedon commented on #4001
OK, the editor is @ajstewartlang

[2022-01-06 16:05] kthyng commented on #4007
@will-rowe Just another ping here in the new year — are you interested in editing this submission?

[2022-01-06 16:07] kthyng commented on #4008
@galessiorob Just a ping in the new year! Are you interested in editing this submission?

[2022-01-06 16:07] georgiastuart commented on #3651
I am deeply sorry about the extreme delay. I have not been able to install this package and have only recently had time to really mess with it. It appears that the current BMM dependencies don't play nicely with my version of Ubuntu (21.10). @SamDuffield would it be possible for you to add a Dockerfile to the repo so I can build a container to test?

[2022-01-06 16:09] slayoo commented on #3219
@whedon generate pdf from branch master

[2022-01-06 16:09] whedon commented on #3219
[code]

[2022-01-06 16:09] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2022-01-06 16:10] kthyng commented on #4018
@hugoledoux are you interested in editing this submssion?

[2022-01-06 16:11] kthyng commented on #4018
@whedon invite @hugoledoux as editor

[2022-01-06 16:11] whedon commented on #4018
@hugoledoux has been invited to edit this submission.

[2022-01-06 16:14] kthyng commented on #4019
Hi @crvernon are you interested in editing this submission?

[2022-01-06 16:14] kthyng commented on #4019
@whedon invite @crvernon as editor

[2022-01-06 16:14] whedon commented on #4019
@crvernon has been invited to edit this submission.

[2022-01-06 16:16] slayoo commented on #3219
@whedon generate pdf from branch master

[2022-01-06 16:17] whedon commented on #3219
[code]

[2022-01-06 16:17] whedon commented on #3219
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03219/joss.03219/10.21105.joss.03219.pdf) :page_facing_up: :point_left:

[2022-01-06 16:17] crvernon commented on #4019
@kthyng happy to help!

@whedon assign @crvernon as editor

[2022-01-06 16:23] danielskatz commented on #4019
@whedon assign @crvernon as editor

whedon commands have to be at the start of a comment :)

[2022-01-06 16:23] crvernon commented on #4019
@kthyng it looks like my self assignment via whedon did not take.  Can you try on your end?  Thanks!

[2022-01-06 16:23] whedon commented on #4019
OK, the editor is @crvernon

[2022-01-06 16:23] crvernon commented on #4019
Thanks @danielskatz !

[2022-01-06 16:24] crvernon commented on #4019
:wave: @jhollist - I'll be your topic editor for this submission.

The first step in this pre-review is to find at least 2 reviewers. If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, this [list of people](https://docs.google.com/spreadsheets/d/1PAPRJ63yq9aPC1COLjaQp8mHmEq3rZUzwUYxTulyu78/edit?usp=sharing

[2022-01-06 16:25] kthyng commented on #4026
@prashjha are you interested in editing this submission?

[2022-01-06 16:25] whedon commented on #4026
@prashjha has been invited to edit this submission.

[2022-01-06 16:28] kthyng commented on #4034
Hi @Nikoleta-v3! Are you interested in editing this submission?

[2022-01-06 16:28] kthyng commented on #4034
@whedon invite @Nikoleta-v3 as editor

[2022-01-06 16:28] whedon commented on #4034
@Nikoleta-v3 has been invited to edit this submission.

[2022-01-06 16:43] georgiastuart commented on #3651
I was able to put together a quick Dockerfile. Continuing my review now.

[2022-01-06 16:45] kthyng commented on #3740
@whedon generate pdf from branch ms

[2022-01-06 16:45] whedon commented on #3740
[code]

[2022-01-06 16:45] whedon commented on #3740
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: :point_left:

[2022-01-06 16:52] kthyng commented on #3740
@thejasvibr Your changes look good! You can keep these changes in the separate branch if you want, or merge, either is fine. You don't need to update the Zenodo archive or version number for these small manuscript changes unless you want to. Let me know when you're ready to proceed and we'll wrap it up!

[2022-01-06 16:55] jlarsen-usgs commented on #3852
Hi @crvernon

I've advanced it to the last step in the USGS Bureau Approval process that goes in conjunction with the journal review. Once I get the approval there I'll be able to check the remaining issues and have the work on my end wrapped up. Thanks for checking in, the final step on my end shouldn't take very long (< 1 week).

[2022-01-06 17:00] crvernon commented on #3852
Sounds great @jlarsen-usgs !  Let me know when you are clear and I'll make my final pass and recommendation.

[2022-01-06 17:07] ptmerz commented on #3981
Thanks @kthyng, it seems we just used the parenthetical version throughout without taking into account the context. I went over all citations and used the version (with or without parenthesis) which fits the context better.

[2022-01-06 17:07] ptmerz commented on #3981
@whedon generate pdf

[2022-01-06 17:08] whedon commented on #3981
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03981/joss.03981/10.21105.joss.03981.pdf) :page_facing_up: :point_left:

[2022-01-06 17:18] kthyng commented on #3981
@ptmerz Ok looks good!

[2022-01-06 17:18] kthyng commented on #3981
@whedon accept deposit=true

[2022-01-06 17:18] whedon commented on #3981
[code]

[2022-01-06 17:19] whedon commented on #3981
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1479140528696479753) 👈 🐦🐦🐦

[2022-01-06 17:19] whedon commented on #3981
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2869
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03981](https://doi.org/10.21105/joss.03981)
2. If everything look

[2022-01-06 17:19] akaptano commented on #3994
@whedon generate pdf

[2022-01-06 17:20] whedon commented on #3994
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03994/joss.03994/10.21105.joss.03994.pdf) :page_facing_up: :point_left:

[2022-01-06 17:22] akaptano commented on #3994
We have merged the PDE improvements into the main branch as v1.6. I have updated the paper to include Zach N. as an author (who did most of the PDE improvement work). Thanks!

[2022-01-06 17:25] whedon commented on #3951
[code]

[2022-01-06 17:30] richardjgowers commented on #3951
@dominiquesydow looks like we're good to go.  Can you make a tagged release of the software (e.g. via zenodo)?  I think it might be easiest to archive the entire package rather than worry about splitting out this module.  (The DOI suggestion seems to be for a poem, top marks for effort though Whedon!)

[2022-01-06 17:33] kthyng commented on #3981
Congrats on your new publication @ptmerz! Many thanks to editor @rkurchin and reviewers @tonigi, @geraldjwang, and @zadehsey for your time, hard work, and expertise!!

[2022-01-06 17:33] #3981 closed

[2022-01-06 17:33] whedon commented on #3981
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03981/status.svg)](https://doi.org/10.21105/joss.03981)

**We need your help!**

Journal of Open Source Softwa

[2022-01-06 17:54] ptmerz commented on #3981
Thank you @kthyng 🎉

Many thanks to @rkurchin, @tonigi, @zadehsey, and @geraldjwang! This has been a greatly enjoyable process, thank you all for your time and effort!

[2022-01-06 18:12] sbenthall commented on #3496
@cdcrabtree Would you be able to step in as a reviewer for this package?

[2022-01-06 18:12] jhollist commented on #4019
Hi @crvernon.  Appreciate you taking this on.

A few possibilities I can think of: dblodget-usgs, ldecicco-usgs, dylanbeaudette

From the list: alessandroamaranto, jmp75, arbennett, mikejohnson51, wincowgerDEV all look like possibilities.

And one other, but might have COI as I have worked with them, but not on this project:  fawda123

Hope this helps!

[2022-01-06 18:13] sbenthall commented on #3938
Hello @cmaimone Would you be able to review this package?

[2022-01-06 18:21] aaron-bray commented on #2555
Happy New Year Everyone!

How is the review going?

[2022-01-06 18:30] rkurchin commented on #4025
I could probably handle this one!

[2022-01-06 18:33] crvernon commented on #4019
:wave:   @jmp75 - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-06 18:33] crvernon commented on #4019
:wave:   @ldecicco-USGS - Would you be willing to review this submission to JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-06 18:39] cmaimone commented on #3938
yes

[2022-01-06 18:53] sbenthall commented on #3938
Thank  you @cmaimone ! I'll sign up up.

[2022-01-06 18:53] sbenthall commented on #3938
@whedon add @cmaimone as reviewer

[2022-01-06 18:53] whedon commented on #3938
OK, @cmaimone is now a reviewer

[2022-01-06 18:54] sbenthall commented on #3938
@whedon start review

[2022-01-06 18:54] whedon opened #4036 "[REVIEW]: sweater: Speedy Word Embedding Association Test and Extras Using R"
**Submitting author:** @chainsawriot (<a href="http://orcid.org/0000-0002-6232-7530">Chung-hong Chan</a>)
**Repository:** https://github.com/chainsawriot/sweater
**Branch with paper.md** (empty if default branch):
**Version:** 0.1.4
**Editor:** @sbenthall
**Reviewers:** @kbenoit, @cmaimone
**Archive:** 10.5281/zenodo.6421527

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-01-06 18:54] whedon commented on #3938
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4036.

[2022-01-06 18:54] #3938 closed

[2022-01-06 18:54] whedon commented on #4036
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @kbenoit, @cmaimone it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2022-01-06 18:54] whedon commented on #4036
Wordcount for `paper.md` is 1402

[2022-01-06 18:54] whedon commented on #4036
[code]

[2022-01-06 18:54] whedon commented on #4036
[code]

[2022-01-06 18:55] whedon commented on #4036
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04036/joss.04036/10.21105.joss.04036.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04036/joss.04036/10.21105.joss.04036.pdf) :page_facing_up: :point_left:

[2022-01-06 18:56] sbenthall commented on #4036
👋🏼 @chainsawriot @kbenoit @cmaimone this is the review thread for the paper. All of our communications will happen here from now on.

Both reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from mos

[2022-01-06 19:24] AlexanderJuestel commented on #3709
Hey everyone,
I totally agree. I am back from vacation next week and will tackle the open issues right away then and hope to solve everything by the end of next weekend

[2022-01-06 19:50] diehlpk commented on #3724
@@tiburoch please have a look at these comments.

[2022-01-06 20:25] wincowgerDEV commented on #3975
I am able to serve as a reviewer for this submission, thanks for the invitation.

[2022-01-06 20:27] dbkeitel commented on #3998
@katiebreivik I did a few quick checks with `lalsimulation.SimInspiralChooseTDWaveform`. Just naively going to very low starting frequencies at fixed `f_min` blows up runtime and memory use, predictably. Reducing time resolution to make up for that works to some degree, but seems to run into some weird indexing issues when reducing it too much. If you're interested in knowing the transition region

[2022-01-06 20:46] dbkeitel commented on #3998
Review update: I'm mostly through with digging as deep into the documentation and code as I think is required and am overall very impressed with the state of the package.

- I've opened a few issues on minor usability and documentation aspects.
- There's a few physics points where I'm a bit confused right now about the choices made, and I've left the "functionality" checkbox open for the moment to

[2022-01-06 20:47] goerz opened #4037 "A statement of need: Do the authors clearly state what problems the software is designed to solve and who the target audience is?"

[2022-01-06 20:47] whedon commented on #4037
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-01-06 20:47] #4037 closed

[2022-01-06 21:00] alaingdl commented on #3908
I ask around and I got few suggestions, colleagues working on [CII] line at 158 um. I would prefer to send the names/contact by email. (I don't know whether they have account here)

[2022-01-06 21:14] goerz commented on #3711
Ok, I finished my second round of review. The manuscript and documentation seems good enough for publication, as far as I'm concerned. I opened two relatively trivial issues, https://github.com/JuliaQX/QXTools.jl/issues/43 (which is a pure formality) and https://github.com/JuliaQX/QXTools.jl/issues/44.

I would recommend making an official release of the package (maybe even a 1.0 release - In my m

[2022-01-06 22:42] TomWagg commented on #3998
Thanks very much for all of the comments/issues so far @dbkeitel, I really appreciate all of the improvements you're helping to make to the package and its documentation! ☺️ And I'm glad to hear you like the tests and documentation, thanks! 😁

This is definitely a concern I share! There's no doubt that there will be new models for sensitivity curve/confusion noise etc as we approach the launch of

[2022-01-06 22:44] kthyng commented on #4023
@whedon assign @diehlpk as editor

[2022-01-06 22:44] whedon commented on #4023
OK, the editor is @diehlpk

[2022-01-06 23:01] jmp75 commented on #4019
@crvernon I can review this submission.

[2022-01-07 00:44] jmschrei commented on #3975
@whedon add @wincowgerDEV as reviewer

[2022-01-07 00:44] whedon commented on #3975
OK, @wincowgerDEV is now a reviewer

[2022-01-07 00:44] jmschrei commented on #3975
Great! Let's start.

[2022-01-07 00:44] jmschrei commented on #3975
@whedon start review

[2022-01-07 00:44] whedon opened #4038 "[REVIEW]: ADaPT-ML: A Data Programming Template for Machine Learning"
**Submitting author:** @nulberry (<a href="http://orcid.org/0000-0001-8512-1810">Andrea Whittaker</a>)
**Repository:** https://github.com/U-Alberta/ADaPT-ML
**Branch with paper.md** (empty if default branch): main
**Version:** v1.0.0
**Editor:** @jmschrei
**Reviewers:** @aaronpeikert, @wincowgerDEV
**Archive:** 10.5281/zenodo.6402630

**:warning: JOSS reduced service mode :warning:**

Due to the c

[2022-01-07 00:44] whedon commented on #3975
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4038.

[2022-01-07 00:44] #3975 closed

[2022-01-07 00:44] whedon commented on #4038
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aaronpeikert, @wincowgerDEV it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](

[2022-01-07 00:44] whedon commented on #4038
Wordcount for `paper.md` is 612

[2022-01-07 00:44] whedon commented on #4038
[code]

[2022-01-07 00:45] whedon commented on #4038
[code]

[2022-01-07 00:45] whedon commented on #4038
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04038/joss.04038/10.21105.joss.04038.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04038/joss.04038/10.21105.joss.04038.pdf) :page_facing_up: :point_left:

[2022-01-07 00:46] jmschrei commented on #4038
Howdy @aaronpeikert and @wincowgerDEV

Thanks for agreeing to review this submission.

The process for conducting a review is outlined above in the checklist from @whedon. Please check the boxes during your review to keep track, as well as make comments in this thread or open issues in the repository itself to point out issues you encounter. Keep in mind that our aim is to improve the submission t

[2022-01-07 01:55] hongyuanjia commented on #4030
Hi @KristinaRiemer, thanks for the remainder. I will update the paper structure accordingly based on the guide.

[2022-01-07 02:27] jGaboardi commented on #4021
@ni1o1 @anitagraser @martinfleis

I have completed my first thorough pass of `transbigdata` and the manuscript, and have opened several issues and a PR, mostly involving documentation. Once the minor language issues, etc. are fixed in the paper, I would comfortable checking off those boxes. However, a sticking point that will ultimately hold back JOSS acceptance is the apparent lack of any testing

[2022-01-07 02:40] Spartanzhao commented on #3916
@jmschrei Okay, No problem, Shall I rename my paper's title too? Am I have to withdraw my paper and resubmit again? Or just change the repository name and PAPER.md in my repository?

[2022-01-07 02:56] JLBLine commented on #3676
Hooray! Thanks again @dfm @mkolopanis @plaplant @kthyng for getting this across the line.

[2022-01-07 03:27] Spartanzhao commented on #3916
@jmschrei  I had renamed my paper title, repository name and contents in paper.md and README.md in my repository into Annoroad-OMIC-Viz。

[2022-01-07 05:51] mkitti commented on #3965
I have provisioned Linux virtual machines that I can use to test the software. Please let me know if there are any updated installation or compilation instructions. I plan on making a compilation run by the end of this week.

[2022-01-07 07:40] hugoledoux commented on #4018
@whedon assign @hugoledoux as editor

[2022-01-07 07:40] whedon commented on #4018
OK, the editor is @hugoledoux

[2022-01-07 08:48] Nikoleta-v3 commented on #4034
👋🏻 @kthyng! Happy new year. I'm happy to edit this submission

[2022-01-07 08:49] Nikoleta-v3 commented on #4034
@whedon assign me as editor

[2022-01-07 08:49] whedon commented on #4034
OK, the editor is @Nikoleta-v3

[2022-01-07 08:59] matthieuaussal commented on #3965
@mkitti
Following your recommendations, we have added references to Matlab, Julia and Eigen in the bibliography of the paper. On the other hand, we did not specify a version of the tools in the paper, because it is intended to be timeless.

However, we have also updated the installation procedure on our documentation, accessible here:

https://leprojetcastor.gitlab.labos.polytechnique.fr/castor/in

[2022-01-07 09:10] jbytecode commented on #3965
Dear @matthieuaussal

Thank you for the updates and changes.

Since the review process is currently active, there is no need to ping anyone now, the reviewers can decide to have an action or not while the other reviewer is in action. It seems the second reviewer is also active as they have completed some tasks.

By the way, we can ask them if they capable of having notifications and ask them to up

[2022-01-07 09:12] jbytecode commented on #3965
@whedon generate pdf

[2022-01-07 09:12] whedon commented on #3965
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03965/joss.03965/10.21105.joss.03965.pdf) :page_facing_up: :point_left:

[2022-01-07 09:16] mkitti commented on #3965
Thank you for the revisions to the paper and installation instructions.

I do not see how indicating the version of the tools that you used would make the software any less timeless. I will defer to the editor whether it is sufficient to have those versions in the installation instructions and not the main text of the paper. However, under most publication procedures a snapshot of those installati

[2022-01-07 09:20] dbkeitel commented on #3998
Yes, direct aliasing is a little different from the wrapper-function-with-str-argument approach I was thinking of, but it sounds like a good and equivalent future model too! Whenever the default changes, you'll just have to be very explicit in your changelogs.

[2022-01-07 09:22] jbytecode commented on #3965
@mkitti - It is sufficient to have directives and installation instructions in Github or/and documentation.

[2022-01-07 09:26] mkitti commented on #3965
That's fine with me. I'm just noticing that the Github repository is out of sync with the website:
https://github.com/leprojetcastor/castor/blob/master/doc/source/installation.rst
https://leprojetcastor.gitlab.labos.polytechnique.fr/castor/installation.html

Do we usually require the use of Zenodo to capture a DOI tagged snapshot of the Git repository?

[2022-01-07 09:35] jbytecode commented on #3965
The host repo should include any installation instructions, however, external links are okay as soon as they are quareeted to be exist.

[2022-01-07 10:00] matthieuaussal commented on #3965
@mkitti
I fixed hyperlink in the windows part of the documentation.

@jbytecode
The online documentation with continuous integration is now hosted on the gitlab server of our institution, Ecole Polytechnique, which is sustainable over time. Links to this gitlab have been given on the Github page. As a full migration to github requires a lot of work, we plan to do so but we don't know when.

[2022-01-07 10:05] jbytecode commented on #3965
@matthieuaussal - sounds good, your work is now better than ever. thank you.

[2022-01-07 10:16] thejasvibr commented on #3740
Proof looks good to proceed @kthyng, thanks for the clarifications! Will keep the paper on the ```ms``` branch for now.

[2022-01-07 10:39] bauer-alex commented on #4034
Thanks @kthyng and @Nikoleta-v3 for your efforts!

Regarding the missing points raised by Kristen:

I now added both the open source license and the _Statement of Need_ section.

[2022-01-07 12:16] Nikoleta-v3 commented on #4034
Thank you @bauer-alex! Could you take a look through https://bit.ly/joss-reviewers to suggest some potential reviewers 😄

[2022-01-07 12:33] Evmoerman commented on #4025
That would be great. Thanks!

[2022-01-07 12:47] bauer-alex commented on #4034
Then I would suggest @noamross (Noam Ross) and @strengejacke (Daniel Lüdecke).

Let me know if you need more suggestions.

[2022-01-07 13:11] Nikoleta-v3 commented on #4034
Can you recommend 2 more reviewers? Thank you!

[2022-01-07 13:33] bauer-alex commented on #4034
Sure, here you go: @cmaimone (Christina Maimone) and @rrrlw (Raoul Wadhwa)

[2022-01-07 13:42] crvernon commented on #4019
@whedon assign @jmp75 as reviewer

[2022-01-07 13:42] whedon commented on #4019
OK, @jmp75 is now a reviewer

[2022-01-07 13:44] rrrlw commented on #4034
Unfortunately, I am unable to review this submission. Best of luck!

[2022-01-07 13:54] ldecicco-USGS commented on #4019
Sure, I'll review as well.

[2022-01-07 13:58] cmaimone commented on #4034
No, I just accepted another review yesterday.

On Fri, Jan 7, 2022, 7:44 AM Raoul ***@***.***> wrote:

[2022-01-07 14:14] strengejacke commented on #4034
Happy new year everyone! I'm happy to review this submission!

[2022-01-07 14:32] aguspesce commented on #3551
Hello @jedbrown, is there any update on the pre review process of this submission?

cc @danielskatz

[2022-01-07 14:45] jGaboardi commented on #4021
@whedon generate pdf

[2022-01-07 14:45] whedon commented on #4021
PDF failed to compile for issue #4021 with the following error:
[code]

[2022-01-07 14:55] jGaboardi commented on #4021
This is a rather strange failure, no? Seems to be trying for a JuliaCon repo?
[code]

[2022-01-07 14:56] martinfleis commented on #4021
@whedon generate pdf

[2022-01-07 14:58] whedon commented on #4021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: :point_left:

[2022-01-07 15:10] kthyng commented on #4005
@pdebuyl Awesome! I'll assign you to it now with the understanding you'll start next week. Thanks!

[2022-01-07 15:10] kthyng commented on #4005
@whedon assign @pdebuyl as editor

[2022-01-07 15:10] whedon commented on #4005
OK, the editor is @pdebuyl

[2022-01-07 15:14] ni1o1 commented on #4021
Thank you for your effort! We have fixed the testing issue by adding github testing workflow. We are working on other issues.

[2022-01-07 15:15] crvernon commented on #4019
@whedon add @ldecicco-USGS as reviewer

[2022-01-07 15:15] whedon commented on #4019
OK, @ldecicco-USGS is now a reviewer

[2022-01-07 15:18] crvernon commented on #4019
:wave: Alright @jhollist @jmp75 @ldecicco-USGS  - I am going to close this Pre-Review and kick off the full review which you should receive a notification for.  Thanks!

[2022-01-07 15:18] crvernon commented on #4019
@whedon start review

[2022-01-07 15:18] whedon opened #4039 "[REVIEW]: nsink: An R package for flow path nitrogen removal estimation"
**Submitting author:** @jhollist (<a href="http://orcid.org/0000-0002-9254-9740">Jeffrey W Hollister</a>)
**Repository:** https://github.com/USEPA/nsink
**Branch with paper.md** (empty if default branch):
**Version:** v1.2.0
**Editor:** @crvernon
**Reviewers:** @jmp75, @ldecicco-USGS, @jmp75
**Archive:** 10.5281/zenodo.6341565

**:warning: JOSS reduced service mode :warning:**

Due to the challeng

[2022-01-07 15:18] whedon commented on #4019
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4039.

[2022-01-07 15:18] #4019 closed

[2022-01-07 15:18] whedon commented on #4039
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jmp75, @ldecicco-USGS it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:

[2022-01-07 15:18] whedon commented on #4039
Wordcount for `paper.md` is 1017

[2022-01-07 15:18] whedon commented on #4039
[code]

[2022-01-07 15:19] whedon commented on #4039
[code]

[2022-01-07 15:19] whedon commented on #4039
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04039/joss.04039/10.21105.joss.04039.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04039/joss.04039/10.21105.joss.04039.pdf) :page_facing_up: :point_left:

[2022-01-07 15:19] Nikoleta-v3 commented on #4034
Thank you everyone for your replies, and happy new year!

[2022-01-07 15:20] jGaboardi commented on #4021
Excellent. And very interesting package, by the way!

[2022-01-07 15:20] jGaboardi commented on #4021
@whedon generate pdf

[2022-01-07 15:21] whedon commented on #4021
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04021/joss.04021/10.21105.joss.04021.pdf) :page_facing_up: :point_left:

[2022-01-07 15:22] crvernon commented on #4039
:wave: @jhollist @jmp75 @ldecicco-USGS - the review takes place in this issue.

❗ Also, please don't forget to add a link to this review issue in any issues or pull requests you may generate in the https://github.com/USEPA/nsink repository. This will help everyone have a single point of reference.

[2022-01-07 15:32] diehlpk commented on #4023
@jiahecui would be great if you could recommend some reviewers?

[2022-01-07 15:34] jGaboardi commented on #3330
@vissarion @arfon We are wondering if there is anything we can do to help move this along?

[2022-01-07 15:41] jarvist commented on #3711
Great!
@obliviateandsurrender - how is your timescale looking?

[2022-01-07 15:46] jarvist commented on #3973
Dear @god-s-perfect-idiot , do you have a timescale / plan for resolving issues https://github.com/god-s-perfect-idiot/POWER-sim/issues/4 and https://github.com/god-s-perfect-idiot/POWER-sim/issues/3 so that the reviewers are able to review your software?

[2022-01-07 15:52] kylebeggs commented on #3724
@diehlpk My issues have been addressed and thus the review is complete and submission is accepted!

[2022-01-07 16:24] rkurchin commented on #4025
@whedon assign me as editor

[2022-01-07 16:24] whedon commented on #4025
OK, the editor is @rkurchin

[2022-01-07 16:27] rkurchin commented on #4025
👋 @awvwgk and @wcwitt, would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-07 16:52] davidegraff commented on #3950
any updates on this?

[2022-01-07 16:57] diehlpk commented on #3724
@kylebeggs Thank you!

[2022-01-07 16:59] diehlpk commented on #3724
@tiburoch  Could you please have a look, since the review is quite done.

[2022-01-07 17:06] diehlpk commented on #4023
Hi @caldarolamartin and @jonatanalvelid would you be interested in reviewing this paper?

[2022-01-07 17:17] jedbrown commented on #3551
@aguspesce Yikes, I'm terribly sorry about my silence. Thanks for your effort here; it looks good. I see `CONTRIBUTING.md` says to run `make test`, but it actually needs `make test_mandyoc` (or change the Makefile target). The scripts also look inconsistent in where they get `mpirun` (PETSc directory or `$MPI_PATH`). It's probably best to make this a run-time option, but you have some choices
* `m

[2022-01-07 17:29] jedbrown commented on #3551
@victorsacek @aguspesce Could you please include in your statement of need some related packages to help a prospective user understand the relative merits of mandyoc versus other software packages in this domain?

[2022-01-07 17:29] jedbrown commented on #3551
@gassmoeller @rbeucher :wave: Would you be available to review this submission to JOSS?

[2022-01-07 17:46] tiburoch commented on #3724
Thank you @kylebeggs for your time and the positive review. The answers to your issues are currently in the way to be merged into the master.
@diehlpk : I mentionned to @srmnitc that I cannot reproduce the issue and thus need additional informations to tackle the problem.

[2022-01-07 17:58] awvwgk commented on #4025
Sure, I can review this one.

[2022-01-07 17:59] whedon commented on #4025
OK, awvwgk is now a reviewer

[2022-01-07 17:59] rkurchin commented on #4025
@whedon add @awvwgk as reviewer

[2022-01-07 18:00] whedon commented on #4025
OK, @awvwgk is now a reviewer

[2022-01-07 18:14] arunpersaud commented on #2688
No worries... hope the new version will work out. We really appreciate the feedback from the first round and are happy to provide additional updates if needed.

[2022-01-07 18:20] rkurchin commented on #4025
@whedon remove awvwgk as reviewer

[2022-01-07 18:20] whedon commented on #4025
OK, awvwgk is no longer a reviewer

[2022-01-07 19:03] kbarnhart commented on #3658
@wsavran I wanted to check in and see if you needed anything from me and/or the reviewers at this point. If not, just let me know when you've completed any revisions based on reviewer comments. Thanks!

[2022-01-07 19:49] garrettj403 commented on #2688
@timtroendle

Sorry, it's a bad time for me. I don't have any time to do the review until early February.

[2022-01-07 20:27] pitsianis commented on #3965
@matthieuaussal, in many math papers, the word MATLAB is typeset as `\textsc{Matlab}`

[2022-01-07 21:15] wcwitt commented on #4025
Sure, happy to.

Best wishes,
Chuck

On Fri, 7 Jan 2022 at 17:58, Sebastian Ehlert ***@***.***>
wrote:

[2022-01-07 21:26] rkurchin commented on #4025
@whedon add @wcwitt as reviewer

[2022-01-07 21:26] whedon commented on #4025
OK, @wcwitt is now a reviewer

[2022-01-07 21:26] rkurchin commented on #4025
@whedon start review

[2022-01-07 21:27] whedon opened #4040 "[REVIEW]: Interface to high-performance periodic coupled-cluster theory calculations with atom-centered, localized basis functions"
**Submitting author:** @Evmoerman (<a href="http://orcid.org/0000-0002-9725-612X">Evgeny Moerman</a>)
**Repository:** https://gitlab.com/moerman1/fhi-cc4s
**Branch with paper.md** (empty if default branch):
**Version:** 1.0.1
**Editor:** @rkurchin
**Reviewers:** @awvwgk, @wcwitt
**Archive:** 10.5281/zenodo.6658117

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COV

[2022-01-07 21:27] whedon commented on #4025
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4040.

[2022-01-07 21:27] #4025 closed

[2022-01-07 21:27] whedon commented on #4040
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @awvwgk, @wcwitt it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2022-01-07 21:27] whedon commented on #4040
Wordcount for `paper.md` is 1061

[2022-01-07 21:27] whedon commented on #4040
[code]

[2022-01-07 21:27] whedon commented on #4040
[code]

[2022-01-07 21:27] whedon commented on #4040
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04040/joss.04040/10.21105.joss.04040.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04040/joss.04040/10.21105.joss.04040.pdf) :page_facing_up: :point_left:

[2022-01-07 21:28] rkurchin commented on #4040
@Evmoerman please do add in those missing DOI's when you get a chance!

[2022-01-07 21:42] awvwgk commented on #4040
I guess the functionality review will heavily depend whether we or our home institutes have bought a license for [FHI-aims](https://fhi-aims.org/), also the other end [CC4S](https://cqc.itp.tuwien.ac.at/code.html) seems a bit difficult to get hands on.

[2022-01-07 22:37] Evmoerman commented on #4040
@rkurchin Sure, I will take care of the DOIs today or tomorrow.
@awvwgk I have direct contact to the maintainers/owners of both codes. Hence, if you tell me exactly to which institution/individual access to CC4S/FHI-aims should be given, this can be easily arranged.

[2022-01-07 22:42] awvwgk commented on #4040
@Evmoerman Thanks for the offer, I was just about to write Volker Blum whether I can get access to FHI-aims in some way. I'm currently in Bonn at the Mulliken Center for Theoretical Chemistry, in [Stefan Grimme's group](https://www.chemie.uni-bonn.de/pctc/mulliken-center/grimme/).

[2022-01-07 23:04] whedon opened #4041 "[PRE REVIEW]: Open Patch Miner: Comprehensive parallel reading and writing of tissue patches for computational histopathology"
**Submitting author:** @grenkoca (<a href="http://orcid.org/0000-0002-3926-5503">Caleb Grenko</a>)
**Repository:** <a href="https://github.com/CBICA/OPM" target ="_blank">https://github.com/CBICA/OPM</a>
**Version:** 0.1.6
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Kristen Thyng

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOS

[2022-01-07 23:04] whedon commented on #4041
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-07 23:04] whedon commented on #4041
Wordcount for `paper.md` is 668

[2022-01-07 23:05] whedon commented on #4041
[code]

[2022-01-07 23:05] whedon commented on #4041
[code]

[2022-01-07 23:05] whedon commented on #4041
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04041/joss.04041/10.21105.joss.04041.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04041/joss.04041/10.21105.joss.04041.pdf) :page_facing_up: :point_left:

[2022-01-07 23:29] kthyng commented on #4041
@whedon query scope

[2022-01-07 23:30] kthyng commented on #4041
Hi @grenkoca and thanks for your submission! Due to its relatively small size (LOC < 1000) I am pinging the greater editorial board to see if this is in scope. This process will take 1-2 weeks; thanks for your patience.

[2022-01-07 23:42] Evmoerman commented on #4040
@rkurchin Missing DOIs have been added.
@awvwgk Emails have been sent to the respective people in charge. Hopefully, by next week you will have access to both codes.

[2022-01-07 23:43] Evmoerman commented on #4040
@whedon generate pdf

[2022-01-07 23:43] Evmoerman commented on #4040
@whedon commands

[2022-01-07 23:43] whedon commented on #4040
Here are some things you can ask me to do:

[code]

[2022-01-07 23:44] whedon commented on #4040
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04040/joss.04040/10.21105.joss.04040.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04040/joss.04040/10.21105.joss.04040.pdf) :page_facing_up: :point_left:

[2022-01-07 23:44] Evmoerman commented on #4040
@whedon check references

[2022-01-07 23:44] whedon commented on #4040
[code]

[2022-01-07 23:46] perrydv commented on #3844
@fabian-s Thanks for pinging me on this.  I think all issues are now handled with corresponding replies on the [github issues threads](https://github.com/nimble-dev/compareMCMCs/issues).

[2022-01-08 01:55] arunpersaud commented on #2688
@garrettj403 from my side February is perfectly fine ;) Took us much longer to resubmit after all ;)

[2022-01-08 02:07] Evmoerman commented on #4040
@awvwgk I have fixed the compilation issues with GCC-11. Tell me please, if you still experience issues with this GCC version.

[2022-01-08 15:49] whedon opened #4042 "[PRE REVIEW]: HylleraasMD: Massively parallel hybrid particle-field molecular dynamics in python"
**Submitting author:** @mortele (<a href="http://orcid.org/0000-0003-4244-4876">Morten Ledum</a>)
**Repository:** <a href="https://github.com/Cascella-Group-UiO/HyMD" target ="_blank">https://github.com/Cascella-Group-UiO/HyMD</a>
**Version:** v1.0.3
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-01-08 15:49] whedon commented on #4042
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-08 15:49] whedon commented on #4042
Wordcount for `paper.md` is 1101

[2022-01-08 15:49] whedon commented on #4042
[code]

[2022-01-08 15:49] whedon commented on #4042
[code]

[2022-01-08 15:49] whedon commented on #4042
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04042/joss.04042/10.21105.joss.04042.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04042/joss.04042/10.21105.joss.04042.pdf) :page_facing_up: :point_left:

[2022-01-08 15:52] danielskatz commented on #4042
@mortele - please change "python" in your paper's title and text to "Python"

[2022-01-08 15:53] mortele commented on #4042
Will do @danielskatz

[2022-01-08 15:54] danielskatz commented on #4042
👋 @jgostick - would you be able to edit this submission for JOSS?

[2022-01-08 15:55] danielskatz commented on #4042
@whedon invite @jgostick as editor

[2022-01-08 15:55] whedon commented on #4042
@jgostick has been invited to edit this submission.

[2022-01-08 15:56] danielskatz commented on #2991
@whedon recommend-accept

[2022-01-08 15:56] whedon commented on #2991
[code]

[2022-01-08 15:56] whedon commented on #2991
[code]

[2022-01-08 15:56] danielskatz commented on #2991
@whedon set 10.5281/zenodo.5816183 as archive

[2022-01-08 15:56] whedon commented on #2991
OK. <a href="https://doi.org/10.5281/zenodo.5816183" target="_blank">10.5281/zenodo.5816183</a> is the archive.

[2022-01-08 15:56] whedon commented on #2991
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2870

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2870, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-08 15:59] danielskatz commented on #2991
@whedon accept deposit=true

[2022-01-08 15:59] whedon commented on #2991
[code]

[2022-01-08 15:59] whedon commented on #2991
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1479845274449330178) 👈 🐦🐦🐦

[2022-01-08 15:59] whedon commented on #2991
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2871
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.02991](https://doi.org/10.21105/joss.02991)
2. If everything look

[2022-01-08 16:00] danielskatz commented on #3740
@whedon recommend-accept from branch ms

[2022-01-08 16:00] whedon commented on #3740
[code]

[2022-01-08 16:00] whedon commented on #3740
PDF failed to compile for issue #3740 with the following error:
[code]

[2022-01-08 16:00] whedon commented on #3740
[code]

[2022-01-08 16:00] jgostick commented on #4042
Hi @danielskatz, I am really sorry, but I have pledged to avoid editoring all MD simulations after what happened last time.  I had a 'challenging' review and was unable to mediate the situation because I was not familiar enough with MD code and simulations.

[2022-01-08 16:02] danielskatz commented on #3740
@thejasvibr - something seems to be failing. Sometimes whedon is unhappy if there is a paper in a branch and in main at the same time - can you merge ms branch, then we can try again?

[2022-01-08 16:02] danielskatz commented on #3740
@whedon generate pdf from branch ms

[2022-01-08 16:02] whedon commented on #3740
[code]

[2022-01-08 16:03] whedon commented on #3740
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03740/joss.03740/10.21105.joss.03740.pdf) :page_facing_up: :point_left:

[2022-01-08 16:04] danielskatz commented on #3740
@openjournals/dev - can you see what the problem is here - recommend-accept from the branch doesn't work, but generate pdf from the branch does

[2022-01-08 16:06] danielskatz commented on #2991
Congratulations to @esteinig (Eike J. Steinig) and co-author!!

And thanks to @natir and @bovee for reviewing, and @luizirber for editing!
We couldn't do this without you!

[2022-01-08 16:06] #2991 closed

[2022-01-08 16:06] whedon commented on #2991
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.02991/status.svg)](https://doi.org/10.21105/joss.02991)

**We need your help!**

Journal of Open Source Softwa

[2022-01-08 16:10] whedon opened #4043 "[PRE REVIEW]: HOST: A Python package for Higher-Order-STatitics seismic pickers"
**Submitting author:** @mbagagli (<a href="http://orcid.org/0000-0001-9409-8667">Matteo Bagagli</a>)
**Repository:** <a href="https://github.com/mbagagli/host-picker" target ="_blank">https://github.com/mbagagli/host-picker</a>
**Version:** 2.4.4
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of t

[2022-01-08 16:10] whedon commented on #4043
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-08 16:10] whedon commented on #4043
Wordcount for `paper.md` is 1484

[2022-01-08 16:10] whedon commented on #4043
[code]

[2022-01-08 16:10] whedon commented on #4043
[code]

[2022-01-08 16:11] whedon commented on #4043
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04043/joss.04043/10.21105.joss.04043.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04043/joss.04043/10.21105.joss.04043.pdf) :page_facing_up: :point_left:

[2022-01-08 16:12] danielskatz commented on #4043
@mbagagli - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOIs that whedon suggests, but no

[2022-01-08 16:12] danielskatz commented on #4043
@whedon query scope

[2022-01-08 16:12] whedon commented on #4043
Submission flagged for editorial review.

[2022-01-08 16:20] mortele commented on #4042
@whedon generate pdf

[2022-01-08 16:20] whedon commented on #4042
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04042/joss.04042/10.21105.joss.04042.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04042/joss.04042/10.21105.joss.04042.pdf) :page_facing_up: :point_left:

[2022-01-08 17:28] anitagraser commented on #4021
As far as I can see from https://github.com/ni1o1/transbigdata/runs/4740487080?check_suite_focus=true there is only one (docstring) test.

[2022-01-08 19:04] anitagraser commented on #4021
What is the JOSS policy regarding other languages than English?

For example, this library still has Chinese in error messages:
![image](https://user-images.githubusercontent.com/590385/148656465-66c7eb13-e5f3-4d9b-aad1-d1251df117d4.png)

I imagine this would violate the documentation requirement "Functionality documentation: Is the core functionality of the software documented to a satisfactory l

[2022-01-08 19:38] jGaboardi commented on #4021
@anitagraser I noticed this, as well. I was not aware that JOSS had such a policy. Also there is an English language version of the docs. However, having all error messages in English does seem the way to go and would greatly benefit `transbigdata`.

[2022-01-08 20:48] danielskatz commented on #4000
fwiw, JOSS COI guidelines are in https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy

[2022-01-08 20:50] danielskatz commented on #4000
👋 @@timtroendle - would you be able to edit this submission?

[2022-01-08 20:50] danielskatz commented on #4000
@whedon invite @timtroendle as editor

[2022-01-08 20:50] whedon commented on #4000
@timtroendle has been invited to edit this submission.

[2022-01-09 04:08] tbrown122387 commented on #3844
All my checklist boxes are checked @fabian-s so we're good to go on my end

[2022-01-09 05:43] elliothershberg commented on #3916
Thanks @Spartanzhao. I think you probably only need to respond once in the specific Github issues as we do the review.

[2022-01-09 12:08] anitagraser commented on #4021
@ni1o1 @martinfleis @jGaboardi

I have also finished my first pass through the paper, repo, and example notebooks. I've created new issues and added comments to @jGaboardi's issues where I noticed additional aspects. From my perspective, the lack of tests is the main issue with the repo. The lack of state of the art is the main issue with the paper.

[2022-01-09 12:49] martinfleis commented on #4021
Thanks both, @anitagraser and @jGaboardi!

@ni1o1 I am also a bit concerned about the fact that docstrings, error messages and comments are in Chinese and would like to see it in English. However, I am trying to figure out whether it is an issue hindering publication with the wider editorial team. I'll get back to you on that.

Also, please let us know how you plan to respond to the comments raise

[2022-01-09 12:50] dominiquesydow commented on #3951
Hi @richardjgowers, thanks!

I have tagged a [new release ](https://github.com/volkamerlab/opencadd/releases/tag/v1.0.1)of the (full) `opencadd` repository - waiting for it to sync with our [zenodo entry](https://doi.org/10.5281/zenodo.5653542). I have contacted zenodo support already and will ping you again once this is solved.

I love this! :D

[2022-01-09 13:53] ni1o1 commented on #4021
@martinfleis @anitagraser @jGaboardi Thank you all for reviewing our package!
Here is how we plan to improve our package according to the comments:
1. Translate all docstrings, error messages and comments into English.
2. Add necessary tests into the repo.
3. Add state of the art and state of the target audience into the paper.
4. Other improvment of the docs and examples.
We plan to finish them w

[2022-01-09 14:21] martinfleis commented on #4021
Brilliant! Thanks!

[2022-01-09 17:06] felipeZ commented on #3197
HI @majensen  unfortunately I don't have enough time to work on those changes

[2022-01-09 17:17] SeungBack commented on #3967
I reviewed the paper and documentation, and here are the comments. I am reviewing the codes and will add detailed comments about the codes soon.

This paper introduces an easy-to-use Python package for computing the forward and inverse kinematics of robots. The author claims that previous libraries lack support for hybrid serial-parallel systems, and TirP can be used to model both parallel and ser

[2022-01-09 18:54] jmschrei commented on #3916
@Spartanzhao Sorry for the delay, I was checking with the other editors about procedure. Since you took care of the name in the paper, I'll change the name here for you and I think that's all that needs to happen.

[2022-01-09 18:56] jmschrei commented on #3916
Are you changing the repository too or just the README in the existing repository (https://github.com/Spartanzhao/Annoroad-Browser/)?

[2022-01-09 19:33] elbeejay commented on #4020
:wave: @jhamman and @chuckaustin just trying to follow-up here. Will be pinging you both via email as well.

@raoulcollenteur would you be at all interested in reviewing this submission? No pressure as I see you've relatively recently reviewed another paper for JOSS.

[2022-01-09 20:56] thejasvibr commented on #3740
Thanks for checking @danielskatz @openjournals/dev . Have deleted the ```ms``` branch, and now the package + latest paper version are in the same branch (```dev```). Hopefully this will lead to better luck?

[2022-01-09 21:27] krober10nd commented on #3959
@samuel.burbulla I have tried on a different clean laptop and OS and encountered the same error as I noted in your repo. The program appears to install but I cannot import or run any of the examples. I look forward to @vijaysm for help here.

I cannot procced further with the review of this software if I cannot install correctly...

[2022-01-09 21:35] danielskatz commented on #3740
@whedon recommend-accept

[2022-01-09 21:35] whedon commented on #3740
[code]

[2022-01-09 21:36] whedon commented on #3740
[code]

[2022-01-09 21:36] whedon commented on #3740
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2872

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2872, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-09 21:45] danielskatz commented on #3740
👋 @thejasvibr - a few more small changes are in https://github.com/thejasvibr/bat_beamshapes/pull/25 - if you can merge this, I can proceed to publication

[2022-01-09 22:51] ilyamandel commented on #3838
@whedon generate pdf from branch JOSS

[2022-01-09 22:52] whedon commented on #3838
[code]

[2022-01-09 22:52] whedon commented on #3838
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03838/joss.03838/10.21105.joss.03838.pdf) :page_facing_up: :point_left:

[2022-01-09 22:56] ilyamandel commented on #3838
@christinahedges -- sorry, just got back from vacation.  I cleaned up the references so that Whedon no longer complains -- see above.

[2022-01-10 00:12] Spartanzhao commented on #3916
@jmschrei yes, I have changed repository name, README.md and paper.md。

[2022-01-10 00:17] jmschrei commented on #3916
Great. Looks like the link still works, so things can progress normally from here.

[2022-01-10 01:19] taless474 commented on #4008
@kthyng I would like to edit this submission if possible!

[2022-01-10 01:21] danielskatz commented on #4008
great - thanks!

[2022-01-10 01:21] danielskatz commented on #4008
@whedon assign @taless474 as editor

[2022-01-10 01:21] whedon commented on #4008
OK, the editor is @taless474

[2022-01-10 06:03] thejasvibr commented on #3740
✔️ Changes to manuscript merged. PDF looks good!

[2022-01-10 06:25] adi3 commented on #3527
@AP6YC - any updates from your side on this? Might it be better that we pause this review given the time it is taking to resolve the issues raised by the reviewers?

[2022-01-10 06:30] adi3 commented on #3804
@TimKam - thank you for finishing the review! We greatly appreciate your effort and the diligence with which you proceeded.

@larkz - Thank you for your patience through the process. The goal of JOSS is to provide visibility to robust and efficient implementations of software that could be of help to other academics or the wider research community, even if the code itself does not push the needle

[2022-01-10 06:31] adi3 commented on #3804
@whedon commands

[2022-01-10 06:31] whedon commented on #3804
Here are some things you can ask me to do:

[code]

[2022-01-10 06:31] adi3 commented on #3804
@whedon check references

[2022-01-10 06:32] whedon commented on #3804
[code]

[2022-01-10 06:32] adi3 commented on #3804
@whedon check repository

[2022-01-10 06:32] whedon commented on #3804
Wordcount for `paper.md` is 1569

[2022-01-10 06:32] whedon commented on #3804
[code]

[2022-01-10 06:32] adi3 commented on #3804
@whedon generate pdf

[2022-01-10 06:33] adi3 commented on #3804
@whedon recommend-accept

[2022-01-10 06:33] whedon commented on #3804
No archive DOI set. Exiting...

[2022-01-10 06:36] adi3 commented on #3804
@larkz - I have just one more formality required from you. Can you please issue a new tagged release of the software and archive it on Zenodo, figshare or another archiving platform of your choice? Then report the release's version number and the archive's DOI on this thread. Thank you, and congratulations!

[2022-01-10 06:38] adi3 commented on #4003
@federeghe @sneakers-the-rat @vmatos @AustinTSchaffer @destogl @ekorudiawan - Would any of you be interested in reviewing this paper on robotics? We would greatly appreciate your help!

[2022-01-10 08:41] BjoernBiltzinger commented on #4017
@whedon generate pdf

[2022-01-10 08:41] BjoernBiltzinger commented on #4017
@Tohuvavohu Thanks, I fixed the typo.

[2022-01-10 08:42] whedon commented on #4017
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04017/joss.04017/10.21105.joss.04017.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04017/joss.04017/10.21105.joss.04017.pdf) :page_facing_up: :point_left:

[2022-01-10 09:02] kostergroup commented on #3727
Happy 2022 everyone!

@rkurchin I've just returned to the office and I think we'll get back to
this in a week or 2. Not sure that qualifies as a 'pause'? probably.

jan anton

--
Prof. Dr. L.J.A. (Jan Anton) Koster
Zernike Institute for Advanced Materials
University of Groningen
open-source simulator for perovskite and organic PV
<https://github.com/kostergroup/SIMsalabim>
group website <http://ww

[2022-01-10 09:12] lucydot commented on #3898
@whedon re-invite @jgoldfar as reviewer

[2022-01-10 09:12] whedon commented on #3898
OK, the reviewer has been re-invited.

@jgoldfar please accept the invite by clicking this link: https://github.com/openjournals/joss-reviews/invitations

[2022-01-10 09:15] timtroendle commented on #4000
@whedon assign me as editor

[2022-01-10 09:15] whedon commented on #4000
OK, the editor is @timtroendle

[2022-01-10 09:16] lucydot commented on #4014
Hello @jstse, pinging you just in case you have missed the feedback from @awvwgk above ☝️.

It looks like you have a few items to be working on, please also let us know how your progress is going here in the thread.

[2022-01-10 09:16] timtroendle commented on #4000
Happy to serve as the editor here.

Hello @TomTranter, I'll be looking for reviewers. If you have any questions in the process, let me know.

[2022-01-10 09:17] TomTranter commented on #4000
Hi @timtroendle, thanks for picking this up. I mentioned above the following may be suitable given their battery background mefuller, yangbai90, EricaEgg

[2022-01-10 09:18] timtroendle commented on #4000
:wave: @mefuller, @yangbai90 & @EricaEgg, would any of you be willing to review this submission for JOSS?

[2022-01-10 09:30] mefuller commented on #4000
I'd be happy to review

[2022-01-10 09:47] vissarion commented on #3330
I have pinged @ArikaLZ by email, let's wait a few days for her reply.

[2022-01-10 09:47] lucydot commented on #3742
Hello @nasserma @Alex-Vasile and our reviewers @bonh @WilkAndy -

I'm aware this review has been going for > 3months so thought I'd do a quick summary of where we are at now, and try to establish a timeframe for the review.

Looking at the issues that are open:

- [uw-comphys/opencmp#6](https://github.com/uw-comphys/opencmp/issues/6) relates to distributed memory parallelisation (MPI) and there is

[2022-01-10 09:55] rvhonorato commented on #3950
sorry for the long delay, getting started on it today! 🙇🏽

[2022-01-10 09:55] obliviateandsurrender commented on #3711
Hello! I should be done by the end of this week.

[2022-01-10 09:56] fabian-s commented on #3844
@tbrown122387 @rowlandseymour thank you both for your reviews and your quick reaction!

[2022-01-10 09:57] fabian-s commented on #3844
@whedon generate pdf from branch joss

[2022-01-10 09:57] whedon commented on #3844
[code]

[2022-01-10 09:57] fabian-s commented on #3844
@whedon check references

[2022-01-10 09:57] whedon commented on #3844
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03844/joss.03844/10.21105.joss.03844.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03844/joss.03844/10.21105.joss.03844.pdf) :page_facing_up: :point_left:

[2022-01-10 09:57] whedon commented on #3844
[code]

[2022-01-10 10:00] ajstewartlang commented on #4001
@whedon assign @ixjlyons as reviewer

[2022-01-10 10:00] whedon commented on #4001
OK, @ixjlyons is now a reviewer

[2022-01-10 10:01] ajstewartlang commented on #4001
Thanks @ixjlyons - much appreciated! Once I've added a second reviewer I'll start the review process.

[2022-01-10 10:04] fabian-s commented on #3844
@perrydv

Almost done :partying_face:  -- at this point could you please:

- [ ] Add the missing DOIs for BUGS and MCMCpack to your references (see above)
- [ ] Make a tagged release of your software, and list the version tag of the archived version here.
- [ ] Archive the reviewed software in Zenodo or a similar service (e.g., figshare, an institutional repository)
- [ ] Check the archival deposi

[2022-01-10 10:30] MamadouSDiallo commented on #3376
Dear @whedon

I found a typo in the paper I don't know if it's still possible to fix.
The typo is "let us us us" in _Sample Estimation_ section.

I fixed it in my github copy.

Best regards

[2022-01-10 10:57] peircej commented on #4001
@ajstewartlang I can review this one too :-)

[2022-01-10 11:00] bonh commented on #3742
Hi,
- uw-comphys/opencmp#6: After I am able to get the software to run on my computer I will check out the 3D simulation case. If it works I consent to close this issue. I am already convinced of the substantial scholarly effort (see the tick-box).
- uw-comphys/opencmp#18: this is ongoing while I walk through the documentation. Right now I am stuck at testing right after installation, see uw-comph

[2022-01-10 11:05] rvhonorato opened #4044 "Installation: Does installation proceed as outlined in the documentation?"

[2022-01-10 11:05] whedon commented on #4044
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2022-01-10 11:05] #4044 closed

[2022-01-10 11:08] liquidcronos commented on #3967
Hi @SeungBack Thanks for your valuable feedback!
I am not sure If I should immediately respond or wait for the second reviewer, So I hope that it is alright to address the Issues:

You are correct we do not mention other python kinematic libraries.
This was an oversight, ultimately the libraries you mentioned suffer from the same shortcomings as the other ones namely lacking support for serial mec

[2022-01-10 11:10] srmnitc commented on #3724
@tiburoch Thanks once again, sorry for the delay as I was on holidays. I followed the installation instructions using a new environment and everything works fine for me now. I have checked the remaining points. I am glad to recommend this software for acceptance!

[2022-01-10 11:12] FWuellhorst commented on #3861
@whedon check references

[2022-01-10 11:12] whedon commented on #3861
[code]

[2022-01-10 11:14] FWuellhorst commented on #3861
@whedon check references

[2022-01-10 11:15] whedon commented on #3861
[code]

[2022-01-10 11:16] whedon commented on #3861
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03861/joss.03861/10.21105.joss.03861.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03861/joss.03861/10.21105.joss.03861.pdf) :page_facing_up: :point_left:

[2022-01-10 11:27] KAClough commented on #3703
Sorry to chase @openjournals/dev, but was this ok? There is no rush, but it would be great if it can be updated. Thanks!

[2022-01-10 11:30] FWuellhorst commented on #3861
@samanmostafavi :
I updated the references and the statement of need.
During rebuttal, your point regarding `ebcpy` became more clear to me. The old formulation "While implementing AixCaliBuHA, we identified a secondary need." is a little misleading. All features of `ebcpy` are currently only here because of the main need for the automated calibration. For a long time, `ebcpy` did not exist and `A

[2022-01-10 11:52] ajstewartlang commented on #4001
@whedon add @peircej as reviewer

[2022-01-10 11:52] whedon commented on #4001
OK, @peircej is now a reviewer

[2022-01-10 11:53] ajstewartlang commented on #4001
@whedon start review

[2022-01-10 11:53] whedon opened #4045 "[REVIEW]: Octopus-sensing: A Python library for human behavior studies"
**Submitting author:** @nastaran62 (<a href="http://orcid.org/0000-0002-6082-9772">Nastaran Saffaryazdi</a>)
**Repository:** https://github.com/octopus-sensing/octopus-sensing
**Branch with paper.md** (empty if default branch): master
**Version:** v3.1.1
**Editor:** @ajstewartlang
**Reviewers:** @ixjlyons, @peircej
**Archive:** 10.5281/zenodo.6350710

**:warning: JOSS reduced service mode :warning

[2022-01-10 11:53] whedon commented on #4001
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4045.

[2022-01-10 11:53] #4001 closed

[2022-01-10 11:53] whedon commented on #4045
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ixjlyons, @peircej it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2022-01-10 11:53] whedon commented on #4045
Wordcount for `paper.md` is 821

[2022-01-10 11:53] whedon commented on #4045
[code]

[2022-01-10 11:53] whedon commented on #4045
[code]

[2022-01-10 11:53] whedon commented on #4045
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04045/joss.04045/10.21105.joss.04045.pdf) :page_facing_up: :point_left:

[2022-01-10 12:02] cfgmr commented on #4009
Hi @d-eggert  and @martinfleis,

sorry for the late reply, I was indeed on holiday till today. Including my colleague @dirks in here for faster responses in the future 😉

Surprisingy, Gitlab actually does not allow anonymous creation of issues (see https://gitlab.com/gitlab-org/gitlab-foss/-/issues/60132). Reading Issues however works without login. This is general behavior and not limited to our

[2022-01-10 12:10] PolymerGuy commented on #3980
@corentin-dev and @nicoguaro, please let me know if there is anything I can assist you with during the review process.

[2022-01-10 12:16] birnstiel commented on #3882
@taless474: sorry to bother you again, but @stammler uploaded the paper and posted the DOI above. Is there anything else that we need to do to move forward? Thanks everyone for the reviews and the editorial support!

[2022-01-10 12:22] lpantano commented on #3722
Hi @bebatut! Any chance you can finish this soon? You can go over the checklist in the issue description and see if all of them are now checked. Thanks!

[2022-01-10 13:11] danielskatz commented on #3740
@whedon recommend-accept

[2022-01-10 13:11] whedon commented on #3740
[code]

[2022-01-10 13:11] whedon commented on #3740
[code]

[2022-01-10 13:11] whedon commented on #3740
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2873

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2873, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-10 13:13] danielskatz commented on #3376
👋 @arfon

[2022-01-10 13:16] danielskatz commented on #3740
@whedon accept deposit=true

[2022-01-10 13:16] whedon commented on #3740
[code]

[2022-01-10 13:17] whedon commented on #3740
🐦🐦🐦 👉 [Tweet for this paper](https://twitter.com/JOSS_TheOJ/status/1480529280140558341) 👈 🐦🐦🐦

[2022-01-10 13:17] whedon commented on #3740
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JOSS!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/openjournals/joss-papers/pull/2874
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/joss.03740](https://doi.org/10.21105/joss.03740)
2. If everything look

[2022-01-10 13:28] danielskatz commented on #3740
@thejasvibr - I'm waiting for the DOI to resolve before I will close this issue and declare the paper publisher.  While this usually happens quickly, sometimes it can take a little bit.

@arfon - any thoughts?

[2022-01-10 13:30] danielskatz commented on #3967
@liquidcronos - it's fine (and even good) for you to respond as issues come up - this will make it easier for the second reviewer.  thanks!

[2022-01-10 13:31] danielskatz commented on #3970
Thanks for the README changes - this looks good enough to start the review.  I'll now get back to looking for reviewers

[2022-01-10 13:33] danielskatz commented on #3970
👋 @nikobreu - would you be willing to review this submission for JOSS? We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

[2022-01-10 13:58] arfon commented on #3376
@MamadouSDiallo – I just fixed this in the JOSS copy too. It may take 24 hours for the new version to show up on the JOSS website due to caching.

[2022-01-10 14:03] arfon commented on #3703
@KAClough – I've updated the paper with your changes. The PDF might take ~24 hours to show as updated on the JOSS site due to caching.

[2022-01-10 14:29] martinfleis commented on #4021
Just for the sake of completeness, the agreed editorial position on this is that **the content (docstrings, comments, error messages) is subject to review and thus needs to be in the same language as the paper**.

[2022-01-10 14:36] martinfleis commented on #4009
Thanks for the explanation @cfgmr!

The Service Desk solution should be enough, assuming it will be properly documented. Keep in mind, that you need to enable it for all 4 repositories (or create one to collect reports as you suggest, but I'd say it is better to keep Service Desk-based reports in the same place as standard issues).

[2022-01-10 14:42] prashjha commented on #4026
@kthyng thank you. I will be glad to be editor of this submission.

[2022-01-10 14:42] prashjha commented on #4026
@whedon assign me as editor

[2022-01-10 14:42] whedon commented on #4026
OK, the editor is @prashjha

[2022-01-10 14:47] nicoguaro commented on #3980
I'll resume activities tomorrow. So, I guess that I'll resume the review as well this week.

[2022-01-10 14:48] rkurchin commented on #3727
For just a week or two I don't think it's necessary. Just keep us posted!

[2022-01-10 14:58] danielskatz commented on #3740
This is now published.

Congratulations to @thejasvibr (Beleyur Thejasvi)!!

Thanks to @nils-werner and @hagenw for reviewing, and @faroit for editing!
We couldn't do this without you!

[2022-01-10 14:58] #3740 closed

[2022-01-10 14:59] whedon commented on #3740
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03740/status.svg)](https://doi.org/10.21105/joss.03740)

**We need your help!**

Journal of Open Source Softwa

[2022-01-10 14:59] arfon commented on #3740
Looks like this line was breaking the XML generation https://github.com/thejasvibr/bat_beamshapes/blob/dev/paper.bib#L186. I've fixed this manually and redeposited the XML with Crossref.

[2022-01-10 15:04] d-eggert commented on #4009
Thanks for the insight @cfgmr !

I will then enable (and document) the Service Desk solution for the repos. I also find it more sustainable than the mirror alternative.

[2022-01-10 15:15] dirks commented on #4009
@d-eggert maybe have a look at the [the upstream documentation](https://docs.gitlab.com/ee/user/project/service_desk.html#configuring-service-desk) for some best practices. Let us know if you need any help with the implementation.

[2022-01-10 15:37] d-eggert commented on #4009
Thanks @dirks for the doc link.

@martinfleis, I enabled the service desk feature for all four repos and added a 'service desk' section to the readme of each repository. I did not setup custom email templates, as I don't expect too much traffic via this channel yet.

I tested the feature here:
https://git.geomar.de/digital-earth/dasf/dasf-messaging-python/-/issues/40

appears to work as intended.

[2022-01-10 15:41] thejasvibr commented on #3740
Yay, thanks again to all involved  _ /\ _ !

[2022-01-10 15:47] faroit commented on #3740
@thejasvibr Congrats to the publication and many 🙏 to @nils-werner and @hagenw for your incredible detailed reviews.

[2022-01-10 15:48] cmbiwer commented on #3998
I'll post my checklist and comments for this review on Friday, if that's alright.

[2022-01-10 15:48] faroit commented on #3740
@arfon @danielskatz Thanks for helping out on the bibtex madness.

[2022-01-10 16:10] diehlpk commented on #3724
@whedon generate pdf

[2022-01-10 16:10] diehlpk commented on #3724
@whedon check references

[2022-01-10 16:10] whedon commented on #3724
[code]

[2022-01-10 16:10] whedon commented on #3724
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03724/joss.03724/10.21105.joss.03724.pdf) :page_facing_up: :point_left:

[2022-01-10 16:41] wsavran commented on #3658
@kbarnhart I just got back from holiday break. I hope you had a refreshing holiday as well. I'm working on their comments, so I'll let you know when I'm finished with everything. Thanks!

[2022-01-10 16:51] jgostick commented on #3957
Hi @nanthony21, I have just pinged both reviewers by email to remind them that this review is waiting.  Sorry for the delay.  The holidays and recent lock-downs have not doubt upended people's schedules.

[2022-01-10 17:06] whedon opened #4046 "[PRE REVIEW]: MitoHEAR: an R package for the estimation and downstream statistical analysis of the mtDNA heteroplasmy calculated from single-cell datasets"
**Submitting author:** @gabrielelubatti (<a href="http://orcid.org/0000-0001-8495-8096">Gabriele Lubatti</a>)
**Repository:** <a href="https://github.com/ScialdoneLab/MitoHEAR" target ="_blank">https://github.com/ScialdoneLab/MitoHEAR</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the cha

[2022-01-10 17:07] whedon commented on #4046
[code]

[2022-01-10 17:07] whedon commented on #4046
Failed to discover a valid open source license.

[2022-01-10 17:07] whedon commented on #4046
PDF failed to compile for issue #4046 with the following error:
[code]

[2022-01-10 17:09] kbarnhart commented on #3658
Sounds good @wsavran. Thanks for the update.

[2022-01-10 17:17] whedon commented on #4046
Wordcount for `paper.md` is 641

[2022-01-10 17:17] whedon commented on #4046
[code]

[2022-01-10 17:17] whedon commented on #4046
Failed to discover a valid open source license.

[2022-01-10 17:17] danielskatz commented on #4046
@whedon generate pdf from branch master

[2022-01-10 17:17] whedon commented on #4046
[code]

[2022-01-10 17:18] whedon commented on #4046
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04046/joss.04046/10.21105.joss.04046.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04046/joss.04046/10.21105.joss.04046.pdf) :page_facing_up: :point_left:

[2022-01-10 17:20] jgoldfar commented on #3898
Thanks @lucydot - I'm able to check off the tasks for this review now.

@tcaduser - well done on this comprehensive work. I would support a more automated approach to testing as suggested by @dalonsoa for the continued robustness of your project; it looks like you have integration tests as mentioned [in your comment](https://github.com/openjournals/joss-reviews/issues/3898#issuecomment-978052530),

[2022-01-10 17:21] matthewfeickert commented on #3993
Just popping in to say that I'm back from holidays now and so will try to get my review in before Wednesday. I see that the authors have done a lot of nice work, which is great to see, and I look forward to getting to review it. :slightly_smiling_face:

[2022-01-10 17:27] danielskatz commented on #4046
👋 @gabrielelubatti - thanks for your resubmission.  I think one issue is still packaging, with good R practices described in https://r-pkgs.org/index.html. Another is that I still see hardcoded paths in vignettes, such as line 38 in https://github.com/ScialdoneLab/MitoHEAR/blob/master/vignettes/Ludwig_et_al_example_notebook.Rmd:
```path_to_bam_fig_2="/nas_storage/gabriele.lubatti/heteroplasmy/publ

[2022-01-10 17:37] arokem commented on #3124
I am so sorry that this review is so slow. Unfortunately, @nsaunier is no longer responsive. I also tried to email him to his work email. It is understandable that folks have other things on their mind at this time.

I am going to try to find another reviewer, with the hope that can expedite the process and that we can come to some conclusion here.

[2022-01-10 17:37] gabrielelubatti commented on #4046
Hello. Regarding the point (Another is that I still see hardcoded paths in vignettes, such as line 38 in [ https://github.com/ScialdoneLab/MitoHEAR/blob/master/vignettes/Ludwig_et_al_example_notebook.Rmd | https://github.com/ScialdoneLab/MitoHEAR/blob/master/vignettes/Ludwig_et_al_example_notebook.Rmd ] :
path_to_bam_fig_2="/nas_storage/gabriele.lubatti/heteroplasmy/published_dataset/all_bam_files

[2022-01-10 17:37] arokem commented on #3124
@xiaowuc2 : in the past, you agreed to take on this JOSS review. Would you still be willing to do so? It would be a great help.

[2022-01-10 17:39] danielskatz commented on #4046
ok, that's fine - I'm just scanning the repo, not actually running the notebook (or even viewing it with the right format)

[2022-01-10 18:49] crvernon commented on #4039
:wave:  @jmp75 and @ldecicco-USGS have you found that you are able to modify the user checklist above?  Let me know if you have any further questions about how to conduct your review, etc.  Thanks!

[2022-01-10 18:52] KAClough commented on #3703
@arfon thank you so much! Happy New Year!

[2022-01-10 19:41] mbobra commented on #3963
Ah I'm so sorry for the late response, @dfm! I'm happy to take over editing duties from you if you wish (you can re-assign me as editor). I am familiar with heliophysics and space weather forecasting so it might be a better fit with @asherp 's work.

[2022-01-10 19:50] PTierz commented on #3649
Hi everyone,

Apologies for my late reply.

Very many thanks @arfon for your message, and once again to @jifarquharson and @meghanrjones for their invaluable reviews and comments, to @elbeejay for his never-ending support throughout the entire process, and to all the co-authors (@mobiuscreek, @volcan01010) for all the amazing collaborative work they did to help make `PyVOLCANS` happen.

Best wishe

[2022-01-10 20:01] diehlpk commented on #3724
I would recommend the following changes before, I can recommend the paper for acceptance

- [ ] `and suited to study a broad class of problems (fracture and friction)` Can you please put a link to the examples here? Like [problems](https://gitlab.com/cracklet/cracklet/-/tree/master/examples)
- [ ] `the Fourier transforms and the convolutions are computed within a shared-memory parallel framework u

[2022-01-10 20:04] diehlpk commented on #3724
@tiburoch

The above changes are major changes and the following one is a minor one:

In the last part of the paper, you have a bullet list with all the publications, which is good. However, do you need the bullet list? I think if you do not provide details about the paper, a simple list with ref1, ref2, ,,,,, and refN would be better. Currently, it takes a lot of space with not so much details.

[2022-01-10 20:19] martinfleis commented on #4009
@d-eggert Thanks for setting it up! If you have any suggestions for potential reviewers then please mention them here in this thread (without tagging them with an @). In addition, [this list of people](https://bit.ly/joss-reviewers) have already agreed to review for JOSS and may be suitable for this submission (please start at the bottom of the list).

[2022-01-10 20:23] ldecicco-USGS commented on #4039
@jhollist should we be installing via the USEPA repo, or your fork? (I don't know if it matters, but the readme says your fork)

[2022-01-10 21:06] kellyrowland commented on #3318
I'm back in office now, so dropping in with a reminder about this @munkm 👋

[2022-01-10 21:08] elbeejay commented on #3649
@openjournals/dev is it possible to add a sentence to the acknowledgements section even though this has been technically published already? The sentence would read:

@PTierz please feel free to add further details as you deem appropriate.

[2022-01-10 21:44] diehlpk commented on #4023
Hi @dvanic or @sfuxy or @jodemaey or @abhilash12iec002 would you be interested in reviewing this paper?

[2022-01-10 22:51] finagle29 commented on #3612
Thanks for the example! I decided on listing my present address/affiliation in a footnote.

[2022-01-10 22:55] larkz commented on #3804
hi the changes have been merged and a release has been made. We created a record on Zenodo

[2022-01-10 22:58] larkz commented on #3804
@adi3 hi the changes have been merged and a release 0.0.4 corresponding to this PR has been made. We created a record on Zenodo with DOI 10.5281/zenodo.5834890 [link](https://zenodo.org/record/5834890#.Ydy5dOrMKrw)

Please let us know if anything else!

[2022-01-10 22:59] dvanic commented on #4023
@diehlpk: sorry, it's too far outside my area of expertise 😓

[2022-01-10 23:04] MariaPoliti commented on #3829
@andrewtarzia Thank you so much for the feedback and the review you provided for this paper. The remaining point on your checklist have been addressed:
* A new version of the manuscript has been uploaded on the repository with new figures and captions.
* Jupyter Notebooks/Google Collab notebooks have been uplaoded in the `doc/examples/` folder in the repository. These cover a variety of use cases

[2022-01-11 00:22] gkthiruvathukal commented on #3829
@MariaPoliti  I am just returning from my "out of office", so I should be able to follow up shortly (hopefully within 24-48 hours). Thanks for the gentle nudge!

[2022-01-11 00:40] AustinTSchaffer commented on #4003
@adi3 I'd love to!

[2022-01-11 00:42] AustinTSchaffer commented on #3775
@prashjha what's the status on this submission? I'd love to start taking a look at the review while you're waiting on additional reviewers.

[2022-01-11 00:49] jhollist commented on #4039
@ldecicco-USGS sorry for the confusion, bit of a long story that I will spare you as to why I use the two...

It shouldn't matter.  I have my local repo set to push to both locations so, in theory, they are identical.  I use the EPA one in the paper and in DESCRIPTION so install from that.  I do see now that I need to update my README installation instructions.  Will do that shortly.

[2022-01-11 01:17] ni1o1 commented on #4021
OK, we will translate all that into English

[2022-01-11 01:35] Spartanzhao commented on #3916
@jmschrei Thank you so much. I am a little worried about test data, I had uploaded matrix data into baidu netdisc. If there are any problems, please contact me, I'll try my best.

[2022-01-11 01:42] ldecicco-USGS commented on #4039
Say no more 😂

[2022-01-11 02:10] chuckaustin commented on #4020
Hi, yes, I plan to review this submission.

[2022-01-11 04:32] taless474 commented on #3882
@whedon generate pdf

[2022-01-11 04:32] whedon commented on #3882
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03882/joss.03882/10.21105.joss.03882.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03882/joss.03882/10.21105.joss.03882.pdf) :page_facing_up: :point_left:

[2022-01-11 04:46] taless474 commented on #3882
@birnstiel thanks for reminding me here. Everything looks good to me.

[2022-01-11 04:50] taless474 commented on #3882
@whedon set 10.5281/zenodo.5785575 as archive

[2022-01-11 04:50] whedon commented on #3882
OK. <a href="https://doi.org/10.5281/zenodo.5785575" target="_blank">10.5281/zenodo.5785575</a> is the archive.

[2022-01-11 04:52] taless474 commented on #3882
@whedon check references

[2022-01-11 04:52] whedon commented on #3882
[code]

[2022-01-11 04:52] taless474 commented on #3882
@whedon recommend-accept

[2022-01-11 04:52] whedon commented on #3882
[code]

[2022-01-11 04:52] whedon commented on #3882
[code]

[2022-01-11 04:53] whedon commented on #3882
:wave: @openjournals/joss-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/openjournals/joss-papers/pull/2875

If the paper PDF and Crossref deposit XML look good in https://github.com/openjournals/joss-papers/pull/2875, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2022-01-11 05:08] taless474 commented on #3976
@peanutfun, @bonh are you interested in reviewing this work?

[2022-01-11 05:12] taless474 commented on #3928
@FreddieV4 are you interested in reviewing this?

[2022-01-11 06:18] taless474 commented on #4008
@EduPH are you interested in reviewing this?

[2022-01-11 06:19] taless474 commented on #4008
@inpefess are you interested in reviewing this?

[2022-01-11 07:58] liquidcronos commented on #3967
@SeungBack  I have included IKPy and Klam't in my discussion.
Let me know if this is sufficient or if you want a more detailed comparison

[2022-01-11 07:59] liquidcronos commented on #3967
@whedon generate pdf from branch paper

[2022-01-11 07:59] whedon commented on #3967
[code]

[2022-01-11 07:59] jonatanalvelid commented on #4023
Hi @diehlpk, thank you for considering me, but I am unfortunately not available to review currently.
I hope I will be considered again in the future and will happily review then, and thanks for your understanding.

Best,
Jonatan

[2022-01-11 07:59] whedon commented on #3967
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03967/joss.03967/10.21105.joss.03967.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03967/joss.03967/10.21105.joss.03967.pdf) :page_facing_up: :point_left:

[2022-01-11 08:15] abhilash12iec002 commented on #4023
Yes, I can review the said paper.

Best,

Abhilash Singh
PhD Scholar, 1810302
Fluvial Geomorphology and Remote Sensing Lab,
Department of EES, AB-2, Lab-10,
Indian Institute of Science Education and Research Bhopal
mobile: +91-9990674147
***@***.***
www.abhilashsingh.net
***@***.***>

On Tue, Jan 11, 2022 at 1:29 PM Jonatan Alvelid ***@***.***>
wrote:

[2022-01-11 08:45] Nikoleta-v3 commented on #4034
@whedon assign @strengejacke  as reviewer

[2022-01-11 08:45] whedon commented on #4034
OK, @strengejacke  is now a reviewer

[2022-01-11 08:49] jodemaey commented on #4023
Hi,

Same as @dvanic comment for me, it is way outside of my area of expertise.

Sorry,

Jonathan

[2022-01-11 08:49] inpefess commented on #4008
@taless474

yes

[2022-01-11 08:51] Nikoleta-v3 commented on #4034
👋 @allaway & @fernandomayer &  @franjoim & @allenzhuaz would any of you be willing to review this submission for JOSS?

We carry out our checklist-driven reviews here in GitHub issues and follow these guidelines: https://joss.readthedocs.io/en/latest/review_criteria.html

The submission I'd like you to review is titled: "APCtools: Descriptive and Model-based Age-Period-Cohort Analysis". You can fi

[2022-01-11 09:25] d-eggert commented on #4009
Wow, pretty comprehensive list :sweat_smile:

people with a potentially fitting skill set and domain knowledge: **kislerdm**, **cjwu**, **xirdneh**, **uellue** and **diegomoreiracarvalho**

[2022-01-11 09:47] stammler commented on #3882
Not sure if this matters. But the latest version is 1.0.0, while the top comment of the issue still says 0.5.4

[2022-01-11 09:59] bebatut commented on #3722
Sorry for the delay (some health issues). Everything looks good now on my side. It seems ready to go :rocket:

[2022-01-11 10:25] arfon commented on #3612
Happy new year folks! @arjunsavel – it looks like you're finished with your review, and at this point we're waiting on @crhea93 to complete their review based on @finagle29's updates. Is that a reasonable assessment of where we're at?

[2022-01-11 10:45] mkitti commented on #3965
With versions as specified by the authors at https://leprojetcastor.gitlab.labos.polytechnique.fr/castor/installation.html I have been able to compile and execute the code on Ubuntu 20.04 (LTS).

Some comments on this:
1. The authors specify Ubuntu (20.04) in the instructions and a minimum version of cmake 3.18. This is enforced by CMakeLists.txt. However, the [version of cmake available in Ubuntu

[2022-01-11 10:50] mkitti commented on #3965
The reference for NumPy was added and then removed.

[2022-01-11 10:53] mkitti commented on #3965
I am unable to identify community guidelines to contribute to the software, report issues, or seek support in the documentation.

[2022-01-11 11:00] mkitti commented on #3965
The repository linked in the PDF and at the top of this issue still refers to the old Github based repository rather than the Gitlab based repository.

[2022-01-11 11:15] mkitti commented on #3965
The examples in the paper make reference to a `castor/linsolve.hpp`. This file does not exist. Perhaps this should be `linalg.hpp`?

[2022-01-11 12:07] mkitti commented on #3965
With demo_graphics, I am not getting past "DRAWNOW". If I close the opened figures, then I get a segmentation fault. I do not get to the "IMAGE WRITE" or "MOVIE WRITE" sections.

[2022-01-11 12:09] mkitti commented on #3965
I also get a segmentation fault when rendering the Figure 1 example, when I close the window.

[2022-01-11 12:15] mkitti commented on #3965
Are there any build instructions for Figure 2. I assume it is from this repository:
https://gitlab.labos.polytechnique.fr/leprojetcastor/fembem

It would be nice to have instructions on how to construct a CMakeLists.txt file to compile the examples in the documentation and the paper.

[2022-01-11 13:31] danielskatz commented on #3882
@whedon set 1.0.0 as version

[2022-01-11 13:32] danielskatz commented on #3882
@stammler - I'm the next step in the process. I'll proofread it in the next couple of hours, and either let you know if any changes need to be made, or will proceed to publication.

[2022-01-11 13:35] fboehm commented on #4031
Thanks, @welch16 and @soodoku for your constructive reviews. Thanks, @GaryBAYLOR - there are a few remaining steps before publication. Let me proofread the manuscript in the next two days. I'll then provide instructions for the remaining steps - namely, making an archive and a new release... but don't do those steps until I get back to you after the proofreading. Thanks again!

[2022-01-11 13:45] bramvandijk88 commented on #3948
Heya,

Just checking in after the holidays, is this review still in progress? I'm not at all in a hurry, but just wanted to make sure it wasn't forgotten.

[2022-01-11 13:55] pdebuyl commented on #3337
Hi @McWhity I will perform the remaining checks myself so that we can proceed.

[2022-01-11 14:10] dhhagan commented on #3219
Hey @darothen - just wanted to ping you one more time now that the holidays are over. Is there anything else you need from the authors to finish up this submission?

[2022-01-11 14:11] dhhagan commented on #3820
Hey @jonsampedro sorry for the long, holiday break. I am finishing this up now!

[2022-01-11 14:13] dhhagan commented on #3820
@whedon generate pdf

[2022-01-11 14:14] whedon commented on #3820
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03820/joss.03820/10.21105.joss.03820.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03820/joss.03820/10.21105.joss.03820.pdf) :page_facing_up: :point_left:

[2022-01-11 14:19] jonsampedro commented on #3820
Hello @dhhagan. Thank you, just let me know if you require anything from my side.

[2022-01-11 14:20] dhhagan commented on #3820
@jonsampedro Can you do the following for me?

- [ ] Make a tagged release and archive.
- [ ] Report the version number and archive doi in this thread

After that is complete, I can move ahead with the acceptance process.

[2022-01-11 14:25] whedon commented on #4020
OK, @chuckaustin is now a reviewer

[2022-01-11 14:38] danielskatz commented on #3882
@whedon accept deposit=true

[2022-01-11 14:38] whedon commented on #3882
[code]

[2022-01-11 14:47] danielskatz commented on #3882
Congratulations to @stammler (Sebastian Markus Stammler) and co-author!!

And thanks to @schruste and @lucaferranti for reviewing, and @taless474 for editing!
We couldn't do this without you!

[2022-01-11 14:47] #3882 closed

[2022-01-11 14:47] whedon commented on #3882
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://joss.theoj.org/papers/10.21105/joss.03882/status.svg)](https://doi.org/10.21105/joss.03882)

**We need your help!**

Journal of Open Source Softwa

[2022-01-11 14:56] ajstewartlang commented on #3764
:wave: @zbeekman - hope you're doing ok - have you had a chance to move onto testing the installation and functionality yet?

[2022-01-11 14:59] lungsi commented on #3735
@mjsottile Thank you so much for the feedback. Below are all the changes made in the revised version.

* [x] line 6 : dimensional formula -> dimensional formulas
* [x] line 6 : dimensional equation -> dimensional equations
* [x] line 10 : performs -> perform
* [x] line 34 : softwares -> software packages
* [x] line 43: comma after "Units" and before "diman".
   - line 60 in the revised version
* [

[2022-01-11 15:00] lungsi commented on #3735
@whedon generate pdf

[2022-01-11 15:01] whedon commented on #3735
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03735/joss.03735/10.21105.joss.03735.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03735/joss.03735/10.21105.joss.03735.pdf) :page_facing_up: :point_left:

[2022-01-11 15:01] lungsi commented on #3735
@whedon check references

[2022-01-11 15:02] whedon commented on #3735
[code]

[2022-01-11 15:03] danielskatz commented on #4042
👋 @mortele - I'm going to put your paper on our waiting list - we have three potential editors for it, but all are currently unavailable due to other assignments, so when one of those is completed, this will be able to start.

[2022-01-11 15:07] whedon opened #4047 "[PRE REVIEW]: visxhclust: An R Shiny package for visual exploration of hierarchical clustering"
**Submitting author:** @rhenkin (<a href="http://orcid.org/0000-0002-5511-5230">Rafael Henkin</a>)
**Repository:** <a href="https://github.com/rhenkin/visxhclust" target ="_blank">https://github.com/rhenkin/visxhclust</a>
**Version:** 1.0.0
**Editor:** @osorensen
**Reviewers:** @jonjoncardoso, @wiljnich
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the

[2022-01-11 15:07] whedon commented on #4047
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-11 15:08] whedon commented on #4047
PDF failed to compile for issue #4047 with the following error:
[code]

[2022-01-11 15:08] whedon commented on #4047
[code]

[2022-01-11 15:08] whedon opened #4048 "[PRE REVIEW]: VPsearch: fast exact sequence similarity search for genomic sequences"
**Submitting author:** @jvkersch (<a href="http://orcid.org/0000-0002-5813-5659">Joris Vankerschaver</a>)
**Repository:** https://github.com/enthought/vpsearch
**Branch with paper.md** (empty if default branch):
**Version:** 0.2.0
**Editor:** @lpantano
**Reviewers:** @tamarahadz, @sdhutchins
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges

[2022-01-11 15:08] whedon commented on #4048
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-11 15:08] whedon commented on #4048
Wordcount for `paper.md` is 957

[2022-01-11 15:08] whedon commented on #4048
[code]

[2022-01-11 15:08] whedon commented on #4048
[code]

[2022-01-11 15:08] whedon opened #4049 "[PRE REVIEW]: Hyper2D: a finite-volume solver for hyperbolic PDEs and hypersonic flows"
**Submitting author:** @sbocce (<a href="http://orcid.org/0000-0003-2276-9606">Stefano Boccelli</a>)
**Repository:** <a href="https://github.com/sbocce/hyper2D/" target ="_blank">https://github.com/sbocce/hyper2D/</a>
**Version:** v1.0.0
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Daniel S. Katz

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-

[2022-01-11 15:08] whedon commented on #4049
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2022-01-11 15:08] whedon commented on #4049
Wordcount for `paper.md` is 828

[2022-01-11 15:08] whedon commented on #4049
[code]

[2022-01-11 15:08] whedon commented on #4049
[code]

[2022-01-11 15:08] whedon commented on #4048
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04048/joss.04048/10.21105.joss.04048.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04048/joss.04048/10.21105.joss.04048.pdf) :page_facing_up: :point_left:

[2022-01-11 15:08] whedon commented on #4049
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04049/joss.04049/10.21105.joss.04049.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04049/joss.04049/10.21105.joss.04049.pdf) :page_facing_up: :point_left:

[2022-01-11 15:09] danielskatz commented on #4047
@whedon check references from branch paper

[2022-01-11 15:09] whedon commented on #4047
[code]

[2022-01-11 15:09] danielskatz commented on #4047
@whedon generate pdf from branch paper

[2022-01-11 15:09] whedon commented on #4047
[code]

[2022-01-11 15:10] whedon commented on #4047
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04047/joss.04047/10.21105.joss.04047.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04047/joss.04047/10.21105.joss.04047.pdf) :page_facing_up: :point_left:

[2022-01-11 15:14] danielskatz commented on #4047
@rhenkin - thanks for your submission.  I'll look for an editor next.

In addition, you could work on the possibly missing DOI that whedon suggests, but note that this may be incorrect. Please feel free to make changes to your .bib file, then use the command `@whedon check references from branch paper` to check again, and the command `@whedon generate pdf from branch paper` when the references are

[2022-01-11 15:16] danielskatz commented on #4047
👋 @osorensen - are you able to edit this submission?

[2022-01-11 15:16] danielskatz commented on #4047
@whedon invite @osorensen as editor

[2022-01-11 15:17] whedon commented on #4047
@osorensen has been invited to edit this submission.

[2022-01-11 15:22] danielskatz commented on #4049
@sbocce - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOI that whedon suggests, but note

[2022-01-11 15:22] danielskatz commented on #4049
@whedon query scope

[2022-01-11 15:22] whedon commented on #4049
Submission flagged for editorial review.

[2022-01-11 15:24] danielskatz commented on #4048
@jvkersch - thanks for your submission.  Due to the relatively small amount of code, the editors will now discuss if it meets the [substantial scholarly effort](https://joss.readthedocs.io/en/latest/submitting.html#substantial-scholarly-effort) criterion for review by JOSS.  You should hear back in a week or so.

In addition, you could work on the possibly missing DOI that whedon suggests, but not

[2022-01-11 15:24] danielskatz commented on #4048
@whedon query scope

[2022-01-11 15:26] danielskatz commented on #4046
👋 @gabrielelubatti - I'm going to ask JOSS editors to look at this submission before we decide to review it, based on the packaging issue.  We should be able to decide in a week or so.

[2022-01-11 15:26] danielskatz commented on #4046
@whedon query scope

[2022-01-11 15:29] fboehm commented on #3888
@tbrown122387 and @ha0ye - how are the reviews going? Is there anything that I can do to assist you?

[2022-01-11 15:30] fboehm commented on #3888
@mcsiple - are there any questions about the issues that the reviewers have opened?

[2022-01-11 15:33] mkitti commented on #3965
Here is the backtrace via gdb from the segmentation fault that happens when I close the window.
[code]

The code is just as follows from Figure 1.
[code]

![image](https://user-images.githubusercontent.com/8062771/148972476-7b2a2f8d-892b-4ef8-a87e-2bebf3d34cbc.png)

[2022-01-11 15:40] mkitti commented on #3965
The backtrace is similar for demo_graphics

[2022-01-11 15:45] mstimberg commented on #3956
@eferrea thanks for the substantial changes, all of my concerns have been addressed (except for the few minor issues I commented in eferrea/BCI-Master#2, eferrea/BCI-Master#3, eferrea/BCI-Master#4). Before the formal acceptance from my side, there's only one more thing that I unfortunately forgot to mention earlier: it would be good to make an official release on github (or just a tag) and give th

[2022-01-11 15:47] mstimberg commented on #3956
@whedon generate pdf

[2022-01-11 15:48] whedon commented on #3956
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03956/joss.03956/10.21105.joss.03956.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03956/joss.03956/10.21105.joss.03956.pdf) :page_facing_up: :point_left:

[2022-01-11 15:50] awvwgk commented on #4040
Thanks, I'll try to build everything ASAP, latest next weekend ;).

[2022-01-11 15:53] Tohuvavohu commented on #4017
@BjoernBiltzinger @christinahedges
I am very happy to recommend this paper for acceptance. Performing this review was extremely easy and simple due to the excellent documentation and installation instructions. It represents a significant body of work that will be a boon to those in hard X-ray/gamma-ray astronomy and opens up the INTEGRAL/SPI data to both more streamlined, and more powerful, analys

[2022-01-11 15:54] arjunsavel commented on #3612
Happy new year! @arfon, I've just completed going over some bug fixes that @finagle made — everything's looking great, and I'd consider my review completed.

[2022-01-11 15:56] diehlpk commented on #4023
@whedon assign @abhilash12iec002  as reviewer

[2022-01-11 15:56] whedon commented on #4023
OK, @abhilash12iec002  is now a reviewer

[2022-01-11 16:09] sbocce commented on #4049
@danielskatz thank you for your message and for considering my submission. I have the impression that whedon may have picked only one single directory for counting the code statistics. It reports 646 lines of code, but the full software is much larger. Maybe it does not recognize the directory structure. Let me know if you need me to modify anything.

I'll be fixing the DOI in the meanwhile. Thank

[2022-01-11 16:15] danielskatz commented on #4049
It appears our check may not be recognizing/counting lines in .f03 files.  @arfon, any thoughts here?

[2022-01-11 16:20] sbocce commented on #4049
@whedon check references

[2022-01-11 16:20] whedon commented on #4049
[code]

[2022-01-11 16:21] sbocce commented on #4049
@whedon generate pdf

[2022-01-11 16:21] whedon commented on #4049
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04049/joss.04049/10.21105.joss.04049.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04049/joss.04049/10.21105.joss.04049.pdf) :page_facing_up: :point_left:

[2022-01-11 16:24] tiburoch commented on #3724
Thank you @diehlpk for your comments. There is a merge request pending with modifications for the first and third major changes as well as the reformatting of the references to reduce the paper length. (https://gitlab.com/cracklet/cracklet/-/merge_requests/21).

Regarding your second point: the citation describes the architecture of cRacklet itself (any simulations using cRacklet will compute a ti

[2022-01-11 16:29] ldecicco-USGS commented on #4039
The package works as advertised, and the paper is clear to read. I don't see specific instructions on Community guidelines (I think this is generally a little different than the code of conduct that is included).

General thoughts, not required for approval, but might help some future developments:
The tests look to me to be written to check generally that the data coming back from the functions a

[2022-01-11 16:36] lucydot commented on #3898
Hi @jgoldfar that's great - thank you for your comments. If you are happy that the software passes criteria, can I ask you to tick off the appropriate boxes at the top of the issue? There are two unticked. Note that the "automated testing" can be ticked if there are manual steps outlined so that a user can verify that the paper is working as intended - which I believe, from the discussions I've se

[2022-01-11 16:39] jgoldfar commented on #3898
Done

[2022-01-11 16:41] eferrea commented on #3956
@mstimberg ,  thanks for your comments. I answered your questions (eferrea/BCI-Master#2, eferrea/BCI-Master#3, eferrea/BCI-Master#4).
In addition, I have to mention that I just added in the paper.md a small paragraph of our funding sources.
As you suggested, I will then wait until the end of the review process to make an official release.

[2022-01-11 16:41] jonsampedro commented on #3820
Sure @dhhagan, I have created a new release (rfasst-v1.2) , which is stored in zenodo with the following details:

**Zenodo site**: https://zenodo.org/record/5838361#.Yd2ym_7MJPY
**DOI**: 10.5281/zenodo.5838361

[2022-01-11 16:43] diehlpk commented on #3724
`or for FFTW3 in the first figure?`

Yes, I would add that for the scaling plot. I still believe having all this information is valuable for others to reproduce your results.

[2022-01-11 17:14] rhenkin commented on #4047
Thanks, I will look into that one

[2022-01-11 17:18] wcwitt commented on #4040
@Evmoerman I don't have FHI-aims or CC4S either, sorry. Would you mind getting me access? I'm at Cambridge in the [Materials Theory Group](https://www.mtg.msm.cam.ac.uk/People/dr-w-chuck-witt).

[2022-01-11 17:29] tbrown122387 commented on #3888
@fboehm  everything’s all good thanks. Just waiting to hear back on this (probably final) issue.

[2022-01-11 17:34] tuelwer commented on #3994
@sbenthall @akaptano This is my review:

This submission deals with a major update to the PySINDy package, which has been previously published in JOSS [1]. PySINDy provides several implementations for the sparse identification of nonlinear dynamical systems, i.e., PySINDy performs sparse linear regression to estimate the function f describing the dynamical system from a dataset. To do so additiona

[2022-01-11 17:41] grenkoca commented on #4041
Okay! Thank you very much. @sarthakpati, just pinging you for an update

[2022-01-11 17:50] allaway commented on #4034
@Nikoleta-v3 I am not an expert (or even really familiar with) Age-Period-Cohort analysis, but would be happy read up on it a bit and review.

[2022-01-11 18:20] jhamman commented on #4020
👋  @elbeejay - I'd be happy to review this submission as well. Sign me up!

[2022-01-11 18:49] jbytecode commented on #3991
@jbcaillau we would like to hear about your review, sorry for pinging if I bothered you.

thank you in advance.

[2022-01-11 18:57] Evmoerman commented on #4040
@wcwitt Of course. I will send some email in a minute.

[2022-01-11 18:58] osorensen commented on #4047
@whedon assign @osorensen as editor

[2022-01-11 18:58] whedon commented on #4047
OK, the editor is @osorensen

[2022-01-11 19:06] rkurchin commented on #3935
Followed up on both emails mentioned above. @fanchercm, if I still don't hear from them, any other reviewer suggestions?

[2022-01-11 19:08] rkurchin commented on #3992
@sambitdash and @dionhaefner, it seems you've both completed your checklists. Could you confirm that you're now happy to accept this submission?

[2022-01-11 20:01] dionhaefner commented on #3992
There's still delve-team/delve#59, but if the authors prefer to address that later it's fine with me.

[2022-01-11 20:06] nicoguaro commented on #3980
@PolymerGuy, the repo (or docs) is missing a Statement of Need. Furthermore, I think that the one provided in the paper answers the question of why you wrote the software by not how other people might want to use it.

[2022-01-11 20:11] fernandomayer commented on #4034
Yes, I would be happy to make this review.

[2022-01-11 20:41] mikemhenry commented on #3950
So sorry about the delay! Working on this today :)

[2022-01-11 21:43] perrydv commented on #3844
Thanks @fabian-s.  Can you help me understand what is the best step in the process to put our package on CRAN?  After all of the above steps, so that we can then list the resulting JOSS publication as the CITATION request for the package?

[2022-01-11 21:53] elbeejay commented on #4020
@whedon add @jhamman as reviewer

[2022-01-11 21:53] whedon commented on #4020
OK, @jhamman is now a reviewer

[2022-01-11 21:54] elbeejay commented on #4020
Awesome. In this case, sorry to have bothered you @raoulcollenteur. We will be transitioning to the review issue so you should not receive any further notifications about this.

[2022-01-11 21:55] elbeejay commented on #4020
@whedon start review

[2022-01-11 21:55] whedon opened #4050 "[REVIEW]: NeuralHydrology --- A Python library for Deep Learning research in hydrology"
**Submitting author:** @kratzert (<a href="http://orcid.org/0000-0002-8897-7689">Frederik Kratzert</a>)
**Repository:** https://github.com/neuralhydrology/neuralhydrology
**Branch with paper.md** (empty if default branch): paper
**Version:** v.1.2.3
**Editor:** @elbeejay
**Reviewers:** @ammilten, @chuckaustin, @jhamman
**Archive:** 10.5281/zenodo.6326394

**:warning: JOSS reduced service mode :war

[2022-01-11 21:55] whedon commented on #4020
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4050.

[2022-01-11 21:55] #4020 closed

[2022-01-11 21:55] whedon commented on #4050
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ammilten, @chuckaustin, @jhamman it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog p

[2022-01-11 21:55] whedon commented on #4050
PDF failed to compile for issue #4050 with the following error:
[code]

[2022-01-11 21:55] whedon commented on #4050
[code]

[2022-01-11 21:59] elbeejay commented on #4050
@ammilten, @chuckaustin, @jhamman, thanks for agreeing to review this submission to JOSS. We are currently asking reviewers to try and complete their reviews in 6 weeks.

The JOSS review process is entirely open and transparent, and takes place on GitHub. **Review comments should be made as issues in the NeuralHydrology repository** (so open up a new issue [here](https://github.com/neuralhydrology

[2022-01-11 22:00] elbeejay commented on #4050
@whedon check references from branch paper

[2022-01-11 22:00] whedon commented on #4050
[code]

[2022-01-11 22:00] elbeejay commented on #4050
@whedon generate pdf from branch paper

[2022-01-11 22:00] whedon commented on #4050
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX entry: cite-key missing

[2022-01-11 22:00] whedon commented on #4050
[code]

[2022-01-11 22:13] elbeejay commented on #4050
@kratzert - if looks like there's an issue with the bibliography file. I suspect it has to do with an "@" symbol in the citation:

Can you remove the second "@" and update the bib file? Once you've done that please use the whedon commands like above to regenerate the paper and check the reference file.

[2022-01-11 22:20] csinva commented on #3895
Thanks for all your thoughtful feedback @richrobe. We’ve just finished going through and applying all of your recommendations resulting in a much-improved package / paper!

We’ve responded to each of the issues individually in their own threads and improved the package accordingly. Please let us know if there's something you feel is still an issue!

Best,
Chandan

[2022-01-11 22:22] kratzert commented on #4050
@whedon generate pdf from branch paper

[2022-01-11 22:22] whedon commented on #4050
[code]

[2022-01-11 22:23] whedon commented on #4050
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04050/joss.04050/10.21105.joss.04050.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04050/joss.04050/10.21105.joss.04050.pdf) :page_facing_up: :point_left:

[2022-01-11 22:31] kratzert commented on #4050
Sorry for the spam but I just saw that we had different spellings for the same authors across different bib entries, which led to an undesired format in the reference list. I fixed this and will query whedon again to compile the manuscript. Please consider the document below for the review.

@whedon generate pdf from branch paper

[2022-01-11 22:31] kratzert commented on #4050
@whedon generate pdf from branch paper

[2022-01-11 22:31] whedon commented on #4050
[code]

[2022-01-11 23:35] mikemhenry commented on #3950
@davidegraff I've got some more detailed comments about the installation and testing, but I found this package and paper to be excellent! I'll open up a few issues tomorrow (and let my computer run overnight to test out the scaling).

[2022-01-11 23:44] mcsiple commented on #3888
@fboehm thank you-- I am slowly working through the revisions and I don't think I have any questions so far. Thank you @tbrown122387  and @ha0ye for both of your reviews! More soon.

[2022-01-11 23:52] elbeejay commented on #4050
@whedon check references from branch paper

[2022-01-11 23:52] whedon commented on #4050
[code]

[2022-01-11 23:52] whedon commented on #4050
[code]

[2022-01-11 23:56] EricaEgg commented on #4000
I am also happy to review.

[2022-01-12 00:51] sneakers-the-rat commented on #4003
@adi3 would be happy to :)

[2022-01-12 01:37] AlphonsG commented on #3944
Hello,

May I suggest Sarada Lee (leesarada@gmail.com) and Sean Driver (sean@assistedevolution.net) who both have github accounts and experience in the field. Here is a recent publication of theirs:

https://pubmed.ncbi.nlm.nih.gov/34413367/

[2022-01-12 02:11] galessiorob commented on #4022
Thank you so much for your thorough and speedy review mid holidays @kinow 🎉 !

I agree with the notes and suggestions you propose in your [PR](https://github.com/chchch/sanskrit-alignment/pull/5), @chchch mind reviewing the recommendations and considering adding tests for the `matrix-editor`?

I'll review the paper itself again shortly.

[2022-01-12 02:19] galessiorob commented on #4022
`@scheiblr `is unfortunately out sick, so we're looking for additional reviewers.

[2022-01-12 02:54] taless474 commented on #4008
@whedon assign @inpefess as reviewer

[2022-01-12 02:54] whedon commented on #4008
OK, @inpefess is now a reviewer

[2022-01-12 02:58] taless474 commented on #3651
@georgiastuart thank you. Please let us know how it goes.

[2022-01-12 04:39] acrlakshman commented on #3824
Things look good with the current shape, but all changes are in `joss-review`, may I know if things will be merged into `develop` branch?

[2022-01-12 05:15] emilydolson commented on #3948
Yes! Apologies for being slow - my university switched teaching modalities and I've been scrambling to adjust my course.

[2022-01-12 05:25] sambitdash commented on #3992
@dionhaefner, agree with you.

[2022-01-12 06:32] jbcaillau commented on #3991
@jbytecode thanks for the reminder, taking care of this today

[2022-01-12 07:24] timtroendle commented on #4000
Thanks @EricaEgg and @mefuller, that's great to hear. Let's start the review right away. @yangbai90, should you be interested in joining the review at a later stage, just let me know.

[2022-01-12 07:24] timtroendle commented on #4000
@whedon add @EricaEgg as reviewer

[2022-01-12 07:25] whedon commented on #4000
OK, @EricaEgg is now a reviewer

[2022-01-12 07:25] timtroendle commented on #4000
@whedon add @mefuller as reviewer

[2022-01-12 07:25] whedon commented on #4000
OK, @mefuller is now a reviewer

[2022-01-12 07:25] timtroendle commented on #4000
@whedon start review

[2022-01-12 07:25] whedon opened #4051 "[REVIEW]: liionpack: A Python package for simulating packs of batteries with PyBaMM"
**Submitting author:** @TomTranter (<a href="http://orcid.org/0000-0003-4721-5941">Thomas Tranter</a>)
**Repository:** <a href="https://github.com/pybamm-team/liionpack" target ="_blank">https://github.com/pybamm-team/liionpack</a>
**Version:** v0.3
**Editor:** @timtroendle
**Reviewers:** @EricaEgg, @mefuller, @yangbai90
**Archive:** <a href="https://doi.org/10.5281/zenodo.6123712" target="_blank"

[2022-01-12 07:25] whedon commented on #4000
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4051.

[2022-01-12 07:25] #4000 closed

[2022-01-12 07:25] whedon commented on #4051
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @EricaEgg, @mefuller it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://

[2022-01-12 07:25] whedon commented on #4051
Wordcount for `paper.md` is 1440

[2022-01-12 07:25] whedon commented on #4051
[code]

[2022-01-12 07:26] whedon commented on #4051
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04051/joss.04051/10.21105.joss.04051.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04051/joss.04051/10.21105.joss.04051.pdf) :page_facing_up: :point_left:

[2022-01-12 07:26] whedon commented on #4051
[code]

[2022-01-12 07:29] timtroendle commented on #4051
@whedon remind @EricaEgg in 3 weeks

[2022-01-12 07:29] whedon commented on #4051
Reminder set for @EricaEgg in 3 weeks

[2022-01-12 07:29] timtroendle commented on #4051
@whedon remind @mefuller in 3 weeks

[2022-01-12 07:29] whedon commented on #4051
Reminder set for @mefuller in 3 weeks

[2022-01-12 07:33] timtroendle commented on #2688
@garrettj403, would you be able to do the review in February?

[2022-01-12 08:18] bramvandijk88 commented on #3948
No need to apologise, there have been holidays + a new year of teaching, so nobody should expect to stay within standardised deadlines. Thanks for your time! :)

[2022-01-12 08:41] kratzert commented on #4050
@whedon check references from branch paper

[2022-01-12 08:41] whedon commented on #4050
[code]

[2022-01-12 08:41] whedon commented on #4050
[code]

[2022-01-12 08:47] TomTranter commented on #4051
@timtroendle I fixed those DOIs in a review branch that I haven't merged yet. If there are any other necessary code changes I will also make them here https://github.com/pybamm-team/liionpack/tree/JOSS-review

[2022-01-12 09:08] Viech commented on #3915
(I've send them a mail.)

[2022-01-12 09:15] cc-a commented on #3824
@acrlakshman Sure, if there are no further comments.

[2022-01-12 09:17] PolymerGuy commented on #3980
@nicoguaro  I will address this as soon as possible. Just to make sure everything is clear, the commit: [26f7c97f4efc2ce93a402c5ac8b5479523883845](https://github.com/PolymerGuy/recolo/commit/26f7c97f4efc2ce93a402c5ac8b5479523883845) did not address this in a satisfactory manner?

[2022-01-12 09:34] fabian-s commented on #3844
For that you'll need the DOI of the JOSS paper, which is already given on your draft?
Not sure I really understand the question, sorry -- having a JOSS publication and getting on CRAN seem to be unrelated to me.

[2022-01-12 09:59] martinfleis commented on #4009
👋👋👋 Dear @cjwu, and @uellue,

Would you be willing to assist in reviewing this submission for JOSS (Journal of Open Source Software)?

JOSS publishes articles about open source research software. The submission I'd like you to review is titled: "TDASF: A data analytics software framework for distributed environments". You can find more information at the top of this Github issue (#4009).

The revi

[2022-01-12 10:10] richrobe commented on #3895
Hi @csinva,
awesome! Thanks for your effort put into responding to the issues and to improve the package. With that, I'm happy to tick off the remaining checkboxes and accept the submission!

Best,
Robert

[2022-01-12 10:18] aquilesC commented on #4024
I am going through the program, and I'll be incrementally listing what I find (some are possible improvements, some are important things to address), I'll clean them up at the end of the process:

It is GREAT that you provide the software and sample data to get started! Kudos!

- [ ] Couldn't find a simple way of downloading sample data. The ``download_tutorial_data`` failed because of write acces

[2022-01-12 10:34] uellue commented on #4009
@martinfleis @d-eggert sure! I had a quick look already. Looks very interesting, I just had a hard time to understand what exactly that is, how one uses it and with which other software it could be comparable. I'd be happy to help improve that, in particular with targeted questions. :-)

Since it seems to be related to web applications, my colleague @sk1p could also help with the review if that is

[2022-01-12 10:36] martinfleis commented on #4009
@whedon assign @uellue as reviewer

Thanks @uellue!

@sk1p would you be willing to take the reviewer's role as well?

[2022-01-12 10:36] whedon commented on #4009
OK, @uellue is now a reviewer

[2022-01-12 10:37] sk1p commented on #4009
Sure!

[2022-01-12 10:45] martinfleis commented on #4009
@whedon add @sk1p as reviewer

@sk1p Thank you!

I'll wait until Monday to give another reviewer a time to respond and formally start the review next week.

[2022-01-12 10:45] whedon commented on #4009
OK, @sk1p is now a reviewer

[2022-01-12 11:23] jbytecode commented on #3895
@whedon generate pdf

[2022-01-12 11:24] whedon commented on #3895
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: :point_left:

[2022-01-12 11:24] jbytecode commented on #3895
@whedon check references

[2022-01-12 11:24] whedon commented on #3895
[code]

[2022-01-12 11:52] jbytecode commented on #3895
Dear @csinva

- I have sent a PR, please check. If you are agreed with the changes, please apply.
- The table in manuscript is not referenced in the manuscript. Please check it, if it is possible, mention the table with its name in the text.
- Please ping me after and progress.

Thank you in advance.

[2022-01-12 12:03] cjwu commented on #4009
Hi @Martin,
I am happy to review this article.
Thanks.
CJ

On Wed, Jan 12, 2022 at 6:00 PM Martin Fleischmann ***@***.***>
wrote:

[2022-01-12 12:10] cjwu commented on #4009
Hi @martinfleis
I am happy to review this article.
Thanks.
CJ

[2022-01-12 12:21] martinfleis commented on #4009
@whedon add @cjwu as reviewer

[2022-01-12 12:21] whedon commented on #4009
OK, @cjwu is now a reviewer

[2022-01-12 12:22] martinfleis commented on #4009
@whedon start review

[2022-01-12 12:22] whedon opened #4052 "[REVIEW]: DASF: A data analytics software framework for distributed environments"
**Submitting author:** @d-eggert (<a href="http://orcid.org/0000-0003-0251-4390">Daniel Eggert</a>)
**Repository:** <a href="https://git.geomar.de/digital-earth/dasf/dasf-messaging-python" target ="_blank">https://git.geomar.de/digital-earth/dasf/dasf-messaging-python</a>
**Version:** v0.2.0
**Editor:** @martinfleis
**Reviewer:** @uellue, @sk1p, @cjwu
**Archive:** Pending

**:warning: JOSS reduced

[2022-01-12 12:22] whedon commented on #4009
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4052.

[2022-01-12 12:22] #4009 closed

[2022-01-12 12:22] whedon commented on #4052
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @uellue, @sk1p, @cjwu it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2022-01-12 12:22] whedon commented on #4052
[code]

[2022-01-12 12:22] whedon commented on #4052
PDF failed to compile for issue #4052 with the following error:
[code]

[2022-01-12 12:23] martinfleis commented on #4052
👋🏼 @d-eggert, @uellue, @sk1p, @cjwu this is the review thread for the paper. All of our communications will happen here from now on.

All reviewers have checklists at the top of this thread with the JOSS requirements. As you go over the submission, please check any items that you feel have been satisfied. There are also links to the JOSS reviewer guidelines.

The JOSS review is different from most

[2022-01-12 12:24] martinfleis commented on #4052
@whedon generate pdf from branch joss-submission

[2022-01-12 12:24] whedon commented on #4052
[code]

[2022-01-12 12:25] whedon commented on #4052
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04052/joss.04052/10.21105.joss.04052.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04052/joss.04052/10.21105.joss.04052.pdf) :page_facing_up: :point_left:

[2022-01-12 12:27] martinfleis commented on #4052
@uellue, @sk1p, @cjwu Please note, that this review should look at the whole DASF ecosystem composed of 4 packages stored at https://git.geomar.de/digital-earth/dasf, not just the `dasf-messaging-python` linked above. Thanks!

[2022-01-12 12:32] inpefess commented on #3849
@ian-bunner Happy New Year! Sorry for the remainder, but when will you have time for a review?

[2022-01-12 12:40] victorsacek commented on #3551
Hello @jedbrown

Thank you very much for your attention.

We modified the Makefile, changing the MPI variables for the test, as you suggested.

Additionally, in the Statement of need, we added one sentence explaining that one advantage of Mandyoc is the possibility to incorporate variable boundary conditions in space and time, appropriate to simulate different pulses of tectonism in one model run.

[2022-01-12 12:59] dfm commented on #3963
@mbobra: Thanks and no worries at all! We've just lined up our second reviewer so I'll get the review started. I'm happy for you to take over or to continue editing myself. No stress either way!

[2022-01-12 13:00] melissawm commented on #3915
Thanks, @Viech - @sfuxy gentle ping on this :)

[2022-01-12 13:00] dfm commented on #3963
@whedon add @samaloney as reviewer

Thanks Shane for agreeing to review!

I'm going to get the main review issue thread started and we'll move over there for the rest of the process. Please let me know if you have any questions as we go. Thanks all for agreeing to be involved!

[2022-01-12 13:00] whedon commented on #3963
OK, @samaloney is now a reviewer

[2022-01-12 13:01] dfm commented on #3963
@whedon start review

[2022-01-12 13:01] whedon opened #4053 "[REVIEW]: Kamodo: A functional api for space weather models and data"
**Submitting author:** @asherp (<a href="http://orcid.org/0000-0002-5718-1303">Asher Pembroke</a>)
**Repository:** https://github.com/EnsembleGovServices/kamodo-core
**Branch with paper.md** (empty if default branch):
**Version:** 22.6.0
**Editor:** @dfm
**Reviewers:** @dstansby, @samaloney
**Archive:** 10.5281/zenodo.6773395

**:warning: JOSS reduced service mode :warning:**

Due to the challenge

[2022-01-12 13:01] whedon commented on #3963
OK, I've started the review over in https://github.com/openjournals/joss-reviews/issues/4053.

[2022-01-12 13:01] #3963 closed

[2022-01-12 13:01] whedon commented on #4053
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dstansby, @samaloney it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2022-01-12 13:02] whedon commented on #4053
Wordcount for `paper.md` is 1439

[2022-01-12 13:02] whedon commented on #4053
[code]

[2022-01-12 13:02] whedon commented on #4053
[code]

[2022-01-12 13:02] whedon commented on #4053
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04053/joss.04053/10.21105.joss.04053.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04053/joss.04053/10.21105.joss.04053.pdf) :page_facing_up: :point_left:

[2022-01-12 13:03] dfm commented on #4053
@asherp, @dstansby, @samaloney – This is the review thread for the paper. All of our communications will happen here from now on. Thanks again for agreeing to participate!

Please read the "Reviewer instructions & questions" in the first comment above.

Both reviewers have checklists at the top of this thread (in that first comment) with the JOSS requirements. As you go over the submission, please

[2022-01-12 13:17] tomazbregar commented on #3399
Dear @kyleniemeyer, what is the next step in the revision of the joss submission? We updated the [documentation](https://pyfbs.readthedocs.io/en/documentation_fix/) of the package.

Sincerely,
Tomaž

[2022-01-12 13:41] CFGrote commented on #3905
@FredDeCeuster, just to make sure I'm not missing anything, are you still working on the API documentation or do you see it as ready for a (re-)review?

[2022-01-12 13:49] csinva commented on #3895
Thanks for making these changes @jbytecode! I've accepted them + added a reference to table 1 in the manuscript.

Best,
Chandan

[2022-01-12 13:50] jbytecode commented on #3895
@whedon generate pdf

[2022-01-12 13:51] whedon commented on #3895
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: :point_left:

[2022-01-12 14:02] crvernon commented on #3824
@acrlakshman - if you have finished your current review and are satisfied with the outcome, please check off your final box for `Substantial scholarly effort` and I'll move to conducting my portion of this process.  Thanks!

[2022-01-12 14:02] magedhelmy1 commented on #3431
Hi Benjamin, thanks for updating the paper.
It looks much better now.

I have now ticked the parts related to the paper.

- Reference
- Summary
- A statement of need
- State of the field
---------------------------
I have follow-up feedback/questions.
1. Functionality: Have the functional claims of the software been confirmed?

1.1 - I am finding it hard to follow the software's functionality from

[2022-01-12 14:14] fboehm commented on #4031
@whedon generate pdf

[2022-01-12 14:14] tbrown122387 commented on #3844
@perrydv all the details for an R package’s`CITATION` file would be ready shortly after publishing with JOSS

[2022-01-12 14:14] whedon commented on #4031
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.04031/joss.04031/10.21105.joss.04031.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.04031/joss.04031/10.21105.joss.04031.pdf) :page_facing_up: :point_left:

[2022-01-12 14:23] pdebuyl commented on #3337
I have a minor comment for the installation: when using pip, it seems that you need to pick a pygdal version that is of same "point release" (in `x.y.z` only `x` and `y` need to match) so that the recommended methods can lead to incomprehension from users. Of course, nowadays using pip for scientific packages is more of an expert choice unfortunately.

[2022-01-12 14:24] rkurchin commented on #3992
@justinshenk, would you like to address any/all of delve-team/delve#59 prior to concluding this review? A lot of the points there seem like fairly easy fixes...

[2022-01-12 14:25] fboehm commented on #4031
@GaryBAYLOR - here are a few minor edits needed for paper.md:

1. Line 29 (of the pdf): ggplot should be ggplot2. Also, be sure to typeset ggplot2 as you did the other package names.
2. Line 48 (of the pdf): "binning is it" should be "binning is that it"
3. line 94 (of the pdf): "better than it with" should be "better than that with"
4. Figure 2 (top left and top right) : Do you want to change the

[2022-01-12 14:42] fboehm commented on #4031
@GaryBAYLOR - The references section of the pdf needs a few edits:

1. In Eddelbuettel, et al., capitalize R and C (in C++).
2. in Benaglia, et al., capitalize R.
3. Korne, et al. has the wrong doi: use https://dx.doi.org/10.1128/mSphere.00218-21. The currently listed doi directs to the preprint.
4. Leisch (2004) needs a capital R. Also, the "m" in FlexMix needs to be capitalized.
5. Scrucca, et a

[2022-01-12 14:43] fboehm commented on #4031
All other doi's direct to the correct articles.

[2022-01-12 14:59] jbytecode commented on #3895
It seems the table is saved as a figure, however in fact, it is a table. Please design it as a table and give a header and caption then mention this table in text (e.g. In Table 1...)

[2022-01-12 15:01] klmedeiros commented on #3914
apologies for the delay all, but i'm finished with my review now. this is really awesome software, @chryswoods, that's well documented. i'm glad i got to review. cc @majensen

[2022-01-12 15:02] jbytecode commented on #3895
if you are not familiar with the table stuff in markdown, here is an example manuscript that uses tables: https://github.com/jbytecode/LinRegOutliers/tree/master/paper

[2022-01-12 15:13] csinva commented on #3895
Thanks for the link to the example manuscript! Just reformatted it as a markdown table.

[2022-01-12 15:19] whedon commented on #4051
OK, @yangbai90 is now a reviewer

[2022-01-12 15:19] timtroendle commented on #4051
@whedon remind @yangbai90 in 3 weeks

[2022-01-12 15:19] whedon commented on #4051
Reminder set for @yangbai90 in 3 weeks

[2022-01-12 15:20] jbytecode commented on #3895
@whedon generate pdf

[2022-01-12 15:21] whedon commented on #3895
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/openjournals/joss-papers/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/openjournals/joss-papers/blob/joss.03895/joss.03895/10.21105.joss.03895.pdf) :page_facing_up: :point_left:

[2022-01-12 15:21] timtroendle commented on #4000
Great. I've added you as a reviewer.

[2022-01-12 15:25] jbytecode commented on #3895
thank you for the changes.

- [ ] Please re-check the whole paper by means of both language and format (one more time).

- [ ] make a tagged release and archive (e.g. with [Zenodo](https://zenodo.org/)) as described [here](<https://joss.readthedocs.io/en/latest/submitting.html#the-review-process>), and report the version number and archive DOI in this thread. Please verify that the archive deposit

[2022-01-12 15:42] jbytecode commented on #3895
sorry, this archive is old. please create a tagged version and zenodo archive that includes the latest form of the both software and manuscript.

[2022-01-12 16:00] nicoguaro commented on #3980
Oh, I forgot that we have another branch for the review, sorry about that. The description is definitely much appropriate for a wider audience. The docs and the paper might benefit from being more explicit (and less technical?).

[2022-01-12 16:11] garrettj403 commented on #2688
@timtroendle yes, I can start the review in early February.

[2022-01-12 16:32] csinva commented on #3895
Gotcha, just updated the archive [here](https://zenodo.org/record/5841669#.Yd8B21jMLzc).

version: `v0.1.1`

DOI: `10.5281/zenodo.5834875`

[2022-01-12 16:37] vijaysm commented on #3959
@krober10nd My installation tries on my macbook have not been successful. The errors are related to OpenMP includes and I think you have already raised this issue. I haven't had the time to fully debug the issue.

I am also going to try on either a Fedora or an Ubuntu machine this week. I'll let you know how the installation proceeds. @samuel.burbulla

[2022-01-12 16:45] jbytecode commented on #3895
@whedon set v0.1.1 as version

[2022-01-12 16:45] whedon commented on #3895
OK. v0.1.1 is the version.

[2022-01-12 16:47] jbytecode commented on #3895
are you sure that you reported the correct archive? Please check.
Could it be `10.5281/zenodo.5841669` ?

[2022-01-12 16:52] csinva commented on #3895
Ah yes,

`10.5281/zenodo.5834875` is for all versions "This DOI represents all versions, and will always resolve to the latest one"

`10.5281/zenodo.5834876` is for this version specifically, not sure which one is preferred

[2022-01-12 16:53] jbytecode commented on #3895
@whedon set 10.5281/zenodo.5841669 as archive

[2022-01-12 16:53] whedon commented on #3895
OK. <a href="https://doi.org/10.5281/zenodo.5841669" target="_blank">10.5281/zenodo.5841669</a> is the archive.